[2019-04-22 10:31] hasebe commented on #13952
/language ja

[2019-04-22 11:26] danninov commented on #13929
I'm taking `Cloud Providers` of Cluster Administration (content/id/docs/concepts/cluster-administration)

[2019-04-22 11:26] ganeshhappysanz opened #13953 "Issue with k8s.io/docs/tutorials/kubernetes-basics/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-04-22 11:27] #13953 closed

[2019-04-22 12:50] girikuncoro commented on #13929
@remyleone cool thanks remy we'll try it out, probably automate this somehow

[2019-04-22 13:44] yyqqing opened #13956 "The folders and files in /content/zh/ and /content/en/ not synced"
**This is a Bug Report**

**Problem:**
The folders 'admin' and 'user-guide' under '/zh/docs/' should be removed.
**Proposed Solution:**
Sync folders and files in /zh/ and /en/

Kubernetes Version: release-1.12

Additional Information: same issuses in the master, release-1.13 and release-1.14 branches

[2019-04-22 13:57] yyqqing commented on #13956
/language zh

[2019-04-22 14:18] avidLearnerInProgress opened #13957 "Tracking Hindi localisation progress"
## Maintainers

-   [@Rajakavitha1](https://github.com/Rajakavitha1)
-   [@daminisatya](https://github.com/daminisatya)
-   [@mittalyashu](https://github.com/mittalyashu)
-   [@avidLearnerInProgress](https://github.com/avidLearnerInProgress)

## For New Contributors

Refer this spreadsheet for the most common and frequently used words that are required for localization:- [Hindi-language team gloss

[2019-04-22 15:32] zufardhiyaulhaq commented on #13929
I'm taking `Pod Overview` of Workloads (content/id/docs/concepts/workloads)

[2019-04-22 16:59] irvifa commented on #13929
@remyleone Cool.. thanks for your suggestions..

[2019-04-22 17:46] mittalyashu commented on #13957
This progress is super useful.

[2019-04-22 17:46] irvifa commented on #13929
I'll take `Services Networking` `Service.md`

[2019-04-22 18:06] avidLearnerInProgress opened #13960 "Localising docs/concepts/architecture directory in Hindi"
**What would you like to be added**
Files to localize:
- `index.md`
- `cloud-controller.md`
- `master-node-communication.md`
- `nodes.md`

**Comments**
Working on this! Opening PR soon.

[2019-04-22 18:16] mittalyashu commented on #13957
This PR https://github.com/kubernetes/website/pull/13910 is ready to get merged.

[2019-04-22 20:15] kbhawkey opened #13961 "kubectl reference does not contain -k flag"
**This is a Bug Report**

**Problem:**
- kubectl reference does not describe new -k flag for `apply` command.
- Was the kubectl reference updated for the 1.14 release?

**Proposed Solution:**
Update reference docs in k8s/k8s or just re-generate the kubectl reference docs?

See:
https://kubectl.docs.kubernetes.io/pages/app_management/apply.html
https://kubernetes.io/docs/tutorials/stateful-applicat

[2019-04-22 22:55] chenrui333 commented on #13745
Kicking off a slack discussion on this: https://kubernetes.slack.com/archives/CA1MMM1HU/p1555973690018400

[2019-04-23 00:47] jidroid404 commented on #13957
* Concepts landing @jidroid404 (#13922)

[2019-04-23 01:29] yehaifeng commented on #674
I got the same problem.
Because the system don't the 'vi', only have a alias for "alias vi='vim'" but does not work. And install the vi to fix.

[2019-04-23 02:03] sekannia commented on #13917
@Vageesha17 here is the url: https://kubernetes.io/docs/tasks/administer-cluster/ip-masq-agent/

[2019-04-23 04:15] saarques commented on #13957
This PR #13916 is ready to get merged.
This PR #13950 is ready to get merged.

[2019-04-23 04:20] saarques commented on #13957
This PR #13950 is ready to get merged for the issue #13947 .

[2019-04-23 05:03] shahamit2 opened #13964 "Issue with k8s.io/docs/concepts/workloads/controllers/deployment/"
**This is a Bug Report**

**Incorrect output of kubectl get deploy is shown in documentation:**
Actual Output: -
kubectl get deploy
NAME           READY   UP-TO-DATE   AVAILABLE   AGE
nginx-deploy   5/5     5            5           13m

Output in documentation: -
NAME               DESIRED   CURRENT   UP-TO-DATE   AVAILABLE   AGE
nginx-deployment   3         3         3            3           18s

[2019-04-23 05:27] sftim commented on #13924
Hi @rkemmoe

What should we fix in connection with https://kubernetes.io/docs/tutorials/configuration/configure-redis-using-configmap/?

[2019-04-23 06:15] DanyC97 commented on #13820
@Vageesha17 thank you for the fix
/close

[2019-04-23 06:15] #13820 closed

[2019-04-23 06:15] DanyC97 commented on #13964
/good-first-issue

[2019-04-23 06:16] DanyC97 commented on #13948
/language es

[2019-04-23 06:17] DanyC97 commented on #13957
/language hi

[2019-04-23 08:31] mittalyashu commented on #13957
/language hi

[2019-04-23 08:31] mittalyashu commented on #13957
OMG!!! We have added a hindi label.

[2019-04-23 08:39] DanyC97 commented on #13947
/language hi

[2019-04-23 08:39] DanyC97 commented on #13926
/language hi

[2019-04-23 08:40] DanyC97 commented on #13911
/language hi

[2019-04-23 08:40] DanyC97 commented on #13909
/language hi

[2019-04-23 08:41] DanyC97 commented on #13907
fixed
/close

[2019-04-23 08:41] #13907 closed

[2019-04-23 08:41] DanyC97 commented on #13914
/language hi

[2019-04-23 08:41] DanyC97 commented on #13913
/language hi

[2019-04-23 08:41] DanyC97 commented on #13919
/language hi

[2019-04-23 08:41] DanyC97 commented on #13922
/language hi

[2019-04-23 08:41] DanyC97 commented on #13960
/language hi

[2019-04-23 11:39] Rajakavitha1 commented on #13908
Hi @Rajesh0789!!!!  can you please provide a description of the issue that you faced. If this was an issue that you created inadvertently, request you to please mark it as closed.

[2019-04-23 12:06] girikuncoro commented on #13929
I'm taking Container Environment Variables, Container Lifecycle Hooks, Runtime Class of Containers (content/id/docs/concepts/containers) next

[2019-04-23 12:39] kbhawkey commented on #13961
@jimangel, can you confirm that the kubectl reference was updated for the 1.14 docs release?  Trying to track down reference changes.

[2019-04-23 13:39] nowjean opened #13971 "Translate /concept/overview/working-with-objects/field-selectors in korean"

[2019-04-23 13:40] flucrezia opened #13973 "Improvement for k8s.io/docs/setup/independent/control-plane-flags/"
How and when to use the ClusterConfiguration object when setting up a k8s cluster with kubeadm init ?

[2019-04-23 13:41] nowjean commented on #13971
/concepts/overview/working-with-objects/field-selectors/

[2019-04-23 13:41] nowjean commented on #13971
/assign
/language ko

[2019-04-23 13:46] nowjean opened #13974 "Translate /concepts/workloads/controllers/replicaset/ in korean"
**This is a Feature Request**

**What would you like to be added**

**Why is this needed**

**Comments**

[2019-04-23 13:49] nowjean commented on #13971
cancel this issue

[2019-04-23 13:49] #13971 closed

[2019-04-23 13:56] ClaudiaJKang commented on #13974
/language ko

[2019-04-23 14:07] ClaudiaJKang opened #13975 "ko-typo : tutorials/stateful-application/zookeeper.md"
**This is a Bug Report**

**Problem:**
[content/ko/docs/tutorials/stateful-application/zookeeper.md](https://github.com/kubernetes/website/blob/master/content/ko/docs/tutorials/stateful-application/zookeeper.md) file have typo.

Above of sentence, `피` is a typo.

**Proposed Solution:**

In [content/ko/docs/tutorials/stateful-application/zookeeper.md](https://github.com/kubernetes/website/blob/mast

[2019-04-23 14:07] ClaudiaJKang commented on #13975
/language ko

[2019-04-23 14:08] nowjean opened #13976 "Translate concepts/workloads/controllers/cron-jobs in korean"
**This is a Feature Request**

**What would you like to be added**

ko/docs/concepts/workloads/controllers/cron-jobs.md
**Why is this needed**

**Comments**

/assign

[2019-04-23 14:09] nowjean commented on #13976
/language ko

[2019-04-23 14:28] ClaudiaJKang opened #13977 "Outdated files in the dev-1.14-ko.3 branch"
**This is a Bug Report**

**Problem:**
Outdated files in the dev-1.14-ko.3 branch.

74 files in content/en are changed
16 files in content/ko are outdated

- [x]  [docs/concepts/_index.md](https://github.com/kubernetes/website/blob/dev-1.14-ko.3/content/ko/docs/concepts/_index.md) 1 file changed, 2 insertions(+), 2 deletions(-)
- [x]  [docs/concepts/architecture/cloud-controller.md](https://github

[2019-04-23 14:28] ClaudiaJKang commented on #13977
/language ko

[2019-04-23 14:38] neolit123 commented on #13973
the documentation in question is about the control plane components specifically.
the kubeadm init page:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#config-file

already links to this page:
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta1
where you can find details on how to use ClusterConfiguration from a file.

/close

[2019-04-23 14:38] #13973 closed

[2019-04-23 15:54] Chloe-H opened #13980 "Issue with k8s.io/docs/concepts/workloads/pods/pod-overview/"
Last paragraph in ["Pod Templates"](https://kubernetes.io/docs/concepts/workloads/pods/pod-overview/#pod-templates), under the sample pod template: "This is in deliberate contrast to pods" seems like a typo, since the previous sentence was discussing pods, and it doesn't make sense to me to talk about how pods differ from themselves.

[2019-04-23 18:53] adrazich opened #13984 "Docs Menu Vertical Scrolling"
**This is a Bug Report**

**Problem:**

The menu on the documentation page scrolls vertically on some pages, not all. For example: https://kubernetes.io/docs/tutorials/kubernetes-basics/explore/explore-intro/

![vertical-scrolling](https://user-images.githubusercontent.com/1614075/56608165-26cfba80-65d8-11e9-82ba-16a92c28afe7.gif)

**Proposed Solution:**

[code]

**Page to Update:**

https://kuber

[2019-04-23 19:59] femrtnz commented on #13940
Done on #13979

[2019-04-23 19:59] #13940 closed

[2019-04-23 21:22] imkin commented on #12324
Should this be based on the existing upgrade tests we have?

/assign

[2019-04-24 01:17] Tobiasll opened #13987 "Issue with k8s.io/zh/docs/home/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-04-24 02:20] chenrui333 opened #13989 "[Epic] Contributor cheatsheet localization"
Per today's SIG-Docs meeting, we want to localize the contributor cheatsheet.

The actual content in the below link:
https://github.com/kubernetes/community/tree/master/contributors/guide/contributor-cheatsheet

The translated content would be put into `community` repo as well.

[2019-04-24 02:21] chenrui333 opened #13990 "Localize contributor cheatsheet in Chinese"
Contributor cheatsheet content in the below link:
https://github.com/kubernetes/community/tree/master/contributors/guide/contributor-cheatsheet

[2019-04-24 02:22] chenrui333 commented on #13990
/kind feature
/language zh

[2019-04-24 02:23] chenrui333 commented on #13989
/kind feature

[2019-04-24 02:24] daminisatya commented on #13989
+1

[2019-04-24 02:24] chenrui333 opened #13991 "Localize contributor cheatsheet in Korean"
Contributor cheatsheet content in the below link:
https://github.com/kubernetes/community/tree/master/contributors/guide/contributor-cheatsheet

Translation result will needs to be put into the `community` repo as well.

/kind feature
/language ko

[2019-04-24 02:25] chenrui333 commented on #13991
/cc @kubernetes/sig-docs-ko-owners

[2019-04-24 02:26] chenrui333 opened #13992 "Localize contributor cheatsheet in Japanese"
Contributor cheatsheet content in the below link:
https://github.com/kubernetes/community/tree/master/contributors/guide/contributor-cheatsheet

Translation result will needs to be put into the `community` repo as well.

/kind feature
/language ja
/cc @kubernetes/sig-docs-ja-owners

[2019-04-24 02:27] chenrui333 opened #13993 "Localize contributor cheatsheet in German"
Contributor cheatsheet content in the below link:
https://github.com/kubernetes/community/tree/master/contributors/guide/contributor-cheatsheet

/kind feature
/language de
/cc @kubernetes/sig-docs-de-owners

[2019-04-24 02:29] chenrui333 opened #13994 "Localize contributor cheatsheet in Spanish"
Contributor cheatsheet content in the below link:
https://github.com/kubernetes/community/tree/master/contributors/guide/contributor-cheatsheet

Translation result will needs to be put into the `community` repo as well.

/kind feature
/language es
/cc @kubernetes/sig-docs-es-owners

[2019-04-24 02:29] chenrui333 opened #13995 "Localize contributor cheatsheet in French"
Contributor cheatsheet content in the below link:
https://github.com/kubernetes/community/tree/master/contributors/guide/contributor-cheatsheet

Translation result will needs to be put into the `community` repo as well.

/kind feature
/language fr
/cc @kubernetes/sig-docs-fr-owners

[2019-04-24 02:30] zacharysarah commented on #13904
/cc @steveperry-53

[2019-04-24 02:30] chenrui333 opened #13996 "Localize contributor cheatsheet in Indonesian"
Contributor cheatsheet content in the below link:
https://github.com/kubernetes/community/tree/master/contributors/guide/contributor-cheatsheet

Translation result will needs to be put into the `community` repo as well.

/kind feature
/language id
/cc @kubernetes/sig-docs-id-owners

[2019-04-24 02:32] chenrui333 opened #13997 "Localize contributor cheatsheet in Portuguese"
Contributor cheatsheet content in the below link:
https://github.com/kubernetes/community/tree/master/contributors/guide/contributor-cheatsheet

Translation result will needs to be put into the `community` repo as well.

/kind feature
/language pt
/cc @kubernetes/sig-docs-pt-owners

[2019-04-24 02:36] chenrui333 opened #13998 "Localize contributor cheatsheet in Italian"
Contributor cheatsheet content in the below link:
https://github.com/kubernetes/community/tree/master/contributors/guide/contributor-cheatsheet

Translation result will needs to be put into the `community` repo as well.

/kind feature
/language it
/cc @kubernetes/sig-docs-it-owners

[2019-04-24 02:36] chenrui333 commented on #13989
Per-language task issues were created:
- Chinese: #13990
- Korean: #13991
- Japanese: #13992
- German: #13993
- Spanish: #13994
- French: #13995
- Indonesian: #13996
- Portuguese: #13997
- Italian: #13998

/cc @zacharysarah

[2019-04-24 02:46] zacharysarah commented on #13989
/cc @mrbobbytables

[2019-04-24 02:47] mrbobbytables commented on #13989
Wonderful, thank you so much! \o/

[2019-04-24 02:59] zhangqx2010 commented on #13990
I will do the zh trans for this.

[2019-04-24 03:14] chenrui333 commented on #13990
The file would be in the `community` repo.

[2019-04-24 03:15] daminisatya commented on #13984
@adrazich This is a great find!! Would you like to fix it? 😄

[2019-04-24 03:17] daminisatya commented on #13984
/kind bug

[2019-04-24 03:18] daminisatya commented on #13961
/kind bug

[2019-04-24 03:20] zhangqx2010 commented on #13990
Or we just create a simple page links to the community page? Thus we don't need to update the both page later.

[2019-04-24 03:31] Vageesha17 commented on #13964
I would like to solve this issue as it would be a good start but @shahamit2 can you please provide the exact URL of the page where the changed are required.

[2019-04-24 04:05] zufardhiyaulhaq commented on #13929
I'm taking `Connect Applications Service` of `Services Networking (content/id/docs/concepts/services-networking)`

[2019-04-24 04:06] daminisatya commented on #13862
/kind bug

[2019-04-24 04:14] daminisatya commented on #13772
/good first issue

[2019-04-24 04:15] daminisatya commented on #13772
/good-first-issue

[2019-04-24 04:30] daminisatya commented on #13672
@Gaurav-Punjabi Thank you for finding the bug ✨ Would you like to open a PR for this?

[2019-04-24 04:30] daminisatya commented on #13672
/good-first-issue

[2019-04-24 04:32] avidLearnerInProgress opened #14001 "Localize contributor cheatsheet in Hindi"
**What would you like to be added**
Contributor cheatsheet content:
https://github.com/kubernetes/community/tree/master/contributors/guide/contributor-cheatsheet

**Comments**
Working on PR #14001

[2019-04-24 04:32] daminisatya commented on #13660
@rahulkrishnanfs Can you close the issue if this is fixed?

[2019-04-24 04:32] avidLearnerInProgress commented on #14001
/language hi

[2019-04-24 04:33] daminisatya commented on #13656
@Vageesha17 Can you close the issue if this is fixed?

[2019-04-24 04:33] daminisatya commented on #13653
@rajeshdeshpande02 Can you close the issue if you this is fixed?

[2019-04-24 04:34] daminisatya commented on #13660
/close

[2019-04-24 04:34] #13660 closed

[2019-04-24 04:35] daminisatya commented on #13651
@SupriyaSirbi Is this good to close?

[2019-04-24 04:37] daminisatya commented on #13637
/close

[2019-04-24 04:37] #13637 closed

[2019-04-24 04:38] NickWilton commented on #13651
Yes. Good to close.

-Nick

[2019-04-24 04:39] daminisatya commented on #13582
@Shappenny Would you like to open a PR for this?

[2019-04-24 04:40] daminisatya commented on #13577
@cody-clark Is this issue still in progress?

[2019-04-24 04:42] daminisatya commented on #13651
/close

[2019-04-24 04:42] #13651 closed

[2019-04-24 04:43] daminisatya commented on #13506
/close

[2019-04-24 04:43] #13506 closed

[2019-04-24 04:45] daminisatya commented on #13441
/close

[2019-04-24 04:45] #13441 closed

[2019-04-24 04:46] daminisatya commented on #13419
/close

[2019-04-24 04:46] #13419 closed

[2019-04-24 04:47] daminisatya commented on #13394
@tengqm Is this issue good to close?

[2019-04-24 05:15] avidLearnerInProgress commented on #14001
/kind feature
/cc @kubernetes/sig-docs-it-owners

[2019-04-24 05:25] Gaurav-Punjabi commented on #13672
Yeah sure. I'll fix the issue.

[2019-04-24 05:28] kumarlakshman opened #14003 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-service-account/"
projected:
      sources:
      - serviceAccountToken:

The projected volume is not have serviceAccountToken in sources and throw error while creating the pod with it.

[2019-04-24 06:09] femrtnz commented on #13997
Hi @chenrui333
Does the translation needs to be in the same folder?
e.g:  https://github.com/kubernetes/community/tree/master/contributors/guide/contributor-cheatsheet/README-pt.md

Thanks

[2019-04-24 06:43] palnabarun commented on #13772
@daminisatya Can I take this up?

I see that the source code for the page mentioned above is present [here](https://github.com/kubernetes/website/blob/master/content/en/docs/tutorials/kubernetes-basics/explore/explore-interactive.html), but on further investigation I figured that what we need to change here is the Katacoda scenario itself.

Please let me know where can I find the source for the Ka

[2019-04-24 07:06] palnabarun commented on #13391
I think you are specifying both `name` and `label selector`. `kubectl` does not allow you to get resources while specifying both name and a selector string.

Let's take an example, by creating a deployment with image `nginx` and labels `app=nginx,env=dev`

[code]

I hope this clears your doubt.

[2019-04-24 07:56] anastassia-b commented on #13984
Happened upon this issue and looked around for the source of the css discrepancy between pages.

**What pages show the discrepancy?**
This internal scrolling appears on the `vendorStrip` of all pages under `/docs/tutorials/kubernetes-basics/*`.

**What style is causing the scrolling?**
Unlike the other pages, this strip has the css property `margin-bottom: 10px` on the `ul, ol` elements:

<img wid

[2019-04-24 08:47] DanyC97 commented on #13862
@Vageesha17 i see your PR #13875 was merged. Were you planning to create more PRs as part of this issue ?

[2019-04-24 08:49] DanyC97 commented on #13987
@Tobiasll can you please add a problem description otherwise in absence of it we'll need to close it.

/language zh

[2019-04-24 08:51] DanyC97 commented on #13908
/triage needs-information

[2019-04-24 08:53] DanyC97 commented on #13917
thank you @sekannia for opening this issue.
/language en
/good-first-issue

[2019-04-24 08:56] DanyC97 commented on #13928
/language en

[2019-04-24 08:56] DanyC97 commented on #13892
/language en

[2019-04-24 08:56] gochist opened #14008 "Approval permission to l10n teams for specific files at root level/outside content path"
**This is a Feature Request**
**What would you like to be added**
Add approval permission to localization teams for specific files at root level, outside content path:
- i18n/\<LANG>.toml
- README-\<LANG>.md

**Why is this needed**
Those files (for example, `README-ko.md` and `i18n/ko.toml`) are hard to get reviewed or approved by `sig-docs-en-owners`.

Related PRs: #12875 #12878 #13951

**Comment

[2019-04-24 08:57] DanyC97 commented on #13884
/language en

[2019-04-24 09:06] DanyC97 commented on #13391
/triage support

[2019-04-24 09:07] DanyC97 commented on #13420
/triage support

[2019-04-24 10:20] tripathideepesh opened #14010 "core-dns pod going in crashloopbackoff status ubuntu 18.04"
**This is a Bug Report**

core-dns pod is going in CrashloopBackOff status after kubeadm init

**Problem:**
core-dns pod is going in CrashloopBackOff status after kubeadm init

I have created k8s cluster using below command
sudo kubeadm init --pod-network-cidr=10.244.0.0/16 --apiserver-advertise-address=192.168.56.102 --service-cidr=10.244.240.0/20

post that created flannet virtual pod network
ku

[2019-04-24 10:30] qoricode opened #14011 "Issue with k8s.io/docs/tutorials/services/source-ip/"
**This is a Bug Report**

wget on busybox (v1.30.1) doesn't support the command line options shown in this article.

# wget -q0 - 10.104.64.230
wget: invalid option -- 0
BusyBox v1.30.1 (2019-04-02 04:31:11 UTC) multi-call binary.

Usage: wget [-c|--continue] [--spider] [-q|--quiet] [-O|--output-document FILE]
        [--header 'header: value'] [-Y|--proxy on/off] [-P DIR]
        [-S|--server-res

[2019-04-24 10:31] idvoretskyi commented on #13989
+1

[2019-04-24 10:32] qoricode commented on #14011
Sorry - my error it's -qO (oh) not -q0 (zero)

[2019-04-24 10:32] #14011 closed

[2019-04-24 10:40] bigfootlviv commented on #13989
+1

[2019-04-24 11:18] qoricode opened #14012 "Issue with k8s.io/docs/tutorials/services/source-ip/"
**This is a Bug Report**

**Problem:**

The method described to get the cluster node(s) IP addresses didn't work on my k8s setup which is minikube:

[code]

It worked when I modified it to:
[code]

**Proposed Solution:**

Advise to use "InternalIP" in jsonpath expression if using minikube

**Page to Update:**
https://kubernetes.io/...

[2019-04-24 11:29] sftim commented on #12810
This looks resolved. Is that right?

[2019-04-24 11:29] daminisatya commented on #13772
@palnabarun Sure! 😄 Feel free to open a PR!

[2019-04-24 11:29] daminisatya commented on #13772
Let me check!

[2019-04-24 11:30] daminisatya commented on #12810
Yes true!! Let me close it!

/close

[2019-04-24 11:30] #12810 closed

[2019-04-24 12:13] chenrui333 commented on #14001
`@kubernetes/sig-docs-it-owners` it is the Italian team, somehow I did not see the Hindi team.

[2019-04-24 12:15] kbhawkey commented on #13961
/assign

[2019-04-24 12:17] kbhawkey commented on #13961
Note: I am investigating the generation and instructions to generate.

[2019-04-24 12:36] asif-malek opened #14016 "Issue with k8s.io/docs/tutorials/hello-minikube/"
**This is a Bug Report**

minikube dashboard command is not working propertly.
Output of execution of the command:
$ minikube dashboard
-   Enabling dashboard ...
-   Verifying dashboard health ...
-   Launching proxy ...
-   Verifying proxy health ...
-   Opening http://127.0.0.1:42279/api/v1/namespaces/kube-system/services/http:kubernetes-dashboard:/proxy/ in your default browser...
X   failed t

[2019-04-24 12:52] emailtovamos opened #14017 "Improvement for k8s.io/docs/tasks/access-application-cluster/connecting-frontend-backend/"
Where is the code-base for the backend?
I am trying to have my html frontend which runs on nginx to access a Kubernetes service following the steps but havent been successful. The code base might help

[2019-04-24 13:15] thecrudge commented on #10226
/good-first-issue

[2019-04-24 13:19] thecrudge commented on #10226
/remove-good-first-issue

[2019-04-24 14:08] dev1983 opened #14019 "Issue with k8s.io/docs/reference/command-line-tools-reference/kube-apiserver/"
**This is a Bug Report**

Getting below error when applying or editing apiserver.yaml using kube-apiserver command, please tell why ?

**Problem:**
error: failed to create listener: failed to listen on 0.0.0.0:6443: listen tcp 0.0.0.0:6443: bind: address already in use
**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

1.14.1

[2019-04-24 14:34] cstoku commented on #13885
/close

[2019-04-24 14:34] #13885 closed

[2019-04-24 14:36] cstoku commented on #13386
/close

[2019-04-24 14:36] #13386 closed

[2019-04-24 14:49] cstoku opened #14021 "Translate includes/task-tutorial-prereqs.md in Japanese"
**This is a...**

* [x]  Feature Request
* [ ]  Bug Report

**Problem:**
No `includes/task-tutorial-prereqs.md` in Japanese.

**Proposed Solution:**
Translate and update `includes/task-tutorial-prereqs.md` in Japanese.

**Page to Update:**
eg. https://kubernetes.io/docs/tasks/access-application-cluster/service-access-application-cluster/
related #13701 #13668

[2019-04-24 14:49] cstoku commented on #14021
/language ja
/milestone 1.14-ja.1

[2019-04-24 14:52] cstoku opened #14022 "Translate includes/default-storage-class-prereqs.md in Japanese"
**This is a...**

* [x]  Feature Request
* [ ]  Bug Report

**Problem:**
No `includes/default-storage-class-prereqs.md` in Japanese.

**Proposed Solution:**
Translate and update `includes/default-storage-class-prereqs.md` in Japanese.

**Page to Update:**
eg. https://kubernetes.io/docs/tasks/run-application/run-single-instance-stateful-application/
related #13668

[2019-04-24 14:52] cstoku commented on #14022
/language ja
/milestone 1.14-ja.1

[2019-04-24 15:56] neolit123 commented on #14010
if you have tried this already i don't have other suggestions for now.
that usually fixes it for users.

/sig cluster-lifecycle

[2019-04-24 16:22] chrisohaver commented on #14010
This issue should probably not be in `kubernetes/website`... anyways...

What does your CoreDNS Corefile look like?

The CoreDNS log ...
[code]

... says that CoreDNS is getting shut down by something (kubernetes).  So next step is to find out why k8s is doing that.  This can happen when the Deployment fails health probes to CoreDNS.

Can you show us output of `kubectl describe pod coredns-fb8b8dc

[2019-04-24 17:04] thecrudge commented on #10917
This can be /close

Unable to reproduce @DanyC97 @jimangel @zacharysarah

[2019-04-24 17:40] #13852 closed

[2019-04-24 17:41] #13933 closed

[2019-04-24 18:26] jimangel commented on #13961
Hey @kbhawkey, sorry I'm late to the party; a great spot to track the summary of 1.14 reference docs is in this open issue: https://github.com/kubernetes/website/issues/13396 which links to the PRs I tested and the PRs merged that @tengqm did: https://github.com/kubernetes/website/pull/13444 - I see the kubectl bits in there, I wonder if it was a timing issue too...

One thing to consider for `kub

[2019-04-24 20:52] kbhawkey commented on #13961
Hi, @jimangel. I'll look at the open issues for 1.14. I have not been following along.
This issue was reported as the ref did not seem to contain the latest 1.14 changes for apply. I decided to try and re-generate the doc; the gen instructions have gone astray. I documented the changes I made. Totally agree that there are known gen issues/pain points. I would support having the reference generated

[2019-04-24 23:16] avidLearnerInProgress commented on #14001
We will form one soon!

[2019-04-25 00:03] qbl commented on #13929
I've sent PR for Declarative Config of Overview (content/id/docs/concepts/overview). I'm taking Imperative Command of Overview (content/id/docs/concepts/overview) next.

[2019-04-25 02:32] gjanders opened #14031 "Issue with k8s.io/docs/tutorials/configuration/configure-redis-using-configmap/"
On this particular page the `kubectl apply -k .` does not work, should it be `kubectl apply -f .` ?

Even when using this the validation fails and nothing is created...

[2019-04-25 02:39] #13932 closed

[2019-04-25 06:14] tripathideepesh commented on #14010
@chrisohaver

Below is the o/p of command sudo kubectl describe pods coredns-fb8b8dccf-82xzz -n=kube-system
============================================================
test-vm@kubernetes-master:~$ sudo kubectl describe pods coredns-fb8b8dccf-82xzz -n=kube-system
Name:               coredns-fb8b8dccf-82xzz
Namespace:          kube-system
Priority:           2000000000
PriorityClassName:  system-cl

[2019-04-25 08:19] domq opened #14038 "Issue with k8s.io/docs/tutorials/kubernetes-basics/update/update-interactive/"
On Module 6, Step 2 of the KataKoda exercise, `curl $(minikube ip):$NODE_PORT` does not work because the service is deployed on a different IP than `minikube ip`. Please replace with

[code]

[2019-04-25 08:39] DanyC97 commented on #10917
/close

thank you @thecrudge for providing feedback

[2019-04-25 08:39] #10917 closed

[2019-04-25 11:04] #10108 closed

[2019-04-25 12:31] zhangqx2010 commented on #14038
/good-first-issue

[2019-04-25 14:46] hasebe opened #14042 "Translate concepts/overview/working-with-objects/names.md into Japanese"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**
No `concepts/overview/working-with-objects/names.md` in Japanese.

**Proposed Solution:**
Copy a file from en contents to `content/ja/docs/concepts/overview/working-with-objects/names.md` and translate it into Japanese.

**Page to Update:**
https://kubernetes.io/ja/docs/concepts/overview/working-with-objects/names/

[2019-04-25 14:47] hasebe commented on #14042
/language ja

[2019-04-25 15:05] Lycrosa opened #14043 "Improvement for k8s.io/docs/tasks/tls/managing-tls-in-a-cluster/"
I  am trying to add a self singed certificate to the cluster, so that the pods trust this certificate.

The scenario is the following. I have an API on an IIS that is using a self signed certificate for SSL. A Pod in my Cluster has to send a request to the api and needs to trust its certificate in order to make a successfull request.

I have been searching for an answer for days, yet haven't find

[2019-04-25 16:23] hasebe opened #14044 "Translate concepts/overview/components.md into Japanese"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**
No `concepts/overview/components.md` in Japanese.

**Proposed Solution:**
Copy a file from en contents to `content/ja/docs/concepts/overview/components.md` and translate it into Japanese.

**Page to Update:**
https://kubernetes.io/ja/docs/concepts/overview/components/

[2019-04-25 16:23] hasebe commented on #14044
/language ja

[2019-04-25 16:59] remyleone commented on #13995
How should it work? Where should we put the content. It doesn't seem like the community repository is a hugo website so I'm not sure about where to put the files.

[2019-04-25 17:01] remyleone commented on #13989
How is localization managed inside the community repository? It is not a hugo website so I am not sure about how the different languages are managed there.

[2019-04-25 17:21] mrbobbytables commented on #13989
For this specifically it would probably be best to mimic the format used in the root of the website repo. Within the contributor-cheatsheet directory add a `README-<ISO 639-1 lang code>.md`. We can then update the welcome message bot to include links to the translated copies 😄

[2019-04-25 17:28] kakts opened #14045 "Translate concepts/overview/working-with-objects/namespaces/ in Japanese"
**This is a Feature Request**

**Problem:**
No concepts/overview/working-with-objects/namespaces.md in Japanese.

**Proposed Solution:**
Copy a file from en contents to content/ja/docs/concepts/overview/working-with-objects/namespaces.md and translate it into Japanese.

**Page to Update:**
https://kubernetes.io/ja/docs/concepts/overview/working-with-objects/namespaces/

[2019-04-25 17:29] kakts commented on #14045
/language ja

[2019-04-25 20:31] palnabarun commented on #14038
Can I take this up?

@zhangqx2010 Can you please point me to the source code of the katacoda scenarios?

[2019-04-25 20:39] palnabarun commented on #13980
I think the comparison is being drawn between "Pods created by Replication Controllers" and "Pods created by Pod Templates". But, I do believe that the explanation is slightly confusing and can be improved upon.

[2019-04-25 20:48] palnabarun commented on #13772
@daminisatya Any luck with that? :)

[2019-04-25 23:43] zacharysarah commented on #13989
@chenrui333 👋 Thanks for opening this.

For English, I'd like this issue to include adding a section to [this page](https://kubernetes.io/docs/contribute/#ways-to-contribute), below Ways to Contribute:

[code]

Other localizations can include that section with a link to their localization-specific cheatsheet.

[2019-04-26 00:43] zacharysarah opened #14048 "Add localization approvers to i18n/"
# This is a Feature Request

## What would you like to be added?

1. Add the following block to `/OWNERS_ALIASES`.

Be sure to preserve whitespace and alphabetical order of groups.
[code]

2. Add a new file: `/i18n/OWNERS`.

Populate it with these contents:
[code]

## Why is this needed?

To enable localization teams to approve changes to localized content in `/i18n/`.

## Comments

See https://gi

[2019-04-26 00:46] zacharysarah commented on #14048
/good-first-issue

If you decide to open a PR for this, be prepared to receive a lot of feedback from localization owners.

[2019-04-26 02:34] zhangqx2010 commented on #14038
/remove-good-first-issue
@palnabarun Thanks for you help.
Sorry for the wrong information. This is out of scope. My bad. I am trying to contact relative person to fix it.

[2019-04-26 03:14] zhangqx2010 commented on #14038
@domq
I retried on the lab but it seems work. Output like:
[code]
Could you please provide more detail how to reproduce the issue?

[2019-04-26 04:01] chenrui333 commented on #13989
@zacharysarah
I see your point, I will file a PR now.

[2019-04-26 04:18] zacharysarah commented on #14008
@gochist Sorry I missed this issue—I opened #14048 too.

[2019-04-26 04:33] tripathideepesh commented on #14010
I also found that kubelet is not using /etc/resolv.conf but ubutu's systemd-resolved /run/systemd/resolve/resolv.conf file --due to this problem can happen ?

if yes how to start kubelet with /etc/resolv.conf?. I tried changing /var/lib/kubelet/kubeadm.env file with ---resolv.conf to /etc/resolv.conf but that too did not help..?

how can we start kubelet with --resolv-conf = /etc/resolv.conf setti

[2019-04-26 06:20] Vageesha17 commented on #13656
close #13764

[2019-04-26 06:27] daminisatya commented on #13656
/close

[2019-04-26 06:27] #13656 closed

[2019-04-26 07:10] #13760 closed

[2019-04-26 07:14] zgfh opened #14053 "which mode of cgroup is we recommend? cgroupfs or systemd?"
**This is a Bug Report**

The following two documents make me confused.
 https://kubernetes.io/docs/setup/cri/

![image](https://user-images.githubusercontent.com/11729624/56789923-b45c1600-6835-11e9-8b5b-cc81c6ffd339.png)

https://kubernetes.io/docs/setup/independent/install-kubeadm/
![image](https://user-images.githubusercontent.com/11729624/56790002-ea999580-6835-11e9-8397-c80fa8b3e869.png)

wh

[2019-04-26 08:22] JinHeeHyun opened #14054 "Issue with k8s.io/docs/tutorials/kubernetes-basics/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-04-26 11:26] #13738 closed

[2019-04-26 11:37] nelvadas commented on #13964
hi @Vageesha17  the page to edit is
content/en/docs/concepts/workloads/controllers/deployment.md
Thanks for your contribution

[2019-04-26 12:29] #11356 closed

[2019-04-26 13:48] gochist commented on #14008
@zacharysarah No problem. `README-<LANG>.md` is remaining. I'm not sure that the prow supports file level filtering.

[2019-04-26 13:58] Alisd96 opened #14056 "Issue with k8s.io/docs/tasks/administer-cluster/configure-multiple-schedulers/"
I have deploying a custom scheduler after following instructions step by step like mentioned in Kubernetes Docs

Here's [a link] (https://kubernetes.io/docs/tasks/administer-cluster/configure-multiple-schedulers/)

Pods I specify should be scheduled using scheduler "my-scheduler" leaves in Pending state while "my-scheduler" pod is Running state..

Kubectl version : -Client: v1.14.1 -Server: v1.14.

[2019-04-26 14:41] chrisohaver commented on #14010
@tripathideepesh, your comments are very hard to read...  looks like you are just pasting raw output from a command line into github, and github is interpreting it as markdown markup, and the output of the command line is running together with your questions.  Please enclose log output and command lien output in 3 backticks (```) or 3 tildes (~~~) ...

[2019-04-26 15:05] rajansandeep commented on #14010
@tripathideepesh

From your logs above, it seems like your node is tainted. Follow the steps [here](https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#control-plane-node-isolation) and CoreDNS pods should be deployed.

If you have further questions, please open another issue in the kubernetes/kubeadm repo. (This is the wrong repo to open this issue)

/close

[2019-04-26 15:05] #14010 closed

[2019-04-26 16:34] JonathanWilbur opened #14057 "Show iptables -L output"
**This is a Feature Request**

**What would you like to be added**

Add the output of the `iptables -L` command as run on nodes throughout parts of the documentation that explain networking.

**Why is this needed**

It was very difficult to understand how services work from the documentation alone; I had to look at `iptables -L` myself to get it.

[2019-04-26 17:44] thecrudge commented on #12149
/close

This issue is resolved

[2019-04-26 17:44] #12149 closed

[2019-04-26 17:44] neolit123 commented on #14053
please use `systemd` as recommended in the CRI installation steps.
thanks

/close

[2019-04-26 17:44] #14053 closed

[2019-04-26 17:55] thecrudge commented on #12078
/cc @cody-clark @hogepodge @Bradamant3

From what I can see this page has been updated with relevant information. Please confirm we can close this issue.

[2019-04-26 17:57] mittalyashu commented on #14001
Hey @avidLearnerInProgress,

What's the process of adding cheatsheet? I can also tag along.

[2019-04-26 18:03] thecrudge commented on #12082
@steveperry-53 Can you please provide an update on this issue?

[2019-04-26 18:07] thecrudge commented on #12075
/close

Issue is without reference, and looking at OPs github, they've obviously made it past whatever issue they were experiencing.

[2019-04-26 18:07] #12075 closed

[2019-04-26 18:10] thecrudge commented on #12186
/close

Not only is there absolutely no information on this issue, it looks like whatever issue (possibly broken link?) has been corrected and merged to master.

[2019-04-26 18:10] #12186 closed

[2019-04-26 18:28] thecrudge commented on #12254
PR #14058

[2019-04-26 18:55] avidLearnerInProgress commented on #14001
Sure why not. Lets collaborate!

[2019-04-26 19:01] steveperry-53 commented on #12082
Let's keep this open. I haven't had much time lately, but dtornow@, chenopis@, and I are still planning to do this.

[2019-04-26 19:13] avidLearnerInProgress commented on #14001
Sure, why not. I have already started localising the cheatsheet. But you can surely hop in.!

[2019-04-26 19:50] thecrudge commented on #12148
/close

The reference to kubectl config view is already there

[2019-04-26 19:50] #12148 closed

[2019-04-26 19:51] thecrudge commented on #12254
PR #14059

/close

[2019-04-26 19:52] thecrudge commented on #12254
/close

[2019-04-26 19:55] thecrudge commented on #12330
/good-first-issue

[2019-04-26 20:05] thecrudge commented on #12335
Not an issue with the documentation. I just literally copy and pasted the commands -

result:

Installed:
  kubectl.x86_64 0:1.14.1-0

/close

[2019-04-26 20:06] thecrudge commented on #12335
/assign @jimangel

Please review and close

[2019-04-26 20:31] parispittman opened #14061 "kubernetes.io/community communication block add"
wanted to see if we could get a box for slack next to the rest in the communications area

copy something like "chat with over 70,000 community members in over 200 channels"
pointing to slack.k8s.io

<img width="1058" alt="Screen Shot 2019-04-26 at 1 29 43 PM" src="https://user-images.githubusercontent.com/5912992/56834872-8079f400-6827-11e9-84c2-3935c1f0a1b8.png">

[2019-04-26 20:31] parispittman commented on #14061
/assign @alexcontini

[2019-04-26 20:32] parispittman commented on #14061
alex, I will sponsor you if you need org membership :)

[2019-04-26 23:19] sygibson opened #14062 "Fix KRIB Docs with updated software install links."
**This is a Bug Report**
**Problem:**

Documentation for `on-premsis-metal/krib` refers to out of date components in the install guide.

**Proposed Solution:**

Update documentation to reference processes that don't have changing versions that may be stale quickly.  An example, instead of referencing the currently outdated Certs plugin as such:

https://s3-us-west-2.amazonaws.com/rebar-catalog/cer

[2019-04-26 23:29] zehicle commented on #14062
I have an update that addresses this question using a new DRP feature.  Thank you for submitting it.

[2019-04-27 00:06] qbl commented on #13929
I've sent [PR](https://github.com/kubernetes/website/pull/14064) for Imperative Command of Overview (content/id/docs/concepts/overview). I'm taking Imperative Config (content/id/docs/concepts/overview) next.

[2019-04-27 02:00] hasebe opened #14068 "Translate docs/home/_index.md into Japanese"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**
`docs/home/_index.md` is not up-to-date.

**Proposed Solution:**
Copy a latest file in English to `content/ja/docs/home/_index.md` and translate it into Japanese.

**Page to Update:**
https://kubernetes.io/ja/docs/home/

[2019-04-27 02:17] hasebe commented on #14068
/language ja

[2019-04-27 03:19] mittalyashu commented on #14001
Have you created any PR for the same?

Will start work on that.

[2019-04-27 06:56] mittalyashu commented on #13957
Can you update the description, with the information that every new contribution should start with a new branch from `master`?

[2019-04-27 07:04] mittalyashu commented on #13957
I am working on the Landing page https://github.com/kubernetes/website/pull/14069

@saarques is working on the partner's page https://github.com/kubernetes/website/pull/13916

[2019-04-27 07:19] avidLearnerInProgress commented on #13957
Sure, I will!

[2019-04-27 07:21] avidLearnerInProgress opened #14070 "Localise toml configuration file in i18n to Hindi"
**This is a Feature Request**

**What would you like to be added**
Creating https://github.com/kubernetes/website/tree/master/i18n/hi.toml

**Why is this needed**
Add Hindi language option.

**Comments**
Working on PR

This issue is closed by #14071

[2019-04-27 07:25] avidLearnerInProgress commented on #14070
/language hi

[2019-04-27 13:54] #11375 closed

[2019-04-27 21:01] #11362 closed

[2019-04-27 22:20] Sai-Adarsh opened #14073 "Redundant scroll bar in header nav under Documentation tab"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
* Navigate from the home page of the website to Documentation which will land you over here.

![ww](https://user-images.githubusercontent.com/21096774/56855632-fe451900-6967-11e9-8aab-0c22c82ebb1a.jpg)

* Checked this with some Chrome, Mozilla browsers. It is seen that some of the browsers displays a scrollbar for the navigatio

[2019-04-28 06:26] gjanders commented on #14031
I later found that minikube has kubernetes version 1.14 but kubectl 1.13 which is causing this confusion.
The current online playgrounds both appear to have this issue...

Therefore it is a little bit confusing but not technically an issue, the documentation

[2019-04-28 06:26] #14031 closed

[2019-04-28 07:11] #10160 closed

[2019-04-28 09:42] zufardhiyaulhaq commented on #13929
I've sent [PR](https://github.com/kubernetes/website/pull/14079) for Connecting Applications with Services  (content/id/docs/concepts/workloads). I'm taking Namespaces (content/id/docs/concepts/overview) next.

[2019-04-28 10:17] ensonic commented on #2268
I give up.

[2019-04-28 13:36] ClaudiaJKang commented on #13975
/close

[2019-04-28 13:36] #13975 closed

[2019-04-28 14:26] hasebe opened #14088 "Translate concepts/overview/kubernetes-api.md into Japanese"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**
No `concepts/overview/kubernetes-api.md` in Japanese.

**Proposed Solution:**
Copy a file from en contents to `content/ja/docs/concepts/overview/kubernetes-api.md` and translate it into Japanese.

**Page to Update:**
https://kubernetes.io/ja/docs/concepts/overview/kubernetes-api/

[2019-04-28 14:26] hasebe commented on #14088
/language ja

[2019-04-28 18:42] DanyC97 commented on #11522
/remove-lifecycle rotten

[2019-04-28 18:44] DanyC97 commented on #14057
you have any pages in mind which should add this info @JonathanWilbur ?

[2019-04-28 23:45] #12306 closed

[2019-04-29 00:18] gochist commented on #12452
/close

[2019-04-29 00:18] #12452 closed

[2019-04-29 00:28] #10323 closed

[2019-04-29 10:15] emedina commented on #13948
@raelga Me pillo toda esta sección ahora:

`Workloads (content/id/docs/concepts/workloads)`

[2019-04-29 10:22] raelga commented on #13948
Añadido el track de #14026 y #13981.

Muchas gracias @emedina !

[2019-04-29 12:34] dangtuan205 opened #14093 "fsIssue with k8s.io/docs/tutorials/kubernetes-basics/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-04-29 13:57] deepakdk13 opened #14094 "Issue with k8s.io/docs/tasks/debug-application-cluster/audit/"
what syntax should is used for fetching project logs from users, i am using ldap, right now my syntax is.

apiVersion: audit.k8s.io/v1beta1
kind: Policy
rules:
  - level: Metadata
    userGroups: ["system:authenticated"]
    verbs: ["create", "update", "patch", "delete"]
    resources:
      - group: "project.openshift.io"
        resources: ["projectrequests", "projects"]
    omitStages:
      -

[2019-04-29 14:03] thomas-riccardi commented on #12303
/remove-lifecycle stale

[2019-04-29 14:31] thecrudge commented on #13905
/assign @thecrudge

[2019-04-29 15:42] vikas027 opened #14095 "Improvement for k8s.io/docs/tasks/"
Hey Guys,

It would be great if we can have a toggle to expand (and undo) the menu items on the left pane.
It will make finding stuff on the page so much easier.

My recommendation is for all such pages, not just this one.

Cheers,
Vikas

[2019-04-29 15:51] skikkh commented on #13392
/close #13392

[2019-04-29 15:55] dpkirchner opened #14096 "Docs: CronJobs, most recent pod output"
**This is a Bug Report**

**Problem:** The documentation for CronJobs does not fully explain how to get log output

**Proposed Solution:** Add documentation describing how to get the most recent pod name to use for the `kubectl logs` command

**Page to Update:**
https://kubernetes.io/docs/tasks/job/automated-tasks-with-cron-jobs/

Ideally, the page would describe how to get the logs for the most r

[2019-04-29 18:40] kayalasomayajula opened #14098 "on-start.sh stuck in running - mongodB replica for second pod"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-04-29 19:01] kayalasomayajula opened #14099 "on-start.sh stuck in running - mongodB replica for second pod"
**This is a Bug Report**

**Problem:**
on-start.sh stuck in running - mongodB replica for second pod with i/o timeout errors between kube dns and POD IP

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

Kubernetes version "v1.8.4"
helm version
Client: "v2.7.2",
Server: "v2.11.0"

Version of Helm and Kubernetes:

Which chart:
helm plugin install https://github.com/technosophos

[2019-04-29 19:24] dbirks commented on #14099
This repo is for Kubernetes documentation. Maybe a better place to ask would be on StackOverflow or in the community MongoDB Slack: https://launchpass.com/mongo-db

Hope you get it figured out!

[2019-04-29 19:25] dbirks commented on #14098
Can you close this issue since it is a duplicate of #14099? Thank you.

[2019-04-29 19:29] #14098 closed

[2019-04-29 19:48] ryancerium opened #14100 "Issue with k8s.io/docs/tasks/tools/install-kubectl/"
**This is a Bug Report**

**Problem:**

The APT key for installing on Debian based systems appears to be expired.  Link to the key is here:  https://packages.cloud.google.com/apt/doc/apt-key.gpg

**Proposed Solution:**

Update the APT key.

**Page to Update:**
https://kubernetes.io/...

[2019-04-29 19:52] dbirks commented on #14016
It looks like your Linux distribution doesn't have the `xdg-open` utility installed.

It's not required to use minikube though. You can copy and paste the URL into your browser.

[2019-04-29 20:28] dbirks commented on #14100
I just tried in fresh Debian 9 and Ubuntu 18.04 environments, and the gpg key imported nicely, and kubectl installed.

Could you post the error you're getting?

[2019-04-29 20:31] dbirks commented on #14093
Hello! Can you provide more details?

[2019-04-29 20:35] dbirks commented on #14054
Hello, can you provide more details? Thank you!

[2019-04-29 20:37] ryancerium commented on #14100
We have a SSL proxy in the office, it could very well be related to that.  But, after importing the certificate (successfully), `apt-key list` shows this (note the "expired"):

[code]

Then `apt update` gives me this:

[code]

My apt source for kubernetes looks like this:

[code]

[2019-04-29 20:47] dbirks commented on #14100
Hmm, mine has that key, as well as an updated one. My output looks like what is in this comment here:
https://github.com/kubernetes/test-infra/issues/7505#issuecomment-378045292

I would be curious what the output of this is for you:
[code]

[2019-04-29 20:55] ryancerium commented on #14100
I truncated the output of the `apt-key list`, is this what you have?:

[code]

The proxy seems to be borking my ability to download the key via `curl`, for entirely unknown reasons.  At any rate, this is more likely to be the proxy than an expired key.  I just went ahead and downloaded the binary manually and installed it that way.

Thank you for your help @dbirks!

[2019-04-29 20:55] #14100 closed

[2019-04-29 20:56] ryancerium commented on #14100
Oh, and for fun, here's `gpg -v`:

[code]

[2019-04-29 21:18] dbirks commented on #14100
My `apt-key list` looks exactly the same. Weird.

Glad it's working with the binary for now. :smile_cat:

[2019-04-29 23:09] zacharysarah opened #14101 "Update docs style guide with community style guide"
## Feature request

### What would you like to be added?

The [K8s community style guide](https://github.com/kubernetes/community/blob/master/contributors/guide/style-guide.md#markdown-formatting) grew out of the [SIG Docs style guide](https://kubernetes.io/docs/contribute/style/style-guide/). The community guide has since added guidelines that would make excellent additions to the SIG Docs style

[2019-04-30 01:03] JonathanWilbur commented on #14057
[This page](https://kubernetes.io/docs/concepts/services-networking/service/) is the critical one, or, more specifically, [this section](https://kubernetes.io/docs/concepts/services-networking/service/#virtual-ips-and-service-proxies).

Examples would be less important, but still useful [here](https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types).

I d

[2019-04-30 08:07] remyleone commented on #13989
Taking the lead for the French translation https://github.com/kubernetes/community/pull/3658

[2019-04-30 08:31] DanyC97 commented on #14095
Hi @vikas027

thanks for raising this issue.
As a note we are trying to use _folks_ as is gender neutral.

Your ask is having (un)collapse on ToC and not sure if Hugo does support that, will bring to experts attention.

[2019-04-30 08:33] DanyC97 commented on #14095
/priority awaiting-more-evidence

[2019-04-30 08:38] DanyC97 commented on #14019
hi @dev1983

is this a problem with the docs ?

/triage support

[2019-04-30 08:45] mmontalvo commented on #13948
@raelga Empezando la sección `concepts/configuration`

[2019-04-30 11:47] malathit opened #14104 "Issue with k8s.io/docs/tutorials/configuration/configure-redis-using-configmap/"
**This is a Bug Report**

**Problem: The image kubernetes/redis:v1 is not available**

**Proposed Solution: The image has to be available so that the documentation might work**

**Page to Update:**
https://k8s.io/docs/tutorials/configuration/configure-redis-using-configmap/

[2019-04-30 11:58] dev1983 opened #14105 "Improvement for k8s.io/docs/tasks/debug-application-cluster/audit/"
The document is having very less information. As while applying audit facing below issue under version v1.14.1.

--audit-policy-file=/etc/kubernetes/audit-policy.yaml

[root@kube-master kubernetes]# kubectl apply -f sample-audit-policy.yaml
error: unable to recognize "sample-audit-policy.yaml": no matches for kind "Policy" in version "audit.k8s.io/v1" or audit.k8s.io/v1beta1 or alpha1

Supported v

[2019-04-30 12:13] raelga commented on #13948
Muchas gracias @mmontalvo!

[2019-04-30 12:53] thecrudge commented on #11742
/help-wanted

[2019-04-30 12:54] thecrudge commented on #11742
/label help-wanted

[2019-04-30 12:56] thecrudge commented on #11742
/good-first-issue

/remove-lifecycle rotten

[2019-04-30 12:58] alexbrand commented on #13948
I'll be picking up docs under `Architecture`

[2019-04-30 13:00] tcplglo commented on #13948
@alexbrand   I was finishg those.....

[2019-04-30 13:02] alexbrand commented on #13948
@tcplglo Roger that. Thanks!  I'll update the issue to reflect you are working on it.

[2019-04-30 13:03] alexbrand commented on #13948
I actually think @raelga needs to update it.

[2019-04-30 13:05] thecrudge commented on #12823
/close

[2019-04-30 13:05] #12823 closed

[2019-04-30 13:14] mrbobbytables commented on #7795
/remove-lifecycle stale
Removing stale, but I think this can be closed now. The community page itself has been updated:
ref: https://github.com/kubernetes/community/issues/3388
ref: https://github.com/kubernetes/website/pull/13046

/assign @parispittman
For ack on if it can be closed or next steps.

[2019-04-30 13:27] thecrudge commented on #14104
Hi @malathit90

This is due to the community removing the kubernetes images from docker hub because of the recent security breach. I have submitted PR #14106 to address this issue. If you see anything else, please let us know.

[2019-04-30 13:51] #13741 closed

[2019-04-30 13:58] ClaudiaJKang commented on #13991
/assign

[2019-04-30 14:06] thecrudge commented on #14054
/assign @thecrudge

[2019-04-30 14:08] thecrudge commented on #14093
/assign @thecrudge

[2019-04-30 14:11] thecrudge commented on #14094
Hi @deepakdk13

This issue would be better resolved by joining the kubernetes Slack channel, as this doesnt seem to be an issue with the page itself and rather an issue with your implementation. Please pose your problem at kubernetes.slack.com in #kubernetes

/close

[2019-04-30 14:11] #14094 closed

[2019-04-30 14:22] sftim opened #14107 "Glossary term “workloads” should be singular"
**This is a Bug Report**

**Problem:** Most glossary terms are singular, any exceptions have a good reason to be. “Workloads” is plural though and I don't see a good reason for that.

(not important; it's a nit the project might want to fix)

**Page to Update:**
https://kubernetes.io/docs/reference/glossary/?all=true#term-workloads

[2019-04-30 16:16] lucperkins commented on #14095
@vikas027 Could you explain what you're asking for? At the moment, the menu items in the left panel *do* expand and contract.

[2019-04-30 17:03] #12457 closed

[2019-04-30 17:30] thecrudge commented on #13905
Submitted PR #14109

Takes care of most of the first check box. Still need to address tooling and generate instructions.

[2019-04-30 17:48] ClaudiaJKang commented on #13989
Translation of the localize contributor cheatsheet in Korean is done. (ref : kubernetes/community#3660)

[2019-04-30 18:24] #13864 closed

[2019-04-30 21:16] jimangel opened #14111 "Update /docs/contribute/generate-ref-docs"
**This is a Feature Request**

Review https://kubernetes.io/docs/contribute/generate-ref-docs/kubernetes-api/ and https://kubernetes.io/docs/contribute/generate-ref-docs/kubernetes-components/ for technical accuracy. At it's current state it's currently not usable.

**What would you like to be added**
- [ ] Any references to software versions (like docker / etcd) should be pinned to ensure success

[2019-04-30 21:27] DanRoscigno commented on #14101
I would like to work on this issue.

[2019-04-30 23:36] zacharysarah commented on #14101
@DanRoscigno Feel free to open a PR, even just a placeholder to get started.

One tip: if you include the words `Fixes #14101` or `closes #14101` in the original description, GitHub automatically closes this issue when the PR merges.

[2019-05-01 06:10] prankul88 opened #14114 "Box not alligned with text in k8s.io/docs/tutorials"
**This is a Bug Report**

**Problem:**
Under "Learn Kubernetes Basics" in provided URL, all sub topics have a "Summary" box.
When I open the URL with default zoom "125%" , the box is not alligned with the text inside it.
Note: I tried altering zoom value, this bug only occured at 125%; I am using Google Chrome

**Proposed Solution:**
The box must be alligned with the text inside it

![Screenshot f

[2019-05-01 10:28] geass commented on #14114
When I tested, it seems okay to me.

Tested on chrome, firefox and safari with %100 - %250 zoom ranges.

<img width="1425" alt="Screen Shot 2019-05-01 at 12 26 45" src="https://user-images.githubusercontent.com/1788968/57013590-7fbcd580-6c0c-11e9-9528-baa826a51705.png">

Can you say what is the version of your chrome?

[2019-05-01 10:30] prankul88 commented on #14114
@geass I am using 73.0.3683.86 (Official Build)

[2019-05-01 10:33] geass commented on #14107
`Workloads` is the main category on the concepts doc that contains pods and controllers. That's why it's plural.

There are some other plurals like `Container Environment Variables` or `Resource Quotas` as they should be.

[2019-05-01 11:27] sftim commented on #14107
I wonder if we can use a singular in the glossary, keeping a plural in the concepts section.

The other two I think fit better, because we apply a _set_ of environment variables and a _set_ of quotas. Conversely, deploying just one workload to a cluster is absolutely a thing that people might do.

[2019-05-01 14:14] irvifa commented on #13929
I'm taking Federation.md content/id/docs/concepts/cluster-administration

[2019-05-01 15:29] #11380 closed

[2019-05-01 17:29] jimangel commented on #12335
/close

[2019-05-01 17:29] #12335 closed

[2019-05-01 21:31] raelga commented on #13948
@glo-pena @tcplglo Are you working on all pages under architecture or only the `nodes`?

Thanks!

[2019-05-01 23:12] yoonian commented on #12455
/remove-lifecycle stale

[2019-05-01 23:50] mrbobbytables commented on #6102
Sorry for the delay in response, the project is over in https://github.com/kubernetes-sigs/contributor-site. As all work is going on over there. I think it's safe to close this issue :) Can be reopened if needed.

/close

[2019-05-01 23:50] #6102 closed

[2019-05-01 23:52] glo-pena commented on #13948
Hi, @raelga I'm working on all the pages in the section. Been a bit mad lately here, but should have some time today to wrap it all up.

Regards

[2019-05-02 02:16] farzadmf opened #14122 "Issue with k8s.io/docs/tutorials/configuration/configure-redis-using-configmap/"
I tried to follow the tutorial, but the docker image `kubernetes/redis:v1` doesn't seem to exist :(

[2019-05-02 04:38] irvifa commented on #13929
I'm taking kubernetes-object.md content/id/docs/concepts/overview

[2019-05-02 07:45] #11434 closed

[2019-05-02 10:56] EdinCitaku opened #14127 "Issue with k8s.io/docs/tutorials/configuration/configure-redis-using-configmap/"
**This is a Bug Report**

**Problem:**
When following this Tutorial:
https://kubernetes.io/docs/tutorials/configuration/configure-redis-using-configmap/
and using the file pods/config/redis-pod.yaml to create a pod
you get as pod Status "ErrImagePull". When using

`kubectl describe pods redis`
you can see the following error:
`pull access denied for kubernetes/redis, repository does not exist or m

[2019-05-02 11:19] dims commented on #14127
@EdinCitaku please edit the `redis-pod.yaml` as shown below:
https://github.com/kubernetes/website/pull/14123/files

/close

[2019-05-02 11:19] #14127 closed

[2019-05-02 11:27] vikas027 commented on #14095
Hey @lucperkins / @DanyC97 ,

I am looking to have an option to expand and collapse (or contract) all items in the left pane with one click, something similar to what is shown [here](https://youtu.be/Ah10F3co83o?t=35) or what I have recorded in this GIF.
![2019-05-02_21-11-37 (1)](https://user-images.githubusercontent.com/6998650/57072391-e0d5cd80-6d20-11e9-880c-2a56a26fcc0a.gif)

It is just a nic

[2019-05-02 11:54] sveryovka opened #14130 "Issue with k8s.io/docs/concepts/architecture/master-node-communication/"
**This is a Documentation Update Request**

**Problem:**
https://kubernetes.io/docs/concepts/architecture/master-node-communication/#master-to-cluster defines two primary communication paths from the master (apiserver) to the cluster - apiserver to kubelet and apiserver to nodes, pods, and services
Documentation says that "apiserver to nodes, pods, and services" is not surecure. However it is hard

[2019-05-02 14:28] iputra commented on #13929
I am taking `names` of Overview (content/id/docs/concepts/overview)

[2019-05-02 17:12] irfanurrehman commented on #13905
@jimangel There is consensus on the steps that you mentioned. Thanks for taking this up.

[2019-05-02 17:15] irfanurrehman commented on #13905
cc @kubernetes/sig-multicluster-misc

[2019-05-02 18:34] mkorbi opened #14137 "Tracking German localisation progress"
# Maintainers

@bene2k1
@rlenferink
@mkorbi

# For New Contributors

To translate a page:
1. Check that no one else has claimed your page in the checklist and comments below.
2. Most wanted pages can be found here: https://github.com/kubernetes/website/issues/17598
3. Comment below with the name of the page you would like to translate. Take only one page at a time.
4. Fork this repo, make your loc

[2019-05-02 21:51] raelga commented on #13948
Hey folks, I added the **Glossary (content/es/docs/tasks/tools)** for this milestone but reserved to be done during the hackaton. They are perfect to explain (and complete) the GitHub workflow for new contributors, using those pages for the first contributions.

[2019-05-03 05:57] prankul88 commented on #14122
Thank you for reporting this issue.
The image doesnot exist and must be replaced with simply `redis`

[2019-05-03 06:44] glo-pena commented on #13948
https://github.com/kubernetes/website/pull/14145 .  Has the missing pages on concepts/architecture

[2019-05-03 07:56] emedina commented on #13948
@raelga Yo estoy trabajando en las páginas siguientes de la sección `workloads`:

[code]

[2019-05-03 08:21] bigfootlviv commented on #13989
I'm working on Ukrainian uk localization.

[2019-05-03 12:42] thecrudge commented on #13905
Updated PR #14140

[2019-05-03 14:44] raelga commented on #13948
Added @glo-pena / https://github.com/kubernetes/website/pull/14145 to the track
Added @emedina workloads to the track.

[2019-05-03 14:57] zufardhiyaulhaq commented on #13929
I've sent PR #14128 for Namespaces (content/id/docs/concepts/overview). I'm taking Overview (content/id/docs/concepts/configuration) next.

[2019-05-03 15:21] ClaudiaJKang commented on #13977
/close

[2019-05-03 15:21] #13977 closed

[2019-05-03 18:08] emedina commented on #13948
@raelga Acabo de crear el PR:

https://github.com/kubernetes/website/pull/14150

Para toda la parte de `es/docs/content/workloads/controllers` :-)

[2019-05-03 18:56] ricksevans opened #14151 "Issue with k8s.io/docs/concepts/"
It seems to me the "Concepts" page should define the concept of a Cluster.
The current Concepts page just assumes the reader knows what a Cluster is.
Is a cluster a set of Pods?
Is a cluster a set of tightly coupled Pods?
Is a cluster a set of Worker Nodes (Pod Hosts)?
Is a cluster a single Master Node and it set of minion Worker Nodes directly managed by the Master?
Is a cluster a set of Master N

[2019-05-03 20:29] hong823 commented on #11756
@sh3llf1sh i believe you're referring to the command in https://kubernetes.io/docs/tutorials/kubernetes-basics/update/update-interactive/

`
kubectl set image deployments/kubernetes-bootcamp kubernetes-bootcamp=gcr.io/google-samples/kubernetes-bootcamp:v10
`

If that's the case, i believe it was intended to pull a non existence docker image as it's trying to demonstrate  how `kubectl rollout` woul

[2019-05-03 21:50] chenrui333 commented on #13997
@femrtnz
Sorry to reply late.

Yeah, it should be in the same folder as the other docs.
https://github.com/kubernetes/website/issues/13989#issuecomment-486762515

[2019-05-04 05:30] #11483 closed

[2019-05-04 09:52] danninov commented on #13929
I'm taking cluster-administration-overview.md (concepts/cluster-administration/cluster-administration-overview)

[2019-05-04 12:34] xiangys0134 opened #14157 "Issue with k8s.io/zh/docs/home/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-05-04 13:38] #11541 closed

[2019-05-04 13:53] 2forge opened #14159 "Issue with k8s.io/docs/tutorials/kubernetes-basics/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-05-04 14:24] mrbobbytables commented on #7795
Going to go ahead and close. Further refinement of the community page is occurring in other issues (ref #14061).
Please reopen if needed 👍

/close

[2019-05-04 14:24] #7795 closed

[2019-05-04 14:39] #11431 closed

[2019-05-04 14:58] dpjanes commented on #12489
Fix now

[2019-05-04 14:58] #12489 closed

[2019-05-04 16:41] #10721 closed

[2019-05-04 17:19] manthang opened #14160 "Got an error "crashloopbackoff" when run redis slave in Guestbook example app"
**Problem:**
Got an error "crashloopbackoff" when run this step "Apply the Redis Slave Deployment from the redis-slave-deployment.yaml file".

**Proposed Solution:**
Problem resolved when I change the image version to v3:
gcr.io/google_samples/gb-redisslave:v3

**Page to Update:**
https://kubernetes.io/docs/tutorials/stateless-application/guestbook/#start-up-the-redis-slaves

**Kubernetes Version:

[2019-05-04 19:50] scifihotchoc opened #14162 "Issue with k8s.io/docs/concepts/overview/components/"
**This is a Bug Report**

**Problem:**
There are many mentions of a kubernetes "pod" but there is no explanation or a link to an explanation of what a pod is.

**Proposed Solution:**
Provide a link to the documentation section on pods and add a line to say "learn more about pods".

**Page to Update:**
https://kubernetes.io/...
The page listed in this issue.

[2019-05-04 20:48] pragmaticivan commented on #13939
Pode me adicionar em `Architecture (content/id/docs/concepts/architecture)` - Nodes?

[2019-05-05 04:53] #11521 closed

[2019-05-05 07:56] #10582 closed

[2019-05-05 08:57] #10894 closed

[2019-05-05 08:57] #10698 closed

[2019-05-05 09:58] #10655 closed

[2019-05-05 13:45] danninov commented on #13929
I'm taking Addons (cluster-administration/addons)

[2019-05-05 14:11] Dionysusio opened #14164 "Issue with k8s.io/docs/reference/command-line-tools-reference/kube-proxy/"
**This is a Bug Report**

**Problem:**
kube-proxy启动报错:
flags.go:27] FLAG: --udp-timeout="250ms"
flags.go:27] FLAG: --v="2"
flags.go:27] FLAG: --version="false"
flags.go:27] FLAG: --vmodule=""
flags.go:27] FLAG: --write-config-to=""
server.go:195] WARNING: all flags other than --config, --write-config-to, and --cleanup are deprecated. Please begin using a config file ASAP.

**Proposed Solution:**
尝

[2019-05-05 17:25] zrml opened #14167 "Issue with k8s.io/docs/tasks/debug-application-cluster/debug-service/"
**This is an Enhancement Request**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

I'd like to have a section on StatefulSet and services.
Thanks

[2019-05-05 17:30] vinayakshnd opened #14168 "Localise Reference landing page to Hindi"
**What would you like to be added**

Localise /content/en/docs/reference/_index.md page to Hindi

**Comments**
Will open PR soon.

[2019-05-05 17:30] vinayakshnd commented on #14168
/language hi

[2019-05-05 17:39] vinayakshnd commented on #14168
/kind feature

[2019-05-05 20:08] #10367 closed

[2019-05-05 21:09] #11591 closed

[2019-05-06 00:40] #14159 closed

[2019-05-06 00:40] #14157 closed

[2019-05-06 00:41] tengqm commented on #14151
Is this what you are looking for?

https://kubernetes.io/docs/reference/glossary/?fundamental=true#term-cluster

[2019-05-06 00:47] tengqm commented on #14111
Ping me if anything I can help.

[2019-05-06 00:51] tengqm commented on #14105
this one? https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.14/#policy-v1alpha1-auditregistration-k8s-io

[2019-05-06 00:57] tengqm commented on #14099
Right, this is not a doc issue. Feel free to reopen if you believe there are things to improve from docs side.

[2019-05-06 00:57] #14099 closed

[2019-05-06 01:00] #14093 closed

[2019-05-06 03:56] SupriyaSirbi commented on #14012
Created pull request for the same. Thanks

[2019-05-06 04:05] SupriyaSirbi commented on #13672
Hello All,

I am working on this issue.

Thanks

[2019-05-06 04:51] SupriyaSirbi commented on #14111
Hello Jim and Tengqm,

I am interested to work on this issue.

Thanks

[2019-05-06 07:19] #10590 closed

[2019-05-06 09:50] ensonic opened #14179 "Issue with k8s.io/docs/reference/access-authn-authz/admission-controllers/ - kube-apiserver -h"
**This is a Bug Report**
**Problem:**
The page suggests to run `kube-apiserver -h` where the binary is actually located inside a container.

**Proposed Solution:**
[code]

**Page to Update:**
https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#which-plugins-are-enabled-by-default

If the change sounds good I'll send a PR

[2019-05-06 11:17] mrbobbytables commented on #13989
/reopen

accidentally closed by https://github.com/kubernetes/community/pull/3660

[2019-05-06 11:19] mrbobbytables commented on #13991
@ClaudiaJKang I think this can be closed now that https://github.com/kubernetes/community/pull/3660 has been merged 🎉

Thank you again for working on it :)

[2019-05-06 12:20] kbhawkey opened #14180 "Create a publish date on the reference docs"
**This is a Feature Request**
Add publish date or commit ID to references.
Update generated references post-processing or update the generation process.

**What would you like to be added**
The reference guides are published each release without a published date on the page, making it difficult to know if the page corresponds to the release.
Rationale: If content, task, tutorial pages have been up

[2019-05-06 13:36] sachet94 opened #14181 "Issue with k8s.io/docs/concepts/overview/working-with-objects/kubernetes-objects/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

the mentioned thing in the deployment files
are enough orelse is there anything else we cam mention ??

[2019-05-06 15:03] kakts opened #14183 "Translate concepts/overview/working-with-objects/labels.md in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/overview/working-with-objects/labels.md in Japanese.

**Why is this needed**
This document is not translated in Japanese.

**Comments**
Copy a file from en contents to content/ja/docs/concepts/overview/working-with-objects/labels.md and translate it into Japanese.

[2019-05-06 15:03] kakts commented on #14183
/language ja

[2019-05-06 15:34] ricksevans commented on #14151
@tengqm, yes, Adding something like the two lines from that simple definition you referred to, to the _Concept_ page would suffice.

[2019-05-06 15:44] femrtnz commented on #13939
@pragmaticivan Sure

[2019-05-06 18:21] knbz opened #14187 "Issue with k8s.io/docs/contribute/intermediate/"
[https://www.youtube.com/watch?v=b45P90bPa_8](url)

[2019-05-06 20:18] knbz opened #14188 "Issue with k8s.io/docs/contribute/advanced/"

[2019-05-06 20:32] #11616 closed

[2019-05-06 20:46] kbhawkey commented on #14180
Great, @tengqm. I am interested in reviewing your proposal.

[2019-05-06 22:34] #11617 closed

[2019-05-06 22:50] oomichi commented on #13862
I am checking whole files which contain yaml format.

[2019-05-07 05:32] tengqm commented on #14188
@knbz, any specifics about the issue?

[2019-05-07 05:35] tengqm commented on #14187
@knbz, feel free to file an issue that is actionable.

[2019-05-07 05:35] #14187 closed

[2019-05-07 05:37] tengqm commented on #14179
It actually depends on how kube-apiserver is deployed, right? There doesn't seem to be a way to work on all deployments IIUC.

[2019-05-07 05:58] prankul88 commented on #14031
@gjanders I am facing the same issue.
I am using kubernetes v1.14.0 and minikube v0.35

Do you know a workaround for this?

[2019-05-07 07:01] QHose opened #14196 "Issue with k8s.io/docs/tutorials/kubernetes-basics/expose/expose-interactive/"
**This is a Bug Report**

**Cannot connect to host error in tutorial, using the predefined commands
**Proposed Solution:**
Update capacity of demo server
**Page to Update:**
https://kubernetes.io/...

[2019-05-07 07:35] prankul88 opened #14197 "Command "kubectl apply -k ." not working in "Configuring Redis using a ConfigMap""
**This is a Bug Report**

**Problem:** I have been following the tutorial "Configuring Redis using a ConfigMap" (link below)

Running Command "kubectl apply -k ." does not seem to be valid when using minikube.
 Minikube version: v.0.35.0
 Kubernetes version: v1.14.0
 Go version: v1.12.5

** I ran the same at latest minikube (v1.0.1); still facing this issue
It throws Error: unknown shorthand flag:

[2019-05-07 07:44] gjanders commented on #14031
The online versions are not yet running v1.14.0 or newer so you either need to install minikube locally or you have to work around the instructions...

[2019-05-07 07:53] ensonic commented on #14179
Right, this was on a kubeadm instance. On GKE I can't see the kube-apiserver at all. to me ` kube-apiserver -h` is the least likely way to check this. That said, my proposal is not generic enough either.

It would be nice if `kubectl cluster-info dump` would contain such information.

[2019-05-07 07:54] zacharysarah commented on #12333
/remove-lifecycle stale

[2019-05-07 08:06] hobdell-SAP commented on #12499
Tested today - confirmed as fixed on the v1.14 interactive tutorial.

[2019-05-07 08:06] #12499 closed

[2019-05-07 08:18] SupriyaSirbi commented on #14012
/close

[2019-05-07 08:37] vanou opened #14200 "Should every localized README.md include info of other localizing community?"
## This is a Feature Request
According to [minimum requirement to localize k8s doc](https://kubernetes.io/docs/contribute/localization/#minimum-required-content), localizing README.md at [kubernetes/website](https://github.com/kubernetes/website) is required.
Current README.md includes information about Korean localizing team. And localized README.md (e.g. README-de.md) includes this, but other lo

[2019-05-07 08:50] DanyC97 commented on #14012
/close

thanks @SupriyaSirbi for your contribution

[2019-05-07 08:50] #14012 closed

[2019-05-07 08:51] sftim commented on #12341
This might be a good one to take to the AWS forums? [I believe that] Kubernetes as a project doesn't have strong opinions on different AWS technologies.

[2019-05-07 08:52] DanyC97 commented on #13862
@oomichi thanks for working on tidy up all this.

QQ - are you working on a particular order or you pick random pages ? -ie - you planning to finish `concepts` first before moving to `tasks` ?

[2019-05-07 08:53] DanyC97 commented on #13862
/language en

[2019-05-07 09:14] DanyC97 commented on #14162
@scifihotchoc will having https://kubernetes.io/docs/reference/glossary/?fundamental=true `Pod` glossary definition do the job ?

[2019-05-07 09:20] sftim opened #14201 "Add sig-docs contributor guide to Community project"
**This is a Feature Request** _that targets https://github.com/kubernetes/community/_

Kubernetes as a project has an overall [guide](https://github.com/kubernetes/community/blob/master/contributors/guide/README.md) for contributors, and a section:
https://github.com/kubernetes/community/blob/master/contributors/guide/README.md#sig-specific-contributing-guidelines
about SIG-specific contributions.

[2019-05-07 09:27] DanyC97 commented on #14164
hi @Dionysusio is this related to specific language page - ie `ZH`?

[2019-05-07 09:28] sftim commented on #14201
/sig docs

[2019-05-07 09:29] DanyC97 commented on #14167
@zrml are you looking after https://kubernetes.io/docs/tasks/debug-application-cluster/debug-stateful-set/ and https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/ ?

[2019-05-07 09:37] Dionysusio commented on #14164
yeah, chinese. i just wanna know how to use kube-proxy config file, please could you offer an example for me? thank you very much.

[2019-05-07 10:13] zrml commented on #14167
@DanyC97 No I'm not.

[2019-05-07 11:16] Ramin2c opened #14204 "Issue with k8s.io/docs/tutorials/kubernetes-basics/scale/scale-interactive/"
**This is a Bug Report**

According to the instruction, the user should be able to see the desired and current status by running the get deployments command.
The command "kubectl get deployments" does not show the replica set and by that the upcoming statement is wrong:
_"The DESIRED state is showing the configured number of replicas
The CURRENT state show how many replicas are running now"_

**Pr

[2019-05-07 11:55] JensHaley opened #14205 "Issue with k8s.io/docs/tasks/access-application-cluster/ingress-minikube/"
**This reports an issue with the documentation**

**Problem:**
Set up Ingress on Minikube with the NGINX Ingress Controller
-> Create an Ingress resource ([direct link](https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/#create-an-ingress-resource)) -> Step 4.

says that you should add the **ingress IP** to your `/etc/hosts` file.

This does not seem to work. It would be

[2019-05-07 11:59] irvifa commented on #13929
I'm taking `NetworkPolicy` in `content/id/docs/concepts/services-networking`

[2019-05-07 12:15] sftim commented on #14181
Hi @sachet94
Can you explain more about the shortcoming you're reporting here?

[2019-05-07 12:15] sftim commented on #14122
Is this OK to close?

[2019-05-07 12:16] sftim commented on #14130
Thanks for reporting this. It sounds like this is an area where we could improve on existing documentation.

[2019-05-07 13:06] sftim commented on #14160
/good-first-issue

[2019-05-07 13:06] ClaudiaJKang commented on #13991
/close

[2019-05-07 13:06] #13991 closed

[2019-05-07 13:13] sftim commented on #14057
I'd be wary of putting in Linux-specific assumptions into concept level documentation. Nodes typically run Linux and have `iptables` available, but that's not guaranteed generally.

How about: a task page about troubleshooting network issues, that the Service concept page links to? That page could have tabs for common OSs that Nodes run.

[2019-05-07 13:21] sftim commented on #14162
For this overview page in particular, I suggest that _everything_ that has a glossary entry be replaced by a use of that glossary term (via Hugo shortcode), at least on the first use on the page. Possibly subsequent uses too where that looks relevant.

How does that sound?

[2019-05-07 13:23] sftim commented on #14104
I think this was solved by https://github.com/kubernetes/website/pull/14177; is that right?

[2019-05-07 13:42] gochist opened #14207 "Outdated files in the dev-1.14-ko.4 branch"
**This is a Bug Report**

**Problem:**

74 files in content/en are changed
15 files in content/ko are outdated

- [x]  docs/concepts/_index.md 1 file changed, 1 insertion(+), 1 deletion(-)
- [x]  docs/concepts/overview/components.md 1 file changed, 1 insertion(+), 1 deletion(-)
- [x]  docs/concepts/overview/what-is-kubernetes.md 1 file changed, 2 insertions(+), 2 deletions(-)
- [x]  docs/concepts/

[2019-05-07 14:22] zhangqx2010 commented on #14201
How about this page?
https://kubernetes.io/docs/contribute/

[2019-05-07 14:23] sftim commented on #14160
If anyone's picking this up as a first issue:
- [sign](https://kubernetes.io/docs/contribute/start/#sign-the-cla) the contributor license agreement (if you haven't already)
- Follow our [guide](https://kubernetes.io/docs/contribute/start/) to [create and submit a pull request](https://kubernetes.io/docs/contribute/start/#submit-a-pull-request)

[2019-05-07 14:32] irvifa commented on #13996
/assign
/assign @girikuncoro

[2019-05-07 14:32] danninov commented on #13929
I'm taking `Controller Metrics` in (concepts/cluster-administration)

[2019-05-07 14:33] irvifa commented on #13996
@chenrui333 Is this also implemented in other localization as well?

[2019-05-07 14:37] lbogdan opened #14210 "Pod exec endpoint missing from API reference"
In what seems like a strange bug in generating the API reference, the pod exec endpoint is missing, although it's there in the [OpenAPI spec](https://raw.githubusercontent.com/kubernetes/kubernetes/master/api/openapi-spec/swagger.json), which I assume is the source.

It also seems it's been missing since the current version of the API reference starting with `1.10`.

[2019-05-07 14:43] zhangqx2010 commented on #14196
@QHose  In which step did the error occur? The initialization may take a little time.

[2019-05-07 14:45] zhangqx2010 commented on #14200
/sig docs

[2019-05-07 14:54] zhangqx2010 commented on #14204
@BenHall

[2019-05-07 15:24] renich opened #14211 "Issue with k8s.io/docs/reference/kubectl/overview/"
**This is a Bug Report**

**Problem:**
In the kubectl documentation, you provide examples of short options using and equals sign right after. For example: `-o=wide`.

This isn't the posix or gnu convention. See at the bottom: https://www.gnu.org/software/libc/manual/html_node/Argument-Syntax.html

**Proposed Solution:**
Adhere to the posix or gnu conventions. Use either:

[code]

or

[code]

**Pag

[2019-05-07 15:53] sftim commented on #14201
This is about signposting. We can link to all those pages to make them more discoverable.

[2019-05-07 17:16] oomichi commented on #13862
@DanyC97

I am working on the order from top to bottom on this Issue message at the above.
That means yes, I am concentrating on `concepts` pages now, then `setup`, `tasks` would be next action items.
If I can find another volunteers, they will work for `setup` or `tasks` before I finish `concepts`.

[2019-05-07 17:33] oomichi commented on #13862
I've already pushed all PRs for `concepts` today :-)

[2019-05-07 17:34] 2rs2ts opened #14215 "Issue with k8s.io/docs/concepts/cluster-administration/cloud-providers/"
**This is a Bug Report**

**Problem:** The ELB annotation documentation does not explain the valid values to set each annotation to.

**Proposed Solution:** For each annotation, document the valid values it can be set to, including `""` to disable it. For example, `service.beta.kubernetes.io/aws-load-balancer-access-log-enabled` should document that if you set the annotation to any non-empty strin

[2019-05-07 17:48] zparnold opened #14216 "Introduce a "Security" concept in the concepts section"
We would to have a concept dedicated to security in the concepts section which covers a brief description of security features and modalities that are available to cluster operators in the open source project

[2019-05-07 18:30] sftim commented on #14201
/priority backlog

[2019-05-07 21:35] farzadmf commented on #14122
Yes, sorry for the late reply, with the suggested changes for that tutorial, I'm going to close this

[2019-05-07 21:35] #14122 closed

[2019-05-08 00:48] zhangqx2010 opened #14220 "Issue with /docs/concepts/cluster-administration/cloud-providers/"
**This is a Bug Report**

**Problem:**
Broken link on https://kubernetes.io/docs/concepts/cluster-administration/cloud-providers/
Last line in AWS section the `The information for the annotations for AWS is taken from the comments on [aws.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aws.go)`
while the linked file is missing.

**Proposed Solution:**
Add f

[2019-05-08 01:16] zhangqx2010 commented on #14197
What's your kubectl version?
Note that The example shown on this page works with kubectl 1.14 and above.
To check the version, enter kubectl version.

/close

This issue sounds more like a request for support and less
like an issue specifically for docs. I encourage you to bring
your question to the `#kubernetes-users` channel in
[Kubernetes slack](http://slack.k8s.io/). You can also search
resour

[2019-05-08 01:16] #14197 closed

[2019-05-08 01:21] zhangqx2010 commented on #14220
/sig docs

[2019-05-08 01:30] tengqm commented on #14180
@kbhawkey I just took a quick look at the docs we are serving. There are cases where the generated docs are wrapped into some contents. For example: https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-join/

I don't have a good idea where to insert the "generated at: <DATETIME>" string for such cases. Any thoughts?

[2019-05-08 03:07] s-ito-ts commented on #13862
I can work to following item.
 tasks/administer-cluster/*

[2019-05-08 03:38] girikuncoro commented on #13929
I'm taking `Kubelet Garbage Collection` in (concepts/cluster-administration) next

[2019-05-08 06:23] vanrein opened #14223 "Improvement for k8s.io/docs/tasks/tools/install-kubectl/"
The complaint about the URL also occurs when simply running `kubectl version`.  At that position in the manual, the message has not been explained yet.  Better move it up then.

[2019-05-08 06:56] k-toyoda-pi commented on #13862
I checked some files. these files are no problem.
- setup/independent/control-plane-flags.md
- setup/independent/high-availability.md
- setup/independent/kubelet-integration.md
- setup/independent/setup-ha-etcd-with-kubeadm.md
- setup/minikube.md
- setup/windows/intro-windows-in-kubernetes.md
- setup/windows/user-guide-windows-containers.md

[2019-05-08 07:30] k-toyoda-pi commented on #13862
Sorry. I did not tell you exactly. The following files are no problem.
authentication.md is also good.
- reference/access-authn-authz/authentication.md
- reference/access-authn-authz/authorization.md
- reference/access-authn-authz/bootstrap-tokens.md
- reference/access-authn-authz/extensible-admission-controllers.md
- reference/access-authn-authz/webhook.md

[2019-05-08 08:38] DanyC97 commented on #13862
yeah, i keep an eye on it ;)

[2019-05-08 08:48] girikuncoro commented on #13929
I'm taking `Field Selectors` in (concepts/overview) next

[2019-05-08 09:12] DanyC97 commented on #14167
@zrml okay then would you mind providing more info as to  what you would like to have in addition to the above pages i've mentioned ?

/triage needs-information

[2019-05-08 09:22] DanyC97 commented on #14164
/triage support

@Dionysusio fyi for this type of questions we do encourage everyone to use different discussion channels [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes) or [Forum](https://discuss.kubernetes.io/) so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and
how to address

[2019-05-08 09:59] seokho-son opened #14226 "Glossary tooltip mismatch in reference/glossary/"
**This is a Bug Report**

There are some mismatched glossary tooltips (mouse over)

**Problem:**
In the page for /reference/glossary/, there are some mismatched glossary tooltips.

For instance, in https://kubernetes.io/docs/reference/glossary/?fundamental=true#term-daemonset, glossary tooltip is supported for the term "Pod".
The tooltip for "Pod" shows "A high-level summary of what phase the Pod

[2019-05-08 10:00] seokho-son commented on #14226
/kind bug

[2019-05-08 10:00] seokho-son commented on #14226
I am working on this issue.

[2019-05-08 10:40] sftim commented on #14223
@vanrein: can you clarify which message you're referring to, so that it's clear what needs explaining better?

[2019-05-08 10:59] Dionysusio commented on #14164
thank you.

| |
PhantomMeer
邮箱：eyzk_1112@163.com
|

Signature is customized by Netease Mail Master

On 05/08/2019 17:22, Dani Comnea wrote:

/triage support

@Dionysusio fyi for this type of questions we do encourage everyone to use different discussion channels Stack Overflow or Forum so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answe

[2019-05-08 11:18] DanyC97 commented on #14164
@Dionysusio if you happy with the response then i'll close the issue

[2019-05-08 11:18] DanyC97 commented on #13987
/close

in absence of response

[2019-05-08 11:18] #13987 closed

[2019-05-08 11:19] DanyC97 commented on #13908
/close

in absence of response

[2019-05-08 11:19] #13908 closed

[2019-05-08 11:19] Dionysusio commented on #14164
ok,  that's fine
thank you very much.

| |
PhantomMeer
邮箱：eyzk_1112@163.com
|

Signature is customized by Netease Mail Master

On 05/08/2019 19:18, Dani Comnea wrote:

@Dionysusio if you happy with the response then i'll close the issue

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-05-08 13:09] nowjean opened #14230 "Translate concept/cluster-administration/cluster-administration-overview in Korean"
**This is a Feature Request**

**What would you like to be added**

**Why is this needed**

**Comments**

/assgin

[2019-05-08 14:42] nowjean opened #14232 "Translate concept/cluster-administration/controller-metrics in Korean"
**This is a Feature Request**

**What would you like to be added**

**Why is this needed**

**Comments**

/assign
/language ko

[2019-05-08 16:07] girikuncoro commented on #13929
I'm taking `Annotations` in (concepts/overview) next

[2019-05-08 17:02] oomichi commented on #13862
@DanyC97

Thank you so much :-)

[2019-05-08 18:12] oomichi commented on #13862
@s-ito-ts

Thanks :-)
I did put your name on the above list.

[2019-05-08 18:17] oomichi commented on #13862
@k-toyoda-pi

Thanks for checking these files.
Your list you mentioned doesn't contain the following file under `setup`
- setup/multiple-zones.md
- setup/release/notes.md

Does it mean these files contain this issue and you will fix them, right ? :-)

[2019-05-08 18:56] #13909 closed

[2019-05-08 20:18] #14226 closed

[2019-05-08 21:11] oomichi commented on #13862
Cool, we have done under `reference` today.

[2019-05-08 21:42] #13961 closed

[2019-05-09 01:32] rajvaibhavdubey commented on #14160
@sftim I would like to work on this.
ThankYou.

[2019-05-09 04:14] k-toyoda-pi commented on #13862
@oomichi

OK. I will fix "setup/multiple-zones.md".
But "setup/release/notes.md" may have no problem as scope of this issue, because a part like yaml is bullet points actually. I think that converting to bullet point is strange.

https://kubernetes.io/docs/setup/release/notes/#other-notable-changes-2
- This change ensures that volumes get provisioned based on the zone information provided in allow

[2019-05-09 05:30] prankul88 commented on #14223
Hi @vanrein ,I feel verification must be after all the installation guides, which is just what is done in the documents . So rather than moving it up, a "note" referring to the verification section might be helpful.

Would appreciate your thoughts on this!

[2019-05-09 06:29] seokho-son commented on #12608
@sftim, I opened a PR #14227 which is related with this issue.
The PR was merged already. So you can check this issue have been resolved.

[2019-05-09 06:54] tengqm commented on #14180
Alright, we can do API reference and the HTML style kubectl reference first.

[2019-05-09 06:56] prankul88 opened #14244 "Issue with katacoda bash terminal"
**This is a Bug Report**

**Problem:**
"In browser katacoda terminal" is incosistent. In the first image attached, when the minikube setup is completed, the terminal does not show the space to write commands. Rather the user is forced to scale up the terminal.

![s1](https://user-images.githubusercontent.com/40868849/57432952-cdf95680-7254-11e9-9514-4a5c674790b1.jpg)

Also when we scale up the ter

[2019-05-09 07:11] tengqm commented on #14180
For API reference, done: https://github.com/kubernetes-incubator/reference-docs/pull/78
For HTML style kubectl reference, need to decide *again* which route to go. If you take a look at the generators, there is `gen-kubectldocs` for HTML output and `kubectl` docs can be generated as other command line tools as well.

[2019-05-09 07:28] sftim commented on #14160
Thanks for offering, @rajvaibhavdubey !

[2019-05-09 07:35] sftim commented on #12608
This is fixed. Nice!

[2019-05-09 07:35] #12608 closed

[2019-05-09 08:24] rapude commented on #12968
Hi, are there any news about this?

[2019-05-09 09:07] vanrein commented on #14223
Hi Prankul,

Sounds good to me :)

-Rick

[2019-05-09 09:07] k-toyoda-pi commented on #13862
I can work to
- tasks/access-application-cluster/*

[2019-05-09 11:46] zhangqx2010 commented on #14244
The first issue doesn't appear by my try.
While the second one is really a problem. It will cover the almost whole page and I found no way to scale the window.
@BenHall Not sure whether I should @ you or not.

[2019-05-09 12:03] zhangqx2010 commented on #14211
It's not good format though the doc stills works.
If you like, you are welcomed to create PR to fix this. I can help if you have any problem during the process.

/good-first-issue

[2019-05-09 12:06] FlyingOnion opened #14248 "is mainNav still in use?"
This nav bar is in layouts/partials/header.html, but it is invisible in many pages.

[2019-05-09 12:08] FlyingOnion commented on #14248
Many pages still have js reference to it, if this navbar is removed then many pages will be affected.

[2019-05-09 14:08] chenrui333 commented on #13996
Yeah, currently it seems only korean got translated:
https://github.com/kubernetes/community/tree/master/contributors/guide/contributor-cheatsheet

[2019-05-09 15:25] #14164 closed

[2019-05-09 16:23] irvifa commented on #13996
@chenrui333 got some error regarding service account hmm

[2019-05-09 16:39] #8188 closed

[2019-05-09 17:21] oomichi commented on #13862
@s-ito-ts Your latest PR fixes tasks/administer-cluster/reconfigure-kubelet.md only under `tasks/administer-cluster/`. Do the other files under `tasks/administer-cluster/` contain this problem?
I'd like to update the status for each file based on your input.

[2019-05-09 18:00] JonathanWilbur commented on #14057
Okay, fair point. Still, why not just say "if this were running on a Linux node with iptables, the entries would look like this..." and so on for whatever other firewall / IP tools kube-proxy works with. I still stand by putting something that visibly demonstrates what happens behind the scenes.

[2019-05-09 23:16] rohitmealpha opened #14257 "I am facing error"
Failed to pull image "rmeuser-auth:latest": rpc error: code = Unknown desc = Error response from daemon: pull access denied for rmeuser-auth, repository does not exist or may require 'docker login'

[2019-05-10 00:09] apoliakevitch opened #14258 "Issue with k8s.io/docs/setup/independent/high-availability/"
**This is a Bug Report**

**Problem:**
kubeadm init failed with the following error:

[upload-config] storing the configuration used in ConfigMap "kubeadm-config" in the "kube-system" Namespace
error execution phase upload-config/kubeadm: error uploading the kubeadm ClusterConfiguration: configmaps "kubeadm-config" is forbidden: User "system:anonymous" cannot get resource "configmaps" in API group

[2019-05-10 02:31] oomichi commented on #13862
My working items in this issue has been done :-)

[2019-05-10 04:21] s-ito-ts commented on #13862
@oomichi

I had finished fixes of this problem  under tasks/administer-cluster/.
Some yaml were created from files under the examples/admin/.
So, I fixed the files under examples/admin/ instead of the files under tasks/administer-cluster/.

[2019-05-10 08:21] sftim commented on #14057
I like that phrasing.
_Aside_ I'd personally use `iptables-save` because `iptables -L` hides some details. Either is fine to get a point across, and I suspect `iptables -L` is more widely known.

[2019-05-10 08:53] k-toyoda-pi opened #14261 "add link to next page"
**This is a Feature Request**

**What would you like to be added**

add link to next page in each page. see the below.

![next_page](https://user-images.githubusercontent.com/26761953/57514665-f0ba6680-734b-11e9-87d2-1734cf46584a.png)

**Why is this needed**
Currently if we would like to read next page in document, we need scroll top and click left items.
If next page link is added on bottom of pa

[2019-05-10 09:02] nk-gears opened #14262 "Issue with k8s.io/docs/tasks/access-application-cluster/ingress-minikube/"
**This is a Bug Report**

**Problem:**

Web UI is scattered for the yaml file contents.  But, the Git preview of the yaml file looks good.

![Screen Shot 2019-05-10 at 2 30 14 PM](https://user-images.githubusercontent.com/897323/57515445-4da82380-7330-11e9-8989-93e9743f806b.png)

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-05-10 12:38] dev1983 commented on #14105
[root@kube-master manifests]# grep -i apive /etc/kubernetes/policies/audit-policy.yaml
#apiVersion: audit.k8s.io/v1 # This is required.
apiVersion: auditregistration.k8s.io/v1alpha1 # This is required.

[root@kube-master manifests]# kubectl apply -f /etc/kubernetes/policies/audit-policy.yaml
error: unable to recognize "/etc/kubernetes/policies/audit-policy.yaml": no matches for kind "Policy" in ve

[2019-05-10 12:59] #11696 closed

[2019-05-10 14:45] joelachance opened #14264 "Issue with k8s.io/docs/concepts/configuration/assign-pod-node/"
**This is a Bug Report**

**Problem:**
Potential Typo. Versions > 1.1 are referenced.

**Proposed Solution:**
Update versions in docs.

**Page to Update:**
https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#interlude-built-in-node-labels

Kubernetes Version: v1.14

Additional Information: It looks like this occurs 3 times. v1.4 is called out twice, and v1.2 is called out once. It s

[2019-05-10 16:16] oomichi commented on #13862
@s-ito-ts

Thanks for your confirmation. I have marked these items as done on the above list.

[2019-05-10 16:56] oomichi commented on #13862
@k-toyoda-pi

The last piece is `tasks/access-application-cluster/` which you are assigned.
Is it possible to make it?

[2019-05-10 17:03] sftim commented on #14261
Hi @k-toyoda-pi
Can you give an example of a page where you wanted to see this kind of link, and it wasn't there? The URL of that page would be great; if you want to add more examples, that's even better.

[2019-05-10 17:06] sftim commented on #14264
[Node affinity](https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#node-affinity-beta-feature) ought to use a Hugo feature state-shortcode so that the page follows the website style guide.

It's stable since Kubernetes v1.6 so the shortcode would look like:
[code]

[2019-05-10 17:06] sftim commented on #14264
/assign

[2019-05-10 18:03] #9570 closed

[2019-05-10 18:17] judge2005 opened #14267 "Improvement for k8s.io/docs/concepts/cluster-administration/proxies/"
It would be very useful to have diagrams on this page...

[2019-05-10 18:22] oomichi commented on #13862
re: concepts/overview/object-management-kubectl/kustomization.md (TODO: need to check kubectl kustomize ./ output)

I tried to run kustomize and the output like
[code]
That is the same as current doc, so I keep current doc for avoiding readers' confusion.

[2019-05-10 20:03] SKD-SKD opened #14270 "Issue with k8s.io/docs/concepts/workloads/controllers/daemonset/"
**This is a Bug Report for  V1.13 (1.14)**

**Problem:  i do not see that this statement is correct : "As nodes are removed from the cluster, those Pods are garbage collected."**

**Proposed Solution: enable tolerationSeconds for  not-ready and unreachable for daemonset or fix documentation and provide other solution to remove ( evict) the PODs**

**Page to Update:**
https://kubernetes.io/...
http

[2019-05-10 20:41] KrishnaKotari opened #14271 "Issue with k8s.io/docs/concepts/"
**This is a Bug Report**

**Problem:**
Navigation of docs is pretty difficult. Once I go through the entire doc, I have to scroll back again to the top and click on the next topic from the left pane. It's cumbersome and looses the flow

**Proposed Solution:**
Solution involves two parts,

- Have a pane at the bottom and top of the docs pane with "**Next**" and "**Previous**" buttons

- The list of

[2019-05-10 22:08] steveperry-53 opened #14272 "Move object management to Tasks."
**This is a Feature Request**

**What would you like to be added**

Move these topics to the Tasks section:

* [Managing Kubernetes Objects Using Imperative Commands](https://kubernetes.io/docs/concepts/overview/object-management-kubectl/imperative-command/)

* [Imperative Management of Kubernetes Objects Using Configuration Files](https://kubernetes.io/docs/concepts/overview/object-management-kub

[2019-05-10 22:13] steveperry-53 opened #14273 "Move object management to Tasks"
**This is a Feature Request**

**What would you like to be added**

**Why is this needed**

**Comments**

[2019-05-10 22:17] trevorackerman-wk opened #14275 "Issue with k8s.io/docs/tasks/job/coarse-parallel-processing-work-queue/"
**This is a Bug Report**

**Problem:**
Dockerfile https://kubernetes.io/examples/application/job/rabbitmq/Dockerfile has old version of Ubuntu which doesn't work correctly with the rabbitmq controller

I kept getting a socket error in the logs of the jobs about connecting to amq

Meanwhile in the rabbitmq controller logs I finally noticed
`2019-05-10 21:50:53.512 [error] <0.688.0> closing AMQP con

[2019-05-11 09:18] #11331 closed

[2019-05-11 12:34] sftim commented on #14257
Hi @rohitmealpha

Do you know the URL to the documentation page you were looking at when you found things didn't work for you?

/triage needs-information

[2019-05-11 12:36] sftim commented on #14275
Thanks for filing this report. Looks like something worth fixing!

/kind bug

[2019-05-11 12:37] sftim commented on #14271
Thanks for this suggestion @KrishnaKotari
This is similar to #14261 so I'll mention that issue here too.

/kind feature

[2019-05-11 12:39] sftim commented on #14271
If the documentation gains a concept of “next” and “previous” documents, there's potential to add HTTP `Link:` headers or HTML `<link>` elements to add the same information as metadata. (That could be a separate issue if there's interest in the idea).

[2019-05-11 12:41] sftim commented on #14270
@SKD-SKD I haven't tried this out; it sounds like you have, though.

Would you be willing to write out the steps to reproduce the issue (where the outcome is different from documentation)? It's OK to copy and paste from the documentation and then annotate it with where things don't look right.

[2019-05-11 12:41] sftim commented on #14267
Thanks for that suggestion @judge2005

/kind feature

[2019-05-11 13:29] sftim opened #14279 "Docker glossary entry not shown"
**This is a Bug Report**

**Problem:** The glossary entry for Docker isn't shown

**Proposed Solution:** I've got a PR ready.

**Page to Update:**
https://kubernetes.io/docs/reference/glossary/?all=true#docker

[2019-05-11 13:42] sftim commented on #14273
Duplicate of  #14272

[2019-05-11 13:44] sftim commented on #14279
/kind bug

[2019-05-11 13:44] sftim commented on #14264
/kind bug

[2019-05-11 13:45] sftim commented on #14216
/kind feature

[2019-05-11 13:45] sftim commented on #14180
/kind feature

[2019-05-11 13:46] sftim commented on #14196
/triage needs-information

[2019-05-11 13:48] sftim commented on #12268
/kind bug

[2019-05-11 17:13] sftim commented on #14054
/triage needs-information

[2019-05-11 18:45] sftim commented on #9272
/assign

[2019-05-12 05:53] nitishkumar71 opened #14284 "Formatting for YAML code of Create an Ingress is not correct"
**This is a Bug Report**

**Problem:**
In Task page for the given [URL](https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/#create-an-ingress-resource), formatting of YAML code to create an ingress is not correct. Although on checking the [content/en/docs/tasks/access-application-cluster/ingress-minkube.md](https://github.com/kubernetes/website/blob/master/content/en/docs

[2019-05-12 05:58] nitishkumar71 commented on #14284
/kind documentation

[2019-05-12 12:42] #14279 closed

[2019-05-12 12:55] gochist commented on #12839
resolved by #14285
/close

[2019-05-12 12:55] #12839 closed

[2019-05-12 13:21] Rajakavitha1 opened #14286 "Attributes that we need in Front matter"
Hugo uses front matter information to create things like author attribution, categories, and page layout. Copying an existing file, then updating its filename and front matter to can be an easy way to help ensure everything is formatted properly.

We may need to create a template with all the attributes we want in the front matter. Currently, the front matter in our .md files are not consistent.

[2019-05-12 15:20] #10816 closed

[2019-05-12 15:48] #9032 closed

[2019-05-13 04:33] gwvandesteeg opened #14289 "Improvement for k8s.io/docs/concepts/storage/persistent-volumes/"
Add reference links to source material describing suitable mount options for PersistentVolumes by source.

[2019-05-13 09:59] pilosus opened #14293 "Issue with k8s.io/docs/tasks/access-application-cluster/ingress-minikube/"
**This is a Bug Report**

**Problem:**

``example-ingress.yaml`` code block under ``Create an ingress resource`` sections doesn't get rendered propery.

https://imgur.com/idMALZD

It's looks like a markdown bug related to a fenced code block within a list (see [more](https://github.com/gohugoio/hugo/issues/4171))

**Proposed Solution:**

The code should be either unfenced (backticks removed), or d

[2019-05-13 10:03] ravimsai opened #14294 "Issue with k8s.io/docs/concepts/containers/images/"
Hi , I am trying to run a insecure-registry and when i am trying to create the registry pod using yaml file i am seeing the below error

Failed to pull image “127.0.0.1:5000/my-ubuntu”: rpc error: code = Unknown desc = Error response from daemon: received unexpected HTTP status: 502 Bad Gateway

Can any one help me in resolving this issue?

I have added the required entries in the config files to

[2019-05-13 13:24] sftim commented on #14289
I'm inferring that this would be new content under https://kubernetes.io/docs/reference/ and that https://kubernetes.io/docs/concepts/storage/persistent-volumes/ would link there.

Have I guessed right? (I might not have).

[2019-05-13 13:27] sftim commented on #14294
Hi @ravimsai

There are several ways to get support for Kubernetes. This issue tracker is specifically for reporting cases where the documentation isn't correct, or where there's an improvement you have in mind.

For help, you could try the Kubernetes section of [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes).

You can also post your question on the [Kubernetes Slack](http:

[2019-05-13 13:33] sftim commented on #14294
The page at https://kubernetes.io/docs/concepts/containers/images/ seems a bit muddled (mixing concept documentation with a walk-through task). It does feel like there's room for the Kubernetes project to:
- reorganise this page
- provide a new walk-through explanation of how to set up and use an image registry that's marked insecure.

[2019-05-13 13:45] oke-py opened #14296 "Translate tasks/configure-pod-container/attach-handler-lifecycle-event/ in Japanese"
# Translate tasks/configure-pod-container/attach-handler-lifecycle-event/ in Japanese

**This is a...**

* [x]  Feature Request
* [ ]  Bug Report

**Problem:**
No tasks/configure-pod-container/attach-handler-lifecycle-event/ in Japanese.

**Proposed Solution:**
Translate tasks/configure-pod-container/attach-handler-lifecycle-event/ in Japanese.
Copy from en content and Update `content/ja/docs/task

[2019-05-13 13:45] oke-py commented on #14296
/language ja

[2019-05-13 14:04] sftim commented on #11382
This still seems like a valid concern
/reopen

[2019-05-13 15:14] SKD-SKD commented on #14270
this document states :
"As nodes are removed from the cluster, those Pods are garbage collected."

lookig at the link:
https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/

[code]
I tested the behavior in latest kubernetes  and pods are never evicted when the node is removed form the cluster

[2019-05-13 15:51] sftim commented on #14270
There's definitely something in need of updating here.
/triage bug

[2019-05-13 15:57] SKD-SKD commented on #14270
yes ,
i will help to avid the confusion, when we first work with  daemonsets

it will be good also to explain why for
[code]
i will be looking forward to it

[2019-05-13 18:18] kbhawkey commented on #14284
Duplicate with #14293?

[2019-05-13 18:24] femrtnz commented on #13997
Hi @chenrui333 do we need to add this cheatsheet on the website repo as well? If yes, could you tell me which folder?

thanks

[2019-05-13 18:31] kbhawkey commented on #14272
Hi. I agree that most of the kubectl and kustomize related content should be moved, though, the last three topics contain a number of embedded concepts, not just `do task 1, followed by task 2 in my cluster ...`. I also think that the task area has grown very large so that it is hard to find topics/tasks. The other question is how to associate, group, and maintain the kubectl content in the `refer

[2019-05-13 23:44] oomichi commented on #13862
https://github.com/kubernetes/website/pull/14246 fixed the remaining things.
So we have finished this issue, thank you everyone so much :-)

[2019-05-13 23:44] #13862 closed

[2019-05-14 00:06] mattchan-tencent opened #14304 "Private image repository secrets documentation doesn't work with OSX"
**This is a Bug Report**

**Problem:**
The documentation at https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/ as written won't work on OSX. Docker for Mac uses the macOS credential store by default. If you follow the instructions to load credentials from  `.docker/config.json`, it reads the config, but doesn't load the credentials from the store. The auth portio

[2019-05-14 04:15] andriiginting commented on #13929
Hi guys, I'm  taking `images` in `content/id/docs/concepts/containers`

[2019-05-14 06:46] juandiegopalomino opened #14306 "Update the What is Kubernetes Page"
**This is a Feature Request**

I know @chenopis  already has issue #12333 opened, but more can be done to improve the page in giving a good intro for new users. The current one seems to go all over the place and is a bit distracting at the moment.

**What would you like to be added**

1) I was under the impression that K8s is not a PaaS and the documentation desired to steer clear of that labellin

[2019-05-14 06:46] juandiegopalomino commented on #14306
if someone could add it to project https://github.com/kubernetes/website/projects/3 that'd be awesome

[2019-05-14 07:37] Rajakavitha1 commented on #14286
/assign @lucperkins
/assign @zacharysarah

[2019-05-14 07:48] Rajakavitha1 opened #14307 "Auto generate the version-skew-policy.md file"
**Auto generate the version-skew-policy.md file (https://kubernetes.io/docs/setup/version-skew-policy/), https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#version-skew-policy**

**What would you like to be added**
 Auto generate the page based on some basic logic following the skew guidelines and the config.toml located at https://github.com/kubernetes/website/blob/master/config

[2019-05-14 07:50] Rajakavitha1 commented on #14307
/assign @jimangel
/assign @zacharysarah
/assign @tpepper

[2019-05-14 09:23] DanyC97 commented on #14306
since this falls under the Q2 priorities i'll set the priority of this issue as needed

/priority important-soon
/language en

[2019-05-14 09:25] DanyC97 commented on #14294
@sftim should we open a new issue with your last comment and close this issue based on the guidelines you provided to OP on seeking support?

[2019-05-14 09:26] DanyC97 commented on #14273
@steveperry-53 i'll close this in favour of #14272 where more info was provided
/close

[2019-05-14 09:26] #14273 closed

[2019-05-14 09:28] DanyC97 commented on #14272
/language en

[2019-05-14 09:31] DanyC97 commented on #14167
gentle reminder @zrml

[2019-05-14 09:37] DanyC97 commented on #14258
@apoliakevitch thanks for raising the issue however from the info provided i understand this is an issue with kubeadm and not the docs per say, is that correct?

if so best place to raise the issue is either open an issue https://github.com/kubernetes/kubeadm or have a quick chat on slack.

/cc @kubernetes/kubeadm-maintainers in case they can provide some input.

[2019-05-14 09:38] DanyC97 commented on #14258
/triage support
/sig-cluster-lifecycle

[2019-05-14 09:39] DanyC97 commented on #14220
/language en

[2019-05-14 09:41] DanyC97 commented on #14188
in absence of a specific description and lack of response we are going to close it.
Next time you open a new issue please add the required info as per the template, thank you for your cooperation.

/close

[2019-05-14 09:41] #14188 closed

[2019-05-14 09:46] DanyC97 commented on #14205
/language en
/sig cluster-lifecycle

@tstromberg @afbjorklund any chance you can chime in case there is a known issue ?

[2019-05-14 09:59] oke-py commented on #14296
/milestone 1.14-ja.1

[2019-05-14 10:12] Vageesha17 commented on #14284
working on this issue as it would be good start.

[2019-05-14 10:37] zrml commented on #14167
@DanyC97 thanks for the reminder... too many flights and lounges. I misunderstood your comments above. I'm OK with the links you provided for now. I'm hoping to progress my K8s work this week. I may get back to you. Close this for now. Thanks a million and apologies.

[2019-05-14 11:54] sftim commented on #12339
/triage needs-information

[2019-05-14 11:55] sftim commented on #12339
/close

[2019-05-14 11:55] #12339 closed

[2019-05-14 12:36] neolit123 commented on #14258
/close
duplicate of:
https://github.com/kubernetes/kubernetes/issues/77646

although even in the related issue it's unclear why it happens.

[2019-05-14 12:36] #14258 closed

[2019-05-14 13:09] ravimsai commented on #14294
@ Tim ,

The links provided were not useful in resolving the issue. request you to
please share more information if you have any on the sam

On Tue, May 14, 2019 at 2:55 PM Dani Comnea <notifications@github.com>
wrote:

[2019-05-14 13:31] zer0big opened #14314 "Translate concepts/overview/object-management-kubectl/kustomization in Korean"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
No concepts/overview/object-management-kubectl/kustomization in Korean

**Proposed Solution:**
Translate concepts/overview/object-management-kubectl/kustomization in Korean

**Page to Update:**
https://kubernetes.io/docs/concepts/overview/object-management-kubectl/kustomization/

/language ko

[2019-05-14 13:40] chenrui333 commented on #13997
No, we dont need to put into website repo, only cheatsheet repo is enough.

[2019-05-14 13:46] gitsoso opened #14316 "Issue with k8s.io/docs/tasks/debug-application-cluster/debug-cluster/"
**This is a Bug Report**

Coredns pods remain in pending state, before and after deploying networking on kubernetes

**Problem:**
I can't get coredns to complete deployment
kube-system   coredns-fb8b8dccf-f7g2v                           0/1     CrashLoopBackOff   8          19m
kube-system   coredns-fb8b8dccf-vn5q9                           0/1     CrashLoopBackOff   8          19m

**Proposed Sol

[2019-05-14 14:58] #13996 closed

[2019-05-14 17:27] sftim commented on #14316
It sounds like you'd like help with troubleshooting?

If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes)

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

/triage support

[2019-05-14 18:30] visch opened #14322 "error: unable to recognize "example-ingress.yaml": no matches for kind "Ingress" in version "networking.k8s.io/v1beta1""
**This is a Bug Report**

**Problem:** Tried using the interactive minikube website and ran into issues. Specefically when running kubectl apply -f example-ingress.yaml . I am following https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/

I received

[code]
**Proposed Solution:**

The solution that worked for me was to use the old api version of `apiVersion: extensions/v1

[2019-05-14 18:39] #9807 closed

[2019-05-14 18:40] visch commented on #14322
https://github.com/kubernetes/website/pull/14239/files was the PR that changed them all. I'm sure there was a reason to change them!

[2019-05-14 20:48] sftim commented on #14322
My guess is that you're looking at the latest documentation, whilst using an older Kubernetes version.
Does that explain what's happened?

[2019-05-14 20:51] sftim commented on #5993
/language en

[2019-05-14 20:54] andrewhowdencom opened #14323 "The instructions for installing Cilium omit the `--pod-network-cidr` argument, create mesh that doesnt work"
**This is a Bug Report**

**Problem:**

When following the instructions to install `cilium` with `kubeadm`, the instructions omit the inclusion of the `--pod-network-cidr` argument.

This appears to create a condition in which the `kube-proxy` does not SNAT traffic correctly on its return path for containers using the host network -- including those critical for cilium, such as the cilium agent.

[2019-05-14 20:54] sftim commented on #2268
The current version of https://kubernetes.io/docs/admin/dns/ doesn't mention `pod.cluster.local`
I'm not sure, but: is this OK to close?

[2019-05-14 21:40] zacharysarah opened #14325 "Test, please ignore"
Test issue

[2019-05-14 21:40] zacharysarah commented on #14325
/project 3

[2019-05-15 01:50] visch commented on #14322
I'm using the minikube available via the "Launch terminal" window on the web page at  https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/

minikube version: v0.34.1
Kubernetes v1.13.3

Is there a different place we should go to to request the kubernetes version get updated on the documentation page?

[2019-05-15 04:34] ashishth09 opened #14329 "Issue with k8s.io/docs/tasks/run-application/run-stateless-application-deployment/"
**This is a Bug Report**

**Problem:**

This file is malformed  https://k8s.io/examples/application/deployment.yaml

[code]
There is a `9` appearing in the file

**Proposed Solution:**
Remove 9

**Page to Update:**
https://kubernetes.io/...

[2019-05-15 06:19] yohanesmario commented on #13929
Hi guys, I'm taking `Cron Jobs` in `content/id/docs/concepts/workloads`

[2019-05-15 06:35] phanama commented on #13929
I'm taking `Disruptions` in `concepts/workloads`

[2019-05-15 07:14] DanyC97 commented on #14294
@ravimsai the links provided by @sftim in his [previous](https://github.com/kubernetes/website/issues/14294#issuecomment-491821890) comment were the correct one for this type of request.

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find  answers to fre

[2019-05-15 07:26] DanyC97 commented on #13862
great collaboration and self-organization @oomichi @s-ito-ts @k-toyoda-pi

🆒 💯

[2019-05-15 07:30] szuecs opened #14330 "Issue with k8s.io/docs/reference/command-line-tools-reference/kubelet-authentication-authorization/"
**This is a request for better documentation**

**Problem:**

The text in https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet-authentication-authorization/ is quite hard. For example: why kubelet needs to have `--authentication-token-webhook` is not clear enough to understand the request flow.

**Proposed Solution:**

There should be a statechart diagram or a request flow pic

[2019-05-15 08:11] wahyuoi commented on #13929
Hi, I'm taking `Pod Lifecycle` in `content/id/docs/concepts/workloads`

[2019-05-15 11:26] sftim commented on #14322
You can find documentation for Kubernetes v1.13 at https://v1-13.docs.kubernetes.io/
so that page would be https://v1-13.docs.kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/

It's based on a snapshot of the documentation from just before v1.14 came out. If there's something not right, even in older versions of the documentation, that absolutely can be logged as an issue.

Doe

[2019-05-15 13:51] neolit123 commented on #14323
@andrewhowdencom thanks for catching this.

yes, this is true.
are you willing to help by submitting a PR for this repository to fix the problem?

/sig cluster-lifecycle

[2019-05-15 17:37] FranklinYu opened #14336 "Syntax highlight of commands example"
**This is a Feature Request**

**What would you like to be added**
In the code, separate command and output.

**Why is this needed**
For example in [Minikube quickstart](https://kubernetes.io/docs/setup/minikube/#quickstart) I see several consecutive code blocks. It’s difficult to visually tell which one is output at first glance. Currently it’s like

We have rectangles around code blocks in GitHu

[2019-05-15 18:24] oomichi commented on #13862
@DanyC97 Thank you so much :-)

[2019-05-15 21:43] adic26 opened #14337 "Improvement for k8s.io/docs/reference/setup-tools/kubeadm/kubeadm/"
No instructions or link on how to install Kubeadm for newbies

[2019-05-16 01:43] T993925092 opened #14341 "Issue with k8s.io/zh/docs/home/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-05-16 01:44] #14341 closed

[2019-05-16 02:08] xtayfjpk opened #14342 "Issue with k8s.io/docs/concepts/workloads/controllers/replicaset/"
**This is a Bug Report**

**Problem:**
Rolling update section is missing.
**Proposed Solution:**
Add rolling update section.
**Page to Update:**
https://kubernetes.io/...
https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/

v1.14

[2019-05-16 02:41] evanap commented on #13929
Hi, I'm taking `Persistent Volumes` in `content/id/docs/concepts/storage`

[2019-05-16 02:49] marchellametta commented on #13929
I'm taking `Assign Pod Node` in `content/id/docs/concepts/configuration`

[2019-05-16 03:00] irvifa commented on #13929
I'm taking Taint and Toleration

[2019-05-16 04:44] dangen-effy commented on #12472
[Task list]

* [ ] translations for [Labels and Selectors](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/) section
* [ ] translations for [Motivation](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#motivation) section
* [ ] translations for [Syntax and character set](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#synt

[2019-05-16 05:47] alanghartJC opened #14344 "Issue with k8s.io/docs/tasks/access-application-cluster/ingress-minikube/"
**This is a Bug Report**

**Problem:**
Formatting of example-ingress.yaml is messed up
**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/#create-an-ingress-resource

[2019-05-16 06:25] ariebrainware commented on #14344
Which page?

[2019-05-16 06:28] alanghartJC commented on #14344
Woops, fixed my comment

[2019-05-16 07:13] iputra opened #14346 "Improvement for navigation on mobile view"
Improvement for navigation on the mobile view. The improvements can be seen in the image that I attached below. I changed value from 0 to 8px in the `margin-left` property with selector `#vendorStrip li + li` in the `sass/_base.sass` file.

![k8s-navbar](https://user-images.githubusercontent.com/19358335/57832520-0f07e280-77e2-11e9-925d-a2d539f4990e.png)

[2019-05-16 07:14] #11769 closed

[2019-05-16 13:57] jbindinga-nice opened #14349 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
**This is a Bug Report**

**Problem:**
The terminal in the Interactive Tutorial is not responding, error:

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/

[2019-05-16 14:17] kakts opened #14350 "Translate concepts/overview/working-with-objects/field-selectors.md in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/overview/working-with-objects/field-selectors.md in Japanese.

**Why is this needed**
This document is not translated in Japanese.

**Comments**
Copy a file from en contents to content/ja/docs/concepts/overview/working-with-objects/field-selectors.md and translate it into Japanese.

[2019-05-16 14:21] kakts commented on #14350
/language ja

[2019-05-16 14:49] c5253458 opened #14351 "Issue with k8s.io/docs/tasks/access-application-cluster/port-forward-access-application-cluster/"
Direction of port forwarding is unclear, because 6379 is used as port of pod and port of host-interface.

[2019-05-16 14:57] c5253458 opened #14352 "Issue with k8s.io/docs/reference/kubectl/overview/"
Unclear which of LOCAL_PORT and REMOTE_PORT is pod-port.

[2019-05-16 15:04] rajeshdeshpande02 commented on #14352
REMOTE_PORT is pod port. i will update document to remove ambiguity

[2019-05-16 15:08] rajeshdeshpande02 commented on #14351
@c5253458  I am agree with you on this . First time reader will get confused with same local and pod port number. I will fix this to have different port number so that people will understand concept easily.  Thanks for this issue.

[2019-05-16 15:34] Kanshiroron commented on #12657
/remove-lifecycle stale

[2019-05-16 16:39] DanyC97 commented on #14329
/language en
/help wanted

[2019-05-16 16:42] DanyC97 commented on #14329
/good-first-issue

[2019-05-16 17:41] kbhawkey commented on #14272
/assign

[2019-05-16 17:43] kbhawkey commented on #14272
@steveperry-53, if it is okay with you, would you assign this `task` to me?

[2019-05-16 17:45] krlooss commented on #13948
I'll take on glossary term: job

[2019-05-16 17:46] daverick commented on #13948
glossary service will take  glossary service

[2019-05-16 17:48] dgomezferro commented on #13948
I'll take pod

[2019-05-16 17:48] javisabalete commented on #13948
I'll take _image_ from glossary

[2019-05-16 17:49] asamarin commented on #13948
I'll take deployment

[2019-05-16 17:49] ignasi35 commented on #13948
I'd like to translate glossary/secret

[2019-05-16 17:50] atsuky commented on #13948
I'll take glossary/cla

[2019-05-16 17:51] rajeshdeshpande02 commented on #14336
@FranklinYu  Thanks for your valuable suggestions and reporting this issue. Here https://kubernetes.io/docs/contribute/style/style-guide/#separate-commands-from-output are well defined style guidelines which makes it easy to separate command from its output. Now i have corrected those steps using PR #14355 and tried to follow set guidelines.

[2019-05-16 17:53] steveperry-53 commented on #14272
/assign @kbhawkey

[2019-05-16 17:58] steveperry-53 commented on #14272
@kbhawkey I understand the concerns you've raised above. So we might want to do some refactoring of content in addition to moving some of the content to Tasks. I would think that all of the conceptual content could be in one topic. And in the one conceptual topic, we could have highly visible links to the task topics.

As for your question on associating task content with reference content, I'll l

[2019-05-16 18:00] paudirac commented on #13948
I'll take node

[2019-05-16 18:01] FranklinYu commented on #14336
Closed in favor of #14355.

[2019-05-16 18:01] #14336 closed

[2019-05-16 18:04] gamusinoo commented on #13948
Hi! I'll take persistent-volume-claim

[2019-05-16 18:04] steveperry-53 commented on #14272
@kbhawkey It looks like you'll have to join the Kubernetes org before we can assign an issue to you. So I've assigned this to myself for now, just to hold on to it. If you'd like, go ahead and start a PR.

[2019-05-16 18:10] kbhawkey commented on #14272
Thanks, joining is on my todo list 😃 . I will start with moving the existing content and think about what information could be pulled out and remain in the concepts section.

[2019-05-16 18:20] slienyp commented on #13948
i'll take glossary/selector

[2019-05-16 18:23] ureesoriano commented on #13948
I'll take glossary/replica-set

[2019-05-16 22:15] tfogo commented on #14016
dup of #12968

[2019-05-16 22:15] #14016 closed

[2019-05-17 01:23] k-toyoda-pi commented on #14261
I want the links to https://kubernetes.io/docs. It seems to be same as #14271.
- https://kubernetes.io/docs/setup/
- https://kubernetes.io/docs/tasks/
- and so on

[2019-05-17 01:47] #14293 closed

[2019-05-17 06:30] antoooks commented on #13929
Hello, I'm taking `Pod Preset` in `content/id/docs/concepts/workloads`

[2019-05-17 08:03] girikuncoro commented on #13929
I'm taking Dynamic Provisioning and Storage Limits of `content/id/docs/concepts/storage`

[2019-05-17 09:10] mkohalli opened #14375 "Issue with TCP connection issue/kube-proxy/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-05-17 09:11] #14375 closed

[2019-05-17 09:11] mkohalli commented on #14375
cS

[2019-05-17 09:38] rk186009 opened #14376 "Improvement for k8s.io/docs/concepts/overview/kubernetes-api/"
Most of this discussion (changes, groups & versioning) is advanced, not required for a conceptual / basic understanding. It can be moved elsewhere.

[2019-05-17 09:56] irvifa commented on #13929
I'm taking secret

[2019-05-17 10:01] atsuky commented on #13948
@raelga Taking content/id/docs/concepts/containers/container-environment-variables.md

[2019-05-17 10:11] rk186009 opened #14377 "Improvement for k8s.io/docs/concepts/overview/working-with-objects/labels/"
I am new to Kubernetes and this is my impression upon reading the first few pages of documentation:

We are teaching the entire grammar in one go - what are nouns, adjectives, adverbs, proverbs; what are the rules of constructing complex sentences, and so on. A child needs to learn the basics first - mama, dada, give me, come here, etc. We need to have a 'Getting Started' chapter with the basics -

[2019-05-17 10:50] rajeshdeshpande02 commented on #14377
@rk186009 Thanks for raising your doubt. From your description i understood that you are looking to build small application in k8s as newbie. These things are documented here https://kubernetes.io/docs/tutorials/.
And the concept section which you are referring to follow some logic sequence which starts from its basics. The basic things which you are suggesting is not really basic things (example

[2019-05-17 11:36] rk186009 commented on #14377
@rajeshdeshpande02 - Thanks. The tutorial 'Learn Kubernetes Basics' https://kubernetes.io/docs/tutorials/kubernetes-basics has what I need.

[2019-05-17 11:36] #14377 closed

[2019-05-17 12:58] oz123 opened #14380 "Improvement for k8s.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/"
Please provide a clarification on the effect of  `pv.beta.kubernetes.io/gid: "1234"`  or      `pv.beta.kubernetes.io/gid: "1234"`.

I followed the examples in this task, and added the annotation to the PV:

[code]

Now, the docs say:

So where are they?
[code]

Inside the container, the first process is still run as root with id 0.
[code]

Also, all the directories belong just to root
[code]

I wo

[2019-05-17 13:31] oke-py opened #14381 "Translate tasks/debug-application-cluster/debug-init-containers/ in Japanese"
# Translate tasks/debug-application-cluster/debug-init-containers/ in Japanese

**This is a...**

* [x]  Feature Request
* [ ]  Bug Report

**Problem:**
No tasks/debug-application-cluster/debug-init-containers/ in Japanese.

**Proposed Solution:**
Translate tasks/debug-application-cluster/debug-init-containers/ in Japanese.
Copy from en content and Update `content/ja/docs/tasks/debug-application-c

[2019-05-17 13:31] oke-py commented on #14381
/language ja

[2019-05-17 14:15] edmorley commented on #7386
/remove-lifecycle rotten

[2019-05-17 14:30] oz123 commented on #14380
After searching for a long time I think I found the problem.
`hostPath` seems not to offer this capability at all. I might be wrong about it.
Maybe there is a need for explicit clarification of which volume types support this annotations.

[2019-05-17 14:37] yohanesmario commented on #13929
I've sent PR for CronJob (#14382), and would like to continue to take `ReplicaSet` in `content/id/docs/concepts/workloads`.

[2019-05-17 15:17] oz123 commented on #14380
It seems that even with NFS it's not clear what this feature is supposed to do:

Here is a container which mounts NFS with beta annotation on the Volume
[code]
The directories are still owned by root:
[code]
PID 1 is still root:root
[code]

Here are my k8s manifests:
[code]

[2019-05-17 16:46] #8186 closed

[2019-05-17 19:58] cdjohnson opened #14386 "Issue with k8s.io/docs/concepts/services-networking/dns-pod-service/ - cluster.local"
**This is a Bug Report**

**Problem:**
There are several examples that use the `cluster.local` zone as though it's not a configurable zone.  In reality, it's overridable using the `--cluster-domain` kubelet parameter.  This creates problems for application developers when they try to write portable applications that use the DNS for Service name resolution since they will incorrectly assume that `c

[2019-05-17 22:51] #11803 closed

[2019-05-18 10:37] jluis commented on #13948
@raelga I will add sysclt content/es/docs/reference/glossary/sysctl.md as commented after the meetup to check I've a working environment for Monday's Contributor Summit

[2019-05-18 14:06] #11802 closed

[2019-05-18 15:53] femrtnz commented on #13997
great!

/assign @chenrui333

[2019-05-19 13:19] kakts opened #14397 "Translate concepts/overview/working-with-objects/common-labels/ in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/overview/working-with-objects/common-labels/ in Japanese.

**Why is this needed**
This document is not translated in Japanese.

**Comments**
Copy a file from en contents to content/ja/docs/concepts/overview/working-with-objects/common-labels.md and translate it into Japanese.

[2019-05-19 13:19] kakts commented on #14397
/language ja

[2019-05-19 13:33] SeekLion opened #14398 "Issue with k8s.io/zh/docs/home/"
web site response slowly ,sometime cannot open kubenetes site like this **https://kubernetes.io/zh/blog/**

[2019-05-19 14:25] chiplux opened #14399 "Issue with k8s.io/docs/tutorials/hello-minikube/"
**This is a Bug Report**

**Problem:**
katacoda problem cannot access minikube dashboard via browser port 30000 "error 502 bad gateway"
**Proposed Solution:**
fixing Katacoda port connection
**Page to Update:**
https://kubernetes.io/docs/tutorials/hello-minikube/

[2019-05-19 15:52] EpiqSty opened #14401 "Issue with k8s.io/docs/tutorials/configuration/configure-redis-using-configmap/"
**This is a Bug Report**

**Problem:**
redis is not using config attached via configmap

**Proposed Solution:**
[code]
should been added to pods/config/redis-pod.yaml redis container's spec

**Page to Update:**
k8s.io/docs/tutorials/configuration/configure-redis-using-configmap/

Kubernetes Version:
[code]
Container log:
[code]

[2019-05-19 16:04] yjw113080 opened #14402 "Translate concepts/storage/persistent-volume.md"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/storage/persistent-volume.md

**Why is this needed**
No traslation for persistent volumes.

**Comments**

[2019-05-19 16:05] yjw113080 commented on #14402
/language ko
/assign

[2019-05-19 16:31] SakirSoft opened #14404 "Issue with k8s.io/docs/concepts/architecture/cloud-controller/"
**This is a Bug Report**

**Problem:**
In both diagrams the term "Kubernetes Minions" is used but the term "node" should be used.

**Proposed Solution:**
Use the term "node" instead of "Kubernetes Minions"

**Page to Update:**
https://kubernetes.io/docs/concepts/architecture/cloud-controller/

[2019-05-19 18:00] juandiegopalomino opened #14406 "Vendor links for Cloud Controller Manager are brokend"
**This is a Bug Report**

**Problem:**
The links to aws, gce, and azure cloud controller implementations in https://kubernetes.io/docs/concepts/architecture/cloud-controller/#vendor-implementations are broken

**Proposed Solution:**
Update the doc to point to the correct links

**Page to Update:**
https://kubernetes.io/docs/concepts/architecture/cloud-controller/#vendor-implementations

[2019-05-19 18:26] juandiegopalomino opened #14407 "Update the Kubernetes Components page"
**This is a Feature Request**

Following sig-docs tasks to revamp the concept documentation, there's some work to be done for the components page: https://kubernetes.io/docs/concepts/overview/components/

**What would you like to be added**

* Make sure to follow the style guide: https://kubernetes.io/docs/contribute/style/style-guide/ (there's a couple of place missing capitalization)
* cloud con

[2019-05-19 20:48] mistyhacks commented on #7581
/assign

[2019-05-19 22:38] #8304 closed

[2019-05-19 23:50] juandiegopalomino opened #14409 "Add a new concepts page for Operators"
**This is a Feature Request**

I know Operators are considered still in the experimental stage by many, but they have grown to be a significant portion of the community and are the de facto form of deploying important resources (such as prometheus metrics). Till now, however, there's no official page in the documentation for operators (most references to them are to the coreos docs), which makes t

[2019-05-20 02:50] juandiegopalomino opened #14410 "Working with Kubernetes Objects -- Namespaces update"
**This is a Feature Request**
The namespaces docs under the Working with Kubernetes Objects section, https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/ needs updates.

**What would you like to be added**

The documentation makes no mention of the rbac capabilities possible via namespaces. As the rbac manipulations are strongly tied to namespace scoping (normally they're

[2019-05-20 03:13] devlware commented on #13939
Hi @femrtnz! I'd like to work on __Cluster Administration Overview__ (content/id/docs/concepts/cluster-administration). Can you assign me?

[2019-05-20 05:45] #11840 closed

[2019-05-20 08:47] DanyC97 commented on #12501
/remove-lifecycle stale
/language en

[2019-05-20 08:51] DanyC97 commented on #14167
no need to apologies @zrml , thank you for feedback.
/close

[2019-05-20 08:51] #14167 closed

[2019-05-20 08:53] DanyC97 commented on #14019
in absence of any feedback i'm going to close the issue.
/close

[2019-05-20 08:53] #14019 closed

[2019-05-20 12:21] #14160 closed

[2019-05-20 12:53] jonasrosland commented on #14404
Here are the files that needs to be updated:
https://github.com/kubernetes/website/blob/master/static/images/docs/pre-ccm-arch.png
https://github.com/kubernetes/website/blob/master/static/images/docs/post-ccm-arch.png

[2019-05-20 13:26] remyleone opened #14416 "Add a script to help translators see the changes that occurred since the last translation"
**This is a Feature Request**

**What would you like to be added**

I would like to have a script like `./scripts/last_changes.py` that will queries all the changes that happen to a reference document (in English) since the last time a given translation was merged (For instance in French).

As a translation contributor, my job is to translate a page to another language but once the translation is

[2019-05-20 14:47] sftim commented on #13615
Looks like this might be fixed(?)
Is more work needed?

[2019-05-20 14:48] sftim commented on #14211
I'm going to run through this with @abuango as an example

[2019-05-20 14:57] alex-slynko opened #14420 "Upgrade cluster will benefit from generic cluster upgrade description"
**This is a Feature Request**

**What would you like to be added**
Do a high-level description of how to upgrade the cluster.
Such as:
- upgrade etcd
- upgrade masters
- upgrade workers with keeping in mind that workloads can go down

**Why is this needed**
Lots of people use manual installations and do not use tools/scripts that are described in the doc.

**Comments**
I plan to send a simple pull

[2019-05-20 16:28] kakts opened #14426 "Translate concepts/workloads/pods/pod-overview/ in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/workloads/pods/pod-overview/ in Japanese.

**Why is this needed**
This document is not translated in Japanese.
**Comments**

Copy a file from en contents to content/ja/docs/concepts/workloads/pods/pod-overview.md and translate it into Japanese.

[2019-05-20 16:28] kakts commented on #14426
/language ja
/assign

[2019-05-20 18:28] Gyeah11 opened #14428 "Issue with k8s.io/docs/tutorials/configuration/configure-redis-using-configmap/"
**Problem:**

They code that is shown in website from page :
https://raw.githubusercontent.com/kubernetes/website/master/content/en/examples/pods/config/redis-pod.yaml

Is different if I type the below commands from tutorial :

curl -OL **https://k8s.io/examples/pods/config/redis-pod.yaml**
cat <<EOF >>./kustomization.yaml
resources:
- redis-pod.yaml
EOF

Actually the problem is that content of th

[2019-05-20 21:55] hpandeycodeit commented on #14329
@ashishth09 the above file ( in the link) does not have the "9" as you mentioned. Is this the correct yaml file you are referring to?

[2019-05-21 00:01] kevinsimper opened #14431 "Sidebar links improvement suggestion"
I think the links in the sidebar looks a bit unaligned.
![image](https://user-images.githubusercontent.com/1126497/58059216-54266e80-7b6c-11e9-98a6-f001b4e5aedb.png)

Does this look better? I can make it if people agree :)
![image](https://user-images.githubusercontent.com/1126497/58059193-3b1dbd80-7b6c-11e9-894e-121ced75cfed.png)

[2019-05-21 02:50] juandiegopalomino opened #14433 "Update Labels/Selectors and Annotations docs"
**This is a Feature Request**

The "Labels and Selectors" and "Annotation" concept docs, https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/ and https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/ need some updates

**What would you like to be added**

They should include some pod yamls demonstrating how these fields look like in a regular manifest

[2019-05-21 02:52] atshakil opened #14435 "Improvement for k8s.io/docs/concepts/services-networking/ingress/"
*federation documentation* link in [Failing across availability zones](https://kubernetes.io/docs/concepts/services-networking/ingress/#failing-across-availability-zones) section still refers to the deprecated `Federation v1` documentation.

**Suggested improvement**: Update *federation documentation* link to [v2](https://github.com/kubernetes-sigs/federation-v2).

[2019-05-21 03:10] chenrui333 commented on #13997
Thanks @femrtnz for the hard work!! 💯

/close

[2019-05-21 03:10] #13997 closed

[2019-05-21 04:42] anik-chakravorty opened #14436 "Issue with k8s.io/docs/tutorials/hello-minikube/"
**This is a Bug Report**

Was trying to run the tutorial : https://kubernetes.io/docs/tutorials/hello-minikube/
The tutorial is a part of the coursera course: https://www.coursera.org/learn/deploy-micro-kube-ibm-cloud/home/welcome
While trying to run the aforementioned tutorial faced the following error while trying to execute "minikube dashboard":

$ minikube dashboard

-   Enabling dashboard ...

[2019-05-21 04:56] rajeshdeshpande02 commented on #14433
@juandiegopalomino Thanks for raising this issue. I am agree with you on this. We should have label and annotation examples documented on these pages to show how it looks like in YAML. I will work on this to add examples on both the pages. Please let me know if anyone has different thoughts on this.

[2019-05-21 05:07] #11846 closed

[2019-05-21 05:32] prankul88 commented on #14436
Thanks for reporting this bug.
But seems like it has been addressed in patch https://github.com/kubernetes/website/pull/14240

[2019-05-21 09:54] #12736 closed

[2019-05-21 14:22] sftim commented on #14420
/triage feature

[2019-05-21 14:23] sftim commented on #14416
Good idea!
/triage feature

[2019-05-21 14:24] sftim commented on #14409
/triage feature

[2019-05-21 14:25] sftim commented on #14409
https://kubernetes.io/docs/concepts/extend-kubernetes/extend-cluster/#combining-new-apis-with-automation describes Operators very briefly. I agree that the concept is useful enough to merit its own page.

[2019-05-21 15:19] cstoku commented on #12735
@auifzysr いかがでしょう？
厳しそうであればCloseしていただいても大丈夫です。

[2019-05-21 15:23] cstoku commented on #14296
/milestone 1.14-ja.1

[2019-05-21 15:51] cstoku commented on #13383
/close

[2019-05-21 15:51] #13383 closed

[2019-05-21 15:51] cstoku commented on #13380
/close

[2019-05-21 15:51] #13380 closed

[2019-05-21 15:52] cstoku commented on #13086
/close

[2019-05-21 15:52] #13086 closed

[2019-05-21 16:03] sftim commented on #14409
/assign

[2019-05-21 16:25] hasebe opened #14444 "Translate concepts/architecture/nodes.md into Japanese"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**
No `concepts/architecture/nodes.md` in Japanese.

**Proposed Solution:**
Copy a file from en contents to `concepts/architecture/nodes.md` and translate it into Japanese.

**Page to Update:**
https://kubernetes.io/ja/docs/concepts/architecture/nodes/

[2019-05-21 16:26] hasebe commented on #14444
/language ja

[2019-05-21 16:28] hasebe opened #14445 "Translate concepts/architecture/master-node-communication.md into Japanese"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**
No `concepts/architecture/master-node-communication.md` in Japanese.

**Proposed Solution:**
Copy a file from en contents to `content/ja/docs/concepts/architecture/master-node-communication.md` and translate it into Japanese.

**Page to Update:**
https://kubernetes.io/ja/docs/concepts/architecture/master-node-communication/

[2019-05-21 16:28] hasebe commented on #14445
/language ja

[2019-05-21 17:22] sethmccombs commented on #14435
I'd love to work on this unless someone else has picked it up?

[2019-05-21 17:29] sethmccombs commented on #14406
Hey @juandiegopalomino those links work for me

AWS points to https://github.com/kubernetes/cloud-provider-aws
GCP to https://github.com/kubernetes/cloud-provider-gcp
Azure to https://github.com/kubernetes/cloud-provider-azure

Are you still seeing issues?

[2019-05-21 17:35] visch opened #14447 "v1-13 : Ingress error: error parsing example-ingress.yaml: error converting YAML to JSON: yaml: line 2: mapping values are not allowed in this context"
**This is a Bug Report**
**Problem:**
Page: https://v1-13.docs.kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/
error: error parsing example-ingress.yaml: error converting YAML to JSON: yaml: line 2: mapping values are not allowed in this context. This is due to the --- at the top of the yaml file. I think the --- should just be removed as it is

[code]

**Proposed Solution:**

[2019-05-21 17:38] visch commented on #14322
The latest version also has the same issue as I reported, it looks to be due to the wrong version of kubernetes being loaded. v1.13.3 is being loaded even though the documentation is for v1.14.*

[code]

Should I change the issue name to something else or submit a separate issue about the terminal loading the wrong version of kubernetes?

I verified that v1-13 does have a different issue now, subm

[2019-05-21 18:14] #13105 closed

[2019-05-21 18:51] sethmccombs commented on #14401
https://github.com/kubernetes/website/pull/14448

[2019-05-21 18:51] sethmccombs commented on #14428
PR - https://github.com/kubernetes/website/pull/14448

[2019-05-21 19:08] DanRoscigno commented on #14101
List of topics in the community guide:
- [ ] Contact info
- [ ]
- [ ]
- [ ]
- [ ]
- [ ]

[2019-05-21 19:57] DanRoscigno commented on #14101
As I dig in deeper to the templates, content organization, and Hugo shortcode pages I expect to find some of the unchecked items.  More in a bit.

[2019-05-21 20:22] thecrudge commented on #14428
/close

This issue is fixed with the above PR

[2019-05-21 20:22] #14428 closed

[2019-05-21 20:22] thecrudge commented on #14401
/close

Issue is fixed with the above PR

[2019-05-21 20:22] #14401 closed

[2019-05-21 20:41] thecrudge commented on #14435
@sethmccombs That would be really helpful thanks. There is a remediation project underway to get rid of the deprecated Federation v1 documentation. You can actually just remove the v1 docs.

[2019-05-21 20:42] thecrudge commented on #14435
/assign @thecrudge

[2019-05-21 21:01] thecrudge commented on #14344
PR 14449

Issue is not with the formatting, but the apiVersion

[2019-05-21 21:01] thecrudge commented on #14344
/assign @thecrudge

[2019-05-21 21:05] thecrudge commented on #14447
PR #14449 fixes this issue.

/close

[2019-05-21 21:05] #14447 closed

[2019-05-21 21:07] thecrudge commented on #14322
Fixed in PR #14449 Issue is wrong api version

/close

[2019-05-21 21:07] #14322 closed

[2019-05-21 21:09] thecrudge commented on #14284
api version, and formatting have been corrected in #14449 and #14447

/close

[2019-05-21 21:09] #14284 closed

[2019-05-21 21:10] thecrudge commented on #14262
This was corrected in #14447 and #14449

/close

[2019-05-21 21:10] #14262 closed

[2019-05-21 21:11] thecrudge commented on #13711
/close

This issue has been addressed

[2019-05-21 21:11] #13711 closed

[2019-05-21 21:19] vsadikov opened #14450 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro/"
**This is a Bug Report**

The content owner's account has reached capacity.

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-05-22 03:30] Steven0351 opened #14453 "Issue with k8s.io/docs/tasks/manage-kubernetes-objects/declarative-config/"
**This is a Bug Report**

**Problem:**
The [Kubernetes Object Management](https://kubernetes.io/docs/concepts/overview/object-management-kubectl/overview/) hyperlink under the [Trade-offs](https://kubernetes.io/docs/tasks/manage-kubernetes-objects/declarative-config/#trade-offs) section returns a 404
**Proposed Solution:**
Fix the link or remove the reference to it
**Page to Update:**
https://kube

[2019-05-22 03:40] Steven0351 commented on #14453
I perused the source and this looks like the likely candidate: https://kubernetes.io/docs/concepts/overview/working-with-objects/object-management/#imperative-object-configuration

If this is a low priority I can probably make the updates and open a PR

[2019-05-22 05:09] prankul88 commented on #14398
Seems to be a connection issue. Working Fine for me.

[2019-05-22 05:42] prankul88 commented on #14453
@Steven0351 Sure you can open a PR for this.

[2019-05-22 06:02] prankul88 opened #14454 "Issue in k8s.io/docs/tasks/administer-cluster/dns-custom-nameservers/"
**This is a Bug Report**

**Problem:** "Customizing DNS Service" page have link to "Configuring CoreDNS"  (https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/#config-coredns). But the page doesnot have any section config-coredns

**Proposed Solution:** The link must be updated to [https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/#coredns-configmap-

[2019-05-22 07:36] antoooks commented on #13929
I'll be taking `Garbage Collection` in `content/id/docs/concepts/workloads`.

[2019-05-22 07:42] cstoku commented on #14088
/close

[2019-05-22 07:42] #14088 closed

[2019-05-22 07:43] cstoku commented on #13083
/close

[2019-05-22 07:43] #13083 closed

[2019-05-22 07:44] cstoku commented on #13952
/close

[2019-05-22 07:44] #13952 closed

[2019-05-22 07:44] cstoku commented on #14042
/close

[2019-05-22 07:44] #14042 closed

[2019-05-22 08:04] rmetzler opened #14457 "You shouldn't disable SELinux"
**This is a Feature Request**

**What would you like to be added**

**current state**

The docs tell the admin to disable SELinux / set it into permissive mode.

E.g this example from the kubeadm installation.
[code]

**what I would like to see**

I'm not an SELinux Expert, but I recognized the OpenShift Installer just enables the `container_manage_cgroup` and that's it.

https://github.com/opensh

[2019-05-22 08:05] cstoku commented on #13392
/close

[2019-05-22 08:05] #13392 closed

[2019-05-22 08:39] judavi commented on #13917
Looks like this already been fixed on the latest version of the diagram
![Captura de pantalla 2019-05-22 a la(s) 10 39 12 a  m](https://user-images.githubusercontent.com/1766933/58159997-de122c80-7c7d-11e9-83f4-b705b80152aa.png)

[2019-05-22 08:53] judavi commented on #13964
Hi, @shahamit2 I was thinking about starting working on this but I reviewed the document and the [YAML file](https://github.com/kubernetes/website/blob/master/content/zh/docs/concepts/workloads/controllers/nginx-deployment.yaml) being used for the example is configuring 3 replicas which seem is the actual output exposed in the documentation. Please, kindly advice.

[2019-05-22 09:50] sftim commented on #14453
/triage bug

[2019-05-22 09:50] sftim commented on #14454
/triage bug

[2019-05-22 10:50] sethmccombs commented on #14342
PR - #14462, there's a couple options to fix this.

[2019-05-22 13:42] tengqm commented on #13871
Fixed by #13871

[2019-05-22 13:42] #13871 closed

[2019-05-22 14:12] kbhawkey commented on #13615
I would assume that this issue is fixed.

[2019-05-22 14:16] sethmccombs opened #14466 "Pick the Right Solution page is missing? Removed?"
**This is a Bug Report**
**Problem:**
The link from "Cluster Administration Overview" to " Picking the Right Solution" is a 404.
`docs/setup/pick-right-solution/` does not exist, searching the repo seems like it's referenced in a few places.

It was removed by #14442

**Proposed Solution:**
Update the stale links to point to Setup page

**Page to Update:**
https://kubernetes.io/docs/setup/pick-rig

[2019-05-22 14:16] sethmccombs commented on #14466
For example - this page - https://kubernetes.io/docs/concepts/cluster-administration/cluster-administration-overview/#planning-a-cluster is pointing to that link (pick-right-solution) but it doesn't exist.

[2019-05-22 14:18] #14062 closed

[2019-05-22 14:18] sethmccombs commented on #14466
[code]
Looks like roughly 50 places are referencing it. Unless I'm missing something.

[2019-05-22 14:18] sethmccombs commented on #14466
I'll start working on this

[2019-05-22 14:19] sethmccombs commented on #14454
/close

[2019-05-22 14:23] nowjean opened #14467 "Translate concept/workloads/pods/pod-overview.md in Korean"
**This is a Feature Request**

Translate concept/workloads/pods/pod-overview.md in Korean

[2019-05-22 14:30] sftim commented on #13615
/close

[2019-05-22 14:30] #13615 closed

[2019-05-22 14:32] sftim commented on #14454
/close
Fixed in #14455

[2019-05-22 14:32] #14454 closed

[2019-05-22 16:09] eshicks4 opened #14470 "Improvement for k8s.io/docs/concepts/containers/images/"
Need a imagePullPolicy option that attempts to pull 1st but, if unsuccessful, resorts to an existing image if one is found.  This would be 1 more thing you could add to high importance containers that just can't afford to be down.

[2019-05-22 16:14] Rajakavitha1 commented on #14466
Here are the list of pages where there are references to pick-right-solution)

content\en\docs\concepts\cluster-administration\cluster-administration-overview.md
content\en\docs\tasks\federation\administer-federation\cluster.md
content\en\docs\tasks\federation\administer-federation\configmap.md
content\en\docs\tasks\federation\administer-federation\daemonset.md
content\en\docs\tasks\federation\adm

[2019-05-22 16:18] Rajakavitha1 commented on #14466
/good first issue

[2019-05-22 16:21] Rajakavitha1 commented on #14466
/good-first-issue

[2019-05-22 20:51] paudirac commented on #13948
@raelga I'll take content/es/docs/reference/glossary/cluster.md

[2019-05-22 20:56] sethmccombs commented on #14466
No worries @Rajakavitha1! PR is in!

[2019-05-22 21:23] sethmccombs opened #14473 "Dangling "pick-right-solution" references - German"
This is a Bug Report
Problem:

The link from "Cluster Administration Overview" to " Picking the Right Solution" is a 404.
docs/setup/pick-right-solution/ does not exist, as it was removed as a redundant page.

Proposed Solution:
Update the stale links to point to Setup page not the "Picking the Right Solution" page

Page to Update:
https://kubernetes.io/de/docs/setup/

[2019-05-22 21:23] sethmccombs commented on #14473
/good-first-issue

[2019-05-22 21:25] sethmccombs opened #14474 "Dangling "pick-right-solution" references - Spanish"
This is a Bug Report
Problem:

The link from "Cluster Administration Overview" to " Picking the Right Solution" is a 404.
docs/setup/pick-right-solution/ does not exist, as it was removed as a redundant page.

Proposed Solution:
Update the stale links to point to Setup page not the "Picking the Right Solution" page

Page to Update:
https://kubernetes.io/es/docs/setup/

[2019-05-22 21:26] sethmccombs commented on #14474
/good-first-issue

[2019-05-22 21:27] sethmccombs commented on #14473
The references on this page point both too the root of the `pick-right-solution` page, but also to various IDs that no longer exist, there may be better pages to point those links to.

[2019-05-22 21:27] sethmccombs commented on #14474
The references on this page point both too the root of the `pick-right-solution` page, but also to various IDs that no longer exist, there may be better pages to point those links to.

[2019-05-22 21:30] sethmccombs opened #14475 "Dangling "pick-right-solution" references - French"
This is a Bug Report
Problem:

The link from "Cluster Administration Overview" to " Picking the Right Solution" is a 404.
docs/setup/pick-right-solution/ does not exist, as it was removed as a redundant page.

Proposed Solution:
Update the stale links to point to Setup page not the "Picking the Right Solution" page
The references on this page point both too the root of the `pick-right-solution` pa

[2019-05-22 21:32] sethmccombs commented on #14475
/good-first-issue

[2019-05-22 21:32] sethmccombs commented on #14474
/language es

[2019-05-22 21:33] sethmccombs commented on #14475
/language fr

[2019-05-22 21:33] sethmccombs commented on #14473
/language de

[2019-05-22 21:34] sethmccombs opened #14476 "Dangling "pick-right-solution" references - Indonesian"
This is a Bug Report
Problem:

The link from "Cluster Administration Overview" to " Picking the Right Solution" is a 404.
docs/setup/pick-right-solution/ does not exist, as it was removed as a redundant page.

Proposed Solution:
Update the stale links to point to Setup page not the "Picking the Right Solution" page
The references on this page point both too the root of the `pick-right-solution` pa

[2019-05-22 21:34] sethmccombs commented on #14476
/good-first-issue
/language id

[2019-05-22 21:36] sethmccombs opened #14477 "Dangling "pick-right-solution" references - Italian"
This is a Bug Report
Problem:

The link from "Cluster Administration Overview" to " Picking the Right Solution" is a 404.
docs/setup/pick-right-solution/ does not exist, as it was removed as a redundant page.

Proposed Solution:
Update the stale links to point to Setup page not the "Picking the Right Solution" page
The references on this page point both too the root of the pick-right-solution page

[2019-05-22 21:37] sethmccombs commented on #14477
/good-first-issue
/language it

[2019-05-22 21:39] sethmccombs opened #14478 "Dangling "pick-right-solution" references - Japanese"
This is a Bug Report
Problem:

The link from "Cluster Administration Overview" to " Picking the Right Solution" is a 404.
docs/setup/pick-right-solution/ does not exist, as it was removed as a redundant page.

Proposed Solution:
Update the stale links to point to Setup page not the "Picking the Right Solution" page
The references on this page point both too the root of the pick-right-solution page

[2019-05-22 21:40] sethmccombs commented on #14478
/good-first-issue
/language ja

[2019-05-22 21:44] sethmccombs opened #14479 "Dangling "pick-right-solution" references - Korean"
This is a Bug Report
Problem:

The link from "Cluster Administration Overview" to " Picking the Right Solution" is a 404.
docs/setup/pick-right-solution/ does not exist, as it was removed as a redundant page.

Proposed Solution:
Update the stale links to point to Setup page not the "Picking the Right Solution" page
The references on this page point both too the root of the pick-right-solution page

[2019-05-22 21:44] sethmccombs commented on #14479
/good-first-issue
/language ko

[2019-05-22 21:48] sethmccombs opened #14480 "Dangling "pick-right-solution" references - Chinese"
This is a Bug Report
Problem:

The link from "Cluster Administration Overview" to " Picking the Right Solution" is a 404.
docs/setup/pick-right-solution/ does not exist, as it was removed as a redundant page.

Proposed Solution:
Update the stale links to point to Setup page not the "Picking the Right Solution" page (or remove if applicable)

Page to Update:
https://kubernetes.io/zh/docs/concepts/c

[2019-05-22 21:48] sethmccombs commented on #14480
/good-first-issue
/language zh

[2019-05-22 22:08] sftim commented on #14466
Related issues for other localizations:
- #14473
- #14474
- #14475
- #14476
- #14477
- #14478
- #14479
- #14480

[2019-05-23 02:56] #14466 closed

[2019-05-23 05:54] seokho-son commented on #14479
Hello, @sethmccombs !
I am one of the reviewers for Korean localization contents.
Thank you for issuing the problem.
In case of Korean localization team, we periodically (2 or 3 weeks) create a working branch and apply translated documents by merging the working branch.
So, in general, we don't immediately reflect changes in English contents in Master branch to Korean contents in Master branch.
I

[2019-05-23 06:39] sethmccombs commented on #14479
Hey @seokho-son, sounds like this one will get taken care of when you change working branches. The removed page impacted most translations, and I figured the editing the links was a good first issue, so I logged one for all languages, so feel free to take care of this one in any way you see fit!

[2019-05-23 07:00] sftim commented on #14450
It looks like this is working (at least right now).

[2019-05-23 07:03] gochist commented on #14479
@sethmccombs @seokho-son Thank you! I think this is a good first issue too. Korean l10n team do not use GitHub milestone, however the milestone of this issue will be dev-1.14-ko.5.

[2019-05-23 07:07] sftim opened #14484 "Broken image top right of /docs/setup/independent/create-cluster-kubeadm/"
**This is a Bug Report**

**Problem:** There's an image shown top-right in the kubeadm docs, and that image is missing.
The missing image's URI is https://raw.githubusercontent.com/cncf/artwork/master/kubernetes/certified-kubernetes/versionless/color/certified-kubernetes-color.png

**Proposed Solution:** Diagnose and fix

**Page to Update:**
https://kubernetes.io/docs/setup/independent/create-clus

[2019-05-23 07:12] sftim commented on #14457
Looks like the bit that needs fixing is https://kubernetes.io/docs/setup/independent/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl - the tab for “CentOS, RHEL, or Fedora”

Currently there's an aside:

Maybe that's true. I haven't yet looked for an [issue against kubelet](https://github.com/kubernetes/kubernetes/issues?q=is%3Aissue+label%3Aarea%2Fkubelet) that would track that.

[2019-05-23 07:37] SupriyaSirbi commented on #14484
I have created the PR for the same.
Thanks for the issue

[2019-05-23 08:03] phanama commented on #13929
I'm taking `Init Containers` in `concepts/workloads`.
.
.
.
You have a typo in the list above: Init Contianers

[2019-05-23 13:08] sftim commented on #14406
/triage information-needed

[2019-05-23 21:33] bluepuma77 opened #14497 "Enhancement request with k8s.io/docs/setup/minikube/"
The Quickstart only creates a single pod. I thought kubernetes is used to scale services ;) Can you show how to scale it to 2 or 3 pods, so add one step before cleaning up minikube?

[2019-05-23 22:06] jingxu97 opened #14498 "Update VolumeSnapshot deletion policy"
**This is a Feature Request**

**What would you like to be added**

Since Kubernetes v 1.13, VolumeSnapshotContent and VolumeSnapshotClass support deletion policy. Should update the doc here https://kubernetes.io/docs/concepts/storage/volume-snapshot-classes/

[2019-05-23 23:26] marcushyungseoklee opened #14500 "Translate concepts/workloads/controllers/replicationcontroller in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/workloads/controllers/replicationcontroller in Korean

**Why is this needed**

No translation with concepts/workloads/controllers/replicationcontroller

**Comments**

Pages to Update
https://kubernetes.io/docs/concepts/workloads/controllers/replicationcontroller/

[2019-05-23 23:27] marcushyungseoklee commented on #14500
/language ko
/assign

[2019-05-24 05:49] const-k opened #14504 "translate concepts/workloads/controllers/garbage collection in korean"
This is a Feature Request

What would you like to be added

Translate concepts/workloads/controllers/replicationcontroller in Korean

Why is this needed

No translation with concepts/workloads/controllers/replicationcontroller

Comments

Pages to Update
https://kubernetes.io/docs/concepts/workloads/controllers/replicationcontroller/

/language ko

[2019-05-24 05:49] const-k commented on #14504
/language ko
/assign

[2019-05-24 12:25] sftim opened #14507 "Document Pod eviction"
**This is a Feature Request**

**What would you like to be added**
Describe the concept of eviction:
- what this means in Kubernetes terminology
- API objects used to trigger an eviction (link to the reference docs?)
- document that eviction can be requested manually or it can be triggered by a controller.
  - mention some of the ways that automated eviction can happen

**Why is this needed**
I wa

[2019-05-24 13:41] sftim opened #14508 "Document node problem detector"
**This is a Feature Request**

**What would you like to be added**
- Mention the [node problem detector](https://github.com/kubernetes/node-problem-detector) under [addons](https://kubernetes.io/docs/setup/cluster-large/#addon-resources).
- Add reference documentation for the addon.
- _(Optionally)_ reword the existing task-style documentation

**Why is this needed**:
node problem detector is (see

[2019-05-24 14:17] lisa opened #14509 "Add HTTP Redirect for "pick-right-solution""
**This is a Feature Request**

**What would you like to be added**
Add a redirect from the old "pick-right-solution" URI to the page which has replaced it.

**Why is this needed**

With #14442, the "pick-right-solution" page was replaced by the "setup page." Several places on the web link directly to `/docs/setup/pick-right-solution` (and their translated equivalents), and those links are now brok

[2019-05-24 14:22] vanou commented on #14200
/close
Solved in #14324

[2019-05-24 14:22] #14200 closed

[2019-05-24 15:02] zhangqx2010 commented on #14509
fixed by #14468
/close

[2019-05-24 15:02] #14509 closed

[2019-05-24 17:29] axalix opened #14512 "Inconsistent documentation"
**What would you like to be added**

1. I am following a tutorial step-by-step: https://kubernetes.io/docs/tutorials/kubernetes-basics/explore/explore-intro/

2. And right now I am on https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/ and started "Interactive Tutorial - Deploying an App" scenario

3. On a step 3 of a mentioned scenario you have many references to

[2019-05-24 17:30] rlenferink commented on #14329
Running `grep "9" $(find . -name \*.yaml)` through the different content/* directories does not show the file with the malformed 9 in it. It looks like it has been resolved.

/close

[2019-05-24 17:30] #14329 closed

[2019-05-24 18:01] itobey opened #14514 "Issue with k8s.io/docs/tasks/run-application/run-stateless-application-deployment/"
**This is a Bug Report**

**Problem:**
The tutorial mentions to create a deployment with nginx version 1.7.9 - doing so will result in a CrashLoopBackoff of the pods.

**Proposed Solution:**
Using a different version, e.g. 1.15 will result in a running pod.

**Page to Update:**
https://kubernetes.io/docs/tasks/run-application/run-stateless-application-deployment/

[2019-05-24 18:13] #14475 closed

[2019-05-24 18:41] cabiad opened #14516 "Improvement for k8s.io/docs/tasks/access-application-cluster/ingress-minikube/"
It would have helped me if these docs could reconcile with the installation instructions found at https://kubernetes.github.io/ingress-nginx/deploy/

In particular this page describes the following as a "Mandatory Command" for all deployments:

[code]

But these docs do not include this command.

[2019-05-24 18:55] sftim commented on #14470
@eshicks4 It sounds like you want to request an improvement to Kubernetes? If I've understood right, it's not that the feature you want exists but with little documentation, it's that Kubernetes itself doesn't yet behave how you'd like.

If that's right, you can [log an issue against Kubernetes](https://github.com/kubernetes/kubernetes/issues/new/choose); if you do, it would be useful for you to u

[2019-05-24 19:25] mildewey opened #14517 "Improvement for k8s.io/docs/concepts/containers/runtime-class/"
The description of a Runtime Class is too light. I have found most of the documentation clear and accessible to a beginner with a basic understanding of containers (describing myself). However, having read this page, I don't feel I understand the significance of a Runtime Class, when I might consider using this feature, or how to create one that I would select.

Concretely, I would suggest a longe

[2019-05-24 20:08] miroslav31077 opened #14518 "Issue with k8s.io/docs/home/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-05-24 20:27] abuango commented on #14349
This probably was a one time error with katacoda, I tried to reproduce the error but couldn't.  Are you still experiencing the error?

[2019-05-24 20:30] abuango commented on #14450
It was also reported at https://github.com/kubernetes/website/issues/14349

[2019-05-24 20:31] abuango commented on #14349
/label team/katacoda

[2019-05-24 20:35] sftim commented on #14349
/triage information-needed

[2019-05-24 21:46] sftim commented on #14349
/triage needs-information

[2019-05-25 00:46] zhangqx2010 commented on #14518
Could you please provide more information about the issue?

[2019-05-25 11:35] raelga commented on #13948
The KubeCon EU'19 SIG-Docs talk has been published on youtube!

https://youtu.be/tMCeY71o8aA?t=3450

![image](https://user-images.githubusercontent.com/795289/58368764-d064dd00-7ef1-11e9-9cba-bcc1c5553152.png)

Thanks to all for coming!

[2019-05-25 11:57] ejez opened #14524 "Site down"
https://kubernetes.io/ is down
(looks like TLS issue)

[2019-05-25 12:27] ejez commented on #14524
Note: accessing site from some geographical locations is ok, and from other locations shows:
with curl/wget:
`Connection reset by peer`

in firefox:

Was trying with tor browser

[2019-05-25 12:33] khacminh commented on #14524
I get the same issue in Asia. My partner in the US cannot access also.

[2019-05-25 12:54] ejez commented on #14524
If someone really needs to access the site now you can use [tor browser](https://github.com/TheTorProject/gettorbrowser), and try with different tor circuits:

![tor](https://user-images.githubusercontent.com/48388358/58369599-58081700-7f05-11e9-9de1-12f441a0d946.png)

[2019-05-25 13:54] Steven0351 commented on #14453
Addressed by #14481

[2019-05-25 13:54] #14453 closed

[2019-05-25 15:03] jmyung commented on #14207
docs/reference/kubectl/cheatsheet.md 1 file changed
해당건은 #14515 에 PR 올렸는데 위에 체크박스는 어떻게 체크하나요?

[2019-05-25 15:47] raelga commented on #13948
Sorry folks but being absent during KubeCon!

## Status update

### Merged and published :tada:

- https://github.com/kubernetes/website/pull/14359 by @krlooss
- https://github.com/kubernetes/website/pull/14365 by @ifraixedes

### Reviewed (LGTM):

- https://github.com/kubernetes/website/pull/14358 by @raelga
- https://github.com/kubernetes/website/pull/14360 by @paudirac
- https://github.com/kube

[2019-05-25 16:53] neolit123 commented on #14457
@rmetzler
a PR with a better solution is welcome but until then this is the only reliable solution that we know of.
original PR (has linked bug reports):
https://github.com/kubernetes/website/pull/10150

file that has to be changed:
https://github.com/kubernetes/website/blob/master/content/en/docs/setup/independent/install-kubeadm.md

/sig cluster-lifecycle
/help

cc @rosti

[2019-05-25 18:26] sftim commented on #4135
I'm sketching out how to do this. I won't `/assign` it to myself; if anyone wants to join in, I'll be happy to collaborate.

[2019-05-25 18:28] sftim commented on #12082
I'm aiming to cover some of this as part of [updating the Controllers documentation](https://github.com/kubernetes/website/issues/4135#issuecomment-495938831).

[2019-05-25 22:02] qbl commented on #13929
I've sent PR for Imperative Config of Overview (content/id/docs/concepts/overview). I'm taking Kustomization of Overview (content/id/docs/concepts/overview) next.

[2019-05-25 23:58] #11903 closed

[2019-05-26 12:06] javisabalete commented on #13948
I'll take *kops* from glossary

[2019-05-26 13:13] sftim commented on #14524
It'd be great to have details of locations (IP address ranges, perhaps?) from where the site can't be reached.
/triage needs-information

[2019-05-26 16:43] sftim commented on #14518
/triage needs-information

[2019-05-26 16:49] sftim opened #14538 "Add “CNCF” to glossary"
**This is a Feature Request**
Child of #5993

**What would you like to be added**
Add a glossary entry for the Cloud Native Computing Foundation.

**Why is this needed**
Readers may not be familiar with the CNCF abbreviation or with the full term. Using a glossary entry lets us use the associated Hugo shortcodes to help readers out.

**Comments**

[2019-05-26 16:50] sftim commented on #14538
I've added a PR for this: https://github.com/kubernetes/website/pull/14537

However, the entry it adds has an unexpected CNCF logo showing as well as the text I added. I'd welcome advice on that.

/help

[2019-05-26 16:50] sftim commented on #14538
/kind feature
/area community

[2019-05-26 16:52] sftim commented on #14538
/remove-help

[2019-05-26 16:53] sftim commented on #14410
This would be a good issue for a newish contributor to pick up
/help

[2019-05-26 16:54] sftim commented on #14407
I've [started out](https://github.com/kubernetes/website/issues/4135#issuecomment-495938831) a sketch of some changes that will touch on this.

[2019-05-26 16:57] sftim commented on #2792
There are subtasks here would suit a contributor who already understands Kubernetes and is confident making a pull request to the English (main) localization. Maybe someone who has already picked up one issue and is looking for another.

I'll label this as help-wanted.
/help

[2019-05-26 16:59] sftim commented on #14038
/triage needs-information

[2019-05-26 17:02] sftim commented on #11742
This guide is a little out of date. It does deploy **1** node; you need _2_ computers to follow the steps because the other one is used to run the control plane.

It would be a good idea to explain upfront why the reader needs to have **2* computers to follow the guide.

I suggest logging a new issue about updating this page, and closing this issue. It's not a problem for a single Node cluster to

[2019-05-26 17:21] sftim commented on #2792
/language en

[2019-05-26 17:21] sftim commented on #4322
/language en

[2019-05-26 17:22] sftim commented on #11742
/language en

[2019-05-26 17:22] sftim commented on #12268
/language en

[2019-05-26 17:23] sftim commented on #13772
/language en

[2019-05-26 17:23] sftim commented on #13964
/language en
/triage needs-information

[2019-05-26 17:23] sftim commented on #14211
/language en

[2019-05-26 17:24] sftim commented on #14410
/language en

[2019-05-26 17:24] sftim commented on #14457
/language en

[2019-05-26 17:24] sftim commented on #14467
/language ko

[2019-05-26 17:25] sftim commented on #14407
/language en

[2019-05-26 17:26] sftim commented on #14386
I like that idea @cdjohnson, thanks for the suggestion!

Marking this
/help
(because this seems like a well-defined and approachable task)

[2019-05-26 17:28] sftim commented on #14386
Depending on space, I'd be tempted to use `cluster-domain.example` rather than `my-cluster-domain`, so that it's clear you can have a dot in it.

[2019-05-26 17:28] krlooss commented on #13948
I'll take pod-priority

[2019-05-26 20:51] knbz opened #14541 "Issue with k8s.io/docs/contribute/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-05-27 00:43] #14541 closed

[2019-05-27 03:43] kakts commented on #13384
/assign

[2019-05-27 03:45] kakts opened #14543 "Translate concepts/workloads/pods/init-containers/ in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/workloads/pods/init-containers/ in Japanese.

**Why is this needed**
This document is not translated in Japanese.
**Comments**

Copy a file from en contents to content/ja/docs/concepts/workloads/pods/init-containers.md and translate it into Japanese.

[2019-05-27 03:45] kakts commented on #14543
/language ja

[2019-05-27 03:45] kakts commented on #14543
/assign

[2019-05-27 03:48] kakts opened #14544 "Translate concepts/workloads/pods/podpreset/ in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/workloads/pods/podpreset/ in Japanese.

**Why is this needed**
This document is not translated in Japanese.
**Comments**

Copy a file from en contents to content/ja/docs/concepts/workloads/pods/podpreset.md and translate it into Japanese.

[2019-05-27 03:48] kakts commented on #14544
/language ja
/assign

[2019-05-27 03:59] khacminh commented on #14524
the site was down on Saturday at 11 a.m (UTC) and it was down in about 3 hours. This issue can be closed now.

[2019-05-27 04:07] kakts opened #14545 "Translate concepts/workloads/pods/disruptions/ in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/workloads/pods/disruptions/ in Japanese.

**Why is this needed**
This document is not translated in Japanese.
**Comments**

Copy a file from en contents to content/ja/docs/concepts/workloads/pods/disruptions.md and translate it into Japanese.

[2019-05-27 04:08] kakts commented on #14545
/language ja
/assign

[2019-05-27 04:13] gochist commented on #14207
@jmyung 감사합니다! 이슈 등록자가 체크할 수 있어요. 체크했습니다.

[2019-05-27 04:16] editaxz commented on #14474
I would like to work on this issue.

[2019-05-27 05:56] javisabalete commented on #13948
I'll take *kubeadm* from glossary

[2019-05-27 08:25] gochist commented on #14207
@yoonian @jmyung Thank you!
/close

[2019-05-27 08:25] #14207 closed

[2019-05-27 11:56] #14524 closed

[2019-05-27 15:12] javisabalete commented on #13948
I'll take *docker* from glossary #14553

[2019-05-27 15:22] auifzysr commented on #12735
@cstoku 放置していてすいません。少なくとも当面はかかれないので、Closeいたします。

[2019-05-27 18:08] femrtnz commented on #13939
Hey @devlware,  sure! thank for help! Feel free to open a PR with (WIP) so I can put it here =)

[2019-05-27 18:36] konectia opened #14559 "Issue with k8s.io/docs/concepts/services-networking/ingress/"
**This is a Bug Report**

**Problem:**
Ingress apiVersion is incorrect.
If you try to create an Ingress as indicated in the documentation

[code]
code you'll get the following error:
´´´
no matches for kind "Ingress" in version "networking.k8s.io/v1beta1"
´´´
**Proposed Solution:**
Change _apiVersion: networking.k8s.io/v1beta1_ for _apiVersion: extensions/v1beta1_
**Page to Update:**
https://kuber

[2019-05-27 20:36] javisabalete commented on #13948
I'll take *Container Lifecycle Hooks* from Containers

`docs/concepts/containers/container-lifecycle-hooks/`

[2019-05-27 20:40] raelga commented on #13948
Muchas gracias a todos! 💙

[2019-05-27 20:48] raelga commented on #13948
Se ha actualizado el Status update, el próximo update lo pondré un comentario nuevo. 🎉

[2019-05-27 21:50] bureado commented on #13948
I'll take `docs/concepts/overview/what-is-kubernetes.md` if that's OK with the group.

[2019-05-28 01:04] zhangqx2010 commented on #14559
/good-first-issue
/lang en
Thanks for bring this issue. @konectia If you like, you are welcomed to create PR to fix it.

[2019-05-28 01:16] zhangqx2010 commented on #14514
/triage needs-information
@itobey I tried in my enviroment but seems everything works fine.

[code]

Could you provide more information about the CrashLoopBackoff pod?
Maybe run `kubectl describe po nginx-deployment-xxx-xxx` will help.

[2019-05-28 01:30] zhangqx2010 opened #14562 "README-zh.md under root dir is missing."
**This is a Bug Report**

**Problem:**
#14324 modified the README file in root dir, while README-zh.md is missing.

**Proposed Solution:**
- Add README-zh.md under root of website repo
- update README.md to add README-zh.md link

[2019-05-28 01:32] zhangqx2010 commented on #14562
/language zh

[2019-05-28 01:34] zhangqx2010 commented on #14562
And I am wondering where to find the original English version README-xx.md to start with.

/sig docs

[2019-05-28 02:09] gochist commented on #13564
/close

[2019-05-28 02:09] #13564 closed

[2019-05-28 02:12] gochist commented on #13647
/close

[2019-05-28 02:12] #13647 closed

[2019-05-28 02:16] gochist commented on #13976
/close

[2019-05-28 02:16] #13976 closed

[2019-05-28 02:16] gochist commented on #14232
/close

[2019-05-28 02:16] #14232 closed

[2019-05-28 02:17] gochist commented on #14467
/close

[2019-05-28 02:17] #14467 closed

[2019-05-28 02:57] radhefa7 opened #14563 "Issue with k8s.io/docs/reference/command-line-tools-reference/kube-proxy/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

118.179.132.0/24

[2019-05-28 02:58] radhefa7 opened #14564 "Pakegecloud"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-05-28 02:59] radhefa7 opened #14565 "Pakegecloud"
**This is a Feature Request**

**What would you like to be added**

**Why is this needed**

**Comments**

[2019-05-28 02:59] radhefa7 opened #14566 "Pakegecloud"
**This is Support**

[2019-05-28 05:16] rsvancara opened #14567 "Issue with k8s.io/docs/setup/independent/setup-ha-etcd-with-kubeadm/"
**This is a Bug Report**

**Problem:**
When I run:
[code]
I see the error:

[code]
I am unable to understand why this problem is occuring.

**Proposed Solution:**
Explain why the admin.conf file is needed?

**Page to Update:**
https://kubernetes.io/docs/setup/independent/setup-ha-etcd-with-kubeadm/

[code]

[2019-05-28 07:24] zqgege opened #14568 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/"
Error while initiating a connection to the Kubernetes API server. This could mean the cluster is misconfigured (e.g. it has invalid API server certificates or Service Accounts configuration). Reason: Get http://172.17.10.1:8001/version?timeout=32s: dial tcp 172.17.10.1:8001: i/o timeout

nginx-ingress会无限重启

[2019-05-28 09:37] sftim commented on #14566
@radhefa7, GitHub is not the right place for support requests.

If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes)

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

If the matter is security related, please disclose it privately via https://kuber

[2019-05-28 09:37] #14566 closed

[2019-05-28 09:39] sftim commented on #14565
/triage needs-information

For this issue, what should the website have added when this gets sorted?

[2019-05-28 09:39] sftim commented on #14564
/triage needs-information

For this issue, what needs fixing?

[2019-05-28 09:40] sftim commented on #14563
This seems like nonsense I'm afraid

/close

[2019-05-28 09:40] #14563 closed

[2019-05-28 12:43] erkanerol opened #14574 "The behavior for omitted runAsUser is not clear and insecure."
**This is a Bug Report**

**Problem:**

***Short Version***
With k8s 1.13.6, when I don't set runAsUser in securityContext, the container is started with root(0) user even when the default user of the container is different. This issue does not exist in 1.13 doc. Also, I believe this behavior is insecure.

***Long Version***
When I am trying to test my app with k8s 1.13.6, I encountered some issue

[2019-05-28 12:52] sftim opened #14575 "CNCF logo element ID collides with content"
**This is a Bug Report**

**Problem:** @praseodym [highlighted](https://github.com/kubernetes/website/pull/14537#issuecomment-496501676) that any HTML element with ID `#cncf` gets a logo added. This is blocking a [pull request](https://github.com/kubernetes/website/pull/14537) to address #14538; in the PR I wanted to put in a glossary entry with `term_id` set to `cncf`.

**Proposed Solution:**
- ~

[2019-05-28 12:56] sftim commented on #14574
@erkanerol - when you've written `v1.3.6` or `1.3.6`, did you actually mean `1.13.6`?

Can you confirm what container runtime you're using on nodes when you're testing this (eg, Docker)?

[2019-05-28 13:01] erkanerol commented on #14574
Hi. Sorry for typo. Yes it is 1.13.6 and containerRuntimeVersion is docker 18.6.1. I updated the description.

[2019-05-28 13:08] sftim commented on #14575
If it's feasible to use a narrower selector (than just `#cncf`) then that also seems like a legit fix.
Eg: `#home section#cncf`

[2019-05-28 13:17] sftim commented on #14575
/kind cleanup

[2019-05-28 13:22] kakts commented on #14426
/close

[2019-05-28 13:22] #14426 closed

[2019-05-28 13:23] kakts commented on #14183
/close

[2019-05-28 13:23] #14183 closed

[2019-05-28 13:28] sftim commented on #14574
It sounds like the 1.13 cluster isn't honoring the `User` [property](https://github.com/opencontainers/image-spec/blob/master/config.md#properties) from the OCI image spec, whereas the 1.10 cluster does honor it.

I didn't see anything mentioned in changelogs around this. Seems like something that really would be a surprise to a cluster operator.

[2019-05-28 13:34] sftim commented on #14574
_(Without looking much into this, and definitely without bringing up clusters to test it)_
I'm wondering if Pod plus `SecurityContext` plus the defaults for `runAsUser` have led to this behaviour.

If `runAsUser` is unset, should than mean UID 0? Or should it mean to start a process as the image's default user (as set via image properties).

If so, I suppose the same would go for `runAsGroup`, bec

[2019-05-28 13:55] sftim opened #14579 "Document downward API as concept"
**This is a Feature Request**

**What would you like to be added**
Concept documentation for downward API.

**Why is this needed**
There's [task documentation](https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/) already; the reader may want to understand the concepts behind the task as well.

**Comments**
I understand downward API enough to use it

[2019-05-28 14:22] miroslav31077 opened #14580 "Issue with k8s.io/docs/tutorials/hello-minikube/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-05-28 15:03] sftim commented on #14580
Hi @miroslav31077

Thanks for getting in touch.
Can you let us know what bug you found in the page at https://k8s.io/docs/tutorials/hello-minikube/?

/triage needs-information

[2019-05-28 15:54] ClaudiaJKang opened #14582 "Outdated files in the dev-1.14-ko.5 branch"
**This is a Bug Report**

**Problem:**
Outdated files in the dev-1.14-ko.5 branch.

133 files in content/en are changed
21 files in content/ko are outdated

- [x]  _index.html 1 file changed, 2 insertions(+), 2 deletions(-)
- [x]  docs/concepts/_index.md 1 file changed, 1 insertion(+), 1 deletion(-)
- [x]  docs/concepts/architecture/cloud-controller.md 1 file changed, 4 insertions(+), 4 deletions(

[2019-05-28 18:48] desertmonkey commented on #11367
/remove-lifecycle stale

--
Pete Bratach | manager, docs & community | outdoor cat | Cumulus Networks

On May 27, 2019, 5:45 PM -0400, fejta-bot <notifications@github.com>, wrote:

[2019-05-28 19:54] rekcah78 commented on #13453
PR #14586

[2019-05-28 21:05] palnabarun commented on #14559
@zhangqx2010  I would like to take this up.

[2019-05-28 21:12] ialidzhikov opened #14590 "Update docs for Initializers feature gate"
**This is a Bug Report**

**Problem:**
The Initializer feature gate is removed in 1.14.0 release - kubernetes/kubernetes#72972 .

**Proposed Solution:**
Update the docs.

**Pages to Update:**
https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/
https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#initializers.

/cc @liggitt @spiffxp

[2019-05-28 22:05] outofmem0ry opened #14593 "Steps missing to unhold the binaries on the worker nodes during upgrade"
**This is a Bug Report**

**Problem:**
As per the [install instructions](https://kubernetes.io/docs/setup/independent/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl) for Ubuntu environments, we place a hold on kubelet,kubeadm and kubectl on all the nodes. The following upgrade documentation areas are missing a step to unhold the binaries on worker nodes

[Upgrading kubeadm clusters from v

[2019-05-28 22:09] sftim commented on #14593
/triage bug
Good spot! Is it going to be worth putting the hold back after the upgrade if it was there before?

[2019-05-28 22:11] sftim commented on #14590
/triage bug

[2019-05-28 22:17] outofmem0ry commented on #14593
@sftim definitely. I'll add the steps to place hold back, after the upgrade, in the same PR.

[2019-05-29 00:36] neolit123 commented on #14593
/sig cluster-lifecycle

[2019-05-29 01:09] zhangqx2010 commented on #14559
/assign @palnabarun
Thanks. Please go ahead.
Just a reminder that please relate this issue after you open the PR.

[2019-05-29 01:37] ChrisRucinski opened #14598 "Issue with k8s.io/docs/tasks/access-application-cluster/connecting-frontend-backend/"
**This is a Bug Report**

**Problem:**
I followed the steps outlined in the task but hit a dead end after creating the frontend. The frontend service is never assigned an external-ip even after waiting a long time. Here is a copy of my terminal window:

[code]

**Proposed Solution:**
For beginners such as me, it would be helpful to provide some troubleshooting information for when the external-ip

[2019-05-29 01:37] zhangqx2010 commented on #14568
/close

This issue sounds more like a request for support and less
like an issue specifically for docs. I encourage you to bring
your question to the `#kubernetes-users` channel in
[Kubernetes slack](http://slack.k8s.io/). You can also search
resources like
[Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes)
for answers to similar questions.

You can also open issues for Kuberne

[2019-05-29 01:37] #14568 closed

[2019-05-29 01:52] zhangqx2010 commented on #14567
@rsvancara I guess you need a little help from sig cluster-lifecycle.
Maybe the [k8s cluster-lifecycle slack channel](https://kubernetes.slack.com/messages/C13J86Z63) is the right place for help.
If the document do need to be updated, please reopen this issue. Thanks.

/close

This issue sounds more like a request for support and less
like an issue specifically for docs. I encourage you to bring
y

[2019-05-29 05:00] palnabarun commented on #14484
@sftim Are you talking about the `Certified Kubernetes Image`?

I am able to see them in both the aforementioned pages.

https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/
![image](https://user-images.githubusercontent.com/10010419/58530355-14125c00-81fc-11e9-8c17-3904ba496373.png)

https://kubernetes.io/docs/setup/independent/install-kubeadm/
![image](https://user-images.githubu

[2019-05-29 05:06] #10780 closed

[2019-05-29 07:27] gochist commented on #14582
/language ko

[2019-05-29 08:12] sftim commented on #14484
Fixed via #14511

[2019-05-29 08:12] #14484 closed

[2019-05-29 09:23] prankul88 commented on #14598
Can you please run `kubectl get pods` and then check for frontend pod name.
Then run `kubectl describe pod <pod name>`. This would give an idea of where is the pod struck. Only when it is running state, external-ip would be given to frontend service

[2019-05-29 10:23] prankul88 commented on #14516
Hi @cabiad, I am not sure if the above command can be made mandatory in docs of this repo.
The above link corresponds to specifically nginx controller which is present in repo https://github.com/kubernetes/ingress-nginx/

[2019-05-29 10:42] hogepodge commented on #12078
These instructions are most applicable to bare metal. Since cloud provider usage is common, and external cloud provider usage will be mandatory, expanding this document to cover setting —cloud-provider=external and handling the loading of the external provider and removing the scheduling taint from the API server would be very useful.

[2019-05-29 12:53] shrdlu68 opened #14609 "Issue with k8s.io/docs/concepts/configuration/taint-and-toleration/"
**This is a Bug Report**

**Problem:**
In this section: "Normally, if a taint with effect NoExecute is added to a node, then any pods that do not tolerate the taint will be evicted immediately, and any pods that do tolerate the taint will never be evicted.", I think what is meant is that pods that do not tolerate the taint will never be scheduled.
**Proposed Solution:**
Reword to:
"Normally, if a

[2019-05-29 13:22] sftim opened #14611 "Code of conduct out of date"
**This is a Bug Report**

**Problem:**
The code of conduct has [changed](https://github.com/cncf/foundation/compare/0ce4694...master#diff-12) upstream

**Proposed Solution:**
Update code of conduct on website

**Page to Update:**
https://kubernetes.io/community/code-of-conduct/

**Additional Information:**

The upstream code of conduct is now localized.

[2019-05-29 13:25] sftim commented on #14609
So it's the last bit of the current wording that's wrong?

/triage bug
/good-first-issue

[2019-05-29 13:25] sftim commented on #14609
/lang en

[2019-05-29 13:33] shrdlu68 commented on #14609
@sftim Yes.

[2019-05-29 13:46] sftim commented on #14611
/kind cleanup

[2019-05-29 14:13] cabiad commented on #14516
Hi @prankul88, thanks for the reply!

The `minikube addons enable ingress` command in the tutorial document referred to by my issue title does seem to specifically install the NGINX Ingress controller, as shown in the screen capture below:

![image](https://user-images.githubusercontent.com/840172/58563694-9a796e80-81f9-11e9-9df0-44ea758115ef.png)

That said, I've done some more investigation sinc

[2019-05-29 14:13] #14516 closed

[2019-05-29 14:18] agemooij opened #14615 "Issue with k8s.io/docs/tasks/configure-pod-container/pull-image-private-registry/"
**Problem:**
The "Pull an Image from a Private Registry" page does not mention the fact that image pull secrets can be specified through a service account. This has lead many of my colleagues to the conclusion that the only way to use custom image pull credentials is through direct modification of all pods being deployed.

Searching Google on image pull secrets only brings up this page but almost

[2019-05-29 14:27] sftim commented on #14615
@agemooij - thanks for this suggestion. Sounds like a good idea!

[2019-05-29 15:33] palnabarun commented on #14559
On a further look, I found out that the documentation is indeed correct for Kubernetes `v1.14`. The `Ingress` kind is in the `extensions/v1beta1` for `v1.12` and `v1.13`, whereas `Ingress` kind is in `networking.k8s.io/v1beta1` for `v1.14`.

Now, the question is should the `v1.14` docs for `https://kubernetes.io/docs/concepts/services-networking/ingress/` be updated to explicitly state that it wil

[2019-05-29 16:31] javisabalete commented on #13948
I'll take *Pod* from Workloads

`docs/concepts/workloads/pods/pod/`

[2019-05-29 16:34] bureado commented on #13948
And I'll take `docs/concepts/overview/kubernetes-api` if/when #14585 is merged (and intend to work on the `overview` namespace on a page-by-page basis if that works for the team)

[2019-05-29 17:25] sethmccombs commented on #14480
/close

[2019-05-29 17:25] #14480 closed

[2019-05-29 20:29] neolit123 commented on #14567
`sudo kubeadm init phase etcd local` works for me on a clean node (after a `sudo kubeadm reset -f`) with version 1.14.2.

not sure what can cause the error you are seeing.

[2019-05-29 20:31] neolit123 commented on #14567
what are the contents your `/home/ubuntu/kubeadmcfg.yaml` ?

[2019-05-29 20:31] neolit123 commented on #14567
/sig cluster-lifecycle
/reopen
/assign

[2019-05-29 20:32] neolit123 commented on #14567
actually let's keep this closed and potentially re-open in k/kubeadm if needed.
/close

[2019-05-29 20:32] #14567 closed

[2019-05-29 22:31] #10132 closed

[2019-05-29 23:32] #11885 closed

[2019-05-29 23:56] erkanerol commented on #14574
@sftim Do you need anything else from my side?

[2019-05-30 00:09] gochist commented on #14582
related with #14479

[2019-05-30 00:33] #11980 closed

[2019-05-30 00:48] zhangqx2010 commented on #14559
@palnabarun Thanks for the carefully inspection.
From my view, since the document is already related to version, I don't need to bother to point this out explicitly. Otherwise there will be tons of information like that in the document.
So I think we may leave this one just as what it looks like now.

[2019-05-30 00:50] zhangqx2010 commented on #14559
And I think we may close this issue？@palnabarun @konectia

[2019-05-30 02:17] gochist commented on #12455
/close

[2019-05-30 02:17] #12455 closed

[2019-05-30 03:11] andreleoni opened #14623 "Issue with k8s.io/docs/setup/minikube/"
**Problem:** The link to `Interacting with Your Cluster.` of step 2 of Quickstart of https://kubernetes.io/docs/setup/minikube/ are returning a 404 error.

He sends me to https://kubernetes.io/docs/setup/minikube/docs/setup/minikube/#interacting-with-your-cluster

**Proposed Solution:** Updates this link to a existent location.