[2022-03-22 08:46] zhangxyjlu opened #32409 "This page blog/_posts/2021-12-08-dual-stack-networking-ga.md has no Chinese version"
This is a Bug Report
This page blog/_posts/2021-12-08-dual-stack-networking-ga.md has no Chinese version

Problem:
This page blog/_posts/2021-12-08-dual-stack-networking-ga.md has no Chinese version

Proposed Solution:
Translate Chinese version for blog/_posts/2021-12-08-dual-stack-networking-ga.md

Page to Update:
https://kubernetes.io/blog/2021/12/08/dual-stack-networking-ga/

Comments
/language

[2022-03-22 09:21] sftim commented on #32392
Please confirm what version of Kubernetes and of `kubectl` you replicated that with @vdellaglio

It's possible that the behavior with Kubernetes v1.23 is what's documented; if not, we should fix the docs.

[2022-03-22 09:35] tengqm commented on #32408
/triage accepted

[2022-03-22 09:38] tengqm commented on #32409
/triage accepted

[2022-03-22 09:51] tengqm commented on #32407
/triage accepted

[2022-03-22 11:04] wangxiaoyang-dev commented on #32316
@RA489 There should still be a few places left unfinished.

[2022-03-22 11:11] RA489 commented on #32316
@wangxiaoyang-dev Could you please edit the issue which needs to be still updated?

[2022-03-22 12:21] vdellaglio commented on #32392
Yes, I understand that your documentation is saying that I can pass several env files in the command, but only the last one will be taken into consideration:

"Caution: When passing --from-env-file multiple times to create a ConfigMap from multiple data sources, only the last env-file is used."

[2022-03-22 12:25] vdellaglio commented on #32392
`root@master:~# kubectl version
Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.4", GitCommit:"e6c093d87ea4cbb530a7b2ae91e54c0842d8308a", GitTreeState:"clean", BuildDate:"2022-02-16T12:38:05Z", GoVersion:"go1.17.7", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.2", GitCommit:"faecb196815e248d3ecfb03c680a4507229c2a

[2022-03-22 14:10] sftim commented on #30927
My view is that this is a nice-to-have but not essential for v1.24
/priority awaiting-more-evidence

[2022-03-22 14:24] chrisnegus commented on #30949
The reference to the [restricted-psp.yaml](https://github.com/kubernetes/website/blob/main/content/en/examples/policy/restricted-psp.yaml) file has been removed from the [pod security](https://kubernetes.io/docs/concepts/policy/pod-security-policy/#example-policies) page for 1.24. The page remains in the main branch so it can be referenced by other versions of the docs. Unless someone objects, I w

[2022-03-22 14:37] suravarapusuryakiran opened #32417 "Help with setting up cluster using kubeadm"
Hi Team,

i'm Surya, a newbie to kubernetes, i'm facing quit an issu in adding a node to kubernetes cluster.
i haven't facing an issue in kubeadm init on ubuntu VM rather i'm facing issues while joining my debian (4.19 kernal )NUC to cluster i created.

it says Cgroup.cpuset is missing but i can see my cgroups is enabled .!
i'm facing exactly https://github.com/kubernetes/kubeadm/issues/2571  issu

[2022-03-22 14:44] sftim commented on #30949
@chrisnegus this is an issue, not a PR. We should leave the issue open until a fix is merged to the _dev-1.24_ branch.

[2022-03-22 15:09] chrisnegus commented on #30949
Okay. I'll reference the PR when we have it.

[2022-03-22 16:42] sftim commented on #32417
/retitle Help with setting up cluster using kubeadm
/kind support

[2022-03-22 16:59] prasadkatti opened #32420 "Mermaid diagram on Authenticating page is unreadable"
The mermaid diagram in the https://kubernetes.io/docs/reference/access-authn-authz/authentication/#openid-connect-tokens section is unreadable. The text is overlapping. That might be dependent on your screen width, i guess. But it doesn't render properly on a regular 15" MBP.

Here is a screenshot -
<img width="908" alt="image" src="https://user-images.githubusercontent.com/7345249/159534477-9a20e

[2022-03-22 17:42] neolit123 commented on #32417
/close

(bot not working again)

[2022-03-22 17:49] #32417 closed

[2022-03-22 18:03] anubha-v-ardhan commented on #32420
Renders fine for me on both Chrome 99.0.4844.82 and Firefox 98.0.1

[2022-03-22 18:11] sftim opened #32421 "kube-proxy userspace mode is deprecated"
**This is a Bug Report**

**Problem:**
https://github.com/kubernetes/kubernetes/pull/104631 marks the userspace kube-proxy as deprecated. This was missed from the v1.23 docs updates and [release announcement](https://kubernetes.io/blog/2021/12/07/kubernetes-1-23-release-announcement/).

**Proposed Solution:**
Mark the kube-proxy in userspace mode as deprecated.

**Page to Update:**
https://kuberne

[2022-03-22 18:19] sftim commented on #32421
/lifecycle frozen
/triage accepted

[2022-03-22 18:22] sftim commented on #32420
I can replicate this.
Let's convert that diagram to SVG and serve that.

/triage accepted
/priority backlog

BTW @prasadkatti it looks like you have a user stylesheet applied. That's OK, but when taking screenshots I recommend that you revert to the site default stylesheet.

[2022-03-22 18:41] pranavmarla opened #32422 "Clarify hostPath mount behaviour when file doesn't exist on host"
# Problem
This is the current [hostPath documentation](https://kubernetes.io/docs/concepts/storage/volumes/#hostpath) for the `type` param, with the first two rows highlighted:

![hostpath-type](https://user-images.githubusercontent.com/6486632/159547338-685acae7-8b77-4168-a291-0f508d34c0d8.PNG)

Row **1** handles the case when no value is provided for `type`. As you can see, it doesn't actually s

[2022-03-22 19:11] CarlosMendozaB opened #32424 "Improvement for k8s.io/docs/tasks/tools/install-kubectl-linux/"
It would be good to count link/instructions to install curl: "**sudo apt install curl**"

[2022-03-22 21:59] reylejano commented on #32420
The diagram renders fine for me
![image](https://user-images.githubusercontent.com/52760880/159583241-17ecb0ac-60c6-45b6-b9c0-08b1bd671054.png)
It still looks fine when the browser window is 1/4 of my screen
![image](https://user-images.githubusercontent.com/52760880/159583391-975359e3-6960-49e3-80c8-14d5cc05f8c0.png)

[2022-03-22 22:13] #32163 closed

[2022-03-22 22:15] #32125 closed

[2022-03-22 22:21] #32287 closed

[2022-03-23 00:55] nate-double-u commented on #30938
@shannonxtreme, Is this where we're looking: https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands?

[2022-03-23 01:03] nate-double-u commented on #30938
Instructions to generate the ref docs: https://kubernetes.io/docs/contribute/generate-ref-docs/kubernetes-api/

[2022-03-23 01:07] #32222 closed

[2022-03-23 01:20] jihoon-seo commented on #32420
Maybe relevant with:
- #31960

[2022-03-23 02:02] wangxiaoyang-dev commented on #32316
Bug1: https://kubernetes.io/zh/docs/concepts/workloads/controllers/deployment/#:~:text=apps/nginx%2Ddeployment-,nginx%3Dnginx%3A1.9.1,-%2D%2Drecord%3Dtrue%0A3
"nginx=nginx:1.9.1" should be changed to "nginx=nginx:1.16.1"

Bug2:
https://kubernetes.io/zh/docs/concepts/workloads/controllers/deployment/#:~:text=apps/nginx%2Ddeployment-,nginx%3Dnginx%3A1.91,-%2D%2Drecord%3Dtrue
"nginx=nginx:1.91" shoul

[2022-03-23 02:55] #32085 closed

[2022-03-23 02:57] #32186 closed

[2022-03-23 03:17] xuezhixin opened #32428 "Translate label selector"
This is a Feature Request:
translate content/en/docs/reference/kubernetes-api/common-definitions/label-selector.md

What would you like to be added:
content/zh/docs/reference/kubernetes-api/common-definitions/label-selector.md

/language zh
/kind feature

[2022-03-23 03:17] xuezhixin commented on #32428
/assign

[2022-03-23 03:36] RA489 commented on #32316
@wangxiaoyang-dev Thanks for clarifying.

/assign

[2022-03-23 04:25] Kartik494 commented on #31159
Hi @JoeKuan Could you please  elaborate how do you want to implement this part ? I think added some description would be great? is anyone working on this issue

[2022-03-23 04:38] jihoon-seo commented on #32428
https://kubernetes.io/docs/reference/kubernetes-api/common-definitions/label-selector/ already has a Chinese version.
https://kubernetes.io/zh/docs/reference/kubernetes-api/common-definitions/label-selector/
Issue: #32187
PR: #32202
/close

[2022-03-23 04:38] #32428 closed

[2022-03-23 04:38] jihoon-seo commented on #32187
Resolved by #32202
/close

[2022-03-23 04:38] #32187 closed

[2022-03-23 04:45] jihoon-seo commented on #32428
/retitle [zh] Translate 'label-selector' into Chinese

[2022-03-23 05:28] xuezhixin opened #32433 "Translate ObjectReference"
Hi,I am interested to translate the "Kubernetes Documentation/Reference/Kubernetes API/Common Definitions/ObjectReference"
This is a Feature Request:
translate en/docs/reference/kubernetes-api/common-definitions/object-reference.md

What would you like to be added:
content/zh/docs/reference/kubernetes-api/common-definitions/object-reference.md

/language zh
/kind feature

[2022-03-23 05:28] xuezhixin commented on #32433
/assign

[2022-03-23 05:43] reylejano commented on #31960
The mermaid diagram is rendering for me, tested on Firefox and Chrome
![image](https://user-images.githubusercontent.com/52760880/159631593-6cff41bb-55b7-4e17-a4cd-db8e4475b8f2.png)

[2022-03-23 07:29] howieyuen opened #32435 "[zh] Reference files of common-definitions to translate and/or sync"
Numbers in the following list are missing in zh localization, which is under directory `content/zh/docs/reference/kubernetes-api/common-definitions/`

- [x] node-selector-requirement.md https://github.com/kubernetes/website/pull/32038
- [x] object-field-selector.md https://github.com/kubernetes/website/pull/32432#pullrequestreview-918290227
- [x] object-meta.md https://github.com/kubernetes/websit

[2022-03-23 07:30] howieyuen commented on #32435
/kind feature

[2022-03-23 07:32] howieyuen commented on #32435
/zh

[2022-03-23 07:37] howieyuen commented on #32435
triage/accepted

[2022-03-23 07:48] jihoon-seo opened #32436 "[zh] Wrong rendering in 'label-selector' page"
**This is a Bug Report**

**Problem:**
Wrong rendering in ['label-selector' page](https://kubernetes.io/zh/docs/reference/kubernetes-api/common-definitions/label-selector/)
![image](https://user-images.githubusercontent.com/46767780/159648287-585bf718-3908-4766-b88f-7e86c9413581.png)

cf. en version page: https://kubernetes.io/docs/reference/kubernetes-api/common-definitions/label-selector/
![imag

[2022-03-23 08:02] #20348 closed

[2022-03-23 08:02] #28943 closed

[2022-03-23 08:23] PriyanshuAhlawat commented on #32421
/assign

[2022-03-23 09:16] #30128 closed, assigned to avinashupadhya99

[2022-03-23 10:10] #32389 closed

[2022-03-23 10:12] #32436 closed

[2022-03-23 12:27] sftim commented on #32424
Instead of providing (Debian-specific) instructions, we can - maybe should - explicitly state that the `curl` tool is a prerequisite for the _Install kubectl binary with curl on Linux_ method.

Readers should be able to figure out for themselves how to install `curl`; if not, I dare say they won't find Kubernetes easy overall.

[2022-03-23 12:27] sftim commented on #32424
/language en

[2022-03-23 13:19] joerghoh opened #32446 "Unclarity regarding restart on failed readiness checks"
**This is a Bug Report**

**Problem:**
The documentation on readiness probes is unclear. It describes how to configure readiness for a single container, but when it comes to the restart behavior, it's not exactly clear, if just the container or the complete pod is restarted:
* the documentation says: ```[...] and the containers have been killed and recreated.```
* but then ```kubectl get pod ...``

[2022-03-23 18:01] sftim commented on #32446
/remove-kind bug
This is a request to improve docs; the existing docs are unclear, not wrong.

/language en
/sig node
/triage accepted

[2022-03-23 18:53] nate-double-u commented on #30943
It looks like https://github.com/kubernetes/kubernetes/pull/106907 has solved this issue in k/k.

Next step: pull in the update using the instructions on the [Generating Reference Documentation for kubectl Commands](https://kubernetes.io/docs/contribute/generate-ref-docs/kubectl/) page.

[2022-03-23 19:32] shannonxtreme commented on #30938
Sorry, what I meant with my comment was that I searched the kubectl command doc and couldn't find a relevant mention of Docker or the shim to remove. I think we're ok to close this issue as being investigated @nate-double-u :)

[2022-03-23 21:29] #30150 closed

[2022-03-24 00:23] tengqm commented on #32264
Will not fix.
The upstream page has been heavily revised (rewritten).
Need a retranslation.
/close

[2022-03-24 00:24] #32264 closed

[2022-03-24 00:46] #32024 closed

[2022-03-24 01:51] #32270 closed

[2022-03-24 03:35] Mouly22 commented on #31677
I would like to work on ```content/bn/docs/tutorials/kubernetes-basics/_index.html``` @mitul3737

[2022-03-24 03:36] Mouly22 commented on #31677
I am working on ```content/bn/docs/reference/glossary/index.md```

[2022-03-24 03:37] Mouly22 commented on #31677
I would like to work on ```content/bn/docs/tutorials/kubernetes-basics/_index.html``` @mitul3737

[2022-03-24 03:46] Mouly22 commented on #31677
I am also working on ```content/bn/releases/_index.md```

[2022-03-24 03:46] mitul3737 commented on #31677
Okay, sure!

[2022-03-24 05:43] Kartik494 commented on #32285
/triage needs-information
/sig storage

[2022-03-24 06:14] Kartik494 commented on #30912
I think there is already mentioning of creating a storage class in [doc](https://kubernetes.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/#create-a-persistentvolume) before creating PV.

[2022-03-24 08:07] Kartik494 commented on #28728
/remove-lifecycle stale

[2022-03-24 08:47] myominzin opened #32465 "Installing kubeadm"
Hello!
I'm facing issue to install kubeadm using following repos;
[code]
The error message is :+1:
[code]
Please check and verify the issue.

[2022-03-24 09:39] jihoon-seo commented on #32465
Page: https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl

[2022-03-24 10:03] wangxiaoyang-dev opened #32466 "Incorrect or out of date script localization in init 容器 concept"
There is a bug:
https://kubernetes.io/zh/docs/concepts/workloads/pods/init-containers/#:~:text=if%20dig%20myservice%3B-,then%20exit%200%3B%20fi%3B,-exit%201
"then exit 0; fi; exit 1" should be changed to "then exit 0; fi; done; exit 1"

[2022-03-24 10:12] vaibhav2107 commented on #30887
/remove-lifecycle stale

[2022-03-24 12:33] tamarabarbosa commented on #13939
Hey everyone,  I would like to start translating the page [Kubernetes Object Management](https://kubernetes.io/docs/concepts/overview/working-with-objects/object-management/). I already joined the spreadsheet.

[2022-03-24 13:15] tridelt opened #32469 "Improvement for k8s.io/docs/tasks/configure-pod-container/pull-image-private-registry/"
I believe not using CredStore is an [excpetion](https://stackoverflow.com/questions/55188020/how-to-force-docker-login-command-to-ignore-existing-credentials-helper#:~:text=To%20avoid%20using%20a%20credsStore,auth%20token%20into%20the%20file.) to the rule.

I suggest focusing in the docs on how to create a Secret from `~/.docker/config.json` that uses a **CredStore** as I don't think it is straigh

[2022-03-24 14:30] sriharikadali opened #32470 "Issue with k8s.io/docs/tasks/tools/"
All the hyper links are not secure NET::ERR_CERT_INVALID certs are not valid

[2022-03-24 15:49] matgomes21 commented on #13939
Hey! I would like to start translating the page [Labels and Selectors](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/) with @Matheusafonsouza. I already assigned us in the spreadsheet and set the status as In Progress.

[2022-03-24 16:22] neolit123 commented on #32465
see https://github.com/kubernetes/kubernetes/issues/108732

/close
/sig cluster-lifecycle

[2022-03-24 16:25] neolit123 commented on #32465
/close

[2022-03-24 16:26] #32465 closed

[2022-03-24 17:36] sftim commented on #32470
The hyperlinks in https://k8s.io/docs/tasks/tools/ work OK with no TLS error.

@sriharikadali check that these symptoms are not down to your local network configuration.

/triage not-reproducible
/language en

[2022-03-24 17:38] sftim commented on #32469
This sounds like a feature request about how to migrate from using a CredStore with Docker locally, to storing a Secret in Kubernetes that stores the equivalent credentials.

I'm not sure we'd prioritize adding this (and then maintaining that page). If someone wants to write that up as a blog article, I'd be minded to accept it though.
/language en
/kind feature

[2022-03-24 19:44] sftim commented on #32466
/triage accepted
/retitle Incorrect or out of date script localization in init 容器 concept
/language zh

[2022-03-25 02:04] t-inu commented on #22989
/reopen

[2022-03-25 02:27] jihoon-seo opened #32477 "[ko] Wrong K8s versions in previous release webpage"
**This is a Bug Report**

**Problem:**
['kubeadm 클러스터 업그레이드' 페이지 관련]
- v1.19
  - (문제 없음) https://v1-19.docs.kubernetes.io/ko/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/
  - (버전이 하드코딩되어 있음) https://github.com/kubernetes/website/blob/release-1.19/content/ko/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md?plain=1
- v1.20
  - (**문제 있음**) https://v1-20.docs.kubernetes.io/ko/docs/tas

[2022-03-25 04:53] seokho-son commented on #32477
/triage accepted

[2022-03-25 05:32] #32477 closed

[2022-03-25 10:01] ggallon opened #32493 "[fr] Incorrect spaces in paragraph to deploy-intro tutorial page"
**This is a Bug Report**

**Problem:**
Incorrect spaces in paragraph to deploy-intro tutorial page

**Proposed Solution:**
Remove break lines to:
https://github.com/kubernetes/website/blob/5328fdf7979f81f0338dad4d16a564390d6e1542/content/fr/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html#L30-L35

**Page to Update:**
https://github.com/kubernetes/website/blob/main/content/fr/docs/tuto

[2022-03-25 11:27] tengqm opened #32496 "Document the 'node.kubernetes.io/masq-agent-ds-read' label."
This label is added when the `ip-masq-agent` component is used. We need to document its purpose and usage.

[2022-03-25 16:22] bitspittle opened #32511 "Hello Minikube - Cleanup steps are blocked by the popup terminal"
The cleanup steps are blocked for me by the popup terminal. This seems to be happening because I'm using a monitor with a vertical layout.

Expected: One of...
* Be able to minimize the terminal
* Be able to pop-out the terminal
* Be able to move the terminal to the top of the window
* Open the terminal in a frame below the current window, instead of on top of it, so that there are two vertical sc

[2022-03-25 19:42] reylejano commented on #30938
PR https://github.com/kubernetes/kubernetes/pull/109033 fixes this issue

[2022-03-25 19:50] #29542 closed

[2022-03-25 21:48] jihoon-seo commented on #32435
/language zh

[2022-03-25 22:45] #31930 closed

[2022-03-25 22:47] #31998 closed

[2022-03-26 00:07] ianychoi commented on #30056
Closing this issue per the comment: https://github.com/kubernetes/website/issues/30846#issuecomment-1022902088

[2022-03-26 00:07] #30056 closed

[2022-03-26 00:25] jihoon-seo commented on #30846
#32490 이 merge되어 close합니다.
모두 고생 많으셨습니다 :)

[2022-03-26 00:25] #30846 closed

[2022-03-26 00:25] #31576 closed

[2022-03-26 00:51] reylejano commented on #32470
I tired every hyperlink in https://k8s.io/docs/tasks/tools/ without an TLS issues

/close

[2022-03-26 00:51] #32470 closed

[2022-03-26 00:56] mehabhalodiya commented on #30516
/close

[2022-03-26 00:57] #30516 closed

[2022-03-26 08:57] #29340 closed

[2022-03-26 09:14] mehabhalodiya commented on #32273
Closing this issue as it got resolved in #32279
/close

[2022-03-26 09:14] #32273 closed

[2022-03-26 10:05] #32408 closed

[2022-03-26 13:42] cloudsapiens opened #32523 "Improvement for k8s.io/docs/concepts/workloads/controllers/cron-jobs/"
Incorrect apiVersion used in example (application/job/cronjob.yaml):

Currently used: apiVersion: batch/v1
Correct one: **apiVersion: batch/v1beta1**

Thanks for fixing it in the documentation (https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/).

[2022-03-26 14:13] vdellaglio commented on #32392
So I decided to upgrade all the environment, previously it had a version skew which was not supported. Now the environment is 100% updated:

[code]

All configmaps deleted:

[code]

Env files:

[code]

ConfigMap created:
[code]

Checking results:

[code]

[code]

Same results as before: docs are not reflecting the current behaviour.

[2022-03-26 16:05] shaggyyy2002 commented on #32466
/assign

[2022-03-26 16:06] shaggyyy2002 commented on #32466
@wangxiaoyang-dev on what line can you explain?

[2022-03-26 22:41] jihoon-seo commented on #32511
/area web-development

[2022-03-26 22:45] jihoon-seo commented on #32493
- en page: https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro/
- fr page: https://kubernetes.io/fr/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro/

/triage accepted

[2022-03-27 03:28] expoli opened #32552 "Pod 拓扑分布约束，相互作用一节排版有误"
https://kubernetes.io/zh/docs/concepts/workloads/pods/pod-topology-spread-constraints/#interaction-with-node-affinity-and-node-selectors

此处排版有误。

![image](https://user-images.githubusercontent.com/31023767/160265345-26e953a4-fe65-47ba-bb53-b98e2f64056a.png)

![image](https://user-images.githubusercontent.com/31023767/160265349-6ba9118b-76d1-4678-885c-4fe3d30c6382.png)

[2022-03-27 09:05] Tellz777 commented on #32523
**batch/v1** is used since 1.21 and **batch/v1beta1** will be deprecated since 1.25 https://kubernetes.io/docs/reference/using-api/deprecation-guide/#cronjob-v125 So, I guess its correct to reference on **batch/v1** in all docs from the 1.21 version.

[2022-03-27 11:45] tengqm commented on #32552
/triage accepted
/kind bug

The page is out of sync.

[2022-03-27 11:46] tengqm commented on #32466
/close

[2022-03-27 11:46] #32466 closed

[2022-03-27 13:26] ChuckIrvine opened #32563 "Would prefer a non interactive tutorial"
I think that I would get more value from the tutorials if they didn't use the browser based play ground. Instead, I would prefer to use my locally installed Minikube.

Or, maybe it wouldn't be too much trouble to produce both versions.

[2022-03-27 14:44] dims opened #32564 "Confusion in the community around Secrets"
We have a very decent page around Secret(s) here:
https://kubernetes.io/docs/concepts/configuration/secret/#information-security-for-secrets

Unfortunately we repeatedly see:
- https://stackoverflow.com/questions/61347824/what-is-the-point-of-kubernetes-secrets-if-i-can-decode-them
- https://news.ycombinator.com/item?id=27731249 for example.

One recent question/observation i had internally was -

[2022-03-27 14:45] dims commented on #32564
cc @nikhita @MadhavJivrajani @palnabarun (can one of you please see how we can update existing documentation?)

[2022-03-27 15:13] ChuckIrvine commented on #32563
Never mind about this. It's easy enough just to copy the commands and paste them to a terminal window.

[2022-03-27 15:13] #32563 closed

[2022-03-27 16:05] stormqueen1990 commented on #13939
I am going to start updating the Secrets page with the latest changes from the English version. Already assigned it to me in the spreadsheet.

[2022-03-27 19:41] johnSchnake commented on #32564
FWIW I was the quoted person asking about the "leaking of secrets to the console"

After being pointed to a few resources my thoughts were this:

I think the most clear answer is the last comment on the stackoverflow issue; which also gives practical examples of a few workflows that would be awkward if k8s secrets didnt exist. Yes they could be configmaps or stored with other data, but then access

[2022-03-27 20:50] dims commented on #32564
@johnSchnake let's use this issue to reflect what is currently the design/implementation.

Any future suggestions, we take it to sig-auth for debate and resolution. Let's keep the two separate please.

thanks!

[2022-03-27 21:30] imenazizov-vr opened #32566 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
Terminal is not working

[2022-03-28 00:50] jihoon-seo commented on #32552
/language zh

[2022-03-28 00:52] jihoon-seo commented on #32566
/label team/katacoda

[2022-03-28 00:53] jihoon-seo commented on #32294
/label team/katacoda

[2022-03-28 00:54] jihoon-seo commented on #32133
/label team/katacoda

[2022-03-28 06:01] #32552 closed

[2022-03-28 06:37] miteshskj commented on #32322
@sftim @tengqm  - This is fixed in newer versions (1.22 on wards). What is the process/policy of pushing changes to older supported versions?

[2022-03-28 06:43] miteshskj commented on #32392
@sftim  - v1.23 added support for multiple env files. Should we remove the caution note (about kubectl accepting only single env file as input) or we add additional info, informing users that this behavior is changed starting v1.23?

[2022-03-28 07:45] tengqm commented on #32322
@miteshskj The convention is to avoid amending docs for old versions of k8s, while allowing for important bug fixes.

[2022-03-28 07:57] #28667 closed

[2022-03-28 07:57] ybykov-a9s commented on #28667
It's not important

[2022-03-28 08:37] sftim commented on #32322
Really the priority is that we prioritise docs for the current and the upcoming release. If we had a surfeit of volunteer capacity we could try to apply that to checking and fixing the docs for older releases.

[2022-03-28 09:07] #32407 closed

[2022-03-28 09:16] #31294 closed

[2022-03-28 10:04] syxunion opened #32572 "translate content/en/docs/reference/kubernetes-api/common-parameters/common-parameters.md to chinese"
Hi, I'm interested to translate the "content/en/docs/reference/kubernetes-api/common-parameters/common-parameters.md" page.

This is a Feature Request:

translate en/docs/Reference/kubernetes-api/common-parameters/common-parameters.md into chinese

What would you like to be added:

zh/docs/Reference/kubernetes-api/common-parameters/common-parameters.md

/language zh
/kind feature

[2022-03-28 10:04] syxunion commented on #32572
/assign

[2022-03-28 10:18] RA489 commented on #32424
/assign @Anilkumar56

[2022-03-28 11:12] tengqm commented on #32572
/triage accepted

[2022-03-28 12:13] nasa9084 commented on #30401
I think this issue is fixed by #30858
/close

[2022-03-28 12:13] #30401 closed

[2022-03-28 12:48] Smidra opened #32573 "Managing Kubernetes Objects Using Imperative Commands rename in Docs"
**I propose to rename [this](https://kubernetes.io/docs/tasks/manage-kubernetes-objects/imperative-command/) section of the k8s documentation to**:

`Imperative Management of Kubernetes Objects Using Commands`

It improves the readability of the documentation neatly making the first word of the name useful for orientation. Do I need to learn about Declarative/Imperative managmement?

- Why are we

[2022-03-28 16:02] 196Ikuchil opened #32580 "[ja] Translate concepts/security/pod-security-admission/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [concepts/security/pod-security-admission/](https://kubernetes.io/docs/concepts/security/pod-security-admission/) into Japanese.

**Why is this needed**
This page has not been translated.

**Comments**

/language ja
/assign

[2022-03-28 16:26] PriyanshuAhlawat commented on #32493
/assign

[2022-03-28 17:02] oluyinkos opened #32582 "Trouble following HorizontalPodAutoscaler walkthrough"
When I run the load generator pod, it is unable to connect to the php-apache service.

The error received is:

```wget: can't connect to remote host (10.109.151.227): Connection timed out```

I'm unable to connect to the php-apache service from the browser either. The workaround I have used for that is to run the following command:

```kubectl port-forward service/php-apache 31000:80```

Then I ca

[2022-03-28 17:56] sftim commented on #31657
I think `languageNameLatinScript` would be a Kubernetes thing, not a Hugo thing. So long as Hugo lets us set it, we can then access that data in the theme and use it somewhere sensible.

[2022-03-28 20:17] #28567 closed

[2022-03-28 21:13] jroper opened #32588 "Document what happens in kubectl when two CRDs have the same names"
What happens if I deploy the following CRD:

[code]

The plural and singular are already all used by a core k8s resource. Anecdotally, it seems I can only access that resource in kubectl using the name `services.example.com` or `myservice` or `myservices`, but is that just by luck, or is this actually defined behavior? Is it possible that in some circumstances, the names declared above might take

[2022-03-28 21:15] reylejano commented on #32564
/triage accepted

[2022-03-28 22:07] sftim opened #32589 "Dockershim removal FAQ is in Portuguese"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/dockershim redirects to
https://kubernetes.io/pt-br/blog/2022/02/17/dockershim-faq/

**Proposed Solution:**
Remove the `/dockershim` alias from the Portuguese blog page.

**Page to Update:**
https://kubernetes.io/dockershim

**Additional Information:**
/priority critical-urgent
/kind bug
/area blog

I think a side effect of https://githu

[2022-03-28 22:16] sftim commented on #32588
I think this is really a support question about [API Groups](https://kubernetes.io/docs/reference/using-api/#api-groups); however, if the documentation could cover this better (perhaps with more hyperlinking) then that would be good to learn.

/language en

[2022-03-28 22:26] sftim commented on #32589
/triage accepted

[2022-03-28 22:36] sftim commented on #32582
/retitle Trouble following HorizontalPodAutoscaler walkthrough
/language en

[2022-03-28 22:37] sftim commented on #32564
/language en
/kind feature

/priority backlog
(but definitely nice-to-have)

[2022-03-28 22:41] #32589 closed

[2022-03-28 22:43] sftim commented on #32564
My take on this is that the problem is mostly not the Secret API itself; instead, it's the huge amount of effort you have to go to if you want to restrict reading it back (and still allow it to be useful to the Pod, or whatever, that needs to use it). Encryption at rest gets you nothing if too many people can ask the API server for the plaintext.

I'm not sure how far we can get at documenting tha

[2022-03-28 22:43] sftim commented on #32496
/triage accepted
/language en
/sig network

[2022-03-28 22:44] sftim commented on #32523
/triage invalid
@cloudsapiens you *must* read the docs for the version of Kubernetes that you are running, otherwise you might assume the latest version's docs are incorrect when they are actually accurate.

[2022-03-29 01:18] #32409 closed

[2022-03-29 03:24] ydFu commented on #32433
LGTM,This issue has been resolved in PR #32433 , thank you for your contribution.
/close
/cc @tengqm

[2022-03-29 03:24] ydFu commented on #32433
/close

[2022-03-29 03:24] #32433 closed

[2022-03-29 04:40] Kartik494 commented on #32392
@miteshskj thanks for the inputs . @sftim  i am interested in raising a PR for this if no-one is currently working on this issue.Please let me know on this.

[2022-03-29 04:42] miteshskj commented on #32392
@Kartik494  - I am working on this. Sorry missed to assign myself.
/assign

[2022-03-29 04:48] Kartik494 commented on #32392
@miteshskj No problem, thanks for clarification, please let me know oi you need any help on this.

[2022-03-29 09:03] Shubham82 commented on #32582
Hi @oluyinkos
I have tried the [HPA walkthrough](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/#run-and-expose-php-apache-server) it is working fine for me.
I have used docker as VM Driver.

[code]
[code]

[2022-03-29 09:51] ydFu commented on #32267
This issue is being handled by PR #32440.

[2022-03-29 10:19] Kartik494 commented on #30283
/remove-lifecycle rotten

[2022-03-29 10:19] Kartik494 commented on #30283
@mrunalp could you please take a look on the query.

[2022-03-29 10:22] RA489 commented on #30653
/remove-lifecycle rotten

[2022-03-29 10:44] sftim commented on #30654
Nothing to fix

/retitle Bug in Deprecated API Migration Guide
(that's the report, incorrect though it may be)
/close

[2022-03-29 10:44] #30654 closed

[2022-03-29 11:47] oluyinkos commented on #32582
Thanks for the feedback @Shubham82. Note that I tried it on a Mac. I was able to get it to work eventually by changing the driver to hyperkit. Did you test it on a Mac as well?

[2022-03-29 13:48] #32392 closed

[2022-03-29 15:22] #29101 closed

[2022-03-29 16:04] 196Ikuchil opened #32615 "[ja] Translate concepts/security/controlling-access/ into Japanese"
**This is a Feature Request**
Translate [concepts/security/controlling-access/](https://kubernetes.io/docs/concepts/security/controlling-access/) into Japanese.

**What would you like to be added**

**Why is this needed**
This page has not been translated.

**Comments**

/language ja
/assign

[2022-03-29 16:26] sftim commented on #29101
The only mention of replicationcontrollers references a specific watch cache functionality. It might or might not be out of date.

I'm OK with leaving this auto-closed.

[2022-03-29 16:57] Deepakktripathy commented on #32322
Hi, can anyone tell me where should the new link point to?

[2022-03-29 18:21] sftim commented on #32511
/kind bug
/triage accepted

[2022-03-29 18:22] sftim commented on #32511
I'm going to freeze this one
/lifecycle frozen

It'll need fixing, unless we change quite a lot of how the site works.

/priority backlog

[2022-03-29 18:23] sftim commented on #32523
/triage unresolved

/close
Nothing to fix here.

[2022-03-29 18:23] sftim commented on #32316
/retitle [zh] Localization bugs / work required for Deployment concept

[2022-03-29 18:24] #32523 closed

[2022-03-29 18:24] sftim commented on #32327
Does this actually need fixing first in the upstream English docs? Localizations should be a faithful, relevant conversion of the original text.

[2022-03-29 19:41] guettli opened #32619 "Issue with k8s.io/docs/tasks/administer-cluster/reserve-compute-resources/"
https://kubernetes.io/docs/tasks/administer-cluster/reserve-compute-resources/#general-guidelines

What is a **'Guaranteed' pod**?

Please make `Guaranteed' pods` a hyperlink to a place where you find the explanation.

Maybe this fits:

https://kubernetes.io/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods/

or this: https://kubernetes.io/docs/tasks/configure-pod-container/s

[2022-03-29 20:27] guettli opened #32622 "Improvement for k8s.io/docs/tasks/administer-cluster/reserve-compute-resources/"
https://kubernetes.io/docs/tasks/administer-cluster/reserve-compute-resources/#general-guidelines

It took me some time to understand what this means. I think adding this would help users to understand it:

** ... If system-reserved is enforced, kublet will evict system processes if the available resources drops below the specified value.**

If you agree, then please add it some lines below, too:

[2022-03-30 01:07] tengqm commented on #32322
Maybe pointing to the master branch would be okay. https://github.com/kubernetes/examples/blob/master/guestbook/all-in-one/guestbook-all-in-one.yaml

There is not such tag named v1.20.13 or something like that.

[2022-03-30 01:23] jihoon-seo opened #32626 "Wrong links in sidebar menu of k/w repo wiki"
**This is a Bug Report**

**Problem:**
In the sidebar menu of k/w repo wiki, there exist links:
- [I18n team meeting notes](https://github.com/kubernetes/website/wiki/Guidelines-for-Reviewing-and-Merging-PRs/wiki/Translation-team-meeting-notes)
- [Q&A with OpenStack i18n](https://github.com/kubernetes/website/wiki/Guidelines-for-Reviewing-and-Merging-PRs/wiki/OpenStack-Q&A:-i18n)

But these links

[2022-03-30 01:38] edithturn commented on #13948
@raelga podria asignarme  Volume Health Monitoring :)

[2022-03-30 03:24] RA489 commented on #32619
@guettli How about adding this link as definition of `Guaranteed pod` https://kubernetes.io/docs/tasks/configure-pod-container/quality-service-pod/#create-a-pod-that-gets-assigned-a-qos-class-of-guaranteed

[2022-03-30 03:26] RA489 commented on #32619
/triage accepted

[2022-03-30 03:49] Shubham82 commented on #32582
No @oluyinkos I didn't try it on MAC. I tried it on Ubuntu 18.04.
See [this](https://minikube.sigs.k8s.io/docs/drivers/#macos) drivers page, may be this will help you.

[2022-03-30 05:22] Kartik494 commented on #29502
/remove-lifecycle rotten

[2022-03-30 05:29] Kartik494 commented on #29494
/remove-lifecycle stale

[2022-03-30 07:18] sftim commented on #32322
If we want versioning by release, we can make a copy of that manifest within https://github.com/kubernetes/website/tree/main/content/en/examples (and then onto a release branch rather than _main_).

[2022-03-30 08:37] ydFu commented on #32267
/retitle [zh] Missing Chinese translation docs: https://kubernetes.io/blog/2022/02/16/sig-node-ci-subproject-celebrates/

[2022-03-30 08:39] ydFu commented on #32267
This issue is resolved by PR #32440.
/close

[2022-03-30 08:39] #32267 closed

[2022-03-30 08:50] Sampaiolc commented on #13939
Hey everyone, I would like to start translating the page [Turnkey Cloud Solutions](https://kubernetes.io/docs/setup/production-environment/turnkey-solutions/). Already assigned it to me in the spreadsheet.

[2022-03-30 09:14] tengqm opened #32644 "Reorg the "monitoring, logging and debugging" subsection."
The current organization of the https://kubernetes.io/docs/tasks/debug-application-cluster/ section is a mixture of several topics targeting different group of audience. There are topics related to debugging applications, there are also topics on debugging node, cluster level issues. There are three subsections about 'troubleshooting'. This is confusing and making it difficult to find the right in

[2022-03-30 09:43] xuerong-wang opened #32645 "Kubernetes 对 Windows 的支持"

[2022-03-30 10:42] RA489 commented on #32645
@xuerong-wang could you please elaborate your issue?

[2022-03-30 10:43] RA489 commented on #32644
/triage accepted

[2022-03-30 10:43] RA489 commented on #32645
/triage needs-information

[2022-03-30 13:06] #32493 closed

[2022-03-30 13:51] ac427 commented on #32207
any update on this issue? Looks like the issue is only with x86_64
https://github.com/kubernetes/website/pull/32621#issuecomment-1082334348

[2022-03-30 14:48] #31361 closed

[2022-03-30 15:05] nasa9084 commented on #32081
/triage accepted

[2022-03-30 15:05] nasa9084 commented on #32082
/triage accepted

[2022-03-30 15:06] nasa9084 commented on #32615
/triage accepted

[2022-03-30 15:08] nasa9084 commented on #30156
/remove-lifecycle rotten
because the related PR is under reviewing

/triage accepted

[2022-03-30 16:40] nasa9084 opened #32653 "[ja] Translate /docs/contribute/style/hugo-shortcodes/ into Japanese"
**This is a Feature Request**

**What would you like to be added**
A /docs/contribute/style/hugo-shortcodes/ page translated into Japanese

**Why is this needed**

The page has not been translated.

**Comments**

/assign

[2022-03-30 16:41] nasa9084 commented on #32653
/language ja

[2022-03-30 16:42] #32304 closed

[2022-03-30 17:11] fasaxc opened #32655 "Configure Service Accounts for Pods page doesn't talk about the new BoundServiceAccountTokenVolume feature"
**This is a Bug Report**

**Problem:**
Configure Service Accounts for Pods page doesn't talk about the new BoundServiceAccountTokenVolume feature, it describes time-based expiration but tokens can now expire for other reasons.

**Proposed Solution:**
Add note about BoundServiceAccountTokenVolume and that it means that service account tokens are now revoked on pod termination.

**Page to Update:**

[2022-03-30 17:12] nasa9084 commented on #32653
/triage accepted

[2022-03-30 17:29] SergeyKanzhelev commented on #32047
/cc @adisky @andrewsykim

/triage accepted

[2022-03-30 19:29] cyang49 opened #32662 "API Priority and Fairness Documentation Needs Update"
The API priority and fairness documentation stays at v1.20. It's behind the current release v1.23
https://kubernetes.io/docs/concepts/cluster-administration/flow-control/

While reading through it I noticed that the section about [Health check concurrency exemption](https://kubernetes.io/docs/concepts/cluster-administration/flow-control/#health-check-concurrency-exemption) is out of date. Current

[2022-03-30 19:32] raelga commented on #13948
Listo!

[2022-03-30 22:07] sftim commented on #32662
/sig api-machinery
/language en

[2022-03-30 22:10] sftim commented on #32655
I agree, the docs _do_ mention ServiceAccount token volume projection.

It would be nice to have a concept page about ServiceAccounts (see https://github.com/kubernetes/website/issues/31847); the task pages could then refer people to that concept page for further reading.

[2022-03-30 22:11] sftim commented on #31847
@ediazgallego would you like any help with moving that work forward?

[2022-03-31 00:49] tengqm commented on #32626
/triage accepted

[2022-03-31 01:41] #32121 closed

[2022-03-31 01:44] #32090 closed

[2022-03-31 02:07] tengqm commented on #31817
#31818 is fixing this.

[2022-03-31 02:17] #32196 closed

[2022-03-31 03:45] #32224 closed

[2022-03-31 04:06] RA489 commented on #32619
@guettli As https://github.com/kubernetes/website/pull/32637 merged can we close this issue?

[2022-03-31 05:38] tengqm commented on #32622
/triage accepted
/assign @guetli

[2022-03-31 05:38] tengqm commented on #32622
/assign @guettli

[2022-03-31 05:42] tengqm commented on #32327
/close
This issue won't be solved in the zh localization. Feel free to file one about label examples.

[2022-03-31 05:42] #32327 closed

[2022-03-31 05:46] tengqm commented on #32317
Done.
/close

[2022-03-31 05:46] #32317 closed

[2022-03-31 06:12] tengqm commented on #32315
My take of this issue is that the migration job is heavily dependent on the cloud you are using. It is not as simple as moving the kubernetes control plane and/or the workloads. You need to consider how the components fits together, how the networking, storage provisioning are handled. We are not documenting any vendor specific solutions on k8s website.
Feel free to open a different issue if you h

[2022-03-31 06:14] tengqm commented on #32299
Please feel free to reopen if this has something to do with documentation.
/close

[2022-03-31 06:14] #32299 closed

[2022-03-31 06:44] guettli commented on #32619
yes, I close it.

[2022-03-31 06:44] #32619 closed

[2022-03-31 06:44] championshuttler commented on #32626
/assign

[2022-03-31 06:46] championshuttler commented on #32626
/unassign
it seems only privileged contributors can make the changes

[2022-03-31 07:01] expoli opened #32676 "使用 Service 连接到应用"
问题描述：此节的DNS测试命令有误
https://kubernetes.io/zh/docs/concepts/services-networking/connect-applications-service/#dns

- 文章所写
[code]
- 实际执行结果
[code]

- 解决方案：
将 `nslookup my-nginx` 更正为 `nslookup my-nginx.default` 即可

[2022-03-31 07:20] expoli commented on #32676
环境信息
![image](https://user-images.githubusercontent.com/31023767/160999850-a7beb86a-d330-4001-a072-1e69b30321e6.png)

[2022-03-31 07:32] jihoon-seo commented on #32676
/language zh

[2022-03-31 09:43] 196Ikuchil opened #32677 "[ja] Update /ja/docs/concepts/scheduling-eviction/kube-scheduler.md to fix the weight and some links"
**This is a Feature Request**

**What would you like to be added**

Update ja/docs/concepts/scheduling-eviction/kube-scheduler.md to fix the weight and some links.

**Why is this needed**
- The weight value has changed on the current English page.
- One of the links on this page does not work.
- Update to other links.

**Comments**

/language ja
/assign

[2022-03-31 09:57] nasa9084 commented on #32677
/retitle [ja] Update /ja/docs/concepts/scheduling-eviction/kube-scheduler.md to fix the weight and some links
/triage accepted

[2022-03-31 11:11] sftim commented on #28037
/lifecycle frozen

[2022-03-31 11:33] sftim commented on #31817
After #31818 merges, I'd like (nice to have) to see that change backported to older docs.

[2022-03-31 11:42] mengjiao-liu commented on #32676
I use the `nslookup my-nginx `command to test according to the [documentation](https://kubernetes.io/zh/docs/concepts/services-networking/connect-applications-service/#dns), it can output correctly.
[code]

[2022-03-31 12:47] goswamid opened #32681 "Interactive Tutorial - Creating a Cluster"
I keep getting the following error while following the bootcamp tutorial:
The connection to the server localhost:8080 was refused - did you specify the right host or port?

[2022-03-31 13:23] goswamid commented on #32681
Sorry! Didn't start it. Bummer!!

[2022-03-31 15:57] #32292 closed

[2022-03-31 16:15] sftim opened #32688 "Document use of legacy Service Account token mechanism"
**This is a Feature Request**

**What would you like to be added**
Document how to opt back in to legacy ServiceAccount token autogeneration.

**Why is this needed**
https://github.com/kubernetes/enhancements/tree/master/keps/sig-auth/2799-reduction-of-secret-based-service-account-token describes how we're switching to a new mechanism for ServiceAccount tokens.

If you find that you rely on the st

[2022-03-31 16:17] sftim commented on #32688
It's not enough to document just the feature gate, because folks who have this need won't want to iterate through every feature gate in the hope that they find one that helps fix the issue they face.

[2022-03-31 16:20] sftim opened #32689 "Document InTreePluginAzureFileUnregister feature gate"
**This is a Bug Report**

**Problem:** https://kubernetes.io/docs/concepts/storage/volumes/#azurefile-csi-migration doesn't mention the feature gate `InTreePluginAzureFileUnregister`, but it should do.

**Proposed Solution:**
Update documentation for migration from in-tree Azure File driver.

**Page to Update:**
https://kubernetes.io/docs/concepts/storage/volumes/

**Additional Information:**
/sig

[2022-03-31 16:22] #32626 closed

[2022-03-31 23:48] #29107 closed

[2022-03-31 23:50] tallclair opened #32695 "Anchor offset overlaps controls"
**This is a Bug Report**

**Problem:**

Header elements have an added `:before` element that is used to offset the anchor from the top of the screen ([code](https://github.com/google/docsy/blob/f6a1870918520c83872fc07943a67a1d9d2a998c/assets/scss/main.scss#L43-L62)), to prevent the heading from being placed behind the fixed header.

However, this invisible element prevents things above the header

[2022-04-01 00:56] jihoon-seo commented on #32695
/area web-development

[2022-04-01 01:28] EzzioMoreira commented on #13939
Hello guys!
How are you?
I will start translating `/docs/tasks/access-application-cluster/ingress-minikube.md`. Already assigned it to me in the spreadsheet. :metal:

[2022-04-01 03:12] zshihang commented on #32688
the idea is to drive users to use manually created legacy tokens instead of auto-generated. https://github.com/kubernetes/website/pull/31845

[2022-04-01 03:22] RA489 commented on #32695
/triage accepted

[2022-04-01 07:23] vaibhav2107 commented on #25903
/remove-lifecycle rotten

[2022-04-01 08:37] sftim commented on #32688
Even though we are recommending a different approach, I'm still concerned that there will be insufficient documentation about how to retain the GA feature (and perhaps also about the implications of doing so).

[2022-04-01 11:01] RA489 commented on #32566
/close

[2022-04-01 11:01] #32566 closed

[2022-04-01 11:02] RA489 commented on #32469
/triage accepted

[2022-04-01 11:04] RA489 commented on #32424
/triage accepted

[2022-04-01 11:19] Snorri1986 opened #32700 "Інтерактивний урок - Розгортання застосунку page incorrect"
Module 2.Depoly an App.
There is an error in the example of Step 3.
URL: https://kubernetes.io/uk/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/
IF you write two commands as described in the example and push ENTER button - you will got an error:
`echo -e "\n\n\n\e[92mStarting Proxy. After starting it will not output a response. Please click the first Terminal Tab\n";
kubectl proxy

[2022-04-01 11:26] RA489 commented on #32422
/triage accepted

[2022-04-01 11:28] RA489 commented on #32263
/triage accepted

[2022-04-01 11:32] RA489 commented on #32029
@macnix feel free to reopen this issue once you have details.

[2022-04-01 11:32] RA489 commented on #32029
/close

[2022-04-01 11:32] #32029 closed

[2022-04-01 11:34] RA489 commented on #31790
/language zh

[2022-04-01 12:57] expoli opened #32702 "示例：使用 StatefulSet 部署 Cassandra"
# 问题描述：排版出现问题
## 1. 下面的代码块部分格式有误
https://kubernetes.io/zh/docs/tutorials/stateful-application/cassandra/#%E9%AA%8C%E8%AF%81-cassandra-statefulset

![image](https://user-images.githubusercontent.com/31023767/161267714-443ab28c-a6dc-4466-83e9-7aaf02dafdf2.png)

## 2. 原来应在右面的反馈按钮，位置不合理的跑到了下面

![image](https://user-images.githubusercontent.com/31023767/161267863-5fa6fb90-2ae0-454e-bd22-187ac7e8efe7.pn

[2022-04-01 13:43] sftim commented on #32700
Hi @Snorri1986

What is the URL of the page that does not seem right?

/triage needs-information

[2022-04-01 13:43] sftim commented on #32702
/language zh

[2022-04-01 13:57] miteshskj commented on #32689
/assign

[2022-04-01 14:06] Snorri1986 commented on #32700
Good afternoon,@sftim.
First of all I have caught this mistake by link https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/
After, I have seen it futher.

[2022-04-02 07:37] olemarkus commented on #31769
/triage accepted

[2022-04-02 08:36] iamNoah1 opened #32715 "Reference Docs Overview - Improve user experience"
It is kind of confusing that in the upper section there is a bullet point linking to the quickstart and in the lower section, there is also a link to the quick start. I would suggest the following.

1. From the upper section remove: "To build the reference documentation, see the following guide: [Generating Reference Documentation Quickstart](https://kubernetes.io/docs/contribute/generate-ref-docs

[2022-04-02 09:23] iamNoah1 opened #32718 "Contributing to the Upstream Kubernetes Code - Missleading/Wrong Docs/Information"
Following the Contributing to the Upstream Kubernetes Code, I have pretty much the same use case as mentioned. Updating the Comment section for IngressClassName to improve the API docs. Thus I made changes on `staging/src/k8s.io/api/networking/v1/types.go` and ran the scripts: `hack/update-generated-swagger-docs.sh`, `hack/update-openapi-spec.sh` and `hack/update-generated-protobuf.sh`.

My output

[2022-04-02 12:12] Deepakktripathy commented on #32322
Hi, where is the file for this issue situated? I am having trouble finding it

[2022-04-02 12:13] tengqm commented on #32718
Maybe `hack/update-generated-swagger-docs.sh` is another script to be triggered.

[2022-04-02 12:52] Sampaiolc commented on #13939
Hey everyone, I would like to start translating the page [Validate node setup](https://kubernetes.io/docs/setup/best-practices/node-conformance/). Already assigned it to me in the spreadsheet.

[2022-04-02 13:28] miteshskj commented on #32322
@Deepakktripathy  - website/content/en/docs/concepts/configuration/overview.md in release-1.20 branch.

[2022-04-02 15:28] sftim commented on #30694
/lifecycle frozen

[2022-04-02 16:03] sftim commented on #32718
https://kubernetes.io/docs/contribute/generate-ref-docs/contribute-upstream/ predates https://k8s.dev/docs/

If we can, it'd be good to move this whole process into https://k8s.dev/docs/ and then add redirects (or change hyperlinks).

[2022-04-02 16:03] sftim commented on #32718
/language en

[2022-04-02 16:04] sftim commented on #32715
@iamNoah1, what's the URL of the page that isn't right?

[2022-04-02 16:07] sftim commented on #32700
/retitle Error in page Interactive Tutorial - Deploying an App

@Snorri1986 Your original title suggests you were looking at the Ukrainian localization. Which is right?
@Snorri1986 Ви читали англійську чи українську веб-сторінку?

[2022-04-02 16:09] Snorri1986 commented on #32700
Ukrainian.I will send Ukrainian link on next Monday.

[2022-04-02 16:11] sftim commented on #32700
/retitle Інтерактивний урок - Розгортання застосунку page incorrect
/language ua

More information about the issue is welcome

[2022-04-02 16:11] sftim commented on #32700
/language uk

[2022-04-02 16:15] sftim commented on #32688
If we had documentation for the ServiceAccount concept (see https://github.com/kubernetes/website/issues/31847) then I'd be less concerned, because in the page about ServiceAccount we could mention the legacy mechanism and why it is deprecated.

[2022-04-02 16:16] sftim commented on #31847
/triage accepted
/lifecycle frozen

[2022-04-02 23:14] shaquiba739 opened #32732 "Trouble following guide #Install and Set Up kubectl on Linux (on CentOS)"
We are unable to install the kubectl tool in centos 7 as getting the below error.

Cuurent configuration of repo
![image](https://user-images.githubusercontent.com/61896157/161404392-3fc27f6a-24dc-466e-897b-98f4aac29619.png)

The error we are getting while trying to download the kubectl.
![image](https://user-images.githubusercontent.com/61896157/161404452-27d03be1-0dfa-4c06-a26c-beb6359da906.png)

[2022-04-03 03:14] #31061 closed

[2022-04-03 08:37] nonylene commented on #30765
/remove-lifecycle stale

[2022-04-03 10:02] iamNoah1 commented on #32718
I ran that script as well.

[2022-04-03 10:11] iamNoah1 commented on #32718
I see, so can I assume that https://k8s.dev/docs/ will be the new source of truth for contribution docs?

However, my question is still if I am doing something wrong or if the docs are out of date? If they are out of date I would love to update them accordingly.

[2022-04-03 10:14] iamNoah1 commented on #32715
@sftim it's https://kubernetes.io/docs/contribute/generate-ref-docs/. Guess this will be moved to https://k8s.dev/docs/ as well?!

[2022-04-03 11:17] sftim commented on #32718
If you have contributed to upstream Kubernetes and want to ensure you've done all the docs generation steps, I think `make update` is canonical. It covers everything (and uses a lot of compute).

[2022-04-03 11:19] sftim commented on #32718
Bear in mind that this documentation is maintained by Kubernetes contributors and that means, mostly by volunteers. The intent is certainly for https://k8s.dev/docs/ to be canonical.

[2022-04-03 17:21] LucasBorges4 opened #32740 "Aprenda as noções básicas do Kubernetes"

[2022-04-03 18:26] sftim commented on #32732
/retitle Trouble following guide #Install and Set Up kubectl on Linux (on CentOS)
Duplicate of #32207
/triage duplicate
/language en

[2022-04-03 18:41] chrisnegus commented on #25879
I believe documentation is done to meet the intent of this issue, including [How to find out what container runtime is used on a Node](https://kubernetes.io/docs/tasks/administer-cluster/migrating-from-dockershim/find-out-runtime-you-use/), as well as instructions for migrating from using dockershim to:
* [containerd](https://kubernetes.io/docs/tasks/administer-cluster/migrating-from-dockershim/ch

[2022-04-03 19:25] vaibhav2107 commented on #25866
/remove-lifecycle stale

[2022-04-03 21:34] MrErlison commented on #13939
Hi. I am working on /docs/concepts/architecture/nodes.md

[2022-04-04 01:30] hyder opened #32742 "Document OCI integration with Service API"
Hi,

We would like to add Oracle Cloud Infrastructure (OCI) documentation to the [services-networking page](https://kubernetes.io/docs/concepts/services-networking/service/), specifically additional annotations as well as Network Load Balancer.

How would you recommend we structure our content on this page? Should we break it down by cloud vendor or by service/feature?

Please advise.

[2022-04-04 05:12] afbjorklund commented on #25879
As far as I know, the information on how to build images is available in the container runtimes (outside k8s.io).

The main highlight was that it is not covered with `crictl`, so that you _need_ to use something outside of CRI ?

For containerd, that means installing and configuring [buildkit](https://github.com/moby/buildkit).

But it does **not** have to be addressed before closing this issue.

[2022-04-04 12:02] sftim commented on #32302
@vsxen could you explain more about which page you recommend changing, and what should be added?

Alternatively: describe a task that a reader might want to achieve, and highlight gaps in how they could learn to perform that task.

[2022-04-04 12:57] ghost opened #32750 "Set up Ingress on Minikube with the NGINX Ingress Controller"
503 Service Temporarily Unavailable facing that error

[2022-04-04 13:15] vsxen commented on #32302
for example: apiserver

when I run `k get --raw /metrics |grep TYPE`, I can see  apiserver has this metrics

My questions is:

1. which metrics can tell me apiserver is slow so I should  add new instances
2. which metrics can tell me aggr api is ok (v1beta1.metrics.k8s.io)
3. why apiserver has `ssh_tunnel_open_count`  and `workqueue_depth` metrics
4. what should I do if `workqueue_depth` is always

[2022-04-04 13:30] sftim commented on #32302
/retitle Add documentation for metric series that Kubernetes components emit

We might want to split this into 2 requests:
1. Document the stable metrics
2. Document the other (unstable) metrics

[2022-04-04 13:55] tengqm commented on #32302
I can vaguely recall that there was a PR fixing the pointer to the stable k8s metrics page (which is currently almost empty).
The SIG Instrumentation team does have a list of stable metrics [here](https://github.com/kubernetes/kubernetes/blob/master/test/instrumentation/testdata/stable-metrics-list.yaml), but I have no idea if the team has a registry for all component metrics.

[2022-04-04 14:00] chrisnegus commented on #25879
@afbjorklund Thanks for your insight here. Would it be appropriate to open a separate issue for the k8s.io docs to cover the issue of building containers (that could be handled after 1.24) or it is okay to leave that to the runtime docs, outside of k8s.io?

[2022-04-04 14:07] sftim commented on #32302
/triage accepted
/remove-triage needs-information
/sig instrumentation
/priority backlog

[2022-04-04 14:09] sftim commented on #32302
I've accepted this in that it's something that SIG Docs would agree is nice to work on; I've marked it as a backlog item because there are other improvements that we would prioritize before this one.

Anyone who wants to help out here is very welcome to.

[2022-04-04 14:25] Snorri1986 commented on #32700
@sftim do you need some additional information from me ?

[2022-04-04 14:39] pinkertonpg commented on #30843
@a-mccarthy On the page https://kubernetes.io/docs/concepts/containers/images/#using-a-private-registry, it outlines 4 ways to set up private image registry auth:
- Configuring Nodes to Authenticate to a Private Registry
- Pre-pulled Images
- Specifying ImagePullSecrets on a Pod
- Vendor-specific or local extensions

Your comment suggests that the decision is to remove the first of these sections,

[2022-04-04 14:48] Snorri1986 commented on #32700
@sftim updated

[2022-04-04 14:49] nasa9084 commented on #30160
/remove-lifecycle rotten
PR is under reviewing

[2022-04-04 15:07] afbjorklund commented on #25879
It is my understanding that kubernetes.io will not carry _any_ documentation for _any_ container runtime.

But please check with the SIG Docs members, I was just remotely following issues such as PR #32738.

[2022-04-04 15:23] sftim commented on #25879
If we wanted to explain how to build container images, that might be a topic better covered on the blog.

If someone wants to, that could either be a survey of existing articles that already cover it (there must be hundreds), or a new article that also explains how to get your built container running in Kubernetes.

I think that's a separate thing from what _this_ issue is about: explaining how to

[2022-04-04 15:29] sftim commented on #27682
Also see issue #32302

[2022-04-04 15:29] sftim commented on #32302
/lifecycle frozen

[2022-04-04 16:38] afbjorklund commented on #25879
We added `minikube image build` and `minikube image load`, to help users move away from using `docker`.

Some users might prefer to run two VMs, one for building images and one (or more) for running the cluster.
That works fine too (just slower), and then they can have dockerd in the first and containerd in the second.

The only thing we need to explain, is that if they change their runtime - our

[2022-04-04 16:59] guettli opened #32753 "Hello Minikube: Default to install minikube on own machine"
Page: https://kubernetes.io/docs/tutorials/hello-minikube/

At the moment the default is to use the minikube in Katacoda.

There is a note that you can run the command in your minikube, too. But the current default seems
to be Katacoda.

I am unsure if this is, what most people prefer.

I have the vague feeling that people prefer to install minikube locally and run commands there.

Someone who has

[2022-04-04 17:03] guettli opened #32754 "Offer non-interactive equivalents for interactive tutorials"
Page: https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/

It takes ages to start the interactive session.

I think it would be better to have pure text and show the commands which you need to enter in
your local minikube.

The "Hello Minikube" page is better in this regards, since you see the commands and execute them in your local
minikube. See related issu

[2022-04-04 18:40] #31657 closed

[2022-04-04 20:34] os6sense commented on #30912
I'm also affected by this issue when trying to setup a hostpath based pv for local development. Actually understanding the problem is hard enough because this is the first hit on google and to my mind, no one has actually answered the original question.

My understand so far is that there isn't actually a StorageClass named "manual", rather the hostpath based PV is provisioned statically and "manu

[2022-04-05 02:24] hyder commented on #32742
Thanks @sftim. I see you intend to drop the vendor details. Will there be a place here where we can add links to provider docs?

[2022-04-05 02:57] oke-py opened #32756 "Layout is broken in /ja/docs/tasks/tools/install-kubectl/"
**This is a Bug Report**

**Problem:**
There is a layout corruption in https://kubernetes.io/ja/docs/tasks/tools/install-kubectl/ .
The "Zsh" tab is not working.

<img width="1064" alt="ss_ 2022-04-05 11 47 45" src="https://user-images.githubusercontent.com/4710215/161669468-c13c62ef-a6fc-423d-be66-a02032b3e4bd.png">

The right column is displayed in the lower left probably due to the same reason.

[2022-04-05 03:41] RA489 commented on #32750
@Bhaktusude If you talking about https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/ it is accessible for me. Are you still facing the issue?

[2022-04-05 05:35] seokho-son commented on #31647
@jihoon-seo
혹시 R1 , D1 도 진행되어 있는지 문의 드립니다. :)

[2022-04-05 05:36] Djelibeybi commented on #32742
@sftim would you propose that cloud vendor specific documentation links go into the "What's next" section or somewhere else? We'll watch your refactor PR and then submit a link to our own docs once that's merged.

[2022-04-05 06:49] jihoon-seo commented on #31647
@seokho-son
R1 은 #31792 에서,
D1 은 #31881 에서 처리했습니다 😊

[2022-04-05 07:09] iamNoah1 commented on #32718
Don't know what exactly you want to tell me with that piece information 😅. However I found the root cause why the output differed for me and swagger.json was not generated. Running `./hack/update-openapi-spec.sh` was not successful and I did not pay enough attention. The script is looking for `.../kubernetes/_output/local/bin/darwin/arm64/kube-apiserver` which does not exist when running on a Appl

[2022-04-05 12:08] sftim commented on #32742
I'm tempted to make a reference page that lists cloud provider integrations with the Service API and that hyperlinks to the docs for each provider where those exist.

[2022-04-05 12:10] sftim commented on #32742
/language en
/sig cloud-provider network
/triage accepted
/priority backlog

[2022-04-05 12:11] sftim commented on #32742
/retitle Document OCI integration with Service API

[2022-04-05 12:11] sftim commented on #32742
@hyder you might also want to update https://kubernetes.io/docs/concepts/services-networking/ingress-controllers/ for similar reasons.

[2022-04-05 12:41] #32689 closed

[2022-04-05 12:42] sftim commented on #32754
/retitle Interactive tutorial sessions slow to start
/team katacoda

[2022-04-05 12:43] sftim commented on #32754
your local minikube.

We could not then call that an “interactive tutorial”. I think maybe @guettli you would like to request that we add a non-interactive version of each interactive tutorial?

[2022-04-05 12:43] sftim commented on #32750
/triage needs-information
/language en

[2022-04-05 12:44] sftim commented on #32740
/triage needs-information

@LucasBorges4 would you describe the issue? We cannot start to work on the issue until you do that.

[2022-04-05 14:34] sftim commented on #31425
@chrisnegus how's that going?

It'd be nice to get this shortcode in before the v1.23 release so that we can easily use that shortcode in backports (if we need to).

[2022-04-05 14:41] reylejano commented on #30938
yes, done and closing issue

[2022-04-05 14:41] #30938 closed

[2022-04-05 14:43] #30940 closed

[2022-04-05 15:37] sftim commented on #32753
/priority awaiting-more-evidence

Do people prefer to try Kubernetes in an online hosted sandbox, or to install things locally?

[2022-04-05 16:41] #30376 closed

[2022-04-05 18:09] guettli commented on #32754
@sftim yes, this makes sense. So that the user can decide if he wants to use his own minikube or a minikube in the browser.

[2022-04-05 18:14] sftim commented on #32754
/kind feature
/retitle Offer non-interactive equivalents for interactive tutorials
/priority awaiting-more-evidence

I'd like to see some +1 reactions on this issue before we accept it - that'd create a significant extra work backlog for our 13 or so localization teams.

[2022-04-05 23:33] andresgarcia0313 opened #32770 "git clone and kubectl apply"
Please post a short session to run a git clone and kubectl apply -k ./ for various software

example https://github.com/docker/awesome-compose

Por favor colocar una sesión corta para ejecutar un git clone y kubectl apply -k ./ para distintos software

please leave the documentation in Spanish

[2022-04-06 00:18] #32183 closed

[2022-04-06 00:34] #32615 closed

[2022-04-06 00:52] bang9211 commented on #31163
done #30330

[2022-04-06 00:52] #31163 closed

[2022-04-06 01:54] #30994 closed

[2022-04-06 02:56] twilight0620 opened #32773 "[zh]kubernetes-api/workload-resources/cron-job-v1/ does not has chinese version:"
Problem:
do not have chinese docs: https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/cron-job-v1/

Proposed Solution:
add chinese docs in website

Comments
/language zh
/assign

[2022-04-06 05:56] Kartik494 commented on #29861
/remove-lifecycle rotten

[2022-04-06 09:30] howieyuen commented on #32773
triage/accepted

[2022-04-06 10:42] Kartik494 commented on #32153
@halilural i think it depends on what container runtime you are using , if you are using docker than you find the appropriate behaviour of building image and packaging on docker documentation.

[2022-04-06 10:46] Kartik494 commented on #32105
Hi @stormqueen1990 @sftim as #30984 has been merged so should we close this issue?

[2022-04-06 11:56] Kartik494 commented on #30824
/remove-lifecycle stale

[2022-04-06 11:58] Kartik494 commented on #30824
Hi @chenlrambus i have tried it on my env the given example  running fine without many number of restarts
`
kubectl get pods

NAME        READY   STATUS    RESTARTS   AGE
myapp-pod   1/1     Running   0          94s
`

[2022-04-06 12:47] sftim commented on #32770
/kind feature

This kind of request might be better made to [SIG Usability](https://github.com/kubernetes/community/tree/master/sig-usability); it doesn't sound like a request to document Kubernetes itself.

/priority awaiting-more-evidence

[2022-04-06 16:41] chenlrambus commented on #30824
Probably the start up time of your pod is fast. If your pod start up time is slow, you will notice the issue.

[2022-04-06 18:16] tallclair opened #32778 "Sustainable solution to maintaining links to 3rd party content"
The Security Response Committee gets a fair amount of reports about link hijacking, which is basically what you get when a third party project we were linking to disappears or changes its name (surprisingly common...)
We just got a big dump of reports about links on https://kubernetes.io/docs/concepts/cluster-administration/addons/ and https://kubernetes.io/docs/concepts/cluster-administration/net

[2022-04-06 18:48] tallclair commented on #32778
From https://datastudio.google.com/reporting/fede2672-b2fd-402a-91d2-7473bdb10f04/page/567IC, between Mar 7 - Apr 5, 2022:

- https://kubernetes.io/docs/concepts/cluster-administration/networking/ is the 72nd most popular page, with 26,261 page views
- https://kubernetes.io/docs/concepts/cluster-administration/addons/ is the 138th most popular page, with 12,695 page views

[2022-04-06 18:50] sftim commented on #32778
Some thoughts

- as a personal opinion, I think it's OK not to pay buy bounties about the URLs of third party projects that we hyperlink to
  - if we hyperlink to a web page and that thing we link to is compromised by other means, eg they commit their release key and push it, that's also not a bug bounty where the Kubernetes project would pay out
  - I have a feeling that, technically, we hyperlin

[2022-04-06 18:53] sftim commented on #32778
Maybe the folks behind the CNCF landscape might be able to help us out here / we can draw on that existing work? The [CNCF landscape](https://landscape.cncf.io/) is another kind of curated list; it's maintained; there are lots of projects.

I do have a feeling that there are still lots of projects (client libraries, network plugins, container runtimes, the list goes on) that aren't in the landscap

[2022-04-06 21:36] tallclair commented on #32778
I'm in favor of delegating to the CNCF landscape. FWIW, you can filter to CNI projects for the sake of the cluster-admin/networking page: https://landscape.cncf.io/card-mode?category=cloud-native-network&grouping=category (though there is not complete overlap with our list)

[2022-04-06 22:20] stormqueen1990 commented on #32105
Hi @Kartik494! Yes, this issue can be closed!

[2022-04-06 22:29] sftim opened #32785 "Migrate volume snapshot tasks to Tasks section"
**This is a refactor request**

**What would you like to be added**
Create a new task page that contains the task-like content relating to snapshots, such as [Create a PersistentVolumeClaim from a Volume Snapshot](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#create-persistent-volume-claim-from-volume-snapshot). It's OK to create more than one page if you need to.

You should not

[2022-04-06 22:31] sftim commented on #13401
#32785 is very similar to this issue. We have tasks docs now but they are in the wrong place.

[2022-04-06 22:37] sftim commented on #32785
Remember to update https://kubernetes.io/docs/concepts/storage/volume-snapshots/ if you make any relevant changes.

[2022-04-07 02:34] seokho-son commented on #31647
/close

[2022-04-07 02:34] #31647 closed

[2022-04-07 02:39] jihoon-seo opened #32790 "`config API reference generator` still outputs `godoc.org`, not `pkg.go.dev`"
**This is a Bug Report**

**Problem:**
According to #31318 and #31319,

so @tengqm updated the generator and opened a PR #31786 which replaces most of `godoc.org` string with `pkg.go.dev`,
but [some `godoc.org` strings were not replaced](https://github.com/kubernetes/website/pull/31786/files#diff-529642a7ae8ff36aa9b875aba977d33431be275a59526b0f94fccd861d2191e3R116) and remain in these files:
- `co

[2022-04-07 05:01] #29994 closed

[2022-04-07 06:39] 6puCCeH opened #32796 "Опечатка в Создание сервиса для открытия доступа к приложению"
https://kubernetes.io/ru/docs/tutorials/kubernetes-basics/expose/expose-intro/

«ниже описано, в каких случаях понадобиться сервис без указания selector в спецификации»

В слове «понадобиться» нужно убрать мягкий знак.

[2022-04-07 06:53] #31646 closed

[2022-04-07 08:48] tengqm commented on #32105
/close

[2022-04-07 08:48] #32105 closed

[2022-04-07 09:25] Kartik494 commented on #31950
@dymax you can refer objects deployments file in kubernetes documentation, like here for deployment [yaml](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#creating-a-deployment) you will find more on each field of the deployment object.

[2022-04-07 10:39] sftim commented on #32796
/language ru
/retitle Опечатка в Создание сервиса для открытия доступа к приложению

[2022-04-07 11:11] Shubham82 commented on #31236
/close with refrence [#31235](https://github.com/kubernetes/website/issues/31235)

[2022-04-07 12:02] #20952 closed

[2022-04-07 12:02] #20953 closed

[2022-04-07 12:02] #20955 closed

[2022-04-07 12:02] #20961 closed

[2022-04-07 13:03] #30102 closed, assigned to ghulamyazdani

[2022-04-07 13:15] wellsud commented on #13939
Greetins! I'm going to translate [Volumes](https://kubernetes.io/docs/concepts/storage/volumes/]). Already assigned it to me in the spreadsheet.

[2022-04-07 14:23] goombah88 opened #32801 "Network Policies"
While working through the Killer Shell scenario for NetworkPolicies to prep for my CKA, I used the example [HERE](https://kubernetes.io/docs/concepts/services-networking/network-policies/#networkpolicy-resource) but it failed validation. When I looked at their solution it had one tiny difference, they had a - in front of "ports:" and you guys didn't. Based on the reference docs it appears ports do

[2022-04-07 16:04] neolit123 commented on #32790
/triage accepted

[2022-04-07 16:06] #28898 closed

[2022-04-07 20:49] theronl opened #32804 "Improvement for k8s.io/docs/tasks/access-application-cluster/port-forward-access-application-cluster/"
This was kind of helpful but I'm trying to expose the service on laptop A so laptop B can access it.  This doesn't address that issue at all.  It seems to assume that you'll only ever want to reach the service via localhost.

Both of my machines are running on a wired firewalled LAN at my desk and one machine is barely keeping up running a large cluster of services and I need to connect to the deb

[2022-04-07 20:51] theronl commented on #32804
I didn't realize I was opening an issue on github.   I would rather submit a patch once I've figured out how to do what I need to do.  Closing this issue.

[2022-04-07 20:51] #32804 closed

[2022-04-07 21:24] chrisnegus commented on #30837
I added [PR #32805](https://github.com/kubernetes/website/pull) to address this issue. I'm looking for feedback on wording, graphics and timeframe.

[2022-04-07 22:40] tabbysable opened #32806 "Update docs about power of nodes/proxy"
`nodes/proxy` is an extremely powerful RBAC permission, often the moral equivalent of cluster admin. Its name makes sense in historical context but is misleading about its current functions and power. This has caused confusion in the Kubernetes user community as well as multiple vulnerability reports.

Let's update the docs to make the powers of the `nodes/proxy` RBAC permission more clear. Some m

[2022-04-07 22:41] tabbysable commented on #32806
/sig docs security
cc @raesene @savitharaghunathan

[2022-04-07 22:41] tabbysable commented on #32806
/triage accepted

[2022-04-08 00:55] jihoon-seo commented on #31302
Resolved by
- #31924
- #32789

`ko` page: https://kubernetes.io/ko/docs/concepts/architecture/garbage-collection/

/close

[2022-04-08 00:55] #31302 closed

[2022-04-08 00:57] jihoon-seo commented on #31963
Resolved by
- #31964
- #32789

`ko` page: https://kubernetes.io/ko/docs/concepts/services-networking/topology-aware-hints/

[2022-04-08 00:57] #31963 closed

[2022-04-08 00:58] jihoon-seo commented on #31997
Resolved by
- #32004
- #32789

`ko` page: https://kubernetes.io/ko/docs/concepts/storage/ephemeral-volumes/

[2022-04-08 00:58] #31997 closed

[2022-04-08 00:59] jihoon-seo commented on #32021
Resolved by
- #32168
- #32789

`ko` page: https://kubernetes.io/ko/docs/tutorials/security/ns-level-pss/

[2022-04-08 00:59] #32021 closed

[2022-04-08 01:00] jihoon-seo commented on #32238
Resolved by
- #32168
- #32789

`ko` page: https://kubernetes.io/ko/docs/tutorials/security/cluster-level-pss/

[2022-04-08 01:00] #32238 closed

[2022-04-08 01:03] jihoon-seo commented on #32056
Resolved by
- #32057
- #32789

`ko` page: https://kubernetes.io/ko/docs/concepts/storage/volumes/#:~:text=컨피그맵을-,subPath,-볼륨%20마운트로%20사용하는

/close

[2022-04-08 01:03] #32056 closed

[2022-04-08 01:23] jihoon-seo opened #32808 "[ko] Wrong `Note` box scoping in Korean "Volumes" page"
**This is a Bug Report**

**Problem:**

In the 'RBD CSI migration' section of English "Volumes" page, the `Note` box ends right before the 'secret' section starts:

---

![image](https://user-images.githubusercontent.com/46767780/162343922-95aa66ce-7ae3-4335-a4c7-6547609cb8e2.png)

---

But the `Note` box in Korean "Volumes" page does not end where it should, spanning improperly.

---

![image](ht

[2022-04-08 01:38] jihoon-seo commented on #31228
/remove-lifecycle stale

[2022-04-08 03:13] #30244 closed

[2022-04-08 06:05] Kartik494 commented on #30833
/remove-lifecycle stale

[2022-04-08 06:07] Kartik494 commented on #30824
@chenlrambus So for increasing the time for startup should i modify value for `sleep` in  pod yaml?

[2022-04-08 06:10] Kartik494 commented on #30815
/remove-lifecycle rotten

[2022-04-08 06:26] Kartik494 commented on #30793
/remove-lifecycle rotten
I think here it refers to the kubelet doesn't manage containers which are created by other orchestration tools .

[2022-04-08 06:32] Kartik494 commented on #31114
/remove-lifecycle stale

[2022-04-08 06:34] Kartik494 commented on #31114
@balrajkannan There is a note in that [documentation](/remove-lifecycle stale) which refers to clear all the persistent volume we have created . @sftim  so is this good idea to add the clean up step also?

[2022-04-08 08:17] tengqm commented on #32801
@goombah88 The indentation of list items may be the source of confusion. Once you indent all list items under a given key, the parent element of the 'ports' attribute becomes more evident. The example on the website is correct. I'm not sure about the solution from killercoda.com. If you put `ports` as the first key of a list item object, if will carry the `-` bar **for that list item**, if `ports`

[2022-04-08 08:24] iamNoah1 commented on #32718
#109390

[2022-04-08 08:26] #32718 closed

[2022-04-08 09:09] seokho-son commented on #32808
/triage accepted

[2022-04-08 09:23] Kartik494 commented on #30945
@sftim @celestehorgan as #32092 has been closed , so should we close this issue also?
Thanks!!

[2022-04-08 11:29] derekwaynecarr commented on #25388
@stevekuznetsov i am happy to help review.

[2022-04-08 12:08] roobre commented on #32806
Happy to hear this is getting some traction! ❤️

[2022-04-08 12:49] PriyanshuAhlawat commented on #32806
/assign

[2022-04-08 15:03] psschwei commented on #32644
/assign

[2022-04-08 15:20] chrisnegus commented on #31425
I'm hoping to have a PR out today.

[2022-04-08 18:36] Greyvend opened #32822 "Interactive Tutorial - Creating a Cluster"
The terminal is non-iteractive. Wherever I click, nothing happens.

[2022-04-08 19:25] #30293 closed

[2022-04-08 19:48] guettli opened #32825 "Highlight current Heading in the righ TOC of the page"
thank you for the great docs!

Nevertheless I think it would help the user if the current heading in the TOC of the page (right side) would
highlight the current heading.

![image](https://user-images.githubusercontent.com/414336/162515954-2d844d06-d410-45a9-88bb-25b7662476ae.png)

In this case it would be great if "Service account token Secrets" would be highlighted in the right column.

The high

[2022-04-08 21:31] chrisnegus commented on #25879
I agree. I think we can close this issue, since the migration content has been addressed and we are well enough covered for image building documentation. I'll open a post-1.24 Issue to consider stronger wording to people for getting off of Dockershim.

[2022-04-08 21:32] chrisnegus commented on #25879
/close

[2022-04-08 21:32] #25879 closed

[2022-04-08 21:42] chrisnegus opened #32827 "Reword recommendation to migrate from dockershim"
While evaluating [Issue #25879](https://github.com/kubernetes/website/issues/25879), it was suggested that we should make a stronger statement about migrating from dockershim on the [Migrating from dockershim](https://kubernetes.io/docs/tasks/administer-cluster/migrating-from-dockershim/) page. The current wording is:

`It is recommended to migrate from dockershim to alternative container runtimes

[2022-04-08 23:07] kenhtanaka opened #32828 "Improve wording for “What is Kubernetes”"
In the section titled "Why you need Kubernetes and what it can do" the first bullet point reads:

- **Service discovery and load balancing** Kubernetes can expose a container using the DNS name or using their own IP address. If traffic to a container is high, Kubernetes is able to load balance and distribute the network traffic so that the deployment is stable.

I'm not clear on the meaning here w

[2022-04-09 01:17] chrisnegus commented on #31425
I created [PR #32826](https://github.com/kubernetes/website/pull/32826). Once we can agree on the short code, I look for pages where it should go.

[2022-04-09 04:56] #32702 closed

[2022-04-09 07:16] fake-name opened #32832 "Interactive Tutorials depend on tracker domain on adblocker lists"
Effectively the title. The interactive tutorials completely fail to operate if `trackjs.com` is blocked, which it is if the client has any anti-tracking protections running.

This includes EasyList's `easyprivacy`, which is one of the default lists used as part of uBlock origin.

Trying to run the interactive tutorial therefore fails in the following way:

[code]

Please don't make your webapp har

[2022-04-09 07:19] fake-name commented on #32832
I should further add, `trackjs.com` is blocked in a lot of places. If you have DNS-based adblocking, it's generally blocked there too.

[2022-04-09 09:25] #29084 closed

[2022-04-09 11:03] Shivansh-yadav13 commented on #31241
can I contribute?

[2022-04-09 12:01] guettli opened #32835 "Create static Pods: `--pod-manifest-path` has been deprecated"
On: https://kubernetes.io/docs/tasks/configure-pod-container/static-pod/

But I get:

Sorry, I can't provide a PR at this moment.

[2022-04-09 13:33] mehabhalodiya commented on #27333
/remove-lifecycle stale

[2022-04-09 14:18] anubha-v-ardhan commented on #31987
/close
Resolved by #32713

[2022-04-09 14:18] #31987 closed

[2022-04-09 17:13] usernameisnull opened #32837 "Is this right? A ClusterIP Service, to which the NodePort Service routes, is automatically created"
**This is a Bug Report**
In the doc:
[code]
When I create a service of type NodePort, a service of type ClusterIP is automatically created?
I doubt that.

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types

[2022-04-09 20:03] Imtiaz1234 commented on #31677
I would like to work on `content/bn/docs/setup/_index.md` .

[2022-04-09 22:41] sunjianbo945 opened #32840 "Ingress"
[code]

does not work. It seems like we still need the annotation?
  annotations:
    ingress.kubernetes.io/rewrite-target: /
am I wrong？

[2022-04-09 22:47] sunjianbo945 commented on #32840
I am using the nginx ingress controller

[2022-04-10 06:41] Yanshaoshuai opened #32844 "Questions about /website/edit/main/content/en/examples/application/mysql/mysql-configmap.yaml"
**This is a Bug Report**

**Problem:**
I use the /website/edit/main/content/en/examples/application/mysql/mysql-configmap.yaml to deploy mysql cluster,and get error when the mysql-1 clone-mysql container starting to get backup file:
[code]
I think it is the reason why datadir is not specified
**Proposed Solution:**
then I change mysql-configmap.yaml as ：
[code]
It works fine and success create oth

[2022-04-10 20:38] chrisnegus commented on #25879
Done. I opened [Issue #32827](https://github.com/kubernetes/website/issues/32827). I think we should revisit it after 1.24.

[2022-04-10 21:13] AFDBILLIONS opened #32848 "Learn Kubernetes Basics"

[2022-04-10 21:13] AFDBILLIONS commented on #32848
[](https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro/)Kubernetes Basics Modules

[1. Create a Kubernetes cluster](https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro/)[](https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro/)

[2. Deploy an app](https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-a

[2022-04-10 21:38] Pengulll opened #32849 "Interactive Tutorial - Creating a Cluster"
The following tutorial is not working: https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/

After I click "Click to Connect" with an image of the cat with a mask, and then "Start Scenario" nothing in the interactive tutorial will work or let me click on it.

[2022-04-10 21:41] sftim commented on #32840
Is there a particular web page where you have found a problem @sunjianbo945 ?

If you wanted help troubleshooting why an Ingress doesn't work in your cluster, make sure to read all of https://kubernetes.io/docs/concepts/services-networking/ingress/ (or the localized version of your preference), as well as the documentation for the specific Ingress controller that you hope to use. For help with tro

[2022-04-10 21:43] sftim commented on #32825
/kind feature
/area web-development

It's a nice idea but I suspect would be a lower priority than some other improvements that SIG Docs is keen to focus on. PRs to implement this are nevertheless welcome - ideally [upstream](https://docsy.dev/).

[2022-04-10 21:48] sftim commented on #32828
/retitle Improve working for “What is Kubernetes”
/language en

The original wording is more appropriate. Balancing, whether it's network traffic, a finance ledger, or weights on beam, is something done _in aggregate_.

Additionally, the thing that Kubernetes directs traffic to is actually a different endpoint - usually a [Pod](https://kubernetes.io/docs/concepts/workloads/pods/). It's OK to be si

[2022-04-10 21:49] sftim commented on #32849
Thanks for the report @Pengulll

Can you try to rule out that this isn't an issue with network filtering? For example, if you are behind a network filter that only allows specific websites, maybe this tutorial relies on a website that is forbidden.

[2022-04-10 21:50] sftim commented on #32827
/language en
/triage accepted

[2022-04-10 21:54] Pengulll commented on #32849
I have never set up such a thing. The only thing I found was to allow cookies but that didn't do anything :P Should I check somewhere for a network filter? I will look thoroughly in my chrome settings for one.

[2022-04-10 21:56] sftim commented on #32848
Hello @AFDBILLIONS

Please add a description for this issue.
/triage needs-information

[2022-04-10 21:58] sftim commented on #32837
/remove-kind bug
/language en

Relevant to https://github.com/kubernetes/website/pull/30817 (see https://deploy-preview-30817--kubernetes-io-main-staging.netlify.app/docs/concepts/services-networking/service/#publishing-services-service-types for a summary of Service types, and text that specifically states that later types depend on the existence of earlier ones).

[2022-04-10 21:59] sftim commented on #32837
@usernameisnull I've proposed a page rewrite that should help here. Would you have time to review that and see what you think?

[2022-04-10 22:05] chrisnegus commented on #30681
It looks like [PR #32069](https://github.com/kubernetes/website/pull/32069) updates the `resource-usage-monitoring` page the docker-specific information related to cAdvisor more generic to container runtimes. Would that be enough to address this issue or does more runtime-specific information need to be added?

[2022-04-10 22:11] Pengulll commented on #32849
I'm trying to complete this lab for college and I don't see why it wouldn't work.

[2022-04-11 00:09] sftim commented on #32844
/language en

[2022-04-11 00:15] sftim commented on #32832
https://trackjs.com/ is an error logging tool (code library and web service). To me, error logging is a feature more than a bug. I'm not sure it's reasonable to block that tool on the grounds of it being a “tracker”.

Could you explain your concern @fake-name?

/priority awaiting-more-evidence

We could add an explanation that the uBlock tool considers the error logging within the interactive tuto

[2022-04-11 00:21] sftim commented on #25388
I wonder if we could sketch out (and for now _only_ sketch out) what we want, saving the detailed work for a docs sprint at the next KubeCon.

[2022-04-11 00:41] stevekuznetsov commented on #25388
Totally! I think the questions I _always_ ended up coming to were:

 - what is the relationship between all of the metrics I am able to see?
 - which metric, specifically, is being used by e.g. the scheduler/descheduler, the kubelet (for evictions) and the kernel (for hard-OOM)?

[2022-04-11 01:56] fake-name commented on #32832
The concern here is it's effectively a 3rd party data aggregator that can operate on multiple websites. That sounds like something functionally indistinguishable from a tracker.

In any event, the point is, probably the most used ad-blocker (ublock origin) out there includes it in it's default set of block lists.

Basically, the solution here would be to try loading the error logging tool, and if

[2022-04-11 02:09] wangxiaoyang-dev opened #32851 "bug: 在集群中使用级联删除 hyperlink is 404"
There is a bug:
https://kubernetes.io/zh/docs/tasks/administer-cluster/use-cascading-deletion/#:~:text=%E4%BA%86%E8%A7%A3%20Kubernetes%20finalizers-,%E4%BA%86%E8%A7%A3%E5%9E%83%E5%9C%BE%E6%94%B6%E9%9B%86.,-%E5%8F%8D%E9%A6%88
This hyperlink is 404, it should be "https://kubernetes.io/zh/docs/concepts/architecture/garbage-collection/"

[2022-04-11 02:37] mengjiao-liu commented on #32851
/assign

[2022-04-11 02:38] mengjiao-liu commented on #32851
/triage accepted

[2022-04-11 04:06] mengjiao-liu commented on #32851
The issue was solved by PR #32852. If there is any problem, please give feedback again.
/close

[2022-04-11 04:06] #32851 closed

[2022-04-11 06:16] #31303 closed

[2022-04-11 06:22] #31217 closed

[2022-04-11 06:24] #31249 closed

[2022-04-11 07:09] miteshskj commented on #32849
@Pengulll - If you have adblock or any other extensions, try disabling them for this page. I had the same problem and it worked after disabling adblock.

[2022-04-11 08:21] raesene commented on #32806
One possibly useful piece for this, is that we have a draft RBAC good practice page here https://github.com/kubernetes/website/pull/32812 which will mention node/proxy as an area of concern and could possibly be linked from other sections of the docs once committed.

[2022-04-11 08:49] shinegrin opened #32854 "Translation of "grace period""
**This is a Feature Request**

**What would you like to be added**

In https://kubernetes.io/zh/docs/concepts/workloads/pods/pod-lifecycle/, the chinese translation of "grace period" may be better with "优雅限期", rather than "体面期限".
In other words, the word "grace" may be better with translating it into "优雅".

**Why is this needed**
优雅地终止Pod，优化终止期限，在语言表达上要比“体面”更加符合翻译的“信达雅”准则。

**Comments**

[2022-04-11 08:59] astellingwerf opened #32855 "Recommended Labels page suggests using SemVer when only a subset of semvers are valid"
The page [Recommended Labels](https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/) recommends setting the `app.kubernetes.io/version` label. One of the suggested values is a semver. The problem with that recommendation is that there are plenty of fully compliant semvers that are incompatible with the restrictions that k8s put on the [character set](https://kubernetes.i

[2022-04-11 09:57] tengqm commented on #32854
这个问题讨论过多次了。Gracefully shutdown a node. 究竟是“优雅地关闭一个节点”，还是“体面地关闭一个节点”。

在英文中，grace 这个词有一种解释，非常接近我们这个上下文：

noun.
a period officially allowed for payment of a sum due or for compliance with a law or condition, especially an extended period granted as a special favor.

grace 的另一个英文解释，更接近中文的“优雅”，甚至接近于 charm 的含义。

noun.
simple elegance or refinement of movement

就节点关闭或 Pod 终止而言，根本谈不上什么“优雅”。这里的 gracefulll

[2022-04-11 09:58] #32854 closed

[2022-04-11 10:52] #29874 closed

[2022-04-11 13:04] usernameisnull commented on #32837
In https://deploy-preview-30817--kubernetes-io-main-staging.netlify.app/docs/concepts/services-networking/service/#publishing-services-service-types , it's the same。My native language is not english,I just feel that this sentence means that when the NodePort service is created, a ClusterIp service is automatically created. I am confused.

![image](https://user-images.githubusercontent.com/3390414/

[2022-04-11 13:24] neolit123 commented on #24558
/lifecycle frozen

[2022-04-11 13:49] vishwanathjadhav opened #32858 "Add examples for creating an object to new-style API reference"
A few examples to use API methods will be helpful. Documentation is missing the examples.

Example page: https://k8s.io/docs/reference/kubernetes-api/cluster-resources/node-v1/

[2022-04-11 13:50] rohan-97 opened #32859 "Improvement for k8s.io/docs/reference/kubernetes-api/cluster-resources/node-v1/"
Documentation is missing examples for creation/updation of nodes in Kubernetes using Kubernetes `REST API`

[2022-04-11 16:04] Shivansh-yadav13 commented on #32859
@rohan-97 this issue is same as #32858 ?

[2022-04-11 16:15] ritazh commented on #32688
@zshihang can you please follow up on this so we can close this out for v1.24?

[2022-04-11 16:21] ritazh commented on #30575
/triage accepted
/remove-lifecycle rotten

[2022-04-11 16:21] ritazh commented on #30575
/assign @aramase

[2022-04-11 16:50] kenhtanaka commented on #32828
I see, "Balancing" implies an aggregate action to me too, so with regards to "a container" I wasn't sure if I was making the right assumption that "there must be other containers" to make that work. I think this would be clearer to me to identify a broader set (change in italics):

- **Service discovery and load balancing** Kubernetes can expose a container using the DNS name or using their own IP

[2022-04-11 18:31] Matthelonianxl commented on #32859
# -*- coding: utf-8 -*- #
# Copyright 2019 Google LLC. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the L

[2022-04-12 03:49] mengjiao-liu commented on #32844
/assign

[2022-04-12 04:13] juliusl opened #32869 "TLS Secrets, Note in documentation is confusing"
There's a note at the end of the section that states:

But right before that,

If you try to kubectl create secret those files without the PEM boundaries, you'll get:
[code]

If you pass in the files with the PEM boundary, the secret gets created. However, upon inspecting the value of the secret in the k8's dashboard, the secret value will include the PEM boundary. Now from the Note I would've exp

[2022-04-12 04:41] #32844 closed

[2022-04-12 05:44] usernameisnull commented on #32837
thumbs up

[2022-04-12 05:44] #32837 closed

[2022-04-12 08:41] alfahadp opened #32873 "Cannot drag horizontal scrollbars in documentation"
Horizontal scrollbar on certain code sections are not working.

eg: https://kubernetes.io/docs/concepts/overview/working-with-objects/field-selectors/#supported-fields

[2022-04-12 09:44] sarazqy opened #32875 "Misssing Chinese translation docs: https://kubernetes.io/blog/2016/08/sig-apps-running-apps-in-kubernetes/"
This is a Bug Report

Problem:
misssing Chinese translation docs: https://kubernetes.io/blog/2016/08/sig-apps-running-apps-in-kubernetes/

Proposed Solution:
add Chinese translation docs in website Kubernetes Blog

Comments
/language zh
/assign

[2022-04-12 11:03] tengqm commented on #32875
/remove-kind bug
/kind feature

[2022-04-12 12:19] zguolee opened #32879 "为命名空间配置默认的 CPU 请求和限制"
删除你的命名空间：

`kubectl delete namespace constraints-cpu-example`

应该是

`kubectl delete namespace default-cpu-example`

[2022-04-12 12:20] sftim opened #32880 "“Creating a cluster with kubeadm” unclear on meaning of Installing kubeadm step"
**This is a Bug Report**

**Problem:**
[Creating a cluster with kubeadm](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/) lists prerequisites but does not mention that each server must already have a container runtime installed and working.

The need for a container runtime (and the fact that it doesn't come with Kubernetes) is a crucial detail; omitti

[2022-04-12 13:24] sftim commented on #30745
@Tobi1to I'll highlight your request to the documentation special interest group

[2022-04-12 13:28] miteshskj commented on #32880
The Instructions begins with "Installing kubeadm" which is a link to https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/ .
That page covers all the prerequisites (including container runtime and additional details not covered in create-cluster-kubeadm page).
Instead of adding same details again, should we just remove all duplicate info from create-cluster-kubeadm

[2022-04-12 13:33] Rodrigo010497 opened #32881 "No proper documentation on how to create your own custom metrics exporter"
Something like this but more in depth and up to date
https://faun.pub/writing-custom-metrics-exporter-for-kubernetes-hpa-8a2601a53386

[2022-04-12 13:39] sftim commented on #32880
In code, it's usually a good idea to avoid repeating yourself.

In docs, though, it can be worthwhile making the same point twice. Maybe we should move the part where people install a container runtime out of https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/

Someone who has `kubeadm` installed but doesn't have a container runtime is likely to skip past “Instal

[2022-04-12 13:59] miteshskj commented on #32880
Agree. Currently, https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/ only mentions that container runtimes need to be setup and links to https://kubernetes.io/docs/setup/production-environment/container-runtimes/ for detailed instructions.

In this page (create-cluster), we rename step 1 to something as "Prepare the hosts" and here we inform users that they need

[2022-04-12 14:27] chrisnegus commented on #31423
/close

[2022-04-12 14:27] nate-double-u commented on #31423
/close
fixed in https://github.com/kubernetes/website/pull/31454

[2022-04-12 14:36] chrisnegus commented on #30945
/close

[2022-04-12 14:36] #30945 closed

[2022-04-12 14:38] chrisnegus commented on #29665
/closed

[2022-04-12 14:41] chrisnegus commented on #30943
/close

[2022-04-12 14:41] #30943 closed

[2022-04-12 14:48] reylejano commented on #30927
Fixed by https://github.com/kubernetes/website/pull/31282

[2022-04-12 15:07] chrisnegus commented on #30842
The pod-infra-container-image flag is only mentioned in two files currently. The one in reference docs will go away when reference docs are rebuilt for 1.24. The mention in https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/ will be removed in PR to be named later. If there are new feature to replace image pining for other runtimes, please create a new issu

[2022-04-12 16:41] sftim commented on #32869
There's a difference between the data you provide to the `kubectl` tool and the data that Kubernetes then stores in the Secret API.
Secret `data` is always encoded using Base64; there is also a `stringData` field that you can use if the information is actually a string, but that's not relevant to X.509 certificates.

There's clearly a discrepancy here. What you've found with `kubectl create secret

[2022-04-12 16:43] sftim commented on #32873
I can replicate this
/kind bug
/area web-development
/triage accepted
/lifecycle frozen

[2022-04-12 16:44] sftim commented on #32881
/kind feature
/sig instrumentation

Part of this story might work better as a blog article for the Kubernetes blog, and part of this might work better as extra reference docs.

[2022-04-12 16:44] sftim commented on #32881
/language en

[2022-04-12 16:45] sftim commented on #32881
Related, we might want to document more of the `metrics.k8s.io` API and how to implement _that_.

[2022-04-12 16:46] sftim commented on #32858
Hello. Would you be able to explain more the improvement you have in mind? If you could sketch out one or two of the examples you were hoping to see (don't worry about being technically accurate, that's not what we need for the sketch) then that will help us understand the gap better.

[2022-04-12 16:48] sftim commented on #32855
/retitle Recommended Labels page suggests using SemVer when only a subset of semvers are valid

A plausible fix would be to specify the version of SemVer - as I understand it, all 1.x SemVers _are_ valid.

/language en

[2022-04-12 16:55] mitul3737 commented on #31677
I would like to work on ` content/bn/docs/tasks/_index.md` .

[2022-04-12 16:56] Imtiaz1234 commented on #31677
I would like to work on ` content/bn/docs/tasks/_index.md`

[2022-04-12 17:18] chrismetz09 commented on #32881
/assign

[2022-04-12 17:20] sftim commented on #30904
/close

Fixed in #32413 (thanks @tengqm)

[2022-04-12 17:21] #30904 closed

[2022-04-12 17:23] sftim commented on #32880
/triage accepted

[2022-04-12 17:26] sftim commented on #32835
/kind bug
/sig node
/language en
/priority important-longterm

Static pods are on the syllabus for the CKA qualification, so we should especially avoid recommending a deprecated approach.

[2022-04-12 17:41] chrismetz09 commented on #31960
Updated to Mermaid 8.14.0 on test branch.

Replicated previously observed behavior:

1. Chrome renders okay, although you do see rare mis-renders when pounding the reload button.
2. FF shows frequent mis-renders. `Shift + command R` seems to clear the error and correctly renders the diagram.

As mentioined in very rare chrome occurrence and frequent FF reloads, you see the following:

![Screen Sho

[2022-04-12 17:41] nate-double-u commented on #23518
Hugo has made an update and introduced a new feature that may help us to manage versions better:
_Vertical merging of content mounts_: https://github.com/gohugoio/hugo/releases/tag/v0.96.0

I haven’t played with it much yet, but if I’m reading this correctly, it looks like we may be able to have a base version, then for any new version, only create deltas (and, I think we may be able to do this fo

[2022-04-12 17:41] nate-double-u commented on #23518
/remove-lifecycle stale

[2022-04-12 17:48] miteshskj commented on #32880
/assign

[2022-04-12 18:11] vaibhav2107 commented on #30911
/remove-lifecycle stale

[2022-04-12 18:40] mitul3737 commented on #31677
I would like to work on `content/bn/docs/tasks/tools/_index.md`

[2022-04-12 18:45] Imtiaz1234 commented on #31677
I would like to work on `content/bn/docs/tasks/tools/_index.md`

[2022-04-12 19:31] guettli commented on #32835
Maybe it makes sense to change to docs from `/etc/kubelet.d` to `/etc/kubernetes/manifests`, too, since that what kubeadm creates.

[2022-04-12 19:32] Imtiaz1234 commented on #31677
Would like to work on `content/bn/docs/tutorials/_index.md`

[2022-04-12 19:46] chrisnegus commented on #30837
[PR #32805](https://github.com/kubernetes/website/pull/32805) merged
/close

[2022-04-12 19:52] #30839 closed

[2022-04-12 21:56] juliusl commented on #32869
@sftim Awesome, thanks for clearing that up.

[2022-04-13 00:10] synox opened #32889 "Secrets: Mounting optional Secrets as Volumes"
The docs make it seem that you can only mark secrets mounted as parameters as optional, but not when mounted as volumes.
However, my tests confirmed that k8s `v1.21.11` does support mounting secrets as volumes marked as optional.

Docs to improve:

[2022-04-13 00:16] tengqm commented on #32879
@zguolee Would you like propose a fix?

[2022-04-13 00:57] zguolee commented on #32879
Ok, I've done it.

[2022-04-13 01:32] jihoon-seo commented on #32879
- en: https://kubernetes.io/docs/tasks/administer-cluster/manage-resources/cpu-default-namespace/#:~:text=kubectl%20delete%20namespace%20default%2Dcpu%2Dexample
- zh: https://kubernetes.io/zh/docs/tasks/administer-cluster/manage-resources/cpu-default-namespace/#:~:text=kubectl%20delete%20namespace%20constraints%2Dcpu%2Dexample

/triage accepted

[2022-04-13 03:04] #22989 closed

[2022-04-13 03:35] #32879 closed

[2022-04-13 07:27] rohan-97 commented on #32859
Hi @Shivansh-yadav13 ,
this is same issue as https://github.com/kubernetes/website/issues/32858
you can mark this one as duplicate

[2022-04-13 07:48] vishwanathjadhav commented on #32858
Hi Tim,

Thanks for the quick reply. I am looking at [Kubernetes API](https://kubernetes.io/docs/reference/kubernetes-api/cluster-resources/node-v1/#create-create-a-node) Doc for node creation(overall management) but I don't know what format of the metadata/parameters needs to provide so that my curl request would create/add the node as a control plane node or a worker node. Few examples for addin

[2022-04-13 08:27] sftim commented on #32858
/retitle Add examples for creating an object to new-style API reference

[2022-04-13 08:27] sftim commented on #32858
/kind feature

[2022-04-13 08:30] sftim commented on #32858
The client that adds a node is _usually_ the kubelet. We can still look to give an example for how you'd create an object of each type.
Part of that story could be a page about how to read the API reference and work out a JSON payload based on what you see there and the object you want to create. Then each API reference page could use a shortcode to include a summary of that page and also link to

[2022-04-13 08:32] lishuai-hw opened #32893 "[zh] Missing Chinese translation docs: https://kubernetes.io/blog/2022/01/10/meet-our-contributors-india-ep-01/"
**Problem:**
This page does not have Chinese docs: https://kubernetes.io/blog/2022/01/10/meet-our-contributors-india-ep-01/

**Proposed Solution:**
add Chinese translation docs in website Kubernetes Blog

Comments
/language zh

[2022-04-13 08:43] sftim commented on #32859
/triage duplicate

[2022-04-13 09:12] shuuji3 commented on #27596
/remove-lifecycle stale

[2022-04-13 09:14] saschagrunert commented on #31420
This is done :)

[2022-04-13 09:14] #31420 closed

[2022-04-13 09:44] sftim commented on #32889
/kind bug
/language en

[2022-04-13 10:22] sftim commented on #29718
The v1.24 release for Kubernetes is likely to happen either this month or next month.

/close
/retitle Query about removal of dockershim from Kubernetes

[2022-04-13 10:22] #29718 closed

[2022-04-13 12:33] sftim commented on #32828
/retitle Improve wording for “What is Kubernetes”

How about:
_Service discovery and load balancing Kubernetes can expose a container using the DNS name or using their own IP address. When there are multiple containers backing a service, Kubernetes is able to load balance and distribute the network traffic. Load balancing helps ensure that a workload can stay available even if one container stops

[2022-04-13 13:09] chrisnegus commented on #26780
With the merge of [PR #32761](https://github.com/kubernetes/website/pull/32761) I'm closing this issue.
/close

[2022-04-13 13:09] #26780 closed

[2022-04-13 15:52] nate-double-u commented on #31348
fixed in https://github.com/kubernetes/website/pull/32328
/close

[2022-04-13 15:53] #31348 closed

[2022-04-13 16:08] xing-yang opened #32900 "Document annotations used in PV controller"
**This is a Bug Report**

**Problem:**
Annotations used by PV controller and other storage controllers should be documented here:
https://kubernetes.io/docs/reference/labels-annotations-taints/

**Proposed Solution:**
Document annotations that are currently missing from the doc.

**Page to Update:**
https://kubernetes.io/...

[2022-04-13 16:08] xing-yang commented on #32900
/sig storage

[2022-04-13 16:08] xing-yang commented on #32900
/triage accepted

[2022-04-13 16:29] xing-yang opened #32901 "Deprecate AzureDisk and AzureFile in-tree plugins"
**This is a Bug Report**

**Problem:**
CSI Migration for AzureDisk moved to GA in 1.24. CSI Migration for AzureFile moved to Beta on-by-default in 1.24. Both in-tree plugins were deprecated when CSI Migration moved to Beta off-by-default. So both in-tree plugins should be marked as deprecated in Kubernetes docs.

https://kubernetes.io/docs/concepts/storage/volumes/#azuredisk
https://kubernetes.io/

[2022-04-13 16:29] xing-yang commented on #32901
/sig storage

[2022-04-13 16:29] xing-yang commented on #32901
/triage accepted

[2022-04-13 16:30] xing-yang commented on #32901
/assign @andyzhangx

[2022-04-13 16:32] #30974 closed

[2022-04-13 16:34] xing-yang opened #32902 "Update docs to mark in-tree GCP PD plugin as deprecated"
**This is a Bug Report**

**Problem:**
CSI Migration for gcepersistentdisk moved to Beta in 1.17 release so the in-tree plugin was already deprecated at that time. The in-tree plugin should be marked as deprecated in Kubernetes docs.

https://kubernetes.io/docs/concepts/storage/volumes/#gcepersistentdisk

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2022-04-13 16:34] xing-yang commented on #32902
/sig storage

[2022-04-13 16:34] xing-yang commented on #32902
/triage accepted

[2022-04-13 16:46] xing-yang opened #32903 "Deprecate awselasticblockstore in-tree plugin"
**This is a Bug Report**

**Problem:**

CSI Migration for awselasticblockstore moved to Beta in 1.17 release so the in-tree plugin was already deprecated at that time. The in-tree plugin should be marked as deprecated in Kubernetes docs.
https://kubernetes.io/docs/concepts/storage/volumes/#awselasticblockstore

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2022-04-13 16:47] xing-yang commented on #32903
/triage accepted

[2022-04-13 16:49] xing-yang opened #32904 "Update docs to mark in-tree Cinder plugin as deprecated"
**This is a Bug Report**

**Problem:**

CSI Migration for OpenStack Cinder moved to Beta in 1.21 release so the in-tree plugin was already deprecated at that time. The in-tree plugin should be marked as deprecated in Kubernetes docs.

https://kubernetes.io/docs/concepts/storage/volumes/#cinder

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2022-04-13 16:49] xing-yang commented on #32904
/sig storage

[2022-04-13 16:49] xing-yang commented on #32904
/triage accepted

[2022-04-13 17:01] sftim opened #32905 "Bootstrap and Font Awesome (as part of Docsy) are deprecated"
**This is a Bug Report**

**Problem:**
https://github.com/google/docsy/discussions/950 marks that **within the context of the Docsy** theme:
- Bootstrap as a Git submodule is deprecated
- Font Awesome as a Git submodule is deprecated

Docsy still use these things, but the recommended. mechanism for that is no longer Git submodules.

**Proposed Solution:**
come up with a new way to build the site v

[2022-04-13 17:02] sftim commented on #32905
Insta-freezing this one
/lifecycle frozen

[2022-04-13 17:02] sftim commented on #32904
/retitle Update docs to mark in-tree Cinder plugin as deprecated

[2022-04-13 17:02] sftim commented on #32904
/language en

[2022-04-13 17:02] sftim commented on #32903
/retitle Update docs to mark in-tree AWS EBS plugin as deprecated
/language en

[2022-04-13 17:03] sftim commented on #32902
/retitle Update docs to mark in-tree GCP PD plugin as deprecated
/language en

[2022-04-13 17:03] sftim commented on #32901
/retitle Update docs to mark in-tree Azure* storage plugins as deprecated
/language en

[2022-04-13 17:29] sftim commented on #30917
Article is merged and published
/close

[2022-04-13 17:29] #30917 closed

[2022-04-13 17:30] sftim commented on #30974
It's all done!

[2022-04-13 17:36] jingxu97 commented on #32902
/cc @mattcary

[2022-04-13 17:37] danieltharp commented on #31960
Just noting this persists on Firefox 100.0b3 on the first load, and cleared up after a refresh..

[2022-04-13 17:44] sftim commented on #23518
/triage accepted
/priority important-longterm

[2022-04-13 19:13] PriyanshuAhlawat commented on #32902
/assign

[2022-04-13 19:15] PriyanshuAhlawat commented on #32903
/assign

[2022-04-14 00:54] #32880 closed

[2022-04-14 02:06] lcy19870112 opened #32921 "Assigning Pods to Nodes"
No Recursive instructions

[2022-04-14 02:07] lcy19870112 opened #32922 "Taints and Tolerations"
No Recursive instructions

[2022-04-14 02:27] jai commented on #26989
/unassign sladyn98

[2022-04-14 02:56] jai commented on #26989
Sorry it's been so long 😂

FYI @sftim

Updated page: https://deploy-preview-32923--kubernetes-io-main-staging.netlify.app/docs/reference/labels-annotations-taints/

[2022-04-14 04:19] mengjiao-liu commented on #32893
/kind feature
/triage accepted

[2022-04-14 04:19] mengjiao-liu commented on #32893
/remove-kind bug

[2022-04-14 04:45] Babapool commented on #32827
Hi, I would like to work on this issue. Thanks.
/assign

[2022-04-14 04:46] Babapool commented on #32827
I have one question: The PR for this issue should target the `dev-1.24` branch or the `main` branch?

[2022-04-14 06:09] PriyanshuAhlawat commented on #32901
/assign

[2022-04-14 06:09] PriyanshuAhlawat commented on #32904
/assign

[2022-04-14 06:19] lishuai-hw commented on #32893
/assign

[2022-04-14 08:48] s-titoo commented on #20810
Hi all,

I see that issues was closed but ppl still got help.
Play with K8s is down for couple of days now.
Can someone pls have a look?
https://labs.play-with-k8s.com/

Thx a lot.

[2022-04-14 12:19] kai687 opened #32927 "Can't use make container-serve to build the Docs"
**This is a Bug Report**

**Problem:** Running the command `make container-serve` fails with the following error:

[code]

**What I did:**

I ran the following commands:
1. `git clone https://github.com/kubernetes/website.git`
2. `make module-init`
3. `make container-image`
4. `make container-serve`

The current directory is mounted into `/src`. In the container, these files appear as owned by roo

[2022-04-14 13:36] sftim commented on #32927
Hi. What OS are you running Docker on @kai687?

[2022-04-14 13:37] sftim commented on #32927
I can replicate this with a recent `docker.io/library/golang:1.16-alpine` image (local checksum: `7642119cd16177d874dcbfe1c550affd336dbe4cabb3339ef685ac1d6ec71ccc`)

[2022-04-14 13:48] marcosnils commented on #20810
Hi, can you check now? Should be back online

[2022-04-14 13:54] sftim commented on #32927
/triage accepted
/priority important-longterm

Thanks for reporting this @kai687

[2022-04-14 13:55] sftim commented on #32927
I think adding `git config --global --add safe.directory /src` to the `Dockerfile` would be a reasonable fix, so long as it's done the right way.

[2022-04-14 13:56] sftim commented on #32922
I'm afraid I'm not sure what's wrong here.

Can you let us know the URL of the page that isn't right, and also explain what's wrong. If you can, compare how the page you hoped to be reading isn't the same as the page that's actually published.

/triage needs-information

[2022-04-14 14:15] s-titoo commented on #20810
Thx, Marcos - up and running. Nice day!

[2022-04-14 14:54] sftim opened #32930 "Hyperlink to support period details"
**This is a Feature Request**

**What would you like to be added**
- Update https://kubernetes.io/releases/ so that the text “_approximately 1 year of patch support_” is a hyperlink to https://kubernetes.io/releases/patch-releases/#support-period
- Update https://kubernetes.io/docs/home/supported-doc-versions/ to add some next text of your choice that also includes a hyperlink to https://kubernete

[2022-04-14 14:55] sftim commented on #32930
Feel free to reply to this issue if you want to work on this but have questions about how to do that.

[2022-04-14 15:18] VanshulB commented on #32930
@sftim I want to work on that issue
Can you please assign it to me.

[2022-04-14 15:27] kai687 commented on #32927
I got it working by:

1. Changing the mount point of the docs directory OR using a different working directory for the `hugo` user. (Otherwise the `.git/config` gets overwritten by the mounted `.git/config`).
2. Add an additional `RUN git config --add --global safe.directory /{MOUNTPOINT}` after we set the user and working directory.

[2022-04-14 16:14] 196Ikuchil opened #32935 "Improvement for en/docs/reference/glossary/api-eviction.md"
**This is a Feature Request**

**What would you like to be added**

I think it is difficult to understand the difference between this and the DELETE API.
The Eviction API complies with PodDisruptionBudget.
Therefore, I would like to add new lines that explain about PodDisruptionBudget like this.
[code]
(This is from [this page](https://kubernetes.io/docs/concepts/scheduling-eviction/api-eviction/)

[2022-04-14 16:15] shannonxtreme opened #32936 "Add dockershim to the Glossary"
Not a 1.24 blocker.

[Original discussion on Slack.](https://kubernetes.slack.com/archives/C02PZMA3R6E/p1649868016215619)

Add `dockershim` to the Kubernetes glossary.

### Proposed content

dockershim

A component present in Kubernetes version 1.23 and earlier that allowed Docker Engine to communicate with Kubernetes system components like the kubelet. The dockershim was removed in v1.24. For mor

[2022-04-14 16:19] sftim commented on #32936
/triage accepted
Thanks @shannonxtreme

/help

[2022-04-14 16:23] sftim commented on #32935
/kind feature

It'd also be OK to change the final part of the glossary entry to hyperlink to https://kubernetes.io/docs/concepts/scheduling-eviction/api-eviction/

[2022-04-14 16:23] sftim commented on #32935
/language en
/priority backlog

[2022-04-14 16:46] sftim commented on #32778
/triage accepted

[2022-04-14 16:50] sftim commented on #32921
I'm afraid I'm not sure what's wrong here.

Can you let us know the URL of the page that isn't right, and also explain what's wrong. If you can, compare how the page you hoped to be reading isn't the same as the page that's actually published.

/triage needs-information

[2022-04-14 18:11] #30156 closed

[2022-04-14 18:13] #32677 closed

[2022-04-14 18:17] #31887 closed

[2022-04-14 18:21] #32081 closed

[2022-04-14 18:21] #32068 closed

[2022-04-14 18:23] #30160 closed

[2022-04-14 18:25] #30508 closed

[2022-04-14 19:22] chrisnegus commented on #32827
Good question. I think clarity is a good thing right now. So my personal preference is `main`.

[2022-04-14 20:02] chrismetz09 commented on #31960
More investigation steps:

1. Updated to Mermaid 8.14.0 version.
2. Update FF browser to 99.0.1 (64-bit) on Mac Catalina 10.15.7
3. Update Chrome to Version 100.0.4896.88 (Official Build) (x86_64) on Mac Catalina 10.15.7
4. Opened [test PR](https://github.com/kubernetes/website/pull/32940)

Observations:

1. More frequent FF broken diagrams. Do see very occasional Chrome mermaid breakage but only

[2022-04-14 21:48] kenhtanaka commented on #32828
Yes, that reads much clearer to me.

[2022-04-14 22:16] chrismetz09 commented on #31960
Tested with Mermaid 9.0.0 and observed same behavior.

[2022-04-15 00:20] nate-double-u opened #32944 "Update Jobs Page, Job tracking with finalizers section"
Update [content/en/docs/concepts/workloads/controllers/job.md](https://github.com/kubernetes/website/blob/main/content/en/docs/concepts/workloads/controllers/job.md#job-tracking-with-finalizers), job-tracking-with-finalizers section, as k/k PR https://github.com/kubernetes/kubernetes/pull/109487 is disabling `JobTrackingWithFinalizers` by default due to an unresolved bug.

[2022-04-15 00:23] nate-double-u commented on #32944
Specifically the _note_ (https://kubernetes.io/docs/concepts/workloads/controllers/job/#job-tracking-with-finalizers) says that "it is enabled by default."

[2022-04-15 01:50] shivam-sharma7 commented on #32930
could you assign me for this issues?

[2022-04-15 06:14] habibrosyad commented on #24382
/remove-lifecycle stale

[2022-04-15 07:46] miteshskj commented on #32936
/assign

[2022-04-15 09:41] #32082 closed

[2022-04-15 09:49] #31380 closed

[2022-04-15 10:08] zhangxyjlu opened #32952 "[zh]This page blog/_posts/2021-11-08-steering-committee-results-2021.md has no Chinese version"
This is a Bug Report
This page blog/_posts/2021-11-08-steering-committee-results-2021.md has no Chinese version

Problem:
This page blog/_posts/2021-11-08-steering-committee-results-2021.md has no Chinese version

Proposed Solution:
Translate Chinese version for blog/_posts/2021-11-08-steering-committee-results-2021.md

Page to Update:
https://kubernetes.io/blog/2021/11/08/steering-committee-resul

[2022-04-15 11:49] chipzoller opened #32960 "Dynamic Admission Control"
I recommend adding a section or at least sentence which explains to readers the order in which multiple webhooks of the same type are called. I.e., there are three validating webhooks configured in a cluster. Are they called serially? If so, what logic does the API server use to determine which goes first, second, and last?

[2022-04-15 13:43] #30484 closed

[2022-04-15 14:14] chrisnegus commented on #31425
The follow-up PR to add the shortcode to selected pages is [PR #32941](https://github.com/kubernetes/website/pull/32941).

[2022-04-15 15:31] miteshskj commented on #32944
@nate-double-u  this feature is currently enabled by default in v1.23 and will be disabled in v1.24, right?

[2022-04-15 16:43] #30506 closed

[2022-04-16 06:37] jasonbraganza commented on #32905
/assign

New to the community and would love to contribute.
This seems like something that is a gentle stretch for me and I’d love to pick it up.

Am going to try building the [site locally first](https://github.com/kubernetes/website/blob/main/README.md) and then …

Try to change the build by bringing in Docsy as a Hugo module, using the approach outlined here in https://github.com/google/docsy/p

[2022-04-16 09:34] howieyuen commented on #32435
all done
/close

[2022-04-16 09:34] #32435 closed

[2022-04-16 10:12] Veryfirstmoment opened #32984 "Incomplete text from configure-cgroup-driver.md"
**This is a Bug Report**

**Problem:**
The following sentence is not complete:
As this guide explains using the cgroupfs driver with kubeadm is not recommended.
**What would you like to be added:**
More information needs to be added after "explains", or rephrase it from scratch.
**Page to Update:**
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/configure-cgroup-driver/

[2022-04-16 10:13] Veryfirstmoment commented on #32984
/language en

[2022-04-16 10:21] sftim commented on #30448
/reopen
/triage accepted
/priority backlog

[2022-04-16 10:21] sftim commented on #30448
/kind cleanup

[2022-04-16 10:21] sftim commented on #30448
/remove-lifecycle rotten

[2022-04-16 10:22] sftim commented on #30448
/help

Folks are welcome to reply to this comment if anything isn't clear.

[2022-04-16 10:26] sftim commented on #30293
Fixed in 9486fa2c65a8c4d298fdab81ee5c9131a8bab831.

[2022-04-16 10:27] sftim commented on #29578
/area web-development

The next Kubernetes release (v1.24) should bring some improvements in this area.

[2022-04-16 10:29] gdenn commented on #14137
@mkorbi I'd like to work on "Kubernetes API Overview"

[2022-04-16 10:39] sftim commented on #23915
A related thing we don't describe well: the difference between:
- the node's root filesystem which is always `/` and its same-filesystem children
- the kubelet's “_root filesystem_”, which defaults to whatever filesystem contains `/var/lib/kubelet`

[2022-04-16 11:07] samnoon1971 commented on #32930
Hi! I added the necessary fixed in pull request

[2022-04-16 11:14] sftim commented on #32905
If you're picking this up @jasonbraganza then as well as the local dev story, you will need to tweak the live and preview publication mechanisms that are configured in `netlify.toml`.

[2022-04-16 11:15] sftim commented on #30837
/reopen

We should prepare a banner update to go live on release day.

[2022-04-16 11:21] sftim commented on #32930
PR #32986 covers this.

[2022-04-16 11:21] sftim commented on #32930
Folks looking to work on this: there is already a pull request open.

[2022-04-16 11:24] sftim commented on #32944
/sig apps
/language en

[2022-04-16 11:24] sftim commented on #32960
Hi @chipzoller

What's the URL of the page that you recommend fixing?

[2022-04-16 11:25] sftim commented on #32984
/language en
/sig cluster-lifecycle

[2022-04-16 11:33] #32935 closed

[2022-04-16 11:35] #26989 closed

[2022-04-16 13:06] chipzoller commented on #32960
https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/

[2022-04-16 15:25] emperinter opened #32987 "configure-persistent-volume-storagen is not working"
I get Error as below when I follow the turtoil.

- [https://kubernetes.io/zh/docs/tasks/configure-pod-container/configure-persistent-volume-storage/#%E5%88%9B%E5%BB%BA-pod](https://kubernetes.io/zh/docs/tasks/configure-pod-container/configure-persistent-volume-storage/#%E5%88%9B%E5%BB%BA-pod)

[code]

[2022-04-16 17:00] emperinter commented on #32987
I get some error When I try to using minikube mount as follows ,It seems there is no way reopen 9P system.

[code]

[2022-04-16 18:59] #30482 closed

[2022-04-16 18:59] #30522 closed

[2022-04-16 20:57] #32801 closed

[2022-04-16 23:44] neolit123 commented on #32984
do you mean that the sentence:

should link to one of the earlier paragraphs on the same page (same guide)?

[2022-04-16 23:48] neolit123 commented on #32984
technically, as per the overall page context, the sentence:

can be deleted entirely...

the section `Using the cgroupfs driver` is providing an alternative after the main point has been made - i.e. "cgroupfs driver = not recommended".

[2022-04-17 01:00] #29327 closed

[2022-04-17 01:13] jai opened #32989 "Incorrect example format on 'Well-Known Labels, Annotations and Taints'"
**This is a Bug Report**

**Problem:** The `Example` for each item on the [Well-Known Labels, Annotations and Taints](https://kubernetes.io/docs/reference/labels-annotations-taints/) uses is intended to be YAML (I believe) but uses `=` such as -

**Proposed Solution:** Change the examples to use `:` (YAML) -

**Page to Update:**
https://kubernetes.io/docs/reference/labels-annotations-taints/

[2022-04-17 01:13] jai commented on #32989
/assign

[2022-04-17 01:14] jai commented on #32989
/triage accepted

[2022-04-17 01:16] jai opened #32990 "Update `Used on:` for `app.kubernetes.io` labels on 'Well-Known Labels, Annotations, and Taints' page"
Page: [https://kubernetes.io/docs/reference/labels-annotations-taints/](https://kubernetes.io/docs/reference/labels-annotations-taints/)

The `app.kubernetes.io` labels' `Used on:` fields added by https://github.com/kubernetes/website/pull/32923 could be clearer - they typically apply to [Workload Resources](https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/) as pointed out by

[2022-04-17 01:19] jai commented on #32990
/assign

[2022-04-17 01:48] jai commented on #26168
FYI this looks like it was fixed btw: https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.22/#pod-v1-core

[2022-04-17 15:28] divya-mohan0209 commented on #30575
Hello @aramase : Please may we have an update on whether this is being progressed at the moment and if you have any updates?

[2022-04-17 15:38] divya-mohan0209 commented on #27333
Hey @mehabhalodiya , would you be taking up this piece of work?

[2022-04-18 04:24] #32927 closed

[2022-04-18 04:58] emperinter commented on #32987
I got wrong understanding about hostpath, the path is in minikube.If I wanna to mount local path,I need to do as follows.

[code]

and so on

[2022-04-18 04:58] #32987 closed

[2022-04-18 05:43] jihoon-seo opened #32999 "[ja] `concepts/cluster-administration/addons` might be outdated"
**This is a Bug Report**

**Problem:**
The file `content/ja/docs/concepts/cluster-administration/addons.md` might be outdated.
- en: https://kubernetes.io/docs/concepts/cluster-administration/addons/
  Under "Networking and Network Policy" section,
  the entry "Contiv" exists.
- ja: https://kubernetes.io/ja/docs/concepts/cluster-administration/addons/
  The entry "Contiv" does not exist.

**Propos

[2022-04-18 05:57] jihoon-seo opened #33000 "[ja] `concepts/cluster-administration/networking` might be outdated"
**This is a Bug Report**

**Problem:**
The file `content/ja/docs/concepts/cluster-administration/networking.md` might be outdated.

Currently in [upstream (en)](https://kubernetes.io/docs/concepts/cluster-administration/networking/),
- there is no "Romana" section.
  It was removed by the PR #30758.
- there is no section relevant to "AOS from Apstra".
- there is no section relevant to "Big Cloud F

[2022-04-18 06:46] jihoon-seo opened #33001 "Error on running the website locally using newer Hugo version"
**This is a Bug Report**

**Problem:**

I followed the section "Running the website locally using Hugo" in README of this repo, but I met an error.

With
- Ubuntu 18.04 desktop amd64
- the latest commit of this repo (0ea4666)
- Docsy whose version is the same as of https://github.com/kubernetes/website/tree/main/themes (docsy @ 1c77bb2)
- npm version: 6.14.15
- node version: v14.18.1
- go version

[2022-04-18 07:05] jihoon-seo opened #33002 "`i18n/zh.toml` file in Docsy was renamed, causing many warnings"
**This is a Bug Report**

**Problem:**

I followed the section "Running the website using a container" in README of this repo, and I met too many warnings appearing.

With
- Ubuntu 18.04 desktop amd64
- the latest commit of this repo (0ea4666)
- Docsy whose version is the same as of https://github.com/kubernetes/website/tree/main/themes (docsy @ 1c77bb2)
- npm version: 6.14.15
- node version: v14.

[2022-04-18 10:17] vishwanathjadhav commented on #32858
@sftim - Thanks, Let us know if you need any additional information

[2022-04-18 11:05] manoharpalem22 opened #33006 "Requesting help like when there is an error(fatal,too many clients already) in postgres kubernetes pod logs , so we need to restart postgres kubernetes pod automatically?"
Hello Team,

Hope doing good..

Requesting help like when there is an error(fatal,too many clients already) in postgres kubernetes pod logs , so we need to restart postgres kubernetes pod automatically ?

Fyi.. -- > 1. we are using Rancher to manage kubernets pods
              2. also using Lens to manage pods
              3. also using kubectl utility to manage kubernet pods

Error in logs: FAT

[2022-04-18 14:39] chrisnegus commented on #29665
/close

[2022-04-18 14:39] #29665 closed

[2022-04-19 03:39] #32827 closed

[2022-04-19 04:50] porridge commented on #27534
/remove-lifecycle stale

[2022-04-19 06:04] jihoon-seo commented on #33006
/kind support

[2022-04-19 06:09] #32572 closed

[2022-04-19 07:14] luke-beep opened #33021 "Kubernetes System Issue"
lol

[2022-04-19 08:34] mengjiao-liu commented on #31448
/assign

[2022-04-19 09:17] antaloala opened #33026 "Extend the Kubernetes API with CustomResourceDefinitions"
In section [Create a CustomResourceDefinition](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#create-a-customresourcedefinition) it is said:

   _**The CRD can be either namespaced or cluster-scoped, as specified in the CRD's ``scope``**_

That text is wrong (a CRD object and the custom resource created from that CRD object are not the same). It sh

[2022-04-19 10:52] gokhankocak opened #33027 "Improvement for k8s.io/docs/tasks/configure-pod-container/enforce-standards-namespace-labels/"
Hello,
It's not clear what the meaning of restricted warnings and restricted audit or any combination of them.
It seems that you attempt to design in a way that you want to make things more complicated.
The aim of your design seems that nobody should be able to understand clearly and one should spend a lot of time for understanding the basics.
You can create very complex systems but at the end you

[2022-04-19 13:07] jayunit100 opened #33031 "Kubernetes Documentation: update "Deprecation" of SSh options to removed"
https://kubernetes.io/docs/concepts/architecture/control-plane-node-communication/ seems to indicate SSH tunnel deprecation, but i think in 1.21 the ssh stuff was removed? https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.22.md

[2022-04-19 13:07] jayunit100 commented on #33031
cc @ridavid2002

[2022-04-19 13:08] jayunit100 commented on #33031
/assign @ridavid2002

[2022-04-19 13:12] jayunit100 opened #33032 "Control Plane-Node Communication needs to introduce "Konnectivity" from a community perspective"
Its not clear from the main landing page how a new user should fit "Konnectivity" into their overall understanding of Kubernetes architecture.

Most K8s platforms don't use "Konnectivity" at all, so, maybe its worth saying some clouds (i.e. GKE?) use it for a secuirty model that is more robust than Removed SSH...

At the very least, we probably should link to the `Konnectivity` landing page (where

[2022-04-19 13:16] ridavid2002 commented on #33031
Will take a look

[2022-04-19 13:16] ridavid2002 commented on #33031
/assign @ridavid2002

[2022-04-19 13:17] ridavid2002 commented on #33032
/assign ridavid2002

[2022-04-19 13:42] ejensen-mural opened #33033 "Replica count wrong(?) in Options for Highly Available Topology page"
[Options for Highly Available Topology](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/ha-topology/) states in reference to external etcd topology that "A minimum of three hosts for control plane nodes and three hosts for etcd nodes are required for an HA cluster with this topology."

However, why the control plane nodes without etcd stacked require at least three hosts inst

[2022-04-19 13:43] jpanda-cn opened #33034 "The CNCF hyperlink on the HOME page is overwritten and cannot be clicked"
**This is a Bug Report**

**Problem:**
The CNCF hyperlink on the HOME page is overwritten and cannot be clicked
<img width="1068" alt="image" src="https://user-images.githubusercontent.com/50101020/164016125-eb97d885-f0a5-4237-b05d-89e07a1ce1be.png">

**Proposed Solution:**
After analyzing the element, I think the element may just want to get a `margin-top: 1rem !important;` effect,
**Page to Upda

[2022-04-19 13:44] jpanda-cn commented on #33034
I will try to fix this if needed

[2022-04-19 14:06] sftim commented on #28449
Done in https://github.com/kubernetes/website/pull/32941
/close

[2022-04-19 14:08] sftim commented on #31379
`ExperimentalHostUserNamespaceDefaulting` still has this description that, yep, still mentions Docker:

[2022-04-19 14:16] youwalther65 opened #33036 "Kubernetes Documentation wrongly mentions gp3 support for in-tree provisioner kubernetes.io/aws-ebs"
Documentation for [AWS EBS StorageClass](https://kubernetes.io/docs/concepts/storage/storage-classes/#aws-ebs) mentions:
type: io1, gp2, _gp3_, sc1, st1. See [AWS docs](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSVolumeTypes.html) for details. Default: _gp3_.

But this is not supported by in-tree and does not work.
$ **cat aws-ebs-in-tree-gp3-sc.yaml**
apiVersion: storage.k8s.io/v1
kind

[2022-04-19 14:30] sftim commented on #30944
/remove-kind feature

[2022-04-19 14:47] vpnachev opened #33039 "Dynamic Admission Control: clarify exactly when failure policy Ignore is considered"
I just observed that request the k8s API server can fail by rejecting admission controller even when the failure policy is ignore. It would be nice the documentation [here](https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#failure-policy) to be enhanced and clearly state when the `Ignore` policy is used.

Particularly, it would be nice to be clarified which

[2022-04-19 14:51] sftim commented on #30944
I'm happy to [try to] answer questions about how to reword here.

[2022-04-19 14:53] sftim commented on #30681
@SergeyKanzhelev what's your opinion in respect of https://github.com/kubernetes/website/issues/30681#issuecomment-1094379041 ?

[2022-04-19 15:01] sftim commented on #33034
/triage accepted

[2022-04-19 15:05] sftim opened #33041 "Storage Classes concept page mixes concept and reference docs"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/concepts/storage/storage-classes/ doesn't just explain what a StorageClass is, there are also lots of examples for the in-tree storage provisisioners. This makes the concept aspect of the page harder to take in.

**Proposed Solution:**
Migrate all the in-tree provisioner details to a new reference page.
If any of the in-tree provisi

[2022-04-19 15:06] sftim commented on #33031
/language en

[2022-04-19 15:08] #33021 closed

[2022-04-19 15:09] sftim commented on #33026
/wg API expression
/language en
I like the new wording you suggested @antaloala - would you be willing to open a pull request proposing that fix?

[2022-04-19 15:11] sftim commented on #33032
The [KEP](https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/1281-network-proxy) is relevant too.

We could move mentions of Konnectivity into https://kubernetes.io/docs/reference/tools/, perhaps?

[2022-04-19 15:13] sftim commented on #33033
It's a good question. Maybe this advice predates the Lease API and the current mechanisms for leader election.

I'm going to mark this as a bug and let someone who knows the topic well triage it.

/language en
/kind bug

[2022-04-19 15:17] sftim commented on #33001
The version of Hugo that we support is as declared in `netlify.toml`: 0.87.0

Try using Hugo 0.87.0

Pull requests to adopt a newer Hugo version are welcome.

[2022-04-19 17:20] sftim commented on #33027
The first sentence in this page is

Although this introduction is accurate, we could add more text to avoid the risk of a reader skipping past it and then feeling confused.

For example, we could name the three Pod Security Standards and make each of those names a link to the relevant part of https://kubernetes.io/docs/concepts/security/pod-security-standards; we could also repeat the table from t

[2022-04-19 17:50] youwalther65 commented on #33036
Thx for confirming. I am pretty sure it was correct a couple of month ago  (and at that time never mentioned gp3 even if was already available)

[2022-04-19 18:05] ridavid2002 commented on #33032
Thank you @sftim the tools location you mention seems to be a good spot to move the Konnectivity block. I will work on a PR to update this.

[2022-04-19 20:18] #30572 closed

[2022-04-20 02:19] jihoon-seo commented on #33001
Following @sftim's comment, I confirmed that this error does not occur with Hugo 0.87.0.

---

After doing some testing, it seems that the `$page.URL` field is accessible with Hugo 0.87.0, but not with Hugo 0.96.0 (and maybe with some other versions too).
(I tried to find Hugo changelog that says `URL` field of [`Page` object](https://gohugo.io/variables/page/) is deprecated in what Hugo version,

[2022-04-20 02:23] jihoon-seo commented on #33001
/assign

[2022-04-20 02:32] #31403 closed

[2022-04-20 03:04] jihoon-seo commented on #33002
Yes the Docsy version used by k/w was updated by you (@sftim) recently,
and I found that in Docsy, the `i18n/zh.toml` file was updated and renamed to `i18n/zh-cn.toml`.
(To see, go to [here](https://github.com/google/docsy/compare/f6a1870918520c83872fc07943a67a1d9d2a998c...1c77bb24483946f11c13f882f836a940b55ad019) and click the "Files changed" tab.
It is not possible to get the direct link to thos

[2022-04-20 04:49] jihoon-seo commented on #33034
/assign @jpanda-cn

[2022-04-20 05:33] jasonbraganza commented on #32905
@sftim Yes. will do so.

[2022-04-20 10:40] sftim commented on #30577
/triage accepted
/reopen
/lifecycle frozen

[2022-04-20 10:40] sftim commented on #30577
/remove-lifecycle rotten

[2022-04-20 10:45] sftim commented on #33032
This is slightly related to the work to document SOCKS5 (see PR #31527)

[2022-04-20 11:29] #31001 closed

[2022-04-20 12:05] antaloala commented on #33026
Thanks @sftim
Yes, I am raising the PR. It is to be the first one I am creating against kubernetes documentation. Anything I should take care of? (thanks in advance ;-)

[2022-04-20 12:07] antaloala commented on #33026
I found all details in [https://github.com/kubernetes/website#contributing-to-the-docs](https://github.com/kubernetes/website#contributing-to-the-docs). I am then following it ;-)

[2022-04-20 12:24] ridavid2002 commented on #33032
Thanks for sharing the SOCKS5 PR, once that PR is merged, I will revisit the docs to ensure there is no duplication of efforts. This can be closed at this time.

[2022-04-20 12:25] ridavid2002 commented on #33032
/unassign

[2022-04-20 12:26] sftim commented on #33026
/wg api-expression

[2022-04-20 12:26] sftim commented on #33026
@antaloala you've found the right guide. I hope it covers everything you need to know, but if it doesn't then please feel free to ask questions.

[2022-04-20 12:51] sftim commented on #30206
Not really a bug, but we fixed it anyway.

/close

[2022-04-20 12:51] #30206 closed

[2022-04-20 12:52] sftim commented on #33033
/retitle Replica count wrong(?) in Options for Highly Available Topology page

[2022-04-20 12:55] sftim commented on #33033
I think the most appropriate SIG is
/sig architecture

(but I might be wrong)

[2022-04-20 13:24] kirinrastogi opened #33058 "Using hugepages on kubernetes does not always require a volume mount"
**This is a Bug Report**

**Problem:**

The doc named scheduling hugepages suggests that a volume mount is always necessary to schedule hugepages. But it is only necessary if your application uses `mmap` without the `MAP_HUGETLB` flag. If your application requests hugepages with `MAP_HUGETLB`, or `shmget`, or with `shmat` then this mount is not necessary.

From the linux kernel documentation: http

[2022-04-20 13:47] sftim opened #33061 "Register and document service.alpha.kubernetes.io/tolerate-unready-endpoints annotation"
**This is a Bug Report**

**Problem:**
https://pkg.go.dev/k8s.io/kubernetes@v1.23.0/pkg/controller/endpoint mentions an unregistered annotation, `service.alpha.kubernetes.io/tolerate-unready-endpoints`

**Proposed Solution:**
Register the annotation (by updating [Well-Known Labels, Annotations and Taints](https://kubernetes.io/docs/reference/labels-annotations-taints/)) and document what it is / w

[2022-04-20 13:48] sftim commented on #33061
/language en

[2022-04-20 17:37] ehashman commented on #32835
/triage accepted

[2022-04-20 18:19] opabloc opened #33069 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
Hi I just want to say that deployment application on interactive tutorial doesn't work.

Regards.

[2022-04-20 19:48] PriyanshuAhlawat commented on #33061
/assign

[2022-04-20 22:25] #30574 closed

[2022-04-21 05:40] RazzM13 opened #33077 "Init Containers - invalid example using dig"
The [examples](https://github.com/kubernetes/website/blob/main/content/en/docs/concepts/workloads/pods/init-containers.md#examples) section currently lists the following non-working and potentially misleading example, namely `Wait for a [Service](https://kubernetes.io/docs/concepts/services-networking/service/) to be created, using a shell one-line command like:`:
[code]

The aforementioned exampl

[2022-04-21 05:49] mehabhalodiya commented on #27333
@divya-mohan0209  I wouldn't be able to continue with this. Anybody can pick it up 🙂

[2022-04-21 07:34] #30355 closed

[2022-04-21 09:08] sftim commented on #33077
/language en
/kind bug

[2022-04-21 09:08] sftim commented on #33077
/triage accepted

[2022-04-21 10:41] boyadzhievb opened #33081 "Certificate Signing Requests"
root@controlplane:~# kubectl apply -f userjhon
error: error validating "userjhon": error validating data: ValidationError(CertificateSigningRequest.spec): unknown field "expirationSeconds" in io.k8s.api.certificates.v1.CertificateSigningRequestSpec; if you choose to ignore these errors, turn validation off with --validate=false

[2022-04-21 10:52] sftim commented on #32828
/triage accepted
/kind cleanup

[2022-04-21 12:29] Pradeepjraman opened #33082 "Install and Set Up kubectl on Linux"
Hello,
I was trying to install the kubectl binary in the non-internet/non-proxy enabled Linux RHEL OS machine. Could you please suggest here, how can I process this.

Thanks
Pradeep

[2022-04-21 12:40] jihoon-seo commented on #33082
/kind support

[2022-04-21 12:41] jihoon-seo commented on #33081
/kind support

[2022-04-21 14:04] tengqm commented on #33081
Have you turned the `CSRDuration` feature gate on?

[2022-04-21 14:11] alculquicondor commented on #32944
I also proposed to disable it by default in 1.23 https://github.com/kubernetes/kubernetes/pull/109491, but the release managers haven't approved it yet.

[2022-04-21 16:30] chrisnegus commented on #30944
/assign @rolfedh

[2022-04-21 16:38] logicalhan commented on #32881
/assign @serathius

[2022-04-21 16:38] logicalhan commented on #32881
/triage accepted

[2022-04-21 17:05] chrisnegus commented on #30944
/assign

[2022-04-21 17:57] secondsleep-blaine commented on #33069
It appears to be working now. It may have been a transient issue, or it's been fixed before anyone had a chance to update this issue.

[2022-04-21 18:11] MrErlison commented on #13939
Hi. I am working on /docs/reference/glossary/*

[2022-04-21 19:36] andrewsykim commented on #27814
A documented list of plugins sounds like a good idea, we can probably have a subsection in the existing kubelet credential provider docs as well

[2022-04-21 21:54] sftim commented on #33081
GitHub is not the right place for support requests.

If you're looking for help, @boyadzhievb, you could ask on [Server Fault](https://serverfault.com/questions/tagged/kubernetes).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

[2022-04-21 22:00] #33001 closed

[2022-04-21 22:18] shannonxtreme commented on #33069
Dunno if this is related, but the iframe with the environment is static for me on Chrome 100.0.4896.88

![2022-04-21_18-14-33 (1)](https://user-images.githubusercontent.com/30392854/164560714-9326a342-b9fd-4459-8ead-95e3b5932ea1.gif)

[2022-04-21 22:25] sftim commented on #33036
/triage accepted

[2022-04-21 22:26] sftim commented on #33036
/priority backlog
This is documented for in-tree storage, which is deprecated (but widely used).

[2022-04-21 22:28] sftim commented on #32573
To me, “Imperative Management of Kubernetes Objects Using Commands” is less of a task-type title than the current title. However, the other pages are wrong too!

We can make the small change and then consider making the bigger change.

/kind cleanup
/triage accepted
/help
/language en

[2022-04-21 22:28] sftim commented on #32573
The page to update is https://kubernetes.io/docs/tasks/manage-kubernetes-objects/imperative-command/

[2022-04-21 22:29] sftim commented on #32573
/priority backlog

[2022-04-22 01:08] Andresmo01 opened #33106 "Issue with k8s.io/docs/concepts/overview/working-with-objects/common-labels/"
JOSE ANDRES MIRANDA ORTEGA no otorga permiso de uso de toda la tecnologia que el mismo creo para la web, applis, y herramientas. a ningun sitio de 3seros quien este usando la tecnologia sera sancionado economicamente yo y solo yo soy el administrador de todo incluyendo sitios web todos no se otorgan licencias a ninguna persona solo empresas el softwer esta bajo licencias libres. pero no libre desc

[2022-04-22 01:09] Andresmo01 opened #33107 "Issue with k8s.io/docs/concepts/overview/working-with-objects/common-labels/"
JOSE ANDRES MIRANDA ORTEGA no otorga permiso de uso de toda la tecnologia que el mismo creo para la web, applis, y herramientas. a ningun sitio de 3seros quien este usando la tecnologia sera sancionado economicamente yo y solo yo soy el administrador de todo incluyendo sitios web todos no se otorgan licencias a ninguna persona solo empresas el softwer esta bajo licencias libres. pero no libre desc

[2022-04-22 03:05] manoharpalem22 commented on #33006
Can i have update on this please?

[2022-04-22 05:42] youwalther65 commented on #33036
Exactly, in-tree provisioner “kubernetes.io/aws-ebs” does not support gp3, see legacy provider code:
[https://github.com/kubernetes/legacy-cloud-providers/blob/master/aws/aws.go#L448](https://github.com/kubernetes/legacy-cloud-providers/blob/master/aws/aws.go)
// AWS volume types
const (
              // Provisioned IOPS SSD
              VolumeTypeIO1 = "io1"
              // General Purpose SSD

[2022-04-22 10:01] asruc opened #33110 "Pull an Image from a Private Registry"
ImagePullBackOff error from K8s pod

Hi, we are facing an issue while pulling image from DockerHub private repository onto the AWS EKS pods. I have created the docker registry secret:
kubectl create secret docker-registry --dry-run=client docker-registry-secret --docker-server=https://index.docker.io/v1/ --docker-username=<username> --docker-password=<password> --docker-email=<email>

In my K8s De

[2022-04-22 13:41] sftim commented on #33110
This looks like a request for help.

If you're looking for help, check [Server Fault](https://serverfault.com/questions/tagged/kubernetes).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

GitHub is not the right place for support requests.

/kind support

[2022-04-22 14:35] boyadzhievb commented on #33081
I like your opinion, but this is not support request. I am accepting your apology. I just showed that k8s documentation has issue. Thank you.

[2022-04-22 14:39] sftim commented on #33081
/remove-kind support
/triage needs-information
/language en

Can you let us know:
- the URL of the web page that is wrong
- what is wrong with that page?

[2022-04-22 17:48] boyadzhievb commented on #33081
https://kubernetes.io/docs/reference/access-authn-authz/certificate-signing-requests/

I used a link on the page for reporting issues and thought that it will add the link automaticaly.

[2022-04-22 18:09] chrisnegus commented on #31425
The shortcode [PR #32941](https://github.com/kubernetes/website/pull/32941.) has merged, so I think we can close this.
/close

[2022-04-22 18:09] #31425 closed

[2022-04-22 18:20] nasa9084 opened #33122 "Update README-ja.md"
**This is a Feature Request**

**What would you like to be added**
Update README-ja.md

**Why is this needed**
README.md has been updated after translated

**Comments**

/language ja

[2022-04-22 18:20] nasa9084 commented on #33122
/triage accepted

[2022-04-22 18:22] nasa9084 commented on #33000
/triage accepted

[2022-04-22 18:22] nasa9084 commented on #32999
/triage accepted

[2022-04-22 18:23] nasa9084 commented on #32756
/triage accepted

[2022-04-22 18:24] nasa9084 commented on #31220
/triage accepted

[2022-04-22 18:24] nasa9084 commented on #30728
/triage accepted

[2022-04-22 18:39] #31275 closed

[2022-04-22 18:41] #30874 closed

[2022-04-23 00:20] jihoon-seo commented on #33082
From https://github.com/kubernetes/website/issues/33110#issuecomment-1106528294:

"This looks like a request for help.

If you're looking for help, check [Server Fault](https://serverfault.com/questions/tagged/kubernetes).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

GitHub is not the right plac

[2022-04-23 11:00] sftim commented on #33107
@Andresmo01 this doesn't seem to report any issue that needs fixing.
/triage needs-information
/close

[2022-04-23 11:00] sftim commented on #33106
@Andresmo01 this doesn't seem to report any issue that needs fixing.
/triage needs-information
/close

[2022-04-23 11:00] #33107 closed

[2022-04-23 11:01] #33106 closed

[2022-04-23 11:04] sftim commented on #33081
Thanks. And the other question was: what is wrong with that page?

[2022-04-23 12:06] ivan-freedomfi opened #33140 "It's not clear how to contribute to interactive tutorials"
I've found a few minor problems in the [Deploying an App Interactive Tutorial](https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/).

I want to fix them myself, but I can't find the code for this tutorial in this repository.

[Edit this page button](https://github.com/kubernetes/website/edit/main/content/en/docs/tutorials/kubernetes-basics/deploy-app/deploy-intera

[2022-04-23 18:49] #30608 closed

[2022-04-24 01:47] nvsd opened #33160 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
Tutorials aren't interactive after initial load

[2022-04-24 07:10] niteshtajane opened #33163 "Interactive Tutorial - Creating a Cluster"
Cannot interact with the terminal of lab using brave-browser-1.37.116-1.x86_64.
![Screenshot from 2022-04-24 12-39-54](https://user-images.githubusercontent.com/63769451/164964197-d963211d-69cd-4427-913a-9b24c8c31d10.png)

[2022-04-24 09:20] #32952 closed

[2022-04-24 11:57] ChihiroKitada opened #33165 "Improvement for k8s.io/ja/docs/tasks/access-application-cluster/ingress-minikube/"
The following sample code may not be indented enough?

      - path: /v2
        pathType: Prefix
        backend:
          service:
            name: web2
            port:
              number: 8080

[2022-04-24 12:14] #33165 closed

[2022-04-24 12:57] #29132 closed

[2022-04-24 13:02] FranCao opened #33166 "Issue with k8s.io/docs/tutorials/kubernetes-basics/explore/explore-interactive/"
Unable to work with any of the interactive tutorials. Shows a blank console, and the instructions on the left are also frozen at that spot.

![image](https://user-images.githubusercontent.com/43524590/164977868-2ed0e897-9060-4ca8-b5c2-5056fa7d8646.png)

[2022-04-24 13:55] miteshskj opened #33169 "CN missmatch in Securing nginx example"
In the page - https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/#securing-the-service
there are two methods provided, to create certificate for setting up nginx with SSL:

1. Using "make keys KEY=/tmp/nginx.key CERT=/tmp/nginx.crt" inside https://github.com/kubernetes/examples/tree/master/staging/https-nginx/
2. Using openssl command.

In method 1, the subj used

[2022-04-24 15:26] miteshskj commented on #33163
@niteshtajane  - try disabling the shield or enabling tracker/ads for kubernetes.io site.

[2022-04-24 22:59] #29550 closed

[2022-04-25 01:17] niteshtajane commented on #33163
thanks @miteshskj its now work with disabling the shield.

[2022-04-25 06:21] Shubham82 commented on #33166
Hi @FranCao
I tried the tutorial, it is working fine for me. Maybe this problem is from Katacoda side.
Could you please try again!

[2022-04-25 06:54] Shubham82 commented on #33081
Hi @boyadzhievb
Which Kubernetes version you are using?

  the minimum valid value for this field is 600, i.e. ten minutes.

[2022-04-25 07:14] wwwpf opened #33180 "Improvement for k8s.io/zh/docs/concepts/scheduling-eviction/kube-scheduler/"
original：Factors that need to be taken into account for scheduling decisions include individual and collective resource requirements, hardware / software / policy constraints, affinity and anti-affinity specifications, data locality, inter-workload interference, and so on.

translation：在做调度决定时需要考虑的因素包括：单独和整体的资源请求、硬件/软件/策略限制、 亲和以及反亲和要求、数据局域性、负载间的干扰等等。

"data locality" should translate to "数据局部性", n

[2022-04-25 08:46] sftim commented on #33140
/kind feature

We should document that these live in https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios
/language en

[2022-04-25 08:48] sftim commented on #33166
/team katacoda

[2022-04-25 09:23] isXuXH opened #33182 "Assigning Pods to Nodes"
In "Pod affinity example" describe "the scheduler must place the Pod on a node that has the topology.kubernetes.io/zone=V label", but I haven't found the value "V" in example.yaml
After experiment，I found field "topologyKey" only match the key "topology.kubernetes.io/zone"  and match any value

[2022-04-25 10:58] t-inu commented on #32756
There were no start/end tag mismatches.
The following part in the "macOSでのBash" tab seems to affect the layout.

[code]

After removing the indent or removing the `note` tag, this page was displayed normally.

And I found a difference between v1.21 and v1.22 pages.
OK: https://v1-21.docs.kubernetes.io/ja/docs/tasks/tools/install-kubectl/
NG: https://v1-22.docs.kubernetes.io/ja/docs/tasks/tools/ins

[2022-04-25 12:12] jihoon-seo commented on #33169
I confirmed that this is reproducible and your suggestion LGTM.
/triage accepted

I searched for "nginxsvc" in kubernetes/website repo, but found nothing.
But in kubernetes/examples repo, a few strings were found.

So it seems that we have to replace all the "nginxsvc" strings with "my-nginx" in kubernetes/examples repo. 😊

[2022-04-25 12:14] jihoon-seo commented on #33180
/language zh

[2022-04-25 12:16] jihoon-seo commented on #33166
/team katacoda
For now, I see the same blank console.

[2022-04-25 12:26] Shubham82 commented on #33166
For me it is still working

![Scrnshot](https://user-images.githubusercontent.com/50987400/165088478-6d3a3c37-e2ff-45f0-9ebe-6626ff82e341.png)

[2022-04-25 13:07] sftim commented on #31425
BTW, we actually reverted #32941

It's OK not to have that shortcode for backports - that's a nice-to-have.

[2022-04-25 14:52] miteshskj commented on #33169
Thanks @jihoon-seo , will send a PR to examples repo.

[2022-04-25 15:58] miteshskj commented on #33182
If I understand correctly, there is no issue with the example and doesnt need to be changed. The confusion comes from randomly using values R/V for the zone label. This can be addressed by changing following line:

"More precisely, the scheduler must place the Pod on a node that has the topology.kubernetes.io/zone=V label, as long as there is at least one node in that zone that currently has one o

[2022-04-25 16:20] sftim commented on #33182
I don't really understand the example and the scenario it's trying to portra. Maybe the course of least resistance is to think up a brand new scenario and write a brand new example manifest that supports that example.

[2022-04-25 16:20] sftim commented on #33182
/kind bug
/triage accepted

[2022-04-25 16:20] sftim commented on #33182
/priority backlog

[2022-04-25 21:34] #33081 closed

[2022-04-26 03:07] rolfedh opened #33202 "Safely Drain a Node topic does not mention kubectl cordon command"
It seems like the "Safely Drain a Node" topic is supposed to mention the `cordon` command, but omits it by accident.

* The https://kubernetes.io/blog/2021/04/21/graceful-node-shutdown-beta/ topic that links to this "Safely Drain a Node" topic states "The best practice prior to bringing your node down is to [safely drain and **cordon** your node](https://kubernetes.io/docs/tasks/administer-cluster

[2022-04-26 04:30] #32644 closed

[2022-04-26 05:48] STRRL opened #33204 "Kubernetes Release Cycle: release-cycle.png not available"
The picture with the address https://kubernetes.io/releases/release/release-cycle.png is not available.
<img width="1464" alt="image" src="https://user-images.githubusercontent.com/20221408/165230465-dcfe31af-fa0e-4c38-b7f4-b5f2009299b2.png">

[2022-04-26 05:51] STRRL commented on #33204
https://kubernetes.io/releases/release/release-lifecycle.png +1

It seems they still exist at https://github.com/kubernetes/community/tree/master/contributors/devel/sig-release, but as .jpg

[2022-04-26 06:36] kifeo opened #33205 "Tools Included : fish completion not supported"
from the kubectl completion -h command, the fish auto completion is not mentioned, only bash and zsh.

also the command does not work as mentioned in the website:

[code]

[2022-04-26 08:05] raelga commented on #25616
/remove-lifecycle stale

[2022-04-26 10:56] Shubham82 opened #33211 "Link for Auditing is not working."
**This is a Bug Report**

**Problem:**
The Monitoring, Logging, and Debugging task section is Reorganized (for reference #32823). Due to this Auditing [hyperlink](https://kubernetes.io/docs/tasks/debug-application-cluster/audit/) show 404(nothing) because it is now under `content/en/docs/tasks/debug/debug-cluster/audit.md` not in `content/en/docs/tasks/debug-application-cluster/audit/`.  So we hav

[2022-04-26 10:58] Shubham82 commented on #33211
/assign

[2022-04-26 12:07] sftim commented on #33211
As well as fixing the hyperlinks, I recommend adding a redirect (edit `static/_redirects`).
/triage accepted
/priority backlog

[2022-04-26 12:09] sftim commented on #33211
/language en

[2022-04-26 12:10] sftim commented on #33202
/retitle Safely Drain a Node topic does not mention kubectl cordon command

[2022-04-26 12:11] sftim commented on #33202
@rolfedh I think you wanted to report an issue with https://kubernetes.io/docs/tasks/administer-cluster/safely-drain-node/ - is that the right URL?

/language en

[2022-04-26 12:12] sftim commented on #33202
A drain implicitly performs a cordon. We could mention https://k8s.io/images/docs/kubectl_drain.svg somewhere to make that more clear.

[2022-04-26 12:14] sftim commented on #33202
To fix this, we could add “drain” to the glossary and repeat that definition in this task page. We could also add a new page within https://kubernetes.io/docs/reference/node/ that defines:
- cordon
- uncordon
- drain

and add inbound links to that new reference page.

[2022-04-26 12:14] sftim commented on #33202
/sig node

[2022-04-26 13:18] Shubham82 commented on #33211
Sure I will do that soon.

[2022-04-26 13:40] chrisnegus commented on #30950
/assign

[2022-04-26 13:48] chrisnegus commented on #30949
/assign

[2022-04-26 13:52] chrisnegus commented on #30949
After discussing this issue at the dockershim removal meeting, it was decided to add a comment that identifies. the docker/default annotation as a policy name that is not specifically associated with Docker. When PSP is eventually removed [from Kubernetes (currently deprecated) we will probably want to remove the yaml file altogether.

PR #33219](https://github.com/kubernetes/website/pull/33219) w

[2022-04-26 14:34] jayunit100 opened #33225 "add note aboute 1.24 removal to the dockershim page"
### Describe the issue

https://kubernetes.io/docs/tasks/administer-cluster/migrating-from-dockershim/check-if-dockershim-deprecation-affects-you/ seems to have been not updated since 2021

/assign @ridavid2002

[2022-04-26 14:34] jayunit100 opened #33221 "Check whether Dockershim deprecation affects you"
https://kubernetes.io/docs/tasks/administer-cluster/migrating-from-dockershim/check-if-dockershim-deprecation-affects-you/ seems to have been not updated since 2021

/assign @ridavid2002

[2022-04-26 14:49] Y-k-Y commented on #33166
I have the same problem the terminal doesn't work at all. I can only click the button on the start screen

[2022-04-26 15:17] duncan485 commented on #33211
Had the unfortunate luck that this arised during my CKS certification exam. Please merge this asap.

[2022-04-26 15:48] tomaspritrsky opened #33223 "Run a Replicated Stateful Application"
This tutorial is wrong, the replicas fail on Error.
Applying the mysql-statefulset.yaml I see only **mysql-0** running - mysql-1 fails on Init:Error

[2022-04-26 16:45] sftim commented on #33166
/label team/katacoda

[2022-04-26 16:47] sftim commented on #33221
@jayunit100 what's wrong with the page https://kubernetes.io/docs/tasks/administer-cluster/migrating-from-dockershim/check-if-dockershim-deprecation-affects-you/?

It looks current for v1.23.  You can see a [preview](https://deploy-preview-31225--kubernetes-io-main-staging.netlify.app/docs/tasks/administer-cluster/migrating-from-dockershim/check-if-dockershim-removal-affects-you/) of how that page

[2022-04-26 16:48] sftim commented on #33221
/language en

[2022-04-26 16:50] sftim commented on #33225
/triage duplicate
/close

[2022-04-26 16:50] #33225 closed

[2022-04-26 16:57] sftim commented on #33204
/kind bug
/language en
/sig release
/priority backlog

Part of the fix needs to happen in [k/community](https://github.com/kubernetes/community).

Ideal fix: find the vector source of that image, add that image as SVG to _this_ repository, update https://github.com/kubernetes/community/blob/master/contributors/devel/sig-release/release.md to reference the image from https://kubernetes.io/

Failing

[2022-04-26 16:58] sftim commented on #33204
/triage accepted

[2022-04-26 17:12] HrushikeshAITDIAN opened #33226 "Please introduce dark mode. Having trouble reading in white mode"

[2022-04-26 17:19] sftim commented on #33226
/triage duplicate

Thank you for suggesting this @HrushikeshAITDIAN
This duplicates feature request #25061.

[2022-04-26 17:20] sftim commented on #25061
Any implementation of this needs to work for diagrams and other graphics, as well as text. We don't want to have people who prefer dark mode missing out on being able to see what a diagram says.

[2022-04-26 17:58] malikperang opened #33227 "Existing links to Kubernetes documentation no longer working"
Several pages are broken.

https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/
https://kubernetes.io/docs/tasks/debug-application-cluster/debug-application/

[2022-04-26 18:11] sftim opened #33228 "“Installing kubeadm” recommends downloads from non-canonical (?) URLs"
**This is a Bug Report**

**Problem:**
The “without a package manager” section of [Installing kubeadm](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/) suggests that people download components from within https://storage.googleapis.com/kubernetes-release/release/

However, https://www.downloadkubernetes.com/ recommends downloading from https://dl.k8s.io/

To

[2022-04-26 18:13] sftim commented on #33227
/retitle Existing links to Kubernetes documentation no longer working

This looks to have been caused by PR #32823.
/kind bug
/language en
/triage accepted

[2022-04-26 18:14] sftim commented on #33211
Also see issue #33227

[2022-04-26 19:00] shannonxtreme commented on #33228
If we remove the RELEASE version fetch step, we'd need a step to choose a Kubernetes version right? So something like "Choose the Kubernetes version you want to install from the Releases page."

And then another line in the actual command that downloads kubeadm and the rest that says "Replace $RELEASE with the Kubernetes version that you selected".

Am I off track here?

also

/triage accepted

[2022-04-26 20:05] chrisnegus commented on #30842
[PR #31899](https://github.com/kubernetes/website/pull/31899/files) removes the --pod-infra-container-image option. So we should close this issue once that PR merges.

[2022-04-26 21:01] brianpursley opened #33231 "Replace/Fix git.io URLs"
**This is a Bug Report**

**Problem:**
git.io has been deprecated and will be [discontinued on 04-29-2022, when it will no longer redirect to the destination URL](https://github.blog/changelog/2022-04-25-git-io-deprecation/).

**Proposed Solution:**
A grep shows several places where git.io URLs are used:
[code]

There are really only two URLs:

|git.io URL|Redirects to|Proposed Solution|
|---|---|

[2022-04-26 22:03] KeithScheiwiller opened #33232 "Dockershim FAQ redirects to ZH blogpost"
**This is a Bug Report**

**Problem:**
The link at the top of the homepage (https://kubernetes.io/dockershim) seems to currently redirect to https://kubernetes.io/zh/blog/2020/12/02/dockershim-faq/

I assume this is the same issue as #32589

**Proposed Solution:**
Remove the /dockershim alias from the ZH blog page.

**Page to Update:**
https://kubernetes.io/dockershim

[2022-04-26 22:40] rolfedh opened #33236 "Document CNI version-related breaking change"
**This is a Bug Report**

**Problem:**

As a user upgrading to Kubernetes v1.24 GA I must be aware of the following information:

- (No, really, you MUST read this before you upgrade) Before you upgrade to Kubernetes 1.24, if you use a CNI network plugin that complies with [Container Network Interface](https://github.com/containernetworking/cni) (CNI) versions earlier than v1.0.0 and you plan to u

[2022-04-26 22:43] rolfedh commented on #33236
/assign @rolfedh @mickeyboxell

[2022-04-26 22:49] rolfedh commented on #33236
FYI @nate-double-u @mikebrow

[2022-04-26 22:50] nate-double-u commented on #33236
/cc @JamesLaverack @sftim @reylejano

[2022-04-26 23:12] nate-double-u commented on #33236
/milestone 1.24

[2022-04-26 23:13] nate-double-u commented on #33236
/triage accepted

[2022-04-26 23:22] nate-double-u commented on #33236
(looks like i can't triage, sorry for the noise)

[2022-04-27 00:14] rolfedh commented on #33236
/wip

[2022-04-27 00:19] sftim commented on #33236
/remove-kind bug
/priority important-soon

Should we transfer this to the Kubernetes repo ([k/kubernetes](https://github.com/kubernetes/kubernetes))? Several of the actions here are not directly related to the documentation.
To transfer it, an org member can execute the Prow command `/transfer kubernetes` by making a GitHub comment containing just the command text.

[2022-04-27 00:22] reylejano commented on #33236
I agree, k/kubernetes is more appropriate

[2022-04-27 00:22] reylejano commented on #33236
/transfer kubernetes

[2022-04-27 00:43] sftim commented on #33228
You can _already_ choose which Kubernetes version you're reading the docs for, so it ought to be enough to signpost readers to the choice.

To help readers, we can also link from https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/ to the same doc in each of the supported docs versions - I think that'd need a shortcode, but it could be done.

[2022-04-27 00:44] sftim commented on #33228
For example, https://v1-21.docs.kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/ could explain how to install `kubeadm` v1.21.x (whatever is latest for v1.21).

[2022-04-27 01:06] sftim commented on #33231
/language en

---

We usually don't edit them.

It's OK to make edits to remove broken URLs. For example, we could change:

to:

and add a note to the article to say it was edited to remove a broken hyperlink.

[2022-04-27 01:07] sftim commented on #33231
How about changing from `kubectl apply -f https://git.io/vPieo`  to `kubectl apply -f https://manifests.example/some-manifest.yaml`

The `example` domain will never serve malware via HTTPS; if it does, something is very wrong!

[2022-04-27 01:08] sftim commented on #33231
/priority backlog
/lifecycle frozen
/triage accepted

[2022-04-27 01:13] tengqm commented on #33232
/assign

[2022-04-27 01:38] #33232 closed

[2022-04-27 02:30] jasonbraganza commented on #32905
just an update
have not gotten anything done yet.
going through a slightly rough patch.
will come back to this and work in general, hopefully midweek next.

[2022-04-27 02:44] brianpursley commented on #33231
Yes, I like your idea of using an example domain here.  There is no reason for the sake of documentation that this has to resolve to an actual manifest, and is probably a safer option overall.

[2022-04-27 03:50] srinigundaputalech opened #33244 "Getting 404 page not found on this URL - Auditing Policy"
Getting 404 page not found on this URL

https://kubernetes.io/docs/tasks/debug-application-cluster/audit/

[2022-04-27 04:52] azimtursunbekov000 opened #33247 "Kubernetes Documentation"

[2022-04-27 06:00] #33122 closed

[2022-04-27 06:12] Shubham82 commented on #33211
Sure.

[2022-04-27 09:02] sftim commented on #33247
/triage needs-information

@azimtursunbekov000, please let us know what isn't right. If it's a specific page, please also mention its URL.

[2022-04-27 09:03] sftim commented on #33244
/triage duplicate

This is similar to https://github.com/kubernetes/website/issues/33211

/language en

[2022-04-27 09:10] youwalther65 commented on #33036
But even deprecated in-tree doc should be correct. My issue is just another reason to convince customer to move to EBS CSI. Can we please have this corrected ASAP?

[2022-04-27 09:17] sftim commented on #33036
@youwalther65 you are very welcome to open a pull request with a fix - see https://kubernetes.io/docs/contribute/ for some advice.

If that's not something you have capacity for, you could ask the relevant vendor (AWS) if they would like to assign some staff time here. Beyond that, you're largely relying on the goodwill of people who volunteer their time.

[2022-04-27 10:16] youwalther65 commented on #33036
I just created the [PR](https://github.com/kubernetes/website/pull/33256).

[2022-04-27 12:06] edoardo-c opened #33259 "Adding a link to the Version Skew Policy to the Upgrading kubeadm clusters"
**This is a Feature Request**

**What would you like to be added**
I would like to add a link to the [Upgrading kubeadm clusters](https://kubernetes.io/docs/tasks/administer-cluster/kubead/kubeadm-upgrade/) that refers to the [Version Skew Policy](https://kubernetes.io/releases/version-skew-policy/). This could probably be added at the end of the opening paragraph.

**Why is this needed**
When sea

[2022-04-27 12:16] sftim commented on #33259
/language en

[2022-04-27 13:21] neolit123 commented on #33259
Makes sense. Thanks for logging the issue.

/sig cluster-lifecycle
/help

[2022-04-27 14:51] chrismetz09 commented on #32010
Hi @sergioagm, use browser hard refresh `shift + command R` to clear the error. Permanent solution investigation underway.

[2022-04-27 15:18] chrismetz09 commented on #31960
Updates:
1. Tested with clean html file depicting mermaid diagram on local machine. Observed no problems.
2. Need to test [Hugo 0.93.0 diagram support](https://gohugo.io/content-management/diagrams/) but ran into error `failed to render shortcode "api-reference": failed to process shortcode: ... failed: template: shortcodes/api-reference.html:7:17: executing "shortcodes/api-reference.html" at <$pa

[2022-04-27 15:47] mickeyboxell commented on #30918
@katcosgrove as discussed over Slack, it would be great to see this ship on 4-MAY-2022.

[2022-04-27 15:47] Venkatraj1986 opened #33264 "Can you please help me this kubelet issue"
[root@k8master ~]# dmidecode | grep -i vm
Manufacturer: VMware, Inc.
Product Name: VMware Virtual Platform
Serial Number: VMware-56 4d 1c d5 04 c4 85 8d-9b 8c 28 07 ea 6c 8b 2c
Description: VMware SVGA II
String 1: [MS_VM_CERT/SHA1/27d66596a61c48dd3dc7216fd715126e33f59ae7]
[root@k8master ~]# cat /etc/redhat-release
Red Hat Enterprise Linux release 8.4 (Ootpa)
[root@k8master ~]#

==================

[2022-04-27 16:19] smillerMobiloans opened #33266 "Interactive Tutorial - Creating a Cluster"
Trying to start the interactive console.  During bootstrap its giving me an error:  Sorry, Invalid Request was made.

This is occurring when I start up the interactive session.

[2022-04-27 16:23] stevek-pro commented on #25061
Sorry I did not follow up earlier, but since I discovered dark reader plugin, I am in no need of this feature anymore.

[2022-04-27 18:58] nate-double-u opened #33273 "Netlify access request for v1.24 release"
I'm requesting Netlify access for myself, @PI-Victor , and @jlbutler for the v1.24 release.

I’m asking for Jesse and Victor to also be added as I will be travelling on release day, and want to make sure that we’re still able to run release day activities even if my hotel wifi is terrible. Both Jesse and Victor have been docs leads previously (and are currently participating in v1.24).

My Netlify

[2022-04-27 19:08] nate-double-u commented on #33273
/sig release
/sig docs

[2022-04-27 19:30] nickborges commented on #25174
Try it

`echo "deb [signed-by=/usr/share/keyrings/kubernetes-archive-keyring.gpg] https://apt.kubernetes.io/ kubernetes-xenial main/binary-arm64" | sudo tee /etc/apt/sources.list.d/kubernetes.list`

and than, run again!!

Note: The path of repository change, https://packages.cloud.google.com/apt/dists/kubernetes-xenial/main/binary-arm64. Just put on **main/binary-arm64**

[2022-04-27 20:16] reylejano opened #33274 "Request for Netlify access"
As a SIG Docs co-chair and to support release team efforts on release day, I request access to kubernetes.io Netlify to update Netlify configuration on release days

/assign @jimangel
/cc @divya-mohan0209 @natalisucks

[2022-04-27 20:22] #26215 closed

[2022-04-27 21:43] #33264 closed

[2022-04-27 21:45] neolit123 commented on #33264
this is seen here, but it's not an error.
https://github.com/kubernetes/kubernetes/issues/109143

there is probably another error message that is causing the kubelet to fail. check the logs for `F.....` and `E....` log entries.

[2022-04-28 00:22] nekop commented on #31530
/remove-lifecycle stale

[2022-04-28 02:51] howieyuen opened #33276 "[zh] enhancement of Chinese localization"
about italic English text translating, I and @tengqm have a short discuss, we both agree that italic format does not exist in Chinese, so we need use double quotation marks instead

[2022-04-28 02:51] howieyuen commented on #33276
triage/accepted
/zh

[2022-04-28 02:54] howieyuen commented on #33276
/triage accepted
/label zh

[2022-04-28 02:55] howieyuen commented on #33276
/language zh

[2022-04-28 04:09] craigbox opened #33278 "Can't preview website with Hugo on Mac: too many files"
I am running Hugo, built with homebrew, on an intel Mac running macOS 12.3.1.

Trying to run `hugo serve` gives this output:

[code]

Running with `--watch=false` mitigates the crash.  This is tracked at https://github.com/gohugoio/hugo/issues/8594 and discussed [on the Hugo discourse](https://discourse.gohugo.io/t/hugo-is-crashing-upon-start-of-hugo-server-d-when-serving-a-lot-of-images/28540)

T

[2022-04-28 05:46] Kartik494 commented on #33223
@tomaspritrsky Could you please share error logs you are getting in `init containers`

[2022-04-28 07:07] FOWind commented on #31817
https://github.com/kubernetes/website/pull/31818 has merged.
Close.

[2022-04-28 07:07] #31817 closed

[2022-04-28 07:24] #30312 closed

[2022-04-28 07:24] #30399 closed

[2022-04-28 07:39] Shubham82 commented on #33266
Hi @smillerMobiloans
It is working for me. Could you please try again!
 Maybe this problem is from Katacoda side.
/team katacoda

[2022-04-28 07:44] Kartik494 commented on #30729
As #31466 is merged can we close this issue?

[2022-04-28 07:48] Kartik494 commented on #30885
/remove-lifecycle stale

[2022-04-28 09:30] mtardy commented on #31536
I'm interested in this issue, I recently used this tutorial to experiment with Seccomp in order to write some texts about it in the future security checklist we prepare with sig-security-docs.

I actually used `minikube` and it has the particularity of being compatible with [multiple providers](https://minikube.sigs.k8s.io/docs/drivers/) to run the cluster, like Docker (exactly like `kind`) but al

[2022-04-28 09:34] mtardy commented on #31536
I also have another comment, when I experimented with the tutorial, it felt a bit off that the [Enable the use of RuntimeDefault as the default seccomp profile for all workloads](https://kubernetes.io/docs/tutorials/security/seccomp/#enable-the-use-of-runtimedefault-as-the-default-seccomp-profile-for-all-workloads) was the first step. For me it should be moved to the end, so it would be structured

[2022-04-28 09:58] syxunion opened #33279 "Translate reference/kubernetes-api/cluster-resources/component-status-v1.md to chinese"
Hi, I'm interested to translate the "reference/kubernetes-api/cluster-resources/component-status-v1" page.

This is a Feature Request:

translate en/docs/reference/kubernetes-api/cluster-resources/component-status-v1.md into Chinese.

What would you like to be added:

zh/docs/reference/kubernetes-api/cluster-resources/component-status-v1.md

/language zh

[2022-04-28 10:33] LukasBommes commented on #33223
I encountered the same issue following the tutorial. Here is my output for `kubectl logs pod/mysql-1 clone-mysql`

[code]

[2022-04-28 10:59] sftim commented on #33274
I think people from SIG ContribEx or SIG k8s infra look after access here.
It makes sense that each co-chair and tech lead has Netlify access.

[2022-04-28 10:59] sftim commented on #33274
/triage accepted
/lifecycle frozen

[2022-04-28 11:24] #29603 closed

[2022-04-28 11:56] mattjwarren opened #33282 "Installing kubeadm"
please ignore, apologies.

[2022-04-28 13:10] #33282 closed

[2022-04-28 13:11] tomaspritrsky commented on #33223
yes, I have the same error as @LukasBommes

[2022-04-28 13:11] sftim commented on #33278
Try this instead:
`make container-image && make container-serve`

That also gets you the recommended Hugo version automagically.

AIUI, we're promoting the container option as the primary way for local development. We like containers&hellip;

[2022-04-28 13:13] sftim commented on #33278
We're actually aiming to localize more of the docs, taking the number of open files much _higher_. The CJK localizations are in the lead at the moment but there's no reason that other localizations couldn't catch up.

[2022-04-28 13:13] sftim commented on #33278
As a feature enhancement, we could document `--watch=false` as a workaround for people not using a container-based local preview.

[2022-04-28 13:14] sftim commented on #33273
@nate-double-u for ease of reference, could you link to the part of the release docs guide that explains who should have Netlify access?

[2022-04-28 13:30] RahulKansana1 opened #33284 "Help working through HorizontalPodAutoscaler Walkthrough"
Hi,
This a DevOps Learner(By Profession),
I have gone through the steps provide in the documentation of Kubernetes Horizentalpodautoscaler as it was given.
But, unfortunately i got stuck and attaching the SS for the same issue.
Please have a look and help me with the solution,
Yours Truly
DevOps Learner.

![image](https://user-images.githubusercontent.com/102732328/165763447-40e1f2a4-241e-42de-8e3

[2022-04-28 14:27] #30314 closed

[2022-04-28 15:14] sftim commented on #33266
/label team/katacoda

[2022-04-28 15:28] #30409 closed

[2022-04-28 16:47] habibrosyad commented on #28772
/remove-lifecycle stale

[2022-04-28 19:33] craigbox commented on #33278
Googlers are discouraged* from running VMs on their Macs; the suggested approach generally works, but can be slow as molasses.

(I always forget to build the image; is there a reason everyone has to build it locally rather than one being maintained in a registry?)

[2022-04-28 22:17] mapadofu opened #33295 "Improvement for k8s.io/docs/tasks/access-application-cluster/ingress-minikube/"
In [service/networking/example-ingress.yaml](https://raw.githubusercontent.com/kubernetes/website/main/content/en/examples/service/networking/example-ingress.yaml)

The configuration is incorrect:  You either need to remove the `$1` from  `nginx.ingress.kubernetes.io/rewrite-target: /$1` or set up a regex group in  `path: /`.

[2022-04-28 22:18] sftim commented on #33278
That's a feature request as yet unfiled, @craigbox. Please do feel free!

[2022-04-29 01:32] #30645 closed

[2022-04-29 01:32] #30646 closed

[2022-04-29 07:50] syxunion opened #33301 "translate reference/kubernetes-api/cluster-resources/binding-v1/"
Hi, I'm interested to translate the "reference/kubernetes-api/cluster-resources/binding-v1/" page.

This is a Feature Request:

translate en/docs/reference/kubernetes-api/cluster-resources/binding-v1/.md into Chinese.

What would you like to be added:

zh/docs/reference/kubernetes-api/cluster-resources/binding-v1.md

/language zh

[2022-04-29 07:50] syxunion commented on #33301
/assign

[2022-04-29 07:51] syxunion commented on #33279
/assign

[2022-04-29 08:33] sftim commented on #30999
I think we could postpone this 'til after the v1.24 release. Thoughts?

[2022-04-29 09:53] #33259 closed

[2022-04-29 10:48] sftim commented on #25061
As well as using CSS, if we find we need JavaScript for some aspect then that's also feasible, eg https://flaviocopes.com/javascript-detect-dark-mode/

[2022-04-29 11:49] brianpursley commented on #33231
It looks like GitHub reconsidered based on developer feedback, and will continue serving existing git.io redirects, for now at least.

https://github.blog/changelog/2022-04-25-git-io-deprecation/?#changelog-64536

[2022-04-29 12:04] sftim commented on #33231
Based on this news, a fix is less urgent.

/priority awaiting-more-evidence
/remove-triage accepted

[2022-04-29 12:05] sftim commented on #33231
/remove-priority backlog

[2022-04-29 12:30] thomasd-ign opened #33312 "Dead link on https://kubernetes.io/blog/2022/04/28/ingress-nginx-1-2-0/"
**This is a Bug Report**

**Problem:** A dead link appears on the web page https://kubernetes.io/blog/2022/04/28/ingress-nginx-1-2-0/ at the end of _(As you read that, bear in mind that Linux kernel namespaces are a different thing from [Kubernetes namespaces](https://kubernetes.io/blog/2022/04/28/ingress-nginx-1-2-0/h/docs/concepts/overview/working-with-objects/namespaces/))_

**Proposed Solution

[2022-04-29 12:40] Shivansh-yadav13 commented on #33312
@thomasd-ign if you are talking about [What Are Namespaces and cgroups, and How Do They Work?](https://www.nginx.com/blog/what-are-namespaces-cgroups-how-do-they-work/) then it's not a dead link.
It is working fine.

[2022-04-29 12:42] thomasd-ign commented on #33312
Hello @Shivansh-yadav13, I'm talking about this one : As you read that, bear in mind that Linux kernel namespaces are a different thing from [Kubernetes namespaces](https://kubernetes.io/blog/2022/04/28/ingress-nginx-1-2-0/h/docs/concepts/overview/working-with-objects/namespaces/))

[2022-04-29 12:43] Shivansh-yadav13 commented on #33312
@thomasd-ign Ohk mb, are you adding it?

[2022-04-29 12:53] thomasd-ign commented on #33312
I tried a write a PR : https://github.com/kubernetes/website/pull/33315

[2022-04-29 12:59] chrisnegus commented on #30949
[PR #33219](https://github.com/kubernetes/website/pull/33219) has merged, so I am closing this issue.
/close

[2022-04-29 12:59] #30949 closed

[2022-04-29 13:12] chrisnegus commented on #30999
The content shown in https://docs.google.com/document/d/1ZFi4uKit63ga5sxEiZblfb-c23lFhvy6RXVPikS8wf0/edit# was added to the docs in [PR #31469](https://github.com/kubernetes/website/pull/31469) and has been merged. I'm closing this issue.
/close

[2022-04-29 13:37] #32936 closed

[2022-04-29 13:55] rritsoft opened #33317 "Request for help with Deploy and Access the Kubernetes Dashboard"
im follow the save steps doc

but error
apiVersion	"v1"
metadata	{}
status	"Failure"
message	"no endpoints available for service \"kubernetes-dashboard\""
reason	"ServiceUnavailable"
code	503

how to resolve that problem

anjireddy2024@gmail.com

please tell me steps

[2022-04-29 15:39] #30582 closed

[2022-04-29 15:50] sftim commented on #33312
/area blog

[2022-04-29 15:51] #33312 closed

[2022-04-29 15:51] sftim commented on #33317
/kind support

/retitle Request for help with Deploy and Access the Kubernetes Dashboard

[2022-04-29 15:52] sftim commented on #33317
We'd welcome a bug report that focuses on covering what's not right with that page.

[2022-04-29 17:15] jayunit100 opened #33322 "Container Runtimes: Add containerd debugging/usage page"
For new users moving from docker post 1.24, its not clear how to do containerd ls commands and so on. For example, things like containerd namespaces, pause conatiners,  etc need to  get disambiguated from k8s concepts.   @ridavid2002 is writing some docs for this , maybe lets add a page in the website "how to use containerd to debug pods in a running cluster".

[2022-04-29 17:22] jayunit100 commented on #33322
[code]

[2022-04-29 17:30] WilliamDenniss opened #33323 "Node affinity operator behavior is not defined"
https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#node-affinity

The operator field is a fairly important aspect of the node affinity concept, and yet the behavior of the operator fields are undefined.

The docs list the following:

But don't define the behavior of these operators. I think a table documenting this would be appropriate here.

It looks like [other folks](https

[2022-04-29 17:32] ridavid2002 commented on #33322
/assign @ridavid2002

[2022-04-29 17:40] #30685 closed

[2022-04-29 18:08] ridavid2002 commented on #33031
The options --ssh-user and --ssh-key were removed but ssh tunnels have not been removed. I believe the text should remain as deprecated in the guide.

[2022-04-29 18:08] ridavid2002 commented on #33031
/close

[2022-04-29 18:51] strattner opened #33327 "Container Runtimes - containerd - link to getting started"
Under 2. Install containerd
The link to _Getting started with containerd_ is stale.
Link currently goes to: https://containerd.io/docs/getting-started/#starting-containerd

Their site now recommends: https://github.com/containerd/containerd/blob/main/docs/getting-started.md

[2022-04-29 22:46] SergeyKanzhelev commented on #30999
I thought the idea was to move specific agents information as well? I found that it is way less discoverable with the google doc link

/reopen

[2022-04-29 23:33] nate-double-u opened #33338 "Review and update network-plugins page"
Review and update [Network Plugins](https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins/
) page.

Follow up to PR: #31849

_Originally posted by @mikebrow in https://github.com/kubernetes/website/pull/31849#pullrequestreview-958106893_

[2022-04-30 00:17] ptux commented on #30528
/remove-lifecycle rotten

[2022-04-30 00:17] ptux commented on #30527
/remove-lifecycle rotten

[2022-04-30 00:17] ptux commented on #30526
/remove-lifecycle rotten

[2022-04-30 00:17] ptux commented on #30519
/remove-lifecycle rotten

[2022-04-30 00:18] ptux commented on #30876
/remove-lifecycle rotten

[2022-04-30 00:40] #30693 closed

[2022-04-30 03:53] mk46 commented on #33327
Hi @strattner,  Please provide the URL of the page you want to be updated.
/triage needs-information

[2022-04-30 05:37] RahulKansana1 commented on #33284
Hi @Shubham82 ,
I have completed all your steps but after providing load on my cpu in a new terminal does not scale out pods.
And the targets of hpa remains <0%/50%>.
Please help me out .

![image](https://user-images.githubusercontent.com/102732328/166092960-407fc619-e117-4af0-a2e4-306cd73d4e81.png)

[2022-04-30 08:40] infa-knandi opened #33345 "Auditing documentation moved and no redirects configured"
https://kubernetes.io/docs/tasks/debug-application-cluster/audit
This page is missing.
This page has significant importance as audit-log documentation is done on this page only.

[2022-05-01 01:32] adrianfdez469 opened #33360 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
Can't use the terminal.
Google Chrome: Version 101.0.4951.41 (Official Build) (64-bit)
Windows 10

[2022-05-01 01:41] Ileriayo opened #33361 "Improve explanation for Services without selectors"
The ___Note___ paragraph under "Service without selectors" section reads thus:

Since `kubectl proxy` is meant to proxy connections to the api-server, shouldn't the command rather be `kubectl port-forward <service-name> hostPort:servicePort`?

_For more details, see https://github.com/kubernetes/website/issues/33361#issuecomment-1613303593_

[2022-05-01 03:00] SuperChenSSS commented on #33223
Hi Team, I could also confirm that I have the same error while following the tutorial, seems the doc needs some update.

[2022-05-01 13:19] mk46 commented on #33360
Hi @adrianfdez469, I am able to open the terminal on this page. Kindly share screenshots of the issue, which help us to fix it.

[2022-05-01 15:15] dims commented on #32564
@sftim : +1 to documenting `The only part of that that I'd want to cover in docs would be to make it clear that access to read the metadata of Secret always also means access to all its fields, including the plaintext.`

[2022-05-01 15:36] adrianfdez469 commented on #33360
Hi @mk46, thanks for reply. I think the problem might been a connection issue. I try again today and it works fine. Closing issue.

[2022-05-01 15:36] #33360 closed

[2022-05-01 16:44] shivam-sharma7 commented on #33327
location of folder where required update?

[2022-05-01 22:38] jihoon-seo commented on #33361
URL: https://kubernetes.io/docs/concepts/services-networking/service/#services-without-selectors

[2022-05-01 22:42] jihoon-seo commented on #33345
Please refer to https://kubernetes.slack.com/archives/C1J0BPD2M/p1651053713582139 :

[Related issues/PRs]
- #33211
- #33227
- There exists work that is already under way: https://github.com/kubernetes/website/pull/33220#pullrequestreview-953824594 .

[2022-05-02 00:24] craigbox opened #33395 "Have the website serving container available from a registry"
I always forget I have to `make container-image` before `make container-serve`, which got me to thinking, why do I have to do this?

Per https://github.com/kubernetes/website/issues/33278#issuecomment-1112705866, a request that the image be served from a registry rather than built locally by each author.

[2022-05-02 03:44] Kartik494 commented on #33317
@rritsoft it's seems like an error for service not configure correctly.Could you check your services ?

[2022-05-02 03:51] Kartik494 commented on #33160
Hi @nvsd Tutorial seems to be running fine , able to do all the steps mentioned there.Could you describe in details what error you are facing in it.
Thanks!!

[2022-05-02 04:01] craigbox commented on #30697
Looks to be working as of https://deploy-preview-33280--kubernetes-io-main-staging.netlify.app/blog/.

[2022-05-02 04:01] #30697 closed

[2022-05-02 04:10] mk46 commented on #33327
Seems like the suggested change is already applied in https://kubernetes.io/docs/setup/production-environment/container-runtimes/#containerd by https://github.com/kubernetes/website/pull/33321.

[2022-05-02 04:11] Kartik494 commented on #32785
/sig storage

[2022-05-02 05:05] Shubham82 commented on #33284
@RahulKansana1 have you enabled a `Metrics Server` in your k8s cluster?
Have you created your k8s cluster using minikube? if yes then you have to run `minikube addons enable metrics-server` and To view it run: `kubectl get pod,svc -n kube-system`.

[2022-05-02 05:52] mk46 commented on #33205
Hi @kifeo, Seems like you are using `kubectl < v1.23`. Support of fish was added in v1.23 by https://github.com/kubernetes/kubernetes/pull/92989.

[2022-05-02 08:06] vaibhav2107 commented on #31353
/remove-lifecycle stale

[2022-05-02 11:09] mk46 commented on #31584
/remove-lifecycle stale

[2022-05-02 13:16] strattner commented on #33327
Hi, yes when I go to check now the URL was changed and is now correct. I'll close this issue.

[2022-05-02 13:16] #33327 closed

[2022-05-02 17:22] nate-double-u commented on #33273
Sorry, didn't see your question till now Tim
https://github.com/kubernetes/sig-release/blob/master/release-team/role-handbooks/docs/Release-Timeline.md#update-netlify

Says "A [SIG Docs chair](https://github.com/kubernetes/community/tree/master/sig-docs#leadership) can assist you with access", which suggests that the docs lead _could_ do the work.

[2022-05-02 18:01] nate-double-u opened #33411 "Freeze k/website for Kubernetes 1.24 release"
This issue is for freezing the k/website for the Kubernetes 1.24 release.

The release is scheduled to happen tomorrow (May 3, 2022) and No PRs are allowed to merge until the release PR has successfully merged.

If there are any questions, please contact me or anyone from the docs release team

cc: @chrisnegus @didicodes @mehabhalodiya @PI-Victor

/sig release
/label tide/merge-blocker

[2022-05-02 22:09] sftim commented on #33395
/triage accepted
/lifecycle frozen
/priority important-longterm

Good idea!

[2022-05-02 22:10] sftim commented on #33345
/triage duplicate

/retitle Auditing documentation moved and no redirects configured
/language en

[2022-05-02 22:47] sftim commented on #33338
/triage accepted

Maybe we can use the CNCF landscape (we already have a suitable shortcode) to list network plugins.

[2022-05-02 22:47] sftim commented on #33273
/triage accepted

[2022-05-02 22:48] sftim commented on #33273
/priority critical-urgent
(I assume)

[2022-05-02 22:48] sftim commented on #33274
/priority important-longterm

[2022-05-02 22:49] sftim commented on #33361
/language en

[2022-05-03 00:48] nate-double-u commented on #33273
@reylejano and @jimangel have been running the Netlify portion of the release.

[2022-05-03 01:14] jihoon-seo commented on #31497
Resolved by #31527.
/close

[2022-05-03 01:14] #31497 closed

[2022-05-03 02:53] reylejano commented on #33274
Access to netlify has been granted by @jimangel
/close

[2022-05-03 02:53] #33274 closed

[2022-05-03 04:55] abs007 opened #33414 "Grammar problem with Kubernetes Components concept"
The subtopic for [Addons](https://kubernetes.io/docs/concepts/overview/components/#addons) has a possible grammatical error. The second sentence starts with 'Because'.

A likely fix would be to replace 'Because' with 'As'.

[2022-05-03 07:21] Box-Cube opened #33415 "网络策略"
![image](https://user-images.githubusercontent.com/64300761/166416942-76628a02-80cd-44f6-9b6c-889292981373.png)
not all namespace。In the Original English，it means " in a namespace".

[2022-05-03 08:09] sftim commented on #25903
/remove-lifecycle rotten

[2022-05-03 09:38] tengqm commented on #33415
please provide the page location where a change is needed.

[2022-05-03 09:42] Box-Cube commented on #33415
https://kubernetes.io/zh/docs/concepts/services-networking/network-policies/#networkpolicy-resource
search key words "该网络策略示例"

[2022-05-03 10:59] divya-mohan0209 commented on #33034
Fixed by #33038, hence closing.

[2022-05-03 10:59] #33034 closed

[2022-05-03 11:06] Venkatraj1986 opened #33419 "Kubelet service issue"
[root@k8m ~]# cat /etc/redhat-release
Red Hat Enterprise Linux release 8.4 (Ootpa)
[root@k8m ~]#
[root@k8m ~]# dmidecode | grep -i vm
        Manufacturer: VMware, Inc.
        Product Name: VMware Virtual Platform
        Serial Number: VMware-56 4d da a4 dc 58 49 b5-c5 c9 c3 16 88 fd 74 7f
        Description: VMware SVGA II
        String 1: [MS_VM_CERT/SHA1/27d66596a61c48dd3dc7216fd715126e33f5

[2022-05-03 11:53] neolit123 commented on #33419
Please try asking on support channels
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close
/kind support

[2022-05-03 11:53] #33419 closed

[2022-05-03 13:51] axeltanxl opened #33421 "Issue with k8s.io/docs/tasks/debug/debug-application/debug-pods/"
Links to "Debugging Service" documents are not working. It is currently linking to https://kubernetes.io/docs/tasks/debug/debug-applications/debug-service/ when it should be https://kubernetes.io/docs/tasks/debug/debug-application/debug-service/.

[2022-05-03 14:28] JimBugwadia commented on #31479
/remove-lifecycle stale

[2022-05-03 14:31] jimsnab opened #33423 "Broken hyperlink in Dynamic Admission Control reference"
The "See JSON patch documentation" link on [this page](https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/) is invalid.

Is the link supposed to be https://datatracker.ietf.org/doc/html/rfc6902?

[2022-05-03 16:12] nate-double-u commented on #33273
Closing as @reylejano and @jimangel are on it this time around. Thank you both, your being on hand has made my travel-release much less stressful than it could have been. 🙂

/close