[2022-07-09 10:42] sftim commented on #34887
/kind feature
/language en

It sounds as if we could add a hyperlink from https://kubernetes.io/docs/concepts/storage/dynamic-provisioning/  to https://kubernetes.io/docs/reference/labels-annotations-taints/#storageclass-kubernetes-io-is-default-class and that would solve it for you @nareshmaharaj-consultant

Have I got that right?

[2022-07-09 12:52] bconfiden2 opened #34897 "[ko] Re-arrange categories of Korean contribute doc as same as English"
**This is a Feature Request**

**What would you like to be added**
Change the weights in ```_index.md``` file of ```Document style overview``` and ```Reference Docs Overview``` in Contribute docs.

**Why is this needed**
Since the weights are same, and was sorted by first letter of Korean, the order of listed categories in contribute docs of Korean is different with that of English.

**Comments**

[2022-07-09 12:53] bconfiden2 commented on #34897
/language ko
/assign

[2022-07-09 14:47] #31669 closed

[2022-07-09 16:26] kadtendulkar commented on #34882
Since PR is merged, I'm closing the issue.
/close

[2022-07-09 16:27] #34882 closed

[2022-07-09 16:33] kadtendulkar opened #34899 "Broken link on Communication between Nodes and the Control Plane page"
**Problem:**
The text [**kubelet TLS bootstrapping**](https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet-tls-bootstrapping/) on [link](https://kubernetes.io/docs/concepts/architecture/control-plane-node-communication/) is not pointing and redirect to some [page](https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet-tls-bootstrapping/), it should point to

[2022-07-09 17:22] seokho-son opened #34901 "Korean Localization for dev-1.24-ko.2 branch"
## In English

**This is a Feature Request**

Korean Localization for `dev-1.24-ko.2` branch.

**What would you like to be added**

Any localization contributions for Korean.

**Comments**

- This issue is to notify the schedule of Korean localization to contributors.
- `dev-1.24-ko.2` is the current work branch for Korean localization.

**Important dates**
- A Korean localization work branch is m

[2022-07-09 17:24] seokho-son commented on #34901
/milestone dev-1.24-ko.2

[2022-07-09 17:24] seokho-son commented on #34901
/triage accepted

[2022-07-09 17:36] seokho-son opened #34903 "Outdated Korean contents in the dev-1.24-ko.2"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.24-ko.2 branch.

Report generated by the following command.
`./scripts/diff_l10n_branches.py ko upstream/dev-1.24-ko.1 upstream/dev-1.24-ko.2`

### 125 files to be modified
1. [x] M1.  `content/en/_index.html`  | 2(+XS) 2(-)
1. [x] M2.  `content/en/community/code-of-conduct.md`  | 2(+XS) 2(-)
1. [x] M3.  `content/en/community/s

[2022-07-09 17:38] seokho-son commented on #34903
참고: 추가와 삭제 변경이 비슷하게 많은 파일들은 업스트림의 히스토리 확인이 필요할 수 있음.

[2022-07-09 17:43] sftim commented on #32208
I'm not sure that the before/after examples are a good fit for our reference docs. I like the idea for doing this somewhere on the site, but it'd be a big commitment to do this for every API deprecation.

I'm going to decline this on the basis that we don't have capacity to staff it.
If the level of contribution changes, we'd be happy to see this reopened.

/close

[2022-07-09 17:44] #32208 closed

[2022-07-09 17:44] sftim commented on #34899
/retitle Broken link on Communication between Nodes and the Control Plane page

[2022-07-10 02:49] #31601 closed

[2022-07-10 03:15] windsonsea opened #34906 "[zh-cn] Mermarid error on /docs/contribute/_index.md"
**This is a Bug Report**

Occasionally find the mermaid diagram cannot be shown properly on the [contribute page](https://kubernetes.io/zh-cn/docs/contribute/).

It is proper while I pasted it into the [online Mermaid Editor](https://mermaid-js.github.io/mermaid-live-editor/edit), but it doesn't work with Chrome. My Chrome version is 103.0.5060.66.

![image](https://user-images.githubusercontent.c

[2022-07-10 04:22] bconfiden2 commented on #34903
M105 ~ M117 까지 제가 해봐도 될까요?

[2022-07-10 06:12] sudipju opened #34907 "Creating a cluster with kubeadm"
Following command :
kubectl taint nodes --all node-role.kubernetes.io/control-plane- node-role.kubernetes.io/master-

should be replaced with :
kubectl taint nodes --all node-role.kubernetes.io/control-plane node-role.kubernetes.io/master

"-" removed

[2022-07-10 06:44] NitishKumar06 commented on #34907
/assign

[2022-07-10 06:48] NitishKumar06 commented on #34907
@sudipju I believe "-" should be there.

[2022-07-10 09:19] sudipju commented on #34907
I am probably missing the logic. Can you please help me to understand?

[2022-07-10 09:35] vanilet opened #34908 "Interactive Tutorial - Configuring a Java Microservice: the layout of view area need to be rearranged."
As you see in the image below, the view area draws incorrectly.

The filesystem tree is clipped and cannot see the sample-kubernetes-config directory, even though I've tried to scroll down.
The tab area on top of the text editor is misaligned and the maximize and setup icons are as well.
Also, the scrolling area in the terminal section draws incorrectly.

The environment of my computer is
 OS: Win

[2022-07-10 10:15] Veryfirstmoment opened #34909 "[ko] Minor typos in docs/reference/access-authn-authz/authorization.md"
**This is a Bug Report**

**Problem:**
The following minor typos in the [authorization overview](https://kubernetes.io/ko/docs/reference/access-authn-authz/authorization/) page need to be modified.

#1 typo under 인가 모드 section
Location: https://kubernetes.io/ko/docs/reference/access-authn-authz/authorization/#authorization-modules
as-is:
Node 인가 모드 사용에 대한 자세한 내용은 Node 인가을 참조한다.

#2 formatting-rela

[2022-07-10 11:44] NitishKumar06 commented on #34909
/assign

[2022-07-10 12:56] windsonsea commented on #34909
/language korean

[2022-07-10 16:32] gangchen03 commented on #34733
I would like to take:
NetworkPolicy-v1
/assign

[2022-07-10 16:54] kadtendulkar opened #34914 "Broken hyperlink on Kubelet Configuration (v1beta1) page"
**Problem:**
The text [**KubeletConfiguration**](https://kubernetes.io/docs/reference/config-api/kube-scheduler-config.v1beta2/#kubelet-config-k8s-io-v1beta1-KubeletConfiguration) on [link](https://kubernetes.io/docs/reference/config-api/kube-scheduler-config.v1beta2/) is not pointing and redirect to same [page](https://kubernetes.io/docs/reference/config-api/kube-scheduler-config.v1beta2/#kubelet

[2022-07-10 18:10] sudipju commented on #34907
To add, subsequently in the page,  following statement was described - "This will remove the node-role.kubernetes.io/control-plane and node-role.kubernetes.io/master". This doesn't include either control-plane- or master-. So, my recommendation is to remove "-" after control-plane and master as I recommended below:
kubectl taint nodes --all node-role.kubernetes.io/control-plane node-role.kubernete

[2022-07-10 18:36] seokho-son commented on #34903
@bconfiden2 감사합니다! :)

/assign @bconfiden2

M105 ~ M117 : @bconfiden2

[2022-07-10 22:37] jihoon-seo commented on #34909
/language ko

[2022-07-10 22:38] jihoon-seo commented on #34908
/label team/katacoda

[2022-07-11 00:05] #34854 closed

[2022-07-11 00:35] #34755 closed

[2022-07-11 01:00] tengqm commented on #34906
/triage accepted

[2022-07-11 01:11] #34575 closed

[2022-07-11 01:13] #34365 closed

[2022-07-11 03:07] ak2766 commented on #12303
I really do not like clicking on that "Accepting the Risk and Continue" link, but I guess that's the only choice right now if I REALLY want to see said documentation - (v1-9)...

[2022-07-11 03:44] utkarsh-singh1 commented on #33936
Hi, I think this https://kubernetes.io/docs/contribute/style/style-guide/#katacoda-embedded-live-environment is skipped in the above list. just found this while going through the docs.

[2022-07-11 04:09] utkarsh-singh1 commented on #34807
Hi @TheRealWaldo, Can you retry again because i have been using chrome on 2 different environment and I can use the interactive tutorial - creating a cluster perfectly.

[2022-07-11 04:11] jihoon-seo commented on #34840
Resolved by #34918.
/close

[2022-07-11 04:11] #34840 closed

[2022-07-11 04:42] mk46 commented on #33204
@sftim @STRRL Hi, Seems like this had been addressed in https://github.com/kubernetes/website/pull/34918.
Can we close this?
Thanks!!

[2022-07-11 05:07] mk46 commented on #33898
/assign

[2022-07-11 05:07] kadtendulkar commented on #34899
Since PR is merged I'm closing the issue.
/close

[2022-07-11 05:07] #34899 closed

[2022-07-11 05:42] jihoon-seo commented on #34903
Info:

이 영문 파일은 여러 파일로 쪼개졌습니다.

[#31428 참고]

각 영문 PR(#31850, #31851, #34083, #33582)을 참고하여 여러 `ko` 파일로 쪼개면 될 것으로 보이며,
주의할 점은, 한국어 파일 `content/ko/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md` 이 outdated 된 지 꽤 오래 되어서 (#30364),
쪼개고 난 뒤에도 영문 파일과 비교하여 업데이트가 필요한 부분은 업데이트를 하여야 합니다.

---

: #33324 에서 (쪼개지거나 rename되지 않고) 삭제되었습니다.

[2022-07-11 06:01] #31449 closed

[2022-07-11 06:25] javadoors commented on #34914
/triage accepted

[2022-07-11 07:55] jihoon-seo commented on #34897
[영문]
![image](https://user-images.githubusercontent.com/46767780/178212423-25011730-fd22-48f4-a3ac-1fa60d618823.png)

1. [Suggesting content improvements](https://github.com/kubernetes/website/blob/main/content/en/docs/contribute/suggesting-improvements.md?plain=1) - weight: 10
2. [Contributing new content](https://github.com/kubernetes/website/blob/main/content/en/docs/contribute/new-content/_ind

[2022-07-11 08:13] jihoon-seo opened #34930 "[ko] Update branch name in 'Korean L10n guide' page"
**This is a Bug Report**

**Note:**
`dev-1.24-ko.2` is the current work branch for Korean localization. (Ref: #34901)
It is highly recommended that you
- fetch the latest `dev-1.24-ko.2` to your local dev env,
- branch off your feature branch from `dev-1.24-ko.2`, and
- set the merge target branch of your PR as `dev-1.24-ko.2`.

**Problem:**
The default branch's name of this repo was changed from

[2022-07-11 08:34] STRRL commented on #33204
Yes! I could see the picture from the website. I am going to close this issue now!

[2022-07-11 08:34] #33204 closed

[2022-07-11 09:42] AleD219 commented on #34253
The bug is caused by adblockers, i had a pihole instance for dns adblocking and ublock origin enabled and disabling them resolved the problem for me.

[2022-07-11 09:47] sftim commented on #34253
Similar to https://github.com/kubernetes/website/issues/32832

[2022-07-11 09:49] sftim commented on #32832
/lifecycle frozen

[2022-07-11 09:54] windsonsea commented on #34906
ok, then we can close this issue

/close

[2022-07-11 10:00] seokho-son commented on #34930
/triage accepted

Thanks!!

[2022-07-11 12:57] bishal7679 commented on #34930
/assign

[2022-07-11 13:06] sftim commented on #34935
/wg api-expression
/priority important-longterm
/language en

[2022-07-11 13:07] sftim commented on #34935
/remove-priority backlog

[2022-07-11 13:08] nareshmaharaj-consultant commented on #34887
Hi Tim,

I would agree this would be awesome for users.

Kind regards
Naresh Maharaj

[2022-07-11 13:42] neolit123 commented on #34907
Adding - at the end removes a taint which is the section for single node clusters.
I don't see a problem in the docs here?

[2022-07-11 13:42] neolit123 commented on #34907
/priority awaiting-more-evidence

[2022-07-11 14:15] sftim commented on #34887
@nareshmaharaj-consultant would you be willing to update (edit) the issue description, with https://github.com/kubernetes/website/issues/34887#issuecomment-1179521862 in mind, so that it's clear what change you are asking for?

[2022-07-11 14:17] sftim commented on #33929
What's wrong with the existing text? I'm not clear on what the shortcoming is.

[2022-07-11 14:18] seokho-son commented on #34930
Hi @bishal7679
Thank you for your contribution.

But I need to say, IMO, self-assigning (and opening a PR) is not a good way to proceed handling an open issue in an open source project.
We need to check who are going to handle the issue. (especially, if you are not the author of this issue)

@jihoon-seo I hope to check your willingness first for handling this issue.

[2022-07-11 14:20] sftim commented on #33929
OK, so instead of the existing text

we could have:
[code]

Does that sound right?

[2022-07-11 14:24] donghui12 commented on #34733
I would like to handle:
MutatingWebhookConfiguration-v1
/assign

[2022-07-11 16:59] moonlight16 commented on #31688
/reopen

[2022-07-11 17:39] NitishKumar06 commented on #31688
@moonlight16 Please go through the PR I raised for this issue .

[2022-07-11 17:41] moonlight16 commented on #31688
@NitishKumar06 I didn't see a link to the PR in this thread.  Can you post a link?  thx!

[2022-07-11 17:45] NitishKumar06 commented on #31688
@moonlight16 https://github.com/kubernetes/website/pull/34246

[2022-07-11 18:00] NitishKumar06 commented on #34930
@seokho-son I think the point you've mentioned does not sound correct. This issue was not assigned to anyone and if any contributor feels like they can work on the issue, they can assign themselves (if no one else has already been assigned). That's why the _/assign_ option is there. Even if the changes pushed were wrong at some line, they can be modified by taking the suggestion given on the PR by

[2022-07-11 19:32] seokho-son commented on #34930
Hi @NitishKumar06
Thank you for sharing your opinion.
I don't have the answer for that, but I think it is a procedure to prevent duplicate works from multiple contributors and promote contributions opening issues.
Sometimes we are not sure intention of the author of issue (contributor who opened the issue) weather the contributor has a willing to be assigned or not. And there is a chance the autho

[2022-07-11 19:41] #34667 closed

[2022-07-11 19:48] seokho-son commented on #34903
/milestone dev-1.24-ko.2

[2022-07-11 20:05] seokho-son commented on #34903
/triage accepted

[2022-07-11 20:18] bishal7679 commented on #34930
Thanks @seokho-son will follow these from next contributions ✅

[2022-07-11 21:11] #29142 closed

[2022-07-12 00:22] aceeric opened #34944 "Troubleshooting CNI plugin-related errors"
This is question, not an issue. Regarding:

https://kubernetes.io/docs/tasks/administer-cluster/migrating-from-dockershim/troubleshooting-cni-plugin-related-errors/

I'm trying to install containerd 1.6.4 with k8s 1.24.0. I realize the docs are just an example. But the part:
[code]
Looks like it *could* mean the IP address has to match up to something - it seems reasonable that it is required to b

[2022-07-12 03:21] said265 opened #34947 "Also here. Please move the error handling earlier place."
Also here. Please move the error handling earlier place.

_Originally posted by @yuwata in https://github.com/systemd/systemd/pull/23640#discussion_r917893867_

[2022-07-12 06:28] LeonardoLG95 opened #34949 "Improvement for k8s.io/docs/reference/setup-tools/kubeadm/kubeadm-kubeconfig/"
Hello, I propose to add how to create a config for success in creating a new kubeconfig and solve this problem (if exists put the link in the config param of the documentation):

`test@test:/etc/kubernetes/pki$ sudo kubeadm kubeconfig user --client-name=test --v=5`
`required flag(s) "config" not set`

[2022-07-12 06:52] neolit123 commented on #34949
The page already links to examples

/close
/sig cluster-lifecycle

[2022-07-12 06:52] #34949 closed

[2022-07-12 08:27] taniaduggal commented on #34829
I would like to work on this issue, could you elaborate please and how can I work on this issue?

[2022-07-12 09:49] utkarsh-singh1 commented on #34854
Hi @NitishKumar06, Instead of Configuration we can add Detailed usage of cosign there - https://github.com/sigstore/cosign/blob/main/USAGE.md.

[2022-07-12 10:29] yuwata commented on #34947
Please close and ignore this. This is just a spam. I blocked the account.

[2022-07-12 11:45] Shubham82 opened #34953 "Incorrect feature state data for kubelet credential provider"
**This is a Bug Report**

**Problem:**
The Feature state of `Kubelet Credential Provider` is mentioned as `alpha` under [Configure a kubelet image credential provider](https://kubernetes.io/docs/tasks/kubelet-credential-provider/kubelet-credential-provider/) task, Which is not correct.  In k8s v1.24.0 `Kubelet Credential Provider` is graduated to `beta`. See the [CHANGELOG](https://github.com/kube

[2022-07-12 11:48] Shubham82 commented on #34953
/assign

[2022-07-12 12:26] Shubham82 commented on #34953
fixed it here:#34954

[2022-07-12 14:22] #30748 closed

[2022-07-12 15:13] Veryfirstmoment commented on #34903
안녕하세요, M118~M125까지 진행해보고 싶습니다.

[2022-07-12 17:24] neolit123 commented on #34907
/close

closing as "won't fix", documentation is accurate.
if you have usage problems please join #kubeadm on k8s slack.

[2022-07-12 17:24] #34907 closed

[2022-07-12 17:48] seokho-son commented on #34903
@Veryfirstmoment  감사합니다! :)

/assign @Veryfirstmoment

M105 ~ M117 : @bconfiden2
M118 ~ M125 : @Veryfirstmoment

[2022-07-12 21:42] sftim commented on #34953
As this is a bug report issue, I'm going to change the title to summarize what isn't right.

/retitle Incorrect feature state data for kubelet credential provider

Also:
/language en
/triage accepted
/sig node

[2022-07-13 00:10] jka236 commented on #34903
안녕하세요! 처음 기여해보는데 M1-10까지 해보고 싶습니다.

[2022-07-13 01:02] jihoon-seo commented on #34903
@jka236 관심 가져 주셔서 감사합니다!
/assign @jka236

M1 ~ M10 : @jka236
M105 ~ M117 : @bconfiden2
M118 ~ M125 : @Veryfirstmoment

[2022-07-13 03:22] jihoon-seo commented on #34930
@seokho-son Thank you for the checking. 😊

Actually I wanted that someone other than me work on this,
but preferably someone who is a native Korean speaker,
because this job might be seen as just fixing some strings but actually this job is a Korean L10n job,
since, for example, a Korean contributor may find and apply additional improvements to the document.

@bishal7679 @NitishKumar06 Please cons

[2022-07-13 03:29] yaolixin-creater commented on #34733
I would like to handle:
Node-v1
/assign

[2022-07-13 03:38] bishal7679 commented on #34930
@jihoon-seo yeap! You are absolutely right🌟
But can you consider this PR?

[2022-07-13 03:59] Kartik494 commented on #34887
/sig storage

[2022-07-13 04:23] #26687 closed

[2022-07-13 04:34] Shubham82 commented on #34953
thanks @sftim

[2022-07-13 09:00] huesla opened #34978 "Images documentation: Wrong german translation"
https://kubernetes.io/de/docs/concepts/containers/images/#aktualisieren-von-images

it says "Die Standardregel für das Herunterladen von Images ist IfNotPresent, dies führt dazu, dass das Kubelet Images überspringt, die bereits auf einem Node vorliegen."

which is the exact opposite of what IfNotPresent actually does, according to the english documentation.

[2022-07-13 10:21] Resetnak opened #34982 "Interactive Tutorial - Exploring Your App"
Interactive terminal wont open in Brave Browser - [Version 1.40.113 Chromium: 103.0.5060.114 (Official Build) (arm64)]

[2022-07-13 10:30] utkarsh-singh1 commented on #34982
Hi @Resetnak, This problem is occurring because ad blocker shields in brave browser so just disable shields and reload the page.

[2022-07-13 10:42] Sea-n commented on #33898
Hey @mk46,

Could you prepend the language before PR titles?

For example, `[zh] Convert CRLF to LF` would be more identifiable.

[2022-07-13 10:58] mk46 commented on #33898
Done. PTAL

[2022-07-13 11:12] Kartik494 commented on #34868
@MidnightJava it's working fine in chrome latest version.

[2022-07-13 11:27] #34953 closed

[2022-07-13 11:36] Kartik494 commented on #32266
/remove-lifecycle stale

[2022-07-13 11:42] IqrahMust opened #34984 "saSubmitting blog posts and case studies"
asasa

[2022-07-13 11:43] Kartik494 commented on #31114
I would like to work on this.
/assign

[2022-07-13 11:46] Kartik494 commented on #31114
/sig storage

[2022-07-13 13:53] Shubham82 commented on #34819
Hi @mirzayevelshan
if no more queries can we close this issue?

[2022-07-13 14:55] sftim commented on #34984
/triage needs-information

This issue doesn't report a bug nor does it request an improvement. Please add those details (or close it if posted in error).

[2022-07-13 16:35] kadtendulkar opened #34997 "Remove hyperlink on Restrict a Container's Access to Resources with AppArmor page"
**Problem:**
The text [**Upgrade path to GA**](https://kubernetes.io/docs/tutorials/security/apparmor/#upgrade-path-to-general-availability) on [link](https://kubernetes.io/docs/tutorials/security/apparmor/) is not pointing and redirects to the same [page](https://kubernetes.io/docs/tutorials/security/apparmor/), since content for the term is missing on the [Kubernetes website](https://kubernetes.

[2022-07-13 18:22] chetak123 commented on #31186
Hey @abh139 If you aren't working on this issue can I please take this up, because currently I'm exploring about the same

[2022-07-13 18:30] abh139 commented on #31186
@chetak123 go ahead

[2022-07-13 19:37] raymundovr opened #35002 "Issue with k8s.io/docs/tutorials/kubernetes-basics/expose/expose-interactive/"
Hi guys,

After following the commands to expose a service I don't get an External IP address and I can't access my app from local computer.
[code]
And to verify
[code]

[2022-07-13 20:47] alphabet5 opened #35004 "Docs for dockerconfigjson include base64 string that does not match the expected value."
**This is a Bug Report**

**Problem:**

The example manifest under 'Create a Secret based on existing credentials' does not use the expected format.

[code]

**Proposed Solution:**

Include an example of valid data. Replace the auth key with something reasonable, but keep the same format.

Add a section on how the data is created.

[code]

[code]

[code]

**Page to Update:**
https://kubernetes.io/

[2022-07-13 21:32] seokho-son commented on #34930
/close

[2022-07-13 21:33] #34930 closed

[2022-07-14 02:38] jihoon-seo commented on #35002
The phenomenon that `EXTERNAL-IP` is not set is a normal, non-problematic one.
That one will be set when your Service's type is `LoadBalancer`, and it has been successfully linked with CSP's managed load balancer service.

BTW, your app is successfully exposed by the `kubernetes-bootcamp` NodePort Service already.
You can verify this with the remaining commands in the interactive tutorial:

[code]

[2022-07-14 02:38] jihoon-seo commented on #35002
/kind support

[2022-07-14 02:40] jihoon-seo commented on #34982
/close

[2022-07-14 02:40] #34982 closed

[2022-07-14 03:01] taniaduggal commented on #34829
/assign

[2022-07-14 04:48] raymundovr commented on #35002
@jihoon-seo Then there's a mismatch in the documentation:

[code]

In addition, the command `curl $(minikube ip):$NODE_PORT` renders no result

[2022-07-14 05:00] jihoon-seo commented on #35002
Are you following this tutorial on your local computer with your K8s cluster, not on online terminal (Katacoda) in that page?

I confirm that I can get results after running `curl $(minikube ip):$NODE_PORT`, on online terminal (Katacoda) in that page.

---

About this, it would be better to hear other people's opinion.
/remove-kind support

[2022-07-14 05:19] raymundovr commented on #35002
@jihoon-seo tried both places

Also, is then the text
"
Step 1
...
We have now a running Service called kubernetes-bootcamp. Here we see that the Service received a unique cluster-IP, an internal port and an external-IP (the IP of the Node).
"

accurate?

I'm confused

[2022-07-14 06:01] Shubham82 commented on #35002
I tried the tutorial and it's working for me.
@raymundovr  did it give any error?

you are right.  see [ServiceTypes](https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types) for more information.
IMO we can remove the line (the IP of the Node) from the tutorial which is just after external-IP or write about external-ip(why it is none) because it creates

[2022-07-14 06:04] jihoon-seo commented on #35002
@Shubham82 Your suggestion looks good to me. 😊

[2022-07-14 06:16] Shubham82 commented on #35002
@jihoon-seo, I think this will be done by katacoda team. am I right?

[2022-07-14 06:21] jihoon-seo commented on #35002
@Shubham82 I am not sure (don't know) whether the Katacoda team is active.

Instead, maybe someone might just open a issue and PR in https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios
to update the file https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios/blob/master/8/step1.md .

[2022-07-14 06:33] Shubham82 commented on #35002
Ok, @jihoon-seo,
the katacoda team is not active, I saw the repo https://github.com/katacoda-scenarios/[kubernetes-bootcamp-scenarios](https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios) the last PR was on last year. No update on a current issue.

[2022-07-14 07:07] zhangxyjlu commented on #34733
I would like to handle:
 HPA-v2 ：horizontal-pod-autoscaler-v2.md
 HPA-v2beta2 ：horizontal-pod-autoscaler-v2beta2.md

[2022-07-14 07:59] Kartik494 commented on #34887
/assign

[2022-07-14 08:03] sftim opened #35016 "Task page for kubectl create token"
**This is a Feature Request**

**What would you like to be added**
Add a task page that covers creating a token for a ServiceAccount.
Cover:
- why you'd want to do this
  - and use that motivation to pick a suitable task title
  - recap ServiceAccounts and link to further reading
  - explain that for Pods, Kubernetes can request the token for you automatically
- explain that there isn't an API kin

[2022-07-14 08:03] sftim commented on #35016
Also
/sig cli

[2022-07-14 08:08] sftim commented on #35004
This example doesn't use a real secret key; that's by design.

Rather than

as the encoded value, how about

[code]

? That way, nobody can use it by accident as it's not a valid configuration, but it's close enough to show the format.

[2022-07-14 08:08] sftim commented on #35004
/language en

[2022-07-14 08:09] sftim commented on #35004
I don't think this is a _bug_ as such.
/remove-kind bug

[2022-07-14 08:16] Kartik494 commented on #31114
@sftim @balrajkannan i have create a PR for the same. PTAL

[2022-07-14 10:12] shurup commented on #32796
@sftim this issue can be closed since it was fixed in #33424.

[2022-07-14 10:41] KimDoubleB commented on #34903
안녕하세요~!
M11~M20 까지 진행해보고 싶습니다 :)

[2022-07-14 10:52] utkarsh-singh1 commented on #34944
Hi @aceeric,

So here in the example, the range "10.88.0.0/16" is a range of IP addresses that will be assigned to pods. It can differ in different cases as each Node should have unique range of address to the pods.

[2022-07-14 14:44] #32170 closed

[2022-07-14 14:54] AmanSarraf commented on #31600
/assign

[2022-07-14 15:50] sftim commented on #34275
@dhs-rec - would you be willing to update the issue description to incorporate the idea from https://github.com/kubernetes/website/issues/34275#issuecomment-1155993890 ?

[2022-07-14 15:52] sftim commented on #34879
The feature request is to document that Kubernetes ephemeral containers are unprivileged by default. Have I got that right?

[2022-07-14 15:54] sftim commented on #32564
We could document that you, a cluster operator, have the option of adding your own authz mechanism to restrict direct Secret readback, and that you can also use admission control to limit indirect readback by creating a Pod / Pod template.

Is that useful?

[2022-07-14 15:56] sftim commented on #32662
/remove-lifecycle stale

[2022-07-14 15:58] sftim commented on #32900
/lifecycle frozen

[2022-07-14 15:58] sftim commented on #33031
/close

[2022-07-14 15:59] sftim commented on #33226
/close

as a duplicate

[2022-07-14 15:59] #33226 closed

[2022-07-14 16:00] sftim commented on #33169
Maybe we should leave the examples repo as is, and update the website repo?

[2022-07-14 16:01] sftim commented on #33221
/close

[2022-07-14 16:02] sftim commented on #33824
/triage not-reproducible

[2022-07-14 16:03] sftim commented on #34119
No report back. Those labels are reserved just as @tengqm says.

/close

[2022-07-14 16:04] #34119 closed

[2022-07-14 16:15] akankshakumari393 commented on #32446
I would like to work on it.

[2022-07-14 16:19] vidhyapg opened #35026 "Unclear text in “Fine Parallel Processing Using a Work Queue” task"
In this article, it is mentioned that
"So, we set the completion count of the Job to 1".
However I do not see this in the example given below,
Completions:      <unset>

Example is according to this article https://kubernetes.io/docs/concepts/workloads/controllers/job/
Parallel Jobs with a work queue:
do not specify .spec.completions, default to .spec.parallelism.

But the below line is confusing

[2022-07-14 17:19] akankshakumari393 commented on #32446
/assign

[2022-07-14 17:47] #31710 closed

[2022-07-14 17:47] #31711 closed

[2022-07-14 18:48] kgibm commented on #34879
@sftim Yes, this is a documentation change request although I'm not sure what the correct term should be instead of privileged. I don't think unprivileged is right either because the pod does have privileged access to the worker node filesystem but it lacks other privileged permissions that one would normally expect `root` to have (such as introspecting all processes). I guess the best thing would

[2022-07-14 19:34] seokho-son commented on #34909
/triage accepted

[2022-07-14 23:12] sftim commented on #34879
No, it's not about ephemeral containers. It's about debug pods that you can try to create with `kubectl`, as a way to get a form of node level access.

There aren't any docs for `kubectl debug node` yet; it looks like the folks doing the improvement might have missed out adding those when this subcommand got added.

[2022-07-14 23:13] sftim commented on #34879
/retitle “Debug Running Pods” gives poor advice about debugging via node shell

[2022-07-14 23:18] sftim opened #35031 "Document using kubectl to create an interactive debugging session on a node"
**This is a Feature Request**

**What would you like to be added**
Document `kubectl debug node` in a node troubleshooting context

**Why is this needed**
Other than a small mention in [Debug Running Pods](https://kubernetes.io/docs/tasks/debug/debug-application/debug-running-pod/), there's no task documentation to cover the `kubectl` feature that lets you create a Pod on a node - and attach to it

[2022-07-15 00:08] kgibm commented on #34879
@sftim

Correct. Not sure how ephemeral containers came into the picture.

Yes, there are, as quoted earlier: https://kubernetes.io/docs/tasks/debug/debug-application/debug-running-pod/#node-shell-session

These are, in a sense, privileged, as the user is `root` and the worker node's filesystem is mounted into `/host`; however, they are also not fully privileged as the user does not have access to

[2022-07-15 00:23] sftim commented on #34879
@kgibm would you be willing to revise the issue description to frame this as the improvement you would like to see?

[2022-07-15 00:37] sftim commented on #31600
/remove-help
/remove-good-first-issue
/remove-triage accepted

I'm not sure that this issue is valid. The Hindi localization is not yet launched and work is happening on branch _dev-1.22-hi.1_.

[2022-07-15 00:37] sftim commented on #31600
/remove-kind bug

[2022-07-15 00:39] jihoon-seo commented on #35002
/label team/katacoda

[2022-07-15 01:11] aBetterGamer opened #35034 "DNS for Services and Pods"
I think they have the subdomain and domain backwards in the documentation.

`For example, a Pod with hostname set to "foo", and subdomain set to "bar", in namespace "my-namespace", will have the fully qualified domain name (FQDN) "foo.bar.my-namespace.svc.cluster-domain.example".`

in the above example I think it would be "bar.foo.my-namespace.svc.cluster-domain.example" where bar comes before foo

[2022-07-15 01:21] kgibm commented on #34879
/retitle Clarify documented privileges of kubectl debug node

[2022-07-15 01:27] kgibm commented on #34879
@sftim I've updated the title. If you think it's better to close this issue and open a new issue that's cleaner and reference this as background, I can do that as well.

As far as what the actual clarification should be instead of the word "privileged", I'm not sure. I think a subject matter expert should opine on that. My guess is it should be something along the lines of:

[2022-07-15 01:51] #31740 closed

[2022-07-15 02:29] jihoon-seo commented on #35034
Page: https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pod-s-hostname-and-subdomain-fields

[2022-07-15 02:31] jihoon-seo commented on #35026
Page: https://kubernetes.io/docs/tasks/job/fine-parallel-processing-work-queue/#defining-a-job

[2022-07-15 02:37] fusida opened #35037 "Issue with k8s.io/zh-cn/docs/tasks/administer-cluster/namespaces/"
https://kubernetes.io/zh-cn/docs/tasks/administer-cluster/namespaces/
[名字空间的设计文档](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/architecture/namespaces.md)
404

[2022-07-15 03:28] utkarsh-singh1 commented on #35037
Hi @fusida, can you please elaborate your issue the  current passage doesn't give enough information.

[2022-07-15 04:09] fusida commented on #35037
@utkarsh-singh1 see #35039

[2022-07-15 04:30] jihoon-seo commented on #35037
/language zh
/assign @fusida

[2022-07-15 06:07] fenggw-fnst opened #35043 "Redundant </td> in reference/command-line-tools-reference/kubelet.md"
**This is a Bug Report**

**Problem:**
There is a redundant `</td>` at the end of line 93 in https://github.com/kubernetes/website/blob/main/content/en/docs/reference/command-line-tools-reference/kubelet.md

**Proposed Solution:**
Although it can be ignored when rendering, but we should fix it.
It seems that this page has been manually maintained (rather than generated from upstream source code) f

[2022-07-15 07:32] bishal7679 commented on #34816
I would like to work on this issue
Could you elaborate what exactly this issue want to be fixed?
@jihoon-seo or anyone

[2022-07-15 08:50] tomkivlin commented on #9829
/assign @tomkivlin

[2022-07-15 09:11] sftim commented on #34879
I suggest opening a new issue, given that the original issue was a CLI feature request and not a suggestion for docs.

BTW, the description is the longer text slightly below the issue title.

[2022-07-15 09:55] KRISHNA-VKS opened #35050 "link "worker node running Windows Server" pointing to wrong documentation"
when the link is clicked "[worker node running Windows Server](https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/)" is moving towards a wrong location as the above location content is not available. Its switching to https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/ location.

[2022-07-15 11:17] neolit123 commented on #35050
Duplicate of
https://github.com/kubernetes/website/issues/34476

/close

[2022-07-15 11:18] #35050 closed

[2022-07-15 12:54] verb commented on #32351
/remove-lifecycle stale

[2022-07-15 14:30] Darathor17 commented on #32832
Just come here to say I had the same problem with NextDNS and indeed tutorial is completely broken unless all blockers are disabled.

I understand that the team does not have much margin here so maybe just give an explicit message about it (more and more people does use ad & tracker blockers). it will save a lot of time debugging it. (If I didn't find this thread, I would have skipped the tutorial

[2022-07-15 14:40] sftim commented on #32832
/priority backlog
I don't think I can justify setting important-longterm here.

Feature improvement could be to detect likely blocking and reveal a note message that gives a hint about how to fix it.
/area web-development
/triage accepted

[2022-07-15 14:48] Darathor17 commented on #32832
That would be an acceptable solution to this issue.

IMO and while not something you did or can change in any way, the real issue lies with Katacoda -> not working at all while `trackjs.com` is blocked is not acceptable nowadays (as mentioned by @fake-name)

[2022-07-15 15:05] sftim commented on #35034
@aBetterGamer I'd assume the docs are right, unless you've evidence otherwise.

/priority awaiting-more-evidence

[2022-07-15 15:05] sftim commented on #35034
/language en

[2022-07-15 15:55] SaintMichae64 opened #35054 "Improvement for k8s.io/docs/tasks/access-application-cluster/list-all-running-container-images/"
Give example commands not command requiring 'fill in the blank', instead of 'kubectl -n >namespace> get pods'; provide a command with actual namespaces or actual names (where applicable), kubectl -n sn-labs-b0b9817 get pods'. Real world examples in context.

[2022-07-15 15:55] aBetterGamer commented on #35034
Hey @sftim ,

Yeah reading over this again, it seems the terminology was just throwing me off.  I was thinking of host name as the entire domain name, but I think here they are using host name as leaf domain.  I think it would probably be clearer if they used leaf domain, sub domain and domain in the docs, instead of host name as host name is technically the whole thing.

[2022-07-15 15:55] #35034 closed

[2022-07-15 16:21] ydFu commented on #35037
/triage accepted

[2022-07-15 16:22] ydFu commented on #35031
/triage accepted

[2022-07-15 16:23] ydFu commented on #35016
/triage accepted

[2022-07-15 16:58] kadtendulkar opened #35059 "Broken hyperlink on Windows containers in Kubernetes page"
**Problem:**
The text [**Load balancing and Services**](https://kubernetes.io/docs/concepts/windows/intro/#load-balancing-and-services) on [link](https://kubernetes.io/docs/concepts/windows/intro/) is not pointing to the exact section and redirect to the same [page](https://kubernetes.io/docs/concepts/windows/intro/#load-balancing-and-services), it should point to this [link](https://kubernetes.io

[2022-07-15 18:12] rptaylor commented on #23915
The page https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/#eviction-signals seems to be gone; now it redirects to https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals
The information about supported filesystem layouts for the node is changed, now it says
[code]
It is still not totally clear what nodefs and imagefs would actually be on

[2022-07-15 19:03] AmanSarraf opened #35063 "[hi] Translate docs/concepts/overview/components.md into Hindi"
**This is a Feature Request**

**What would you like to be added**
Hindi Translation for the [docs/concepts/overview/components.md ](https://kubernetes.io/docs/concepts/overview/components/)

**Why is this needed**
This page is not translated in Hindi yet

**Comments**
/language hi
/assign

[2022-07-15 21:50] PushkarJ commented on #33849
@shannonxtreme added a couple of comments and a suggestion. Overall looks good! Happy to help you mentor folks who are new and willing contributors for this work!

[2022-07-15 21:53] PushkarJ commented on #33431
@quangthe this is great suggestion. If you can share a sample pod spec / yaml or any other info you could, it would be faster to make the changes.

Also, if you are interested and willing, would be absolutely awesome if you open a PR with the proposed changes :)

[2022-07-16 04:12] bconfiden2 commented on #34903
M65 ~ M70 까지 하고 싶습니다!!

[2022-07-16 04:19] jihoon-seo commented on #34903
@bconfiden2 지속적인 관심 감사합니다!

M1 ~ M10 : @jka236
M11 ~ M20 : @KimDoubleB
M65 ~ M70 : @bconfiden2
M105 ~ M117 : @bconfiden2
M118 ~ M125 : @Veryfirstmoment

[2022-07-16 07:47] NitishKumar06 commented on #35063
@anubha-v-ardhan Would you like to add something to this issue?

[2022-07-16 08:46] fenggw-fnst commented on #35043
Close this issue since it has been fixed by #35013.

[2022-07-16 08:46] #35043 closed

[2022-07-16 13:29] akankshakumari393 commented on #35031
hey I would like work on this. Could you provide some more details on what needs to be done?

[2022-07-16 14:29] kbhawkey commented on #34829
/triage accepted

[2022-07-16 14:46] #34573 closed

[2022-07-16 14:46] #34708 closed

[2022-07-16 14:46] #34709 closed

[2022-07-16 14:46] #34767 closed

[2022-07-16 15:04] #31741 closed

[2022-07-16 17:23] akankshakumari393 commented on #34275
I have this PR #35083 raised. I hope that helps.

[2022-07-16 21:16] sftim commented on #35031
@akankshakumari393: it's not clear who (which person, or which group) your request was aimed at.

If you've read https://github.com/kubernetes/website/issues/35031#issue-1305395977 and you have questions, maybe you can list some of the questions that you're now pondering?

[2022-07-17 00:03] achuopatrick opened #35087 "Advice on using OpenSearch with Kubernetes"
Guys,

I just installed OpenSearch on kubernetes and my pods are stuck in pending.

[code]

when I use the describe command and I see another error message

[code]

Can anybody help ?

[2022-07-17 00:30] huesla commented on #34978
@zacho314 You are correct and I have to admit that I misunderstood the german translation.
Personally I find the english description clearer as it is more concise: "the image is pulled only if it is not already present locally.

In german this would equal to:
"Das Image wird nur heruntergeladen wenn es noch nicht lokal verfügbar ist."

I don't mind you not taking any action here, since there is no

[2022-07-17 02:49] fake-name commented on #32832
This is an inaccurate summary.

A more accurate summary would be "A large subset of privacy-focused tools regard one of your dependencies as functionally indistinguishable from creepy ad tracker".

You can argue with the characterization, but the fact is multiple independent tools have apparentlt started blocking `trackjs.com` due to privacy concerns. **This is an indisputable fact**.

[2022-07-17 03:24] jinnypark9393 opened #35090 "[ko]Translate tasks/debug/debug-cluster/crictl into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate "tasks/debug/debug-cluster/crictl" into Korean.

**Why is this needed**

Not translated into Korean yet.

**Comments**

https://kubernetes.io/docs/tasks/debug/debug-cluster/crictl/

[2022-07-17 03:24] jinnypark9393 commented on #35090
/language ko
/assign

[2022-07-17 04:40] jihoon-seo commented on #35090
/triage accepted

[2022-07-17 06:12] rollony opened #35092 "[ko]Translate tasks/extend-kubernetes/configure-multiple-schedulers into Korean"
**This is a Feature Request**

**What would you like to be added**

**Why is this needed**

**Comments**

https://kubernetes.io/docs/tasks/extend-kubernetes/configure-multiple-schedulers/

/language ko
/assign

[2022-07-17 06:52] bconfiden2 opened #35093 "Problems caused by the same weight values of some pages"
**This is a Bug Report**

**Problem:**
Some pages at the same width have the same weight in their ```_index.md```.

Originally, the pages have to be sorted based on weights even when localizing the documents.

However, for some pages with the same weight at the same level, they are sorted in the order of the strings of the translated titles, which makes them out of order with the English documents

[2022-07-17 07:39] akankshakumari393 commented on #35031
Cool thanks, I will check and let you know on this.

[2022-07-17 08:59] taniaduggal commented on #34553
Hyy @pacoxu .I want to work on this issue, Could you elaborate please?

[2022-07-17 09:01] taniaduggal commented on #34553
/assign

[2022-07-17 10:10] akankshakumari393 commented on #35031
/assign

[2022-07-17 10:26] ydFu commented on #34733
/open

[2022-07-17 10:29] ydFu commented on #34733
/reopen

This issue is still in progress.

[2022-07-17 11:31] sftim commented on #31585
We should have updated the page to state when the removal _is_ due, or to remove the commitment if we're no longer sure.

[2022-07-17 11:35] sftim commented on #30911
/retitle Seccomp tutorial demonstrates on local test cluster (and not real nodes)

I don't think there's anything to fix here. Using a test cluster (such as minikube or kind) for tutorials and task illustrations is standard across Kubernetes docs. If folks want advice on doing things in production - and _especially_ for security - most of our docs would do well to make it clear that these steps ar

[2022-07-17 11:57] sftim commented on #35093
Given how much this is a problem for localizations, we could (should?) add a CI test to warn when two pages have an equal weight in a section - that'd be a way to stop the problem returning.

I presume that pages with no weight declared are also a problem for the same reason.

[2022-07-17 11:59] sftim commented on #35087
/retitle Advice on using OpenSearch with Kubernetes

[2022-07-17 11:59] sftim commented on #35087
/kind support

[2022-07-17 12:02] sftim commented on #35054
@SaintMichae64, which part of https://kubernetes.io/docs/tasks/access-application-cluster/list-all-running-container-images/ has a placeholder where you expected to see an example value?

Can you quote the command block that you're discussing?

/triage needs-information
/language en

[2022-07-17 12:13] sftim commented on #35016
/lifecycle frozen

We should definitely do this.

[2022-07-17 12:22] bconfiden2 commented on #35093
Thank you for comment @sftim, and add as a CI test seems good idea!

But before adding, wouldn't it be better to check it once and make changes, and then add this task to a CI test?  :smiley:

As you commented, there were some pages that had no weights, too!

[2022-07-17 12:23] akankshakumari393 commented on #34275
/assign

[2022-07-17 12:47] tshaiman commented on #30911
after revising this , i tend to agree .

On Sun, 17 Jul 2022 at 14:35 Tim Bannister ***@***.***> wrote:

--
Sent from Gmail Mobile

[2022-07-17 13:08] sftim opened #35101 "RBAC guide mentions obsolete authz bypass via insecure port"
**This is a Bug Report**

**Problem:**
[Using RBAC Authorization](https://kubernetes.io/docs/reference/access-authn-authz/rbac/#restrictions-on-role-creation-or-update) states:

However, there is no such option in current Kubernetes. At least, I couldn't see it. As far as I can tell, the mechanisms that would work are:
- to perform the bootstrap when authenticated as a member of `system:masters`.

[2022-07-17 13:21] sftim commented on #35093
I'm OK with either order. Folks can work on the CI test first, or the manual fix first. We'll only really get value if we do both of those things (otherwise, we'll tend to find that we return to a state where page weights overlap).

Another fix might be to sort localized pages with overlapping weight based on the collation order of the English equivalent page. That does _not_ sound easy, mind!

[2022-07-17 14:30] bart2001 commented on #34903
안녕하세요! 마침 M100 주제를 스터디 중이라 시작하는 단계로 M100을 해보고 싶습니다.
horizontal-pod-autoscale.

[2022-07-17 15:01] pnpatel opened #35102 "Network Policies"
Hello  K8s Team,

I have noticed some indentation for network policy is incorrect in kubernetes io documentation.

https://kubernetes.io/docs/concepts/services-networking/network-policies/

section : The NetworkPolicy resource
[code]
(https://raw.githubusercontent.com/kubernetes/website/main/content/en/examples/service/networking/networkpolicy.yaml)

--------------------------------------
from ing

[2022-07-17 15:04] dhanraj3222 commented on #35101
/assign

[2022-07-17 15:07] bart2001 opened #35103 "[ko] Update outdated file: `tasks/run-application/horizontal-pod-autoscale/`"
**This is a Feature Request**

Update `tasks/run-application/horizontal-pod-autoscale/ ` in Korean

**What would you like to be added**

**Why is this needed**
Mentioned in [Outdated Korean contents in the dev-1.24-ko.2 M100](https://github.com/kubernetes/website/issues/34903)

**Comments**

https://kubernetes.io/ko/docs/tasks/run-application/horizontal-pod-autoscale/

[2022-07-17 15:10] bart2001 commented on #35103
/language ko
/assign

[2022-07-17 16:37] seokho-son commented on #34903
@bart2001 감사합니다!! :)

/assign @bart2001

- [ ] M1 ~ M10 : @jka236
- [ ] M11 ~ M20 : @KimDoubleB
- [ ] M65 ~ M70 : @bconfiden2
- [ ] M100 : @bart2001
- [ ] M105 ~ M117 : @bconfiden2
- [ ] M118 ~ M125 : @Veryfirstmoment

[2022-07-17 16:38] seokho-son commented on #35103
/triage accepted

Thanks @bart2001 !

[2022-07-17 17:16] akankshakumari393 commented on #35102
Hi @pnpatel, I compared the YAML content for network policy with an online YAML formatter and the indentation seems to be correct. Let me know If I am missing something.

[2022-07-17 20:14] pnpatel commented on #35102
Hi Kubernetes/Website,

Please see attached screenshot...not the github but need to see in document
please see attached screenshot. just look ingress section in document

ex...document shows

ingress:
    - from:
        - ipBlock:
            cidr: 172.17.0.0/16
            except:
              - 172.17.1.0/24
        - namespaceSelector:
            matchLabels:
              project: myproject

[2022-07-17 20:17] #31755 closed

[2022-07-17 20:17] #31779 closed

[2022-07-17 20:42] vaibhav2107 commented on #23915
/remove-lifecycle stale

[2022-07-17 23:17] bconfiden2 commented on #35093
Neither do I think it's not easy to change the weights according to each Localizations.
That's why I opened an issue for English documentation!!

Would it be better to open a PR first(with personally modified wieghts) and then get a review,
or would it be better to agree on the appropriate weights here first??

[2022-07-17 23:42] aceeric commented on #34944
Thank you @utkarsh-singh1. I didn't ask the question very well initially. Here's a second attempt: It seems logical to me that the value of `subnet` in `10-containerd-net.conflist` should match the `podCIDR` value in the `kubelet-config.yaml'. E.g.:
[code]
And:
[code]
Although it seems redundant. And per this documentation: https://kubernetes.io/docs/reference/config-api/kubelet-config.v1beta1 -

[2022-07-18 00:19] jihoon-seo commented on #35092
@rollony 감사합니다!
/triage accepted

[2022-07-18 00:22] jinnypark9393 commented on #34903
안녕하세요 😄  M21 ~ M26까지 제가 진행해봐도 될까요?

[2022-07-18 00:35] jihoon-seo commented on #34903
@jinnypark9393 감사합니다!! 😊
/assign @jinnypark9393

* [ ]  M1 ~ M10 : @jka236
* [ ]  M11 ~ M20 : @KimDoubleB
* [ ] M21 ~ M26 : @jinnypark9393
* [ ]  M65 ~ M70 : @bconfiden2
* [ ]  M100 : @bart2001
* [ ]  M105 ~ M117 : @bconfiden2
* [ ]  M118 ~ M125 : @Veryfirstmoment

[2022-07-18 01:12] Abirdcfly commented on #33477
task 14 shuold be updated by https://github.com/kubernetes/website/pull/34400
so, this issue can be close now.
/close

[2022-07-18 01:12] #33477 closed

[2022-07-18 01:27] DanielViniciusAlves commented on #13939
Hi. I'm working in the [Access Cluster](https://kubernetes.io/docs/tasks/access-application-cluster/access-cluster/) translation, and already assigned myself in the spreadsheet.

[2022-07-18 02:20] DonatoHorn commented on #13939
Hi, nice to meet you, are you @jailton, that is assigned on the spreadsheet?
It's assigned
https://kubernetes.io/docs/tasks/access-application-cluster/access-cluster/,
but I translated https://kubernetes.io/docs/tasks/configure-pod-container/*.
Are our tasks in conflict?
I'm so sorry.

Em dom., 17 de jul. de 2022 às 22:27, DanielViniciusAlves <
***@***.***> escreveu:

[2022-07-18 03:14] sarazqy commented on #34192
https://github.com/kubernetes/website/pull/34717 fixes

[2022-07-18 03:14] #34192 closed

[2022-07-18 03:45] habibrosyad commented on #24382
/remove-lifecycle stale

[2022-07-18 04:13] shurup commented on #34626
I'm using the same version of Firefox (102.0) on Ubuntu Linux, so the version is `102.0+build2-0ubuntu0.18.04.1` (installed from `bionic-updates/main`), to be precise. Everything is okay for me in [this tutorial](https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/).

![image](https://user-images.githubusercontent.com/1560718/179444297-99d9874c-90c7-4074-bf25-

[2022-07-18 04:24] shurup commented on #34289
Hi! How this case will actually happen? Both of my browsers (Chrome and Firefox) don't allow me to make the window's width less than 450px for this page, so the overlapping never happens.

[2022-07-18 05:31] utkarsh-singh1 commented on #35102
Hi @pnpatel, you can check the original YAML file and the one you are mentioning here on the YAML checker as they both are correct, it's not weird but to provide better readability of scope of ingress.

[2022-07-18 05:33] akankshakumari393 commented on #35102
1. I do not see any attached screenshot. Could you please re-share it.
2. Do you mean the ingress section should be
[code]

and not
[code]

I still think the indentation is correct in the document.

[2022-07-18 07:17] #31784 closed

[2022-07-18 08:17] #31772 closed

[2022-07-18 10:17] RA489 commented on #35059
/triage accepted

[2022-07-18 10:31] dhs-rec commented on #34275
Sorry, didn't see this earlier. However, looks like @akankshakumari393 already did exactly this in #35083.

[2022-07-18 11:25] onestone9900 opened #35127 "[ko]Translate website/content/en/blog/_posts/2022-05-13-grpc-probes-in-beta.md into Korean"
**This is a Feature Request**

**What would you like to be added**
Translate website/content/en/blog/_posts/2022-05-13-grpc-probes-in-beta.md into Korean

**Why is this needed**
Not translated into Korean yet.

**Comments**
https://github.com/kubernetes/website/blob/main/content/en/blog/_posts/2022-05-13-grpc-probes-in-beta.md

[2022-07-18 11:28] onestone9900 commented on #35127
/language ko
/assign

[2022-07-18 18:33] utkarsh-singh1 commented on #35102
Hi @pnpatel can you please send the whole yaml file in code format, it will help in understanding it better.

[2022-07-18 18:35] utkarsh-singh1 commented on #35102
And try to paste the yaml file in code editor ,vi may have its own configuration of tab spaces.

[2022-07-19 02:49] angelu721 opened #35150 "Assigning Pods to Nodes"
in part of node-affinity, the example yaml file specific following condition:

      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: kubernetes.io/os
            operator: In
            values:
            - linux
BUT, in part of describe area, it seems unmatched:

_**The node must have a label with the key topology.kubernete

[2022-07-19 04:11] big-omega opened #35152 "[zh-cn] suggest to modify some text in configure-liveness-readiness-startup-probes.md"
中的 ”两者都可以确保“ 应该翻译为 ”两者共同使用，可以确保“，否则会引起歧义。

[2022-07-19 04:29] KrashLeviathan opened #35154 "Call out that image pull Secrets must be of appropriate type"
In the [Specifying imagePullSecrets on a Pod](https://kubernetes.io/docs/concepts/containers/images/#specifying-imagepullsecrets-on-a-pod) section, it could be really helpful to add a callout note that the secret MUST be of `type: kubernetes.io/dockerconfigjson`. I spent hours trying to debug image pull issues because my image pull secret was of the default secret type (Opaque) instead of `kuberne

[2022-07-19 05:12] debdeepsanyal commented on #30571
hey @anubha-v-ardhan i'm just a newbie and im searching for some projects to gain experience and i came across this certain one and seems like there aren't enough contributors here, is there anything i can do to help as someone who's just starting out?

[2022-07-19 05:49] Rishit-dagli commented on #35150
This issue is a duplicate of #34573

[2022-07-19 05:58] jihoon-seo commented on #35152
Page: https://kubernetes.io/zh-cn/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/
/language zh

[2022-07-19 06:09] jihoon-seo commented on #35150
/triage duplicate

It seems that this is already resolved by the PR #34785.
It is likely that you are viewing somehow old version of this page, or certain localized page which is probably outdated.

Page: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#node-affinity

[As-is]
![image](https://user-images.githubusercontent.com/46767780/179677082-49aa48a7-d25a-4190-8b09-5943e

[2022-07-19 06:12] jihoon-seo commented on #35127
Page: https://kubernetes.io/blog/2022/05/13/grpc-probes-now-in-beta/
/triage accepted

[2022-07-19 06:34] #31671 closed

[2022-07-19 07:06] SamarthMayya opened #35156 "Ambiguity in minimum number of nodes to maintain redundancy"
The [documentation](https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro/), in my opinion needs a better explanation as to why 3 nodes would eliminate redundancy. If I'm not wrong, redundancy refers to data of one node being present in at least one more node right? Then why is it necessary to have a third node?

[2022-07-19 07:08] RA489 commented on #35156
@SamarthMayya It might be due to maintaining quorum odd number of nodes are required.

[2022-07-19 07:09] RA489 commented on #35156
It will have fault tolerance of 1 node in case of network separation/partition.

[2022-07-19 07:11] RA489 commented on #34914
@kadtendulkar feel free to raise PR for it.

[2022-07-19 07:19] RA489 commented on #34829
https://github.com/kubernetes/website/issues/34829

[2022-07-19 07:23] RA489 commented on #34030
@Contentways looks like you need to pass this parameter via the config file specified by the Kubelet's --config flag

[2022-07-19 07:25] RA489 commented on #34871
/triage accepted

[2022-07-19 07:28] RA489 commented on #34611
/triage accepted

[2022-07-19 07:29] RA489 commented on #34476
/sig windows
/sig cluster-lifecycle

[2022-07-19 07:34] SamarthMayya commented on #35156
You mean it would be okay to let go of one node in case a network partition happens between the control plane and the node?

[2022-07-19 08:16] sftim commented on #35156
With a two-host cluster, a single node failure leaves the cluster with one healthy node that cannot form a [voting quorum](https://en.wikipedia.org/wiki/Quorum_(distributed_computing)). Essentially, two nodes costs twice as much as one node but provides no extra resilience to node-level failure.

For the distributed fault tolerance model that Kubernetes uses, you need three.

Why does the introduc

[2022-07-19 08:17] RA489 commented on #35156
In case of network partition in case of 3 nodes if one node is not available for somewhat reasons the cluster will function because it has fault tolerance of 1 node.

[2022-07-19 08:19] sftim commented on #35154
/triage accepted
with the proviso that the PR will need tech review: I haven't looked at the code to check the list of Secret types that are acceptable.

[2022-07-19 08:25] #34984 closed

[2022-07-19 08:54] Rishit-dagli commented on #35154
/assign

[2022-07-19 09:08] sarazqy opened #35158 "misssing Chinese translation docs: content/en/blog/_posts/2022-04-28-Increasing-the-security-bar-in-Ingress-NGINX/"
This is a Feature Report

Problem:
misssing Chinese translation docs: content/en/blog/_posts/2022-04-28-Increasing-the-security-bar-in-Ingress-NGINX

Proposed Solution:
add Chinese translation docs in website Kubernetes Blog

Comments
/language zh
/assign

[2022-07-19 09:16] sarazqy opened #35159 "misssing Chinese translation docs: content/en/blog/_posts/2022-04-29-kubernetes-1.23-release-interview.md"
This is a Feature Report

Problem:
misssing Chinese translation docs: content/en/blog/_posts/2022-04-29-kubernetes-1.23-release-interview.md
Proposed Solution:
add Chinese translation docs in website Kubernetes Blog

Comments
/language zh
/assign

[2022-07-19 09:20] zhangxyjlu commented on #35159
/triage accepted

[2022-07-19 09:29] sarazqy opened #35161 "misssing Chinese translation docs: content/en/blog/_posts/2022-05-25-contextual-logging"
This is a Feature Report

Problem:
misssing Chinese translation docs: content/en/blog/_posts/2022-05-25-contextual-logging
Proposed Solution:
add Chinese translation docs in website Kubernetes Blog

Comments
/language zh
/assign

[2022-07-19 09:47] #35150 closed

[2022-07-19 11:46] Shubham82 commented on #35154
Hi
These are the types of secrets that are supported https://kubernetes.io/docs/concepts/configuration/secret/#secret-types
And we use `kubernetes.io/dockercfg` and `kubernetes.io/dockerconfigjson` as a type for  [Docker config Secrets](https://kubernetes.io/docs/concepts/configuration/secret/#docker-config-secrets).

I hope this will be helpful for the PR.

[2022-07-19 11:49] bconfiden2 commented on #34903
- M101 ~ M104 &nbsp; / &nbsp; R1 ~ R3

진행하고 싶습니다!!

[2022-07-19 13:16] ridavid2002 commented on #33032
/close

[2022-07-19 14:17] jihoon-seo commented on #34903
@bconfiden2 @yuzin9712 감사합니다!! 😊
/assign @yuzin9712

* [ ]  M1 ~ M10 : @jka236
* [ ]  M11 ~ M20 : @KimDoubleB
* [ ] M21 ~ M26 : @jinnypark9393
* [ ] M31 ~ M35 : @yuzin9712
* [ ]  M54 ~ M70 : @bconfiden2
* [ ]  M100 : @bart2001
* [ ]  M101 ~ M117 : @bconfiden2
* [ ]  M118 ~ M125 : @Veryfirstmoment
* [ ] R1 ~ R3 : @bconfiden2

[2022-07-19 15:00] kgibm opened #35170 "Clarify documented privileges of kubectl debug node"
**This is a Bug Report**

**Problem:**

The following page writes: https://kubernetes.io/docs/tasks/debug/debug-application/debug-running-pod/#node-shell-session

As discussed in issue #34879, the use of "privileged" in the phrase "create a privileged Pod" is not standard usage and causes confusion because the pod is not created with the privileged flag (as [`oc debug node` does](https://github.co

[2022-07-19 15:01] kgibm commented on #34879
Opened https://github.com/kubernetes/website/issues/35170. Closing this issue.

[2022-07-19 15:01] #34879 closed

[2022-07-19 15:46] tengqm commented on #34733
/reopen

[2022-07-19 16:32] NitishKumar06 commented on #35170
/assign

[2022-07-19 17:00] NitishKumar06 commented on #34871
Perfect @sftim , I'll commit the changes as required !

[2022-07-19 17:57] sftim commented on #35170
/sig cli
/language en
/triage accepted
/remove-kind bug
/priority backlog

[2022-07-19 17:59] sftim commented on #26910
RKE is an external tool (not part of Kubernetes), and we have not staffed this ticket in over 12 months. We could update the tools page to link to the CNCF landscape instead.

/priority awaiting-more-evidence

[2022-07-19 18:21] fernandes-natanael commented on #13939
Hi guys, I'm worked in the translation of `/docs/setup/production-environment/container-runtimes.md` with @lorranyoliveira.

Here is the [PR](https://github.com/kubernetes/website/pull/35178).

[2022-07-19 19:29] ejensen-mural commented on #33033
/remove-lifecycle stale

[2022-07-19 22:05] jihoon-seo commented on #35161
English page: https://kubernetes.io/blog/2022/05/25/contextual-logging/

[2022-07-19 22:06] jihoon-seo commented on #35159
English page: https://kubernetes.io/blog/2022/04/29/frontiers-fsgroups-and-frogs-the-kubernetes-1.23-release-interview/

[2022-07-19 22:06] jihoon-seo commented on #35158
English page: https://kubernetes.io/blog/2022/04/28/ingress-nginx-1-2-0/

[2022-07-20 00:22] tengqm commented on #35158
/triage accepted

[2022-07-20 00:23] tengqm commented on #35161
/triage accepted

[2022-07-20 04:03] NayeonKeum opened #35184 "[ko]Translate website/docs/concepts/storage/windows-storage/ into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate "website/docs/concepts/storage/windows-storage/" into Korean

- Page: https://kubernetes.io/docs/concepts/storage/windows-storage/
- File: https://github.com/kubernetes/website/blob/main/content/en/docs/concepts/storage/windows-storage.md

**Why is this needed**

It is not translated into Korean yet.
I double-checked tha

[2022-07-20 04:03] NayeonKeum commented on #35184
/language ko
/assgin

[2022-07-20 04:05] NayeonKeum commented on #35184
/language ko
/assign

[2022-07-20 05:32] pacoxu commented on #34553
Yes. This page is out of date.

We should update according to this readme.

The aim is to make https://kubernetes.io/docs/setup/best-practices/node-conformance/ a correct guide for users to run conformance test for current releases(v1.21~v1.25)

[2022-07-20 05:48] Kartik494 commented on #35087
Hi @achuopatrick i would like to give a try for this . Could you provide which tutorial you are using for this and manifests file for the same?

[2022-07-20 06:43] seokho-son commented on #34903
M27 ~ M30 : 는 제가 처리하겠습니다. :)

/assign @seokho-son

* [ ]  M1 ~ M10 : @jka236
* [ ]  M11 ~ M20 : @KimDoubleB
* [ ] M21 ~ M26 : @jinnypark9393
* [ ] M27 ~ M30 : @seokho-son
* [ ] M31 ~ M35 : @yuzin9712
* [ ]  M54 ~ M70 : @bconfiden2
* [ ]  M100 : @bart2001
* [ ]  M101 ~ M117 : @bconfiden2
* [ ]  M118 ~ M125 : @Veryfirstmoment
* [ ] R1 ~ R3 : @bconfiden2

[2022-07-20 06:45] divya-mohan0209 commented on #27333
/remove-lifecycle stale

[2022-07-20 06:46] seokho-son commented on #34903
@jihoon-seo 님~~ 관련 내용에 대한 업데이트를 부탁드려도 될까요? ^^
다른 분이 추적 및 이해하고 작업하시는 것보다 더 빠르게 처리하실 수 있을 것 같아서요!
(PR 올려주시면 제가 빠르게 리뷰하겠습니닷!ㅎㅎ)

[2022-07-20 06:49] seokho-son commented on #35184
/triage accepted

[2022-07-20 06:55] RajanikantVerma opened #35185 "In kubelet-api response, --hostname-override is missing"
{cluster-ip}/api/v1/nodes/{worker-node}/proxy/configz

In the above api, --hostname-override parameters is not available, In my current requirement i need this parameter to be available in this api response. May i know by when Kubernetes will able to provide it ?

[2022-07-20 08:29] having-dlrow opened #35188 "[ko]Translate website/docs/tasks/administer-cluster/safely-drain-node into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate reference docs/tasks/administer-cluster/safely-drain-node.md into korean.

**Why is this needed**
There is no document of docs/tasks/administer-cluster/safely-drain-node.md which is translated into korean.

**Comments**

Pages to translate: https://kubernetes.io/docs/tasks/administer-cluster/safely-drain-node/

/language

[2022-07-20 08:33] sftim commented on #35185
Are you asking about an API or a command line parameter @RajanikantVerma ? I see mentions of both API paths and command line arguments and these seem to be mixed together.

At the moment, this question does not make sense. If your overall request is to get help with Kubernetes, this GitHub repo is actually not the right place.

You could ask that question on [Server Fault](https://serverfault.com/

[2022-07-20 09:09] seokho-son commented on #34903
감사합니다. :)

/assign @having-dlrow

* [ ]  M1 ~ M10 : @jka236
* [ ]  M11 ~ M20 : @KimDoubleB
* [ ] M21 ~ M26 : @jinnypark9393
* [ ] M27 ~ M30 : @seokho-son
* [ ] M31 ~ M35 : @yuzin9712
* [ ]  M54 ~ M70 : @bconfiden2
* [ ]  M90 ~ M93 : @having-dlrow
* [ ]  M100 : @bart2001
* [ ]  M101 ~ M117 : @bconfiden2
* [ ]  M118 ~ M125 : @Veryfirstmoment
* [ ] R1 ~ R3 : @bconfiden2

[2022-07-20 09:20] jihoon-seo commented on #34903
@seokho-son 네 좋습니다~~

[2022-07-20 09:36] syxunion opened #35189 "Translate reference/kubernetes-api/service-resources/endpoints-v1.md to chinese"
Hi, I'm interested to translate the "reference/kubernetes-api/service-resources/endpoints-v1/" page.

This is a Feature Request:

translate en/docs/reference/kubernetes-api/service-resources/endpoints-v1.md into Chinese.

What would you like to be added:

zh/docs/reference/kubernetes-api/service-resources/endpoints-v1.md

/language zh
/kind feature

[2022-07-20 09:36] syxunion commented on #35189
/assign

[2022-07-20 10:51] #35185 closed

[2022-07-20 11:35] Shubham82 opened #35190 "Broken hyperlinks for dedicated CA and custom CA"
**This is a Bug Report**

**Problem:**
Following below hyperlinks are not working under [Manage TLS Certificates in a Cluster](https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/) task:
[dedicated CA](https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/#a-note-to-cluster-administrators) and [custom CA](https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/#a-note-to

[2022-07-20 11:37] Shubham82 commented on #35190
Also, the hyperlinks for both dedicated CA and custom CA were added in this PR: https://github.com/kubernetes/website/pull/30347

[2022-07-20 11:38] Shubham82 commented on #35190
/assign
/sig auth

[2022-07-20 11:53] mocha-123 opened #35191 "[ko] Translate tasks/job/indexed-parallel-processing-static into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/job/indexed-parallel-processing-static into Korean.

**Why is this needed**
Not translated into Korean yet.

**Comments**

Page to translate: https://kubernetes.io/docs/tasks/job/indexed-parallel-processing-static/

/language ko
/assign

[2022-07-20 14:52] #35189 closed

[2022-07-20 15:15] amiga23 opened #35199 "Improvement for k8s.io/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods/"
An example would be great. Or at least a link to more details, e.g. https://kubernetes.io/docs/concepts/scheduling-eviction/pod-priority-preemption/

The documentation is splited in tasks and concepts. Search engines mainly lead to tasks section. It would be great if there could be links between these sections. Or even better do not split the documentation.

This is a general issue with the kubern

[2022-07-20 15:42] dewble opened #35200 "[ko]Translate docs/tasks/administer-cluster/limit-storage-consumption into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate ```docs/tasks/administer-cluster/limit-storage-consumption``` into Korean

- Page: https://kubernetes.io/docs/tasks/administer-cluster/limit-storage-consumption/
- File: https://github.com/kubernetes/website/blob/main/content/en/docs/tasks/administer-cluster/limit-storage-consumption.md

**Why is this needed**

Not trans

[2022-07-20 18:08] NitishKumar06 commented on #35199
/assign

[2022-07-20 18:08] NitishKumar06 commented on #35199
Can you elaborate the issue in more detail?

[2022-07-20 18:35] amiga23 commented on #35199
I feel that the documentation is great. Really great. It contains a lot of information and is very detailed.
Just the information is not in one place but in sections.
So if you search for something, in this example for scheduling critical pods than the search engine shows results in the docs/tasks folder. This gives a high level information. But does not tell how to do it. So you have to search de

[2022-07-20 19:13] devtud commented on #34030
What parameter exactly, @RA489  ?

[2022-07-20 19:28] #34030 closed

[2022-07-20 20:25] WESTZERO115 opened #35204 "[ko]Translate concepts/policies/process-id-limits-and-reservations into Korean"
**This is a Feature Request**

**What would you like to be added**
Translated page.

**Why is this needed**
Not translated into Korean.

**Comments**
link : [https://kubernetes.io/docs/concepts/policy/pid-limiting/](https://kubernetes.io/docs/concepts/policy/pid-limiting/)

[2022-07-20 21:07] sftim commented on #33795
I agree. I believe that the right way to address the shortcomings you've seen working out how to build a cluster is to fix that.
In the Kubernetes project we don't really have capacity to document Kubernetes itself as well as we'd like. As a project, we don't have much capacity to go and improve those other products' docs - however, that is what needs to happen somehow.

---

GitHub issues are the

[2022-07-20 21:11] sftim commented on #35199
I agree that more cross references would help. That's a fairly easy task and I'd love to see folks logging small feature request issues that highlight where a cross reference is useful.

[2022-07-20 21:12] sftim commented on #35190
/language en
/triage accepted

Thanks for spotting this

[2022-07-20 22:36] notjames opened #35206 "Column titles wrong for output of "kubectl api-resources""
regarding https://kubernetes.io/docs/reference/kubectl/#resource-types

The table shown uses the column name `apiGroup` while specifically stating that the output of this table is the same as `kubectl api-resources` (as of 1.19). I think it's time to update the document as one thing I found confusing is that the current (1.21 EKS) output for said command shows `apiVersion` in place of `apiGroup` n

[2022-07-20 22:51] sftim opened #35207 "[fr] Releases page in French is blank"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/fr/releases/ is blank for the main page content.

**Proposed Solution:**
Delete https://kubernetes.io/fr/releases/ (fall back to English)

**Page to Update:**
https://kubernetes.io/fr/releases/

Additional Information:
/language fr

[2022-07-20 22:53] sftim commented on #35206
/sig cli

[2022-07-21 00:47] camrossi opened #35210 "Example: Deploying PHP Guestbook application with Redis - Use MultiArch Images"
I am testing the guestbook application on a ARM64 cluster and I noticed not all the images are multi arch.

This combination works for me:
        image: "docker.io/redis:3.2.12"
        image: gcr.io/google-samples/gb-redisslave:v3
        image: gcr.io/google_samples/gb-frontend:v6

But I then had to modify the Services and Deployment to use the old non Bias-Free Language.
It would be great if y

[2022-07-21 03:04] gy-ulbak96 opened #35212 "[ko]Translate tasks/configure-pod-container/configure-liveness-readiness-startup-probes into Korean"
**This is a Feature Request**
<br>
**What would you like to be added**
Translate tasks/configure-pod-container/configure-liveness-readiness-startup-probes into Korean

◾ Page: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/
◾ File: https://github.com/kubernetes/website/blob/main/content/en/docs/tasks/configure-pod-container/configure-liveness-r

[2022-07-21 04:51] marcushyungseoklee opened #35213 "[Ko] Translate /concepts/configuration/windows-resource-management/ in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate /concepts/configuration/windows-resource-management/ in Korean

**Why is this needed**

**Comments**

Pages to Update
https://kubernetes.io/docs/concepts/configuration/windows-resource-management/

[2022-07-21 04:51] marcushyungseoklee commented on #35213
/language ko
/assign

[2022-07-21 05:41] Shubham82 commented on #35190
you're welcome!

[2022-07-21 06:10] verb commented on #35031
@akankshakumari393 you can assign the PR to me when it's ready

[2022-07-21 06:13] mehabhalodiya commented on #33511
Closing this issue as we have addressed it in #35047

/close

[2022-07-21 06:13] #33511 closed

[2022-07-21 06:14] mehabhalodiya commented on #34666
/good-first-issue

[2022-07-21 06:18] Shubham82 commented on #35210
page: https://kubernetes.io/docs/tutorials/stateless-application/guestbook/

[2022-07-21 06:32] Shubham82 commented on #35206
Hi, I checked the command `kubectl api-resources` with kubectl version `v1.24.3`, and it gave the below output which is different than docs.  some new fields were also added such as **nodes** and **pods**.  IMO it should be synced with the latest one.

[code]

[2022-07-21 07:40] seokho-son commented on #35191
/triage accepted

[2022-07-21 07:40] seokho-son commented on #35200
/triage accepted

[2022-07-21 07:41] seokho-son commented on #35212
/triage accepted

[2022-07-21 07:41] seokho-son commented on #35213
/triage accepted

[2022-07-21 10:06] seokho-son commented on #35207
/triage accepted

[2022-07-21 13:21] shurup commented on #33423
@sftim https://jsonpatch.com/ is now operating with no errors (i.e., with a valid SSL certificate), so this issue can be closed.

[2022-07-21 13:25] shurup commented on #33247
It seems we can close this issue(?) since still no details are provided.

[2022-07-21 13:50] bishal7679 commented on #35207
@sftim It have to be deleted https://kubernetes.io/fr/releases/
and what do you mean by fall back to english? Could you please elaborate?

[2022-07-21 13:58] #29724 closed

[2022-07-21 14:26] shurup commented on #35207
I guess falling back means the menu link of the French website should lead to `/releases/` (i.e. its English version) instead of `/fr/releases/` since there is no content in the French version.

However, I don't understand what is the source of this URL (`/fr/releases/`). The `navbar-version-selector.html` partial seems to be incorrect as it **always** links to the `/releases/` page (despite the w

[2022-07-21 15:59] #27521 closed

[2022-07-21 16:12] KimDoubleB opened #35223 "[ko] Translate `docs/tasks/administer-cluster/use-cascading-deletion` to Korean"
**This is a Feature Request**

**What would you like to be added**

Translate `docs/tasks/administer-cluster/use-cascading-deletion` to Korean

- Page: https://kubernetes.io/docs/tasks/administer-cluster/use-cascading-deletion/

**Why is this needed**

Not translated yet

**Comments**

/language ko
/assign

[2022-07-21 16:23] kadtendulkar commented on #35059
/close

[2022-07-21 16:24] #35059 closed

[2022-07-21 16:33] kadtendulkar opened #35224 "Broken link on Access Clusters Using the Kubernetes API page."
**Problem**:
The text [**example**](https://github.com/kubernetes-client/java/blob/master/examples/src/main/java/io/kubernetes/client/examples/KubeConfigFileClientExample.java) mentioned under the section [Java client](https://kubernetes.io/docs/tasks/administer-cluster/access-cluster-api/#java-client) on [link](https://kubernetes.io/docs/tasks/administer-cluster/access-cluster-api/) is not pointi

[2022-07-21 17:23] NitishKumar06 commented on #35199
@amiga23 Any idea on how to go further on resolving this issue? Where should the text changes be applied/modified?

[2022-07-21 20:57] jinnypark9393 commented on #34903
안녕하세요 😄 아래 문서도 작업해보려 합니다.
- M36 ~ M39

[2022-07-21 21:46] jihoon-seo commented on #34903
@jinnypark9393 감사합니다! 🐳

[2022-07-21 23:59] #31824 closed

[2022-07-22 00:57] jihoon-seo commented on #34073
Resolved by #34414.
/close

[2022-07-22 00:57] #34073 closed

[2022-07-22 00:59] jihoon-seo commented on #34433
Resolved by #34414.
/close

[2022-07-22 00:59] #34433 closed

[2022-07-22 01:26] utkarsh-singh1 commented on #34867
Hi @jrsmroz, You can find about detailed description of components of networkpolicy.yaml here in https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.24/#networkpolicy-v1-networking-k8s-io.

[2022-07-22 02:03] jihoon-seo commented on #35223
/triage accepted

[2022-07-22 02:25] jihoon-seo commented on #30364
@yoonian 님~~
https://github.com/kubernetes/website/issues/34903#issuecomment-1189893230 에 따라
제가 작업하겠습니다~~ 😊
/assign

[2022-07-22 03:43] RA489 commented on #35224
/triage accepted

[2022-07-22 03:43] #34115 closed

[2022-07-22 09:03] utkarsh-singh1 commented on #34867
Hi @jrsmroz, this link - https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.24/#networkpolicy-v1-networking-k8s-io is mentioned just below the https://kubernetes.io/docs/concepts/services-networking/network-policies/#networkpolicy-resource.

Here

[2022-07-22 11:19] Kid-Chang opened #35239 "[ko] Translate `docs/tasks/administer-cluster/cluster-upgrade` to Korean"
**This is a Feature Request**

**What Would you like to be added**
Translate docs/tasks/administer-cluster/cluster-upgrade to Korean

**Why is this needed**
Not translated yet

**page**
https://kubernetes.io/docs/tasks/administer-cluster/cluster-upgrade/

/language ko
/assign

[2022-07-22 11:45] sftim opened #35242 "Add task for server-side apply"
**This is a Feature Request**

**What would you like to be added**
Add a companion page to [Update API Objects in Place Using kubectl patch](https://kubernetes.io/docs/tasks/manage-kubernetes-objects/update-api-object-kubectl-patch/) that explains how to achieve a similar outcome through [Server-Side Apply](https://kubernetes.io/docs/reference/using-api/server-side-apply/).

Also update some pages

[2022-07-22 11:47] sftim commented on #33247
/close

[2022-07-22 11:48] #33247 closed

[2022-07-22 14:24] sftim commented on #35210
To be honest, it might be easier to list AMD64 architecture as a pre-requisite.

[2022-07-22 14:25] sftim commented on #34317
/retitle HorizontalPodAutoscaler walkthrough page recommends unnecessary container image build
/kind bug
/language en
/triage accepted

Thanks for reporting this.

[2022-07-22 14:55] jrsmroz commented on #34867
Ah, I've missed it when I was reading the document.

[2022-07-22 15:30] bishal7679 opened #35250 "[hi] Localize `content/en/docs/reference/scheduling/config.md` to Hindi"
**This is a Feature Request**

**What would you like to be added**
- We need to localize [content/en/docs/reference/scheduling/config.md](https://github.com/kubernetes/website/edit/main/content/en/docs/reference/scheduling/config.md) to Hindi (content/hi/docs/reference/scheduling/config.md)

**Why is this needed**
This page has not translated in hindi yet

**Comments**
/language hi
/good-first-iss

[2022-07-22 15:32] bishal7679 commented on #35250
/remove-good-first-issue

[2022-07-22 15:48] hhv opened #35251 "Improvement for k8s.io/docs/concepts/overview/"
How about "consists of a control plane and a set of machines called nodes"? Learning k8s is hard enough without obfuscating verbosity. For non-managers it's best to say it as it is ;-).

Apart from that: "consists of the components that represent the control plane" suggests that there are components that *represent* a control pane, not *are* a control pane, and a set of nodes. So where is the cont

[2022-07-22 17:16] sftim commented on #35251
We could update the source of https://kubernetes.io/docs/concepts/overview/components/ to make that change.
Nice suggestion.

https://kubernetes.io/docs/concepts/overview/ is automatically generated. For a bigger improvement, we could move https://kubernetes.io/docs/concepts/overview/what-is-kubernetes/ to https://kubernetes.io/docs/concepts/overview/ and configure a redirect.

/language en

[2022-07-22 17:19] sftim commented on #35251
/triage accepted
/help

If someone is planning to move this forward:
- move https://kubernetes.io/docs/concepts/overview/what-is-kubernetes/ to https://kubernetes.io/docs/concepts/overview/
- configure a redirect from the old URL to the new URL (see `static/_redirects`)
- make sure that the updated https://kubernetes.io/docs/concepts/overview/ ends how you'd expect. It's likely that setting `no_li

[2022-07-22 17:19] sftim commented on #35251
Feel free to reply with questions.

[2022-07-22 17:21] #35190 closed

[2022-07-22 17:27] sftim commented on #35210
/retitle Update “Example: Deploying PHP Guestbook application with Redis” to use MultiArch images

[2022-07-22 17:27] sftim commented on #34820
/close
Information still missing.

[2022-07-22 17:27] #34820 closed

[2022-07-22 17:28] camrossi commented on #35210
Is not just Redis also front end was using the wrong tag and not working on
ARM

On Sat, 23 Jul 2022 at 03:27, Tim Bannister ***@***.***>
wrote:

[2022-07-22 17:28] sftim commented on #35026
/retitle Unclear text in “Fine Parallel Processing Using a Work Queue” task
/sig apps
/language en

[2022-07-22 17:29] sftim commented on #35026
/triage accepted
/priority backlog

[2022-07-22 19:49] Yashsharma1911 commented on #35250
Hi @bishal7679 can I work on this issues

[2022-07-22 19:50] Yashsharma1911 commented on #35250
Hi @bishal7679 can I work on this issue

[2022-07-22 23:33] cpboyd commented on #33929
@sftim Yes, that should work

[2022-07-23 01:29] jihoon-seo commented on #35239
감사합니다!
/triage accepted

[2022-07-23 01:35] jihoon-seo opened #35258 "[ko] Translate the glossary term 'Ephemeral Container' into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate the glossary term 'Ephemeral Container' into Korean
- link to `en` entry: https://kubernetes.io/docs/reference/glossary/?fundamental=true#term-ephemeral-container
- link to `ko` entry: https://kubernetes.io/ko/docs/reference/glossary/?fundamental=true#term-ephemeral-container

**Why is this needed**
Not translated yet

*

[2022-07-23 02:57] kyungjin99 opened #35259 "[ko] Translate untranslated glossary terms and description of each tag into Korean"
**This is a Feature Request**

**What would you like to be added**
Translate untranslated glossary terms and description of each tag into Korean.

link to `en` entry: https://kubernetes.io/docs/reference/glossary/?all=true
link to `ko` entry: https://kubernetes.io/ko/docs/reference/glossary/?all=true

**Why is this needed**
It has not been translated into Korean yet.

**Comments**

/language ko
/a

[2022-07-23 05:56] RA489 commented on #35258
/triage accepted

[2022-07-23 06:22] debdeepsanyal commented on #35207
/assign

[2022-07-23 06:45] windsonsea opened #35267 "[zh-cn] localize `/blog/_posts/2022-07-13-gateway-api-in-beta.md`"
**This is a Feature Request**

Will handle the localization of this topic. Open an issue to avoid a duplicated job that may occur, thanks.

[2022-07-23 06:58] debdeepsanyal commented on #34666
@Rishit-dagli have you completely solved this issue?

[2022-07-23 07:09] debdeepsanyal commented on #30745
/ assign

[2022-07-23 07:10] debdeepsanyal commented on #30745
@sftim hey can you please elaborate what exactly is vendor specific information so that i can edit it out of the documentation?

[2022-07-23 07:43] tengqm commented on #35267
/triage accepted

[2022-07-23 07:58] mehabhalodiya commented on #34666
@debdeepsanyal Yes, the pointers mentioned in the issue description have been addressed in the linked PR above.
Kindly pick up another `good first issue`. Thanks for showing your interest 🙂

[2022-07-23 09:02] iamNoah1 commented on #14137
@mkorbi @sftim correct me if I am wrong, but this does not look up to date for me. My suggestion is to either close this one or update it as it might be misleading. Especially for new contributors, it might increase the burden to get involved.

[2022-07-23 09:59] mehabhalodiya commented on #35242
/sig api-machinery
/triage accepted

[2022-07-23 11:18] #31791 closed

[2022-07-23 12:59] seokho-son commented on #35259
Hi @kyungjin99
Thank you for rising this issue :)
I am sure there are several terms (docs) which are not localized into Korean yet.

- https://github.com/kubernetes/website/tree/main/content/en/docs/reference/glossary
- https://github.com/kubernetes/website/tree/main/content/ko/docs/reference/glossary

I hope to note that this issue can be separated into several specific issues since each term can

[2022-07-23 13:24] kyungjin99 commented on #35259
Hi @seokho-son, thank you for letting me know :)
I am also working on other untranslated pages, so I will open a new issue regarding that.
For glossary terms, I will create a new issue individually next time.
Should I close it with `Close as not planned`?

[2022-07-23 13:34] kyungjin99 opened #35283 "[ko] Translate `docs/tasks/administer-cluster/namespace` into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate `docs/tasks/administer-cluster/namespaces` into Korean.
link: https://kubernetes.io/docs/tasks/administer-cluster/namespaces/

**Why is this needed**
It has not been translated into Korean yet.

**Comments**

/language ko
/assign

[2022-07-23 14:01] seokho-son commented on #35259
@kyungjin99
Maybe we can utilize this issue to accomplish localizing all glossary terms. :)
(in this case, we need to update this issue with actual task list)

or.. close this issue and open individual issues.

to close this issue, you can simply leave `/close` comment. k8s ci bot will close this issue on behalf of you :)

[2022-07-23 14:10] #35259 closed

[2022-07-23 14:19] seokho-son commented on #35283
Thanks ! :)

/triage accepted

[2022-07-23 15:31] Seo-yul opened #35289 "[ko] Translate the docs/tasks/access-application-cluster 'create-external-load-balancer' into Korean"
This is a Feature Request

What would you like to be added
Translate docs/tasks/access-application-cluster/create-external-load-balancer into Korean

◾ Page: https://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/
◾ File: https://github.com/kubernetes/website/blob/main/content/en/docs/tasks/access-application-cluster/create-external-load-balancer.md

Why is this

[2022-07-23 16:03] retif opened #35293 "Issue with k8s.io/docs/tasks/run-application/run-replicated-stateful-application/"
recommended [application/mysql/mysql-statefulset.yaml](https://raw.githubusercontent.com/kubernetes/website/main/content/en/examples/application/mysql/mysql-statefulset.yaml) example contains error:

init container init-mysql fails to run, with the error "hostname command not found". you can see this in init-mysql logs

[2022-07-23 17:36] Rishit-dagli commented on #35251
I would love to takee this
/assign

[2022-07-23 19:21] seokho-son commented on #35289
Thanks!

/triage accepted

[2022-07-23 19:44] NAMU1105 commented on #34903
안녕하세요 🙂

M42 ~ M43 진행해봐도 괜찮을까요?

[2022-07-23 20:02] chalin opened #35299 "Migrate to Google Analytics 4 (GA4)"
This is part of a CNCF-wide effort to upgrade project websites to GA4 since **Google has deprecated Universal Analytics** (UA). For more details, see:

- https://github.com/cncf/techdocs/issues/108, including reference to:
  - A suggested [migration process](https://github.com/cncf/techdocs/blob/main/docs/analytics.md#migrating-to-google-analytics-4),
  which we've used to [migrate a few CNCF proj

[2022-07-23 21:16] seokho-son commented on #34903
@NAMU1105 물론입니다! 환영합니다. :)
/assign @NAMU1105

* [ ]   M1 ~ M10 : @jka236
* [ ]   M11 ~ M20 : @KimDoubleB
* [ ]  M21 ~ M26 : @jinnypark9393
* [ ]  M27 ~ M30 : @seokho-son
* [ ]  M31 ~ M35 : @yuzin9712
* [ ]  M36 ~ M39 : @jinnypark9393
* [ ]  M42 ~ M43 : @NAMU1105
* [ ]   M54 ~ M70 : @bconfiden2
* [ ]   M90 ~ M93 : @having-dlrow
* [ ]   M100 : @bart2001
* [ ]   M101 ~ M104 : @bconfiden2
* [x]   M105

[2022-07-24 03:09] gy-ulbak96 commented on #34903
안녕하세요.

M40 ~ M41 진행해보고 싶습니다 :)

[2022-07-24 03:15] NayeonKeum commented on #34903
안녕하세요! M98 ~ M99 진행해보고 싶습니다.

[2022-07-24 09:31] #31882 closed

[2022-07-24 09:50] dilyanpalauzov opened #35310 "Minimal supported CNI version is 0.4.0, while the documentation provides examples with `"cniVersion": "0.3.0"`"
https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins/ says the minimal supported CNI interface version is 0.4.0 and specification-version 1.0.0 is recommended.  Neverthesless the same webpage contains two examples with `"cniVersion": "0.3.0"`.

[2022-07-24 10:31] #31827 closed

[2022-07-24 11:03] Kartik494 commented on #30912
/remove-lifecycle stale

[2022-07-24 12:17] onestone9900 commented on #34903
안녕하세요! M94 ~ M97 진행해보고 싶습니다.

[2022-07-24 12:23] onestone9900 commented on #34903
==========
현재 남은 작업은 아래와 같습니다.

 M44 ~ M53 (M44, M43, M42, M41, M42, M43, M44, M45, M46, M47, M48, M49, M50, M51, M52, M53)
 M71 ~ M89 (M71, M72, M73, M74, M75, M76, M77, M78, M79, M80, M81, M82, M83, M84, M85, M86, M87, M88, , M89)
 D1
 D2
 D4
 D5
 D6

[2022-07-24 13:58] bishal7679 commented on #35310
/assign

[2022-07-24 16:30] #35267 closed

[2022-07-24 16:55] seokho-son commented on #34903
환영합니다. :)
/assign @gy-ulbak96
/assign @NayeonKeum
/assign @onestone9900

* [ ]   M1 ~ M10 : @jka236
* [ ]   M11 ~ M20 : @KimDoubleB
* [ ]  M21 ~ M26 : @jinnypark9393
* [ ]  M27 ~ M30 : @seokho-son
* [ ]  M31 ~ M35 : @yuzin9712
* [ ]  M36 ~ M39 : @jinnypark9393
* [ ] M40 ~ M41 : @gy-ulbak96
* [ ]  M42 ~ M43 : @NAMU1105
* [ ]  M44 ~ M53 : **Help / Not assigned yet**
* [ ]  M54 ~ M70 : @bconfiden2
*

[2022-07-24 16:56] seokho-son commented on #34903
/assign @gy-ulbak96

[2022-07-24 16:58] seokho-son commented on #34903
(assignment 가 최대 10명으로 되어 있어서, assign은 되지 않지만 신경쓰지마시고 작업 진행해주시면 됩니다.)

[2022-07-24 17:31] #28968 closed

[2022-07-24 17:31] #30629 closed

[2022-07-24 17:51] VikasAgarwal1984 opened #35323 "Adding windows node article missing"
Adding Windows node article is missing from few days now.
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/

Reference:
http://web.archive.org/web/20220530090758/https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/

[2022-07-24 20:01] neolit123 commented on #35323
duplicate of https://github.com/kubernetes/website/issues/34476

[2022-07-24 20:02] neolit123 commented on #35323
/close

[2022-07-24 20:02] #35323 closed

[2022-07-24 21:40] jinnypark9393 commented on #34903
안녕하세요~ M84~M89 진행해보고 싶습니다☺️

[2022-07-24 23:27] jihoon-seo commented on #34903
@jinnypark9393 녭 좋습니다! 🐬

[2022-07-25 00:03] KimDoubleB commented on #34903
M80 - M83 진행해보겠습니다 :)

[2022-07-25 00:35] jihoon-seo commented on #34903
@KimDoubleB 녭 좋습니다! 🦈

[2022-07-25 01:02] jinnypark9393 opened #35329 "[ko] Translate the glossary term 'Add-ons' into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate the glossary term 'Add-ons' into Korean

**Why is this needed**

Not translated into Korean yet.

- link to `en` entry: https://kubernetes.io/docs/reference/glossary/?all=true#term-addons
- link to `ko` entry: https://kubernetes.io/ko/docs/reference/glossary/?all=true#term-addons

**Comments**

[2022-07-25 01:03] jinnypark9393 commented on #35329
/language ko
/assign

[2022-07-25 01:18] RA489 commented on #35329
/triage accepted

[2022-07-25 04:44] #34909 closed

[2022-07-25 05:35] Rishit-dagli opened #35332 "A `.devcontainer` for kubernetes/website"
**This is a Feature Request**

**What would you like to be added**

It would be particularly helpful if we could create a [`.devcontainer`](https://code.visualstudio.com/docs/remote/create-dev-container) for this repository.

**Why is this needed**

Motivated by seeing this [Slack message](https://kubernetes.slack.com/archives/C1J0BPD2M/p1658657369855849) creating a `.devcontainer` would greatly r

[2022-07-25 05:39] #29137 closed

[2022-07-25 07:18] #34666 closed

[2022-07-25 07:58] sftim commented on #35310
/language en
/triage accepted

[2022-07-25 08:18] #34275 closed

[2022-07-25 09:04] sftim commented on #33503
/close

[2022-07-25 09:05] #33503 closed

[2022-07-25 09:05] sftim commented on #33466
/remove-triage needs-information
/sig node

The issue is fixed
/triage accepted
/kind bug
/close

[2022-07-25 09:05] #33466 closed

[2022-07-25 09:06] sftim commented on #33466
/retitle Network Plugins page lists obsolete kubelet command line argument

[2022-07-25 09:26] sftim commented on #35206
/retitle Column titles wrong for output of "kubectl api-resources"

/triage accepted
/kind bug

The fix is to change the column title in that document.
/help

[2022-07-25 09:45] saschagrunert opened #35341 "Document Kubernetes release artifact file signatures"
We require additional documentation as part of the Signing release artifacts KEP graduation: https://github.com/kubernetes/enhancements/issues/3031

Inspiration how to start on this task can be found in the container image page, which has been added for the alpha feature: https://github.com/kubernetes/website/pull/32184

cc @kubernetes/release-engineering if anyone wants to pick this up

/sig rele

[2022-07-25 09:46] saschagrunert commented on #35341
/sig release

[2022-07-25 09:46] saschagrunert commented on #35341
/triage accepted

[2022-07-25 09:52] Seo-yul opened #35342 "[ko] Translate the glossary term 'Dockershim, Helm Chart, HostAliases ... etc' into Korean"
This is a Feature Request

What would you like to be added
Translate docs/reference/glossary/ {{ some_file }} into Korean

◾ Page: https://kubernetes.io/ko/docs/reference/glossary/?all=true

- [x] Dockershim
◾ File: https://github.com/kubernetes/website/blob/dev-1.24-ko.2/content/en/docs/reference/glossary/dockershim.md
- [x] Helm Chart
◾ File: https://github.com/kubernetes/website/blob/dev-1.24-k

[2022-07-25 10:31] KimDoubleB opened #35347 "[ko] Translate the glossary term 'Code Contributor' into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate the glossary term 'Code Contributor' into Korean
- `en`: https://kubernetes.io/docs/reference/glossary/?all=true#term-code-contributor
- `ko`: https://kubernetes.io/ko/docs/reference/glossary/?all=true#term-code-contributor

**Why is this needed**

Not translated yet

**Comments**

/language ko
/assign

[2022-07-25 11:00] Verolop commented on #35341
@saschagrunert I'll adopt this :)

[2022-07-25 11:17] onestone9900 opened #35352 "[ko]Translate website/content/en/docs/reference/glossary/horizontal-pod-autoscaler.md into Korean"
This is a Feature Request

What would you like to be added
Translate website/content/en/docs/reference/glossary/horizontal-pod-autoscaler.md into Korean

Why is this needed
Not translated into Korean yet.

Comments
link to en entry: https://kubernetes.io/docs/reference/glossary/?operation=true#term-horizontal-pod-autoscaler
link to ko entry: https://kubernetes.io/ko/docs/reference/glossary/?operat

[2022-07-25 11:24] saschagrunert commented on #35341
Thank you!

/assign @Verolop

[2022-07-25 11:44] bart2001 opened #35357 "[ko] Translate the glossary term 'CIDR' into Korean"
**This is a Feature Request**

**What would you like to be added**

- link to en entry: https://kubernetes.io/docs/reference/glossary/?all=true#term-cidr
- link to ko entry: https://kubernetes.io/ko/docs/reference/glossary/?all=true#term-cidr

**Why is this needed**
Not translated yet

**Comments**

/language ko
/assign

[2022-07-25 12:20] Seo-yul commented on #34903
M44 ~ M50 진행하겠습니다~!

[2022-07-25 12:23] sftim commented on #35357
I'd localize this (eg to 사이더), but I don't think _translate_ feels like the right thing. 사이더 is more like a transliteration.

[2022-07-25 12:25] sftim commented on #35341
/language en

I think we should document:
- what signatures you can expect to find (as a reference-type page)
- how to verify these signatures (as a task-type page)

[2022-07-25 12:53] rolfedh commented on #33202
/assign rolfedh

[2022-07-25 13:56] sp-yduck opened #35370 "[ja] translation issue /docs/concepts/architecture/nodes/"
as of now : 再起動の準備中にアプリケーションからアプリケーションが削除されている場合でも
should be : 再起動の準備中にノードからアプリケーションが削除されている場合でも

ja docs :
![k8s-docs-concepts-architecture-nodes](https://user-images.githubusercontent.com/63634867/180792813-1e412aab-1a18-4d21-a6bc-22a26c37eb74.PNG)

en docs :
![k8s-en-docs-concepts-architecture-nodes](https://user-images.githubusercontent.com/63634867/180793367-b7a35cb7-1829-4111-b6c9-7a882f723a

[2022-07-25 14:26] a-mccarthy commented on #35299
@chalin Thank you for creating this issue and the related resources on the migration. I'm reading through your docs at the moment, but wanted to let you know that I just checked, and I dont have permissions to add users to our current GA account. i've requested access and I would love to help you with this project if you are looking for help :)

I've worked with @jimangel in the past on getting GA

[2022-07-25 14:52] seokho-son commented on #34903
* [ ]    M1 ~ M10 : @jka236
* [ ]    M11 ~ M20 : @KimDoubleB
* [ ]   M21 ~ M26 : @jinnypark9393
* [ ]   M27 ~ M30 : @seokho-son
* [ ]   M31 ~ M35 : @yuzin9712
* [ ]   M36 ~ M39 : @jinnypark9393
* [ ]  M40 ~ M41 : @gy-ulbak96
* [ ]   M42 ~ M43 : @NAMU1105
* [ ]   M44 ~ M50 : @Seo-yul
* [ ]   M51 ~ M53 : **[Help / Not assigned yet]**
* [ ]   M54 ~ M70 : @bconfiden2
* [ ]   M71 ~ M79 : **[Help / Not

[2022-07-25 15:59] NitishKumar06 opened #35374 "Add Best Practices guide to contributing to Kubernetes"
**This is a Feature Request**

Although experienced developers and new folks are contributing to the K8s project. It can be beneficial especially to all the new folks where we can include a page with the motive of "Best practices in the community" depicting what are the things that should be followed and avoided. For eg. Don't spam, Try before asking, Don't work on an issue that has already been a

[2022-07-25 16:52] kadtendulkar opened #35375 "Broken hyperlinks on Documentation Style Guide page"
**Problem:**
The texts [**Check required ports**](https://kubernetes.io/docs/contribute/style/style-guide/#check-required-ports) and [**here**](https://kubernetes.io/docs/contribute/style/style-guide/#check-required-ports) on [link](https://kubernetes.io/docs/contribute/style/style-guide/) is not pointing to the exact section and redirect to the same [page](https://kubernetes.io/docs/contribute/st

[2022-07-25 17:41] stephen-dahl opened #35381 "Improvement for k8s.io/docs/reference/using-api/api-concepts/"
While reading Events https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-uris to learn how to construct api urls I found that the instructions here do not cover how paths for core resources are constructed, mainly that they start with `/api` instead of `/apis`.

It hints at this with the `GET /api/v1/namespaces` example but it should be directly stated to be more clear.

after re

[2022-07-25 18:12] bishal7679 opened #35382 "field is inside the `spec` link"
**This is a Feature Request**

- It would be better if **field** is outside the link following the same on the entire page.
![Screenshot (202)](https://user-images.githubusercontent.com/70086051/180843154-0fd61bac-aa4c-4a11-8c56-19a0972e9dce.png)

- And the extra semi colon should be removed
![Screenshot (203)](https://user-images.githubusercontent.com/70086051/180843473-e61eee0c-8f61-4628-8554-59

[2022-07-25 18:14] chalin commented on #35299
Very cool that you've (@sftim) been upgrading Hugo and Docsy ([to v0.2.0 via #32906](https://github.com/kubernetes/website/pull/32906)). On that topic, Docsy is now at [v0.4.0](https://github.com/google/docsy/blob/main/CHANGELOG.md#040), if you consider upgrading, let me know if you have any issues.

[2022-07-25 18:54] vaibhav2107 commented on #32835
/remove-lifecycle stale

[2022-07-25 19:05] seokho-son commented on #35342
/triage accepted

[2022-07-25 19:05] seokho-son commented on #35347
/triage accepted

[2022-07-25 19:08] seokho-son commented on #35352
/triage accepted

[2022-07-25 19:11] seokho-son commented on #35357
/triage accepted

:)

[2022-07-25 21:04] Rishit-dagli commented on #35206
I could take this up
/assign

[2022-07-25 21:09] Rishit-dagli commented on #34317
I could take this up
/assign

[2022-07-26 01:11] windsonsea opened #35386 "[zh-cn] relocate topology-spread-constraints.md"
**This is a Feature Request**

Will relocate this file from
[code]
to
[code]
in which may involve some text updates and link fix.

[2022-07-26 01:35] tengqm commented on #35386
/triage accepted

[2022-07-26 03:01] zhangyazhe opened #35387 "将 Pod 指派给节点"
pods/pod-with-node-affinity.yaml与下方文字描述不一致

[2022-07-26 03:12] tengqm commented on #35386
/language zh

[2022-07-26 03:43] NitishKumar06 commented on #35386
/assign

[2022-07-26 04:00] dwgillies-bluescape opened #35389 "Improvement for k8s.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/"
The HPA walkthrough suggests I learn about metrics server, in case I am using minikube.  No.  That is unhelpful.  minikube has its own internal metrics server.  I tried installing 2 outside metrics servers before I gave up and realized that doesn't work.  You should not send the learning in the right direction in the introduction to HPA.  Please fix the language on this page as follows.  I enclose

[2022-07-26 04:10] RA489 commented on #35370
/triage accepted

[2022-07-26 04:27] divya-mohan0209 commented on #35375
Hey @kadtendulkar , what we're trying to provide in the style guide is an example of how to write the text for links and I don't think we actually are intending to point to the link mentioned by you in the description.

@sftim / @tengqm : Please correct me if I'm wrong here.

[2022-07-26 05:12] jihoon-seo commented on #35387
Page: https://kubernetes.io/zh-cn/docs/concepts/scheduling-eviction/assign-pod-node/
/language zh

[2022-07-26 05:33] windsonsea commented on #35386
/assign

I handle the language/zh-cn

[2022-07-26 06:09] seokho-son commented on #35386
Regarding assignee issue I share the following comment in the releated PR. :)

https://github.com/kubernetes/website/pull/35390#issuecomment-1195045233

[2022-07-26 06:10] vaibhav2107 commented on #33182
/remove-lifecycle stale

[2022-07-26 06:11] windsonsea commented on #35386
Yes, this is not a simple relocation, which involves with much localization of new paras and text.

[2022-07-26 06:18] misguang opened #35392 "容器运行时"
阅读[检查 Dockershim 弃用是否会影响你](https://kubernetes.io/zh-cn/docs/tasks/administer-cluster/migrating-from-dockershim/check-if-dockershim-deprecation-affects-you/)，此链接页面未找到

[2022-07-26 06:32] tengqm commented on #35387
/triage accepted
The YAML file was not sync'ed with English version.

[2022-07-26 06:57] tengqm commented on #35392
/triage accepted
/language zh
/kind bug

[2022-07-26 08:57] #34887 closed

[2022-07-26 12:11] shannonxtreme commented on #35389
I think point 2 is good, have a verify checkpoint before proceeding

For the minikube-specific instructions, I'd like to see us not cater to a specific Kubernetes implementation by name. So instead of linking to minikube specific docs, something like

"Some Kubernetes implementations, like minikube, have a built-in metrics-server. If manual metrics-server installation fails, refer to your Kubernet

[2022-07-26 12:23] #9829 closed

[2022-07-26 12:24] sftim commented on #35382
I like the existing text. “`spec` field” seems like valid anchor text to me. Why isn't it right?

[2022-07-26 12:25] sftim commented on #35381
/wg api-expression
/language en
/triage accepted
/priority backlog

[2022-07-26 12:58] jinnypark9393 opened #35406 "Add .hugo_build.lock file to .gitignore"
**This is a Feature Request**

**What would you like to be added**

I would like to add .hugo_build.lock to .gitignore.

**Why is this needed**

In my recent PR(https://github.com/kubernetes/website/pull/35273), I was told that unnecessary file, .hugo_build.lock was added in my commit. This hugo_build.lock file is automatically generated during local hugo build from hugo v0.89.0(https://gohugo.io/

[2022-07-26 12:58] jinnypark9393 commented on #35406
I opened PR #35405

[2022-07-26 13:42] shannonxtreme commented on #35406
Lmao yes please

/triage accepted

[2022-07-26 13:47] shannonxtreme commented on #35382
I agree with Tim here. The word field is an informative part of the link text (by clicking it, you'll learn more about the field).

[2022-07-26 13:49] shannonxtreme commented on #35375
Yeah this is working as intended, the reader isn't meant to leave the page (which is why it redirects to the same page). It's an example of how "good" link text looks

[2022-07-26 13:51] shannonxtreme commented on #35374
Hey Nitish, this already exists at https://www.kubernetes.dev/docs/guide/contributing/#best-practices

But maybe there's an opportunity to expand that page?

[2022-07-26 16:48] kadtendulkar commented on #35375
Hello @shannonxtreme and @divya-mohan0209 , I referred to this [link](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#check-required-ports) and found the ports and protocols page.
If the reader is not supposed to redirect to some other page, then can we add a section as below as mentioned in the [link](https://kubernetes.io/docs/setup/production-environment/t

[2022-07-27 00:22] Eternal21 commented on #30912
I was also following the linked tutorial, and hit the same error.  After reading this thread, I am still not clear on how to proceed.

[2022-07-27 01:44] #35386 closed

[2022-07-27 03:23] mocha-123 opened #35424 "[ko] Translate the glossary term 'Cluster Infrastructure' into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate the glossary term 'Cluster Infrastructure' into Korean
- link to en entry: https://kubernetes.io/docs/reference/glossary/?all=true#term-cluster-infrastructure
- link to ko entry: https://kubernetes.io/ko/docs/reference/glossary/?all=true#term-cluster-infrastructure

**Why is this needed**
Not translated into Korean yet.

[2022-07-27 03:36] utkarsh-singh1 commented on #35293
Hi @retif, have you followed all the pre-requisites required to run the following [tasks](https://kubernetes.io/docs/tasks/run-application/run-replicated-stateful-application/#before-you-begin) in your local cluster.

[2022-07-27 03:46] quangthe commented on #33431
Thanks @PushkarJ  for your suggestion.

Here is my first PR https://github.com/kubernetes/website/pull/35425 🥳

[2022-07-27 04:50] NitishKumar06 commented on #35374
@shannonxtreme Thanks for mentioning this page. Shouldn't there be more points that should be included as well? WDYT @sftim ?

[2022-07-27 05:54] having-dlrow opened #35427 "[ko] Translate the glossary term 'Finalizer' into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate the glossary term 'Finalizer' into Korean

link to en entry: https://kubernetes.io/docs/reference/glossary/?fundamental=true#term-finalizer
link to ko entry: https://kubernetes.io/ko/docs/reference/glossary/?fundamental=true#term-finalizer

**Why is this needed**
Not translated yet

**Comments**

/language ko
/assign

[2022-07-27 07:21] seokho-son commented on #35424
/triage accepted

[2022-07-27 07:21] seokho-son commented on #35427
/triage accepted

[2022-07-27 07:31] divya-mohan0209 commented on #35375
Hey @kadtendulkar, thank you for raising this issue. However, we do not need to add that section is precisely what Shannon & I are trying to convey.

The style guide wants to instruct people who create/submit improvements that instead of using vague text for hyperlinking like "See here" or "Check this out", the contributors must provide more context in the text by using phrases such as "Check requ

[2022-07-27 08:13] nine01223 opened #35430 "[ko] Translate concepts/policy/pid-limiting in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/policy/pid-limiting in Korean

**Why is this needed**
No translation with concepts/policy/pid-limiting in Korean

**Comments**
지난 1월에 한글화에 참여 예정이었으나 개인적인 사정으로 참여하지 못했습니다. 죄송하며 이번엔 반드시 꼭 기여하고 싶습니다.
dev-1.24-ko.2 머지가 곧 예정이시므로 다음 branch에서 PR을 목표로 진행 예정입니다. 감사합니다.

**Page to update:**
https://kubernetes.io/docs/conc

[2022-07-27 08:14] nine01223 commented on #35430
/language ko
/assign

[2022-07-27 08:19] ouohh opened #35432 "`hostname` cmd is missing in `mysql:5.7` image"
When I execute the command ‘kubectl apply -f https://k8s.io/examples/application/mysql/mysql-statefulset.yaml’ the following problem occurs
$ kubectl describe pods mysql-0
[code]
$ kubectl logs  mysql-0 init-mysql
[code]

[2022-07-27 08:20] xiaoyunjie opened #35433 "Improvement for k8s.io/zh-cn/docs/tutorials/security/seccomp/"
hashicorp/http-echo:0.2.3    There is no ARM version mirror

[2022-07-27 09:36] sftim commented on #35374
This might be a duplicate of https://github.com/kubernetes/contributor-site/issues/202, or something similar to a duplicate.

/retitle Add Best Practices guide to contributing to Kubernetes

[2022-07-27 09:44] shurup commented on #35374
By the way, it seems useful to me to add a direct link to this "Best practices" section (or a new one that will be created in this issue?) at the [Opening a pull request](https://kubernetes.io/docs/contribute/new-content/open-a-pr/) page. (Or it can be mentioned on the parental [Contributing new content](https://kubernetes.io/docs/contribute/new-content/) page.)

Currently, there is a "general" li

[2022-07-27 09:50] sftim commented on #35374
My advice: close this issue (it's done!), and open new issues. One new issue for each specific change that would make https://k8s.dev/ pages more discoverable.

[2022-07-27 10:20] nine01223 commented on #35430
기존 이슈와 중복되어 Close하겠습니다. https://github.com/kubernetes/website/issues/35204
다른 이슈로 신청하겠습니다. :)

[2022-07-27 10:20] #35430 closed

[2022-07-27 10:52] kyungjin99 opened #35435 "[ko] Translate the glossary term `CNCF` into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate the glossary term 'CNCF' into Korean.

link to `en` entry: https://kubernetes.io/docs/reference/glossary/?community=true#cncf
link to `ko` entry: https://kubernetes.io/ko/docs/reference/glossary/?community=true#cncf

**Why is this needed**
It has not been translated into Korean yet.

**Comments**

/language ko
/assign

[2022-07-27 10:56] kyungjin99 commented on #35435
/language ko
/assign

[2022-07-27 11:18] Kartik494 commented on #30885
/remove-lifecycle stale

[2022-07-27 11:19] BaskingWithSharks opened #35436 "Issue with k8s.io/docs/reference/access-authn-authz/certificate-signing-requests/"
Documentation says
"A CertificateSigningRequest (CSR) resource is used to request that a certificate be signed by a denoted signer".
and
"The CertificateSigningRequest resource type allows a client to ask for an X.509 certificate be issued..."

What is it now ?  "be signed" or "be issued" or do these words denote the same action ?

[2022-07-27 11:20] utkarsh-singh1 commented on #35432
Hi @ouohh, can you send the details about `kubectl get pods -l app=mysql --watch` .

[2022-07-27 11:21] Kartik494 commented on #30885
Hi @sftim is it ok to document this in https://kubernetes.io/docs/tasks/configure-pod-container/assign-memory-resource/

[2022-07-27 11:30] nine01223 opened #35437 "[Ko] Translate /tasks/extend-kubernetes/socks5-proxy-access-api/ in Korean"
This is a Feature Request

What would you like to be added

Translate /tasks/extend-kubernetes/socks5-proxy-access-api/ in Korean

Why is this needed

Comments
지난 1월 이슈 생성했으나 개인적인 사정으로 완료하지 못해 Close되었습니다.(정말 죄송합니다.)
k8s 문서 한글화에 꼭 기여하고 싶어 이슈 생성합니다. 28일 머지 이후 다음 브랜치 PR 목표입니다. 감사합니다. 🙏

Pages to Update
https://kubernetes.io/docs/tasks/extend-kubernetes/socks5-proxy-access-api

[2022-07-27 11:32] nine01223 commented on #35437
/language ko
/assign

[2022-07-27 11:33] ouohh commented on #35432
$ get pods -l app=mysql --watch
NAME      READY   STATUS       RESTARTS      AGE
mysql-0   0/2     Init:Error   2 (27s ago)   28s
mysql-0   0/2     Init:CrashLoopBackOff   2 (14s ago)   29s
mysql-0   0/2     Init:Error              3 (25s ago)   40s
mysql-0   0/2     Init:CrashLoopBackOff   3 (14s ago)   55s
mysql-0   0/2     Init:Error              4 (47s ago)   88s
mysql-0   0/2     Init:CrashLo

[2022-07-27 11:36] yuzin9712 opened #35438 "[ko] Translate the glossary term 'Developer' into Korean"
This is a Feature Request

What would you like to be added

Translate the glossary term 'Developer' into Korean

- link to en entry: https://kubernetes.io/docs/reference/glossary/?all=true#term-developer
- link to ko entry: https://kubernetes.io/ko/docs/reference/glossary/?all=true#term-developer

Why is this needed
Not translated into Korean yet.

Comments

/language ko
/assign

[2022-07-27 11:40] utkarsh-singh1 commented on #35432
Hi @ouohh, CrashLoopBackOff error is causing your pod to be crashed in an endless loop, have you followed all the pre-requisites.

[2022-07-27 11:44] ouohh commented on #35432
Yes, I can run the mysql5.6 image; the log error indicates that mysql5.7 does not have the "hostname" command.

[2022-07-27 12:20] Kartik494 commented on #30283
/remove-lifecycle rotten

[2022-07-27 12:48] bart2001 commented on #35357
@sftim
Thank you for your comment.
Commonly, I have seen developers and engineers in Korea using the term CIDR as English itself, so I left it in English :)

[2022-07-27 14:13] Kid-Chang opened #35443 "[ko] Translate the glossary term 'wg(working group)' into Korean"
**This is a Feature Request**

**What Would you like to be added**
Translate docs/tasks/administer-cluster/cluster-upgrade to Korean

**Why is this needed**
Not translated yet

**page**
https://kubernetes.io/ko/docs/reference/glossary/?all=true#term-wg

/language ko
/assign

[2022-07-27 14:46] dewble opened #35447 "[ko] Translate the glossary term 'Event' into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate the glossary term 'Event' into Korean

- link to en entry: https://kubernetes.io/docs/reference/glossary/?fundamental=true#term-event
- link to ko entry: https://kubernetes.io/ko/docs/reference/glossary/?fundamental=true#term-event

**Why is this needed**
Not translated yet

**Comments**

/language ko
/assign

[2022-07-27 16:05] kadtendulkar commented on #35375
Hello @divya-mohan0209 , can I close the PR and issue both?

[2022-07-27 16:06] kadtendulkar commented on #35224
Since the PR is merged, I am closing the issue.
/close

[2022-07-27 16:06] #35224 closed

[2022-07-27 16:09] divya-mohan0209 commented on #35375
Yes please. You may link it to my comment, during closure.

[2022-07-27 16:30] kadtendulkar opened #35449 "Broken links on Using a KMS provider for data encryption page"
**Problem:**
The texts [**service.pb.go**](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/v1beta1/service.pb.go) and [**service.proto**](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/v1beta1/service.proto) on [link](https://kubernetes.io/docs/tasks/administer

[2022-07-27 17:50] dilyanpalauzov opened #35456 "network-plugins: misleading requirements for CNI loopback plugin"
https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins/#loopback-cni says:

As of https://github.com/containernetworking/plugins/issues/759 the undocumented loopback plugin is planned for deprecation and the article is outdated in regards to cri-o.

[2022-07-27 18:36] dwgillies-bluescape commented on #35389
I did get everything working and autoscaling working with minikube, but it was a huge hassle :
[code]
i can see now why people recommend kind or some other kubernetes emulators.

[2022-07-27 21:21] sftim commented on #35449
I would link to specific commits or releases, not `master`. The `master` branch is _not_ a stable, “permalink” friendly ref.

[2022-07-27 21:23] sftim commented on #35436
This is mostly a support request I think.

Issuing and signing a certificate are closely related concepts. We could improve the wording, which would help non-native speakers, folks who are new to this, and folks who are in a hurry - amongst others.

I don't see a case for prioritising that cleanup though.
/sig auth
/priority awaiting-more-evidence
/language en

[2022-07-27 21:24] sftim commented on #35436
Maybe if we link to https://en.wikipedia.org/wiki/Certificate_signing_request for context?

[2022-07-27 23:24] bconfiden2 opened #35460 "[ko] Translate the glossary term 'SIG' into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate the glossary term 'SIG' into Korean

- link to `en` entry: https://kubernetes.io/docs/reference/glossary/?community=true#term-sig
- link to `ko` entry: https://kubernetes.io/ko/docs/reference/glossary/?community=true#term-sig

**Why is this needed**
Not translated yet

**Comments**

/language ko
/assign

[2022-07-28 02:24] jihoon-seo commented on #35460
/triage accepted

[2022-07-28 02:37] NitishKumar06 commented on #35374
@sftim @shurup I'd like to take some suggestions before closing this issue:

I believe the above changes that have been mentioned are necessary to be included. Would it be a better idea if we just include more points on the following page: https://www.kubernetes.dev/docs/guide/contributing/#best-practices

[2022-07-28 02:56] shurup commented on #35374
@NitishKumar06 hi! Following the @sftim recommendation, I've started creating a new issue proposing to add the "Best practices" link to the existing "Kubernetes Documentation / Contribute" guide. However, I refrained from this idea in the end. While analyzing the existing content in a more careful manner, I discovered the [Opening a pull request](https://kubernetes.io/docs/contribute/new-content/o

[2022-07-28 03:40] RA489 commented on #35250
/triage accepted

[2022-07-28 04:06] divya-mohan0209 commented on #35436
I agree with Tim that signing and issuing are closely linked and maybe we could word it better + link it to the Wiki link mentioned above.

[2022-07-28 04:07] jinnypark9393 commented on #35406
This issue has been resolved by #35405

[2022-07-28 04:07] #35406 closed

[2022-07-28 06:09] musaprg opened #35470 "[ja] Translate concepts/architecture/control-plane-node-communication into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [concepts/architecture/control-plane-node-communication/](https://kubernetes.io/docs/concepts/architecture/control-plane-node-communication/) into Japanese.

**Why is this needed**

This page has not been translated into Japanese.

**Comments**

/language ja

[2022-07-28 06:59] seokho-son commented on #35447
/triage accepted

[2022-07-28 08:16] Kartik494 commented on #29494
/remove-lifecycle rotten

[2022-07-28 08:16] Kartik494 commented on #29494
/sig storage

[2022-07-28 08:19] Kartik494 commented on #29502
Hi @marrem if you don't have any more concern on this then could you close this  issue WDYT?

[2022-07-28 08:34] divya-mohan0209 commented on #35389
/triage accepted

[2022-07-28 08:37] divya-mohan0209 commented on #35389
I agree with what @shannonxtreme is saying wrt scope of the documentation.

[2022-07-28 08:38] divya-mohan0209 commented on #35456
/triage accepted

[2022-07-28 08:42] divya-mohan0209 commented on #35456
@dilyanpalauzov Thank you for flagging this! However, I think a modification would be warranted once the loopback plugin has been deprecated on containerd too.

[2022-07-28 08:45] divya-mohan0209 commented on #35456
/area dependency

[2022-07-28 09:07] NayeonKeum opened #35477 "[ko] Translate the glossary term 'Member' into Korean"
This is a Feature Request

What would you like to be added

Translate the glossary term 'Member' into Korean

link to en entry: https://kubernetes.io/docs/reference/glossary/?community=true#term-member
link to ko entry: https://kubernetes.io/ko/docs/reference/glossary/?community=true#term-member
Why is this needed
Not translated yet

Comments

/language ko
/assign

[2022-07-28 09:39] WESTZERO115 opened #35479 "[ko] Translate the glossary term 'Manifest' into Korean"
**This is a Feature Request**

**What would you like to be added**
Translate the glossary term 'Manifest' into Korean

**Why is this needed**
Not Translated into Korean yet.

**Comments**
link: https://kubernetes.io/docs/reference/glossary/?fundamental=true

/language ko
/assign

[2022-07-28 09:56] cat-taesik opened #35480 "[ko] Translate the glossary term 'Disruption' into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate the glossary term 'Disruption' into Korean

- link to en entry: https://kubernetes.io/docs/reference/glossary/?all=true#term-disruption
- link to ko entry: https://kubernetes.io/ko/docs/reference/glossary/?all=true#term-disruption

**Why is this needed**
Not translated yet

**Comments**

/language ko
/assign

[2022-07-28 10:01] avinal opened #35482 "Tabs are malformed in "Install and Set Up kubectl on Linux" page"
**This is a Bug Report**

**Problem:**

The tab here is malformed and clicking on it doesn't work. https://kubernetes.io/docs/tasks/tools/install-kubectl-linux/#install-using-native-package-management Instead of switching in place the tabs are formed stacked. See the screenshot, the instruction for *Red Hat based distribution* is below the instruction for "Debian based distributions".
![image](htt

[2022-07-28 10:29] divya-mohan0209 commented on #35375
/close

[2022-07-28 10:29] #35375 closed

[2022-07-28 11:14] sftim opened #35487 ".gitignore does not anchor ignored paths “public” and “resources”"
**This is a Feature Request**

**What would you like to be added**
Update the `.gitignore` to only ignore the directories `public` and `resources` at the top level of the repository.

**Why is this needed**
If somebody wants to create a content directory named `resources`, that ignore will conflict. We should tidy it so it wouldn't.

**Comments**
/kind cleanup

Docs for `.gitignore`: https://git-s

[2022-07-28 11:49] NAMU1105 opened #35490 "[ko] Translate the glossary term 'Affinity' into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate the glossary term 'Affinity' into Korean
- link to en entry: https://kubernetes.io/docs/reference/glossary/?all=true#term-affinity
- link to ko entry: https://kubernetes.io/ko/docs/reference/glossary/?all=true#term-affinity

**Why is this needed**
Not translated yet

**Comments**
/language ko
/assign

[2022-07-28 11:55] jihoon-seo opened #35491 "[ko] Missing Korean translation in "Contributing new content""
**This is a Bug Report**

**Problem:**
Missing Korean translation in "Contributing new content"

https://kubernetes.io/ko/docs/contribute/new-content/#:~:text=Figure%20%2D%20Contributing%20new,information%20details%20follow.

**Proposed Solution:**
Add Korean translation.
It is highly recommended that a **native Korean speaker** self-assigns for this issue.

**Page to Update:**
https://kubernetes.

[2022-07-28 11:58] jihoon-seo commented on #35490
/triage accepted

[2022-07-28 11:59] jihoon-seo commented on #35480
/triage accepted

[2022-07-28 12:01] jihoon-seo commented on #35479
/triage accepted

[2022-07-28 12:02] jihoon-seo commented on #35477
/triage accepted

[2022-07-28 12:03] jihoon-seo commented on #35443
/triage accepted

[2022-07-28 12:04] jihoon-seo commented on #35438
/triage accepted

[2022-07-28 12:06] jihoon-seo commented on #35437
@nine01223 감사합니다!!
/triage accepted

[2022-07-28 12:07] jihoon-seo commented on #35435
/triage accepted

[2022-07-28 12:14] BrendenHJH opened #35494 "[ko] Translate the glossary term 'Proxy' into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate the glossary term 'Proxy' into Korean

* link to en entry: https://kubernetes.io/docs/reference/glossary/?all=true#term-proxy
* link to ko entry: https://kubernetes.io/ko/docs/reference/glossary/?all=true#term-proxy

**Why is this needed**
Not translated yet

**Comments**

/language ko
/assign

[2022-07-28 12:34] Shubham82 commented on #35482
I will take a look at it.

/assign

[2022-07-28 13:15] Shubham82 commented on #35482
Fixed it here: #35504

[2022-07-28 16:18] #28910 closed

[2022-07-28 18:28] concrain opened #35518 "Issue with k8s.io/editdocs/"
Update your instructions.  2019 man WTF
xhive is long gone

https://github.com/kubernetes/minikube/issues/5481

[2022-07-28 20:04] klaases opened #35519 "prioritize minikube documentation for new developers"
This issue attempts to prioritizes the documentation recommendation of **minikube** ahead of **kind** as the very first tool that new developers should use when initially learning kubernetes.

In addition, the goal is to ensure that developers have an easier time in getting started with Kubernetes by adopting **minikube** from the start.

We have found that **kind** is oriented more towards testin

[2022-07-28 20:07] klaases commented on #35519
Hi @divya-mohan0209 and @sftim, I have created this issue in response to your comments on the related PR #35461 and I do appreciate your feedback.

[2022-07-28 22:58] bconfiden2 commented on #35487
Can you assign it to me..??  👀

[2022-07-28 23:45] jihoon-seo commented on #35494
/triage accepted

[2022-07-28 23:46] jihoon-seo commented on #35490
/retitle [ko] Translate the glossary term 'Affinity' into Korean

[2022-07-28 23:46] jihoon-seo commented on #35494
/retitle [ko] Translate the glossary term 'Proxy' into Korean

[2022-07-28 23:48] jihoon-seo commented on #35482
/triage accepted

[2022-07-28 23:49] jihoon-seo commented on #35487
/assign @bconfiden2

[2022-07-28 23:50] jihoon-seo commented on #35519
/remove-kind support

[2022-07-28 23:52] jihoon-seo commented on #35433
- `en` page: https://kubernetes.io/docs/tutorials/security/seccomp/
- `zh` page: https://kubernetes.io/zh-cn/docs/tutorials/security/seccomp/

[2022-07-29 00:32] onestone9900 commented on #34903
M71 ~ 75까지 추가 직업 해보겠습니다!

[2022-07-29 00:48] bconfiden2 commented on #34903
M76 ~ M79 까지 진행하겠습니다!

[2022-07-29 02:58] jihoon-seo commented on #34903
@onestone9900 @bconfiden2 감사합니다~~

[2022-07-29 04:24] divya-mohan0209 commented on #35518
@concrain We appreciate you opening the issue. Could you provide more details about the lack of updates? It'd be helpful for those volunteering to work on this problem to have those details handy.

[2022-07-29 04:28] divya-mohan0209 commented on #35487
/triage accepted

[2022-07-29 04:53] Veryfirstmoment commented on #35491
@jihoon-seo I'll take care of this.
/assign

[2022-07-29 05:15] #32446 closed

[2022-07-29 07:19] mengjiao-liu commented on #35392
/assign

[2022-07-29 07:54] tengqm commented on #34733
/reopen
#34985 should not close this yet.

[2022-07-29 08:01] #35392 closed

[2022-07-29 08:03] #35158 closed

[2022-07-29 08:07] mengjiao-liu commented on #35387
/assign

[2022-07-29 08:33] sftim commented on #35031
Folks who'd like to work on this are welcome to do so. Please liaise with @akankshakumari393 first if possible, to avoid duplicating work.

[2022-07-29 11:13] #35482 closed

[2022-07-29 11:20] sftim commented on #35487
/priority backlog

[2022-07-29 11:25] #35387 closed

[2022-07-29 11:44] dc-weizhenhua opened #35541 "Running a replicated application: mysql cluster，with an xtrabackup error"
**This is Support**

### kubernetes version: v1.24

### Error Replication:
I runned a replicated mysql application as url: https://kubernetes.io/docs/tasks/run-application/run-replicated-stateful-application/,There is an error:
[code]

### 1 master and 2 slaves mysql cluster statefulset yaml file as followed:
[code]

### I've configured configmap/service/pvc:

[code]

[2022-07-29 13:29] dc-weizhenhua opened #35544 "Run a Replicated Stateful Application"
1、there is no `hostname` command in mysql:5.7;

[2022-07-29 14:55] yoonian commented on #34903
M51 ~ M53 는 제가 하지요.

[2022-07-29 15:33] sangminK opened #35546 "[ko] Translate the glossary term 'Approver' into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate the glossary term 'Approver' into Korean

- link to en entry: https://kubernetes.io/docs/reference/glossary/?all=true#term-approver
- link to ko entry: https://kubernetes.io/ko/docs/reference/glossary/?all=true#term-approver

**Why is this needed**
Not translated yet

**Comments**
/language ko
/assign

[2022-07-29 18:42] shannonxtreme commented on #12303
@sftim If I can help with this in anyway LMK. It could potentially be a non-blocking task in the release process (add the alias for the dropped version) so that there's a reminder to do it.

[2022-07-29 18:54] shannonxtreme commented on #12323
Reached out in #sig-scheduling chat to potentially get some movement on this and determine what update is needed (either clarify that upgrade order of `kube-controller-manager` and `kube-scheduler` doesn't matter, or clarify what the order should be)

/assign

[2022-07-29 19:37] cathchu commented on #35341
Hey there 👋 @saschagrunert , 1.25 Release Docs Shadow here!

Thanks for filing this placeholder. As a reminder, final docs PRs are due August 9th. Take a look at [Documenting a release](https://kubernetes.io/docs/contribute/new-content/new-features/#for-developers-or-other-sig-members) for additional information for the docs requirement for the release.

Thanks again!

[2022-07-29 19:43] cameronmeissner opened #35550 "Improvement for website/content/en/docs/tasks/administer-cluster/kubelet-config-file.md - flags that have different defaults between kubelet config file and command line should be listed"
I think it would be extremely helpful to explicitly list the flags that have different defaults when using a config file to configure kubelet vs when only using the command line. The documentation [here ](https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config-file/#:~:text=Note%20that%20some%20default%20values%20differ%20between%20command-line,In%20the%20above%20example%2C%20this%20ver

[2022-07-29 20:33] shannonxtreme commented on #12657
I’m struggling a bit to parse: https://github.com/kubernetes/kubernetes/blob/30c9f097ca4a26dab9085832e006f09cb2993dda/pkg/controller/podautoscaler/replica_calculator.go#L392 mainly because I don’t think I fully get what After() is doing

This is what I understand (does it sound reasonably correct @kubernetes/sig-scheduling-misc @kubernetes/sig-scheduling-bugs ?):

First check if the Pod has been a

[2022-07-29 20:36] shannonxtreme commented on #12657
/assign

[2022-07-29 21:34] lavalamp commented on #12323
Answer: there *must not* be a specific ordering needed between those two components. In practice, they get locks independently and the most common way of upgrading them (a VM at a time) means all four combinations of versions are possible, and a single upgrade could even see splits both ways.

[2022-07-29 23:26] #31988 closed

[2022-07-30 01:47] twilight0620 commented on #34187
/close

[2022-07-30 01:48] #34187 closed

[2022-07-30 01:48] twilight0620 commented on #34186
/close

[2022-07-30 01:48] #34186 closed

[2022-07-30 01:48] twilight0620 commented on #32773
/close

[2022-07-30 01:50] rollony opened #35555 "[ko] Translate the glossary term 'Endpoints' into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate the glossary term "Endpoints" into Korean.

**Why is this needed**

Not translated into Korean yet.

**Comments**

EN entry: https://kubernetes.io/docs/reference/glossary/?all=true#term-endpoints
KO entry: https://kubernetes.io/ko/docs/reference/glossary/?all=true#term-endpoints

/language ko
/assign

[2022-07-30 03:12] kyungjin99 opened #35560 "[ko] Translate the glossary term `Preemption` into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate the glossary term `Preemption` into Korean
link to `en` entry: https://kubernetes.io/docs/reference/glossary/?all=true#term-preemption
link to `ko` entry: https://kubernetes.io/ko/docs/reference/glossary/?all=true#term-preemption

**Why is this needed**
This has not been translated into Korean yet.

**Comments**

/assign

[2022-07-30 03:13] kyungjin99 commented on #35560
/language ko

[2022-07-30 05:10] NitishKumar06 commented on #35374
@shurup I agree with your points. But don't you think we can add a few more basic points to the following page: https://www.kubernetes.dev/docs/guide/contributing/#best-practices so that whenever a newbie reads it, they get aware of the primary community practices to be followed?

The points are mentioned really well when talking about [Opening a pull request](https://kubernetes.io/docs/contribute

[2022-07-30 06:21] tengqm commented on #33955
/close

[2022-07-30 06:21] #33955 closed

[2022-07-30 07:45] jihoon-seo commented on #35560
/triage accepted

[2022-07-30 07:45] jihoon-seo commented on #35555
/triage accepted

[2022-07-30 07:46] jihoon-seo commented on #35546
/triage accepted

[2022-07-30 07:49] jihoon-seo commented on #35544
It seems that this issue is a duplicate of #35432.

[2022-07-30 07:51] jihoon-seo commented on #35293
It seems that this issue is a duplicate of #35432.

This issue was filed prior to #35432, but IMO #35432 has more information now.

[2022-07-30 08:08] NayeonKeum opened #35567 "[ko] Update outdated file: dev-1.24-ko.1(M98-M99)"
**This is a Feature Request**

**What would you like to be added**

Update files
- [x] M98. content/en/docs/tasks/manage-daemon/update-daemon-set.md | 1(+XS) 1(-)
- [x]  M99. content/en/docs/tasks/run-application/force-delete-stateful-set-pod.md | 1(+XS) 1(-)

**Why is this needed**

Mentioned in [Outdated Korean contents in the dev-1.24-ko.2 M98 ~ M99](https://github.com/kubernetes/website/issues

[2022-07-30 09:05] dc-weizhenhua commented on #35544
#35432.  is still open!  I  thought it's so obvious error，where there's no solution stiill!

[2022-07-30 09:27] ZeroUSA commented on #35381
/assign

[2022-07-30 10:49] shannonxtreme commented on #12323
Thanks @lavalamp!

[2022-07-30 12:13] windsonsea commented on #35152
/retitle [zh-cn] suggest to modify some text in configure-liveness-readiness-startup-probes.md

[2022-07-30 12:18] windsonsea commented on #35152
https://kubernetes.io/zh-cn/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/

This issue is fixed.
/close

[2022-07-30 12:18] #35152 closed

[2022-07-30 12:20] windsonsea commented on #34441
This is fixed by #34446.
/close

[2022-07-30 12:21] #34441 closed

[2022-07-30 12:30] windsonsea commented on #34416
This issue is fixed by #34660. All content related to Service Catalog are removed.
/close

[2022-07-30 12:31] #34416 closed

[2022-07-30 19:09] alfein opened #35577 "Issue in kubectl-commands.html file"
Hello team.

Recently I noticed that this page: https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#-em-secret-tls-em- shows wrong command.  Instead of

`kubectl create tls NAME --cert=path/to/cert/file --key=path/to/key/file [--dry-run=server|client|none]`

it should be

`kubectl create secret tls NAME --cert=path/to/cert/file --key=path/to/key/file [--dry-run=server|client|no

[2022-07-30 19:34] #32013 closed

[2022-07-31 00:25] Sea-n opened #35584 "[zh-cn] Discuess about 授权 and 鉴权 for translating authn/authz"
When re-syncing [auth/node.md](https://github.com/kubernetes/website/pull/35552), @windsonsea found that `authorizer` are being translated into "鉴权器" and "授权器" on the same page.

I am confused about which word would be better when looking for documents. So I think it would be great if we reach a rough consensus and write into the [glossary of terms](https://kubernetes.io/zh-cn/docs/contribute/loca

[2022-07-31 00:28] Sea-n commented on #35584
Opinion:

I found [this 知乎專欄 article](https://zhuanlan.zhihu.com/p/201837368) (Security Framework: identification, authorization, authentication, and permission control).

As it said: 授權 mapping to authorization, and 鑑權 mapping to authentication.

[2022-07-31 00:35] Sea-n commented on #35584
According to the official bilingual vocabulary list of Taiwan (temporary unavailable for unknown reason):

[authorization](https://www.google.com/search?q=authorization+site%3Aterms.naer.edu.tw) is recommended to be translated to 授權 / 核准
[authentication](https://www.google.com/search?q=authentication+site%3Aterms.naer.edu.tw) is recommended to be translated to 驗證 / 認證 / 鑑別 / 鑑定 / 鑑認

(Just for the

[2022-07-31 00:37] Sea-n commented on #35584
Hope we can get inputs from active translators.

CC @windsonsea @tengqm @howieyuen @mengjiao-liu @ydFu

[2022-07-31 00:58] jihoon-seo commented on #35584
/language zh

[2022-07-31 01:22] windsonsea commented on #35584
wow, in my understanding, current authentication is 身份验证  with less confusion.
Authorizer is recommended to use 鉴权器, and 授权 is for authorize and authorization.
---
For most people, authz (authorize, authorizer, authorization) is related to 授权 for their first impression. This may cause some review efforts.

[2022-07-31 04:03] NitishKumar06 commented on #35577
/assign

[2022-07-31 13:33] Kartik494 commented on #33317
/remove-lifecycle stale

[2022-07-31 14:49] tengqm commented on #35584
I agree.

[2022-07-31 17:44] sftim commented on #35374
For discussions about changes to https://www.kubernetes.dev/docs/guide/contributing/#best-practices, open an issue against https://github.com/kubernetes/contributor-site and use that issue to hold the discussion.

_This_ repo is mainly about documenting Kubernetes for its end users.

[2022-07-31 21:51] rolfedh opened #35588 "themes/docsy submodule showing up in PRs"
**This is a Bug Report**

**Problem:**

The `themes/docsy` submodule shows up in Pull Requests.

- [Example #1 of unwanted `themes/docsy` in PR](https://github.com/kubernetes/website/pull/35297/files#diff-878506240f798243feafb6a64f3d3b434b18431764903360b9e00b0cb6394f07)
- [Example #2 of unwanted `themes/docsy` in PR](https://github.com/kubernetes/website/pull/35123/files#diff-878506240f798243feafb

[2022-07-31 23:27] jihoon-seo commented on #35577
- `kubectl create secret`
  - `kubectl create docker-registry` -> `kubectl create secret docker-registry`
  - `kubectl create generic` -> `kubectl create secret generic`
  - `kubectl create tls` -> `kubectl create secret tls`
- `kubectl create service`
  - `kubectl create clusterip` -> `kubectl create service clusterip`
  - `kubectl create externalname` -> `kubectl create service externalname`
  -

[2022-08-01 02:18] howieyuen commented on #35584
+1

[2022-08-01 02:35] seokho-son commented on #35567
/triage accepted

[2022-08-01 02:38] ydFu commented on #35584
+1
I refer to the localized content of AKS and EKS, and hold the same opinion.

[ref1: AKS](https://docs.microsoft.com/zh-cn/azure/aks/operator-best-practices-identity)
[ref2: EKS](https://aws.amazon.com/cn/blogs/china/eks-certification-and-authorization-practice/)

/triage accepted

[2022-08-01 03:28] #34207 closed

[2022-08-01 03:30] tengqm commented on #35544
/close
Closing as a dup.

[2022-08-01 03:30] #35544 closed

[2022-08-01 03:31] tengqm commented on #35293
/close
Closing as a dup.

[2022-08-01 03:31] #35293 closed

[2022-08-01 03:31] tengqm commented on #35432
/kind bug
/triage accepted

[2022-08-01 04:40] #30647 closed

[2022-08-01 06:21] YuikoTakada opened #35594 "doc about preStop hook is not correct"
**This is a Bug Report**

**Problem:**
In [document](https://kubernetes.io/docs/tasks/configure-pod-container/attach-handler-lifecycle-event/#discussion) written as:
[code]
But actually, preStop hooks are also invoked when container in a pod is terminated due to LivenesProbe/StartupProbe failure. This is something different from "when a Pod is terminated".

**Proposed Solution:**
fix doc:
[code]
*

[2022-08-01 06:25] utkarsh-singh1 commented on #35541
Hi @dc-weizhenhua, It seems like these are the same as #35432 and #35544 .

[2022-08-01 08:24] vaibhav2107 commented on #31353
/remove-lifecycle stale

[2022-08-01 08:27] vaibhav2107 commented on #33202
/remove-lifecycle stale

[2022-08-01 08:28] vaibhav2107 commented on #31536
/remove-lifecycle stale

[2022-08-01 09:37] mengjiao-liu commented on #33301
PR #https://github.com/kubernetes/website/pull/33843 has been merged, so we can close this issue.

[2022-08-01 09:37] mengjiao-liu commented on #33301
/close

[2022-08-01 09:38] #33301 closed

[2022-08-01 09:43] dipankardas011 commented on #35594
@YuikoTakada If I understand the problem correctly then preStop hook is executed when Stop Event is sent to the container by the kubelet so if the preStop gets hanged or takes more time than graceTimeout it gets preStop hook failure event in pod logs

[2022-08-01 09:44] dipankardas011 commented on #35594
I guess if it encounter an return code != 0 from the preStop then crashLoopBackOff

[2022-08-01 09:45] mengjiao-liu commented on #32194
The Chinese version is synchronized with the English upstream version, so if you need to change the site directory structure, the upstream English directory needs to be changed.

Feel free to reopen this issue, preferably in English so that people who review the English upstream version can discuss it.

/close

[2022-08-01 09:45] #32194 closed

[2022-08-01 09:49] mengjiao-liu commented on #32088
page: https://kubernetes.io/zh-cn/docs/reference/kubernetes-api/common-definitions/resource-field-selector/

https://github.com/kubernetes/website/pull/32519 worked on it and done.
/close

[2022-08-01 09:50] #32088 closed

[2022-08-01 09:52] mengjiao-liu commented on #32089
page https://kubernetes.io/zh-cn/docs/reference/kubernetes-api/common-definitions/status/ has existed.

/close

[2022-08-01 09:52] #32089 closed

[2022-08-01 09:56] dipankardas011 commented on #35577
@jihoon-seo should this issue be closed?

[2022-08-01 09:58] mengjiao-liu commented on #32135
@taniaduggal  you can update the file https://github.com/kubernetes/website/blob/main/static/_redirects and add
[code]

[2022-08-01 10:02] mengjiao-liu commented on #33538
https://github.com/kubernetes/website/pull/34034 worked on this and done.

/close

[2022-08-01 10:04] mengjiao-liu commented on #33840
Is there any progress？

[2022-08-01 10:11] #34105 closed

[2022-08-01 10:14] mengjiao-liu commented on #34270
page  https://kubernetes.io/zh-cn/docs/reference/kubernetes-api/workload-resources/pod-template-v1/ has been translated.

https://github.com/kubernetes/website/pull/35395 worked on it and done.
/close

[2022-08-01 10:14] #34270 closed

[2022-08-01 11:15] rolfedh opened #35599 "[hi] Create a language-specific style guide for Hindi"
**This is a Feature Request**

We need a basic [language-specific contributor and style guide for Hindi](https://kubernetes.io/docs/contribute/localization/#language-specific-style-guide-and-glossary), similar to [the one that exists for Korean](https://kubernetes.io/ko/docs/contribute/localization_ko/).

Here's an approximation of the that Korean topic in Hindi:
[ko-style-guide-translated-to-hi.p

[2022-08-01 11:21] rolfedh opened #35600 "[hi] Umbrella issue for translating glossary entries to Hindi"
**This is a Feature Request**

**What would you like to be added**

We plan to hold a "team localization jam" for translating glossary entries to Hindi.

**Why is this needed**

Glossary entries provide building blocks of content that many topics include. Translating these first is a strategic priority.

**Comments**

[2022-08-01 11:21] rolfedh commented on #35600
/assign rolfedh

[2022-08-01 11:23] rolfedh commented on #35599
/assign rolfedh

[2022-08-01 11:25] rolfedh commented on #35599
Here is a rough approximation, which I created from the Korean guide using Google Translate.
[ko-style-guide-translated-to-hi.pdf](https://github.com/kubernetes/website/files/9233483/ko-style-guide-translated-to-hi.pdf)

[2022-08-01 11:40] #32006 closed

[2022-08-01 11:42] AmanSarraf commented on #35599
/assign AmanSarraf

[2022-08-01 11:44] AmanSarraf commented on #35600
/assign AmanSarraf

[2022-08-01 11:49] tengqm commented on #33840
This can be closed because all files have been translated.
/close

[2022-08-01 11:49] #33840 closed

[2022-08-01 11:52] sftim commented on #32715
/retitle Improve page about contributing to reference docs
/language en
/remove-lifecycle rotten

[2022-08-01 11:55] sftim commented on #32715
I wouldn't move that page into https://k8s.dev/docs/ as it is specific to work on the Kubernetes website

Part of this page is automatically generated. We could replace that automatically generated text with our own, manually managed text.

I think it would be better to:
- edit the title of https://kubernetes.io/docs/contribute/generate-ref-docs/quickstart/
- add a description to each page under h

[2022-08-01 12:08] sftim commented on #35600
/language hi
/retitle [hi] Umbrella issue for translating glossary entries to Hindi

[2022-08-01 12:08] sftim commented on #35600
/remove-kind feature

[2022-08-01 12:09] sftim commented on #35599
/retitle [hi] Create a language-specific contributor and style guide for Hindi
/language hi

[2022-08-01 12:11] sftim commented on #35588
Could we use [`blockade`](https://pkg.go.dev/k8s.io/test-infra/prow/plugins/blockade) to protect `/themes`? Changes there should be rare and need special review.

/remove-kind bug

People _attempting_ to update Docsy in a PR isn't really a bug. We could however document how to clear that when it happens; if this issue is a request for those docs, then I see it as more of a feature request.

[2022-08-01 12:14] sftim commented on #35519
Some people prefer `kind`; others prefer `minikube`. We've listed those two in alphabetical order; maybe we could make it extra clear that the docs are giving these equal footing.

We could also add either a blog article, extra context to the docs, or both, in order to help newcomers pick which tool to use depending on their work context. Along with `kind` and `minikube` a blog article could menti

[2022-08-01 12:22] taniaduggal commented on #35600
@I also want to work on this। May I @rolfedh

[2022-08-01 13:13] shannonxtreme commented on #31847
I created a rough outline of what a concept page might look like. I've opened it up for collaboration and suggestions in [this Google Doc](https://docs.google.com/document/d/1UcEFreczITmFhcHAgZkIpuEJD4m1AraiRQAtzpNIRaE/edit?usp=sharing).

After we get some feedback from docs and sig-auth on the outline, I will work on what can be child issues and how to split up the work to be more reviewer-friend

[2022-08-01 13:24] sftim opened #35602 "Label kubernetes.io/bootstrapping not registered / documented"
**This is a Bug Report**

**Problem:**
There is a label, `kubernetes.io/bootstrapping`, that is not yet registered or documented.

**Proposed Solution:**
Update
https://kubernetes.io/docs/reference/labels-annotations-taints/ to mention and document this label.

**Page to Update:**
https://kubernetes.io/docs/reference/labels-annotations-taints/

**Additional Information:**
Supporting evidence: http

[2022-08-01 13:25] sftim commented on #35588
@rolfedh which direction would you like this issue to take?

[2022-08-01 14:24] NitishKumar06 commented on #35602
/assign

[2022-08-01 14:24] AmanSarraf commented on #35600
yes sure welcome, you can assign this to yourself as /assign <your username>

[2022-08-01 14:50] anubha-v-ardhan commented on #35599
/triage accepted
Thank you @rolfedh @AmanSarraf, looking forward to creation of guide for Hindi!

[2022-08-01 15:03] anubha-v-ardhan commented on #35600
/triage accepted

Thank you @rolfedh

@AmanSarraf @taniaduggal and others, this being an umbrella issue, my suggestion would be to not assign ourselves since GitHub as a limit of 10 assigneed and we can easily have more than 10 contributors on this issue.

Also, addition of a checklist in issue description would make tracking the work easier, just like we did localizing the content intiitally (#29

[2022-08-01 15:05] taniaduggal commented on #35600
Oky @anubha-v-ardhan

[2022-08-01 15:39] #35374 closed

[2022-08-01 16:18] kadtendulkar opened #35604 "Outdated link on Release Managers page"
**Problem:**
The text [**Build Admins**](https://github.com/kubernetes/sig-release/blob/master/release-engineering/packaging.md) on [link](https://kubernetes.io/releases/release-managers/#handbooks) could be updated to [page](https://github.com/kubernetes/release/blob/master/hack/rapture/README.md).

Check the page [Release Managers](https://kubernetes.io/releases/release-managers/) for the proble

[2022-08-01 17:17] sftim commented on #35604
/retitle Outdated link on Release Managers page

[2022-08-01 17:18] sftim commented on #35604
/triage accepted

[2022-08-01 17:25] sftim commented on #31379
Can I check if somebody is working on this?

[2022-08-01 17:26] sftim commented on #30681
/triage accepted

[2022-08-01 17:26] sftim commented on #30681
What should the next steps on this issue look like?

[2022-08-01 17:26] sftim commented on #30944
Can I check if somebody is working on this?

[2022-08-01 17:27] sftim commented on #34756
Can I check if somebody is working on this?

[2022-08-01 17:27] sftim commented on #34761
/language en

[2022-08-01 17:29] sftim commented on #34761
https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/ is about the _downward API_.

I think it's reasonable to hyperlink to https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/#accessing-the-service
/triage accepted
/priority backlog

If this issue goes stale, it doesn't feel like it's be a priority to keep it alive.

[2022-08-01 17:34] #30578 closed

[2022-08-01 18:46] #32049 closed

[2022-08-01 19:49] vaibhav2107 commented on #33077
/remove-lifecycle stale

[2022-08-01 20:04] vaibhav2107 commented on #27534
/remove-lifecycle stale

[2022-08-01 20:05] vaibhav2107 commented on #27596
/remove-lifecycle stale

[2022-08-01 20:07] vaibhav2107 commented on #30999
/remove-lifecycle stale

[2022-08-01 20:09] vaibhav2107 commented on #32881
/remove-lifecycle stale

[2022-08-01 21:58] benmoss opened #35613 "ValidatingWebhookConfiguration asterisks/wildcards do not appear correctly"
**This is a Bug Report**

**Problem:**
Under `webhooks.rules.apiGroups` on the [API reference for ValidatingWebhookConfigurations](https://kubernetes.io/docs/reference/kubernetes-api/extend-resources/validating-webhook-configuration-v1/), it reads:

The [docstring from the code](https://github.com/kubernetes/kubernetes/blob/acc64759f5fc434f325756f438f676daa3f0ed28/pkg/apis/admissionregistration/ty

[2022-08-01 23:07] jihoon-seo commented on #35577
@dipankardas011
@NitishKumar06 closed his prior PR, and opened [another one in k/k](https://github.com/kubernetes/kubernetes/pull/111602).

IMO it would be good to keep this issue open until the error in K8s Docs has been resolved. 😊

/kind bug

[2022-08-02 00:38] NitishKumar06 commented on #34756
@sftim 👋

[2022-08-02 00:56] KimDoubleB opened #35619 "[ko] Add `cascading deletion` to the Korean glossary"
**This is a Feature Request**

**What would you like to be added**

Add `cascading deletion` to [the Korean glossary](https://kubernetes.io/ko/docs/contribute/localization_ko/#%ED%95%9C%EA%B8%80%ED%99%94-%EC%9A%A9%EC%96%B4%EC%A7%91) so that it can be translated into `캐스케이딩 삭제`.

**Why is this needed**

It may be confusing to translate and understand.

**Comments**

/language ko
/assign

[2022-08-02 01:16] Sea-n commented on #35584
I think we all agree to the translation @windsonsea provided in [this comment](https://github.com/kubernetes/website/issues/35584#issuecomment-1200326024).

Hey @windsonsea, may I ask you to add it into the glossary of terms? 🙇‍♂️

https://github.com/kubernetes/website/blob/a3f48fd544836e2568a1fdac6481bf6f307acea5/content/zh-cn/docs/contribute/localization_zh.md?plain=1#L340-L350

[2022-08-02 01:34] dipankardas011 commented on #35577
Okay 👍

[2022-08-02 02:42] #34897 closed

[2022-08-02 03:38] windsonsea commented on #35584
Ok, let me have a try to add this glossary.

[2022-08-02 04:20] Seo-yul opened #35623 "[ko] Translate concepts/storage/projected-volumes into Korean"
This is a Feature Request

What would you like to be added
Translate content/en/docs/concepts/storage/projected-volumes.md into Korean

◾ Page: https://kubernetes.io/docs/concepts/storage/projected-volumes/
◾ File: https://github.com/kubernetes/website/blob/dev-1.24-ko.3/content/en/docs/concepts/storage/projected-volumes.md

Why is this needed
Not translated yet

Comments
/language ko
/assign

[2022-08-02 04:40] KobayashiD27 opened #35624 "[ja] Translate concepts/storage/storage-limits into Japanese"
This is a Feature Request

What would you like to be added

Translate https://kubernetes.io/docs/concepts/storage/storage-limits/ into Japanese.

Why is this needed

This page has not been translated.

Comments

/language ja
/assign

[2022-08-02 05:13] avinal commented on #35482
Thanks

[2022-08-02 05:23] Shubham82 commented on #35482
Welcome @avinal

[2022-08-02 05:46] YuikoTakada commented on #35594
@dipankardas011 Thank you for your comments. Your explanation helped me understand.
I think doc is not correct strictly. what written in doc is a little bit different from actual behavior(and also what you explained). I suggest fix doc in PR #35595 :
[code]
[code]

[2022-08-02 06:38] #35584 closed

[2022-08-02 07:30] mk46 commented on #35449
Addressed in https://github.com/kubernetes/website/pull/35450
/close

[2022-08-02 07:30] #35449 closed

[2022-08-02 07:34] saschagrunert commented on #35341
We will do this in v1.26, according to the KEP update proposed in https://github.com/kubernetes/enhancements/pull/3451

[2022-08-02 07:53] yueyi0618 opened #35628 "Kubernetes API 概念"
名字空间作用域的资源：
GET /apis/GROUP/VERSION/RESOURCETYPE - 返回所有名字空间中指定资源类型的全部实例的集合
GET /apis/GROUP/VERSION/namespaces/NAMESPACE/RESOURCETYPE - 返回名字空间 NAMESPACE 内给定资源类型的全部实例的集合

is '/apis/GROUP/VERSION/RESOURCETYPE' wrong？maybe '/apis/GROUP/VERSION/namespaces/RESOURCETYPE'?

[2022-08-02 08:00] dipankardas011 commented on #35594
@YuikoTakada I am just PR wrangler so you cannot make me to review pr sorry for that

[2022-08-02 08:26] seokho-son commented on #35491
/triage accepted

[2022-08-02 08:27] chao007 opened #35629 "CSI Volume Cloning"
Cloning is only supported within the same Storage Class.
Cloning has supported different storage class
https://github.com/kubernetes-csi/external-provisioner/pull/699/commits/96700cb7637640bcef39fc9e70244fb71b9c5ab4

[2022-08-02 09:16] vaibhav2107 commented on #33061
/remove-lifecycle stale

[2022-08-02 09:32] Seo-yul commented on #35289
/close

[2022-08-02 09:32] #35289 closed

[2022-08-02 10:07] sftim commented on #31994
/reopen
/remove-lifecycle rotten
/lifecycle frozen

[2022-08-02 10:41] sftim commented on #35629
Hello @chao007

It sounds like you might want to report that a web page is wrong. If that's right, what's the URL of the webpage? Also, could you quote or point out the text in that page that isn't right?

/language en
/triage needs-information

[2022-08-02 11:00] Kartik494 commented on #35629
/sig storage

[2022-08-02 11:47] Shubham82 opened #35631 "Incorrect FEATURE STATE for Serving and Terminating."
**This is a Bug Report**

The FEATURE STATE for [Serving](https://kubernetes.io/docs/concepts/services-networking/endpoint-slices/#serving) and [Terminating](https://kubernetes.io/docs/concepts/services-networking/endpoint-slices/#terminating) is mentioned `Kubernetes v1.20 [alpha]`  under [EndpointSlices](https://kubernetes.io/docs/concepts/services-networking/endpoint-slices/) which is wrong, As

[2022-08-02 11:47] Shubham82 commented on #35631
/assign

[2022-08-02 12:05] Shubham82 commented on #35631
Fixed it here: #35632

[2022-08-02 12:13] jihoon-seo commented on #35628
- `zh` page: https://kubernetes.io/zh-cn/docs/reference/using-api/api-concepts/
- `en` page: https://kubernetes.io/docs/reference/using-api/api-concepts/

I guess that this issue might be `kind/support`.

[2022-08-02 12:16] jihoon-seo commented on #35623
/triage accepted

[2022-08-02 12:18] jihoon-seo commented on #35619
/triage accepted
이번 기회에~ 해당 용어집을 한번 업데이트 (용어들 추가/수정 등) 하는 것도 좋을 것 같습니다 (여러 사람들이 함께) 😊

[2022-08-02 12:22] jihoon-seo commented on #35619
아 현재 해당 용어집에 `cascading : 캐스케이딩(cascading)` 항목이 있어서
`cascading deletion : 캐스케이딩 삭제` 항목을 추가하는 건은.. 살짝 고민이 되기도 하네요.. 😅
잠시 되돌려 보겠습니다.
/remove-triage accepted

[2022-08-02 12:26] KimDoubleB commented on #35619
@jihoon-seo
앗 계속 헷갈리네요 🥲 뭔가 있다 없다 Context가 헷갈려서, `deletion`으로 확인하고 없는 줄 알았네요.
말씀해주신대로 조금 애매한 것 같습니다. 추후 다른 term들에 대해 기여해보는게 좋을 것 같습니다.
issue는 close 해놓겠습니다. 꼼꼼한 확인 감사드립니다 🙇🏻‍♂️

[2022-08-02 13:05] sftim commented on #35631
/language en
/triage accepted

[2022-08-02 13:10] sftim commented on #35613
Thanks. The generation of these documentation uses a lot of heuristics, and there's no clear agreement within the project about whether or not we can treat the upstream code as Markdown or not.

/triage accepted
However, this is really an issue with the code in https://github.com/kubernetes-sigs/reference-docs/

[2022-08-02 13:31] bishal7679 commented on #35613
@benmoss I would like to work on that issue
Can you please tell me exactly what I have to change?

[2022-08-02 13:53] bishal7679 commented on #35613
/assign

[2022-08-02 13:59] benmoss commented on #35613
If I knew what to change I would just change it 😄 . I don't know where the code that controls this is, @sftim suggested its in https://github.com/kubernetes-sigs/reference-docs/ but I'm not sure which part. I think it might be a slightly complicated problem since it sounds like the bug is arising from treating the Go comments as Markdown, and there's ambiguity as to whether that's okay or not.

[2022-08-02 14:01] bishal7679 commented on #35613
@benmoss  I am looking a problem here is as it is starting the sentence '*' is not showing
but if we use '\*' instead of '*' it is showing correctly

[2022-08-02 14:02] bishal7679 commented on #35613
`'\*'` instead of `'*'`

[2022-08-02 14:04] benmoss commented on #35613
I don't think we want to change the comments in the Go code, but I don't really know

[2022-08-02 14:06] bishal7679 commented on #35613
@benmoss I am not saying to change in the Go code. I can use `'\*'` in README file

[2022-08-02 14:52] Socolin opened #35640 "Pod Priority and Preemption - Negative value not documented"
Hello,

Please can you document negative value for priority in https://kubernetes.io/docs/concepts/scheduling-eviction/pod-priority-preemption/

This is only explain in this blob, https://kubernetes.io/blog/2019/04/16/pod-priority-and-preemption-in-kubernetes/ but not in the main documentation

[2022-08-02 15:27] sftim opened #35641 "Add reference for KUBERNETES_EXEC_INFO"
**This is a Feature Request**

**What would you like to be added**
Kubernetes  can set an environment variable, `KUBERNETES_EXEC_INFO`. See https://k8s.io/docs/reference/access-authn-authz/authentication/#client-go-credential-plugins

I'd like us to have documentation for what the contents of that variable are and what other parties should expect.

**Why is this needed**
- This would help people w

[2022-08-02 15:31] sftim commented on #35640
I agree. It is not clear enough that you can have a negative priorioty. We should make the actual maximum and minimum permitted values clear.

However, the meaning of a negative priority is a _convention_. Different clusters can use their own interpretations. In the docs, we shouldn't make it appear as if the sign of the pod priority value is meaningful to core Kubernetes.

/language en
/triage ac

[2022-08-02 16:19] kadtendulkar opened #35642 "Broken link on Glossary page"
**Problem:**
The text [**Code Contributor**](https://kubernetes.io/docs/community/devel/) on [link](https://kubernetes.io/docs/reference/glossary/) is not working, it should point to these https://kubernetes.io/docs/reference/glossary/?user-type=true#term-code-contributor

Check the page [Glossary](https://kubernetes.io/docs/reference/glossary/) for the problem.

**Page to Update:**
https://kubern

[2022-08-02 16:43] kadtendulkar opened #35643 "Broken hyperlink on Pod Topology Spread Constraints page"
**Problem:**
The text [**API above**](https://kubernetes.io/docs/concepts/scheduling-eviction/topology-spread-constraints/#api) on [link](https://kubernetes.io/docs/concepts/scheduling-eviction/topology-spread-constraints) is not working, it should point to these https://kubernetes.io/docs/concepts/scheduling-eviction/topology-spread-constraints/#example-topologyspreadconstraints-with-nodeaffinity

[2022-08-02 17:41] vaibhav2107 commented on #35640
/assign

[2022-08-02 20:22] YashasviChaurasia commented on #30965
/assign @YashasviChaurasia

[2022-08-02 23:46] interconnectix commented on #35432
The latest working image that I found that I specified in my stateful set to work is 'image: mysql:5.7.36'

[2022-08-03 01:59] vividcloudpark commented on #35432
This is matter of Oracle's Mysql team, not K8s team. They changed default image's os base from  debian to Oracle linux. It seems to Oracle linux doesn't contains hostname package. You'd better to use `mysql:5.7-debian` tan `mysql:5.7` (They set default as Oracle one, former was debian one).

[2022-08-03 02:26] Kartik494 commented on #33160
/remove-lifecycle stale

[2022-08-03 03:26] mengjiao-liu commented on #34733
We have completed all tasks!  🎉🎉🎉

[2022-08-03 04:03] #12323 closed

[2022-08-03 04:11] having-dlrow commented on #35188
/assign

[2022-08-03 04:23] #35310 closed

[2022-08-03 04:43] windsonsea commented on #34733
🎉🎉🎉

[2022-08-03 05:32] seokho-son commented on #35491
/close

[2022-08-03 05:32] #35491 closed

[2022-08-03 06:27] twilight0620 opened #35650 "[zh] Translate 2021-04-16-volume-health-monitoring-alpha.md into Chinese"
Problem:
2021-04-16-volume-health-monitoring-alpha.md does not have chinese version

Proposed Solution:
add chinese docs in website

Comments
/language zh
/assign

[2022-08-03 06:36] tengqm commented on #34733
All tasks completed. Wonderful job, team!

[2022-08-03 06:36] #34733 closed

[2022-08-03 06:48] tengqm commented on #35613
The upstream source code has to be changed. https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/admissionregistration/v1/types.go#L26-L27

There are many similar cases in the same file.

This is not an ideal solution. We could have a separate repo hosting the API specification because the API is the core of the container orchestration platform. We do not want the API specif

[2022-08-03 08:53] neolit123 commented on #34476
as discussed in the sig windows meeting yesterday, the removal of the old page with idea to have single linux / windows page might have been a bit too early. the windows setup is still quite different around cni.

we may have to have to link to external resources such as the Calico for Windows guide and tagging these parts as 'third party' at a k8s.io page.

@marosset @jsturtevant

[2022-08-03 08:59] sftim opened #35655 "Document --disable-compression-for-client-ips API server command line parameter"
**This is a Feature Request**

**What would you like to be added**
The `kube-apiserver` now supports exempting IP address ranges from response compression (command line argument `--disable-compression-for-client-ips`)

**Why is this needed**
This setting is useful for performance. We could (should?) mention it in https://kubernetes.io/docs/setup/best-practices/
(although, right now, there is no pa

[2022-08-03 08:59] tengqm commented on #35650
/triage accepted

[2022-08-03 09:06] sftim commented on #35613
We might be able to improve things incrementally with more heuristics in the code generator. I don't object to those incremental improvements, but it's a _lot_ of effort per fixed `*`.

[2022-08-03 09:08] YuikoTakada opened #35656 "Broken link in ja/docs/concepts/policy/limit-range/"
**This is a Bug Report**

**Problem:**
Link to LimitRanger design document in https://kubernetes.io/ja/docs/concepts/policy/limit-range/ is broken.
F) https://git.k8s.io/community/contributors/design-proposals/resource-management/admission_control_limit_range.md
T) https://git.k8s.io/design-proposals-archive/resource-management/admission_control_limit_range.md

**Proposed Solution:**
fix link in d

[2022-08-03 09:43] tengqm commented on #35613
Do you mind elaborate the "heuristics" we can employ? A '*' can be used to for italics, it can be used to mark bullet items, and it can be used as a literal string.

[2022-08-03 09:58] taniaduggal commented on #35600
I am working on content/en/docs/reference/glossary/cidr.md
@AmanSarraf  @rolfedh

[2022-08-03 09:59] sftim commented on #35613
We could give special treatment to quoted single asterisks:
[code]

Some of those asterisks mean emphasis; others don't.

[2022-08-03 10:06] taniaduggal opened #35663 "Localize content/en/docs/reference/scheduling/_index.md into Hindi"
/assign
/needs-triage

[2022-08-03 10:27] jihoon-seo commented on #35663
`en` page: https://kubernetes.io/docs/reference/scheduling/
/language hi

[2022-08-03 10:28] jihoon-seo commented on #35656
/language ja
/assign @YuikoTakada

[2022-08-03 11:20] spurin opened #35666 "New pull request guides user to url that 404's"
**This is a Bug Report**

Hi Team,

Hope you're all doing well.

**Problem:**

When raising a PR for kubernetes/website, the guiding text is as follows -

[code]

The URL listed, sadly, gives a 404.

**Proposed Solution:**

Either we fix the target url or update to an alternative location.  Thoughts?

Best Regards

James Spurin

[2022-08-03 12:15] sftim commented on #35666
The URL https://kubernetes.io/docs/contribute/suggesting-improvements/ works. Fixes welcome.

[2022-08-03 12:15] sftim commented on #35666
/triage accepted

[2022-08-03 12:19] Babapool commented on #35666
I would like to work on this issue. Thanks.
/assign

[2022-08-03 12:27] sftim commented on #34476
A couple of things:
- We could use a tutorial or task page on adding a node to your cluster anyway. https://github.com/kelseyhightower/kubernetes-the-hard-way/blob/master/docs/09-bootstrapping-kubernetes-workers.md could be an inspiration
  I don't want something GCE-specific, but I am happy to go into more detail **specifically for nodes** (we've decided as a project that we won't yet host an ent

[2022-08-03 13:52] kyungjin99 opened #35668 "[ko] Translate `docs/concepts/overview/working-with-objects/finalizers.md` into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate `docs/concepts/overview/working-with-objects/finalizers.md` into Korean.

- Page: https://kubernetes.io/docs/concepts/overview/working-with-objects/finalizers/
- File: https://github.com/kubernetes/website/blob/main/content/en/docs/concepts/overview/working-with-objects/finalizers.md

**Why is this needed**
This has not

[2022-08-03 14:04] vaibhav2107 commented on #31228
/remove-lifecycle stale

[2022-08-03 14:05] vaibhav2107 commented on #32688
/remove-lifecycle stale

[2022-08-03 14:36] KnVerey opened #35669 "Kustomize bug was documented as a feature"
**This is a Bug Report**

**Problem:**
Commit https://github.com/kubernetes/website/commit/b9da040a08373cf764f4e93df32df182bbd8a835 / PR https://github.com/kubernetes/website/pull/30348. That PR documented a bug in Kustomize as though it were a feature, and unfortunately nobody from the Kustomize team saw the PR.

The behaviour in question is considered very problematic and clearly undesirable, as

[2022-08-03 14:56] sftim commented on #35669
/language en
/triage accepted

[2022-08-03 15:21] sftim commented on #35669
/priority important-longterm

We need to decide on exactly what the fix will look like.
/sig cli

[2022-08-03 15:23] #35666 closed

[2022-08-03 16:07] NitishKumar06 commented on #34761
@sftim Do you mean we should try to add a little documentation in https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/ to hyperlink https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/#accessing-the-service ?

[2022-08-04 01:16] jihoon-seo opened #35686 ""param" shortcode is not working in some cases"
**This is a Bug Report**

**Problem:**
"param" shortcode is not working in some cases.

https://github.com/kubernetes/website/blob/main/content/en/docs/tasks/administer-cluster/kubeadm/upgrading-windows-nodes.md?plain=1

https://github.com/kubernetes/website/blob/7ae76503960e5dd735ce02caa4fd16fc502c2464/content/en/docs/tasks/administer-cluster/kubeadm/upgrading-windows-nodes.md?plain=1#L35-L38

![

[2022-08-04 01:32] jihoon-seo commented on #35668
@kyungjin99 감사합니다!
/triage accepted

[2022-08-04 04:53] seokho-son commented on #35567
/close

[2022-08-04 04:53] #35567 closed

[2022-08-04 06:05] Kartik494 commented on #35629
Hi @chao007 @sftim i would like to explain this issue if i am not wrong @chao007 wants to update this [page](https://kubernetes.io/docs/concepts/storage/volume-pvc-datasource/) . As https://github.com/kubernetes-csi/external-provisioner/pull/699 is merged so now users will be able to clone a volume with a different Storage Class. The destination volume no longer has to be the same storage class as

[2022-08-04 06:07] Kartik494 commented on #35629
I would like to work on this.
/assign

[2022-08-04 06:07] Shubham82 commented on #35686
Hi @jihoon-seo
I think it is due to the comment mentioned above the URL i.e. `# replace v1.24.0 with your desired version`, so if we remove that then it will show the version in the URL.

`curl.exe -Lo <path-to-kubeadm.exe>  https://dl.k8s.io/v1.24.0/bin/windows/amd64/kubeadm.exe
`

or another solution is to enclose the URL in inverted commas (" "), it will show the full version in the URL.  I tri

[2022-08-04 06:09] Shubham82 commented on #35686
What do you think is the best solution for it?
IMO it would be  `enclose the URL in inverted commas (" "), it will show the full version in the URL`

[2022-08-04 07:19] jihoon-seo commented on #35686
@Shubham82 thank you for the research!
It seems somehow weird for me that the line `# replace {{< param "fullversion" >}} with your desired version` with single `#` causes this problem, and that removing that line or adding one more `#` resolves the problem.

Among the options you suggested, I also prefer the option you chosen: `enclose the URL in inverted commas (" "), it will show the full versi

[2022-08-04 07:29] chao007 commented on #35629
@sftim Sorry my bad..
Thanks for @Kartik494 pointing it.

[2022-08-04 08:01] seokho-son commented on #34903
하기 Task들은 아직 PR이 오픈되지 않은 것으로 보입니다. :)
현 마일스톤(ko.2)를 일정이 지연되고 있어서, 빠른 PR 처리가 필요한 상태입니다.

-  M40 ~ M41 : @gy-ulbak96
-  M42 ~ M43 : @NAMU1105

혹시 작업 현황이 어떤지 문의 드립니다.
작업 마무리 단계에 있으신 경우 빠르게 PR 오픈을 부탁드리고,
혹시 작업을 아직 시작 못하셨다면 댓글로 알려주세요. :)

[2022-08-04 08:10] Shubham82 commented on #35686
Hi @jihoon-seo
When I tried to build it locally without any changes, it will show the version in the URL and also in [Upgrade kubelet and kube-proxy](https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/upgrading-windows-nodes/#upgrade-kubelet-and-kube-proxy) the steps mentioned is not correct as per the code.

mentioned in [upgrading-windows-nodes.md](https://github.com/kubernetes/website/

[2022-08-04 08:18] neolit123 commented on #35686
/sig windows cluster-lifecycle docs

[2022-08-04 08:19] #35650 closed

[2022-08-04 09:02] utkarsh-singh1 commented on #33323
Thanks @WilliamDenniss , that's a good idea to propose , and I think i still have not found any detailed explanation of operator fields

[2022-08-04 09:10] jihoon-seo commented on #35686
@Shubham82

[Prerequisites' versions in my dev env]
[code]

[Running the website locally using Hugo]
[code]

[code]

I cannot find why this fails.

---

[Running the website using a container]
[code]

![image](https://user-images.githubusercontent.com/46767780/182809592-3f3e96c9-fc2d-46b8-b2a7-1839ca987b30.png)

The problem persists.

[2022-08-04 09:21] kundan2707 commented on #34413
/assign

[2022-08-04 09:55] theluke opened #35697 "Connecting Applications with Services"
Hello,
All previous steps work fine, but when I run the command
` kubectl exec curl-deployment-646445496f-8xlnk  -- curl https://my-nginx --cacert /etc/nginx/ssl/tls.crt`
I receive this error
`curl: (51) SSL: certificate subject name 'nginxsvc' does not match target host name 'my-nginx'`
I am on ubuntu 20
What am I doing wrong?

[2022-08-04 11:04] #19611 closed

[2022-08-04 11:19] pacoxu commented on #33509
/cc @haircommander

[2022-08-04 11:33] Shubham82 commented on #35686
Hi, @jihoon-seo I tried both methods to build the website locally, and both give different outputs, with [Running the website using a container](https://github.com/kubernetes/website#running-the-website-using-a-container) the problem still persists. below are the following screenshots of that:

![Hugo-Screenshot3](https://user-images.githubusercontent.com/50987400/182836466-a867b968-e7ab-4757-ade4

[2022-08-04 11:49] jihoon-seo commented on #35686
@Shubham82 Hmm, I can see that the Hugo version you are using (v0.76.5) is somewhat old, compared to what Netlify is using to build `k8s.io`.

https://github.com/kubernetes/website/blob/main/netlify.toml
https://github.com/kubernetes/website/blob/9ee4245ccf3b7401f20471ab0c46696ded055c64/netlify.toml#L10-L12

Could you try upgrading your Hugo, and then check whether the error persists or not? 😊

[2022-08-04 12:02] suluozuishuai opened #35699 "[zh-cn] Fix table formatting errors on the kubectl page"
页面的显示从操作哪里开始，web的显示，格式出现错误，读起来很难受。排版格式有问题，

[2022-08-04 12:31] haircommander commented on #33509
/assign

yeah I agree this is good criteria for beta. This kep having missed an alpha update in 1.25, it's not clear to me which release it will arrive in

[2022-08-04 12:45] yantianpi opened #35701 "使用 Service 连接到应用"
创建service节的“ targetPort”和‘port’解释反了

[2022-08-04 12:51] kathiresan-in commented on #20810
Hi, Play with Kubernetes is down. please help to bring it up.
https://labs.play-with-k8s.com

[2022-08-04 13:25] Shubham82 commented on #35686
Sure I update Hugo and try it again!

[2022-08-04 14:30] gy-ulbak96 commented on #34903
아직 M40은 작업 초기상태입니다...M41은 내일 오전 중으로 PR을 올리도록 하겠습니다.
일정에 영향을 끼치게 되어 죄송합니다..

[2022-08-04 14:36] NAMU1105 commented on #34903
아직 작업 시작 못 했습니다. 죄송합니다.
내일 중으로 pr 올려도 될까요?

[2022-08-04 15:21] rameez523 opened #35709 "Deploy and Access the Kubernetes Dashboard"
I applied istio mesh service rules to access the Kubernetes cluster from the public subdomain but I am getting this error.

Client sent an HTTP request to an HTTPS server.

[2022-08-04 16:11] kadtendulkar commented on #35604
Since PR is merged, I'm closing the issue.
/close

[2022-08-04 16:12] #35604 closed

[2022-08-04 17:01] seokho-son commented on #34903
현황 공유 감사합니다! :)
그럼 M41처리를 부탁드립니다. 제가 M40을 처리해보겠습니다! M41도 너무 무리하실 필요는 없습니다. :)

[2022-08-04 17:04] seokho-son commented on #34903
넵! 공유 감사합니다. 수정 분량이 많지 않아서 내일 중에 올려주시면 빠르게 리뷰해서 정리할 수 있을 것 같습니다. :)
감사합니닷! :)

[2022-08-04 17:37] sftim commented on #35686
/remove-sig windows
/remove-sig cluster-lifecycle

Nothing for folks from those SIGs to fix.

[2022-08-04 17:38] sftim commented on #35709
/kind support

I think this is a request for help or advice.

[2022-08-04 17:39] sftim commented on #33169
Duplicated by https://github.com/kubernetes/website/issues/35697

[2022-08-04 17:39] sftim commented on #33169
Duplicated by https://github.com/kubernetes/website/issues/34322

[2022-08-04 17:40] sftim commented on #34322
This is a duplicate I think (see above mention)
/triage duplicate

[2022-08-04 17:40] sftim commented on #35697
This is a duplicate I think (see above mention)
/triage duplicate

[2022-08-04 18:40] Jefftree opened #35712 "Code blocks not rendered properly in API Documentation (Quantity)"
**This is a Bug Report**

**Problem:** Code blocks not rendered properly in documentation

See https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.24/#quantity-resource-core

The Quantity description has a code block embedded in the code https://github.com/kubernetes/kubernetes/blob/3ffdfbe286ebcea5d75617da6accaf67f815e0cf/api/openapi-spec/v3/apis__node.k8s.io__v1_openapi.json#L177

(

[2022-08-04 18:49] sftim commented on #35712
/remove-kind bug

/kind feature

We see reference doc generation as best-effort. There's definitely room for improvement.

[2022-08-04 19:17] shannonxtreme commented on #30681
@sftim my thoughts:

This doesn't belong on the suggested page because it's specific to containerd. I'd say let's update [Changing the container runtime from Docker Engine to containerd](https://kubernetes.io/docs/tasks/administer-cluster/migrating-from-dockershim/change-runtime-containerd/) as follows:

* In Before you begin, add a line to "Read the known issues section"
* Add a section at the en

[2022-08-04 19:21] brandond commented on #30681
According to the comment at https://github.com/google/cadvisor/issues/2785#issuecomment-1205538108 the only current work-around for containerd users is to deploy a standalone cadvisor instance, built from the `containerd-cri` branch. The stats exposed by the kubelet will be broken until 1.25 or 1.26 when [KEP-2371](https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/2371-cri-pod-c

[2022-08-04 19:30] afmsavage opened #35713 "Podspec startup probe description is incorrect"
In the Pod > Container > Lifecycle > startupProbe section of [this doc](https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/pod-v1/#lifecycle-1), it states that if the startupProbe fails it will restart the pod: "If this probe fails, the Pod will be restarted, just as if the livenessProbe failed".  This is incorrect since this is a container specific probe, and a livenessProbe o

[2022-08-04 19:33] shannonxtreme commented on #30681
Is there a more involved process then than just installing the `-containerd-cri` package?

[2022-08-04 19:37] brandond commented on #30681
it's not a package, it's a branch of the cadvisor project: https://github.com/google/cadvisor/tree/containerd-cri

I'm not sure if they're publishing binaries or images from that branch, nor do I have a sample daemonset deployment for it. I'm honestly not even sure if it can be deployed to a pod or if it needs to be run on the host; I've not tried myself.

[2022-08-04 21:47] klaases commented on #35519
Hi @sftim, yes, I would certainly be interested:

- equal footing for both `kind` and `minikube`
- blog article on minikube
- extra content in the docs*

For "extra content in the docs", do you have an example of which docs to start with first?

I'd like to keep the issue open a little longer in case anyone else has feedback, and to help with planning.

[2022-08-04 21:48] shannonxtreme commented on #30681
Could we say:

"To collect these metrics, [deploy the standalone cAdvisor DaemonSet](https://github.com/google/cadvisor/tree/master/deploy/kubernetes). Set the $VERSION variable to any cAdvisor version that has the `-containerd-cri` suffix, such as `VERSION=0.45.0-containerd-cri`"

?

[2022-08-04 22:00] brandond commented on #30681
I think that needs more work, for example the default DaemonSet only mounts the docker socket path; it does not mount the containerd socket, and even when I modify it to do so the metrics appear to be missing most of the important labels. Perhaps @bobbypage has some suggestions.

[2022-08-04 22:03] shannonxtreme commented on #30681
This feels like it would need to be its own task page, possibly linked from our existing Metrics doc as well

[2022-08-05 02:04] seokho-son commented on #34903
@gy-ulbak96 @NAMU1105
너무 무리하실 필요는 없고~ 현황만 잘 공유해주시면 될 것 같습니다! :)
기여는~ 서로 도와가며 함께 처리할 수 있으니까요.
혹시라도 어려움이 있으면 언제든 편하게 알려주세요~~~

[2022-08-05 02:28] mengjiao-liu commented on #35701
page：
https://kubernetes.io/zh-cn/docs/concepts/services-networking/connect-applications-service/#%E5%88%9B%E5%BB%BA-service

I checked the code, there should be no explanation error, the specific code location is as follows:

`targetPort`
https://github.com/kubernetes/kubernetes/blob/bd9444c1cfd438690dc21c31404dd79ab60dc6cb/staging/src/k8s.io/api/core/v1/types.go#L4632

`port`:
https://github.com

[2022-08-05 03:14] taniaduggal commented on #35663
@anubha-v-ardhan needs triage.

[2022-08-05 04:09] kmogal commented on #20810
Hi !, play with k8s is down from 04th August. Help to bring it up. Thanks, kaleem

[2022-08-05 05:05] taniaduggal commented on #35600
Now , I am working on content/en/docs/reference/glossary/annotation.md @rolfedh

[2022-08-05 05:52] seokho-son commented on #34903
M40은 제가 PR을 올렸습니다! :) #35721

[2022-08-05 06:42] Shubham82 commented on #35686
Hi @jihoon-seo
I confirmed that on updating Hugo to `v0.101.0` the error is also reproducible with the [Running the website locally using Hugo](https://github.com/kubernetes/website#running-the-website-locally-using-hugo).

Thanks!

[2022-08-05 06:54] Shubham82 commented on #35686
Another solution for it is if we write the text under the `shell` block instead of  `powershell`  will resolve this. please see this:

[code]
[code]
[code]

[code]
[code]

[2022-08-05 06:55] Shubham82 commented on #35686
if it seems good then I will open a PR for it!

[2022-08-05 07:26] jihoon-seo commented on #35686
@Shubham82 it lgtm, please do so!
/assign @Shubham82

[2022-08-05 08:04] Shubham82 commented on #35686
Fixed it here: #35725

[2022-08-05 09:28] sftim commented on #35629
/remove-triage needs-information

[2022-08-05 09:44] windsonsea commented on #35699
/triage accepted

[2022-08-05 10:09] NAMU1105 commented on #34903
안녕하세요 멘토님! 지금 제가 깃이 익숙하지 않아서 고군분투하고있습니다.
조금만 더 기다려주세요! 감사합니다

[2022-08-05 10:19] seokho-son commented on #34903
@NAMU1105 넵! 혹시 궁금한 사항이 있으면 알려주세요~~~

[2022-08-05 11:37] #35092 closed

[2022-08-05 11:37] #35555 closed

[2022-08-05 11:37] #12324 closed

[2022-08-05 11:44] rollony opened #35735 "[ko] Translate docs/concepts/security/rbac-good-practices/ into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate "docs/concepts/security/rbac-good-practices/" into Korean.

**Why is this needed**

Not translated into Korean yet.

**Comments**

original entry: https://kubernetes.io/docs/concepts/security/rbac-good-practices/

/language ko
/assign

[2022-08-05 11:48] NAMU1105 commented on #34903
알려주신 덕분에 pr 올려두었습니다
기다려주셔서 너무 감사합니다 🙇‍♀️

[2022-08-05 11:53] windsonsea opened #35736 "[zh-cn] Localize /blog/_posts/2022-08-04-kubernetes-1.25-deprecations-and-removals.md"
**This is a Feature Request**
Will localize this blog: https://kubernetes.io/blog/2022/08/04/upcoming-changes-in-kubernetes-1-25/

**Why is this needed**
Missing zh-cn text

[code]

[2022-08-05 11:53] windsonsea commented on #35736
/assign

[2022-08-05 12:37] sftim commented on #35736
/language zh

[2022-08-05 13:33] rolfedh commented on #35600
That's great, Tania!

On Fri, Aug 5, 2022 at 1:05 AM Tania Duggal ***@***.***>
wrote:

--

Rolfe Dlugy-Hegwer

(He | Him | His)

Senior Technical Writer, US ENG Content Services

Cloud Application Development & Services

Red Hat North Carolina <https://www.redhat.com/>

***@***.***

M: 910-409-8007     IM: rdlugyhe
<https://red.ht/sig>To book a meeting with me, click here.
<https://calendly.com/ro

[2022-08-05 15:10] wh81752 commented on #20849
Can we please reopen this -- rather important -- topic?

The doc about creating a configMap from a folder should very clearly mention that binary data -- identified by the absence of a valid UTF-8 character -- goes into 'binaryData' while non-binary data goes into 'data'.

In all honesty, this rule is very bizarre, not logical, intransparent and IMHO not necessary since it's probably best to store

[2022-08-05 15:52] andresgarcia0313 commented on #32770
something has been known

[2022-08-05 16:24] kadtendulkar opened #35740 "Broken link on Storage Classes page"
**Problem:**
The text [**Storage Policy Based Management for dynamic provisioning of volumes**](https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/policy-based-mgmt.html) on [link](https://kubernetes.io/docs/concepts/storage/storage-classes/) is not working, it should point to these https://github.com/vmware-archive/vsphere-storage-for-kubernetes/blob/master/documentation/policy

[2022-08-05 20:00] fml2 commented on #20849
This was described in #25986 and is now in this section: https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/#create-configmaps-from-files

[2022-08-05 22:20] #29044 closed

[2022-08-06 00:46] jihoon-seo commented on #35735
/triage accepted

[2022-08-06 01:47] #35329 closed

[2022-08-06 01:56] #35699 closed

[2022-08-06 06:38] iamNoah1 commented on #32715
@sftim yes, that sounds fair :) Thanks

[2022-08-06 08:35] RA489 commented on #29453
/remove-lifecycle stale

[2022-08-06 09:16] #35161 closed

[2022-08-06 13:24] morooshka opened #35748 "Интерактивный урок - Изучение приложения"
Hi kubernetes team!
Hope this finds you well.
While following the examples I was doing the same steps on my local minikube deployment as well as in the web terminal too. On the module 3 step 2 I faced a problem: the command
[code]
reported nothing on my local installation, while it was working right in the web terminal. I discovered with `kubectl describe deployments` that my local deployment has

[2022-08-06 14:39] bishal7679 commented on #35748
@morooshka Could you provide the yaml file in which you added these two line?

[2022-08-06 15:04] rolfedh opened #35749 "Update `.gitignore` to ignore `.hugo_build.lock`"
**This is a Bug Report**

**Problem:**

For myself and other folks working on the `/hi` localization, generating a preview of the docs locally seems to add `.hugo_build.lock` file to our pull requests.

**Proposed Solution:**

Update `.gitignore` to reject `.hugo_build.lock`

**Page to Update:**
`.gitignore`

[2022-08-06 15:15] rolfedh commented on #35588
Thanks for asking @sftim. I think I haven't explained this issue well enough: The `themes/docsy` directory shows up unbidden when folks generate a preview of the `/hi` docs. They have no intention of creating or modifying that directory.

I propose that we either [set up submodules correctly](https://github.com/thegooddocsproject/website-hugo/pull/7) or add `themes/*` to the `.gitignore` file.

[2022-08-06 15:43] rolfedh commented on #35749
@a-mccarthy @bradtopol Do you have any indications that this might be an issue for other localization teams?

[2022-08-06 15:44] rolfedh commented on #35749
/assign @rolfedh

[2022-08-06 15:53] sftim commented on #35588
I suspect that we have set up submodules correctly, but the Hindi branch doesn't incorporate the right changes. I might have some time to work on that.

We could [Use Docsy as a Hugo module](https://www.docsy.dev/docs/get-started/docsy-as-module/).
[Use a module for a theme](https://gohugo.io/hugo-modules/use-modules/#use-a-module-for-a-theme) explains how. If we've an appetite for a change, I'd g

[2022-08-06 16:11] sftim commented on #31677
How's this work going, overall?

[2022-08-06 16:15] sftim commented on #35749
This change would **not** be specific to Hindi.

I run Hugo in a container, where there's no `.hugo_build.lock` generated - at least on the _main_ branch. I've also updated the Hindi branch just recently to incorporate updates from _main_. Maybe this isn't needed any more?

However, if it does help I'm still happy to see the change made.

/retitle Update `.gitignore` to ignore `.hugo_build.lock`
/

[2022-08-06 16:21] sftim commented on #35748
I assume you were working through https://kubernetes.io/ru/docs/tutorials/kubernetes-basics/explore/explore-interactive/ @morooshka

(When you file an issue about a web page, it's really useful to mention the URL of that web page).

My guess is that the two scenarios have got out of sync. This will show up for somebody following along locally but not for someone trying them online within Katacoda.

[2022-08-06 16:41] mitul3737 commented on #31677
@sftim We have some new contributors. The progress is slow I might say but we are going to have many more Bengali contributors. I have trying to guide and motivate some fellow mates to contribute. Hope they will join in a short time 😊

[2022-08-06 17:28] #32152 closed

[2022-08-06 19:38] rolfedh commented on #35749
@sftim `.gitignore` in `/main` contains `.hugo_build.lock`:
https://github.com/kubernetes/website/blob/f53d403591a3df439060cf4f0673c91a5dfa3dd2/.gitignore#L32

[2022-08-06 19:49] rolfedh commented on #35749
Please see the related PR, https://github.com/kubernetes/website/pull/35405 for background.

[2022-08-06 19:52] rolfedh commented on #35749
I believe this issue is a problem for `dev-1.22-hi.1` and any other localization branches whose `.gitignore` files were last updated from `main` before https://github.com/kubernetes/website/pull/35405.

[2022-08-06 19:53] rolfedh commented on #35749
@sftim What do you think should be the next course of action?

[2022-08-06 20:35] morooshka commented on #35748
@bishal7679 please find file attached, line 163
[deployment.txt](https://github.com/kubernetes/website/files/9275729/deployment.txt)
@sftim you are quite right about the web page. Thank you, I will follow your advice

[2022-08-07 04:11] tengqm commented on #35613
@sftim Wow, what you are suggesting is already a syntax parser. We will have to tokenize the comment string(s) and identify cases where a `'*'`, `"*"`, `'*/scale'` or `'*/*'` sub-string shows up. At least, such strings must have an enclosing quotation marks (either single quotes or double quotes).

In my view, it is much more straightforward to fix cases like this in the source code (if we insist

[2022-08-07 04:51] Sea-n commented on #35749
The `.hugo_build.lock` file have just added to `.gitignore` file 2 weeks ago.
- #35405

I think you should merge `main` to `dev-1.22-hi.1` instead.

[2022-08-07 08:07] seokho-son commented on #35170
/unassign @NitishKumar06

PR #35176 is an attempt to resolve this issue,
but the PR has been closed and this issue is not resolved yet.

Please take a look discussions and suggestions in the PR #35176 before self-assign. :)

[2022-08-07 09:29] rolfedh commented on #35749
@Sea-n, both you and @sftim ([here](https://github.com/kubernetes/website/pull/35752#issuecomment-1207242290)) suggest merging `main` to `dev-1.22-hi.1`.

This makes me nervous because I am unfamiliar with how kubernetes/website localization teams handle these things.

I've created an example PR to illustrte the potential changes this merge might introduce here:  https://github.com/kubernetes/webs

[2022-08-07 09:33] rolfedh commented on #35749
Thanks for your advice. I see this branch has the relevant update now. I apologize for not spotting that sooner.

https://github.com/kubernetes/website/blob/3692941165eecce44fb929643ebcba0047da5d9a/.gitignore#L32

[2022-08-07 09:33] #35749 closed

[2022-08-07 09:46] rolfedh commented on #35600
### Status update
I've been working on a couple of issues to clear a smoother path for contributors:
- https://github.com/kubernetes/website/issues/35749 Has been resolved. `.gitignore` contains a line that ignores `.hugo_build.lock`. Some users might need to update older working branches to include this change:
[code]
-  [hi] Create a language-specific contributor and style guide for Hindi #35599

[2022-08-07 10:13] rolfedh opened #35762 "Update config.toml with `languageName = "हिन्दी (Hindi)"`"
In `dev-1.22-hi.1`, update `languageName = "हिन्दी"` to use the standard naming convention: `languageName = "हिन्दी (Hindi)"`.

Although this change is [already present in the `main` branch](https://github.com/kubernetes/website/blob/060218a16f65066d9d46ade60a73f952846bf9cb/config.toml#L446), we can't simply merge `main` to  `dev-1.22-hi.1` because doing so might disable Hindi where it is needed:

[2022-08-07 10:30] #30144 closed

[2022-08-07 10:34] rolfedh commented on #35600
@anubha-v-ardhan For translating glossary entries, should we be guiding contributors to translate the content from `main` or `dev-1.22`?

I lean toward working from `main` because these glossary entries contain have substantial improvements since 1.22. WDYT?

[2022-08-07 10:36] RA489 commented on #31060
/remove-lifecycle stale

[2022-08-07 10:37] anubha-v-ardhan commented on #29353
/remove-lifecycle stale

[2022-08-07 10:41] anubha-v-ardhan commented on #35600
@rolfedh I'd say `main` too, I see no harm in having the latest glossary localized.

[2022-08-07 12:18] NitishKumar06 commented on #35762
/assign

[2022-08-07 12:19] NitishKumar06 commented on #35762
@rolfedh Should the changes be pushed to the `dev-1.22-hi.1` branch?

[2022-08-07 13:52] rolfedh commented on #35599
I have opened [a conversation about this](https://kubernetes.slack.com/archives/CJ14B9BDJ/p1659880054870349?thread_ts=1659380310.033859&cid=CJ14B9BDJ) in our Slack channel.

In that thread, I ask whether we might adapt the [Style Guide Hindi (hi)](https://mozilla-l10n.github.io/styleguides/hi-IN/#style-guide-hindi-hi) from Mozilla, which is available under the Apache 2.0 license and is available a

[2022-08-07 14:24] tengqm commented on #34978
/close

[2022-08-07 14:24] #34978 closed

[2022-08-07 14:37] rolfedh commented on #35762
Hi @NitishKumar06, after I created this issue, I saw this PR and added a comment that I hope will fix the issue: https://github.com/kubernetes/website/pull/29679/files#r939666948

[2022-08-07 14:37] #35762 closed

[2022-08-07 15:05] VuiDJi opened #35766 "Deploy and Access the Kubernetes Dashboard should use v2.6.0 yaml file"
Please update https://kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard/ page,
it should be
`kubectl apply -f https://raw.githubusercontent.com/kubernetes/dashboard/v2.6.0/aio/deploy/recommended.yaml`
instead of
`kubectl apply -f https://raw.githubusercontent.com/kubernetes/dashboard/v2.5.0/aio/deploy/recommended.yaml`

[2022-08-07 15:33] seokho-son commented on #34903
134개 task가 모두 완료되었습니다.
모두 고생 많으셨습니다.

/close

[2022-08-07 15:33] #34903 closed

[2022-08-07 20:09] rolfedh commented on #35588
This seems related: https://kubernetes.slack.com/archives/C1J0BPD2M/p1615938858002000

[2022-08-07 20:13] rolfedh commented on #35588
I just wiped/up-forked/recloned `kubernetes/website` to my local machine.
Running `$ hugo` or `$ hugo server` was generating a `Error: from config: failed to resolve output format "print" from site config` message.
Then, I ran `$ git submodule update --init --recursive --depth 1`. The error went away and the build completed normally.

[2022-08-07 20:18] rolfedh commented on #35588
Problem apparently solved.

[2022-08-07 20:18] #35588 closed

[2022-08-07 20:39] rolfedh opened #35769 "Add `package.json` to `.gitignore`"
**Problem:**

`package.json` is missing from `.gitignore`. As a result, after you build docs using `$ hugo`, running `$ git status` shows   `modified:   package.json` among your unstaged changes.

**Proposed Solution:**

Add `package.json` to `.gitignore`

[2022-08-08 02:01] zhangxyjlu opened #35774 "[zh-cn]Translate Chinese version for blog/2022-05-20-non-graceful-node-shutdown.md"
This is a Feature Request

This page blog/2022-05-20-non-graceful-node-shutdown.md has no Chinese version

What would you like to be added

Translate Chinese version for blog/2022-05-20-non-graceful-node-shutdown.md

Comments
/language zh
/assign

[2022-08-08 02:31] utkarsh-singh1 commented on #33323
/assign

[2022-08-08 02:37] utkarsh-singh1 commented on #35766
/assign

[2022-08-08 02:50] utkarsh-singh1 commented on #35709
Hi @rammez, can you send your istio config file.

[2022-08-08 03:49] mengjiao-liu commented on #35774
/triage accepted

[2022-08-08 03:50] mengjiao-liu commented on #35701
Feel free to reopen it if you have any questions.
/close

[2022-08-08 03:50] #35701 closed

[2022-08-08 03:54] mengjiao-liu commented on #34798
#34821 has been merged, so we can close it.

[2022-08-08 03:54] mengjiao-liu commented on #34798
/close

[2022-08-08 03:54] #34798 closed

[2022-08-08 06:11] Kartik494 commented on #30815
/remove-lifecycle rotten

[2022-08-08 07:27] ydFu commented on #35736
/triage accepted

[2022-08-08 09:02] seokho-son opened #35780 "Frequent build failures (Build exceeded maximum allowed runtime)"
**This is a Bug Report**

**Problem:**

I've seen several times where the build from Netlify in PR fails without a build error.

In this case, Netlify log ends with following message.

`Build exceeded maximum allowed runtime`

Usually when this happens to a PR, we ask the contributor to push additional or changed commit (meaningless commit) so that netlify restarts a build.
 - Update the latest co

[2022-08-08 09:37] sftim commented on #35613
If I had a magic wand to make it happen, I'd pick doc comments that are explicitly identified as Markdown. The Rust model for these is great, and could be an inspiration on how to do something similar for this project (no need to change Golang itself).

If we could assume reliably that we're parsing Markdown, we get to draw on lots of existing, well-tested code for parsing, linting, etc.
However,

[2022-08-08 11:10] #34901 closed

[2022-08-08 11:26] sftim commented on #35780
/triage accepted

[2022-08-08 11:44] seokho-son commented on #35780
Since #35773 has been merged, I hope this issue has been resolved. (but we are not sure)
If I don't experience this issue anymore (for a while), I will close the issue. :)

[2022-08-08 13:03] sftim commented on #35686
/triage accepted

[2022-08-08 13:26] #35736 closed

[2022-08-08 13:29] rolfedh opened #35783 "[hi] Update `languageName = "हिन्दी"` in config.toml to implement recent changes in the language name standard."
**This is a Bug Report**

**Problem:**

`config.toml` in `dev-1.22-hi.1` contains `languageName = "हिन्दी"`
`config.toml` in `main` contains  `languageName = "हिन्दी (Hindi)"`, which conforms to recent changes in the recent [language name standard](https://github.com/kubernetes/website/blob/main/content/en/docs/contribute/localization.md#modify-the-site-configuration). Also see #31657

**Proposed

[2022-08-08 13:53] sp-yduck commented on #35370
let me close this issue as the PR merged into dev-1.19-ja.2 branch. thank you.

[2022-08-08 13:53] #35370 closed

[2022-08-08 13:54] #35624 closed

[2022-08-08 13:59] Sea-n commented on #35769
I have left some comments in your PR #35770.

If you think it's an issue to discuss, then don't open PR immediately after you filed an issue.
If you think it's a trivial thing to do, then maybe no need to open an issue with duplicated title.

I'm afraid of the comments separated into two place will make us hard to discuss.