[2020-09-17 19:15] inductor commented on #23253
/close

[2020-09-17 19:15] #23253 closed

[2020-09-17 19:16] inductor commented on #23615
/close

[2020-09-17 19:17] #23615 closed

[2020-09-17 19:18] inductor commented on #23890
/close

[2020-09-17 19:18] #23890 closed

[2020-09-17 19:18] inductor commented on #23214
/close

[2020-09-17 19:19] #23214 closed

[2020-09-17 19:19] inductor commented on #19280
/close

[2020-09-17 19:19] #19280 closed

[2020-09-17 19:19] inductor commented on #23610
/close

[2020-09-17 19:20] #23610 closed

[2020-09-17 19:20] inductor commented on #23339
/close

[2020-09-17 19:20] #23339 closed

[2020-09-17 19:20] inductor commented on #23340
/close

[2020-09-17 19:21] #23340 closed

[2020-09-17 19:23] inductor commented on #23373
/close

[2020-09-17 19:24] #23373 closed

[2020-09-17 19:24] #22905 closed

[2020-09-17 19:26] kbhawkey commented on #21778
/close

[2020-09-17 19:27] #21778 closed

[2020-09-17 19:27] kbhawkey commented on #23943
/retitle Create epub files for Kubernetes documentation

[2020-09-17 19:29] inductor commented on #23607
/close

[2020-09-17 19:29] #23607 closed

[2020-09-17 19:30] kbhawkey commented on #23909
/priority backlog

[2020-09-17 19:33] kbhawkey commented on #23809
Thanks @feloy for opening this issue. I will review the swagger-filter code.

[2020-09-17 19:36] inductor commented on #23769
/close

[2020-09-17 19:36] #23769 closed

[2020-09-17 19:37] inductor commented on #23345
/close

[2020-09-17 19:37] #23345 closed

[2020-09-17 20:20] kbhawkey commented on #23809
Hi @feloy . I quickly looked at the filter code. Will review in detail. Some initial questions:
-  Could you use the apiserver to create the individual files (add new flags)?
- Instead of a using a static list of API groups could you parse the OpenAPI spec to derive this list?

[2020-09-17 21:28] rptaylor commented on #23915
Well I could propose some text if we have some information confirming and clarifying what the situation is, but I don't have that information needed to know for sure what the documentation should say. I have just speculated and guessed my way to a tentative understanding of the situation based on ~ 30 minutes of googling. It would be good to have some authoritative confirmation of what the situati

[2020-09-17 21:33] kbhawkey commented on #23817
/retitle Copy to clipboard not copying yaml

[2020-09-17 21:34] kbhawkey commented on #23817
@morengab , I changed the title for this issue. Feel free to change is this is not correct.

[2020-09-17 22:03] morengab commented on #23817
@kbhawkey perfect! looks like the title was auto-generated from the page and I just left it that way.

[2020-09-17 22:42] kbhawkey commented on #23817
Do you plan on working on this? If not, I will.

[2020-09-17 22:54] stephenrwalli opened #23964 "Broken link (How to File an Issue)"
**This is a Bug Report**

**Problem:**
"How to file an issue" on the Community page (https://github.com/kubernetes/community/) points to a dead label/page.

**Proposed Solution:**
Reset the link on the Community page to a useful page.
(Either https://github.com/kubernetes/community/blob/master/contributors/guide/first-contribution.md#file-an-issue or the Triage page at https://github.com/kubernete

[2020-09-17 22:54] kbhawkey commented on #23817
Temporarily assigning
/assign

[2020-09-18 00:02] kbhawkey commented on #23817
/kind bug

[2020-09-18 00:57] tengqm opened #23967 "Resource type list is outdated."
**This is a Bug Report**

**Problem:**

The resource type list on https://kubernetes.io/docs/reference/kubectl/overview/#resource-types
is about v1.13.3 which is too old.
We are not obliged to keep the list updated on every release, but having the list updated
to a supported version is still desireable.

**Proposed Solution:**

Update the list to reflect what we have today.

**Page to Update:**

h

[2020-09-18 00:58] tengqm commented on #23967
ref: #23922

[2020-09-18 01:02] tengqm commented on #23930
/help

[2020-09-18 02:08] rgowrishankar commented on #23862
/assign @rgowrishankar

[2020-09-18 02:23] markruler opened #23972 "Translate reference/access-authn-authz/service-accounts-admin/ into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate reference/access-authn-authz/service-accounts-admin/ into Korean.

**Why is this needed**

There is no document of reference/access-authn-authz/service-accounts-admin/ which is translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/reference/access-authn-authz/service-accounts-admin/

[2020-09-18 02:23] markruler commented on #23972
/language ko
/assign

[2020-09-18 02:38] #23950 closed

[2020-09-18 03:09] yu-kasuya commented on #23601
/assign

[2020-09-18 03:20] yu-kasuya commented on #23599
/assign

[2020-09-18 03:24] howieyuen commented on #23967
/assign

[2020-09-18 03:35] yu-kasuya commented on #23599
@kakts dev-1.18-ja.1ブランチ配下にはja/docs/concepts/services-networking/dual-stack.mdファイルがなく、dev-1.19やmasterブランチには存在するようです。この場合どういった対応でしょうか？

[2020-09-18 03:38] yu-kasuya commented on #23600
/assign

[2020-09-18 04:22] inductor commented on #23458
/close

[2020-09-18 04:22] #23458 closed

[2020-09-18 04:28] markruler opened #23977 "Translate reference/access-authn-authz/authorization/ into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate reference/access-authn-authz/authorization/ into Korean.

**Why is this needed**
This is a Feature Request

There is no document of reference/access-authn-authz/authorization/ which is translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/reference/access-authn-authz/authorization/

[2020-09-18 04:28] markruler commented on #23977
/language ko
/assign

[2020-09-18 05:39] oke-py commented on #23342
/close

[2020-09-18 05:40] #23342 closed

[2020-09-18 05:53] oke-py commented on #19281
/close

[2020-09-18 05:53] #19281 closed

[2020-09-18 06:18] #22943 closed

[2020-09-18 06:32] feloy commented on #23809
Hi @kbhawkey,

I will need to dive into the API server code before to reply, but I can imagine it could be possible, in a similar way it is possible to start the API server with specific groups only, with the `--runtime-config` flag.

You are right, the `x-kubernetes-group-version-kind` swagger extension is added to Operations and Definitions on the swagger spec, to materialize the corresponding K

[2020-09-18 06:36] B45man commented on #23824
It's easily removed by adding a rule for **#announcement** to your adblocker. No more huge political banners taking up a third of the screen on entry.

[2020-09-18 09:39] howieyuen opened #23980 "page of /docs/home in Chinese is different from English version"
**Problem:**
page of /docs/home in Chinese is different from English version. These direct link of below is missing:
[code]

**Proposed Solution:**
modify related posts' config, modify the `card.name` from "贡献" to "contribute"

**Page to Update:**
https://kubernetes.io/zh/docs/home/

[2020-09-18 09:40] howieyuen commented on #23980
/assign
/language zh

[2020-09-18 11:04] sftim commented on #16059
/help

[2020-09-18 11:11] howieyuen commented on #23980
/close

[2020-09-18 11:11] #23980 closed

[2020-09-18 11:18] NitroAMD opened #23982 "Running in multiple zones"
Could you please reference Azure (AKS) here too, as some customer reach your site first and think that AKS is not offering zone support:
https://docs.microsoft.com/en-us/azure/aks/availability-zones

Thanks

[2020-09-18 11:24] sftim commented on #15909
/reopen

Worth having, I think.
/remove-lifecycle rotten

[2020-09-18 11:49] raghvenders commented on #23914
@sftim - PFA.It is screenshot of button aligned.I have added the tile border which is not the primary objective though(Just to border line the content)

![KubernetesHomePage1](https://user-images.githubusercontent.com/9973300/93594143-e5813d00-f97a-11ea-9fa9-c43c8742165c.jpg)

Hope this mockup helps.

[2020-09-18 12:23] antaloala opened #23984 "Using Admission Controllers"
In the subsection describing the DefaultTolerationSeconds admission controller (https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#defaulttolerationseconds) it is explained this controller set a 5min tolerationSeconds for each of those tolerations being added by default to a created pod (when not explicitly set).

Those 5 min really comes from the default value in "defa

[2020-09-18 13:46] howieyuen commented on #23932
issue is solved.
/close

[2020-09-18 13:46] #23932 closed

[2020-09-18 14:25] habibrosyad commented on #22296
I'm taking the last one `/docs/reference/access-authn-authz/rbac/ (part 2)`, but maybe it will be finished by the next week...

[2020-09-18 15:26] rgowrishankar commented on #23984
/assign @rgowrishankar

[2020-09-18 15:58] markruler opened #23991 "Translate reference/access-authn-authz/authentication/ into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate reference/access-authn-authz/authentication/ into Korean.

**Why is this needed**
This is a Feature Request

There is no document of reference/access-authn-authz/authentication/ which is translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/reference/access-authn-authz/authentication/

[2020-09-18 15:59] markruler commented on #23991
/language ko
/assign

[2020-09-18 16:56] Arhell commented on #23941
/close

[2020-09-18 16:56] #23941 closed

[2020-09-18 17:46] kbhawkey commented on #23527
Hello.
Re: `This standard aligns with GitHub's and Google's API conventions.`

I'd like more feedback about using monospace for the
resource names in the content (not code blocks) before changing the way the site formats
resources. For me, matching the exact spelling and case of the resource to the
type definition in Go (and in the reference guide, data samples), identifies the resource.
The font

[2020-09-18 17:56] kbhawkey commented on #23527
Here are some typical constructs in the content:
You can create and modify Node objects using kubectl .
You can create and modify Node resources using kubectl .
[possibly used?] You can create and modify Nodes using kubectl .
You can create and modify ServiceAccounts using kubectl .
[not used] You can create and modify nodes using kubectl.

[2020-09-18 19:14] morengab commented on #23817
Nope! You've got it 👍

[2020-09-18 20:51] skashyap7 opened #23992 "Using Admission Controllers"
Can we add documentation that explains the order in which Mutating Admission Controllers will be called if there exists multiple?

[2020-09-19 02:29] #20493 closed

[2020-09-19 03:22] inductor commented on #23614
/close

[2020-09-19 03:22] #23614 closed

[2020-09-19 03:27] inductor commented on #23601
/close

[2020-09-19 03:28] #23601 closed

[2020-09-19 03:29] inductor commented on #23600
/close

[2020-09-19 03:29] #23600 closed

[2020-09-19 04:36] #23934 closed

[2020-09-19 06:12] inductor commented on #23336
@takaf04 こちらいかがですかー（たまーにやってるIssueの整理なので、特に急がせているとかではありません。）

[2020-09-19 06:12] inductor commented on #23456
@hikkie3110 こちらいかがですかー（たまーにやってるIssueの整理なので、特に急がせているとかではありません。）

[2020-09-19 06:12] inductor commented on #23596
@tkms0106 こちらいかがですかー（たまーにやってるIssueの整理なので、特に急がせているとかではありません。）

[2020-09-19 06:13] inductor commented on #23597
@translucens  こちらいかがですかー（たまーにやってるIssueの整理なので、特に急がせているとかではありません。）

[2020-09-19 06:14] inductor commented on #23599
@yu-kasuya こちら対応検討中ですが、おそらく次のマイルストーンにしようかなと考え中です！

[2020-09-19 06:14] translucens commented on #23597
連休中にやる予定です

[2020-09-19 07:29] pjhwa opened #23997 "Issue with links to already translated documents"
**This is a Bug Report**

**Problem:**
The following documents contain the document links which are already translated into Korean:
- [x] content/ko/docs/concepts/services-networking/dual-stack.md
- [x] content/ko/docs/contribute/participate/roles-and-responsibilities.md
- [x] content/ko/docs/reference/_index.md
- [x] content/ko/docs/reference/command-line-tools-reference/feature-gates.md
- [x] co

[2020-09-19 07:30] pjhwa commented on #23997
/language ko
/assign

[2020-09-19 07:50] inductor commented on #23248
/milestone 1.18-ja.1

[2020-09-19 07:50] inductor commented on #23303
/milestone 1.18-ja.1

[2020-09-19 07:50] inductor commented on #23310
/milestone 1.18-ja.1

[2020-09-19 07:50] inductor commented on #23318
/milestone 1.18-ja.1

[2020-09-19 07:50] inductor commented on #23319
/milestone 1.18-ja.1

[2020-09-19 07:50] inductor commented on #23321
/milestone 1.18-ja.1

[2020-09-19 07:50] inductor commented on #23322
/milestone 1.18-ja.1

[2020-09-19 07:50] inductor commented on #23336
/milestone 1.18-ja.1

[2020-09-19 07:50] inductor commented on #23337
/milestone 1.18-ja.1

[2020-09-19 07:50] inductor commented on #23346
/milestone 1.18-ja.1

[2020-09-19 07:50] inductor commented on #23347
/milestone 1.18-ja.1

[2020-09-19 07:51] inductor commented on #23348
/milestone 1.18-ja.1

[2020-09-19 07:51] inductor commented on #23369
/milestone 1.18-ja.1

[2020-09-19 07:51] inductor commented on #23423
/milestone 1.18-ja.1

[2020-09-19 07:51] inductor commented on #23450
/milestone 1.18-ja.1

[2020-09-19 07:51] inductor commented on #23453
/milestone 1.18-ja.1

[2020-09-19 07:51] inductor commented on #23456
/milestone 1.18-ja.1

[2020-09-19 07:51] inductor commented on #23470
/milestone 1.18-ja.1

[2020-09-19 07:51] inductor commented on #23595
/milestone 1.18-ja.1

[2020-09-19 07:51] inductor commented on #23596
/milestone 1.18-ja.1

[2020-09-19 07:51] inductor commented on #23597
/milestone 1.18-ja.1

[2020-09-19 07:51] inductor commented on #23599
/milestone 1.18-ja.1

[2020-09-19 07:51] inductor commented on #23603
/milestone 1.18-ja.1

[2020-09-19 07:51] inductor commented on #23608
/milestone 1.18-ja.1

[2020-09-19 07:51] inductor commented on #23616
/milestone 1.18-ja.1

[2020-09-19 07:51] inductor commented on #23617
/milestone 1.18-ja.1

[2020-09-19 07:51] inductor commented on #23618
/milestone 1.18-ja.1

[2020-09-19 07:51] inductor commented on #23620
/milestone 1.18-ja.1

[2020-09-19 07:51] inductor commented on #23639
/milestone 1.18-ja.1

[2020-09-19 07:52] inductor commented on #23640
/milestone 1.18-ja.1

[2020-09-19 07:52] inductor commented on #23768
/milestone 1.18-ja.1

[2020-09-19 07:54] takaf04 commented on #23336
すみません。
最近時間が取れなくて日数がかかっておりますが、今確認中なので、早ければ今日中に出しますね。

[2020-09-19 09:48] tkms0106 commented on #23596
@inductor 現在着手中です。

[2020-09-19 10:23] hikkie3110 commented on #23456
@inductor あとは最終チェックくらいなので近日中に出せると思います。よろしくお願いします。

[2020-09-19 13:26] TommyQuality opened #24007 "Installing Kubernetes with Minikube"
Trying to get minikube running on Windows 10 Hyper-V

When I run minikube starts it created the VM in hyper-v, but when it tries to connect using `kubectl get pod` it returns the following error

`Unable to connect to the server: dial tcp [::1]:8080: connectex: No connection could be made because the target machine actively refused it.`

It looks like the config file in .kube\ is not being updated

[2020-09-19 13:50] gaurav517 opened #24008 "update doc for certificate signing requests"
**This is a Bug Report**

**Problem:**
Doc is not aligned with latest kubernetes version 1.19.2:
https://kubernetes.io/docs/reference/access-authn-authz/certificate-signing-requests/#create-certificate-request-kubernetes-object

With version 1.19.2, `signerName` is mandatory.
Also signer `kubernetes.io/legacy-unknown` is not supported in the list at: https://kubernetes.io/docs/reference/access-aut

[2020-09-19 14:13] annajung opened #24009 "K8s 1.20 - Formalize docs release strategy with the different localization owners"
Hello 👋,

I'm Anna Jung, the sig release docs lead for 1.20 release. I'm opening this issue to find the best way to coordinate the actual docs release ([scheduled tentatively for Dec 8th, 2020](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.20#timeline)) with the different localization owners.

A couple of questions:

1. Who would be a good primary contact for the followi

[2020-09-19 14:24] inductor commented on #23599
/milestone 1.18-ja.2

[2020-09-19 14:44] inductor commented on #23640
/close

[2020-09-19 14:44] #23640 closed

[2020-09-19 14:45] inductor commented on #24009
Hey, Japanese owner here.

[2020-09-19 15:02] annajung commented on #24009
Hi @inductor, nice to meet you! I have added you as the main person to contact for Japanese. Thank you!

[2020-09-19 15:15] seokho-son commented on #24009
Hello @annajung, I am Korean l10n team leader. :)

[2020-09-19 15:25] mkorbi commented on #24009
Hey @annajung I can take the German part

[2020-09-19 15:37] annajung commented on #24009
Hi @seokho-son @mkorbi nice to meet you both! Adding both of your names as the main contact. Thank you!

[2020-09-19 17:48] irvifa commented on #24009
Hey @annajung you can contact me for ID localization, looking forward to work with you :)

[2020-09-19 18:08] dougsland commented on #24009
I would volunteer for Portuguese (Brazil) and english as reviewer. However, there is no split between pt-BR and pt-PT. Is this intensionally?

[2020-09-19 18:43] irvifa commented on #24009
@dougsland I think we’re using the same documentation for both of BR and PT for now, although I’m also aware it’s slightly different for grammar and spelling 🤔

[2020-09-19 18:50] dougsland commented on #24009
/me nods @irvifa

Correct. I think people from pt_BR and pt_PT can understand each other but still there is a difference. If you guys merged the two to save resources (or lack) seems fine.

[2020-09-19 19:34] irvifa commented on #24009
@dougsland yes probably still can understand each other although the vocabularies can be different, in a way.

Also if we want to separate this I’m not sure if there’s abbreviation for both of that in ISO 639-1 http://www.mathguide.de/info/tools/languagecode.html.

I understand pt-PT and my friends also speak pt-BR as well, more or less I know how it feels 😅

[2020-09-19 19:42] dougsland commented on #24009
Looks like pt contains a bunch of Portuguese variants.
https://www.localeplanet.com/icu/iso639.html

In others open-source projects, usually these variants has a separate dir, like pt-PT, pt-BR etc.

:)

[2020-09-19 19:51] irvifa commented on #24009
@dougsland you’re right, thanks for the information :)

[2020-09-19 20:49] mfilocha commented on #24009
@annajung I'm here for Polish team.

[2020-09-20 06:52] #23933 closed

[2020-09-20 12:27] zhiguo-lu opened #24011 "[zh] /docs/concepts/storage/ephemeral-volumes/ is missing in Chinese version"
**This is a Bug Report**

**Problem:**
[zh] /docs/concepts/storage/ephemeral-volumes/ is missing in Chinese version

**Proposed Solution:**
Add content/zh/docs/concepts/storage/ephemeral-volumes.md

**Page to Update:**
https://kubernetes.io/zh/docs/concepts/storage/ephemeral-volumes/

content/zh/docs/concepts/storage/ephemeral-volumes.md

[2020-09-20 12:27] zhiguo-lu commented on #24011
/language zh
/assign

[2020-09-20 16:22] mkorbi commented on #23445
thank you for reporting & fixing it
/close

[2020-09-20 16:22] #23445 closed

[2020-09-20 16:24] mkorbi commented on #14137
/help
/good-first-issue

[2020-09-20 16:24] jcjesus commented on #24009
Hi Ana, I am a Portuguese I10n team lead.
Thanks
Best regard!
jcjesus

Em sáb, 19 de set de 2020 11:13, Anna <notifications@github.com> escreveu:

[2020-09-20 17:34] Arhell commented on #23911
/assign @Arhell

[2020-09-20 19:05] sftim commented on #23982
Hi @NitroAMD - would you be willing to provide a review (formally or informally) on https://github.com/kubernetes/website/pull/23498?

[2020-09-20 19:55] sftim commented on #16583
/remove-lifecycle stale

[2020-09-20 22:53] kbhawkey commented on #21057
A slightly different approach was taken to write the contents of the code block/element innerText.
I plan to close this issue. You can reopen if there are remaining questions.
Fixed in PR #23966 .
/close

[2020-09-20 22:54] #21057 closed

[2020-09-21 01:03] tengqm commented on #24009
Let me know if anything need to be done for the Chinese (zh) localization.

[2020-09-21 02:29] mittalyashu commented on #24009
@annajung I am here for Hindi.

[2020-09-21 03:22] howieyuen opened #24018 "[zh] Add missing pages in Chinese version https://kubernetes.io/zh/docs/reference/scheduling/"
**Problem:**
https://kubernetes.io/zh/docs/reference/scheduling/  is missing in Chinese version.
See  more: https://kubernetes.io/zh/docs/reference/scheduling/

**Proposed Solution:**
Add /docs/tasks/configmap-secret/ to zh version with three articles to be translated.

- [ ] /zh/docs/reference/scheduling/config.md

- [ ] /zh/docs/reference/scheduling/policies.md

**Page to Update:**
https://kuber

[2020-09-21 03:22] howieyuen commented on #24018
/assign

[2020-09-21 03:23] howieyuen commented on #24018
/language zh

[2020-09-21 05:25] tengqm commented on #24008
Just checked, the `signerName` is a required field since 1.19.0 in `certificates.v1` group, but it is not required in the `v1beta1` group.
It makes sense to fix the example so that the YAML works.

/sig auth

[2020-09-21 05:29] tengqm commented on #23967
fixed.
/close

[2020-09-21 05:30] #23967 closed

[2020-09-21 05:30] tengqm commented on #23984
fixed.
/close

[2020-09-21 05:30] #23984 closed

[2020-09-21 05:31] tengqm commented on #23964
done.
/close

[2020-09-21 05:31] #23964 closed

[2020-09-21 05:33] tengqm commented on #23849
done.
/close

[2020-09-21 05:33] #23849 closed

[2020-09-21 07:37] weflee opened #24020 "Debugging DNS Resolution"
Hi,
  kubernetes 1.19 with coredns 1.7.0

when I use DNS resolution, I found a error.

use busybox for nslookup, many failed but have some correct.  below are the copy from cli.

/ # nslookup kubernetes.default.svc.cluster.local
Server:         10.96.0.10
Address:        10.96.0.10:53

*** Can't find kubernetes.default.svc.cluster.local: No answer

*** Can't find kubernetes.default.svc.cluster.loc

[2020-09-21 08:33] Arhell opened #24022 "remove "extra indent""
**This is a Bug Report**

**Problem:**
![1](https://user-images.githubusercontent.com/26163841/93746612-14f3ac00-fbfe-11ea-851f-14ec52109271.jpg)

**Proposed Solution:**
remove 1-e br like en version

**Page to Update:**
https://kubernetes.io/id/#video

/language id
/assign
/area web-development

[2020-09-21 08:41] fabriziopandini commented on #24009
@annajung I'm here for Italy

It will be great if there is some kind of automation providing signal that the original EN-version for a localized page is changed, so it is easier to keep our localization up to date.

[2020-09-21 08:47] irvifa commented on #24009
@fabriziopandini I'm and @bradtopol working on the localization subgroups, we can discuss ore about this on the slack channel :)

[2020-09-21 08:56] mfilocha commented on #24009
@fabriziopandini

I use a simple one-liner from my localization root dir (e.g. _content/pl_):
`for i in $(find * -type f) ; do git diff commit_hash master -- ../en/$i ; done`
where _commit_hash_ is the hash of a commit when my previous sync was done.

But I agree with you it'd be good to have something more automated.

[2020-09-21 10:24] zhiguo-lu opened #24025 "[zh] /docs/concepts/cluster-administration/system-logs.md is missing in Chinese version"
**This is a Bug Report**

**Problem:**
 /docs/concepts/cluster-administration/system-logs/ is missing in Chinese version

**Proposed Solution:**
Add content/zh/docs/concepts/cluster-administration/system-logs.md

**Page to Update:**
https://kubernetes.io/zh/docs/concepts/cluster-administration/system-logs/
content/zh/docs/concepts/cluster-administration/system-logs.md

[2020-09-21 10:24] zhiguo-lu commented on #24025
/language zh
/assign

[2020-09-21 12:38] annajung commented on #24009
Hello @irvifa @dougsland @mfilocha @jcjesus @tengqm @mittalyashu @fabriziopandini ! Super nice to meet everyone here and I'm also looking forward to working with you all. Your names have been added as the main contact for corresponding localization!

--

@mittalyashu, using last release as an example, as a current release lead, I wanted to get your feedback on anything that could have gone better.

[2020-09-21 12:55] ramzis opened #24027 "Remote SSH Forwarding Example: k8s.io/docs/tasks/access-application-cluster/web-ui-dashboard/#accessing-the-dashboard-ui"
The documentation notes that:

This is not very useful to know when the proxy is running on a remote machine.
A simple solution is to forward the remote dashboard port to your local machine:

`ssh -L 8001:127.0.0.1:8001 user@remote`

Alternatively, the proxy itself can be configured as `kubectl proxy --address='0.0.0.0' --accept-hosts='^*$'` and the remote machine (if accessible itself) can indeed

[2020-09-21 13:46] pgoyal01 opened #24029 "Installing Addons"
Under "Caution" section, the link " content guide (https://kubernetes.io/contribute/style/content-guide/#third-party-content)" is broken

[2020-09-21 14:22] Nwhouse opened #24031 "Configure a Pod to Use a PersistentVolume for Storage"
Hello. I have setup a PV and I am trying to setup a PVC but it keeps getting stuck in a pending state.

Would greatly appreciate assistance.

Thanks

[2020-09-21 14:31] sftim commented on #21161
Fixed in https://github.com/kubernetes/website/pull/22981
/close

[2020-09-21 14:32] #21161 closed

[2020-09-21 14:33] sftim commented on #24031
/triage support

If you're looking for help, check the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum; you can also ask in the [Kubernetes Slack](http://slack.k8s.io/) workspace.

You can also post your question to[Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes)

I'm afraid @Nwhouse that GitHub is not the right place for support requests.

[2020-09-21 14:45] suryast commented on #23880
/assign @suryast

[2020-09-21 15:05] raghvenders commented on #24027
@ramzis : I like what you mentioned.Are you mentioning about SSH tunneling?
It is good to mention about that for remote dashboard and view.

[2020-09-21 15:55] arisgi commented on #23318
/assign

[2020-09-21 17:03] raghvenders commented on #24027
@ramzis - I tried a PR - https://github.com/kubernetes/website/pull/24035

Just FYI

[2020-09-21 18:30] mfilocha commented on #24009
@annajung I guess you are aware of https://github.com/kubernetes/website/issues/20624? Do you think we need to refresh contact list with every release?

[2020-09-21 18:33] raelga commented on #24009
Count me in for the Spanish team.

[2020-09-21 18:43] annajung commented on #24009
Hi @mfilocha Yes, I am aware of the issue(s) that were opened for previous releases that collects the same contact list. This is actually a step described in the role handbook for the sig release docs lead (https://github.com/kubernetes/sig-release/tree/master/release-team/role-handbooks/docs#introduce-yourself). I'm happy to discuss modifying the role handbook if people don't see value in doing t

[2020-09-21 18:44] annajung commented on #24009
Hi @raelga, Thank you! nice to meet you! I have added you as the main person to contact for Spanish.

[2020-09-21 23:10] sftim commented on #23880
Fixed in #24032
/close

[2020-09-21 23:10] #23880 closed

[2020-09-22 00:56] tengqm opened #24038 "Say bye to PodPreset"
[PodPreset is gone](https://github.com/kubernetes/kubernetes/pull/94090)

Need change to doc:

- remove PodPreset pages
- provide alternatives where PodPreset was referenced

[2020-09-22 02:35] dims commented on #23824
Please join the wg-naming and discuss there:
https://github.com/kubernetes/community/blob/master/wg-naming/README.md

/close

[2020-09-22 02:35] #23824 closed

[2020-09-22 05:33] ravvy00 opened #24040 "How we can use Kata-runtime as default container runtime in k8s cluster"
whenever I'm trying to make kata-runtime as default runtime for the k8s cluster, it's not coming up, kubelete service is showing error Kubemaster(master Node) not found.

I'm using the below steps to set up to make kata-runtime as the default container runtime.
https://github.com/kata-containers/documentation/blob/master/install/installing-with-kata-doc-to-script.md.

whenever I removed katacontai

[2020-09-22 06:08] zacharysarah commented on #23824
/committee steering

[2020-09-22 06:43] #20530 closed

[2020-09-22 06:49] arisgi commented on #23318
@kakts
https://github.com/kubernetes/website/pull/22329 で既にv1.18の翻訳をされていたようなので、このissueはクローズして大丈夫そうです。

[2020-09-22 07:58] jihoon-seo opened #24042 "Issue with k8s.io/ko/docs/concepts/overview/working-with-objects/common-labels/"
**This is a Bug Report**

**Problem:**
한국어 번역에 개선의 여지가 있음

- [원문](https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/#applications-and-instances-of-applications)

- [번역](https://kubernetes.io/ko/docs/concepts/overview/working-with-objects/common-labels/#%EC%95%A0%ED%94%8C%EB%A6%AC%EC%BC%80%EC%9D%B4%EC%85%98%EA%B3%BC-%EC%95%A0%ED%94%8C%EB%A6%AC%EC%BC%80%EC%9D%B4%EC%85%9

[2020-09-22 08:00] jihoon-seo commented on #24042
Dup with #23939

[2020-09-22 08:00] #24042 closed

[2020-09-22 08:02] jihoon-seo commented on #23939
Proposal No. 2 (from #24042)

- 애플리케이션은 동일한 쿠버네티스 클러스터에, 심지어는 동일한 네임스페이스에도 한번 또는 그 이상 설치될 수 있다. 예를 들어, 하나의 쿠버네티스 클러스터에 워드프레스가 여러 번 설치되어 각각이 서로 다른 웹사이트를 서비스할 수 있다.

- 애플리케이션의 이름과 애플리케이션 인스턴스 이름은 별도로 기록된다. 예를 들어 워드프레스는 애플리케이션 이름으로 `app.kubernetes.io/name` 이라는 레이블에 `wordpress` 라는 값을 가지며, 애플리케이션 인스턴스 이름으로는 `app.kubernetes.io/instance` 라는 레이블에 `wordpress-abcxzy` 라는 값을 가진다. 이를 통해 애플리케이션과 애플리케이션 인스턴스를 식별

[2020-09-22 10:51] 532910 commented on #22020
is any update there?

[2020-09-22 11:05] sftim commented on #22020
/remove-triage needs-information
/priority awaiting-more-evidence

[2020-09-22 11:05] sftim commented on #22020
@532910 thanks for the update. Can you briefly outline why you'd like this improvement made?

[2020-09-22 11:10] sftim commented on #19846
/remove-lifecycle stale

[2020-09-22 11:44] sftim opened #24043 "Retain LGTM through squashes"
**This is a Feature Request**

**What would you like to be added**
Configure Prow to retain LGTM when a PR is squashed.

**Why is this needed**
If someone reviews a PR and marks it LGTM, it's frustrating if a later squash (that makes no code changes) cancels the review. It means extra work for the reviewer that could be cut out.

**Comments**
https://github.com/kubernetes/test-infra/issues/19147#i

[2020-09-22 13:07] kbhawkey commented on #24043
I think this makes sense as long as the squashing does not involve further changes.

[2020-09-22 13:22] tmegow commented on #23960
I don't understand why noone has acknowledged this visible lack in service PTR record documentation.

[2020-09-22 13:50] habibrosyad commented on #24043
I think could help with this one, the result could be verified once the config is merged and up.

/assign

[2020-09-22 14:07] kakts commented on #23318
@arisgi  ご連絡ありがとうございます！
たしかに、対応済みでしたのでこちらcloseいたします。

/close

[2020-09-22 14:07] #23318 closed

[2020-09-22 14:19] shuzokato commented on #23618
/assign

[2020-09-22 14:57] shuzokato commented on #23616
/assign

[2020-09-22 15:40] kbhawkey commented on #23809
OK. I'd avoid manually creating and maintaining a list of API groups.

OK. Seems reasonable. You have created a new command line tool based off the spf13/cobra code to parse the complete spec and generate individual or groups of openAPI files (or snippets?).

[2020-09-22 15:41] bysnupy opened #24049 "Add successThreshold default value of the startupProbe"
**This is a Bug Report**

* [Configure Probes](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#configure-probes)

**Problem:**

The "successThreshold" of livenessProbe is only allowed by "1", but it is also allowed only "1" on "startupProbe" either.
So it have to be as follows.
[code]

**Proposed Solution:**

Add the "successThreshold" of "star

[2020-09-22 18:43] Arhell commented on #24022
/close

[2020-09-22 18:43] #24022 closed

[2020-09-22 19:58] antaloala opened #24053 "Clarify toleration timeouts for kube-apiserver"
I understand the values to assign to "--default-not-ready-toleration-seconds" and "--default-unreachable-toleration-seconds" options in kube-apiserver should be equal or lower than the value assigned to "--pod-eviction-timeout" option in [kube-controller-manager](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/), not making sense to add a greater value for

[2020-09-22 22:50] irvifa commented on #14201
/remove-lifecycle stale

[2020-09-23 03:07] gaoguangze111 opened #24055 "Chinese page https://kubernetes.io/zh/docs/tasks/extend-kubernetes/configure-aggregation-layer/ link error"
**This is a Bug Report**

**Problem:**
Link in page https://kubernetes.io/zh/docs/tasks/extend-kubernetes/configure-aggregation-layer/ direct to English version page.

**Proposed Solution:**
Change link to chinese version page.

**Page to Update:**
https://kubernetes.io/zh/docs/tasks/extend-kubernetes/configure-aggregation-layer/

[2020-09-23 03:08] gaoguangze111 commented on #24055
/language zh
/assign

[2020-09-23 03:08] gaoguangze111 commented on #24055
/accept

[2020-09-23 03:11] yu-kasuya commented on #23321
/assign

[2020-09-23 03:11] yu-kasuya commented on #23599
了解しました

[2020-09-23 03:40] yu-kasuya commented on #23322
/assign

[2020-09-23 03:46] yu-kasuya commented on #23322
ja/docs/tutorials/stateless-application/guestbook-logs-metrics-with-elk.mdは1.18-ja.1には含まれていないようでした。

[2020-09-23 03:46] yu-kasuya commented on #23322
/milestone 1.18-ja.2

[2020-09-23 03:56] yu-kasuya commented on #23639
/assign

[2020-09-23 04:16] inductor commented on #23216
/close

[2020-09-23 04:16] #23216 closed

[2020-09-23 04:16] inductor commented on #23453
/close

[2020-09-23 04:17] #23453 closed

[2020-09-23 06:23] zhiguo-lu opened #24061 "[zh] page "/zh/docs/concepts/configuration/resource-bin-packing/" is misplaced."
**This is a Bug Report**

**Problem:**
english version: the page is located at "/docs/concepts/scheduling-eviction/resource-bin-packing/"
chinese version: the page is located at "/zh/docs/concepts/configuration/resource-bin-packing/"

**Proposed Solution:**
move file resource-bin-packing.md from "zh/docs/concepts/configuration/"  to "zh/docs/concepts/scheduling-eviction/"

**Page to Update:**
remo

[2020-09-23 06:24] zhiguo-lu commented on #24061
/language zh
/assign

[2020-09-23 07:48] #24061 closed

[2020-09-23 07:51] tengqm opened #24065 "[zh] Translate /docs/reference/access-authn-authz/certificate-signing-requests.md into Chinese"
/language zh

[2020-09-23 09:12] sakaia opened #24067 "Document how to deprovision a kubeadm cluster"
It is helpful to document the removing kubernetes cluster previously for scratch installation for kubeadm case.

[2020-09-23 09:15] sftim commented on #14201
Since this was logged, we gained https://www.kubernetes.dev/

[2020-09-23 10:25] sftim commented on #14727
/remove-lifecycle stale

[2020-09-23 11:39] inductor commented on #23310
/close

[2020-09-23 11:39] #23310 closed

[2020-09-23 11:40] inductor commented on #23597
/close

[2020-09-23 11:40] #23597 closed

[2020-09-23 13:03] carlpett opened #24072 "shell-demo.yaml not suitable for general use?"
**This is a Bug Report**

**Problem:**
#14892 made shell-demo.yaml, included in the ["how to get a shell in the cluster" doc](https://kubernetes.io/docs/tasks/debug-application-cluster/get-shell-running-container/), run with host networking.
This seems like an unwise first suggested configuration for someone who needs a shell in a cluster? In part because cluster-admins may have forbidden `hostNet

[2020-09-23 14:39] shuzokato commented on #23617
/assign

[2020-09-23 15:28] translucens commented on #23248
/assign

[2020-09-23 16:23] sftim commented on #24072
/sig security
(does this work?)

[2020-09-23 16:26] sftim commented on #24040
For help, you can post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

[Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) is another option.
For help specifically with Kata Containers, you can read https://katacontainers.io/community/ and follow the advice there.

GitHub is not the right place fo

[2020-09-23 17:11] neolit123 commented on #23713
/close
closing due to no reply, reopen if needed.

[2020-09-23 17:11] #23713 closed

[2020-09-23 17:13] neolit123 commented on #22414
closing due to no reply, reopen if needed.
/close

[2020-09-23 17:13] #22414 closed

[2020-09-23 17:14] neolit123 commented on #21958
/remove-lifecycle stale
/help

[2020-09-23 17:15] neolit123 commented on #21422
/kind feature

[2020-09-23 17:16] neolit123 commented on #22885
/remove-help
/assign
/lifecycle-active

sending a PR with:

[2020-09-23 17:20] liggitt commented on #24008
https://github.com/kubernetes/website/pull/23895 changed the apiVersion without actually updating required fields for v1

[2020-09-23 17:20] liggitt commented on #24008
cc @christomas1

[2020-09-23 19:30] tdsan opened #24078 "“Install and Set Up kubectl” suggests installing from snap with classic confinement"
snap install kubectl --classic

Per certain security requirements, the ubuntu system displayed an error message where it was not recommended doing it this way.

error: This revision of snap "kubectl" was published using classic confinement and thus may
       perform arbitrary system changes outside of the security sandbox that snaps are usually
       confined to, which may put your system at ris

[2020-09-23 19:30] annajung commented on #24009
Hey @mfilocha, I was thinking about what you said a bit more. What do you think about modifying the role handbook to say, use the last release's contact sheet to confirm the main contact for each localization for the current release?

Instead of pinging all owners, then release docs lead can just ping individuals who have volunteered last release and asked them to confirm if they're the still main

[2020-09-23 21:01] #23997 closed

[2020-09-23 21:01] #23541 closed

[2020-09-23 21:04] dheerujava opened #24080 "Unable to follow Ingress with NGINX task in Katacoda"
None of the examples given this page run.
I have enabled the nginx addon controller with minikube and trying to run the example given but always get this error
error: unable to recognize "ingress.yaml": no matches for kind "Ingress" in version "networking.k8s.io/v1"
Example Code:
[code]

This gives Error as no matches for kind "Ingress" in version "networking.k8s.io/v1" .
Can you please update wha

[2020-09-23 23:14] #24043 closed

[2020-09-24 01:02] kakts commented on #23322
https://github.com/kubernetes/website/issues/23322#issuecomment-697116849
こちらの件確認いたします

[2020-09-24 01:10] oceandengabc opened #24081 "mytest"

[2020-09-24 02:12] vavikast opened #24083 "自定义 DNS 服务"
要显式强制所有非集群 DNS 查找通过特定的域名服务器（位于 172.16.0.1），可将 forward 指向该域名服务器，而不是 /etc/resolv.conf。
**proxy .  172.16.0.1**
此处应该为：
forward .  172.16.0.1

[2020-09-24 02:56] seokho-son commented on #24009
@annajung
As the Korean l10n team leader, I prefer the first approach because the main contact may change periodically.
However, I think we don't need to survey the main contact list for every releases. We can reuse the previous contact list as a base contact list.

How about keep using the first approach (create an issue, ping all localization owners for main contact info).
And reuse the previous

[2020-09-24 02:58] mittalyashu commented on #24009
@annajung I was checking the docs site for Hindi language, didn't see the language in the list, even visiting the page `https://kubernetes.io/hi/` shows 404.

<img width="217" alt="Screenshot 2020-09-24 at 8 26 38 AM" src="https://user-images.githubusercontent.com/29014463/94095721-f2e96c00-fe3f-11ea-929d-fe8c4f7f5b61.png">

Was it removing due to lack of active contributions or some other reason?

[2020-09-24 03:37] yu-kasuya commented on #23608
/assign

[2020-09-24 03:43] zhiguo-lu opened #24086 "[zh] add page: /zh/docs/tasks/configure-pod-container/assign-pods-nodes-using-node-affinity/"
**This is a Feature Request**
page /tasks/configure-pod-container/assign-pods-nodes-using-node-affinity is not available from chinese version.

**What would you like to be added**
1. add file: content/zh/docs/tasks/configure-pod-container/assign-pods-nodes-using-node-affinity.md
2. translate the file from its english version

**Why is this needed**
Chinese and English version synchronization

**Co

[2020-09-24 03:43] zhiguo-lu commented on #24086
/language zh
/assign

[2020-09-24 03:45] yu-kasuya commented on #23423
/assign

[2020-09-24 04:28] #20568 closed

[2020-09-24 05:29] #20571 closed

[2020-09-24 05:31] WilliamChang80 opened #24090 "Fix page content on ID language page setup"
There are outdated content on https://kubernetes.io/id/docs/setup/ which is different from main page in https://kubernetes.io/docs/setup/

/language id

[2020-09-24 05:31] WilliamChang80 commented on #24090
/assign

[2020-09-24 05:33] WilliamChang80 commented on #24090
I'll work on this for about 3-5 days

[2020-09-24 05:47] bluefriday opened #24091 "Translate docs\setup\release (k8s 1.19 release notes) into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate docs\setup\release (k8s 1.19 release notes) into Korean
**Why is this needed**
There is no docs about docs\setup\release (k8s 1.19 release notes) in Korean
**Comments**

https://kubernetes.io/docs/setup/release/notes/

*v1.19.0-rc.x 파트의 번역을 제외한 v1.19.0 파트를 번역해보겠습니다.
(I'd like to translate the v1.19.0 part, excluding the

[2020-09-24 05:48] bluefriday commented on #24091
/language ko
/assign

[2020-09-24 08:05] habibrosyad commented on #24043
Looks like the new config has kicked in https://github.com/kubernetes/website/pull/24088#issuecomment-698182440

[2020-09-24 08:07] habibrosyad commented on #24043
Looks like the new config is up, e.g. https://github.com/kubernetes/website/pull/24088#issuecomment-698182440, need to verify whether the lgtm will survive through squash.

[2020-09-24 08:55] inductor commented on #23470
/close

[2020-09-24 08:55] #23470 closed

[2020-09-24 08:55] inductor commented on #23618
/close

[2020-09-24 08:55] #23618 closed

[2020-09-24 09:22] zhiguo-lu opened #24097 "[zh] add page: /zh/docs/tasks/administer-cluster/safely-drain-node/"
**This is a Feature Request**

page /docs/tasks/administer-cluster/safely-drain-node/ is not available in Chinese version.

**What would you like to be added**
1. add file: content/zh/docs/tasks/administer-cluster/safely-drain-node.md
1. translate the file from its english version

**Why is this needed**
synchronize Chinese with English version

**Comments**

[2020-09-24 09:22] zhiguo-lu commented on #24097
/language zh
/assign

[2020-09-24 09:43] habibrosyad commented on #24043
Confirmed that the setting working correctly https://github.com/kubernetes/website/pull/24096...

[2020-09-24 12:02] Kartik494 commented on #23549
@kkkarthik Hi did you try at your own machine, when i tried it in interactive tutorial then curl command showed the expected output

[2020-09-24 12:41] rjunior069 opened #24103 "Kubernetes Documentation"

[2020-09-24 13:09] kbhawkey commented on #24029
/kind bug

The correct link should be:
https://kubernetes.io/docs/contribute/style/content-guide/#third-party-content

[2020-09-24 13:34] SystemicEmotions opened #24105 "Configure Pod Initialization"
The very first example for pod with init container is failing, pod goes to Init:CrashLoopBackOff, it supposed to be in Running Status.
Not sure what has changed !

[2020-09-24 13:49] annajung commented on #24009
Hey @seokho-son that sounds great! That's what I was going trying to go for in the second option, but I clearly did not explain correctly. I think we can try that for the next release and see how that goes! I'll leave it for a few days to give everyone a chance to weigh in and then make changes

[2020-09-24 13:49] annajung commented on #24009
Hey @mittalyashu, I'm not sure why that's the case, I'm going to ask @zacharysarah @jimangel @sftim to chime in here

[2020-09-24 14:00] #24086 closed

[2020-09-24 17:43] andrescaroc opened #24107 "Content not related with main topic (Imperative Management of Objects Using Configuration Files)"
Hello,

I am learning about k8s object management and their differences:

1. Imperative commands
2. Imperative object configuration
3. Declarative object configuration

But I found that there is a **block of content that is not related** with those topics in two of these documentation pages.

**Title** of the block of content that is not related: **Defining controller selectors and PodTemplate lab

[2020-09-24 18:27] madetara commented on #18598
Hello. I'd like to work on that issue since #18606 seems abandoned

[2020-09-24 19:42] kngoyal opened #24108 "Issue with https://kubernetes.io/docs/tutorials/kubernetes-basics/expose/expose-interactive/"
**This is a Bug Report**

**Problem:**
I am following the above interactive tutorial on Exposing a deployed App outside the cluster on a minikube cluster hosted on my local machine running macOS.

I am able to successfully create the deployment using the command `kubectl create deployment kubernetes-bootcamp --image=gcr.io/google-samples/kubernetes-bootcamp:v1`

[code]

Also successfully expose th

[2020-09-24 20:32] madetara commented on #18598
I went ahead and translated community and CoC pages, might as well

/remove-lifecycle stale
/assign

[2020-09-24 21:37] #23840 closed

[2020-09-24 22:20] Arhell commented on #24029
/assign @Arhell

[2020-09-25 00:18] shuzokato commented on #23620
/assign

[2020-09-25 02:16] howieyuen opened #24112 "abnormal display of anchor points in page /zh/docs/reference/access-authn-authz/admission-controllers/"
**This is a Bug Report**

**Problem:**
Page /zh/docs/reference/access-authn-authz/admission-controllers/ display abnormally, these anchor points should start on a new line.

**Proposed Solution:**
fix the anchor point format.

abnormal format:
[code]
normal format:
[code]

**Page to Update:**
https://kubernetes.io/zh/docs/reference/access-authn-authz/admission-controllers/#每个准入控制器的作用是什么

[2020-09-25 02:16] howieyuen commented on #24112
/assign
/language zh

[2020-09-25 02:55] Yiyiyimu commented on #23474
@RA489 Sure I think our methods are the same. I'll close this issue.

[2020-09-25 02:55] #23474 closed

[2020-09-25 03:10] yu-kasuya commented on #23603
/assign

[2020-09-25 03:43] inductor commented on #23616
/close

[2020-09-25 03:43] #23616 closed

[2020-09-25 03:46] yu-kasuya commented on #23602
/assign

[2020-09-25 03:51] yu-kasuya commented on #23602
@kakts dev-1.18-ja.1には、ja/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases.mdがないようでした。これも次のブランチですかね。

[2020-09-25 03:54] yu-kasuya commented on #23347
/assign

[2020-09-25 04:08] weflee commented on #24020
[root@k8s-master01 ~]# kubectl exec -it sh -- nslookup -type=a myapp.default.svc.cluster.local
Server:         10.96.0.10
Address:        10.96.0.10:53

Name:   myapp.default.svc.cluster.local
Address: 10.108.20.198

[root@k8s-master01 ~]#

nslookup command without -type option, it means user A query.
It seems must take -type=a option.

[2020-09-25 04:08] #24020 closed

[2020-09-25 05:07] abhijeetnijampurkar opened #24117 "“Full screen” button not working as expected for katakoda tutorials"
I can't fullscreen the tutorial window and terminal as a whole. When I click on the maximize button on terminal window, the tutorial part should also show up along with the terminal.

[2020-09-25 05:47] #24018 closed

[2020-09-25 05:47] tengqm commented on #24103
/close

[2020-09-25 05:48] #24103 closed

[2020-09-25 05:48] tengqm commented on #21226
/remove-lifecycle rotten

[2020-09-25 05:51] #24025 closed

[2020-09-25 06:32] jonathanheaden commented on #23862
this is resolved

[2020-09-25 06:32] #23862 closed

[2020-09-25 07:14] #23835 closed

[2020-09-25 07:33] seokho-son opened #24120 "Korean Localization for dev-1.19-ko.3 branch"
## In English

**This is a Feature Request**

Korean Localization for `dev-1.19-ko.3` branch.

**What would you like to be added**

Any localization contributions for Korean.

**Comments**

- This issue is to notify the schedule of Korean localization to contributors.
- `dev-1.19-ko.3` is the current work branch for Korean localization.
- Korean PR Wrangler: @seokho-son

**Important dates**
- A Ko

[2020-09-25 08:06] seokho-son opened #24121 "Outdated files in the dev-1.19-ko.3 branch"
# This is a Bug Report
## Problem
Outdated files in the dev-1.19-ko.3 branch.

### 31 files to be modified
1. [ ] content/en/docs/concepts/configuration/configmap.md 1 file changed, 1 insertion(+)
1. [ ] content/en/docs/concepts/configuration/manage-resources-containers.md 1 file changed, 1 deletion(-)
1. [ ] content/en/docs/concepts/configuration/secret.md 1 file changed, 20 insertions(+), 392 de

[2020-09-25 08:47] seokho-son commented on #24121
/help

[2020-09-25 08:55] seokho-son commented on #22858
According to #22859, I am going to close this issue. Thank you.

[2020-09-25 08:55] #22858 closed

[2020-09-25 09:03] prabirkumardhar opened #24123 "is there a step by step guide to override the max-endpoints-per-slice after kubernetes install"
Hi Team
I need to change the max-endpoints-per-slice parameter of kube-controller-manager to 150 or 200 as it is needed for the app. Is there a way to change this value after the installation?

[2020-09-25 10:16] uculcarni-puma opened #24127 "Issue with k8s.io/docs/tasks/administer-cluster/dns-debugging-resolution/"
I have Cent-Os Linux based environment. Kubernetes is installed.
I have connection issue between Kubernetes CoreDNS pod and my IBM DNS IPs..
CoreDNS logs shows it is getting timeout while resolving DNS IPs...

rroot@master ~]# kubectl logs --namespace=kube-system -l k8s-app=kube-dns
[INFO] 127.0.0.1:59371 - 17727 "HINFO IN 8064230894866973346.7137657240395431905. udp 57 false 512" NOERROR - 0 2.00

[2020-09-25 10:22] JornShen commented on #23003
Sorry to have kept you waiting so long. @tengqm, plz check https://github.com/kubernetes/website/pull/24125

[2020-09-25 11:05] chhanz opened #24129 "Translate docs/reference/kubectl/docker-cli-to-kubectl/ into Korean"
**This is a Feature Request**

Translate docs/reference/kubectl/docker-cli-to-kubectl/ into Korean.
**What would you like to be added**

This is a Feature Request

There is no document of docs/reference/kubectl/docker-cli-to-kubectl/ which is translated into Korean.
**Why is this needed**

**Comments**

Page to translate : [https://kubernetes.io/docs/reference/kubectl/docker-cli-to-kubectl/](https

[2020-09-25 11:05] chhanz commented on #24129
/language ko
/assign

[2020-09-25 11:08] Yuuraa opened #24130 "Translate docs/setup/production-environment/tools/kubespray.md in to Korean"
**This is a Feature Request**

**What would you like to be added**

Translate docs/setup/production-environment/tools/kubespray.md

**Why is this needed**
Document docs/setup/production-environment/tools/kubespray.md is not translated into Korean yet.

**Comments**

Page to update:
https://kubernetes.io/docs/setup/production-environment/tools/kubespray/

[2020-09-25 11:09] Yuuraa commented on #24130
/language ko
/assign

[2020-09-25 12:04] irvifa commented on #17598
/remove-lifecycle stale

[2020-09-25 12:31] #24112 closed

[2020-09-25 13:38] Developer513 opened #24132 "쿠버네티스란 무엇인가?"
캡스톤 디자인 주제선정

[2020-09-25 13:46] Arhell commented on #24029
@pgoyal01  done
can be closed

[2020-09-25 14:08] pgoyal01 commented on #24029
Issue Fixed

[2020-09-25 14:08] #24029 closed

[2020-09-25 14:37] sftim commented on #20757
/remove-lifecycle rotten

[2020-09-25 14:41] sftim commented on #23914
/remove-priority awaiting-more-evidence
/priority backlog

[2020-09-25 14:42] sftim commented on #22015
/remove-lifecycle stale

[2020-09-25 14:42] sftim commented on #22015
https://yaml.org/ also uses `---`. It's a good hint to a text editor etc that the file is YAML.

[2020-09-25 15:08] nagajagan opened #24133 "No page content for https://k8s.io/docs/reference/kubectl/kubectl-cmds/"
A page just to provide a link another page?
My be you are planning more links on this page.
If not this page it self can point to target page.

[2020-09-25 15:45] Ajay2307 opened #24134 "Creating a cluster with kubeadm"
Hi Folks!

Not able to find the CNI deployment template in the documentation.
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/

Please update.

So that it will be easy for everyone to get a valid and supported network plugin.

[2020-09-25 15:47] jicowan opened #24135 "Add documentation for service.beta.kubernetes.io/aws-load-balancer-eip-allocations annotation (AWS NLB)"
The issue is documented here, https://github.com/kubernetes/kubernetes/pull/69263.
The annotation accepts an array of allocation IDs, 1 per subnet.  This allows you to associate a set of static IPs (EIPs) with a network load balancer (NLB).

[2020-09-25 16:19] neolit123 commented on #24134
Hi. The CNI examples were removed intentionally and we will not add them back. The kubeadm page now links to the page with the list of CNIs.

/sig cluster-lifecycle
/triage support
/close

[2020-09-25 16:19] #24134 closed

[2020-09-25 17:22] andrescaroc opened #24137 "Reference docs for "kubectl create deployment" command"
**This is a Bug Report**

**Problem:**
The mentioned page (link bellow) contains flags that are not available for the following command:

$ kubectl create deployment NAME --image=image -- [COMMAND] [args...]

Flags that are not available for this command:
--replicas
--port

The same page, provides two examples using those flags that don't work either:

Example1:

`kubectl create deployment my-dep

[2020-09-25 22:59] pjhwa commented on #24121
/assign

[2020-09-26 00:07] hikkie3110 commented on #23456
今週時間取れておらず…明日までにPR出すようにしますmm

[2020-09-26 00:10] #14724 closed

[2020-09-26 01:02] dougsland commented on #24009
Hi @annajung

I believe we are all set. In the slack people complain there is no much people helping in translation to have multiple teams.
Thanks!

[2020-09-26 01:13] gochist commented on #24132
Hello. I think you opened the issue by mistake, so I will close the issue. If you would like to suggest improvements to the content of your Kubernetes website, please refer to the following document. https://kubernetes.io/en/docs/contribute/suggest-improvements/

/close

[2020-09-26 01:13] #24132 closed

[2020-09-26 05:15] #16334 closed

[2020-09-26 05:34] tengqm commented on #16334
/remove-lifecycle rotten

[2020-09-26 06:08] khteh opened #24146 "Expand details about headless Services"
Little information for the Headless Service in terms of:

(1) What are the use cases?
(2) How does it compare with Service handled by kube-proxy (in all of the 3 modes) in terms of performance?

[2020-09-26 08:25] takaf04 commented on #23337
/assign

[2020-09-26 11:11] mfilocha commented on #24009
@annajung More general question is - do we really need to refresh (no matter which way) contact list every release?
My understanding is that you, as the docs lead, may want to contact people involved in localization tasks mainly for two reasons:
- to communicate release steps important for docs contributors
- to gather feedback

Why not to use general mentions like you did in the beginning of this

[2020-09-26 12:13] shuzokato commented on #23595
/assign

[2020-09-26 12:56] sftim commented on #22625
Design-wise, it's much easier to place 2 certification logos than 3. @celestehorgan do you have any thoughts on how to adjust things design-wise to incorporate the 3rd certification?

[2020-09-26 13:06] sftim opened #24148 "Highlight key pages in sitemap"
**This is a Feature Request**

**What would you like to be added**
The Kubernetes website generates a sitemap.

Let's highlight specific pages using priority weighting:
- https://k8s.io/
- https://k8s.io/docs/ _(and any localization that copies the priority weight)_
- https://k8s.io/docs/concepts/overview/ _(and any localization that copies the priority weight)_
- https://k8s.io/docs/concepts/over

[2020-09-26 13:22] sftim commented on #19811
Still very valuable IMO
/remove-lifecycle stale

[2020-09-26 13:23] sftim commented on #19811
If we add this, let's have https://www.kubernetes.dev/docs/ link to it.

[2020-09-26 13:30] JonghunBok opened #24150 "Translate docs/tasks/job/coarse-parallel-processing-work-queue.md into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate docs/tasks/job/coarse-parallel-processing-work-queue.md into Korean

**Why is this needed**
Cannot find docs/tasks/job/coarse-parallel-processing-work-queue.md in Korean
**Comments**

The page to update:
https://kubernetes.io/docs/tasks/job/coarse-parallel-processing-work-queue/

[2020-09-26 13:31] JonghunBok commented on #24150
/language ko
/assign

[2020-09-26 18:33] mingwei-li opened #24154 "Improvement for k8s.io/docs/tutorials/configuration/configure-redis-using-configmap/"
What is `kustomization`? Why is there `volumeMounts` and `volumes`? What is all the config key, name, path, file all over `kustomization.yml` and `redis-pod.yml`? How do they refer to each other? What are the naming conventions? If I as a beginner following the tutorial and get to this page for the first time, I'm 1000% lost of all the configuration nuances all over the place. If you really want t

[2020-09-27 05:33] hikkie3110 commented on #23768
/assign

[2020-09-27 06:56] #24097 closed

[2020-09-27 07:22] pjhwa opened #24156 "Issue with links to already translated ko documents"
**This is a Bug Report**

**Problem:**
The following documents contain the document links which are already translated into Korean:
- [ ] content/ko/docs/concepts/architecture/control-plane-node-communication.md
- [ ] content/ko/docs/concepts/cluster-administration/_index.md
- [ ] content/ko/docs/concepts/containers/runtime-class.md
- [ ] content/ko/docs/concepts/extend-kubernetes/_index.md
- [ ]

[2020-09-27 07:22] pjhwa commented on #24156
/assign

[2020-09-27 07:34] zhiguo-lu opened #24157 "[zh] add page: /zh/docs/tasks/inject-data-application/define-interdependent-environment-variables/"
**This is a Feature Request**

page /docs/tasks/inject-data-application/define-interdependent-environment-variables/ is not available in Chinese version.

**What would you like to be added**
add files:
- content/zh/docs/tasks/inject-data-application/define-interdependent-environment-variables.md
translate the file from its english version
- content/zh/examples/pods/inject/dependent-envars.yaml

**

[2020-09-27 07:35] zhiguo-lu commented on #24157
/language zh
/assign

[2020-09-27 09:32] Arhell opened #24163 "remove "extra indent""
**This is a Bug Report**

**Problem:**
![1](https://user-images.githubusercontent.com/26163841/94361523-867ba080-00bd-11eb-8588-4e0a026d52cf.jpg)

**Proposed Solution:**
remove 1-e br like en version

**Page to Update:**
https://kubernetes.io/vi/#video

/language vi
/assign
/area web-development

[2020-09-27 13:32] #24011 closed

[2020-09-27 13:39] panzhc opened #24167 "自定义 DNS 服务"
proxy ./etc/resolv.conf
-->
forward . /etc/resolv.conf

[2020-09-27 14:48] #20667 closed

[2020-09-27 20:35] jimangel commented on #24081
Hey @oceandengabc did you have any issue you'd like to open?

For now, I will close this due to the lack of information, feel free to reopen!

/close

[2020-09-27 20:35] #24081 closed

[2020-09-27 20:40] sftim commented on #18381
Hope this is OK to:
/reopen
/remove-lifecycle rotten

[2020-09-27 21:30] jimangel commented on #21641
/close

[2020-09-27 21:30] #21641 closed

[2020-09-27 22:07] jimangel commented on #23797
Update for anyone following this issue: Lazy consensus was met on 9/22 at the SIG Docs weekly meeting.

[2020-09-28 00:44] jimangel commented on #24009
@mittalyashu it appears many of the Hindi localization PRs / issues have closed without merging (example: [1](https://github.com/kubernetes/website/issues/13914), [2](https://github.com/kubernetes/website/pull/14069)) due to inactivity. If you feel this was done in error, please bring it up on the Kubernetes Slack or re-open the pull requests to address feedback. The Kubernetes SIG Docs Slack woul

[2020-09-28 01:09] jimangel opened #24170 "Cleaning up org teams / owners / owners_aliases permissions"
This issue is to track a couple PRs that accomplish the following:

- From [`k/org/blob/master/config/kubernetes/sig-docs/teams.yaml`](https://github.com/kubernetes/org/blob/master/config/kubernetes/sig-docs/teams.yaml)
  - Remove @xiangpengzhao as a reviewer or approver (welcome back at any time and may reference this issue)
  - Remove @bradamant3 as a reviewer or approver with write access (welc

[2020-09-28 01:53] inductor commented on #23347
/close

[2020-09-28 01:53] inductor commented on #23603
/close

[2020-09-28 01:53] #23347 closed

[2020-09-28 01:53] #23603 closed

[2020-09-28 01:59] christomas1 commented on #24008
About proposal "Remove kubernetes.io/legacy-unknown section" of this issue, the v1.19 release notes indicates:

Ref: https://kubernetes.io/docs/setup/release/notes/#api-change

@gaurav517 Can you create a PR for this?

[2020-09-28 02:02] liggitt commented on #24008
The `kubernetes.io/legacy-unknown` documentation should remain until v1beta1 is no longer supported

[2020-09-28 03:32] inductor commented on #23639
/approve

[2020-09-28 03:32] inductor commented on #23639
/close,

[2020-09-28 03:54] inductor commented on #23639
/close

[2020-09-28 03:54] #23639 closed

[2020-09-28 04:06] yu-kasuya commented on #23369
/assign

[2020-09-28 04:10] inductor commented on #23423
/close

[2020-09-28 04:10] #23423 closed

[2020-09-28 07:46] zhiguo-lu opened #24177 "[zh] add page: /zh/docs/tasks/debug-application-cluster/debug-running-pod/"
**This is a Feature Request**
webpage /zh/docs/tasks/debug-application-cluster/debug-running-pod/ is not available in Chinese version,
add it.

**What would you like to be added**
add file /content/zh/docs/tasks/debug-application-cluster/debug-running-pod.md,
and translate the file from its English version to Chinese

**Why is this needed**
synchronize Chinese with English version

[2020-09-28 07:46] zhiguo-lu commented on #24177
/language zh
/assign

[2020-09-28 07:49] dayongi opened #24178 "云控制器管理器的基础概念"
![image](https://user-images.githubusercontent.com/41787764/94404790-1d218d80-01a2-11eb-8f82-1ca37a9bd722.png)

[2020-09-28 09:36] yu-kasuya commented on #23321
/close

[2020-09-28 09:44] npu21 opened #24181 "Add post-filter part in scheduling-framework for zh"
**This is a Feature Request**

Add post-filter part in scheduling-framework for zh,sync with en version

**What would you like to be added**
content/zh/docs/concepts/scheduling-eviction/scheduling-framework.md

/language zh
/assign

[2020-09-28 09:48] yu-kasuya commented on #23321
あれcloseできないのか
@inductor @kakts mergeしていただいたので、クローズお願いします

[2020-09-28 10:27] sftim commented on #19025
/remove-lifecycle rotten
Done in https://github.com/kubernetes/website/pull/23478
/close

[2020-09-28 10:28] #19025 closed

[2020-09-28 14:44] walidshaari opened #24184 "Issue with k8s.io/docs/tasks/debug-application-cluster/falco/"
**This is a Bug Report**

**Problem:**
missing from latest documentation for 1.19

**Proposed Solution:**
test and update for latest documenation

**Page to Update:**
https://v1-17.docs.kubernetes.io/docs/tasks/debug-application-cluster/falco/

1.19 and 1.20

could not find procedure how to update and create a pull request for documentation

[2020-09-28 15:45] inductor commented on #23321
/close

[2020-09-28 15:45] #23321 closed

[2020-09-28 16:16] inductor commented on #23450
/close

[2020-09-28 16:17] #23450 closed

[2020-09-28 16:24] celestehorgan commented on #23354
@rbrishabh doesn't appear to have updated this, and I need a good first issue to train up a new member of CNCF docs/dev advocacy staff, so I'm going to take this one 👍

/assign @hackabletype

(nb. Nate: **hold**. Do not action on this until we meet later this afternoon.)

[2020-09-28 16:31] rbrishabh commented on #23354
Sorry! I got busy with other work! Please feel free to work on this, thanks!

[2020-09-28 17:45] jimangel commented on #24170
/priority important-soon
/kind cleanup
/cc @kbarnard10 @irvifa @zacharysarah

[2020-09-28 18:25] hackabletype commented on #23354
/assign

[2020-09-28 21:30] hackabletype commented on #23354
Hi @inductor, based on [another conversation](https://github.com/issues?page=2&q=is%3Aopen+is%3Aissue+author%3Atstromberg+archived%3Afalse+minikube), we may solve this issue by removing the minikube installation as dual sourced content, and replacing this page with a link to the [minikube installer documentation](https://minikube.sigs.k8s.io/docs/).

@tstromberg we are thinking of removing this pa

[2020-09-28 21:38] celestehorgan commented on #23354
@hackabletype

As a part of this change, it might be worth making the links to Kind and Minikube a bit more visual/see-able. For example, using a button like here: https://kubernetes.io/docs/home/#understand-the-basics

[2020-09-29 01:13] pjhwa opened #24188 "Issue with broken links in ko documents"
**This is a Bug Report**

**Problem:**
There are some broken links in the Korean translated documents:
- [ ] content/ko/docs/concepts/configuration/pod-priority-preemption.md
- [ ] content/ko/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
- [ ] content/ko/docs/reference/access-authn-authz/controlling-access.md
- [ ] content/ko/docs/reference/glossary/pod-lifecycle.md
- [ ] c

[2020-09-29 01:13] pjhwa commented on #24188
/assign

[2020-09-29 01:22] zgfh opened #24189 "Certificate Management with kubeadm"
[code]
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/#automatic-certificate-renewal

This confuses me,I thought I could not use this command, and I don't know how to keep them in sync.
should we add the method  how to keep them in sync ?

[2020-09-29 02:59] yu-kasuya commented on #23346
/assign

[2020-09-29 03:14] gaosong030431207 opened #24192 "使用 PodPreset 将信息注入 Pod"
【环境变量】 连接点击失效

[2020-09-29 04:30] hikkie3110 commented on #23319
/assign

[2020-09-29 06:19] anandagirish2 opened #24195 "Issue with k8s.io/docs/concepts/configuration/secret/"
It does not say much about viewing secrets.

[2020-09-29 06:21] anandagirish2 opened #24196 "Issue with k8s.io/docs/concepts/configuration/secret/"
How do I disable secret manager?

[2020-09-29 06:23] anandagirish2 opened #24197 "Issue with k8s.io/docs/concepts/*"
Several default settings don't work. Incomplete documentation on some items.

[2020-09-29 06:25] anandagirish2 opened #24199 "Issue with k8s.io/docs/concepts/*"
Almost all examples on the internet to simply deploy a Springboot into k8s using Jenkins don't work successfully for a week. I am looking for just 1 working example that keeps running successfully for a week at least.

[2020-09-29 06:29] anandagirish2 opened #24200 "Issue with k8s.io/docs/concepts/*"
I see several docs saying deploy springboot into k8s in so many easy steps or in so many mins, etc. Have you tested by actually getting someone who does not have much knowledge on k8s and uses documentation failing several times? How can that person succeed in achieving what they are? Why is it not straight forward?

[2020-09-29 07:15] fancc commented on #22841
/close

[2020-09-29 07:15] #22841 closed

[2020-09-29 07:15] #23588 closed

[2020-09-29 07:15] #23612 closed

[2020-09-29 07:16] fancc opened #24203 "Translate Define Dependent Environment Variables into Chinese"
Translate `Define Dependent Environment Variables` into Chinese

[2020-09-29 07:16] fancc commented on #24203
/assign
/language zh

[2020-09-29 07:31] CriaHu opened #24207 "Translate docs/tasks/extend-kubernetes/setup-konnectivity.md into Chinese"
This is a Feature Request

What would you like to be added

Translate docs/tasks/extend-kubernetes/setup-konnectivity.md into Chinese

Why is this needed
Cannot find docs/tasks/extend-kubernetes/setup-konnectivity.md in Chinese
Comments

The page to update:
https://kubernetes.io/docs/tasks/extend-kubernetes/setup-konnectivity/

[2020-09-29 07:32] CriaHu commented on #24207
/language zh
/assign

[2020-09-29 08:34] CriaHu opened #24214 "Translate docs/setup/production-environment/tools/kubespray.md into chinese"
This is a Feature Request

What would you like to be added

Translate docs/setup/production-environment/tools/kubespray.md into Chinese

Why is this needed
Cannot find docs/setup/production-environment/tools/kubespray.md in Chinese
Comments

The page to update:
https://kubernetes.io/docs/setup/production-environment/tools/kubespray/

[2020-09-29 08:35] CriaHu commented on #24214
/language zh
/assign

[2020-09-29 08:39] madetara commented on #18598
I think we can close this now. Forgot to add `Fixes` to #24116

/close

[2020-09-29 08:42] sftim commented on #18598
/close

[2020-09-29 08:42] #18598 closed

[2020-09-29 09:38] fancc opened #24215 "Translate Debug Running Pod into Chinese"
Translate Debug Running Pod into Chinese

[2020-09-29 09:38] fancc commented on #24215
/assign
/language zh

[2020-09-29 09:51] fancc opened #24217 "Translate Restrict a Container's Syscalls with Seccomp into Chinese"
Translate Restrict a Container's Syscalls with Seccomp into Chinese

[2020-09-29 09:51] fancc commented on #24217
/assign
/language zh

[2020-09-29 11:04] gaurav517 commented on #24008
I am happy to create a PR, but I am not able to push a branch to this repo. I have already signed CLA but still get:
[code]
Any idea? Did I miss something in contribution doc? I will have a look at that again.

[2020-09-29 12:14] tengqm commented on #24008
push it to your own clone, then use github to raise a pull request.
[detailed guide](https://kubernetes.io/docs/contribute/new-content/open-a-pr/#fork-the-repo)

[2020-09-29 12:35] howieyuen commented on #24178
/assign

[2020-09-29 12:35] howieyuen commented on #24178
/language zh

[2020-09-29 12:42] MaxymVlasov commented on #24009
@annajung you can count on me in Ukrainian localization

[2020-09-29 12:42] hikkie3110 commented on #23303
/assign

[2020-09-29 12:55] neolit123 commented on #24189
the note says the properties of the certs on disk (such as SAN) will be used for generating the new certs.
to "keep them in sync" means that if you generated custom certs using your own process, make sure that e.g. kubeadm-config (ConfigMap) -> ClusterConfiguration -> apiServer -> extraSANs matches the SANs in the kube-apiserver certficate.

but IIRC, `kubeadm ... certs renew` fetches the kubeadm

[2020-09-29 13:08] howieyuen commented on #24167
/assign
/language zh

[2020-09-29 13:11] howieyuen commented on #24167
page: https://kubernetes.io/zh/docs/tasks/administer-cluster/dns-custom-nameservers/#coredns-configmap-options

below yaml config is fetched from k8s 1.19
[code]

[2020-09-29 13:36] howieyuen commented on #24192
could you please be more specific? I cannot find the broken link...

[2020-09-29 14:54] annajung commented on #24009
Hi @MaxymVlasov nice to meet you! I have added you as the main person to contact for Ukrainian.

[2020-09-29 16:18] randallt opened #24226 "Horizontal Pod Autoscaler doc issue"
Near the bottom the page
https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/

[code]
Shouldn't the text replace 'minimum' with 'maximum', as specified by the yaml block?

[2020-09-29 16:57] BrettPhilip opened #24227 "Interactive Tutorial - Creating a Cluster"
Getting Connection error using Interactive tutorial

kubectl cluster-info dump
The connection to the server localhost:8080 was refused - did you specify the right host or port?

[2020-09-29 17:23] sftim opened #24228 "Remove legacy site map"
**This is a cleanup request**

**What would you like to be added**
Remove the page https://kubernetes.io/docs/sitemap/

**Why is this needed**
- The site map at https://kubernetes.io/docs/sitemap/ does not work as expected. There are no dropdowns.
- This page is not linked from other pages.

Also: since the [switch to Docsy](https://github.com/kubernetes/website/pull/20874) the navigation provided

[2020-09-29 17:25] celestehorgan commented on #23417
Per discussion in the 9/22 SIG Docs meeting:

- We are going to get rid of the `/community` page and re-home the Events & Meetups content and Code of Conduct content.
- We'll link via the top nav to kubernetes.dev

[2020-09-29 17:50] irvifa commented on #24170
@jimangel I'm curious whether we do periodic check for this as part of clean up or this is possible?

[2020-09-29 18:46] kbhawkey commented on #21922
/assign

[2020-09-29 18:54] kbhawkey commented on #21922
Related to issue #22024.

[2020-09-29 19:56] madjidGH opened #24230 "Install and Set Up kubectl on Ubuntu 16.04.07 LTS on virtualBox 6.1"
Hi,

I get the following when trying to verify installation of kubectl on Ubuntu 16.04.07 LTS on virtualBox 6.1

kubectl version --client
returns

cannot execute binary file : Exec format error

ran file /usr/local/bin/kubectl and got the following:
ELF 64-bit LSB executable, x86-64 ..
ran dpkg --print-architecture  and got the following:
i386

Can anyone help with kubectl install?

[2020-09-29 21:25] sftim commented on #23417
Hmm, this might not be as easy as I thought it would be. I'm sure it's feasible though.

[2020-09-29 22:09] #22944 closed

[2020-09-29 22:43] #18898 closed

[2020-09-29 22:43] #20702 closed

[2020-09-30 00:55] gaosong030431207 commented on #24192
if you enter [https://kubernetes.io/zh/docs/tasks/inject-data-application/podpreset/],  you can see next describtion:
本页展示如何在创建 Pod 时 使用 PodPreset 对象将类似 Secret、卷挂载和 **环境变量** 这类信息注入到 Pod 中.
and you click  ‘环境变量’ ， the link is broken

[2020-09-30 01:10] howieyuen commented on #24192
thank you, I'm fixing it now ~

[2020-09-30 01:10] howieyuen commented on #24192
/assgin

[2020-09-30 01:10] howieyuen commented on #24192
/language zh

[2020-09-30 06:59] #24192 closed

[2020-09-30 07:06] Arhell commented on #24163
/close

[2020-09-30 07:06] #24163 closed

[2020-09-30 07:29] #24177 closed

[2020-09-30 07:44] tengqm commented on #24065
/reopen
This was incorrectly closed by #24222

[2020-09-30 07:45] #24167 closed

[2020-09-30 08:05] nikhita commented on #21749
/remove-lifecycle stale
xref https://github.com/kubernetes/org/issues/2222

[2020-09-30 08:13] christosploutarchou opened #24249 "Adding entries to Pod /etc/hosts with HostAliases"
Is there a way of adding an extra entry in /etc/hosts next to the auto-generated one?

For example:
From:
10.0.0.1 pod-name-replica-set-uid
To:
10.0.0.1 pod-name-replica-set-uid myAlias1 myAlias2 ....

[2020-09-30 08:23] tengqm commented on #24154
Thanks for filing an issue.
Any suggestions you can provide?
Any PRs you can help commit?

[2020-09-30 08:23] inductor commented on #23768
/close

[2020-09-30 08:24] #23768 closed

[2020-09-30 08:32] tengqm commented on #22264
/close

[2020-09-30 08:32] #22264 closed

[2020-09-30 10:09] vipup opened #24254 "Web UI (Dashboard)"
After step: "Kubectl will make Dashboard available at"  :( What should I do FTW?
{
  "kind": "Status",
  "apiVersion": "v1",
  "metadata": {

  },
  "status": "Failure",
  "message": "error trying to reach service: dial tcp 10.244.1.49:8443: i/o timeout",
  "code": 500
}

[2020-09-30 12:54] arjunkendr-e opened #24261 "Latest change environment"
**This is a Feature Request**

**What would you like to be added**

**Why is this needed**

**Comments**
Add latest trend content.

[2020-09-30 14:30] kakts opened #24265 "ja-trans: Move content/ja/docs/concepts/configuration/assign-pod-node.md to content/ja/docs/concepts/scheduling-eviction/assign-pod-node.md"
**This is a Feature Request**

**What would you like to be added**

- Please move  the content/ja/docs/concepts/configuration/assign-pod-node.md document to content/ja/docs/concepts/scheduling-eviction/assign-pod-node.md

- Please fix link to this japanese assign-pod-node.md page.
https://github.com/kubernetes/website/commit/55e17b86f268366fc4654c594356c13b7cb94681#diff-65db3915b9b142dee8ed8cbc330

[2020-09-30 14:32] kakts commented on #23596
https://github.com/kubernetes/website/pull/24002
↑でコメントされていたassign-pod-node.mdのページ移行とリンク修正のissue作成しました。
https://github.com/kubernetes/website/issues/24265

[2020-09-30 14:32] seongpyoHong opened #24266 "FIx link for operator framework document"
**This is a Bug Report**

**Problem:** In `docs/concepts/extend-kubernetes/operator`, link for Operator Framework is deprecated.

**Proposed Solution:**
Change URL https://github.com/operator-framework/getting-started to https://operatorframework.io

**Page to Update:**
https://kubernetes.io/docs/concepts/extend-kubernetes/operator/

[2020-09-30 14:47] Evalle commented on #24265
I think I can help with that /assign

[2020-09-30 14:55] roshnaeem commented on #24228
Hey @sftim , I want to work on this issue. Can you tell me how do I have to delete this page?

[2020-09-30 15:05] roshnaeem commented on #24228
I have forked the project. Do I have to run the project to get that delete icon?

[2020-09-30 15:13] sftim commented on #24228
@roshnaeem if you look at https://github.com/roshnaeem/website/blob/master/content/en/docs/sitemap.md I suspect you'll see that icon; here's a screenshot:
![GitHub web UI delete file icon](https://user-images.githubusercontent.com/22591623/94704436-d4034200-0337-11eb-9dbf-69aeda74f08f.png)

[2020-09-30 15:22] roshnaeem commented on #24228
oh yeah, i saw that. I thought maybe I have to delete it from a running project. Let me open a pull request.

[2020-09-30 15:34] roshnaeem commented on #24228
kindly check my PR @sftim  https://github.com/kubernetes/website/pull/24270

[2020-09-30 17:12] inductor commented on #24265
@kakts 1.18ブランチで作って欲しい旨が抜けてます

[2020-09-30 17:13] inductor commented on #23596
/close

[2020-09-30 17:14] #23596 closed

[2020-09-30 18:50] sftim commented on #24226
/kind bug
/sig autoscaling
/language en
/priority backlog

[2020-09-30 19:04] #24228 closed

[2020-09-30 21:36] kbhawkey commented on #21922
Updated the tabs shortcode to use Bootstrap library.
/close

[2020-09-30 21:37] #21922 closed

[2020-09-30 23:34] #23659 closed

[2020-10-01 00:26] kbhawkey commented on #20649
@sftim Is this issue ready to close?

[2020-10-01 00:27] kbhawkey commented on #14507
Leave open or close?

[2020-10-01 03:49] stevek-pro commented on #18798
/reopen

[2020-10-01 03:51] RA489 commented on #24007
/triage support

[2020-10-01 03:52] RA489 commented on #24007
/kind support

[2020-10-01 03:56] pjhwa opened #24296 "Issue with tasks/administer-cluster/out-of-resource/"
**This is a Bug Report**

**Problem:**
There is a broken link to script in tasks/administer-cluster/out-of-resource.md file.
At 44 line:
[code]

**Proposed Solution:**
Move the script file to examples directory.

[code]

**Page to Update:**
https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/

/language en

[2020-10-01 03:56] pjhwa commented on #24296
/assign

[2020-10-01 03:57] markyjackson-taulia commented on #24007
@TommyQuality 5ths isu could be opened here https://github.com/kubernetes/minikube

[2020-10-01 03:59] markyjackson-taulia commented on #24007
kindly open issue here https://github.com/kubernetes/minikube

/close

[2020-10-01 03:59] #24007 closed

[2020-10-01 04:56] gaurav517 commented on #24008
Great thanks. PR on the way then. :)

[2020-10-01 07:29] tkms0106 commented on #23348
/assign

[2020-10-01 09:00] inductor commented on #23348
/close

[2020-10-01 09:00] #23348 closed

[2020-10-01 09:00] inductor commented on #23348
@tkms0106 すみません、こちら対応不要なIssueです。（日本語と英語で内容が全く違うので

[2020-10-01 09:15] RA489 commented on #23356
/kind support

[2020-10-01 09:18] Evalle commented on #24265
Closed in favor of https://github.com/kubernetes/website/pull/24314

[2020-10-01 09:18] RA489 commented on #23108
/kind support

[2020-10-01 09:26] RA489 commented on #24067
@sakaia does `kubeadm reset` doesn't help?

[2020-10-01 09:27] RA489 commented on #24067
Kubeadm doesn't  provisions machine for you.

[2020-10-01 09:30] RA489 commented on #23854
https://github.com/kubernetes/minikube/tree/master/deploy/addons/ingress-dns

[2020-10-01 09:35] RA489 commented on #23108
@josephdubeau Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

Thank you for sharing your experience!

[2020-10-01 10:41] sftim commented on #20649
Yep
/close

[2020-10-01 10:42] #20649 closed

[2020-10-01 11:31] sacgoel opened #24318 "Init Containers"
In 'Understanding init containers' section, document states the below:
_If a Pod's init container fails, Kubernetes repeatedly restarts the Pod until the init container succeeds. However, if the Pod has a restartPolicy of Never, Kubernetes does not restart the Pod._
But as I understand, it's not a Pod that can be restarted rather it's the container which will get restarted. Please review..

[2020-10-01 11:37] sftim commented on #24318
`restartPolicy` is indeed the _container_ restart policy for the Pod.

I suggest changing https://kubernetes.io/docs/concepts/workloads/pods/init-containers/ to use this replacement text:

/language en
/sig node
/kind bug
/priority backlog
/good-first-issue

Thanks @sacgoel

[2020-10-01 12:29] guettli commented on #23902
@sftim thank you for looking at this. There is no progress since some days. How to contact sig/storage?

[2020-10-01 12:48] sftim commented on #23902
@guettli the vast majority of contributors are volunteers. If you wanted to _pay_ for someone to work on it then there are certainly firms who'll take your money. Otherwise, it's on the backlog of improvements that people could pick up.

/priority backlog
/language en
/kind feature

What I will do is retitle this to try to explain what work is required.
/retitle Explain in context the kind of prin

[2020-10-01 13:34] kbhawkey commented on #24261
From the comments, it is not clear what you are reporting. Feel free to clarify.
/close

[2020-10-01 13:34] #24261 closed

[2020-10-01 13:36] sftim commented on #24266
/language en
/kind cleanup
/priority backlog
/help

_Kubernetes is not taking part in Hacktoberfest_

[2020-10-01 14:17] seongpyoHong commented on #24266
Merged #24286

[2020-10-01 14:17] #24266 closed

[2020-10-01 16:26] Arhell opened #24330 "translate subscribe button"
**This is a Feature Request**

**What would you like to be added**
https://kubernetes.io/vi/#kubeweekly

**Why is this needed**
translate button

/assign
/language vi

[2020-10-01 16:53] sftim opened #24334 "Use Hugo attributions for blog articles"
**This is a Feature Request**

**What would you like to be added**
Set author information for blog articles in page front matter.

**Why is this needed**
Docsy supports using the front matter of an article to record the author information, and lets this be formatted into the final page.
This issue proposes using that support and revising the _existing_ articles to use that format too.

**Comments*

[2020-10-01 18:01] adamdbenson opened #24336 "Trouble working through Interactive Tutorial - Creating a Cluster"
In the interactive tutorial, Module 1, step 2, the command is

`kubectl version`

the response is

`Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.3", GitCommit:"06ad960bfd03b39c8310aaf92d1e7c12ce618213", GitTreeState:"clean", BuildDate:"2020-02-11T18:14:22Z", GoVersion:"go1.13.6", Compiler:"gc", Platform:"linux/amd64"}
**The connection to the server localhost:8080 was refus

[2020-10-01 19:35] celestehorgan commented on #24318
/close

[2020-10-01 19:35] #24318 closed

[2020-10-01 19:36] celestehorgan commented on #24254
Hi @vipup, could you please provide us the URL of page that this code snippet is on?

/priority awaiting-more-evidence

[2020-10-01 19:36] celestehorgan commented on #24254
/kind bug

[2020-10-02 02:39] zhiguo-lu commented on #24215
#24177  had translated the page already.
Thanks

[2020-10-02 07:50] habibrosyad commented on #24334
I think this post https://github.com/kubernetes/website/blob/master/content/en/blog/_posts/2020-10-01-contributing-to-the-development-guide/index.md is the best example which implement the feature.

Just curios, should the front matter also be improved to support author affiliation info (found lots of example there), e.g adding `Affiliation` field? Or just simply append the Author field with that

[2020-10-02 11:39] sftim commented on #24336
/retitle Trouble working through Interactive Tutorial - Creating a Cluster

@adamdbenson thanks for reporting this. I tried it and it works - if you try again, are the symptoms still there?
/kind bug
/priority awaiting-more-evidence

[2020-10-02 13:19] sftim commented on #24334
The tricky bit will be how to handle articles with multiple authors.

I suspect a good approach here is to update the Docsy theme with that new feature, and then revise once upstream has released the improvement. More involved but also easier to maintain.

[2020-10-02 13:47] habibrosyad commented on #24334
I'm thinking something like:
[code]
I suspect it would be weird when rendered if you put multiple names within `author`.

Agree.

[2020-10-02 17:11] irvifa commented on #24334
For long term it will be better to investigate Docsy support for multiple authors.

[2020-10-02 17:12] #24296 closed

[2020-10-03 02:17] sftim opened #24351 "Scheduled builds"
**This is a Feature Request**

**What would you like to be added**
Trigger a site build via the Netlify API every _n_ hours

**Why is this needed**
Scheduled builds enable other features, including:
- Automatic updates using data from external sources (eg release information)
- Future-dated blog articles that publish automatically

**Comments**
Based on an idea mentioned in https://github.com/kube

[2020-10-03 02:17] sftim commented on #24351
@kbhawkey @onlydole I would welcome your thoughts on this and whether we should prioritize it / deprioritize it.

[2020-10-03 02:42] onlydole commented on #24351
I'm in favor of this, both in creating and prioritizing. I see a lot of value in using this for link checking or other similar tooling.

[2020-10-03 02:59] sftim commented on #24351
Another thing scheduled builds ties into well: a shortcode to fetch from other repos (a bit like a Git submodule, but fetched at render time and tied specifically to GitHub).
See https://github.com/kubernetes-sigs/contributor-site/issues/93#issuecomment-583648843 for an example.

[2020-10-03 06:33] irvifa commented on #24351
I’m in favor of using this as well.

[2020-10-03 06:38] #24090 closed

[2020-10-03 08:02] #17927 closed

[2020-10-03 08:44] irvifa commented on #22064
/remove-lifecycle stale

[2020-10-03 11:36] sjmudd opened #24355 "Improvement for k8s.io/docs/tutorials/kubernetes-basics/create-cluster/"
I guess there are various options out there. I've been using microk8s which seems to work well. Perhaps you can provide some options of different alternatives to using minikube?

The other thing which is not 100% clear is that for people who want to manage their own k8s for self-tuition or other reasons some descriptions of the different options, their limitations and so on would be useful.  One t

[2020-10-03 12:49] #24157 closed

[2020-10-03 22:54] pjhwa commented on #21837
/close

[2020-10-03 22:54] #21837 closed

[2020-10-03 22:58] pjhwa commented on #22230
/close

[2020-10-03 22:58] #22230 closed

[2020-10-03 22:58] pjhwa commented on #22260
/close

[2020-10-03 22:59] #22260 closed

[2020-10-03 23:02] pjhwa commented on #22609
/close

[2020-10-03 23:02] #22609 closed

[2020-10-03 23:02] pjhwa commented on #22435
/close

[2020-10-03 23:02] #22435 closed

[2020-10-03 23:04] pjhwa commented on #22737
/close

[2020-10-03 23:04] #22737 closed

[2020-10-03 23:04] pjhwa commented on #23723
/close

[2020-10-03 23:04] #23723 closed

[2020-10-03 23:10] pjhwa commented on #23939
@jihoon-seo 저는 두 번째 제안이 괜찮을 것 같습니다. :-)

[2020-10-03 23:10] pjhwa commented on #23944
/close

[2020-10-03 23:10] #23944 closed

[2020-10-03 23:10] pjhwa commented on #23972
/close

[2020-10-03 23:10] #23972 closed

[2020-10-03 23:11] pjhwa commented on #23977
/close

[2020-10-03 23:11] #23977 closed

[2020-10-03 23:36] sftim opened #24361 "kubelet glossary term incorrectly marked as core object"
**This is a Bug Report**

**Problem:**
If you filter for just core objects in the glossary, you see a definition for kubelet.
The [kubelet](https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/) is important but it's not a core object because it's not part of the API at all. (The API object is called Node).

**Proposed Solution:**
Edit the source Markdown file at https://githu

[2020-10-03 23:36] sftim commented on #24361
/good-first-issue

[2020-10-03 23:38] sftim commented on #24197
Hi @anandagirish2

There are a lot of pages inside the Concepts section. Was there a particular shortcoming you'd like to describe?
/triage needs-information

[2020-10-03 23:39] sftim commented on #24200
/triage needs-information

Hi @anandagirish2
Can you confirm which concept page you wanted to report a defect with?

[2020-10-03 23:39] sftim commented on #24199
/triage invalid
/close

[2020-10-03 23:39] #24199 closed

[2020-10-03 23:39] sftim commented on #24196
/triage support
/close

[2020-10-03 23:40] #24196 closed

[2020-10-03 23:41] sftim commented on #24195
I noticed that https://k8s.io/docs/concepts/configuration/secret/ links to
https://k8s.io/docs/tasks/configmap-secret/managing-secret-using-kubectl/

It sounds like perhaps https://kubernetes.io/docs/concepts/configuration/secret/#using-secrets could also link to that task page? What do you think @anandagirish2 ?

/language en
/priority awaiting-more-evidence

[2020-10-03 23:43] sftim commented on #24196
/kind support

[2020-10-03 23:45] sftim commented on #24184
@walidshaari the page you mention was [removed](https://github.com/kubernetes/website/pull/22313) because it does not fit with the website [content guide](https://kubernetes.io/docs/contribute/style/content-guide/).

You can find documentation for Falco's integration with Kubernetes at https://falco.org/docs/event-sources/kubernetes-audit/.
/close

[2020-10-03 23:45] #24184 closed

[2020-10-03 23:46] sftim commented on #24040
/close

[2020-10-03 23:46] #24040 closed

[2020-10-03 23:47] sftim commented on #24049
/sig node

[2020-10-03 23:48] sftim commented on #24049
/kind bug
/language en
/priority backlog

[2020-10-03 23:49] sftim commented on #24184
/triage unresolved
/kind feature

[2020-10-03 23:55] sftim commented on #24355
I suggest revising https://k8s.io/docs/tutorials/kubernetes-basics/create-cluster so that it hyperlinks to https://kubernetes.io/docs/setup/learning-environment/. How does that sound @sjmudd?

If you also want https://k8s.io/docs/setup/learning-environment/ expanded to list the different options of those two in-project learning environments, that's feasible - please log a separate issue.

*Note* t

[2020-10-03 23:59] sftim commented on #24355
If anyone's keen to write up these options, especially from a clearly neutral perspective, the *blog team* would love to review your PR.

(Blog articles are always a point-in-time item so it's OK if they aren't maintained once written. We also have a presumption against revising the meaning and conclusions for blog articles.)

[2020-10-04 02:17] zhiguo-lu opened #24362 "[zh] translate /docs/tasks/manage-kubernetes-objects/declarative-config.md"
**This is a Feature Request**

Translate "Declarative Management of Kubernetes Objects Using Configuration Files" into chinese.

**What would you like to be added**
content/zh/docs/tasks/manage-kubernetes-objects/declarative-config.md
/zh/docs/tasks/manage-kubernetes-objects/declarative-config/

[2020-10-04 02:17] zhiguo-lu commented on #24362
/assign
/language zh

[2020-10-04 03:04] tengqm commented on #24362
/close
dup of #23086
translation in #23557

[2020-10-04 03:04] #24362 closed

[2020-10-04 03:09] #23086 closed

[2020-10-04 05:24] AjiArya commented on #24361
I'd work on this, assign me please.

[2020-10-04 05:31] AjiArya commented on #24361
Here's the link to the PR #24363

[2020-10-04 06:10] irvifa commented on #22347
/remove-lifecycle stale

[2020-10-04 06:17] irvifa commented on #24361
This is solved on #24363
/close

[2020-10-04 06:17] #24361 closed

[2020-10-04 10:28] walidshaari commented on #24184
thank you @sftim I guess I can add for non k8s software a blog post

[2020-10-04 10:36] tengqm commented on #20849
/close
This is resolved.
Please feel free to reopen if needed.

[2020-10-04 10:36] #20849 closed

[2020-10-04 10:38] tengqm commented on #24215
/close

[2020-10-04 10:39] #24215 closed

[2020-10-04 11:39] irvifa commented on #21404
/remove-lifecycle stale

[2020-10-04 11:49] aquariuslt opened #24367 "Issue with https://kubernetes.io/zh/docs/tutorials/hello-minikube/"
**This is a Bug Report**

kubectl reference link to `https://kubernetes.io/zh/docs/user-guide/kubectl-overview/` shows 404.
and wont redirect to correct page `https://kubernetes.io/zh/docs/reference/kubectl/overview/`

**Problem:**

/language zh

Reference Link `/zh/docs/user-guide/kubectl-overview/` did not update/ not support redirect

**Proposed Solution:**

Update link to `/zh/docs/reference/k

[2020-10-04 15:41] zhiguo-lu commented on #24362
收到。
我看到你的提交了，确实厉害，学习了。

[2020-10-04 16:13] #24367 closed

[2020-10-04 23:37] irvifa commented on #22382
/remove-lifecycle stale

[2020-10-05 00:53] jihoon-seo commented on #23939
제가 PR 올리겠습니다!

[2020-10-05 01:33] tengqm commented on #19176
/remove-lifecycle stale
/help

[2020-10-05 01:49] sakaia commented on #24067
Thank you for commenting.

In my understanding, `kubeadm init/join` sets up  is reset by `kubeadm reset`.
For usual cases CNI  and other packages are deployed. Is this  also needed to remove previously?

[2020-10-05 01:57] kbhawkey commented on #24351
Hi. Some things to think about:
- How would these periodic jobs be scheduled with/into the existing workflow?
- Do you want a way to trigger a new PR/update content when the release repo/site publishes updated information (patch updates)?
- Can you explain what you mean about `Future-dated blog articles that publish automatically`? How would this work?
- Creating a periodic job to check the site's

[2020-10-05 03:46] JornShen commented on #23003
Finished in https://github.com/kubernetes/website/pull/24125

[2020-10-05 05:52] irvifa commented on #19463
/remove-lifecycle stale

[2020-10-05 07:03] tengqm commented on #23003
Thx, @JornShen.
/close

[2020-10-05 07:04] #23003 closed

[2020-10-05 07:56] Arhell commented on #24330
/close

[2020-10-05 07:56] #24330 closed

[2020-10-05 12:09] irvifa commented on #14713
/remove-lifecycle stale

[2020-10-05 12:22] mrbobbytables opened #24380 "Remove/Update references to projects hosted in kubernetes-incubator"
**This is a Bug Report**

**Problem:**
The [kubernetes-incubator org](http://github.com/kubernetes-incubator) has been [deprecated](https://github.com/kubernetes/community/issues/1922). All the repos in incubator have either been [archived](https://github.com/kubernetes-retired) or moved to [kubernetes-sigs](http://github.com/kubernetes-sigs). There are still [many references](https://cs.k8s.io/?q

[2020-10-05 12:33] irvifa commented on #24380
@mrbobbytables so we have some mechanism to list which references that actually broken?

[2020-10-05 12:39] mrbobbytables commented on #24380
All of them would be at this point :x There are no repos under incubator anymore - BUT - GitHub does auto-redirect to the migrated location. There are no 404s :) Just 301s XD

[2020-10-05 13:27] Rittu21 opened #24381 "Giving full access to all the resources except one(say pods)."
Allowing delete permissions for all the resources(inside a namespace) in a Role is giving the permission to delete the namespace as well.

`rules:
- apiGroups: ["*"]
  resources: ["*"]
  verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]`

we are supposed to have permissions to delete the resources like pods inside the namespace ("abc" say) , but we are getting the permission t

[2020-10-05 13:42] sftim commented on #24380
/kind cleanup
/language en
(and then copied to downstream localizations)
/priority backlog

`git grep kubernetes-incubator` to find matches, then open the link in a web browser and see what the current link is
_or_
use a link checker. **Note** though that:
[code]
is (currently) implemented for internal link checking only.

[2020-10-05 14:27] habibrosyad opened #24382 "Tracking Indonesian translation for glossary"
This is a tracking issue for Indonesian translation of https://k8s.io/docs/reference/glossary. Below is the list of what has been and need to be translated:

Overal Page:
- [x] Menu, heading and intro of glossary #24180

Terms (by glossary id):
- [ ] addons
- [ ] admission-controller
- [ ] aggregation-layer
- [x] annotation #24377
- [x] api-group #24377
- [ ] app-container
- [ ] application-archit

[2020-10-05 14:28] habibrosyad commented on #24382
fyi @irvifa @ariscahyadi @girikuncoro

[2020-10-05 18:30] LeonAlvarez commented on #13948
Hi, taking content/es/docs/tasks/manage-kubernetes-objects

[2020-10-05 19:15] raelga commented on #13948
Thanks @LeonAlvarez, task section added to the list!

Don't hesitate to ask if you have any question!

[2020-10-05 19:34] reylejano-rxm commented on #24381
@Rittu21, you might want to try Kubernetes office hours for support related questions
https://github.com/kubernetes/community/blob/master/events/office-hours.md
Slack: https://kubernetes.slack.com/archives/C6RFQ3T5H
Or the Kubernetes Users Slack channel: https://kubernetes.slack.com/archives/C09NXKJKA

Issues on this repo are intended for the Kubernetes website e.g. documentation and not support r

[2020-10-05 20:01] sftim commented on #22625
/sig security

[2020-10-05 20:35] raghvenders opened #24386 "Minikube installation , configuration and Deployment Dev experience"
Minikube installation and documentation is overall covering all env.
For better developer experience , anybody can test and validate the steps in documentation for all the env.

This will be really helpful as version changes.

Todo that , is it wise to have Qwiklabs kind of stuffs will help ?

We can prepare one such documentation and do that validated.(Minikube , Hypervisor , all components etc.)

[2020-10-06 00:35] gochist opened #24388 "Not translated title in Korean on docs home"
**This is a Bug Report**

**Problem:**

Not translated title, "Use the Web UI Dashboard" in Korean on docs home

![image](https://user-images.githubusercontent.com/282159/95145634-be1dd300-07b6-11eb-8321-cd24b1df775c.png)

**Proposed Solution:**

Translate `card.title` in front-matter of file `website/content/ko/docs/tasks/access-application-cluster/web-ui-dashboard.md` into Korean

**Page to Upda

[2020-10-06 01:10] pjhwa opened #24389 "Need to correct "DNS subdomain" translation for consistency"
**This is a Bug Report**

**Problem:**
"DNS subdomain" has translated to "DNS 서브도메인" in the most documentation.
But the following documents contain the different translation(DNS 하위 도메인) for this.
- ko/docs/concepts/overview/working-with-objects/annotations.md: at 66 line
  _어노테이션_ 은 키/값 쌍이다. 유효한 어노테이션 키에는 두 개의 세그먼트가 있다. 두 개의 세그먼트는 선택적인 접두사와 이름(name)이며, 슬래시(`/`)로 구분된다. 이름 세그먼트는 필수이며, 영문 숫자(`[a-z0-9

[2020-10-06 01:20] pjhwa commented on #24389
/language ko
/good-first-issue

[2020-10-06 03:16] girikuncoro commented on #24382
This is great, thanks for this initiative @habibrosyad !

[2020-10-06 07:11] sushil97 commented on #24389
Will it require knowledge of korean language?

[2020-10-06 07:15] pjhwa commented on #24389
@sushil97 Not really. But you should change the Korean words as guided. :-)

[2020-10-06 07:16] sushil97 commented on #24389
Will do. Assign me to this

[2020-10-06 07:23] pjhwa commented on #24389
/assign @sushil97

[2020-10-06 07:25] sushil97 commented on #24388
Hello, I would like to work on this

[2020-10-06 08:52] gochist commented on #24388
Thank you!!!
/assign @sushil97

[2020-10-06 10:31] kkrhdd opened #24390 "Troubleshoot Applications - POD Restart due to OOM"
Hi Team,

I am facing an issue in one of the pod where the pod is being killed when the memory limit reached maximum and no heap dump is being generated even though the Heap dump parameters are configured.
I understand that the pod is getting killed by kubernetes instead of its own. Can you please suggest a way to extract heap dump for such pods. So that it will be helpful for us to debug the issu

[2020-10-06 10:57] irvifa commented on #24390
Hmm I was wondering if the content is better addressed in the slack channel kubernetes-users or stackoverflow since this involves debugging applications instead of documentation related matter.

[2020-10-06 11:28] sushil97 commented on #24388
@gochist there are few more english words on the page which has to be translated. Should i change them as well ?
such as (selected text) :
![image](https://user-images.githubusercontent.com/20190528/95195999-0360f580-07f5-11eb-9318-230cc2c6a378.png)
![image](https://user-images.githubusercontent.com/20190528/95196094-29869580-07f5-11eb-8259-07b8fa073dd1.png)

[2020-10-06 11:37] kkrhdd commented on #24390
ok. Closing the issue.

[2020-10-06 11:37] #24390 closed

[2020-10-06 12:00] #24008 closed

[2020-10-06 12:00] gochist commented on #24388
@sushil97 Yes, that would be better! But I remember that "Hello Minikube" was intentionally not translated because "Hello something" is a very familiar idiom even to Korean readers.

[2020-10-06 12:01] sushil97 commented on #24388
ohh okay!  about "Glossary"?

[2020-10-06 12:49] sushil97 commented on #24389
@pjhwa can you check my PR #24393

[2020-10-06 12:56] gochist commented on #24388
I think "용어집" will be fine.

[2020-10-06 12:57] pohly commented on #2979
Another gotcha with the current https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/ documentation: it mentions that `--runtime-config mapStringString` takes a "A set of key=value pairs" - but what is the syntax for that set? Comma-separated? Space-separated? JSON map?

I had to google, which led me to this issue here.

[2020-10-06 15:34] Arhell opened #24395 "remove "extra indent""
**This is a Bug Report**

**Problem:**
![1](https://user-images.githubusercontent.com/26163841/95223707-8ccaf480-0802-11eb-8fec-e726b55ac9c4.jpg)

**Proposed Solution:**
remove 1-e br like en version

**Page to Update:**
https://kubernetes.io/it/#video

/language it
/assign
/area web-development

[2020-10-06 15:39] femrtnz commented on #24009
Hi @annajung, just added me as a contact for Portuguese as well 👍

[2020-10-06 16:09] zhiguo-lu opened #24396 "”make container-serve“ report permission denied"
**This is a Bug Report**

run :
[code]

output :
[code]

my environment:
- mac version：10.14.3
- bash: 5.0.11
- docker engine：19.03.13

**Proposed Solution:**
I try to figure out what's the problem, and I got following clue:
1. In line 71 of Makefile:
   `--mount type=tmpfs,destination=/src/resources,tmpfs-mode=0777`

2. in container, list directory of /src/resources :
[code]

3. In line 32 of Doc

[2020-10-06 16:10] zhiguo-lu commented on #24396
/assign

[2020-10-06 16:13] irvifa commented on #24396
/cc @sftim

[2020-10-06 17:11] sftim commented on #14579
/remove-lifecycle stale

[2020-10-06 17:13] sjenning commented on #12326
My opinion, a cordon -> drain -> upgrade -> uncordon path is the safest thing to document for all situations.   We _should_ be able to do patch level upgrades (z-stream, in x.y.z) without draining but, imho, there is no point in complicating the guidance.

[2020-10-06 17:20] eengelking opened #24397 "Runtime Class"
At the bottom of the **[Runtime Class](https://kubernetes.io/docs/concepts/containers/runtime-class/)** page, in the **[What's Next](https://kubernetes.io/docs/concepts/containers/runtime-class/#what-s-next)** section, the following links lead to a 404 page not found:

- RuntimeClass Design, link https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/runtime-class.md
- RuntimeClass S

[2020-10-06 17:26] sftim opened #24398 "Improve diagram for “Reserve Compute Resources for System Daemons”"
**This is a Feature Request**

**What would you like to be added**
Replace the diagram in [Reserve Compute Resources for System Daemons](https://kubernetes.io/docs/tasks/administer-cluster/reserve-compute-resources/) with a SVG-format vector equivalent.

_Consider_ switching from rows to columns - that will fit better into the available white space.

**Why is this needed**
There is an ASCII-art di

[2020-10-06 18:33] dchen1107 commented on #12326
cordon -> drain -> upgrade kubelet -> uncordon is the only path supported by SIG Node today. In the past, there were efforts to do in-place upgrade kubelet, including containerized kubelet by CoreOS team to simplify the upgrading flow, but none of them are officially supported by the community.

Let's make the upgrade flow explicit in the doc for now, but open for the enhancement.

[2020-10-06 19:09] dlipovetsky commented on #12326
Now that it's official, I'll work up a docs PR :slightly_smiling_face:

[2020-10-06 20:38] SohamJ commented on #19844
/remove-lifecycle stale

[2020-10-07 00:54] nate-double-u commented on #23354
Karen B shared this PR in the Sig-Docs weekly meeting: https://github.com/kubernetes/website/pull/20717. It looks like it does the page trimming that we're looking at doing in this issue.

[2020-10-07 03:02] inductor commented on #23336
/close

[2020-10-07 03:03] inductor commented on #23346
/close

[2020-10-07 03:03] #23336 closed

[2020-10-07 03:03] #23346 closed

[2020-10-07 03:04] RoSk0 opened #24399 "Pod Lifecycle page have incomplete sentense"
Second sentence of the second paragraph is obviously incomplete. It reads like this `Within a Pod, Kubernetes tracks different container states and handles`.

![Selection_004](https://user-images.githubusercontent.com/119257/95283018-366bbd80-08b7-11eb-917e-ef33504e3dbf.png)

It would be good to restore missing bit.

[2020-10-07 03:46] baiyutang commented on #24178
这个当初谁翻译的，太逗了，错别字太明显了

[2020-10-07 04:56] irvifa commented on #18084
/remove-lifecycle stale

[2020-10-07 04:59] irvifa commented on #20990
/remove-lifecycle rotten

[2020-10-07 05:01] irvifa commented on #19498
/remove-lifecycle rotten

[2020-10-07 08:04] maciaszczykm commented on #24027
As mentioned in the pull request - this is not something that we would advise to the users.

/close

[2020-10-07 08:04] #24027 closed

[2020-10-07 08:29] ramzis commented on #24027
To quote the reply:

What do you mean by "accessing Dashboard over HTTP is not possible as login view will be blocked"? Did you try it?

The whole idea is that there is **absolutely no info in the docs** (as complained in the stackoverflow link) on how to access the dashboard from a remote machine. You are saying security > any usability. There must be some compromise. The binding to all interface

[2020-10-07 09:01] floreks commented on #24027
Since I have added the code that blocks it, then yes I did try it :slightly_smiling_face:

There is. After you provision the cluster, the API server should be accessible from the outside, thus allowing you to execute `kubectl proxy` on your client machine where Dashboard should be accessed.

Executing `kubectl proxy` and exposing the whole API for everyone with the privileges of the user executing

[2020-10-07 09:30] #24397 closed

[2020-10-07 09:40] sftim commented on #22385
/remove-lifecycle stale

[2020-10-07 10:00] ramzis commented on #24027
That sounds reasonable 👍. I had not considered the approach with using kubectl outside of the cluster, therefore, the quick solution of tunnelling came to mind.

The info in the link you have provided is very useful, and it would be nice to see it mentioned earlier on in the main docs without needing to scroll down to the bottom to find the github docs and then scroll to find the relevant Accessin

[2020-10-07 10:07] floreks commented on #24027
In the README we provide only the simplest and fastest way of accessing Dashboard. NodePort way is a bit more complicated that is why it is available in the documentation. As you can see even simple command such as:

can be misinterpreted to think that it should be run on a remote machine instead of your local workstation where Dashboard should be accessed.

[2020-10-07 13:03] gochist commented on #24388
/milestone dev-1.19-ko.3
/close

[2020-10-07 13:03] #24388 closed

[2020-10-07 13:07] sushil97 commented on #24389
@pjhwa we can close this issue now. right ?

[2020-10-07 13:08] pjhwa commented on #24389
@sushil97 Of course! Thank you.

[2020-10-07 13:08] #24389 closed

[2020-10-07 14:03] sftim commented on #24396
/priority important-soon

[2020-10-07 14:33] tengqm commented on #24178
/close

[2020-10-07 14:34] #24178 closed

[2020-10-07 14:42] raghvenders commented on #24027
@floreks  - Thanks for the link that helps.kindly help me understand more which of the below holds good?

1.client machine(A) -> kubectl proxy(A) -> browser (A) -> dahsboard(A)

2. client machine(A) -> kubectl proxy(A) -> browser(A) -> dashboard(B)

By the way NodePort is for SingleNode and development purpose.What is the best way for higher environments?

As I see in the document this states bett

[2020-10-07 14:46] raghvenders commented on #22385
/assign raghvenders

[2020-10-07 14:55] floreks commented on #24027
The flow should be:

Browser (A) -> kubectl proxy (A) -> API (B)

NodePort requires you to know ip address of the node where the pod with Dashboard is running. That's why is not so convenient to use. For regular environments it's best to use ingress or Service of type LoadBalancer to expose the application. Kubernetes Dashboard is no different than any other web app that you'll be running inside y

[2020-10-07 16:17] raghvenders commented on #24027
Gotcha , this is what i feel if we can re-frame current doc sentence as you mentioned above (Looks simple and straight).
If you say it looks good ,i can do a PR#.

You can access Dashboard using the kubectl command-line tool by running the following command:

kubectl proxy

(To add) Now the proxy is running at  localhost:8001, we see a message << Starting to serve on 127.0.0.1:8001 >>

(To Modify)

[2020-10-07 16:18] hottomato4 opened #24409 "Sidebar on Volumes page missing entries"
**This is a Bug Report**

**Problem:**
On https://kubernetes.io/docs/concepts/storage/volumes the sidebar on the right of the page with links to the types of volumes does not match the full list given under https://kubernetes.io/docs/concepts/storage/volumes/#types-of-volumes. for example, it is missing CSI, scaleIO and vsphereVolume.

**Proposed Solution:**
Update the list on the right to include

[2020-10-07 16:40] leilajal opened #24411 "Question/Need support about https://kubernetes.io/docs/tutorials/stateless-application/expose-external-ip-address/"
In Step 4 of [tutorial](https://kubernetes.io/docs/tutorials/stateless-application/expose-external-ip-address/)
Display information about the Service:

`kubectl get services my-service`

The output is similar to this:

[code]

What to do if the external IP address remains `pending`?

**This is Support**

[2020-10-07 16:59] leilajal commented on #24411
We need to add a solution when external IP address remains `pending`.
Note can be added as below:
Note: If external IP address remains pending you can access the service using `NodePort` ([see more info here](https://kubernetes.io/docs/tasks/access-application-cluster/service-access-application-cluster/))

[2020-10-07 17:24] kbhawkey commented on #24409
Related to PR #24077

[2020-10-07 17:36] kbhawkey opened #24413 "fix table caption"
**This is a Bug Report**

A table in the API overview concept page is listing a table caption after the table.
Typically, in the site, table captions are not displayed.

**Problem:**
The table caption is displaying after the table on the page,
`https://kubernetes.io/docs/concepts/overview/kubernetes-api/`

**Proposed Solution:**
Update the page to use the `table` shortcode. More information about

[2020-10-07 17:46] kbhawkey commented on #24413
/kind bug

[2020-10-07 18:04] sftim commented on #1911
/triage accepted

[2020-10-07 18:11] sftim opened #24414 "Split “Using RBAC Authorization” into concept / reference / task pages"
**This is a Feature Request**

**What would you like to be added**
Update the content on https://kubernetes.io/docs/reference/access-authn-authz/rbac/ to new pages:
- a new concept page inside https://kubernetes.io/docs/concepts/security/
- new task pages
  - _assigning default roles_
    For this task, say that it is assumed the user is a cluster administrator.
    For this task, say it is assume

[2020-10-07 18:11] sftim commented on #24396
It seems like the challenge for compatibility is the Docker Desktop product on macOS. The symptoms don't seem to be present on Linux.

[2020-10-07 18:11] sftim commented on #2792
Closing in favor of issue #24414
/close

[2020-10-07 18:12] #2792 closed

[2020-10-07 18:12] sftim commented on #24409
/priority backlog

[2020-10-07 18:13] sftim commented on #4503
/remove-team google

[2020-10-07 18:14] sftim commented on #4503
/remove-milestone "Kubecon 2017"

[2020-10-07 18:14] sftim commented on #4503
/triage accepted

[2020-10-07 18:15] sftim commented on #4504
/triage accepted
/remove-priority backlog
/priority important-longterm

[2020-10-07 18:29] sftim commented on #16583
/remove-lifecycle stale
/remove-priority awaiting-more-evidence
/triage accepted
/priority important-longterm

[2020-10-07 18:30] sftim commented on #4506
/remove-label team/google
/triage accepted

[2020-10-07 18:30] sftim commented on #4510
/triage accepted
/remove-label team/google

[2020-10-07 18:31] sftim commented on #4513
/triage accepted

[2020-10-07 18:31] sftim commented on #4514
/remove-label team/google

[2020-10-07 18:31] sftim commented on #4514
/triage accepted

[2020-10-07 18:32] sftim commented on #2979
/triage accepted

[2020-10-07 18:32] sftim commented on #2979
/sig api-machinery
I think

[2020-10-07 18:32] sftim commented on #4493
/remove-label team/google
/triage accepted

[2020-10-07 18:34] sftim commented on #4499
I'm going to say that #19819 has done this, and if more tidying is needed then that merits a new, specific issue.

[2020-10-07 18:34] sftim commented on #4499
/close

[2020-10-07 18:34] #4499 closed

[2020-10-07 21:15] sftim commented on #24413
/language en
/triage accepted
/priority backlog

[2020-10-07 21:16] sftim commented on #24411
GitHub is not the right place for support requests.

For help, you might try asking on [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes)

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

/triage support

[2020-10-07 21:16] sftim commented on #24381
/triage support

[2020-10-07 21:16] sftim commented on #24381
/kind support

[2020-10-07 21:17] sftim commented on #24411
/kind support

[2020-10-07 21:17] sftim commented on #24381
/close

[2020-10-07 21:17] #24381 closed

[2020-10-07 21:24] raghvenders commented on #22385
@sftim  - I was able to make change in  - content/en/docs/reference/_index.md and auto-generated list is no more.

"make sure that every item in the left-hand navigation is referenced in the main text of the reference section (not counting the autogenerated list)"

For example  - kubeadm & kubectl are being referenced in main text but under different section(for its own reason) , rather minikube ,

[2020-10-07 22:04] sftim commented on #24227
Hi @BrettPhilip

I think this issue is about the page at https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/

Are those symptoms still occurring?

/priority awaiting-more-evidence

[2020-10-07 22:11] sftim commented on #12303
/triage accepted

[2020-10-07 22:12] sftim commented on #13401
/remove-lifecycle rotten
/lifecycle frozen
/triage accepted
/language en
/sig storage

[2020-10-07 22:13] sftim commented on #8402
Fixed in https://github.com/kubernetes/website/pull/21752
/close

[2020-10-07 22:13] #8402 closed

[2020-10-07 22:36] sftim commented on #9829
/triage accepted

[2020-10-07 22:53] sftim commented on #14725
/sig security

[2020-10-07 22:54] sftim commented on #18889
/good-first-issue

[2020-10-07 22:56] Arhell commented on #24413
/assign

[2020-10-07 23:05] sftim commented on #7092
/triage accepted

[2020-10-07 23:31] leilajal commented on #24411
Thanks. How we can suggest adding notes to the tutorial?

[2020-10-07 23:43] sftim commented on #19238
/triage accepted

Also cc: @annajung

[2020-10-07 23:45] sftim commented on #24411
To suggest adding notes to a tutorial, start at https://github.com/kubernetes/website/issues/new/choose and follow the “Feature Request” path. Please include the URL of the web page (ie https://kubernetes.io/docs/tutorials/stateless-application/expose-external-ip-address/ )

[2020-10-07 23:48] sftim commented on #24226
/triage accepted

[2020-10-07 23:49] sftim commented on #19309
/remove-lifecycle stale

[2020-10-07 23:50] sftim commented on #19095
I would probably add that guidance to https://kubernetes.io/docs/contribute/style/hugo-shortcodes/
/triage accepted

[2020-10-07 23:54] sftim commented on #19199
I agree with the example labeling in https://k8s.io/docs/concepts/overview/working-with-objects/common-labels/

Let's say you have a namespace called "billing-dev" and in that namespace there are some resources labelled     `app.kubernetes.io/name: mysql`. That seems enough to identify that those resources are all there to deliver an app called _mysql_.

The resources will also have `name` and `ui

[2020-10-07 23:55] coolguyhong opened #24422 "Translate tasks/access-application-cluster/connecting-frontend-backend in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/access-application-cluster/connecting-frontend-backend in Korean

**Why is this needed**

No translation tasks/access-application-cluster/connecting-frontend-backend in Korean

**Comments**

Page to Update: https://kubernetes.io/docs/tasks/access-application-cluster/connecting-frontend-backend/

[2020-10-07 23:56] sftim commented on #19199
(If you have more than one mysql in the namespace, you could give each of them a more human-friendly name like `mysql-billing-records` or `mysql-userauth`).

[2020-10-07 23:56] coolguyhong commented on #24422
/language ko
/assign

[2020-10-07 23:59] sftim commented on #18953
/triage accepted

[2020-10-07 23:59] sftim commented on #18903
/triage accepted

[2020-10-07 23:59] sftim commented on #19076
I'd move this documentation into https://kubernetes.io/docs/concepts/containers/images/

[2020-10-08 00:00] sftim commented on #20075
/remove-lifecycle stale

[2020-10-08 00:01] sftim commented on #19943
Hi @rohitanair

Do all these pages need to have What's Next sections? If they do not, can you explain what you see as not right? This will help other people to pick up the work here.

/priority awaiting-more-evidence

[2020-10-08 00:03] sftim commented on #19307
Fixed, enough to close this.
/close

[2020-10-08 00:03] #19307 closed

[2020-10-08 00:03] sftim commented on #19518
/triage accepted

[2020-10-08 00:03] sftim commented on #19518
/remove-priority important-longterm
(sorry)
/priority backlog

[2020-10-08 00:04] sftim commented on #22515
/triage accepted

[2020-10-08 00:07] sftim commented on #23626
/triage accepted
Fixed in PR #23795

Thanks @kaushik229
/close

[2020-10-08 00:07] sftim commented on #23626
/kind bug

[2020-10-08 00:07] #23626 closed

[2020-10-08 00:09] sftim commented on #23689
RFC1035 allows underscores in names, whereas RFC 1123.
Kubernetes does not allow underscores in names.

I think the existing text is technically accurate. Does that sound right?
/language en
/triage needs-information

[2020-10-08 00:09] sftim commented on #23506
/close

[2020-10-08 00:09] sftim commented on #23496
/close

[2020-10-08 00:09] #23506 closed

[2020-10-08 00:10] sftim commented on #23446
/close

[2020-10-08 00:10] #23496 closed

[2020-10-08 00:10] #23446 closed

[2020-10-08 00:10] sftim commented on #23394
/triage accepted

[2020-10-08 00:10] sftim commented on #23419
/close

[2020-10-08 00:10] #23419 closed

[2020-10-08 00:11] sftim commented on #23389
Sorry about the wait @harrypintous

Did you see an issue with a page on this website, that we should fix?

/triage needs-information

[2020-10-08 00:12] sftim commented on #23323
/priority awaiting-more-evidence

Please feel free to /priority some-other-value and /triage accepted if this is confirmed valid.

[2020-10-08 00:12] sftim commented on #22961
/triage accepted

[2020-10-08 00:13] sftim commented on #22964
/close

Addressed in PR #23288

[2020-10-08 00:13] #22964 closed

[2020-10-08 00:13] sftim commented on #18730
Fixed
/close

[2020-10-08 00:13] #18730 closed

[2020-10-08 00:16] neolit123 commented on #23323
@abhiTamrakar

would you like send a PR to amend the paragraph?

[2020-10-08 00:17] sftim commented on #23726
I think you're asking for something different from what https://k8s.io/docs/setup/best-practices/certificates/ is requesting - my guess is that what you have in mind is closer to https://github.com/kubernetes/website/issues/14725 (TLS for applications running in the cluster)

Have I got that right?
/language en
/triage needs-information

[2020-10-08 00:18] sftim commented on #23654
@rizekmWWT have these symptoms disappeared now?

[2020-10-08 00:18] sftim commented on #23676
/close

[2020-10-08 00:18] #23676 closed

[2020-10-08 00:46] sftim commented on #22625
/triage accepted

[2020-10-08 00:46] sftim commented on #22700
/close

[2020-10-08 00:46] sftim commented on #22665
/close

[2020-10-08 00:47] #22700 closed

[2020-10-08 00:47] sftim commented on #22719
/close
/language zh

[2020-10-08 00:47] #22665 closed

[2020-10-08 00:47] #22719 closed

[2020-10-08 00:48] sftim commented on #16571
@feloy there's now a related tool: `scripts/lsync.sh`

Might be useful?

[2020-10-08 00:48] sftim commented on #16571
/area localization

[2020-10-08 00:49] sftim commented on #16571
I propose to:
/remove-priority important-soon
/priority important-longterm
/triage accepted

[2020-10-08 00:50] sftim commented on #15671
/triage accepted
/remove-priority important-soon
/priority important-longterm
/language en
/remove-lifecycle rotten

[2020-10-08 00:50] sftim commented on #15709
/remove-lifecycle rotten

[2020-10-08 00:51] sftim commented on #14725
Also IMO
/sig usability

[2020-10-08 00:51] sftim commented on #1911
/remove-priority important-soon
/priority important-longterm

[2020-10-08 00:55] sftim commented on #24399
Page is https://k8s.io/docs/concepts/workloads/pods/pod-lifecycle/

PR #22603 introduced the regression; I suggest the second “handles” should instead read “determines what action to take to make the Pod healthy again”.

/kind bug
/language en
/triage accepted
/priority backlog

Thanks @RoSk0

[2020-10-08 00:55] sftim commented on #24399
/help

[2020-10-08 00:56] sftim commented on #24386
I'm not sure @raghvenders if you're reporting a bug here? Maybe you're proposing an improvement?

If you can clarify, I think that'll help.

[2020-10-08 00:57] sftim commented on #24249
@christosploutarchou, I'm afraid that GitHub is not the right place for support requests.

You could ask that question on  [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) instead.

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

/triage support

[2020-10-08 00:57] sftim commented on #24249
/kind support

[2020-10-08 00:58] sftim commented on #24355
/priority awaiting-more-evidence

[2020-10-08 00:59] sftim commented on #24230
@madjidGH - GitHub is not the right place for support requests.

For help, try [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

/kind support

[2020-10-08 01:00] sftim commented on #23561
/remove-kind support
/kind feature
I will also take the liberty to:
/retitle Describe non-AMD64 / multiarch support
/remove-language ja
(because documentation needs to land in the English pages first)

[2020-10-08 01:01] sftim commented on #12329
/triage accepted

[2020-10-08 01:02] sftim commented on #12326
/triage accepted

[2020-10-08 01:02] sftim commented on #12327
/triage accepted
/remove-lifecycle stale

[2020-10-08 01:02] sftim commented on #12324
/triage accepted

[2020-10-08 01:03] sftim commented on #12323
/triage accepted

[2020-10-08 01:03] sftim commented on #23554
/sig api-machinery
right?

[2020-10-08 01:04] sftim commented on #23549
/triage needs-information

[2020-10-08 01:05] sftim commented on #19817
/triage accepted
_but_ this is a very low priority item

[2020-10-08 01:06] sftim commented on #19819
What should the _What's next_ section list, @rohitanair ?

(it's OK to outline this rather than provide exact detail)

[2020-10-08 01:07] sftim commented on #19828
/triage accepted
/remove-lifecycle stale

[2020-10-08 01:07] sftim commented on #19835
/triage accepted
/remove-lifecycle stale

[2020-10-08 01:10] sftim commented on #20426
Fixed in #20429
/close

[2020-10-08 01:10] #20426 closed

[2020-10-08 01:11] neolit123 commented on #23323
(sent the PR)
/remove-priority awaiting-more-evidence
/priority backlog

[2020-10-08 01:11] sftim commented on #20293
/triage accepted

[2020-10-08 01:11] sftim commented on #20232
/triage accepted

[2020-10-08 01:56] sftim commented on #23323
/triage accepted

[2020-10-08 01:58] sftim commented on #20603
/triage accepted

[2020-10-08 01:59] sftim commented on #20603
I think this is already addressed.
@jflamy do you agree?

[2020-10-08 01:59] sftim commented on #20652
/triage accepted

[2020-10-08 02:00] sftim commented on #20760
/remove-priority awaiting-more-evidence

[2020-10-08 02:00] sftim commented on #23817
/triage accepted
Fixed in #23966
/close

[2020-10-08 02:01] #23817 closed

[2020-10-08 02:01] sftim commented on #23889
/triage accepted

[2020-10-08 02:04] sftim commented on #23809
@feloy, how do you think the Swagger approach is working out?
Looking at issue #23889, that made me wonder what kind of API documentation readers would most value? I'm sure you will have some thoughts on this.

For example: details of everything that can go in YAML manifests vs. the JSON or protobuf on-the-wire representation vs. Golang source code.

[2020-10-08 03:11] inductor commented on #23319
/close

[2020-10-08 03:11] #23319 closed

[2020-10-08 04:32] 532910 commented on #22020
As it's a search through the documentation and not the entire site.

1. The hamburger button right to the search field shows full site menu. They are both in the same line, but have different places in the hierarchy. The hamburger button is the root, search field belongs to Documentation section.

2. The search field is a part of Documentation. So it must be under Documentation title, not vice ver

[2020-10-08 04:33] 532910 commented on #22021
Still looks odd.

[2020-10-08 04:43] Daxcor69 opened #24430 "Improvement for k8s.io/docs/tasks/administer-cluster/access-cluster-api/"
You mention go and python as official client library's that can access the api from within a pod. However you have an official JavaScript library but you don't make any mention of how that library works in this situation.  The docs for the library don't mention anything either.  Can the official JavaScript lib talk to the k8s api from within a pod?  and if so, how?

[2020-10-08 05:47] sjmudd commented on #24355
So to respond to earlier comments I understand the desire to stay neutral and not have to list lost of different offerings.
However, my primary concern is not with getting minikube or microk8s working (at. least basically) it's about how to create it with a storage option which is more permanent. That is specifically about the storage administration.  If you do anything on k8s that requires persis

[2020-10-08 06:12] #14964 closed

[2020-10-08 06:12] #23982 closed

[2020-10-08 07:06] ankita2910 opened #24431 "Improvement for k8s.io/docs/concepts/architecture/controller/"
Hi,
In the documentation on controller, the definition of controller can be:
Controller is a declarative system where user knows the desired state of the system, supplies a representation of the desired state to the system, then the system reads the current state and determines the sequence of commands to transition the system to the desired state. The component that determines the necessary seque

[2020-10-08 07:07] #24431 closed

[2020-10-08 07:16] ankita2910 commented on #24430
Hi @Daxcor69 ,
In access-cluster-api, in the documentation they have mentioned in Programmatic access to the API for 6 clients as follows:
1. Go client
2.Python client
3.Java client
4.dotnet client
5.JavaScript client
6.Haskell client

For Javascript client the documentation explains as follows:

JavaScript client
To install JavaScript client, run the following command: npm install @kubernetes/cli

[2020-10-08 07:32] sftim commented on #24355
I'm not sure that the topic you have in mind is a good fit for the section https://k8s.io/docs/tutorials/kubernetes-basics/

“more complex” is right. That said, I'm sure the website would benefit from a guide to learning how to move on. Pages that explain how to configure, for example, _n_ local VMs with storage shared between them, or 5 credit-card-sized computers that talk iSCSI and do things wi

[2020-10-08 09:11] irvifa commented on #19042
/remove-lifecycle rotten

[2020-10-08 09:11] irvifa commented on #19042
/reopen

[2020-10-08 10:04] irvifa commented on #18403
/remove-lifecycle stale

[2020-10-08 10:57] AlexandreBrach opened #24432 "Volumes"
https://kubernetes.io/fr/docs/concepts/storage/volumes/#propagation-de-montage

"La propagation de montage permet à des volumes partagés montés par un conteneur à d'autres conteneurs dans un même Pod, ou même à d'autres Pods dans le même nœud." => ce n'est pas une phrase

[2020-10-08 13:49] sftim commented on #24432
/language fr
/kind bug

[2020-10-08 13:49] sftim commented on #21867
Also relevant: issue #22020

[2020-10-08 14:09] raghvenders commented on #24386
@sftim - it is for improvement.
Not all the env mentioned any developer will have chance to have it locally , he can be one of linux / macos/windows and other relevant combination.(Hypervisor)

If we can build a self tutorial lab for provision possible public cloud env and test all env comb with the steps already mentioned in the document.Would it be easy to test all the combination and steps?

**

[2020-10-08 15:03] Daxcor69 commented on #24430
Yes, I saw that I documentation.  The kubeconfig has the information to connect to the k8s from OUTSIDE the cluster, correct?  Does it also contain the necessary information to connect to the api from INSIDE the cluster? One of my pods will need to contact the api to make changes.  Here is the documentation in question:

[code]

There is no mention of the javascript library.  Btw, thank you for th

[2020-10-08 15:07] kakts opened #24433 "ja-trans: Translate docs/tasks/administer-cluster/nodelocaldns into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate docs/tasks/administer-cluster/nodelocaldns page into Japanese

**Why is this needed**
Because docs/tasks/administer-cluster/nodelocaldns is not translated into Japanese.
https://github.com/kubernetes/website/blob/ecc27bbbe70f92d031fa52be76bb9471b2e83152/content/en/docs/tasks/administer-cluster/nodelocaldns.md

**Comments

[2020-10-08 15:08] irvifa commented on #20955
/remove-lifecycle stale

[2020-10-08 15:08] kakts commented on #24433
/assign

[2020-10-08 15:13] sftim commented on #24386
I'm sorry, I am not confident that I have understood what you're saying there @raghvenders

[2020-10-08 15:24] crixo commented on #20956
In reality that's already been merged

[2020-10-08 15:50] raghvenders commented on #24386
Ok , sure.Anyways it is not related to bug..

[2020-10-08 16:06] irvifa commented on #20956
/close

[2020-10-08 16:06] #20956 closed

[2020-10-08 16:06] irvifa commented on #20961
/remove-lifecycle stale

[2020-10-08 16:07] irvifa commented on #20962
/remove-lifecycle stale

[2020-10-08 16:07] irvifa commented on #20959
/remove-lifecycle stale

[2020-10-08 16:10] irvifa commented on #21867
/remove-lifecycle stale

[2020-10-08 16:20] sjmudd commented on #24355
I guess what I'm looking for is "How to help people move on from basics to more complex tasks/topics" where my specific focus is "storage", but I can see other topics like "security" or "networking" or "moving from a single server to multiple (=HA)" and so on.  On one's own it's quite hard to absorb all of this in one go, even if the high level abstract topics are understandable. What's needed are

[2020-10-08 16:22] sftim commented on #23354
Should we also amend /remove https://k8s.io/docs/setup/learning-environment/minikube/ and https://k8s.io/docs/setup/learning-environment/kind/ ?

[2020-10-08 17:01] sftim commented on #24355
How about that?

[2020-10-08 17:13] irvifa commented on #22416
/remove-lifecycle stale

[2020-10-08 21:37] sftim commented on #24396
/kind bug
/triage accepted

[2020-10-08 23:31] nate-double-u commented on #23354
I think wherever we find content brought in from another site verbatim, we should probably just link out to those sites.

In the case of those two pages, I think that it's parent page, https://kubernetes.io/docs/setup/learning-environment/, can probably do more of the work and we should probably remove them.

If folks agree, should we do this work on this issue (and PR https://github.com/kubernete

[2020-10-09 00:58] tengqm commented on #24430
@Daxcor69 What you see today (the client libraries) are something we tried to eliminate from the website entirely. They are not contents about the core Kubernetes. Maintaining them and keeping them up to date is a heavy task, if possible at all. Some of the contents similar to these have been killed recently because they are dual-hosted.

I don't think we are gonna add more items to the list until

[2020-10-09 01:25] tschirmer opened #24441 "Link directly from concept pages to API reference"
Can we get a link to the actual api on each of these documentations pages? I come across the yaml api every now and again, but it'd be very convenient to just jump in to see what yaml we can actually configure.

[2020-10-09 04:01] tengqm commented on #22052
Pasting your error message would be helpful for people to know whether it is the documentation to be fixed.

[2020-10-09 04:01] tengqm commented on #21828
/close

[2020-10-09 04:02] #21828 closed

[2020-10-09 04:05] tengqm commented on #21846
The flags you referred to are all docker flags that are not meant to be exposed by `kubelet`. They are not meant to be customized via `kubelet` either. As for how to change them, please refer to Docker documentation. Depending on the way you manage your Docker service, you will need different solutions for the customization.
/close

[2020-10-09 04:05] #21846 closed

[2020-10-09 04:07] tengqm commented on #22019
/close

[2020-10-09 04:07] #22019 closed

[2020-10-09 08:40] sftim commented on #21790
/remove-lifecycle stale

[2020-10-09 09:10] EdSchouten opened #24443 "Improvement for k8s.io/docs/tasks/administer-cluster/cpu-management-policies/"
This page only discusses the semantics of single-container pods. When pods are scheduled that consist of multiple containers, all of them need to be Guaranteed QoS. Even init containers are taken into account.

(To be honest, I find these semantics a bit weird. Why couldn't cpusets be set up properly for individual containers, even when the pod as a whole isn't Guaranteed QoS?)

[2020-10-09 10:21] #24399 closed

[2020-10-09 11:36] hikkie3110 commented on #24265
/assign

[2020-10-09 12:28] #18512 closed

[2020-10-09 15:32] kbhawkey commented on #24409
/assign

[2020-10-09 15:41] #24130 closed

[2020-10-09 16:37] gayatri-maker opened #24454 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
Hi,

While doing interactive session with katakoda, the server is not showing the kubectl server version. it only shows client version. giving the below error.
Error:
kubectl version
Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.3", GitCommit:"06ad960bfd03b39c8310aaf92d1e7c12ce618213", GitTreeState:"clean", BuildDate:"2020-02-11T18:14:22Z", GoVersion:"go1.13.6", Compiler:"g

[2020-10-09 21:03] leeyspaul opened #24459 "Containers hyperlink leads to "What is Kubernetes?""
# Issue
Clicking the "Containers" hyperlink leads to the "What is Kubernetes?" page. I'm not sure if this was intended. There is some explanation of containerized deployments (after a scroll) but I wonder if it makes more sense to direct them to the "Containers" term page. As a user learning in the docs, it was a bit confusing.

Pods hyperlink re-direction shown below, from this [page](https://kub

[2020-10-10 00:25] leeyspaul commented on #24454
I tried to replicate, but, I was unable to. I got the below output

[code]

It might be flakiness. Was this a constant error?

[2020-10-10 02:49] JornShen commented on #24217
Can you line which page you want to translate? So this issue will be more clear. IMO

[2020-10-10 03:00] JornShen commented on #23775
Agree with it.  which tools  you recommend? Or we can write some script to realize it ?

[2020-10-10 03:12] howieyuen opened #24462 "https://kubernetes.io/zh/docs/setup/release/version-skew-policy/ is outdated"
**This is a Bug Report**

**Problem:**

1. hard code of version reference
2. content outdated, ie: kube-proxy is missing and patch support is changed to 1 year

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/zh/docs/setup/release/version-skew-policy/

[2020-10-10 03:13] howieyuen commented on #24462
/assign

[2020-10-10 03:13] howieyuen commented on #24462
/language zh

[2020-10-10 03:14] howieyuen commented on #24462
/kind cleanup
/triage accept

[2020-10-10 03:16] howieyuen commented on #24462
/triage accepted

[2020-10-10 04:16] gayatri-maker commented on #24454
Thanks for the update. The issue resolved now. You can close the issue.

Thank you for your support.

Thanks,
Gayatri

On Sat, 10 Oct, 2020, 5:55 am Paul, <notifications@github.com> wrote:

[2020-10-10 04:37] irvifa commented on #24454
/close

[2020-10-10 04:38] #24454 closed

[2020-10-10 04:42] #23095 closed

[2020-10-10 04:46] irvifa commented on #24459
/triage accepted

[2020-10-10 06:11] viveksahu26 commented on #24091
hey @bluefriday , i don't know korean language but if you don't mind i will translate it with the help of Google translator, if you assign me..

[2020-10-10 07:24] irvifa commented on #22462
/remove-lifecycle stale

[2020-10-10 07:49] JornShen commented on #24398
![image](https://user-images.githubusercontent.com/18069202/95649483-239ff580-0b10-11eb-827f-74d9cdbd2dd0.png)

How about like this ?

[2020-10-10 07:49] Cweiping commented on #22064
@irvifa This problem has been fixed. Close the issue .
reference PR: https://github.com/kubernetes/website/pull/22357
/close

[2020-10-10 07:54] irvifa commented on #21660
/remove-lifecycle rotten

[2020-10-10 08:11] ydcool commented on #23775
It's hard to detect present changes, because the Chinese translation has no connection to en docs on pull request or commit, but maybe we can introduce some tools to track new changes from now on.

[2020-10-10 08:51] feloy commented on #23809
@sftim I think the documentation reader first needs an help to write YAMLs manifests for the moment. In a more or less near future, when the writing of Operators and Cloud Native apps is democratized, an help for writing the Go structures rpresenting the K8s resources would be helpful.

I'm not very satisfied with the actual presentation of the swagger-ui documentation for the following reasons:

[2020-10-10 10:52] irvifa commented on #21636
/remove-lifecycle rotten

[2020-10-10 12:29] chhanz commented on #24129
Translated docs/reference/kubectl/docker-cli-to-kubectl/ into Korean

[2020-10-10 12:29] #24129 closed

[2020-10-10 12:32] #24462 closed

[2020-10-10 12:52] zhiguo-lu commented on #24065
/assign

[2020-10-10 13:05] sftim commented on #24398
@JornShen I like that look.
I would use the Kubernetes blue and gray colors - maybe blue for pods, gray for kube-reserved and system-reserved, no color (or white) for eviction-threshold.

[2020-10-10 13:09] sftim commented on #23775
Try `scripts/lsync.sh`. With the version from https://github.com/kubernetes/website/pull/24419 you can:
[code]
to see what needs localizing.

[2020-10-10 15:24] sftim commented on #22020
Here's what I think could work:
- keep the search field where it is (it's part of [Docsy](https://www.docsy.dev/))
- add _another_ search field in the top nav, that's shown even when Docsy's built-in search input is shown
- add some code to sync things so that typing into either field changes the query in both

That feels like it'd achieve roughly what @532910 is asking for, without needing lots o

[2020-10-10 15:58] sftim commented on #23809
Building the page as Markdown sounds more viable. Are you thinking of proposing a change to https://github.com/kubernetes-sigs/reference-docs ?

[2020-10-10 16:31] feloy commented on #23809
Yes, as this generator uses an interface for the writer, it would be interesting to try and implement a writer for Markdown pages

[2020-10-10 17:15] sftim commented on #24443
/kind feature
/language en
This issue seems to be about making clear that multi-container Pods must consist _only_ of containers where `requests` == `limits`, in order to be treated as Guaranteed.
/triage accepted
/priority backlog

[2020-10-10 17:16] sftim commented on #24441
/retitle Link directly from concept pages to API reference
/kind feature
/priority backlog
/triage accepted
/sig docs

[2020-10-10 17:16] sftim commented on #24441
Good idea @tschirmer

[2020-10-10 17:17] sftim commented on #14956
/remove-priority important-longterm
/label needs-triage
/remove-lifecycle stale

[2020-10-10 17:18] sftim commented on #24430
/priority awaiting-more-evidence
/language en

[2020-10-10 17:19] sftim commented on #14201
/priority awaiting-more-evidence
/remove-priority backlog
/close

[2020-10-10 17:19] #14201 closed

[2020-10-10 17:20] sftim commented on #14507
I'd definitely keep https://github.com/kubernetes/website/issues/20728

It does still seem useful to document the concept of eviction. @kbhawkey what do you think?

[2020-10-10 17:20] sftim commented on #14639
/remove-priority backlog
/priority awaiting-more-evidence

[2020-10-10 17:21] sftim commented on #14713
/language en

[2020-10-10 17:21] sftim commented on #14725
/language en

[2020-10-10 17:22] sftim commented on #14725
/remove-priority important-longterm
I'll let SIG Security decide on that

[2020-10-10 17:23] sftim commented on #14727
/remove-priority important-longterm
I'll let SIG Security decide on that

[2020-10-10 17:23] sftim commented on #14727
/sig security

[2020-10-10 17:34] Daxcor69 commented on #24430
I agree totally with what you say. Having competing and different documentation is a real challenge in todays world.  Really makes it hard for us noobs to figure out how to do this stuff. Thank you for the work you and the group does. It is appreciated.

[2020-10-10 17:40] leeyspaul commented on #13948
Hey all! I'll take Pods Preset ([en](https://kubernetes.io/docs/concepts/workloads/pods/podpreset/)).

[2020-10-10 17:57] sftim commented on #24249
/close

[2020-10-10 17:57] #24249 closed

[2020-10-10 17:59] sftim commented on #24080
Hi @dheerujava

Please would you confirm which page you're telling us about?

I think however that you might not be looking at the right version of the documentation. At the top of the page, make sure to select the version of the documentation that matches the cluster you are using.
/triage needs-information

[2020-10-10 17:59] sftim commented on #24230
/close

[2020-10-10 18:00] #24230 closed

[2020-10-10 18:01] sftim commented on #24108
It sounds like https://kubernetes.io/docs/tutorials/kubernetes-basics/expose/expose-interactive/ should clearly let you know that you might need to run `minikube service` if you're following along at home.

@kngoyal is that the nub of this issue?

[2020-10-10 18:02] sftim commented on #19494
A similar question came up in issue #24107

[2020-10-10 18:07] sftim commented on #24083
@vavikast is there a particular page you'd like to see improved?

/triage needs-information

[2020-10-10 18:10] sftim commented on #24107
/kind cleanup

I'm (still) not sure that this page is the right home for that text.
/triage accepted
/language en
/priority backlog

[2020-10-10 18:12] sftim commented on #24105
I think you're reporting that you're having trouble following https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-initialization/ @SystemicEmotions

I think that's right, and I can replicate these symptoms. The `busybox` container's `wget` command does not provide TLS certificate verification.

I think that if we amend https://github.com/kubernetes/website/blob/29e13ed527659898c

[2020-10-10 18:13] sftim commented on #24105
/good-first-issue
(if anyone is interested in fixing this, but isn't sure where to start, see https://kubernetes.io/docs/contribute/ or reply with your question here)

[2020-10-10 18:16] sftim commented on #24459
/kind bug
/language en
/priority backlog
/help

[2020-10-10 18:17] nate-double-u commented on #23354
Revising my previous comment, now removed:
- I think that the https://k8s.io/docs/setup/learning-environment/kind/ page isn't doing very much, and can probably be combined with its parent page. Or, we can expand it to match the content style of the minikube page.
- The https://k8s.io/docs/setup/learning-environment/minikube/ page looks to be in good shape (I went through it recently as a part of a

[2020-10-10 18:19] sftim commented on #23636
/close

[2020-10-10 18:19] sftim commented on #23622
/kind cleanup
/language en
/triage accepted

[2020-10-10 18:19] #23636 closed

[2020-10-10 18:19] sftim commented on #23622
Thanks @juan-vg

[2020-10-11 01:26] pjhwa opened #24481 "Translate reference/kubectl/kubectl.md into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate docs/reference/kubectl/kubectl.md file into Korean.

**Why is this needed**

There is no document of docs/reference/kubectl/kubectl.md file which is translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/reference/kubectl/kubectl/

/language ko

[2020-10-11 01:29] pjhwa commented on #24481
/assign

[2020-10-11 03:02] cormacArt opened #24484 "Issue with k8s.io/docs/concepts/services-networking/ingress-controllers/"
All lives matter, that's include everyone's !! USA was the first anglo white western country with the black president in the world. US is not racist !!!

[2020-10-11 03:45] tengqm opened #24486 "[zh] kubeadm related pages to be translated."
The following kubeadm related pages are not translated into Chinese.

- [ ] docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs.md
- [ ] docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_generate-csr.md
- [ ] docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubelet-finalize.md
- [ ] docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubelet-f

[2020-10-11 05:24] pjhwa opened #24487 "Translate reference/scheduling/config.md into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate reference/scheduling/config.md into Korean.

**Why is this needed**

There is no document of docs/reference/scheduling/config.md which is translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/reference/scheduling/config/

/language ko

[2020-10-11 05:24] pjhwa commented on #24487
/assign

[2020-10-11 05:57] raghvenders opened #24488 "Make container-serve of kubernetes/Website fails on Mac catalina 10.15 - Docker Engine -19.03"
raghv-MacBook-Pro:website raghv$ make container-serve
WARNING Submodule not initialized: themes/docsy
docker run --rm --interactive --tty --volume /Users/a/OSS/website:/src --mount type=tmpfs,destination=/src/resources,tmpfs-mode=0777 -p 1313:1313 kubernetes-hugo:v0.74.3-563ed7805f37 hugo server --buildFuture --bind 0.0.0.0
Built in 63411 ms
Error: Error building site: "/src/content/en/blog/_posts

[2020-10-11 06:00] raghvenders commented on #24488
Raghvenders-MacBook-Pro:website raghvendersundarjee$ make container-serve
WARNING Submodule not initialized: themes/docsy
docker run --rm --interactive --tty --volume /Users/a/OSS/website:/src --mount type=tmpfs,destination=/src/resources,tmpfs-mode=0777 -p 1313:1313 kubernetes-hugo:v0.74.3-563ed7805f37 hugo server --buildFuture --bind 0.0.0.0
Built in 63411 ms
Error: Error building site: "/src/co

[2020-10-11 08:09] howieyuen commented on #24486
/assign
I'd love to 👍

[2020-10-11 10:08] Pick1a1username commented on #24488
It also fails with the same error on Linux (openSuse Tumbleweed)

The result of `make container-image` and `make container-serve`:

[code]

OS version and Docker version:

[code]

[2020-10-11 10:51] irvifa commented on #21240
/remove-lifecycle rotten

[2020-10-11 10:51] irvifa commented on #21293
/remove-lifecycle rotten

[2020-10-11 10:53] irvifa commented on #21494
/remove-lifecycle rotten

[2020-10-11 10:54] #24396 closed

[2020-10-11 11:04] irvifa commented on #21661
/remove-lifecycle rotten

[2020-10-11 11:20] neolit123 commented on #21632
/remove-lifecycle rotten

[2020-10-11 12:54] feloy commented on #23809
More on Markdown output at https://github.com/kubernetes-sigs/reference-docs/issues/173

[2020-10-11 13:50] howieyuen opened #24493 "[zh] broken link in docs/concepts/workloads/pods/"
**This is a Bug Report**

**Problem:**
Clicking the "容器运行时" hyperlink leads to the 404 page.
<img width="876" alt="WeChatc2b6a16c89afc8d1086c8c92a0a7f437" src="https://user-images.githubusercontent.com/23924124/95680374-c8ebc400-0c0b-11eb-94e3-c82b1e39398d.png">

**Proposed Solution:**
correct link as below:
~~full_link: /docs/reference/generated/container-runtime~~
full_link: /docs/setup/producti

[2020-10-11 13:51] howieyuen commented on #24493
/assign

[2020-10-11 13:51] howieyuen commented on #24493
/language zh

[2020-10-11 14:33] shrutip32 opened #24495 "Error following “Run a Single-Instance Stateful Application”"
Unable to Access the MySQL instance
 i get the following error whenever i try to Run a MySQL client to connect to the server:

mysql: [Warning] Using a password on the command line interface can be insecure.
ERROR 1045 (28000): Access denied for user 'root'@'192.168.140.229' (using password: YES)
pod "mysql-client" deleted
pod default/mysql-client terminated (Error)

[2020-10-11 15:21] chhanz opened #24496 "Translate setup/production-environment/tools/kubespray into Korean"
**This is a Feature Request**

Translate setup/production-environment/tools/kubespray into Korean.
**What would you like to be added**

There is no document of setup/production-environment/tools/kubespray which is translated into Korean.
**Why is this needed**

**Comments**

Page to translate : [https://kubernetes.io/docs/setup/production-environment/tools/kubespray/](https://kubernetes.io/docs/se

[2020-10-11 15:22] chhanz commented on #24496
/language ko
/assign

[2020-10-11 17:11] raghvenders commented on #24488
/assign @sftim

[2020-10-11 17:27] irvifa commented on #24488
Hi, does this happened from the latest master branch?

[2020-10-11 18:02] raghvenders commented on #24488
@sftim @irvifa - permission issue commented above by "Pick1a1username" looks like duplicate issue reported.
It is no more happening.

But the original issue i mentioned **"Error: Error building site: "/src/content/en/blog/_posts/2020-10-01-contributing-to-the-development-guide/index.md:46:1": failed to extract shortcode: template for shortcode "imgproc" not found
make: *** [container-serve] Error

[2020-10-11 18:40] raelga commented on #13948
Thank you very much @leeyspaul, welcome to the team!

[2020-10-11 23:42] StingyJack opened #24497 "Clarify “Object Names and IDs”"
This implies every object must have a name and UID, but it does not actually say this. Is this wording intentional because there are some cases where these two properties would not be required to have values for a kubernetes object, or would these values be required without exception?

[2020-10-12 00:26] #19051 closed

[2020-10-12 01:12] #24121 closed

[2020-10-12 01:14] tengqm commented on #24497
There are cases where an object doesn't require a name. For example, `LocalSubjectAccessReview` from the `authorization.k8s.io/v1` group. As for UID, most of the time it is not user provided. It is system generated.

[2020-10-12 01:59] bluefriday commented on #24091
@viveksahu26  The translation work is almost done.
I'll PR soon :D

[2020-10-12 02:18] JornShen commented on #23775
That would be a great and huge processes. Maybe we can add label `help` or `good-first-issue` to attract more people to join it.

/help
/good-first-issue

[2020-10-12 02:20] JornShen commented on #24398
all right.
/assign

[2020-10-12 02:48] tengqm commented on #24207
Done. (31aa397284e4c777ade95c94ff7c3b89d0a280bd)
/close

[2020-10-12 02:48] #24207 closed

[2020-10-12 02:48] tengqm commented on #24203
done.
/close

[2020-10-12 02:48] #24203 closed

[2020-10-12 02:51] tengqm opened #24500 "[zh] Translate docs/reference/using-api/health-checks.md"
/language zh
/help

[2020-10-12 02:52] tengqm opened #24501 "[zh] Translate docs/tasks/administer-cluster/kubeadm/adding-windows-nodes.md"
/language zh
/help

[2020-10-12 02:54] tengqm opened #24502 "[zh] Translate docs/tasks/administer-cluster/kubeadm/upgrading-windows-nodes.md"
/language zh
/help

[2020-10-12 02:55] tengqm opened #24503 "[zh] Translate docs/tasks/configure-pod-container/configure-gmsa.md"
/language zh
/help

[2020-10-12 02:58] tengqm opened #24504 "[zh] Translate docs/test.md"
The markdown file is for feature testing. We need to translate into Chinese based on our localization practices. The goal is to detect if some practices need improvement when either Hugo or Docsy code changes.
/language zh
/help

[2020-10-12 03:00] tengqm opened #24505 "[zh] Translate docs/tutorials/stateless-application/guestbook-logs-metrics-with-elk.md"
/language zh
/help

[2020-10-12 03:03] tengqm opened #24506 "[zh] Translate docs/setup/production-environment/turnkey/gce.md"
This is of low priority because #21636 is proposing a removal of the page.
/language zh
/help

[2020-10-12 03:05] tengqm opened #24507 "[zh] Translate docs/setup/production-environment/windows/intro-windows-in-kubernetes.md"
/language zh
/help

[2020-10-12 03:37] tengqm opened #24511 "[zh] Umbrella issue - files that need translation into Chinese."
There are two kinds of gaps between the English site and the Chinese localization:

- Files that are never translated. [Focus of this Issue]
- Files that were translated but out of sync due to English version changes.

A comparison of the directory content was performed by:

[code]

The output is a list of full paths of files that are out of sync. We have (by Oct 12, 2020) identified all missing p

[2020-10-12 05:11] irvifa commented on #20813
/remove-lifecycle rotten

[2020-10-12 06:46] howieyuen commented on #24500
/assign

[2020-10-12 07:07] howieyuen commented on #24511
PR https://github.com/kubernetes/website/pull/24515 fix  issue #24500

[2020-10-12 07:23] howieyuen opened #24516 "[zh] broken link of kube-apiserver glossary"
**This is a Bug Report**

**Problem:**
when I finished the translation of  docs/reference/using-api/health-checks.md, I found a broken link when clicked the "API 服务器":
![](https://user-images.githubusercontent.com/23924124/95716794-9048fa80-0c9e-11eb-9743-9daa19bab9a9.png)

**Proposed Solution:**
fix it in `content\zh\docs\reference\glossary\kube-apiserver.md`

[2020-10-12 07:23] howieyuen commented on #24516
/language zh
/assign
/kind bug

[2020-10-12 07:35] tengqm commented on #24516
/triage accepted

[2020-10-12 08:11] irvifa commented on #24488
@raghvenders can you paste the log there?

[2020-10-12 08:17] sftim commented on #24488
/triage needs-information

[2020-10-12 08:17] sftim commented on #23889
For this umbrella issue, I would include the gRPC socket that serves the Pod Resources API / also see https://github.com/kubernetes/kubernetes/pull/92165

What do you think @tengqm ? Is this the right home for tracking that?

[2020-10-12 08:17] sftim commented on #21558
/triage accepted
/priority backlog
/remove-lifecycle rotten

Might be relevant to issue #23889

[2020-10-12 08:17] irvifa commented on #20485
/remove-lifecycle rotten

[2020-10-12 08:18] irvifa commented on #20448
/remove-lifecycle rotten

[2020-10-12 08:18] irvifa commented on #20348
/remove-lifecycle rotten

[2020-10-12 08:19] irvifa commented on #20397
/remove-lifecycle rotten

[2020-10-12 08:19] irvifa commented on #20626
/remove-lifecycle rotten

[2020-10-12 08:20] irvifa commented on #22503
/remove-lifecycle rotten

[2020-10-12 08:20] irvifa commented on #20852
/remove-lifecycle rotten

[2020-10-12 09:23] tengqm commented on #23889
@sftim I'm don't have a strong opinion on where the API docs are served. Maybe just some simple markdown tables (or HTML tables) capturing the comments in the source code would be a good starting point.

[2020-10-12 09:54] #24516 closed

[2020-10-12 10:43] habibrosyad commented on #24488
I don't have any problem with the latest master (have cleaned all previous build, execute `make container-image`, then `make container-serve`). Here also on Mac.

However, I failed to execute `make container-serve` on CentOS and Ubuntu (on server):
[code]

If I remove shortcode `imgproc` from `/src/content/en/blog/_posts/2020-10-01-contributing-to-the-development-guide/index.md:46:1` then the erro

[2020-10-12 11:14] sftim commented on #24488
Try running this first:
[code]

/triage support

[2020-10-12 11:14] sftim commented on #24488
/kind support

[2020-10-12 11:36] habibrosyad commented on #24488
That's the step that I forgot for a new machines (run that on my Mac long time ago). No more issues on my side (my local and those servers before).

[2020-10-12 11:48] habibrosyad commented on #24488
I think it's pretty clear here https://github.com/kubernetes/website#prerequisites

When you got `WARNING Submodule not initialized: themes/docsy` in your log when running `make container-serve`, it indicates that you haven't run steps in https://github.com/kubernetes/website#prerequisites, notably the `git submodule update --init --recursive --depth 1` command

[2020-10-12 11:53] sftim commented on #24495
/retitle Error following “Run a Single-Instance Stateful Application”

[2020-10-12 11:53] sftim commented on #24511
/language zg

[2020-10-12 11:54] sftim commented on #24497
Seems like there's an opportunity to clarify, similar to the wording @tengqm used in https://github.com/kubernetes/website/issues/24497#issuecomment-706804456.

/retitle Clarify “Object Names and IDs”
/language en
/triage accepted
/priority backlog

[2020-10-12 12:19] sftim commented on #24511
oops.
/language zh

[2020-10-12 12:31] longkai opened #24521 "[zh] Typo issues in Chinese translation "Declarative Management of Kubernetes Objects Using Kustomize""
There are some Chinese typo issues in [this translation](https://kubernetes.io/zh/docs/tasks/manage-kubernetes-objects/kustomization), which should be corrected.

For example:

<img width="705" alt="image" src="https://user-images.githubusercontent.com/1432582/95746442-62c57680-0cc9-11eb-8271-ef3326f79371.png">

The "未所有" should be "为所有“.

And,

<img width="572" alt="image" src="https://user-image

[2020-10-12 14:08] annajung commented on #24488
@raghvenders I also ran into the same issue `failed to extract shortcode: template for shortcode "imgproc" not found` when I forgot to run the prerequisites before running the `make` commands. Running through the steps in prereq resolved the error for me. Can you confirm that you ran through the prereq?

[2020-10-12 15:04] irvifa commented on #19264
/remove-lifecycle rotten

[2020-10-12 15:13] kbhawkey commented on #14507
:+1:
/remove-lifecycle stale

[2020-10-12 15:27] irvifa commented on #14770
/remove-lifecycle rotten

[2020-10-12 15:28] irvifa commented on #14770
/remove-lifecycle rotten

[2020-10-12 15:32] irvifa commented on #19804
/remove-lifecycle rotten

[2020-10-12 15:36] sftim commented on #19264
/triage needs-information

[2020-10-12 15:38] sftim commented on #24484
I'm going to mark this as off-topic.
/close

[2020-10-12 15:38] #24484 closed

[2020-10-12 15:39] sftim commented on #24484
/triage invalid

[2020-10-12 16:05] antaloala commented on #24053
As there are not comment related to this issue I wonder if it is because
- no one share my reasoning (about the relationship between these two kube-apiserver options ("--default-not-ready-toleration-seconds" and "--default-unreachable-toleration-seconds") and the "--pod-eviction-timeout" option in kube-controller)
- it is not clear enough
- others?

[2020-10-12 17:00] translucens commented on #23248
I found this document is already translated at the [master branch](https://github.com/kubernetes/website/blob/master/content/ja/docs/concepts/configuration/manage-resources-containers.md) and we can close this issue.

[2020-10-12 17:02] sftim commented on #24495
Hi @shrutip32

Can you explain the steps you followed before you saw that error? That information will help us to verify that there is an issue with the documentation, and also should help people to work out how to solve it.

[2020-10-12 17:04] sftim commented on #23915
/triage accepted

[2020-10-12 17:07] sftim commented on #24380
/triage accepted

[2020-10-12 17:08] sftim commented on #24123
At this point in time, there is no step by step guide to do this.

/kind support

[2020-10-12 17:10] sftim commented on #24154
@mingwei-li you noticed several ways that someone could improve [Configure Redis using ConfigMap](https://kubernetes.io/docs/tutorials/configuration/configure-redis-using-configmap/).

Would you be willing to open an issue about each of those? That would help other people to identify and act on your suggestions.

[2020-10-12 17:12] sftim commented on #17842
/reopen

[2020-10-12 17:12] sftim commented on #17842
A similar issue: #24146

[2020-10-12 17:12] sftim commented on #24146
/kind feature
/retitle Expand details about headless Services
/sig network
/priority backlog
/language en

[2020-10-12 17:12] sftim commented on #17842
/kind feature
/sig network
/priority backlog
/language en
/triage accepted

[2020-10-12 17:13] sftim commented on #17842
/remove-lifecycle rotten

[2020-10-12 17:13] sftim commented on #24146
Would it be OK to close this as a duplicate of issue #17842 ?

[2020-10-12 17:15] sftim commented on #24127
@uculcarni-puma I'm afraid that GitHub is not the right place for support requests.

Consider asking for help using [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.
/kind support

[2020-10-12 17:15] pohly commented on #22505
/remove-lifecycle stale
/lifecycle frozen

[2020-10-12 17:22] sftim commented on #24137
@andrescaroc can you check that you're looking at the right version of the documentation?

`kubectl version` shows you what version of Kubernetes you are using. The top-right of https://k8s.io/ has a selector to choose between different versions of the documentation.

/triage needs-information

[2020-10-12 17:24] sftim commented on #24135
This sounds like it wouldn't fit in with the spirit of the [content guide](https://kubernetes.io/docs/contribute/style/content-guide/) @jicowan.

A better approach would be to document that annotation in AWS' documentation, and then _hyperlink_ to the cloud provider's own docs if appropriate. Does that approach seem valid?
/sig cloud-provider

[2020-10-12 17:43] sftim commented on #12082
/triage accepted

[2020-10-12 18:04] sftim commented on #5993
Related: #24528 Add _object_ to glossary

[2020-10-12 18:07] sftim commented on #22505
/triage accepted

[2020-10-12 18:08] #24398 closed

[2020-10-12 19:33] sftim commented on #23748
/language ja
Does this need any more work?

[2020-10-12 19:34] sftim commented on #23722
/triage accepted

[2020-10-12 19:36] jicowan commented on #24135
@sftim I'm not sure.  There are already several AWS specific annotations present in the k8s documentation, e.g. https://kubernetes.io/docs/concepts/services-networking/service/#aws-nlb-support.  I agree it should appear in the AWS's documentation, but I also think it's worth putting here while the NLB is still part of the cloud controller.

[2020-10-12 19:45] ishswar opened #24529 "Configure Pod Initialization - Issue with k8s.io/docs/concepts/workloads/pods/init-containers/"
**Issue**: Sample YAML as given in documentation does not work, whoever will try the sample will get this Error.
           Init pod is supposed to get a page from http://kubernetes.io (port 80) but that gets redirected to 443 ( SSL) port and
           wget is not able to handle SSL

Link to sample yaml : [init-containers.yaml](https://raw.githubusercontent.com/kubernetes/website/master/content/e

[2020-10-12 20:45] sftim commented on #20665
/triage accepted

[2020-10-12 20:57] sftim commented on #24105
Duplicated by https://github.com/kubernetes/website/issues/24529

[2020-10-12 20:58] sftim commented on #24529
This seems very similar to issue 24105
/triage duplicate

[2020-10-12 20:59] sftim commented on #24146
/triage duplicate

[2020-10-12 20:59] sftim commented on #15969
/remove-lifecycle rotten
/triage accepted

[2020-10-12 21:08] raghvenders commented on #24488
@sftim @annajung , yes it works after I have run those pre-requisites.Since I have had run this before few days or few commits before it was working with make container image and serve.

I hope it is must we pull the latest every-time.

Thanks all , i will close the issue.

[2020-10-12 21:34] sftim commented on #20626
/remove-kind support

[2020-10-12 21:35] sftim commented on #16866
/close

[2020-10-12 21:35] #16866 closed

[2020-10-12 21:37] sftim commented on #23356
@cyberprodigy I'm afraid that GitHub is not the right place to request support.

/close

[2020-10-12 21:37] #23356 closed

[2020-10-12 21:38] sftim commented on #24390
/kind support

[2020-10-12 21:39] sftim commented on #24390
@kkrhdd if you can identify a gap in the documentation and can describe that, please do feel welcome to file an issue about that gap.

[2020-10-12 21:40] sftim commented on #22788
There are various options. One that I like the idea of is creating [headless bundles](https://gohugo.io/content-management/page-bundles/#headless-bundle) that represent groups of tasks. Each bundle could be a Markdown list of links, and then we give Hugo and Sass the job of rendering those nicely.

That approach lets a task appear in more than one grouping.

[2020-10-12 21:42] sftim opened #24532 "Add kubeadm to “Install Tools”"
**This is a Feature Request**

**What would you like to be added**
Add `kubeadm` to https://kubernetes.io/docs/tasks/tools/

**Why is this needed**
`kubeadm` is an important and widely-used way to get Kubernetes running, and it definitely counts as a tool. It's also 100% in-project.
https://kubernetes.io/docs/tasks/tools/ should hyperlink to a page about installing kubeadm.

**Comments**
/kind fea

[2020-10-12 21:45] sftim commented on #22064
/triage accepted
/close

[2020-10-12 21:45] #22064 closed

[2020-10-12 21:46] sftim commented on #22462
/triage accepted

[2020-10-12 21:47] sftim commented on #4495
Done
/close

[2020-10-12 21:47] #4495 closed

[2020-10-12 21:48] sftim commented on #21621
/triage accepted

[2020-10-12 21:48] sftim commented on #18675
/triage accepted

[2020-10-12 21:50] sftim commented on #24135
I would really like to slim down https://kubernetes.io/docs/concepts/services-networking/service/#aws-nlb-support _considerably_ - however, if the existing page is inaccurate then it's OK to PR a fix.

[2020-10-12 21:52] sftim commented on #24488
There's a close button under the comment field. Kubernetes contributors with the access to do it can also have Prow close the issue:
/close

[2020-10-12 21:52] #24488 closed

[2020-10-12 21:53] sftim commented on #4512
/sig instrumentation

[2020-10-12 21:54] sftim commented on #12082
/remove-lifecycle stale

[2020-10-12 21:54] sftim commented on #4514
/language en

[2020-10-12 21:54] sftim commented on #4514
/sig storage

[2020-10-13 00:21] #23837 closed

[2020-10-13 00:49] sftim commented on #15966
Final cleanup done in #24531

[2020-10-13 01:11] #22885 closed

[2020-10-13 01:40] Cweiping commented on #23670
its already fixed by #23699 . Help close it. Thx!
By the way, how can I apply for this permission? Do you need to apply to be a member?

@sftim

[2020-10-13 02:40] #24521 closed

[2020-10-13 04:38] irvifa commented on #18106
/remove-lifecycle rotten

[2020-10-13 05:12] irvifa commented on #23670
/close

[2020-10-13 05:12] #23670 closed

[2020-10-13 07:00] jimmy17x opened #24540 "Documentation still uses words non inclusive terms like "slaves""
This ticket is for a suggestion that we should also identify and change non-inclusive terms in our documentation
eg :
https://kubernetes.io/search/?q=slave

Alternative can be found here
https://developers.google.com/style/word-list

[2020-10-13 07:22] tengqm opened #24542 "Missing links to generated kubeadm pages"
**This is a Bug Report**

**Problem:**

The following pages under `docs/reference/setup-tools/kubeadm/` are currently manually maintained.

[code]

It is expected that each generated page under `docs/reference/setup-tools/kubeadm/generated/` has at least one link to it from these files, otherwise it becomes orphaned.

The following pages are orphaned:

[code]
**Proposed Solution:**

Add links to t

[2020-10-13 08:17] floreks commented on #24027
You can also use similar wording to our README:
https://github.com/kubernetes/dashboard#access

[2020-10-13 09:06] sftim commented on #24540
This is a near exact duplicate of https://github.com/kubernetes/website/issues/21621 - let's track the work there.
/wg naming
/triage duplicate
/retitle Documentation still uses words non inclusive terms like "slaves"
/kind bug
/close

[2020-10-13 09:06] #24540 closed

[2020-10-13 09:08] sftim commented on #24542
Thanks

/sig cluster-lifecycle
/triage accepted
/kind cleanup
/language en
/priority backlog

[2020-10-13 09:09] sftim commented on #24542
We could instead use Docsy's automatic list generation, and add descriptions to each page (eg, to the front matter of `/docs/reference/setup-tools/kubeadm/generated/kubeadm-alpha.md`).

[2020-10-13 09:37] sftim commented on #24038
/triage accepted
/kind cleanup
/language en
/help

[2020-10-13 09:38] sftim commented on #24038
The PR to remove https://kubernetes.io/docs/concepts/workloads/pods/podpreset/ should target milestone (and Kubernetes release) *1.20*

[2020-10-13 09:39] sftim commented on #23992
That seems like a useful thing to make clear!
/kind feature
/triage accepted
/sig auth

for https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/

[2020-10-13 11:18] neolit123 commented on #24542
`kubeadm alpha certs` is marked as deprecated in 1.20, so i assume the generation for it will be skipped (the command will be hidden). there command is graduated as `kubeadm certs`.

the graduation and missing `generate-csr` is covered here:
https://github.com/kubernetes/website/pull/24410

the rest are indeed missing.
is there a way to catch this during CI of website PRs?

i don't know how Docsy

[2020-10-13 13:57] oleggalimov opened #24548 "Установка Kubernetes с помощью Minikube"
There is a grammatical error, should be "Установк**А**

[2020-10-13 14:36] sftim commented on #24548
/language ru
page is https://kubernetes.io/ru/docs/tasks/tools/install-minikube/

Thanks for reporting this @oleggalimov

[2020-10-13 14:39] oleggalimov commented on #24548
You are welcome)
But, the page, where i found it is here: https://kubernetes.io/ru/docs/setup/learning-environment/minikube/

[2020-10-13 15:05] neolit123 commented on #24542
i think we could do the following:
- on the main pages that are currently manually maintained `kubeadm config` etc, "include" the generated page (https://github.com/kubernetes/website/blob/master/content/en/docs/reference/setup-tools/kubeadm/kubeadm-config.md)
- the generated page could have relative hyperlinks to the generated pages of sub-sub-commands (e.g. kubeadm_config.md having links to `kub

[2020-10-13 15:54] translucens opened #24550 "Translate concepts/security/pod-security-standards into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [concepts/security/pod-security-standards](https://kubernetes.io/docs/concepts/security/pod-security-standards/) into Japanese

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-10-13 16:10] irvifa commented on #22530
/remove-lifecycle stale

[2020-10-13 17:10] bassambst opened #24551 "Typo in Kubernetes docs: Externalizing config using MicroProfile, ConfigMaps and Secrets"
"tha approrpriate" in
https://kubernetes.io/docs/tutorials/configuration/configure-java-microservice/configure-java-microservice/
Although Secrets are also used to store key-value pairs, they differ from ConfigMaps in that they're intended for confidential/sensitive information and are stored using Base64 encoding. This makes secrets tha approrpriate choice for storing such things as credentials,

[2020-10-13 17:18] sftim commented on #24542
@neolit123 that sounds like a plan.

BTW, if the generator has the smarts to add metadata into generated Markdown (eg: a YAML list of subcommands, in front matter) then we can implement a Hugo layout that automatically processes that metadata into HTML. I can probably help with this approach, if selected.

So you have options: more code in the docs generator, or less docs generator code but then m

[2020-10-13 17:20] sftim commented on #24137
No worries @andrescaroc

/remove-triage needs-information
/triage support
/close

[2020-10-13 17:20] #24137 closed

[2020-10-13 17:20] bassambst commented on #24551
PR'ed this here: https://github.com/kubernetes/website/pull/24552
Closing the issue

[2020-10-13 17:20] #24551 closed

[2020-10-13 17:26] sftim commented on #22530
/triage accepted

[2020-10-13 17:34] neolit123 commented on #24542
given the subcommand relation is already described by the filenames:

[code]

can Hugo just process that instead of requiring the metadata to be part of the markdown?

i think i'm leaning towards the first option, but that is because i don't know much about Hugo, but if the docs team and @tengqm prefer the second option, we should go for it.

[2020-10-13 17:44] #24148 closed

[2020-10-13 17:53] sftim commented on #24542
I'd rather not hard-code in a full path into the layout code, because I think that could be fragile when it doesn't need to be.

If we can set some marker eg `content_type: generated` in the [front matter](https://gohugo.io/content-management/front-matter/) for each page where that applies, I think I could persuade Hugo to work out the rest of the details.

[2020-10-13 18:17] leeyspaul opened #24553 "Workloads page has no information on what a Workload is"
# Issue

When I visit the Workloads [page](https://kubernetes.io/docs/concepts/workloads/) there is no information on what a Workload is, so I Googled the concept externally. It led me to this [Rancher page](https://rancher.com/learning-paths/introduction-to-kubernetes-workloads/) on what a Workload is.

<img width="1271" alt="Screen Shot 2020-10-13 at 11 15 28 AM" src="https://user-images.githubu

[2020-10-13 18:22] #24493 closed

[2020-10-13 18:27] 532910 commented on #22020
So what is the problem to hide Docsy's search field afterwards?

[2020-10-13 19:23] kbhawkey commented on #24553
Related to PR #23737

[2020-10-13 21:00] kbhawkey commented on #22348
Hi! I think it would be good to prioritize this work. What do you think?
Could GitHub Actions trigger the testing of any changed example files?

@tengqm ,  Can you provide more information about:
`Discover the resources from the YAML/JSON files automatically by searching for root-level kind keys, so that we don't need to hardcode the resource types to check in the Go source`?

The area should be t

[2020-10-14 01:18] tengqm commented on #22348
By resource discovery, I meant a replacement of the huge map [here](https://github.com/kubernetes/website/blob/master/content/en/examples/examples_test.go#L370-L660) which obviously is not an elegant solution going forward.

[2020-10-14 01:25] #24500 closed

[2020-10-14 03:13] tengqm commented on #24542
Let's fix it by following the current practices. We can file a new issue to track the improvement/automation.

[2020-10-14 03:37] tengqm opened #24558 "Improve the indexing of generated kubeadm references"
**This is a Feature Request**

**What would you like to be added**

Automated indexing of the generated kubeadm references under `docs/reference/setup-tools/kubeadm/generated/`.

**Why is this needed**

The current practice of manually creating and maintaining overview pages for these commands is not sustainable.

**Comments**

For background, see #24542.

[2020-10-14 04:56] Paige49 commented on #21035
/remove-lifecycle rotten

[2020-10-14 05:56] santachopa opened #24560 "Translate reference/glossary/service-broker.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate reference/glossary/service-broker.md in Korean

**Why is this needed**

No translation reference/glossary/service-broker.md in Korean

**Comments**
Page to update : https://kubernetes.io/ko/docs/reference/glossary/?extension=true#term-service-broker

[2020-10-14 05:59] santachopa commented on #24560
/language ko
/assign

[2020-10-14 06:18] jmyung commented on #24560
/triage accepted

[2020-10-14 06:29] jmyung commented on #24496
/triage accepted

[2020-10-14 06:29] jmyung commented on #24487
/triage accepted

[2020-10-14 06:29] jmyung commented on #24481
/triage accepted

[2020-10-14 08:10] RA489 commented on #23854
@jajalcoding Any luck with above documentation.

[2020-10-14 13:48] neolit123 commented on #24542
LGTMed the PR, will add notes to https://github.com/kubernetes/website/issues/24558
thanks @tengqm

[2020-10-14 13:49] #24542 closed

[2020-10-14 13:50] neolit123 commented on #24558
this comment has a proposal:
https://github.com/kubernetes/website/issues/24542#issuecomment-707804221

@sftim also proposed a couple of ways this can be implemented.

i think i can help on the generator side but not for Hugo related changes.

[2020-10-14 13:50] neolit123 commented on #24558
/sig cluster-lifecycle docs

[2020-10-14 13:51] kennygt51 opened #24568 "Translate tasks/configure-pod-container/configure-service-account/ into Japanese"
#### This is a Feature Request

#### What would you like to be added

Translate [tasks/configure-pod-container/configure-service-account/](https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/) into Japanese.

#### Why is this needed

This page has not been translated.

#### Comments

/language ja
/assign

[2020-10-14 13:53] sftim commented on #24553
Duplicate of issue #23716
/triage duplicate

[2020-10-14 13:53] sftim commented on #23716
/triage accepted

[2020-10-14 13:54] sftim commented on #24558
/triage accepted

[2020-10-14 13:54] sftim commented on #24548
Thanks for clarifying @oleggalimov

[2020-10-14 14:24] gramozkaragjyzi opened #24570 "The Kubernetes API"

[2020-10-14 16:36] Arhell commented on #24548
/assign @Arhell

[2020-10-14 16:40] sftim commented on #18675
Related, we could think about where to show that FlexVolume, for example, has been superseded by CSI - and other details that aren't APIs.

[2020-10-14 17:01] celestehorgan commented on #24570
/close

[2020-10-14 17:01] #24570 closed

[2020-10-14 17:04] sftim commented on #24548
/triage accepted

[2020-10-14 18:42] leeyspaul commented on #24553
Thanks all :]

[2020-10-14 22:23] 2rs2ts commented on #22538
/remove-lifecycle stale

[2020-10-14 23:07] neha-viswanathan commented on #24459
Hi I'd like to work on this

[2020-10-14 23:11] leeyspaul commented on #24459
Awesome! I think you can assign it yourself by running the "assign" command.

Context here: https://prow.k8s.io/command-help and example here: https://github.com/kubernetes/website/issues/24481

[2020-10-14 23:41] neha-viswanathan commented on #24459
/assign

[2020-10-15 00:14] jajalcoding commented on #23854
Hi @RA489 , thanks.. actually I found out the issue because i was running 2 node minikube, and somehow when the ingress is installed in the 2nd node, it never work. When I removed the 2nd node, it is working well.
Thank you

[2020-10-15 00:14] #23854 closed

[2020-10-15 01:37] tengqm opened #24577 "Add some hints for CLA diagnosis"
**This is a Feature Request**

**What would you like to be added**

Now and then we encounter PRs failing CLA checking. There must be some problems that are common across these cases. We need some guide in the contribute section for reference when such problems occur again.

**Why is this needed**

Saving reviewers/contributors time on debugging CLA issue, rather than commenting with `/check-cla`

[2020-10-15 04:34] Tej-Singh-Rana commented on #24105
Okay, I will replace it with the "http://info.cern.ch/".

Regards,

[2020-10-15 05:15] neha-viswanathan commented on #18889
/assign

[2020-10-15 07:20] #23716 closed

[2020-10-15 07:26] irvifa commented on #24553
/close

[2020-10-15 07:26] #24553 closed

[2020-10-15 07:52] #24548 closed

[2020-10-15 08:22] sonogithub opened #24582 "Network Policies documentation page- description of no policy types is unclear"
Referring to "If no policyTypes are specified on a NetworkPolicy then by default Ingress will always be set and Egress will be set if the NetworkPolicy has any egress rules."

1. What does "Ingress will always be set" actually mean and how does it impact selected pods ?
For example does it really mean "Ingress will be allowed for all selected pods in the namespace and  the policyTypes will include

[2020-10-15 08:35] sftim commented on #24582
Sounds like there is room for improvement - thanks for highlighting this @sonogithub
/language en
/sig network
/triage accepted

[2020-10-15 08:36] sftim commented on #24577
/kind feature
/language en
/sig contributor-experience

@tengqm, could we add that to https://www.k8s.dev/ and then add a shorter paragraph that hyperlink to the detailed page?

[2020-10-15 09:18] #24459 closed

[2020-10-15 09:28] #24188 closed

[2020-10-15 09:29] #24156 closed

[2020-10-15 09:32] #18889 closed

[2020-10-15 10:02] zhiguo-lu commented on #21285
this issue has  been fixed by @tengqm‘s  commit 8d7fd3f "[zh] Fix links in concepts section"
/close it

[2020-10-15 10:16] zhiguo-lu commented on #24505
/assign

[2020-10-15 11:02] sftim commented on #22020
I guess we could hide Docsy's search field. What does that add, though? Also, does it break any viewing experience (eg mobile)?

[2020-10-15 11:35] tengqm commented on #24577
@sftim That is acceptable too.

[2020-10-15 12:14] tengqm commented on #21285
/close

[2020-10-15 12:14] #21285 closed

[2020-10-15 13:53] irvifa commented on #21128
/remove-lifecycle stale

[2020-10-15 17:28] sftim commented on #24577
/triage accepted

[2020-10-15 19:56] 532910 commented on #22020
Two search field are confusing and eat up space that is expensive on mobile.

[2020-10-15 21:07] jayunit100 commented on #24582
/assign

[2020-10-15 21:07] jayunit100 commented on #24582
can help if needed also

[2020-10-16 00:29] leeyspaul commented on #13948
Tackling the `docs/tasks/tools` next, based on this Slack [thread](https://kubernetes.slack.com/archives/C0191RDKHU1/p1602350972049100?thread_ts=1602350556.047100&cid=C0191RDKHU1) of the tasks/tools page being out of date.

[en](https://kubernetes.io/docs/tasks/tools/)

[2020-10-16 00:32] santachopa opened #24591 "Translate reference/glossary/container-lifecycle-hooks.md in Korean"
**This is a Feature Request**

**What would you like to be added**
Translate reference/glossary/container-lifecycle-hooks.md in Korean

**Why is this needed**
No translation reference/glossary/container-lifecycle-hooks.md in Korean

**Comments**
Page to update : https://kubernetes.io/ko/docs/reference/glossary/?extension=true#term-container-lifecycle-hooks

[2020-10-16 00:33] santachopa commented on #24591
/language ko
/assign

[2020-10-16 01:19] leeyspaul opened #24595 "lsync script still outputs ".. in sync" when a page is out of sync"
**Problem:**

_Wasn't sure how to report this so selected bug as it seemed closest to what to report_

Running `./lsync.sh ../content/es/docs/tasks/tools/_index.md` from the `scripts/` directory should return the diff and then close without output.

But it shows the diff then outputs that the page is still in sync.

Output

[code]

**Proposed Solution:**

Remove output from showing after the diff

[2020-10-16 01:24] tengqm commented on #24595
/triage accepted
/assign

[2020-10-16 01:56] chhanz commented on #24496
Already translated. #24144

[2020-10-16 01:56] #24496 closed

[2020-10-16 02:00] tengqm commented on #24505
/triage accepted

[2020-10-16 02:01] tengqm commented on #24504
/triage accepted

[2020-10-16 02:01] tengqm commented on #24507
/triage accepted

[2020-10-16 02:02] tengqm commented on #24502
/triage accepted

[2020-10-16 02:02] tengqm commented on #24501
/triage accepted

[2020-10-16 02:02] tengqm commented on #24486
/triage accepted
Resolved.
/close

[2020-10-16 02:03] #24486 closed

[2020-10-16 02:05] tengqm commented on #24511
/triage accepted

[2020-10-16 02:19] chhanz opened #24597 "Translate reference/kubectl/conventions.md into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate reference/kubectl/conventions.md into Korean

**Why is this needed**

Not translate reference/kubectl/conventions.md into Korean

**Comments**

Page to update : https://kubernetes.io/docs/reference/kubectl/conventions/

[2020-10-16 02:20] chhanz commented on #24597
/language ko
/assign

[2020-10-16 02:38] neha-viswanathan commented on #24380
/assign

[2020-10-16 07:43] howieyuen commented on #24511
combination of PR https://github.com/kubernetes/website/pull/24543 and https://github.com/kubernetes/website/pull/24600 fix issue #24486

[2020-10-16 09:35] sftim commented on #19846
/kind cleanup

[2020-10-16 10:09] #24595 closed

[2020-10-16 12:00] irvifa commented on #21790
/triage accepted

[2020-10-16 12:04] irvifa commented on #21790
/close

[2020-10-16 12:04] #21790 closed

[2020-10-16 20:18] #18410 closed

[2020-10-17 11:14] #24120 closed

[2020-10-17 11:16] seokho-son opened #24612 "Korean Localization for dev-1.19-ko.4 branch"
## In English

**This is a Feature Request**

Korean Localization for `dev-1.19-ko.4` branch.

**What would you like to be added**

Any localization contributions for Korean.

**Comments**

- This issue is to notify the schedule of Korean localization to contributors.
- `dev-1.19-ko.4` is the current work branch for Korean localization.
- Korean PR Wrangler: @seokho-son

**Important dates**
- A Ko

[2020-10-17 12:15] seokho-son opened #24613 "Outdated files in the dev-1.19-ko.4 branch"
# This is a Bug Report
## Problem
Outdated files in the dev-1.19-ko.4 branch.

### 47 files to be modified
1. [ ] content/en/_index.html 1 file changed, 3 insertions(+), 1 deletion(-)
1. [ ] content/en/docs/_index.md 1 file changed, 2 insertions(+)
1. [ ] content/en/docs/concepts/architecture/control-plane-node-communication.md 1 file changed, 1 insertion(+), 1 deletion(-)
1. [ ] content/en/docs/c

[2020-10-17 12:15] seokho-son commented on #24613
/help

[2020-10-17 12:25] #21847 closed

[2020-10-17 12:35] pjhwa commented on #24613
/assign

[2020-10-17 14:55] irvifa commented on #20958
/remove-lifecycle stale

[2020-10-17 15:01] irvifa commented on #22356
/remove-lifecycle stale

[2020-10-17 15:05] irvifa commented on #19795
/remove-lifecycle stale

[2020-10-17 15:05] irvifa commented on #19703
/remove-lifecycle stale

[2020-10-17 15:05] irvifa commented on #20110
/remove-lifecycle stale

[2020-10-17 15:05] irvifa commented on #20281
/ close

[2020-10-17 16:58] kosehy opened #24617 "Translate reference/command-line-tools-reference/kubelet-authentication-authorization.md into korean"
**This is a Feature Request**

**What would you like to be added**

Translate reference/command-line-tools-reference/kubelet-authentication-authorization.md into korean

**Why is this needed**
No translation reference/command-line-tools-reference/kubelet-authentication-authorization.md into korean

**Comments**

Page to Update:
https://kubernetes.io/docs/reference/command-line-tools-reference/kube

[2020-10-17 17:01] kosehy commented on #24617
/language ko
/assign

[2020-10-17 17:18] inductor commented on #19247
/close

[2020-10-17 17:19] #19247 closed

[2020-10-17 17:20] inductor commented on #23620
/close

[2020-10-17 17:20] #23620 closed

[2020-10-17 17:22] inductor commented on #24433
/close

[2020-10-17 17:22] #24433 closed

[2020-10-17 17:51] irvifa commented on #21861
/remove-lifecycle rotten

[2020-10-17 17:52] irvifa commented on #22519
/remove-lifecycle stale

[2020-10-17 17:52] #15969 closed

[2020-10-17 17:52] #22065 closed

[2020-10-17 17:52] #23650 closed

[2020-10-17 18:12] irvifa commented on #21886
/remove-lifecycle rotten

[2020-10-17 18:14] irvifa commented on #22227
/remove-lifecycle stale

[2020-10-17 18:16] irvifa commented on #22226
/remove-lifecycle stale

[2020-10-17 18:18] irvifa commented on #21789
/remove-lifecycle rotten

[2020-10-17 18:19] irvifa commented on #22532
/remove-lifecycle stale

[2020-10-17 20:20] sftim opened #24618 "Document kube-proxy and its different modes"
**This is a Feature Request**

**What would you like to be added**
Explain how to choose a mode for kube-proxy to use (userspace forwarding, `iptables`, etc). The pros & cons of each.
Consider replacing https://kubernetes.io/docs/concepts/services-networking/service/#ips-and-vips with a link to that new page.

**Why is this needed**
- https://kubernetes.io/docs/concepts/services-networking/service

[2020-10-17 20:22] sftim commented on #21436
Should we use `minibusy` / `busyboxplus`? Is it a good idea to recommend this third-party software?

[2020-10-18 01:14] inductor commented on #23748
@kakts これいかがですかー。
https://github.com/kubernetes/website/pull/24155

このへんのリンク先にもなってるので、状況合わせて対応内容は考えたい感じです

[2020-10-18 04:27] gochist opened #24620 "Update out-dated README-ko.md"
**This is a Bug Report**

**Problem:**
Currently, `README-ko.md` is an old version and needs to be updated.

**Proposed Solution:**
Update out-dated README-ko.md

**Page to Update:**
https://github.com/kubernetes/website/blob/master/README-ko.md

/language ko

[2020-10-18 04:29] boddumanohar commented on #24618
The various proxy modes that are available for `kube-proxy` are documented in https://kubernetes.io/docs/concepts/services-networking/service/.  Would it be a good place if we add a documented in `/tasks` explaining how to configure `kube-proxy` and reference those links in `/concepts/service-networking/service/`?

[2020-10-18 08:46] #24065 closed

[2020-10-18 09:29] kosehy opened #24624 "Translate reference/command-line-tools-reference/kube-proxy.md into korean"
**This is a Feature Request**

**What would you like to be added**

Translate reference/command-line-tools-reference/kube-proxy.md into korean

**Why is this needed**
No translation reference/command-line-tools-reference/kube-proxy.md into korean

**Comments**

Page to Update:
https://kubernetes.io/docs/reference/command-line-tools-reference/kube-proxy/

[2020-10-18 09:29] kosehy commented on #24624
/language ko
/assign

[2020-10-18 12:52] sftim commented on #24618
Very much so. Changes that shorten https://kubernetes.io/docs/concepts/services-networking/service/ are very welcome.

[2020-10-18 13:59] #19188 closed

[2020-10-18 20:14] marrem opened #24627 "Mention network plugins in “Kubernetes Components”"
I was reading this page to learn about an addon that the installation page mentions as indispensable, i.e. the CNI addon. Strangely it isn't even mentioned on the page.

[2020-10-18 20:57] sftim commented on #24627
/retitle Mention network plugins in “Kubernetes Components”

It does make sense to mention network plugins as an example of an add-on.
/triage accepted
/language en
/priority backlog

[2020-10-18 20:58] sftim commented on #12657
/rettitle Unclear definition of the --horizontal-pod-autoscaler-initial-readiness-delay flag

[2020-10-18 20:59] sftim commented on #12657
It looks like the text from https://horizontal-pod-autoscaler.readthedocs.io/en/latest/user-guide/initial-readiness-delay/ could be useful to draw from.

[2020-10-18 20:59] sftim commented on #12657
/retitle Unclear definition of the --horizontal-pod-autoscaler-initial-readiness-delay flag

[2020-10-18 21:11] sftim commented on #19789
/retitle Show failed Netlify builds as CI failures in GitHub

[2020-10-18 21:12] sftim commented on #19789
/remove-lifecycle rotten

[2020-10-18 21:12] sftim commented on #19309
/kind bug

[2020-10-18 21:13] sftim commented on #19811
/triage accepted

[2020-10-18 21:18] sftim commented on #19498
It seems like Slack is now sizing the image better. Does that match your experience @sfxworks?

[2020-10-18 22:22] sftim commented on #14215
Does it make sense to move this into the [Reference](https://kubernetes.io/docs/reference/) section?

[2020-10-18 22:52] sftim commented on #12657
/triage accepted

[2020-10-18 22:52] sftim commented on #23660
/triage accepted

[2020-10-19 10:46] #24501 closed

[2020-10-19 11:00] #24502 closed

[2020-10-19 12:02] kbhawkey commented on #16583
Related to PR #24415

[2020-10-19 12:45] JornShen commented on #24532
solved it in https://github.com/kubernetes/website/pull/24585

[2020-10-19 15:24] Arhell commented on #24395
/close

[2020-10-19 15:24] #24395 closed

[2020-10-19 18:22] neolit123 commented on #24532
thanks
/close

[2020-10-19 18:22] #24532 closed

[2020-10-19 18:28] #2979 closed

[2020-10-19 22:13] neha-viswanathan commented on #23909
/assign

[2020-10-19 23:35] 2rs2ts commented on #14215
/remove-lifecycle stale

@sftim not sure, I can see how it'd fit there but I'm not an expert on how the maintainers like to organize the docs

[2020-10-20 00:54] tengqm commented on #21404
ref: https://github.com/kubernetes/community/blob/master/contributors/devel/sig-instrumentation/logging.md

[2020-10-20 08:07] thomasstorm opened #24650 "Interactive Tutorial - Creating a Cluster"
When I run
`kubectl version`
after I started minikub, the server seems to not start:
`Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.3", GitCommit:"06ad960bfd03b39c8310aaf92d1e7c12ce618213", GitTreeState:"clean", BuildDate:"2020-02-11T18:14:22Z", GoVersion:"go1.13.6", Compiler:"gc", Platform:"linux/amd64"}`
`The connection to the server localhost:8080 was refused - did you s

[2020-10-20 08:17] pierluigilenoci commented on #19977
/remove-lifecycle rotten

[2020-10-20 08:17] pierluigilenoci commented on #19977
/remove-lifecycle rotten

[2020-10-20 09:08] Bhavesh-Joshi commented on #19870
@themonks Thanks for the solution. It works while with minikube cluster, but now the problem is that I am using kind cluster. I am facing the same issue with kind Kubernetes cluster. Please help me to overcome from it.

Waiting for the reply!

Thanks

[2020-10-20 11:10] sftim commented on #14215
OK, stronger opinion: I recommend moving the list of annotations and their effects into the reference section.

Only retain annotations that are allowed by the [content guide](https://kubernetes.io/docs/contribute/style/content-guide/) - so, third-party code is not OK; in-project code for cloud providers is OK, because it's in-project.

[2020-10-20 13:04] sftim opened #24652 "Document security recommendation for component log levels"
**This is a Feature Request**

**What would you like to be added**

Add a paragraph or a new page inside https://k8s.io/docs/concepts/security/ that cautions readers about running production systems at verbose log level.
In particular, warn that secrets may be revealed either at Trace or Debug level (TODO: confirm which) and that therefore these secrets should either not be logged (by turning down

[2020-10-20 13:51] tengqm commented on #24652
Are we talking about this feature? https://github.com/kubernetes/kubernetes/pull/95316

[2020-10-20 14:03] sftim commented on #24652
This is related, but it's a different approach.
1. The code should not write security tokens into logs
2. Administrators should not enable trace logging in prod, because trace logging can reveal confidential details (also, for example, the contents of a Secret).

Combined, these measures make Kubernetes more secure.

[2020-10-20 14:31] kbhawkey commented on #22788
Headless "bundle" strikes again 👻 . Could work -- have not considered how or why.

When I originally mentioned looking into the `tasks` section, I was thinking more along the lines of
revitalizing the section. I would consider renaming this umbrella issue.
This could mean some reorganization, but that was not my main point.
I like the idea of tagging or providing more hints about what readers can

[2020-10-20 14:57] markruler opened #24654 "Translate setup/production-environment/tools/kubeadm/self-hosting/ into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate setup/production-environment/tools/kubeadm/self-hosting/ into Korean.

**Why is this needed**

There is no document of setup/production-environment/tools/kubeadm/self-hosting/ which is translated into Korean.

**Comments**

Page to translate:
https://kubernetes.io/docs/setup/production-environment/tools/
https://kubernet

[2020-10-20 14:57] markruler commented on #24654
/language ko
/assign

[2020-10-20 15:37] markruler opened #24656 "Translate setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm/ into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm/ into Korean

**Why is this needed**

There is no document of setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm/ which is translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/setup/production-environm

[2020-10-20 15:38] markruler commented on #24656
/language ko
/assign

[2020-10-20 16:05] savitharaghunathan commented on #22625
/cc

[2020-10-20 20:29] leilajal commented on #24411
Thanks @sftim

[2020-10-20 21:03] dirtyearl opened #24657 "Fine Parallel Processing Using a Work Queue"
Pods do not appear to succeed, or process job, as described in the documentation.

[2020-10-20 21:13] SantosRay opened #24658 "Container runtimes"
I have an small on-premises Kubernetes cluster (master and 3 workers) for development and testing.

I have installed Docker per this document: https://kubernetes.io/docs/setup/production-environment/container-runtimes/.

Everything works fine until I reboot the nodes, if I run 'kubectl get nodes' in the master, I get the error:
The connection to the server x.x.x.x:6443 was refused - did you specif