[2020-02-18 21:48] Arhell opened #19177 "Invalid link in readme section"
**This is a Bug Report**

**Invalid link in readme section:**

**Proposed Solution:**

**Page to Update:**
https://github.com/kubernetes/website/blob/master/README-ru.md

**Now:**
https://github.com/kubernetes/website/blob/master/README-ru.md#running-the-site-locally-using-hugo

**To**
https://github.com/kubernetes/website/blob/master/README-ru.md#%D0%B7%D0%B0%D0%BF%D1%83%D1%81%D0%BA-%D1%81%D0%B0%

[2020-02-18 22:50] sftim commented on #19175
I'm going to mark this one as:
/sig contribex

[2020-02-18 22:51] sftim commented on #19175
/sig contributor-experience
?

[2020-02-18 23:17] sftim commented on #17698
/remove-lifecycle stale

[2020-02-19 00:01] sftim opened #19179 "“Managing Service Account” uses Latin abbreviation in heading"
_This is a_ good first issue. _If you have already contributed a pull request to Kubernetes documentation, please consider leaving this fix for someone who is getting started._

**Problem:**
https://kubernetes.io/docs/reference/access-authn-authz/service-accounts-admin/#user-accounts-vs-service-accounts uses Latin text in a heading.
In the documentation style guide, SIG Docs recommends [avoiding L

[2020-02-19 00:02] sftim commented on #19179
Typically, if someone changes a heading in a page, we consider the impact on links to that heading's fragment identifier. In this case it's a change to the first heading of the main content, so the user experience isn't much affected even if inbound links become broken.

[2020-02-19 00:03] sftim commented on #19175
/priority important-longterm

[2020-02-19 00:04] sftim commented on #19165
Is this also /sig cluster-lifecycle?

[2020-02-19 00:06] sftim commented on #15444
@abhiTamrakar would you be interested in working on this documentation? You mentioned in #19165 that you have already done the rotation manually.

[2020-02-19 00:07] aallbrig commented on #19179
@sftim I can pick this up :)

[2020-02-19 00:08] sftim commented on #15444
If anyone would like help drafting page text, checking its technical accuracy, or understanding how to contribute, please reply here. I'm watching this issue and can try to make time available to help other contributors.

[2020-02-19 00:42] #19179 closed

[2020-02-19 00:47] neolit123 commented on #19165
ideally the documentation for CA rotation should be deployer agnostic (e.g. not being a guide for kubeadm).

[2020-02-19 00:57] sftim commented on #19163
That link is to a picture:
![kubernetes-katacoda-google-form-feedback-2](https://user-images.githubusercontent.com/22591623/74791609-d6d28a80-52b2-11ea-9b9c-8cecd6f11a96.jpeg)

[2020-02-19 00:59] sftim commented on #19163
/retitle Tutorials feedback form does not use available space
/priority important-longterm
/cc @BenHall

[2020-02-19 00:59] sftim commented on #19163
/sig docs

[2020-02-19 03:26] pbnj commented on #19064
@jimangel - I love the idea of tracking alias in the respective pages' front-matter. I recall trying to visit something similar (`k8s.io/psp` IIRC) previously. Should I go ahead an send in a patch for that?

Thanks for the heads up. I have added it to the agenda for our upcoming sig-docs-security this Thursday, 02/20/2020

[2020-02-19 08:08] sftim commented on #19165
I was thinking about cluster lifecycle in general per https://github.com/kubernetes/community/blob/master/sig-cluster-lifecycle/charter.md#sig-cluster-lifecycle-charter rather than specifically about `kubeadm`.

[2020-02-19 08:40] remyleone opened #19188 "{{ .Summary }} is empty -> Description tag is empty -> SEO going down"
**This is a Bug Report**

**Problem:**

If you take a page that does not have a `summary` hugo parameter the HTML meta tag for description is empty. If this tag is empty SEO is suboptimal. :chart_with_downwards_trend:

https://github.com/kubernetes/website/blob/470f932dd8649592152b0388c653d114e81ee74d/layouts/partials/head.html#L20-L25

**Proposed Solution:**

Either we make the `{{ .Summary }}` w

[2020-02-19 08:48] abhiTamrakar commented on #15444
@sftim I can do that, any pointers where to put the draft or I have to traverse through the docs to find a place.

[2020-02-19 08:49] abhiTamrakar commented on #19165
@sftim It should be a part of cluster lifecycle as certificates would anyways be a part of it, irrespective of the individual segregation of entities.

[2020-02-19 10:31] BenHall commented on #19163
Thanks, a fix for this will be live later today.

[2020-02-19 11:14] McLP2 commented on #19169
it was just where the website pointed me for feedback. But now it works and I didn't change anything.

[2020-02-19 11:14] #19169 closed

[2020-02-19 11:32] neolit123 commented on #19165
it's certainly not in the SIG Cluster Lifecycle charter to own this space or to document it.
so it's up to SIG Auth to drive this and CL can give feedback.

/sig cluster-lifecycle

[2020-02-19 12:03] remyleone commented on #19188
https://discourse.gohugo.io/t/summary-empty/23528/2

[2020-02-19 12:04] cawamata opened #19195 "Issue with k8s.io/ja/docs/concepts/workloads/controllers/deployment/"
**This is a Bug Report**

**Problem:**
same as #11982

nginx-deployment.yaml on Japanese and Chinese is differed on others.
- [English](https://github.com/kubernetes/website/blob/master/content/en/examples/controllers/nginx-deployment.yaml#L19)
- [Japanese](https://github.com/kubernetes/website/blob/master/content/ja/examples/controllers/nginx-deployment.yaml#L19)
- [Chinese ](https://github.com/k

[2020-02-19 13:52] mig4 opened #19199 "Issue with k8s.io/docs/concepts/overview/working-with-objects/common-labels/"
**This is a Bug Report**

**Problem:**

Is it me or is the wordpress example not quite right? Specifically it seems it's not easy to tell which wordpress instance are the mysql objects are part of. I'd have expected either `app.kubernetes.io/part-of` to include instance suffix or `app.kubernetes.io/instance` to be `wordpress-abcxzy`?

**Proposed Solution:**

As above, probably `app.kubernetes.io/p

[2020-02-19 16:07] jimangel commented on #19064
Yes! Go ahead and open up the PR, ping me if you need an extra set of eyes for review.

[2020-02-19 17:05] php-coder commented on #19177
It has been fixed by #19178

/close

[2020-02-19 17:05] #19177 closed

[2020-02-19 17:05] php-coder commented on #19177
/language ru

[2020-02-19 19:40] celestehorgan commented on #19112
/assign @celestehorgan

[2020-02-19 20:13] #19160 closed

[2020-02-19 21:33] ch-yogya commented on #19165
I'd like make a PR documenting how to do this.

[2020-02-20 00:18] cawamata commented on #19195
/assign @inductor

[2020-02-20 00:21] sftim commented on #19188
I think I'm -0 (soft negative) to adding a default description - the tools that crawl websites have enough machine learning chops to spot this technique and not to fall for it.

On the other hand, I am a :+1: to making sure that at least the N most popular pages have a description set in their metadata.

[2020-02-20 00:22] sftim commented on #19176
Thanks for the suggestion; it's a good one.

/priority backlog
/sig network

[2020-02-20 00:22] cawamata commented on #19195
@inductor Thank you for your support to update nginx image to modern.
After updating English document, please update not only Japanese, Chinese but also other language or create new issue by each language to get member supports

[2020-02-20 00:23] sftim commented on #14770
Also see #19176

[2020-02-20 02:03] Colstuwjx opened #19206 "Need to clear federation v1 content"
**This is a Bug Report**

**Problem:**

We've been killed all tasks federation related content in PR #17949 , but there are still many contents write with federation, see the list below:

- [ ] [/content/en/docs/concepts/cluster-administration/federation.md](https://github.com/kubernetes/website/tree/master/content/en/docs/concepts/cluster-administration/federation.md) , reason: referenced some ta

[2020-02-20 02:05] Colstuwjx commented on #19206
/cc @sftim @zacharysarah @kbhawkey .

[2020-02-20 02:13] Colstuwjx opened #19207 "Need enhancement above large cluster best practise"
**This is a Feature Request**
We have a suggested cluster scale inside this page: https://kubernetes.io/docs/setup/best-practices/cluster-large/ , but we didn't talk the details about tuning configuration for achieving this goal, for example, how to configure etcd for tuning performance.

**What would you like to be added**
Talk the details about tuning etcd, rather than some plain texts.

**Why i

[2020-02-20 05:18] #19104 closed

[2020-02-20 06:08] rajeshdeshpande02 commented on #19164
Hi @hyeagle ,

Thanks for raising the issue. This example is working perfectly fine. Before running MySQL client, you need to deploy MySQL server using steps given on the same page.

Also, in '-h mysql ', mysql is a name of service(type ClusterIP) which exposes MySQL server.

[2020-02-20 08:27] gitsilos opened #19210 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-pod-initialization/"
K run <podName> --image=nginx --generator=run-pod/v1 should be deprecated.

k create pod <PodName> --image=nginx                      should be next wave

High end of confusion that deployment is created if we generator. Very easy to deprecate and create new methods.

[2020-02-20 09:37] jaruizes commented on #19048
Thank you!

[2020-02-20 09:37] #19048 closed

[2020-02-20 09:57] celestehorgan commented on #19108
https://github.com/kubernetes/website/pull/19109 this is ready for review.

[2020-02-20 10:16] venkateswarlu009 opened #19211 "Issue with k8s.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/"
kubectl run --generator=run-pod/v1 -it --rm load-generator --image=busybox /bin/sh

Hit enter for command prompt

while true; do wget -q -O- http://php-apache.default.svc.cluster.local; done

not executing properly so i refered this website
https://hub.packtpub.com/implementing-horizontal-pod-autoscaling-in-kubernetes-tutorial/

above link was very good for understanding about HPA

[2020-02-20 10:24] remyleone commented on #19188
I want to add a default because it not a good idea to have an empty description that is frown upon by all tools that perform SEO audits that I know. In parallel, we can add better-written descriptions for the most popular pages. We can have both. But this is not related to this issue of `{{ .Summary }}` hugo tag not working.

[2020-02-20 10:57] #16505 closed

[2020-02-20 10:57] #16507 closed

[2020-02-20 13:51] #19158 closed

[2020-02-20 15:35] alexkayzer opened #19212 "Issue with k8s.io/ru/docs/home/"
**This is a Bug Report**

**Problem:**
I have problem with k8s DNS.

I am seeing a problem in the unavailability of services. I can't reach any services from either the pod or the local node. Iptables did not change

google.com lookup
[code]
Local lookup
[code]
Configs
[code]
[code]
[code]
The all pods have pinging to 8.8.8.8 is right!

**Proposed Solution:**

**Page to Update:**
https://kubernete

[2020-02-20 18:06] zacharysarah commented on #19112
@celestehorgan Sounds good! ➕

[2020-02-20 20:13] sftim opened #19218 "Document minikube Podman support"
**This is a Feature Request**

**What would you like to be added**
Update the page at https://kubernetes.io/docs/tasks/tools/install-minikube/ to mention that there is a `podman` driver, similar to the Docker driver.

I recommend that _for now_ the Kubernetes website recommends to readers that they avoid using the `podman` driver; it's an initial implementation that requires running the containers

[2020-02-20 20:21] sftim commented on #18617
Hmm. I think this might be specific to your system @siicosmos. This might be something you could ask about in Kubernetes forums etc (StackOverflow, Discourse, https://slack.k8s.io/, etc)

Here's an example I tried in Minikube:

<details>
 <summary><tt>kubectl get node minikube -o json</tt></summary>

[code]

</details>

[2020-02-20 21:10] sftim commented on #19212
@alexkayzer, GitHub is not the right place for support requests.
For help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes)

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

/triage support

[2020-02-20 21:12] sftim commented on #4493
Also see #19207

[2020-02-20 21:12] sftim commented on #16583
Somewhat related: #19207

[2020-02-20 21:13] sftim commented on #16583
/sig autoscaling

[2020-02-20 21:13] sftim commented on #4493
/sig autoscaling

[2020-02-20 21:32] kbhawkey commented on #19188
I am guessing that the .Summary page variable is just not accessible based upon the way the pages are constructed. When the docs acquire a new theme, I would expect that this variable would be accessible.

[2020-02-20 23:04] 2rs2ts commented on #14215
/remove-lifecycle stale

[2020-02-20 23:05] 2rs2ts commented on #14215
/remove-lifecycle rotten

[2020-02-21 03:50] #19033 closed

[2020-02-21 05:03] neolit123 opened #19222 "improvements to the br_netfilter documentation for kubeadm"
originally reported in k/k by @skycastlelily2
https://github.com/kubernetes/kubernetes/issues/88322#issuecomment-589499067

proposing improvements to the br_netfilter documentation for kubeadm.

/help
/kind documentation
/sig cluster-lifecycle
/priority backlog

[2020-02-21 13:36] engrjislam opened #19225 "error: the path "dashboard.yaml" does not exist"
**Problem:**
It seems there is no **dashboard.yaml** file exists in [Getting Started With CRI-O and Kubeadm](https://www.katacoda.com/courses/kubernetes/getting-started-with-kubeadm-crio) tutorial environment (at _**Step 6 fo 6**_). For sure

    ls -al

command executed to get all files into the tutorial environment. Unfortunately the file also neither exists at the [link](https://raw.githubuserc

[2020-02-21 14:28] neolit123 commented on #19225
Hi, this is not a k/website issue thought? Please try reporting it to
Katacoda.

/close

[2020-02-21 14:28] #19225 closed

[2020-02-21 15:10] hyeagle commented on #19164
raising the issue. This example is working perfectly fine. Before running MySQL client, you need to deploy MySQL server using steps given on the same page.

[2020-02-21 15:32] hyeagle commented on #19164
Hi @rajeshdeshpande02 ,

Thank you for your kind response.

I run these following command:
`kubectl apply -f https://k8s.io/examples/application/mysql/mysql-pv.yaml`,
`kubectl apply -f https://k8s.io/examples/application/mysql/mysql-deployment.yaml`.

So, I think that I have deployed MySQL server. But after I run this command:
`kubectl run -it --rm --image=mysql:5.6 --restart=Never mysql-client --

[2020-02-21 18:10] liuyl2022 opened #19229 "Issue with k8s.io/docs/tutorials/online-training/overview/"
**This is a Bug Report**

**Problem:**
The [IBM Cloud: Deploying Microservices with Kubernetes](https://www.coursera.org/learn/deploy-micro-kube-ibm-cloud) on Coursera is gone.
**Proposed Solution:**
Replace it with the correct link or delete it.
**Page to Update:**
https://kubernetes.io/...

[2020-02-21 18:27] #16288 closed

[2020-02-21 21:23] soltysh commented on #18579
The change is wrong, the time IS taken from the master node the controller is running on, or from within the container controller-manager is running. It's not hardcoded to be UTC. Why are you claiming otherwise, have you checked?

[2020-02-22 00:45] zacharysarah opened #19238 "Post 1.18 follow-up: netlify configuration for kubernetes-io-vnext-staging"
In working with netlify previews in the 1.18 release, @jimangel and I noticed that PRs on the netlify staging branch (`kubernetes-io-vnext-staging`) do not invoke the same CI checks as PRs on `master`.

This is probably due entirely to a difference in netlify configuration. It's worth investigating after 1.18 releases and making sure that the dev branch invokes all CI checks.

/milestone 1.18

[2020-02-22 02:39] af12066 opened #19239 "Translate tasks/configure-pod-container/configure-projected-volume-storage.md into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate "Configure a Pod to Use a Projected Volume for Storage" into Japanese.

**Why is this needed**

This page has not been translated to Japanese.

**Comments**

/language ja
/assign

[2020-02-22 06:45] af12066 opened #19241 "Translate tasks/configure-pod-container/security-context.md into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate "Configure a Security Context for a Pod or Container" into Japanese

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-02-22 09:21] af12066 commented on #17784
たしかに分量が多いですね。。レビューも大変になりそうな予感がします
部分的に（ある程度分割して個別にtranslateしていく感じ）でよければやってみようと思いますがいかがでしょうか？

[2020-02-22 09:31] oke-py commented on #17784
@af12066 ありがとうございます！よろしくお願いいたします。

[2020-02-22 09:44] af12066 commented on #17784
いま着手中のが完了次第、こちらを着手してcopyして区切りの良いところまでtranslateしようと思います。

[2020-02-22 10:34] lvishank opened #19242 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
The Interactive terminal is unresponsive.
++++++++++++++++++++++++++++++++++++++++++++
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-02-22 11:14] oke-py opened #19244 "Translate setup/production-environment/tools/kubeadm/create-cluster-kubeadm/ into Japanese"
**This is a Feature Request**

**What would you like to be added**
Translate setup/production-environment/tools/kubeadm/create-cluster-kubeadm/ into Japanese.

**Why is this needed**
This page has not been translated.

**Comments**
/language ja

[2020-02-22 11:15] oke-py opened #19245 "Translate tasks/access-application-cluster/web-ui-dashboard/ into Japanese"
**This is a Feature Request**

**What would you like to be added**
Translate tasks/access-application-cluster/web-ui-dashboard/ into Japanese.

**Why is this needed**
This page has not been translated.

**Comments**
/language ja

[2020-02-22 11:16] oke-py opened #19246 "Translate tasks/configure-pod-container/configure-pod-configmap/ into Japanese"
**This is a Feature Request**

**What would you like to be added**
Translate tasks/configure-pod-container/configure-pod-configmap/ into Japanese.

**Why is this needed**
This page has not been translated.

**Comments**
/language ja

[2020-02-22 11:18] oke-py opened #19247 "Translate reference/access-authn-authz/rbac/ into Japanese"
**This is a Feature Request**

**What would you like to be added**
Translate reference/access-authn-authz/rbac/ into Japanese.

**Why is this needed**
This page has not been translated.

**Comments**
/language ja

[2020-02-22 11:21] oke-py opened #19248 "Translate tasks/access-application-cluster/configure-access-multiple-clusters/ into Japanese"
**This is a Feature Request**

**What would you like to be added**
Translate tasks/access-application-cluster/configure-access-multiple-clusters/ into Japanese.

**Why is this needed**
This page has not been translated.

**Comments**
/language ja

[2020-02-22 13:43] gavinfish commented on #19229
This will be fixed by #18836.

[2020-02-22 14:46] #16541 closed

[2020-02-22 19:12] sftim commented on #18579
Ah, so this issue is invalid and #18715 needs reverting?

[2020-02-22 19:13] sftim commented on #18579
(alternative fix: revert, then revise `cronjob_controller.go` so that all times _are_ in UTC)

[2020-02-22 21:57] af12066 commented on #17784
/assign

[2020-02-23 00:56] #16555 closed

[2020-02-23 07:01] blueelvis opened #19264 "The labels should be changed in the `Expose Your App Publicly` section"
**This is a Bug Report**

**Problem:** The labels in the following commands are wrong -
[code]

**Proposed Solution:**
The labels should be changed and the commands on the page should be -
[code]

Similarly, on the Step 3 of the tutorial, the command should change to the following -
[code]

**Page to Update:**
https://kubernetes.io/docs/tutorials/kubernetes-basics/expose/expose-interactive/

I am

[2020-02-23 10:05] #13534 closed

[2020-02-23 10:05] #16546 closed

[2020-02-23 10:50] sftim opened #19267 "Clean up “Non-preempting PriorityClasses” page section"
**This is a cleanup issue**

This issue is about clean-up work for https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/#non-preempting-priority-class

1. The [table of contents](https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/#markdown-toc) does not list “Non-preempting PriorityClasses”.
2. The section for [Non-preempting PriorityClasses (alpha)](htt

[2020-02-23 10:51] sftim commented on #19267
If you are new to contributing to the website, want to help with this issue and have questions, reply here and someone from SIG Docs will offer you advice.

(It's also OK to ask questions if you're already participating; it'd be great to leave this issue for a new contributor though).

[2020-02-23 10:52] sftim commented on #19264
Possibly also relevant: https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/

[2020-02-23 11:01] sftim commented on #18579
I looked at the code:
- https://github.com/robfig/cron/blob/v1/doc.go
- https://github.com/kubernetes/kubernetes/blob/27e5971c11cfcda703a39ed670a565f0f3564713/pkg/controller/cronjob/utils.go#L124

and it looks to me that this issue is invalid. I propose to close it if there's no update in the next fortnight.
/remove-good-first-issue
/remove-help
/remove-kind bug
/remove-priority important-longterm

[2020-02-23 11:02] sftim commented on #18655
Relevant to #4500

[2020-02-23 11:02] sftim commented on #18967
/close
Fixed in #19043

[2020-02-23 11:02] #18967 closed

[2020-02-23 11:17] sftim opened #19268 "Incorrect timezone advice about CronJob"
**This is a Bug Report**

**Problem:**
The page about [CronJob](https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/) says:

from commit bad124b857a2927b75be739646244aacc5190580.
However, that's wrong. The cronjob controller (part of the kube-controller-manager) interprets `schedule:` times relative to the local timezone on the control plane host / container where the controller is

[2020-02-23 12:40] sftim opened #19272 "Localize “email address” placeholder on home page"
**This is a Feature Request**

**What would you like to be added**
On the page https://k8s.io/ there is a [form](https://kubernetes.io/#mc_embed_signup) that lets you sign up to receive KubeWeekly. That form has placeholder text “email address”, that is currently always English.

**Why is this needed**
The website should be localized, including placeholder text.

**Comments**
Here's how to make th

[2020-02-23 12:43] sftim commented on #19272
I haven't labelled this as a “good first issue” but if you'd like to tackle this as your first issue, feel free.

For help, you can the [Kubernetes Slack](http://slack.k8s.io/) and ask questions in the [#sig-docs](https://kubernetes.slack.com/messages/C1J0BPD2M/) channel. It's also fine to reply here.

[2020-02-23 12:45] panditb commented on #18579
Is this issue  not valid ? , In our instance , we have 2 master node and it configured as EST timezone and 4 worker node and configured as EST timezone , but still cron job runs on the UTC Timezone

[2020-02-23 12:49] sftim commented on #18579
Is the advice at https://deploy-preview-19269--kubernetes-io-master-staging.netlify.com/docs/concepts/workloads/controllers/cron-jobs/ accurate?

[2020-02-23 12:56] panditb commented on #18579
Okay thanks!! Now document looks aligned thanks we can close!!

[2020-02-23 14:34] oke-py commented on #18140
#18873 resolved this issue.
/close

[2020-02-23 14:35] #18140 closed

[2020-02-23 18:13] #15138 closed

[2020-02-24 01:17] dethi commented on #19267
/assign

[2020-02-24 01:20] sftim commented on #19267
PS. It's important that readers get to learn about the feature gates named `PreemptionPolicy` and `NonPreemptingPriority`.

[2020-02-24 05:57] shu8hamrajput opened #19274 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
interactive console is not working.
How do i make it to work?
![Screenshot from 2020-02-24 11-26-10](https://user-images.githubusercontent.com/42935066/75131341-a64a8080-56f8-11ea-92a0-a006cbbf27eb.png)

[2020-02-24 06:29] rexagod opened #19275 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
Terminal fails to start with the message, `Error Details: Environment not starting correctly. Please contact Support@Katacoda.com`.

I've also reported this to Katacoda.

[2020-02-24 08:32] BenHall commented on #19275
Thanks for reporting. We had an issue with some of the servers. This has been fixed.

[2020-02-24 08:32] BenHall commented on #19274
Thanks for reporting. We had an issue with some of the servers. This has been fixed.

[2020-02-24 09:47] abhiTamrakar commented on #15444
@sftim please assign to me, I am trying it E2E manually, once tested properly, will create the doc and update with PR link.

[2020-02-24 10:18] rexagod commented on #19275
No problem, and thank you for the quick response!

[2020-02-24 10:18] #19275 closed

[2020-02-24 13:28] kakts opened #19280 "Translate concepts/cluster-administration/manage-deployment.md into Japanese"
**This is a Feature Request**

**What would you like to be added**

**Why is this needed**
This document is not translated in Japanese.
**Comments**

Copy a file from en contents to content/ja/docs/concepts/cluster-administration/manage-deployment.md and translate it into Japanese.

[2020-02-24 13:28] kakts commented on #19280
/assign
/language-ja

[2020-02-24 13:32] kakts opened #19281 "Translate concepts/cluster-administration/proxies.md into Japanese"
**This is a Feature Request**

**What would you like to be added**

**Why is this needed**
This document is not translated in Japanese.
**Comments**

Copy a file from en contents to content/ja/docs/concepts/cluster-administration/proxies.md  and translate it into Japanese.

[2020-02-24 13:32] kakts commented on #19281
/assign
/language-ja

[2020-02-24 13:38] kakts opened #19282 "Translate concepts/policy/resource-quotas.md into Japanese"
**This is a Feature Request**

**What would you like to be added**

**Why is this needed**
This document is not translated in Japanese.
**Comments**

Copy a file from en contents to concepts/policy/resource-quotas.md and translate it into Japanese.

[2020-02-24 13:39] kakts commented on #19282
/assign
/language-ja

[2020-02-24 13:41] oke-py commented on #19280
/language ja

[2020-02-24 13:41] oke-py commented on #19281
/language ja

[2020-02-24 13:42] oke-py commented on #19282
/language ja

[2020-02-24 16:01] sftim commented on #15444
Please feel free to open a draft (work-in-progress) PR, or even one that is ready for review.

[2020-02-24 17:09] sftim commented on #15560
/remove-lifecycle stale

[2020-02-24 19:06] abid-mumtaz opened #19288 "Issue with k8s.io/docs/tutorials/hello-minikube/"
**This is a Bug Report**

**Problem:**

At the start of this tutorial in section "Create a Minikube cluster" after step 1 clicking the "Launch Terminal" button the following steps 2, 3 and 4 don't seem to work: -

Actual Result: - "
[code]
**Problem:** The command prompt never returns to allow the user to type in anymore commands and continue with the tutorial.

Step 3 works but step 4 does not: -

[2020-02-24 19:55] #16817 closed

[2020-02-24 21:52] savitharaghunathan commented on #19229
/lifecycle active
/kind bug

[2020-02-25 00:18] artisticcheese commented on #19154
Was anything done to fix the issue. Every single page I load takes 6 seconds to fully load as result. I understand people don't feel 6s delay in webpage is not considered loss of functionality but going quickly through documentation with tons of links between page becomes a real problem

[2020-02-25 00:52] zacharysarah commented on #19154
@artisticcheese Please be patient. We have limited resources and are working as quickly as we can.

[2020-02-25 09:40] sftim commented on #19268
Closed in #19269

[2020-02-25 09:40] #19268 closed

[2020-02-25 12:02] joekamibeppu commented on #19248
/assign

[2020-02-25 14:13] rajendraprasad9 opened #19304 "Issue with installation of kubernetes in centos"
**This is a Bug Report**

**Problem:** Issue with  installation of kubernetes in centos

**Proposed Solution:** kubernetes installation

**Page to Update:**
https://kubernetes.io/...

 1.17.3

[2020-02-25 14:14] rajendraprasad9 commented on #19304
yum install docker-ce
Last metadata expiration check: 0:01:41 ago on Tue 25 Feb 2020 02:11:51 PM UTC.
Error:
 Problem: package docker-ce-3:19.03.6-3.el7.x86_64 requires containerd.io >= 1.2.2-3, but none of the providers can be installed
  - cannot install the best candidate for the job
  - package containerd.io-1.2.10-3.2.el7.x86_64 is excluded
  - package containerd.io-1.2.2-3.3.el7.x86_64 is ex

[2020-02-25 14:43] rajendraprasad9 commented on #19304
***********************************************************************************************************************************
Installation issue got fixed
***********************************************************************************************************************************
 cat <<EOF > /etc/yum.repos.d/kubernetes.repo
[kubernetes]
name=Kubernetes
baseurl=https://packages.cloud.g

[2020-02-25 14:48] rajendraprasad9 commented on #19304
kubectl get nodes
NAME STATUS ROLES AGE VERSION
ip-10-164-20-104.ec2.internal NotReady master 35s v1.17.3

Node is not getting ready

[2020-02-25 14:50] neolit123 commented on #19304
it might take longer for the node to get ready.

[2020-02-25 16:15] rajeshdeshpande02 opened #19305 "Inconsitent k8s version in interactive tutorial modules"
**Problem:**
Interactive tutorials available on k8s site have an inconsistent version of Kubernetes. Module 1- 'Create a Kubernetes cluster' uses 1.17 version but Module 2- 'Deploy an app' uses 1.15 version.

**Proposed Solution:**
The interactive tutorial should have a consistent Kubernetes version for all modules and that should be aligned with the documentation version.

**Page to Update:**
htt

[2020-02-25 16:52] kfox1111 commented on #17842
error: error validating "test.yaml": error validating data: ValidationError(StatefulSet.spec): missing required field "serviceName" in io.k8s.api.apps.v1.StatefulSetSpec; if you choose to ignore these errors, turn validation off with --validate=false

Looks like StatefulSet without a service is no longer valid. :(

[2020-02-25 18:46] sftim opened #19307 "Docsy template: poor appearance with narrow viewports"
**This is a Bug Report** against the draft Docsy style

**Problem:**
With the draft Docsy template and a narrow-enough viewport, `/docs/home/` looks wrong:

The appearance is as if the main page header has too little margin-bottom or padding-bottom.

**Proposed Solution:**
Revise Docsy template styling.

For a narrow viewport, and specifically **if the page heading is the same text as the section

[2020-02-25 18:50] sftim opened #19308 "Docsy template: no placeholder text for search if viewport narrow"
**This is a Bug Report**

**Problem:**
With a wide viewport, the search input has placeholder text “Search this site&hellip;”. However, with a narrow viewport no placeholder text appears.

**Proposed Solution:**
Revise the (draft) Docsy template.

**Page to Update:**
https://kubernetes-hugo-staging.netlify.com/docs/home/ _(draft)_

**Browser:**
Firefox 73.0.1

[2020-02-25 18:56] sftim opened #19309 "Docsy template: not-yet-localized pages missing"
**This is a Bug Report**

**Problem:**
~With the (draft) Docsy version of the Kubernetes website,~ pages and sections that are only partially localized have fallback hyperlinks to the English localization originals, but only in

Compare the main section of https://kubernetes.io/it/docs/concepts/architecture/ to the left navigation on the same page - there are more links in the left nav than in the

[2020-02-25 19:03] sftim opened #19310 "Docsy template: feature-state shortcode broken"
**This is a Bug Report**

**Problem:**
With the draft Docsy version of the Kubernetes website, documentation that uses a feature-state shortcode doesn't have the right user interface.

For example, visit https://kubernetes-hugo-staging.netlify.com/docs/concepts/policy/pod-security-policy/ and click on _beta_.
Here's what I see:
![Docsy messed up feature state shortcode](https://user-images.githubu

[2020-02-25 19:07] sftim commented on #18197
Also see issue #19305

[2020-02-25 19:08] sftim commented on #19274
/close

[2020-02-25 19:08] #19274 closed

[2020-02-25 19:09] sftim commented on #19242
This was due to a (fixed) server-side fault.
/close

[2020-02-25 19:09] #19242 closed

[2020-02-25 19:09] sftim commented on #18943
/close

[2020-02-25 19:09] #18943 closed

[2020-02-25 19:11] sftim commented on #18710
If anyone would like to work on this, please feel free to open a pull request.

[2020-02-25 19:12] sftim commented on #18894
I agree
/help
/priority important-longterm

[2020-02-25 19:12] sftim commented on #18891
/close

[2020-02-25 19:12] #18891 closed

[2020-02-25 19:12] sftim commented on #18835
@junjo255 you're still seeing the issue? It might be due to network-level filtering.

[2020-02-25 19:13] sftim commented on #18819
/triage needs-information

[2020-02-25 19:13] sftim commented on #18766
Fixed - thanks @mykevinjung, @BenHall & @gsoria
/close

[2020-02-25 19:13] #18766 closed

[2020-02-25 19:14] sftim commented on #19015
/priority backlog
?

[2020-02-25 19:15] sftim commented on #19305
@rajeshdeshpande02 this looks similar to #18197; do you think it's a duplicate?

[2020-02-25 19:16] sftim commented on #19304
@rajendraprasad9 it looks like you wanted help with Kubernetes. Have I got that right?

If you're looking for Kubernetes help, you can ask using websites such as [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

[2020-02-25 19:18] sftim commented on #19288
@abid-mumtaz can you clarify whether you were trying this on your own PC or inside the Katacoda learning environment? That information will help people understand the issue you're reporting.

[2020-02-25 19:30] BenHall commented on #19305
Thanks for the feedback. We are testing 1.17. It should be cluster wide shortly.

[2020-02-25 19:35] sftim commented on #19264
@blueelvis, can you explain why you'd like that change to happen? I think I can guess, but it'd be good to be sure.

[2020-02-25 19:39] abid-mumtaz commented on #19288
Apologies.....yes inside Katacoda

On Tue, 25 Feb 2020, 19:18 Tim Bannister, <notifications@github.com> wrote:

[2020-02-25 19:50] naseemkullah commented on #12765
Thank you @Skull0ne and @reshadde ...

As per @reshadde's comment, AverageValue does not seem to work correctly. on k8s 1.14 fwiw

[2020-02-25 20:27] brentcklein opened #19312 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro/"
**This is a Bug Report**

**Problem:**
There's either a typo in the [first paragraph in this section](https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro/#kubernetes-deployments) of Module 2 of the tutorial, or the sentence is very awkwardly worded. The sentence:

doesn't appear to make any sense. Is the Kubernetes master scheduling the "mentioned application instances"?

[2020-02-25 20:27] blueelvis commented on #19264
@sftim - Sorry for not being clear in my original post. With the labels which are mentioned in the tutorial, the command to get the pods with label filtering doesn't work. I tried with the latest image. Instead, they are set as below -

![image](https://user-images.githubusercontent.com/6985763/75284698-4c9e9f00-583b-11ea-9a2f-2f5db9b6568d.png)

The label which is set is not `run` but instead `app

[2020-02-25 22:17] jimangel commented on #19154
Partially related, I noticed that the `kub_video_banner_homepage.jpg` is HUGE (at `1.8MB`) and takes ~2-3 seconds to load for me. Optimizing that to hundreds of KB or less would help (not fix) the load time.

![image](https://user-images.githubusercontent.com/4601051/75292227-6a431880-57e9-11ea-9113-b79f3306613f.png)

[2020-02-26 01:11] #18283 closed

[2020-02-26 13:04] kvp-cs opened #19325 "Improvement for k8s.io/docs/tasks/administer-cluster/cpu-management-policies/"
How can a process running inside the container come to know its "allocated CPU list"? This information is not available in env variable, "describe pod -o wide".

[2020-02-26 16:33] sftim opened #19327 "Typo in https://kubernetes.io/docs/contribute/start/"
**This is a Bug Report**

**Problem:**
There's a typographical or spelling error in https://kubernetes.io/docs/contribute/start/#choose-which-git-branch-to-use

“vrelease-1.17” isn't right; I think that should be “v1.17” (actually I think this was my mistake as I last updated those lines of the file).

**Proposed Solution:**
Either:
Update https://github.com/kubernetes/website/blame/88de2a0586d411

[2020-02-26 16:48] sujaypillai commented on #19327
/assign

[2020-02-26 17:03] Dean-Coakley commented on #19229
This can be closed then?
Resolved by: https://github.com/kubernetes/website/pull/18836

[2020-02-26 17:13] Dean-Coakley commented on #18894
I'm happy to pick this up.

What should be required?

I'm thinking a link to https://kubernetes.io/docs/tutorials/kubernetes-basics/explore/explore-intro/#kubernetes-pods on https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/ uhhh just **before** the interactive content?

[2020-02-26 17:14] sftim commented on #18894
Possibly, borrow the text from https://kubernetes.io/docs/concepts/workloads/pods/pod-overview/#understanding-pods
Maybe also provide a link to that page, worded to make it clear that this is for readers who are particularly keen on background reading before they move on.

What do you think @Dean-Coakley ?

[2020-02-26 17:20] Dean-Coakley commented on #18894
Yeah, that sounds good.

Maybe something like:

This should be placed above the interactive content?

[2020-02-26 18:38] sftim commented on #18894
Sounds good to me - go for it!

[2020-02-26 19:13] sftim commented on #19325
I understand this question a: inside a Pod, how can processes discover their CPU affinity?

I _think_ the answer is the same as you would check it if you were not inside a Pod.
For example, search the web for “linux show cpu affinity” and pick one of those approaches.

@kvp-cs, is that what you wanted to ask?

[2020-02-26 19:18] sftim commented on #19312
I think the sentence is **true**. It looks like there is room to clarify and improve the wording.
https://kubernetes.io/docs/concepts/scheduling/kube-scheduler/ explains _scheduling_ in a Kubernetes context.

<hr />

Does this wording work better @brentcklein:

?

[2020-02-26 21:39] kbhawkey commented on #19310
Thanks for the link to the draft docsy version. I had no idea!

[2020-02-26 21:41] brentcklein commented on #19312
I think that's an improvement @sftim, and I believe I understand the sentence as intended now. I think my confusion largely stemmed from the word "mentioned." My understanding now is that "mentioned application instances" in this context means "the application instances mentioned in the Deployment you've created," right?  So maybe:

I think "scheduling" might be another point of confusion, just be

[2020-02-27 01:30] #15197 closed

[2020-02-27 01:57] #19229 closed

[2020-02-27 08:51] sftim commented on #19312
@brentcklein - would you also be interesting in proposing that fix as a pull request?

[2020-02-27 09:56] npu21 commented on #19272
/assign

[2020-02-27 12:41] clumsy456 opened #19337 "indentation error in k8s.io/docs/tasks/administer-cluster/kms-provider/"
**This is a Bug Report**

**Problem:**
There are indentation errors in the yaml files of EncryptionConfiguration. For example in the following yaml, lines after "- secrets" should indent two to the right.
![pic](https://user-images.githubusercontent.com/19684295/75445835-301c7700-59a1-11ea-958b-bb68ab4738e8.PNG)

**Proposed Solution:**
Correct the indentation errors.

**Page to Update:**
https://k

[2020-02-27 12:54] LSmyrnaios opened #19340 "Cannot switch between some versions in documentation."
**This is a Bug Report**

**Problem:**
Cannot switch between some versions in documentation.
Currently, when opening a documentation page, like this the most recent version appears and there's an option in the menu-bar to switch between Kubernetes versions.
So, If I click on "v1.16", in this page it seems to work, but then (while being on the v1.16 page) if I click on the "v.1.15" it doesn't work

[2020-02-27 12:58] sftim commented on #19340
Seems like a valid report and worth fixing at some point
/priority backlog

[2020-02-27 13:00] sftim commented on #19337
Is it right to have
[code]
in the fixed page?

[2020-02-27 13:14] LSmyrnaios commented on #19340
Thank you

/kind bug

[2020-02-27 15:34] gaurav-mittal-helm opened #19345 "Issue with k8s.io/docs/concepts/services-networking/dns-pod-service/"
**This is a Bug Report**

**Problem:**
We should also capture a section which talks about how to set up the additional DNS Server along with the default one that is managed by k8s cluster.

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

1.14

[2020-02-27 16:13] remyleone commented on #17649
Here are some pages with broken links (saved as a CSV format)
[kubernetes.io_internal_broken_links_20200227.txt](https://github.com/kubernetes/website/files/4262612/kubernetes.io_internal_broken_links_20200227.txt)

[2020-02-27 17:23] Luciowl commented on #17258
I'm working on this now

[2020-02-27 18:17] PeterQiao opened #19350 "Issue with k8s.io/docs/concepts/services-networking/dual-stack/"
**This is a Bug Report**

**Problem:**
kube-proxy:
--proxy-mode=ipvs
--cluster-cidrs=<IPv4 CIDR>,<IPv6 CIDR>

There is no such parameter "--cluster-cidrs" in kube-proxy, it should be "--cluster-cidr"

**Proposed Solution:**
Fix it.

**Page to Update:**
https://kubernetes.io/...

1.16, 1.17

[2020-02-27 19:16] brentcklein commented on #19312
@sftim Done! https://github.com/kubernetes/website/pull/19352

[2020-02-27 21:41] Arhell opened #19355 "Broken markdown in it readme"
**This is a Bug Report**

**Problem:**
Broken markdown in it readme

**Proposed Solution:**
Fix

**Page to Update:**
https://github.com/kubernetes/website/blob/master/README-it.md

[2020-02-27 21:41] Arhell commented on #19355
/assign @Arhell

[2020-02-27 22:51] #16624 closed

[2020-02-27 22:51] #15786 closed

[2020-02-27 22:51] #16628 closed

[2020-02-27 23:52] ysyukr commented on #19128
/close

[2020-02-27 23:52] #19128 closed

[2020-02-28 00:20] npu21 opened #19357 "Localize “email address” placeholder on home page"
https://github.com/kubernetes/website/issues/19272

/language zh

[2020-02-28 00:23] npu21 commented on #19357
/assign

[2020-02-28 01:03] Colstuwjx commented on #19350
Confirmed, will be fixed soon.
/assign
/language en
/kind documentation

[2020-02-28 01:11] Colstuwjx commented on #19345
Just to eliminate your confusion, the [Pod’s DNS Config](https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pod-s-dns-config) section did talk how to customize pod dns config, just set `dnsPolicy` to `None`, and `nameservers` to your own DNS servers.

/triage support
/language en

[2020-02-28 01:19] clumsy456 commented on #19337
I checked the preview page, and it's still wrong. I've close my PR.

[2020-02-28 02:07] npu21 opened #19361 "Localize “email address” placeholder on home page"
https://github.com/kubernetes/website/issues/19272

/language ja

[2020-02-28 02:07] npu21 commented on #19361
/assign

[2020-02-28 02:33] kbhawkey opened #19363 "check svg images on home page, firefox"
**This is a Bug Report**

Viewed with **Firefox** browser,
svg images are not displaying on kubernetes.io, versions 1.16 and 1.17.

Viewed with Chrome, images display.

**Problem:**
Images are not displaying (issue with width) on https://kubernetes.io:
scalable.svg
blocks.svg
suitcase.svg

**Proposed Solution:**
Fix the width for the svg images (accessible from _index.html)
The image width appears

[2020-02-28 02:37] npu21 opened #19364 "Localize “email address” placeholder on home page"
https://github.com/kubernetes/website/issues/19272

/language es

[2020-02-28 02:40] lkaybob commented on #18634
Closing as #18721 is merged
/close

[2020-02-28 02:40] #18634 closed

[2020-02-28 02:44] gaurav-mittal-helm commented on #19345
Hi,

If we set the dnsPolicy to None, then the default k8s DNS will no more be applicable. Then what will be the impact on the pod communication within the cluster wrt other pods when the name is used from communication.

My use case is keeping the default behavior of the k8s cluster communication intact, what to add an extra DNS entry so that some FQDN that are resolvable from external DNS can al

[2020-02-28 02:47] clumsy456 commented on #19337
It should looks like this
[code]
or
[code]
"secrets" is the subcontent of the second "resources", and "providers" is with the same level of the second "resources".
Although I modified the markdown, the rendered webpage is still wrong.

[2020-02-28 02:47] npu21 commented on #19364
/assign

[2020-02-28 03:09] ClaudiaJKang opened #19367 "Outdated files in the dev-1.17-ko.6 branch."
# This is a Bug Report
## Problem
Outdated files in the dev-1.17-ko.6 branch.

### 14 files to be modified
1. [ ] content/en/docs/concepts/architecture/nodes.md 1 file changed, 5 insertions(+), 5 deletions(-)
1. [ ] content/en/docs/concepts/configuration/assign-pod-node.md 1 file changed, 1 insertion(+), 1 deletion(-)
1. [ ] content/en/docs/concepts/configuration/overview.md 1 file changed, 2 inse

[2020-02-28 03:26] ysyukr commented on #19367
/assign

[2020-02-28 03:41] Colstuwjx commented on #19345
You should take a look [this page](https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/#impacts-on-pods), it talked about how to configure custom nameservers working with the kubernetes domains.

[2020-02-28 06:02] paralika opened #19372 "Issue with k8s.io/docs/setup/best-practices/node-conformance/"
**This is a Bug Report**

**Problem:**
Document suggesting to point kubelet to `--api-servers="http://localhost:8080"`, however, kubelet does not have `api-server` flag. It was deprecated long back.

**Proposed Solution:**
Please correct the steps to run kubelet for the node conformance test.

**Page to Update:**
https://kubernetes.io/docs/setup/best-practices/node-conformance/#running-node-confor

[2020-02-28 06:09] ysyukr opened #19373 "Link modify to new docs added from previous branch."
new docs added from dev-1.17-ko.5
- [ ] /ko/docs/concepts/storage/volumes.md

/language ko

[2020-02-28 06:10] ysyukr commented on #19373
/assign

[2020-02-28 07:35] kvp-cs commented on #19325
Thank you for the reply... I was looking for a way to identify the actual CPUIds associated to my Container (by CPUManager) so that I use the pthread-setaffinity calls to pin my app-threads to these CPU ids. "linux show cpu affinity" didnt help me here - am I missing something?

[2020-02-28 07:46] huchengze commented on #19350
/assign
/language zh
/language ko

[2020-02-28 09:37] tanjunchen commented on #17649
@remyleone  thank for your job!
I think you open an issue separately, label  `/help and /good-first-issue`  , so we can fix some URL that need to be incorrect (though many URLs are out of date i think)

[2020-02-28 09:42] huchengze commented on #19073
This pr update the note for Chinese.
I hope that I have done this right.

[2020-02-28 10:07] duanwei33 commented on #19073
@sftim @sujaypillai
I'd like to contribute but sorry it seems I missed the notification after back from holiday. I hope I can do it next time.
And thanks a lot for the update.

[2020-02-28 11:31] Arhell commented on #19363
/assign @Arhell

[2020-02-28 14:11] remyleone opened #19381 "Add support for HowTo JSON+LD"
**This is a Feature Request**

It would be a good idea to add support for HowTo description format to some page especially the tutorial ones.

**What would you like to be added**

We would need to add JSON+LD on the most visited tutorial to make it easy for search engines to understand the different steps of those tutorials.

**Why is this needed**

- This could help new users to have a visualizat

[2020-02-28 14:14] remyleone opened #19382 "Add support for FAQ JSON+LD"
**This is a Feature Request**

It would be a good idea to add support for FAQ description format to some page especially for pages that are about concepts:
- What is a pod?
- How can I see the pods I got?
- How are pods and replica sets related...

**What would you like to be added**

We would need to add JSON+LD on the concepts pages to make it easy for search engines to understand the questions

[2020-02-28 15:08] spzala commented on #17258
/remove-lifecycle rotten

[2020-02-28 16:01] liafizan opened #19384 "Issue with k8s.io/docs/tasks/configure-pod-container/security-context/"
**This is a Bug Report**

**Problem:**
As per API definition here https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.17/#podsecuritycontext-v1-core, it looks like the capabilities field has been dropped. When trying to define a capability I get this error: `unknown field "capabilities" in io.k8s.api.core.v1.PodSecurityContext`.  Perhaps document should be updated to indicate the same

[2020-02-28 18:31] Arhell opened #19386 "Localize “email address” placeholder"
/language ru
/assign

[2020-02-28 21:42] fjammes commented on #19146
Hi @sftim

Thanks.
I had a look inside documentation for Weave Net, but it seems it does not say currently if both egress and ingress NetworkPolicies are supported.

[2020-02-28 22:13] mullenba opened #19392 "Improvement for k8s.io/docs/tasks/access-application-cluster/web-ui-dashboard/"
The tutorial doesn't work.  It takes you to a page requiring kubeconfig or token authentication which after scouring the web for the past hour there doesn't appear to be any consensus on how it's solved to actually log in.  It's impossible for someone not intimately familiar with the Kubernetes system.

[2020-02-29 00:16] #16103 closed

[2020-02-29 00:16] #16000 closed

[2020-02-29 02:02] #19350 closed

[2020-02-29 03:19] #16623 closed

[2020-02-29 05:35] baymax55 opened #19395 "Issue with k8s.io/zh/docs/tutorials/kubernetes-basics/update/update-intro/"
**This is a Bug Report**

**Problem:**
image can not switch
**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-02-29 13:25] DiCanio opened #19401 "Improve documentation on POD behavior during OOM event with child processes"
**This is a Feature Request**

**What would you like to be added**
A section within the documentation regarding a POD's behavior during an OOM event - _especially when containers are running child-processes._

This could be added here:
https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#how-pods-with-resource-limits-are-run

The following key points should be docu

[2020-02-29 15:53] sftim commented on #19381
Nice idea.

[2020-02-29 15:54] sftim commented on #19206
/priority backlog
/kind cleanup

[2020-02-29 16:41] sftim opened #19404 "Document fault tolerance / recovery"
**This is a Feature Request**

**What would you like to be added**
Add a new page about fault tolerance and recovery in Kubernetes.

**Why is this needed**
If someone searches for Kubernetes fault tolerance, they should find a page that explains how Kubernetes design elements (multiple nodes, horizontally scalable control plane, ReplicaSet and StatefulSet, etc) implement that concept.

This page c

[2020-02-29 16:42] sftim commented on #19404
If you are looking at this issue and aren't sure about how to get started, please reply here with questions.

[2020-02-29 16:46] sftim commented on #19401
Seems valid
/priority backlog

[2020-02-29 16:46] sftim commented on #19401
/kind feature

[2020-02-29 16:48] sftim commented on #19401
If documenting this, consider hyperlinking to https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/ as well.

[2020-02-29 16:57] sftim opened #19405 "Check & revise version requirements for “Configure Liveness, Readiness and Startup Probes”"
**This is a clean up issue**

**What would you like to be changed**
Look at https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/

Make sure that all the version constraints in the page make sense and related to the list of Kubernetes versions that are [supported](https://kubernetes.io/docs/home/supported-doc-versions/) for documentation.

There is a

[2020-02-29 16:59] sftim commented on #16629
/remove-lifecycle rotten

[2020-02-29 17:03] sftim commented on #19363
/priority important-longterm
/kind bug

[2020-02-29 17:09] sftim opened #19406 "Localize “email address” placeholder on home page (ko)"
As per issue #19272

/language ko

[2020-02-29 18:27] gmstavros opened #19408 "Improvement for k8s.io/docs/tasks/tools/install-kubectl/"
There are too many paths to keep track of on this page and following Mac install, non-homebrew, it doesn't work after the download and mv to /usr/local/bin.  I would suggest breaking out the pages by OS at a minimum.

[2020-02-29 23:19] ClaudiaJKang commented on #17866
/remove-lifecycle stale

[2020-03-01 01:12] npu21 opened #19409 "Localize “email address” placeholder on home page"
https://github.com/kubernetes/website/issues/19272

/language de

[2020-03-01 01:30] npu21 opened #19411 "Localize “email address” placeholder on home page"
https://github.com/kubernetes/website/issues/19272

/language fr

[2020-03-01 01:41] #16665 closed

[2020-03-01 01:45] npu21 opened #19413 "Localize “email address” placeholder on home page"
https://github.com/kubernetes/website/issues/19272

/language id

[2020-03-01 02:05] npu21 opened #19415 "Localize “email address” placeholder on home page"
https://github.com/kubernetes/website/issues/19272

/language it

[2020-03-01 02:16] npu21 opened #19417 "Localize “email address” placeholder on home page"
https://github.com/kubernetes/website/issues/19272

/language nl

[2020-03-01 07:08] #19267 closed

[2020-03-01 07:10] #19073 closed

[2020-03-01 09:00] rahulrai-in commented on #18628
Hi, @ashishsingh2k8 I am back from my holidays. Are you still working on this issue or would you like me to take it forward? Thanks.

[2020-03-01 10:15] ashishsingh2k8 commented on #18628
You please take it,

Sent from my iPhone

[2020-03-01 18:58] #16671 closed

[2020-03-02 02:30] #19373 closed

[2020-03-02 10:27] dev1983 opened #19431 "Issue with k8s.io/docs/concepts/storage/persistent-volumes/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

must have HostPath vpersistent olume example also.
hostPath:
   path: /abc

[2020-03-02 11:19] php-coder commented on #19386
Fort the next time: it would be nice to provide more details in the issue (page URL, for instance).

[2020-03-02 12:01] Arhell commented on #19386
[issue](https://github.com/kubernetes/website/issues/19272)

[2020-03-02 12:15] #15736 closed

[2020-03-02 12:15] #15797 closed

[2020-03-02 12:15] #15938 closed

[2020-03-02 12:16] php-coder commented on #18332
This issue has been fixed by #19022 and requested page is now exist: https://kubernetes.io/ru/docs/contribute/

/close

[2020-03-02 12:16] #18332 closed

[2020-03-02 12:32] jhonmike commented on #13939
Hi I would like to get to translate the "**Kubelet Garbage Collection**" page, I like to contribute in translations to improve my learning with the tool, an example of this, I helped to translate the React documentation into Portuguese:
- Site and Doc: https://github.com/reactjs/pt-BR.reactjs.org/issues/1
- Blog: https://github.com/reactjs/pt-BR.reactjs.org/issues/151

[2020-03-02 14:31] gavinfish opened #19435 "Clarify well known Toleration Keys' affect on DaemonSet"
**This is a Bug Report**

**Problem:**

The descriptions of the [Toleration Keys]( https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/#taints-and-tolerations) need to be updated for DaemonSet.

**Proposed Solution:**

Add missing descriptions and clarify the difference for the first and second ones.

**Page to Update:**
https://kubernetes.io/docs/concepts/workloads/controllers/dae

[2020-03-02 14:32] gavinfish commented on #19435
/sig app

[2020-03-02 14:33] gavinfish commented on #19435
/sig apps

[2020-03-02 15:32] vgazioglu opened #19437 "Issue with k8s.io/docs/tutorials/kubernetes-basics/expose/expose-interactive/"
curl: (7) Failed to connect to 172.17.0.40 port 30328: Connection refused

[2020-03-02 17:31] sftim commented on #19435
Hi @gavinfish

What is missing? Are you perhaps thinking that
https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/#taints-and-tolerations should link to https://kubernetes.io/docs/reference/kubernetes-api/labels-annotations-taints/?

[2020-03-02 17:49] php-coder commented on #18658
The issue was fixed by #18673
/close

[2020-03-02 17:49] #18658 closed

[2020-03-02 17:49] php-coder commented on #18420
The issue was fixed by #18673
/close

[2020-03-02 17:49] #18420 closed

[2020-03-02 17:51] php-coder commented on #17927
/remove-lifecycle stale

[2020-03-02 18:56] julianvmodesto opened #19439 "Remove kubectl rolling-update"
**What would you like to be added**

Remove `kubectl rolling-update` from the website.

It has been deprecated and hidden since April 2018 in v1.11 and removed in v1.18.

**Why is this needed**

`kubectl rolling-update` has been deprecated and hidden since April 2018 in v1.11, and has been removed for v1.18.

**Comments**

Related issue: https://github.com/kubernetes/kubernetes/issues/88051

[2020-03-02 18:57] julianvmodesto commented on #19439
/kind cleanup
/help

[2020-03-02 22:04] Arhell commented on #19355
![19222a3d5d](https://user-images.githubusercontent.com/26163841/75722241-814ea280-5ce2-11ea-8f7b-6c568665a1e5.jpg)

[2020-03-03 02:00] gavinfish commented on #19435
@sftim I think the description for Toleration Keys need to be updated.
<img width="686" alt="Screen Shot 2020-03-03 at 9 58 51 AM" src="https://user-images.githubusercontent.com/6169722/75735481-bafcc900-5d35-11ea-8909-95280e8b692f.png">

[2020-03-03 04:04] xiaods commented on #16607
any update?

[2020-03-03 06:08] RA489 commented on #19218
/assign

[2020-03-03 08:43] Arhell commented on #19363
resolve
/close

[2020-03-03 09:09] RA489 commented on #18984
You can also emit the URL using `minikube dashboard --url`

[2020-03-03 09:14] RA489 commented on #19408
/triage needs-information

[2020-03-03 09:16] RA489 commented on #19057
@SamambaMan Do you mind explaining your problem in a bit detail?

[2020-03-03 09:26] alexadejumo commented on #19327
/assign

[2020-03-03 09:30] sftim commented on #19363
/close
Fixed in #19421

[2020-03-03 09:30] #19363 closed

[2020-03-03 09:39] sftim commented on #14201
/remove-lifecycle stale

[2020-03-03 10:41] sftim commented on #14579
Still valid
/remove-lifecycle rotten

[2020-03-03 13:33] savitharaghunathan commented on #19431
Hi @dev1983 , Are you looking for something like this - https://kubernetes.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/#create-a-persistentvolume ?

[2020-03-03 14:20] dev1983 opened #19447 "Issue with k8s.io/docs/tasks/administer-cluster/configure-multiple-schedulers/"
**This is a Bug Report**

**Problem:**
with below Information multiple scheduler is not working;
- --address=0.0.0.0
        - --leader-elect=false
        - --scheduler-name=my-scheduler
**Proposed Solution:**
if we copy kube-schedyler.yaml and put above details then scheduler doesnt work or it dies. So we must provide below information.

        - --address=127.0.0.1
        - --leader-elect=fal

[2020-03-03 14:22] dev1983 commented on #19431
yes thanks a lot. but why it was not on that page or I was looking some old doc?

[2020-03-03 15:19] rajeshdeshpande02 commented on #19439
@julianvmodesto I am working on this

[2020-03-03 15:25] julianvmodesto commented on #19439
Thanks Rajesh!

/assign @rajeshdeshpande02

[2020-03-03 16:23] sgoggins opened #19448 "Clearer setup instructions"
**This is a Feature Request**

**What would you like to be added**

**Why is this needed**

**Comments**

[2020-03-03 16:23] #19448 closed

[2020-03-03 17:22] sftim commented on #19439
Pull requests that are linked to the v1.18 release should target branch _dev-1.18_; pull requests that are general tidying up should target _master_ (but possibly also need linking to the v1.18 release milestone)

/priority important-soon

[2020-03-03 19:45] brianpursley commented on #19340
Looks like this was fixed starting in v1.17 and going forward...
https://github.com/kubernetes/website/blob/c04ffcdce813a764aa5354fec2bba2cf742c4ac6/layouts/partials/header.html#L31

In order to fix for previous versions, I think you would need to branch from each previous version and change `{{ .url }}` to `{{ .url }}{{ $.RelPermalink }}` and merge a PR for each version.

[2020-03-03 20:03] sftim opened #19452 "Simplify https://k8s.io/docs/concepts/overview/kubernetes-api/"
**Problem:**
https://k8s.io/docs/concepts/overview/kubernetes-api/ has detail that isn't needed for new readers, and an “IMPORTANT” note that most people reading the Kubernetes documentation won't need to know

**Proposed Solution:**
Create a new, short task page that contains the content of https://k8s.io/docs/concepts/overview/kubernetes-api/#enabling-api-groups and have https://k8s.io/docs/conc

[2020-03-03 20:04] sftim commented on #19452
If you're thinking of working on this and aren't sure how to help, please reply - other website contributors will try to make things clear.

[2020-03-03 20:13] js8080 opened #19454 "Issue with k8s.io/docs/concepts/services-networking/connect-applications-service/"
**This is a Bug Report**

**Problem:**
In the [Securing the Service section](https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/#securing-the-service) the [service/networking/nginx-secure-app.yaml](https://raw.githubusercontent.com/kubernetes/website/master/content/en/examples/service/networking/nginx-secure-app.yaml) references an image named "bprashanth/nginxhtt

[2020-03-04 02:14] brianpursley commented on #18972
+1 on this problem.  For me, it happens on iPad using safari or chrome.
When you click on the hamburger, the gray box is displayed but it is empty, no menu items are displayed.

[2020-03-04 03:02] c1t1d0s7 opened #19456 "Translate concepts/security/overview.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/security/overview.md in Korean

**Why is this needed**
No translation with concepts/security/overview.md in Korean

**Comments**

Page to update: https://kubernetes.io/docs/concepts/security/overview/

[2020-03-04 03:02] c1t1d0s7 commented on #19456
/language ko
/assign

[2020-03-04 03:05] witashintyatiw opened #19457 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-03-04 05:27] jayapalreddy18 opened #19461 "Issue with k8s.io/docs/tasks/debug-application-cluster/debug-cluster/"
**This is a Bug Report**

  The connection to the server 10.190.67.31:6443 was refused - did you specify the right host or port?

**Problem:**
[root@com-kube-master log]# kubectl get nodes
The connection to the server 10.190.67.31:6443 was refused - did you specify the right host or port?

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

 1.16

[2020-03-04 05:28] jayapalreddy18 commented on #19461
[root@com-kube-master log]#  docker ps -a | grep apise
0ff1eed8c222        f15aad0426f5                                                                                                                         "kube-apiserver --..."   3 minutes ago       Exited (2) 3 minutes ago                                k8s_kube-apiserver_kube-apiserver-com-kube-master.nonprod.hclpnp.com_kube-system_be3cd92e0b

[2020-03-04 05:49] parthjawale commented on #19327
/assign

[2020-03-04 07:22] #17779 closed

[2020-03-04 07:24] sftim commented on #19447
@dev1983 it'd be useful to know what error / symptoms you saw when you followed the instructions on https://k8s.io/docs/tasks/administer-cluster/configure-multiple-schedulers/

(I wonder if those instructions work in some circumstances, and the documentation should make those prerequisites clearer).

[2020-03-04 07:29] sftim commented on #19457
Hi @witashintyatiw

Please would you reply with details of the problem you saw?

/triage needs-information

[2020-03-04 07:33] sftim opened #19463 "“Troubleshoot clusters” should start by checking that kubectl works"
**This is a Feature Request**

**What would you like to be added**
Add a new task page that describes how to investigate whether `kubectl` can connect to your cluster and, if not, how to tell the likely cause.

Mention at least some of the following:
- did you set up `kubectl` yet?
- contexts. For example, did you try `minikube` and then stop your minikube cluster?
- virtual private networks. Do y

[2020-03-04 07:42] sftim commented on #19340
@brianpursley would you like to propose pull requests for that / would you like help with doing that?

[2020-03-04 09:07] Arhell commented on #19386
Resolve
/assign @sftim

[2020-03-04 09:07] Arhell commented on #19386
/close

[2020-03-04 09:08] #19386 closed

[2020-03-04 12:01] sftim commented on #17951
PR #18961 helped a bit
/remove-lifecycle stale

[2020-03-04 12:16] jhonmike commented on #13939
About the pages that were missing or outdated in the first comment:

### Concepts

#### Architecture:

- Controllers

#### Cluster Administration:

- Controller Metrics **changed the name to Monitoring**

#### Configuration

- Pod Overhead
- Resource Bin Packing
- Scheduling Framework
- Scheduler Perf Tuning **Moved to folder Scheduling**

#### Extend Kubernetes

- Operator

#### Overview

- Decla

[2020-03-04 12:26] jhonmike commented on #13939
Pending review on PR #19434 I will start translating the page _Cluster Administration > **Logging**_

[2020-03-04 13:59] brianpursley commented on #19340
Sure

/assign

[2020-03-04 14:10] sftim commented on #19340
:ok_hand: Reply if you'd like help.

[2020-03-04 15:07] brianpursley commented on #19340
PRs created.  I wasn't 100% sure which branch it will merge into, but assumed it would be Release-1.1X.  Let me know if it is otherwise.

[2020-03-04 15:16] femrtnz commented on #13939
Thanks a lot! I just updated the issue.

[2020-03-04 15:38] brianpursley commented on #18972
I think this is a regression in 1.17.  It works find in v1.16 and earlier.

[2020-03-04 16:05] brianpursley commented on #18972
@bismitaguha are you still working on this?
Reverting [this commit](https://github.com/kubernetes/website/commit/ccef43197ec76a646d371bddf5b6fa8704eed885#diff-27b983ab62ddff504e715d29f5003d57) fixes the problem for me locally.

[2020-03-04 16:06] remyleone commented on #13939
In case you are interested, here is the list of the 100 most visited pages on the whole Kubernetes website: https://github.com/kubernetes/website/issues/17598
Putting the localization effort priority on the pages that are ranked high on this list will probably output high visitor rates in your localization. :)

[2020-03-04 19:01] #19112 closed

[2020-03-04 19:45] zacharysarah opened #19474 "Art for the training page"
### Let's add art to the hero bar

The initial version of the hero bar (the blue section that contains "Build Your Cloud Native Career") on the [Training](https://k8s.io/training/) page is a featureless blue. That's great for launch, but it could definitely use some art.

### Why should we do that?

To create a friendlier UX.

/priority important-longterm

[2020-03-04 21:19] mleonhard commented on #19139
https://skaffold.dev/docs/references/yaml/

That documentation represents the bare minimum.  It covers all of the available values, but it lacks coherent examples and link-able sections.  When I have to add something complicated to a config, I include an explanation comment and a link to the documentation.  That is impossible with Skaffold documentation because there are no anchors.  And it's impo

[2020-03-04 21:46] brianpursley opened #19478 "Kustomize not highlighted in Kubectl Reference Docs sidebar"
**Steps to reproduce:**
Navigate to https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#kustomize

`kustomize` should be highlighted blue on the left sidebar, but instead `explain` is highlighted.

If you click on kustomize, it still won't highlight.

When you scroll the main content area, the tracking highlight skips over kustomize.

Problem does not occur in v1.16 or earlier:

[2020-03-04 22:04] mleonhard commented on #19139
https://skaffold.dev/docs/references/yaml/

That documentation represents the bare minimum.  It covers all of the available values, but it lacks coherent examples, link-able sections, and it thwarts search engines by putting everything on one page.

## Why Users Need Coherent Examples
If the docs mix together multiple ways to use a config section, the reader must learn all styles to be able to sor

[2020-03-04 22:21] sftim commented on #19139
Thanks for clarifying @mleonhard

[2020-03-04 22:23] Arhell commented on #19355
resolve
/close

[2020-03-04 22:23] #19355 closed

[2020-03-04 22:32] misterikkit opened #19480 "Volume snapshot restore feature still marked as alpha"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/concepts/storage/persistent-volumes/#volume-snapshot-and-restore-volume-from-snapshot-support

This page lists the "restore from volume snapshot" feature as alpha, but it should be beta in k8s 1.17.

**Proposed Solution:**
Update section to mark feature as beta. And make sure that the beta API is used in the example.

**Page to Upda

[2020-03-04 22:33] misterikkit commented on #19480
/assign @xing-yang
/sig storage
/cc @saad-ali

[2020-03-04 23:14] sftim commented on #19139
/priority backlog

[2020-03-05 03:54] xing-yang commented on #19480
Looks like this one fell through the cracks.  I think this is because we don't need to change the example so I forgot to update this page.  I'll update it.

[2020-03-05 06:59] cwdsuzhou opened #19485 "Website bad format"
**This is a Bug Report**

https://kubernetes.io/zh/docs/tasks/configure-pod-container/configure-pod-configmap/

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-03-05 07:44] Arhell opened #19487 "wrong anchor in readme"
**This is a Bug Report**

wrong anchor in readme

**Proposed Solution:**
upd to correct

**Page to Update:**
https://github.com/kubernetes/website/blob/master/README-hi.md

[PR](https://github.com/kubernetes/website/pull/19314)

[2020-03-05 07:45] Arhell commented on #19487
/assign
/language hi

[2020-03-05 08:07] runzhliu opened #19488 "Issue with k8s.io/zh/docs/tasks/configure-pod-container/configure-pod-configmap/"
**This is a Bug Report**

**Problem:** The page seems to have some html render problems

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-03-05 08:27] gavinfish commented on #19488
/assign

[2020-03-05 12:09] femrtnz commented on #13939
@remyleone Really nice! I will update the issue following this lit :)

[2020-03-05 14:18] sftim commented on #17969
/remove-lifecycle stale
@tengqm is there any more to do?

[2020-03-05 15:47] kbhawkey commented on #18972
@palsivertsen , I have created a PR #19477 to address the display of the nav bar on smaller screens (tested on a smaller laptop, chrome and firefox browsers). Interested in feedback and testing on other browsers.

[2020-03-05 15:48] php-coder commented on #19485
/language zh

[2020-03-05 16:40] onlynone opened #19494 "Issue with k8s.io/docs/tasks/manage-kubernetes-objects/declarative-config/ matchLabels with slashes"
This page recommends users use a match label like `"apps/v1/deployment/nginx"`. However, slashes are not currently allowed in label values. I opened a PR to address this in the code: https://github.com/kubernetes/kubernetes/pull/88817 . But I don't know if or when it will be accepted. Is there another form we should be using? We could use periods to separate components of the value, but then the `

[2020-03-05 17:27] mtaufen opened #19496 "Create a Tasks doc for Service Account Issuer Discovery"
**This is a Feature Request**

**What would you like to be added**
Add a Tasks doc for configuring Service Account Issuer Discovery before the feature goes to beta.

**Why is this needed**
To help users understand how to configure the feature correctly.

**Comments**
@sftim recommended we make this a beta requirement https://github.com/kubernetes/website/pull/19328#pullrequestreview-365664336

/as

[2020-03-05 17:37] sftim commented on #18890
https://kubernetes.io/docs/reference/issues-security/security/ already has something on this
see PR #18690

[2020-03-05 17:37] sftim commented on #18890
Done enough!
/close

[2020-03-05 17:37] #18890 closed

[2020-03-05 17:59] sftim opened #19497 "Create https://kubernetes.io/docs/setup/best-practices/security/"
**This is a Feature Request**

**What would you like to be added**
Create a page at https://kubernetes.io/docs/setup/best-practices/security/ that describes, you guessed it, good security practice.

**Why is this needed**
Readers want a “one-stop shop” to find out how to secure their cluster and its workloads.

**Comments**
Cc: @sethmccombs / @pbnj / @zestrells
/priority important-longterm
/kind f

[2020-03-05 19:33] #16724 closed

[2020-03-05 19:53] kbhawkey commented on #19478
Thanks for logging this issue @brianpursley .
Let's see how things stand in the next release.
/assign @kbhawkey

[2020-03-05 20:09] sfxworks opened #19498 "Preview / Slack Image Shrink"
**This is a Feature Request**

**What would you like to be added**
Hey uh, I love the docs, and this is a small/low priority request for sure. Every time I link k8s docs in slack, it takes up an entire sum of an area for the k8s icon. While this is cool, can it be smaller or replaced with something relevant to the doc linked if there is an image already in there?

**Why is this needed**

Is what I

[2020-03-05 20:16] sftim commented on #19496
/cc

[2020-03-05 21:35] #15447 closed

[2020-03-05 21:35] #15459 closed

[2020-03-05 21:35] #15477 closed

[2020-03-05 21:35] #15492 closed

[2020-03-05 22:24] zacharysarah opened #19502 "Why dev-1.18 keeps generating merge conflicts"
## What's the problem?

I notice that the `dev-1.18` branch repeatedly generates merge conflicts for unrelated files, often for the same file (`/content/en/docs/reference/kubectl/overview.md`), every time a PR merges into the branch.

### Example

Here's the timeline view:

![Screen Shot 2020-03-05 at 2 06 23 PM](https://user-images.githubusercontent.com/3210446/76030545-bf1e1780-5eea-11ea-9079-1f

[2020-03-05 23:15] kbhawkey commented on #19502
If rebasing fixes (permanently) the problem(s), then I think that is a favorable outcome.
I don't think there will be grumbling (I would gather that most developers rebase regularly).

[2020-03-05 23:32] sftim commented on #19502
Yes, that's quite a lot. It does seem like the best approach.

[2020-03-06 00:00] zacharysarah commented on #19502
@sftim @kbhawkey Thanks for the feedback.

@VineethReddy02 To make the rebase requests easier, here's some sample text to comment on [open PRs](https://github.com/kubernetes/website/pulls?q=is%3Apr+is%3Aopen+base%3Adev-1.18):
[code]

Feel free to adjust to your liking. 👍 Given the number of comments, if you're comfortable working with the GitHub API, it may be worthwhile to add comments with a scr

[2020-03-06 00:03] zacharysarah commented on #19502
Bless this Prow. ⛵️ ☸️ 🙏 😂

![Screen Shot 2020-03-05 at 4 01 49 PM](https://user-images.githubusercontent.com/3210446/76037083-c3eac780-5efa-11ea-863a-509a00698e4b.png)

[2020-03-06 00:03] zacharysarah commented on #19502
/hold cancel

[2020-03-06 00:04] sftim opened #19503 "Add date metadata to blog articles"
**This is a Feature Request**

**What would you like to be added**
Add a `<time>` HTML element to the date heading in blog post articles. To do this, edit
`layouts/blog/post.html`, putting `<time>` and `</time>` tags around the Hugo shortcode
that renders the date text.

The opening `<time>` tag also needs a `datetime` attribute, with the value using another Hugo shortcode. These use [Go time patt

[2020-03-06 00:05] sftim commented on #19503
If you're picking this up and it's not clear what to do, please feel free to reply with a question. You can also join Slack&mdash;see [https://slack.k8s.io/](https://slack.k8s.io/)&mdash;and ask in channel _#sig-docs_.

[2020-03-06 00:10] zacharysarah commented on #19502
@kubernetes/sig-release @alejandrox1  👋 Heads up that this is a thing.

[2020-03-06 00:38] #15466 closed

[2020-03-06 01:48] sftim commented on #19337
/priority backlog
/language en
/help

[2020-03-06 01:50] sftim commented on #19325
@kvp-cs I'd expect that the output from `taskset` would show CPU affinity. I haven't tried this. Does that utility work if you run it in a container that has the tool installed?

[2020-03-06 01:52] sftim commented on #19146
Kubernetes documentation does not cover out-of-project components such as Weave Net.
For help with Weave Net (including when used with Kubernetes), the best place to look is the documentation for Weave Net itself.

/close

[2020-03-06 01:52] #19146 closed

[2020-03-06 02:07] sftim opened #19506 "“Intermediate contributing” gives wrong advice about removing graduated feature gates"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/contribute/intermediate/#sig-members-documenting-new-features tells contributors to remove items from the feature gates list when those features graduate to GA. However, that's not right. Graduated features move to the [table of graduated and deprecated features](https://kubernetes.io/docs/reference/command-line-tools-reference/feat

[2020-03-06 02:07] sftim commented on #19506
/priority backlog
/sig release

[2020-03-06 02:48] sftim opened #19507 "Ingress documentation uses an assigned IPv4 address in an example"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/concepts/services-networking/ingress/ gives an example of an Ingress and mentions 107.178.254.228; that's a real IPv4 address, currently allocated to Google.
It'd be better to use an IP address that isn't allocated, the same way that movies set in the USA use numbers in the 555 area code rather than real, dialable numbers.

**Propos

[2020-03-06 03:10] #18894 closed

[2020-03-06 04:17] tengqm commented on #17969
@sftim Thanks for asking. I think we can close this one after the patch (5) is in.

[2020-03-06 07:17] #18809 closed

[2020-03-06 08:00] oke-py commented on #17742
ありがとうございました！！
/close

[2020-03-06 08:00] #17742 closed

[2020-03-06 08:32] khalilgharbaoui opened #19509 "Issue with k8s.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-15/"
**This is a Bug Report**

**Problem:**
Link to `release notes` results in a 404
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.15.md
**Proposed Solution:**
Point the link on the website to an actual changelog!

[2020-03-06 09:17] Arhell opened #19511 "Hudo anchor in readme (id)"
**This is a Bug Report**

Hudo anchor in readme

**Problem:**
wrong anchor in readme

**Proposed Solution:**
Fix link

**Page to Update:**
https://github.com/kubernetes/website/blob/master/README-id.md

[2020-03-06 09:18] Arhell commented on #19511
/assign
/language id

[2020-03-06 09:22] sam-sla opened #19512 "Why default toleration in DS example k8s.io/docs/concepts/workloads/controllers/daemonset/"
**This is a Bug Report**

**Problem:**
The example "Create a DaemonSet" adds a toleration for the "NoSchedule" effect on the master node, I don't understand why. I don't think this is a good default to have in the example.

**Proposed Solution:**
Remove the toleration from the spec:
[code]

**Page to Update:**
https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/#create-a-daemonset

[2020-03-06 10:27] remyleone opened #19513 "Fix broken links"
**This is a Bug Report**

Here are some pages with broken links (saved as a CSV format)

**Problem:**

Some links on the website are broken

**Proposed Solution:**

Fix the link to valid ones

**Page to Update:**

https://github.com/kubernetes/website/files/4262612/kubernetes.io_internal_broken_links_20200227.txt

[2020-03-06 10:27] remyleone commented on #19513
/help
/good-first-issue

[2020-03-06 10:27] remyleone commented on #17649
Done: https://github.com/kubernetes/website/issues/19513

[2020-03-06 12:21] sftim commented on #17981
/remove-lifecycle stale

[2020-03-06 12:22] sftim commented on #19513
https://github.com/kubernetes/website/files/4262612/kubernetes.io_internal_broken_links_20200227.txt is comma-separated, so you can open it in a tool like Microsoft Excel, Google Sheets, or OpenOffice Calc.

[2020-03-06 12:23] sftim commented on #19513
/kind cleanup

[2020-03-06 12:25] sftim commented on #19509
@khalilgharbaoui, what's the URL of the page you were on that has the broken link?

https://k8s.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-15/ looks like a redirect.

[2020-03-06 12:27] sftim commented on #19512
That seems like a valid concern.

/priority backlog
/good-first-issue
/language en

[2020-03-06 12:31] sftim commented on #19513
Fixing every broken link there is a lot of work @remyleone
Is this task the right side for the “good first issue” label?

[2020-03-06 12:50] #15262 closed

[2020-03-06 12:57] tanjunchen commented on #19513
I think it is ok label “good first issue”
+1

[2020-03-06 14:03] tanjunchen commented on #19357
/close
due to https://github.com/kubernetes/website/pull/19360

[2020-03-06 14:03] #19357 closed

[2020-03-06 14:05] tanjunchen commented on #18737
any progress about  this issue

[2020-03-06 14:09] tanjunchen commented on #18691
@gavinfish  @tengqm
see  https://github.com/kubernetes/website/pull/18727#discussion_r372039637
this seems that it has been resolved . Agree?

[2020-03-06 14:09] tanjunchen commented on #18623
@gavinfish
any progress?

[2020-03-06 14:15] tanjunchen commented on #18565
@sftim
how about this issue?  it seems that it has been resolved.

[2020-03-06 14:15] tanjunchen commented on #18565
/cc @yuxiaobo96 right?

[2020-03-06 14:16] tanjunchen commented on #18552
@CriaHu
any progress?

[2020-03-06 14:17] tanjunchen commented on #18527
@gavinfish
how  about this  issue  now ?

[2020-03-06 14:18] tanjunchen commented on #17552
@ydcool
any progress?

[2020-03-06 14:19] tanjunchen commented on #17333
@ydcool
any progress?

[2020-03-06 14:23] tanjunchen commented on #16606
/assign

[2020-03-06 14:24] tanjunchen commented on #15861
this issue is old . can we close this?
/cc @chenrui333

[2020-03-06 14:38] gavinfish commented on #18623
@tanjunchen
No, do you want to  take this up?

[2020-03-06 14:39] tanjunchen commented on #18403
How about this issue now ? see https://github.com/kubernetes/website/issues/18929
They add `ja` in front of the path.
Is it currently possible to implement similar functionality directly by modifying the hugo code.
/cc @tengqm
/cc @Colstuwjx

[2020-03-06 14:39] gavinfish commented on #18527
I think this can be closed now.

[2020-03-06 14:39] tanjunchen commented on #18527
/close

[2020-03-06 14:39] #18527 closed

[2020-03-06 14:41] gavinfish commented on #18691
@tanjunchen  I think so.
@kbhawkey do you have any concern to close it?

[2020-03-06 14:42] tanjunchen commented on #18623
No, I have take another one.

[2020-03-06 14:44] gavinfish commented on #18737
No updates from hugo. I will draft a PR to fix it this weekend.

[2020-03-06 15:08] sftim commented on #18565
Fixed in #18564
/close

[2020-03-06 15:08] #18565 closed

[2020-03-06 16:05] kbhawkey commented on #18691
Hi. Thanks for checking. The links look good. Feel free to close.

[2020-03-06 16:10] gavinfish commented on #18691
/close

[2020-03-06 16:10] #18691 closed

[2020-03-06 16:15] remyleone opened #19518 "Flowchart for debugging cluster incidents"
**This is a Feature Request**

**What would you like to be added**

A flowchart that is similar to this would be nice on the official documentation
https://learnk8s.io/troubleshooting-deployments

**Why is this needed**

It is sometimes difficult for a beginner to have a methodical approach about how to debug and pass from one diagnostic to the next. A flowchart is nice because you can follow visu

[2020-03-06 16:19] sftim commented on #19518
:+1:
/kind feature
/priority important-longterm

[2020-03-06 16:20] sftim commented on #19502
/sig release

[2020-03-06 16:20] sftim commented on #19496
Thanks @mtaufen !

/kind feature
/priority backlog

[2020-03-06 16:21] sftim commented on #19480
/kind bug
/priority important-longterm

[2020-03-06 16:25] #19488 closed

[2020-03-06 16:39] brianpursley opened #19519 "Kubectl command reference middle column tables overflow into third column on narrow displays"
**This is a Bug Report**

**Problem:**
When viewing kubectl reference docs page on a narrow display, middle column flag tables overflow into the third column.

**Proposed Solution:**
Fix CSS for narrow displays so that tables do not exceed the middle column width

**Page to Update:**
https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands

![kubectl-ref](https://user-images.githubu

[2020-03-06 16:42] kbhawkey commented on #19513
Is it essential to include links from previous versions of the docs (snapshots)?
How about focusing only on link errors in 1.17?
Note: Do you want to correct links before (or during) a release?

[2020-03-06 17:30] remyleone opened #19520 "Add a curated checklist of best practices designed for application"
**This is a Feature Request**

**What would you like to be added**

A checklist about what to do to make an application work well inside Kubernetes.
Inspiration from https://learnk8s.io/production-best-practices

An application checklist that can tell visually what should be added to an application.

**Why is this needed**

It is not obvious for an application developer to know what are the things

[2020-03-06 19:57] #9281 closed

[2020-03-06 20:14] divya-mohan0209 commented on #19507
/assign

[2020-03-06 21:01] divya-mohan0209 commented on #19503
/assign

[2020-03-06 21:33] divya-mohan0209 commented on #19506
/assign

[2020-03-07 01:00] IanColdwater commented on #19513
yeah sure, why not

/assign

[2020-03-07 02:20] tengqm commented on #18403
@tanjunchen It is not gonna be a trivial change. I'm not a big fan of adding/modifying hugo code in this repo.

[2020-03-07 06:35] Colstuwjx commented on #18403
@tengqm Do you have any idea about solving this issue?

I think it should be a common issue for multilingual site, and we may need to make a conclusion about how to fix this issue at first, and then try to propose a PR for fixing it, here are some considerations in my mind:

We already have multilingual [configurations](https://github.com/kubernetes/website/blob/master/config.toml#L134), such as s

[2020-03-07 06:42] tengqm commented on #18403
The `makeRefAddLangPrefixByDefault=true` suggestion sounds good at fist glance. However, from Hugo developer's perspective, it may not be a priority since there are already existing facility to achieve the same goal. We may even conclude that our current way of codifying intra-site links are wrong. We SHOULD have used the localization friendly way to do this.

[2020-03-07 07:32] Colstuwjx commented on #18403
Yes, I was also wondering about this. I don't have any idea about which is the right way to do this, so I leave a [comment](https://github.com/gohugoio/hugo/issues/6747#issuecomment-596056597) on hugo repo, maybe hugo dev could give us some suggestions.

[2020-03-07 07:38] tanjunchen commented on #18403
We SHOULD have used the localization friendly way to do this.

+1
@Colstuwjx  I have no good idea.

[2020-03-07 09:54] Arhell opened #19527 "README-pl link bug"
**This is a Bug Report**
README-pl link bug

**Problem:**
Broken link

**Proposed Solution:**
Fix link

**Page to Update:**

https://github.com/kubernetes/website/blob/master/README-pl.md
![870d5382cc](https://user-images.githubusercontent.com/26163841/76143688-3639e400-6082-11ea-918c-64752c3d6d58.jpg)

/assign
/language pl

[2020-03-07 10:01] lmatt-bit opened #19528 "Issue with k8s.io/zh/docs/concepts/overview/working-with-objects/"
**This is a Bug Report**

**Problem**
The link in chinese translation to "Understanding Kubernetes Objects" page is not correct.
Link in english version is
https://kubernetes.io/docs/concepts/overview/working-with-objects/kubernetes-objects/
while chinese version is
https://kubernetes.io/zh/docs/concepts/overview/working-with-objects/
The content of "Understanding Kubernetes Objects" ("使用Kubernete

[2020-03-07 11:01] tengqm commented on #19528
/assign

[2020-03-07 11:20] sam-sla commented on #19512
I see that for https://kubernetes.io/docs/tasks/administer-cluster/running-cloud-controller/ the example is more descriptive, maybe this is the way to go instead of removing the toleration. I can create a PR adding the same comment to the daemonset.yaml

[2020-03-07 12:17] sftim commented on #19507
Anyone with a [signed CLA](https://kubernetes.io/docs/contribute/start/#sign-the-cla) is welcome to propose a pull request with a suggested fix.

@divya-mohan0209 do you have any questions about this issue?

[2020-03-07 12:32] VineethReddy02 commented on #19502
Hi @zacharysarah @sftim but I already see ```/hold``` label for some other reasons by reviewers and owners. How will the behavior be if I add something like this

[code]

[2020-03-07 12:36] VineethReddy02 commented on #19502
/hold cancel

[2020-03-07 12:45] sftim commented on #19513
That sounds like a good place to start. Thinking about how I might handle a similar challenge in a work context, I would consider splitting the issue once the link errors in _master_ had been dealt with.

[2020-03-07 12:55] sftim commented on #19206
See #19525

[2020-03-07 13:04] divya-mohan0209 commented on #19507
@sftim I have submitted my [pull request](https://github.com/kubernetes/website/pull/19522). I'm new around here, which is why I have followed the instructions and assigned to @xiangpengzhao per the bot's instructions. Please could you review?

[2020-03-07 13:08] sftim commented on #19502
[This](https://github.com/kubernetes/website/issues/19502) is an issue; the /hold command and associated label are (I think) mainly for PRs.

If I'm right @zacharysarah was adding /hold here merely to show the sample text.

Prow doesn't stack /hold labelling, so if the PR is already held for one reason I would adjust the message to say something like:

[2020-03-07 13:14] sftim commented on #18628
/priority important-longterm

[2020-03-07 13:15] sftim commented on #18022
@chainhead, can you explain this issue? I'm not sure what feature you'd like added.

/triage needs-information

[2020-03-07 13:15] sftim commented on #17289
I think this is fixed.
/close

[2020-03-07 13:15] #17289 closed

[2020-03-07 13:15] sftim commented on #17279
I think this is fixed.
/close

[2020-03-07 13:15] #17279 closed

[2020-03-07 13:15] VineethReddy02 commented on #19502
Thanks, @sftim @zacharysarah I reached out to all 31 open PR's against ```dev-1.18``` and I see 4 PR's already with ```/hold``` label. So I don't think it should be a problem for us. However, I can try to have a close eye on them.

[2020-03-07 13:16] sftim commented on #19461
Thanks for this issue @jayapalreddy18

For more help, you could ask on [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

[2020-03-07 13:22] sftim opened #19531 "Service concept page has (undesirable) Future Work section"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/concepts/services-networking/service/#future-work makes statements about the future direction of Service and related resources in Kubernetes.
However, the [documentation style guide](https://kubernetes.io/docs/contribute/style/style-guide/) recommends that pages [avoid making statements about the future](https://kubernetes.io/docs/c

[2020-03-07 13:23] sftim commented on #19527
/priority backlog
/kind bug

Thanks @Arhell

[2020-03-07 13:24] sftim commented on #19528
/language zh

[2020-03-07 13:26] sftim commented on #19520
If you're working on this, consider where to put it. Inside https://kubernetes.io/docs/setup/best-practices/ or somewhere else?

You might even want to bring that question to a weekly [meeting of SIG Docs](https://kubernetes.io/docs/contribute/start/#participating-in-sig-docs).

[2020-03-07 13:26] sftim commented on #19520
/priority backlog
/kind feature
/language en
/sig usability

[2020-03-07 13:27] sftim commented on #19519
That's a valid issue. Thanks @brianpursley
/kind bug
/priority backlog

[2020-03-07 13:28] sftim commented on #19498
It seems to me that if Slack could find a precis of the page, it might use that instead of the image. It seems like something that is worth investigating further.
/priority awaiting-more-evidence

[2020-03-07 13:29] sftim commented on #19509
/triage needs-information

[2020-03-07 13:36] sftim opened #19532 "https://kubernetes.io/blog/2015/04/kubernetes-release-0150/ renders in Chinese"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/blog/2015/04/kubernetes-release-0150/ renders in Chinese. I have my user agent preferences set to send `Accept-Language:` with a list of languages not including `zh`.

**Proposed Solution:**
Investigate; check why the Chinese localization seems to be preferred to English.

**Page to Update:**
https://kubernetes.io/blog/2015/04/kubernetes

[2020-03-07 13:37] sftim commented on #19532
I was expecting that
https://kubernetes.io/blog/2015/04/kubernetes-release-0150/ would render in English.

[2020-03-07 14:18] gavinfish commented on #19532
/assign

[2020-03-07 14:28] sftim opened #19535 "Dated glossary entry for cloud controller manager"
**This is a Bug Report**

**Problem:**
https://k8s.io/docs/reference/glossary/?all=true#term-cloud-controller-manager is out of date; it talks about Kubernetes releases v1.6 and v1.8

**Proposed Solution:**
At a minimum, remove the reference to releases v1.6 and v1.8 from the glossary entry.
It's OK to revise further as well.

**Page to Update:**
https://k8s.io/docs/reference/glossary/

**Addition

[2020-03-07 14:28] sftim commented on #5993
Also see #19535

[2020-03-07 14:29] sftim commented on #5993
@chenopsis is this OK to /close?

[2020-03-07 14:37] sftim commented on #17846
/remove-triage needs-information
/priority backlog
/remove-lifecycle stale

[2020-03-07 17:06] divya-mohan0209 commented on #19531
/assign

[2020-03-07 17:16] divya-mohan0209 commented on #19531
@sftim This has been done. Please verify.

[2020-03-07 17:21] brianpursley commented on #19519
/assign

[2020-03-07 20:03] sftim opened #19542 "Wrong formatting in “Persistent Volumes” concept"
**This is a Bug Report**

**Problem:**
The “Persistent Volumes” page puts Kubernetes resources (eg “PersistentVolume”) in code blocks. In Markdown, that means backticks around the resource names.
However, the Style Guide [recommends](https://kubernetes.io/docs/contribute/style/style-guide/#use-camel-case-for-api-objects) writing resources in PascalCase, _without_ backticks.

**Proposed Solution:**

[2020-03-08 00:24] #16434 closed

[2020-03-08 03:31] #19532 closed

[2020-03-08 03:37] #19528 closed

[2020-03-08 04:58] sujaypillai commented on #19542
/assign

[2020-03-08 09:25] tengqm commented on #17933
/remove-lifecycle stale

[2020-03-08 10:51] tengqm commented on #17933
/remove-lifecycle stale

[2020-03-08 12:36] #14838 closed

[2020-03-08 14:37] cvandesande opened #19545 "Issue with k8s.io/docs/tasks/run-application/run-stateless-application-deployment"
This is a Bug Report

Problem:
This is similar to the the issue here:
https://github.com/kubernetes/website/issues/14514

Though I believe I know the cause...the nginx:1.7.9 container will crash on modern kernels with vsyscall disabled.  For example on Debian buster kernel 5.4.0-0.bpo.2-amd64 this happens:
[code]

This issue is extremely annoying to troubleshoot. There are no container logs indica

[2020-03-08 16:02] ysyukr commented on #19367
/close

[2020-03-08 16:02] #19367 closed

[2020-03-08 16:02] ysyukr commented on #18671
/close

[2020-03-08 16:02] #18671 closed

[2020-03-08 17:23] #19327 closed

[2020-03-08 18:30] princeanurag2011 opened #19552 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/high-availability/"
**This is a Bug Report**

**Problem:**
**Tried implemting below:**
Highly Available clusters with kubeadm
( **Stacked control plane and etcd nodes**)
and the final output it obtained as below:
**But role is not changed as master for second node k8s-ha-master02**

|NAME                   | STATUS  | ROLES    | AGE  | VERSION  |
|--------------------|----------|-----------|-------|------------|
|k8s

[2020-03-08 19:12] neolit123 commented on #19552
/sig cluster-lifecycle
/triage support

the only way for this to happen is if you are joining worker nodes instead of control-plane nodes.
e.g. missing `--control-plane` flag for `kubeadm join`.

...or if you have an external service that is intentionally unlabeling control-plane ("master") nodes.

the steps are already well documented.
it's unlikely we are going to add screenshots for this docume

[2020-03-08 19:12] #19552 closed

[2020-03-08 19:38] AndrewSav commented on #19498
@sftim sorry, what does "awaiting-more-evidence" mean? Is there any doubt, that what's described above is actually happening?

[2020-03-08 20:50] kbhawkey commented on #19206
@Colstuwjx , Thanks for creating this issue.

[2020-03-08 21:36] sftim commented on #19498
@AndrewSav you can find the [definitions](https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#define-priority) online.

How important is this to fix? With more details about the impact,  this issue could potentially be triaged onto the backlog.

[2020-03-08 22:06] sftim commented on #19531
Fixed in #19539
/close

[2020-03-08 22:06] #19531 closed

[2020-03-08 22:47] sftim commented on #19545
This seems worth fixing at some point.
/priority backlog

[2020-03-08 22:50] sftim commented on #19494
I wonder if it make sense to remove the section at https://kubernetes.io/docs/tasks/manage-kubernetes-objects/declarative-config/#defining-controller-selectors-and-podtemplate-labels entirely?

[2020-03-08 23:02] sftim commented on #19417
/close

[2020-03-08 23:02] #19417 closed

[2020-03-08 23:06] vishakhanihore commented on #17108
/close

On Mon, 9 Mar, 2020, 02:14 fejta-bot, <notifications@github.com> wrote:

[2020-03-08 23:06] #17108 closed

[2020-03-08 23:08] sftim opened #19554 "Signpost readers from /docs/home/ to /training/"
**This is a Feature Request**

**What would you like to be added**
https://kubernetes.io/docs/home/ has a heading “Learn how to use Kubernetes” and text

Add another sentence to tell readers that training is available, and include a hyperlink to [`/training/`](https://kubernetes.io/training/).

**Why is this needed**
This change will help readers see that training is available.

**Comments**
/lang

[2020-03-08 23:08] sftim commented on #19554
/priority backlog

[2020-03-08 23:23] sftim commented on #19478
/kind bug

[2020-03-08 23:26] sftim opened #19555 "Add a “What's next” section to Persistent Volumes concept"
**This is a Feature Request**

**What would you like to be added**
Add a “What's next” section, using Hugo page structure, to the concept page about Persistent Volumes.

**Why is this needed**
https://kubernetes.io/docs/concepts/storage/persistent-volumes/ is related to several other concepts, and it's useful to signpost readers to those other pages (including task and reference pages).

**Comment

[2020-03-09 00:50] HattiMaTimTim opened #19556 "Wrong legend for “Using a Service to Expose Your App”"
**This is a Bug Report**

In "Services and Labels, in the legend, the pink cube should be labeled as container. The blue octagon is correctly identified as Node. Pods should be shown as green (or variants of it) circles.

[2020-03-09 03:07] #19218 closed

[2020-03-09 03:15] #18118 closed

[2020-03-09 03:37] CriaHu commented on #18552
@tanjunchen  It's fixed

[2020-03-09 03:41] CriaHu commented on #18552
Let me confirm

[2020-03-09 03:43] lsyarn opened #19558 "Issue with k8s.io/zh/docs/tutorials/kubernetes-basics/update/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

Diagram in this page can not switch。

[2020-03-09 06:12] CriaHu commented on #18552
https://github.com/kubernetes/website/pull/19562

[2020-03-09 06:53] joekamibeppu commented on #19248
I've opened a PR for this issue [here](https://github.com/kubernetes/website/pull/19563).

[2020-03-09 06:53] #18552 closed

[2020-03-09 08:19] zhiyanliu opened #19564 "Issue with k8s.io/docs/concepts/policy/pod-security-policy/"
**This is a Bug Report**

**Problem:**
I failed to use `podsecuritypolicies` resource after I prepare it and rbac based on the example yaml snippet in the doc https://v1-14.docs.kubernetes.io/docs/concepts/policy/pod-security-policy/#via-rbac .

**How to reproduce/what I tested:**
[code]

1. In the rules of above `ClusterRole` resource I used `policy` api group for `podsecuritypolicies` resource a

[2020-03-09 09:09] tengqm commented on #19564
em ... on the contrary, things are migrating out of the extensions API group which is being dropped.

[2020-03-09 09:18] zhiyanliu commented on #19564
hm? I tested this rules on v1.14.9[0] with `kubectl auth can-i use`, it always returns `no` until I update the group to `extensions`.

[0] same case for 1.14 doc, https://v1-14.docs.kubernetes.io/docs/concepts/policy/pod-security-policy/#via-rbac

[2020-03-09 09:59] sftim commented on #14724
/remove-lifecycle stale

[2020-03-09 10:01] sftim commented on #14639
/remove-lifecycle stale

[2020-03-09 10:01] sftim commented on #14713
/remove-lifecycle stale

[2020-03-09 10:13] sftim commented on #14742
/remove-lifecycle stale

[2020-03-09 10:41] sftim commented on #16006
/remove-lifecycle stale

[2020-03-09 10:55] sftim commented on #14992
/remove-lifecycle stale

[2020-03-09 10:55] sftim commented on #15909
/remove-lifecycle stale

[2020-03-09 10:55] sftim commented on #15907
/remove-lifecycle stale

[2020-03-09 10:56] sftim commented on #15957
/remove-lifecycle stale

[2020-03-09 10:56] sftim commented on #16209
/remove-lifecycle stale

[2020-03-09 10:57] sftim commented on #15461
/remove-lifecycle stale

[2020-03-09 10:57] sftim commented on #14822
/remove-lifecycle stale

[2020-03-09 11:00] sftim commented on #14727
/remove-lifecycle stale

[2020-03-09 11:00] sftim commented on #16059
/remove-lifecycle stale

[2020-03-09 11:00] sftim commented on #15709
/remove-lifecycle stale

[2020-03-09 11:00] sftim commented on #15539
/remove-lifecycle stale

[2020-03-09 11:01] sftim commented on #15498
/remove-lifecycle stale

[2020-03-09 11:43] jonayoung2003 opened #19570 "Failed to pull image "gcr.io/hello-minikube-zero-install/hello-node""
I'm trying to learn kubernetes. But when I run the tutorial here: https://kubernetes.io/docs/tutorials/hello-minikube/ with minikube, I cannot pull the image.

Specifically, when I run `kubectl create deployment hello-node --image=gcr.io/hello-minikube-zero-install/hello-node` and then run `kubectl get deployments`, the deployment is never ready:
[code]
I then ran `kubectl get events` and it says:

[2020-03-09 11:43] #19570 closed

[2020-03-09 11:44] jonayoung2003 commented on #19570
I managed to fix this by disabling my VPN.

[2020-03-09 12:01] #19409 closed

[2020-03-09 12:03] max-rocket-internet commented on #12322
/remove-lifecycle stale

[2020-03-09 12:03] #19555 closed

[2020-03-09 12:03] max-rocket-internet commented on #12322
I still want to know the policy here 😅

[2020-03-09 13:42] kvp-cs commented on #19325
**taskset** shows affinity for an already running thread/process. Whereas I am looking for an answer to the question "which CPU-ID can be used to set affinity for my thread". For example, the host may have 24 cores: 0-23.
Using CPUManager feature, my POD asked for 4 cores. How do I know whether the cores given to my container are {0,1,2,3} or {4,5,6,7} or {20,21,22,23} ?? I need this information t

[2020-03-09 13:52] sftim commented on #19325
This sounds like a support question.
/triage support

As far as I know, nothing on the page at https://kubernetes.io/docs/tasks/administer-cluster/cpu-management-policies/ describes narrowing the set of CPU cores that container's processes could be scheduled onto.

However, https://kubernetes.io/docs/tasks/administer-cluster/topology-manager/ may be relevant.

[2020-03-09 13:55] sftim commented on #19325
After rereading the page I still think that `taskset` would display the information needed.

[2020-03-09 14:35] kvp-cs commented on #19325
Can you help me with an example:
From the manpage of taskset:
     **taskset [options] mask command**
       taskset is used to set or retrieve the CPU affinity of a running process given its PID or _to launch a new COMMAND with a **given CPU affinity**_.  CPU affinity is a scheduler property that "bonds"  a  process to  a given set of CPUs on the system.

If my command name (new process to be sta

[2020-03-09 15:02] sftim commented on #19325
I'm talking about the **retrieval** part. I assume that you want to narrow the set of CPUs so that some processes / threads are run on a subset of the container's CPU affinity set.
If `taskset` shows you the set of CPUs that the process is allowed to use, then you can use that set of allowed CPUs and write code to choose a subset.

[2020-03-09 15:38] php-coder commented on #19564
Yes, it was `extensions` in older versions but it was moved to `policy` some versions ago. I don't think it's a bug.

/sig auth

CC @liggitt

[2020-03-09 15:49] kvp-cs commented on #19325
"If taskset shows you the set of CPUs that the process is allowed to use, then you can use that set of allowed CPUs and write code to choose a subset." -- I would first have to start a process and this process to be able to retrieve.
A machine has 4 CPUs of which 3 are running time-sensitive jobs that cannot be interrupted by some random debug/profiling commands. When I login to the machine to deb

[2020-03-09 15:50] zhiyanliu commented on #19564
So according to the test, i think it’s a minor defect in v1.14 doc, at least.

[2020-03-09 16:02] liggitt commented on #19564
[either authorization check still works](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/security/podsecuritypolicy/admission.go#L345-L351), but the docs should be updated to use the `policy` API group

[2020-03-09 16:12] sftim commented on #14507
/reopen
/remove-lifecycle rotten

[2020-03-09 16:18] zhiyanliu commented on #19564
Agreed, the doc to use updated policy API group. Thanks for point the code out, based on the logic i’m now interested in why the grant always failed in my test, it seems something wrong, i’d like to try it again and past both results here later.

[2020-03-09 16:51] sftim commented on #19325
Thanks for clarifying.

From the page:

If you reserve a CPU for the system using `--reserved-cpus`, and you want to run a debug process that must only be scheduled onto the system reserved CPU, you can do that. Specify an affinity mask for the debug process (or even, for example, for the SSH service) that matches the `--reserved-cpus` affinity.

If you want to run an ephemeral container for debug

[2020-03-09 17:09] jhonmike commented on #13939
PR with the translation of the page _Cluster Administration > **Logging_** >> #19573

[2020-03-09 17:19] sujaypillai commented on #19542
Can we update the pages referenced in this with the same solution?
e.g. [#L30](https://github.com/kubernetes/website/edit/master/content/en/docs/concepts/storage/persistent-volumes.md#L30)  if we navigate to [Storage Class](https://kubernetes.io/docs/concepts/storage/storage-classes/)  page it too has resources in code blocks.

[2020-03-09 17:23] sftim commented on #19542
@sujaypillai that sounds fine.

[2020-03-09 17:38] onlynone commented on #19494
I think it would be better to revise it to be correct. I think the advice to use a single label selector that unambiguously identifies the controller without any other semantic meaning makes sense. Especially in light of the recent changes to make `matchLabels` immutable.

[2020-03-09 17:49] sftim commented on #19494
The wording is anachronistic too; newer documentation doesn't call, eg, ReplicaSet a controller; the control plane runs a replicaset controller and you also have ReplicaSets (not ReplicaSet controllers) in your namespaces that you can see via the API.

[2020-03-09 17:52] sftim commented on #19494
If we want to keep a revised version of https://kubernetes.io/docs/tasks/manage-kubernetes-objects/declarative-config/#defining-controller-selectors-and-podtemplate-labels, I'd want the reviewer to be confident that https://kubernetes.io/docs/tasks/manage-kubernetes-objects/declarative-config/ is the right home for that explanation.

[2020-03-09 18:03] liggitt commented on #19494
I don't think the selector/template section belongs on that page (the rest of that page is about generic declarative config).

I would recommend:
* make a corrected section:
  * use a valid label for the selector and template
  * strengthen the "Updating selectors on controllers is strongly discouraged." warning... it is completely disallowed in apps/v1 versions of workload APIs
* place that secti

[2020-03-09 18:04] sftim commented on #19564
/kind bug

[2020-03-09 18:05] sftim commented on #19564
@zhiyanliu this looks like a fairly small fix.

Would you be willing to revise the issue description and make it clear to a reader what the fix looks like? If you do that, we can add the /help label.

[2020-03-09 18:05] #16727 closed

[2020-03-09 18:06] sftim commented on #19558
Hello @lsyarn

Could you describe what isn't right about https://k8s.io/zh/docs/tutorials/kubernetes-basics/update/ ?

/triage needs-information

[2020-03-09 18:07] sftim commented on #19556
/retitle Wrong legend for “Using a Service to Expose Your App”

[2020-03-09 18:08] sftim commented on #19556
https://k8s.io/docs/tutorials/kubernetes-basics/expose/expose-intro/

[2020-03-09 18:09] sftim commented on #19556
@HattiMaTimTim I think you're right. The blue shape representing a node is a hexagon though.

/kind bug
/priority important-longterm

[2020-03-09 19:06] #15358 closed

[2020-03-09 20:48] Arhell opened #19577 "markdown fix in readme vi"
**This is a Bug Report**

markdown bug

**Problem:**
![1](https://user-images.githubusercontent.com/26163841/76256038-f0367900-6257-11ea-9c82-20358084bc56.jpg)

**Proposed Solution:**

markdown fix

**Page to Update:**

https://github.com/kubernetes/website/blob/master/README-vi.md

/assign
/language vi

[2020-03-09 22:55] divya-mohan0209 commented on #19554
/assign

[2020-03-10 00:23] sftim commented on #19577
Thanks @Arhell
/kind bug
/priority backlog

[2020-03-10 02:18] RainbowMango commented on #18052
/close

[2020-03-10 02:18] #18052 closed

[2020-03-10 02:18] RainbowMango commented on #18052
The flag is on board now.

[2020-03-10 02:22] zhiyanliu commented on #19564
@sftim sure thing, it should be

[2020-03-10 04:58] scubakiz opened #19579 "Improvement for k8s.io/docs/tasks/access-application-cluster/connecting-frontend-backend/"
What is hello?  Is it the backend service name, it is the frontend service, is it the frontend pod!

Could someone please write a demo that makes sense?!?!?!

[2020-03-10 05:25] PeterQiao opened #19580 "Issue with k8s.io/docs/tasks/network/validate-dual-stack/"
**This is a Bug Report**

**Problem:**
[code]
The node won't get Ipv6 address unless a CCM updates the node, please refer this ticket,
https://github.com/kubernetes/kubernetes/issues/88784#issuecomment-596303566

**Proposed Solution:**
Please update this part with more details about when node gets dual stack addresses

**Page to Update:**
https://kubernetes.io/...

v1.17.3

[2020-03-10 06:00] princeanurag2011 commented on #19552
root@k8s-ha-master02:/home/princeanurag2011# whoami
root
root@k8s-ha-master02:/home/princeanurag2011# kubeadm join k8s-ha-loadbalancer:6443 --token henu1g.lca3gryi134327m4 \

[preflight] Running pre-flight checks
        [WARNING IsDockerSystemdCheck]: detected "cgroupfs" as the Docker cgroup driver. The recommended driver is "systemd". Please follow the guide at https://kubernetes.io/docs/setup/c

[2020-03-10 06:02] Colstuwjx opened #19582 "Need to maintain `examples_test.go`"
**This is a Bug Report**
Something inside [examples_test.go](https://github.com/kubernetes/website/blob/dff2f7b9601470dc8383d883b23188ed450d89c2/content/en/examples/examples_test.go#L36) is outdated, the main repo don't have `k8s.io/kubernetes/pkg/api/testapi` such package anymore..

**Problem:**
examples_test.go not synced with main repo and felt little tricky to run test (I think).

**Proposed S

[2020-03-10 08:09] tengqm commented on #19582
The tool has been disable for quite a while after we dropped support to travis. Hopefully it can be resurrected so that we can ensure all the example manifests are valid.

[2020-03-10 08:28] Colstuwjx commented on #19582
The `test-examples` has been removed from build within [PR #15137](https://github.com/kubernetes/website/pull/15137) , the relative remove travis CI PR should be #13598 .

In my opinion, I think maintaining the tests inside website repo is dirty and easily to be outdated with the main repo, it should be one of the test-infra job, even though it maybe website private test job.

/language en
/sig te

[2020-03-10 09:27] princeanurag2011 commented on #19552
I understood the issue..,
I did not give enough time for the Servers to start..
This time I waited for couple of min. before joining node as master in the control plane Cluster.
**It worked!!** :) Thank You!!
#princeanurag25
#princeanurag2011

![K8s-HA-Cluster-Setup](https://user-images.githubusercontent.com/14875953/76297825-8319f680-62de-11ea-88a6-f8439c475984.png)

[2020-03-10 09:59] sftim commented on #19580
/sig network
/priority backlog

[2020-03-10 11:24] sftim commented on #16062
Still a good idea
/remove-lifecycle stale

[2020-03-10 12:37] all43 commented on #17575
Run into this issue when trying to reproduce tutorial on local machine. Due to inconsistency between tutorial modules 2 and 3, it's not possible to fully reproduce the sequence. In the module three deployment runs with containerPort already set to 8080, and in the previous module we create deployment without setting any port, which defaults to 80.

[2020-03-10 12:43] tengqm commented on #19582
We were not able to figure out how to feed the tool with necessary input on netlify. The tool was used to validate all YAML files under the examples subdirectory always work under a given version number. For example, in 1.16, we found that a lot of examples were broken due to the stricter requirement on Deployment labels. With that said, the tool was part of the test job.

[2020-03-10 13:15] sftim commented on #17575
/remove-lifecycle stale

[2020-03-10 13:15] sftim commented on #17575
/kind bug

[2020-03-10 15:26] sbland opened #19588 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
The `Congratulations on completing the module` for module 1 form does not fill screen vertically.

Viewed on Chrome

[2020-03-10 17:42] saikrishna-commits opened #19590 "Issue with k8s.io/docs/tasks/tools/install-kubectl/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-03-10 17:42] #19590 closed

[2020-03-10 17:46] sftim commented on #19503
Done in PR #19523
/close

[2020-03-10 17:46] #19503 closed

[2020-03-10 18:48] yurenchen000 opened #19591 "Issue with page css of markdown heading :before"
**This is a Bug Report**

**Problem:**

seems page css `#docsContent h3:before`  `display: block` cause `chrome 80`
can't select text near (top) content section title.
( `firefox 74` seems same )

[code]

![image](https://user-images.githubusercontent.com/8458213/76346930-c016d500-6340-11ea-8e73-4364379566ff.png)

**Proposed Solution:**

remove `display: block` seems ok for `chrome 80`, `firefox 7

[2020-03-10 20:51] lavalamp commented on #19494
The example documentation is super confusing, there's no need to mention the "controller", that's done automatically via owner reference. I feel like this piece of documentation is a holdover from 6 years ago or something?

[2020-03-10 23:13] sftim commented on #19591
Thanks for the report @yurenchen000

Did you also want to propose a fix? (if so, help is available to get you started).

[2020-03-10 23:33] sftim commented on #19494
I traced this back to https://github.com/kubernetes/website/pull/2317/files#diff-ad7c0d08681c47b085f3ec4092485271R111-R117

(Kubernetes 1.5)

I don't understand why the problem section is there on the page. If it were removed, who would lose out?

[2020-03-10 23:38] noambenami commented on #18084
Thanks for the response @sftim - any update on this? Cheers!

[2020-03-10 23:44] sftim commented on #14964
/remove-lifecycle stale

[2020-03-10 23:46] sftim commented on #18084
It's still a valid issue. @noambenami there's an open pull request: #18089
If you're willing to, you can provide feedback on that PR (anyone can review).

/remove-lifecycle stale

[2020-03-11 00:09] Colstuwjx commented on #19582
I totally agree that we need this test job to validate whether the given version is working as our expect, and also running job inside netlify is very limited.

I suggest that we could add this job into test-infra job set, just like [release](https://github.com/kubernetes/test-infra/blob/2c8702645f217e63140acc4525881a978c322d03/config/jobs/kubernetes/release/release-config.yaml) and [kustomize](ht

[2020-03-11 00:19] noambenami commented on #18084
Thanks @sftim ! Reviewed and added comment.

[2020-03-11 00:45] yong-qq opened #19594 "Issue with k8s.io/docs/tutorials/hello-minikube/"
**This is a Bug Report**

There is no output after I type the commands such as kubectl get deployments, kubectl get pods ...

**Problem:**
There is no output after I type the commands such as kubectl get deployments, kubectl get pods ...  I was using Chrome browser on Mac Air with MACOS Mojave version 10.14
**Proposed Solution:**
None

**Page to Update:**
https://kubernetes.io/...

[2020-03-11 01:11] #19456 closed

[2020-03-11 01:12] #19406 closed

[2020-03-11 01:41] #19480 closed

[2020-03-11 04:17] gorda commented on #18623
I updated this doc in [pr#19595](https://github.com/kubernetes/website/pull/19595)

[2020-03-11 06:43] ysyukr commented on #18670
/close

[2020-03-11 06:43] #18670 closed

[2020-03-11 07:08] tanjunchen commented on #18623
@gorda thanks
you can close this issue once  19595 is merged

[2020-03-11 07:50] RA489 commented on #19594
@yong-qq  Do you mind adding some additional details? Here is additional information that would be helpful:
The exact minikube start command line used.
The full output of the minikube status command.

[2020-03-11 07:51] RA489 commented on #19395
/triage needs-information

[2020-03-11 07:57] RA489 commented on #19167
@ravivp As a workaround If you want you can skip preflight error using `--ignore-preflight-errors=NumCPU`

[2020-03-11 07:58] RA489 commented on #19057
/triage needs-information

[2020-03-11 08:03] RA489 commented on #18612
@dwschulze can you please provide these details to replicate the issue further.
The exact minikube start command line used
The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.
The full output of minikube logs

[2020-03-11 08:04] RA489 commented on #18522
/triage needs-information

[2020-03-11 08:57] yurenchen000 commented on #19591
I just remove `display: block` of
[code]

I only test with `chrome 80`, `firefox 74`, not sure other browsers effect,

I don't have a deep understanding of `CSS / SCSS`,

So I hope professionals can handle it properly.

[2020-03-11 09:52] sftim commented on #18038
/remove-lifecycle stale

Relevant to:
/sig release

[2020-03-11 11:59] Arhell commented on #19591
/assign @Arhell

[2020-03-11 14:21] Arhell commented on #19577
resolve
/close

[2020-03-11 14:21] #19577 closed

[2020-03-11 19:53] Arhell commented on #19511
resolve
/close

[2020-03-11 19:53] #19511 closed

[2020-03-11 20:55] #16851 closed

[2020-03-11 20:55] #15720 closed

[2020-03-11 20:55] #16844 closed

[2020-03-11 20:55] #16803 closed

[2020-03-11 20:55] #16028 closed

[2020-03-11 23:18] HattiMaTimTim commented on #19556
Y, the blue shape is correct. The filled purple cube says “pod” - should instead say “container”.. :-)

[2020-03-12 03:20] lgarron commented on #2644
/remove-lifecycle stale although I'm getting the impression at this point that website security is not a priority. :-P

[2020-03-12 04:08] RA489 commented on #19222
/assign

[2020-03-12 06:16] ysyukr commented on #18519
/close

[2020-03-12 06:16] #18519 closed

[2020-03-12 07:15] #18292 closed

[2020-03-12 08:29] sftim commented on #2644
@lgarron Is there a threat [model] that's important to bear in mind?

[2020-03-12 09:06] Arhell commented on #19591
@sftim
I found several solutions to this bug:
1) Remove it, but then it will enter an anchor a little higher, will be hiding behind a fixed header.
2) Add one property, but the tag with the link will not work, more precisely it will, but there is no hover and focus
3) Add all tags ol p ul relative and h negative to before but this will not remove the problem as a whole

[2020-03-12 09:57] timothyclarke opened #19611 "Issue with k8s.io/docs/concepts/configuration/secret/ Incorrect references to readOnly"
**This is a Bug Report**

**Problem:**
Multiple references to `readOnly` `true`.    `readOnly` defaults to `true` and it is no longer possible to set `readOnly` to `false`

**Proposed Solution:**
Remove references to `readOnly`
Optionally comment that secrets are not editable within a pod

**Page to Update:**
https://kubernetes.io/docs/concepts/configuration/secret/

Kubernetes Version:
I'm on 1.1

[2020-03-12 10:30] lsyarn commented on #19558
Click next can not switch between fours images in section **Rolling updates overview** 。Seems like the four `div`s missed a style class `carousel-item` in line [100](https://github.com/kubernetes/website/blob/16ff8f55a0bd3b815967f82f29eb6c85c86b708e/content/zh/docs/tutorials/kubernetes-basics/update/update-intro.html#L100) and 104, 108, 102。

[2020-03-12 11:46] sftim commented on #19558
Thanks for clarifying
/remove-triage needs-information

[2020-03-12 11:53] dj-arezki opened #19614 "Issue with k8s.io/fr/docs/tutorials/hello-minikube/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-03-12 20:18] #16906 closed

[2020-03-12 20:18] #15618 closed

[2020-03-12 20:53] onlynone commented on #19494
@sftim

I'm confused when you say, "The wording is anachronistic too; newer documentation doesn't call, eg, ReplicaSet a controller;"

I didn't see anywhere in that section where it called a ReplicaSet a controller. It seemed to be about Deployments. This is the current content:

[2020-03-12 20:55] onlynone commented on #19494
@sftim

I'm confused when you say, "The wording is anachronistic too; newer documentation doesn't call, eg, ReplicaSet a controller;"

I didn't see anywhere in that section where it called a ReplicaSet a controller. It seemed to be about Deployments. This is the current content:

[2020-03-12 21:19] sftim commented on #19494
To be clear, newer documentation also doesn't call a Deployment a controller. There definitely is a deployment controller in your cluster (or something needs fixing), but a while ago people realized that the resource and its control loop are different things.

I'm yet to be convinced that https://kubernetes.io/docs/tasks/manage-kubernetes-objects/declarative-config/#defining-controller-selectors-a

[2020-03-12 22:20] #15870 closed

[2020-03-12 23:51] vanou commented on #17181
@vishakhanihore Sorry. I have no time to work on this issue. So, if possible, please take over this issue.

In brief, to tackle this issue
 1. Determine whether to use `root` or not in doc by yourself
 1. Claim your idea & discuss at community
 1. Make consensus
 1. Modify doc according to consensus

See meeting video at 2019/12/10 for what was discussed.

/remove-lifecycle stale

[2020-03-13 00:03] ysyukr opened #19620 "Translate storage/dynamic-provisioning.md in Korean."
**This is a Feature Request**

**What would you like to be added**
Translate storage/dynamic-provisioning.md in Korean.

**Why is this needed**
The following files are not translated into Korean.
- [ ] /en/docs/concepts/storage/dynamic-provisioning.md

**Comments**
Page to update: https://kubernetes.io/docs/concepts/storage/dynamic-provisioning/

I am translating this document.
The translated docu

[2020-03-13 00:03] ysyukr commented on #19620
/assign

[2020-03-13 00:28] Arhell opened #19621 "Invalid Anchor in readme"
**This is a Bug Report**
Invalid Anchor in readme

**Proposed Solution:**
Update link
![7a29e88009](https://user-images.githubusercontent.com/26163841/76578730-37c83980-64d2-11ea-8bb3-d765d33ecd26.jpg)

**Page to Update:**
https://github.com/kubernetes/website/blob/master/README-zh.md

/assign
/language zh

[2020-03-13 03:02] zestrells commented on #19545
/assign

[2020-03-13 05:37] Colstuwjx commented on #19579
Do you mean the word `hello` in Service\Upstream\Backend is different thing, and should take another naming?

/language en
/triage support

[2020-03-13 05:55] Colstuwjx commented on #19588
I have been checked, it looks like wasn't a big problem:

![image](https://user-images.githubusercontent.com/3972545/76593589-c029f700-6531-11ea-9e39-2e2ceccceb96.png)

BTW, I have been checked the frontend code on Chrome, the interactive terminal is a iframe, see [this line code](https://github.com/kubernetes/website/blob/master/content/en/docs/tutorials/kubernetes-basics/create-cluster/cluster-i

[2020-03-13 06:41] Colstuwjx commented on #19611
Thanks for creating this issue, now I also learned about this! The flag `ReadOnlyAPIDataVolumes` has been removed within [k/k PR 67951](https://github.com/kubernetes/kubernetes/pull/67951/files#diff-84e72664a7cc9add01954d3a7b8cbb45L249) since v1.12, see [CHANGELOG](https://github.com/kubernetes/kubernetes/blame/9d1179360cfc9fb6e905252cccd482b987d45393/CHANGELOG/CHANGELOG-1.12.md#L1739).

I think t

[2020-03-13 06:46] lgarron commented on #2644
The main one is securing the first visit from a given browser profile. https://scotthelme.co.uk/hsts-the-missing-link-in-tls/

If someone tells you "visit kubernetes.io" and you type it into your URL bar, that initial visit is not secured. This makes it fairly easy to intercept and modify the request in certain common scenarios where you'd be typing in the URL the first time, like coffee shop or c

[2020-03-13 07:47] Colstuwjx opened #19624 "Netlify changes to redirects behavior about forced rules and file shadowing"
**This is a Bug Report**
According the netlify announcement, **If you have a redirect rule that’s not explicitly marked as forced, and you also have a file under the same path, we will serve the file.**

See details with netlify announcement: https://community.netlify.com/t/changed-behavior-in-redirects/10084 , netlify will change the redirects behavior about forced rules and file shadowing, and w

[2020-03-13 07:53] Colstuwjx commented on #19624
/kind bug

priority to this?
/priority important-soon

[2020-03-13 09:10] patrakov opened #19625 "Issue with k8s.io/docs/tutorials/kubernetes-basics/expose/expose-intro/"
**This is a Bug Report**

**Problem:**
There is a side note:

However, `kubectl create deployment --help` does not list `--expose` as a valid flag, and in fact does not accept it.

**Proposed Solution:**

Remove the side note? Or, if I am supposed to pass --expose elsewhere, reword it to avoid this misunderstanding?

**Page to Update:**

https://kubernetes.io/docs/tutorials/kubernetes-basics/expos

[2020-03-13 11:18] sftim commented on #19624
We think (without detailed checking so far) that this will need changes to fix it
/cc

[2020-03-13 11:54] #19485 closed

[2020-03-13 12:03] sftim commented on #2644
What I'm thinking is: it's a static documentation and project website. I can see how an attacker could intervene to, for example, mislead you about what fields a Pod has. Are there attacks with more serious consequences? If mitigating those is important it'd affect the priority this gets.

[2020-03-13 12:07] oliversalzburg commented on #18012
Gonna close this right away. Appears pointless

[2020-03-13 12:07] #18012 closed

[2020-03-13 12:12] Colstuwjx commented on #19624
@sftim Could you please paste the netlify mail content ( the checklist ) into this issue, just like [kubeflow/website 1794](https://github.com/kubeflow/website/issues/1794) did, it could help us more effectively track the needed changes.

[2020-03-13 15:30] oke-py opened #19627 "Create Security Bulletins page and RSS/Atom feed"
**This is a Feature Request**

**What would you like to be added**

I'd like the team to publish a security bulletin when a vulnerability is found.
I need information such as below like [Istio Security Bulletins](https://istio.io/news/security/).
- affected releases
- CVSS v3 score
- CVE(s)
- how to detect
- how to mitigate

**Why is this needed**

Security Bulletins enable us to quickly make sure

[2020-03-13 17:00] joefradley opened #19629 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro/"
**This is a Bug Report**

**Problem:**
The diagram images are nice. But they're too small to actually read the text on them and there is no easy way to zoom in.

**Proposed Solution:**
 * Use higher resolution images.
 * Have images open a modal when clicked.

**Page to Update:**
https://kubernetes.io/...

[2020-03-13 17:18] sftim commented on #19624
<details>
<summary>The redirect rules listed below are currently behaving as forced redirects (redirecting past existing content), even though you haven’t explicitly configured them to do so. You may want to check each redirect to be sure you want to continue this behavior, and if so, explicitly mark the rule as forced. In a <tt>_redirects</tt> file, you can do this by adding <tt>!</tt> to the red

[2020-03-13 17:19] sftim commented on #19624
@Colstuwjx would you be willing to revise the issue description to match?

[2020-03-13 17:50] lgarron commented on #2644
Well, a user doesn't know what should be on the site when they first visit it. A more innocent change would be something that injects branding/ads/browsing session information that interferes with the site, possibly breaking some of the JS or layout.

A more targeted attack in this case might be to add a big line near the top saying:

https://www.youtube.com/watch?v=YMfW1bfyGSY

[2020-03-13 21:20] pasimoes commented on #13939
Hi @femrtnz I'd like to trasnslate
/docs/concepts/overview/what-is-kubernetes/
Can you assign to me?

[2020-03-13 23:35] Colstuwjx commented on #19624
Yes, let me give a try.
/assign

[2020-03-14 05:43] Colstuwjx opened #19634 "some left `redirect_from` inside zh pages"
**This is a Bug Report**
See [search results](https://github.com/kubernetes/website/search?q=redirect_from&unscoped_q=redirect_from), there are some `redirect_from` which ONLY left in zh pages, I wonder whether we need to clean these things, since we did have site redirect file, for example, like [this](https://github.com/kubernetes/website/blob/05bf8be2051737abd92c666bea545bc9a40140ec/static/_red

[2020-03-14 05:46] Colstuwjx commented on #19634
/cc  [@kubernetes/sig-docs-zh-reviews](https://github.com/orgs/kubernetes/teams/sig-docs-zh-reviews)

[2020-03-14 06:04] oke-py commented on #19627
What I want most is CVSS score.

[2020-03-14 13:53] RA489 commented on #19614
/triage needs-information

[2020-03-14 14:01] oke-py commented on #19627
This page can be used.
https://github.com/kubernetes/kubernetes/security/advisories

ref: envoy security advisories
https://github.com/envoyproxy/envoy/security/advisories

[2020-03-14 21:42] oke-py commented on #19627
It'll probably be other sigs' task. Should I open an issue in k/k?

[2020-03-15 03:06] #19627 closed

[2020-03-15 07:01] jayantredhat opened #19638 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/"
**This is a Bug Report**

When I try to login with exec/logs through kubectl then bellow error in terms of pod or container...
Error from server: error dialing backend: dial tcp XX.XX.XX.XX:10250: connect: connection refused

**Problem:**
Error from server: error dialing backend: dial tcp XX.XX.XX.XX:10250: connect: connection refused
**Proposed Solution:**

**Page to Update:**
https://kubernetes.

[2020-03-15 09:08] inductor opened #19642 "Fix terminology of Projected Volume in Japanese"
**This is a Feature Request**

Fix projected volume in Japanese

Ref. https://github.com/kubernetes/website/pull/19240

**What would you like to be added**
feature-gate.md will be fixed

**Why is this needed**

**Comments**

[2020-03-15 13:39] lordofgore opened #19644 "Issue with k8s.io/docs/setup/best-practices/node-conformance/"
Inability to run test containers

**Problem:**
As per https://kubernetes.io/docs/setup/best-practices/node-conformance/
docker run -it --rm --privileged --net=host -v /:/rootfs -v $CONFIG_DIR:$CONFIG_DIR -v $LOG_DIR:/var/result k8s.gcr.io/node-test:0.2

** Expected result **
Validation tests running

** Actual result **
Tests are not running because of incompatibility with overlay2:
system validat

[2020-03-15 14:26] princeanurag2011 opened #19647 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/"
**This is a Bug Report**

**Problem:**
I have done setup in AWS using kubeadm
1-master node and 2 worker nodes..

-----------------------------------------------------------------------
I tried these commands..
kubectl run nginx --image=nginx --replicas=1;
kubectl expose deploy nginx --name=nginx-cl --port=80;
kubectl expose deploy nginx --name=nginx-np --port=80 --type=NodePort;
kubectl expose de

[2020-03-15 15:07] neolit123 commented on #19647
hi, given this is not a bug / feature request, please use the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/triage support
/close

[2020-03-15 15:07] #19647 closed

[2020-03-15 15:19] neolit123 commented on #19638
please use the support channels for questions:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

thanks
/close
/triage support

[2020-03-15 15:19] #19638 closed

[2020-03-15 23:31] #16218 closed

[2020-03-15 23:31] #15603 closed

[2020-03-16 00:24] Colstuwjx commented on #19624
@sftim Sorry, I misread it. I have been updated the issue description, added the checklist.

[2020-03-16 01:02] brianpursley commented on #19340
All PRs have been merged.

/close

[2020-03-16 03:05] sunminjeon opened #19649 "Translate concepts/storage/volume-snapshots in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/storage/volume-snapshots in Korean.

**Why is this needed**
No translation with concepts/storage/volume-snapshots in Korean.

**Comments**

Page to Update:
https://kubernetes.io/docs/concepts/storage/volume-snapshots/

[2020-03-16 03:05] sunminjeon commented on #19649
/language ko
/assign

[2020-03-16 03:42] Lmraza98 opened #19650 "Issue with k8s.io/docs/tasks/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-03-16 05:18] #18294 closed

[2020-03-16 05:50] #19222 closed

[2020-03-16 06:24] truongnh1992 commented on #18597
Thank you @sftim for reporting this bug. The PR #19020 already fixed it,

[2020-03-16 06:24] #18597 closed

[2020-03-16 06:42] ykthree opened #19653 "docker kubectl"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-03-16 06:42] #19653 closed

[2020-03-16 07:52] scott-jiang opened #19654 "Issue with k8s.io/zh/docs/tutorials/hello-minikube/"
Version 1.6.0-beta.0 - 2019-11-15

Remove heapster addon #5243

if you run minikube version: v1.8.2 or later
minikube addons enable heapster

will get error message

enable failed: heapster is not a valid addon

[2020-03-16 09:46] marbortechie opened #19656 "Issue with k8s.io/docs/setup/production-environment/windows/user-guide-windows-nodes/"
**This is a Bug Report**

**Problem:**
cni-conf.json example missing cniVersion
**Proposed Solution:**
add "cniVersion": "0.3.1"
**Page to Update:**
https://kubernetes.io/docs/setup/production-environment/windows/user-guide-windows-nodes/

[2020-03-16 13:07] gochist opened #19662 "Outdated files in the dev-1.17-ko.7 branch"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.17-ko.7 branch.

### 58 files to be modified
1. [ ] content/en/_index.html 1 file changed, 2 insertions(+), 2 deletions(-)
1. [ ] content/en/docs/concepts/architecture/nodes.md 1 file changed, 3 insertions(+), 1 deletion(-)
1. [ ] content/en/docs/concepts/configuration/assign-pod-node.md 1 file changed, 9 insertions(+), 8 delet

[2020-03-16 13:25] Colstuwjx opened #19663 "Optimize update-imported-docs scripts"
**This is a Feature Request**
From now, we need to git clone the whole k/k repo while exec ref docs generate, see the [reference.yml](https://github.com/kubernetes/website/blob/694815d4547b485797381e755067ce7300c6811b/update-imported-docs/reference.yml#L9).

**What would you like to be added**
Make the `git clone` with a single specific branch, thus, we don't need to clone the whole repo (the k/k

[2020-03-16 13:39] Colstuwjx opened #19666 "update-imported-docs would break on macOS"
**This is a Bug Report**
We're use the python tempfile module to [make the temp dir](https://github.com/kubernetes/website/blob/master/update-imported-docs/update-imported-docs.py#L206) , but I found that it broken on macOS, see [this ref](https://stackoverflow.com/questions/847850/cross-platform-way-of-getting-temp-directory-in-python), macOS would return sth like `/var/folders/xxx/xxx`, and the

[2020-03-16 14:15] dns2utf8 commented on #18106
/remove-lifecycle stale

[2020-03-16 14:16] eino-makitalo opened #19668 "Issue with k8s.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-15/"
**This is a Minor bug/editorial report**

**Problem:**
Link is broken https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.15.md
in text Read release notes carefully....

**Page to Update:**
https://v1-15.docs.kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-15/

[2020-03-16 15:28] neolit123 commented on #19668
/sig docs cluster-lifecycle
/kind bug
1.15 is going out of support later this month, so we might leave this particular link broken.

but this is now a problem for all of the releases because k/k moved the changelogs to a new folder: https://github.com/kubernetes/kubernetes/tree/master/CHANGELOG

i can send a PR to fix this in 1.18 at least.

[2020-03-16 16:15] ysyukr commented on #19662
/assign

[2020-03-16 16:48] #17003 closed

[2020-03-16 17:49] #16981 closed

[2020-03-16 17:49] #16830 closed

[2020-03-16 20:41] zacharysarah commented on #19624
@Colstuwjx Thanks for opening an issue with these changes.

We're receiving multiple emails for different production branches. (Each past release has its own production branch.) Because multiple branches are affected, I think it makes sense to:

1. Treat this issue as an umbrella issue. ☂️
2. Open separate issue with redirects for each affected branch.
3. Change this issue's description to:
    a.

[2020-03-16 20:59] zacharysarah opened #19670 "Netlify redirects: master branch"
**This is a bug report.**

/kind bug

This PR is under the #19624 umbrella. ☂️

This PR lists affected redirects in the `master` branch.

**Note:** Unless these redirects are resolved quickly, at the 1.18 release the contents of `master` will become `release-1.18` and `dev-1.19` while `master` continues. This means that instead of one branch needing resolution, two new branches will have the same

[2020-03-16 21:00] zacharysarah commented on #19670
/priority critical-urgent

[2020-03-16 21:00] zacharysarah commented on #19670
/sig docs

[2020-03-16 21:21] Arhell opened #19671 "Docs page on mobile renders poorly"
**This is a Bug Report**
Update styles

**Problem:**
![a37d9a6435](https://user-images.githubusercontent.com/26163841/76800688-dc04f580-67dc-11ea-94e6-6dffd95fdd48.jpg)

**Proposed Solution:**
Add media for this page

**Page to Update:**

https://kubernetes.io/docs/home/

/assign

[2020-03-16 22:55] LSmyrnaios commented on #19340
Thank you

[2020-03-16 22:55] #19340 closed

[2020-03-16 23:21] viniciusbds commented on #19650
/triage needs-information

[2020-03-16 23:31] sftim commented on #19671
@Arhell can I suggest another title tweak?
“Docs page on mobile renders poorly”

[2020-03-17 00:58] Colstuwjx commented on #19624
As far as I know, the netlify redirects change would change the behavior to: **if there is a redirect rule which the path matches the exist file, it would choose the file by default, and you need to set forced=true while you're very sure to do this redirect**.

And I have scanned the redirect rules under the `_redirects`, it seems ONLY [this line](https://github.com/kubernetes/website/blob/master/

[2020-03-17 02:31] sunminjeon opened #19675 "Fix typo /concepts/storage/volume-snapshots"
**This is a Feature Request**

**What would you like to be added**

Fix typos in the following locations (/concepts/storage/volume-snapshots)

**Why is this needed**
Fix typos in the following locations (/concepts/storage/volume-snapshots)

**Comments**

Page to Update:
https://kubernetes.io/docs/concepts/storage/volume-snapshots/

[2020-03-17 02:35] sunminjeon commented on #19675
/language en

[2020-03-17 02:35] #19675 closed

[2020-03-17 02:41] sunminjeon opened #19676 "Typo in /concepts/storage/volume-snapshots"
**This is a Bug Report**

**Problem:**
There's a wrong spelling in /concepts/storage/volume-snapshots/

**Proposed Solution:**
Correct the typo

before : These **attibutes** may differ among snapshots taken from the same volume on the storage system and therefore cannot be expressed by using the same StorageClass of a PersistentVolumeClaim.

after : These **attributes** may differ among snapshots

[2020-03-17 02:41] sunminjeon commented on #19676
/kind cleanup
/language en
/assign

[2020-03-17 03:46] habibridho commented on #18078
/close

[2020-03-17 03:46] #18078 closed

[2020-03-17 04:30] princeanurag2011 opened #19678 "Issue with k8s.io/docs/concepts/cluster-administration/certificates/"
**This is a Bug Report**

**Problem:**
Tried OPENSSL
1,2 commands and got this error:
#openssl req -x509 -new -nodes -key ca.key -subj "/CN=${MASTER_IP}" -days 10000 -out ca.crt
**error:**
problems making Certificate Request
140247203160512:error:0D07A098:asn1 encoding routines:ASN1_mbstring_ncopy:string too short:../crypto/asn1/a_mbstr.c: 100 :minsize=1

**Proposed Solution:**

**Page to Update:*

[2020-03-17 04:59] pjhwa opened #19679 "Typo in /contribute/participating.md"
**This is a Bug Report**

**Problem:**
Typo "CLA" in /contribute/participating.md

**Proposed Solution:**
"CLS" -> "CLA"

before: [CLS에 서명](https://github.com/kubernetes/website/blob/master/docs/contribute/start#sign-the-cla) 후에 누구나 다음을 할 수 있다.
after: [CLA에 서명](https://github.com/kubernetes/website/blob/master/docs/contribute/start#sign-the-cla) 후에 누구나 다음을 할 수 있다.

**Page to Update:**
https://kube

[2020-03-17 04:59] pjhwa commented on #19679
/language ko
/assign

[2020-03-17 05:53] princeanurag2011 commented on #19678
it's working when updated with master node ip address

[2020-03-17 05:53] #19678 closed

[2020-03-17 06:36] shrivastavshubham34 opened #19680 "Issue with k8s.io/docs/tutorials/stateful-application/zookeeper/"
**This is a Bug Report**

**Problem:**
Pods keeps restarting and Crashes.
![image](https://user-images.githubusercontent.com/13406071/76828556-79acf480-67de-11ea-99c5-bd5373a42425.png)

**Page to Update:**
https://kubernetes.io/...

Please downgrade the GCR image of the zookeeper to a stable one.
Below is my EKS config
![image](https://user-images.githubusercontent.com/13406071/76828791-f17b1f00-6

[2020-03-17 09:44] sunminjeon commented on #19676
/resolve
https://github.com/kubernetes/website/pull/19684

[2020-03-17 09:46] sunminjeon commented on #19676
/close

[2020-03-17 09:46] #19676 closed

[2020-03-17 11:07] SidGrundfos opened #19688 "Ingress DNS name issue"
Hi Team,
I am facing an weird issue -
I create a public IP in azure and used it in the ingress controller in AKS. (terraform scripts)
After creation the DNS name was still empty in azure. But I manually updated the field to the desired name.
Now I see the cluster frequently updates the public ip with empty dns names. Is there any place in the k8s cluster which holds the name as empty when the ingr

[2020-03-17 11:50] sftim commented on #19688
@SidGrundfos it sounds like you're looking for help with Kubernetes. However, GitHub is not the right place for support requests.

For help, you can check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) (you can use the `kubernetes` tag).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.i

[2020-03-17 13:32] #19634 closed

[2020-03-17 14:33] kbhawkey commented on #19670
I have time to do this. Temporarily assigning myself unless someone has already started to create the changes.
/assign @kbhawkey

[2020-03-17 14:52] celestehorgan opened #19690 "Add logos to training page"
This is feedback by email from within the CNCF/Linux Foundation: add the CKA/CKAD logos from [here](https://github.com/cncf/artwork/blob/master/examples/other.md#certification-logos) to the [Training](https://kubernetes.io/training/) page.

[2020-03-17 14:52] celestehorgan commented on #19690
I'll take care of this, so assign it to me :)

[2020-03-17 14:54] kbhawkey commented on #19690
/assign @celestehorgan

[2020-03-17 17:11] aaron-kasten opened #19697 "Improvement for k8s.io/docs/concepts/workloads/"
Page is empty.

[2020-03-17 17:38] sftim commented on #14101
/remove-lifecycle stale

[2020-03-17 17:48] #19195 closed

[2020-03-17 22:19] 60south opened #19699 "Improvement for k8s.io/docs/tutorials/kubernetes-basics/expose/expose-interactive/"
Pods are a part of Services, I get that. In this tutorial section we create a new Service, beyond the default Kubernetes Service.

Somehow the Pod that was previously created (kubernetes-bootcamp) that was part of the default Service (kubernetes) becomes a pod inside the new Service. Why? How does the new Service know what Pods what we want? If we had multiple Pods, would they _all_ become part of

[2020-03-17 22:24] #19699 closed

[2020-03-17 22:42] sftim opened #19701 "Minor faults in blog entry Kong Ingress Controller and Service Mesh: Setting up Ingress to Istio on Kubernetes"
**This is a Bug Report**

**Problem:**
The blog entry _Kong Ingress Controller and Service Mesh: Setting up Ingress to Istio on Kubernetes_ has some issues:

1. HTML mixed in with a code block, rendering as:
[code]
2. “And to check pods, run the following command:” is followed by sample output, not a command.

**Proposed Solution:**
Fix blog article

**Page to Update:**
https://kubernetes.io/blog/

[2020-03-17 22:50] sftim commented on #19701
/assign
I'll take a look

[2020-03-17 23:00] sftim commented on #15539
Also see #18599 and #19697

[2020-03-17 23:16] savitharaghunathan commented on #19656
/kind bug
/priority backlog
/language en

[2020-03-17 23:27] sftim opened #19703 "Improve print stylesheet"
**This is a Feature Request**

**What would you like to be added**
Add a stylesheet for printing out the documentation. Remove interactive elements and change styles to suit printing.

**Why is this needed**
This is a low-priority suggestion. Some people (maybe not many, in 2020) like to print out documentation or read it in paged form on e-readers etc.
For that niche of readers, this change will

[2020-03-17 23:31] sftim commented on #19703
[Example: Deploying PHP Guestbook application with Redis](https://github.com/kubernetes/website/files/4346237/guestbook.pdf)) rendered using [Prince](https://www.princexml.com/) 13.

*Pretty good* but with room to improve; see the last page for example.

[2020-03-17 23:32] sftim commented on #19703
/kind feature

[2020-03-18 00:04] sftim commented on #15748
/priority important-longterm
https://github.com/kubernetes/enhancements/pull/1327 is now [doc-policies-for-third-party-content](https://github.com/kubernetes/enhancements/blob/master/keps/sig-docs/20191020-doc-policies-for-third-party-content.md).

[2020-03-18 00:13] #18857 closed

[2020-03-18 04:16] Kartik494 commented on #19654
@scott-jiang Heapster addon is deprectaed and is no longer used.You can find this https://github.com/kubernetes/website/pull/18673

[2020-03-18 04:18] Kartik494 commented on #19650
@Lmraza98 could you provide information where you find the issue in tasks?

[2020-03-18 04:23] RA489 commented on #19629
@jfradley can you please provide the link to that page?

[2020-03-18 04:23] RA489 commented on #19629
/triage needs-information

[2020-03-18 04:25] RA489 commented on #19614
@dj-arezki  can you please let us know what is wrong with hello minikube page?

[2020-03-18 04:52] #19679 closed

[2020-03-18 05:27] ysyukr opened #19707 "Glossary correction required for kube-scheduler."
**This is a Bug Report**
**Problem:**
The definition of kube-scheduler has changed in  #18092 .

However, kube-scheduler detects new pods and places pods on unassigned nodes, rather than placing nodes on unassigned nodes.
https://kubernetes.io/docs/concepts/scheduling/kube-scheduler/

**Proposed Solution:**
Need a kube-scheduler's glossary change.

***before***
Control plane component that watches

[2020-03-18 05:27] ysyukr commented on #19707
/language en
/assign

[2020-03-18 05:57] pjhwa opened #19709 "Translation error correction in /concepts/overview/what-is-kubernetes.md"
**This is a Bug Report**

**Problem:**
Translation error correction in /concepts/overview/what-is-kubernetes.md
1. spacing error
2. mistranslation
3. replace translated words as words of glossary

**Proposed Solution:**
before: 쿠버네티스란 명칭은 키잡이(helmsman)이나 파일럿을 뜻하는 그리스어에서 유래했다.
after: 쿠버네티스란 명칭은 키잡이(helmsman)나 파일럿을 뜻하는 그리스어에서 유래했다.

before: 폐기가능한(disposable) 가상 머신으로
after: 폐기 가능한(disposable) 가상 머신으로

[2020-03-18 06:27] pjhwa commented on #19709
/language ko
/assign

[2020-03-18 07:36] gavinfish commented on #15539
I think this problem is not only for `workloads`. Other page like https://kubernetes.io/docs/concepts/storage/ just show the content of https://kubernetes.io/docs/concepts/storage/volumes/. Some categories do not have overview pages at all.

[2020-03-18 09:00] ysyukr opened #19713 "Translate training/_index.html in Korean."
**This is a Feature Request**

**What would you like to be added**
Translate training/_index.html in Korean.

**Why is this needed**
The following files are not translated into Korean.
- [ ] /en/docs/training/_index.html

**Comments**
Page to update: https://kubernetes.io/docs/training/

I am translating this document.
The translated document will be submitted to dev-1.17-ko.7 branch.

/language k

[2020-03-18 09:00] ysyukr commented on #19713
/assign

[2020-03-18 12:22] gochist commented on #19713
@ysyukr Only bug fix will be accepted in dev-1.17-ko.7.

[2020-03-18 15:26] #19701 closed

[2020-03-18 18:46] Arhell commented on #18759
/assign

[2020-03-18 22:38] sftim commented on #19707
I'd word this:
Control plane component that watches for newly created *Pods* with no assigned node, and selects a node for them to run on.

[2020-03-19 00:02] sftim commented on #19707
Fixed in #19708

[2020-03-19 00:10] ysyukr commented on #19707
/close

[2020-03-19 00:10] #19707 closed

[2020-03-19 00:24] ysyukr commented on #19713
@gochist I know that the purpose of the dev-1.17-ko.7 branch is bugfixes and current updates.
During the update of dev-1.17-ko.7(#19712 ), the training added to docs/home was reflected as /training based on the URL, but when checking the preview, it was changed to /ko/training and it was judged that translation of the traning document is necessary.

https://deploy-preview-19712--k8s-dev-ko.netlify

[2020-03-19 00:45] gochist commented on #19713
@ysyukr That's right. Thank you!

[2020-03-19 01:19] ysyukr commented on #19709
/close

[2020-03-19 01:19] #19709 closed

[2020-03-19 01:52] pjhwa opened #19719 "Translation error correction with k8s.io/ko/docs/concepts/overview/components.md"
**This is a Bug Report**

**Problem:**
Translation error correction with k8s.io/ko/docs/concepts/overview/components.md
1. spacing errors
2. mistranslated

**Proposed Solution:**
컨트롤 플래인 -> 컨트롤 플레인

요구조건을 충족되지 않을 경우
-> 요구 조건이 충족되지 않을 경우

자세한 정보는, 공식 문서를 참고한다.
-> 자세한 정보는 공식 문서를 참고한다.

알맞는 수의 파드들을
-> 알맞은 수의 파드들을

클라우드 밴더 코드
-> 클라우드 벤더 코드

이전 릴리스에서는,
-> 이전 릴리스에서는

향후 릴리스에서,
-> 향후 릴리스에서

클라우드 밴더에 따른 코

[2020-03-19 01:52] pjhwa commented on #19719
/language ko
/assign

[2020-03-19 02:03] ysyukr opened #19721 "Update links to docs that reference new docs added in the dev-1.17-ko.6 branch."
**This is a Bug Report**
**Problem:**
Edit links to docs that reference new docs added in the dev-1.17-ko.6 branch.

**Proposed Solution:**
Update of existing documents linking new documents.

- [ ] content/ko/docs/concepts/configuration/overview.md
- [ ] content/ko/docs/concepts/overview/working-with-objects/labels.md
- [ ] content/ko/docs/concepts/workloads/controllers/cron-jobs.md
- [ ] content

[2020-03-19 02:03] ysyukr commented on #19721
/assign

[2020-03-19 05:41] RA489 commented on #19654
@scott-jiang Minikube no longer support heapster addons.

[2020-03-19 05:46] RA489 commented on #19654
/close

[2020-03-19 05:46] #19654 closed

[2020-03-19 05:50] RA489 commented on #19594
/triage needs-information

[2020-03-19 07:52] RA489 commented on #19288
https://github.com/kubernetes/website/issues/18984

[2020-03-19 07:55] RA489 commented on #18612
/triage needs-information

[2020-03-19 07:58] Kartik494 commented on #19210
kubectl run image work fine
root@master:/home/vagrant# kubectl run nginx --image=nginx --generator=run-pod/v1
pod/nginx created

[2020-03-19 10:32] Hejianxiong opened #19726 ".\KubeCluster.ps1 -ConfigFile .\Kubeclustervxlan.json -install"
When I execute this command, I am prompted with the following error
What Should I do ?

[2020-03-19 14:25] kbhawkey commented on #19506
Note: I would check this existing pull request (PR #19576) before working on this issue. The content is changing.

[2020-03-19 15:10] sftim commented on #19506
/remove-good-first-issue

It's fine to work on this, but the potential for having to synchronize with other contributors makes me want to stop highlighting this to brand new contributors.

[2020-03-19 17:23] Arhell opened #19728 "Broken field on the main page in the video block"
**This is a Bug Report**
Broken field on the main page in the video block

**Problem:**
![1](https://user-images.githubusercontent.com/26163841/77095737-fb876280-6a16-11ea-9fc2-bca7b42b9caa.jpg)

**Proposed Solution:**
remove the right indent from the light-text class

**Page to Update:**
https://kubernetes.io/ru/

/assign
/language ru

[2020-03-19 17:32] dlipovetsky commented on #12326
Please, let also us address whether drain is required when upgrading between _patch_ versions, e.g., 1.17.0 to 1.17.1. These upgrades are, arguably, more frequent than upgrades between _minor_ versions, and therefore users have a greater incentive to skip drain.

[2020-03-19 18:00] #16143 closed

[2020-03-19 18:00] #16527 closed

[2020-03-19 18:37] neolit123 commented on #12326
WRT workload stability, the process is the same for PATCH iterations, so a drain would be required there too. one potential difference with MINOR updates is the CPU checkpoint format of the kubelet is not supposed to change on PATCH iterations.

[2020-03-19 19:22] kbhawkey commented on #19624
@Colstuwjx , Add a list of TODOs?

- [X] Update redirects, branch:master, PR #19695
- [ ] Update redirects, branch: 1.16
- [ ] Update redirects, branch: 1.15
- [ ] Update redirects, branch: 1.14
- [ ] Update redirects, branch: 1.13

[2020-03-19 19:51] kbhawkey opened #19730 "netlify redirects: branch 1.14"
**This is a Bug Report**

/kind bug

This PR is under the #19624 umbrella :open_umbrella:

This PR refers to redirects from the 1.14 branch.

**Problem:**
Netlify plans to update how they interpret redirect rules.
Netlify _suggests_ the following entries may be affected by the new rules:

/zh/docs/ ...
/zh/docs/home/ 301 ...

**Proposed Solution:**
Review the entries in `/static/_redirects` and up

[2020-03-19 21:36] pjhwa opened #19732 "Error correction with /concepts/overview/kubernetes-api.md"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/ko/docs/concepts/overview/kubernetes-api/

**Proposed Solution:**
기존의 유스케이스의 변경에
-> 기존 유스케이스의 변경에

이러한 엔드포인트는 사용 중단되었으며, 쿠버네티스 1.14에서 제거됬다.
-> 이러한 엔드포인트는 사용이 중단되었으며, 쿠버네티스 1.14에서 제거되었다.

이러한 엔드포인트는 사용 중단되었으며,
-> 이러한 엔드포인트는 사용이 중단되었으며,

데몬셋 -> 데몬 셋
레플리카셋 -> 레플리카 셋

**Page to Update:**
https://kubernetes.io/ko/docs/concepts/overview/kubern

[2020-03-19 21:37] pjhwa commented on #19732
/language ko
/assign

[2020-03-19 22:02] pjhwa opened #19734 "Error correction with /concepts/overview/working-with-objects/kubernetes-objects.md"
**This is a Bug Report**

**Problem:**
Error correction with /concepts/overview/working-with-objects/kubernetes-objects.md

**Proposed Solution:**
쿠버네티스 오브젝트 는 -> 쿠버네티스 오브젝트는

의도한 상태 가 된다. -> 의도한 상태가 된다.

오브젝트 스펙(spec)과 상태(status)
-> 오브젝트 명세(spec)와 상태(status)

spec -> 명세
status -> 상태
metadata -> 메타데이터

만약, 그 인스턴스들 중 어느 하나가 (상태 변경에) 실패가 난다면,
-> 만약, 그 인스턴스들 중 어느 하나가 (상태 변경에) 실패한다면,

가장 자주, .yaml 파일로

[2020-03-19 22:02] pjhwa commented on #19734
/language ko
/assign

[2020-03-20 00:06] #17068 closed

[2020-03-20 00:06] kbhawkey opened #19736 "netlify redirects: branch 1.16"
**This is a Bug Report**

/kind bug

This PR is under the #19624 umbrella :open_umbrella:

This PR lists redirects found in the 1.16 branch.

**Problem:**
Netlify plans to update how they interpret redirect rules.
Netlify _suggests_ the following entries may be affected by the new rules:

/api-ref/ ... https://github.com/kubernetes/kubernetes/milestones/ 301 ...
/concepts/containers/container-life

[2020-03-20 00:10] Colstuwjx commented on #19624
@kbhawkey Updated.

[2020-03-20 00:14] kbhawkey opened #19737 "netlify redirects: branch 1.15"
**This is a Bug Report**

/kind bug

This PR is under the #19624 umbrella :open_umbrella:

This PR lists redirects found in the 1.15 branch.

**Problem:**
Netlify plans to update how they interpret redirect rules.
Netlify _suggests_ the following entries may be affected by the new rules:

/api-ref/ ... https://github.com/kubernetes/kubernetes/milestones/ 301 ...
/concepts/containers/container-life

[2020-03-20 00:23] kbhawkey opened #19738 "netlify redirects: branch 1.13"
**This is a Bug Report**

/kind bug

This PR is under the #19624 umbrella :open_umbrella:

This PR lists redirects found in the 1.13 branch.

**Problem:**
Netlify plans to update how they interpret redirect rules.
Netlify _suggests_ the following entries may be affected by the new rules:

/api-ref/ ... https://github.com/kubernetes/kubernetes/milestones/ 301 ...
/concepts/containers/container-life

[2020-03-20 01:44] pjhwa opened #19739 "Issue with working-with-objects/object-management.md"
**This is a Bug Report**

**Problem:**
Issue with working-with-objects/object-management.md

**Proposed Solution:**
활성 오브젝트에 대한 업데이트는 구성 파일 내 반영되어야만 한다. 그렇지 않으면 다음 대체가 이루어지는 동안 유실 될 것이다
-> 활성 오브젝트에 대한 업데이트는 구성 파일에 반영되어야 한다. 그렇지 않으면 다음 교체 중에 손실된다.

이것은 다른 오브젝트를 위해 필요할 수도 있는 다른 작업에서, 디렉토리들을 대상으로 동작할 수 있도록 해준다.
-> 이를 통해 다른 오브젝트에 대해 다른 조작이 필요할 수 있는 디렉토리에서 작업할 수 있다.

구성 파일로 되돌려 병합될 수 없기는 하지만, 활성 오브젝트에

[2020-03-20 02:04] pjhwa commented on #19739
/language ko
/assign

[2020-03-20 02:19] daixiang0 commented on #18210
update

[2020-03-20 11:17] #16479 closed

[2020-03-20 13:10] pjhwa opened #19748 "Issue with working-with-objects/names.md"
**This is a Bug Report**

**Problem:**
Issue with working-with-objects/names.md

**Proposed Solution:**
가지고 있다  -> 가진다

예를 들어, 이름이 myapp-1234인 파드는 동일한  네임스페이스  내에서 하나만 가질 수 있지만, 이름이 myapp-1234인 파드와 디플로이먼트는 각각 가질 수 있다.
-> 예를 들어, 이름이 myapp-1234인 파드는 동일한  네임스페이스 내에서 하나만 존재할 수 있지만, 이름이 myapp-1234인 파드와 디플로이먼트는 각각 존재할 수 있다.

사용자 제공 속성에 대해서,
-> 사용자 제공 속성의 경우

세가지 -> 세 가지

서브도메인 이름들 -> 서브도메인 이름

**Page to

[2020-03-20 13:10] pjhwa commented on #19748
/language ko
/assign

[2020-03-20 13:45] pjhwa opened #19750 "Issue with working-with-objects/namespaces.md"
**This is a Bug Report**

**Problem:**
Issue with working-with-objects/namespaces.md

**Proposed Solution:**
동일 물리 클러스터를 기반으로 하는 복수의 가상 클러스터를 지원한다. 이들 가상 클러스터를 네임스페이스라고 한다.
-> 동일한 물리 클러스터를 기반으로 하는 여러 가상 클러스터를 지원한다. 이런 가상 클러스터를 네임스페이스라고 한다.

복수의 네임스페이스를 사용하는 경우
-> 여러 개의 네임스페이스를 사용하는 경우

복수의 팀이나 -> 여러 개의 팀이나

네임스페이스를 고려할 필요가 전혀 없다
-> 네임스페이스를 전혀 고려할 필요가 없다

복수의 사용자 -> 여러 사용자

다음 버전의 쿠버네티스에서는, 같은 네임스페

[2020-03-20 13:46] pjhwa commented on #19750
/language ko
/assign

[2020-03-20 15:48] Tejeev commented on #16120
/remove-lifecycle stale

[2020-03-20 16:22] kbhawkey commented on #19663
@Colstuwjx , The comment under `Why is this needed` does not add much value.

[2020-03-20 17:19] Arhell opened #19755 "White stripe after footer"
**This is a Bug Report**
White stripe after footer

**Problem:**
White stripe after footer

**Proposed Solution:**
Remove padding in this button

**Page to Update:**
https://kubernetes.io/

![2](https://user-images.githubusercontent.com/26163841/77189047-a1060900-6adf-11ea-938d-1e175cd3492b.jpg)
/assign

[2020-03-20 18:34] briantkennedy opened #19757 "API Reference wraps field names across many lines"
**Problem:**
On Chrome 80.0.3987.149 (Official Build) (64-bit) Linux the "Field" column in the API reference is too narrow to accommodate the field names in the API's structures, so the field names are wrapped across multiple lines.  This makes it hard to scan the field names for a specific subject of interest.

![docs-formatting](https://user-images.githubusercontent.com/3261986/77195221-83647f80

[2020-03-21 00:24] Colstuwjx commented on #19663
@kbhawkey Yes, it's an optimization, and it may also be risky, since we didn't clone the k/k repo anymore.

If you think this proposal is valueless, I'm ok to close it.

[2020-03-21 00:58] ysyukr commented on #19662
/close

[2020-03-21 00:58] #19662 closed

[2020-03-21 01:56] pjhwa opened #19762 "Issue with working-with-objects/labels.md"
**This is a Bug Report**

**Problem:**
Issue with working-with-objects/labels.md
spacing errors, typos, markdown syntax error

**Proposed Solution:**
띄어쓰기 수정
을/를 조사 수정
_불일치_를 -> _불일치_ 를
상충되는 -> 상충하는
경우에 -> 상황에
엔터티 -> 엔티티

**Page to Update:**
https://kubernetes.io/ko/docs/concepts/overview/working-with-objects/labels/

[2020-03-21 01:56] pjhwa commented on #19762
/language ko
/assign

[2020-03-21 05:18] tanjunchen opened #19765 "Sync en zh yaml /example directory"
As you know , the importance of yaml in k8s , so we need to sync them immediately.
What do you need to do?

check yamls in following list，make sure that the difference of them and open a pr to fix them.
see example https://github.com/kubernetes/website/pull/19766

- [x] content\zh\examples\admin\cloud\ccm-example.yaml  |  content\en\examples\admin\cloud\ccm-example.yaml
- [x] content\zh\examples\a

[2020-03-21 08:00] Arhell commented on #19757
/assign

[2020-03-21 08:04] Arhell commented on #19757
Hello, please see the solution
kubernetes/website#19771

[2020-03-21 14:43] #17025 closed

[2020-03-21 17:46] #17044 closed

[2020-03-21 18:47] #17086 closed

[2020-03-21 21:50] #17001 closed

[2020-03-22 02:26] f-ruta opened #19775 "Improvement for k8s.io/docs/concepts/overview/working-with-objects/field-selectors/"
In the 'Supported fields' section of the 'Field Selectors', text reads "Supported field selectors vary by Kubernetes resource type. " This is a pretty useless statement, with just an example telling us that if you do not put a valid one an error is returned.

Kindly clarify where the various field-selector for the different resource types are documented.

##Supported fields
Supported field selecto

[2020-03-22 02:52] gochist commented on #19748
/close

[2020-03-22 02:52] #19748 closed

[2020-03-22 02:53] gochist commented on #19732
/close

[2020-03-22 02:53] #19732 closed

[2020-03-22 02:54] gochist commented on #19721
/close

[2020-03-22 02:54] #19721 closed

[2020-03-22 02:56] gochist commented on #17674
done by #17765
/close

[2020-03-22 02:56] #17674 closed

[2020-03-22 02:57] gochist commented on #17686
done by #17763

/close

[2020-03-22 02:57] #17686 closed

[2020-03-22 13:00] inductor commented on #19248
/close

[2020-03-22 13:01] #19248 closed

[2020-03-22 13:01] inductor commented on #19642
/close

[2020-03-22 13:01] #19642 closed

[2020-03-22 13:05] inductor commented on #18829
/close

[2020-03-22 13:05] #18829 closed

[2020-03-22 14:07] ariscahyadi commented on #15341
Hi! I am working on:
- content/id/docs/concepts/architecture/controller
- content/id/docs/concepts/containers/overview
- content/id/docs/concepts/containers/container-environment

[2020-03-22 16:42] brunswyck opened #19782 "Issue with k8s.io/docs/tasks/administer-cluster/kubelet-config-file/"
**This is a Bug Report**

Many comments explaining what the type does are in the wrong place and this is confusing

**Problem:**
example of the problem:
VolumeStatsAggPeriod metav1.Duration `json:"volumeStatsAggPeriod,omitempty"`
// kubeletCgroups is the absolute name of cgroups to isolate the kubelet in
**Proposed Solution:**
Reposition comments so that they are in the correct place.
**Page to Up

[2020-03-22 16:44] #19782 closed

[2020-03-22 16:49] tanjunchen commented on #19765
/remove-good-first-issue
/remove-help

[2020-03-22 16:49] tanjunchen commented on #19765
/assign

[2020-03-22 17:13] sftim commented on #15123
/remove-lifecycle stale

[2020-03-22 17:25] sftim commented on #15893
/remove-lifecycle stale

[2020-03-22 17:31] sftim opened #19789 "Show failed Netlify builds as CI failures in GitHub"
**This is a Feature Request**

**What would you like to be added**
When a pull requests fails to preview, show that in GitHub either as a failed build or as a failed [check](https://developer.github.com/v3/checks/).

**Why is this needed**
- At the moment, someone submitting a pull request might not be aware that their code isn't OK to merge.
- At the moment, Prow might be willing to merge a broke

[2020-03-22 17:31] sftim commented on #19789
Here's an example of what shouldn't happen:
![Failed Netlify preview](https://user-images.githubusercontent.com/22591623/77255958-ffa7c000-6c62-11ea-933d-00db748890bc.png)

[2020-03-22 19:04] sftim commented on #16201
/remove-lifecycle stale

[2020-03-22 19:04] sftim commented on #17593
/remove-lifecycle stale

[2020-03-22 19:05] sftim commented on #17593
This is done
/close

I'll open a follow up issue

[2020-03-22 19:06] #17593 closed

[2020-03-22 19:07] sftim opened #19791 "Some text on https://kubernetes.io/de/ not localized"
**This is a Bug Report**

**Problem:**
On https://kubernetes.io/de/, the following are untranslated:
- “Planet Scale”
- “Never Outgrow”
- “Run Anywhere”
- “Kubernetes Features”

**Proposed Solution:**
Translate English phrases into German

**Page to Update:**
https://kubernetes.io/de/

**Additional Information:**

/language de
/kind cleanup
/priority backlog

Follows on from issue #17593

[2020-03-22 20:10] tedder opened #19795 "kubernetes 1.17 docs cause a horizontal scrollbar or at least 1440px width"
**This is a Bug Report**
**Problem:**

I noticed that as of 1.17, [the kubernetes API docs](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.17/) need a horizontal scrollbar at what I consider a "normal" browser width.

[browsersize.com](https://browsersize.com) says my width is 1228px (with 100% text zoom, BTW). In the screenshots below you'll see how the main section needs a scro

[2020-03-22 20:11] tedder commented on #19795
scroll bars:
![Screenshot from 2020-03-22 12-51-14](https://user-images.githubusercontent.com/97914/77259415-80a09080-6c3e-11ea-9f85-829ff3073175.png)

anchor navigation behavior:
![Screenshot from 2020-03-22 12-51-24](https://user-images.githubusercontent.com/97914/77259414-8007fa00-6c3e-11ea-8858-7478c2ab931d.png)

[2020-03-23 00:52] ysyukr commented on #19762
/close

[2020-03-23 00:53] #19762 closed

[2020-03-23 00:54] ysyukr commented on #19713
/close

[2020-03-23 00:54] #19713 closed

[2020-03-23 01:04] gavinfish commented on #19789
Totally agree. But I think only administrators have the permission to do this work 🤔 ?

[2020-03-23 01:54] Colstuwjx commented on #19789
My question is how to determine such failure?

The preview message was automatically sent by netlify bot, and it's hard to check if there is a fail, I filed an issue about this, and see [18619 #comment](https://github.com/kubernetes/website/issues/18619#issuecomment-576068647), we finally workaround by re-adding the netlify setting.

We've removed the travis CI check in [PR #13598](https://github.

[2020-03-23 04:13] tanjunchen commented on #19765
/close

[2020-03-23 04:14] #19765 closed

[2020-03-23 09:54] sftim commented on #19789
GitHub lets you mark certain checks as required, separate from how Prow sees the world. Maybe that's an option?

[2020-03-23 11:58] tengqm commented on #19726
Please raise questions on kubernetes-users slack channel or on stackoverflow. This doesn't look like a documentation issue.
/close

[2020-03-23 11:58] #19726 closed

[2020-03-23 12:00] tengqm commented on #19697
Duplicate of #15539
Closing.
/close

[2020-03-23 12:00] #19697 closed

[2020-03-23 12:04] #19666 closed

[2020-03-23 12:05] tengqm commented on #19650
Feel free to reopen with actionable details.
/close

[2020-03-23 12:05] #19650 closed

[2020-03-23 12:07] tengqm commented on #19625
Looks like this is fixed. Feel free to reopen if it is not.
/close

[2020-03-23 12:07] #19625 closed

[2020-03-23 12:08] tengqm commented on #19629
Right. The image is not good. https://d33wubrfki0l68.cloudfront.net/99d9808dcbf2880a996ed50d308a186b5900cec9/40b94/docs/tutorials/kubernetes-basics/public/images/module_01_cluster.svg

[2020-03-23 12:54] sftim commented on #19795
Thanks for reporting this @tedder
/kind bug
/priority backlog

[2020-03-23 13:01] Colstuwjx commented on #19789
You mean build sth like [this](https://github.com/apps/reviewdog) with the GitHub checks? But it may needs a GitHub app for receiving GitHub check hook? Do we need to re-implement another GitHub app?

How about re-enable travisCI job and just run some check scripts?

[2020-03-23 13:15] remyleone opened #19804 "Add a methodology or content about how to tackle an application migration to Kubernetes"
**This is a Feature Request**

**What would you like to be added**

I would like to add an article/content about the different classical steps a user would use to migrate progressively an application from a classical deployment (on-premises, IaaS, ...) to Kubernetes.

With eventually a content describing how to containerized an application (using a simple blog example would be enough).
The goal is

[2020-03-23 13:35] sftim commented on #19789
https://help.github.com/en/github/administering-a-repository/enabling-required-status-checks covers what I have in mind.

[2020-03-23 16:04] VineethReddy02 opened #19809 "Freeze kubernetes/website to support easy 1.18 Kubernetes release"
As Kubernetes 1.18 release is on 24th March. Freezing k/website to stop all upcoming merges for easy release.

[2020-03-23 16:17] jasvantsingh opened #19810 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-pod-configmap/"
**This is a Bug Report**

**Problem:**
Examples provided on the page does not work. Following yaml does not work:
[code]
The command **kubectl apply -f kustomization.yaml** gives the following error
[code]

apiVersion and kind are mandatory but example does not provide appropriate values.

**Proposed Solution:**
The page needs to be updated with correct examples.

**Page to Update:**
https://kuber

[2020-03-23 17:37] sujaypillai commented on #19810
/assign

[2020-03-23 18:13] dkypuros opened #19811 "Standardizing Kubernetes Architectural Diagrams - a.k.a Diagram Creation Guide"
**Summary of Feature Request**
Kubernetes documentation needs better diagrams. We need a standard set of Kubernetes icons and clear guidelines for content creators to make their own architectural diagrams.

**Brief Overview of Project**
During a K8s SIG-Docs meeting (November 2019), several SIG Docs members commented on the lack of consistency between Kubernetes icons and diagrams on the official

[2020-03-23 18:33] dkypuros commented on #19811
/assign @dkypuros

[2020-03-23 19:05] rhpereda opened #19812 "Container ports in https://kubernetes.io/docs/tutorials/kubernetes-basics/explore/explore-interactive/"
I'm new in kubernetes and i'm trying to learn by doing the tutorials posted on the official documentation. In the module: https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro/ we created a deployment and successfuly complete all the tasks. In the next module (https://kubernetes.io/docs/tutorials/kubernetes-basics/explore/explore-interactive/ ) apparently takes the previou

[2020-03-24 00:16] #19750 closed

[2020-03-24 01:01] mikehuston commented on #674
This helped me also, thanks! Perhaps because `vi` is a symlink for `vim` on my Mac laptop.
[code]

[2020-03-24 03:27] justaugustus commented on #19502
xref: https://github.com/kubernetes/test-infra/pull/16892
(which I think will solve a chunk of the problem here)

[2020-03-24 09:38] Colstuwjx opened #19817 "Bad style for old version deprecate warning"
**This is a Bug Report**

**Problem:**
When I select an old version doc, e.g. v1.15, I see:

![image](https://user-images.githubusercontent.com/3972545/77410597-12063300-6df6-11ea-84ab-6bdf28c744e3.png)

It seems that no proper css style applied, and looks odd.

**Proposed Solution:**
Correct the style, and make it looks fine.

**Page to Update:**
https://kubernetes.io/...

[2020-03-24 09:39] bluefriday opened #19818 "Translate container/Containers-overview.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/containers/container view in Korean.

**Why is this needed**

There is no documents with concepts/containers/overview in Korean.

**Comments**

Page to Update:
https://kubernetes.io/docs/concepts/containers/overview/

[2020-03-24 09:40] bluefriday commented on #19818
/language ko
/assign

[2020-03-24 10:47] BenHall commented on #19588
I believe this might have been related to an issue which has since been fixed.

I believe this can now be closed.

[2020-03-24 10:48] BenHall commented on #19163
This has been resolved and the ticket can be closed.

[2020-03-24 10:51] BenHall commented on #19305
To provide an update, all the environments are now running `v1.8.1`.

This can be closed.

[2020-03-24 10:51] BenHall commented on #18197
To provide an update, all the environments are now running `v1.8.1`.

This can be closed.

[2020-03-24 10:58] sftim commented on #19163
/close

[2020-03-24 10:58] #19163 closed

[2020-03-24 11:00] sftim commented on #19305
v1.18.1 perhaps?

/close

[2020-03-24 11:00] #19305 closed

[2020-03-24 11:01] BenHall commented on #19305
Sorry, Minikube v1.8.1 which is 1.17 at the moment

[2020-03-24 11:46] rohitanair opened #19819 "‘Whats next’ section is missing from https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/"
**Problem:**
Page: https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/
Issues:
1.	‘What next’ section is missing from this page.
2.	The title of this page should be only ‘Jobs’ like DaemonSet, Deployment, etc.

**Proposed Solution:**
1. 'What next' section should be added with references to relevant documents.
2. Title of the page should be 'Jobs' and NOT 'Jobs - Run

[2020-03-24 14:24] SalmanIsha opened #19821 "Issue with k8s.io/docs/tutorials/stateless-application/guestbook/"
**This is a Bug Report**
8:S 24 Mar 09:15:21.468 * Connecting to MASTER redis-master:6379
8:S 24 Mar 09:15:21.472 # Unable to connect to MASTER: Resource temporarily unavailable

getting above error from log file of redis-slave servers. Please help

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-03-24 16:41] sftim commented on #19809
PRs manually marked held during release:
https://github.com/kubernetes/website/pull/14792
https://github.com/kubernetes/website/pull/19689
https://github.com/kubernetes/website/pull/19740
https://github.com/kubernetes/website/pull/19759
https://github.com/kubernetes/website/pull/19808

[2020-03-24 16:46] sftim commented on #19809
and:
https://github.com/kubernetes/website/pull/19756
https://github.com/kubernetes/website/pull/19692
https://github.com/kubernetes/website/pull/19685
https://github.com/kubernetes/website/pull/19550
https://github.com/kubernetes/website/pull/19265
https://github.com/kubernetes/website/pull/18046

[2020-03-24 23:48] MikeSpreitzer opened #19828 "Inconsistency regarding multiple authorization modules"
**This is a Bug Report**

**Problem:**
I found inconsistent information regarding how a multiplicity of authorization modules is handled.  https://kubernetes.io/docs/reference/access-authn-authz/authorization/#determine-whether-a-request-is-allowed-or-denied says the first one to make a decision wins.  https://kubernetes.io/docs/reference/access-authn-authz/controlling-access/#authorization says t

[2020-03-25 01:53] zacharysarah commented on #19081
@adambkaplan 👋 How's this coming along? Feel free to ping [#sig-docs Slack](https://app.slack.com/client/T09NY5SBT/C1J0BPD2M/) or [email](kubernetes-sig-docs@googlegroups.com) when you're ready for a review.

[2020-03-25 01:54] Colstuwjx commented on #19828
Which line told this? I don't see this meaning in that page.

/language en
/triage support

[2020-03-25 02:00] Colstuwjx commented on #19821
Which section did you see this log? Needs more information.

/language en
/triage support

[2020-03-25 02:23] tomoe commented on #17933
+1
Especially,
- is the token inside a secret periodically roated?
- Expiration of `ca.crt` seems to be set to 5 years. Is it going to be renewed automatically, or do you have to renew manually (and how)? What's the impact to already running workloads that hit the expiration?

[2020-03-25 03:06] MikeSpreitzer commented on #19828
@Colstuwjx : "When multiple authorization modules are configured, each is checked in sequence. If any authorizer approves or denies a request, that decision is immediately returned and no other authorizer is consulted."

[2020-03-25 03:12] MikeSpreitzer commented on #19828
Looking at the code, it appears to me that the truth of the matter is as follows.  Each Authorizer has an Authorize method that inspects a request's Attributes and returns a Decision --- which can be DecisionDeny, DecisionAllow, or DecisionNoOpinion.  If all the configured Authorizers return DecisionNoOpinion then the request is rejected.  Most Authorizers eschew DecisionDeny, choosing between onl

[2020-03-25 03:14] MikeSpreitzer commented on #19828
Here is another related doc bug: https://kubernetes.io/docs/reference/access-authn-authz/rbac/#parallel-authorizers says that RBAC decides to deny in some cases.  But that is not true.  RBAC only returns DecisionAllow or DecisionNoOpinion.

[2020-03-25 03:17] Colstuwjx commented on #19828
I think these two expresses the same meaning, for multiple authorization modules, it checks each module, and if one of them denied or approved, it would immediately returned, otherwise, if all modules no opinion, it also return 403. I don't think there is an inconsistency.

[2020-03-25 03:19] MikeSpreitzer commented on #19828
There is an inconsistency because an authorization module returns one of three decisions: DecisionAllow, DecisionDeny, or DecisionNoOpinion.  With that in mind, those two passages describe different behavior.

In other news, nowhere does it clearly say that an authorization module makes one of three decisions.

[2020-03-25 03:26] MikeSpreitzer commented on #19828
Also, the text in https://kubernetes.io/docs/reference/access-authn-authz/controlling-access/#authorization is a bit awkward and outdated.  The second paragraph says

At this point the reader has not been told that there are policies.  Even more to the point, "policy" is redolent of ABAC --- which is no longer the only option.  This introductory text continues with ABAC specific content, and does

[2020-03-25 03:28] MikeSpreitzer commented on #19828
Also: https://kubernetes.io/docs/reference/access-authn-authz/authorization/#authorization-modules lists some of the available "modes" but not all of them.

[2020-03-25 05:11] SalmanIsha commented on #19821
I have used below command to see the log of redis-slave.

kubectl logs redis-slave-77878dfc67-7dshf

However I can see the frontend and submit data.

[2020-03-25 11:34] tengqm commented on #17786
Looks like the issue has been resolved. Feel free to reopen if not.
/close

[2020-03-25 11:35] #17786 closed

[2020-03-25 12:14] #15057 closed

[2020-03-25 13:48] adambkaplan commented on #19081
@zacharysarah thanks for reaching out. I need to split out my first renaming PR so the localization changes are separate. It's been on my queue, but I haven't had a lot of time to fix lately due to COVID-19 (I'm effectively working half days).

[2020-03-25 14:05] sftim commented on #16866
/remove-lifecycle rotten

[2020-03-25 14:47] tkzv commented on #17149
/remove-lifecycle stale

[2020-03-25 15:28] sftim commented on #19828
/kind bug
/remove-triage support

[2020-03-25 15:36] sftim commented on #4499
Also see issue #19819

[2020-03-25 15:36] sftim commented on #19819
/kind cleanup

[2020-03-25 15:38] sftim commented on #19817
/kind bug
/priority backlog

[2020-03-25 16:59] sftim commented on #15083
I still want this _eventually_
/remove-lifecycle stale

[2020-03-25 17:00] VineethReddy02 commented on #19809
and:
#19773
#19631

[2020-03-25 17:00] sftim commented on #18086
/remove-lifecycle stale

[2020-03-25 17:30] johnsmartco opened #19835 "Improvement for k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro/"
I really like the tutorials (awesome) but suggest adding inter-module navigation. For example, when I completed Module 1, I went into a survey and answered it. But then I couldn't find an obvious way to proceed to Module 2. Can you add that navigation? I had to backtrack to https://kubernetes.io/docs/tutorials/, and then starting the next modules after figuring out the left sidebar had direct link

[2020-03-25 17:43] sftim commented on #19809
and:
https://github.com/kubernetes/website/pull/19829

[2020-03-25 20:39] zacharysarah opened #19841 "Update version selector for supported previous versions"
Now that #19116 has merged, 1.18 docs are live! 🎉

## What's broken?

Once you select a previous version, the selector doesn't allow you to return to 1.18.

## How to fix it

The release branch for each supported version needs [updates like this](https://github.com/kubernetes/website/commit/73b9853fcbf66d16c7e5682897e5950c63603714#diff-618063036395fe9ee107f22b46c9eade) to [`config.toml`](https://g

[2020-03-25 21:43] MikaelSmith opened #19844 "ZSH Completion setup instructions assumes bash-completion"
**This is a Bug Report**

**Problem:**

The instructions for setting up shell autocompletion for zsh refer to `complete`, which doesn't exist in a default installation. They also appear to be unnecessary for making autocompletion of an alias work.

There was a lot of discussion around calling similar commands causing the `source <(kubectl completion zsh)` to return exit code 127 in https://github.

[2020-03-25 21:55] sftim opened #19846 "Improve diagram for scheduling framework extension points"
**This is an enhancement request**

**Problem:**
The diagram at https://kubernetes.io/docs/concepts/scheduling/scheduling-framework/#extension-points does not match up to the text on that page. Also the diagram is a little hard to read on fixed / large displays - the reader might want to turn their head.

**Suggested Approach:**
How do _you_ want to improve this?

You might consider one or several

[2020-03-25 21:55] sftim commented on #19846
/sig scheduling

[2020-03-25 23:01] dkypuros commented on #19811
Artwork Reference (commenting enabled):

[Kubernetes Architectural Diagram Guide](https://docs.google.com/drawings/d/11P-yXzso7zapqyqP3ulnIsQ1UE7IbzEi-7kp5jNebLM/edit?usp=sharing)

[Icons Kubernetes Architectural Diagram Guide](https://docs.google.com/drawings/d/12qn4y9OYsareFsa2zV1MVqLBapetFCdXyJKU1oaVqe8/edit?usp=sharing)

[Istio-Diagram-Guide](https://docs.google.com/drawings/d/14eM3aPdmRtsCR2z

[2020-03-25 23:47] sftim opened #19847 "LimitRange tutorial task included in concept page"
**This is a Bug Report**

**Problem:**
The page at https://kubernetes.io/docs/concepts/policy/limit-range/ is concept-level documentation; however, it embeds a section on trying out LimitRange. The Kubernetes website usually puts that kind of step-by-step guidance in the Tasks section, and has other pages link to those tasks.

**Proposed Solution:**
- Create a new task page that includes the conte

[2020-03-26 01:11] sftim commented on #19809
@VineethReddy02, is it OK to `/hold cancel` the held PRs?

[2020-03-26 02:12] #18854 closed

[2020-03-26 02:26] #19542 closed

[2020-03-26 02:42] tengqm commented on #19809
Looks like removing the `tide/merge-blocker` label is not resurrecting those PRs. May be we can try close this issue?

[2020-03-26 04:04] tengqm commented on #18197
Thanks for the feedback, @BenHall
/close

[2020-03-26 04:05] #18197 closed

[2020-03-26 04:05] tengqm commented on #19588
Feel free to reopen if the issue persists.
/close

[2020-03-26 04:05] #19588 closed

[2020-03-26 04:14] #18737 closed

[2020-03-26 07:46] VineethReddy02 commented on #19809
/hold cancel
v1.18 release is out.

[2020-03-26 08:35] Arhell commented on #19621
resolve
/close

[2020-03-26 08:36] #19621 closed

[2020-03-26 09:11] Fale commented on #19811
Hi,
This is a very interesting topic for me, so thanks for your work!

0. The kube-controller-manager icon is not very clear for me.
1. There are 2 different icons for kube-controller-manager, but I think one of the two should be called clud-controller-manager. I think that both icons are not very clear, as for 0.
2. In `Icons Kubernetes Architectural Diagram Guide` there alignment problems in the

[2020-03-26 13:24] dkypuros commented on #19811
Awesome feedback!

1. Fixed it. Still not 100% happy with my funky "controller" icons though :-) I welcome any graphical help. All I could think of was "Atari Controllers" ;-)

2. Fixed the "2 different icons". Agree, those two icons aren't clear.

3. Fixed.

4. To get access requires a few steps. I just copied the google draw file, and dropped it here [docs.google.com/drawings...](https://docs.go

[2020-03-26 13:28] #19719 closed

[2020-03-26 13:29] #19734 closed

[2020-03-26 13:29] #19739 closed

[2020-03-26 13:30] pjhwa commented on #19679
/close

[2020-03-26 14:35] gochist opened #19859 "Outdated files in the dev-1.17-ko.8 branch"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.17-ko.8 branch.

### 20 files to be modified
1. [ ] content/en/docs/concepts/architecture/nodes.md 1 file changed, 1 insertion(+), 1 deletion(-)
1. [ ] content/en/docs/concepts/cluster-administration/cluster-administration-overview.md 1 file changed, 1 insertion(+), 1 deletion(-)
1. [ ] content/en/docs/concepts/configuration/as

[2020-03-26 14:37] gochist opened #19860 "Outdated files in the dev-1.18-ko.1 branch"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.18-ko.1 branch.

### 37 files to be modified
1. [ ] content/en/docs/concepts/architecture/nodes.md 1 file changed, 1 insertion(+), 1 deletion(-)
1. [ ] content/en/docs/concepts/cluster-administration/cluster-administration-overview.md 1 file changed, 1 insertion(+), 1 deletion(-)
1. [ ] content/en/docs/concepts/configuration/as

[2020-03-26 14:44] Arhell commented on #18759
resolve
/close

[2020-03-26 15:18] viniciusbds opened #19861 "Missing information on the Upgrading Minikube topic."
**This is a Bug Report**

**Problem:** Missing information on the [Upgrading Minikube](https://kubernetes.io/docs/setup/learning-environment/minikube/#upgrading-minikube) topic.
Unlike other topics, this one has very little information. In addition, the suggested link is specific to MacOS and leaves some doubts: is there a similar command for windows / linux that makes an upgrade to the minikube?

[2020-03-26 15:53] brianpursley commented on #19519
This was fixed in the 1.18 release

[2020-03-26 15:53] #19519 closed

[2020-03-26 15:55] brianpursley commented on #14904
Changes were made in 1.18 to improve mobile friendliness.
Can this issue be closed now?

[2020-03-26 16:44] brianpursley commented on #19478
This has been fixed in 1.18 docs

[2020-03-26 16:44] #19478 closed

[2020-03-26 16:58] ysyukr commented on #19859
/assign

[2020-03-26 16:59] ysyukr commented on #19860
/assign

[2020-03-26 18:34] 532910 commented on #18758
Fixed now!

[2020-03-26 18:34] #18758 closed

[2020-03-26 18:35] 532910 commented on #18759
Really horizontal scroll doesn't go away but it looks significant better.
Possibly some arrows will help to understand that it's scrollable?

[2020-03-26 18:51] Arhell commented on #18759
I think not, as an example https://getbootstrap.com/ is implemented similarly

[2020-03-26 20:45] #12765 closed

[2020-03-26 21:44] AnuRam123 opened #19870 "Configure a Pod to Use a PersistentVolume for Storage - 403 Forbidden error"
**This is a Bug Report**

description. -->

Following https://kubernetes.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/
**Problem:**
when i run the step from the pod
curl http://localhost/
root@task-pv-pod:/# curl http://localhost/
<html>
<head><title>403 Forbidden</title></head>
<body>
<center><h1>403 Forbidden</h1></center>
<hr><center>nginx/1.17.9</center>
</body>
</

[2020-03-27 01:50] pjhwa opened #19873 "Translate scheduling/kube-scheduler.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/scheduling/kube-scheduler.md in Korean.

**Why is this needed**
There is no documents with concepts/scheduling/kube-scheduler.md in Korean.

**Comments**

https://kubernetes.io/docs/concepts/scheduling/kube-scheduler/

[2020-03-27 01:50] pjhwa commented on #19873
/language ko
/assign

[2020-03-27 02:26] tengqm commented on #14904
/close
Let's see if there are still complaints on this.

[2020-03-27 02:26] #14904 closed

[2020-03-27 02:48] #19663 closed

[2020-03-27 02:48] vikramhome opened #19876 "Issue with k8s.io/docs/reference/tools/"
**This is a Bug Report**

**Problem:**
The reference page "https://kubernetes.io/docs/reference/tools/" gives kuberef as a standard tool. However, it is no longer maintained and the referred page is also disposed.
**Proposed Solution:**
This reference should be removed
**Page to Update:**
https://kubernetes.io/docs/reference/tools/

[2020-03-27 02:59] gavinfish commented on #19876
@vikramhome thanks for reporting this, feel free to open a PR for it if you are willing to. Welcome to Kubernetes 😄

[2020-03-27 03:28] jimangel commented on #19841
/lgtm
/approve

[2020-03-27 07:26] Jacob366 opened #19884 "54555087To"
#**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-03-27 08:09] girikuncoro commented on #15341
We have finally completed 100% of this milestone, thank you very much for everyone who has contributed and thanks for all hard work! 🎉 🎉 🎉  We will have planning meeting in the community for figuring out next milestone (M3) for SIG Docs ID, stay tuned.

Some interesting metrics that we have gathered so far (ref: https://circleci.com/gh/jk8s/sig-docs-id/tree/master):
* Total 109 pages have been loc

[2020-03-27 08:09] #15341 closed

[2020-03-27 11:12] viniciusbds commented on #19861
/close

[2020-03-27 11:12] #19861 closed

[2020-03-27 11:47] mkorbi opened #19892 "Kubernetes version links are not shown correctly"
**This is a Bug Report**
**Problem:**
With the current version v1.18 you can see in drop down the old versions too.
<img width="373" alt="v18" src="https://user-images.githubusercontent.com/16919345/77702436-cf408880-6fb8-11ea-8799-67a6aed07c53.png">
If you switch to v1.17 then v1.18 doesn't appear:
<img width="382" alt="v17" src="https://user-images.githubusercontent.com/16919345/77702530-0a42bc0

[2020-03-27 11:49] tengqm commented on #19884
/close

[2020-03-27 11:49] #19884 closed

[2020-03-27 11:51] mkorbi commented on #19892
/kind bug

[2020-03-27 12:16] kbhawkey commented on #19730
/assign

[2020-03-27 12:18] kbhawkey commented on #19730
/priority important-soon

[2020-03-27 12:18] kbhawkey commented on #19736
/priority important-soon

[2020-03-27 12:18] kbhawkey commented on #19737
/priority important-soon

[2020-03-27 12:19] kbhawkey commented on #19738
/priority important-soon

[2020-03-27 12:25] kbhawkey commented on #19730
Note: Netlify listed only two possible issues with the 1.14 release branch.

[2020-03-27 12:34] kbhawkey commented on #19730
/cc @kubernetes/sig-docs-zh-owners @kubernetes/sig-docs-en-owners
Would you check the release-1.14 branch.
There appears to be a _redirects file under `content\zh`. This should be removed?
I plan to add the `/zh/docs` to the root `_redirects` file (like the other localization entries).

[2020-03-27 13:45] remyleone commented on #19892
I think it is only with the v1.17 that there is a problem I can switch between all the other versions without problems except v1.17

[2020-03-27 14:21] rlenferink commented on #19892
Thanks for tracking @mkorbi. To me it seems this is more or less the same as #19841. Is that correct ?

[2020-03-27 14:41] mkorbi commented on #19892
@rlenferink looks like, but it doesn't seems to be fully solved with the merges mentioned

[2020-03-27 15:22] faizanmohiuddin482 opened #19895 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/"

[2020-03-27 15:26] kbhawkey commented on #19892
Odd, from this page, I see 1.18 as the first in the list,
https://v1-17.docs.kubernetes.io/

[2020-03-27 15:31] kbhawkey commented on #19736
/assign

[2020-03-27 15:39] kbhawkey commented on #19737
/assign

[2020-03-27 15:59] kbhawkey commented on #19738
/assign

[2020-03-27 17:27] rlenferink commented on #19892
I just had a look as well (Mozilla Firefox), and for me things are okay. It can be because different Netlify deployments are used for the subdomains (e.g. `v1-17.docs`). It could be that the 1.17 site was update a bit later. Maybe our technical leads can verify this on Netlify @kbhawkey @sftim?

For me viewing https://v1-17.docs.kubernetes.io/de/docs/home/ results in:
![afbeelding](https://user-im

[2020-03-27 17:39] Arhell opened #19899 "Different menu display"
**This is a Bug Report**
**Problem:**
Different menu display
![1](https://user-images.githubusercontent.com/26163841/77784041-87763b80-7062-11ea-9324-5f589732cc87.jpg)
![2](https://user-images.githubusercontent.com/26163841/77784046-89d89580-7062-11ea-8fdc-65b5184475c3.jpg)

**Proposed Solution:**
Small style fix

**Page to Update:**
https://kubernetes.io/ --> normal
https://kubernetes.io/blog/ --

[2020-03-27 17:48] kbhawkey commented on #19892
The release-1.17 branch updates went in sometime this morning ( ~UTC - 5) today.

[2020-03-27 19:09] reylejano-rxm commented on #19892
I'm still seeing issues
![image](https://user-images.githubusercontent.com/52760880/77791397-c638d100-7023-11ea-8420-9503d9fb82bf.png)

[2020-03-27 19:09] fejta commented on #12328
/unassign

[2020-03-27 19:12] LukeWood opened #19900 "Issue with k8s.io/docs/concepts/workloads/"
The page content is rendering completely empty.

It shows

"Pods" - with an empty section

and

"Feedback" with the text that directed me here

and that is all.

[2020-03-27 19:13] LukeWood commented on #19900
maybe this could have some links to pods?  maybe I am misunderstanding the documentation structure - closing for now.

[2020-03-27 19:13] #19900 closed

[2020-03-27 21:48] zacharysarah commented on #19892
@reylejano-rxm The link is working fine for me. Maybe it was a CDN caching issue? Can you verify whether it's working for you now?

[2020-03-27 22:36] reylejano-rxm commented on #19892
@zacharysarah , I spun up a new VM and still get the errors.
I use this link to toggle between versions
https://kubernetes.io/docs/reference/scheduling/policies/
![image](https://user-images.githubusercontent.com/52760880/77806033-bed3f080-7040-11ea-825d-607533d57c81.png)

[2020-03-27 22:41] zacharysarah commented on #19892
@reylejano-rxm You're seeing an error because that URL is new in 1.18. If you like at [reference docs in 1.17](https://github.com/kubernetes/website/tree/release-1.17/content/en/docs/reference/), the scheduling directory doesn't exist.

So--it looks like the version selector is working as intended.

/close

[2020-03-27 22:41] #19892 closed

[2020-03-27 23:27] pjhwa opened #19904 "Translate storage/persistent-volumes.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/storage/persistent-volumes.md in Korean.

**Why is this needed**
There is no documents with concepts/storage/persistent-volumes.md in Korean.

**Comments**

Page to update: https://kubernetes.io/docs/concepts/storage/persistent-volumes/

[2020-03-27 23:27] pjhwa commented on #19904
/language ko
/assign

[2020-03-28 01:30] tengqm commented on #19895
@faizanmohiuddin482 Please help close this one if you didn't mean to file an issue.

[2020-03-28 01:33] #19439 closed

[2020-03-28 02:00] gaoguangze111 opened #19910 "Chinese version page "学习 Kubernetes 基础知识" layout bug"
**This is a Bug Report**

**Problem:**
Responsive design bug in page "学习 Kubernetes 基础知识" of chinese version website. In specific page width, "Kubernetes 基础模块" part is not correctly displayed
![image](https://user-images.githubusercontent.com/16621880/77812210-cea01300-70da-11ea-9016-4b6072b99eaa.png)
![image](https://user-images.githubusercontent.com/16621880/77812214-d790e480-70da-11ea-9aaa-6b94

[2020-03-28 02:38] pjhwa opened #19911 "Translate policy/limit-range.md in Korean"
**This is a Feature Request**

**What would you like to be added**
Translate concepts/policy/limit-range.md in Korean.

**Why is this needed**
There is no documents with concepts/policy/limit-range.md in Korean.

- [ ] concepts/policy/_index.md
- [ ] concepts/policy/limit-range.md

**Comments**
Page to update: https://kubernetes.io/docs/concepts/policy/limit-range/