[2021-10-03 19:13] sftim commented on #29912
This might be a genuine excerpt, in which case: the docs are accurate, and it's an upstream bug.
(I haven't checked).

/sig cluster-lifecycle
/language en

[2021-10-03 19:13] sftim commented on #29912
Thanks for spotting this @dilyanpalauzov

[2021-10-03 20:07] dilyanpalauzov opened #29913 "Struggles with kubelet.service"
I have compiled kubernetes from source (kubeadm, kubelet, kube-apiserver, kube-proxy, kube-scheduler).  Then I follow the documentation at https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/ - Bootstrapping clusters with kubeadm - to setup my cluster.  The documentation contains first the chapter “Creating a cluster with kubeadm”, where it is proposed to run just `kubeadm init`.

[2021-10-03 20:08] DavTho1983 opened #29914 "Issue with k8s.io/docs/tasks/access-application-cluster/connecting-frontend-backend/"
I replicated these exact steps with minikube on my new arm M1 Mac mini. It did not work.

kubectl get pods:

[code]

With kubectl get service frontend --watch the EXTERNAL IP is always stuck in pending.

This is my exact kubectl version:

[code]

minikube version is:

[code]

[2021-10-03 20:13] DavTho1983 commented on #29914
I would really appreciate some feedback to help me understand what is happening. I have not been able to set up any services using kubectl and I really need to learn k8s fast

[2021-10-03 20:38] sftim commented on #29913
implies that you need to install `kubeadm` from a package to benefit from that feature.

I don't see a bug here @dilyanpalauzov
If this section could be more clear, we're keen to understand how.

/sig cluster-lifecycle
/remove-kind bug
/priority awaiting-more-evidence

[2021-10-03 20:41] sftim commented on #29913
By the way: these kubeadm pages are not yet localized into Russian and Ukrainian. Some parts of the docs already are, though:
- [Русский](https://kubernetes.io/ru/)
- [Українська ](https://kubernetes.io/uk/)

If you happen speak either of those languages and would like to help out, I'm sure the project would appreciate that (see https://kubernetes.io/blog/2019/04/26/how-you-can-help-localize-kuber

[2021-10-03 20:44] dilyanpalauzov commented on #29913
I want to install kuberenetes on a Linux from Scratch system.  It does not have packages.  The documentation shall state, how the final kubelet.service should like (e.g. does it include Restart=), as if packages (DEB, RPM) were never invented.

[2021-10-03 20:48] sftim commented on #29913
You'd like to have a document that explains how to configure systemd when building kubeadm from scratch?

To me, that sounds like a feature request more than a bug. We could consider it but I do not think it would be a priority for the Kubernetes project.
Documenting a wholly “from scratch” Kubernetes build is rather a daunting prospect (I say this as a technical lead for SIG Docs).

[2021-10-03 20:49] sftim commented on #15909
A related issue: #29913

[2021-10-03 20:58] dilyanpalauzov commented on #29913
Yes, I want to have a document, which describes how to setup kubernetes from scratch.  One aspect is getting the right systemd service file for kubelet, so that it can be used by `kubeadm init`.  Another aspect is how to utilize `kube-apiserver`, `kube-controller-manager`, `kube-proxy` and `kube-scheduler` (and etcd, coredns), once they are compiled from kubernetes source code.

[2021-10-03 21:06] dilyanpalauzov commented on #29913
In any case, by its structure, the documentation shall first talk about the kubele-service drop-in, before mentioning `kubeadm init`.

[2021-10-03 22:36] sftim commented on #29914
/kind support

[2021-10-03 22:37] sftim commented on #29914
Actually, no. This _is_ a request for support but maybe also the page could be clearer about its prerequisites and / or what to do if there are problems.
/remove-kind support
/language en

[2021-10-03 22:38] sftim commented on #29914
I think the page should say that it assumes you're using an AMD64 architecture PC.

[2021-10-03 23:21] henry-osorio opened #29916 "Confusing text in “Updating Your App” interactive tutorial"
wrong command:
      kubectl set image deployments/kubernetes-bootcamp kubernetes-bootcamp=gcr.io/google-samples/kubernetes-bootcamp:v10

it should be:
      kubectl set image deployments/kubernetes-bootcamp kubernetes-bootcamp=gcr.io/google-samples/kubernetes-bootcamp:v1

[2021-10-04 03:03] tengqm commented on #29913
If you want to use kubeadm, you'd understand how the docker images for the control plane components are built. You can then build your own images and tell kubeadm to use your own image registry.

[2021-10-04 04:27] manishpanjwani21 opened #29917 "Deploy and Access the Kubernetes Dashboard"
While deploying the dashboard on 1.22.2 I am getting a warning
Warning: spec.template.metadata.annotations[seccomp.security.alpha.kubernetes.io/pod]: deprecated since v1.19; use the "seccompProfile" field instead.
Please if you can fix it.

annotations:
        seccomp.security.alpha.kubernetes.io/pod: 'runtime/default'

[2021-10-04 05:22] imoisharma commented on #29794
Hi @mpaine-act,

`With this release and future releases, the Windows 10 release nomenclature is changing from a year and month pattern (YYMM) to a year and half-year pattern (YYH1, YYH2).
`
please look [here](https://docs.microsoft.com/en-us/windows/whats-new/whats-new-windows-10-version-20h2)

Best Regards
Mohit Sharma

[2021-10-04 05:40] imoisharma commented on #29560
Hi @ClaudiaJKang, I am happy to do this task. Is there any doc I can follow for transitioning the above link to ko lang?

[2021-10-04 06:31] Shubham82 opened #29919 "The code link redirects to K8s v1.15.0 instead of master."
**This is a Bug Report**

**Problem:**
The code link mention under the[ Deploy the admission webhook service](https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#deploy-the-admission-webhook-service) in the  [Dynamic Admission Control](https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/) redirect to the code of  k8s versio

[2021-10-04 06:36] Shubham82 commented on #29919
/sig auth
/sig api-machinery

[2021-10-04 06:37] Shubham82 commented on #29919
I'm up for it.
/assign

[2021-10-04 07:36] Shubham82 commented on #29919
Fixed it here: #29920

[2021-10-04 08:29] #27898 closed

[2021-10-04 09:18] dilyanpalauzov commented on #29912
As a drop-in file, the purpose of the empty `ExecStart=` is the clear the value from the base unit:

[2021-10-04 09:18] #29912 closed

[2021-10-04 10:10] sftim commented on #29919
/remove-kind bug
/kind cleanup
/language en
/sig auth

[2021-10-04 10:11] sftim commented on #29916
@henry-osorio how did you reach that conclusion? Your reasoning will help us to triage this report.

/language en

[2021-10-04 10:11] sftim commented on #29917
/retitile Warning whilst following task “Deploy and Access the Kubernetes Dashboard”

[2021-10-04 10:12] sftim commented on #29917
I think this report is about https://kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard/
/language en

[2021-10-04 10:13] sftim commented on #29917
That page links to https://raw.githubusercontent.com/kubernetes/dashboard/v2.3.1/aio/deploy/recommended.yaml

I suspect the fix will be to update that to a more recent all-in-one manifest, and test that the updated manifest works.
/kind bug

[2021-10-04 11:40] ClaudiaJKang commented on #29560
@imoisharma Hi. I am working on this issue. Currently, there is no doc related to this issue.

[2021-10-04 12:18] henry-osorio commented on #29916
I was doing the tutorial and this command failed. Troubleshooting the error and taking into account that the goal of the task was rolling the containers image back to the original I could notice the right version is v1 the one used to deploy containers initially and not v10 as indicated in the instructions

[2021-10-04 13:03] neolit123 commented on #29913
If you go to https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/

Under inatalling kubeadm, kubectl...there is a tab called "Without a package manager" and it has steps to download all systemd files. Isn't that what you are looking for?

The "configuring a kubelet" document is more about implementation details. If you want something changed in these docs PRs welc

[2021-10-04 13:17] sftim commented on #29913
I'm tempted to triage this as
/kind support

_but_ absolutely, we welcome PRs and also sub-issues that clearly describe what changes might help.

[2021-10-04 14:10] sftim commented on #28813
Fixed in https://github.com/kubernetes/website/pull/29782 AIUI
/close

[2021-10-04 14:11] #28813 closed

[2021-10-04 16:13] enj commented on #28285
/remove-lifecycle stale

[2021-10-04 17:56] sftim commented on #28285
In fact:
/lifecycle frozen

[2021-10-04 17:56] sftim commented on #28285
/priority backlog

[2021-10-04 17:57] sftim commented on #28285
/sig security

[2021-10-04 18:33] dilyanpalauzov commented on #29913
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/ does indeed contain information where to download the systemd service files for kubelet.  However this is mixed together with instructions how to download the compiled binaries.  Since I have compiled the binaries by myself, I am not interested in this information and I have overseen it.  Moreover, the file is s

[2021-10-04 22:54] pjohnst5 opened #29924 "Trouble running HostProcess pod on Windows node"
Hello,

When I try to run a HostProcess pod I get the following
[code]

However, when I remove the following lines from [azure-cns-windows.yaml](https://github.com/pjohnst5/azure-container-networking/blob/x/hostprocess/cns/azure-cns-windows.yaml) to just make it a normal pod, and redeploy
[code]

It works
[code]

Any idea on how to fix that error above for HostProcess? Could definitely be from my

[2021-10-05 01:32] jihoon-seo commented on #29827
The PR #29872 has resolved this issue.

[2021-10-05 01:32] #29827 closed

[2021-10-05 03:33] shuuji3 commented on #22021
@sftim No, I have not prepared a PR for this issue. The above screenshot was a just experiment on the browser. I'm glad if someone can work on.

@kLamda do you have a time to work on this issue?

[2021-10-05 03:35] kLamda commented on #22021
Yeah, sure I have time time to work on this issue.

[2021-10-05 03:37] shuuji3 commented on #22021
Thank you! 🙂

[2021-10-05 08:47] sftim commented on #25921
Was https://github.com/kubernetes/website/pull/25986 enough? I think this is good to close now.

[2021-10-05 08:49] sftim commented on #29913
@dilyanpalauzov would you be willing to revise the issue description to describe the enhancement you'd like to see? It's also OK to open a new issue and link it to this one.

[2021-10-05 08:49] sftim commented on #29924
/retitle Trouble running HostProcess pod on Windows node

/kind support

[2021-10-05 08:51] sftim commented on #29924
@pjohnst5 this repository is for the documentation; issues here are to report problems with the documentation, or to ask for features.

You could instead post your question on the [Kubernetes Slack](http://slack.k8s.io/) or ask in the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

[2021-10-05 09:11] shuuji3 commented on #22021
I tried to replicate the above "Table of Contents" screenshot again. Here is the difference of HTML structure:

**Before change**
<img width="1173" alt="current-html" src="https://user-images.githubusercontent.com/1425259/135993993-de004e33-5249-411a-8486-9fc2a5233c68.png">

**After change**
<img width="1160" alt="after-change" src="https://user-images.githubusercontent.com/1425259/135993980-fb953

[2021-10-05 09:46] shuuji3 commented on #27596
/remove-lifecycle rotten

Sorry, I've left this for a long time but I'm going to resume the translation.

[2021-10-05 10:22] sftim commented on #28788
/lifecycle frozen

[2021-10-05 11:59] schollii commented on #25921
Yes this issue can be closed

[2021-10-05 12:34] cmjohns opened #29929 "usage note in reference page for create secret missing word secret"
On the reference page for [kubectl create secret docker-registry](https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#-em-secret-docker-registry-em-) the usage example excludes the word "secret" from the command

I see

`$ kubectl create docker-registry NAME --docker-username=user --docker-password=password --docker-email=email [--docker-server=string] [--from-file=[key=]source

[2021-10-05 12:43] sftim commented on #29929
/kind bug

This looks like a bug in the code that automatically generates documentation for `kubectl`.

[2021-10-05 12:46] sftim commented on #29913
My gut feeling is that if you want to build Kubernetes (and components) from source, you'd be better looking on https://k8s.dev/

We _could_ consider adding more guides there. That's a **lot** of work across multiple special interest groups, and I don't think the appetite is there.

[2021-10-05 13:55] sftim commented on #25921
/close

[2021-10-05 13:55] #25921 closed

[2021-10-05 16:41] #29924 closed

[2021-10-05 17:48] seokho-son commented on #29660
/close

[2021-10-05 17:48] seokho-son commented on #29669
/close

[2021-10-05 17:48] #29660 closed

[2021-10-05 17:48] #29669 closed

[2021-10-05 17:49] seokho-son commented on #29452
/close

[2021-10-05 17:50] #29452 closed

[2021-10-05 18:18] krol3 commented on #13948
Hi! I would like to translate concepts/security/Pod Security Standards

[2021-10-06 04:44] seokho-son commented on #29257
@ClaudiaJKang 님과 협의하여~

M52. content/en/docs/setup/production-environment/tools/kubeadm/control-plane-flags.md | 140(+L) 20(-)
는 제가 처리하도록 하겠습니다!

[2021-10-06 09:14] dilyanpalauzov opened #29943 "Include the kubelet.service file in the documentation"
Kubeadm verifies, that the kubelet service is running.  It does not say however how kubelet shall have been started and searching for the right kubelet.service file turned out to be very difficult.  At https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/ under “Without a package manager” it does contain this text

but it is very hard to find.  In fact, how to run

[2021-10-06 10:17] dilyanpalauzov commented on #29943
See also https://github.com/kubernetes/kubeadm/issues/2584.

[2021-10-06 11:18] neolit123 commented on #29943
I'd argue that is not hard to find. You literally must follow that guide because of a number of different prerequisites like cni, cni must be setup properly too. Not only systemd + kubelet.

Including the systemd files in a static page can render them out of date after changes in k/release. This is undesired.

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/kubelet-integratio

[2021-10-06 11:23] neolit123 commented on #29943
@dilyanpalauzov i encourage you to stop spamming issues with ideas in different repositories and concentrate the discussion in a single issue - https://github.com/kubernetes/website/issues/29913

[2021-10-06 12:43] neolit123 commented on #29943
Users definitelly find that...
If those steps are out of date they log issues about it or PR fixes directly. For help they rally in #kubeadm on k8s slack.

[2021-10-06 12:47] sftim commented on #29943
I'm happy to agree with SIG Cluster Lifecycle on this one.

[2021-10-06 12:58] #29867 closed

[2021-10-06 13:13] sftim commented on #29943
This is certainly a feature request rather than a bug.
/language en
/sig cluster-lifecycle
/remove-kind bug
/kind feature
/priority awaiting-more-evidence

[2021-10-06 13:18] sftim commented on #29913
It sounds like this has been an experience you found frustrating @dilyanpalauzov

I'm confident that the Kubernetes project does not want to document these details, because adding such documentation also represents a commitment to keep these documents up to date. This entails a significant extra effort.

However, you might like to propose a blog article to either https://k8s.dev/blog/ or to https:

[2021-10-06 13:24] sftim commented on #29913
I will mention for completeness that there is a sizable [ecosystem of organizations that can help here](https://www.cncf.io/certification/kcsp/), but that would typically do so as a commercial undertaking. You can also ask for advice on https://discuss.kubernetes.io/

[2021-10-06 14:18] sftim opened #29945 "Mention Markdown flavor in “Contributing new content”"
**This is a Feature Request**

**What would you like to be added**
Update https://kubernetes.io/docs/contribute/new-content/ to tell readers what flavor of Markdown we use.
(it's [CommonMark](https://commonmark.org/)).

Optionally, also let readers know that you can use shortcodes [from Docsy](https://www.docsy.dev/docs/adding-content/shortcodes/) as well as our own [custom shortcodes](https://kub

[2021-10-06 16:16] shannonxtreme commented on #28316
This was fixed in kubernetes/kubernetes/pull/103782

Thanks for the issue, @briantkennedy

/close

[2021-10-06 18:36] jicowan commented on #24135
/reopen

[2021-10-06 18:53] marcinjahn opened #29948 "Issue with k8s.io/docs/concepts/containers/container-lifecycle-hooks/"
The docs mention that only HTTP and EXEC invocation types are supported for hooks. However, later on the document also mentions "tcpSocket" type, as if it was supported as well.

[2021-10-07 00:28] PulkitSinghDev commented on #29903
Would like to work on this issue
/assign

[2021-10-07 05:24] harkiratsm commented on #29353
@anubha-v-ardhan can I work on ```website/content/en/docs/tasks/tools/_index.md``` ```website/content/en/docs/tasks/tools/install-kubectl-linux.md```

[2021-10-07 05:40] Kartik494 commented on #29929
@cmjohns If you want to use the correct commands you can look it at [here](https://kubernetes.io/docs/concepts/configuration/secret/#use-case-pods-with-prod-test-credentials) untill this bug is not fixed

[2021-10-07 08:26] Veercodeprog commented on #29929
i want to contribute and try to fix this

[2021-10-07 08:50] bang9211 opened #29956 "[ko] Translate tasks/run-application/run-stateless-application-deployment.md"
**This is a Feature Request**
Translate [/content/en/docs/tasks/run-application/run-stateless-application-deployment.md] in Korean

**What would you like to be added**
Translate [/content/en/docs/tasks/run-application/run-stateless-application-deployment.md] in Korean

**Why is this needed**
This file is not translated yet.

**Comments**
Page to translate : https://kubernetes.io/docs/tasks/run-sta

[2021-10-07 09:08] Kartik494 commented on #29929
@sftim Thanks for clarification. it's understood now

[2021-10-07 09:13] dilyanpalauzov commented on #29943
I close this, as I consider any progress here as hopeless.

[2021-10-07 09:13] #29943 closed

[2021-10-07 09:14] #29913 closed

[2021-10-07 09:19] #29903 closed

[2021-10-07 10:41] Mr-DG-Wick commented on #29704
I'd like to work on this issue :)
/assign

[2021-10-07 14:04] riita10069 opened #29959 "Update `content/ja/docs/concepts/workloads/pods/pod-lifecycle.md`"
**This is a Feature Request**

**What would you like to be added**

Update some links and fix some expressions.

**Why is this needed**

Some of the links have already been translated
Also, some expressions were not official.

**Comments**

/language ja
/assign

[2021-10-07 14:26] sftim opened #29960 "Migrate identifiers reference into documentation"
**This is a Feature Request**

**What would you like to be added**
Migrate https://github.com/kubernetes/community/blob/master/contributors/design-proposals/architecture/identifiers.md into a new page within https://kubernetes.io/docs/reference/

**Why is this needed**
The identifiers reference documentation is useful to Kubernetes users as well as to the contributor community.
We should:
- presen

[2021-10-07 19:55] chrisnegus opened #29962 "Suggest creating separate CAs for client and server certificates used with kubeadm"
**This is a Feature Request**

A suggestion was made by @deads2k  in [PR26837](https://github.com/kubernetes/website/pull/28367#issuecomment-889882710) to update kubeadm docs to suggest separating client and server CAs:

`If I were choosing one thing to tweak about kubeadm's certificate generation overall, I would suggest splitting the CA that signs serving certificates from the CA that signs clie

[2021-10-07 20:15] neolit123 commented on #29962
hi, you can close this issue and log the same issue in kubernetes/kubeadm for tracking.
it's not something that is that easy to implement, is a breaking change and would require a KEP
https://github.com/kubernetes/enhancements/tree/master/keps

[2021-10-08 05:23] ShivamTyagi12345 commented on #29960
hey @sftim  I would like to help with this

[2021-10-08 07:51] dilyanpalauzov opened #29972 "kubeadm-upgrade typo: a(n) upgrade"
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-upgrade/#kubeadm-upgrade-guidance says:

It should be AN upgrade.

[2021-10-08 09:26] verma-kunal commented on #29353
really sorry for the delay!! I'll be completing that today & making a PR :)

[2021-10-08 09:28] neolit123 commented on #29972
/triage accepted
/sig cluster-lifecycle
/help

[2021-10-08 12:46] siddhantprateek commented on #29945
@sftim, yes i do

[2021-10-08 14:31] sftim commented on #29916
We could perhaps reword “Let’s perform another update, and deploy an image tagged with v10:” to imply an attempt (that might not succeed).
If anyone wants to do that rewording, the file to change is https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios/blob/master/6/step3.md

[2021-10-08 15:18] sftim commented on #29618
/kind bug
/retitle Incorrect statement in “Exposing Your App” interactive tutorial
/triage accepted
/priority backlog

[2021-10-08 15:26] sftim commented on #29530
/retitle Inaccurate advice in “Exposing Your App” interactive tutorial
/kind bug
/language en
/triage accepted

[2021-10-08 15:27] sftim commented on #28428
Hi @objectgyan

Is this working OK now?
/priority awaiting-more-evidence

[2021-10-08 17:17] #27936 closed

[2021-10-08 18:33] Sodman opened #29986 "Broken link to iana on Service Reference API docs for appProtocol"
**This is a Bug Report**

**Problem:**
The link to iana.org is broken in the [Service API Reference docs](https://kubernetes.io/docs/reference/kubernetes-api/service-resources/service-v1/), in the `ports.appProtocol` section.

This is due to a trailing paren `)` after the link.

Browsers interpret this link as `https://www.iana.org/assignments/service-names)`, which results in a 404, instead of th

[2021-10-08 19:53] amalik17 commented on #29986
Can I work on this? It'd be my first contribution but I signed the agreement and looked at the instructions for contributing.

[2021-10-08 22:20] #27949 closed

[2021-10-09 03:05] mayocream commented on #29854
It both works.
[code]

[2021-10-09 04:08] imoisharma commented on #29986
/assign

[2021-10-09 04:46] imoisharma commented on #29960
/assign

[2021-10-09 06:10] #29558 closed

[2021-10-09 06:48] maple5233 opened #29994 "Interactive Tutorial - Exploring Your App"
**This is a Bug Report**

**Problem:**
In Module 2
I create depolyment and service with
[code]

Module 3 - Step 2

curl http://localhost:8001/api/v1/namespaces/default/pods/$POD_NAME/ works

but when I curl http://localhost:8001/api/v1/namespaces/default/pods/$POD_NAME/proxy/

it returns
[code]

**Info**
OS: Mac OS

Kubernetes Version:
Client Version: version.Info{Major:"1", Minor:"22", GitVersion

[2021-10-09 10:22] #27955 closed

[2021-10-09 12:31] snnsnn opened #29997 "Second level menu items are missing on docs"
**This is a Bug Report**

When left column menu goes 3 levels deep, for example Concepts >> Workloads >> Pod is active,  2nd level items following the active parent, for our example anything that follows "Workloads", are not displayed.

Check the screenshot for the page https://kubernetes.io/docs/concepts/workloads/pods/, items like "Services, Load Balancing, and Networking" that come after Worklo

[2021-10-09 14:01] seokho-son opened #29999 "Korean Localization for dev-1.22-ko.2 branch"
## In English

**This is a Feature Request**

Korean Localization for `dev-1.22-ko.2` branch.

**What would you like to be added**

Any localization contributions for Korean.

**Comments**

- This issue is to notify the schedule of Korean localization to contributors.
- `dev-1.22-ko.2` is the current work branch for Korean localization.

**Important dates**
- A Korean localization work branch is m

[2021-10-09 14:01] seokho-son commented on #29999
/triage accepted

[2021-10-09 14:07] seokho-son opened #30000 "Outdated Korean contents in dev-1.22-ko.2 branch"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.22-ko.2 branch.

Report generated by the following command.
`scripts/diff_l10n_branches.py ko upstream/dev-1.22-ko.1 upstream/dev-1.22-ko.2`

### 71 files to be modified
1. [x] M1.  `content/en/blog/_posts/2021-08-04-kubernetes-release-1.22.md`  | 1(+XS) 1(-)
1. [x] M2.  `content/en/docs/concepts/architecture/nodes.md`  | 76(+M

[2021-10-09 14:09] seokho-son commented on #30000
/milestone dev-1.22-ko.2

/language ko
/help

[2021-10-09 14:10] #29257 closed

[2021-10-09 14:10] seokho-son commented on #29258
/close

[2021-10-09 14:10] #29258 closed

[2021-10-09 15:27] #27307 closed

[2021-10-09 15:28] seokho-son commented on #30000
M1 은 가급적 신규 컨트리뷰터께 할당하도록 하겠습니다.. ^^

[2021-10-09 16:31] mayocream commented on #29325
(3) Persistent Volume https://github.com/kubernetes/website/pull/30002

[2021-10-09 16:31] niteshseram commented on #29945
What is the problem you are facing?

[2021-10-09 17:51] ruslanzelinskyy opened #30006 "Issue with k8s.io/docs/tasks/access-application-cluster/ingress-minikube/"
ERR_CONNECTION_TIMED_OUT

Done every step like in docs:
[code]

Result:
curl: (28) Failed to connect to hello-world.info port 80: Timed out

[2021-10-09 18:19] ruslanzelinskyy commented on #30006
used windows 10 docker desktop
minikube version: v1.23.2
commit: 0a0ad764652082477c00d51d2475284b5d39ceed

[2021-10-09 19:43] elderdeveloper15 commented on #13948
HI, I would like to contribute translating "content/es/docs/tasks/tools" workload

[2021-10-09 20:30] sftim commented on #29997
/area web-development

[2021-10-09 21:26] DiegoServinHdn commented on #13948
ty

[2021-10-09 22:17] ruslanzelinskyy commented on #30006
Well the issue is pretty uncommon for me:

Ingress for minikube is creating on 192.168.49.2 IP address which should mean LAN (private) network address, Right?
But on my router i have LAN subnet mask 255.255.255.0 which means that all adresses except 192.168.0.* will be handled as public.

Windows DNS also are working pretty odd, instead of forwarding **hello-world.info** requests to 192.168.49.2 w

[2021-10-09 22:59] ruslanzelinskyy commented on #30006
OK, it was pretty hard to detect without docs but solution is pretty simple:
On windows 10:
1. **Set your test host to point on loopback 127.0.0.1 hello-world.info**
2. Run `minikube tunnel`
3. PROFIT

Please close if you think you should.

[2021-10-10 05:31] andyleung opened #30011 "Confusion following steps within “Updating Your App” interactive tutorial"
In the image depository
gcr.io/google-samples/kubernetes-bootcamp

kubernetes-bootcamp v10 image is missing (only v1 was there) which cause error for the last part of the lab.

[2021-10-10 06:16] siddhantprateek commented on #29945
Thanks, but I figured it out. [PR#30012](https://github.com/kubernetes/website/pull/30012), I was having a problem running the website using a container, it did work locally using Hugo.

**OS**: ubuntu 20.04

[2021-10-10 10:46] sftim commented on #30011
/kind support

I'm afraid @andyleung the exercise expects that step to fail.
https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios/pull/42 might help readers who are confused here.

[2021-10-10 11:08] sftim opened #30016 "Localize glossary tag display names"
**This is a Feature Request**

**What would you like to be added**
Localize the glossary tags
- Migrate `data/canonical-tags/` to be a localized / localizable file within `data/i18n/*`
  - Initially, these can all use the English text (and then when the change merges, we file an issue per localization to track the new opportunity to localize them)
- Change the glossary page layout to use the tag d

[2021-10-10 11:12] sftim commented on #30006
OK, so if you're trying this by running minikube on Windows, you also need to run `minikube tunnel`?

That detail is relevant to the page and possibly also to PR https://github.com/kubernetes/website/pull/29206. Good to know.
/remove-kind support
/kind feature

Let's mention that
/triage accepted
/language en
/priority backlog

[2021-10-10 11:32] snnsnn commented on #29997
@sftim It is not likely a designed behavior because it does not follow a predictable pattern when folding the parent items. Even if that is the case, there should be some indicator because there is no way to know Concepts has hidden items.

Current implementation makes it very hard to navigate between third level pages, i.e from "Pods" or its children to "Services, Load Balancing, and Networking"

[2021-10-10 12:38] ruslanzelinskyy commented on #30006
@sftim yes. As i understand minikube on Windows works differently then on Linux. It uses single docker container and DNS resolving handles with Docker Desktop.
Please check, but you should know better anyway.

[2021-10-10 12:42] seokho-son commented on #30000
M58-M71 : @seokho-son

[2021-10-10 17:13] #29793 closed

[2021-10-10 17:38] sftim commented on #30016
If anyone wants advice on how to work on this, please reply here.

[2021-10-10 20:01] imoisharma commented on #30016
I would be interested in this, to help out. :)

[2021-10-11 01:27] mayocream commented on #29325
(4) is already updated to latest version.
see https://github.com/kubernetes/website/pull/29866

[2021-10-11 09:08] mayocream opened #30034 "[zh] translate concept Finalizers"
doc: https://kubernetes.io/docs/concepts/overview/working-with-objects/finalizers/

[2021-10-11 09:09] mayocream commented on #30034
/language zh

[2021-10-11 09:25] mayocream opened #30036 "[zh] translate concept Owners and Dependents"
doc: https://kubernetes.io/docs/concepts/overview/working-with-objects/owners-dependents/

[2021-10-11 09:44] mayocream commented on #29325
I might need help getting these PR merged. (reviewed by @tengqm, need another LGTM)
(2) #29996
(3) #30002

And these ones need to be reviewed:
(5) #30014
(6) #30015
(7) #30032
(11) #30037

[2021-10-11 09:49] ClaudiaJKang opened #30038 "[ko] Translate docs/tasks/debug-application-cluster/get-shell-running-container.md in Korean"
**This is a Feature Request**
Translate [docs/tasks/debug-application-cluster/get-shell-running-container.md](https://github.com/kubernetes/website/blob/dev-1.22-ko.1/content/en/docs/tasks/debug-application-cluster/get-shell-running-container.md) in Korean

**What would you like to be added**

Translate [docs/tasks/debug-application-cluster/get-shell-running-container.md](https://github.com/kubern

[2021-10-11 09:51] ClaudiaJKang opened #30039 "[ko] Translate docs/tasks/debug-application-cluster/debug-stateful-set.md in Korean"
**This is a Feature Request**
Translate [docs/tasks/debug-application-cluster/debug-stateful-set.md](https://github.com/kubernetes/website/blob/dev-1.22-ko.1/content/en/docs/tasks/debug-application-cluster/debug-stateful-set.md) in Korean

**What would you like to be added**

Translate [docs/tasks/debug-application-cluster/debug-stateful-set.md](https://github.com/kubernetes/website/blob/dev-1.22-

[2021-10-11 09:52] ClaudiaJKang commented on #30038
/triage accept

[2021-10-11 11:13] dilyanpalauzov opened #30040 "setup-tools/kubeadm/: replace link from api-beta2 to api-beta3"
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#config-file says:

where “API reference page” is a hyperlink to https://kubernetes.io/docs/reference/config-api/kubeadm-config.v1beta2/ . The hyperlink shall point instead to https://kubernetes.io/docs/reference/config-api/kubeadm-config.v1beta3/ (beta2 → beta3)

[2021-10-11 11:18] lifeoncloud opened #30041 "Translate content/en/blog/_posts/2021-08-04-kubernetes-release-1.22.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate content/en/blog/_posts/2021-08-04-kubernetes-release-1.22.md in Korean

**Why is this needed**
No translation with content/en/blog/_posts/2021-08-04-kubernetes-release-1.22.md in Korean

**Comments**

Page to Update: https://github.com/kubernetes/website/blob/9c8e57535e5da63f37e70e6e1a0edc9d8fa95664/content/en/blog/_post

[2021-10-11 13:27] bang9211 opened #30045 "Translate tasks/run-application/force-delete-stateful-set-pod.md"
This is a Feature Request
Translate [/content/en/docs/tasks/run-application/force-delete-stateful-set-pod.md] in Korean

What would you like to be added
Translate [/content/ko/docs/tasks/run-application/force-delete-stateful-set-pod.md] in Korean

Why is this needed
This file is not translated yet.

Comments
Page to translate : https://kubernetes.io/docs/tasks/run-application/force-delete-stateful

[2021-10-11 16:23] sftim commented on #30040
/sig cluster-lifecycle
/triage accepted

[2021-10-11 16:53] sftim commented on #30040
I opened https://github.com/kubernetes/website/pull/30050 to fix that.

[2021-10-11 16:59] khenidak opened #30051 "Known Issues Page"
**This is a Feature Request**
Add a new page for known issues.

**What would you like to be added**
We need a page describing known issues similar to https://github.com/kubernetes/kubernetes/issues/105610 with documentation guiding users to workarounds

**Why is this needed**
We don't have a standard method and known location for all of these which result into:
1. Duplicate bug reporting.
2. Waste

[2021-10-11 17:00] sftim commented on #30051
I'd add this as a new page into the reference section.

/sig docs
/language en
/triage accepted
/priority important-longterm

[2021-10-11 22:16] aleksanderacai opened #30055 "Improvement for k8s.io/pl/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro/"
We should have an option to run commands on our own installations of Minikube (in practice, the suggestion is to allow coping commands which have to be executed within terminal and kubectl). The justification is that if it so easy to use that software then we should have opportunity to run that locally. I have already faced a problem with on-line session which got canceled. Not sure why. It could

[2021-10-12 02:00] jihoon-seo commented on #29253
[참고할 수 있는 PR들]

### 33 files to be modified
1. [ ]  _M1_.  `content/en/docs/concepts/architecture/nodes.md`  | 43(+M) 0(-)
   - #29934 (by @seokho-son)
2. [ ]  _M2_.  `content/en/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md`  | 10(+S) 1(-)
   - #29931 (by @seokho-son)
3. [ ]  _M3_.  `content/en/docs/concepts/policy/resource-quotas.md`  | 2(+XS) 2(-)
   - #29931 (by @seokho

[2021-10-12 02:06] jihoon-seo commented on #30041
This issue seems okay to close, since the PR #30043 is merged. 😊
/close

[2021-10-12 02:06] #30041 closed

[2021-10-12 02:23] jihoon-seo opened #30056 "[ko] Translation is missing in ko/docs/concepts/services-networking/ingress"
**This is a Bug Report**

**Problem:**
Korean Translation is missing in
https://kubernetes.io/ko/docs/concepts/services-networking/ingress/#네임스페이스-범위의-파라미터

**Proposed Solution:**
Translate this paragraph in [English page](https://kubernetes.io/docs/concepts/services-networking/ingress/#namespace-scoped-parameters):

**Page to Update:**
https://kubernetes.io/ko/docs/concepts/services-networking/in

[2021-10-12 02:29] jihoon-seo commented on #30056
/assign

[Suggestion]

[code]

[2021-10-12 08:36] svetoslav-vodenicharov opened #30057 "Issue with k8s.io/docs/reference/access-authn-authz/certificate-signing-requests/"
Conducted the certificate issue process step by step - the CSR is approved, but there is no status.certificate.
Guess the "Sign" has not been done, please provide example for Sign process
kubernetes v1.21
Regars.

[2021-10-12 09:59] dilyanpalauzov opened #30058 "Change links from reference/config-api/kubeadm-config.v1beta2/ to reference/config-api/kubeadm-config.v1beta3/"
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/dual-stack-support/#what-s-next says:

the “configuration format” is a hyperlink to https://kubernetes.io/docs/reference/config-api/kubeadm-config.v1beta2/, it shall instead point to https://kubernetes.io/docs/reference/config-api/kubeadm-config.v1beta3/ (beta2 → beta3)

https://kubernetes.io/docs/setup/production-environment/to

[2021-10-12 10:46] chetak123 commented on #30058
/assign @chetak123

[2021-10-12 11:04] kakts commented on #27124
/close

[2021-10-12 11:56] sftim commented on #30058
/sig cluster-lifecycle
/remove-kind bug
/kind cleanup

[2021-10-12 12:00] sftim commented on #30057
https://kubernetes.io/docs/reference/access-authn-authz/certificate-signing-requests/ is a reference page

Perhaps, as a feature request, we could add a new task page that shows an example of getting a certificate signed by a CSR signing controller? Is that similar to what you're asking for @svetoslav-vodenicharov ?

/triage needs-information

/language en

[2021-10-12 12:22] yangyunfeng007 opened #30060 "使用 kubeadm 创建集群 Broken link"
https://kubernetes.io/zh/docs/setup/release/version-skew-policy/#supported-versions

![image](https://user-images.githubusercontent.com/17523539/136955177-067ac821-8cd0-4307-ab20-a22ead33e33b.png)

[2021-10-12 13:11] seokho-son commented on #30045
/triage accepted

[2021-10-12 13:24] imoisharma commented on #30016
/assign

[2021-10-12 18:51] alculquicondor opened #30063 "Migration guide between KubeSchedulerConfig versions"
**What would you like to be added**

A section in this page https://kubernetes.io/docs/reference/scheduling/config/ with migration instructions between API versions (v1beta1 to v1beta2 and v1beta2 to v1beta3), similar to this https://kubernetes.io/docs/reference/using-api/deprecation-guide

**Why is this needed**

This is specially important after the removal of v1beta1 (kubernetes/kubernetes#1047

[2021-10-12 18:53] #28380 closed

[2021-10-12 19:03] sftim commented on #30063
One page, with [tabs](https://kubernetes.io/docs/contribute/style/hugo-shortcodes/#tabs)?

Things that suggest a task:

[2021-10-12 19:07] sftim commented on #30063
We could also consider making a whole section of tasks around upgrading. That might cover:
- some of what's in https://kubernetes.io/docs/reference/using-api/deprecation-guide/, but framed step-by-step
- how to move between different API versions for configuration files
- using `kubectl convert`
- how to upgrade your cluster!
- how to upgrade tools, eg `kubectl`

and more!

[2021-10-12 19:14] alculquicondor commented on #30063
Note that configuration files don't work with kubectl. I think they should be treated separately.

I think the changes won't make enough content for a task (at least for v1beta1 to v1beta2). It's just a handful of bullet points.

Maybe we will require a task for v1beta3 @damemi

[2021-10-13 01:41] Double-Wen opened #30070 "入门"
![image](https://user-images.githubusercontent.com/44485638/137052231-178cc2d7-e5d6-4996-b00e-f1f612f4bdb8.png)
多了一个句号。

[2021-10-13 02:13] tengqm commented on #30060
/triage accepted
@yangyunfeng007 Would you mind propose a fix?

[2021-10-13 02:26] tengqm commented on #30057
I don't think this warrants a new task page. The approve/deny operation is very simple and the operation is not one heavily used.

[code]

[2021-10-13 09:45] jotavar opened #30073 "Issue with k8s.io/docs/concepts/cluster-administration/system-metrics/"
The described role is not enough to be able to invoke the kubelet metrics endpoint (https://<node_IP>:10250/metrics):

[code]

With this role you get the following:

[code]

I tested with this role instead and it works:

[code]

[2021-10-13 12:23] grassbd opened #30076 "Issue with k8s.io/docs/concepts/configuration/secret/"
This is a Bug Report

Problem:
Immutable Secrets are not renewed on deletion of pods
https://k8s.io/docs/concepts/configuration/secret/

i delete an immuntable secret and apply it again with new values,
after that i deleted the Deployments and Pods using this secret.
After applying the Deployment again they are using the old Secret Values.
I also tried to set immutable: false but that doesn't help

[2021-10-13 12:23] #30076 closed, assigned to nobody

[2021-10-13 16:22] sftim opened #30077 "Add KCNA to training page"
**This is a Feature Request**

**What would you like to be added**
Update https://kubernetes.io/training/ to mention the [KCNA](https://training.linuxfoundation.org/certification/kubernetes-cloud-native-associate/) qualification.

**Why is this needed**
There's now a KCNA qualification that you can train for.

**Comments**
/kind feature
/language en
/priority important-longterm

[2021-10-13 16:27] #30058 closed, assigned to chetak123

[2021-10-13 16:46] shannonxtreme commented on #30077
/assign

(I just modifying the index.html in the training folder, please LMK if that was not the right way)

[2021-10-13 17:37] rubentsirunyan opened #30079 "Create an External Load Balancer"

[2021-10-13 19:07] shannonxtreme commented on #30079
Hi @rubentsirunyan, could you please expand on this issue?

The guidelines at [How to file great issues](https://kubernetes.io/docs/contribute/suggest-improvements/#how-to-file-great-issues) might help.

/triage needs-information

[2021-10-13 20:26] sftim commented on #25944
Happy to close this
/close

[2021-10-13 20:27] #25944 closed

[2021-10-13 20:51] Kumm-Kai opened #30080 "API reference loadBalancerSourceRanges: "More info" points to doc without info about SourceRanges"
**This is a Bug Report**

**Problem:**
Since 1.22 the API reference for `loadBalancerSourceRanges` points to https://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/ for more information.
But that documentation **doesn't contain** any information about SourceRanges.

Before 1.22 the reference pointed to https://kubernetes.io/docs/tasks/access-application-cluster/c

[2021-10-13 22:21] sftim commented on #30070
/kind bug
(right?)

[2021-10-14 00:21] pshickeydev opened #30083 "Authenticating page shows example beginning with "system:" while Using RBAC Authorization page states this prefix is reserved for Kubernetes system use"
**This is a Bug Report**

**Problem:**
At the url [https://kubernetes.io/docs/reference/access-authn-authz/authentication/#authentication-strategies](https://kubernetes.io/docs/reference/access-authn-authz/authentication/#authentication-strategies) the example `system:masters` is used as what a common value for a group may be. This conflicts with the cautionary message at [https://kubernetes.io/do

[2021-10-14 00:43] sftim commented on #30073
AIUI, that ClusterRole is only an example @jotavar. I don't think we have a page where we list the ClusterRole rules you'd need to access all metrics including node metrics.

The role you suggested wouldn't allow scraping (eg) scheduler metrics.

We could consider documenting the list of rules like I just suggested. The trouble is: each thing we document represents a commitment to keep that inform

[2021-10-14 08:03] vaibhav2107 commented on #27876
/remove-lifecycle stale

[2021-10-14 08:10] top1436 commented on #30045
/assign

[2021-10-14 12:12] sftim commented on #30080
/sig docs network

Which is the web page that doesn't look right @Kumm-Kai?

/language en

It sounds like the fix might need to happen within the [k/kubernetes](https://github.com/kubernetes/kubernetes) repository - if that turns out to be the case, SIG Docs can provide pointers on how and where to fix that. We add that kind of detail so that people picking up the work are clear about the steps to

[2021-10-14 16:11] chirangaalwis commented on #29342
@sftim I would like to work on this but TBH when I tried to get this to work, I experienced failures.

The discussion I had in Slack with regard to this ended abruptly with no responses for a few days (see https://kubernetes.slack.com/archives/C09TP78DV/p1633633243117000 in SIG Scheduling).

I would love to have some basic support for this so that I can try this out and I would be happy to update

[2021-10-14 16:31] jmyung opened #30084 "[ko] Translate docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md"
This is a Feature Request
Translate docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md in Korean

What would you like to be added
Translate docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md in Korean

Why is this needed
No Translation yet.

Comments
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/

[2021-10-14 16:57] #30077 closed

[2021-10-14 17:08] sftim opened #30085 "Improve logo layout for https://kubernetes.io/training/"
**This is a Feature Request**

**What would you like to be added**
The narrow (square grid) and wide (single row) logo layouts for https://kubernetes.io/training/ are fine, however there is an intermediate state that we'd like to cut out.
See https://github.com/kubernetes/website/pull/30078#issuecomment-942612149 for an animation showing the issue

**Why is this needed**
It's odd to show the logos

[2021-10-14 19:51] shannonxtreme commented on #30085
I'm interested to see how this works. I spend a good hour fiddling with flexboxes and now I cascadingly hate stylesheets

[2021-10-14 21:26] sftim commented on #29342
Let's use this issue to track the original report - https://github.com/kubernetes/website/issues/29342#issue-968938470

@chirangaalwis I recommend that you request support by some other means - GitHub isn't the best place for that kind of request.

[2021-10-14 21:27] chirangaalwis commented on #29342
@alculquicondor

The Pods we schedule with the `.spec.schedulerName` set to `my-scheduler` do not get scheduled. They stay in `Pending` state. That is what I have meant by not recognised in the above case.

@alculquicondor the scheduler starts. What I meant here was that the Deployment workload used to deploy the `my-scheduler` works fine.

[2021-10-14 21:31] sftim commented on #28450
/remove-kind bug

(I still think this is a support request)

[2021-10-14 21:40] sftim commented on #30085
/remove-kind feature

[2021-10-14 22:42] shannonxtreme commented on #30085
Also
/triage accepted

[2021-10-14 22:47] stefanlasiewski opened #30092 "Glossary: Add a definition for "resource""
I just learned about https://kubernetes.io/docs/reference/glossary and I think it's a great tool that will help provide a common language for the community, and also for our team where we struggle often over simple definitions.

I was reading through different definitions, and that many definitions refer to the term "resource", but the term itself is not defined. Some of the usage is confusing. It

[2021-10-14 23:32] chrismetz09 opened #30095 "Update namespace definition"
**This is a Feature Request**

Good first issue!

**What would you like to be added**
Revised definition of namespace.

**Why is this needed**
Suggested during Kubecon 21 talk that namespace definition is 5 years old. [Page in question](https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/)

**Comments**
[Slides from Kubecon talk](https://static.sched.com/hosted_files/kccnc

[2021-10-14 23:34] chrismetz09 commented on #30095
/good first issue

[2021-10-15 01:49] tengqm commented on #30060
/triage accepted
/kind feature

This was caused by some recent content reorg in the English site. Some pages were migrated into the content/en/releases directory, out of content/en/docs/. The contents under content/en/releases need to be retranslated, I guess.

[code]

[2021-10-15 01:55] tengqm opened #30096 "[zh] Translate the release contents"
The content/en/releases directory is "not" localized. It is a collection of pages migrated from content/en/docs, but it is hard to trace back our original localizations. So ... the best we can do is to retranslate the contents.

/language zh
/kind feature

[2021-10-15 04:08] harridu opened #30097 "Improvement for k8s.io/docs/"
Using a desktop or laptop PC and Brave:

Many (all?) pages on https://kubernetes.io/docs/ waste a lot of screen space esp on the right edge. The pre-formatted text blocks on these pages are cut off, while there is plenty of unused screen space next to it (if you scroll down a bit). Sample:
<img width="1519" alt="Screenshot 2021-10-15 at 05 52 52" src="https://user-images.githubusercontent.com/8321

[2021-10-15 07:10] chirangaalwis commented on #29342
@sftim @alculquicondor @damemi please find the details of the issue and the requested logs uploaded to SIG for Scheduling Slack channel [thread](https://kubernetes.slack.com/archives/C09TP78DV/p1634250620170400).

[2021-10-15 10:00] sftim commented on #30080
Thanks, that clears things up.

I think it makes sense to add text similar to
[code]

into https://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/

/triage accepted

[2021-10-15 10:26] sftim commented on #30095
https://github.com/kubernetes/website/pull/30086 and https://github.com/kubernetes/website/pull/30086/files both aim to cover this.

[2021-10-15 10:26] sftim commented on #30095
/close
Fixed in #30088

[2021-10-15 10:27] #30095 closed, assigned to Shatakshi0805

[2021-10-15 10:27] sftim commented on #30097
/area web-development

[2021-10-15 10:42] sftim commented on #20074
See https://github.com/kubernetes/website/issues/30092#issue-1026887646 for a specific suggestion.

[2021-10-15 10:48] #29972 closed, assigned to ba1ajinaidu, sandipanpanda

[2021-10-15 14:02] verb opened #30100 "Ephemeral Container securityContext still appearing as not-allowed in documentation"
**This is a Bug Report**

**Problem:**

Setting `securityContext` for ephemeral containers is allowed as of Kubernetes 1.22, but it's still showing up as a "not allowed" field here: https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/pod-v1/#not-allowed

**Proposed Solution:**

This page looks to be autogenerated based on the API definition, but I'm not sure how it's detecting n

[2021-10-15 15:01] vamzi opened #30101 "Adding Windows nodes - Link Broken for Docker EE installation"
The following link seems to be broken for docker ee installation on [Adding Windows nodes page] (https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/#install-wins-kubelet-and-kubeadm)

https://hub.docker.com/editions/enterprise/docker-ee-server-windows

You might want to update the link to this

https://docker-docs.netlify.app/install/windows/docker-ee/

[2021-10-15 15:23] Debanitrkl commented on #30101
/sig docs
/language en

[2021-10-15 15:27] habibrosyad commented on #24382
/remove-lifecycle stale

[2021-10-15 15:42] pshickeydev commented on #30083
Noted. Thank you for the resources!

[2021-10-15 16:22] sftim commented on #30100
The fix is likely to happen within https://github.com/kubernetes-sigs/reference-docs/

[2021-10-15 16:24] sftim commented on #30100
https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/pod-v1/ _is_ autogenerated.
I don't think https://github.com/kubernetes-sigs/reference-docs/tree/master/gen-resourcesdocs/config received field updates for v1.22

[2021-10-15 17:29] ghulamyazdani opened #30102 "Translate README in Urdu"
**This is a Feature Request**
There are so many people whose native language is Urdu and struggle in reading English . It would be great if readme in Urdu lang is added.

**What would you like to be added**

Readme, while translated in Urdu, should be added.

**Why is this needed**
Because so many people around the world (whose native language is Urdu) struggle to read English. Adding an Urdu read

[2021-10-15 17:48] PranshuSrivastava commented on #29353
Hey, I would like to work on website/content/en/docs/test.md

[2021-10-15 18:47] sandipanpanda commented on #30101
/assign

[2021-10-15 19:20] dilyanpalauzov opened #30104 "Default value for Pod.spec.containers.securityContext.allowPrivilegeEscalation"
At https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/pod-v1/#security-context-1 for

it is not described what the default value is (when the container has no CAP_SYS_ADMIN and is not run as privileged)

[2021-10-16 10:08] sftim commented on #30104
/sig auth
/sig security
/language en

This might be an API reference generation bug?

[2021-10-16 10:45] sftim commented on #28848
To work on this:
- edit https://k8s.io/docs/concepts/workloads/pods/ to show creating a Pod directly
- then immediately explain that usually you use a workload resource do that indirectly (and link to the section of the page that introduces an example Job).

/help

[2021-10-16 10:46] sftim commented on #29428
/area web-development

[2021-10-16 10:50] sftim commented on #29428
That layout can have a conditional, “is this the current release?” and skip rendering part of the page if the answer is `false`.
(The yellow deprecation warning is actually a layout not a shortcode)

/retitle Create a Hugo layout to not display release information on older versions of k8s.io

As this has confused two experienced contributors(!) I'll leave this marked as Help Wanted but not as a go

[2021-10-16 10:51] sftim commented on #29101
https://github.com/kubernetes/website/issues/29101#issuecomment-886659467 is right

Does anyone want help updating the Kubernetes source code?
/remove-good-first-issue

[2021-10-16 11:30] siddhantprateek commented on #30040
@sftim  this issue is reponed, may I know if I have to open a new PR for this. I guess i was working on the wrong branch and I thought it belongs to `dev-1.23`.

[2021-10-16 12:04] 100mik commented on #28848
I would love to take this up, if that's fine!
/assign

[2021-10-16 12:11] sftim commented on #28848
For Kubernetes SIG Docs, anyone can work on any issue (our more jargon-y way of saying this is “no [cookie licking](https://devblogs.microsoft.com/oldnewthing/20091201-00/?p=15843)”) and open a pull request to propose a related change.

[2021-10-16 12:24] 100mik commented on #28848
Oops I didn't know that! Sorry. Thanks for letting me know.
I'll put in a PR soon!

[2021-10-16 12:26] sftim commented on #30102
Here's our guide to [starting a new localization](https://kubernetes.io/docs/contribute/localization/#start-a-new-localization) of the Kubernetes docs.

[2021-10-16 13:00] sftim commented on #30096
On https://kubernetes.io/zh/ the top menu has a menu item “Release Information” that links to https://kubernetes.io/releases/

I'm guessing there is a related improvement / issue, depending on this one, to:
- localize that text, “Release Information”
- link to the localized release docs if they exist for a localization

(does that sound right?)

[2021-10-16 13:39] #28029 closed

[2021-10-16 15:04] esimim opened #30112 "Translate a Docker Compose File to Kubernetes Resources"
There is an little issue here with this command that overlaps the next text block:

"kubectl apply -f frontend-service.yaml,redis-master-service.yaml,redis-slave-service.yaml,frontend-deployment.yaml,
The output is similar to:

redis-master-deployment.yaml,redis-slave-deployment.yaml"

This part should be like:
"kubectl apply -f frontend-service.yaml,redis-master-service.yaml,redis-slave-service.y

[2021-10-16 20:39] #28043 closed

[2021-10-17 06:17] anubha-v-ardhan opened #30115 "[hi] Update Hindi Maintainers in README-hi.md"
**This is a Bug Report**

**Problem:**
All the current maintainers of Hindi localization is not mentioned in README-hi.md

**Proposed Solution:**
Add @divya-mohan0209 and @anubha-v-ardhan with appropriate links to [आप पर हिंदी स्थानीयकरण के maintainers तक पहुँच सकते हैं:](https://github.com/kubernetes/website/blob/main/README-hi.md#readmemds-%E0%A4%B8%E0%A5%8D%E0%A4%A5%E0%A4%BE%E0%A4%A8%E0%A5%80%E

[2021-10-17 06:18] niteshseram opened #30116 "Broken link in k8s.io/releases/release-managers/"
**This is a Bug Report**

**Problem:**
All the `Security Response Committee` hyperlinks which are pointing to this [link](https://github.com/kubernetes/community/blob/master/committee-product-security/README.md) are broken.
**Proposed Solution:**
I suppose it should point to this [link](https://github.com/kubernetes/community/blob/master/committee-security-response/README.md) now.
**Page to Update

[2021-10-17 07:00] Shatakshi0805 commented on #30116
Can I work on this?

[2021-10-17 15:50] #28053 closed

[2021-10-17 15:56] bang9211 opened #30121 "Translate tasks/access-application-cluster/ingress-minikube.md into Korean"
This is a Feature Request
Translate [/content/en/docs/tasks/access-application-cluster/ingress-minikube.md] in Korean

What would you like to be added
Translate [/content/ko/docs/tasks/access-application-cluster/ingress-minikube.md] in Korean

Why is this needed
This file is not translated yet.

Comments
Page to translate : https://kubernetes.io/docs/tasks/access-application-cluster/ingress-miniku

[2021-10-17 16:00] kbhawkey commented on #30096
/triage accepted

[2021-10-17 16:04] kbhawkey commented on #30100
Track the update of the documentation as an issue in this repository.
/triage accepted

[2021-10-17 19:54] sftim commented on #20075
/reopen
I think we should still work on this
/remove-lifecycle rotten

[2021-10-17 19:54] sftim commented on #20075
/lifecycle frozen

[2021-10-17 20:51] #28008 closed

[2021-10-18 04:40] adithyaakrishna commented on #30115
Can I work on this?

[2021-10-18 05:58] PranshuSrivastava commented on #29945
Hey, is this issue open to work on ? As both the PRs have been closed

[2021-10-18 07:50] vitalyrychkov opened #30126 "Update ingress class setup note in the k8s.io/docs/concepts/services-networking/ingress-controllers/ page"
Hello,

Kubernetes 1.18 introduced the IngressClass resource, effectively replacing the kubernetes.io/ingress.class annotation convention. The page above only advises to set ingress class as ingress.class annotation which is outdated. Update needed in all versions 1.18+ including  1.22.

Source:
https://kubernetes.io/docs/concepts/services-networking/ingress/#deprecated-annotation

[2021-10-18 08:35] #27831 closed

[2021-10-18 08:46] Kartik494 commented on #28340
/remove-lifecycle stale

[2021-10-18 08:48] Kartik494 commented on #28627
/remove-lifecycle stale

[2021-10-18 09:41] alonsoir opened #30127 "Issue with k8s.io/docs/tasks/access-application-cluster/ingress-minikube/"
Hi, i have tried to create the cheese nginx services, but they are not working.
I suspect that nip.io is not working properly. Although, i have tried with hello-world sample from kubernetes,
and it is not working either.

These are the commands i tried:

[code]

The above commands works ok, but when i try to run example-ingress.yaml, it does not work.

[code]
[code]

I updated /etc/hosts file with

[2021-10-18 12:40] Debanitrkl commented on #25879
/remove-lifecycle stale
Working on this here https://github.com/kubernetes/kubernetes/issues/104878

[2021-10-18 14:01] spisarau opened #30128 "Improvement for k8s.io/docs/concepts/workloads/controllers/deployment/"
**Pausing and Resuming a Deployment**  section is confusing. Especially when later you are showing a command
`kubectl rollout pause deployment.v1.apps/nginx-deployment`
You are not pausing a Deployment itself, but just a rollout process, so I think it is better to change a header to something like this
**Pausing and Resuming a rollout of  a Deployment**

[2021-10-18 18:17] afro-coder commented on #30092
Hey @sftim I would like to contribute to the issue, however, I'm very new to Kubernetes, I understand that a resource would be something like a Deployment or pod as the OP said or it can also be something like a CPU resource limit(Please correct me if I'm wrong). I'm still confused as to what is the primary definition and how to find the other definitions, any hints would be appreciated.

searchin

[2021-10-18 18:42] marciogmorales opened #30131 "Windows containers in Kubernetes - Load Balancing and Service supported OS list"
Hello,
A recent change on Load Balancing and Service removed Windows 2004/20H2 from the supported OS list.
https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/

An an example, WinDSR by Microsoft Blog is only available on WIn19H1 + . All the features are now only supported on Windows 2019? and are these features really available on Windows Server 2019?

WinD

[2021-10-18 22:14] tallclair opened #30133 "[PodSecurity] Document webhook installation & use"
- [x] Webhook installation guide
  - [ ] How to manage webhook certificates
  - [ ] Kustomization
- [ ] When to use the webhook
- [ ] Limitations of the webhook
- [ ] ~~Extending the webhook (full guide to API & extension points should probably be part of the README documentation on the PodSecurity repo)~~ (https://github.com/kubernetes/kubernetes/issues/106561)

/cc @sejr @liggitt
/sig auth
/mile

[2021-10-18 23:35] stefanlasiewski commented on #30092
I'd be fine with moving this question into #20074, although unfortunately that issue is stale and I don't want this issue to get lost.

I do think that newcomers, including people who are experienced with other systems outside of kubernetes, may find parts of the documentation confusing. The context in much of the conversation is not clear. Here's another example from

https://kubernetes.io/docs/c

[2021-10-19 07:17] afro-coder commented on #30097
It feels a bit weird since the solution was already provided above, after adding the CSS from above it looks like this, should I go ahead and open a pull request for this.

![image](https://user-images.githubusercontent.com/8469842/137861620-9ec50bc1-40f3-4c8c-b318-f7c43221c9fb.png)

[2021-10-19 08:08] Debanitrkl opened #30136 "Multiple broken links on file troubleshooting-kubeadm.md"
**Problem**
While going through the file  https://github.com/kubernetes/website/blob/main/content/en/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md I found multiple broken links on ` line 93, line 96, line 147, line 162, line 166, line 265, line 280, line 339, line 372 & line 431`

**File to change**
https://github.com/kubernetes/website/blob/main/content/en/docs/setup/

[2021-10-19 08:46] sftim commented on #30097
Happy to have someone work on this. Please go ahead!

/good-first-issue

[2021-10-19 09:36] qlijin opened #30138 "[zh] Translate Reference/Ports and Protocols page"
Hi, I'm interested to translate the "Reference/Ports and Protocols" page.

This is a Feature Request:

translate en/docs/reference/ports-and-protocols.md into Chinese.

What would you like to be added:

zh/docs/reference/ports-and-protocols.md

/language zh
/kind feature

[2021-10-19 10:45] anubha-v-ardhan commented on #30115
Sure,
Here are the links to be added

@divya-mohan0209

@anubha-v-ardhan

/assign @adithyaakrishna

[2021-10-19 10:47] anubha-v-ardhan commented on #30115
/triage accepted

[2021-10-19 10:58] UOndro opened #30139 "Invalid link in k8s.io/docs/concepts/overview/working-with-objects/finalizers/"
Hi,

The link https://kubernetes.io/concepts/overview/working-with-objects/owners-dependents/ returns 404, and the link is used here -> https://kubernetes.io/docs/concepts/overview/working-with-objects/finalizers/

[2021-10-19 11:04] RinkiyaKeDad opened #30140 "fixing skew in contributing to localization docs"
**This is a Bug Report**

**Problem:** The skew used in the examples in the branching strategy section of the [Localizing Kubernetes documentation](https://kubernetes.io/docs/contribute/localization/#branching-strategy) is incorrect and this leads to `release-{{ skew "prevMinorVersion" }}` being rendered instead of something like `release-1.22`

**Proposed Solution:**  Changing the shortcode to us

[2021-10-19 11:18] jayesh-srivastava commented on #30136
/assign

[2021-10-19 14:27] RinkiyaKeDad commented on #30140
/triage accepted

[2021-10-19 14:42] raelga opened #30144 "[es] Add feature gate to the spanish glossary"
**What would you like to be added**

 Add the definition of feature gate in Spanish as glossary term, so it can be referenced.

**Why is this needed**

Feature Gate is a tricky word to translate to Spanish, as is a well known Kubernetes concept. So the best approach is to use the original term, but with a tooltip providing more information.

/assign
/label language/es

[2021-10-19 19:17] mayocream commented on #30139
In this section https://kubernetes.io/docs/concepts/overview/working-with-objects/finalizers/#owners-labels-finalizers

We might run `linkchecker.py` script to check if there are other links that have the wrong path.

[2021-10-19 20:04] sandipanpanda commented on #30139
owner references now links to this: https://kubernetes.io/concepts/overview/working-with-objects/owners-dependents/ which is 404, in order to fix this issue, I should link it to https://kubernetes.io/docs/concepts/overview/working-with-objects/owners-dependents/. Am I right?

[2021-10-20 06:47] tepecat opened #30149 "Installing kubeadm"
Hallo,
this site looks a little bit outdated, but this is not my main concern.

Where can I find md5 or sha checksums for downloaded files? I miss any checksum check. It is good practice, don't install anything blind into a system.

I mean something like this
[code]

Are there any reasons for this kind of installation?

viele Grüsse,
thomas.

[2021-10-20 07:11] Yunak opened #30150 "Issue with k8s.io/zh/docs/tasks/tools/included/optional-kubectl-configs-zsh/"
# zsh auto-completion
The kubectl completion script for Zsh can be generated with the command kubectl completion zsh. Sourcing the completion script in your shell enables kubectl autocompletion.

To do so in all your shell sessions, add the following to your ~/.zshrc file:
[code]

[code]

[2021-10-20 08:00] souvikrajsingh commented on #30133
@tallclair  hey I would love to work on this issue, can you please assign it to me ? thank you!

[2021-10-20 09:28] abebef77 opened #30153 "Deployments"
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:1.14.2
        ports:
        - containerPort: 80

[2021-10-20 09:29] #30153 closed

[2021-10-20 09:33] souvikrajsingh commented on #30133
Since you mentioned , can you please tell me about this issue a bit , do I need to make documentation or I need to add these in some particular file? I'm actually new to this

[2021-10-20 11:02] riita10069 opened #30156 "[ja] Update `content/ja/docs/concepts/architecture/nodes.md`"
**This is a Feature Request**

**What would you like to be added**

About `content/ja/docs/concepts/architecture/nodes.md`

* Graceful node shutdown
* Swap memory management

**Why is this needed**

Graceful node shutdown is FEATURE STATE: Kubernetes v1.21 [beta]
and Swap memory management is FEATURE STATE: Kubernetes v1.22 [alpha]

The Japanese documents do not reflect the latest updates of them.

[2021-10-20 14:21] riita10069 opened #30160 "Update `content/ja/docs/concepts/security/pod-security-standards.md`"
**This is a Feature Request**

**What would you like to be added**

Update the Pod Security Policy table.

**Why is this needed**

I found different Baseline and Restricted in English and Japanese sentences, so I unified them.

**Comments**

[2021-10-20 14:29] harridu opened #30162 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/"
Missing information: What can be done if the product_uuid is **not** unique? How do I change it (except for introducing virtual hardware)?

[2021-10-20 16:35] sejr commented on #30133
@souvikrajsingh @AvineshTripathi hey there! We have an initial Task page for installing the webhook located here: https://github.com/kubernetes/website/pull/30122

It's possible that other pages, such as Concepts, will be required, but I'll defer to both Tims to clarify what they expect.

This issue is essentially tracking the topics that need to be added. I'd be happy to help you get involved; it

[2021-10-20 18:14] souvikrajsingh commented on #30133
Thanks again, Sam! Will connect with you on Slack !!

[2021-10-20 23:20] fOO223Fr commented on #30126
@vitalyrychkov from what i understand
updated is needed in this page: https://kubernetes.io/docs/concepts/services-networking/ingress-controllers/#using-multiple-ingress-controllers in the section "Using multiple Ingress controllers" is taht correct?

/assign fOO223Fr

[2021-10-20 23:52] kbhawkey commented on #30139
/triage accepted

[2021-10-20 23:56] #30139 closed, assigned to sandipanpanda

[2021-10-21 01:57] djatkdgus789 commented on #25673
Hi,
Thanks for mail.
I will not able to contribute due to personal circumstance. Please release
the task assigned to me. If there is a chance, I will participate again.

Thank you. 감사합니다. :)

= Sanghyeon, Eum =

2021년 10월 21일 (목) 오전 10:16, Seokho Son ***@***.***>님이 작성:

[2021-10-21 02:36] seokho-son commented on #25673
@djatkdgus789 Thank you ! please feel free to re-initiate contribution :)

[2021-10-21 07:58] moluzhui opened #30172 "Issue with k8s.io/zh/docs/tasks/extend-kubernetes/configure-multiple-schedulers/"
**This is a Bug Report**

**Problem:**
When I create a custom scheduler using the page's YAML, I get the following error
[code]

It appears that the **ClusterRole** for **system: kube-scheduler** does not have access to configMap resources

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2021-10-21 10:34] sftim commented on #30162
This is, indeed, a support query. There's no fault with the documentation here.

We don't support running Kubernetes on platforms that that can't meet Kubernetes' system requirements, and we don't document how to buy, deploy or fix a server that does.

@harridu your best option is to look at the documentation for your operating system (if this is a virtual machine that you operate, its hypervisor)

[2021-10-21 11:42] neolit123 commented on #30162
/close

[2021-10-21 11:43] #30162 closed

[2021-10-21 11:47] neolit123 commented on #30149
Artifacts that k8s publishes such as kubectl do have checksum files next to
the binaries.

Same goes for the thirt party tools like cni-plugins. Except that those are
stored in github releases instead of GCS.

[2021-10-21 13:16] EricoCartmanez opened #30174 "Improvement for k8s.io/docs/tasks/job/automated-tasks-with-cron-jobs/"
Shouldn't `activeDeadlineSeconds` be mentioned here?

Pardon me if I 'm missing something.

[2021-10-21 15:34] sbarikdev commented on #30149
Hi folks!
Is there any update on this issue?
If it seems good then I'm up for it.

[2021-10-21 16:41] #30174 closed, assigned to nobody

[2021-10-21 16:47] sftim opened #30180 "Mark flexVolume deprecated"
**This is a Feature Request**

**What would you like to be added**
Update https://kubernetes.io/docs/concepts/storage/volumes/#flexvolume to mark it deprecated for v1.23

**Why is this needed**
In Kubernetes v1.23, `flexVolume` is deprecated in favor of CSI.

**Comments**
See https://github.com/kubernetes/sig-release/discussions/1709#discussioncomment-1515235

[2021-10-21 16:49] sftim commented on #30180
/sig storage
/milestone 1.23

[2021-10-21 18:27] #30097 closed

[2021-10-21 20:21] lzolezzi opened #30182 "Issue with k8s.io/docs/concepts/storage/storage-classes/"
In the section Azure Disk storage class (starting from v1.7.2) , its specifies the parameter  **resourceGroup** when the correct one is **resourcegroup** (no camelcase)

[2021-10-22 03:13] chetak123 commented on #30180
/assign @chetak123

[2021-10-22 08:57] florianbeyer opened #30188 "Hallo Minikube"
the tiutorial as well as the outputs are not up-to-date anymore:

*** enable metrics-server addon instead of heapster addon because heapster is deprecated**

[code]

[2021-10-22 09:52] #30149 closed, assigned to nobody

[2021-10-22 13:47] nasa9084 opened #30189 "Broken link in Using RBAC Authorization page"
https://k8s.io/docs/reference/access-authn-authz/rbac/ page has link to https://kubernetes.io/docs/concepts/storage/persistent-volumes/#provisioner but the page doesn't have the ID `provisioner` for now

[2021-10-22 15:17] QWERTY92009 opened #30190 "Improvement for k8s.io/docs/concepts/services-networking/service/"
If a pod is configured to run a NodePort service, we have found empirically that targeting that pod with a networkpolicy will cause the NodePort service to be non-functional. It would be helpful to explain that consequence of using NodePort.

If there is a configuration that avoids this consequence, we would be happy to hear it!

[2021-10-22 17:56] imjeongwoo opened #30192 "[ko] Incorrectly translated content in /docs/concepts/services-networking/ingress"
**This is a Bug Report**

**Problem:**
There is awkwardly translated content in https://kubernetes.io/ko/docs/concepts/services-networking/ingress/#경로-유형

**Proposed Solution:**
- **Incorrect translation**
    - /foo/bar 와 /foo/bar/baz 와 일치하지만, /foo/barbaz 는 일치하지 않는다

- **I suggest**
    - /foo/bar `는` /foo/bar/baz 와 일치하지만, /foo/barbaz `와는` 일치하지 않는다

**Page to Update:**
https://kubernetes.io/ko/do

[2021-10-22 23:40] #30140 closed, assigned to robotjellyzone

[2021-10-23 06:51] #30136 closed, assigned to jayesh-srivastava

[2021-10-23 07:16] lifeoncloud opened #30200 "Translate content/en/docs/reference/tools/_index.md in Korean"
Refs #30000
Fix tasks: M50

M50. /content/ko/docs/reference/tools/_index.md

[2021-10-23 07:23] lifeoncloud opened #30201 "Translate content/en/docs/reference/using-api/health-checks.md in Korean"
**This is a Feature Request**

**What would you like to be added :**
Translate content/en/docs/reference/using-api/health-checks.md in Korean

**Why is this needed :**
No translation with content/en/docs/reference/using-api/health-checks.md in Korean

**Comments :**
Page to Update: https://github.com/kubernetes/website/blob/8c6e5926f8274ff037cf0db6ac9440158bfd193e/content/en/docs/reference/using-a

[2021-10-24 06:11] imoisharma opened #30206 "List All Container Images Running in a Cluster"
As a reporter,

I noticed today, in the [List Container images by Pod section](https://kubernetes.io/docs/tasks/access-application-cluster/list-all-running-container-images/#list-container-images-by-pod) contains equal to sign while putting the output as json. It's kind of look bug to me.

The bug can be seen under List container images by pod section
https://kubernetes.io/docs/tasks/access-applic

[2021-10-24 13:26] sftim opened #30215 "etctutl command name incorrectly “fixed”"
**This is a Bug Report**

**Problem:**
PR https://github.com/kubernetes/website/pull/28601 introduced a command, `etcdutl`, that a reader can use to work on etcd.
You can read more about `etcdutl` in https://etcd.io/blog/2021/announcing-etcd-3.5/#developer-experience.

PR https://github.com/kubernetes/website/pull/30202 revised that text to change the name from `etcdutl` to `etcdctl`. I think that

[2021-10-24 23:57] RichieMcG commented on #30215
Sorry this is my bad. I didn't notice line 328 and also I have never come across etcutl.
I do think it is confusing how etdutl is suddenly introduced in the docs, as it not even mentioned previously on the page or elsewhere in the docs (that I could find).

Perhaps rephrasing that line 328 to actually introduce the reader to the fact that etcdutls exists and can be used instead of etcdctl and also

[2021-10-25 06:40] qlijin opened #30217 "[zh] Translate en/docs/tasks/administer-cluster/kubelet-in-userns.md page"
I'm interested to translate the one page into chinese.

This is a Feature Request:
translate en/docs/tasks/administer-cluster/kubelet-in-userns.md

What would you like to be added:
zh/docs/tasks/administer-cluster/kubelet-in-userns.md

/language zh
/kind feature

[2021-10-25 06:42] #30138 closed, assigned to qlijin

[2021-10-25 07:05] calvin0327 opened #30218 "[zh] Incorrect translations or incorrect formats on kubeadm"
**This is a Bug Report**

**Problem:**
I read through the document of kubeadm and found some problem:
* incorrect translations
* Incorrect spelling of words
* incorrect formatting

**Proposed Solution:**
Although it does not affect reading, it will be better after modification.

**Page to Update:**
https://kubernetes.io/zh/docs/setup/production-environment/tools/kubeadm/install-kubeadm/
https://ku

[2021-10-26 07:12] saad-ali opened #30237 "Improve k8s storage CSI topology docs for multi topology volumes"
**This is a Bug Report**

**Problem:**

@SandeepPissay was asking how in k8s one can ask for a volume that is accessible for more than one topological segment (e.g. from >1 zones).

After discussing, I believe there is room for improvement the Kubernetes docs for `allowedTopologies.matchLabelExpressions.values`.

For background, the number of topologies a provisioned volume is accessible from is n

[2021-10-26 07:57] Shubham82 opened #30238 "Correct the "empty" link so that it redirect to the latest release(v1.22.0) instead of k8sv1.13.0."
**This is a Bug Report**

**Problem:**
The link for "admission webhook server leaves the ClientAuth field [empty](https://github.com/kubernetes/kubernetes/blob/v1.13.0/test/images/webhook/config.go#L47-L48)" mention under the [Write an admission webhook server](https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#write-an-admission-webhook-server) in the[ Dynam

[2021-10-26 09:12] lizzzcai opened #30240 "[zh] doc of debug on the node is outdated"
Recently I am exploring the `kubectl debug` and found that `Debugging via a shell on the node` section of `Debug Running pod` in the Chinese document is outdated so I tried to update it.

en: https://kubernetes.io/docs/tasks/debug-application-cluster/debug-running-pod/#node-shell-session
zh: https://kubernetes.io/zh/docs/tasks/debug-application-cluster/debug-running-pod/#node-shell-session

[2021-10-26 10:27] #30085 closed, assigned to shannonxtreme

[2021-10-26 11:35] #30238 closed, assigned to Shubham82

[2021-10-26 14:07] #30240 closed, assigned to nobody

[2021-10-26 15:41] jeasterman-zz opened #30244 "Improvement for k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
I get the error
"Error: required flag(s) "image" not set" when trying to perform Module 2.

[2021-10-26 21:26] irataxy opened #30259 "Interactive Tutorial - Deploying an App"
The following command does not function correctly:

[code]

The second terminal opens and displays the following:

`Permission denied (publickey,password).
`
I received the same result on two work computers: Mac OS 11.6, Chrome Version 95.0.4638.54 and
Windows 10 Enterprise Version 1909, Chrome Version 95.0.4638.54

It also did not work on another Mac of mine, which is not subject to any corp cont

[2021-10-27 10:50] #30215 closed, assigned to RichieMcG

[2021-10-27 14:02] msyhu opened #30271 "[ko] Wrong Korean translations"
**This is a Bug Report**

**Problem:**
- https://kubernetes.io/ko/docs/concepts/scheduling-eviction/assign-pod-node/ 에 오역 존재.
- 향후에는 파드의 노드 어피니티 요구 사항을 충족하지 않는 노드에서 파드를 제거한다는 점을 제외하고는 `preferredDuringSchedulingIgnoredDuringExecution` 와 동일한 `requiredDuringSchedulingIgnoredDuringExecution` 를 제공할 계획이다.

**Proposed Solution:**
- 영어 원문을 번역해본 결과 밑과 같이 고치는 것을 제안함.
- In the future we plan to offer `requir

[2021-10-27 23:13] reylejano opened #30281 "Fix incorrect capitalization on the "Install kubeadm" page"
The "Install kubeadm" page has an incorrect capitalization in the "[Checked Required Ports](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#check-required-ports)" section.

Should be

/language en
/kind cleanup
/good-first-issue

[2021-10-28 00:04] mrunalp opened #30283 "Clarify kubelet ephemeral storage enforcement behavior when using two filesystems"
**Problem:**
The kubelet doesn't consider the container writeable layer for ephemeral storage when the imagefs is on a separate filesystem from the root storage. This isn't clear in the current documentation.

**Proposed Solution:**
Update the documentation to describe the current kubelet behavior.

**Page to Update:**
https://github.com/kubernetes/website/blob/dc262ad58bdb2b760def8866fd3592a89587

[2021-10-28 01:19] jihoon-seo opened #30284 "Replace words 'master', 'slave' with something else"
**This is a Feature Request**

**What would you like to be enhanced**

Replace words 'master', 'slave' with something else.
- https://kubernetes.io/docs/tutorials/configuration/configure-redis-using-configmap/
- https://kubernetes.io/docs/tasks/configure-pod-container/translate-compose-kubernetes/
- ...

For example, in https://kubernetes.io/docs/tutorials/stateless-application/guestbook/ ,
the te

[2021-10-28 03:39] bang9211 opened #30285 "Translate tasks/extend-kubernetes/setup-konnectivity.md into Korean"
This is a Feature Request
Translate [/content/en/docs/tasks/extend-kubernetes/setup-konnectivity.md] in Korean

What would you like to be added
Translate [/content/ko/docs/tasks/extend-kubernetes/setup-konnectivity.md] in Korean

Why is this needed
This file is not translated yet.

Comments
Page to translate : https://kubernetes.io/docs/tasks/extend-kubernetes/setup-konnectivity/

/language ko
/as

[2021-10-28 08:02] #30281 closed, assigned to aserputov

[2021-10-28 14:53] ngeorgakopoulos-deloitte opened #30293 "Kubernetes Security Announce RSS feed link is not working"
The link https://groups.google.com/forum/feed/kubernetes-security-announce/msgs/rss_v2_0.xml?num=50 is not working.

[2021-10-29 05:33] #29324 closed, assigned to nobody

[2021-10-29 19:04] shannonxtreme commented on #28567
We should add Telepresence to the tools at [Other Tools](https://kubernetes.io/docs/reference/tools/).

If agreed, maybe we can turn add more guidance and turn this into a good-first-issue, WDYT @sftim ?

[2021-10-30 04:22] yaxin-cn opened #30302 "[zh] typo in 使用 kubeadm API 定制组件"
![image](https://user-images.githubusercontent.com/2509813/139519967-2786d6ef-3a5d-4c48-89bb-df434a3cd225.png)

这里少了个`r`，`Cluster`。

[2021-10-30 05:10] niteshseram commented on #30284
I think `leader` ad `follower` sounds good to me. But there are other alternative names like `conductor` and `follower`, `primary` and `standby`, `source` and `sink`, `primary` and `replica`. Do let me know which one sounds good? Would love to raised a PR.

[2021-10-30 16:19] shannonxtreme commented on #30284
It depends on the context too. Where applicable, replace Kubernetes master with control plane. Primary/secondary is a good substitute for controllers with that master/slave terminology.

Worth doing multiple smaller PRs for this so that instances can be discussed and reviewed.

[2021-10-31 10:42] dilyanpalauzov commented on #29107
/remove-lifecycle stale

[2021-10-31 15:01] amirkCA opened #30308 "Issue with k8s.io/docs/reference/issues-security/security/"
the link:https://github.com/kubernetes/kubernetes/blob/master/.github/ISSUE_TEMPLATE/bug-report.md is broken

[2021-10-31 16:27] divya-mohan0209 commented on #30308
Hello @amirkCA, where did you find the link? And could you provide more details around where you intend to replace it?

[2021-11-01 03:05] jihoon-seo commented on #30284
Thank you all for your comments!

@AvineshTripathi

This label was added because I used the "Feature Request" issue template.
Let's remove this! 😊

/remove-kind feature

[2021-11-01 05:26] Shubham82 commented on #30308
Hi @divya-mohan0209
The link to the page is mentioned as the title of this issue. and the broken link (all Kubernetes bug reports) is under [Report a Vulnerability](https://kubernetes.io/docs/reference/issues-security/security/#report-a-vulnerability)

**Correct link**:  https://github.com/kubernetes/kubernetes/blob/master/.github/ISSUE_TEMPLATE/bug-report.yaml

[2021-11-01 05:30] divya-mohan0209 commented on #30308
Thank you @Shubham82 !
/triage-acceptec

[2021-11-01 05:31] divya-mohan0209 commented on #30308
/triage accepted

[2021-11-01 05:31] sayantani11 commented on #29183
@sftim This issue is solved right? Guess we can close this?

[2021-11-01 05:38] divya-mohan0209 commented on #30308
/good-first-issue

[2021-11-01 05:39] divya-mohan0209 commented on #30308
@Shubham82 : Could you amend the body if the issue to reflect the above?

[2021-11-01 05:56] Shubham82 commented on #30308
Hi @divya-mohan0209
I can't amend the body of the issue as I didn't create the issue. For the PR  I'm up for it and will soon create a PR.

[2021-11-01 05:56] apgapg opened #30312 "Support for standalone `--from-env-file`"
**This is a Bug Report**

**Problem:**

`--from-env-file` argument is not supported.

Here is my step in workflow:

[code]

I get following error:

[code]

There is difference in `--from-env-file` and `--from-file` hence i cannot use `--from-file` here.

**Proposed Solution:**

`--from-env-file` must work fine

[2021-11-01 06:16] divya-mohan0209 commented on #30308
Hello @amirkCA could you please amend the body of the issue properly?

[2021-11-01 09:24] Shubham82 commented on #30308
/assign

[2021-11-01 09:59] Shubham82 commented on #30308
Fixed it here: #30313

[2021-11-01 10:16] #28123 closed

[2021-11-01 13:13] scottstout commented on #21621
/remove-lifecycle stale

[2021-11-01 16:47] trevorboydsmith opened #30314 "Improvement for k8s.io/docs/concepts/services-networking/connect-applications-service/"
- the example documentation for this page runs the pods with port 80 and the user is root user.
- current best practice that i've seen is to not run any pods with root user.

#### suggestion: so i think the documentation should not be showing users examples where your pods run as root user... when every production environment and guide says "do not run pods with root user".

the docs can be change

[2021-11-01 16:55] #30308 closed

[2021-11-01 19:26] mtaufen opened #30317 "Konnectivity docs have likely incorrect instructions"
**This is a Bug Report**

**Problem:**

The konnectivity docs: https://kubernetes.io/docs/tasks/extend-kubernetes/setup-konnectivity/

Include the following instruction:

[code]

Setting `--api-audiences` to `system:konnectivity-server` doesn't seem right:
- This will break authentication for all tokens that use the default audience value (taken from the `--service-account-issuer` value), which is

[2021-11-01 19:27] mtaufen commented on #30317
/triage accepted

[2021-11-01 19:27] mtaufen commented on #30317
/assign cheftako

[2021-11-01 20:08] catardif opened #30318 "Kubernetes Security and Disclosure Information"
The following RSS link does not work:

https://kubernetes.io/docs/reference/issues-security/security/#security-announcements
[code]

Getting a "ERR_TOO_MANY_REDIRECTS" with Chrome and a "Error 404 (Not Found)!!" with curl.

I read that service was deprecated by Google. If true that documentation page should reflect that change.

[2021-11-01 20:10] catardif commented on #30318
Duplicate [30293](https://github.com/kubernetes/website/issues/30293)

[2021-11-01 20:10] #30318 closed

[2021-11-01 21:02] collimarco opened #30319 "Clarify apply -l option with multiple labels"
Page: https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#apply

[code]

The description of the `-l` flag is not clear when you list multiple labels.

What does this mean `key1=value1,key2=value2`? Is it equivalent to:

1. match objects that have `key1=value1 AND key2=value2`
2. match objects that have `key1=value1 OR key2=value2`

Please clarify.

Note: since you can use `--pr

[2021-11-01 21:14] rsalmond opened #31067 "x-kubernetes-embedded-resource fields not being validated as documented"
### What happened?

Created the following CRD:

[code]

Then created the following instance:

[code]

### What did you expect to happen?

Given [this explanation in the docs](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/): "With x-kubernetes-embedded-resource: true, the apiVersion, kind and metadata are implicitly specified and validated." I expec

[2021-11-01 21:23] mtaufen commented on #30317
/assign jkh

[2021-11-01 21:24] mtaufen commented on #30317
/assign jkh52

[2021-11-02 03:16] yoonian commented on #30000
M52-M53, M57 은 제가 해보겠습니다~

[2021-11-02 03:22] seokho-son commented on #30000
[Tasks assigned]

M1 : @lifeoncloud
M2 : @gochist
M3-M5: @seokho-son
M6-M35: @gochist
M36-M41: @seokho-son
M42-M49 : HEEEEEEEEEEEEEEELP
M50-M51 : @lifeoncloud
M52-M53 : @yoonian
M54-M56 : @seokho-son
M57 : @yoonian
M58-M71 : @seokho-son
D1 : @seokho-son

@yoonian 감사합니다. M57은 분량이 많아서, 혹시 이번에 처리가 어려운 경우, 다음 브랜치에서 처리 가능한 것으로 예외 처리 하였습니다..^^

나머지는 가급적 일정에 맞춰 진행하려 합니다.

[2021-11-02 03:29] cheftako commented on #30317
https://github.com/kubernetes/website/blob/main/content/en/docs/tasks/extend-kubernetes/setup-konnectivity.md

[2021-11-02 03:32] cheftako commented on #30317
/cc @kvaps @sftim

[2021-11-02 07:59] AvineshTripathi commented on #30319
/remove kind/bug

[2021-11-02 08:03] AvineshTripathi commented on #30319
/remove-kind bug

[2021-11-02 08:05] AvineshTripathi commented on #30319
/kind docs

[2021-11-02 12:26] ClaudiaJKang opened #30330 "[ko] Translate docs/tasks/debug-application-cluster/troubleshooting.md"
**This is a Feature Request**
Translate [docs/tasks/debug-application-cluster/troubleshooting.md](https://github.com/kubernetes/website/blob/dev-1.22-ko.2/content/en/docs/tasks/debug-application-cluster/troubleshooting.md) in Korean

**What would you like to be added**

Translate [docs/tasks/debug-application-cluster/troubleshooting.md](https://github.com/kubernetes/website/blob/dev-1.22-ko.2/cont

[2021-11-02 12:26] ClaudiaJKang commented on #30330
/triage accepted
/assign

[2021-11-02 13:08] sbarikdev commented on #30172
In order to run your scheduler in a Kubernetes cluster, create the deployment specified in the config below in a Kubernetes cluster:

kubectl create -f my-scheduler.yaml
Verify that the scheduler pod is running:

kubectl get pods --namespace=kube-system
NAME                                           READY     STATUS    RESTARTS   AGE
....
my-scheduler-lnf4s-4744f                       1/1       Ru

[2021-11-02 13:26] #27572 closed

[2021-11-02 14:19] sandipanpanda commented on #23417
@sftim can you please reopen this, if this is still an issue.

[2021-11-02 16:35] murindwaz commented on #29836
@sftim ~ _If you waited to see if the Pod was removed after some time, how long did you wait?_ - Indefinitely. I had to reboot my computer. You are right, the Pod sticks around forever for some weird reasons.

I learnt after the fact that deleting the Deployment and not the Pod is the way to go. The question is, can that be mentioned in the documentation?

[2021-11-02 17:41] mayocream opened #30334 "[zh] typo in 端点切片（Endpoint Slices）"
Typo in this page: https://kubernetes.io/zh/docs/concepts/services-networking/endpoint-slices/

https://github.com/kubernetes/website/blob/d56c8b4e28afbeb89da7d60f5b522682eb7beb53/content/zh/docs/concepts/services-networking/endpoint-slices.md?plain=1#L57
[code]

[2021-11-02 17:46] mayocream commented on #30334
/language zh
/triage accepted
/assign

[2021-11-02 19:28] #28144 closed

[2021-11-03 03:09] #29559 closed

[2021-11-03 07:33] hahamofu opened #30340 "k8s service label selector"
the k8s service just suppport selector, like this:
![image](https://user-images.githubusercontent.com/67695348/140022940-831d2e28-9133-46e5-9844-9784adf402f1.png)

but the deployment support the selector with matchLabels and matchExpressions，like this:
![image](https://user-images.githubusercontent.com/67695348/140023159-9a1db2e6-432f-4306-951b-11cbebd4383e.png)

I I want to know when k8s service

[2021-11-03 08:53] damyl4sure commented on #2325
Making use of apiVersion: "batch/v1beta1" worked!

[2021-11-03 09:44] #30334 closed

[2021-11-03 09:49] sbarikdev commented on #30172
@moluzhui if the issue is resolved, please close it.

[2021-11-03 11:26] #30036 closed

[2021-11-03 12:04] anubha-v-ardhan commented on #29215
@MukulMaheshwari Are you still working on this? Feel free to ask if you're facing any problem. Can we let others take this issue?

[2021-11-03 13:17] swetharnaik opened #30345 "Using Minikube to Create a Cluster- Documentation Improvement"
In Kubernetes Tutorials page- https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro/
It is mentioned that a Kubernetes cluster that handles production traffic should have a minimum of three nodes. But there is no explanation provided as to why this is so.
Suggestion to add a one-liner that a minimum of 3 master nodes is necessary for high availability.

[2021-11-03 13:34] #28055 closed

[2021-11-03 17:48] aahemm opened #30349 "Update crictl version in the docs"
**This is a Feature Request**

**What would you like to be added**
The version of the crictl in "install kubeadm" doc when installing without package managers is v1.17.0. It should be v1.22.0.

**Why is this needed**
 I think it should be updated because newer versions are available unless there are compatibility issues with Kubelet.

**Comments**

This is where problem exists:
https://kubernetes.

[2021-11-03 17:50] neolit123 commented on #30349
/sig cluster-lifecycle
/triage accepted
/help

[2021-11-03 21:45] liggitt commented on #28867
`Webhook usage & installation instructions` is tracked in https://github.com/kubernetes/website/issues/30133

[2021-11-03 21:47] liggitt commented on #30133
https://github.com/kubernetes/website/issues/28867 open to add basic steps for webhook installation. It does not cover extending the webhook, which seems like a significantly different / more advanced topic

[2021-11-03 21:53] nuka137 opened #30352 "[ja] Translate setup/best-practices/cluster-large/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [setup/best-practices/cluster-large/](https://kubernetes.io/ja/docs/setup/best-practices/cluster-large/) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2021-11-03 21:59] reylejano commented on #30133
/milestone 1.23

[2021-11-04 07:29] dialogbox opened #30355 "PKI certificates and requirements"
In the section ["How certificates are used by your cluster"](https://kubernetes.io/docs/setup/best-practices/certificates/#how-certificates-are-used-by-your-cluster), we only mention "Client certificates for the API server to talk to the kubelets" but no mention about the server certificate of kubelets.

Does it mean we don't need it (I don't think we can do TLS/mTLS without a server cert) or is i

[2021-11-04 08:03] jihoon-seo commented on #30000
M42 해보겠습니다~

[2021-11-04 08:27] seokho-son commented on #30000
M43-M49 제가 처리하겠습니다~~

[2021-11-04 09:31] jihoon-seo opened #30357 "Line separation is needed in `reference/kubectl/overview`"
**This is a Bug Report**

**Problem:**
Line separation is needed in [`reference/kubectl/overview`](https://kubernetes.io/docs/reference/kubectl/overview/#in-cluster-authentication-and-namespace-overrides)

[Markdown]
[code]

[Rendered]
![image](https://user-images.githubusercontent.com/46767780/140289971-4889ea45-99f0-46cf-a1ea-dc59f7d6cefb.png)

**Proposed Solution:**
[code]

**Page to Update:**

[2021-11-04 11:59] robotjellyzone commented on #30357
Hi , i want to take this up :)

[2021-11-04 12:00] robotjellyzone commented on #30357
/assign

[2021-11-04 13:04] kvaps commented on #30317
Hi @mtaufen thanks for pointing this out.

I just wanted to link this issue with the unfinished discussion in https://github.com/kubernetes/website/pull/24141#discussion_r498008017

BTW, wouldn't it be more correct to specify both audiences:

[code]

\- where `cluster.local` is `dnsDomain` value for the cluster

Please correct me if I'm wrong but do you suggest to specify already existing audience

[2021-11-04 13:54] #30200 closed

[2021-11-04 14:09] seokho-son commented on #30000
@lifeoncloud  ko.2 마감 일정이 임박하여, M50은 제가 빠르게 처리하도록 하겠습니다...^^ 양해 부탁드립니다.

[2021-11-04 14:10] lifeoncloud commented on #30000
@seokho-son ㅠㅠ 감사합니다! 'fatal: bad revision'나와서 애먹고 있었어요ㅠㅠ

[2021-11-04 14:14] seokho-son commented on #30000
아닙니다~~ 브랜치 관리에 도움주셔서 감사합니다~~ :)

[2021-11-04 15:35] seokho-son opened #30364 "Outdated Korean windows/intro-windows-in-kubernetes.md"
**This is a Bug Report**

**Problem:**
content/ko/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
is outdated

**Proposed Solution:**
Update the outdated

content/**ko**/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md

according to

content/**en**/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md

- check what is updated in t

[2021-11-04 15:36] seokho-son commented on #30364
Ref: #30363 (for adding outdated node)

[2021-11-04 15:37] seokho-son commented on #30364
/triage accepted

[2021-11-04 15:38] seokho-son commented on #30364
/assign @yoonian

[2021-11-05 08:44] ashish-jaiswar commented on #30340
hi, I want to work on that issues.

[2021-11-05 14:14] Babapool commented on #30349
Hello, I would want to work on this issue as my 1st PR . Can you please assign this to me :)

[2021-11-05 14:58] Babapool commented on #30349
/assign

[2021-11-05 15:00] Babapool commented on #30349
@aahemm Thanks. Just to confirm I have to change the crictl version to v1.22.0.

[2021-11-05 15:02] #26917 closed

[2021-11-05 16:23] aahemm commented on #30349
I'not sure. Maybe kubelet is not compatible with crictl v1.22.0 or there was another reason.

[2021-11-05 16:40] mtaufen commented on #30317
The audience `system:konnectivity-server` is meant for the konnectivity server, not kube-apiserver directly, correct? In other words, seems like those tokens should require proxying through the konnectivity server, kube-apiserver shouldn't accept them directly? (@mikedanese this was the impression I got in our offline conversation - did I get that right?)

I'm suggesting we can probably just leave

[2021-11-05 16:46] neolit123 commented on #30349
this matrix might be out of date, but according to it >=1.16 critools are compatible with >=1.16 kubernetes:
https://github.com/kubernetes-sigs/cri-tools#current-status

[2021-11-05 16:47] neolit123 commented on #30349
i'd say just send the PR to update and if something breaks for someone users will report it..

[2021-11-05 16:47] Babapool commented on #30349
Okay sure. Thanks

[2021-11-05 16:58] mtaufen commented on #30317
This is what I'm proposing:
[code]

[2021-11-05 17:03] kvaps commented on #30317
Okay this is **option B**, but this way we would need to configure konnectivity-server with the flag:

[code]

And konnectivity-agent with the volume:

[code]

would it be correct configuration, or maybe better to use separate audience `system:konnectivity-server` (**option C**)?

[2021-11-05 17:21] mtaufen commented on #30317
My current understanding is that we can use `--authentication-audience=system:konnectivity-server`, since the konnectivity-server can tell kube-apiserver which audiences to validate against when it makes the `TokenReview` request, and those apparently don't have to match kube-apiserver's `--api-audiences`: https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.22/#tokenreviewspec-v1-auth

[2021-11-05 17:50] mikedanese commented on #30317
I agree that we should link to the canonical documentation for setting up service account token issuer vs copying it here. These are now required flags so widespread adoption is imminent.

We should leave Konnectivity server configured with `--authentication-audience=system:konnectivity-server`. This means that Konnectivity server identifies as `system:konnectivity-server` and will only accept tok

[2021-11-05 19:06] #24135 closed

[2021-11-05 19:06] #25659 closed

[2021-11-06 00:09] #26825 closed

[2021-11-06 01:09] #23992 closed

[2021-11-06 01:09] #28326 closed

[2021-11-06 02:09] #27738 closed

[2021-11-06 10:12] #19518 closed

[2021-11-06 14:12] MPParsley opened #30376 "Improvement for k8s.io/docs/tutorials/configuration/configure-redis-using-configmap/"
Where is it stated that a file on /redis-master/redis.conf will be picked up by redis?

In most default configurations found online, includes are commented:

[code]

So the documentation here seems to be missing a step on how to add this line to the default config (/etc/redis.conf):
`include /redis-master/redis.conf`

[2021-11-06 14:55] MPParsley commented on #30376
Added the config in a postStart command as a workaround:

[code]

[2021-11-07 10:37] Garima-Negi commented on #29994
HI @maple5233 , curl http://localhost:8001/api/v1/namespaces/default/pods/$POD_NAME/proxy/
returns:
[code]
Starting Proxy. After starting it will not output a response. Please click the first Terminal Tab

Starting to serve on 127.0.0.1:8001```

This would indicate that the proxy server is running and then you can curl for proxy to get correct output

[2021-11-07 10:39] Garima-Negi commented on #29994
Can I triage this issue?

[2021-11-07 11:03] Garima-Negi commented on #29917
Seeing an error (not warning) : `error: error validating "https://raw.githubusercontent.com/kubernetes/dashboard/v2.4.0/aio/deploy/recommended.yaml": error validating data: ValidationError(Deployment.spec.template.spec.securityContext): unknown field "seccompProfile" in io.k8s.api.core.v1.PodSecurityContext; if you choose to ignore these errors, turn validation off with --validate=false`

[2021-11-07 11:16] Garima-Negi commented on #29917
Hi, can this be assigned to me?

[2021-11-07 23:31] dims commented on #29917
/assign @Garima-Negi

[2021-11-08 03:20] tengqm commented on #29325
We have completed this umbrella issue!!! A big thank you to y'all!
/close

[2021-11-08 03:20] #29325 closed

[2021-11-08 03:39] maple5233 commented on #29994
thanks for reply! I did NOT try the command in the Katacoda interactive terminal, instead i run the command in my local terminal, i use minikube to study Kubernetes.
And i am sure that the proxy server for kubernetes api server is running?
Is this a issue with minikube?

[2021-11-08 08:01] rajar0201 commented on #29453
i wanted to make about the Kubernetes documentation

[2021-11-08 08:11] bang9211 opened #30384 "[ko] Translate tasks/service-catalog/install-service-catalog-using-sc.md"
This is a Feature Request
Translate [/content/en/docs/tasks/service-catalog/install-service-catalog-using-sc.md] in Korean

What would you like to be added
Translate [/content/en/docs/tasks/service-catalog/install-service-catalog-using-sc.md] in Korean

Why is this needed
This file is not translated yet.

Comments
Page to translate : https://kubernetes.io/docs/tasks/service-catalog/install-service

[2021-11-08 10:18] kvaps commented on #30317
Oh, got it! I don't remember exact reason why I started using this flag, but I just checked and confirm that it is working fine without it.
  Suppose it was just a configuration mistake. I'll prepare PR to fix this.

[2021-11-08 10:25] fabriziopandini commented on #20952
/remove-lifecycle stale

[2021-11-08 10:25] fabriziopandini commented on #20953
/remove-lifecycle stale

[2021-11-08 10:26] fabriziopandini commented on #20961
/remove-lifecycle stale

[2021-11-08 10:26] fabriziopandini commented on #20955
/remove-lifecycle stale

[2021-11-08 10:26] kvaps commented on #30317
/assign @kvaps

[2021-11-08 12:57] sidverma32 commented on #29997
@snnsnn @sftim  what's the behaviour decided here and is anyone working on this issue?

[2021-11-08 14:23] irbekrm commented on #28898
/remove-lifecycle rotten
/remove-lifecycle stale

I think this would still be useful

[2021-11-08 15:33] seokho-son commented on #30000
/close

but #30364 needs to be resolved ;)

[2021-11-08 15:33] #30000 closed

[2021-11-08 15:35] sandipanpanda commented on #27864
I am interested to fix this issue.
/assign

[2021-11-09 01:26] #30116 closed

[2021-11-09 01:42] jihoon-seo commented on #28612
/assign

[2021-11-09 01:53] jihoon-seo commented on #30384
/triage accepted

[2021-11-09 01:57] jihoon-seo commented on #30271
This issue has been resolved by the PR #30301. 😊
/close

[2021-11-09 01:57] #30271 closed

[2021-11-09 02:04] HB116 opened #30399 "Uncaught ReferenceError: $ is not defined"
## my proplem:  $ is not defined
## describe:  script.js doing before by jquery.min.js..
## so i could do ?

## this is chrome console
[code]

## cmd in here(but this is ok):
=================================>hugo server --buildFuture
Start building sites …
hugo v0.89.2-63E3A5EB+extended windows/amd64 BuildDate=2021-11-08T15:22:24Z VendorInfo=gohugoio
WARN 2021/11/09 09:55:59 Page.URL is deprecate

[2021-11-09 02:07] HB116 commented on #30399
my proplem: $ is not defined

===>

### my problem: $ is not defined
sorry

[2021-11-09 02:09] jihoon-seo commented on #30259
![image](https://user-images.githubusercontent.com/46767780/140848580-8afa1be9-5cff-4f1d-b7ca-0406248c2a93.png)

It works for me too.

- Windows 10 Enterprise 20H2
- Chrome 95.0.4638.69

[2021-11-09 02:12] jihoon-seo commented on #30244
https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/

![image](https://user-images.githubusercontent.com/46767780/140848580-8afa1be9-5cff-4f1d-b7ca-0406248c2a93.png)

It works for me.

- Windows 10 Enterprise 20H2
- Chrome 95.0.4638.69

/kind support

[2021-11-09 02:21] jihoon-seo commented on #30192
This issue has been resolved by the PR #30195. 😊
/close

[2021-11-09 02:21] #30192 closed

[2021-11-09 03:47] AvineshTripathi commented on #29649
Hey everyone sorry for not being able to solve the issue till now, I am giving a another try and hopefully completing the entire job. @shannonxtreme @sftim @reylejano  I wanted to know if for this issue we are looking for a periodic job done by the bot or we are expecting a general prow job for this issue PS: I am new so I might need some help

[2021-11-09 04:03] RA489 commented on #30345
/triage accepted

[2021-11-09 04:03] RA489 commented on #30345
/kind improvements

[2021-11-09 04:04] RA489 commented on #30345
/kind improvement

[2021-11-09 04:56] YuikoTakada opened #30401 "[ja]Missing link to API Reference"
**This is a Bug Report**

**Problem:**
In https://kubernetes.io/ja/docs/concepts/overview/kubernetes-api/ , link to API Reference is missing. This link points to https://kubernetes.io/ja/docs/reference/kubernetes-api/ but this page doesn't exist.

**Proposed Solution:**
Fix link to correct URL. Currently, there is no `kubernetes-api.md` in `content/ja/docs/reference` , so fixing link to points `co

[2021-11-09 05:41] #27125 closed

[2021-11-09 07:50] hahamofu commented on #30340
@ashish-jaiswar: Thanks a lot! Looking forward to your reply.

[2021-11-09 08:08] ashish-jaiswar commented on #30399
I want to work on that issues.

[2021-11-09 09:36] ashish-jaiswar commented on #30340
@hahamofu k8s service not support matchLabels and matchExpressions , if you are adding it in service yaml file it will give error because service spec only support equality-based selectors and deployment is a newer resource that support only equality-based and set-based.

[2021-11-09 10:01] amalic opened #30409 "List All Container Images Running in a Cluster"
Contrary to the title, this [page](https://kubernetes.io/docs/tasks/access-application-cluster/list-all-running-container-images/) shows how to list all images of pods only.

To get all images this one works for me:
[code]

[2021-11-09 11:56] soltysh commented on #27394
This was fixed in https://github.com/kubernetes/website/pull/28229
/close

[2021-11-09 11:56] #27394 closed

[2021-11-09 13:53] seokho-son opened #30413 "Korean Localization for dev-1.22-ko.3 branch"
## In English

**This is a Feature Request**

Korean Localization for `dev-1.22-ko.3` branch.

**What would you like to be added**

Any localization contributions for Korean.

**Comments**

- This issue is to notify the schedule of Korean localization to contributors.
- `dev-1.22-ko.3` is the current work branch for Korean localization.

**Important dates**
- A Korean localization work branch is m

[2021-11-09 13:54] seokho-son commented on #30413
/triage accepted

[2021-11-09 13:54] seokho-son commented on #29999
/close

[2021-11-09 13:55] #29999 closed

[2021-11-09 13:56] seokho-son commented on #30413
/milestone dev-1.22-ko.3

[2021-11-09 13:58] seokho-son commented on #30201
/close

[2021-11-09 13:59] #30201 closed

[2021-11-09 14:01] seokho-son opened #30414 "Outdated Korean contents in dev-1.22-ko.3"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.22-ko.3 branch.

Report generated by the following command.
`scripts/diff_l10n_branches.py ko upstream/dev-1.22-ko.2 upstream/dev-1.22-ko.3`

### 38 files to be modified
1. [x] M1.  `content/en/docs/concepts/architecture/nodes.md`  | 17(+S) 1(-)
1. [x] M2.  `content/en/docs/concepts/cluster-administration/networking.md`  | 1(+X

[2021-11-09 14:01] seokho-son commented on #30414
/triage accepted

/milestone dev-1.22-ko.3
/language ko

/help

[2021-11-09 14:32] seokho-son commented on #29253
#29257 작업에서 참고할 수 있는 Task들 (check)

1. [ ] M1.  `content/en/community/_index.html`  | 1(+XS) 1(-)
1. [ ] M2.  `content/en/docs/concepts/configuration/manage-resources-containers.md`  | 1(+XS) 1(-)
1. [ ] M3.  `content/en/docs/concepts/configuration/secret.md`  | 32(+M) 23(-)
1. [ ] M4.  `content/en/docs/concepts/containers/images.md`  | 2(+XS) 1(-)
1. [ ] M5.  `content/en/docs/concepts/containers/

[2021-11-09 14:57] seokho-son commented on #29253
M1 - M12 : @seokho-son

[2021-11-09 15:49] #28265 closed

[2021-11-09 16:51] irataxy commented on #30259
This works now for me. Thanks!

[2021-11-09 16:51] #30259 closed

[2021-11-09 19:31] BenTheElder commented on #28612
Thanks all.

[2021-11-10 01:28] jihoon-seo commented on #28101
Translated page:
https://kubernetes.io/ko/docs/tasks/configure-pod-container/configure-gmsa/

Resolved by
- #30024
- #30412

/close

[2021-11-10 01:28] #28101 closed

[2021-11-10 01:31] jihoon-seo commented on #29560
Translated page:
https://kubernetes.io/ko/docs/tasks/administer-cluster/sysctl-cluster/

Related PRs:
- #30010
- #30412

/close

[2021-11-10 01:32] #29560 closed

[2021-11-10 01:33] jihoon-seo commented on #30038
Translated page:
https://kubernetes.io/ko/docs/tasks/debug-application-cluster/get-shell-running-container/

Related PRs:
- #30328
- #30412

/close

[2021-11-10 01:33] #30038 closed

[2021-11-10 01:34] jihoon-seo commented on #30039
Translated page:
https://kubernetes.io/ko/docs/tasks/debug-application-cluster/debug-stateful-set/

Related PRs:
- #30329
- #30412

/close

[2021-11-10 01:35] #30039 closed

[2021-11-10 01:36] jihoon-seo commented on #30121
Translated page:
https://kubernetes.io/ko/docs/tasks/access-application-cluster/ingress-minikube/

Related PRs:
- #30272
- #30412

/close

[2021-11-10 01:36] #30121 closed

[2021-11-10 01:38] jihoon-seo commented on #30285
Translated page:
https://kubernetes.io/ko/docs/tasks/extend-kubernetes/setup-konnectivity/

Related PRs:
- #30310
- #30412

/close

[2021-11-10 01:39] #30285 closed

[2021-11-10 02:33] #28612 closed

[2021-11-10 02:35] #30345 closed

[2021-11-10 02:37] tengqm commented on #29329
Superb!!!
/close

[2021-11-10 02:37] #29329 closed

[2021-11-10 02:39] tengqm commented on #27521
/remove-lifecycle stale

[2021-11-10 02:47] tengqm commented on #30340
/close

[2021-11-10 02:48] #30340 closed

[2021-11-10 03:36] Kartik494 commented on #30182
@lzolezzi As per this concern the `resourceGroup` is used as in documentation only, not for any yaml file?

[2021-11-10 05:46] syxunion opened #30427 "Translate Reference/Glossary/Eviction"
Hi, I'm interested to translate the "Reference/Glossary/Eviction" page.

This is a Feature Request:

translate en/docs/reference/glossary/eviction.md into Chinese.

What would you like to be added:

zh/docs/reference//glossary/eviction.md

/language zh
/kind feature

[2021-11-10 05:50] syxunion commented on #30427
/assign

[2021-11-10 07:13] #28884 closed

[2021-11-10 08:27] Kartik494 commented on #29084
/remove-lifecycle stale

[2021-11-10 09:37] ashish-jaiswar commented on #30312
hey @apgapg I want to work on that issue.

[2021-11-10 09:37] ashish-jaiswar commented on #30312
/assign

[2021-11-10 10:54] Shubham82 opened #30429 "Wrong Link for Authorization."
**This is a Bug Report**

**Problem:**
The link for **Authorization**  under[ API Access Extensions](https://kubernetes.io/docs/concepts/extend-kubernetes/#authorization) in [Extending Kubernetes](https://kubernetes.io/docs/concepts/extend-kubernetes/) is wrong. It is redirected to the [Webhook Mode](https://kubernetes.io/docs/reference/access-authn-authz/webhook/) which is wrong, It should redire

[2021-11-10 10:54] Shubham82 commented on #30429
/assign

[2021-11-10 12:23] Shubham82 commented on #30429
Fixed it here: #30430

[2021-11-10 14:01] lzolezzi commented on #30182
Yes as far as I know

[2021-11-10 16:49] mehabhalodiya commented on #30429
Hey @jihoon-seo @seokho-son
Do check on issue triage for this!
Thank you.

[2021-11-10 16:52] mehabhalodiya commented on #30206
It's not a bug.
Agree with @sftim

[2021-11-10 17:22] mehabhalodiya commented on #29917
/triage accepted

[2021-11-10 17:25] mehabhalodiya commented on #30101
/triage accepted

[2021-11-10 17:27] mehabhalodiya commented on #29894
/triage accepted

[2021-11-10 17:46] seokho-son commented on #30429
/triage accepted

[2021-11-10 20:46] #29348 closed

[2021-11-10 21:45] roycaihw commented on #23992
IIUC [admission plugins](https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/staging/src/k8s.io/apiserver/pkg/server/options/admission.go#L205-L222) (if enabled) follow the order in [this list](https://github.com/kubernetes/kubernetes/blob/6b41d75794381487ef7204b016faa75e350a32b7/pkg/kubeapiserver/options/plugins.go#L64-L105). Mutating webhooks within one `mutati

[2021-11-11 10:02] mehabhalodiya commented on #25832
/triage accepted

[2021-11-11 10:13] #28286 closed

[2021-11-11 10:17] SoumithKumarMudugonda commented on #25832
/assign

[2021-11-11 10:53] #30427 closed

[2021-11-11 11:38] RA489 commented on #27974
/remove-lifecycle rotten

[2021-11-11 11:39] RA489 commented on #27407
/remove-lifecycle rotten

[2021-11-11 11:39] RA489 commented on #27312
/remove-lifecycle rotten

[2021-11-11 11:39] RA489 commented on #27522
/remove-lifecycle rotten

[2021-11-11 11:40] RA489 commented on #27229
/remove-lifecycle rotten

[2021-11-11 11:40] RA489 commented on #26485
/remove-lifecycle rotten

[2021-11-11 11:40] RA489 commented on #26910
/remove-lifecycle rotten

[2021-11-11 11:40] RA489 commented on #26618
/remove-lifecycle rotten

[2021-11-11 11:40] RA489 commented on #26293
/remove-lifecycle rotten

[2021-11-11 11:41] RA489 commented on #26638
/remove-lifecycle rotten

[2021-11-11 11:41] RA489 commented on #27808
/remove-lifecycle rotten

[2021-11-11 11:41] RA489 commented on #27740
/remove-lifecycle rotten

[2021-11-11 11:42] RA489 commented on #27579
/remove-lifecycle rotten

[2021-11-11 11:42] RA489 commented on #27965
/remove-lifecycle rotten

[2021-11-11 11:43] RA489 commented on #28046
/remove-lifecycle rotten

[2021-11-11 11:43] RA489 commented on #27907
/remove-lifecycle rotten

[2021-11-11 11:43] RA489 commented on #27880
/remove-lifecycle rotten

[2021-11-11 11:43] RA489 commented on #27812
/remove-lifecycle rotten

[2021-11-11 11:45] RA489 commented on #28427
/remove-lifecycle rotten

[2021-11-11 11:45] RA489 commented on #27958
/remove-lifecycle rotten

[2021-11-11 11:45] RA489 commented on #28078
/remove-lifecycle rotten

[2021-11-11 11:46] shannonxtreme commented on #28909
/remove-lifecycle rotten

[2021-11-11 11:46] RA489 commented on #28082
/remove-lifecycle rotten

[2021-11-11 12:15] mehabhalodiya commented on #30206
Hey @jihoon-seo @seokho-son
Do check on issue triage for this!
Thank you.

[2021-11-11 12:17] mehabhalodiya commented on #30429
/language-en

[2021-11-11 12:19] mehabhalodiya commented on #30429
/language en

[2021-11-11 12:21] mehabhalodiya commented on #30189
/triage accepted

[2021-11-11 16:13] #28325 closed

[2021-11-11 23:18] howardjohn opened #32351 "Ephemeral containers volume mount permissions differ from normal containers"
### What happened?

Working: a pod with multiple containers, mounting a projected volume mount. Note the different UID/GID

[code]

This works since 1.19+. On 1.18 and old we need `fsGroup: 1337` as well.

Not working: doing the same with ephemeral containers
[code]

Then attach ephemeral container:
[code]

When doing this, accessing the token from the ephemeral containers gives a permission denie

[2021-11-12 02:22] winkee01 opened #30448 "Change the term `scratch cluster` to `draft cluster` or add some explanation/definition to it?"
Issue with k8s.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/

The term `scratch cluster` that appears in the description might cause a bit of confusion (to me at least). Would it be better to rephrase it to something like `exercise cluster` or `draft cluster`?

![CleanShot 2021-11-12 at 10 21 41@2x](https://user-images.githubusercontent.com/49930785/141397899-adddbe3

[2021-11-12 02:43] nuka137 opened #30449 "[ja] Translate oncepts/extend-kubernetes/operator/ into japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [concepts/extend-kubernetes/operator/](https://kubernetes.io/docs/concepts/extend-kubernetes/operator/) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2021-11-12 02:51] nuka137 commented on #30449
Sorry, this document has already documented.

[2021-11-12 02:51] #30449 closed

[2021-11-12 04:51] AvineshTripathi commented on #30448
I too think we can have a line defining scratch work and then maybe we can talk about the cluster to make thing uniform through out

[2021-11-12 05:20] porridge commented on #27534
/remove-lifecycle stale

[2021-11-12 05:52] #30217 closed

[2021-11-12 07:24] mayocream commented on #30218
Closing this issue since fixed.
/close

[2021-11-12 07:24] #30218 closed

[2021-11-12 07:28] mayocream commented on #29854
/close

[2021-11-12 07:29] #29854 closed

[2021-11-12 08:15] mayocream commented on #29837
/triage accepted

[2021-11-12 08:32] mayocream commented on #30302
/language zh
/triage accepted

[2021-11-12 08:35] mayocream commented on #30302
/kind bug

[2021-11-12 08:35] mayocream commented on #30302
/assign

[2021-11-12 08:36] mayocream commented on #30302
/retitle [zh] typo in 使用 kubeadm API 定制组件

[2021-11-12 09:24] mayocream commented on #29327
I'll take 2~6.

[2021-11-12 09:46] mayocream commented on #29822
/language zh

[2021-11-12 09:47] mayocream commented on #29822
/triage accepted

[2021-11-12 10:04] mayocream commented on #29874
I see the `ports` filed is in parallel to `to`/`from`, ehh...
[code]

[2021-11-12 10:12] mayocream commented on #29822
This [file](https://github.com/kubernetes/website/blob/main/content/zh/docs/tasks/administer-cluster/out-of-resource.md) is removed in the upstream, but I see [out-of-resource](https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource) is redirected to [node-pressure-eviction](https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/), how to achieve that?
cc @tengq

[2021-11-12 10:14] mayocream commented on #30399
/assign ashish-jaiswar

[2021-11-12 10:21] #28284 closed

[2021-11-12 13:21] tengqm commented on #29822
@mayocream We'd have to move this file to sync with upstream.

[2021-11-12 13:24] #30302 closed

[2021-11-12 14:21] #28424 closed

[2021-11-12 16:49] savitharaghunathan commented on #27515
/remove-lifecycle rotten

[2021-11-12 20:21] #28426 closed

[2021-11-12 21:18] shannonxtreme commented on #30448
Scratch work usually means quick scribble work. Like, say, you have a maths problem and you're just thinking of ways to solve it and you write stuff on a whiteboard and rub it out if it isnt right etc. That's scratch work. I do not think this is a good term to use in docs that are localized downstream without an explanation (@tengqm idk if you agree).

We should either explain what "scratch" means

[2021-11-12 23:22] #28432 closed

[2021-11-13 00:38] tengqm commented on #30448
I don't have a strong opinion on this. The term "scratch" is not an uncommon word. Given the context, the meaning is pretty apparent. However, it doesn't hurt if we can make it clearer.  :)

[2021-11-13 10:05] sudipju opened #30463 "Missing content for Job"
Following link redirects to an empty page without any content
https://kubernetes.io/docs/concepts/workloads/controllers/job/

[2021-11-13 15:17] FeroVolar opened #30467 "Certificate Signing Requests"
Wrong formatting of text that flows across the width of the screen

[2021-11-13 16:12] mehabhalodiya commented on #29909
/triage accepted

[2021-11-13 16:16] mehabhalodiya commented on #28865
/triage accepted

[2021-11-13 16:34] mehabhalodiya commented on #25645
/remove-lifecycle stale
/language en

[2021-11-13 17:02] mehabhalodiya commented on #27333
/remove-lifecycle rotten
/triage accepted

[2021-11-13 22:35] nishankgu opened #30470 "Jobs"
page not rendering correctly.

[2021-11-14 05:52] anubha-v-ardhan commented on #30470
Wrong formatting, flows across the width of screen
Similar issue #30467

triage/accepted

[2021-11-14 05:53] anubha-v-ardhan commented on #30470
Wrong formatting, flows across the width of screen
Similar issue #30467

/triage accepted

[2021-11-14 06:00] anubha-v-ardhan commented on #30467
Similar issue #30470
/triage accepted

[2021-11-14 06:18] anubha-v-ardhan commented on #30463
Same issue as #30470

[2021-11-14 06:19] anubha-v-ardhan commented on #30470
![Screenshot from 2021-11-14 11-19-07](https://user-images.githubusercontent.com/71918957/141670042-3b266af9-092c-4199-97ed-6fbe8c79bf74.png)

[2021-11-14 12:39] #27537 closed

[2021-11-14 18:47] webbertakken commented on #30470
It's caused by the [output of pi](https://github.com/kubernetes/website/blob/7b07d97a0b0c20343c63f422f82959e738377a4a/content/en/docs/concepts/workloads/controllers/job.md?plain=1#L115) on a single line combined with having no `word-wrap: break-word`.

[2021-11-14 18:54] seokho-son commented on #30414
- M1: @seokho-son
- ...
- ...

[2021-11-14 19:02] webbertakken commented on #30470
Most likely caused by https://github.com/kubernetes/website/pull/30082 2 days ago.

[2021-11-14 20:39] SlothLazybones opened #30475 "[de] Typo in k8s.io/de/docs/concepts/overview/what-is-kubernetes"
Typo
...erleichtert. Es hat **einen** großes, schnell wachsendes Ökosystem. Kubernetes...
sollte angepasst werden zu:
...erleichtert. Es hat **ein** großes, schnell wachsendes Ökosystem. Kubernetes...

[2021-11-14 23:33] nuka137 opened #30480 "[ja] Translate tasks/extend-kubectl/kubectl-plugins/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [tasks/extend-kubectl/kubectl-plugins/](https://kubernetes.io/docs/tasks/extend-kubectl/kubectl-plugins/) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2021-11-15 00:20] tengqm commented on #30475
/retitle [de] Typo in k8s.io/de/docs/concepts/overview/what-is-kubernetes

[2021-11-15 02:08] #30349 closed

[2021-11-15 04:41] #22515 closed

[2021-11-15 05:12] jihoon-seo commented on #29253
M13 - M40 제가 하겠습니다~
/assign

M1 - M12 : @seokho-son
M13 - M40 : @jihoon-seo
M41 - M55 : @seokho-son

[2021-11-15 05:25] QWQyyy opened #30482 "Issue with k8s.io/zh/docs/tutorials/stateful-application/cassandra/"
The "cassandra-statefulset.yaml" can not work, and I don't find anything about how to reviwer this file adapt my k8s.

[2021-11-15 05:26] QWQyyy commented on #30482
![image](https://user-images.githubusercontent.com/54056797/141727198-1e1d79e6-959f-4b56-b9e5-f2d848b57baf.png)
![image](https://user-images.githubusercontent.com/54056797/141727222-3cd28846-98a7-479d-a068-965db4d74454.png)

[2021-11-15 05:59] QWQyyy opened #30484 "Improve prerequisites for “Run a Replicated Stateful Application”"
I think this place should display a example for get pv and pvc, this demo real can not give me some instruct.

[2021-11-15 08:04] tengqm commented on #30482
The failedscheduling message is clear, right?

[2021-11-15 08:14] chenxuc commented on #29327
I can take 39 and 40

[2021-11-15 11:06] epaitoo opened #30487 "Missing Page Content for a Concept on Doc Website"
**This is a Bug Report**

**Problem:**
Contents for <em>Connecting Applications with Services</em> which is under  **Services, Load Balancing, and Networking** Concept in the Documentation is not displaying. I tried accessing it on both Chrome and Firefox but the same result.

**Proposed Solution:**
Page content for <em>Connecting Applications with Services</em> which is under  **Services, Load Ba

[2021-11-15 11:12] QWQyyy commented on #30482
I should know how to create pv and pvc etc... But as a demo, I still persistent this should add some quick link. thank you.

[2021-11-15 11:50] epaitoo commented on #30487
![kub-capture](https://user-images.githubusercontent.com/36279649/141777302-fb0cef86-1e59-47ac-a3ff-49bea7e09c02.PNG)

[2021-11-15 12:32] harridu opened #30488 "bad web design for Kubernetes / Documentation / Concepts / Configuration / Secrets"
I've got  a 3440x1440 display, but https://kubernetes.io/docs/concepts/configuration/secret/ doesn't fit on my screen without horizontal scrolling. The pages for 'Configuration Best Practices' and 'ConfigMaps' are OK, but 'Secrets' and 'Managing Resources for Containers' are not.

[2021-11-15 13:17] BasBremerTC opened #30489 "Issue with k8s.io/docs/concepts/workloads/controllers/job/"
Page is not lined out in the correct way, which makes it unreadable.

[2021-11-15 13:25] webbertakken commented on #30470
@nishankgu would you mind renaming this issue, to make it more descriptive; indicating it's a bug and that the layout it broken for multiple pages?

[2021-11-15 14:48] AvineshTripathi commented on #30487
Hey @epaitoo thank you for raising this issue I tried opening this too it seems to be blank also I tried opening in my mobile browser without desktop mode on and I found the content correctly

[2021-11-15 14:55] epaitoo commented on #30487
@AvineshTripathi Just check the mobile version and its available but the text are not fully responsive. I personally read the docs from my laptop and it will be nice to have the content available for larger screens.

[2021-11-15 14:57] AvineshTripathi commented on #30489
Same issue as #30470

[2021-11-15 14:59] AvineshTripathi commented on #30487
yeah definately and as I see we have a PR for the same issue in #30490

[2021-11-15 15:03] epaitoo commented on #30487
That's really great!

[2021-11-15 16:49] eocern opened #30491 "Connecting Applications with Services"
That page does not render well in my Chrome and Microsoft Edge browser. I guess there is a small typo somewhere. I see it as very wide page.

[2021-11-15 16:52] eocern commented on #30491
OMG I see now it is because of the too long tls.crt and tls.key.
Well that makes it really not so nice to look at.

[2021-11-15 17:05] Tej-Singh-Rana opened #30492 "Bug or something is broken for Jobs page"
This page has some HTML formatting issues. To see content we have to scroll right. Would you please check this?https://kubernetes.io/docs/concepts/workloads/controllers/job/

[2021-11-15 17:12] Tej-Singh-Rana commented on #30492
/language en

[2021-11-15 17:24] geoffcline opened #30493 ""container-fluid td-outer" displaying much too wide"
**This is a Bug Report**

**Problem:**
Certain pages have the document.querySelector("body > div.container-fluid.td-outer") element rendering much too wide.

The header/nav is the proper width.
<img width="1458" alt="Screen Shot 2021-11-15 at 11 19 42 AM" src="https://user-images.githubusercontent.com/5782953/141826239-402a5feb-5dd5-4901-a383-d1abecd53554.png">

**Proposed Solution:**

**Page to U

[2021-11-15 17:46] #26188 closed

[2021-11-15 18:04] sandipanpanda commented on #30492
/sig docs
/area web-development

[2021-11-15 19:26] #30463 closed

[2021-11-15 19:26] #30467 closed

[2021-11-15 19:26] #30470 closed

[2021-11-15 19:26] #30487 closed

[2021-11-15 19:26] #30488 closed

[2021-11-15 19:26] #30489 closed

[2021-11-15 19:26] #30491 closed

[2021-11-15 19:26] #30492 closed

[2021-11-15 19:26] #30493 closed

[2021-11-15 20:04] shannonxtreme commented on #29049
/lifecycle frozen

[2021-11-15 21:10] nishankgu commented on #30470
Thanks for fixing this at priority @webbertakken

[2021-11-15 21:50] sftim commented on #30448
This looks more like a support query at the moment @winkee01
Would you be willing to edit the issue description and rephrase it as a request to clarify or reword the (jargon) term “scratch”, in that page?

/language en

[2021-11-15 21:53] sftim commented on #30484
Our policy in SIG Docs is to make improvements first to the English (“upstream”) documentation, and then localize that into other (“target”) languages such as Chinese.

Making this improvement to https://k8s.io/docs/tasks/run-application/run-replicated-stateful-application/ could well be reasonable. Specifically, we should improve the [prerequisites](https://kubernetes.io/docs/tasks/run-applicatio

[2021-11-15 21:53] sftim commented on #30484
I'm also going to assert that we should improve the English page first.
/language en

and then update the Chinese page to match.

[2021-11-15 23:43] sftim commented on #25505
I'm happy to keep working on this as time allows
/assign

[2021-11-16 01:18] jihoon-seo commented on #30482
Link to the English page: https://kubernetes.io/docs/tutorials/stateful-application/cassandra/

[2021-11-16 02:06] dialogbox opened #30499 "Warn people about mistaking "M" suffix for "m" when setting resource limits"
Although it's not recommended, we also support 'm' as an unit for memory which means milli-bytes.

https://github.com/kubernetes/apimachinery/blob/master/pkg/api/resource/quantity.go#L46

We need to document it.

https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-memory

[2021-11-16 05:52] vaibhav2107 commented on #28529
Fixes in #30440.

[2021-11-16 11:45] QWQyyy commented on #30484
well notes, thank you sir.

[2021-11-16 12:22] sftim commented on #27934
IMO we should do this
/remove-lifecycle rotten
/lifecycle frozen
/triage accepted

[2021-11-16 15:26] krdln opened #30506 "Topology-aware traffic routing with topology keys: Missing links in deprecation notice"
[Topology-aware traffic routing with topology keys](https://kubernetes.io/docs/concepts/services-networking/service-topology/) is deprecated with the following deprecation notice:

The feature mentioned in the deprecation notice covers some part of functionality, but it doesn't cover the: `topologyKeys: ["kubernetes.io/hostname"]` usecase, which seems to be covered by [Service Internal Traffic Pol

[2021-11-16 15:53] riita10069 opened #30508 "[ja]Update `content/ja/docs/concepts/configuration/secret.md`"
**This is a Feature Request**

**What would you like to be added**

About `content/ja/docs/concepts/configuration/secret.md`
Some corrections need to be made.

**Why is this needed**

JSON in .dockerconfigjson dump is strange.
Lack of options for kubectl command.
And some more correction is needed.

**Comments**

/language ja

[2021-11-16 17:03] dincciftci opened #30510 "Issue with k8s.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/"
The page links to some documentation on installing Docker Engine on Windows. It links to this page, which gives a 404: https://hub.docker.com/editions/enterprise/docker-ee-server-windows

This guide seems to utilize a feature released via MicrosoftDockerProvider, which is discontinued as of Sept 2021 per [this documentation ](https://docs.microsoft.com/en-us/virtualization/windowscontainers/quick-

[2021-11-16 17:57] sftim commented on #29354
Done
/close

[2021-11-16 18:02] sftim commented on #30409
@amalic can you also show an example of the incorrect output you see when following the existing documentation, and point out why it's wrong?

/language en

[2021-11-16 18:04] sftim commented on #30510
/sig windows

[2021-11-16 18:06] sftim commented on #30499
@dialogbox can you explain why? I imagine it's in case someone writes a quantity as, eg, 256m meaning 256Mi, and they don't realize their error?

We do document quantities: https://kubernetes.io/docs/reference/glossary/?all=true#term-quantity

/priority awaiting-more-evidence
/language en

[2021-11-16 18:07] sftim commented on #30355
/sig cluster-lifecycle
/sig auth

[2021-11-16 18:07] sftim commented on #30355
/language en
/kind feature

[2021-11-16 18:08] sftim commented on #30319
/sig cli
/language en

[2021-11-16 18:09] sftim commented on #30319
This is really a request to change the help that is built into `kubectl`. The text on the website is a copy of that built-in help.

/transfer kubectl

[2021-11-16 18:36] sftim opened #30511 "CRON_TZ documented for CronJob but actually not supported"
**This is a Bug Report**

**Problem:** [CronJob](https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/) documents that you can set `CRON_TZ` to force a CronJob to use a particular timezone. However, whilst that's possible it's an accident of how we implemented the v2 CronJob controller and not intended.

**Proposed Solution:**
Update the page to clarify that setting variables such a

[2021-11-16 18:36] sftim commented on #30511
https://github.com/kubernetes/website/pull/30509 aims to fix this.

[2021-11-16 18:36] sftim commented on #30511
/retitle CRON_TZ documented for CronJob but actually not supported

[2021-11-16 18:57] BenTheElder commented on #29354
Hmm seems prow missed the hook?
/close

[2021-11-16 18:57] #29354 closed

[2021-11-16 19:11] sftim commented on #30511
/triage accepted

[2021-11-16 21:44] sftim commented on #30510
/kind bug
/language en

[2021-11-16 21:44] sftim commented on #30510
/sig windows

[2021-11-16 21:45] sftim commented on #30475
/language de

[2021-11-16 21:46] sftim commented on #30317
Hi, I was copied in. How can I help?

[2021-11-16 22:23] kvaps commented on #30317
@sftim you're member of `sig-docs-en-owners`, we need an approval for https://github.com/kubernetes/website/pull/30385, to get it merged.

[2021-11-16 22:39] sftim commented on #30317
Best thing usually is to contact the [PR wrangler](https://github.com/kubernetes/website/wiki/PR-Wranglers) if a review is urgent / not happening. Although, this week I'm sharing cover for that. So, consider me informed. I'll take a look.

[2021-11-16 22:42] #30317 closed

[2021-11-16 22:53] sftim opened #30514 "Tidy prerequisites for “Set up Konnectivity service”"
**This is a cleanup request**

**Problem:** The page [Set up Konnectivity service](https://kubernetes.io/docs/tasks/extend-kubernetes/setup-konnectivity/) has some prerequisites that aren't mentioned until after end of the prerequisites section.

Also, the prerequisites currently suggest you can try this in an online playground; you can't. A tiny bug.

**Proposed Solution:**
Move the following to

[2021-11-16 22:53] sftim commented on #30514
/help
/good-first-issue

[2021-11-16 22:53] sftim commented on #30514
/triage accepted

[2021-11-16 23:31] sftim opened #30515 "Highlight contributor site from Community page"
**This is a Feature Request**

**What would you like to be added**
Update the page at https://kubernetes.io/community/ to hyperlink, prominently, to https://k8s.dev/

**Why is this needed**
https://github.com/kubernetes/contributor-site/issues/202 calls for making the contributor site more findable.

**Comments**
/language en
/good-first-issue

per SIG Docs fortnightly meeting:
/assign @occase

[2021-11-16 23:38] sftim commented on #30515
The file to change is https://github.com/kubernetes/website/blob/main/content/en/community/_index.html

Unlike most of this site, that page is in HTML. https://kubernetes.io/docs/contribute/new-content/open-a-pr/ has some general tips on what to do.
It's OK to ask questions for more advice.

[2021-11-16 23:38] sftim commented on #30515
/triage accepted
/priority backlog

[2021-11-16 23:39] sftim commented on #30514
/priority backlog

[2021-11-17 00:11] sftim opened #30516 "Document serviceAccountToken projected volumes"
**This is a Feature Request**

**What would you like to be added**
Add `serviceAccountToken` as a ~volume type~ kind of projected volume into https://kubernetes.io/docs/concepts/storage/volumes/

**Why is this needed**
https://github.com/kubernetes/website/pull/30366/files#r743717303 highlights that currently, that volume type is not documented.

**Comments**
/kind feature
/sig storage
/language e

[2021-11-17 01:01] jihoon-seo commented on #27934
Related pages:
- https://kubernetes.io/docs/tasks/tools/install-kubectl-linux/
- https://kubernetes.io/docs/tasks/tools/install-kubectl-macos/
- https://kubernetes.io/docs/tasks/tools/install-kubectl-windows/

[2021-11-17 02:52] jihoon-seo commented on #30414
M28 제가 하겠습니다~~

- M1-M3: @seokho-son
- ...
- M28: @jihoon-seo
- ...

[2021-11-17 03:54] ptux opened #30518 "[ja] Translate tasks/inject-data-application/distribute-credentials-secure into Japanese"
# This is a Feature Request

## What would you like to be added

Translate [tasks/inject-data-application/distribute-credentials-secure](https://kubernetes.io/docs/tasks/inject-data-application/distribute-credentials-secure/)  into Japanese.

## Why is this needed

This page has not been translated.

## Comments

/language ja
/assign

[2021-11-17 04:27] ptux opened #30519 "[ja] Translate tasks/configure-pod-container/security-context into Japanese"
# This is a Feature Request

## What would you like to be added

Translate [tasks/configure-pod-container/security-context](https://kubernetes.io/docs/tasks/configure-pod-container/security-context/)  into Japanese.

## Why is this needed

This page has not been translated.

## Comments

/language ja
/assign

[2021-11-17 05:07] jihoon-seo commented on #30414
GitLens (VScode extension) 로
`upstream/dev-1.22-ko.3` 브랜치와 `upstream/dev-1.22-ko.2` 브랜치를 비교하면
위의 M** 목록에 없는 항목들도 있네요..

---

이렇게 GitLens 에서는
`content/en/docs/setup/production-environment/tools/kubeadm/` 아래에
변경된 파일이 6개 있다고 뜨는데

![image](https://user-images.githubusercontent.com/46767780/142138051-b1e6fc5f-eb11-44df-8014-1c2c4eca1935.png)

그런데 위에 M** 목록에는

이거 하나만 있네요..

[2021-11-17 08:03] ashish-jaiswar commented on #30515
assign

[2021-11-17 08:04] ashish-jaiswar commented on #30515
/assign

[2021-11-17 08:13] ashish-jaiswar commented on #30514
/assign

[2021-11-17 08:24] AvineshTripathi commented on #30516
Hey @sftim I am willing to work on this can you help me with resources which I can look and learn about it

[2021-11-17 08:32] aviv-amdocs opened #30522 "Improvement for k8s.io/docs/concepts/overview/working-with-objects/field-selectors/"
Under "Supported fields", I think it would be good to include some information about how to find supported fields.

My googling found `kubectl explain <resource type>` , which I guess is a good resource but I'm not sure.

[2021-11-17 08:55] habibrosyad commented on #23660
/remove-lifecycle stale

[2021-11-17 09:03] jggoebel opened #30523 "Dead links in k8s.io/docs/concepts/storage/storage-classes/"
[vSphere](https://kubernetes.io/docs/concepts/storage/storage-classes/#vsphere) links to the wrong Anchor for the CSI Provisioner.
It links to #csi-provisioner but should be linking to #vsphere-provisioner-csi

Also the link referering to the vsphere CSI repository in https://kubernetes.io/docs/concepts/storage/storage-classes/#vsphere-provisioner-csi delivers a HTTP 404 Status.

[2021-11-17 09:56] sftim commented on #30516
@AvineshTripathi are you a member of Kubernetes Slack? (if not, you can visit https://slack.k8s.io/ to request an invitation).

A good place to ask for mentoring help is the [#sig-docs](https://kubernetes.slack.com/messages/sig-docs) channel - there are many contributors who might have time for that, and it's a better approach than singling out one contributor and asking them.

[2021-11-17 10:27] ashish-jaiswar commented on #30515
@sftim somebody updated the community page before assigning this issue. I was working on same issues.

[2021-11-17 10:34] sftim commented on #30515
@ashish-jaiswar I'm afraid you're not right about the timeline. As discussed in the fortnightly SIG Docs call, I highlighted this issue to @occase in https://github.com/kubernetes/website/issues/30515#issue-1055543261. Their PR came in first too, and I was happy to approve it.

I hope that this wasn't too much of an inconvenience for you. This SIG is usually happy to pick the first PR for an issue

[2021-11-17 10:34] #30515 closed

[2021-11-17 10:35] dialogbox commented on #30499
@sftim Yes. That is exactly the case. Although we have a document about the general quantities, this page would be the page someone who is searching about memory configuration.

And since this page also mentions but only mentions E, P, T, G, M, k, and since 'm' just works, I saw some people blindly assumed that the 'm' means 'Mega'. This might not be a big problem for resource limits because the d

[2021-11-17 11:03] ashish-jaiswar commented on #30514
@sftim is anyone working or assign for this issue?

[2021-11-17 11:35] sftim commented on #30499
/triage accepted
/kind feature
/priority backlog
/help
/language en

Thanks for clarifying. Let's try to use a [glossary tooltip](https://kubernetes.io/docs/contribute/style/hugo-shortcodes/#glossary) for what we mean by “quantity”, too, if we can.

[2021-11-17 11:36] sftim commented on #30499
/retitle Warn people about mistaking "M" suffix for "m" when setting resource limits

[2021-11-17 11:40] sftim commented on #30514
@ashish-jaiswar you've assigned this to yourself, which by convention means that you plan to work on it
Nobody else has mentioned in this issue that they plan to work on it.

[2021-11-17 12:39] AvineshTripathi commented on #30516
Hey thanks I ll do the same

[2021-11-17 13:36] ptux opened #30526 "[ja] Translate reference/command-line-tools-reference/kubelet-tls-bootstrapping into Japanese"
# This is a Feature Request

## What would you like to be added

Translate [reference/command-line-tools-reference/kubelet-tls-bootstrapping](https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet-tls-bootstrapping/)  into Japanese.

## Why is this needed

This page has not been translated.

## Comments

/language ja
/assign

[2021-11-17 13:38] ptux opened #30527 "[ja] Translate reference/access-authn-authz/admission-controllers into Japanese"
# This is a Feature Request

## What would you like to be added

Translate [reference/access-authn-authz/admission-controllers](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/)  into Japanese.

## Why is this needed

This page has not been translated.

## Comments

/language ja
/assign

[2021-11-17 13:40] ptux opened #30528 "[ja] Translate tasks/administer-cluster/securing-a-cluster into Japanese"
# This is a Feature Request

## What would you like to be added

Translate [tasks/administer-cluster/securing-a-cluster into Japanese](https://kubernetes.io/docs/tasks/administer-cluster/securing-a-cluster/)  into Japanese.

## Why is this needed

This page has not been translated.

## Comments

/language ja
/assign

[2021-11-17 14:04] superleo commented on #29327
I can take 41

[2021-11-17 14:18] popomen commented on #29327
I'll take 34

[2021-11-17 17:09] sftim commented on #30523
/kind bug
/language en
/triage accepted

[2021-11-17 17:10] sftim commented on #30522
/wg api-expression
Would someone from that WG be happy to triage this?

/language en
/kind feature

[2021-11-17 17:11] sftim commented on #30482
I think we should fix the English original page, then localize the fixes back to zh

[2021-11-17 22:06] #28411 closed

[2021-11-18 02:24] liuzhilin12 opened #30540 "Translate Reference/Glossary/pod-disruption page"
Hi, I'm interested to translate the "Reference/Glossary/pod-disruption" page.

This is a Feature Request:

translate en/docs/reference/glossary/pod-disruption.md into Chinese.

What would you like to be added:

zh/docs/reference/glossary/pod-disruption.md

/language zh
/kind feature

[2021-11-18 02:25] liuzhilin12 commented on #30540
/assign

[2021-11-18 03:30] hechunping opened #30544 "[zh] Issue with k8s.io/zh/docs/tasks/debug-application-cluster/resource-metrics-pipeline"
deployment yamls:https://github.com/kubernetes-sigs/metrics-server/tree/master/deploy does not exist

[2021-11-18 07:03] ashish-jaiswar commented on #30514
hey, @sftim I have confusion regarding the proposed solution. Can you tell me more about this line > "Omit {{< include "task-tutorial-prereqs.md" >}} from the prerequisites and instead write custom text that doesn't mention Katacoda or Play with Kubernetes."

[2021-11-18 08:59] sftim commented on #30514
In https://kubernetes.io/docs/tasks/extend-kubernetes/setup-konnectivity/ there is some text:

and the [source code](https://github.com/kubernetes/website/edit/main/content/en/docs/tasks/extend-kubernetes/setup-konnectivity.md) for that is text is a [shortcode](https://gohugo.io/content-management/shortcodes/#figure):

So this part of the task is 3 steps:
1. Write new text that starts “You need to

[2021-11-18 11:15] #19199 closed

[2021-11-18 17:21] neha-viswanathan commented on #30523
/assign

[2021-11-18 23:35] nate-double-u commented on #29064
/close

[2021-11-18 23:35] #29064 closed

[2021-11-19 01:32] #30523 closed

[2021-11-19 03:16] #29959 closed

[2021-11-19 13:42] ptux opened #30563 "[ja] Translate reference/command-line-tools-reference/kube-apiserver into Japanese"
# This is a Feature Request

## What would you like to be added

Translate [reference/command-line-tools-reference/kube-apiserver](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/)  into Japanese.

## Why is this needed

This page has not been translated.

## Comments

/language ja
/assign

[2021-11-19 13:48] #30563 closed

[2021-11-19 14:01] ptux opened #30564 "[ja] Translate tasks/debug-application-cluster/audit into Japanese"
# This is a Feature Request

## What would you like to be added

Translate [tasks/debug-application-cluster/audit](https://kubernetes.io/docs/tasks/debug-application-cluster/audit)  into Japanese.

## Why is this needed

This page has not been translated.

## Comments

/language ja
/assign

[2021-11-19 14:46] shannonxtreme commented on #25119
/lifecycle frozen

[2021-11-19 21:23] tallclair commented on #30133
This was resolved by https://github.com/kubernetes/website/pull/30351

Punting the extension documentation to https://github.com/kubernetes/kubernetes/issues/106561

[2021-11-19 21:23] #30133 closed

[2021-11-19 21:24] tallclair commented on #28867
Resolved by #30351

[2021-11-19 21:24] #28867 closed

[2021-11-20 01:14] anubha-v-ardhan opened #30569 "[hi] Localize optional-kubectl-configs-bash-linux.md to Hindi"
**This is a Feature Request**

**What would you like to be added**

We need to localize [optional-kubectl-configs-bash-linux.md](https://github.com/kubernetes/website/blob/main/content/en/docs/tasks/tools/included/optional-kubectl-configs-bash-linux.md) to Hindi.

**Why is this needed**

This page is needed as per [minimum required content](https://kubernetes.io/docs/contribute/localization/#minim

[2021-11-20 01:15] anubha-v-ardhan commented on #30569
/triage accepted

[2021-11-20 01:16] anubha-v-ardhan opened #30570 "[hi] Localize optional-kubectl-configs-bash-mac.md to Hindi"
**This is a Feature Request**

**What would you like to be added**

We need to localize [optional-kubectl-configs-bash-mac.md](https://github.com/kubernetes/website/blob/main/content/en/docs/tasks/tools/included/optional-kubectl-configs-bash-mac.md) to Hindi.

**Why is this needed**

This page is needed as per [minimum required content](https://kubernetes.io/docs/contribute/localization/#minimum-r

[2021-11-20 01:18] anubha-v-ardhan commented on #30570
/triage accepted

[2021-11-20 01:21] anubha-v-ardhan opened #30571 "[hi] Localize intro-windows-in-kubernetes.md to Hindi"
**This is a Feature Request**

**What would you like to be added**

We need to localize [intro-windows-in-kubernetes.md](https://github.com/kubernetes/website/blob/main/content/en/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md) to Hindi.

**Comments**

The current working branch for `hi` localization work is `dev-1.22-hi.1`. Please make sure to open a PR against `dev-1.22

[2021-11-20 01:22] anubha-v-ardhan commented on #30571
/triage accepted

[2021-11-20 03:49] ashish-jaiswar commented on #30569
/assign

[2021-11-20 04:35] #25673 closed

[2021-11-20 05:03] vedant-kakde commented on #30570
/assign

[2021-11-20 05:53] budhirajamadhav commented on #30571
/assign

[2021-11-20 11:33] kranurag7 commented on #30570
@vedant-kakde I would love to work on this along with you.

[2021-11-20 11:42] kranurag7 commented on #30570
/assign

[2021-11-20 13:37] Babapool commented on #30499
Hi, I would like to work on this.

[2021-11-20 13:37] Babapool commented on #30499
/assign

[2021-11-20 13:45] Babapool commented on #30499
I was thinking to solve the PR in the following manner:

1.  On the page https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-memory I will add 'm (milli)' in the list of suffixes.
2. Before the example I would include a Caution/ Note telling people while setting resource limits that they should not mistake the m (mili) suffix as M  (mega) suffix of memory.
3.

[2021-11-20 13:47] Babapool commented on #30499
@sftim @dialogbo Could be you please provide your inputs for my method above to fix this PR. Thanks.

[2021-11-20 15:17] ppbrown opened #30572 "Improvement for k8s.io/docs/tutorials/configuration/configure-java-microservice/configure-java-microservice-interactive/"
This actually applies to all the tutorials

problem 1: the default framing is way too limiting. Even if you have a large browser window, it is effectively too small, because
    1.1 the tutorial takes up 50% or less of the window
    1.2 there are multiple parts, all in the same frame.
    Better interactive tutorials default to separating out the instructions from the interactive typie bit.
    T

[2021-11-20 15:46] sftim commented on #30570
/remove-priority important-soon
/priority backlog

These are key for Hindi but overall (across SIG Docs) the priority for this work is only backlog I'm afraid.

[2021-11-20 15:46] sftim commented on #30569
/remove-priority important-soon
/priority backlog

These are key for Hindi but overall (across SIG Docs) the priority for this work is only backlog I'm afraid.

[2021-11-20 15:47] sftim commented on #30571
/priority backlog

[2021-11-20 16:23] sftim commented on #19703
/remove-lifecycle rotten

[2021-11-20 16:37] sftim commented on #28055
This would help with https://github.com/kubernetes/contributor-site/issues/202

[2021-11-20 16:43] sftim commented on #17951
BTW, which is the owning SIG for the LimitRange API?

[2021-11-20 16:44] sftim commented on #17951
I think this is done (well, done enough). @tengqm do you agree?

[2021-11-20 17:08] sftim commented on #14713
I think https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-termination covers this.

[2021-11-20 17:15] sftim commented on #21129
/reopen

[2021-11-20 17:48] sftim commented on #30574
The primary place to document this is on the Kubernetes [website](https://k8s.io/)

[2021-11-20 17:48] sftim commented on #30574
/triage accepted
/priority important-longterm
/language en

[2021-11-20 17:53] jimmycuadra opened #30575 "Document requirements/recommended process for updating cluster TLS certs/keys"
If you're running Kubernetes with the master components secured with TLS, eventually you will need to update the certificate and key, and possibly even the CA cert. Right now there is no documentation about how this should be approached. What services need to be restarted when the CA cert, endpoint cert, or private key are changed on disk? If all the master components are running via the kubelet's

[2021-11-20 17:53] stephen-dexda opened #30576 "Update docs with strategic merge patch deletion information"
**What would you like to be added**:

Information on deleting resource elements via strategic merge patching, (as documented at the difficult-to-discover https://github.com/kubernetes/community/blob/master/contributors/devel/sig-api-machinery/strategic-merge-patch.md.

To at least:

https://kubernetes.io/docs/tasks/run-application/update-api-object-kubectl-patch/
https://kubernetes.io/docs/referen

[2021-11-20 17:54] sftim commented on #30576
/language en
/kind feature
/sig api-machinery
/wg api-expression
/priority backlog

[2021-11-20 17:55] sftim commented on #30575
/language en
/remove-area security
/sig security

[2021-11-20 17:55] sftim commented on #30575
/sig auth

[2021-11-20 17:56] sftim commented on #30575
/kind feature

[2021-11-20 18:11] sftim commented on #30577
/sig cli
/language en
/kind bug

The page in question is [auto generated](https://github.com/kubernetes-sigs/reference-docs/).

[2021-11-20 18:14] sftim commented on #25943
_This_ issue is relevant to #30577

[2021-11-20 18:26] sftim commented on #30578
/lifecycle frozen
/language en
/triage accepted
/priority important-soon
/kind feature
/sig auth
/sig docs

[2021-11-20 18:28] sftim commented on #30578
The actions I'd want:
- update https://kubernetes.io/docs/reference/labels-annotations-taints/ to mention the annotation, and that the API that uses it (PodSecurityPolicy) is deprecated
- link from https://kubernetes.io/docs/concepts/policy/pod-security-policy/ to the specific section added in the previous step

Those are fairly self-contained

@disconnect3d would you be willing to update the issu

[2021-11-20 18:30] sftim commented on #30578
BTW the “important-soon” priority is because the replacement feature is going beta in the next release, and properly documenting the feature it replaces is equally timely.

[2021-11-20 18:32] sftim commented on #30572
/kind bug
/triage accepted
/language en
/priority backlog
That seems like a fair criticism.

[2021-11-20 18:32] sftim commented on #30572
I think it'd make sense to convert these to be non-interactive tutorials.

[2021-11-20 18:40] sftim commented on #30511
/close
#30509 fixed it

[2021-11-20 18:40] #30511 closed

[2021-11-20 18:43] sftim opened #30579 "Integrate downloadkubernetes.com"
This issue mirrors https://github.com/kubernetes-sigs/downloadkubernetes/issues/82

We should leave this open until https://github.com/kubernetes-sigs/downloadkubernetes/issues/82 is closed (either done, or dropped).

/kind feature
/sig docs
/sig release
/lifecycle frozen

[2021-11-20 19:40] liggitt commented on #30574
fwiw, I'm looking at improving this behavior in https://github.com/kubernetes/kubernetes/pull/94637, but that will likely land in 1.24, so we still want this documented for things interoperating with older server versions

[2021-11-20 19:59] mayocream commented on #30540
/triage accepted

[2021-11-20 21:23] riking commented on #30574
I think someone already did - the issue text now already says "Namespaces that mismatch between the URL and resource are not blocked by the apiserver until after the object has been sent to Mutating webhooks". (Possibly me, but github shows no edit history.)

The only place I incorrectly stated that "intended behavior" was that comment.

I don't intend to actually work on this myself - I filed thi

[2021-11-21 01:03] tengqm commented on #17951
/close

[2021-11-21 01:04] #17951 closed

[2021-11-21 03:44] #28588 closed

[2021-11-21 10:07] v4nRutt3n opened #30581 "Improvement for k8s.io/docs/reference/access-authn-authz/rbac/"
https://kubernetes.io/docs/reference/access-authn-authz/rbac/#kubectl-create-rolebinding

_kubectl create rolebinding
Grants a Role or ClusterRole within a specific namespace. Examples:_

In the command line examples for rolebinding the documentation is stating --clusterrole= parameters instead of the --role=.

[2021-11-21 10:23] #30581 closed

[2021-11-21 10:25] v4nRutt3n commented on #30581
Today I learned:

- Roles and role bindings must exist in the same namespace.
- Role bindings can exist in separate namespaces to service accounts.
- Role bindings can link cluster roles, but they only grant access to the namespace of the role binding.
- Cluster role bindings link accounts to cluster roles and grant access across all resources.
- Cluster role bindings can not reference roles.

So

[2021-11-21 12:19] sandipanpanda commented on #27864
Fixed in #30388
/close

[2021-11-21 12:19] #27864 closed

[2021-11-21 14:24] AvineshTripathi commented on #30571
/assign

[2021-11-21 15:37] vinodjujaray opened #30582 "Improvement for k8s.io/docs/concepts/overview/components/"
Service Controller definition is not given any where in this page

[2021-11-21 21:09] sftim commented on #30574
I think

is slightly misleading. The description for https://github.com/kubernetes/kubernetes/pull/94637 puts it more clearly. I want to make it obvious to anyone who does pick this issue up where they can find clear guidance on what to document.

[2021-11-21 21:10] sftim commented on #30574
To clarify:

does not need a special warning, because even the most naive of validating webhooks doesn't need to care about namespace mismatches. Validation still fails at some point before persistence.

[2021-11-21 21:24] sftim opened #30584 "Mention k-sigs/kui within docs"
**This is a Feature Request**

**What would you like to be added**
Mention kui within https://kubernetes.io/docs/

**Why is this needed**
We should make the [kui](https://github.com/kubernetes-sigs/kui) tool more prominent.

**Comments**
Based on an idea from https://github.com/kubernetes-sigs/kui/issues/8267
/kind feature
/triage accepted
/language en
/priority backlog

[2021-11-21 21:24] sftim commented on #30584
I would make this change by editing https://kubernetes.io/docs/reference/tools/ and adding a new entry that describes kui.
/help

[2021-11-21 21:26] sftim commented on #30584
/sig cli

[2021-11-21 21:28] sftim commented on #30582
https://k8s.io/docs/concepts/overview/components/ doesn't list all the controllers; that's intentional.

I did have a go at adding this (https://github.com/kubernetes/website/pull/15374) but it's quite a lot of work to document all the controllers built in to Kubernetes. If / when we add that documentation, it'd be appropriate for https://k8s.io/docs/concepts/overview/components/ to link there.

[2021-11-21 23:20] brsolomon-deloitte opened #30585 "csr.spec.usages - definition table for 'valid values'"
**This is a Feature Request**

**What would you like to be added**

It would be useful to see https://kubernetes.io/docs/reference/access-authn-authz/certificate-signing-requests/ do one or possibly two things:

- Display a 2-column table that gives the valid values of `csr.spec.usages` and a short definition of each in the second column
- A more prominent link to https://datatracker.ietf.org/doc/

[2021-11-22 04:50] #28596 closed

[2021-11-22 06:26] dialogbox commented on #30499
@Babapool I love the idea of having the `Caution/ Note`. Can you please add the comment to the https://github.com/kubernetes/website/pull/30501?

[2021-11-22 06:32] dialogbox commented on #30355
https://github.com/kubernetes/website/pull/30588

[2021-11-22 07:20] Babapool commented on #30499
@dialogbox Let me ask the reviewers on #30501 on how to proceed on the same and as per their advice/suggestion I will do the necessary changes.

[2021-11-22 07:54] #28602 closed

[2021-11-22 09:20] Babapool commented on #30584
Hi @sftim , I would like to work on this issue.
/assign

[2021-11-22 09:31] Babapool commented on #30584
I have one question: While describing about about kui, should I also include some of its uses? @sftim

[2021-11-22 10:09] anubha-v-ardhan opened #30590 "[hi] Localize task-tutorial-prereqs.md to Hindi"
**This is a Feature Request**

**What would you like to be added**

We need to localize [task-tutorial-prereqs.md](https://github.com/kubernetes/website/blob/main/content/en/includes/task-tutorial-prereqs.md) to Hindi.

**Why is this needed**

This page is needed for Netlify preview to work on `dev-1.22-hi.1`

**Comments**

The current working branch for `hi` localization work is `dev-1.22-hi.1`.

[2021-11-22 10:10] anubha-v-ardhan commented on #30590
/triage accepted

[2021-11-22 10:13] anubha-v-ardhan opened #30591 "[hi] Localize docs/reference/glossary/index.md to Hindi"
**This is a Feature Request**

**What would you like to be added**

We need to localize [glossary/index.md](https://github.com/kubernetes/website/blob/main/content/en/docs/reference/glossary/index.md) to Hindi.

**Why is this needed**

This page is needed for Netlify preview to work on `dev-1.22-hi.1`

**Comments**

The current working branch for `hi` localization work is `dev-1.22-hi.1`. Please m

[2021-11-22 10:13] anubha-v-ardhan commented on #30591
/triage accepted

[2021-11-22 10:49] Nawaz027 commented on #30590
Hey @anubha-v-ardhan, I'm new to kubernetes. Would love to localize and get comfortable with contributing. Can you please assign this issue to me?

[2021-11-22 10:50] anubha-v-ardhan commented on #30590
/assign @Nawaz027
Thank you

[2021-11-22 11:05] ashish-jaiswar commented on #30591
/assign

[2021-11-22 12:06] ashish-jaiswar commented on #30514
@sftim, I submitted the PR  of this issue can you review it ?

[2021-11-22 12:15] seokho-son commented on #30364
https://github.com/kubernetes/website/issues/30414
에서 추가로 변경이 있습니다.

M27. content/en/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md | 5(+XS) 12(-)

[2021-11-22 13:03] sftim commented on #30585
/sig auth
/language en

[2021-11-22 13:55] #28085 closed

[2021-11-22 13:55] #28578 closed

[2021-11-22 17:25] enj commented on #28968
/remove-lifecycle rotten
/triage accepted

There is quite a lot of nuance in how these authenticators work together, and we should definitely continue to recommend the use of different CAs for these purposes.

For example, the `CN` check for the request header authenticator is not required.

If you use the same CA, there are situations where an aggregated API server can get confused about the inco

[2021-11-22 17:30] sftim commented on #30180
We should also update these pages:

- https://kubernetes.io/docs/reference/glossary/?fundamental=true&storage=true#term-flexvolume
- https://kubernetes.io/docs/concepts/storage/persistent-volumes/#types-of-persistent-volumes
- https://kubernetes.io/docs/concepts/extend-kubernetes/#storage-plugins

and possibly:
- https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/troubleshooting

[2021-11-22 17:32] bbarnes52 commented on #28968
I do not disagree with recommending the use of different CAs per-se. I filed this issue because the current documentation makes assertions that are verifiably incorrect.

[2021-11-22 17:40] sftim commented on #28968
/kind bug
/language en

/priority backlog

(but, folks, please feel very welcome to work on this one - the docs for APIService need some love)

[2021-11-23 00:32] #30540 closed

[2021-11-23 01:24] jihoon-seo commented on #29253
모든 M** 처리가 완료되어
이제 `dev-1.21-ko.8` 을 `release-1.21` 에 merge하면 될 것 같습니다 😊

[2021-11-23 01:59] seokho-son commented on #29253
@jihoon-seo 감사합니다!

1.22 에서는 해당 D1, D2 를 삭제하지 않고, 변합된 문서로 링크를 하였으나,
https://kubernetes.io/ko/docs/concepts/cluster-administration/kubelet-garbage-collection/

release에서는 오히려 혼동을 줄이기 위해서 삭제를 하는 것이 좋겠다는 생각입니다.

머지 PR 올리면서 정리하도록 하겠습니다!

[2021-11-23 02:00] seokho-son commented on #29253
아.. 머지를 하고 나서;; 추가로 처리하는 것이 좋을 것 같습니다!!

[2021-11-23 05:19] Polokghosh53 commented on #30591
So, currently there is not any reference folder in the docs directory, right?
- So, do we have to just localise https://github.com/kubernetes/website/blob/main/content/en/docs/reference/glossary/index.md but just in Hindi?
Would like to know more so that I can get started.

[2021-11-23 05:28] jihoon-seo commented on #29253
For anyone's information:
`dev-1.21-ko.8` 을 `release-1.21` 에 반영하는 PR #30600 이 merge 되었습니다.
D1, D2 만 처리되면, 이 이슈는 resolve 됩니다. 😊

[2021-11-23 05:29] ashish-jaiswar commented on #30569
hey @anubha-v-ardhan I submitted the PR of this issue ,can you review it?
netlify cases are failed , how to resolve this issues?

[2021-11-23 07:38] RA489 commented on #24080
/remove-lifecycle stale

[2021-11-23 09:06] anubha-v-ardhan commented on #30569
@ashish-jaiswar Thanks for the PR
I have suggested some changes (with reason of failure) that should fix the problem.

[2021-11-23 10:35] Bashorun97 commented on #2325
Is this suitable to use in production?

[2021-11-23 16:05] #26706 closed

[2021-11-23 16:10] mattcary opened #30608 "make module-init having problem with remote repositories"
**Problem:**

`make module-init` seems to have problems with my remotes---more accurately, `git submodules` does. Running `make module-init` produces

[code]

My remotes are setup like

[code]

I tried to manually run git submodule commands, but apparently git is smarter than I am and nothing is working.

[2021-11-23 16:24] jlbutler commented on #30180
/assign @ramrodo

[2021-11-23 17:10] ramrodo commented on #30180
@chetak123 could you update also those other pages mentioned above? We would like to include these deprecation updates in v1.23. Let me know if you require help.

[2021-11-23 17:24] sftim commented on #30608
I just tested this and it does work on my machine
Try switching to the `main` branch and running that command once again @mattcary  (stash or commit your work first)

If that fails: `rm -rf api-ref-generator` (from the top of the repo) and run, manually:
[code]

[2021-11-23 17:24] sftim commented on #30608
/kind support

I think - happy to offer support here, it's a reasonable thing to want help with
/remove-kind bug

[2021-11-23 19:36] Polokghosh53 commented on #30591
@anubha-v-ardhan just tagged to let you know about the query above.

[2021-11-23 23:36] sftim opened #30613 "document kubeadm annotations,labels,taints"
**This is a Feature Request**

**What would you like to be added**
Document the annotation keys that `kubeadm` uses, on the page [Well-Known Labels, Annotations and Taints](https://kubernetes.io/docs/reference/labels-annotations-taints/)/

**Why is this needed**
`kubeadm` uses annotations within `kubernetes.io`, for example `kubeadm.kubernetes.io/etcd.advertise-client-urls`

per https://kubernetes

[2021-11-23 23:37] sftim commented on #30613
@neolit123 FYI

[2021-11-23 23:42] sftim opened #30614 "Incorrect docs for label kubernetes.io/metadata.name"
**This is a Bug Report**

**Problem:**
The docs for [`kubernetes.io/metadata.name`](https://kubernetes.io/docs/reference/labels-annotations-taints/) say that this label is set on namespaces when you enable a feature gate, `NamespaceDefaultLabelName`. However that's no longer true. In current Kubernetes the control plane always sets that label on namespaces.

**Proposed Solution:**
Reword that sect

[2021-11-23 23:42] sftim commented on #30614
/triage accepted

[2021-11-24 02:37] chetak123 commented on #30180
Yes ofcourse, I will start to create pr for these pages as soon as possible.

[2021-11-24 07:18] UOS-liang opened #30619 "[zh] Translate docs/reference/glossary/affinity.md into Chinese"
Hi, I'm interested to translate the "reference/glossary/affinity.md" page.

This is a Feature Request:

translate en/docs/reference/glossary/pod-disruption.md into Chinese.

What would you like to be added:

zh/docs/reference/glossary/affinity.md

/language zh
/kind feature

[2021-11-24 07:20] UOS-liang commented on #30619
/assign

[2021-11-24 10:03] sftim commented on #30619
/remove-kind support
/kind feature
/retitle [zh] Translate docs/reference/glossary/affinity.md into Chinese

[2021-11-24 11:14] #30584 closed

[2021-11-24 13:47] Babapool commented on #30614
Hi, I would like to work on this issue.
/assign

[2021-11-24 14:00] sftim commented on #30614
Any questions about how to fix it?

[2021-11-24 14:19] neolit123 commented on #30613
here is what kubeadm has currently:

**annotations**

`kubeadm.alpha.kubernetes.io/cri-socket`

Annotation that kubeadm uses to preserve the CRI socket information given to kubeadm at init/join time for use later. kubeadm annotates the node object with this information. The annotation remains "alpha", since ideally this should be a field in KubeletConfiguration instead.

`kubeadm.kubernetes.io/etc

[2021-11-24 14:24] Babapool commented on #30499
@dialogbox Since you have squashed and merged the commits in #30501 can ask whether I could add the `Caution/Note` part ?

[2021-11-24 14:30] dialogbox commented on #30499
@Babapool I think making it as `caution/note` is a reasonable idea but I'm not sure if others would agree on that. How about keep having discussion here and filing a new pr for adding `Caution/Note` once we got concluded?

[2021-11-24 14:35] Babapool commented on #30614
I have a few technical questions:
1. Since the `Control Plane` sets the label on the namespaces instead of enabling the `feature gate` , so there would be no role of K8s API server in this process?
2. How will the `Control Plane` set label on the namespaces? I mean will it do it automatically or we need to do something else?

[2021-11-24 14:37] Babapool commented on #30499
@dialogbox Thanks I will ask them again the PR conversation.

[2021-11-24 14:43] sftim commented on #30614
The API server is part of the control plane - see https://kubernetes.io/docs/concepts/overview/components/
The component within the control plane that sets the label isn't a detail we need to specify here. All we need to mention is that it happens, and phrase it to make it clear it's not optional.

[2021-11-24 15:16] sftim commented on #30608
Did that advice help you troubleshoot things @mattcary?

[2021-11-24 16:01] Babapool commented on #30614
Just to be clear that the `Control plane` will set the labels of the namespace and this setting of the labels is compulsorily (i.e. it is not optional).?

[2021-11-24 16:05] sftim commented on #30614
(also, we'll get the API Machinery folks to check technical accuracy _anyway_ - it's not on the docs contributors to thoroughly verify this kind of detail).

[2021-11-24 16:09] Babapool commented on #30614
Okay thanks . I will  file the PR soon :)

[2021-11-24 17:00] mattcary commented on #30608
I got something working by removing remotes, fetching, but then had some weird restoring that I had to do in my branch in order to launch the site. So something weird going on, I need start from scratch and work through systematically. I wonder if the problem is because I had two remotes that pointed to the same place (but I'm not sure why git submodules is so persnickity).

I'll post more complet

[2021-11-24 17:26] vaibhav2107 commented on #25866
/remove-lifecycle stale

[2021-11-24 17:32] vaibhav2107 commented on #29189
/remove-lifecycle stale

[2021-11-24 17:34] sftim commented on #29189
We should do this
/lifecycle frozen
/triage accepted

[2021-11-24 17:40] samfullman opened #30625 "Improvement for k8s.io/docs/concepts/overview/working-with-objects/field-selectors/"
So the first thing that anyone with a database background is going to ask is, What comparators are allowed?  Are you only able to do = and != ?  What about <, >, regex, or some type of IN(valueA, valueB)?  If it's not available, specify it, and if that's true are there extensions that do this, and/or is this proposed/coming?

[2021-11-24 19:31] Babapool commented on #30614
I have a doubt: The phrase which tells that `It is compulsory to set a label to namespace` ,would it be better to  included it as a `Note` shortcode or it should be kept as a normal text.?

[2021-11-24 21:01] shannonxtreme commented on #20348
/remove-lifecycle stale

[2021-11-24 23:16] sftim commented on #30614
@babapool the best way for folks to review your proposed changes is to open a pull request. (Also: anyone else who wants to work on this is welcome to - please liaise with @Babapool if that's feasible).

[2021-11-24 23:19] sftim commented on #30625
I suspect you're looking for the section [Supported Operators](https://kubernetes.io/docs/concepts/overview/working-with-objects/field-selectors/#supported-operators) @samfullman

Does that list answer the question about what operators are allowed? If not, what extra text would help?
We usually, and intentionally, _don't_ document improvements and new features that might turn up in the future. Tho

[2021-11-25 05:34] ComradePashka opened #30629 "Translate a Docker Compose File to Kubernetes Resources"
Hello guys!

Seems that documentation from page https://kubernetes.io/docs/tasks/configure-pod-container/translate-compose-kubernetes/ is outdated now.
At first, v1.24.0 is used in installation instructions, however latest one is v1.26.0
But more important is that there are no commands `up` and `down` at all! I creates another issue here: https://github.com/kubernetes/kompose/issues/969 and additi

[2021-11-25 07:03] bang9211 opened #30632 "[ko] Translate tasks/service-catalog/install-service-catalog-using-helm.md"
This is a Feature Request
Translate [/content/en/docs/tasks/service-catalog/install-service-catalog-using-helm.md] in Korean

What would you like to be added
Translate [/content/en/docs/tasks/service-catalog/install-service-catalog-using-helm.md] in Korean

Why is this needed
This file is not translated yet.

Comments
Page to translate : https://kubernetes.io/docs/tasks/service-catalog/install-ser

[2021-11-25 07:18] Babapool commented on #30614
I have filed a PR but if anyone wants to work on this they are welcome to share their suggestions in the PR Conversation. Thanks.

[2021-11-25 08:08] sftim commented on #30629
`kompose down` and `kompose up` are [deprecated](https://github.com/kubernetes/kompose/pull/1297), so the documentation at https://kubernetes.io/docs/tasks/configure-pod-container/translate-compose-kubernetes/ is wrong.

We should either fix the existing docs, or replace them with a redirect to https://kubernetes.io/docs/reference/tools/#kompose. We support `kompose`; it's an official Kubernetes t

[2021-11-25 09:26] #30357 closed

[2021-11-25 09:55] jihoon-seo commented on #30414
M4 ~ M15 중에서
앞번호에서부터 하는데까지 해 보겠습니다~~

[2021-11-25 10:07] sftim commented on #25903
This does sound like a good idea to add. There are several specific meanings of “resource” in Kubernetes.

/remove-lifecycle rotten
/reopen
/language en
/kind feature
/priority important-longterm

[2021-11-25 10:40] Kartik494 commented on #29502
@marrem Could you provide any update on this

[2021-11-25 10:40] Kartik494 commented on #29502
/remove-lifecycle stale

[2021-11-25 11:02] sftim commented on #29132
/retitle TLS error accessing predicted URL of archived docs

(eg https://v1-21.docs.kubernetes.io/ when v1.21 was current)

[2021-11-25 11:05] sftim commented on #26989
The page to change is [Well-Known Labels, Annotations and Taints](https://kubernetes.io/docs/reference/labels-annotations-taints/).

We should edit [that page](https://github.com/kubernetes/website/edit/main/content/en/docs/reference/labels-annotations-taints.md) so that it mentions the `app.kubernetes.io` labels that are already listed at https://docs.k8s.io/concepts/overview/working-with-objects

[2021-11-25 11:07] sftim commented on #30632
It might be easier to propose an English PR that removes the page https://kubernetes.io/docs/tasks/service-catalog/install-service-catalog-using-helm/

https://kubernetes.io/docs/tasks/service-catalog/install-service-catalog-using-helm/ is not very good documentation and I don't recommend keeping it.

[2021-11-25 11:08] sftim commented on #30632
The _ideal_ is to maintain good docs for [Service Catalog](https://svc-cat.io/) and fully integrate them into the Kubernetes docs. That's more work than I think we can easily take on, though.

[2021-11-25 11:16] sftim commented on #21721
/remove-priority important-longterm

[2021-11-25 11:17] sftim commented on #25190
/sig docs
/sig security

[2021-11-25 11:21] sftim commented on #25190
Apparently, since release 88 of Google Chrome, no self-respecting browser is vulnerable to this attack.

[2021-11-25 11:29] sftim commented on #30638
Fixed in https://github.com/kubernetes/website/pull/26564
/close

[2021-11-25 11:29] #30638 closed

[2021-11-25 11:30] sftim commented on #30638
/sig docs

[2021-11-25 11:31] sftim commented on #20728
https://kubernetes.io/docs/reference/glossary/?all=true#term-eviction

[2021-11-25 11:32] sftim commented on #30632
Related: https://github.com/kubernetes/website/issues/22720

[2021-11-25 11:44] sftim commented on #4479
https://kubernetes.io/docs/tasks/administer-cluster/configure-upgrade-etcd/#before-you-begin is wrong: you can't practice operating an etcd cluster _for Kubernetes_ within a Katacoda playground, at least not unless you get **very** technical.

[2021-11-25 11:45] sftim commented on #23915
/reopen
/remove-lifecycle rotten

[2021-11-25 14:19] #22298 closed

[2021-11-25 14:40] samfullman commented on #30625
hyperlinking to this section in the section of the page I referenced would
be helpful.

On Wed, Nov 24, 2021 at 5:19 PM Tim Bannister ***@***.***>
wrote:

[2021-11-25 14:58] sftim opened #30639 "Document API response compression"
**This is a Feature Request**

**What would you like to be added**
There is a feature gate, `APIResponseCompression`. There's barely documentation for this feature - mostly just https://github.com/kubernetes/kubernetes/pull/46966 if you find it, I think, plus the source code.

**Why is this needed**
Readers might want to know what kind of compression (eg HTTP hop-by-hop compression, HTTP end-to-en

[2021-11-25 15:06] seokho-son commented on #30414
- M1-M3: @seokho-son
- M4-M8: @jihoon-seo
- ...
- M19-M26: @jihoon-seo
- M27: #30364
- M28-M38: @jihoon-seo

[2021-11-25 20:28] vaibhav2107 commented on #29550
/remove-lifecycle stale

[2021-11-25 20:39] vaibhav2107 commented on #28667
/assign

[2021-11-25 20:47] vaibhav2107 commented on #26450
/remove-lifecycle stale

[2021-11-26 02:36] jihoon-seo opened #30641 "Italic is not applied to the text in mermaid figure"
**This is a Bug Report**

**Problem:**
In https://kubernetes.io/docs/contribute/new-content/ ,
there is an mermaid figure,
![image](https://user-images.githubusercontent.com/46767780/143518101-96e71eff-e5c9-42b3-bf14-3c6ab92e9182.png)

but italic is not applied to the text in mermaid figure.
`_'/content/../docs'_ folder contains docs
for multiple languages`

**Proposed Solution:**

Maybe just `'/c

[2021-11-26 04:51] jihoon-seo commented on #30414
M9 ~ M18 도 제가 하겠습니다~~

- M1-M3: @seokho-son
- M4-M26: @jihoon-seo
- M27: #30364
- M28-M38: @jihoon-seo

[2021-11-26 05:39] bang9211 commented on #30632
I got it. I'm going to close this issue.

[2021-11-26 05:39] #30632 closed

[2021-11-26 07:23] Kartik494 commented on #29836
@murindwaz i think the description of the command is to delete the pod , it;s not certain that pod is deployed through deployment or statefulset.i think it's just an example statement . what you think @sftim

[2021-11-26 08:24] bang9211 opened #30645 "Integrate docs for tasks/service-catalog into Kubernetes docs"
**This is a Feature Request**
Integrate docs for tasks/service-catalog into Kubernetes docs.

**What would you like to be added**
Improved docs related to service-catalog.

**Why is this needed**
The tasks/service-catalog documentation is bad and should be integrated into other Kubernetes documentation.
Related: #30632 #22720

**Comments**

[2021-11-26 09:04] #30614 closed

[2021-11-26 09:12] maaoBit opened #30646 "Pod cidr and service cidr intersect in Dual-stack documentation"
**This is a Bug Report**

**Problem:**
I build a dual-stack cluster with kubeadm following [Dual-stack support with kubeadm](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/dual-stack-support/),  but kubernetes service clusterIP(`2001:db8:42:1::1/128`) can't be accessed in slave node. I found the reason is  Pod cidr(`2001:db8:42:0::/56`) and service cidr(`2001:db8:42:1::/112`

[2021-11-26 09:20] sftim commented on #30646
You shouldn't use `2001:db8` IP addresses in your actual Kubernetes cluster; these ranges are only **examples**. Let's revise that document to point out that assigning actual IP addresses that you control is expected.

/language en
/priority backlog

[2021-11-26 09:21] sftim commented on #30641
/triage accepted
/language en

[2021-11-26 10:31] frsh-augustin opened #30647 "Issue with k8s.io/docs/tasks/configure-pod-container/quality-service-pod/"
In this document，I know Kubernetes assigns one of these QoS classes to the Pod:

- Guaranteed
- Burstable
- BestEffort

But the document doesn't describe the behavior of the Pod if it is assigned different QoS classes. Can anyone add more information?

[2021-11-26 14:44] saygenie opened #30649 "Fix the wrong indent for bullet list"
**This is a Feature Request**

**What would you like to be added**

**Why is this needed**
Wrong indent for the bullet list of [parallel-jobs](https://kubernetes.io/ko/docs/concepts/workloads/controllers/job/#parallel-jobs)

**Comments**

Page to Update:
https://kubernetes.io/ko/docs/concepts/workloads/controllers/job/

[2021-11-26 14:45] saygenie commented on #30649
/language ko
/assign

[2021-11-26 15:44] #30384 closed

[2021-11-27 00:28] #28632 closed

[2021-11-27 05:11] Polokghosh53 commented on #30591
/assign

[2021-11-27 05:19] anubha-v-ardhan commented on #30591
Yes, you can create the folder if it's not present. Tracking issue #29353's description has the steps mentioned to localize a page.
This issue is already assigned by @ashish-jaiswar, you can approach him if you wish to work together :)

[2021-11-27 06:03] Kartik494 commented on #30516
@sftim  SO the aim here to move `ServiceAccountToken` documentation under volumes? or we can just add a [reference](https://kubernetes.io/docs/concepts/storage/projected-volumes/#introduction) here for serviceAccountToken

[2021-11-27 12:05] gochist commented on #30649
/close

[2021-11-27 12:05] #30649 closed

[2021-11-27 12:26] Polokghosh53 commented on #30591
Thank you @anubha-v-ardhan .  I will reach out to you for any query.

[2021-11-27 13:09] anubha-v-ardhan commented on #30641
/assign @Deepakktripathy :)

[2021-11-27 13:48] Deepakktripathy commented on #30641
I am interested to work on this

[2021-11-27 13:48] anubha-v-ardhan commented on #30641
/assign @Deepakktripathy

[2021-11-27 14:04] anubha-v-ardhan commented on #30591
/close
fixed with #30652

[2021-11-27 14:05] #30591 closed

[2021-11-27 16:31] #28706 closed

[2021-11-27 18:06] sftim commented on #30516
I think it would be enough to edit https://kubernetes.io/docs/concepts/storage/volumes/ to mention the `serviceAccountToken` volume type, briefly, and to hyperlink to existing more detailed documentation.

[2021-11-28 04:26] rajeshpanara opened #30653 "Improvement for k8s.io/docs/tasks/administer-cluster/configure-upgrade-etcd/"
please mentioned exact step for backup and restore.

explaining unnecessary things make it complicated to understand.

[2021-11-28 04:38] #28661 closed

[2021-11-28 06:20] skhalidgh opened #30654 "Bug in Deprecated API Migration Guide"
The replacement for  extensions/v1beta1 k8s 1.22 should be mentioned as extensions/v1beta1 instead of networking.k8s.io/v1 in documentation.

[2021-11-28 08:38] #28727 closed

[2021-11-28 09:03] mehabhalodiya commented on #30639
triage/accepted

[2021-11-28 09:04] mehabhalodiya commented on #30639
/triage accepted

[2021-11-28 09:05] mehabhalodiya commented on #30516
/triage accepted

[2021-11-28 09:09] mehabhalodiya commented on #30516
Where's the existing detailed documentation of `serviceAccountToken` ?
Can you please provide the link?

[2021-11-28 09:10] mehabhalodiya commented on #30516
/assign

[2021-11-28 09:16] mehabhalodiya commented on #30514
@ashish-jaiswar I would request you to mention the respective issue number in the particular PR you have submitted.
Thanks!

[2021-11-28 09:21] mehabhalodiya commented on #30514
/sig docs

[2021-11-28 09:46] mehabhalodiya commented on #29945
Can someone please close this issue?

[2021-11-28 09:50] mehabhalodiya commented on #28886
/remove-lifecycle rotten

[2021-11-28 09:50] mehabhalodiya commented on #28886
/sig docs

[2021-11-28 10:39] mehabhalodiya commented on #28886
@Donkere-vader you may have a look at [this](https://kubernetes.io/docs/reference/glossary/?fundamental=true#term-cluster).
I think it will help you to understand, what the cluster is!
Thank you.

[2021-11-28 10:41] mehabhalodiya commented on #28728
/remove-lifecycle rotten

[2021-11-28 10:44] mehabhalodiya commented on #29945
/close

[2021-11-28 10:44] #29945 closed

[2021-11-28 10:53] mehabhalodiya commented on #30016
/sig docs

[2021-11-28 10:55] mehabhalodiya commented on #30579
/triage accepted

[2021-11-28 11:39] #30070 closed

[2021-11-28 12:32] sftim commented on #30516
I'd link to https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/

I found this using the following web search: https://www.google.com/search?q=serviceaccounttoken

[2021-11-28 12:36] sftim commented on #30514
I'm happy to let any SIG Docs reviewer take a look. Which PR did you have in mind @ashish-jaiswar ?

[2021-11-28 12:43] sftim opened #30655 "Document graceful node shutdown as pod termination cause (troubleshooting)"
**This is a Feature Request**

**What would you like to be added**
For graceful node termination I recommend also adding an example of using `kubectl get event` (or a similar command) to understand why a Pod was terminated / replaced, when that's triggered by a graceful node shutdown.
(context: https://github.com/kubernetes/website/pull/30611#discussion_r757809838)

The page to update is https://k

[2021-11-28 14:32] Polokghosh53 commented on #30590
@anubha-v-ardhan may I assign this issue to myself, if it is not being fixed?

[2021-11-28 14:38] #28649 closed

[2021-11-28 15:25] anubha-v-ardhan commented on #30590
@Polokghosh53 The PR #30602 is open fixing this issue

[2021-11-28 16:31] shannonxtreme commented on #28072
Bad bot

/remove-lifecycle stale

[2021-11-28 16:53] anubha-v-ardhan commented on #30590
/close
#30602 fixed it

[2021-11-28 16:53] #30590 closed

[2021-11-28 17:19] Polokghosh53 commented on #30590
Ohh okay. Did not find the link referral, so I thought this was available. Anyways, thanks.

[2021-11-28 18:10] mehabhalodiya commented on #30655
/triage accepted

[2021-11-28 18:14] anubha-v-ardhan commented on #30571
@budhirajamadhav @AvineshTripathi
Since this is a really large page, If you folks need more people for help, you can ask on Slack

[2021-11-28 18:23] AvineshTripathi commented on #30571
Hey @anubha-v-ardhan  we are done with the work doing the final check and maybe tomorrow will do a PR thanks for asking

[2021-11-28 18:36] anubha-v-ardhan commented on #30569
/close
fixed with #30627

[2021-11-28 18:37] #30569 closed

[2021-11-28 18:56] sftim commented on #26215
OK, but:
/remove-lifecycle stale

[2021-11-28 18:56] sftim commented on #26215
@ritazh do you have a suggestion for amending the description of this issue?

[2021-11-28 18:58] sftim commented on #30654
Hi @skhalidgh

I' m not sure what you're suggesting. Can you let us know which page you think isn't right and outline what change might fix the issue? If you're not sure about the fix, please quote the part of that web page that doesn't seem correct.

/language en
/triage needs-information

[2021-11-28 18:59] sftim commented on #30653
/kind feature
/language en

[2021-11-28 19:00] sftim commented on #30647
I recommend adding a new reference page that lists the QoS classes, and then changing various task and concept pages about QoS to hyperlink to that new reference page.

/language en
/kind feature
/priority backlog

[2021-11-28 20:42] #28741 closed

[2021-11-28 22:44] #28742 closed

[2021-11-29 00:14] Bcodms opened #30660 "Example: Configuring a Java Microservice"
Not sure I was saving files when using the text editor within the tutorial

[2021-11-29 01:47] maaoBit commented on #30646
Maybe I didn't express it clearly. The ranges of examples are intersect. Service cidr(`2001:db8:42:1::/112`) is a part of Pod cidr(`2001:db8:42:0::/56`). But Pod cidr and service cidr are not allowed to intersect in kubernetes. So I think we should fix this wrong example.

[2021-11-29 02:50] funkypenguin opened #30661 "Auditing example for apiserver as a pod can't rotate audit logs"
The  examples provided at https://kubernetes.io/docs/tasks/debug-application-cluster/audit/#log-backend re configuring audit logging to a file will prevent the apiserver from ever rotating the audit logs.

The following hostPath mounts are currently the example:

[code]

However, if an individual _file_ is mounted at `/var/log/audit.log`, then the apiserver will error when trying to rotate this fi

[2021-11-29 04:53] ashish-jaiswar commented on #30514
@mehabhalodiya can you review this PR?
 [issue](https://github.com/kubernetes/website/pull/30664)

[2021-11-29 05:05] jihoon-seo commented on #30654
Looks like here:
https://kubernetes.io/docs/reference/using-api/deprecation-guide/#ingress-v122

@skhalidgh Is this right? 😊

[2021-11-29 05:08] jihoon-seo commented on #30544
/retitle [zh] Issue with k8s.io/zh/docs/tasks/debug-application-cluster/resource-metrics-pipeline

[2021-11-29 05:08] jihoon-seo commented on #30544
/triage accepted
/language zh

[2021-11-29 05:09] jihoon-seo commented on #30544
In English page, the links goes to
https://github.com/kubernetes-sigs/metrics-server/releases

[2021-11-29 05:17] jihoon-seo commented on #30127
@sftim Does the PR #29206 resolve this issue?
If yes, then we can close this issue. 😊

[2021-11-29 05:40] ashish-jaiswar commented on #30399
/unassign

[2021-11-29 05:40] ashish-jaiswar commented on #30312
/unassign

[2021-11-29 06:53] RA489 commented on #30510
/assign

[2021-11-29 07:16] RA489 commented on #30660
@Bcodms can you please point out which page has issues?

[2021-11-29 07:19] RA489 commented on #30653
@rajeshpanara Is these https://kubernetes.io/docs/tasks/administer-cluster/configure-upgrade-etcd/#built-in-snapshot and https://kubernetes.io/docs/tasks/administer-cluster/configure-upgrade-etcd/#restoring-an-etcd-cluster doesn't helped you to backup and restore the cluster. Any specific information your need on this page?

[2021-11-29 07:20] RA489 commented on #30653
/area etcd

[2021-11-29 07:27] RA489 commented on #30653
/triage accepted

[2021-11-29 08:17] ptux opened #30671 "[ja] Translate reference/using-api into Japanese"
# This is a Feature Request

## What would you like to be added

Translate [reference/using-api/](https://kubernetes.io/docs/reference/using-api)  into Japanese.

## Why is this needed

This page has not been translated.

## Comments

/language ja
/assign

[2021-11-29 08:34] Kartik494 commented on #30283
Hi @mrunalp Could you please elaborate how you want the behaviour to be documented.

[2021-11-29 08:59] sftim commented on #30646
I don't really mind if two example ranges intersect. We could move them apart; we could also add a note to say that in a real cluster you should pick ranges that don't intersect.

How about we do both those things?

[2021-11-29 09:00] sftim commented on #30646
Given that you did try these ranges @maaoBit, I think it might be an idea to leave the intersection in place. That way, people who use the example ranges on their cluster will run into a problem and might then revisit the documentation - spotting, I hope, the new exhortation to pick real ranges.

[2021-11-29 09:01] sftim commented on #30646
We already have this text:

[2021-11-29 09:09] #29764 closed

[2021-11-29 09:09] #30101 closed

[2021-11-29 09:23] Kartik494 commented on #29603
@chenzhiwei The `ports` provided an array of ports definitions of protocol which contain `port` and `targetport` it means you can add aonther protocol in sequence and provided `port` and `targetport` for the same as
`

     protocol1
     port1
     targetport1
`

`

     protocol2
     port2
     targetport2
`

[2021-11-29 09:24] riita10069 commented on #30156
/assign

[2021-11-29 09:24] riita10069 commented on #30160
/assign

[2021-11-29 09:24] riita10069 commented on #30508
/assign

[2021-11-29 09:25] Kartik494 commented on #29603
For loadBalancer IP here is a single IP is provided in ingress so accordingly here we use single indentation or double .

[2021-11-29 09:27] sftim commented on #30654
The text you've quoted is correct @jihoon-seo - there doesn't seem to be anything to fix.

[2021-11-29 09:40] Kartik494 commented on #29861
@dilyanpalauzov  i think in the issue description you provided the link to be corrected to original link.
I think you here mean to correct the link to [this](https://kubernetes.io/docs/concepts/cluster-administration/addons/).WDYT

[2021-11-29 09:50] Kartik494 commented on #29861
Although i think the links provided in the documentations are correct the link provided in [inroduction](https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/#introduction) is reference for addon manager and the reference for installing addon is documented in this [file](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/README.md)

[2021-11-29 10:14] jihoon-seo commented on #30660
https://kubernetes.io/docs/tutorials/configuration/configure-java-microservice/configure-java-microservice-interactive/

It seems that the auto-save feature is on, so it will be automatically saved every time you make a change.

[2021-11-29 11:05] Kartik494 commented on #29861
So as per documentation i think it seems to reference this [link](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/addon-manager/README.md) which is  manager add on but it refers to [legacy addon](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/README.md)

[2021-11-29 13:05] Kartik494 commented on #30314
@trevorboydsmith just for clarification i want to know where it is documented that the deployment from which pods  are running are root user?

[2021-11-29 13:07] Kartik494 commented on #30314
I think from  pods prospective we are looking for [nslookup](https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/#dns) command here or exec into the pod

[2021-11-29 14:09] Kartik494 commented on #30409
@sftim @amalic i have tested the command in my env and i got the expected output.

[2021-11-29 14:11] sftim commented on #30409
/triage needs-information
/language en

I don't (yet) see anything to fix.

[2021-11-29 14:56] anubha-v-ardhan commented on #30570
/close
fixed with #30607

[2021-11-29 14:56] #30570 closed

[2021-11-29 18:26] ramrodo commented on #30180
Hi @chetak123. Tomorrow is the deadline for Docs to be reviewed and ready to merge. Do you have the chance to update those pages?

[2021-11-29 19:00] celestehorgan commented on #30661
/kind bug
/help-wanted
/good-first-issue

[2021-11-29 20:31] ecmonsen opened #30675 "Avoid using the words "master" and "slave""
Please change the example code to avoid references to slavery. Example page containing such references: https://kubernetes.io/docs/tasks/configure-pod-container/translate-compose-kubernetes/

There are many news articles about this if you want to know more. Here is one.

https://www.forbes.com/sites/elanagross/2020/07/03/twitter-and-jpmorgan-chase-are-the-latest-companies-to-remove-terms-master-an

[2021-11-29 21:45] reylejano opened #30676 "/docs/reporting-security-issues/ and /security redirects to a [ko] page"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/reporting-security-issues
and
https://kubernetes.io/security

redirect to a Korean localization page

I think content was moved and _redirects wasn't been updated

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/reporting-security-issues
and
https://kubernetes.io/security

[2021-11-29 22:36] ClaudiaJKang opened #30678 "[ko] Fix wrong link in downward-api-volume-expose-pod-information.md"
**This is a Bug Report**

**Problem:** In [tasks/inject-data-application/downward-api-volume-expose-pod-information/ korean page](https://kubernetes.io/ko/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information/), there is worng link related 환경변수.

**Proposed Solution:**
Change link `[환경 변수](/docs/tasks/inject-data-application/environment-variable-expose-pod-information/#the-

[2021-11-29 22:36] ClaudiaJKang commented on #30678
/triage accepted

[2021-11-29 22:43] ClaudiaJKang opened #30679 "[ko] Fix wrong link in `force-delete-stateful-set-pod.md`"
**This is a Bug Report**

**Problem:** In [tasks/debug-application-cluster/debug-stateful-set/ korean page](https://kubernetes.io/ko/docs/tasks/debug-application-cluster/debug-stateful-set/), there is worng link related to 스테이트풀셋 디버깅하기.

**Proposed Solution:**
Change link `[스테이트풀셋 디버깅하기](/docs/tasks/debug-application-cluster/debug-stateful-set/)` to `[스테이트풀셋 디버깅하기](/ko/docs/tasks/debug-application

[2021-11-29 22:43] ClaudiaJKang commented on #30679
/triage accepted

[2021-11-29 23:55] sftim commented on #30675
@ecmonsen this is a duplicate of issue #21621. You're welcome to open pull requests to help with the cleanup.

/triage duplicate

[2021-11-29 23:58] sftim commented on #30646
/sig network

[2021-11-30 00:05] sftim commented on #30661
I'm not sure this is a good first issue @celestehorgan - that'd only be the case where someone was clearly stepping forward to guide a new contributor to pick this fix up, and where we were sure the fix was right.

/help
/sig api-machinery
/language en

[2021-11-30 00:06] sftim commented on #30661
@funkypenguin please feel very welcome to open that PR!

[2021-11-30 00:07] sftim commented on #30645
/sig service-catalog
/language en
/kind cleanup

[2021-11-30 00:07] sftim commented on #30645
The documentation to integrate / link to: https://svc-cat.io/docs/

[2021-11-30 00:08] sftim commented on #30645
The source: https://github.com/kubernetes-sigs/service-catalog/tree/master/docs

[2021-11-30 00:14] bang9211 opened #30680 "[ko] Translate reference/ports-and-protocols.md into Korean"
This is a Feature Request
Translate [/content/en/docs/reference/ports-and-protocols.md] in Korean

What would you like to be added
Translate [/content/ko/docs/reference/ports-and-protocols.md] in Korean

Why is this needed
This file is not translated yet.

Comments
Page to translate : https://kubernetes.io/docs/reference/ports-and-protocols/

/language ko
/assign

[2021-11-30 00:19] SergeyKanzhelev opened #30681 "Migrating off dockershim: document known issue with metrics"
**This is a Feature Request**

Port this: https://cloud.google.com/kubernetes-engine/docs/concepts/using-containerd to the migration guide documentation: https://kubernetes.io/docs/tasks/administer-cluster/migrating-from-dockershim/ as a known issue. Note, CRI-O behavior may be different.

[2021-11-30 00:19] SergeyKanzhelev commented on #30681
/sig node

[2021-11-30 00:38] #30429 closed

[2021-11-30 02:43] jihoon-seo commented on #30678
PR #30485 에 의해, `dev-1.22-ko.3` 에는 반영되었습니다.
`dev-1.22-ko.3` 이 `main` 에 merge 되면 해결될 예정입니다 😊
/assign

[2021-11-30 02:47] jihoon-seo commented on #30679
https://kubernetes.io/ko/docs/tasks/debug-application-cluster/debug-stateful-set/ 이 페이지에는
`[스테이트풀셋 디버깅하기](/docs/tasks/debug-application-cluster/debug-stateful-set/)` 링크가 없습니다.

`content/ko/docs/tasks/run-application/force-delete-stateful-set-pod.md` 파일에
`[스테이트풀셋 디버깅하기](/docs/tasks/debug-application-cluster/debug-stateful-set/)` 링크가 있는데,

PR #30485 에 의해, `dev-1.22-ko.3` 에는 반영되었습니다.
`dev-1.22-ko.3`