[2019-08-25 11:27] sftim opened #16066 "Broken link to latest Kubernetes documentation"
**This is a Bug Report**

**Problem:**
https://v1-15.docs.kubernetes.io/docs/ hyperlinks to the latest documentation, except that the link is actually to https://v1-14.docs.kubernetes.io/docs/ (because the `href` is null).

(oops!)
Here's the markup:
[code]

**Proposed Solution:**
Fix the link so that it takes readers to https://kubernetes.io/docs/

**Pages to Update:**
https://v1-15.docs.kubernet

[2019-08-25 11:32] sftim commented on #13667
/kind feature

[2019-08-25 11:40] sftim opened #16067 "Links within https://kubernetes.io/docs/tasks/ overview not very useful"
**This is a Bug Report**

**Problem:**
The overview for https://kubernetes.io/docs/tasks/ shows a list of sections:

<ul>
<li><a href="https://k8s.io/docs/tasks/#web-ui-dashboard">Web UI (Dashboard)</a></li>
<li><a href="https://k8s.io/docs/tasks/#using-the-kubectl-command-line">Using the kubectl Command-line</a></li>
<li><a href="https://k8s.io/docs/tasks/#configuring-pods-and-containers">Configu

[2019-08-25 11:40] sftim commented on #16067
/language en
/help

[2019-08-25 11:42] sftim commented on #14151
Done
/close

[2019-08-25 11:42] #14151 closed

[2019-08-25 11:59] ClaudiaJKang opened #16068 "Outdated files in the dev-1.15-ko.5 branch"
**This is a Bug Report**

**Problem:**
Outdated files in the dev-1.15-ko.5 branch.

### 15 files to be modified
- [x] content/en/docs/concepts/architecture/master-node-communication.md 1 file changed, 1 insertion(+), 1 deletion(-)
- [x] content/en/docs/concepts/architecture/nodes.md 1 file changed, 1 insertion(+), 1 deletion(-)
- [x] content/en/docs/concepts/workloads/pods/disruptions.md 1 file ch

[2019-08-25 12:00] sftim commented on #4493
If anyone's picking this up, consider adding generic glossary terms to explain vertical and horizontal scaling as concepts (separate from HorizontalPodAutoscaler & VerticalPodAutoscaler).

[2019-08-25 13:04] #9687 closed

[2019-08-25 13:04] #11993 closed

[2019-08-25 13:04] #13074 closed

[2019-08-25 13:04] #7879 closed

[2019-08-25 13:04] #11381 closed

[2019-08-25 13:04] #12554 closed

[2019-08-25 13:04] #13135 closed

[2019-08-25 14:00] digantajash commented on #15971
Is this issue closed?or i can work on it?
I am new in GitHub :)

[2019-08-25 15:10] gochist commented on #13576
/close

[2019-08-25 15:10] #13576 closed

[2019-08-25 15:12] gochist commented on #13974
refs  #16070

[2019-08-25 17:36] soheilade commented on #674
how to set KUBE_EDITOR="vim"?

[2019-08-25 19:10] #11954 closed

[2019-08-25 19:57] Bradamant3 commented on #16066
@sftim I can't reproduce -- Chrome on Mac Mojave. Markup on the site looks OK too (no null `href`):

[code]

[2019-08-26 00:56] Bradamant3 commented on #16066
Leaving my previous comment in place, but correcting it. Yup, reproduced. Given it's the latest version minus only one, seems a fairly high priority -- also bc seems likely that if we don't fix it'll repro for the next released version.

[2019-08-26 05:14] praveensastry commented on #15971
@digantajash I already opened a PR for the same.

[2019-08-26 07:00] #15971 closed

[2019-08-26 07:04] praveensastry commented on #16067
/assign

[2019-08-26 08:05] itobey commented on #14514
Sorry zhangqx2010, I didn't get any notification by Github that there's been a reply to my issue. I think this can be closed as a few months have passed and I am currently unable to check if it's still a persistent issue.

[2019-08-26 08:05] #14514 closed

[2019-08-26 09:05] BenHall commented on #15977
Thanks @sftim - This is now live - https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios/commit/1d062f89a3aebbc70bc7fc8562bd01a5004496d3

I believe we can now close the issue. Thanks for the feedback and suggestions.

[2019-08-26 09:28] jelovi opened #16077 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
**This is a Bug Report**

**Problem:**
Interactive Tutorial is not working for Module 2. It only shows "intro.md" string in the initial slide. Same problem happens for the rest of the slides of this Tutorial.

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-08-26 09:41] aykincakaloz commented on #16077
Page: https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/

[2019-08-26 10:10] anshulsao opened #16078 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
The .md files are not being rendered so no step information is coming
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-08-26 10:26] oke-py opened #16079 "Translate tasks/access-application-cluster/communicate-containers-same-pod-shared-volume/ in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/access-application-cluster/communicate-containers-same-pod-shared-volume/ in Japanese.

**Why is this needed**

This document is not translated in Japanese.

**Comments**

Original:
https://kubernetes.io/docs/tasks/access-application-cluster/communicate-containers-same-pod-shared-volume/

/language ja
/assign

[2019-08-26 10:43] CHarnel commented on #16077
All interactive tutorials are down.
#16078 is related.

[2019-08-26 12:27] #13502 closed

[2019-08-26 12:38] Payero opened #16081 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro/"
Both, module 2 and module 3, interactive tutorials do not work.  There is an error message "foregorund.sh" not found and none of the .md seems to exist.  Once you load the tutorials, it shows step1.md, step2.md but not actual instructions

[2019-08-26 13:08] raphatorres89 opened #16082 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
**This is a Bug Report**

**Problem:**
Interactive tutorial shows only `intro.md`.
**Proposed Solution:**
Maybe some components are not loaded.
**Page to Update:**
https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/

v1.15

[2019-08-26 13:31] charlottemach commented on #13993
I'd like to take this, can someone assign me?

[2019-08-26 13:33] bene2k1 commented on #13993
/assign @charlottemach

[2019-08-26 15:01] sftim commented on #15977
/close

[2019-08-26 15:06] danninov commented on #15341
I'm taking `Proxies` at `concepts/cluster-administration`

[2019-08-26 15:22] elelbe opened #16084 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
tutorial not working
$
$ foreground.sh
foreground.sh: command not found

[2019-08-26 15:31] sftim opened #16085 "Document ConfigMap concept"
**This is a Feature Request**

**What would you like to be added**
- write a new concept page:
https://kubernetes.io/docs/concepts/workloads/configmap/
(or possibly https://kubernetes.io/docs/concepts/configuration/configmap/)

If the [glossary definition for ConfigMap](https://kubernetes.io/docs/reference/glossary/?core-object=true#term-configmap) does not work as the page overview, consider twea

[2019-08-26 15:33] sftim commented on #16085
/language en
/sig apps

[2019-08-26 15:33] sftim commented on #16066
/priority important-longterm

[2019-08-26 15:33] danninov commented on #15341
I'm taking `Labels` at `content/id/docs/concepts/overview`

[2019-08-26 15:34] sftim commented on #16064
Hi @madankumar-t

Can you explain what isn't right about the page you mentioned?
/triage information-needed

[2019-08-26 15:36] sftim commented on #16077
/priority important-soon

[2019-08-26 15:36] sftim commented on #16077
Thanks for reporting this

[2019-08-26 15:47] BenHall commented on #16077
On it

[2019-08-26 15:52] BenHall commented on #16077
Very sorry about this. We added in some additional processing but it had a problem due to the content being an older API version.

It's fixed now and we've added in a fix so the API version is correct.

This can be closed.

[2019-08-26 15:52] BenHall commented on #16078
Very sorry about this. We added in some additional processing but it had a problem due to the content being an older API version.

It's fixed now and we've added in a fix so the API version is correct.

This can be closed.

[2019-08-26 15:52] BenHall commented on #16081
Very sorry about this. We added in some additional processing but it had a problem due to the content being an older API version.

It's fixed now and we've added in a fix so the API version is correct.

This can be closed.

[2019-08-26 15:52] BenHall commented on #16082
Very sorry about this. We added in some additional processing but it had a problem due to the content being an older API version.

It's fixed now and we've added in a fix so the API version is correct.

This can be closed.

[2019-08-26 15:53] BenHall commented on #16084
Very sorry about this. We added in some additional processing but it had a problem due to the content being an older API version.

It's fixed now and we've added in a fix so the API version is correct.

This can be closed.

[2019-08-26 15:53] sftim commented on #16077
https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/ is working again
/close

[2019-08-26 15:54] sftim commented on #16084
https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/ is working again
/close

[2019-08-26 15:54] #16084 closed, assigned to nobody

[2019-08-26 15:54] sftim commented on #16082
https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/ is working again
/close

[2019-08-26 15:54] sftim commented on #16078
https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/ is working again
/close

[2019-08-26 15:54] sftim commented on #16081
https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro/ is working again
/close

[2019-08-26 16:24] bells17 opened #16087 "Translate docs/tasks/administer-cluster/developing-cloud-controller-manager/ in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate docs/tasks/administer-cluster/developing-cloud-controller-manager/ in Japanese.

**Why is this needed**

This document is not translated in Japanese.

**Comments**

Original:
https://kubernetes.io/docs/tasks/administer-cluster/developing-cloud-controller-manager/

/language ja
/assign

[2019-08-26 21:25] aimeeu opened #16091 "Umbrella Issue: Remove Duplicate Content"
**This is a Feature Request**

The new [content guidelines](https://kubernetes.io/docs/contribute/style/content-guide/) address duplicate content.

The Kubernetes documentation contains duplicate content in several places. This is an umbrella issue to track removal of that content.

Duplicate content should be removed. Content should be added that points to instructions in external documentation (

[2019-08-27 01:36] wangyp0701 commented on #15612
I'm going to perform a timed task, 90 minutes at a time, and I don't know how to write an expression like this.

[2019-08-27 04:06] girikuncoro commented on #15341
@koneko096 @marchellametta @digembok @andriiginting @yohanesmario @wahyuoi folks, your names are listed in the pages that you wanted to translate, let me know the update if you are still working on it or couldn't find time to work on it

if I don't hear from you by this weekend (1 September), I will clear them up to let other folks claim the pages, thanks for your contribution so far! 🎉

[2019-08-27 04:27] sftim commented on #15957
I'd expect the definition to mention aggregation and maybe hyperlink to https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation/

[2019-08-27 04:28] hasebe opened #16092 "Translate concepts/architecture/cloud-controller/ into Japanese"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**
No `content/en/docs/concepts/architecture/cloud-controller.md` in Japanese.

**Proposed Solution:**
Copy a file from en contents to `content/en/docs/concepts/architecture/cloud-controller.md` and translate it into Japanese.

**Page to Update:**
https://kubernetes.io/ja/docs/concepts/architecture/cloud-controller/

[2019-08-27 04:28] hasebe commented on #16092
/language ja

[2019-08-27 04:29] sftim opened #16093 "Migrate https://kubernetes.io/docs/reference/using-api/api-concepts/ to Concepts section"
**This is a Feature Request**

**What would you like to be added**
Migrate https://kubernetes.io/docs/reference/using-api/api-concepts/ to Concepts section (possibly to more than one page)

**Why is this needed**
https://kubernetes.io/docs/reference/using-api/api-concepts/ is describing concepts; they're a little out of place in the reference documentation.

Replace https://kubernetes.io/docs/refe

[2019-08-27 04:39] #13892 closed

[2019-08-27 08:15] RA489 commented on #15969
I think as most of the doc has been to moved to minikube site we can remove the duplicate content.
@tstromberg wdyt?

[2019-08-27 08:16] oke-py commented on #16092
@hasebe [How To Contribute](https://kubernetes-docs-ja.kibe.la/shared/entries/c5878aa5-ad1f-4f29-a5bb-25853cbc14ec)の1.に修正が入っています。着手される場合は↓をお願いいたします。

[2019-08-27 08:27] hasebe commented on #16092
@oke-py ありがとうございます。修正が入っていることに気付いておりませんでした。
自分にアサイン致します。

[2019-08-27 08:28] hasebe commented on #16092
/assign @hasebe

[2019-08-27 08:47] charlottemach commented on #13993
Submitted a pull request for the community repo (https://github.com/kubernetes/community/pull/4028), is there an additional location in the website repo where this needs to go?

[2019-08-27 19:41] aimeeu opened #16100 "Update Contributing pages to mention newly added Content Guide"
**This is a Feature Request**

**What would you like to be added**
The new Content Guide PR #15892 has been merged, so the other contributing pages need to be updated to reference the new guide. I missed a few spots when I submitted the Content guide PR.

**Why is this needed**
Contributor clarity

**Comments**

[2019-08-27 21:17] aimeeu opened #16102 "Documentation Style Section: Replace HTML tables with Markdown tables"
**This is a Bug Report**

**Problem:**
The tables in the Style sections are coded in HTML instead of Markdown. Tables headers are missing or not rendered with the same style as tables rendered from Markdown. The rest of the documentation contains tables in Markdown.

**Proposed Solution:**
Update the following pages, replacing HTML tables with Markdown tables:
- [ ] docs/contribute/style/style-gui

[2019-08-27 21:27] bollerman opened #16103 "Issue with k8s.io/docs/concepts/overview/working-with-objects/annotations/"
**This is a Bug Report**

**Problem:**
Missing specification of the "value" part of an annotation

**Proposed Solution:**
Document the length and character set restrictions of annotation values.

**Page to Update:**
https://kubernetes.io/...

[2019-08-27 23:30] zacharysarah opened #16106 "SIG Docs co-chair update"
## SIG Docs co-chair transition

@jaredbhatti has announced that he is stepping down as SIG Docs co-chair, effective 15 September 2019, and will become a chair emeritus.

For role transitions, SIG Docs follows our [community charter](https://github.com/kubernetes/community/blob/master/sig-docs/charter.md):

From [sig-governance](https://github.com/kubernetes/community/blob/master/committee-steerin

[2019-08-28 02:09] lkaybob opened #16109 "Translate concepts/workloads/controllers/replicaset in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/workloads/controllers/replicaset.md in Korea

**Why is this needed**
No translation with concepts/workloads/controllers/replicaset.md in Korea

**Comments**

Page to update: https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/

[2019-08-28 02:09] lkaybob commented on #16109
/language ko
/assign

[2019-08-28 03:33] cstoku commented on #15976
/close

[2019-08-28 03:36] cstoku commented on #15222
/close

[2019-08-28 03:39] cstoku commented on #14848
@kakts こちら着手中でしょうか？

[2019-08-28 03:40] cstoku commented on #14545
@kakts こちら着手中でしょうか？

[2019-08-28 03:40] cstoku commented on #14917
@kakts こちら着手中でしょうか？

[2019-08-28 03:41] cstoku commented on #13646
着手中、PRをWIPつけて作成してもらう。

[2019-08-28 05:33] inductor commented on #15779
/close

[2019-08-28 05:34] ysyukr opened #16114 "Translate concepts/workloads/controllers/statefulset.md in Korean"
This is a Feature Request

What would you like to be added
Translate concepts/workloads/controllers/statefulset.md in Korean

Why is this needed
No traslation with concepts/workloads/controllers/statefulset.md in Korean

Comments

Page to update: https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/

/language ko

[2019-08-28 05:48] inductor commented on #16092
/close

[2019-08-28 06:02] nasa9084 commented on #13646
/retitle [WIP] Translate /docs/concepts/containers/images/ in Japanese

[2019-08-28 06:37] cstoku commented on #13646
こちら、一旦単にMilestoneから外すだけにします。
/milestone clear

[2019-08-28 06:38] hasebe opened #16116 "Translate concepts/overview/working-with-objects/object-management/ into Japanese"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**
No `concepts/overview/working-with-objects/object-management.md` in Japanese.

**Proposed Solution:**
Copy a file from en contents to `content/ja/docs/concepts/overview/working-with-objects/object-management.md` and translate it into Japanese.

**Page to Update:**
https://kubernetes.io/ja/docs/concepts/overview/working-with-obje

[2019-08-28 06:38] hasebe commented on #16116
/language ja

[2019-08-28 06:38] hasebe commented on #16116
/assign @hasebe

[2019-08-28 11:09] yuchengwu opened #16119 "no matches for kind "AdmissionConfiguration" in version "apiserver.k8s.io/v1alpha1""
**This is a Bug Report**

**Problem:**
Follow https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#authenticate-apiservers to create AdmissionConfiguration got `no matches for kind "AdmissionConfiguration" in version "apiserver.k8s.io/v1alpha1"`

[code]

**Proposed Solution:**
If this API(AdmissionConfiguration) has been deprecated, we should remove it from doc

[2019-08-28 11:20] yuchengwu commented on #16119
my fault, the API not creatable. It should be presented as a file and be fed by `--admission-control-config-file` flag. closing

[2019-08-28 11:20] #16119 closed

[2019-08-28 13:20] Tejeev opened #16120 "Collapsible table of contents on full size screen"
**This is a Feature Request**

**What would you like to be added**
It would be preferable to be able to collapse or resize the table of contents on the left side of the screen so they don't waste so much space when not needed.  With my current configuration it takes up more than a 3rd of the screen when I'm just trying to focus on reading the docs.
![image](https://user-images.githubusercontent.co

[2019-08-28 16:27] dsbos opened #16123 "Issue with k8s.io/docs/concepts/overview/what-is-kubernetes/"
Where the text says:

  Kubernetes is comprised of a set of ...

it should say:

  Kubernetes is composed of a set of ...

or

  Kubernetes comprises of a set of ...

(The whole comprises the parts, the whole is composed of the parts.)

[2019-08-28 17:03] rlenferink commented on #13993
Having a look at a related issue #13992 that is not needed. If you like to help out a bit more with our documentation in German, you can have a look at #14137.

In the meantime, many thanks for translating this @charlottemach 🎉

/close

[2019-08-28 18:21] abrennan89 opened #16124 "kubernetes.io broken links in generated docs (404 error)"
**This is a Bug Report**

**Problem:** Link to api-conventions.md from the generated docs at https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.15/#deployment-v1beta1-apps is not working.

**Proposed Solution:** Update the link to the actual docs, I think it's here:
https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md

**Page to U

[2019-08-28 22:51] zacharysarah commented on #16106
From @jaredbhatti to [`kubernetes-sig-docs@googlegroups.com`](https://groups.google.com/forum/#!topic/kubernetes-sig-docs/o73I4QJNdBE):
[code]

[2019-08-28 22:53] zacharysarah commented on #16106
That's unanimous assent to both motions, so it's official. So long, @jaredbhatti! Welcome, @jimangel!

[2019-08-29 00:20] dsbos opened #16128 "Issue with k8s.io/docs/tasks/access-application-cluster/web-ui-dashboard/"
"e.g. frontends" should be "e.g., front ends"

[2019-08-29 01:54] #15612 closed

[2019-08-29 02:08] jaypipes commented on #16123
/label language/en

[2019-08-29 02:32] jaypipes commented on #16128
I'm not sure this is something we should spend much time on, actually. There are 70 occurrences of the term "frontend" in the English-language documentation, versus 15 occurrences of either "front end" or "front-end":

[code]

While it might be correct English to use the term "front end" versus "frontend", I see both used interchangeably as accepted expressions referring to the website/design side

[2019-08-29 02:52] jaypipes commented on #16124
Yeah, this is actually a bug in kubernetes/kubernetes. The API documentation is generated from the `api/openapi-spec/swagger.json` file in that repository. kubernetes/kubernetes#81526 covers this issue and kubernetes/kubernetes#74245 is a PR that attempts to address the problem. Ashleigh, I think you can safely close this issue.

[2019-08-29 03:09] #16124 closed

[2019-08-29 03:32] inductor commented on #14888
/close

[2019-08-29 03:32] #14888 closed

[2019-08-29 05:55] oke-py opened #16133 "Update link hrefs in /ja/docs/ from English contents to Japanese contents"
**This is a Feature Request**

**What would you like to be added**

I'd like to update link hrefs in /ja/docs/ from English contents to Japanese contents.

**Why is this needed**

Many pages have been translated into Japanese, but some links in these pages still navigate to English content, even if the link target pages have also been translated into Japanese.

**Comments**

e.g.

- `コンテナライフサイクルフッ

[2019-08-29 05:57] oke-py commented on #16133
対象ページは他にもありそうなのでどこまでやるかも考える。というか、スクリプトでぱぱっとできるようにしたいが、できるかわからない。

[2019-08-29 05:59] marcushyungseoklee commented on #14652
/remove-lifecycle stale

[2019-08-29 06:16] sftim commented on #16120
/kind feature

[2019-08-29 06:17] sftim commented on #16106
Looks like this is OK to close?

[2019-08-29 07:59] zhxqgithub commented on #2979
Is there any default value in --runtime-config? for example,it is all work file when  I config '--runtime-config=authentication.k8s.io/v1beta1=true,authorization.k8s.io/v1beta1=true ' or '--runtime-config="" ' in kube-apiserver. so I was confused, how can I know which api support by default?

[2019-08-29 11:26] lucaspinto commented on #15671
@thecrudge I am sorry I haven't responded sooner. I'll try when time allows!

[2019-08-29 11:52] priyankur06 opened #16138 "Issue with k8s.io/docs/tutorials/kubernetes-basics/explore/explore-interactive/"
**This is a Bug Report**

**Problem:**
/usr/bin/launch.sh shows syntax error

**Proposed Solution:**
No error

**Page to Update:**
https://kubernetes.io/...

[2019-08-29 11:54] dsbrng25b opened #16139 "PR #16011 broke links"
**This is a Bug Report**
@sftim @makoscafee

**Problem:**
Pull request broke all links.

**Proposed Solution:**
Revert some changes of #16011

**Page to Update:**
https://kubernetes.io/docs/tasks/debug-application-cluster/audit

[2019-08-29 13:42] dsbos opened #16141 "Issue with k8s.io/docs/concepts/overview/working-with-objects/names/"
**Problem:**

The wording:

  All objects in the Kubernetes REST API are unambiguously identified by a Name and a UID.

is a bit unclear.

The wording isn't ambiguous between the meanings:
1) each object is unambiguously identified by a Name and is unambiguously identified by a UID,
2) each object is unambiguously identified by the combination of a Name and a UID.

Also, mixing plural "objects" wi

[2019-08-29 14:32] dsbos commented on #16128
"frontend",

I think you missed my point.

"Front end" is the noun form. "Front-end" and/or "frontend" is the
adjective form.

(It's somewhat like "back up" vs. "backup" (or maybe "back-up")--the verb
form vs. the noun-or-adjective form. You don't "backup" data; you back up
data; then then you have a backup or have a backup copy. If there's any
doubt, note that you have backed up data, and you hav

[2019-08-29 16:57] aimeeu opened #16143 "Content Guide: Revisit wording around adding content relating to CNCF, kubernetes, kubernetes-sigs projects with their own documentation"
**This is a Feature Request**
Questions have arisen over where to put content if the content is about a kubernetes, kubernetes-sigs, or CNCF project if that project **does** have its own docs repo BUT the desired content **does not exist** in the external project's documentation.

I noticed that _Split Falco audit into its own page_ (Issue #15963, PR #16011) was merged, and after chatting to @sfti

[2019-08-29 17:03] aimeeu commented on #16143
/sig docs
/cc @zacharysarah @sftim @jaypipes @kbhawkey

[2019-08-29 17:57] sftim commented on #16143
@aimeeu's work has already clarified things a lot. I like that.

For at least some cases, I would prefer to involve people from both projects in a discussion to find the option that best helps readers (and doesn't set any misleading precedent).

[2019-08-29 18:03] dsbos opened #16145 "Issue with k8s.io/docs/concepts/architecture/cloud-controller/"
**Problem:**
The diagram still uses the old term "minion."

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-08-29 18:40] aimeeu commented on #16143
@sftim  I do concur wholeheartedly on involving people from both projects, especially the smaller projects, to make sure we get content in the best place for readers and for project maintainers, and to make sure we move existing content, if that makes sense, instead of just deleting it.  BTW Falco does have a  _Kubernetes Audit Events_ page, so Falco may be a case of moving content to Falco's docs

[2019-08-29 19:57] Benjamintf1 opened #16147 "k8s.io/docs/concepts/configuration/taint-and-toleration/ needs better contextual examples"
**Problem:**
In the tolerations section it does not show the tolerations in context of where it fits into the podspec.
**Proposed Solution:**
show an entire podspec with the "tolerations" key at the same level of containers so users know where to place this data in their pod spec.
**Page to Update:**
https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/

[2019-08-30 02:38] jrmlhermitte opened #16149 "Issue with k8s.io/docs/concepts/workloads/controllers/cron-jobs/"
**This is a Documentation Request**
This is a documentation request.

It is not clear to me from that page what `concurrencyPolicy` means.
I have a feeling it's something like this:

concurrencyPolicy determines what to do in the event that when the next job is scheduled, the previous job is still running.
If `concurrencyPolicy` is set to `Replace`, the current running job will be deleted before t

[2019-08-30 02:52] #13563 closed

[2019-08-30 03:39] cody1996 opened #16150 "The repo of cri-o for CentOS is empty"
**This is a Bug Report**

**Problem:**
The repo of cri-o for CentOS in this page is empty.
I do not know which version of repo should I use.

**Proposed Solution:**
Can you tell me which repo is available? or fix this repo?

**Page to Update:**
https://kubernetes.io/docs/setup/production-environment/container-runtimes/#tab-cri-cri-o-installation-1

Kubernetes Version: v1.15

[2019-08-30 04:22] HYngHwang commented on #15770
★help wanted and good first issue to identify issues.

★The good first issue label is a subset of help wanted label.

★https://github.com/kubernetes/

[2019-08-30 07:53] diederichm commented on #13127
Hello Tim, I revisited this and it appears the images now have a manifest for the different architectures.
I was able to run the apply command, the containers started w/o exec format error.

[2019-08-30 07:53] #13127 closed

[2019-08-30 08:12] diederichm opened #16152 "metrics-scraper :Unable to initialize database tables"
**This is a Bug Report**

**Problem:**
container image for kubernetes-metrics-scraper will error :
{"level":"fatal","msg":"Unable to initialize database tables: Binary was compiled with 'CGO_ENABLED=0', go-sqlite3 requires cgo to work. This is a stub","time":"2019-08-30T07:55:11Z"}

**Proposed Solution:**
Build container image with CGO_ENABLED=1. Will require cross compile gcc

**Page to Update:**

[2019-08-30 09:17] yuya-kanai commented on #14197
I resolved this issue by updating the client with this method
https://stackoverflow.com/questions/53701151/how-to-upgrade-kubectl-client-version

[2019-08-30 09:44] sftim commented on #4322
/lifecycle frozen

This is an important topic to cover

[2019-08-30 10:17] nelvadas commented on #4322
/assign nelvadas

[2019-08-30 12:31] sftim commented on #16149
If you're willing to put this in as a pull request, @jrmlhermitte, please do.

I think the wording you've got looks fine. If / when you're not confident about the technical accuracy of changes, mention it in the PR description, and possibly ask for tech review.

[2019-08-30 12:55] jrmlhermitte commented on #16149
Actually, I found it [here](https://kubernetes.io/docs/tasks/job/automated-tasks-with-cron-jobs/#concurrency-policy):

Allow (default): The cron job allows concurrently running jobs
Forbid: The cron job does not allow concurrent runs; if it is time for a new job run and the previous job run hasn’t finished yet, the cron job skips the new job run
Replace: If it is time for a new job run and the pre

[2019-08-30 13:12] sftim commented on #16149
To submit a PR you would need to [sign the contributor license agreement](https://kubernetes.io/docs/contribute/start/#sign-the-cla).

Thanks for the pointers!

[2019-08-30 13:25] dsbos opened #16153 "Issue with k8s.io/docs/concepts/workloads/controllers/deployment/"
**Problem:**

Some percentages in the text seem incorrect:

"""... By default, it ensures that at least 25% of the desired number of Pods are up (25% max unavailable).

By default, it ensures that at most 25% of the desired number of Pods are up (25% max surge)."""

Shouldn't that first "25%" be "75%" (if <=25% are unavailable, then >=75% are available), and shouldn't that third "25%" be "125%" (1

[2019-08-30 13:45] BenHall commented on #16138
Hi @priyankur06

Sorry you had a problem. Do you know what the syntax error was?

Ben

[2019-08-30 16:05] #13573 closed

[2019-08-30 17:09] aimeeu commented on #16152
Hi @diederichm -
This issue sounds more like a request for support and less
like an issue specifically for docs. I encourage you to bring
your question to the `#kubernetes-users` channel in
[Kubernetes slack](http://slack.k8s.io/). You can also search
resources like
[Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes)
for answers to similar questions.

You can also open issues fo

[2019-08-30 17:09] #16152 closed

[2019-08-30 17:17] aimeeu commented on #16150
Hi @cody1996 -
This issue sounds more like a request for support and less
like an issue specifically for docs. I encourage you to bring
your question to the cri-o community:
IRC: FreeNode, #cri-o channel
Slack: [Kubernetes](http://slack.k8s.io/) #crio
https://cri-o.io/
https://github.com/cri-o/cri-o

Please note that in the near future, we will be removing container runtime installation instructio

[2019-08-30 17:17] #16150 closed

[2019-08-30 17:22] aimeeu commented on #16147
Hi @Benjamintf1 (love the pic of the PWC puppy!) -
Would you be willing to put the changes in as a pull request? If you're not 100% confident about the technical accuracy of changes, mention it in the PR description, and possibly ask for tech review.
Thanks for your feedback!

[2019-08-30 17:26] aimeeu commented on #16145
Hi @dsbos!
Would you please provide the page that needs to be updated?

Also, please consider submitting a Pull Request to fix this issue. Thanks!

/triage needs-information

[2019-08-30 17:33] aimeeu commented on #16145
Hi @dsbos - Thanks for your feedback!  Would you be willing to create a pull request with updated diagrams?

[2019-08-30 17:35] aimeeu commented on #16141
Thanks for your feedback, @dsbos. Would you be willing to put the desired changes in a pull request?

[2019-08-30 17:36] aimeeu commented on #16153
Thanks for your feedback! Would you be willing to put the changes in as a pull request? If you're not 100% confident about the technical accuracy of changes, mention it in the PR description, and possibly ask for tech review.

[2019-08-30 18:02] aimeeu commented on #16128
@dsbos While I appreciate your detailed response to Jay's comment, please remember that the Kubernetes documentation was not always written by native English speakers, much less native English speakers who also happen to be professional Technical Writers.

If you feel strongly about the misuse of _frontend_, please submit a pull request with corrections.

[Contribute to Kubernetes docs](https://ku

[2019-08-30 18:20] aimeeu commented on #16145
/remove-triage/needs-information

[2019-08-30 18:46] aimeeu commented on #15683
/unassign
Zach is looking for a contractor to do the template change.

[2019-08-30 18:47] aimeeu commented on #15683
Would be nice to have a collapsible left menu, as requested in issue #16120

[2019-08-30 18:53] aimeeu commented on #16103
Hi @bollerman - thanks for you feedback! Would you consider creating a pull request to fix this issue?

If you've never contributed to kubernetes/website, please take a look at the [Contribute to Kubernetes docs](https://kubernetes.io/docs/contribute/) section of the Kubernetes docs. Feel free to ping the [Kubernetes slack](http://slack.k8s.io/) #sig-docs channel if you have questions on creating

[2019-08-30 18:59] bollerman commented on #16103
I would, except that I do not have the information to be documented. That was why I was looking for it in the first place

[2019-08-30 20:03] Benjamintf1 commented on #16147
Should be fixed in https://github.com/kubernetes/website/pull/16157

[2019-08-30 20:50] aimeeu commented on #15748
/sig docs
/priority important-soon

[2019-08-30 21:26] #16139 closed

[2019-08-30 21:45] kbhawkey commented on #16091
TODO: Check Falco [Auditing task page](https://kubernetes.io/docs/tasks/debug-application-cluster/falco/). Is this content covered by the Falco docs? Would adding a link to the Falco docs in the [k8s auditing page](https://kubernetes.io/docs/tasks/debug-application-cluster/audit/) be sufficient? For background information, see issue #16140.

[2019-08-30 21:55] aimeeu commented on #16091
@kbhawkey - Yes! @sftim and I have been discussing this, and I opened  issue #16143 to get clarification on the Content Guide. Some bullet points are open to interpretation. I would like to get group consensus at the SIG Docs meeting on 3 Sept 2019 and then clarify the Content Guide accordingly.

[2019-08-30 21:57] lucasSzavara opened #16158 "Can't access my cluster"
**This is a Bug Report**

**Problem:**
I have a cluster running on gcp with a static address. I can see the cluster logs using `kubectl logs` and I when I run `kubectl get service` I get:
[code]
But when trying to make a request to 35.xxx.xxx.xxx I get: ERR_CONNECTION_REFUSED
My kubernetes.yaml is:
[code]

[2019-08-31 00:54] cstoku commented on #13377
/close

[2019-08-31 00:54] #13377 closed

[2019-08-31 10:23] #13589 closed

[2019-08-31 10:36] nickb937 opened #16161 "Issue with k8s.io/docs/tasks/administer-cluster/kubelet-config-file/"
**This is a Bug Report**

**Problem:**

Pointing people at types.go for a configuration reference is a fairly useless way to describe a configuration file since it requires people to be basically familiar with reading Go and understanding the structure.  It's unclear how to generate the correct structured YAML from that source file.

**Proposed Solution:**

Add an example config.yaml to the page t

[2019-08-31 10:56] gochist commented on #16068
/assign

[2019-08-31 15:08] sNathan13 commented on #16102
/assign

[2019-08-31 15:12] jrmlhermitte commented on #16149
I took a look and I think the page looks fine to me. There is a clear link to the detailed cronjob documentation on [this line](https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/):

So I'm going to close this without submitting a PR. Thanks for the feedback!

[2019-08-31 15:12] #16149 closed

[2019-08-31 23:14] af12066 opened #16172 "Translate docs/tasks/configure-pod-container/quality-service-pod/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/configure-pod-container/quality-service-pod/ into Japanese

**Why is this needed**

Copy from content/en/docs/tasks/configure-pod-container/quality-service-pod.md and update content/ja/docs/tasks/configure-pod-container/quality-service-pod.md

**Comments**

/language ja

[2019-08-31 23:15] af12066 commented on #16172
/assign

[2019-09-01 03:57] ashishbharthi commented on #16006
/assign

[2019-09-01 04:12] shizgchina opened #16175 "Issue with k8s.io/docs/tasks/configure-pod-container/static-pod/"
**This is a Bug Report**

**Problem:**
kubelet --pod-manifest-path=<the directory> to start the kubelet

this description is NOT correct when using k8s 1.15. It says:
Flag --pod-manifest-path has been deprecated, This parameter should be set via the config file specified by the Kubelet's --config flag. See https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config-file/ for more informatio

[2019-09-01 04:19] cody1996 commented on #16150
@aimeeu
First of all, thank you for your answer.
I understand that it may be removed soon so maintaining it is worthless.
And I am already looking for a solution from other sources.
Of course, there is no need to reopen this issue.
However, I just can't agree that it is "less like an issue specifically for docs" to have an unusable guide in the official documentation.

[2019-09-01 05:06] ashishbharthi commented on #15906
/assign

[2019-09-01 05:09] ashishbharthi commented on #13546
/assign

[2019-09-01 12:09] cstoku commented on #16049
/milestone 1.15-ja.1

[2019-09-01 12:09] cstoku commented on #16049
/close

[2019-09-01 12:09] #16049 closed

[2019-09-01 12:38] gochist commented on #16068
fixed by #16162
/close

[2019-09-01 12:38] #16068 closed

[2019-09-01 19:05] krichter722 commented on #13036
@sftim That'd be a good solution, thank you.

[2019-09-01 23:42] #15955 closed

[2019-09-02 08:23] kribor opened #16184 "Issue with k8s.io/docs/tasks/debug-application-cluster/events-stackdriver/"
Using the provided yaml results in (GKE v1.12.9-gke.7):

`E0902 08:12:44.409083       1 reflector.go:190] github.com/GoogleCloudPlatform/k8s-stackdriver/event-exporter/watchers/watcher.go:50: Failed to list *v1.Event: events is forbidden: User "system:serviceaccount:devops:event-exporter-sa" cannot list resource "events" in API group "" at the cluster scope`

After modifying the clusterrolebinding

[2019-09-02 08:28] sftim commented on #13028
/remove-lifecycle stale

[2019-09-02 08:40] kribor commented on #16184
Looking a bit deeper this whole guide is moot because the exporter is already installed in the kube-system namespace! Stackdriver instructions are out of date however and events appear in:
GKE Cluster Operations
NOT:
GKE Cluster

[2019-09-02 10:30] agemooij commented on #14615
/remove-lifecycle stale

[2019-09-02 15:15] #13585 closed

[2019-09-02 15:31] lucasSzavara commented on #16158
I just saw that my targetPort was wrong

[2019-09-02 15:31] #16158 closed

[2019-09-02 16:20] medmedchiheb commented on #16175
/language en

[2019-09-03 03:48] oke-py opened #16194 "Translate tasks/configure-pod-container/share-process-namespace/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/configure-pod-container/share-process-namespace/ into Japanese.

**Why is this needed**

This document is not translated into Japanese.

**Comments**

Original:
https://kubernetes.io/docs/tasks/configure-pod-container/share-process-namespace/

/language ja
/assign

[2019-09-03 04:44] cstoku commented on #16079
/milestone 1.15-ja.1

[2019-09-03 04:46] cstoku commented on #16079
/close

[2019-09-03 04:46] #16079 closed

[2019-09-03 06:18] smarkm opened #16196 "Issue with k8s.io/zh/docs/home/"
**This is a Bug Report**

**Problem:**
The link of button `设置 kubenets`  got 404 to https://kubernetes.io/zh/docs/setup

[2019-09-03 11:35] zimmnik opened #16199 "Issue with k8s.io/docs/reference/glossary/"
**This is a Bug Report**

**Problem:**
Glossary didn't have EndPoint entry.
**Proposed Solution:**
To add description of EndPoint
**Page to Update:**
https://kubernetes.io/docs/reference/glossary/?fundamental=true

[2019-09-03 12:14] Kanshiroron commented on #12657
/remove-lifecycle stale

[2019-09-03 13:11] sftim commented on #16199
/kind feature

[2019-09-03 14:16] kakts commented on #14917
こちら着手中で、今週末にはPR出せそうです

[2019-09-03 14:17] kakts commented on #14545
@cstoku すいません　こちら着手できていないです。
マイルストーンから除外していただいて構いません

[2019-09-03 14:17] kakts commented on #14848
@cstoku こちら着手中です　来週にはPR出せそうです

[2019-09-03 14:32] liggitt opened #16201 "Make milestones match the kubernetes repo"
**This is a Feature Request**

The milestones currently in use do not match the ones used in other kubernetes repos (they are missing a leading `v`). That means that org-wide github queries to find docs/issues/prs targeting a given release are not possible.

Making the docs milestones match the other repos would ease tracking of work in progress for a given release in github queries, dashboards, e

[2019-09-03 15:21] cstoku commented on #14545
外した上でCloseしてしまっても大丈夫でしょうか？
それとも翻訳予定がありますか？

[2019-09-03 16:51] sftim commented on #16201
Good idea!
/kind feature

[2019-09-03 16:52] sftim commented on #16196
/language zh
/kind bug

[2019-09-03 16:59] medmedchiheb commented on #15587
/close

[2019-09-03 16:59] #15587 closed

[2019-09-03 17:47] sftim commented on #15893
This also helps spot hyperlinking issues between localizations, that reviewers might other really struggle to spot.

[2019-09-03 17:54] BenTheElder commented on #12327
/remove-lifecycle stale

[2019-09-03 17:54] BenTheElder commented on #12328
/remove-lifecycle stale

[2019-09-03 17:57] sethmccombs commented on #15893
`muffet` was the one I was poking around with, along with `liche`, from the same dev.

[2019-09-03 18:03] sftim commented on #15893
/priority important-longterm
(I guess)

[2019-09-03 18:04] sftim commented on #15893
/kind feature

[2019-09-03 20:38] sftim opened #16208 "snapshot.storage.k8s.io incorrectly marked beta for v1.16"
**This is a Bug Report**

**Problem:**
I got #16207 merged too early. snapshot.storage.k8s.io is not going beta in v1.16 but I put a misguided /lgtm on PR #16207

**Proposed Solution:**
Revert; see PR #16207

**Page to Update:**
https://kubernetes.io/docs/concepts/storage/volume-snapshot-classes/

[2019-09-03 20:38] sftim commented on #16208
/sig storage

[2019-09-03 20:47] sftim opened #16209 "Migrate “Dynamic Admission Control” to concepts section"
**This is a Feature Request**

**What would you like to be changed**
- Review https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/
 -Decide what counts as reference documentation, and identify any sections that are better documented inside [Concepts](https://kubernetes.io/docs/concepts/) or [Tasks](https://kubernetes.io/docs/tasks/)
- Make appropriate changes *

[2019-09-03 21:02] sftim commented on #16208
Sorted via #16207
/close

[2019-09-03 21:02] #16208 closed

[2019-09-03 21:56] aimeeu commented on #16143
Outcome of 3 Sept SIG Docs meeting: Revisit 9/10: Take the week to review and comment on the issue
There is concern that we could end up with neither of 2 projects willing to document how they work together.
@kbhawkey, @jaypipes  thoughts?

[2019-09-03 23:56] savitharaghunathan opened #16211 "Add review comments from PR #15604"
Add the following support versions to content/en/docs/concepts/storage/storage-classes.md

here is support/version matrix of various volume types look like:

EBS (1.11)
Cinder (1.11)
Glusterfs (1.11)
GCE PD (1.11)
Portworx (1.11)
Azure File (1.11)
RBD (1.11)
Azure Disk(1.11)
Flex Volume (1.13)
CSI (1.14, 1.15 - Alpha, 1.16 beta)

It might be worth updating this document and explicitly specify whic

[2019-09-03 23:56] savitharaghunathan commented on #16211
/assign

[2019-09-03 23:59] zacharysarah commented on #16143
@aimeeu

This is 💯 my preferred approach. @jaypipes @sftim @kbhawkey Any thoughts?

[2019-09-04 00:21] zacharysarah commented on #16106
/close

[2019-09-04 00:21] #16106 closed

[2019-09-04 01:18] inductor opened #16212 "Translate concepts/configuration/taint-and-toleration into Japanese"
**This is a Feature Request**

**What would you like to be added**
Translate concepts/configuration/taint-and-toleration into Japanese

**Why is this needed**
This document is not translated for Japanese yet.

**Comments**
https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/

/language ja
/assign

[2019-09-04 01:35] kbhawkey commented on #16143
I have not given the new content guidelines extensive consideration, but here is one opinion:
I do agree that only Kubernetes* project documentation should be included in the k8s docs. Non-Kubernetes project documentation belongs with the non-Kubernetes project.
Though, there may be k8s content, especially content such as tasks and tutorials, that benefit by integrating snippets (not full page fea

[2019-09-04 09:00] sftim commented on #16143
If (say) Falco, as a project, adopts the mirror of the policy I think I'm seeing, then there is no home in either project for a page on “How to use Falco with Kubernetes”.
Is that the outcome we'd want?

[2019-09-04 12:39] jimangel commented on #15245
PR #15257 resolved
/close

[2019-09-04 12:39] #15245 closed

[2019-09-04 12:40] jimangel commented on #14307
/remove-lifecycle stale

[2019-09-04 16:20] abdul-jabbar01 opened #16218 "Issue with k8s.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/"
**This is a Bug Report**

**Problem:**

Wordpress pod is unable to connect to mysql database. Due to which I was not able to access the wordpress admin panel.

**Proposed Solution:**

I had to add the following annotation in the `mysql.yaml` deployment section, then it **worked**
[code]

**Page to Update:**
https://kubernetes.io/...

[2019-09-04 19:26] aimeeu commented on #15828
Some feedback for next year: it might be a good idea to add a question that's related to something like "how often do you use the docs (daily/weekly/monthly)" & "whens the last time you used the docs" in case there was a big doc push that more experienced people might not be aware of that could skew the answers

[2019-09-04 21:58] roycaihw commented on #14813
/assign

[2019-09-04 22:30] mvensky opened #16219 "Improvement for k8s.io/docs/concepts/"
Your documents are well written. Perhaps I am old school and just accustomed to textbooks, but I would like to see a more linear flow to the overall narrative with less distracting links.

Yes, the links are informative, but they are disruptive to the reading flow. I someone needs to define something they could either google it or perhaps you could offer footnotes. Either way it seems that a more

[2019-09-05 02:42] #14230 closed

[2019-09-05 02:42] #14652 closed

[2019-09-05 02:43] #15522 closed

[2019-09-05 02:48] seokho-son commented on #13974
@nowjean 혹시 작업 중에 계신지요?
#16070 에서 관련 번역 문서가 머지되었습니다. 혹시 작업 중이신 내용이 있으면 머지된 문서를 기반으로 업데이트 부탁드립니다. 해당 이슈는 우선 close 하도록 하겠습니다 ~~
/close

[2019-09-05 02:48] #13974 closed

[2019-09-05 02:49] seokho-son commented on #15799
/assign @lapee79

[2019-09-05 02:49] seokho-son commented on #16023
/assign @ysyukr

[2019-09-05 03:08] seokho-son commented on #16109
@lkaybob 안녕하세요. 이슈 제안 감사드립니다.
확인해보니 해당 이슈는 중복된 이슈인 것 같습니다.
(이슈를 올리시기 전에 중복된 Open/Closed 이슈 및 PR이 있는지 확인이 필요합니다. 예를 들면, 이슈 검색 필터에서 is:issue language/ko replicaset , PR 검색 필터에서 is:pr language/ko replicaset )

관련 해서는 이슈 #15955 가 먼저 올라와있었고,
PR #16070 를 통해 번역 문서가 dev-1.15-ko.5 에 머지가 완료되었습니다.

운영진에서도 컨트리뷰터 분들의 중복된 작업을 최소화하고자 이슈를 주기적으로 확인을 하는데,
이번에 확인이 늦었습니다. 양해 부탁드립니다.

혹시 작업 중이신 내용이 있다면,
dev-1.15-ko.5

[2019-09-05 03:08] #16109 closed

[2019-09-05 03:43] lkaybob commented on #16109
@seokho-son 님 확인 감사합니다. 보아하니 제가 이슈 등록하기 전에 기 등록되었던 이슈를 제대로 확인 못했던 것 같네요 😅 다행히(?) 이슈 등록 후 바빠져서 시작을 못하고 있어서 따로 작업한 것은 없어서 해당 문서에 대한 추가 반영은 없을 것 같습니다. 참고 부탁드립니다 :)

[2019-09-05 05:14] #13669 closed

[2019-09-05 07:37] RA489 commented on #15950
@cvgaviao could you please provide the page link where you got this?

[2019-09-05 07:44] RA489 commented on #15950
@cvgaviao correct link is https://github.com/kubernetes/minikube/releases/tag/v1.3.1

[2019-09-05 08:14] irvifa commented on #14201
/remove-lifecycle rotten

[2019-09-05 08:56] prankul88 commented on #14197
@yuya-kanai Ya I got to know that it was a version issue. Thanks for the info.

[2019-09-05 13:13] #15529 closed

[2019-09-05 16:23] aimeeu commented on #16184
@kribor Thank you for reporting this issue! We are in the process of removing third-party content, which includes this Stackdriver page. See PRs #15748 and  #16203.  So I'm closing this Issue. Thanks.
/close

[2019-09-05 16:23] #16184 closed

[2019-09-05 16:25] aimeeu commented on #16219
priority/backlog
kind/feature

[2019-09-05 16:27] aimeeu commented on #16209
/kind feature

[2019-09-05 16:53] aimeeu commented on #16161
page https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config-file/

/kind feature

[2019-09-05 16:54] aimeeu commented on #16153
/priority backlog

[2019-09-05 17:07] wahyuoi commented on #15341
Hi, I'm taking `Pod` in `content/id/docs/concepts/workloads`

[2019-09-05 20:09] morganrconnolly opened #16233 "Issue with k8s.io/docs/setup/production-environment/turnkey/aws/"
**This is a Bug Report**

**Problem:**
conjure-up link links to k8s documentation
**Proposed Solution:**
update link to appropriate conjure-up documentation
**Page to Update:**
https://kubernetes.io/docs/setup/production-environment/turnkey/aws/

[2019-09-05 20:09] aimeeu commented on #16143
Note to self: address @kbhawkey's comments on PR #16101 when updating the content guide. Also, find a better way to lay out content. The nested bullet list is fine for reading but horrible for using as reference when reviewing PRs.

[2019-09-05 20:43] aimeeu commented on #16233
@morganrconnolly - thank you for bringing this to our attention! The Docs team is in the process of removing vendor-specific content, as well as links to vendor-specific content, from the Kubernetes documentation (see Issue #15748  and the [Content Guide](https://kubernetes.io/docs/contribute/style/content-guide/)). I've added the Turnkey section to #15748, so I'm going to close this issue.

/clos

[2019-09-05 20:43] #16233 closed

[2019-09-05 22:26] oke-py opened #16236 "Translate tasks/access-application-cluster/connecting-frontend-backend/ into Japanese"
**This is a Feature Request**

**What would you like to be added**
Translate tasks/access-application-cluster/connecting-frontend-backend/ into Japanese.

**Why is this needed**
This document is not translated into Japanese.

**Comments**

Original:
https://kubernetes.io/docs/tasks/access-application-cluster/connecting-frontend-backend/

/language ja
/assign

[2019-09-05 23:25] #16023 closed

[2019-09-06 01:22] kakts commented on #14545
こちら着手未定なので、Closeして問題ありませんm(_ _)m

[2019-09-06 02:10] mcurtiscmu commented on #15741
I would like to work on this issue.

[2019-09-06 04:19] gochist opened #16242 "Outdated files in the dev-1.15-ko.6 branch"
# This is a Bug Report
## Problem
Outdated files in the dev-1.15-ko.6 branch.

### 7 files to be modified
1. [x] content/en/docs/concepts/architecture/cloud-controller.md 1 file changed, 5 insertions(+), 4 deletions(-)
1. [x] content/en/docs/concepts/overview/what-is-kubernetes.md 1 file changed, 1 insertion(+), 1 deletion(-)
1. [x] content/en/docs/reference/glossary/applications.md 1 file changed

[2019-09-06 07:10] hzrunit opened #16243 "Issue with k8s.io/zh/docs/tutorials/kubernetes-basics/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-09-06 07:11] #16243 closed

[2019-09-06 07:40] #13683 closed

[2019-09-06 15:06] cvgaviao commented on #15950
@RA489 , this is a message printed in the console after I enter: "minikube start"

[2019-09-06 15:08] cvgaviao commented on #15950
Ok, but my point is: If I already a instance of minikube installed, how to upgrade? I need to remove everything and then install the new version?

[2019-09-06 15:24] hkhatri241 commented on #15306
Fixed by https://github.com/kubernetes/website/pull/15290
/close

[2019-09-06 15:48] #13664 closed

[2019-09-06 16:49] #13727 closed

[2019-09-06 19:52] morganrconnolly commented on #16233
@aimeeu sweet. I had also opened a PR https://github.com/kubernetes/website/pull/16234#issuecomment-528565050 for this issue, which I closed. I referenced #15748 in a comment. Let me know if your organizational system prefers I did not. c:

[2019-09-07 00:13] sftim opened #16245 "Dated “Planned Improvements” section in Managing Compute Resources for Containers"
**This is a Feature Request**

https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#planned-improvements describes planned improvements.

**What would you like to be added**
Remove the section about planned improvements. If any of those improvements are now implemented and not documented elsewhere, consider logging issues to track adding that information.

**Why is

[2019-09-07 02:03] vikas027 commented on #14095
@lucperkins @DanyC97

[2019-09-07 07:34] boopathykpm opened #16249 "Improvement for k8s.io/docs/tasks/federation/administer-federation/configmap/"
For the federated administration, lacks in the documentation, there is no detail explanation on the concepts, as this is in Alpha still which is acceptable, but having a detailed explanation on the concepts which are available on the Alpha, it would be helpful to everyone who tries FederatedCluster at first.

Consider the case of FederatedDeployment, the document page just shows creating the deplo

[2019-09-07 10:17] Asmatmaker opened #16250 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-09-07 14:48] Umairaziz1122 opened #16251 "Issue with k8s.io/docs/setup/production-environment/container-runtimes/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-09-07 16:08] ereslibre opened #16252 "Versioned subdomain for the latest release"
**This is a Feature Request**

**What would you like to be added**

When cutting  a new release, create a subdomain for the latest released version.

**Why is this needed**

Currently, we have 5 subdomains for the latest versions of Kubernetes, at the moment of writing:

* 1.15: https://kubernetes.io/
* 1.14: https://v1-14.docs.kubernetes.io/
* 1.13: https://v1-13.docs.kubernetes.io/
* 1.12: https

[2019-09-07 16:47] sftim commented on #16252
Optional extra: make the latest release build have a `<link rel="canonical" href="https://kubernetes.io/..."/>` on each docs page; omit that `<link/>` for older releases.

[2019-09-07 16:47] sftim commented on #16252
/kind feature

[2019-09-07 17:16] raelga commented on #16252
+1

[2019-09-08 08:25] MRDO5 opened #16259 "Issue with k8s.io/docs/tasks/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

Where is information or tasks ?

[2019-09-08 14:47] kakts commented on #14917
1-2日以内にPRだします

[2019-09-08 19:38] #13787 closed

[2019-09-08 21:32] #15833 closed

[2019-09-09 09:07] yeouchien opened #16262 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/"
**This is a Bug Report**

**Problem:**
[code]
The `Pod` here is incorrect. I have the following `livenessProbe`
[code]
It failed to probe 1 time and restart the `Container` and not `Pod`

**Proposed Solution:**
[code]

**Page to Update:**
https://kubernetes.io/...

[2019-09-09 11:08] BenHall commented on #16138
Hi @priyankur06

While we couldn't reproduce the issue, we've made some improvements to the script in case of any timing issues in future.

Thanks for your feedback.

[2019-09-09 13:52] sftim commented on #16259
This sounds like a duplicate of issue #16067

@MRDO5 was that what you wanted to see fixed?
/triage needs-information

[2019-09-09 13:53] sftim commented on #16262
/language en
/triage bug

[2019-09-09 13:59] sftim commented on #16262
/kind bug

[2019-09-09 14:01] sftim commented on #16251
Hi @Umairaziz1122

Can you explain what's not right with that documentation page?
/triage needs-information

[2019-09-09 23:42] roycaihw commented on #14813
added in https://github.com/kubernetes/website/pull/15876

/close

[2019-09-09 23:42] #14813 closed

[2019-09-10 06:54] ULTRAKID opened #16279 "Issue with k8s.io/zh/docs/tutorials/stateful-application/basic-stateful-set/"
where can i find the usage details of volumeClaimTemplates ?

[2019-09-10 08:09] RobertKielty opened #16281 "Add sortable, filterable tables"
**This is a Feature Request**

**What would you like to be added**

- Site-wide, add the capability to have tables that can be sorted by column
- Site-wide, add the capability to filter the rows that are presented in a table via a keyword search

**Why is this needed**
When a table contains a large number of rows, the information presented becomes unwieldy

A specific example can be found here :
h

[2019-09-10 08:13] sftim commented on #16281
/kind feature
/priority backlog
(but feel free to tweak that priority)

[2019-09-10 09:17] sftim commented on #14833
I like this one.
/remove-lifecycle stale

[2019-09-10 10:56] bells17 opened #16283 "Translate docs/tasks/administer-cluster/running-cloud-controller/ in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate docs/tasks/administer-cluster/running-cloud-controller/ in Japanese

**Why is this needed**

This document is not translated in Japanese.

**Comments**

Original:
https://kubernetes.io/docs/tasks/administer-cluster/running-cloud-controller/

/language ja
/assign

[2019-09-10 12:27] TiagoDapper opened #16287 "Issue with k8s.io/docs/concepts/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-09-10 13:14] darkfoxprime commented on #14834
Has there been, or will there be, any movement on this issue?
/remove-lifecycle stale

[2019-09-10 13:16] sftim commented on #16287
Hi @TiagoDapper

Can you explain what isn't right with https://kubernetes.io/docs/concepts/?

/triage needs-information

[2019-09-10 13:42] UlrichEckhardt opened #16288 "Clarify what a preStop-Hook may and may not do"
**This is a Feature Request**

**What would you like to be added**

I'd like clearer wording on these two pages describing shutdown hooks:
https://kubernetes.io/docs/concepts/workloads/pods/pod/#termination-of-pods
https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/

One example for the use of these hooks given is to store state prior to terminating the container. Another use

[2019-09-10 15:56] sftim commented on #14770
/remove-lifecycle stale

[2019-09-10 15:56] sftim commented on #14409
Done in #14458
/close

[2019-09-10 15:56] #14409 closed

[2019-09-10 15:57] sftim commented on #14180
Feels useful but not vital
/remove-lifecycle rotten

[2019-09-10 15:58] sftim commented on #14352
@rajeshdeshpande02 did you get time to work on this?

[2019-09-10 16:01] sftim commented on #16288
@UlrichEckhardt you'd like a sentence or two that explains that the preStop hook should ready the container for shutdown but leave at least its PID 1 process running.
Have I got that right?

[2019-09-10 16:02] #16251 closed

[2019-09-10 16:03] sftim commented on #14376
I'd leave at least a few sentences about API Groups in this page. A lot of the more detailed stuff could move into the reference section.

[2019-09-10 16:11] tstromberg commented on #15969
@RA489 - thanks for working on this. Anything I can help out with?

[2019-09-10 16:26] sftim commented on #13534
https://kubernetes.io/docs/contribute/style/content-guide/ has arrived since this issue was logged.

I wonder if the AWS-specific documentation belongs elsewhere?

[2019-09-10 18:07] sftim commented on #4410
/priority important-longterm

[2019-09-10 18:08] sftim commented on #16085
/priority important-longterm

[2019-09-10 18:08] sftim commented on #4493
/priority important-longterm

[2019-09-10 18:08] sftim commented on #4499
/priority important-longterm

[2019-09-10 18:09] sftim commented on #4135
/priority important-longterm

[2019-09-10 18:09] sftim commented on #4503
/priority important-longterm

[2019-09-10 18:09] sftim commented on #4491
/priority important-longterm

[2019-09-10 18:22] sftim commented on #4502
/priority backlog
Is that OK?

[2019-09-10 18:23] sftim commented on #4495
/priority backlog
Is that OK?

[2019-09-10 18:23] sftim commented on #4492
/priority important-longterm
Is that OK?

[2019-09-10 18:23] sftim commented on #4479
/priority backlog
Is that OK?

[2019-09-10 19:30] sftim commented on #12233
/priority backlog
Is that OK?

[2019-09-10 19:31] sftim commented on #12082
/priority important-longterm

[2019-09-10 19:31] sftim commented on #11987
/priority backlog
Is that OK?

[2019-09-10 19:31] sftim commented on #11742
/priority backlog
Is that OK?

[2019-09-10 19:31] sftim commented on #11522
/priority backlog
Is that OK?

[2019-09-10 19:33] sftim commented on #11367
/priority backlog
Is that OK?

[2019-09-10 19:33] sftim commented on #10226
/priority backlog
Is that OK?

[2019-09-10 19:33] sftim commented on #9523
/priority backlog
Is that OK?

[2019-09-10 19:34] sftim commented on #8843
/priority backlog
Is that OK?

[2019-09-10 19:34] sftim commented on #7386
/priority backlog
Is that OK?

[2019-09-10 19:34] sftim commented on #7092
/priority important-longterm
Is that OK?

[2019-09-10 19:35] sftim commented on #7030
/priority backlog
Is that OK?

[2019-09-10 19:35] sftim commented on #6271
/priority backlog
Is that OK?

[2019-09-10 19:45] tstromberg commented on #9523
It needs to be tested, but I think the issue may be solvable by removing this line from the YAML:

`storageClassName: manual`

[2019-09-10 20:09] sftim commented on #9281
/priority important-longterm

[2019-09-10 20:10] aimeeu opened #16290 "Dummy issue - close this"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-09-10 20:10] aimeeu commented on #16290
/triage needs-information

[2019-09-10 20:10] aimeeu commented on #16290
/remove-triage needs-information

[2019-09-10 20:11] aimeeu commented on #16290
/language no

[2019-09-10 20:11] aimeeu commented on #16290
/remove-language no

[2019-09-10 20:11] aimeeu commented on #16290
/priority backlog

[2019-09-10 20:11] aimeeu commented on #16290
/remove-priority backlog

[2019-09-10 20:12] aimeeu commented on #16290
/help

[2019-09-10 20:12] aimeeu commented on #16290
/remove help

[2019-09-10 20:12] aimeeu commented on #16290
/remove-help

[2019-09-10 20:12] aimeeu commented on #16290
/good-first-issue

[2019-09-10 20:13] aimeeu commented on #16290
/remove good-first-issue

[2019-09-10 20:13] aimeeu commented on #16290
/remove-good-first-issue

[2019-09-10 20:20] wenjiaswe commented on #12233
@sftim sure.

[2019-09-10 20:32] sftim commented on #5993
Is it OK to skip terms for:
- Federation _(deprecated)_
- `supervisord` (not relevant to v1.15 cluster operators)

?

[2019-09-10 20:34] sftim commented on #5993
If the above 3 PRs get merged, I think it'd be OK to close this issue as implemented.

[2019-09-10 20:35] sftim commented on #16290
If you want to close this @aimeeu (or anyone), /close will do that!

[2019-09-10 20:37] sftim commented on #16279
If you're looking for English-language documentation, is https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#components what you wanted?

/triage support

[2019-09-10 20:37] sftim commented on #16250
Hi @blackheart78

What isn't right about https://k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro ?

/triage needs-information

[2019-09-10 20:38] sftim commented on #16252
It's a good idea but (I think) not a high priority
/priority backlog

[2019-09-10 20:50] aimeeu commented on #16290
@sftim lol.

[2019-09-10 20:50] aimeeu commented on #16290
/close

[2019-09-10 20:50] #16290 closed

[2019-09-10 21:08] sftim commented on #4517
/priority backlog

[2019-09-10 21:08] sftim commented on #4512
/priority backlog

[2019-09-10 21:09] sftim commented on #4506
/priority backlog

[2019-09-10 21:09] sftim commented on #4510
/priority backlog

[2019-09-10 21:10] sftim commented on #4511
/priority backlog

[2019-09-10 21:10] sftim commented on #4507
/priority backlog

[2019-09-10 21:10] sftim commented on #4513
/priority backlog

[2019-09-10 21:12] sftim commented on #12609
The report was that there was no documentation for kube-scheduler. #14637 added some, so this is now Done.
/close

[2019-09-10 21:12] #12609 closed

[2019-09-10 21:12] sftim commented on #12765
/priority backlog

[2019-09-10 21:13] sftim commented on #13319
Backups matter
/priority important-longterm

[2019-09-10 21:13] sftim commented on #9829
/priority backlog

[2019-09-10 21:14] sftim commented on #13325
/triage needs-information
/close

[2019-09-10 21:14] #13325 closed

[2019-09-10 21:15] sftim commented on #1461
/priority backlog
#16085 should have an nice high priority though

[2019-09-10 21:15] sftim commented on #1407
/priority backlog
#16085 should have an nice high priority though

[2019-09-10 21:15] sftim commented on #1040
/priority backlog
#16085 should have an nice high priority though

[2019-09-10 21:15] sftim commented on #1817
/priority backlog
#16085 should have an nice high priority though

[2019-09-10 21:16] sftim commented on #1911
/priority important-soon

[2019-09-10 21:16] sftim commented on #16085
/priority important-soon

[2019-09-10 21:18] sftim commented on #4514
/priority backlog

[2019-09-10 21:18] sftim commented on #4504
/priority backlog

[2019-09-10 21:19] sftim commented on #4504
We mainly want to remove them; see the (recently added) [content guide](https://kubernetes.io/docs/contribute/style/content-guide/)

[2019-09-10 21:20] sftim commented on #5993
/priority backlog
because most of the work is done

[2019-09-10 21:21] sftim commented on #12323
/priority backlog
Is that OK?

[2019-09-10 21:21] sftim commented on #12322
/priority backlog
Is that OK?

[2019-09-10 21:21] sftim commented on #12303
/priority backlog
Is that OK?

[2019-09-10 21:23] sftim commented on #13362
/kind bug
/priority backlog

[2019-09-10 21:23] sftim commented on #12657
/priority backlog

[2019-09-10 21:24] sftim commented on #16161
/priority backlog

[2019-09-10 21:24] sftim commented on #13305
/priority backlog

[2019-09-10 21:25] sftim commented on #13305
/kind bug

[2019-09-10 21:25] sftim commented on #13175
/kind feature
/priority backlog

[2019-09-10 21:26] sftim commented on #13260
/kind feature
/priority backlog

[2019-09-10 21:26] sftim commented on #13244
/triage needs-information
/close

[2019-09-10 21:26] #13244 closed

[2019-09-10 21:26] sftim commented on #16212
/priority backlog
/kind feature

[2019-09-10 21:27] sftim commented on #16194
/priority backlog
/kind feature

[2019-09-10 21:27] sftim commented on #16172
/priority backlog
/kind feature

[2019-09-10 21:28] sftim commented on #13646
/priority backlog
/kind feature

NB the issue isn't WIP; the pull request might be.

[2019-09-10 21:29] sftim commented on #13788
@Tonterias was there anything that needs changing in https://k8s.io/docs/tasks/run-application/run-single-instance-stateful-application/?
/triage needs-information

[2019-09-10 21:29] sftim commented on #13673
/priority backlog

[2019-09-10 21:30] sftim commented on #13582
/priority backlog
/language en

[2019-09-10 21:31] sftim commented on #13957
/kind feature
/priority backlog
/lifecycle frozen

[2019-09-10 21:31] sftim commented on #13926
/priority backlog
/kind feature

[2019-09-10 21:31] sftim commented on #13947
/kind feature
/priority backlog

[2019-09-10 21:32] sftim commented on #13943
/kind feature
/priority backlog

[2019-09-10 21:32] sftim commented on #13939
/lifecycle frozen
/priority backlog
/kind feature

[2019-09-10 21:33] sftim commented on #13928
/priority backlog

[2019-09-10 21:36] sftim commented on #2792
As per the [content guide](https://kubernetes.io/docs/contribute/style/content-guide/), some of this proposed documentation might belong in the kops project.

/priority important-longterm

[2019-09-10 21:36] sftim commented on #2792
/kind feature

[2019-09-10 21:37] sftim commented on #2463
As per the [content guide](https://kubernetes.io/docs/contribute/style/content-guide/), some of this proposed documentation might belong in the kops project.

It's still important to have links there, and help readers understand what kops is.

/priority backlog

[2019-09-10 21:38] sftim commented on #16114
/kind feature
/priority backlog

[2019-09-10 21:38] sftim commented on #16116
/kind feature
/priority backlog

[2019-09-10 21:38] sftim commented on #16133
/kind feature
/priority backlog

Is this done @oke-py?

[2019-09-10 21:38] sftim commented on #13884
/priority backlog

[2019-09-10 21:38] sftim commented on #13913
/kind feature
/priority backlog

[2019-09-10 21:39] sftim commented on #13911
/kind feature
/priority backlog

[2019-09-10 21:39] sftim commented on #13772
/close

[2019-09-10 21:39] #13772 closed

[2019-09-10 21:39] sftim commented on #13860
/kind feature
/priority backlog

[2019-09-10 21:40] sftim commented on #2979
/kind feature
/priority backlog

[2019-09-10 21:40] sftim commented on #4322
/kind feature
/priority important-longterm

[2019-09-10 21:41] sftim commented on #12328
/kind feature
/priority backlog

[2019-09-10 21:41] sftim commented on #12329
/kind feature
/priority important-longterm
/lifecycle frozen

[2019-09-10 21:41] sftim commented on #12327
/kind feature
/priority backlog

[2019-09-10 21:42] sftim commented on #12852
Dealt with

[2019-09-10 21:42] #12852 closed

[2019-09-10 21:42] sftim commented on #12472
/kind feature
/priority backlog

[2019-09-10 21:42] sftim commented on #4497
/kind feature
/priority backlog

[2019-09-10 21:42] sftim commented on #12324
/kind feature
/priority backlog

[2019-09-10 21:42] sftim commented on #12325
/kind feature
/priority backlog

[2019-09-10 21:43] sftim commented on #12326
/kind feature
/priority backlog

[2019-09-10 21:44] sftim commented on #12968
/close
based on https://github.com/kubernetes/website/issues/12968#issuecomment-520759769

[2019-09-10 21:44] #12968 closed

[2019-09-10 21:45] sftim commented on #12975
/priority backlog
/kind feature
/language en

[2019-09-10 21:45] sftim commented on #13028
/kind feature
/priority backlog

[2019-09-10 21:46] bowei commented on #12326
cc: @freehan

[2019-09-10 21:46] sftim commented on #13332
/priority important-longterm
/kind feature

[2019-09-10 21:46] sftim commented on #13036
/kind feature
/priority backlog

[2019-09-10 21:47] sftim commented on #13329
/kind feature
/priority backlog

[2019-09-10 21:48] sftim commented on #13394
I think this is OK to
/close

[2019-09-10 21:48] #13394 closed

[2019-09-10 21:48] sftim commented on #13342
/priority backlog
/kind feature

[2019-09-10 21:49] sftim commented on #13333
This wouldn't fit with the [content guidelines](https://kubernetes.io/docs/contribute/style/content-guide/) that arrived recently.

With that in mind:
/close

[2019-09-10 21:49] #13333 closed

[2019-09-10 21:49] sftim commented on #13369
/triage needs-information

[2019-09-10 21:50] sftim commented on #13546
/triage important-longterm
/kind feature

[2019-09-10 21:50] sftim commented on #13546
/priority important-longterm

[2019-09-10 22:02] sftim commented on #13611
That's about right. There's maybe a place to explain how, for humans, there are labels that let people group resources together, ie signposting the reader to https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/#labels
/priority backlog

[2019-09-10 22:02] sftim commented on #13650
/priority backlog

[2019-09-10 22:02] sftim commented on #13667
/priority backlog
/kind feature

[2019-09-10 22:03] sftim commented on #13674
/priority backlog
/kind feature

[2019-09-10 22:03] sftim commented on #13401
/priority backlog
/kind feature

[2019-09-10 22:03] sftim commented on #16245
/priority backlog
/kind feature

[2019-09-10 22:04] sftim commented on #16249
/priority backlog
/kind feature
/language en

[2019-09-10 22:05] sftim commented on #13792
/priority backlog
/kind feature

[2019-09-10 22:05] sftim commented on #13914
/priority backlog
/kind feature

[2019-09-10 22:05] sftim commented on #13919
/priority backlog
/kind feature

[2019-09-10 22:06] sftim commented on #13922
/priority backlog
/kind feature

[2019-09-10 22:06] sftim commented on #13922
(I recommend closing the issue)

[2019-09-10 22:07] sftim commented on #13948
/priority backlog
/kind feature
/lifecycle frozen

[2019-09-10 22:07] sftim commented on #13956
/priority backlog
/kind bug

[2019-09-10 22:07] sftim commented on #13960
/priority backlog
/kind feature

[2019-09-10 22:07] sftim commented on #13980
/priority backlog
/kind feature

[2019-09-10 22:08] sftim commented on #13994
/priority backlog
/kind feature

[2019-09-10 22:08] sftim commented on #13998
/priority backlog
/kind feature

[2019-09-10 22:08] sftim commented on #14001
/priority backlog
/kind feature

[2019-09-10 22:08] sftim commented on #14003
/triage needs-information

[2019-09-10 22:09] sftim commented on #13816
/priority backlog
/kind bug

[2019-09-10 22:10] sftim commented on #13746
/priority backlog
/kind feature

[2019-09-10 22:10] sftim commented on #14057
/priority backlog
/kind feature

[2019-09-10 22:12] sftim commented on #14056
It sounds like the next step would be to verify this report and then either close it (if there's no fault) or add an label via: /kind bug

/priority backlog

[2019-09-10 22:12] sftim commented on #14043
/triage support
/close

[2019-09-10 22:12] #14043 closed

[2019-09-10 22:13] oke-py commented on #16133
@sftim This is done for /ja/docs/tasks/ directory.
I'll close this issue and open another issue when I start to update other directories.

[2019-09-10 22:13] #16133 closed

[2019-09-10 22:13] sftim commented on #14043
For help, you can ask on [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes)

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

[2019-09-10 22:20] sftim commented on #14017
I believe the code for the backend is https://github.com/GoogleCloudPlatform/kubernetes-engine-samples/tree/master/hello-app

For help, you can ask on [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes)

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

/triage support
/close

[2019-09-10 22:20] #14017 closed

[2019-09-10 22:21] sftim commented on #14107
Done

[2019-09-10 22:21] #14107 closed

[2019-09-10 22:22] sftim commented on #14130
/kind feature
/priority backlog

[2019-09-10 22:22] sftim commented on #14070
/kind feature
/priority backlog

[2019-09-10 22:23] sftim commented on #14137
/kind feature
/priority backlog
/lifecycle frozen

[2019-09-10 22:23] sftim commented on #14162
/kind feature
/priority backlog

[2019-09-10 22:24] sftim commented on #14180
/kind feature
/priority backlog

[2019-09-10 22:24] sftim commented on #14179
/kind feature
/priority backlog

[2019-09-10 22:24] sftim commented on #14105
/triage needs-information
/close

[2019-09-10 22:24] #14105 closed

[2019-09-10 22:25] sftim commented on #14210
/kind bug
/priority backlog

[2019-09-10 22:25] sftim commented on #14101
/kind feature
/priority backlog

[2019-09-10 22:25] sftim commented on #14215
/kind feature
/priority backlog

[2019-09-10 22:27] sftim commented on #14261
/kind feature
/priority backlog

[2019-09-10 22:27] sftim commented on #14220
/kind bug
/priority backlog

[2019-09-10 22:28] sftim commented on #14211
Done
/close

[2019-09-10 22:28] #14211 closed

[2019-09-10 22:29] sftim commented on #14304
/kind feature
/priority backlog

[2019-09-10 22:29] sftim commented on #14304
/remove-lifecycle stale

[2019-09-10 22:30] sftim commented on #14270
/kind bug
/priority backlog

[2019-09-10 22:30] sftim commented on #14270
/remove-lifecycle rotten

[2019-09-10 22:30] sftim commented on #14271
/kind feature
/priority backlog

[2019-09-10 22:31] sftim commented on #14275
/priority backlog

[2019-09-10 22:31] sftim commented on #14286
/kind feature
/priority backlog

[2019-09-10 22:32] sftim commented on #14325
Still needed?

[2019-09-10 22:32] sftim commented on #14330
/kind feature
/priority backlog

[2019-09-10 22:32] sftim commented on #14346
/kind feature
/priority backlog

[2019-09-10 22:34] sftim commented on #14351
Port 6379 is the port that Redis normally uses

I'm not sure there is anything that needs fixing.

[2019-09-10 22:35] sftim commented on #14307
/priority backlog
/kind feature

[2019-09-10 22:36] sftim commented on #13501
This was mostly handled like a support request
/triage support
/close

[2019-09-10 22:36] #13501 closed

[2019-09-10 22:36] sftim commented on #14223
/priority backlog
/kind feature

[2019-09-10 22:36] sftim commented on #14267
/priority backlog
/kind feature

[2019-09-10 22:38] sftim commented on #14404
It's possible the vector source images are missing.
Maybe `git annotate` would show who the original committer was, and they might have vector artwork.

[2019-09-10 22:38] sftim commented on #14404
/priority backlog
/kind feature

[2019-09-10 22:38] sftim commented on #14402
/priority backlog
/kind feature

[2019-09-10 22:38] sftim commented on #14352
/priority backlog
/kind feature

[2019-09-10 22:38] sftim commented on #14376
/priority backlog
/kind feature

[2019-09-10 22:39] sftim commented on #14380
/priority backlog
/kind feature

[2019-09-10 22:40] sftim commented on #14407
/priority backlog
/kind feature

[2019-09-10 22:40] sftim commented on #14410
/priority backlog
/kind feature

[2019-09-10 22:41] sftim commented on #14420
/priority backlog
/kind feature

[2019-09-10 22:41] sftim commented on #14431
/kind feature

[2019-09-10 22:42] sftim commented on #14433
Looks like this has been addressed via #14439
/close

(but reopen it by all means if I am wrong about it being fixed)

[2019-09-10 22:42] #14433 closed

[2019-09-10 22:43] sftim commented on #14435
The old docs are deprecated and should go away

/priority important-longterm
/kind feature

[2019-09-10 22:43] sftim commented on #14497
/priority backlog
/kind feature

[2019-09-10 22:43] sftim commented on #14498
/priority backlog
/kind feature

[2019-09-10 22:44] sftim commented on #14504
/priority backlog
/kind feature

[2019-09-10 22:44] sftim commented on #14507
/priority backlog
/kind feature

[2019-09-10 22:44] sftim commented on #14508
/priority backlog
/kind feature

[2019-09-10 22:45] sftim commented on #14646
/priority backlog
/kind feature

[2019-09-10 22:45] sftim commented on #14639
/priority backlog
/kind feature

[2019-09-10 22:45] sftim commented on #14638
/priority backlog
/kind feature

[2019-09-10 22:45] sftim commented on #14691
/remove-label kind/bug

[2019-09-10 22:46] sftim commented on #14691
/triage needs-information

[2019-09-10 22:46] sftim commented on #14713
/priority backlog
/kind feature

[2019-09-10 22:47] sftim commented on #15217
/triage needs-information

[2019-09-10 22:47] sftim commented on #14096
/priority backlog
/kind feature

[2019-09-10 22:47] sftim commented on #15187
/priority backlog
/kind bug

[2019-09-10 22:47] sftim commented on #15188
/priority backlog
/kind feature

[2019-09-10 22:48] sftim commented on #14545
/priority backlog
/kind feature

If this is OK to /close, please feel free.

[2019-09-10 22:48] sftim commented on #14579
/priority important-longterm
/kind feature

[2019-09-10 22:49] sftim commented on #15132
/priority backlog
/kind feature

[2019-09-10 22:49] sftim commented on #15259
https://kubernetes.io/docs/tasks/debug-application-cluster/resource-usage-monitoring/#google-cloud-monitoring has gone
/close

[2019-09-10 22:49] #15259 closed

[2019-09-10 22:50] sftim commented on #15341
/lifecycle frozen
/priority backlog
/kind feature

[2019-09-10 22:50] sftim commented on #15247
/triage support

[2019-09-10 22:51] sftim commented on #15240
This looks like a close duplicate of #13928

[2019-09-10 22:51] sftim commented on #15240
Is it OK to close this one?

[2019-09-10 22:52] sftim commented on #14768
This looks done. Is that right?
If so, it's OK to /close

[2019-09-10 22:53] sftim commented on #14724
/kind feature
/priority backlog

[2019-09-10 22:53] sftim commented on #14725
/kind feature
/priority important-longterm

[2019-09-10 22:53] sftim commented on #14727
/kind feature
/priority important-longterm

[2019-09-10 22:53] sftim commented on #14742
/kind feature
/priority backlog

[2019-09-10 22:54] sftim commented on #14833
/kind feature
/priority backlog

[2019-09-10 22:54] sftim commented on #14778
/kind feature
/priority backlog

[2019-09-10 22:55] sftim commented on #14823
/kind feature
/priority backlog

[2019-09-10 22:56] zacharysarah commented on #14325
/close

[2019-09-10 22:56] #14325 closed

[2019-09-10 22:57] sftim commented on #14823
Ingress is already in the glossary: https://kubernetes.io/docs/reference/glossary/?all=true#term-ingress

[2019-09-10 22:59] sftim commented on #12326
/remove-lifecycle stale

[2019-09-10 23:01] sftim commented on #14204
/remove-lifecycle rotten

[2019-09-10 23:01] sftim commented on #14204
/priority backlog

[2019-09-10 23:01] sftim commented on #14205
/priority backlog

[2019-09-10 23:02] sftim commented on #14431
/priority backlog

[2019-09-10 23:03] sftim commented on #14624
/priority backlog
/kind feature

[2019-09-10 23:05] sftim commented on #14598
Maybe that's relevant to why it didn't work?
/triage support

[2019-09-10 23:06] sftim commented on #14593
Done via #14708
/close

[2019-09-10 23:06] #14593 closed

[2019-09-10 23:06] sftim commented on #14517
/kind feature
/priority backlog

[2019-09-10 23:07] sftim commented on #14701
/priority backlog

[2019-09-10 23:08] sftim commented on #15536
/kind feature
/priority backlog

[2019-09-10 23:08] sftim commented on #15609
/kind feature
/priority backlog

[2019-09-10 23:08] sftim commented on #15552
/kind feature
/priority backlog

[2019-09-10 23:08] sftim commented on #15609
/kind bug
/priority backlog

[2019-09-10 23:09] sftim commented on #14904
/kind feature
/priority backlog

[2019-09-10 23:09] sftim commented on #14904
/language en

[2019-09-10 23:09] sftim commented on #14799
/kind feature
/priority backlog

[2019-09-10 23:10] sftim commented on #14667
/priority backlog

[2019-09-10 23:10] sftim commented on #14703
/priority backlog

[2019-09-10 23:10] sftim commented on #14917
/kind feature
/priority backlog

[2019-09-10 23:10] sftim commented on #14956
/kind feature
/priority backlog

[2019-09-10 23:11] sftim commented on #14992
/kind feature
/priority backlog

[2019-09-10 23:11] sftim commented on #14992
This is a very low priority improvement.

[2019-09-10 23:11] sftim commented on #15048
/kind feature
/priority backlog

[2019-09-10 23:12] sftim commented on #15035
/kind feature
/priority backlog

[2019-09-10 23:13] sftim commented on #15723
/kind feature
/priority backlog

[2019-09-10 23:13] sftim commented on #15723
/remove-good-first-issue

[2019-09-10 23:14] sftim commented on #15726
/kind bug
/priority backlog

[2019-09-10 23:15] sftim commented on #15757
/triage needs-information

[2019-09-10 23:16] sftim commented on #15739
Relevant to issue #15088

[2019-09-10 23:16] sftim commented on #15739
/triage support
/close

[2019-09-10 23:16] #15739 closed

[2019-09-10 23:16] sftim commented on #15088
/kind feature
/priority backlog

[2019-09-10 23:17] sftim commented on #15088
/remove-priority backlog
/priority important-longterm

[2019-09-10 23:18] sftim commented on #15609
/remove-kind feature

[2019-09-10 23:18] sftim commented on #13746
/remove-kind bug

[2019-09-10 23:18] sftim commented on #14691
/remove-kind bug

[2019-09-10 23:19] sftim commented on #13169
/close

[2019-09-10 23:19] #13169 closed

[2019-09-10 23:20] sftim commented on #13925
/close

[2019-09-10 23:20] #13925 closed

[2019-09-10 23:20] sftim commented on #13847
/priority awaiting-more-evidence

[2019-09-10 23:21] sftim commented on #13856
/priority awaiting-more-evidence

[2019-09-10 23:21] sftim commented on #13924
/close

[2019-09-10 23:21] #13924 closed

[2019-09-10 23:22] sftim commented on #15952
/priority important-longterm

[2019-09-10 23:22] sftim commented on #15907
/priority backlog

[2019-09-10 23:22] sftim commented on #15957
/priority backlog
/kind feature
/language en

[2019-09-10 23:22] sftim commented on #15909
/priority backlog
/kind feature

[2019-09-10 23:23] sftim commented on #15390
Think this is _fixed_ fixed.
/close

[2019-09-10 23:23] #15390 closed

[2019-09-10 23:25] sftim commented on #15186
/priority backlog

[2019-09-10 23:26] sftim commented on #15828
/priority important-soon

Is this OK to close?

[2019-09-10 23:26] sftim commented on #15787
/priority backlog

[2019-09-10 23:27] sftim commented on #15788
/priority backlog

[2019-09-10 23:28] sftim commented on #15284
/priority backlog

/kind feature
(I think)

[2019-09-10 23:29] sftim commented on #15353
/priority backlog

[2019-09-10 23:30] sftim commented on #15318
/priority backlog

[2019-09-10 23:31] sftim commented on #15572
/priority backlog

[2019-09-10 23:31] sftim commented on #15491
/kind feature
/priority backlog

[2019-09-10 23:31] sftim commented on #16005
/kind feature
/priority backlog

[2019-09-10 23:32] sftim commented on #16006
/priority backlog
/kind feature

[2019-09-10 23:32] sftim commented on #15995
/kind bug
/priority backlog
/language en

[2019-09-10 23:32] sftim commented on #16059
/kind feature
/priority backlog

[2019-09-10 23:33] sftim commented on #15906
/kind feature
/priority backlog

[2019-09-10 23:33] sftim commented on #16087
/kind feature
/priority backlog

[2019-09-10 23:34] sftim commented on #15864
/priority backlog
/language en

[2019-09-10 23:34] sftim commented on #15877
/kind feature
/priority backlog

[2019-09-10 23:36] sftim commented on #15952
I think this is a duplicate of #15539
/remove-priority important-longterm

[2019-09-10 23:36] sftim commented on #15539
/priority important-longterm
/kind bug

[2019-09-10 23:36] sftim commented on #15952
Is it OK to close this issue?

[2019-09-10 23:37] sftim commented on #15498
/priority backlog

[2019-09-10 23:38] sftim commented on #14450
/close

[2019-09-10 23:38] #14450 closed

[2019-09-10 23:39] sftim commented on #16209
/priority backlog

[2019-09-10 23:40] sftim commented on #16066
/kind bug

[2019-09-10 23:41] sftim commented on #15937
/kind feature
/priority backlog

[2019-09-10 23:41] sftim commented on #15861
/language zh
/priority important-longterm

[2019-09-10 23:42] sftim commented on #15650
/priority backlog

[2019-09-10 23:43] sftim commented on #15585
/priority backlog

Is this also relevant to SIG Cluster Lifecycle?

[2019-09-10 23:43] sftim commented on #15469
Fixed
/close

[2019-09-10 23:43] #15469 closed

[2019-09-10 23:44] sftim commented on #15478
/priority backlog
/kind bug

[2019-09-10 23:45] sftim commented on #15461
/priority backlog
/kind bug

[2019-09-10 23:45] sftim commented on #15460
/priority important-longterm
/language en

[2019-09-10 23:49] sftim commented on #16123
Fixed
/close

[2019-09-10 23:49] #16123 closed

[2019-09-10 23:50] sftim commented on #16128
/priority awaiting-evidence

[2019-09-10 23:51] jaypipes commented on #15585
Nah, not too much. Mostly it was a placeholder for me to remind me to clean up the docs referencing autoscaler :)

[2019-09-10 23:52] sftim commented on #16138
Sounds OK to close
/triage awaiting-evidence
/close

[2019-09-10 23:52] #16138 closed

[2019-09-10 23:52] sftim commented on #16128
/triage awaiting-evidence

[2019-09-10 23:53] sftim commented on #16128
I'll get it right yet
/priority awaiting-more-evidence

[2019-09-10 23:53] sftim commented on #16138
/priority awaiting-more-evidence

[2019-09-10 23:54] sftim commented on #16141
/priority backlog

[2019-09-10 23:55] sftim commented on #16145
This is a duplicate of #14404

[2019-09-10 23:55] sftim commented on #16145
Is this OK to close?

[2019-09-10 23:56] sftim commented on #15560
/priority backlog

[2019-09-10 23:56] sftim commented on #15709
/priority backlog

[2019-09-10 23:57] sftim commented on #15984
/priority backlog

[2019-09-10 23:58] sftim commented on #15984
/good-first-issue

[2019-09-10 23:59] sftim commented on #16242
/kind bug
/priority backlog

[2019-09-11 00:00] sftim commented on #16236
/kind feature
/priority backlog

[2019-09-11 00:00] sftim commented on #14073
/priority backlog

[2019-09-11 00:01] sftim commented on #13865
/kind feature
/priority backlog

[2019-09-11 00:02] sftim commented on #15691
Semi-duplicate of #14768

[2019-09-11 00:02] sftim commented on #14768
Re-reading, there are still some places that could confuse a reader.

[2019-09-11 00:02] sftim commented on #14768
/priority important-longterm

[2019-09-11 00:03] sftim commented on #14810
/priority backlog
/kind bug

[2019-09-11 00:03] sftim commented on #14771
/priority backlog

[2019-09-11 00:04] sftim commented on #16102
/priority backlog
/kind feature

[2019-09-11 00:04] sftim commented on #16120
/priority backlog

[2019-09-11 00:05] sftim commented on #16196
/priority backlog

[2019-09-11 00:05] sftim commented on #15908
/priority backlog

[2019-09-11 00:05] sftim commented on #15905
/priority backlog

[2019-09-11 00:10] sftim commented on #15886
It seems like that page already explains how Docker handles ap application that logs to stdout, and its limitations. There are [cluster-level logging architectures](https://kubernetes.io/docs/concepts/cluster-administration/logging/#cluster-level-logging-architectures) that can handle structured logs, and you can use these even if Docker isn't installed anywhere on your cluster. You can also [log

[2019-09-11 00:10] sftim commented on #15879
/priority backlog

[2019-09-11 00:11] sftim commented on #15875
Thanks for the suggestion
/priority backlog

[2019-09-11 00:11] sftim commented on #15799
/kind feature
/priority backlog

[2019-09-11 00:12] sftim commented on #15914
/priority important-longterm

[2019-09-11 00:13] sftim commented on #15580
@AdelinGhanaem does this seem to be fixed?

[2019-09-11 00:14] sftim commented on #16199
/priority backlog

[2019-09-11 01:09] cstoku commented on #14545
/close

[2019-09-11 01:09] #14545 closed

[2019-09-11 01:47] oke-py opened #16297 "Translate concepts/services-networking/connect-applications-service/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/services-networking/connect-applications-service/ into Japanese.

**Why is this needed**
This document is not translated into Japanese.

**Comments**

Original:
https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/

/language ja
/assign

[2019-09-11 03:13] idealhack commented on #15861
[code]

[2019-09-11 03:15] idealhack commented on #8843
I thought bugs shouldn't be backlog? this is a long-existing bug though.

thanks for triaging issues in this repo.

[2019-09-11 05:49] guettli commented on #15886
The docs explain that unstructured line based logging gets done. It looks like no one has a problem with this (except me). Let's close it.

[2019-09-11 05:49] #15886 closed

[2019-09-11 07:29] AdamSharif-MSFT commented on #13847
Apologies for the delay, I have a feeling I was using an old version of the client perhaps, but now I can correctly use the _kubectl apply -k_ command, so this issue can be closed. Thanks for your help!

[2019-09-11 07:29] #13847 closed

[2019-09-11 07:48] UlrichEckhardt commented on #16288
Yes, that's a good way to say it, @sftim!

In addition, I'm asking if that is actually the intention. I don't rule out that we're doing something wrong here and that shutting it down during preStop should work when done correctly.

[2019-09-11 09:06] sftim commented on #14858
/priority backlog

[2019-09-11 09:32] alexandraturony87 opened #16309 "Improvement for k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro/"
Hello

I tried to do this tutorial into a vmware env with ubuntu 18.04 installed, and when i install minikube i have some errors.

Could you provide me a tutorial which how I install minikube. The cli feedback was this error:

Minikube start and after that: this errors

Starting local Kubernetes cluster...
E0911 12:31:15.856022    2001 start.go:83] Error starting host: Error creating new host: dia

[2019-09-11 10:01] c5253458 commented on #14352
Are you serious ?

If such a trivial change swamps your development processes, you should change these !

It is a change of ONE WORD  !

The discussion along here, took effort, as well as the trials or even errors countless users of kubectl port-forward encounter, because of the unprecise documentation.

Kind regards

[2019-09-11 10:03] lunatik13 opened #16310 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/"
**This is a Bug Report**

**Problem:**
Pls replace
**Look again at the PersistentVolume:
kubectl get pv task-pv-volume**
change to
**Look again at the PersistentVolume:
kubectl get pvc task-pv-volume**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/#create-a-persistentvolumeclaim

1.15

[2019-09-11 10:11] c5253458 commented on #14352
Correct lines are:
In https://kubernetes.io/docs/reference/kubectl/overview/index.html:
port-forward | kubectl port-forward POD [LOCAL_PORT:]POD_PORT [...[LOCAL_PORT_N:]POD_PORT_N] [flags] | Forward one or more local ports to a pod.
-- | -- | --

In help text (kubectl port-forward -h):
  kubectl port-forward TYPE/NAME [options] [LOCAL_PORT:]POD_PORT
[...[LOCAL_PORT_N:]POD_PORT_N]

[2019-09-11 15:30] sftim commented on #14399
/close

[2019-09-11 15:30] #14399 closed

[2019-09-11 15:30] sftim commented on #15053
/close
/triage needs-information

[2019-09-11 15:30] #15053 closed

[2019-09-11 15:31] sftim commented on #14038
/close

[2019-09-11 15:31] #14038 closed

[2019-09-11 15:31] sftim commented on #15098
/close

[2019-09-11 15:31] #15098 closed

[2019-09-11 15:42] aimeeu commented on #16145
/triage duplicate
/close

[2019-09-11 15:42] #16145 closed

[2019-09-11 15:43] aimeeu commented on #15828
/close

[2019-09-11 15:43] #15828 closed

[2019-09-11 15:46] jmyung commented on #13943
it has an another issue with #15794

[2019-09-11 17:05] dpandhi-git commented on #14778
Thanks @sftim , have removed the longer version in PR

[2019-09-11 17:40] aimeeu commented on #16091
/lifecycle-frozen

[2019-09-11 17:44] aimeeu commented on #15748
/lifecycle frozen

[2019-09-11 21:13] draghuram opened #16321 "Fix the problem in "CSI volume cloning" document"
**This is a Bug Report**

**Problem:**
The page at:
https://kubernetes.io/docs/concepts/storage/volume-pvc-datasource/
states:
"The implementation of cloning, from the perspective of the Kubernetes API simply adds the ability to specify an existing unbound PVC as a dataSource during new pvc creation."

I think "unbound PVC" is incorrect as without binding, there is no volume that can be cloned.

*

[2019-09-12 01:08] #16102 closed

[2019-09-12 02:43] yuxiaobo96 opened #16326 "Issue with content/en/docs/user-journeys/users/cluster-operator/_advanced.md"
**This is a Bug Report**

**Problem:**
This document cannot be translated into Chinese.
**Proposed Solution:**
Maybe it doesn't belong to the en folder.
**Page to Update:**
https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/user-journeys/users/cluster-operator/_advanced.md

[2019-09-12 05:49] christian-2 opened #16327 "Issue with k8s.io/docs/reference/command-line-tools-reference/kube-scheduler/"
**This is a Bug Report**

Yes.

**Problem / Proposed Solution:**

Feature gate `PodPriority` is no longer BETA (but by now GA) according to [this](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/) reference. The description of `kube-scheduler --help` should be updated.

**Page to Update:**
https://kubernetes.io/docs/reference/command-line-tools-reference/kube-schedu

[2019-09-12 06:06] christian-2 commented on #16327
Also applies to [https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/), [https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/),  [https://kubernetes.io/docs/r

[2019-09-12 07:50] jean-lucT opened #16328 "Improvement for k8s.io/docs/tasks/tools/install-kubectl/"
hi,
how can verify on linux kubernetes start automatically ( systectl service ) ?
how can i obtain this script ?
how can verify port and log directory ?
thanks

[2019-09-12 15:32] Balfa opened #16334 "Issue with k8s.io/docs/concepts/storage/volumes/"
**This is a Bug Report**

**Problem:**
Number of types of volumes is overwhelming. As a newcomer, I can tell that new volume types have been added over time without too much consideration to how this flows to a reader trying to understand. The list of volume types now extends well beyond a single page at 1920x1080, and is not well suited to a bullet list. Since I get just the name for most of thes

[2019-09-12 16:43] bells17 opened #16336 "Translate docs/concepts/architecture/cloud-controller in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate docs/concepts/architecture/cloud-controller in Japanese

**Why is this needed**

This document is not translated in Japanese.

**Comments**

Original:
https://kubernetes.io/docs/concepts/architecture/cloud-controller/

/language ja
/assign

[2019-09-13 05:02] voron opened #16341 "Issue with k8s.io/docs/concepts/containers/container-lifecycle-hooks/"
**This is a Bug Report**

**Problem:**
`PostStart` and `PreStop` start from capital letter. I get an error like following
```unknown field "PostStart" in io.k8s.api.core.v1.Lifecycle```

**Proposed Solution:**
Use `postStart` and `preStop`

**Page to Update:**
https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/

[2019-09-13 08:17] zacharysarah commented on #15748
Additions to the list:
- [ ] https://kubernetes.io/docs/tasks/administer-cluster/network-policy-provider/
- [ ] https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/
- [ ] https://kubernetes.io/docs/concepts/cluster-administration/addons/
- [ ] https://kubernetes.io/docs/concepts/cluster-administration/networking/

[2019-09-13 11:00] medmedchiheb commented on #16341
@voron note that `PostStart ` , `PreStop `  start with capital letter because they are the names of Container hooks.
they are not the fields in `lifecycle` spec, as you thought.

[2019-09-13 11:15] SupriyaSirbi commented on #16327
Thanks for the issue

[2019-09-13 13:03] neolit123 commented on #15748
@aimeeu

if we look at the current landscape Docker as a container runtime is not even in the list of supported runtimes by the CNCF:
![cri_cni_cncf_landscape](https://user-images.githubusercontent.com/331852/64863760-4f675800-d63e-11e9-89dd-d760deefe457.png)

does this make it third party and we have to remove the installation guide for it?
i would like to remind that we estimated that the Docker

[2019-09-13 13:07] liggitt commented on #15748
If there's a principled approach to inclusion in that list (e.g. conformance participants), I don't see why it should be removed

[2019-09-13 13:19] mkambham-c opened #16348 "Issue with k8s.io/docs/concepts/architecture/nodes/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-09-13 14:17] dims commented on #15748
Agree with @liggitt.

Can we please hold this work? pending discussion

[2019-09-13 14:21] dims commented on #15748
I've raised this on steering@ for guidance as well:
https://groups.google.com/a/kubernetes.io/d/msg/steering/8v8_IkHFX8M/2MXV0z6PAgAJ

[2019-09-13 14:27] BenTheElder commented on #15748
Re: https://kubernetes.io/docs/tasks/debug-application-cluster/monitor-node-health/#enable-disable-in-gce-cluster

kube-up.sh _IS_ in project (in the main Kubernetes repo) and this is talking about how to toggle this with that tool FWIW. The project CI uses kube-up extensively for the moment.

[2019-09-13 14:32] aimeeu commented on #15748
Thanks for your comment @neolit123 ! Yes, _instructions_ for installing Docker should be removed and replaced with something like
[code]

@zacharysarah is at a conference and then on holiday for the rest of September.

Removing items from the https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/ page:

I see you are a kubeadm approver - great!!  Since kubead

[2019-09-13 14:47] aimeeu commented on #15748
@liggitt, @dims, @BenTheElder - thanks for your feedback!

zacharysarah is at a conference and then on holiday for the rest of September.

The SIG Docs team decided in August to remove third-party content from the k8s docs.
For discussion, please refer to these Slack threads:
- https://kubernetes.slack.com/archives/C1J0BPD2M/p1565388220171400
- [Simply put: feature docs are not a place for vendor

[2019-09-13 14:50] liggitt commented on #15748
Most consumers of the kubernetes.io site are not represented in SIG docs meetings. Removing helpful links and content wholesale needs broader discussion, in my opinion. I agree there should be guidelines and principles for links to external content, but this direction seems unnecessarily detrimental to users.

[2019-09-13 14:51] liggitt commented on #15748
Specifically, I'd expect removing content contributed by SIGs covering usability and configuration of their components and features to be proposed in a KEP with buy-in from the affected component owners

[2019-09-13 14:57] BenTheElder commented on #15748
ER ...

My only point so far is that the entire heading linked there discusses using tooling with source contained wholly within the primary Kubernetes repo and used extensively for developing the project. It seems quite relevant to know that this is on by default when kube-up is set to run on GCE (where most of our CI is due to resources being available) and how to toggle it... I disagree that th

[2019-09-13 17:26] bells17 opened #16350 "Translate content/ja/docs/concepts/cluster-administration/controller-metrics in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate content/ja/docs/concepts/cluster-administration/controller-metrics in Japanese

**Why is this needed**

This document is not translated in Japanese.

**Comments**

Original:
https://kubernetes.io/docs/concepts/cluster-administration/controller-metrics/

/language ja
/assign

[2019-09-13 18:15] voron commented on #16341
Got it, correct manual page is [here](https://kubernetes.io/docs/tasks/configure-pod-container/attach-handler-lifecycle-event/#define-poststart-and-prestop-handlers)

[2019-09-13 18:15] #16341 closed

[2019-09-13 19:43] neolit123 commented on #15748
@aimeeu

For discussion, please refer to these Slack threads:

i think i problem with this decision is that it did not get buy-in by other SIGs, such as cluster-lifecycle. who are the maintainers of most of these documents. SIG docs does give the final `/approve`, but we are doing the heavy lifting there.

the kubeadm documentation in it's current form is in a shape that both the maintainers and t

[2019-09-13 19:52] timothysc commented on #15748
@kubernetes/sig-docs-en-reviews
/hold
On this effort.  You are impacting a number of stakeholders where you have not solicited their feedback or buy-in from those stakeholders.  History has taught us that unilateral action that affects multiple stakeholders is against the core values of this project.
cc @kubernetes/steering-committee

[2019-09-13 19:53] dims commented on #15748
@timothysc let me `/hold` the PR(s) since this is a issue :)

[2019-09-13 19:53] dims commented on #15788
/hold

[2019-09-13 19:54] timothysc commented on #15748
I know, I did it for symbolism ;-)

[2019-09-13 19:54] dims commented on #15788
/hold

[2019-09-13 19:54] dims commented on #15719
/hold

[2019-09-13 19:54] dims commented on #15969
/hold

[2019-09-13 20:43] zacharysarah commented on #15748
Thanks, all, for the feedback.

Please consider that not documenting a third party’s product is on its face an unremarkable premise—and that opening a KEP for each case would grow quickly absurd.

Consider likewise that there was no KEP for including third party content in the first place, nor was consensus sought with SIG Docs over the impact of third party content on feature documentation.

 I a

[2019-09-13 20:52] zacharysarah commented on #15748
@neolit123 How to handle Docker is a great question, for exactly the reasons you mention. I agree that we need to refine our standards to make sure critical content isn’t arbitrarily excluded.

[2019-09-13 23:37] philips commented on #15748
@zacharysarah It would seem to me that a KEP would be a great way to draft and build consensus around a standard for documentation that is in and out of scope for kubernetes.io. How to handle kube-up.sh and Docker seem like central places to start thinking through that potential document.

FWIW, this has also come up in the past around documenting critical flags in the Linux Kernel that would help

[2019-09-14 07:40] avidLearnerInProgress commented on #14070
/remove-lifecycle stale

[2019-09-14 17:01] sb1975 opened #16356 "ResourceQuota enhancement to allow network resources."
**This is a Feature Request**
ResourceQuota does not allow any limit towards the fundamental network resource - Limit Total Number of IP address allowed in each namespace and ability to specify a particular VLAN subnet for a namespace.  This is critical for a Multi-tenant environment where a single Kubernetes Cluster is shared by multiple tenants.
When I as a Infrastructure Provider plan to host t

[2019-09-14 18:20] savitharaghunathan commented on #16348
@mkambham-c, can you explain a little bit more about the issue?

[2019-09-14 18:20] savitharaghunathan commented on #16348
/triage needs-information

[2019-09-15 17:39] xuanhoandhtn1986 opened #16361 "Issue with k8s.io/docs/tutorials/kubernetes-basics/update/update-intro/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-09-15 20:03] metadan opened #16362 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/ step2/3"
When attempting to run an app on a specific port the below is the result:

cmd: kubectl run kubernetes-bootcamp --image=gcr.io/google-samples/kubernetes-bootcamp:v1 --port=8080

response: _kubectl run --generator=deployment/apps.v1 is DEPRECATED and will be removed in a future version. Use kubectl run --generator=run-pod/v1 or kubectl create instead.
deployment.apps/kubernetes-bootcamp created_

[2019-09-16 04:38] bg2019kim opened #16364 "Issue with k8s.io/ko/docs/concepts/overview/working-with-objects/namespaces/"
**This is a Bug Report**

**Problem:**

다음 버전의 쿠버네티스에서는, 같은 네임스페이스의 오브젝트는 **기본적을** 동일한 접근 제어 정책을 갖게 된다.

**Proposed Solution:**
다음 버전의 쿠버네티스에서는, 같은 네임스페이스의 오브젝트는 **기본적으로** 동일한 접근 제어 정책을 갖게 된다.

**Page to Update:**
https://kubernetes.io/...

[2019-09-16 08:13] medmedchiheb commented on #16361
/triage needs-information

[2019-09-16 10:07] tanjunchen opened #16366 "kubernetes/website release-1.14 make docker-serve error"
**This is a Bug Report**
 kubernetes/website release-1.14
some  problems occured  according to `Running the website locally using Docker` process
**Problem:**
![image](https://user-images.githubusercontent.com/19339970/64949405-ade53e00-d8ab-11e9-9ea6-e25d40394d05.png)
![image](https://user-images.githubusercontent.com/19339970/64949431-bfc6e100-d8ab-11e9-80da-5281f9f61665.png)
![image](https://us

[2019-09-16 10:53] rong0312 opened #16367 "Improvement for k8s.io/docs/tasks/access-application-cluster/create-external-load-balancer/"
In my opinion, there is a need to expand more regards the outside-LB integration..
I couldn't find a normal way to configure it.

[2019-09-16 13:29] liggitt commented on #15748
No disparagement was meant. I should have said "most consumers of and contributors to the kubernetes.io site are not **present** in SIG docs meetings".

My point was that discussion that is limited to SIG docs meetings is not sufficient for a broad policy decision that impacts the ability of component owners to document their components, and involves removal of previously contributed documentation

[2019-09-16 13:37] BenHall commented on #16362
Thanks for the feedback @metadan

We are currently planning how we can update the content to create into account this being removed. The reason for the delay is that with the new approach also needs to have a service created in order to access the application which isn't discussed until later in the course.

Duplicate of #15512

[2019-09-16 13:44] dims commented on #15748
Looks like we have @jbeda and @philips ask for KEP(s) as well. Please see @smarterclayton 's question as well https://groups.google.com/a/kubernetes.io/d/msg/steering/8v8_IkHFX8M/2MXV0z6PAgAJ

Let's please talk about this in the next steering meeting, However, it seems to be pretty clear at the moment that a KEP is being requested, so it may be better to get one started that addresses the question

[2019-09-16 13:56] dims commented on #15748
@zacharysarah @aimeeu apologies for how this came across!

[2019-09-16 14:05] andy-b-84 opened #16374 "Improvement for k8s.io/docs/reference/kubectl/jsonpath/"
Hi,
Thanks for this documentation, it is really helpful.

That being said, we use a syntax which is not documented here :
[code]
And I'm trying this one out :
[code]
I would have liked to know if this syntax is supported before trying it (and don't have the answer right now).

Thanks again for the awesome docs :)

[2019-09-16 14:13] sftim commented on #14964
/priority backlog

[2019-09-16 14:14] sftim commented on #14964
/sig cluster-lifecycle
/remove-lifecycle stale

[2019-09-16 14:14] sftim commented on #16336
/kind feature
/priority backlog

[2019-09-16 14:14] sftim commented on #16350
/kind feature
/priority backlog

[2019-09-16 14:15] sftim commented on #16374
/kind feature
/priority backlog

[2019-09-16 14:16] sftim commented on #16334
Thanks for the suggestion

/priority backlog

[2019-09-16 14:17] sftim commented on #16326
That page is “lorem ipsum” content. I expect it's OK to delete it.

/kind bug
/priority backlog

[2019-09-16 14:17] sftim commented on #16326
It's already [gone](https://github.com/kubernetes/website/blob/master/content/en/docs/user-journeys/users/cluster-operator/_advanced.md) in the master branch.

[2019-09-16 14:18] sftim commented on #16309
GitHub is not the right place for support requests.

For help, try [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes), the [Kubernetes Slack](http://slack.k8s.io/), or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

/triage support

[2019-09-16 14:20] sftim commented on #16328
Hi @jean-lucT

GitHub is not the right place for support requests.

For help, try [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes), the [Kubernetes Slack](http://slack.k8s.io/), or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

You might also find https://kubernetes.io/docs/setup/ useful.

/triage support

[2019-09-16 15:09] andy-b-84 commented on #16374
It doesn't work, nor does `~=`, it fails with the message
[code]

[2019-09-16 15:23] andy-b-84 commented on #16374
Got something by writing the regex as a `"` escaped string, but I cannot get this regex to match anything:
[code]

[2019-09-16 15:41] sftim commented on #16374
This page could signpost readers to an external resource about using jsonpath.

[2019-09-16 16:05] philips commented on #15748
Follow-up question for eventual KEP: "Why do we care whether a project is in the CNCF?". Reading the [current policy](https://kubernetes.io/docs/contribute/style/content-guide/) there are several references to policies that differ whether a project is a CNCF project:

This is troubling to me because a non-goal of the CNCF to is to host every piece and part required to make Kubernetes technically s

[2019-09-16 18:07] aimeeu commented on #16356
/kind feature
/priority important-soon

[2019-09-16 20:04] zulrang commented on #14457
/remove-lifecycle stale

[2019-09-16 20:12] jpbetz opened #16379 "Document CRD rollback workflow"
**This is a Feature Request**

The rollback workflow for CRDs should be clearly documented:

- How to rollback before the storage version is updated?
- How to rollback after the storage version is updated?
- When should the storage be updated to minimize risk?

**Why is this needed**

Workflow for CRDs is non-obvious and contains gotchas.

/assign

[2019-09-16 20:13] jpbetz commented on #16379
cc @roycaihw

[2019-09-16 23:37] roycaihw commented on #16379
cc @jasonwzm

[2019-09-17 00:26] ysyukr commented on #16114
PR will be submitted to the dev-1.16-ko.1 branch of the Korean l10n team, which will be created after the official release of K8s 1.16.

[2019-09-17 07:17] #16310 closed

[2019-09-17 08:10] jayapalreddy18 opened #16393 "Issue with k8s.io/docs/tasks/access-application-cluster/web-ui-dashboard/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-09-17 09:17] NMFR opened #16394 "k8s data plane?"
On the [k8s glossary](https://kubernetes.io/docs/reference/glossary/?all=true#term-data-plane) it mentions a `data plane`.

https://github.com/kubernetes/website/blob/d21ffb4c633567321575eb9bf8b19a3ef69e3986/content/en/docs/reference/glossary/data-plane.md

Maybe it is my definition of `data plane` that is too related to "data" or the service mesh definition for that term but should this plane be

[2019-09-17 09:37] fabriziopandini commented on #15937
/lifecycle active

[2019-09-17 09:56] ankitchadha opened #16397 "Issue with k8s.io/docs/concepts/cluster-administration/addons/"
**This is a Bug Report**

**Contrail/Tungsten installation steps are missing:**

**Add Contrail/Tungsten installation steps as a hyperlink (just like a hyperlink is present for Nuage/Flannel/Weave CNIs). This is the link that needs to be referenced for Contrail https://github.com/Juniper/contrail-controller/wiki/Installing-Contrail-CNI-on-Kubernetes:**

**Page to Update:**
https://kubernetes.io/do

[2019-09-17 09:57] yuxiaobo96 commented on #16326
Ok, I will submit the PR to delete this document.

[2019-09-17 10:20] sftim commented on #4135
/status active

[2019-09-17 10:21] sftim commented on #5993
/status active

[2019-09-17 11:16] sftim commented on #16379
This is definitely useful to have.

/priority backlog
/kind feature

[2019-09-17 11:17] sftim commented on #16297
/kind feature
/priority backlog

[2019-09-17 11:19] sftim commented on #16356
This looks like a feature request for enhancing https://github.com/kubernetes/kubernetes, rather than the documentation. Have I got that right?

[2019-09-17 11:21] sftim commented on #16397
@ankitchadha would you recommend that this page should have links to install guides for all the network plugins?

[2019-09-17 11:22] sftim commented on #16356
I'll assume I've guessed right, and:
/remove-priority important-soon
/remove-kind feature
/triage needs-information

[2019-09-17 12:32] sftim commented on #14938
Sounds like there's an issue that might need fixing, or maybe clarifying
/remove-triage needs-information
/priority backlog

[2019-09-17 13:33] antaloala opened #16402 "Issue with k8s.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/"
**This is a Bug Report**

**Problem:**
In first paragraph of the "k8s v1.15 Documentation - Tasks - Horizontal Pod Autoscaler Walkthrough" it is said:
"_Horizontal Pod Autoscaler automatically scales the number of pods **in a replication controller, deployment or replica set** based on ..._"

But from v1.9 HPA it is also applicable for statefulset objects (as described in kubernetes/issue/#44044:

[2019-09-17 14:11] aimeeu commented on #16356
@sftim I bow to your experience! Yes, rereading, this does sound like a request to enhance Kubernetes. Thanks for double-checking and correcting this.

[2019-09-17 14:13] sftim commented on #16364
/language ko

[2019-09-17 14:14] sftim commented on #16321
/language en
/priority backlog

[2019-09-17 14:14] sftim commented on #16402
/priority backlog

[2019-09-17 14:15] sftim commented on #16402
Good spot!

[2019-09-17 14:16] sftim commented on #16393
Hi @jayapalreddy18

Did you see a problem with the page at https://kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard/? If so, what was the problem?

/triage needs-information

[2019-09-17 14:18] sftim commented on #16356
@sb1975 You can request a new Kubernetes feature by making an [enhancement proposal](https://github.com/kubernetes/enhancements/tree/master/keps#kubernetes-enhancement-proposals-keps)
/close

[2019-09-17 14:18] #16356 closed

[2019-09-17 14:20] sftim commented on #16356
/remove-triage needs-information

[2019-09-17 16:27] sftim opened #16409 "Broken link in raw-block-volume-support-to-beta blog post"
**This is a Bug Report**

**Problem:**
The page at https://kubernetes.io/blog/2019/03/07/raw-block-volume-support-to-beta/ has a broken (actually, unimplemented) hyperlink:
[code]
**Proposed Solution:**
Revise blog post to have working hyperlink

**Page to Update:**
https://kubernetes.io/blog/2019/03/07/raw-block-volume-support-to-beta/

**Additional Information:**
/area blog
/language en

[2019-09-17 17:07] aimeeu commented on #16397
https://kubernetes.io/docs/concepts/cluster-administration/addons/  is a page that needs to be reviewed as part of the Remove Third-Party Content initiative (#15748), which is currently on hold.

[2019-09-17 17:13] aimeeu commented on #16367
https://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/

@rong0312 - thank your for opening this Issue!  Would you provide more details so we have an idea how to improve the page? What information is missing? What problems did you have? Thanks!

/triage needs-information

[2019-09-17 17:15] aimeeu commented on #16397
/priority long-term

[2019-09-17 17:27] aimeeu commented on #16394
Hi @NMFR - thanks for asking your questions!

A better place for you to ask your questions is the `#kubernetes-users` or `#kubernetes-novice` channels in the [Kubernetes slack](http://slack.k8s.io/) instance.

If you receive an answer that is different than the glossary definition, please add a comment to this Issue so we can update the docs. If not, you can close this issue by leaving a ```/close

[2019-09-18 00:42] bg2019kim opened #16415 "Issue with k8s.io/ko/docs/concepts/overview/working-with-objects/labels/"
**This is a Bug Report**

**Problem:**
LIST와 WATCH 작업은 쿼리 파라미터를 사용해서 반환되는 오브젝트 집합을 필터링하기 위해 레이블 **셀럭터**를 지정할 수 있다.
**Proposed Solution:**
LIST와 WATCH 작업은 쿼리 파라미터를 사용해서 반환되는 오브젝트 집합을 필터링하기 위해 레이블 **셀렉터**를 지정할 수 있다.
**Page to Update:**
https://kubernetes.io/...

[2019-09-18 01:10] bg2019kim opened #16416 "Issue with k8s.io/ko/docs/concepts/overview/working-with-objects/labels/"
**This is a Bug Report**

**Problem:**
서비스 와 **레플리케이션** 컨트롤러와 같은 일부 쿠버네티스 오브젝트는 레이블 셀렉터를 사용해서 파드와 같은 다른 리소스 집합을 선택한다.

**Proposed Solution:**
서비스 와 **리플리케이션** 컨트롤러와 같은 일부 쿠버네티스 오브젝트는 레이블 셀렉터를 사용해서 파드와 같은 다른 리소스 집합을 선택한다.

**Page to Update:**
https://kubernetes.io/...

[2019-09-18 01:14] bg2019kim opened #16417 "Issue with k8s.io/ko/docs/concepts/overview/working-with-objects/labels/"
**This is a Bug Report**

**Problem:**
서비스에서 지정하는 파드 집합은 레이블 셀렉터로 정의한다. 마찬가지로 **리플레케이션** 컨트롤러가 관리하는 파드의 개체군도 레이블 셀렉터로 정의한다.
**Proposed Solution:**
서비스에서 지정하는 파드 집합은 레이블 셀렉터로 정의한다. 마찬가지로 **리플리케이션** 컨트롤러가 관리하는 파드의 개체군도 레이블 셀렉터로 정의한다.
**Page to Update:**
https://kubernetes.io/...

[2019-09-18 05:02] jayapalreddy18 commented on #16393
HI

i have followed same link. but i am unable to access below link

 http://localhost:8001/api/v1/namespaces/kubernetes-dashboard/services/https:kubernetes-dashboard:/proxy/

[2019-09-18 07:35] prabangkoro commented on #15341
#16421

[2019-09-18 07:42] prabangkoro commented on #15341
#16421

[2019-09-18 07:51] ankitchadha commented on #16397
@sftim : The page should be consistent. Either include the deployment guide hyperlinks fro all plugins, or for none.

As of today: it includes hyperlinks to the installation guides of many network plugins (Nuage/Flannel/Weave etc). Hence requesting that we add the right hyperlink for Contrail/TF as well.

[2019-09-18 08:02] sftim commented on #16393
It seems to me that https://kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard/ could better signpost readers to learn about how `kubectl proxy` works.

/remove-triage needs-information
/priority backlog

[2019-09-18 08:06] timstoop opened #16423 "Add task page describing scheduler configuration"
**This is a Bug Report**

**Problem:** This page mentions a lot of options, but nowhere does it state how to actually change those configurations. There's generally no information available about the KubeSchedulerConfiguration object type anywhere in the docs that I could find, including no description of where to set it (should it be a resource in the cluster? a file on disk?).

**Proposed Soluti

[2019-09-18 08:28] sftim commented on #16415
/language ko

[2019-09-18 08:32] sftim commented on #16423
https://kubernetes.io/docs/concepts/scheduling/kube-scheduler/#what-s-next links to https://kubernetes.io/docs/reference/command-line-tools-reference/kube-scheduler/ and that documents how to customise the scheduler's behavior.

If any part of the docs covered `KubeSchedulerConfiguration`, I'd expect that would be the reference section.

I'm not sure I can see a bug that needs fixing. I'm sure tho

[2019-09-18 08:49] timstoop commented on #16423
Honestly, the reference is even worse, it contains a huge amount of deprecated options without any explanation on how to get the behaviour in the proper way instead. I just like somewhere to explain how to do it, because I still don't know :) I just keep using the deprecated options, because there's no explanation anywhere how to do it in a non-deprecated way.

I would expect the regular docs that

[2019-09-18 08:59] tuxfux-hlp opened #16426 "Issue with k8s.io/docs/tasks/tools/install-minikube/"
**This is a Bug Report**

**Problem:**
There is a pre-requisite for docker installation .
**Proposed Solution:**
Need to be updated in the document to install the docker.
**Page to Update:**
https://kubernetes.io/...
https://kubernetes.io/docs/tasks/tools/install-minikube/

devops@devops-learning:~$ uname -a
Linux devops-learning 4.18.0-15-generic #16~18.04.1-Ubuntu SMP Thu Feb 7 14:06:04 UTC 2019

[2019-09-18 10:50] sftim commented on #16423
How about making this issue be a request for a new Task page that covers how to:
1. configure components of the Kubernetes control plane
2. configure the scheduler

(or even 2 new Task pages, where the first one signposts readers to the second one).

@timstoop do you think that the work I've outlined, if done, would help address the shortcomings you're reporting?

[2019-09-18 11:03] timstoop commented on #16423
Yes indeed, that would work very well.

[2019-09-18 11:07] sftim commented on #16423
/priority backlog
/kind feature

[2019-09-18 11:10] sftim commented on #15847
This should be an issue against https://github.com/kubernetes/kubernetes/
/close

[2019-09-18 11:10] #15847 closed

[2019-09-18 11:11] sftim commented on #13420
/close

[2019-09-18 11:11] #13420 closed

[2019-09-18 11:12] sftim commented on #13753
/priority backlog

[2019-09-18 11:12] sftim commented on #13989
/lifecycle frozen
/priority backlog

[2019-09-18 11:13] sftim commented on #16042
/kind feature
/priority backlog

[2019-09-18 11:14] sftim commented on #16147
/priority backlog

[2019-09-18 11:14] sftim commented on #16409
/lifecycle active

[2019-09-18 11:51] sagarpatil23192 opened #16428 "When will k8's services support set-based labels."
K8's service do not support set-based label selectors. Will this feature be available for services or no ??

[2019-09-18 12:01] itsecforu opened #16429 "Issue with k8s.io/docs/tasks/access-application-cluster/web-ui-dashboard/"
This page does not open:

https://raw.githubusercontent.com/kubernetes/dashboard/master/src/deploy/recommended/kubernetes-dashboard.yaml

[2019-09-18 14:26] hasebe opened #16432 "Translate concepts/extend-kubernetes/operator/ into Japanese"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**
No `concepts/extend-kubernetes/operator.md` in Japanese.

**Proposed Solution:**
Copy a file from en contents to `content/ja/docs/concepts/concepts/extend-kubernetes/operator.md` and translate it into Japanese.

**Page to Update:**
https://kubernetes.io/ja/docs/concepts/concepts/extend-kubernetes/operator/

[2019-09-18 14:27] hasebe commented on #16432
/language ja

[2019-09-18 14:27] hasebe commented on #16432
/assign @hasebe

[2019-09-18 15:06] aimeeu commented on #16428
Hi @sagarpatil23192. This sounds like a feature request for code rather than an issue with
the documentation. Please open an issue at https://github.com/kubernetes/kubernetes/issues.

Thanks!
/close

[2019-09-18 15:06] #16428 closed

[2019-09-18 15:07] aimeeu commented on #16416
/language ko

[2019-09-18 15:07] aimeeu commented on #16417
/language ko

[2019-09-18 15:53] aimeeu commented on #16429
HI @itsecforu - thanks for reporting this issue! Could you let us know where in the documentation you found the link?

/triage needs-information

[2019-09-18 15:59] aimeeu commented on #16362
/triage duplicate
/close

[2019-09-18 15:59] #16362 closed

[2019-09-18 18:35] itsecforu commented on #16429
@aimeeu  hey! I dont remember :-(

[2019-09-18 21:32] bennythejudge opened #16434 "Issue with k8s.io/docs/tasks/administer-cluster/configure-multiple-schedulers/"
**This is a Bug Report**

**Problem:**
In the `Package the scheduler` section (https://kubernetes.io/docs/tasks/administer-cluster/configure-multiple-schedulers/#package-the-scheduler), the instructions are not adequately complete and clear. If executed as-is on a MacOS computer, they will produce a `darwin` binary which is of no use for the exercise.

[code]

Also note that the directory indicate

[2019-09-18 22:02] NMFR commented on #16394
Piggy backed on a thread started about the same issue.

https://kubernetes.slack.com/archives/C09NXKJKA/p1568741965005200

But only got one response.

Guess its a `close`, although i think the current name (`data plane`) is misleading.

[2019-09-18 22:02] NMFR commented on #16394
/close

[2019-09-18 22:02] #16394 closed

[2019-09-18 22:36] aimeeu commented on #15748
FYI kubernetes/kubernetes/cluster/addons/README.md links to https://kubernetes.io/docs/concepts/cluster-administration/addons/

[2019-09-19 00:01] gochist opened #16438 "Outdated files in the dev-1.16-ko.1 branch"
# This is a Bug Report
## Problem
Outdated files in the dev-1.16-ko.1 branch.

### 17 files to be modified
1. [x] content/en/_index.html 1 file changed, 1 insertion(+)
1. [x] content/en/docs/concepts/architecture/cloud-controller.md 1 file changed, 5 insertions(+), 4 deletions(-)
1. [x] content/en/docs/concepts/architecture/nodes.md 1 file changed, 11 insertions(+)
1. [x] content/en/docs/concepts/

[2019-09-19 00:21] gochist commented on #16438
/language ko

[2019-09-19 00:53] simplytunde commented on #14111
/milestone 1.17

[2019-09-19 02:35] uniuuu opened #16441 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/"
**This is a Bug Report**

**In Kubernetes v1.16 the flannel url from documentation is failing**
If to apply flannel commit 62e44c867a2846fefb68bd5f178daf4da3095ccb it will fail:
[code]

**Proposed Solution:**
Update documentation with latest stable flannel commit

**Page to Update:**
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/

Kubernetes Version:

[2019-09-19 07:04] ysyukr commented on #16416
안녕하세요.
올려주신 리포트의 "레플리케이션"은 한글화팀 용어집에 따라 번역되었습니다.
쿠버네티스 한글화팀 용어집 참고 부탁드립니다.
https://goo.gl/BDNeJ1

[2019-09-19 07:36] sftim commented on #16432
/priority backlog

[2019-09-19 07:36] sftim commented on #16438
/priority backlog

[2019-09-19 07:38] sftim commented on #16434
Thanks for the suggestion
/priority backlog

[2019-09-19 07:41] sftim opened #16449 "Move k8s.io/docs/tasks/administer-cluster/configure-multiple-schedulers/ to Extend Kubernetes"
**This is a Feature Request**

**What would you like to be added**
Move https://kubernetes.io/docs/tasks/administer-cluster/configure-multiple-schedulers/ to be in the same section as the content that currently exists within
https://kubernetes.io/docs/tasks/access-kubernetes-api/
(that section is titled “Extend Kubernetes”).

Consider moving https://kubernetes.io/docs/tasks/access-kubernetes-api/

[2019-09-19 07:42] sftim commented on #14056
Also see #16449

[2019-09-19 07:42] sftim commented on #15534
Also see #16449

[2019-09-19 09:51] bennythejudge commented on #16434
@sftim Thanks for the reply. Could I try to propose the change via a PR?

[2019-09-19 09:55] sftim commented on #14741
Done
/close

[2019-09-19 09:55] #14741 closed

[2019-09-19 10:41] sftim commented on #16434
@bennythejudge absolutely!
See https://kubernetes.io/docs/contribute/ (if you haven't already) for tips.

[2019-09-19 13:30] savitharaghunathan commented on #16441
/good-first-issue

Update the link to point to https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml

[2019-09-19 13:31] savitharaghunathan commented on #16441
/language-en

[2019-09-19 13:32] savitharaghunathan commented on #16441
/language en

[2019-09-19 14:31] edrandall opened #16453 "Issue with k8s.io/docs/tasks/administer-cluster/access-cluster-api/"
**This is a Bug Report**

Broken link to Python client "See this example": https://github.com/kubernetes-client/python/tree/master/examples/example1.py

Accessing the API from a Pod
Insufficient detail on how to access the API from within a Pod.  Only a Go example is given, no Python example.

**Proposed Solution:**
1) Fix broken link to example for external Python client, probably should be: http

[2019-09-19 14:37] kbhawkey commented on #9791
/remove-lifecycle rotten

[2019-09-19 14:38] kbhawkey commented on #9791
/reopen

[2019-09-19 14:43] kbhawkey commented on #9791
There appear to be link issues again (release 1.16) in the generated component reference file(s) such as kubectl.md. Will open a new issue to specifically address the component reference build script. Sorry for the confusion!
/close

[2019-09-19 14:43] #9791 closed

[2019-09-19 14:53] kbhawkey opened #16454 "revisit update_imported_docs, link processing, kubectl"
**This is a Bug Report**

**Problem:**

- Determine if the `update_imported_docs` script can correctly update or create new links for the `kubectl` component reference doc.
- The documentation for building the component reference pages may be outdated.

**Proposed Solution:**

- Revise the script as needed.
- Update the documentation for building the component reference pages.

**Page to Update:**

[2019-09-19 15:09] CosmicSage opened #16456 "Improvement for k8s.io/docs/concepts/services-networking/ingress/"
In Kubernetes website/content/en/docs/concepts/services-networking/ingress.md
Line No. 322 term "CN" is not explained
Please explain the meaning of CN in context

[2019-09-19 18:45] sb1975 commented on #16356
I found out that this is possible via the CNI using Annotations :
https://docs.projectcalico.org/v3.9/reference/cni-plugin/configuration#specifying-ip-pools-on-a-per-namespace-or-per-pod-basis

[2019-09-19 21:13] savitharaghunathan commented on #16454
/priority backlog

[2019-09-19 21:16] savitharaghunathan commented on #16456
/kind feature
/priority backlog

[2019-09-19 21:17] savitharaghunathan commented on #16456
/help

[2019-09-19 21:19] sftim opened #16463 "Improve link from “Helm chart” glossary entry to Helm docs"
**This is a Feature Request**

**What would you like to be added**
The glossary entry for [Helm chart](https://kubernetes.io/docs/reference/glossary/?all=true#term-helm-chart) has a full link to https://github.com/kubernetes/helm/blob/master/docs/charts.md in the metadata for that entry.
There is official Helm documentation and it would be better to link there, specifically to https://helm.sh/docs

[2019-09-19 21:20] sftim commented on #16463
This feature request is suitable for new contributors. It's a low priority; if you have already made SIG Docs contributions, consider leaving this one so that another person can find it.

[2019-09-19 21:23] sftim commented on #16456
If anyone is picking this issue up and isn't sure what _CN_ stands for in this context, it means “common name“. See https://knowledge.digicert.com/solution/SO7239.html for a longer explanation.

[2019-09-19 21:24] sftim commented on #16449
/priority backlog

[2019-09-19 21:41] sftim commented on #16453
/lifecycle active
/priority backlog

[2019-09-19 21:42] sftim commented on #16453
/kind cleanup
/language en

[2019-09-19 21:45] sftim commented on #16426
It seems like the page about Minikube already states:

and to me that seems like the information about needing Docker is already there (for `--vm-driver=none` only AIUI).

@tuxfux-hlp can you clarify what needs fixing?

/triage needs-information

[2019-09-19 21:45] sftim commented on #16441
/priority backlog

[2019-09-19 21:46] sftim commented on #16441
Looks like #16442 helps with this.

[2019-09-19 23:04] fooka03 commented on #15057
/remove-lifecycle stale

[2019-09-20 01:16] ysyukr commented on #16415
/assign @ysyukr

[2019-09-20 01:17] ysyukr commented on #16417
/assign @ysyukr

[2019-09-20 01:18] ysyukr commented on #16417
안녕하세요. 리포트 남겨주셔서 감사합니다.
'리플리케이션'의 경우 '레플리케이션'으로 번역되어야하는데, 잘못 번역 및 오탈자로 확인했습니다.
한글화팀 단어집에 따라 '레플리케이션'으로 정정하겠습니다.

[2019-09-20 01:19] ysyukr commented on #16415
안녕하세요. 리포트 남겨주셔서 감사합니다.
남겨주신 오타 확인했으며, 수정사항이 반영된 PR이 제출될 예정입니다.

[2019-09-20 01:19] ysyukr commented on #16416
/assign @ysyukr

[2019-09-20 01:20] markzzzsmith opened #16466 "Issue with k8s.io/docs/concepts/services-networking/dual-stack/ - very incorrect IPv6 ULA prefix"
**This is a Bug Report**

**Problem:**

The recommendation to use fd00::/24 as the IPv6 ULA prefix is very incorrect. That is not going to be a globally unique prefix, yet the U in ULA standards for Unique.

ULA prefixes are required to be /48 or longer, and the 40 bits after the first 8 bits of fd00::/8 are required to be a random number that is likely globally unique. See RFC 4193.

Using fd00::

[2019-09-20 01:21] ysyukr commented on #16416
안녕하세요. 리포트 남겨주셔서 감사합니다.
'레플리케이션'의 경우 한글화팀 용어집에 따라 번역된 것으로 레플리케이션 컨트롤러 또한 동일한 단어로 번역되어있습니다.
https://kubernetes.io/ko/docs/concepts/workloads/controllers/replicationcontroller/

참고 부탁드립니다.

[2019-09-20 01:37] ysyukr opened #16468 "Translate concepts/workloads/controllers/daemonset.md in Korean"
This is a Feature Request

What would you like to be added
Translate concepts/workloads/controllers/daemonset.md in Korean

Why is this needed
No traslation with concepts/workloads/controllers/daemonset.md in Korean

Comments
Page to update: https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/

/language ko

[2019-09-20 01:40] ysyukr commented on #16468
PR for this issue will be submitted on dev-1.16-ko.2(generated after September 26).

[2019-09-20 02:01] hasebe opened #16471 "Translate concepts/extend-kubernetes/extend-cluster/ into Japanese"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**
No `concepts/concepts/extend-kubernetes/extend-cluster.md` in Japanese.

**Proposed Solution:**
Copy a file from en contents to `content/ja/docs/concepts/extend-kubernetes/extend-cluster.md` and translate it into Japanese.

**Page to Update:**
https://kubernetes.io/ja/docs/concepts/extend-kubernetes/extend-cluster/

[2019-09-20 02:02] hasebe commented on #16471
/language ja

[2019-09-20 02:02] hasebe commented on #16471
/assign @hasebe

[2019-09-20 07:39] purebluesong opened #16476 "Issue with k8s.io/docs/reference/design-docs/overview/"
Following the links and I found the architecture.md in this page: `https://github.com/kubernetes/kubernetes/blob/release-1.6/docs/design/architecture.md`
has expired.
Now,
`https://github.com/kubernetes/community/blob/master/contributors/design-proposals/architecture.md` is 404.

[2019-09-20 09:22] AkihiroSuda opened #16478 "/tutorials/clusters/apparmor/ says AppArmor is only supported by Docker"
**This is a Bug Report**

**Problem:**
The website says AppArmor is only supported by Docker

**Proposed Solution:**

Clarify that Kubernetes >= v1.XX supports AppArmor for non-docker CRI runtimes such as containerd/CRI >= v1.X and CRI-O >= v1.XX

**Page to Update:**
https://kubernetes.io/docs/tutorials/clusters/apparmor/

[2019-09-20 10:17] khteh opened #16479 "Issue with k8s.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/"
**This is a Bug Report**

**Problem:**
How to use:
[code]
**Proposed Solution:**
I added it in my hpa but gets the following:
[code]
**Page to Update:**
https://kubernetes.io/...

1.13

[2019-09-20 14:09] musterjunk opened #16480 "Improvement for k8s.io/docs/concepts/overview/kubernetes-api/"
Add a complete command with the flags that are being shown on the page. How do i actually pass these flags to the API Server so it can use things like user name and password to test RBAC.

[2019-09-20 14:10] kbhawkey commented on #16454
/assign

[2019-09-20 14:46] savitharaghunathan commented on #16480
/priority backlog
/kind feature
/language en

[2019-09-20 14:48] Alisd96 commented on #14056
/close

[2019-09-20 14:48] #14056 closed

[2019-09-20 14:49] savitharaghunathan commented on #16478
/priority backlog
/language en

[2019-09-20 14:52] savitharaghunathan commented on #16476
/language en
/priority backlog
/good-first-issue
/kind bug

Solution: Replace the broken link with - https://github.com/kubernetes/community/blob/master/contributors/design-proposals/architecture/architecture.md

[2019-09-20 15:24] draghuram commented on #16321
/assign draghuram

[2019-09-20 17:46] savitharaghunathan opened #16482 "Issue with k8s.io/docs/tasks/access-application-cluster/web-ui-dashboard/"
**This is a Bug Report**

**Problem:**
'creating a sample user' link in https://kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard/#accessing-the-dashboard-ui points to a wrong URL

**Proposed Solution:**
Update the link to point to the right wiki or example location.

**Page to Update:**
https://kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard/#accessing-the-

[2019-09-20 18:21] #16402 closed

[2019-09-20 22:33] gochist commented on #16416
/close

[2019-09-20 22:33] #16416 closed

[2019-09-20 22:34] gochist commented on #16242
/assign

[2019-09-21 03:22] MaksPonomarev opened #16487 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-09-21 03:24] MaksPonomarev commented on #16487
https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/
doesn't work interactive tutorial.
I hve tried a few browsers (opera, firefox) and had the same.
Thank you for your work )

[2019-09-21 03:24] #16487 closed

[2019-09-21 05:35] longlg88 opened #16490 "Translate concepts/storage/persistent-volumes in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/storage/persistent-volumes in Korean

**Why is this needed**
No translation with concepts/storage/persistent-volumes in Korean.
It is issued on May already, but it didn't merged.
So I try one more time :)

**Comments**

https://kubernetes.io/docs/concepts/storage/persistent-volumes/

[2019-09-21 05:35] longlg88 commented on #16490
/language ko
/assign

[2019-09-21 07:52] markzzzsmith commented on #16466
Just had my Slideshare account id changed, so presentation now appears at:

https://www.slideshare.net/markzzzsmith/ausnog-2019-getting-ipv6-private-addressing-right

PDF of the same presentation available at:

http://www.users.on.net/~markachy/AusNOG%202019%20-%20Getting%20IPv6%20Private%20Addressing%20Right.pdf

[2019-09-21 09:04] OJFord opened #16492 "There's a merge conflict on the website"
**Problem:**

Merge conflict visible here:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/high-availability/#steps-for-the-first-control-plane-node

**Proposed Solution:**
Resolve the conflict.

It seems this has happened before - #13941 - perhaps consider `pre-commit` ([`check-merge-conflict`](https://pre-commit.com/hooks.html)) or similar tooling to prevent it in future?

[2019-09-21 13:53] bappa0604 opened #16495 "pod network add-on Weave Net's yaml file mentioned in k8s document page is not working."
**This is Support**

I am using ubuntu server in AWS and Bootstrapping clusters(1 master, 3 worker) with kubeadm tool. When tried to initi the kubenetes components by adding Pod Network Add-on (flannel), it gave me code-dns pods in Pending state. So i tried installing Weave-net (keeping flannel) and yaml file for weave-net mentioned in k8s documentation pade gave me error "unable to recognize no m

[2019-09-22 00:34] ThiyaguE commented on #16476
/assign

[2019-09-22 11:44] gochist commented on #16438
/assign

[2019-09-22 14:17] FredericLatour opened #16503 "Issue with k8s.io/docs/tasks/access-application-cluster/ingress-minikube/"
**This is a Bug Report**

I'm following the instructions on the page and and `curl hello-world.info` doesn't give the expected result.

**Problem:**
After following the instructions, when I `curl hello-world.info`, I get the following result:

[code]
I can confirm that the deployment and service work correctly. Accessing the service via:
`minikube service web --url
`
output the expected result (as

[2019-09-22 19:11] npf opened #16505 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
**This is a Bug Report**

**Problem:**
Module 2 - Deploy an app talks about deployments, and then about pods without explaining the relation between them.

**Proposed Solution:**
Explain.

**Page to Update:**
https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/

[2019-09-22 19:16] npf commented on #16505
May be sufficient to just say that the relation is explained in the next section

[2019-09-22 22:00] f-ruta opened #16506 "Minor doc Issue with k8s.io/docs/setup/learning-environment/minikube/"
**This is a Bug Report**

**Problem:**
Step2 reads :

    Let’s create a Kubernetes Deployment using an existing image named echoserver, which is a
    simple HTTP server and expose it on port 8080 using --port.

    kubectl run hello-minikube --image=k8s.gcr.io/echoserver:1.10 --port=8080

When executing the command listed above, the following error is returned:

    kubectl run hello-minikube --

[2019-09-22 22:47] iMerica opened #16507 "Improvement for k8s.io/docs/tasks/run-application/run-stateless-application-deployment/"
When Googling "Hello World k8s", this article is among the top 5 articles in the search results.

Unfortunately the article doesn't actually "Hello World" at all.  It doesn't actually let the reader see the results of their work.

I suggest completing the tutorial with steps to see something in a browser from an nginx deployment (the fruit of the labor). Otherwise the tutorial is like video of a c

[2019-09-22 23:35] ysyukr commented on #16364
/assign

[2019-09-22 23:40] ysyukr commented on #16364
안녕하세요.
리포트 감사합니다. 해당 부분 확인되어 수정된 PR이 제출될 예정입니다.

[2019-09-23 02:42] jjburr opened #16509 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-gmsa/"
Following each step on the doc, when creating a pod with the gmsa account I get an error:

deployment.yaml": error validating data: ValidationError(Deployment.spec.template.spec.securityContext): unknown field "windowsOptions" in io.k8s.api.core.v1.PodSecurityContext; if you choose to ignore these errors, turn validation off with --validate=false

**Problem:**
Cant deploy pod with gmsa account in

[2019-09-23 03:35] #16453 closed

[2019-09-23 05:58] diguage opened #16510 "The tool of markdown maybe have a bug."
I sent a PR for fixing a document style bug:  [fix markdown syntax by diguage · Pull Request #16452 · kubernetes/website](https://github.com/kubernetes/website/pull/16452)

I review the render result, and I found the tool of Markdown maybe have a bug.

## Before I fix the error:

[code]
    KUBELET_ARGS="--cluster-dns=10.254.0.10 --cluster-domain=kube.local --manifest-url=<manifest-url>`
[code]
[c

[2019-09-23 07:21] #16409 closed

[2019-09-23 08:39] sftim commented on #16510
The way I see it, the rendering via Hugo is canonical. Visual Studio Code's preview is a hint at how the source might get rendered.

Would you agree with
/triage support
@diguage?

[2019-09-23 08:40] sftim commented on #16492
/kind bug
/close
Fixed in #16497 (I think)

[2019-09-23 08:40] #16492 closed

[2019-09-23 08:50] sftim commented on #15079
/close

[2019-09-23 08:50] #15079 closed

[2019-09-23 08:53] sftim commented on #16505
Thanks for the suggestion
/triage backlog

[2019-09-23 08:55] sftim commented on #16503
The current page suggests

It sounds possible to clarify that, helping readers clearly understand what steps to follow so that the subsequent `curl` command works OK.

/priority backlog

[2019-09-23 08:56] sftim commented on #16505
Oops
/priority backlog

[2019-09-23 08:59] sftim commented on #16507
When I search Google for “Hello World k8s”, this article isn't in the top 5 results for me.

The [page](https://kubernetes.io/docs/tasks/run-application/run-stateless-application-deployment/) could do with mentioning in a _what's next_ section about how to expose that Deployment to the internet. If the reader wants to see something, exposing the Deployment is a good way to make that happen.

/prio

[2019-09-23 09:02] FredericLatour commented on #16503
@sftim I should had mentioned that I had indeed updated my Hosts file. I was able to ping hello-world.info and get a reponse from minikube ip.
And yes, I'm aware of the `minikube ip` command.
Just to be sure, I will re-play the page instructions once more.

[2019-09-23 09:09] sftim commented on #16503
@FredericLatour if you can clarify what needs to change on the page to get it right, that'll help a lot towards a fix.

[2019-09-23 09:43] FredericLatour commented on #16503
@sftim It works now. It seems that the page was updated today and that the reason it was not working was because there was no base path. (that is `hello-world.info/whatever` would have worked properly)
On a different note: do you know why when I access hello-world ingress does not seem to automatically redirect to https whereas it is the case each time I tried to set up a site of mine?

[2019-09-23 09:49] sftim commented on #16503
Thanks for the update @FredericLatour
You can get more help via [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes), from the [Kubernetes Slack](http://slack.k8s.io/) organization, or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

Fixed via #16458
/close

[2019-09-23 09:49] #16503 closed

[2019-09-23 09:53] diguage commented on #16510
@sftim

Sorry, I don't agress with the statement.

The `>` tags are a blockquote tag of Markdown.

There are two guides for Markdown which explains the syntax.

* [Basic Syntax | Markdown Guide](https://www.markdownguide.org/basic-syntax/#blockquotes-1)
* [Mastering Markdown · GitHub Guides](https://guides.github.com/features/mastering-markdown/)

[2019-09-23 10:02] sftim commented on #16510
/remove-triage support
Sounds like there's more to discuss.

[2019-09-23 10:02] sftim commented on #16471
/priority backlog

[2019-09-23 10:03] sftim commented on #16468
/priority backlog

[2019-09-23 10:06] sftim commented on #16466
Good point. However, https://kubernetes.io/docs/concepts/services-networking/dual-stack/ doesn't currently mention `fd00::` (it does mention `fc00::/24`). Is that what you meant to report @markzzzsmith ?

Also, @markzzzsmith you can if you wish edit the original issue text to update the slideshow URL

[2019-09-23 10:24] sftim commented on #15100
/close

[2019-09-23 10:24] #15100 closed

[2019-09-23 10:25] sftim commented on #15101
/close

[2019-09-23 10:25] #15101 closed

[2019-09-23 10:35] ksripathi commented on #674
@soheilade

[2019-09-23 12:31] ipuustin opened #16515 "Broken link in https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/"
**This is a Bug Report**

**Problem:**
Halfway down https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/ there's a link "special attention to upgrade" pointing to https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-14/ . That link is broken (404).

**Proposed Solution:**
Find out why the target page was removed, then either fix the link o

[2019-09-23 13:14] sftim commented on #16515
Hmm. I thought that there would be a page https://v1-15.docs.kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/

(equivalent to https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/)
but there isn't.

Anyway, it's a valid issue.
/priority backlog
/kind bug

[2019-09-23 14:51] sftim commented on #15097
/close
Fixed via #14816

[2019-09-23 14:51] #15097 closed

[2019-09-23 15:12] sftim commented on #16066
Revised the issue description as v1.16 is now out.

[2019-09-23 16:35] conwaychriscosmo commented on #16463
/assign

[2019-09-23 16:55] conwaychriscosmo commented on #16463
I want to confirm that the task is to change website/content/en/docs/reference/glossary/helm-chart.md line 5 from ```full_link: https://github.com/kubernetes/helm/blob/master/docs/charts.md``` to ```full_link:https://helm.sh/docs/developing_charts/```  Is there anything I am missing?

[2019-09-23 20:20] aimeeu commented on #16510
Hi @diguage - I think Hugo is rendering the Markdown correctly.

Repeating part of the comment I left on your PR #16452:

Thanks for all the detail! Using blockquote '>' syntax: markdownguide.org's [blockquotes with other elements](https://www.markdownguide.org/basic-syntax/#blockquotes-with-other-elements) section says "Blockquotes can contain other Markdown formatted elements. Not all elements c

[2019-09-23 20:27] aimeeu commented on #16100
/priority backlog

[2019-09-23 20:37] aimeeu commented on #16143
/priority important-soon

[2019-09-23 20:48] aimeeu opened #16527 "How should we handle pages that contain “allowed project” content that is similar but not exactly a duplicate of the project’s README, especially when the README appears to be more up-to-date"
**This is a Feature Request**

**How should we handle pages that contain “allowed project” content that is similar but not exactly a duplicate of the project’s README, especially when the README appears to be more up-to-date?**

Example: Monitor Node Health docs page is 100% about node-problem-detector
https://kubernetes.io/docs/tasks/debug-application-cluster/monitor-node-health
https://github.co

[2019-09-23 20:48] aimeeu commented on #16527
/priority backlog

[2019-09-23 21:18] aimeeu commented on #16510
/priority awaiting-more-evidence

[2019-09-23 21:24] aimeeu commented on #16509
Hi @jjburr . Sorry you're getting an error. This issue sounds first like a request for support, and then maybe a documetation issue. I encourage you to ask
your question to the `#kubernetes-users` channel in
[Kubernetes slack](http://slack.k8s.io/). You can also search
resources like
[Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes)
for answers to similar questions.

You can

[2019-09-23 21:29] aimeeu commented on #16506
Hi @f-ruta - thanks for bringing this to our attention.

/priority important-soon

[2019-09-23 21:32] aimeeu commented on #15450
/sig cluster-lifecycle

[2019-09-23 21:32] #14061 closed

[2019-09-23 21:37] aimeeu commented on #16495
Hi @bappa0604  - thanks for creating this detailed issue.
Which documentation page?

Also, since this is a support issue, have you asked for help in the `#kubernetes-users` channel in
[Kubernetes slack](http://slack.k8s.io/)?

/triage needs-information

/triage support

[2019-09-23 21:47] aimeeu commented on #16482
Hi @savitharaghunathan - the 1.16 version of the documentation no longer contains a _creating a sample user_ link in that section.
1.15 [page](https://v1-15.docs.kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard/#accessing-the-dashboard-ui)
1.16 [page](https://kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard/#accessing-the-dashboard-ui)

If you need help crea

[2019-09-23 21:59] savitharaghunathan commented on #16482
@aimeeu, In that case, I think the link should be removed instead of pointing to a different page. What are your thoughts on that?

[2019-09-23 23:21] savitharaghunathan commented on #16482
@aimeeu, Thanks for the clarification.

/close

[2019-09-23 23:21] #16482 closed

[2019-09-23 23:58] savitharaghunathan opened #16530 "Replace html table with markdown in https://kubernetes.io/docs/tasks/administer-cluster/reconfigure-kubelet/#understanding-node-status-config-error-messages"
**This is a Feature Request**

Replace html table with markdown in the page - https://kubernetes.io/docs/tasks/administer-cluster/reconfigure-kubelet/#understanding-node-status-config-error-messages

**Why is this needed**
To ensure consistency across the Kubernetes documentation.

[2019-09-23 23:59] savitharaghunathan commented on #16530
/priority backlog
/language en
/assign

[2019-09-24 04:14] diguage commented on #16510
I used to use the GitHub Format Markdown.
Markdown has too many dialects. There are many differences amount the dialects.
Let me learn the BlackFriday Markdown processor. 😆

[2019-09-24 07:46] #16415 closed

[2019-09-24 07:47] #16417 closed

[2019-09-24 07:47] #16364 closed

[2019-09-24 08:19] medmedchiheb commented on #16506
/assign

[2019-09-24 08:46] sftim commented on #15108
/priority backlog

[2019-09-24 08:54] sftim commented on #16463
/lifecycle active

[2019-09-24 08:56] sftim commented on #16463
@conwaychriscosmo you haven't missed anything; this one is a simple fix

[2019-09-24 08:56] #14470 closed

[2019-09-24 11:55] neolit123 commented on #16495
actually this is no longer a problem.

see:

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#pod-network

https://raw.githubusercontent.com/coreos/flannel/32a765fd19ba45b387fdc5e3812c41fff47cfd55/Documentation/kube-flannel.yml

[2019-09-24 14:15] arianvp opened #16538 "Issue with k8s.io/docs/reference/setup-tools/kubeadm/kubeadm-join/ giving insecure advice"
**This is a Bug Report**

**Problem:**

The docs mentions (emphasis mine)

But this is not true anymore. _if_ the discovery file contains credentials, then `kubeadm` will use them. If it doesn't contain credentials an extra `--tls-bootstrap-token` needs to be provided. As it says a few sentences up:

**Proposed Solution:**

Either remove the part about the file not being secret.  Or mention very c

[2019-09-24 14:37] neolit123 commented on #16538
/assign
/sig cluster-lifecycle

[2019-09-24 15:54] sftim commented on #16538
/priority backlog

[2019-09-24 15:54] sftim commented on #16490
/priority backlog

[2019-09-24 15:55] sftim commented on #16479
@khteh I don't think I understand this report.

I'm not sure if you have spotted a mistake in the documentation, or if you have found it hard to follow and want help. Can you clarify?
/triage needs-information

[2019-09-24 16:01] sftim commented on #16510
@diguage are you OK to close this issue?

[2019-09-24 16:41] sftim commented on #16288
/priority backlog

[2019-09-24 16:42] sftim commented on #16201
/priority backlog

[2019-09-24 16:52] sftim commented on #15123
/remove-lifecycle stale

[2019-09-24 17:57] #16321 closed

[2019-09-24 18:22] kbhawkey commented on #16454
Should be corrected now.
/close

[2019-09-24 18:22] #16454 closed

[2019-09-24 22:42] markzzzsmith commented on #16466
Yes, I didn't notice the 'fc', as the all-zeros part and the /24 length were more obvious errors.

'fc' is also very incorrect, that would be for ULAs for which there is assured global uniqueness due to there being a central registry. No central registry has been setup, so the only valid ULAs are ones that start with 'fd' - the L or Local bit is switched on.

I don't really know much about Kuberne

[2019-09-25 00:59] #16530 closed

[2019-09-25 03:11] 1-step opened #16541 "Issue with k8s.io/zh/docs/home/"
**This is a Bug Report**
远端主机访问kube proxy暴露的接口，会导致token输入无反应！

**Problem:**
我想要通过node port配合aws alb ingress controller的方式暴露dashboard的服务，因为有token验证，相对安全，但可能由于官方dashboard中https使用的是自动生成的证书，导致我ingress使用443端口关联service时，页面无法正常显示（访问nodeip:port没有内容）。部分配置如下：
[code]
[code]
planB：考虑将servicePort改为80端口，使用1.10.1版本镜像，可以访问dashboard但是无法进行token验证，不安全。
planC：使用kube proxy的方式访问dashboard，使用命令
kubectl proxy --address='0

[2019-09-25 03:55] rschooley opened #16542 "Issue with k8s.io/docs/home/ Example buttons do not work"
**This is a Bug Report**

**Problem:**
The "kubectl example" and "curl example" buttons do not currently work.

Bootstrap fails to load and I'm guessing the toggle for the details panel is handled by that.

**Proposed Solution:**
Make sure the file is deployed: https://kubernetes.io/js/bootstrap-3.3.7.min.js
or just use a CDN

**Page to Update:**
https://kubernetes.io/docs/reference/generated/kube

[2019-09-25 05:40] jjburr commented on #16509
Thanks will close this out and ask in slack

[2019-09-25 05:40] #16509 closed

[2019-09-25 07:03] drejmar opened #16544 "Issue with k8s.io/docs/tasks/access-application-cluster/ingress-minikube/"
**This is a Bug Report**

**Problem:**
Formatting of example-ingress.yaml is messed up

**Page to Update:**
https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/#create-an-ingress-resource

[2019-09-25 07:28] drejmar commented on #16544
https://github.com/kubernetes/website/pull/16545

[2019-09-25 08:39] sftim commented on #15139
/close

[2019-09-25 08:39] #15139 closed

[2019-09-25 08:42] #16506 closed

[2019-09-25 08:55] zacharysarah commented on #7030
@sftim I think the backlog is a good place for this--and @Bradamant3's recommendation of vale may be remarkably prescient.

https://errata-ai.github.io/vale/
https://github.com/apps/vale-linter

[2019-09-25 09:11] sftim commented on #7030
Sounds good to me!

[2019-09-25 09:19] diguage opened #16546 "Does the default reclaim policy change to “Retain” ?"
I read the documentation: [Change the Reclaim Policy of a PersistentVolume - Kubernetes](https://kubernetes.io/docs/tasks/administer-cluster/change-pv-reclaim-policy/).
It says that `For dynamically provisioned PersistentVolumes, the default reclaim policy is “Delete”.`.

But I check the result of a PersistentVolume object which I created. Its reclaim policy is `Retain`.

[code]

I follow the docu

[2019-09-25 09:38] #16510 closed

[2019-09-25 13:06] aimeeu commented on #16544
/assign @drejmar

[2019-09-25 13:07] aimeeu commented on #16544
@drejmar thanks for submitting a PR to fix this issue!

[2019-09-25 13:07] aimeeu commented on #16541
/language zh

[2019-09-25 14:44] savitharaghunathan commented on #16542
/kind bug

[2019-09-25 15:52] #16100 closed

[2019-09-25 16:25] bells17 opened #16553 "Translate reference/command-line-tools-reference/feature-gates in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate reference/command-line-tools-reference/feature-gates in Japanese

**Why is this needed**

This document is not translated in Japanese.

**Comments**

Original:
https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/

/language ja
/assign

[2019-09-25 18:05] AnishAnil opened #16555 "Issue with k8s.io/docs/concepts/workloads/controllers/jobs-run-to-completion/"
Following this document.

https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/

Trying to kill the job once the job is successful.

My Yaml file is the same provided in the readme

apiVersion: batch/v1
kind: Job
metadata:
  name: pi-with-ttl
spec:
  ttlSecondsAfterFinished: 100
  template:
    spec:
      containers:
      - name: pi
        image: perl
        command

[2019-09-25 19:17] savitharaghunathan commented on #16542
1.16 is pointing to 3.3.7. Updating it to point to v4.3.1 (https://kubernetes.io/js/bootstrap-4.3.1.min.js )should make these buttons work.

[2019-09-25 20:30] medmedchiheb commented on #16542
Yes should work but the change must be made in the [api reference generator](https://github.com/kubernetes-incubator/reference-docs)

[2019-09-25 20:32] medmedchiheb commented on #16542
/assign

[2019-09-25 20:36] aimeeu commented on #16542
@medmedchiheb Thanks for assigning this to yourself! I'm not very familiar with the kubernetes-incubator/reference-docs.  Is it possible to point to a CDN instead of updating bootstrap.min.js ?

[2019-09-25 20:43] medmedchiheb commented on #16542
It's just a quick fix, as you can see from the template.
And then you can test by executing update-reference-docs.

https://github.com/kubernetes-incubator/reference-docs/blob/88f6483855ac68ee6041cd8e90169f7f5268dc2b/gen-apidocs/generators/html.go#L604

[2019-09-25 22:09] sftim commented on #14580
/close

[2019-09-25 22:09] #14580 closed

[2019-09-25 22:30] sftim commented on #16544
/priority backlog
/lifecycle active

[2019-09-25 22:36] sftim commented on #16555
This seems like a support request @AnishAnil

.For help, you could try [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) (the `kubernetes` tag).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.
/triage support

[2019-09-25 22:38] sftim commented on #16546
This seems like a support request @diguage

For help, you could try [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) (the `kubernetes` tag).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.
/triage support

I might be wrong. If you're sure there's an issue with the documentatio

[2019-09-25 23:29] bgrant0607 commented on #15748
To echo what other Steering Committee members have voiced, and as a CNCF TOC member: I don't think this issue is cut and dry.

Kubernetes depended on Etcd and Docker at the time it was donated to CNCF, neither of which was a CNCF project at the time (there were no other CNCF projects!), and still has lots of dependencies on other open-source repos. The CNCF has more projects now, but the full spac

[2019-09-25 23:32] #16114 closed

[2019-09-26 00:22] bgrant0607 commented on #15748
And regarding KEP: I don't think the intent was to request a KEP for each individual change. KEP is the mechanism we've adopted for significant project changes, especially across SIGs.

[2019-09-26 02:08] bgrant0607 commented on #15748
Also, I looked at https://github.com/kubernetes/website/pull/15892, https://github.com/kubernetes/website/issues/15576, and https://github.com/kubernetes/website/pull/15774, but the origin of the CNCF project requirement is not clear. There's no precedent in the Kubernetes project for such a distinction that I can recall.

I also looked at the Slack archives, though I have to say that Slack is a p

[2019-09-26 03:21] MJayakumar opened #16561 "Issue with k8s.io/docs/tasks/administer-cluster/topology-manager/"
**This is a Bug Report**
just a simple spelling.  It says "Topology Manager polices preform". It should say "policies perform"

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-09-26 06:33] atoato88 opened #16563 "Typo in "New issue" page on k/website issues"
**This is a Bug Report**

**Problem:**
There is a `Kubernetes Dashboard project` in `about` at `.github/ISSUE_TEMPLATE/support.md`

It's better to change `Kubernetes Dashboard project` with `Kubernetes Website project`

**Proposed Solution:**

Change `Kubernetes Dashboard project` with `Kubernetes Website project` in `about` of `.github/ISSUE_TEMPLATE/support.md`

**Page to Update:**

https://gith

[2019-09-26 06:43] #16544 closed

[2019-09-26 07:30] sftim commented on #16563
/lifecycle active
/priority backlog

[2019-09-26 07:31] sftim commented on #16561
/priority backlog
/good-first-issue
Thanks for mentioning this @MJayakumar

[2019-09-26 07:31] sftim commented on #16542
/priority backlog

[2019-09-26 07:38] sftim commented on #13650
/priority backlog

[2019-09-26 07:41] sftim commented on #10691
/remove-lifecycle stale
/priority backlog

[2019-09-26 07:42] sftim commented on #13534
On the assumption that this does want fixing:
/priority backlog
/remove-lifecycle stale

[2019-09-26 07:42] sftim commented on #13807
/priority backlog

[2019-09-26 07:44] sftim commented on #14457
/priority backlog

[2019-09-26 07:45] sftim commented on #14351
/triage awaiting-evidence

[2019-09-26 07:45] sftim commented on #14351
/priority awaiting-more-evidence

[2019-09-26 07:46] sftim commented on #14665
Fixed via #14677
/close

[2019-09-26 07:46] #14665 closed

[2019-09-26 07:47] sftim commented on #15083
/priority backlog

[2019-09-26 08:02] diguage commented on #16546
@sftim
There are three problems:

1. Is the PersistentVolume object I created a dynamically provisioned PersistentVolumes?
2. If the first problem is "Yes", **Why is the default reclaim policy  “ Retain”?**
3. **I change the reclaim policy to "Delete". The command does not wor.**

Let me google the problem and then add more description.

[2019-09-26 08:23] MieSato opened #16567 "Need sync: Kubernetes case study content on kubernetes.io with that on cncf.io"
**This is a Bug Report**

**Problem:**
- JP's contributors have translated some of K8s case studies on cncf.io site.
- We are going to publish those JP content here:
https://kubernetes.io/ja/case-studies/
- However, we found that the English content on K8s site are little bit different from that on CNCF site.

ex.) Amadeus' "Challenge", "Solution", "Impact", etc. on these two site are not identica

[2019-09-26 09:14] feloy opened #16571 "Feature request: I would like to know the version of the original file for a translated file"
**This is a Feature Request**

**What would you like to be added**

As a translator of documentation pages, it is difficult for me to know on which version of the original file is based a translation.

I would like to know precisely on which version of the original file is based a translation, so I can update the translation with all the updates made in the original file since the last translation

[2019-09-26 09:54] c5253458 commented on #14351
The proposed change of documentation is not about default behaviour (which might change),
but on how to define well defined port forwarding.

[2019-09-26 10:35] bells17 commented on #16336
sorry, this page is already translated in https://github.com/kubernetes/website/pull/16099

[2019-09-26 10:35] #16336 closed

[2019-09-26 12:17] #16468 closed

[2019-09-26 13:33] #16563 closed

[2019-09-26 14:07] aimeeu commented on #16542
this is two-fold: 1) update the code in the kubernetes-incubutor/reference-docs project (longterm fix); and 2) update kubernetes/website/static.....     See Slack [thread](https://kubernetes.slack.com/archives/C1J0BPD2M/p1569439245104900)

[2019-09-26 14:16] gochist opened #16573 "Outdated Korean contents in the release-1.15 branch"
# This is a Bug Report
## Problem
Outdated Korean contents in the release-1.15 branch.

### 3 files to be modified
1. [ ] content/en/_index.html 1 file changed, 1 insertion(+)
1. [ ] content/en/docs/concepts/workloads/controllers/deployment.md 1 file changed, 1 insertion(+), 1 deletion(-)
1. [ ] content/en/docs/setup/_index.md 1 file changed, 1 insertion(+), 1 deletion(-)

### 0 files to be rename

[2019-09-26 14:17] gochist commented on #16573
/language ko

[2019-09-26 14:18] gochist commented on #16242
/close

[2019-09-26 14:18] #16242 closed

[2019-09-26 14:25] medmedchiheb commented on #16542
already fixed bootstrap version

https://github.com/kubernetes-incubator/reference-docs/blob/6c1496ba33b6aed9ab6af886412e8487f534194e/gen-apidocs/generators/html.go#L604

[2019-09-26 14:55] jimangel commented on #15138
/remove-lifecycle stale
@lucperkins would you have any cycles to take a peek at this?

[2019-09-26 15:12] aimeeu commented on #16542
/remove-priority backlog
/priority critical-urgent

Updating the current generated API doc index.html is critical because the buttons don't work (see #16263 for v1.15). Long-term fix has already been added to kubernetes-incubator/reference-docs.

[2019-09-26 15:18] sftim commented on #16567
I think:
/kind cleanup
/priority backlog

[2019-09-26 15:24] lucperkins commented on #15138
I vote for (a) removing this from the CI path completely but (b) leaving the scripts in place for people to run ad hoc manual tests if they wish. It’s a nice idea but, in my opinion, not sufficiently beneficial or central to our core mission to warrant even the bandwidth we’ve already expended on it. If someone would like to step up and act as a steward of the examples, running the tests on their

[2019-09-26 15:27] sftim commented on #16542
/lifecycle active

[2019-09-26 19:05] ebcarty commented on #16571
Perhaps we can bring this up in the next [SIG-Docs call](https://github.com/kubernetes/community/tree/master/sig-docs#meetings) to agree upon the best method to ensure translations have a reference to their original English version and determine when they should/can be updated.

[2019-09-26 20:24] ebcarty commented on #14810
Not sure if this belongs here, but I also ran into an issue with the Secret generated not being referenced properly by `mysql.yaml` since it was looking for a Secret named `mysql-pass` but the generated one had random characters appended in its name.

As such, I recommend adding the following two lines to the `secretGenerator:`
[code]

[2019-09-26 21:04] ebcarty commented on #14810
after discussing with Hugues Alary in #kustomize it seems that the issue stems from the version difference with `kubectl` which uses [kustomize version v2.0.3](https://github.com/kubernetes-sigs/kustomize#kubectl-integration) and it's kustomize version v3.2.0 that updates Secrets and ConfigMaps with the correct name in the referenced yaml files.

As such, after installing kustomize and confirm the

[2019-09-27 00:01] ysyukr commented on #16573
/assign

[2019-09-27 00:28] ysyukr commented on #16573
/close

[2019-09-27 00:28] #16573 closed

[2019-09-27 01:07] ysyukr opened #16578 "Translate docs/templates/feature-state-*.txt in Korean"
**This is a Feature Request**

**What would you like to be added**
Translate docs/templates/feature-state-*.txt in Korean
- [x] /ko/docs/templates/feature-state-alpha.txt
- [x] /ko/docs/templates/feature-state-beta.txt
- [x] /ko/docs/templates/feature-state-deprecated.txt
- [x] /ko/docs/templates/feature-state-stable.txt

**Why is this needed**
No traslation with Translate docs/templates/feature-s

[2019-09-27 01:08] ysyukr commented on #16578
/assign

[2019-09-27 03:57] manyatripathi commented on #16561
I would like to update this.

[2019-09-27 08:15] sftim commented on #16561
/lifecycle active

[2019-09-27 08:16] zealzhangz opened #16582 "Issue with k8s.io/docs/tutorials/stateful-application/cassandra/"
**This is a Bug Report**

**Problem:**
In this case how can I connect the cassandra cluster by cqlsh tool from an external IP?

**Proposed Solution:**
I tried this setting，I'm not sure if this is the best graceful way.:

[code]

**Page to Update:**

[2019-09-27 08:37] sftim opened #16583 "Document (or improve) “Autoscale your kubernetes cluster”"
**This is a Feature Request**

I searched DuckDuckGo, Bing, and Google for “Autoscale your kubernetes cluster”. None of these showed results from sites that SIG Docs look after.

**What would you like to be added**
Add a new Task page that covers how to deploy the cluster autoscaler and why you might want to do so.
Signpost readers to other kinds of autoscaling (eg HorizontalPodAutoscaler).

**Why

[2019-09-27 08:37] sftim commented on #16583
/priority important-longterm

[2019-09-27 11:32] shirishk opened #16588 "Issue with k8s.io/docs/reference/glossary/ Typo in 'Container runtime interface (CRI)'"
**This is a Bug Report**

**Container runtime interface (CRI)**
The container runtime interface (CRI) is an an API for container runtimes to integrate with kubelet on a node.[-]
For more information, see the CRI API and specifications.

**Problem:**
Typo "an an API"

**Proposed Solution:**
Should be  "an API"

**Page to Update:**
https://kubernetes.io/docs/reference/glossary/?fundamental=true

Kub

[2019-09-27 13:22] dblees opened #16589 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
**This is a Bug Report**

 Hi. this is in regards to the tutorial having 'kubectl run' .. says it is deprecated.

**Problem:**
This is the second page after continue in the tutorial ..
kubectl run kubernetes-bootcamp --image=gcr.io/google-samples/kubernetes-bootcamp:v1 --port=8080

**Proposed Solution:**
Convert this to use kubectl apply or kubectl create .. whatever is appropriate here.
I assume

[2019-09-27 15:42] sftim commented on #16588
Thanks for spotting this @shirishk

/priority backlog
/language en
/good-first-issue

[2019-09-27 15:42] sftim commented on #16588
/kind cleanup

[2019-09-27 15:43] sftim commented on #16582
@zealzhangz it sounds like you'd like help here. GitHub is not the right place for support requests.

If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes)

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

If I've misunderstood (maybe you have an id

[2019-09-27 15:44] sftim commented on #16589
@dblees thanks for reporting this!
/priority backlog

[2019-09-27 19:11] #16245 closed

[2019-09-28 10:18] networkandcode opened #16597 "Improvement for k8s.io/docs/tasks/administer-cluster/declare-network-policy/"
Could we have uniformity in pod selection based on labels, I mean for controllers we do it using selector > matchLabels. For services its just selector >. Where as for NetworkPolicies it takes the form podSelector > matchLabels

[2019-09-28 14:25] BenHall commented on #16589
@dblees Thanks for letting us know! We are working on this and being tracked at #15512

[2019-09-28 23:50] gochist commented on #16438
/close

[2019-09-28 23:50] #16438 closed

[2019-09-29 06:30] oke-py opened #16605 "Feature Gates document is outdated"
**This is a Bug Report**

**Problem:**
Feature Gates document is outdated.
For example, `CustomResourceDefaulting` is default: true and stage: Beta in 1.16.
However, it is documented as default: false, stage: Alpha.

**Proposed Solution:**
If I understand correctly, this page is auto-generated, and so re-generation might resolve this issue.

**Page to Update:**
https://kubernetes.io/docs/reference

[2019-09-29 07:53] plutonji opened #16606 "Need Chinese edition of https://kubernetes.io/docs/concepts/storage/persistent-volumes/"
**This is a Feature Request**

This page <https://kubernetes.io/docs/concepts/storage/persistent-volumes/> only have editions of English and Bahasa Indonesia.

**What would you like to be added**

Chinese edition of this document.

**Why is this needed**

Persistent volume is a basic and important concept of Kubernetes. We should have common languages' editions of this page and for me, it's Chines

[2019-09-29 11:01] hjacobs opened #16607 "Liveness Probes: mention that they can worsen app availability"
**This is a Feature Request**

Change request for: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/

**What would you like to be added**

I would like to have a clear warning on the [Configure Liveness, Readiness and Startup Probes page](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/) that L

[2019-09-29 11:07] hjacobs commented on #16607
This was triggered by this Tweet which suggests reading the docs is enough (which it's not as the pitfalls are not mentioned): https://twitter.com/Guillaume_Swiss/status/1178258781152563200

[2019-09-29 11:14] hjacobs commented on #16607
I don't want to add "never use liveness probes", but I think the documentation page is currently not balanced as it mentions "availability" only as benefit of Liveness Probe and not the downsides.

[2019-09-29 11:17] girikuncoro commented on #15341
I have cleaned up dangling page claims that didn't get response from the contributors. Will be extending this M2 tracker till the end of October.

/lifecycle active

[2019-09-29 11:26] hjacobs commented on #16607
Note that the answer to ["When should you use a liveness probe?"](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#when-should-you-use-a-liveness-probe) also does not provide any hints on potential dangers:

For the naive application developer this might sound good ("restart my container on failure? yes, I want this of course!") --- the documentation does not mention that there is

[2019-09-29 12:17] gochist opened #16608 "Outdated files in the dev-1.16-ko.2 branch"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.16-ko.2 branch.

### 11 files to be modified
1. [x] content/en/docs/concepts/overview/working-with-objects/namespaces.md 1 file changed, 1 insertion(+), 1 deletion(-)
1. [x] content/en/docs/concepts/workloads/controllers/cron-jobs.md 1 file changed, 1 insertion(+), 1 deletion(-)
1. [x] content/en/docs/concepts/workloads/control

[2019-09-29 21:02] jammerful commented on #16588
/assign

[2019-09-29 23:55] darkfoxprime commented on #15197
/remove-lifecycle stale

[2019-09-29 23:58] ysyukr commented on #16608
/assign

[2019-09-30 05:35] Vageesha17 commented on #16588
I would like to solve this issue.

[2019-09-30 06:21] Whatafack opened #16615 "Issue with k8s.io/zh/docs/home/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-09-30 07:06] ysyukr opened #16616 "Translate concepts/workloads/pods/ephemeral-containers.md in Korean"
**This is a Feature Request**

**What would you like to be added**
Translate concepts/workloads/pods/ephemeral-containers.md in Korean

**Why is this needed**
The following files are not translated into Korean.
- [ ] /en/docs/concepts/workloads/pods/ephemeral-containers.md

**Comments**
Page to update: https://kubernetes.io/docs/concepts/workloads/pods/ephemeral-containers/

Files translated into

[2019-09-30 07:06] ysyukr commented on #16616
/assign

[2019-09-30 08:57] singhania opened #16618 "Issue with k8s.io/docs/tutorials/stateful-application/zookeeper/"
**This is a Bug Report**

**Problem:**
Solution on zookeeper on kubernetes page does not have the latest version of zookeeper.
**Proposed Solution:**
It will be helpful if this zookeeper deployment can use new docker with latest zookeeper version.

**Page to Update:**
https://kubernetes.io/docs/tutorials/stateful-application/zookeeper/

Latest

[2019-09-30 09:02] sftim commented on #16588
Anyone who'd like to submit a pull request is welcome. It looks like @jammerful has already made a start.

[2019-09-30 09:09] sftim commented on #14181
/close

[2019-09-30 09:09] #14181 closed

[2019-09-30 10:31] ankgoya1 opened #16619 "Issue with k8s.io/docs/tutorials/kubernetes-basics/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-09-30 13:29] sftim commented on #16606
/language zh
/priority backlog

[2019-09-30 13:31] sftim commented on #16607
This is a valid issue
/priority backlog

[2019-09-30 13:32] sftim commented on #16605
Thanks for pointing this out @oke-py
/priority important-longterm

[2019-09-30 13:32] sftim commented on #16618
/kind cleanup
/priority backlog

[2019-09-30 13:34] sftim commented on #16597
This sounds like a request to change Kubernetes' behavior, rather than a report that the documentation isn't right.

@networkandcode If you want to make a request for Kubernetes to work differently, visit https://github.com/kubernetes/kubernetes/issues/new/choose

/priority awaiting-evidence

[2019-09-30 13:38] savitharaghunathan commented on #16619
Hi @ankgoya1, Can you briefly explain a little bit more about the issue?
/triage needs-information

[2019-09-30 16:15] jpmolinamatute opened #16623 "Issue with k8s.io/docs/tasks/debug-application-cluster/debug-init-containers/"
**This is a Bug Report**
**Problem:** the title of the page is debug init containers, but it doesn't say how to debug a container when it failed this is actually when we need to debug it

**Proposed Solution:** explain what other steps we can take to debug a failed container/pod

**Page to Update:**
https://kubernetes.io/docs/tasks/debug-application-cluster/debug-init-containers/.

[2019-09-30 16:56] chillbilly79 opened #16624 "Improvement for k8s.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/"
I am trying to follow this documentation to learn how to configure and use a persistent volume for a nfs share.  I realize this specific document says it is for a cluster with only one node.  I am suggesting to add another example that uses a cluster with multiple nodes,  The concepts that are not obvious to me from this documentation are how to set up the roles and cluster role binding.  A comple

[2019-09-30 20:15] #16542 closed

[2019-09-30 20:39] aimeeu commented on #16615
/language zh
/triage needs-information

Hi @Whatafack  - would you provide more information on what the issue is?

[2019-09-30 20:47] sftim commented on #16624
Thanks for the suggestion and feedback @chillbilly79
/kind feature
/priority backlog

[2019-09-30 20:50] sftim commented on #16623
It sounds like the improvement you want is for https://kubernetes.io/docs/tasks/debug-application-cluster/debug-init-containers/ to clearly tell readers what it's _not_ about. If readers want to learn about debugging Pod failure, using emphemeral containers, reading logs etc then this revised page can link to those other pages from its front matter.

Have I got that right @jpmolinamatute ?

[2019-09-30 20:50] sftim commented on #14818
/priority backlog

[2019-09-30 20:51] sftim commented on #14623
Fixed by #14662
/close

[2019-09-30 20:51] #14623 closed

[2019-09-30 20:52] sftim commented on #14817
/priority backlog

[2019-09-30 20:53] sftim commented on #15185
/priority backlog

[2019-09-30 20:54] sftim commented on #15786
I tried adding feedback and found that the What's Next section remained. Is there still an issue?
/triage awaiting-evidence

[2019-09-30 20:56] sftim commented on #15786
/priority awaiting-more-evidence

[2019-09-30 20:57] aimeeu opened #16628 "Add a text to each page specifying who is responsible for content"
**This is a Feature Request**

**What would you like to be added**
Add text to each page that specifies which SIG and/or project is responsible for page content.

**Why is this needed**
- This will help contributors triaging website issues to properly label and route the issue; also to direct support requests to the correct Slack channel (ie #minikube instead of #kubernetes-users); the SIG page in

[2019-09-30 20:57] sftim commented on #14829
/remove-lifecycle stale
/priority important-longterm

[2019-09-30 20:57] aimeeu commented on #16628
/priority important-longterm

Zach suggested having a sprint that involves the SIGs.

[2019-09-30 20:58] aimeeu commented on #16628
/kind feature
/sig docs

[2019-09-30 21:00] sftim commented on #16628
I'm guessing that this could be metadata in the front matter for pages, plus some cunning magic to convert that metadata into interactive behavior when readers want to give feedback.

[2019-09-30 21:01] sftim commented on #15066
/priority backlog

[2019-09-30 21:03] sftim commented on #15161
/priority backlog

[2019-09-30 21:03] sftim commented on #15086
/priority backlog

[2019-09-30 21:11] sftim commented on #15748
My understanding of how this issue came to be opened: the ecosystem is growing, and where there once were a few interfaces to a few cloud providers there could now be hundreds of vendors each wanting to have their control plane / kubeadm alternative / training course / special Ingress controller listed.

SIG Docs wanted to make sure there was some way to manage the potential sprawl of PRs, and it

[2019-09-30 21:12] sftim commented on #15748
Is there a KEP being drafted?

[2019-09-30 21:13] sftim commented on #15262
Good spot
/priority important-longterm

[2019-09-30 21:13] sftim commented on #15262
/help

[2019-09-30 21:13] zacharysarah commented on #15748
@sftim

Not yet, I just got back from vacation today. If you'd like to start drafting one, I'd support that. 👍

[2019-09-30 21:15] sftim commented on #16065
/priority backlog

[2019-09-30 21:16] sftim commented on #16093
/priority important-longterm

[2019-09-30 21:17] sftim commented on #15272
/kind cleanup
/priority backlog

[2019-09-30 21:17] sftim commented on #15272
Also:
/help

[2019-09-30 21:19] sftim commented on #15272
If anyone wants advice on how to tackle this issue, reply and mention me. I'll try to help.

[2019-09-30 21:21] sftim commented on #13546
/lifecycle active

[2019-09-30 22:30] moskyb opened #16629 ""Configure Liveness, Readiness and Startup Probes" doesn't explain the default for `intialDelaySeconds` on liveness/readiness probes"
**This is a Bug Report**

**Problem:** In [this section](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#define-readiness-probes), the defaults and constraint values for all values except `initialDelaySeconds`.

**Proposed Solution:** Add an explanation that the default value for `initialDelaySeconds is 0, and that this means that liveness prob

[2019-09-30 22:32] moskyb commented on #16629
Sorry about all the name changes - for a software engineer, typing isn't really my strong suit 😶

[2019-09-30 22:40] thockin commented on #16607
I'm OK to add something, but I'd rather phrase it in a more positive light.  E.g.

Liveness probes can be a powerful way to recover from application failures, but they should be used with caution.  Liveness probes must be configured carefully to ensure that they truly indicate unrecoverable application failure, for example a deadlock.  A common pattern for liveness probes is to use the same low-co

[2019-09-30 23:29] jpmolinamatute commented on #16623
Hi! @sftim

sure, that's one way to put it, the confusion that I was having is that the title talks about debugging, but there are not steps to do so. The article talks about how to get information of a container ( assuming that container is not in a failed state) and we need to debug when a container IS in a failed state. So my suggestion is either add steps to debug container is a failed state o

[2019-10-01 00:03] zacharysarah commented on #15748
Hi, folks. 👋 I'm back from vacation. Some thoughts before the steering committee meeting on Wednesday.

From @sftim:

I think that's an elegant summary. I'd add some things:

### Out of scope

From @philips:

Respectfully, this seems out of scope to the current discussion and doesn't bear directly on the third-party content policy as implemented/proposed.

### Moving forward in the near term

Folk

[2019-10-01 00:21] gochist commented on #16608
@ysyukr Thank you!
/close

[2019-10-01 00:21] #16608 closed

[2019-10-01 00:28] neolit123 commented on #15748
@zacharysarah

to clarify, content i was referring to like:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/
(which is one of the targets for 3rd party content removal)

is maintained and written by the kubeadm maintainers. it's the result of years of improvements and interactions with users, knowing which steps are problematic for them and grading on t

[2019-10-01 00:38] zacharysarah commented on #15748
@neolit123

No, agreed, that's as it should be. Feature owners should absolutely maintain their content; what we're trying to do is provide guidance on how to handle content for third party solutions. Right now there's no differentiation (and consequently no enforcement) in docs between content that's unique to k8s.io, content that's hosted in multiple places (leading to content that's stale on k8

[2019-10-01 00:57] neolit123 commented on #15748
i can see the problem of duplication and k8s.io vendor docs becoming out of date.

interestingly for some projects like Flannel, which is a CNCF hosted project, we are keeping the k8s website more up to date than the upstream state.

in this particular, this section:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#pod-network

currently contains a cert

[2019-10-01 02:13] ysyukr opened #16631 "Translate concepts/workloads/pods/pod-topology-spread-constraints.md in Korean"
**This is a Feature Request**

**What would you like to be added**
Translate concepts/workloads/pods/pod-topology-spread-constraints.md in Korean

**Why is this needed**
The following files are not translated into Korean.
- [ ] /en/docs/concepts/workloads/pods/pod-topology-spread-constraints.md

**Comments**
Page to update: https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-con

[2019-10-01 02:13] ysyukr commented on #16631
/assign

[2019-10-01 05:17] boaz225 opened #16634 "Issue with k8s.io/docs/setup/production-environment/windows/user-guide-windows-containers/"
**This is a Bug Report**

win-webserver.yaml doesn't work at 1.16.
I
![image](https://user-images.githubusercontent.com/49870350/65936051-26283380-e456-11e9-9222-6443d553569b.png)

**Problem:**
![image](https://user-images.githubusercontent.com/49870350/65935995-f8db8580-e455-11e9-8918-10117b93bfcd.png)

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-10-01 07:56] lukos opened #16635 "More explanation about shared storage between pods"
**This is a Feature Request**

**What would you like to be added**
Currently, the documentation around persistent volumes only covers some very specific use-cases, mainly around concepts that might work as an introduction to the topic or in development but not for production use-cases.

Currently, I am trying to understand how to implement PVs in production for pods so that all pods in a single se

[2019-10-01 08:14] sftim commented on #15748
This is SREcon week for me. I don't know if that means more available time or less for Kubernetes (I'll guess the latter); anyway, I might well be able to contribute towards a KEP.

[2019-10-01 08:18] sftim commented on #16607
My gut feeling is that there's enough material here for a new Task page, aimed at developers (think CKAD), that describes how to design readiness, liveness and startup probes for your workload.

The website has a _lot_ of task pages, but (IMO) that's because there are a lot of different tasks that readers might want to do.

[2019-10-01 08:25] medmedchiheb commented on #16634
/assign

[2019-10-01 08:36] sftim commented on #16623
Just to check, then: @jpmolinamatute you have a Pod (or several Pods) with an init container defined, and there is a problem with Pod startup. You wanted to learn about how to troubleshoot that issue and didn't find this page helpful. Have I understood?

Maybe there should be a Task page about “Debug Pod startup issues”, that can cover init container problems as well as other reasons for Pods fail

[2019-10-01 09:52] sftim commented on #16143
Overall, I favor (sorry @aimeeu) taking the shears to the content guide. Leave in those elements that appear uncontroversial:
- no blatant vendor pitches
  - special exception for CNCF graduated projects, those aren't considered vendor pitches
- prefer linking over duplicating
- blog posts must be original

and add a note to say that these are interim guidelines.
(ideally, the docs [avoid making s

[2019-10-01 10:16] sftim commented on #15222
/lifecycle active

[2019-10-01 10:21] hjacobs commented on #16607
@thockin your text proposal LGTM :smile:

[2019-10-01 12:13] #13904 closed

[2019-10-01 12:55] jpmolinamatute commented on #16623
Correct! I thinks those two ideas plus the one from your first post

would be an excellent improvement to the documentation

[2019-10-01 13:48] savitharaghunathan commented on #16635
/language en
/kind feature
/priority backlog

@lukos Are you looking for a specific volume type or in general?

Should this be added to https://github.com/kubernetes/examples/tree/master/volumes ?

[2019-10-01 14:08] thockin commented on #16607
I think a good task doc would be great!  How do we go about doing that?
I'm happy to consult, but I am not a writer..

On Tue, Oct 1, 2019 at 1:18 AM Tim Bannister <notifications@github.com>
wrote:

[2019-10-01 15:54] szuecs commented on #16607
Thanks @thockin, very good proposed text, that doesn’t hide the problem, and guides how and when to use

[2019-10-01 16:18] jimangel commented on #16527
I think a valid solution, in this specific case (node-problem-detector), would be to have the k8s.io page outline what it **is** and the **value** of it (since this won't change drastically) and then link the `readme.md` for more information.

It almost seems like these situations need to be taken on case by case. Maybe a set of guidelines / principles would help.

[2019-10-01 16:22] jpmolinamatute commented on #16623
I missed this line in the documentation

`kubectl logs <pod-name> -c <init-container-2>`

I think that line should be the main core of the page (according to the title) I think more discussion around it should be made. Talk about when your init-container is in a failed state this is the commande that people should start looking

[2019-10-01 17:37] zacharysarah commented on #16527
/hold

Hold for discussion on #15748--I suspect the steering committee will want to see discussion about this on the related KEP.

[2019-10-01 17:39] zacharysarah commented on #16143
/hold

Hold pending discussion the KEP that emerges from #15748.

[2019-10-01 17:51] jimangel commented on #16635
This sounds like good fit for https://kubernetes.io/docs/tasks/

[2019-10-01 17:53] savitharaghunathan commented on #16635
/assign

[2019-10-01 18:09] hjacobs commented on #16607
I'm happy to do a PR, but I'm not sure if it should be after the second paragraph or somewhere else (?).

[2019-10-01 21:00] szuecs commented on #16607
I would create a short paragraph about LivenessProbe and ReadinessProbe just before the more verbose sections that show the how.
Maybe https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#container-probes would be a better place and maybe link from the configuration page.

[2019-10-01 21:07] kbhawkey opened #16649 "review docs/tasks Access cluster for duplicate content"
**This is a Bug Report**

Review the following pages for duplicate content. Clarify the differences.
- https://kubernetes.io/docs/tasks/access-application-cluster/access-cluster/
- https://kubernetes.io/docs/tasks/administer-cluster/access-cluster-api/

**Proposed Solution:**
Clean up duplicate content or condense content to a single page.

**Page to Update:**
- https://kubernetes.io/docs/tasks/ac

[2019-10-01 22:04] aimeeu commented on #16649
/sig docs
/priority important-soon

[2019-10-01 22:09] aimeeu commented on #16103
/sig docs
/priority backlog

Enchance https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/#attaching-metadata-to-objects

[2019-10-01 22:12] aimeeu commented on #16000
/priority important-soon

[2019-10-01 22:14] aimeeu commented on #16571
/sig docs
/kind feature
/priority important-soon

[2019-10-01 22:19] aimeeu commented on #16629
/sig cluster-lifecycle

(Sorry if that's the wrong SIG - I'm still at "best guess" stage)

[2019-10-01 22:20] aimeeu commented on #16634
/sig windows
/kind bug

[2019-10-01 22:21] aimeeu commented on #16634
/priority important-soon

[2019-10-01 22:21] aimeeu commented on #16597
/priority awaiting-more-evidence

[2019-10-01 22:23] aimeeu commented on #16623
/priority important-longterm

[2019-10-01 23:14] onitake commented on #14817
Already fixed by #16129 - closing.

[2019-10-01 23:14] #14817 closed

[2019-10-02 01:29] hasebe opened #16655 "Translate concepts/extend-kubernetes/api-extension/apiserver-aggregation/ into Japanese"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**
No `concepts/extend-kubernetes/api-extension/apiserver-aggregation.md` in Japanese.

**Proposed Solution:**
Copy a file from en contents to `content/ja/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation.md` and translate it into Japanese.

**Page to Update:**
https://kubernetes.io/ja/docs/extend-kubernetes/api-e

[2019-10-02 01:29] hasebe commented on #16655
/language ja

[2019-10-02 01:29] hasebe commented on #16655
/assign @hasebe

[2019-10-02 01:53] maabou512 opened #16656 "Title line in content/ja/case-studies/chinaunicom/index.html is not translated into Japanese"
**This is a Bug Report**

**Problem:**
The title line (line 2) is not tranlated in Japanese translation of China Unicom's casestudy
https://github.com/kubernetes/website/blob/master/content/ja/case-studies/chinaunicom/index.html

`title: China Unicom Case Study`

**Proposed Solution:**
Translate the title line and update the index.html file.

Change from:
`title: China Unicom Case Study`
To:
`titl

[2019-10-02 04:52] #15491 closed

[2019-10-02 04:59] prabangkoro commented on #15341
Hi all, next I'll continue on `Extend Cluster` topic `Poseidon Firmament Alternate Scheduler`
beforehand, I'll continue some fixes from previous PR #16421

[2019-10-02 06:09] fritz-c opened #16659 "Issue with k8s.io/docs/reference/kubectl/cheatsheet/"
**This is a Bug Report**

**Problem:**
The suggested method for applying bash completion to an alias does not work with the builtin version of bash on macOS. `source <(kubectl completion bash)` will not leave the `__start_kubectl` function defined in the shell that calls it, so `complete -F __start_kubectl k` will fail.

**Proposed Solution:**
Add a troubleshooting note that mentions that it might