[2021-01-15 09:15] iiian opened #26105 "Simplify Interactive Tutorial - Configuring a Java Microservice"
This tutorial is too complex to be delivered in a tiny little Katakoda window, you guys should simplify it when you get the chance

[2021-01-15 09:26] seokho-son opened #26106 "Korean Localization for dev-1.20-ko.3 branch"
## In English

**This is a Feature Request**

Korean Localization for `dev-1.20-ko.3` branch.

**What would you like to be added**

Any localization contributions for Korean.

**Comments**

- This issue is to notify the schedule of Korean localization to contributors.
- `dev-1.20-ko.3` is the current work branch for Korean localization.
- Korean PR Wrangler: TBD

**Important dates**
- A Korean loc

[2021-01-15 09:30] seokho-son opened #26107 "Outdated files in the dev-1.20-ko.3 branch"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.20-ko.3 branch.

### 41 files to be modified
1. [ ] M1.  `content/en/blog/_posts/2020-12-02-dont-panic-kubernetes-and-docker.md`  | 11(+S) 11(-)
1. [ ] M2.  `content/en/docs/concepts/architecture/nodes.md`  | 1(+XS) 1(-)
1. [ ] M3.  `content/en/docs/concepts/cluster-administration/certificates.md`  | 3(+XS) 3(-)
1. [ ] M4.  `co

[2021-01-15 09:35] seokho-son commented on #26107
/help

I will take M1 ~ M23.
Assign M1 ~ M23 to @seokho-son
/assign @seokho-son

[2021-01-15 10:16] tengqm commented on #26103
/triage accepted
/assign

[2021-01-15 14:37] dastrobu opened #26110 "Field Selectors Need Docs on `status.successful` Selector for Jobs"
[Docs](https://kubernetes.io/docs/concepts/overview/working-with-objects/field-selectors/#supported-fields) on field selectors mentions:

According to https://stackoverflow.com/a/63128911/1458343 one can select jobs with

[code]
which actually works. However, I did not find any docs on either the [Field Selectors](https://kubernetes.io/docs/concepts/overview/working-with-objects/field-selectors/)

[2021-01-15 15:02] jpbetz commented on #26064
@embano1 Updating the client-go godocs seems appropriate to me.

@roycaihw Any thoughts on how to best document this?

[2021-01-15 15:08] jimlindeman opened #26111 "Certificate Signing Requests documentation for signerName needs to explain application in-cluster TLS usage model"
Each time I read through https://kubernetes.io/docs/reference/access-authn-authz/certificate-signing-requests/#kubernetes-signers, the first 3 values seem to be only for kubernetes infrastructure (kubelets and for callers to the kube api server).  What about for applications that want to do TLS between each other using the internal service-urls, like https://service-name.namespace ?   Currently, i

[2021-01-15 15:39] #23285 closed

[2021-01-15 15:39] #25942 closed

[2021-01-15 16:27] ew8 commented on #26103
Thanks Teng!
that makes me confused when team told me cn version still dont allow using iptables.
appreciate for your help.
closed issue and waiting for your pull.

[2021-01-15 16:27] ew8 commented on #26103
Thanks Teng!
that makes me confused when team told me cn version still dont allow using iptables.
appreciate for your help.
closed issue and waiting for your pull.

[2021-01-15 18:08] Aut0R3V opened #26112 "Enhancing the Kubernetes guide in Hindi"
**This is a Feature Request**

**What would you like to be added**

The Hindi translation of the document needs some work.

**Why is this needed**

Useful for contributors comfortable in working with a workflow involving content written in Hindi.

**Comments**

I went through the initial issues that were focused on improving the documentation, but some more work can be done for making the document

[2021-01-15 18:08] Aut0R3V commented on #26112
/assign

[2021-01-15 18:55] fabriziopandini commented on #20958
/remove-lifecycle stale

[2021-01-15 21:59] pjhwa commented on #26106
/triage accepted

[2021-01-16 02:01] Aut0R3V opened #26116 "Proposal for Member Tag"
I've been contributing through various means - setting up PR's, interacting in issues and reviewing pull requests. Recently, I have  been a part of sig-security discussions. Furthermore, I am planning to contribute towards two projects in the upcoming weeks. These are translation of documents to Hindi and the sig-security documentation. It would be great if the community considers this proposal.

[2021-01-16 02:02] Aut0R3V commented on #26116
@tengqm
 @sftim

[2021-01-16 05:05] tengqm commented on #26116
+1

[2021-01-16 05:07] tengqm commented on #26116
@Aut0R3V You may want to join the kubernetes org first. https://kubernetes.io/docs/contribute/participate/roles-and-responsibilities/#becoming-a-member

[2021-01-16 05:49] #26103 closed

[2021-01-16 05:53] Aut0R3V commented on #26116
Oh apologies, I'll put in a request there.  Closing this issue for now.

[2021-01-16 05:53] #26116 closed

[2021-01-16 06:09] #25949 closed

[2021-01-16 09:56] Aut0R3V commented on #26112
@Rajakavitha1
@nikhita
It would be nice if you guys could pitch in your suggestions for the work done here :)

[2021-01-16 10:04] nikhita commented on #26112
/language hi

@Aut0R3V can you add links to which document you are referring to here?

I am not that comfortable with formal Hindi so I won't be able to contribute or review PRs. I'm also not sure if we have enough contributors or reviewers to help with Hindi localization...

@mittalyashu do you have enough bandwidth to localize all the outstanding work items in https://github.com/kubernetes/websi

[2021-01-16 11:23] hikkie3110 opened #26117 "Translate tasks/administer-cluster/topology-manager/ into Japanese"
**This is a Feature Request**

**What would you like to be added**
Translate tasks/administer-cluster/topology-manager/ into Japanese.

**Why is this needed**
This page has not been translated.

**Comments**
/language ja
/assign

[2021-01-17 03:00] neha-viswanathan commented on #25833
/assign

[2021-01-17 03:41] pjhwa commented on #26107
/triage accepted

[2021-01-17 03:41] jimangel opened #26120 "Edit secrets page to match style guide"
**This is a Feature Request**

**What would you like to be added**

- Remove prepended URLs
  - [here](https://github.com/kubernetes/website/pull/24930#discussion_r554600905)
  - [here](https://github.com/kubernetes/website/pull/24930#discussion_r554600984)
- Remove the word "we" [here](https://github.com/kubernetes/website/pull/24930#discussion_r550905523)

**Why is this needed**

On 1/16/21 I me

[2021-01-17 03:42] pjhwa commented on #26107
I'll take the rest of documents.
- Assign M24 - M41, R1 - R2, D1 - D2 to @pjhwa

/assign @pjhwa

[2021-01-17 03:49] #25967 closed

[2021-01-17 06:23] pjhwa commented on #26107
/language ko

[2021-01-17 09:54] salva-gglez opened #26124 "Improvements to the new v2 CronJob Controller"
Hello,

   There is a new v2 CronJob Controller that changes cronjobs behavior. We need to know if this new behaviour affects propertie `startingDeadlineSeconds`.

   It will be also great to know what are the new experimental performance improvements implemented.

   This issue it's related to Issue #25425

[2021-01-17 10:41] kaganmersin opened #26125 "Runtime Class"
Hello,

In the kubernetes documentation with the given URL in below . It had been  written apiVersion: node.k8s.io/v1 for runtimeclass kind object. It should be  apiVersion: node.k8s.io/v1beta1 or  apiVersion: node.k8s.io/v1alpha1.  Can you check that

URL: https://kubernetes.io/docs/concepts/containers/runtime-class/#2-create-the-corresponding-runtimeclass-resources

I am facing below error while

[2021-01-17 10:45] tengqm commented on #26125
@kaganmersin The RuntimeClass resource graduated from Beta to GA in 1.20. If you are running a cluster 1.19 or earlier version, please check the documentation of that specific version. The master/main branch you are seeing is for 1.20.
/close

[2021-01-17 10:46] #26125 closed

[2021-01-17 12:35] BenMorgan-22 commented on #25907
In lieu of more extensive changes to the documentation, it would be sufficient to provide a page with example YAML files for each of the candidate network plugins, enabling the use of kubectl apply...

[2021-01-17 13:21] sftim commented on #19789
I think this is implemented now - thanks Netlify.
/close

[2021-01-17 13:21] #19789 closed

[2021-01-17 13:30] sftim commented on #26120
/triage accepted

[2021-01-17 14:22] ocmvin opened #26127 "Configure a Pod to Use a Volume for Storage"
Step #6 In your shell, kill the Redis process: is not so clearly mentioned for how to get process id especially using minikube installed on windows
ps -ef | grep redis doesnt show up process id
Page location
https://kubernetes.io/docs/tasks/configure-pod-container/configure-volume-storage/

[2021-01-17 16:38] sftim commented on #26110
I looked into this a bit.

I can see that the code in https://github.com/kubernetes/kubernetes/blob/97cf67b329080a628cbcc957a28265656cc5c79c/pkg/apis/batch/types.go#L93 looks wrong; it mentions a `successful` field which looks incorrect.

Bear in mind the the website page about selectors does _not_ document all the fields of all resources; that full list of resources and their fields is covered in

[2021-01-17 16:41] sftim commented on #26124
/kind feature
/sig apps

[2021-01-17 16:41] #12326 closed

[2021-01-17 16:41] sftim commented on #26111
/sig auth

[2021-01-17 16:50] sftim commented on #26127
/kind support
/language en

@ocmvin I suspect that you have missed out a detail from steps 1 to 5. If you're sure that you followed each step correctly, please paste in the output from the stage where you used `apt-get` to install procps and from the subsequent command to list processes inside the container. The PID of redis is `1` (as per the sample output), by the way.

**However:**
https://kube

[2021-01-17 17:01] sftim commented on #23417
/remove-lifecycle stale

[2021-01-17 18:10] ljnaresh commented on #21436
/remove-lifecycle stale

[2021-01-17 18:17] ljnaresh commented on #21436
@sftim How about using the public image from google container registry? The busybox image `gcr.io/google-containers/busybox` behaves similar to  `radial/busyboxplus:curl` but lacks the curl utility.

[2021-01-17 18:23] Aut0R3V commented on #26112
Hey
I'll send in some PR's soon. Meanwhile I wanted to discuss - I had a look at  #13957 and looks like there's a lot of work that needs to be done. Should I simply select topics and go ahead with the translation work? Or would you recommend any specific workflow here?
By workflow I mean - going through particular topics and completing the translation for that specific topic first.
For instance -

[2021-01-17 21:40] #23280 closed

[2021-01-18 00:17] #22624 closed

[2021-01-18 02:15] tengqm commented on #25247
/close
mostly done.

[2021-01-18 02:15] #25247 closed

[2021-01-18 06:42] howieyuen commented on #26013
this is fixed here https://github.com/kubernetes/website/pull/26130

[2021-01-18 06:57] howieyuen commented on #25819
already fixed
/close

[2021-01-18 06:58] #25819 closed

[2021-01-18 07:02] howieyuen commented on #24511
issue can be closed now, all PRs are merged

[2021-01-18 07:36] dastrobu commented on #26110
@sftim thanks for looking into it. I am not sure where I should find the exact spec of supported field selectors in the reference, e.g. in [Job v1 batch > List](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.20/#list-job-v1-batch) it says:

So given that there is no `successful ` field, I would agree that this looks more like a Kubernetes issue. So feel free to transfer this issu

[2021-01-18 08:16] tengqm commented on #24511
@howieyuen Thanks for checking and reminder.
/close

[2021-01-18 08:16] #24511 closed

[2021-01-18 09:25] #26013 closed

[2021-01-18 09:33] sftim commented on #21436
`gcr.io/google-containers/busybox` sounds like a good suggestion.

[2021-01-18 12:11] nasa9084 commented on #25689
/triage accepted

[2021-01-18 12:11] nasa9084 commented on #25826
/triage accepted

[2021-01-18 12:13] nasa9084 commented on #26117
/triage accepted

[2021-01-18 12:49] CKchen0726 commented on #26034
/assign

[2021-01-18 13:53] ABHISHARMAV opened #26135 "Auditing"
I am facing issue, when deploying audit-profile.yaml
->kubectl version
Client Version: v1.17.0
Server Version:v1.16.15-gke
audit-profile.yaml:-
apiVersion: audit.k8s.io/v1 # This is required.
kind: Policy
omitStages:
  - "RequestReceived"
rules:
  - level: RequestResponse
    resources:
    - group: ""
      resources: ["pods"]
  - level: Metadata
    resources:
    - group: ""
      resources: ["

[2021-01-18 15:04] bpaduch opened #26136 "Events in Stackdriver page - is outdated and third-party specific (Google)"
This page: https://kubernetes.io/docs/tasks/debug-application-cluster/events-stackdriver/ should be removed. Why?

- Out-dated information - screenshots are old, product name is old
- It's specific to a third-party, namely Google, and K8s docs should be agnostic.

[2021-01-18 20:32] xserrat commented on #26081
Hi @sftim !

Yes, of course. While trying to reproduce the behaviour again with an example in Minikube, I found that the behaviour I mentioned above it's not exactly what it's happening:

Imagine we deploy a new release of our app, from version `v1.0` to `v1.1`. If we check our rollout history of the deployment we'll see something like this:

[code]

Then, if we want to roll back to the previous v

[2021-01-18 21:01] scoulomb opened #26137 "Doc assumes TLS termination at ingress endpoint but we can use passthrough"
**Problem**

[Ingress-nginx](https://kubernetes.io/docs/concepts/services-networking/ingress/#prerequisites) is an officially supported Ingress by Kubernetes

From here: https://kubernetes.io/docs/concepts/services-networking/ingress-controllers/

Minikube uses Nginx Ingress controller by default
https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/#enable-the-ingress-contr

[2021-01-19 02:30] leeyspaul commented on #13948
Back, and I'd like to continue contributing! I can take `content/es/docs/concepts/workloads/Pod`. To note, we can check off the PodPreset now reference: https://github.com/kubernetes/website/pull/24556

[2021-01-19 10:33] pkbhowmick opened #26146 "URL not working for NGINX Ingress Controller"
"The [NGINX Ingress Controller for Kubernetes](https://www.nginx.com/products/nginx/kubernetes-ingress-controller) works with the NGINX webserver (as a proxy)."
The URL given against the text "NGINX Ingress Controller for Kubernetes" is not working. It returned 404 error(Page not found) in my case.

[2021-01-19 12:13] nikhita commented on #26112
@Aut0R3V firstly, thank you for taking this up! :raised_hands:

@irvifa @jimangel :wave: do you have suggestions for how to proceed with localization?

[2021-01-19 13:05] irvifa commented on #26112
We have several example of how localization for each language works. For example this conversation here in slack show how Korean team works for the [localization](https://kubernetes.slack.com/archives/C0191RDKHU1/p1604389887061900?thread_ts=1604374229.061800&channel=C0191RDKHU1&message_ts=1604389887.061900).

[2021-01-19 14:55] jimlindeman commented on #26111
We have found that what works is to re-use the 'kubernetes.io/kublet-serving' value for the signerName, and adjusting the CSR to then have kubelet-compatible values like:
[code]
and in the extensions:
[code]

Our application development team prefers this approach to a separate certificate-signer because it enables our applications to use the existing automounted ca.csr to validate peer traffic wit

[2021-01-19 16:12] kbhawkey commented on #26136
Related to PR #24769.

[2021-01-19 16:28] remyleone commented on #17598
/remove-lifecycle stale

[2021-01-19 17:12] tomkivlin commented on #26120
/assign

[2021-01-19 17:55] ksvanhorn opened #26150 "“Hello Minikube” tutorial runs dashboard subcommand in foreground"
After issuing the command "minikube dashboard" in the "Create a minikube cluster" section, I never get the command prompt back. How, then, am I supposed to issue the commands listed in the following section, "Create a deployment"?

[2021-01-19 18:04] kbhawkey commented on #26146
/triage accepted
/kind cleanup

[2021-01-19 18:07] #26146 closed

[2021-01-19 19:17] sftim commented on #26150
/retitle “Hello Minikube” tutorial runs dashboard subcommand in foreground
/kind bug
/triage accepted

That's a good point. The tutorial doesn't explain what to do here.

/priority important-longterm
/language en

[2021-01-19 19:37] sftim commented on #26135
Hi @ABHISHARMAV

Can you confirm what version of Kubernetes you are using, and which web page inside https://kubernetes.io/ seems to need a tweak?

/triage needs-information
/language en

[2021-01-19 19:38] sftim commented on #26136
/triage duplicate

[2021-01-19 19:39] sftim commented on #26136
Ah no, #24769 is a PR.
/remove-triage duplicate

[2021-01-19 19:39] sftim commented on #26136
Part of issue #20232

/triage accepted

[2021-01-19 19:39] sftim commented on #26136
/kind cleanup
/language en

[2021-01-19 19:42] sftim commented on #26137
/sig network

@kubernetes/sig-network-misc what's the right thing to document here about the Ingress API in general? It sounds like the NGINX Ingress controller might do something a bit nonstandard with TLS, matching on the SNI details in the TLS session and _not_ following the typical mechanisms for Ingress and its `.spec.rules` field.

[2021-01-19 19:52] #25040 closed

[2021-01-19 20:23] raelga commented on #13948
Thanks @leeyspaul!

[2021-01-20 00:18] sftim commented on #26105
/retitle Simplify Interactive Tutorial - Configuring a Java Microservice
/kind feature
/language en

I think you're also able to follow this tutorial on your own cluster.
/priority awaiting-more-evidence

[2021-01-20 00:25] sftim commented on #23809
/close

Remaining work is in #25505

[2021-01-20 00:27] sftim commented on #25505
PR #23294 has merged. I'll approach Kubernetes SIG Architecture to co-ordinate communications and other tasks about deprecating and moving away from the existing API documentation.

SIG Docs' preference is to shift away as part of a Kubernetes release (eg v1.21). One reason for this is that each release so far has broken the old API reference URLs anyway.

[2021-01-20 00:36] sftim commented on #24973
/close

[2021-01-20 00:36] #24973 closed

[2021-01-20 00:42] sftim commented on #14727
“Make sure” is like “[ensure](https://en.wiktionary.org/wiki/ensure)”. The cluster operator wants to be confident that the secrets are not stored in the clear.

[2021-01-20 00:57] sftim opened #26156 "Deprecation warning on https://kubernetes.io/docs/setup/production-environment/turnkey-solutions/"
**This is a Bug Report**

**Problem:**
[Turnkey Cloud Solutions](https://kubernetes.io/docs/setup/production-environment/turnkey-solutions/) lists Kubernetes certified solution providers. However, a warning appears:

**Proposed Solution:**
Investigate and find a non-deprecated Landscape URL. Alternatively, revise the page further.

**Page to Update:**
https://kubernetes.io/docs/setup/production-en

[2021-01-20 01:03] sftim commented on #20075
/remove-lifecycle stale

[2021-01-20 07:10] CKchen0726 commented on #26150
![image](https://user-images.githubusercontent.com/47560998/105138804-5eaebd80-5b30-11eb-9abc-b4608d5d17ba.png)

[2021-01-20 07:52] CKchen0726 commented on #26150
/assign

[2021-01-20 08:16] liuzhenwubigboss opened #26163 "中文文档翻译错误"
hi，使用 RBAC 鉴权一页，中文文档有一处翻译错误
页面链接 https://kubernetes.io/zh/docs/reference/access-authn-authz/rbac/

`胃镜`应为`未经`

[2021-01-20 08:35] amyXia1994 opened #26166 "Document: does the retainKeys strategy only works for field with patchStrategy key in a field tag?"
[This document](https://kubernetes.io/docs/tasks/manage-kubernetes-objects/update-api-object-kubectl-patch/#notes-on-the-strategic-merge-patch-using-the-retainkeys-strategy) claims that:

I checked the k8s API source code. Indeed, the [apps/v1/deploymentSpec.Strategy source code](https://github.com/kubernetes/api/blob/master/apps/v1/types.go#L286) has the `+patchStrategy=retainKeys` tag.

I then t

[2021-01-20 08:41] ydFu commented on #26163
@liuzhenwubigboss
I had a look at it and sent in a pull request for this.
Fix typo '胃镜' to '未经'.
Fixes #26165

/assign

[2021-01-20 09:47] springcomefromprogrammingtheworld opened #26167 "使用 kubeadm 创建集群"
an 20 17:42:25 master-node kubelet[14525]: I0120 17:42:25.081503   14525 scope.go:95] [topologymanager] RemoveContainer - Container ID: 9ef29ff96c79a3c545037
Jan 20 17:42:25 master-node kubelet[14525]: I0120 17:42:25.081707   14525 scope.go:95] [topologymanager] RemoveContainer - Container ID: e15ca1e2a8a4796c104dd
Jan 20 17:42:25 master-node kubelet[14525]: E0120 17:42:25.082703   14525 pod_worke

[2021-01-20 10:08] oke-py opened #26168 "Pod reference contains broken links to KEP"
**This is a Bug Report**

**Problem:**

These links are broken.
* https://git.k8s.io/enhancements/keps/sig-node/runtime-class.md
* https://git.k8s.io/enhancements/keps/sig-network/0007-pod-ready%2B%2B.md
* https://git.k8s.io/enhancements/keps/sig-node/20190226-pod-overhead.md

**Proposed Solution:**

The correct links would be as follows.
* https://git.k8s.io/enhancements/keps/sig-node/585-runtime

[2021-01-20 10:12] sftim commented on #25505
@reylejano are you happy to have this tracked against v1.21?

[2021-01-20 13:06] neolit123 commented on #25505
one good thing about the old format is that it was easier to search the whole API reference using a browser Ctrl+F (search), since it was all on the same page.

[2021-01-20 13:07] sftim commented on #25505
Perhaps there's a way to improve the search(ability). For example, add an index to the foot of each API reference page.

[2021-01-20 13:59] neolit123 commented on #26167
please try the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2021-01-20 13:59] neolit123 commented on #26167
/kind support

[2021-01-20 14:00] #26167 closed

[2021-01-20 14:46] liggitt commented on #25505
Thanks for the update! I especially like how much better it renders on mobile devices.

Here is some initial feedback on the organization and rendering:

1. The primary organization of the API is by API group → version → resource/kind. From https://kubernetes.io/docs/reference/kubernetes-api/, it is hard to know where documentation for types in various group/versions are, and I had to guess about

[2021-01-20 14:56] sftim commented on #24441
Looks like PR #26151 would fix this

[2021-01-20 15:02] reylejano commented on #25505
@sftim Yes, I'm comfortable with this being tracked against v1.21. I want to review and capture any process changes for the release for the docs role handbook timeline.

[2021-01-20 16:10] notchairmk opened #26171 "Search page input displaying over site navbar"
**This is a Bug Report**

**Problem:**
On the search page – when scrolled to the top of the page – the search input appears on top of the navbar. The individual navlinks are clickable (including some that display in the search input) but the text is not visible.

**Proposed Solution:**
It looks like there's a navbar partial included in search.html, so it seems like the intention is for navbar to b

[2021-01-20 16:14] thomasboussekey opened #26172 "Installer et configurer kubectl"
Les liens indiqués sur cette page ne sont plus à jour.

J'ai utilisé la version [US](https://kubernetes.io/docs/tasks/tools/install-kubectl/) qui fonctionne

[2021-01-20 17:04] VladMasarik opened #26173 "Volumes, hostPath single node setup warning"
I noticed that `hostPath` field in the Kubernetes reference has a rather explicit warning, about not using `hostPath` for multi-node deployments. https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.20/#persistentvolume-v1-core
![image](https://user-images.githubusercontent.com/28529900/105209204-ddfcbb00-5b49-11eb-9b81-1d73f4499fce.png)

However, the documentation describing `hostPath

[2021-01-20 22:37] samuelmanzer opened #26174 "Language around secret -> node relationship should be updated"
**This is a Bug Report**

**Problem:**

[This page](https://kubernetes.io/docs/concepts/configuration/secret/#security-properties) contains the following language.

**Proposed Solution:**

This should be updated to account for [node authorization](https://kubernetes.io/docs/reference/access-authn-authz/node/) - I believe EKS implements this setting, so it will be the default for a lot of managed K

[2021-01-21 00:29] santachopa opened #26176 "Translate reference/glossary/secret.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate reference/glossary/secret.md in Korean

**Why is this needed**
No translation reference/glossary/secret.md in Korean

**Comments**

Page to update : https://kubernetes.io/ko/docs/reference/glossary/?core-object=true#term-secret

[2021-01-21 00:30] santachopa commented on #26176
/assign
/language ko

[2021-01-21 01:24] shu-mutou commented on #26084
Ref: #25806

[2021-01-21 01:47] SergeyKanzhelev commented on #25879
Sorry for delay. My suggestion would be to start with the document that replicates content from "Upgrade worker nodes" section here: https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/#upgrade-worker-nodes

And instead of kubelet update - provide instructions on changing from docker to containerd.

[2021-01-21 03:25] tengqm opened #26177 "[zh] Umbrella issue: pages out of sync in concepts section"
The following pages needs sync as of Jan 21, 2021.

Garbage Collection: @chenxuc #26236

- [x] content/zh/docs/concepts/workloads/controllers/garbage-collection.md

PSP

- [x] content/zh/docs/concepts/policy/pod-security-policy.md

System Logs: @ydFu  #26248

- [x] content/zh/docs/concepts/cluster-administration/system-logs.md

Misc Batch 1: @ydFu

- [x] content/zh/docs/concepts/configuration/over

[2021-01-21 03:25] tengqm commented on #26177
/language zh
/triage accepted
/help

[2021-01-21 03:39] tengqm opened #26178 "[zh] Umbrella issue: pages out of sync in tasks section"
The following pages are out of sync as of Jan 21, 2021. When signing up and working on a particular task, please leave a comment to this issue and ensure you have fetched the latest master.

Audit (XXL): @tengqm #26249

- [x] content/zh/docs/tasks/debug-application-cluster/audit.md

Kubeadm Upgrade (XXL): @tengqm #26271

- [x] content/zh/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md

In

[2021-01-21 03:39] tengqm commented on #26178
/language zh
/triage accepted
/help

[2021-01-21 04:12] amyXia1994 commented on #26166
/help
/language en

[2021-01-21 04:27] chenxuc commented on #26177
I will try to work on some of items. I will mark which item I'm currently working on in the comment.
/assign

[2021-01-21 04:28] chenxuc commented on #26178
I will try to work on some of items. I will mark which item I'm currently working on in the comment later.
/assign

[2021-01-21 04:37] inductor commented on #26084
Hello from Japanese localisation team

[2021-01-21 06:18] dragoneena12 opened #26180 "Translate tasks/run-application/horizontal-pod-autoscale-walkthrough/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [tasks/run-application/horizontal-pod-autoscale-walkthrough/](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/) into Japanese

**Why is this needed**
This page has not been translated.

**Comments**

/language ja
/assign

[2021-01-21 10:08] Kartik494 commented on #26102
@natereid72 Just for confirmation are you asking for scaled up and scaled down for HPA , i couldn't find any policies related to scaled out in [docs](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#support-for-configurable-scaling-behavior)

[2021-01-21 10:15] Kartik494 commented on #26080
Hi @ganeshsagani details are given for this in defining [cluster](https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/#define-clusters-users-and-contexts) , more information regarding --server and --certificate-authority you could find in `kubeconfig` file

[2021-01-21 11:20] JainaHarshaVardan opened #26183 "Auditing"
hi I followed the kubernetes docs  link is --> https://kubernetes.io/docs/tasks/debug-application-cluster/audit/  then i make one audit-policy  file that is same example in docs after that I'm  trying to apply the file getting the error like  -->    error: unable to recognize "audit-policy.yaml": no matches for kind "Policy" in version "audit.k8s.io/v1"
and also I'm trying to pass that file using

[2021-01-21 14:22] kbhawkey commented on #26156
/triage accepted

[2021-01-21 15:51] sftim commented on #26124
/triage accepted

The follow-on work as mentioned in PR #25425 is to make sure that any warnings about `startingDeadlineSeconds` make sense to readers who are trying the v2 controller.

[2021-01-21 15:52] sftim commented on #26183
Let's make it clear that https://raw.githubusercontent.com/kubernetes/website/master/content/en/examples/audit/audit-policy.yaml is not a manifest you apply: it's a policy you configure in the API server.

/sig api-machinery
/language en

[2021-01-21 16:49] natereid72 commented on #26102
It's a semantics thought. The catch is that the actual policy setting for HPA is scale up/down. So in docs, it should match and it does as it is. Horizontal scaling in nature is an in/out pattern. Vertical scaling is up/down. but as the project is currently written with up/down for HPA, in retrospect, I think changing the docs to in/out would be confusing.

[2021-01-21 17:07] JainaHarshaVardan commented on #26183
Thank you for responding my query, may i know sir how to configure that please can you tell me that clearly

[2021-01-21 17:08] natereid72 opened #26187 "Configure a Pod to Use a ConfigMap - broken links"
These links in the page are broken:

wget https://kubernetes.io/examples/configmap/game.properties -O configure-pod-container/configmap/game.properties
wget https://kubernetes.io/examples/configmap/ui.properties -O configure-pod-container/configmap/ui.properties

[2021-01-21 18:24] sftim commented on #21422
/remove-lifecycle rotten
/triage accepted

[2021-01-21 18:26] sftim commented on #26187
https://kubernetes.io/examples/configmap/game.properties exists for me. https://kubernetes.io/examples/configmap/ui.properties likewise. @natereid72 do you have an unusual networking configuration?

/triage needs-information

[2021-01-21 19:01] andy-ning opened #26188 "Manual Rotation of CA Certificates"
In step 3, it says "If any pods are started before new CA is used by API servers, they will get this update and trust both old and new CAs." and in step 4 it says "Restart all pods using in-cluster configs (ex: kube-proxy, coredns, etc) so they can use the updated certificate authority data from ServiceAccount secrets."

1. The existing pods before new CA is used by API servers will get this updat

[2021-01-21 19:31] marosset opened #26189 "Add section for Windows to https://kubernetes.io/docs/tasks/configure-pod-container/security-context/"
**This is a Feature Request**

Add section for Windows to https://kubernetes.io/docs/tasks/configure-pod-container/security-context/

**What would you like to be added**

Security options differ between Linux and Windows containers.
Documentation should be updated to reflect this.

**Why is this needed**

**Comments**

/sig windows
/milestone v1.21

[2021-01-21 19:41] skashyap7 commented on #23992
/remove-lifecycle stale

[2021-01-21 22:30] kbhawkey opened #26190 "API style/conventions guide"
**This is a Feature Request**

It may be worthwhile to create a style/conventions guide for the Kubernetes API to:
- explain the design of the API and how to use the API
- describe how to refer to resources and type definitions
- describe how to format HTTP verbs, requests/responses
- describe any shortcodes used to create API-related content
- describe or clarify how contributors can create or ed

[2021-01-22 02:59] #25875 closed

[2021-01-22 03:16] natereid72 commented on #26187
weird, works now. I don't know what the issue was when I was on the doc earlier. Sorry for the ping on it.

[2021-01-22 03:52] tengqm commented on #26187
Thanks for reporting this although it turned out to be a false alarm.
/close

[2021-01-22 03:52] #26187 closed

[2021-01-22 04:05] tengqm commented on #26189
/triage accepted
/kind feature

[2021-01-22 04:12] tengqm commented on #26183
Two clarifications to this issue:

- auditregistration.k8s.io never had a `v1` group version;
- the whole `auditregistration.k8s.io` API group has been dropped in 1.19.

[2021-01-22 05:54] tengqm commented on #26183
@JainaHarshaVardan The audit.k8s.io API is not a published API so it doesn't have an endpoint on the API server. If you read the audit page thoroughly, you will realize how that policy YAML is applied using the `--audit-policyfile=/etc/kubernetes/audit-policy.yaml` command line flag.
/close

[2021-01-22 05:54] #26183 closed

[2021-01-22 09:14] pavelgordon commented on #24684
/remove-lifecycle stale

[2021-01-22 11:28] tengqm commented on #24684
Based on the API spec, "When unspecified, all paths from incoming requests are matched." Is that the missing information from the page?

[2021-01-22 12:28] sftim commented on #26190
/kind feature
/priority important-longterm
/language en
/triage accepted

[2021-01-22 12:30] sftim commented on #26174
/kind duplicate
This issue duplicates issue #21435

[2021-01-22 12:31] sftim commented on #26174
/triage duplicate

[2021-01-22 12:31] sftim commented on #21435
Anyone who'd like to, please feel free to open a pull request with an update.

[2021-01-22 13:11] ben-foxmoore commented on #24661
https://kubernetes.io/docs/reference/kubernetes-api/labels-annotations-taints/ is a 404. It's the fourth result when [searching for labels](https://kubernetes.io/search/?q=labels)

[2021-01-22 13:21] sftim commented on #25505
We also need to add a redirect so that https://kubernetes.io/docs/reference/kubernetes-api/labels-annotations-taints/ points to the new page at https://kubernetes.io/docs/reference/labels-annotations-taints/
&hellip;as mentioned in https://github.com/kubernetes/website/issues/24661#issuecomment-765386803

[2021-01-22 13:22] sftim commented on #24661
@ben-foxmoore I recommend you report that in a new issue; the issue you've added to here is a bit unclear.

[2021-01-22 13:38] ben-foxmoore opened #26194 "404 for "Well-Known Labels, Annotations and Taints" page"
https://kubernetes.io/docs/reference/kubernetes-api/labels-annotations-taints/ is a 404. It's the fourth result when [searching for labels](https://kubernetes.io/search/?q=labels) and also a common Google search result for anything relating to node labels.

_Originally posted by @ben-foxmoore in https://github.com/kubernetes/website/issues/24661#issuecomment-765386803_

I believe this is related t

[2021-01-22 15:15] ruday opened #26197 "Issue with k8s.io/docs/tasks/tools/install-kubectl/"
hi,
there is a issue
the repo RHEL/Centos/Fedora is empty
https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64

regards

[2021-01-22 15:41] sladyn98 commented on #26156
@sftim I heard this might not be beginner friendly... but I could take a stab at it and learn along the way :)
My question would be how do I find a non depricated landscape URL

[2021-01-22 15:43] kbhawkey opened #26198 "API resource pages, Markdown parsing of anchor text"
**This is a Bug Report**
The issue is outlined in: https://github.com/kubernetes-sigs/reference-docs/issues/203

[2021-01-22 15:52] ymartineau opened #26199 "Interactive Tutorial - Exploring Your App"
Module 3 - Step 2

curl http://localhost:8001/api/v1/namespaces/default/pods/$POD_NAME/proxy/

This doesn't work when executed on a local minikube installation on windows (it works as expected on katacoda but the difference between those two environments is not obvious for this specific issue).

I'm using a virtualbox driver (I don't know if it matters).
Should this kind of bug be open against min

[2021-01-22 16:53] mbbroberg opened #26202 "Blog on PSP deprecation"
The Comms team was requested to write up a pre-emptive look at this one. Here's the original request: https://kubernetes.slack.com/archives/C1TU9EB9S/p1611185981053300

It relates to this action taken: https://github.com/kubernetes/kubernetes/pull/97171#issue-535490768

Draft in progress is here: https://docs.google.com/document/d/1bFbHbWT2BR5Z_TWwZ11qmUcHQlWyxp7ul612DuuGhh8/edit#

Docs team is qu

[2021-01-22 18:34] #23428 closed

[2021-01-22 22:23] uhari03 commented on #25659
I would like to take this on, but I would suggest moving the entire page to another section.
In other words, moving this entire page: https://kubernetes.io/docs/tasks/administer-cluster/access-cluster-api/
To something under Reference.

@sftim thoughts?

[2021-01-22 23:18] uvsq21923164 opened #26205 "Hooks de cycle de vie de conteneurs"

[2021-01-23 07:03] RainbowMango opened #26209 "Docs should be update about MutatingAdmissionWebhook and ValidatingAdmissionWebhook"
**This is a Bug Report**
It's not a bug, just an outdated doc thing.

**Problem:**
The MutatingWebhookConfiguration and ValidatingWebhookConfiguration APIs have been promoted to admissionregistration.k8s.io/v1 in [v1.16](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.16.md#api-changes). But the docs still show that they are in beta state at [admission-controllers/mutati

[2021-01-23 07:07] RainbowMango commented on #26209
I'm investigating this issue, hope I can send a PR for this after someone triaged/confirmed it.
/assign

[2021-01-23 07:24] tengqm commented on #26209
/triage accepted

[2021-01-23 08:13] chenxuc commented on #26177
Working on following items:
Garbage Collection

 content/zh/docs/concepts/workloads/controllers/garbage-collection.md
PSP

 content/zh/docs/concepts/policy/pod-security-policy.md
System Logs

 content/zh/docs/concepts/cluster-administration/system-logs.md

[2021-01-23 16:02] robarros opened #26215 "Issue with k8s.io/docs/reference/access-authn-authz/certificate-signing-requests/"
it is necessary to include command to create john.crt

[2021-01-23 19:30] kbhawkey commented on #26194
/triage accepted

[2021-01-23 19:52] kbhawkey commented on #26198
/triage accepted

[2021-01-23 19:52] kbhawkey commented on #26198
/kind cleanup

[2021-01-23 19:58] kbhawkey commented on #26198
Hi @feloy. Thanks for opening a PR to fix this issue!
/assign @feloy

[2021-01-23 19:59] kbhawkey commented on #26194
/assign @feloy

[2021-01-23 19:59] kbhawkey commented on #26194
/kind cleanup

[2021-01-24 04:14] A830612 opened #26221 "Upgrading kubeadm clusters"
The order of steps doesn't seem to be correct for upgrading worker nodes. It should be as follows -

- Drain worker Node
- Switch to worker Node
- Upgrade kubeadm
- Call "kubeadm upgrade"
- Upgrade kubelet and kubectl
- Restart the kubelet
- Switch out of the node
- Uncordon the Worker Node

[2021-01-24 07:11] ydFu commented on #26177
I will done 'Misc Batch 1' in PR #26220 .

[2021-01-24 08:33] Abelcray opened #26222 "Using Source IP"
In v1.20.2, the command to delete svc is “kubectl delete svc -l app=source-ip-app”, the label not "run=source-ip-app" in the title of this "Cleaning up".

[root@demo ~]# kubectl get all --show-labels
NAME READY STATUS RESTARTS AGE LABELS
pod/source-ip-app-54595b9cc9-s2r45 1/1 Running 0 32s app=source-ip-app,pod-template-hash=54595b9cc9

NAME TYPE CLUSTER-IP EXTERNAL-IP PORT(S) AGE LABELS
service/c

[2021-01-24 08:33] #26222 closed

[2021-01-24 09:40] favourch commented on #25658
/assign

[2021-01-24 15:21] neolit123 commented on #26221
the current step are valid, because drain and uncordon is only required around kubelet upgrade.

/sig cluster-lifecycle
/priority awaiting-more-evidence

[2021-01-24 15:22] neolit123 commented on #26221
these steps are implicit and including them is arguably not required.

[2021-01-24 17:01] sftim commented on #25659
I would like to see _a_ page in the tasks section about accessing the Kubernetes API from client code. For me it's just https://kubernetes.io/docs/tasks/administer-cluster/access-cluster-api/#directly-accessing-the-rest-api-1 that ought to move.

[2021-01-24 18:56] rikatz commented on #23254
So I was looking into the script used by the k/enhancements script (https://github.com/kubernetes/enhancements/blob/master/hack/verify-spelling.sh) to see if this at least help us into something.

Apparently this has not evolved since 2018, but it seems to work pretty well.

I'll see if it's possible to use it in different languages or only in English, and if this is still something maybe it helps

[2021-01-24 19:30] ehvs commented on #13939
Hi @femrtnz @jcjesus @devlware @jhonmike!
I'd like to translate **Install kubectl*
at "docs/tasks/tools/install-kubectl.md".
Can someone assign it to me ?

[2021-01-25 00:43] setugrover opened #26231 "Creating Resource Quota for Object"
I am going through the Kubernetes documentation for CKA exam and found that:

Currently Kubernetes support POD limit at Namespace level when we define POD limits in "Resource Quota" Object under one namespace.

My Query is to add a use case where we want to restricts number of Pods at Object Level in Namespace. Resource Quota Object should support this to for future applications .

1. When we want

[2021-01-25 03:50] ydFu commented on #26177
I will do 'Misc Batch 5' in PR #26232
|  **Issue Name**  | **PR  number**  | **State**  |
|  ----  | ----  | ----  |
| Misc Batch 1  |  #26220  |  Merged  |
| Misc Batch 4  |  #26219  |  Merged  |
| Misc Batch 5  |  #26232  |  Open  |

/assign

[2021-01-25 08:04] CloudXli opened #26234 "Learn Kubernetes Basics"
start kubectl ......

[2021-01-25 08:30] CaoDonghui123 commented on #26178
I will try to sync Misc Batch 1 (M).
/assign

[2021-01-25 09:22] Cweiping commented on #26234
Do you need any help?
/triage needs-information

[2021-01-25 10:55] #18887 closed

[2021-01-25 11:47] ydFu commented on #26234
please try the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2021-01-25 12:18] jamallmahmoudi opened #26238 "Issue with k8s.io/docs/concepts/overview/components/"

[2021-01-25 13:37] ydFu commented on #26177
I will do 'Misc Batch 2' in PR #26239

|  **Issue Name**  | **PR  number**  | **State**  |
|  ----  | ----  | ----  |
| Misc Batch 1  |  #26220  |  Merged  |
| Misc Batch 2  |  #26239  |  Open  |
| Misc Batch 4  |  #26219  |  Merged  |
| Misc Batch 5  |  #26232  |  Merged  |

[2021-01-25 13:40] #20679 closed

[2021-01-25 13:40] #23494 closed

[2021-01-25 14:36] jordinl83 commented on #26156
@sftim We've changed the routing on the landscape. The new URL should be https://landscape.cncf.io/card-mode?category=certified-kubernetes-hosted&grouping=category&embed=yes

[2021-01-25 14:40] #23512 closed

[2021-01-25 15:36] kbhawkey commented on #26202
/triage accepted

[2021-01-25 15:36] kbhawkey commented on #26202
/area blog

[2021-01-25 16:00] sreeharicheerla opened #26240 "Error: current release manifest contains removed kubernetes api(s) for this kubernetes version and it is therefore unable to build the kubernetes objects for performing the diff. error from kubernetes: unable to recognize "": no matches for kind "Deployment" in version "apps/v1beta1""
We are getting the following error despite upgrading the kubectl version :

Error: current release manifest contains removed kubernetes api(s) for this kubernetes version and it is therefore unable to build the kubernetes objects for performing the diff. error from kubernetes: unable to recognize "": no matches for kind "Deployment" in version "apps/v1beta1"

jenkins ~ $ helm version
Client: &vers

[2021-01-25 17:29] uhari03 commented on #25659
/assign

[2021-01-25 17:42] sftim commented on #26156
@sladyn98 _-or anyone else-_ please feel free to revised based on the advice in https://github.com/kubernetes/website/issues/26156#issuecomment-766858941

[2021-01-25 17:43] sftim commented on #26156
/help

[2021-01-25 21:21] #26198 closed

[2021-01-25 23:34] pabloli84 opened #26244 "Translate a Docker Compose File to Kubernetes Resources - kompose up doesn't work"
Hi,

This command does not exist for kompose

```kompose up```

I'm using version 1.22 and there is no such command.

[2021-01-26 03:33] chenxuc commented on #26178
I will work on the remaining items in Misc Batch 2 (S)

- [ ]  content/zh/docs/tasks/debug-application-cluster/debug-pod-replication-controller.md
- [ ]  content/zh/docs/tasks/tools/_index.md
- [ ]  content/zh/docs/tasks/manage-kubernetes-objects/kustomization.md
- [ ]  content/zh/docs/tasks/manage-kubernetes-objects/update-api-object-kubectl-patch.md
- [ ]  content/zh/docs/tasks/administer-cluste

[2021-01-26 09:04] jordinl83 commented on #26156
@sftim I'll update the URLs

[2021-01-26 11:05] murillodigital commented on #13948
Hi @raelga - I'd love to collaborate, can I get the Tasks | Manage Kubernetes Objects assigned to me? I'm available to do the full section.

[2021-01-26 13:02] #19401 closed

[2021-01-26 15:01] shahincsejnu opened #26253 "Changing replicas updates immediately during paused deployment, but It is not specified in Pausing and Resuming a Deployment"
while i was reading [Pausing and Resuming a Deployment](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#pausing-and-resuming-a-deployment) this portion of kubernetes docs, here i found that i can apply multiple fixes in between pausing and resuming without triggering unnecessary rollouts. Now, when i only changed the image of the deployment then it works fine, but when i chan

[2021-01-26 17:10] sftim commented on #12303
I'm planning (well, hoping) to pick this up this quarter.
/remove-lifecycle stale

[2021-01-26 19:18] #26120 closed

[2021-01-26 20:38] kovvuriraghu commented on #20810
Hi Marcosnils,

https://labs.play-with-k8s.com/ is not working and it is an giving below message

This page isn’t workinglabs.play-with-k8s.com is currently unable to handle this request.
HTTP ERROR 500

[2021-01-26 20:44] marcosnils commented on #20810
Hey @kovvuriraghu . The environment was under some pressure. Just made some space for it to work better. Thx for reporting.

[2021-01-26 20:49] kovvuriraghu commented on #20810
Hi @marcosnils  ,  It is working  now. Thanks for your quick response.

[2021-01-27 00:29] #25768 closed

[2021-01-27 00:49] takeoffnyc opened #26254 "https://www.github.com/Shyndri/video-yfkaa-materials/tree/versions%2F2.0/10-modifying-the-ui%2Fstarter%2Fsetup_demo.py"
https://www.github.com/Shyndri/video-yfkaa-materials/tree/versions%2F2.0/10-modifying-the-ui%2Fstarter%2Fsetup_demo.py

[2021-01-27 02:17] tengqm commented on #26254
Looks like off topic. Feel free to reopen with actionable details.
/close

[2021-01-27 02:17] #26254 closed

[2021-01-27 02:54] chenxuc commented on #26178
I'm working on following items:

| Issue Name  | PR |
| ------------- | ------------- |
| Misc Batch 2  | #26250 (merged) <br> #26252 (open)  |
| Service Account   | WIP  |

[2021-01-27 06:57] madalinignisca commented on #22519
I have another issue for same example:

If I have a fresh cluster, as the container images are not yet available, it will first download them. As mysql/mariadb container images are larger than wordpress, the mysql pod will be ready much later.

The result is, when creating everything for the first time, wordpress will respond with `Error establishing a database connection`, but if I exec in it, I

[2021-01-27 08:21] #23502 closed

[2021-01-27 11:04] Manoj507 opened #26258 "Learn Kubernetes Basics"

[2021-01-27 12:08] tengqm commented on #26173
/sig storage

[2021-01-27 12:57] tengqm commented on #26163
/close

[2021-01-27 12:57] #26163 closed

[2021-01-27 17:49] sftim commented on #26253
For clarity:
/retitle Changing replicas updates immediately during paused deployment, but It is not specified in Pausing and Resuming a Deployment
/language en
/sig apps

[2021-01-27 18:15] sftim commented on #26258
/triage needs-information

@Manoj507 the issue description is blank; can you fill it in?

[2021-01-27 18:24] sftim commented on #26244
This looks like a report for https://kubernetes.io/docs/tasks/configure-pod-container/translate-compose-kubernetes/

The fix I recommend is to remove the list item, currently numbered 2 in the rendered page, that starts

/language en
/good-first-issue
/kind bug
/triage accepted
/priority backlog

Thanks @pabloli84

[2021-01-27 18:26] sftim commented on #26240
/kind support

@sreeharicheerla, GitHub is not the right place for support requests.

For help, you could ask on [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) (try the channel `#kubernetes-users`) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

[2021-01-27 18:26] sftim commented on #26221
/language en

[2021-01-27 18:27] sftim commented on #26238
@jamallmahmoudi you have not described the issue. Would you be willing to fill in the issue description?

/triage needs-information

[2021-01-27 18:28] sftim commented on #26205
@uvsq21923164 veillez expliquer ce qui a besoin de corriger.
/triage needs-information

[2021-01-27 18:31] sftim commented on #26172
Page: https://kubernetes.io/fr/docs/tasks/tools/install-kubectl/
/language fr

Page en EN / anglais: https://kubernetes.io/docs/tasks/tools/install-kubectl/

[2021-01-27 18:32] sftim commented on #26197
/kind bug
Not sure if this is in fact a kubectl defect; if so we can try to transfer the issue to https://github.com/kubernetes/kubectl

/sig cli

@kubernetes/sig-cli-misc please triage this report

[2021-01-27 18:37] sftim commented on #26199
This looks like a report for https://kubernetes.io/docs/tutorials/kubernetes-basics/explore/explore-interactive/

Make sure that when you run `kubectl proxy` it stays running (you don't quit the proxy and then try to use it to access pods). The advice is to open a second window (PowerShell, etc) to run the remaining commands.

If you see an error from `kubectl proxy` then please describe it.

Can

[2021-01-27 20:03] sftim commented on #26188
/sig auth

I think this is half support (ie, /kind support), half defect.
We could clarify “in-cluster configs”: does this mean “add-on pods that rely on service account tokens”? I'm not sure myself.

@kubernetes/sig-auth-misc would you be willing to triage this issue?

[2021-01-27 20:04] sftim commented on #26188
/language en
BTW the page is https://kubernetes.io/docs/tasks/tls/manual-rotation-of-ca-certificates/

[2021-01-27 20:44] raelga commented on #13948
Shure @murillodigital and thanks!

[2021-01-27 20:54] murillodigital commented on #13948
Listo, cualquier cosa te aviso! Muchas gracias! Dado que son varias páginas haré un PR para  cada una, supongo que no debería de link it a este issue porque lo cerraría correcto?

[2021-01-27 21:09] ymartineau commented on #26199
Thank you for your response.

Yes, this is the right url.

Yes I kept `kubectl proxy` running in one window (cmd prompt, not powershell, but I'm not sure it matters) (there was no output message) and ran curl in another window (cmd prompt).

windows version: windows 10 x64 patch 1809
minikube version: v1.16.0

Kubernetes:
kubectl version
Client Version: version.Info{Major:"1", Minor:"20", GitVersi

[2021-01-28 04:35] seokho-son commented on #26107
/close

[2021-01-28 04:36] #26107 closed

[2021-01-28 05:39] Ghost---Shadow opened #26269 "Search page rendering incorrectly"
**This is a Bug Report**

**Problem:** Navbar prevents search input field from being clicked on

Can reproduce on Firefox, Chrome on latest builds

**Proposed Solution:** Remove navbar from search page

**Page to Update:**
https://kubernetes.io/search/
![Screenshot 2021-01-28 110732](https://user-images.githubusercontent.com/7743925/106095138-40147c00-6159-11eb-972f-26a4e153c3dc.png)

[2021-01-28 05:46] tengqm commented on #24789
/close
Resolved already.

[2021-01-28 05:46] #24789 closed

[2021-01-28 07:58] keshy commented on #25898
/triage accepted

[2021-01-28 07:59] keshy commented on #25898
+1 This really needs to be updated.

[2021-01-28 10:12] shahincsejnu opened #26274 "Description is missing in DaemonSet Taints and Tolerations table"
In the table of [Taints and Tolerations](https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/#taints-and-tolerations) of [DaemonSet](https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/) there are two descriptions missing of two tolerations kyes, one is `node.kubernetes.io/disk-pressure` another one is `node.kubernetes.io/disk-pressure`, their descriptions are missi

[2021-01-28 11:22] RoozbehBandpey opened #26275 "Web UI (Dashboard) Deployment on Windows"
Hi,

I am trying to deploy kubernetes dashboard UI, with:
[code]
I get this:
[code]

What could be possible reason for this error? How to fix it?

Please let me know what all information you need to help me on this. I searched for other similar issues but that did not help much.

Thank you in advance.

Roozbeh

[2021-01-28 12:48] seokho-son commented on #26073
/triage accepted

[2021-01-28 12:48] seokho-son commented on #26176
/triage accepted

[2021-01-28 12:49] #25990 closed

[2021-01-28 13:11] dantezhu commented on #18079
curl http://localhost:8001/api/v1/namespaces/default/pods/$POD_NAME:8080/proxy/

[2021-01-28 16:28] sftim commented on #26275
/kind support

[2021-01-28 16:30] sftim commented on #26269
https://kubernetes.io/search/ is not supposed to look like that screenshot

/kind bug
/priority critical-urgent
/area web-development

Thanks for reporting this.

[2021-01-28 16:30] sftim commented on #26269
/triage accepted

[2021-01-28 16:31] sftim commented on #26269
/retitle Navbar prevents search inputfield from being clicked

[2021-01-28 16:31] sftim commented on #26269
Actually
/retitle Search page rendering incorrectly

[2021-01-28 18:15] notchairmk commented on #26171
Closing in favor of #26269

[2021-01-28 18:15] #26171 closed

[2021-01-28 18:55] #23276 closed

[2021-01-28 21:49] hariharanrbn opened #26280 "Kubelet knob for housekeepingPeriod"
https://github.com/kubernetes/kubernetes/blob/release-1.18/pkg/kubelet/kubelet.go#L145

When a node has 80-100 pods, and regularly the pod is being restarted for development purpose / crashloop/ other reasons for pod to get deleted and recreate; the housekeeping in syncloop takes between 15-45 seconds and sometimes 1.5mins. So by this time if the pod update channel receives many pod creation event

[2021-01-28 22:27] #26269 closed

[2021-01-29 05:57] #26106 closed

[2021-01-29 05:59] seokho-son opened #26282 "Korean Localization for dev-1.20-ko.4 branch"
## In English

**This is a Feature Request**

Korean Localization for `dev-1.20-ko.4` branch.

**What would you like to be added**

Any localization contributions for Korean.

**Comments**

- This issue is to notify the schedule of Korean localization to contributors.
- `dev-1.20-ko.4` is the current work branch for Korean localization.
- Korean PR Wrangler: TBD

**Important dates**
- A Korean loc

[2021-01-29 06:01] seokho-son opened #26284 "Outdated files in the dev-1.20-ko.4 branch"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.20-ko.4 branch.

### 20 files to be modified
1. [ ] M1.  `content/en/docs/concepts/architecture/controller.md`  | 1(+XS) 1(-)
1. [ ] M2.  `content/en/docs/concepts/cluster-administration/system-metrics.md`  | 1(+XS) 0(-)
1. [ ] M3.  `content/en/docs/concepts/configuration/secret.md`  | 11(+S) 2(-)
1. [ ] M4.  `content/en/docs/c

[2021-01-29 06:01] seokho-son commented on #26284
/help

[2021-01-29 07:51] nasirhm commented on #26244
I would like to work on it.

[2021-01-29 08:02] qianyong-2005 opened #26286 "tab list component should use the cached bootstrap-4.3.1.min.js"
It‘s Content have no change  from following link:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#k8s-install-0
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#k8s-install-1
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#k8s-install-2

[2021-01-29 08:04] nasirhm commented on #26244
+1 to remove the list item, I would like to work on it.

/assign @nasirhm

[2021-01-29 08:19] pjhwa commented on #26282
/triage accepted

[2021-01-29 08:20] pjhwa commented on #26284
/triage accepted

[2021-01-29 09:08] sftim commented on #26171
/triage duplicate

[2021-01-29 09:09] madalinignisca commented on #22519
I managed to overcome my above issue by using init container on the wordpress deployment to delay it until mysql service was available. this sorted the lookup for wordpress-mysql hostname for php.

[2021-01-29 11:15] Manoj507 opened #26290 "Using Minikube to Create a Cluster"

[2021-01-29 13:24] neolit123 commented on #26286
hi, can you better explain the problem and re-open the issue after that?
thanks

/sig docs cluster-lifecycle
/priority awaiting-more-evidence
/close

[2021-01-29 13:34] tengqm commented on #26286
After some testing and guessing, I think the problem is that the fancy tab list on the install-kubeadm page doesn't work for people from China. The reason behind that is the "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" is not loaded by the browser. The damn firewall blocked the site used for serving bootstrap JS module.

Back to the website, I can see the script referen

[2021-01-29 13:42] neolit123 commented on #26286
this seems like a good idea.

/reopen
/retitle tab list component should use the cached bootstrap-4.3.1.min.js

[2021-01-29 16:35] liggitt commented on #26188
this step is not needed... the controller-manager (updated and restarted in step 2 - `Update kube-controller-manager's --root-ca-file to include both old and new CA. Then restart the component.`) will update the CA in existing token secrets on its own

Yes, pods using injected service account tokens and CAs. There is no way to tell from the API which pods these are :-/

[2021-01-29 20:01] kbhawkey commented on #24351
@sftim, Is there more work to do?

[2021-01-29 21:45] kbhawkey commented on #4512
Related to PR #24772.

[2021-01-29 21:50] ravisinha0506 opened #26293 "Improvement for k8s.io/docs/tasks/administer-cluster/configure-upgrade-etcd/"
I couldn't find the options to pass etcd certificates in the etcdctl api from the doc. Could you append this example in the doc: https://kubernetes.io/docs/tasks/administer-cluster/configure-upgrade-etcd/

[code]

[2021-01-29 22:58] tsoy opened #26295 "Trouble accessing pod during “Deploying an App” tutorial"
The tutorial doesn't explain how to access the app through the proxy. It stops on a step where we creating a POD_NAME env variable but than we actuially never use this variable.
In the initial source version of this tutorial I found following step
[code]
but that doesn't seem to work either.

[2021-01-30 08:27] InfluencerNGZK opened #26303 "在 Minikube 环境中使用 NGINX Ingress 控制器配置 Ingress"
[创建一个 Ingress 资源](https://kubernetes.io/zh/docs/tasks/access-application-cluster/ingress-minikube/#%E5%88%9B%E5%BB%BA%E4%B8%80%E4%B8%AA-ingress-%E8%B5%84%E6%BA%90)中创建的`example-ingress.yaml`是`1.20`版本的写法，而目前通过[Launch Terminal](https://kubernetes.io/zh/docs/tasks/access-application-cluster/ingress-minikube/#%E5%88%9B%E5%BB%BA%E4%B8%80%E4%B8%AA-minikube-%E9%9B%86%E7%BE%A4)创建的minikube集群是`1.17`版本的，建议将`e

[2021-01-30 13:03] chenxuc commented on #26178
I'm working on following items:

| Issue Name  | PR |
| ------------- | ------------- |
| Misc Batch 2  | #26250 (merged) <br> #26252 (merged)  |
| Service Account (L)   | #26257 (merged)  |
| Portforward (L) | #26283 (merged) |
| HA (L) | WIP |
| CRICTL (L) | WIP |

[2021-01-30 14:22] sftim commented on #24351
This is done
/close

[2021-01-30 14:22] #24351 closed

[2021-01-30 14:27] sftim commented on #26280
/kind support

[2021-01-30 14:29] sftim commented on #26280
GitHub is not the right place for support on Kubernetes.

For help, you could try [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

If you wanted to request an enhancement to Kubernetes itself, visit https://github.com/kubernete

[2021-01-30 14:32] sftim commented on #26295
This seems to be about https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/ which I think is correct; however, there might be an opportunity to repeat or restate any points that are confusing people.

In which step do you think the tutorial should mention a proxy when it currently does not, @tsoy?

[2021-01-30 14:32] sftim commented on #26290
/triage needs-information

@Manoj507 you need to describe the issue, so that we can decide how to help fix it.

[2021-01-30 14:34] sftim commented on #26293
Rather than include this detail, I wonder if it makes sense to hyperlink to the etcd documentation on the same topic.

[2021-01-30 14:58] EvreySamsungA50 opened #26310 "Issue with k8s.io/docs/tasks/manage-kubernetes-objects/update-api-object-kubectl-patch/"

[2021-01-30 15:04] #26310 closed

[2021-01-30 15:34] cottrell opened #26311 "Improvement for k8s.io/docs/concepts/storage/volumes/"
Create an example specifically for development in kubernetes (not of kubernetes) deploy a web-app running with live-reload pointing to a bind mounted (or whatever) local code base.

[2021-01-30 15:38] tomkivlin commented on #26096
I would like to work on this, like the idea.

/assign

[2021-01-30 16:41] hariharanrbn commented on #26280
Thanks @sftim - raised it in https://github.com/kubernetes/kubernetes/issues/98607

[2021-01-30 16:41] #26280 closed

[2021-01-30 17:23] iamatulsingh opened #26312 "Issue with k8s.io/docs/tasks/administer-cluster/declare-network-policy/"
I was checking "Declare Network Policy" on Kubernetes documentation. I did the same task on Katacoda but instead of getting
`Connecting to Nginx (10.100.0.16:80)`
`remote file exists`

I got

`Connecting to Nginx (10.98.110.76:80)`
`remote file exists`

In the screenshot, you can see n.yaml which carries the same value i.e. copy-pasted from Kubernetes documentation. If you see in it, I was running

[2021-01-30 17:31] irvifa commented on #26311
I’m not sure if I follow, is this means to capture how to automatically loads local codebase to your deployment on the k8s cluster or?

[2021-01-30 21:59] sftim commented on #26311
Hi @cottrell

This sounds like it might work better as a blog article - https://k8s.io/blog/ - than as an addition to the Concepts section of the documentation.

What do you think? If you'd like to propose an article, folks'll be happy to help you get started.

Some existing pages that look related:
- https://www.telepresence.io/discussion/overview
- https://devblogs.microsoft.com/visualstudio/bri

[2021-01-30 22:03] sftim opened #26313 "“Developing and debugging services locally” task may include third party content"
**This is a Bug Report**

**Problem:**
[Developing and debugging services locally](https://kubernetes.io/docs/tasks/debug-application-cluster/local-debugging/) is a task page about using a third-party solution (Telepresence, which is not part of Kubernetes).

**Proposed Solution:**
Review https://kubernetes.io/docs/tasks/debug-application-cluster/local-debugging/ in the context of issue #20232

-

[2021-01-30 22:07] sftim commented on #26312
The page in question says “Make sure you've configured a network provider with network policy support.”

Did you select a network provider with that support @iamatulsingh ? If you didn't set up your cluster to have network policy support, you won't be able to run through that task successfully.

/kind support

[2021-01-30 22:08] sftim commented on #26312
(perhaps the page should have a custom prerequisites section to highlight that Minikube does not come with NetworkPolicy support?)

[2021-01-30 22:10] sftim commented on #21563
The remaining sorting is straightforward; if it weren't for the issue history I'd say it's a good first issue.
/help
/kind cleanup

[2021-01-30 22:18] sftim commented on #26215
Hi @robarros

Would you be willing to explain your suggestion? I wasn't clear about the improvement you had in mind.

/triage needs-information
/sig auth

[2021-01-31 04:57] iamatulsingh commented on #26312
Sorry I didn't check the network provider. I'm closing this issue for now. If I see this problem with network provider installed then I'll reopen this issue.

[2021-01-31 04:57] #26312 closed

[2021-01-31 05:51] ahsanrossi opened #26317 "Interactive Tutorial - Creating a Cluster"
minicube not installed.  even I tried with apt install minicube.

[2021-01-31 06:09] startwallet opened #26318 "配置 Pod 初始化"
贴出的配置文件中的
    command:
    - wget
    - "-O"
    - "/work-dir/index.html"
    - http://kubernetes.io
   应为:
    command:
    - wget
    - "-O"
    - "/work-dir/index.html"
    - http://info.cern.ch

[2021-01-31 08:52] raelga commented on #13948
Buenas @murillodigital, puedes simplemente mencionarlo (part of #13948) o algo así. De este modo, sale reflejado en la historia de este issue. Mientras no utilices ninguna keyword tipo `closes #...` no debería cerrarlo.

Y sí, mejor PRs individuales así las reviews son más rápidas.

Muchas gracias de nuevo por colaborar!

[2021-01-31 09:46] qianyong-2005 commented on #26286
Yes, I cann't open this link(https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js) from china.  even through vpn.

[2021-01-31 10:02] qianyong-2005 commented on #26286
The problem is that switching tab page from ubuntu16.04 to ubuntu 18.04/20.04 content no change.  access this
 link https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js  failed.

[2021-01-31 11:22] ydFu commented on #26177
I compiled the information that is PR Related this issue.
|  **Issue Name**  | **PR  number**  | **State**  |
|  ----  | ----  | ----  |
| System Logs  |  #26248  |  Open  |
| PSP  | #26232 | Merged  |
| Misc Batch 1  |  #26220  |  Merged  |
| Misc Batch 2  |  #26239  |  Merged  |
| Misc Batch 3  |  #26195,#26211,#26210,#26208  |  Merged  |
| Misc Batch 4  |  #26219  |  Merged  |
| Misc Batch 5  |

[2021-01-31 12:46] tengqm commented on #26177
All work items completed!!!
@ydFu @chenxuc Thank you for your hard work!

[2021-01-31 12:46] #26177 closed

[2021-01-31 15:26] igorkichuk opened #26325 "Настройка"
In [this paragraph](https://kubernetes.io/ru/docs/setup/#%D1%80%D0%B5%D1%88%D0%B5%D0%BD%D0%B8%D1%8F-%D0%B4%D0%BB%D1%8F-%D0%B7%D0%B0%D0%BF%D1%83%D1%81%D0%BA%D0%B0-%D0%BD%D0%B0-%D0%BB%D0%BE%D0%BA%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D0%B9-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD%D0%B5) is not working link(404):
![Screenshot from 2021-01-31 17-25-55](https://user-images.githubusercontent.com/32131048/106388949-6c462c

[2021-01-31 15:45] nasirhm commented on #26317
It's minik*ube, Here's how you can install it on your Debian based machine (Ubuntu, Mint, etc): https://minikube.sigs.k8s.io/docs/start/#debian-package

Once installed, You can follow the following tutorial: https://kubernetes.io/docs/tutorials/hello-minikube/

[2021-01-31 18:35] shaktixcool opened #26327 "Configure a Pod to Use a ConfigMap"
Is this correct?
envFrom:
      - configMapRef:
          name: special-config

Or it should be
- envFrom:
      - configMapRef:
          name: special-config

[2021-01-31 18:56] rdxbarakn opened #26328 "would like to add Ionir.com storage class to the documentation"
Hello, would like to add our storage class to the documentation
our platform (Ionir.com) has some very unique capabilities built-in to kubernetes and we wish to be listed here like portwx and storageOS

wondering what is the process for this?

[2021-01-31 20:23] ravisinha0506 commented on #26293
I just added the link of the doc which I am referring to!!

[2021-01-31 22:54] ahsanrossi commented on #26317
Thanks:)

[2021-01-31 23:27] nasirhm commented on #26317
You're welcome.

I think, we're good to close this issue.

/close

[2021-01-31 23:28] nasirhm commented on #26317
Can you please close it @ahsanrossi ?

[2021-02-01 01:43] CaoDonghui123 commented on #26318
/assign

[2021-02-01 02:09] auticons0902 opened #26330 "Interactive Tutorial - Deploying an App"
It seems like this note is misplaced:
"
Note: Check the top of the terminal. The proxy was run in a new tab (Terminal 2), and the recent commands were executed the original tab (Terminal 1). The proxy still runs in the second tab, and this allowed our curl command to work using localhost:8001.
"

I think it should have been located right under the "curl..." example snippet.

[2021-02-01 03:22] chenxuc commented on #26178
I'm working on following items:

| Issue Name  | PR |
| ------------- | ------------- |
| Misc Batch 2  | #26250 (merged) <br> #26252 (merged)  |
| Service Account (L)   | #26257 (merged)  |
| Portforward (L) | #26283 (merged) |
| CRICTL (L) | #26316 (open) |
| HA (L) | #26332 (open) |

[2021-02-01 03:40] xichengliudui commented on #26318
why?

[2021-02-01 03:48] CaoDonghui123 commented on #26318
sync from en

[2021-02-01 04:55] seokho-son commented on #26284
I'd like to cover M14~M20.

/assign @seokho-son
for M14~M20.

[2021-02-01 04:56] seokho-son commented on #26284
cc @jmyung

[2021-02-01 04:59] jmyung commented on #26284
@seokho-son thanks !

**M1~M8** are on me !

[2021-02-01 05:06] seokho-son commented on #26284
/assign @jmyung
for M1~M8 .

M1 ~ M8: @jmyung
M9 ~ M13: HELP! :)
M14 ~ M20: @seokho-son

[2021-02-01 05:21] pacoxu opened #26335 "pause image upgraded to 3.5 in kubelet and kubeadm for both Linux and Windows"
Just wanted to note that when this lands, this changes the owner and location of the Windows default pause image from MS to Kubernetes, and [the docs](https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/#pause-image) will need to be updated to reflect that.

I noticed this PR because the current MS-supplied pause image does not have a 20H2 build yet, and was

[2021-02-01 05:22] pacoxu commented on #26335
/sig windows
/kind documentation

[2021-02-01 05:23] chenxuc commented on #26178
@tengqm
The PR for "Service Account (L)" is merged. You might want to update the issue list with the PR #26257 .
The only item left seems to be "Topology Manageer (L)".

[2021-02-01 07:38] pjhwa commented on #26284
/assign @pjhwa
for M9 ~ M13.

[2021-02-01 08:29] seokho-son commented on #26284
Assignment.
M1 ~ M8: @jmyung
M9 ~ M13: @pjhwa
M14 ~ M20: @seokho-son

[2021-02-01 08:39] #26318 closed

[2021-02-01 09:16] shivadevops opened #26340 "unable to create cluster"
Have come here to practice, but unable to a create cluster. Can someone assist me on this.
Thanks

[2021-02-01 12:15] #25826 closed

[2021-02-01 14:55] sftim opened #26346 "Improve documentation about cross-namespace references"
**This is a Feature Request**

**What would you like to be added**
CustomResourceDefinitions and new internal APIs might refer to objects across namespaces. However, there are risks / challenges.

Document these.

**Why is this needed**
1. People who are considering using a cross-namespace reference in the API they are designing will want an opportunity to read about these.
2. Someone else providi

[2021-02-01 18:29] #23685 closed

[2021-02-01 20:37] kbhawkey commented on #26346
/triage accepted

[2021-02-02 01:58] #26209 closed

[2021-02-02 08:13] chenxuc commented on #26178
I will finish the last item "Topology Manageer (L)" in next couple days.

| Issue Name  | PR |
| ------------- | ------------- |
| Misc Batch 2  | #26250 (merged) <br> #26252 (merged)  |
| Service Account (L)   | #26257 (merged)  |
| Portforward (L) | #26283 (merged) |
| HA (L) | #26332 (merged) |
| CRICTL (L) | #26316 (open) |
| Topology Manageer (L) | WIP |

[2021-02-02 09:54] #26286 closed

[2021-02-02 09:57] sftim commented on #19463
This is really important to explain, IMO.
/remove-lifecycle rotten
/lifecycle frozen

[2021-02-02 10:10] Cweiping commented on #26328
/kind support
/language en
/sig storage
Are there any related cases? I don't think the website will provide such pages.

[2021-02-02 10:12] rdxbarakn commented on #26328
Hello

Not sure what you mean
There are examples in the website for 3rd party storage classes

I just want to add ours to it

Barak Nissim
Director Tech Solutions
P: +972-52-4705394

On Feb 2, 2021, 12:11 +0200, Weiping Cai <notifications@github.com>, wrote:

[2021-02-02 10:19] Cweiping commented on #26328
Like them: https://kubernetes-csi.github.io/docs/drivers.html

[2021-02-02 10:20] Cweiping commented on #26328
/retitle would like to add Ionir.com storage class to the documentation

[2021-02-02 10:21] rdxbarakn commented on #26328
Yes this is one place
Also in the kubernetes documentation itself
Here
https://kubernetes.io/docs/concepts/storage/storage-classes/

Barak Nissim
Director Tech Solutions
P: +972-52-4705394

On Feb 2, 2021, 12:19 +0200, Weiping Cai <notifications@github.com>, wrote:

[2021-02-02 10:33] Cweiping commented on #26197
@ruday
You can visit `packages.cloud.google. com`? I can work on CentOS(amd64), my environment:
[code]
Reference: https://kubernetes.io/docs/tasks/tools/install-kubectl/#install-using-native-package-management

[2021-02-02 10:49] Cweiping commented on #26168
It looks like [it's](https://github.com/kubernetes/website/tree/master/content/en/docs/reference/kubernetes-api/workloads-resources) being updated and needs to be regenerated.

/triage accepted
/language en
/kind bug

[2021-02-02 14:23] harridu opened #26359 "Document how to verify system cgroup setup when installing container runtime"
Newer versions of systemd use cgroup2 exclusively (aka "unified hierarchy"), ignoring legacy cgroup. Apparently some container runtimes are not compatible to cgroup2-only. This document should mention how to verify the cgroup setup (legcay, unified or hybrid) and distinguish between these environments.

[2021-02-02 15:53] lfrancke commented on #24882
/remove-lifecycle stale

[2021-02-02 18:01] sftim opened #26360 "Incorrect name stated for Endpoints"
**This is a Bug Report**

**Problem:**
The [Service](https://kubernetes.io/docs/concepts/services-networking/service/) concept page currently states:

however, the correct name for that resource is plural: “Endpoints”.

**Proposed Solution:**
Correct the pluralization.

**Page to Update:**
https://kubernetes.io/docs/concepts/services-networking/service/

Additional Information:
/sig network
/kind

[2021-02-02 18:02] sftim commented on #26340
GitHub is not the right place for support requests.

For help, you could ask on [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes)

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) - try the channel `#kubernetes-novice` - or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

/kind support

[2021-02-02 18:08] sftim commented on #26359
/retitle Document how to verify system cgroup setup when installing container runtime
/sig node

[2021-02-02 18:10] sftim commented on #26330
This report is related to https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/, I think.

It's a good suggestion

/kind cleanup
/language en
/priority backlog
/triage accepted
/help

[2021-02-02 18:12] sftim commented on #26325
/language run

[2021-02-02 18:13] sftim commented on #26325
/language ru

I think when that page is updated, it should link to https://kubernetes.io/docs/setup/learning-environment/ (which is a redirect)

[2021-02-02 18:13] sftim commented on #26317
/kind support
/close

[2021-02-02 18:13] #26317 closed

[2021-02-02 18:19] sftim commented on #21749
/remove-priority awaiting-more-evidence
/priority backlog

[2021-02-02 19:33] sftim commented on #1911
/kind feature

[2021-02-02 19:33] sftim commented on #4410
/sig auth

[2021-02-02 19:34] sftim commented on #4410
https://kubernetes.io/docs/reference/kubernetes-api/authentication-resources/service-account-v1/#ServiceAccount now _partly_ covers this.

[2021-02-02 19:38] sftim opened #26361 "Use consistent pluralization for API groupings in reference"
**This is a Feature Request**

**What would you like to be added**
For the pages:
https://kubernetes.io/docs/reference/kubernetes-api/workloads-resources/
https://kubernetes.io/docs/reference/kubernetes-api/authentication-resources/
https://kubernetes.io/docs/reference/kubernetes-api/cluster-resources/
https://kubernetes.io/docs/reference/kubernetes-api/services-resources/
https://kubernetes.io/do

[2021-02-02 20:47] xuhfhwlftsbxakqyem opened #26362 "Issue with k8s.io/docs/tutorials/kubernetes-basics/explore/explore-interactive/"
The command `curl http://localhost:8001/api/v1/namespaces/default/pods/$POD_NAME/proxy/`
raises an error: `curl: (7) Failed to connect to localhost port 8001: Connection refused`

[2021-02-03 03:17] #26274 closed

[2021-02-03 06:53] zhiguo-lu opened #26364 "[zh] translate "Migrating from dockershim""
**This is a Feature Request**
translate /docs/tasks/administer-cluster/migrating-from-dockershim/_index.md into Chinese

**What would you like to be added**
/zh/docs/tasks/administer-cluster/migrating-from-dockershim/_index.m

/assign
/language zh

[2021-02-03 06:56] zhiguo-lu opened #26365 "[zh] translate "Check whether Dockershim deprecation affects you""
**This is a Feature Request**
translate  /docs/tasks/administer-cluster/migrating-from-dockershim/check-if-dockershim-deprecation-affects-you.md into Chinese

**What would you like to be added**
 /zh/docs/tasks/administer-cluster/migrating-from-dockershim/check-if-dockershim-deprecation-affects-you.md

/assign
/language zh

[2021-02-03 06:57] zhiguo-lu opened #26366 "[zh] translate "Migrating telemetry and security agents from dockershim""
**This is a Feature Request**
translate /docs/tasks/administer-cluster/migrating-from-dockershim/migrating-telemetry-and-security-agents.md

**What would you like to be added**
/zh/docs/tasks/administer-cluster/migrating-from-dockershim/migrating-telemetry-and-security-agents.md

/assign
/language zh

[2021-02-03 07:12] guobinzhao opened #26367 "在 Minikube 环境中使用 NGINX Ingress 控制器配置 Ingress"
https://kubernetes.io/zh/docs/tasks/access-application-cluster/ingress-minikube/
failed with the following:
![image](https://user-images.githubusercontent.com/35445187/106711221-262fd900-6632-11eb-9f04-1ee0172ae23c.png)

[2021-02-03 13:28] sftim commented on #26034
Rather than remove those sections, let's update them to clarify why they remain valid.

[2021-02-03 13:45] ajplarson opened #26371 "Interactive Tutorial - Creating a Cluster"
after multiple refreshes, the katacode scenario is still stuck on preparing for me.

[2021-02-03 13:47] ajplarson commented on #26371
Here is some additional info from console:

Failed to load resource: net::ERR_BLOCKED_BY_CLIENT
tracker.js:1 Failed to load resource: net::ERR_BLOCKED_BY_CLIENT
cdn.mxpnl.com/libs/mixpanel-2.2.min.js:1 Failed to load resource: net::ERR_BLOCKED_BY_CLIENT
terminal-application.js?v=20200201:1 kc-info Object
terminal-application.js?v=20200201:1 Uncaught ReferenceError: trackJs is not defined
    at So

[2021-02-03 13:56] ajplarson commented on #26371
this is related to a corporate network issue.

[2021-02-03 13:56] #26371 closed

[2021-02-03 14:38] kbhawkey commented on #22918
Since this should be fixed soon,
/remove-lifecycle stale

[2021-02-03 17:15] #23714 closed

[2021-02-03 18:37] celestehorgan commented on #26362
@xuhfhwlftsbxakqyem – can you link the page where you found this command?

/triage needs-information

[2021-02-03 18:38] celestehorgan commented on #26313
/kind bug
/help-wanted

[2021-02-03 18:39] celestehorgan commented on #26313
/help

[2021-02-03 18:39] celestehorgan commented on #26313
/triage accepted

[2021-02-03 18:40] celestehorgan commented on #26360
/triage accepted
/help

[2021-02-03 19:51] kbhawkey commented on #24413
Fixed by PR #24024.
/close

[2021-02-03 19:51] #24413 closed

[2021-02-03 19:55] kbhawkey commented on #26136
PR #24769 has merged.
This issue can close. If there are additional questions, feel free to reopen this issue.
/close

[2021-02-03 19:55] #26136 closed

[2021-02-03 19:56] kbhawkey commented on #26361
/triage accepted

[2021-02-03 21:09] celestehorgan commented on #19264
Hi @blueelvis,

Why do you feel the labels are incorrect, per @sftim 's earlier question?

If we receive no response we will close this issue.

[2021-02-04 03:24] huzerun0306 opened #26376 "The link addresses of Chinese documents and English documents are inconsistent"
The specific location of the document is：
https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/#securing-the-service
The documentation says：
You can acquire all these from the **nginx https example**. This requires having go and make tools installed.
The link of the Chinese document is: https://github.com/kubernetes/kubernetes/tree/master/staging/https-nginx/
**he c

[2021-02-04 03:43] tengqm commented on #26376
/triage accepted
/language zh
/kind bug

[2021-02-04 03:48] RA489 commented on #26367
@guobinzhao can you please try this as a workaround https://minikube.sigs.k8s.io/docs/tutorials/nginx_tcp_udp_ingress/

[2021-02-04 04:08] Brian-Kwon opened #26377 "ko: translate Dockershim Deprecation FAQ into Korean"
I'd like to translate below into Korean to spread about dockershim deprecation via FAQ
https://kubernetes.io/blog/2020/12/02/dockershim-faq/

A couple of members in sig-doc-ko has translate a page related to docker panic theme.
FAQ page is more technical to-do behaviours for this community

These are the draft version of Korean page
I hope this will be available for next release (dev-ko-1.20.4)

[2021-02-04 04:10] Brian-Kwon commented on #26377
@seokho-son @pjhwa
FYI~ Please let me know what I have to do before starting translation about dockershim deprecation FAQ
Thanks for your support.

[2021-02-04 04:11] JacobHenner opened #26378 "Secret documentation references unimplemented feature"
**This is a Bug Report**

**Problem:** It appears as if the Secret documentation references a feature that isn't currently implemented. Specifically, it includes the following:

Prior to #26027 this was accompanied by the text:

However, PodPresets have been dropped from Kubernetes.

Accordingly, this section should reference a different mechanism to achieve the same goal if such a mechanism exist

[2021-02-04 04:18] seokho-son commented on #26377
/language ko

[2021-02-04 04:31] seokho-son commented on #26377
@Brian-Kwon Thank you for the suggestion !!

Since there is no duplicated issue regarding the suggested document, it looks good to go. :)
(you can check Korean issues by filtering issues: https://github.com/kubernetes/website/issues?q=is%3Aissue+is%3Aopen+label%3Alanguage%2Fko)

I have minor comment regarding ISSUE template (style) for suggesting new Korean translation.
Please check a general styl

[2021-02-04 05:48] sakaia commented on #24917
I close this issue, because there is no activity.

[2021-02-04 05:48] #24917 closed

[2021-02-04 07:50] MartinForReal opened #26382 "compute-device-assignment.md is not found"
**This is a Bug Report**

**Proposed Solution:**
[Support Device Monitoring](https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/compute-device-assignment.md) in this page is linked to a dead url.
**Page to Update:**
https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/

[2021-02-04 10:45] MadDashMurphy opened #26383 "Improvement for k8s.io/docs/reference/glossary/"
Sounds stupid and obvious but "Microservice" is missing a definition in the Glossary.  It is referenced twice by other entries but not defined.

[2021-02-04 12:17] amitbis opened #26384 "Issue with k8s.io/docs/tasks/debug-application-cluster/audit/"
when applying the "simple" audit policy example it doesn't work and show this error:
the error
error: unable to recognize "audit.yaml": no matches for kind "Policy" in version "audit.k8s.io/v1"

the policy:
# Log all requests at the Metadata level.
apiVersion: audit.k8s.io/v1
kind: Policy
rules:
- level: Metadata

[2021-02-04 14:02] sftim opened #26385 "Mention PDB updates in PodDisruptionBudget task page"
**This is a Feature Request**

**What would you like to be added**
~https://kubernetes.io/docs/concepts/workloads/pods/disruptions/#pod-disruption-budgets mentions PodDisruptionBudget.~

~Verify that this documentation is:~
~- current~
~- correct~
~- relevant~

~Also check whether https://kubernetes.io/docs/tasks/run-application/configure-pdb/ should have any changes in light of improvements such

[2021-02-04 14:04] sftim commented on #26378
/kind bug
Relevant SIG is SIG Service Catalog, but anyone can tidy up (remove the mention of PodPreset).

/triage accepted
/language en
/help

[2021-02-04 14:06] #26378 closed

[2021-02-04 14:06] sftim commented on #26384
You can pass a file with the policy to kube-apiserver using the `--audit-policy-file` flag.

@amitbis / anyone: The page is accurate, but some people might not read every word. Feel free to add a [note](https://kubernetes.io/docs/contribute/style/style-guide/#note) callout to make it clear that you can't configure API server auditing by treating that file as a manifest.

/language en

[2021-02-04 14:08] sftim commented on #26383
/kind feature
/priority awaiting-more-evidence

As “microservice” is not a Kubernetes term, we could infer that readers can use a web search engine to look it up. I'm also open to adding this term if anyone wants to open the PR for it.
/language en

[2021-02-04 14:09] sftim commented on #26383
I notice that on Google Search, the top three results for “microservice” look really relevant.

[2021-02-04 14:10] sftim commented on #26382
/kind bug
/sig node
/language en
/triage accepted

Rather than linking to a KEP, we should really add a new page to the documentation (maybe in Concepts, maybe in Reference) and then link to that.

[2021-02-04 14:16] kbhawkey commented on #18675
/remove-lifecycle stale

[2021-02-04 18:26] kbhawkey commented on #26385
Is this issue related to issue https://github.com/kubernetes/website/issues/22391?

[2021-02-04 18:35] sftim commented on #26385
Both issues are about the same web page. _This_ issue is about making sure the docs are ready for the PodDisruptionBudget API to graduate to stable.

[2021-02-04 18:35] sftim commented on #26340
/close

[2021-02-04 18:36] #26340 closed

[2021-02-04 19:10] sftim commented on #15909
/remove-lifecycle rotten

[2021-02-04 19:21] sftim commented on #4491
/sig apps
/sig security

[2021-02-04 19:26] sftim commented on #4479
/triage accepted

I don't see any obvious _style_ concerns.

[2021-02-04 20:14] sftim commented on #4500
Relevant to https://github.com/kubernetes/enhancements/issues/19
/triage accepted

[2021-02-04 21:26] kbhawkey commented on #26385
OK. Possibly address both issues in one PR.
/triage accepted

[2021-02-04 21:28] kbhawkey commented on #26244
If you have time, this task page could use some cleanup of the markup.

[2021-02-04 23:50] Arhell commented on #26360
/assign

[2021-02-05 00:46] #20759 closed

[2021-02-05 01:20] santachopa opened #26393 "Translate reference/glossary/storage-class.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate reference/glossary/storage-class.md in Korean

**Why is this needed**
No translation reference/glossary/storage-class.md in Korean

**Comments**

Page to update : https://kubernetes.io/ko/docs/reference/glossary/?core-object=true#term-storageclass

[2021-02-05 01:21] santachopa commented on #26393
/assign
/language ko

[2021-02-05 05:08] #26364 closed

[2021-02-05 09:27] sftim commented on #25833
From https://github.com/kubernetes/website/pull/26119#issuecomment-773326471:

(I agree)

[2021-02-05 09:27] sftim commented on #25833
/sig auth

[2021-02-05 09:29] sftim commented on #19828
/remove-lifecycle rotten

[2021-02-05 09:49] sftim commented on #19518
/remove-lifecycle rotten

[2021-02-05 09:50] sftim commented on #23726
Will close this. Slightly relevant to issue https://github.com/kubernetes/website/issues/25833
/close

[2021-02-05 09:51] #23726 closed

[2021-02-05 09:58] sftim commented on #24226
Problem wording is gone
/close

[2021-02-05 09:58] #24226 closed

[2021-02-05 10:27] MadDashMurphy commented on #26383
Good point although Istio is not a Kubernetes term but is listed in the glossary so I think there is precedent.  I think it is an opportunity to help newbies (me) coalesce around a definition and understand how it relates to Kubernetes.

Thanks for looking at it.

[2021-02-05 13:08] Arhell commented on #26360
@sftim can be closed

[2021-02-05 13:19] sftim commented on #26360
/close

[2021-02-05 13:19] #26360 closed

[2021-02-05 14:17] colemonserge opened #26399 "Online TV Channel"
Online TV Channel

[2021-02-05 18:35] celestehorgan commented on #26399
/close

[2021-02-05 18:35] #26399 closed

[2021-02-05 18:37] celestehorgan commented on #21867
/remove-lifecycle rotten

[2021-02-05 18:39] celestehorgan commented on #26275
Hi @RoozbehBandpey,

Issues in this repository must be about the documentation – we cannot provide support here.

Is there a particular page of documentation on kubernetes.io you followed that caused this error? If not, I suggest joining [Kubernetes Slack](https://slack.k8s.io/) and asking for help there.

[2021-02-05 18:59] celestehorgan commented on #26327
Hi @shaktixcool,

Are you following a specific page of documentation when encountering this error? If so, could you please link it?

[2021-02-05 19:24] celestehorgan commented on #26290
@Manoj507,

If you do not describe the issue in detail, we will need to close this issue.

[2021-02-05 21:30] geoffcline opened #26403 "docs DNS resolution between namespaces"
**This is a Bug Report**

**Problem:** the guidance on DNS resolution for services between namespaces is confusing users.

**Proposed Solution:** add additional info on the troubleshooting pages, add a table to the services concept page

**Page to Update:**
https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/
https://kubernetes.io/docs/tasks/debug-application-cluster/debug

[2021-02-05 21:30] geoffcline commented on #26403
/assign

[2021-02-05 21:58] celestehorgan commented on #21436
@sftim Taking a look at the PR linked to this and the discussion here, I'm going to go ahead and merge the PR.

Thanks for your patience with the process and your contributions, @ljnaresh!

[2021-02-05 22:31] celestehorgan commented on #26102
@natereid72 It seems like you don't think this issue is valid anymore. Is that correct? If so, I'd like to close it.

[2021-02-05 22:34] celestehorgan commented on #26052
Hi @atul-mindmatch,

You haven't returned to this issue. Is it okay if we close this?

[2021-02-05 22:43] celestehorgan commented on #26095
/help-wanted

[2021-02-05 22:43] celestehorgan commented on #26095
/help

[2021-02-05 22:44] celestehorgan commented on #26403
/triage accepted
/kind cleanup

[2021-02-05 22:49] natereid72 commented on #26102
Sorry, yes, ok with me.

Sent from ProtonMail mobile

-------- Original Message --------
On Feb 5, 2021, 5:32 PM, Celeste Horgan wrote:

[2021-02-05 23:04] celestehorgan commented on #26234
Hi @CloudXli,

Can you provide more details? If not, I'd like to close this issue.

[2021-02-05 23:08] #23742 closed

[2021-02-05 23:59] Abdessamii85 opened #26406 "correct Falco Chart URL"
**This is a Feature Request**

**replace the link for the "Falco Helm Chart" from https://github.com/helm/charts/tree/master/stable/falco to https://github.com/falcosecurity/charts/tree/master/falco**

**the incubator/falco is deprecated in favor of the official Falco Helm Chart**

**Comments**

[2021-02-06 05:43] chenxuc commented on #26178
All items are completed!

| Issue Name  | PR |
| ------------- | ------------- |
| Misc Batch 2  | #26250 (merged) <br> #26252 (merged)  |
| Service Account (L)   | #26257 (merged)  |
| Portforward (L) | #26283 (merged) |
| HA (L) | #26332 (merged) |
| CRICTL (L) | #26316 (merged) |
| Topology Manageer (L) | #26363 (merged) |

[2021-02-06 14:23] #26244 closed

[2021-02-06 16:19] #26194 closed

[2021-02-06 16:28] irvifa commented on #26102
/close

[2021-02-06 16:28] #26102 closed

[2021-02-06 16:32] irvifa commented on #21436
The PR is merged
/close

[2021-02-06 16:32] #21436 closed

[2021-02-06 16:35] irvifa commented on #26385
/help

[2021-02-06 16:36] irvifa commented on #4497
/triage accepted

[2021-02-06 20:16] kreempuff commented on #22298
/remove-lifecycle stale

[2021-02-07 02:50] CaoDonghui123 commented on #26376
/assign

[2021-02-07 02:51] #26365 closed

[2021-02-07 03:38] zhiguo-lu opened #26410 "[zh] translate blog "Dockershim Deprecation FAQ""
**This is a Feature Request**
translate  /blog/_posts/2020-12-02-dockershim-faq.md

**What would you like to be added**
content/zh/blog/_posts/2020-12-02-dockershim-faq.md

/assign
/language zh

[2021-02-07 07:36] boostmachines opened #26411 "Issue with k8s.io/docs/tutorials/hello-minikube/"
"Create a Deployment"

1. kubectl create deployment hello-minikube --image=k8s.gcr.io/echoserver:1.4

Results:

"error:  no matches for extension/, Kind=Deployment"

[2021-02-07 08:03] irvifa commented on #26411
Do you have information of the version of minukube and kubectl you’re using?

[2021-02-07 08:14] irvifa commented on #26411
/priority awaiting-more-evidence

[2021-02-07 08:39] zhiguo-lu commented on #26366
/triage accepted

[2021-02-07 08:40] zhiguo-lu commented on #26410
/triage accepted

[2021-02-07 11:08] irvifa commented on #21660
/remove-lifecycle rotten

[2021-02-07 11:29] #23622 closed

[2021-02-07 11:39] #25774 closed

[2021-02-07 14:04] sftim commented on #16868
This didn't happen, but that doesn't mean it's not a good idea to do at some point.

[2021-02-07 14:08] sftim commented on #15560
/remove-lifecycle stale

[2021-02-07 15:13] sftim commented on #23101
Actually, this is important.
/remove-lifecycle rotten
/reopen

[2021-02-07 15:14] sftim commented on #23394
/remove-lifecycle rotten
It's still important to do this.

[2021-02-07 15:29] ydFu commented on #26382
@sftim @MartinForReal
The fail link in Support Device Monitoring due to [this page changed](https://github.com/kubernetes/enhancements/commit/7b3fdb6ed9d3f6fa95989ab9fe2ee5c25b6857ab#diff-3328a21626dec544a559603b80e0df6be4fb0bdeec9a9dfaaa235870d48c052a).
This root cause in the kind/bug is the repo of kubernetes/enhancements url that move `keps/sig-node/compute-device-assignment.md` to `keps/sig-no

[2021-02-07 15:36] sftim opened #26414 "Clarify difference between API verbs and HTTP verbs"
**This is a Feature Request**

**What would you like to be added**
Revise [Kubernetes API Concepts](https://kubernetes.io/docs/reference/using-api/api-concepts/) to make it very clear to readers that there are two kinds of technical verbs documented in that page: API verbs and HTTP verbs. Separate from both of these are some of the same words used as nouns.

**Why is this needed**
https://kubernet

[2021-02-07 15:38] sftim commented on #26406
Hi @Abdessamii85

Which page do you think is not right?
/triage needs-information

[2021-02-07 15:39] sftim commented on #26403
/sig network

[2021-02-07 15:44] Abdessamii85 commented on #26406
Hi @sftim  this page : https://v1-16.docs.kubernetes.io/docs/tasks/debug-application-cluster/falco/

[2021-02-07 15:46] sftim commented on #26361
@feloy you might want to know about this issue - I am sure you would have some tips for a person picking it up

[2021-02-07 15:55] sftim opened #26415 "Distinguish between API resources vs. field definitions (subresources)"
**This is a Feature Request**

**What would you like to be added**
Distinguish between API resources vs. field definitions in the [API reference](https://kubernetes.io/docs/reference/kubernetes-api/). This distinction should appear in both listings and in detailed pages such as https://k8s.io/docs/reference/kubernetes-api/workloads-resources/ephemeral-containers-v1/

_Ideally_ the reader also unde

[2021-02-07 15:55] sftim commented on #26415
/sig architecture
/sig api-machinery

[2021-02-07 15:55] sftim commented on #26415
/language en

[2021-02-07 15:56] sftim commented on #26415
@feloy I'd be interested to learn your thoughts on this. I think it's a matter not just for the specific API generator that you led the work on - there are also open questions about how we explain these differences more generally.

[2021-02-07 15:58] sftim commented on #26406
@Abdessamii85 the appropriate action is actually to _remove_ that task page from the v1.16 documentation. This is because that page no longer fits in with our [content guide](https://kubernetes.io/docs/contribute/style/content-guide/).

[2021-02-07 15:58] sftim commented on #26406
/remove-triage needs-information
/kind cleanup
/language en

[2021-02-07 17:30] kbhawkey opened #26416 "kompose task page (duplicate content and naming)"
**This is a Bug Report**
The `kompose` tool has a dedicated website and github repository:
 `kompose.io` and `https://github.com/kubernetes/kompose`. Should the `kompose` task page exist on kubernetes.io?

**Problem:**
- The task page, `en/docs/tasks/configure-pod-container/translate-compose-kubernetes.md` duplicates
content found in the site `kompose.io` and `https://github.com/kubernetes/kompose

[2021-02-07 17:30] kbhawkey commented on #26416
/wg naming

[2021-02-07 17:32] kbhawkey commented on #26416
Related to https://github.com/kubernetes/website/issues/20232

[2021-02-07 17:33] kbhawkey commented on #26416
/kind cleanup

[2021-02-08 00:41] seokho-son commented on #26393
/triage accepted
Thank you!

[2021-02-08 00:45] seokho-son commented on #26282
Schedule changed due to the Korean holidays :)

- PR Freeze: **02/15** (PR opened after freeze will be requested to rebased to next work branch)
- Branch Merge: **02/18** (merge to master branch)

[2021-02-08 06:36] gandalftg opened #26420 "Improvement for k8s.io/docs/concepts/services-networking/ingress/"
HI,

The page is about Ingress, why the Ingress controller is not at the beginning of the page?
there are links to 3rd party Ingress controllers but this is not important , the kubernetes Nginx basic Ingress controller
should be there and explained.
I have seen this things in many of your documentations , Kubernetes is anyway a chaos in my opinion when it comes to get everything in one place and t

[2021-02-08 06:48] #26420 closed

[2021-02-08 06:48] gandalftg commented on #26420
NM

[2021-02-08 10:28] fabriziopandini commented on #20953
/remove-lifecycle stale

[2021-02-08 10:28] fabriziopandini commented on #20952
/remove-lifecycle stale

[2021-02-08 11:00] shreemadaExploring opened #26425 "kubeadm config"
when execute any kubectl command I get the following error in the worker nodes,

[code]

[code]
how do we create admin.conf for worker nodes?

It works fine in master system.

[2021-02-08 12:10] Bamzhy opened #26426 "[problem solved] How to make all nodes authenticated to a private registry by kubectl on a remote ECS"
### This is just a footnote, mainly based on the situation I met
- After installing the kuberctl and getting connected to the kubernetes cluster
    - Make sure `kubectl get nodes` works
- I finish the deployment.yaml, and excute `kubectl apply -f deployment.yaml`  command
[code]
- But the pod didn't work, and it throw out an error `Error: ImagePullBackOff`
- The next step should be create your ow

[2021-02-08 12:13] Bamzhy commented on #26426
This problem is actually solved, so I need to close this issue, but if anyone is in the same situation, please leave a comment.

[2021-02-08 12:13] #26426 closed

[2021-02-08 14:10] #21241 closed

[2021-02-08 15:53] neolit123 commented on #26425
on worker nodes you should not copy the admin.conf, it should be used only on control plane nodes by the admin.

you could use the kubelet.conf on workers but know that it's limited:
`KUBECONFIG=/etc/kubernetes/kubelet.conf sudo kubectl get no`

/kind support
/close

for other support questions please use:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2021-02-08 15:53] #26425 closed

[2021-02-08 15:54] neolit123 commented on #26425
/sig cluster-lifecycle

[2021-02-08 15:58] celestehorgan commented on #21621
/remove lifecycle-stale

[2021-02-08 15:59] celestehorgan commented on #21621
/remove-lifecycle stale

[2021-02-08 16:45] mltsy commented on #22391
/remove-lifecycle stale

I think this could be resolved by replacing:
"On a basic Kubernetes cluster, there are no voluntary disruptions at all."
with:
"On a basic Kubernetes cluster, there are no automated voluntary disruptions."

Although is this actually true?  The text mentions "Removing a pod from a node to permit something else to fit on that node." which I believe is something a basic Kuber

[2021-02-08 17:27] sftim commented on #22391
AIUI Kubernetes does not come with a descheduler but you can add one in, such as: https://github.com/kubernetes-sigs/descheduler

/sig scheduling

[2021-02-08 17:43] irvifa commented on #25943
/sig cli

[2021-02-08 18:01] mltsy commented on #22391
Ah!  Okay, well that simplifies it then.  (I'm using GKE, so it must have use a custom de/scheduler if Kubernetes doesn't come with a standard one that has this behavior) Yeah, it looks like the default plugin that determines this behavior is the `DefaultPreemption` plugin, which only evicts pods if a priority are set, which is not a default, so I think it's safe to say that's not a "default" beha

[2021-02-08 18:57] justaugustus commented on #22918
PR opened here: https://github.com/kubernetes/examples/pull/410

[2021-02-08 19:14] celestehorgan commented on #20074
Hi all,

We've taken a look at this issue in the most recent WG naming meeting.

We don't think there's an issue of language/inclusivity that needs to be addressed in this issue, so I'm going to remove the wg-naming tag.

However, as a writer, there is definitely a developer style guide issue at play here, which would be useful to talk about in the next SIG Docs meeting

/remove wg-nnaming

[2021-02-08 19:14] celestehorgan commented on #20074
/remove wg-naming

[2021-02-08 20:20] MikeSpreitzer commented on #20074
And remember this is an issue not only for developers of the code, there is also the user-facing documentation.

[2021-02-08 20:50] kbhawkey commented on #26415
/triage accepted

[2021-02-08 20:51] kbhawkey commented on #26414
/triage accepted

[2021-02-08 20:54] kbhawkey commented on #26361
This change needs to happen in the generator, `gen-resourcesdocs`?
The idea is to make the resource type or category singular?

[2021-02-08 21:02] kbhawkey commented on #25833
/triage accepted

[2021-02-08 21:04] kbhawkey commented on #25833
I left notes (PR #26119) about how to create a new task page from the `Certificates` page. Does this sound like a good approach?

[2021-02-08 21:26] kbhawkey commented on #25505
Hi. As part of the migration, I'd like to understand the API categories and work on resolving some of the questions about navigation.
- Do the categories server only to group the resource pages in the left hand navigation tree; Or,
- Do the categories provide a clear pathway or hint to locate a resource?
- There is a question about missing beta types. Log a separate issue?
  `Documentation for som

[2021-02-08 22:36] SergeyKanzhelev commented on #14956
/remove-lifecycle rotten

PR proposing promoting the feature gate: https://github.com/kubernetes/enhancements/pull/2418

[2021-02-08 22:40] SergeyKanzhelev commented on #14956
From [CHANGELOG-1.10](https://github.com/kubernetes/kubernetes/blob/cea1d4e20b4a7886d8ff65f34c6d4f95efcb4742/CHANGELOG/CHANGELOG-1.10.md)

[2021-02-09 00:56] onlydole commented on #22489
/remove-lifecycle stale

[2021-02-09 01:56] tengqm commented on #14956
Just for clarification ... the feature gate `CRIContainerLogRotation` has been documented. What is missing is some more detailed task like user docs for this feature. The KEP2418 is about graduating this feature to GA, which mandates another change to the feature gate doc. Am I understanding the situation correctly?

[2021-02-09 02:48] Jerry4013 opened #26434 "Advice on task “Configure Service Accounts for Pods”"
To use a non-default service account, simply set the spec.serviceAccountName field of a pod to the name of the service account you wish to use.

If using a minikube, how can I set spec.serviceAccountName of this pod? Thanks!

[2021-02-09 07:27] SergeyKanzhelev commented on #14956
Yes, documenting flags controlling the file size and how to access logs would be desirable in documentation on GA.

[2021-02-09 08:28] #20473 closed

[2021-02-09 08:53] santachopa commented on #26073
/close

[2021-02-09 08:53] #26073 closed

[2021-02-09 08:54] santachopa commented on #26176
/closd

[2021-02-09 09:29] #20814 closed

[2021-02-09 11:26] sftim commented on #26361
That's the approach I'd take.

[2021-02-09 16:36] #19644 closed

[2021-02-09 18:53] IBDaMann opened #26441 "Improvement for k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro/"
Your page was supposed to explain creating a deployment using kubectl.  Guess what it didn't explain ... you get three guesses.

How do I use kubectl to create a deployment with all of the settings and labels etc?

Once I create a deployment how do I use kubectl to add labels to that deployment, and annotations, and change the containerport, etc... i.e. how do I use kubectl to make changes to that

[2021-02-10 00:04] santachopa commented on #26176
/close

[2021-02-10 00:04] #26176 closed

[2021-02-10 02:04] tengqm commented on #21558
/remove-lifecycle rotten

[2021-02-10 02:05] tengqm commented on #20348
/remove-lifecycle rotten

[2021-02-10 02:05] tengqm commented on #20348
/priority backlog

[2021-02-10 02:16] derektamsen opened #26443 "Improve apiserver proxy url resource location port filter"
**This is a Feature Request**

**What would you like to be added**

The [documentation for manually constructing apiserver proxy URLs](https://github.com/kubernetes/website/blob/master/content/en/docs/tasks/access-application-cluster/access-cluster.md#manually-constructing-apiserver-proxy-urls) is lacking clarity that both the port name or port number can be used when proxying to a service. The do

[2021-02-10 02:54] tengqm commented on #24146
/close
Closing as a dup of #17842

[2021-02-10 02:54] #24146 closed

[2021-02-10 05:34] robtayl0r opened #26445 "Configuration file(s) and config document schemas would be very helpful"
**This is a Feature Request**

**What would you like to be added**
A reference to yaml config file structures, specifically from within the kubeadm reference pages. More specifically the `kind: InitConfiguration` and `kind: ClusterConfiguration` blocks. But finding a reference to any structures has proven very difficult.

**Why is this needed**
Perhaps it's because I'm new to kubeadm and k8s, but

[2021-02-10 08:19] chenxin6 opened #26448 "the demo yaml does not match the document"
https://kubernetes.io/zh/docs/concepts/services-networking/ingress/#tls
The host in the yaml is https-example.foo.com. But the host in the document is sslexample.foo.com

[2021-02-10 08:27] leynebe opened #26449 "Improvement for k8s.io/docs/concepts/overview/working-with-objects/namespaces/"
How do I declare a namespace using manifests?

[2021-02-10 08:28] #26449 closed

[2021-02-10 09:10] ingvagabund opened #26450 "Kubernetes Scheduler documentation does not mention deprecation of scheduling policies API"
**This is a Bug Report**

**Problem:**
Scheduling Policies API was deprecated beginning 2018. Yet, [Kubernetes Scheduler documentation](https://kubernetes.io/docs/concepts/scheduling-eviction/kube-scheduler/) does not mention the fact (it's been 3 years now). Worth mentioning there to inform users not aware of the fact to prepare for it and transition into Scheduling Profiles API instead.
Also, wo

[2021-02-10 09:13] sftim commented on #12082
/remove-lifecycle rotten
/lifecycle frozen

[2021-02-10 09:27] irvifa commented on #26450
/triage accepted

[2021-02-10 09:30] irvifa commented on #26448
/language zh

[2021-02-10 09:30] irvifa commented on #26443
/kind cleanup

[2021-02-10 09:31] irvifa commented on #26443
/triage accepted

[2021-02-10 09:37] irvifa commented on #26416
/triage accepted

[2021-02-10 09:42] irvifa commented on #26205
/language fr

[2021-02-10 09:53] irvifa commented on #26295
I'm wondering if this is related to https://github.com/kubernetes/website/issues/26330

[2021-02-10 10:20] tengqm commented on #26445
/triage feature
/sig cluster-lifecycle

There actually was an effort to generate and publish this config. See https://github.com/kubernetes-sigs/reference-docs/pull/176.

[2021-02-10 10:24] tengqm commented on #14507
/remove-lifecycle rotten

We do need some docs about the eviction feature and its API. There are some API specifics that needs attention.

[2021-02-10 12:56] tengqm commented on #26448
/triage accepted
/kind bug
/assign

[2021-02-10 15:25] neolit123 commented on #26445
we are already tracking improvements in:
https://github.com/kubernetes-sigs/reference-docs/pull/176
https://github.com/kubernetes/website/issues/24558

/kind support
/close

we do occasional requests to improve this, but not very often.
users that are having troubles ask in #kubeadm on k8s slack.

our docs instruct users not to mix flags and config files.
general rule is that you should be passing

[2021-02-10 15:26] #26445 closed

[2021-02-10 15:26] neolit123 commented on #26445
-------
side note:

looks like godoc changed their structure, so now our link from the `kubeadm join` page no longer goes to the list of versions at the bottom

the old link here:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-join/#config-file

is:
[code]

but there is no longer an anchor called `pkg-subdirectories`

---------

![Untitled](https://user-images.githubusercontent.c

[2021-02-10 15:29] neolit123 commented on #26445
the idea is that you should:
- pick an API version from godoc e.g. https://pkg.go.dev/k8s.io/kubernetes@v1.20.2/cmd/kubeadm/app/apis/kubeadm/v1beta2
- read the general info at the top
- then find a structure that you want to use e.g. https://pkg.go.dev/k8s.io/kubernetes@v1.20.2/cmd/kubeadm/app/apis/kubeadm/v1beta2#JoinConfiguration
and read the field comments.

most users don't have troubles follo

[2021-02-10 19:07] alculquicondor commented on #22530
/remove-lifecycle rotten

[2021-02-10 19:57] adthonb opened #26457 "Use Port Forwarding to Access Applications in a Cluster"
On Forward a local port to a port on the Pod section

this
`kubectl port-forward service/redis-master 7000:redis`

should be
`kubectl port-forward service/redis-master 7000:6379`

[2021-02-10 23:05] #20183 closed

[2021-02-10 23:16] sftim commented on #26434
/retitle Advice on task “Configure Service Accounts for Pods”

/kind support
I think

We could explain how to edit the Pod, but that feels like it'd be better covered as signposting to a “how do I edit a Pod” task.

[2021-02-10 23:18] sftim commented on #26443
/priority backlog

[2021-02-11 02:20] Cweiping commented on #23554
/remove-lifecycle rotten

[2021-02-11 02:22] ch4mpy commented on #26199
Same `kubectl proxy` issue here with with Minikube 1.17.1 and VirtualBox 6.1.18 r142142 running on Windows 10.

Running `kubectl exec -ti [my-running-pod] bash` and then `curl http://localhost:8080/api/v1/namespaces/default/pods/kubernetes-bootcamp-57978f5f5d-nddqv/proxy/` works.

Running `kubectl proxy` gives `Starting to serve on 127.0.0.1:8001` but then accessing http://localhost:8001/api/v1/na

[2021-02-11 06:26] nikhilbagdi opened #26460 "Improvement for k8s.io/docs/concepts/overview/working-with-objects/labels/"
**This is an Information Suggestion**

**Information should be made available on Web Page**

URL: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/

**Service with set-based labels**
If we're using set-based labels in our deployment file then it is not possible to expose them, as `Service` does not support set-based selectors. For example, if we're using
[code]
Then we cann

[2021-02-11 07:48] makuzaverite opened #26462 "unkown command Kompose up"
I have been going through the docs [configuring compose kubernates](https://kubernetes.io/docs/tasks/configure-pod-container/translate-compose-kubernetes/)

I have setup kompose but running kompose up command fails

![image](https://user-images.githubusercontent.com/53856673/107612087-50693400-6bfa-11eb-9452-b94c70fd04f2.png)

How to Fix this

[2021-02-11 07:50] makuzaverite commented on #26462
/triage accepted

[2021-02-11 08:18] #26366 closed

[2021-02-11 09:06] ydFu commented on #26382
/close

[2021-02-11 09:06] #26382 closed

[2021-02-11 10:21] manosnoam commented on #17870
@neolit123 , I'm seeing "Error from server: etcdserver: leader changed" on Kubernetes Version: v1.17.1,
when describing a new secret (docker-registry) that was just created.

Can you provide the workaround you used ?

That's the events during the LeaderElection change:

[code]

[2021-02-11 11:41] Ajeeshb opened #26469 "kubernetes-failed-to-load-existing-certificate-apiserver-etcd-client"
My cluster certificates are expired and now I cannot execute any kubectls commands.

[code]
I have created this cluster using Kubespray , kubeadm version is v1.16.3 and kubernetesVersion v1.16.3
[code]
And it is found that apiserver-etcd-client.crt and apiserver-etcd-client.key files are missing on /etc/kubernetes/pki directory.
[code]

I have tried the following command but nothing is worked and

[2021-02-11 12:05] sftim commented on #26462
The fix for this would be similar to https://github.com/kubernetes/website/pull/26323

/triage accepted
/sig cli
/language en
/kind bug

[2021-02-11 12:07] sftim commented on #26460
Hi @nikhilbagdi

This sounds like it could describe a worthwhile improvement, but I'm worried that contributors might not be able to understand the issue description as it stands. Can you add some more description so that a person who picks this up is confident about the change they should make to get this fixed?

/language en
/triage needs-information

[2021-02-11 12:13] oke-py opened #26470 "Helm Charts repository is obsolete. The link should be removed or targeted to the Artifact Hub"
https://kubernetes.io/docs/tasks/run-application/run-replicated-stateful-application/#what-s-next

Helm Charts repository ( https://github.com/helm/charts ) is obsolete.
This sentence should be removed or updated.
https://artifacthub.io/ might be appropriate.

[2021-02-11 15:33] Kartik494 commented on #22997
Hi @sftim as i see the PR relevant to that is being merged, is there any other task has to be performed on it?

[2021-02-11 15:38] OmkarPh commented on #26470
If this issue is validated, may I take this up?

[2021-02-11 16:02] neolit123 commented on #26469
hi, please use the support channels like #kubeadm and #kubespray on k8s slack for this.

if you find a kubespray or kubeadm bug you can log an issue in the respective repositories.
but note that <1.18 is out of support so you must reproduce bugs with 1.18+.

i think this is a external etcd bug resolved in newer versions of kubeadm.
you can grab the latest kubeadm binary and try the `certs` command

[2021-02-11 16:02] #26469 closed

[2021-02-11 17:19] irvifa commented on #26470
/triage accepted

[2021-02-11 17:19] irvifa commented on #26470
/help

[2021-02-11 17:20] irvifa commented on #26457
/triage needs-information

[2021-02-11 17:21] irvifa commented on #26457
Could you please link the page @adthonb

[2021-02-11 17:21] irvifa commented on #26470
/language en

[2021-02-11 17:34] kbhawkey commented on #20895
/remove-lifecycle rotten

[2021-02-11 22:29] #19096 closed

[2021-02-12 02:07] adthonb commented on #26457
@irvifa This page https://kubernetes.io/docs/tasks/access-application-cluster/port-forward-access-application-cluster/#forward-a-local-port-to-a-port-on-the-pod

[2021-02-12 06:36] nikhilbagdi commented on #26460
**Expose using Set-Based Selector**
Suppose, we are deploying a basic deployment of Nginx. At first, while deploying we're using Equality-Based Selector like
[code]
Here we have used an equality-based selector of  `tier: frontend`. When we describe our deployment using the `kubectl describe` command we'll notice that the field `Selector` is `tier=frontend`
If we want to expose it using `Service` t

[2021-02-12 07:01] felixPG opened #26475 "Configure Certificate Rotation for the Kubelet"
Please, add the time that kubelet take in consideration to rotate the certificate  that is 70% to 90% is between 3.6 months before and 1.2 months before expiration.

[2021-02-12 11:53] oke-py opened #26479 "Scheduling Framework: "FrameworkHandle" link is broken"
**This is a Bug Report**

**Problem:**

"FrameworkHandle" link is broken.

**Proposed Solution:**

The link should be https://github.com/kubernetes/enhancements/tree/master/keps/sig-scheduling/624-scheduling-framework#frameworkhandle ( https://git.k8s.io/enhancements/keps/sig-scheduling/624-scheduling-framework#frameworkhandle )

**Page to Update:**
https://kubernetes.io/docs/concepts/scheduling-e

[2021-02-12 11:54] oke-py commented on #26479
/assign

[2021-02-12 15:03] #26479 closed

[2021-02-12 15:34] irvifa commented on #26457
/triage accepted
/kind bug
/help

[2021-02-12 15:36] irvifa commented on #26457
/remove-triage needs-information

[2021-02-12 17:06] ZillaG opened #26482 "Improvement for k8s.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/"
Show autoscaling for memory. Also add example of polling, and delay (wait time for next autoscale) periods.

[2021-02-12 19:40] liggitt commented on #18675
started https://github.com/kubernetes/website/pull/26483 as a WIP with high-level info about beta version removal and any notable changes in the GA replacements

[2021-02-12 19:49] #22960 closed

[2021-02-12 20:50] #23857 closed

[2021-02-12 22:06] michaelgugino opened #26485 "Document Taints and Tolerations as an API"
**This is a Feature Request**

**What would you like to be added**
Taints and tolerations form an API.  We should document this API in a single place with information where each one comes come.

**Why is this needed**

There are a variety of built-in system and "special" taints that are applied to nodes.

Taints and tolerations form an API.  We should document this API in a single place with infor

[2021-02-12 23:02] task4233 commented on #25689
Hello, @kosehy.
If you have not translated, Could you give me a chance of this translation?
In fact, I have already translated this page without noticing this issue.
Thus, I would like to send a pull request for this issue.

I look forward to your reply.
Thanks in advance.

[2021-02-13 02:56] shitana opened #26489 "Communicate Between Containers in the Same Pod Using a Shared Volume"
i'm trying to run this tutorial, but the debian image doesn't works.
[code]

[2021-02-13 08:01] kosehy commented on #25689
Hi @task4233,
You can send a pull request for this issue.
I hope you have a great day!

[2021-02-13 08:17] task4233 commented on #25689
/assign

[2021-02-13 10:38] mox692 opened #26492 "[ja page fix]ambiguous link destination in /content/ja/docs/tasks/tools/install-minikube.md"
**This is a Feature Request**

**What would you like to be added**

In `インストールの確認` section of this page ([https://kubernetes.io/ja/docs/tasks/tools/install-minikube/](https://kubernetes.io/ja/docs/tasks/tools/install-minikube/#%E3%82%A4%E3%83%B3%E3%82%B9%E3%83%88%E3%83%BC%E3%83%AB%E3%81%AE%E7%A2%BA%E8%AA%8D)), the link destination of `specifying the VM driver documentation` seems  not good because

[2021-02-13 10:38] mox692 commented on #26492
/assign
/language ja

[2021-02-13 11:39] BerdinEge commented on #9523
I am getting the same issue on Katacoda Kubernetes Playground environment. It looks like @tstromberg 's solution not works.
In first, Katacoda's environment has not had a StorageClass. I added this storageclass(from documentation) and make it default:
`apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: local-storage
  annotations:
    storageclass.kubernetes.io/is-default-class: "t

[2021-02-13 12:28] matthew-howey-home opened #26494 "Issue with k8s.io/docs/tasks/configure-pod-container/pull-image-private-registry/"
This link "https://index.docker.io/v1/" appears to be broken in the line:
" <your-registry-server> is your Private Docker Registry FQDN. (https://index.docker.io/v1/ for DockerHub) "

[2021-02-13 13:32] irvifa commented on #26489
/triage needs-information

[2021-02-13 13:33] irvifa commented on #26489
@shitana could you please mention which k8s version you’re using and other relevant log if there’s any?

[2021-02-14 03:35] zhiguo-lu opened #26502 "[zh] translate blog "Don't Panic: Kubernetes and Docker""
**This is a Feature Request**
translate /blog/_posts/2020-12-02-dont-panic-kubernetes-and-docker.md

**What would you like to be added**
content/zh/blog/_posts/2020-12-02-dont-panic-kubernetes-and-docker.md

/assign
/language zh

[2021-02-14 06:07] AndrewSav opened #26503 "Installing kubeadm - sysctl error"
This [section](https://github.com/kubernetes/website/blob/2e78b33f62dd486c235a5b5668fa612ab8c22f36/content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md#letting-iptables-see-bridged-traffic) of the "Installing kubeadm" page gives this command to run: `sudo sysctl --system`. On Ubuntu 20.04 this line produces the following error:

[code]
There was a corresponding issue opene

[2021-02-14 07:36] bells17 opened #26504 "[ja] Remove /content/ja/docs/tasks/tools/install-minikube.md page"
**This is a Feature Request**

Need to delete the old content.

**What would you like to be added**

The original content content/en/docs/tasks/tools/install-minikube.md was removed.
ja page is here: https://kubernetes.io/ja/docs/tasks/tools/install-minikube/

So we need to remove /content/ja/docs/tasks/tools/install-minikube.md page.

**Why is this needed**

To update the contents.

**Comments**

[2021-02-14 07:37] bells17 commented on #26504
/triage accepted
/language ja

[2021-02-14 07:40] bells17 commented on #26492
The original content was already deleted.
So I think we need to delete this page.
#24416

/close

[2021-02-14 07:40] #26492 closed

[2021-02-14 08:06] inductor opened #26505 "ja: Make docs/setup/production-environment/on-premises-vm/cloudstack.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/production-environment/on-premises-vm/cloudstack.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/production-environment/on-premises-vm/cloudstack.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/

[2021-02-14 08:08] inductor opened #26506 "ja: Make docs/setup/production-environment/tools/kops.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/production-environment/tools/kops.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/production-environment/tools/kops.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.18-ja.2/content/ja/docs/

[2021-02-14 08:09] inductor opened #26507 "ja: Make docs/setup/production-environment/tools/kubeadm/control-plane-flags.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/production-environment/tools/kubeadm/control-plane-flags.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/production-environment/tools/kubeadm/control-plane-flags.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernet

[2021-02-14 08:10] inductor opened #26508 "ja: Make docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/ku

[2021-02-14 08:10] inductor opened #26509 "ja: Make docs/setup/production-environment/tools/kubeadm/ha-topology.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/production-environment/tools/kubeadm/ha-topology.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/production-environment/tools/kubeadm/ha-topology.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/

[2021-02-14 08:11] inductor opened #26510 "ja: Make docs/setup/production-environment/tools/kubeadm/high-availability.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/production-environment/tools/kubeadm/high-availability.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/production-environment/tools/kubeadm/high-availability.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/w

[2021-02-14 08:12] inductor opened #26511 "ja: Make docs/setup/production-environment/tools/kubeadm/install-kubeadm.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/production-environment/tools/kubeadm/install-kubeadm.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/websi

[2021-02-14 08:13] inductor opened #26512 "ja: Make docs/setup/production-environment/tools/kubeadm/kubelet-integration.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/production-environment/tools/kubeadm/kubelet-integration.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/production-environment/tools/kubeadm/kubelet-integration.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernet

[2021-02-14 08:13] inductor opened #26513 "ja: Make docs/setup/production-environment/tools/kubeadm/self-hosting.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/production-environment/tools/kubeadm/self-hosting.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/production-environment/tools/kubeadm/self-hosting.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tre

[2021-02-14 08:14] inductor opened #26514 "ja: Make docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://githu

[2021-02-14 08:14] inductor opened #26515 "ja: Make docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/

[2021-02-14 08:15] inductor opened #26516 "ja: Make docs/setup/production-environment/tools/kubespray.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/production-environment/tools/kubespray.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/production-environment/tools/kubespray.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.18-ja.2/conten

[2021-02-14 08:15] inductor opened #26517 "ja: Make docs/setup/production-environment/turnkey/aws.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/production-environment/turnkey/aws.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/production-environment/turnkey/aws.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.18-ja.2/content/ja/doc

[2021-02-14 08:16] inductor opened #26518 "ja: Make docs/setup/production-environment/turnkey/clc.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/production-environment/turnkey/clc.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/production-environment/turnkey/clc.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.18-ja.2/content/ja/doc

[2021-02-14 08:16] inductor commented on #26518
めも: ファイルごと消えてるので、削除するのか、他のドキュメントに移行するのかは確認が必要

[2021-02-14 08:17] inductor opened #26519 "ja: Make docs/setup/production-environment/turnkey/gce.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/production-environment/turnkey/gce.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/production-environment/turnkey/gce.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.18-ja.2/content/ja/doc

[2021-02-14 08:17] inductor opened #26520 "ja: Make docs/setup/production-environment/turnkey/icp.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/production-environment/turnkey/icp.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/production-environment/turnkey/icp.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.18-ja.2/content/ja/doc

[2021-02-14 08:18] inductor opened #26521 "ja: Make docs/setup/production-environment/windows/intro-windows-in-kubernetes.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/production-environment/windows/intro-windows-in-kubernetes.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kube

[2021-02-14 08:19] inductor opened #26522 "ja: Make docs/setup/production-environment/windows/kubecluster.ps1-install.gif follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/production-environment/windows/kubecluster.ps1-install.gif to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/production-environment/windows/kubecluster.ps1-install.gif is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes

[2021-02-14 08:19] inductor commented on #26522
めも: 削除になってるけど、移動している可能性も考えられるのでファイルの所在は確認が必要

[2021-02-14 08:20] inductor opened #26523 "ja: Make docs/setup/production-environment/windows/kubecluster.ps1-join.gif follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/production-environment/windows/kubecluster.ps1-join.gif to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/production-environment/windows/kubecluster.ps1-join.gif is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/websi

[2021-02-14 08:20] inductor commented on #26523
めも: 削除になってるけど、移動されてるだけの可能性もあるのでファイルの所在確認が必要

[2021-02-14 08:21] inductor opened #26524 "ja: Make docs/setup/production-environment/windows/kubecluster.ps1-reset.gif follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/production-environment/windows/kubecluster.ps1-reset.gif to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/production-environment/windows/kubecluster.ps1-reset.gif is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/web

[2021-02-14 08:21] inductor commented on #26524
めも: 削除になってるけど、移動してるだけの可能性も考えられるのでファイルの所在確認が必要

[2021-02-14 08:21] inductor opened #26525 "ja: Make docs/setup/production-environment/windows/user-guide-windows-containers.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/production-environment/windows/user-guide-windows-containers.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/production-environment/windows/user-guide-windows-containers.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/

[2021-02-14 08:22] inductor opened #26526 "ja: Make docs/setup/production-environment/windows/user-guide-windows-nodes.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/production-environment/windows/user-guide-windows-nodes.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/production-environment/windows/user-guide-windows-nodes.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes

[2021-02-14 08:22] inductor commented on #26526
めも: 削除扱いになってるけど、移動してるだけの可能性もあるのでファイルの所在確認が必要

[2021-02-14 08:23] inductor opened #26527 "ja: Make docs/setup/release/version-skew-policy.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/release/version-skew-policy.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/release/version-skew-policy.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.18-ja.2/content/ja/docs/setup/releas

[2021-02-14 10:00] task4233 commented on #26527
I'm afraid that it seems this PR has already been resolved in #25268.
I'm sorry if that is wrong.

[2021-02-14 14:16] ydFu commented on #26234
Thank you for your issue.
Hope you can have more information next time you raise it.

/close

[2021-02-14 14:16] #26234 closed

[2021-02-14 17:30] neolit123 commented on #26503
/sig cluster-lifecycle network
/priority awaiting-more-evidence

i can confirm the error message for the `net.ipv4.conf.all.promote_secondaries`
but for me the overall command `sudo sysctl --system` has an exit status of 0 (success).

i have a couple of questions:
- why should we worry about https://sysctl-explorer.net/net/ipv4/promote_secondaries/ , i don't think this is a blocking problem?
- wha

[2021-02-14 17:44] sftim commented on #18675
How about having each Kubernetes version document the deprecations for that version, and have links to see the deprecation details for other versions? Is that better or worse?

For an example of a similar approach, see https://v1-18.docs.kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/

[2021-02-14 17:44] sftim commented on #18675
/sig release
I think

[2021-02-14 17:45] sftim commented on #17070
/remove-lifecycle stale

[2021-02-14 18:19] bells17 commented on #26511
/close

this page needs to remove.
https://github.com/kubernetes/website/issues/26504

[2021-02-14 18:20] #26511 closed

[2021-02-14 18:34] AndrewSav commented on #26503
I have no idea. If this message is benign and can be ignored the documentation need to say so. Someone needs to confirm that this is the case

I have no idea. As a kubernetes user I stumble upon the described behaviour when I try to install a kubernetes cluster as per the documentation. I need help resolving this.

Yes, this is basically is the essence of what this issues is about.

[2021-02-14 19:40] liggitt commented on #18675
I like being able to search a single page for a given kind if I don't remember the exact release it stopped being served, but would be happy to hear other opinions

[2021-02-14 19:49] neolit123 commented on #26503
@AndrewSav

the sysctl call works. as much as the systemd issue talks about that sysctl should not be used, i think we are entering the land of distro specifics, which we would like to avoid.

i just tried calling `/usr/lib/systemd/systemd-sysctl` and it throws some errors too:

[code]

reading here:
https://bbs.archlinux.org/viewtopic.php?id=258073

i can confirm the setting already exists on 20.

[2021-02-14 19:56] liggitt opened #26535 "Create reference page for use of metrics/audit info around deprecated API calls"
**This is a Feature Request**

**What would you like to be added**

A reference page containing the information in https://kubernetes.io/blog/2020/09/03/warnings/#deprecation-warnings in a form that can be translated, kept up to date, and linked to from other reference pages.

**Why is this needed**

Suggested in review of https://github.com/kubernetes/website/pull/26483#discussion_r575838546

Whe

[2021-02-14 20:06] aojea commented on #26503
I can't reproduce it, but you'll be able to query the key value with
[code]

[2021-02-14 20:12] neolit123 commented on #26503
ok, i can confirm that our `sysctl --system` command sets everything that we care about properly despite the warning about `promote_secondaries`. `/usr/lib/systemd/systemd-sysctl` is the recommended tool, but it's actually more confusing since it prints more vague errors.

closing
/close

[2021-02-14 20:12] #26503 closed

[2021-02-14 21:35] StingyJack commented on #24497
/remove-lifecycle stale

[2021-02-14 22:10] 0x2b3bfa0 opened #26537 "Kubernet.es domain not working"
Follow-up of #91; is it supposed to work?

[2021-02-14 22:58] AndrewSav commented on #26503
@neolit123 So you do not think it's worse clarifying this in the documentation? You think it is okay that the steps outlined in the doco produce a error and the doco does not make it clear, that the error can be safely ignored?

[2021-02-15 00:00] tengqm commented on #18675
I have a work in attempt to solve this. If you do `docker run -p 8000:8000 quay.io/tengqm/kab:latest` and then navigate to
 `http://localhost:8000/apis/history/api/1.20/`, you will be able to see the all API changes between the 1.19 and 1.20 version. Behind the scene, the API specs have been decomposed and manually revised for easier comparison.

![image](https://user-images.githubusercontent.com/

[2021-02-15 00:21] AaronLuo3296 opened #26539 "Yarn Debian key expiry date updated"
**This is a Bug Report**

**Problem:**

The Yarn Debian key has expired for the script in [Ubuntu, Debian or HypriotOS](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#k8s-install-0). I got the following error message when I ran `sudo apt-get update`:
[code]

**Proposed Solution:**

As mentioned in [yarnpkg/yarn](https://github.com/yarnpkg/yarn/issues/7866),

[2021-02-15 00:53] pdevulapalli opened #26542 "Issue with k8s.io/docs/tasks/administer-cluster/configure-upgrade-etcd/"
Links to github on this page seems to be broken

https://github.com/coreos/etcd/blob/master/Documentation/op-guide/recovery.md#restoring-a-cluster

[2021-02-15 01:06] neolit123 commented on #26503
yes, this error can be ignored.

[2021-02-15 01:19] inductor commented on #26527
Hello. thank you for your contribution!
The original issue is still under evaluation by other reviewers as it has `needs-triage` label. Thank you for pointing it out!

[2021-02-15 01:29] AndrewSav commented on #26503
@neolit123 Is it worth updating kubernetes documentation to reflect that?

[2021-02-15 01:38] neolit123 commented on #26503
i don't think so.
it's just noise from the tooling and promote_secondaries is already set in 50-default.conf for 20.04.

[2021-02-15 03:19] task4233 commented on #26527
I appreciate your advice,
I did not understand the meaning of the `needs-triage` label.
I will wait until its label is removed.

[2021-02-15 07:54] irvifa commented on #26539
/triage accepted
/kind bug

[2021-02-15 07:54] irvifa commented on #26539
/help

[2021-02-15 07:55] irvifa commented on #26539
/good-first-issue

[2021-02-15 07:59] magmax commented on #13948
Hola!
¿Podría hacerme con las dos páginas que faltan de la sección "containers" ("images" y "runtime class")? Soy nuevo aquí :)

Un saludo.

[2021-02-15 08:31] nasa9084 commented on #26525
/triage accepted

[2021-02-15 08:37] nasa9084 commented on #26505
/triage accepted

[2021-02-15 08:37] nasa9084 commented on #26506
/triage accepted

[2021-02-15 08:37] nasa9084 commented on #26507
/triage accepted

[2021-02-15 08:37] nasa9084 commented on #26508
/triage accepted

[2021-02-15 08:38] nasa9084 commented on #26509
/triage accepted

[2021-02-15 08:38] nasa9084 commented on #26510
/triage accepted

[2021-02-15 08:38] nasa9084 commented on #26512
/triage accepted

[2021-02-15 08:38] nasa9084 commented on #26513
/triage accepted

[2021-02-15 08:39] nasa9084 commented on #26514
/triage accepted

[2021-02-15 08:39] nasa9084 commented on #26515
/triage accepted

[2021-02-15 08:39] nasa9084 commented on #26516
/triage accepted

[2021-02-15 08:39] nasa9084 commented on #26517
/triage accepted

[2021-02-15 08:40] nasa9084 commented on #26518
/triage accepted

[2021-02-15 08:40] nasa9084 commented on #26519
/triage accepted

[2021-02-15 08:40] nasa9084 commented on #26520
/triage accepted

[2021-02-15 08:40] nasa9084 commented on #26521
/triage accepted

[2021-02-15 08:40] nasa9084 commented on #26522
/triage accepted

[2021-02-15 08:40] nasa9084 commented on #26523
/triage accepted

[2021-02-15 08:40] nasa9084 commented on #26524
/triage accepted

[2021-02-15 08:40] nasa9084 commented on #26526
/triage accepted

[2021-02-15 08:42] nasa9084 commented on #26527
@task4233 さんの言うように、もう解決済みっぽい感じがしますね

[2021-02-15 08:43] nasa9084 commented on #26180
/triage accepted

[2021-02-15 08:47] inductor commented on #26527
/close

[2021-02-15 08:47] #26527 closed

[2021-02-15 08:49] inductor commented on #26525
/close

[2021-02-15 08:49] #26525 closed

[2021-02-15 12:08] inductor commented on #25205
/close

[2021-02-15 12:08] #25205 closed

[2021-02-15 12:08] inductor commented on #25206
/close

[2021-02-15 12:08] #25206 closed

[2021-02-15 12:09] inductor commented on #25211
/close

[2021-02-15 12:09] #25211 closed

[2021-02-15 12:50] RyuSA commented on #26508
/assign

[2021-02-15 12:53] #16059 closed

[2021-02-15 12:53] JIIOryo commented on #26509
/assign

[2021-02-15 12:55] tanaka-takayoshi commented on #26526
/assign

[2021-02-15 12:57] tanaka-takayoshi commented on #26521
/assign

[2021-02-15 13:09] mwu966 commented on #26505
/assign

[2021-02-15 13:09] tanaka-takayoshi commented on #26526
この[コミット](https://github.com/kubernetes/website/commit/615c7f619feabb614593276f7b6f421bf626987e#diff-b9b9ec884a517fc10bec7b2f9935b1c17aea1df7001bb53dc3a44f367736422f) にて [adding-windows-nodes.md](https://github.com/kubernetes/website/blob/dev-1.18-ja.2/content/ja/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes.md)と[upgrading-windows-nodes.md](https://github.com/kubernetes/website/blob/de

[2021-02-15 13:17] inductor commented on #26526
@tanaka-takayoshi 所在確認っていうのはその辺含めての確認という意味だったのでそれで問題ない認識です。ご確認ありがとうございます！

[2021-02-15 13:30] m3y commented on #26506
/assign

[2021-02-15 13:46] ryokotmng commented on #26504
/assign @ryokotmng

[2021-02-15 13:47] ryokotmng commented on #26507
/assign @ryokotmng

[2021-02-15 13:47] neolit123 commented on #26539
@kubernetes/release-engineering

hello, the associated PR is making a change from the existing GPG @ google:
https://packages.cloud.google.com/apt/doc/apt-key.gpg

should we instead update the GPG key @ google?

[2021-02-15 14:21] arisgi commented on #26510
/assign

[2021-02-15 14:22] tanaka-takayoshi commented on #26524
/assign

[2021-02-15 14:24] tanaka-takayoshi commented on #26524
I'm going to submit one PR to fix these four issues because the original contents were removed with the same [commit](https://github.com/kubernetes/website/commit/615c7f619feabb614593276f7b6f421bf626987e#diff-b9b9ec884a517fc10bec7b2f9935b1c17aea1df7001bb53dc3a44f367736422f).

[2021-02-15 14:24] tanaka-takayoshi commented on #26523
/assign

[2021-02-15 14:24] tanaka-takayoshi commented on #26523
I'm going to submit one PR to fix these four issues because the original contents were removed with the same [commit](https://github.com/kubernetes/website/commit/615c7f619feabb614593276f7b6f421bf626987e#diff-b9b9ec884a517fc10bec7b2f9935b1c17aea1df7001bb53dc3a44f367736422f).

[2021-02-15 14:24] tanaka-takayoshi commented on #26522
/assign

[2021-02-15 14:24] tanaka-takayoshi commented on #26522
I'm going to submit one PR to fix these four issues because the original contents were removed with the same [commit](https://github.com/kubernetes/website/commit/615c7f619feabb614593276f7b6f421bf626987e#diff-b9b9ec884a517fc10bec7b2f9935b1c17aea1df7001bb53dc3a44f367736422f).

[2021-02-15 15:52] tettsu commented on #26517
/assign

[2021-02-15 15:54] butterv commented on #26519
/assign

[2021-02-15 15:57] butterv commented on #26520
/assign

[2021-02-15 16:27] #26361 closed

[2021-02-15 16:58] sftim commented on #25505
I need to talk to SIG Architecture about stability (or not) of the URLs here.

[2021-02-15 17:23] sftim commented on #26415
Relevant to #25505

[2021-02-15 17:30] sftim commented on #24441
/remove-lifecycle stale

[2021-02-15 17:37] butterv commented on #26518
/assign

[2021-02-15 17:45] butterv commented on #26518
@inductor
Thank you for creating issues.
This issue expects to follow v1.18, so I will remove this ja file.
Okay?

[2021-02-15 17:50] butterv commented on #26516
/assign

[2021-02-15 17:58] #23991 closed

[2021-02-15 18:02] inductor commented on #26518
@butterv as written in memo, please make sure if the content has been moved somewhere else or not at first

[2021-02-15 18:21] butterv commented on #26518
@inductor
The issue is #17514.
This issue has been proposed to be removed or renewed, but it appears to have been removed.

[2021-02-15 20:59] FrankAtHexagon opened #26563 "Ephemeral vs. persistent volumes wording"
Under the _Backgrounds_ section, there's this paragraph:

I'm wondering about the last sentence: 'When a pod ceases to exist, the volume is destroyed.' Is that correct? An ephemeral volume may be destroyed, but a persistent volume should exist beyond the lifetime of a pod by definition.

[2021-02-16 00:10] AnguillaJaponica commented on #26515
/assign

[2021-02-16 02:20] kennygt51 commented on #26512
/assign

[2021-02-16 02:27] yoichiro0217 commented on #26513
/assign

[2021-02-16 02:39] tengqm commented on #26563
/triage accepted

The description is inconsistent.

[2021-02-16 02:44] tengqm commented on #26542
/triage accepted
/assign

[2021-02-16 03:37] tengqm commented on #26516
@inductor Is it more appropriate to consolidate this issue and the following ones into an umbrella one?

[2021-02-16 03:50] tengqm commented on #26502
/triage accepted
/kind feature

[2021-02-16 03:54] tengqm commented on #26494
According to https://www.docker.com/blog/registry-v1-api-deprecation/, the V1 API has been deprecated.

[2021-02-16 04:12] an-0305 commented on #26514
/assign

[2021-02-16 04:18] tengqm commented on #26494
/triage accepted
/assign

[2021-02-16 04:24] tengqm commented on #26485
Do you mean this page? https://kubernetes.io/docs/reference/labels-annotations-taints/

[2021-02-16 04:55] tengqm commented on #26475
This is not clear. Please elaborate? The certificate expiration is not controlled by kubelet. It is determined by the certificate itself.

[2021-02-16 04:56] tengqm commented on #26470
/assign @OmkarPh

[2021-02-16 04:59] tengqm commented on #26462
Closing this since the issue has been resolved in #26323. Feel free to reopen if there are still issues related to this.
/close

[2021-02-16 04:59] #26462 closed

[2021-02-16 05:21] #26410 closed

[2021-02-16 07:50] zaheeruddinfaiz commented on #25061
It would be great to have such an option. Since reading the documentation, the dark mode helps in reading for longer period of time.

[2021-02-16 08:40] felixPG commented on #26475
"Kubernetes 1.8 contains kubelet certificate rotation, a beta feature that will automatically generate a new key and request a new certificate from the Kubernetes API as the current certificate approaches expiration. Once the new certificate is available, it will be used for authenticating connections to the Kubernetes API."

How much time in advance the certificate rotates before it expires??

[2021-02-16 09:08] tengqm commented on #26475
@felixPG is [this PR](https://github.com/kubernetes/website/pull/26496) the one that answers your question?

[2021-02-16 09:28] felixPG commented on #26475
yes!! thanks so much @tengqm

[2021-02-16 09:28] #26475 closed

[2021-02-16 10:27] #26494 closed

[2021-02-16 10:55] oke-py opened #26572 "Link to /docs/concepts/architecture/nodes/ can be replaced with /ja/docs/"
**This is a Feature Request**

**What would you like to be added**

Links to `/docs/concepts/architecture/nodes/` can be replaced with `/ja/docs/concepts/architecture/nodes/`.

**Why is this needed**

`/docs/concepts/architecture/nodes/` has already been translated into Japanese.

**Comments**

/language ja

where to update
[code]

[2021-02-16 15:01] neolit123 commented on #25505
i think this is rather important.
categorizations are a nice to have and can be implement with labels / filters ALA github.

[2021-02-16 15:44] sftim commented on #25505
I agree, that sounds like a separate issue.

[2021-02-16 16:20] #21956 closed

[2021-02-16 17:23] kbhawkey commented on #16583
/remove-lifecycle rotten

[2021-02-16 18:54] sftim commented on #26537
`kubernet.es` is registered to Google
/sig docs

Let's use this issue to track investigation about ownership and a possible transfer (Google willing) to the Cloud Native Computing Foundation.
/triage accepted

[2021-02-16 18:55] sftim commented on #26563
/kind bug
/priority backlog
/language en

[2021-02-16 18:55] sftim commented on #26535
/kind feature
/priority important-longterm
/triage accepted

[2021-02-16 18:56] sftim commented on #26572
/kind cleanup

[2021-02-16 18:59] sftim commented on #26539
I'm not sure I understand why this change makes sense. The issue description mentions Yarn even though the existing page makes no mention of Yarn.
/remove-good-first-issue

[2021-02-16 19:05] sftim commented on #26539
/remove-help

[2021-02-16 19:09] sftim commented on #26539
@AaronLuo3296 I think the existing page is correct. If you have an outdated Yarn key on your system, because you have used Yarn previously, then you should follow the Yarn documention about that. Kubernetes does not document how to ensure you have a current signing key for Yarn; these are different projects.

/remove-kind bug
/kind support

[2021-02-16 19:09] sftim commented on #26539
/remove-triage accepted

[2021-02-16 19:15] justaugustus commented on #26539
From RelEng:
Agreed with @sftim's assessment.
This is an issue with the user's local development environment and they should follow Yarn's documentation for adding/updating/removing package signing keys.

@kubernetes/build-admins -- FYI, but no action required.
/close

[2021-02-16 19:15] #26539 closed

[2021-02-16 21:22] neolit123 commented on #26539
thanks for having a look @sftim and @justaugustus

[2021-02-16 23:07] jkmenukaperera opened #26578 "Organizing Cluster Access Using kubeconfig Files"
I am getting and error message saying "**No such file or directory**" when I try to access kubeconfig file using **~/.kube/config** command in order to copy/paste credentials for remote access. Any idea why I get this error?

[2021-02-17 07:12] shashichander009 opened #26588 "Learn Kubernetes Basics"

[2021-02-17 07:12] #26588 closed

[2021-02-17 07:58] Karmavil commented on #26199
@ymartineau You're right.

The exercise doesn't assign a port in the deployment.
Try:
`kubectl create deployment kubernetes-bootcamp --image=gcr.io/google-samples/kubernetes-bootcamp:v1 --port=8080`
Using a new tab or terminal run `kubectl proxy --port=8080`
Define your $POD_NAME or just copy the name from the `kubectl get pods` output and run the curl command. It will work

[2021-02-17 08:08] #26578 closed

[2021-02-17 08:14] inductor commented on #26522
/close

[2021-02-17 08:14] inductor commented on #26523
/close

[2021-02-17 08:14] inductor commented on #26524
/close

[2021-02-17 08:14] inductor commented on #26526
/close

[2021-02-17 08:14] #26522 closed

[2021-02-17 08:14] #26523 closed

[2021-02-17 08:14] #26524 closed

[2021-02-17 08:14] #26526 closed

[2021-02-17 08:22] inductor commented on #26520
/close

[2021-02-17 08:22] #26520 closed

[2021-02-17 08:36] ryokotmng commented on #26504
@bells17 (cc: @inductor ) こちら、多分今の時点の `dev-1.18-ja.2` ブランチで既に完了している気がします。ご確認お願いします🙇🏻‍♂️

[2021-02-17 08:37] KobayashiD27 opened #26589 "Translate docs/contribute/participate/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [docs/contribute/participate/](https://kubernetes.io/docs/contribute/participate/) into Japanese

**Why is this needed**
This page has not been translated.

**Comments**

/language ja
/assign

[2021-02-17 08:49] bells17 commented on #26504
ありがとうございます
閉じますね

/close

[2021-02-17 08:49] #26504 closed

[2021-02-17 10:04] atbk5 opened #26591 "Improvement for k8s.io/docs/tasks/administer-cluster/configure-upgrade-etcd/"
Some of the references giving 404 now.
https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide  - This directory is no longer available.

[2021-02-17 10:47] Abdualkreim opened #26593 "Saudi Arabia"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2021-02-17 11:09] roy2EZ opened #26594 "在 Minikube 环境中使用 NGINX Ingress 控制器配置 Ingress"
创建一个 Ingress 资源
5.验证 Ingress 控制器能够转发请求流量：
说明： 如果你在使用本地 Minikube 环境，你可以从浏览器中访问 hellow-world.info。

此处的hellow-world.info typo了，hello多了一个w

[2021-02-17 11:25] tengqm commented on #26591
See https://github.com/kubernetes/website/pull/26564

[2021-02-17 12:47] #26448 closed

[2021-02-17 13:53] inductor commented on #26510
/close

[2021-02-17 13:53] #26510 closed

[2021-02-17 14:29] mrbobbytables opened #26597 "dockershim alias points to localized version instead of the default"
**This is a Bug Report**

**Problem:**
The dockershim alias (https://kubernetes.io/dockershim) now directs to the Chinese localized version (https://kubernetes.io/zh/blog/2020/12/02/dockershim-faq/) because the same alias exists in multiple files.

**Proposed Solution:**
Removal of the alias in the Chinese version of the blog post or updated to be `zh/dockershim`
https://github.com/kubernetes/webs

[2021-02-17 15:04] ryokotmng commented on #26507
こちらのイシューの内容も、既に `dev-1.18-ja.2` ブランチでは解消されているようでした！ご確認おねがいします🙇‍♂️

[2021-02-17 15:47] neolit123 commented on #24652
/remove-lifecycle rotten

[2021-02-17 15:49] sftim commented on #18675
Implemented as https://k8s.io/docs/reference/using-api/deprecation-guide/ via PR #26483

[2021-02-17 15:50] sftim commented on #18675
@rajibmitra & @liggitt thanks both - this was a really useful improvement to make.
/close

[2021-02-17 15:50] #18675 closed

[2021-02-17 17:47] inductor commented on #26507
/close

[2021-02-17 17:47] #26507 closed

[2021-02-17 19:47] #23911 closed

[2021-02-17 21:51] MikaelSmith commented on #19844
I think the only thing I'd add is that I found I needed to install a bash-completion package. Instructions are OS-specific.

[2021-02-17 22:05] celestehorgan commented on #26597
/triage accepted
/kind bug
/language zh

[2021-02-17 22:06] celestehorgan commented on #26593
Hi @Abdualkreim,

Can you provide us with more information on the issue you're experiencing?

/triage needs-information

[2021-02-18 02:51] habibrosyad commented on #23660
/remove-lifecycle stale

[2021-02-18 09:34] SebTardif opened #26609 "Suggestion for kubectl cheat sheet"
I think -A instead of --all-namespaces would be appreciated to be known by the cheater.

[2021-02-18 10:44] oke-py commented on #26506
/close

[2021-02-18 10:44] #26506 closed

[2021-02-18 12:01] Kartik494 commented on #23781
Hi @Jeson515 Do you want to continue with this issue? if you are OK with it should we go for closing the issue

[2021-02-18 12:26] mig4 commented on #19199
Yes, this was my assumption, sorry I should've been more explicit. But so which attribute do you think should hold that human-friendly name, just the resource `Name`? or app name, or app instance labels?

[2021-02-18 12:27] mig4 commented on #19199
/remove-lifecycle stale

[2021-02-18 12:52] k-wall opened #26611 "Seeking clarification - Behaviour when mounted optional configmap appears after the pod is started"
I am seeking clarification of the expected behaviour when a pod mounts a configmap (marking optional: true) and that configmap appears only appears *after* the pod has started.

[code]

Will the pod see the configmap content?  Experimenting with v1.19, I believe the answer is yes, but I want to understand if this is defined behaviour and hence safe to rely on.

I don't think the docs make the poin

[2021-02-18 14:01] bdalepa opened #26612 "Improvement for k8s.io/docs/setup/production-environment/container-runtimes/"

[2021-02-18 14:32] Frans-Lukas commented on #21128
I've struggled with configuring and working with scheduler plugins for a day or two now because of poor and misleading documentation about scheduler configuration. Even a link to this issue from the documentation would be highly appreciated as some kind of clue as to how to work with the scheduler plugins is difficult to find. Also, I've been trying to configure plugins with _minikube_ but haven't

[2021-02-18 14:41] RakeshRam opened #26614 "Issue with k8s.io/docs/tasks/access-application-cluster/ingress-minikube/"
Ingress steps mentioned in the docs do not work on **_windows with minikube_**.

Its works up to the Services step:
[code]

After that, the ingress steps fail.

[code]

Both accessing by domain name and IP times out.

[code]

[code]

[code]

[code]

[code]

[2021-02-18 14:43] alculquicondor commented on #21128
/help

unfortunately, we don't have bandwidth to improve the docs at the moment, but we welcome PRs

[2021-02-18 14:43] alculquicondor commented on #21128
cc @Huang-Wei

[2021-02-18 14:47] damemi commented on #21128
Hi @Frans-Lukas, I'm sorry for your frustration. Being that the scheduler Profiles config is still relatively new (and many are still transitioning to it) we are open to feedback and there is ongoing work to make the documentation better. Could you share more specifically what in the current documentation (mostly https://kubernetes.io/docs/reference/scheduling/config/) was misleading or not helpfu

[2021-02-18 14:56] Frans-Lukas commented on #21128
Thank you both for your quick replies. Some of the biggest issues were in understanding where the config files are located, how to "mount the configmap" and if the config file should be edited inside the master node or in the hosting machine. I.e. what is a config object and how do I mount it? It felt like some of the documentation was contradictory. I'll make a more detailed write up of how we in

[2021-02-18 15:44] damemi commented on #21128
@Frans-Lukas setting up pods to read from configmap data is an essential feature of Kubernetes (not just related to the scheduler, it can be used with your own application pods as well). The options for that are well documented, please see https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/.

Or, if you wish to read the file directly from the host, you can mount direc

[2021-02-18 16:41] inductor commented on #26509
/close

[2021-02-18 16:41] #26509 closed

[2021-02-18 17:52] rich-pixley opened #26617 "Issue with k8s.io/docs/tutorials/hello-minikube/"
Katacoda doesn’t work.  Minikube doesn’t work. Is there a good, official, tutorial that does work?  Or that is “printed” only without requiring finicky interactive stuff that never works?

[2021-02-18 17:57] rich-pixley opened #26618 "Add tutorial explaining how to deploy a Kubernetes cluster (without using kind / minikube / etc)"
Doesn’t work.  Doesn’t explain anything.  What’s the point of this?

[2021-02-18 21:16] raelga commented on #13948
Buenas @magmax !

Todo tuyo, muchísimas gracias y bienvenido a la comunidad de Kubernetes!

[2021-02-19 02:09] gochist opened #26620 "Outdated files in dev-1.20-ko.5"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.20-ko.5 branch.

### 69 files to be modified
1. [ ] M1.  `content/en/community/_index.html`  | 21(+S) 2(-)
1. [ ] M2.  `content/en/docs/concepts/architecture/controller.md`  | 1(+XS) 1(-)
1. [ ] M3.  `content/en/docs/concepts/architecture/nodes.md`  | 4(+XS) 3(-)
1. [ ] M4.  `content/en/docs/concepts/cluster-administration/_ind

[2021-02-19 02:10] gochist commented on #26620
/milestone dev-1.20-ko.5

[2021-02-19 02:33] kbhawkey commented on #26597
A similar problem occurred with a `security` alias.
Should add a note to the localization or `contribute` documentation about updating the `aliases` field.

[2021-02-19 02:37] #26393 closed

[2021-02-19 02:39] seokho-son opened #26621 "Korean Localization for dev-1.20-ko.5 branch"
## In English

**This is a Feature Request**

Korean Localization for `dev-1.20-ko.5` branch.

**What would you like to be added**

Any localization contributions for Korean.

**Comments**

- This issue is to notify the schedule of Korean localization to contributors.
- `dev-1.20-ko.5` is the current work branch for Korean localization.
- Korean PR Wrangler: @pjhwa

**Important dates**
- A Korean

[2021-02-19 02:40] #26284 closed

[2021-02-19 02:40] #26282 closed

[2021-02-19 03:30] bryanasdev000 opened #26622 "[META] Documentation Locale PT-BR"
As discussed in the Brazilian Kubernetes community on the Telegram, the idea is to translate the documentation into Brazilian Portuguese.  For this I created this issue with the main objective of mapping what needs to be done, subsequently creating the issues for each section with their proper PR.

[2021-02-19 03:33] rikatz commented on #26622
/assign
/triage accepted

I'll tackle this with the group, to improve the portuguese translation coverage and other parts.

We will sync during this week to define this umbrella issue approach and also how to sync the section translations and assignees.

[2021-02-19 04:07] seokho-son commented on #26620
/triage accepted

[2021-02-19 04:07] seokho-son commented on #26620
/help

[2021-02-19 04:09] seokho-son commented on #26620
@gochist I can contribute M1 ~ M20

[2021-02-19 04:16] pjhwa commented on #26620
I can contribute M21 ~ M50.

M1 ~ M20 : @seokho-son
M21 ~ M50 : @pjhwa

[2021-02-19 04:38] bryanasdev000 commented on #26622
I already did a simple diff between `content/en` and `content/pt` with `vimdiff <(cd pt; find . | sort) <(cd en; find . | sort)` and saving it to HTML, it's available here https://gist.github.com/bryanasdev000/086c9768f45f2e18f615fdb0588448f2 .

[2021-02-19 05:40] #26502 closed

[2021-02-19 05:55] chewy22 opened #26624 "Horizontal Pod Autoscaler"
[](url)

[2021-02-19 08:42] ysyukr commented on #26620
I can contribute M51 ~ M69.

M1 ~ M20 : @seokho-son
M21 ~ M50 : @pjhwa
M51 ~ M69, D1 ~ D6 : @ysyukr

[2021-02-19 09:15] Kartik494 commented on #22356
/remove-lifecycle rotten

[2021-02-19 09:25] sftim commented on #26622
BTW, I wouldn't worry about localizing the blog. That's something we'd only really suggest if a localization team feels like they are running out of other things to cover. Maybe for really notable posts like the discussion about Dockership.

[2021-02-19 09:26] sftim commented on #26622
/language pt

[2021-02-19 12:34] bryanasdev000 commented on #26622
I agree, but as you said about Docker, I believe there are some that are worth it, even for historical reasons. But these can be of low priority.

[2021-02-19 13:26] #25192 closed

[2021-02-19 13:55] sftim opened #26627 "Add glossary tooltip for “API server” to Resource Quotas concept"
**This is a Feature Request**

**What would you like to be added**

Change [Resource Quotas](https://kubernetes.io/docs/concepts/policy/resource-quotas/) so that the first mention of a “API server” is a [glossary tooltip](https://kubernetes.io/docs/contribute/style/hugo-shortcodes/#glossary) for the [API server](https://kubernetes.io/docs/reference/glossary/?all=true#term-kube-apiserver) entry in

[2021-02-19 13:56] oke-py opened #26628 ""Use Port Forwarding to Access Applications in a Cluster" uses removed manifests"
[This page](https://kubernetes.io/docs/tasks/access-application-cluster/port-forward-access-application-cluster/) uses manifests
- https://k8s.io/examples/application/guestbook/redis-master-deployment.yaml
- https://k8s.io/examples/application/guestbook/redis-master-service.yaml

However, these files were removed in 99029b97d7c93373cf20e9609782428f107654c2.
The new example is using mongodb instead

[2021-02-19 13:56] oke-py commented on #26628
/language en

[2021-02-19 14:10] rikatz commented on #26622
So my approach to this would be:

1) We need to map the docs that already exists, but needs some attention / evolution (got deprecated over time). Like, do we still recommend somewhere extensions/v1beta1? Can we make the tutorials better?
2) We need to map the pages that does not exists (@bryanasdev000 did this!) and organize them per section. This would turn things easier for folks willing to con

[2021-02-19 14:10] rikatz commented on #26622
/help

[2021-02-19 14:17] Frans-Lukas commented on #21128
@damemi  Alright, we got it working! Your reply definitely helped, thank you.

We originally followed this tutorial: https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/doc/install.md as it was the only one with clear instructions as to how to modify the scheduler plugins, but we got strange errors about `kubescheduler.config.k8s.io/v1alpha2` not being correct? What I think was most u

[2021-02-19 14:44] damemi commented on #21128
@Frans-Lukas that's great, I'm glad it is working for you :)

Yeah, that's a typo on that page. It should be `v1beta1` now (pr to change that https://github.com/kubernetes-sigs/scheduler-plugins/pull/147), but if you still have them, what were your other errors when you changed it to v1beta1? This would just help us fix the docs

kube-scheduler is the scheduler binary, what is running in your pod

[2021-02-19 14:51] Frans-Lukas commented on #21128
@damemi Great! I'm glad I'm able to help.

The errors we are getting from trying to use the config in https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/doc/install.md after changing to `v1beta1` is:

[code]

[2021-02-19 15:06] damemi commented on #21128
@Frans-Lukas ah, the relevant message there is

This is because the sample config in `scheduler-plugins` is meant to be used with a custom-built scheduler with the `Coscheduling` 3rd-party plugin compiled (you can actually compile that repo into a `kube-scheduler` binary and use an image with that binary in your pod manifest).

Since you are using it with the default scheduler, it fails to start b

[2021-02-19 15:26] bryanasdev000 commented on #26622
Your first point is very relevant and enters my question, are we going to update / refine existing documentation too?

[2021-02-19 15:31] alculquicondor commented on #21128
Note that we cannot say something like that in https://kubernetes.io/docs/reference/scheduling/config/ as users can setup the scheduler in many different ways, using such file or not.

Note that the doc links to https://kubernetes.io/docs/reference/command-line-tools-reference/kube-scheduler/

It seems that you are not trying to develop new scheduling plugins, you just want to configure the k8s sc

[2021-02-19 16:14] jailton commented on #26622
Hi!

There is an open issue to tracking the translation into Portuguese:  #13939.

[2021-02-19 16:41] sftim commented on #26622
I'd be happy to: /triage duplicate
on this.

[2021-02-19 16:42] sftim commented on #26622
Thanks for mentioning it @jailton

(if we want to track different localizations for _two kinds_ of Portuguese, I suspect that first we should check about how SIG Docs wants that implementation to look in general).

[2021-02-19 16:46] rikatz commented on #26622
yes me too :D I didn't checked if this was duplicated, oops :)
/triage duplicate
/close
Let's follow on #13939

[2021-02-19 16:46] #26622 closed

[2021-02-19 16:53] rikatz commented on #13939
@femrtnz sorry for not checking this first :D

So per the original issue + what we've been discussing on telegram, I'm wondering about if we manage the translation through google sheets instead of issue description, in this case (and as we can see on some other bigger efforts) wouldn't be better.

I've asked folks to map and split the effort in two:

* Pages that does not exists
* Pages that alrea

[2021-02-19 17:17] Frans-Lukas commented on #21128
@damemi I compiled the scheduler-plugins image (according to [these instructions](https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/doc/develop.md)), and set the image in my `/etc/kubernetes/manifests/kube-scheduler.yaml` file. I.e:
[code]
Which I thought would create the scheduler pod with the custom scheduler image but I still get the same error message.
[code]

@alculquicondor We

[2021-02-19 17:20] kbhawkey commented on #13939
:wave:  I logged an issue with the theme after I noticed `pt` localization string warnings when building the documentation.
The theme includes `/website/themes/docsy/i18n/pt-br.toml` but the k8s website adds `/website/themes/docsy/i18n/pt.toml`.
Some of the localized strings (from the theme) are not resolved in the documentation.
I am wondering if the site should use `pt-br` instead of `pt`?
Here

[2021-02-19 17:31] rikatz commented on #13939
I'm OK with migrating to pt-br instead of pt, but if we do this, we're assuming this docs are not appliable to Portugal folks :)

There are some minor differences between them, maybe create a symlink for now?

I can take a look into this @kbhawkey  :)

[2021-02-19 17:59] kbhawkey commented on #13939
Hi. The theme is investigating the i18n library that handles the language data.
The site should be able to read and use the strings in `pt-br.toml` and `pt.toml`. The theme provides common strings in `pt-br`.
If needed, the team could create a `pt-br.toml` file in `website/i18n`?

[2021-02-19 18:10] rikatz commented on #13939
Yes we can! If this is OK for sig-docs, we can actually migrate everything from pt/ to pt-br (as everything there is in brazilian portuguese) and once there's a desire to other portuguese localizations, this can be done :)

[2021-02-19 18:32] #23960 closed

[2021-02-19 18:48] alculquicondor commented on #21128
If you are looking into creating your own plugin, consider opening an issue in https://github.com/kubernetes-sigs/scheduler-plugins/ instead.
This repo is not the right audience for that. I'm sure `@Huang-Wei` can provide extra guidance there.

[2021-02-19 20:23] jailton commented on #26627
/assign

[2021-02-19 20:51] jailton commented on #26457
/assign

[2021-02-19 21:04] Huang-Wei commented on #21128
@Frans-Lukas Let's move the discussion to https://github.com/kubernetes-sigs/scheduler-plugins/ as here the topic is more about configuring default scheduler with multiple profiles.

[2021-02-19 21:17] guizanelato commented on #13939
Hi @femrtnz , My first time contributing :) I would like to translate docs/concepts/configuration/organize-cluster-access-kubeconfig.md, could anyone assign it to me? thanks in advance.

[2021-02-19 21:40] jailton commented on #26563
/assign

[2021-02-19 22:01] anthosz opened #26633 "v1.20.4 - Unable to use TTLAfterFinished feature gate during init"
Hi,

I just reset a node with v1.20.4 and I cannot use anymore the feature gates TTLAfterFinished.
[code]

It's strange because according to the documentation availble on https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/, TTLAfterFinished feature gate is always enabled.

Best regards,

[2021-02-19 22:01] jailton commented on #25646
PR #25777 has fixed the issue. Can it be closed?

[2021-02-19 22:13] anthosz commented on #26633
In addition, It seems that worked well on v1.20.1, not tested on v1.20.2 & v1.20.3.

[2021-02-19 22:52] pjhwa commented on #26621
/triage accepted

[2021-02-19 23:06] neolit123 commented on #26633
hi, kubeadm has it's own set of feature gates that are not this list:
https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/
you can see them with `kubeadm init --help`

it does not propagate feature gates to the components it manages and you need to pass them explicitly using the "extra args" method:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/c

[2021-02-19 23:06] #26633 closed

[2021-02-19 23:07] neolit123 commented on #26633
for more questions you can use #kubeadm on k8s slack
or the support forums:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2021-02-20 04:52] anthosz commented on #26633
@neolit123 thank you!

[2021-02-20 09:38] yogyogi opened #26638 "Ingress on Minikube with the NGINX Ingress Controller does not opens in browser"
As listed in the [official docs about set of ingress](https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/), I found out that the ingress is not reachable by the browser.

I created an ingress:
`kubectl apply -f https://k8s.io/examples/service/networking/example-ingress.yaml`

And added its mapping on the `/etc/hosts` file in my windows 10 home edition.

`192.168.49.2 hell

[2021-02-20 13:05] #26627 closed

[2021-02-20 13:22] sftim commented on #13939
If that's the intention, please open a GitHub issue to track the introduction of country-specific localizations. We might need to do some general work to make sure this works out OK.

(Another option might be to work on upstream Docsy to add in the missing upstream translations for `pt`, if there's an acceptable version that works for the generic language code).

[2021-02-20 13:23] sftim commented on #25646
/close

Thanks @philiplee13

[2021-02-20 13:23] #25646 closed

[2021-02-20 13:29] sftim commented on #26618
Hi @rich-pixley

Would you be willing to explain your question a bit more? If you can provide context that's even better. For example, if there's a particular page or part of a web page that doesn't make sense, please provide it's URL and perhaps also the heading of the bit you're not following.

/language en
/triage needs-information

[2021-02-20 13:30] sftim commented on #26609
/retitle Suggestion for kubectl cheat sheet
/language en

I think this suggestion is for https://kubernetes.io/docs/reference/kubectl/cheatsheet/#formatting-output - is that right?

[2021-02-20 13:32] sftim commented on #26624
@chewy22 you did not write any description of the issue.

If you're willing to add that information, we can look at it - you can edit the description by clicking on the “&hellip;” at the top right of the box. Otherwise we would close the issue.

/priority awaiting-more-evidence
/triage needs-information

[2021-02-20 13:35] sftim commented on #26638
Hi @yogyogi

Would you be willing to describe the context for your findings? We'd want to know what kind of cluster you ran it on (eg: local minikube? minikube from Katacoda as found in that task page? something else), the version of that cluster, and whether you deviated from any of the steps.

I suspect that if you are using Minikube in katacoda, there isn't any way to access the Ingress from th

[2021-02-20 13:40] sftim commented on #26611
Hi @k-wall

We're happy to track an issue about the page being unclear - it's worth making it clear what happens if you add a ConfigMap where an existing Pod has this as an optional filesystem-based configuration source.

In terms of confirming the defined behavior is, that's a little outside of SIG Docs' usual purview. SIG Storage looks after ConfigMap as an API so what might make sense is if you

[2021-02-20 14:16] rich-pixley commented on #26618
It’s the overall that’s a problem.

I’m brand new to kubernetes but not to OS concepts. I’m looking for a tutorial in the sense of introducing base concepts then branching out into variations and I’m not finding it.

The tutorials that exist walk me through using a bunch of tangential tools, I presume.  They don’t work so I didn’t bother to follow for long as they didn’t seem to be relevant and th

[2021-02-20 14:20] sftim commented on #26542
Also see issue  #26591

[2021-02-20 14:28] sftim commented on #26591
/triage accepted
/language en
/kind bug

[2021-02-20 14:30] sftim commented on #26614
@RakeshRam how did the IP address range that `111.111.11.1` falls within get assigned? Was that minikube's own choice or a customization made separately?

/triage support

[2021-02-20 14:31] sftim commented on #26593
/close

[2021-02-20 14:31] #26593 closed

[2021-02-20 14:31] sftim commented on #26612
@bdalepa, you did not write any description of the issue.

If you're willing to add that information, we can look at it - you can edit the description by clicking on the “&hellip;” at the top right of the box. Otherwise we would close the issue.

/priority awaiting-more-evidence
/triage needs-information

[2021-02-20 14:35] RakeshRam commented on #26614
That is the IP from minikube. I get that when I run `minikube tunnel`. And I used the above IP( `111.111.11.1` ) just as a representation.  In reality i get something like `192.168....`

[2021-02-20 14:38] sftim commented on #26617
I tested https://k8s.io/docs/tutorials/hello-minikube/ following the instructions, using Katacoda to host the cluster.

I noticed a missing detail. Before you run `minikube dashboard`, you should open a _new_ terminal, start `minikube dashboard` there, and then switch back to the main terminal.

Alternatively, we could rely on shell process management and have the reader run `minikube dashboard &`

[2021-02-20 14:39] sftim commented on #26628
/kind bug
/language en
/priority backlog
/triage accepted

/help

Thanks @oke-py

[2021-02-20 14:45] sftim commented on #26618
@rich-pixley if you'd be willing to write up the differences between your expectations and what you encountered, in issue format, then that'd be really valuable to Kubernetes. It sounds like you're looking for a few different things and haven't found what you were after. If you can communicate what those gaps are, [SIG Docs](https://github.com/kubernetes/community/tree/master/sig-docs#docs-special

[2021-02-20 14:47] sftim commented on #25178
/close

[2021-02-20 14:47] #25178 closed

[2021-02-20 14:53] sftim opened #26640 "Use “control plane” terminology in Use minikube to Create a Cluster"
**This is a Clean Up Request**

**What would you like to be added**
Change [Use minikube to Create a Cluster](https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro/) to call the control plane a “control plane”, not a “master”.

**Why is this needed**
Kubernetes terms have changed:
| Old term | New term      |
|----------|---------------|
| Minion   | Node          |
|

[2021-02-20 14:55] yogyogi commented on #26638
Hello @sftim,

I am using **local Minikube** installed in **Windows 10 Home**. There is also docker desktop in my pc.
I have also described this problem on [**stackoverflow**](https://stackoverflow.com/questions/66275458/could-not-access-kubernetes-ingress-in-browser-on-windows-home-with-minikube) with no luck till now.

Please provide me a solution. Let me know if you need any other information f

[2021-02-20 15:08] sftim commented on #26614
/kind support

[2021-02-20 15:09] sftim commented on #26614
I suspect that the tutorial is correct but that @RakeshRam's local cluster isn't set up how the tutorial expects.

@RakeshRam I notice that's quite an old minikube used with a newish kubectl. You might like to try the latest minikube and see if that helps.

[2021-02-20 15:18] sftim commented on #26638
Hi @yogyogi

Thanks for asking that question on Stack Overflow - it sounds like a good place for it.

I did notice that the advice about listing `hello-world.info` is POSIX-specific. Windows doesn't actually have `/etc/hosts` file.

When I try this and run `curl -H "Host: hello-world.info" "http://$(minikube ip)"`, it works fine. _If you're using PowerShell_ and have `curl` available, that should

[2021-02-20 15:27] yogyogi commented on #26638
Hello @sftim,

Windows have etc/hosts file, i found it inside C:\Windows\System32\drivers\etc\hosts.
I updated it with notepad.

After that on cmd, i did a ping to it - `ping hello-world.info`. It was pointing to the ip address `192.168.49.2` which i just set on
etc/hosts. So i was able to confirm this that I changed the etc/hosts file correctly.

I will update the stackoverflow with the image of

[2021-02-20 17:27] SebTardif commented on #26609
I think "--all-namespaces" should not show-up in the cheat sheet because the goal is shortcut, only -A should shows up

[2021-02-20 17:55] #24072 closed

[2021-02-20 18:04] sftim opened #26641 "Broken link in concept page about Operators"
**This is a Bug Report**

**Problem:**
In the [What's next](https://kubernetes.io/docs/concepts/extend-kubernetes/operator/#what-s-next) section of the _Operator pattern_ concept page there is a link to CoreOS' original article about the Operator pattern.

Following a series of acquisitions it _looks_ like that article is no longer published. I couldn't find a current URL for it.

**Proposed Solut

[2021-02-20 18:06] sftim commented on #24133
/remove-good-first-issue

[2021-02-20 18:11] sftim commented on #23082
I think this is fixed.

[2021-02-20 18:12] sftim commented on #23082
@pushkarv I edited the description of this issue. The change was to record what I think is the right URL of the page you wanted fixed.

It all looks OK now.

/close

[2021-02-20 18:13] #23082 closed

[2021-02-20 18:21] sftim commented on #26609
https://github.com/kubernetes/website/issues/26609#issuecomment-782719112 sounds inline with the “cheat sheet” concept.

[2021-02-20 18:27] sftim opened #26642 "List operator tools in alphabetical order"
**This is a Cleanup Request**

**What would you like to be added**
- Revise https://kubernetes.io/docs/concepts/extend-kubernetes/operator/ to move the list of libraries for writing operators out of the [What's next](https://kubernetes.io/docs/concepts/extend-kubernetes/operator/#what-s-next).
- Add a third party content warning ahead of that list - see https://kubernetes.io/docs/concepts/cluster-

[2021-02-20 18:49] yogyogi commented on #26638
I have updated [**stackoverflow**](https://stackoverflow.com/questions/66275458/could-not-access-kubernetes-ingress-in-browser-on-windows-home-with-minikube)  question with screenshots of curl command showing timeouts and also for ping command to the ip which also shows timeout.

[2021-02-20 18:56] #21958 closed

[2021-02-20 20:49] jailton commented on #26628
/assign

[2021-02-20 21:31] rikatz commented on #13939
So, as we've spoke with @sftim, we will follow the current approach now, of dealing directly with 'pt' content and translation, and not specializing in a pt-br and pt-pt translation.

As someone wants to create a Portuguese from Portugal translation, we will check this localization issue again.

Let's move forward :)

[2021-02-21 01:25] tengqm commented on #26178
🎉   We made it!

/close

[2021-02-21 01:25] #26178 closed

[2021-02-21 03:01] bryanasdev000 commented on #13939
Guys I am really interessed in Networking part (Services Networking).

For now I plan to translate: https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/services-networking/ingress.md .

[2021-02-21 05:10] MichaelWasher opened #26650 "The container environment is only populated with environment variables of services within the same namespace"
Create deployment and list environment variables injected into Pods:

Create script used:
[code]
Services listed inside the Pod with the same namespace as the Nginx Deployment
[code]
Services listed inside the Pod in a different namespace as the Nginx Deployment
[code]

[2021-02-21 05:23] MichaelWasher commented on #26650
#26652

[2021-02-21 05:41] shuuji3 commented on #23947
/remove-lifecycle stale

[2021-02-21 07:00] jailton commented on #26640
/assign

[2021-02-21 08:38] translucens commented on #25052
/remove-lifecycle stale

[2021-02-21 08:49] MichaelWasher commented on #26650
/assign

[2021-02-21 09:39] chenxuc commented on #26642
I can help this issue in next several days.
/assign

[2021-02-21 09:51] cybermeme opened #26654 "Allouer des ressources CPU aux conteneurs et aux pods"
Hi, in the page https://kubernetes.io/fr/docs/tasks/configure-pod-container/assign-cpu-resource/ I think:
De même, la limite de CPU pour les un Pod est la somme des limites de CPU pour tous les conteneurs du Pod.
Should be:
De même, la limite de CPU pour un Pod est la somme des limites de CPU pour tous les conteneurs du Pod.

[2021-02-21 10:21] cybermeme commented on #26654
In the same page:
Le Pod peut avoir des pics d'activité où il utilise les ressources CPU qui se sont déjà disponible.
should be:
Le Pod peut avoir des pics d'activité où il utilise les ressources CPU qui sont déjà disponible.

[2021-02-21 10:44] varenaggarwal commented on #26641
I would like to take this one. This will be my first time contributing to repo, so I might take a while.

[2021-02-21 10:44] varenaggarwal commented on #26641
/assign

[2021-02-21 14:32] zharpaz opened #26658 "Secrets"
Hi, I am mounting a secret on a pod (as part of helm-charts). I am trying to remove read permission from group. When I use defaultMode: 0400 I get 0440 and when I use 0000, also get 0440.
I am using version
`
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.2", GitCommit:"52c56ce7a8272c798dbc29846288d7cd9fbae032", GitTreeState:"clean", BuildDate:"2020-04-16T11:56:40Z", GoVersi

[2021-02-21 15:00] inductor commented on #26505
/close

[2021-02-21 15:00] #26505 closed

[2021-02-21 15:25] neolit123 commented on #23889
/remove-lifecycle stale

[2021-02-21 18:43] #26542 closed

[2021-02-21 19:53] sftim commented on #26641
Fixed in https://github.com/kubernetes/website/pull/26651
/close

[2021-02-21 19:53] #26641 closed

[2021-02-21 20:21] RakeshRam commented on #26614
@sftim Thanks. I updated minikube version to `v1.17.1`. but that did not solve my problem. I believe it is something to do with the minikube IP. Because both ingress address and minikube ip are the same.

**SideNote**: Also, I have the same issue while accessing the app using Istio gateway.

[2021-02-21 20:37] rikatz commented on #13939
@guizanelato added you to the kubeconfig translation
@bryanasdev000 added you to ingress translation

https://docs.google.com/spreadsheets/d/1HiaVFJ7nRZo1MPNNYyq1u-L_N9xrJvzuUzkZ3GuJGNU/edit?usp=sharing

[2021-02-21 20:37] kbhawkey commented on #26640
/triage accepted

[2021-02-21 20:40] rikatz commented on #13939
OK, so so far about the spreadsheet, I've almost mapped everything from concepts and others that need to be reviewed OR translated.

I'm still missing the tasks and the tutorials (which IMO are really important as well).

I would like to make some zoom meeting with whoever from the localization team wants to, so we can maybe prioritize things :)

[2021-02-21 20:42] rikatz commented on #13939
/help
/good-first-issue

Good first issue for Brazilian Portuguese speakers :)

[2021-02-21 22:21] Marusyk commented on #26406
/assign

[2021-02-21 22:22] Marusyk commented on #26406
Hi @sftim
Well, the task is to remove this page : https://v1-16.docs.kubernetes.io/docs/tasks/debug-application-cluster/falco/ ?

[2021-02-22 01:43] #26594 closed

[2021-02-22 01:58] bryanasdev000 commented on #13939
Nice work! I think that we have a few posts from blog that we should give some attention too, specially the docker one (https://kubernetes.io/blog/2020/12/02/dont-panic-kubernetes-and-docker/).

I will spread the word too, see if we can have more people working on that.

[2021-02-22 05:53] tengqm commented on #25193
/close
Links are all localized for zh translation. Anything left should be treated as bugs.

[2021-02-22 05:53] #25193 closed

[2021-02-22 08:10] rdxbarakn commented on #26328
Any news on this please?

Barak Nissim
Director Tech Solutions
P: +972-52-4705394

On 2 Feb 2021, 12:21 +0200, Barak Nissim <barakn@ionir.com>, wrote:

[2021-02-22 08:51] freegroup commented on #25959
It seems that the Serivce catalog is not a frequently installed component when this error was noticed only by me and has not received any attention since then.

[2021-02-22 11:56] rikatz commented on #13939
Yeap, one thing I want to discuss in our kickoff meeting is the priorities, and we can include some important blog posts into that.

[2021-02-22 12:08] pjhwa opened #26666 "Translate setup/production-environment/tools/kubeadm/install-kubeadm.md into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate setup/production-environment/tools/kubeadm/install-kubeadm.md into Korean.

**Why is this needed**
There is no document of setup/production-environment/tools/kubeadm/install-kubeadm.md which is translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/

[2021-02-22 12:08] pjhwa commented on #26666
/assign @pjhwa

[2021-02-22 12:08] pjhwa commented on #26666
/triage accepted

[2021-02-22 12:29] pasimoes commented on #13939
@rikatz when is planned the kickoff meeting?

[2021-02-22 12:34] rikatz commented on #13939
We're still voting -> https://doodle.com/poll/k2bpczscth8vduah?utm_source=poll&utm_medium=link

[2021-02-22 14:24] sftim commented on #26654
/language fr

[2021-02-22 14:25] sftim commented on #26658
GitHub is not the right place for support requests @zharpaz.

For help, you could ask on [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes)

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

/kind support

[2021-02-22 14:30] sftim commented on #26650
/language en
/kind bug

[2021-02-22 14:51] tengqm commented on #26658
A related issue you may want to check out: https://github.com/kubernetes/kubernetes/issues/57923

[2021-02-22 14:59] rich-pixley commented on #26617
I didn't have any luck with it on any of several browsers I tried.  It
failed out on all of them.

On 2/20/21 07:39, Tim Bannister wrote:

[2021-02-22 15:20] rich-pixley commented on #26618
I could have sworn I'd just done that.  But I can do it again.

I don't need the pages of marketing.  I don't need the pages of OS
background or the ci/cd cheerleading or the incessant looping pointers
that force me to read the same marketing and cheerleading over and over
and over again.

What I need and what I'm looking for is a description, step by step, of
how to bring up a rudimentary or even

[2021-02-22 15:42] sftim commented on #26618
It sounds like what you want is a guide to deploying a more production-like cluster @rich-pixley

How well does https://kubernetes.io/docs/setup/ match what you wanted to find?
If there's a gap, the more you can explain what's missing, the better we can look for ways to fill that.

[2021-02-22 16:29] sftim commented on #26624
/close

[2021-02-22 16:29] #26624 closed

[2021-02-22 16:29] sftim commented on #26612
/close

[2021-02-22 16:29] #26612 closed

[2021-02-22 16:41] #20757 closed

[2021-02-22 16:41] #22015 closed

[2021-02-22 16:46] 2rs2ts commented on #14215
the page in question no longer exists, I'm sure it's been moved somewhere but with the provider being removed eventually I give up on this

/close

[2021-02-22 16:46] #14215 closed

[2021-02-22 16:51] sftim commented on #14215
The equivalent home for those details is possibly https://kubernetes-sigs.github.io/aws-load-balancer-controller/

[2021-02-22 17:13] 2rs2ts commented on #14215
@sftim I'm not sure, that one seems to only be for ELBv2.

[2021-02-22 23:46] santachopa opened #26669 "Translate reference/glossary/persistent-volume-claim.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate reference/glossary/persistent-volume-claim.md in Korean

**Why is this needed**
No translation reference/glossary/persistent-volume-claim.md in Korean

**Comments**

Page to update : https://kubernetes.io/ko/docs/reference/glossary/?core-object=true#term-persistent-volume-claim

[2021-02-22 23:46] santachopa commented on #26669
/assign
/language ko

[2021-02-23 05:23] aaronscribner opened #26671 "Pod Lifecycle"
Machine-readable, UpperCamelCase text indicating the reason for the condition's last transition.

UpperCamelCase is a made up thing. It is properly called PascalCase.

[2021-02-23 05:25] seokho-son commented on #26669
Thank you!
/triage accepted

[2021-02-23 05:47] yang199 opened #26672 "特性门控"
Beta 特性代表：

默认禁用。

应该是启用状态才对。

[2021-02-23 06:26] Karmavil opened #26673 "Pull an Image from a Private Registry"
/question

Hi guys.
I had a terrible time thanks to the fact that the documentation describes the use of the `email` and `auth` trying to [Create a Secret by providing credentials on the command line](https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/#create-a-secret-by-providing-credentials-on-the-command-line).

I'm using `pass` in my docker config.json so [enc

[2021-02-23 06:27] Karmavil commented on #26673
/question

[2021-02-23 08:06] ravanapel commented on #25191
This issue seems to be fixed already.

[2021-02-23 08:06] #25191 closed

[2021-02-23 09:47] sftim commented on #25959
/triage accepted

[2021-02-23 09:48] sftim commented on #25959
/kind bug
/language en

[2021-02-23 09:49] sftim commented on #22997
/remove-lifecycle stale

@Kartik494 which PR were you asking about?

[2021-02-23 11:57] rikatz commented on #13939
Per doodle, happening today at 9:00 :) (sorry, I announced on slack and completely forgot github)

https://meet.jit.si/KubernetesDocPT-BR

[2021-02-23 12:49] emanuelhaine commented on #13939
Hello guys,

I'd like to start translating this topic about Persistent Storage: https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/storage/persistent-volumes.md

[2021-02-23 13:06] bryanasdev000 commented on #13939
Hello @emanuelhaine!

I added you to our spreadsheet!

Any problem, just leave a message on Slack.

[2021-02-23 13:13] rikatz commented on #13939
@emanuelhaine once you finish, let us know so someone from the group can review this :)

[2021-02-23 13:46] inductor commented on #26508
/close

[2021-02-23 13:47] #26508 closed

[2021-02-23 16:05] pacsikaz opened #26681 "Troubleshoot Applications"
In the 'My Service Missing Endpoints' sub-chapter containerPort is mentioned as Service parameter but in fact this should be changed to targetPort:

"If your **service** has a **_containerPort_** specified, but the Pods that are selected don't have that port listed, then they won't be added to the endpoints list.

Verify that the pod's containerPort matches up with the Service's targetPort"

Since

[2021-02-23 17:57] jhoncemplok opened #26684 "Volume Snapshot Classes"
error: unable to recognize "snapshotclass.yaml": no matches for kind "VolumeSnapshotClass" in version "snapshot.storage.k8s.io/v1"

[2021-02-23 22:49] jralmaraz commented on #13939
Hi,

I would like to start translating the Authentication topic:

https://github.com/kubernetes/website/blob/master/content/en/docs/reference/access-authn-authz/authentication.md

Cheers!

[2021-02-23 23:53] cblecker opened #26687 "Add docs on kubeconfig parameters like proxy-url"
There do not appear to be public facing docs for kubeconfig parameters like `proxy-url`, introduced in https://github.com/kubernetes/kubernetes/pull/81443.

also ref https://github.com/kubernetes/client-go/issues/351

/sig api-machinery cli

[2021-02-24 00:05] kbhawkey commented on #25659
👋 Does this new task page belong in an existing task section? Or add as a standalone page?
You also mentioned possibly adding this new content to the `concepts` or `reference` sections.

[2021-02-24 00:22] bryanasdev000 commented on #13939
Added

Added to our spreadsheet!

[2021-02-24 02:48] duboc commented on #13939
Hey everyone!

I’m hoping to be of service and help translate some topics.

I’m keen to work on the Daemonset, Deployment and Garbage Collection rendition.

[2021-02-24 03:08] ydcool commented on #25656
/language zh
/triage accepted
/assign

@sftim  decalMinCow means there should no full stop `。` at the end of a list line.

[2021-02-24 03:10] yuandongx opened #26689 "[zh] Url 跳转的页面不存在 “https://kubernetes.io/zh/docs/user-guide/load-balancer”"
![image](https://user-images.githubusercontent.com/35824522/108941838-bb9e1600-7690-11eb-8083-eb05697f0457.png)

[2021-02-24 03:11] yuandongx commented on #26689
![image](https://user-images.githubusercontent.com/35824522/108941966-0324a200-7691-11eb-9a1d-dd613593b1f9.png)

[2021-02-24 03:14] yuandongx commented on #26689
/language zh

[2021-02-24 04:45] Xunzhuo commented on #26689
/assign

[2021-02-24 04:48] Xunzhuo opened #26693 "http://www.haproxy.org/download/1.5/doc/proxy-protocol.txt is deprecated and 403 Forbidden"
**This is a Bug Report**

**Problem:**

In https://kubernetes.io/zh/docs/tutorials/services/source-ip/

![企业微信截图_20210224124727](https://user-images.githubusercontent.com/48784001/108949010-87315680-769e-11eb-9796-9cee2a01afd9.png)

http://www.haproxy.org/download/1.5/doc/proxy-protocol.txt is deprecated and 403 Forbidden

**Proposed Solution:**

change it to https://www.haproxy.org/download/1.8/d

[2021-02-24 04:50] Xunzhuo commented on #26693
/language zh
/assign