[2020-04-30 17:57] neolit123 commented on #19304
try moving to a newer release - 1.17.5. i know for sure we had issues with .0 and .1.
if you find issues around that please log a kubernetes/kubernetes ticket.

also for generic support questions the support channels are the right place.

thanks
/close

[2020-04-30 17:57] #19304 closed

[2020-04-30 18:00] ryangsteele commented on #18079
Alternatively, you can use `kubectl edit deployment/kubernetes-bootcamp` after running `kubectl create deployment` and add this to the containers spec:

[code]

After adding this, the container spec should look like so:

[code]

[2020-04-30 18:20] celestehorgan commented on #20485
cc: @zacharysarah

[2020-04-30 18:57] kbhawkey commented on #18675
/remove-lifecycle stale

[2020-04-30 18:59] kbhawkey commented on #20617
Some previous discussion about deprecated APIs:
https://github.com/kubernetes/website/issues/18675

[2020-04-30 20:01] kbhawkey opened #20692 "inconsistent version, feature state for tasks/administer-cluster/kubelet-config-file"
**This is a Feature Request**
The task page,
https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config-file/
refers to the feature state as reaching beta in `v1.18`, however, the text in the task
page refers to the version as `v1.10`.

**What would you like to be added**
Confirm when the feature reached beta and adjust the text on the page.

**Why is this needed**
The content is not consi

[2020-04-30 20:01] kbhawkey commented on #20692
/help

[2020-04-30 20:20] kbhawkey opened #20693 "alphabetize readme localization links in project README"
**This is a Feature Request**
The links in the README table should be listed alphabetically.
Over time, the entries were misordered.

**What would you like to be added**
Alphabetize the links in the two column table.
Complete the first column, listing alphabetically the localization names and
then continue filling the second column.

**Why is this needed**
It is easier to locate alphabetized links

[2020-04-30 20:20] kbhawkey commented on #20693
/help

[2020-04-30 20:59] kbhawkey commented on #20693
/good-first-issue

[2020-04-30 22:05] #18724 closed

[2020-04-30 22:54] pjhwa opened #20695 "Issue with k8s.io/docs/concepts/cluster-administration/cloud-providers/"
**This is a Bug Report**

**Problem:**
At Line 398,
The link for "Planning your cluster and worker node setup" might seems to be changed from cloud.ibm.com.

**Proposed Solution:**
The link has to be changed as "https://cloud.ibm.com/docs/containers?topic=containers-planning_worker_nodes".

**Page to Update:**
https://kubernetes.io/docs/concepts/cluster-administration/cloud-providers/#compute-node

[2020-04-30 22:54] pjhwa commented on #20695
/language en
/assign

[2020-04-30 22:57] Arhell commented on #20693
/assign @Arhell

[2020-05-01 00:16] pjhwa opened #20700 "Translate concepts/cluster-administration/addons.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/cluster-administration/addons.md in Korean.

**Why is this needed**

There is no documents of concepts/cluster-administration/addons/ which translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/concepts/cluster-administration/addons/

/language ko

[2020-05-01 00:16] pjhwa commented on #20700
/assign

[2020-05-01 02:36] zacharysarah commented on #20344
Version selector is outdated.

[2020-05-01 02:40] zacharysarah commented on #20344
Language selector is outdated:

- Norwegian is enabled. (It [shouldn't be](https://github.com/kubernetes/website/blob/master/config.toml#L29).)
- Polish, Ukrainian are missing.

[2020-05-01 02:43] zacharysarah commented on #20344
Given how outdated the preview code appears, a merge PR is likely to generate a significant number of merge conflicts.

[2020-05-01 02:57] Rajakavitha1 commented on #20624
Hi @savitharaghunathan  I was only helping the Hindi Localization team in reviewing the translated guide. Not involved in the localization efforts any more.

[2020-05-01 03:24] AnilPothula opened #20701 "Issue with k8s.io/docs/tasks/manage-kubernetes-objects/declarative-config/"
**This is a Bug Report**

**Problem:**
To print the live configuration after:
kubectl apply -f https://k8s.io/examples/application/update_deployment.yaml
**kubectl get -f https://k8s.io/examples/application/simple_deployment.yaml -o yaml**

**Proposed Solution:**
kubectl get -f https://k8s.io/examples/application/update_deployment.yaml -o yaml

**Page to Update:**
https://kubernetes.io/docs/tasks/

[2020-05-01 04:32] #17752 closed

[2020-05-01 06:45] ao-picterra opened #20702 "Issue with k8s.io/docs/tasks/run-application/horizontal-pod-autoscale/"
**This is a Bug Report**

**Problem:**
In the first scaling policies example "When the number of pods is more than 40 the second policy will be used for scaling down. ", where the 40 comes from is not clear
**Proposed Solution:**
Something like "when the number of replicas is 40, that is when the 10% 2nd policy target is over the first poicy one (4), the 2nd policy will be used"
**Page to Update:*

[2020-05-01 07:14] pjhwa opened #20704 "Incorrect hugo code for reference/glossary/cluster.md"
**This is a Bug Report**

**Problem:**
Glossary tooltip code for "node" shouldn't be in the short_description section. It doesn't display it correctly.

**Proposed Solution:**
Change it like original document.
https://github.com/kubernetes/website/blob/master/content/ko/docs/reference/glossary/cluster.md
https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/cluster.m

[2020-05-01 07:17] pjhwa commented on #20704
/language ko
/assign

[2020-05-01 08:28] #20704 closed

[2020-05-01 08:36] #17912 closed

[2020-05-01 09:44] prakashid2 opened #20708 "Issue with k8s.io/docs/tasks/tools/install-kubectl/"
**This is a Bug Report**

**Problem:**
I'm trying to install Kubenetes as per [install-kubectl](https://kubernetes.io/docs/tasks/tools/install-kubectl/) link.

Powershell is throwing error in output. First command 'Install-Script' succeeded but did not show any lines in console output.

-- Error in output of install-kubectl.ps1 --
PS D:\kubernetesInstalled> install-kubectl.ps1 -DownloadLocation D:

[2020-05-01 09:49] prakashid2 opened #20709 "Issue with install-kubectl.ps1 power shell command"
**This is a Bug Report**

**Problem:**
I'm trying to install Kubenetes as per [install-kubectl](https://kubernetes.io/docs/tasks/tools/install-kubectl/) link.

Powershell is throwing error in output. First command 'Install-Script' succeeded but did not show any lines in console output.

-- Error in output of install-kubectl.ps1 --
PS D:\kubernetesInstalled> install-kubectl.ps1 -DownloadLocation D:

[2020-05-01 11:15] sftim commented on #20344
(from https://github.com/kubernetes/website/issues/20344#issuecomment-622221744)
I can help with a rebase, or even create my own PR that cherry-picks just the Docsy changes.

[2020-05-01 11:23] sftim commented on #20344
https://kubernetes-hugo-staging.netlify.app/docs/concepts/ seems harder to navigate on mobile than I'd expect. It turns out that's because there are 2 hamburger icons and one of them is hidden with a narrow viewport.

Examples (narrow viewport first; notice how the hamburger is actually extending right of the viewport)

|![300px viewport](https://user-images.githubusercontent.com/22591623/80802163

[2020-05-01 11:32] sftim commented on #20344
The existing site has an icon you can click to copy a `{{< codenew >}}` block to the clipboard. The docsy site does not offer that behavior, AFAICT.

[2020-05-01 11:36] sftim commented on #20344
The version selector issue mentioned in https://github.com/kubernetes/website/issues/20344#issuecomment-622220569 looks partially fixed; however, the page at https://kubernetes-hugo-staging.netlify.app/case-studies/ does not have a working version selector.

[2020-05-01 11:41] sftim commented on #20344
Notes are blue in the existing docs but orange in the revised docs. I think it makes sense to have notes be blue and reserve orange for caution blocks. At the moment the Docsy site does not distinguish those blocks by color.

[2020-05-01 11:43] sftim commented on #20344
nit: The feature state shortcode renders the Kubernetes version as `<code>` and because of the revised styling also colors the text. I would render the “Kubernetes 1.18” (etc) part with black text.

[2020-05-01 11:46] sftim commented on #20344
nit: tab header styling looks odd (the skeumorphism of file tabs isn't as obvious compared to the existing site)
eg https://kubernetes-hugo-staging.netlify.app/docs/contribute/style/hugo-shortcodes/#tabs-demo-code-highlighting

[2020-05-01 11:54] sftim commented on #20693
Fixed in #20693
/close

[2020-05-01 11:54] #20693 closed

[2020-05-01 14:40] blairwheadon opened #20711 "Improvement for k8s.io/docs/concepts/services-networking/ingress/"
Would love to see some docs on how to configure an ingress to only use https and redirect all http traffic to https (if possible).

Thanks!

[2020-05-01 15:43] #17925 closed

[2020-05-01 16:58] kbhawkey commented on #10691
Hello @schu .
The kube-apiserver docs component page is auto-generated using the
kube-apiserver from the `kubernetes/kubernetes` repository.
If the text for the flag `requestheader-client-ca-file` is not correct,
would you open a pull request in kubernetes/kubernetes.
Here is a snippet from v1.18, `https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/`

[code]
I am clos

[2020-05-01 16:58] #10691 closed

[2020-05-01 17:06] sftim commented on #18406
I think this is fixed. @rainingmaster can you confirm?

[2020-05-01 17:45] #17848 closed

[2020-05-01 17:50] zarhane opened #20712 "Issue with k8s.io/docs/tasks/administer-cluster/quota-api-object/"
**This is a Bug Report**

**Problem:**
missing double quote (") after the word services in the last table

**Proposed Solution:**
Add the missing double quote (")

**Page to Update:**
https://kubernetes.io/docs/tasks/administer-cluster/quota-api-object/

[2020-05-01 19:02] slz250 opened #20714 "Issue with k8s.io/docs/concepts/workloads/"
**This is a Bug Report**

**Problem:**
The link is supposed to be for documentation on k8s workload but instead links to an empty page titled "Pod"

**Proposed Solution:**
n/a

**Page to Update:**
https://kubernetes.io/docs/concepts/workloads/

[2020-05-01 19:50] bridgetkromhout commented on #16466
I submitted a PR that may help with the requested rewording: https://github.com/kubernetes/website/pull/20715

[2020-05-01 21:16] pranshu-s18 commented on #20649
/assign

[2020-05-01 21:17] pranshu-s18 commented on #20649
@sftim do I need to move all the page content or only the eviction-policy section?

[2020-05-01 21:49] #13994 closed

[2020-05-01 22:05] pjhwa opened #20716 "Translate tasks/tools/install-kubectl.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/tools/install-kubectl.md in Korean.

**Why is this needed**

There is no document of tasks/tools/install-kubectl/ which translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/tasks/tools/install-kubectl/

[2020-05-01 22:06] pjhwa commented on #20716
/language ko
/assign

[2020-05-01 23:28] ZhiFeng1993 commented on #20673
/assign

[2020-05-01 23:33] sftim commented on #20649
Just the _Eviction Policy_ section. Overall, https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/#eviction-policy is a task page and can stay as a task page.

[2020-05-01 23:56] tstromberg commented on #15969
/assign

[2020-05-02 08:17] techmaniack commented on #20378
@RA489 I have already gone through the material that you have shared.
Is the minikube content on Kubernetes (kubernetes.io) website no longer being maintained or going to be deprecated?

[2020-05-02 10:37] ShivamGoyal1899 commented on #20649
@sftim
Eviction Policy is a kind of a separate concept. I guess it should be an entirely new page in **Scheduling and Eviction** section, such that it adds an entry in accordion menu as well.

[2020-05-02 11:32] viniciusbds commented on #20701
Hi @AnilPothula, thanks for contributing.

I tested with both files and both worked.

It doesn't really look like a bug. Probably the parameter **- f file.yaml** in the command `kubectl get -f file.yaml -o yaml` serves only to identify the deployment by its name, so we could use any of the files:
https://k8s.io/examples/application/simple_deployment.yaml
or
https://k8s.io/examples/application/upda

[2020-05-02 11:32] viniciusbds commented on #20701
/assign

[2020-05-02 12:43] sftim commented on #20649
There's more than one way to do this, and that's one of the viable approaches.

[2020-05-02 13:04] viniciusbds commented on #20688
Hi @vmwarelab.

I think that doesn't work because you are using a image that doesn't have the bash command.

for exemple:

The busybox image doesn't have a /bin/bash file

[code]

and will fail if we try to use **/bin/bash** ...

[code]

So if we use an image that contains the /bin/bash file, e.x: ubuntu, it will work as  expected.

[code]

[code]

Hope this helps :)

[2020-05-02 13:07] vmwarelab commented on #20688
Thank you very much . Any idea why - -  sh works or what - - sh means

Maher AlAsfar
Staff SE – Cloud Management Specialist
Central and Eastern Canada
Solutions Engineering & Technology
Tel : 1 (416) 727-2077 | Email : malasfar@vmware.com |Blog : vmwarelab.org
________________________________
From: Vinicius Barbosa <notifications@github.com>
Sent: Saturday, May 2, 2020 9:04:52 AM
To: kubernetes/we

[2020-05-02 13:17] viniciusbds commented on #20688
**sh** is the standard command language interpreter in Unix-like operating systems. Therefore, most (or all) of linux-based images have the sh interpreter.

[2020-05-02 13:20] vmwarelab commented on #20688
Thank you very much appreciate the help

Maher AlAsfar
Staff SE – Cloud Management Specialist
Central and Eastern Canada
Solutions Engineering & Technology
Tel : 1 (416) 727-2077 | Email : malasfar@vmware.com |Blog : vmwarelab.org
________________________________
From: Vinicius Barbosa <notifications@github.com>
Sent: Saturday, May 2, 2020 9:18:04 AM
To: kubernetes/website <website@noreply.github.

[2020-05-02 13:27] oke-py commented on #18957
/close

[2020-05-02 13:27] #18957 closed

[2020-05-02 17:35] vijaygharge opened #20725 "Issue with k8s.io/docs/tasks/configure-pod-container/assign-memory-resource/"
**This is a Bug Report**

**Problem:**
In the "Specify a memory request & memory limit" section on [https://kubernetes.io/docs/tasks/configure-pod-container/assign-memory-resource/#specify-a-memory-request-and-a-memory-limit](url) - there is command `kubectl top pod memory-demo --namespace=mem-example`

When I execute this command on k8s v1.17.4, it throws below error -

[code]
I believe kubectl t

[2020-05-02 19:17] ZhiFeng1993 commented on #20673
@MikeSpreitzer  I haven't found anything to update in https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/

Just confirm if I missed anything. Thanks

[2020-05-02 20:29] sftim opened #20728 "Add “eviction” to glossary"
**This is a Feature Request**

**What would you like to be added**
- Define _eviction_ in the [glossary](https://kubernetes.io/docs/reference/glossary/)
- Optionally (and in a separate commit): pick some existing pages that would benefit from using a glossary tooltip, and amend them.
    See https://kubernetes.io/docs/contribute/style/hugo-shortcodes/#glossary

**Why is this needed**
_Eviction_ is

[2020-05-02 20:43] sftim commented on #18898
/remove-lifecycle stale

[2020-05-02 20:50] sftim commented on #20702
40 is 4 divided by 10%. I think the page is assuming that the reader can connect the details, whereas it does make sense to explain that clearly.

The point seems to be that the policies are merged by taking maximum of the different calculated values.

Thanks for reporting this @ao-picterra
/priority backlog
/language en
/sig autoscaling

[2020-05-02 20:52] sftim commented on #15539
Duplicated by #20714

[2020-05-02 20:54] sftim commented on #20714
@slz250 this duplicates #15539

Are you OK to close this issue?

[2020-05-02 20:59] sftim commented on #20711
@blairwheadon Kubernetes _itself_ doesn't provide any Ingress controllers. I think what you want to achieve might be more feasible once Ingress is stabilised. Until then, and as I understand it, each Ingress controller is allowed to implement its own way to make this happen.

If you're looking for advice relating to a specific Ingress implementation, I think you'd look at the documentation for tha

[2020-05-02 20:59] sftim commented on #20708
/sig windows

[2020-05-02 21:00] sftim commented on #18953
/remove-lifecycle stale

[2020-05-02 21:18] ShivamGoyal1899 commented on #20478
#20504 fixed this. It should be closed.

[2020-05-02 21:33] ShivamGoyal1899 commented on #20478
/assign @sftim

[2020-05-02 21:44] #20712 closed

[2020-05-02 23:13] Cariaga opened #20730 "Improvement for k8s.io/docs/tasks/access-application-cluster/web-ui-dashboard/"
minikube dashboard command actually works
but the example is saying to use kubectl proxy its just stuck at starting

[2020-05-03 05:07] SandhyaNagarajan opened #20732 "Issue with k8s.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-ha-1-12/"
**This is a Bug Report**

**Problem:** The k8s upgrade procedure for older versions before 1.11 is not available in the official k8s website. But the same upgrade steps from 1.11 to 1.12 is applicable for 1.8.x to 1.9.x as well.

**Proposed Solution:** Best case, put the older version in the archive to be possible to people in older version to upgrade. Atleast, a mention on this page that the olde

[2020-05-03 07:47] pjhwa opened #20734 "Translate tasks/administer-cluster/kubeadm/kubeadm-upgrade/ in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/administer-cluster/kubeadm/kubeadm-upgrade/ in Korean.

**Why is this needed**

There is no document of docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/ which translated into Korean

**Comments**

Page to translate: https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/

/language ko

[2020-05-03 07:47] pjhwa commented on #20734
/assign

[2020-05-03 10:36] shuuji3 opened #20735 "Translate setup/learning-environment/kind into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [setup/learning-environment/kind](https://github.com/kubernetes/website/blob/master/content/en/docs/setup/learning-environment/kind.md) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-05-03 11:04] Arhell opened #20736 "File sync readme.md"
**This is a Feature Request**

File sync readme

**What would you like to be added**
File sync

**Comments**
https://github.com/kubernetes/website/blob/master/README.md
https://github.com/kubernetes/website/blob/master/README-ru.md

/assign
/language ru

[2020-05-03 11:42] pallavimitra opened #20737 "Issue with k8s.io/docs/tasks/access-application-cluster/service-access-application-cluster/"
When trying to access the Hello World application using curl, I am getting "curl: (35) schannel: failed to receive handshake, SSL/TLS connection failed" error.
I hope it arose because of not creating a firewall rule that allows TCP traffic on your node port.
Could anyone please help me how to create that firewall rule?

Thanks in advance.

[2020-05-03 14:02] #20695 closed

[2020-05-03 17:32] #17396 closed

[2020-05-03 17:44] neolit123 commented on #20732
hi, everything < 1.16 is out of support and unmaintained. 1.16 will go out of support with the release of 1.19.

/triage support
/close

[2020-05-03 17:44] #20732 closed

[2020-05-03 17:44] neolit123 commented on #20732
/sig cluster-lifecycle

[2020-05-03 21:28] gileez opened #20742 "Improvement for k8s.io/docs/tutorials/kubernetes-basics/expose/expose-intro/"

[2020-05-03 21:31] #20742 closed

[2020-05-04 03:10] oke-py commented on #18929
/remove-lifecycle stale

[2020-05-04 06:14] RA489 commented on #20378
@techmaniack Minikube has removed most of the dual hosted content from (kubernetes.io) and has its separate doc here https://minikube.sigs.k8s.io/docs/start/

[2020-05-04 07:54] mustufa5689 opened #20749 "Issue with k8s.io/docs/setup/production-environment/container-runtimes/"
**This is a Bug Report**

**Problem:**
CRI-O installation for CENTOS/RHEL7.4+ shows 404 Not Found.

![Cri-o_for_centos_404_page](https://user-images.githubusercontent.com/41719206/80945733-161c6c00-8e0a-11ea-8481-9e443f75a712.png)
![Cri-o_cli_Error_404_not_found](https://user-images.githubusercontent.com/41719206/80945948-92af4a80-8e0a-11ea-8c51-bd56591e90ec.png)

**Proposed Solution:**
It should

[2020-05-04 08:44] mustufa5689 commented on #20737
Run this command on your Node with your exposed nodeport where your Firewall is running. # iptables -A INPUT -p tcp --dport <Node_Port> -m conntrack --ctstate NEW,ESTABLISHED -j ACCEPT

Else, try to disable the firewall on your node and see if the traffic hits your application's target port.

[2020-05-04 09:26] sftim commented on #20478
/close
Fixed in #20504
Thanks @ShivamGoyal1899

[2020-05-04 09:27] #20478 closed

[2020-05-04 09:35] Arhell commented on #19487
resolve
/close

[2020-05-04 09:35] #19487 closed

[2020-05-04 09:37] sftim commented on #20737
/triage support
(I think)

[2020-05-04 09:38] sftim commented on #20730
@Cariaga can you clarify the issue that you're reporting? If the documentation isn't right, I / we would like more information so we can work out how to improve it.

[2020-05-04 09:56] shuuji3 commented on #20735
こちらのページの翻訳は完了していますが、現在はまだ`dev-ja-1.18.1`ブランチが作成されていないため、PRは作成していません。ブランチが作成されたPRを出す予定です。

翻訳済みコミットは以下です。
https://github.com/shuuji3/kubernetes-website/commit/2101774d8123a83045f834ed1d05401e5f7308fd

[2020-05-04 10:25] Yoshiki0705 commented on #19246
/assign

[2020-05-04 10:38] Sanojawscloud opened #20750 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-05-04 12:51] shuuji3 commented on #19244
/assign

[2020-05-04 13:09] pjhwa opened #20752 "Translate contribute/new-content/overview/ in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate contribute/new-content/overview/ in Korean.

**Why is this needed**

There is no document of contribute/new-content/overview/ which translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/contribute/new-content/overview/

/language ko

[2020-05-04 13:09] pjhwa commented on #20752
/assign

[2020-05-04 13:11] pjhwa opened #20753 "Translate contribute/review/reviewing-prs/ in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate contribute/review/reviewing-prs/ in Korean.

**Why is this needed**

There is no document of contribute/review/reviewing-prs/ which translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/contribute/review/reviewing-prs/

/language ko

[2020-05-04 13:11] pjhwa commented on #20753
/assign

[2020-05-04 13:21] neolit123 commented on #20750
/close
please re-open once more detail is added.

[2020-05-04 13:21] #20750 closed

[2020-05-04 14:18] #20668 closed

[2020-05-04 15:28] Fale commented on #19415
this should be close, since the fix is now in master

[2020-05-04 15:34] sftim opened #20756 "Localize “Hello Minikube” into Italian"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/it/docs/tutorials/hello-minikube/ is a missing page; however, https://kubernetes.io/docs/tutorials/hello-minikube/ is part of the [required content](https://kubernetes.io/docs/contribute/localization/#translating-content) for a localization.

**Proposed Solution:**
Localize “Hello Minikube” into Italian

**Page to Update:**

https://kube

[2020-05-04 15:36] sftim opened #20757 "Localize “Hello Minikube” into Vietnamese"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/vi/docs/tutorials/hello-minikube/ is a missing page; however, https://kubernetes.io/docs/tutorials/hello-minikube/ is part of the [required content](https://kubernetes.io/docs/contribute/localization/#translating-content) for a localization.

**Proposed Solution:**
Localize “Hello Minikube” into Vietnamese (Tiếng Việt).

**Page to Update

[2020-05-04 15:36] sftim commented on #20756
/kind bug

[2020-05-04 15:37] sftim opened #20758 "Localize “Hello Minikube” into Spanish"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/es/docs/tutorials/hello-minikube/ is a missing page; however, https://kubernetes.io/docs/tutorials/hello-minikube/ is part of the [required content](https://kubernetes.io/docs/contribute/localization/#translating-content) for a localization.

**Proposed Solution:**
Localize “Hello Minikube” into Spanish

**Page to Update:**

https://kube

[2020-05-04 15:39] sftim opened #20759 "Localize “Hello Minikube” into Portuguese"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/pt/docs/tutorials/hello-minikube/ is a missing page; however, https://kubernetes.io/docs/tutorials/hello-minikube/ is part of the [required content](https://kubernetes.io/docs/contribute/localization/#translating-content) for a localization.

**Proposed Solution:**
Localize “Hello Minikube” into Portuguese

**Page to Update:**

https://k

[2020-05-04 15:54] kbhawkey commented on #20344
Looks like we are back to generating `.scss` files and committing the changes.
Docsy uses PostCSS (from the docsy docs),

`
To build or update your site’s CSS resources, you also need PostCSS to create the final assets. If you need to install it, you must have a recent version of NodeJS installed on your machine so you can use npm, the Node package manager. By default npm installs tools under the

[2020-05-04 15:57] sftim commented on #20344
_Following on from https://github.com/kubernetes/website/issues/20344#issuecomment-623548180_

Any way we can have the static site build do that generation?

It might mean that people contributing to docs have to add extra dependencies or switch to using a container-based local preview. (Given what Kubernetes is about, I'm fine with nudging people towards using containers).

[2020-05-04 16:08] sftim commented on #20344
The existing site offers readers the chance to subscribe by email to KubeWeekly. The Docsy equivalent doesn't seem to offer this anywhere.

[2020-05-04 16:09] sftim commented on #20344
not-yet-localized pages are missing (reported in #19309)

[2020-05-04 16:09] sftim commented on #19310
Looks like this is sorted.
/close

[2020-05-04 16:09] #19310 closed

[2020-05-04 16:13] sftim commented on #20344
no placeholder text for search if viewport narrow (reported in #19308)

[2020-05-04 16:16] kbhawkey commented on #20344
I see the option from the k8s home page. Would be nice if the `KubeWeekly` text provided a link to the newsletter (online)?

[2020-05-04 16:17] sftim opened #20760 "Docsy template: Case studies logo backgrounds don't match page body"
**This is a Bug Report**

**Problem:**
The logos on the case studies page are already composited onto a gray background. However, the Docsy template renders that page with a white body, and the logo backgrounds jar against it.

**Proposed Solution:**
Either:
- revise logos to use transparency (alpha channels)
- change background color of case studies page for Docsy site build

**Page to Update:**

[2020-05-04 16:19] sftim commented on #20344
Case studies logo backgrounds don't match page body (reported in #20760)

[2020-05-04 17:16] kbhawkey commented on #20344
![code-block-yaml-docsy](https://user-images.githubusercontent.com/1696019/80993365-f2a4f180-8e08-11ea-8d7c-74148d15fb8c.PNG)

Page:
https://kubernetes-hugo-staging.netlify.app/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases/

Blend background color (no gray)?

[2020-05-04 17:16] kbhawkey commented on #20344
Some of the images are not displaying on https://kubernetes-hugo-staging.netlify.app/.
This is a former bug that may be fixed when the docs source/templates are updated.

[2020-05-04 17:37] prince2208 opened #20762 "Not able to access POD web application in minikube"
**Problem:** : Not able to access POD web application after deployment.

**Proposed Solution:** : Need to find a way to change minikube IP manually
 v1.18.0 . I have a deployed minikube on VM (REDHAT 7.8) running over VMware and I have deployed minikube with --driver=docker.

 I have delpoyed minikube with command "sudo /usr/local/bin/minikube start --driver=docker". All went fine. Below are the l

[2020-05-04 21:11] prasadkatti commented on #20692
/assign

[2020-05-04 21:26] kbhawkey commented on #20165
/assign

[2020-05-05 01:39] Rassred opened #20769 "error parsing ./create_deployment.yaml: error converting YAML to JSON: yaml: line 2: mapping values are not allowed in this context"
I keep get a parsing error and not seeing what I am doing wrong.

Any Ideas

--- Create Deployment
apiVersion: v1.16.7
kind: Deployment
metadata:
    labels:
        app: Wile_E
    name: Wile_E
spec:
    replicas: 2
    selector:
        matchLabels:
            app: Wile_E
    template:
        metadata:
            labels: {app: Wile_E}
        spec:
            containers:
              - name

[2020-05-05 02:11] prasadkatti commented on #20762
There is a minikube Slack channel (https://kubernetes.slack.com/messages/C1F5CT6Q1) that you can join to get faster responses for minikube related questions. Also, I would suggest moving this issue to the minikube repo - https://github.com/kubernetes/minikube

[2020-05-05 03:12] viniciusbds commented on #20759
/assign

[2020-05-05 04:05] pjhwa opened #20774 "Translate contribute/new-content/open-a-pr.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate contribute/new-content/open-a-pr.md in Korean.

**Why is this needed**

There is no document of contribute/new-content/new-content/ which translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/contribute/new-content/new-content/

/language ko

[2020-05-05 04:05] pjhwa commented on #20774
/assign

[2020-05-05 06:00] 15922521059 opened #20777 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-05-05 07:19] Arhell opened #20779 "main page Case Studies block"
**This is a Bug Report**

main page Case Studies block logo to big

**Problem:**
![b5b897cf74](https://user-images.githubusercontent.com/26163841/81042893-d3b26800-8eb9-11ea-9a69-f1db02e04d07.jpg)

**Proposed Solution:**
add max-width 100%

**Page to Update:**
https://kubernetes.io/

[2020-05-05 07:20] Arhell commented on #20779
/kind bug

[2020-05-05 07:21] Arhell commented on #20779
/assign @Arhell

[2020-05-05 07:33] techmaniack commented on #20378
/kind documentation
/kind cleanup

[2020-05-05 07:58] AndrewWPhillips commented on #20312
Yes thanks I am aware of that.  I guess I should have been more explicit that I am reporting a bug in the documentation.

[2020-05-05 08:09] sftim commented on #20779
I think what you're saying is that the logo for the **Babylon** case study is too large and makes the front page of the website render badly.

/priority important-soon
Thanks for filing this @Arhell

[2020-05-05 08:14] bep opened #20780 "Remove the use of the capture shortcode (or: how to prepare for Goldmark)"
@zacharysarah asked me to do some investigative work figuring out if it would be possible/how hard to get this site up and running with Goldmark/latest Hugo (i.e. CommonMark compliant).

A lot of work on this has already been done in #19907.

I diffed a sub-set (English content, no blog) using stripped down templates to make it easier to see some patterns. A very common pattern was HTML blocks tre

[2020-05-05 10:27] sftim commented on #20780
A side effect of the `{{% capture ... %}}` shortcodes is that it adds high level structure and helps reviewers see what is present / missing in a PR.

I'm OK with losing that. Instead, that kind of check is more of a job for a linter or similar automated process. Archetypes also sound like a helpful approach.

We could still use a shortcode for the section titles? Eg
[code]

*Example* future lints

[2020-05-05 10:37] Arhell commented on #20779
resolve
/close

[2020-05-05 10:37] #20779 closed

[2020-05-05 11:08] bep commented on #20780
@sftim you would still be able to use all the shortcodes you want, it's just that very special `capture` magic. For section titles, you would probably want to do.

There could be a possibility to change these capture blocks with "something else", e.g. separate them into different Markdown-files, e.g. `prerequisites.md` and `whats-next.md` which server the same purpose, but without the troubles.

[2020-05-05 12:16] sftim commented on #20780
Sounds good to me.

[2020-05-05 14:27] iaoiui opened #20782 "Some docs incorrect v1.18 kubectl run command"
**This is a Bug Report**
kubectl run with --replicas option has been deleted at following PR.
https://github.com/kubernetes/kubernetes/pull/87077/files

But, there are some sample commands which use the removed option in docs.

[code]

**Problem:**
Some document is misleading about kubectl run command.

**Proposed Solution:**
Update some docs.
- Use "kubectl create deploy" instead of "kubectl run"

[2020-05-05 14:33] kbhawkey commented on #20780
@bep, Are you referring to:
blocks.html and block.html? If so, seems like a good thing.
`This construction is no longer needed to make shortcodes be part of the ToC (as long as you use {{% brackets, they will be part of the ToC).`

I don't fully understand what `very shallow render that expands this capture one level`?
Can you be more explicit?

`I think it should be possible to temporarily patch

[2020-05-05 14:43] bep commented on #20780
@kbhawkey not sure what you mean by `block.html` -- but my re. my ToC reference. Back when I ported this site from Jekyll to Hugo, the shortcodes vs Markdown behaved a little differently (mostly because how it was implemented).

So, if you had Markdown that looked linke this:

[code]

In "earlier days" the "Another title" above would not be part of the TableOfContents produces unless you did some

[2020-05-05 14:49] sftim commented on #20780
So, use code from Hugo to generate what we think the files should have looked like in the first place (in an ideal world). Does that summarize that part of your proposal @bep?

[2020-05-05 15:13] bep commented on #20780
@sftim I guess so, but it depends a little on how much you like the current `capture` setup.

[2020-05-05 15:17] #17972 closed

[2020-05-05 15:22] mark-jordanovic-lewis commented on #17933
+1
Additionally:
- Document that secrets whose keys are removed from secrets files remain in the deployed secrets as empty strings, meaning the secrets resource must be deleted to remove that key and rebuilt on next deploy.

[2020-05-05 15:38] kbhawkey commented on #20780
I admit that I don't fully understand the details of the proposal (need to think on this a bit more).
The capture statements define the structure (required) for a given class of page (concept, task, tutorial).
For instance, `concept` template,
`
{{ partial "templates/block" (dict "page" .page "block" "overview" "purpose" "states, in one or two sentences, the purpose of this document") }}

{{ .ctx.

[2020-05-05 15:51] sftim commented on #17933
Immutable Secrets are also relevant (https://blog.alcide.io/kubernetes-1.18-introduces-immutable-configmaps-and-secretes has some details)

[2020-05-05 16:11] iaoiui commented on #20782
I created PR #20784

[2020-05-05 16:25] celestehorgan commented on #20607
Based on where #20606 stands at the moment, I'd like to make the following recommendations:

1) Clean up the WIP PR, add some documentation to the Contribute section/README.md on using it, and merge it.
2) Open a second PR which corrects the initial set of links found by the link checker. This way when someone chooses to use the link checker, they get actual errors.

----

Some things to decide be

[2020-05-05 17:19] qckzr commented on #20758
/assign

[2020-05-05 17:42] Arhell commented on #20687
resolve
/close

[2020-05-05 17:42] #20687 closed

[2020-05-05 18:21] sftim commented on #20782
In a review for the PR, I recommended `kubectl <verb> deployment` instead of  `kubectl <verb> deploy`.

[2020-05-05 18:59] mikejoh commented on #20607
I have one comment about how to run the `htmltest` tool locally. Would it make sense to add something like to the `Makefile`:

[code]

I didn't have the `hugo` binary locally when i clone and tested a bit with your branch, it would be nice to have utility functions in the `Makefile` that runs everything through Docker.

[2020-05-05 20:07] MaxymVlasov opened #20786 "Tracking Ukrainian localization progress"
Hey folks!

## Maintainers

@MaxymVlasov

## For New Contributors:

1. Assign to one of [most wanted issues](https://github.com/kubernetes-i18n-ukrainian/website/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+no%3Aassignee+label%3A%22most+wanted%22) or [any non-assigned issue](https://github.com/kubernetes-i18n-ukrainian/website/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+no%3Aassignee).<

[2020-05-05 20:46] sftim commented on #20786
🇺🇦:tada:

[2020-05-05 20:51] #20692 closed

[2020-05-05 23:37] kbhawkey commented on #20780
As mentioned above, we could remove the requirement of capture statements and instead provide templates for some of the page-specific H2 level headings.
The inline, page TOC (H2 level headings) goes away with the docsy theme (becomes right hand column TOC).
So as not to lose some form of page structure, add linting of the required page headings (capture statements do this already). Would a render

[2020-05-06 03:35] crhntr commented on #18003
/remove-lifecycle stale

I am still getting a similar issue.
- Using Safari version 13.1

[2020-05-06 05:40] JayBeale commented on #17927
I've submitted up a pull request to add read-only root filesystem to the list, clarify that the list on this page isn't comprehensive, and direct the reader to the API documentation for the more comprehensive list.

[2020-05-06 05:51] oke-py commented on #18929
I've opened PRs for all checked pages in [Most wanted pages for JP](https://kubernetes-docs-ja.kibe.la/shared/entries/68e44df8-2c3a-4d00-b12f-2fa0106d18c1).
When they get merged, I'll close this issue.

[2020-05-06 07:38] Arhell opened #20797 "The banner is not full width"
**This is a Bug Report**
the banner is not full width on the community page

**Problem:**
![1](https://user-images.githubusercontent.com/26163841/80322751-c5b47580-882f-11ea-8291-7c207e60c39c.jpg)

**Proposed Solution:**
add styles to the main file
newcommunity.css

**Page to Update:**
https://kubernetes.io/community/

/assign

[2020-05-06 08:45] sftim commented on #20780
Combining a few ideas, the linter could check for:
[code]
rather than
[code]

and this helps with localization.

[2020-05-06 09:05] sftim commented on #20797
/retitle Community page banner is not full width

@Arhell I've changed this to make the context more obvious. I hope that's OK.

[2020-05-06 10:15] bep commented on #20780
I would recommend you do:

[code]

[2020-05-06 10:26] sftim commented on #20780
I also like the idea of using render hooks to catch problems. I don't know if it's a good idea / there's a better way.

[2020-05-06 11:24] oke-py commented on #18929
/assign

[2020-05-06 12:34] #20233 closed

[2020-05-06 13:08] oke-py commented on #18510
/close

[2020-05-06 13:08] #18510 closed

[2020-05-06 13:26] devdatta-m opened #20799 "Issue with shell scripts"
**Problem:**
after upgrading kubernetes version from 1.14.8 to 1.15.10, it is observed that entrypoint.sh running shell scripts asynchronously. One of the script creates certificates that are to be used in IHS which is started later in entrypoint.sh

But even though the script to intialize certs is called before starting IHS server, certificate date is few seconds after IHS startup time.

**Propos

[2020-05-06 13:52] liggitt commented on #20545
Do you have a reference for the jsonpath standard that describes using =~ with regular expressions? I am unable to find one.

[2020-05-06 14:41] sftim commented on #20799
@devdatta-m I'm not sure what part of the documentation isn't clear.

Maybe you're asking for clarification on the difference between [init containers](https://kubernetes.io/docs/concepts/workloads/pods/init-containers/) and sidecar containers (see https://kubernetes.io/docs/concepts/workloads/pods/pod-overview/#understanding-pods for context).

Is there something that needs to change about the ex

[2020-05-06 14:51] devdatta-m commented on #20799
I dont think you have undertood my question. Did Kubernetes 1.15.10 change how shell scripts are executed ?

[2020-05-06 15:15] sftim commented on #20799
@devdatta-m: GitHub is not the right place for support requests. This list of issues tracks bug reports and feature requests for the Kubernetes documentation.

If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes)

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernete

[2020-05-06 15:39] yuanxuzhang opened #20801 "Issue with k8s.io/docs/concepts/workloads/controllers/deployment/"
**This is a Bug Report**

[**Problem:**]([url]([url](url)))
1.In the https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#max-unavailable，it said:The value cannot be 0 if .spec.strategy.rollingUpdate.maxSurge is 0. That is to say: MaxUnavailable is 0, and maxSurge is 0 is allowed?
2.But in the https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#max-surge,it said:

[2020-05-06 16:25] sftim opened #20803 "Document that APIListChunking is beta"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/reference/using-api/api-concepts/#retrieving-large-results-sets-in-chunks describes the API List Chunking feature. However, this is a beta feature.

**Proposed Solution:**
Warn readers that this feature is not yet stable, using a [feature state](https://kubernetes.io/docs/contribute/style/hugo-shortcodes/#feature-state) Hugo shortco

[2020-05-06 16:41] sftim commented on #20801
@yuanxuzhang can you clarify the logic of what you're asking? I am not sure that I follow the wording 100% (sorry).

[2020-05-06 19:34] AkihiroSuda commented on #16478
Seems addressed recently

[2020-05-06 19:34] #16478 closed

[2020-05-06 21:47] #17817 closed

[2020-05-06 21:47] #17999 closed

[2020-05-06 22:10] sharet-adl opened #20808 "Issue with k8s.io/docs/reference/access-authn-authz/webhook/"
**This is a Bug Report**

**Problem:**
Documentation - description is not fully inline with current version.
Current text: "_Non-resource paths include: /api, /apis, /metrics, /resetMetrics, /logs, /debug, /healthz, /swagger-ui/, /swaggerapi/, /ui, and /version._"
The following non-resource don't seem to exist anymore: '/resetMetrics', '/swagger-ui' ( swagger 1.2 was deprecated and functionality s

[2020-05-06 23:14] Arhell opened #20809 "white bar on the blog page"
**This is a Bug Report**

white bar on the blog page

**Problem:**
To big white bar on the blog page

**Proposed Solution:**
Remove button after footer

**Page to Update:**
https://kubernetes.io/blog/

/assign

[2020-05-07 00:20] apelisse commented on #16725
/lifecycle frozen

[2020-05-07 00:26] yuanxuzhang commented on #20801
sorry.I got it wrong.

[2020-05-07 00:26] #20801 closed

[2020-05-07 00:29] prasadkatti opened #20810 ""Play with Kubernetes" playground does not work"
**This is a Bug Report**

**Problem:**
The website points to [Play with Kubernetes](https://labs.play-with-k8s.com/) playground links on multiple pages. Those links do not work for me. After I click the Start button on the site, I eventually get this message -

[2020-05-07 00:33] jimangel opened #20811 "Add branching strategy with mermaid diagram"
It seems we are explaining our branching strategy quite often and it would be good to have a section in our contributor guide as opposed to my personal site (https://jimsurls.com/git-branching/).

Mermaid supports this type of documentation chart.

/cc @zacharysarah @kbarnard10 @sftim @kbhawkey @onlydole
/assign

[2020-05-07 00:35] onlydole commented on #20811
I like this idea!!! Great use of Mermaid, too 😄

[2020-05-07 00:52] zacharysarah commented on #20810
/assign @BenHall
/team katacoda

[2020-05-07 00:53] zacharysarah commented on #20810
@BenHall Are you not a member of the K8s org?

[2020-05-07 01:00] prasadkatti commented on #20803
/assign

[2020-05-07 01:25] KristianWindsor opened #20813 "Issue with k8s.io/docs/setup/best-practices/cluster-large/"
**This is a Bug Report**

**Problem:**
This page recommends using outdated instance types (on AWS). EC2 M3 instances are being phased out: https://aws.amazon.com/ec2/previous-generation/

**Proposed Solution:**
Update docs to use modern instance types (maybe M5 or T2).

**Page to Update:**
https://kubernetes.io/docs/setup/best-practices/cluster-large/#size-of-master-and-master-components

[2020-05-07 01:53] prasadkatti opened #20814 "Make deploy preview links point to updated pages"
**This is a Feature Request**

**What would you like to be added**
In most cases, the PRs in this repo will update one specific page. For such cases, can we make the deploy preview link point specifically to the changed page?

For e.g., for the PR https://github.com/kubernetes/website/pull/20812, the deploy preview link that is created by the Netlify bot is -
https://deploy-preview-20812--kubernet

[2020-05-07 02:37] prasadkatti commented on #20814
Using `git diff-tree` and PR number, it should be fairly easy to generate a direct link to the changed page, imo.
[code]

[2020-05-07 05:39] Kartik494 commented on #20725
Hi @vijaygharge i think we can try with minikube addon "metric-server"  enable as describe in [docs](https://kubernetes.io/docs/tasks/configure-pod-container/assign-memory-resource/#specify-a-memory-request-and-a-memory-limit).As you mentioned heapster is deprecated now, we can now use metric-server for `kubectl top pod memory-demo --namespace=mem-example`

[2020-05-07 05:41] sftim commented on #20814
This is a great idea.

I also agree that changes to Netlify behavior are not necessarily straightforward.

[2020-05-07 05:49] sftim commented on #20813
With https://kubernetes.io/docs/contribute/style/content-guide/ in mind, I think it makes sense to drop the recommendations about specific vendor services from that page.

[2020-05-07 05:53] sftim opened #20821 "Document that PodDisruptionBudget is beta"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/tasks/run-application/configure-pdb/ does not mention that PodDisruptionBudget is beta.

**Proposed Solution:**
Add a [feature-state](https://kubernetes.io/docs/contribute/style/hugo-shortcodes/#feature-state) shortcode to
https://kubernetes.io/docs/tasks/run-application/configure-pdb/

**Page to Update:**
https://kubernetes.io/docs

[2020-05-07 05:54] sftim commented on #20809
@Arhell can you provide an annotate screenshot or other description to clarify what isn't right with that page?

[2020-05-07 05:55] #17989 closed

[2020-05-07 07:08] Arhell commented on #20809
![2](https://user-images.githubusercontent.com/26163841/81264704-89acbc00-904a-11ea-8d52-8a299398bec3.jpg)
White bar in all browsers, chrome, opera, firefox

[2020-05-07 07:18] prakashid2 commented on #20708
Tim,
I understand that you have added a label sig/windows. But I don't know the further plan, how this is going to resolve the issue. Please tell me what do I do to overcome this issue.

Thanks
Prakash S.

[2020-05-07 07:30] pjhwa opened #20823 "Translate contribute/review/for-approvers.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate contribute/review/for-approvers.md in Korean.

**Why is this needed**

There is no document of contribute/review/for-approvers.md which translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/contribute/review/for-approvers/

/language ko

[2020-05-07 07:31] pjhwa commented on #20823
/assign

[2020-05-07 08:01] Kartik494 commented on #20469
@Deep-sys-star Hi could you elaborate more on this, which type of error in this

[2020-05-07 08:32] sftim commented on #20708
Hi @prakashid2

It sounds like there is a shortcoming in the documentation. What I hope that happens next is that a Kubernetes contributor will review this issue and triage it (confirm that there is indeed a shortcoming).

The label I added helps volunteers who use Windows / contribute to the Windows special interest group, so they can find this issue as one particularly relevant to Kubernetes on

[2020-05-07 08:33] sftim commented on #20708
You can also ask for help on the [Kubernetes Slack](http://slack.k8s.io/), the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum, or using [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes).

[2020-05-07 09:04] BenHall commented on #20810
@zacharysarah No, sadly not a member of the org.

In terms of "Play with Kubernetes". I wish I could help but this is an alternative to Katacoda and not something we are involved in.

[2020-05-07 09:56] JamesLaverack commented on #20474
So the problem is in the OpenAPI generation code? To make sure I understand fully, the current process is:

1. An OpenAPI JSON file is generated from the Go source code
2. The website HTML is generated from the OpenAPI JSON file.

Are there other steps in there?

[2020-05-07 12:35] tengqm commented on #20474
@JamesLaverack No other steps.

[2020-05-07 12:50] Kartik494 commented on #20777
Could you explain more about issue on deploy-app!

[2020-05-07 13:39] evanap commented on #20111
Hi, I'll be translating this page `/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/`

[2020-05-07 15:10] kbhawkey commented on #20780
Archetypes could help with new content creation.
The current page templates provide consistency/structure/maintainability.
Could we add a check that verifies the contents of the H2 headings (TOC) for a given page?
Check if set of translated headings are present in order on the page, or fail build.

[2020-05-07 16:05] #17663 closed

[2020-05-07 17:31] prasadkatti commented on #20810
\cc playground folks - @ManoMarks @marcosnils

[2020-05-07 17:46] ManoMarks commented on #20810
I have not been involved in this project in over a year. I no longer work for the sponsor Docker. I am of not help on these things. I am saying this hoping it will stop someone  else from tagging me I. The future.

[2020-05-07 17:48] marcosnils commented on #20810
We were doing some maintenance on the service. The site should be working now.  @prasadkatti please confirm and close the issue

[2020-05-07 18:09] prasadkatti commented on #20810
@marcosnils - The links are working now. Thanks!

[2020-05-07 18:09] #20810 closed

[2020-05-07 21:35] prasadkatti commented on #13305
/assign

[2020-05-07 21:58] prasadkatti commented on #20821
I don't `PodDisruptionBudget ` see on this page - https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/

[2020-05-07 22:26] prasadkatti commented on #20821
Looks like it is `beta` since `v1.5`.

[2020-05-07 22:26] prasadkatti commented on #20821
/assign

[2020-05-08 00:14] #12233 closed

[2020-05-08 00:14] #18026 closed

[2020-05-08 03:16] #14435 closed

[2020-05-08 03:18] ElvinYangGo opened #20834 "Issue with k8s.io/docs/tutorials/stateless-application/guestbook-logs-metrics-with-elk/"
**This is a Bug Report**

**Problem:**
Could not start kube-state-metrics after executing "kubectl create -f examples/standard"

**Proposed Solution:**
After cloning kube-state-metrics, the yaml files used to create kube-state-metrics are in kube-state-metrics/examples/standard directory.
"kubectl create -f examples/standard" should be ""kubectl create -f kube-state-metrics/examples/standard".

**

[2020-05-08 05:21] SangshikLee opened #20835 "Issue with k8s.io/ko/docs/concepts/storage/volumes/"
**This is a Bug Report**

**Problem:**
Line 73:
   * [fc (파이버 채널))](#fc)
There is extra bracket symbol in the link.

**Proposed Solution:**
Line 73:
   * [fc (파이버 채널)](#fc)

**Page to Update:**
https://kubernetes.io/ko/docs/concepts/storage/volumes/

/language ko

[2020-05-08 05:21] SangshikLee commented on #20835
/assign

[2020-05-08 06:05] rahulkadukar opened #20837 "Issue with k8s.io/docs/concepts/services-networking/connect-applications-service/"
**This is a Bug Report**

**Problem:** Instructions for creating **configmap** are incomplete as they do not provide an example **default.conf** file

**Proposed Solution:** Provide the source for the file **default,cont**

**Page to Update:**
https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/

[2020-05-08 07:20] #15585 closed

[2020-05-08 08:02] girikuncoro commented on #20111
I'm taking `/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/` next

[2020-05-08 08:49] #13305 closed

[2020-05-08 14:48] vivekverma066 opened #20841 "Issue Kubernetes Repo"
Hi,

There are no packages available under "https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64/Packages" now.

Can you suggest how can we get these packages.

[2020-05-08 15:53] slz250 commented on #20714
Ah, sure. Hopefully the page has useful content soon :)

[2020-05-08 15:54] #20714 closed

[2020-05-08 16:02] kbhawkey commented on #20814
Yes, this has been on my wish list for some time.

[2020-05-08 16:06] prasadkatti commented on #20814
So I looked at Netlify docs and it doesn't seem like we can make their bot do what we want it to do. Is creating a separate bot to do this an option here? If yes, I would like to work on it. But want to be clear what the right approach is before starting.

[2020-05-08 16:30] #14646 closed

[2020-05-08 16:30] #15877 closed

[2020-05-08 20:05] prasadkatti commented on #16449
/assign

[2020-05-08 21:11] fml2 opened #20849 "Describe how to create a binaryData in a configMap"
**This is a Feature Request**

**What would you like to be added**
There does not seem to exist a description of how a configMap with binaryData can be created, e.g. via command line. https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/#create-configmaps-from-directories and the following sections describe how to create configMaps, but all examples create textual data.

[2020-05-08 23:12] MirzaSikander opened #20852 "Issue with k8s.io/docs/tasks/setup-konnectivity/ - Missing documentation for service account token volume projection"
**This is a Bug Report**

**Problem:**
The article does not touch on how to create tokenRequest endpoint.

When I deploy the `admin/konnectivity/konnectivity-agent.yaml`, I get the following error.
[code]
**Proposed Solution:**

From this [page](https://github.com/kubernetes-sigs/apiserver-network-proxy/tree/master/examples/kubernetes) it seems that you need to create a static-token-file.

**Page

[2020-05-08 23:41] MirzaSikander opened #20853 "Issue with k8s.io/docs/tasks/setup-konnectivity/ - Missing annotation from agent.yaml"
**This is a Bug Report**

**Problem:**
`admin/konnectivity/konnectivity-agent.yaml` is missing annotation from the daemonSet that force K8s to schedule the pod. Before adding this to the yaml, the daemonSet had `expected` set to `0`.
[code]

**Proposed Solution:**
[code]

**Page to Update:**
https://kubernetes.io/...

[2020-05-09 01:34] tengqm commented on #15875
/remove-lifecycle rotten
/lifecycle-freeze

We have got many complaints on this:
#9807 #15197 #15214 #15459 #19775 #20041 #20046

[2020-05-09 01:35] tengqm commented on #15875
/reopen

[2020-05-09 01:46] tengqm commented on #15875
/lifecycle-frozen

[2020-05-09 02:09] #20821 closed

[2020-05-09 02:17] #20803 closed

[2020-05-09 07:32] ariscahyadi commented on #20111
I will continue with this `/docs/tasks/configure-pod-container/security-context/`

[2020-05-09 08:05] MirzaSikander commented on #20852
In order to deploy the agent [service account token volume projection](https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#service-account-token-volume-projection) needs to be enabled.

[2020-05-09 12:49] #18074 closed

[2020-05-09 13:22] viniciusbds opened #20860 "Issue with k8s.io/docs/tasks/access-application-cluster/connecting-frontend-backend/"
**Problem:**

The page is missing the **Cleaning up** topic

**Proposed Solution:**
Add the commands that delete the created services and deployments

**Page to Update:**
https://kubernetes.io/docs/tasks/access-application-cluster/connecting-frontend-backend/#send-traffic-through-the-frontend

/assign

[2020-05-09 14:13] theletterf opened #20862 "Capitalization of Pod, Container, and others"
**This is a Feature Request**

**What would you like to be added**

It’d be great if the style guide’s list of words contain key K8s concepts, like Pod and Container, and why they are (more or less consistently) capitalized throughout the docs.

Capitalization rules for K8s objects do not seem to be specified anywhere. If there’s a valid reason for this, it’d be nice to know what that is. It’s a b

[2020-05-09 14:47] kbhawkey commented on #20809
Ideally, only the pages (docs) that _require_ the partial footer-scripts.html would include this template.

[2020-05-09 14:54] Arhell commented on #20809
resolve
/close

[2020-05-09 14:55] #20809 closed

[2020-05-09 15:07] #20860 closed

[2020-05-09 15:59] #17846 closed

[2020-05-09 16:39] #20181 closed

[2020-05-09 16:53] #15123 closed

[2020-05-09 18:02] jimangel commented on #20336
If there hasn't been any progress on this I might take a stab at making a very basic fix.

[2020-05-09 21:18] Arhell commented on #19728
resolve
/close

[2020-05-09 21:18] #19728 closed

[2020-05-09 21:19] Arhell commented on #20157
resolve
/close

[2020-05-09 21:19] #20157 closed

[2020-05-09 22:11] #20614 closed

[2020-05-09 22:35] pjhwa opened #20864 "Translate contribute/style/_index.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate contribute/style/_index.md in Korean.

**Why is this needed**

There is no document of contribute/style/_index.md which translated into Korean.
Additionally, translated contribute/style/write-new-topic.md file is displayed on the main menu instead of under style menu due to absense of style/_index.md file.

**Comments**

[2020-05-09 22:35] pjhwa commented on #20864
/language ko
/assign

[2020-05-09 23:31] geekbleek commented on #18079
@ryangsteele - I was able to edit the port config on the container spec, and after my pods reloaded, the cURL statement works fine.

Note to others - after editing your container spec you will need to re-query for your pod name and re-export the env variable for the curl command to work correctly.

[code]

[2020-05-10 00:43] prasadkatti opened #20866 "Signpost users to related KubeCon talks"
**This is a Feature Request**

**What would you like to be added**
We could add links to Kubecon talks in the 'What next' sections.

**Why is this needed**
Some people prefer learning via video as opposed to text.
These recorded talks often have diagrams and demos that are quite helpful when understanding concepts.

**Comments**

[2020-05-10 00:51] prasadkatti commented on #16065
I think this issue might have been resolved. If I go to v1.14 docs and look at the release notes, I get release notes for v1.14.

[2020-05-10 00:52] prasadkatti commented on #16065
Actually, that isn't the case for the v1.15 site. So yes, the site is broken for older versions.

[2020-05-10 01:01] #15572 closed

[2020-05-10 04:04] #18068 closed

[2020-05-10 06:06] prakashid2 commented on #20708
Tim.

I've not installed Power Shell from PSGallery. Instead using Power Shell 7(x64) installed from Microsoft's website. I'm trying 'Install-Script' and 'install-kuebctl' commands inside the Power Shell 7(x64). Would this be a problem?

Or do I have to install power shell from PSGallery? and try same commands. If yes, pls let me know what is the exact link to download power shell from PSGallery.

[2020-05-10 09:32] theletterf commented on #20862
In a passage of @nigelpoulton 's book, there's a hint: Pod, Service, Container, etc. are all objects and API resources, and as such are PascalCase. Could we be explicit about that in the style guide?

[2020-05-10 13:59] Arhell opened #20871 "Localize “subscribe” button on home page"
**This is a Feature Request**

**What would you like to be added**
On the page [https://k8s.io/](https://k8s.io/) there is a [form](https://kubernetes.io/#kubeweekly) that lets you sign up to receive KubeWeekly. That form has button text “subscribe”, that is currently always English.

Why is this needed
The website should be localized, including button text.

[2020-05-10 14:08] Yoshiki0705 commented on #19247
/assign

[2020-05-10 15:15] #18102 closed

[2020-05-10 15:48] Francesco1971 opened #20873 "Issue with k8s.io/docs/tasks/debug-application-cluster/troubleshooting/"
I' m new in kubernetes , I ve installed traefik but I cannot access from external to its resource
I 've installed one master and one worker node
rlltmanfra01.interno.regione.lazio.it   Ready    master   4d7h   v1.18.2
rlltnodfra01.interno.regione.lazio.it   Ready    <none>   4d6h   v1.18.2
I ve installed traefik
helm install traefik traefik/traefik --values traefik-values.yml
here you are traefik-

[2020-05-10 18:41] afbjorklund commented on #19218
@sftim : the docker driver also runs containers as root, so there is no real difference there...
So the same security warnings should apply to **both** "docker" and "podman" drivers, if so ?

Users should continue to run in a VM, if they are not happy with running privileged containers.

And _nobody_ should use the "none" driver, except for special use cases. It's in the minikube docs.
https://min

[2020-05-10 21:40] pjhwa opened #20875 "Issue with k8s.io/docs/contribute/advanced/"
**This is a Bug Report**

**Problem:**
Line 38, white space is needed between 'Assign' and 'Needs doc Review'.

Line 46, after these sentences there are **five(four for master and the last one for others)** queries but the sentence points only **three** queries.

**Proposed Solution:**
- add a white space
- remove 'three'

**Page to Update:**
https://kubernetes.io/docs/contribute/advanced/

/langu

[2020-05-10 21:40] pjhwa commented on #20875
nit:

/assign

[2020-05-10 22:01] Arhell commented on #20871
/assign @Arhell

[2020-05-10 22:45] 532910 commented on #19040
Is it stalled?

[2020-05-11 00:16] datgeek opened #20879 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-pod-configmap/"
**This is a Bug Report**

**Problem:**
500 error
<img width="788" alt="Screen Shot 2020-05-10 at 19 16 06" src="https://user-images.githubusercontent.com/36273288/81514107-c1d62800-92f2-11ea-9860-b6e7392eed4c.png">

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-05-11 04:02] shuuji3 opened #20881 "Translate setup/production-environment/tools/kubeadm/ha-topology into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [setup/production-environment/tools/kubeadm/ha-topology](https://github.com/kubernetes/website/blob/master/content/ja/docs/setup/production-environment/tools/kubeadm/ha-topology.md) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-05-11 04:15] shuuji3 commented on #20879
@datgeek Thank you for reporting the problem.

Currently, I can access to https://labs.play-with-k8s.com/ without a problem. Maybe it was a temporary problem. Could you try it again?

It seems that the same 500 error has happened in the play-with-k8s several times: [Issues · play-with-docker/play-with-docker](https://github.com/play-with-docker/play-with-docker/issues?q=is%3Aissue+500+is%3Aclosed)

[2020-05-11 04:38] datgeek commented on #20879
It's ok now,
thank you

[2020-05-11 04:38] #20879 closed

[2020-05-11 05:40] shuuji3 commented on #20879
I’m glad to hear that.

[2020-05-11 07:16] remyleone commented on #19042
/remove-lifecycle stale

[2020-05-11 08:47] shuuji3 opened #20886 "Translate contribute/localization/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [contribute/localization/](https://github.com/kubernetes/website/blob/master/content/en/docs/contribute/localization.md) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-05-11 08:55] sftim commented on #19026
No, because https://kubernetes.io/docs/contribute/style/content-guide/#third-party-content

/close
(but feel free to reopen)

[2020-05-11 08:55] #19026 closed

[2020-05-11 08:57] sftim commented on #20708
Hi @prakashid2

Writing personally, _I_ don't plan to do any further work on this issue. I do hope that a different volunteer will offer their time to help.

[2020-05-11 08:58] sftim commented on #19218
@afbjorklund would you be willing to repeat your comment https://github.com/kubernetes/website/issues/19218#issuecomment-626370798 in a new issue?

[2020-05-11 09:14] sftim commented on #16252
I'm gonna say:
/remove-lifecycle stale
/lifecycle frozen

[2020-05-11 09:14] sftim commented on #7386
/remove-lifecycle stale

[2020-05-11 10:35] afbjorklund commented on #19218
Sure thing, there seems to be several issues here. But will try go finish v1.10 with podman first...

So far it is only in beta, and "podman" driver is likely to be experimental for quite some time yet.

[2020-05-11 11:00] sftim commented on #20467
The only shortcoming I see for https://kubernetes.io/docs/contribute/new-content/new-content/#preview-locally is that the URL and the section title imply that it's a guide for adding new pages, rather than (for example) if your contribution is to improve the docs by deleting something.

I think this issue is OK to close.

[2020-05-11 13:38] johscheuer opened #20888 "Document API server /livez and /readyz"
**This is a Feature Request**

During creating this PR: https://github.com/kubernetes/kubernetes/pull/90970 I found out that the `/livez` and `/readyz` endpoints of the kube-apiserver are not really document. Also the documentation should highlight that `/livez` and `/readyz` are the new endpoints which should be used (otherwise some flags like `--livez-grace-period` and `--shutdown-delay-duration

[2020-05-11 13:56] jimangel commented on #20467
/close

[2020-05-11 13:56] #20467 closed

[2020-05-11 13:57] jimangel commented on #19064
Closing with no clear path of what "resolved" looks like. I still support the general idea.

/close

[2020-05-11 13:57] #19064 closed

[2020-05-11 14:34] nigelpoulton commented on #20862
I think capitalising objects adds clarity. A great example is a Kubernetes Service object --- using a capital "S" avoids all confusion.

Also... my inner geek likes this... At school learned that a proper nouns should always be capitalised, and that a proper noun is a person, place or **object**. Well... in the case of Kubernetes, Pods, Services, Deployments and the likes literally are API **_obje

[2020-05-11 17:41] #18119 closed

[2020-05-11 18:48] mrbobbytables commented on #20344
I noticed a few things:
- The icons/menu on the right don't look quite right, I think the icons are suppose to be next to the names instead of above them  ([link](https://kubernetes-docsy-staging.netlify.app/blog/)):
![Screen Shot 2020-05-11 at 2 40 25 PM](https://user-images.githubusercontent.com/6500863/81598656-a8d28300-9395-11ea-8e33-dd288c4e2ca3.png)

- We may need to rethink how blog pages a

[2020-05-11 19:09] kbhawkey opened #20895 "Add search to blog pages, tag the content"
**This is a Feature Request**
I'd like to start a search on the blogs from the blog page.

**What would you like to be added**
Add a link to the docs default search engine.

**Why is this needed**
Blog content is listed only by the year published.

**Comments**
It may be nice to develop categories to tag the blog content and provide different ways to display the blog entries (not just by year).

[2020-05-11 20:24] kbhawkey commented on #20895
/area blog

[2020-05-11 20:32] jayunit100 opened #20897 "update network policy docs on whitelisting"
**This is a Bug Report**

**Problem:**
We need to clarify node network policies, because node local traffic is whitelisted https://github.com/kubernetes/api/blob/master/networking/v1/types.go#L64 .

**Proposed Solution:**

doc node whitelists

**Page to Update:**

[2020-05-11 20:33] jayunit100 commented on #20897
cc @kubernetes/sig-network-misc i can do this if nobody else wants it

[2020-05-11 20:34] Grovespaz opened #20898 "Issue with k8s.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/"
**This is a Bug Report**

**Problem:**
I've followed all the steps on this page but they don't seem to be up-to-date / correct.
The flannel and kube-proxy containers won't start on Windows.
The flannel container has the following error message:

The kube-proxy container has the following error message:

**Page to Update:**
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/adding-windows-

[2020-05-11 20:40] neolit123 commented on #20898
hi, this is the issue tracker for the docs. please log an issue here instead:
https://github.com/kubernetes-sigs/sig-windows-tools

/sig windows cluster-lifecycle
/close

[2020-05-11 20:40] #20898 closed

[2020-05-11 20:52] wabernatScality commented on #20862
I thank @theletterf for introducing this here. It was my initial question at WritetheDocs that prompted this, and I hope we can discuss this fruitfully.

@nigelpoulton, I would like to see your book for better context. However, based solely on what I have seen here, I must respectfully disagree with you in every particular.

In this instance, the word "Service" is not a proper noun, nor do the two

[2020-05-11 21:24] zacharysarah commented on #20344
@mrbobbytables The preview link is based on a seriously outdated branch. To test what it looks like right now, we need to merge #20874 and the PRs on which it depends. I'd hold off on further review until we merge #20874. Thanks for taking the time to review! 👍

[2020-05-11 21:38] MikeSpreitzer opened #20899 "Implicit allow connections from localhost not documented"
**This is a Bug Report**

**Problem:**
An Ingress NetworkPolicy implicitly allows all connections from the pod's host.  See https://github.com/kubernetes/api/blob/v0.18.2/networking/v1/types.go#L64-L65 .  The documentation at https://kubernetes.io/docs/concepts/services-networking/network-policies/ omits this fact.

**Proposed Solution:**
Make that doc describe the implicit allow.

**Page to Updat

[2020-05-11 21:39] MikeSpreitzer commented on #20899
Dup of #20897

[2020-05-11 21:39] #20899 closed

[2020-05-11 22:17] nigelpoulton commented on #20862
My bad. My last comment was tongue-in-cheek making a play on words with "object" and the fact that P/pods S/services and the likes are K8s "objects".

In all seriousness though... I'm not passionate about this, other than from a consistency perspective.

When I write about Kubernetes, I replicate the case that is used in a YAML file. E.g. Kubernetes objects defined in the top-level `kind` field ar

[2020-05-11 22:41] nigelpoulton commented on #20862
I just checked my Docker book, and what a mess it is. It's crying out for standardization like we're talking about.

The three main things that are messy in my Docker book are Compose/compose, Stack/stack, and Swarm/swarm. These all refer to Docker technologies as well as having wider meanings. I was less consistent with my use of capitalization and will most definitely fix that in the next editio

[2020-05-12 00:15] neolit123 commented on #20888
/sig network node

[2020-05-12 00:19] neolit123 commented on #20888
actually livez/readyz is kube-apiserver only, so:

/remove-sig node network
/sig api-machinery

though, one way to get the attention of sig-api-machinery would have been to log this issue in k/kubernetes.

[2020-05-12 04:10] irvifa opened #20902 "Bug in CSS styling annotation."
**This is a Bug Report**

**Problem:**

Using a Firefox/Chrome The CSS for annotation and including a code seems to be breaking.

**Proposed Solution:**

Checking the MD file of the page inside of the website

**Page to Update:**
https://kubernetes.io/docs/concepts/services-networking/ingress/

[2020-05-12 04:25] irvifa commented on #20902
The problem was the indentation of the:

[code]

[2020-05-12 04:32] mufti1 commented on #20111
I will take this ` /docs/tasks/configure-pod-container/configure-persistent-volume-storage/`

[2020-05-12 04:39] irvifa commented on #20902
/language en

[2020-05-12 04:39] irvifa commented on #20902
/assign

[2020-05-12 04:40] irvifa commented on #18174
Hi @girikuncoro do we still have this problem?

[2020-05-12 04:50] pivotal-yang-jiang opened #20904 "Issue with k8s.io/docs/concepts/workloads/controllers/deployment/"
**This is a Bug Report**

**Problem:**

hello colelagues,
please check the format of this page, when i use chrome to view it, the format is not properly laid out.

best wishes,
Yang
**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-05-12 05:36] tmatsuda-aicom opened #20905 "Issue with k8s.io/ja/docs/concepts/workloads/controllers/deployment/"
The layout is broken and unreadable.

[2020-05-12 08:40] #20875 closed

[2020-05-12 08:40] #20753 closed

[2020-05-12 08:42] #20584 closed

[2020-05-12 09:47] Arhell opened #20908 "File sync readme.md"
**This is a Feature Request**

File sync readme

**What would you like to be added**
File sync

**Comments**
https://github.com/kubernetes/website/blob/master/README.md
https://github.com/kubernetes/website/blob/master/README-pl.md

/language pl

[2020-05-12 09:49] sftim commented on #20728
BTW, there's now a section: https://kubernetes.io/docs/concepts/scheduling-eviction/

[2020-05-12 10:50] malimccalla opened #20910 "Issue with k8s.io/docs/tasks/configure-pod-container/pull-image-private-registry/"
### Issue

This page does not describe how to use the generated secret to actually pull the private images. For example I have specified a private image in my Deployment but it is not using the credentials supplied as I am getting the following error even after creating my secret

[code]

see https://github.com/docker/for-mac/issues/4545 for more info

**Proposed Solution:**

Document how to use t

[2020-05-12 10:53] sftim commented on #17514
Let's remove https://kubernetes.io/docs/setup/production-environment/turnkey/clc/
based on https://kubernetes.io/docs/contribute/style/content-guide/

[2020-05-12 10:54] sftim commented on #17514
/remove-lifecycle stale

[2020-05-12 10:56] sftim commented on #18512
@dkypuros this might be interest you too
/remove-lifecycle rotten

[2020-05-12 11:40] tahir-gvs opened #20911 "Issue with k8s.io/docs/concepts/workloads/controllers/deployment/"
**This is a Bug Report**

**Problem:**
Page formatting is broken probably after the latest update to the page
**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-05-12 13:13] supirman opened #20912 "Page layout for k8s.io/docs/concepts/workloads/controllers/deployment/ is broken"
**Problem:**
Page layout for Deployment page is broken.

**Proposed Solution:**
Fix or rollback to previous version

**Page to Update:**
k8s.io/docs/concepts/workloads/controllers/deployment/

[2020-05-12 14:04] sftim commented on #20897
/kind bug
/priority backlog

[2020-05-12 14:35] muratcabuk opened #20914 "Issue with k8s.io/docs/concepts/services-networking/ingress/"
**Problem:** Page layout for k8s.io/docs/concepts/services-networking/ingress/ is broken

[2020-05-12 14:43] kbhawkey opened #20915 "display of flag, double hyphen, parser upgrade"
**This is a Bug Report**
Double hyphen literal characters are not displaying correctly when embedded in `<code>` element.

**Problem:**
Previously, the docs site turned off the BlackFriday parser `smartDashes` setting (config.toml).

With the recent change to Hugo 0.70.0 (Goldmark parser), the dashes are no longer displaying
as dashes when the command string is embedded in the `<code>` element.

O

[2020-05-12 14:58] rmorrise commented on #20905
I see the same. Google Chrome Version 81.0.4044.138 (Official Build) (64-bit), Windows 10

[2020-05-12 15:19] fOO223Fr commented on #20914
I have notice this I wanted to fix it but wondering whom to ask for assignee

[2020-05-12 15:25] fOO223Fr commented on #20914
/assign

[2020-05-12 16:33] sftim commented on #20871
/good-first-issue

[2020-05-12 17:00] ishandwivedi opened #20918 "Issue with https://kubernetes.io/docs/tasks/tools/install-kubectl/"
**This is a Bug Report**

**Problem:**
Markdown does not render correctly on https://kubernetes.io/docs/tasks/tools/install-kubectl/

Under the section “install using other package management” - https://kubernetes.io/docs/tasks/tools/install-kubectl/#install-using-other-package-management

“snap install kubectl --classic
kubectl version –client“

The flag for client is rendered Incorrectly with a

[2020-05-12 17:05] #20902 closed

[2020-05-12 17:08] cmluciano commented on #20897
Note: missing docs are for https://kubernetes.io/docs/concepts/services-networking/network-policies/

[2020-05-12 17:18] sftim commented on #20888
/sig docs

[2020-05-12 17:20] sftim commented on #20888
@johscheuer this sounds like reference documentation to me, rather than a task.

[2020-05-12 17:23] zub0r opened #20919 "Pod assigning throws 404 for older k8s versions"
Selecting older kubernetes version of **Assigning Pods to Nodes** section does not work for older versions - https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/

[2020-05-12 17:35] fOO223Fr commented on #20914
Fix provided https://github.com/kubernetes/website/pull/20903
/close

[2020-05-12 18:39] sftim opened #20921 "Trouble using block style shortcodes when indented"
**This is a Bug Report**

**Problem:**
The existing content relies on the idea that you can indent a shortcode like `{{< note >}}` inside a list (orderered / unordered) and have the note be part of the HTML `<li></li>` element that gets rendered.

After the upgrade to Hugo 0.70.x pages that rely on this behavior don't always render as expected.

**Pages Affected:**
- https://k8s.io/docs/setup/prod

[2020-05-12 18:45] sftim commented on #20921
/priority important-longterm

[2020-05-12 18:46] sftim commented on #20915
/kind bug
/priority important-soon

because people copy-and-paste from that page a lot.

[2020-05-12 18:48] sftim commented on #20919
Hmm, a tricky one to solve. The older versions had that documentation at a different location.

One way to fix this is to backport a redirect from https://kubernetes.io/docs/concepts/scheduling-eviction/ to the old location of each page.

[2020-05-12 18:50] sftim commented on #20914
/close
Fixed in #20903

[2020-05-12 18:51] #20914 closed

[2020-05-12 18:59] sftim commented on #20912
Hi @supirman

Can you describe the symptoms you saw?

[2020-05-12 18:59] celestehorgan opened #20923 "Tracking issue: fix broken internal links identified by linkchecker"
Related: #20607

Correct the initial swath of broken links identified when configuring and using the https://github.com/wjdp/htmltest link checker. This ensures any potential new users have a good first time experience.

[2020-05-12 19:02] sftim commented on #1652
Similar to #20910

[2020-05-12 19:02] sftim commented on #7825
Similar to issue #20910

[2020-05-12 19:03] sftim commented on #20905
The fix from #20920 may also be relevant here
/language ja

[2020-05-12 19:03] sftim commented on #20904
PR #20920 may provide a partial fix

[2020-05-12 19:11] Arhell commented on #20871
done
/close

[2020-05-12 19:12] #20871 closed

[2020-05-12 19:17] kbhawkey opened #20925 "document handling of label strings, style guide"
**This is a Feature Request**
Provide recommendations for handling the style of label names in the docs.

**What would you like to be added**
Add content to the style guide about how to style _label_ names.

**Why is this needed**
A question came up about double quoting or emphasizing label names.
Namespace names are emphasized (code style).
https://kubernetes.io/docs/contribute/style/style-guide/

[2020-05-12 19:40] SudoBrendan commented on #20912
I'm glad it's not just me - I'm seeing quite a few formatting issues today across numerous pages in chromium/firefox as well. Here are some screenshots:

![image](https://user-images.githubusercontent.com/26753294/81737404-a9cee780-945d-11ea-85d8-e41bc6e01731.png) - e.g the "blockquote" stuff everywhere; text boxes are not looking right either. [Source](https://kubernetes.io/docs/setup/production-

[2020-05-12 22:06] sftim commented on #20862
https://kubernetes.io/docs/contribute/style/style-guide/ covers some of this. If it's not as clear as you'd like - we take pull requests!

[2020-05-12 22:10] sftim commented on #20866
That's a great idea! Another way to benefit from the diagrams from a talk is to redraw it and add it to the page in question. Either kind of improvement is welcome.

[2020-05-12 22:42] dheerujava opened #20928 "Issue with k8s.io/docs/tasks/administer-cluster/namespaces-walkthrough/"
**This is a Bug Report**

**Problem:**
After creating and scaling deployment using command
 kubectl create deployment cattle --image=k8s.gcr.io/serve_hostname
kubectl scale deployment cattle --replicas=5
When we execute below command to list pods  with options -l
 kubectl get pods -l run=cattle
O/P is No resources found in production namespace.
**Proposed Solution:**
 kubectl get pods -l app=cattl

[2020-05-12 23:30] zacharysarah opened #20930 "HTML breaks in /docs/concepts/cluster-administration/flow-control/"
## Problem

HTML breaks on this page:
https://kubernetes.io/docs/concepts/cluster-administration/flow-control/

Related to Hugo version upgrade in #19907

## Page to update

https://git.k8s.io/website/content/en/docs/concepts/cluster-administration/flow-control.md

[2020-05-12 23:37] zacharysarah commented on #20930
There's no HTML in the affected table, so it looks like there's a breaking shortcode:
[code]

When I remove the table caption shortcode locally, it fixes the problem.

[2020-05-13 01:42] #20930 closed

[2020-05-13 01:52] bluefriday opened #20933 "Translate /tasks/run-application/run-single-instance-stateful-application in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/run-application/run-single-instance-stateful-application view in Korean.

**Why is this needed**

There is no documents with tasks/run-application/run-single-instance-stateful-application in Korean.

**Comments**

https://kubernetes.io/docs/tasks/run-application/run-single-instance-stateful-application/

[2020-05-13 01:52] bluefriday commented on #20933
/language ko
/assign

[2020-05-13 01:57] gbamqzkdyg opened #20934 "Issue with k8s.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/"
**This is a Bug Report**

**Problem:**
The page https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/ does not display normally.
**Proposed Solution:**
Fix any HTML or CSS bugs.
**Page to Update:**
https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/

[2020-05-13 02:42] marcushyungseoklee opened #20935 "Translate tasks/tls/certificate-rotation/ in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/tls/certificate-rotation in Korean

**Why is this needed**

No translation with tasks/tls/certificate-rotation

**Comments**

Pages to Update
https://kubernetes.io/docs/tasks/tls/certificate-rotation/

[2020-05-13 02:43] marcushyungseoklee commented on #20935
/language ko
/assign

[2020-05-13 05:11] lorna8899 opened #20937 "Issue with k8s.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/"
**This is a Bug Report**

**Problem:**
Wrong format on the page.
https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-05-13 06:32] johscheuer commented on #20888
That's right, @sftim do you have any preferred place where we could put this documentation? If so I would start writing down some documentation that can be reviewed by api-machinery.

[2020-05-13 08:51] oke-py commented on #19246
/close

[2020-05-13 08:51] #19246 closed

[2020-05-13 09:35] remyleone commented on #19096
/remove-lifecycle stale

[2020-05-13 10:24] ArtemAlagizov commented on #20912
that is how Deployment page looks like right now for me in chrome in French language:

![current-deployments-french](https://user-images.githubusercontent.com/15367507/81800929-e5c48400-9513-11ea-85ab-1e5fd64ce65d.png)

the reason is broken html: there is a bunch of elements that are on the same level with **\<div id="docsContent"\>\</div\>**, although they should be inside of it

check it:
----

[2020-05-13 10:49] sftim commented on #20888
There's already https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/ (generated documentation).

Maybe add https://kubernetes.io/docs/reference/using-api/health-checks/ (currently a 404)?

[2020-05-13 10:50] sftim commented on #20888
If there's a place in the code for kube-apiserver to add text that ends up on https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/ and explains the health checks, that's also a valid approach.

[2020-05-13 10:52] sftim commented on #20912
@ArtemAlagizov if you log the bug with the French page into its own issue, that lets the French localization team pick it up and work on it. (If you want to submit a PR directly yourself, that is also OK).

[2020-05-13 11:10] ArtemAlagizov commented on #20912
@sftim got it, thanks! i will submit a separate bug issue

[2020-05-13 11:21] Kubelancer opened #20940 "Issue with k8s.io/docs/setup/production-environment/container-runtimes/"
**This is a Bug Report**

Line continuation \ is not reflect on webpage

**Proposed Solution:**
Line continuation \ should reflect

**Page to Update:**
https://kubernetes.io/docs/setup/production-environment/container-runtimes/

1.18

Please update the page  on  missing line continuation here

### Add Docker apt repository.
add-apt-repository

  "deb [arch=amd64] https://download.docker.com/linux/

[2020-05-13 11:22] ArtemAlagizov opened #20941 "page layout for https://kubernetes.io/fr/docs/concepts/workloads/controllers/deployment/ is broken"
**This is a Bug Report**

**Problem:**

page layout is broken for this page => https://kubernetes.io/fr/docs/concepts/workloads/controllers/deployment/

currently it looks like this:

![current-deployments-french](https://user-images.githubusercontent.com/15367507/81806223-74d59a00-951c-11ea-8262-cc5ca2ac012f.png)

tested in the following browsers:
* Microsoft Edge 44.18362.449.0
* Google Chrome 8

[2020-05-13 11:35] Kubelancer opened #20942 "Issue with k8s.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/"
**This is a Bug Report**

indentation issue

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/

1.18

fix the page indentation

[2020-05-13 11:41] ArtemAlagizov opened #20943 "page layout for https://kubernetes.io/ko/docs/concepts/workloads/controllers/deployment/ is broken"
**This is a Bug Report**

**Problem:**

page layout is broken for this page => https://kubernetes.io/ko/docs/concepts/workloads/controllers/deployment/

currently it looks like this:

![current-deployments-ko](https://user-images.githubusercontent.com/15367507/81807849-1c53cc00-951f-11ea-99b9-523dc4d9aa33.png)

tested in the following browsers:
* Microsoft Edge 44.18362.449.0
* Google Chrome 81.0.

[2020-05-13 12:44] ArtemAlagizov opened #20944 "page layout for https://kubernetes.io/id/docs/concepts/workloads/controllers/deployment/ is broken"
**This is a Bug Report**

**Problem:**

page layout is broken for this page => https://kubernetes.io/id/docs/concepts/workloads/controllers/deployment/

currently it looks like this:

![current-deployments-id](https://user-images.githubusercontent.com/15367507/81813720-1f06ef00-9528-11ea-8d40-5caaab2985e1.png)

tested in the following browsers:
* Microsoft Edge 44.18362.449.0
* Google Chrome 81.0.

[2020-05-13 14:58] ariscahyadi commented on #20111
I will continue with this `/docs/tasks/debug-application-cluster/get-shell-running-container/`

[2020-05-13 16:30] Miss-you opened #20948 "Issue with k8s.io/docs/reference/access-authn-authz/authentication/"
**This is a Bug Report**

**Problem:**

Hello, when I click "https://kubernetes.io/docs/reference/access-authn-authz/authentication/" to switch to the Chinese page in the upper right corner of the page, I automatically jump to the Chinese version home page instead of Chinese Version of this page

before jump.

![image](https://user-images.githubusercontent.com/3816205/81839332-f871a400-9579-11ea-8

[2020-05-13 19:05] girikuncoro commented on #18174
Most likely yes, we can generate specific issue for this and keep the easy ones open for docs contributor workshops

[2020-05-13 20:11] Arhell opened #20950 "Subscribe button translation"
**This is a Feature Request**

**What would you like to be added**
https://kubernetes.io/#kubeweekly

/assign
/language uk

[2020-05-13 20:21] afbjorklund commented on #19218
Seems like there already is #15969 under way, so maybe not create any more issues ?

[2020-05-13 20:36] fabriziopandini commented on #19415
As per comment above
/close

[2020-05-13 20:37] #19415 closed

[2020-05-13 20:38] neolit123 commented on #20942
/sig cluster-lifecycle docs

hi, can you show which section you think is wrong or maybe provide a screenshot?

[2020-05-13 20:40] fabriziopandini commented on #18383
@Fale I'm closing this since we are now on master and we would like to track progress about reviewing/translating pages under concepts using separated issues
/close

[2020-05-13 20:40] #18383 closed

[2020-05-13 21:24] Arhell commented on #20786
Hi, check please
https://github.com/kubernetes/website/pull/20951

[2020-05-13 21:58] #20716 closed

[2020-05-13 21:59] #20462 closed

[2020-05-13 21:59] #20604 closed

[2020-05-13 21:59] #20700 closed

[2020-05-13 21:59] #20752 closed

[2020-05-13 21:59] #20774 closed

[2020-05-13 22:30] fabriziopandini opened #20952 "RFE - Review draft localization into Italian for doc/concepts/architecture"
**This is a RFE**
There is a set of pages under doc/concepts/architecture already localized in Italian but still in draft status.

**What would you like to be added**
Draft localizations should be reviewed, content should be aligned with the latest English version, and the draft flag should be removed

/language it
/priority backlog

[2020-05-13 22:30] fabriziopandini opened #20953 "RFE - Review draft localization into Italian for doc/concepts/cluster-administration"
**This is a RFE**
There is a set of pages under doc/concepts/cluster-administration already localized in Italian but still in draft status.

**What would you like to be added**
Draft localizations should be reviewed, content should be aligned with the latest English version, and the draft flag should be removed

/language it
/priority backlog

[2020-05-13 22:30] fabriziopandini opened #20954 "Localize "The Kubernetes API" page to Italian"
I would like to have the "The Kubernetes API" page to be translated into Italian
page https://kubernetes.io/docs/concepts/overview/kubernetes-api/

/language it
/priority important-soon

[2020-05-13 22:31] fabriziopandini opened #20955 "Localize "Nodes" page to Italian"
I would like to have the "Nodes" page to be translated into Italian
page https://kubernetes.io/docs/concepts/architecture/nodes/

/language it
/priority important-soon

[2020-05-13 22:31] fabriziopandini opened #20956 "Localize "Control Plane-Node Communication" page to Italian"
I would like to have the "Control Plane-Node Communication" page to be translated into Italian
page https://kubernetes.io/docs/concepts/architecture/control-plane-node-communication/

/language it
/priority important-soon

[2020-05-13 22:31] fabriziopandini opened #20957 "Localize "Controllers" page to Italian"
I would like to have the "Controllers" page to be translated into Italian
page https://kubernetes.io/docs/concepts/architecture/controller/

/language it
/priority important-soon

[2020-05-13 22:31] fabriziopandini opened #20958 "Localize "Containers overview" page to Italian"
I would like to have the "Containers overview" page to be translated into Italian
page https://kubernetes.io/docs/concepts/containers/overview/

/language it
/priority important-soon

[2020-05-13 22:31] fabriziopandini opened #20959 "Localize "Images" page to Italian"
I would like to have the "Images" page to be translated into Italian
page https://kubernetes.io/docs/concepts/containers/images/

/language it
/priority important-soon

[2020-05-13 22:31] fabriziopandini opened #20960 "Localize "Container Environment" page to Italian"
I would like to have the "Container Environment" page to be translated into Italian
page https://kubernetes.io/docs/concepts/containers/container-environment/

/language it
/priority important-soon

[2020-05-13 22:31] fabriziopandini opened #20961 "Localize "Runtime Class" page to Italian"
I would like to have the "Runtime Class" page to be translated into Italian
page https://kubernetes.io/docs/concepts/containers/runtime-class/

/language it
/priority important-soon

[2020-05-13 22:31] fabriziopandini opened #20962 "Localize "Container Lifecycle Hooks" page to Italian"
I would like to have the "Container Lifecycle Hooks" page to be translated into Italian
page https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/

/language it
/priority important-soon

[2020-05-13 22:49] wabernatScality commented on #20862
Funny you should mention it, I opened a bugfix request on the [camelCase vs. PascalCase issue](https://github.com/kubernetes/community/issues/4772#issuecomment-627485811) just yesterday.

I would be delighted to fire a PR your way, but I do not believe my solution to this problem (slavish devotion to, and ruthless enforcement of, the _Chicago Manual of Style_) will be at all welcome.

[2020-05-13 23:32] Kubelancer commented on #20942
/sig cluster-lifecycle docs
Attached screenshots

On Thu, May 14, 2020 at 2:08 AM Lubomir I. Ivanov <notifications@github.com>
wrote:

[2020-05-13 23:33] neolit123 commented on #20942
i don't see the attachments, possible because you replied via email.
try adding them using the GitHub web UI.

[2020-05-13 23:35] Kubelancer commented on #20942
![Capture-1](https://user-images.githubusercontent.com/64853410/81876513-83659500-95a0-11ea-9a31-c9ec8c5408b6.JPG)
![Capture-2](https://user-images.githubusercontent.com/64853410/81876516-852f5880-95a0-11ea-8809-f275f38d44de.JPG)
![Capture-3](https://user-images.githubusercontent.com/64853410/81876517-85c7ef00-95a0-11ea-9e98-184646cd76f4.JPG)
![Capture-4](https://user-images.githubusercontent.com/

[2020-05-13 23:37] Kubelancer commented on #20942
Page alignment or indentation not proper looks.

[2020-05-13 23:39] neolit123 commented on #20942
ok, i can confirm this.

@sftim hi, was this broken by this PR, or maybe something on the hugo side changed recently?
https://github.com/kubernetes/website/pull/20496

[2020-05-14 01:03] oke-py commented on #20881
/close

[2020-05-14 01:03] #20881 closed

[2020-05-14 02:43] celestehorgan commented on #20921
@sftim I got curious about this so I tested it: https://github.com/kubernetes/website/pull/20965

Notes at all levels of indentation [seem to work fine](https://deploy-preview-20965--kubernetes-io-master-staging.netlify.app/docs/test/) on the smoketest.

I think there's something else going on with these pages.

[2020-05-14 05:58] zacharysarah commented on #20344
@sftim @gochist @kbhawkey @mrbobbytables and everyone:

As an update: we now have a PR (#20874) based on the current version of `master`. Much of the feedback here is either resolved by rebasing, or specific to Docsy as a theme rather than Gearbox's implementation of it.

In order to keep feedback relevant and collected in a single source, I'm going to close this issue and recommend we give feedba

[2020-05-14 05:58] #20344 closed

[2020-05-14 07:13] adityaalifn commented on #20111
I'd like to take this `/docs/tasks/inject-data-application/define-command-argument-container/`

[2020-05-14 07:17] MikeSpreitzer opened #20967 "Documentation of merging of kubeconfig files is unclear"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/#merging-kubeconfig-files does not provide a correct and comprehensible description of how kubeconfig files are merged.  Following are some of the problems.

- the text repeatedly uses the phrase "value or map key" but the sense of the word "or" is not clear.  Is this "or" te

[2020-05-14 07:17] MikeSpreitzer commented on #20967
This issue is a buddy of https://github.com/kubernetes/kubernetes/issues/91092

[2020-05-14 09:32] romanseidl commented on #9807
/remove-lifecycle stale

[2020-05-14 09:42] sftim commented on #20942
The Hugo upgrade was PR #19907

[2020-05-14 09:43] sftim commented on #20942
/kind bug
/priority important-longterm

[2020-05-14 09:50] sftim commented on #20921
Thanks for investigating @celestehorgan

[2020-05-14 09:55] outscale-nti opened #20969 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/"
**This is a Bug Report**

**Problem:**
Installation procedure needs to be updated for Centos/Redhat:
The following command does not work
`yum install -y kubelet kubeadm kubectl –disableexcludes=kubernetes`
**Proposed Solution:**
it has to be replaced with :
`yum install -y kubernetes-node` : on the worker nodes, and with
`yum install -y kubernetes-master` : on the master nodes
**Page to Update:**

[2020-05-14 10:10] Arhell commented on #20950
done
/close

[2020-05-14 10:10] #20950 closed

[2020-05-14 10:20] sftim commented on #20921
It looks like the `{{% capture …%}}` shortcode is what is giving us problems here. Outside of a `{{% capture …%}}` things work fine.

[2020-05-14 10:21] oke-py opened #20970 "broken link in concepts/workloads/controllers/statefulset/"
**This is a Bug Report**

There is a broken link in concepts/workloads/controllers/statefulset/

**Problem:**
This link is broken. The target page exists, but `#how-it-works` does not.
https://github.com/kubernetes/website/blob/991aadb64f986cc74d2f50d00d631fc430e567ea/content/en/docs/concepts/workloads/controllers/statefulset.md#L159

**Proposed Solution:**
Fix the broken link.

**Page to Update:*

[2020-05-14 10:26] sftim commented on #15671
I'm going to reopen this as it's still worth fixing. Issue #20967 reminded me that this is not yet fixed.
/remove-lifecycle rotten

[2020-05-14 10:27] sftim commented on #15709
Slightly related to issue #20967

[2020-05-14 11:18] irvifa commented on #20921
@celestehorgan can you please rebase from master? would like to know if it's working just fine on your side. Let me know then..

[2020-05-14 11:20] Kartik494 commented on #20837
Hi @rahulkadukar yes default.conf file is missing here.
I think either we can implement this by imperative command
`kubectl create configmap nginxconfigmap --from-literal="key"="value"`

[2020-05-14 11:43] sftim commented on #20942
I've tried to make a work around for this. It looks like tabs shortcodes with code snippets inside them don't play well with `{{% capture …%}}` shortcodes (see issue #20780).

[2020-05-14 11:44] sftim commented on #20780
I've seen a few issues (see #20942) that look hard to solve without either a significant rewrite _or_ removal of the problematic capture shortcode.

[2020-05-14 12:10] Kartik494 commented on #15317
Hi while deplying using `kubectl run cattle --image=k8s.gcr.io/serve_hostname --replicas=5`
i got error "The Deployment "cattle" is invalid: spec.template.spec.containers[0].name: Invalid value: "serve_hostname": a DNS-1123 label must consist of lower case alphanumeric characters or '-', and must start and end with an alphanumeric character (e.g. 'my-name',  or '123-abc', regex used for validation

[2020-05-14 12:24] #20499 closed

[2020-05-14 12:24] #20734 closed

[2020-05-14 13:09] jimangel commented on #20942
@neolit123 @sftim I will take a stab at cleaning this up assuming work isn't currently being done. We might have to adjust the page slightly until capture is removed.
/assign

[2020-05-14 13:35] sftim commented on #20942
I can share some WIP in case it helps

[2020-05-14 13:44] neolit123 commented on #20942
thanks for taking a look @sftim and @jimangel

[2020-05-14 13:52] sftim commented on #20969
Thanks for reporting this.

@outscale-nti can you confirm which RHEL / CentOS version(s) this revised command works on?

[2020-05-14 13:54] sftim commented on #20970
Looks like a bug alright
/kind bug
/priority backlog
/language en

[2020-05-14 13:55] mfilocha commented on #20921
Similar here: https://kubernetes.io/docs/tutorials/hello-minikube/

[2020-05-14 13:55] sftim commented on #20970
/good-first-issue

Removing the `#how-it-works` should be enough of a fix, I think.

[2020-05-14 14:05] jimangel commented on #20942
oof, sorry @sftim, I saw this after I opened the PR. That does help! I was scratching my head on some of these bugs. Let me know if you want me to modify my PR to incorporate some of your suggestions or vice versa.

I was poking fun of the page on twitter and felt obligated to _try_ to fix it :smile:

[2020-05-14 14:22] #20923 closed

[2020-05-14 14:33] outscale-nti commented on #20969
Hello
I am sorry but this finally does not work.
I am closing the issue
best regards

[2020-05-14 14:33] #20969 closed

[2020-05-14 14:35] sftim commented on #20942
Busy at the moment I'm afraid. Feel free to snarf any bits that look useful.

[2020-05-14 15:12] #20942 closed

[2020-05-14 15:32] Arhell commented on #20736
done
/close

[2020-05-14 15:33] #20736 closed

[2020-05-14 16:11] divyabhushan commented on #20970
Hi, @oke-py I would like to fix this bug. Could you assign this to me, please? Thanks

[2020-05-14 16:16] sftim commented on #20970
@divyabhushan please feel free to submit a PR with your proposed fix, assignment or no assignment. We'd welcome it!

[2020-05-14 16:36] bep commented on #20780
@kbhawkey as to validating the structure without `capture` I suggest you enforce this using header IDs, and do that in a language-agnostic way, e.g.:

[code]

There are some ongoing work creating a render hook for headings in Hugo, see https://github.com/gohugoio/hugo/pull/7133#issuecomment-628638620 -- I have had a little problem seeing "if it's worth it", but I can certainly see a value here. It

[2020-05-14 16:37] prasadkatti commented on #20940
It shows up properly for me -
![image](https://user-images.githubusercontent.com/7345249/81960939-8f644d80-95c6-11ea-8983-c6e770fe560f.png)

[2020-05-14 16:42] divyabhushan commented on #20970
Thanks, @sftim. I will start working and submit PR.

[2020-05-14 16:57] prasadkatti commented on #20928
/assign

[2020-05-14 17:06] sftim commented on #20937
/kind bug
/priority important-soon
Relates to tracking issue #20335

[2020-05-14 17:18] prasadkatti commented on #20934
#20937 is really a dup of this. But that issue has been added to the tracking issue. So this one should be closed as a DUP.

[2020-05-14 17:18] prasadkatti commented on #20934
/triage duplicate

[2020-05-14 17:22] sftim commented on #20921
@mfilocha would you be willing to log an issue about https://kubernetes.io/docs/tutorials/hello-minikube/? You can link it to the tracking issue #20335

[2020-05-14 17:27] sftim commented on #20937
Thanks for reporting this @lorna8899

[2020-05-14 17:28] sftim commented on #20928
@prasadkatti can you / have you confirmed that this is a bug? If so, it's be good to record this issue as /kind bug

[2020-05-14 17:29] sftim commented on #18117
Let's not autoclose this.
/remove-lifecycle stale

[2020-05-14 17:31] prasadkatti commented on #20928
Yes, this is a bug. When `kubectl run` was changed to `kubectl deploy`, the label should have changed from `run=cattle` to `app=cattle`. This needs to be updated on a couple of other pages as well.
/kind bug

[2020-05-14 17:33] sftim commented on #20928
/priority backlog

[2020-05-14 19:00] zacharysarah commented on #18117
@sftim Fair, and with no remaining tasks, it's time to close.

/close

[2020-05-14 19:01] #18117 closed

[2020-05-14 21:03] #20864 closed

[2020-05-14 22:46] sftim commented on #19051
/remove-lifecycle stale

[2020-05-14 23:18] divyabhushan commented on #20970
@sftim
Problem:
This link is broken. The target page exists, but #how-it-works does not.
Error in the page: /docs/concepts/workloads/controllers/statefulset.md

Solution:
Removed the #how-it-works

Files modified:
content/en/docs/concepts/workloads/controllers/statefulset.md
content/es/docs/concepts/workloads/controllers/statefulset.md
content/id/docs/concepts/workloads/controllers/statefulset.md

[2020-05-15 01:24] pjhwa opened #20980 "Suggest new words related to CNI Plugins to be added to Korean glossary"
**This is a Feature Request**

**What would you like to be added**

There are several CNI plugins that need to be translated into Korean to be added to [the Korean glossary](https://kubernetes.io/ko/docs/contribute/localization_ko/#한글화-용어집).

English | 한글 | 비고
--- | --- | ---
Calico | 캘리코(Calico) |
Cilium | 실리움(Cilium) |
Flannel | 플란넬(Flannel) |
Kube-router | Kube-router |
Romana | 로마나(Romana) |
W

[2020-05-15 01:24] pjhwa commented on #20980
/assign

[2020-05-15 01:35] pjhwa opened #20981 "Suggest new word for Vendor's Solution name to be added to Korean glossary"
**This is a Feature Request**

**What would you like to be added**

There are several Vendor's solution names that need to be maintained in the English when localizing documents. So, I suggest this word to be added [the Korean glossary](https://kubernetes.io/ko/docs/contribute/localization_ko/#한글화-용어집).

English | 한글 | 비고
--- | --- | ---
Docker Swarm | Docker Swarm |

**Why is this needed**

This

[2020-05-15 01:35] pjhwa commented on #20981
/assign

[2020-05-15 01:41] pjhwa commented on #20981
/language ko

[2020-05-15 02:26] pjhwa opened #20984 "Suggest new words for API Objects to be added to Korean glossary"
**This is a Feature Request**

**What would you like to be added**

There are several API Objects that need to be translated into Korean to be added to [the Korean glossary](https://kubernetes.io/ko/docs/contribute/localization_ko/#한글화-용어집).
As we already discussed, API Objects are needed to be written in Korean(English) format.

English | 한글 | 비고
--- | --- | ---
APIService | API서비스(APIService) |

[2020-05-15 02:27] pjhwa commented on #20984
/assign

[2020-05-15 04:56] #20646 closed

[2020-05-15 06:37] #20981 closed

[2020-05-15 06:38] #20980 closed

[2020-05-15 07:14] ClaudiaJKang opened #20987 "Outdated files in the dev-1.18-ko.4 branch"
# This is a Bug Report
## Problem
Outdated files in the dev-1.18-ko.4 branch.

### 54 files to be modified
1. [ ] content/en/_index.html 1 file changed, 1 insertion(+), 1 deletion(-)
1. [ ] content/en/docs/concepts/architecture/nodes.md 1 file changed, 172 insertions(+), 147 deletions(-)
1. [ ] content/en/docs/concepts/cluster-administration/addons.md 1 file changed, 1 insertion(+)
1. [ ] content/

[2020-05-15 07:15] ClaudiaJKang commented on #20987
/language ko

[2020-05-15 07:19] ysyukr commented on #20987
/assign

[2020-05-15 07:45] irvifa commented on #20944
This is solved already https://github.com/kubernetes/website/pull/20946
/close

[2020-05-15 07:45] #20944 closed

[2020-05-15 07:46] irvifa commented on #20943
Fixed in https://github.com/kubernetes/website/pull/20946
/close

[2020-05-15 07:46] #20943 closed

[2020-05-15 07:47] irvifa commented on #20941
Fixed in https://github.com/kubernetes/website/pull/20946
/close

[2020-05-15 07:47] #20941 closed

[2020-05-15 07:49] irvifa commented on #20937
Do we use 0.70 or 0.60?

[2020-05-15 08:52] sftim commented on #20937
Look for `HUGO_VERSION` in https://github.com/kubernetes/website/blob/master/netlify.toml (currently 0.70.0).

[2020-05-15 09:15] #20970 closed

[2020-05-15 09:56] ArtemAlagizov commented on #20912
fixed in #20946
/close

[2020-05-15 09:58] ArtemAlagizov commented on #20912
@k8s-ci-robot thank you robot

[2020-05-15 10:03] sftim commented on #20912
/close
fixed in #20920

[2020-05-15 10:03] #20912 closed

[2020-05-15 12:09] #16397 closed

[2020-05-15 13:03] Cedric-2020 opened #20990 "Issue with k8s.io/fr/docs/setup/independent/control-plane-flags/"
Hello i would like to personalized my control point but it does not working :
yaml :
apiVersion: kubeadm.k8s.io/v1beta1
kind: ClusterConfiguration
kubernetesVersion: v1.13.0
metadata:
  name: 1.13-sample
controllerManager:
  extraArgs:
    cluster-signing-key-file: /home/johndoe/keys/ca.key
    bind-address: 0.0.0.0
    deployment-controller-sync-period: 50

----
kubeadm version
kubeadm version: &

[2020-05-15 13:10] #16423 closed

[2020-05-15 13:52] neolit123 commented on #20990
/triage support

hi,

if you want to deploy a k8s version with kubeadm 1.18.1, then it must be 1.17 at minimum. kubeadm support deploying the same k8s version and one version older!

also <1.16 is out of support.

this is odd, 1.18.1 should not return this error. are you sure you are executing the 1.18.1 binary?

try this minimal config and see if it works.
[code]

[2020-05-15 13:53] neolit123 commented on #20990
/sig cluster-lifecycle

[2020-05-15 14:02] jimangel commented on #20336
I think this is good to close.
/close

[2020-05-15 14:02] #20336 closed

[2020-05-15 14:04] sftim commented on #20990
Let's update https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/control-plane-flags/ to make it clear what Kubernetes version you need to have to follow the page.

[2020-05-15 14:07] neolit123 commented on #20990
IMO, it should link to:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#version-skew-policy

[2020-05-15 14:19] #20823 closed

[2020-05-15 15:01] gochist opened #20991 "Broken layout on "kubeadm 클러스터 업그레이드""
**This is a Bug Report**

**Problem:**
Broken layout on "kubeadm 클러스터 업그레이드"

![image](https://user-images.githubusercontent.com/282159/82064529-dad24500-9707-11ea-9daf-dbcf83d1415c.png)

**Proposed Solution:**
Check and apply upstream changes.

**Page to Update:**
https://kubernetes.io/ko/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/

/language ko

[2020-05-15 15:05] gochist commented on #20987
@ysyukr
#20991 버그 수정을 위해서 아래 문서의 현행화는 master 브랜치에서 할 수 있을까요?
content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md

[2020-05-15 15:21] lt-bbergen opened #20992 "Page layout docs/setup/production-environment/tools/kubeadm/high-availability/"
**This is a Bug Report**

Formatting is off (broken HTML rendering) on [this](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/high-availability/) page since earlier this week (Wednesday sometime?) per my comment in #20912 - I'm adding as a separate ticket for tracking.

Some fixes to Hugo were made in #20946 and #20903 but the issues on this page are persisting.

**Problem:**

[2020-05-15 15:27] sftim commented on #20990
I'm not sure if we want to automate publishing the version number for latest Kubernetes into those YAML documents, or leave that for manual review. Both options are on the table.

[2020-05-15 15:31] neolit123 commented on #20990
i think the version policy link should suffice. the `1.16` in the YAML is just a placeholder and i'm hoping users will know they have to pick the right version.

[2020-05-15 15:34] neolit123 commented on #20992
thanks for the report.

cc @jimangel @sftim possibly caused by the hugo bump too?
/sig docs cluster-lifecycle
/kind bug

[2020-05-15 16:08] sftim commented on #16281
/remove-lifecycle stale
all the same

[2020-05-15 16:08] sftim commented on #14725
Think this is important enough to merit
/lifecycle frozen

[2020-05-15 17:46] irvifa commented on #20937
I find the problem is located at:

I'm not sure why this is only on this specific tabs part though

[2020-05-15 18:15] #18180 closed

[2020-05-15 19:17] kbhawkey commented on #20780
I'm finding that the parser will not add an H2 heading from a shortcode
into the TOC.

Here is an example shortcode that gets called as:
`{{% myshortcode_heading %}}`

[code]

Instead, this works (when the shortcode just returns a string):
` ## {{% myshortcode_heading %}}`

I'd rather have the entire statement wrapped in the shortcode so that authors can omit the
opening `##`.

[2020-05-15 19:27] #20937 closed

[2020-05-15 22:16] pjhwa commented on #20991
/assign

[2020-05-15 22:18] pjhwa commented on #20991
/unassign

This issue already has assigned to @ysyukr .

[2020-05-15 22:21] pjhwa commented on #20987
@gochist @ysyukr
#20991 에 대한 버그 수정은 제가 할까요? 이미 @ysyukr 님이 assign 한 줄 모르고 수정했거든요. (68라인이 수정되어 번거로우실테니 ^^)

[2020-05-15 22:24] pjhwa opened #20994 "Translate tasks/administer-cluster/kubeadm/kubeadm-certs.md into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/administer-cluster/kubeadm/kubeadm-certs.md into Korean.

**Why is this needed**

There is no document of tasks/administer-cluster/kubeadm/kubeadm-certs.md which translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/

[2020-05-15 22:24] pjhwa commented on #20994
/language ko
/assign

[2020-05-15 22:26] pjhwa opened #20995 "Translate tasks/administer-cluster/kubeadm/adding-windows-nodes.md into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/administer-cluster/kubeadm/adding-windows-nodes.md into Korean.

**Why is this needed**

There is no document of tasks/administer-cluster/kubeadm/adding-windows-nodes.md which translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/

[2020-05-15 22:26] pjhwa commented on #20995
/assign

[2020-05-15 22:27] pjhwa opened #20996 "Translate tasks/administer-cluster/kubeadm/upgrading-windows-nodes.md into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/administer-cluster/kubeadm/upgrading-windows-nodes.md into Korean.

**Why is this needed**

There is no document of tasks/administer-cluster/kubeadm/upgrading-windows-nodes.md which translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/upgrading-window

[2020-05-15 22:27] pjhwa commented on #20996
/assign

[2020-05-15 22:29] pjhwa opened #20997 "Translate contribute/suggesting-improvements.md into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate contribute/suggesting-improvements.md into Korean.

**Why is this needed**

There is no document of contribute/suggest-improvements/ which translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/contribute/suggest-improvements/

/language ko

[2020-05-15 22:29] pjhwa commented on #20997
/assign

[2020-05-15 22:30] pjhwa opened #20998 "Translate contribute/advanced.md into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate contribute/advanced.md into Korean.

**Why is this needed**
There is no document of contribute/advanced.md which translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/contribute/advanced/

/language ko

[2020-05-15 22:30] pjhwa commented on #20998
/assign

[2020-05-15 22:51] pjhwa commented on #20526
/close

[2020-05-15 22:51] #20526 closed

[2020-05-15 22:52] pjhwa commented on #20004
/close

[2020-05-15 22:52] #20004 closed

[2020-05-15 22:53] pjhwa commented on #20608
/close

[2020-05-15 22:53] pjhwa commented on #20835
/close

[2020-05-15 22:53] #20608 closed

[2020-05-15 22:53] #20835 closed

[2020-05-16 01:55] oke-py commented on #18929
/close

[2020-05-16 01:55] #18929 closed

[2020-05-16 02:40] oke-py opened #21004 "Translate /docs/concepts/configuration/manage-resources-containers/ into Japanese"
**This is a Feature Request**

**What would you like to be added**
Translate /docs/concepts/configuration/manage-resources-containers/ into Japanese.

**Why is this needed**
This page has not been translated.

**Comments**
/language ja

[2020-05-16 02:43] oke-py opened #21005 "Translate /docs/reference/kubectl/overview/ into Japanese"
**This is a Feature Request**

**What would you like to be added**
Translate /docs/reference/kubectl/overview/ into Japanese.

**Why is this needed**
This page has not been translated.

**Comments**
/language ja

[2020-05-16 02:45] oke-py opened #21006 "Translate /docs/reference/access-authn-authz/authentication/ into Japanese"
**This is a Feature Request**

**What would you like to be added**
Translate /docs/reference/access-authn-authz/authentication/ into Japanese.

**Why is this needed**
This page has not been translated.

**Comments**
/language ja

[2020-05-16 02:46] oke-py opened #21007 "Translate /docs/concepts/workloads/controllers/jobs-run-to-completion/ into Japanese"
**This is a Feature Request**

**What would you like to be added**
Translate /docs/concepts/workloads/controllers/jobs-run-to-completion/ into Japanese.

**Why is this needed**
This page has not been translated.

**Comments**
/language ja

[2020-05-16 02:49] oke-py opened #21008 "Translate /docs/tasks/configure-pod-container/configure-liveness-readiness-probes/ into Japanese"
**This is a Feature Request**

**What would you like to be added**
Translate /docs/tasks/configure-pod-container/configure-liveness-readiness-probes/ into Japanese.

**Why is this needed**
This page has not been translated.

**Comments**
/language ja

[2020-05-16 03:08] prasadkatti commented on #20992
Relates to tracking issue #20335

[2020-05-16 03:14] prasadkatti commented on #20841
This repo is for issues with the kubernetes website. Since you are asking about missing packages, I think you should move this to https://github.com/kubernetes/release repo.

[2020-05-16 03:15] prasadkatti commented on #20841
You can also trying asking on the #sig-release channel on [Slack](kubernetes.slack.com) maybe

[2020-05-16 09:34] tengqm opened #21014 "Promote content related to resource patching."
**This is a Feature Request**

We have a pretty good doc on various ways to patching an object:

https://kubernetes.io/docs/tasks/run-application/update-api-object-kubectl-patch/

However, the current location of the content is wrong. It is not about an application. It is about more generic ways to change an API object.

**What would you like to be added**

Revise and move the content to object ma

[2020-05-16 09:47] oke-py commented on #20905
/assign

[2020-05-16 10:15] christbenhur opened #21016 "Improvement for k8s.io/docs/reference/setup-tools/kubeadm/kubeadm-alpha/"
Please add some example commands, if feasible.

I tried to renew the apiserver-etcd-client, with/without flags, but I see an error.
master $ kubeadm alpha certs renew apiserver-etcd-client
failed to renew certificate apiserver-etcd-client: unable to sign certificate: must specify at least one ExtKeyUsage
To see the stack trace of this error execute with --v=5 or higher

master $ kubeadm alpha cert

[2020-05-16 11:18] crixo commented on #20954
/assigned
/lifecycle active

[2020-05-16 11:32] #18191 closed

[2020-05-16 12:04] Arhell opened #21017 "Subscribe button translation"
**This is a Feature Request**

**What would you like to be added**
https://kubernetes.io/#kubeweekly

/assign
/language ru

[2020-05-16 14:40] manneharikrishna commented on #8170
Hi Team, I cant able to access below path
https://github.com/kubernetes/website/blob/master/content/en/docs/tasks/debug-application-cluster/audit-policy.yaml

[2020-05-16 19:34] neolit123 commented on #21016
/sig cluster-lifecycle
/priority awaiting-more-evidence

hi, this is an unexpected error.

please answer these questions:
- what are the contents of `sudo ls /etc/kubernetes/pki`?
- are there certificates in `/etc/kubernetes/pki` generated from an older kubeadm version, and which one? alternatively did you manually generate the `apiserver-etcd-client.crt`?
- what kubeadm version are you using to i

[2020-05-17 00:54] MikeSpreitzer commented on #20673
I seem to have overlooked a sentence that is already in https://kubernetes.io/docs/reference/access-authn-authz/controlling-access/#admission-control : "They act on objects being created, deleted, updated or connected (proxy), but not reads".  That is an exactly accurate statement when the word "updated" is taken in its plain English sense --- which is the most plausible sense in this context.

Th

[2020-05-17 01:33] vtrippel opened #21022 "Issue with k8s.io/docs/setup/production-environment/tools/"
**This is a Bug Report**

**Problem:** This page (https://kubernetes.io/docs/setup/production-environment/tools/) is blank. The title is "Bootstrapping clusters with kubeadm" but there is no text afterwards.

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-05-17 10:44] christbenhur commented on #21016
Hi,
Please find the answers as following:

   - what are the contents of sudo ls /etc/kubernetes/pki?
            
            master $ sudo ls /etc/kubernetes/pki            apiserver.crt              apiserver-etcd-client.key     apiserver-kubelet-client.key  etcd                front-proxy-client.crt  sa.pub            apiserver-etcd-client.crt  apiserver.key                 ca.crt             

[2020-05-17 11:35] fabriziopandini commented on #20756
/assign
/lifecycle active

[2020-05-17 13:00] fabriziopandini commented on #13998
@sftim @chenrui333  could you kindly help me in understanding what is required here?
Only changes to https://github.com/kubernetes/community/ or something on the web site as well?

[2020-05-17 13:54] fabriziopandini commented on #13998
/assign
/lifecycle active

[2020-05-17 15:59] korney4eg opened #21029 "Rendering issues on /docs/reference/access-authn-authz/rbac/#service-account-permissions"
**This is a Bug Report**

**Problem:**
[Page](https://kubernetes.io/docs/reference/access-authn-authz/rbac/#service-account-permissions) render has an error, here is a screenshot:
![image](https://user-images.githubusercontent.com/1872070/82153377-526ab600-9867-11ea-9b43-d436c4397ef9.png)

Source code seems to be fine :
https://github.com/kubernetes/website/blame/master/content/en/docs/reference/a

[2020-05-17 16:57] divyabhushan commented on #21029
/assign

[2020-05-17 17:28] ghareesh opened #21030 "How to view logs of a script scheduled in cron job"
Currently I have a cron schedules as follows whihc generates a logfile with timestamp..

*/1 * * * * /usr/bin/Rscript /path to R File/file.R > pathtoproject/logs/`date +\%Y\%m\%d\%H\%M\%S`-cron.log 2>&1

I am not able to replicate the same in kubernetes.. The timestamp gets precomputed during time of image creation and gets over written..

My requirement is to keep generating new log file with tim

[2020-05-17 19:29] neolit123 commented on #21016
that seems to cause for the problem.

the formatting in your output is difficult to read, but the certificate must contain the following:

[code]

i'm not seeing it in the output, so the error ("must specify at least one ExtKeyUsageTo") you are seeing is caused by a missing "TLS Web Client Authentication".

i recommend using the "kubeadm init phase certs..." command to generate certificates.

it m

[2020-05-17 19:29] #21016 closed

[2020-05-17 23:21] gkarthiks commented on #21030
Hi @ghareesh, this `Kubernetes` website project. Issues only related to the `kubernetes.io` must be raised here.

If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes)

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

Closing this as this is not rel

[2020-05-17 23:21] #21030 closed

[2020-05-18 01:11] #20144 closed

[2020-05-18 01:45] Paige49 opened #21035 "Translate tasks/run-applications/scale-a-statefulset in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/run-applications/scale-a-statefulset in Korean

**Why is this needed**
No translation with tasks/run-applications/scale-a-statefulset in Korean

**Comments**

Page to Update:
https://kubernetes.io/docs/tasks/run-application/scale-stateful-set/

[2020-05-18 01:46] Paige49 commented on #21035
/language ko
/assign

[2020-05-18 01:58] oke-py opened #21037 "content/ja/docs/concepts/overview/working-with-objects/names.md is outdated"
**This is a Feature Request**

**What would you like to be added**
Update content/ja/docs/concepts/overview/working-with-objects/names.md to follow the en updates.

**Why is this needed**
content/ja/docs/concepts/overview/working-with-objects/names.md is outdated.

**Comments**
/language ja
/assign

[2020-05-18 02:01] oke-py commented on #21037
diff is as below.
https://gist.github.com/oke-py/332450fdfa459079184d4cfb1b1bd371

[2020-05-18 03:40] christbenhur commented on #21016
Thank you

[2020-05-18 03:53] prasadkatti commented on #21022
/sig cluster-lifecycle

[2020-05-18 04:18] oke-py opened #21039 "ja: names page includes namespace glossary"
**This is a Bug Report**

**Problem:**
This line includes `name` glossary.
https://github.com/kubernetes/website/blob/ba83ccc24235712d5fc14d08d18fcae5f22613fc/content/ja/docs/concepts/overview/working-with-objects/names.md#L22

However, the displayed content is `namespace` glossary.
![ss_ 2020-05-18 13 14 05](https://user-images.githubusercontent.com/4710215/82173915-e55c2c80-9909-11ea-8579-d2c0cb

[2020-05-18 04:18] oke-py commented on #21039
/language ja

[2020-05-18 05:20] johscheuer commented on #20888
I think https://kubernetes.io/docs/reference/using-api/health-checks/ is the best place, I don't think that the command line reference is the best place. I try to write something down this week.

[2020-05-18 06:42] prasadkatti commented on #21014
/assign

[2020-05-18 07:07] sbellan opened #21040 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/"
**This is a Bug Report**

**Problem:**
double hyphens being changed to –, causing commands to fail.
The commands are in the Installing section,
[code]
**Proposed Solution:**
Not sure yet, in another place(sudo sysctl --system) in the same page it is working fine.

**Page to Update:**
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/

[2020-05-18 09:00] korney4eg commented on #21029
Hello @divyabhushan ,

As far as I can see the issue wasn't close.

Here is a link to preview.
https://deploy-preview-21033--kubernetes-io-master-staging.netlify.app/docs/reference/access-authn-authz/rbac/#service-account-permissions

[2020-05-18 12:34] ariscahyadi commented on #20111
Because nothing left... I propose to translate this `docs/setup/best-practices/multiple-zones/`

[2020-05-18 12:42] divyabhushan commented on #21029
@korney4eg
I am working on it.

[2020-05-18 13:52] pjhwa opened #21047 "Translate manage-resources/cpu-constraint-namespace.md into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/administer-cluster/manage-resources/cpu-constraint-namespace.md into Korean.

**Why is this needed**

There is no document of tasks/administer-cluster/manage-resources/cpu-constraint-namespace.md which translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/tasks/administer-cluster/mana

[2020-05-18 13:52] pjhwa commented on #21047
/assign

[2020-05-18 14:15] korney4eg commented on #21029
@divyabhushan still reproducible on https://deploy-preview-21046--kubernetes-io-master-staging.netlify.app/docs/reference/access-authn-authz/rbac/#service-account-permissions

[2020-05-18 14:35] UlrichKnaack opened #21049 "Issue with k8s.io/docs/setup/learning-environment/minikube/"
**This is a Bug Report**

**Problem:**
The link https://minikube.sigs.k8s.io/docs/start/macos/#upgrading-minikube isn't valid

**Proposed Solution:**
Supply valid link

**Page to Update:**
https://kubernetes.io/docs/setup/learning-environment/minikube/

[2020-05-18 15:08] neolit123 commented on #21040
confirmed, these flags use utf-8 8211 instead of `-`:

[code]

@sbellan dod you want to send a PR to fix the problem.
/kind bug
/sig cluster-lifecycle

[2020-05-18 15:08] neolit123 commented on #21040
/help

[2020-05-18 15:27] sftim commented on #13998
These changes only apply to https://github.com/kubernetes/community/

There are already, for example:
- https://github.com/kubernetes/community/blob/master/contributors/guide/contributor-cheatsheet/README-ko.md
- https://github.com/kubernetes/community/blob/master/contributors/guide/contributor-cheatsheet/README-uk.md

This issue is done if you create https://github.com/kubernetes/community/blob/m

[2020-05-18 15:29] JoelColledge opened #21051 "Deprecated flags are recommended on k8s.io/docs/reference/scheduling/policies/"
**This is a Bug Report**

**Problem:**

The documentation recommends configuring `kube-scheduler` with `--policy-config-file` or `--policy-configmap` which are [deprecated](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-scheduler/).

**Proposed Solution:**

Replace the instructions with a solution which is not deprecated. I'm haven't yet been able to find out what the recom

[2020-05-18 15:30] Arhell commented on #21017
done
/close

[2020-05-18 15:30] #21017 closed

[2020-05-18 15:40] sftim commented on #17232
Still worth documenting
/remove-lifecycle stale

[2020-05-18 15:52] sftim commented on #21051
It sounds like it might be OK to revise https://kubernetes.io/docs/reference/scheduling/policies/ to mark the whole topic as deprecated. That's appropriate if this kind of configuration is indeed deprecated; I have _not_ checked that.

[2020-05-18 15:53] sftim commented on #21051
/sig scheduling
/priority backlog
/language en

[2020-05-18 15:54] sftim commented on #21049
Thanks for reporting this
/kind bug
/language en
/priority backlog

[2020-05-18 15:54] sftim commented on #21039
/kind bug
/priority backlog

[2020-05-18 15:55] sftim commented on #21014
/kind cleanup
/language en
/priority backlog

[2020-05-18 15:58] sftim commented on #21022
Aside / good news (everyone)! The switch to Docsy should help with this.

[2020-05-18 16:58] fabriziopandini commented on #13998
@sftim thanks! PR in flight

[2020-05-18 18:52] OJFord commented on #15319
/remove-lifecycle stale

[2020-05-18 21:19] korney4eg opened #21052 "Rendering issue on /docs/setup/production-environment/tools/kubeadm/high-availability/#steps-for-the-first-control-plane-node"
**This is a Bug Report**

**Problem:**
Page is not rendered properly
Here is screenshot:
<img width="957" alt="image" src="https://user-images.githubusercontent.com/1872070/82260650-f46cca00-995d-11ea-9f50-48b6cf04957b.png">

**Proposed Solution:**
N/A
**Page to Update:**
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/high-availability/#steps-for-the-first-control-plane-node

[2020-05-18 21:39] neolit123 commented on #21052
thanks for the report.

/sig docs cluster-lifecycle
cc @sftim @jimangel

[2020-05-18 21:39] neolit123 commented on #21052
/kind bug

[2020-05-19 03:35] #18210 closed

[2020-05-19 06:48] Vishal700-cmd opened #21055 "how to see the .minikube file in linux Issue with k8s.io/docs/setup/learning-environment/minikube/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-05-19 06:57] JianmingXia opened #21056 "Issue with k8s.io/zh/docs/reference/command-line-tools-reference/kube-proxy/"
markdown formatting：
![image](https://user-images.githubusercontent.com/9691577/82294592-f6c43800-99e0-11ea-8423-aa2dee9455bf.png)

[2020-05-19 08:43] tengqm commented on #21056
fix is on the way: https://github.com/kubernetes/website/pull/21011

[2020-05-19 09:27] harik8 opened #21057 "Copy to Clipboard copies with the title"
**This is a Bug Report**

When I click on copy to clipboard it copies with the title
[code]

**Proposed Solution:**
It'd be nice if it's only copies the yaml content.

**Page to Update:**
https://kubernetes.io/...

[2020-05-19 10:51] skrtks opened #21062 "Issue with k8s.io/docs/setup/learning-environment/minikube/"
**This is a Bug Report**

**Problem:**
When enabling the ingress addon through "minikube addons enable ingress", the controller seems to start. However, when checking if the controller is running through "kubectl get pods -n kube-system", the status appears as ErrImagePull and the controller is not running.
**Proposed Solution:**
-
**Page to Update:**
https://kubernetes.io/...

[2020-05-19 11:05] #21062 closed

[2020-05-19 11:37] sftim commented on #21030
/triage support

[2020-05-19 11:38] sftim opened #21063 "“Download Kubernetes” section has no download link"
**This is a Bug Report**

**Problem:**
[Kubernetes Documentation](https://kubernetes.io/docs/home/) has a heading, “Download Kubernetes”. However, this heading isn't followed by a button labelled _Download_ as you might expect. Instead, there are links to the release notes.

**Proposed Solution:**
Either:
- Rename the heading to “Release Notes”(?)
_or_
- Add a button (maybe using a shortcode), _Do

[2020-05-19 11:39] sftim commented on #21057
Thanks for reporting this @barik8
/kind bug
/priority important-longterm

[2020-05-19 11:40] sftim commented on #21056
/language zh

[2020-05-19 11:40] sftim commented on #21055
Hi @Vishal700-cmd

Would you be willing to describe the bug you encountered?

[2020-05-19 11:41] sftim commented on #18730
/remove-lifecycle rotten

[2020-05-19 16:13] sharet-adl opened #21066 "Issue with k8s.io/docs/tasks/debug-application-cluster/debug-service/"
**This is a Bug Report**

**Problem:**
Sample with yaml code are not rendered properly.
Example:
- "Note: This is the same as if you had started the Deployment with the following YAML: ..."
![image](https://user-images.githubusercontent.com/57949742/82350211-b9bd6d00-9a03-11ea-81b1-d82bc1c5362e.png)
- "Note: As before, this is the same as if you had started the Service with YAML:"

Might be relate

[2020-05-19 16:58] celestehorgan commented on #20921
@irvifa – Rebased just now.

[2020-05-19 17:12] bradtopol opened #21068 "Update PR Wrangler document to relax style guide requirements on contributions"
At the quarterly planning meeting we agreed that we should update the PR wrangler document to be more relaxed about contributed PRs that are solid content but don't exactly meet to the style guide requirements. This was requested to help keep contributions flowing in since we are short staffed.   I plan on making this update to the document.

[2020-05-19 17:12] bradtopol commented on #21068
/assign

[2020-05-19 17:12] bradtopol commented on #21068
/cc @zacharysarah @jimangel

[2020-05-19 18:18] ialidzhikov commented on #18410
Alibaba cloud is now part of the cloud providers page - ref https://github.com/kubernetes/website/pull/20858.

[2020-05-19 18:18] ialidzhikov commented on #18410
/remove-lifecycle rotten

[2020-05-19 18:19] ialidzhikov commented on #18410
/close

[2020-05-19 18:19] ialidzhikov commented on #18410
cc @sftim for `/close`

[2020-05-19 19:36] redcricket opened #21071 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/"
**This is a Bug Report**

**Problem:**
I am not able to install kubeadm

I followed the instructions in the documentation yet I am not able to install the kubeadm RPM on my RHEL7 system.  Here is my /etc/yum.repos.d/kubernetes.repo

[code]

And when I execute (as root):

[code]

I get this output:

[code]

The problem seem to be that the yum repo on the yum server does not have any packages.

If I

[2020-05-19 20:15] neolit123 commented on #21071
duplicate of https://github.com/kubernetes/kubernetes/issues/90158
please watch that ticket.

in the meantime i will try the install steps myself.

/close

[2020-05-19 20:15] #21071 closed

[2020-05-19 21:30] neolit123 commented on #21040
this appears to be another case of Hugo converting `--` to unicode dashes?

the original source code has `--disableexcludes`
https://github.com/kubernetes/website/blame/master/content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md#L208

but the render has:
`... –disableexcludes ...`
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/

we ha

[2020-05-19 22:11] kbhawkey commented on #21040
I previously logged, https://github.com/kubernetes/website/issues/20915.

[2020-05-19 22:13] neolit123 commented on #21040
ack, let's close this ticket.
thanks

/close

[2020-05-19 22:14] #21040 closed

[2020-05-20 00:24] oke-py opened #21075 "content/ja/docs/concepts/overview/working-with-objects/annotations.md is outdated"
**This is a Feature Request**

**What would you like to be added**
Update content/ja/docs/concepts/overview/working-with-objects/annotations.md to follow the en updates.

**Why is this needed**
content/ja/docs/concepts/overview/working-with-objects/annotations.md is outdated.

**Comments**
/language ja
/assign
diff
https://gist.github.com/oke-py/2208bb46c1c60e6aa1af13b27e7848af

[2020-05-20 02:59] prasadkatti commented on #21055
@Vishal700-cmd - `.minikube` is a directory, not a file. It should be located in your home directory. You can `cd` to it -
`$ cd ~/.minikube/`
/triage support
/close

[2020-05-20 03:03] prasadkatti commented on #21063
If we wanna go with either option 1 or option 3, I can help with that. Not sure what is the best way to automagically keep the link updated in option 2. Is there some Hugo site param that can be used for that?

[2020-05-20 05:10] prasadkatti commented on #21057
The code that copies the text to the clipboard is here -
https://github.com/kubernetes/website/blob/b3c961df2f442dced554f1bd32a728a285f5a282/static/js/script.js#L20-L52

[2020-05-20 05:20] prasadkatti commented on #21057
This line -
https://github.com/kubernetes/website/blob/b3c961df2f442dced554f1bd32a728a285f5a282/static/js/script.js#L34
needs to be something like -
`target.value = document.getElementById(elem).getElementsByTagName("tbody")[0].innerText;`
in order to avoid the file name from the `<thead>` element. The `elem` here is the `<table>` element.

[2020-05-20 05:27] amitsaha opened #21079 "Issue with k8s.io/docs/concepts/policy/pod-security-policy/"
**This is a Bug Report**

**Problem:**

Clarification on the wording related to the order of application of multiple matching policies. In the [section on policy order](https://kubernetes.io/docs/concepts/policy/pod-security-policy/#policy-order), the first point is:

1. PodSecurityPolicies which allow the pod as-is, without changing defaults or mutating the pod, are preferred. The order of these

[2020-05-20 06:20] #20991 closed

[2020-05-20 08:54] #18874 closed

[2020-05-20 10:45] JoelColledge commented on #21051
It looks like the topic isn't entirely deprecated, the way that the configuration is provided has just been changed radically. Something to do with a shift to "ComponentConfig".

See [here](https://stackoverflow.com/questions/47966440/how-to-create-a-config-file-for-kube-scheduler-to-use-by-the-config-argument?rq=1) for the new approach. And [here](https://gist.github.com/everpeace/3438a70b14cfd72

[2020-05-20 10:56] JoelColledge commented on #21051
Maybe the policy format is still [the one linked from the existing documentation](https://pkg.go.dev/k8s.io/kube-scheduler@v0.18.0/config/v1?tab=doc#Policy) and the available predicates and priorities are still the ones [documented](https://kubernetes.io/docs/reference/scheduling/policies/).

If that is the case, the only change needs to be adding documentation for how to refer to the policy confi

[2020-05-20 11:06] #20756 closed

[2020-05-20 11:58] sftim commented on #21079
/language en

[2020-05-20 11:59] sftim commented on #21068
/kind cleanup
/priority important-soon

[2020-05-20 11:59] sftim commented on #21029
/kind bug

[2020-05-20 11:59] sftim commented on #21029
/language en

[2020-05-20 14:19] pjhwa opened #21082 "Translate manage-resources/memory-constraint-namespace.md into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/administer-cluster/manage-resources/memory-constraint-namespace.md into Korean.

**Why is this needed**

There is no document of tasks/administer-cluster/manage-resources/memory-constraint-namespace.md which translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/tasks/administer-cluste

[2020-05-20 14:19] pjhwa commented on #21082
/assign

[2020-05-20 14:20] pjhwa opened #21083 "Translate manage-resources/cpu-default-namespace.md into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/administer-cluster/manage-resources/cpu-default-namespace.md into Korean.

**Why is this needed**

There is no document of tasks/administer-cluster/manage-resources/cpu-default-namespace.md which translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/tasks/administer-cluster/manage-res

[2020-05-20 14:20] pjhwa commented on #21083
/assign

[2020-05-20 14:21] pjhwa opened #21084 "Translate manage-resources/memory-default-namespace.md into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/administer-cluster/manage-resources/memory-default-namespace.md into Korean.

**Why is this needed**

There is no document of tasks/administer-cluster/manage-resources/memory-default-namespace.md which translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/tasks/administer-cluster/mana

[2020-05-20 14:21] pjhwa commented on #21084
/assign

[2020-05-20 14:22] pjhwa opened #21085 "Translate manage-resources/quota-memory-cpu-namespace.md into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/administer-cluster/manage-resources/quota-memory-cpu-namespace.md into Korean.

**Why is this needed**

There is no document of tasks/administer-cluster/manage-resources/quota-memory-cpu-namespace.md which translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/tasks/administer-cluster/

[2020-05-20 14:22] pjhwa commented on #21085
/assign

[2020-05-20 14:23] pjhwa opened #21086 "Translate manage-resources/quota-pod-namespace.md into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/administer-cluster/manage-resources/quota-pod-namespace.md into Korean.

**Why is this needed**

There is no document of tasks/administer-cluster/manage-resources/quota-pod-namespace.md which translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/tasks/administer-cluster/manage-resourc

[2020-05-20 14:23] pjhwa commented on #21086
/assign

[2020-05-20 15:28] RiRa12621 commented on #19149
/close

[2020-05-20 15:28] #19149 closed

[2020-05-20 17:50] sftim commented on #21063
@prasadkatti let's go with a thing we _can_ implement, and if someone (you? me?) feels strongly they can log a new issue to track the idea of making it even better.

[2020-05-20 18:03] abhiTamrakar commented on #19165
preventing it from rotting, since the PR is WIP

/remove-lifecycle stale

[2020-05-20 18:35] Arhell opened #21093 "Subscribe button translation"
**This is a Feature Request**

**What would you like to be added**
https://kubernetes.io/#kubeweekly

/assign
/language pl

[2020-05-21 00:02] shikha0208 opened #21095 "Issue with k8s.io/docs/tasks/access-application-cluster/connecting-frontend-backend/"
Issue description:
While following all the steps in kubernetes document for connecting back-end to the front-end via service.

I get external IP as **localhost** instead of an IP.

Kindly clear me if anyone [knows.]

PFA
![image](https://user-images.githubusercontent.com/63613092/82509050-19e90780-9b07-11ea-9a5b-e48e85059d24.png)

[2020-05-21 01:57] bluefriday opened #21097 "Translate tasks/debug-application-cluster/determine-reason-pod-failure into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/debug-application-cluster/determine-reason-pod-failure into Korean.

**Why is this needed**

There is no documents with tasks/debug-application-cluster/determine-reason-pod-failure into Korean .

**Comments**

https://kubernetes.io/docs/tasks/debug-application-cluster/determine-reason-pod-failure/

[2020-05-21 01:57] bluefriday commented on #21097
/language ko
/assign

[2020-05-21 02:09] oke-py opened #21098 "content/ja/docs/concepts/overview/working-with-objects/common-labels.md is outdated"
**This is a Feature Request**

**What would you like to be added**
Update content/ja/docs/concepts/overview/working-with-objects/common-labels.md to follow the en updates.

**Why is this needed**
content/ja/docs/concepts/overview/working-with-objects/common-labels.md is outdated.

**Comments**
/language ja
/assign
diff
https://gist.github.com/oke-py/55660311c73b20b842b34068c7b67de0

[2020-05-21 03:19] Blowfisher opened #21100 "Improvement for k8s.io/zh/docs/tasks/service-catalog/install-service-catalog-using-helm/"
Helm's version has upgraded to v3.

[2020-05-21 04:23] #17170 closed

[2020-05-21 08:35] vitalyzhakov commented on #18598
@sftim , hello!
Russian translation exists https://github.com/cncf/foundation/blob/master/code-of-conduct-languages/ru.md
Maybe we must create link to original document?

[2020-05-21 09:28] #19102 closed

[2020-05-21 10:07] anilkumarmd opened #21105 "cp: cannot stat '/etc/kubernetes/admin.conf': No such file or directory"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-05-21 11:38] remyleone commented on #19188
/remove-lifecycle stale

[2020-05-21 11:45] Kartik494 commented on #21105
i think this article should help https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/

[2020-05-21 12:28] sftim commented on #20915
Relates to #20335

[2020-05-21 14:43] neolit123 commented on #21105
please use support channels for general help / questions, thanks.
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/triage support
/close

[2020-05-21 14:43] #21105 closed

[2020-05-21 15:55] divyabhushan commented on #21029
@korney4eg thanks for your feedback.
Kindly refer to PR#21046 for the solution.

[2020-05-21 15:56] chrisUsick opened #21109 "Issue with k8s.io/docs/reference/command-line-tools-reference/kubelet/"
**This is a Bug Report**

Hi, I couldn't find documentation for this anywhere.

**Problem:**

There is no link to the KubletConfiguration type in the kubelet component documentation even though it states that all CLI flags are deprecated.

**Proposed Solution:**

Add a link to the [goDoc type](https://godoc.org/k8s.io/kubelet/config/v1beta1#KubeletConfiguration) so that one can find the equivalent

[2020-05-21 19:38] #14810 closed

[2020-05-21 19:44] jennbriden opened #21113 "Issue with k8s.io/docs/tutorials/hello-minikube/"
**This is a Bug Report**

**Problem:**
Text formatting issue under the **Create a Minikube cluster** heading. The text `<blockquote class="note">` is listed erroneously (this appears to be a simple authoring/build issue with the content.

**Proposed Solution:**
Fix the typo or the build issue for this section of the page.

**Page to Update:**
https://kubernetes.io/docs/tutorials/hello-minikube/

[2020-05-21 19:57] prasadkatti commented on #21100
/language zh

[2020-05-21 23:42] #18265 closed

[2020-05-22 00:11] playerla commented on #20558
Hello world tutorial https://kubernetes.io/fr/docs/tutorials/hello-minikube/ still doesn't work with this error.
Please fixe it, proposing a quick start sandbox which doesn't work isn't a great user experience.

[2020-05-22 04:15] oke-py opened #21118 "content/ja/docs/concepts/overview/working-with-objects/namespaces.md is outdated."
**This is a Feature Request**

**What would you like to be added**
Update content/ja/docs/concepts/overview/working-with-objects/namespaces.md to follow the en updates.

**Why is this needed**
content/ja/docs/concepts/overview/working-with-objects/namespaces.md is outdated.

**Comments**
/language ja
/assign
diff
https://gist.github.com/oke-py/bcfd695272c2c62d0cdfd625edb43a59

[2020-05-22 07:05] bgopalakrishnan1986 opened #21126 "Hyperlink issue on "Go to Certification" button on CKA course"
Hyperlink issue on "Go to Certification" button on CKA course

Page Link: https://kubernetes.io/training/

Github Link: https://github.com/kubernetes/website/blob/master/content/en/training/_index.html

We are missing a double quotes on the href value at the starting, due to that the link on the website has a unnecessary double quotes at the end, but it gets redirected correctly without any issues

[2020-05-22 08:03] oke-py commented on #21037
/close

[2020-05-22 08:03] #21037 closed

[2020-05-22 08:28] fabriziopandini commented on #20954
PR merged
/close

[2020-05-22 08:28] #20954 closed

[2020-05-22 11:07] JoelColledge commented on #21051
According to https://pkg.go.dev/k8s.io/kubernetes/pkg/scheduler/apis/config?tab=doc#KubeSchedulerConfiguration `AlgorithmSource` is being deprecated, and in a Slack conversation it was confirmed that the whole Predicates/Priorities approach is being deprecated in favor of the [Profiles/Plugins approach](https://kubernetes.io/docs/reference/scheduling/profiles/). So it seems that @sftim was right i

[2020-05-22 11:56] oke-py commented on #19245
/remove-lifecycle stale
/assign

[2020-05-22 12:04] oke-py commented on #19239
/close

[2020-05-22 12:04] #19239 closed

[2020-05-22 12:55] #18085 closed

[2020-05-22 14:29] divyabhushan commented on #21126
Hello @nikhita
I would like to close this issue. Could you please mention the link to the issue transferred, as it doesn't show up in the Kubernetes/community 'issues' section.
Thanks.

[2020-05-22 14:33] nikhita commented on #21126
@divyabhushan Has this issue been fixed or do you mean that you'd like to work on it? :)

I transferred the issue using the [GitHub issue transfer feature](https://help.github.com/en/github/managing-your-work-on-github/transferring-an-issue-to-another-repository). This moves the issue from the kubernetes/community repo to the kuberntes/website repo directly, so it won't be visible in the issues li

[2020-05-22 14:38] divyabhushan commented on #21126
Thanks @nikhita
/assign @divyabhushan

[2020-05-22 15:07] JoelColledge opened #21128 "Show how to use scheduling profiles on k8s.io/docs/concepts/scheduling-eviction/kube-scheduler/"
**This is a Feature Request**

**What would you like to be added**

The Predicates/Priorities (also called filtering/scoring) approach to configuring `kube-scheduler` is being deprecated in favor of the Plugins approach. Currently the Plugins approach is sparsely documented. An example of how to configure it would be fantastic.

**Why is this needed**

It is currently hard to find out how to confi

[2020-05-22 15:21] #20323 closed

[2020-05-22 15:47] jygastaud commented on #16571
I like the @feloy idea.
It doesn't change almost anything for current workflow and give translator the ability to have better / advanced workflow.

Also, it can also be an important information for newcomer to be able to upgrade outdated doc.

/remove-lifecycle rotten

[2020-05-22 16:46] rmohta commented on #21113
/labels language/en
/assign

[2020-05-22 17:13] sftim commented on #21128
If you're documenting a “how to” guide for configuring the scheduler and its plugins, I recommend adding that to the [Tasks](https://kubernetes.io/docs/tasks/) section.

[2020-05-22 17:14] sftim commented on #21128
/priority backlog
/sig scheduling
/language en

[2020-05-22 17:15] sftim commented on #21051
So, it sounds like to resolve this issue it's enough to add a note to https://kubernetes.io/docs/reference/scheduling/policies/ to indicate that these policies are deprecated.

Have I got that right?

[2020-05-22 17:28] sftim opened #21129 "Document workload controller revision resources"
**This is a Feature Request**

**What would you like to be added?**
Add a concept page that documents [ControllerRevision](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#controllerrevision-v1-apps)

**Why is this needed?**
It's useful for readers to understand that resources like DaemonSet and StatefulSet support rollbacks using ControllerRevision, and that these revisions ar

[2020-05-22 17:41] sftim commented on #21126
/kind bug
/language en
/priority backlog

[2020-05-22 17:42] sftim commented on #21126
/close
Fixed in #21127

[2020-05-22 17:42] #21126 closed

[2020-05-22 17:43] sftim commented on #21113
Relevant to issue #20335

[2020-05-22 17:43] sftim commented on #21113
/language en
/kind bug
/priority important-longterm

[2020-05-22 17:44] sftim commented on #21095
This might be correct. Can you outline how you set up the cluster that you used to run through this task @shikha0208 ?

/triage needs-information

[2020-05-22 17:44] sftim commented on #21066
Relevant to issue #20335

[2020-05-22 17:53] sftim opened #21130 "Migrate built-in node label list into Reference section"
**This is a cleanup request**

**Problem:**
https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#built-in-node-labels is reference-type information that appears inside an already long concept page.

**Proposed Solution:**
Migrate https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#built-in-node-labels (the heading and the following section) to be within
htt

[2020-05-22 18:10] sftim opened #21133 "Drop direct link to now-dated blog article"
**This is a clean up request**

**Problem:**
[Connecting Applications with Services](https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/) hyperlinks to
[Strong, Simple SSL for Kubernetes Services](https://kubernetes.io/blog/2015/07/strong-simple-ssl-for-kubernetes) which is now rather dated.

**Proposed Solution:**
Remove the sentence that links to https://kuberne

[2020-05-22 20:05] Arhell opened #21135 "Subscribe button translation"
**This is a Feature Request**

**What would you like to be added**
https://kubernetes.io/#kubeweekly

/assign
/language zh

[2020-05-22 23:17] oke-py commented on #21118
/close

[2020-05-22 23:17] #21118 closed

[2020-05-22 23:18] oke-py commented on #21098
/close

[2020-05-22 23:18] #21098 closed

[2020-05-23 03:15] MagikLau opened #21138 "Issue with k8s.io/zh/docs/reference/setup-tools/kubeadm/kubeadm-reset/"
**This is a Bug Report**

**Problem:**
Web page elements look wrong.
![image](https://user-images.githubusercontent.com/22516902/82720440-48710900-9ce6-11ea-9db6-49f872df5201.png)

**Page to Update:**
https://kubernetes.io/zh/docs/reference/setup-tools/kubeadm/kubeadm-reset/

[2020-05-23 03:51] oke-py opened #21139 "Issue with k8s.io/docs/tasks/access-application-cluster/web-ui-dashboard/"
**This is a Bug Report**

**Problem:**

The `entrypoint command` link navigates to https://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/#containers-and-commands .
However, there is no ID `#containers-and-commands`.

**Proposed Solution:**

It would probably be fine to replace the link `/docs/user-guide/containers/#containers-and-commands` with `/docs/tasks/inj

[2020-05-23 03:59] prasadkatti commented on #21138
/language zh

[2020-05-23 06:36] #20009 closed

[2020-05-23 08:23] divyabhushan commented on #21139
/assign @divyabhushan

[2020-05-23 10:07] Arhell opened #21142 "Training page big indent"
**This is a Bug Report**

On mobile devices and tablets, there is a very large indent due to iframe

**Problem:**
![1](https://user-images.githubusercontent.com/26163841/82727950-4f077c80-9cf6-11ea-8bf3-71140d952ded.jpg)

**Proposed Solution:**
need to discuss

**Page to Update:**
https://kubernetes.io/training/

/language en
/kind bug

[2020-05-23 10:08] Arhell commented on #21142
/help

[2020-05-23 12:21] pjhwa opened #21144 "Translate docs/reference/issues-security/_index.md into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate docs/reference/issues-security/_index.md into Korean.

**Why is this needed**

There is no document of docs/reference/issues-security/_index.md which translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/ko/docs/reference/
/language ko

[2020-05-23 12:21] pjhwa commented on #21144
/assign

[2020-05-23 12:55] mig4 commented on #19199
I think this is still a valid question, I'm happy to sumbit a PR once somebody checks my reasoning and we can come up with a clearer example.

[2020-05-23 14:07] nevermyuk commented on #16199
/remove-lifecycle rotten.

[2020-05-23 15:01] kbhawkey opened #21147 "access control image not rendering on page"
**This is a Bug Report**
The access control overview image on page, https://kubernetes.io/docs/reference/access-authn-authz/controlling-access/, is not displaying.

[code]

**Problem:**
Problem rendering image or missing image.

**Proposed Solution:**
Investigate if the image is available from remote site.

**Page to Update:**
https://kubernetes.io/docs/reference/access-authn-authz/controlling-acc

[2020-05-23 15:44] sftim commented on #21147
/kind bug

https://d33wubrfki0l68.cloudfront.net/673dbafd771491a080c02c6de3fdd41b09623c90/50100/images/docs/admin/access-control-overview.svg renders for me when I try to fetch it.

[2020-05-23 15:46] sftim commented on #21147
Also, https://kubernetes.io/docs/reference/access-authn-authz/controlling-access/ renders OK.

Maybe this was a Netlify blip?

[2020-05-23 15:51] #21113 closed

[2020-05-23 17:03] kbhawkey commented on #21147
Hi @sftim. Thanks for checking.
I tried again, but the image is not rendering for me.
Also tried to view the page from a mobile browser.

[2020-05-23 17:04] shikha0208 commented on #21095
I was doing this in the local machine , not deployed in any cluster.I have to still deploy and i assumed i would get the external IP while port forwarding.
I will check after deployement.

[2020-05-23 17:04] #21095 closed

[2020-05-23 17:05] neildcruz opened #21149 "Issue with k8s.io/docs/tasks/"
**This is a Bug Report**

**Problem:** The tasks page on the documentation site says _"This section of the Kubernetes documentation contains pages that show how to do individual tasks"_ But, none of the links lead to pages with any descriptions. They just have one-liners under the headers. I'm guessing there are some missing/broken links on this page.

[2020-05-23 17:54] sftim opened #21152 "Review and tidy “Node-specific Volume Limits”"
**This is a clean up request**

**Problem:**
Node-specific volume limits are now implemented via dynamic volume limits; that is, or seems to be, the approach that all storage plugins should use in the future.

**Proposed Solution:**
- Revise this page to show dynamic volume limits as the stable and recommended implementation.
- Drop details of limits that are specific to cloud providers. If it's n

[2020-05-23 22:40] prasadkatti commented on #21147
Renders properly for me too on mobile.

[2020-05-23 23:07] madz0 commented on #20286
Hi @Kartik494 thanks for the reply. Emm, so weird! Do you use the same version as mine? Any thoughts for my case?

[2020-05-23 23:18] prasadkatti commented on #19846
Another idea would be to look using mermaid.js to create the diagram. That would make updates to the diagram rather easy.

[2020-05-23 23:42] prasadkatti commented on #16866
FWIW, you can upgrade minikube clusters by providing kubernetes version to the start command, like so -
`minikube start --kubernetes-version=latest`

https://minikube.sigs.k8s.io/docs/handbook/controls/
Link to minikube issue - [Document upgrading a cluster](https://github.com/kubernetes/minikube/issues/6122)

[2020-05-24 00:26] prasadkatti commented on #15539
This seems to happen when the first item in a section/list page is itself a list.

[2020-05-24 02:16] oke-py commented on #21139
/close

[2020-05-24 02:17] #21139 closed

[2020-05-24 04:03] #18672 closed

[2020-05-24 04:04] jsonpang commented on #18672
close

[2020-05-24 10:09] sftim commented on #20485
@takeoffnyc can you clarify https://github.com/kubernetes/website/issues/20485#issuecomment-621502220? (which issue does this duplicate?)

[2020-05-24 10:13] sftim commented on #15539
#20874 is likely to fix this, BTW

[2020-05-24 10:24] Arhell commented on #21093
done
/close

[2020-05-24 10:24] #21093 closed

[2020-05-24 10:57] sftim opened #21161 "Wrong quoting in “DNS for Services and Pods”"
**This is a Bug Report**

**Problem:**
In [DNS for Services and Pods](https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/), the sentence:

has the wrong quotes (too many closing quotes).

**Proposed Solution:**
Fix the markdown to make the quotes look right

**Page to Update:**
https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#feature-availability

**Add

[2020-05-24 11:08] Kartik494 commented on #20286
@madz0  i m using version :
Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.3", GitCommit:"06ad960bfd03b39c8310aaf92d1e7c12ce618213", GitTreeState:"clean", BuildDate:"2020-02-11T18:14:22Z", GoVersion:"go1.13.6", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.0", GitCommit:"70132b0f130acc0bed193d9ba59dd186f0e634cf",

[2020-05-24 12:28] divyabhushan commented on #21161
/assign @divyabhushan

[2020-05-24 12:43] #13998 closed

[2020-05-24 13:20] korney4eg commented on #21029
true, point (2) is fixed. Could you also please check out point (5) in the same paragraph?
![image](https://user-images.githubusercontent.com/1872070/82755142-06bd8c80-9dd2-11ea-9bab-8df3c9c55bdd.png)

[2020-05-24 14:02] divyabhushan commented on #21029
Hello @korney4eg
Sure, I was waiting to make this change and was waiting for approval:
https://github.com/kubernetes/website/pull/21046

I would also like to edit/fix rendering issues in ->
point 5: Grant super-user access to all service accounts cluster-wide (strongly discouraged).
Should I merge the change in the same PR or create a separate PR?

Thanks.

[2020-05-24 15:02] bgopalakrishnan1986 commented on #21126
Thanks team, it was quick considering the issues and features, amazing.

[2020-05-24 15:10] Arhell commented on #21135
done
/close

[2020-05-24 15:10] #21135 closed

[2020-05-24 17:27] Leanneknott51 opened #21165 "Issue with k8s.io/docs/reference/access-authn-authz/admission-controllers/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-05-24 17:47] #18126 closed

[2020-05-24 17:47] #18302 closed

[2020-05-24 22:48] sftim commented on #21165
Hi @Leanneknott51

Can you confirm what isn't right about https://k8s.io/docs/reference/access-authn-authz/admission-controllers/?

/triage needs-information

[2020-05-24 22:50] sftim commented on #19081
Done!
/close

[2020-05-24 22:51] sftim commented on #18755
Issue #21149 is similar

/remove-lifecycle rotten

[2020-05-24 22:52] sftim commented on #8402
I'm going to
/reopen
this again; it's still relevant to #18755

/remove-lifecycle rotten
/lifecycle frozen

[2020-05-24 22:53] sftim commented on #21149
Would it be OK to close this issue in favor of issue #8402?

[2020-05-24 22:57] sftim commented on #2103
My view is that the rename should happen first in the StatefulSet implementation itself, and then the docs can follow.

[2020-05-24 23:08] sftim commented on #15444
I think you can only assign to people who have joined the Kubernetes organization on GitHub

/assign @abhiTamrakar

[2020-05-24 23:57] oke-py opened #21168 "content/ja/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html is outdated"
**This is a Feature Request**

**What would you like to be added**
Update content/ja/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html to follow the en updates.

**Why is this needed**
content/ja/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html is outdated.

**Comments**
/language ja
/assign
diff
https://gist.github.com/oke-py/00d473105d39d586a252b4653a1621c2

[2020-05-25 00:06] #20769 closed

[2020-05-25 00:22] sftim commented on #21133
Fixed in PR #21157
/close

[2020-05-25 00:23] #21133 closed

[2020-05-25 00:30] sftim commented on #20207
/close

Thanks @Nishikoh

[2020-05-25 00:30] #20207 closed

[2020-05-25 01:33] Ming9 opened #21171 "language selection menu in kubernetes.io is obscured"
**This is a Bug Report**

**Problem: On the IE11, the language selection menu in kubenetes.io is obscured
- OS : Windows 10 Enterprise 64bit
-  IE version : 11,1488
![ie11_issue](https://user-images.githubusercontent.com/6326130/82770283-f4dff600-9e72-11ea-8d54-380304efa205.png)

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-05-25 08:41] nevermyuk commented on #16199
/remove-lifecycle rotten

[2020-05-25 10:28] sonogithub opened #21180 "Issue with k8s.io/docs/reference/using-api/api-overview/"
**This is a Bug Report**

Doc bug referring to https://kubernetes.io/docs/reference/using-api/api-overview/

The page at  about 1/2 way down has a note with a link to github:
_"Note: The API versioning and software versioning are indirectly related. The API and release versioning proposal describes the relationship between API versioning and software versioning."_

The link referenced in the note

[2020-05-25 13:03] Arhell commented on #21142
/assign @Arhell

[2020-05-25 13:18] neilghosh opened #21184 "Issue with --driver=none flag in k8s.io/docs/tasks/tools/install-minikube/"
**This is a Bug Report**

**Problem:**
The documentation for linux says
--driver=none

**Proposed Solution:**
Correct command is (For Linux)
--vm-driver=none

**Page to Update:**
https://kubernetes.io/docs/tasks/tools/install-minikube/

[2020-05-25 14:57] divyabhushan commented on #21029
Hello @korney4eg , thanks for the review.

Done.
PR: [#21186](https://github.com/kubernetes/website/pull/21186)

/assign @korney4eg

[2020-05-25 15:11] alculquicondor commented on #21128
note https://kubernetes.io/docs/reference/scheduling/profiles/

[2020-05-25 15:11] alculquicondor commented on #21128
Please add me in the reviews

[2020-05-25 15:27] Arhell commented on #21142
/remove-help

[2020-05-25 18:11] sftim commented on #21171
Thanks for reporting this.
(I checked and Microsoft still [support Internet Explorer](https://www.microsoft.com/en-us/microsoft-365/windows/end-of-ie-support) at version 11)

/priority backlog

[2020-05-25 18:13] sftim commented on #21184
Hi @neilghosh

Can you confirm what version of Minikube you're using? Older versions did use the command line option name `--vm-driver`.

[2020-05-25 18:14] sftim commented on #21180
That seems valid
/kind bug
/priority backlog

[2020-05-25 18:14] ra257020 commented on #15317
I also got the same issue as Kartik494. How to solve this?

[2020-05-25 18:18] bodote commented on #18079
in fact, if you use
"kubectl edit deployment/kubernetes-bootcamp"
which opens a vim with the deployment description , you see in fact that:
[code]
is set

[2020-05-25 18:24] abhiTamrakar commented on #19165
/assign @abhiTamrakar

[2020-05-25 19:17] mszostok commented on #20461
Hi @lonial

The website is a little bit out-dated.  This will be fixed in this issue: https://github.com/kubernetes-sigs/service-catalog/issues/2633

For now you can visit https://svc-cat.io/ site to get up to date information on how to run Service Catalog.

Today we released the [0.3.0 version](https://github.com/kubernetes-sigs/service-catalog/releases/tag/v0.3.0) which supports also the k8s 1.1

[2020-05-25 20:03] korney4eg commented on #21029
looks great, @divyabhushan should I close this issue?

[2020-05-26 03:15] neilghosh commented on #21184
I installed minikube from snap, version says
`minikube version: v1.10.1
commit: 63ab801ac27e5742ae442ce36dff7877dcccb278`

[2020-05-26 03:41] sftim commented on #19264
/remove-lifecycle stale

[2020-05-26 03:45] sftim commented on #20335
I've gone through the top 100 pages and checked the ones that already work fine.

[2020-05-26 04:26] Kartik494 commented on #15317
Hi @ra257020 i think there is some issue with image , nginx run fine here
 kubectl create deployment cattle --image=nginx
o/p :- deployment.apps/cattle created

[2020-05-26 04:50] oke-py opened #21193 "Translate /docs/concepts/containers/overview/ into Japanese"
**This is a Feature Request**

**What would you like to be added**
Translate /docs/concepts/containers/overview/ into Japanese.

**Why is this needed**
This page has not been translated.

**Comments**
/language ja
/assign

[2020-05-26 06:08] divyabhushan commented on #21029
@korney4eg yes, please. Thank you.

[2020-05-26 07:11] madz0 commented on #20286
@Kartik494 I see that my client version is some versions behind yours. I'll try to update it as well. BTW I've already shared the exact error message

[2020-05-26 07:33] mikejoh commented on #20193
Hi @olavt, the PR [#20523](https://github.com/kubernetes/website/pull/20523) added a clarification when to configure the following: `sudo sysctl net.bridge.bridge-nf-call-iptables=1`. Please close this issue if you're satisfied with the changes.

Thanks!

[2020-05-26 09:13] korney4eg commented on #21029
I see that PR closed it

[2020-05-26 09:13] #21029 closed

[2020-05-26 09:24] oke-py opened #21200 "content/ja/docs/concepts/storage/dynamic-provisioning.md is outdated"
**This is a Feature Request**

**What would you like to be added**
Update content/ja/docs/concepts/storage/dynamic-provisioning.md to follow the en updates.

**Why is this needed**
content/ja/docs/concepts/storage/dynamic-provisioning.md is outdated.

**Comments**
/language ja
/assign
diff
[code]

[2020-05-26 09:38] Kartik494 commented on #20286
@madz0  yes, seems like version may be an issue here.Can you try with 1.17!

[2020-05-26 13:25] neolit123 commented on #20193
/close

[2020-05-26 13:25] #20193 closed

[2020-05-26 13:58] briandealwis opened #21204 "Taint and Tolerations note on special cases doers not render properly"
**This is a Bug Report**

**Problem:**

The [**Note** on special cases in the _Taint and Tolerations_](https://github.com/kubernetes/website/blame/master/content/en/docs/concepts/scheduling-eviction/taint-and-toleration.md#L76-L96) document is not rendered correctly:

![Screen Shot 2020-05-26 at 9 56 44 AM](https://user-images.githubusercontent.com/202851/82909389-3639d980-9f37-11ea-900e-8fea2811c

[2020-05-26 14:47] #20758 closed

[2020-05-26 17:52] sftim commented on #21184
[code]
[code]

`--driver` works for me.

[2020-05-26 17:55] sftim commented on #21204
This is related to tracking issue #20335.

The long term fix is probably along the lines of https://github.com/kubernetes/website/issues/20780

For a work-around, how about rewording the note so that it remains called out but does not use a bulleted list?

/kind bug
/language en

[2020-05-26 18:13] Arhell opened #21209 "table not responsive in blog page (post)"
**This is a Bug Report**

tables go beyond the container

**Problem:**
![1](https://user-images.githubusercontent.com/26163841/82935411-ab3bfc00-9f95-11ea-8f2f-e851a32882d3.jpg)

**Proposed Solution:**
need add responsive to table

**Page to Update:**
https://kubernetes.io/blog/

/language en
/assign

[2020-05-26 19:06] alculquicondor commented on #19081
There seems to be pending work here, like

Other than that, it seems weird that when I go to https://kubernetes.io/docs/concepts/scheduling-eviction it shows the contents of https://kubernetes.io/docs/concepts/scheduling-eviction/kube-scheduler, which has no mentions of eviction at all. Perhaps we need another page.

There seems to be another suggestions which sig-scheduling might not agree, like:

[2020-05-26 19:52] bartier opened #21212 "Issue with k8s.io/docs/tutorials/hello-minikube/"
**This is a Bug Report**

**Problem:**

Following the [hello-minikube tutorial](https://kubernetes.io/docs/tutorials/hello-minikube/) with Katacoda, I was not able to run the following command:

[code]

I executed all the commands in the order presented on the page.

**Proposed Solution:** It looks like some files should be in `/etc/kubernetes/addons` to fix this.

**Page to Update:**
https://kube

[2020-05-26 20:55] kbhawkey opened #21213 "clean up prior versions of api reference"
**This is a Feature Request**
The docs maintains a number of copies of the API reference per version.
For instance, v1.18 has directories with API reference content for:
v1.10, v1.11, v1.12, v.1.13, v1.14, v1.15, v1.16, v1.17, v1.18

After removing this content, the docs should refer to any previous API references
by linking to the snapshot version of the reference.
This will help maintain the doc

[2020-05-26 20:55] kbhawkey commented on #21213
/assign

[2020-05-26 21:57] sftim commented on #19081
I'll retroactively add the SIG label
/sig scheduling

[2020-05-26 21:58] #21204 closed

[2020-05-26 22:12] sftim commented on #21212
@BenHall this might be relevant to you

[2020-05-26 22:21] alculquicondor commented on #19081
Is this still being worked on?

[2020-05-26 23:08] oke-py opened #21218 "content/ja/docs/concepts/workloads/controllers/garbage-collection.md is outdated"
**This is a Feature Request**

**What would you like to be added**
Update content/ja/docs/concepts/workloads/controllers/garbage-collection.md to follow the en updates.

**Why is this needed**
content/ja/docs/concepts/workloads/controllers/garbage-collection.md is outdated.

**Comments**
/language ja
/assign
diff
https://gist.github.com/oke-py/da27e3e0942916a2ca6c57e158efa4a0

[2020-05-26 23:26] oke-py opened #21220 "content/ja/docs/concepts/storage/volume-snapshot-classes.md is outdated"
**This is a Feature Request**

**What would you like to be added**
Update content/en/docs/concepts/storage/volume-snapshot-classes.md to follow the en updates.

**Why is this needed**
content/ja/docs/concepts/storage/volume-snapshot-classes.md is outdated.

**Comments**
/language ja
/assign
diff
https://gist.github.com/oke-py/990b03c0e1a47239d10ef6fdf8989018

[2020-05-26 23:51] oke-py opened #21223 "content/ja/docs/tasks/debug-application-cluster/get-shell-running-container.md is outdated"
**This is a Feature Request**

**What would you like to be added**
Update content/ja/docs/tasks/debug-application-cluster/get-shell-running-container.md to follow the en updates.

**Why is this needed**
content/ja/docs/tasks/debug-application-cluster/get-shell-running-container.md is outdated.

**Comments**
/language ja
/assign
diff
https://gist.github.com/oke-py/c39af55156d03e6fc0e9bac169b2b99d

[2020-05-27 03:06] gaoguangze111 opened #21226 "Chinese page content\zh\docs\tutorials\stateless-application\expose-external-ip-address.md outdated"
**This is a Bug Report**

Chinese page content\zh\docs\tutorials\stateless-application\expose-external-ip-address.md outdated

**Problem:**
Chinese page content\zh\docs\tutorials\stateless-application\expose-external-ip-address.md is different with English version page.

**Proposed Solution:**
Update Chinese page

**Page to Update:**
https://kubernetes.io/zh/docs/tutorials/stateless-application/ex

[2020-05-27 03:12] gaoguangze111 opened #21227 "Chinese page content\zh\docs\tutorials\stateless-application\expose-external-ip-address.md outdated"
**This is a Bug Report**

Chinese page content\zh\docs\tutorials\stateless-application\expose-external-ip-address.md outdated

**Problem:**
Chinese page content\zh\docs\tutorials\stateless-application\expose-external-ip-address.md is different with English version page.

**Proposed Solution:**
Update Chinese page

**Page to Update:**
https://kubernetes.io/zh/docs/tutorials/stateless-application/ex

[2020-05-27 03:13] gaoguangze111 commented on #21227
/language zh

[2020-05-27 04:07] tengqm commented on #21226
/language zh

[2020-05-27 05:16] oke-py opened #21228 "Translate /docs/tasks/inject-data-application/define-environment-variable-container/ into Japanese"
**This is a Feature Request**

**What would you like to be added**
Translate /docs/tasks/inject-data-application/define-environment-variable-container/ into Japanese.

**Why is this needed**
This page has not been translated.

**Comments**
/language ja
/assign

[2020-05-27 06:37] Lonor opened #21230 "The page history site doesn't match the localization."
**This is a Bug Report**

**Problem:**
The page history link to GitHub doesn't match the localization language verison. All the links are linked to the en version.

**Proposed Solution:**
Update the [layouts/partials/git-info.html](https://github.com/kubernetes/website/blob/master/layouts/partials/git-info.html) by using `{{ site.Language.Lang }}` in the link of the page history.

**Page to Update

[2020-05-27 06:40] Lonor commented on #21230
/assign

[2020-05-27 08:33] HuuPhuocNguyen opened #21232 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-05-27 08:33] HuuPhuocNguyen commented on #21232
Thank you

[2020-05-27 09:39] jandevdev opened #21233 "Issue with k8s.io/docs/tasks/access-application-cluster/web-ui-dashboard/"
**This is a Bug Report**

**Problem:**
I am trying to follow the documentation to deploy the Dashboard UI but it fails at the first step when executing:
``` kubectl apply -f https://raw.githubusercontent.com/kubernetes/dashboard/v2.0.0/aio/deploy/recommended.yaml ```

It spits out the following error:
``` error: SchemaError(io.k8s.api.authorization.v1.SelfSubjectAccessReviewSpec): invalid object d

[2020-05-27 09:50] #18361 closed

[2020-05-27 10:37] gaoguangze111 commented on #21138
/assign

[2020-05-27 12:53] #18362 closed

[2020-05-27 13:50] VikasBains opened #21240 "Issue with k8s.io/docs/tutorials/stateful-application/basic-stateful-set/"
Following the document under https://kubernetes.io/docs/tutorials/stateful-application/basic-stateful-set/#updating-statefulsets

Under **"Rolling Update"** section it is said to:
*Patch the `web` StatefulSet to apply the `RollingUpdate` update strategy.*
The snippet shows that statefulset has been patched.
However, I do NOT see it to be modified to anything else earlier in the documentation. Ther

[2020-05-27 13:54] VikasBains commented on #21240
Please correct me if I am wrong.

[2020-05-27 14:26] sivagurudialpad opened #21241 "Issue with k8s.io/docs/reference/command-line-tools-reference/kubelet-authentication-authorization/"
**This is a Bug Report**

**Problem:**
Incorrect documentation for "Kubelet authentication" -- enabling apiserver client authN to kubelet.

**Proposed Solution:**
APIserver-kubelet-client.crt MUST contain "O=system:masters" as mentioned here - https://github.com/kubernetes/kubernetes/issues/63128#issuecomment-431277727.
Also the apiserver-kubelet-client.crt does NOT require any certificate extensi

[2020-05-27 16:31] bells17 commented on #19282
/assign

[2020-05-27 16:51] bells17 commented on #19282
/unassign

[2020-05-27 20:32] dwschulze opened #21246 "Issue with k8s.io/docs/tasks/manage-gpus/scheduling-gpus/"
**This is a Bug Report**

Docs say "The version of the NVIDIA drivers must match the constraint ~= 361.93"

The NVidia legacy drivers go from 340.xx to 390.xx with nothing from the 360 family.  Will this device plugin work with 390.xx or later?

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/tasks/manage-gpus/scheduling-gpus/

[2020-05-27 22:00] brianpursley opened #21250 "kubeadm reference pages Synopsis header not rendered correctly in v1.18 of reference docs"
**This is a Bug Report**

**Problem:**
When viewing kubeadm pages in the v1.18 reference docs, the "Synopsis" heading is not generated and instead, the following is shown:
[code]
![synopsis](https://user-images.githubusercontent.com/4977542/83076276-4048fe80-a043-11ea-8267-5ad63ac59974.png)

I think the synopsis text is rendering, just the header is not

**Proposed Solution:**
Fix page rendering

[2020-05-27 22:29] neolit123 commented on #21250
/sig cluster-lifecycle docs
/priority important-soon
cc @tengqm @sftim

[2020-05-27 22:29] neolit123 commented on #21250
/kind bug

[2020-05-27 23:23] kbhawkey commented on #21250
Hi @brianpursley .
Yes, this is a result of the recent Markdown parser switch.

[2020-05-28 00:55] linuxman1000 opened #21254 "Issue with k8s.io/docs/tutorials/hello-minikube/"
Click to view port on host1:  502 Bad Gateway.  Everytime.

[2020-05-28 01:16] xocolatl-aficionado opened #21255 "Issue with k8s.io/docs/concepts/configuration/secret/"
**This is a Bug Report**

**Problem:**
Are you sure [the Consuming Secret values from volumes section ](https://kubernetes.io/docs/concepts/configuration/secret/#consuming-secret-values-from-volumes) is correct? They said the secret values are stored as base64 encoded data within the files, but the kubectl exec + cat is shown to result in an actual string for username and a non-base64 encoded valu

[2020-05-28 01:37] ysyukr commented on #20535
/close

[2020-05-28 01:37] #20535 closed

[2020-05-28 02:46] gaoguangze111 commented on #21227
/assign

[2020-05-28 03:19] prasadkatti commented on #21232
Hi @HuuPhuocNguyen. Can you provide some details on what the issue is with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro/ ?

[2020-05-28 03:49] gaoguangze111 opened #21257 "Chinese page bug"
**This is a Bug Report**
Chinese page https://kubernetes.io/zh/docs/concepts/cluster-administration/certificates/ wrong number in list
![image](https://user-images.githubusercontent.com/16621880/83096793-2bb74580-a0d9-11ea-94b3-ec3b634af0ed.png)

**Problem:**
Wrong number in list
**Proposed Solution:**
Correct makrdown page
**Page to Update:**
https://kubernetes.io/zh/docs/concepts/cluster-adminis

[2020-05-28 03:52] gaoguangze111 commented on #21257
/language zh

[2020-05-28 03:52] gaoguangze111 commented on #21257
/assign

[2020-05-28 05:57] RA489 commented on #21254
@linuxman1000 I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

Tha

[2020-05-28 05:58] RA489 commented on #21254
/triage needs-information

[2020-05-28 06:12] RA489 commented on #21212
@bartier I executed for me successfully on KataKoda environment.

$ `minikube addons enable metrics-server`
* The 'metrics-server' addon is enabled
$ `minikube addons disable metrics-server`
* "The 'metrics-server' addon is disabled
$ `minikube addons list`
|-----------------------------|----------|--------------|
|         ADDON NAME          | PROFILE  |    STATUS    |
|-------------------------

[2020-05-28 06:12] RA489 commented on #21212
@bartier Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

Thank you for sharing your experience!

[2020-05-28 06:13] RA489 commented on #21212
/triage needs-information

[2020-05-28 06:16] RA489 commented on #21184
@neilghosh Minikube has deprecated `--vm-driver=none` option. You can now use `--driver=none` for your current minikube version. If you don't minikube can you please provide exact command line used.

[2020-05-28 06:17] RA489 commented on #21184
/triage needs-information

[2020-05-28 06:36] RA489 commented on #20626
/triage support

[2020-05-28 10:11] hby07 opened #21263 "Issue with k8s.io/zh/docs/tasks/tools/install-minikube/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

Linux下载安装minikube步骤不完整，没有下载步骤。

[2020-05-28 11:21] Arhell opened #21265 "Subscribe button translation"
**This is a Feature Request**

**What would you like to be added**
https://kubernetes.io/#kubeweekly

/assign
/language ko

[2020-05-28 11:22] oke-py commented on #21218
/close

[2020-05-28 11:22] #21218 closed

[2020-05-28 11:32] bartier commented on #21212
@RA489 I tested today again and got success. Guess They've updated the VM config or something else in this meantime.

I'll close this issue since the scenario is not reproduceble anymore.

Thanks!

[2020-05-28 11:32] #21212 closed

[2020-05-28 12:13] sftim commented on #21265
https://kubernetes.io/ko/#kubeweekly is already localized as far as I can see, the placeholder text is in Korean.

/close
(but feel free to reopen)

[2020-05-28 12:13] oke-py commented on #21168
/close

[2020-05-28 12:13] #21265 closed

[2020-05-28 12:13] #21168 closed

[2020-05-28 12:14] sftim commented on #21250
Relevant to issue #20335

I'd have put this one as priority important-longterm; the bug is only cosmetic.

[2020-05-28 12:16] sftim commented on #21255
https://kubernetes.io/docs/concepts/configuration/secret/#consuming-secret-values-from-volumes looks correct to me.
Can you clarify the sentence where you think the text on the page is not correct @xocolatl-aficionado ?

[2020-05-28 12:54] brianpursley commented on #21250
Agreed, it is not a major issue. I was just reading the kubeadm docs and noticed it. Feel free to close if this is tracked elsewhere.

[2020-05-28 13:46] pjhwa opened #21266 "Change the words for limit/request on the glossary"
**This is a Bug Report**

**Problem:**
용어집에 등록되어있는 `limit` / `request` 의 번역에 대해 논의가 필요합니다.
- 문장 내에서 쓰일 때 번역된 '상한'과 '요청량'이 어색하다는 의견이 있습니다.

English | 한글
-- | --
Default Limit | 기본 상한
Default Request | 기본 요청량
max limit/request ratio | 최대 상한/요청량 비율
Resource Limit | 리소스 상한

**Proposed Solution:**
`limit` / `request` 는 각각 '제한' 과 '요청' 으로 번역하고,
독자의 이해를 돕기 위해 문서 내에서 처음 사용될 때 한영병기 하는 것을 권장하는 것이 좋을 것 같습니다.

[2020-05-28 13:46] pjhwa commented on #21266
/assign

[2020-05-28 15:14] sftim commented on #21250
/remove-priority important-soon
/priority important-longterm

[2020-05-28 15:14] sftim commented on #21250
BTW #20335 is an umbrella issue

[2020-05-28 15:19] #18367 closed

[2020-05-28 17:39] xocolatl-aficionado commented on #21255
@sftim Upon looking into the contents of the password files username.txt and password.txt, don’t we expect to see base64 encoded strings like YWRtaW4=  and MWYyZDFlMmU2N2Rm? Instead the doc says its shows admin and an octal number, if i’m not wrong.

[2020-05-28 19:07] sftim commented on #21255
I don't expect to see base64 encoded strings in the files inside the container. The base64 encoding is a detail on the control plane side of things.

[2020-05-28 19:07] sftim commented on #21255
/triage support

[2020-05-28 21:29] crixo commented on #20955
nodes.md has already been translate for v1.17
https://github.com/kubernetes/website/blob/master/content/it/docs/concepts/architecture/nodes.md
the file belongs to the master branch but it still reflects the previous version.
the file is also part of the branch release-1.17
https://github.com/kubernetes/website/blob/release-1.17/content/it/docs/concepts/architecture/nodes.md
Not sure what has to be

[2020-05-28 21:34] sftim commented on #21263
/language zh

[2020-05-28 21:34] sftim commented on #21230
You're right about this
/kind cleanup
/priority important-longterm

[2020-05-28 21:35] crixo commented on #20957
/assign
/lifecycle active

[2020-05-28 21:35] sftim commented on #21232
/triage needs-information

[2020-05-28 21:36] sftim commented on #21230
Fixed in https://github.com/kubernetes/website/pull/21231
/close

[2020-05-28 21:36] #21230 closed

[2020-05-28 21:38] sftim commented on #21240
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#statefulsetupdatestrategy-v1-apps confirms that the default update strategy is now `RollingUpdate`

I presume that long enough ago there was a different default.
/kind bug
/language en
/priority important-longterm

[2020-05-28 22:11] oke-py commented on #21193
/close

[2020-05-28 22:11] #21193 closed

[2020-05-28 22:12] oke-py commented on #21220
/close

[2020-05-28 22:12] #21220 closed

[2020-05-28 22:13] oke-py commented on #21228
/close

[2020-05-28 22:13] #21228 closed

[2020-05-28 22:14] oke-py commented on #21200
/close

[2020-05-28 22:14] #21200 closed

[2020-05-28 22:42] oke-py opened #21279 "content/ja/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation.md is outdated"
**This is a Feature Request**

**What would you like to be added**
Update content/ja/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation.md to follow the en updates.

**Why is this needed**
content/ja/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation.md is outdated.

**Comments**
/language ja
/assign
diff
[code]

[2020-05-28 23:38] oke-py opened #21281 "content/ja/docs/concepts/storage/volume-pvc-datasource.md is outdated"
**This is a Feature Request**

**What would you like to be added**
Update content/ja/docs/concepts/storage/volume-pvc-datasource.md to follow the en updates.

**Why is this needed**
content/ja/docs/concepts/storage/volume-pvc-datasource.md is outdated.

**Comments**
/language ja
/assign
diff
https://gist.github.com/oke-py/3832d2e94e9fa4ce2b315fcea1175201

[2020-05-29 00:17] #21255 closed

[2020-05-29 00:34] oke-py opened #21283 "ja: Make docs/contribute/_index.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update content/ja/docs/contribute/_index.md to follow the en updates.

**Why is this needed**
content/ja/docs/contribute/_index.md is outdated.

**Comments**
/language ja
/assign
diff
https://gist.github.com/oke-py/7fc8cb5730211bb0564b272383442c52

[2020-05-29 00:53] #21144 closed

[2020-05-29 00:54] pjhwa commented on #20284
/close

[2020-05-29 00:54] #20284 closed

[2020-05-29 00:56] pjhwa commented on #20987
/close

[2020-05-29 00:56] #20987 closed

[2020-05-29 00:56] #20995 closed

[2020-05-29 00:56] #20998 closed

[2020-05-29 00:57] #21047 closed

[2020-05-29 03:03] Vstural opened #21285 "Issue with k8s.io/zh/docs/concepts/scheduling-eviction/scheduler-perf-tuning/"
**This is a Bug Report**

**Problem:**
click link in page [调度器如何遍历节点](https://kubernetes.io/zh/docs/concepts/scheduling-eviction/scheduler-perf-tuning/#how-the-scheduler-iterates-over-nodes) not jump to target content

**Proposed Solution:**
simply change the url from
[code]
to
[code]
or jump to en version

**Page to Update:**
https://kubernetes.io/...

[2020-05-29 04:10] oke-py commented on #21281
/close

[2020-05-29 04:10] #21281 closed

[2020-05-29 04:10] oke-py commented on #21279
/close

[2020-05-29 04:11] #21279 closed

[2020-05-29 06:19] Kartik494 commented on #18872
@AdimUser  Hi , you can close this issue if you find solution for kubelet flags

[2020-05-29 07:18] oke-py commented on #21283
v1.15 - v1.17 の変更は大きいですが、v1.17 - v1.18 の変更も大きいので、保留としてv1.18で追従したいと思います。

[2020-05-29 07:33] Kartik494 commented on #20918
@ishandwivedi  yes it should be (--) in version flag. i think this is problem with indentation.

[2020-05-29 07:34] oke-py commented on #21223
/close

[2020-05-29 07:34] #21223 closed

[2020-05-29 07:40] oke-py opened #21287 "content/ja/docs/home/_index.md is outdated"
**This is a Feature Request**

**What would you like to be added**
Update content/ja/docs/home/_index.md to follow the en updates.

**Why is this needed**
content/ja/docs/home/_index.md is outdated.

**Comments**
/language ja
/assign
diff
https://gist.github.com/oke-py/7dce34e3befa4272c17e5aa08518bc21

[2020-05-29 07:48] ishandwivedi commented on #20918
Hmm I’m not sure about that.
Are you able to reproduce a fix with indentation?

Regards,
Ishan

[2020-05-29 08:23] oke-py commented on #21075
/close

[2020-05-29 08:23] #21075 closed

[2020-05-29 10:09] fabriziopandini commented on #20955
@crixo up to you if to edit current translation and remove draft or restart from scratch.  It really depends by the number of changes/the quality of the current translation

[2020-05-29 13:04] jimangel commented on #20811
After looking into this more, gitGraph is _experimental_ and I crashed https://hackmd.io when testing more than 3 branches 😄  https://mermaid-js.github.io/mermaid/#/?id=git-graph-exclamation-experimental

Maybe it will be worth revisiting later. For now:
/close

[2020-05-29 13:04] #20811 closed

[2020-05-29 13:18] sftim commented on #20811
Note to future spelunkers: Mermaid also has some support for SVG export

[2020-05-29 13:31] Suhrad opened #21292 "Issue with k8s.io/docs/home/"

[2020-05-29 13:40] #18375 closed

[2020-05-29 14:35] jmyung commented on #21266
의견 드립니다.

- before : LimitRange의 속성으로 쓰이는 등의 경우를 위해 한영병기를 권장
- after : ResourceQuota, LimitRange 등의 오브젝트 속성으로  쓰이는 경우를 위해 한영병기를 권장

참고로 LimitRange 외에 ResourceQuota 에도 사용되고 있습니다.

[2020-05-29 15:29] prasadkatti commented on #21292
Hi @Suhrad . Can you please provide some details on what issue you are seeing on the home page?
/triage needs-information

[2020-05-29 15:33] prasadkatti commented on #21285
/language zh

[2020-05-29 18:25] neolit123 commented on #19167
no comments for a few months.
/close

[2020-05-29 18:25] #19167 closed

[2020-05-29 18:26] neolit123 commented on #14457
given this note here merged https://github.com/kubernetes/website/pull/20503/files

i'm going to go ahead and close this ticket.

thanks
/close

[2020-05-29 18:26] #14457 closed

[2020-05-29 18:29] neolit123 commented on #16629
/remove-sig cluster-lifecycle
potential overlap with https://github.com/kubernetes/website/issues/20888

[2020-05-29 18:31] neolit123 commented on #19927
closing as k8s does not have a "cannonical" way of setting up a cluster.
the users should use the tools documented under /setup.

/close

[2020-05-29 18:39] neolit123 commented on #14964
i'm not familiar with the authorship of this page, but it seems to fall under SIG Cloud Provider.
potentially Node / Storage too.

/remove-sig cluster-lifecycle
/sig cluster-lifecycle

[2020-05-29 18:39] neolit123 commented on #14964
/sig cloud-provider

[2020-05-29 20:18] zorro786 opened #21293 "Additional configuration needed in Multiple Schedulers Tutorial"
**This is a Bug Report**

**Problem:** The [documentation](https://kubernetes.io/docs/tasks/administer-cluster/configure-multiple-schedulers/) provided to run multiple schedulers needs some more configuration to avoid errors in scheduler logs.

[code]

**Proposed Solution:**
`kubectl edit clusterrole system:kube-scheduler`
Add the following list item under rules:

[code]

**Page to Update:**
https

[2020-05-29 20:22] Arhell opened #21294 "Subscribe button translation"
**This is a Feature Request**

**What would you like to be added**
https://kubernetes.io/#kubeweekly
No translate
![1](https://user-images.githubusercontent.com/26163841/83302022-484f9c80-a203-11ea-927f-33f8836cddbb.jpg)

/assign
/language ko

[2020-05-29 20:25] damemi commented on #21293
Thanks for reporting this @zorro786!

To clarify my suggestion, based on the error I think that the `my-scheduler.yaml` provided in the docs page needs to add a binding to the `extension-apiserver-authentication-reader` role like so:

[code]

but I haven't personally tested this yet

[2020-05-29 20:28] damemi commented on #21293
/sig scheduling

[2020-05-29 20:29] damemi commented on #21293
/assign

[2020-05-30 01:19] oke-py opened #21297 "ja: Make glossary/controller.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update glossary/controller.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/reference/glossary/controller.md it outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/content/ja/docs/reference/glossary/controller.md

O

[2020-05-30 01:25] oke-py opened #21298 "ja: Make glossary/kube-apiserver.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update glossary/kube-apiserver.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/reference/glossary/kube-apiserver.md it outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/content/ja/docs/reference/glossary/kube-api

[2020-05-30 01:30] oke-py opened #21299 "ja: Make glossary/kube-controller-manager.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update glossary/kube-controller-manager.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/reference/glossary/kube-controller-manager.md it outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/content/ja/docs/reference

[2020-05-30 01:33] oke-py opened #21300 "ja: Make glossary/kube-proxy.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update glossary/kube-proxy.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/reference/glossary/kube-proxy.md it outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/content/ja/docs/reference/glossary/kube-proxy.md

O

[2020-05-30 01:37] oke-py opened #21301 "ja: Make glossary/kube-scheduler.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update glossary/kube-scheduler.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/reference/glossary/kube-scheduler.md it outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/content/ja/docs/reference/glossary/kube-sch

[2020-05-30 01:39] oke-py opened #21302 "ja: Make glossary/kubelet.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update glossary/kubelet.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/reference/glossary/kubelet.md it outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/content/ja/docs/reference/glossary/kubelet.md

Original
h

[2020-05-30 01:44] oke-py opened #21304 "ja: Make glossary/persistent-volume-claim.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update glossary/persistent-volume-claim.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/reference/glossary/persistent-volume-claim.md it outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/content/ja/docs/reference