[2019-07-11 04:43] oke-py commented on #15291
/close

[2019-07-11 04:43] #15291 closed

[2019-07-11 04:44] oke-py commented on #15288
/close

[2019-07-11 04:44] #15288 closed

[2019-07-11 04:44] oke-py commented on #15281
/close

[2019-07-11 04:44] #15281 closed

[2019-07-11 04:46] oke-py commented on #14935
/close

[2019-07-11 04:46] #14935 closed

[2019-07-11 05:47] oke-py commented on #14296
/close

[2019-07-11 05:47] #14296 closed

[2019-07-11 07:10] oke-py commented on #14634
/close

[2019-07-11 07:10] #14634 closed

[2019-07-11 07:14] oke-py commented on #14397
/close

[2019-07-11 07:14] #14397 closed

[2019-07-11 08:06] sftim commented on #12082
The preview PR is https://github.com/kubernetes/website/pull/15373
@shavidissa what do you think of https://deploy-preview-15373--kubernetes-io-master-staging.netlify.com/docs/concepts/workloads/deployment/

[2019-07-11 09:40] oke-py commented on #14022
/assign

[2019-07-11 14:02] contactrakeshjadhav opened #15379 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/"
**This is a Bug Report**

**Problem:**
**Setup**: Windows minikube
Trying to  follow steps on https://kubernetes.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/
Getting error at following step.
root@task-pv-pod:/# curl localhost
<html>
<head><title>403 Forbidden</title></head>
<body>
<center><h1>403 Forbidden</h1></center>
<hr><center>nginx/1.17.1</center>
</body>
</html

[2019-07-11 14:17] #10628 closed

[2019-07-11 14:19] gochist commented on #15001
/close

[2019-07-11 14:19] #15001 closed

[2019-07-11 14:20] gochist commented on #15120
/close

[2019-07-11 14:20] #15120 closed

[2019-07-11 14:21] gochist commented on #14500
/close

[2019-07-11 14:21] #14500 closed

[2019-07-11 14:22] gochist commented on #11854
/close

[2019-07-11 14:22] #11854 closed

[2019-07-11 23:17] zacharysarah opened #15382 "Define blog owners by alias"
## What needs to happen?

The [OWNERS file for the blog](https://github.com/kubernetes/website/blob/master/content/en/blog/OWNERS) needs to define membership by alias, with the alias defined in [OWNERS_ALIASES](https://github.com/kubernetes/website/blob/master/OWNERS_ALIASES).

## Why?

It keeps things nice and tidy.

As folks can see in https://github.com/kubernetes/org/pull/1005, it's difficult

[2019-07-11 23:18] zacharysarah commented on #15382
/assign @kbarnard10 @mrbobbytables
/area blog

[2019-07-11 23:29] sftim commented on #15342
@guruvasuraj maybe you can find advice via Stack Overflow's [Kubernetes](https://stackoverflow.com/questions/tagged/kubernetes)'s tag / topic.

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

/triage support

[2019-07-11 23:31] #9272 closed

[2019-07-12 01:46] shavidissa commented on #12082
Hi @sftim ,
I went over the deployment guide changes and it looks good. Nice work 🌟!

[2019-07-12 03:44] kidlj opened #15387 "Version selection not working on macOS Safari"
with Safari 12.1.1 (14607.2.6.1.1) on macOS 10.14.5.

<img width="293" alt="k8s_io_version_selection" src="https://user-images.githubusercontent.com/300616/61100863-3dc8cf00-a49a-11e9-9d12-8360b6ec1c35.png">

[2019-07-12 04:43] #14045 closed

[2019-07-12 10:37] #10910 closed

[2019-07-12 12:09] oke-py commented on #14022
/close

[2019-07-12 12:09] #14022 closed

[2019-07-12 12:35] gochist commented on #15029
/assign

[2019-07-12 13:53] oke-py commented on #15336
/close

[2019-07-12 13:53] #15336 closed

[2019-07-12 14:24] huricool opened #15389 "Translate reference/tools in Korean"
**This is a Feature Request**

**What would you like to be added**

A translation in Korean for the reference/tools link

**Why is this needed**
There is no translation in Korean yet

**Comments**

This is the tools page I am working on.
https://kubernetes.io/docs/reference/tools/

[2019-07-12 14:24] huricool commented on #15389
/language ko
/assign

[2019-07-12 14:32] gochist opened #15390 "Hugo glossary tooltips in l10n content are broken"
**This is a Bug Report**

**Problem:**

For all the glossary tooltips in l10n content, HTML are exposed in a code block.

![image](https://user-images.githubusercontent.com/282159/61134797-5ae1ba00-a4fb-11e9-8345-79058450d237.png)

**Proposed Solution:**

**Page to Update:**
* https://kubernetes.io/ko/docs/setup/
* https://kubernetes.io/ko/docs/concepts/workloads/pods/pod-overview/
* https://kuber

[2019-07-12 15:09] alicek106 opened #15392 "Translate concepts/overview/working-with-objects/field-selectors in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/overview/working-with-objects/field-selectors in Korean

**Why is this needed**
No translation with concepts/overview/working-with-objects/field-selectors in Korean

**Comments**

Page to update:
https://kubernetes.io/docs/concepts/overview/working-with-objects/field-selectors/

[2019-07-12 15:09] alicek106 commented on #15392
/language ko
/assign

[2019-07-12 15:42] #12312 closed

[2019-07-12 15:42] #12217 closed

[2019-07-12 15:42] #12318 closed

[2019-07-12 16:10] laith-leo opened #15394 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/"
By following the exact steps, the volume is not mounted inside the nginx POD.

[2019-07-12 17:39] e-ago opened #15395 "Hugepages in non-privileged context"
Hello. Is it possible to run an application which requires hugepages in a Pod without having a privileged security context?

[2019-07-12 20:47] #11536 closed

[2019-07-13 04:14] inductor opened #15402 "Translate README.md"
**This is a Feature Request**

**What would you like to be added**

Translate README.md in Japanese.

**Why is this needed**

This document is not translated in Japanese.

**Comments**

/language ja

[2019-07-13 04:15] inductor commented on #15402
/assign

[2019-07-13 04:21] cstoku commented on #13646
@kaedemalu こちらの翻訳、着手済みでしょうか？
未着手であれば  `1.15` のマイルストーンに移そうかと思うのですがいかがでしょう？
（リリースでも大丈夫です）

[2019-07-13 04:21] cstoku commented on #13532
@skikkh こちらの翻訳、着手済みでしょうか？
未着手であれば  `1.15` のマイルストーンに移そうかと思うのですがいかがでしょう？
（リリースでも大丈夫です）

[2019-07-13 04:23] cstoku commented on #13377
@sakajunquality こちらの翻訳、着手済みでしょうか？
未着手であれば  `1.15` のマイルストーンに移そうかと思うのですがいかがでしょう？
（リリースでも大丈夫です）

[2019-07-13 04:24] cstoku commented on #13379
@kaedemalu こちらの翻訳、着手済みでしょうか？
未着手であれば  `1.15` のマイルストーンに移そうかと思うのですがいかがでしょう？
（リリースでも大丈夫です）

[2019-07-13 04:25] cstoku commented on #13395
@silverskyvicto こちらの翻訳、着手済みでしょうか？
未着手であれば  `1.15` のマイルストーンに移そうかと思うのですがいかがでしょう？
（リリースでも大丈夫です）

[2019-07-13 05:58] silverskyvicto commented on #13395
@cstoku 着手して一通り訳してあります。

[2019-07-13 06:52] cstoku commented on #14044
/close

[2019-07-13 06:52] #14044 closed

[2019-07-13 06:53] cstoku commented on #14068
/close

[2019-07-13 06:53] #14068 closed

[2019-07-13 06:54] cstoku commented on #14044
/milestone 1.14-ja.1

[2019-07-13 06:54] cstoku commented on #14068
/milestone 1.14-ja.1

[2019-07-13 06:55] cstoku commented on #14444
/milestone 1.14-ja.2

[2019-07-13 06:56] cstoku commented on #14444
/milestone 1.14-ja.2

[2019-07-13 06:57] cstoku commented on #14445
/milestone 1.14-ja.2

[2019-07-13 06:59] cstoku commented on #14543
/milestone 1.14-ja.1
/close

[2019-07-13 06:59] #14543 closed

[2019-07-13 07:04] cstoku commented on #14544
/milestone 1.14-ja.1

[2019-07-13 07:05] cstoku commented on #14545
/milestone 1.14-ja.2

[2019-07-13 07:06] cstoku commented on #14670
/milestone 1.14-ja.1

[2019-07-13 07:06] cstoku commented on #14679
/milestone 1.14-ja.1

[2019-07-13 07:06] cstoku commented on #14718
/milestone 1.14-ja.1

[2019-07-13 07:06] cstoku commented on #14734
/milestone 1.14-ja.1

[2019-07-13 07:10] cstoku commented on #14761
/milestone 1.14-ja.1

[2019-07-13 07:10] cstoku commented on #14777
/milestone 1.14-ja.1

[2019-07-13 07:10] cstoku commented on #14848
/milestone 1.14-ja.2

[2019-07-13 07:10] cstoku commented on #14886
/milestone 1.14-ja.2

[2019-07-13 07:18] cstoku commented on #14887
/milestone 1.14-ja.2

[2019-07-13 07:19] cstoku commented on #14888
/milestone 1.14-ja.2

[2019-07-13 07:19] cstoku commented on #14917
/milestone 1.14-ja.2

[2019-07-13 07:19] cstoku commented on #14977
/milestone 1.14-ja.1

[2019-07-13 07:20] cstoku commented on #15222
/milestone 1.14-ja.2

[2019-07-13 07:25] cstoku commented on #15294
/milestone 1.14-ja.2

[2019-07-13 07:25] cstoku commented on #15300
/milestone 1.14-ja.2

[2019-07-13 07:28] cstoku commented on #14847
/milestone 1.14-ja.1

[2019-07-13 07:58] #12617 closed

[2019-07-13 10:43] cstoku commented on #13395
/close

[2019-07-13 10:43] #13395 closed

[2019-07-14 03:09] #15144 closed

[2019-07-14 03:10] yuzhongxin19860213 opened #15412 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-07-14 03:20] kaedemalu commented on #13379
@cstoku こちらに関しては着手してあり、pushできる状態にありますので、修正箇所あまりなければリリースに含めさせていただければと思います！

[2019-07-14 03:22] kaedemalu commented on #13646
@cstoku
こちらはまだ翻訳中で時間かかるかもしれないので、マイルストーン移していただければと思います！

gitで少し不明点あるので、こちらと合わせてslackさせていただきます↓
https://github.com/kubernetes/website/issues/13379

[2019-07-14 03:41] cstoku commented on #13646
/milestone 1.14-ja.2

[2019-07-14 03:41] cstoku commented on #13646
/remove-lifecycle stale

[2019-07-14 05:07] enzoTrevisan opened #15413 "Issue with k8s.io/docs/tasks/access-application-cluster/port-forward-access-application-cluster/"
**This is a Bug Report**

**Problem:**
When i try the instructions to connect to redis, can't connect, below it's a copy of what happened.

[root@master pkg]# redis-cli
Could not connect to Redis at 127.0.0.1:6379: Connection refused
Could not connect to Redis at 127.0.0.1:6379: Connection refused
not connected> 127.0.0.1:7000>ping
Could not connect to Redis at 127.0.0.1:6379: Connection refused
n

[2019-07-14 06:39] cstoku commented on #13992
#3877

[2019-07-14 12:01] Ishan0075 opened #15422 "Issue with k8s.io/docs/home/"
I am running K8es on Centos of GCP. Able to create nodes but unable to run any kubectl commands showing the below error message
"bash: kubectl: command not found"
Any help is mostly appreciated.

[2019-07-15 05:34] seokho-son commented on #15348
This issue has been taken by @devholic
Thank you.

[2019-07-15 05:35] seokho-son commented on #15352
This issue has been taken by @devholic
Thank you.

[2019-07-15 08:00] silverskyvicto opened #15428 "Translate /docs/tutorials/configuration/configure-redis-using-configmap.md in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate /docs/tutorials/configuration/configure-redis-using-configmap.md in Japanese.

**Why is this needed**

No /docs/tutorials/configuration/configure-redis-using-configmap.md in Japanese.

**Comments**

Copy from en content and Update content/en/docs/tutorials/configuration/configure-redis-using-configmap.md.

[2019-07-15 08:01] silverskyvicto commented on #15428
/language ja

[2019-07-15 08:10] silverskyvicto opened #15429 "Translate /docs/tutorials/configuration/_index.md in Japanese."
**This is a Feature Request**

**What would you like to be added**

/docs/tutorials/configuration/_index.md Japanese translation.

**Why is this needed**

No /docs/tutorials/configuration/_index.md in Japanese.

**Comments**

Copy from en content and Update content/en/docs/tutorials/configuration/_index.md.

[2019-07-15 08:11] silverskyvicto commented on #15429
/language ja

[2019-07-15 08:11] huster16 opened #15430 "Issue with k8s.io/docs/setup/production-environment/container-runtimes/"
It is totally misleading. The minikube (version v1.2.0) need to use the cgroupfs rather than systemd. If follow this, the kubelet can't run.

[2019-07-15 08:12] #15430 closed

[2019-07-15 08:54] desty opened #15432 "Translate reference/glossary/contributor.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate reference/glossary/contributor.md in Korean

**Why is this needed**
No translation with reference/glossary/contributor.md in Korean

**Comments**

Page to Update:
https://kubernetes.io/ko/docs/reference/glossary/?community=true#term-contributor

[2019-07-15 08:54] desty commented on #15432
/language ko
/assign

[2019-07-15 09:17] sftim opened #15434 "Mention IPv6 in https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/"
**This is a Feature Request**

**What would you like to be added**
https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/ describes Services and Pods getting `A` records for IPv4. The same page should also document what's available and supported for `AAAA` records / IPv6.

**Why is this needed**:
Cluster operators might want to use IPv6.

**Comments**:
Slightly relevant to (close

[2019-07-15 09:17] sftim commented on #15434
/priority backlog
/language en

[2019-07-15 09:36] desty opened #15435 "Translate reference/glossary/cla.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate reference/glossary/cla.md in Korean

**Why is this needed**
No translation reference/glossary/cla.md in Korean

**Comments**

Page to Update:
https://kubernetes.io/ko/docs/reference/glossary/?community=true#term-cla

[2019-07-15 09:38] desty commented on #15435
/language ko

[2019-07-15 09:54] desty commented on #15435
/assign

[2019-07-15 10:53] kaushikr93 opened #15437 "Issue with k8s.io/docs/reference/setup-tools/kubeadm/kubeadm-token/"
**This is a Bug Report**

**Problem:**
"kubeadm token create" and "kubeadm token generate" are contradictory . I was trying to stand up a 1 master and 3 worker cluster . So token was expired in master , i used "kubeadm token generate" command it generated me a token and then i was trying to used "kubeadm join"" command . It started failing then used -v=6 in order to get more information , so in lo

[2019-07-15 10:56] vharsh opened #15438 "Fix previous/next buttons in blog"
**This is a Bug Report**

**Problem:**
The Previous/Next navigation buttons have the same text.

![Screenshot from 2019-07-12 12-23-20](https://user-images.githubusercontent.com/9304050/61211360-061d8980-a71d-11e9-8667-9c2110afb105.png)

**Proposed Solution:**
The Previous/Next navigation buttons shouldn't have the same text.

**Page to Update:**
All pages matching
[code]

[2019-07-15 13:22] silverskyvicto opened #15440 "Translate /docs/tasks/tools/install-kubectl.md in Japanese."
**This is a Feature Request**

**What would you like to be added**

/docs/tasks/tools/install-kubectl.md Japanese translation.

**Why is this needed**

No /docs/tasks/tools/install-kubectl.md in Japanese.

**Comments**

Copy from en content and Update content/en/docs/tasks/tools/install-kubectl.md.

[2019-07-15 13:22] silverskyvicto commented on #15440
/language ja

[2019-07-15 14:08] knbz opened #15441 "Issue with k8s.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-07-15 14:10] chetangehlot opened #15442 "Issue with k8s.io/docs/reference/access-authn-authz/rbac/"
Hi,

I follow your tutorial and create an RBAC user.

But you didn't specify, what are the things doing in all user's system.

How can access cluster?

[2019-07-15 15:34] vitality1987 commented on #15107
Why has "exclude=kube*" been removed? The yum install command still uses "--disableexcludes=kubernetes" and this would auto update kubectl, kubelet and kubeadm which is undesirable in a production environment. Please revert.

[2019-07-15 17:35] wenjiaswe commented on #12233
/remove-lifecycle stale

[2019-07-15 20:41] sftim commented on #15441
Hi @kbnz

What isn't right with the page at https://k8s.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/?

/triage needs-information

[2019-07-15 20:42] sftim commented on #15438
Thanks for spotting that.
/kind bug

[2019-07-15 20:43] sftim commented on #15390
I think this might be fixed now. Is that right?

[2019-07-15 20:43] sftim commented on #15353
/language zh
(and possibly others)

[2019-07-15 20:44] sftim commented on #15319
Thanks for the report
/language en

[2019-07-15 23:00] #12661 closed

[2019-07-16 00:39] gochist commented on #15390
@sftim Thank you for letting me know. But it still has unexpected line breaks.

![image](https://user-images.githubusercontent.com/282159/61257770-6825cf80-a7ad-11e9-80a9-f0aeeab8f72e.png)

![image](https://user-images.githubusercontent.com/282159/61257755-56dcc300-a7ad-11e9-99d3-68b30407ee96.png)

[2019-07-16 02:28] Cisien opened #15444 "Improvement for k8s.io/docs/tasks/tls/certificate-rotation/"
this document does not describe how to manually rotate the cluster's TLS certificates.

[2019-07-16 03:04] #12665 closed

[2019-07-16 04:20] devholic opened #15447 "Translate documents in reference/using-api into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate

- [x] [reference/using-api/_index.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/using-api/_index.md) > #15644
- [ ] [reference/using-api/api-concepts.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/using-api/api-concepts.md)
- [x] [reference/using-api/api

[2019-07-16 04:20] devholic commented on #15447
/language ko
/assign

[2019-07-16 06:29] sakajunquality commented on #13377
@cstoku 未着手なので移していただいて大丈夫です。

[2019-07-16 08:03] Korashen opened #15450 "Issue with k8s.io/docs/setup/learning-environment/minikube/"
**This is a Bug Report**

**Problem:**
Using `--vm-driver none` will cause cryptic errors, when used on personal workstations.
This has also been discussed in this issue: https://github.com/kubernetes/minikube/issues/3228

afbjorklund commented on 13 Oct 2018, that using the `none` driver on workstations is discouraged and that there is a warning message:
https://github.com/kubernetes/minikube/iss

[2019-07-16 09:57] cstoku commented on #13377
/milestone 1.14-ja.2

[2019-07-16 15:54] wolmi commented on #13948
Working on `/content/en/docs/contribute/start.md`

[2019-07-16 16:55] chenrui333 commented on #13992
Once the PR got merged, I will close this issue. :)

[2019-07-16 17:06] kbhawkey commented on #12823
/close

[2019-07-16 20:30] sftim commented on #4510
In https://github.com/kubernetes/website/pull/15374#discussion_r303918833, @jaypipes suggests a new page “Understanding object relationships”.

I like that idea so I'm mentioning it here.

[2019-07-17 03:24] #15413 closed

[2019-07-17 04:48] yoshiki-nishikimi opened #15454 "Translate /docs/concepts/architecture/_index.md in Japanese."
**This is a Feature Request**

**What would you like to be added**

/docs/concepts/architecture/_index.md in Japanese.

**Why is this needed**

No /docs/concepts/architecture/_index.md in Japanese.

**Comments**

Copy from en content and Update content /en/docs/concepts/architecture/_index.md in Japanese.

[2019-07-17 04:49] yoshiki-nishikimi commented on #15454
I'm translating this doc.

[2019-07-17 05:37] mhorioka opened #15455 "Translate /docs/concepts/extend-kubernetes/_index.md in Japanese"
**This is a Feature Request**

 **What would you like to be added**

 /docs/concepts/extend-kubernetes/_index.md Japanese translation.

 **Why is this needed**

 No /docs/concepts/extend-kubernetes/_index.md in Japanese.

 **Comments**

 Copy from en content and Update content/ja/docs/concepts/extend-kubernetes/_index.md.

[2019-07-17 05:37] mhorioka commented on #15455
take this

[2019-07-17 05:48] LinziWang opened #15457 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
**This is a Bug Report**

**Problem:**
IT CAN NOT WORK.
**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-07-17 06:05] oke-py commented on #15455
/language ja

[2019-07-17 06:05] oke-py commented on #15454
/language ja

[2019-07-17 10:06] nimrodgans opened #15459 "Improvement for k8s.io/docs/concepts/overview/working-with-objects/field-selectors/"
It isn't mentioned if OR or expressions are supported.
For example if I want to fetch 2 deployments with metadata.name=test1 and metadata.name=test2.
Right now it doesn't work so I assume it's not supported.

[2019-07-17 10:25] fauzan-n opened #15460 "Improvement for k8s.io/docs/concepts/architecture/"
Need an Image to describe the architecture

[2019-07-17 10:39] poothia commented on #15027
I think this issue can be closed.

[2019-07-17 10:51] #15027 closed

[2019-07-17 11:24] craigbox opened #15461 "Node Local DNS is not something you can install in a sandbox playground"
https://kubernetes.io/docs/tasks/administer-cluster/nodelocaldns/ starts with "You need a cluster!  Try one of these playgrounds" and gives the default links to Katacoda and Play With Kubernetes.

The page refers to an Alpha node feature which has to be installed manually into a cluster, and as such the advice to use a playground isn't helpful.

I wonder if that same problem exists on other pages

[2019-07-17 13:02] gochist commented on #15389
/close

[2019-07-17 13:02] #15389 closed

[2019-07-17 13:03] gochist commented on #15432
/close

[2019-07-17 13:03] #15432 closed

[2019-07-17 13:05] gochist commented on #15435
/close

[2019-07-17 13:08] #15435 closed

[2019-07-17 13:13] ericxw opened #15463 "Issue with k8s.io/docs/setup/production-environment/container-runtimes/"
**This is a Bug Report**

**Problem:**
For containerd and CRI-O container runtimes, modules overlay and br_netfilter needs to be persistent on reboots. Current instruction only loads the modules using modprobe command, which is lost on reboot.

**Proposed Solution:**
Add following to containerd prerequisites:
[code]

**Page to Update:**
https://kubernetes.io/docs/setup/production-environment/conta

[2019-07-17 15:11] sftim commented on #15459
Thanks for the tip
/language en

[2019-07-17 15:12] sftim commented on #15460
/kind feature
I think you're right @x-fauzan-x

[2019-07-17 15:57] williamsandrew opened #15466 "Kubectl documentation no longer shows --go-template as an output option"
**This is a Bug Report**

When viewing the Kubectl output options found at the following link, `go-template` is not mentioned. https://kubernetes.io/docs/reference/kubectl/overview/?origin_team=T024JFTN4#syntax-1.

This is still an option in `kubectl`:
[code]

**Proposed Solution:**

It appears page generation may be broken.

**Page to Update:**
https://kubernetes.io/docs/reference/kubectl/overvie

[2019-07-17 18:11] blueelvis opened #15467 "Issue with k8s.io/docs/concepts/architecture/cloud-controller/"
**This is a Bug Report**

**Problem:**
The diagrams still refer to `Minions`. They should be changed to `Nodes`
**Proposed Solution:**
Edit the diagrams to change the terminology.
**Page to Update:**
https://kubernetes.io/docs/concepts/architecture/cloud-controller/

[2019-07-17 19:38] alex-leonhardt opened #15468 "Admission webhook default for failure policy is Fail in v1"
**This is a Bug Report**

**Problem:**
The website states that the default `FailurePolicy` for admission webhooks is `Ignore`, this is true for `v1beta1` but not for `v1`.

**Proposed Solution:**
Update page to mention that `v1` has changed the default from `Ignore` to `Fail`

**Page to Update:**
https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/

Kubernetes

[2019-07-17 20:45] #12675 closed

[2019-07-18 02:27] skikkh commented on #13532
@cstoku すいません、近日時間が取れなく着手できていませんでした。
移す形でお願いしていただければと思います。お手数おかけして申し訳ありません。

[2019-07-18 03:58] rajvaibhavdubey commented on #13984
@daminisatya I would like to work on this.
Thankyou

[2019-07-18 09:01] antaloala opened #15469 "Issue with k8s.io/docs/concepts/extend-kubernetes/operator/"
**This is a Bug Report**

**Problem:**
At the very beginning of the referred doc. link it is said:
"Operators are software extensions to Kubernetes that make use of third-party resources to manage applications and their components"
But third-party resources (TPR) are now named custom resources (from 1.7 -as far as I remember-)

**Proposed Solution:**
"Operators are software extensions to Kubernete

[2019-07-18 10:14] oke-py opened #15470 "Issue with k8s.io/docs/tasks/manage-daemon/update-daemon-set/"
**This is a Bug Report**

**Problem:**

In Step 2, `kubectl apply` is used as the first option, and after 'alternatively ...' `kubectl apply` is used again. I couldn't understand the difference. Either might be wrong.

**Proposed Solution:**

The first option might be `kubectl create`.

**Page to Update:**
https://kubernetes.io/docs/tasks/manage-daemon/update-daemon-set/

[2019-07-18 11:54] lapee79 opened #15471 "Translate tasks/administer-cluster/cluster-management in Korean"
**This is a Feature Request**

**What would you like to be added**
/docs/tasks/administer-cluster/cluster-management.md Korean Translation

**Why is this needed**
No Translate tasks/administer-cluster/cluster-management in Korean

**Comments**
Copy from en content and Update content.
https://kubernetes.io/docs/tasks/administer-cluster/cluster-management/

[2019-07-18 11:54] lapee79 commented on #15471
/language ko
/assign

[2019-07-18 12:02] poothia commented on #15422
I think there is an issue with $PATH. Can you verify if correct PATH is set?

[2019-07-18 14:19] kakts commented on #14917
WIP

[2019-07-18 14:40] kbhawkey commented on #13814
/close

[2019-07-18 14:40] #13814 closed

[2019-07-18 15:55] jaypipes commented on #4510
@sftim are you interested in spearheading that effort in a new PR? or are you looking for an assist there?

[2019-07-18 16:23] sftim commented on #4510
Just wanting to track work that I think is worth doing. I don't particularly plan to pick this up myself.

[2019-07-18 21:09] #12496 closed

[2019-07-19 07:02] kpooja20 opened #15477 "Issue with k8s.io/docs/tutorials/hello-minikube/"
**This is a Bug Report**
"error starting host,error creating new host,missing adress"

"error starting host,error creating new host,missing adress"

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-07-19 08:20] #12695 closed

[2019-07-19 09:21] #12696 closed

[2019-07-19 09:50] manishbansal8843 opened #15478 "Issue with k8s.io/docs/concepts/workloads/pods/podpreset/"
**This is a Bug Report**

**Problem:**
Documentation says

**Proposed Solution:**
It should clearly mention what all fields can be modified. As per the proposal, it can only modify `Env` and `Volume`. Also, i cannot see any reference of `initContainers` in the proposal. Not sure if that is even valid.
**Page to Update:**
https://kubernetes.io/docs/concepts/workloads/pods/podpreset/

[2019-07-19 13:16] Potapy4 commented on #15470
/assign

[2019-07-19 13:25] #12703 closed

[2019-07-19 19:25] zimmerab opened #15482 "Issue with k8s.io/docs/tasks/administer-cluster/encrypt-data/"
**This is a Bug Report**

**Problem:**
![image](https://user-images.githubusercontent.com/15383326/61560064-d928e980-aa30-11e9-9c6d-4476679dcb03.png)
I am unsure how to edit the kube-apiserver. If I go to the description of the kube-apiserver it only shows commands. How do I edit my cluster in azure aks?

**Proposed Solution:**
 Show how to edit the kube-apiserver. Also for multiple cloud provider

[2019-07-19 20:32] #12709 closed

[2019-07-19 23:34] #12467 closed

[2019-07-20 00:35] #12664 closed

[2019-07-20 09:44] #12734 closed

[2019-07-21 02:12] jmyung commented on #13943
/remove-lifecycle stale

[2019-07-21 02:13] jmyung commented on #13943
i am working on. soon

[2019-07-21 03:24] #15470 closed

[2019-07-21 03:25] ponessa opened #15484 "Issue with k8s.io/docs/tasks/tools/install-kubectl/"
**This is a Bug Report**

**Problem:**. `kubectl version` returns `Unable to connect to the server: dial tcp 192.168.99.100:8443: i/o timeout`.

**Proposed Solution:** Learning k8 and installing `kubectl` and `minikube` are part of the lessen.  The Coursera course directed me to https://kubernetes.io/docs/tasks/tools/install-kubectl/ which does not seem to work.

**Page to Update:**
https://kubern

[2019-07-21 03:28] #15468 closed

[2019-07-21 08:46] #15438 closed

[2019-07-21 10:08] #12746 closed

[2019-07-21 12:10] #12751 closed

[2019-07-21 14:12] #12758 closed

[2019-07-21 17:27] purelledhand opened #15491 "Translate concepts/services-networking/dns-pod-service in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/services-networking/dns-pod-service in Korean

**Why is this needed**
`concepts/services-networking/dns-pod-service` is not yet translated in Korean

**Comments**

Page to update : https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/

[2019-07-21 17:28] purelledhand commented on #15491
/language ko
/assign

[2019-07-21 19:29] c00 opened #15492 "Improvement for k8s.io/docs/tasks/tools/install-minikube/"
This is general feedback on installing minikube:

Preface: Devs will want to install minikube to test or develop locally. For many devs, this will be their first encounter with k8s, so having documentation that is as clear and straight forward as possible is really helpful. (Consider Dockers documentation, that gets you up and running in a few simple foolproof steps.) I understand that the below a

[2019-07-21 23:40] chenrui333 commented on #13745
checkin

[2019-07-22 02:44] Koderok commented on #15147
@mhamdisemah please let me know if you are still working on this issue. Thanks!

[2019-07-22 12:50] sftim opened #15498 "Issue with k8s.io/docs/tasks/administer-cluster/cluster-management/"
**This is a Bug Report**

**Problem:**
- This page is hard to read and duplicates other pages such as the ones under https://kubernetes.io/docs/setup/production-environment/turnkey/

**Proposed Solution:**
Revise the page. Consider whether to:

- Signpost readers to separate pages about creating a cluster
- Reformat section _Upgrading a cluster_ using tabs
- Reformat section _Resizing a cluster_ u

[2019-07-22 12:51] sftim opened #15499 "Issue with k8s.io/docs/setup/production-environment/turnkey/"
**This is a Bug Report**, ish

**Problem:**
From its URI https://kubernetes.io/docs/setup/production-environment/turnkey/ looks like it should be an overview of turn-key cloud solutions, but in fact describes a specific vendor.

**Proposed Solution:**
Add an overview page for turn-key cloud solutions

**Page to Update:**
https://kubernetes.io/docs/setup/production-environment/turnkey/

**Additiona

[2019-07-22 12:51] sftim commented on #15463
/language en

[2019-07-22 12:53] sftim commented on #15444
At a minimum, it feels to me that this page https://kubernetes.io/docs/tasks/tls/certificate-rotation/ should signpost readers to a page that tells them how to get their cluster to be using newer certificates.

/kind feature
/language en

[2019-07-22 13:03] pratsub opened #15500 "Issue with Waiting for the kubelet to boot up the control plane as static Pods from directory "/etc/kubernetes/manifests". This can take up to 4m0s [kubelet-check] Initial timeout of 40s passed."
Hi
I am new to Kuberentes world. Trying to install and run kubernetes but failed to make the master node up..
getting below error.

[root@k8s-master docker]# kubeadm init
W0722 18:23:46.966427    3074 version.go:98] could not fetch a Kubernetes version from the internet: unable to get URL "https://dl.k8s.io/release/stable-1.txt": Get https://dl.k8s.io/release/stable-1.txt: proxyconnect tcp: EOF
W0

[2019-07-22 13:16] waleed5544 opened #15501 "wa5544"
**This is a Feature Request**

**What would you like to be added**

**Why is this needed**

**Comments**

[2019-07-22 13:16] #15501 closed

[2019-07-22 14:17] amanfrinati opened #15502 "Issue with k8s.io/docs/tasks/tools/install-kubectl/"
When I tried from `zsh` the step1 of Linux manual installation:

```curl -LO https://storage.googleapis.com/kubernetes-release/release/$\(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt\)/bin/linux/amd64/kubectl```

I get this error

I fixed the command with `curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kub

[2019-07-22 14:19] amanfrinati commented on #15502
Or this command `curl -LO https://storage.googleapis.com/kubernetes-release/release/`curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt`/bin/linux/amd64/kubectl`

[2019-07-22 15:15] Prodian0013 opened #15503 "Issue with k8s.io/docs/setup/production-environment/container-runtimes/"
**This is a Bug Report**

Incorrect CRIO yum repository for Centos/RHEL

**Problem:**
CRI-O section for Centos/RHEL 7.4+ tab has incorrect yum repository to match Kubernetes 1.15 version.

**Proposed Solution:**
Update the Centos/RHEL 7.4+ tab under the CRI-O section with the correct yum repository with a supported & working version of CRIO 1.15 rpms for Kubernetes 1.15 version.

**Page to Update:

[2019-07-22 20:42] #12795 closed

[2019-07-23 04:50] #12801 closed

[2019-07-23 07:24] 770869584 opened #15506 "Issue with k8s.io/zh/docs/home/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-07-23 11:21] IhorHryshkov opened #15507 "Issue with k8s.io/docs/tutorials/stateful-application/basic-stateful-set/"
**This is a Bug Report**
Is not a bug, but I think this is feature.

**Problem:**
In version 1.15.0 kubernetes does not return error, how writing in documentation:

**Proposed Solution:**
I think need update documentation for 1.15.0 version and add next response if user install 1.15.0 version:

**Page to Update:**
https://kubernetes.io/docs/tutorials/stateful-application/basic-stateful-set/

**Kub

[2019-07-23 12:42] neolit123 commented on #15500
/triage support

hi, i'm going to close this issue as kubernetes/website is not a user support forum, but i can still ask a couple of questions:

these two warnings seems relevant.

are you OK if the node uses this proxy? it can be problematic..

did you install the kubelet package that is in the kubeadm installation guide?

[2019-07-23 12:42] neolit123 commented on #15500
/close

[2019-07-23 12:42] #15500 closed

[2019-07-23 12:52] #13391 closed

[2019-07-23 14:50] onitake commented on #14817
There is now an official Apache project for a CloudStack k8s provider: https://github.com/apache/cloudstack-kubernetes-provider

I will prepare a PR shortly that changes the documentation to point to that.

[2019-07-23 16:07] nroose opened #15511 "Issue with k8s.io/docs/tasks/debug-application-cluster/events-stackdriver/"
**This is a Bug Report**

**This page has hidden text about scaling but nothing that is visible about scaling:**

**Proposed Solution:**
Please either make that text visible or take it off the page so that this page won't show up when I search for scaling.
**Page to Update:**
https://kubernetes.io/docs/tasks/debug-application-cluster/events-stackdriver/

[2019-07-23 17:35] rlaferla opened #15512 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
**This is a Bug Report**

**Problem:**

 kubectl run kubernetes-bootcamp --image=gcr.io/google-samples/kubernetes-bootcamp:v1 --port=8080
kubectl run --generator=deployment/apps.v1 is DEPRECATED and will be removed in a future version. Use kubectl run --generator=run-pod/v1 or kubectl create instead.
deployment.apps/kubernetes-bootcamp created

**Proposed Solution:**

N/A

**Page to Update:**
http

[2019-07-23 23:08] #12806 closed

[2019-07-24 00:07] gochist commented on #15029
/close

[2019-07-24 00:07] #15029 closed

[2019-07-24 00:07] gochist commented on #14479
/close

[2019-07-24 00:07] #14479 closed

[2019-07-24 01:45] xing-yang commented on #13401
/remove-lifecycle rotten

[2019-07-24 02:22] #15392 closed

[2019-07-24 02:28] #15507 closed

[2019-07-24 02:44] RA489 commented on #15477
@kpooja20 could you please provide some more details.

[2019-07-24 02:46] RA489 commented on #15477
priority/awaiting-more-evidence

[2019-07-24 05:04] sftim commented on #15461
Good point
/language en

[2019-07-24 05:06] sftim commented on #15467
This looks like a duplicate of issue #14404

[2019-07-24 05:07] sftim commented on #15469
Good point!
/kind cleanup

[2019-07-24 05:08] sftim commented on #15512
It's the _DEPRECATED_ that's the problem, right?
/language en

[2019-07-24 05:09] sftim commented on #15511
Seems reasonable. I don't suppose you'd have the time to submit a pull request that fixes the issue you spotted, @nroose? (It looks like an easyish fix).

/language en

[2019-07-24 05:10] sftim commented on #15502
That looks like something that needs fixing, right enough.
/language en

[2019-07-24 05:11] sftim commented on #15492
Valid and relevant feedback.
/language en

[2019-07-24 05:11] sftim commented on #15498
/language en

[2019-07-24 05:12] sftim commented on #15503
Thanks for noting this @Prodian0013
/language en

[2019-07-24 05:14] sftim commented on #15482
/kind feature
/language en

[2019-07-24 05:14] sftim commented on #15484
@ponessa: it sounds like you were able to install `kubectl` but then weren't able to connect to a particular cluster.
Have I got that right?

[2019-07-24 05:14] sftim commented on #15478
That sounds worth fixing.
/language en

[2019-07-24 05:15] sftim commented on #15469
/language en

[2019-07-24 07:17] idealhack commented on #15147
/remove-help

[2019-07-24 07:30] #15147 closed

[2019-07-24 08:38] oswee opened #15517 "Issue with k8s.io/docs/setup/learning-environment/minikube/"
**Problem:**
In Minikube Quickstart section step No.2 sample command is

[code]
but in console it returns bit newbie confusing error:

[code]

**Proposed Solution:**
I think example command should be updated to:

[code]

**Page to Update:**
https://kubernetes.io/docs/setup/learning-environment/minikube/

[2019-07-24 09:11] IhorHryshkov opened #15518 "Issue with k8s.io/docs/tutorials/"
**This is a Bug Report**
Always after copy to clipboard data, reset scroll position to begin page.

**Problem:**
At all pages where you have active element for copy(example yaml data) to clipboard, after click on copy element and later approve on dialog copy to clipboard I'm scroll to begin page. Have problem on next browsers: Chrome and Firefox.

![bug_scroll_up_2019-07-24_12-02](https://user-ima

[2019-07-24 09:21] blueelvis commented on #15467
Closing this.

[2019-07-24 09:21] #15467 closed

[2019-07-24 09:22] blueelvis commented on #14404
@sftim - I was not able to locate the SVG files. Is there a separate folder which contains the SVG files or visio files for these diagrams?

[2019-07-24 13:09] longlg88 opened #15522 "Translate tasks/access-application-cluster/web-ui-dashboard in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/access-application-cluster/web-ui-dashboard in Korean

**Why is this needed**
No translation with tasks/access-application-cluster/web-ui-dashboard in Korean

**Comments**

Page to Update:
https://kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard/

[2019-07-24 13:09] longlg88 commented on #15522
/language ko
/assign

[2019-07-24 21:05] remyleone commented on #13995
/remove-lifecycle stale

[2019-07-24 23:35] JasonHaley opened #15526 "Markdown translation to html formatting is off when markdown blockquote used"
**This is a Bug Report**

**Problem:**
It looks like the markdown translation to html is not closing the blockquote when the markdown blockquote is used instead of the shortcode.

The formatting is off from the markdown:
[https://github.com/kubernetes/website/blob/master/content/en/blog/_posts/2019-07-23-get-started-with-kubernetes-using-python.md](https://github.com/kubernetes/website/blob/master

[2019-07-25 01:54] RockyFu267 commented on #14258
@neolit123
It's not just a single case.
I think the product manager of k8s should redesign this area.

https://stackoverflow.com/questions/56768956/how-to-use-kubeadm-init-configuration-parameter-controlplaneendpoint/57121454#57121454

[2019-07-25 02:18] RA489 commented on #15517
@oswee Thanks for filing this issue.

[2019-07-25 02:19] RA489 commented on #15517
@oswee

This command creates the pods directly rather than creating the deployments. wdyt?

[2019-07-25 02:20] RA489 commented on #15517
/assign @RA489

[2019-07-25 02:20] RA489 commented on #15517
/area minikube

[2019-07-25 04:43] remyleone commented on #14048
/remove-lifecycle stale

[2019-07-25 04:57] neolit123 commented on #14258
@RockyFu267
i create this tracking issue in kubernetes/kubeadm:
https://github.com/kubernetes/kubeadm/issues/1685

[2019-07-25 08:40] #12816 closed

[2019-07-25 09:51] stefkiourk opened #15529 "Extra space between indicator and end of "Applications" definition in /docs/reference/glossary/"
**This is a Bug Report**

**Problem:**
There is an extra space character between the end of the "Applications" definition and the expanding indicator.
**Proposed Solution:**
Remove the space character between "The layer where various containerized applications run." and indicator.
**Page to Update:**
https://kubernetes.io/docs/reference/glossary/?fundamental=true

[2019-07-25 13:31] chenrui333 commented on #13993
checkin
/remove-lifecycle stale

[2019-07-25 13:31] chenrui333 commented on #13998
checkin
/remove-lifecycle stale

[2019-07-25 13:54] chadmcrowell opened #15534 "Issue with k8s.io/docs/tasks/administer-cluster/configure-multiple-schedulers/"
**This is a Bug Report**

**Problem:**
Parts of this page are missing. The "annotation-second-scheduler" pod remains in a pending state forever, even after the scheduler is deployed. Also, the wording at the bottom of the article is confusing, making the reader think that there is a way to resolve the pending state, when in fact there is not.

**Proposed Solution:**
Include steps to create role, r

[2019-07-25 14:15] danninov commented on #15341
I'm taking Persistent Volumes in content/id/docs/concepts/storage

[2019-07-25 22:29] llamasoft opened #15536 "Documentation should explicitly mention which values are required/optional"
**This is a Feature Request**

Currently the generated API documentation doesn't clearly state which values are required and which values are optional.

For example, every field in [Deployment](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.15/#deployment-v1-apps) is required but almost every field in [PodSpec](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.15/#

[2019-07-25 23:57] controllinghand commented on #12968
Any status when this will be fixed?  or any work around?

[2019-07-26 00:35] irvifa commented on #13858
/remove-lifecycle stale
do we still need to do this @girikuncoro

[2019-07-26 00:36] irvifa commented on #13858
/remove-lifecycle stale

[2019-07-26 00:45] controllinghand commented on #12942
Found a work around.

Step 1:
^C

Step 2:
$ sudo apt-get update

Step 3:
$ apt install xdg-utils

Step 4: continue with Tutorial :-).

[2019-07-26 01:27] girikuncoro commented on #13858
@irvifa This is part of localization that is less interesting, I guess this doesn't block us from doing things? if so, let's just close it

[2019-07-26 01:28] irvifa commented on #13858
/close

[2019-07-26 01:28] irvifa commented on #13858
Okay closed then..

[2019-07-26 01:29] irvifa commented on #13860
/remove-lifecycle stale

[2019-07-26 01:29] irvifa commented on #13860
@girikuncoro how about this issue?

[2019-07-26 01:46] girikuncoro commented on #13860
This should be owned by @qbl along with the glossary thing. Let's keep on
tracking it.

On Fri, Jul 26, 2019, 10:29 Irvi Aini <notifications@github.com> wrote:

[2019-07-26 02:14] zacharysarah commented on #12078
Closing after discussion in the [Q2/Q3 review meeting](https://docs.google.com/document/d/10EFtv-DEIaMStLjWNiGgmLTJMG6UGY0iEOcPTfJLplY/edit#).

/close

[2019-07-26 02:14] #12078 closed

[2019-07-26 02:53] RA489 commented on #15492
/area minikube

[2019-07-26 05:00] ClaudiaJKang opened #15538 "Outdated files in the dev-1.15-ko.3 branch"
**This is a Bug Report**

**Problem:**

52 files in content/en are changed
12 files in content/ko are outdated

- [x]  docs/concepts/_index.md 1 file changed, 1 insertion(+), 1 deletion(-)
- [x]  docs/concepts/overview/components.md 1 file changed, 6 insertions(+), 4 deletions(-)
- [x]  docs/concepts/overview/what-is-kubernetes.md 1 file changed, 1 insertion(+), 1 deletion(-)
- [x]  docs/concepts/

[2019-07-26 05:00] ClaudiaJKang commented on #15538
/language ko

[2019-07-26 09:04] sftim opened #15539 "k8s.io/docs/concepts/workloads/ essentially blank"
**This is a Bug Report**

**Problem:** The page at https://kubernetes.io/docs/concepts/workloads/ is pretty much blank in terms of actual page content.

**Proposed Solution:**
Reorganise [/docs/concepts/workloads/](https://kubernetes.io/docs/concepts/workloads/)

#15373 includes a sketch of what changes I think are right here (that's just my opinion of course).

**Page to Update:**
https://kuberne

[2019-07-26 09:06] medmedchiheb opened #15540 "Issue with https://k8s.io/blog/"
**This is a Feature Request**

The Blog links are not well centered

**What would you like to be added**
adjust design and center links in the Blog

**Why is this needed**
better UI
![k8s-old-blog](https://user-images.githubusercontent.com/15221272/61940282-5b675f80-af95-11e9-9abf-bed0019e0b9e.PNG)

[2019-07-26 09:07] medmedchiheb commented on #15540
/assign

[2019-07-26 14:17] chenrui333 commented on #14001
checkin?
/remove-lifecycle stale

[2019-07-26 15:13] knbz opened #15545 "Issue with k8s.io/docs/reference/kubectl/kubectl/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-07-26 16:11] #12785 closed

[2019-07-26 16:36] kingmax-chan opened #15546 "Issue with k8s.io/docs/concepts/configuration/secret/"
**This is a Bug Report**

**Problem:**
kubectl apply --k .
**Proposed Solution:**
kubectl apply -k .
**Page to Update:**
https://kubernetes.io/docs/concepts/configuration/secret/

[2019-07-26 18:25] faucherb94 commented on #15166
I've been running into this issue as well.

[2019-07-26 19:14] #12827 closed

[2019-07-26 21:48] jaypipes opened #15549 "No such image "kubernetes-hugo" when running `make docker-build`"
**This is a Bug Report**

**Problem:**

Trying to run `make docker-build && make docker-serve` and running into an issue with the `kubernetes-hugo` image:

[code]

Pulling other images works fine for me. Looks like it's just this `kubernetes-hugo` image that cannot be found:

[code]

[2019-07-26 23:28] faucherb94 commented on #15166
So apparently `credsStore`s [officially not supported](https://kubernetes.io/docs/concepts/containers/images/#configuring-nodes-to-authenticate-to-a-private-registry).

[2019-07-27 00:19] #12634 closed

[2019-07-27 03:32] avidLearnerInProgress commented on #13919
/remove-lifecycle stale

[2019-07-27 11:21] mittalyashu commented on #14001
@avidLearnerInProgress Have you opened the PR for contributor cheatsheet?

[2019-07-27 11:58] mittalyashu commented on #14001
@avidLearnerInProgress Shouldn't this issue be the part of **Kubernetes/community** repository?

[2019-07-27 12:06] mittalyashu commented on #13907
/language hi

[2019-07-27 12:08] mittalyashu commented on #13923
In which PR this is done?

[2019-07-27 12:08] mittalyashu commented on #13923
/language hi

[2019-07-27 12:10] mittalyashu commented on #13913
@Amanchouhan192 Any updates on this issue? Have you created a PR for the same?

[2019-07-27 12:20] mittalyashu commented on #13914
/remove-lifecycle stale

[2019-07-27 12:23] mittalyashu commented on #13957
/remove-lifecycle stale

[2019-07-27 15:04] mittalyashu commented on #13922
@avidLearnerInProgress Should we close this issue, since it is targeting big chunk of a folder, we need to break down the process of creating issues, especially for big size folders.

Also, we already have a lot of issues and PR to review.

[2019-07-27 15:07] mittalyashu commented on #13926
@avidLearnerInProgress Have you created any PR for this?

[2019-07-27 15:08] mittalyashu commented on #13957
@avidLearnerInProgress To make this issue run for a longer period we need to re-structure it a bit.

[2019-07-27 15:20] mittalyashu commented on #13960
Any progress on creating PR for this issue? @avidLearnerInProgress

[2019-07-27 15:21] mittalyashu commented on #14168
@vinayakshnd Any progress on creating PR for this issue?

[2019-07-27 18:11] raelga commented on #13948
## Status update

_Updated 2019/07/22_

### Merged and published :tada:

_None_

### Reviewed (LGTM):

- #15325 content/es/docs/reference/glossary/pod-priority by @krlooss
- #14557 reference/glossary/kube-proxy by @javisabalete
- #14555 reference/glossary/minikube by @javisabalete

@glo-pena @alexbrand @electrocucaracha can you check them, another `/lgtm` will be enough to `/approve`.

### Reviewe

[2019-07-27 20:01] kbhawkey commented on #15549
@jaypipes, what about `make docker-image`?

[2019-07-28 01:37] SatoruItaya opened #15552 "Translate concepts/configuration/assign-pod-node/ in Japanese"
# Translate concepts/configuration/assign-pod-node/ in Japanese

**This is a...**

* [x]  Feature Request
* [ ]  Bug Report

**Problem:**
No concepts/configuration/assign-pod-node/ in Japanese.

**Proposed Solution:**
Translate concepts/configuration/assign-pod-node/ in Japanese.
Copy from en content and Update `{{ content/ja/docs/concepts/configuration/assign-pod-node.md }}`.

**Page to Update:**

[2019-07-28 01:37] SatoruItaya commented on #15552
/language ja

[2019-07-28 02:51] GauravAjaySingh opened #15553 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
**Page to be fixed:** https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/

**Problem:**
Interactive terminal is not working. the  error message being displayed since yesterday is:

The content owner's account has reached capacity. Please try again in 10 minutes

<img width="985" alt="Screen Shot 2019-07-27 at 7 51 16 PM" src="https://user-images.githubusercon

[2019-07-28 04:32] taibc opened #15554 "Can not access the application running (Kubernetes boot-camp)"
**This is a Bug Report**

**Error request http to application running (boot-camp)**

When I access the link: http://localhost:8001/api/v1/namespaces/default/pods/kubernetes-bootcamp-5b48cfdcbd-jzvk8/proxy/. I got below error

The pod/deployment is running, if I try the link: http://localhost:8001/api/v1/namespaces/default/pods/kubernetes-bootcamp-5b48cfdcbd-jzvk8

There is no error:

apiVersion	"v

[2019-07-28 10:22] #15471 closed

[2019-07-28 13:54] kingmax-chan opened #15555 "Issue with k8s.io/docs/concepts/cluster-administration/certificates/"
**This is a Bug Report**

**Problem:**
Be sure the replace the values marked with angle brackets with real values you want to use
**Proposed Solution:**
Be sure to replace the values marked with angle brackets with real values you want to use
**Page to Update:**
https://kubernetes.io/...

[2019-07-28 15:12] CorfitzMe opened #15557 "Adding --cgroup-driver flag to etcd documentation"
**This is a Feature Request**
Update on website request.

**What would you like to be added**
When settings up a cluster for etcd following this part: https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm/#setting-up-the-cluster It would be worth noting, that if one installs Docker following this documentation: https://kubernetes.io/docs/setup/production-

[2019-07-28 16:28] kakts commented on #14761
/close

[2019-07-28 16:28] #14761 closed

[2019-07-28 16:56] sftim commented on #15555
Thanks for pointing out this mistake @kingmax-chan

[2019-07-28 16:57] sftim commented on #15555
So to fix this, change “Be sure **the** replace” to “Be sure **to** replace”.
/good-first-issue

[2019-07-28 17:11] sftim opened #15560 "Migrate Connecting Applications with Services to Task page(s)"
**This is a Feature Request**

**What would you like to be added**
Migrate https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/ to one or more Task pages

**Why is this needed**
https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/ reads more like a task than it does conceptual documentation.
Seems to me that it'd be better to turn t

[2019-07-28 17:14] sftim commented on #12082
[Rolling back a deployment](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#rolling-back-a-deployment) feels like a good example of a section that belongs as a Task

[2019-07-28 17:15] sftim commented on #10995
/triage needs-information

[2019-07-28 17:16] sftim commented on #7386
/retitle Document the SupportPodPidsLimit feature

(it's the feature that needs documenting, right?)

[2019-07-28 19:01] #12902 closed

[2019-07-28 22:33] neolit123 commented on #15557
/sig cluster-lifecycle
@CorfitzMe thanks for logging the ticket.
given we are skipping the kubeadm init "kubelet-start" phase, we don't detect the docker cgroup driver.

PRs welcome to update the document in question.

[2019-07-29 04:51] yoonian commented on #15538
@ClaudiaJKang May I handle this?

[2019-07-29 05:11] #12916 closed

[2019-07-29 05:47] gochist commented on #15538
@yoonian thank you for volunteering!

/assign @yoonian

[2019-07-29 05:54] Saikumargsgg opened #15563 "Issue with k8s.io/docs/getting-started-guides/ubuntu/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-07-29 06:00] Saikumargsgg commented on #15563
I need to add slave node in master node but im getting an error as mentioned below even after killing the process of API server port(6443). Unable to add slave node at all. Please if some one knows the solution  for this issue help me.

Slave node ip is 192.168.1.171 and adding to this masternode ip = 192.168.1.148
root@kuberslave:/home/sh# sudo kubeadm join 192.168.1.148:6443 --token cwxswk.hbkuu

[2019-07-29 07:28] yunxji opened #15565 "Issue with k8s.io/docs/setup/production-environment/turnkey/tencent/"
**This is a Bug Report**

**Problem:The format of this article is wrong, but I don't know how to fix it.**

**Proposed Solution:Please give some suggestions or modify directly**

**Page to Update:https://kubernetes.io/docs/setup/production-environment/turnkey/tencent/**

Can you pay attention to this issue? @tengqm

[2019-07-29 10:56] zacharysarah commented on #14048
Closing until Hugo fixes functionality upstream. See #14108 for background.

/close

[2019-07-29 10:56] #14048 closed

[2019-07-29 11:18] poothia opened #15572 "issue with /docs/tutorials/services/source-ip.md"
**This is a Bug Report**

**Problem:**
A clean up is required to review and update old documentation.

**Page to Update:**
https://kubernetes.io/docs/tutorials/services/source-ip/

**REF:**
https://github.com/kubernetes/website/pull/15513#discussion_r306604685
https://github.com/kubernetes/website/pull/15513#discussion_r308009914

[2019-07-29 11:21] poothia commented on #15572
/help

[2019-07-29 11:31] jaypipes commented on #15549
@kbhawkey doh, I totally forgot about `make docker-image`. :(

That was definitely what I was missing. Though, there seems to be some temporary Alpine failures when building the kubernetes-hugo image this morning:

[code]

I'll try again later and see if it's just a transient hiccup. Thanks!
-jay

[2019-07-29 11:31] #15549 closed

[2019-07-29 17:58] #15555 closed

[2019-07-29 18:04] #15546 closed

[2019-07-29 18:08] #15382 closed

[2019-07-29 22:49] zacharysarah opened #15576 "Clarify style guide: what kinds of third party content do K8s docs allow?"
## Improve the K8s style guide

The style guide needs to specify that K8s docs decline to host specific kinds of content:

1. Provider- or project-specific content from projects outside the kubernetes or kubernetes-sigs GitHub organizations

2. Identical content hosted in multiple locations ("dual-sourced" content)

For example, consider [Kubernetes in Docker](https://github.com/kubernetes-sigs/ki

[2019-07-29 22:50] zacharysarah commented on #15576
@aimeeu This would be a great place for you to start.

[2019-07-29 23:05] trevorackerman-wk commented on #14275
Does using a work queue for doing "coarse grained parallelism" require
using queuing service that implements amqp? What other options are
available?

Thanks

On Sat, May 11, 2019 at 6:36 AM Tim Bannister <notifications@github.com>
wrote:

[2019-07-30 00:02] zacharysarah commented on #14101
@aimeeu Another good place to start

[2019-07-30 00:57] lapee79 opened #15577 "Translate tasks/debug-application-cluster/resource-usage-monitoring in Korean"
**This is a Feature Request**

**What would you like to be added**
/docs/tasks/debug-application-cluster/resource-usage-monitoring.md Korean Translation

**Why is this needed**
No Translate tasks/debug-application-cluster/resource-usage-monitoring in Korean

**Comments**
Copy from en content and Update content.
https://kubernetes.io/docs/tasks/debug-application-cluster/resource-usage-monitoring/

[2019-07-30 00:57] lapee79 commented on #15577
/language ko
/assign

[2019-07-30 07:23] AdelinGhanaem opened #15580 "Issue with k8s.io/docs/tutorials/kubernetes-basics/explore/explore-interactive/"
**This is a Bug Report**

After waiting for more than 5 minutes, the command-line starts but not pods or other resources available to continue with the tutorial

**Problem: After waiting for more than 5 minutes, the command-line starts but not pods or other resources available to continue with the tutorial**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-07-30 13:18] DanRoscigno commented on #14101
@aimeeu I did a little research, ping me here and I can catch you up.  I have been out of town for a few weeks on an assignment and not looked at this in a while!

[2019-07-30 14:29] sftim commented on #12303
The outcome I'd like: someone who visits https://v1-9.docs.kubernetes.io/docs/reference/ can negotiate TLS, talk HTTP over it, and ask for that page. The webserver sends back an attractive 410 Gone response with Kubernetes project styling and a hyperlink to the available documentation versions.

[2019-07-30 15:45] #12950 closed

[2019-07-30 16:46] ryanmcginnis commented on #4205
seems like this is fixed in #15542

[2019-07-30 17:01] zacharysarah commented on #12303
@sftim That would be a nice outcome. I’ll reach out to netlify and see what it would take to serve a 410.

[2019-07-30 17:08] cstoku commented on #13532
/remove-lifecycle stale
/milestone 1.14-ja.2

[2019-07-30 17:32] cstoku commented on #14886
@jkkitakita CLAの署名、できそうでしょうか？

[2019-07-30 17:45] thecrudge commented on #15553
Hi @GauravAjaySingh, can you please verify that this is still an issue? When I visit the link, everything loads correctly

[2019-07-30 17:46] jaypipes opened #15585 "Insufficient documentation for cluster autoscaler"
**This is a Feature Request**

The cluster autoscaler subproject is not covered very well in the official Kubernetes documentation. In fact, besides a couple mentions in blog articles, really the only mention of cluster autoscaler in the official docs seems to be here:

https://kubernetes.io/docs/tasks/administer-cluster/cluster-management/

**What would you like to be added**

Documentation shoul

[2019-07-30 17:49] jaypipes commented on #15585
I'd like to work on this documentation, fwiw. I'm not a member of kubernetes, though, so cannot self-assign.

[2019-07-30 17:53] jaypipes commented on #15585
/sig autoscaling
/sig docs

[2019-07-30 17:58] tapialuism opened #15586 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
**This is a Bug Report**

I receive the message failed to connect to localhost........

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

![image](https://user-images.githubusercontent.com/43013736/62153208-ebb8e380-b2b8-11e9-90fa-8de6063dba69.png)

[2019-07-30 18:10] sftim commented on #15576
Some example topics that could help illustrate the policy we settle on; what is and isn't OK.

- `cloud-controller-manager`
- Ingress
- load-balanced Services
- cluster auto scaling
- kube-proxy

[2019-07-30 18:11] sftim commented on #15576
The cluster API effort is also heavily tied to vendor-specific details.

[2019-07-30 18:20] sftim commented on #12303
I was thinking about a second Hugo site. Reason being is that the 410 page content I'm imagining needs to change each time there's a Kubernetes release, to hyperlink to the new supported version.

I have this in mind:
- use images and stylesheets from the main Kubernetes website
- possibly have a `robots.txt`
- map every other page on the old sites to a 410 response
- Hugo publishes the content fo

[2019-07-30 18:20] sftim commented on #15565
Think this is fixed now.
/close

[2019-07-30 18:20] #15565 closed

[2019-07-30 19:19] aimeeu commented on #14101
@DanRoscigno thanks! I’m on vacation until Monday, 5 August. I’ll ping you next week.

[2019-07-30 19:22] DraganBocevski opened #15587 "Issue with k8s.io/docs/concepts/storage/storage-classes/"
**This is a Bug Report**

**Problem:**
Missing information about allowVolumeExpansion option.

**Proposed Solution:**
At least include a reference to this page https://kubernetes.io/blog/2018/07/12/resizing-persistent-volumes-using-kubernetes/

You can also add this option to the corresponding vendors that support it.

**Page to Update:**
k8s.io/docs/concepts/storage/storage-classes/

[2019-07-30 21:46] zacharysarah commented on #12303
@sftim

It sounds like you may also mean a second repo with source for that site. It's a possible solution, but maybe not optimal. We would probably get pushback from SIG Architecture about whether we've adequately considered solutions in the existing repo before creating a new one.

[2019-07-31 00:41] zacharysarah commented on #12303
@sftim 👋 Here's what I heard back from netlify:

[code]

[2019-07-31 00:42] zacharysarah commented on #12303
@lucperkins 👋 The netlify response may interest you, too. ☝️

[2019-07-31 03:04] #14777 closed

[2019-07-31 03:05] kakts commented on #14718
/close

[2019-07-31 03:05] #14718 closed

[2019-07-31 05:52] oke-py commented on #14679
/close

[2019-07-31 05:52] #14679 closed

[2019-07-31 08:12] embano1 commented on #14713
Perfect timing, there was just a lengthy [debate](https://twitter.com/embano1/status/1155870615590584320?s=20) on Twitter on the subject and I was about to file a PR as well.

Happy to review if @SupriyaSirbi is already working on it.

[2019-07-31 11:19] RA489 commented on #15557
/assign @RA489

[2019-07-31 14:22] guludo opened #15599 "Issue with k8s.io/docs/concepts/services-networking/connect-applications-service/"
**This is a Bug Report**

**Problem:**

The second paragraph of https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/ contains the following:

However, that's not an issue if we use docker swarm mode is it?

**Proposed Solution:**
Not sure if that information should stay as is in the documentation.

**Page to Update:**
https://kubernetes.io/docs/concepts/services-ne

[2019-07-31 15:49] matejbizjak opened #15600 "Issue with k8s.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/"
**This is a Bug Report**

**Problem:**
Autoscaing doesn't work if you don't specify **cpu** **limits** for deployment.
`kubectl run php-apache --image=k8s.gcr.io/hpa-example --requests=cpu=200m --expose --port=80`
**Proposed Solution:**
Add `--limits=cpu=500m` parameter to deploy command:
`kubectl run php-apache --image=k8s.gcr.io/hpa-example --requests=cpu=200m --limits=cpu=500m --expose --port=8

[2019-07-31 16:09] lkaybob opened #15601 "Translate tasks/inject-data-application/define-environment-variable-container in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/inject-data-application/define-environment-variable-container.md in Korean

**Why is this needed**
No traslation with tasks/inject-data-application/define-environment-variable-container.md in Korean

**Comments**

Page to update:
https://kubernetes.io/docs/tasks/inject-data-application/define-environment-variable-c

[2019-07-31 16:09] lkaybob commented on #15601
/language ko
/assign

[2019-07-31 17:59] thecrudge commented on #15600
/assign @thecrudge

[2019-07-31 18:04] thecrudge commented on #15587
/good-first-issue

[2019-07-31 18:07] thecrudge commented on #15586
/triage support

[2019-07-31 18:07] thecrudge commented on #15580
/triage support

[2019-07-31 18:08] thecrudge commented on #15553
/triage support

[2019-07-31 18:08] thecrudge commented on #15553
/close

[2019-07-31 18:09] #15553 closed

[2019-07-31 18:22] thecrudge commented on #15563
/triage support

[2019-07-31 18:30] thecrudge commented on #15536
/assign @thecrudge

Thanks for the issue @llamasoft . I tend to agree with your judgement. Let me see what I can do to get the discussion going.

[2019-07-31 18:33] cstoku commented on #14734
/close

[2019-07-31 18:33] #14734 closed

[2019-07-31 18:41] thecrudge commented on #15536
/sig api-machinery

[2019-07-31 19:57] thecrudge commented on #15554
@taibc Can you provide specifics about the documentation you are working from?

/triage support
/assign @thecrudge

[2019-07-31 19:58] thecrudge commented on #15529
/good-first-issue

[2019-07-31 20:03] thecrudge commented on #15526
@JasonHaley Could this potentially be a browser issue? Im unable to replicate, looks good

[2019-07-31 20:34] JasonHaley commented on #15526
This looks fixed now, it can be closed.

[2019-07-31 21:39] sNathan13 commented on #15587
I can take this.

[2019-07-31 22:32] wwilliams-ea opened #15603 "Issue with k8s.io/docs/tasks/tools/install-minikube/ -- "minikube login""
**This is a Bug Report**

C:\WINDOWS\system32>minikube start
* minikube v1.2.0 on windows (amd64)
* Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
* Restarting existing virtualbox VM for "minikube" ...
* Waiting for SSH access ...
* Configuring environment for Kubernetes v1.15.0 on Docker 18.09.6
* Relaunching Kubernetes v1.15.0 using kubeadm

[2019-08-01 01:27] KobayashiD27 commented on #14478
/assign

[2019-08-01 04:01] desty opened #15609 "Add Link /docs/reference/ in Korean"
**This is a Feature Request**

**What would you like to be added**

**Why is this needed**
doesn't have 1.15 API Link

**Comments**

Page to Update:
https://kubernetes.io/ko/docs/reference/

[2019-08-01 04:01] desty commented on #15609
/language ko
/assign

[2019-08-01 06:11] inductor commented on #14478
@sethmccombs The Japanese translation team is currently focusing on finishing the document translation for 1.14 and will start working on 1.15.

I am independently working on this PR https://github.com/kubernetes/website/pull/15590 for the setup pages since the directly structure has completely changed. I think This PR will fix the problem. Can you have a look?

[2019-08-01 06:18] #15557 closed

[2019-08-01 06:31] inductor commented on #14478
/assign

[2019-08-01 06:39] #15402 closed

[2019-08-01 06:50] kakts commented on #14670
/close

[2019-08-01 06:51] #14670 closed

[2019-08-01 06:51] kakts commented on #14544
/close

[2019-08-01 06:51] #14544 closed

[2019-08-01 06:54] wangyp0701 opened #15612 "Execute every hour and 30 minutes. How do you do it?"
cronjob  schedule ---？

[2019-08-01 07:01] RA489 commented on #15603
@wwilliams-ea can you copy paste the exact commands you executed.

[2019-08-01 07:02] RA489 commented on #15603
It will be great if could provide a bit more detail about the issue you are facing.

[2019-08-01 07:03] RA489 commented on #15603
/assign @RA489

[2019-08-01 07:07] RA489 commented on #15477
/assign @RA489

[2019-08-01 07:11] RA489 commented on #15323
@vjohnk Did you completely nuked the previous installation?

[2019-08-01 07:11] RA489 commented on #15323
/assign @RA489

[2019-08-01 07:13] ysyukr opened #15613 "Translate reference/glossary/cloud-provider.md in Korean"
**This is a Feature Request**

**What would you like to be added**
Translate reference/glossary/cloud-provider.md in Korean

**Why is this needed**
No traslation with reference/glossary/cloud-provider.md in Korean

**Comments**

Page to update: https://kubernetes.io/docs/reference/glossary/?all=true#term-cloud-provider

/language ko

[2019-08-01 07:19] vjohnk commented on #15323
@RA489 Yes I did

[2019-08-01 07:23] RA489 commented on #15323
@vjohnk Thanks! Also can you please confirm if these ports 8443 10250 opened?

[2019-08-01 07:36] poothia commented on #15612
Can you explain further, what's the issue?

[2019-08-01 07:50] vjohnk commented on #15323
No they were not....

[2019-08-01 07:52] RA489 commented on #15323
@vjohnk Please make sure those ports are open and try again

[2019-08-01 09:20] vitality1987 opened #15618 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/ exclude=kube* removed"
**This is a Bug Report**

**Problem:**
https://github.com/kubernetes/website/pull/15111 removed "exclude=kube*" from the CentOS kubernetes.repo file. But in the documentation the yum install command still uses "--disableexcludes=kubernetes".

I think this PR has to be reverted as with this change kubectl, kubelet and kubeadm would be updated automatically during OS update which is undesirable in a

[2019-08-01 10:35] desty opened #15620 "Translate home/supported-doc-version in Korean"
**This is a Feature Request**

**What would you like to be added**

**Why is this needed**
No Translate home/supported-doc-version in Korean

**Comments**

Page to Update:
https://kubernetes.io/docs/home/supported-doc-versions/

[2019-08-01 10:39] desty commented on #15620
/language ko
/assign

[2019-08-01 13:02] thecrudge commented on #15526
Thanks @JasonHaley

/close

[2019-08-01 13:02] #15526 closed

[2019-08-01 13:08] thecrudge commented on #15587
thanks @sNathan13

[2019-08-01 14:51] renich opened #15622 "Issue with k8s.io/docs/concepts/storage/volumes/"
**This is a Bug Report**

**Problem:**
The glusterfs example link is broken.

**Proposed Solution:**
Provide an example.

**Page to Update:**
https://kubernetes.io/docs/concepts/storage/volumes/#glusterfs

The text reads: "See the GlusterFS example for more details."

[2019-08-01 15:23] inductor commented on #15455
/assign

[2019-08-01 15:23] inductor commented on #15455
/close

[2019-08-01 15:23] #15455 closed

[2019-08-01 15:23] inductor commented on #15455
/unassign

[2019-08-01 15:31] inductor commented on #14754
I'll take this.

[2019-08-01 15:31] inductor commented on #14754
/assign

[2019-08-01 15:52] inductor commented on #14545
@kakts Are you working on it?
Is it fine if we move the milestone to 1.15-ja.1?

[2019-08-01 15:52] inductor commented on #14848
@kakts How far are you working on it?
Is it fine if we move the milestone to 1.15-ja.1?

[2019-08-01 15:52] inductor commented on #14887
@nrnrk Are you working on it?
Is it fine if we move the milestone to 1.15-ja.1?

[2019-08-01 15:52] inductor commented on #14888
@wakazooo Are you working on it?
Is it fine if we move the milestone to 1.15-ja.1?

[2019-08-01 15:53] inductor commented on #15222
@maabou512 Are you working on it?
Is it fine if we move the milestone to 1.15-ja.1?

[2019-08-01 15:53] inductor commented on #15294
@oke-py Are you working on it?
Is it fine if we move the milestone to 1.15-ja.1?

[2019-08-01 16:43] inductor commented on #14444
/assign

[2019-08-01 16:43] inductor commented on #14444
@cstoku I will work on it based on 1.15 branch. Is that ok?

[2019-08-01 17:24] wwilliams-ea commented on #15603
I already had VirtualBox installed.
I ran:
**choco install minikube kubernetes-cli**

and then
**minikube start**

The command window showed:
**
* minikube v1.2.0 on windows (amd64)
* Downloading Minikube ISO ...
 129.33 MB / 129.33 MB [============================================] 100.00% 0s
* Creating virtualbox VM (CPUs=2, Memory=2048MB, Disk=20000MB) ...
* Configuring environment for Kubernete

[2019-08-01 18:16] inductor commented on #15300
I'll do it. Will be based on 1.15 as well since nobody seems working on it.

[2019-08-01 19:08] inductor commented on #15300
/assign

[2019-08-01 20:55] oke-py commented on #15294
@inductor I've translated about 1/3 page.
It's OK to move the milestone. Thanks.

[2019-08-01 21:06] oke-py commented on #15622
/assign

[2019-08-01 23:11] taibc commented on #15554
@thecrudge : I worked as the guide: https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/

[2019-08-02 00:42] inductor commented on #15294
Thanks!

Please note that you might have to make some modifications on what you’ve translated as it will be a different version

[2019-08-02 02:44] kakts commented on #14848
@inductor
I'm now working on it. But it'll take a long time.
So it's okay to move the milestone to 1.15-ja

[2019-08-02 02:44] kakts commented on #14545
@inductor
I'm now working on it. But it'll take a long time.
So it's okay to move the milestone to 1.15-ja

[2019-08-02 06:46] #9585 closed

[2019-08-02 14:51] thecrudge commented on #15554
@taibc

I do not see an issue here. The module correctly describes how to deploy an application without error. Keep in mind that you need to start the proxy, in another window.

$ echo -e "\n\n\n\e[92mStarting Proxy. After starting it will not output a response. Please click the first Terminal Tab\n"; kubectl proxy
Starting Proxy. After starting it will not output a response. Please click the firs

[2019-08-02 14:51] #15554 closed

[2019-08-02 14:51] thecrudge commented on #15554
/close

[2019-08-02 14:54] #12843 closed

[2019-08-02 15:05] TeejIBM opened #15636 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
**This is a Bug Report**

Local host:8001 is not accessible.

Tried with Safari on macOS and iPad, both keep switching to terminal 1 and entering command.  Typing out command does not work on either terminal.

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-08-02 15:37] chenrui333 commented on #13994
checkin
/remove-lifecycle stale

[2019-08-02 15:55] hasebe commented on #14444
@cstoku @inductor My apologies for not updating this issue for a long time. Yes, please take this.

[2019-08-02 16:52] sunvk opened #15637 "Multimaster Setup - Master 1 corrupting when issues join command on Master-2"
Hi,

I am trying to setup a multi master. After configuring Master-1, when I try to join master-2, at the below api call, join command hung.

/api/v1/namespace/kube-system/secrets/kubeadm-certs

Any help on this please.

Thanks,
Sunish

[2019-08-02 17:37] sNathan13 commented on #15529
/assign krishan-sharma

[2019-08-02 19:09] #14872 closed

[2019-08-02 19:54] neolit123 commented on #15637
any errors logs from api server, kubelet or kubeadm?
/triage support

[2019-08-02 19:59] #12588 closed

[2019-08-02 19:59] #12551 closed

[2019-08-02 19:59] #12528 closed

[2019-08-02 19:59] #12662 closed

[2019-08-03 03:04] inductor commented on #14445
/assign

[2019-08-03 03:05] inductor commented on #14445
on 1.15 milestone @cstoku

[2019-08-03 03:09] inductor commented on #14847
/assign @kakts

[2019-08-03 03:11] inductor commented on #13379
@kaedemalu WIPでもいいのでPull Requestを作っておいてもらえるといいと思います。

[2019-08-03 03:12] inductor commented on #13646
/assign @kaedemalu

[2019-08-03 03:12] inductor commented on #13379
/assign kaedemalu

[2019-08-03 03:12] inductor commented on #13379
/assign @kaedemalu

[2019-08-03 03:16] inductor commented on #15428
@cstoku I'll start working on it on 1.15 branch

[2019-08-03 03:16] inductor commented on #15428
/assign

[2019-08-03 03:34] inductor commented on #15429
/assign

[2019-08-03 03:36] inductor commented on #13377
/assign @sakajunquality

[2019-08-03 03:37] inductor commented on #13532
/assign @skikkh

[2019-08-03 03:46] inductor commented on #13992
/assign @nasa9084

[2019-08-03 03:46] inductor commented on #15454
/assign @yoshiki-nishikimi

[2019-08-03 04:00] inductor opened #15641 "Translate docs/contribute/_index.md into Japanese."
**This is a Feature Request**

**What would you like to be added**
docs/contribute/_index.md in Japanese.

**Why is this needed**
Theres no docs/contribute/_index.md into Japanese.

**Comments**
Copy from en content and Update `content/ja/docs/contribute/_index.md`.

[2019-08-03 04:01] inductor commented on #15641
/language ja

[2019-08-03 04:01] inductor commented on #15641
/assign

[2019-08-03 04:33] af12066 opened #15642 "Translate text of setup/turnkey/aws/ in Japanese"
**This is a Feature Request**

**What would you like to be added**

/docs/setup/turnkey/aws.md Japanese translation.

**Why is this needed**

Text has not yet translated.

**Comments**

Heading and subheading were translated at https://github.com/kubernetes/website/issues/10853

[2019-08-03 04:33] af12066 commented on #15642
/language ja

[2019-08-03 04:34] af12066 commented on #15642
/assign

[2019-08-03 05:08] #12996 closed

[2019-08-03 10:13] #12716 closed

[2019-08-03 13:07] kpaschen opened #15646 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
I went through scenario 2 but the pod status is stuck in ImagePullBackOff. I stopped after about 8 minutes. Perhaps the image name needs a fix?

Also, clicking on the blue "open an issue" button at the bottom takes me back to the beginning of the tutorial and throws away all my progress, and it does not even open an issue.

[2019-08-03 13:14] patrocinio opened #15647 "Issue with k8s.io/docs/tasks/access-application-cluster/ingress-minikube/"
**This is a Bug Report**

**Problem:**
This task should not refere to Katacoda or Play with Kubernetes, as it is describing how to configure Ingress on a Minikube environment, and these environments don't run minikube.

**Proposed Solution:**
Remove the reference to Katacoda and Play with Kubernetes

**Page to Update:**
https://kubernetes.io/...

[2019-08-03 22:25] #13010 closed

[2019-08-04 06:07] irvifa commented on #15341
I'm taking `Storage Classes`

[2019-08-04 06:57] Nawaf91 opened #15649 "Issue with k8s.io/docs/tutorials/kubernetes-basics/"
**This is a Bug Report**مخ

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-08-04 10:04] rossigee opened #15650 "No obvious use cases for static pods instead of daemonsets."
**Problem:**
The 'static pods' page does not explain what static pods are for specifically. It simply explains how to use them.

Right at the top of the page it points out that for most cases you should be using Daemonsets to run certain pods on all nodes, and the Daemonsets page itself has a decent list of common use cases for daemonsets, but i can't find anywhere that explains where static pods

[2019-08-04 10:11] kingmax-chan opened #15651 "Issue with k8s.io/docs/tasks/job/coarse-parallel-processing-work-queue/"
**This is a Bug Report**

**Problem:**
The content of https://kubernetes.io/examples/application/job/rabbitmq/worker.py is incorrect.
**Proposed Solution:**
print("Processing " + sys.stdin.lines())
===>
print("Processing " + sys.stdin.readlines()[0])
**Page to Update:**
https://kubernetes.io/...

[2019-08-04 10:59] kingmax-chan opened #15652 "Issue with k8s.io/docs/tasks/job/fine-parallel-processing-work-queue/"
**This is a Bug Report**

"utf=8" should be "utf-8" in work.py

**Problem:**
itemstr = item.decode("utf=8")
**Proposed Solution:**
shoulde be:
itemstr = item.decode("utf-8")
**Page to Update:**
https://kubernetes.io/...

[2019-08-04 15:42] chenrui333 commented on #13989
checkin
/remove-lifecycle stale

[2019-08-04 17:44] #13020 closed

[2019-08-04 21:48] #13026 closed

[2019-08-04 22:49] #15352 closed

[2019-08-04 22:49] #15348 closed

[2019-08-05 00:22] #15577 closed

[2019-08-05 00:35] lapee79 opened #15659 "Translate tasks/debug-application-cluster/resource-metrics-pipeline in Korean"
**This is a Feature Request**

**What would you like to be added**
/docs/tasks/debug-application-cluster/resource-metrics-pipeline.md Korean Translation

**Why is this needed**
No Translate tasks/debug-application-cluster/resource-metrics-pipeline in Korean

**Comments**
Copy from en content and Update content.
https://kubernetes.io/docs/tasks/debug-application-cluster/resource-metrics-pipeline/

[2019-08-05 00:35] lapee79 commented on #15659
/language ko
/assign

[2019-08-05 01:04] af12066 opened #15661 "Translate /docs/tutorials/stateless-application/expose-external-ip-address.md in Japanese"
**This is a Feature Request**

**What would you like to be added**

/docs/tutorials/stateless-application/expose-external-ip-address.md in Japanese

**Why is this needed**

No /docs/tutorials/stateless-application/expose-external-ip-address.md in Japanese.

**Comments**

Copy from content/en/docs/tutorials/stateless-application/expose-external-ip-address.md and update content/ja/docs/tutorials/sta

[2019-08-05 01:04] af12066 commented on #15661
/language ja

[2019-08-05 01:51] #13022 closed

[2019-08-05 01:58] inductor commented on #14754
/close

[2019-08-05 01:58] #14754 closed

[2019-08-05 02:46] wesleymxy opened #15663 "How to write a correct config file indor to manage cluster"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-08-05 06:45] sftim commented on #15650
Good point!

One thing you can use static pods for is to have kubelet run your control plane inside a set of pods.
Have a look at https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/ha-topology/ to see some diagrams that aim to illustrate this.

[2019-08-05 06:46] sftim commented on #15650
/kind feature

[2019-08-05 07:50] yofriadi commented on #15341
Hi, I will take `Certificates` in `Cluster Administration`, thank you.

[2019-08-05 09:05] RA489 commented on #15647
@patrocinio can you please provide a bit more detail on issue you getting?

[2019-08-05 09:18] liys87x opened #15668 "Issue with k8s.io/docs/reference/setup-tools/kubeadm/kubeadm-alpha/"
**This is a Bug Report**

**Problem:**
The *certificate management documentation* link is 404.
Current is "https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-alpha/docs/tasks/administer-cluster/kubeadm/kubeadm-certs"
It should be "https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs"

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/referenc

[2019-08-05 10:01] patrocinio commented on #15647
Hello @RA489 This task is intended to run on a minikube environment, including some steps that are exclusive to minikube:

``
minikube addons enable ingress
``

The introduction ('Before you begin' section) is the generic one, saying to run it either in minikube or one of the playground environment (Katacoda or Play with Kubernetes). However, this task can't be run in the playground environment, a

[2019-08-05 10:21] mf-lit opened #15669 "Issue with k8s.io/docs/concepts/workloads/pods/pod/"
The pods documentation states the following in regards to pod termination:

[code]

This isn't actually true, at least it isn't with docker. A `docker stop` is sent to the container and it's up to docker to decide what to do, which by default is send a TERM but can be changed if STOPSIGNAL is set in the Dockerfile. This difference is important.

I'd edit the documentation directly, but I've no ide

[2019-08-05 12:01] #11586 closed

[2019-08-05 14:04] thecrudge commented on #14104
resolved by #14177

/close

[2019-08-05 14:04] #14104 closed

[2019-08-05 14:07] sftim commented on #15669
Good spot @mf-lit
/kind bug

[2019-08-05 14:07] af12066 commented on #15661
/assign

[2019-08-05 14:07] sftim commented on #15668
Good spot @liys87x
/kind bug

[2019-08-05 14:08] sftim commented on #15668
/sig cluster-lifecycle

[2019-08-05 14:35] lucaspinto opened #15671 "Issue with k8s.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/"
My expectations may have been wrong, but I was expecting to find a configuration example or an example file or a list of configurable variables on this page.

[2019-08-05 14:38] Krishan-Sharma commented on #15529
Hello,

I am interested to work on this issue. Can someone assign this issue to me?

Thanks,
Krishan

[2019-08-05 15:02] sftim commented on #15649
Hi @Nawaf91
You wanted to report that there was a bug in https://k8s.io/docs/tutorials/kubernetes-basics/

Can you explain more about that bug?
/triage information-needed

[2019-08-05 15:13] thecrudge commented on #15529
Hi Krishan,

Issues are first come first serve. Just get the fix in with a PR and await
for approval.

- C

On Mon, Aug 5, 2019 at 9:38 AM Krishan Sharma <notifications@github.com>
wrote:

--

------------------
e: cody@crudge.io
c: 214-603-9075
w: http://www.crudge.io

[2019-08-05 15:18] #15601 closed

[2019-08-05 15:33] thecrudge commented on #15651
/kind bug

[2019-08-05 15:34] thecrudge commented on #15652
/kind bug
/good-first-issue

[2019-08-05 15:34] thecrudge commented on #15651
/good-first-issue

[2019-08-05 15:38] neolit123 commented on #15668
/assign
/lifecycle active

[2019-08-05 16:00] pariminaresh opened #15673 "Issue with k8s.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/"
**This is a Bug Report**

I want to verify the validity for all of my kube cluster certificates. I see `kubeadm alpha certs check-expiration` is a way to do that from kube docs. But thats really not working for me. RIght now I'm trying to use something `openssl x509 -enddate -noout -in ../apiserver.crt` but definitely would like to use `kubeadm` for all sorts of my cluster details.

**Problem:**
[

[2019-08-05 20:43] thecrudge commented on #15673
This is a feature of 1.15, your kubeadm version is 1.14, please update and try again.

/close

[2019-08-05 20:43] #15673 closed

[2019-08-05 21:15] pariminaresh commented on #15673
Thank you @thecrudge

[2019-08-05 21:26] MaxKam commented on #15652
I'll take this @thecrudge

[2019-08-05 21:27] zacharysarah commented on #14008
/remove-lifecycle stale

[2019-08-05 21:42] af12066 commented on #15440
/assign

[2019-08-05 22:15] thecrudge commented on #15671
/assign

Can you explain more exactly what you were expecting? Maybe we can be a bit more clear in how we link to the Configuring Access to Multiple Clusters that goes more in depth to the kubeconfig.

See this link: https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/

[2019-08-05 22:44] thecrudge commented on #15669
/sig docs

[2019-08-05 23:19] zacharysarah opened #15682 "Discover the scope and requirements to refactor the K8s docs API generation process"
- Start research in the [docs release playbook](https://github.com/kubernetes/sig-release/tree/master/release-team/role-handbooks/docs#late-steps-weeks-9-11). Read all links and linked issues related to reference doc generation. (Make sure you understand the scope of the problem and what's required to fix it.)

- Create a new GitHub issue describing the requirements and scope of work required to r

[2019-08-05 23:23] zacharysarah opened #15683 "Discover the scope and requirements for implementing the Docsy Hugo template"
- Start research in the [Docsy template](https://opensource.googleblog.com/2019/07/announcing-docsy-website-theme-for.html?m=1)

- Create a new GitHub issue describing the requirements and scope of work required to implement the template. (Make it easy for other stakeholders to understand the extent of the challenge and what's required to implement the template.)

- Get stakeholder input, then imp

[2019-08-06 01:27] yoshiki-nishikimi commented on #15454
#15456

[2019-08-06 01:27] #15454 closed

[2019-08-06 01:30] thecrudge commented on #15682
This could potentially fix #15536

[2019-08-06 01:31] thecrudge commented on #15663
/assign

@wesleymxy please reopen ticket with relevant details

/close

[2019-08-06 01:31] #15663 closed

[2019-08-06 01:33] thecrudge commented on #14344
/close

resolved

[2019-08-06 01:33] #14344 closed

[2019-08-06 01:36] thecrudge commented on #15671
/sig docs
/help
/priority important-soon

[2019-08-06 02:51] RA489 commented on #15647
@patrocinio IIUC Playground also has minikube environment so you can easily use minikube commands over there. when you launch the playground terminal it gonna set up minikube environment for you by executing `minikube start` command

[2019-08-06 03:05] dkumbhar opened #15686 "Issue with k8s.io/docs/tasks/tools/install-minikube/"
**This is a Bug Report**
Unable to start minikube on Windows 10

**Problem:**
minikube start     * minikube v1.2.0 on windows (amd64)
* Creating virtualbox VM (CPUs=2, Memory=2048MB, Disk=20000MB) ...
E0805 21:45:37.280907   22032 start.go:559] StartHost: create: precreate: VBoxManage not found. Make sure VirtualBox is installed and VBoxManage is in the path

X Unable to start VM
* Error:

[2019-08-06 03:17] #15622 closed

[2019-08-06 03:21] #15652 closed

[2019-08-06 03:29] cstoku commented on #15294
/milestone 1.15-ja.1

[2019-08-06 03:31] cstoku commented on #15294
/milestone 1.15-ja.1

[2019-08-06 03:34] cstoku commented on #14848
/milestone 1.15-ja.1

[2019-08-06 03:34] cstoku commented on #14545
/milestone 1.15-ja.1

[2019-08-06 03:35] cstoku commented on #15300
/milestone 1.15-ja.1

[2019-08-06 03:35] cstoku commented on #14444
/milestone 1.15-ja.1

[2019-08-06 03:36] cstoku commented on #14445
/milestone 1.15-ja.1

[2019-08-06 03:38] cstoku commented on #13646
@kaedemalu こちら作業いかがでしょうか？

[2019-08-06 03:39] cstoku commented on #15428
/milestone 1.15-ja.1

[2019-08-06 03:39] cstoku commented on #13377
@sakajunquality こちら作業いかがでしょうか？

[2019-08-06 03:40] cstoku commented on #13532
@skikkh こちら作業いかがでしょうか？

[2019-08-06 05:51] juandiegopalomino commented on #15686
/sig windows

[2019-08-06 05:52] juandiegopalomino commented on #15686
/triage support

[2019-08-06 06:03] juandiegopalomino commented on #15646
/triage support
/triage not-reproducible
I'm unable to replicate your first issue, but it sounds like it could be a copy/paste issue with the name of the image as the original image is fine, but you'll get the error you mentioned if you place the wrong image.
I'm not certain about how to fix the button though

[2019-08-06 06:05] RA489 commented on #15686
/assign @RA489

[2019-08-06 06:07] juandiegopalomino commented on #15618
@mhamdisemah
/sig docs
/kind bug

[2019-08-06 06:20] juandiegopalomino commented on #15599
/triage support
/sig cluster-lifecycle
I don't think that Kubernetes can work in harmony with docker swarm as a general principal as K8s attempts to orchestrate the containers itself. I don't know enough about the internals to give a definite answer, but I think @kubernetes/sig-cluster-lifecycle can help.

[2019-08-06 06:20] kpaschen commented on #15646
Thanks for looking! I did get it to work and then I couldn't find this issue again to update it.

[2019-08-06 06:24] RA489 commented on #15686
@dkumbhar IIUC are trying to install minikube with hyperv as vm-driver without virtualbox right?

[2019-08-06 07:16] juandiegopalomino commented on #15636
@TeejIBM I think I figured out your issue: please try to execute `kubectl proxy` on one of the terminals, and continue w/ the commands on the other. It does not seem to do all the steps by itself naturally.

[2019-08-06 07:16] juandiegopalomino commented on #15636
/triage support

[2019-08-06 07:45] #15668 closed

[2019-08-06 09:39] cstoku commented on #13992
/close

[2019-08-06 09:39] #13992 closed

[2019-08-06 10:27] #15647 closed

[2019-08-06 11:34] nepomucen opened #15691 "No obvious difference explained between memory and requests.memory resource types of Compute Resource Quota"
**This is a Bug Report**

**Problem:**
Coming from the question on Stack Overflow: [https://stackoverflow.com/questions/57301603/what-is-different-between-cpu-vs-requests-memory-pods-vs-count-pods/57307598](https://stackoverflow.com/questions/57301603)

After reading documentation on Resource Quotas, similarly to the original poster, I can't explain the difference between `memory` and `requests.me

[2019-08-06 13:56] damianpumar commented on #13948
Working on `es/docs/reference/glossary/`

[2019-08-06 14:12] juandiegopalomino commented on #15646
/close

[2019-08-06 14:12] #15646 closed

[2019-08-06 14:27] #12540 closed

[2019-08-06 17:00] aimeeu opened #15696 "Add link to /docs/contribute/start/"
**This is a Bug Report**

**Problem:**
Participating in SIG Docs section says, “ We communicate using a Slack channel, a mailing list, and weekly video meetings.New participants are welcome. For more information, see Participating in SIG Docs.”   but contains no details. Neither does the _Participating in SIG Docs_ page.
**Proposed Solution:**
Add hyperlink to 'communicate' - link to _Participate

[2019-08-06 17:01] aimeeu commented on #15696
/good-first-issue

[2019-08-06 17:01] aimeeu commented on #15696
I am working on this

[2019-08-06 17:20] lyveng opened #15701 "Link to logging conventions in /docs/reference/kubectl/cheatsheet.md broken"
**This is a Bug Report**

**Problem:**
The link to logging conventions in [kubectl cheatsheet](https://kubernetes.io/docs/reference/kubectl/cheatsheet/#kubectl-output-verbosity-and-debugging) is broken.

**Proposed Solution:**
Update the links. Here is the PR - #15699

**Page to Update:**
https://kubernetes.io/docs/reference/kubectl/cheatsheet/#kubectl-output-verbosity-and-debugging

[2019-08-06 17:26] aimeeu opened #15702 "Update link to 2019 Agenda in /docs/contribute/start/#style-guidelines"
**This is a Bug Report**

**Problem:**
_The basics about our docs/Style guidelines _ section: 'add it to the agenda' links to 2018 Docs SIG agenda doc.
**Proposed Solution:**
Update to 2019 Docs SIG Agenda so user has fewer clicks (the Google docs does have a link to 2019 agenda but more user-friendly if web page links directly)
**Page to Update:**
https://kubernetes.io/docs/contribute/start/#styl

[2019-08-06 17:26] aimeeu commented on #15702
/good-first-issue

[2019-08-06 17:26] aimeeu commented on #15702
I am working on this

[2019-08-06 17:45] guludo opened #15704 "Issue with k8s.io/docs/tutorials/kubernetes-basics/expose/expose-intro/"
**This is a Bug Report**

**Problem:**

It looks like the legend of the figure under `Services and Labels` is wrong - the purple cubes are representing containers whereas the legend refers to them as pods.

**Proposed Solution:**

My proposal the the legend:

- `<circle>` Pod
- `<purple cube>` Container
- `<hexagon>` Node

**Page to Update:**
https://kubernetes.io/docs/tutorials/kubernetes-basics/

[2019-08-06 17:50] TeejIBM commented on #15636
Ah, you're right, it did not accept the second command, and I did not realize that when I reported this.

Perhaps the instruction needs to split the two commands?

[2019-08-06 17:51] guludo commented on #15599
@juandiegopalomino Hi! Thanks your input on this :-)

I'm not really interested in making k8s work with docker swarm. I'm rather concerned whether the quoted information is accurate regarding the current version of Docker.

[2019-08-06 17:53] aimeeu commented on #15702
/assign

[2019-08-06 17:56] sunvk commented on #15637
This is what happening.

My setup contains 1 LB & 2 Master nodes with local ETCD.
Below is my kubeadm configuration & I am using kubernetes 15.1

apiVersion: kubeadm.k8s.io/v1beta1
kind: ClusterConfiguration
kubernetesVersion: stable
controlPlaneEndpoint: "192.168.22.49:6443"
networking:
  podSubnet: 172.16.0.0/16

After the Kubeadm init on first Master, I am getting response for kubectl get nodes

[2019-08-06 18:06] aimeeu commented on #15696
/assign

[2019-08-06 18:07] neolit123 commented on #15637
etcd not comming up is unusual.

random questions:
- are you always calling `kubeadm reset` before `kubeadm init`?
- are you using a private container registry where you have a custom etcd image?
- please share the full log of `kubeadm init`?

[2019-08-06 18:10] #13577 closed

[2019-08-06 18:12] neolit123 commented on #15599
/remove-sig cluster-lifecycle
/sig network node

try asking at the #sig-network or #sig-node slack channels.

[2019-08-06 18:17] sunvk commented on #15637
**- are you always calling kubeadm reset before kubeadm init?**
     No. Kubeadm init only calling first. But once it is getting corrupted, i do reset and try again
**- are you using a private container registry where you have a custom etcd image?**
        No. Just a default setup. no custom image. Just followed this https://octetz.com/posts/ha-control-plane-k8s-kubeadm
**- are you using custom c

[2019-08-06 18:57] aimeeu commented on #15702
/close

[2019-08-06 18:57] #15702 closed

[2019-08-06 18:59] neolit123 commented on #15637
please follow our official guide instead https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/high-availability/

what are contents of your kubeadm config?

are you calling `kubeadm reset` before `kubeadm join` on the second master?
what is the full output of `kubeadm join`?

[2019-08-06 19:08] neolit123 commented on #15618
@cobalt293
^ please see this request for revert of https://github.com/kubernetes/website/pull/15111
which fixed an issue your reported.

cc @mhamdisemah

[2019-08-06 19:24] sunvk commented on #15637
**Kubeadm Config:**
--------------------------
[centos@k8-2 ~]$ cat /etc/kubernetes/kubeadm/kubeadm-config.yaml

**apiVersion: kubeadm.k8s.io/v1beta1
kind: ClusterConfiguration
kubernetesVersion: stable
controlPlaneEndpoint: "192.168.22.45:6443"
networking:
  podSubnet: 172.16.0.0/16**

**are you calling kubeadm reset before kubeadm join on the second master?**  **:  NO**

**what is the full outpu

[2019-08-06 20:44] aimeeu commented on #15576
/assign

[2019-08-06 21:22] neolit123 commented on #15637
not sure what is going on.

if the first control-plane node has initialized properly you should be able to call:
`kubectl get po -A`

the kubeconfig is in /etc/kubernetes/admin.conf on that first control-plane node.

so alternatively:
`KUBECONFIG=/etc/kubernetes/admin.conf sudo kubectl get no -A`

also please share the output of `kubeadm join .... --v=2` from the second CP node.

[2019-08-06 21:37] thecrudge commented on #15612
/triage needs-information

[2019-08-06 21:48] thecrudge commented on #15704
Hi @guludo , I think you make a good argument

/sig docs
/help
/assign
/priority awaiting-more-evidence

[2019-08-06 21:51] thecrudge commented on #15691
/sig docs
/help
/priority important-soon

[2019-08-06 22:31] thecrudge commented on #15545
@knbz Please provide more information

/assign
/triage needs-more-information

[2019-08-06 22:35] thecrudge commented on #15585
/kind feature-request

[2019-08-06 22:39] thecrudge commented on #15586
/assign @BenHall

[2019-08-06 22:40] thecrudge commented on #15585
/assign @jaypipes

[2019-08-06 22:42] thecrudge commented on #15580
/assign @BenHall

[2019-08-06 22:52] thecrudge commented on #15511
@nroose I have gone over the stackdriver page and do not see any hidden text in the markdown, can you please point it out directly.

[2019-08-06 22:52] thecrudge commented on #15511
/assign

[2019-08-06 22:54] thecrudge commented on #15506
Closing this issue, nothing of substance defined. Please reopen the issue if I missed something.

/close

/language zh

[2019-08-06 22:54] #15506 closed

[2019-08-06 22:54] BenHall commented on #15586
Being unable to connect to 8001 happens when kubectl proxy hasn't been started.

@tapialuism Can you remember if you started the proxy?

[2019-08-06 22:55] BenHall commented on #15580
Very sorry about the issue. We've made some changes and upgraded to v1.13 of Minikube which will hopefully improve performance.

[2019-08-06 22:56] #14814 closed

[2019-08-06 23:05] thecrudge commented on #15534
/help
/needs tech-review
/priority important-soon

[2019-08-06 23:09] thecrudge commented on #15534
/assign

[2019-08-06 23:13] thecrudge commented on #15502
Not sure who corrected it, but its been corrected.

/close

[2019-08-06 23:13] #15502 closed

[2019-08-06 23:16] thecrudge commented on #15492
/kind feature

[2019-08-06 23:16] thecrudge commented on #15484
/triage support

[2019-08-06 23:17] thecrudge commented on #15477
This seems more like a support request rather than an issue with the documentation. @kpooja20 please help clarify what you are stating.

[2019-08-06 23:20] thecrudge commented on #15457
Hi @LinziWang Can you please provide details in the issue you are seeing?

[2019-08-06 23:21] thecrudge commented on #15457
/assign @BenHall l

[2019-08-06 23:22] sftim commented on #15704
I had a look at this. To me it's clear the purple cubes represent Pods.

How can SIG Docs best make it clear to all readers that:
- these are indeed Pods
- it does not matter whether the Pods for `app=B` (or indeed `app=A`) consist of one or several containers
- Kubernetes manages Pods as the principal resource, not containers

?

[2019-08-06 23:24] sftim commented on #15671
Also, I think:
/sig cli

[2019-08-06 23:34] sftim commented on #15671
I took a look at https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/

This is filed in a Concept section. The page has conceptual information as well as some text which, to me, feels much more like Task text.
Both [Define clusters, users, and contexts](https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/#define-clusters-u

[2019-08-06 23:37] sftim opened #15709 "Tutorial-style guide for kubectl config"
**This is a Feature Request**

**What would you like to be added**
- Add a tutorial that explains how to use `kubectl config`
- Optionally, also explain making similar changes with a text editor

**Why is this needed**
Learners and new cluster operators might struggle to move on from managed learning environments such as katacoda, towards something where the client PC and the cluster start off kno

[2019-08-06 23:49] zacharysarah opened #15711 "Remove vendor-specific info from resource usage monitoring"
Related to #15576

The [resource usage monitoring](https://k8s.io/docs/tasks/debug-application-cluster/resource-usage-monitoring.md) page contains vendor-specific content that does not meet K8s style guide standards. (See #15576) At most, this page should mention third-party solutions with a link. Any PR that addresses this issue should consider refactoring solutions into a simple hyperlinked list

[2019-08-07 01:35] inductor commented on #14847
/close

[2019-08-07 01:35] #14847 closed

[2019-08-07 02:23] RA489 commented on #15701
@lyveng Thanks! for raising this issue.

[2019-08-07 02:23] RA489 commented on #15701
/assign @RA489

[2019-08-07 04:41] #13053 closed

[2019-08-07 04:42] prankul88 commented on #14114
Closing since the issue is ambiguous and seems to be fixed when I open the same URL now.

[2019-08-07 04:42] #14114 closed

[2019-08-07 04:44] yoonian commented on #15538
Done.
Thanks!

[2019-08-07 05:22] gochist commented on #15538
/close

[2019-08-07 05:22] #15538 closed

[2019-08-07 06:19] prankul88 commented on #14244
Closing, the issue is rightly conveyed to the concerned person.

[2019-08-07 06:19] #14244 closed

[2019-08-07 06:21] #15613 closed

[2019-08-07 06:25] vitality1987 commented on #15618
@cobalt293
your _yum install_ command lacked the _--disableexcludes=kubernetes_ option

cc @mhamdisemah

[2019-08-07 08:29] sftim commented on #15576
Is it OK for pages that link to other CNCF projects (and separate organizations, ie not Kubernetes) to highlight the sibling relationship?

A few examples:
- containerd, rkt
- Prometheus, OpenMetrics, Thanos
- CoreDNS
- etcd
- Virtual Kubelet

[2019-08-07 08:29] sftim commented on #15711
@zacharysarah https://kubernetes.io/docs/tasks/debug-application-cluster/resource-usage-monitoring.md (see current PR description) is a broken link BTW
Think you mean https://kubernetes.io/docs/tasks/debug-application-cluster/resource-usage-monitoring/

[2019-08-07 08:57] houliang428 opened #15715 "kubectl asks for username and password after using subcontext"
**This is a Bug Report**

**Problem:**
I have already created a Kubernetes cluster on Microsoft azure and have already connected to the cluster. I follow the instruction, created two contexts dev and prod, and use the context dev and run "kubectl run snowflake --image=k8s.gcr.io/serve_hostname --replicas=2";
It then asked for the username and password. What's the username and password?  I used kub

[2019-08-07 09:08] #15701 closed

[2019-08-07 10:31] poothia commented on #14244
@prankul88 is this issue fixed?

[2019-08-07 11:05] lucaspinto commented on #15671
@thecrudge the page you linked me to indeed contained the information I was looking for. I guess I did not land on it because "in my head" I was not trying to access multiple clusters but just one. Now, I realize that having already a running cluster locally, technically, I was using multiple clusters. Thank you for your support.

To give more context about my expectations: I've used a service tha

[2019-08-07 12:49] yahoon opened #15719 "Improvement for k8s.io/docs/tasks/debug-application-cluster/logging-elasticsearch-kibana/"
Still need the doc about how to do this on a cluster installed by kubeadm

[2019-08-07 13:02] guludo commented on #15704
I think keeping the purple cubes as Pods in that figure makes it inconsistent with the previous figures, where circles represent pods and the cubes represent containers ([here](https://kubernetes.io/docs/tutorials/kubernetes-basics/explore/explore-intro/#pods-overview) for example). Additionally, note that, in the figure, the IP addresses are "attached" to the circles (which makes sense if one thi

[2019-08-07 13:03] ZamanOof opened #15720 "Issue with k8s.io/docs/tutorials/kubernetes-basics/explore/explore-interactive/"
Hello,
I'm not sure if it's can Called Bug,
when running the command on GIT
`kubectl exec -ti $POD_NAME bash
`Result:
`Unable to use a TTY - input is not a terminal or the right kind of file
`The solution :
run it on **PowerShell**
On:
Windows env (10,7)
References:
https://github.com/microsoft/WSL/issues/2271
https://github.com/kubernetes/kubernetes/issues/37471
Best Regards

[2019-08-07 13:45] thecrudge commented on #15704
In the example you provided it is explaining what a pod is with regards to containers (teal cube). In this context, Im inclined to agree with Tim that as far as kubernetes is concerned, a pod is the smallest unit of that kubernetes controls, not a container. Which is what the tutorial is concerned with. In this example, you're exposing a service on the pod. If the layer of abstraction you're sugge

[2019-08-07 13:52] thecrudge commented on #15671
@lucaspinto Absolutely, glad I could help and we really appreciate your input. Would you be interested and taking a shot at the issue that @sftim opened to address your issue?

[2019-08-07 13:55] sftim commented on #15704
It sounds like it'd be a good idea to talk about Pods and, ideally, use a different symbol for Pods vs containers (not just a different color).

[2019-08-07 13:58] sftim commented on #15709
/sig cli

[2019-08-07 14:33] guludo commented on #15704
Hm. I think I get your point now, guys.

A reader that is following the tutorials from the beginning is very likely to associate the purple cube with a container, since cubes were used for containers in previous pages. As @sftim suggested, it would be better to use a different symbol for Pods. As a matter of fact, that symbol already exists - the circle.

Thus, one option, to keep the abstraction

[2019-08-07 14:50] bene2k1 commented on #14137
/remove-lifecycle stale

[2019-08-07 14:53] iloveicedgreentea opened #15722 "RBAC docs for "edit" default cluster role do not accurately represent its permissions"
**This is a Feature Request**

I am more than happy to make a PR if someone can point me in the right direction.

**What would you like to be added**
https://kubernetes.io/docs/reference/access-authn-authz/rbac/#user-facing-roles

The `edit` role states ```Allows read/write access to most objects in a namespace. It does not allow viewing or modifying roles or rolebindings.```

This is a little mis

[2019-08-07 15:03] aimeeu opened #15723 "Contribute,Start Contributing page: Enhance 'Find something to work on' and 'Review docs pull requests' sections"
**This is a Bug Report**

**Problem:**
People new to issues and pull requests in GitHub may need additional guidance on how to search, filter, and sort issues and PRs. Additionally, there is nothing on how to resolve conversations in a PR.

**Proposed Solution:**
(Check Intermediate and Advanced pages to prevent content duplication.)

- Perhaps create a new paragraph in _Improve existing content/F

[2019-08-07 15:03] aimeeu commented on #15723
/assign

[2019-08-07 15:04] aimeeu commented on #15723
/good-first-issue

[2019-08-07 15:27] sethmccombs commented on #3735
/assign
/close

[2019-08-07 15:27] #3735 closed

[2019-08-07 15:36] aimeeu commented on #15711
/assign

[2019-08-07 15:44] prankul88 commented on #14244
@poothia Ya it is still there. Not sure if there is a need to keep this issue open. Thoughts?

[2019-08-07 16:21] girikuncoro commented on #15341
I'm taking `Volume Snapshot Classes` next in `content/id/docs/concepts/storage`

[2019-08-07 17:12] girikuncoro commented on #15341
@danninov just realized PersistentVolumes actually has been translated, it's in the list required for reviews. I guess the review list is confusing, let me just remove it and raise another issue for review list.

[2019-08-07 17:14] girikuncoro commented on #15341
I'm taking `Volume Snapshots` next in `content/id/docs/concepts/storage`

[2019-08-07 17:53] thecrudge commented on #15715
/triage support

[2019-08-07 17:58] thecrudge commented on #15719
Hi @yahoon

Unfortunately this is not a problem with the documentation itself, but that the documentation that exists is for a specific vendor platform. This is something that needs to be discussed.

/sig docs

[2019-08-07 18:46] sunvk commented on #15637
Please find the join output from second CP node with --v=10

[certs] Using certificateDir folder "/etc/kubernetes/pki"
I0807 14:35:31.255265    3172 certs.go:39] creating PKI assets
[certs] Generating "apiserver" certificate and key
[certs] apiserver serving cert is signed for DNS names [master-k8-2 kubernetes kubernetes.default kubernetes.default.svc kubernetes.default.svc.cluster.local] and IPs

[2019-08-07 18:53] neolit123 commented on #15637
looks like the second etcd member needs more time to join.

please track this issue. it was logged today, but we don't have a solution yet:
https://github.com/kubernetes/kubeadm/issues/1712

/close

[2019-08-07 18:53] #15637 closed

[2019-08-07 18:54] #11645 closed

[2019-08-07 19:06] aimeeu commented on #15576
@zacharysarah  While poking around the docs I noticed vendor-specific pages under _Tasks/Monitorin, Logging, and Debugging_  for Stackdriver and the Elastic stack. These pages also are targeted at Google Cloud Engine installations.  I didn't find an open issue to keep track of pages that contain vendor-specific content. Is there someplace we are logging these?

[2019-08-07 19:56] thecrudge commented on #15723
Im not sure if this should have the good first issue tag. The nature of the problem seems to require experience on resolving issues in Github.

[2019-08-07 19:59] thecrudge commented on #15422
This would be considered more of a support issue. This issue would be better suited for stackoverflow, or some a place of that nature. I have been through the kubectl docs, and there is nothing currently wrong with them.

Please continue to open issues if you see anything wrong with the documentation.

/close

[2019-08-07 19:59] #15422 closed

[2019-08-07 20:00] thecrudge commented on #15412
No issue reported

/close

[2019-08-07 20:00] #15412 closed

[2019-08-07 20:01] verult opened #15726 "Issue with k8s.io/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods/"
**This is a Bug Report**

**Problem:**
The code snippet here limits `system-node-critical` and `system-cluster-critical` from being used outside `kube-system` namespace, but the documentation implies these priority classes can be used in *any* namespace:

"...and pod in any namespace can be configed as a critical pod by the following either way:..."

**Page to Update:**
https://kubernetes.io/docs/

[2019-08-07 20:01] verult commented on #15726
/sig scheduling

[2019-08-07 20:20] zacharysarah commented on #15576
@aimeeu

What would you recommend? Maybe opening an umbrella issue?

[2019-08-07 20:21] zacharysarah commented on #15576
@sftim

Good point. Yes, I think that's OK--I'll update the style guide issue to reflect the change.

[2019-08-07 20:31] thecrudge commented on #15395
Hi @e-ago

This would be more of a support question, and not a question for the website. Please direct your question for stackoverflow, or another site better suited to answer this question.

Also see:

https://kubernetes.io/docs/tasks/manage-hugepages/scheduling-hugepages/

/close

[2019-08-07 20:31] #15395 closed

[2019-08-07 20:32] thecrudge commented on #15394
Hi @Laith-Alobaidy

Do you know what exactly in the process is wrong?

/kind bug

[2019-08-07 20:33] thecrudge commented on #15387
/kind bug

I am seeing the same issue

[2019-08-07 20:34] thecrudge commented on #15387
/priority important-soon

[2019-08-07 20:36] thecrudge commented on #15379
/triage support

[2019-08-07 20:37] thecrudge commented on #15370
/triage support

This is likely because you did not start the proxy in another terminal

/close

[2019-08-07 20:37] #15370 closed

[2019-08-07 20:40] thecrudge commented on #15351
docker is listed as a prereq for minikube:

```Note: Minikube also supports a --vm-driver=none option that runs the Kubernetes components on the host and not in a VM. **Using this driver requires Docker and a Linux environment but not a hypervisor**. It is recommended to use the apt installation of docker from (Docker, when using the none driver. The snap installation of docker does not work with

[2019-08-07 20:40] #15351 closed

[2019-08-07 20:42] thecrudge commented on #15323
/triage support

[2019-08-07 20:44] thecrudge commented on #15306
/good-first-issue

[2019-08-07 20:57] thecrudge commented on #15283
As the title suggests, you should have a persistentvolumeclaim already created. At the bottom of the page, there is a link to persistentvolumeclaims that explains how to create them:

https://kubernetes.io/docs/concepts/storage/persistent-volumes/#persistentvolumeclaims

/close

[2019-08-07 20:57] #15283 closed

[2019-08-07 20:58] thecrudge commented on #15258
/sig windows

[2019-08-07 21:00] thecrudge commented on #15140
Nothing reported

/close

[2019-08-07 21:00] #15140 closed

[2019-08-07 21:06] thecrudge commented on #13544
Unfortunately this is a limitation of katacoda and not the documentation

/triage support
/close

[2019-08-07 21:06] #13544 closed

[2019-08-07 21:07] thecrudge commented on #12330
This issue has been addressed and is safe to close

/close

[2019-08-07 21:07] #12330 closed

[2019-08-07 21:08] thecrudge commented on #12550
Not responding, safe to close

/close

[2019-08-07 21:08] #12550 closed

[2019-08-07 21:20] thecrudge commented on #12968
/cc @BenHall

[2019-08-07 21:21] thecrudge commented on #13069
Safe to close, no response

/close

[2019-08-07 21:21] #13069 closed

[2019-08-07 21:43] amosshapira opened #15728 "Issue with k8s.io/docs/setup/learning-environment/minikube/"
**This is a Bug Report**

**Problem:**
When following the instructions to execute `kubectl run hello-minikube --image=k8s.gcr.io/echoserver:1.10 --port=8080`

The command emits the following warning:

[code]

**Proposed Solution:**
Follow the warning to update the document to use one of the proposed new commands. Since I'm new to K8s I'm not sure which one it should be.

**Page to Update:**
https:

[2019-08-07 21:46] #15696 closed

[2019-08-07 21:49] #15600 closed

[2019-08-07 23:30] vikas027 commented on #14095
anyone else thinks that this is a good idea?

[2019-08-08 00:52] #15659 closed

[2019-08-08 03:02] danninov commented on #15341
Ah okay. I'll take another issue then.

[2019-08-08 03:05] danninov commented on #15341
I'm taking `Logging` at `concepts/cluster-administration`

[2019-08-08 03:08] gochist commented on #15620
/close

[2019-08-08 03:08] #15620 closed

[2019-08-08 05:27] poothia commented on #14244
@prankul88 I think you should reopen the issue so that it can be tracked.

[2019-08-08 07:53] RA489 commented on #15728
/assign @RA489

[2019-08-08 08:05] lkaybob opened #15732 "Translate tasks/inject-data-application/define-command-argument-container in Korea"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/inject-data-application/define-command-argument-container.md in Korea

**Why is this needed**
No translation with tasks/inject-data-application/define-command-argument-container.md in Korea

**Comments**

Page to update: https://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/

[2019-08-08 08:05] lkaybob commented on #15732
/language ko
/assign

[2019-08-08 08:57] phcollignon opened #15736 "Add Helm course to the list of Kubernetes course"
**This is a Feature Request**
**What would you like to be added**

Please could you add this Helm course to the list of Kubernetes courses :
[Packaging applications with Helm for Kubernetes] (Pluralsight)](https://www.pluralsight.com/courses/packaging-applications-helm-kubernetes)

**Why is this needed**
Useful to learn to use Helm and Kubernetes.

[2019-08-08 09:33] nkoranova opened #15739 "Issue with k8s.io/docs/home/supported-doc-versions/"
Hi! :sun_with_face: I have a question - do you gradually remove the old docs versions (or their static versions) as you move forward? We have a bunch of links in our docs, which point to your v1.10 docs that are now broken and I wonder if to simply change them to v1.11 links and how much of a temporary solution this would be. Thanks!

[2019-08-08 11:53] easimon opened #15741 "AzureDisk storage class parameters are incomplete"
**This is a Feature Request**

On https://kubernetes.io/docs/concepts/storage/storage-classes/#azure-disk, the list of configuration properties for Azure Disks is incomplete. I found https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/docs/driver-parameters.md for the new CSI driver and found the parameter `resourceGroup` documented there -- which was exactly what I was searching f

[2019-08-08 14:00] sakajunquality commented on #13377
@cstoku 途中なのですが来週休みなので時間取れると思いますー！

[2019-08-08 14:37] gochist opened #15745 "Outdated files in the dev-1.15-ko.4 branch"
# This is a Bug Report
## Problem
Outdated files in the dev-1.15-ko.4 branch.

### 30 files to be modified
#### need to be compared with `dev-1.15-ko.1`
1. [x] content/en/_index.html 1 file changed, 2 insertions(+), 2 deletions(-)
1. [x] content/en/docs/concepts/architecture/nodes.md 1 file changed, 6 insertions(+), 3 deletions(-)
1. [x] content/en/docs/concepts/overview/components.md 1 file chang

[2019-08-08 15:30] aimeeu commented on #15576
@zacharysarah  Yes, an umbrella issue sounds like a good approach. I will create one.

[2019-08-08 15:43] aimeeu opened #15748 "Umbrella Issue: Remove Third-Party Content"
**This is a Bug Report**

**Problem:**
Relates to #15576 - Clarify Style Guide
Some pages contain provider-or-project-specific content from projects that are not  inside the kubernetes or kubernetes-sigs GitHub organizations, or are not inside the CNCF.

For discussion around removing third-party content, please refer to these Slack threads:
- https://kubernetes.slack.com/archives/C1J0BPD2M/p15653

[2019-08-08 20:19] #13109 closed

[2019-08-08 20:22] jshepp opened #15754 "Improvement for k8s.io/docs/reference/command-line-tools-reference/kubelet/"
It's impossible to find where these flags have to be set.

[2019-08-08 20:22] #15754 closed

[2019-08-08 20:44] wongma7 commented on #14380
There is no such annotation as pv.beta.kubernetes.io/uid.

But pv.beta.kubernetes.io/gid: 123 should result in 123 showing up if you run `id` in the container.

It doesn't do anything else. It won't change the permissions of the volume. The annotation is useful for the specific case where a volume already exists with a certain group owner and you'd like your pod to be able to consume it without ch

[2019-08-08 23:13] RandySheriffH opened #15757 "Issue with patching"
None of your examples seems to work:

kubectl patch deployment patch-demo --patch "$(cat patch-file.yaml)"
kubectl patch deployment patch-demo --patch 'spec:\n template:\n  spec:\n   containers:\n   - name: patch-demo-ctr-2\n     image: redis'

kubectl patch deployment patch-demo --patch "$(cat patch-file.json)"
kubectl patch deployment patch-demo --patch '{"spec": {"template": {"spec": {"containe

[2019-08-08 23:15] RandySheriffH commented on #15757
I could provide more details for sure ... but u ever tested patching with latest release?

[2019-08-09 00:08] gochist commented on #15366
/assign

@kubernetes/sig-docs-ko-owners I'm sorry that I missed this issue which was supposed to be done within our `dev-1.15-ko.2` milestone.

[2019-08-09 03:42] networkandcode opened #15760 "Issue with k8s.io/docs/concepts/overview/components/"
Hi, this is a query
Why is the container run time not mentioned as a component of the Master

o/p captured from 'kubeadm init'
[preflight] WARNING: Couldn't create the interface used for talking to the container runtime: docker is required for container runtime: exec: "docker": executa
ble file not found in $PATH

[2019-08-09 05:16] zacharysarah opened #15762 "Whenever possible, limit PRs to one language"
Please add the following language to the [contribution guide](https://kubernetes.io/docs/contribute/start/#submit-a-pull-request), step 5 of "Submit a pull request":
[code]

/good-first-issue
/sig docs
/priority important-soon

[2019-08-09 05:24] sftim commented on #15760
/triage support

[2019-08-09 05:26] sftim commented on #15736
I'm not sure about this. Helm is a CNCF project but it's not itself part of Kubernetes, and this 3rd-party course seems to focus on Helm more than Kubernetes.

[2019-08-09 08:30] phcollignon commented on #15736
Well there is already an Helm course in the list ... "Helm Deep Dive with Hands-On Labs (Linux Academy)"  so why not this one ?

[2019-08-09 08:32] aalloosshh opened #15764 "Issue with k8s.io/docs/reference/access-authn-authz/authorization/"
what define in Review Your Request Attributes ( API request verb, HTTP request verb) contrary with Determine the Request Verb (Non-resource requests , Resource requests )

**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-08-09 08:35] #15764 closed

[2019-08-09 10:33] #13050 closed

[2019-08-09 10:58] Malkar1492 opened #15767 "Issue : steps to trouble shoot alert "KubeStatefulSetReplicasMismatch""
**This is a Bug Report**
I want a troubleshoot solution for openshift prometheus and grafana alert :
KubeStatefulSetReplicasMismatch - StatefulSet Namespace/StatefulSet replica mismatch

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-08-09 11:10] sotoiwa opened #15768 "Translate tasks/debug-application-cluster/debug-pod-replication-controller/ in Japanese"
# Translate tasks/debug-application-cluster/debug-pod-replication-controller/ in Japanese

**This is a...**

* [x]  Feature Request
* [ ]  Bug Report

**Problem:**
No tasks/debug-application-cluster/debug-pod-replication-controller/ in Japanese.

**Proposed Solution:**
Translate tasks/debug-application-cluster/debug-pod-replication-controller/ in Japanese.
Copy from en content and Update `content/

[2019-08-09 11:10] sotoiwa commented on #15768
/language ja
/assign

[2019-08-09 12:49] dwimsey opened #15770 "Issue with k8s.io/docs/tasks/debug-application-cluster/resource-usage-monitoring/"
**This is a Bug Report**

**Problem:**

Page seems to advertise for New Relic

**Proposed Solution:**

Remove paragraphs referencing New Relic and links to its website.

**Page to Update:**
https://kubernetes.io/docs/tasks/debug-application-cluster/resource-usage-monitoring/#cronjob-monitoring

[2019-08-09 14:32] fbreckle opened #15771 "misleading annotation for aws internal load balancer"
**Problem:**
The annotation for internal load balancers on AWS has the value 0.0.0.0/0 for no apparent reason. A cidr range is not required nor supported as a value in this annotation. This is quite confusing.

The implementation at [aws.go](https://github.com/kubernetes/cloud-provider-aws/blob/master/pkg/cloudprovider/providers/aws/aws.go#L3324) makes internal load balancers for every value excep

[2019-08-09 17:18] aimeeu commented on #15762
/assign

[2019-08-09 17:26] aimeeu commented on #15762
/unassign

[2019-08-09 17:34] aimeeu commented on #15762
/assign @MaxKam

[2019-08-10 04:33] af12066 opened #15779 "Translate text of docs/setup/release/version-skew-policy.md in Japanese"
**This is a Feature Request**

**What would you like to be added**

docs/setup/release/version-skew-policy.md Japanese translation.

**Why is this needed**

Text has not yet been translated.

**Comments**

Headings and subheadings were translated at https://github.com/kubernetes/website/pull/13360 .

[2019-08-10 04:33] af12066 commented on #15779
/language ja

[2019-08-10 04:40] af12066 commented on #15779
/assign

[2019-08-10 09:08] gochist commented on #15366
move this to #15745
/close

[2019-08-10 09:08] #15366 closed

[2019-08-10 09:08] gochist commented on #15745
/assign

[2019-08-10 11:13] billsmithaustin opened #15786 "Issue with k8s.io/docs/concepts/architecture/nodes/"
**This is a Bug Report**

**Problem:** The What’s Next section goes away after you provide feedback.

**Proposed Solution:** Keep the What’s Next section after accepting feedback.

**Page to Update**
https://kubernetes.io/docs/concepts/architecture/nodes/

[2019-08-10 11:30] thecrudge opened #15787 "Dual Hosted Tutorial Content"
**Problem:**
Currently, the katacoda tutorials are embedded in the kubernetes website. The majority of the issues that get opened toward those tutorials are support requests, rather than issues against the documentation. Currently, these tutorials are also hosted elsewhere in the org, and this has raised the question about how to handle dual hosted content.

**Proposed Solution:**
Lazy consensus i

[2019-08-10 11:30] thecrudge commented on #15787
/assign @zacharysarah
/assign @bradtopol

[2019-08-10 11:32] thecrudge commented on #15787
/cc @steveperry-53

[2019-08-10 11:40] thecrudge opened #15788 "Remove vendor specific content from online training overview"
**Problem:**
Keeping in line with the updated style guide (see #15576), we should also remove the vendor specific references on the online training overview page

**Proposed Solution:**
Remove the links

**Page to Update:**
https://kubernetes.io/docs/tutorials/online-training/overview/

/good-first-issue

[2019-08-10 11:41] thecrudge commented on #15788
/cc @zacharysarah

[2019-08-10 12:06] loqutus commented on #15788
/assign

[2019-08-10 14:00] #12090 closed

[2019-08-10 14:00] #13138 closed

[2019-08-10 14:00] #12278 closed

[2019-08-10 15:38] SrikrishnaBingi opened #15792 "Issue with k8s.io/docs/tasks/access-application-cluster/communicate-containers-same-pod-shared-volume/"
Hello,

The mount path of container 'nginx-container' is '/usr/share/nginx/html' but the container 'debian-container' is writing data into '/pod-data'.

But, you mentioned that the second container writes the index.html file in the root directory of the nginx server.  How is this possible when the mount paths are different? Please help me understand.

[2019-08-10 16:11] jmyung opened #15794 "Unable to translate image files in Korean for no l10n (ko) space."
## This is a Feature Request
I am a korean localization member of kubernetes/kubernetes-docs-ko channel, and now I am working on a [service](https://kubernetes.io/docs/concepts/services-networking/service/) page.
I have an issue with translation of image files, because I can't find the way how to translate image file in Korean.

## What would you like to be added
It seems that there are two type o

[2019-08-10 16:12] jmyung commented on #15794
/language ko

[2019-08-10 18:27] thecrudge commented on #15792
Hi @SrikrishnaBingi

The way you have worded your statement makes me think that this is an issue that would be more suited for support, or an online help community like stackoverflow.

If I am mistaken, and there is an issue with the documentation, then please fill out the bug report as instructed.

/assign

/triage support

[2019-08-10 18:28] thecrudge commented on #15786
/sig website

[2019-08-10 18:28] thecrudge commented on #15786
/assign

[2019-08-10 18:30] thecrudge commented on #15771
/good-first-issue

Ref #15576

[2019-08-10 18:31] thecrudge commented on #15770
/good-first-issue

Thanks @dwimsey

[2019-08-10 18:32] thecrudge commented on #15757
Hi @RandySheriffH

Please provide the page you are working from, the links to the tutorials, etc. What you have posted about gives us no context.

Thanks,

Cody

[2019-08-10 18:33] thecrudge commented on #15757
/assign

[2019-08-10 18:50] thecrudge commented on #15767
Hi @Malkar1492

That is more of a support or feature request and not an issue with the documentation itself.

Please propose a solution and submit a PR.

Thanks - C

/triage support
/kind feature

[2019-08-10 18:53] thecrudge commented on #15788
Linked wrong Issue, #15748

[2019-08-10 18:54] thecrudge commented on #15788
/assign @loqutus

Assigned, just keep in mind that issues are first come first serve. If someone submits a PR first, its theres to claim. When you do submit your PR, make sure to add in the comments this issue #.

[2019-08-10 18:57] thecrudge commented on #15741
/good-first-issue

[2019-08-10 18:59] thecrudge commented on #15739
Yes, we do. I think we support the current version plus -4. So 1.15, 14, 13, 12, 11

@zacharysarah can keep me honest here.

[2019-08-10 18:59] thecrudge commented on #15739
/assign

[2019-08-10 19:01] thecrudge commented on #15736
Hi @phcollignon

We have updated the style guide recently. I believe this would fall under that umbrella, but only in a manner that links to the docs (possibly embeds them) from the website:

https://github.com/kubernetes/website/issues/15576

^^ See the new style guidelines

[2019-08-10 19:01] thecrudge commented on #15736
/assign

[2019-08-10 19:02] thecrudge commented on #15728
This only an issue with the API version, and not the syntax itself.

[2019-08-10 19:07] thecrudge commented on #15726
Good catch, @verult , would like to submit a PR?

[2019-08-10 19:11] thecrudge commented on #15722
/priority important-longterm

[2019-08-10 19:11] thecrudge commented on #15722
Good catch

[2019-08-10 19:13] thecrudge commented on #15720
/sig windows

@kubernetes/sig-windows-misc can someone look at this?

@ZamanOof This brings up a good question as to whether or not we should have both powershell and gitbash represented. If so, then where does it end?

[2019-08-10 20:06] #13125 closed

[2019-08-10 21:48] usvgmani opened #15797 "Issue with k8s.io/docs/concepts/workloads/pods/pod-lifecycle/"
I am not sure if this is a bug. Please update documentation on conditionType for readinessGate.

**Problem:**
The readiness gate explanation for conditionType is not clear as to what does conditionType mean, it just says that conditionType: "www.example.com/feature-1", is that a hard coded value, and how does this work.

The readiness gate requires one or  two lines explanation on conditionType as

[2019-08-11 04:16] lapee79 opened #15799 "Translate tasks/manage-kubernetes-objects/kustomization in Korean"
**This is a Feature Request**

**What would you like to be added**
/docs/tasks/manage-kubernetes-objects/kustomization.md Korean Translation

**Why is this needed**
No Translate tasks/manage-kubernetes-objects/kustomization in Korean

**Comments**
Copy from en content and Update content.
https://kubernetes.io/docs/tasks/manage-kubernetes-objects/kustomization/

/language ko

[2019-08-11 06:19] yoonian commented on #15794
I think we should keep the translation version in the same format as the original.

According to https://kubernetes.io/docs/contribute/style/write-new-topic/#adding-images-to-a-topic, the preferred image format is .svg, not .png.

[2019-08-11 09:41] RA489 commented on #15728
@amosshapira Try this command as workaround.
`kubectl run --generator=run-pod/v1 hello-minikube --image=k8s.gcr.io/echoserver:1.10 --port=8080`

[2019-08-11 10:25] alicek106 opened #15802 "Translate /docs/concepts/configuration/overview/ in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate /docs/concepts/configuration/overview/ in Korean

**Why is this needed**
No translation with /docs/concepts/configuration/overview/ in Korean

**Comments**

Page to update : https://kubernetes.io/docs/concepts/configuration/overview/

[2019-08-11 10:26] alicek106 commented on #15802
/language ko
/assign

[2019-08-11 10:41] amosshapira commented on #15728
Yep, that executed cleanly:

[code]

[2019-08-11 10:47] amosshapira commented on #15728
BTW I just noticed that, probably because the updated command doesn't create deployment but just a pod, the next command on the manual also fails:

[code]

So it starts feeling like either the entire page have to be revamped or a different command should be used for the step I reported initially.

[2019-08-11 10:54] kakts commented on #14917
@cstoku
Could you move this milestone to dev-1.15-ja.1 ?

[2019-08-11 12:13] jmyung commented on #15794
@yoonian
I totally agree, but we need `ko` directory in `static\images\docs` of website repo.
`svg` and `png` files are not located in the `content/ko/docs`

[2019-08-11 14:29] sftim commented on #14267
I really do think a diagram would help

/reopen

[2019-08-11 14:30] sftim commented on #14267
/remove-lifecycle stale

[2019-08-11 14:33] sftim commented on #14180
For the `kubectl` docs, how about adding the generated date just after:
[code]

[2019-08-11 14:36] sftim commented on #14264
Looks like this is fixed, via #14271.
/close

[2019-08-11 14:36] #14264 closed

[2019-08-11 15:25] #12740 closed

[2019-08-11 16:26] #12268 closed

[2019-08-11 21:21] chenrui333 commented on #13994
@raelga any update on this issue?

[2019-08-11 21:21] chenrui333 commented on #13995
@remyleone any update on this issue?

[2019-08-11 21:21] chenrui333 commented on #13998
ping @kubernetes/sig-docs-it-owners

[2019-08-12 02:32] ysyukr opened #15809 "Translate concepts/overview/working-with-objects/labels.md in Korean"
This is a Feature Request

What would you like to be added
Translate concepts/overview/working-with-objects/labels.md in Korean

Why is this needed
No traslation with concepts/overview/working-with-objects/labels.md in Korean

Comments

Page to update: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/

/language ko

[2019-08-12 07:38] ysyukr opened #15812 "Translate concepts/overview/working-with-objects/common-labels.md in Korean"
This is a Feature Request

What would you like to be added
Translate concepts/overview/working-with-objects/common-labels.md in Korean

Why is this needed
No traslation with concepts/overview/working-with-objects/common-labels.md in Korean

Comments

Page to update: https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/

/language ko

[2019-08-12 07:41] #12999 closed

[2019-08-12 09:12] rlenferink commented on #13998
We're working on including additional Italian people to speed up these kind of issues.

[2019-08-12 09:38] #15767 closed

[2019-08-12 12:56] mik-laj opened #15821 "Missing altenative for Jobs in docs - pipelines"
Hey.
I miss information about one alternative - pipeline.
They can be made by external tools.
https://github.com/knative/build
https://github.com/tektoncd/pipeline

This information will help you get to know Kubernetes better.

Thanks

[2019-08-12 13:50] sftim commented on #15821
Would linking to those solutions fit in with the (very recent) guidelines about 3rd party content?

See #15576

[2019-08-12 13:50] sftim commented on #15821
Perhaps a blog post about the different options could work instead?

[2019-08-12 13:59] #14248 closed

[2019-08-12 14:25] mik-laj commented on #15821
Now I understand the rules. I'm afraid these designs are not suitable here.

[2019-08-12 14:25] #15821 closed

[2019-08-12 15:03] iaoiui commented on #14810
I guess following section should be also modified because "Create a kustomization.yaml" section is a little confusing.
https://kubernetes.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/#create-a-kustomization-yaml

[2019-08-12 18:47] chenrui333 commented on #13998
ok, sounds good.

[2019-08-12 20:00] zacharysarah commented on #15794
/assign @gochist

[2019-08-12 21:30] aimeeu opened #15828 "SIG-Docs: Documentation User Survey 2019"
**This is a Feature Request**

**What would you like to be added**

Put together a survey asking (random) site visitors for their pain points.

The CNCF has a Survey Monkey account.  We could work with the owner to create a survey, which then could be linked to from the Docs home page. The link could also go out via social media and Google groups. We would have to be very careful how we word the q

[2019-08-12 21:39] bradtopol commented on #15787
So I thought the issue is we have a link like the following:
https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/
which is exactly the same as this:
https://www.katacoda.com/courses/kubernetes/launch-single-node-cluster

and that we should just instead link to the katacoda version so folks understand that this is Katacoda content and if they have any problems

[2019-08-12 21:39] bradtopol commented on #15787
/assign @BenHall

[2019-08-12 21:49] oz123 opened #15829 "Fix syntax highlighting in yaml included"
**Problem:**

Currently, the syntax highlighter used by hugo breaks if the yaml includes a variable with
such notion:
[code]
Here is an example of this from the current documentation:

![image](https://user-images.githubusercontent.com/1083045/62900441-6f171200-bd5a-11e9-863d-c9e2b5b66a33.png)

**Proposed Solution:**
To fix this I changed the notion of the variable to `${FOOBAR}`, and now the synt

[2019-08-12 22:11] thecrudge commented on #15787
@bradtopol

That is the exact issue. I was only suggesting we link to it the top level page, for those interactive links.

[2019-08-12 22:28] zer0big commented on #14314
/close

[2019-08-12 22:28] #14314 closed

[2019-08-13 00:39] yoonian opened #15833 "Change image to text in user-guide-windows-nodes"
**This is a Feature(Refactor) Request**

**What would you like to be changed**
In https://kubernetes.io/docs/setup/production-environment/windows/user-guide-windows-nodes/, I'd like to change below.

1. Change 3 images of the command output to text.

    In user-guide-windows-nodes.md

2. Split long text in PowerShell command into multiple lines

    In user-guide-windows-nodes.md

**Why is this n

[2019-08-13 02:46] houliang428 commented on #15715
I think I have already solved this issue. The problem is I need to clearly define a context for the kubectl to work in each namespace.
"kubectl config set-context dev --namespace=mynamespace --cluster=mycluster --user=myuser"
will solve this issue.
Thank you for your support.

[2019-08-13 02:46] #15715 closed

[2019-08-13 03:00] #13216 closed

[2019-08-13 05:25] inductor commented on #15661
/close

[2019-08-13 05:25] #15661 closed

[2019-08-13 06:40] wakazooo commented on #14888
@inductor
Sorry for late reply...
Please move the milestone to 1.15-ja !!

[2019-08-13 07:02] damianpumar commented on #13948
Working on  content/id/docs/concepts/containers/runtime-class.md

[2019-08-13 08:19] BenHall commented on #13772
We've added some improvements in this area that will hopefully provide the users with more insight.

We believe this issue can be closed.

[2019-08-13 08:21] BenHall commented on #14038
As @zhangqx2010 pointed out, recent changes to Minikube meant this has been resolved.

We believe this issue can be closed.

[2019-08-13 08:23] BenHall commented on #14629
Sorry you encountered an issue. We have made some changes which will hopefully have resolved this issue.

We believe this can be closed, but if you continue to have problems please let us know.

[2019-08-13 08:26] BenHall commented on #15053
Sorry you encountered an issue. Could you please confirm if Kubernetes had started?

We can't reproduce the issue. If you continue to have problems then please let us know. Otherwise we believe this issue can now be closed.

[2019-08-13 08:30] BenHall commented on #15098
@bcdady Thanks for raising the issue. This has since been resolved and also improved the panel to have a direct link to port 30000.

If you continue to have any problems, please let us know otherwise we think this issue can be resolved.

[2019-08-13 08:31] BenHall commented on #14399
@chiplux Thanks for letting us know. We fixed the issue shortly after you raised the ticket and we have also added a direct link to the dashboard to make it easier for people.

If you continue to have problems please let us know otherwise we believe this issue can be closed.

[2019-08-13 09:02] BenHall commented on #14349
Sorry you encountered a capacity error. We've added more capacity so hopefully users won't encounter this. If users do, then capacity normally comes available again within 5 minutes.

We feel this issue can now be closed.

[2019-08-13 09:02] BenHall commented on #14450
Sorry you encountered a capacity error. We've added more capacity so hopefully users won't encounter this. If users do, then capacity normally comes available again within 5 minutes.

We feel this issue can now be closed.

[2019-08-13 09:23] BenHall commented on #12968
Thanks for the issue with `xdg-open`. As we can't open the link directly on your browser via xdg-open given the sandbox nature and as a workaround the documentation indicates to load the link by selecting the port.

Last week we added a direct to the Dashboard which will hopefully make this easier. However I didn't realise the number of issues related to people clicking the link. Sorry for not act

[2019-08-13 09:35] BenHall commented on #15787
I just went over the initial tickets I could find to do some initial triage and responded. I believe a number of issues can be closed. We will continue to monitor and respond accordingly.

The main issue I wasn't aware of was #12968 and the impact it was having. This was related to the hello-minikube content. While the content mentions the solution, people just clicked the link, see the error and

[2019-08-13 09:43] lnikell opened #15841 "Add Kube Forwarder to the port-forwarding section"
We developed an open-source GUI for Kubernetes port-forwarding functionality – [Kube Forwarder](https://kube-forwarder.pixelpoint.io/) and I would like to add it as a part of this [page](https://kubernetes.io/docs/tasks/access-application-cluster/port-forward-access-application-cluster/#forward-a-local-port-to-a-port-on-the-pod).

Our app could improve the experience of using port-forwarding. We m

[2019-08-13 10:06] remyleone commented on #13995
I think it got merged for the French part, https://github.com/kubernetes/community/blob/master/contributors/guide/contributor-cheatsheet/README-fr.md we can close this issue.

[2019-08-13 10:06] #13995 closed

[2019-08-13 11:06] inductor commented on #14888
@cstoku	ping

[2019-08-13 11:11] praphulgithub opened #15843 "How to connect jprofiler in pod in k8s"
Not able to attached jprofiler in k8s running pod, anyone can help ..?

[2019-08-13 12:05] wyctorfogos opened #15844 "Issue with k8s.io/pt/docs/home/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-08-13 12:06] #15844 closed

[2019-08-13 12:30] cstoku commented on #14917
/milestone 1.15-ja.1

[2019-08-13 12:32] cstoku commented on #14888
/milestone 1.15-ja.1

[2019-08-13 12:46] cstoku commented on #14886
@jkkitakita こちら後1週間でPRが作成できない場合はCloseとさせてください。それより早く無理そうという判断であればその旨こちらに投稿、またはCloseしていただければと思います。
またCloseになった後、再度着手する場合は最新のマイルストーンのコンテンツを元に翻訳作業を進めていただければと思います！

[2019-08-13 12:47] cstoku commented on #14887
@nrnrk  こちら後1週間でPRが作成できない場合はCloseとさせてください。それより早く無理そうという判断であればその旨こちらに投稿、またはCloseしていただければと思います。
またCloseになった後、再度着手する場合は最新のマイルストーンのコンテンツを元に翻訳作業を進めていただければと思います！

[2019-08-13 12:47] cstoku commented on #13532
@jkkitakita こちら後1週間でPRが作成できない場合はCloseとさせてください。それより早く無理そうという判断であればその旨こちらに投稿、またはCloseしていただければと思います。
またCloseになった後、再度着手する場合は最新のマイルストーンのコンテンツを元に翻訳作業を進めていただければと思います！

[2019-08-13 12:48] cstoku commented on #15222
@jkkitakita こちら後1週間でPRが作成できない場合はCloseとさせてください。それより早く無理そうという判断であればその旨こちらに投稿、またはCloseしていただければと思います。
またCloseになった後、再度着手する場合は最新のマイルストーンのコンテンツを元に翻訳作業を進めていただければと思います！

[2019-08-13 12:49] cstoku commented on #15222
@maabou512  こちら後1週間でPRが作成できない場合はCloseとさせてください。それより早く無理そうという判断であればその旨こちらに投稿、またはCloseしていただければと思います。
またCloseになった後、再度着手する場合は最新のマイルストーンのコンテンツを元に翻訳作業を進めていただければと思います！

[2019-08-13 12:49] cstoku commented on #13532
@skikkh こちら後1週間でPRが作成できない場合はCloseとさせてください。それより早く無理そうという判断であればその旨こちらに投稿、またはCloseしていただければと思います。
またCloseになった後、再度着手する場合は最新のマイルストーンのコンテンツを元に翻訳作業を進めていただければと思います！

[2019-08-13 12:50] cstoku commented on #13377
/remove-lifecycle stale
@sakajunquality あと1週間くらいで出して頂けるとたすかります:pray:

[2019-08-13 12:51] nrnrk commented on #14887
@cstoku
失礼しました！こちら作業があまり進んでおりません。一度Closeさせていただきます。お手数おかけし恐縮です。

[2019-08-13 12:51] #14887 closed

[2019-08-13 12:52] cstoku commented on #13646
@kaedemalu こちらのコンテンツについては翻訳作業自体は着手している感じでしょうか？

[2019-08-13 13:39] RA489 commented on #15728
@amosshapira Please try this as workaround.
`kubectl create deployment minikube --image=k8s.gcr.io/echoserver:1.4
`

[2019-08-13 13:41] RA489 commented on #15728
Expose it as a Service use this command
`kubectl expose deployment hello-minikube --port=8080`

[2019-08-13 13:44] RA489 commented on #15517
duplicate of https://github.com/kubernetes/website/issues/15728

[2019-08-13 13:44] RA489 commented on #15517
/close

[2019-08-13 13:44] #15517 closed

[2019-08-13 14:11] #13217 closed

[2019-08-13 14:57] SrikrishnaBingi commented on #15792
Hello,

I think there is an issue with the code itself as the first container is pointing to a different shared folder location. Kindly check and let me know otherwise.

Thanks,
Srikrishna Bingi

[2019-08-13 16:31] astateofmind01 opened #15847 "Autoscaling low and up targets."
**This is a Feature Request**

Add a lower target resource for horizontal auto-scaler.

**What would you like to be added**

The number of pods should be constant and not changing when the resource consumption is between the min and the max accepted values. Eg: while we have a cpu load between 20 and 60 the number of pods in the replica set should be x.

If the utilization drops below 20% then sca

[2019-08-13 16:34] praphulgithub opened #15848 "How to use jprofiler in kubernetes ..?"
**This is a Bug Report**

**Problem:** Bug or Discussion

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-08-13 17:14] #13213 closed

[2019-08-13 19:43] aimeeu commented on #15770
This is a duplicate of issue #15711 - Remove vendor-specific info from resource usage monitoring

[2019-08-13 19:53] aimeeu commented on #15719
@yahoon
The SIG Docs team decided to remove vendor-specific content from the Kubernetes documentation. See issue #15774 and #15576. This ElasticStack content is going to be removed as part of #15748.

[2019-08-13 19:58] aimeeu commented on #15683
/assign

[2019-08-13 19:58] aimeeu commented on #15682
/assign

[2019-08-13 20:11] aimeeu commented on #15651
File to update: https://github.com/kubernetes/website/blob/master/content/en/examples/application/job/rabbitmq/worker.py

The file is linked to from https://kubernetes.io/docs/tasks/job/coarse-parallel-processing-work-queue/

[2019-08-13 20:12] aimeeu commented on #15651
/assign

[2019-08-13 20:54] #15829 closed

[2019-08-13 21:11] aimeeu commented on #15651
I'm not sure what needs to be changed.  ```sys.stdin.readlines()[0]``` is valid Python3 syntax, and both the webpage and linked [file](https://raw.githubusercontent.com/kubernetes/website/master/content/en/examples/application/job/rabbitmq/worker.py) use it.

```sys.stdin.lines()``` - I couldn't find this Python function documented anywhere.

[2019-08-13 21:22] aimeeu commented on #15529
/assign

I didn't find any pull requests by the issue author.

[2019-08-14 08:12] jbindinga-nice commented on #14349
Thanks for checking, all is working fine now.

[2019-08-14 08:12] #14349 closed

[2019-08-14 09:07] oke-py commented on #15294
/close

[2019-08-14 09:07] #15294 closed

[2019-08-14 09:23] sftim commented on #15828
I would ask people to score a list of topics by how well the documentation explains them.
Eg:
- Deploying a cluster for learning
- Deploying a cluster for production use
- Securing your cluster
- Kubernetes architecture
- Running workloads on Kubernetes
- Container networking
- Services & load balancing
- Stateful workloads & storage
- Observability & logging
- Kubernetes terminology

If doing thi

[2019-08-14 11:22] NeilW opened #15854 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/"
**This is a Bug Report**

**Problem:**

Instructions for the cgroup driver appear to be out of date

**Proposed Solution:**

The error message from kubelet states

"Flag --cgroup-driver has been deprecated, This parameter should be set via the config file specified by the Kubelet's --config flag. See https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config-file/ for more information."

*

[2019-08-14 11:39] RA489 commented on #15854
/assign @RA489

[2019-08-14 12:06] RA489 commented on #15854
/sig-cluster-lifecycle

[2019-08-14 12:09] RA489 commented on #15854
/kind bug

[2019-08-14 13:22] af12066 commented on #15642
/close

[2019-08-14 13:22] #15642 closed

[2019-08-14 15:01] sftim commented on #15847
This sounds like a feature request for the HorizontalPodAutoscaler itself, rather than for the documentation.
@astateofmind01 &ndash; have I got that right?

[2019-08-14 15:30] neolit123 commented on #15854
there are a number of flags in the kubelet that have been deprecated for a while, but there is no clear timeline when they are going to be removed.

we will update the docs once the time comes.

thanks
/close

[2019-08-14 15:30] #15854 closed

[2019-08-14 16:19] astateofmind01 commented on #15847
Yes, sorry if i didn't add it in the right place :)

[2019-08-14 17:39] thecrudge commented on #15843
Hi @praphulgithub

This is a question more suited for a support style website, such as stackoverflow, or the kubernetes channel on freenode.

/triage support
/close

[2019-08-14 17:39] #15843 closed

[2019-08-14 17:39] thecrudge commented on #15848
Hi @praphulgithub

This is a question more suited for a support style website, such as stackoverflow, or the kubernetes channel on freenode.

/triage support
/close

[2019-08-14 17:39] #15848 closed

[2019-08-14 17:44] thecrudge commented on #15841
Hi @lnikell

We no longer allow 3rd party documentation into the site, unless you are a CNCF Project or a Kubernetes sub-project. Please see the new style guide:

https://github.com/kubernetes/website/issues/15576

/assign
/close

[2019-08-14 17:44] #15841 closed

[2019-08-14 18:15] chenrui333 commented on #13745
This work has been done, so close this.

/close

[2019-08-14 18:15] #13745 closed

[2019-08-14 18:16] chenrui333 opened #15861 "Update language/zh base branch from release-1.14 to release-1.15"
Similar to what we did with release-1.12 to release-1.14. I would like that we can do something similar after release-1.15 rollout.

Relates to #13745

/cc @kubernetes/sig-docs-zh-owners @kubernetes/sig-docs-zh-reviews
/cc @zacharysarah

[2019-08-14 20:11] aimeeu commented on #14101
/assign aimeeu

[2019-08-14 22:51] burkeazbill opened #15864 "Feature Request with k8s.io/docs/tasks/administer-cluster/encrypt-data/"
**This is a Bug Report**

**Problem:**
A step in the task says: "Set the --encryption-provider-config flag on the kube-apiserver to point to the location of the config file." Unfortunately, it does not specify (or link to) the solution or guidance on how to do that for a cluster that already exists. (perhaps this is dupe of 15482)?
**Proposed Solution:**
Provide a link in that step that points to

[2019-08-15 00:30] burkeazbill commented on #15864
Aside from a typo early in the article for the secrets.yaml filename, the best step-by-step instructions that actually worked for me was: https://www.serverlab.ca/tutorials/containers/kubernetes/kubernetes-secrets-and-encrypting-at-rest/

[2019-08-15 00:45] #12726 closed

[2019-08-15 02:47] qinwenjing123 opened #15865 "Issue with k8s.io/docs/tutorials/configuration/configure-redis-using-configmap/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-08-15 05:48] #14762 closed

[2019-08-15 07:23] sftim commented on #15865
Hi @qinwenjing123

What kind of problem did you encounter when following https://kubernetes.io/docs/tutorials/configuration/configure-redis-using-configmap/?

/triage needs-information

[2019-08-15 07:23] sftim commented on #15864
Thanks for the suggestion @burkeazbill
/kind feature

[2019-08-15 07:24] sftim commented on #15482
#15864 looks like a close match / duplicate

[2019-08-15 07:26] sftim commented on #15482
I reckon:
/priority important-longterm

[2019-08-15 07:54] #15463 closed

[2019-08-15 08:23] nasa9084 commented on #14445
merged #15638, close

[2019-08-15 08:23] nasa9084 commented on #14445
/close

[2019-08-15 08:23] #14445 closed

[2019-08-15 08:25] bobogege opened #15869 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-08-15 08:27] bobogege commented on #15869
![image](https://user-images.githubusercontent.com/32702026/63082661-64869380-bf79-11e9-9a44-e5edc973c492.png)
k8s节点加入集群的时候出现这个报错是怎么回事呢
![image](https://user-images.githubusercontent.com/32702026/63082727-91d34180-bf79-11e9-8cb4-546d4bffad99.png)

[2019-08-15 08:28] inductor commented on #15428
/close

[2019-08-15 08:28] #15428 closed

[2019-08-15 08:28] inductor commented on #15429
/close

[2019-08-15 08:28] #15429 closed

[2019-08-15 08:28] inductor commented on #15440
/close

[2019-08-15 08:28] #15440 closed

[2019-08-15 08:29] inductor commented on #14444
/close

[2019-08-15 08:29] #14444 closed

[2019-08-15 09:07] inductor commented on #15300
/close

[2019-08-15 09:07] #15300 closed

[2019-08-15 09:33] lstday opened #15870 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/"
**This is a Bug Report**

**403 Forbidden**

No index.html in mounted volume
[code]

RHEL, Kubernetes 1.15.2, latest Kubespray, Docker 19.03.1, Flannel

Upd: localhost, Fedora 30, KinD, docker 19.03.1, same thing.

[2019-08-15 10:33] inductor commented on #13989
Current state as of 15th Aug 2019(Feel free to edit when it has to be changed)
- [x] Chinese: #13990
- [x] Korean: #13991
- [x] Japanese: #13992
- [ ] German: #13993
- [ ] Spanish: #13994
- [x] French: #13995
- [x] Indonesian: #13996
- [x] Portuguese: #13997
- [ ] Italian: #13998
- [ ] Hindi: #14001

[2019-08-15 10:35] inductor commented on #14478
/close

[2019-08-15 10:35] #14478 closed

[2019-08-15 13:05] neolit123 commented on #15869
hi, please log an issue in the kubernetes/kubernetes repository and follow the issue template.
the version of the kubelet has to be specified and also *all the details* about your setup!

thanks.
/close

[2019-08-15 13:05] #15869 closed

[2019-08-15 13:16] 0Delta commented on #15300
Sorry to late action. and thanks for kind work by @inductor .

[2019-08-15 14:23] aimeeu opened #15873 "Contribute, Intermediate: Compare Docs Contributing Intermediate page with Community GitHub workflow page and update Docs"
**This is a Feature Request**

**What would you like to be added**

Compare Docs Intermediate "Work from a local clone" with Community GitHub workflow. Determine if content from Community should be added to Intermediate. One thing I noted is the Community page has a paragraph about NOT using git pull to update your local branch.
https://kubernetes.io/docs/contribute/intermediate
https://github.com

[2019-08-15 14:41] aimeeu commented on #15873
/assign

[2019-08-15 14:47] danwinship commented on #12322
kubelet and kube-proxy share 2 iptables chains (`KUBE-MARK-MASQ` and `KUBE-MARK-DROP`). Although there have been no conflicts between how they use them in past releases, it's possible that we might want to change things in the future, which might cause some tighter versioning constraints around that release. Other than that, I don't think kube-proxy cares what version of kubelet you're running, an

[2019-08-15 15:26] premkumar403 opened #15875 "Improvement for k8s.io/docs/concepts/overview/working-with-objects/field-selectors/"
need more real examples on how to use the field selectors. whats the best way for me to check the status of a pod /container which is in COMPLETED state.  I used to check the current status of pods which are in Running ( --field-selector=status.phase!=Running), but how to list the pods which are in terminating state ( Terminating state.) using field selectors or how to list then with the Reason of

[2019-08-15 17:51] aimeeu commented on #15651
/unassign

[2019-08-15 17:52] aimeeu commented on #15529
/unassign

[2019-08-15 18:05] aimeeu commented on #15828
/assign

[2019-08-15 19:49] kbhawkey opened #15877 "glossary summary, rendering"
**This is a Feature Request**

**What would you like to be added**
- Investigate the use of the `long` summary definition for glossary terms. Does this feature work.
- Investigate errors encountered when using the `short` summary definition for glossary terms.
- Could the rendering be improved?

**Why is this needed**
Encountered poor rendering of text when glossary page did not contain `` summary

[2019-08-16 02:38] gilles17 opened #15879 "Issue with k8s.io/docs/reference/access-authn-authz/admission-controllers/"
**This is a Bug Report**

**Problem:**
Serveral parts in this documentation use the "kube-apiserver" command, but with a kubernetes cluster setup by kubeadm, I don't have the "kube-apiserver" command and I cannot find any documentation in which explained how to setup "kube-apiserver" service.

**Proposed Solution:**
Add a reference to the page in which explained how to setup "kube-apiserver" servi

[2019-08-16 03:28] #15540 closed

[2019-08-16 03:30] #15762 closed

[2019-08-16 05:11] sotoiwa opened #15880 "Issue with k8s.io/docs/tasks/debug-application-cluster/debug-pod-replication-controller/"
**This is a Bug Report**

**Problem:**
The example command line that extract the resource information is incorrect.
There are unnecessary backslashes.
[code]

**Proposed Solution:**
It should be fixed as below.
[code]

**Page to Update:**
https://kubernetes.io/docs/tasks/debug-application-cluster/debug-pod-replication-controller/

[2019-08-16 05:58] sotoiwa commented on #15768
@cstoku Please set milestone to 1.15-ja.1.

[2019-08-16 06:42] #15771 closed

[2019-08-16 06:44] #15880 closed

[2019-08-16 11:47] guettli opened #15886 "Improvement for k8s.io/docs/concepts/cluster-administration/logging/"
I was asked for an improvement on this page:

https://kubernetes.io/docs/concepts/cluster-administration/logging/

I am disappointed.

Still one-line based logging in the 21 century.

No structured logs.

JSON would be nice.

Of course you can solve this on a higher level. But this wastes our time.

The same problem (structured logs) get invented again and again if the base/core (in this case k8s)

[2019-08-16 12:42] cstoku commented on #15768
/milestone 1.15-ja.1

[2019-08-16 14:49] #13873 closed

[2019-08-16 15:15] kbhawkey commented on #15877
/assign @kbhawkey

[2019-08-16 15:22] sftim opened #15893 "Run link checker via Prow continuous integration"
**This is a Feature Request**

**What would you like to be added**
- when the website is built, run an automatic link checker on the built website
eg https://github.com/raviqqe/muffet

**Why is this needed**
- it becomes easier to spot broken hyperlinks
- it enables future work to fail a build that introduces a broken link
- it helps reviewers check PRs (if they wish to)

[2019-08-16 15:22] sftim commented on #15893
Previously suggested: #734, #4004

[2019-08-16 15:35] #12443 closed

[2019-08-16 17:51] musaibkhan opened #15896 "Issue with k8s.io/docs/tasks/debug-application-cluster/monitor-node-health/"
Hi,
I am having Two node cluster, but the problem is that when I set promethous on master its not accessing with master IP, its accessible with my nodes IP,Also in promethous nodes are down(All) .
Also endpoints are down as well.

Thanks in advance

[2019-08-16 19:58] steveperry-53 commented on #15787
These are the two places I know of where you can view and interact with
this content:

Kubernetes Bootcamp
<https://kubernetesbootcamp.github.io/kubernetes-bootcamp/index.html>
Kubernetes Basics <https://kubernetes.io/docs/tutorials/kubernetes-basics/>

Apparently, the two sites have fallen out of sync.

In my mind, this is the fundamental question:
Is the Kubernetes Bootcamp
<https://kubernetesbo

[2019-08-16 21:41] #13277 closed

[2019-08-17 12:56] #13295 closed

[2019-08-17 12:56] #13291 closed

[2019-08-17 12:56] #10956 closed

[2019-08-17 14:27] aaronsssya opened #15905 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-gmsa/"
**This is a Issue Report**

The doc https://kubernetes.io/docs/tasks/configure-pod-container/configure-gmsa/ is good.

**Problem:**
I applied with-cred deployment. I would like to know how to verify gMSA is working.

**Proposed Solution:**
gMSA working verification

**Page to Update:**
https://kubernetes.io/...

[2019-08-17 15:20] sftim opened #15906 "Add “API group” to glossary"
**This is a Feature Request**

**What would you like to be added**
1. create a new glossary entry for _API Group_ that hyperlinks to https://kubernetes.io/docs/concepts/overview/kubernetes-api/#api-groups
  (I suggest that the `full_link` would be the above URI, _and_ that the `` text include a link there.
2. Optionally, change existing uses of “_API Group_” in the English localization to use a gl

[2019-08-17 15:21] sftim commented on #14538
Done via #14537
/close

[2019-08-17 15:21] #14538 closed

[2019-08-17 15:21] sftim commented on #15105
Done via #15106 (thanks @ljnaresh)
/close

[2019-08-17 15:21] #15105 closed

[2019-08-17 15:22] sftim commented on #15906
/kind feature
/help

[2019-08-17 16:16] sftim opened #15907 "Document “finalizer”"
**This is a Feature Request**

**What would you like to be added**
- Add a glossary entry for _finalizer_
- and/or improve https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ to have a section specifically that explains what a finalizer is.

**Why is this needed**
Various pages talk about finalizers, and cluster operators need to understand what these are.

**Comments**
I

[2019-08-17 16:17] sftim commented on #15907
/kind feature

[2019-08-17 16:18] sftim commented on #15905
It sounds like you'd like https://kubernetes.io/docs/tasks/configure-pod-container/configure-gmsa/ to explain how to verify what you've configured.
Assuming I've got that right:
/kind feature

[2019-08-17 16:19] sftim commented on #15896
@musaibkhan: GitHub is not the right place for support requests.

If you're looking for help, you can check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/), or on the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

/triage support

[2019-08-17 16:22] sftim commented on #15786
/kind bug

[2019-08-17 16:29] sftim commented on #15797
@usvgmani this is useful feedback!

It seems to me that it'd be worth dedicating a new page to PodReady++ and then summarising that page in https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/, along with a link.

/kind feature

[2019-08-17 16:32] sftim commented on #1559
/close

[2019-08-17 16:32] #1559 closed

[2019-08-17 16:38] sftim opened #15908 "Mention critical priority classes in https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/"
**This is a Feature Request**

**What would you like to be added**
https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/ should mention that there are critical priority classes (`system-cluster-critical` and `system-node-critical`) and why these are relevant.

**Why is this needed**
Cluster operators want a way to make sure that their cluster stays working after scaling or fai

[2019-08-17 16:38] sftim commented on #15908
/kind feature

[2019-08-17 16:39] sftim commented on #1756
https://kubernetes.io/docs/admin/rescheduler/ is gone.

I logged #15908 to track improving https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/ so that it mentions these high priority classes and their use.

https://kubernetes.io/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods/ goes some way to explain `system-cluster-critical` and `system-node-critica

[2019-08-17 16:39] sftim commented on #1756
@andrewgdavis is it OK to close this?

[2019-08-17 16:42] sftim commented on #2441
/lifecycle rotten

[2019-08-17 16:44] sftim commented on #2463
/sig cluster-lifecycle

[2019-08-17 16:46] sftim commented on #1911
/sig apps

[2019-08-17 16:47] sftim commented on #1817
/sig apps

[2019-08-17 16:47] sftim commented on #1461
/sig apps

[2019-08-17 16:47] sftim commented on #1407
/sig apps

[2019-08-17 16:47] sftim commented on #1040
/sig apps

[2019-08-17 16:48] sftim commented on #3200
https://kubernetes.io/docs/getting-started-guides/scratch/ has indeed gone
/close

[2019-08-17 16:48] #3200 closed

[2019-08-17 16:53] sftim opened #15909 "Document a from-scratch cluster build"
**This is a Feature Request**

**What would you like to be added**
Previously, https://kubernetes.io/docs/getting-started-guides/scratch/ documented how to take Kubernetes project's artefacts and use those to deploy a working cluster.

None of the links from https://kubernetes.io/docs/setup/ are to a page about a from-scratch, production-ready build.

**Why is this needed**
Some readers (perhaps n

[2019-08-17 16:53] sftim commented on #15083
/kind feature

[2019-08-17 16:53] andrewgdavis commented on #1756
Yes.  Please close

[2019-08-17 16:53] #1756 closed

[2019-08-17 17:27] chrislovecnm commented on #2463
I do not think there is a kops section on the k8s website. That is the need.

[2019-08-17 21:59] sftim commented on #15907
Also see #4510

[2019-08-17 22:04] sftim commented on #12082
Once I get #15733 merged I can look again at Deployment and getting my updates in.

[2019-08-18 01:08] #13320 closed

[2019-08-18 03:29] PatrickXYS opened #15910 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
**This is a Bug Report**

**Problem:**
While I was going through the interactive tutorial,  `localhost:8001/version` can't be accessed without port mapping. Thus, it may require fix-up.
**Proposed Solution:**
To modify Proxy services.
**Page to Update:**
https://kubernetes.io/...

[2019-08-18 06:33] knbz opened #15912 "Issue with k8s.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-14/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-08-18 06:56] BenHall commented on #15910
Hi @PatrickXYS

Port 8001 is used by the `kubectl proxy` as a way to make the Kubernetes API accessible from the instance but not the outside world. If this proxy is not running, then 8001 wouldn't be accessible. Can you remember if you started this?

We've added a not to the content to make this clearer - https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios/commit/02a1d75e887267fa7

[2019-08-18 07:27] aaronsssya commented on #15905
Hi @sftim,
yes, correct. My windows node can use gMSA. I tried Docker run a windows container with CredentialSpec, It is good as well.

For the Kubernetes, I have build K8S cluster with a Windows worker node. I can deploy windows pod on Windows pod and it shows running. IIS is working as well.

I tried "klist get krbtgt" and "nltest /sc_verify:xxx.xxx", but all failed. Therefore, I would like to k

[2019-08-18 07:43] aviweit opened #15914 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-service-account/"
At https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#use-the-default-service-account-to-access-the-api-server:

`automatically set` link yields Page not found (404)

Thanks.

[2019-08-18 09:58] chrissound commented on #4290
This shows up as the first result on Google. Is this documented? If so where?

I've tried:

[code]

Which fails with:
[code]

[2019-08-18 13:18] PatrickXYS commented on #15910
Hi @BenHall

I re-tried a couple of times and still the same error here. I copied all the commands and outputs below.

Starting to serve on 127.0.0.1:8001

From the screen output, it should start to serve on `127.0.0.1:8001`, which is also `localhost:8001`,
then I opened `localhost:8001` on my browser. I still can't reach to the URL.

[2019-08-18 13:28] BenHall commented on #15910
@PatrickXYS I see the confusion. The interactive environment is running within a sandbox within your browser, meaning the ports are now bound to your local instance. As a result, the port is available from within the sandbox, but not from your local machine.

We've removed the link at https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios/commit/7402746d569396b63824b09327e3df418cbff60

[2019-08-18 14:18] aaronsssya commented on #15905
I tried to compare the container windows security event log.

Docker run
[code]

Kubernetes demployed
[code]

According to gMSA design, machine name needs to match "gMSA machine name". I think my Pod does not get CredentialSpec.

[2019-08-18 16:24] jhbiggs commented on #15788
Not sure if it's what you meant, but committed above for pull request.

[2019-08-18 20:44] praveen-kg opened #15922 "Issue with k8s.io/docs/tasks/run-application/update-api-object-kubectl-patch/"
**This is a Bug Report**

**Problem:**
In the documentation page- https://kubernetes.io/docs/tasks/run-application/update-api-object-kubectl-patch/
the file name for patch example is patch-file.json.
But in the commands provided  for patch, file name is referred as  patch-file.yaml
kubectl patch deployment patch-demo --patch "$(cat patch-file.yaml)"
we we execute the command, we see below error:
c

[2019-08-18 23:41] sftim commented on #15922
The text on the page says:

So the name `patch-file.yaml` refers to a fictional file. It sounds like the current text isn't making that clear enough though.

[2019-08-18 23:42] sftim commented on #15914
/kind bug

[2019-08-18 23:43] sftim commented on #15912
Hi @knbz
What's not right with that page?

/triage needs-information

[2019-08-18 23:44] sftim commented on #15910
Sounds like this might be fixed. @PatrickXYS do you agree?

[2019-08-18 23:48] sftim commented on #15879
If anyone's picking this issue up:
There's a [glossary entry](https://kubernetes.io/docs/reference/glossary/?all=true#term-kube-apiserver) that might help clarify what the API server is, perhaps via a tooltip [shortcode](https://kubernetes.io/docs/contribute/style/hugo-shortcodes/#glossary).

[2019-08-18 23:51] sftim opened #15924 "Wrong punctuation in QoS Class glossary entry"
**This is a Bug Report**

**Problem:**
There are too many closing brackets in

**Proposed Solution:**
Remove the extra closing bracket.

**Page to Update:**
https://kubernetes.io/docs/reference/glossary/?all=true#term-qos-class

/good-first-issue

[2019-08-18 23:59] ysyukr opened #15925 "Translate concepts/workloads/pods/disruptions.md in Korean"
This is a Feature Request

What would you like to be added
Translate concepts/workloads/pods/disruptions.md in Korean

Why is this needed
No traslation with concepts/workloads/pods/disruptions.md in Korean

Comments

Page to update: https://kubernetes.io/docs/concepts/workloads/pods/disruptions/

/language ko

[2019-08-19 00:31] #12715 closed

[2019-08-19 02:34] #15802 closed

[2019-08-19 05:25] HankTheCrank opened #15932 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/high-availability/"
**This is a Bug Report**

Setting does not produce the correct file

**Problem:**
On the page, the kubeadm-config.yaml file needs the line:
caFile: /etc/kubernetes/pki/etcd/ca.crt

The problem is that when you process the file through kubeadm, the resulting etcd.conf file does not get the setting. The lines that should be set are:

#[Security]
ETCD_TRUSTED_CA_FILE="/etc/kubernetes/pki/etcd/ca.crt"

[2019-08-19 08:38] fabriziopandini opened #15937 "Improve PKI certificates and requirements page"
**This is a Feature Request**
Some small improvements to https://kubernetes.io/docs/setup/best-practices/certificates/#configure-certificates-manually page

**What would you like to be added**
- Add a note about requirements for service-account management private/public key pair
- For the `kube-apiserver` certificate, it might be useful to add a `<load balancer ip/dns>` entry in the list of certif

[2019-08-19 09:53] skikkh commented on #13532
@cstoku 中々時間が取れなくこちら一旦Closeさせていただきたいです。
何度もお手数をおかけしてしまい申し訳ないです。
また、時間ができた際にはよろしくおねがいします。

[2019-08-19 10:37] Ch-sriram opened #15938 "Improvement for k8s.io/docs/tutorials/kubernetes-basics/"
Make it simpler to understand. Cut the Jargon/Clutter, and make it easier to for the person who's reading the documentation, because that's the whole point of documentation.

[2019-08-19 10:56] neolit123 commented on #15937
thanks for logging this issue @fabriziopandini . i agree that our docs related to PKI can be extended.

IMO we should be always using k/kubeadm for all of our tickets. k/webiste is super noisy and i don't wish us to groom the SIG tickets in this repo too.

[2019-08-19 11:23] lstday commented on #15870
Minikube on localhost same thing :(

[2019-08-19 13:52] PatrickXYS commented on #15910
It has already been fixed. Thanks!

[2019-08-19 13:52] #15910 closed

[2019-08-19 15:54] jaredbhatti commented on #9281
/reopen

[2019-08-19 17:05] hpandeycodeit commented on #15938
@Ch-sriram Can you provide more details In which section you are seeing the Jargons or where you are facing understanding the documentation?

[2019-08-19 17:25] aimeeu commented on #15828
CKA/CKAD curriculum [here](https://github.com/cncf/curriculum)

[2019-08-19 18:11] cvgaviao opened #15950 "Issue with k8s.io/docs/tasks/tools/install-minikube/"
While starting a minikube I saw this message "minikube 1.3.1 is available! Download it: https://github.com/kubernetes/minikube/releases/tag/v/1.3.1"
So I went to this page in order to learn how to update minikube to a new version and I was not able to find.
Then I'm creating this issue in order to suggest to add instructions for how to update and to delete an installed minikube.

[2019-08-19 21:03] ahmetb opened #15952 "Empty page /docs/concepts/workloads"
See: https://kubernetes.io/docs/concepts/workloads/
Probably should be removed.

[2019-08-20 00:59] thecrudge commented on #15952
Hi @ahmetb , Netify wont allow it, as far as I tested. I tried, and failed. Maybe you have the special netify sauce though..

see PR #15753

[2019-08-20 01:04] ysyukr opened #15955 "Translate concepts/workloads/controllers/replicaset.md in Korean"
This is a Feature Request

What would you like to be added
Translate concepts/workloads/controllers/replicaset.md in Korean

Why is this needed
No traslation with concepts/workloads/controllers/replicaset.md in Korean

Comments

Page to update: https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/

/language ko

[2019-08-20 01:09] ysyukr commented on #15955
The reason why I wrote the issue first is because I'm translating the page into Korean.
The current Korean language Branch (dev-1.15-ko.4) is freeze (2019-08-19 23:59 (KST)).
The translation will be PR in the next Branch.

[2019-08-20 06:54] Ch-sriram commented on #15938
Read the paragraph [here](https://kubernetes.io/docs/tutorials/kubernetes-basics/#what-can-kubernetes-do-for-you). Do you really think a person who is just beginning to understand what kubernetes is, will he/she able to understand what you wrote there?
Especially this excerpt:

And also, look at the website's design [here](https://kubernetes.io/docs/tutorials/kubernetes-basics/#kubernetes-basics-m

[2019-08-20 07:57] sftim commented on #15952
I've got some bigger-scope ideas about fixing that, drafted in PR #15373

[2019-08-20 08:23] #15711 closed

[2019-08-20 08:30] sftim opened #15957 "Define “API server”"
**This is a Feature Request**

**What would you like to be added**

Define “API server”, as a distinct concept from `kube-apiserver` which is a specific implementation written in Go.

**Why is this needed**
Right now, the documentation explains what `kube-apiserver` is but not the more generic concept of a server that provides a Kubernetes-flavored API.

**Comments**
Prompted by a [comment](https:

[2019-08-20 09:02] sftim commented on #15957
As a contrast, https://kubernetes.io/docs/concepts/scheduling/ already makes a distinction between “**a** scheduler” and `kube-scheduler`.

[2019-08-20 13:25] neolit123 commented on #15932
hi, could you please qualify this part:

kubeadm does not process the kubeadm-config.yaml  file in a way that it outputs an etcd.conf.
we don't have a etcd.conf file in your guides.

ETCD_TRUSTED_CA_FILE="/etc/kubernetes/pki/etcd/ca.crt"
ETCD_PEER_TRUSTED_CA_FILE="/etc/kubernetes/pki/etcd/ca.crt"

external etcd is managed as local etcd by kubeadm:
https://kubernetes.io/docs/setup/production-enviro

[2019-08-20 14:19] walterdolce commented on #13362
/reopen

[2019-08-20 14:19] walterdolce commented on #13362
/remove-lifecycle rotten

[2019-08-20 16:27] sftim opened #15963 "Split Falco audit example into own page"
**This is a Feature Request**

**What would you like to be added**
Make a new page that includes the Falco details from https://k8s.io/docs/tasks/debug-application-cluster/audit/#use-falco-to-collect-audit-events
Hyperlink from https://k8s.io/docs/tasks/debug-application-cluster/audit/ to the new page.

**Why is this needed**
https://k8s.io/docs/tasks/debug-application-cluster/audit/ is a long pag

[2019-08-20 18:56] aimeeu opened #15965 "Create blog post on new contributor to k8s and SIG Docs experience"
**This is a Feature Request**

**What would you like to be added**
Chris Anisczyk would like me to write a blog post on my experience as new contributor to SIG Docs.

**Why is this needed**
My supervisor's supervisor requested it.

**Comments**

[2019-08-20 18:56] aimeeu commented on #15965
/assign

[2019-08-20 19:43] aimeeu commented on #15828
@zacharysarah do we have page hit stats for the k8s docs? I'd like to know which docs pages have the highest hits in a week. Then we can narrow our focus.

[2019-08-20 19:52] aimeeu opened #15966 "Remove rkt references from Installing Kubernetes with Minikube page"
**This is a Bug Report**

**Problem:**
rkt is no longer a valid container option (the project is being archived). However, rkt is mentioned in two sections.

**Proposed Solution:**
Remove references to rkt as a container runtime. It is no longer supported by minikube.
https://minikube.sigs.k8s.io/docs/reference/runtimes/

**Page to Update:**
 k8s.io/docs/setup/learning-environment/minikube/
https:

[2019-08-20 19:52] aimeeu commented on #15966
/assign

[2019-08-20 20:11] kbhawkey commented on #15924
@sftim Can this issue be closed?

[2019-08-20 20:46] aimeeu opened #15969 "Examine Minikube pages for dual-hosted content and content that should move to minikube docs site"
**This is a Feature Request**

**What would you like to be added**
Examine minikube pages to determine what should be hosted by minikube [docs](https://minikube.sigs.k8s.io/docs/) and what should be hosted by k8s docs.

Following the discussion on dual-hosted content (#15576), I think guides for installing minikube should be in the minikube project's docs, and then the k8s docs link to those insta

[2019-08-20 21:21] #15966 closed

[2019-08-20 22:17] zacharysarah commented on #15787
@BenHall 👋 Thanks for sharing your observations.

I echo @steveperry-53's fundamental concern. Dual-sourced content isn't acceptable. Tutorials need to reside at one URL or the other.

The Kubernetes Basics tutorial ranks consistently in or near the website's ten most-visited pages. The future of tutorial content is an important issue.

## Support gap

SIG Docs experiences a support gap with Katac

[2019-08-20 23:15] zacharysarah commented on #15787
[code]

[2019-08-20 23:41] zacharysarah opened #15971 "Remove getting-started-guides/"
### Description

The content in `content/en/docs/getting-started-guides/` has been deprecated for ~2 years. As shown in [the blame for `/static/_redirects`](https://github.com/kubernetes/website/blame/master/static/_redirects), 301 redirects have successfully pointed to `/docs/setup/`. At this point, the content in `getting-started-guides/` is thoroughly deprecated and needs to be removed.

### Pr

[2019-08-20 23:42] zacharysarah commented on #15971
It might be a little nerve-wracking to delete stuff as a first-time PR, but technically this issue is self-contained and straightforward.

/good-first-issue

[2019-08-21 03:32] devmchakan opened #15973 "Issue with k8s.io/docs/tutorials/kubernetes-basics/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-08-21 07:35] RA489 commented on #15973
@devmchakan can you please provide bit more detail about the issue?

[2019-08-21 07:36] RA489 commented on #15969
/assign@RA489

[2019-08-21 07:37] RA489 commented on #15950
/assign @RA489

[2019-08-21 07:38] RA489 commented on #15912
@knbz Can you please provide bit more detail about your issue?

[2019-08-21 07:42] RA489 commented on #15649
@Nawaf91 It will be great if you could provide detail about the issue.

[2019-08-21 08:01] BenHall commented on #15787
To provide an update on the dual content issue. I've investigate the Kubernetes Bootcamp and refreshed my memory. Last year I did make changes to the website bootcamp to automatically redirect to the Kubernetes Docs in an attempt to close it so we didn't have this issue. However, it looks like there are two repos (unsure why) and the website wasn't pointing that the intended repository.

I have no

[2019-08-21 08:59] jocatalin commented on #15787
Hi, I'm the content creator of the original bootcamp tutorial. AFAIR  @pwittrock created the [kubernetesbootcamp.github.io](https://github.com/kubernetesbootcamp/) organisation as an intermediary step, before having the code merged into the official k8s website. @pwittrock can you please merge @BenHall 's [PR](https://github.com/kubernetesbootcamp/kubernetes-bootcamp/pull/6) and eventually archive

[2019-08-21 09:17] sftim commented on #15924
Sure
/close

[2019-08-21 09:17] #15924 closed

[2019-08-21 09:27] oke-py opened #15976 "Translate tasks/configure-pod-container/configure-volume-storage/ in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/configure-pod-container/configure-volume-storage/ in Japanese.

**Why is this needed**

This document is not translated in Japanese.

**Comments**

/language ja
/assign

[2019-08-21 09:33] JiElPe-Fr38 opened #15977 "Improvement for k8s.io/docs/tutorials/kubernetes-basics/expose/expose-interactive/"
Could you add a note at the end of module5 to explain why the app is still running and available while the service has been deleted ?

[2019-08-21 10:32] BenHall commented on #15977
Thank you for the suggestion @JiElPe-Fr38. Let me investigate.

[2019-08-21 10:47] BenHall commented on #15977
At the moment it says:
[code]

Would adding `This is because the application is managed by the Deployment. To shutdown the application, the Deployment would also need to be deleted.` have made is clearer?

[2019-08-21 11:16] antaloala opened #15979 "Improve wording for StatefulSet limitations around storage"
**This is a Bug Report**

**Problem:**
Third bullet in the "limitations" section says "Deleting and/or scaling a StatefulSet down will not delete the volumes associated with the StatefulSet".
It is not wrong, but not totally right. I think it should better refer to the PVCs created from the statefulset's volumeClaimTemplate than to the pre-provisioned or dynamically created PVs boudn to those PVCs

[2019-08-21 11:44] sotoiwa opened #15980 "Translate tasks/debug-application-cluster/debug-service/ in Japanese"
# Translate tasks/debug-application-cluster/debug-service/ in Japanese

**This is a...**

* [x]  Feature Request
* [ ]  Bug Report

**Problem:**
No tasks/debug-application-cluster/debug-service/ in Japanese.

**Proposed Solution:**
Translate tasks/debug-application-cluster/debug-service/ in Japanese.
Copy from en content and Update `/content/en/docs/tasks/debug-application-cluster/debug-service.md

[2019-08-21 11:45] sotoiwa commented on #15980
/language ja
/assign

[2019-08-21 12:33] jpreese opened #15984 "Update FlexVolume casing in documentation"
First case found and resolved in https://github.com/kubernetes/website/pull/15968.

Cases of `Flexvolume` should be renamed to its proper casing, `FlexVolume`.

[2019-08-21 13:31] #12552 closed

[2019-08-21 14:11] yofriadi commented on #15341
Hi all, I will take Networking in Cluster Administration, thank you.

[2019-08-21 14:53] sftim commented on #15979
Thanks for the suggestion!

[2019-08-21 17:07] sftim commented on #15977
/kind feature

[2019-08-21 17:08] sftim commented on #15977
comment-nit: I'd write `This is because the Deployment is managing the application. To shut down the application, you would need to delete the Deployment as well.`

[2019-08-21 17:09] sftim commented on #15952
/kind bug

[2019-08-21 17:10] sftim commented on #15965
/area blog

[2019-08-21 17:10] sftim commented on #15965
and also, I think:
/sig contributor-experience

[2019-08-21 17:13] sftim commented on #15969
/sig cluster-lifecycle

[2019-08-21 17:13] sftim commented on #15969
Will this work eventually mean filing docs issues against the Minikube repo?

[2019-08-21 17:15] devmchakan commented on #15973
no problem t y :)

[2019-08-21 17:32] aimeeu commented on #15969
It may - really depends on what @RA489 finds. In my quick review yesterday, I found duplicate content that was outdated in kubernetes/website when compared to the minikube website and [docs](https://minikube.sigs.k8s.io/docs/).

[2019-08-21 20:57] #15922 closed

[2019-08-21 20:58] praveen-kg commented on #15922
Document has been updated to reflect right file name

[2019-08-22 00:20] #15518 closed

[2019-08-22 02:41] #15732 closed

[2019-08-22 04:33] verb opened #15995 "Issue with SIG members documenting new features"
**This is a Bug Report**

**Problem:** [SIG members documenting new features](https://kubernetes.io/docs/contribute/intermediate/#sig-members-documenting-new-features) instructs SIG members to run the `/milestone X.Y` command, but only [milestone maintainers](https://github.com/orgs/kubernetes/teams/website-milestone-maintainers/members) have permission to run this command. (See: https://github.co

[2019-08-22 07:07] timstoop commented on #13653
Issue is solved, so closing it.

[2019-08-22 07:07] #13653 closed

[2019-08-22 08:58] dsbrng25b opened #15998 "Link audit profile used by GCE references wrong line of code"
**This is a Bug Report**

**Problem:**
Link [audit profile used by GCE](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/gci/configure-helper.sh#L735) references wrong line of code.

**Proposed Solution:**
Update line to 961 or maybe it would be event better to copy the audit policy into the documentation.

**Page to Update:**
https://kubernetes.io/docs/tasks/debug-application-clus

[2019-08-22 11:37] mgedmin opened #16000 "Issue with k8s.io/docs/concepts/workloads/controllers/deployment/"
**This is a Bug Report**

**Problem:**

The description of a deployment spec, which is

contains links to "Pod template" and "Pod" that are generic information pages that **do not describe the schema of a pod template**.  At best you get one example, but no list of fields or a description of their values.

**Proposed Solution:**

I'm sure there's a page somewhere in your docs that actually describ

[2019-08-22 11:50] mgedmin commented on #16000
Perhaps https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.15/#podspec-v1-core is the right link?

[2019-08-22 13:37] sftim opened #16005 "Localize website in Russian / русский"
In PR #16003, @dianaabv16 is implicitly requesting a Russian localization.

[2019-08-22 13:39] sftim commented on #16005
/language ru
(I think)

[2019-08-22 13:49] sftim opened #16006 "Create a Task for “Creating your own secrets”"
**This is a Feature Request**

**What would you like to be added**
Create a new Task page. Migrate https://kubernetes.io/docs/concepts/configuration/secret/#creating-your-own-secrets into that Task page.

Add a “What's next?” link from the end of the Secret page that signposts the reader to the new Task page.

Stop just short of https://kubernetes.io/docs/concepts/configuration/secret/#decoding-a-

[2019-08-22 13:49] sftim commented on #16006
/help

[2019-08-22 13:49] sftim commented on #16006
/language en

[2019-08-22 13:50] sftim commented on #15984
/language en

[2019-08-22 13:50] sftim commented on #16000
/language en

[2019-08-22 13:50] sftim commented on #16000
/kind feature

[2019-08-22 13:52] sftim commented on #15979
/language en

[2019-08-22 13:59] medmedchiheb commented on #15979
/assign

[2019-08-22 14:17] medmedchiheb commented on #16000
@sftim what's better!  mentions PodSpec Api in `writing-a-deployment-spec` section  or  in `Pod Templates` at `pod-overview` page ?

[2019-08-22 14:24] irvifa commented on #15341
I'm taking `TTL After Finished`

[2019-08-22 14:37] sftim commented on #15973
/triage needs-information

[2019-08-22 14:38] sftim commented on #15937
/language en

[2019-08-22 14:38] prankul88 commented on #15499
Thanks for bringing this. To add on to, the other turnkey solutions must also be documented Eg. AKS and GKE.

[2019-08-22 14:38] sftim commented on #15963
/language en

[2019-08-22 14:38] sftim commented on #15937
/sig cluster-lifecycle

[2019-08-22 14:53] irvifa commented on #15341
I'm taking `Add Entries to Pod etcd hosts with host aliases`

[2019-08-22 14:55] sftim commented on #15499
Since I logged this, PR #15892 is (almost) in place to clarify the project's position on 3rd party content.

[2019-08-22 14:57] praveensastry commented on #15971
/assign

[2019-08-22 15:20] medmedchiheb commented on #15963
/assign

[2019-08-22 15:24] irvifa commented on #15341
I'm taking `StatefulSet`

[2019-08-22 15:57] #13390 closed

[2019-08-22 16:22] sftim commented on #16000
Somewhat :man_shrugging: on that one @medmedchiheb

My gut feeling is https://kubernetes.io/docs/concepts/workloads/pods/ should have a YAML example of a bare Pod as well as for a Pod template, and other pages should hyperlink to those.

[2019-08-22 16:23] sftim commented on #16000
Somewhat :man_shrugging: on that one @medmedchiheb

My gut feeling is https://kubernetes.io/docs/concepts/workloads/pods/ should have a YAML example of a bare Pod as well as for a Pod template, and other pages should hyperlink to those.

_Maybe_ PodSpec is common enough to merit a glossary entry. What do you think?

[2019-08-22 16:27] medmedchiheb commented on #16000
I agree

[2019-08-22 18:19] mrbobbytables commented on #13904
/remove-lifecycle rotten
ref: https://github.com/kubernetes/community/issues/1922#issuecomment-516974448

[2019-08-22 19:20] cstoku commented on #13532
それではCloseさせていただきます。
機会がある際にはぜひお願いします！:smile:

/close

[2019-08-22 19:20] #13532 closed

[2019-08-22 19:25] cstoku commented on #15768
/close

[2019-08-22 19:25] #15768 closed

[2019-08-22 19:33] cstoku commented on #14886
こちらのIssueはCloseとさせてください。
またの機会があった際にはぜひお願い致します！

/close

[2019-08-22 19:33] #14886 closed

[2019-08-22 23:37] zacharysarah commented on #15828
@sftim The more I consider it, the less on board I am with asking site visitors to rank a list of topics.

1. It's a steep cognitive load/time investment to ask from a random site visitor.

2. We need to [measure only what we intend to act on](https://docsbydesign.com/2017/08/24/measuring-your-technical-content-part-1/#introduction-topics).

@aimeeu, I think your original proposal is solid and enc

[2019-08-23 04:10] ysyukr opened #16023 "Translate concepts/workloads/controllers/deployment.md in Korean"
This is a Feature Request

What would you like to be added
Translate concepts/workloads/controllers/deployment.md in Korean

Why is this needed
No traslation with concepts/workloads/controllers/deployment.md in Korean

Comments

Page to update:https://kubernetes.io/docs/concepts/workloads/controllers/deployment/

/language ko

[2019-08-23 06:49] umesh612 opened #16028 "Issue with k8s.io/docs/tasks/inject-data-application/define-command-argument-container/"
How to start nginx using command attribute in pod configuration, if I use /usr/sbin/nginx , the pod is getting into completed state

[2019-08-23 09:26] sftim commented on #15828
OK, cool. That makes a lot of sense.

[2019-08-23 11:25] shankatna opened #16032 "Issue with k8s.io/docs/tasks/administer-cluster/manage-resources/memory-default-namespace/"
**This is a Bug Report**

k8s.io/docs/tasks/administer-cluster/manage-resources/memory-default-namespace/
Starting of above page, namespace **default-mem-example** was created to isolate the limit range and pods from others, however created namespace **default-mem-example** never used in examples. Hence, limit range and other pods were created in default namespace and not newly created **default-m

[2019-08-23 13:13] #15963 closed

[2019-08-23 16:24] sftim commented on #16032
Thanks for reporting this.
/kind bug
/language en

[2019-08-23 16:56] aimeeu commented on #15828
@zacharysarah thanks for the "measure" article link. One actionable item I see already is modifying the Docs home page to include links to top pages so users don't have to dig. I will ping Jared about getting stats for more than just the top 10 pages.

[2019-08-23 17:29] shankatna commented on #16032
Used at the time of creation of the pod. which was misleading to me and raise an issue. my bad

[2019-08-23 17:29] #16032 closed

[2019-08-23 19:31] mightybigcar opened #16041 "Broken command in flannel_multi_node_cluster instructions."
**This is a Bug Report**

**Problem:**
Command to add the .json file to etcdctl fails.

**Proposed Solution:**
I think the line
   etcdctl set /coreos.com/network/config < flannel-config.json
should be
   etcdctl **put** /coreos.com/network/config < flannel-config.json

**Page to Update:**
https://kubernetes.io/docs/getting-started-guides/fedora/flannel_multi_node_cluster/

[2019-08-23 20:22] bruce2409 opened #16042 "Issue with k8s.io/docs/concepts/configuration/overview/"
**This is a Bug Report**

**Problem:** No mention of how to deploy an image with the digest, despite being listed as a solution for issues with image tags.

**Proposed Solution:** Either add a section detailing how to deploy by digest hash on this page/another (and link if placed on an external page) or add it to the note box.

**Page to Update:**
https://kubernetes.io/docs/concepts/configuration/

[2019-08-23 23:27] #10221 closed

[2019-08-24 00:56] gochist commented on #15745
/close

[2019-08-24 00:56] #15745 closed

[2019-08-24 01:23] inductor commented on #13379
/close

Thanks for your contribution!

[2019-08-24 01:23] #13379 closed

[2019-08-24 04:42] #14977 closed

[2019-08-24 07:27] raelga commented on #13948
## Status update

_Updated 2019/08/15_

### Merged and published :tada:
- #14362 reference/glossary/replicaset by @ureesoriano

### Reviewed (LGTM):

- #14557 content/es/docs/reference/glossary/kube-proxy by @javisabalete

@glo-pena @alexbrand @electrocucaracha can you check them, another `/lgtm` will be enough to `/approve`.

### Reviewed (LGTM but needs squashing )

_None_

### Reviewed (needs s

[2019-08-24 13:09] af12066 opened #16049 "Translate tasks/configure-pod-container/assign-memory-resource/ in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/configure-pod-container/assign-memory-resource/ in Japanese

**Why is this needed**

Copy from content/en/docs/tasks/configure-pod-container/assign-memory-resource.md and update content/ja/docs/tasks/configure-pod-container/assign-memory-resource.md

**Comments**

[2019-08-24 13:09] af12066 commented on #16049
/language ja

[2019-08-24 13:09] af12066 commented on #16049
/assign

[2019-08-24 22:22] #15641 closed

[2019-08-24 23:35] af12066 opened #16056 "Translate tasks/configure-pod-container/assign-cpu-resource/ in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/configure-pod-container/assign-cpu-resource/ in Japanese

**Why is this needed**

Copy from content/en/docs/tasks/configure-pod-container/assign-cpu-resource.md and update content/ja/docs/tasks/configure-pod-container/assign-cpu-resource.md

**Comments**

[2019-08-24 23:36] af12066 commented on #16056
/language ja

[2019-08-24 23:36] af12066 commented on #16056
/assign

[2019-08-25 00:36] #15809 closed

[2019-08-25 00:36] #15812 closed

[2019-08-25 00:36] #15925 closed

[2019-08-25 09:51] sftim opened #16059 "Hyperlink from glossary definitions to full pages"
**This is a Feature Request**

**What would you like to be added**
When a reader looks at any glossary term in the [Kubernetes glossary](https://kubernetes.io/docs/reference/glossary/) that has a `full_link` set, the glossary page should hyperlink to that full definition.

<p>Wikipedia uses an icon to mark external links. The hyperlink to the full page could be a standard piece of text such as “(l

[2019-08-25 10:48] sftim opened #16062 "Review / update StatefulSet docs"
**This is a Feature Request**

**What would you like to be added**
Study the existing topics on StatefulSet. Create specific issues about any improvements that you identify as necessary.

- [StatefulSet](https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/)
- [StatefulSet Basics](https://kubernetes.io/docs/tutorials/stateful-application/basic-stateful-set/)
- [Run a Replicated St

[2019-08-25 11:10] madankumar-t opened #16064 "Improvement for k8s.io/docs/tasks/access-application-cluster/web-ui-dashboard/"
i have most of the people is showing up the dash board from mac only , why not a simple VM , because in industry we have to deploy the dash board in VM , i tried this dash board did not work for me , i got stuck.

[2019-08-25 11:24] sftim opened #16065 "https://kubernetes.io/docs/ broken for previous releases"
**This is a Bug Report**

**Problem:**
https://v1-14.docs.kubernetes.io/docs/ does not look like an archived version of https://kubernetes.io/docs/ (instead, it looks like what I see when I run Hugo locally):
![Screenshot](https://user-images.githubusercontent.com/22591623/63649246-37817000-c733-11e9-8172-e199cf27d8a2.png)

I assume this will be the same for all archived versions; I have not done