[2022-11-24 11:26] tamilselvan1102 opened #38045 "Add glossary tooltip for kube-apiserver"
**What would you like to be added**
Under [API Overview](https://kubernetes.io/docs/reference/using-api/) page,  Add glossary tooltip  for `kube-apiserver`

**Why is this needed**
Adding the glossary tooltip will helps get an idea about `kube-apiserver` by simply on hover the mouse.
**Comments**
/sig docs
/language en
/assign

[2022-11-24 11:36] tamilselvan1102 opened #38046 "Add K8s support library package for reference"
**What would you like to be added**
Under [API Overview](https://kubernetes.io/docs/reference/using-api/) page, add [K8s support library package reference](https://pkg.go.dev/k8s.io/kubernetes) in [What's next](https://kubernetes.io/docs/reference/using-api/#what-s-next) section.

**Why is this needed**
Help to understand K8s support packages.

**Comments**
/sig docs
/language en
/assign

[2022-11-24 11:49] #37998 closed

[2022-11-24 12:49] Ritikaa96 opened #38049 "Add references and glossary tooltip in the control-plane-node-communication page"
**This is a Feature Request**

**What would you like to be added**
- There are terms that can use the addition of a glossary tooltip to show the meaning of the said term.
- There is no `what's next` or reference section
- Some terms can use references like : `hub and spoke API pattern `, `SSH tunnels`

**Why is this needed**
Rather than searching for the definitions of  some terms , the references

[2022-11-24 12:49] Ritikaa96 commented on #38049
/kind feature
/language en
/sig docs

[2022-11-24 12:51] Ritikaa96 commented on #38049
If the triage is accepted would be happy to contribute references I have searched while reading the concept.
/assign

[2022-11-24 14:32] tengqm commented on #38036
why don't you do API call and then examine the JSON body?

[2022-11-24 14:43] Ritikaa96 opened #38051 "Enable click-to-zoom for some diagrams and other images"
**This is a Feature Request**

Some images in concepts sections are quite detailed but in normal scope the texts inside of them look small and unreadable.
Can we add feature for the images to pop up on clicking?
It will add to the user experience as well as ease the pain of zooming out the page in whole.

**What would you like to be added**
Feature to Pop up images on click

**Why is this needed**

[2022-11-24 14:43] sftim commented on #37955
/kind bug

[2022-11-24 14:44] sftim commented on #37955
@Jackcrampton are you still seeing these symptoms?

[2022-11-24 14:44] Ritikaa96 commented on #38051
/area web-development
/kind feature

[2022-11-24 14:44] sftim commented on #38051
/area web-development

Something similar to https://medium-zoom.francoischalifour.com/ ?

[2022-11-24 14:45] sftim commented on #38051
/retitle Enable click-to-zoom for some diagrams and other images

[2022-11-24 14:45] sftim commented on #38051
/triage accepted
/priority backlog
/lifecycle frozen

[2022-11-24 14:46] sftim commented on #37316
/help
/language en

[2022-11-24 14:47] sftim commented on #37316
/good-first-issue

PRs to fix this are welcome!

[2022-11-24 14:50] Ritikaa96 commented on #38051
Thanks @sftim ,
I investigated on hugo's documents regarding any shortcode or feature that provide this functionality. but till now haven't found any.

[2022-11-24 14:55] Ritikaa96 commented on #38051
For now I'll investigate more and try to find out what can work so assigning it to myself
/assign

[2022-11-24 14:59] sftim commented on #38051
A couple of hints:
[code]

[code]

[2022-11-24 15:12] #34609 closed

[2022-11-24 15:12] kavita1205 commented on #37958
@sftim strange ..just to get the information about audit policy which is not working in my system, I need to contact your employer..

[2022-11-24 16:13] dims commented on #37958
/close

[2022-11-24 16:14] #37958 closed

[2022-11-24 17:19] airtower-luna opened #38053 "Manually managed key for apt repositories should be installed to /etc, not /usr/share"
**This is a Bug Report**

**Problem:**
The documentation recommends installing the repository signing key to `/usr/share/keyrings/kubernetes-archive-keyring.gpg`. This is contrary to the recommendation in the Debian documentation [on using third-party repositories](https://wiki.debian.org/DebianRepository/UseThirdParty):

There is no keyring package in the k8s repository that would replace and (wh

[2022-11-24 18:42] sftim commented on #38053
This is a reasonable change. We could also mention that

and document how to make sure it exists.

/language en
/sig cluster-lifecycle

/remove-kind bug

It's not exactly a bug, and it's not a feature either. Let's not choose.

/triage accepted
/priority backlog
/help

[2022-11-24 18:43] sftim commented on #38053
@airtower-luna please update the issue description to _not_ mention updating the localized versions. Localization teams pick those changes up and will file their own issues if needed.

[2022-11-24 18:45] sftim commented on #29049
We should also add a diagram into https://kubernetes.io/docs/concepts/architecture/control-plane-node-communication/

[2022-11-24 18:45] sftim commented on #38049
Worth doing, but the change I outline in https://github.com/kubernetes/website/issues/29049#issuecomment-885977653 is more valuable to work on.

[2022-11-24 18:46] sftim commented on #37929
If you're just looking for someone else to give you advice on how to use Kubernetes with AWS, you could indeed ask on [Server Fault](https://serverfault.com/questions/tagged/kubernetes).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

I'm afraid that this issue tracker is not the right place for su

[2022-11-24 18:46] #37929 closed

[2022-11-24 21:59] airtower-luna commented on #38053
@sftim I've removed the mention of localization.

[2022-11-25 02:19] edsonjplima opened #38060 "O que é Kubernetes?"
Kubernetes é um plataforma de código aberto, portável e extensiva para o gerenciamento de cargas de trabalho e serviços distribuídos em contêineres, que facilita tanto a configuração declarativa quanto a automação. Ele possui um ecossistema grande, e de rápido crescimento. Serviços, suporte, e ferramentas para Kubernetes estão amplamente disponíveis.

O Google tornou Kubernetes um projeto de códig

[2022-11-25 02:54] #37520 closed

[2022-11-25 03:45] kundan2707 commented on #38060
/language pt

[2022-11-25 05:12] #37922 closed

[2022-11-25 05:20] divya-mohan0209 commented on #35436
/remove-lifecycle rotten

[2022-11-25 05:21] KobayashiD27 opened #38062 "[ja] Translate `docs/concepts/storage/volume-health-monitoring/` into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate https://kubernetes.io/docs/concepts/storage/volume-health-monitoring/ into Japanese
**Why is this needed**
This page has not been translated.
**Comments**

/language ja
/assign

[2022-11-25 06:09] Ritikaa96 commented on #38049
https://github.com/kubernetes/website/issues/29049#issuecomment-885977653 here seems to be about the https://kubernetes.io/docs/concepts/architecture/ and https://kubernetes.io/docs/concepts/architecture/nodes/ page in particular.
I'd agree with the general idea of making the content brief and putting extra information in the reference.

For control-plane-node-communication page, I see your commen

[2022-11-25 06:12] Ritikaa96 commented on #38049
@sftim  For now, I'll push this commit, in case even if we shift this content to reference or another section, we would still need some of the links and references.

[2022-11-25 06:45] KobayashiD27 opened #38065 "[ja] Translate `docs/concepts/storage/ephemeral-volumes/` into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate https://kubernetes.io/docs/concepts/storage/ephemeral-volumes/ into Japanese
**Why is this needed**
This page has not been translated.
**Comments**

/language ja
/assign

[2022-11-25 07:13] s-kawamura-w664 commented on #36035
/remove-lifecycle stale

[2022-11-25 07:13] s-kawamura-w664 commented on #36035
/assign

[2022-11-25 07:38] T-Lakshmi opened #38066 "Add more points to What's Next section under init-containers page."
**This is a Bug Report**
**Problem:**
[What's next](https://kubernetes.io/docs/concepts/workloads/pods/init-containers/#what-s-next) section of [init-containers](https://kubernetes.io/docs/concepts/workloads/pods/init-containers/) page does not cover all required reference points which are mentioned throughout page.
**Proposed Solution:**
Add references of below topics under what's next section of

[2022-11-25 07:39] T-Lakshmi commented on #38066
/sig docs
/language en
/assign

[2022-11-25 08:00] T-Lakshmi commented on #37994
Hi @lukaszkuczynski, @Harisalghifary, @pipemonNexplore
Please confirm is this issue resolved for you or still facing the same issue?

[2022-11-25 08:25] Ritikaa96 commented on #29049
Hi @sftim going through the page [Kubernetes Components](https://kubernetes.io/docs/concepts/overview/components/) , if we want to write about `kube-controller-manager` in a summary only, there are two things to notice:

- More kubernetes components mentioned there have to be summarised just the same.
- [Cluster Architecture](https://kubernetes.io/docs/concepts/architecture/) doesn't have explanat

[2022-11-25 08:41] utkarsh-singh1 commented on #38060
Hi @edsonjplima, thanks for raising the issue, can you elaborate your issue as this is description of Kubernetes?

[2022-11-25 10:17] kerthcet opened #38069 "Update scheduling framework page with latest changes"
**This is a Feature Request**

**What would you like to be added**

In v1.26, we introduced a new extension point in scheduling framework named `PreEnqueue`, see https://github.com/kubernetes/enhancements/tree/master/keps/sig-scheduling/3521-pod-scheduling-readiness, but this page hasn't been updated https://github.com/kubernetes/website/blob/main/content/en/docs/concepts/scheduling-eviction/sched

[2022-11-25 10:17] kerthcet commented on #38069
/help

[2022-11-25 12:07] T-Lakshmi opened #38072 "Add glossary tooltip and references in the Nodes page"
**This is a Feature Request**
**What would you like to be added**
- Below are terms that can use the addition of a glossary tooltip to show the meaning of the said term.
        `statefulset`
        `workload`
        `kube-controller-manager`

- Below points can be added to [What's next](https://kubernetes.io/docs/concepts/architecture/nodes/#what-s-next) section of Nodes page which will help us

[2022-11-25 12:07] T-Lakshmi commented on #38072
/sig docs
/ language en
/assign

[2022-11-25 12:41] tamilselvan1102 opened #38073 "Add glossary tooltip for [kube-proxy] and [kubectl]"
**What would you like to be added**
Under [Communication between Nodes and the Control Plane](https://kubernetes.io/docs/concepts/architecture/control-plane-node-communication/) page,  Add glossary tooltip  for `kube-proxy`  and `kubectl`

**Why is this needed**
Adding the glossary tooltip will helps get an idea about  `kube-proxy`  and `kubectl` by simply on hover the mouse.
**Comments**

[2022-11-25 12:41] tamilselvan1102 commented on #38073
/sig docs
/language en
/assign

[2022-11-25 12:43] sftim commented on #29049
There are lots of different routes to the same goal. Anything that moves us closer to our desired state is useful.
Long term, I think https://kubernetes.io/docs/concepts/overview/components/ should have _less_ detail, with some of what's there now moving to https://kubernetes.io/docs/concepts/architecture/control-plane/

Does that align with what you were thinking @abhineettikoo ?

[2022-11-25 12:46] kundan2707 commented on #38023
/sig doc

[2022-11-25 12:50] kundan2707 commented on #38023
/sig docs

[2022-11-25 13:15] Shubham82 commented on #37459
closing this issue as no description is provided for the issue.
/close

[2022-11-25 15:27] castroricardo1 commented on #13939
Hello, I would like to start translating the page [Node Resources Managers](https://github.com/kubernetes/website/blob/main/content/en/docs/concepts/policy/node-resource-managers.md).

I've assigned myself in the spreadsheet and marked it as in progress.

[2022-11-25 16:58] Ritikaa96 commented on #38051
There is one more way like the above reference link mentioned,
If we put full-resolution images in other paths and do this :
`[![Alternative Text](/path/of/image.jpg)](/path/to/image.jpg)`

It is in case we want minimal change in the code.
I'm going to add ways here as I find so the community can vote or suggest which will be better for a clean code

[2022-11-25 17:06] Ritikaa96 commented on #38051
[This](https://github.com/adityatelange/hugo-PaperMod/issues/384#issuecomment-899219940)
one is a good reference for same functionality with example.
I'll try both and raise a PR after that.

[2022-11-25 18:10] sftim commented on #38051
We [recommend](https://kubernetes.io/docs/contribute/style/diagram-guide/) using vector images.

[2022-11-25 18:20] sftim opened #38082 "Highlight (and optionally hide by default) releases that are out of support"
**This is a Feature Request**

**What would you like to be added**
Change https://kubernetes.io/releases/ to set a custom style or other indicator for releases that are already out of support.
Maybe use a `<details>` element or something to hide these by default?

**Why is this needed**
We list older releases on https://kubernetes.io/releases/
It's not obvious that a release listed there may have

[2022-11-25 18:22] sftim commented on #38082
I think it'd be neat if https://kubernetes.io/releases/ listed all the minor releases for Kubernetes 1.x but only showed in-support releases by default.

I think we have the data for older releases; see https://k8s.io/releases/patch-releases/#non-active-branch-history

[2022-11-25 18:22] sftim commented on #38082
BTW, the Kubernetes website builds at least twice per day (including via automation) so you can compare the end-of-life date to the build date to work out if a release is still in support.

[2022-11-25 21:37] shannonxtreme opened #38084 "Move or remove the detailed steps for Secret use cases from the concept"
Umbrella issue: #4491

https://kubernetes.io/docs/concepts/configuration/secret/#use-cases contains multiple "use cases" for Secrets. However, many of these are mini-tasks. In this issue, I'd like to discuss each of these use cases at a high level to see which we can remove, which we can trim, and which we can move to a new or existing task page. That way, the "Use cases section could even be a bu

[2022-11-26 01:10] tengqm commented on #36360
/remove-lifecycle stale

[2022-11-26 01:11] tengqm commented on #36360
/triage accepted

[2022-11-26 06:40] divya-mohan0209 commented on #35518
/remove-lifecycle rotten

[2022-11-26 06:40] divya-mohan0209 commented on #35518
Hello @concrain please could you provide more context?

[2022-11-26 12:43] sftim commented on #32047
/remove-lifecycle rotten
/lifecycle stale

[2022-11-26 14:05] kundan2707 commented on #38069
/kind documentation

[2022-11-26 15:31] #33166 closed

[2022-11-26 15:31] #34671 closed

[2022-11-26 15:51] MzoroHaHa opened #38090 "安装 kubeadm"
Is `kubelet --version` can't be used ,But preflight is stil use this command?

[2022-11-26 16:27] YashPimple commented on #38069
/assign

[2022-11-26 17:27] bishal7679 commented on #38069
/triage accepted

[2022-11-27 04:43] sanchita-07 commented on #38084
/assign

[2022-11-27 07:13] Olg-star opened #38094 "Advice on nesting Kubernetes clusters"
Is there any way to achieve hierarchical arrangement in k8s?That is, can a master node become a node of another master node?

[2022-11-27 10:15] neolit123 commented on #38090
hi, please try asking on slack or other support forums
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/kind support
/close

[2022-11-27 10:15] #38090 closed

[2022-11-27 13:35] sanchita-07 commented on #38084
I think the "Use case: As container environment variables" can be removed as the goal is achieved in [Using Secrets as environment variables](https://kubernetes.io/docs/concepts/configuration/secret/#using-secrets-as-environment-variables) too.

[2022-11-27 13:39] shannonxtreme commented on #38084
Yeah agreed, although I'm separately removing that section and linking it to our existing task page as part of #38083

[2022-11-27 19:44] MikeSpreitzer commented on #30691
Somebody has resolved this issue.  https://kubernetes.io/docs/reference/instrumentation/metrics/ now includes the apiserver metrics.

[2022-11-27 19:44] #30691 closed

[2022-11-27 19:45] MikeSpreitzer commented on #31633
This has been resolved.

[2022-11-27 19:45] #31633 closed

[2022-11-27 22:00] EuricoAbreu commented on #13939
Hi everyone, I would like to start translating the page [Scheduling, Preemption and Eviction](https://github.com/kubernetes/website/blob/main/content/en/docs/concepts/scheduling-eviction/_index.md).
I have assigned myself in the spreedsheet, and market it as "In progress"

[2022-11-28 01:56] AnaCarolinaRodriguesLeite commented on #13939
Hi everyone, I would like to start translating the [Container Runtime Interface page](https://github.com/kubernetes/website/blob/main/content/en/docs/concepts/architecture/cri.md).

I assigned myself on the spreadsheet and marketed it as "In progress"

[2022-11-28 03:03] b-freitas commented on #13939
Hello, I would like to start translating the page [cgroup](https://github.com/kubernetes/website/blob/main/content/en/docs/concepts/architecture/cgroups.md).

I have assigned myself in the spreadsheet and marked it as in progress.

[2022-11-28 04:48] sanchita-07 commented on #38084
Let's shift "Use case: Pods with prod/test credentials"  and "Use case: secret visible to one container in a Pod" to [Distribute Credentials Securely Using Secrets](https://kubernetes.io/docs/tasks/inject-data-application/distribute-credentials-secure/#create-a-pod-that-has-access-to-the-secret-data-through-a-volume) and attach the link in the use case section as bullet notes.

[2022-11-28 04:49] tamilselvan1102 commented on #38094
/kind support

[2022-11-28 05:03] kundan2707 commented on #38094
@Olg-star  there could me multiple master nodes in a high availability  cluster in which inactive cluster will act as node and when active master will be done another one can take over.

[2022-11-28 05:52] vaibhav2107 commented on #36294
/remove-lifecycle stale

[2022-11-28 05:56] vaibhav2107 commented on #34761
/remove-lifecycle stale

[2022-11-28 07:22] KobayashiD27 opened #38116 "[ja] Translate docs/concepts/storage/volume-snapshots/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate https://kubernetes.io/docs/concepts/storage/volume-snapshots/ into Japanese.
**Why is this needed**
This page has not been translated.
**Comments**

/language ja
/assign

[2022-11-28 08:48] Shubham82 opened #38118 "Wrong Links for SupportNodePidsLimit and SupportPodPidsLimit feature gates."
**This is a Bug Report**

From  k8s v1.24 the `SupportNodePidsLimit` and  `SupportPodPidsLimit` are no longer available as a feature gate in k8s. From v1.25 there is a separate document that contains information on feature gates that have been removed i.e. [Feature Gates (removed)](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates-removed/).

In the [Process ID Limits

[2022-11-28 08:49] Shubham82 commented on #38118
/kind documentation
/assign

[2022-11-28 09:52] tengqm commented on #38118
For GA'ed feature or deprecated feature, if the gate is removed, we may want to remove the linking texts altogether rather than having existing text pointing to the outdate gate names.

[2022-11-28 10:03] Shubham82 commented on #38118
Hi @tengqm
Just want to confirm it: So for this, you want to remove the whole note section for both feature gates, because both feature gates are removed.
Am I understanding right?

[2022-11-28 10:12] sftim commented on #31993
/reopen
/lifecycle frozen

[2022-11-28 10:13] sftim commented on #38084
/triage accepted

[2022-11-28 10:53] sftim commented on #38066
/remove-kind bug
/triage accepted

I'm not sure how much we need to tell people about Services and Volumes; maybe we should instead signpost readers to learn more about Pods in general - perhaps links to specific fragments of relevant Pod pages?

Same for garbage collection really.

[2022-11-28 11:19] Kartik494 commented on #38053
I will give a try on this.
/assign

[2022-11-28 11:19] PiotrProkop opened #38119 "Create a new page with list of alpha and beta options of Topology Manager"
**This is a Feature Request**

**What would you like to be added**

Add a list of alpha options and beta options of Topology Manager into a new page within https://kubernetes.io/docs/reference/node/
(and not https://kubernetes.io/docs/tasks/administer-cluster/topology-manager/

**Why is this needed**

Task pages are the wrong place to put reference docs.

**Comments**

Topology Options documentati

[2022-11-28 11:20] sftim commented on #38119
/sig node
/triage accepted
/language en

[2022-11-28 11:21] fromanirh commented on #38119
/cc

[2022-11-28 11:22] sftim commented on #38119
I guess we should list stable options there too?

[2022-11-28 11:22] PiotrProkop commented on #38119
Definitely! But for now there are none.

[2022-11-28 11:22] sftim commented on #38119
The feature gates page should link from the descriptions of `TopologyManagerPolicyAlphaOptions` and `TopologyManagerPolicyBetaOptions` to the relevant sections of this new page.

[2022-11-28 11:23] sftim commented on #38119
As there are no stable options, we could put in the Markdown for it inside an HTML comment, so that future contributors can see where to put things.

[2022-11-28 11:26] fromanirh commented on #38119
I guess we will need something similar for cpumanager. I'll file a issue shortly.

[2022-11-28 11:35] swatisehgal commented on #38119
/cc

[2022-11-28 12:08] fromanirh opened #38121 "Create a new page with list of alpha and beta options of CPU Manager"
**This is a Feature Request**

**What would you like to be added**
Add a list of alpha,beta and stable options of CPU Manager into a new page within https://kubernetes.io/docs/reference/node/
(and not https://kubernetes.io/docs/tasks/administer-cluster/cpu-management-policies/)

**Why is this needed**
Task pages are the wrong place to put reference docs.

**Comments**
Sibling issue because topolog

[2022-11-28 12:08] fromanirh commented on #38121
/sig node

[2022-11-28 12:08] fromanirh commented on #38121
xref: https://github.com/kubernetes/website/issues/38119

[2022-11-28 12:08] fromanirh commented on #38119
xref: https://github.com/kubernetes/website/issues/38121

[2022-11-28 12:08] fromanirh commented on #38121
/language en

[2022-11-28 12:13] Shubham82 commented on #38121
/triage accepted

[2022-11-28 12:21] saschagrunert commented on #35341
Done

[2022-11-28 12:21] #35341 closed

[2022-11-28 13:45] sftim commented on #38121
/lifecycle frozen

[2022-11-28 13:51] sftim opened #38126 "Label `kube-aggregator.kubernetes.io/automanaged` not registered / documented"
**This is a Bug Report**

**Problem:**
Code from the Kubernetes project sets (or previously did set) a label, `kube-aggregator.kubernetes.io/automanaged`

This looks intended, but https://kubernetes.io/docs/reference/labels-annotations-taints/ doesn't document that label.

**Proposed Solution:**
Document that label; as a side effect, this registers it. If it's deprecated, we should mark it as depr

[2022-11-28 13:53] sftim opened #38127 "Annotation `scheduler.alpha.kubernetes.io/critical-pod` not registered / documented"
**This is a Bug Report**

**Problem:**
Kubernetes previously paid attention to an annotation, `scheduler.alpha.kubernetes.io/critical-pod`. We now use [Pod Priority](https://kubernetes.io/docs/concepts/scheduling-eviction/pod-priority-preemption/) instead.

Even so, https://kubernetes.io/docs/reference/labels-annotations-taints/ should document that annotation.

**Proposed Solution:**
Document tha

[2022-11-28 13:55] Ritikaa96 opened #38128 "The format for what's next section in cloud-controller.md is not right."
**This is a Bug Report**

**Problem:**
The` what's next `section in the cloud-controller.md is not in right format.
Given as:

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/concepts/architecture/cloud-controller/

[2022-11-28 13:56] Ritikaa96 commented on #38128
/language en
/sig docs
/assign

[2022-11-28 14:00] chiukapoor commented on #38127
/assign

[2022-11-28 14:34] Ritikaa96 commented on #38128
the content seems confusing as it does not mention how to implement your own cloud controller manager, or extend an existing project?

We can add more references or change the wording to direct links and briefly explain their cause.
I'd like to hear what the community think about this.

[2022-11-28 14:35] T-Lakshmi commented on #38072
If triage is accepted, i would be happy to contribute on it. PTAL.

[2022-11-28 14:37] italofernandes13 commented on #13939
Hi everyone, I would like to start translating the [Kubernetes Issues and Security](https://github.com/kubernetes/website/blob/main/content/en/docs/reference/issues-security/_index.md).

I have assigned myself on the spreadsheet and marketed it as "In progress"

[2022-11-28 14:44] T-Lakshmi commented on #38021
If traige is accepted, i would be happy to contribute on it.

[2022-11-28 14:44] Ritikaa96 commented on #38128
Raised a [PR](https://github.com/kubernetes/website/pull/38129) for the obvious change. I'll be open to make further changes if anyone has input regarding the content of section mentioned

[2022-11-28 14:52] #34678 closed

[2022-11-28 14:57] Ritikaa96 commented on #38126
/assign

[2022-11-28 15:42] amolmote opened #38133 "[hi] Need to Remove Unnecessary backticks and add appropriate conversion term for word `path`"
Observed this issue while reading [this doc](https://kubernetes.io/hi/docs/reference/glossary/?fundamental=true&architecture=true#term-aggregation-layer). I have gone through the the whole file need to do these changes.

1. एग्रीगेशन लेयर आपको अपने क्लस्टर में अतिरिक्त कुबेरनेट्स-शैली API स्थापित करने देता है।` ``` `  Need to remove this
2. आप कुबेरनेट्स `एपीआई` need to change this to -> API
3. मे

[2022-11-28 16:17] sftim commented on #38133
/language hi
/kind bug

[2022-11-28 16:53] NitishKumar06 commented on #34761
/assign

[2022-11-28 17:30] enj commented on #36938
/triage accepted

[2022-11-28 17:31] enj commented on #36938
/assign @ritazh

[2022-11-28 18:11] T-Lakshmi opened #38136 "Add references and glossary tooltip in the Owners and Dependents page"
**This is a Feature Request**
**What would you like to be added**

- There are terms that can use the addition of a glossary tooltip to show the meaning of the said term.
- Some terms can add into What's next section like: ReplicaSets, DaemonSets, Deployments, Jobs and CronJobs, and ReplicationControllers.

**Why is this needed**
 This will enhance user experience and bring more clarity and less c

[2022-11-28 18:12] T-Lakshmi commented on #38136
/sig docs
/language en
/assign

[2022-11-28 18:14] T-Lakshmi commented on #38028
@Harisalghifary,
Please confirm are you still facing the same issue.

[2022-11-28 21:43] #36199 closed

[2022-11-28 23:46] daniso123 commented on #13939
Hi, I would like to start translating the cluster administration page.

I assigned myself on the spreadsheet and marketed it as "In progress"

[2022-11-29 01:42] DaviMatheus commented on #13939
Hello everyone , I would like to start translating the [Architecturecontroller concept  doc](https://github.com/kubernetes/website/blob/main/content/en/docs/concepts/architecture/controller.md).

I assigned myself on the spreadsheet and marketed it as "In progress"

[2022-11-29 03:24] edsondearaujo commented on #13939
Hi everyone, I would like to start translating the page [pod-security-policy](https://github.com/kubernetes/website/blob/main/content/en/docs/concepts/security/pod-security-policy.md).
I have assigned myself in the spreedsheet, and market it as "In progress"

[2022-11-29 04:52] Kartik494 commented on #33317
@rritsoft could you let us know if you are still facing this issue, or you can close this issue if no more queries are pending from your side

[2022-11-29 06:15] #38028 closed

[2022-11-29 07:00] Shubham82 opened #38146 "xfs.org site is unreachable."
**This is a Bug Report**

**Problem:**
The link for XFS is unreachable under [What's next](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#what-s-next) in [Resource Management for Pods and Containers](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/).  Below is the screenshot  of the error:
![Screenshot from 2022-11-29 12-11-33](https://

[2022-11-29 07:03] Shubham82 commented on #38146
/kind documentation
/sig docs

[2022-11-29 07:15] Shubham82 commented on #38146
cc @sftim
PTAL!

[2022-11-29 07:26] Shubham82 commented on #38127
/triage accepted

[2022-11-29 07:29] vaibhav2107 commented on #36194
/remove-lifecycle stale

[2022-11-29 07:30] vaibhav2107 commented on #36193
/remove-lifecycle stale

[2022-11-29 07:30] vaibhav2107 commented on #36192
/remove-lifecycle stale

[2022-11-29 07:32] vaibhav2107 commented on #36011
/remove-lifecycle stale

[2022-11-29 07:34] vaibhav2107 commented on #33169
/remove-lifecycle stale

[2022-11-29 07:34] KobayashiD27 opened #38147 "[ja] Translate `docs/concepts/storage/storage-classes/` into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate https://kubernetes.io/docs/concepts/storage/storage-classes/ into Japanese.
**Why is this needed**

**Comments**

/language ja
/assign

[2022-11-29 07:39] vaibhav2107 commented on #30519
/remove-lifecycle stale

[2022-11-29 07:44] Hypoxicfire opened #38148 "审计"
webhook的审计后端的认证如何实现呢？

[2022-11-29 07:51] Heronal opened #38149 "[fr] Broken link in Dashboard task page"
kubectl apply -f https://raw.githubusercontent.com/kubernetes/dashboard/master/aio/deploy/recommended.yaml

This command line is not working due to the error 404 on the link,
Have a good day

[2022-11-29 08:00] #37517 closed

[2022-11-29 08:31] #37160 closed

[2022-11-29 08:45] Shubham82 commented on #37088
this issue is resolved by this PR: #36850, so closing this issue.
/close

[2022-11-29 08:45] #37088 closed

[2022-11-29 09:08] amosshapira opened #38150 "Issue with k8s.io/docs/concepts/workloads/controllers/job/: pod failure policy"
Not sure what was meant to be said in https://kubernetes.io/docs/concepts/workloads/controllers/job/#:~:text=When%20specified%2C%20it%20should%20match%20one%20the%20container%20or%20initContainer%20names%20in%20the%20Pod%20template.

[code]

[2022-11-29 10:44] chiukapoor commented on #38126
/triage accepted

[2022-11-29 10:45] utkarsh-singh1 commented on #38148
/language zh

related page - https://kubernetes.io/docs/tasks/debug/debug-cluster/audit/#webhook-backend

[2022-11-29 10:49] utkarsh-singh1 commented on #38149
/language fr

Thanks, @Heronal, for raising this issue, can you also provide link to the doc where you have found this issue?

[2022-11-29 10:57] Heronal commented on #38149
Of course, there it is:

https://kubernetes.io/fr/docs/tasks/access-application-cluster/web-ui-dashboard/

[2022-11-29 11:06] utkarsh-singh1 commented on #38150
/language en

related doc - https://kubernetes.io/docs/concepts/workloads/controllers/job/#pod-failure-policy

Hi @amosshapira, here as doc stated pod failure policy can be applied to all containers if container name is not specified
here `spec.podFailurePolicy.rules[*].containerName`, but it can be applied to certain container in case if you specify a name that should be match with container name

[2022-11-29 11:07] Shubham82 commented on #38150
Hi @amosshapira

It means `spec.podFailurePolicy.rules[*].containerName` field is specified with the container name(specified under pod template), then it restricts the rules to that container only, we can define multiple containers in the pod spec. so we should select the container on which we want to apply these rules.  and if this field is not specified then rules will apply to all the containe

[2022-11-29 11:09] Shubham82 commented on #38150
see this for reference: https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.25/#podfailurepolicyonexitcodesrequirement-v1-batch

[2022-11-29 11:24] utkarsh-singh1 commented on #38149
I think french docs have not been updated with the latest link

as in English doc - https://kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard/#deploying-the-dashboard-ui

`kubectl apply -f https://raw.githubusercontent.com/kubernetes/dashboard/v2.6.1/aio/deploy/recommended.yaml`

It is working, as I have tested just now.

[2022-11-29 13:05] Shubham82 opened #38151 "Wrong link mention for token projection."
**This is a Bug Report**

**Problem:**

The link for `token projection` under [Service account issuer discovery](https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#service-account-issuer-discovery) is not working. It is redirected to `/docs/tasks/configure-pod-container/configure-service-account/#service-account-token-volume-projection` which is wrong, It should re

[2022-11-29 13:06] Shubham82 commented on #38151
/sig docs
/assign

[2022-11-29 13:15] Shubham82 commented on #38151
Fixed it here: #38152

[2022-11-29 13:27] kundan2707 commented on #38151
/remove-kind bug

[2022-11-29 13:51] kundan2707 commented on #38150
/kind support

[2022-11-29 13:52] T-Lakshmi commented on #38066
Sure @sftim , In that case i will add one link in general to know more about pods and service under What's next section.

For garbage collection its already available under what's next section. So i will not add reference link inside page.

[2022-11-29 14:16] sftim commented on #38146
https://xfs.wiki.kernel.org/ is a similar site about XFS (specifically on Linux)

[2022-11-29 14:16] sftim commented on #38146
/priority backlog

[2022-11-29 14:18] sftim commented on #38146
/unassign

I don't feel I have special insight into this bug.

[2022-11-29 14:19] #38053 closed

[2022-11-29 14:47] T-Lakshmi commented on #37809
@softhuafei,
Are you still facing this issue? if not we can close this issue.

[2022-11-29 15:12] airtower-luna commented on #38053
@Kartik494, Thank you very much! :slightly_smiling_face:

[2022-11-29 15:17] SaumyaBhushan commented on #38146
/assign

[2022-11-29 15:21] T-Lakshmi commented on #37512
Page related to issue opened: https://kubernetes.io/docs/tutorials/kubernetes-basics/update/update-intro/
@nfrik,
You can follow the guidelines which are available in the interactive session for brief explanation.
Also you can find documentation on `Perform a Rolling Update and Rollback for Daemonset` [here ](https://kubernetes.io/docs/tasks/manage-daemon/) which can help for more understanding th

[2022-11-29 15:23] T-Lakshmi commented on #37512
**`Page related to issue opened`**: https://kubernetes.io/docs/tutorials/kubernetes-basics/update/update-intro/
@nfrik,
You can follow the guidelines which are available in the interactive session for brief explanation.
Also you can find documentation on `Perform a Rolling Update and Rollback for Daemonset` [here ](https://kubernetes.io/docs/tasks/manage-daemon/)which can help for more understandi

[2022-11-29 15:42] devinbost opened #38157 "Improvement for k8s.io/docs/tasks/configure-pod-container/static-pod/"
It would be helpful to provide more information about how to troubleshoot issues when a static pod isn't starting since it's not clear how to get log information on a pod that doesn't appear in the list of pods when running `crictl ps` or `kubectl get pods`

[2022-11-29 15:43] #31769 closed

[2022-11-29 16:09] T-Lakshmi commented on #38157
/kind documentation
/sig docs
/language en
Page to update: [k8s.io/docs/tasks/configure-pod-container/static-pod](url)

[2022-11-29 16:32] T-Lakshmi opened #38159 "Update What's next section under Deployment page"
**This is a Feature Request**
**What would you like to be added**
I would like to add below references under `What's next section` of `Deployment` page.
1. Using kubectl to [Create a Deployment](https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro/)
2. Interactive Tutorial - [Deploying an App](https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-intera

[2022-11-29 16:33] T-Lakshmi commented on #38159
/sig docs
/language en
/assign

[2022-11-29 16:44] sftim commented on #29909
/priority important-longterm

[2022-11-29 17:14] hlavki opened #38160 "Improvement for k8s.io/docs/tasks/access-application-cluster/communicate-containers-same-pod-shared-volume/"
Example on this page does not work, because second pod is terminated, so it tries to restart it and finally became degradated. This scenario will work if second container was `initContainer`. Would be helpful provide real-word examples. Thanks

[2022-11-29 17:17] hlavki commented on #38160
triage/accepted

[2022-11-29 17:17] hlavki commented on #38160
/triage accepted

[2022-11-29 17:39] Ritikaa96 commented on #38126
Created a [PR](https://github.com/kubernetes/website/pull/38161), Havent seen any document for it's deprecation . Please let me know if any change is needed.

[2022-11-29 18:10] medyagh commented on #37801
hi @chalin @a-mccarthy @sftim  just following up on this, is there any instruction for minikube maintainers how we can register/login to see the analytics ?

[2022-11-29 18:54] Shubham82 commented on #38151
As fixed by following PR: #38152
/close

[2022-11-29 18:54] #38151 closed

[2022-11-29 19:07] Shubham82 commented on #38146
Thanks, @sftim for your input.

[2022-11-29 21:36] sftim opened #38165 "Improve diagrams for Virtual IPs and Service Proxies"
**This is a Feature Request**

**What would you like to be added**
Update [Virtual IPs and Service Proxies](https://kubernetes.io/docs/reference/networking/virtual-ips/) to change the diagrams.

1. Use a [`figure`](https://gohugo.io/content-management/shortcodes/#figure) shortcode for each diagram. Also use SVG format (text converted to curves), but save a hidden link to the editable Mermaid sourc

[2022-11-29 21:38] sftim opened #38166 "Add glossary tooltips to Virtual IPs and Service Proxies"
**This is a Bug Report**

**Problem:**
Update [Virtual IPs and Service Proxies](https://kubernetes.io/docs/reference/networking/virtual-ips/): find terms that have glossary entries, and for the first mention of each term, change that to a glossary tooltip.

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/reference/networking/virtual-ips/

**Additional Information:**
See http

[2022-11-29 21:43] sftim opened #38167 "Improve explanation of custom load balancer Services"
**This is a Feature Request**

**What would you like to be added**
You can set annotations on Services that make them do special things, with help from your cloud provider. For example,
setting a special annotation on a Service so that the client gets a connection wrapped in the [proxy protocol](https://www.haproxy.org/download/2.0/doc/proxy-protocol.txt).

Add more detail to
https://kubernetes.io

[2022-11-29 21:46] sftim opened #38168 "Virtual IPs and Service Proxies states that kube-proxy config is a ConfigMap"
**This is a Bug Report**

**Problem:**
[Virtual IPs and Service Proxies](https://kubernetes.io/docs/reference/networking/virtual-ips/) states that you use a ConfigMap to configure kube-proxy.

I don't think that's right. See https://github.com/kubernetes/website/pull/36675#discussion_r965451005 for more details.

**Proposed Solution:**

- Confirm that the in-tree kube-proxy implementation is confi

[2022-11-29 21:50] sftim opened #38169 "Confusing sentence in Virtual IPs and Service Proxies reference"
**This is a Bug Report**

**Problem:**

is confusing - highlighted in https://github.com/kubernetes/website/pull/36675#discussion_r965687676

**Proposed Solution:**
Reword that sentence.

**Page to Update:**
https://kubernetes.io/docs/reference/networking/virtual-ips/

**Additional Information:**
/language en
/priority backlog

[2022-11-29 22:15] vaibhav2107 commented on #38166
/assign

[2022-11-29 22:28] sftim commented on #38166
/triage accepted

[2022-11-29 22:29] sftim commented on #38169
/triage accepted

[2022-11-29 22:29] sftim commented on #38168
/triage accepted

[2022-11-29 22:29] sftim commented on #38167
/triage accepted

[2022-11-29 22:38] amosshapira commented on #38150
What I meant in my question is that "it should match one the container or initContainer names in the Pod template." doesn't make a correct sentence in English, as far as I can tell.

[2022-11-29 23:36] Syuparn opened #38170 "[ja] add startupProbe successThreshold limitation"
**This is a Feature Request**

**What would you like to be added**

Add description that startupProbe successThreshold must be 1.

https://kubernetes.io/ja/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#configure-probes

**Why is this needed**

The limitation has already been mentioned in the English page.

https://kubernetes.io/docs/tasks/configure-pod-container/c

[2022-11-29 23:55] Riaankl commented on #31557
/remove-lifecycle stale

[2022-11-30 01:27] habibrosyad commented on #28772
/remove-lifecycle stale

[2022-11-30 02:26] aimuz commented on #37694
In the case of existing sources that are using `命名空间`, I think there is no need to check your own correctness and should avoid causing more disturbance to the reader, especially for noun changes where you feel you are correct and you get satisfaction inside, but have not considered whether the reader buys it.

Whether the upstream or downstream material is using `命名空间`, there should be no idiosync

[2022-11-30 02:31] jihoon-seo commented on #36361
Resolved by #36850
/close

[2022-11-30 02:31] #36361 closed

[2022-11-30 02:32] jihoon-seo commented on #36813
Resolved by #36850
/close

[2022-11-30 02:33] jihoon-seo commented on #36003
Resolved by #36850
/close

[2022-11-30 02:33] #36003 closed

[2022-11-30 02:35] jihoon-seo commented on #37206
This issue is a duplicate of #34447.

[2022-11-30 05:05] kundan2707 commented on #38169
/sig network

[2022-11-30 05:07] kundan2707 commented on #38168
/sig network

[2022-11-30 05:14] kundan2707 commented on #38157
@devinbost  a separate documentation is present for monitoring and debugging pods or getting logs.
https://kubernetes.io/docs/tasks/debug/debug-application/debug-pods/#debugging-pods
you can get information related to various scenarios

[2022-11-30 05:16] Kartik494 commented on #38160
Hi @hlavki i have tried this in my environment and it's running fine  i.e i can communicate from between two pods

ps aux
USER         PID %CPU %MEM    VSZ   RSS TTY      STAT START   TIME COMMAND
root           1  0.0  0.2   8924  5556 ?        Ss   05:09   0:00 nginx: master process nginx -g daemon off;
nginx         29  0.0  0.1   9312  2628 ?        S    05:09   0:00 nginx: worker process
root

[2022-11-30 07:27] Shubham82 commented on #38118
@tengqm, is it seems good to you?

[2022-11-30 07:30] SirRanger opened #38184 "Can create new instance in session"
I can click add new instance button but nothing is happening.

Chrome dev-tool; Networkmonitor says this:

Requested-URL: https://labs.play-with-k8s.com/sessions/ce3g765er0q000deog10/instances
Request method: POST
Statuscode: 500
Remoteadresse: 52.233.186.82:443
Referrer-Richtlinie: strict-origin-when-cross-origin

[2022-11-30 07:52] vaibhav2107 commented on #36191
/remove-lifecycle stale

[2022-11-30 07:52] vaibhav2107 commented on #36190
/remove-lifecycle stale

[2022-11-30 08:39] Shubham82 opened #38187 "Incorrect link for Virtual IPs and service proxies"
**This is a Bug Report**

**Problem:**
The Link for  `Virtual IPs and service proxies`  under [Defining a Service](https://kubernetes.io/docs/concepts/services-networking/service/#defining-a-service) is wrong. It doesn't redirect anywhere.

It is redirected to the following link: `https://kubernetes.io/docs/concepts/services-networking/service/#virtual-ips-and-service-proxies`instead of that, it s

[2022-11-30 08:39] Shubham82 commented on #38187
/assign
/sig network
/sig docs

[2022-11-30 08:43] hlavki commented on #38160
This is strange, because if you look into this article, there is the part where the status of both containers is printed and debian container is in `terminated` state:
[code]

[2022-11-30 08:46] 0xfei opened #38188 "Error: stat /tmp/hostpath-provisioner/default/data-mysql-0: no such file or directory"
I'm using Mac M1 and minkube,  failed [here](https://kubernetes.io/docs/tasks/run-application/run-replicated-stateful-application/#statefulset)

![image](https://user-images.githubusercontent.com/6046640/204747823-d471cbb0-b194-46e3-a3ca-1626963424a0.png)

PV/PVC/SC seems work fine, service and configmap can upload, but stateful was failed.
[code]

![image](https://user-images.githubusercontent.co

[2022-11-30 08:52] Kartik494 commented on #38160
i was mentioning here that i was able to communicate with containers in the  same pod shared volume,  and yes one of my pod is in running state i.e nginx only, i am not so sure on  running second container in same pod as `init` container.

[2022-11-30 08:56] Kartik494 commented on #38160
May be this part

 in the  [discussion](https://kubernetes.io/docs/tasks/access-application-cluster/communicate-containers-same-pod-shared-volume/#discussion) would help you in this.

[2022-11-30 09:05] Shubham82 commented on #38187
Fixed it here: #38189

[2022-11-30 09:33] hlavki commented on #38160
ok thanks, I see the point, but this example shows basically edge case. What I was looking for is real world example, where we needed to copy data on startup from one container to another and stay healthy.
Maybe there is a space to improve documentation by adding example like this.
And yes, when you use initContainer and pod is deleted and recreated, shared volume data are also lost.

[2022-11-30 09:34] shreyaanjali opened #38190 "Kubernetes Documentation"
Hello All,
I am trying to make communication between two pod.
Please find yml below:-

kind: Pod
apiVersion: v1
metadata:
  name: testpod2
spec:
  containers:
    - name: c00
      image: nginx
      ports:
       - containerPort: 80

-----------------For second:-

kind: Pod
apiVersion: v1
metadata:
  name: testpod4
spec:
  containers:
    - name: c02
      image: httpd
      ports:
       - conta

[2022-11-30 09:42] Kartik494 commented on #38160
@hlavki sure i will check with `init` container also.

[2022-11-30 10:07] jihoon-seo commented on #38190
/kind support

[2022-11-30 10:23] jihoon-seo commented on #38188
Link: https://kubernetes.io/docs/tasks/run-application/run-replicated-stateful-application/#statefulset

I tried to reproduce this but failed.

[env]
- Ubuntu 18.04 amd64 (x86, not arm)

[code]

[code]

---

[Outputs]

[code]

[code]

[code]

[code]

[code]

[2022-11-30 10:55] seokho-son commented on #36863
complete !

/close

[2022-11-30 10:56] #36863 closed

[2022-11-30 10:56] Ritikaa96 commented on #38184
@SirRanger I think this is similar to [this](https://github.com/play-with-docker/play-with-kubernetes.github.io/issues/42) issue
I have tried replicating the issue but I can create new instances easily. For reference , please see the image below.[](url)

![Screenshot from 2022-11-30 16-24-11](https://user-images.githubusercontent.com/52399571/204778175-ced2677c-1fc9-4835-8175-e93b7b82a5fb.png)

/k

[2022-11-30 11:03] ShivankK26 opened #38193 "I want to contribute to this project but I am a newbie can someone please guide me how can I start?"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2022-11-30 11:04] #38062 closed

[2022-11-30 11:05] Ritikaa96 commented on #38184
The last time this issue occured play-with-k8s team stated it was down at the time, this issue can be due to
- network issue
- site loading / site is down
- pop blocker is enabled
- browser window size isn't right , so need to resize the browser window in that case.

[2022-11-30 11:05] utkarsh-singh1 commented on #38190
Hi @shreyaanjali, Please try to ask support queries on [Server Fault](https://serverfault.com/?tags=kubernetes) and [Kubernetes Slack](https://app.slack.com/client/T09NY5SBT/C09NXKJKA?cdn_fallback=2) channel.

How you have created your cluster using minikube or kubeadm?

[2022-11-30 11:09] utkarsh-singh1 commented on #38193
Hi @ShivankK26, below are some links that will help you to start in contributing for Kubernetes.

https://www.kubernetes.dev/docs/guide/#contributor-guide

https://kubernetes.io/docs/contribute/

https://github.com/kubernetes/kubernetes/blob/master/CONTRIBUTING.md

[2022-11-30 11:19] vaibhav2107 commented on #38193
/kind support

[2022-11-30 11:23] vaibhav2107 commented on #36277
/remove-lifecycle stale

[2022-11-30 11:52] swatisehgal commented on #38121
/cc

[2022-11-30 11:52] 0xfei commented on #38188
that's weird...

[code]

[code]

[code]

[2022-11-30 11:54] shreyaanjali commented on #38190
@utkarsh-singh1 minikube

[2022-11-30 11:56] 0xfei commented on #38188
login in the container:

[code]

maybe network issue, for i use http/https proxy

[2022-11-30 12:07] 0xfei commented on #38188
Events:
  Type     Reason     Age              From               Message
  ----     ------     ----             ----               -------
  Normal   Scheduled  11s              default-scheduler  Successfully assigned **default/mysql-0 to demo-m03**
  Normal   Pulled     10s              kubelet            Container image "amd64/mysql:5.7" already present on machine
  Normal   Created    10s

[2022-11-30 12:24] sftim commented on #33061
/remove-lifecycle rotten

We should document this.

[2022-11-30 12:24] sftim commented on #38193
/remove-kind bug

[2022-11-30 12:40] T-Lakshmi commented on #37881
Fixed it here #38191.

[2022-11-30 12:45] Ritikaa96 commented on #38157
I guess you mean: https://kubernetes.io/docs/tasks/configure-pod-container/static-pod/

I understand debugging-pods doesn't contain information regarding the static pod logs and troubleshooting as much but there is page for same information with https://kubernetes.io/docs/tasks/debug/debug-cluster/crictl/#get-a-container-s-logs

[2022-11-30 12:48] tengqm commented on #38118
@Shubham82 I meant this: move the "removed" feature to the dedicated page, if this is not done yet. The "removed" features will stay there for the sole purpose of reference. For all texts (including notes) that reference these gates, remove those references. If a feature is deprecated and removed, those texts may well become invalid. If a feature is GA'ed and removed, those texts may be still vali

[2022-11-30 12:57] 0xfei commented on #38188
**Warning  FailedScheduling  10s              default-scheduler  0/3 nodes are available: 3 pod has unbound immediate PersistentVolumeClaims. preemption: 0/3 nodes are available: 3 Preemption is not helpful for scheduling.**

[2022-11-30 12:58] Ritikaa96 commented on #38157
As @devinbost  mentioned

In the page mentioned above , you can find a warning [here](https://kubernetes.io/docs/tasks/debug/debug-cluster/crictl/#get-a-container-s-logs) that state:

In such cases according  to this issue: https://github.com/kubernetes-sigs/cri-tools/issues/266
We need to use `crictl ps -a` to get the container list created by crictl not `crictl ps`.

Let me know if this was the

[2022-11-30 13:30] T-Lakshmi commented on #38021
Fixed it here #38194.

[2022-11-30 16:02] debdeepsanyal commented on #37316
@tgdfool2 hi! this would be my first contribution and hence i would love an insight into this issue. can you kindly guide me on how to proceed?

[2022-11-30 16:15] debdeepsanyal commented on #31585
hey @sftim , this is my contribution and i would be glad to help and have an insight. can you tell me what to do? im new, just trying to get familiar with all of this

[2022-11-30 16:24] neolit123 commented on #38190
+1

/close

[2022-11-30 18:49] kundan2707 commented on #38188
/kind support

[2022-11-30 18:58] kundan2707 commented on #38184
/remove-kind bug

[2022-11-30 21:46] udyshnkr opened #38199 "Issue with k8s.io/docs/tutorials/configuration/configure-java-microservice/configure-java-microservice-interactive/"
# Description
mvn build failure due to docker pull rate limit
In Step 1, when we run, we are seeing below error, stopping to proceed forward with tutorial
[code]

ref: https://kubernetes.io/docs/tutorials/configuration/configure-java-microservice/configure-java-microservice-interactive/

# Error Log
[code]

[2022-11-30 23:30] gt814 opened #38201 "Outdated minikube information"
**This is a Bug Report**

**Problem:**
Documentation says: "minikube runs a single-node Kubernetes cluster",
but minikube already can run multi-node local Kubernetes cluster.

Here is how to use multi-node clusters https://minikube.sigs.k8s.io/docs/tutorials/multi_node/.

**Proposed Solution:**
Replace the description with the following: "minikube runs an all-in-one or a multi-node local Kubernete