[2020-07-15 15:05] seh commented on #22531
Also, please see [the motivating thread from the "sig-scheduling" channel](https://kubernetes.slack.com/archives/C09TP78DV/p1594753422105100) in the Kubernetes Slack team.

[2020-07-15 15:21] paps82 opened #22532 "Issue with k8s.io/docs/tasks/administer-cluster/dns-custom-nameservers/"
**This is a Bug Report**

Latest documentation on https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pod-s-dns-policy with a related discussion redirection link have broken link.

"Default": The Pod inherits the name resolution configuration from the node that the pods run on. See related discussion for more details.

Broken link on https://kubernetes.io/docs/tasks/debug-appl

[2020-07-15 15:39] sftim commented on #22515
Nice idea. There are a few ways we can get that data. Either grab it from the Netlify logs (which are public) or run a separate deploy in a container, time it, and publish a metric.

Maybe Netlify already tracks this for us?

[2020-07-15 15:57] sftim commented on #22530
(It's also OK to submit a PR that merges into _master_ after the official v1.19 release - [k/website](https://github.com/kubernetes/website) uses a continuous deployment pipeline)

[2020-07-15 16:02] sftim opened #22534 "Move “Resource Bin Packing” into Scheduling & Eviction section"
**This is a Feature Request**

**What would you like to be added**
Migrate the content from https://kubernetes.io/docs/concepts/configuration/resource-bin-packing/ into somewhere inside https://kubernetes.io/docs/concepts/scheduling-eviction/

**Why is this needed**
https://kubernetes.io/docs/concepts/configuration/resource-bin-packing/ is not about configuration in the way that ConfigMap and Secr

[2020-07-15 16:02] sftim commented on #22534
Also see ##22530

[2020-07-15 16:56] sftim commented on #22531
/sig scheduling

[2020-07-15 17:02] sftim commented on #22531
The overall idea with Kubernetes is to bin-pack workloads - see https://kubernetes.io/docs/concepts/configuration/resource-bin-packing/ - so that there is in aggregate no contention for the node's CPUs.

You might quite legitimately want to run some task with sort of `SCHED_IDLE` priority: first to be evicted, least likely to be selected by the OS-level thread scheduler. AIUI Kubernetes does not o

[2020-07-15 19:16] BenTheElder commented on #22515
I was actually planning to look at rewriting the makefile to automatically rebuild the image as a dependency of the other targets when the image changes, which might be worth considering still.

One issue with hosting pre-built is that Kubernetes provides GCR registries, which are not available in china AIUI, which seems extra problematic for k/website.

[2020-07-15 19:18] BenTheElder opened #22537 "Container image is missing requirements for docsy"
**This is a Bug Report**

**Problem:**

To build docsy w/ hugo you need npm, postcss and autoprefixer, but the Dockerfile in this repo lacks them.

**Proposed Solution:**

Install these in the dockerfile so building the website in a container works.

**Page to Update:**
None

/assign

[2020-07-15 19:19] BenTheElder commented on #22537
fix: https://github.com/kubernetes/website/pull/22258
see also: https://github.com/kubernetes/website/issues/22515 https://github.com/kubernetes/website/pull/22518

[2020-07-15 19:19] BenTheElder commented on #22537
/kind bug
/lifecycle active

[2020-07-15 19:22] BenTheElder commented on #22537
https://github.com/google/docsy#prerequisites

[2020-07-15 20:23] 2rs2ts opened #22538 "Issue with k8s.io/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation/"
The `EnableAggregatedDiscoveryTimeout` feature gate was [removed in 1.17](https://github.com/kubernetes/kubernetes/pull/82472) but it's still documented on this doc. So I think it just needs to get removed, but please let me know if it's not supposed to be removed from this document yet.

[2020-07-15 22:11] celestehorgan commented on #20428
/label area-web-development

[2020-07-15 22:11] celestehorgan commented on #20428
/label area/web-development

[2020-07-15 22:12] celestehorgan commented on #20428
/area web-development

[2020-07-15 22:12] celestehorgan commented on #20428
eyyyyyyyyyyy!

/close

[2020-07-15 22:12] #20428 closed

[2020-07-15 22:12] celestehorgan commented on #22537
/area web-development

[2020-07-15 22:13] celestehorgan commented on #22497
/area web-development

[2020-07-15 22:13] celestehorgan commented on #22489
/area web-development

[2020-07-15 22:14] celestehorgan commented on #22471
/area web-development

[2020-07-15 22:14] celestehorgan commented on #22398
/close

[2020-07-15 22:14] #22398 closed

[2020-07-15 22:15] celestehorgan commented on #22348
/area web-development

[2020-07-15 22:15] celestehorgan commented on #22227
/area web-development

[2020-07-15 22:15] celestehorgan commented on #22226
/area web-development

[2020-07-15 22:16] celestehorgan commented on #22172
/area web-development

[2020-07-15 22:16] celestehorgan commented on #22095
/area web-development

[2020-07-15 22:17] #22091 closed

[2020-07-15 22:17] celestehorgan commented on #22086
/area web-development

[2020-07-15 22:17] celestehorgan commented on #22059
/area web-development

[2020-07-15 22:34] msau42 commented on #4514
Yes I think all the storage docs could use a bit of a redesign. Tasks and concepts are often interleaved for many features, and many of the pages have grown very large as we've added more features over time, as well as some descriptions becoming stale.

[2020-07-16 00:11] KilimAnnejaro commented on #22418
/assign

[2020-07-16 02:52] yuexiao-wang commented on #22538
thanks, I will do it

[2020-07-16 02:53] yuexiao-wang commented on #22538
/assgin

[2020-07-16 03:38] ys199210 opened #22539 "Issue with k8s.io/docs/home/"
Kubernetes website does not respond to language change

[2020-07-16 04:09] #22040 closed

[2020-07-16 04:09] celestehorgan commented on #22024
/area web-development

[2020-07-16 08:14] danninov commented on #22296
I'm taking `/docs/tasks/administer-cluster/dns-debugging-resolution/`

[2020-07-16 09:42] sftim commented on #20110
/area web-development

[2020-07-16 09:42] sftim commented on #16772
/area web-development

[2020-07-16 09:44] sftim commented on #18697
I'll mark this as
/area web-development

@532910 nearly all contributions to Kubernetes are from volunteers. So progress here pretty much depends on someone looking for an issue to pick up and then contributing a fix

That label might help make it a bit more discoverable.

[2020-07-16 09:44] sftim commented on #19591
/area web-development
/close

[2020-07-16 09:44] #19591 closed

[2020-07-16 09:44] sftim commented on #19703
/area web-development
/remove-language en

[2020-07-16 09:44] sftim commented on #19795
/area web-development

[2020-07-16 09:47] sftim commented on #22227
Also
/language en

[2020-07-16 09:49] sftim commented on #22515
That's OK @BenTheElder I think

Anyone affected by state-level censorship can still build the container image locally if they have a tool such as Docker or Podman that knows how to do that.

[2020-07-16 09:59] VGerris opened #22542 "Issue with k8s.io/docs/concepts/services-networking/connect-applications-service/"
**This is a Bug Report**

**Problem:**
There is no information explaining where port 8080 comes from

**Proposed Solution:**

Explain where port 8080 comes from in the configuration

**Page to Update:**
https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/

[2020-07-16 09:59] VGerris commented on #22542
page to update:
https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/

[2020-07-16 10:04] Kartik494 commented on #22356
Hi @riyafa i am not sure on section "SubobjectPath" does this introduce in version 1.18?

[2020-07-16 10:16] Kartik494 commented on #22542
@VGerris As far as i know 8080 , is the localhost port and it is by default there.you can find related information [here](https://kubernetes.io/docs/reference/access-authn-authz/controlling-access/#api-server-ports-and-ips)

[2020-07-16 12:41] tengqm commented on #21696
Done.

[2020-07-16 12:41] #21696 closed

[2020-07-16 16:47] celestehorgan commented on #16059
/area web-development

[2020-07-16 17:03] kbhawkey commented on #22537
Thanks @BenTheElder

[2020-07-16 17:17] celestehorgan commented on #16740
/area web-development

[2020-07-16 20:33] Arhell opened #22546 "Word wrap is not very readable"
**This is a Bug Report**

**Problem:**
![1](https://user-images.githubusercontent.com/26163841/87719800-a2f58580-c7bc-11ea-98f1-af9a61f74d49.jpg)

**Proposed Solution:**
remove some css

**Page to Update:**
https://kubernetes.io/docs/concepts/security/pod-security-standards/

/assign
/area web-development

[2020-07-16 22:22] Arhell commented on #22546
/close

[2020-07-16 22:22] #22546 closed

[2020-07-16 22:33] Arhell commented on #22048
@chalin fix

[2020-07-16 22:40] Arhell commented on #21923
/assign @Arhell

[2020-07-16 23:56] BenTheElder commented on #22537
fixed in https://github.com/kubernetes/website/pull/22258

[2020-07-16 23:56] #22537 closed

[2020-07-17 00:03] BenTheElder commented on #22515
If that's the case and we're fine with that ...
/assign
We have tooling & processes for CI build Kubernetes images on official project GCR.

[2020-07-17 00:09] jimangel commented on #22515
@BenTheElder thanks! I would be happy to work with you on this. Let me know how I can help!

[2020-07-17 00:31] #19156 closed

[2020-07-17 00:53] BenTheElder commented on #22515
Great! I sent you a brain-dump on slack, will sync more when you're on next!

On Thu, Jul 16, 2020 at 5:09 PM Jim Angel <notifications@github.com> wrote:

[2020-07-17 00:55] tengqm commented on #21695
/close

[2020-07-17 00:55] #21695 closed

[2020-07-17 01:51] electrocucaracha commented on #21128
Just for the record, If you want to configure your scheduler thru [KinD tool](https://kind.sigs.k8s.io/) you can use the following instructions:

[code]

[2020-07-17 02:20] oke-py commented on #22364
/close

[2020-07-17 02:21] #22364 closed

[2020-07-17 02:21] oke-py commented on #22369
/close

[2020-07-17 02:21] #22369 closed

[2020-07-17 03:20] takaf04 commented on #21839
/assign

[2020-07-17 03:48] inductor commented on #21739
/close

[2020-07-17 03:48] #21739 closed

[2020-07-17 04:20] inductor commented on #21853
/close

[2020-07-17 04:20] #21853 closed

[2020-07-17 04:28] inductor commented on #22374
/close

[2020-07-17 04:28] #22374 closed

[2020-07-17 04:28] inductor commented on #19247
@Yoshiki0705 進捗いかがですか～

[2020-07-17 04:29] inductor commented on #19280
/remove-lifecycle rotten

[2020-07-17 05:27] bluefriday opened #22552 "Translate tasks/debug-application-cluster/debug-init-containers/ into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/debug-application-cluster/debug-init-containers/ into Korean.

**Why is this needed**

There is no documents with tasks/debug-application-cluster/debug-init-containers/ into Korean .

**Comments**

https://kubernetes.io/docs/tasks/debug-application-cluster/debug-init-containers/

[2020-07-17 05:28] bluefriday commented on #22552
/language ko
/assign

[2020-07-17 05:31] Yoshiki0705 commented on #19247
すみません。日曜日にPR出せればと思います〜。
「分量あるからまとめた時間取ってやろう」と思って、気が付けば2ヶ月以上、塩漬けにしてしまっていました。

[2020-07-17 06:42] BenTheElder commented on #22515
Request for a staging registry from wg-k8s-infra submitted in https://github.com/kubernetes/k8s.io/issues/1033

The process is normally to have auto-pushed images from CI go into a staging registry per-project (so we'll get one for kubernetes/website), and then you can file PRs to k8s.io to promote a digest from staging to a tag in the prod registry.

https://github.com/kubernetes/website/pull/225

[2020-07-17 06:46] BenTheElder commented on #22515
For more on k8s.gcr.io, see: https://github.com/kubernetes/k8s.io/tree/master/k8s.gcr.io, this has pretty good documentation now.

This coming monday we should be able to actually publish under k8s.gcr.io alongside the other kubernetes images via community infra :-)

[2020-07-17 07:01] pjhwa opened #22556 "Issues of ko-doc links in translated docs"
**This is a Bug Report**

**Problem:**
The following documents contain the wrong links to the translated docs:

- content/ko/docs/concepts/workloads/controllers/replicaset.md:349
  \[\`잡\`\]\(/docs/concepts/jobs/run-to-completion-finite-workloads/\)
- content/ko/docs/concepts/workloads/controllers/replicationcontroller.md:272
  \[\`잡\`\]\(/docs/concepts/jobs/run-to-completion-finite-workloads/\)

[2020-07-17 07:03] pjhwa commented on #22556
/kind bug
/help
/good-first-issue

신규 컨트리뷰터가 작업하기 좋은 이슈입니다.

해당 이슈에 대한 작업(한글화에 첫 컨트리뷰션!)을 **해보고 싶으신 분은 아래 코멘트 남겨주세요!**
해당 이슈에 대한 작업에 어려움이 있으면 한글화팀에서 적극적으로 돕겠습니다!

본 버그 수정은 한글화팀의 최신 작업 브랜치(dev-1.18-ko.8)로 올려주시면 됩니다. 참고하세요~

[2020-07-17 07:03] BenTheElder commented on #22515
*eep*. I've definitely jumped the gun on this, sorry 😞

----

Er so, I don't think it will be mucher harder than the existing image, basically we'll leverage the community infra to host it the same way other projects are doing it, the main maintenance work will be submitting / possibly approving PRs to promote new image versions.

Those are pretty low effort: basically you just grab the digest for

[2020-07-17 07:04] pjhwa commented on #22556
■ 쿠버네티스 문서 한글화 참여 방법
(1) 문서 기여 방법: https://github.com/kubernetes/website/blob/master/README-ko.md
(2) 문서 한글화 가이드 동영상: https://www.youtube.com/watch?v=OTl8HBjxIhc
(3) 한글화 스타일 가이드: https://kubernetes.io/ko/docs/contribute/localization_ko/
(4) 한글화 팀 Slack 채널: Kubernetes Slack 가입 후, #kubernetes-docs-ko 채널 참여하여 문의
(5) 한글화 팀 회의: 격주 목요일 22시. Zoom(#kubernetes-docs-ko에 링크 공유)에서 열립니다. (회의록: https://goo.gl/1

[2020-07-17 07:38] raelga commented on #13948
## Status update

_Updated 2019/10/03_

### Merged and published :tada:

- #13981 tasks/debug-application-cluster by @emedina ### Reviewed (Feedback Summited)
- #15584 content/es/doc/contribute/start by @wolmi
- #14850 content/es/docs/concepts_workloads_controllers/deployment_and_gc by @emedina
- #14678 content/es/docs/concepts/overview/components by @bureado

### Reviewed (LGTM):

@glo-pena @alex

[2020-07-17 11:41] Anynou commented on #13948
Hola.

Empiezo haciendo esta:  Organize Cluster Access Kubeconfig

Un saludo

[2020-07-17 11:53] Anynou commented on #13948
Veo que esa está ya hecha. Me pillo la de configmap, que no aparece en la sección: content/id/docs/concepts/configuration

Un saludo

[2020-07-17 13:16] tengqm commented on #22539
This is because .... we are not using the cached jquery script. We are downloading from code.jquery.com which is sometimes blocked from China.

[2020-07-17 13:33] alculquicondor commented on #21128
Feel free to submit pull requests

[2020-07-17 19:42] celestehorgan commented on #21610
/close

Non-issue because docsy!

[2020-07-17 19:42] #21610 closed

[2020-07-17 19:43] celestehorgan commented on #21614
non-issue because docsy!

[2020-07-17 19:43] #21614 closed

[2020-07-17 19:56] sjmudd commented on #22519
- I tested swapping 5.6 for 5.7 and that seemed to work fine.
- Testing swapping 5.6 to 8.0 did not. I haven't had a chance to see why or what might need fixing as not familiar with the kubernetes environment to debug this properly.

I was hoping someone would look at this and provide a fix. Perhaps that's not realistic.  Right now I'm not in a situation to be able to provide a PR to resolve my su

[2020-07-17 20:51] #18199 closed

[2020-07-17 22:31] mquisto8 opened #22566 "Issue with k8s.io/docs/tasks/debug-application-cluster/debug-application/"
**This is a Bug Report**

**Problem:**
"Make sure that the endpoints match up with the **number of containers** that you expect to be a member of your service. "

A pod can have multiple containers; don't the service's endpoints correspond to pod IP's?

**Proposed Solution:**
change "containers" to "pods"

**Page to Update:**
https://kubernetes.io/...

[2020-07-17 22:39] oke-py commented on #22388
/close

[2020-07-17 22:39] #22388 closed

[2020-07-18 00:25] jimangel commented on #22515
@BenTheElder for the record, you didn't jump the gun. I wasn't sure of what's possible and you _know_ what is possible. Really happy to see the work you've done on this.

We will need to document some of these ongoing maintenance items in k/website somewhere (contributor guide?).

Catching up now... Thanks!

[2020-07-18 01:56] #19175 closed

[2020-07-18 06:36] inductor commented on #22341
@shuuji3 進捗どんなかんじですか～！

[2020-07-18 07:19] zaki-lknr commented on #22358
/assign

[2020-07-18 07:24] shuuji3 commented on #22341
まだ手を付けていない状態です。ついでに翻訳しようと考えていましたが、先に英語のまま更新するPRだけ出そうと思います。

[2020-07-18 07:24] shuuji3 commented on #22341
@inductor まだ手を付けていない状態です。ついでに翻訳しようと考えていましたが、先に英語のまま更新するPRだけ出そうと思います！

[2020-07-18 07:46] hyper-23 commented on #22389
/assign

[2020-07-18 08:27] sandhya816 opened #22568 "unable to configure"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-07-18 08:27] #22568 closed

[2020-07-18 08:38] sandhya816 commented on #22568
When initiallize the kubeadm init
getting below error.
W0718 12:32:18.678447   19191 configset.go:202] WARNING: kubeadm cannot validate component configs for API groups [kubelet.config.k8s.io kubeproxy.config.k8s.io]
[init] Using Kubernetes version: v1.18.6
[preflight] Running pre-flight checks
[preflight] Pulling images required for setting up a Kubernetes cluster
[preflight] This might take a mi

[2020-07-18 09:33] pjhwa opened #22571 "Translate tasks/extend-kubernetes/setup-extension-api-server.md into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/extend-kubernetes/setup-extension-api-server.md into Korean.

**Why is this needed**

There is no document of tasks/extend-kubernetes/setup-extension-api-server.md which is translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/tasks/extend-kubernetes/setup-extension-api-server/

/lang

[2020-07-18 09:34] pjhwa commented on #22571
/assign

[2020-07-18 09:51] skchinna7 opened #22575 "Issue with k8s.io/docs/tasks/tools/install-kubectl/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

 I don't understand after reading the documentation please make something easy and understandable

[2020-07-18 13:53] nownabe opened #22580 "Japanese docs still use "master""
**This is a Feature Request**

**What would you like to be added**

Japanese docs should use "control plane" instead of "master" like English docs.

**Why is this needed**

Because using different words between English and Japanese makes confusion.

**Comments**

[2020-07-18 13:53] nownabe commented on #22580
/assign

[2020-07-18 14:30] evanap commented on #22296
Hi! I'm taking `/docs/setup/production-environment/tools/kubeadm/high-availability/`

[2020-07-18 16:17] mick62 opened #22582 "Issue with k8s.io/docs/reference/kubectl/jsonpath/"
**This is a Bug Report**

**Problem:**
There is no information about whether it is possible to use the value of a sub query in a filter.
Example:
The output of command "kubectl config view" (my alias "kcv") has a top level property "current-context".

How/is it possible to use the value of property "current-context" in a filter like:
kcv -o=jsonpath="{.contexts[?(@.name==.current-context)].context

[2020-07-18 16:37] gtnao0219 commented on #22361
/assign

[2020-07-18 20:54] ingenthr commented on #22008
Thanks for the update.  The only thing I'm confused by is you said "sc is fairly closely tied to GCP".  We've been using service brokers and service catalog as something neutral and I did come across [docs that indicate GCP has deprecated service catalog](https://github.com/googlearchive/k8s-service-catalog).

In any case, I respect your change/decision.  I'm just trying to fit Service Brokers and

[2020-07-19 04:22] #19207 closed

[2020-07-19 08:23] inductor commented on #22330
/close

[2020-07-19 08:23] #22330 closed

[2020-07-19 08:25] inductor commented on #22580
@nownabe We are updating our pages based a few minor version behind compared to the upstream. Please wait for a moment to evaluate the difference.

[2020-07-19 08:29] inductor commented on #22389
/close

[2020-07-19 08:29] #22389 closed

[2020-07-19 08:53] inductor commented on #22459
/close

[2020-07-19 08:53] #22459 closed

[2020-07-19 09:21] crixo commented on #20958
/assign
/lifecycle active

[2020-07-19 11:07] inductor opened #22586 "The command "make container-build" fails"
**This is a Bug Report**

**Problem:**

make container-build returns the following error

[code]

This has been reported on Docsy theme repository https://github.com/google/docsy/issues/235

Is it a bug with the Docsy theme currently integrated with this site?

**Proposed Solution:**

postcss-cli installatikon needed?

**Page to Update:**

[2020-07-19 11:48] inductor commented on #22335
/close

[2020-07-19 11:49] #22335 closed

[2020-07-19 12:30] #19211 closed

[2020-07-19 13:25] inductor commented on #21984
/close

[2020-07-19 13:25] #21984 closed

[2020-07-19 13:39] cyberblack28 opened #22589 "Translate docs/setup/production-environment/windows/intro-windows-in-kubernetes/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate docs/setup/production-environment/windows/intro-windows-in-kubernetes/ into Japanese

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-07-19 14:08] rlenferink commented on #22586
I haven’t experienced this myself. Are you using the latest container image ? : `make container-image`

[2020-07-19 14:47] inductor commented on #22586
@rlenferink Yes. Another person in Japanese localization team had the same problem too actually.

[2020-07-19 15:14] rlenferink commented on #22586
The ticket you referenced said that postcss-cli is probably missing. This is added in https://github.com/kubernetes/website/pull/22258.

Are you building the latest master?

[2020-07-19 15:21] pgodfrin opened #22591 "Issue with k8s.io/docs/setup/production-environment/container-runtimes/"
Greetings,Running CentOS 8...
This is what the docs say:
systemd
To use the systemd cgroup driver, set plugins.cri.systemd_cgroup = true in /etc/containerd/config.toml. When using kubeadm, manually configure the cgroup driver for kubelet

So this is what I did:

disabled_plugins = ["cri"]
# pgodfrin, per https://kubernetes.io/docs/setup/production-environment/container-runtimes/
plugins.cri.system

[2020-07-19 15:26] celestehorgan commented on #22586
@inductor

Also – did you run `make container-image` before running `make container-build`?

[2020-07-19 15:27] inductor commented on #22586
@celestehorgan Yes I did. Actually it happened right after `make container-image && make container-build`, which is weird.

[2020-07-19 16:50] Arhell opened #22592 "broken field on the main page in the video block (docsy theme)"
**This is a Bug Report**
Broken field on the main page in the video block
old issue #19728

**Problem:**
![1](https://user-images.githubusercontent.com/26163841/77095737-fb876280-6a16-11ea-9fc2-bca7b42b9caa.jpg)

**Proposed Solution:**
remove the right indent from the light-text class

**Page to Update:**
https://kubernetes.io

/assign
/language en

[2020-07-19 18:03] sftim commented on #22048
/area web-development

[2020-07-19 18:04] sftim commented on #22048
/close
Fixed in #22327

[2020-07-19 18:04] #22048 closed

[2020-07-19 18:14] sftim opened #22593 "(ja) kubeadm table not localized"
**This is a Bug Report**

**Problem:**

In the page [kubeadmのインストール](https://kubernetes.io/ja/docs/setup/production-environment/tools/kubeadm/install-kubeadm/) there are tables inside the section **必須ポートの確認** with English text, that I think would make more sense if translated into Japanese.

**Proposed Solution:**
Translate that table. For example, replace _Self_ and _Control plane_ with appropria

[2020-07-19 18:14] sftim commented on #22593
If it's important to leave that text as English, add a note to this issue to record that, and then close it.

[2020-07-19 18:22] #22539 closed

[2020-07-19 18:53] sftim commented on #19288
I think this is fixed.
@abid-mumtaz is this now working OK for you?

[2020-07-19 18:53] sftim commented on #22592
/area web-development

[2020-07-19 18:58] sftim commented on #22591
/sig cluster-lifecycle

[2020-07-19 18:59] sftim commented on #22591
@pgodfrin would you be willing to [open a pull request](https://kubernetes.io/docs/contribute/new-content/new-content/) with the fixes? It sounds like you have a good idea of what these would be.

[2020-07-19 19:02] sftim commented on #22008
Installing Service Catalog? Fine. Installing it with `sc`? Problematic, because `sc` is fairly closely tied to GCP. See issue #13017.

[2020-07-19 19:03] sftim commented on #22008
I'd be happy to see a replacement page go up that doesn't mention `sc` at all but _does_ cover how to set up Service Catalog, talk OSBAPI, try it out, etc.

[2020-07-19 19:04] sftim commented on #18231
/remove-lifecycle stale

[2020-07-19 19:21] sftim opened #22594 "Tidy styling of “Change the Reclaim Policy of a PersistentVolume”"
**This is a Bug Report**

**Problem:**
[Change the Reclaim Policy of a PersistentVolume](https://kubernetes.io/docs/tasks/administer-cluster/change-pv-reclaim-policy/) puts Kubernetes resource names such as PersistentVolume in backticks, for example:
[code]

The [style guide](https://kubernetes.io/docs/contribute/style/style-guide/) recommends writing resource names
in UpperCamelCase with no backt

[2020-07-19 19:21] sftim commented on #22594
/kind cleanup

[2020-07-19 19:23] sftim commented on #22586
I can replicate this. `make container-serve` works fine.
/kind bug

[2020-07-19 19:25] sftim commented on #22586
/priority important-longterm

(feel free to adjust that, it's just my opinion)

[2020-07-19 20:49] Arhell commented on #21923
fixed, able to close

[2020-07-19 22:24] Arhell commented on #22594
/assign @Arhell

[2020-07-20 01:23] tengqm commented on #21923
/close

[2020-07-20 01:24] #21923 closed

[2020-07-20 02:04] tengqm commented on #20384
/remove-lifecycle stale

[2020-07-20 03:05] yue9944882 commented on #21563
sadly some projects under the org is not actively maintained. those libraries (go/java/python/dotnet/js) already linked are fairly active. can we consider to append a new link for C/C++  https://github.com/kubernetes-client/c which is newly added & active months ago?

i wonder if the community-maintained list is stale b/c it seems rarely updated. also i noticed there's a number of repos stopped ma

[2020-07-20 09:02] rlenferink commented on #22586
I just pulled the latest master & `make container-build` succeeded for me. Terminal dump (note that `postcss-cli` will be installed as part of the image building):

[code]

[code]

@inductor or @sftim Can you paste the output of the `make container-image` command?

[2020-07-20 10:30] inductor commented on #22586
@rlenferink
[code]

[2020-07-20 13:30] mridulgain opened #22599 "Issue with k8s.io/docs/tutorials/services/source-ip/"
**This is a Bug Report**

**Problem:**
This command is not storing any value in variable **NODES**,
[code]
Tried on both *Katakoda* & *Play with k8s*
**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/tutorials/services/source-ip/

[2020-07-20 16:56] sftim commented on #22586
I used Podman but got a similar outcome.

[2020-07-20 17:24] neolit123 commented on #22591
this change seems fine. PR welcome.

[2020-07-20 17:31] sftim commented on #22599
/language en

[2020-07-20 20:08] sftim opened #22601 "Localize 404 pages"
**This is a Feature Request**

**What would you like to be added**
Use Netlify's [custom 404 page handling](https://docs.netlify.com/routing/redirects/redirect-options/#custom-404-page-handling) to localize the 404 Not Found page content.

**Why is this needed**
If we link to a page in a localization that is not present (for example, because it has been removed), the error page is in English and n

[2020-07-20 20:09] sftim commented on #22601
In https://github.com/kubernetes/website/pull/22536#issuecomment-659806989 @brianpursley pointed out that 404 pages are always in English.

[2020-07-20 20:09] sftim commented on #22601
Let's treat this a little bit as an umbrella issue. We can create one child issue for each localization that needs to happen.

[2020-07-20 20:13] sftim commented on #22582
:thought_balloon: If there is a website that documents JSONpath, https://kubernetes.io/docs/reference/kubectl/jsonpath/ can link there and then people who want to learn about JSONpath can follow the link.

That feels like a better approach. However, I'm not sure that there _is_ a JSONpath website.

[2020-07-20 20:15] sftim commented on #15893
/remove-lifecycle stale

[2020-07-20 20:18] sftim commented on #20232
Also see PR #22600

[2020-07-20 20:40] sftim commented on #22580
/language ja
/priority backlog

[2020-07-20 20:41] sftim commented on #22542
I agree, it's not clear.
/sig network
/language en
/kind cleanup
/priority backlog

[2020-07-20 20:43] sftim commented on #22575
/triage needs-information
/language en

@skchinna7, what question did you have? If you explain that, we can investigate improvements so that [Install and Set Up kubectl](https://kubernetes.io/docs/tasks/tools/install-kubectl/) does answer it.

[2020-07-20 20:43] sftim commented on #22566
Good spot
/kind cleanup
/priority backlog
/language en
/good-first-issue

[2020-07-20 20:44] sftim commented on #22566
The page to revise is https://k8s.io/docs/tasks/debug-application-cluster/debug-application/

[2020-07-20 22:17] brianpursley commented on #22601
Can [this](https://docs.netlify.com/routing/redirects/redirect-options/#custom-404-page-handling) help?

[2020-07-20 23:09] sftim commented on #22601
@brianpursley yes it can! (I linked to that page in the issue description).

[2020-07-20 23:13] brianpursley commented on #22601
D'OH, how did I not see that?  I was looking at the other issue and saw this and thought A-Ha and didn't fully read your description I guess. Sorry!

[2020-07-20 23:45] pjhwa opened #22604 "Update /docs/contribute/participate/ for Korean"
**This is a Feature Request**

**What would you like to be added**

Translate and update docs in docs/contribute/participate/.

**Why is this needed**

Due to PR #22466 , docs/contribute/participating.md is removed and relocated to docs/contribute/participate/ directory like below:
- docs/contribute/participate/_index.md
- docs/contribute/participate/pr-wranglers.md
- docs/contribute/participate/r

[2020-07-20 23:46] pjhwa commented on #22604
/assign

[2020-07-21 01:44] irvifa commented on #22489
@BenTheElder Do you know if there's a way to clone this repo to the prow job? I notice that the repo and branch is only tightly coupled with presubmit/postsubmit

[2020-07-21 01:57] ingenthr commented on #22008
Oh, I see!  Thanks for the clarification.

[2020-07-21 02:16] jimangel commented on #21643
Thanks @divyabhushan sorry for my delay.
/close

[2020-07-21 02:16] #21643 closed

[2020-07-21 02:18] jimangel commented on #17388
Given the staleness / lack of understanding I think this is safe to close...
/close

[2020-07-21 02:18] #17388 closed

[2020-07-21 02:29] jimangel opened #22607 "Contributor Guide Updates"
I just looked at the "Learn to work from a local clone of the repository." section and the link breaks: https://kubernetes.io/docs/contribute/new-content/open-a-pr/#fork-the-repo

Review and ensure contributor content is up to date.

/good-first-issue

[2020-07-21 02:46] bluefriday opened #22609 "Translate tasks/configure-pod-container/configure-persistent-volume-storage/ into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/configure-pod-container/configure-persistent-volume-storage/ into Korean.

**Why is this needed**

There is no documents with tasks/configure-pod-container/configure-persistent-volume-storage/ into Korean .

**Comments**

https://kubernetes.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/

[2020-07-21 02:46] bluefriday commented on #22609
/language ko
/assign

[2020-07-21 04:16] santachopa commented on #20050
/remove-lifecycle stale

[2020-07-21 05:41] pjhwa opened #22611 "Issue with k8s.io/docs/contribute/"
**This is a Bug Report**

**Problem:**
There are some links point the previous document(/docs/contribute/participating.md).

**Proposed Solution:**
Need to fix with documents in /docs/contribute/participate/ directory.

**Page to Update:**
https://kubernetes.io/docs/contribute/

/language en

[2020-07-21 05:41] pjhwa commented on #22611
/assign

[2020-07-21 05:49] jihoon-seo opened #22612 "Issue with k8s.io/ko/docs/concepts/workloads/pods/pod-lifecycle/"
**This is a Bug Report**

**Problem:**
원문과 번역이 상이함
- [원문](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#container-probes): a status code greater than or equal to 200 and less than 400.
- [번역](https://kubernetes.io/ko/docs/concepts/workloads/pods/pod-lifecycle/#%EC%BB%A8%ED%85%8C%EC%9D%B4%EB%84%88-%ED%94%84%EB%A1%9C%EB%B8%8C-probe): 상태 코드가 200보다 크고 400보다 작으면

**Proposed Solution

[2020-07-21 05:56] #22611 closed

[2020-07-21 06:08] jihoon-seo commented on #22612
/kind bug
현재 작업 브랜치인 dev-1.18-ko.8 이 7/20 에 freeze 되어서,
다음 작업 브랜치 정도에서 fix 되면 좋겠습니다.

[2020-07-21 07:21] Arhell commented on #22592
/close

[2020-07-21 07:21] #22592 closed

[2020-07-21 08:12] #19241 closed

[2020-07-21 08:15] RiRa12621 opened #22614 "Issue with k8s.io/docs/contribute/"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/contribute/new-content/open-a-pr/#changes-using-github is returning 404

**Proposed Solution:**
The correct link is at https://kubernetes.io/docs/contribute/new-content/new-content/ but that still seems kinda wrong just from what the path looks like.
**Page to Update:**
https://kubernetes.io/docs/contribute/

[2020-07-21 10:22] VenkataInduri opened #22616 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-pod-configmap/"
**This is a Bug Report**

**Problem:**
The contents of the "config-multi-env-files" is not complete. It is supposed to show contents from both
files game-env-file.properties and ui-env-file.properties.
It currently shows contents from ui.properties only.
**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/

v1.18

[2020-07-21 10:57] tengqm commented on #22614
/assign

[2020-07-21 10:59] tengqm commented on #22607
dup of #22614
/close

[2020-07-21 10:59] #22607 closed

[2020-07-21 11:50] inductor commented on #22593
This is intentional as things like  "inbound" and "outbound" are not translated in Networking world anyway.

[2020-07-21 11:56] inductor commented on #22593
/assign

[2020-07-21 12:15] tianyime opened #22621 "Issue with k8s.io/zh/docs/tutorials/kubernetes-basics/scale/scale-intro/"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/zh/docs/tutorials/kubernetes-basics/scale-interactive/ is 404
It is the link of "开始互动教程 " button

**Proposed Solution:**
Fix the url

**Page to Update:**
k8s.io/zh/docs/tutorials/kubernetes-basics/scale/scale-intro/

[2020-07-21 12:22] #22621 closed

[2020-07-21 12:42] ESWZY opened #22623 "Section title number problem in https://k8s.io/zh/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/"
**This is a Bug Report**

**Problem:**

I just found that in this page, all of subtitle start with `1.`

Should it be fixed?

![image](https://user-images.githubusercontent.com/32200887/88055782-1cf98600-cb92-11ea-96b7-d896ec255607.png)

**Proposed Solution:**

In English version, it used:

[code]

instead of

[code]

**Page to Update:**
https://kubernetes.io/zh/docs/tasks/administer-cluster/kubea

[2020-07-21 12:44] ESWZY commented on #22623
/kind bug
/language zh

[2020-07-21 13:49] #22616 closed

[2020-07-21 13:49] VenkataInduri commented on #22616
This is not a bug. It my misunderstanding. Sorry

[2020-07-21 14:17] davidffrench opened #22624 "Issue with k8s.io/docs/concepts/cluster-administration/monitoring/#what-s-next"
**This is a Bug Report**

**Problem:**
The monitoring page on the Kubernetes website has a link to `stable Kubernetes metrics` in the What's Next section which links to an empty list in GitHub.

**Proposed Solution:**
I have been unable to find another list of stable metrics.

**Page to Update:**
https://kubernetes.io/docs/concepts/cluster-administration/monitoring/#what-s-next

[2020-07-21 15:31] sftim opened #22625 "Add Kubernetes Security Specialist Certification (CKS) to training page"
**This is a Feature Request**

**What would you like to be added**
Update https://kubernetes.io/training/ to mention the new Kubernetes Security Specialist Certification

**Why is this needed**
There is a [new](https://training.linuxfoundation.org/announcements/new-kubernetes-security-specialist-certification-to-help-professionals-demonstrate-expertise-in-securing-container-based-applications/) Ku

[2020-07-21 15:40] sftim commented on #22625
/priority important-soon

[2020-07-21 22:24] inductor commented on #19280
@kakts これってどうなりました？

[2020-07-21 22:24] inductor commented on #19281
@kakts これってどうなりました？

[2020-07-21 22:24] inductor commented on #20316
@butuzov What's up

[2020-07-21 22:25] inductor commented on #21814
@nasa9084 What's up

[2020-07-21 22:26] inductor commented on #22341
@shuuji3 了解です！

[2020-07-21 22:26] inductor commented on #22354
@translucens コチラ状況いかがでしょうか～

[2020-07-21 22:26] inductor commented on #22358
/close

[2020-07-21 22:27] #22358 closed

[2020-07-21 22:27] inductor commented on #22359
@hikkie3110 こちらいかがでしょうか～

[2020-07-21 22:27] inductor commented on #22365
/assign

[2020-07-21 22:27] inductor commented on #22366
/assign

[2020-07-21 23:27] #17784 closed

[2020-07-22 00:07] oke-py commented on #22359
ref: #22620
一部修正中です。

[2020-07-22 00:08] translucens commented on #22354
8割ほど終わっているので今日のうちに仕上げますね

[2020-07-22 00:20] oke-py commented on #22341
/close

[2020-07-22 00:20] #22341 closed

[2020-07-22 00:38] ariscahyadi commented on #22296
I will continue with this `/docs/tasks/administer-cluster/dns-custom-nameservers`

[2020-07-22 01:51] shuuji3 commented on #22086
/assign
@celestehorgan Hello, I'd like to take this issue.

One question: the name `/static/images/case-studies/adforms/CaseStudy_adform_banner1.jpg` seems a bit redundant to me. Can I rename it to `/static/images/case-studies/adforms/banner1.jpg`?

[2020-07-22 02:08] srsneedis opened #22634 "How to create the cluster in kube and whats the command"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-07-22 03:14] hikkie3110 commented on #22359
明日にはPR出します。（遅くなってすみません）
#22620  留意します。

[2020-07-22 03:33] oke-py commented on #22365
/close

[2020-07-22 03:33] inductor commented on #22366
/close

[2020-07-22 03:33] #22365 closed

[2020-07-22 03:33] inductor commented on #22365
/close

[2020-07-22 03:33] #22366 closed

[2020-07-22 03:38] inductor commented on #22593
/close

[2020-07-22 03:38] #22593 closed

[2020-07-22 04:07] shuuji3 commented on #22086
I just created a PR renaming to `/static/images/case-studies/adforms/banner1.jpg`. Feel free to tell me if the filename should remain the same.

[2020-07-22 06:41] butuzov commented on #20316
/remove-lifecycle stale

[2020-07-22 06:42] shuuji3 opened #22639 "Translate tutorials/stateful-application/cassandra/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [tutorials/stateful-application/cassandra/](https://kubernetes.io/docs/tutorials/stateful-application/cassandra/) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-07-22 06:48] RiRa12621 commented on #22614
/good-first-issue
Seems like straight forward fix to adjust the link

[2020-07-22 07:18] shuuji3 opened #22641 "Translate tutorials/stateless-application/guestbook-logs-metrics-with-elk into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [tutorials/stateless-application/guestbook-logs-metrics-with-elk/](https://kubernetes.io/docs/tutorials/stateless-application/guestbook-logs-metrics-with-elk/) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-07-22 09:10] kakts commented on #19281
すいませんこれ全然進めれてなかったです
今月中にはPR出せるように進めます

[2020-07-22 09:10] kakts commented on #19280
すいませんこれ全然進めれてなかったです
今月中にはPR出せるように進めます

[2020-07-22 09:45] Cweiping commented on #22634
I don't understand your requirement. Can you describe it in detail? Add a page about creating a k8s cluster?

[2020-07-22 10:53] Cweiping commented on #22413
/ansign

[2020-07-22 11:27] sftim commented on #22634
/triage needs-information

[2020-07-22 12:40] #18655 closed

[2020-07-22 13:57] spiritman1990 opened #22645 "Issue with k8s.io/zh/docs/reference/command-line-tools-reference/kubelet/"
I install kubelet via binary
when I set the kubelet args but not work
--log-dir=/var/log/k8s
--log-file=kubelet.log

the log still goes into /var/log/messages

my kublet version:
kubelet --version
Kubernetes v1.18.6

[2020-07-22 16:15] sftim commented on #22624
Looks wrong to me.

/language en
/priority backlog
/kind bug

[2020-07-22 16:17] sftim commented on #22645
@spiritman1990, GitHub is not the right place for support requests.

For English-language help, you could check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes)

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or in the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

/triage support

[2020-07-22 16:20] #22614 closed

[2020-07-22 17:40] celestehorgan commented on #22086
@shuuji3 That should be fine :)

[2020-07-22 17:45] spiritman1990 commented on #22645
maybe this is the effectivest way .....

[2020-07-22 19:52] hopper-signifyd opened #22650 "Issue with k8s.io/docs/concepts/cluster-administration/monitoring/"
**This is a Bug Report**

**Problem:**
k8s.io/docs/concepts/cluster-administration/monitoring/ has this text "See the list of stable Kubernetes metrics" which links here: https://github.com/kubernetes/kubernetes/blob/master/test/instrumentation/testdata/stable-metrics-list.yaml

However, that file is empty and has no history of ever having any entries.

**Proposed Solution:**

Update the documenta

[2020-07-22 23:28] coolguyhong opened #22654 "Namespace name is wrong when translated in Korean"
**This is a Bug Report**

**Problem:**
Namespace name is wrong when translated in Korean in /concepts/services-networking/dns-pod-service/
Modify Namespace name from quux to bar

**Proposed Solution:**
Modify Namespace name from quux to bar

**Page to Update:**
https://kubernetes.io/ko/docs/concepts/services-networking/dns-pod-service/

[2020-07-22 23:28] coolguyhong commented on #22654
/language ko
/assign
/kind bug

[2020-07-22 23:52] shuuji3 commented on #22086
Thanks :slightly_smiling_face:

[2020-07-22 23:59] #22086 closed

[2020-07-23 00:56] sftim commented on #22624
Duplicated by issue #22650

[2020-07-23 01:19] inductor commented on #16212
/close

[2020-07-23 01:20] #16212 closed

[2020-07-23 01:21] inductor commented on #21007
@nishipy コチラ状況いかがでしょうか～

[2020-07-23 01:47] nishipy commented on #21007
まだ手をつけられてないです…

[2020-07-23 01:51] fraczak opened #22656 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-07-23 02:06] sftim commented on #22656
Hi @fraczak
When you visited that page, what wasn't right?

/triage needs-information

[2020-07-23 02:06] nishipy commented on #21007
8/3の週には一旦PR出せるようにします

[2020-07-23 03:33] sandhya816 opened #22658 "Issue with k8s.io/docs/contribute/"
**This is a Bug Report**

**Problem:** unable to join worker node to cluster getting below issue.
 kubeadm join <masterIPaddress>:6443 --token ylwxlq.4zkw1oi0hyv64kvq \

W0723 07:28:46.251922    2628 join.go:346] [preflight] WARNING: JoinControlPane.controlPlane settings will be ignored when control-plane flag is not set.
[preflight] Running pre-flight checks
[preflight] Reading configuration from

[2020-07-23 03:39] neolit123 commented on #22658
hello,

reading your log it appears kubeadm join fails around the kubelet phase, which could be do a misconfigured kubelet.
you could look at its logs using `journalctl -xeu kubelet`.

but please, for support tickets use the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md
or #kubeadm on k8s slack.

thanks
/triage support
/sig cluster-lifecycle
/close

[2020-07-23 03:39] #22658 closed

[2020-07-23 05:01] alhidalg opened #22660 "Issue with kubectl not able to be removed from win10"
**This is a Bug Report**

Can not remove kubectl from my local machine.
had installed ibmcloud and minikube as well, but have removed these 2 and dependencies without problem, but the kubectl doesn't get remove.

kubectl version
Client Version: version.Info{Major:"1", Minor:"16+", GitVersion:"v1.16.6-beta.0", GitCommit:"e7f962ba86f4ce7033828210ca3556393c377bcc", GitTreeState:"clean", BuildDate:"20

[2020-07-23 09:26] sftim commented on #22660
@alhidalg you can report bugs in kubectl at https://github.com/kubernetes/kubectl/issues/new

This issue tracker is for deporting documentation defects. Did you see anything wrong with the documentation?

/sig cli

[2020-07-23 11:07] liu6488 opened #22665 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-07-23 11:23] shuuji3 opened #22666 "Translate tutorials/services/source-ip into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [tutorials/services/source-ip/](https://kubernetes.io/docs/tutorials/services/source-ip) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-07-23 12:08] inductor commented on #21007
はい！特に急かしているわけではなく、忘れないようにっていう意味なので～！

[2020-07-23 13:37] divyabhushan commented on #21643
Thanks @jimangel and @sftim

[2020-07-23 14:04] shuuji3 opened #22670 "Translate tasks/manage-gpus/scheduling-gpus/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [tasks/manage-gpus/scheduling-gpus/](https://kubernetes.io/docs/tasks/manage-gpus/scheduling-gpus/) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-07-23 16:01] shuuji3 commented on #22666
/assign

[2020-07-23 16:33] shuuji3 commented on #21039
/assign

[2020-07-23 16:58] sftim opened #22672 "Formatting not right for “The Distributed System ToolKit: Patterns for Composite Containers”"
**This is a Bug Report**

**Problem:**
The Markdown for [The Distributed System ToolKit: Patterns for Composite Containers](
https://kubernetes.io/blog/2015/06/the-distributed-system-toolkit-patterns/) (`content/en/blog/_posts/2015-06-00-The-Distributed-System-Toolkit-Patterns.md`) is not rendering correctly. There's an unordered list that, at first glance, just stops.

**Proposed Solution:**
Fix

[2020-07-23 17:00] sftim commented on #22634
/close

This doesn't seem to be describing a defect nor requesting a feature.

[2020-07-23 17:00] #22634 closed

[2020-07-23 17:02] sftim commented on #21795
/area web-development

[2020-07-23 17:02] sftim commented on #21795
@Arhell do you think any more work is needed here?

[2020-07-23 17:03] sftim commented on #21922
/area web-development

[2020-07-23 17:03] sftim commented on #21718
/area web-development

[2020-07-23 17:03] sftim commented on #20902
/area web-development

[2020-07-23 17:04] sftim commented on #8605
/area web-development

[2020-07-23 17:04] Arhell commented on #21795
@sftim no, tnxs.

[2020-07-23 17:39] lparis commented on #22566
Was going to do this but it appears to be fixed. https://kubernetes.io/docs/tasks/debug-application-cluster/debug-application/

[2020-07-23 18:50] Arhell opened #22674 "remove "extra indent" uk lang page"
**This is a Bug Report**

**Problem:**
![1](https://user-images.githubusercontent.com/26163841/88325740-09832200-cd2e-11ea-8552-7f756ef524a8.jpg)

**Proposed Solution:**
remove 1-e br like en version

**Page to Update:**
https://kubernetes.io/uk/

/language uk
/assign
/area web-development

[2020-07-23 19:07] sftim commented on #21795
/close

Done in #22167

[2020-07-23 19:07] #21795 closed

[2020-07-23 19:08] sftim commented on #22566
Fixed in #22653
/close

[2020-07-23 19:08] #22566 closed

[2020-07-23 19:32] alhidalg commented on #22660
In a way, there is nothing documented to show how to manually remove/uninstall kubernetes in this kind of scenario.

[2020-07-23 19:39] FrantzT commented on #18079
Would that be issue the app itself, container exposes port 8080 instead of 80 which is expected as a default http port?
For my understanding kubectl proxy forwards to port 80, but there is no response from the pod on that port.
I don't know yet the relation between pod and container ports.

ryangsteele  comment https://github.com/kubernetes/website/issues/18079#issuecomment-622011285
points that i

[2020-07-23 19:58] FrantzT commented on #18079
Funny enough the tutorial points further to server.js and the right port once you get into the container bash.

curl localhost:8080

But, I started to investigate it as I have been running it on localhost in minikube.

[2020-07-23 20:46] celestehorgan commented on #21609
We out!

[2020-07-23 20:46] #21609 closed

[2020-07-23 21:05] sftim commented on #22660
If you'd like to log a feature request to document how to uninstall `kubectl` (either just for Windows, or for other platforms too) then go for it @alhidalg

Anyone can request new documentation features!

[2020-07-24 00:14] #2644 closed

[2020-07-24 00:50] girikuncoro commented on #22296
I'm taking ` /docs/tasks/manage-daemon/rollback-daemon-set` next

[2020-07-24 01:26] #22453 closed

[2020-07-24 01:33] gochist opened #22680 "Outdated files in dev-1.18-ko.9 branch"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.18-ko.9 branch.

### 42 files to be modified
1. [ ] content/en/_index.html 1 file changed, 1 deletion(-)
1. [ ] content/en/case-studies/adform/index.html 1 file changed, 3 insertions(+), 3 deletions(-)
1. [ ] content/en/case-studies/capital-one/index.html 1 file changed, 3 insertions(+), 3 deletions(-)
1. [ ] content/en/case-st

[2020-07-24 01:43] gochist commented on #22680
현행화 작업은 항상 분량이 많기 때문에 분업이 가능하면 좋겠다는 의견이 있었습니다. 현행화 작업에 참여를 원하시는 분은 작업하실 범위를 코멘트로 공유해주시면 좋겠습니다.

[2020-07-24 01:51] pjhwa commented on #22680
29~42 까지 해보겠습니다. 그리고 마지막 파일 삭제까지.

-  content/en/docs/contribute/_index.md 1 file changed, 35 insertions(+), 14 deletions(-)
-  content/en/docs/contribute/advanced.md 1 file changed, 22 insertions(+), 17 deletions(-)
-  content/en/docs/contribute/new-content/open-a-pr.md 1 file changed, 1 deletion(-)
-  content/en/docs/contribute/new-content/overview.md 1 file changed, 6 insertions(+), 2 deletions

[2020-07-24 02:14] #22604 closed

[2020-07-24 02:30] pjhwa commented on #22680
저 삭제될 파일이라고 표시된 roles-and-responsibilities.md 파일은 존재하는데 왜 삭제될 파일이라 나온걸까요?

[2020-07-24 04:55] seokho-son commented on #22612
@jihoon-seo , I agree with your suggestion!
Could you help us correct the bug?

[2020-07-24 04:57] jihoon-seo commented on #22612
@seokho-son I posted a PR: #22681 :)

[2020-07-24 04:58] jihoon-seo commented on #22612
/assign @jihoon-seo

[2020-07-24 05:08] pjhwa commented on #22680
나머지 부분도 제가 하겠습니다.

/assign @pjhwa

[2020-07-24 07:06] shuuji3 opened #22689 "Translate tasks/configure-pod-container/extended-resource/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [tasks/configure-pod-container/extended-resource/](https://kubernetes.io/docs/tasks/configure-pod-container/extended-resource/) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-07-24 07:58] #22589 closed

[2020-07-24 08:05] Arhell commented on #22674
/close

[2020-07-24 08:05] #22674 closed

[2020-07-24 08:05] cyberblack28 opened #22690 "Translate docs/setup/production-environment/windows/intro-windows-in-kubernetes/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate docs/setup/production-environment/windows/intro-windows-in-kubernetes/ into Japanese

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-07-24 08:29] Anynou commented on #13948
Hola,

Me pillo la página  Manage Compute Resources Container de content/id/docs/concepts/configuration
Aprovecho para recordar que hice la de configmap de la misma ruta, que no estaba puesta.

[2020-07-24 10:31] shuuji3 opened #22699 "Translate tasks/administer-cluster/extended-resource-node/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [tasks/administer-cluster/extended-resource-node/](https://kubernetes.io/docs/tasks/administer-cluster/extended-resource-node/) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-07-24 11:03] leolid1m opened #22700 "k8s master node can't call api"
HI i create kubernetes cluster . I create pods and service ,an i can curl api in node server .But i cant curl api in master server (it can be curl success very slow ).Following screenshot  is the issue.

![image](https://user-images.githubusercontent.com/61861194/88385046-38f26700-cde0-11ea-812e-0ada0e647059.png)

![image](https://user-images.githubusercontent.com/61861194/88385093-4b6ca080-cde0-1

[2020-07-24 11:14] Miftahunajat commented on #22296
I'm taking `/docs/tasks/administer-cluster/configure-upgrade-etcd`

[2020-07-24 11:15] inductor commented on #21852
/close

[2020-07-24 11:16] #21852 closed

[2020-07-24 11:54] #22690 closed

[2020-07-24 11:58] cyberblack28 opened #22703 "Translate docs/setup/production-environment/windows/intro-windows-in-kubernetes/ into Japanese"
This is a Feature Request

What would you like to be added

Translate docs/setup/production-environment/windows/intro-windows-in-kubernetes/ into Japanese

Why is this needed

This page has not been translated.

Comments

/language ja
/assign

[2020-07-24 13:22] raelga commented on #13948
Genial, muchas gracias @Anynou. Actualizado 👍

[2020-07-24 13:31] shuuji3 commented on #22672
/assign

[2020-07-24 13:34] shuuji3 commented on #22672
@sftim I see other posts (about 15 posts) have the same rendering issues. Can I fix them at the same time? As you said, they are old blog articles but this rendering issue can be easily fixed, just deleting several newline characters.

[2020-07-24 15:31] sftim commented on #22672
That's fine @shuuji3 - great idea.

[2020-07-24 15:31] sftim commented on #22672
/kind bug

[2020-07-24 15:31] sftim commented on #22672
/remove-kind cleanup

[2020-07-24 15:41] shuuji3 commented on #22672
@sftim OK, I'll clean them up. 🧹

[2020-07-24 16:07] shuuji3 opened #22711 "Translate tasks/configure-pod-container/assign-pods-nodes into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [tasks/configure-pod-container/assign-pods-nodes](https://kubernetes.io/docs/tasks/configure-pod-container/assign-pods-nodes) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-07-24 16:33] sftim commented on #22700
@leolid1m , GitHub is not the right place for support requests.

If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes)

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

/triage support

[2020-07-24 18:14] davidparks21 commented on #20134
I think the best way to express that is to simply add the volume mounts to the example. This example is lacking volume mounts and so it's not clear unless you dig into the text to understand this detail.

[code]

If you change that example to this it becomes a complete example in which the ephemeral-storage is actually mounted. As-is that example misleads the user to thinking that they have reques

[2020-07-24 21:34] #18819 closed

[2020-07-24 21:34] #18835 closed

[2020-07-24 21:35] #19015 closed

[2020-07-25 04:45] shuuji3 opened #22717 "Translate tasks/manage-hugepages/scheduling-hugepages/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [tasks/manage-hugepages/scheduling-hugepages/](https://kubernetes.io/docs/tasks/manage-hugepages/scheduling-hugepages/) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-07-25 05:13] pjhwa commented on #22556
/assign

[2020-07-25 07:10] woshiqiuxiaoyan opened #22719 "Improvement for k8s.io/zh/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro/"
我想要知道怎么样创建一个minikube在我本地，然后这个页面给我导向怎么用minikube 创建集群交互去了

[2020-07-25 07:20] pjhwa opened #22720 "Translate tasks/service-catalog/install-service-catalog-using-sc.md into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/service-catalog/install-service-catalog-using-sc.md into Korean.

**Why is this needed**

There is no document of tasks/service-catalog/install-service-catalog-using-sc/ which is translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/tasks/service-catalog/install-service-catalog-using-

[2020-07-25 07:20] pjhwa commented on #22720
/assign

[2020-07-25 07:55] tengqm commented on #22719
That page is about creating cluster, not about downloading minikube.
You can install minikube by following instructions [here](https://kubernetes.io/docs/tasks/tools/install-minikube/).

[2020-07-25 08:00] shuuji3 opened #22723 "Translate tasks/tls/certificate-rotation into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [tasks/tls/certificate-rotation](https://kubernetes.io/docs/tasks/tls/certificate-rotation) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-07-25 09:01] inductor commented on #21839
/close

[2020-07-25 09:01] #21839 closed

[2020-07-25 11:05] Cweiping commented on #22599
/assign

[2020-07-25 11:05] Cweiping commented on #22599
/kind bug

[2020-07-25 11:07] sftim opened #22726 "Localize website into Arabic (ar)"
**This is a Feature Request**

**What would you like to be added**
Create an initial, at least minimum-viable Arabic (العربية) localization for https://k8s.io/

**Why is this needed**

Arabic is a widely-spoken language in the wider arabian region of the world with over 250 million total speakers. This change will help make Kubernetes available to a wider audience.

**Comments**

/language ar

[2020-07-25 11:07] sftim commented on #22726
Related pull requests:
- #16894
- #16942
- #19758
- #20343
- #20459

/kind feature

[2020-07-25 11:10] sftim opened #22727 "Localize website into Persian (fa)"
**This is a Feature Request**

**What would you like to be added**
Create a Persian (فارسی) localization for https://k8s.io/

**Why is this needed**
Persian is a widely-spoken language in the wider arabian region of the world with over 100 million total speakers. This change will help make Kubernetes available to a wider audience.

**Comments**

/language fa
/kind feature

[2020-07-25 11:10] sftim commented on #22727
Related pull requests:
- #22562
- #22565

[2020-07-25 11:14] sftim commented on #18972
/retitle Navigation menu disappears when collapsed under the hamburger menu
/kind bug

@celestehorgan I'm happy to
/close
this

[2020-07-25 11:14] #18972 closed

[2020-07-25 11:16] sftim commented on #22720
BTW, the upstream English page page is liable to be [removed](https://github.com/kubernetes/website/issues/22008#issuecomment-648488669) so you might like to focus on other translations ahead of this one.

[2020-07-25 12:38] irvifa commented on #22296
I'm taking `/docs/tasks/run-application/run-replicated-stateful-application`

[2020-07-25 12:43] sftim opened #22729 "Stale branches in k/website"
**This is a Bug Report**

**Problem:**
[k/website](https://github.com/kubernetes/website) includes stale branches:
- [`Case-nit-for-k8s`](https://github.com/kubernetes/website/tree/Case-nit-for-k8s)
- [`ingress-in-vi`](https://github.com/kubernetes/website/tree/ingress-in-vi)
- [`revert-18215-master-zh-fix-links`](https://github.com/kubernetes/website/tree/revert-18215-master-zh-fix-links)
- [`wha

[2020-07-25 12:55] sftim opened #22730 "Right-to-left language support"
**This is a Feature Request**

**What would you like to be added**
Add support for serving the Kubernetes website and displaying it in a right-to-left language such as Arabic, Hebrew or Urdu.

**Why is this needed**
On the web, content is usually rendered horizontally. Existing merged localizations are all right-to-left, or can be (Chinese and Japanese, for example, are also sometimes written top-

[2020-07-25 13:00] sftim opened #22731 "Set right-to-left direction using CSS"
**This is a Feature Request**

**What would you like to be added**
Override theme CSS to ensure that right-to-left content is rendered correctly.
(Also, check that this is necessary - it might already be handled in [Docsy](https://www.docsy.dev/) itself).

**Why is this needed**
We need to indicate that some localizations use right-to-left writing direction, rather than the now more common left-to

[2020-07-25 13:02] sftim opened #22732 "Set languagedirection for localizations"
**This is a Feature Request**

**What would you like to be added**
In [`config.toml`](https://github.com/kubernetes/website/blob/master/config.toml), set `languagedirection` for all localizations. The value will be `rtl` for languages usually written right-to-left, or `ltr` for languages usually written left-to-right.

**Why is this needed**
This is part of #22730

**Comments**
/kind feature
/area

[2020-07-25 13:03] sftim commented on #22732
As of commit 4e81aa85cd4d1108d28090db66dfca3e90b19a75, all existing localizations are written left-to-right.

[2020-07-25 13:04] sftim commented on #22732
Anyone can work on this. If you're picking up this issue and would like help before you open a pull request, reply here with a request for advice.

[2020-07-25 13:05] sftim commented on #22730
/kind feature
/priority important-longterm

[2020-07-25 13:18] sftim commented on #22665
/triage needs-information

@liu6488, when you were looking at that page, what didn't seem right?

[2020-07-25 13:18] sftim commented on #22719
/triage support

[2020-07-25 14:48] onlydole commented on #22729
I'm in favor of that, @sftim. I don't see that causing any issues.

[2020-07-25 14:50] kbhawkey commented on #22729
I agree. Good to clean up. Thanks!

[2020-07-25 15:45] pjhwa commented on #22720
Oops.
OK, I got it. I've already translated, but I think I don't need to get review from ko-reviewers.

[2020-07-25 16:04] sftim commented on #22729
Making it so.

[2020-07-25 16:45] SaiHarshaK commented on #22732
/assign

[2020-07-25 17:13] jmyung opened #22737 "Translate setup/production-environment/windows/intro-windows-in-kubernetes.md in Korean"
**This is a Feature Request**

**What would you like to be added**
Translate setup/production-environment/windows/intro-windows-in-kubernetes.md in Korean

**Why is this needed**
no doc related to setup/production-environment/windows/intro-windows-in-kubernetes.md in Korean

**Comments**
page to translate : https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes

[2020-07-25 17:14] jmyung commented on #22737
/language ko
/assign

[2020-07-25 17:33] SamambaMan commented on #19057
Sorry the huge delay.
If you don't mind to reopen the ticket, here follows instructions:

Simple bash fork bombs attacks seems feasible and effective, like so:

:(){ : | : &};:

Thanks in advance, great tutorial

[2020-07-25 18:00] sftim commented on #19095
/remove-lifecycle stale

[2020-07-25 18:09] celestehorgan commented on #22730
For visibility adding generalized support for this is an open issue in hugo: https://github.com/gohugoio/hugo/issues/3255. This issue also proposes a reasonable stop-gap solution.

[2020-07-25 20:19] Arhell opened #22739 "remove "extra indent" ru lang page"
**This is a Bug Report**

**Problem:**
![2](https://user-images.githubusercontent.com/26163841/88465622-3ae62400-cecd-11ea-8344-c0774f204d0e.jpg)

**Proposed Solution:**
remove 1-e br like en version

**Page to Update:**
https://kubernetes.io/ru/

/language ru
/assign
/area web-development

[2020-07-26 02:08] Cweiping commented on #22624
I tried to compile the generated content of the file locally, but I didn't get any results. It was generated using [this script](https://github.com/kubernetes/kubernetes/blob/master/test/instrumentation/update-stable-metrics.sh), but there are bugs and need to be fixed.

[2020-07-26 03:51] gaoguangze111 opened #22740 "404 not found in Chinese page https://kubernetes.io/zh/docs/concepts/"
**This is a Bug Report**

**Problem:**
404 not found in Chinese page https://kubernetes.io/zh/docs/concepts/
![image](https://user-images.githubusercontent.com/16621880/88471025-3dc92f00-cf36-11ea-9b97-8b51223db25d.png)

**Proposed Solution:**
change url
**Page to Update:**
https://kubernetes.io/zh/docs/concepts/

[2020-07-26 03:59] girikuncoro commented on #22051
this has been fixed by upstream issue sometime back, closing

[2020-07-26 03:59] #22051 closed

[2020-07-26 04:09] gaoguangze111 opened #22741 "https://kubernetes.io/zh/docs/concepts/ page not updated"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/zh/docs/concepts/ this page is not updated. Chinese content not correspond to English version.
**Proposed Solution:**
Update Chinese version page
**Page to Update:**
https://kubernetes.io/zh/docs/concepts/

[2020-07-26 05:55] oke-py commented on #21004
The page was renamed and reworded in #18940.

[2020-07-26 06:32] inductor commented on #22361
/close

[2020-07-26 06:32] #22361 closed

[2020-07-26 06:34] inductor commented on #19280
@kakts masterベースでやってもらっても問題ないですか？（新しいルールで行こうかなと）

[2020-07-26 06:34] inductor commented on #19281
@kakts masterベースでやってもらっても問題ないですか？（新しいルールで行こうかなと）

[2020-07-26 06:35] inductor commented on #19247
@Yoshiki0705 これ、もしまだやってなかったら、masterブランチに対して最新の状態でPR作成してもらってもだいじょうぶでしょうか！

[2020-07-26 06:38] inductor commented on #21007
@nishipy こちら、お手数ですが、masterブランチに対して「最新の状態で」PR作成頂いても大丈夫でしょうか！

[2020-07-26 07:17] Yoshiki0705 commented on #19247
すみません、まだ終わっていないです。
masterブランチ向けですね、了解です。

[2020-07-26 10:44] Arhell commented on #22739
/close

[2020-07-26 10:44] #22739 closed

[2020-07-26 13:52] shuuji3 opened #22749 "Translate tasks/service-catalog/install-service-catalog-using-sc into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [tasks/service-catalog/install-service-catalog-using-sc](https://kubernetes.io/docs/tasks/service-catalog/install-service-catalog-using-sc) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-07-26 13:57] kakts commented on #19281
@inductor 承知しました

[2020-07-26 13:58] kakts commented on #19280
@inductor 承知しました！

[2020-07-26 14:30] sftim commented on #22731
Upstream theme feature request: https://github.com/google/docsy/issues/253

[2020-07-26 14:31] sftim commented on #22731
Also see https://github.com/kubernetes/website/issues/22730#issuecomment-663884475

[2020-07-26 14:45] hiromipat opened #22753 "Issue with k8s.io/es/docs/tutorials/online-training/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-07-26 14:45] #22753 closed

[2020-07-26 19:04] #22732 closed

[2020-07-26 19:13] mukeshbaskara opened #22757 "Issue with k8s.io/docs/tasks/tls/managing-tls-in-a-cluster/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

kubernetes version: 1.14
Cloud Provider: GKE

Im generating tls certificate to get metrics from pods to metrics server. But it is not working.. Can anyone please help me...

These are metrics log im getting

Flag --deprecated-kubelet-completely-insecure has been deprecated, This is rarely

[2020-07-26 20:17] alhidalg commented on #22660
sounds good . Thanks sftim

[2020-07-26 20:17] #22660 closed

[2020-07-26 23:59] coolguyhong commented on #22654
/close

[2020-07-27 00:00] #22654 closed

[2020-07-27 00:16] coolguyhong opened #22758 "Translate tasks/access-application-cluster/service-access-application-cluster in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/access-application-cluster/service-access-application-cluster in Korean

**Why is this needed**

No translation with tasks/access-application-cluster/service-access-application-cluster in Korean

**Comments**

Page to Update: https://kubernetes.io/docs/tasks/access-application-cluster/service-access-application-clu

[2020-07-27 00:17] coolguyhong commented on #22758
/language ko
/assign

[2020-07-27 00:36] 532910 commented on #18697
Looks fine now.

[2020-07-27 00:36] #18697 closed

[2020-07-27 01:48] #22672 closed

[2020-07-27 02:38] #19996 closed

[2020-07-27 03:04] #20888 closed

[2020-07-27 03:48] #21039 closed

[2020-07-27 03:53] BenTheElder commented on #22515
/lifecycle active
The image has automated versions now, which imho is/was a pre-requesite for this to work well.

[2020-07-27 05:29] #19345 closed

[2020-07-27 06:01] inductor commented on #21006
/approve

[2020-07-27 06:01] inductor commented on #21006
/close

[2020-07-27 06:02] #21006 closed

[2020-07-27 06:03] inductor commented on #22670
/close

[2020-07-27 06:03] #22670 closed

[2020-07-27 06:05] inductor commented on #22711
/close

[2020-07-27 06:05] inductor commented on #22749
/close

[2020-07-27 06:05] #22711 closed

[2020-07-27 06:05] #22749 closed

[2020-07-27 07:31] #19372 closed

[2020-07-27 08:11] seokho-son commented on #22720
The upstream English document (tasks/service-catalog/install-service-catalog-using-sc) will be removed.
Forks, please don't translate this document.
This issue will be closed after the upstream English document has been removed.

[2020-07-27 08:13] #21799 closed

[2020-07-27 08:14] #21802 closed

[2020-07-27 08:14] #21833 closed

[2020-07-27 08:15] #22262 closed

[2020-07-27 08:52] #22527 closed

[2020-07-27 08:52] #22552 closed

[2020-07-27 08:52] #22556 closed

[2020-07-27 08:52] #22612 closed

[2020-07-27 08:53] #22680 closed

[2020-07-27 11:12] ismizelal opened #22776 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/"
**Missing tab "Installing a Pod network add-on" **

**Problem**
 Missing tab in "https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/"
On of the CKA exam requirement is to apply the following command, but it is not present in the above link
kubectl apply -f "https://cloud.weave.works/k8s/net?k8s-version=$(kubectl version | base64 | tr -d '\n')"
**Proposed S

[2020-07-27 11:21] neolit123 commented on #22776
Hi. The CNI tabs were removed in #22600. For more details see that PR.

/close

[2020-07-27 11:21] #22776 closed

[2020-07-27 11:29] ariscahyadi commented on #22296
I'm working on this `/docs/tasks/debug-application-cluster/resource-usage-monitoring/`

[2020-07-27 11:42] Tej-Singh-Rana opened #22777 "Issue with k8s.io/docs/concepts/cluster-administration/addons/"
**Problem:**
I am looking for Networking Plugins anyhow i reached weave net addons in the kubernetes official docs.
Location is :- https://kubernetes.io/docs/concepts/cluster-administration/addons/
When i clicked on the "Weave Net". It redirected to me into the https://www.weave.works/docs/net/latest/kube-addon
At there i have seen only "Network Policy and Security".
I would like to know that It's

[2020-07-27 12:23] npu21 opened #22778 "Tidy styling of “Change the Reclaim Policy of a PersistentVolume"
https://github.com/kubernetes/website/issues/22594
/language zh

[2020-07-27 12:25] npu21 commented on #22778
/assign

[2020-07-27 12:42] remyleone commented on #18887
/remove-lifecycle stale

[2020-07-27 13:07] npu21 opened #22781 "Tidy styling of “Change the Reclaim Policy of a PersistentVolume"
https://github.com/kubernetes/website/issues/22594

/language ko
/assign

[2020-07-27 14:31] sftim commented on #22741
The existing Chinese page is different and (slightly) misleading.

/kind bug
/language zh
/priority backlog

[2020-07-27 15:40] #19382 closed

[2020-07-27 16:32] sftim opened #22786 "Tidying for Tasks section"
**This is an umbrella issue**

**What is this needed**
The existing [Tasks](https://kubernetes.io/docs/tasks/) pages have a number of issues:
- some pages offer stale / outdated / incorrect advice
- there are _many_ task categories (17) on the top level list
- deeper in, the number of tasks at other levels makes the task list a little hard to navigate
  For example there are 38 tasks in [Administe

[2020-07-27 16:40] #17258 closed

[2020-07-27 16:42] sftim opened #22788 "Reorganize pages in Tasks section"
**This is a Feature Request**

**What would you like to be changed**
Update the tasks section to reorganize the existing pages within a better defined and more navigable layout, such as:
- Install Tools
  _(aside: I'd mention `kubeadm` here, future enhancement)_
- Run Applications
  - Run Jobs
- Inject Data Into Applications
- Access Applications in a Cluster
- Configure Pods and Containers
- Mana

[2020-07-27 16:42] sftim commented on #22788
Here's a layout we could adopt:
- Install Tools
  _(aside: I'd mention `kubeadm` here, future enhancement)_
- Run Applications
  - Run Jobs
- Inject Data Into Applications
- Access Applications in a Cluster
- Configure Pods and Containers
- Manage Kubernetes Objects
- Manage Resources
- Secure your workload
- Monitoring, Logging, and Debugging
- Administer a Cluster
  - `kubeadm`
  - Configure Net

[2020-07-27 16:44] sftim commented on #22788
/kind cleanup
/language en

[2020-07-27 16:44] sftim commented on #22786
/priority important-longterm

[2020-07-27 16:48] sftim commented on #22788
@tengqm, you had some reservations about making this change?

[2020-07-27 17:41] #19384 closed

[2020-07-27 23:48] #19392 closed

[2020-07-28 00:16] pjhwa opened #22794 "Translate concepts/storage/storage-limits.md into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/storage/storage-limits.md into Korean.

**Why is this needed**

There is no document of concepts/storage/storage-limits.md which is translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/concepts/storage/storage-limits/

[2020-07-28 00:16] pjhwa commented on #22794
/language ko
/assign

[2020-07-28 08:11] inductor commented on #22359
/close

[2020-07-28 08:12] #22359 closed

[2020-07-28 08:55] inductor commented on #22699
/close

[2020-07-28 08:56] #22699 closed

[2020-07-28 10:14] inductor commented on #22723
/close

[2020-07-28 10:14] #22723 closed

[2020-07-28 10:28] Duanzhiwei commented on #16801
is there any updates on this issue ? I met the same issue  in k8sv1.18.2

[2020-07-28 11:19] inductor commented on #22666
/close

[2020-07-28 11:20] #22666 closed

[2020-07-28 12:42] ysyukr commented on #20328
/remove-lifecycle stale

[2020-07-28 12:43] ysyukr commented on #20327
/remove-lifecycle stale

[2020-07-28 12:59] tengqm commented on #22788
@sftim No, I am not a big fan of this effort for several reasons. Most of the tasks are talking about different aspects of managing, accessing applications, or managing the cluster itself. I'm doubting there is any inherent logic between security and managing resource limit or quota. There are always a thousand ways to navigate the tasks or even the concepts, although we can somehow categorize thi

[2020-07-28 14:01] kbhawkey commented on #22786
👋 @sftim. During the quarterly meeting, I brought up the idea of _investigating_ the `tasks` section.
I did not get around to creating an issue to discuss what needs to be done. Thanks for _starting_ this conversation.
I think this type of change warrants a number of inputs before work is started as well as deciding on whether
any organization is required (or desirable). Some questions I had in mi

[2020-07-28 15:27] tengqm commented on #22786
+2. Do we have some rough profiles of our readers, or do we need to conduct some surveys by ourselves?

I don't think I have witnessed any repeated, eager need of some thing from the issues list.

We have just removed some tasks related to Federation. I'm not sure if we need to add things like operators, service mesh or vendor-neutral logging/monitoring -- they are 3rd party but they are really co

[2020-07-28 15:28] sftim commented on #22786
:+1:

[2020-07-28 15:30] tengqm commented on #22741
I've been working on it.
/assign

[2020-07-28 15:59] sftim commented on #18381
No, I don't think so. However, a better overview for the Containers concept can _link_ there.

The context has also changed a little, since https://github.com/kubernetes/website/pull/22603 was merged.

[2020-07-28 18:06] #19381 closed

[2020-07-28 18:08] burvilc opened #22802 "Document how to configure a second scheduler to run as static Pod(s)"
**This is a Bug Report**

**Problem:**
This page shows how to implement the solution (a second scheduler) with a deployment.  I'd think that since the existing scheduler is by default a static pod, wouldn't it make sense to at least also document the process for a static pod?

**Proposed Solution:**
Update the documentation for changes needed for a static pod.

**Page to Update:**
https://kubernet

[2020-07-28 19:05] cezane opened #22803 "Issue with k8s.io/docs/tutorials/kubernetes-basics/expose/expose-interactive/"
**This is a Bug Report**

**Problem:**
You say that we can use the labels to remove a service. But when I use the given label app=v1, the service is not removed and I receive the following message:

[code]

**Proposed Solution:**
Change the text to explaining why using the given label does not work.

**Page to Update:**
https://kubernetes.io/docs/tutorials/kubernetes-basics/expose/ (interactive tu

[2020-07-28 20:09] #16629 closed

[2020-07-28 20:59] kbhawkey commented on #22788
Re: `what kind of topic groups can we offer`
Is there any interest in adding metadata to the task files -- to possibly use this data for searching and dynamic grouping of tasks, presenting different task views. Not sure if that would be confusing.

[2020-07-29 01:13] #17866 closed

[2020-07-29 01:52] Cweiping commented on #22803
Do you strictly follow the interactive command window? The command does not exist in the terminal of this page.
[code]
/triage needs-information

[2020-07-29 02:46] pjhwa opened #22807 "Translate concepts/cluster-administration/monitoring.md into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/cluster-administration/monitoring.md into Korean.

**Why is this needed**

There is no document of concepts/cluster-administration/monitoring.md which is translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/concepts/cluster-administration/monitoring/

/language ko

[2020-07-29 03:15] #19411 closed

[2020-07-29 04:31] sujaypillai commented on #21889
/assign

[2020-07-29 06:00] Cweiping commented on #22582
According to the module author's documentation, [the site](http://goessner.net/articles/JsonPath/) does not have a good introduction to this feature. reference ：https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/util/jsonpath/doc.go#L18

[2020-07-29 07:47] inductor commented on #22639
/close

[2020-07-29 07:47] #22639 closed

[2020-07-29 08:49] sftim commented on #22788
That sounds like a great idea - maybe another issue inside the same umbrella issue?

[2020-07-29 08:58] sftim commented on #19381
/area web-development

[2020-07-29 09:32] dmoonskim commented on #21657
/unassign
/close

[2020-07-29 09:32] #21657 closed

[2020-07-29 09:35] shuuji3 opened #22812 "Translate concepts/policy/limit-range into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [concepts/policy/limit-range](https://kubernetes.io/docs/concepts/policy/limit-range) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-07-29 13:19] wangkundo10 opened #22814 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/"
systemctl status kubelet
● kubelet.service - kubelet: The Kubernetes Node Agent
   Loaded: loaded (/usr/lib/systemd/system/kubelet.service; enabled; vendor preset: disabled)
  Drop-In: /usr/lib/systemd/system/kubelet.service.d
           └─10-kubeadm.conf
   Active: activating (auto-restart) (Result: exit-code) since Wed 2020-07-29 08:46:32 EDT; 919ms ago
     Docs: https://kubernetes.io/docs/
  P

[2020-07-29 13:57] neolit123 commented on #22814
please try reporting this on the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

note that the kubelet service will fail until you give it the file specified by --config (or call kubeadm init/join).

/close
/triage support
/sig cluster-lifecycle

[2020-07-29 13:57] #22814 closed

[2020-07-29 13:57] cezane commented on #22803
Yes. I followed the suggested command and it worked as it should. But when I read that we could use also the labels, I tried with the label `app=v1` and it did not work. I think you can add some information regarding this, explaining that the labels will not work on that interactive window and we should only follow the suggested commands strictly as they are shown.

[2020-07-29 15:40] nishipy commented on #21007
@inductor
念のため確認したいのですが、dev-1.17-ja.3ブランチではなく、masterブランチの対象ファイルを翻訳するで正しいでしょうか？

[2020-07-29 15:57] inductor commented on #21007
@nishipy はい！

[2020-07-29 15:59] dfedorov-ciena opened #22815 "Issue with k8s.io/docs/tasks/extend-kubernetes/http-proxy-access-api/"
**This is a Bug Report**

**Problem:**
kubectl create deployment node-hello --image=gcr.io/google-samples/node-hello:1.0 --port=8080
gives:
Error: unknown flag: --port
See 'kubectl create deployment --help' for usage.

**Proposed Solution:**
I cannot find anywhere when and who deleted that "--port" option, so I have no idea how to it properly.

**Page to Update:**
https://kubernetes.io/...

kubect

[2020-07-29 16:08] nishipy commented on #21007
承知しました！

[2020-07-29 16:18] nishipy commented on #21007
dev-1.17-ja.3以降は、対象ファイルの名前が変わっているようです。したがって、`jobs-run-to-completion.md`ではなく、`job.md`を翻訳します。

* dev-1.17-ja.2: https://github.com/nishipy/website/tree/dev-1.17-ja.2/content/en/docs/concepts/workloads/controllers
* dev-1.17-ja.3: https://github.com/nishipy/website/tree/dev-1.17-ja.2/content/en/docs/concepts/workloads/controllers

[2020-07-29 17:29] McCoyAle commented on #21720
/assign

[2020-07-29 18:29] #19075 closed

[2020-07-29 20:52] kbhawkey opened #22817 "clean up extra h1 heading in blog post"
**This is a Bug Report**

There is an extra H1 level heading in the `sig-windows-spotlight-2020` blog post.

**Problem:**

https://kubernetes.io/blog/2020/06/30/sig-windows-spotlight-2020/

**Proposed Solution:**
Remove the H1 heading as the title is generated by the publishing tool.

**Page to Update:**
website/content/en/blog/_posts/2020-06-30-SIG-Windows-Spotlight

You can safely remove,
[code]

[2020-07-29 20:53] kbhawkey commented on #22817
/help

[2020-07-29 20:54] kbhawkey commented on #22817
/kind cleanup

[2020-07-29 21:32] kbhawkey opened #22819 "prefooter, git-info.html, Analytics alt image src"
**This is a Bug Report**
Analytics link on content pages.

**Problem:**
In the prefooter, there is an "Analytics" link that is displaying the alt text. Investigate if the query
for the image source is correct. I am not familiar with the functionality or history of the code in the prefooter.

[code]

**Proposed Solution:**
To be investigated.

**Page to Update:**
Investigate the query from the part

[2020-07-29 22:11] nicolaiskogheim commented on #22819
[code]

Point being, there's a reference in `content/zh/docs/tutorials/stateful-application/cassandra.md:807` as well.

---------------

Visiting one of these analytics links, i.e. [1], yields a page that displays

[code]

[1] https://kubernetes-site.appspot.com/UA-36037335-10/GitHub/docs/concepts/services-networking/ingress.md?pixel

[2020-07-29 23:41] kbhawkey commented on #22819
Thanks @nicolaiskogheim . Yes, I agree.

[2020-07-29 23:43] kbhawkey commented on #18675
/remove-lifecycle stale

[2020-07-30 01:15] inductor commented on #22689
/close

[2020-07-30 01:16] #22689 closed

[2020-07-30 01:18] inductor commented on #22717
/close

[2020-07-30 01:18] #22717 closed

[2020-07-30 01:33] Cweiping commented on #22803
Interestingly, I add a label to an `svc`, and then view and delete resources through the label.
![企业微信截图_45cb0f02-185c-4330-abcd-ca89120e837a](https://user-images.githubusercontent.com/33973679/88870348-b63a3380-d247-11ea-95a8-0763cbbfa1af.png)

[2020-07-30 01:34] Cweiping commented on #22803
/triage support

[2020-07-30 01:35] Cweiping commented on #22803
remove /triage needs-information

[2020-07-30 01:39] Cweiping commented on #22803
/remove-triage needs-information

[2020-07-30 02:28] Cweiping commented on #22777
I agree with you and can submit PR to update it. Relationships are required for versions in different languages.
/ good-first-issue
/ kind cleanup

[2020-07-30 02:29] Cweiping commented on #22777
/good-first-issue
/kind cleanup

[2020-07-30 03:08] BaolongJia opened #22820 "Issue with k8s.io/zh/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
can not watch and study

[2020-07-30 03:09] #22820 closed

[2020-07-30 03:09] BaolongJia commented on #22820
it`s so slowly

[2020-07-30 03:20] fanyonghua19 opened #22821 "Issue with k8s.io/zh/docs/home/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-07-30 04:19] Tej-Singh-Rana commented on #22777
https://github.com/kubernetes/website/pull/22789
I am not getting any response might be they are busy.

[2020-07-30 06:22] #22354 closed

[2020-07-30 08:04] #22343 closed

[2020-07-30 09:40] npu21 commented on #22817
/assign

[2020-07-30 10:19] blueabysm commented on #22777
/assign @blueabysm

[2020-07-30 10:23] blueabysm commented on #22777
Hi @Cweiping , let me handle this if you do not mind :)

[2020-07-30 10:23] girikuncoro commented on #22296
I'm taking `/docs/tasks/administer-cluster/reserve-compute-resources` next

[2020-07-30 10:33] blueabysm commented on #22777
Hi @Cweiping , Maybe you are working with this issue now? Ignore my assign tag before. 😂

[2020-07-30 10:58] tengqm commented on #22821
any details?

[2020-07-30 11:11] tengqm commented on #22788
Indeed, tagging is a good idea. Not sure if hugo has some tag specific features to leverage.

[2020-07-30 12:37] Cweiping commented on #22777
It doesn't matter. @Tej-Singh-Rana fixing it.

[2020-07-30 12:59] ariscahyadi commented on #22296
I am working on this `/docs/tasks/administer-cluster/sysctl-cluster`

[2020-07-30 13:13] savitharaghunathan commented on #20624
/remove-lifecycle stale

[2020-07-30 13:22] jcjesus commented on #20624
Hi, for portuguese, can sent to me, please!
Thanks
jcjesus

Em ter., 28 de abr. de 2020 às 14:52, Savitha Raghunathan <
notifications@github.com> escreveu:

[2020-07-30 13:34] tengqm commented on #20624
I can serve the Chinese localization focal, at least for this release.

[2020-07-30 13:40] ajaygautam opened #22826 "Issue with k8s.io/docs/tasks/tools/install-kubectl/"
The page says (mac install):

brew install kubectl
or
brew install kubernetes-cli

However, it does not provide any information on which one is recommended, or what the differences are.
If you are asking user to make a decision... please provide information to help make that decision.

[2020-07-30 16:57] Arhell opened #22828 "remove "extra indent" zh lang page"
**This is a Bug Report**

**Problem:**
![1](https://user-images.githubusercontent.com/26163841/88951536-ce896d00-d29e-11ea-91a9-5c06133bb658.jpg)

**Proposed Solution:**
remove 1-e br like en version

**Page to Update:**
https://kubernetes.io/zh/

/language zh
/assign
/area web-development

[2020-07-30 17:52] #19437 closed

[2020-07-30 18:53] kbhawkey commented on #22819
/kind bug

[2020-07-30 20:10] cezane commented on #22803
Strange... I tried again and same problem occurred:
[code]

[2020-07-31 00:49] seokho-son commented on #20624
@savitharaghunathan
Hello ~ Korean l10n Team leader has been changed.
Currently, I am primary contact for Ko ( Github: @seokho-son / Slack: Seokho )

[2020-07-31 01:57] Cweiping commented on #22803
`app=v1 ` belongs to pod, not service. You Can use `kubectl get service -o yaml` to check service labels.
/close

[2020-07-31 03:45] Cweiping commented on #22821
/triage needs-information

[2020-07-31 03:49] #22623 closed

[2020-07-31 06:05] tengqm opened #22836 "[zh] Localize /docs/tasks/manage-kuberneters-objects/kustomization.md"

[2020-07-31 06:11] tengqm opened #22837 "[zh] Localize /docs/concepts/configuration/pod-priority-preemption.md"

[2020-07-31 06:11] tengqm commented on #22837
/language zh

[2020-07-31 06:12] tengqm commented on #22836
/language zh

[2020-07-31 06:13] tengqm opened #22838 "[zh] Localize /docs/concepts/storage/persistent-volumes.md"

[2020-07-31 06:17] tengqm opened #22839 "[zh] Localize /docs/tasks/configure-pod-container/security-context.md"

[2020-07-31 06:17] tengqm commented on #22839
/language zh

[2020-07-31 06:21] tengqm opened #22840 "[zh] Localize /docs/setup/best-practices/multiple-zones.md"

[2020-07-31 06:21] tengqm commented on #22840
/language zh

[2020-07-31 06:38] fancc commented on #22839
/assign

[2020-07-31 06:43] fancc opened #22841 "[zh] Localize /docs/concepts/security/overview.md"
translate /docs/concepts/security/overview.md  into Chinese

[2020-07-31 06:43] fancc commented on #22841
/language zh
/assign

[2020-07-31 07:04] Cweiping commented on #22815
There is a problem with [this PR](https://github.com/kubernetes/website/pull/22433) change. We are still in version 1.18, and there is no `--port` flag. It is a feature introduced in 1.19.Do you need to fix this version? @tengqm

/language zh
/kind bug

[2020-07-31 07:07] Arhell commented on #22828
/close

[2020-07-31 07:07] #22828 closed

[2020-07-31 07:08] raelga commented on #20624
Count me in for questions related to Spanish localization!

[2020-07-31 07:35] C01DER opened #22843 "Issue with k8s.io/docs/tutorials/kubernetes-basics/explore/explore-interactive/"
**This is a Bug Report**

**Problem:**
If you use minikube locally instead of on katacoda, running following command would fail.

The command returned following error.

**Proposed Solution:**

Add port 8080, it looks like
curl http://localhost:8001/api/v1/namespaces/default/pods/$POD_NAME:8080/proxy/

The result

**Page to Update:**
https://kubernetes.io/docs/tutorials/kubernetes-basics/explore/ex

[2020-07-31 08:47] butuzov commented on #20624
I am on the side of the Ukrainian team.

[2020-07-31 09:22] npu21 opened #22856 "Issue with k8s.io/docs/setup/production-environment/container-runtimes/"
https://github.com/kubernetes/website/issues/22591

/language zh
/assign

[2020-07-31 09:38] npu21 opened #22858 "Issue with k8s.io/docs/setup/production-environment/container-runtimes/"
https://github.com/kubernetes/website/issues/22591

/language ko
/assign

[2020-07-31 10:28] sean-msmg opened #22862 "Confusing `kube-proxy` example on k8s.io/docs/setup/release/version-skew-policy/"
**This is a Bug Report**

**Problem:**

`kube-proxy` examples seem to conflict with one of the restriction given on k8s.io/docs/setup/release/version-skew-policy/

The restriction is:

In the example the `kube-proxy` version is given as 1.18 but it states than the `kube-apiserver` version "must be between 1.16 and 1.18, inclusive."

**Proposed Solution:**

I'm assuming that `kube-apiserver` should

[2020-07-31 11:09] #19408 closed

[2020-07-31 11:22] darshanparab opened #22867 "Issue with k8s.io/docs/concepts/architecture/controller/"
**This is a Bug Report**

**Hyperlinks don't work**
Hyperlinks to topics <b>Kubernetes control plane</b> and <b>Kubernetes objects</b> takes to back to <b>Concepts</b> page rather than respective topics.
**Proposed Solution:**
Update linkw to point to correct content.
**Page to Update:**
https://kubernetes.io/docs/concepts/architecture/controller/

[2020-07-31 12:39] shuuji3 opened #22868 "Translate concepts/services-networking/service-topology into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [concepts/services-networking/service-topology](https://kubernetes.io/docs/concepts/services-networking/service-topology) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-07-31 16:07] molgor opened #22872 "Issue with k8s.io/docs/tutorials/kubernetes-basics/explore/explore-interactive/"
**This is a Bug Report**

**Problem:**
The image: gcr.io/google-samples/kubernetes-bootcamp:v1
Doesn't exist anymore.
Error: PullBackError

**Proposed Solution:**
Give an existing url

**Page to Update:**
https://kubernetes.io/...

🍻

[2020-07-31 16:09] molgor commented on #22872
The interactive example works in the Katacoda app. It doesn't work in a normal K8s installation. That is, the engine container platform does not have the image anymore.

[2020-07-31 16:48] shuuji3 opened #22876 "Translate tasks/administer-cluster/enabling-service-topology into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [tasks/administer-cluster/enabling-service-topology](https://kubernetes.io/docs/tasks/administer-cluster/enabling-service-topology) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-07-31 21:47] ben-turner opened #22885 "Improvement for k8s.io/docs/reference/setup-tools/kubeadm/kubeadm-config/"
It is very difficult to find any links to the [kubeadm config documentation](https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2). This is a huge roadblock to new users trying to do anything custom with kubeadm.

As a new user, I don't expect to have to read about [the setup phases](https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init-phase/#cmd-phase-addon) t

[2020-07-31 22:19] #19452 closed

[2020-08-01 02:25] Cweiping commented on #22885
/language en

[2020-08-01 02:47] Cweiping commented on #22872
When I use `docker pull gcr.io/google-samples/kubernetes-bootcamp:v1` locally, there is no situation you said. Can your environment access the repo ?

/triage needs-information

[2020-08-01 03:04] Cweiping commented on #22599
/close

[2020-08-01 03:08] Cweiping commented on #22599
Help me to close this issue, thank you. How can I close it synchronously when PR(https://github.com/kubernetes/website/pull/22725) merges?
@sftim

[2020-08-01 04:14] Cweiping commented on #22173
This link is back to work.

[2020-08-01 05:21] tengqm commented on #22599
/close

[2020-08-01 05:21] #22599 closed

[2020-08-01 08:35] C01DER opened #22888 "Issue with k8s.io/docs/tutorials/kubernetes-basics/update/update-interactive/"
**This is a Bug Report**

**Problem:**
The gcr.io/google-samples/kubernetes-bootcamp:v10 did not exist any more.

[code]

**Proposed Solution:**

Select a stable resource for the tutorials.

**Page to Update:**
https://kubernetes.io/...

[2020-08-01 08:57] C01DER commented on #22888
Filed in error, close it by myself

[2020-08-01 08:57] #22888 closed

[2020-08-01 09:24] shuuji3 commented on #20735
masterブランチを利用する方針に変わったので、翻訳を改定してPRを作成します。

[2020-08-01 09:31] #19447 closed

[2020-08-01 09:31] #19457 closed

[2020-08-01 10:12] shuuji3 opened #22892 "Styles of buttons are inconsistent"
**This is a Bug Report**

**Problem:**
The styles of buttons are inconsistent. Proper style is applied only to buttons on a few pages.

A. Kubernetes style
![a-kubernetes-style](https://user-images.githubusercontent.com/1425259/89099230-bc3b3a80-d428-11ea-965d-601b7f5c1850.png)
Example: [Using Minikube to Create a Cluster | Kubernetes](https://kubernetes.io/docs/tutorials/kubernetes-basics/create-

[2020-08-01 10:35] blueabysm commented on #22892
/assign
/good-first-issue

Let me handle this if you don't mind :) @shuuji3

[2020-08-01 10:38] shuuji3 commented on #22892
@blueabysm No worries at all. Thank you! 🙂

[2020-08-01 10:54] neolit123 commented on #22885
@ben-turner it seems you have missed these two sections:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#config-file
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-join/#config-file

and for these commands the kubeadm API is actually the most important for.

linking the `kubeadm-config` command line reference page to the API makes sense.
but instead of link

[2020-08-01 10:55] neolit123 commented on #22885
/help

[2020-08-01 11:29] shuuji3 commented on #22059
Hi, @celestehorgan

Then can I work on re-implementing the pencil in the "edit" button as a separate issue? Though I don't know well about JQuery UI, I often use the FontAwesome icon on my web development.

[2020-08-01 12:08] blueabysm opened #22895 "Command `make serve` in development env may fail due to `too many open files`"
**This is a Bug Report**

**Problem:**
Command `make serve` fails on my laptop (come with macOS Catalina version 10.15.6 (19G73)) due to `too many open files` after running command `make serve`.
[code]
I've tried to change the maxfiles limit to 10240 by command `sudo launchctl limit maxfiles 10240 unlimited`, rerunning `make serve` got
[code]
Seems 10240 exceeds the kernel ulimit. Then I changed m

[2020-08-01 13:28] shuuji3 commented on #22895
Maybe PR #22748 is related

[2020-08-01 13:41] shuuji3 commented on #22103
#21874 has a correct link but #21875 does not. So it seems that this problem was introduced at some time between Jun 19 and Jun 20?

[2020-08-01 13:43] blueabysm commented on #22895
Great. [Partial serve](https://github.com/kubernetes/website/pull/22748) would be a good solution to this issue. This one could be closed, thank you!

[2020-08-01 13:51] vmorris opened #22897 "Issue with k8s.io/docs/tutorials/configuration/configure-redis-using-configmap/"
**This is a Bug Report**

**Problem:**
Tutorial states to use `kubectl apply -k .`

This fails with:

[code]

**Proposed Solution:**
Fix the tutorial. To be honest it's pretty bad to begin with. There's not a good explanation of what's going on and nobody needs to run `cat` command with heredoc redirection (twice on the same file!!) in a beginner tutorial.

**Page to Update:**
https://kubernetes.i

[2020-08-01 14:13] blueabysm commented on #22892
@shuuji3
I found only routes under `/<lang>/docs/tutorials/kubernetes-basics/` would apply style `/docs/tutorials/kubernetes-basics/public/css/styles.css`, which is the file `/path/to/website/content/en/docs/tutorials/kubernetes-basics/public/css/styles.css` shared among pages in other languages. Different from other pages written in markdown and parsed by Docsy, these pages are all HTML files, ma

[2020-08-01 15:33] shuuji3 commented on #22895
Nice to hear that! 😊

[2020-08-01 16:01] shuuji3 commented on #22892
@blueabysm Thank you for your investigation. In fact, I don't know the historical reason for this well... Looking at the history of [https://github.com/kubernetes/website/commits/master/content/en/docs/tutorials/kubernetes-basics/public/css/styles.css](r/content/en/docs/tutorials/kubernetes-basics/public/css/styles.css), I found it came from around 2018, long before Docsy introduced.

I also notic

[2020-08-01 18:13] kopparam-gagan opened #22899 "The connection to the server was refused"
**This is a Bug Report**
I am trying to use https://labs.play-with-k8s.com/
I am not able to use the nodes. It just keeps failing with a message "the connection to the server refused"
![image (7)](https://user-images.githubusercontent.com/56405894/89107737-a80b3380-d450-11ea-841f-ed665e8ccc64.png)

[2020-08-01 18:15] kopparam-gagan commented on #20810
Is there an issue with https://labs.play-with-k8s.com/
I have started a connection refused message.
![image (7)](https://user-images.githubusercontent.com/56405894/89107786-0cc68e00-d451-11ea-8580-5374529ef368.png)

[2020-08-01 18:24] marcosnils commented on #20810
That happens sometimes if the node is under pressure. Close the session and create a new one

[2020-08-01 18:27] kopparam-gagan commented on #20810
I have tried this returning after a few hours now still no luck. is there a restriction on how many times we use it? like tied to usage by ID?

[2020-08-01 18:35] Arhell opened #22900 "remove "extra indent" ko lang page"
**This is a Bug Report**

**Problem:**
![1](https://user-images.githubusercontent.com/26163841/89108162-edbf0080-d43e-11ea-9afb-b43533be5c52.jpg)

**Proposed Solution:**
remove 1-e br like en version

**Page to Update:**
https://kubernetes.io/ko/

/language ko
/assign
/area web-development

[2020-08-01 21:42] #19474 closed

[2020-08-01 22:18] jimangel commented on #22817
fixed in #22825 thanks @npu21!
/close

[2020-08-01 22:18] #22817 closed

[2020-08-01 22:29] #21720 closed

[2020-08-01 23:50] McCoyAle commented on #18850
/remove-lifecycle stale

[2020-08-01 23:52] McCoyAle commented on #18850
/assign

[2020-08-02 00:34] McCoyAle commented on #22899
Hello, this link appears to be provided by Docker. However, questions similar to this should be posted on Stackflow or you can even try the #kubernetes-users slack channel. Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes)
or our [Discussion Forums](https://discuss.kubernetes.io).

Members of the Kubernetes community use Stack Overflow and Discu

[2020-08-02 00:36] McCoyAle commented on #22899
/triage support
/close

[2020-08-02 06:24] blueabysm commented on #22892
@shuuji3 Great! But buttons on page `/docs/home` have different CSS classes. Maybe it's what they are designed to be.🙂
**Seems we need to know which style is supposed to be in use first**, and then we can talk about how to achieve this. I personally suggest to hold on this issue until someone could confirm, but I don't know who is the proper person I should @ 😂. Maybe the leads of this repo?

Woul

[2020-08-02 07:36] takaf04 opened #22905 "Translate docs/concepts/containers/images into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [docs/concepts/containers/images](https://kubernetes.io/docs/concepts/containers/images/) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-08-02 11:23] inductor commented on #22868
/close

[2020-08-02 11:23] #22868 closed

[2020-08-02 11:23] shuuji3 opened #22908 "Translate concepts/services-networking/dual-stack into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [concepts/services-networking/dual-stack](https://kubernetes.io/docs/concepts/services-networking/dual-stack) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-08-02 12:11] danninov commented on #22296
I'm taking ` /docs/tasks/configure-pod-container/configure-volume-storage`

[2020-08-02 12:14] inductor commented on #22876
/close

[2020-08-02 12:14] #22876 closed

[2020-08-02 13:57] danninov commented on #22296
I'm taking  `/docs/tasks/run-application/force-delete-stateful-set-pod/`

[2020-08-02 14:06] tengqm commented on #18953
/remove-lifecycle stale

[2020-08-02 15:36] dwardu89 opened #22915 "Issue with k8s.io/docs/setup/best-practices/node-conformance/ setting kubelet"
**This is a Bug Report**
Inability to set kubelet `api-servers`

Problem:
As per https://kubernetes.io/docs/setup/best-practices/node-conformance/
`Point your Kubelet to localhost --api-servers="http://localhost:8080", because the test framework starts a local master to test Kubelet.`

** Expected result **
Kubelet should point to the correct api-servers.

** Actual result **
kubelet cannot start

[2020-08-02 15:39] vmorris commented on #22897
Thanks... I was on `v1.10+`. My mistake!

[2020-08-02 15:39] #22897 closed

[2020-08-02 16:59] inductor opened #22916 "Installing kubeadm should mention about kubeadm config file"
**This is a Feature Request**

The [Installing kubeadm document](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#configure-cgroup-driver-used-by-kubelet-on-control-plane-node) says as follows

When using Docker, kubeadm will automatically detect the cgroup driver for the kubelet and set it in the `/var/lib/kubelet/config.yaml` file during runtime.

If you are

[2020-08-02 17:41] tarunactivity opened #22917 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
**This is a Bug Report**

**Problem:**
There is a lot of wasted space on the page due to:
-  Top header frame
- Left side search links that cannot be minimized
- Blank space on the right of the frame with no content
 - Centre of the page contains the quiz/questions,  and the terminal frame on the right.

When entering, and then returning from the full screen mode on the terminal, the quiz/content

[2020-08-02 18:08] neolit123 commented on #22916
@inductor the `kubeadm init` command reference page has this block:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#config-file

it links to:
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2

on the godoc page there is an example like so:
[code]

[2020-08-02 18:10] neolit123 commented on #22916
with the above documentation links / examples i have not seen any recent reports of users being confused.

/priority awaiting-more-evidence
/sig cluster-lifecycle

[2020-08-02 18:30] inductor commented on #22916
@neolit123
I get your point but this page should be one-stop place where you can find all the basic information enough to create a single cluster with the given condition; this case it mentions about when using different container runtime, so it should be more clear about that.

Even just adding something like `If you are using a different CRI, you have to modify the file with your cgroupDriver va

[2020-08-02 18:40] castrojo opened #22918 "Stateless example in docs should use be reviewed"
So I'm in the middle of a workshop with students using K8s and the example workshop links to this tutorial:

- https://kubernetes.io/docs/tutorials/stateless-application/guestbook/

I did some digging and this terminology still seems to be an issue that redis hasn't solved so I'm wondering if we should just find someone to redo this with a stateless example that just avoids redis altogether. Eithe

[2020-08-02 18:45] neolit123 commented on #22916
proposing a minor change to the above:

please send a PR for this if you can.

[2020-08-02 19:06] cblecker commented on #22918
/sig docs
/wg naming

cc @kubernetes/sig-docs-en-owners @kubernetes/wg-naming

Yeah, this example could be re-done without the use of redis if need be.

[2020-08-02 19:07] cblecker commented on #22918
It looks like this example might also just be broken?

ref #19821 #20088

[2020-08-02 19:18] inductor commented on #22916
Created it!

[2020-08-02 20:04] #19497 closed

[2020-08-02 22:51] #22807 closed

[2020-08-03 00:39] blueabysm commented on #22897
No worries! Glad to be helpful to you.😃

[2020-08-03 00:53] coolguyhong commented on #22758
/close

[2020-08-03 00:54] #22758 closed

[2020-08-03 01:46] Cweiping commented on #22915
/language en
/kind bug
/assign

[2020-08-03 03:09] Henry-hexijun opened #22920 "Issue with k8s.io/docs/tutorials/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-08-03 03:57] blueabysm commented on #22895
Seems this issue needs to be reopened. I've tried [Partial serve](https://github.com/kubernetes/website/pull/22748) ，but `make partial-serve LANG=en` got a lot of errors such as
[code]
or
[code]
Different language arguments leads different error messages.

[2020-08-03 04:42] inductor commented on #20735
/close

[2020-08-03 04:42] #20735 closed

[2020-08-03 05:06] blueabysm commented on #22867
Hi @darshanparab

If related documents are not missing, then

Perhaps **Kubernetes control plane** should point to https://kubernetes.io/docs/reference/glossary/?all=true#term-control-plane. I noticed that the corresponding file `/path/to/website/content/en/docs/reference/glossary/control-plane.md` [was last updated on 2020-04-16](https://github.com/kubernetes/website/blame/master/content/en/docs/

[2020-08-03 05:13] #19435 closed

[2020-08-03 07:17] Arhell commented on #22900
/close

[2020-08-03 07:17] #22900 closed

[2020-08-03 10:30] danninov commented on #22296
I'm taking `/docs/tasks/inject-data-application/distribute-credentials-secure`

[2020-08-03 10:49] sftim commented on #22726
/language ar

[2020-08-03 11:47] shyamjos commented on #9829
This awesome feature is still missing in the documentation, Can someone please add it ?

[2020-08-03 12:15] howieyuen commented on #16801
I have met the same problem，but I checked the panic a little bit，might be some service object doesn't have `ipFamily` field，kube-proxy did not adapt for these svc resources，so I deleted them handly，and running successfully

[2020-08-03 12:17] sftim commented on #9829
@shyamjos were you thinking of opening a pull request? We'd be happy to help you with that.

[2020-08-03 12:17] sftim commented on #9829
/remove-lifecycle stale

[2020-08-03 12:19] sftim commented on #22920
Hi @Henry-hexijun

What wasn't right with the page you were looking at?

/triage needs-information

[2020-08-03 12:20] sftim commented on #22917
/area web-development
/kind cleanup

[2020-08-03 12:20] sftim commented on #22917
Thanks for the suggestion @tarunactivity

[2020-08-03 12:21] sftim commented on #22895
/kind bug

[2020-08-03 14:58] castrojo commented on #22918
/assign @paulczar

Paul's agreed to look at the example and work on a PR.

[2020-08-03 15:42] dfedorov-ciena commented on #22815
No, thank you, it's good. Closing.

https://github.com/kubernetes/website/pull/22433/commits/621e5e72362184411ee9c0ad3f287f3cafa91419

[2020-08-03 15:42] #22815 closed

[2020-08-03 16:24] #16606 closed

[2020-08-03 16:57] sftim opened #22930 "Website does not build"
**This is a Bug Report**

**Problem:** After PR #20569 was merged, the website does not build. This is because the Portuguese localization includes a duplicate translation for a string.

**Proposed Solution:**
- Remove the duplication
**Additional Information:**

/priority critical-urgent
/kind bug

[2020-08-03 18:51] #22930 closed

[2020-08-03 19:50] Arhell opened #22933 "translate subscribe button"
**This is a Feature Request**

**What would you like to be added**
https://kubernetes.io/de/#kubeweekly

**Why is this needed**
translate button

/assign
/language de

[2020-08-03 19:55] sftim commented on #16093
/remove-lifecycle rotten

[2020-08-03 20:03] paulczar commented on #22918
@castrojo PR made to both the website and the examples repos.  One followup is needed which is to upload the newly built example image to a suitable location that isn't my personal dockerhub repo.

[2020-08-03 20:08] sftim commented on #22867
/kind bug

[2020-08-03 20:34] sftim commented on #22918
Redis _has_ switched away from using the term “slave” so I'm wondering if this change is needed.
WG Naming - does this need fixing? Add `/priority xxx` if it's passed triage.

[2020-08-03 21:45] Arhell commented on #22933
/close

[2020-08-03 21:45] #22933 closed

[2020-08-03 23:41] shuuji3 opened #22937 "Translate concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases](https://kubernetes.io/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-08-04 01:55] kbhawkey commented on #22918
I understand the rationale for changing this tutorial; however, is it worthwhile to investigate if it is possible to modify the terminology and naming of the example files, fields, and images.

[2020-08-04 01:58] Duanzhiwei commented on #16801
The components of my cluster are running normally, but I cannot get the IPv6 address of the node. Pod can be assigned to two addresses: ipv4 and ipv6，but cannot be accessed with ipv6。

[2020-08-04 03:00] tengqm opened #22943 "[zh] Localize /docs/reference/access-authn-autha/authentication.md"

[2020-08-04 03:00] tengqm commented on #22943
/language zh

[2020-08-04 03:18] cofyc opened #22944 "Document Volume and Claim Pre-binding"
**This is a Feature Request**

**What would you like to be added**

Document Volume and Claim Pre-binding feature.

**Why is this needed**

PVC & PV pre-binding is useful sometimes, but this feature is not documented in our official website. It's better to add a topic or subtopic for it.

**Comments**

[2020-08-04 03:20] cofyc commented on #22944
/sig storage
cc @msau42

/assign

working on it

[2020-08-04 05:09] BenTheElder commented on #22103
this is best tracked in https://github.com/kubernetes/test-infra/issues/18622
/triage duplicate
/close

[2020-08-04 05:09] #22103 closed

[2020-08-04 05:17] BenTheElder commented on #22103
I think this was https://github.com/kubernetes/test-infra/pull/17784#issuecomment-650772422 and may already be fixed

[2020-08-04 06:31] bjaneshwar opened #22947 "Container Spell check - Documentation"
Resource sharing and communication - https://kubernetes.io/docs/concepts/workloads/pods/#resource-sharing-and-communication

The text reads " Pods enable data sharing and communication among their constituent **containters**."

Suggested edit : "Pods enable data sharing and communication among their constituent **containers**. "

Comments: It could be a miss on spell check, please review.

Thanks,

[2020-08-04 10:08] agarwal188 opened #22950 "Issue with k8s.io/docs/tasks/run-application/run-stateless-application-deployment/"
I am unable to submit my cuda code through yaml file on kubernets. As i am deploy my code on DGX2 of nvidia.

in first yaml file
command: ["nvcc"]
args: ["workspace/data/alan.cu", -o, "alan.out"]. This I used .

And after that to execute alan.out. I again created one yaml file, in which i removed args and in command I wrote

command: [workspace/data/alan.out]

But the jobs get completed with error

[2020-08-04 12:01] CptBorg opened #22953 "Improvement for k8s.io/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm/"
It would be VERY helpful to know, that you have to download, extract, etc... the etcd binaries. Or that etcd will run as pods. The only point where this is mentioned is in the "optional" section...

thank you!

[2020-08-04 12:33] neolit123 commented on #22953
hello, this is a valid request.
PRs are welcome.

this list here:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm/#before-you-begin

could include something like:
[code]

file to change:
https://github.com/kubernetes/website/blob/master/content/en/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md

/sig cluster-lifecycle
/

[2020-08-04 12:46] tengqm opened #22954 "[zh] Localize /docs/reference/using-api/deprecation-policy.md"

[2020-08-04 12:47] tengqm commented on #22954
/language zh

[2020-08-04 12:48] Evalle commented on #22953
/assign

[2020-08-04 12:48] Evalle commented on #22953
I think I can help with this, thank you.

[2020-08-04 13:04] tengqm opened #22955 "[zh] Localize /docs/concepts/extend-kubernetes/api-extension/custom-resources.md"

[2020-08-04 13:04] tengqm commented on #22955
/language zh

[2020-08-04 14:45] kbhawkey commented on #22947
/help wanted

[2020-08-04 14:45] kbhawkey commented on #22947
/kind bug

[2020-08-04 14:46] #19513 closed

[2020-08-04 14:46] #18022 closed

[2020-08-04 14:46] #19461 closed

[2020-08-04 14:49] kbhawkey commented on #22947
/help

[2020-08-04 14:49] kbhawkey commented on #22947
/good-first-issue

[2020-08-04 15:28] danninov commented on #22296
There is double task in the list: `run-stateless-application-deployment` @girikuncoro

[2020-08-04 15:47] #19509 closed

[2020-08-04 15:47] #19520 closed

[2020-08-04 17:09] sftim commented on #22943
/sig auth

[2020-08-04 17:09] sftim commented on #22917
/priority backlog

[2020-08-04 17:09] sftim commented on #22917
/help

[2020-08-04 17:23] Arhell commented on #22947
/assign @Arhell

[2020-08-04 18:40] inductor opened #22958 "yarn or npm? that's the problem!"
**This is a Bug Report**

As discussed in the SIG-Docs meeting, the current steps for building doc website in README is incomplete in the following point of views.

- It requires yarn on top of npm, but yarn.lock is missing and package-lock.json is there.
  - `npm ci` did not work for me but I need further investigation on it.
- The build step is going to be equal in containerized and local in htt

[2020-08-04 18:43] inductor commented on #22958
Here's my cat picture after the sig-doc meeting lol

![Image from iOS (4)](https://user-images.githubusercontent.com/20236173/89332078-be71f300-d6cd-11ea-87b1-cce865f5c6e1.jpg)

[2020-08-04 18:43] sftim commented on #22958
AIUI, the live website build (within Netlify) relies on `npm`, and does _not_ use Yarn.

[2020-08-04 18:44] sftim commented on #22958
/area web-development

[2020-08-04 18:46] inductor commented on #22958
@sftim Could you have a quick look if npm ci in local works just fine?

[2020-08-04 19:31] jimangel opened #22960 "Localization contributing and maintaining guide"
**Issue**

SIG Docs has a guide on getting **started** with localizing the docs for a new language: https://kubernetes.io/docs/contribute/localization/

However, the content covering how to **continue** contributions for each specific localization is lacking. For example, specific on boarding, strategy, process, approach, etc.

As a result, some localization teams have created their own guides (we

[2020-08-04 20:01] jimangel opened #22961 "Cleanup CNI documentation ("how-to-implement-the-kubernetes-networking-model")"
**This is a Feature Request**

The page [how-to-implement-the-kubernetes-networking-model](https://kubernetes.io/docs/concepts/cluster-administration/networking/#how-to-implement-the-kubernetes-networking-model) is an eyesore and not very helpful to a Kubernetes newcomer.

In addition, some of the listed networking plugins blur the line of acceptable [3rd party content](https://github.com/kubernet

[2020-08-04 20:18] ben-turner commented on #22885
[A related PR in the kubeadm repo](https://github.com/kubernetes/kubeadm/pull/2239). I will keep most of the discussion over there for now.

[2020-08-04 20:25] celestehorgan opened #22962 "Add reusable shortcode/standardized messaging re: Out of tree concerns & 3rd party content"
Per our discussion in today's SIG Docs:

Sections of the site, like [How to implement the Kubernetes networking model](https://kubernetes.io/docs/concepts/cluster-administration/networking/#how-to-implement-the-kubernetes-networking-model) will _always_ have some degree of 3rd party content, due to the fact that a k8s developer must implement an external networking CNI.

The majority of post-3rd p

[2020-08-04 20:25] celestehorgan commented on #22962
/assign
/area web-development
/priority important-longterm

[2020-08-04 20:52] kbhawkey commented on #22958
Yes, I believe so.

[2020-08-04 21:27] Arhell commented on #22947
/language en

[2020-08-04 23:05] sftim commented on #22960
OK, I'll share this with:
Arabic - `ar`
Belarussian (?) - `be`
German - `de`

and can pick up another group later if that's useful.

[2020-08-04 23:17] sftim commented on #22961
At least some details about cluster networking will find a better home inside https://kubernetes.io/docs/concepts/services-networking/

[2020-08-04 23:17] sftim commented on #22961
/sig network
/kind cleanup
/priority important-longterm

[2020-08-04 23:21] sftim commented on #22961
This is also more distantly relevant to the _other_ [SIG Network](https://github.com/cncf/sig-network).

[2020-08-04 23:32] sftim commented on #20327
Once this lands, https://kubernetes.io/ko/docs/concepts/configuration/ will have all pages in the section translated!

[2020-08-04 23:43] patricklundquist opened #22964 "API links are broken; they use the kubernetes release version instead of the api version."
**This is a Bug Report**

**Problem:**
API links are using the wrong version, which breaks the link. See: "v1alpha1" and "v1alpha2" at https://kubernetes.io/docs/reference/scheduling/profiles/

**Proposed Solution:**
Use the correct version. It should be the api library version, which is v0.18.0 in this case, not the kubernetes release version (currently v1.18.0).

**Page to Update:**
https://kube

[2020-08-05 03:15] girikuncoro commented on #22296
@danninov oops thanks for noticing this, I've removed it

[2020-08-05 03:50] tengqm opened #22965 "[zh] Localize /docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md"
/language zh

[2020-08-05 05:03] inductor commented on #22960
I shared this in Korean channel!

[2020-08-05 08:24] tengqm opened #22970 "[zh] Localize /docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md"
/language zh

[2020-08-05 08:25] #22970 closed

[2020-08-05 08:25] tengqm commented on #22970
dup

[2020-08-05 08:31] seokho-son commented on #22960
Korean l10n team is aware of this issue :)
We are preparing a document to share workflow for Korean l10n to other l10n teams.

[2020-08-05 09:25] ckranz commented on #22961
Agreed on the issue and challenges here. I made my first PR (22973) to try address the issue of the simple install instructions being removed from the kubeadm page. In doing so I reviewed all the projects to try see if they had simple install instructions so I could add them, but ended up very confused myself! Additionally, a few of the projects are only relevant if you're using the vendors specif

[2020-08-05 09:39] sftim commented on #22962
/language en

[2020-08-05 10:10] kwiesmueller commented on #16725
/wg api-expression

[2020-08-05 12:02] kbhawkey commented on #22964
/sig scheduling

[2020-08-05 12:26] joshuabezaleel commented on #22296
I'll take ` /docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/`.

[2020-08-05 13:31] a-mccarthy commented on #22960
I'll share this with:
- [ ] Spanish - `es`
- [ ] French - `fr`
- [ ] Hindi - `hi`

I can help share with other groups as well if you need me too.

[2020-08-05 14:54] sftim commented on #22960
@inductor @jimangel  I copied the table from https://github.com/kubernetes/website/issues/22960#issuecomment-668981556 into the main issue description, hope that's OK.

[2020-08-05 14:56] sftim commented on #22960
@divya-mohan0209 & @reylejano-rxm you also mentioned you might pick up tasks here - mentioning it for visibility.

[2020-08-05 15:07] divya-mohan0209 commented on #22960
I'd be happy to take it up for Portuguese, Italian, Russian.

[2020-08-05 15:08] inductor commented on #22960
@divya-mohan0209  feel free to edit the table for assignment. If you dont have the permission bump me on Slack so that I will do it for you :)

[2020-08-05 15:24] reylejano-rxm commented on #22960
I'll take

* [x]  Mandarin - `zh`
* [x]  Vietnamese - `vi`
* [x]  Ukrainian - `uk`
* [x]  Persian - `fa`

[2020-08-05 21:17] celestehorgan commented on #21800
/wg naming

[2020-08-05 21:19] celestehorgan commented on #20074
/wg naming

@kubernetes/wg-naming-leads I'm adding this to the backlog as lowest priority, as it is technically an naming/terminology issue? However it'll be at the bottom of the backlog.

[2020-08-05 21:22] celestehorgan commented on #21171
/close

This is not an issue with the new layout.

[2020-08-05 21:22] #21171 closed

[2020-08-05 21:23] celestehorgan commented on #22580
/wg naming

[2020-08-05 21:23] celestehorgan commented on #22580
Note: the german translation still uses master too, if I recall correctly.

[2020-08-05 23:04] #22953 closed

[2020-08-05 23:27] seyedk opened #22980 "Issue with k8s.io/docs/tasks/configure-pod-container/quality-service-pod/"
**This is a Bug Report**

**Problem:**
The location of qosClass is not correct in the last example,
[code]

which is a result of the following command:
[code]
**Proposed Solution:**
[code]

**Page to Update:**
https://kubernetes.io/...

[2020-08-06 02:09] tengqm opened #22982 "[zh] Localize /docs/concepts/configuration/pod-priority-preemption.md"
/language zh

[2020-08-06 02:16] shuuji3 opened #22983 "Translate concepts/services-networking/ingress-controllers into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [concepts/services-networking/ingress-controllers](https://kubernetes.io/docs/concepts/services-networking/ingress-controllers) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-08-06 03:13] shuuji3 opened #22985 "Translate tasks/access-application-cluster/ingress-minikube into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [tasks/access-application-cluster/ingress-minikube](https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-08-06 04:40] shuuji3 commented on #22983
Closing because this page has been translated already.

[2020-08-06 04:40] #22983 closed

[2020-08-06 05:13] shuuji3 opened #22988 "Translate concepts/services-networking/network-policies into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [concepts/services-networking/network-policies](https://kubernetes.io/docs/concepts/services-networking/network-policies) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-08-06 12:05] MaxymVlasov commented on #22960
Hi folks!

Here is flow that used Ukrainian translation team: https://github.com/kubernetes/website/issues/20786
It mostly same as other onboarding guides.

For creating translation issues from scratch I created [this script](https://github.com/kubernetes-i18n-ukrainian/utils/tree/master/website_100_popular_pages_issue_creator)
It can be helpful for coordination and focus on most wanted pages for

[2020-08-06 12:31] #15907 closed

[2020-08-06 12:31] #16006 closed

[2020-08-06 12:31] #15957 closed

[2020-08-06 12:31] #16209 closed

[2020-08-06 12:31] #14822 closed

[2020-08-06 12:31] #15461 closed

[2020-08-06 12:41] nishipy opened #22989 "Translate concepts/cluster-administration/logging/ into Japanese"
**This is a Feature Request**

 **What would you like to be added**
Translate concepts/cluster-administration/logging/  into Japanese.
https://kubernetes.io/docs/concepts/cluster-administration/logging/

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-08-06 12:45] nishipy opened #22990 "Translate concepts/cluster-administration/certificates/ into Japanese"
**This is a Feature Request**

 **What would you like to be added**
Translate concepts/cluster-administration/certificates/  into Japanese.
https://kubernetes.io/docs/concepts/cluster-administration/certificates/

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-08-06 13:14] tengqm opened #22991 "[zh] Localize /docs/concepts/security/pod-security-standards.md"
/language zh

[2020-08-06 13:32] #15498 closed

[2020-08-06 13:52] trickert76 commented on #12827
Please have a look at https://github.com/kubernetes/website/issues/18079 - I think, it's the same issue. The bootcamp container isn't exposing its port 8080 by default. I don't understand, why this works in the tutorial. Maybe it works on a Minikube

[2020-08-06 13:55] inductor commented on #22703
/close

[2020-08-06 13:55] #22703 closed

[2020-08-06 14:22] inductor commented on #22958
`npm ci` worked in my local environment

[2020-08-06 15:51] #19985 closed

[2020-08-06 16:44] sftim opened #22997 "Create task page about resizing PersistentVolumes"
**This is a Feature Request**

**What would you like to be added**
Add a new page that explains how to resize a PersistentVolume in your cluster.

- the task page should try to be agnostic about specific storage technologies (eg don't assume the reader is running on Google / AWS / Azure infrastructure)
  - it's OK to focus on current approaches such as CSI, and de-emphasize legacy tech
- the new p

[2020-08-06 17:14] Arhell commented on #22947
Fixed, can be closed

[2020-08-06 17:18] kbhawkey commented on #22947
/close

[2020-08-06 17:19] #22947 closed

[2020-08-06 18:08] sftim commented on #22950
This seems like a support query

/triage support

I'm afraid that GitHub is not the right place for support requests.

For help, you can check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

[2020-08-06 18:22] sftim commented on #22964
I'm surprised to see a 0.18.0 version number there; what does this mean? Do releases of the ComponentConfig APIs happen at the same cadence as Kubernetes minor releases?

If there is a rule like “to work out the version of the ComponentConfig API, take the current minor version, subtract 1 from the major version† , and set patch version to 0” then I'd probably favor an automated solution, so it st

[2020-08-06 18:27] sftim commented on #22964
I looked, and I also noticed https://github.com/kubernetes/kube-scheduler/blob/release-1.18/config/v1/types.go which implies there's a v1 scheduler configuration API that was part of release v1.18 of Kubernetes.

[2020-08-06 18:37] #19325 closed

[2020-08-06 18:54] kbhawkey commented on #22819
/assign

[2020-08-06 19:53] Arhell opened #22999 "remove "extra indent" ja lang page"
**This is a Bug Report**

**Problem:**
![1](https://user-images.githubusercontent.com/26163841/89576204-a1f1ca00-d837-11ea-8f06-cf05f6fd777d.jpg)

**Proposed Solution:**
remove 1-e br like en version

**Page to Update:**
https://kubernetes.io/ja/#video

/language ja
/assign
/area web-development

[2020-08-06 20:06] sftim commented on #22964
/kind bug
/language en
/priority backlog

[2020-08-06 20:06] sftim commented on #22958
/kind bug
/priority important-longterm

[2020-08-06 20:07] sftim commented on #22958
/sig contributor-experience
I suppose

[2020-08-06 20:07] sftim commented on #22918
/kind cleanup
/priority important-longterm

[2020-08-06 20:08] sftim commented on #22918
@kbhawkey has put it better than I did in https://github.com/kubernetes/website/issues/22918#issuecomment-668228304

The existing page is wrong; I wonder if we need to change the product as well as fix the wording?

[2020-08-06 21:31] wabernatScality commented on #20862
Who is responsible for [this page](https://kubernetes.io/docs/contribute/style/style-guide/#use-camel-case-for-api-objects)? I would like to enter into a dialog with this person to make for better conventions. If I "just issue a PR", I fear my suggestions will be either rejected outright or slow-marched until I abandon all hope. I will be happy to engage with anyone in the Kubernetes community to

[2020-08-06 21:35] sftim commented on #20862
@wabernatScality there isn't one person responsible for the website - instead the [documentation special interest group](https://github.com/kubernetes/community/tree/master/sig-docs#readme) has responsibility.

If you want to, you can bring up this issue (or any other issue) during a weekly meeting. It's also fine to continue that discussion here.

[2020-08-06 21:37] sftim commented on #20862
This being open source, it's also fine to Just Do It and open your own pull request.

[2020-08-06 22:42] wabernatScality commented on #20862
With respect to this issue, one of two things is true: everything done to date has been wrong, or I am uninformed. The k8s community has adopted a customary capitalization that makes no sense to me, appears grounded to no enforceable rule, and the guidance offered on this page seems only there to reassure people preserving the customary capitalization without explaining to outsiders when or why on

[2020-08-07 02:08] tengqm opened #23003 "[zh] Localize /docs/tasks/debug-application-cluster/logging-stackdriver.md"
/language zh

[2020-08-07 02:21] BenTheElder commented on #22515
following up on https://github.com/kubernetes/k8s.io/issues/1033
sorry this fell behind.

[2020-08-07 02:34] inductor commented on #22999
/close

[2020-08-07 02:35] #22999 closed

[2020-08-07 02:58] seokho-son opened #23005 "Outdated files in dev-1.18-ko.10 branch"
# This is a Bug Report
## Problem
Outdated files in the dev-1.18-ko.10 branch.

### 84 files to be modified
1. [ ] content/en/docs/concepts/architecture/control-plane-node-communication.md 1 file changed, 1 insertion(+), 1 deletion(-)
1. [ ] content/en/docs/concepts/architecture/nodes.md 1 file changed, 2 insertions(+), 4 deletions(-)
1. [ ] content/en/docs/concepts/cluster-administration/_index.m

[2020-08-07 02:58] seokho-son commented on #23005
현행화 작업은 항상 분량이 많기 때문에 분업이 가능하면 좋겠다는 의견이 있었습니다.
현행화 작업에 참여를 원하시는 분은 작업하실 범위를 코멘트로 공유해주시면 좋겠습니다.

[2020-08-07 03:10] pjhwa commented on #23005
아래 40개 파일 작업하겠습니다.

1.  content/en/docs/concepts/architecture/control-plane-node-communication.md 1 file changed, 1 insertion(+), 1 deletion(-)
2.  content/en/docs/concepts/architecture/nodes.md 1 file changed, 2 insertions(+), 4 deletions(-)
3.  content/en/docs/concepts/cluster-administration/_index.md 1 file changed, 5 insertions(+), 5 deletions(-)
4.  content/en/docs/concepts/cluster-administra

[2020-08-07 04:48] shuuji3 opened #23010 "Translate tasks/administer-cluster/declare-network-policy into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [tasks/administer-cluster/declare-network-policy](https://kubernetes.io/docs/tasks/administer-cluster/declare-network-policy) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-08-07 04:48] shuuji3 opened #23011 "Translate concepts/services-networking/endpoint-slices into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [concepts/services-networking/endpoint-slices](https://kubernetes.io/docs/concepts/services-networking/endpoint-slices) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-08-07 05:47] #19564 closed

[2020-08-07 08:08] forvaidya opened #23015 "Unable to make and run website under WSL"
**This is a Bug Report**

 make container-serve

Error: Unable to locate config file or config directory. Perhaps you need to create a new site.
       Run `hugo help new` for details.

Makefile:71: recipe for target 'container-serve' failed

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-08-07 08:13] sftim commented on #20862
I think most Kubernetes users and documentation contributors are happy seeing resource names (Pod, DaemonSet, EndpointSlice) capitalized in PascalCase, for the reasons already given.

Maybe the challenge instead is to make it clear to new readers why some terms are written that way, so that the common quality - these are the names of resources in the Kubernetes API - is more obvious.

[2020-08-07 08:16] forvaidya commented on #23015
another question: is there a way to build it portably in windows. WSL is restrictive

[2020-08-07 08:16] inductor commented on #22960
In the discussion, @jimangel mentioned that we could use GitHub wiki for sharing the localization tips from each localization team.

[2020-08-07 08:17] inductor commented on #22960
I found this page but it looks very old(2017 last edited)
https://github.com/kubernetes/website/wiki/Guidelines-for-Reviewing-and-Merging-PRs

[2020-08-07 08:39] sftim commented on #23015
/triage support

Did you run `make container-image` first @forvaidya ?

@forvaidya: on WSL, you might find that `make serve` works better. You'll need Hugo and NPM locally before that works.

[2020-08-07 09:47] forvaidya commented on #23015
I have done make container-image already.

Is there a windows native build procedure

[2020-08-07 10:06] #22908 closed

[2020-08-07 10:11] forvaidya commented on #23015
On wsl it did not work, I have adjusted values in netlify.toml and ran following

hugo server --buildFuture
and it worked http://localhost:1313/

I appreciate if container build is made available for Powershell

[2020-08-07 10:38] #22937 closed

[2020-08-07 10:40] #22812 closed

[2020-08-07 11:36] #21007 closed

[2020-08-07 11:53] #19580 closed

[2020-08-07 12:04] evanap commented on #22296
Yo I'm taking `/docs/tasks/administer-cluster/manage-resources/memory-constraint-namespace` next

[2020-08-07 12:18] #22985 closed

[2020-08-07 12:54] #16062 closed

[2020-08-07 14:56] #17575 closed

[2020-08-07 16:32] adiezg opened #23019 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/"
**This is a Bug Report**

**Problem:**
The documentation for kubernetes v1.18 is missing the tabs with the commands to use, when installing a pod network solution (Calico, Cilium, WeaveNet, etc)
**Proposed Solution:**
Kubernetes 1.17 has the tabs for the different network pod solutions that can be used. Please, see link below:
https://v1-17.docs.kubernetes.io/docs/setup/production-environment/tool

[2020-08-07 17:25] wabernatScality commented on #20862
Tim: thanks for engaging with me thoughtfully on this issue. The problem as I see it is that as an editor I generally do my best to preserve unorthodox capitalizations for neologisms and proper nouns. Camel and Pascal case are not exceptions: if there is a file or a setting set in an unusual case, I absolutely try to conserve it. Conversely, I deal with engineers who do not understand the rules of

[2020-08-07 20:50] rikatz commented on #22387
/assign

[2020-08-07 20:58] kbhawkey opened #23020 "modify layout of codenew shortcode"
**This is a Feature Request**
The `codenew` shortcode uses an HTML table to contain the "copy" icon, filename text,
and code block. Since the Docsy theme addition, the codenew shortcode generates code blocks
that appear squashed on the page.

**What would you like to be added**
Investigate whether the `codenew` shortcode should keep the table element for laying out the code block with
updated tabl

[2020-08-07 20:59] kbhawkey commented on #23020
Temporarily assign myself.
/assign

[2020-08-07 21:03] #22387 closed

[2020-08-08 01:23] pjhwa commented on #23005
/assign

제가 나머지 파일들도 작업하겠습니다~

[2020-08-08 03:02] takaf04 opened #23022 "Cannot access the link destination of word"
**This is a Bug Report**

**Problem:**
cannot access the link destination of word. If click this link, 404 error.

- Page
https://kubernetes.io/docs/concepts/containers/images/#referring-to-an-imagepullsecrets-on-a-pod

- Link
Link of "ServiceAccount" in sentence("However, setting of this field can be automated by setting the imagePullSecrets in a ServiceAccount resource.")

**Proposed Solution:**

[2020-08-08 04:16] #23022 closed

[2020-08-08 08:44] ijelliti commented on #22726
@sftim I would assist on this

[2020-08-08 08:53] ibrahimjelliti opened #23024 "issue with Task page scrolling horizontally when args code is too large"
**This is a Bug Report**
**Problem:**
the dependent-envars.yaml  file args is long by concatenating of all commands into a single command with **;** that cause the page to scroll horizontally.
![image](https://user-images.githubusercontent.com/9965888/89706365-c98e8280-d95c-11ea-994a-05c5bcc4c6ae.png)

**Proposed Solution:**
-  we can get true multi-line scripts using an heredoc to avoid concatena

[2020-08-08 09:43] Cweiping commented on #23019
After my examination, this is not a problem, it is caused by the change of https://github.com/kubernetes/website/pull/22600.
According to this line of association:
See a list of add-ons that implement the [Kubernetes networking model](https://kubernetes.io/docs/concepts/cluster-administration/networking/#how-to-implement-the-kubernetes-networking-model).
/triage support

[2020-08-08 10:08] Cweiping commented on #23024
/language en
Thank you for your question, it seems to improve the problem. But I think there is not a root cause. Yaml display should not allow the text content to expand to the right, and the style should be adjusted to fix the size.
cc  @sftim

[2020-08-08 11:16] #18038 closed

[2020-08-08 11:39] sattarfeizollahibarough commented on #22960
Hi guys,
@MaxymVlasov the idea is totally fine, is that possible to consider the page hit instead of how it is popular?

[2020-08-08 11:49] sftim commented on #20862
Pretty much https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/ (the things listed in the left nav above fragment `#-strong-definitions-strong`)

Exceptions:
- container. Two reasons; one, you never `kubectl create Container`, you always create Pods.
- in any localization where the resource and the concept are the same name, you can use the lower case name to emphasize that you're

[2020-08-08 12:09] MaxymVlasov commented on #22960
@sattarfeizollahibarough sure.
'Page popularity' is 'how many times page was open duiring period'

And you can provide any other 'popularity' list just replace [locations file](https://www.github.com/kubernetes-i18n-ukrainian/utils/tree/master/website_100_popular_pages_issue_creator%2Flocations).

Now `locations` file include data from https://github.com/kubernetes/website/issues/17598

[2020-08-08 12:28] adiezg commented on #23019
Thanks Cweiping for the thread #22600. I was not aware of it.
I have seen some people affected by this change, while doing the exam for CKA, which I plan to take as well in some weeks. I will follow up in thread #22600, hoping that a good solution will be found

[2020-08-08 12:28] #23019 closed

[2020-08-08 12:48] sftim commented on #22726
Also see [#kubernetes-docs-ar](https://kubernetes.slack.com/messages/CP9FKRD51/) (or visit https://slack.k8s.io/ for an invitation to Slack).

[2020-08-08 14:03] beni20 opened #23027 "Issue with blog page missing image (?)"
**This is a Bug Report**

**Problem:**
missing screenshot or issue on my side?

![image](https://user-images.githubusercontent.com/64083403/89712350-9bc33100-d990-11ea-9711-2baabc2c5350.png)

[2020-08-08 14:18] sftim commented on #23027
/area blog
/priority backlog

[2020-08-08 14:18] sftim commented on #23027
It's likely that the article referenced an external image that is now gone.

[2020-08-08 14:19] sftim commented on #23020
/kind cleanup
/area web-development
/priority backlog

(I'd love to see this improved!)

[2020-08-08 14:25] sftim commented on #23024
/area web-development

[2020-08-08 14:25] sftim commented on #23024
@kbhawkey I imagine you'll have a good idea about the approach to take?

[2020-08-08 15:16] sftim opened #23030 "Improve order of workload resources"
**This is an enhancement Request**

**What would you like to be added**
Change https://kubernetes.io/docs/concepts/workloads/controllers/ to list Deployment and ReplicaSet early (Deployment first), with ReplicationController at or near the end of the list.

It is also OK to replace this page with a hand-written overview that achieves the same effect.

**Why is this needed**
ReplicationController i

[2020-08-08 15:17] sftim commented on #23015
@forvaidya can you explain what changes to the README would make it clear how to run a local build within WSL?

[2020-08-08 15:23] sftim commented on #22016
To move this forward, how about making `latest` be a 307 _for now_. And then, with that in place, we can have a separate discussion about when and whether to replace the 307 redirect with static content.
(In that future discussion we can cover topics like permalinks, `noindex`, URL durability, whatever).

[2020-08-08 15:46] sftim opened #23031 "Setting site to deprecated does not show deprecation warning in documentation section"
**This is a Bug Report**

**Problem:**
If you make a new Kubernetes release and publish the branch up to that release as a deprecated website, the deprecated website for the just-superseded minor version **doesnt** show a deprecation warning for pages inside `/docs/`.

**Proposed Solution:**
Fix the layout to show a deprecation warning as expected.

**Page to Update:**
https://kubernetes.io/docs/

[2020-08-08 16:38] forvaidya commented on #23015
I think for windows  **hugo command** is only viable way on windows, unless a rewrite makefile in ps1 script as make is not portable.  If I can write ps1 script as a replacememt I will send pull request for sure.

Can we add this note in README.

[code]

[2020-08-08 17:45] ariscahyadi commented on #22296
I will take this `/docs/tasks/debug-application-cluster/debug-application-introspection`

[2020-08-08 19:15] Arhell opened #23034 "translate subscribe button"
**This is a Feature Request**

**What would you like to be added**
https://kubernetes.io/es/#kubeweekly

**Why is this needed**
translate button

/assign
/language es

[2020-08-08 21:42] ijelliti commented on #23024
@sftim I think there is two options: we adjust the codenew layout style to fit the middle section or we switch the args commands concatenation to multi-line script.

[2020-08-09 00:37] kbhawkey commented on #20252
/remove-lifecycle stale

[2020-08-09 00:46] kbhawkey commented on #23024
Related issue #23020

[2020-08-09 01:30] #19556 closed

[2020-08-09 02:37] wabernatScality commented on #20862
Reviewing the items you have listed (scraping the left column to **Definitions**), I see the following non-compound words:

- Container
- Deployment
- Job
- Pod
- Endpoints
- Ingress
- Service
- Secret
- Volume
- Event
- Binding
- Lease
- Namespace
- Node
- Role

As a thought experiment, I invite you to visit the API reference you sent me, search any word on this list, and tell me if it is capital

[2020-08-09 04:03] shuuji3 commented on #21924
This problem happens when using Bing search. Here is the screenshot:
![Screenshot from 2020-08-09 13-01-08](https://user-images.githubusercontent.com/1425259/89724640-b48b1f80-da40-11ea-80f0-adde5f9e4e77.png)

[2020-08-09 09:35] girikuncoro commented on #22960
is it possible for us to get access to the Google analytics kubernetes website? I want to see how many visitors/readers visit e.g. kubernetes.io/id every month/week/day, to see the progress and motivate the localization team. What are the top visited localized pages, etc. Until know I always need to bug someone to get this data.

[2020-08-09 11:42] sftim commented on #20862
@wabernatScality thanks for suggesting the switch to English grammar rules.
I worry that adopting these rules would be unhelpful for the downstream localizations which largely do not heed English orthography. There are many more non-English localizations of these docs than the one English localization.

To force all audiences into the confines of English would to me not just seem unhelpful, it run

[2020-08-09 11:44] sftim commented on #20862
You also asked:

Yes they do. Understanding these nuances and helping to communicate them to readers is tricky; that's one reason why technical writing is a distinct specialism.
(BTW I do technical writing, but I'm not a technical writer by profession).

[2020-08-09 11:45] sftim commented on #21924
/area web-development

For context, the website uses Google Search unless corporate filtering / state-level censorship / similar restrictions prevent using Google, and for those readers there is a fallback to Bing search.

[2020-08-09 11:48] sftim commented on #22960
@girikuncoro could you log a GitHub issue to request that access, or put that suggestion the agenda for a SIG Docs weekly meeting? If you're not sure what I'm suggesting there, I can explain more in detail or I can pass on a request on your behalf.

[2020-08-09 12:00] sftim opened #23043 "Wrong formatting for part of “Auditing” task"
**This is a Bug Report**

**Problem:**
The v1.19 equivalent of https://kubernetes.io/docs/tasks/debug-application-cluster/audit/#dynamic-backend has a formatting issue
where the **Audit backends** section starts:

**Proposed Solution:**
Fix that broken formatting.

**Page to Update:**
https://github.com/kubernetes/website/pull/23042

**Kubernetes Version:**
v1.19

**Additional Information:**
Fix i

[2020-08-09 13:04] sftim opened #23044 "Protect all branches"
**This is a Feature Request**

**What would you like to be added**
Set all website branches as protected.

**Why is this needed**
We should protect all branches in [k/website](https://github.com/kubernetes/website) so that only Prow can merge there. Once this is done, the Kubernetes organization in GitHub can assert branch protection organization-wide, ensuring extra safety against mistakes.

**Co

[2020-08-09 13:04] sftim commented on #23044
/kind feature

[2020-08-09 13:04] sftim commented on #23044
/priority important-longterm
/sig testing

[2020-08-09 13:08] sftim commented on #22960
/sig contributor-experience

I think

[2020-08-09 13:09] sftim commented on #22582
/priority awaiting-more-evidence

[2020-08-09 13:09] sftim commented on #22582
/language en

[2020-08-09 13:10] sftim commented on #22489
/retitle Perform Automated Link Checking Periodically

[2020-08-09 13:10] sftim commented on #23044
Are there any branches that should _not_ have protection configured?

[2020-08-09 14:01] pjhwa opened #23045 "Issue with k8s.io/docs/concepts/workloads/pods/"
**This is a Bug Report**

**Problem:**
Line 260, k8s.io should be removed from the link to PodDisruptionBudget:
* Read about \[PodDisruptionBudget\]\(https://kubernetes.io/docs/concepts/workloads/pods/disruptions/\) and how you can use it to manage application availability during disruptions.

**Proposed Solution:**
* Read about \[PodDisruptionBudget\]\(/docs/concepts/workloads/pods/disruptions/\)

[2020-08-09 14:02] pjhwa commented on #23045
/assign

[2020-08-09 14:09] #22720 closed

[2020-08-09 14:09] #22794 closed

[2020-08-09 15:48] savitharaghunathan commented on #23043
/milestone 1.19
/assign

[2020-08-09 17:26] saswatamcode commented on #23030
Just the order of list needs to be changed to list Deployments and then ReplicaSet early and ReplicationController at the end in the [front matter](https://kubernetes.io/docs/concepts/workloads/controllers/), right?

[2020-08-09 18:00] #23045 closed

[2020-08-09 18:02] sftim commented on #23030
@saswatamcode (and to anyone else) you can make the minimal change you described, or you can consider further tidying. Either approach is valid; if you like, there is a spectrum of thoroughness in how you deal with this.

[2020-08-09 18:03] sftim commented on #23030
Oh, I've fixed the link to _front matter_; it should be to https://gohugo.io/content-management/front-matter/

[2020-08-09 18:07] sftim commented on #18624
/remove-lifecycle rotten

[2020-08-09 18:07] sftim commented on #18624
/priority awaiting-more-evidence
/language en
/kind feature

[2020-08-09 18:08] sftim commented on #22980
/kind bug
/language en
/priority backlog
/sig scheduling

[2020-08-09 18:08] sftim commented on #22980
/help

[2020-08-09 20:22] mkorbi commented on #22960
@jimangel happy to give some hands for DE

[2020-08-09 22:51] #19494 closed

[2020-08-10 01:30] jihoon-seo opened #23050 "Modify text in Korean top page for KubeCon announcement"
**This is a Bug Report**

**Problem:**

Issue #23009: "Modify text in top page for KubeCon announcement"

**Proposed Solution:**

In `content/ko/_index.html`

As-is:
[code]

To-be: (Make the same with [content/en/_index.html](https://github.com/kubernetes/website/blob/master/content/en/_index.html))
[code]

**Page to Update:**
https://kubernetes.io/ko/

[2020-08-10 01:31] jihoon-seo commented on #23050
/language ko

[2020-08-10 01:53] jihoon-seo opened #23051 "Translate docs/reference/setup-tools/kubeadm/* in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate docs/reference/setup-tools/kubeadm/* in Korean

**Why is this needed**
No translation with Translate docs/reference/setup-tools/kubeadm/* in Korean

**Comments**

Pages to update:
[ko] https://kubernetes.io/ko/docs/reference/setup-tools/kubeadm/
[en] https://kubernetes.io/docs/reference/setup-tools/kubeadm/
- [~~Overview

[2020-08-10 01:54] #17181 closed

[2020-08-10 02:59] habibrosyad commented on #22094
/assign

[2020-08-10 06:06] Evalle commented on #23030
Hey folks, I can take care of it if @saswatamcode OK with that.

[2020-08-10 06:16] saswatamcode commented on #23030
Sure you can go ahead!

[2020-08-10 07:22] Evalle commented on #23030
Thanks!
/assign

[2020-08-10 08:00] #19579 closed

[2020-08-10 08:25] masaeedu opened #23055 "Issue with k8s.io/docs/concepts/containers/images/"
**This is a Bug Report**

**Problem:**

The docs at https://kubernetes.io/docs/concepts/containers/images/#multi-architecture-images-with-manifests read:

AFAIU a manifest cannot reference other image manifests. Also, a manifest also refers to the content addresses of a fixed set of layers built for a particular platform, so it cannot be used to abstract over multiple architecture-specific builds.

[2020-08-10 09:25] tengqm opened #23056 "[zh] Localize /docs/tasks/debug-application-cluster/logging-stackdriver.md"
/language zh

[2020-08-10 10:10] Arhell commented on #20908
/close

[2020-08-10 10:10] #20908 closed

[2020-08-10 10:17] sftim commented on #23055
/kind bug
/language en
/priority backlog

Thanks for spotting this.

[2020-08-10 11:31] Mais316 opened #23058 "Page mismatch between default current version and the correct version"
As current version is 1.18

so when I go to page https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/

I dont see the Network pod add on options with taps like "Calico, Weave Net"

but when I go here, I see it

https://v1-18.docs.kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/

So I am not sure if I can use link https:/

[2020-08-10 11:39] neolit123 commented on #12328
/remove-lifecycle rotten

[2020-08-10 11:41] Mais316 opened #23059 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/"
**This is a Bug Report**

**Problem:**

can not see section under "Installing a Pod network add-on" that has tabs of "Calico, cilium,conitv,kube-router" so I dont know the download links for
calico.yaml "kubectl apply -f https://docs.projectcalico.org/v3.11/manifests/calico.yaml"

**Proposed Solution:**
please add missing section back

correct contents are in https://v1-18.docs.kubernetes.io/docs/

[2020-08-10 11:44] neolit123 commented on #23059
this was changed. see https://github.com/kubernetes/website/issues/22961#issue-673047152

/triage support
/sig cluster-lifecycle
/close

[2020-08-10 11:44] #23059 closed

[2020-08-10 11:45] neolit123 commented on #23058
this was changed: https://github.com/kubernetes/website/issues/22961#issue-673047152
please use the 1.18 version in the exam.

/triage support
/sig cluster-lifecycle
/close

[2020-08-10 11:45] #23058 closed

[2020-08-10 12:10] sftim commented on #23031
/sig release
@savitharaghunathan FYI

[2020-08-10 12:30] sftim commented on #22298
/sig storage
too

[2020-08-10 12:30] sftim commented on #22514
/sig scheduling

[2020-08-10 12:31] sftim commented on #22391
/kind cleanup
/language en
/priority backlog
/retitle Unclear wording in “Disruptions” concept page

[2020-08-10 12:33] sftim commented on #22394
Because it's not clear what is not right about that page, I propose closing this issue.

I recognize that https://kubernetes.io/docs/tasks/extend-kubernetes/configure-multiple-schedulers/ does need a review and that issues including #22802 are tracking defects there.

[2020-08-10 12:34] sftim commented on #22802
/retitle Document how to configure a second scheduler to run as static Pod(s)

[2020-08-10 12:34] sftim commented on #22802
/sig scheduling
/language en

[2020-08-10 14:46] cyberblack28 opened #23062 "Translate docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/ into Japanese

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-08-10 14:54] #23062 closed

[2020-08-10 15:03] cyberblack28 opened #23064 "Translate docs/setup/production-environment/windows/user-guide-windows-containers/ into Japanese"
This is a Feature Request

What would you like to be added

Translate docs/setup/production-environment/windows/user-guide-windows-containers/ into Japanese

Why is this needed

This page has not been translated.

Comments

/language ja
/assign

[2020-08-10 15:31] rizekmWWT opened #23065 "Issue with k8s.io/docs/reference/command-line-tools-reference/kube-apiserver/"
**This is a Bug Report**
setting Add --allow-privileged=true or --allow-privileged to the following 2 files
/var/snap/microk8s/current/args/kubelet
/var/snap/microk8s/current/args/kube-apiserver

Causes the following error:
Error from server: Get "https://appd-k8s-clusagent-1:10250/containerLogs/appdynamics/appdynamics-operator-5cb5b8b7d8-zkkwq/appdynamics-operator": dial tcp 192.168.2.113:10250:

[2020-08-10 16:19] sftim opened #23067 "Page title “Creating a single control-plane cluster with kubeadm” could mislead"
**This is a Bug Report**

**Problem:**
The title of https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/ used to be
“_Creating a single master cluster with kubeadm_” and PR #14594 changed that to “_Creating a single control-plane cluster with kubeadm_” to match guidelines on terminology. However, the current title does not read as idiomatic English and coul

[2020-08-10 16:28] Arhell commented on #23034
/close

[2020-08-10 16:28] #23034 closed

[2020-08-10 16:55] imbhuvnesh commented on #18710
Hey @sftim, I would like to work on this.

[2020-08-10 17:03] sftim commented on #18710
Anyone who'd like to open a PR that addresses this issue is welcome to. Dive in!

[2020-08-10 19:05] neolit123 commented on #23067
my vote goes for:
"Creating a cluster with kubeadm"
and the page should link to the HA guide which is an optional extension.

"Creating a minimum viable Kubernetes cluster that conforms to best practices", seems good to me.

The HA guide (link under "high-availability cluster") can be moved to under "higher availabilty" in this sentence:
"Use multiple control-plane nodes. You can read Options for

[2020-08-10 20:41] jimangel commented on #22960
@girikuncoro in https://groups.google.com/g/kubernetes-sig-docs look for an older email titled "Google Analytics: Pages" it will include a PDF of popular pages. On the PDF, in the top right corner, there's a link that says "Go To Report."

Clicking that link will take you to a page where you can request access and we will grant you read access after receiving the request.

Sorry this process is a

[2020-08-10 21:57] sftim commented on #23065
/triage support

@rizekmWWT it sounds like you're looking for advice on Kubernetes. This list of issues covers defects in the documentation and suggestions for improvement.

https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/ has some advice on where to go for troubleshooting (if _that_ page isn't helpful, please do feel free to log an issue about improving it).

[2020-08-11 01:57] seokho-son commented on #22960
@jimangel I would like to get read permission to the Google analytics for K8s website. It would be useful for Korean l10n team !
By the way, I'v tried several times (clicking "Go To Report") to find a page to request permission. It turns out clicking "Go To Report" just makes an email request to administrators. So, I am sorry if you got multiple emails. :)

[2020-08-11 02:31] jimangel commented on #22960
@seokho-son @girikuncoro I don't know if that method is working. Feel free to send multiple requests 😄 but I do not see the requests on my end.

I will dig deeper into this as I believe view / read access to these analytics should be open to anyone who wants them.

Give me a few days to look into this and let me know @girikuncoro if you experience the same. Thanks!

[2020-08-11 02:42] #21004 closed

[2020-08-11 05:36] #22641 closed

[2020-08-11 06:19] zub0r commented on #20919
Still an issue
/remove-lifecycle stale

[2020-08-11 08:01] Evalle commented on #23067
I think I can help with this one, if it's OK
/assign

[2020-08-11 09:38] habibrosyad commented on #22980
/assign

[2020-08-11 09:53] sftim commented on #23067
Anyone is welcome to open a pull request that makes the changes suggested, or otherwise helps get the issue done.

[2020-08-11 17:48] celestehorgan commented on #22962
Wording for review: This section contains links to third party projects which provide functionality required by Kubernetes. The Kubernetes project authors are not responsible for these projects. Projects are listed alphabetically, in accordance with [CNCF website guidelines]. To add a project to this list, read the <a href="/contribute/style/content-guide/#third-party-content">content guide</a> be

[2020-08-11 17:56] jimangel commented on #22960
Discussion at 8/11/2020:
@sftim "this probably should be a working group"
@zacharysarah "Maybe a sub group would be better"

To do:

- [ ] boost localization sub group in channels / email / slack
- [ ] setup a slack channel
- [ ] add contributor ladder discussion into scope

[2020-08-11 18:07] irvifa commented on #22895
Hi @blueabysm have you try doing `make container-partial-serve LANG=en` ?

[2020-08-11 18:12] sftim opened #23080 "Add CKS to training page"
**This is a Feature Request**

**What would you like to be added**
Add the new CKS (_Certified Kubernetes Security Specialist_) qualification to the [training page](https://kubernetes.io/training/).

**Why is this needed**
https://www.cncf.io/blog/2020/07/15/certified-kubernetes-security-specialist-cks-coming-in-november/

**Comments**
Related to https://github.com/cncf/curriculum/issues/39
/langu

[2020-08-11 18:12] sftim commented on #23080
@celestehorgan let's collaborate to put everything in place to make this into a Good First Issue.

[2020-08-11 18:16] jimangel commented on #22962
Related: https://github.com/kubernetes/website/issues/22961

[2020-08-11 18:36] sftim commented on #22489
Here's a mockup of how I think the status could show up when link checking fails:
![Mockup](https://user-images.githubusercontent.com/22591623/89935346-f2876f80-dc09-11ea-965d-504c646d75c0.png)

[2020-08-11 18:37] sftim commented on #22489
(right now I don't know the magic / code to make that happen though, sorry)

[2020-08-11 18:40] BenTheElder commented on #22489
prow cannot do checks currently, due to not being a github app (and the API
only being available to apps)

On Tue, Aug 11, 2020 at 11:37 AM Tim Bannister <notifications@github.com>
wrote:

[2020-08-11 20:30] zacharysarah commented on #22960
Slack channel requested: https://github.com/kubernetes/community/issues/5026

[2020-08-11 22:58] pushkarv opened #23082 "Legend wrong on a diagram"
**This is a Bug Report**

**Problem:**
The following page has a purple cube labeled as a Pod, but should be a containerized app when remaining consistent with the website diagrams.

**Proposed Solution:**
Change diagram to label purpose cube as a "Containerized app".

**Page to Update:**
https://kubernetes.io/docs/tutorials/kubernetes-basics/expose/expose-intro/

![image](https://user-images.githu

[2020-08-12 01:35] blueabysm commented on #22895
Hi @irvifa . I've tried `make container-partial-serve LANG=en`, but got
[code]
Before doing, I've pulled from this repo to ensure that the main branch of my fork points to the same as the upstream.

[2020-08-12 01:55] seokho-son commented on #23050
@jihoon-seo Could you help us fix this issue ?
If you can, you can self assign this issue and open a PR to master branch.
(FYI, Korean l10n team guide contributors to use Korean working branch, such as dev-1.18-ko.10, for general localization contributions. But, we accept bug fix PR to master branch to sync with EN changes.)

[2020-08-12 02:38] tengqm opened #23085 "[zh] translate /docs/tasks/manage-kubernetes-objects/imperative-command.md"
/language zh

[2020-08-12 02:39] tengqm opened #23086 "[zh] translate /docs/tasks/manage-kubernetes-objects/declarative-config.md"
/language zh

[2020-08-12 03:37] irvifa commented on #22895
Seems like the Dockerimage doesn’t exist. You haven’t build that on your local yet. I need to investigate the one without Docker though.

[2020-08-12 03:53] blueabysm commented on #22895
Appreciated for your work! 😃

[2020-08-12 04:38] pjhwa opened #23089 "Issue with k8s.io/docs/concepts/configuration/secret/"
**This is a Bug Report**

**Problem:**
**Line 355**: _There is no description before the code._
[code]

**Line 1005**: _There is no description before the code._
[code]

**Proposed Solution:**
**Line 355**:

You can view a description of the secret:

[code]

**Line 1005**:

You can also create a secret for test environment credentials.

[code]

**Page to Update:**
https://kubernetes.io/docs/concep

[2020-08-12 04:42] pjhwa commented on #23089
/assign

[2020-08-12 05:29] jihoon-seo commented on #23050
@seokho-son
Sure! I will handle it.

[2020-08-12 08:23] takaf04 opened #23093 "Translate docs/reference/glossary/secret into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate docs/reference/glossary/secret into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-08-12 08:32] yakirch opened #23095 "Issue with k8s.io/docs/tasks/access-application-cluster/ingress-minikube/"
**This is a Bug Report**

**Problem:**
it seems that there is wrong  indentation example-ingress.yaml

**Proposed Solution:**
change to:
  - path: /
    backend:
      serviceName: web
      servicePort: 8080

instead of:

  - path: /
backend:
  serviceName: web
  servicePort: 8080

**Page to Update:**
https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/

Additional Inform

[2020-08-12 09:14] fabriziopandini commented on #20952
/remove-lifecycle stale

[2020-08-12 09:14] fabriziopandini commented on #20953
/remove-lifecycle stale

[2020-08-12 10:20] mick62 commented on #22582
I did some further research. According to <https://goessner.net/articles/JsonPath/> there is no support for jsonpath sub-expressions. I think that should be stated on the doc reference page.

 But thanks to shell sub-expressions it's possible to use a one-line work-around, e.g.

`kcv -o=jsonpath="{.clusters[?(@.name=='$(kubectl config current-context)')].cluster.server}"`

Btw. for the specific us

[2020-08-12 10:48] Cweiping commented on #23095
Thank you for your submission and have tried to fix it.

/kind bug
/language en
/assign

[2020-08-12 11:27] sftim opened #23101 "Document task “Update a ConfigMap”"
**This is a Feature Request**

**What would you like to be added**
- Explain how to update the configuration of (a set of) Pods that use a ConfigMap
- Detail what to do if you want to affect the behavior of a workload that is already deployed and running
- Tell the reader how to make this work if they are using immutable ConfigMaps

**Why is this needed**
If you search on a typical web search engi

[2020-08-12 12:52] shuuji3 opened #23104 "Translate reference/setup-tools/kubeadm into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [reference/setup-tools/kubeadm](https://kubernetes.io/docs/reference/setup-tools/kubeadm) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-08-12 13:22] pjhwa commented on #20327
/assign

[2020-08-12 18:40] zacharysarah commented on #22962
@celestehorgan How about:

[2020-08-12 19:44] celestehorgan commented on #22962
@zacharysarah LGTM, I'll go ahead and implement. Thank you for the edit!

[2020-08-12 20:26] #23030 closed

[2020-08-12 23:46] josephdubeau opened #23108 "Issue with k8s.io/docs/tasks/tools/install-minikube/"
**This is a Bug Report**

**Problem:**
It doesn't create the vm in hyperV.  I tried many times, minikube start, but it never finishes. Even if manually create both the vm and set up an external network.  It never finishes.
**Proposed Solution:**
test it before offering to the public.
**Page to Update:**
https://kubernetes.io/...

[2020-08-13 00:20] pjhwa commented on #20327
@ysyukr 오랫동안 진행이 어려우신 것 같아서 제가 번역했습니다. (미리 말씀 못드려서 죄송합니다. 번역한 이후에 이 이슈가 올라와있다는 것을 알아서...)

[2020-08-13 05:32] hase1128 opened #23112 "Translate reference/setup-tools/kubeadm/kubeadm-version/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate  [reference/setup-tools/kubeadm/kubeadm-version/](https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-version/) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-08-13 07:30] #23093 closed

[2020-08-13 12:44] #23067 closed

[2020-08-13 13:07] nishipy opened #23120 "Translate concepts/cluster-administration/cloud-providers/ into Japanese"
**This is a Feature Request**

 **What would you like to be added**
Translate the following document into Japanese.
https://kubernetes.io/docs/concepts/cluster-administration/cloud-providers/

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-08-13 13:10] nishipy opened #23121 "Translate concepts/cluster-administration/manage-deployment/ into Japanese"
**This is a Feature Request**

 **What would you like to be added**
Translate the following document into Japanese.
https://kubernetes.io/docs/concepts/cluster-administration/manage-deployment/

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-08-13 13:24] OleksandrGavryliukTR opened #23122 "Sample yaml doesn't work k8s.io/docs/tasks/configure-pod-container/extended-resource/"
**Problem:**
Using the following tutorial:
https://kubernetes.io/docs/tasks/configure-pod-container/extended-resource/
Run
`kubectl apply -f https://k8s.io/examples/pods/resource/extended-resource-pod.yaml`
The pod does not start due to:
`Insufficient example.com/dongle`

**Proposed Solution:**
I don't know

**Page to Update:**
https://kubernetes.io/docs/tasks/configure-pod-container/extended-reso

[2020-08-13 14:34] shuuji3 opened #23123 "Translate community pages into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [community](https://kubernetes.io/community) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-08-13 16:24] sftim commented on #16281
/area web-development

[2020-08-13 16:38] sftim commented on #6525
/wg naming

[2020-08-13 18:30] zacharysarah commented on #16281
@RobertKielty

Yeah, that's a beast of a table. Sorting would definitely be nice to have!

[2020-08-13 19:43] sftim commented on #16281
/priority important-longterm
/remove-priority awaiting-more-evidence
/remove-lifecycle stale

[2020-08-13 20:04] sftim commented on #16772
I noticed that there are actually SVG logo images available, so we could / should convert the site to use these.

[2020-08-13 21:12] wabernatScality commented on #20862
Tim: Thanks again for taking the time to respond.

I do not think you have thought your worry all the way through. Downstream localizations are set in their own languages, each of which has its own rules and orthography. The German translator, for example, must capitalize all nouns, making no distinction for proper or improper nouns, as is customary in that language. Other languages (pictographic

[2020-08-13 21:25] kbhawkey commented on #23020
/close

[2020-08-13 21:25] #23020 closed

[2020-08-13 21:27] kbhawkey commented on #22819
/close

[2020-08-13 21:28] #22819 closed

[2020-08-13 21:50] kbhawkey commented on #22016
Another idea: Remove the version info
from the reference directory pages and URLs and instead use something like:
`kubernetes.io/docs/reference/kubernetes-api/` as a permanent URL for the latest or current version of the API reference.
Could remove the "api-index" page and move the "taints" reference page to another directory.
The API reference source could reside directly under `static/docs/refer

[2020-08-14 01:47] kbhawkey opened #23132 "adjust TOC character length check"
**This is a Feature Request**

The reference component tool pages do not display a right hand TOC.
The length of the generated Table of Contents (Synopsis, Options) is less than
the threshold set in the theme's toc template.

A right hand TOC would be useful for the tool pages as the pages typically contain
option/flag tables with > 20 lines of table data.

**What would you like to be added**
Modi

[2020-08-14 01:47] kbhawkey commented on #23132
Temporarily assigning.
/assign

[2020-08-14 02:07] tengqm opened #23133 "[zh] Translate /docs/tasks/configure-pod-container/configure-gmsa.md"
/language zh

[2020-08-14 02:23] Cweiping commented on #23122
Did you complete the precondition?
https://kubernetes.io/docs/tasks/administer-cluster/extended-resource-node/

[2020-08-14 02:23] Cweiping commented on #23122
/triage support

[2020-08-14 03:48] #23104 closed

[2020-08-14 05:33] OleksandrGavryliukTR commented on #23122
No

[2020-08-14 08:07] trondhindenes opened #23136 "Improvement for k8s.io/docs/concepts/overview/working-with-objects/common-labels/"
Listing recommended labels is really awesome, but I noticed that information about an app's "environment" or "stage" is missing from the recommendation. This causes problems in (amont other areas) monitoring system where labels are used for grouping - for instance it will be difficult to separate "staging" from "prod" if an app is deployed to both environments.

[2020-08-14 08:18] nishipy opened #23137 "Issue with k8s.io/docs/concepts/cluster-administration/cloud-providers/"
**This is a Bug Report**

**Problem:**
Hi.
When I translated this page into Japanese(#23120),
I found that the link for `[kubenet]` does not seems to set in [this section](https://kubernetes.io/docs/concepts/cluster-administration/cloud-providers/#route).

**Proposed Solution:**
[code]
**Page to Update:**
https://kubernetes.io/docs/concepts/cluster-administration/cloud-providers/

/assign nishipy

[2020-08-14 08:21] nishipy commented on #23137
/language en

[2020-08-14 08:29] nishipy commented on #23137
If this is bug and the **Proposed Solution** above  works for it, I can create Pull Request soon.

[2020-08-14 08:33] sftim commented on #20862
Always capitalize resource names.

[2020-08-14 08:49] sftim commented on #21797
Voting on Slack strongly prefers https://github.com/kubernetes/website/pull/22043

[2020-08-14 08:53] sftim commented on #22016
If we do that, how can someone find the API reference for a specific release, or find the URL for that to share with someone? Because releases change the API it seems important that readers can select the API version they want to read up about.

[2020-08-14 09:21] tle209 opened #23139 "Issue with k8s.io/docs/tutorials/kubernetes-basics/scale/scale-interactive/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-08-14 09:22] #23139 closed

[2020-08-14 13:36] kbhawkey commented on #22016
Still thinking on this.
The snapshot versions maintain the version information in the URL.
The current docs (kubernetes.io) serve the "current or latest" version of the API reference as "kubernetes-api".
Readers know what version they are reading based upon the information provided on the page/site.
I _think_ we could do a better job of identifying the version number of the published docs.

[2020-08-14 14:52] jayunit100 opened #23144 "doc page on metrics and debugging of conntrack, ipv6, ipv4"
**This is a Feature Request**

**What would you like to be added**

We need a doc page on "Debugging networking using the Kubernetes end-to-end tests", for what  metrics to use to monitor and understand and ipvv6/ipv4/conttrack/iptables/kube-proxy datapath  debugging for different installation modes (dualstack, ipv6 only, ipv4 only).

Seems like it also should give examples of how iptables rules f

[2020-08-14 15:41] sftim commented on #22016
Also, ultimately I'd like to publish API references for patch versions as well - or, at least, I'd prefer not to make that more difficult to add.

[2020-08-14 15:59] sftim commented on #23144
/sig network
/kind feature

[2020-08-14 15:59] sftim commented on #23144
Maybe also /sig usability

[2020-08-14 16:00] sftim commented on #23144
/language en
/priority backlog

[2020-08-14 16:01] sftim commented on #23082
/kind cleanup
/language en

[2020-08-14 16:04] sftim commented on #23137
/sig cloud-provider

[2020-08-14 16:26] ysyukr commented on #20327
저는 괜찮습니다. 😄
제가 빠르게 하지 못한거니까요. 조만간 다시 리뷰도 하고, 번역도 참여하도록 하겠습니다.
코멘트 남겨주셔서 감사합니다.

[2020-08-14 16:26] #20327 closed

[2020-08-14 17:39] eth0xFEED commented on #23144
/assign

[2020-08-14 19:44] #14101 closed

[2020-08-14 21:57] lujia-zhang commented on #12657
@Dafnafrank Do you have any update on this issue? We're facing similar issue with hpa and would like to see if there is any solution for that.

[2020-08-15 04:39] lgypro opened #23152 "Issue with k8s.io/docs/setup/release/version-skew-policy/"
**This is a Bug Report**

**Problem:**
The example used to verify the relationship between the version of kube-proxy and kube-apiserver is problematic
**Proposed Solution:**
The version of kube-proxy must be less than or euqual to the version of kube-apiserver, so if the version of kube-proxy is 1.18, the version of kube-apiserver can be 1.18, 1.19 and 1.20.
The setence should be "kube-apiserver v

[2020-08-15 09:34] Arhell opened #23154 "remove "extra indent" fr lang page"
**This is a Bug Report**

**Problem:**
![8019b9c4f4](https://user-images.githubusercontent.com/26163841/90309716-96ffff00-def3-11ea-96ad-75d760a7c598.jpg)

**Proposed Solution:**
remove 1-e br like en version

**Page to Update:**
https://kubernetes.io/fr/#video

/language fr
/assign
/area web-development

[2020-08-15 11:44] Sikiryl opened #23156 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/"
**This is a Bug Report**

**Problem:**
I cannot find how to install Pod Network Plugins such as Kube-Router, Calico, Weave-Net and so on
in the past, I used that section for install weave-net
```$ kubectl apply -f "https://cloud.weave.works/k8s/net?```
now, they have gone.

**Proposed Solution:**
Bring them back in #pod-network section

**Page to Update:**
https://kubernetes.io/...

[2020-08-15 11:48] neolit123 commented on #23156
hi, the removal is intentional, see:
https://github.com/kubernetes/website/pull/22600
https://github.com/kubernetes/website/pull/22600#issuecomment-673288168
https://github.com/kubernetes/website/issues/22961

/triage support
/close
/sig cluster-lifecycle

[2020-08-15 11:48] #23156 closed

[2020-08-15 11:58] neolit123 commented on #23152
thanks for finding this problem.
PRs welcome!

/help
/good-first-issue
/sig docs architecture
/priority important-longterm

[2020-08-15 12:18] bells17 commented on #21813
/close

[2020-08-15 12:18] #21813 closed

[2020-08-15 12:47] sftim commented on #16281
Revising priority based on discussion
/remove-priority important-longterm
/priority backlog

[2020-08-15 12:49] sftim commented on #16252
/area web-development

[2020-08-15 13:24] notras opened #23160 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/"
**This is a Bug Report**

<img width="743" alt="previousadons" src="https://user-images.githubusercontent.com/43639563/90313238-9b3c1480-df13-11ea-925a-4278528c9ce3.png">
![actualCNI](https://user-images.githubusercontent.com/43639563/90313242-9ecf9b80-df13-11ea-9b1f-897b6bb8d10b.png)
Problem
Links for for deployment CNI plugins have been disappear from documentation:

**Proposed Solution:**
rever

[2020-08-15 14:45] habibrosyad commented on #23152
/assign

[2020-08-15 16:30] neolit123 commented on #23160
hi, the removal is intentional, see:
#22600
#22600 (comment)
#22961

/triage support
/close
/sig cluster-lifecycle

[2020-08-15 16:31] #23160 closed

[2020-08-15 20:30] mpechner opened #23167 "Tutorials overview links to outdated CI/CD Pipeline pages"
**This is a Bug Report**

CI/CD Pipeline utorials  horribly out of date.  Depends on kubernetes 1.6

**Proposed Solution:**
I wish I had the time to work on this.  Remove it or update it.

**Page to Update:**
https://kubernetes.io/...

https://kubernetes.io/docs/tutorials/
Links to out of date tutirial: CI/CD Pipeline

[2020-08-16 05:42] tengqm opened #23171 "[zh] Translate /docs/tasks/tls/manual-rotation-of-ca-certificates.md"
/language zh

[2020-08-16 06:40] brianmay commented on #16801
According to https://kubernetes.io/docs/concepts/services-networking/dual-stack/#services `ipFamily` is suppose to be optional. Is that not correct?

[2020-08-16 08:29] shuuji3 opened #23175 "Translate tasks/configure-pod-container/assign-pods-nodes-using-node-affinity into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [tasks/configure-pod-container/assign-pods-nodes-using-node-affinity](https://kubernetes.io/docs/tasks/configure-pod-container/assign-pods-nodes-using-node-affinity) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-08-16 09:21] #18612 closed

[2020-08-16 09:21] #19210 closed

[2020-08-16 11:46] shuuji3 opened #23179 "Translate tasks/configure-pod-container/static-pod into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [tasks/configure-pod-container/static-pod](https://kubernetes.io/docs/tasks/configure-pod-container/static-pod) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-08-16 13:08] jayunit100 commented on #23144
https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/ <-- this one seems like its a good start.

Maybe go over it, and lets add new topics to it, including how to
- use e2e test filter `intra-pod` with something like sonobuoy to quickly diagnose failures at a high level
- maybe also worth putting a high level series of `steps` at the top of the doc.  right now I think it might

[2020-08-16 15:58] sftim commented on #23167
/kind cleanup
/priority important-longterm
/language en
/help

I recommend removing the https://kubernetes.io/docs/tutorials/#ci-cd-pipeline section entirely, it _is_ really out of date; also, even though the links are to external documentation the reference to Jenkins isn't really in the spirit of the [third party content](https://kubernetes.io/docs/contribute/style/content-guide/#third-party-con

[2020-08-16 15:59] sftim commented on #23167
/retitle Tutorials overview links to outdated CI/CD Pipeline pages

[2020-08-16 16:36] Arhell commented on #23154
/close

[2020-08-16 16:36] #23154 closed

[2020-08-16 17:37] sftim commented on #17232
/remove-lifecycle stale

[2020-08-16 17:52] sftim commented on #16379
/remove-lifecycle rotten

Would be good to document this.

[2020-08-16 21:22] #22980 closed

[2020-08-16 22:56] habibrosyad commented on #23167
/assign

[2020-08-17 02:14] #23010 closed

[2020-08-17 04:04] jacques414 opened #23194 "Issue with k8s.io/fr/docs/setup/custom-cloud/kops/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-08-17 09:12] sftim commented on #23080
Duplicate of issue #22625
/close

[2020-08-17 09:12] #23080 closed

[2020-08-17 09:20] avadhut007 opened #23203 "Issue with k8s.io/docs/tasks/run-application/run-stateless-application-deployment/"
**This is a Bug Report**

**Problem:**
The Deployment "nginx-deployment" is invalid:
* spec.template.metadata.labels: Invalid value: map[string]string{"app":"nginx"}: `selector` does not match template `labels`
* spec.selector: Invalid value: v1.LabelSelector{MatchLabels:map[string]string{"app":"nginx", "service":"nginx-label"}, MatchExpressions:[]v1.LabelSelectorRequirement(nil)}: field is immuta

[2020-08-17 09:26] #23203 closed

[2020-08-17 09:41] irvifa commented on #22895
@blueabysm can you take a look on https://gist.github.com/tombigel/d503800a282fcadbee14b537735d202c#gistcomment-3288161 This works for both of Catalina and Mojave

[2020-08-17 10:29] rayw000 commented on #22895
@irvifa Thanks for your reply. It works!
According to https://gist.github.com/tombigel/d503800a282fcadbee14b537735d202c#file-load-sh this script, what I missed is `limit.maxproc.plist` file.
BTW, I'll use this new account mainly from now on. The previous account @blueabysm will still receive email notifications.
How would you think if I write this down into https://github.com/kubernetes/website/bl

[2020-08-17 11:08] PmcFizz opened #23204 "Issue with k8s.io/docs/tutorials/hello-minikube/"
not  find  image  k8s.gcr.io/echoserver:1.4

[2020-08-17 11:38] sftim commented on #23194
Y-a-t'il un problème là (https://k8s.io/fr/docs/setup/custom-cloud/kops/)?

S'il y a un problème et vous l'expliquez, on peut trier (faire _triage_ à) cet issue; ensuite, on peut essayer de le corriger.

/lang fr

[2020-08-17 14:12] irvifa commented on #22895
Okay I'll write it down in my next PR. I'm working on it right now.

[2020-08-17 14:15] takaf04 opened #23205 "Translate docs/concepts/security/_index into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate docs/concepts/security/_index into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-08-17 14:16] takaf04 opened #23206 "Translate docs/concepts/security/overview into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate docs/concepts/security/overview into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-08-17 14:21] irvifa commented on #22895
@rayw000 I put it on https://github.com/kubernetes/website/pull/23207

[2020-08-17 14:25] rayw000 commented on #22895
Haha you've done exactly what I meant to do. Thanks a lot! 😄

[2020-08-17 16:08] sftim commented on #23194
/triage needs-information
/language fr

[2020-08-17 16:08] #22094 closed

[2020-08-17 16:10] sftim commented on #23204
I checked if image `k8s.gcr.io/echoserver:1.4` is available.

[code]

@PmcFizz I think the page is correct, but maybe something about the way your cluster is set up stops you being able to pull images. Does that sound plausible?

[2020-08-17 17:37] katlimruiz opened #23211 "Improvement for k8s.io/docs/concepts/overview/working-with-objects/annotations/"
in nginxinc ingress, the rewrite paths are included in a single annotation, so there could be quite a lot.

It would be cool to know the max size of an annotation as a whole, and the value. It only states about the key.

[2020-08-17 17:56] savitharaghunathan commented on #20624
/milestone 1.19
/assign

[2020-08-17 21:21] #23205 closed

[2020-08-17 22:21] shuuji3 opened #23212 "Translate contribute/style into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [contribute/style](https://kubernetes.io/docs/contribute/style) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-08-17 22:24] shuuji3 opened #23214 "Translate contribute/style/content-guide into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [contribute/style/content-guide](https://kubernetes.io/docs/contribute/style/content-guide) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-08-17 22:27] shuuji3 opened #23216 "Translate contribute/style/content-organization into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [contribute/style/content-organization](https://kubernetes.io/docs/contribute/style/content-organization) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-08-18 03:00] PmcFizz commented on #23204
Hi  thank you repley my issue。

I use docker pull `k8s.gcr.io/echoserver:1.4 `
will appear
[code]
![image](https://user-images.githubusercontent.com/13403284/90465385-d9b71680-e141-11ea-9adf-4d50c14e8e3c.png)

and I don‘t find this image on `hub.docker.com`

[2020-08-18 08:36] Arhell opened #23224 "translate subscribe button"
**This is a Feature Request**

**What would you like to be added**
https://kubernetes.io/pt/#kubeweekly

**Why is this needed**
translate button

/assign
/language pt

[2020-08-18 09:51] bluefriday commented on #22609
@seokho-son @jmyung  해당 문서의 번역 작업을 완료했는데, 현 브랜치(dev-1.18-ko.10)가 현재 freeze 상태인 것 같습니다.
merge 이후 다음 브랜치에 PR 을 올리도록 하겠습니다.

[2020-08-18 12:22] seokho-son commented on #22609
@bluefriday  감사합니다... 👍

말씀하신대로, dev-1.18-ko.10 는 freeze 상태이고 8월 20일~21일 경에 master에 머지 예정입니다.
그리고 다음 작업 브랜치가 열리기까지 잠시 휴식시간이 있을 예정입니다.. ㅎㅎ

조만간 1.19가 릴리스(master에 머지)될 예정(8월 25일경)이라, 릴리스에 미치는 영향을 최소화하기 위해서
1.19가 릴리스될때까지, 신규 한글화 작업 브랜치를 생성하지 않습니다.

1.19가 릴리스(8월 25일 이후)되면,
기존 master는 release-1.18 브랜치를 만들어서 관리하고,
dev-1.19는 master에 머지됩니다.

여기서 한글화팀의 작업 브랜치도 2개가 만들어질 예정입니다.
1. release-1.18을 base로 하는 관리용

[2020-08-18 14:17] #22418 closed

[2020-08-18 16:13] #23031 closed

[2020-08-18 17:43] sftim commented on #23204
@PmcFizz are you in a country with state-level censorship, or connecting from behind a filtering security appliance? That might explain the symptoms. I think the documentation page is accurate.

/triage support

[2020-08-18 18:15] sftim commented on #22777
/language en

[2020-08-18 19:17] #19288 closed

[2020-08-18 20:41] irvifa commented on #22895
/close
via https://github.com/kubernetes/website/pull/23207

[2020-08-18 20:41] #22895 closed

[2020-08-18 21:31] kbhawkey commented on #21797
Looks like two PRs were merged to resize/remove the header.
/close

[2020-08-18 21:31] #21797 closed

[2020-08-18 21:33] #23152 closed

[2020-08-18 23:31] sftim commented on #23224
/priority backlog

[2020-08-19 00:17] shuuji3 opened #23232 "Update Japanese localization on tasks/tools"
**This is a Feature Request**

**What would you like to be added**

Update Japenese localization on [tasks/tools](https://kubernetes.io/docs/tasks/tools).

**Why is this needed**

This page is updated in the master branch.

**Comments**

/language ja
/assign

[2020-08-19 01:26] bluefriday commented on #22609
@seokho-son

네 자세하게 말씀해주셔서 감사합니다. dev-1.19-ko.1 이 생성되면, 현재 문서도 변경분을 고려하여 다시 한글화 해서 PR 을 올리겠습니다~

[2020-08-19 06:52] shuuji3 commented on #22892
I found another inconsistent style on the page [Set up Ingress on Minikube with the NGINX Ingress Controller](https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/).

**Current style**
![v1 17](https://user-images.githubusercontent.com/1425259/90601898-d7cd8000-e233-11ea-9c6e-69491b136ecc.png)

**Previous style (v1.17)**

![master](https://user-images.githubusercontent.com/

[2020-08-19 07:27] #23167 closed

[2020-08-19 07:44] rayw000 commented on #22892
/remove-lifecycle rotten

[2020-08-19 07:54] #23204 closed

[2020-08-19 08:07] sftim commented on #23043
Fixed in #23229
/close

[2020-08-19 08:07] #23043 closed

[2020-08-19 10:10] oke-py opened #23237 "sort common words alphabetically in Japanese localization guide"
**This is a Feature Request**

**What would you like to be added**

I'd like to sort "頻出単語", common words alphabetically in Japanese localization guide.
https://kubernetes.io/ja/docs/contribute/localization/

**Why is this needed**
It'll be easier to find a word in the list.

**Comments**

/language ja
/assign

[2020-08-19 11:03] timstoop opened #23239 "Issue with k8s.io/docs/reference/scheduling/profiles/"
**This is a Bug Report**

**Problem:** The links to the component config APIs (https://pkg.go.dev/k8s.io/kube-scheduler@v1.18.0/config/v1alpha1?tab=doc#KubeSchedulerConfiguration and https://pkg.go.dev/k8s.io/kube-scheduler@v1.18.0/config/v1alpha2?tab=doc#KubeSchedulerConfiguration) lead to missing pages (404s).

**Proposed Solution:**

Removing the `@1.18.0` from those links works, but will link

[2020-08-19 11:10] sftim opened #23240 "Revise full link target for kube-apiserver glossary term"
**This is a clean-up request**

**Problem:**
Pages such as [The Kubernetes API](https://kubernetes.io/docs/concepts/overview/kubernetes-api/) use the [glossary shortcode](https://kubernetes.io/docs/contribute/style/hugo-shortcodes/#glossary) for the term “_API Server_”. At the moment that shortcode hyperlinks to https://kubernetes.io/docs/reference/generated/kube-apiserver/ which then redirects to

[2020-08-19 11:10] sftim commented on #23239
/sig scheduling

[2020-08-19 11:11] sftim commented on #22964
Duplicated by issue #23239

[2020-08-19 11:11] sftim commented on #23239
/triage duplicate

[2020-08-19 11:12] sftim commented on #23239
#22964 is a similar report; I recommend closing this issue in favor of #22694

[2020-08-19 11:29] #23237 closed

[2020-08-19 12:07] sftim commented on #22625
@celestehorgan let's collaborate to put everything in place to make this into a Good First Issue.

[2020-08-19 13:10] Evalle commented on #23240
/assign

[2020-08-19 13:37] #23212 closed

[2020-08-19 16:12] kakts opened #23242 "ja: Make docs/concepts/containers/runtime-class.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/containers/runtime-class.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/containers/runtime-class.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/concepts/con

[2020-08-19 16:14] kakts opened #23243 "ja: Make docs/concepts/containers/container-lifecycle-hooks.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/containers/container-lifecycle-hooks.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/containers/container-lifecycle-hooks.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/cont

[2020-08-19 16:17] kakts opened #23244 "ja: Make docs/concepts/containers/_index.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/containers/_index.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/containers/_index.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/concepts/containers/_index

[2020-08-19 16:18] kakts opened #23245 "ja: Make docs/concepts/configuration/secret.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/configuration/secret.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/configuration/secret.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/concepts/configurati

[2020-08-19 16:20] kakts opened #23246 "ja: Make docs/concepts/configuration/overview.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/configuration/overview.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/configuration/overview.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/concepts/configu

[2020-08-19 16:27] kakts opened #23247 "ja: Make docs/concepts/configuration/overview.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/configuration/overview.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/configuration/overview.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/concepts/configu

[2020-08-19 16:32] kakts opened #23248 "ja: Translate docs/concepts/configuration/manage-resources-containers.md into Japanese"
**This is a Feature Request**

**What would you like to be added**
Translate docs/concepts/configuration/manage-resources-containers.md into Japanese.
**Why is this needed**
content/ja/docs/concepts/configuration/manage-resources-containers.md is not translated into Japanese.

**Comments**
/language ja
/good-first-issue

File to create
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/conte

[2020-08-19 16:34] kakts opened #23249 "ja: Translate docs/concepts/configuration/configmap.md into Japanese"
**This is a Feature Request**

**What would you like to be added**
Translate docs/concepts/configuration/configmap.md into Japanese
**Why is this needed**
docs/concepts/configuration/configmap.md is not translated into Japanese.

**Comments**
/language ja
/good-first-issue

File to create
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/concepts/configuration/configmap.md

[2020-08-19 16:45] kakts opened #23250 "ja: Make docs/concepts/cluster-administration/networking.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/cluster-administration/networking.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/cluster-administration/networking.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja