[2021-08-12 15:21] sftim commented on #27534
also
/wg api-expression

[2021-08-12 15:21] sftim commented on #27534
/remove-lifecycle rotten

[2021-08-12 15:35] sftim commented on #27008
I have a feeling that this might have been addressed in https://github.com/kubernetes/website/pull/27129

/remove-good-first-issue

[2021-08-12 16:38] marosset commented on #29056
/close
This has been addressed with #29063

[2021-08-12 16:39] #29056 closed

[2021-08-12 16:40] marosset commented on #28203
/cc @jsturtevant @claudiubelu

[2021-08-12 16:44] catija commented on #28035
Hiya, @sftim :) I wanted to check in on this, it doesn't look like any changes have been made on this and I wanted to see if this was something that could get poked at.

I appreciate that y'all are likely really busy with other things so I understand the delay but I thought I'd see if this was still something you were looking at.

Thanks!

[2021-08-12 17:05] #28917 closed

[2021-08-12 17:10] sftim commented on #29289
/retitle Broken example in Configuration Best Practices concept

[2021-08-12 17:33] neolit123 commented on #24558
@tengqm
i started playing with this but i noticed one problem in kubeadm.
kubeadm recently added a panic if the binary build version information is not included via Go's ldflags to indicated to users that the binary was not built properly, which blocks the usage of
https://github.com/kubernetes-sigs/reference-docs/blob/master/gen-compdocs/generators/gen_kube_docs.go#L89
in the generator (and a cal

[2021-08-12 18:02] neolit123 commented on #24558
/assign

[2021-08-12 18:14] sftim commented on #28035
This is a backlog item I'm afraid. @catija did you want to open a pull request to update things?

[2021-08-12 20:07] rikatz commented on #13939
@MarcosNBJ @stormqueen1990 go for it, just make sure you put your github handler on the control spreadsheet: https://docs.google.com/spreadsheets/d/1HiaVFJ7nRZo1MPNNYyq1u-L_N9xrJvzuUzkZ3GuJGNU/edit

If it's ready for review, ping us on Slack -> kubernetes.slack.com // #kubernetes-docs-pt

Thanks!

[2021-08-12 20:21] jaypipes opened #29348 "Custom controller and declarative API documentation mixup"
**This is a Bug Report**

**Problem:**

In the [Custom Controllers](https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/custom-resources/#custom-controllers) section of the [custom resources documentation](https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/custom-resources), the second paragraph's first sentence is mixed up:

I've bolded the part of the sentence th

[2021-08-12 20:30] MarcosNBJ commented on #13939
Alright, control spreadsheet updated. Thank you!

[2021-08-12 20:34] slimamari opened #29350 "The Kubernetes API"

[2021-08-12 21:34] balacc opened #29351 "Issue with k8s.io/docs/tasks/administer-cluster/namespaces/"
See namespace design under What's next? section returns 404.

[2021-08-13 03:38] anubha-v-ardhan opened #29353 "[hi] Tracking Hindi localization progress"
Summary of progress till now: https://github.com/kubernetes/website/issues/29353#issuecomment-919357503

Our current aim is to get the localization live first with [minimum required content](https://kubernetes.io/docs/contribute/localization/#minimum-required-content). We will be ready to expand the localization including other pages once bare minimum version goes live.

# Maintainers
Approvers:
-

[2021-08-13 03:38] anubha-v-ardhan commented on #29353
/language hi

[2021-08-13 04:10] verma-kunal commented on #29353
Nice work @anubha-v-ardhan !! 👍

[2021-08-13 04:10] verma-kunal commented on #29353
/assign

[2021-08-13 04:11] anubha-v-ardhan commented on #13957
Folks! we are continuing the effort on new issue #29353

[2021-08-13 04:13] anubha-v-ardhan commented on #29353
@verma-kunal Please don't assign the issue as this is a collective effort of many people. We want new contributors to see this as an unassigned issue on `issues` tab
/unassign @verma-kunal

[2021-08-13 04:15] verma-kunal commented on #29353
alright sure!! Understood 👍

[2021-08-13 04:22] verma-kunal commented on #29353
@anubha-v-ardhan , i think it would be good to mention the source folder of all the files as well, that needs to be localised
`https://github.com/kubernetes/website/tree/main/content/en`
this would be easier for new folks to navigate!!

[2021-08-13 04:29] anubha-v-ardhan commented on #29353
I have added location for the parent folders. For ease of new contributors, The identation of issue is as per their location in the website repo.

[2021-08-13 05:10] seokho-son commented on #29257
I will take M1 - M18 tasks ~!

- M1 - M18 : @seokho-son
- ...
- ...

[2021-08-13 05:21] verma-kunal commented on #29353
Remember folks, all the changes are needed to be done here: `https://github.com/kubernetes/website/tree/main/content/hi`.
That means, whenever you assign yourself a particular page, after localising that, refer the file structure in the `source folder` (English one) & create new files/folder according to that (with the Hindi localization)

Feel free to ask any doubts you would have in this 🙂

[2021-08-13 05:28] verma-kunal commented on #29353
I would be starting from the `website/content/en/docs/setup` folder from today, whenever I'll be getting the time !! 🙂

[2021-08-13 05:29] anubha-v-ardhan commented on #29353
@verma-kunal Please tajke one file at a time. A whole directory is a lot of work. Hope you understand

[2021-08-13 05:30] anubha-v-ardhan commented on #29353
I am working on `website/content/en/docs/_index.html`

[2021-08-13 05:31] verma-kunal commented on #29353
oops, wrong location added !! Changing now

[2021-08-13 05:34] keshavcodex commented on #29353
I am starting with this folder [website/content/en/docs/setup/_inde.html](https://github.com/kubernetes/website/blob/main/content/en/docs/setup/_index.md) to localise it.

[2021-08-13 05:34] ShivamTyagi12345 commented on #29353
I am working on `website\content\en\docs\setup\best-practices\node-conformance.md`

[2021-08-13 05:38] verma-kunal commented on #29353
@anubha-v-ardhan , how are we keeping the branch names (for us) !! I think we should decide a convention for that
what do you think?

[2021-08-13 05:39] anubha-v-ardhan commented on #29353
@verma-kunal personal branch names are your own choices, feel free to do it your own way. : )

[2021-08-13 06:05] jimangel opened #29354 "Updates for co-chair(s) to emeritus"
This is a tracking issue to move @irvifa and @kbarnard10 to emeritus based on their own request. At this time there are no replacements but we have began announcing the transition and encouraging folks to step up. I plan on sending out an email to SIG Docs with a more direct call to action in the near future (/cc @parispittman).

## Required changes

Co-chair transitions to emeritus require some u

[2021-08-13 06:38] anubha-v-ardhan opened #29356 "[hi] Localize content/en/docs/home/supported-doc-versions.md to Hindi"
This issue is a part of ongoing `hi` localization effort #29353

/language hi

[2021-08-13 06:39] anubha-v-ardhan commented on #29356
/assign @verma-kunal

[2021-08-13 06:43] anubha-v-ardhan opened #29358 "[hi] Localize content/en/docs/setup/_index.md to Hindi"
This issue is a part of ongoing `hi` localization effort #29353

/language hi

[2021-08-13 06:46] anubha-v-ardhan opened #29359 "[hi] Localize content/en/docs/setup/best-practices/node-conformance.md to Hindi"
This issue is a part of ongoing hi localization effort #29353

/language hi

[2021-08-13 06:48] anubha-v-ardhan commented on #29359
@ShivamTyagi12345 assign this to yourself using `/assign`

[2021-08-13 06:49] anubha-v-ardhan commented on #29358
@keshavcodex assign this to yourself using `/assign`

[2021-08-13 06:50] anubha-v-ardhan commented on #29356
@verma-kunal  assign this to yourself using `/assign`

[2021-08-13 06:52] anubha-v-ardhan opened #29360 "[hi] Localize content/en/docs/_index.md to Hindi"
This issue is a part of ongiong `hi` localization effort #29353

/language hi
/assign

[2021-08-13 07:00] verma-kunal commented on #29356
/assign

[2021-08-13 07:02] zhangguanzhang commented on #29327
I will take
[code]

[2021-08-13 07:12] verma-kunal commented on #29356
Ready for a PR!! 👍

[2021-08-13 07:14] ShivamTyagi12345 commented on #29359
/assign

getting started

[2021-08-13 07:20] verma-kunal commented on #29353
Working on `website/content/en/docs/home/_index.md` now!!

[2021-08-13 07:26] anubha-v-ardhan opened #29361 "[hi] Localize content/en/docs/home/_index.md to Hindi"
This issue is a part of ongoing hi localization effort #29353

/language hi

[2021-08-13 07:26] jihoon-seo opened #29362 "[ko] Wrong href to heading anchor"
**This is a Bug Report**

**Problem:**
In [here](https://kubernetes.io/ko/docs/tasks/run-application/horizontal-pod-autoscale/#horizontal-pod-autoscaler는-어떻게-작동하는가),
the link "메트릭 API를 위한 지원" is broken.

**Proposed Solution:**

[code]

**Page to Update:**
https://kubernetes.io/ko/docs/tasks/run-application/horizontal-pod-autoscale/#horizontal-pod-autoscaler는-어떻게-작동하는가

/language ko

[2021-08-13 07:27] jihoon-seo commented on #29362
/good-first-issue

[2021-08-13 07:29] verma-kunal commented on #29361
/assign

[2021-08-13 08:12] anubha-v-ardhan commented on #29353
Now working on `content/en/docs/setup/best-practices/_index.md`

[2021-08-13 08:14] anubha-v-ardhan opened #29365 "[hi] Localize content/en/docs/setup/best-practices/_index.md to Hindi"
This issue is a part of ongoing hi localization effort #29353

/language hi
/assign

[2021-08-13 08:15] anubha-v-ardhan commented on #29360
Ready for PR

[2021-08-13 08:28] jihoon-seo opened #29366 "[ko] Translation in `manage-resources-containers` can be improved"
**This is a Bug Report**

**Problem:**

[[English version](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-cpu)]

[[Korean version: As-is](https://kubernetes.io/ko/docs/concepts/configuration/manage-resources-containers/#cpu의-의미)]

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/ko/docs/concepts/configuration/manage-resources-containers/#

[2021-08-13 09:05] anubha-v-ardhan commented on #29365
Ready for PR

[2021-08-13 09:20] anubha-v-ardhan opened #29367 "[hi] Localize content/en/docs/setup/best-practices/certificates.md"
This issue is a part of ongoing `hi` localization effort #29353

/language hi
/assign

[2021-08-13 09:20] anubha-v-ardhan commented on #29353
Next I am working on `content/en/docs/setup/best-practices/certificates.md`

[2021-08-13 09:41] sftim commented on #29354
Thanks for many valuable contributions @kbarnard10 and @irvifa
I see this as entirely in good faith.

[2021-08-13 09:43] sftim commented on #29353
For `content/hi/docs/setup` you need to localize that page and its _direct subheadings_.
For example:
- https://kubernetes.io/docs/setup/ _needed_
- https://kubernetes.io/docs/setup/learning-environment/ _needed_ (including the redirect)
- https://kubernetes.io/docs/setup/production-environment/ _needed_
- https://kubernetes.io/docs/setup/production-environment/tools/ _eventually but **not for the

[2021-08-13 09:45] sftim commented on #29353
For tutorials, you _only_ need to localize
- https://kubernetes.io/docs/tutorials/kubernetes-basics/ (the whole tutorial - I recommend splitting this)
- https://kubernetes.io/docs/tutorials/hello-minikube/

as minimum required content.

[2021-08-13 09:49] sftim commented on #13957
/close
in favor of #29353

[2021-08-13 09:49] #13957 closed

[2021-08-13 09:49] sftim commented on #29353
/triage accepted

[2021-08-13 09:51] anubha-v-ardhan commented on #29353
Thank you so much @sftim, Our initial checklist includes the files suggested by you. We will try to attend localization meetings.

[2021-08-13 09:52] verma-kunal commented on #29353
Thank you for the info @sftim !! Would follow these as we go ahead 🙂

[2021-08-13 11:00] verma-kunal commented on #29353
Hey @anubha-v-ardhan , i've made a draft PR here: https://github.com/kubernetes/website/pull/29372
Can you pls add that to the list above!!

[2021-08-13 11:01] verma-kunal commented on #29353
And we had to create a `draft PR` for now, right? not the normal one

[2021-08-13 11:03] anubha-v-ardhan commented on #29353
I have opened normal ones. I don't think it matters. We will basically change the branch once its available.

[2021-08-13 11:04] chenxuc commented on #29329
I can work on this issue.
/assign

[2021-08-13 11:09] verma-kunal commented on #29353
oh, actually @sftim had mentioned this, so thats why I was asking!!
cool then

[2021-08-13 11:10] anubha-v-ardhan commented on #29353
Oh sorry, my bad. we have to open draft PR's

[2021-08-13 11:11] verma-kunal commented on #29353
yeah!

[2021-08-13 11:17] ShivamTyagi12345 commented on #29359
Made the local changes ,What next?

[2021-08-13 11:20] ShivamTyagi12345 commented on #29353
would next work on` content\en\docs\setup\best-practices\enforcing-pod-security-standards.md`

[2021-08-13 11:23] anubha-v-ardhan opened #29375 "[hi] Localize content/en/docs/setup/best-practices/enforcing-pod-security-standards.md"
This issue is a part of ongoing `hi` localization effort #29353

/language hi

[2021-08-13 11:24] ShivamTyagi12345 commented on #29375
/assign

[2021-08-13 11:27] anubha-v-ardhan commented on #29359
@ShivamTyagi12345 Open a **draft pull request** to kubernetes/website. Do use the command `/language hi`

[2021-08-13 11:35] Darshnadas commented on #29367
is this issue open for work? if nobody is working on it then i would like to take a look at this

[2021-08-13 11:38] anubha-v-ardhan commented on #29367
@Darshnadas , this issue is part of Hindi localization effort and assigned to me currently. To get your own file to work on follow the steps given in #29353

[2021-08-13 11:52] Darshnadas commented on #29367
ohh cool!

[2021-08-13 12:11] Darshnadas commented on #29353
Hello I would like to work on this  `website/content/en/docs/setup/learning-environment/_index.md`

[2021-08-13 12:17] #29375 closed

[2021-08-13 12:17] #29367 closed

[2021-08-13 12:17] #29365 closed

[2021-08-13 12:17] anubha-v-ardhan commented on #29361
We dropping the idea of individual issues

[2021-08-13 12:17] #29361 closed

[2021-08-13 12:18] #29360 closed

[2021-08-13 12:18] anubha-v-ardhan commented on #29359
we dropping the idea of individual issues

[2021-08-13 12:18] #29359 closed

[2021-08-13 12:18] anubha-v-ardhan commented on #29356
we dropping the idea of individual issues

[2021-08-13 12:18] #29356 closed

[2021-08-13 12:19] anubha-v-ardhan commented on #29358
We dropped the idea of individual issues

[2021-08-13 12:19] #29358 closed

[2021-08-13 12:27] kbhawkey commented on #29354
🦸‍♀️ @irvifa , @kbarnard10 🦸‍♀️
🎉 Thank you for your many contributions to Sig Docs.

[2021-08-13 12:37] irvifa commented on #29354
Hi all, thank you for your help and yes I’ll give my +1 for my part.

[2021-08-13 12:52] verma-kunal commented on #29353
Sure, go ahead @Darshnadas !! Welcome 🙂

[2021-08-13 12:53] rudeigerc commented on #29327
I would like to take this part.
[code]

[2021-08-13 12:53] rudeigerc commented on #29327
I would like to take this part.
[code]

[2021-08-13 14:14] chalin commented on #25941
If this is related to the too-many-open-files issue on macOS, then note that [Hugo 0.85 introduced poll-based watching](https://gohugo.io/news/0.85.0-relnotes/) -- which might help.

[2021-08-13 14:14] #29259 closed

[2021-08-13 15:12] Patil2099 commented on #29366
/assign

[2021-08-13 15:23] Patil2099 commented on #29362
/assign

[2021-08-13 15:46] aasim-syed opened #29379 "README.md in TAMIL TA"
**This is a Feature Request**

I would like to contribute to README.md to translate to it in TAMIL

Its enhances people to learn more

**Comments**

[2021-08-13 16:57] nate-double-u commented on #25941
/remove-lifecycle rotten

[2021-08-13 17:13] verma-kunal commented on #29353
Hey @anubha-v-ardhan , made a PR for `content/en/docs/home/_index.md` here: https://github.com/kubernetes/website/pull/29383

[2021-08-13 17:38] ShivamTyagi12345 commented on #29353
hey @anubha-v-ardhan ,drafted a PR for` website\content\en\docs\setup\best-practices\node-conformance.md` check: [`this`](https://github.com/kubernetes/website/compare/main...ShivamTyagi12345:hindi?expand=1)

[2021-08-13 18:26] vonguard commented on #29065
I'm still in.

[2021-08-13 18:51] shannonxtreme commented on #29049
@sftim I added updated diagrams for the following:

1. General cluster architecture
2. Detailed cluster architecture
3. Detailed node architecture

I'm not sure what a diagram for a control plane running as pods would look like but I'll do some digging.

[2021-08-13 20:12] #26972 closed

[2021-08-13 21:59] kodeninja commented on #29353
Pure Telugu/Hindī suggestions for some core k8s terms (also commented about this in https://github.com/kubernetes/website/pull/29383#issuecomment-898721517):

`pod` `కోశము` `कोश`
`service` `ఆయోగము` `आयोग`
`replica` `ప్రతికృతి` `प्रतिकृति`
`deployment` `వినిమయము` `विनिमय`
`orchestration` `సంపృక్తము` `संपृक्त`

Perhaps more such terms can be found.

Source: https://twitter.com/vakibs/status/14262991

[2021-08-14 00:10] geojaz commented on #29354
@jimangel What does it take to get started as a docs reviewer in English?

[2021-08-14 02:12] jimangel commented on #29354
@geojaz! Nice to see you on the open source side of things! 😄

If you're specifically asking about becoming a reviewer, check out our [roles and responsibilities](https://kubernetes.io/docs/contribute/participate/roles-and-responsibilities/) section of the [SIG Docs contributor guide](https://kubernetes.io/docs/contribute/).

I see you're already an org member, but that's traditionally the first r

[2021-08-14 03:04] rajmohanram opened #29387 "Issue with k8s.io/docs/concepts/storage/volumes/"
404 on glusterfs and NFS configuration examples

[2021-08-14 05:04] anubha-v-ardhan commented on #29353
@kodeninja Thanks for the suggestions but we think the name of Kubernetes objects such as `deployment`, `pod`, `service` etc should be written as `डिप्लॉयमेंट`, `पॉड`, सर्विस` only.
We would like to hear your views @mittalyashu

[2021-08-14 07:54] verma-kunal commented on #29353
@anubha-v-ardhan , would be working on this `content/en/docs/setup/best-practices/cluster-large.md` now !!

[2021-08-14 08:24] rajatgupta24 commented on #29353
Hey @anubha-v-ardhan, I'd like to work on `content/en/docs/tutorials/kubernetes-basics/_index.html`

[2021-08-14 10:33] rajatgupta24 commented on #29353
Hey @anubha-v-ardhan, now I'm working on content/hi/docs/tutorial/kubernetes-basics/create-cluster/_index.html

[2021-08-14 11:41] mittalyashu commented on #29353
I agree with @anubha-v-ardhan

[2021-08-14 11:43] anubha-v-ardhan commented on #29353
Sure @mittalyashu . I will

[2021-08-14 11:54] mittalyashu commented on #29353
I am don't remember how many pages I localised last time and how many of them got updated.

Can we go one file per PR? It will be easy for me to review as well.

[2021-08-14 11:57] anubha-v-ardhan commented on #29353
cc @rajatgupta24

[2021-08-14 12:01] rajatgupta24 commented on #29353
Sure, ok

[2021-08-14 12:06] rajatgupta24 commented on #29353
Hey @anubha-v-ardhan, now I'm working on `content/hi/docs/tutorial/kubernetes-basics/deploy-app/deploy-interactive.html`

[2021-08-14 12:19] verma-kunal commented on #29353
adding on to @mittalyashu 's point about PRs, try to follow the naming convention as mentioned in the above note, so that it would be easier to locate & review!!
For example:
`Add content/hi/docs/concepts/architecture/nodes.md`
`Update content/hi/setup/release/building-from-source.md`

cc @rajatgupta24

[2021-08-14 12:41] verma-kunal commented on #29353
Hey, actually i had a doubt!
If we for example take the translation of the word `Nodes`: originally it is `नोड्स `, but if we wanna go with the pronunciation as well, then it should be `नोड्ज़ ` (for the English word `Nodez`).
Which one is better to be considered in this situation? & then we can add that to the [sheet](https://docs.google.com/spreadsheets/d/1UmL4K0v4yaN34k4WzYDZBobLBp5OZQp4GCTi28A

[2021-08-14 12:42] anubha-v-ardhan commented on #29353
I think `नोड्स` fit better

[2021-08-14 12:42] rajatgupta24 commented on #29353
I think नोड्ज़, because it's the right pronunciation

[2021-08-14 17:03] rajatgupta24 commented on #29353
Hey @anubha-v-ardhan, now I'm working on content/hi/docs/tutorial/kubernetes-basics/deploy-app/landing

[2021-08-14 17:07] rajatgupta24 commented on #29353
Hey @anubha-v-ardhan, now I'm working on `content/hi/docs/tutorial/kubernetes-basics/deploy-app/deploy-intro.html`

[2021-08-14 17:22] keshavcodex commented on #29353
i am starting with `website\content\en\docs\setup\best-practices\multiple-zones.md`

[2021-08-14 17:41] rajatgupta24 commented on #29353
@anubha-v-ardhan, I'm working on `content/hi/docs/tutorial/kubernetes-basics/expose/expose-interactive.html`

[2021-08-15 04:45] #29362 closed

[2021-08-15 05:14] Darshnadas commented on #29353
@anubha-v-ardhan I am working on this page https://github.com/kubernetes/website/blob/main/content/en/docs/setup/learning-environment/_index.md

[2021-08-15 06:09] tengqm commented on #24558
@neolit123 Right. Pinning to tags was the resolution to ensure everyone can regenerate the same output if needed, for a particular version. k/k is a moving target we cannot afford to track.

[2021-08-15 07:34] HongjiangHuang commented on #29327
I will take this
[code]

[2021-08-15 08:05] rajatgupta24 commented on #29353
@anubha-v-ardhan, I'm working on content/hi/docs/tutorial/kubernetes-basics/expose/expose-intro.html

[2021-08-15 09:53] #29366 closed

[2021-08-15 09:56] rajatgupta24 commented on #29353
@anubha-v-ardhan, I'm working on `content/hi/docs/tutorial/kubernetes-basics/expose/landing`

[2021-08-15 10:22] verma-kunal commented on #29353
@anubha-v-ardhan , now working on `content/en/docs/tutorials/kubernetes-basics/expose/_index.md`

[2021-08-15 10:32] anubha-v-ardhan commented on #29353
hey @verma-kunal The file has already been reserved by @rajatgupta24

[2021-08-15 10:40] tengqm commented on #29350
Please reopen this with details if there is an issue to fix.
/close

[2021-08-15 10:40] #29350 closed

[2021-08-15 10:43] verma-kunal commented on #29353
@anubha-v-ardhan , taking up `docs/tutorials/kubernetes-basics/scale/scale-interactive.html`

[2021-08-15 11:05] verma-kunal commented on #29353
@anubha-v-ardhan , working on `docs/tutorials/kubernetes-basics/scale/scale-intro.html` now !!

[2021-08-15 14:49] xiaofhe commented on #29108
Does the different behaviour come from different OS release or different K8S  release ?
my OS is CentOS Linux release 7.9.2009
thanks

[2021-08-15 15:36] ShivamTyagi12345 commented on #29353
drafted my PR #29414 .  Review appreciated. Would work on `content\en\docs\setup\production-environment\turnkey-solutions.md` next.
 thanks

[2021-08-15 16:29] robotrapta opened #29415 "Volumes documentation missing NFS example"
In the NFS section of the Volumes doc page [https://kubernetes.io/docs/concepts/storage/volumes/#nfs](https://kubernetes.io/docs/concepts/storage/volumes/#nfs) there is no useful example, but only a link to ["NFS example"](https://github.com/kubernetes/examples/tree/main/staging/volumes/nfs) which links to [https://github.com/kubernetes/examples/tree/main/staging/volumes/nfs](https://github.com/ku

[2021-08-15 16:32] sftim commented on #29353
My tip: if you see Nodes (with a capital N), leave it as Nodes. The Kubernetes API knows about Nodes but not about any localized term. You can also mention that Node is नोड in Hindi.

Compare that to the phrase: “…control plane detects failed nodes and notifies controllers…” where it might be more reasonable to write नोड or some related term and not write node at all.

Imagine you come across a pa

[2021-08-15 17:23] sftim commented on #29049
Take a look at the broad strokes of how https://azure.microsoft.com/en-gb/overview/kubernetes-getting-started/ explains things. There's some good ideas there; obviously we don't want to breach Microsoft's copyright but the overall approach can inform our work.

[2021-08-15 17:25] sftim commented on #29049
I think I would use the node architecture diagram, label it “control plane node”, and add some named static pods there. Not sure how we show they are static pods. Maybe a double border plus explanatory labels?

[2021-08-15 18:47] Gre8t commented on #13370
This solved the issue for me

[2021-08-15 23:26] #23748 closed

[2021-08-16 01:27] #26385 closed

[2021-08-16 03:29] #27126 closed

[2021-08-16 06:28] verma-kunal commented on #29353
@anubha-v-ardhan , working on `content/en/docs/tutorials/kubernetes-basics/scale/_index.md` now

[2021-08-16 06:37] verma-kunal commented on #29353
@anubha-v-ardhan , would work on `content/en/docs/tutorials/kubernetes-basics/update/update-interactive.html` now!!

[2021-08-16 09:17] Shubham82 commented on #29351
Hi @balacc
This issue will be resolved when the PR #29311 is merged.

[2021-08-16 11:11] AdamSharif-MSFT opened #29422 "Links for Azure File, Azure Disk etc. within the volumes documentation receive a 404"
REF: https://github.com/kubernetes/website/blob/main/content/en/docs/concepts/storage/volumes.md

For example, Azure File is pointing to:

https://github.com/kubernetes/examples/tree/main/staging/volumes/azure_file/README.md

instead of

https://github.com/kubernetes/examples/blob/master/staging/volumes/azure_file/README.md

(there doesn't seem to be a "main" branch, only "master").

This is causi

[2021-08-16 11:17] sftim commented on #29415
The PR #29311 looks like it will restore the broken hyperlink.

[2021-08-16 11:57] mengjiao-liu commented on #29422
https://github.com/kubernetes/website/pull/29311 work on it.

[2021-08-16 13:03] #29298 closed

[2021-08-16 13:03] #29322 closed

[2021-08-16 13:03] #29263 closed

[2021-08-16 13:03] #29289 closed

[2021-08-16 13:03] #29303 closed

[2021-08-16 13:39] ShivamTyagi12345 commented on #29353
hey made my PR #29424 . Would next work on `content\en\docs\tasks\tools\included\kubectl-convert-overview.md`

[2021-08-16 14:19] kish0620 opened #29425 "Translate a Docker Compose File to Kubernetes Resources"
When I run the curl command to install kompose, it tells me the exe is incompatible with the 64 bit version of windows. Do you know how I can fix this?

[2021-08-16 16:55] sftim commented on #29422
The canonical URL for that page is https://kubernetes.io/docs/concepts/storage/volumes/ @AdamSharif-MSFT

I think this was fixed by #29311 - feel free to re-open if you still see symptoms.

/close
/triage duplicate
/language en

[2021-08-16 16:55] sftim commented on #29422
/close

[2021-08-16 16:55] #29422 closed

[2021-08-16 16:57] sftim commented on #29425
@kish0620 would you be willing to provide some more information?

- the command that you ran
- the error message that you saw
- the version of Windows you're running
- what CPU architecture your PC uses

That will help us work out how to revise that page.

/triage needs-information
/language en
/sig cli

[2021-08-16 17:00] sftim commented on #29379
Hi. Thanks for suggesting that improvement.

We'd accept a Tamil README if there were a new localization to Tamil.

https://kubernetes.io/docs/contribute/localization/#start-a-new-localization covers what people would need to do to start that off (you will need at least 1 collaborator).

[2021-08-16 17:00] sftim commented on #29387
/triage duplicate
/kind bug
/language en

I think https://github.com/kubernetes/website/pull/29311 fixed this. However, if I'm wrong, please reopen the issue and add more details about the problem.
/close

[2021-08-16 17:01] #29387 closed

[2021-08-17 01:00] trungtranwata opened #29427 "Katacoda environment not working for “Interactive Tutorial - Exploring Your App”"
Kubernetes Bootcamp Terminal
This environment is no longer available.

CAN'T follow the tutorial, please fix.

[2021-08-17 02:49] howieyuen commented on #29326
/assign

[2021-08-17 03:16] #29330 closed

[2021-08-17 03:36] simanw commented on #29300
Hey hidalgopl, I can work on this. I reviewed #95856. If I get it right, removing "change with --insecure-port flag" is enough. Please let me know if I miss anything.
/assign

[2021-08-17 04:16] jimangel opened #29428 "Create a Hugo layout to not display release information on older versions of k8s.io"
## Problem

When a Kubernetes release happens, like 1.22, the now "old" site becomes a subdomain snapshot (ie: https://v1-21.docs.kubernetes.io/). This is great for archival purposes, however, if you navigate to the snapshot's release page (https://v1-21.docs.kubernetes.io/releases/) it is stuck at that point in time.

This problem exists because each older site is a branch. 1.21 is on the `releas

[2021-08-17 04:17] jimangel commented on #29428
/triage accepted

[2021-08-17 04:58] Divya063 commented on #29428
I would like to work on this.
/assign

[2021-08-17 05:06] niteshseram commented on #29427
Hi @trungtranwata, we have seen this issue before as well. I think it should be working if you refresh the page. Your session might have expired.

[2021-08-17 06:05] jimangel opened #29429 "Generating this site takes an alarming amount of resources."
Look into evaluating how we can make building the site take less memory / cpu.

## Problem

As `k/website` has grown, it went from a small hugo build to what it is today (a large, memory and file hungry build).

This is all good though, it means we are adding content and localizations.

## Solution

Look into ways to reduce build time. A few options come to mind:
- Can we remove a large chunk of u

[2021-08-17 06:19] yuswift commented on #29108
I tested it with ubuntu 16

[2021-08-17 06:19] rajatgupta24 commented on #29353
hey @anubha-v-ardhan, I'm working on `content/en/docs/tasks/tools/landing`

[2021-08-17 06:22] trungtranwata commented on #29427
Thank @niteshseram I will give it a try.

[2021-08-17 06:59] verma-kunal commented on #29353
@anubha-v-ardhan , would be working on `content/en/docs/tutorials/kubernetes-basics/update/update-intro.html` next !!

[2021-08-17 07:44] niteshseram commented on #29429
Hi @jimangel, I tried doing [partialCached](https://gohugo.io/functions/partialcached/) for all the Partial templates. I think it improved the build time quite much. But I am not sure if it is recommended or not. Let me know it is okay to do _partialCached_ for all the partial templates.

[2021-08-17 08:14] sftim commented on #26406
The link to Falco is no longer part of the Kubernetes documentation

/close

[2021-08-17 08:15] #26406 closed

[2021-08-17 08:17] sftim commented on #29429
Idea: run the build localization-by-localization. I don't know if Hugo supports this but if it might let us run 14 shorter builds (potentially in parallel) rather than 1 long one.

Idea: look for image resize options at build time. If reasonable to do so, replace the source image with what it gets resized to.

[2021-08-17 08:19] sftim commented on #29428
Would it be OK to redirect https://v1-21.docs.kubernetes.io/releases/ to https://kubernetes.io/releases/ ?

At the point we make a release we could commit in some extra redirects (for v1.21, that'd be retrospective).

[2021-08-17 08:20] sftim commented on #29427
/retitle Katacoda environment not working for “Interactive Tutorial - Exploring Your App”

/priority awaiting-more-evidence

[2021-08-17 08:54] rajatgupta24 commented on #29353
hey @anubha-v-ardhan, I'm working on `content/en/docs/tasks/tools/landing`

[2021-08-17 09:00] sftim commented on #29340
/triage accepted
/priority backlog
/language en

[2021-08-17 09:42] sahsz123 opened #29438 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-service-account/"
It appears that the correct syntax of ServiceAccount in the podspec section is:
spec:
      containers:
      - image: nginx
  **serviceAccount**: dashboard-sa
...
**instead of:
** serviceAccountName:

[2021-08-17 09:50] hidalgopl commented on #29300
sounds good, thank you :+1:

[2021-08-17 10:07] sftim commented on #29438
The `serviceAccount` field is [deprecated](https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/pod-v1/#deprecated)
/kind support

[2021-08-17 10:16] sftim commented on #27602
/remove-lifecycle rotten

[2021-08-17 10:40] ClaudiaJKang opened #29439 "Broken link at Volume/iSCSI example, issue related to githubbranch param"
**This is a Bug Report**

**Problem:**

On [concept/storage document](https://kubernetes.io/docs/concepts/storage/volumes/#iscsi), the iSCSI example link is not working properly on 1.21 version. Because the link is broken. When clicking the iSCSI example, the document of the latest version redirects the url([https://github.com/kubernetes/examples/tree/main/volumes/iscsi
](https://github.com/kubern

[2021-08-17 11:28] sftim commented on #29439
As a _bug_ I think this was fully fixed in PR #29311

The examples repo doesn't have tags per release that we can hyperlink to.

[2021-08-17 11:28] sftim commented on #29439
/remove-kind bug
/priority awaiting-more-evidence
/language en

[2021-08-17 11:29] sftim commented on #29439
@ClaudiaJKang you might be requesting a backport of the fix from #29311 to the v1.21 docs

If that's what you want to happen, I recommend opening an issue framed around that backport request.

[2021-08-17 11:45] sftim commented on #29429
This might be an area where we could look for resources from CNCF to help with it - especially if the fix is applicable across multiple CNCF projects.

[2021-08-17 11:46] sftim commented on #29321
Fixed in #29311
/close

[2021-08-17 11:46] #29321 closed

[2021-08-17 11:46] sftim commented on #29317
Fixed in #29311
/close

[2021-08-17 11:46] #29317 closed

[2021-08-17 11:47] sftim commented on #29278
/triage accepted
/kind cleanup
/language en
/help

[2021-08-17 12:12] 494846880 opened #29442 "wrong link"
**This is a Bug Report**

**Problem:**
the reference link is broken.
**Proposed Solution:**
should be fixed.
**Page to Update:**
https://github.com/kubernetes/website/blob/main/content/zh/docs/contribute/generate-ref-docs/_index.md

[2021-08-17 12:19] niteshseram commented on #29442
/lang zh

[2021-08-17 12:20] niteshseram commented on #29442
/language zh

[2021-08-17 14:22] MikeSpreitzer commented on #19828
/remove-lifecycle rotten

[2021-08-17 14:48] ingvagabund commented on #26450
/remove-lifecycle rotten

[2021-08-17 14:48] ingvagabund commented on #26450
/remove-lifecycle rotten

[2021-08-17 14:54] keshavcodex commented on #29353
i am taking `content/en/docs/setup/production-environment` and it is a very long page so i will be taking more time.

[2021-08-17 15:06] anubha-v-ardhan commented on #29353
@keshavcodex Please avoid taking whole directory. We like folks to take one page at a time

[2021-08-17 15:08] keshavcodex commented on #29353
ohh sorry i missed to mention the file name.

[2021-08-17 15:15] anubha-v-ardhan commented on #29353
Oh I'm very sorry @keshavcodex ! I didn't mean to dislike, I just mark pages I have assigned and not assigned with thumbs up and down for ease. Sorry

[2021-08-17 15:23] RinkiyaKeDad commented on #28628
/assign

[2021-08-17 15:25] RinkiyaKeDad commented on #28628
Hey @aliakbar-hemmati are you still working on this issue? If not, I'd like to take it up :)

[2021-08-17 15:27] sftim commented on #27370
Also, the image in https://kubernetes.io/blog/2019/03/21/a-guide-to-kubernetes-admission-controllers/#what-are-kubernetes-admission-controllers would be good to repeat within https://kubernetes.io/docs/concepts/security/controlling-access/

[2021-08-17 15:27] sftim commented on #25119
https://github.com/kubernetes/website/issues/27370#issuecomment-900397304 feels relevant too

[2021-08-17 15:28] sftim commented on #25119
/remove-lifecycle rotten

[2021-08-17 19:41] edithturn commented on #13948
@raelga I would like to work translating this page:
- [ x ] [concepts/storage/volume-snapshots/](https://kubernetes.io/docs/concepts/storage/volume-snapshots/)

could you assign it to me?

[2021-08-18 00:44] jimangel commented on #29428
I believe this would disrupt the assumed UX, "I _thought_ I was on the 1.21 docs" or the subsequent navigation. In addition, baking it into a shortcode similar to deprecations, there is no additional work for the docs release team.

I think that would be a fine solution short term though.

[2021-08-18 02:03] steven-my commented on #29329
I will work on the sections (1) run-app (2) Kubectl install
/assign

[2021-08-18 02:11] chenxuc commented on #29329
I have some family issue that might slow down my progress. steven-my has discussed with me and we will work together for this issue. Thanks.

[2021-08-18 03:06] aliakbar-hemmati commented on #28628
Hey @RinkiyaKeDad
No I'm not currently working on it
Go on and take it

[2021-08-18 03:42] Kartik494 commented on #29040
Hi @lukeschlather Could you provide the link for documentation.

[2021-08-18 03:51] Kartik494 commented on #29035
I have used it with apiVersion `apiVersion: batch/v1` and seems like it is  running fine
i also used kubectl version v1.21

[2021-08-18 04:28] RinkiyaKeDad commented on #28628
Thanks for confirming! :)

/assign

[2021-08-18 05:17] lukeschlather commented on #29040
https://kubernetes.io/docs/concepts/workloads/controllers/ttlafterfinished/

[2021-08-18 05:19] lukeschlather commented on #29040
I am confused about:

* how to see if the feature is available on my cluster which is running an earlier version of kubernetes
* how to find a matrix for the feature which shows its support level (alpha/beta) in the versions it exists in.

[2021-08-18 06:11] ShivamTyagi12345 commented on #29353
hey made my PR #29449 .Would Next work on` \content\en\docs\tutorials\kubernetes-basics\update\_index.md`

[2021-08-18 07:42] ultradio opened #29452 "[ko] Translate /concepts/storage/storage-capacity.md in Korean"
**This is a Feature Request**

Translate [/content/en/docs/concepts/storage/storage-capacity.md] in Korean

**What would you like to be added**

Translate [/content/ko/docs/concepts/storage/storage-capacity.md] in Korean

**Why is this needed**
This file is not translated yet.

**Comments**

Page to Update:
https://kubernetes.io/docs/concepts/storage/storage-capacity/

[2021-08-18 07:43] ultradio commented on #29452
/language ko
/assign

[2021-08-18 07:44] #26819 closed

[2021-08-18 08:40] rajar0201 opened #29453 "Kubernetes Documentation"

[2021-08-18 08:40] rajar0201 commented on #29453
Test

[2021-08-18 08:47] vedant-kakde commented on #29353
Hey @anubha-v-ardhan I'm working on `content/en/docs/tasks/tools/install-kubectl-linux.md`

[2021-08-18 09:08] kaiwalyakoparkar commented on #29353
Hey how can I help in this issue?

[2021-08-18 09:10] ShivamTyagi12345 commented on #29353
next work on` content\en\docs\tasks\tools\included\kubectl-whats-next.md`

[2021-08-18 09:13] ShivamTyagi12345 commented on #29353
Hey @kaiwalyakoparkar,As you can see at the top,there are a bunch of Pages needed to be localized to Hindi,Select the ones that haven't been chosen yet by anyone and Draft your PR

[2021-08-18 09:14] kaiwalyakoparkar commented on #29353
@ShivamTyagi12345 Thanks for the reply. Where should I draft a PR btw?

[2021-08-18 09:19] ShivamTyagi12345 commented on #29353
Once you do the local changes in your branch , You can go ahead and choose this option:
![Screenshot (235)](https://user-images.githubusercontent.com/60812924/129872698-065b24db-d394-462c-8036-a3b69fc8dd6c.png)

[2021-08-18 09:23] verma-kunal commented on #29353
you've got to create a draft PR to the main branch, as we don't have a separate branch for Hindi Localization as of yet!!

[2021-08-18 09:25] verma-kunal commented on #29353
Hey @anubha-v-ardhan , working on `docs/setup/production-environment/tools/kubeadm/_index.md` now !!

[2021-08-18 09:27] anubha-v-ardhan commented on #29353
@verma-kunal I would like you to take some other file as `docs/setup/production-environment/tools` is not required for initial localization

[2021-08-18 09:47] kaiwalyakoparkar commented on #29353
@anubha-v-ardhan I would like to work on `docs/tasks/tools/included/_index.md`

[2021-08-18 10:07] verma-kunal commented on #29353
Hey @anubha-v-ardhan , would working on this one `content/en/_index.html` be fine?

[2021-08-18 11:54] yuswift commented on #29453
/triage needs-information

[2021-08-18 12:16] yuswift commented on #29442
The page is not broken. https://kubernetes.io/docs/contribute/generate-ref-docs/
It looks so strange...

[2021-08-18 12:24] sftim commented on #29428
We could use a Hugo _layout_ rather than a shortcode for this. If we copy the way that the docs pages do that, I think that could work. Maybe with a tweak to say “release information” rather than “documentation”; maybe use shared wording but tweak it to be more neutral.

[2021-08-18 12:35] vedant-kakde commented on #29353
Hey I made my PR #29457 . Now I'm working on `content/en/docs/tasks/tools/install-kubectl-macos.md`

[2021-08-18 12:38] wagneripjr opened #29459 "Adding Windows nodes: Some links to sig-windows-tools are broken"
These links are broken:
https://github.com/kubernetes-sigs/sig-windows-tools/releases/latest/download/kube-proxy.yml
https://github.com/kubernetes-sigs/sig-windows-tools/releases/latest/download/flannel-overlay.yml

[2021-08-18 12:42] rajatgupta24 commented on #29353
I'll start working on this file: `content/en/docs/tasks/tools/included/optional-kubectl-configs-bash-linux`

[2021-08-18 12:42] yuswift commented on #29459
The latest release doesn't contain the files. Maybe the link should refer to the files directly.

[2021-08-18 12:43] vedant-kakde commented on #29353
@rajatgupta24 I think you haven't marked it as draft PR.

[2021-08-18 13:30] habibrosyad commented on #23660
/remove-lifecycle stale

[2021-08-18 13:49] jimangel commented on #29428
Absolutely. As mentioned in my description, I want to ensure the "things on the page" are of value to the reader.

What are columns vs. rows (sperated by OS? Arch? Binary? K8s version?) that provide impact. Another way of asking is, what value do folks get from downloadkubernetes that we can adapt within the limitations of Hugo?

Once we answer that, the solution can be 1 of 1,000 possibilities 😅

[2021-08-18 13:52] jimangel commented on #29428
Sorry, thought this was a reply to a different issue.

If we use a layout, we're still in the same problem of the release date contained on the branch never getting touched, right?

[2021-08-18 14:22] vedant-kakde commented on #29353
Hey I made my PR #29461 .  Now I'm working on `content/hi/docs/tasks/tools/install-kubectl-windows.md`

[2021-08-18 15:27] sftim opened #29463 "Outdated cron documentation"
**This is a Bug Report**

**Problem:** PR #29455 highlights that the documentation for CronJob is out of date since the v1.22 release.
We're now using the revised controller by default (with no option to revert) and also a different syntax for the schedule.

**Proposed Solution:**
Identify stale or incorrect data on the pages about CronJobs

**Page to Update:**
https://kubernetes.io/docs/concepts/

[2021-08-18 15:34] adonovan commented on #28045
/remove-lifecycle stale

[2021-08-18 16:18] sftim commented on #29459
/sig windows

[2021-08-18 16:19] sftim commented on #29459
Hi @wagneripjr

Would you also be willing to let us know the URL of the page that is wrong? That'll help us be confident we know what to fix.

[2021-08-18 16:20] sftim commented on #29354
Just waiting on https://github.com/kubernetes/test-infra/pull/23240 I think.

[2021-08-18 18:57] arsheelsheikh commented on #29353
Hey, I would like to work on this - content/en/docs/setup/production-environment/windows/user-guide-windows-containers.md

[2021-08-18 19:05] vedant-kakde commented on #29353
Hey I made my #29465 . Now I'm working on `content/hi/docs/tasks/tools/included/verify-kubectl.md`

[2021-08-18 19:48] arsheelsheikh commented on #29353
Hey, I would like to work on this- #content/en/docs/setup/production-environment/windows/user-guide-windows-containers.md

[2021-08-18 19:49] arsheelsheikh commented on #29353
Hi, I would like to work on this `content/en/docs/setup/production-environment/windows/user-guide-windows-containers.md`

[2021-08-18 22:51] nnunodev commented on #27446
/assign

[2021-08-19 00:05] chrismetz09 commented on #28808
Live-editor mermaid diagram links:
[gettting started new contrib](https://mermaid-js.github.io/mermaid-live-editor/edit/#eyJjb2RlIjoiZmxvd2NoYXJ0IFRCXG4gICAgc3ViZ3JhcGggdGhpcmRbT3BlbiBQUl1cbiAgICAgICAgZGlyZWN0aW9uIFRCXG4gICAgICAgIFVbIF0gLS4tXG4gICAgICAgIFFbSW1wcm92ZSBjb250ZW50XSAtLT4gTltDcmVhdGUgY29udGVudF1cbiAgICAgICAgTiAtLT4gT1tUcmFuc2xhdGUgZG9jc11cbiAgICAgICAgTyAtLT4gUFtNYW5hZ2UvcHVibGlzaCBkb2N

[2021-08-19 02:16] tpoland opened #29467 "Upgrading kubeadm clusters v1.20"
The documentation for upgrading from v1.19 to v1.20 have been overwritten by the instructions for upgrading from v1.21 to v1.22.

https://v1-20.docs.kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/

[2021-08-19 02:32] neolit123 commented on #29467
there is an open PR to fix this:
https://github.com/kubernetes/website/pull/29009

issue:
https://v1-20.docs.kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/

/close

[2021-08-19 02:32] #29467 closed

[2021-08-19 02:39] neolit123 commented on #27525
/triage accepted

[2021-08-19 05:46] vedant-kakde commented on #29353
Hey I made my PR #29469 . Now I'm working on `content/hi/docs/tasks/tools/included/optional-kubectl-configs-zsh.md`

[2021-08-19 06:16] vedant-kakde commented on #29353
Hey @rajatgupta24 I reviewed your PR #29458 . I have suggested some changes add those in batch and commit them. 👍🏻

[2021-08-19 06:18] anubha-v-ardhan commented on #29353
@vedant-kakde You can transliterate words like kind kubeadm kubectl (if possible), just add Latin version in brackets.

[2021-08-19 06:22] vedant-kakde commented on #29353
@anubha-v-ardhan I think better we don't transliterate those words.

[2021-08-19 06:25] anubha-v-ardhan commented on #29353
@vedant-kakde It would be better if our readers know how to pronounce them while also knowing how it looks like in English.
Whenever possible we try to keep content in Devnagri with Latin versions written in brackets.

[2021-08-19 06:41] prashantpandey9 commented on #29353
Site strings (data/i8n/hi)
hi.toml

can I work on this?

[2021-08-19 06:43] ShivamTyagi12345 commented on #29353
Made my PR would next work on `content\en\docs\tasks\tools\included\optional-kubectl-configs-bash-mac.md`

[2021-08-19 06:44] ShivamTyagi12345 commented on #29353
@anubha-v-ardhan  Are you sure we need to localize  (data/i8n/hi)

[2021-08-19 06:47] anubha-v-ardhan commented on #29353
@prashatpandey9 Sure, go ahead

@ShivamTyagi12345 Yes we need that

[2021-08-19 06:48] prashantpandey9 commented on #29353
@anubha-v-ardhan ok thanks

[2021-08-19 08:22] vedant-kakde commented on #29353
Hey @prashantpandey9 I think you have edited the `en` doc. You need to create separate file for `hi` .  Also sign CLA agreement to be able to contribute to K8s projects.

[2021-08-19 08:23] anubha-v-ardhan commented on #29353
@vedant-kakde Nope its correct. The `en` doc was already there.

[2021-08-19 08:23] prashantpandey9 commented on #29353
@vedant-kakde I did it right.

[2021-08-19 08:24] vedant-kakde commented on #29353
ok @anubha-v-ardhan @prashantpandey9

[2021-08-19 08:26] vedant-kakde commented on #29353
@prashantpandey9 for CLA agreement:- https://github.com/kubernetes/community/blob/master/CLA.md

[2021-08-19 08:27] prashantpandey9 commented on #29353
@vedant-kakde  thanks I signed it.

[2021-08-19 09:58] kaiwalyakoparkar commented on #29353
I see all the tasks taken over. Which should I work on next :sweat_smile: ?

[2021-08-19 10:00] vedant-kakde commented on #29353
@kaiwalyakoparkar don't worry my friend one left for you. 😉
`content/en/docs/setup/production-environment/windows/intro-windows-in-kubernetes`
Work on this one. 👍🏻

[2021-08-19 10:02] kaiwalyakoparkar commented on #29353
Cool @anubha-v-ardhan I would like to work on `content/en/docs/setup/production-environment/windows/intro-windows-in-kubernetes` next :slightly_smiling_face:
Thanks @vedant-kakde ig I missed that one :+1:

[2021-08-19 10:07] sftim commented on #29353
Remember, `/docs/setup/production-environment/windows/intro-windows-in-kubernetes/` is _not_ minimum required content.

[2021-08-19 10:11] sftim commented on #29353
If folks don't see a page to localize from the minimum required content, you can still:

- work on strings localization
- offer (informal or formal) [reviews](https://kubernetes.io/docs/contribute/review/reviewing-prs/) on existing PRs
   - you can [check out the other contributor's work](https://docs.github.com/en/github/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/checking

[2021-08-19 10:11] anubha-v-ardhan commented on #29353
@sftim I think we have completed localizing minimum requirements (reviewing is left). Can you check in the issue description's checklist if we missed any minimum required page. That would be great help.

[2021-08-19 10:13] kaiwalyakoparkar commented on #29353
Oh, thanks for informing. I will keep that on hold for time being then :slightly_smiling_face:

[2021-08-19 10:13] sftim commented on #29353
It looks like all the minimum required content has a PR opened covering it in Hindi.

[2021-08-19 10:15] kaiwalyakoparkar commented on #29353
@sftim Could you please explain this point :sweat_smile:

[2021-08-19 10:17] anubha-v-ardhan commented on #29353
Wow , we did it. Thanks Tim. : )

[2021-08-19 10:27] vedant-kakde commented on #29353
Now finally, we are done. 👍🏻

[2021-08-19 10:35] Zain-Muiz commented on #29353
Hey @anubha-v-ardhan , Can I take content/en/docs/tasks/tools/install-kubectl-windows ?

[2021-08-19 10:37] vedant-kakde commented on #29353
Hey Zain as of now we have completed localizing minimum requirements.

[2021-08-19 10:39] verma-kunal commented on #29353
Yay!! We did it 🎉
Great efforts everyone

[2021-08-19 10:39] anubha-v-ardhan commented on #29353
Hey @Zain-Muiz We are sorry but we don't have any pages left as of now. We are focusing on getting initial localization ready with minimum required content. We will soon expand this effort beyond minimum content once this is live on k8s.io.
In the meantime, if you are good with written Hindi, you can unofficially review PRs that have been made. : )
Thanks

[2021-08-19 10:48] ShivamTyagi12345 commented on #29353
/woof

[2021-08-19 10:49] vedant-kakde commented on #29353
/woof

[2021-08-19 10:50] anubha-v-ardhan commented on #29353
Folks, let's not do a lot of these commands.

[2021-08-19 12:21] sftim commented on #28808
These diagrams look great!

[2021-08-19 15:31] kaiwalyakoparkar commented on #29353
Great job everyone :tada:
Special shoutout to @verma-kunal

[2021-08-19 15:50] verma-kunal commented on #29353
It was all your hard work & efforts 🙂✨

[2021-08-19 21:29] wagneripjr commented on #29459
Hi @sftim
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/

I'm facing more problems trying to create an on-premises cluster but I'll try to get everything working before opening another issue

[2021-08-19 22:01] tallclair opened #29479 "Document well-known audit annotations"
Similar to https://kubernetes.io/docs/reference/labels-annotations-taints/ (should probably be a separate page though).

The current (2023-02-08) list of well-known audit annotations is:

- [x] `authorization.k8s.io/decision`
- [x] `authorization.k8s.io/reason`
- [x] `podsecuritypolicy.policy.k8s.io/admit-policy`
- [x] `podsecuritypolicy.policy.k8s.io/validate-policy`
- [x] https://github.com/kube

[2021-08-19 22:02] tallclair commented on #29479
/help

[2021-08-19 23:01] liggitt opened #29480 "Restore cross-namespace and invalid ownerReference info to garbage collection topic"
The following information was dropped in #28870 and is critical to include in the garbage collection ownerReferences topic:

[code]

[2021-08-19 23:07] liggitt commented on #29480
/triage accepted
/sig api-machinery

[2021-08-19 23:07] liggitt commented on #29480
/priority important-soon

[2021-08-20 00:47] sftim commented on #13907
Relevant to #29353

[2021-08-20 01:09] RayMountaineer opened #29483 "Improvement for k8s.io/docs/tutorials/stateless-application/guestbook/"
giving information about
a) describing the reason of the .yaml files (eg: the ... deployment is for getting the image)
b) the selectors who connect the "components" together,
eg "hints for the selectors of the deployment.yaml":
1.) spec:selector:matchLabels:app: redis is needed for ...
2.1) spec:template:metadata:labels:app: redis is needed for ...
2.2) spec:template:metadata:labels:role: leader i

[2021-08-20 01:15] #29480 closed

[2021-08-20 02:43] ctnkaan opened #29484 "README.md Turkish Translation"
**This is a Feature Request**

**What would you like to be added**
Turkish translation of the README.md file https://github.com/kubernetes/website#readme

**Why is this needed**
There is no Turkish translation.

**Comments**
Looking forward to contribute 😊

[2021-08-20 07:55] sftim commented on #29484
We'd be happy to add a new Turkish localization. We'd want to be confident that we can maintain what we merge though.

@ctnkaan here's what you (and other people) need to do to [start a new localization](https://kubernetes.io/docs/contribute/localization/#start-a-new-localization)

/hold

[2021-08-20 07:55] sftim commented on #29483
:+1: to adding some links to pages that add more context

[2021-08-20 08:14] sftim commented on #29479
/sig auth
(I think)

[2021-08-20 09:00] raelga commented on #13948
Done!

[2021-08-20 13:31] #29463 closed

[2021-08-20 14:00] ctnkaan commented on #29484
Okay that makes sense. I will try to assemble a translation group and come back. 👍

[2021-08-20 17:37] xhejtman opened #29494 "Better documentation of local ephemeral storage"
I believe, documentation about where ephemeral-storage capacity is taken from should be improved.

none of these two pages
https://kubernetes.io/docs/concepts/storage/ephemeral-volumes/
https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#local-ephemeral-storage

states, that ephemeral-storage capacity is taken from a volume where kubelet --root-dir is. The latte page men

[2021-08-20 20:34] stormqueen1990 commented on #13939
Hello!

I would like to start translating the page for [`ConfigMaps`](https://kubernetes.io/docs/concepts/configuration/configmap/) (`/docs/concepts/configuration/configmap`) next.

Thanks in advance!

[2021-08-20 20:41] shivrajjadhav733 opened #29496 "Specifying a Disruption Budget for your Application"
How to delete pdb if there is no matching pod found?

[2021-08-20 22:33] rikatz commented on #13939
Hey folks,

As a suggestion so you wont need to wait others, let's follow the process of check in spreadsheet if someone is translating that page, otherwise it's yours :D

[2021-08-21 00:19] #27180 closed

[2021-08-21 00:57] tengqm commented on #28808
@chrismetz09 I also prefer diagrams to lengthy texts in certain contexts. However, the one you pasted above isn't clear to me. It is a little confusing actually. For example, the "sign up" box contains three activities, but I don't think there is a flow through them. Similarly, the activities in the "Review" box do NOT form a flow. Please think twice.

[2021-08-21 05:51] vedant-kakde commented on #29353
@anubha-v-ardhan I want to work on `content/en/docs/setup/production-environment/container-runtimes.md`

[2021-08-21 06:47] anubha-v-ardhan commented on #29353
@vedant-kakde The file you requested is already assigned to someone else : )

[2021-08-21 06:49] vedant-kakde commented on #29353
@anubha-v-ardhan I know but I think assignee is not active since last 3-4 days so I thought I can help in completing it.

[2021-08-21 07:02] anubha-v-ardhan commented on #29353
@vedant-kakde Its only been a few days, we can't say if she is inactive. However, you can ask her yourself to confirm. If she drops the file, we could assign it to you.
(Personally, I would recommend not asking folks in just a few days)

[2021-08-21 07:13] vedant-kakde commented on #29353
@anubha-v-ardhan ok no worries. I noticed some previous suggested changes were also not resolved which were suggested a week ago. We will wait for more days then.

[2021-08-21 15:03] yuswift commented on #29496
kubectl delete pdb -n foo

[2021-08-21 19:25] #27193 closed

[2021-08-22 08:00] chenxuc commented on #29329
I'm working on `(13) misc`

[2021-08-22 10:04] sftim commented on #29496
/kind support
I think

[2021-08-22 10:04] sftim commented on #29453
Hi @rajar0201

Was there a suggestion you wanted to make about the Kubernetes documentation?

[2021-08-22 11:32] #27127 closed

[2021-08-22 11:32] #27209 closed

[2021-08-22 11:41] rajar0201 commented on #29453
Yes I want

On Sun, 22 Aug 2021 at 3:35 PM, Tim Bannister ***@***.***>
wrote:

[2021-08-22 12:33] #27047 closed

[2021-08-22 15:50] marrem opened #29502 "Issue with k8s.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/"
Tried the tutorial, but got this problem with the wordpress-mysql pod:

[code]

Tutorials in https://kubernetes.io/docs/tutorials/stateful-application/basic-stateful-set/ went OK, with same microk8s with openebs setup.

[2021-08-22 15:57] marrem commented on #29502
openebs pods:

[code]

[code]

[code]

[code]

[2021-08-22 16:08] marrem commented on #29502
The command:
`helm install my-wp bitnami/wordpress` (after adding bitnami repo to helm) produces a working 'wordpress' site. This deployment uses mariadb rather then mysql. But how mysql can trigger openebs iscsiadm issues is beyond me.

[2021-08-23 03:06] n2vo opened #29508 "Query about Web UI (Dashboard) task and HTTPS"
The URL should NOT include the "https", methinks?  I had an issue access the kubernetes-dashboard using the link as documented in the page: https://kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard/.  After some fiddling around, I removed the "https" and was able to access it.  If this is incorrect, please ignore.

http://localhost:8001/api/v1/namespaces/kubernetes-dashboard/ser

[2021-08-23 09:49] sftim opened #29512 "Rename product security committee"
**This is a Feature Request**

**What would you like to be change**
We should find the term “product security committee” anywhere within the English-language docs, and replace that term with “security response committee”.
We don't need to revise any blog articles. If we feel there are some blog articles where an exception is justified, I'd revise those in a separate PR per article as the review pr

[2021-08-23 09:49] sftim commented on #29512
/priority backlog

[2021-08-23 09:50] sftim commented on #29508
/retitle Query about Web UI (Dashboard) task and HTTPS

[2021-08-23 09:50] sftim commented on #29508
/language en

[2021-08-23 10:06] lukehinds commented on #29512
thanks @sftim , PR's are incoming org wide for the change.

[2021-08-23 10:44] niteshseram commented on #29512
I would like to take this up
/assign

[2021-08-23 12:40] #29512 closed

[2021-08-23 17:08] #29429 closed

[2021-08-24 00:03] tylerauerbeck commented on #28848
I actually think I agree with @djedjethai here. For folks who have some experience with k8s, this makes sense and they know that a job will launch a pod. But for this doc, which is primarily targeted at beginners, using a `Job` to show `Pod` concepts could be a bit confusing and IMO would benefit from an update to reference a `Pod` template directly.

[2021-08-24 00:15] tylerauerbeck commented on #29508
@n2vo This may be along the lines of what you were saying, but i think it needs to be something like this:

http://localhost:8001/api/v1/namespaces/kubernetes-dashboard/services/https:kubernetes-dashboard:/proxy/

Is that what you're seeing? Or are you saying that it only works for you when you remove both `https` ?

[2021-08-24 01:05] gabrielalbino commented on #13939
I'm taking "Docs/Concepts" / Services & Networking / Ingress Controllers, it was unassigned on the spreadsheet.

[2021-08-24 01:25] edsoncelio commented on #13939
Great @gabrielalbino If you need any help, just ping us on slack (channel #kubernetes-docs-pt) :D

[2021-08-24 02:39] mengjiao-liu commented on #29328
/assign

[2021-08-24 03:18] n2vo commented on #29508
Hi Tyler,

Yes, the second "https" needs to be removed.  Sorry if I wasn't clearer in
the original report.

N2--

Anh Thu (N2) Vo
***@***.***
***@***.***
408-218-0002 (mobile)

On Mon, Aug 23, 2021 at 5:16 PM Tyler Auerbeck ***@***.***>
wrote:

[2021-08-24 12:19] AvineshTripathi opened #29519 "[hi] Fix README-hi.md"
Problem:
The sentence below in the README-hi.md seems to be incomplete

"अपने fork में कोई भी परिवर्तन करना चाहते हैं, और जब आप उन परिवर्तनों को हमारे पास भेजने के लिए तैयार हों, तो अपने fork पर जाएं और हमें इसके बारे में बताने के लिए एक नया pull request बनाएं।"
 the first part i.e "अपने fork में कोई भी परिवर्तन करना चाहते हैं" makes no proper connection with the other part

[2021-08-24 12:19] AvineshTripathi commented on #29519
/assign

[2021-08-24 12:27] anubha-v-ardhan commented on #29519
We would like to have better sentence structure. What solution do you recommend?

[2021-08-24 12:30] anubha-v-ardhan commented on #29519
/language hi
/retitle [hi] Fix README-hi.md

[2021-08-24 12:53] AvineshTripathi commented on #29519
I think starting the statement with " इस fork में आप अपने इच्छा अनुसार परिवर्तन कर सकते है  " would sound more correct as well as it would go with the flow with the entire statement

[2021-08-24 13:26] anubha-v-ardhan commented on #29519
We need to mean the same as `Make any changes you want in your fork, and when you are ready to send those changes to us, go to your fork and create a new pull request to let us know about it.`

[2021-08-24 13:49] AvineshTripathi commented on #29519
अपने fork में कोई भी परिवर्तन करना चाहते हैं (existing one) -> this means "want to make any changes to your fork" which is a kind of question to user while we want to convey a assertive sentence that developers can make changes to their fork if you get what I mean

[2021-08-24 13:52] anubha-v-ardhan commented on #29519
Exactly, we need to mean `want to make any changes to your fork`. You can refer the `en` version I stated above.

[2021-08-24 13:55] AvineshTripathi commented on #29519
"want to make any changes to your fork, and when you are ready to send those changes to us, go to your fork and create a new pull request to let us know about it. " this is what the (hi) translation sounds to me I guess that is abrupt

[2021-08-24 14:00] anubha-v-ardhan commented on #29519
How about `अपने fork के परिवर्तन करने के बाद जब आप उनको हमारे पास भेजने के लिए तैयार हों, तो अपने fork पर जाएं और हमें इसके बारे में बताने के लिए एक नया pull request बनाएं`

[2021-08-24 14:00] AvineshTripathi commented on #29519
perfect to me

[2021-08-24 14:01] anubha-v-ardhan commented on #29519
Thanks

[2021-08-24 14:02] AvineshTripathi commented on #29519
if you want you can go with your PR

[2021-08-24 14:06] anubha-v-ardhan commented on #29519
Why did you unassign. You can make a PR, else this could be a `good-first-issue` with some tweaks to issue description.

[2021-08-24 14:06] anubha-v-ardhan commented on #29519
/triage accepted

[2021-08-24 14:07] AvineshTripathi commented on #29519
/assign

[2021-08-24 14:11] rdxmb opened #29520 "Bug: Upgrading kubeadm clusters"
Hello,

all the older sites like https://v1-20.docs.kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/ show the update process up to 1.22 .

I have expected that I find 1.20 -> 1.21 , for example

[2021-08-24 14:22] anubha-v-ardhan commented on #29519
/reopen

[2021-08-24 14:24] anubha-v-ardhan commented on #29519
You need to PR to https://github.com/kubernetes/website for things to change here.
/reopen

[2021-08-24 15:38] gabrielalbino opened #29522 "Wrong "What's next" links in portuguese section"
**This is a Bug Report**

**Problem:**
Links in portuguese section "What's next" are forwarding to english section, even if the page is avaliable in portuguese, harming the user reading experience.
eg.: In "What's next" section of [portuguese "What is kubernetes" page](https://kubernetes.io/pt-br/docs/concepts/overview/what-is-kubernetes/), the link "Dê uma olhada em Componentes do Kubernetes." is

[2021-08-24 15:45] neolit123 commented on #29520
this is a duplicate of:
https://github.com/kubernetes/website/issues/27525

there is a PR in progress to fix it, but merging it is a bit complicated.

/sig cluster-lifecycle
/close

[2021-08-24 15:45] #29520 closed

[2021-08-24 15:48] gabrielalbino commented on #29522
/assign

[2021-08-24 15:48] gabrielalbino commented on #29522
/good-first-issue

[2021-08-24 15:52] mlromramse opened #29523 "Improvement for k8s.io/docs/tasks/access-application-cluster/web-ui-dashboard/"
The link to the dashboard has an additional ``:https`` part at the end of the service name making the link not working.

E.g. This link works: ``http://localhost:8001/api/v1/namespaces/kubernetes-dashboard/services/https:kubernetes-dashboard:/proxy/``

[2021-08-24 16:12] ritazh opened #29524 "Document effects on secrets when memory swap is enabled in 1.22+"
**This is a Feature Request**

**What would you like to be added**

Add a warning for when memory swap feature is turned on, then kubernetes secrets that was written to tmpfs could be swapped to write to disk.
https://kubernetes.io/docs/concepts/architecture/nodes/#swap-memory

**Why is this needed**
This security risk should be documented so users are aware of the impact before turning on the alp

[2021-08-24 17:11] sftim commented on #29524
/sig security
/sig node

We're usually sanguine about not documenting security concerns in full for alpha features (we label the feature as alpha and intend that as a strong hint it's unfinished). We should document this for beta. What I would typically do is run with swap backed by an encrypted file or block device.

[2021-08-24 17:41] #20134 closed

[2021-08-24 17:45] nate-double-u commented on #29065
I've pinged the list, only one person has responded. I suggest that we add who we need/want, and if someone feels they are getting too much email, they can request to be removed.

That said, who should be added to this list?

[2021-08-24 18:25] niteshseram commented on #29523
Same issue #29508
/language en

[2021-08-24 19:06] savitharaghunathan commented on #29524
/triage accepted
/help

[2021-08-24 19:44] bswartz opened #29525 "Issue with k8s.io/docs/concepts/security/pod-security-admission/"
There's a broken link on this page pointing to:
https://kubernetes.io/docs/concepts/security/pod-security-admission/#configuring-the-admission-controller

It's in the first paragraph under:
https://kubernetes.io/docs/concepts/security/pod-security-admission/#exemptions

[2021-08-24 20:22] tylerauerbeck commented on #29525
@bswartz I'm seeing the same. Looks like it should probably link over to: https://kubernetes.io/docs/tasks/configure-pod-container/enforce-standards-admission-controller/#configure-the-admission-controller . Does that make sense to you as well?

[2021-08-24 20:49] bswartz commented on #29525
Yeah I think that's probably what the original author intended

[2021-08-24 23:23] chrismetz09 commented on #28808
Tx for looking at the diagram @tengqm. Idea of diagrams was to "greet" new contributors with a simple/simple/simple diagram that articulates the accompanying text. Mermaid is somewhat limited and there were screensize and font size issues to deal with.

Not sure what you mean by flow. Use the [mermaid live-editor](https://mermaid-js.github.io/mermaid-live-editor/edit#eyJjb2RlIjoiZ3JhcGggVERcbkFbQ2

[2021-08-25 00:57] jihoon-seo commented on #28446
This issue is resolved by the PR #28451 .

[2021-08-25 00:57] #28446 closed

[2021-08-25 04:28] RA489 commented on #29453
@rajar0201 can you please elaborate the issue?

[2021-08-25 04:38] RA489 commented on #29319
@tRavAsty could you please refresh and try it works for me.

[2021-08-25 04:40] RA489 commented on #29314
@mehedieu could you please let us know what's the issue with k8s component page?

[2021-08-25 04:54] RA489 commented on #29292
/triage accepted

[2021-08-25 06:38] mlromramse commented on #29523
You're welcome!

Den tis 24 aug. 2021 kl 20:26 skrev Nitesh Seram ***@***.***>:

[2021-08-25 06:57] Kartik494 commented on #29040
You can check the previous release here for finding the state of the feature

- https://v1-20.docs.kubernetes.io/docs/concepts/workloads/controllers/ttlafterfinished/
- https://v1-21.docs.kubernetes.io/docs/concepts/workloads/controllers/ttlafterfinished/

[2021-08-25 09:17] yyy1000 opened #29530 "Inaccurate advice in “Exposing Your App” interactive tutorial"
In this module, Step 1 Create a new service
there saying that: (minikube does not support the LoadBalancer option yet).
However, I have tested that minikube has supported the LoadBalancer option.
So I think that the docs can be revised.

[2021-08-25 09:48] AayushSaini101 commented on #29522
Can i work on this issue..

[2021-08-25 13:54] tengqm commented on #28808
@chrismetz09 By "flow", I mean the arrows between boxes are confusing. If there is an arrow between 'A' and 'B', I'd assume there is a "happen-before" relationship. In other words, I have to complete 'A' as a prerequisite for 'B'. However, this is not the case with some of the boxes. Users may choose to start from 'A', or 'C'.

[2021-08-25 15:09] jcichonj opened #29535 "Web UI (Dashboard)"
the website url given is not working:
http://localhost:8001/api/v1/namespaces/kubernetes-dashboard/services/https:kubernetes-dashboard:https/proxy/

correct one that works is:
http://localhost:8001/api/v1/namespaces/kubernetes-dashboard/services/https:kubernetes-dashboard:/proxy

(without https)

[2021-08-25 15:13] #29535 closed

[2021-08-25 15:13] jcichonj commented on #29535
duplicate of #29526

[2021-08-25 15:20] chrismetz09 commented on #28808
@tengqm tx for the suggestion. I understand your point. How about [this](https://mermaid-js.github.io/mermaid-live-editor/edit/#eyJjb2RlIjoiZmxvd2NoYXJ0IFRCXG4gICAgc3ViZ3JhcGggdGhpcmRbT3BlbiBQUl1cbiAgICAgICAgZGlyZWN0aW9uIFRCXG4gICAgICAgIFVbIF0gLS4tXG4gICAgICAgIFFbSW1wcm92ZSBjb250ZW50XSAtLS0gTltDcmVhdGUgY29udGVudF1cbiAgICAgICAgTiAtLS0gT1tUcmFuc2xhdGUgZG9jc11cbiAgICAgICAgTyAtLS0gUFtNYW5hZ2UvcHVibGlz

[2021-08-25 16:08] sftim opened #29537 "Migrate images for “Alpha in Kubernetes v1.22: API Server Tracing” article"
**This is a Bug Report**

**Problem:**
https://github.com/kubernetes/website/pull/28991 adds a blog article but the images are not hosted within [k/website](https://github.com/kubernetes/website); they should be.

**Proposed Solution:**
Create a PR that adds those images (see other articles that use images for examples) into this repo, and change the article's Markdown source to use them. It might

[2021-08-25 16:08] sftim commented on #29537
/help

[2021-08-25 16:18] Kartik494 commented on #29502
The tutorial running fine in my environment, According to logs it's seems like an issue with PVC is already bound which you are trying to bound in this tutorial.Could you check on it

[2021-08-25 16:25] keshavcodex commented on #29353
it's done @anubha-v-ardhan, you can add this [PR here](https://github.com/kubernetes/website/pull/29518) on this page.

[2021-08-25 17:22] daddy-joseph97 opened #29538 "Issue with k8s.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/"
https://v1-21.docs.kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/

The content of the pages, even when navigating based on the tab dropdown of a version or using the links at the top of the page of current to upgrade version, still show 1.22 (current latest as of this submission) as the version to check for.

The text above code samples includes for example, "Find the latest

[2021-08-25 19:11] #29538 closed, assigned to nobody

[2021-08-26 05:48] snimje opened #29542 "Unclear documentation for kubelet command line arguments"
https://v1-19.docs.kubernetes.io/docs/tasks/administer-cluster/reserve-compute-resources/#kube-reserved

this information contradicts with the information provided on https://v1-19.docs.kubernetes.io/docs/reference/command-line-tools-reference/kubelet/
see section: --kube-reserved mapStringString     Default: <None>.

Problem with documentation:
on https://v1-19.docs.kubernetes.io/docs/tasks/admin

[2021-08-26 07:27] Shubham82 opened #29544 "Remove Heapster content from Horizontal Pod Autoscaler"
**This is a Bug Report**

**Problem:**
In [Horizontal Pod Autoscaler](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/) there is mentioned about Heapster under [How does the Horizontal Pod Autoscaler work?](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#how-does-the-horizontal-pod-autoscaler-work) like below:

[code]
and under [Support for metr

[2021-08-26 13:42] Eraac opened #29550 "[typo]: broken link in service-v1 reference"
**This is a Bug Report**

**Problem:**
The link for iana.org under `Service Spec > ports[] > appProtocol` has an extra character `)` which result as a 404, and the link use `http://` instead of `https://`

**Proposed Solution:**
Use `https://` and remove the extra `)` at the end

**Page to Update:**
https://kubernetes.io/docs/reference/kubernetes-api/service-resources/service-v1/

[2021-08-26 22:27] #27843 closed, assigned to nobody

[2021-08-26 22:35] nate-double-u opened #29556 "Add information about the new Blog archetype to the Submitting blog posts and case studies page"
**This is a Feature Request**

**What would you like to be added**

As suggested in PR https://github.com/kubernetes/website/pull/27971#issue-643617431: Add some information about this archetype (and how to use it) to the _[Submitting blog posts and case studies page](https://kubernetes.io/docs/contribute/new-content/blogs-case-studies/)_. (Maybe under the _[Technical Considerations for submitting

[2021-08-26 23:20] nate-double-u opened #29557 "Blog organization inconsistencies"
**This is a Request for Discussion**

**What would you like to be changed**

Currently there appears to be 2 ways to organize blog posts and their associated files:
1. The post is added as a single file in `/content/en/blog/_posts`, formatted as `<date>-<blog name>.md`. Any supplementary content is added to `/static/images/blog` (usually, but not always, in a subfolder refering to the `<date>-<blo

[2021-08-27 03:15] bang9211 opened #29558 "[ko] Translate /tasks/inject-data-application/define-interdependent-environment-variables.md into Korean"
**This is a Feature Request**
Translate [/content/en/docs/tasks/inject-data-application/define-interdependent-environment-variables.md] in Korean

**What would you like to be added**
Translate [/content/ko/docs/tasks/inject-data-application/define-interdependent-environment-variables.md] in Korean

**Why is this needed**
This file is not translated yet.

**Comments**
Page to translate : https://ku

[2021-08-27 05:49] ClaudiaJKang opened #29559 "[ko] Translate docs/reference/glossary/sysctl.md in Korean"
**This is a Feature Request**
Translate [docs/reference/glossary/sysctl.md](https://github.com/kubernetes/website/blob/dev-1.21-ko.7/content/en/docs/reference/glossary/sysctl.md) in Korean

**What would you like to be added**

Translate [docs/reference/glossary/sysctl.md](https://github.com/kubernetes/website/blob/dev-1.21-ko.7/content/en/docs/reference/glossary/sysctl.md) in Korean

**Why is this

[2021-08-27 05:52] ClaudiaJKang opened #29560 "[ko] Translate docs/tasks/administer-cluster/sysctl-cluster.md in Korean"
**This is a Feature Request**
Translate [docs/tasks/administer-cluster/sysctl-cluster.md](https://github.com/kubernetes/website/blob/dev-1.22-ko.1/content/en/docs/tasks/administer-cluster/sysctl-cluster.md) in Korean

**What would you like to be added**

Translate [docs/tasks/administer-cluster/sysctl-cluster.md](https://github.com/kubernetes/website/blob/dev-1.22-ko.1/content/en/docs/tasks/admini

[2021-08-27 06:30] kerthcet opened #29561 "mis-translated time interval in reconfigure-kubelet chapter"
**This is a Bug Report**

**Problem:**
translation error:
[code]
`10-minute` should be `10-second` as the source code indicates, located at `kubernetes/pkg/kubelet/kubeletconfig/` L141
[code]

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/tasks/administer-cluster/reconfigure-kubelet/#edit-the-configuration-file

[2021-08-27 10:40] lukos opened #29567 "Improvement for k8s.io/docs/concepts/configuration/secret/"
Under TLS secrets, it says that the BEGIN/END lines in the pem are not included. I'm not sure whether this is unclear or wrong.

If you try and create a TLS secret *without* the BEGIN/END lines, you get an error so the documentation might be wrong/out of date.

On the other hand, you might be trying to say that when the contents of those files are written to the secret, the BEGIN/END lines are rem

[2021-08-27 16:05] TimRudy opened #29570 "Broken link at k8s.io/docs/tasks/tools/install-kubectl-windows"
Very basic step
"Install kubectl binary with curl on Windows"
`curl -LO https://dl.k8s.io/release//bin/windows/amd64/kubectl.exe`

Response seems good:
[code]
But .exe is actually XML, giving download error:
`...<Details>No such object: kubernetes-release/release/bin/windows/amd64/kubectl.exe</Details>`

Hard to realize and quite unfriendly! Thanks

[2021-08-28 01:04] #29570 closed

[2021-08-28 10:44] rduan opened #29576 "Pod Security Policies"
https://kubernetes.io/docs/concepts/policy/pod-security-policy/

I run through the example and found it can create the pause pod before creating the role of psp:unprivileged and rolebinding, no security error report.

And after creating psp:unprivileged role and rolebinding, there is no error to create privileged pod use kubectl-user.

[2021-08-28 13:12] rduan commented on #29576
sorry, I found I missed to setup api-server. It works after that.

[2021-08-28 13:12] #29576 closed

[2021-08-28 14:18] #29194 closed

[2021-08-28 14:28] code-reaper08 commented on #29155
Hello @CIPHERTron 😄

I didn't have time to look into it, since I filed the issue,  so the issue is still open AFAIK.

[2021-08-28 22:35] 3n-mb opened #29578 "Weirdness with kubernetes.io/docs navigation"
Verbatim from http://kwlug.org/pipermail/kwlug-disc_kwlug.org/2021-August/020588.html

I just had a huge relief in noticing weirdness/quirk in kubernetes.io/docs that breaks expected behaviour of content outline tree.

When you look at any other normal docs, e.g. Docker, SaltStack, on the side you have this tree form of content that expands and shows you where you are. And since docs are packaged

[2021-08-29 01:47] mojoa opened #29580 "Tutorial Warning or fix"
For:
https://kubernetes.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/

I am a new student and find the tutorial/task for configuring persistent volume storage as written, does not work. I found other people having the same problem as I am. I was able to change the storageClassname to "standard" in both the pv-volume.yaml and pv-claim.yaml and got a "bound" indication,

[2021-08-29 20:08] neha200 commented on #29522
can i work on this issue?

[2021-08-29 22:58] tylerauerbeck commented on #28994
@jihoon-seo I see that #28530 has been merged and it appears that this still results in a 404 error. Is this expected?

[2021-08-30 01:21] chenxuc commented on #29329
I'm working on `(11) admin` : PR #29584

[2021-08-30 02:23] borkod commented on #29496
@shivrajjadhav733 How are you creating your pod and pdb?

If you're creating your pods using a deployment, you can put your pdb into the same YAML file as your deployment. When creating the resources you then provide the file name:

`kubectl create -f myapp.yaml`

You can then use the file to remove the resources:

`kubectl delete -f myapp.yaml`

Another alternative approach is to provide the same

[2021-08-30 02:39] borkod commented on #29479
@sftim @tallclair Is the idea to create a new reference page or just add the annotations to the above page? I guess I am trying to understand the reasoning for creating a new page vs adding the annotations to the page references above. In either case, I would love to help with this and take a first attempt at it 😃

[2021-08-30 02:48] #29537 closed

[2021-08-30 06:04] jihoon-seo commented on #28994
@tylerauerbeck Please note that the URLs of YAML files are slightly changed.

In https://kubernetes.io/docs/tasks/access-application-cluster/port-forward-access-application-cluster/ ,
there are 2 YAML URLs.

- https://k8s.io/examples/application/mongodb/mongo-deployment.yaml
- https://k8s.io/examples/application/mongodb/mongo-service.yaml

And with my web browser, I can reach those 2 YAML files.

[2021-08-30 06:04] jihoon-seo commented on #28994
/close

[2021-08-30 06:04] #28994 closed

[2021-08-30 06:05] jihoon-seo commented on #28823
This issue is resolved since the PR #28530 has been merged.
/close

[2021-08-30 06:05] #28823 closed

[2021-08-30 06:05] jihoon-seo commented on #28854
This issue is resolved since the PR #28530 has been merged.
/close

[2021-08-30 06:05] #28854 closed

[2021-08-30 10:06] CIPHERTron commented on #29155
Hey, @code-reaper08 would you mind if I work on it?

[2021-08-30 10:25] shahamit commented on #20810
Thanks for the quick fix. I can now create instances and execute kubectl commands. I do get an error when executing get nodes or get pods command as "The connection to the server localhost:8080 was refused - did you specify the right host or port?"

Looks like a configuration problem since it worked once after deleting the session and starting fresh but that was only 5 out of once that it worked.

[2021-08-30 12:52] code-reaper08 commented on #29155
Sure @CIPHERTron 😄💯

[2021-08-30 13:09] imoisharma commented on #28823
Cheers.

[2021-08-30 14:14] #28999 closed

[2021-08-30 14:56] BartoszKupiecki opened #29587 "Issue with k8s.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/"
The link:

https://github.com/kubernetes-sigs/sig-windows-tools/releases/latest/download/flannel-overlay.yml

No longer works

[2021-08-30 15:16] shannonxtreme commented on #28072
/remove-lifecycle stale

[2021-08-30 15:19] marcosnils commented on #20810
Are you initializing the cluster?  You need to follow the instructions in the welcome message and make sure you have a running control plane before running kubectl commands.

[2021-08-30 15:29] shahamit commented on #20810
Yes I do run the first to commands in the welcome message to configure the
first node as the master node and later join this cluster from another node.

Anything else that I could be missing?

On Mon 30 Aug, 2021, 8:49 PM Marcos Nils, ***@***.***> wrote:

[2021-08-30 15:34] neolit123 commented on #29587
related:
https://github.com/kubernetes-sigs/sig-windows-tools/issues/164

/sig windows
/kind bug

[2021-08-30 15:53] marcosnils commented on #20810
You can only use kubectl from the main node afterwards. All the secondary
nodes will through the error that you're seeing. That's how kubernetes
works.

On Mon, Aug 30, 2021 at 12:29 PM shahamit ***@***.***> wrote:

[2021-08-30 16:26] ritazh commented on #26215
Per triage call, looks like `It is important to set CN and O attribute of the CSR` should be expanded in the doc. https://kubernetes.io/docs/reference/access-authn-authz/certificate-signing-requests/#create-private-key

/remove-lifecycle rotten
/triage accepted
/priority important-longterm

[2021-08-30 16:38] anshkhandelwal12 commented on #29522
I think no one was working on this issue so I can work on this issue

[2021-08-30 18:57] raelga commented on #27078
We are troubleshooting some issues with @SivaTharun CLA.

[2021-08-30 19:08] gouravmohanty7070 commented on #27078
Can I work on it?

[2021-08-30 20:20] dfisher1 opened #29588 "Issue with k8s.io/docs/tutorials/configuration/configure-java-microservice/configure-java-microservice-interactive/"
The tutorial refers to the path: sample-kubernetes-config/start/

There is no such folder on my machine, nor is the file kubernetes.yaml to be found anywhere on my system.

I have installed minikube 1.20.0 and Oracle VM VirtualBox  6.1.26 r145957 (Qt5.6.2) on Windows 10

Is there something else I need to install that is not mentioned in the tutorial?

[2021-08-30 20:51] tRavAsty commented on #29319
yeah it is working now

[2021-08-30 20:51] #29319 closed

[2021-08-31 11:20] alexeyerm opened #29590 "Issue with k8s.io/docs/concepts/workloads/controllers/deployment/"
"Flag --record has been deprecated" (c) kubectl

But still used in recommendations and examples (10 times in this article).

[2021-08-31 15:06] antaloala opened #29591 "Kubernetes Deprecation Policy page lists wrong release cadence"
In k8s document page: https://kubernetes.io/docs/reference/using-api/deprecation-policy/

Second paragraph below Rule #4b says:

All of this is best illustrated by examples. Imagine a Kubernetes release, version X, which introduces a new API group. **A new Kubernetes release is made every approximately 3 months (4 per year).**

It should say:

All of this is best illustrated by examples. Imagine a

[2021-08-31 15:20] shannonxtreme commented on #29590
@sftim, is this a candidate for a good first issue?

[2021-08-31 15:29] shannonxtreme commented on #29588
The interactive tutorial uses an existing Katacoda environment. File paths are relative to the remote, not to your local machine.

[2021-08-31 15:31] shannonxtreme commented on #29587
/triage accepted
/priority important-soon

[2021-08-31 19:50] shannonxtreme commented on #29580
Hi mojoa@! Could you please point out where you had issues, and what the exact problem was? It sounds like you got up to [Create a Pod](https://kubernetes.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/#create-a-pod) without issues.

Please provide any relevant output as well as the exact steps you followed so that one of us can try and replicate the issue.

/triage need

[2021-08-31 23:22] bang9211 opened #29595 "[ko] Translate tasks/inject-data-application/environment-variable-expose-pod-information.md"
**This is a Feature Request**
Translate [/content/en/docs/tasks/inject-data-application/environment-variable-expose-pod-information.md] in Korean

**What would you like to be added**
Translate [/content/en/docs/tasks/inject-data-application/environment-variable-expose-pod-information.md] in Korean

**Why is this needed**
This file is not translated yet.

**Comments**
Page to translate : https://ku

[2021-09-01 02:02] jihoon-seo commented on #29522
This issue will be resolved if the PR #29581 by @SwapnaneelChowdhury is merged.
/assign @SwapnaneelChowdhury

[2021-09-01 02:06] jihoon-seo commented on #29508
This issue seems okay to be closed since the PR #29526 is merged.

[2021-09-01 02:06] jihoon-seo commented on #29523
This issue seems okay to be closed since the PR #29526 is merged.

[2021-09-01 02:09] n2vo commented on #29508
Agreed, tried following the new doc page today with the corrected link.  It worked!  👍

[2021-09-01 02:09] #29508 closed

[2021-09-01 02:57] mojoa commented on #29580
Hi, @shannonxtreme , Thanks for taking the time to reach out. I had problems getting bound status from get pvc. But have restarted my cluster and its working now. I will take this opportunity to request a BOLD FONT in the [before-you-begin](https://kubernetes.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/#before-you-begin) section when it mentions "single node" cluster

[2021-09-01 02:57] #29580 closed

[2021-09-01 04:37] rajeev2509 opened #29596 "Improvement for k8s.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/"
Draining a node is discussed in doc after master node upgrade. Master node HA is not considered here hence draining the master node should have come in picture much before. doc is confusing....

[2021-09-01 08:38] demonCoder95 opened #29597 "Typo in a sample manifest"
**This is a Bug Report**

**Problem:**
In the blog titled ``OPA Gatekeeper: Policy and Governance for Kubernetes``, a sample manifest is provided for a ``ConstraintTemplate``. This blog is in the file ``content/en/blog/_posts/2019-08-06-OPA-Gatekeeper-Policy-and-Governance-for-Kubernetes.md``

The ``spec.targets[].rego`` provides a rule named ``deny`` and when applied, the GateKeeper admission con

[2021-09-01 08:41] demonCoder95 commented on #29597
If I can be given membership of the org, I can hunt down more such typos and triage my issues to expedite patching. Let me know if this helps :)

[2021-09-01 10:01] tengqm commented on #29523
/close

[2021-09-01 10:02] #29523 closed

[2021-09-01 11:51] Kartik494 commented on #29494
Hi @xhejtman  i have a question regarding this, is it necessary to highlight to capacity of file system hosting the base directory? It is stated [here](https://kubernetes.io/docs/concepts/storage/ephemeral-volumes/#types-of-ephemeral-volumes)  that `storage coming locally from the kubelet base directory (usually the root disk) or RAM`

[2021-09-01 12:09] Kartik494 commented on #29106
@jihoon-seo Thank you for Looking into it , it's clear all my doubts regarding this.I am closing  this issue as no more investigation required on this.

[2021-09-01 12:09] Kartik494 commented on #29106
/close

[2021-09-01 12:09] #29106 closed

[2021-09-01 14:24] tengqm commented on #29597
@demonCoder95 Org membership should not be a blocker for any contributors. See [getting started](https://kubernetes.io/docs/contribute/#getting-started).

[2021-09-01 15:31] demonCoder95 commented on #29597
@tengqm I was just mentioning it, so that I can add triaged tags for myself with typos like these that I may find in the future. Thanks for the help! I'll send a short patch right away to fix this thing.

[2021-09-01 16:45] tallclair commented on #29479
I think that page (https://kubernetes.io/docs/reference/labels-annotations-taints/) would be more useful if it were reorganized with headings for each of the resources the annotations apply to, and then we could just add a section for audit events.

`topology.kubernetes.io/zone` looks like the only one that's used on multiple resources, but it already has a separate description for each - so I thi

[2021-09-01 16:55] borkod commented on #29479
I like that idea. I'll work on implementing something along those lines 😃

[2021-09-01 16:56] borkod commented on #29479
/assign

[2021-09-01 17:43] #27132 closed

[2021-09-01 18:16] bang9211 commented on #29595
/assign

[2021-09-01 19:13] neolit123 commented on #29596
hello, i don't think the page is that confusing.

the page has two main sections, as you can see:
- Upgrading control plane nodes
- Upgrading worker nodes

draining a node is a necessary step before upgrading a kubelet on a node for all node types.
for control plane nodes it is done *after* calling "kubeadm upgrade ..." on all of them.

do you have any improvements in mind?

/sig cluster-lifecycle

[2021-09-01 21:12] reylejano commented on #20232
/remove-lifecycle rotten

[2021-09-01 22:00] brandond commented on #27814
Still an issue.

/remove-lifecycle rotten

[2021-09-02 03:24] RA489 commented on #29324
@HarikrishnanBalagopal Do you mind testing it on your local environment. I think the correct documentation is correct.

[2021-09-02 03:24] RA489 commented on #29324
/triage needs-information

[2021-09-02 03:24] RA489 commented on #29324
/kind support

[2021-09-02 03:29] RA489 commented on #29324
/kind support

[2021-09-02 03:33] RA489 commented on #29314
/close

[2021-09-02 03:33] #29314 closed

[2021-09-02 03:35] RA489 commented on #29204
/team katacoda

[2021-09-02 05:13] AvineshTripathi opened #29602 "Kubernetes Components"
The image seems to be small and reading it is quite difficult can we have an image that is more readable than current existing one

![Screenshot from 2021-09-02 10-44-16](https://user-images.githubusercontent.com/73980067/131785746-9f273448-121f-492a-a4cb-7afd70cb2b25.png)

[2021-09-02 05:28] tengqm commented on #29602
Agree. Looks to me like some unknown islands in the Pacific ocean. There are other diagrams which have the same problems.

[2021-09-02 06:18] vaibhav2107 commented on #28015
As fixed in #28237, can close this issue
/close

[2021-09-02 06:18] #28015 closed

[2021-09-02 07:19] Kartik494 commented on #29494
so if i am not wrong here you want to propose idea that ephemeral-storage should not take capacity of kubelet base directory?

[2021-09-02 07:24] xhejtman commented on #29494
Well, it depends, maybe an option where to take ephemeral-storage capacity from would be a good way. In mean time, I propose to more clearly document that the capacity (not just storage but storage capacity of `ephemeral-storage` resource) is taken from kubelet directory.

[2021-09-02 09:53] Kartik494 commented on #29494
i am not so sure on that proposal , but we can take a look for documentation modification for the same

[2021-09-02 10:02] chenzhiwei opened #29603 "Questions about the YAML Block Sequences indent style"
In the Kuberentes website, there are various yaml example content, they have two styles of block sequences.

1. Indent with two spaces

[code]

2. Indent with zero space

[code]

In different kubernetes.io pages, the styles are different, and I also found that there are two styles in a single yaml block, like this page: https://kubernetes.io/docs/concepts/services-networking/service/#loadbalancer

[2021-09-02 14:11] imoisharma commented on #29597
/assign @imoisharma

[2021-09-02 14:14] stephaneeybert opened #29605 "Improvement for k8s.io/docs/reference/kubectl/jsonpath/"
Could we have an example on how to express the json path when doing a kubectl patch command ?

[2021-09-02 16:25] niteshseram commented on #29602
Similar issue #29340

[2021-09-02 16:29] sanguis opened #29606 "Set up Ingress on Minikube with the NGINX Ingress Controller- Minikube runs version of k8s incompatible with ingress sample"
In the guid on
https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/
The version of `minikube` spun up is version 1.17 while the example ingress is agains the api provided by minikube 1.19 and up.
The ingress that works is.

[code]

I know it would be better to get a modern minikube going but this is a fix for now

[2021-09-02 16:53] niteshseram commented on #29606
Similar issue #29204

[2021-09-02 22:24] owenmarinas opened #29609 "kubectl Cheat Sheet"
##   #It should add to:
source <(kubectl completion bash) #  bash-completion package should be installed first.
echo "source <(kubectl completion bash)" >> ~/.bashrc # add autocomplete permanently to your bash shell.
alias k=kubectl
complete -F __start_kubectl k
##  #This 2 lines
echo "set ts=2 sts=2 sw=2 et ai si nu showcmd incsearch ignorecase" >> ~/.vimrc
export do="--dry-run=client -o yaml"

[2021-09-03 00:53] comdiv opened #29611 "Module 2 - Interactive terminal hanging and not allow enter anything after using shortcuts from module or if i open secondary terminal"
1. Open module 2
2. wait it starting kube ctl
3. try write something - all ok
4. try open secondary terminal/ or click shortcut in module text
5. it will be opened or executed
6. but after it it does not listening to keyboard anymore

[2021-09-03 08:01] AvineshTripathi commented on #29340
I would like to do this

[2021-09-03 09:07] mengjiao-liu commented on #29328
The synchronization tasks is complete.
/close

[2021-09-03 09:07] #29328 closed

[2021-09-03 15:36] #29609 closed

[2021-09-03 15:37] owenmarinas commented on #29609
will not be useful unless CKA exam context

[2021-09-03 18:20] #29496 closed

[2021-09-03 18:33] tylerauerbeck commented on #29204
@BenHall @sftim Was there an update on this? Would be happy to help get this updated if needed.

[2021-09-03 22:05] #26909 closed

[2021-09-03 23:06] #27405 closed

[2021-09-04 05:04] towfeeqfayaz11 commented on #29101
Hi Team,
This is my first time exposure to open source.
Apologies if I am writing in the wrong section!
I want to contribute to this issue. Would appreciate the guidance from fellow members.
Regards
Towfeeq

[2021-09-04 05:43] towfeeqfayaz11 commented on #29101
/assign

[2021-09-04 06:53] BenHall commented on #29204
@sftim Sorry for the delay. It was caught up with other conversations. I've raised a PR in https://github.com/kubernetes/website/pull/29615.  It will now use K8s 1.20 which is the latest available in Katacoda.

I haven't tested the build yet but will do once ready and will update accordingly.

[2021-09-04 07:14] rvalle opened #29617 "Question about “Deploying An App” interactive tutorial"
In this module the deployment is created however Port is empty.

I the next module the deployment is created for you, and then there is a Port assigned

how does that happen?

[2021-09-04 07:33] rvalle commented on #29617
I think --port=8080 is missing, right?

Just trying to follow the tutorial in my own k8s deployment.

[2021-09-04 09:11] psvensson opened #29618 "Incorrect statement in “Exposing Your App” interactive tutorial"
The output of the 'kubectl get services' command does not display an external IP, in contrast to the statement just after,

"We have now a running Service called kubernetes-bootcamp. Here we see that the Service received a unique cluster-IP, an internal port and an external-IP (the IP of the Node)."

This leaves the laborator a bit confused and make learning a bit harder than I think was intended

[2021-09-04 17:10] #26416 closed

[2021-09-05 02:22] SJ50 commented on #28989
@slayer321 you have mentioned backup command

[restoring etcd cluster](https://kubernetes.io/docs/tasks/administer-cluster/configure-upgrade-etcd/#restoring-an-etcd-cluster) requires changes
so restore command should be
[code]
Than update path to <new-data-dir> for hostPath named "etcd-data" in etcd manifest file.

[2021-09-05 02:27] SJ50 commented on #28989
volumes:
  - hostPath:
      path: <new-data-dir>
      type: DirectoryOrCreate
    name: etcd-data

[2021-09-05 13:05] clarkli86 opened #29622 "Improvement for k8s.io/docs/tutorials/stateless-application/guestbook/"
It would be useful to mention how the redis-followers are configured to discover the leader, and how the PHP guestbook application uses the "hostname"s of the redis instance.

[2021-09-05 20:19] #27465 closed

[2021-09-06 08:06] timothyclarke commented on #19611
/remove-lifecycle stale

[2021-09-06 11:46] udoyen opened #29627 "Issue with k8s.io/docs/tutorials/configuration/configure-java-microservice/configure-java-microservice-interactive/"
Trying to do the tutorial but keep getting this error:

We are sorry but we encountered a problem with the connection.
Please refresh and try again.
Mon Sep 06 2021 12:44:15 GMT+0100 (West Africa Standard Time)
ping timeout

[2021-09-06 11:57] udoyen commented on #29627
/triage accepted

[2021-09-06 14:17] RA489 commented on #29606
/triage accepted

[2021-09-06 14:20] RA489 commented on #29606
the latest release of minikube solve this problem https://github.com/kubernetes/minikube/pull/12089

[2021-09-07 00:10] #27056 closed

[2021-09-07 04:56] CIPHERTron commented on #29155
/assign

[2021-09-07 06:00] mm4tt commented on #28068
/assign @marseel

Note that Marcel is OOO this week, but he should be able to help with that once he is back.

[2021-09-07 06:40] wojtek-t commented on #28068
We should update https://github.com/kubernetes/community/blob/master/sig-scalability/configs-and-limits/provider-configs.md and link it from there [though not in the current format...]

/remove-lifecycle stale

[2021-09-07 08:07] SvenMW commented on #27068
/remove-lifecycle stale

[2021-09-07 08:20] kerthcet commented on #29561
/close

[2021-09-07 08:20] #29561 closed

[2021-09-07 08:55] anubha-v-ardhan commented on #29627
/kind support

[2021-09-07 08:57] anubha-v-ardhan commented on #29617
/kind support

[2021-09-07 10:28] #27495 closed

[2021-09-07 10:32] abhibhaw commented on #29524
Hey, I am new to the community and interested in contributing.
Can I work on this issue?

[2021-09-07 11:09] sftim commented on #29524
_Anyone_ who signs the CLA is welcome to work on any issue in this Kubernetes repo.

[2021-09-07 12:36] sftim commented on #29606
Looks like #29616 would fix this.

[2021-09-07 12:37] oke-py commented on #28645
/close

[2021-09-07 12:37] #28645 closed

[2021-09-07 12:43] #29204 closed

[2021-09-07 12:55] sftim commented on #29606
Looks to be fixed in #29616
/close

[2021-09-07 12:56] #29606 closed

[2021-09-07 12:56] sftim commented on #27493
Fixed by #29616

[2021-09-07 12:56] sftim commented on #27493
/close

[2021-09-07 12:56] sftim commented on #27935
Fixed by #29616
/close

[2021-09-07 12:56] #27493 closed

[2021-09-07 12:56] sftim commented on #28897
Fixed by #29616
/close

[2021-09-07 12:56] sftim commented on #29181
Fixed by #29616
/close

[2021-09-07 12:56] #27935 closed

[2021-09-07 12:56] #28897 closed

[2021-09-07 12:56] #29181 closed

[2021-09-07 12:58] sftim commented on #29557
IMO yes

For my part: no strong opinion. The existing loose conventions seem OK. I don't mind changing away from them. I do like that there's a basic attempt at rigor / consistency.

[2021-09-07 13:17] sftim commented on #27068
In that case, this question is actually not about PodSecurityPolicy; it's about the [`securityContext`](https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/pod-v1/#security-context-1) field. PodSecurityPolicy restricts what kinds of Pod objects can be admitted - enforcing constraints about details including `securityContext`. Syscall filtering is a node-level issue that follows

[2021-09-07 13:19] sftim commented on #29591
/kind bug
/retitle Kubernetes Deprecation Policy page lists wrong release cadence
/language en
/help
/priority backlog
/triage accepted

Thanks for the report.

[2021-09-07 13:20] sftim commented on #29590
I'm afraid for this to be a good first issue we'd need to provide more advice to people reading this so that we had lowered the barrier to entry enough.
@alexeyerm if you'd like to revise the issue description with the [guidelines](https://www.kubernetes.dev/docs/guide/help-wanted/#good-first-issue) in mind, that'd be lovely. We can still work on the issue if that doesn't happen though.

[2021-09-07 13:21] sftim commented on #29590
/sig apps

[2021-09-07 13:22] sftim commented on #29590
Should we also fix https://kubernetes.io/docs/tasks/manage-daemon/rollback-daemon-set/ ?

[2021-09-07 13:24] sftim commented on #29590
BTW https://github.com/kubernetes/enhancements/tree/master/keps/sig-cli/859-kubectl-headers doesn't mention the annotation.

[2021-09-07 13:27] sftim opened #29633 "kubernetes.io/change-cause annotation not listed"
**This is a Bug Report**

**Problem:**
[Well-Known Labels, Annotations and Taints](https://kubernetes.io/docs/reference/labels-annotations-taints/) doesn't mention the annotation `kubernetes.io/change-cause`.

**Proposed Solution:**
Add `kubernetes.io/change-cause` to the list. If it's deprecated, add it but with a note to say that it's deprecated.

**Page to Update:**
https://kubernetes.io/docs/r

[2021-09-07 13:27] sftim commented on #29633
/language en

[2021-09-07 16:08] SvenMW commented on #27068
Thanks for the pointers @sftim  ! much appreciated

[2021-09-07 18:20] zt185019 commented on #12657
this is still an issue. please rewrite the whole paragraph and explain in more detail. thanks

[2021-09-07 18:32] #27484 closed

[2021-09-07 18:32] alexeyerm commented on #29590
Sorry, i am not experienced in Kubernetes to write docs.

BTW i don't think that "good first issue" badge should be achieved for expired documentation remarks.

[2021-09-07 21:01] shannonxtreme commented on #29590
@sftim from what I understood, including the kubectl subcommand in the header replaces the need to use `--record` to write to the annotation, since the cause of the change is now recorded in the header.

[2021-09-07 23:06] reylejano commented on #22961
/remove-lifecycle rotten

[2021-09-08 03:27] bhumijgupta commented on #29591
I would like to pick this up
/assign

[2021-09-08 09:29] abhibhaw commented on #29524
/assign

[2021-09-08 09:35] abhibhaw commented on #29524
Thanks, @sftim, for the assistance. Can I get some resources that can help me better understand what all and where I need to add?

[2021-09-08 09:52] CIPHERTron commented on #29633
@sftim how to know if `kubernetes.io/change-cause` is deprecated or not?

[2021-09-08 14:35] #29602 closed

[2021-09-08 14:35] AvineshTripathi commented on #29602
#29340

[2021-09-08 15:24] n-hebert opened #29641 "Improvement for k8s.io/docs/tasks/run-application/run-single-instance-stateful-application/"
Please provide links on the 'Before you begin' section, teaching how to 'have dynamic PersistentVolume provisioner with a default StorageClass'.

I'm quite new to K8s and am not sure how to verify if I have the former half of this sentence, and the latter end of it (static provisioning) looks less automated / more difficult.

[2021-09-08 15:53] n-hebert commented on #29641
Seems like it could just link here: https://kubernetes.io/docs/concepts/storage/dynamic-provisioning/

[2021-09-08 16:59] SebTardif opened #29643 "Improvement for k8s.io/docs/tasks/configure-pod-container/pull-image-private-registry/"
I would like to know the same thing when my k8s cluster is not using docker but RKE2 (from rancher) which use containerd.

[2021-09-08 21:13] abhibhaw commented on #29524
![swap](https://user-images.githubusercontent.com/39991296/132586193-85fec700-4fc5-4426-ab69-6e17a60f90cb.png)
Hey @sftim @ritazh was this all needed to be done? Should I send a PR?

[2021-09-09 00:54] #25195 closed

[2021-09-09 01:20] #29544 closed

[2021-09-09 02:30] jihoon-seo commented on #29300
This issue seems okay to be closed, since the PR #29447 is merged.
/close

[2021-09-09 02:31] #29300 closed

[2021-09-09 02:37] #29595 closed

[2021-09-09 08:25] bhumijgupta commented on #28865
Hey @sftim , I would like to work on this. Is this the correct place to add the validation?
https://github.com/kubernetes/website/blob/4b18015cd363b2c23a119258201dd274940cdc0f/layouts/partials/head.html#L5-L11

[2021-09-09 09:47] #27498 closed

[2021-09-09 10:07] s-kawamura-w664 commented on #29324
@HarikrishnanBalagopal @RA489

Perhaps the words "Pod" and "Job" may have been misleading.
I think "Job" refers to a container that complete in a certain period.
In other words, this explanation means the following.
The activeDeadlineSeconds is recommended to be use for containers (Pod) that complete after a certain period.
It should not be used for containers (Pod) that will run forever.

[2021-09-09 10:47] RinkiyaKeDad opened #29649 "notifying localization teams when changes are made"
**This is a Feature Request**

**What would you like to be added**

A way to notify the downstream localization teams whenever we make any major updates to documentation.

**Why is this needed**

This originated from a discussion in the SIG Docs meeting on [7th September 2021](https://docs.google.com/document/d/1ddHwLK3kUMX1wVFIwlksjTk0MsqitBnWPe1LRa1Rx5A/edit?usp=sharing). PRs making large change

[2021-09-09 11:50] sftim commented on #29649
/kind feature
/triage accepted
/priority important-longterm

[2021-09-09 11:50] sftim commented on #15088
/sig release

[2021-09-09 11:51] sftim commented on #15088
We now have https://kubernetes.io/releases/ from PR #27929
/close

[2021-09-09 11:51] #15088 closed

[2021-09-09 11:55] sftim commented on #24441
Partly done in:

- https://github.com/kubernetes/website/pull/29228
- https://github.com/kubernetes/website/pull/29230
- https://github.com/kubernetes/website/pull/29231
- https://github.com/kubernetes/website/pull/29232
- https://github.com/kubernetes/website/pull/29233

[2021-09-09 12:38] AvineshTripathi commented on #29649
maybe we can have a label to the PR that would notify other teams about the major change

[2021-09-09 12:49] kLamda commented on #22021
/assign kLamda

[2021-09-09 13:30] wojtek-t commented on #26064
/remove-lifecycle rotten

[2021-09-09 13:44] sftim commented on #26064
I could revise https://github.com/kubernetes/website/pull/25299 if someone suggests new wording.

[2021-09-09 13:48] #28628 closed

[2021-09-09 13:58] sftim commented on #28865
That might be the right place. https://github.com/kubernetes/website/blob/4b18015cd363b2c23a119258201dd274940cdc0f/layouts/partials/head.html#L36-L38 also looks important. I recommend checking them both out.

[2021-09-09 14:02] bhumijgupta commented on #28865
Sure. I will look into it.
/assign

[2021-09-09 15:33] emschwartz opened #29654 "Issue with k8s.io/docs/tutorials/hello-minikube/ - Connecting to hello-node service didn't work"
During the `Create a Service` part of the tutorial, I was not able to connect to the `hello-node` service. The port generated was `31275` but when I tried to view that port on the host, it would try to connect and then show the error message `Unable to connect to Port 31275.`

[2021-09-09 15:35] emschwartz opened #29655 "Extend “Hello Minikube” tutorial to include accessing metrics server"
Under the `Enable addons` section, it would be nice to try connecting to the metrics server to see what it says (or link to some other documentation page about that specific service) before disabling that add-on.

[2021-09-09 17:06] sftim commented on #28808
https://mermaid-js.github.io/mermaid/#/?id=git-graph-exclamation-experimental describes a different kind of graph that might be useful too.

[2021-09-09 18:31] vaibhav2107 commented on #25123
/remove-lifecycle stale

[2021-09-09 18:35] vaibhav2107 commented on #26034
/remove-lifecycle rotten

[2021-09-09 23:17] sftim commented on #29655
/languge en
/kind feature

/retitle Extend “Hello Minikube” tutorial to include accessing metrics server

[2021-09-09 23:17] sftim commented on #29655
@emschwartz: could you outline the benefit to readers from making this change? That'll help folks to prioritize the work.

[2021-09-09 23:18] sftim commented on #29611
Hi @comdiv

Can you also mention the URL of the web page that you were accessing when you encountered problems?

[2021-09-09 23:19] sftim commented on #29641
If anyone does work on this, it's easier to review PRs that only touch a _single_ localization.

[2021-09-09 23:19] sftim commented on #29641
/language en
/triage accepted
/priority backlog

[2021-09-09 23:20] sftim commented on #29597
/area blog

[2021-09-09 23:22] sftim commented on #29643
Hi @SebTardif

What's the thing you want to learn?

/triage needs-information

[2021-09-09 23:22] bang9211 opened #29660 "[ko] Translate tasks/inject-data-application/downward-api-volume-expose-pod-information in Korean"
**This is a Feature Request**
Translate [/content/en/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information.md] in Korean

**What would you like to be added**
Translate [/content/en/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information.md] in Korean

**Why is this needed**
This file is not translated yet.

**Comments**
Page to translate : https://kube

[2021-09-09 23:23] sftim commented on #26034
/remove-kind feature
/kind bug
/priority backlog

[2021-09-09 23:23] bang9211 commented on #29660
/assign

[2021-09-09 23:24] sftim commented on #29132
Aside: https://v1-21.docs.kubernetes.io/ works now

[2021-09-09 23:25] sftim commented on #29132
Maybe the feature request is to have a simple site for the current release that 302 redirects any valid page to the main docs?

[2021-09-09 23:27] sftim commented on #29000
/kind feature
/language en
/priority backlog
/triage accepted

[2021-09-09 23:27] sftim commented on #29000
/sig cli

[2021-09-09 23:29] sftim commented on #28880
This looks like a request to add a custom columns expression reference into the Kubernetes documentation.

/sig cli
/kind feature
/priority backlog
/triage accepted

[2021-09-10 03:40] emschwartz commented on #29655
Hi @sftim,

That section of the tutorial describes how to enable and disable add-ons. If you're going through and following each of the steps, it seems a bit odd to be told "enable this add-on", "check that it's running" (using logs that at this point in the tutorial I only somewhat grok), and then "disable it", without seeing what the add-on actually does. It's pretty obvious from the name of the

[2021-09-10 04:43] tengqm commented on #27125
/retitle Translate concepts/cluster-administration/flow-control/ into Japanese

[2021-09-10 04:43] tengqm commented on #27125
/retitle [ja]Translate concepts/cluster-administration/flow-control/ into Japanese

[2021-09-10 04:44] tengqm commented on #27124
/retitle [ja]Translate concepts/cluster-administration/kubelet-garbage-collection/ into Japanese

[2021-09-10 08:14] sftim commented on #29655
Maybe we could hyperlink away to a page about trying each add-on, so the option's there for folks who might be interested?

[2021-09-10 08:56] AvineshTripathi commented on #29641
@sftim  do we have any section on dynamic PersistentVolume provisioner with a default StorageClass ?

[2021-09-10 10:28] #28654 closed

[2021-09-10 10:43] SebTardif commented on #29643
The title of the page is "Pull an Image from a Private Registry" which is what I want to learn, and I'm expecting to work all the time. The title is not "Pull an Image from a Private Registry with Docker".

I don't use Docker. I use containerd. I need "Pull an Image from a Private Registry" that make sense when not using docker.

[2021-09-10 11:01] sftim commented on #29643
Perhaps we should clarify the technologies (by revising the page). I think that could help avoid confusion. The “Docker” in this story is the container registry [Docker Hub](https://hub.docker.com/).

You can use containerd to run an image that was pulled from any suitable image registry, including from Docker Hub. You _don't_ have to run Docker on your nodes to run images from Docker Hub.

My gue

[2021-09-10 13:41] sftim commented on #29643
/language en
@SebTardif would adding that clarification help, do you think?

[2021-09-10 13:48] sftim commented on #29641
Let's open that question up - anyone who wants to answer it is welcome to.

[2021-09-10 14:04] shannonxtreme commented on #29649
Is there a way to configure the bot to add sig docs-localization to any L PRs and higher?

[2021-09-10 14:13] AvineshTripathi commented on #29649
I had a thought of the same but the thing is how  would the bot notify the team . I think we can assign a particular label on response the bot would tag the head of the teams or members of the teams

[2021-09-10 15:26] mbbroberg commented on #29649
I just spoke with @AvineshTripathi -- it'd be great to see the specifics of what the bot would do and when, then we could get help from infra to see the next steps forward.

[2021-09-10 18:03] #27531 closed

[2021-09-10 18:03] #27532 closed

[2021-09-10 19:17] SergeyKanzhelev opened #29665 "Dockershim deprecation: Private registries support with Containerd"
**This is a Feature Request**

For the dockershim deprecation migration guide this https://kubernetes.io/docs/concepts/containers/images/#configuring-nodes-to-authenticate-to-a-private-registry needs to be updated for other runtimes.

**Why is this needed**

As dockershim is deprecated, migration guides are needed (see #104878).

KEP: https://github.com/kubernetes/enhancements/issues/2221

/sig no

[2021-09-10 20:10] CIPHERTron commented on #27420
@sftim, so this issue is only aimed at adding a page in k8s.dev which will contain the content of [this page](https://kubernetes.io/docs/concepts/cluster-administration/system-logs/#structured-logging)?

Or do we have to change the content of (https://kubernetes.io/docs/concepts/cluster-administration/system-logs/#structured-logging) this site too?

[2021-09-10 20:15] CIPHERTron commented on #29290
/assign

[2021-09-11 02:05] #27543 closed

[2021-09-11 04:07] #27206 closed

[2021-09-11 06:33] tabbysable commented on #28013
This issue was resolved by merging https://github.com/kubernetes/website/pull/28248

Thanks so much!

/close

[2021-09-11 06:34] #28013 closed

[2021-09-11 07:39] CIPHERTron opened #29667 "Refactor proposal for `kubernetes.io/community` page CSS styles"
**This is an Enhancement Request**
This is a proposal to refactor the CSS styles for the `kubernetes.io/community` page.

**What would you like to be added**

The [kubernetes.io/community](https://kubernetes.io/community/) page has many repeated CSS styles, it has both inline styles added as well as styles added in a separate [CSS file](https://github.com/kubernetes/website/blob/main/static/css/ne

[2021-09-11 07:47] CIPHERTron commented on #29667
/area web-development

[2021-09-11 07:48] CIPHERTron commented on #29667
/sig docs

[2021-09-11 12:36] bang9211 opened #29669 "[ko] Translate tasks/inject-data-application/distribute-credentials-secure in Korean"
This is a Feature Request
Translate [/content/en/docs/tasks/inject-data-application/distribute-credentials-secure.md] in Korean

What would you like to be added
Translate [/content/en/docs/tasks/inject-data-application/distribute-credentials-secure.md] in Korean

Why is this needed
This file is not translated yet.

Comments
Page to translate : https://kubernetes.io/docs/tasks/inject-data-applicati

[2021-09-11 13:40] sftim opened #29670 "Clean up docs for alpha seccomp annotations"
**This is a Bug Report**

**Problem:**
PR https://github.com/kubernetes/website/pull/29433 added details about deprecated seccomp annotations. These will be published into https://kubernetes.io/docs/reference/labels-annotations-taints/ as part of the v1.23 release

The formatting isn't quite right. The convention we try to follow is that every annotation or label can be hyperlinked to directly and

[2021-09-11 14:53] AvineshTripathi commented on #29649
@mbbroberg maybe we can have a special label for this which would be given by reviewer and in response to that bot would tag the members of the localization teams. The label thing can be done automatically but for that we need to have a threshold point beyond which we can say the change is major but I m not sure if we can have that threshold number so doing it manually would be better still if the

[2021-09-11 16:08] SebTardif commented on #29643
All the pages should make it clear if what is described works when the Kubernetes run on top of Docker, ContainerD, or others, or for any Kubernetes. In this specific page, we have a client (Kubernetes) calling a server (Image Registry). In this scenario, it matter more what the client (Kubernetes) is using for runtime. For example, how much relevant is the part ".dockerconfigjson: UmVhbG" when th

[2021-09-11 16:14] #27008 closed

[2021-09-12 04:47] AvineshTripathi commented on #29670
@sftim I have gone through the issue just want to know if we separate both the heading into two different segment will we have different content for both separately if so can you guide me from where can i get those content so that i can work on this issue

[2021-09-12 10:42] sftim opened #29673 "Create localization branch for Hindi"
**This is a Feature Request**

**What would you like to be added**
Create a new branch `dev-1.22-hi.1`, to be used for work towards launching the Hindi localization.

**Why is this needed**
There is a nascent Hindi localization. A branch dedicated to it would allow folks to launch that localization and take it live.

**Comments**
Extra [context](https://kubernetes.slack.com/archives/CJ14B9BDJ/p163

[2021-09-12 10:42] sftim commented on #29673
Branch created: https://github.com/kubernetes/website/tree/dev-1.22-hi.1
/close
/triage accepted

[2021-09-12 10:42] #29673 closed

[2021-09-12 10:58] sftim opened #29677 "Disable Netlify Drawer for previews"
**This is a Bug Report**

**Problem:**
Deploy previews contain a [Netlify Drawer](https://docs.netlify.com/site-deploys/deploy-previews/#test-and-troubleshoot-with-collaboration-tools)
However, SIG Docs doesn't use this functionality.

**Proposed Solution:**
Remove Netlify Drawer from site (change Netlify configuration)

**Page to Update:**
https://kubernetes.io/

[2021-09-12 10:58] sftim commented on #29677
I've disabled this in the Netlify configuration.

[2021-09-12 14:19] Guneetconvent2002 commented on #29677
So, is this issue open or closed??

[2021-09-12 14:23] anubha-v-ardhan commented on #29353
Folks it would be nice if we all change our PR's base to `dev-1.22-hi.1` branch.
We can also remove our PRs from draft now.

cc:
@rajatgupta24 @verma-kunal @kaiwalyakoparkar @vedant-kakde @keshavcodex @Darshnadas @ShivamTyagi12345 @arsheelsheikh @prashantpandey9

[2021-09-12 15:36] Guneetconvent2002 commented on #29670
I'm not able to find the mentioned headings in labels-annotations-taints.md file in website repo. could you maybe help me with that??

[2021-09-12 16:37] sftim commented on #29677
I think this is done.
/close

[2021-09-12 16:38] #29677 closed

[2021-09-12 16:39] sftim commented on #29667
This sounds a bit much for a good first issue. Labelling with /help could be a good idea though.

Ideally, we'd switch the English localization not to use ``newcommunity.css`](https://github.com/kubernetes/website/blob/main/static/css/newcommunity.css) (leave it there for downstream localizations, though) in favor of new Sass within https://github.com/kubernetes/website/tree/main/assets/scss

[2021-09-12 16:41] sftim commented on #29670
@Guneetconvent2002 see https://deploy-preview-29658--kubernetes-io-main-staging.netlify.app/docs/reference/labels-annotations-taints/ and https://github.com/kubernetes/website/commit/5f192f2cb1df5b15aa1574efd565867815c3073e

[2021-09-12 16:41] sftim commented on #29670
We need to make the fix on the _dev-1.23_ branch (and not the usual _main_ branch)

[2021-09-12 16:42] sftim commented on #29670
@AvineshTripathi as part of fixing this issue, we need to write new text to go under each heading. It's OK for both of those paragraphs to be really similar, if that's appropriate.

[2021-09-12 17:56] parvezsyed opened #29680 "Query about “Controlling Access to the Kubernetes API”"
In the docs on "Controlling access to K8s" we say: In a typical Kubernetes cluster, the API serves on port 443, protected by TLS, but in "API server ports and IPs" secure port default is 6443

Which statement is correct?

[2021-09-12 19:24] #27556 closed

[2021-09-12 20:24] #27574 closed

[2021-09-12 21:34] sftim commented on #29680
/retitle Query about “Controlling Access to the Kubernetes API”

The true situation is that the API server listens on a nonstandard port, 6443, by default. As a cluster operator you're expected either to override this to the actual port used for HTTP over TLS (443), or to insert a reverse HTTP or TLS SNI proxy between the client and the API server.

I don't think the existing document makes that c

[2021-09-13 05:01] adisky commented on #29665
@SergeyKanzhelev I guess the existing docker cfg will work for other container runtimes as well, as credential provider is Kubelet mechanism, if it works only reference of docker runtime needs to be removed from here and need to point the additional available options from container runtimes like https://github.com/containerd/containerd/blob/main/docs/cri/registry.md ?

[2021-09-13 05:35] Guneetconvent2002 commented on #29670
/assign

[2021-09-13 06:39] iamadotaer opened #29683 "Interactive Tutorial - Configuring a Java Microservice"
![image](https://user-images.githubusercontent.com/26853628/133035487-89de497d-1b3d-436f-8602-6f00248d9986.png)
as the tip says:there is a 'finish' directory,but i could not fint it.

[2021-09-13 07:09] AvineshTripathi commented on #29670
@Guneetconvent2002  since you have assigned yourself let me know if you need if you need any help

[2021-09-13 07:13] Guneetconvent2002 commented on #29670
I am sorry @AvineshTripathi I am a little to this open source thing and don't know the best practices for Github. Can't we both work together on this?? If we can't, I'll unassign myself. Hope you're fine with that

[2021-09-13 07:13] Guneetconvent2002 commented on #29670
/unassign

[2021-09-13 08:24] AvineshTripathi commented on #29670
@Guneetconvent2002 please go ahead give it a try for 1 or 2 days seek for help in sig slack and try doing this if still you feel like you don't want to continue I ll assign myself and also everyone is a new one someday it just that they started so please go ahead .. happy contributing

[2021-09-13 10:15] Guneetconvent2002 commented on #29670
Thank you @AvineshTripathi
/assign

[2021-09-13 10:17] Guneetconvent2002 commented on #29670
also, could you maybe give me a link to the sig slack??

[2021-09-13 13:48] sftim commented on #20232
/lifecycle frozen

[2021-09-13 14:00] shannonxtreme commented on #29649
@AvineshTripathi for the threshold, could we use the PR size? Like, localization teams get tagged for <size> PRs or larger, since the bot already has that functionality? Worth discussing at tomorrow's async Slack meeting, along with other feedback from our localizers (idk if that's the right word)

[2021-09-13 14:08] shannonxtreme opened #29688 "Umbrella Issue: Clean up interactive tutorials"
## Overview

We have multiple issues being opened because of blockers or quality problems with our interactive tutorials. We should review our tutorials and update them to improve the user experience.

## Current issues

* #29683
* #29627
* #29618
* #29617
* #29588
* #29530
* #29210
* #28428
* #28169

There are more (see this search: https://github.com/kubernetes/website/issues?q=is%3Aissue+is%3Ao

[2021-09-13 14:09] shannonxtreme commented on #29688
/team katacoda

[2021-09-13 14:23] Debanitrkl commented on #29688
/label team/katacoda

[2021-09-13 14:33] shannonxtreme commented on #29688
Thank you @Debanitrkl I blame Mondays.

[2021-09-13 14:34] Debanitrkl commented on #29683
/label team/katacoda

[2021-09-13 14:35] lakshya8066 commented on #29683
/assign

[2021-09-13 15:27] AvineshTripathi commented on #29649
@shannonxtreme  definately we can have size as a parameter but the question remains same what can the size after which the bot should notify

[2021-09-13 16:07] shannonxtreme commented on #29649
@AvineshTripathi Yep that's what I meant when I said we should discuss it at the async meeting on Slack on the 21st. Added to the [agenda](https://docs.google.com/document/d/1ddHwLK3kUMX1wVFIwlksjTk0MsqitBnWPe1LRa1Rx5A/edit)

[2021-09-13 16:34] sftim commented on #29688
/triage accepted
/priority important-longterm

[2021-09-13 16:35] sftim commented on #29688
I don't think the issues here are just for the Katacoda folks though, or even really shortcomings with Katacoda itself.

/remove-label team/katacoda

[2021-09-13 18:24] chrismetz09 opened #29692 "Add diagrams page to Documentation style overview"
**This is a Feature Request**

Add documentation diagram page to documentation style overview. This provides guidance/instructions on how to create and add useful diagrams to contributions where appropriate.

**What would you like to be added**

Diagrams add clarity and understanding to docs readers. Docs contributors should have instructions on how to create and add very simple diagrams to docs

[2021-09-13 18:30] chrismetz09 commented on #27144
/close

[2021-09-13 18:30] #27144 closed

[2021-09-13 18:37] jayesh-srivastava commented on #29692
Hi @chrismetz09 Can I work on this issue?

[2021-09-13 18:55] chrismetz09 commented on #29692
Hey @jayesh-srivastava, I already have some content ready to go. Can I ask you to review?

[2021-09-13 18:55] chrismetz09 commented on #29692
/assign

[2021-09-13 21:53] dfisk opened #29696 "Issue with k8s.io/docs/reference/access-authn-authz/rbac/"
This reference manual on RBAC fails to define its terms; the legal and recognized "verbs" in this syntax are nowhere to be found; one can only glean the verbs from the arbitrary examples given, with no expectation of comprehensiveness, and otherwise go searching elsewhere.

[2021-09-13 23:37] PushkarJ opened #29698 "Add a reference doc for ports and protocols info"
**What would you like to be added**
Create a dedicated ports and protocols page for Kubernetes Clusters.

**Why is this needed**
- Currently, the closest page that provides this information is under KubeAdm install setup [page](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#check-required-ports).
- This is hard to find for any cluster administrator trying to

[2021-09-14 01:08] PushkarJ commented on #29698
/triage accepted

[2021-09-14 07:34] Shubham82 opened #29702 "Wrong Link for Exemptions."
**Problem:**
The link for **Exemptions** in [Enforce Pod Security Standards by Configuring the Built-in Admission Controller](https://kubernetes.io/docs/tasks/configure-pod-container/enforce-standards-admission-controller/) is wrong and does not give any information about exemptions.  The link used for it is: `https://kubernetes.io/docs/tasks/configure-pod-container/enforce-standards-admission-con

[2021-09-14 07:38] Shubham82 commented on #29702
/sig security
/sig auth

[2021-09-14 07:40] Shubham82 commented on #29702
If it seems good then I'm up for it.
/assign

[2021-09-14 08:42] boogiefromzk opened #29704 "Link to same page from old releases' documentation"
Invalid link to the new version of document
![image](https://user-images.githubusercontent.com/8693010/133225301-5c397c13-855b-4494-acbb-9c783fb637eb.png)

The link to the latest version is not leading to the latest version of this document.

**Proposed fix:**
Fix the link.

**Page to Update:**
https://v1-18.docs.kubernetes.io/docs/setup/production-environment/tools/kubeadm/high-availability/

[2021-09-14 09:03] sftim commented on #29704
Hi @boogiefromzk

We don't plan to backport the feature in more recent releases that takes the link to the equivalent page on the current documentation.
This isn't a bug; it's a feature we added after we cut the branch for v1.18 documentation.
/remove-kind bug
/kind feature

/retitle Link to same page from old releases' documentation (v1.18)

[2021-09-14 09:04] sftim commented on #29698
Hi @PushkarJ

Would you be OK to have this as a reference page, rather than as a concept?

[2021-09-14 09:07] boogiefromzk commented on #29704
It would be nice to have a link to something which is recommended to do instead. It's a guide for HA cluster setup.

[2021-09-14 09:46] neolit123 commented on #29704
I think this by design. It just links to:
https://kubernetes.io/docs/home/

Instead if taking the current page url oldver.foo.bar and navigating to
foo.bar.

/sig docs
On Sep 14, 2021 11:42, "Kubernetes Prow Robot" ***@***.***>
wrote:

[2021-09-14 09:49] neolit123 commented on #29698
/sig network

[2021-09-14 09:54] neolit123 commented on #29698
/sig cluster-lifecycle
Given the PR touches kubeadm docs.

[2021-09-14 09:58] boogiefromzk commented on #29704
Navigating to where? :) I've found an instruction in search engine that says it's obsolete and leads me to home page. Not very user friendly as for me...

[2021-09-14 10:07] sftim commented on #29704
/priority awaiting-more-evidence

[2021-09-14 10:08] sftim commented on #29704
If anyone wanted to know what the current equivalent of https://v1-18.docs.kubernetes.io/docs/setup/production-environment/tools/kubeadm/high-availability/ is, it's https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/high-availability/

[2021-09-14 10:22] boogiefromzk commented on #29704
@sftim awesome, thank you!

[2021-09-14 10:43] jai commented on #26295
/remove-lifecycle rotten

[2021-09-14 12:53] Shubham82 commented on #29702
Fixed it here: #29707

[2021-09-14 14:36] jayesh-srivastava commented on #29692
@chrismetz09 Sure will review it.

[2021-09-14 15:00] leandroscardua opened #29708 "Adding Windows nodes"
Hi K8s Team,

Please take a look on the step 4 (Add Windows Flannel and kube-proxy DaemonSets)
The list there is not working, looks like the sig-windows team made change on the git repository.
Also, on the step: joining a Windows worker node, both links to install docker EE and ContainerD are not working too

Could you please update the documentation?

[2021-09-14 17:21] anubha-v-ardhan commented on #29353
## A brief summary of our progress as per steps mentioned in [Start a new localization](https://kubernetes.io/docs/contribute/localization/#start-a-new-localization):

### Find Community:
We have 10-12 active contributors. Our localization is self-sustaining. For communications on Slack, we have our dedicated channel [#kubernetes-docs-hi](https://kubernetes.slack.com/archives/CJ14B9BDJ)

### Join

[2021-09-14 17:29] #29702 closed

[2021-09-14 18:22] jayesh-srivastava commented on #29027
Hi @jihoon-seo I have understood the issue and I would like to work on it. Although I am not a native Korean speaker, I want to contribute to this issue since it is pending for such a long time.

[2021-09-14 18:24] jayesh-srivastava commented on #29680
Hey, I would like to work on this issue. Can I assign it to myself?

[2021-09-14 18:26] jayesh-srivastava commented on #29704
Hi @boogiefromzk is this issue open? Because I would like to work on it.

[2021-09-14 18:27] sftim commented on #29353
(but disabled, which https://github.com/kubernetes/website/pull/29674 would address)

[2021-09-14 19:02] seokho-son commented on #29660
/triage accepted

[2021-09-14 19:02] seokho-son commented on #29669
/triage accepted

[2021-09-14 19:03] boogiefromzk commented on #29704
Hello, @jayesh-srivastava. I'm not sure that I can make solutions like that, but as for me, having the correct link, provided by sftim in latest version anchor would be great.

[2021-09-14 19:51] PushkarJ commented on #29698
Moved it under `reference`. This was the kind of feedback I was looking for from SIG Docs. Thank you @sftim

[2021-09-14 22:41] eddiezane opened #29711 "Include original release date in Release History page"
**This is a Feature Request**

**What would you like to be added**

I would like this page to have an "Initial Release Date" section for the major version.

https://kubernetes.io/releases/#release-history

**Why is this needed**

I am trying to track down when something was introduced and seeing all the dates in one place would be very helpful.

**Comments**

The https://kubernetes.io/releases/pat

[2021-09-14 22:45] eddiezane commented on #29711
Google is also pulling this data.

![2021-09-14_16-45](https://user-images.githubusercontent.com/959573/133343635-0f1c7d34-14c3-4246-a80f-abfc32b9e451.png)

[2021-09-15 00:46] #27580 closed

[2021-09-15 00:46] #28890 closed

[2021-09-15 01:31] jihoon-seo commented on #29027
@jayesh-srivastava Okay, please open a PR 😊
/assign @jayesh-srivastava

[2021-09-15 01:47] jai commented on #23394
Closing this in favor of #27929

/close

[2021-09-15 01:47] #23394 closed

[2021-09-15 03:49] #27597 closed

[2021-09-15 04:30] hantsy opened #29713 "Start failed in China even added mirror related parameters"
Windows 10
PowerShell with admin privileges

[code]

[2021-09-15 08:07] sftim commented on #29711
/sig release
/kind feature

[2021-09-15 08:12] sftim commented on #29713
This looks like a support request
/kind support

[2021-09-15 08:12] sftim commented on #29713
/remove-kind bug

[2021-09-15 08:13] sftim commented on #29708
/sig windows
/kind bug

[2021-09-15 08:13] sftim commented on #29708
/language en

[2021-09-15 08:14] sftim commented on #29696
/wg api-expression

PR #25299 might help by adding a better list of verbs. However, I don't think there is an agreed list of API verbs defined anywhere.

[2021-09-15 08:27] harkiratsm commented on #29353
@anubha-v-ardhan I wanted to work on ``` content/en/docs/tutorials/services/_index.md ``` also on ``` content/en/docs/tutorials/services/source-ip.md```

[2021-09-15 08:38] neolit123 commented on #29713
Please use #minikube on k8s slack or log an issue in kubernetes/minikube.

/close

[2021-09-15 08:38] #29713 closed

[2021-09-15 08:52] anubha-v-ardhan commented on #29353
@harkiratsm Thank you for wanting to contribute but our current aim is to get the localization live first with [minimum required content](https://kubernetes.io/docs/contribute/localization/#minimum-required-content). We will expand the localization to include other pages once bare minimum version goes live.
Thank you for showing support. Hope you understand : )

[2021-09-15 09:05] Kartik494 commented on #28099
/remove-lifecycle stale

[2021-09-15 09:07] Kartik494 commented on #27877
/remove-lifecycle rotten

[2021-09-15 09:08] Kartik494 commented on #27665
/remove-lifecycle rotten

[2021-09-15 09:15] sftim commented on #27586
Hi @DerekFoulk

I suspect this is working now. If you try it, what happens?

[2021-09-15 09:17] sftim commented on #29654
Hi @emschwartz

Were you using Minikube via the web page (Katacoda) or running Minikube on your own PC?
/language en

[2021-09-15 11:54] sftim commented on #17798
We use branches for localizations and I think branch protection might not be helpful there.

We should confirm what the right answer is.

[2021-09-15 11:57] sftim commented on #28660
@devNajjary if you can explain more about how to replicate the error (which shell, which OS, which web browser, and what error you see) that might help us to fix the page.

I suspect though that the existing web page is correct.

[2021-09-15 11:58] sftim commented on #28690
Some of that would be relevant to other SIGs and in which case it might be useful to document that within https://k8s.dev/

[2021-09-15 11:59] sftim commented on #27537
@alghe-global would you be willing to revise the issue description based on https://github.com/kubernetes/website/issues/27537#issuecomment-818906495 ?

[2021-09-15 12:00] sftim commented on #27537
Also, if this is already fixed, let's close the issue.

[2021-09-15 12:00] sftim commented on #29185
/sig node

[2021-09-15 12:00] sftim commented on #29185
/language en

[2021-09-15 12:01] sftim commented on #29035
/kind support
/close

[2021-09-15 12:01] #29035 closed

[2021-09-15 12:01] sftim commented on #28959
/language en

[2021-09-15 12:03] sftim commented on #28967
@hw-claudio if you'd like to either:
- reshape this issue to be about new content, helping people who are used to Docker adapt to using Kubernetes
- request a specific page about how to achieve the equivalent of `docker save` and `docker commit` for &hellip; a running Pod? (I'm not sure)

then please do.
Right now it's not clear to me what improvement addresses the need you've mentioned.

/languag

[2021-09-15 12:07] sftim commented on #15909
/remove-lifecycle rotten
pending discussion about whether to close this issue or freeze this issue

[2021-09-15 12:08] sftim commented on #28889
/close

We missed the boat :wink: on this one.

[2021-09-15 12:08] #28889 closed

[2021-09-15 12:09] sftim commented on #28910
The website can render (badly) without these strings.

[2021-09-15 12:09] sftim commented on #28910
/retitle Error while trying to preview the website locally on Windows

[2021-09-15 12:11] sftim commented on #28910
Maybe https://www.joshkel.com/2018/01/18/symlinks-in-windows/ might be helpful?

[2021-09-15 12:12] sftim commented on #28910
/remove-kind bug

Not sure if we count this as a request for help with development, or a bug.

[2021-09-15 12:40] hw-claudio commented on #28967
both things are useful, this is really a FAQ without an answer.

https://github.com/containerd/containerd/issues/4818
https://github.com/kubernetes/kubernetes/issues/80818
...
this is requested many times, but things just die off.

docker commit is considered an anti-pattern of course: you want to build containers from scratch from Dockerfile etc.

But then as the theory is put into practice, you

[2021-09-15 12:45] sftim commented on #28967
Maybe the question is “how do I get a shorter feedback loop but still run my code as if / actually in the target cluster”.

People use https://tilt.dev/, https://nocalhost.dev, https://squash.solo.io/, https://www.telepresence.io/, and other tools for that.

[2021-09-15 13:03] emschwartz commented on #29654
Via Katacoda

[2021-09-15 13:28] lakshya8066 commented on #29667
/assign

[2021-09-15 13:28] sftim commented on #15909
/close
based on https://github.com/kubernetes/website/pull/27788#issuecomment-839980423

We can reopen this if the drive to document this changes

[2021-09-15 13:28] #15909 closed

[2021-09-15 14:25] CIPHERTron commented on #29667
@sftim Yeah, fair enough. `good-first-issue` is a bit too much, I totally agree. Labelling it with `/help` SGTM 🚀

[2021-09-15 14:26] #29683 closed

[2021-09-15 16:01] jayesh-srivastava commented on #29027
Hey @jihoon-seo are there more pages to update or the ones mentioned in the issue?

[2021-09-15 16:33] SergeyKanzhelev commented on #29665
I didn't look deep in creds provider, will it still look for docker config for creds if docker is not installed?

Also we might extend this issue (or maybe create another one) explaining how to configure registry mirrors. If one has it configured for Docker, it is different for other runtimes.

[2021-09-15 16:53] sdputurn opened #29718 "Query about removal of dockershim from Kubernetes"
why docker is still in the list of supported runtimes. kubernetes 1.22 has removed support for docker as runtime. right?

if i understand correct. kubernetes support contianerd and not docker. dockerd now uses continerd for container management and containerd comes bundled with docker installation. so the relationship seems like this

docker client --> dockerd --> containerd -->runc --> running co

[2021-09-15 17:25] briandealwis commented on #26687
/remove-lifecycle stale

[2021-09-15 17:38] SergeyKanzhelev commented on #29670
Join here: https://slack.k8s.io/

There are channels for corresponding sigs. Like #sig-node for Node related things.

/triage accepted

[2021-09-15 19:18] vaibhav2107 commented on #28062
Can close this issue, fixes in #28109
/close

[2021-09-15 19:19] #28062 closed

[2021-09-15 19:25] vaibhav2107 commented on #24497
/remove-lifecycle stale

[2021-09-16 00:23] jihoon-seo commented on #29027
@jayesh-srivastava After my doing some searching, it seems that there is no more pages to be updated. 😊

[2021-09-16 03:07] RA489 commented on #29654
/kind support

[2021-09-16 03:11] RA489 commented on #29708
/triage accepted

[2021-09-16 03:30] RA489 commented on #29718
Docker as an underlying runtime is being removed in favor of runtimes that use the Container Runtime Interface (CRI) created for Kubernetes. Docker-produced images will continue to work in your cluster with all runtimes, as they always have.

[2021-09-16 03:31] RA489 commented on #29718
If you’re using a managed Kubernetes service like GKE, EKS, or AKS (which defaults to containerd) you will need to make sure your worker nodes are using a supported container runtime before Docker support is removed in a future version of Kubernetes.

[2021-09-16 03:34] RA489 commented on #29655
/triage accepted

[2021-09-16 03:42] RA489 commented on #29597
/triage accepted

[2021-09-16 03:45] RA489 commented on #29459
/triage accepted

[2021-09-16 03:47] RA489 commented on #29210
/triage accepted

[2021-09-16 04:44] edithturn commented on #13948
@raelga @electrocucaracha I will start to work on these,could you assign it to me :)
- [ ] [concepts/storage/volume-pvc-datasource/](https://kubernetes.io/docs/concepts/storage/volume-pvc-datasource/)
- [ ] [concepts/storage/dynamic-provisioning/](https://kubernetes.io/docs/concepts/storage/dynamic-provisioning/)
- [ ] [concepts/storage/storage-capacity/](https://kubernetes.io/docs/concepts/storag

[2021-09-16 04:48] RA489 commented on #29711
/triage accepted

[2021-09-16 04:50] RA489 commented on #29605
/kind support

[2021-09-16 04:54] RA489 commented on #29459
/kind bug

[2021-09-16 04:57] RA489 commented on #29185
/triage accepted

[2021-09-16 07:48] wendao8469759 opened #29723 "Use of config"
I am a novice who is learning kubernetes
When I see the "-- default not ready tolerance seconds" and "-- default unreachable tolerance seconds" attributes
I think I need it, but I tried it several times and failed to set it. I didn't see how to use this attribute on the official website.

[2021-09-16 08:08] #26328 closed

[2021-09-16 08:14] Shubham82 commented on #28475
/remove-lifecycle stale

[2021-09-16 08:26] vaibhav2107 commented on #27841
/remove-lifecycle stale

[2021-09-16 09:09] #19846 closed

[2021-09-16 09:38] sftim commented on #29718
As per https://kubernetes.io/blog/2020/12/02/dockershim-faq/

Because the latest Kubernetes release includes the Docker shim, it's entirely reasonable to document how to set up Docker as a container runtime.

Separately, it might be useful for https://kubernetes.io/docs/setup/production-environment/container-runtimes/ to include extra detail about how installing Docker gets you both Docker itself

[2021-09-16 09:39] sftim commented on #29723
/kind support
(I think)

Would you like to clarify the issue you're reporting @wendao8469759 ?

[2021-09-16 09:59] ashutosh887 commented on #29723
@wendao8469759 @sftim @k8s-ci-robot @drnic @gnufied
I wanted to start contributing for this project
Can someone please help me or guide me a bit

[2021-09-16 10:03] mengjiao-liu commented on #29442
ref https://github.com/kubernetes/website/pull/29510#issuecomment-906899277

/close
feel free to open it again.

[2021-09-16 10:03] #29442 closed

[2021-09-16 10:13] pkumbharkar opened #29724 "Document fix version for CVE-2021-29923"
Hi Team,

We are getting the go component vulnerability with CVE-2021-29923 for while installing kubernetes version 1.22.2. Can you please provide the details that when we are releasing the latest version with this fix in it. Please provide the details of kubernetes version in which this has been fixed.

Thanks & Regards,
Pratiksha.

[2021-09-16 10:17] aurelienlegrand opened #29725 "Documentation issue: Upgrading kubeadm clusters"
I think I spotted a documentation issue.

On this page: https://v1-20.docs.kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/

The link "Upgrading a kubeadm cluster from 1.19 to 1.20" gives you instructions on how to upgrade from version 1.21.x to version 1.22.x, not from version 1.19.x to 1.20.x.

[2021-09-16 10:41] sftim opened #29726 "Document which GA feature gates can be disabled"
**This is a Feature Request**

**What would you like to be added**
Update the [Feature Gates](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/) page to show whether feature gates for GA features are still recognized and can still be disabled. Some are forced to on / not recognized by components; others remain configurable.

**Why is this needed**
https://github.com/

[2021-09-16 10:42] sftim commented on #29726
My PR #28036 didn't anticipate this specific feature, but does aim to make it possible to reshape the rendered view of feature gates without triggering a tricky merge conflict for the next release.

[2021-09-16 11:39] neolit123 commented on #29725
Duplicate of
https://github.com/kubernetes/website/issues/27525

Unfortunately the required fix still needs review.

/close
On Sep 16, 2021 13:17, "Kubernetes Prow Robot" ***@***.***>
wrote:

[2021-09-16 11:40] #29725 closed

[2021-09-16 12:46] sftim commented on #29724
/retitle Document fix version for CVE-2021-29923
/sig release security

[2021-09-16 12:46] sftim commented on #29724
Relevant to https://github.com/kubernetes/kubernetes/issues/104980
/language en

[2021-09-16 12:51] sftim commented on #29724
If appropriate: also label this _committee/product-security_.

[2021-09-16 13:35] willfindlay opened #29729 "Where Can I Find the Source Code for The k8s Bootcamp Tutorials?"
Hi all. I'm TAing a course on distributed operating systems at my university, and we'd like to have our students interact with a simple k8s cluster/deployment to get some experience with real distributed systems. With that in mind, I think the k8s tutorials you offer would be an excellent starting point, but I would like to customize them to suit our needs. Is there anywhere I can find the source

[2021-09-16 13:40] willfindlay commented on #29729
Apologies, you can disregard this. I found what I was looking for at https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios in case anyone else is curious :)

[2021-09-16 13:40] #29729 closed

[2021-09-16 14:14] #23885 closed

[2021-09-16 14:14] #25620 closed

[2021-09-16 14:14] #27034 closed

[2021-09-16 15:50] guettli commented on #27946
While learning Kubernetes, I found and created above issue.

After relaxing some days I came to the conclusion that I don't need Kubernetes at the moment.

I will keep on using Linux virtual private server for the next month.

[2021-09-16 15:50] #27946 closed

[2021-09-16 17:12] ShaileshKumar007 commented on #29353
Hi @anubha-v-ardhan . I want to ask if I can work on adding  `content/hi/releases` folder and `_index.md` , `notes.md` , `version-skew-policy.md`  files inside `releases` folder :-)

[2021-09-16 17:30] ismith opened #29731 "CronJob example may be incorrect or misleading?"
**This is a Bug Report**

**Problem:**
The CronJob page has [an example](https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/#cron-schedule-syntax) of cron syntax that includes an optional timezone.

However, attempting to create a cronjob with `CRON_TZ=UTC` causes a validation error:
[code]

This is from a spec like:
[code]

**Proposed Solution:**
Seems like that ASCII art diagram

[2021-09-16 18:04] anubha-v-ardhan commented on #29353
@ShaileshKumar007 Thank you for wanting to contribute but our current aim is to get the localization live first with [minimum required content](https://kubernetes.io/docs/contribute/localization/#minimum-required-content). We will expand the localization to include other pages once bare minimum version goes live.
Thank you for showing support. Hope you understand : )

[2021-09-16 18:30] sdputurn commented on #29718
thanks @sftim  for detailed explanation. my assumption after reading here - https://kubernetes.io/blog/2020/12/02/dont-panic-kubernetes-and-docker/ was docker as runtime will be removed from 1.22.

it was more a query after seeing docker as supported runtime in k8s 1.22 docs. but you made it clear why docker as runtime still showing up there.

[2021-09-16 18:32] yllekz commented on #23561
The [kubectl install instructions](https://kubernetes.io/docs/tasks/tools/install-kubectl-linux/) fail to mention that it does not support the 32-bit Raspberry Pi OS. This should be addressed.

[2021-09-16 20:21] anyulled commented on #13948
Hi, @raelga, could you check the Volumes page assigned to me?

I'd like to work on Service Networking

Could you please assign these to me?
-  Service Topology
- Service Traffic Policy
- Service

[2021-09-16 21:20] jayesh-srivastava commented on #29027
Hey @jihoon-seo, I have made the changes required. Please review. There might be some stuff which I have missed, will be happy to make the changes again.

[2021-09-17 01:33] mkrupczak3 opened #29734 "Operating etcd clusters for Kubernetes"
The example restore endpoint for etcdctl is the arbitrary IP `10.2.0.9:2379` which is unnecessary and entirely unhelpful for operators.

A better IP to use in the example may be the localhost loopback address `127.0.0.1:2379`

This will be more useful in the majority of cases and reduce the cognitive load of operators attempting to restore a cluster at a stressful time when they need to do so.

[2021-09-17 01:34] mkrupczak3 commented on #29734
This page: https://github.com/kubernetes/website/issues/new?title=Operating%20etcd%20clusters%20for%20Kubernetes

[2021-09-17 02:00] jihoon-seo commented on #29257
M61 - M77 제가 하겠습니다~
/assign

[2021-09-17 05:02] anubha-v-ardhan commented on #29353
cc @verma-kunal @rajatgupta24 @kaiwalyakoparkar @ShivamTyagi12345

Can we have updates on the progress of localization work assigned to you please

@verma-kunal: `content/en/_index.md`
@kaiwalyakoparkar: `content/en/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md`
@rajatgupta24: `content/en/docs/tasks/tools/included/optional-kubectl-configs-bash-linux.md`
@ShivamTyagi12345

[2021-09-17 07:11] RinkiyaKeDad commented on #29734
Hey @mkrupczak3 the link you posted is for opening a new issue. Could you please provide the link for the page where you're suggesting this change?

/triage needs-information

[2021-09-17 07:55] raelga commented on #27078
Hello @gouravmohanty7070, the original PR has been closed. Feel free to take this issue. :)

[2021-09-17 08:02] raelga commented on #13948
Updated!

Thanks @anyulled and @edithturn !

[2021-09-17 10:56] ShivamTyagi12345 commented on #29353
hey @anubha-v-ardhan ,Doing the final changes/checks. Can expect PR for all 7 files within 1 or 2 days

[2021-09-17 11:27] sftim commented on #29731
Hi @ismith
The documentation for CronJob in Kubernetes v1.21 is at https://v1-21.docs.kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/
There's a version selector drop-down menu top right

I think that's what you've missed.
/kind support
/remove-kind bug

[2021-09-17 11:29] sftim commented on #29704
/retitle Link to same page from old releases' documentation
I realized I was wrong: we never made the fix in _main_ in the first place. This isn't about a backport, it's about adding a feature.
/triage accepted
/priority backlog
/area web-development

[2021-09-17 11:31] sftim commented on #29704
/remove-priority awaiting-more-evidence

[2021-09-17 14:31] raelga commented on #25616
/remove-lifecycle stale

[2021-09-17 14:36] mkrupczak3 commented on #29734
Oops, okay this page: https://kubernetes.io/docs/tasks/administer-cluster/configure-upgrade-etcd/#backing-up-an-etcd-cluster

Proposed fix in PR #29735

[2021-09-17 15:51] #29698 closed

[2021-09-17 17:49] mkrupczak3 commented on #29734
Thanks @RinkiyaKeDad for taking a taking a look

[2021-09-17 21:04] serewicz opened #29741 "Using Admission Controllers - EventRateLimit"
This admission controller is now stable as found with the v1 designation in the YAML example below. Just need to remove FEATURE STATE: Kubernetes v1.13 [alpha]
![test drawio](https://user-images.githubusercontent.com/7537557/133853352-72a13714-1f24-4481-b04f-0983a33a4ebc.png)

[2021-09-18 02:25] chenxuc commented on #29329
I'm working on `(10) admin 5` : PR #29742

[2021-09-18 07:47] mengjiao-liu commented on #29326
It seems that the tasks have been completed, can we close the issue now？@howieyuen

[2021-09-18 12:01] sftim commented on #27525
/priority-important longterm

[2021-09-18 12:09] sftim commented on #27525
/priority important-longterm

[2021-09-18 15:52] lchimbili commented on #27561
/reopen

[2021-09-18 16:04] Tej-Singh-Rana opened #29745 "Kubernetes Release Cycle page images are broken"
**In the below page, attached images are broken.**
https://github.com/kubernetes/website/blob/main/content/en/releases/release.md

Thank you,

[2021-09-18 16:51] Tej-Singh-Rana commented on #29745
/language en

[2021-09-18 17:37] #27648 closed

[2021-09-19 09:31] verma-kunal commented on #29353
Got a little busy with some work here!! Work in progress and would make a PR within 1-2 days 🙂

[2021-09-19 10:50] embano1 commented on #26064
@sftim can you please point me to the section where you would like to add the different `Watch()` semantics? Then I can propose a paragraph on the different behavior using cached API servers, client-go optimizations, different `RV=` semantics and issues this might cause (e.g. time-travel anomalies, see https://github.com/sieve-project/sieve/blob/main/docs/bugs.md and https://github.com/sieve-proje

[2021-09-19 11:47] #27667 closed

[2021-09-19 12:47] #26717 closed

[2021-09-19 14:21] sachinkumarsingh092 commented on #28567
@sftim this page documents telepresence v1, but as of now the [current default version is v2](https://www.telepresence.io/announcing-telepresence-2/) which is very different from the v1. So even if we move this page to a list of third-party tools, we still need to update it to the current version.

[2021-09-19 20:18] #27525 closed

[2021-09-20 04:37] kaiwalyakoparkar commented on #29353
Was sick for the past couple of days. You can expect it in 1-2 days :)

[2021-09-20 06:58] Shubham82 commented on #29741
Hi @serewicz
The apiVersion `apiserver.config.k8s.io/v1`  is for ` AdmissionConfiguration` not for **EventRateLimit**.
See the `eventconfig.yaml` file in the docs after that, which look like below one:

[code]

[2021-09-20 11:59] tengqm commented on #29326
Thanks! This can be closed.
/close

[2021-09-20 12:00] #29326 closed

[2021-09-20 17:22] sftim commented on #29745
@Tej-Singh-Rana the page we'd expect you to visit is [Kubernetes Release Cycle](https://k8s.io/releases/release/) and is rendered with the following warning:

https://github.com/kubernetes/website/blob/main/content/en/releases/release.md is the source code used to generate that page. As Kubernetes is open source, you get to see details like this if you look for them.

We could improve the import s

[2021-09-20 17:24] sftim commented on #29745
/retitle Kubernetes Release Cycle page images are broken

[2021-09-20 17:28] sftim commented on #29741
/language en
/triage invalid

I don't think the report of an inaccuracy is correct. If that's wrong, we can update this issue accordingly.

[2021-09-20 17:30] sftim commented on #28567
Seems fair.

[2021-09-20 18:59] Tej-Singh-Rana commented on #29745
Thanks for the detailed information. Literally I ignored that warning. @sftim 👍

[2021-09-20 18:59] Tej-Singh-Rana commented on #29745
/close

[2021-09-20 18:59] #29745 closed

[2021-09-20 19:07] Tej-Singh-Rana commented on #29723
Please check it out on this page.
https://kubernetes.io/docs/contribute/
This is especially created for new contributors. @ashutosh887

[2021-09-20 19:33] ismith commented on #29731
Ah, thank you!  Yes. Followup question, then. On the page I linked, https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs, there are two hits for C-f `v1.`, both `v1.21`. Since it differs from the `v1.21` docs you linked to, what version of k8s is that page documenting, and where could I find that?

[2021-09-20 20:31] alexglyde commented on #29708
Running into this as well. Neither of the following links in step4 of the documentation are working.
https://github.com/kubernetes-sigs/sig-windows-tools/releases/latest/download/kube-proxy.yml
https://github.com/kubernetes-sigs/sig-windows-tools/releases/latest/download/flannel-overlay.yml

As far as I can tell, the files aren't present. Running the curl commands in step 4 on the "Adding a Window

[2021-09-20 20:40] alexglyde commented on #29708
Seems like I was able to download a version of these files using the following links:
https://raw.githubusercontent.com/kubernetes-sigs/sig-windows-tools/master/kubeadm/kube-proxy/kube-proxy.yml
https://raw.githubusercontent.com/kubernetes-sigs/sig-windows-tools/master/kubeadm/flannel/flannel-overlay.yml

Got the idea from: https://github.com/kubernetes/website/issues/29149#issuecomment-889838963

[2021-09-20 21:05] reylejano commented on #29149
/assign

[2021-09-20 21:07] #27696 closed

[2021-09-20 21:16] reylejano commented on #29459
Created PR https://github.com/kubernetes/website/pull/29755 to fix this issue
/assign

[2021-09-20 21:20] #28012 closed

[2021-09-20 21:21] reylejano commented on #28867
/milestone 1.23

[2021-09-21 01:18] tengqm commented on #29680
/assign @jayesh-srivastava

[2021-09-21 01:22] #28099 closed

[2021-09-21 01:24] tengqm commented on #29741
/close

[2021-09-21 01:24] #29741 closed

[2021-09-21 01:28] tengqm commented on #29731
the 'https://kubernetes.io/docs' host the **latest** release. For older versions, switch to `https://<ver>.docs.kubernetes.io/docs`, where `<ver>` can be `v1-21`, `v1-20`, etc.

[2021-09-21 01:29] tengqm commented on #29731
Since this doesn't look like a doc issue. I'm closing it.
Feel free to report an issue by reopening this.
/close

[2021-09-21 01:29] #29731 closed

[2021-09-21 01:39] tengqm commented on #29723
Closing since this is not a doc issue. Feel free to reopen.
/close

[2021-09-21 01:39] #29723 closed

[2021-09-21 04:48] Shubham82 commented on #29351
Hi @reylejano
This link is working now. It was fixed in the above PR #29311
We can close it now.

[2021-09-21 05:06] FrantzT opened #29760 "Set up Ingress on Minikube with the NGINX Ingress Controller"
In:

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: example-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$1
spec:
  rules:
    - host: hello-world.info
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: web
                port:
                  number: 8080

Sho

[2021-09-21 05:12] reylejano commented on #29351
Issue is fixed in PR https://github.com/kubernetes/website/pull/29311
/close

[2021-09-21 05:12] #29351 closed

[2021-09-21 05:20] Shubham82 commented on #28475
The issue is fixed in PR #28355
/close

[2021-09-21 05:20] #28475 closed

[2021-09-21 10:22] lukos opened #29764 "Adding Windows nodes"
The link for installing Docker Engine on Windows server is broken. It should be https://docker-docs.netlify.app/install/windows/docker-ee/

[2021-09-21 10:22] lukos commented on #29764
Just realised it doesn't embed the page link!

https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/

[2021-09-21 10:31] dilyanpalauzov opened #29765 "default Pod:EntryPoint for OCI images"
https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/pod-v1/#entrypoint says the default entry point for an image  (Pod→spec→Containers) is

Please clarify, if this also applies to OCI images, or OCI images have to specify command⇔entrypoint explicitly.

[2021-09-21 11:52] tomkivlin commented on #15875
I would like to provide some more examples and am happy to do the PR. Any preferences whether I add the extra examples in this page, or as a new page under `/Tasks/` (e.g. /tasks/manage-kubernetes-objects/field-selectors or something similar)?

[2021-09-21 11:52] tomkivlin commented on #15875
/assign

[2021-09-21 13:21] zhiguo-lu opened #29766 "[zh] translate concepts/Traces For Kubernetes System Components"
**This is a Feature Request**

translate content/en/docs/concepts/cluster-administration/system-traces.md into Chinese.

**What would you like to be added**
content/zh/docs/concepts/cluster-administration/system-traces.md

/language zh
/assign

[2021-09-21 17:48] jayunit100 opened #29769 "simplify sig-windows docs"
**This is a Bug Report**

**Problem:**

We currently have copious references to flannel, wins, etc in the getting started w/ windows stuff.

- hostProcess containers will obviate the need to use kube-proxy over wins
- for now nssm is a easy, commonly done solution

**Proposed Solution:**

Clean out docs to just use a commonly supported, easily reproduced recipe for windows bootstrapping.

[2021-09-21 19:58] shannonxtreme commented on #15560
Some findings: The tasks on https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/ encompass the tasks in https://kubernetes.io/docs/tasks/access-application-cluster/service-access-application-cluster/ and provide more recommendations for securely exposing the app to the internet.

Instead of separating the conceptual info (there isn't a lot of it), I'll merge the pa

[2021-09-21 20:23] reylejano commented on #29708
Links are fixed, see [comment](https://github.com/kubernetes/website/pull/29755#issuecomment-924317320)
/close

[2021-09-21 20:23] reylejano commented on #29149
Links are fixed, see [comment](https://github.com/kubernetes/website/pull/29755#issuecomment-924317320)
/close

[2021-09-21 20:23] #29708 closed

[2021-09-21 20:24] reylejano commented on #29459
Links are fixed, see [comment](https://github.com/kubernetes/website/pull/29755#issuecomment-924317320)
/close

[2021-09-22 00:18] tengqm commented on #28573
/remove-lifecycle stale

[2021-09-22 00:19] tengqm commented on #28573
/lifecycle frozen

[2021-09-22 00:54] leandroscardua commented on #29708
Thank you Team

[2021-09-22 01:33] steven-my commented on #29329
I will work on (3) objects & network

[2021-09-22 02:09] sftim commented on #29764
/sig cluster-lifecycle

[2021-09-22 02:09] sftim commented on #29764
/kind bug

[2021-09-22 02:12] sftim commented on #29765
In the [upstream code](https://github.com/kubernetes/kubernetes/blob/76c0573ff4b455dd45426b4fb09c5403ccca56ed/pkg/apis/core/types.go#L2125), we could replace “docker image” with “container image”.

[2021-09-22 02:12] sftim commented on #29765
/kind documentation

[2021-09-22 06:54] yoonian opened #29771 "'Tools Included' item is displayed in the navigation menu in translated versions"
**This is a Bug Report**

**Problem:**
Except for the [EN] version, the unnecessary 'Tools Include' item is displayed in translated versions.

Check the left side navigation menu in [EN version](https://kubernetes.io/docs/tasks/tools/),
[code]

However, the translated versions([KO](https://kubernetes.io/ko/docs/tasks/tools/), [ZH](https://kubernetes.io/zh/docs/tasks/tools/), [JP](https://kubernete

[2021-09-22 09:50] sftim commented on #29771
/triage accepted

[2021-09-22 13:59] AvineshTripathi commented on #29649
@shannonxtreme i couldn't attend the meeting can you tell me the summary of discussion happened for this issue ?

[2021-09-22 14:07] reylejano commented on #29649
During the SIG Docs on Sept 21 (APAC friendly meeting), we discussed creating a new label for `re-factor` which helps identifies PRs that makes large re-factoring changes e.g. removing files and moving content from one page to another

[2021-09-22 15:31] AvineshTripathi commented on #29649
@reylejano are we going to automate it (labelling) or do the labelling manually ?

[2021-09-22 19:56] cwilhit opened #29776 "Update dockershim deprecation timeline in published blog post from K8s v1.23 -> v1.24"
**This is a Bug Report**

**Problem:**
When the community originally announced deprecation of dockershim in Kubernetes, a FAQ was published detailing the deprecation timeline ([link](https://kubernetes.io/blog/2020/12/02/dockershim-faq/#when-will-dockershim-be-removed)). The timeline as presented states:

Since then, the timeline has been revised and extended to 1.24, as found in kubernetes/enhanc

[2021-09-22 23:01] reylejano commented on #29776
/assign

[2021-09-22 23:14] reylejano commented on #29776
Created PR https://github.com/kubernetes/website/pull/29780 to fix this issue

[2021-09-22 23:23] sftim commented on #29776
When we revise published blog articles (and we're not just correcting something that, at the time, we'd have fixed before merge if we'd spotted it), we should clearly call out that we're making changes and what the original text would have said.

This is especially important for key details, such as this one.
/area blog
/remove-kind bug
/triage accepted

[2021-09-22 23:24] sftim commented on #29776
(The hyperlink to the KEP is uncontroversial - you might want to split that fix into its own PR)

[2021-09-22 23:25] #29591 closed

[2021-09-23 00:30] jihoon-seo commented on #28357
/remove-lifecycle stale
Because https://github.com/kubernetes/kubernetes/pull/103134 is ongoing.

[2021-09-23 02:09] superleo commented on #29329
I'm working on (5) windows

[2021-09-23 04:40] vaibhav2107 commented on #28529
/remove-lifecycle stale

[2021-09-23 05:23] niteshseram commented on #29771
/assign

[2021-09-23 14:32] chienfuchen32 opened #29785 "A docker image building environment problem on v1.18"
**This is a Bug Report**

**Problem:**
When I tried to build a Docker image from [README.md](https://github.com/kubernetes/website/tree/release-1.18#running-the-website-using-a-container), it comes with `npm` problem.
[code]
**Proposed Solution:**

I've changed Dockerfile based on newer [version v1.20](https://github.com/kubernetes/website/blob/release-1.20/Dockerfile), build image process works f

[2021-09-23 14:48] shannonxtreme commented on #29649
Rey that's a good start for sure. In addition to Avinesh's question, how would we ensure that this label would mean localization folks are informed? Would the bot add the loc leads to CC on `refactor` labelled PRs?

[2021-09-23 14:59] reylejano commented on #29649
@AvineshTripathi and @shannonxtreme all good questions.
I believe it will be manual at first but we should look into automating
IMO, localization teams and reviewers should be informed about PRs with a `re-factor`/`refactor` label.
More discussion is needed either on this issue, SIG Docs meeting, or Slack thread.

[2021-09-23 15:40] sftim commented on #29649
I think it'd have to be manual: automation can't spot a refactor easily (and if it could, we wouldn't need the label, we could update the tooling that localization teams use to use that algorithm directly).

[2021-09-23 16:00] superleo commented on #29329
https://github.com/kubernetes/website/pull/29788

[2021-09-23 16:06] AvineshTripathi commented on #29649
Ya I agree to that @sftim   and also @reylejano  are we planning to tag people of localisation team via bot or just having a label will do ?

[2021-09-23 16:07] superleo commented on #29329
I will work on (4) pod container

[2021-09-23 16:38] udnjf79034 commented on #29785
my issue is also solved for my [site](mods.trendytaste.xyz)

[2021-09-23 17:07] sftim commented on #29776
Fixed in #29780, I think
/close

[2021-09-23 17:07] #29776 closed

[2021-09-23 18:38] Ankit-Pankaj commented on #25123
is this issue still open? if yes, can I contribute to this?

[2021-09-23 22:34] denissimonovski opened #29793 "Clear up the section for garbage collection of orphaned dependents"
**This is a Bug Report**

**Problem:**
I was reading about the garbage collection and I think this sentence [here](https://github.com/kubernetes/website/blame/b1226e203e12106e36ff7b1559229d62dab38d01/content/en/docs/concepts/architecture/garbage-collection.md#L108) should be better worded as "By default, Kubernetes deletes orphaned objects." or "By default, Kubernetes deletes orphaned dependents."

[2021-09-23 23:45] mpaine-act opened #29794 "Improvement for k8s.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/"
Please update for Windows Server 2022.

[2021-09-24 01:22] kbhawkey commented on #29769
/triage accepted

[2021-09-24 06:53] steven-my commented on #29329
I will work on (6) admin 1 and (7) admin 2

[2021-09-24 13:11] zhiguo-lu opened #29800 "[zh] translate glossary/Garbage Collection"
**This is a Feature Request**

translate docs/reference/glossary/garbage-collection.md into Chinese.

**What would you like to be added**

content/zh/docs/reference/glossary/garbage-collection.md

/language zh
/assign

[2021-09-24 13:21] shannonxtreme commented on #29649
I meant tagging the relevant team in a Github comment on that PR (something like `cc @kubernetes/sig-architecture-leads`

And yes manual works to start off at least.

[2021-09-24 13:37] AvineshTripathi commented on #29649
Sounds perfect to me @shannonxtreme let me know how to start working on this

[2021-09-24 20:42] #27710 closed

[2021-09-25 00:14] #29771 closed

[2021-09-25 02:31] tengqm commented on #29800
/triage accepted

[2021-09-25 05:44] divya-mohan0209 opened #29805 "SIG Docs Co-chair onboarding: divya-mohan0209"
# SIG Docs Co-chair onboarding

As part of the [7th September 2021 SIG Docs meeting](https://docs.google.com/document/d/1ddHwLK3kUMX1wVFIwlksjTk0MsqitBnWPe1LRa1Rx5A/edit#heading=h.8kj39dqgwkc8) @divya-mohan0209 was nominated for the co-chair role within SIG Docs by @jimangel

### Transition date

Without further input, the [lazy consensus](https://groups.google.com/g/kubernetes-sig-docs/c/AFWmzt43

[2021-09-25 10:51] #27733 closed

[2021-09-25 15:56] #27785 closed

[2021-09-25 17:17] rwxrob opened #29809 "Issue with k8s.io/docs/tasks/manage-kubernetes-objects/"
Most of the other documentation (and community) are now referring to "Kubernetes Resources" instead of "Objects" (for all the right reasons, imho). This page is a serious exception to that and perhaps should include an explanation for beginners so they can resolve the synonymous usage of the words "Resource" and "Object".

[2021-09-26 00:27] itinneed opened #29810 "Improvement for k8s.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/"
Is this meant to be installed on my local machine or on the minikube?

[2021-09-26 01:35] rbrtmrtn opened #29812 "Error running Hello Minikube tutorial on Apple Silicon M1"
Hello!

I am working through the Hello Minikube tutorial [https://kubernetes.io/docs/tutorials/hello-minikube/](here). When I try to create a deployment of `echoserver` I get an error in my kubectl logs:

[code]

As a sanity check I tried running `docker run k8s.gcr.io/echoserver:1.4` and got this warning, which I suspect may be a clue:

[code]

I am working through the tutorial on an Apple MacBoo

[2021-09-26 01:40] ClaudiaJKang commented on #29257
I will assign M31-M50!

M1 - M18 : @seokho-son
...
M31 - M60 : @ClaudiaJKang
M61 - M77 : @jihoon-seo

[2021-09-26 03:35] steven-my commented on #29329
I will work on (8) admin 3

[2021-09-26 03:38] #29766 closed

[2021-09-26 08:49] howieyuen commented on #29329
I am working on (14) and PR link https://github.com/kubernetes/website/pull/29816

[2021-09-26 11:00] zhangguanzhang opened #29819 "[zh] docs wrong - https://kubernetes.io/zh/docs/reference/labels-annotations-taints/#node-kubernetes-io-unreachable"
https://kubernetes.io/zh/docs/reference/labels-annotations-taints/#node-kubernetes-io-unreachable
如果 NodeCondition 的 `NodeCondition` 超链接到英文文档了。
@tengqm

[2021-09-26 13:59] imoisharma commented on #29812
/assign @imoisharma

[2021-09-26 14:00] imoisharma commented on #29810
/assign @imoisharma

[2021-09-26 14:03] #27690 closed

[2021-09-26 14:13] imoisharma commented on #29809
/assign @imoisharma

[2021-09-26 14:38] neolit123 commented on #29810
This page is about installing kubeadm on machines directly. For minikube
questions you can ask on the k8s slack - #minikube.

/kind support
/close

[2021-09-26 14:38] #29810 closed

[2021-09-26 18:06] #27745 closed

[2021-09-26 19:03] sandipanpanda commented on #27864
Hi @sftim this seems to be a good first issue which I am interested to fix. Should I make a new issue in https://github.com/kubernetes/kubernetes before making a PR?

/remove-lifecycle rotten

[2021-09-26 19:10] sandipanpanda commented on #27864
Can you please tell that whether I should make a PR in the master branch of K8s to fix this here: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/core/v1/types.go#L4364-L4375. Am I right?

[2021-09-27 03:21] zhangguanzhang opened #29822 "[zh] wrong: https://kubernetes.io/zh/docs/tasks/administer-cluster/out-of-resource/"
https://kubernetes.io/zh/docs/tasks/administer-cluster/out-of-resource/#%E8%8A%82%E7%82%B9-oom-%E8%A1%8C%E4%B8%BA
Guaranteed 的 `oom_score_adj` 我测试了下发现是和英文文档的 `-997` 而不是目前中文版本里的 `-998`

[2021-09-27 03:49] howieyuen commented on #29325
part 1：https://github.com/kubernetes/website/pull/29823

[2021-09-27 04:42] s-kawamura-w664 commented on #29324
@HarikrishnanBalagopal
I would suggest the following.
How about it?

before:
 `However it is recommended to use activeDeadlineSeconds if user deploy their application as a Job,`

after:
 `However it is recommended to use activeDeadlineSeconds only if user deploy their application as a Job,`

[2021-09-27 06:50] xxj123go opened #29825 "issue with https://kubernetes.io/zh/docs/tutorials/stateful-application/basic-stateful-set/"
改为

[2021-09-27 07:35] jihoon-seo commented on #29825
Link: https://kubernetes.io/zh/docs/tutorials/stateful-application/basic-stateful-set/

/retitle [zh] Issue with /zh/docs/tutorials/stateful-application/basic-stateful-set

[2021-09-27 07:45] jihoon-seo commented on #29257
M19 - M30 제가 하겠습니다~
/assign

* M1 - M18 : @seokho-son
* M19 - M30 : @jihoon-seo
* M31 - M60 : @ClaudiaJKang
* M61 - M77 : @jihoon-seo

[2021-09-27 09:09] jihoon-seo opened #29827 "Term is dup in concepts/services-networking/service"
**This is a Bug Report**

**Problem:**
Term "`ProxyTerminatingEndpoints`" is dup in concepts/services-networking/service.

https://kubernetes.io/docs/concepts/services-networking/service/#external-traffic-policy

**Proposed Solution:**

Delete the later one:

[code]

**Page to Update:**
https://kubernetes.io/docs/concepts/services-networking/service/#external-traffic-policy

/kind bug
/language en

[2021-09-27 09:38] sftim opened #29828 "Remove addonmanager.kubernetes.io labels from ”Autoscale the DNS Service in a Cluster”"
**This is a Bug Report**

**Problem:** [Autoscale the DNS Service in a Cluster](https://kubernetes.io/docs/tasks/administer-cluster/dns-horizontal-autoscaling/) mentions an annotation prefix `addonmanager.kubernetes.io` that is deprecated / not actually official.

**Proposed Solution:**
Remove all mention of `addonmanager.kubernetes.io` annotations from that page.

**Page to Update:**
https://kube

[2021-09-27 09:38] sftim commented on #29828
/retitle Remove addonmanager.kubernetes.io labels from ”Autoscale the DNS Service in a Cluster”

[2021-09-27 09:51] sftim commented on #14770
Also see issue #29827

[2021-09-27 09:52] sftim commented on #28054
/lifecycle frozen

[2021-09-27 12:50] abhibhaw commented on #29827
/assign

[2021-09-27 13:02] niteshseram commented on #29828
/assign

[2021-09-27 16:14] enj commented on #28580
/assign @s-urbaniak
/remove-lifecycle stale

[2021-09-27 17:01] sftim commented on #29812
It looks like the Hello Minikube tutorial requires a Linux AMD64 node, or at least isn't compatible with a VM running AArch64 & Linux.
I'm not sure what the best step forward might be here. Perhaps a newer version of that `echoserver` container supports AArch64?

[2021-09-27 17:02] sftim commented on #29805
/triage accepted

[2021-09-27 17:14] #27748 closed

[2021-09-27 17:54] AvineshTripathi commented on #29649
/assign

[2021-09-27 23:58] #29800 closed

[2021-09-28 03:08] murindwaz opened #29836 "Issue with k8s.io/docs/tutorials/configuration/configure-redis-using-configmap/"
The command (`kubectl delete pod/redis configmap/example-redis-config`) suggested to delete a pod (redis pod) ~ doesn't actually delete the pod. The deleted pod sticks around, and when lunching(updating) the pod as indicated in the documentation, the status `CrashLoopBackOff` re-tries indifinitely.

[2021-09-28 03:29] anubha-v-ardhan commented on #29379
@aasim-syed Can we have an update. Are you starting a new localization to Tamil?

[2021-09-28 03:48] zhiguo-lu opened #29837 "[zh] translate concepts/Garbage Collection"
**This is a Feature Request**

translate /en/docs/concepts/architecture/garbage-collection.md  into Chinese.

**What would you like to be added**

/zh/docs/concepts/architecture/garbage-collection.md

/language zh
/assign

[2021-09-28 06:02] jihoon-seo opened #29840 "New line is needed between a unordered list item and a paragraph"
**This is a Bug Report**

**Problem:**

[As-is]
https://kubernetes.io/docs/concepts/workloads/controllers/job/#completion-mode

[code]

![image](https://user-images.githubusercontent.com/46767780/135031206-ff8c002c-a216-4708-9148-7f09d9fd0afc.png)

---

[Before the commit d6b142070dd6ed0ce4992a36f0f071f8d7012d4b]

[code]

**Proposed Solution:**

Edit [`en/docs/concepts/workloads/controllers/job.md

[2021-09-28 07:03] yedamao commented on #29840
/assign

[2021-09-28 09:43] sftim commented on #29840
Thanks for filing this @jihoon-seo

[2021-09-28 09:43] sftim commented on #29840
/triage accepted
/priority backlog

[2021-09-28 09:44] #29828 closed

[2021-09-28 18:26] rbrtmrtn commented on #29812
Hi @sftim, thanks for taking a look at this! I was poking around in the `echoserver` project and I found some hints that multi-arch builds should be supported. This mentions `arm64`, which is what seems to be missing from the container registry.

https://github.com/kubernetes/kubernetes/blob/master/test/images/echoserver/BASEIMAGE

I'm wondering if maybe the non-`amd64` builds aren't happening for

[2021-09-29 01:33] activescott opened #29850 "Issue with k8s.io/docs/concepts/workloads/controllers/deployment/"
At [the _Checking Rollout History of a Deployment_ point](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#checking-rollout-history-of-a-deployment) in the exercise running `kubectl rollout history deployment.v1.apps/nginx-deployment` `CHANGE-CAUSE` result displays `<none>` for the three revisions for me. Also, I noticed that `kubectl rollout history deployments/nginx-deployme

[2021-09-29 02:06] #29519 closed

[2021-09-29 03:50] ClaudiaJKang opened #29852 "[ko] Fix wrong link in concepts/workloads/controllers/replicaset.md"
**This is a Bug Report**

**Problem:** In [replicaset korean page](https://kubernetes.io/ko/docs/concepts/workloads/controllers/replicaset/), there is worng link related to labels-annotations-taints.

**Proposed Solution:**
Change link "`controller.kubernetes.io/pod-deletion-cost`](/docs/reference/labels-annotations-taints/#pod-deletion-cost)" to
"`controller.kubernetes.io/pod-deletion-cost`](`/ko

[2021-09-29 04:10] abritpal commented on #29852
Hi!, I would like to work on this

[2021-09-29 04:15] abritpal commented on #29852
/assign

[2021-09-29 07:17] Kartik494 commented on #27937
/remove-lifecycle stale

[2021-09-29 07:23] toringzhang opened #29854 "Issue with k8s.io/zh/docs/concepts/scheduling-eviction/taint-and-toleration/"
remove the taint commond is
kubectl taint nodes node1 key2:NoSchedule-
not
kubectl taint nodes node1 key1=value1:NoSchedule-

[2021-09-29 09:43] sftim commented on #29850
/language en

[2021-09-29 09:43] sftim commented on #29854
/language zh

(not sure if this is also wrong in the English original)

[2021-09-29 09:53] verma-kunal commented on #27840
/assign

[2021-09-29 10:11] sftim commented on #28060
/lifecycle frozen

[2021-09-29 11:51] ClaudiaJKang commented on #29852
/triage accepted

[2021-09-29 14:26] philanton opened #29856 "Improvement for k8s.io/docs/tasks/access-application-cluster/ingress-minikube/"
Hi. I pass this tutorial for a few hours, because ingress didn't work and every time I received 404 err.
I'm using minikube (v1.23.0) on Arch Linux.
I finally went to this page https://kubernetes.github.io/ingress-nginx/user-guide/basic-usage/ and realized that row below  wasn't in example-ingress.yaml:
    # use the shared ingress-nginx
    kubernetes.io/ingress.class: "nginx"

All work fine afte

[2021-09-29 14:54] jmyung commented on #28101
/remove-lifecycle rotten

[2021-09-29 15:09] riita10069 opened #29857 "Link to /docs/tasks/administer-cluster/developing-cloud-controller-manager.md can be replaced with /ja/docs/"
**This is a Feature Request**

**What would you like to be added**

It is about this page.
https://kubernetes.io/ja/docs/tasks/administer-cluster/running-cloud-controller/

I guess that Links to `/docs/tasks/administer-cluster/developing-cloud-controller-manager.md` can be replaced with `/ja/docs/tasks/administer-cluster/developing-cloud-controller-manager`.

**Why is this needed**

`/docs/tasks/a

[2021-09-29 15:16] sftim commented on #29856
/language en

[2021-09-29 15:17] sftim commented on #29856
BTW https://github.com/kubernetes/website/pull/29206 is an open PR targeting that page

[2021-09-29 15:49] vaibhav2107 commented on #28579
/close

[2021-09-29 15:54] vaibhav2107 commented on #29590
Fixes in #29593

[2021-09-29 15:58] inductor commented on #29857
/approve

thanks for working on this :)

[2021-09-29 15:58] inductor commented on #29857
/triage accepted

[2021-09-29 15:58] inductor commented on #29857
/approve

thanks for working on this :)

[2021-09-29 17:53] philanton commented on #29856
@sftim Without that row it doesn't work for me, I tried about anything

[2021-09-29 19:53] raelga commented on #13948
Listo!

[2021-09-29 20:12] dilyanpalauzov opened #29861 "tasks/administer-cluster/dns-custom-nameservers: update link to cluster addons"
The first paragraph at https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/#introduction contains a link to  cluster add-on → https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/README.md

The latter page says, this is a legacy document, and refers to https://kubernetes.io/docs/concepts/cluster-administration/addons/ .

• Replace in https://kubernetes.io/docs

[2021-09-29 21:59] skdas2016 opened #29863 "Kubernetes Documentation"
I am using Kubernetes 1.12 . Trying to use local ephemeral storage for POD . not sure whether this feature is available since 1.10 or after 1.16 . Please suggest

I am referring to this doc .. Section
https://kubernetes.io/docs/concepts/configuration/_print/#local-ephemeral-storage

[2021-09-30 03:46] niteshseram commented on #29856
I don't think it will work without that. If you want you can try with the below config where I changed `kubernetes.io/ingress.class`  to  `ingressClassName`.
[code]

I don't have much idea about Kubernetes but reading through the docs here https://kubernetes.io/blog/2020/04/02/improvements-to-the-ingress-api-in-kubernetes-1.18/#putting-it-all-together, I found out we can use  `ingressClassName` in

[2021-09-30 03:48] niteshseram commented on #29856
@sftim if this config looks right, we can update it

[2021-09-30 04:43] niteshseram commented on #29856
The Katacoda tutorial works fine. And I don't see the tutorial using `kubernetes.io/ingress.class` anywhere.

[2021-09-30 05:13] niteshseram opened #29864 "Unnecessary code are rendered at "Enable the Ingress controller" section"
**This is a Bug Report**

**Problem:**
There are some unnecessary codes being rendered at  step 2 of "Enable the Ingress controller" section in this tutorial https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/#enable-the-ingress-controller as shown below
![Capture](https://user-images.githubusercontent.com/51370246/135390981-b1b3034e-d10d-4c34-8f79-0c66fa6bab4c.PNG)

**Pa

[2021-09-30 05:13] niteshseram commented on #29864
/lang en

[2021-09-30 05:14] niteshseram commented on #29864
/language en

[2021-09-30 06:58] philanton commented on #29856
Hello @niteshsera , I've just tried to replace it with your one, but no - 404 not found.

[2021-09-30 07:05] niteshseram commented on #29864
I can see this PR #29206 is solving this issue.

[2021-09-30 08:05] RA489 commented on #29760
@FrantzT I have tried setting up Ingress on Minikube with NGINX Ingress controller but it works fine for me. web service is being exposed on port 8080 thats what mentioned in ingress web service port.

[2021-09-30 08:52] dilyanpalauzov opened #29867 "dns-pod-service: dead link to “related discussions” for Default and ClusterFIrst DNS policy"
https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pod-s-dns-policy says:

Pod's DNS Policy

* `"Default"`: The Pod inherits the name resolution configuration from the node that the pods run on. See related discussion for more details.

“Related discussion” is a hyperlink to https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/#inheriting-dns-from-the-no

[2021-09-30 10:20] RA489 commented on #29324
https://github.com/kubernetes/website/pull/29868

[2021-09-30 11:52] #28455 closed

[2021-09-30 13:12] neolit123 commented on #29596
/close
Please reopen if the above Qs are answered.

[2021-09-30 13:13] #29596 closed

[2021-09-30 15:45] FrantzT commented on #29760
What configuration do you use?
I used wsl2 on Windows. And it only works when port 80 is set not 8080.
I found a note on internet that other people has this problem, that's how I
have solved it.

You can see that example-ingress is set to port 80 on the page not 8080.

On Thu., Sep. 30, 2021, 1:05 a.m. RA489, ***@***.***> wrote:

[2021-09-30 21:00] sftim commented on #27629
/lifecycle frozen

[2021-09-30 21:01] sftim commented on #28836
/priority important-longterm

[2021-09-30 21:17] Victorp99 commented on #29827
/assign

[2021-10-01 05:03] #27937 closed

[2021-10-01 05:09] tengqm commented on #28579
/close

[2021-10-01 05:09] #28579 closed

[2021-10-01 08:23] sftim opened #29873 "Verify control of k8s.io for Google Search"
**This is not really a Bug Report**

**Problem:**
As per https://github.com/kubernetes/k8s.io/pull/2489#issuecomment-931957592, Google's view of who controls `k8s.io` for Google Search recently changed.

**Proposed Solution:**
Make sure that ownership information is correct. Perhaps:
- create a new principal for identity to act as the owner

or
- find a suitable existing principal

then
- make sur

[2021-10-01 08:23] sftim commented on #29873
/sig k8s-infra

[2021-10-01 08:24] sftim commented on #29863
/kind support

See https://kubernetes.io/docs/home/supported-doc-versions/ for which versions of Kubernetes the documentation supports.

[2021-10-01 12:00] sftim commented on #29864
/triage accepted
/language en
/priority backlog

[2021-10-01 12:24] shannonxtreme commented on #29590
Closing this because it was fixed. Thanks @vaibhav2107 !

/close

[2021-10-01 12:24] #29590 closed

[2021-10-01 14:03] dguyhasnoname opened #29874 "Issue with k8s.io/docs/concepts/services-networking/network-policies/"
[netpol](https://kubernetes.io/docs/concepts/services-networking/network-policies/#networkpolicy-resource) mentioned  at `concepts/services-networking/network-policie` on kubernetes.io appears to be incorrect.

`ports` field appears inside `to`  in egress and `from`  in ingress. But according to kubectl netpol -h, both `ports` should appear in `ingress` and `egress` section in parallel to `to`/`fr

[2021-10-01 17:16] lxlxok commented on #29867
/assign

[2021-10-01 17:20] aychen99 commented on #29825
/assign

[2021-10-01 17:35] prabhsimransingh commented on #29278
/assign

[2021-10-01 19:40] mallow111 commented on #29850
/assign

[2021-10-01 19:54] aychen99 commented on #29819
/assign

[2021-10-02 01:10] imgod123456 opened #29885 "Device Plugins iod"

[2021-10-02 05:05] divya-mohan0209 commented on #29867
/sig docs

[2021-10-02 05:23] divya-mohan0209 commented on #29885
Hello @imgod123456 please provide description when opening an issue. Closing this issue off since there are no valid details provided.
/close

[2021-10-02 05:23] #29885 closed

[2021-10-02 07:03] dilyanpalauzov opened #29887 "typo command-line-tools-reference/kubelet/ : gll → all"
https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/ says:

typo gll → all

[2021-10-02 07:28] learner0810 commented on #29887
/assign

[2021-10-02 08:02] Chanakya-a opened #29890 "Issue with k8s.io/docs/setup/production-environment/tools/kops/"
its not allowing to delete the cluster. Error below.

error listing SQS queues: AccessDenied: Access to the resource https://sqs.us-east-1.amazonaws.com/ is denied.
        status code: 403, request id: aae34cdd-48b5-58a2-92a7-150f5b17e5a1

[2021-10-02 08:55] dilyanpalauzov opened #29891 "Expand QPS abbreviation"
https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/ says:

Please explain what the abbreviation QPS stands for.

[2021-10-02 10:02] dilyanpalauzov opened #29892 "kubelet-config.v1beta1 - default values for required parameters"
https://kubernetes.io/docs/reference/config-api/kubelet-config.v1beta1/#kubelet-config-k8s-io-v1beta1-KubeletConfiguration says:

Since the parameter is required, it is mandatory to provide it, and the default never applies.

The same applies to:

[2021-10-02 11:01] ClaudiaJKang commented on #29852
/close

[2021-10-02 11:02] #29852 closed

[2021-10-02 13:36] pawelborkar commented on #27446
/unassign

[2021-10-02 16:15] sftim commented on #29891
This issue should be filed against the code for the kubelet, because that's where the original text lives: https://github.com/kubernetes/kubernetes/blob/0ac956ff2bef9c84b17d4b9cae2cffe71d5c6386/cmd/kubelet/app/options/options.go#L457

https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/ is automatically generated.

[2021-10-02 16:16] sftim commented on #29891
/transfer kubernetes
/kind documentation
/remove-kind bug
/sig node

[2021-10-02 16:29] #29887 closed

[2021-10-02 16:36] sftim opened #29893 "Misleading entry in kubectl cheatsheet"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/reference/kubectl/cheatsheet/#interacting-with-running-pods lists:
[code]

There are at least two problems
1. This command doesn't interact with a running Pod, so it's in the wrong section
2. It's invalid code. If you paste that into a POSIX shell, first `kubectl` will tell you that you didn't specify a namespace, and then your shel

[2021-10-02 16:36] sftim commented on #29893
/language en

[2021-10-02 16:36] sftim commented on #29893
/help
/triage accepted
/priority backlog

[2021-10-02 16:38] sftim commented on #29805
This all looks done to me. (If I'm wrong, then of course it's OK to reopen this).
/close

[2021-10-02 16:38] #29805 closed

[2021-10-02 16:48] sftim opened #29894 "Tidy Windows cluster setup pages"
**This is a Bug Report**

**Problem:** The [Windows in Kubernetes](https://kubernetes.io/docs/setup/production-environment/windows/) pages are not really a clear guide to setting up a cluster than can run Windows pods.

**Proposed Solution:**
- Migrate **and rename** https://kubernetes.io/docs/setup/production-environment/windows/user-guide-windows-containers/
  - I would rename that page to “Run

[2021-10-02 16:49] sftim commented on #29894
The new page https://kubernetes.io/docs/setup/production-environment/windows-nodes/ should definitely and prominently hyperlink to https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/

(these pages are not the same, because `kubeadm` is not the only game in town)

[2021-10-02 16:49] sftim commented on #29894
/sig cluster-lifecycle

[2021-10-02 16:50] sftim commented on #29891
/transfer kubernetes

[2021-10-02 18:56] dilyanpalauzov opened #29895 "kubelet-config.v1beta1: makeIPTablesUtilChains “causes the Kubelet ensures a set of iptables rules ”"
https://kubernetes.io/docs/reference/config-api/kubelet-config.v1beta1/ says:

This does not sound very English

[2021-10-02 19:21] jeefy commented on #29840
Looks like #29880 fixed this :)
/close

[2021-10-02 19:21] #29840 closed

[2021-10-02 19:30] jeefy commented on #29633
/assign

[2021-10-02 22:12] #27881 closed

[2021-10-03 01:38] tengqm commented on #29892
@dilyanpalauzov Please consider file an issue against kubernetes/kubernetes repo. The configuration reference is generated from the upstream source. The `enableServer` one can be found here: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubelet/config/v1beta1/types.go#L91-L97

[2021-10-03 01:39] tengqm commented on #29892
We won't fix the generated reference directly.
/close

[2021-10-03 01:39] #29892 closed

[2021-10-03 03:27] king3379 opened #29899 "Improvement for k8s.io/zh/docs/setup/production-environment/tools/kubeadm/install-kubeadm/"
Could not connect to packages.cloud.google.com:443 (172.217.160.78), connection timed out
Reading package lists... Done
W: Failed to fetch https://apt.kubernetes.io/dists/kubernetes-xenial/InRelease  Could not connect to packages.cloud.google.com:443 (172.217.160.78), connection timed out
W: Some index files failed to download. They have been ignored, or old ones used instead.
中国地区这种工具完全不好使呢

[2021-10-03 12:36] riita10069 commented on #29857
/assign

[2021-10-03 14:06] niteshseram commented on #29893
/assign

[2021-10-03 14:08] niteshseram commented on #29893
We need to first create a namespace `mynamespace` by running `kubectl create namespace mynamespace`, then it will work. So, there is nothing wrong with current command.

[2021-10-03 14:20] esimim opened #29900 "Grammar mistake in “Assign CPU Resources to Containers and Pods”"
There is a grammar mistake here in my understanding, please correct me if I am wrong.

"If you do not specify a CPU limit for a Container, then one of these situations applies:"

Should it be this?

"If you do not specify a CPU limit for a Container, then one of these situations apply:"

[2021-10-03 14:29] niteshseram commented on #29893
Do we still want to move this up to the `Creating Objects` section?

[2021-10-03 15:17] sftim commented on #29893
The linebreak is a problem too. If you paste that into a POSIX shell as-is: first `kubectl` will tell you that you didn't specify a namespace, and then your shell will fail to find a command called `mynamespace`.

We should fix **both** issues.

[2021-10-03 15:40] niteshseram commented on #29893
I removed the line break from the command. Hopefully, this should solve the issue.

[2021-10-03 15:55] shlomiGit opened #29903 "Issue with k8s.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/"
broken link in page: https://docs.microsoft.com/en-us/virtualization/windowscontainers/kubernetes/deploying-resources

[2021-10-03 16:26] sftim commented on #29893
@niteshseram is there a pull request you'd like reviewed?

[2021-10-03 16:27] sftim commented on #29903
/kind bug
/sig windows
/language en
/triage accepted
/priority backlog

Thanks for the report @shlomiGit

[2021-10-03 16:28] sftim commented on #29900
/retitle Grammar mistake in “Assign CPU Resources to Containers and Pods”

@esimim the existing text "If you do not specify a CPU limit for a Container, then one of these situations applies” is idiomatic English. The phrase “one of these situations” represents a single item.

[2021-10-03 16:29] sftim commented on #29900
/language en

[2021-10-03 16:31] sftim commented on #29895
@dilyanpalauzov this issue is actually with the [upstream code](https://github.com/kubernetes/kubernetes/blob/0ac956ff2bef9c84b17d4b9cae2cffe71d5c6386/staging/src/k8s.io/kubelet/config/v1beta1/types.go#L778).

I'll move this report to that repository.
/transfer kubernetes

[2021-10-03 16:31] niteshseram commented on #29893
I created this PR #29902 but it seems there is another similar issue #29278 with the PR, so I closed it. Let me know if it is different I can reopen it.

[2021-10-03 16:33] sftim commented on #29899
/kind support

@king3379 I think you're saying that the existing documentation is correct, but you're having trouble accessing https://apt.kubernetes.io/
This might be because of a network fault or explicit administrative denial on the network that you are using.

[2021-10-03 17:07] sftim commented on #12303
Also see https://github.com/kubernetes/website/issues/16252

[2021-10-03 17:07] sftim commented on #19835
/lifecycle frozen

[2021-10-03 17:08] sftim commented on #22021
@shuuji3 did you have a pull request for this?

[2021-10-03 17:09] sftim commented on #22021
This is a great issue for anyone to work on. It'd be great to see progress here.

[2021-10-03 17:19] tabhay563 commented on #27087
\assign

[2021-10-03 17:21] vaibhav2107 commented on #27547
/remove-lifecycle stale

[2021-10-03 17:23] sftim opened #29909 "Scrolling to target element hides headings"
**This is a Bug Report**

**Problem:**
If you have a narrow enough viewport and then follow a link to a fragment of a documentation page, the heading (or whatever) that the hyperlink represents is fully or partially hidden behind the top nav.

**Proposed Solution:**
Tweak the CSS (Sass) to avoid that snag.

**Additional Information:**
/area web-development

**Screenshots**
The (second) portrait sc

[2021-10-03 19:05] dilyanpalauzov opened #29912 "Sample kubelet.service contains unnecessary, second `ExecStart=`"
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/kubelet-integration/#the-kubelet-drop-in-file-for-systemd says for the systemd unit file:
[code]

The first `ExecStart=` is a no-op.

The snippet does not contain `Type=oneshot` and therefore [exactly one ExecStart must be given](https://www.freedesktop.org/software/systemd/man/systemd.service.html#ExecStart=).