[2018-07-06 16:49] lucperkins commented on #8726
Those "editdocs" pages are automatically generated, so you can navigate to https://kubernetes.io/docs/editdocs/#docs/foo/bar/baz.md and see a working page with links for "Edit content/en/docs/foo/bar/baz.md" and "View content/en/docs/foo/bar/baz.md on GitHub." Those links, of course, would not work.

So I will close the issue. I can see how this may be frustrating but at the moment we don't really

[2018-07-06 16:49] #8726 closed

[2018-07-06 16:55] lucperkins commented on #8731
@chuckha The issues you point out appear to have already been fixed. I'm going to close this for now, but please feel free to re-open if you think I've closed it in error!

[2018-07-06 16:55] #8731 closed

[2018-07-06 16:57] lucperkins commented on #8767
@erictune This indeed appears to have been fixed by #8733. Thanks for reporting and thanks for the fix @MasayaAoyama. 👍 to you both.

[2018-07-06 16:57] #8767 closed

[2018-07-06 16:58] #8815 closed

[2018-07-06 17:13] lucperkins commented on #8772
/assign

[2018-07-06 17:14] lucperkins commented on #8777
I'm going to close this for now as it appears to be more of a support issue than a docs issue.

@DeeToTheVee Please feel free to re-open if you would like to suggest improvements to the docs.

[2018-07-06 17:14] #8777 closed

[2018-07-06 17:17] lucperkins commented on #9399
@mohammedtaki Katacoda is a third party that is not affiliated with this repository. We suggest reporting issues with the Katacoda interface to them.

[2018-07-06 17:19] lucperkins commented on #9398
This appears to be a support issue rather than a documentation issue. I'm going to close this for now, but @TaoLi2100 please feel free to re-open if you feel that the documentation is somehow incorrect or out of date.

[2018-07-06 17:19] #9398 closed

[2018-07-06 19:05] ggund opened #9405 "Issue with k8s.io/docs/setup/independent/high-availability/"
HA Clustering documentation not self-explanatory as compared with previous documentation
**This is a...**

- [ ] Feature Request
- [ ] Bug Report
- [x] Document Update Report

**Problem:**
The section 'Configure SSH' is not self explanatory. Can you please elaborate more? The previous documentation had a much better explanation of configuring the ssh
Not sure if the document wants to say that SSH

[2018-07-06 23:50] lucperkins commented on #9356
/assign

[2018-07-07 09:07] CaoShuFeng commented on #9382
This doc is for kubernetes 1.11
https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/

For 1.10 please try this:
https://v1-10.docs.kubernetes.io/docs/tasks/access-kubernetes-api/extend-api-custom-resource-definitions/

[2018-07-08 04:02] #6089 closed

[2018-07-08 12:49] liggitt opened #9413 "Issue with k8s.io/docs/reference/command-line-tools-reference/kubelet/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Almost all options are missing from the kubelet command line help page

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/

[2018-07-08 12:58] neolit123 commented on #9413
ouch...

[2018-07-08 12:59] neolit123 commented on #9413
/cc @kubernetes/sig-docs-maintainers
/cc @tengqm

[2018-07-08 21:02] spacecat opened #9415 "Issue with k8s.io/docs/tutorials/stateful-application/basic-stateful-set/"
**This is a...**

- [x ] Feature Request
- [ ] Bug Report

**Problem:**
The article does not explain or link to how to dynamically provision PersistentVolumes.

**Proposed Solution:**
Explain how to dynamically provision PersistenVolumes in the article or link to an article which explains the same. This will save the reader some time.

[2018-07-09 01:58] tengqm commented on #9413
Checking...

[2018-07-09 01:58] interma opened #9417 "Confusing pod-conditions section of lastest pod-lifecycle doc"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-conditions
The pod-conditions section of **lastest** pod-lifecycle doc is very confusing. e.g.:
* repeat "A Pod has a PodStatus, which has an array of PodConditions. "
* "Each element of the PodCondition array has six possible fields:", but only three fields

[2018-07-09 02:10] tengqm commented on #9413
Looks like it is not a problem pertain to website. When I run ./hack/generate-docs.sh in kubernetes/kubernetes, the generated docs/admin/kubelet.md has a very short content. I think this is caused by the tweakings of kubelet flags (i.e. deprecated or not, hidden or not) and the spf13/pflag library. Still digging...

[2018-07-09 03:38] tengqm commented on #9413
The reason we don't have an "incomplete" set of flags for kubelet is that `kubelet` is handling command line flags in a different way. It is believed that "corba" is poluting the `kubelet` flag sets (https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/server.go#L266, https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/server.go#L142). However, the doc generator st

[2018-07-09 04:08] neolit123 commented on #9413
^ @mtaufen
this seems to go back to:
https://github.com/kubernetes/kubernetes/commit/42589266407e32fdf716d1fef689f0aee7142cd9

@tengqm can the docs tool be made to handle this special case?

[2018-07-09 05:53] lucperkins commented on #9399
@mohammedtaki Actually, it turns out that the Katacoda interface is technically under the same umbrella with the k8s docs. I'll re-open this and investigate.

[2018-07-09 05:53] lucperkins commented on #8976
/assign

[2018-07-09 05:53] parispittman commented on #7795
assign @kbarnard10

[2018-07-09 05:54] parispittman commented on #7795
/assign @kbarnard10

[2018-07-09 05:56] parispittman commented on #7795
Update - Alex C and Kaitlyn B from CNCF/LF are going to do a mock. I assigned Kaityln to this issue. We will discuss the mock in the next 1-2 weeks in the ContribEx and Docs weekly update calls and post here.

[2018-07-09 06:05] lucperkins commented on #8953
/assign

[2018-07-09 06:30] lucperkins commented on #8924
/assign

[2018-07-09 06:31] lucperkins commented on #8924
@Harrisonc1 Could you provide a bit more information? What do you need to change to a name that you can choose?

[2018-07-09 06:32] lucperkins commented on #8989
/assign

[2018-07-09 06:51] support81 commented on #8924
Wat must I do for helping
Tell me I will do my apologies if I did something wrong grtz

[2018-07-09 07:46] XuHaoIgeneral opened #9425 "Issue with k8s.io/cn/docs/tutorials/kubernetes-basics/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2018-07-09 10:33] ensonic commented on #2268
/remove-lifecycle stale

[2018-07-09 13:12] alexxa opened #9430 "RFE: please consider using markdown linter"
**This is a...**

- [x ] Feature Request
- [ ] Bug Report

Please consider using Markdown linter (e.g. [1, 2] or any other) to unify k8s.io docs Markdown syntax/style and increase its quality.  See #9479, an example of what issues Markdown linter [1] can catch.

[1] https://github.com/markdownlint/markdownlint
[2] https://github.com/remarkjs/remark-lint

[2018-07-09 13:17] neolit123 commented on #9430
i wonder if the markdown linter will trigger for all the current hacks that are present to work around BlackFriday (the markdown processor that ) bugs.

/cc @mistyhacks

[2018-07-09 13:55] jimangel commented on #9413
@tengqm I see now that this page should be updated by the gen-docs script. However I created a PR a while back to just fix it for anyone looking: https://github.com/kubernetes/website/pull/9344

I haven't looked at the  ./hack/generate-docs.sh tool to see if that would overwrite it or break anything - but it might be a good stop-gap until the script is patched.

If you disagree, let me know and I'

[2018-07-09 19:12] #8207 closed

[2018-07-09 19:31] #9187 closed

[2018-07-09 19:32] lucperkins commented on #8483
@jitendrabhalothia Yes. See pull request #9129 for the proposed changes.

[2018-07-09 19:40] lucperkins commented on #8561
@conradwt [bash-completion](https://github.com/scop/bash-completion) is a separate utility that needs to be installed for kubectl command auto-completion to work in Bash. The alternative to Homebrew installation is given in that's `README`:

[code]

I feel that this is too cumbersome an installation method to be included in the kubectl setup doc and that it's reasonable to expect users to install

[2018-07-09 19:40] #8561 closed

[2018-07-09 19:44] lucperkins commented on #8640
@kmassada In this case I do think that an "aside"-style note is warranted. So I'm going to close this. Sorry again for the mix-up! Thanks a ton for helping out!

[2018-07-09 19:44] lucperkins commented on #8640
(Oops, accidentally closed the issue. #9226 is still pending)

[2018-07-09 20:19] lucperkins commented on #8675
@akostadinov It turns out that this is super easy to do. Check PR #9436 for a sneak preview 👍

[2018-07-09 20:41] akostadinov commented on #8675
Looks real nice, thank you for digging that out!

[2018-07-09 20:55] #9099 closed

[2018-07-09 21:34] conradwt commented on #8561
@lucperkins I agree with you 100%.  Anyway, I was able to get things working by doing the following:

1) installed `bash-completion` via MacPorts
2) installed `kubectl` using `gcloud`
3) added the following to the bottom of `${HOME}/.profile`:

[code]

4) change `Terminal.app` -> Shells open with

     Command (complete path):
[code]

     Note:  This allows the `kubectl` bash-completion to work a

[2018-07-09 23:22] #9425 closed

[2018-07-10 00:46] #7306 closed

[2018-07-10 05:32] tengqm commented on #9413
@jimangel IMHO, getting the docs right is of a higher priority than getting the tools right. I have no objections getting #9344 merged. Let's wait a little while and see if @mtaufen can respond with a quick fix before deciding whether #9344 should go in.

[2018-07-10 11:15] BenHall commented on #9393
Thanks for the comment.

This has been discussed and the different options ($, >, #) and found that $ is the most cross-platform friendly approach when taking into account Linux, OSX, and Windows.

[2018-07-10 11:17] BenHall commented on #8984
There is a related issue at https://github.com/kubernetes/minikube/issues/2727

The issue mentions that vm=none is only supported on Linux.

[2018-07-10 11:21] BenHall commented on #8818
Sorry for the delay. I had missed the PR. This has now been merged.

[2018-07-10 11:23] ClaudiaJKang commented on #8818
Thank you! :D

[2018-07-10 11:46] indigoid commented on #9111
I am also interested in the clarification of this topic, though my context is Kubernetes 1.8. We would like to deny most identified users all access to a set of "core" namespaces in our development cluster (only) while allowing minimally-restricted access outside those namespaces.

In short, we'd like to protect our cluster-wide logging and other shared infrastructure from interference while allow

[2018-07-10 12:06] #8818 closed

[2018-07-10 12:21] shiliy commented on #8984
Thanks, Ben. Could we add that to the doc/make it clearer?
I will close this one for now.

[2018-07-10 12:21] #8984 closed

[2018-07-10 12:46] shruthibhaskar opened #9453 "Issue with k8s.io/docs/tasks/tools/install-kubectl/"
**This is a...**

- [x ] Feature Request
- [x] Bug Report

**Problem:**
I am trying to set up kops cluster, as a pre requisite i installed kubectl as per given instruction in the official page.

but i am getting the below error,
ubuntu@ip-172-31-30-74:~$ kubectl version
Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.0", GitCommit:"6e937839ac04a38cac63e6a7a306c5d035fe7b0a", Git

[2018-07-10 13:30] Bradamant3 commented on #9374
Closing in favor of issue #9413 to avoid confusion.

[2018-07-10 13:30] #9374 closed

[2018-07-10 14:55] justaugustus commented on #6859
/remove-lifecycle stale

[2018-07-10 17:19] lucperkins commented on #9078
/assign @erikerlandson

[2018-07-10 17:22] lucperkins commented on #9030
Looks like the suggested change has already been made 👍

[2018-07-10 17:22] #9030 closed

[2018-07-10 17:35] mtaufen commented on #9413
This should fix: https://github.com/kubernetes/kubernetes/pull/66034

[2018-07-10 21:00] mistyhacks commented on #9430
The suggested enhancements for the page should go in a different issue than a RFE to add a Markdown linter. They are orthogonal. The problem with a Markdown linter is that Markdown is super lazy about syntax. What exactly would you lint?

[2018-07-10 23:09] ryanmcginnis commented on #4460
/remove-lifecycle rotten

[2018-07-10 23:10] ryanmcginnis commented on #4460
@tonglil, still interested in updating this page?

[2018-07-11 01:15] kbarnard10 commented on #7795
Here is the first round of mockups:
[kubernetes-community (3).pdf](https://github.com/kubernetes/website/files/2182633/kubernetes-community.3.pdf)

[2018-07-11 01:54] tengqm commented on #7958
Closed by #9443

[2018-07-11 01:54] #7958 closed

[2018-07-11 07:02] alexxa commented on #9430
@mistyhacks Hi, I opened the RFE to use that (or any other) linter and gave an example of what that linter can find. Multiple headers with the same content of the given page were reported by that linter.

If you consider that you don't need Markdown linter, but the page update suggestions are valid. I can edit this issue.

[2018-07-11 07:53] mgred commented on #9319
Not sure, but the issue might be the "double-bullet" in the Table of Content, which will be fixed by #9175.

[2018-07-11 15:49] amorvillier opened #9470 "Issue with k8s.io/docs/setup/pick-right-solution/"
**This is a URL bug**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
On the page https://kubernetes.io/docs/setup/pick-right-solution/, on the Turnkey Cloud Solution, I'v got a 404 Error when I click on AWS, Azure or GCE link

**Proposed Solution:**
Replace the url to the link

**Page to Update:**
https://kubernetes.io/docs/setup/pick-right-solution/

[2018-07-11 15:59] craigbox commented on #9026
Reopening as I have the same problem and a care to fix it.

I am subscribed to http://kubernetesio.blogspot.com/feeds/posts/default.  That is a redirect to http://blog.kubernetes.io/feeds/posts/default.

* blog.kubernetes.io redirects to https://kubernetes.io/blog/.
* http://blog.kubernetes.io/feeds/posts/default gives a completely different RSS than is at https://kubernetes.io/feed.xml.

Can some

[2018-07-11 15:59] craigbox commented on #9026
/cc @zacharysarah

[2018-07-11 16:00] craigbox commented on #9026
/reopen

[2018-07-11 17:15] mistyhacks commented on #9430
A linter is a great RFE but the problems you found are actionable now, so I'd prefer to get that fix in sooner than the linter idea could be acted on. Thanks!

[2018-07-11 17:23] castrojo commented on #7795
These look great, one thing we should consider is adding in more dynamic content that shows how active the community is currently, like tweets and discussions.

As mentioned in the meeting if these dynamic elements require other work we should scope them but not block on them, I feel like even in the prototype stage these are already heads and shoulders above what we have now. Thanks for working o

[2018-07-11 17:28] dankohn commented on #7795
It's easy to embed the last 3 tweets from @kubernetesio.
https://developer.twitter.com/en/docs/twitter-for-websites/embedded-tweets/overview.html

That's what we do for https://landscape.cncf.io/selected=kubernetes

--
Dan Kohn <dan@linuxfoundation.org>
Executive Director, Cloud Native Computing Foundation https://www.cncf.io
+1-415-233-1000 https://www.dankohn.com

On Wed, Jul 11, 2018 at 1:23 PM

[2018-07-11 22:55] janetkuo commented on #7577
Oops, I think that's a bug in deployment controller.

[2018-07-12 00:04] mrbobbytables commented on #7577
@janetkuo should the original issue https://github.com/kubernetes/kubernetes/issues/55346 be reopened? I can close the open PR for updating the docs if that wasn't intended.

[2018-07-12 00:17] janetkuo commented on #7577
I filed https://github.com/kubernetes/kubernetes/issues/66093 for this bug and a fix for it.

[2018-07-12 00:18] mrbobbytables commented on #7577
Awesome! I'll close out the PR on fixing the docs. Thanks for being on top of it :)

[2018-07-12 00:21] #7577 closed

[2018-07-12 05:35] conradwt opened #9478 "Issue with k8s.io/docs/tutorials/stateless-application/guestbook/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

In the 'Before you begin' section, one is told to do the following:

[code]

However, in the following section, 'Start up the Redis Master', one is instructed to perform the following command:

[code]

**Proposed Solution:**

In the 'Before you begin' , one can remove:

[code]

**Page to Update:**

https://kubernetes.io/docs/t

[2018-07-12 06:35] alexxa opened #9479 "Issue with k8s.io/docs/setup/turnkey/stackpoint/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
Page [1]  contains too many headers. I believe the page will look better especially its navigation menu, if Headers state Cloud Providers, and  a numerated list is used to describe installation steps, i.e. :

[code]

Also notice that imperative mood is used together with a gerund:
- Choose a Provider
- Configure your Provider

[2018-07-12 06:43] alexxa commented on #9430
@mistyhacks I have updated this issue description according to your suggestion. Thanks.

[2018-07-12 08:46] cstoku commented on #9334
/triage needs-information

[2018-07-12 08:47] cstoku commented on #9334
/remove-triage needs-information

[2018-07-12 13:15] beaudryj commented on #9334
I would love to be able to use a desktop mode on your site while using a mobile browser

[2018-07-12 14:50] #8410 closed

[2018-07-12 15:50] lucperkins commented on #8878
/assign

[2018-07-12 16:07] lucperkins commented on #8878
@danielchg Is this something that you've been able to do successfully yourself? If so, could you share your working config?

[2018-07-12 16:12] lucperkins commented on #8907
/assign

[2018-07-12 16:52] lucperkins commented on #8950
@Raghavan1993 This repository is only for the Kubernetes website. I would recommend filing an issue in the [Kubernetes repo](https://github.com/kubernetes/kubernetes) instead.

[2018-07-12 16:52] #8950 closed

[2018-07-12 16:56] #9098 closed

[2018-07-12 17:48] abdelilah7000 opened #9487 "Issue with k8s.io/docs/concepts/overview/what-is-kubernetes/"
**This is a...**

- [x] Feature Request
- [x] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2018-07-12 18:13] parispittman commented on #7795
+1 to Jorge. The only P0 that should block an initial roll out is the calendar. Love the direction of this.

Also some comments:
-no need for SIG related detailed info on here (like the list). We will house that stuff in the new contributor site. we do need to put in a placeholder for a way to advertise that site without just throwing a link up.
-Can you include discuss.kubernetes.io as a top reso

[2018-07-12 19:52] #4783 closed

[2018-07-12 21:09] #9487 closed

[2018-07-12 21:10] lucperkins commented on #9479
/assign

[2018-07-12 21:23] lucperkins commented on #9478
/assing

[2018-07-12 21:30] lucperkins commented on #9453
@shruthibhaskar What do you get if you run `kubectl cluster-info`?

[2018-07-12 22:51] zacharysarah commented on #9026
@craigbox Is there anything prohibiting you from updating your own subscription?

At this point, unless there's an obvious fix that's trivial to implement, we're not willing to devote time or resources to customizing Blogger. Closing this issue.

[2018-07-12 22:51] #9026 closed

[2018-07-13 03:21] wangxy518 opened #9498 "Issue with k8s.io/docs/tutorials/clusters/apparmor/"
**This is a test,please ignore  this issue**

- [ ] Feature Request
- [X ] Bug Report

**Problem:**
In fact, this is just a test.
**Proposed Solution:**
So, just ignore this issue

**Page to Update:**
https://kubernetes.io/docs/tutorials/clusters/apparmor/

[2018-07-13 03:44] pradeep-k opened #9499 "PodPriority pre-emption not working on version 1.11"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
PodPriority pre-emption not working on version 1.11

Kubernetes Version: 1.11

Additional Information:
As per the documentation, pod priority and pre-emption is already enabled in version 1.11. I installed this version of the kubernetes using this [link](https://blog.tekspace.io/setup-kubernetes-cluster-with-ubuntu-16-04/) in

[2018-07-13 03:50] neolit123 commented on #9499
/kind bug
/cc @kubernetes/sig-scheduling-bugs

[2018-07-13 09:51] craigbox commented on #9026
[Cool URIs don't change.](https://www.w3.org/Provider/Style/URI)

I updated my own subscription because I work in this space and noticed there was a problem. **There was no indication that I would have to** - at the very least we could have posted something on Blogger saying "This feed isn't being updated any more, please resubscribe.

I don't know how many people have just been orphaned by this b

[2018-07-13 11:40] ravisantoshgudimetla commented on #9499
Thanks @pradeep-k. It could be an issue with priority resolution at admission plugin level. Do you have priority admission controller enabled at the api-server level?

If you use `--enable-admission-plugins` at api server level after https://github.com/kubernetes/kubernetes/pull/65739 has been applied, you should see priority resolution happening. We missed that during 1.11. This will go in 1.11.1

[2018-07-13 12:43] tigran-a opened #9505 "Issue with k8s.io/docs/concepts/workloads/controllers/deployment/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
In section "Rolling Back a Deployment"  of https://kubernetes.io/docs/concepts/workloads/controllers/deployment/

It seems that nginx-deployment-3066724191 should have 0 READY, as its pods are in a failed state
(and nginx-deployment-1564180365 should have 2 READY)

[code]
Looking at the Pods created, you will see that the 2 Pod

[2018-07-13 13:05] neolit123 commented on #9505
@kubernetes/sig-apps-bugs
@kubernetes/sig-cli-bugs

/kind bug

[2018-07-13 16:40] pradeep-k commented on #9499
Thanks for your response @ravisantoshgudimetla . I will try to pull the latest main branch or pull the changes locally, and repeat the experiment. However, I am not yet aware how can I deploy a locally built kube api-server in my cluster.  I am looking into static pod concept. In case, you have some guidance on how can I deploy the locally built kube api-server, please advise.

[2018-07-13 18:14] #1659 closed

[2018-07-13 18:29] zacharysarah commented on #9026
I added a FeedBurner URL pointing to `https://kubernetes.io/feed.xml`. Can you verify whether it's working?

[2018-07-14 00:15] pradeep-k commented on #9499
It worked with the latest codebase of main branch. Thank you for your prompt response.  You can close the issue.

Just a small note, in case this leads to somewhere. After I run kubectl create -f highpriority-pod.yaml, I immediately see following error, which later disappeared and high priority container was up, and one of replica of lower priority container went to pending state. which is expecte

[2018-07-14 05:15] #9498 closed

[2018-07-14 10:30] guptaAkshay06 opened #9515 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Page doesn't load properly

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2018-07-14 11:43] craigbox commented on #9026
31 new posts showed up in the old feed yesterday

(Hopefully the dates are OK going forward; I'll check in on this)

![image](https://user-images.githubusercontent.com/132510/42724051-69bf8eaa-8763-11e8-9306-21ef9d778e5f.png)

[2018-07-14 12:24] cormite opened #9517 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
This is a bug report found in the Kubernetes Tutorial

- [ X] Bug Report

**Problem:**
In module 1, step 3 of 3, in the terminal I typed: "kubectl cluster-info dump | less" and the terminal became unresponsive.

**Proposed Solution:**
I figured out the command by tab tab autocompletion. If the command is available I belive it should work, otherwise the option should be removed. Also, I believe an

[2018-07-14 13:42] sergeyklay commented on #9517
As I can see at my localhost it is not works as probable expected:
[code]

So:
[code]

[2018-07-14 15:35] #1510 closed

[2018-07-14 16:45] ksarkaridirect opened #9518 "Issue with k8s.io/docs/tasks/debug-application-cluster/troubleshooting/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2018-07-14 16:49] ksarkaridirect opened #9519 "server reboot"
Hi

Upon rebooting my master node on the kubernetes 17.03, i loose the weave interface and all corresponding bridge interfaces on the slave nodes.

Plus a range of other issues that might be related to the weave interface going down. The log suggests , the slave node cannot reach some service on the master node.

Any ideas on what might be causing this?

[2018-07-15 15:21] ajaeger commented on #9519
Please re-post your question to [Stack Overflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see mess

[2018-07-15 15:31] ravisantoshgudimetla commented on #9499
No problem @pradeep-k. Glad that it worked. I am closing this issue now.

Can you create another issue with reproduction steps for `kubectl get pods` problem that you faced?

[2018-07-15 15:31] ravisantoshgudimetla commented on #9499
/close

[2018-07-15 15:31] #9499 closed

[2018-07-15 21:55] todd-dsm opened #9523 "Update: Configure a Pod to Use a PersistentVolume for Storage"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
Opting for the minikube path, the contents of index.html are not displayed:

**Page to Update:**
https://kubernetes.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/

**Proposed Solution:**
This looks like a probable culprit:
[code]

**System Info:**
[code]

OS:
[code]

The backing details:
- Installed m

[2018-07-16 01:08] #7423 closed

[2018-07-16 04:51] simplytunde opened #9524 "Issue with k8s.io/docs/concepts/policy/pod-security-policy/"
**This is  a  request to provide better clarification to PSP doc page. **

- [x] Bug Report

**Problem:**
I believe the line "Usage of the root namespaces" is confusing. It can be better understood with "Usage of the host namespaces". Also discussed this with @liggitt

**Proposed Solution:**
Change the line to "Usage of the host namespaces"

**Page to Update:**
https://kubernetes.io/docs/concepts/

[2018-07-16 05:58] jowenn opened #9525 "ETCD configuration is ignored Issue with k8s.io/docs/setup/independent/high-availability/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
HA Bootstrapping with stacked control plane does not work, etcd options are ignored.

**Proposed Solution:**
The document says that the configuration has to look like:
**etcd:
  local:
    extraArgs:**
      listen-client-urls:
.....
I had to remove one level and change the configuration to:
**etcd:
    extraArgs:**
      liste

[2018-07-16 06:10] jowenn opened #9526 "ETCD joining does not work, Issue with k8s.io/docs/setup/independent/high-availability/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
I have followed the stacked control plane documentation, after joining the second etcd with
KUBECONFIG=/etc/kubernetes/admin.conf kubectl exec -n kube-system etcd-${CP0_HOSTNAME} -- etcdctl --ca-file /etc/kubernetes/pki/etcd/ca.crt --cert-file /etc/kubernetes/pki/etcd/peer.crt --key-file /etc/kubernetes/pki/etcd/peer.key --endp

[2018-07-16 06:56] gkaleta commented on #9401
Sorry for the late reply - i am running MacOS. I need to use capital D

[2018-07-16 12:14] shoffmeister opened #9529 "Issue with k8s.io/docs/tutorials/kubernetes-basics/explore/explore-intro/"
Using `Node.js` in the introduction to the `Node abstraction` makes the documentation unnecessarily complex. Specifically, https://kubernetes.io/docs/tutorials/kubernetes-basics/explore/explore-intro/ says

"For example, a Pod might include both the container with your Node.js app as well as a different container that feeds the data to be published by the Node.js webserver. The containers in a Pod

[2018-07-16 23:43] Huang-Wei opened #9534 "Issue with k8s.io/docs/reference/command-line-tools-reference/kubelet/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

In `Options` section, "--feature-gates mapStringBool" option was given as a "feature=true|false" format. While in other cli-ref pages, like [kube-apiserver](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/), it's like "feature=true|false (BETA - default=true)".

So I'm curious this is as expect

[2018-07-16 23:52] neolit123 commented on #9534
i would say that the missing state and default value for feature gates for the [kubelet](https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/) are an issue, in comparison to other CLIs ref. pages.

@kubernetes/sig-node-bugs
/kind bug

[2018-07-17 05:10] tengqm commented on #8101
/close

Looks like we don't have the pointers or the contents for these scripts any more.

[2018-07-17 05:10] #8101 closed

[2018-07-17 05:49] tengqm commented on #9518
Closing due to empty issue. Feel free to reopen with more specific issues to be solved.

[2018-07-17 05:49] #9518 closed

[2018-07-17 06:00] #9478 closed

[2018-07-17 06:01] tengqm commented on #9393
/close

[2018-07-17 06:01] #9393 closed

[2018-07-17 06:20] tengqm commented on #8953
@lucperkins It looks like hugo is confused by the "." in the blog name. It is treating the rest of the file name as an extension name. You may want to rename the file so that we don't have dots in it.

Similar problems exist for following posts:

- 2016-03-00-Building-Highly-Available-Applications-Using-Kubernetes-New-Multi-Zone-Clusters-A.K.A-Ubernetes-Lite.md
- 2016-03-00-Kubernetes-1.2-And-Simp

[2018-07-17 11:02] 01eg-art opened #9537 "Issue with k8s.io/docs/concepts/workloads/pods/pod-lifecycle/ Six or three possible fields?"
https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-conditions

So there are **six** or **three** possible fields?

[2018-07-17 12:31] fjudith opened #9538 "Issue with k8s.io/docs/reference/command-line-tools-reference/kubelet/"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**

`--rkt-api-endpoint` and `--rkt-path` arguments are documented but are missing in Kubelet v1.11.0.

The embeded documentation shows that `rkt` is a deprecated argument value for `--container-runtime`.

[code]

**Proposed Solution:**

### Option 1
1. Remove references to `--rkt-api-endpoint` and `--rkt-path` arguments in the doc

[2018-07-17 12:55] #9117 closed

[2018-07-17 13:32] neolit123 commented on #8485
the HA document was moved and refactored.
for now it's here https://kubernetes.io/docs/setup/independent/high-availability/, but it will move again because of the ongoing kubeadm docs restructure.
closing.

/close

[2018-07-17 13:32] #8485 closed

[2018-07-17 13:36] neolit123 commented on #9034
the document was reformatted https://kubernetes.io/docs/setup/independent/high-availability/
closing this as the old issues no longer apply.

/close

[2018-07-17 13:36] #9034 closed

[2018-07-18 02:35] msylinux opened #9554 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2018-07-18 03:33] msylinux commented on #9554
kubernetes 实验

[2018-07-18 05:11] sinoscnjjs opened #9555 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2018-07-18 14:01] rhugga opened #9563 "Issue with k8s.io/docs/tasks/administer-cluster/setup-ha-etcd-with-kubeadm/"
**This is a...**
- [ ] Feature Request
- [X ] Bug Report

**Problem:**

This procedure generates and etcd config that only listends on localhost and thus you simply end up with 3 standalone etcd clusters.

`apiVersion: v1
kind: Pod
metadata:
  annotations:
    scheduler.alpha.kubernetes.io/critical-pod: ""
  creationTimestamp: null
  labels:
    component: etcd
    tier: control-plane
  name: etcd

[2018-07-18 16:59] franklinyu commented on #729
/remove-lifecycle stale

[2018-07-18 17:00] franklinyu commented on #729
/remove-lifecycle rotten

[2018-07-18 17:20] neolit123 commented on #9563
@kubernetes/sig-cluster-lifecycle-bugs

[2018-07-18 17:36] dlsniper commented on #729
I'd like to stop being spammed with these messages, so I'll close the issue. It's pointless anyway.

/lifecycle rotten
/remove-lifecycle stale

[2018-07-18 17:36] #729 closed

[2018-07-18 19:07] tonglil commented on #4460
I would like to! Give me the time until it rots again.

[2018-07-18 20:22] neolit123 commented on #9538
@kubernetes/sig-node-bugs

[2018-07-18 20:22] #9524 closed

[2018-07-18 20:30] neolit123 commented on #7893
the issue seems outdated in regard to:
https://kubernetes.io/docs/setup/independent/high-availability
the document received updates in 1.11.

/close

[2018-07-18 20:30] #7893 closed

[2018-07-18 20:33] neolit123 commented on #1733
the HA and HA-ETC documentation received an overhaul in 1.11:
https://kubernetes.io/docs/setup/independent/high-availability/
https://kubernetes.io/docs/tasks/administer-cluster/setup-ha-etcd-with-kubeadm/

all the new edits were the result of combined SIG efforts and based on existing proposals for improvements.

closing until further notice.
/close

[2018-07-18 20:33] #1733 closed

[2018-07-18 20:34] neolit123 commented on #7463
the HA and HA-ETC documentation received an overhaul in 1.11:
https://kubernetes.io/docs/setup/independent/high-availability/
https://kubernetes.io/docs/tasks/administer-cluster/setup-ha-etcd-with-kubeadm/

all the new edits were the result of combined SIG efforts and based on existing proposals for improvements.

closing until further notice.
/close

[2018-07-18 20:34] #7463 closed

[2018-07-18 20:35] neolit123 commented on #8710
the HA and HA-ETC documentation received an overhaul in 1.11:
https://kubernetes.io/docs/setup/independent/high-availability/
https://kubernetes.io/docs/tasks/administer-cluster/setup-ha-etcd-with-kubeadm/

all the new edits were the result of combined SIG efforts and based on existing proposals for improvements.

closing until further notice.
/close

[2018-07-18 20:35] #8710 closed

[2018-07-18 20:36] neolit123 commented on #9060
the HA and HA-ETC documentation received an overhaul in 1.11:
https://kubernetes.io/docs/setup/independent/high-availability/
https://kubernetes.io/docs/tasks/administer-cluster/setup-ha-etcd-with-kubeadm/

all the new edits were the result of combined SIG efforts and based on existing proposals for improvements.

closing until further notice.
/close

[2018-07-18 20:36] #9060 closed

[2018-07-18 20:37] neolit123 commented on #9220
@kubernetes/sig-cluster-lifecycle-bugs

[2018-07-18 20:46] neolit123 commented on #8218
/remove-sig cluster-lifecycle
/sig node

[2018-07-18 20:48] neolit123 commented on #8838
https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/
was overhauled in 1.11.

/close

[2018-07-18 20:48] #8838 closed

[2018-07-18 20:57] neolit123 commented on #9312
this is more of an issue for the `kubernetes/kubeadm` repository and not the `kubernetes/website`.
please, re-open again there if you feel like it.

also, have you tried updating from 1.11.0 to 1.11.1 and did that work?

/close

[2018-07-18 20:57] #9312 closed

[2018-07-18 21:59] neolit123 commented on #9220
`MasterConfiguration` is a valid type for `"kubeadm.k8s.io/v1alpha2"`.

i just tried this with k8s/kubernetes version 1.11.0 and i cannot reproduce the issue.
please, try to reset (e.g. `sudo kubeadm reset`) your cluster the tutorial again.
also updating to 1.11.1 is a good idea.

if it's still not working for you, file an issue against the `kubernetes/kubeadm` repo as this is not a docs issue.

/

[2018-07-18 21:59] #9220 closed

[2018-07-18 23:37] #9470 closed

[2018-07-19 01:15] #5822 closed

[2018-07-19 01:21] #9554 closed

[2018-07-19 01:21] lucperkins commented on #9538
/assign

[2018-07-19 01:29] #9555 closed

[2018-07-19 01:30] lucperkins commented on #9529
@shoffmeister Feel free to submit a pull request with this suggested change and we'll take a look!

[2018-07-19 01:41] ahmetb opened #9569 "resource-quotas.md YAML inside bullet point not rendering correctly"
- [ ] Feature Request
- [x] Bug Report

**Problem:**

YAML inside bullet point is not rendering correctly at https://kubernetes.io/docs/concepts/policy/resource-quotas/#resource-quota-per-priorityclass

![image](https://user-images.githubusercontent.com/159209/42916400-e20690a8-8ab9-11e8-807e-b3f8a432d025.png)

Source code, today: https://github.com/kubernetes/website/blob/bac30c0774057562f198402c

[2018-07-19 01:47] ahmetb opened #9570 "Concept of "hard" quotas not explained in Resource Quotas doc"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

In [this page](https://kubernetes.io/docs/concepts/policy/resource-quotas/) I keep seeing this field named `hard:` (under `spec:`) in the YAML snippets, I'm guessing it means "hard limit".

But I don't see any `soft:` –or any documentation paragraph explaining "hard". It's just in the YAML snippets.

**Proposed Solution:** It

[2018-07-19 02:49] chenyb4 commented on #9563
@neolit123 I don't understand this bug what's been?

setup-ha-etcd-with-kubeadm  url link is:
https://kubernetes.io/docs/setup/independent/setup-ha-etcd-with-kubeadm/

[2018-07-19 10:43] phyber opened #9581 "Installing Kubeadm documentation is 404"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:** The "Installing Kubeadm" page linked from https://kubernetes.io/docs/setup/ is currently 404. The setup page links to https://kubernetes.io/docs/setup/independent/install-kubeadm/ which redirects to https://kubernetes.io/docs/tasks/tools/install-kubeadm/, which is 404.

This appears to be a recent issue, I only noticed it due t

[2018-07-19 10:54] phyber commented on #9581
The page does still exist in the source at what appears to be the old location. https://github.com/kubernetes/website/blob/master/content/en/docs/setup/independent/install-kubeadm.md

[2018-07-19 12:10] neolit123 commented on #9581
related PR was sent here:
https://github.com/kubernetes/website/pull/9573

[2018-07-19 12:11] phyber commented on #9581
Thanks, I did search before submitting this but somehow managed to miss that PR.

[2018-07-19 13:16] chuckha commented on #9563
@rhugga It looks like you may have missed a step, can you give us exact details of the steps you followed so we can reproduce?

[2018-07-19 13:18] chuckha commented on #9405
maybe ssh-agent isn't the best way to go. The other ways require so many hoops to jump through. I'll have to think about how to improve this. Would love ideas.

[2018-07-19 15:10] csskuber commented on #9534
related PR: #9583

[2018-07-19 15:31] csskuber commented on #9505
related PR #9584

[2018-07-19 16:12] jonpulsifer commented on #8645
Is there anything left to do here?

[2018-07-19 16:53] ahmetb opened #9585 "LimitRange with type:Pod is not documented"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:** LimitRange documentation does not explain `type: Pod`. Only shows how to use `type: Container`.

I realized from OpenShift's documentation that `LimitRange` with `type: Pod` is a thing. https://docs.openshift.com/enterprise/3.2/dev_guide/compute_resources.html#dev-viewing-limit-ranges But I cannot find this in official Kubernete

[2018-07-19 16:53] ahmetb commented on #9585
Same goes for page. https://kubernetes.io/docs/tasks/administer-cluster/manage-resources/memory-default-namespace/

[2018-07-19 19:24] neolit123 commented on #9405
a potential improvement here would be to write a short paragraph on why is ssh-agent used (e.g. the alternatives are more demanding), plus explain any missing ssh related steps.

i think the user is having an issue with the:

pre-requisite. possibly link to an external tutorial about setting up ssh.

[2018-07-19 21:49] pgoodwin opened #9588 "I wish that the output of these commands was specified"
It would be useful to have the format of the output for the commands specified along with the commands themselves. Not only would that help me to find the command that will output the information I want. It would also allow me to write code that parses the output without having to set up a cluster to run experiments on.

[2018-07-20 01:42] #7265 closed

[2018-07-20 01:42] #7281 closed

[2018-07-20 01:50] #8645 closed

[2018-07-20 02:43] #7418 closed

[2018-07-20 02:43] #7421 closed

[2018-07-20 07:33] fromfate opened #9590 "Issue with k8s.io/cn/docs/tutorials/kubernetes-basics/cluster-intro/"
**This is a...**

- [x] Feature Request
- [x] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2018-07-20 12:41] neolit123 commented on #9590
opened by mistake?
/close

[2018-07-20 12:41] #9590 closed

[2018-07-20 14:46] ocofaigh opened #9594 "Issue with k8s.io/docs/setup/independent/high-availability/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The kubeadm-config.yaml example in the documentation has the exact kubernetes version in the example. The example shows: `kubernetesVersion: v1.11.0`
v1.11.1 is now the latest. Does the the yaml have to align? If so then there should be an instruction to modify this value in the yaml.

**Proposed Solution:**
If the value in the

[2018-07-20 16:59] ocofaigh commented on #9594
@neolit123 Setting `kubernetesVersion: v1.11.0` in the kubeadm-config.yaml does have implictiuons here. It means the kubernetes server images that are pulled are version 1.11.0:

[code]
So in order to install v1.11.1 server version, you need to set `kubernetesVersion: v1.11.` in the yaml. This needs to be documented. Can you re-open?

[2018-07-20 17:43] ocofaigh commented on #9594
/reopen

[2018-07-20 19:13] timothysc commented on #9526
/assign @detiber @chuckha

[2018-07-20 19:41] timothysc commented on #9563
/assign @chuckha

[2018-07-20 19:42] timothysc commented on #9525
/assign @detiber @rdodev @chuckha

[2018-07-20 19:43] timothysc commented on #9405
/assign @chuckha @detiber @rdodev

[2018-07-20 19:52] neolit123 commented on #9594
@ocofaigh happy to see you submit a PR for this.
thanks.

[2018-07-20 20:12] #9283 closed

[2018-07-20 23:52] sunnyg522 opened #9602 "Issue with k8s.io/docs/tutorials/kubernetes-basics/scale/scale-interactive/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

when the i scaled down the number of instances it still show 4 instances

[2018-07-21 00:43] guptavj commented on #7413
/reopen

[2018-07-21 01:06] #2033 closed

[2018-07-21 02:17] #8029 closed

[2018-07-21 23:59] Ndoffene opened #9604 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2018-07-22 07:14] vedam opened #9605 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
**Problem in Step 3.**

- [ ] Feature Request
- [ X] Bug Report

**Problem:**
control-C doesn't work in the console

**Environment:**
MacOS, Chrome

**Page to Update:**
https://kubernetes.io/...

[2018-07-22 21:56] itowlson opened #9606 "JSONPath example is invalid on Windows"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

The page https://kubernetes.io/docs/reference/kubectl/jsonpath/ gives the following as an example of JSONPath usage:

[code]

When I paste this into a Windows command prompt, I get the error `error: error parsing jsonpath '{range, unclosed action`.

**Proposed Solution:**

On Windows, you need to use double quotes around JSONP

[2018-07-23 05:40] ylhyh opened #9608 "Issue with k8s.io/docs/getting-started-guides/windows/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Cannot down ovn_cni.exe from https://cloudbase.it/downloads/ovn_cni.exe, file is missing.

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2018-07-23 07:59] kinkerl opened #9610 "Issue with k8s.io/docs/getting-started-guides/ubuntu/local/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The tutorial does not work for ubuntu local on a clean 18.04 installation. The wizzard `conjure-up kubernetes` freezes

**Proposed Solution:**
dont know :(

**Page to Update:**
https://kubernetes.io/...

[2018-07-23 09:13] johanot opened #9612 "Issue with k8s.io/docs/reference/command-line-tools-reference/kube-scheduler/"
**This is a...**
- [ ] Feature Request
- [X] Bug Report

**Problem:**
https://kubernetes.io/docs/reference/command-line-tools-reference/kube-scheduler/#options

A lot of cmdline options on kube-scheduler has been listed as DEPRECATED, but what to use instead?
`--kubeconfig` for example? Is it prefered to configure the scheduler by passing a file to `--config`?

`--port` is deprecated as well. The

[2018-07-23 10:09] harsheno8 opened #9614 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The interactive tutorial page shows a blank gray box. Tried it on safari and chrome version latest to current date.

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2018-07-23 10:20] ocofaigh commented on #9594
PR submitted: https://github.com/kubernetes/website/pull/9613

[2018-07-23 10:30] desdic opened #9615 "Issue with k8s.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-11/"
**This is a...**
- [x] Bug Report

**Problem:**
Documentation says that --feature-flags=CoreDNS=false should be applied if one wishes to keep kube-dns. But the option available is --feature-gates=CoreDNS=false

**Proposed Solution:**
Fix documentation

**Page to Update:**
k8s.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-11/

1.11.1

[2018-07-23 11:12] mohitkumarsharmaflux7 opened #9617 "Issue with k8s.io/docs/concepts/services-networking/connect-applications-service/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/
If it isn’t running, you can enable it. in DNS section is not working.

**Proposed Solution:**

link should work to show how to enable kube-dns.
**Page to Update:**
https://kubernetes.io/...

[2018-07-23 11:53] neolit123 commented on #9615
@desdic
thanks for the report.

/assign

[2018-07-23 12:56] mschuurmans opened #9620 "typo in k8s.io/docs/tasks/administer-cluster/highly-available-master/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
In the image describing the cluster there is a typo: "cluser autoscaler".

**Proposed Solution:**
Change to "cluster autoscaler"

**Page to Update:**
https://kubernetes.io/docs/tasks/administer-cluster/highly-available-master/

[2018-07-23 14:01] neolit123 commented on #9620
@mschuurmans
hi, i cannot locate the `cluser autoscaler` typo in https://kubernetes.io/docs/tasks/administer-cluster/highly-available-master/
or related documents.

[2018-07-23 14:02] neolit123 commented on #9620
/priority awaiting-more-evidence

[2018-07-23 17:22] BGnoinski opened #9621 "Issue with k8s.io/docs/setup/independent/high-availability/"
**This is a...**

- [x] Bug Report

**Problem:**

Link in below sentence results in 404.

Follow [these instructions](https://kubernetes.io/docs/tasks/administer-cluster/setup-ha-etcd-with-kubeadm/) to set up the etcd cluster.

**Proposed Solution:**

Link to correct page [this one?](https://kubernetes.io/docs/setup/independent/setup-ha-etcd-with-kubeadm/)

**Page to Update:**
https://k8s.io/docs/

[2018-07-23 18:45] rcorre opened #9622 "Aggregation docs don't explain webhooks"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

The [aggregation docs](https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/custom-resources/#api-server-aggregation) mention "Webooks" several times when comparing CRDs to API server aggregation. For example, the table comparing the two has these rows:

| Feature | Description | CRDs |
| ---------- | --- | ---

[2018-07-23 20:50] neolit123 commented on #9621
thanks for the report.

/sig cluster-lifecycle
/kind bug

[2018-07-23 21:12] janetkuo commented on #6449
/remove-lifecycle stale

@msau42 is this feature documented?

[2018-07-23 21:31] hexecute commented on #7517
The instructions do exist on the page, though they're a little nested and hard to get to.

I'm imagining that this is a common user flow for people testing out Kubernetes.

# Install Kubectl on their local machine
# Run a Kubectl command like `kubectl version`

The main problem is that the installation instructions for each OS say to follow these two steps. In the section "Check the kubectl config

[2018-07-23 23:46] ahmetb opened #9628 "Docs don't show when Cron job graduated beta or GA"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:** Other concept pages like statefulsets show status of the feature:

![image](https://user-images.githubusercontent.com/159209/43108686-f17985cc-8e97-11e8-8e49-7a6d4c8ab449.png)

But cronjob page doesn't: https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/

**Proposed Solution:** Add status

**Page to Update:** h

[2018-07-24 13:21] pkruk opened #9630 "Issue with k8s.io/docs/tasks/tools/install-kubectl/"
**This is a Bug Report**

**Problem:**
Hi!
Link to apt repository with kubernetes is not working for me:

Err:12 http://apt.kubernetes.io kubernetes-xenial Release
  500  Bad redirection (path)

on ubuntu-xenial

**Page to Update:**
https://kubernetes.io/docs/tasks/tools/install-kubectl/

[2018-07-24 22:09] janetkuo commented on #8049
/remove-lifecycle stale

[2018-07-25 05:01] dankohn opened #9634 "Host third-part assets on kubernetes.io for better Chinese access"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**

After 6 months of effort, kubernetes.io is being mirrored inside the Great Firewall of China via an Alibaba CDN. This will dramatically speed access to the site for those in China. However, to get the performance boost, we need to fix up some third-party assets that continue to load very slowly. This is from CNCF's Apica monit

[2018-07-25 05:09] dankohn opened #9635 "Replace Google search with Baidu search in China"
**This is a...**

- [ ] Feature Request
- [ X] Bug Report

**Problem:**

Google site search doesn't work in China. For users connecting from China, we should add JavaScript that replaces the Google Site Search with Baidu Site Search.

**Proposed Solution:**

We're using the following JavaScript to replace the YouTube video on https://events.linuxfoundation.cn/events/kubecon-cloudnativecon-china-20

[2018-07-25 05:11] dankohn commented on #9635
@donaldliu Could you please paste in search code that enables Baidu site search for kubernetes.cn. See https://www.webnots.com/get-baidu-search-box-code/

It may take Baidu a little time to index kubernetes.cn.

[2018-07-25 06:36] donaldliu commented on #9635
Taking option "Without registering for webmaster tools account" and taking option1 is for Simple Baidu search box with an image, box and a search button.  Basically we are at:
- https://zn.baidu.com/cse/wiki/index?category_id=25

Putting kubernetes.io as the domain to search, search code looks like:
`<form target="_blank" action="http://zhannei.baidu.com/cse/site">
<input type="text" name="q" size

[2018-07-25 06:58] donaldliu commented on #9635
Other search engine available, e.g.: with HTTPS, like SOGOU.COM:
- https://help.sogou.com/code.html?v=1

Putting kubernetes.io in generate the below search code:
[code]
(http://www.sogou.com/web can be replaced with https://www.sogou.com/web)
Testing with "rbac" returns a link like:
- https://www.sogou.com/web?query=rbac&insite=kubernetes.io&insite2=kubernetes.io&sogou_submit=%E6%90%9C%E7%B4%A2&ra

[2018-07-25 14:22] msrinivascharan opened #9639 "Issue with k8s.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/"
This is a bug report

Unable to run Wordpress app on Kubernetes Minikube singlenode cluster using instructions available at https://kubernetes.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/

**Page to Update:**
https://kubernetes.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/

[2018-07-25 14:58] fiddyspence commented on #8295
+1.  The only comment I have is that port 85432 isn't a valid port number in your example.

[2018-07-25 16:03] kbhawkey opened #9640 "clean-up auto-generated spf13/cobra text from toc"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The auto-generated cobra text is added to the page toc.
Example:
command-line-tools-reference/federation-apiserver/#auto-generated-by-spf13-cobra-on-25-mar-2018

**Proposed Solution:**
Possibly add the auto-generated text to the footer of the page, or a separate div, or just remove the header formatting for this text on the pag

[2018-07-25 18:58] #7462 closed

[2018-07-25 21:06] prateekgogia commented on #3956
Seeing the similar issue, adding more details to this issue -

minikube version: **v0.28.1**

I tried to run minikube in two modes - with bootstrapper flag and without this flag `--bootstrapper=localkube `
In localkube mode this doesn't work, CSR gets approved but is never issued, this is required to run in Travis. Without the localkube mode it works fine, CSR is approved and is issued. See comman

[2018-07-25 21:55] scottslowe opened #9641 "Issue with k8s.io/docs/setup/independent/high-availability"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The instructions indicate that users should bootstrap all three control plane nodes before installing a pod network (the placement of the pod network instructions and the wording of tasks to perform "after bootstrapping control plane" both imply this can be done last), but I have found it necessary to install a pod network _aft

[2018-07-25 23:47] sarath7112 opened #9642 "Issue with k8s.io/docs/setup/independent/high-availability/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Getting in to issues while following the kubernetes HA cluster creation documentation. Creating the cluster in CentOS 7.5.1804.
kube* versions. v1.11.1

The cluster initialization command is running and its giving the following error.
[kubelet-check] The HTTP call equal to 'curl -sSL http://localhost:10248/healthz' failed with

[2018-07-26 00:08] neolit123 commented on #9642
/priority awaiting-more-evidence

is something using the 10252 port of your localhost?

[2018-07-26 00:08] neolit123 commented on #9642
/sig cluster-lifecycle

[2018-07-26 00:54] sarath7112 commented on #9642
I dont think some other processes are running on pot 10252. Before starting with the cluster initialization, i had verified for any processes consuming that port, and nothing was there.

Please find the below content from kubeadm-config.yaml

apiVersion: kubeadm.k8s.io/v1alpha2
kind: MasterConfiguration
kubernetesVersion: v1.11.0
apiServerCertSANs:
- "ELB_URL"
api:
    controlPlaneEndpoint: "ELB_U

[2018-07-26 01:30] neolit123 commented on #9642
can you try a different pod network plugin - e.g. weave or flannel?

[2018-07-26 02:29] neolit123 commented on #9641
this seems logical to me at the same time is this not by design?
/cc @kubernetes/sig-cluster-lifecycle-bugs

[2018-07-26 02:36] tengqm commented on #9639
Any details you want to share?
Do you believe it is a documentation issue?

[2018-07-26 02:46] sarath7112 commented on #9642
Sorry for the confusion happened, Calico is installed for an independent cluster installation, which is up and running. HA cluster configuration with the default add-ons are running in to issues. I haven't added calico explicitly.

[2018-07-26 11:35] attardi opened #9645 "Issue with k8s.io/docs/tasks/tools/install-kubectl/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Installation on Windows 10 fails with this message:

Install-Script -Name install-kubectl -Scope CurrentUser -Force install-kubectl.ps1
Install-Script : A positional parameter cannot be found that accepts argument 'install-kubectl.ps1'.
At line:1 char:1
+ Install-Script -Name install-kubectl -Scope CurrentUser -Force instal ...

[2018-07-26 12:41] rcorre opened #9649 "Webhook API type not documented"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.11/#webhook-v1beta1-admissionregistration-k8s-io has a hyperlink to the `Webhook` type for the `webhooks` property of `MutatingWebhookConfiguration v1beta1 admissionregistration.k8s.io`.

This hyperlink doesn't take me anywhere.

**Proposed Solution:**

The `Webho

[2018-07-26 12:41] rcorre commented on #9649
The link points at https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.11/#webhook-v1beta1-admissionregistration-k8s-io

[2018-07-26 14:36] ronanquillevere opened #9650 "Broken link (404) inside page configure-service-account"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Broken link (404 error) inside page docs/tasks/configure-pod-container/configure-service-account

Inside following sentence "You may use authorization plugins to set permissions on service accounts." The link to "set permissions..." is broken

**Proposed Solution:**
Change link to https://kubernetes.io/docs/reference/access-aut

[2018-07-26 15:53] #7686 closed

[2018-07-26 15:58] neolit123 commented on #9650
/sig cli
/kind bug

[2018-07-26 15:58] neolit123 commented on #9645
/sig windows
/sig cli
/kind bug

[2018-07-26 17:39] scottrigby commented on #84
Outcome of #747 🎉 https://github.com/kubernetes/community/pull/2192

[2018-07-26 18:20] #6116 closed

[2018-07-27 01:00] #9306 closed

[2018-07-27 01:06] chenyb4 commented on #9650
/assign

[2018-07-27 01:14] tengqm commented on #9649
/triaged
/assign

[2018-07-27 02:22] dixudx commented on #9641
Correct. All three control plane are managed by kubelet through manifest files. These three pods are running as static pods.
For network pods, we are running them as regular pods. They should be created after control planes are ready.

[2018-07-27 02:47] danielgelling opened #9654 "Buttons on /docs/home not working in Safari 11.1.2"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
Buttons on [kubernetes.io/docs/home](https://kubernetes.io/docs/home) are not working in Safari 11.1.2.

Clicking on a button (eg: Cluster Operator) generates the following error in the JavaScript console:

[code]

**Proposed Solution:**
Fix the JavaScript code that handles click events on these buttons.

**Page to Update:**
htt

[2018-07-27 03:09] neolit123 commented on #9641
if the instructions are correct then something is wrong on the user side.
@scottslowe which pod network plugin are you using and does the same happen with a different one?

[2018-07-27 08:38] KlavsKlavsen opened #9655 "Issue with k8s.io/docs/setup/independent/setup-ha-etcd-with-kubeadm/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
You say one can continue with "external etcd" approach to HA k8 cluster, but that fails with:
[preflight] Some fatal errors occurred:
        [ERROR FileAvailable--etc-kubernetes-manifests-etcd.yaml]: /etc/kubernetes/manifests/etcd.yaml already exists
        [ERROR Port-10250]: Port 10250 is in use

and kubelet is obviously al

[2018-07-27 11:37] tommyknows commented on #9612
Agreed.
The kubelet allows the `--config` flag, and there is a [page](https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config-file/) the docs that describes this file.

The config file reference doc you attached does not show the json-names, but [this](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/componentconfig/v1alpha1/types.go#L75) does.

I think this needs to be ass

[2018-07-27 12:34] neolit123 commented on #9655
/cc @kubernetes/sig-cluster-lifecycle-bugs

[2018-07-27 14:56] fluggo opened #9656 "I wish / would link to other versions of the docs"
I wish / would link to other versions of the docs

[2018-07-27 15:53] lucperkins commented on #9656
Could you explain a little bit more what you mean?

[2018-07-27 22:18] fluggo commented on #9656
I was on the 1_4 versions of the docs, and I had to make my way back to the main website to find the 1.11 docs. There wasn't even an indication I wasn't looking at the latest version of the docs. I just needed a way to find a different or more recent version of the docs.

[2018-07-27 23:43] TheFarmer1 opened #9661 "Issue with k8s.io/docs/concepts/workloads/pods/pod/"
**This is a...**
- [ ] Feature Request
- [X ] Bug Report

**Problem:**
The "Termination of Pods" section doesn't seem to match what I'm seeing.
1. Step 3 - in K8s dashboard, the pod shows as "Running" until it is actually being killed (like the SIGKILL fired is what changes the status).
2. If preStop is defined and executes, it seems to ignore the grace period setting and the pod goes away immedia

[2018-07-28 18:55] charleslbryant opened #9665 "Issue with k8s.io/docs/concepts/workloads/pods/pod/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Not a big deal, but in Durability of pods (or lack thereof), 2nd paragraph, 2nd line there is a orphan parenthesis.

**Proposed Solution:**
Remove the parenthisis.

**Page to Update:**
https://kubernetes.io/docs/concepts/workloads/pods/pod/#durability-of-pods-or-lack-thereof

[2018-07-30 07:47] yangzhih opened #9672 "Issue with k8s.io/docs/tutorials/kubernetes-basics/explore/explore-interactive/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2018-07-30 08:07] attardi opened #9674 "Issue with k8s.io/docs/tasks/access-application-cluster/port-forward-access-application-cluster/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
$ kubectl create -f https://k8s.io/docs/tutorials/stateless-application/guestbook/redis-master-deployment.yaml
error: unable to read URL "https://k8s.io/docs/tutorials/stateless-application/guestbook/redis-master-deployment.yaml", server reported 404 Not Found, status code=404

**Proposed Solution:**
Correct the URL.

**Page to

[2018-07-30 13:08] CaoShuFeng commented on #9635
[bing](https://www.bing.com) is an alternative.
Baidu is also good.

[2018-07-30 13:50] CaoShuFeng commented on #9622
Hi.

https://github.com/kubernetes/website/pull/9676

[2018-07-30 14:03] CaoShuFeng commented on #9650
/close

Closed by #9657

[2018-07-30 14:03] #9650 closed

[2018-07-30 14:51] #4049 closed

[2018-07-30 15:15] dankohn commented on #9635
Bing is a nice alternative because they have a UIs in many languages
besides Chinese.

https://blogs.bing.com/2017-05/build-your-own-web-search-service-with-bing-custom-search

--
Dan Kohn <dan@linuxfoundation.org>
Executive Director, Cloud Native Computing Foundation https://www.cncf.io
+1-415-233-1000 https://www.dankohn.com

On Mon, Jul 30, 2018 at 9:08 AM, CaoShuFeng <notifications@github.com>

[2018-07-30 15:49] ayushs089 opened #9677 "Issue with k8s.io/docs/setup/independent/install-kubeadm/ Urgent attention please"
![ci_cd-2018-07-30-21-17-05](https://user-images.githubusercontent.com/22883163/43408120-2205117e-943e-11e8-89da-0bd674aff980.png)

why it is showing kubeadm package is not available

[2018-07-30 16:31] neolit123 commented on #9677
@kubernetes/sig-cluster-lifecycle-bugs

[2018-07-30 17:51] #9147 closed

[2018-07-30 18:58] lucperkins commented on #9606
@itowlson Could you possibly submit a PR with these suggested changes?

[2018-07-30 21:08] monomosc commented on #9677
Got this too. Solved by removing
[code]
from in /etc/yum.repos.d/kubernetes.repo

and running ```yum clean metadata```

[2018-07-30 23:03] itowlson commented on #9606
@lucperkins PR submitted - #9679

[2018-07-31 03:00] ahmetb opened #9682 ""Mixed insecure content" warning from netlify"
Just got this email, pointing to https://app.netlify.com/sites/kubernetes-io-master-staging/deploys/5b5faeb573f2cf5636fa29fd

[code]

[2018-07-31 15:15] #5774 closed

[2018-07-31 15:16] DazWilkin opened #9687 "[docs] Deployment object kubectl examples consistently reference wrong API version"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Deployment kubectl examples consistently reference incorrect API versions

https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.11/#deployment-v1-apps

Page (different versions always) correctly references "v1 apps"
Sample incorrectly references "apiVersion: apps/v1beta1"

1.10:
v1 apps
apps/v1beta1

1.9
v1 apps
app

[2018-07-31 15:34] joshiggins opened #9688 "Issue with k8s.io/docs/tasks/administer-cluster/safely-drain-node/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

Documentation for safely draining node should highlight behaviour when `TaintNodesByCondition=true` is set on the scheduler as per https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/

If this is set, when you drain node without tainting it first, the pods can be immediately rescheduled on the same node you

[2018-07-31 16:51] #9615 closed

[2018-07-31 16:52] #9621 closed

[2018-07-31 20:06] timothysc opened #9692 "Create a page to outline installation + configuration instructions for different CRIs"
**This is a...**

- [X] Feature Request
- [ ] Bug Report

**Problem:**
Currently we outline that k8s supports multiple CRI's, however there are not detailed instructions how to obtain those CRIs and properly configure and use them with kubeadm.

**Proposed Solution:**
Create a new page that outlines CRI integration details.
- Where to find the version for a release
- How to obtain and install the

[2018-07-31 20:07] timothysc commented on #9692
/assign @Random-Liu @mrunalp
/cc @kubernetes/sig-node-feature-requests @derekwaynecarr @dchen1107

[2018-07-31 22:10] #9622 closed

[2018-07-31 22:11] #9606 closed

[2018-07-31 22:12] #9674 closed

[2018-07-31 22:13] #9665 closed

[2018-07-31 22:30] jberkus commented on #7879
New URL is at: https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation/

The page is still out of date.

/remove-lifecycle rotten

[2018-08-01 02:00] interma commented on #9417
Oh, this PR has fixed it:
https://github.com/kubernetes/website/pull/9593

Close this issue.

[2018-08-01 02:00] #9417 closed

[2018-08-01 04:36] neolit123 commented on #9677
@ayushs089
you are not installing a pod network plugin:
https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#pod-network

try weavenet:
[code]
but this repository is not a user support forum, you can try asking on the kubernetes slack instead:
http://slack.k8s.io/

or at stackoverflow:
https://stackoverflow.com/questions/tagged/kubernetes

/close

[2018-08-01 04:36] #9677 closed

[2018-08-01 05:30] AjayKharde opened #9699 "Issue with k8s.io/docs/tutorials/kubernetes-basics/expose/expose-interactive/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

I am getting below error while exposing service.

$ curl $(minikube ip):$NODE_PORT
curl: (7) Failed to connect to 192.168.99.100 port 32115: Connection refused

Kubernetes Version: -

{Major:"1", Minor:"10"
Please help.

Kind Regards,
Ajay K.

[2018-08-01 11:44] mmurphy commented on #8342
Hi, is this still an issue? or has it been addressed by https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios/pull/7

The interactive tutorial at https://k8s.io/docs/tutorials/kubernetes-basics/scale-interactive/ works for me

[2018-08-01 19:59] chenopis opened #9710 "Refactor Picking the Right Solution"
- [ ] Feature Request
- [x] Bug Report

**Problem:**
[Picking the Right Solution](https://kubernetes.io/docs/setup/pick-right-solution/) is a highly trafficked landing page and critical step in the onboarding experience of users new to Kubernetes and its documentation. It outlines various types of Kubernetes offerings, including local machine, hosted, turnkey, on-premises, and custom solutions. It

[2018-08-01 22:47] kanwarb opened #9713 "Issue with k8s.io/docs/tasks/administer-cluster/access-cluster-api/"
Using the

**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**
**Without kubectl proxy**
The TOKEN env using below does not work

TOKEN=$(kubectl describe secret $(kubectl get secrets | grep default | cut -f1 -d ' ') | grep -E '^token' | cut -f2 -d':' | tr -d '\t')

**Proposed Solution:**
Use the TOKEN =  "value of your token from your kubeconf  works"

**Page to Update:**
http

[2018-08-02 05:30] bhavin192 opened #9719 "Misaligned pre-footer (Create an issue, Edit this page, commit history section)"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
The pre footer is not aligned correctly, it should be in the centre or at least have some spacing from left and bottom.

![screenshot from 2018-08-02 10-56-18](https://user-images.githubusercontent.com/5154532/43564176-328bde68-9643-11e8-9fe9-fcb9ebde032a.png)

**Proposed Solution:**
To have some proper CSS which is missing?

*

[2018-08-02 06:36] MattMS opened #9721 "Case Study logos on home page are incorrect"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

The ING case study on the home page has the Wikimedia image.

**Proposed Solution:**

Change `background-image` value on selector `#home #caseStudiesWrapper div:nth-child(4)`.

**Page to Update:**
https://kubernetes.io/

Browser: Firefox Developer Edition 62.0b13

[2018-08-02 06:59] akshay196 commented on #9719
Some pages like [this](https://kubernetes.io/docs/user-journeys/users/application-developer/foundational/) have proper alignment on left for pre-footer section. I think we can apply same change to other pages where pre-footer is not aligned. I would like to be work on this.

[2018-08-02 14:24] akshay196 opened #9725 "Navbar on home page should not have transparent background while scrolling down"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
![screenshot from 2018-08-02 19-32-51](https://user-images.githubusercontent.com/16691314/43589261-d91af18c-965d-11e8-9aff-3c0a22f5b317.png)

After scrolling down on [home page](https://kubernetes.io/), navbar content overlaps with other content at background because of its transparency.

**Proposed Solution:**
Navbar should ha

[2018-08-02 16:45] register9091 opened #9727 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
**This is a...**

- [ ] Feature Request
- [ x ] Bug Report

**Problem:**
Nothing below the title "Interactive Tutorial - Creating a Cluster" loads on page
Getting the following in google chrome console

Failed to load resource: the server responded with a status of 404 (Not Found)
RobotoSlab-Regular.woff2:1 Failed to load resource: the server responded with a status of 404 (Not Found)
RobotoSlab-B

[2018-08-02 17:00] register9091 commented on #9727
Seems like an internet issue. After switching to VPN everything started working.

If https://www.katacoda.com/  is not opening for you then its a VPN issue

[2018-08-02 17:00] #9727 closed

[2018-08-02 18:13] oomichi opened #9728 "Need to describe the necessity of metrics-server for HPA feature"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Current HPA doc[1] mentions metrics-server like
[code]
The metrics.k8s.io API is mandatory for HPA, so the above means metrics-server needs to be launched for HPA.
However it is difficult to understand that requirement because the above seems metrics-server as just a addon, and that is described on small section.
In addition, m

[2018-08-02 18:34] neolit123 commented on #9713
/sig cli
/kind bug

[2018-08-02 21:10] ryanmcginnis commented on #4205
/lifecycle rotten

This is still a problem and it seems somewhat easy to fix. Any takers?

[2018-08-02 21:10] ryanmcginnis commented on #4205
/remove-lifecycle rotten

[2018-08-02 21:20] chenopis opened #9730 "[WIP] In accurate definitions, descriptions"
**NOTE:** This issue is still a work in progress.

**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
List of inaccurate definitions or descriptions to be fixed:

- [ ] https://kubernetes.io/docs/concepts/overview/working-with-objects/kubernetes-objects/
    "A Kubernetes object is a “record of intent”–once you create the object, the Kubernetes system will constantly work to en

[2018-08-02 21:49] parispittman commented on #7795
Update: Alex from CNCF presented the updated mock ups in the [last contribex meeting](https://docs.google.com/document/d/1qf-02B7EOrItQgwXFxgqZ5qjW0mtfu5qkYIF1Hl4ZLI/edit#) on 8/1/2018 (link accessible if you are a member of contribex or docs mailing lists)

will provide an update in the next docs weekly update call

[2018-08-02 22:09] #7521 closed

[2018-08-02 22:09] #2981 closed

[2018-08-02 22:19] LiamHe commented on #9523
I run into same problem when following the tutorial https://kubernetes.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/ on kubeadm-dind cluster.

[2018-08-02 23:10] #7622 closed

[2018-08-03 00:11] #7625 closed

[2018-08-03 00:11] #7636 closed

[2018-08-03 04:51] KateJC opened #9737 "Issue with k8s.io/editdocs/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2018-08-03 04:57] pmorie commented on #7559
/reopen

[2018-08-03 04:57] pmorie commented on #7559
@mengqiy you're right - it is documented in a hard to find place. I'm going to see if we can link to it from more places.

[2018-08-03 07:17] ahaiandfish opened #9739 "Issue with k8s.io/docs/setup/independent/high-availability/"
hi
i have followed the topic https://kubernetes.io/docs/setup/independent/high-availability/ to create a cluster.it's ok for create 2 master,but when i close machine master1, the command "kubectl get nodes"
always show the timeout .

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
my structure is
k8s-test-1 (master 1)
k8s-test-2 (master 2)
k8s-test-4 (dns proxy)

i use nginx for dns proxy on

[2018-08-03 07:20] huang-jy opened #9740 "Issue with k8s.io/docs/concepts/services-networking/dns-pod-service/"
**This is a...**

- [X] Bug Report

**Problem:**
Under the pods section (https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pods), the documentation describes being able to reference a pod using a SVC DNS name by using the hostname spec. However, this seems incorrect:

If I have a pod in a namespace "test", with a hostname specified as "do-something"; then according to this t

[2018-08-03 07:35] chenopis commented on #9710
/cc @cody-clark

[2018-08-03 11:48] adsy411 commented on #7055
Hi all When i am trying for statfulset
_"apiVersion: apps/v1beta2"_   i am getting the same error but if i changed from apps/v1beta2 to _"apps/v1beta1"_ its working fine

Thanks

[2018-08-03 13:04] Shinerrs opened #9747 "I wish /docs/user-guide/connecting-to-applications-port-forward/ yaml xamples"
I wish /docs/user-guide/connecting-to-applications-port-forward/ yaml xamples

[2018-08-03 13:57] rcorre opened #9748 "NetworkPolicyIngressRule link broken"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

1. Visit https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.11/#networkpolicyspec-v1-networking-k8s-io
2. Follow link for [NetworkPolicyIngressRule](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.11/#networkpolicyingressrule-v1-networking-k8s-io)
3. The link doesn't lead anywhere

**Proposed Sol

[2018-08-03 16:37] #9078 closed

[2018-08-03 17:00] #9728 closed

[2018-08-04 19:14] justaugustus commented on #8154
/remove-lifecycle stale

[2018-08-04 19:15] justaugustus commented on #8154
/assign @feiskyer

[2018-08-06 04:36] SongGithub opened #9757 "Issue with k8s.io/docs/reference/setup-tools/kubeadm/kubeadm-token/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
option on the doc has discrepancy with actual command flag expected `--token-ttl duration     Default: 24h0m0s` for section "kubeadm token create"

**Proposed Solution:**
it should be `--ttl <duration> Default: 24h0m0s`

**Page to Update:**
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-token/

1.11

[2018-08-06 04:51] neolit123 commented on #9757
i think this is a case where we generated the command line flags before the change from `--token-ttl` to `--ttl` was made in the code.

/sig cluster-lifecycle
/kind bug

[2018-08-06 04:52] neolit123 commented on #9757
/assign

[2018-08-06 07:48] mschuurmans commented on #9620
![image](https://user-images.githubusercontent.com/6523309/43703669-cd311312-995d-11e8-855d-ca1cfd3f7cb5.png)

[2018-08-06 09:28] IshwarKanse opened #9758 "Documentation search not returning relevant results."
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
Documentation search is not returning relevant results. For example try searching for pods, daemonset, static pod, ingress. This is happening from the past few days.

**Proposed Solution:**
Include the most relevant results first for the searched term.

**Page to Update:**
https://kubernetes.io/docs

[2018-08-06 12:01] rcorre commented on #8403
/remove-lifecycle stale

[2018-08-06 13:00] neolit123 commented on #9620
@mschuurmans
found it, thank you.

/assign

[2018-08-06 13:23] buktt opened #9759 "Issue with k8s.io/docs/tutorials/kubernetes-basics/scale/scale-interactive/"
**This is a...**
- [X] Bug Report

**Problem:**
The scaled cluster in "kubernetes-bootcamp - Module 5"
It doesn't load balancer.
I get a curl response  from the same pod every every time

**Page to Update:**
https://kubernetes.io/docs/tutorials/kubernetes-basics/scale/scale-interactive/

[2018-08-06 13:24] #9759 closed

[2018-08-06 13:51] luisec2 opened #9760 "Issue with k8s.io/docs/reference/command-line-tools-reference/kube-apiserver/"
kube-apiserver fails when enabling audit logging

Updated /etc/kubernetes/manifests/kube-apiserver.yaml
    - --audit-policy-file=/home/genadm/min-audit.yaml
    - --audit-log-path=/var/log/kube-apiserver-audit.log

**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
 Current behavior:
1) Updated /etc/kubernetes/manifests/kube-apiserver.yaml
2) Kubernetes (kubelet) detects /etc/

[2018-08-06 14:26] lonial opened #9761 "Use of "Id token" in Kubernetes openid implementation"
/sig auth
/kind bug

Why kubernetes has used term "id token" in its implementation and not use "access token" for accessing Kube API from kubectl?

Access token is to be used for accessing some service like Kubernetes API (resource server in open id terminology). See use of access token as mentioned in Open Id specs: https://openid.net/specs/openid-connect-basic-1_0.html#TokenOK

"The Client can t

[2018-08-06 14:32] #9761 closed

[2018-08-06 14:33] lonial commented on #9761
Created issue kubenetes website which is not correct place.

[2018-08-06 15:16] neolit123 commented on #9620
/remove-priority awaiting-more-evidence
/kind bug

[2018-08-06 15:17] neolit123 commented on #9620
/sig cluster-lifecycle

[2018-08-06 16:03] calind commented on #9758
`curl -sI https://kubernetes.io/docs/home/`:
[code]

Looks like there is a `x-robots-tag: noindex` so the results are not indexed in search engines.

[2018-08-06 16:05] calind commented on #9758
Looks like it was introduced by bf4b937.

[2018-08-06 16:21] smenon78 opened #9764 "kubeadm high-availability-Is Step to Set up master Load Balancer mandatory?"
Following this documentation for HA cluster in k8s 1.9.5
https://v1-9.docs.kubernetes.io/docs/setup/independent/high-availability/
Is this Step
Set up master Load Balancer Mandatory?

I am setting Kubenetes HA cluster on a baremetal setup. Could I skip the step to setup load balancer and would this still work?

[2018-08-06 16:25] neolit123 commented on #8172
`critools` was added as a kubeadm dependency in June and should be now installed from the standard Linux packages.

see this for more details:
https://github.com/kubernetes/kubernetes/pull/64836

/close

[2018-08-06 16:25] #8172 closed

[2018-08-06 16:33] IshwarKanse commented on #9758
Yeah, looks like an indexing isse. Even in the Google search for Kubernetes, the homepage is missing. Getting some documentation links only.

[2018-08-06 19:47] mattfarina commented on #9505
This appears to be closed because of the merger of #9584. If there is still an issue we can re-open this.

/close

[2018-08-06 19:47] #9505 closed

[2018-08-06 22:44] #7644 closed

[2018-08-07 07:41] bep commented on #8186
/remove-lifecycle stale

[2018-08-07 16:41] mistyhacks commented on #8997
Fixed by #9510

[2018-08-07 16:41] #8997 closed

[2018-08-07 16:43] mistyhacks commented on #6102
I believe this is fixed by #9510

[2018-08-07 16:46] mistyhacks commented on #5941
I think this is fixed by #9510

[2018-08-07 16:46] #5941 closed

[2018-08-07 17:35] castrojo commented on #6102
/reopen
/cc @mrbobbytables

This issue is about the overall k8s contributor's guide, not the documentation contribution guide. We're close to finishing this, @mrbobbytables can you update this issue when we go live?

[2018-08-07 18:48] mrbobbytables commented on #6102
@castrojo sure thing! Shouldn't take too long once the cname record is in place.

[2018-08-07 19:29] chuckha commented on #9739
This could be an nginx issue, I'd need more detail to help diagnose this.

Did you try to do stacked masters or a fully external etcd?

[2018-08-07 19:55] kbhawkey opened #9779 "Fix template usage in docs/contribute/style/page-templates"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Rendering of page:
https://kubernetes.io/docs/contribute/style/page-templates/

**Proposed Solution:**
Possibly fix the content overview template section.

**Page to Update:**
content/en/docs/contribute/style/page-templates.md

[2018-08-07 23:27] #9620 closed

[2018-08-07 23:41] edqallen commented on #8304
/remove-lifecycle stale

[2018-08-08 00:09] #4480 closed

[2018-08-08 02:39] MattMS commented on #9721
I checked the site again and now all the case studies have the incorrect logos.

[2018-08-08 03:09] colek42 opened #9783 "google search broken on kubernetes.io"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The google search is currently not working.  It looks like indexing may have been disabled here:  https://github.com/kubernetes/website/pull/9767  It is extremely difficult to seach through the docs if they are not indexed.

**Proposed Solution:**
Add documentation back into the index

**Page to Update:**
https://kubernetes.io/

[2018-08-08 05:50] CaoShuFeng commented on #9783
I have meet the same problem

[2018-08-08 05:53] CaoShuFeng commented on #9783
I would expect [this page](https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation/) when I search the title of it.
But look what do I get:

![image](https://user-images.githubusercontent.com/20855209/43818698-5fb701e6-9b12-11e8-9cff-c675e5578c96.png)

[2018-08-08 07:41] ahaiandfish commented on #9739
update the details：
MEHTOD1： with internal etcd

in master1 the etcd.yaml is :

cat  /etc/kubernetes/manifests/etcd.yaml
apiVersion: v1
kind: Pod
metadata:
  annotations:
    scheduler.alpha.kubernetes.io/critical-pod: ""
  creationTimestamp: null
  labels:
    component: etcd
    tier: control-plane
  name: etcd
  namespace: kube-system
spec:
  containers:
  - command:
    - etcd
    - --advertis

[2018-08-08 12:56] kbhawkey opened #9786 "Add note about required Hugo version"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Provide information in `Contributing` about the minimum version of Hugo required to build the docs website, locally.

**Proposed Solution:**
Upgrade Hugo to v0.46 with extensions.

[2018-08-08 13:59] BenHall opened #9787 "Missing Homepage Tutorial Button"
The Kubernetes homepage no longer has a button to the Kubernetes basis tutorials to help users get started.

From what I can tell from the Hugo code the block is meant to be rendered:

https://github.com/kubernetes/website/blob/master/layouts/_default/baseof.html#L16

https://github.com/kubernetes/website/blob/master/layouts/index.html#L6-L9

[2018-08-08 17:27] blatayue commented on #9721
This actually bother me. Can we at least get acknowledgement on this one? It's a pretty glaring issue right on the homepage.

[2018-08-08 18:11] #9779 closed

[2018-08-08 18:42] colek42 commented on #9783
looks like #9767 fixed the issue

[2018-08-08 18:42] #9783 closed

[2018-08-08 18:45] vladimirvivien opened #9790 "CSI - Default value to fstype should be properly documented"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Issue https://github.com/kubernetes/kubernetes/issues/65122 has updated the default value of CSI fstype from "ext4" to `""`.  This critical change should be documented.

**Proposed Solution:**
The section `fstype` section should be updated accordingly to reflect the changes for that attribute.

**Page to Update:**
https://kuber

[2018-08-08 18:45] vladimirvivien commented on #9790
/assign

[2018-08-08 18:46] vladimirvivien commented on #9790
/sig storage

[2018-08-08 19:28] #1052 closed

[2018-08-08 21:33] parth-pandit opened #9791 "Issue with k8s.io//docs/reference/kubectl/kubectl/ [File: /content/en/docs/reference/kubectl/kubectl.md]"
**This is a...**

- [ ] Feature Request
- [ X] Bug Report

**Problem:**
All the command hyperlinks lead to 404 - page not found error page.

**Proposed Solution:**
Need to update this webpage with correct links to individual command help

**Page to Update:**
https://kubernetes.io/docs/reference/kubectl/kubectl/

[2018-08-08 22:59] mrbobbytables commented on #6102
The cname record is put in place, netlify configured and the site is now live! :)

[2018-08-09 14:47] f84anton opened #9801 "api reference VolumeMount mountPropagation issue"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
After v1.10.2 when mountPropagation for volumeMounts is not set MountPropagationNone is used. While in api reference it says "When not set, MountPropagationHostToContainer is used".

**Proposed Solution:**
Fix docs:
When mountPropagation not set MountPropagationNone is used.

**Page to Update:**
https://kubernetes.io/docs/refer

[2018-08-09 17:40] #9125 closed

[2018-08-09 20:48] vshlos opened #9805 "Docs not correctly HTML encoding pages."
**This is a...**

- [ ] Feature Request
- [X ] Bug Report

**Problem:**
In a few of the docs, the text includes a mention to say "enter your value here" such as "<POD_NAME>". When this is converted to HTML, it's not correctly HTML encoded and therefore looks like an HTML tag. This then doesn't show up on the page as expected.

For example on the page
https://kubernetes.io/docs/concepts/workloads/p

[2018-08-09 21:00] Bradamant3 commented on #9805
Chatted with reporter in Slack and asked that they file this issue. First look suggests it's a Blackfriday items-inside-lists problem, not HTML encoding per se. Investigating further.

[2018-08-09 21:28] consideRatio opened #9807 "Issue with k8s.io//docs/concepts/overview/working-with-objects/field-selectors/ [File: /content/en/docs/concepts/overview/working-with-objects/field-selectors.md]"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**
Based on the documentation on the webpage, I have no idea what I can pass to the `--fieldSelector` for pod and events.

The `--help` did not help me figure this out either. It is magic to me, especially since I've seen things like `--fieldSelector involvedObject.kind=Pod` being using with events, but I have no clue on where to r

[2018-08-10 01:30] #8051 closed

[2018-08-10 19:11] henryza commented on #9517
Same problem.

INFO
[root@k8s-master ~]# kubectl cluster-info
Kubernetes master is running at https://192.168.114.4:6443
KubeDNS is running at https://192.168.114.4:6443/api/v1/namespaces/kube-system/services/kube-dns:dns/proxy

To further debug and diagnose cluster problems, use 'kubectl cluster-info dump'.
[root@k8s-master ~]# kubectl cluster-info dump
error: missing apiVersion or kind and canno

[2018-08-12 17:04] mc0 opened #9829 "ConfigMap documentation does not cover optional functionality"
**This is a...**
- [x] Bug Report

**Problem:**
The documentation mentions "optional" in the restrictions for configmap, but doesn't explain how to use it anywhere else in the documentation.

Please see https://github.com/kubernetes/kubernetes/pull/39981 for the feature. It appears it got lost in the 1.5->1.6 upgrade.

**Proposed Solution:**
Restore the copy from https://github.com/kubernetes/webs

[2018-08-12 17:04] mc0 commented on #9829
For clarity, the copy from #2334 got removed here: https://github.com/kubernetes/website/pull/2568

[2018-08-13 18:02] SurferJeffAtGoogle opened #9839 "Issue with k8s.io//docs/tutorials/kubernetes-basics/update/update-interactive/ [File: /content/en/docs/tutorials/kubernetes-basics/update/update-interactive.html]"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

I cannot click and drag the scrollbar in the middle of this page.  When I try, it doesn't scroll.

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

The scroll wheel on my mouse works, though.  Not all mice have scroll wheels.

[2018-08-13 22:35] cblecker opened #9843 "Update community membership procedure"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
https://kubernetes.io/docs/contribute/participating/#becoming-a-member will need an updated when https://github.com/kubernetes/community/pull/2521 merges.

**Proposed Solution:**
Update page as required.

**Page to Update:**
https://kubernetes.io/docs/contribute/participating/#becoming-a-member

[2018-08-13 22:35] cblecker commented on #9843
cc @mistyhacks

[2018-08-14 02:04] razi-rais commented on #9523
Facing the same issue. Basically, if you go into the pod and run `cat /usr/share/nginx/html` you will notice that file does not exist. So mount never really worked (clear by the logs)

[2018-08-14 04:41] nekrkris opened #9847 "Issue with k8s.io//docs/concepts/overview/working-with-objects/namespaces/ [File: /content/en/docs/concepts/overview/working-with-objects/namespaces.md]"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
The following text is very confusing
`Most Kubernetes resources (e.g. pods, services, replication controllers, and others) are in some namespaces. However namespace resources are not themselves in a namespace. And low-level resources, such as nodes and persistentVolumes, are not in any namespace.`

**Proposed Solution:**
- Give

[2018-08-14 08:40] paritosh-upadhyay opened #9849 "Issue with k8s.io//docs/tutorials/configuration/configure-redis-using-configmap/ [File: /content/en/docs/tutorials/configuration/configure-redis-using-configmap.md]"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
https://k8s.io/examples/pods/config/redis-config is not in proper yaml format

**Proposed Solution:**
Make it in Proper below yaml format
apiVersion: v1
kind: ConfigMap
metadata:
  name: example-redis-config
  namespace: default
data:
  redis-config: |
    maxmemory 2mb
    maxmemory-policy allkeys-lru

**Page to Update:**
http

[2018-08-14 16:14] zparnold commented on #9634
Is it possible when we do a Netlify deploy to deploy assets to multiple CDN's? @dankohn @chenopis @zacharysarah ?

[2018-08-15 16:16] fanzhangio commented on #9790
I am working on it.

[2018-08-15 16:51] smenon78 opened #9867 "Doc not clear: Adding master1 and master2 to load balancer"
Following these documentation
https://v1-9.docs.kubernetes.io/docs/setup/independent/high-availability/

But its not clear what it means by Adding master1 and master2 to load balancer
/etc/keepalived/keepalived.conf  in the doc doesn't have a section to add master nodes to the pool. Is this section probably missing?
I also checked https://velotio.com/blog/2018/6/15/kubernetes-high-availability-kub

[2018-08-15 17:38] neolit123 commented on #9867
/area HA
/sig cluster-lifecycle

[2018-08-15 20:36] BenHall commented on #9787
Without having the quickstart button, the website homepage also isn't rendering correctly

Javascript Error:
TypeError: undefined is not an object (evaluating 'quickstartButton[0].getBoundingClientRect')

Current behaviour/UI:
![screenshot 2018-08-15 21 32 48](https://user-images.githubusercontent.com/82614/44171748-052a4500-a0d3-11e8-9766-b3b5de831b81.png)

Expected:
![screenshot 2018-08-15 21 35

[2018-08-15 20:49] BenHall commented on #9787
This was caused by the upgrade to 0.46.

[2018-08-16 02:51] itowlson commented on #9807
I'm struggling with this for jobs too.  Where can we get the information on which field selectors are available for different kinds of resource?

[2018-08-16 07:27] lyongjn opened #9877 "Issue with k8s.io//docs/tasks/tools/install-kubectl/ [File: /content/en/docs/tasks/tools/install-kubectl.md]"
**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**
The section of "[Install with Powershell from PSGallery](https://kubernetes.io/docs/tasks/tools/install-kubectl/)" includes a powershell named install-kubectl.ps1, which can be found at this website : https://www.powershellgallery.com/packages/install-kubectl/1.6/Content/install-kubectl.ps1.

My os version is Windows 10, when

[2018-08-16 14:44] kbhawkey commented on #9786
Closing, see #9824.

[2018-08-16 14:44] #9786 closed

[2018-08-16 16:03] #8052 closed

[2018-08-16 16:30] lucperkins commented on #9849
@paritosh-upadhyay The judgment of @tengqm is correct here. The `data` field in a `ConfigMap` object doesn't have to be YAML or even a "map" per se. This enables Kubernetes to be agnostic toward configuration formats and, by extension, to support non-YAML formats.

[2018-08-16 19:07] zacharysarah commented on #9634
@chenopis 👋 Ping

[2018-08-16 19:35] #6141 closed

[2018-08-16 19:53] cblecker commented on #9843
/assign @mistyhacks
This has now merged :)

[2018-08-16 20:43] oomichi opened #9883 "The part of "Storage Object in Use Protection" seems broken"
**This is a...**
- [ ] Feature Request
- [x ] Bug Report

**Problem:**

The section "Before you begin" of https://kubernetes.io/docs/tasks/administer-cluster/storage-object-in-use-protection/ seems broken like

[code]
That seems the raw content and they should be formed correctly.

**Proposed Solution:**

Maybe the formats of "% assign" and "% include" are wrong, and should be fixed.

**Page to Up

[2018-08-16 21:46] bradtopol commented on #9401
This was fixed by https://github.com/kubernetes/website/pull/9153/files

[2018-08-16 21:46] #9401 closed

[2018-08-16 22:04] chenopis commented on #9758
# Postmortem

Owner: | [Jared Bhatti](https://github.com/jaredbhatti)
-- | --
Collaborators: | Tom Van Waardhuizen, [Zach Corleissen](https://github.com/zacharysarah), [Andrew Chen](https://github.com/chenopis), [Luc Perkins](https://github.com/lucperkins)
Status | Action items in progress

## Problem Summary

Impact: | An unintended addition of a `X-Robots-Tag: noindex` header for pages on the Ku

[2018-08-17 01:04] tengqm commented on #8079
Okay to close now. Problem fixed.
/close

[2018-08-17 01:04] #8079 closed

[2018-08-17 01:04] jimangel commented on #9209
/close

[2018-08-17 01:04] #9209 closed

[2018-08-17 01:06] tengqm commented on #8019
/remove-lifecycle rotten

[2018-08-17 02:34] dankohn commented on #9635
Fixed by https://github.com/kubernetes/website/pull/9845

[2018-08-17 02:34] #9635 closed

[2018-08-17 03:33] xlgao-zju opened #9884 "Issue with k8s.io//docs/reference/setup-tools/kubeadm/kubeadm-init/ [File: /content/en/docs/reference/setup-tools/kubeadm/kubeadm-init.md]"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
[code]

The `stable-1.10` is out of date.

**Proposed Solution:**
Use `default "stable-1.11"`

**Page to Update:**
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/

v1.11

I found the out of date info is in `generated/kubeadm_init.md`. I wanna fix this, but I do not know how this file is generated.

[2018-08-17 03:34] xlgao-zju commented on #9884
cc @neolit123 Since this is about kubeadm.

[2018-08-17 03:37] xlgao-zju commented on #9884
/assign @neolit123

[2018-08-17 04:06] neolit123 commented on #9884
these files are autogenerated on release, but until the release comes this can be fixed manually by submitting a PR that just changes `generated/kubeadm_init.md`

[2018-08-17 09:35] paritosh-upadhyay commented on #9849
I am facing issue while running below command:-
[root@oc4230511580 gs-1866]# kubectl create configmap example-redis-config --from-file=https://k8s.io/examples/pods/config/redis-config
error: error reading https://k8s.io/examples/pods/config/redis-config: no such file or directory
I don't understand why it is coming when I am accessing  https://k8s.io/examples/pods/config/redis-config from browser

[2018-08-17 14:44] #9884 closed

[2018-08-17 14:56] neolit123 commented on #9884
@xlgao-zju could you please take a look if we have some sort of a issue with the version in the kubeadm source code? it seems to be one version behind when the reference docs are generated for `kubeadm init`.
does the same happen for other commands?

[2018-08-17 15:28] neolit123 commented on #9884
ok, leave this for now.
we are currently refactoring the version logic, so we are going to check if the same happens again before 1.12 is released.

[2018-08-17 15:36] xlgao-zju commented on #9884
I think maybe I should file a PR  to fix this which target `1.11.0`...

[2018-08-17 15:46] neolit123 commented on #9884
i cannot find `v1.10.0` in https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/phases/bootstraptoken.go

just leave it for now.

[2018-08-17 15:50] xlgao-zju commented on #9884
https://github.com/kubernetes/kubernetes/blob/v1.11.0/cmd/kubeadm/app/cmd/phases/bootstraptoken.go

we can find `v1.10.0` in the tag 1.11.0

[2018-08-17 16:06] neolit123 commented on #9884
ok, i see.
if you want to submit a PR for that it has to be against the `release-1.11` branch instead of `master`.

[2018-08-17 16:29] juliole opened #9891 "."
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2018-08-17 19:19] kbhawkey opened #9894 "multiple feature state dialog link on page, event listener"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
When there are multiple feature state dialog links/icons on a page, only one link seems to be listening for click events (no dialog created for the other feature state links). The other links, when clicked, reload the current page.

**Proposed Solution:**
Still investigating.

**Page to Update:**
An example page with multiple

[2018-08-18 04:51] jockmac22 opened #9898 "Issue with k8s.io//docs/tasks/job/coarse-parallel-processing-work-queue/ [File: /content/en/docs/tasks/job/coarse-parallel-processing-work-queue.md]"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
At the beginning of the document, you describe how to connect to and test the RabbitMQ server.

The first test looks like this:
[code]

Where $BROKER_URL is defined as either:

[code]
or

[code]

Neither of these work in my case.  The only thing does anything is this:

**Proposed Solution:**

I have no idea.

**Page to Update:*

[2018-08-18 08:49] xlgao-zju commented on #9884
ok, I see. PRs which are against the master branch is more important. right?

[2018-08-18 11:32] shubheksha commented on #9891
/close

[2018-08-18 11:32] #9891 closed

[2018-08-18 11:33] shubheksha commented on #9737
Could you please specify what's the problem? @KateJC

[2018-08-18 11:34] shubheksha commented on #9747
Could you elaborate a little, @Shinerrs?

[2018-08-18 11:49] shubheksha commented on #9297
This was fixed in #9298
/close

[2018-08-18 11:49] #9297 closed

[2018-08-18 11:52] shubheksha commented on #9000
Fixed in #9036
/close

[2018-08-18 11:52] #9000 closed

[2018-08-18 11:53] shubheksha commented on #8987
This doesn't look like a docs issue, could try in the master repo or stackoverflow?

[2018-08-18 11:55] shubheksha commented on #8897
Hello, this doesn't look like a docs issue, please try the [support channels](https://git.k8s.io/community/communication).
/close

[2018-08-18 11:55] #8897 closed

[2018-08-18 11:56] shubheksha commented on #9672
Could you provide more information, @yangzhih?
/triage needs-information

[2018-08-18 11:59] shubheksha commented on #9581
This has been fixed!
/close

[2018-08-18 11:59] #9581 closed

[2018-08-18 12:01] shubheksha commented on #9515
Could you elaborate on what's the issue, @guptaAkshay06?
/triage needs-information

[2018-08-18 13:38] neolit123 commented on #9884
yep, that's how it works.

[2018-08-19 22:38] neolit123 commented on #8661
looks resolved.
/close

[2018-08-19 22:38] #8661 closed

[2018-08-20 00:51] #7413 closed

[2018-08-20 02:04] tengqm commented on #814
/remove-lifecycle rotten

[2018-08-20 02:05] tengqm commented on #7386
/remove-lifecycle stale

[2018-08-20 02:37] makocchi-git commented on #9849
@paritosh-upadhyay I think this guide is misleading.
kubectl can not recognize `--from-file=<remote file>`.
So we should download the remote content before creating configmaps.

[2018-08-20 04:07] bringhurst opened #9905 "Issue with k8s.io//docs/concepts/policy/resource-quotas/ [File: /content/en/docs/concepts/policy/resource-quotas.md]"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

At https://kubernetes.io/docs/concepts/policy/resource-quotas/

Under the "Resource Quota Per PriorityClass" section, the yaml block right after the text "Save the following YAML to a file quota.yml" isn't formatted properly (the three backticks appear in a web browser, and the entire file shows as a single line of text).

Usi

[2018-08-20 06:51] stoetti opened #9908 "Issue with k8s.io//docs/tasks/configure-pod-container/configure-liveness-readiness-probes/ [File: /content/en/docs/tasks/configure-pod-container/configure-liveness-readiness-probes.md]"
- [ ] Feature Request
- [x] Bug Report

**Problem:**
The documentation says that liveness (or readiness) probes are skipping the certificate verification if scheme "https" is provided, but I am getting a "tls: bad certificate" error.
I am working with an GKE Cluser

**Proposed Solution:**
How to configure the probes to use https and ignore certificate verification

**Page to Update:**
https://kube

[2018-08-20 11:01] #7278 closed

[2018-08-20 16:42] bringhurst commented on #9905
Thanks!

[2018-08-20 16:42] #9905 closed

[2018-08-20 16:48] OutdatedVersion commented on #9654
This issue has been resolved @dagnello (:

[2018-08-20 19:09] #9649 closed

[2018-08-20 19:42] #9787 closed

[2018-08-20 20:39] #9849 closed

[2018-08-21 00:14] #7724 closed

[2018-08-21 03:17] #7829 closed

[2018-08-21 07:04] bep opened #9967 "Sub-optimal defaults in "make serve""
See https://github.com/kubernetes/website/blob/master/Makefile#L20

[code]

I'm not sure who uses `make serve`, but if it is content-editors, the above makes for a poor (very slow) default.

My favourites:

For content editing:

[code]

For design work:

[code]

Note that I have left out ` --ignoreCache`, which is really aggressive. I prefer to use the "disable cache" check box in Chrome developer

[2018-08-21 07:10] bep opened #9968 "Add checksum validation to Docker binary downloads"
https://github.com/kubernetes/website/blob/master/Dockerfile#L21

I understand that these binaries are pulled into a Docker container, but I think it's considered to be best practice to do a SHA256 checksum validation on install.

There is also a download of a Minify binary, which does not look like it's in use and can be removed?

https://github.com/gohugoio/hugo/releases/download/v0.47.1/hugo_ex

[2018-08-21 12:45] njain1985 opened #9976 "add New Relic Kubernetes monitoring integration"
### New Relic Kubernetes monitoring integration

New Relic Kubernetes integration provides increased visibility into the performance of your Kubernetes  environment in. New Relic's Kubernetes integration instruments the container orchestration layer by reporting metrics from Kubernetes objects. The integration gives you insight into your Kubernetes nodes, namespaces, deployments, replica sets, pod

[2018-08-21 14:19] #9569 closed

[2018-08-21 18:29] chenopis commented on #9634
@zparnold Netlify already deploys to regional CDNs. I can ask where all of them are located exactly. So would we just be scanning the kubernetes.io docs for images and other assets not hosted on our site and then just copy them into the `/static/images` directory?

[2018-08-21 19:28] dankohn commented on #9634
The issue seems to be with how their CDN (Cloudfront) is interacting with the Alibaba CDN. https://kubernetes.cn/ is an inside-the-firewall mirror of kubernetes.io. On the kubernetes.cn homepage, images such as https://github.com/kubernetes/website/blob/master/static/images/flower.png are being served as https://d33wubrfki0l68.cloudfront.net/1567471e7c58dc9b7d9c65dcd54e60cbf5870daa/a2249/images/fl

[2018-08-21 19:31] #9757 closed

[2018-08-22 03:43] hxlnwpu opened #10035 "I wish /docs/admin/garbage-collection/ 入门"
I wish /docs/admin/garbage-collection/ 入门

[2018-08-22 03:43] #10035 closed

[2018-08-22 04:53] #8027 closed

[2018-08-22 05:17] colemickens commented on #1589
/remove-lifecycle stale

[2018-08-22 09:25] timstoop opened #10038 "Issue with k8s.io//docs/concepts/storage/storage-classes/ [File: /content/en/docs/concepts/storage/storage-classes.md]"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
The option for setting the filesystem is only explained for ScaleIO and Portworx Volume, while AWS EBS supports it as well, according to my tests and the code (https://github.com/kubernetes/kubernetes/blob/e40ffd71972b820aeed283946e880aa2479f8524/pkg/volume/aws_ebs/aws_ebs.go#L117)

**Proposed Solution:**
Please add the `fsType

[2018-08-22 11:22] achalk14 opened #10039 "Issue with k8s.io//docs/concepts/policy/pod-security-policy/ [File: /content/en/docs/concepts/policy/pod-security-policy.md]"
**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**
Hi,
I am trying to learn about PodSecurityPolicy from this page https://kubernetes.io/docs/concepts/policy/pod-security-policy/ and tried my hands on "Example" section. After creating a new namespace, serviceaccount and rolebinding.

I tried executing this which was supposed to throw error and not create a pod but on my machin

[2018-08-22 11:54] makocchi-git commented on #10039
I think that your cluster needs to enable `PodSecurityPolicy` by an admission controller.
Please see [admission-controllers#podsecuritypolicy](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#podsecuritypolicy).

[2018-08-22 13:20] svajiraya opened #10042 "Bug with Shortcode Syntax highlighting in markdown headers"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:** For some reason, Syntax highlighter shortcode '`' is not rendering as expected and spitting out ```<code></code>``` tags instead.

**Proposed Solution:** Remove shortcode syntax highlighting from markdown headers.

**Page to Update:**
https://kubernetes.io/docs/tasks/run-application/scale-stateful-set/

Kubernetes Version: Docs

[2018-08-22 21:38] #10038 closed

[2018-08-23 03:14] DazWilkin opened #10051 "Incorrect summary "how to install kube-dns instead of CoreDNS.""
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
"How to install **kube-dns** instead of CoreDNS"

**Proposed Solution:**
"How to install **CoreDNS** instead of kube-dns"

**Page to Update:**
https://kubernetes.io/docs/tasks/administer-cluster/coredns/#about-coredns

[2018-08-23 12:05] DylanBLE opened #10057 "Issue with k8s.io//docs/concepts/policy/resource-quotas/ [File: /content/en/docs/concepts/policy/resource-quotas.md]"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
quota.yml has indent error:
![image](https://user-images.githubusercontent.com/10572401/44524291-83a86780-a70f-11e8-83a6-38a928bc5fab.png)

**Proposed Solution:**
Not sure because code in master branch is correct.
![image](https://user-images.githubusercontent.com/10572401/44524349-c0745e80-a70f-11e8-9cd6-92eb90eedcfb.png)

**P

[2018-08-23 12:06] DylanBLE commented on #10057
Same bug occured in pod resource:
![image](https://user-images.githubusercontent.com/10572401/44524408-f9143800-a70f-11e8-9e33-deb7701e23e3.png)

[2018-08-23 12:12] kbhawkey commented on #9883
Hello, @oomichi:
Can this issue be closed?
Thanks!

[2018-08-23 16:29] oomichi commented on #9883
@kbhawkey Thanks for doing this! confirmed that has been fixed.

[2018-08-23 16:29] #9883 closed

[2018-08-23 18:30] #10057 closed

[2018-08-23 20:27] #8640 closed

[2018-08-24 00:10] bilbof commented on #9721
Confirming this is an issue.

Seems like this PR made changes to HTML and CSS, but the CSS changes are not in production: https://github.com/kubernetes/website/pull/9769/files#diff-e3eb51e4ac78285eecebd979d1bc2e37L747

It looks like the static CSS was edited, when one should've edited a SASS file.

There's a PR for this already at https://github.com/kubernetes/website/pull/9809.

Screenshots below

[2018-08-24 04:09] tnir opened #10067 "Improve mobile experience on all pages under /docs"
The heading vertical menu (technically `#vendorStrip` element) is overflowed in any pages under https://kubernetes.io/docs/ when you view on mobile (or narrow-screen devices).

## current screenshots
<img width="200" alt="kubernetes-docs-vendor-strip-before" src="https://user-images.githubusercontent.com/10229505/44564574-f4796f00-a763-11e8-84f9-09a26efc2b7b.png">

## to-be screenshots
<img width=

[2018-08-24 08:33] omarwaleed opened #10073 "Issue with k8s.io//docs/tutorials/kubernetes-basics/update/update-interactive/ [File: /content/en/docs/tutorials/kubernetes-basics/update/update-interactive.html]"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
Interactive tutorial for module 6 doesn't redirect to the next docs page

**Proposed Solution:**
- Add button to return to docs
- Auto redirect to next tutorial

**Page to Update:**
https://kubernetes.io/docs/tutorials/kubernetes-basics/update/update-interactive/

[2018-08-24 08:40] zhukj opened #10074 "Issue with k8s.io//docs/reference/command-line-tools-reference/kube-scheduler/ [File: /content/en/docs/reference/command-line-tools-reference/kube-scheduler.md]"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
The options --address is deprecated, and replaced with --bind-address, but I do not see any information about --bind-address on this page. --port(replaced with --secure-port) also has no information on this page.

**Proposed Solution:**
Add --bind-address and --secure-port on the page.  Thanks!

**Page to Update:**
https://kub

[2018-08-24 08:44] tianshapjq commented on #10074
/cc

[2018-08-24 13:06] xi4oc4i opened #10079 "Issue with ingress port config"
**Problem:**
I have my java application running well in my local, but when i deployed it on the kubernetes with ingress, there is a port forwarding issue..

On my local, following url is working correctly.

http://www.example.com:9080/app/eh
https://www.example.com:9443/app/eh
https://www.example.com/app/eh

On the kubernetes env..

http://www.example2.com/app/eh (working)
https://www.example2.com

[2018-08-24 15:28] #9640 closed

[2018-08-24 18:33] fsilveir opened #10080 "All links from 'See Also' section at the kubectl-cli reference page links are broken"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:** All links at the **See Also** section of the **kubectl CLI** page are broken. Noticed that the problem was fixed before in [5789c87](https://github.com/kubernetes/website/commit/5789c874285dd261a5d3afc7333a55900de41df8), however I couldn't find the files on the repository and that seems to be the cause for the 404 errors on the

[2018-08-24 23:54] tfogo opened #10081 "Fixing kubectl generated docs links"
I've been looking into fixing the broken links on [this page](https://kubernetes.io/docs/reference/kubectl/kubectl/) that have been mentioned in a few issues.

Looks like the cause of this is that [`update-imported-docs/reference.yml`](https://github.com/kubernetes/website/blob/master/update-imported-docs/reference.yml) doesn't import all the files generated from [`hack/generate-docs.sh`](https://

[2018-08-25 10:40] archcra opened #10082 "Issue with k8s.io//docs/tutorials/kubernetes-basics/update/update-interactive/ [File: /content/en/docs/tutorials/kubernetes-basics/update/update-interactive.html]"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
I think 'v10' should be 'v1'.

[code]

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2018-08-25 17:53] sanjeevkumar761 opened #10083 "Link to Developer Guide returns 404 page not found"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
"Read the Developer Guide" link on Kubernetes Documentation [here](https://kubernetes.io/docs/home/?path=contributors&persona=code-contributor&level=foundational) results into a 404 Page Not Found.

**Proposed Solution:**
Should the link point to https://kubernetes.io/blog/2018/05/01/developing-on-kubernetes/ ? I am not sure ab

[2018-08-25 20:14] xmudrii commented on #10083
I think the links should just redirect to non-`imported` URLs, e.g. to `https://kubernetes.io/docs/community/devel/` instead of `https://kubernetes.io/docs/imported/community/devel/`.

I've already noticed the issue and created a PR (#10084). This is my first PR to k/website, so I'm not sure is it any good, but potentially it could fix it. :)

Thanks for reporting the issue! :)

[2018-08-26 10:25] Mad-ness opened #10085 "Issue with k8s.io//docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/ [File: /content/en/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume.md]"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
This output probably should have TYPE LoadBalancer, not ClusterIP. The type is specified in the Service definition.
[code]
**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/

[2018-08-27 00:25] elizabethharris opened #10086 "Inconsistent case of "job" on k8s.io//docs/concepts/workloads/controllers/jobs-run-to-completion/ [File: /content/en/docs/concepts/workloads/controllers/jobs-run-to-completion.md]"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
This page is inconsistent in its use of "Job" and "job". Which is correct? It looks like "Job" is used when the string is a literal (in code snippets, for example); but when it's not a literal, there's no apparent rhyme or reason to the upper/lower case usage.

**Proposed Solution:**
For non-literals, pick one and stick with it

[2018-08-27 00:30] elizabethharris commented on #10086
A similar issue found on https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/:
Cron Job
cron job
CronJob
Cronjob

The entry in the lefthand nav bar is "CronJob", so perhaps that's the spelling to go with?

BTW, this case/spelling issue is admittedly a nitpick, but users also need to know the *right* way to refer to these concepts (my current situation), so consistency in terms is a

[2018-08-27 06:18] jimangel commented on #10082
The module is walking through how to set versions and rollback using tagging, by using v10 it simulates a failure ("There is no image called v10 in the repository. Let’s roll back to our previously working version. We’ll use the rollout undo command:")

Also, the examples are managed outside of kubernetes/website (https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios) if you still ne

[2018-08-27 06:18] #10082 closed

[2018-08-27 06:25] jimangel commented on #10079
Hey, this is a support request and not related to an issue with the docs. I would recommend reaching out to a channel on slack or the discussion board for help: https://kubernetes.io/community/

Thanks!
/close

[2018-08-27 06:25] #10079 closed

[2018-08-27 06:41] jimangel commented on #10073
The 6th module is the last module, I've submitted a PR to add a "back" button.

[2018-08-27 06:51] jimangel commented on #9976
@njain1985 what PR are you referring to?

[2018-08-27 09:57] Mad-ness opened #10091 "Issue with k8s.io//docs/tutorials/stateful-application/cassandra/ [File: /content/en/docs/tutorials/stateful-application/cassandra.md]"
Hi there,

I'm learning Kubernetes and faced with the following error.

When I configure the StatefulSet in this tutorial, among other things we specify the environment variable CASSANDRA_SEEDS
[code]
Pod cassandra-0 runs normally. But cassandra instance fails in the cassandra-1 pod at running with following message

and the pod drops into the Error state.

**This is a...**

- [ ] Feature Request

[2018-08-27 15:46] haraldschilly opened #10094 "wrong apiVersion in examples in docs/concepts/configuration/pod-priority-preemption"
- [x ] Bug Report

**Problem:**

The page https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/#example-priorityclass says `apiVersion: scheduling.k8s.io/v1alpha1` (and somewhere else), but it's `apiVersion: scheduling.k8s.io/v1beta1`.

**Proposed Solution:**

Fix the examples on that page to match what version 1.11 is about (it moved this to beta)

**Page to Update:**

https:

[2018-08-27 16:50] jayunit100 opened #10096 "Explain why you would want to escalate privileges for the dashboard."
**This is a...**
- [ x] Bug Report

**Problem:**

The docs suggest you *can* give priveleges at the Cluster scope and so on to the dashboard, but never suggests why this would be advantageous.

**Proposed Solution:**

Outline why the dashboard benefits from more priveleges, if it does, or else remove the intructions for escalated kube API privileges.

**Page to Update:**
https://github.com/kuberne

[2018-08-27 19:59] stormmore opened #10103 "Redspread link"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
`https://redspread.com` fails with a "Secure Connection Failed" error, removing the `https://` has it redirect to `https://coreos.com`

**Proposed Solution:**
should probably just go to `https://coreos.com` at this point

**Page to Update:**
https://kubernetes.io/...

[2018-08-27 23:40] tfogo commented on #10081
Thanks for your input @zacharysarah!

My understanding is that `/docs/reference/kubectl/kubectl/` is generated from cobra using `k/k/hack/generate-docs.sh` and imported using [this script](https://github.com/kubernetes/website/blob/master/update-imported-docs/update-imported-docs.go). Following [Generating Reference Pages for Kubernetes Components and Tools](https://kubernetes.io/docs/contribute/g

[2018-08-28 00:26] #10083 closed

[2018-08-28 00:26] b10s opened #10104 "wrong links"
Sorry for short description but it's pretty easy to check or I'm wrong : )

Links in main page in section "Case Studies" are wrong. One of them is 404.

![screenshot from 2018-08-28 09-22-30](https://user-images.githubusercontent.com/4618288/44693634-498aed00-aaa4-11e8-943e-5d153b9855b7.png)
![screenshot from 2018-08-28 09-22-19](https://user-images.githubusercontent.com/4618288/44693635-498aed00-

[2018-08-28 00:49] tengqm commented on #10081
A related effort can be found at #9081 . The reference docs are generated using kubernetes-incubator/reference-docs. When compared this to the docs generated using `k/k/hack/generate-docs.sh`, we have a nice table view to show the command options. The [script](https://github.com/kubernetes/website/blob/master/update-imported-docs/update-imported-docs.go) is outdated. We need to fix it.

[2018-08-28 06:52] nasa9084 opened #10106 "">" is not rendered properly in headings"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

`>` is not rendered properly in headings.

**Proposed Solution:**

I tried to solve this problem but I cannot.

**Page to Update:**

https://kubernetes.io/docs/concepts/architecture/master-node-communication/

![2018-08-28 15 48 06](https://user-images.githubusercontent.com/11725486/44705505-cbe1d400-aad9-11e8-9896-8f95f5b8589

[2018-08-28 08:55] SebGX opened #10108 "Incomplete guidance for Kubectl run shell command on pod"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**
Kubectl won't find a pod to run a command unless you include the `--namespace=<namespace>` argument. Super obvious once you realize, not so obvious when the docs say you only need to specify the pod name. Incomplete docs are quite a time waster because you think that you're doing something wrong whereas the guidance given is the

[2018-08-28 09:07] #7452 closed

[2018-08-28 14:02] davidvanlaatum opened #10115 "Issue with k8s.io//docs/tasks/debug-application-cluster/audit/ [File: /content/en/docs/tasks/debug-application-cluster/audit.md]"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
html escaping is wrong for logstash section step 4 is unusable

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/tasks/debug-application-cluster/audit/

[2018-08-28 15:21] zehicle opened #10117 "Adding Kubernetes Kubeadm + Digital Rebar integration for On-Prem installs"
**This is a...**
- [X] Feature Request
- [ ] Bug Report

**Problem:**

Current documentation is missing information about Kubernetes Rebar Integrated Bootstrap (KRIB).  It is a zero touch provisioning approach that relies on community tooling (kubeadm) to create simple and HA clusters including rolling upgrades, helm and sonobuoy integrations (so far).

**Proposed Solution:**

Create missing docum

[2018-08-28 17:37] ChristopherHanson opened #10120 "Issue with k8s.io//docs/tasks/tls/ [File: /content/en/docs/tasks/tls/_index.md]"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
Kubelet certificate rotation link (https://kubernetes.io/docs/tasks/administer-cluster/certificate-rotation/) on this page results in a 404

**Proposed Solution:**
Direct the link to the correct page or remove?

**Page to Update:**
https://kubernetes.io/docs/tasks/tls/

Kubernetes Version: 1.11

[2018-08-28 20:23] zacharysarah opened #10121 "Broken links to kubelet-tls-bootstrapping"
### This is a

- [ ] Feature Request
- [x] Bug Report

### Problem

There's a [broken link](https://kubernetes.io/docs/tasks/tls/certificate-rotation/#overview) for kubelet certificate rotation.

It looks like the file URL was changed during the [1.6 release](https://github.com/kubernetes/website/pull/3617) and handled with a [redirect](https://github.com/kubernetes/website/blob/55eee978cdfbfb3e27

[2018-08-28 20:26] zacharysarah commented on #10121
I'll open a PR today to fix this.

/cc @chenopis and @tengqm for visibility to the upstream causes 👋

[2018-08-28 20:26] zacharysarah commented on #10121
/cc @idvoretskyi 👋

[2018-08-29 02:38] zembutsu commented on #10103
I signed CLA.

[2018-08-29 08:36] achalk14 commented on #10039
@CaoShuFeng Hi,
Seems to be working as expected now.

[2018-08-29 08:36] #10039 closed

[2018-08-29 09:06] sabarnwa commented on #2555
I am seeing this issue now. Can someone help me with it please.

[2018-08-29 09:12] nasa9084 commented on #10106
@CaoShuFeng Thank you.

[2018-08-29 09:44] CaoShuFeng commented on #10115
See: https://github.com/kubernetes/website/pull/9970

[2018-08-29 15:47] gforghetti opened #10131 "Issue with k8s.io//docs/reference/kubectl/kubectl/ [File: /content/en/docs/reference/kubectl/kubectl.md]"
Many links on this page are broke - HTTP code 404

[2018-08-29 16:52] dtornow opened #10132 "Pod & Container Lifecycle"
Hello,

Cross post from [kubernetes/kubernetes](https://github.com/kubernetes/kubernetes/issues/67973)

**Problem:**

Insufficient information about the pod lifecycle and how a pod's state maps to the pod's containers' states. Specifically the documentation states that "The phase of a Pod is a simple, high-level summary of where the Pod is in its lifecycle. The phase is not intended to be a compre

[2018-08-29 17:29] #10103 closed

[2018-08-29 18:45] timothysc commented on #9692
/cc @neolit123 @kad  @kubernetes/sig-cluster-lifecycle

[2018-08-29 19:44] siw36 opened #10135 "Issue with k8s.io//docs/setup/independent/install-kubeadm/ [File: /content/en/docs/setup/independent/install-kubeadm.md]"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
The very last command `systemctl restart kubelet` on [Installing kubeadm](https://kubernetes.io/docs/setup/independent/install-kubeadm/) leads to an error because kubelet cant find a configuration file.
Output of `systemctl status kubelet.service`:
[code]

**Proposed Solution:**
The following command fixes the error:
[code]
I've

[2018-08-29 20:09] neolit123 commented on #10135
thank you for the report. i agree that this is bit confusing.
the kubelet on it's own is not functioning with that systemd-droping file and without the pre-setup kubeadm does anyway. after setting a cgroup driver the restart is needed, but we shouldn't really explain more if it fails there.

this is already outlined here:
https://kubernetes.io/docs/setup/independent/kubelet-integration/#workflow-w

[2018-08-29 20:09] #10135 closed

[2018-08-29 20:19] neolit123 opened #10137 "Markdown is not rendered in headings"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
markdown is not working in page headings - e.g. here:
https://kubernetes.io/docs/setup/independent/kubelet-integration/#workflow-when-using-kubeadm-init

related to:
https://github.com/kubernetes/website/issues/10106
it seems that the headings also don't support `>`

**Proposed Solution:**

either
- support markdown in headings

[2018-08-29 20:19] neolit123 commented on #10137
/kind bug

[2018-08-29 21:59] neolit123 commented on #10137
/assign @lucperkins

[2018-08-29 23:51] kschumy opened #10141 "Issue with k8s.io//docs/reference/kubectl/kubectl/ [File: /content/en/docs/reference/kubectl/kubectl.md]"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
None of the links under the "See Also" section work (404)

**Proposed Solution:**
Not sure. Sorry!

**Page to Update:**
https://kubernetes.io/docs/reference/kubectl/kubectl/, specifically in the ["See Also"](https://kubernetes.io/docs/reference/kubectl/kubectl/#see-also) section

[2018-08-29 23:53] kschumy commented on #10141
Just realized this is a duplicate issue. Sorry! Closing it now

[2018-08-29 23:53] #10141 closed

[2018-08-29 23:55] kschumy commented on #10131
Specifically in the [See Also](https://kubernetes.io/docs/reference/kubectl/kubectl/#see-also) section

[2018-08-30 04:56] feiskyer commented on #9692
Is this referring to https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#use-kubeadm-with-other-cri-runtimes?

[2018-08-30 17:15] dankohn commented on #9634
<img width="1419" alt="screen shot 2018-08-30 at 12 31 11 pm" src="https://user-images.githubusercontent.com/3083270/44867081-e7251e80-ac54-11e8-89f4-9a6f32432965.png">

@chenopis kubernetes.io is requiring https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css which is loading slowly in China. Could you please host that file locally?

Also, we're referencing doubleclick for a

[2018-08-30 18:11] lucperkins commented on #9634
@dankohn I can make some changes and submit a PR. In general we could use some housekeeping in the static assets domain and this seems like a good place to start.

[2018-08-30 23:08] #7903 closed

[2018-08-31 03:06] tengqm opened #10158 "The SCTP protocol support needs documentation"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
The support to SCTP protocol added in release-1.12 needs documentation.

**Proposed Solution:**
- Update container, pod, service, endpoint, networkpolicy documentation where appropriate
- Update the feature gate reference by adding 'SCTPSupport'
- Update kubectl doc for `kubectl expose` command
- Document changes to kube-proxy

[2018-08-31 03:17] tengqm opened #10160 "Documentation needed for Node lease management"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
The node lease feature added upstream (kubernetes/kubernetes#66257) needs documentation.

**Proposed Solution:**
- Add an article into cluster administering section explaining node leases and their management
- Augment node management pages where appropriate about this feature
- Update the feature gate reference

**Page to Upda

[2018-08-31 04:13] #7943 closed

[2018-08-31 06:34] chenyb4 opened #10164 "running as a cluster addon link error"
**This is a...**

- [ x] Bug Report

**Problem:**
When i was exect "running as a cluster addon" link error, appear "404 page not found".
The doc  https://kubernetes.io/docs/tasks/debug-application-cluster/monitor-node-health/#enable-disable-in-gce-cluster "running as a cluster addon" link

error link url: https://kubernetes.io/docs/admin/cluster-large/#addon-resources

[2018-08-31 06:59] chenyb4 commented on #10164
/assign

[2018-08-31 11:39] #10164 closed

[2018-08-31 19:04] BenHall commented on #7381
Just doing some cleanup of stale issues. This has been fixed and can be closed.

Again, thank you for reporting the problem.

[2018-08-31 19:09] BenHall commented on #9605
Are you using Ctrl+C or Command+C? I've just checked and on OSX, Ctrl+C works as expected. Command+C doesn't have any response, this is the same behaviour as iTerm on the desktop.

[2018-08-31 19:12] BenHall commented on #9517
Thanks, it looks like `less` causes some problems with Katacoda. We'll investigate.

[2018-08-31 22:58] MNF opened #10170 "Issue with k8s.io//docs/concepts/workloads/controllers/cron-jobs/ [File: /content/en/docs/concepts/workloads/controllers/cron-jobs.md]"
**This is a...**

- [ x] Feature Request

**Problem:**
The documentation refers that  “schedule written in Cron format”, but from https://en.m.wikipedia.org/wiki/Cron

It is not clear do CronJobs support seconds.

**Proposed Solution:**
Clarify do CronJobs support seconds.

**Page to Update:**
https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/

[2018-09-01 07:52] shubheksha commented on #7381
Thank you, @BenHall!
/close

[2018-09-01 07:52] #7381 closed

[2018-09-01 21:55] #5193 closed

[2018-09-02 04:47] Arbinson opened #10174 "Issue with k8s.io//docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/ [File: /content/en/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive.html]"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2018-09-02 05:01] #7559 closed

[2018-09-03 00:43] tengqm commented on #8905
/remove-lifecycle stale

[2018-09-03 07:41] TJC opened #10177 "Documentation on CronJobs.spec.startingDeadlineSeconds is contradictory [File: /content/en/docs/tasks/job/automated-tasks-with-cron-jobs.md]"
**This is a...**

- [X] Feature Request
- [ ] Bug Report

**Problem:**

The documentation around CronJobs' `spec.startingDeadlineSeconds` is unclear.

It currently reads:

Question 1: Where does the value of "100" come from?

Question 2: The description in the second paragraph contradicts the first paragraph.

Is the parameter specified in seconds? Or in jobs-missed-per-number-of-seconds?

If jobs

[2018-09-03 14:19] neolit123 commented on #8313
/remove-lifecycle rotten

[2018-09-03 20:40] #7301 closed

[2018-09-03 20:40] #7302 closed

[2018-09-03 23:30] BenHall commented on #9517
Could you please retest this and see if it's still causing you an issue?

Thank you for your help.

[2018-09-04 06:59] neopaf commented on #8893
Friends, please consider either copy/pasting explanation from statefulset or just remove the wrong explanation and put in a good one.

[2018-09-04 13:55] castrojo opened #10184 "Pages generated from k/community should be removed"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

Pages generated from the old snapshots of the community repo are not updated. For example: https://kubernetes.io/docs/community/guide/

Unfortunately these pages are among the top results for "kubernetes contributor guide" and "kubernetes mentoring".

**Proposed Solution:**

Remove pages as they're filed under contributor.k8s.

[2018-09-04 17:39] vincepri commented on #9692
/lifecycle active

[2018-09-04 20:08] tomfriedhof commented on #7776
I ran into the same issue as the error above.  I ended up upgrading `kops` first ant then updating the cluster with `kops upgrade cluster` to get things on the latest version.

[2018-09-04 22:05] #8018 closed

[2018-09-04 23:05] alkaliphile opened #10188 "Update README to specify Hugo extended is required"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

The README doesn't mention that the extended version of Hugo is required to correctly build the project. With only the base version, the site will build when running `make serve` but it won't watch for changes. Additionally, the SASS files will not be compiled and updated with Hugo's base version.

This could potentially save

[2018-09-05 00:33] 2rs2ts commented on #7581
/remove-lifecycle stale

[2018-09-05 05:45] #10094 closed

[2018-09-05 20:27] #5409 closed

[2018-09-05 21:51] neolit123 commented on #8982
https://kubernetes.io/docs/reference/setup-tools/kubeadm/generated/kubeadm_init/

still not sure why this is happening.

/remove-lifecycle stale
/assign

[2018-09-06 00:58] edpeng opened #10202 "Issue with Module 4 tutorial failing to start in terminal"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
Module 4 scenario failing to load.

$ sleep 1; launch.sh
Command 'launch.sh' is available in '/usr/bin/launch.sh'
launch.sh: command not found

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2018-09-06 03:14] #10202 closed

[2018-09-06 03:14] edpeng commented on #10202
tried again and it's working

[2018-09-06 04:35] #7904 closed

[2018-09-06 10:41] #5308 closed

[2018-09-06 11:43] harshvkarn commented on #8967
/close

[2018-09-06 11:43] #8967 closed

[2018-09-07 03:08] scottslowe commented on #9641
I'll go ahead and close this issue. Some additional testing showed that it's not necessary to install the CNI plugin after the first control plane node.

[2018-09-07 03:08] #9641 closed

[2018-09-07 10:15] tnir opened #10218 "hugo command not work for only content/en (1.10, 1.11 only)"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**

`hugo` does not work when `content/cn` is deleted on release-1.10 and release-1.11. It does not affect on master (and release-1.12 in the future).

This bug is apparently due to disorder in `content/en` This will be an obstacle to translate docs to other languages than Chinese.

**Proposed Solution:**

Fix file/directory struct

[2018-09-07 10:35] tnir commented on #10218
Thanks to @zembutsu and @kubernetes/kubernetes-docs-ja-admins

/assign @tnir

[2018-09-07 11:36] minac opened #10221 "Copy to clipboard functionality on website copies name of file as well"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
Copy to clipboard functionality on website code snippets copies name of file at the top as well as the code itself.

**Proposed Solution:**
Fix javascript that does that to not include the name of the file? :)

**Page to Update:**
Any page with a code snippet on the website. Example:
https://kubernetes.io/docs/tasks/configure-po

[2018-09-07 14:47] walkthrough opened #10225 "Issue with k8s.io//docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/ [File: /content/en/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive.html]"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
tutorials module 1 sumary is lost

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2018-09-07 15:00] castrojo opened #10226 "YouTube channel should be linked from k8s.io"
**This is a...**

- [x ] Feature Request
- [ ] Bug Report

**Problem:**

We have a youtube channel with over 9k subscribers, but we don't link to it from the website!

**Proposed Solution:**

Link to youtube.com/kubernetescommunity from the kubernetes.io website. Probably at the bottom with a little icon like we do our other properties?

**Page to Update:**
https://kubernetes.io/

[2018-09-07 18:34] jingxu97 opened #10231 "CSI volume type is missing in Persistent Volume page"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
In Kubernetes Persistent Volume page, CSI volume type is missing.

**Proposed Solution:**
Add CSI volume type information.

**Page to Update:**
https://kubernetes.io/docs/concepts/storage/persistent-volumes/

[2018-09-07 23:17] #7801 closed

[2018-09-08 02:11] tengqm commented on #9003
/remove-lifecycle stale

[2018-09-08 10:30] asakapab0i opened #10237 "Can we please change the examples from fake ones to decent one?"
**This is a...**

- [x ] Feature Request
- [ ] Bug Report

**Problem:**
Can we please change the examples from fake ones to decent one? Some newbie like me can't follow how perform an access to the kubernetes web UI.

**Proposed Solution:**
More realistic examples perhaps?

Instead of fake CA maybe a real CA with all the text in it. It may not work but its the same text we expect if we follow the

[2018-09-08 19:35] zmerlynn opened #10239 "kubernetes.io serving invalid cert"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
https://Kubernetes.io is serving an invalid cert

**Proposed Solution:**
It shouldn't. 😢

**Page to Update:**
https://kubernetes.io/...

[2018-09-08 19:36] zmerlynn commented on #10239
cc @thockin (I think you were messing with both Kubernetes.io and k8s.io yesterday)
cc @lavalamp - I remember a while ago you had enough access to change this?

[2018-09-08 19:38] zmerlynn commented on #10239
Seems to be back working now, probably a hosting issue?

[2018-09-09 11:54] soroush-karimi opened #10241 "The documentation for all the Kubectl commands are missing on the website"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
Example: https://kubernetes.io/docs/reference/kubectl/kubectl/kubectl_create.md
This is referenced from https://kubernetes.io/docs/reference/kubectl/kubectl/

[2018-09-09 22:12] louisscruz commented on #8639
I just came back to say that even though the tutorial is very different now I ran into the same exact problem. Fortunately, the steps I outlined above did it for me again. I must have some weird environment trouble going on. Anyways, so long as it eventually works! Now seeing:

[code]

[2018-09-10 06:47] KiraResari opened #10247 "Issue with k8s.io//docs/tutorials/kubernetes-basics/explore/explore-interactive/ [File: /content/en/docs/tutorials/kubernetes-basics/explore/explore-interactive.html]"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**

The following interactive tutorial is not working properly:
https://kubernetes.io/docs/tutorials/kubernetes-basics/explore/explore-interactive/

The  terminal is stuck at "Starting Kubernetes..." (for over 15 minutes now), and I can't execute any commands. There  is no "$" command prompt. I can still type in the terminal, but n

[2018-09-10 07:04] JadeRing opened #10249 "Issue with k8s.io//docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/ [File: /content/en/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive.html]"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
Interactive Tutorial  shows nothing.

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2018-09-10 13:38] shubheksha commented on #10249
@JadeRing, could you update the bug with the details of what browser you're using and possibly a screenshot?

[2018-09-10 13:40] shubheksha commented on #10247
Could you try again? @KiraResari
If it still doesn't work, could you share your browser version and a screenshot?
Thanks!

[2018-09-10 18:02] misskecupbung opened #10261 "When i run the command : kubectl -n sock-shop get pods , Status pod is ImagePullBackOff and ErrImagePull."
**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**
When i run the command : kubectl -n sock-shop get pods , Status pod is ImagePullBackOff and ErrImagePull.
[code]

**Proposed Solution:**
Don't know:(

**Page to Update:**
https://kubernetes.io/...

[2018-09-10 22:36] lucperkins commented on #10221
/assign

[2018-09-11 01:27] tengqm commented on #10261
Obviously you got image repository connection problem. Please note this project is for documentation improvements. Please raise questions like this to stackoverflow or slack users channel. Closing this because it is not a documentation issue.

[2018-09-11 01:27] #10261 closed

[2018-09-11 05:30] mengqiy commented on #9003
@steveperry-53 I believe it is intended to run using `go run update-imported-docs.go foo.yaml` at the beginning.

[2018-09-11 13:55] shubheksha commented on #8451
Since there are has no update on this, closing it.
@yanglong86, feel free to reopen and update it or open another issue.
/close

[2018-09-11 13:55] #8451 closed

[2018-09-11 13:56] shubheksha commented on #8716
Since there are has been no update on this, I'm closing it.
@otello90, feel free to reopen and update it or open another issue.
/close

[2018-09-11 13:56] #8716 closed

[2018-09-11 13:56] shubheksha commented on #8655
Since there are has been no update on this, I'm closing it.
@4194sunny, feel free to reopen and update it or open another issue.
/close

[2018-09-11 13:56] #8655 closed

[2018-09-11 13:59] shubheksha commented on #10249
Thank you, @JadeRing!
cc: @BenHall

[2018-09-11 14:03] shubheksha commented on #10225
@walkthrough, could you elaborate a little on what you mean by the summary being lost?
The summary seems to be accessible using this URL: https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro/#summary

[2018-09-11 14:05] shubheksha commented on #9672
Since there has been no update on this, I'm closing it.
@yangzhih, feel free to reopen and update or open another issue.
/close

[2018-09-11 14:05] #9672 closed

[2018-09-11 14:05] shubheksha commented on #9515
Since there has been no update on this, I'm closing it.
@guptaAkshay06, feel free to reopen and update or open another issue.
/close

[2018-09-11 14:05] #9515 closed

[2018-09-11 14:06] shubheksha commented on #9095
Since there has been no update on this, I'm closing it.
@Murillosan00, feel free to reopen and update or open another issue.
/close

[2018-09-11 14:06] #9095 closed

[2018-09-11 14:06] shubheksha commented on #9015
Since there has been no update on this, I'm closing it.
@xiang6175, feel free to reopen and update or open another issue.
/close

[2018-09-11 14:06] #9015 closed

[2018-09-11 14:06] shubheksha commented on #9006
Since there has been no update on this, I'm closing it.
@miska473, feel free to reopen and update or open another issue.
/close

[2018-09-11 14:06] #9006 closed

[2018-09-11 14:07] shubheksha commented on #8991
Since there has been no update on this, I'm closing it.
@testformations, feel free to reopen and update or open another issue.
/close

[2018-09-11 14:07] #8991 closed

[2018-09-11 14:08] shubheksha commented on #8781
@timgriffiths, are you still running into this or can this issue be closed?

[2018-09-11 14:09] shubheksha commented on #8448
Since there has been no update on this, I'm closing it.
@chenhao424055, feel free to reopen and update or open another issue.
/close

[2018-09-11 14:09] #8448 closed

[2018-09-11 14:18] shubheksha commented on #9747
Since there has been no update on this, I'm closing it.
@Shinerrs, feel free to reopen and update or open another issue.
/close

[2018-09-11 14:18] #9747 closed

[2018-09-11 14:18] shubheksha commented on #9737
Since there has been no update on this, I'm closing it.
@KateJC, feel free to reopen and update or open another issue.
/close

[2018-09-11 14:18] #9737 closed

[2018-09-11 14:19] shubheksha commented on #1381
/remove-lifecycle rotten

[2018-09-11 14:26] shubheksha commented on #8287
@MrAmbiG, has this issue been fixed or does it still persist?

[2018-09-11 14:27] BenHall commented on #10249
Thanks @shubheksha

Thanks @JadeRing for alerting us. The 403 indicates that Cloudflare may have blocked your IP. Which country are you visiting coming?

In the meantime, we'll need to add a message which detects these errors and displays a more friendly message.

[2018-09-11 14:31] shubheksha commented on #8229
The `.properties` files are accessible at the correct URL based on the docs.
/close

[2018-09-11 14:31] #8229 closed

[2018-09-11 14:31] shubheksha commented on #8221
/remove-lifecycle rotten

[2018-09-11 14:32] shubheksha commented on #8213
@martinomburajr, does this issue persist still?

[2018-09-11 14:33] shubheksha commented on #8188
/remove-lifecycle rotten

[2018-09-11 14:35] shubheksha commented on #8158
@mlem, are you still running into this issue? If not, please close this issue :)

[2018-09-11 14:35] shubheksha commented on #8113
@sakthiskumar, is this still an issue? If not, could you please close it?

[2018-09-11 14:37] shubheksha commented on #8043
@sam0392in, not sure if this is a docs related issue, could you try asking this in slack perhaps?
/close

[2018-09-11 14:37] #8043 closed

[2018-09-11 15:36] onitake opened #10272 "Documentation should not mention ingress controller specific annotations [File: /content/en/docs/concepts/services-networking/ingress.md]"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
The ingress resource documentation describes examples that contain an annotation that will not work with other ingress controllers besides nginx: `nginx.ingress.kubernetes.io/rewrite-target`

**Proposed Solution:**
While this may help some users, there is also a generic rewrite-target annotation called `ingress.kubernetes.io/re

[2018-09-11 17:49] nanthan commented on #8158
when I run this command on kubectl proxy

[code]

Error occured on both Module 2 and Module 3 Interactive Tutorial

[2018-09-11 19:09] shubheksha commented on #8158
cc: @BenHall - can you please look into this once?

[2018-09-11 19:10] BenHall commented on #8158
@shubheksha Thanks! Will do.

[2018-09-11 20:01] tpepper commented on #10158
/milestone v1.12

This feature has merged to k/k ahead of code freeze, needs docs.

[2018-09-11 20:03] anlunas commented on #10272
Working on it

[2018-09-11 21:30] DStorck commented on #10241
if the goal of the page is to link to the reference docs, I can do this
( should broken kubectl_create link to  https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#create)

[2018-09-12 00:37] tnir commented on #10218
@zacharysarah Thanks for handling all things related to the issue.

Closed by #10219 and #10220

/close

[2018-09-12 00:37] #10218 closed

[2018-09-12 02:16] JadeRing commented on #10249
thanks @BenHall  for handling this,  i was visiting from China.

[2018-09-12 04:26] KiraResari commented on #10247
Okay now it works again. It must have been a temporary interruption.

[2018-09-12 06:10] shubheksha commented on #10247
Awesome, glad it works now! Closing this issue 😃
/close

[2018-09-12 06:10] #10247 closed

[2018-09-12 06:43] kumarsanu1993 opened #10277 "Error: lstat /var/log/apps:no such file or directory"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2018-09-12 06:47] kumarsanu1993 commented on #10277
Hi
Today i have upgraded my cluster  following worker node to latest version 1.10.7. After the upgrade i have observed that my Analytics pod is giving **"CreateContainerConfigError"** and then i checked for the logs of Analytics pod and got error
"Error: lstat /var/log/apps:no such file or directory" .

Please suggest the solution to fix this error ASAP.

[2018-09-12 08:07] BenHall commented on #10249
@JadeRing Could you tell me what happens when you go to the course directly on https://katacoda.com/kubernetes-bootcamp ?

[2018-09-12 08:42] JadeRing commented on #10249
https://katacoda.com/kubernetes-bootcamp ?
this website works fine for me

![p1](https://user-images.githubusercontent.com/38696086/45413047-c7f1ac80-b6aa-11e8-897c-a2130e20cff1.png)
![p2](https://user-images.githubusercontent.com/38696086/45413048-c7f1ac80-b6aa-11e8-9e25-ba2503712d2b.png)

[2018-09-12 09:01] JadeRing commented on #10249
@BenHall   It seems the problem is my proxy(shadowsocks), I turned its mode from PAC to Global, then the problem is gone.

![p3](https://user-images.githubusercontent.com/38696086/45414141-4c452f00-b6ad-11e8-9aea-f56a21025dbf.png)

I‘m sorry to waste your time, and thanks a lot.

[2018-09-12 09:29] shubheksha commented on #10277
@kumarsanu1993, this doesn't look like an issue related to docs. Please consider asking in the appropriate support channels like Stackoverflow/slack.
/close

[2018-09-12 09:29] #10277 closed

[2018-09-12 09:53] BenHall commented on #10249
Thanks for letting us know! I'm not familiar with shadowsocks, is there anything we can do to get it to work in PAC mode? Or it is just because it's a 3rd party script being loaded into the domain?

[2018-09-12 10:31] JadeRing commented on #10249
As far as I know, When I use Pac mode, the domain name will use the proxy in the pac.txt file, and the domain name not in the pac.txt file will not go through the proxy.
Global mode, all the traffice go through the proxy.
Attachment  is my pac.txt  file.

[pac.txt](https://github.com/kubernetes/website/files/2374702/pac.txt)

[2018-09-12 10:33] JadeRing commented on #10249
And if you still want get it to work in PAC mode, I'm very happy to cooperate with you.

[2018-09-12 14:33] izakp commented on #2979
This would be great to have documented for specific versions - took a lot of time hunting the codebase to see what was implicitly enabled / disabled for v1.10

[2018-09-12 14:38] izakp commented on #2979
It would be great to have it documented under which API resources lie within a specific version - something like https://matthewpalmer.net/kubernetes-app-developer/articles/kubernetes-apiversion-definition-guide.html

[2018-09-13 09:32] poothia commented on #10170
CronJob does not support seconds.

I think you are referring to "startingDeadlineSeconds" which is a different concept.

"the CronJob controller checks if the time now is not after the time of its scheduledTime + startingDeadlineSeconds, i.e. that it's not too late to start the job (passed the deadline). If it wasn't too late, the job will continue to be attempted to be started by the CronJob Cont

[2018-09-13 11:13] MNF commented on #10170
We want to pull often changing data every 10 sec.  Cron format in general may support seconds. You informed me, that CronJob does not support seconds, which make it not useful for our purpose.
I still suggest to specify in documentation that “schedule written in Cron format (**_without support of seconds)”_**

[2018-09-13 12:18] timgriffiths commented on #8781
@shubheksha, @ajaeger I agree following the documentation dose work as stated, I guess where this problem all started was a lot of my servers sit behind a firewall so usually no drama set up a download of the public repo with "reposync", My real problem was that because of the way this repo is set up with the rpm's not in the same location as the repodata ie. `<location href="../../pool/...rpm` re

[2018-09-13 14:10] ctriple opened #10291 "Issue with k8s.io//docs/tutorials/stateless-application/guestbook/ [File: /content/en/docs/tutorials/stateless-application/guestbook.md]"
**Example redis-slave deployment continues to crash**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
NAME                            READY     STATUS             RESTARTS   AGE
redis-master-6b464554c8-4lzxw   1/1       Running            0          23m
redis-slave-b58dc4644-2bgkv     0/1       CrashLoopBackOff   1          20m
redis-slave-b58dc4644-k4mjf     0/1       CrashLoopBackOff   1

[2018-09-14 02:27] rocketraman commented on #9032
/remove-lifecycle stale

[2018-09-14 09:21] mbsanm opened #10298 "Issue with k8s.io//docs/tasks/access-application-cluster/web-ui-dashboard/ [File: /content/en/docs/tasks/access-application-cluster/web-ui-dashboard.md]"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**

The text "Please note, this works only if the apiserver is set up to allow authentication with username and password" is confusing. The dashboard login page that appears does not look for a username and password, it looks for either a "Kubeconfig" or a "Token".

**Proposed Solution:**

I don't know what the solution is becaus

[2018-09-14 15:59] mbsanm commented on #10298
I did eventually generate new tokens that are not rejected, e.g., one quick way is to use kubeadm token create. It's still not clear why the others did not work. However my problem now is that when "Sign in" is clicked nothing happens, i.e., the webbrowser remains stuck on the login page, it's just that the "Authentication failed. Please try again." message does not appear for the new token. (This

[2018-09-14 16:10] JSkimming commented on #9807
I've just had this issue.

[code]

It would be good to know what field selectors are available.

I'm happy to submit a PR to update the docs if you could point me to the code where I can work it out.

[2018-09-14 22:00] #7997 closed

[2018-09-14 22:00] #8045 closed

[2018-09-14 22:15] DStorck commented on #10241
fixed by https://github.com/kubernetes/website/pull/10145

[2018-09-16 11:00] aligoren opened #10309 "The "Learn Kubernetes Basics" Button on The Menu Looks Cramped"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

Hi, I'm using Firefox Quantum 61.0.1. Today, I visited the Kubernetes' website. When I was scrolling the page, I saw the "**Learn Kubernetes Basics**" button on the menu. It looked cramped. There is an example in below screenshot.

![image](https://user-images.githubusercontent.com/4205423/45595629-7b161a80-b9b7-11e8-9686-868d

[2018-09-16 19:41] janosi opened #10310 "Problem with the creation of the kubectl reference documentation"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
I tried to update the kubectl reference doc following https://kubernetes.io/docs/contribute/generate-ref-docs/kubectl/. The target is v1.12 - so I checked out release-1.12 on k/k. The kubectl code change is already included in that k/k branch.

When I get to the point "make cli" I get the following error:

gen-kubectldocs/genera

[2018-09-17 02:58] craigbox commented on #9115
/remove-lifecycle stale

Why did this never get assigned to anyone for triage?  @jaredbhatti

[2018-09-17 09:01] #9101 closed

[2018-09-17 15:52] kwiesmueller opened #10317 "Dead Link on kubectl docs"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
There is a dead link in the kubectl docs for `kubectl set`:
https://kubernetes.io/docs/reference/kubectl/kubectl/
-> https://kubernetes.io/docs/reference/kubectl/kubectl/kubectl_set.md

**Proposed Solution:**
Remove or fix the link.

**Page to Update:**
https://kubernetes.io/docs/reference/kubectl/kubectl/
https://kubernetes.io/

[2018-09-17 15:53] kwiesmueller commented on #10317
Seems related (more specific) to: https://github.com/kubernetes/website/issues/10131

[2018-09-17 18:54] janosi commented on #10310
@kbhawkey For sure it is not a silly request, I appreciate your help.
Yes, the k/k branch release-1.12 contains my change it is in pkg/kubectl/cmd/expose.go:

`Use: "expose (-f FILENAME | TYPE NAME) [--port=port] [--protocol=TCP|UDP|SCTP] [--target-port=number-or-name] [--name=name] [--external-ip=external-ip-of-service] [--type=type]"`

About the tests: yes, I wrote a unit test to test the new "p

[2018-09-17 19:18] mhausenblas commented on #8607
/remove-lifecycle stale

[2018-09-17 19:18] mhausenblas commented on #8607
@kbarnard10 any news here?

[2018-09-18 01:09] jclin829 opened #10322 "creating token timed out waiting for the condition"
**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
When I issued

kubeadm token create --print-join-command --ttl=0 -v 4

I got following:

I0917 18:04:29.284414   20721 token.go:225] [token] creating token
timed out waiting for the condition
?
Can anyone explain what and where the condition is and how to free it?

**Page to Update:**
https://kubernetes.io/...

[2018-09-18 01:12] jclin829 opened #10323 "Looping error for CNI"
I encountered following errors. It is going in infinite loop and I found no practical way to fix this.

**Problem:**

Sep 17 18:11:02 master kubelet: W0917 18:11:02.157872     721 cni.go:126] Error loading CNI config file /etc/cni/net.d/10-flannel.conf: error parsing configuration: unexpected end of JSON input
Sep 17 18:11:02 master kubelet: W0917 18:11:02.157890     721 cni.go:172] Unable to upda

[2018-09-18 01:48] neolit123 commented on #10322
this can happen if you don't have a cluster running.
you first have to `kubeadm init ...` your cluster and then you can create a new token.

if you are still experiencing an issue please file an issue in the `kubernetes/kubeadm` repo, but please fill the whole issue template.

thanks.

/close

[2018-09-18 01:48] #10322 closed

[2018-09-18 07:18] janosi commented on #10310
Meanwhile I got support on Slack/#sig-docs. I had to follow the steps in github.com/kubernetes-incubator/reference-docs/.travis.yml, and on that way the process worked.

[2018-09-18 08:00] unamuno opened #10326 "Issue with k8s.io/docs/setup/independent/high-availability/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
The docu does not tell you on which node you have to execute the commands.

**Proposed Solution:**
Instead of "do xyz" write "SSH into the first Kube Master and to xyz"

**Page to Update:**
https://kubernetes.io/docs/setup/independent/high-availability/

[2018-09-18 11:12] premkumar403 opened #10328 "Issue with k8s.io/docs/concepts/workloads/controllers/deployment/"
The --record does not work when trying to undo the deployment
kubectl rollout undo deployment/nginx-deployment. I understand that --record helps to know the changes made to the deployment and to see in rollout history. But, Even when we are undo -ing the deployment to the old version is also changing or updating the deployment right ?  why that is not recorded using --record.

**This is a...**

-

[2018-09-18 11:56] kbhawkey commented on #9152
/close

[2018-09-18 11:56] #9152 closed

[2018-09-18 13:50] shubheksha commented on #10328
@premkumar403, not sure if this is a docs issue. Have you tried any of the [support channels](https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md)?

[2018-09-18 13:50] jimangel commented on #7424
/close

[2018-09-18 13:50] #7424 closed

[2018-09-18 13:55] shubheksha commented on #10104
@b10s, could you please specify which link is broken?

[2018-09-18 14:02] shubheksha commented on #9630
@pkruk, are you still running into this issue?

[2018-09-18 14:03] shubheksha commented on #9453
@shruthibhaskar ping - are you still running into this issue?

[2018-09-18 14:04] shubheksha commented on #10241
/triage duplicate
Ref #10080

[2018-09-18 14:04] shubheksha commented on #10317
/triage duplicate
Ref #10080

[2018-09-18 14:08] shubheksha commented on #10323
@premkumar403, not sure if this is a docs issue. Have you tried asking in any of the [support channels](https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md)?

[2018-09-18 14:10] premkumar403 commented on #10328
@shubheksha, I haven't tried the support channels. Thanks for helping. Will try the support channels.

[2018-09-18 21:53] neolit123 commented on #8846
/close
most of these are resolved, if something isn't we are tracking in `k/kubeadm`.

[2018-09-18 21:53] #8846 closed

[2018-09-18 21:58] timothysc commented on #8304
xref https://github.com/kubernetes/kubeadm/issues/526

[2018-09-19 06:10] nikhita commented on #5993
/remove-lifecycle stale

[2018-09-19 08:37] dujing0526 opened #10333 "Issue with k8s.io/docs/home/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2018-09-19 08:50] pkruk commented on #9630
Hi,
not anymore, that was happen because of my nat configuration, everything is alright at now :) This issue can be closed.

[2018-09-19 08:53] shubheksha commented on #9630
Thanks for the update!
/close

[2018-09-19 08:53] #9630 closed

[2018-09-19 08:53] shubheksha commented on #10333
@dujing0526, could you please elaborate on what's missing?
/triage needs-information

[2018-09-19 08:54] shubheksha commented on #10328
No problem! Closing this for the time being, feel free to re-open or file another issue :)
/close

[2018-09-19 08:54] #10328 closed

[2018-09-19 12:06] onitake commented on #10272
Cool, thank you.

I did a little bit of research, and it seems that behaviour differs a bit between different ingress controllers, but at least ingress-nginx and Træfik have supported the generic annotation for a while.
I don't know about others.

[2018-09-19 14:26] earizon opened #10337 "Clarify Kubernetes Storage"
** Current tutorials about storage solutions in Kubernetes lack a "bird's view" point of view.

- [ ] Feature Request
- [X ] Bug Report

**Problem:**
Choosing the correct storage solution for a k8s app is *a must*.  The k8s tutorial tends to mean that most k8s are "stateless" applications. **this is completely false (a bug in docs) ** As explained in the video linked in "proposed solution", "state

[2018-09-19 17:53] onitake commented on #10272
Apparently, what I said is not quite true, as can be seen in this comment: https://github.com/kubernetes/ingress-nginx/issues/3109#issuecomment-422802472

But there's a somewhat more pragmatic discussion for Træfik: https://github.com/containous/traefik/pull/1723

However, I think it would make a lot of sense to have a common syntax for different ingress controllers. The `ingress.kubernetes.io/rew

[2018-09-19 21:17] jimangel commented on #8578
/close

[2018-09-19 21:17] #8578 closed

[2018-09-19 22:01] #8704 closed

[2018-09-20 07:26] Trending-Day opened #10349 "Issue with k8s.io/docs/setup/independent/troubleshooting-kubeadm/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
when i kubeadmin init，the following problems arose。
  This error is likely caused by:
                        - The kubelet is not running
                        - The kubelet is unhealthy due to a misconfiguration of the node in some way (required cgroups disabled)
                        - No internet connection is available

[2018-09-20 07:55] janosi commented on #10310
It can be closed, https://github.com/kubernetes/website/pull/10123 is to solve this issue.
/close

[2018-09-20 07:55] #10310 closed

[2018-09-20 08:09] sammit20 opened #10350 "Issue with k8s.io/docs/tasks/debug-application-cluster/resource-usage-monitoring/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2018-09-20 08:14] sammit20 commented on #10350
We have a kubernetes cluster for the entire organisation. And there are namespaces for individual teams to host their projects in that cluster. The problem seems to be monitoring. Since we have only access to our namespace we can't setup any monitoring for the PODs, containers, or the nodes on which our pods are residing. Is there any way to accomplish monitoring of only the namespace without both

[2018-09-20 11:34] scanlanp opened #10351 "Issue with k8s.io/docs/tutorials/kubernetes-basics/explore/explore-interactive/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
Left panel scrollbar does not work. I am using Firefox 60.02 on  LinuxMInt.

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2018-09-20 11:51] shubheksha commented on #10351
@scanlanp, could you please provide a screenshot?

[2018-09-20 11:52] shubheksha commented on #10350
/triage support
@sammit20, this doesn't seem like a docs issue. Have you tried asking in any of the [support channels](https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#support-structures)?

[2018-09-20 11:53] shubheksha commented on #10349
/triage support
@Trending-Day, this doesn't seem like an issue with the docs. Have you tried asking in any of the [support channels](https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#support-structures)?

[2018-09-20 12:16] sammit20 commented on #10350
Sorry about that, just went in the wrong window. Will close this one.

[2018-09-20 12:16] #10350 closed

[2018-09-20 12:30] scanlanp commented on #10351
The error is in the <section id "tutorial" where the tutorial resizer is
overlapping the scroll. Reduce the resizer width or get rid of it
altogether.

On Thu, Sep 20, 2018 at 1:51 PM, Shubheksha <notifications@github.com>
wrote:

--
Patrick MJ Scanlan

[2018-09-20 14:13] neolit123 commented on #10349
this can be caused by a lot of things and common stage that trips the users.

here is a user that has the same issue:
https://github.com/kubernetes/kubernetes/issues/68671#issuecomment-423194561

have a look at the discussion there.
either your images cannot be pulled or the kubelet has an error.

/close

[2018-09-20 14:13] #10349 closed

[2018-09-20 15:39] eminchen opened #10354 "Issue with k8s.io/docs/setup/pick-right-solution/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**

Cannot edit the page, when clicking on edit button it goes to 404.
**Proposed Solution:**

Allow to submit changes to the page content.

The document is missing Cisco Container Platform as another K8s on prep complete turn key solution.

**Page to Update:**
https://kubernetes.io/docs/setup/pick-right-solution/

[2018-09-20 15:58] ryanmcginnis commented on #4205
Bumping again. Using the click-to-copy button still knocks me back to the top of the page. Anyone interested in owning this?

[2018-09-21 03:11] amelie1979 commented on #8030
Turn out restarting docker is not suffisant,,, but reboot the node works..

[2018-09-21 15:13] ksolie opened #10361 "Issue with k8s.io/docs/setup/minikube/"
Hyperlinks are incorrect and returns a "Not Found" from godoc.org

**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**

In the Configuration Kubernetes section https://kubernetes.io/docs/setup/minikube/#configuring-kubernetes, the `apiserver` and `etcd` are the only hyperlinks that work

**Proposed Solution:**
Change hyperlinks to correct godoc.org address

**Page to Update:**
h

[2018-09-21 16:51] tolidano opened #10362 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
I cannot find the dockerfile or source code to the node.js application at the github link provided

**Proposed Solution:**
correct the github link

**Page to Update:**
https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro/

[2018-09-21 18:52] SteamMenace opened #10363 "Issue with k8s.io/docs/reference/kubectl/cheatsheet/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
The text on the kubernetes cheat sheet page for the output command is incorrect:

**Current Text**

**Proposed Solution:**

 should be changed to

 as the -output flag will yield the following error from kubernetes:

**Page to Update:**
https://kubernetes.io/docs/reference/kubectl/cheatsheet/#formatting-output

[2018-09-21 21:08] #9003 closed

[2018-09-21 22:52] #7517 closed

[2018-09-22 16:00] shubheksha commented on #10317
Closing this as a duplicate.
/close

[2018-09-22 16:00] #10317 closed

[2018-09-22 16:00] shubheksha commented on #10241
Closing this as a duplicate.
/close

[2018-09-22 16:00] #10241 closed

[2018-09-22 16:01] shubheksha commented on #8594
Closing this as it's a duplicate.
/close

[2018-09-22 16:01] #8594 closed

[2018-09-22 16:01] shubheksha commented on #8558
Closing this as it's a duplicate.
/close

[2018-09-22 16:01] #8558 closed

[2018-09-22 16:01] shubheksha commented on #8492
Closing this as it's a duplicate.
/close

[2018-09-22 16:01] #8492 closed

[2018-09-22 16:02] shubheksha commented on #8486
Closing this as it's a duplicate.
/close

[2018-09-22 16:02] #8486 closed

[2018-09-22 16:02] shubheksha commented on #8324
Closing this as it's a duplicate.
/close

[2018-09-22 16:02] #8324 closed

[2018-09-22 16:04] shubheksha commented on #8455
Closing this as it's a duplicate.
/close

[2018-09-22 16:04] #8455 closed

[2018-09-22 17:47] giscardff opened #10366 "Kubernetes Overall Documentation"
**This is a...**

- [ X ] Feature Request
- [ ] Bug Report

**Problem:**
I had some difficult in understand how kubernetes works behind the scenes, so I crated an article to help explain it all at one single point.

**Proposed Solution:**
If possible I would like to see it available on kubernetes documentation. I did really spend some times to make things clear and goes through the most relevante

[2018-09-22 19:12] #8152 closed

[2018-09-23 01:16] tengqm commented on #7388
/reopen
/remove-lifecycle rotten

[2018-09-23 12:25] setjet opened #10367 "Issue with k8s.io/docs/tasks/job/coarse-parallel-processing-work-queue/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
Following the steps in this example does not seem to work. I suspect the guide is out of date.
In particular, running a test message through RabbitMQ breaks. Please see below the terminal when attempting to run a test message:

root@temp-78748cf9df-k6h9k:/# nslookup rabbitmq-service
Server:		10.96.0.10
Address:	10.96.0.10#53

N

[2018-09-23 15:47] roychowdhuryrohit-dev opened #10369 "Error in minikube documentation"
**This is a...**

- [x] Bug Report

**Problem:**
`minikube start --vm-driver hyperkit` produces following error -  **Error starting host: Error creating new host: Driver "hyperkit" not found. Do you have the plugin binary "docker-machine-driver-hyperkit" accessible in your PATH?.**

**Proposed Solution:**
Before starting minikube, docker-machine-driver-hyperkit needs to be installed in path.
[code

[2018-09-24 03:44] #6947 closed

[2018-09-24 16:57] #6921 closed

[2018-09-24 18:44] mnemonica opened #10375 "Issue with k8s.io/docs/concepts/workloads/pods/pod-overview/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

The  sentence,

from the following explanation is confusing. I can't tell what it's meant to convey. This paragraph appears to be contrasting three things:

1. Pods created via pod templates
2. "Pods created by a replication controller"
3. "Pods" ("This is in deliberate contrast to pods")

Items 1 and 2 are easy to understand,

[2018-09-24 19:59] #7978 closed

[2018-09-24 23:13] jclin829 opened #10377 "NetworkPlugin cni failed to set up pod "podname_default" network: open /run/flannel/subnet.env: no such file or directory"
**Problem:**

After deploying docker image to the pod. I got:

  Warning  FailedCreatePodSandBox  1d                 kubelet, node2     Failed create pod sandbox: rpc error: code = Unknown desc = failed to set up sandbox container "99e30671c80ab8fe5cedd54fb4edd2ce99ebc45ed120e912d2c7e51f2cab350a" network for pod "node1-6777d4468-d6tvq": NetworkPlugin cni failed to set up pod "node1-6777d4468-d6tvq

[2018-09-25 02:54] tengqm commented on #7388
/close
Already addressed by #8363

[2018-09-25 02:54] #7388 closed

[2018-09-25 03:11] tengqm commented on #10377
This is not a documentation issue. Please try stackoverflow or kubernetes users slack channel. You can even check with the flannel repo and developers.

[2018-09-25 03:11] #10377 closed

[2018-09-25 06:07] nikhita commented on #4135
/remove-lifecycle rotten

still relevant.

[2018-09-25 20:51] rdxmb commented on #9272
/remove-lifecycle stale

[2018-09-26 03:29] lentil1016 opened #10384 "new post proposal "Upgrading a existing single master cluster created with kubeadm to a HA master smoothly""
**This is a Feature propose**

- [x] Feature Request
- [ ] Bug Report

**Problem:** I'm intend to contribute a guide that helping "Upgrading a existing single master cluster created with kubeadm to a HA master smoothly", but I'm not sure where should I put it to. Also the post name I should use in URL.

**Proposed Solution:** My best guess is  `content/en/docs/setup/independent/into-high-availabil

[2018-09-26 03:50] neolit123 commented on #10384
@Lentil1016
thanks for the proposed idea.
my initial feedback here would be that this is probably not necessary given we have the other guide, but i would leave it to others to comment further and make the decision!

/cc @kubernetes/sig-cluster-lifecycle
/assign @chuckha @liztio

[2018-09-26 04:06] Lentil1016 commented on #10384
@neolit123
♥ Thanks for feedback.
Actually, the procedures of "upgrading old cluster" is only a little different from "creating a new one". So I'm also thinking insert it into this post [Creating Highly Available Clusters with kubeadm](https://kubernetes.io/docs/setup/independent/high-availability/). But I'm not sure if that will make this post not easy to be searched by the user, for it meets two

[2018-09-26 09:50] jprukner opened #10385 "Missing jQuery and Bootstrap in API Reference"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Click the button "curl request example" in API reference v1.11.  It does nothing.
jQuery and Bootstrap scripts are missing.
* https://kubernetes.io/js/bootstrap.min.js
* https://kubernetes.io/js/jquery-2.2.0.min.js

**Proposed Solution:**
Add missing scripts.

**Page to Update:**
https://kubernetes.io/js/jquery-2.2.0.min.js
htt

[2018-09-26 15:36] Aghassi opened #10387 "Issue with k8s.io/docs/tasks/configure-pod-container/assign-cpu-ram-container/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**

The links for the `cpu-ram.yaml` template give a 404

**Proposed Solution:**

Fix the links so they don't give a 404 by updating them to the proper endpoints

**Page to Update:**
https://k8smeetup.github.io/docs/tasks/configure-pod-container/assign-cpu-ram-container/

[2018-09-26 16:49] yyhiro opened #10389 "Issue with in k8s.io/docs/concepts/cluster-administration/cloud-providers/ -- openstack section"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

In configuring k8s v1.11 for the OpenStack with kubenet network plugin, when using `[Router]` section of the cloud provider config file, then an error occurs in kubelet such as:

`can't store data at section "Router"`.

**Proposed Solution:**

This problem can be resolved by using follow:

[code]

**Page to Update:**
https://k

[2018-09-26 17:36] mjlangan opened #10391 "Issue with k8s.io/docs/concepts/workloads/controllers/garbage-collection/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The documentation states:
[code]
In practice, on a GKE cluster running Kubernetes 1.10, I've found that the dependent objects are _not_ deleted unless I specify "PropagationPolicy: Background". When I delete Jobs on our cluster without setting the policy, the Job gets removed but its associated Pod remains running. Setting the

[2018-09-26 23:58] ahmetb opened #10394 "/docs/home taking too long to load (due to use.fontawesome.com asset)"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

https://kubernetes.io/docs/home/ is taking 30-90 seconds to load (show anything meaningful on my browser). Something's clearly wrong.

Static assets like images are for some reason delaying the load by at least 20 seconds.

Here's a waterfall chart:

![image](https://user-images.githubusercontent.com/159209/46115746-39eaeb00-c

[2018-09-27 01:35] ahmetb commented on #10394
Doesn’t repro anymore.

Can we load this .js async please?

[2018-09-27 09:29] #7142 closed

[2018-09-27 09:47] CaoShuFeng opened #10397 "Issue with k8s.io/docs/reference/kubectl/kubectl/"
**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**

The hyperlinks to kubectl sub-commands in this page are 404 pages.

![2018-09-27 17-41-10](https://user-images.githubusercontent.com/20855209/46138011-64a47480-c27d-11e8-958e-bd92a8870623.png)

**Page to Update:**
https://kubernetes.io/docs/reference/kubectl/kubectl/

[2018-09-27 10:13] CaoShuFeng commented on #10391
Job is not in apps/v1 group version.
Job is in batch/v1 group version

[2018-09-27 14:27] badalk opened #10398 "Issue with k8s.io/docs/concepts/services-networking/connect-applications-service/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
Is it possible to pictorially show how the communication is established from Node -> Service -> Pod -> Container? and what is usually does not need to be configured.
In addition, clear definitions of containerPort, Port, targetPort, nodePort would be greatly appreciated.
I had big issues getting my service working when the dock

[2018-09-27 15:35] #8116 closed

[2018-09-27 16:36] pmallory commented on #10394
I did a bit of investigation, here's my notes:

* Many of our markdown files refer to this .js file in their front matter, here's [a random example](https://raw.githubusercontent.com/kubernetes/website/1b5ff98a4473be60d94d35e330d9801640d6f58d/content/en/docs/home/_index.md).
* [This template (line 41)](https://github.com/kubernetes/website/blob/4a8f9e8fd5dcdad3a08d8c1c0e21d5262f62675e/layouts/part

[2018-09-27 18:44] #8143 closed

[2018-09-27 21:04] tshaiman opened #10400 "Issue with k8s.io/docs/concepts/workloads/controllers/deployment/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
1. The document switches from "25% max unavailable" semantics at the beginning of the tutorial to a "1 max unavailable" later on without explaining what cause the change. was there an edit on the deployment in the middle ?

2. In the Section "Rolling Back a Deployment" how can there be 2 pods that are in ImagePullBackOff state

[2018-09-27 23:13] pvaldria commented on #9645
Is there a fix or a workaround until this is fixed?

[2018-09-28 00:01] lgarron commented on #2644
/remove-lifecycle stale

[2018-09-28 07:20] shubheksha commented on #10131
Closing this as a dup of #10080
/triage duplicate

[2018-09-28 08:10] ocofaigh opened #10415 "Broken link (Refer to the CRI installation instructions for more information)"
Link is broken on this page: https://kubernetes.io/docs/setup/independent/install-kubeadm/

for the text: `Refer to the CRI installation instructions for more information`

Brings you to: https://kubernetes.io/docs/setup/cri.md (404 not found)

[2018-09-28 08:37] AlexStasko commented on #10080
Hi,
Are there any news on this issue?

Thanks,
Alex

[2018-09-28 08:52] #4168 closed

[2018-09-28 09:07] will731 opened #10416 "Issue with k8s.io/docs/tutorials/kubernetes-basics/explore/explore-intro/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2018-09-28 10:45] ocofaigh commented on #10415
It should link to this page I guess? https://kubernetes.io/docs/setup/cri/

[2018-09-28 13:35] ant31 opened #10420 "Add a Section for sig sub-projects"
- [x] Feature Request
- [ ] Bug Report

**Problem:**
Each Sig sponsored project should provide documentation but has nothing to help them publish it.
It would be nice to be able to integrate the individual sub-project (the ones sponsored by a sig only) doc in k8s.io.

As a side effect, it could help the community to discover what the sigs are working on and projects they sponsor, and some details

[2018-09-28 18:27] shubheksha commented on #10416
/close

[2018-09-28 18:27] #10416 closed

[2018-09-29 07:04] hrazzell opened #10428 "Potential DoS Vulnerability on Interactive Tutorial"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
The interactive console does not limit the number of deployments that can be created. Running the below command causes the console to begin to timeout, which could be used to create a denial of service attack.

kubectl scale deployments/kubernetes-bootcamp --replicas=200000

**Proposed Solution:**
Limit the number of deployments

[2018-09-29 09:20] warmchang opened #10432 "Expired release note in master branch"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The release note include expired version info (v1.12.0-rc.2) in main & release-1.12 branches.

![image](https://user-images.githubusercontent.com/13084624/46243960-e6c2a380-c40b-11e8-8e41-75ba550a386a.png)

**Proposed Solution:**
Upgrade to the laster CHANGELOG-1.12.md from the [kubernetes repo](https://github.com/kubernetes/ku

[2018-09-29 17:10] jimangel commented on #10428
Thanks for bringing this up, those demo resources are managed outside of the kubernetes website in: https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios

I would recommend opening up an issue with them if you believe you've found a way to exploit their service.

/close

[2018-09-29 17:10] #10428 closed

[2018-09-29 17:11] jimangel commented on #10432
We are looking into this, obviously the quick fix is a manual merge but we're exploring ways to automate the fix for future releases.

[2018-09-30 00:44] blackheart78 opened #10445 "Issue with k8s.io/docs/concepts/configuration/overview/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2018-10-01 08:00] vamsi248 commented on #6390
Hey,
i am new to Helm.. can i ask you a dum Question???

is Helm having any UI... or if i want to delploy apps using Helm Charts
from UI ( example for everydeployment how my app gets deployed to
particular namespace without triggeting or running any commands)..
2. i have set-up new cluster on Azure.. Helm vs anyother tool for CD
????(recomendations)...

On Wed, Jan 10, 2018 at 11:21 PM Vikram Hosa

[2018-10-01 09:15] voskvv opened #10448 "Issue with k8s.io/docs/setup/independent/install-kubeadm/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The section **Installing Runtime** contains an invalid link (404) in the following sentence:
Refer to the **CRI installation instructions** [BAD LINK] for more information.

**Proposed Solution:**
Fix the link

**Page to Update:**
k8s.io/docs/setup/independent/install-kubeadm/

[2018-10-01 09:15] #10448 closed

[2018-10-01 09:15] Chwangzeming opened #10449 "Issue with k8s.io/docs/setup/independent/create-cluster-kubeadm/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2018-10-01 09:16] voskvv commented on #10448
Duplicate issue

[2018-10-01 09:52] alexxa commented on #9479
@lucperkins I believe it can be closed as fixed by PR #9493

[2018-10-01 14:41] neolit123 commented on #10449
please re-open once you provide more detail in the issue description.
thanks.
/close

[2018-10-01 14:41] #10449 closed

[2018-10-01 15:47] neolit123 commented on #9594
above PR is merged.
/close

[2018-10-01 15:47] #9594 closed

[2018-10-01 18:43] eturpin opened #10450 "Issue with k8s.io/docs/setup/independent/create-cluster-kubeadm/ Stacked control plane nodes"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Cannot create HA cluster by following steps provided under "Stacked control plane nodes."

**Proposed Solution:**
I am in the process of learning Kubernetes, don't know what exactly is wrong, and don't know how to fix.

**Page to Update:**
https://kubernetes.io/...

Kubernetes Version:
1.12.0

First attempt:
Failed setting up s

[2018-10-01 21:36] neolit123 commented on #10450
@kubernetes/sig-cluster-lifecycle-pr
/kind bug

[2018-10-01 21:36] neolit123 commented on #10450
@kubernetes/sig-cluster-lifecycle

[2018-10-02 16:12] tnir opened #10460 "Links to featured case studies are broken on User Case Studies"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**

Links to featured case studies are broken on User Case Studies at https://kubernetes.io/case-studies/ .

A typical example is as below:
[code]

This bug seemed introduced in #10355.

**Proposed Solution:**

Fix Hugo layout and/or template files.

**Page to Update:**

https://kubernetes.io/case-studies/

[2018-10-02 16:12] tnir commented on #10460
/assign @tnir

[2018-10-02 16:44] tnir opened #10462 "Layout broken on Case Study detail"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**

Layout is broken on Case Study detail.

**Proposed Solution:**

Fix CSS.

**Page to Update:**
(e.g.) https://kubernetes.io/case-studies/openai/ (vs https://v1-11.docs.kubernetes.io/case-studies/openai/ )

**All Pages to Update:**

- https://kubernetes.io/case-studies/adform/
- https://kubernetes.io/case-studies/capital-one/
- h

[2018-10-02 16:45] tnir commented on #10462
## v1.12 (broken)
![case-study-openai-v1-12](https://user-images.githubusercontent.com/10229505/46363406-e34e4700-c6ad-11e8-9299-0eceec7b5229.png)
## v1.11 (not broken yet)
![case-study-openai-v1-11](https://user-images.githubusercontent.com/10229505/46363407-e34e4700-c6ad-11e8-8ac2-e65d5e58e234.png)

[2018-10-02 17:34] tnir commented on #10462
Seems CSS was not actually migrated to SASS in #10373. The relevant CSS was initially introduced in #8215.

[2018-10-02 23:35] zacharysarah opened #10468 "Refactor Setup into Getting Started"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

## Problem

The organization of content in [Setup](https://kubernetes.io/docs/setup/) doesn't make sense, and currently forms a hodgepodge of vendor-specific walkthroughs. These walkthroughs are often outdated and needlessly duplicated on kubernetes.io.

## Proposed Solution

- [ ] Rename the section from Setup to Getting Started
- [ ] Refac

[2018-10-02 23:44] zacharysarah opened #10469 "Apply style guide and editorial consistency for top 20 site pages"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

## Problem

The most-visited pages on the site have content of inconsistent quality and varying levels of adherence to the [K8s style guide](https://kubernetes.io/docs/contribute/style/style-guide/).

## Proposed solution

- [ ] Using Google Analytics, determine which pages receive the most page views per month.

   For example:
   <img widt

[2018-10-03 00:23] zacharysarah opened #10470 "Explore transferring tutorial content hosting from Katacoda to K/website"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

## Problem

Although the [Katacoda tutorials](https://kubernetes.io/docs/tutorials/) feature on kubernetes.io, the tutorial code doesn't reside in k/website.

## Proposed solution

Shifting tutorial code into k/website may help resolve technical debt and increase editorial quality.

/cc @bradtopol @BenHall
/sig docs
/team katacoda

[2018-10-03 07:17] george-angel commented on #3850
/remove-lifecycle stale

[2018-10-03 07:47] BenHall commented on #10470
This would be great!

At the moment, Katacoda expects that the content will live in it's own repository which is why it's been separate. We discussed creating a top-level repository but seemed to be more challenging.

If a top level repo is possible then that would be ideal (from our side). If not, we can update Katacoda to support subdirectories and only trigger the processing if Katacoda based c

[2018-10-03 08:16] motek80 opened #10472 "Issue with k8s.io/docs/setup/independent/install-kubeadm/"
The current (1.12) documentation is missing step about Docker setup, which is crucial for the entire setup process. Previous versions had this step in the very beginning of the guide.

[2018-10-03 08:52] mythi opened #10473 "Issue with k8s.io/docs/setup/independent/install-kubeadm/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**

In section https://kubernetes.io/docs/setup/independent/install-kubeadm/#installing-runtime
the link in "Refer to the CRI installation instructions for more information" returns 404.

[2018-10-03 15:45] GuessWhoSamFoo opened #10477 "Edit This Page button redundant/links to incorrect URL"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The `Edit This Page` button on the bottom of pages point to `/docs/editdocs` rather than `/editdocs` (which redirects to `/docs/contribute/`) See https://github.com/kubernetes/website/blob/master/layouts/docs/baseof.html#L40

There already exists an edit button which makes this potentially redundant.

**Proposed Solution:**
1)

[2018-10-03 16:30] lucperkins commented on #10462
/assign @lucperkins

[2018-10-03 16:30] lucperkins commented on #10462
@tnir I see the issue. i can take care of it.

[2018-10-03 18:17] chenopis commented on #9288
Note: Don't duplicate ToC on landing page. Instead give overview of the purpose of the section. For example, what is the difference between concept, task, and tutorial.

[2018-10-03 20:02] #8140 closed

[2018-10-03 20:02] #8153 closed

[2018-10-03 20:02] #8179 closed

[2018-10-03 21:04] chenopis commented on #8182
/cc @cody-clark

[2018-10-03 21:04] chenopis commented on #8181
/cc @cody-clark

[2018-10-03 21:04] chenopis commented on #8180
/cc @cody-clark

[2018-10-03 21:05] chenopis commented on #9288
/cc @cody-clark

[2018-10-03 23:46] gclyatt commented on #10450
I ran into the same issue using debian 9, docker 17.3.3, and flannel.
I looked at these [docs](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_phase_kubelet_write-env-file.md) to try to see if I could maybe figure out more about the file.  I ultimately skipped it, as i wasn't able to see any kubelet config files written to cp0

[2018-10-04 00:11] #10460 closed

[2018-10-04 00:13] #10462 closed

[2018-10-04 00:14] #10472 closed

[2018-10-04 00:14] #10473 closed

[2018-10-04 01:26] tnir opened #10486 "Layout broken on several Case Study pages (with customized layout)"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**

There are several case studies with custom (not general) CSS.

The full list of such case studies are following:

- https://kubernetes.io/case-studies/amadeus/
- https://kubernetes.io/case-studies/ancestry/
- https://kubernetes.io/case-studies/blablacar/
- https://kubernetes.io/case-studies/blackrock/
- https://kubernetes.io/ca

[2018-10-04 01:27] tnir commented on #10486
/kind design
/kind cleanup
/kind bug

[2018-10-04 02:07] #10051 closed

[2018-10-04 02:16] #10121 closed

[2018-10-04 14:41] kmkramer opened #10493 "Issue with k8s.io/docs/reference/command-line-tools-reference/feature-gates/"
**This is a...**

- [X] Feature Request

**Problem:**
add column to show which components a feature-gate is related to and/or needs to be set on

**Proposed Solution:**
add column showing relationships

**Page to Update:**
https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/

[2018-10-04 14:43] gnufied commented on #10493
/sig storage
/assign

[2018-10-04 14:44] gnufied commented on #10493
/sig docs

[2018-10-04 21:43] mistyhacks opened #10502 "Problem with https://kubernetes.io/docs/tasks/administer-cluster/ip-masq-agent/ after Hugo conversion"
1. Most of the page content is truncated, as you can see when you view the source. I couldn't immediately figure out what's wrong, but I suspect it's with the Hugo short tags.

2. The button at the bottom of the page to create a new issue results in a 404 instead of actually going to the Github issue-creation screen. Maybe also related to the first point.

Setting this to P1 because most of the to

[2018-10-04 22:11] zparnold commented on #10502
@mistyhacks It seems to work for me? Could it be a temporary CDN issue? Both the topic renders and the button opens up a new GH issue properly.

[2018-10-04 22:28] ztec commented on #10450
I had the same issue :

My context :
- os: Ubuntu 18.04.1 fresh install
- Arch: amd64
- Kubernetes version: 1.12.0
- Issue on second master (Like @eturpin )

As workaround I did the step (aka `kubeadm alpha phase kubelet write-env-file --config kubeadm-config.yaml`) manually by getting the file generated on `cp0`.
Copy the file `/var/lib/kubelet/kubeadm-flags.env` from cp0 to cp1 at the same locat

[2018-10-04 23:03] mistyhacks commented on #10502
Weird, it works for me again. I must have caught Netlify mid-deploy.

[2018-10-04 23:03] #10502 closed

[2018-10-05 13:32] detiber commented on #10450
@eturpin @ztec @gclyatt: Just to clarify, you are seeing this when using v1.12.0 of kubeadm?

[2018-10-05 17:06] ztec commented on #10450
@detiber for me, yes.

[2018-10-05 19:03] eturpin commented on #10450
@detiber
Yes. Using the package from `http://apt.kubernetes.io/ kubernetes-xenial main`.

os: Ubuntu 16.04.5
arch: amd64
Kubernetes version: 1.12.0

[2018-10-05 21:46] shubheksha commented on #10415
Fixed in #10435
/close

[2018-10-05 21:46] #10415 closed

[2018-10-05 22:09] gclyatt commented on #10450
@detiber I saw this on v1.12.0 of kubeadm and just tried again with v1.12.1 and had same result with the write-env-file step.

[2018-10-05 22:20] #10177 closed

[2018-10-06 10:12] surajssd opened #10520 "Issue with k8s.io/docs/tasks/administer-cluster/cluster-management/"
**This is a...**

- [x] Bug Report

**Problem:**

The last line in the document which says

The link to `kubectl convert` is dead. Right now it points to
https://kubernetes.io/docs/user-guide/kubectl/%7B%7Bpage.version%7D%7D/#convert

**Proposed Solution:**

Point to right place.

**Page to Update:**
https://kubernetes.io/docs/tasks/administer-cluster/cluster-management/

On docs of k8s `v1.12`.

[2018-10-06 10:18] gayanramyakumara opened #10521 "Issue with k8s.io/docs/setup/independent/install-kubeadm/"
Please help.My OS is Ubuntu 18.04.

**Problem:**
`**apt-get install -y kubelet kubeadm kubectl**`
[code]

**Page to Update:**
https://kubernetes.io/...

[2018-10-07 01:29] blackheart78 opened #10524 "Issue with k8s.io/docs/concepts/workloads/controllers/jobs-run-to-completion/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2018-10-07 12:19] jamesgeorge007 opened #10526 "Try-kubernetes button should be fixed for larger screens"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
As per now the try-kubernetes button looks like this:

![default](https://user-images.githubusercontent.com/25279263/46581609-3da62980-ca59-11e8-9058-2e312df70c76.png)

**Proposed Solution:**
I had made minor changes that would make it like this:

![new](https://user-images.githubusercontent.com/25279263/46581612-51519000-ca59-

[2018-10-07 14:21] blackheart78 opened #10527 "Issue with k8s.io/docs/concepts/workloads/controllers/deployment/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2018-10-07 18:16] sujithbhaskaran opened #10528 "Issue with k8s.io/docs/setup/independent/kubelet-integration/"
Need update on Documentation
Doc says to use kubeadm config print-default --api-objects KubeletConfiguration to find default kubelet config. But
 kubeadm config print-default --api-objects KubeletConfiguration
--api-object needs to be one of [MasterConfiguration NodeConfiguration]
it seems like an invalid option

**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**

Doc says to

[2018-10-07 23:33] #8199 closed

[2018-10-08 04:07] tnir commented on #10486
/assign @tnir

[2018-10-08 04:14] tnir opened #10532 "Missing Ancestry's company logo on their case study"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**

You will miss Ancestry's company logo on https://kubernetes.io/case-studies/ancestry/

**Proposed Solution:**

Fix CSS for logo.

**Page to Update:**

- https://kubernetes.io/case-studies/ancestry/

[2018-10-08 04:15] tnir commented on #10532
/kind bug
/kind design
/assign @tnir

[2018-10-08 04:46] tnir commented on #10532
External media file was introduced in #4412.

[2018-10-08 04:46] tnir commented on #10532
/cc @kbarnard10

[2018-10-08 04:58] neolit123 commented on #10521
this is a known issue.
use this workaround for now:
https://github.com/kubernetes/kubernetes/issues/57334#issuecomment-427597505

/close

[2018-10-08 04:58] #10521 closed

[2018-10-08 06:51] akostadinov commented on #8675
/remove-lifecycle stale

[2018-10-08 09:07] warmchang commented on #10520
/kind bug

Wrong hyperlink.
"https://kubernetes.io/docs/reference/kubectl/kubectl/kubectl_convert.md" should be "https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#convert".

And all the kubectl subcommands have the same issue.

[2018-10-08 09:31] warmchang commented on #10520
/assign @warmchang

I'll fix this.

[2018-10-08 11:42] shubheksha commented on #10527
Could you update the issue with more info - what needs to be fixed, @blackheart78?

[2018-10-08 14:41] kbhawkey commented on #10486
@tnir, do you plan on fixing the shared page layout problems, such as the footer->nav->a,  in the sass files?

[2018-10-08 15:13] neolit123 commented on #10528
what version of kubeadm are you running?
KubeletConfiguration is a valid object in 1.12.

/priority needs-more-evidence

[2018-10-08 18:13] tnir commented on #9721
We can close this issue as #9809 was already closed.

We can't confirm this issue on any of the following pages:

- https://kubernetes.io/case-studies/
- https://kubernetes.io/
- https://v1-11.docs.kubernetes.io/case-studies/
- https://v1-11.docs.kubernetes.io/

[2018-10-08 18:14] tnir commented on #10309
@kbhawkey is already working on it.

/assign @kbhawkey

[2018-10-08 18:35] tnir commented on #10486
@kbhawkey No, at least during addressing this issue. Why did you ask me that in this issue?

[2018-10-08 19:22] kbhawkey commented on #10486
@tnir, I asked because I am wondering if this issue covered the general cases of fixing the paragraph formatting (to look like 1.11), as well as fixing the footer for all the case-study pages. I will look at your PRs instead.