[2021-05-20 11:16] sftim opened #28059 "Tidy service availability for “DNS for Services and Pods”"
**This is a Feature Request**

**What would you like to be added**
Remove the section https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#feature-availability

Add a [feature state shortcode](https://kubernetes.io/docs/contribute/style/hugo-shortcodes/#feature-state) to the start of the page, declaring that the feature is stable from v1.14

**Why is this needed**
https://kuber

[2021-05-20 11:18] sftim commented on #20075
The context has changed but this still needs addressing; https://kubernetes.io/docs/reference/kubernetes-api/ does not list all query parameters as clearly as it could.

/remove-lifecycle rotten

[2021-05-20 11:19] PI-Victor commented on #28037
/area release-eng

found it!
also, i should've said: `linux flavor preferences for the container?`

[2021-05-20 11:21] sftim commented on #20075
I think it'd be useful to document common query parameters. So for example there might be a page that lists `allowWatchBookmarks` and `watch` and `timeoutSeconds`, and another page that tells you about `pretty`, and yet another page that tells you about `fieldManager`.

@MikeSpreitzer would you have time to update the issue description given the changes to the API reference since you logged this?

[2021-05-20 11:22] sftim commented on #28037
No preference from me.

[2021-05-20 11:28] sftim commented on #28057
/kind support

Feedback may be relevant to PR #27466

[2021-05-20 11:34] sftim opened #28060 "Mention load balancing / ingress / Gateway API for Production Environment page"
**This is a Feature Request**

**What would you like to be added**
Amend https://kubernetes.io/docs/setup/production-environment/ to mention the need for load balancing _for workloads_ (not just the API server). Suggest that the best solutions are external projects; link pages with suggestions:
- https://kubernetes.io/docs/concepts/services-networking/ingress-controllers/
- a slightly revised vers

[2021-05-20 11:35] sftim commented on #28045
/sig node

[2021-05-20 11:35] sftim commented on #28045
/language en

[2021-05-20 12:28] #25747 closed

[2021-05-20 13:18] adonovan commented on #28045
The doc says "[a] Container can exceed its memory request if the Node has memory available", which implies (though it is not unambiguously stated) that if memory is not available, then a container that allocates more than its **request** is liable to be terminated. If this is true, and it is also true that, as you say, "a container that allocates more than its memory **limit** is liable to termina

[2021-05-20 14:17] rounaksarda commented on #28054
@sftim Hi, for the issue, should we add a button on this link ("https://kubernetes.io/"), right after the text that says "Learn Kubernetes basics"

[2021-05-20 14:20] sftim commented on #28054
/language en
(other localizations will copy this approach)

[2021-05-20 14:21] sftim commented on #28053
/area web-development

I think the search UI is managed by Google (or, if you're behind a corporate / national firewall that blocks Google, Bing).

[2021-05-20 14:29] Ivo-Peterka opened #28062 "Improvement for k8s.io/docs/concepts/overview/working-with-objects/namespaces/"
I was looking for list of valid statuses for namespace. At least some link to such information on this page would be useful.

[2021-05-20 15:05] sftim commented on #28062
This page could link to https://kubernetes.io/docs/reference/kubernetes-api/cluster-resources/namespace-v1/

/triage accepted
/language en
/priority backlog

[2021-05-20 15:46] rounaksarda commented on #28054
@sftim, got it. I will fork and make changes in a separate branch and will share its link after hosting on netlify

[2021-05-20 15:57] sftim commented on #28054
If you open a pull request, you get a Netlify preview for free!

[2021-05-20 19:40] sftim commented on #28008
I think this issue is about https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/

[2021-05-20 19:40] sftim commented on #28008
/language en

[2021-05-20 19:43] skamchiline opened #28068 "Improvement for k8s.io/docs/setup/best-practices/cluster-large/"
This page used to contaon exact recommendations on the master node types to use for different clusters. Lots of internet resources are still referring to this page as a source of the info (this page as an example: https://learnk8s.io/kubernetes-node-size). But the recommended master node types are removed from here.

I'd really like to have this info here.

Thank you,

[2021-05-20 19:43] couling commented on #28008
Apologies I should have added a link. Yes that's correct.

The information actually appears in a later module, but as a module in it's own right, this one is very confusing and left me spending 10+ minutes searching for what I'd missed before finally giving up and moving on.

[2021-05-20 19:45] sftim commented on #28008
That step is also in https://kubernetes.io/docs/tutorials/kubernetes-basics/explore/explore-interactive/ (step 2). Maybe the easiest change is to omit [the discussion of querying the Pod via the Kubernetes API's proxy to it] from https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/

[2021-05-20 19:50] sftim commented on #28068
The text you're thinking of was:

Those recommendations are:
- no longer current
- tied to specific, third party providers

If cloud providers want to publish their own recommendations, the Kubernetes project has no objection. We wouldn't reintroduce that list because it's difficult to cover the many cloud providers that Kubernetes can run on, and because it's out of line with our current [content

[2021-05-20 19:52] sftim commented on #14507
/close

Done in #27739

[2021-05-20 19:53] #14507 closed

[2021-05-20 20:46] shannonxtreme opened #28072 "Add concept content from Safely Drain a Node to API-initiated Eviction"
The content in [Safely Drain a Node](https://kubernetes.io/docs/tasks/administer-cluster/safely-drain-node/#eviction-api) for the Eviction API can be used to expand the conceptual information in [API-initiated Eviction](https://kubernetes.io/docs/concepts/scheduling-eviction/api-eviction/).

Proposed by @alculquicondor.

/assign
/sig node
/sig docs
/language en

[2021-05-20 20:46] shannonxtreme commented on #28072
cc @sftim

[2021-05-20 20:57] skamchiline commented on #28068
Yes, Tim. Thank you for the explanation. I think the page would benefit if it would contain at least generic recommendations to the master nodes in terms of CPU cores and mem size. Otherwise sysadmins are pretty blind on what to use and have to run into  performance issues before finalizing their configurations.

Thank you, TIm, again.

[2021-05-21 02:45] pacoxu commented on #28062
A paragraph in https://kubernetes.io/docs/tasks/administer-cluster/namespaces/ 😄

[2021-05-21 03:07] parth-pandit opened #28076 "Administer a Cluster"
A [link](https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/) on [this page](https://kubernetes.io/docs/tasks/administer-cluster/) is broken and returning 404 page.

[2021-05-21 07:51] wy97 commented on #28005
/language zh

[2021-05-21 08:22] #27162 closed

[2021-05-21 08:36] jxofficial commented on #27537
Hi, I am working on a similar issue with updating the documentation, and I think you can make the related changes and pull request at https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios

Cheers!

[2021-05-21 08:59] SvenMW commented on #27068
See also this blog post for documentation on the real overhead of this stuff:

https://talawah.io/blog/extreme-http-performance-tuning-one-point-two-million/#_3-syscall-auditing-blocking

[2021-05-21 09:33] jxofficial opened #28077 "Grammatically incorrect and ambiguous sentence in Interactive Tutorial"
**Grammatically incorrect and ambiguous sentence in Interactive Tutorial - Updating Your App (Step 2)**

**Problem:**
The problematic sentence is

"We run now" is grammatically incorrect and ambiguous. It could mean "let's run the version 2 of the app" or "version 2 of the app is now running". In the context of the tutorial, the second one is correct.

**Proposed Solution:**
Change the sentence to

[2021-05-21 10:47] pacsayt opened #28078 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
katacoda.com refused to connect

[2021-05-21 14:31] gochist commented on #27764
/close

[2021-05-21 14:31] #27764 closed

[2021-05-21 14:32] gochist opened #28079 "Outdated files in the dev-1.21-ko.3 branch"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.21-ko.3 branch.

### 36 files to be modified
1. [ ] M1.  `content/en/community/_index.html`  | 2(+XS) 1(-)
1. [ ] M2.  `content/en/docs/concepts/cluster-administration/addons.md`  | 1(+XS) 1(-)
1. [ ] M3.  `content/en/docs/concepts/configuration/secret.md`  | 2(+XS) 2(-)
1. [ ] M4.  `content/en/docs/concepts/containers/images.m

[2021-05-21 14:33] gochist commented on #28079
/triage accepted
/language ko
/help

[2021-05-21 14:46] shannonxtreme commented on #28077
/assign

[2021-05-21 17:47] shannonxtreme commented on #28019
You may have clicked "reference in new issue" on the "Thank you for contributing" message in your original request :P

[2021-05-21 19:10] ErikEngerd opened #28081 "Improvement for k8s.io/docs/tasks/manage-gpus/scheduling-gpus/"
A simple example yaml file with a POD that uses the GPU would be good to verify that the setup really works.

[2021-05-21 20:14] Aramideh opened #28082 "Improvement for k8s.io/docs/setup/production-environment/container-runtimes/"
Hi,

I can not find a source to verify which docker version is compatible with kubernetes 1.19.1

[2021-05-21 22:44] pjhwa commented on #28079
제가 M27을 맡겠습니다.

- [ ] M27. content/en/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md | 984(+XL) 307(-)

/assign @pjhwa

[2021-05-22 05:40] jxofficial commented on #27087
Hi, can I take up this issue?

[2021-05-22 08:19] show-coco opened #28083 "Translate tasks/manage-kubernetes-objects/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [tasks/manage-kubernetes-objects/](https://kubernetes.io/docs/tasks/manage-kubernetes-objects/) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2021-05-22 08:58] irvifa commented on #27087
Hi @jxofficial yes as long as the issue is unassigned you can take it :)

[2021-05-22 10:02] jxofficial commented on #27087
/assign

[2021-05-22 13:25] hikkie3110 commented on #27124
/assign

[2021-05-22 15:37] #25784 closed

[2021-05-22 15:47] #26988 closed

[2021-05-22 20:53] #28076 closed

[2021-05-23 02:45] scarcoco opened #28085 "Add more diagrams into concepts section"
more graph with concepts

[2021-05-23 08:24] chenxuc commented on #28059
I can help this issue.
/assign
/triage accepted

[2021-05-23 11:43] #24117 closed

[2021-05-23 14:43] #25803 closed

[2021-05-23 18:33] sftim commented on #27068
My understanding is that _there is no default PodSecurityPolicy_. The PSP admission controller defaults to **disabled**.

Some managed cloud clusters such as GKE and EKS come with PodSecurityPolicy enabled; these have **vendor** defaults for the PSP. Kubernetes itself does not have any default PSP (if you enable PSP on vanilla Kubernetes then no Pods launch, precisely becase there is no default).

[2021-05-23 18:33] sftim commented on #27068
See https://kubernetes.io/docs/concepts/policy/pod-security-policy/#enabling-pod-security-policies for details.

[2021-05-24 01:26] adrian-kiwibank opened #28091 "Issue with k8s.io/docs/tasks/manage-kubernetes-objects/kustomization/"
The example that substitutes vars needs to inhibit shell expansion in the setup here-doc by using `<<'EOF'`:

For this usage, Kustomize can inject the Service name into containers through `vars`.
[code]

[2021-05-24 03:10] shuuji3 opened #28092 "Translate concepts/configuration/organize-cluster-access-kubeconfig/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [concepts/configuration/organize-cluster-access-kubeconfig/](https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2021-05-24 10:49] rrathord1885 commented on #28058
HI, Any updates on my query ?

[2021-05-24 10:58] rrathord1885 opened #28095 "Azure AKS supports allocation of public IP dynamically, but allocation public IP per request is possible ?"
Hi Team,
Azure AKS supports allocation of public IP dynamically in LB, but allocation public IP in LB per request is possible ?
Pls. advice on this ?
Thanks,
Sanjeev Singh

[2021-05-24 12:10] hardikshah197 commented on #28062
May I take up this task? @pacoxu @sftim if it is open.

[2021-05-24 12:11] hardikshah197 commented on #28062
May I take up this task? @pacoxu @sftim if it is not resolved.

[2021-05-24 13:19] bringer1092 opened #28099 "minikube 1.19.0 is namespace changed"
**This is a Bug Report**

**Problem:**
Ingress namespace is minikube 1.19.0 chage the status kube-system to ingress-nginx. 
Since the output result has also changed, I decided to display only one line.

minikube 1.19.0 Upgrade ingress addon files according to upstream. 
https://github.com/kubernetes/minikube/blob/master/CHANGELOG.md#version-1190-beta0---2021-04-05
https://github.com/kubernetes/min

[2021-05-24 14:07] jmyung opened #28101 "[ko] Translate docs/tasks/configure-pod-container/configure-gmsa in Korean"
**This is a Feature Request**
Translate docs/tasks/configure-pod-container/configure-gmsa in Korean

**What would you like to be added**

Translate docs/tasks/configure-pod-container/configure-gmsa in Korean

**Why is this needed**
No Translation yet.

**Comments**

https://kubernetes.io/docs/tasks/configure-pod-container/configure-gmsa/

[2021-05-24 14:07] jmyung commented on #28101
/language ko
/triage accepted

[2021-05-24 14:07] jmyung commented on #28101
/assign

[2021-05-24 16:11] hyakuhei commented on #27336
/assign hyakuhei

[2021-05-24 16:46] hyakuhei commented on #27336
@sftim Are you suggesting editing these two _instead_ of the change in https://kubernetes.io/docs/concepts/policy/pod-security-policy/#run-another-pod that @tabbysable mentioned in the issue description ?

[2021-05-25 00:48] tengqm commented on #28062
/assign @hardikshah197

[2021-05-25 09:22] marians commented on #21621
Has a decision been made yet regarding the naming of the feature "High-Availability Kubernetes Masters"? See https://kubernetes.io/docs/tasks/administer-cluster/highly-available-master/

If yes, we'd like to apply the new term to [our documentation and communication](https://docs.giantswarm.io/advanced/high-availability/masters/).

[2021-05-25 11:56] hardikshah197 commented on #28062
I have attached the PR for this issue #28109

[2021-05-25 13:07] gracenng commented on #28013
Hello, I have a couple clarifying questions from my end:

- I’m lost in the weeds looking for the kubectl config Github location, I figured it’d be around [here](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/kubectl/kubectl.md) , where do I go to edit the [kubectl config reference](https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#config) ?
- Is

[2021-05-25 13:48] mrbobbytables commented on #21749
FYI - we have done the switch for another repo that was using netlify. It will throw an error if the `master` branch is gone if someone triggers a rebuild before it's config is updated. The good news is, updating is easy in the netlify UI and it takes effect immediately. 👍

[2021-05-25 14:05] hyakuhei commented on #27336
Thanks for the clarification this is really helpful, I’ll get to work
drafting something!

On Tue, May 25, 2021 at 01:18 Tim Bannister ***@***.***>
wrote:

[2021-05-25 16:06] tabbysable commented on #28013
For the last question... getting to really specific definitions of terms like those gets super complicated. :-)

In this case I wouldn't call it "injection" at all, because to me that implies a normal thing is happening and you are unexpectedly introducing your code where your code does not belong. SQL injection provides a great example of this usage: where you would put a datum such as your name,

[2021-05-25 18:00] rrathord1885 commented on #28058
Guys , Any update  on this ?

[2021-05-25 18:00] rrathord1885 commented on #28095
Guys , Any update  on this ?

[2021-05-25 18:36] minhduc19 commented on #28101
- [ ]

- [ ]

- [ ]

- [ ] #28070

[2021-05-26 01:29] GreenApple10 commented on #27673
I will work on：

[2021-05-26 01:36] jimangel commented on #25974
/close
@j3pic feel free to open a new issue if you have additional feedback! Thanks for starting this initiative!

[2021-05-26 01:36] #25974 closed

[2021-05-26 02:00] #18381 closed

[2021-05-26 02:17] anois opened #28118 "Kubernetes 组件"
This is a space issue.

https://kubernetes.io/zh/docs/concepts/overview/components/#web-%E7%95%8C%E9%9D%A2-%E4%BB%AA%E8%A1%A8%E7%9B%98

Dashboard **是Kubernetes 集**群的通用的、基于 Web 的用户界面。 它使用户可以管理集群中运行的应用程序以及集群本身并进行故障排除。

[2021-05-26 02:34] #28118 closed

[2021-05-26 05:03] #23483 closed

[2021-05-26 05:37] jihoon-seo opened #28122 "'Attend KubeCon NA' button needs update"
**This is a Bug Report**

**Problem:**
In https://kubernetes.io ,
when user clicks `Attend KubeCon NA virtually on November 17-20, 2020`,
![image](https://user-images.githubusercontent.com/46767780/119607149-bfc40600-be2e-11eb-8f13-92b209001c73.png)

user lands on [this page](https://events.linuxfoundation.org/kubecon-cloudnativecon-north-america/?utm_source=kubernetes.io&utm_medium=nav&utm_campai

[2021-05-26 05:48] sreeni2020 opened #28123 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/"
followed the document as mentioned but unable to see the text "Hello from Kubernetes storage" from the pod

[2021-05-26 09:23] seokho-son commented on #28079
/milestone dev-1.21-ko.3

[2021-05-26 09:26] seokho-son opened #28127 "Korean Localization for dev-1.21-ko.3 branch"
## In English

**This is a Feature Request**

Korean Localization for `dev-1.21-ko.3` branch.

**What would you like to be added**

Any localization contributions for Korean.

**Comments**

- This issue is to notify the schedule of Korean localization to contributors.
- `dev-1.21-ko.3` is the current work branch for Korean localization.
- Korean PR Wrangler: @pjhwa

**Important dates**
- A Korean

[2021-05-26 09:27] seokho-son commented on #27763
/close

[2021-05-26 09:27] #27763 closed

[2021-05-26 09:27] seokho-son commented on #28127
/triage accepted

[2021-05-26 09:27] seokho-son commented on #27976
FYI: https://github.com/kubernetes/website/issues/28127

[2021-05-26 11:55] irfansheikh777 opened #28132 "pods scheduled on different node cannot communicate with each other on kubernetes cluster using calico network"
I am facing  this issue troubleshooting long time issue is  I have create Kubernetes cluster with calico network in my on premises server the **pods scheduled  on  different node on this Kubernetes cluster not able to communicate to each other **  . please chcek below scenarios.
There are two worker node **server9** and **server10**
Two PODS are created on server 9 and  one pod created on server 1

[2021-05-26 17:50] starrohan999 commented on #27446
/assign

[2021-05-27 01:19] marcushyungseoklee opened #28137 "Translate concepts/policy/node-resource-managers into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/policy/node-resource-managers into Korean

**Why is this needed**
Not yet translated

**Comments**

[2021-05-27 01:20] marcushyungseoklee commented on #28137
/language ko
/assign

[2021-05-27 03:00] tengqm commented on #28095
/kind support
Please check with Azure team on this. The website project doesn't include vendor specific details which are treated as third party contents.

[2021-05-27 11:04] sftim commented on #25061
/priority backlog
/remove-priority awaiting-more-evidence
/triage accepted

[2021-05-27 12:43] 123BLiN opened #28144 "Improvement for k8s.io/docs/concepts/scheduling-eviction/assign-pod-node/"
It may be useful to make in bold the fact that pod affinity is namespaced, and maybe also include namespace in the examples

[2021-05-27 15:32] yogeek commented on #20810
Hello @marcosnils , I am currently having some  trouble with https://labs.play-with-k8s.com : after clicking on `create an instance` it stays on `creating instance...` during a long time

[2021-05-27 15:50] marcosnils commented on #20810
Seems like there was a node that was not responding correctly. Mind trying now?

[2021-05-27 15:53] yogeek commented on #20810
yes it is better now, thanks @marcosnils !

[2021-05-28 10:28] mengjiao-liu commented on #27673
I will work on:
6. Feature gates
[code]

[2021-05-28 11:46] jihoon-seo commented on #28079
제가 M1 - M19 하겠습니다~~
/assign

[2021-05-28 16:18] #25730 closed

[2021-05-28 16:23] zhiguo-lu opened #28156 "[zh] translate concepts/API-initiated Eviction"
**This is a Feature Request**
translate /docs/concepts/scheduling-eviction/api-eviction.md into Chinese

**What would you like to be added**
/zh/docs/concepts/scheduling-eviction/api-eviction.md

/language zh
/assign

[2021-05-28 21:34] jihoon-seo commented on #28079
M20 - M26 하겠습니다~~

[2021-05-28 23:38] jihoon-seo opened #28158 "Nit: nits in setup/best-practices/cluster-large"
**This is a Bug Report**

**Problem:**
- The href of `Operating etcd clusters for Kubernetes` contains unwanted `https://kubernetes.io`.
- A slash (`/`) is missing in the href of `Set up a High Availability etcd cluster with kubeadm`.

**Proposed Solution:**

[code]

**Page to Update:**
https://kubernetes.io/docs/setup/best-practices/cluster-large/#etcd-storage

/language en
/assign

[2021-05-28 23:44] jihoon-seo commented on #27072
It seems that this issue is okay to close, since the PR #27466 is merged. :)

[2021-05-29 02:59] llhuii opened #28162 "404 for the cherry-pick link url in "Kubernetes Release Cycle" page"
In the ["Kubernetes Release Cycle" page](https://kubernetes.io/releases/release/), there are two places linking for cherry-pick https://kubernetes.io/contributors/devel/sig-release/cherry-picks.md which is 404.

It seems that it should be https://github.com/kubernetes/community/blob/master/contributors/devel/sig-release/cherry-picks.md.

snapshots:
1.
![image](https://user-images.githubusercontent

[2021-05-29 07:21] himanshu007-creator commented on #28162
Hi, i would like to work on this issue!

[2021-05-29 07:23] himanshu007-creator commented on #28144
Hi , i would like to work on this issue

[2021-05-29 09:23] rahulii commented on #25123
/assign

[2021-05-29 11:11] himanshu007-creator commented on #26112
Hi, i would like to work on this issue

[2021-05-29 11:50] patelaryan7751 commented on #25123
/assign

[2021-05-29 11:54] seokho-son commented on #28137
/triage accepted

[2021-05-29 12:00] seokho-son commented on #28079
나머지는 제가 처리하겠습니다.. ^^ 모두 ~ 감사합니다!

- M1 - M19 : @jihoon-seo
- M20 - M26 : @jihoon-seo
- R1 : @jihoon-seo (M1 - M19 와 관련되어 있을 가능성이 있네요 ^^)

- M27 : @pjhwa

- M28 - M36 : @seokho-son

- R2 : @seokho-son
- D1 - D2 : @seokho-son

[2021-05-29 12:48] pjhwa commented on #28079
@jihoon-seo @seokho-son 감사합니다!!!

[2021-05-29 17:27] #25495 closed

[2021-05-29 21:32] kbhawkey commented on #27917
/triage accepted

[2021-05-29 21:44] erikv85 opened #28168 "Fails: Interactive Tutorial - Deploying an App"
Fails to load entirely. In Chrome Version 91.0.4472.77 (Official Build) (64-bit) this is what I see after pressing "Start scenario":

$ sleep 1; launch.sh
Starting Kubernetes. This is expected to take less than a minute....packet_write_wait: Connection to 172.17.0.10 port 22: Broken pipe

The environment has expired.

Please refresh to get a new environment.

[2021-05-29 21:48] erikv85 opened #28169 "Fails: Interactive Tutorial - Creating a Cluster"
Can't type anything, either directly or after a few characters, output below. Chrome Version 91.0.4472.77 (Official Build) (64-bit)

Kubernetes Bootcamp Terminal
$
$ ls
$ pwd
/root
$ minikube veripacket_write_wait: Connection to 172.17.0.9 port 22: Broken pipe

The environment has expired.

Please refresh to get a new environment.

[2021-05-30 00:28] dimay2 opened #28170 "Interactive Tutorial - Deploying an App"
Katacoda terminal screen stuck. tried multiple times Google page reload, clear cache. doesnt help

[2021-05-30 01:03] kbhawkey commented on #28122
/triage accepted

[2021-05-30 10:10] tengqm commented on #27672
Great we have got this done.
/close

[2021-05-30 10:10] #27672 closed

[2021-05-30 17:36] bells17 commented on #28092
/triage accepted

[2021-05-30 17:36] bells17 commented on #28083
/triage accepted

[2021-05-30 17:36] bells17 commented on #27847
/triage accepted

[2021-05-30 17:36] bells17 commented on #27838
/triage accepted

[2021-05-30 17:37] bells17 commented on #27803
/triage accepted

[2021-05-30 17:37] bells17 commented on #27734
/triage accepted

[2021-05-30 17:37] bells17 commented on #27706
/triage accepted

[2021-05-30 17:37] bells17 commented on #27700
/triage accepted

[2021-05-30 17:39] bells17 opened #28180 "Translate docs/contribute/advanced/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/configuration/organize-cluster-access-kubeconfig/ into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2021-05-30 17:39] bells17 commented on #28180
/triage accepted

[2021-05-30 23:20] tengqm commented on #28156
/triage accepted

[2021-05-31 03:33] amyXia1994 commented on #26166
/remove-lifecycle rotten

[2021-05-31 07:48] josp70 opened #28203 "Improvement for k8s.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/"
Is startupProbe not available on windows container? If that is the case could it be explicitly stated on that page (issue subject)?

[2021-05-31 07:57] sidney68 opened #28204 "Interactive Tutorial - Creating a Cluster"
https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/

had to restart tutorial but service seems to be unavailable (<code>minikube start</code> does not complete, for example)

[2021-05-31 08:16] #27803 closed

[2021-05-31 08:18] #27847 closed

[2021-05-31 16:38] #25876 closed

[2021-05-31 21:52] Arhell opened #28215 "Tutorials"
https://kubernetes.io/docs/tutorials/#stateful-applications

_Running ZooKeeper, A **CP** Distributed System_ what does **CP** stand for?

[2021-05-31 23:14] kbhawkey commented on #28077
/triage accepted

[2021-05-31 23:15] kbhawkey commented on #28072
/triage accepted

[2021-05-31 23:17] kbhawkey commented on #28060
/triage accepted

[2021-05-31 23:19] kbhawkey commented on #28055
/triage accepted

[2021-05-31 23:25] kbhawkey commented on #28054
/triage accepted

[2021-06-01 08:22] marians commented on #21621
@kubernetes/wg-naming-leads @celestehorgan Is there any progress on this?

I'd like to suggest some options for renaming "High-Availability Kubernetes Masters":

- (a) High-availability control plane
- (b) Highly available control plane

[2021-06-01 09:28] sysnet4admin opened #28217 "[ko] Bug in ko/docs/concepts/scheduling-eviction/assign-pod-node"
nodeName 은 가장 간단한 형태의 노트 선택 제약 조건이지만, 한계로 인해 일반적으로는 사용하지 않는다. nodeName 은 PodSpec의 필드이다. 만약 비어있지 않으면, 스케줄러는 파드를 무시하고 명명된 노드에서 실행 중인 kubelet이 파드를 실행하려고 한다. 따라서 만약 PodSpec에 nodeName 가 제공된 경우, 노드 선텍을 위해 위의 방법보다 우선한다.

'노드 선택을 위해'
로 수정해야 할 것 같습니다. 오타가 있네요

[2021-06-01 15:09] cblecker commented on #26687
/remove-lifecycle stale

@sftim Do you think this would be a good candidate for help-wanted or good-first-issue?

[2021-06-01 19:49] #28215 closed

[2021-06-01 20:42] spzala commented on #19835
/remove-lifecycle stale

[2021-06-02 02:12] kiyeongkil opened #28221 "Translate concepts/scheduling-eviction/api-eviction/ into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/scheduling-eviction/api-eviction/ into Korean

**Why is this needed**
Not yet translated

**Comments**

[2021-06-02 02:13] kyKil commented on #28221
/language ko
/assign

[2021-06-02 02:19] kyKil commented on #28221
/language ko
/assign

[2021-06-02 03:15] mltsy commented on #22391
This is resolved :)

[2021-06-02 03:15] #22391 closed

[2021-06-02 04:52] #27995 closed

[2021-06-02 05:49] zhiguo-lu opened #28224 "[zh] translate concepts/Pod Priority and Preemption"
**This is a Feature Request**
translate /docs/concepts/scheduling-eviction/pod-priority-preemption.md into Chinese

**What would you like to be added**
/zh/docs/concepts/scheduling-eviction/pod-priority-preemption.md

/language zh
/assign

[2021-06-02 10:02] bill831231 opened #28228 "对象名称和 IDs"
说明：
当对象所代表的是一个物理实体（例如代表一台物理主机的 Node）时， 如果在 Node 对象未被删除并重建的条件下，**创新**创建了同名的物理主机， 则 Kubernetes 会将新的主机看作是老的主机，这可能会带来某种不一致性。

应该是**重新**么？

[2021-06-02 10:23] raelga commented on #25616
/remove-lifecycle stale

[2021-06-02 11:09] tengqm commented on #28228
/triage accepted
/kind bug

[2021-06-02 13:09] bill831231 opened #28230 "推荐使用的标签"
应用的名称和实例的名称是分别记录的。例如，某 WordPress **实例**的 app.kubernetes.io/name 为 wordpress，而其实例名称表现为 app.kubernetes.io/instance 的属性值 wordpress-abcxzy。这使应用程序和应用程序的实例成为可能是可识别的。应用程序的每个实例都必须具有唯一的名称

应该是**应用**吧

[2021-06-02 13:31] kcgochar opened #28231 "Error "413 Request Entity Too Large" while request goes between containers using service discovery."
Hi,

We are getting error "413 Request Entity Too Large" when doing HTTP post with several mbs of data in the request body. The request goes between containers using service discovery.

Based on the error, I first thought that maybe the problem is between browser and ui container and I need to add nginx.ingress.kubernetes.io/proxy-body-size annotation to the load balancer based on https://kubernet

[2021-06-02 14:14] #28156 closed

[2021-06-02 16:52] bill831231 opened #28232 "Init 容器"
If a Pod's init container fails, the kubelet repeatedly restarts that init container until it succeeds. However, if the Pod has a restartPolicy of Never, and an init container fails during startup of that Pod, Kubernetes treats the overall Pod as failed.

如果 Pod 的 Init 容器失败，kubelet 会不断地重启该 Init 容器直到该容器成功为止。 然而，如果 Pod 对应的 restartPolicy 值为 "Never"，Kubernetes 不会重新启动 Pod。
这段好像翻译的不太对啊，“restartPolicy” 是

[2021-06-02 17:37] Philipsty commented on #19835
Hello team, I am reviewing this as a first issue

[2021-06-02 20:11] MikeSpreitzer opened #28233 "Managing Service Accounts TOC omits "Bound Service Account Token Volume""
The section https://kubernetes.io/docs/reference/access-authn-authz/service-accounts-admin/#bound-service-account-token-volume appears to be at the same level as https://kubernetes.io/docs/reference/access-authn-authz/service-accounts-admin/#serviceaccount-admission-controller and https://kubernetes.io/docs/reference/access-authn-authz/service-accounts-admin/#token-controller but is missing from t

[2021-06-02 20:21] jihoon-seo commented on #28217
/retitle [ko] Bug in ko/docs/concepts/scheduling-eviction/assign-pod-node
/kind bug
/language ko
/assign

**This is a Bug Report**

**Problem:**
[ko] Bug in ko/docs/concepts/scheduling-eviction/assign-pod-node

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/ko/docs/concepts/scheduling-eviction/assign-pod-node/#nodename

[2021-06-02 21:26] jihoon-seo commented on #28204
As of today (2021-06-03):

[code]

[2021-06-02 21:27] jihoon-seo commented on #28169
As of today (2021-06-03):

[code]

[2021-06-02 21:29] jihoon-seo commented on #28168
As of today (2021-06-03):

[code]

[2021-06-02 21:29] jihoon-seo commented on #28170
As of today (2021-06-03):

[code]

[2021-06-02 21:30] jihoon-seo commented on #28162
/assign @himanshu007-creator

[2021-06-02 21:31] jihoon-seo commented on #28144
/assign @himanshu007-creator

[2021-06-03 02:00] #23657 closed

[2021-06-03 08:26] HongjiangHuang commented on #28232
/triage accepted

[2021-06-03 08:39] HongjiangHuang commented on #28231
Hello, @kcgochar. questions about `ingress-nginx`, please use https://github.com/kubernetes/ingress-nginx/issues/new/choose

[2021-06-03 08:41] HongjiangHuang commented on #28232
/language chinese

[2021-06-03 08:42] HongjiangHuang commented on #28232
/language zh

[2021-06-03 08:42] HongjiangHuang commented on #28230
/language zh

[2021-06-03 08:42] HongjiangHuang commented on #28228
/language zh
/assign

[2021-06-03 08:43] HongjiangHuang commented on #28232
/assign

[2021-06-03 08:43] HongjiangHuang commented on #28230
/assign

[2021-06-03 08:47] #28228 closed

[2021-06-03 09:14] HongjiangHuang commented on #27673
I will work on Kube-scheduler reference
[code]

[2021-06-03 10:09] jihoon-seo opened #28245 "[zh] Nit: `full_link` in reference/glossary/cloud-controller-manager.md is wrong"
**This is a Bug Report**

**Problem:**
`full_link` in reference/glossary/cloud-controller-manager.md is wrong

**Proposed Solution:**
In `content/zh/docs/reference/glossary/cloud-controller-manager.md`,
[code]

- In [English version](https://raw.githubusercontent.com/kubernetes/website/master/content/en/docs/reference/glossary/cloud-controller-manager.md): `full_link: /docs/concepts/architecture/c

[2021-06-03 11:05] #28232 closed

[2021-06-03 13:26] jmyung commented on #28006
/close

[2021-06-03 13:26] #28006 closed

[2021-06-03 15:33] gracenng commented on #28013
Hello! I created a [PR here](https://github.com/kubernetes/website/pull/28248) for the "Cluster Access" pages in Task and Concept. Still havent able to find the Github page for the [generated reference page](https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#config)

PTAL. Specifically:
- Should the warning come before or after the `note`?
- Would it be useful/ appropriate to

[2021-06-03 15:55] iamsicher opened #28249 "Using RBAC Authorization-Chinese Version Translation Error"
![English Version](https://user-images.githubusercontent.com/67566943/120674648-e0dbc500-c4c6-11eb-9f77-b2d5ab8f366b.png)
![Chinese Version](https://user-images.githubusercontent.com/67566943/120674658-e3d6b580-c4c6-11eb-9799-cdd16ff774f1.png)

https://kubernetes.io/zh/docs/reference/access-authn-authz/rbac/#rolebinding-example
There is a problem with the Chinese version translated here, it should

[2021-06-03 17:13] savitharaghunathan commented on #28013
@sftim @kbhawkey - is there any order of placement for adding notes and warnings?

I am not sure about the right course of action here. If the link becomes unavailable then it will be a maintenance overhead. @tabbysable WDYT?

[2021-06-03 22:00] renukamanavalan opened #28253 "Upgrading kubeadm clusters"
This page [link](https://v1-20.docs.kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/#upgrading-control-plane-nodes) says
on *first* control plane node, run "`sudo kubeadm upgrade apply v1.21.x`"
For *other* control plane nodes, run "`sudo kubeadm upgrade node`"

When applying a script for upgrade via some automation service, which will run this script one node at a time, how co

[2021-06-03 22:03] neolit123 commented on #28253
hi, the same page explains:

this is considered the "first" CP node to run "plan / apply" on.

/close
/kind support

[2021-06-03 22:03] #28253 closed

[2021-06-03 23:01] renukamanavalan commented on #28253
An automated service, picks any one control plane node at a time and run the script and move on to next node.
We would not know ahead of time, which node is first picked.

So the script should be able to programmatically identify, if this is the *first* node or *other*.
Every control plane node has "/etc/kubernetes/admin.conf".

Question: Programmatically how the script can identify *first* or *ot

[2021-06-04 00:09] #25945 closed

[2021-06-04 01:13] kbhawkey commented on #28013
👀

[2021-06-04 01:28] kbhawkey commented on #28013
Hi. @gracenng , the kubectl reference is auto-generated from the kubectl command descriptions/content.

[2021-06-04 01:50] kbhawkey commented on #28158
/triage accepted

[2021-06-04 01:59] #28158 closed

[2021-06-04 03:20] renukamanavalan opened #28258 "Upgrading kubeadm clusters"
Related to [issue #28253](https://github.com/kubernetes/website/issues/28253)

Per doc [here ](https://v1-20.docs.kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/#upgrading-control-plane-nodes), we need to have the knowledge of first control plane node or not, as first control plane node does `sudo kubeadm upgrade apply ...`, where as other nodes do "`sudo kubeadm upgrade node`

[2021-06-04 06:33] seokho-son commented on #28217
/triage accepted

[2021-06-04 06:34] seokho-son commented on #28221
/triage accepted

[2021-06-04 06:35] seokho-son commented on #28079
/close

[2021-06-04 06:35] #28079 closed

[2021-06-04 07:23] #28230 closed

[2021-06-04 07:45] mylovepooh opened #28261 "Translate concepts/services-networking/service-traffic-policy in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/services-networking/service-traffic-policy.md in Korean

**Why is this needed**
No Translation yet.

**Comments**
https://kubernetes.io/docs/concepts/services-networking/service-traffic-policy/

[2021-06-04 07:45] mylovepooh commented on #28261
/language ko
/assign

[2021-06-04 07:59] guobinzhao commented on #26367
still failed with error
![image](https://user-images.githubusercontent.com/35445187/120767557-dd3f5100-c54d-11eb-890e-8af15eed4f60.png)

[2021-06-04 08:21] tengqm commented on #28233
"Bound Service Account Token Volume" is a H4, while the other two are H3. H4 are not captured into the TOC.
In fact, there are three mechanisms for service account automation, according to the text:

- A `ServiceAccount` admission controller
- A Token controller
- A `ServiceAccount` controller

The above three are all H3 headings, thus captured by the TOC.

/close

[2021-06-04 08:21] #28233 closed

[2021-06-04 08:23] tengqm commented on #28258
The "first" word may be confusing. Maybe revise it to "one of" would be better?

[2021-06-04 08:29] tengqm commented on #28249
/triage accepted
/kind bug
/assign

[2021-06-04 08:29] tengqm commented on #28249
/language zh

[2021-06-04 08:30] tengqm commented on #28245
/triage accepted
/language zh
/kind bug
/assign

[2021-06-04 08:31] tengqm commented on #28231
/kind support
This is not the right place to ask non-documentation questions.
/close

[2021-06-04 08:31] #28231 closed

[2021-06-04 08:32] tengqm commented on #28224
/triage accepted

[2021-06-04 08:43] tengqm commented on #28204
can we close this now? @sidney68

[2021-06-04 08:46] tengqm commented on #28144
/triage accepted
/language en
/kind feature

[2021-06-04 08:47] #28162 closed

[2021-06-04 08:47] tengqm commented on #28132
/remove-kind bug
/kind support

This doesn't smell like a documentation issue. Please try other channels for tech support.

[2021-06-04 08:48] tengqm commented on #28123
@sreeni2020 Do you believe it is a documentation issue?

[2021-06-04 08:49] tengqm commented on #28099
/triage accepted

[2021-06-04 08:49] tengqm commented on #28095
/close

[2021-06-04 08:49] #28095 closed

[2021-06-04 09:09] #25860 closed

[2021-06-04 09:52] sidney68 commented on #28204
sure, please close

On Fri, Jun 4, 2021 at 10:44 AM Qiming Teng ***@***.***>
wrote:

[2021-06-04 10:18] tengqm commented on #26367
Ingress 是在最近版本中才进入 v1 版本的。如果你用的是老版本，你要去参考老版本的文档。
/close

[2021-06-04 10:18] #26367 closed

[2021-06-04 10:31] #27700 closed

[2021-06-04 10:33] #27706 closed

[2021-06-04 10:48] hegdesandesh25 opened #28265 "kubectl Cheat Sheet updates required"
The below section needs updates on cheat sheet page, most of these commands do not work without the generator=run-pod/v1 flag, updates might be needed as shown below.
https://kubernetes.io/docs/reference/kubectl/cheatsheet/#interacting-with-running-pods

kubectl run generator=run-pod/v1 -i --tty busybox --image=busybox -- sh  # Run pod as interactive shell
kubectl run generator=run-pod/v1  nginx -

[2021-06-04 10:54] inductor opened #28266 "ja: Make docs/contribute/_index.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/contribute/_index.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/contribute/_index.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.2/content/ja/docs/contribute/_index.md

Original
https://githu

[2021-06-04 10:56] inductor opened #28267 "ja: Make docs/contribute/suggesting-improvements.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/contribute/suggesting-improvements.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/contribute/suggesting-improvements.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.2/content/ja/docs/contribute

[2021-06-04 10:57] inductor opened #28268 "ja: Make docs/home/_index.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/home/_index.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/home/_index.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.2/content/ja/docs/home/_index.md

Original
https://github.com/kubernetes/w

[2021-06-04 10:57] inductor opened #28269 "ja: Make docs/reference/_index.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/reference/_index.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/reference/_index.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.2/content/ja/docs/reference/_index.md

Original
https://github.c

[2021-06-04 10:58] inductor opened #28270 "ja: Make docs/reference/access-authn-authz/authentication.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/reference/access-authn-authz/authentication.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/reference/access-authn-authz/authentication.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.2/content/

[2021-06-04 10:58] inductor opened #28271 "ja: Make docs/reference/access-authn-authz/rbac.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/reference/access-authn-authz/rbac.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/reference/access-authn-authz/rbac.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.2/content/ja/docs/reference/ac

[2021-06-04 10:58] inductor opened #28272 "ja: Make docs/reference/command-line-tools-reference/feature-gates.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/reference/command-line-tools-reference/feature-gates.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/reference/command-line-tools-reference/feature-gates.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-

[2021-06-04 10:59] inductor opened #28273 "ja: Make docs/reference/glossary/configmap.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/reference/glossary/configmap.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/reference/glossary/configmap.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.2/content/ja/docs/reference/glossary/con

[2021-06-04 10:59] inductor commented on #28273
fix typoなので日本語だと対応不要かも。要確認

[2021-06-04 10:59] inductor opened #28274 "ja: Make docs/reference/glossary/container.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/reference/glossary/container.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/reference/glossary/container.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.2/content/ja/docs/reference/glossary/con

[2021-06-04 10:59] bells17 opened #28275 "Fix emphasis tags in ja contents"
ref: https://github.com/kubernetes/website/pull/28255

- [ ] content/ja/docs/concepts/architecture/controller.md: _制御ループ_
- [ ] content/ja/docs/concepts/architecture/nodes.md: _Node_
- [ ] content/ja/docs/concepts/configuration/configmap.md: _イミュータブルなSecretおよびConfigMap_
- [ ] content/ja/docs/concepts/configuration/manage-resources-containers.md: _ephemeral-storage_, _tmpfs_
- [ ] content/ja/docs/c

[2021-06-04 11:00] inductor commented on #28274
Hugoシステム上の変更だけっぽいので日本語でも対応が必要がどうか確認

[2021-06-04 11:00] inductor opened #28276 "ja: Make docs/reference/glossary/kubelet.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/reference/glossary/kubelet.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/reference/glossary/kubelet.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.2/content/ja/docs/reference/glossary/kubelet

[2021-06-04 11:01] inductor opened #28277 "ja: Make docs/reference/glossary/node.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/reference/glossary/node.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/reference/glossary/node.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.2/content/ja/docs/reference/glossary/node.md

Orig

[2021-06-04 11:01] inductor commented on #28277
ちょっとした修飾子の変更のみなので日本語で対応が必要か要確認

[2021-06-04 11:03] inductor opened #28278 "ja: Make docs/reference/kubectl/cheatsheet.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/reference/kubectl/cheatsheet.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/reference/kubectl/cheatsheet.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.2/content/ja/docs/reference/kubectl/chea

[2021-06-04 11:03] inductor opened #28279 "ja: Make docs/reference/kubectl/jsonpath.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/reference/kubectl/jsonpath.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/reference/kubectl/jsonpath.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.2/content/ja/docs/reference/kubectl/jsonpath

[2021-06-04 11:03] inductor opened #28280 "ja: Make docs/reference/kubectl/overview.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/reference/kubectl/overview.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/reference/kubectl/overview.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.2/content/ja/docs/reference/kubectl/overview

[2021-06-04 11:04] inductor opened #28281 "ja: Make docs/reference/setup-tools/kubeadm/_index.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/reference/setup-tools/kubeadm/_index.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/reference/setup-tools/kubeadm/_index.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.2/content/ja/docs/refere

[2021-06-04 11:05] inductor opened #28282 "ja: Make docs/reference/tools.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/reference/tools.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/reference/tools.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.2/content/ja/docs/reference/tools.md

Original
https://github.com/

[2021-06-04 11:05] inductor opened #28283 "ja: Make docs/search.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/search.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/search.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.2/content/ja/docs/search.md

Original
https://github.com/kubernetes/website/tree/rel

[2021-06-04 11:05] inductor commented on #28283
多分削除だけど、他のところに移動してないかも合わせて確認

[2021-06-04 11:39] kcgochar commented on #28231
thank you.. @tengqm @hongchaodeng  for directing correct place of question..

[2021-06-04 12:07] #27594 closed

[2021-06-04 12:09] #27838 closed

[2021-06-04 12:13] #28092 closed

[2021-06-04 12:27] shannonxtreme commented on #28077
It doesn't look like the interactive tutorials repo has had much activity for its PRs...is there anything I can do on my end to push it along?

[2021-06-04 12:36] marcelotab opened #28284 "Pods"
`https://kubernetes.io/es/docs/reference/generated/container-runtime` This link returns a 404

[2021-06-04 13:11] neolit123 commented on #28258
If you have control plane host0...2 in an array in the bash script host0
can be the first CP host to upgrade. But you can also pick host2 and
iterate backward. As long as it has the admin.conf it would work.

[2021-06-04 13:18] tengqm commented on #28058
This issue is not relevant to kubernetes core, and it is not a documentation question. Please check with the Azure team/website for support.
/close

[2021-06-04 13:18] #28058 closed

[2021-06-04 13:20] tengqm commented on #28050
Looks the second statement is inaccurate.
/triage accepted
/sig security

[2021-06-04 13:22] tengqm commented on #28033
/close

[2021-06-04 13:22] #28033 closed

[2021-06-04 14:06] MikeSpreitzer opened #28285 "No findable description of bound service account tokens"
No navigation panel says anything about bound service account tokens.

https://kubernetes.io/docs/reference/access-authn-authz/authentication/ describes service accounts and their non-bound tokens.

https://kubernetes.io/docs/reference/access-authn-authz/service-accounts-admin/ mentions them in a 4-th level subsection under automation in the admission controller (which omits the fact that the kube

[2021-06-04 14:08] MikeSpreitzer opened #28286 "Incomplete description of automation of bound service account tokens"
https://kubernetes.io/docs/reference/access-authn-authz/service-accounts-admin/#service-account-automation does not mention the kubelet, which is involved in automation for bound service account tokens.

[2021-06-04 14:17] wangyysde commented on #28284
As if the target page is https://kubernetes.io/docs/setup/production-environment/container-runtimes/. Could you tell me which page are you link from?

[2021-06-04 15:34] shannonxtreme commented on #27878
/triage accepted

[2021-06-04 16:41] seokho-son commented on #28127
/close

[2021-06-04 16:41] #28127 closed

[2021-06-04 16:42] seokho-son commented on #27976
/close

[2021-06-04 16:42] #27976 closed

[2021-06-04 16:43] seokho-son opened #28287 "Korean Localization for dev-1.21-ko.4 branch"
## In English

**This is a Feature Request**

Korean Localization for `dev-1.21-ko.4` branch.

**What would you like to be added**

Any localization contributions for Korean.

**Comments**

- This issue is to notify the schedule of Korean localization to contributors.
- `dev-1.21-ko.4` is the current work branch for Korean localization.
- Korean PR Wrangler: @seokho-son

**Important dates**
- A Ko

[2021-06-04 16:48] seokho-son opened #28288 "Outdated files in the dev-1.21-ko.4 branch"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.21-ko.4 branch.
This report is based on `scripts/diff_l10n_branches.py ko upstream/dev-1.21-ko.3 upstream/dev-1.21-ko.4`

### 10 files to be modified
1. [ ] M1.  `content/en/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md`  | 1(+XS) 1(-)
1. [ ] M2.  `content/en/docs/concepts/services-networking/network-pol

[2021-06-04 16:51] seokho-son commented on #28288
/assign @seokho-son for M1 ~ M5 :)

[2021-06-04 16:51] seokho-son commented on #28288
/triage accepted

[2021-06-04 16:52] seokho-son commented on #28288
- M1 ~ M5 : @seokho-son

[2021-06-04 16:53] seokho-son commented on #28287
/triage accepted

[2021-06-04 17:17] renukamanavalan commented on #28258
Thank you neo! The word "first" is not an issue here, in fact that is the apt word. The point still here is, when you don't have control on "_which node will be picked first_", (_random pick among 5_) the *ideal* way is an ability to figure out, if this is the first node picked to run this script or not, at run time, programmatically.

Based on this statement from the doc "`Your cluster was upgrad

[2021-06-04 21:12] #27072 closed

[2021-06-04 21:21] chrisnegus opened #28291 "Add content to https://kubernetes.io/docs/setup/best-practices/certificates/"
**This is a Feature Request**

**What would you like to be added**

I'm in the process of creating several diagrams to add to the certificates page to illustrate where the certificates live and how they are used.

**Why is this needed**

The information on this page is very good, but I think could be enhanced with diagrams that highlight which files:

* Need to be replaced to use your own certific

[2021-06-04 23:11] #28258 closed

[2021-06-04 23:20] tengqm commented on #28285
/triage accepted

[2021-06-05 02:00] Philipsty commented on #19835
@sftim @spzala @tengqm
Hello all, I have worked on this as my first issue. I added navigation buttons to allow the user to return to the previous Kubernetes basics module and the Kubernetes basics home screen.

eg. Module 2 will have the following buttons at the end of the interactive tutorial

{Return to Module 1}  {Home} {Continue to Module 3}

I have updated the modules and made a PR,
https://g

[2021-06-05 09:03] sarathkumarraji opened #28293 "Improvement for k8s.io/docs/setup/production-environment/container-runtimes/"

[2021-06-05 09:03] #28293 closed

[2021-06-05 09:12] tengqm commented on #19835
/team katacoda

[2021-06-05 09:17] tengqm commented on #28019
/close

[2021-06-05 09:17] #28019 closed

[2021-06-05 09:19] tengqm commented on #28009
@trailstrider If I'm understanding this correctly, the question is about a vendor specific configuration option. Since the kubernetes website is not hosting such 3rd party contents, please check with the vendor about the details.
Feel free to reopen if I'm making mistakes.
/close

[2021-06-05 09:19] #28009 closed

[2021-06-05 09:20] tengqm commented on #28001
CronJob has graduated to GA in 1.21. If you are using an older release version, pls switch to docs for that specific version.
/close

[2021-06-05 09:20] #28001 closed

[2021-06-05 09:21] tengqm commented on #27982
Closing this since #28087 is being merged.

[2021-06-05 09:21] tengqm commented on #27982
/close

[2021-06-05 09:22] #27982 closed

[2021-06-05 09:35] tengqm commented on #27953
/triage accepted
/assign
/sig windows

[2021-06-05 10:59] tengqm commented on #27942
/kind support
/close

[2021-06-05 10:59] #27942 closed

[2021-06-05 11:41] seokho-son commented on #28217
@sysnet4admin 오번역 리포트 감사합니다!! ^^
혹시 이번 기회에 직접 PR로 기여를 해보고 싶으시다면 진행해주셔도 좋을 것 같습니다.
(@jihoon-seo 님~~ 혹시 작업 시작하신 것이 아니라면, @sysnet4admin 께서 혹시 기여하고 싶으신지 확인 후에 진행해도 될까요?^^)

[2021-06-05 11:50] #27953 closed

[2021-06-05 12:06] tengqm commented on #27824
/close

[2021-06-05 12:06] #27824 closed

[2021-06-05 12:13] tengqm commented on #27642
The whole page has been resync'ed.  ( #28142)

/close

[2021-06-05 12:13] #27642 closed

[2021-06-05 12:16] tengqm commented on #27620
Fixed during last resync.
/close

[2021-06-05 12:16] #27620 closed

[2021-06-05 12:18] tengqm commented on #27572
/language de

[2021-06-05 12:20] tengqm commented on #27560
/close

[2021-06-05 12:20] #27560 closed

[2021-06-05 13:10] sysnet4admin commented on #28217
안녕하세요.

그렇게하도록 권유주신다면, PR 넣도록 하겠습니다. (in 2days)

이것 말고도 여러개 보였는데 그냥 스치듯 지나갔었는데..
앞으로는 쿠버네티스 한글화에 도움이 되도록 contribution하는 방향으로 진행토록 하겠습니다. 감사합니다.

조훈 드림.
________________________________
보낸 사람: Seokho Son ***@***.***>
보낸 날짜: 2021년 6월 5일 토요일 오후 8:41
받는 사람: kubernetes/website ***@***.***>
참조: Hoon Jo ***@***.***>; Mention ***@***.***>
제목: Re: [kubernetes/website] [ko] Bug in ko/docs/concepts/schedulin

[2021-06-05 13:16] tengqm commented on #27468
/close

[2021-06-05 13:16] #27468 closed

[2021-06-05 13:16] #27475 closed

[2021-06-05 13:24] seokho-son commented on #28217
@sysnet4admin 감사합니다 !! ^^ 자발적인 기여에 의해 진행되고 있어서 아직 부족한 부분이 많이 있을 거예요. 함께 만들어나가면 좋을 것 같습니다. 혹시 작업 중에 궁금한 사항은 이슈나 슬랙 체널에 참여하셔서 편하게 문의 주시면 됩니다. (https://kubernetes.slack.com/archives/CA1MMR86S)
해당 PR은 https://github.com/kubernetes/website/issues/28287 를 참고하셔서, dev-1.21-ko.4 브랜치를 기준으로 작업해주시면 되겠습니다..^^

@jihoon-seo 님 ~~ 해당 이슈는 새로운 컨트리뷰터께 할당하면 좋을 것 같습니다! 감사합니다^^

/unassign @jihoon-seo
/assign @sysnet4adm

[2021-06-05 13:26] seokho-son commented on #28261
/triage accepted
감사합니다! ^^

현재 작업 브랜치는 dev-1.21-ko.4 입니다.
https://github.com/kubernetes/website/issues/28287 참고하셔서
dev-1.21-ko.4 를 기준으로 작업해주시면 될 것 같습니다. (약 2주간 진행되는 마일스톤)

[2021-06-05 14:18] sysnet4admin commented on #28217
@seokho-son 넵 도움에 감사드립니다.
지금도 충분히 성숙되어 있지만, 더 좋아지는 쿠버네티스 한글화를 위해 열심히 기여하도록 하겠습니다. 감사합니다.

[2021-06-05 18:20] himanshu007-creator commented on #28144
Can you pinpoint the lines that needs changes?
Thanks

[2021-06-05 23:03] renukamanavalan commented on #28258
Thank you Lubomir!

[2021-06-06 04:09] tengqm commented on #28005
Looks like this has been fixed.
/close

[2021-06-06 04:09] #28005 closed

[2021-06-06 04:14] #27916 closed

[2021-06-06 06:19] seokho-son commented on #28217
Fixed by #28297
/close

[2021-06-06 06:19] #28217 closed

[2021-06-06 08:04] bells17 commented on #28282
/triage accepted

[2021-06-06 08:05] bells17 commented on #28281
https://gist.github.com/505d5ed7b47058cc0b2ab2a65d9cae14
見る限り差分なさそう

[2021-06-06 08:05] bells17 commented on #28280
/triage accepted

[2021-06-06 08:05] bells17 commented on #28279
/triage accepted

[2021-06-06 08:06] bells17 commented on #28278
/triage accepted

[2021-06-06 08:08] bells17 commented on #28277
実質差分なさそうなのでcloseで良さそう

[2021-06-06 08:09] bells17 commented on #28276
/triage accepted

[2021-06-06 08:09] bells17 commented on #28274
/triage accepted

[2021-06-06 08:10] bells17 commented on #28274
full_linkはjaの方にもありそうなので、とりあえず直しておいた方が無難なのでは？という感じです

[2021-06-06 08:11] bells17 commented on #28273
typoなので対応不要な気がする

[2021-06-06 08:11] bells17 commented on #28272
/triage accepted

[2021-06-06 08:12] bells17 commented on #28271
/triage accepted

[2021-06-06 08:12] bells17 commented on #28270
/triage accepted

[2021-06-06 08:12] bells17 commented on #28269
/triage accepted

[2021-06-06 08:12] bells17 commented on #28268
/triage accepted

[2021-06-06 08:13] bells17 commented on #28267
/triage accepted

[2021-06-06 08:13] bells17 commented on #28266
/triage accepted

[2021-06-06 08:14] bells17 commented on #27596
/triage accepted

[2021-06-06 08:18] bells17 commented on #27457
It seems this issue was already resolved.
/close

[2021-06-06 08:18] #27457 closed

[2021-06-06 09:20] bells17 commented on #28275
チェック済なのは確認したら問題なかったやつ

[2021-06-06 09:20] bells17 commented on #28275
/triage accepted

[2021-06-06 09:20] bells17 commented on #28275
/assign

[2021-06-06 09:24] Itaachime commented on #28282
/assign

[2021-06-06 09:43] bells17 commented on #28275
/kind bug

[2021-06-06 09:48] soniasingla commented on #27078
@SivaTharun any updates here, let us know if you are facing any issues? :)

[2021-06-06 11:30] inductor commented on #28277
/close

[2021-06-06 11:30] #28277 closed

[2021-06-06 11:30] inductor commented on #28273
/close

[2021-06-06 11:30] #28273 closed

[2021-06-06 12:02] Itaachime commented on #28280
/assign

[2021-06-06 12:12] Itaachime commented on #28055
/assign

[2021-06-06 12:27] Itaachime commented on #28054
/assign

[2021-06-06 13:39] JIIOryo commented on #28278
/assign

[2021-06-06 18:24] #25962 closed

[2021-06-06 18:24] #25957 closed

[2021-06-06 21:34] rittneje commented on #26936
/remove-lifecycle stale

[2021-06-07 01:23] guobinzhao commented on #26367
I am using the "Launch Terminal" in the web site https://kubernetes.io/zh/docs/tasks/access-application-cluster/ingress-minikube/ to start the minikube.  the issue still exist.

[2021-06-07 04:59] mehabhalodiya commented on #25123
/assign

[2021-06-07 06:11] s-kawamura-w664 commented on #28280
/assign

[2021-06-07 06:22] s-ito-ts commented on #28272
/assign

[2021-06-07 06:57] HongjiangHuang commented on #28284
/assign
/triage/accepted
/bug

[2021-06-07 06:58] HongjiangHuang commented on #28284
/triage accepted

[2021-06-07 07:06] HongjiangHuang commented on #28284
/kind bug

[2021-06-07 09:17] timothyclarke commented on #19611
/remove-lifecycle stale

[2021-06-07 10:37] s-kawamura-w664 commented on #28279
@inductor
I think this update is already included in the Japanese document.
This page was translated to Japanese at 2020/11/23 in #25183.
The latest update of English was at 2020/08/27.
Maybe, this translated page will be latest.
So, I think this issue will be able to close.

[2021-06-07 10:42] inductor commented on #28279
Thanks!
/close

[2021-06-07 10:42] #28279 closed

[2021-06-07 13:30] #25981 closed

[2021-06-07 13:57] racheng opened #28314 "Pod 安全策略"
"PodSecurityPolicy 在 Kubernetes v1.21 版本中被启用"

[2021-06-07 13:57] #28314 closed

[2021-06-07 16:07] enj commented on #27068
/triage accepted
/assign @tallclair @tabbysable

[2021-06-07 17:16] briantkennedy opened #28316 "Improvement for k8s.io/docs/reference/kubernetes-api/workload-resources/deployment-v1/"
`DeploymentStatus` has fields `readyReplicas` and `availableReplicas`.  It's not clear what the difference is between `availableReplicas` and `readyReplicas` since the docs define these in terms of a pod being "ready", but don't define the criteria for "ready".

[2021-06-07 18:32] #26015 closed

[2021-06-07 19:17] shannonxtreme commented on #28316
/triage accepted
/sig docs
/language en
/assign

Looks like it's not super clear what the difference is between "available" and "ready" in this context. A Pod has to be ready without its containers crashing for at least `minReadySeconds` to be considered "available".

`availableReplicas` is the number of _available_ pods.
`readyReplicas` is the number of _ready_ pods.

[2021-06-07 19:33] #25976 closed

[2021-06-07 23:24] kbhawkey commented on #28316
Hi @briantkennedy .
This reference page is auto-generated from the code in  `kubernetes/kubernetes`.
Unless there is a formatting issue, I would raise an issue upstream.

[2021-06-08 01:59] jihoon-seo commented on #28204
/close

[2021-06-08 01:59] #28204 closed

[2021-06-08 03:00] atoato88 commented on #28266
Isn't target file for this PR already updated for v1.19 in #26903 ?

[2021-06-08 03:32] inductor commented on #28266
thanks
/close

[2021-06-08 03:32] #28266 closed

[2021-06-08 05:59] s-kawamura-w664 commented on #28271
/assign

[2021-06-08 06:07] t-inu commented on #28267
/assign

[2021-06-08 07:08] HongjiangHuang commented on #28265
What version of Kubernetes?

[2021-06-08 07:20] HongjiangHuang commented on #28203
How did you come to this conclusion

[2021-06-08 09:11] josp70 commented on #28203
(Thanks fo the attention to this request)

This question arise after a request we summited to AWS (eks cluster) support. As a summary, we have configured startupProbe, readinessProbe and livenessProbe for a given deployment, and we have observed the readinessProbe and livenessProbe started as if no startupProbe were configured.

It's worth to mention this is done for a windows deployment.

Part of

[2021-06-08 12:17] inductor commented on #28268
/close

[2021-06-08 12:17] #28268 closed

[2021-06-08 12:55] sftim opened #28323 "Link from Labels concept page to list of well-known labels"
**This is a Feature Request**

**What would you like to be added**
https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/ should link to https://kubernetes.io/docs/reference/labels-annotations-taints/, and possibly also to https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/

**Why is this needed**
These changes will help readers navigate the site.

*

[2021-06-08 12:55] sftim opened #28324 "Add glossary tooltip to Pod Priority and Preemption page"
**This is a feature request**

**What would you like to be added**
https://kubernetes.io/docs/concepts/scheduling-eviction/pod-priority-preemption/ should use a glossary tooltip for “affinity”

**Why is this needed**
Kubernetes uses the term “affinity” to mean a specific thing. A tooltip (and the hyperlink it implies) helps a reader learn more about this term if they are not sure.

**Comments**
/l

[2021-06-08 12:55] sftim commented on #28291
/triage accepted

[2021-06-08 12:55] sftim commented on #28291
/sig auth

[2021-06-08 12:56] sftim commented on #28285
/sig auth

[2021-06-08 12:56] sftim commented on #28285
There isn't really a concept page on ServiceAccount. If there were, we could migrate the content to that concept page, and then hyperlink to that new section from its previous home.

[2021-06-08 13:18] sftim commented on #27068
Thanks @enj!

[2021-06-08 13:20] MikeSpreitzer opened #28325 "Need better doc about alt addr in k8s.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/"
In the "Initializing your control-plane node" section, point 4 begins by opening an important topic, what to do if the default address is not the one you want `kubeadm init` to use.  But it continues by talking about only a sliver of what has to be done about it, "set the advertise address for this particular control-plane node's API server".  BTW, even following the instructions given there, the

[2021-06-08 13:20] sftim commented on #26917
/remove-lifecycle stale
/help

[2021-06-08 13:23] sftim commented on #21867
/remove-lifecycle rotten
/lifecycle frozen

[2021-06-08 13:23] sftim commented on #21867
/triage accepted

[2021-06-08 14:31] HongjiangHuang commented on #28203
Hello, bro ~
The source code does not distinguish between windows.
And there is no big difference between LivenessProbe and StartupProbe implementation, so I don't think it's not supported by windows container, you can provide a rough deployment config(YAML) as a reference?

https://github.com/kubernetes/kubernetes/blob/v1.20.4/pkg/kubelet/prober/prober.go#L91

https://github.com/kubernetes/kubern

[2021-06-08 14:38] HongjiangHuang commented on #28203
It is worth mentioning that the related documentation has not been updated since this [PR](https://github.com/kubernetes/website/pull/13174)

[2021-06-08 15:07] anyulled commented on #13948
Hi! I want to translate the Storage section that @csantanapr proposed in the last comment and the Kubernetes cheatsheet.

[2021-06-08 15:37] #26002 closed

[2021-06-08 15:37] #26019 closed

[2021-06-08 16:21] MikeSpreitzer commented on #28325
And I just discovered that setting `--control-plane-endpoint` does NOT determine the address that the kube-apiserver writes into its Endpoints object.  This makes sense from the usage scenario of multiple masters, but is an additional gotcha to be noted for admins that need to exterminate the default address.

[2021-06-08 16:22] sftim commented on #28325
/sig cluster-lifecycle
/language en

[2021-06-08 16:27] sftim commented on #28284
@HongjiangHuang The issue description is not yet clear on what needs fixing. Let's clarify.

/remove-triage accepted
/triage needs-information
/language es

[2021-06-08 16:28] sftim commented on #28265
/triage needs-information
/language en

I think the cheat sheet is accurate for Kubernetes v1.21

[2021-06-08 16:28] sftim commented on #28203
/sig windows

[2021-06-08 16:38] #26016 closed

[2021-06-08 16:39] neolit123 commented on #28325
replied on https://github.com/kubernetes/kubernetes/issues/102693
your interface setup is not something k8s components understand very well and the topic of advertise-address vs bind-address is already confusing. that is not kubeadm's fault however.
https://stackoverflow.com/questions/65995056/kubernetes-api-server-bind-address-vs-advertise-address

the apiserver flags are underdocumented.

why wo

[2021-06-08 17:08] umohnani8 commented on #14956
The docs PR was merged, this issue can be closed now.

[2021-06-08 17:09] sftim commented on #25172
/remove-lifecycle stale
more discussion might be useful (still)

[2021-06-08 17:10] sftim commented on #25943
/remove-lifecycle stale
/lifecycle frozen
(it's important)

[2021-06-08 17:12] sftim commented on #25659
I don't think “API access from Pods” is a concept people need to read up on separately from the Kubernetes API overall. We could add a section to https://kubernetes.io/docs/concepts/overview/kubernetes-api/ that links to the relevant task page (and if we do make a task page for it, I recommend adding exactly that link).

/remove-lifecycle stale

[2021-06-08 17:13] sftim commented on #23518
/remove-lifecycle rotten
Still important

[2021-06-08 17:17] sftim commented on #26190
/remove-lifecycle rotten

[2021-06-08 17:18] sftim commented on #26591
Fixed in https://github.com/kubernetes/website/pull/26564 I think
/close

[2021-06-08 17:18] #26591 closed

[2021-06-08 17:21] sftim commented on #28068
/retitle Add generic sizing recommendations to Best Practices setup pages
/language en
/kind feature

[2021-06-08 17:23] sftim commented on #28068
@kubernetes/sig-scalability would anyone from the SIG be willing to triage this and maybe help move the work forward?

[2021-06-08 18:02] electrocucaracha commented on #13948
@anyulled can you be more specific about the document that you're planning to translate?

[2021-06-08 18:05] sftim commented on #14956
/close

[2021-06-08 18:05] #14956 closed

[2021-06-08 18:09] MikeSpreitzer commented on #28325
That response is taking a narrower view of kubeadm than I would like to see in the documentation.  With an outside-in perspective, kubeadm looks like a tool to create a cluster.  That is how it appears in the documentation.  That job includes configuring all the parts of the cluster, including kubelets.  Even if the kubeadm code takes the narrower view, I think the documentation of how to use kube

[2021-06-08 18:19] sftim opened #28326 "Improve navigation / grouping for API reference"
**This is a Feature Request**

**What would you like to be added**
(After discussion) we should revise how https://kubernetes.io/docs/reference/kubernetes-api/ is laid out in terms of URLs, paths, and structure.

**Why is this needed**
https://kubernetes.io/docs/reference/kubernetes-api/ groups resources which is helpful but also arbitrary (another author might pick a different grouping, and the g

[2021-06-08 18:20] sftim commented on #28326
https://www.docsy.dev/docs/adding-content/navigation/#add-manual-links-to-section-menu might be useful if we want to have navigation links that let readers access particular groupings of APIs, even if those groupings aren't actually static pages.

[2021-06-08 18:22] sftim commented on #28326
I spoke to SIG Architecture about this (one time only so not fully representattive). That SIG meeting expressed a _mild_ preference for representing API groups / paths in the same manner as the HTTP API does, and also for capturing version information.

It's useful if once we settle on a structure, the URLs of API reference pages are predictable and stable.

[2021-06-08 19:24] josp70 commented on #28203
Here you can see the deployment:
[code]

Thanks!

[2021-06-08 19:29] anyulled commented on #13948
@electrocucaracha this one, for a start

- [ ] [concepts/storage/volumes/]

[2021-06-08 21:17] MikeSpreitzer commented on #28325
I submitted a blog post covering what I worked out for comprehensively overriding the default address.

[2021-06-08 21:54] eddiezane commented on #26936
This might be coming directly from client-go.

/triage accepted

[2021-06-08 21:57] sftim commented on #27629
This issue is ready for a contributor to work on it. SIG Docs has not made work on this a priority for the current quarterly plan.

[2021-06-08 21:58] #27360 closed

[2021-06-08 22:05] eddiezane commented on #26936
Yea this is coming from clientcmd.

https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/staging/src/k8s.io/client-go/tools/clientcmd/client_config.go#L582

This might help https://github.com/kubernetes/kubectl/issues/927#issuecomment-693483957.

[2021-06-08 22:19] eddiezane commented on #25944
/sig cli
/remove-sig api-machinery
/triage accepted

This was discussed at a sig api-machinery call.

[Recording timestamp](https://youtu.be/saifLI8MAi8?t=338).

The TLDW: This is a convenience type used by kubectl for lists of mixed types. API Server won't send this type.

We could document that but where would it make sense?

[2021-06-08 22:39] sftim commented on #25944
https://kubernetes.io/docs/reference/kubernetes-api/common-definitions/ ?
https://kubernetes.io/docs/concepts/overview/working-with-objects/ (erm, needs writing! - but a good place for it)

We could migrate https://kubernetes.io/docs/concepts/overview/working-with-objects/kubernetes-objects/ to https://kubernetes.io/docs/concepts/overview/working-with-objects/ and mention that `kind: List` is a cl

[2021-06-08 22:40] sftim commented on #25944
**note** that https://kubernetes.io/docs/reference/kubernetes-api/common-definitions/ is generated content, so we'd need to find a way to add the note into the generator somehow. Not straightforward. But possible.

[2021-06-08 22:42] atoato88 commented on #28275
I'm facing same issue lol :smiley:
Feel free to mention me for review if create PRs for this. :smile:

[2021-06-08 22:44] sftim commented on #26825
Let's make this an umbrella (tracking) issue, and create sub issues if we want to track groups of items.
/triage accepted
/remove-lifecycle stale
/language en

/priority backlog
(it's a nice idea, but there are others that are more valuable)

[2021-06-08 22:55] neolit123 commented on #28325
If you tell a kubeadm init command to use an advertise address foo it will
end up in both apiserver serving cert SAN and in the join command that is
printed at the end of init.

If you are not seeing the same I would like to know more because this is
not reproducible.

WRT kubelet node ip, you can configure that with the kubeadm
NodeRegistrationOptions.kubeletExtraArgs. The advertise address also

[2021-06-08 22:57] sftim commented on #26687
/help

This isn't a good-first-issue for SIG Docs. It might be a good first issue for someone who knows `client-go` and is looking to get more involved with documentation.

The reference could go alongside generated documentation within https://kubernetes.io/docs/reference/config-api/

[2021-06-08 22:59] atoato88 commented on #28275
I added LGTM to your PR just now.

[2021-06-08 23:03] #24133 closed

[2021-06-08 23:36] sftim commented on #26135
It's been a while with no update
/close

[2021-06-08 23:36] #26135 closed

[2021-06-08 23:39] jimangel commented on #27948
Strong +1 here! Thanks!

[2021-06-08 23:40] sftim commented on #26797
Done
/close

[2021-06-08 23:40] #26797 closed

[2021-06-08 23:43] sftim commented on #23992
@kubernetes/sig-api-machinery-misc would anyone from the SIG be willing to pick this one up?

[2021-06-08 23:45] sftim commented on #27738
Ah, OK. To read the documentation specifically for Kubernetes v1.19, visit https://v1-19.docs.kubernetes.io/docs/setup/production-environment/windows/user-guide-windows-containers/

Does that help?

[2021-06-08 23:47] lavalamp commented on #23992
I agree this is useful to document, I've wanted to refer people to this documentation before 😅

@roycaihw, @yliaog, or @caesarxuchao, perhaps?

@sftim sorry, we haven't seen this issue because it's not in the repo that we triage.

[2021-06-08 23:48] sftim commented on #25149
/reopen
Might be worth revisiting. If not picked up I would let it get closed by the bot though.

[2021-06-08 23:49] sftim commented on #27056
/label team/katacoda

[2021-06-08 23:51] kbhawkey commented on #27948
Sure. I have not checked the Netlify docs. Are there any known issues?

[2021-06-08 23:51] sftim commented on #23101
/remove-lifecycle rotten
/lifecycle frozen

It's a common thing to want to do.

[2021-06-08 23:52] sftim commented on #27948
Switched to 20.04 and triggered a [deploy](https://app.netlify.com/sites/kubernetes-io-master-staging/deploys/60c002ad9c4e3000bf606992)

[2021-06-08 23:57] sftim commented on #27948
Looks good to me!

[2021-06-08 23:58] sftim commented on #23992
(no worries @lavalamp - thanks for coming back promptly when nudged!)

[2021-06-09 00:05] kbhawkey commented on #28326
/triage accepted

[2021-06-09 01:06] t-inu commented on #28281
違いは、このダブルクォーテーションだけでした。
[code]
日本語では、カギカッコで「近道」となっていて、特に修正する必要はなさそうです。

[2021-06-09 01:29] kbhawkey commented on #27948
OK. Saw this warning (unrelated to Ubuntu) in the deploy:
[code]
Wondered if we need to bump up the ruby version again?

[2021-06-09 01:45] t-inu commented on #28276
/assign

[2021-06-09 02:12] bradtopol commented on #27948
I am ok as well with bumping up the Ubuntu image. Progress!

[2021-06-09 02:22] kbhawkey commented on #28324
/triage accepted

[2021-06-09 02:31] #28122 closed

[2021-06-09 02:34] kbhawkey commented on #22489
/remove-lifecyle rotten

[2021-06-09 02:57] bells17 commented on #28281
/close

[2021-06-09 02:57] #28281 closed

[2021-06-09 03:39] iampronoy opened #28334 "Improvement for k8s.io/docs/tasks/run-application/run-replicated-stateful-application/"
For completeness of the document, please describe the related storage class configuration/yaml to support the below pvc:
[code]

[2021-06-09 05:42] KobayashiD27 commented on #28269
/assign

[2021-06-09 05:44] KobayashiD27 commented on #28274
/assign

[2021-06-09 06:15] rohan-kulkarni-25 commented on #28324
Hey, I will like to work on this !! Please let me know how can I proceed with this !! @kbhawkey !!

[2021-06-09 06:55] dolimoon6000 opened #28340 "Issue with k8s.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/"
I tried following all the instructions on the Kubernetes tutorial Example: Deploying WordPress and MySQL with Persistent Volumes (https://kubernetes.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/#visit-your-new-wordpress-blog). I use minikube with 2 nodes. Also, I use NodePort type for the wordpress service. Everything seems to work fine (pods, services, deployments are

[2021-06-09 07:31] HongjiangHuang commented on #28203
I am trying to write some test cases.
/help
/sig-node

[2021-06-09 07:32] HongjiangHuang commented on #28203
/sig node

[2021-06-09 07:59] SvenMW commented on #27068
I'm terribly sorry, but it seems I was not clear enough.

I know there is no default PodSecurityPolicy. What I don't know, if the mechanism to scan for the content of enabled PodSecurityPolicys, e.g. forbidden syscalls still runs.

So the question is: If I have not defined any security policy for my pod, and as you say per default there is none, would syscalls from my pod still move through an, ad

[2021-06-09 08:26] FerminCastro commented on #25703
I think that the part that needs to be much more specific in the links above is this:
----------------------------------------------------------------------
    Note:

    If any API servers are running in your cluster, you should not attempt to restore instances of etcd. Instead, follow these steps to restore etcd:

        stop all API server instances
        restore state in all etcd instances

[2021-06-09 08:29] sftim commented on #19518
This'd be a nice thing to have
/remove-lifecycle rotten

[2021-06-09 09:04] pjhwa commented on #28288
/assign @pjhwa for M6 ~ M10

- M1 ~ M5 : @seokho-son
- M6 ~ M10 : @pjhwa

[2021-06-09 09:44] #25922 closed

[2021-06-09 09:48] hegdesandesh25 commented on #28265
1.18

[2021-06-09 10:38] hardikshah197 commented on #28323
Should I take up this issue? As I already know where it has to be fixed. @sftim

[2021-06-09 10:55] HongjiangHuang commented on #28265
https://v1-19.docs.kubernetes.io/

[2021-06-09 11:08] HongjiangHuang commented on #28265
https://github.com/kubernetes/kubernetes/pull/68132.

It does seem that the documentation is not updated.

[2021-06-09 11:28] hegdesandesh25 commented on #28265
The site directs to the same kubectl cheatsheet documentation

[2021-06-09 12:22] sftim commented on #28203
I'm going to remove /help
/help cancel

because we haven't actually triaged that

is a valid issue that a contributor can pick up and fix.

[2021-06-09 12:24] sftim commented on #28203
BTW, https://k8s.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/ is probably _not_ the best place to document limitations of Windows nodes. Long term that information should live somewhere within https://k8s.io/docs/reference/ and not in the **Getting started** section.

[2021-06-09 12:26] sftim commented on #27948
Deploys including scheduled builds seem to be working OK.
/close

[2021-06-09 12:29] #27917 closed

[2021-06-09 13:26] ystkfujii commented on #28270
/assign

[2021-06-09 14:27] ClaudiaJKang opened #28350 "[ko] Translate /docs/reference/glossary/kubernetes-api.md"
**This is a Feature Request**
Translate [/docs/reference/glossary/kubernetes-api.md](https://github.com/kubernetes/website/blob/00d5073abfce14bb39b26b618c9c20a18b9ea537/content/en/docs/reference/glossary/kubernetes-api.md) in Korean

**What would you like to be added**

Translate [/docs/reference/glossary/kubernetes-api.md](https://github.com/kubernetes/website/blob/00d5073abfce14bb39b26b618c9c20a

[2021-06-09 14:28] ClaudiaJKang commented on #28350
/triage accepted

[2021-06-09 15:46] Kartik494 commented on #20644
@ghost Implementation described in the documentation seems fine to me . and i got the expected output
` kubectl patch storageclass standard -p '{"metadata": {"annotations":{"storageclass.kubernetes.io/is-default-class":"false"}}}'
storageclass.storage.k8s.io/standard patched`

[2021-06-09 15:47] Kartik494 commented on #20644
In addition to this i have used minikube for the implementation
`
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.0", GitCommit:"cb303e613a121a29364f75cc67d3d580833a7479", GitTreeState:"clean", BuildDate:"2021-04-08T16:31:21Z", GoVersion:"go1.16.1", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.0", GitCommit:"cb30

[2021-06-09 16:09] #28350 closed

[2021-06-09 16:25] Kartik494 commented on #28099
/assign

[2021-06-09 16:29] ClaudiaJKang opened #28354 "[ko] Translate docs/reference/kubernetes-api/workload-resources/pod-template-v1.md"
**This is a Feature Request**
Translate [docs/reference/kubernetes-api/workload-resources/pod-template-v1.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/kubernetes-api/workload-resources/pod-template-v1.md) in Korean

**What would you like to be added**

Translate [docs/reference/kubernetes-api/workload-resources/pod-template-v1.md](https://github.com/kubernetes/we

[2021-06-09 16:30] ClaudiaJKang commented on #28354
/triage accepted

[2021-06-09 17:01] sftim commented on #28265
@hegdesandesh25 I'm guessing that what you're saying is that when you search within https://v1-19.docs.kubernetes.io/ the search results are for the latest version of Kubernetes.

Have I got that right?

[2021-06-09 18:14] shannonxtreme commented on #4322
Doc plan is [here](https://docs.google.com/document/d/1XeWLJtDwz67C1YOfABFe5cKw2ds5msMcEBLayuMJuiY/edit?usp=sharing) @sftim @zacharysarah please review, leave comments, and LGTM when ready or add other reviewers. Let's get the scope sorted before I dive into content :)

[2021-06-09 18:15] sftim commented on #4322
Maybe something to bring up in the SIG Docs Slack channel and / or during a SIG weekly meeting?

[2021-06-09 18:46] MikeSpreitzer opened #28357 "Inaccurate node lease renewal interval in k8s.io/docs/reference/config-api/kubelet-config.v1beta1/"
The entry for nodeLeaseDurationSeconds says

The future is now.  I am running release 1.21.1, and I have changed the nodeLeaseDuration to 100 seconds --- and the lease is being renewed every 25 seconds.

[2021-06-09 22:48] #25528 closed

[2021-06-10 11:30] weyyserabut opened #28365 "plase stop that !! … dont want beta progem"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2021-06-10 13:14] neolit123 commented on #28325
Potential improvement mentioned here https://github.com/kubernetes/kubernetes/issues/102693#issuecomment-858608023

[2021-06-10 14:26] bradtopol commented on #19835
/assign @Philipsty

[2021-06-10 14:27] bradtopol commented on #19835
Done! Thanks @Philipsty

[2021-06-10 19:03] alculquicondor opened #28368 "Clarify behavior of Multiple Topology Spread constraints"
**This is a Bug Report**

**Problem:**

We have examples of using more than one constraint, but we don't explicitly mention how those are treated.

**Proposed Solution:**

When describing the API, we should mention that multiple constraints are ANDed.

Also important to mention that there are no guarantees when removing pods (like when downscaling a replicaset).

**Page to Update:**

https://kuber

[2021-06-10 19:03] alculquicondor commented on #28368
/triage accepted
/help

[2021-06-10 23:41] t-inu commented on #28283
This file was deleted by the following PR.
#27508 Remove the link to the unused page in the side menu

I searched the file using find command for confirmation, then it was not to be found anywhere.
It seems this issue can be closed without any changes.

[2021-06-10 23:42] Philipsty commented on #19835
Thank you @bradtopol

[2021-06-11 00:44] kbhawkey commented on #28365
/close

[2021-06-11 00:44] #28365 closed

[2021-06-11 04:54] #22348 closed

[2021-06-11 05:33] jihoon-seo opened #28370 "Nits in setup/production-environment/windows/user-guide-windows-containers"
**This is a Bug Report**

**Problem & Proposed Solution:**

In https://kubernetes.io/docs/setup/production-environment/windows/user-guide-windows-containers/ ,

[code]
(Because, according to [here](https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/#windows-containers-in-kubernetes),

---

In https://kubernetes.io/docs/setup/production-environment/windows/u

[2021-06-11 08:00] inductor commented on #28283
/close

[2021-06-11 08:00] #28283 closed

[2021-06-11 08:11] hegdesandesh25 commented on #28265
@sftim
To clarify, the run commands on the kubectl [cheatsheet](https://kubernetes.io/docs/reference/kubectl/cheatsheet/#interacting-with-running-pods) do not work on kubernetes - (1.18/1.19/1.20) and it might need an update or state that it wont work on them.

please see this: https://github.com/kubernetes/kubernetes/pull/68132 as stated by @HongjiangHuang

Commands will work with the below flag:

[2021-06-11 08:18] sftim commented on #28265
The cheat sheet could borrow from https://kubernetes.io/docs/home/supported-doc-versions/ and explicitly link in the page body to the other available versions. This will be more clear than just putting the version selector in the top nav.

Maybe that would help?

[2021-06-11 10:18] HongjiangHuang commented on #28265
I think deleting the run command example.

Because it has been deprecated

[2021-06-11 10:21] sftim commented on #28265
?
That's not deprecated, so I'd leave it in.

[2021-06-11 12:53] sftim commented on #28291
For the diagrams, I think it'd be useful to show the cluster components (etcd, API server, kubelet, etc) and indicate which of these has:
- the cluster CA private key
- the root CA key (which I think could be either: the API server, or none of these)
- the etcd private key(s)
- the private key for a given node

along with the certificates that rely on those private keys.

For example, the API serv

[2021-06-11 14:53] sftim commented on #25645
I've updated the PR I opened about this. I've left it as draft so that we can discuss the approach to take.

[2021-06-11 16:17] jihoon-seo commented on #28370
/assign

[2021-06-11 17:24] DmitriGekhtman opened #28375 "Improvement for k8s.io/docs/concepts/workloads/controllers/replicaset/"
According to
https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/#pod-deletion-cost,
the pod deletion cost annotation "is honored on a best-effort basis, so it does not offer any guarantees on pod deletion order." It would help to add some context on when the annotation might not be honored. Otherwise, "no guarantees" could be construed as "doesn't work" which I'm sure isn't the c

[2021-06-12 03:01] MikeSpreitzer opened #28380 "Types missing from k8s.io/docs/reference/config-api/"
There are a lot of configuration APIs not mentioned here.  Examples include:
- KubeletConfiguration
- InitConfiguration
- ClusterConfiguration

[2021-06-12 03:32] hikkie3110 commented on #27124
https://github.com/kubernetes/website/pull/27846

こちらで対応終わっているみたいです。

/unassign

[2021-06-12 03:39] hikkie3110 commented on #27125
/assign

[2021-06-12 05:38] MikeSpreitzer commented on #28325
OK, I have learned some stuff and think I can articulate the problem better.   Let me try to start this over.

We have this documentation branch at https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/ .  It describes how to create a cluster using kubeadm.  As an operator, I come to this documentation branch with the whole problem of creating a cluster.  That includes installing a

[2021-06-12 12:05] chenxuc commented on #27673
I can work on the following if no one has worked on it yet. Thanks.

Others(1)
1	1	content/en/docs/reference/glossary/index.md
2	3	content/en/docs/reference/glossary/wg.md
1	1	content/en/docs/reference/glossary/cloud-controller-manager.md
1	1	content/en/docs/reference/issues-security/_index.md
2	2	content/en/docs/reference/kubectl/overview.md
21	2	content/en/docs/reference/kubectl/cheatsheet.md
1

[2021-06-12 12:34] tengqm commented on #27673
@chenxuc  Item 10 is yours now.

[2021-06-12 13:36] NOWYOU opened #28383 "鉴权概述的翻译问题（Chinese translation Issues of Authentication Overview）"
authorization翻译成授权会不会更贴切一些？中国国内对3A的翻译，一般都是认证，授权和审计（authentication, authorization and auditing）。

Would it be more appropriate to translate authorization into [授权]? The translation of 3A in China is generally authentication(认证), authorization（授权）, and auditing（审计）.

[2021-06-12 14:24] hegdesandesh25 commented on #28265
@sftim
The run commands are not deprecated, the meaning of running the command has changed. In the latest versions, If you leave out the generators, run command is expected to create deployment by default. I would not suggest removing the commands itself from the documentation else how else would you create a simple pod(may be a rare scenario but) ?

[2021-06-12 19:01] #25961 closed

[2021-06-12 19:01] #20655 closed

[2021-06-13 00:19] tengqm commented on #28383
@NOWYOU Authorization 确实既可译为“授权”也可译为“鉴权”，具体翻译取决于上下文中，authorization 的含义。如果表达的是检查、判定权限的过程或组件，应该译为“鉴权”，强调尚未确定权限是否合理合法的状态，以及评估、鉴别的过程。反之，如果所周表达的是授予、赋予、给予某主体合适的权限这一动作或过程，可以翻译为“授权”。全部都翻译为“授权”不仅不准确，还容易引起误解。

[2021-06-13 01:07] #24582 closed

[2021-06-13 02:11] NOWYOU commented on #28383
了解了这个两个词的差异，谢谢。但是照您所说，在这一页下文的表述中，很多Authorization应该翻译为授权，而不是全部为鉴权。
举一个例子。
----------------------------------------------------------------------------------------------------------------------------------------------
鉴权模块
Node - 一个专用鉴权组件，根据调度到 kubelet 上运行的 Pod 为 kubelet 授予权限。 了解有关使用节点鉴权模式的更多信息，请参阅节点鉴权。
-------------------------------------------------------------------------------------------------

[2021-06-13 03:37] tengqm commented on #28383
authorization module 恰恰应该翻译为“鉴权模块”，因为它负责的是权限的鉴别判定过程，而不仅仅是授予。很有可能出现的情况是，requester 根本没有权限执行所请求的操作，这时何来权限可“授”呢？考虑这样一种表述，“The request is rejected by the authorization module”，如果翻译为“请求被授权模块拒绝”，是不是有点儿不严谨？“授权”模块怎么可以拒绝一个请求呢？

[2021-06-13 03:47] tabbysable opened #28392 "Correct minor oversights in Pod Security Standards"
**This is a Bug Report**

**Problem:**
In the Pod Security Standards document:
* Host Namespaces should be allowed to be undefined/nil in addition to false (these mean the same thing, but according to a strict reading of the document right now, specifying 'false' explicitly is required)
* Seccomp section has been incompletely and incorrectly updated for the GA of seccomp support in 1.19 (missing "

[2021-06-13 03:47] tabbysable commented on #28392
/sig security auth
/triage accepted

[2021-06-13 04:06] tabbysable commented on #28392
/good-first-issue

[2021-06-13 04:40] MikeSpreitzer commented on #28380
Actually KubeletConfiguration is there, don't know how I missed it.  But the kubeadm types are missing.

[2021-06-13 04:56] MikeSpreitzer commented on #28325
FYI, a word on finding the relevant APIs (such as InitConfiguration).  The instructions on creating a cluster with kubeadm, https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/ , does not have a link to the APIs.  It _does_ have a link to [Using kubeadm init with a configuration file](https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#co

[2021-06-13 04:56] NOWYOU commented on #28383
谢谢您的解惑

[2021-06-13 04:56] #28383 closed

[2021-06-13 05:00] MikeSpreitzer commented on #28325
Neither https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#join-nodes nor the output from `kubeadm init` suggest that I can or should use a config file with `kubeadm join`.

[2021-06-13 05:13] tabbysable commented on #28013
I think it looks nice right now, with the warning after the note.

I agree this is a complex question: it would be nice to offer further information, but linking to external resources we don't control gives the danger of the link going away in the future.
@kubernetes/sig-docs-en-reviews do you have any general guidance on external links in k8s documentation?

[2021-06-13 06:04] MikeSpreitzer commented on #28325
So I never found an explanation of whether or how I can mix command line flags with config file contents, for `kubeadm join`.  So I tried making the minimal change.  I needed

[code]

so I tried just that --- and it was rejected:

[code]

So I went full tilt in the other direction, and that worked.  I used the following config file contents.

[code]

and it was accepted:

[code]

[2021-06-13 06:51] RhnSharma commented on #28392
I would like to take this one.

[2021-06-13 07:28] tengqm commented on #28325
Actually, I did generated the reference doc for kubeadm in hope it can be published on the website. The files are still [there](https://github.com/kubernetes-sigs/reference-docs/blob/master/genref/output/md/kubeadm-config.v1beta2.md).

There had been a long debate on whether and how this should be published.

[2021-06-13 07:30] tengqm commented on #28380
kubeadm type reference was generated but not published.
There were not strong support for generating and publishing them.
You can check https://github.com/kubernetes-sigs/reference-docs/blob/master/genref/output/md/kubeadm-config.v1beta2.md for the output at the moment.

[2021-06-13 10:19] sftim commented on #28013
https://kubernetes.io/docs/contribute/style/content-guide/

The approach I'd prefer for this one is that we publish a similar article to https://banzaicloud.com/blog/kubeconfig-security/ but on the Kubernetes blog, and then we can hyperlink to that with no problems (plus if we ever need to retire / clarify said article, we can).

I can help anyone who's keen to write that new article. The easier o

[2021-06-13 10:20] sftim commented on #28013
Oh, one more thing. If we do write an article for https://blog.k8s.io/, we can and should _credit_ the Banzai article as inspiration.

[2021-06-13 15:00] singhjatinder122885 opened #28395 "kube-apiserver"
Hi Team,

Can we not use --advertise address as DNS entry instead of actual IP address? While Initializing the cluster using kube-adm, here is the error I'm getting while using DNS Entry.

[code]

[2021-06-13 19:07] #26077 closed

[2021-06-13 21:31] Elevic opened #28397 "apiVersion is outdated in examples/application/job/cronjob.yaml"
In the following example:  https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/#example
The apiVersion is: batch/v1, which is not recognized by current Minikube system.  Instead the following is accepted: apiVersion: batch/v1beta1.
Regards, Fabiola

[2021-06-14 05:13] jihoon-seo commented on #28392
/assign @RhnSharma
/language en

[2021-06-14 05:14] jihoon-seo commented on #28397
/kind bug
/language en

[2021-06-14 05:59] Shuai-Xie opened #28402 "[zh] Wrong custom heading ID in zh/docs/concepts/workloads/pods"
Hi, the header url of **Privileged mode for containers** in Chinese version doc misses a `p`.

- https://kubernetes.io/zh/docs/concepts/workloads/pods/#rivileged-mode-for-containers

Best regards.

[2021-06-14 06:12] #25806 closed

[2021-06-14 08:10] jihoon-seo commented on #28402
/kind bug
/language zh

[2021-06-14 08:11] jihoon-seo commented on #28375
/language en

[2021-06-14 08:12] jihoon-seo commented on #28357
/kind bug
/language en

[2021-06-14 08:13] jihoon-seo commented on #28286
/kind bug
/language en

[2021-06-14 08:35] jihoon-seo commented on #28402
/assign
/retitle [zh] Wrong custom heading ID in zh/docs/concepts/workloads/pods

[2021-06-14 08:43] MyatNoeWai opened #28404 "Install and Set Up kubectl on macOS"
Hello,

I installed Kubernetes using this method "Install kubectl binary with curl on MacOS". In step 5, I get the error "kubectl: command not found".
MacOS version: 10.12.6

Could you please give a solution?

Regards,
Myat

[2021-06-14 08:46] jihoon-seo commented on #28397
/retitle apiVersion is outdated in examples/application/job/cronjob.yaml

[2021-06-14 08:46] HongjiangHuang commented on #28404
Can you send me the reference document?

[2021-06-14 08:46] HongjiangHuang commented on #28404
/kind support

[2021-06-14 08:48] jihoon-seo commented on #28404
reference document: https://kubernetes.io/docs/tasks/tools/install-kubectl-macos/

[2021-06-14 08:59] HongjiangHuang commented on #28404
You can run `export | grep PATH`.

Check if `/usr/local/bin` is in the PATH.

![image](https://user-images.githubusercontent.com/20190812/121866856-eb515680-cd31-11eb-9a41-d31b6018867e.png)

[2021-06-14 09:20] HongjiangHuang commented on #28397
@Elevic The documentation version needs to be the same as the Kubernetes version.

You can run `minikube start --kubernetes-version=latest` or refer to the here https://v1-20.docs.kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/

[2021-06-14 10:27] raelga commented on #27048
@WHK102 the issue is going to be closed due to inactivity. Feel free to reopen it if necessary.

/close

[2021-06-14 10:27] #27048 closed

[2021-06-14 10:29] Shubham82 commented on #28397
Hi @Elevic
JFI `batch/v1beta1 CronJob is deprecated in v1.21+, unavailable in v1.25+`
From v1.21  use batch/v1 for CronJob

[2021-06-14 12:15] #28402 closed

[2021-06-14 12:48] neolit123 commented on #28380
Publishing the kubeadm types seems fine. One push back from me was around
changing field comments before doing that.

[2021-06-14 12:50] neolit123 commented on #28325
Happy to have a look at PRs improving the docs.

[2021-06-14 13:32] ClaudiaJKang opened #28409 "[ko] Enhance docs/setup/production-environment/tools/kubeadm/control-plane-flags.md"
**This is a Feature Request**

**What would you like to be added**

Enhance [docs/setup/production-environment/tools/kubeadm/control-plane-flags.md](https://github.com/kubernetes/website/blob/c7ed3bcef3159e37ba0f3796c7cdadd7dc4ca2f0/content/en/docs/setup/production-environment/tools/kubeadm/control-plane-flags.md)

**Why is this needed**
Change line format and some words to common.

**Comments**

[2021-06-14 13:32] ClaudiaJKang commented on #28409
/triage accepted

[2021-06-14 13:35] MikeSpreitzer commented on #28325
Fact checking question first: does any intermediate position work for `kubeadm join`?  Can I supply some of the info on the command line, while specifying the rest in the config file?

[2021-06-14 13:40] neolit123 commented on #28325
Config is always preffered. Some flags cannot be mixed with config due to
tech limitations. Long term flag options duplicated in config might be
deprecated. The k8s wide policy is sparse, so this kubeadm specific.

[2021-06-14 13:55] MikeSpreitzer commented on #28325
Yes, I can say that config is preferred.  I think that for documentation is it appropriate to also be clear on what is possible now.

[2021-06-14 14:01] neolit123 commented on #28325
Forgot to mention that if kubeadm allows both flag and config for a certain
option, the flag value takes precendence.

[2021-06-14 14:31] MikeSpreitzer commented on #28325
We should document what combinations are allowed.
I do not know which combinations are allowed.

[2021-06-14 14:48] neolit123 commented on #28325
It is better to not get into details and only say that flags are not
favorable. This has been an ongoing trend in kubeadm and kubelet for the
past 10+ releases.

[2021-06-14 16:07] alculquicondor opened #28410 "Daemonset pods don't run before other pods"
**This is a Bug Report**

**Problem:**

The documentation for Daemonsets suggests that its pods start before other pods. This is not true and can lead to unmatched expectations.

**Proposed Solution:**

Remove `and when it needs to start before other Pods.`

**Page to Update:**

https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/#deployments

/sig apps

[2021-06-14 17:24] sftim commented on #28410
The sense we want to convey is that if your Node isn't much use before some Pod (let's call it `calico` just for example) is scheduled there and healthy, you'd be wrong to consider other workload resources such as StatefulSet, Deployment, ReplicaSet etc to run that critical Pod.

There is an ordering implied by this even if none of the control plane components themselves look at that ordering. Wha

[2021-06-14 17:24] sftim commented on #28410
@alculquicondor does that make sense?

[2021-06-14 17:27] sftim commented on #28397
/remove-kind bug
The current documentation is correct.

I will make a different suggestion in a separate issue.

[2021-06-14 17:30] sftim opened #28411 "Highlight feature state for recent stabilisations"
**This is a Feature Request**

**What would you like to be added**
If an API or other feature has gone **stable** in the current or previous minor release of Kubernetes, then add extra text to any [feature-state shortcode](https://kubernetes.io/docs/contribute/style/hugo-shortcodes/#feature-state). The extra text should hyperlink to https://kubernetes.io/docs/home/supported-doc-versions/ and shoul

[2021-06-14 17:30] sftim commented on #28411
I'm suggesting this because some readers miss that they need to use a recent enough version of Kubernetes to use the GA version of a feature.

[2021-06-14 17:31] alculquicondor commented on #28410
I see. Maybe a better phrase would be something like:

`if the DaemonSet provides functionality that other Pods need to function correctly`

This gives a sense of pre-requisite, without implying any scheduling/startup guarantees.

+1 on `What's Next` section. Another useful resource is taints and tolerations, which can be used to restrict scheduling until something happens.

[2021-06-14 17:31] HongjiangHuang commented on #28411
That's a good idea.

[2021-06-14 17:49] sftim commented on #28062
Also see [#28109 (comment)](https://github.com/kubernetes/website/pull/28109/files#r651153705)&mdash;about updating the upstream docs.

[2021-06-14 17:52] sftim commented on #28395
I'm not sure if this is a feature request for Kubernetes (or perhaps for kubeadm), or a request for support.

However, this list of issues is specifically intended to report defects in https://kubernetes.io/docs/ and related pages. You can also file feature requests if you have an idea about improving that website.

[2021-06-14 17:55] sftim commented on #28375
It's an alpha feature, so I think “might not work” could be about right. Documenting exactly what isn't finished is quite possibly more effort than fixing those limitations; my guess is we'll never document all the shortcomings of the v1.21 implementation.

That said, if anyone has that information and wants to add it, feel free to open a pull request.

[2021-06-14 17:56] sftim commented on #28380
/kind feature
/language en

This would work better as one GitHub issue per missing page @MikeSpreitzer

[2021-06-14 17:58] sftim commented on #28404
Let's mention that `/usr/local/bin` must be in your `$PATH`.

This was a support request, but it's also a hint about how to improve the docs
/remove-kind support
/language en

[2021-06-14 18:00] HongjiangHuang commented on #28404
/assign

[2021-06-14 18:00] HongjiangHuang commented on #28404
Let me improve it.

[2021-06-14 18:04] neolit123 commented on #28395
hi, --advertise-address is a kube-apiserver flag that only accepts IP addresses.
https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/
if you want to ask why, you can in a new kubernetes/kuberentes ticket.

/close
/kind support

[2021-06-14 18:05] #28395 closed

[2021-06-14 18:31] hardikshah197 commented on #28062
I made the suggested changes, requested by you, [see here](https://github.com/kubernetes/website/pull/28109#discussion_r651174544)

[2021-06-15 00:50] jihoon-seo commented on #28397
Because

and @sftim opened a separate issue,
this issue seems good to be closed.

/close

[2021-06-15 00:50] #28397 closed

[2021-06-15 02:51] jimangel commented on #21749
### Changes pre-rename
- [x] presubmit or postsubmit prowjob triggers **(N/A)**
- [x] milestone_applier prow config references the master branch **(only targets dev-x.xx)**
- [x] branch_protection prow config references the master branch **(only targets release-x.xx)**

### Just before rename
- [x] periodic prowjobs**(N/A)**
- [x] prowjob mentions master in its name **(N/A)**
- [x] prowjob calls s

[2021-06-15 03:30] StingyJack commented on #24497
/remove-lifecycle rotten

.... stalebot is a cancer on the community

[2021-06-15 05:05] jimangel commented on #27841
/triage accepted

[2021-06-15 06:18] jihoon-seo opened #28422 "[ko] Translate docs/reference/labels-annotations-taints to Korean"
**This is a Feature Request**

**What would you like to be added**

Translate docs/reference/labels-annotations-taints to Korean

- https://kubernetes.io/docs/reference/labels-annotations-taints/
- https://github.com/kubernetes/website/blob/master/content/en/docs/reference/labels-annotations-taints.md

**Why is this needed**
Because there is no Korean-translated version of that page.

**Comments**

[2021-06-15 08:03] mylovepooh commented on #28261
/close

[2021-06-15 08:03] #28261 closed

[2021-06-15 08:34] soltysh commented on #27394
@sftim yeah, I like your proposed wording, are you going to open a PR?
/triage accepted

[2021-06-15 08:35] sftim commented on #27394
This issue is open for an interested contributor to work on. I already have some other PRs / work-in-progress that I'm going to focus on first.

[2021-06-15 08:37] sftim commented on #27394
The wording I suggested was:

[2021-06-15 08:37] soltysh commented on #27394
Lemme add that bit to https://github.com/kubernetes/website/pull/28229 where I'm updating CronJob related flag, in that case.

[2021-06-15 08:56] HongjiangHuang commented on #28404
/sig node

[2021-06-15 08:56] HongjiangHuang commented on #28404
/remove-sig node

[2021-06-15 08:57] HongjiangHuang commented on #28404
/sig cli

[2021-06-15 08:58] HongjiangHuang commented on #28404
/triage accepted

[2021-06-15 09:00] HongjiangHuang commented on #28284
Hi, @marcelotab.

Can you check that the problem is solved?

[2021-06-15 09:04] HongjiangHuang commented on #28132
Please use https://github.com/kubernetes/kubernetes.

/close

[2021-06-15 09:04] #28132 closed

[2021-06-15 10:11] HongjiangHuang commented on #25959
/close by https://github.com/kubernetes/website/pull/27097

[2021-06-15 10:11] HongjiangHuang commented on #25959
/close

[2021-06-15 10:12] #25959 closed

[2021-06-15 11:00] sftim commented on #28410
Maybe:

?

[2021-06-15 12:11] fristedt opened #28424 "Missing section "Automation" in k8s.io/docs/concepts/extend-kubernetes/"
The flowchart on this page is great, but it references a section "Automation" which seems to be missing. Has it been accidentally removed or is it just missing? Would be great to get some reference material on how to extend kubernetes for automation purposes.

![Screenshot from 2021-06-15 14-10-14](https://user-images.githubusercontent.com/1677701/122050203-89e9c000-cde3-11eb-916a-e3f454cc0f87.png

[2021-06-15 13:22] alculquicondor commented on #28410
lgtm

[2021-06-15 16:42] aindrila2412 opened #28426 "Translate Documentation to Bengali"
**This is a Feature Request**

**What would you like to be added**

Translate community/contributors/guide/first-contribution.md to Bengali

- https://github.com/kubernetes/community/blob/master/contributors/guide/first-contribution.md

**Why is this needed**
Because there is no Bengali translated version of this page.

**Comments**

/assign
/Bengali language

[2021-06-15 18:19] sftim commented on #24441
/remove-lifecycle rotten

[2021-06-15 19:01] sftim commented on #28426
Hi @aindrila2412

It'd be great to add a new localization team. If you're interested in starting to translate the Kubernetes documentation, https://kubernetes.io/docs/contribute/localization/ has some information about getting going.

You can also visit https://slack.k8s.io/ (for a robot-generated invitation) and join [#sig-docs-localizations](https://app.slack.com/client/T09NY5SBT/C0191RDKHU1) on

[2021-06-15 19:33] ppande99 opened #28427 "Improvement for k8s.io/docs/concepts/workloads/controllers/deployment/"
For this command
kubectl set image deployment/nginx-deployment nginx=nginx:1.16.1 --record

As a new user of Kubernetes, i wasn't sure that the first 'nginx' in that command is not actually the image name but the container name inside the pod,
if we can add this description somewhere that would be helpful.

[2021-06-15 19:38] objectgyan opened #28428 "Interactive Tutorial - Updating Your App"
Getting below error:

Kubernetes Bootcamp Terminal

Error Details: Environment not starting correctly.

[2021-06-15 22:12] aindrila2412 opened #28432 "[bn] Translate The Kubernetes documentation to Bengali"
**This is a Feature Request**

**What would you like to be added**

Translate The Kubernetes documentation to Bengali

- https://github.com/kubernetes/website#readme

**Why is this needed**

There is no Bengali-translated version of the readme.

**Comments**

/language bn
/assign

[2021-06-16 04:38] mehabhalodiya commented on #27951
/assign

[2021-06-16 05:43] mehabhalodiya commented on #28324
/assign

[2021-06-16 06:30] mengjiao-liu commented on #27098
/close

[2021-06-16 06:30] #27098 closed

[2021-06-16 07:00] amej opened #28436 "In Storage Classes documentation first letter in waitForFirstConsumer needs to be capitalized"
In  https://kubernetes.io/docs/concepts/storage/storage-classes/ ; waitForFirstConsumer is spelt.
Correct spelling is WaitForFirstConsumer

[2021-06-16 07:14] allenwashere opened #28438 "Issue with k8s.io/zh/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/"
这里有漏了配置文件，在PVC配置前面，没有配置对应的PV给到存储申领，会在执行后，pvc一直处于pending状态。必须补充符合调度条件存储类才可以。
pvc error log：
no persistent volumes available for this claim and no storage class is set

需要补充相应pv

[2021-06-16 07:22] HongjiangHuang commented on #28438
https://kubernetes.io/zh/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/#%E5%88%9B%E5%BB%BA-persistentvolumeclaims-%E5%92%8C-persistentvolumes.

/kind support

[2021-06-16 07:23] HongjiangHuang commented on #28438
文档已经说明关于 storage class。

[2021-06-16 07:27] jihoon-seo commented on #28428
Page: https://kubernetes.io/docs/tutorials/kubernetes-basics/update/update-interactive/

My result:

![image](https://user-images.githubusercontent.com/46767780/122176596-c1c63580-cebf-11eb-931e-20ab6ce783f7.png)

[2021-06-16 09:09] jihoon-seo opened #28446 "Commentize/Remove page body of docs/setup/learning-environment/_index.md"
**This is a Bug Report**

**Problem:**
According to the @kbhawkey 's [comment](https://github.com/kubernetes/website/pull/28141#issuecomment-860075786),
There is an entry for this page in the [`_redirects` file](https://github.com/kubernetes/website/blob/master/static/_redirects#L498).
[code]

**Proposed Solution:**
~Remove content/en/docs/setup/learning-environment/_index.md~
Edit: Commentize/Rem

[2021-06-16 10:24] vaibhav2107 commented on #28446
/assign

[2021-06-16 10:45] alessandroargentieri commented on #20959
/close

[2021-06-16 10:46] #20959 closed

[2021-06-16 10:55] #28404 closed

[2021-06-16 11:05] sftim commented on #25645
I also wrote up a [rationale](https://github.com/kubernetes/website/pull/28036#issuecomment-862284989).

[2021-06-16 11:06] sftim commented on #25645
(yes, it is)

[2021-06-16 11:42] sftim commented on #28446
If we remove that page, it'll also disappear from the left hand navigation. I'd prefer to leave it there with the [comment](https://github.com/kubernetes/website/blame/9d6baceb499ea32e5163c7e4bf25d1ae4a6ba6ef/content/en/docs/setup/learning-environment/_index.md#L6-L13) about how to localize it correctly.

We could remove the page body if that helps folks?

[2021-06-16 11:57] in4ern0 opened #28448 "Init Containers"

[2021-06-16 11:57] #28448 closed

[2021-06-16 14:23] #25907 closed

[2021-06-16 14:33] Manu10744 commented on #14973
Same problem here. Why is this not mentioned in the docs?
Sometimes it works without creating StorageClass `manual`, sometimes not. Absolutely confusing.

[2021-06-16 18:06] vaibhav2107 commented on #27409
/assign

[2021-06-16 18:23] #26127 closed

[2021-06-16 18:23] #23417 closed

[2021-06-16 19:34] polettix opened #28449 "Deprecation of the Docker container runtime should be clear in /docs/setup/production-environment/container-runtimes/"
**This is a Bug Report**

**Problem:**

Apologies if I didn't understand the "Docker deprecation" in the right way.

The page on the [Container runtimes](https://kubernetes.io/docs/setup/production-environment/container-runtimes/) should make it clear that Docker has been [deprecated as of 1.20.0](https://github.com/kubernetes/kubernetes/pull/94624).

As it is now, it seems that this has the same

[2021-06-16 21:07] dpstratascale opened #28450 "Certificate Signing Requests not filling the status.certificate section"
Hello,

I am following the procedure on how to create a csr, and the procedure seems to be going smoothly and without any issue, but when I run the following command `kubectl get csr/appname-iwh.ns -o yaml` the result that I'm getting back is the following:

[code]

my cluster is deployed on a private network that I'm connected to using a VPN.

I am running all the commands to create the .pem and

[2021-06-16 23:44] inductor commented on #28276
/close

[2021-06-16 23:44] #28276 closed

[2021-06-16 23:59] inductor commented on #28269
/close

[2021-06-16 23:59] #28269 closed

[2021-06-17 00:02] #27734 closed

[2021-06-17 00:12] inductor commented on #28272
/close

[2021-06-17 00:12] #28272 closed

[2021-06-17 00:22] #27099 closed

[2021-06-17 00:52] jihoon-seo commented on #28446
@sftim Thank you for your comment!

According to @sftim 's comment,
I perform retitle.

/retitle Commentize/Remove page body of docs/setup/learning-environment/_index.md

[2021-06-17 02:11] jimangel commented on #22515
/remove-lifecycle rotten

[2021-06-17 08:38] jihoon-seo commented on #28450
Hello @dpstratascale .
Did you referenced https://kubernetes.io/docs/reference/access-authn-authz/certificate-signing-requests/ page?

[2021-06-17 09:02] #28224 closed

[2021-06-17 10:00] joelhoisko opened #28455 "Error in Minikube Ingress controller tutorial "nginx-admission not found""
## Bug
I followed the [Set up Ingress on Minikube with the NGINX Ingress Controller](https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/) tutorial and when I got to the "Create an Ingress resource" part, I got hit with this exception:
[code]

Same thing happens if I try to apply the `example-ingress.yml` file:
[code]
The ingress was applied with the normal `minikube addon

[2021-06-17 10:39] t-inu opened #28456 "Update ja/docs/contribute/localization.md to add precautions about Markdown notation"
**This is a Feature Request**

**What would you like to be added**
Update ja/docs/contribute/localization.md to add precautions about Markdown notation.

**Why is this needed**
To reduce the mistakes when translating.

**Comments**
/language ja
/assign

refs:
Fix em tags https://github.com/kubernetes/website/pull/28299
https://kubernetes.slack.com/archives/CAG2M83S8/p1623407294013900

As a result

[2021-06-17 12:46] chenxuc commented on #28059
/close

[2021-06-17 12:46] #28059 closed

[2021-06-17 12:53] chenxuc commented on #28368
/assign
I can have a look for how to improve the doc

[2021-06-17 13:02] chenxuc commented on #28368
@alculquicondor I can see in the doc there's existing statement in one of its examples:

So I'm going to make the "ANDed" statement explicitly in the formal description for the contraints. And also mention the contrains does not apply when removing a pod. Please let me know if you have other suggestions. thanks!

[2021-06-17 13:27] chenxuc opened #28459 "[zh] 'namespace' is not translated consistently"
Some pages translates 'namespace' to ‘命名空间’([e.g.](https://kubernetes.io/zh/docs/tasks/administer-cluster/declare-network-policy/)), other pages '名字空间‘ ([e.g.](https://kubernetes.io/zh/docs/concepts/overview/working-with-objects/namespaces/)). This is confusing for new learners.

We should use consistent name, or at least add a note that these two names are synonyms.

[2021-06-17 13:27] chenxuc commented on #28459
/assign

[2021-06-17 13:29] chenxuc commented on #28459
@tengqm Do you know if we have previous discussion for this issue? Thanks!

[2021-06-17 13:33] #26117 closed

[2021-06-17 13:46] sftim commented on #28450
This looks to me more like a request for advice

/kind support

[2021-06-17 14:33] mrbobbytables commented on #21749
+1 as github admin 👍

[2021-06-17 14:37] Shubham82 commented on #28455
Hi @joelhoisko
It is working for me
I have tried it on minikube version: v1.21.0 and kubernetes version v1.21.0

Please check the minikube version again.

Try this workaround (tried on v1.19 minikube version)  as mention [here](https://github.com/kubernetes/ingress-nginx/issues/5401#issuecomment-662424306)

`kubectl delete -A ValidatingWebhookConfiguration ingress-nginx-admission`

[2021-06-17 14:49] alculquicondor commented on #28368
That sounds good. There is also confusion about what "global minimum" is:

The minimum number of pods in any topology domain. For example, the minimum number of matching pods in a zone.

This guarantees that pods are always schedulable in the topology domain with the least number of pods.

I also think there should be an explicit section to describe the behavior with node selectors/affinity (curre

[2021-06-17 14:55] bells17 commented on #28456
/triage accepted

[2021-06-17 14:58] sftim commented on #21749
Should we open an issue about the docs update, get a held PR open for that?

[2021-06-17 15:07] jimangel commented on #21749
As I understand it, it's changed through the GUI (https://k8s.dev/rename). I was planning on sending out emailed/slack 24h notice today. The idea being that I would have the weekend to clean up any issues (hopefully there are none).

[2021-06-17 15:12] sftim commented on #21749
I was thinking about pages like the guide to contributing and https://kubernetes.io/docs/contribute/new-content/_print/#choose-which-git-branch-to-use

[2021-06-17 15:16] jimangel commented on #21749
@sftim oh! Double misunderstood, heh. Yes, opening a tracking issue to resolve lingering docs would be fantastic!

[2021-06-17 18:51] sftim opened #28462 "Update documentation to match renamed primary branch"
**This is a Bug Report**

**Problem:**
This [k/website](https://github.com/kubernetes/website) repo is renaming its primary branch to `main`. However, existing documentation refers to the old name: `master`.

**Proposed Solution:**
Update the affected pages.

**Page to Update:**
https://kubernetes.io/

**Additional Information:**
This is a tracking issue.
/language en

[2021-06-17 18:51] sftim commented on #28462
@jimangel FYI

[2021-06-17 20:39] chrisnegus commented on #25944
I've been playing with `kind: List` and kind: `????List` over the past few days. I agree that the best place to document them is with kubectl. Specifically, I think `kubectl apply` and `kubectl delete` are most useful ways of using lists. I try adding a short section after "Creating objects" on the Kubectl Cheat Sheet called "Creating objects from Lists". Then I'll have short examples descriptions

[2021-06-17 20:49] sftim commented on #25944
The Kubernetes API uses lists too. The difference is that in the API, each list is served as its concrete type such as `PodList`.

Many Kubernetes components and clients use lists, not just `kubectl.`

Not sure what this means? I can explain further.

[2021-06-17 20:50] sftim commented on #25944
Also, the cheat sheet doesn't feel like the right place to mention this quite subtle distinction.

[2021-06-17 23:07] sftim commented on #21749
Tracking issue: #28462

[2021-06-17 23:19] hyakuhei commented on #27336
I've not been able to make time for this so taking my name off in-case others want to pick it up.

[2021-06-17 23:19] hyakuhei commented on #27336
/unassign

[2021-06-17 23:25] tengqm commented on #28459
@chenxuc We had such discussions previously when drafting and reviewing the https://kubernetes.io/zh/docs/contribute/localization_zh/#%E6%9C%AF%E8%AF%AD%E5%AF%B9%E7%85%A7 page. I personally prefer "名字空间”，because that is what namespace for ... a space for names. There are other voices arguing that "命名空间” is very popular in many articles or books.

[2021-06-18 00:03] kbhawkey commented on #21749
:eyes:

[2021-06-18 00:27] chenxuc commented on #28459
Ok, the arguement for which name is better seems won't be resolved. I suggest we add an explicit statement to clarify these two names are synonyms. I will draft the changes.

[2021-06-18 00:34] inductor commented on #28267
/close

[2021-06-18 00:34] #28267 closed

[2021-06-18 00:34] inductor commented on #28270
/close

[2021-06-18 00:34] #28270 closed

[2021-06-18 00:34] inductor commented on #28274
/close

[2021-06-18 00:34] #28274 closed

[2021-06-18 00:34] inductor commented on #28280
/close

[2021-06-18 00:34] #28280 closed

[2021-06-18 00:35] inductor commented on #28282
@Itaachime ping

[2021-06-18 02:57] BenTheElder commented on #22515
Sorry about this : (

I will sync with @jimangel at the earliest convenience and see what we can do to round this out / at least braindump any relevant info I can help with.

[2021-06-18 03:35] freeysw opened #28469 "[zh] Typo in docs/setup/production-environment/container-runtimes"
![image](https://user-images.githubusercontent.com/26788279/122502392-1e912f80-d029-11eb-922e-f12b14f635bf.png)
启动命令缺少一个w

sudo systemctl enable crio --now

[2021-06-18 04:24] jihoon-seo commented on #28469
**This is a Bug Report**

**Problem:**
Typo in zh/docs/setup/production-environment/container-runtimes

**Proposed Solution:**
`sudo systemctl enable crio --no` -> `sudo systemctl enable crio --now`

**Page to Update:**
- zh: https://kubernetes.io/zh/docs/setup/production-environment/container-runtimes/#cri-o
- (en: https://kubernetes.io/docs/setup/production-environment/container-runtimes/#cri-o

[2021-06-18 05:28] seokho-son opened #28472 "Korean Localization for dev-1.21-ko.5 branch"
## In English

**This is a Feature Request**

Korean Localization for `dev-1.21-ko.5` branch.

**What would you like to be added**

Any localization contributions for Korean.

**Comments**

- This issue is to notify the schedule of Korean localization to contributors.
- `dev-1.21-ko.5` is the current work branch for Korean localization.

**Important dates**
- A Korean localization work branch is m

[2021-06-18 05:29] seokho-son commented on #28287
/close

[2021-06-18 05:29] #28287 closed

[2021-06-18 05:32] seokho-son opened #28473 "Outdated files in the dev-1.21-ko.5 branch"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.21-ko.5 branch.
This report is output of `scripts/diff_l10n_branches.py ko upstream/dev-1.21-ko.4 upstream/dev-1.21-ko.5`

### 133 files to be modified
1. [x] M1.  `content/en/_index.html`  | 3(+XS) 3(-)
1. [X] M2.  `content/en/docs/concepts/architecture/_index.md`  | 0(+XS) 0(-)
1. [x] M3.  `content/en/docs/concepts/architectu

[2021-06-18 05:33] seokho-son commented on #28473
/triage accepted
/language ko
/help

[2021-06-18 05:36] seokho-son commented on #28473
@gochist
0(+XS) 0(-) 라인 변화가 없는데 포함된 파일들은 아마도 파일 권한 변경이 표시된 것이 아닌가 합니다.

[2021-06-18 05:38] seokho-son commented on #28472
/milestone dev-1.21-ko.5

[2021-06-18 05:38] seokho-son commented on #28473
/milestone dev-1.21-ko.5

[2021-06-18 05:38] seokho-son commented on #28472
/triage accepted

[2021-06-18 06:14] Shubham82 opened #28475 "Not Show "ingress-nginx-controller" pod after enable ingress addon in minikube"
**This is a Bug Report**

**Problem:**
In [Set up Ingress on Minikube with the NGINX Ingress Controller](https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/) When performing Enable the Ingress controller by running the command  `minikube addons enable ingress` then it doesn't show `ingress-nginx-controller-xxxx` pod in kube-system namespace, as shown below
[code]

 Instea

[2021-06-18 06:15] Shubham82 commented on #28475
/assign

[2021-06-18 06:56] jihoon-seo commented on #28475
Hello @Shubham82

The PR #28154 and #28355 are also suggesting this change.

/hold

[2021-06-18 06:59] jihoon-seo commented on #28473
네 맞습니다. 😊 (#28447)

[2021-06-18 07:04] Shubham82 commented on #28475
Thanks, @jihoon-seo for the information.

[2021-06-18 07:09] jihoon-seo commented on #28473
퍼미션 관련은 제가 처리하겠습니다. 😊
/assign

[2021-06-18 07:24] tengqm commented on #28469
Page is a little bit lagging behind. Will fix.
/assign

[2021-06-18 08:13] jihoon-seo commented on #28473
제가 하겠습니다~~

[2021-06-18 08:32] sftim commented on #27948
Reverted because builds were failing.

[2021-06-18 08:32] sftim opened #28481 "Switch Netlify to use Ubuntu Focal 20.04 build image, redux"
**This is a Feature Request**

**What would you like to be added**
Adjust Netlify to build https://kubernetes.io/ using a worker running Ubuntu 20.04 (currently: Ubuntu 16.04)

**Why is this needed**
The march of progress.

**Comments**
This change happens in Netlify, not in Git.
Eventually Ubuntu 16.04 will go fully out of support.
Previously attempted in #27948

[2021-06-18 08:33] sftim commented on #28481
Insta-freezing this as we do need to do it eventually:
/lifecycle frozen

[2021-06-18 08:39] sftim commented on #25371
/reopen
/remove-lifecycle rotten
/triage accepted

[2021-06-18 09:37] strideynet opened #28485 "Kubelet Configuration default values inaccurate"
**This is a Bug Report**

**Problem:**

Visiting https://kubernetes.io/docs/reference/config-api/kubelet-config.v1beta1/ provides inaccurate default values for shutdownGracePeriod (30s rather than 0s) and shutdownGracePeriodCriticalPods (10s rather than 0s).

**Proposed Solution:**

Correct the documentation to match the actual default values.

**Page to Update:**
https://kubernetes.io/docs/refere

[2021-06-18 09:37] strideynet commented on #28485
I would like to take up this ticket.

[2021-06-18 11:40] #28485 closed

[2021-06-18 12:01] mehabhalodiya commented on #27951
@sftim @kbhawkey Can you guide me how to get started with solving this issue?

[2021-06-18 12:31] saryeHaddadi opened #28487 "Improvement for k8s.io/docs/tasks/administer-cluster/certificates/"
Hi, if it exists, could we have in the doc the openssl command to see the content of a Certificat Signing Request?
Thanks.

[2021-06-18 15:05] seokho-son commented on #28422
/triage accepted

[2021-06-18 15:22] chrisnegus commented on #25944
Okay. I'll look for another place to put content that wouldn't be just example oriented. I'd be glad to hear if you have a suggestion for a good place to put this content.

[2021-06-18 16:30] sftim commented on #28487
If anyone wants to add this, the command I'd use is:
[code]

[2021-06-18 16:38] Swetad90 commented on #26188
At this point, I'm almost sure that the kubelets don't use the client certs in kubelet.conf but rather the ones under /var/lib/kubelet/pki. The conf file is only used for the CA validation. The client certs embedded should be this bug - https://github.com/kubernetes/kubeadm/issues/1753 . And this should answer my point 3 above.

[2021-06-18 20:42] #26137 closed

[2021-06-18 20:45] chrisnegus opened #28490 "docs/tasks/extend-kubernetes/custom-resources example shows incorrect output"
**Problem:**
Output from the `kubectl get ct -o yaml` example on this page is incorrect.

**Proposed Solution:**
Fix example to show the correct output.

**Page to Update:**
https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#create-custom-objects

**Additional Information:**

There has been some confusion about how the `kind: List` works in Kubernetes.

[2021-06-18 22:12] chrisnegus commented on #28487
I made this small change. I made a mistake with the first PR and filed a [second PR](https://github.com/kubernetes/website/pull/28492). Let me know if that takes care of what you were looking for.

[2021-06-19 01:05] jimangel commented on #21749
Renaming is complete. Ref: https://groups.google.com/g/kubernetes-sig-docs/c/s98sr2appP4/m/M-r7gANqAgAJ
/close

[2021-06-19 01:05] #21749 closed

[2021-06-19 01:05] jimangel commented on #28462
Looks like everything is merged and completed. Thanks again for your help!
/close

[2021-06-19 01:05] #28462 closed

[2021-06-19 01:31] chenxuc commented on #28368
I have made the improvement for the original suggestions in the doc. But the extra suggestion of "an explicit section to describe the behavior with node selectors/affinity" is beyond my knowledge for this area. We could work on it in another issue if that's necessary. thanks.

[2021-06-19 01:42] #14727 closed

[2021-06-19 01:42] #26105 closed

[2021-06-19 02:22] chenxuc commented on #28490
Thanks for the reporting the bug and clear explanation! I will fix the doc.
/triage accepted
/assign

[2021-06-19 05:58] oke-py opened #28497 "[ja] replace links to /docs/concepts/architecture/controller/ with /ja/docs/..."
**This is a Feature Request**

**What would you like to be added**

replace links to `/docs/concepts/architecture/controller/` with links to `/ja/docs/concepts/architecture/controller/`.

**Why is this needed**
`/ja/docs/concepts/architecture/controller/` has already been translated into Japanese.

**Comments**

/language ja
/kind cleanup
/assign

lines to update
[code]

[2021-06-19 06:16] #28324 closed

[2021-06-19 06:19] inductor commented on #28497
/triage accepted

[2021-06-19 07:29] chenxuc commented on #28459
/triage accepted

[2021-06-19 07:55] chenxuc commented on #28459
/language zh

[2021-06-19 10:22] mehabhalodiya commented on #27333
Hey @sftim !
I would like to work on this issue. Can you help me with descriptive points which should be written in table?

[2021-06-19 10:57] MoHassn opened #28500 "Example missing from Use Port Forwarding to Access Applications in a Cluster"
In the section of [Creating MongoDB deployment and service](https://kubernetes.io/docs/tasks/access-application-cluster/port-forward-access-application-cluster/#creating-mongodb-deployment-and-service)
`kubectl apply -f https://k8s.io/examples/application/guestbook/mongo-deployment.yaml`
There is no file with the specified URL, and the output of running this command is:
`error: unable to read URL

[2021-06-19 12:15] chenxuc commented on #28500
@jimangel In PR #28452 the https://k8s.io/examples/application/guestbook/mongo-deployment.yaml is deleted, which is used in the 'Creating MongoDB deployment and service' page.
/kind bug

[2021-06-19 12:16] bodomic2 opened #28501 "Interactive Tutorial - Creating a Cluster"
Hi, just trying your tutorial here - https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/ - and server is down, connection is refused on port 8080

[2021-06-19 16:51] saryeHaddadi commented on #28487
Thanks you very much @sftim and @chrisnegus, that answers my need!
For information on why I asked this, I wanted to inspect the content of a CSR, in order to check the Common Name (CN) mentionned in the CSR. Thanks you very much for your quick answers!

[2021-06-19 22:47] WilliamDenniss opened #28502 "The PodSecurityPolicy section in "Using Admission Controllers" should be marked as deprecated"
The PodSecurityPolicy section in this doc: https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#podsecuritypolicy is missing a "Feature state" flag. Since it's deprecated, I think it would be best to indicate this fact.

[2021-06-20 00:55] chenxuc commented on #28502
Thanks for the suggestion! I will make the improvement in the doc.
/triage accept
/kind feature
/assign

[2021-06-20 00:56] chenxuc commented on #28502
/triage accepted

[2021-06-20 02:18] #28469 closed

[2021-06-20 05:19] #28459 closed

[2021-06-20 06:17] oke-py opened #28505 "[ja] replace links to /docs/concepts/cluster-administration/addons/ with /ja/docs/..."
**This is a Feature Request**

**What would you like to be added**

replace links to `/docs/concepts/cluster-administration/addons/` with `/ja/docs/concepts/cluster-administration/addons/`.

**Why is this needed**
`/docs/concepts/cluster-administration/addons/` has already been translated into Japanese.

**Comments**

/language ja
/kind cleanup
/assign

lines to update
[code]

[2021-06-20 06:26] oke-py opened #28507 "[ja] replace links to /docs/concepts/cluster-administration/certificates/ with /ja/docs/..."
**This is a Feature Request**

**What would you like to be added**

replace links to `/docs/concepts/cluster-administration/certificates/` with `/ja/docs/concepts/cluster-administration/certificates/`.

**Why is this needed**
`/docs/concepts/cluster-administration/certificates/` has already been translated into Japanese.

**Comments**

/language ja
/kind cleanup
/assign

lines to update
[code]

ba

[2021-06-20 06:33] ClaudiaJKang commented on #28473
M1~M20까지 제가 하겠습니다~

[2021-06-20 07:55] mehabhalodiya commented on #27876
@sftim Can you guide me solving this issue?
I would like to work on this.

[2021-06-20 08:40] ClaudiaJKang opened #28512 "[ko] Translate docs/home/supported-doc-versions documentation."
**This is a Feature Request**
Translate part of [docs/home/supported-doc-versions.md](https://github.com/kubernetes/website/blob/dev-1.21-ko.5/content/en/docs/home/supported-doc-versions.md) in Korean

**What would you like to be added**

1. Git clones this website repository.
2. Check out localization Korean team milestone branch.

3. Edit the file([content/ko/docs/home/supported-doc-versions.md]

[2021-06-20 08:41] ClaudiaJKang commented on #28512
/triage accepted

[2021-06-20 08:47] ClaudiaJKang opened #28513 "[ko] Translate docs/contribute/analytics.md"
**This is a Feature Request**
Translate [docs/contribute/analytics.md](https://github.com/kubernetes/website/blob/dev-1.21-ko.5/content/en/docs/contribute/analytics.md) in Korean

**What would you like to be added**

Translate [docs/contribute/analytics.md](https://github.com/kubernetes/website/blob/dev-1.21-ko.5/content/en/docs/contribute/analytics.md) in Korean

**Why is this needed**

This file

[2021-06-20 08:47] ClaudiaJKang commented on #28513
/triage accepted

[2021-06-20 10:16] HongjiangHuang commented on #28501
/need information

I hope you tell me,  in which step there is a problem?

[2021-06-20 10:16] HongjiangHuang commented on #28501
/needs information

[2021-06-20 10:17] HongjiangHuang commented on #28501
/triage needs-information

[2021-06-20 10:24] bodomic2 commented on #28501
oh my god, sorry, I've missed the `minicube start` in first screen!
sorry for taking your time!

[2021-06-20 10:24] #28501 closed

[2021-06-20 10:38] HongjiangHuang commented on #28501
It should be `minikube start`.

[2021-06-20 11:51] #26080 closed

[2021-06-20 12:57] HongjiangHuang commented on #28438
/close

[2021-06-20 12:57] #28438 closed

[2021-06-20 15:59] chrisnegus commented on #28487
@sftim made this an easy fix. Thanks for making the request, @saryeHaddadi . I think it was a good addition.

[2021-06-20 16:54] #26124 closed

[2021-06-20 18:32] anubha-v-ardhan commented on #28512
Hey, I would like to take this one. Please assign this to me

[2021-06-20 18:37] anubha-v-ardhan commented on #28512
/assign

[2021-06-20 19:49] sftim commented on #26611
Fixed in #26957

[2021-06-20 19:54] gracenng commented on #28013
Hello, the [PR for this issue](https://github.com/kubernetes/website/pull/28248) has been merged.

Outstanding work:

- [ ] Consider adding the same warning to the [reference page](https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#config)
- [ ] Discuss the potential of writing an article on this like @sftim mentioned. I'd be happy to help write it but I don't think I have the

[2021-06-20 20:01] sftim commented on #28502
Fixed in #28511
/close

[2021-06-20 20:01] #28502 closed

[2021-06-20 20:02] sftim commented on #28500
/triage accepted
/retitle Example missing from Use Port Forwarding to Access Applications in a Cluster

[2021-06-20 20:04] sftim commented on #28449
/sig node

At the very least, readers should learn about the Docker deprecation here, and ideally be signposted to pages that explain the difference between dockershim and Docker, and other relevant details.

/triage accepted
/remove-kind bug
/kind feature
/priority important-longterm

[2021-06-20 20:19] sftim commented on #28013
@graceng if you'd like to sketch out an article, I'd be happy to help you get it completed.

[2021-06-20 20:25] sftim commented on #28013
(feel free to ping me in #sig-docs on Kubernetes Slack, too)
If some pairing time or similar would help, I can try to schedule that in.

[2021-06-20 20:29] sftim commented on #27876
This is a detailed topic to cover.

It's open to anyone, with a caveat: If you're not already familiar with the HTTP API for the kubelet, you'll be best off liaising with SIG Node to find someone who is, and collaborating with them to write this.

I'd like @kubernetes/sig-node-feature-requests to triage this issue, too.

[2021-06-20 20:29] sftim commented on #28411
/area web-development

(feel free to /triage accepted; it's my idea, so I won't do that)

[2021-06-20 20:43] gracenng commented on #28013
Thanks for the offer @sfabel I'll let you know

[2021-06-20 21:33] tabbysable commented on #28013
You may not have the expertise, but you can develop it!

I recommend playing with the ideas, writing a few malicious kubeconfig files, and trying them out on yourself and your willing friends and colleagues (I volunteer!). Then I think you'll feel much more comfortable writing an article that is more than just restating things from another article.

Once you start getting a draft together, I know

[2021-06-20 22:18] gracenng commented on #28013
@tabbysable try writing my own malicious kubeconfig file is a wonderful suggestion and it certainly makes this less overwhelming. Would a bare-metal cluster be easier to work with compared to a cloud provider one here? Or is any kubeconfig file okay

[2021-06-20 23:51] atoato88 commented on #28505
/triage accepted

[2021-06-20 23:53] atoato88 commented on #28507
/triage accepted

[2021-06-21 01:03] inductor commented on #28497
/close

[2021-06-21 01:03] #28497 closed

[2021-06-21 01:03] inductor commented on #28505
/close

[2021-06-21 01:03] #28505 closed

[2021-06-21 01:04] inductor commented on #28507
/close

[2021-06-21 01:04] #28507 closed

[2021-06-21 03:00] anubha-v-ardhan commented on #28512
Fixed this issue in PR https://github.com/kubernetes/website/pull/28516

[2021-06-21 03:06] anubha-v-ardhan commented on #27078
@SivaTharun Any updates?

[2021-06-21 04:58] #26189 closed

[2021-06-21 05:56] inductor commented on #28456
/close

[2021-06-21 05:56] #28456 closed

[2021-06-21 08:15] sftim commented on #28013
@gracenng If you want, you could try to use [kind](https://kind.sigs.k8s.io/docs/user/quick-start/) or [minikube](https://minikube.sigs.k8s.io/docs/start/) - that way you don't need a cluster beyond one running on your PC.

[2021-06-21 09:25] josp70 commented on #28203
So, is this a windows limitation?

[2021-06-21 09:55] mig4 commented on #19199
/remove-lifecycle rotten

[2021-06-21 11:01] Shubham82 commented on #28500
/assign
will add these yaml's in the guestbook

[2021-06-21 11:22] oke-py opened #28525 "[ja] replace links to /docs/concepts/cluster-administration/manage-deployment/ with /ja/docs/..."
**This is a Feature Request**

**What would you like to be added**

replace links to `/docs/concepts/cluster-administration/manage-deployment/` with `/ja/docs/concepts/cluster-administration/manage-deployment/`.

**Why is this needed**
`/docs/concepts/cluster-administration/manage-deployment/` has already been translated into Japanese.

**Comments**

/language ja
/kind cleanup
/assign

lines to up

[2021-06-21 11:37] oke-py opened #28527 "[ja] replace links to /docs/concepts/cluster-administration/networking/ with /ja/docs/..."
**This is a Feature Request**

**What would you like to be added**

replace links to `/docs/concepts/cluster-administration/networking/` with `/ja/docs/concepts/cluster-administration/networking/`.

**Why is this needed**
`/docs/concepts/cluster-administration/networking/` has already been translated into Japanese.

**Comments**

/language ja
/kind cleanup
/assign

lines to update
[code]

base bra

[2021-06-21 11:47] oke-py opened #28529 "#how-to-achieve-this doesn't exist in /docs/concepts/cluster-administration/networking/"
**This is a Bug Report**

**Problem:**
In this page, there is a "how we achieve this" link.
https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/#exposing-pods-to-the-cluster

However, #how-to-achieve-this doesn't exist in /docs/concepts/cluster-administration/networking/.

**Proposed Solution:**

The link would be `/docs/concepts/cluster-administration/networking/`

[2021-06-21 12:58] #24684 closed

[2021-06-21 13:18] Shubham82 commented on #28500
Fix it here #28530

[2021-06-21 13:29] vaibhav2107 commented on #28529
/assign

[2021-06-21 13:59] #26174 closed

[2021-06-21 14:02] DanielHabenicht commented on #26802
Did you find a solution @nigelainscoe ?

I've got the exact same issue, albeit through a different tool:

Using `kubectl get secrets dev-values --kubeconfig ./.kubeconfig -o go-template='{{range $k,$v := .data}}{{printf \"%s: \" $k}}{{if not $v}}{{$v}}{{else}}{{$v | base64decode}}{{end}}{{\"\\n\"}}{{end}}'` in an npm script yields the same error. (NPM executes the command in windows command line,

[2021-06-21 14:05] sftim commented on #26802
This might be a shell quoting issue. Maybe the cheat sheet entry could caution readers that the example uses POSIX shell quoting.

[2021-06-21 14:16] shaehnel opened #28531 "Interactive Tutorial - Configuring a Java Microservice - Wrong project repository in instructions"
It seems the directory used in the instructions does not match the directory used in the sample application.

Instructions:
cd guide-kubernetes-microprofile-config/start/

Shell:

[code]

[2021-06-21 14:17] chrisnegus commented on #28490
Thanks for taking that on, @chenxuc . For anyone working on a discussion of `kind: List` , I'm working on some larger writing to describe that and related list types (PodList, ServiceList, etc.).  See [Issue 25944](https://github.com/kubernetes/website/issues/25944).

[2021-06-21 14:24] DanielHabenicht commented on #26802
@sftim for my part you are absolutley right, escaping mania:

[code]

I had to set `npm config set script-shell powershell` npm to execute in the powershell instead of commandline.
Then NPM seems to unescape for the first time, then powershell for the second time and then kubectl takes over. :D

For why it does not work in the commandline. IDK, but there are multiple stackoverflows having issues w

[2021-06-21 14:40] DanielHabenicht commented on #26802
For using commandline you just have to get rid of the single quotes:
For NPM with Commandline:
[code]
Directly on commandline:
[code]

[2021-06-21 15:33] chrisnegus commented on #21749
Quick note: My open PRs seemed to transition properly to main. However, if there has not been a new commit to regenerate the Netlify build, the old Netlify link is listed at the bottom of the PR. I was able to see the new Netlify by simply changing `master` to `main` in the URL. For example, changing https://deploy-preview-28367--kubernetes-io-master-staging.netlify.app/ to https://deploy-preview-

[2021-06-21 16:38] sftim commented on #21749
Website admins can manually retrigger a build to fix that - I haven't looked into automating this though, as it's a one-off change.

[2021-06-21 16:49] jbecker44 opened #28536 "Interactive Tutorial - Configuring a Java Microservice"
Looks like something changed with this interactive tutorial because the second command:
[code]
fails now with the following error:
[code]

[2021-06-21 16:49] sftim commented on #19081
Section was renamed to Scheduling, Preemption and Eviction
/close

[2021-06-21 16:49] #19081 closed

[2021-06-21 16:50] sftim commented on #28529
I would remove

as the easy fix.

(I think the more involved fix is to tackle https://github.com/kubernetes/website/issues/25832)

[2021-06-21 17:07] chrismetz09 commented on #27144
/remove-lifecycle stale

[2021-06-21 17:42] anubha-v-ardhan commented on #28512
Solved issue in PR https://github.com/kubernetes/website/pull/28535

[2021-06-21 18:06] SivaTharun commented on #27078
@anubha-v-ardhan @soniasingla i have started working on this issue, i will have an PR ready in two to three days.

[2021-06-21 20:29] tabbysable commented on #28013
+1 what Tim said. Technically speaking, you don't need any cluster at all. But, if you wanted to make a really cool one that pwnd your machine *and* actually worked, you'd want a cluster to test on. I'm partial to Kind for these sorts of things because it's so quick and easy.

[2021-06-21 21:06] alculquicondor commented on #28410
/triage accepted

[2021-06-21 21:10] nwp90 commented on #18850
Would very much have appreciated if @php-coder's suggestion had been implemented; would have saved me a bunch of time looking for a way to mount a hostPath readonly.

[2021-06-21 22:34] oke-py opened #28541 "[ja] replace links to /docs/concepts/configuration/manage-resources-containers/ with /ja/docs/..."
**This is a Feature Request**

**What would you like to be added**

replace links to `/docs/concepts/configuration/manage-resources-containers/` with `/ja/docs/concepts/configuration/manage-resources-containers/`.

**Why is this needed**
`/docs/concepts/configuration/manage-resources-containers/` has already been translated into Japanese.

**Comments**

/language ja
/kind cleanup
/assign

lines to

[2021-06-22 00:56] MikeSpreitzer commented on #28357
BTW, that description has other errors too.  It starts with an assertion that is not true (https://github.com/kubernetes/kubernetes/issues/102744).

[2021-06-22 00:56] MikeSpreitzer commented on #28357
Is there any rule for how to break lines in the source here?

[2021-06-22 01:30] tengqm commented on #28357
@MikeSpreitzer Please propose a change to the [upstream code](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubelet/config/v1beta1/types.go#L349-L359) if the description is inaccurate. The docs are generated from the source code mentioned.

[2021-06-22 02:26] inductor commented on #28525
/triage accepted

[2021-06-22 02:27] inductor commented on #28527
/triage accepted

[2021-06-22 02:28] inductor commented on #28525
/close

[2021-06-22 02:28] #28525 closed

[2021-06-22 02:30] inductor commented on #28527
/close

[2021-06-22 02:30] #28527 closed

[2021-06-22 04:53] jihoon-seo commented on #28531
Related webpage: https://kubernetes.io/docs/tutorials/configuration/configure-java-microservice/configure-java-microservice-interactive/

[2021-06-22 04:54] jihoon-seo commented on #28536
This issue is dup with #28531.

Related webpage: https://kubernetes.io/docs/tutorials/configuration/configure-java-microservice/configure-java-microservice-interactive/

[2021-06-22 08:01] aliasmee opened #28549 "Issue with k8s.io/zh/docs/tasks/administer-cluster/manage-resources/cpu-constraint-namespace/"
CPU 误写成GPU。

`说明： 当创建 LimitRange 对象时，你也可以声明大页面和 GPU 的限制。 当这些资源同时声明了 'default' 和 'defaultRequest' 参数时，两个参数值必须相同。`

应更改为

`说明： 当创建 LimitRange 对象时，你也可以声明大页面和 CPU 的限制。 当这些资源同时声明了 'default' 和 'defaultRequest' 参数时，两个参数值必须相同。
`

[2021-06-22 08:12] tengqm commented on #28549
GPU is correct. Based on the upstream implementation, we have the following constraints:

/close

[2021-06-22 08:12] #28549 closed

[2021-06-22 13:53] sftim opened #28567 "“Developing and debugging services locally” documents out-of-project tooling"
**This is a Bug Report**

**Problem:** [“Developing and debugging services locally](https://kubernetes.io/docs/tasks/debug-application-cluster/local-debugging/) covers an out-of-project tool for working with Kubernetes

**Proposed Solution:**

Either:
- migrate https://kubernetes.io/docs/tasks/debug-application-cluster/local-debugging/ into https://www.telepresence.io/docs/
- remove https://kubern

[2021-06-22 13:55] sftim commented on #28567
Relevant to https://github.com/kubernetes/website/pull/28564#issuecomment-865983533

[2021-06-22 14:09] sftim opened #28568 "Wrong indentation for sidebar"
**This is a Bug Report**

**Problem:**
The sidebar is not indented the way that the Docsy theme intends it to be.

**Proposed Solution:**
Fix sidebar customization to account for latest upstream Docsy changes.

**Page to Update:**
https://kubernetes.io/docs/

PR #28521 should fix this.
/priority important-soon
/area web-development
/triage accepted

[2021-06-22 15:01] powellchristoph commented on #17575
Ran into this issue attempting to follow along with my own k8s.

[2021-06-22 17:32] tallclair commented on #18850
/assign

I can add a note in https://github.com/kubernetes/website/pull/28252

[2021-06-22 21:31] shannonxtreme commented on #4322
Draft content for the concept topic is here, with questions: https://docs.google.com/document/d/1fEzX14PQy8jpvgAmx-Qkdd9R-2XMV8YRjRPJ1dLuoSU/edit?usp=sharing

[2021-06-23 02:05] #28512 closed

[2021-06-23 02:06] lyzhang1999 commented on #28567
I think this page should be replace that lists of 3rd party tools for local development, this would help people know how to develop services under Kubernetes environment.

[2021-06-23 06:23] jihoon-seo opened #28572 "Enhance the 'Create an issue' button"
**This is a Feature Request**

**What would you like to be added**

For example, in https://kubernetes.io/docs/tutorials/configuration/configure-java-microservice/configure-java-microservice-interactive/ ,
there exists an 'Create an issue' button.
![image](https://user-images.githubusercontent.com/46767780/123045612-132d7200-d436-11eb-8386-552329dddbe9.png)

The `href` of this link is
https://gith

[2021-06-23 07:46] jihoon-seo commented on #28473
M21~M29 제가 하겠습니다~~

[2021-06-23 07:51] tengqm opened #28573 "Simplify the contribution guidelines"
The current contribution guideline is too wordy to contributors, old and new. As a reviewer myself, I have a difficult time to find out a guideline when attempting to quote it or refer a contributor to it. For example,

- We are not accepting "dual-hosted" or "3rd party" contents, where are those guide?
- We don't fix blog pages that are over 12 months old, where exactly is this mentioned?

If I j

[2021-06-23 08:15] jihoon-seo opened #28575 "URL to 'pod-priority-preemption' is changed"
**This is a Bug Report**

**Problem:**
URL to 'pod-priority-preemption' is changed.

There exists a redirection rule for
https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/
to
https://kubernetes.io/docs/concepts/scheduling-eviction/pod-priority-preemption/ ,

but not for localized ones.

E.g.
https://kubernetes.io/ko/docs/concepts/configuration/pod-priority-preemption/ (whic

[2021-06-23 08:20] jihoon-seo commented on #28575
Same issue for:
`docs/reference/generated/kube-scheduler` (old)
-> `docs/reference/command-line-tools-reference/kube-scheduler` (new)

[2021-06-23 09:01] sahsz123 opened #28578 "Add more diagrams into concepts section"
You need to put more images in all concept-related pages!

[2021-06-23 09:13] tengqm commented on #28575
I don't think we should add redirection entries for all languages. The correct fix should be avoid using old URIs when page are moved around.

[2021-06-23 09:16] tengqm commented on #28575
BTW, this kind of issue can be detected using the `linkchecker.py` tool.

[code]

The output is about bad links to be fixed.

You can also run the tool agains a localization, e.g.

[code]

[2021-06-23 09:39] dwgillies-bluescape opened #28579 "Improvement for k8s.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/"
Error on this page:

kubectl get hpa.v2beta2.autoscaling -o yaml > /tmp/hpa-v2.yaml

This command is incorrect.  The output shown after this command is actually from (corrected command):

kubectl get hpa php-apache -o yaml > /tmp/hpa-v2.yaml

[2021-06-23 10:51] sftim opened #28580 "Mention wildcard for RBAC resources and names"
**This is a Feature Request**

**What would you like to be added**
In [Using RBAC Authorization](https://kubernetes.io/docs/reference/access-authn-authz/rbac/), document that a wildcard `["*"]` value for a resource or a resource name means “any”.

**Why is this needed**
Although the use of `*` as a wildcard is common in Kubernetes, there are several mechanisms and readers might want to know which

[2021-06-23 10:51] sftim commented on #28580
/help

[2021-06-23 11:54] tengqm commented on #27120
/close

[2021-06-23 11:54] #27120 closed

[2021-06-23 12:32] #27194 closed

[2021-06-23 13:42] sftim commented on #28580
&mdash;@enj

but you *can't* grant for all subresources, eg `pods/*`.

[2021-06-23 13:44] sftim commented on #28575
My view:
We should avoid redirects, but when we can't avoid them / it feels better not to, then we should add redirects for all localizations and not just English. A script to make that copying easier would be useful.

[2021-06-23 13:44] sftim commented on #28573
Thanks @tengqm

/triage accepted
/sig contributor-experience
/priority important-longterm

[2021-06-23 13:46] sftim commented on #28579
HorizontalPodAutoscaler has graduated to stable.

We should correct the page at https://k8s.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/

/kind bug
/language en
/triage accepted
/help

[2021-06-23 13:47] sftim commented on #28579
The fix is to change
`kubectl get hpa.v2beta2.autoscaling -o yaml > /tmp/hpa-v2.yaml`
to
`kubectl get hpa php-apache -o yaml > /tmp/hpa-v2.yaml`

[2021-06-23 13:50] sftim commented on #28578
/retitle Add more diagrams into concepts section

Is that fair @sahsz123?

[2021-06-23 13:51] sftim commented on #28578
Similar to (closed) issue https://github.com/kubernetes/website/issues/84

[2021-06-23 13:52] sftim commented on #28572
/area web-development

[2021-06-23 14:28] vaibhav2107 commented on #28579
/assign

[2021-06-23 17:21] vickyvikas7988 commented on #25061
+1
Need dark mode for documentation

[2021-06-23 17:53] vaibhav2107 commented on #28410
/assign

[2021-06-23 20:41] nigelainscoe commented on #26802
That fixes it. Please update the docs and you can close this issue.

[2021-06-23 20:41] #26802 closed

[2021-06-23 21:32] stevek-pro commented on #25061
Please someone provide location of central SASS (or similar) file. I asked in Slack, w/o result.

[2021-06-24 01:06] tallclair commented on #27336
/assign

[2021-06-24 01:37] #27878 closed

[2021-06-24 02:47] jihoon-seo opened #28588 "[ko] Only items with translated pages are displayed on `command-line-tools-reference` page"
**This is a Bug Report**

**Problem:**
[ko] Only items with translated pages are displayed on `command-line-tools-reference` page

https://kubernetes.io/ko/docs/reference/command-line-tools-reference/
![image](https://user-images.githubusercontent.com/46767780/123194598-be473580-d4e1-11eb-8e2b-f1c4b85b5b2a.png)

---

FYI: English page
https://kubernetes.io/docs/reference/command-line-tools-referen

[2021-06-24 02:55] uweenukr opened #28589 "Issue with k8s.io/docs/setup/production-environment/container-runtimes/"
The Debian and Ubuntu repository links for the CRI-O installation direction to opensuse.org are broken. This is as far as it goes before it changes: https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/

When pasting from the directions I get:

Err:7 http://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o://  Release
  404  Not Found [IP: 2001

[2021-06-24 03:09] #28589 closed

[2021-06-24 04:52] jihoon-seo opened #28590 "[ko] /ko/releases/version-skew-policy/ is not displayed well"
**This is a Bug Report**

**Problem:**

https://kubernetes.io/ko/releases/version-skew-policy/ is not displayed well.
![image](https://user-images.githubusercontent.com/46767780/123204551-4f72d800-d4f3-11eb-9a82-40d5285a3812.png)

---

English version:
https://kubernetes.io/releases/version-skew-policy/
![image](https://user-images.githubusercontent.com/46767780/123204592-60234e00-d4f3-11eb-93bc-d

[2021-06-24 05:18] mohamed-ahmed opened #28591 "Use Port Forwarding to Access Applications in a Cluster"
https://kubernetes.io/docs/tasks/access-application-cluster/port-forward-access-application-cluster/

This guide using one of these playgrounds in place of having a real cluster

Did those writing the guides try the sandboxes suggested and see that they are actually able to run the commands within the sandbox environment?

None of them work for these purposes

[2021-06-24 05:33] jihoon-seo opened #28592 "[ko] Translation can be improved in docs/concepts/workloads/pods"
**This is a Bug Report**

**Problem:**
Korean translation can be improved in https://kubernetes.io/ko/docs/concepts/workloads/pods/ .

English version:
https://kubernetes.io/docs/concepts/workloads/pods/#what-is-a-pod

Korean translation:
https://kubernetes.io/ko/docs/concepts/workloads/pods/#파드란-무엇인가

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/ko/docs/concepts/workloads/pod

[2021-06-24 05:36] jihoon-seo commented on #28592
/language ko

[2021-06-24 06:04] jihoon-seo commented on #28473
M94 ~ M110, R057 제가 하겠습니다~~

[2021-06-24 06:05] chenxuc commented on #28591
Thanks for reporting the bug. There's a change in progress for the examples. This issue might duplicate with #28500 , and will be fixed once the PR #28530 is merged.

[2021-06-24 06:52] sandeep1785 commented on #28580
/assign

[2021-06-24 06:54] sandeep1785 commented on #28580
@sftim Can u please elaborate what we have to do in this.

[2021-06-24 07:43] jihoon-seo opened #28594 "[ko] ko/docs/tasks/administer-cluster/highly-available-master is outdated"
**This is a Bug Report**

**Note**: The filename rename will be handled in the issue #28473.

**Problem:**
https://kubernetes.io/ko/docs/tasks/administer-cluster/highly-available-master/ is outdated.

FYI: In [English version](https://kubernetes.io/docs/tasks/administer-cluster/highly-available-control-plane/),
the term `master` is replaced with `control plane` or `control plane node(s)`.

**Propo

[2021-06-24 07:50] jihoon-seo commented on #28594
/assign

[2021-06-24 08:07] jihoon-seo opened #28595 "Term `master` in docs/tasks/administer-cluster/highly-available-control-plane"
**This is a Bug Report**

**Problem:**

I am not sure whether
the term `master` in https://kubernetes.io/docs/tasks/administer-cluster/highly-available-control-plane/ is intentionally preserved or not.

![image](https://user-images.githubusercontent.com/46767780/123226297-7db1e100-d50e-11eb-960a-a3ea70bef6c3.png)

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/tasks/adminis

[2021-06-24 08:07] jihoon-seo commented on #28595
/language en

[2021-06-24 08:24] saryeHaddadi opened #28596 "Improvement for k8s.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/"
Hi, thank you for the documentation!

If you agree, could we have a command, or a separate tuto, explaining how to check that the required ports are Open, and if needed, how to check that they are not used yet. Thank you.

[2021-06-24 08:27] sftim commented on #25061
@stevek-pro this is a backlog priority issue. SIG Docs has a really chunky amount of work that we've triaged as more valuable, so it's likely that this will move forward specifically when someone who wants to see this specific improvement land picks it up.

If we don't see any movement within a few months, we have a bot that would close the feature request.

[2021-06-24 10:01] jihoon-seo commented on #28473
M113 ~ M129 (이 중에서 M122 는 다른 PR에서 다루었음)
제가 하겠습니다~~

(혹시 하시고 싶은 분이 있으시면
저 대신 맡아서 하셔도 좋을 것 같습니다 😊)

[2021-06-24 10:31] #26081 closed

[2021-06-24 10:36] maoschanz opened #28602 "Improvement for k8s.io/docs/tutorials/stateless-application/expose-external-ip-address/"
It's been 19 hours and it's still pending, maybe the doc should suggest some way to diagnose what's happening

[2021-06-24 12:10] oke-py opened #28603 "[ja] replace links to /docs/concepts/configuration/overview/ with /ja/docs/..."
**This is a Feature Request**

**What would you like to be added**

replace links to `/docs/concepts/configuration/overview/` with `/ja/docs/concepts/configuration/overview/`.

**Why is this needed**
`/docs/concepts/configuration/overview/` has already been translated into Japanese.

**Comments**

/language ja
/kind cleanup
/assign

lines to update
[code]
base branch: dev-1.19-ja.2

[2021-06-24 12:38] neutralvibes opened #28606 "Issue with k8s.io/docs/tutorials/configuration/configure-java-microservice/configure-java-microservice-interactive/"
### Unable to use tutorial

The tutorial instructs the user to perform the following:-

[code]

Result

[code]

Unless I am missing something (quite possibly) this prevents progressing any further.
A `ls -al` confirms the folder is missing and the result has remained the same even after refreshing the page.

Thanks for reading

[2021-06-24 13:14] neolit123 commented on #28596
Hi, I think if we add this information it should be in the page to create a
cluster.

But in general if one googles 'how to check if a port is open on linux' the
will get a tutorial with 'telnet'. In our doc we can just say to use this
command with a short example.

/sig cluster-lifecycle
/triage accepted
/help
On Jun 24, 2021 11:24, "Kubernetes Prow Robot" ***@***.***>
wrote:

@saryeHaddadi <http

[2021-06-24 15:25] chrisnegus commented on #25944
I went ahead and took a shot at a PR on this: [PR 28608](https://github.com/kubernetes/website/pull/28608). I'd be glad to consider other or additional ways to go about this. I also opened a different one the other day ([PR 28490](https://github.com/kubernetes/website/issues/28490)) to fix some incorrect list output, which I think was causing some confusion.

[2021-06-24 17:06] chrismetz09 commented on #28580
@sandeep1785, I'll defer to you to handle. Otherwise I can take a crack at it.

[2021-06-24 17:51] shannonxtreme commented on #28580
@sftim please verify the following:

## For the main doc:

Maybe in the [Referring to resources](https://kubernetes.io/docs/reference/access-authn-authz/rbac/#referring-to-resources) section, we could add something like:

You can also use wildcards [`*`] in values you specify for `resources` or `resourceNames`. In Kubernetes, the wildcard character means "any". For example, you can use `pods/*/log

[2021-06-24 19:39] saryeHaddadi commented on #28596
Hi, I opened the issue on the ‘install kubeadm page’, because the page to install the cluster, tells to install kubeadm, redirecting to the kubeadm page. And the kubeadm page holds a section ‘Check required ports’. It was in reaction to this section that I opened the issue.

I think having some guidance would help in having confidence in performing this check.

The same, as a prerequisite of kubea

[2021-06-24 20:06] ehashman commented on #25388
/lifecycle frozen

[2021-06-24 20:15] neolit123 commented on #28596
ok, we can add a mention about the `telnet` command in this section instead of the "create page":
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#check-required-ports

we assume that host OS node owners have the knowledge to adapt it to suite k8s.
sadly, some of these commands vary between distributions. for swap we can mention `swapoff -a`, but i don't think

[2021-06-24 22:09] MikeSpreitzer opened #28611 "Prohibition on ConfigMap and Secret volume in static pod is too obscure"
**This is a Bug Report**

**Problem:**
I saw an out-of-tree product mention that static pods "can not use" ConfigMaps and Secrets.  I was unaware of such a prohibition.  I went looking in the k8s website.  I spent a lot of time not finding any mention of such a restriction.  For example:

- https://kubernetes.io/docs/concepts/workloads/pods/ mentions static pods but not the restriction;
- https://

[2021-06-25 00:08] tengqm commented on #28611
/triage accepted

[2021-06-25 00:44] chenxuc commented on #28611
I can work on this one. Thanks.
/assign

[2021-06-25 00:59] chenxuc commented on #28368
/close

[2021-06-25 00:59] #28368 closed

[2021-06-25 01:02] chenxuc commented on #28490
Thanks @chrisnegus for writting the larger topic for the List. I close this issue since the larger topic is tracked in another issue.
/close

[2021-06-25 01:02] #28490 closed

[2021-06-25 01:44] jihoon-seo commented on #28606
Hello @neutralvibes
This issue is dup with #28531 and #28536.

Related webpage: https://kubernetes.io/docs/tutorials/configuration/configure-java-microservice/configure-java-microservice-interactive/

[2021-06-25 01:57] jihoon-seo opened #28612 "`docs/tasks/administer-cluster/highly-available-control-plane` needs update"
**This is a Bug Report**

**Problem:**
In https://kubernetes.io/docs/tasks/administer-cluster/highly-available-control-plane/ ,
`kube-up` and `kube-down` scripts are mentioned.

But according to @BenTheElder 's [comment](https://github.com/kubernetes/kubernetes/issues/103144#issuecomment-867894147),

And the `README.md` in [k/k/cluster directory](https://github.com/kubernetes/kubernetes/tree/maste

[2021-06-25 02:07] jihoon-seo commented on #28531
/assign

[2021-06-25 02:07] alex-vmw commented on #19401
/reopen
/remove-lifecycle rotten

[2021-06-25 02:07] jihoon-seo commented on #28536
/assign

[2021-06-25 02:08] jihoon-seo commented on #28606
/assign

[2021-06-25 02:09] alex-vmw commented on #19401
@DiCanio or @sftim Could you please re-open this issue?

[2021-06-25 02:47] jihoon-seo commented on #28602
@maoschanz
Which cloud provider (e.g. AWS, GCP, Azure) are you using?
Did you build your K8s cluster on your own (e.g. using `kubeadm`), or got one via managed service (e.g. EKS, GKE, AKS) ?

[2021-06-25 03:51] saryeHaddadi commented on #28596
Yes, I fully understand for the different OS & swap.

[2021-06-25 04:08] jihoon-seo commented on #28568
This issue was resolved by #28521.
![image](https://user-images.githubusercontent.com/46767780/123368184-4b5bbe80-d5b6-11eb-9422-6a164715acfc.png)
/close

[2021-06-25 04:08] #28568 closed

[2021-06-25 04:29] jihoon-seo opened #28616 "[l10n] Sub-items are not displayed in sidebar tree"
**This is a Bug Report**

**Problem:**
In https://kubernetes.io/ko/docs/reference/setup-tools/kubeadm/ ,
sub-items are not displayed in sidebar tree.
![image](https://user-images.githubusercontent.com/46767780/123369388-a2629300-d5b8-11eb-839d-d966105d76dc.png)

FYI
Chinese version:
https://kubernetes.io/zh/docs/reference/setup-tools/kubeadm/
![image](https://user-images.githubusercontent.com/4676

[2021-06-25 04:40] jihoon-seo commented on #28616
- zh: Some Chinese-translated files exist in `content/zh/docs/reference/setup-tools/kubeadm/generated/`
- ko: No Korean-translated file exists in `content/ko/docs/reference/setup-tools/kubeadm/generated/`

I guess this is the reason why the sidebars of `zh` version and `ko` version are displayed differently.

FYI: On 2021-03-19, the `ko`-version sidebar was like this: (screenshot is from the issue

[2021-06-25 04:51] seokho-son commented on #28590
[code]

English document has `type: docs`

but, Korean doc doesn't have it :) I think this will resolve the problem.
https://github.com/kubernetes/website/blob/main/content/ko/releases/version-skew-policy.md

@jihoon-seo Could you help ? ^^

[2021-06-25 04:52] jihoon-seo commented on #28590
No problem!
/assign

[2021-06-25 05:05] seokho-son commented on #28616
/triage accepted

[2021-06-25 05:06] seokho-son commented on #28590
/triage accepted

[2021-06-25 07:04] maoschanz commented on #28602
the solution to my issue was to run "minikube tunnel"

[2021-06-25 07:09] jihoon-seo commented on #28531
This issue is resolved by https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios/pull/39 .
/close

[2021-06-25 07:09] #28531 closed

[2021-06-25 07:09] jihoon-seo commented on #28536
This issue is resolved by https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios/pull/39 .
/close

[2021-06-25 07:09] #28536 closed

[2021-06-25 07:09] jihoon-seo commented on #28606
This issue is resolved by https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios/pull/39 .
/close

[2021-06-25 07:10] #28606 closed

[2021-06-25 07:14] jihoon-seo commented on #28288
This issue is resolved by #28470 .
/close

[2021-06-25 07:14] #28288 closed

[2021-06-25 08:11] sftim opened #28621 "Add link from “Operator pattern” to CNCF operator white paper"
**This is a Feature Request**

**What would you like to be added**
Update https://kubernetes.io/docs/concepts/extend-kubernetes/operator/ to have an extra link in it's What's Next section, pointing at https://github.com/cncf/tag-app-delivery/blob/eece8f7307f2970f46f100f51932db106db46968/operator-wg/whitepaper/Operator-WhitePaper_v1-0.md

**Why is this needed**
The [operator white paper](https://gi

[2021-06-25 08:11] sftim commented on #28621
/good-first-issue
/triage accepted

[2021-06-25 08:12] sftim commented on #28616
This will affect all localizations
/priority important-soon

[2021-06-25 08:13] sftim commented on #28595
We should amend that text
/wg naming

[2021-06-25 08:15] jihoon-seo commented on #28616
/retitle [l10n] Sub-items are not displayed in sidebar tree

[2021-06-25 08:19] jihoon-seo commented on #28595
/assign

[2021-06-25 08:35] jihoon-seo commented on #28595
/assign

The [embedded image](https://github.com/kubernetes/website/blob/main/static/images/docs/ha-master-gce.png) should be updated too,
but I cannot update since that file is an binary file.
It would be nice if that figure is an Google Drawings object, like this:
https://docs.google.com/drawings/d/1muJ7Oxuj_7Gtv7HV9-2zJbOnkQJnjxq-v1ym_kZfB-4/edit?usp=sharing

It seems that @neolit123 you lastly

[2021-06-25 08:40] tengqm commented on #27673
@chuntaochen where are we regarding your work item?

[2021-06-25 09:08] Shubham82 commented on #28621
/assign
I can work on this.

[2021-06-25 09:19] ariscahyadi commented on #26955
Hi @kubernetes/sig-docs-id-reviews .... I think we need to close this issue, because it has already behind the schedule.
Do we need to complete all within 1-2 weeks? or we need to carry forward to next quarter?

[2021-06-25 10:06] Shubham82 commented on #28621
Fixed it here #28625

[2021-06-25 10:49] sftim commented on #28616
/area web-development

[2021-06-25 12:23] sftim commented on #25061
See https://stuffandnonsense.co.uk/blog/redesigning-your-product-and-website-for-dark-mode for a CSS approach towards implementing this.

[2021-06-25 12:47] sftim commented on #28578
Duplicates issue #28085
/triage duplicate

[2021-06-25 12:48] sftim commented on #28085
/retitle Add more diagrams into concepts section
/triage accepted
/priority backlog

Good idea

[2021-06-25 13:00] tvanbesi opened #28627 "Issue with k8s.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/"

[2021-06-25 13:40] alculquicondor opened #28628 "Better explain the interactions of topology spread constraints and node affinity/selector"
**Problem:**

The calculations for Topology spread constraints are affected by node affinity/selectors. This is currently described as a bullet point in a "conventions" section, making it easy to be missed.

/sig scheduling

**Proposed Solution:**

Create a section that describes the interactions of topology spread constraints and node affinity and node selectors. For example, we should describe m

[2021-06-25 13:41] alculquicondor commented on #28628
cc @Huang-Wei

[2021-06-25 13:41] alculquicondor commented on #28368
I opened #28628 as follow up

[2021-06-25 14:00] #28621 closed

[2021-06-25 14:31] alculquicondor commented on #28628
/triage accepted

[2021-06-25 15:40] neolit123 commented on #28595
i remember fixing the typo in the PNG using Photoshop by copying pixels / letters around.
i don't have the source file.

[2021-06-25 16:11] chrisnegus commented on #28490
@chenxuc Thanks for taking care of this issue so quickly! I was happy to see that it had published when I looked at it today.

[2021-06-25 18:40] #26231 closed

[2021-06-25 19:30] shannonxtreme opened #28630 "Migrate "Adding entries to Pod /etc/hosts with HostAliases" to Tasks"
Affected page: https://kubernetes.io/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases/

Move this page from Concepts to Tasks (potentially under Tasks > Networking).

Update `static/_redirects` to redirect the old URL to the new location (use a 301 code, similar to other entries in this file).

/sig docs
/language en

[2021-06-25 19:30] shannonxtreme commented on #28630
/triage accepted
/help

[2021-06-25 19:36] shannonxtreme commented on #28630
/remove-help

[2021-06-25 19:53] shannonxtreme commented on #28567
The following pages already contain more detailed versions of the information on this page so a migration might not be necessary.

* https://www.telepresence.io/docs/v1/tutorials/kubernetes/
* https://www.telepresence.io/docs/v1/reference/connecting/

+1 to the list of third-party tools. Are there others, or are telepresence and nocalhost the only two we know of for now?

Also @sftim, you mentione

[2021-06-26 00:47] chenxuc commented on #28630
I'd like to work on this one to learn something new in website page organizing. Thanks.
/assign

[2021-06-26 00:54] chenxuc commented on #28627
@tvanbesi Thanks for opening your first issue here! The description is empty. Please provide more information for the description.
/triage needs-information

[2021-06-26 05:01] samarthsaxena opened #28632 "Mention “kubectl cp” in https://k8s.io/cheatsheet"
Need examples of kubectl cp

[2021-06-26 07:54] tvanbesi commented on #28627
Hi I wasn't sure if it was the right place but the tutorial at https://kubernetes.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/ doesn't seem to work. I used it as is copy pasting everything. I'm on Ubuntu

[2021-06-26 08:38] duanyifei1937 opened #28633 "Container Lifecycle Hooks: PreStop hooks asynchronously or synchronous"
In [Container Lifecycle Hooks](https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/):

But In [Kubernetes best practices: terminating with grace](https://cloud.google.com/blog/products/containers-kubernetes/kubernetes-best-practices-terminating-with-grace)

If PreStop hooks action had a break change in new release?
or this blog is too old in 2018?

[2021-06-26 09:09] chuntaochen commented on #27673
The corresponding file has been synchronized, no need to modify.

[2021-06-26 09:28] chenxuc commented on #28633
@duanyifei1937 Thanks for the first issue here!
From my understanding, the two sentences do not conflict. Both of them are correct:
- On one thread, PreStop hooks and TERM signal are executed synchronously. PreStop hooks must complete before TERM signal is sent.
- On the other thread, Termination grace period happens asynchronously with "PreStop hook and TERM signal" thread. If "PreStop hook and T

[2021-06-26 09:31] chenxuc commented on #28633
/kind support

[2021-06-26 12:06] tengqm commented on #27673
I'll work on the following items:

[code]

[2021-06-26 12:48] cawoodm opened #28639 "Improvement for k8s.io/docs/tutorials/hello-minikube/"
Nope, when you press Ctrl+C after running `minikube dashboard` the dashboard stops working.

[2021-06-26 15:08] tomkivlin commented on #26706
/remove-lifecycle rotten

[2021-06-26 18:38] hardikshah197 commented on #28572
Hey @sftim May I take up this issue if no one is working on it?

[2021-06-26 18:47] #26253 closed

[2021-06-26 19:47] #26258 closed

[2021-06-26 19:47] #26172 closed

[2021-06-26 19:47] #26238 closed

[2021-06-27 02:53] wookiist opened #28641 "[ko] Translation"
**This is a Bug Report**

[2021-06-27 02:53] #28641 closed

[2021-06-27 03:01] wookiist opened #28642 "[ko] Incorrectly translated content in docs/concepts/storage/volumes/#hostpath"
**This is a Bug Report**

**Problem:**
There is incorrectly translated content in docs/concepts/storage/volumes/#hostpath
https://kubernetes.io/ko/docs/concepts/storage/volumes/#hostpath .

in English:
https://kubernetes.io/docs/concepts/storage/volumes/#hostpath

in Korean:
https://kubernetes.io/ko/docs/concepts/storage/volumes/#hostpath

**Proposed Solution:**

**Page to Update:**
https://kubern

[2021-06-27 03:05] wookiist commented on #28642
/kind bug
/language ko

[2021-06-27 03:55] duanyifei1937 commented on #28633
@chenxuc thanks reply, i understand.

[2021-06-27 03:56] #28633 closed

[2021-06-27 05:24] chenxuc commented on #28639
@cawoodm Thanks for the first issue here!
By saying "when you press Ctrl+C after running minikube dashboard the dashboard stops working", do you mean the web browser cannot access the dashboard page after Ctrl+C?
This is the expected behavior. After the proxy is stopped, the current web browser session stops working. But the dashboard server is still running in the background, you can open another

[2021-06-27 07:10] oke-py opened #28645 "[ja] replace links to /docs/concepts/configuration/pod-priority-preemption/ with /ja/docs/..."
**This is a Feature Request**

**What would you like to be added**

replace links to `/docs/concepts/configuration/pod-priority-preemption/` with `/ja/docs/concepts/configuration/pod-priority-preemption/`.

**Why is this needed**
`/docs/concepts/configuration/pod-priority-preemption/` has already been translated into Japanese.

**Comments**

/language ja
/kind cleanup
/assign

lines to update
[cod

[2021-06-27 07:17] ClaudiaJKang commented on #28592
/triage accepted

[2021-06-27 07:18] ClaudiaJKang commented on #28642
/triage accepted

[2021-06-27 07:18] bells17 commented on #28645
/triage accepted

[2021-06-27 09:34] sahsz123 opened #28649 "Improvement for k8s.io/docs/reference/kubectl/overview/"
You need to add a list of custom columns or at least some examples to be run via the kubectl like:
kubectl get po nginx -o custom-columns=Name:metadata.name,ANNOTATIONS:metadata.annotations.description

[2021-06-27 09:54] #25898 closed

[2021-06-27 10:07] oke-py opened #28650 "[ja] replace links to /docs/concepts/configuration/secret/ with /ja/docs/..."
**This is a Feature Request**

**What would you like to be added**

replace links to `/docs/concepts/configuration/secret/` with `/ja/docs/concepts/configuration/secret/`.

**Why is this needed**
`/docs/concepts/configuration/secret/` has already been translated into Japanese.

**Comments**

/language ja
/kind cleanup
/assign

lines to update
[code]
base branch: dev-1.19-ja.2

[2021-06-27 12:54] #25306 closed

[2021-06-27 15:53] sftim commented on #25782
/priority backlog
/triage accepted
/lifecycle frozen

A good idea, but it may be years before this reaches the top of the backlog / gets some more attention.

[2021-06-27 15:55] sftim commented on #26609
/priority awaiting-more-evidence

[2021-06-27 15:57] sftim commented on #28567
I'm open to suggestions about how we document these tasks. I think they _are_ tasks because the phrase “Developing and debugging services locally” sounds much more like a task than a reference or concept.

Pretty much anything goes so long as the approach we pick:
- follows the content guide
- isn't far away from the recommendations in the style guide

[2021-06-27 15:59] sftim commented on #28595
I suggest opening a separate issue that requests replacing that diagram with an SVG.

[2021-06-27 23:46] jihoon-seo opened #28654 "Replace `ha-master-gce.png` with SVG or something else"
**This is a Bug Report**

**Problem:**
The image [ha-master-gce.png](https://github.com/kubernetes/website/blob/main/static/images/docs/ha-master-gce.png) in ["Set up a High-Availability Control Plane" page](https://kubernetes.io/docs/tasks/administer-cluster/highly-available-control-plane/)
is in PNG format,
which makes it hard for contributors to edit its content.

**Proposed Solution:**
Replace

[2021-06-27 23:47] jihoon-seo commented on #28595
@sftim

Done! (#28654)

[2021-06-27 23:48] jihoon-seo commented on #28595
This issue was resolved by #28622.

[2021-06-27 23:48] #28595 closed

[2021-06-28 02:40] lyzhang1999 commented on #28567
it's anything I can help?

[2021-06-28 05:15] cawoodm commented on #28639
Hello,
From a user perspective the dashboard is unusable after Ctrl+C and if you start it again it’s on a different port so it looks very mich like it’s stopped. The real question is why starting the dashboard should block the CLI like this. I’d say the behaviour is unnecessarily confusing for beginners and the documentation compounds this.

[2021-06-28 08:19] devNajjary opened #28660 "A newline is added to the end of Commands"
hi
I had a problem after copying and pasting  the command and Kubctl was not installed and show me error:

`/usr/local/bin/kubectl: 2: Syntax error: newline unexpected`

After that, i remove Kubctl and install again but removed newline from end of command
Now everything is OK.

I suggest  make a copy button for each command

[2021-06-28 08:28] liuyanzhen34 opened #28661 "Issue with k8s.io/zh/docs/setup/production-environment/tools/kubeadm/ha-topology/"
hello
every one.
I have a question on External etcd topology ,documentation describes that :
However, this topology requires twice the number of hosts as the stacked HA topology. A minimum of three hosts for control plane nodes and three hosts for etcd nodes are required for an HA cluster with this topology.

![image](https://user-images.githubusercontent.com/48582103/123604005-02616f80-d82d-11eb-

[2021-06-28 08:43] #18850 closed

[2021-06-28 09:24] sftim commented on #28654
/triage accepted

We'd prefer SVG images, ideally with the text converted to shapes. It's OK to save an editable version somewhere else - SVG lets you add a comment about where to find the editable version.

[2021-06-28 09:30] tengqm commented on #28661
Three nodes is the minimum for HA so that you can achieve a quorum when bad things (such as a network split) happen.
/kind support

[2021-06-28 09:49] ybykov-a9s opened #28667 "Configure a Security Context for a Pod or Container"
The link to the page "[Overview of Linux Kernel Security Features](https://www.linux.com/learn/overview-linux-kernel-security-features)" is present, but most of the links on this page are not working now.

[2021-06-28 10:13] liuyanzhen34 commented on #28661
I'm sorry that I can't toally agree with you, load balancer is in front of apiservers,these apiservers don't need to  achieve a quorum.
while etcd does

[2021-06-28 11:35] sftim commented on #28660
@devNajjary would you be able to let us know an example of a web page where you see these symptoms, and explain what steps we can take to see the problem as you experienced it?

[2021-06-28 11:37] sftim commented on #28667
Hi @ybykov-a9s

Would you be willing to give an example of a hyperlink in https://kubernetes.io/docs/tasks/configure-pod-container/security-context/ that isn't work? That'd help us know exactly what to fix.

/language en

[2021-06-28 12:01] #26112 closed

[2021-06-28 12:26] tengqm commented on #28661
This is related to load-balancing but not relied upon it. The API servers need leader elections as other cluster components do. That is why at least three nodes are required for quorum.

[2021-06-28 13:10] Jean-Daniel opened #28673 "Kubernetes DopodIPcumentation"

[2021-06-28 13:12] kreempuff commented on #22298
/remove-lifecycle rotten

[2021-06-28 13:12] kreempuff commented on #22298
/remove-lifecycle stale

[2021-06-28 13:41] ybykov-a9s commented on #28667
Hi @sftim

Here is a page: [Configure a Security Context for a Pod or Container](https://kubernetes.io/docs/tasks/configure-pod-container/security-context/). In the first part of it the last sentence sounds like "For more information about security mechanisms in Linux, see [Overview of Linux Kernel Security Features](https://www.linux.com/learn/overview-linux-kernel-security-features)". Of you go

[2021-06-28 13:58] chrisnegus commented on #27072
Thanks. I wasn't sure if I was able to do that.

[2021-06-28 16:07] rdxmb commented on #22916
/close

[2021-06-28 16:07] #22916 closed

[2021-06-28 17:07] evankanderson opened #28674 "Review website cookies/analytics/opt-out?"
**This is a Bug Report**

**Problem:**

A few people were having a conversation about the "cookie banner" on knative.dev, and we noticed that https://istio.io/ didn't have such a banner. Digging further, it looks like I'm served Google Analytics javascript and reports are collected even in an incognito window with `DNT: 1` cookie.

I'm in the US, so maybe this is okay here, but I suspect that our

[2021-06-29 00:57] chenxuc commented on #28639
Let me improve the doc to clarify this.
/triage accepted
/kind feature

[2021-06-29 00:57] chenxuc commented on #28639
/assign

[2021-06-29 01:11] chrisnegus commented on #28487
This [PR 28492](https://github.com/kubernetes/website/pull/28492) merged today to close this.

[2021-06-29 01:29] liuyanzhen34 commented on #28661
老师您好，感谢您的及时耐心的回复。关于k8s选举的问题，我查询了很多的资料，大部分都是如下的表述：在k8s的组件中，其中有kube-scheduler和kube-controller-manager两个组件是有leader选举的，这个选举机制是k8s对于这两个组件的高可用保障。需要–leader-elect=true启动参数。即正常情况下kube-scheduler或kube-manager-controller组件的多个副本只有一个是处于业务逻辑运行状态，其它副本则不断的尝试去获取锁，去竞争leader，直到自己成为leader。如果正在运行的leader因某种原因导致当前进程退出，或者锁丢失，则由其它副本去竞争新的leader，获取leader继而执行业务逻辑。
  对于上面的表述，那这么说明apiserver是不不需要选举的，只有kube-controlle-rmanager和kub

[2021-06-29 02:31] liuyanzhen34 commented on #28661
In order to get many replies from all over the world, I translate above chinse into english:
Dear teacher, thank you for your prompt and patient reply. As for the K8S election, I have inquired a lot of information, most of which are expressed as follows: Among the components of K8S, two components, Kube-scheduler and Kube-controller-manager, have leader election. This election mechanism is the gua

[2021-06-29 03:38] rounaksarda commented on #28054
/assign

[2021-06-29 06:33] Shubham82 opened #28677 "Improvement for Configure a Security Context for a Pod or Container"
**What would you like to be added**
In [Configure a Security Context for a Pod or Container](https://kubernetes.io/docs/tasks/configure-pod-container/security-context/) Seccomp should link to https://kubernetes.io/docs/tutorials/clusters/seccomp/  instead of https://en.wikipedia.org/wiki/Seccomp

**Why**
For a better understanding of how Seccomp works in k8s. As Seccomp is stable fetaure in k8s.

[2021-06-29 06:34] Shubham82 commented on #28677
/assign

[2021-06-29 07:02] Shubham82 commented on #28677
Fixed it here #28678

[2021-06-29 07:35] tengqm commented on #28661
@liuyanzhen34 Double checked the configuration settings for kube-apiserver, it does seem that the API server doesn't need a leader election. So ... you are correct if you think about the setup from leader election perspective.

If you instead think about the cluster deployment topology, where would you place your API servers, kube-controller-manager and kube-scheduler instances? Suppose you have t

[2021-06-29 07:55] tengqm commented on #28487
/close
Please feel free to reopen if #28492 is not resolving this issue.

[2021-06-29 07:55] #28487 closed

[2021-06-29 13:06] #27670 closed

[2021-06-29 13:06] tengqm commented on #27674
/close

[2021-06-29 13:06] #27674 closed

[2021-06-29 13:39] sftim commented on #28667
Got it. Linking to the article at https://www.linux.com/training-tutorials/overview-linux-kernel-security-features/ is now a poor choice because https://www.linux.com/training-tutorials/overview-linux-kernel-security-features/ is dated and has many broken links.

I'm not sure there's a better public article than that from the last 8 years though, which is a shame.
We could:
- try to encourage some

[2021-06-29 13:46] #28677 closed

[2021-06-29 14:32] 4nass opened #28689 "Issue with k8s.io/fr/docs/concepts/workloads/controllers/statefulset/"
Typo in frensh Statefulset documentation:

Garanties de **_déploiment_** et de mise à l'échelle -> Garanties de **_déploiement_** et de mise à l'échelle

https://kubernetes.io/fr/docs/concepts/workloads/controllers/statefulset/#garanties-de-d%C3%A9ploiment-et-de-mise-%C3%A0-l-%C3%A9chelle

[2021-06-29 14:52] sftim commented on #28689
/kind bug
/language fr

[2021-06-29 14:56] sftim commented on #28674
The Linux Foundation (and CNCF) is based in California so I believe that [CCPA](https://oag.ca.gov/privacy/ccpa) applies.

https://ccpa-info.com/wp-content/uploads/2019/08/Handbook-of-FAQs-Cookies.pdf suggests that neither cookie opt-in nor opt-out are required by CCPA.
With that in mind, I see this as more a feature request. For example, we could choose to only load Google Analytics for visitors

[2021-06-29 15:10] #28409 closed

[2021-06-29 17:54] Huang-Wei commented on #28628
/good-first-issue

[2021-06-29 18:54] shannonxtreme opened #28690 "Add distinction for "deprecated" vs "removed" API versions in the style guide"
Based on discussion in sig-docs meeting on June 29 2021.

We're talking about improving our comms and exposure for deprecated API versions each release to make upgrading a little less *fun*.

We should add a section to the contributor style guide where we talk about the different terms we use when talking about APIs, such as "removing", "deprecating", "obsolete", "no longer serving". We should hav

[2021-06-29 18:58] shannonxtreme opened #28691 "Expand the Style Guide to improve consistency in docs and comms"
We should expand the [Contributor Style Guide](https://kubernetes.io/docs/contribute/style/style-guide/) so that contributors have a reference for common terms and phrases.

Some examples of what we could add:
* Making the distinction between "deprecating" an API and "removing" an API (#28690)
* Saying "manifest" vs "definition" or "spec" and other terms with multiple technically correct alternati

[2021-06-29 20:46] evankanderson commented on #28674
I'm not sure whether that interpretation is correct: GDPR may apply to EU citizens (as it applies to their right to privacy), not to the country of origin of the service provider.

In any case, it might be worth asking CNCF counsel about the applicability of laws, since I'm not a lawyer, and speculating would be irresponsible of me.

[2021-06-29 20:47] sftim commented on #28690
/triage accepted

[2021-06-29 21:58] sftim commented on #27336
With PR #28587 open but also with the v1.22 release creeping up on us:
/remove-priority important/longterm
/priority important/soon

[2021-06-29 21:58] sftim commented on #27336
/priority important-soon

[2021-06-29 21:58] sftim commented on #27336
/remove-priority important/longterm

[2021-06-29 21:59] sftim commented on #27336
/remove-priority important-longterm
Sorry Prow

[2021-06-29 22:15] sftim commented on #28674
BTW, the relevant EU legislation about cookies that don't identify an individual is [PECD](https://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32002L0058:en:HTML), transposed into UK law as [PECR](https://www.legislation.gov.uk/uksi/2003/2426). GDPR is relevant only where the tracking can identify a specific individual.

I'm reasonably confident that the website is legal. It would take a

[2021-06-29 22:31] sftim commented on #28632
/sig cli
/triage accepted

Page to update: https://k8s.io/cheatsheet

[2021-06-29 22:32] sftim commented on #28632
/retitle Mention “kubectl cp” in https://k8s.io/cheatsheet

[2021-06-29 23:05] geoffcline commented on #26936
/assign @geoffcline

teamwork makes the dreamwork @eddiezane

[2021-06-29 23:06] #26311 closed

[2021-06-30 02:14] #26943 closed

[2021-06-30 08:47] #27336 closed

[2021-06-30 09:05] sftim commented on #28674
I propose we accept this and prioritize it as important-longterm.

[2021-06-30 10:19] #27944 closed

[2021-06-30 10:20] sftim commented on #28674
/lifecycle frozen
Let's not miss this one.

[2021-06-30 12:10] rajeshdeshpande02 opened #28706 "Issue with assign-cpu-resource and assign-mem-resource page titles"
**Problem:**
Compute resources such as memory and CPU are assigned to the Container and not to the Pod.  But the tasks for these activities have titles that indicate resources are assigned to the pod also. For example, the task page for assigning memory to a container has the title 'Assign Memory Resources to Containers and Pods '.

**Proposed Solution:**
Change the title from 'Assign Memory Resou

[2021-06-30 14:21] anubha-v-ardhan commented on #28706
/assign

[2021-06-30 14:22] anubha-v-ardhan commented on #28706
I'm working on this : )

[2021-06-30 14:25] anubha-v-ardhan commented on #28689
/assign

[2021-06-30 14:26] anubha-v-ardhan commented on #28689
I'm working on this

[2021-06-30 14:38] rajeshdeshpande02 commented on #28706
@anubha-v-ardhan Please wait till this issue gets accepted.

[2021-06-30 14:40] anubha-v-ardhan commented on #28706
Sorry, I'm new. How do I know if an issue is accepted or not

[2021-06-30 14:45] rajeshdeshpande02 commented on #28706
@anubha-v-ardhan a label triage accepted will be added to issue

[2021-06-30 15:04] anubha-v-ardhan commented on #28654
I would like to work on this

[2021-06-30 15:04] anubha-v-ardhan commented on #28654
/assign

[2021-06-30 18:10] anubha-v-ardhan commented on #28654
fixed issue in #28720

[2021-06-30 18:49] liggitt opened #28721 "Pod Security Standards website updates"
**This is a Feature Request**

Umbrella issue tracking pending updates to https://kubernetes.io/docs/concepts/security/pod-security-standards/ as part of https://github.com/kubernetes/enhancements/tree/master/keps/sig-auth/2579-psp-replacement#pod-security-standards

- https://github.com/kubernetes/website/pull/28587
  - [x] Remove `csi` from the forbidden list of fields for https://kubernetes.io/

[2021-06-30 18:49] liggitt commented on #28721
/assign
/cc @tallclair

[2021-06-30 18:49] liggitt commented on #28721
/sig auth security
/triage accepted

[2021-06-30 18:52] tallclair commented on #28721
CSI issue was addressed by https://github.com/kubernetes/website/pull/28587 (I don't have edit permissions on this issue)

[2021-06-30 20:34] shannonxtreme commented on #28691
/assign
/sig docs

[2021-06-30 22:53] sftim opened #28724 "Document how to install kubectl convert plugin"
**This is a Feature Request**

**What would you like to be added**
Update https://kubernetes.io/docs/tasks/tools/#kubectl (really, the 3 pages that it links to) to let readers know how to install `kubectl-convert`

**Why is this needed**
1. `kubectl convert` is now delivered as a plugin, not part of the main binary.
2. Kubernetes v1.22 includes lots of [API removals](https://kubernetes.io/docs/ref

[2021-06-30 22:58] eddiezane commented on #28724
ref: https://github.com/kubernetes/kubectl/issues/725

[2021-06-30 23:09] sftim commented on #28724
<details>
 <summary><em>It's there for the installing</em></summary>
<pre>
$ curl -L -I https://dl.k8s.io/release/v1.21.0/bin/linux/amd64/kubectl-convert
HTTP/2 302
server: nginx
date: Wed, 30 Jun 2021 23:06:44 GMT
content-type: text/html
content-length: 154
location: https://storage.googleapis.com/kubernetes-release/release/v1.21.0/bin/linux/amd64/kubectl-convert
via: 1.1 google
alt-svc: clear
</

[2021-06-30 23:10] tallclair commented on #28721
for seccomp baseline check, xref: https://github.com/kubernetes/kubernetes/issues/103388

[2021-06-30 23:15] joestringer opened #28725 "DNS for Services and Pods docs improvement suggestions"
Here's the text I see in the Pod's DNS policy section today:

https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pod-s-dns-policy

[code]

I've found a few issues with this:
* `ClusterFirstWithHostNet` doesn't explain what it does, it just says to use it. As far as I could tell from some discussion with colleagues, it's the same as `ClusterFirst` but using search domains from

[2021-06-30 23:27] geoffcline commented on #26936
can someone explain this just a bit?

This is what I'm getting

[2021-06-30 23:56] santachopa opened #28727 "[ko] Translate docs/reference/glossary/disruption.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate docs/reference/glossary/disruption.md in Korean

**Why is this needed**
No translation docs/reference/glossary/disruption.md in Korean

**Comments**

Page to update : https://kubernetes.io/ko/docs/reference/glossary/?fundamental=true#term-disruption

[2021-06-30 23:56] santachopa commented on #28727
/assign
/language ko

[2021-07-01 02:13] liuyanzhen34 commented on #28661
@tengqm  firstly thank you , I think that  although  Kube-Controlle-Manager and Kube-Scheduler need to be elected, this election is a preemptive lock acquisition election mechanism,not for quorum,so not need 3 three masters