[2017-10-20 18:44] zacharysarah commented on #5970
@heckj Thanks for opening this. 💛

[2017-10-20 18:57] #5362 closed

[2017-10-20 20:50] #5989 closed

[2017-10-20 20:52] #5773 closed

[2017-10-20 21:12] djsly commented on #5773
thanks for this guys!

On Fri, Oct 20, 2017 at 4:52 PM, Jessica Yao <notifications@github.com>
wrote:

[2017-10-20 21:40] chenopis opened #5993 "Add more glossary terms"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
Now that the revamped [Glossary](https://kubernetes.io/docs/reference/glossary/?fundamental=true) has been launched, we need to add more terms to the list.

**Proposed Solution:**
Add missing terms at Kubernetes doc sprints.

Here is the original glossary list from [v1.5 Reference ToC](https://v1-5.docs.kubernetes.io/docs/refer

[2017-10-20 21:46] chenopis commented on #4741
The initial list of glossary terms is up: https://kubernetes.io/docs/reference/glossary/?all=true
There is a follow up Issue to add more: https://github.com/kubernetes/website/issues/5993

[2017-10-20 21:46] #4741 closed

[2017-10-22 08:53] Lennie opened #5999 "unique hostname is a requirement"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
kubectl get nodes seems to show the master is NotReady when a node is added with the same hostname

**Proposed Solution:**
Make a unique hostname a requirement for every node just like MAC address and product_uuid.

Possible the code should reflect that too.

**Page to Update:**
https://kubernetes.io/docs/setup/independent/inst

[2017-10-22 15:33] MicSpring opened #6001 "Issue with k8s.io/docs/tutorials/stateless-application/hello-minikube/"
Hi,

I have installed Minikube latest along with all its prerequisites.
The minikube server is running but with the following commands I am facing problems:
I would like to request you to please help me out here:

$ kubectl get pods
Unable to connect to the server: dial tcp **x.x.x.x:port**: i/o timeout

$ docker images
Cannot connect to the Docker daemon at **x.x.x.x:port**. Is the docker daemon

[2017-10-22 15:47] heckj commented on #5999
Thanks for the report @Lennie

If you think the code should be doing something different, please open a bug report for that code - either at https://github.com/kubernetes/kuberntes/issues, or in this case perhaps at https://github.com/kubernetes/kubeadm/issues. I'll keep this report open to reflect the need in the documentation.

[2017-10-22 15:54] heckj commented on #6001
hi @MicSpring, thank you for the report

This issue sounds more like a request for support and less
like an issue specifically for docs. I encourage you to bring
your question to the `#kubernetes-users` channel in
[Kubernetes slack](http://slack.k8s.io/). You can also search
resources like
[Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes)
for answers  to similar questions.

Yo

[2017-10-22 15:54] #6001 closed

[2017-10-22 17:29] krishnacs2 opened #6003 "My kubernetes pods keep crashing with “CrashLoopBackOff”"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-10-22 23:08] godunddome opened #6004 "index.php"
egagegwaeaega

[2017-10-22 23:08] godunddome opened #6005 "Issue with k8s.io/docs/setup/"
btertber

[2017-10-22 23:29] heckj commented on #6005
Hi @godunddome - this looks like you opened this issue accidentally. Since this isn't a docs issue, I'm going to close it - please re-open with relevant details if there is a documentation issue to address.

[2017-10-22 23:29] #6005 closed

[2017-10-22 23:30] #5999 closed

[2017-10-22 23:31] heckj commented on #6004
Hi @godunddome - this looks like you opened this issue accidentally. Since this isn't a docs issue, I'm going to close it - please re-open with relevant details if there is a documentation issue to address.

[2017-10-22 23:31] #6004 closed

[2017-10-22 23:32] heckj commented on #6003
This issue sounds more like a request for support and less
like an issue specifically for docs. I encourage you to bring
your question to the `#kubernetes-users` channel in
[Kubernetes slack](http://slack.k8s.io/). You can also search
resources like
[Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes)
for answers  to similar questions.

You can also open issues for Kubernetes fun

[2017-10-22 23:32] #6003 closed

[2017-10-23 03:20] danbopes opened #6012 "Add documentation to Dynamic Persistent Volumes about DefaultStorageClass admission control"
From https://github.com/kubernetes/kubernetes/issues/54369

**This is a...**

- [X] Feature Request

**Problem:**
I went to the [documentation page](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#dynamic), and read about dynamic provisioning. A default class was set, but the DefaultStoreClass admission plugin wasn't enabled, and I spent several hours searching as to why my pvc's w

[2017-10-23 06:15] linyouchong opened #6014 "Issue with k8s.io/docs/tasks/manage-hugepages/scheduling-hugepages/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
spelling errors : guarnatees

**Proposed Solution:**
guarantees

**Page to Update:**
https://kubernetes.io/docs/tasks/manage-hugepages/scheduling-hugepages/

NONE

NONE

[2017-10-23 06:27] linyouchong commented on #6014
I
https://github.com/kubernetes/website/pull/6015

[2017-10-23 06:27] #6014 closed

[2017-10-23 08:17] tengqm commented on #6012
/assign

[2017-10-23 13:53] aknrdureegaesr opened #6017 "k8s.io/docs/user-guide/jsonpath/ does not document how to deal with complicated keys."
**This is a...**

- [ ] Feature Request
- [ X ] Bug Report

**Problem:**

In my map, there is a key containing a slash character "/", a dot ".", and a hyphen "-".

The above page does not documented how to write a JSONPath expression that filters for that key. (In fact, I couldn't figure out how to do it.)

Possibly, that isn't even possible because of problems with `kubectl`. This is speculation.

[2017-10-23 17:58] #5580 closed

[2017-10-23 18:48] #5924 closed

[2017-10-23 19:18] heckj commented on #5863
upstream bug merged

[2017-10-23 19:18] #5863 closed

[2017-10-23 20:14] heckj commented on #5476
@sclausen since this isn't an issue specific to updating the documentation, I'm going to go ahead and close this here. Thanks for letting us know!

[2017-10-23 20:14] #5476 closed

[2017-10-23 20:15] heckj commented on #5907
@gaf3  since this isn't an issue specific to updating the documentation, I'm going to go ahead and close this here. Thanks for letting us know!

[2017-10-23 20:15] #5907 closed

[2017-10-24 04:02] jndaigle opened #6025 "Issue with k8s.io/docs/tutorials/kubernetes-basics/explore-interactive/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The command to view the log does not work properly. When the link is clicked, the main terminal disappears and the only windo left is the proxy window.

**Proposed Solution:**
No idea how to fix this.

**Page to Update:**
http://kubernetes.io/...

[2017-10-24 04:02] #6025 closed

[2017-10-24 04:03] jndaigle opened #6026 "Issue with k8s.io/docs/tutorials/kubernetes-basics/explore-interactive/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The command to view the log does not work properly. When the link is clicked, the main terminal disappears and the only windo left is the proxy window.

**Proposed Solution:**
No idea how to fix this.

**Page to Update:**
http://kubernetes.io/...

[2017-10-24 07:26] wuhengithub opened #6029 "Issue with /docs/api/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-10-24 16:15] biswabandhu21 opened #6031 "Issue with k8s.io/docs/tutorials/kubernetes-basics/cluster-interactive/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Summary page at the end of module 1 is not working. I am using chrome browser.

**Page to Update:**
https://kubernetes.io/docs/tutorials/kubernetes-basics/cluster-interactive/

![issue1](https://user-images.githubusercontent.com/14542960/31954962-9bbe91ca-b8ac-11e7-844e-b6b5ec6ee3a3.png)

[2017-10-24 16:35] php-coder commented on #5820
@joshrosso I've submitted a PR, PTAL. Is it clear enough or there is something that I can improve?

[2017-10-24 17:01] php-coder opened #6033 "Issue with k8s.io/docs/concepts/policy/pod-security-policy/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The logic of selecting PSPs was modified in the https://github.com/kubernetes/kubernetes/pull/52849 but documentation for the PodSecurityPolicy admission plug-in wasn't updated.

**Proposed Solution:**
The documentation should be updated to take into account that:
- PSPs which allow the pod as-is (no defaulting/mutating) are pr

[2017-10-24 17:20] liggitt commented on #6033
Need to queue this up for 1.9, since 1.8 does not have that behavior yet

[2017-10-24 17:32] calavera commented on #4657
Hey sorry for the late reply.

This is a feature we're considering implementing, but there are a few reasons why we haven't done it yet.

Knowns:

- Netlify knows which files and pages are changed for each deploy.
- Netlify knows which files are html and which are not.

Unknowns:

- Netlify doesn't know if a file deployed has side effects for any page. For example, if you deploy a change in a CSS

[2017-10-24 18:24] ahmetb commented on #4657
@calavera I think these are good enough for us. We mostly don't have patches modifying 10+ files, and would love to have a best-effort bot just posting about which HTMLs are changed.

[2017-10-24 19:01] stretchcloud opened #6035 "Issue with deployment of mysql-deployment using minikube"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
When deploying MySQL using minikube, getting this error.

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.5", GitCommit:"17d7182a7ccbb167074be7a87f0a68bd00d58d97", GitTreeState:"clean", BuildDate:"2017-08-31T09:14:02Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}
Server Ver

[2017-10-24 20:11] chenopis opened #6037 "Move auto-generated docs into /docs/reference/generated directory"
These are the auto-generated docs that need to moved into `/docs/reference/generated/`:
- [x] [api-reference](https://kubernetes.io/docs/api-reference/v1.8/) (@steveperry-53)
- [x] [cloud controller manager](https://kubernetes.io/docs/admin/cloud-controller-manager/) @wackxu
- [x] [federation API operations](https://kubernetes.io/docs/reference/federation/v1/operations/)
- [x] [federation API defi

[2017-10-24 20:46] heckj commented on #6037
total nit, but would it be OK to move them into `/docs/reference/generated` and not have the extra auto- characters in there? no big deal if you prefer auto-generated, it just wrankled a little redundancy OCD in me

[2017-10-24 20:50] chenopis commented on #6037
I have no preference, so if @steveperry-53 is ok with it, go ahead and change it.

[2017-10-24 22:14] BenHall commented on #6031
Thank you for letting us know. This is externally hosted on Google Forms so outside of our control. Could you retry for us please?

[2017-10-24 23:31] BenHall commented on #6026
Thanks for the feedback. I believe this occurs if you happened to have skipped one of the commands.

We've updated the scenarios to make sure this doesn't happen in future. Please try again, we'd love to hear your feedback.

[2017-10-25 00:52] jndaigle commented on #6026
Thanks for your response.

I think I checked this about three times before submitting the report. In addition, I typed the command in directly without clicking and it worked just fine.

But, sure, I will check again.

John N. Daigle, Eng.Sc.D.
Life Fellow of IEEE
Professor of Electrical Engineering
University of Mississippi
University, MS 38677 -1848
Ph: (662) 801-6651 (c);  Fax (662) 915-7210
e-m

[2017-10-25 03:22] tengqm opened #6039 "ephemeral storage is not well documented"
**This is a...**

- [X ] Feature Request
- [ ] Bug Report

**Problem:**
The "ephemeral-storage" resource is now gaining an equal foot with resources like CPU, memory and GPU. However, documentation about it is pretty weak thus needs an improvement.

**Proposed Solution:**
- Mention "ephemeral-storage" resource when CPU or memory are discussed
- Add cross-references between ephemeral-storage and hu

[2017-10-25 14:19] mustafaakin opened #6043 "Issue with k8s.io/docs/tutorials/stateful-application/zookeeper/"
**This is a...**
- [ ] Feature Request
- [X ] Bug Report

**Problem:**

The link does download a HTML file instead of YAML, so that the command in tutorial does not work kubectl apply -f https://k8s.io/docs/tutorials/stateful-application/zookeeper.yaml

**Proposed Solution:**

Make https://k8s.io/docs/tutorials/stateful-application/zookeeper.yaml great again

**Page to Update:**
k8s.io/docs/tutori

[2017-10-25 17:50] heckj commented on #6043
Wow, icky!

Verified that the file downloaded isn't just the YAML goodness from the site, but wrapped in HTML tags now...

/cc chenopis zacharysarah

Will see if I can dig into the netlify configuration, or ask someone who has more access, so see if we can configure exclusions specifically for YAML files so they get provided with the correct content-type and not wrapped up in HTML-ness...

[2017-10-25 18:08] bowei opened #6046 "Redirect https://kubernetes.io/v1.1/docs/api-reference/v1/definitions/ to the new reference pages (currently gives 404)."
**This is a...**
- [x ] Bug Report

**Problem:**
top websearch hit for "pod spec kubernetes" leads to https://kubernetes.io/v1.1/docs/api-reference/v1/definitions/ which is a 404. Should we add a redirect?

**Proposed Solution:**
Add redirect.

**Page to Update:**
`https://kubernetes.io/v1.1/docs/api-reference/v1/definitions/` and similar URIs

[2017-10-25 18:23] heckj commented on #6029
hi @wuhengithub - this looks like you might have opened an issue on accident. I'm closing this issue, but if there's a documentation issue you were trying to report, please update the content and re-open

[2017-10-25 18:23] #6029 closed

[2017-10-25 18:30] heckj commented on #6035
/cc @steveperry-53

I'm suspecting you saw this or were amazingly prescient during last docs meeting - this applies directly to what you were calling out in terms of specific versions and their implications on our "always published" docs.

The above content *does* expect a 1.8 cluister, but we 1) don't it out and 2) likely could have kept it at it's earlier version that would still (I think?) work

[2017-10-25 18:37] heckj commented on #5930
Also related (found while I was reproducing this), the drop-down mechanism that allows version changing doesn't render correctly on safari (mobile or laptop) so that you can't choose the older versions, and the same happens in Chrome (IOS) - you see part of 1.8, but the rest of the list is cut off.

See embedded screenshot (from Chrome IOS)
![4cdd31b0-19bc-4f2b-a0b1-910d18c1f476](https://user-imag

[2017-10-25 19:05] #5820 closed

[2017-10-25 19:38] heckj commented on #6043
Doing a bit of digging, I suspect this might be related more to our configuration of Jekyll than netlify hosting it. That said, I'm only working from an iPad at the moment, so can't try out multiple renders locally to see what delta's might incur.

A potential solution might be to redirect to the source files on github using their raw mechanism if I can't figure a way to allow jekyll's build & red

[2017-10-25 21:22] #5956 closed

[2017-10-25 21:41] #5959 closed

[2017-10-26 00:49] z-oo opened #6049 "Issue with k8s.io/docs/tutorials/kubernetes-basics/expose-interactive/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The description is confusing at the following places:
1) `We have now a running Service called kubernetes-bootcamp. Here we see that the Service received a unique cluster-IP, an internal port and an external-IP (the IP of the Node).` The reality is that external-IP is `<none>`
2) `curl host01:$NODE_PORT`. Where does "host01" co

[2017-10-26 07:22] abitrolly commented on #4657
Links to HTMLs pages changed sorted by distance from the patch filename and content.

[2017-10-26 07:29] MaheshIBM opened #6054 "Issue with k8s.io/docs/concepts/services-networking/connect-applications-service/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The page redirects to another article for generating ssl secret file, that inturn needs make and go to be installed. Its unnecessary extra work which I feel has nothing to do with how secrets works. The article also breaks the pattern of consistently using command line and asks to make use of "make" tool.

**Proposed Solution:*

[2017-10-26 07:31] ahmetb opened #6055 "Chinese: don't duplicate manifest files"
I just realized Chinese translation effort is duplicating /docs/tutorials manifests e.g.

- `website/cn/docs/tutorials/stateful-application/cassandra-statefulset.yaml`

Please avoid doing this. We already have duplication of these between here and kubernetes/examples. It's just causing more trouble and not solving anything.

[2017-10-26 13:35] tboemker-bkfs opened #6059 "Issue with k8s.io/docs/concepts/configuration/overview/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
This documentation is contradictory:

The text says to create the service before the replication controller, but the numbered list says to create the replication controller before the service.
**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-10-26 14:00] mooperd commented on #5822
+1

[2017-10-26 14:05] kumarganesh2814 opened #6060 "Issue with k8s.io/docs/getting-started-guides/centos/centos_manual_config/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

HI

Can you Please help me to setup kubernates with Docker version "Version:      17.09.0-ce"

I am finding this very hard to install kubernates itself for CentOS

I tried your proposed solution but its running into error seems like kubernates is not installed properly

yum -y install --enablerepo=virt7-docker-common-release k

[2017-10-26 17:17] Raulkg opened #6062 "Issue with k8s.io/docs/setup/independent/install-kubeadm/"
I couldn't install kubectl on ubuntu 16.04 LTS. It says it oculdn't find the package when i try to do sudo apt-get

**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-10-26 22:13] #6012 closed

[2017-10-27 00:47] rkasahara opened #6068 "Issue with k8s.io/docs/tutorials/kubernetes-basics/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-10-27 07:21] tengqm commented on #6054
This suggestion makes sense to me. @MaheshIBM, do you want to propose a PR or you want someone else to fix it?

[2017-10-27 07:27] MaheshIBM commented on #6054
I will submit a PR, may be end of next week.

[2017-10-27 10:51] dipakmdhrm opened #6073 "Issue with k8s.io/docs/concepts/overview/what-is-kubernetes/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
This documents assumes that the reader have a basic understanding of the concept of containers and some experience with administration/operations work.

**Proposed Solution:**
Add a section that specifies this as prerequisite for reading this page.

**Page to Update:**
https://kubernetes.io/docs/concepts/overview/what-is-kubern

[2017-10-28 05:05] kumarganesh2814 opened #6080 "Issue with kubelet"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
While Running any Container on my Machine I see errors as below

pod_workers.go:182] Error syncing pod 978265f7-b
helpers.go:468] PercpuUsage had 0 cpus, but the
remote_runtime.go:115] StopPodSandbox "94f7ad2e4
kuberuntime_manager.go:780] Failed to stop sandb
kuberuntime_manager.go:580] killPodWithSyncResul
pod_workers.go:182]

[2017-10-28 08:51] kumarganesh2814 commented on #6080
Oct 28 00:48:32 kuber-poc-app3 kubelet: W1028 00:48:32.362598   10444 docker_sandbox.go:343] failed to read pod IP from plugin/docker: NetworkPlugin cni failed on the status hook for pod "nginx-deployment-569477d6d8-n7pls_default": Unexpected command output Device "eth0" does not exist.

Also see this into /var/log/messages

[2017-10-28 08:57] kumarganesh2814 commented on #6080
kubelet: weave-cni: error removing interface "eth0": Link not found

[2017-10-28 14:44] kumarganesh2814 opened #6083 "Issue with k8s.io/docs/tasks/access-application-cluster/web-ui-dashboard/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
Hi

I used below to create a pod for Dashboard UI

kubectl create -f https://raw.githubusercontent.com/kubernetes/dashboard/master/src/deploy/recommended/kubernetes-dashboard.yaml

But UI is not coming up
 Failed as below

-
  4m            4m              1       default-scheduler                       Normal          Schedule

[2017-10-28 18:52] MufeezAhmed opened #6084 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-interactive/"
**This is a...**

- [ ] Feature Request
- [X ] Bug Report

**Problem:**
 what is meant by pods is not explained before starting interactive session
please enhance documentation

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-10-29 17:17] CaptTofu opened #6088 "Issue with k8s.io/docs/getting-started-guides/gce/"
Upon completion of kube-up.sh and running a proxy to the cluster, I do not have sufficient privileges and am not authenticated as expected to kubernetes dash board

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
1. run ./cluster/kube-up.sh
2. run ./platforms/linux/amd64/kubectl proxy --port=8001
3. Access
http://127.0.0.1:8001/api/v1/namespaces/kube-system/services/kubernetes-dashboard/prox

[2017-10-30 02:44] jhcpokemon opened #6089 "Issue with k8s.io/docs/concepts/containers/container-lifecycle-hooks/"
**This is a [Feature Request]**

The Container Lifecycle Hooks blog said that we can use  an HTTP request as a hook handler,but there's no example,I can only find command or shell handler in the sample configuration file for the pod,also no example on other website,so please give me an HTTP handler example if you care to.

[2017-10-30 05:50] kindsof opened #6090 "Issue with k8s.io/docs/setup/"
**This is a...test server **

- [x] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-10-30 06:54] papagalu opened #6091 "Issue with k8s.io/docs/getting-started-guides/ubuntu/local/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
It is required for the user to be part of the lxd group.
Otherwise conjure won't see the localhost cloud.

**Proposed Solution:**
Specify that the user should be part of the lxd group.
or
Add the following line in the install instructions:
``` $ sudo usermod -a -G lxd $(whoami) ```

**Page to Update:**
https://kubernetes.io/doc

[2017-10-30 08:29] roberteikermann opened #6092 "Issue with k8s.io/docs/setup/independent/install-kubeadm/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
Last step  in before you begin section says:
 `set /proc/sys/net/bridge/bridge-nf-call-iptables to 1 `
On my fresh Ubuntu 16.04 (not 16.04.3) the folder /proc/sys/net/bridge was not available, but after installing Docker which is one of the next steps the setting was done automatically. SO maybe the step is too early in "before

[2017-10-30 09:32] MaheshIBM commented on #6054
Opened PR https://github.com/kubernetes/website/pull/6093

[2017-10-30 12:40] arthur0 commented on #5980
Keystone V2 APIs are deprecated and will be removed in the next OpenStack release (Queens) #52563

[2017-10-30 13:24] samynathan17 opened #6095 "Issue with k8s.io/docs/tasks/debug-application-cluster/debug-cluster/"
Hi team,

I have setup kubernetes cluster using kubeadm 1st time configure everything is working fine .After some time I have restart All nodes in AWS instance . again I start kubectl root@ip-172-31-14-96:~# kubectl get nodes commands

**Step : 1**

export kubever=$(kubectl version | base64 | tr -d '\n')
root@ip-172-31-14-96:~# kubectl apply -f "https://cloud.weave.works/k8s/net?k8s-version=$kubev

[2017-10-30 17:35] mattfarina opened #6098 "List the supported versions of Kubernetes"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

The Kubernetes community supports the 3 current minor and previous 2 minor versions of Kubernetes (1.M.P where M is the minor version). This is noted in a design proposal but not elsewhere. This information isn't easily discoverable.

**Proposed Solution:**

List the Kubernetes supported versions where they can be found on the

[2017-10-30 18:42] spikecurtis opened #6099 "k8s.io/docs/concepts/containers/images/ gives poor advice for gcr.io"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
Use of a `.dockercfg` to specify authentication with a private registry does not appear to work with `gcr.io`.  I configured Docker to authenticate with a Google Container Registry, confirmed by pulling images from the CLI as `root`, but kubelet failed to pull images.

What did work was starting kubelet with the `--google-json-

[2017-10-30 18:46] gunboe opened #6100 "Issue with k8s.io/docs/concepts/services-networking/network-policies/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Documentation Issue creating a NetworkPolicy Default Isolation:
[code]
[code]
**Proposed Solution:**
Kubectl expect a Array PodSelector:
[code]

**Page to Update:**
https://kubernetes.io/docs/concepts/services-networking/network-policies/

[code]

[2017-10-30 19:57] parispittman opened #6102 "[WIP] Put contributing guide(s) on kubernetes.io"
This is a...
- [X] Feature Request
- [ ] Bug Report

**Problem:**
All codebase and community contributor guides, documents, and relevant materials are scattered in the [community github repo](https://github.com/kubernetes/community). A recent survey of 110 participants concluded a pattern that contributors (new and others) need a central point where other k8s documents are located for a smoother f

[2017-10-31 01:28] nchibike opened #6104 "no valid OpenPGP data found"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report: BUG REPORT

**Problem:**
While trying to install kubernetes using the provided guide, i ran below command
# curl -s https://packages.cloud.google.com/apt/doc/apt-key.gpg | apt-key add -

It failed with error:
Error gpg: no valid OpenPGP data found

I tried with Ubuntu 14.0.4, 16.0.4 both server and desktop versions and same error

**Propose

[2017-10-31 03:19] tengqm commented on #6100
/assign

[2017-10-31 03:24] tengqm commented on #6091
/assign

[2017-10-31 03:39] tengqm commented on #6083
This doesn't look like a documentation issue. Please consider file an issue in [kubernetes/kubernetes](https://github.com/kubernetes/kubernetes) instead.

[2017-10-31 03:52] tengqm opened #6107 "The link to CPU management policy is incorrectly redirected."
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
The the current link to https://kubernetes.io/docs/tasks/administer-cluster/cpu-management-policies/ is incorrectly redirected to https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/ although there IS a page for that topic.

**Proposed Solution:**
Fix the link.

**Page to Update:**
the redirects.

[2017-10-31 03:52] tengqm commented on #6107
/assign

[2017-10-31 11:09] kumarganesh2814 commented on #6083
Thanks Qiming,

I am able to deploy dashboard now when I am loggig to Dashboard using Token I see errors Like

“configmaps is forbidden: User "system:bootstrap:5a00e7" cannot list configmaps in the namespace "default"

Please advise how to autheticate UI so that I can see all namespace and pods on UI

I have seem few blogs for creating user but that also failed

Best Regards
Ganesh

[2017-10-31 11:10] kumarganesh2814 commented on #6083
We can Close this issue if above ask is not relevent .

Thanks for your Help

Best Regards
Ganesh

[2017-10-31 13:12] tengqm commented on #6083
you are supposed to create cluster role binding for the user. You may need to verify each resource mentioned in the yaml file you are using are successfully created.

[2017-10-31 14:15] Endaris opened #6112 "Issue with k8s.io/docs/tutorials/kubernetes-basics/expose-intro/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The symbol used for pods is inconsistent.
On https://kubernetes.io/docs/tutorials/kubernetes-basics/explore-intro/ in the section "Pods Overview" pods are introduced with a circle that contains containerised applications (cube) and optionally volumes (cylinders).
It is also noted that pods have an own IP-address that is display

[2017-10-31 15:58] Hades32 opened #6113 "Issue with k8s.io/docs/setup/independent/install-kubeadm/"
**This is a...**

- [ ] Feature Request
- [ X ] Bug Report

**Problem:**
Docker 17.03 is *gone* from the Docker Debian repository. Probably because the CE edition is only supported for two version.

**Proposed Solution:**
Update to newest supported version or change text

**Page to Update:**
k8s.io/docs/setup/independent/install-kubeadm/

[2017-10-31 16:00] bweston92 opened #6114 "Issue with k8s.io/docs/tasks/access-application-cluster/web-ui-dashboard/"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**

Unable to go into Kubernetes dashboard without errors as the docs says. The cluster was made in GKE.

![screenshot from 2017-10-31 15-58-39](https://user-images.githubusercontent.com/1764057/32234378-85f4f606-be54-11e7-948b-fe46bab67eae.png)

**Proposed Solution:**

Link in some docs to make default account.

**Page to Update:*

[2017-10-31 17:00] lonial opened #6116 "Issue with k8s.io/docs/admin/authentication/"
Why kubernetes has used term "id token" in its documentation and not use "access token" for accessing Kube API from kubectl?

Access token is to be used for accessing some service like Kubernetes API (resource server in open id terminology). See use of access token as mentioned in Open Id specs: https://openid.net/specs/openid-connect-basic-1_0.html#TokenOK

"The Client can then use the Access Tok

[2017-10-31 18:28] dungeonmaster18 opened #6117 "Issue with k8s.io/docs/getting-started-guides/alternatives/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
The links on the page deprecated alternatives are seem to be broken. There are two broken link
1) using vagrant
2) Advanced: Directly using Kubernetes raw binaries (Linux Only)
They both redirect to 404 page not found.

**Proposed Solution:**
We should update the page with proper links to those documentation.
![screenshot-2017-

[2017-10-31 19:07] zuyu opened #6118 "Issue with k8s.io/docs/tasks/debug-application-cluster/get-shell-running-container/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
When running `ps aux` in the shell, `bash: ps: command not found` error is encountered.

**Proposed Solution:**
Promote to install `procps` before running `ps`:
`root@shell-demo:/# apt-get update && apt-get install procps -y`

**Page to Update:**
https://kubernetes.io/docs/tasks/debug-application-cluster/get-shell-running-conta

[2017-10-31 19:33] #6117 closed

[2017-10-31 19:43] #6107 closed

[2017-10-31 19:45] #6091 closed

[2017-10-31 23:00] zuyu opened #6120 "Inconsistent apiVersion comments in two nginx Deployment yaml files."
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
PR #5920 updated a nginx deployment yaml file w/ 1.8 version, but did not override the comment for the same entry in another file using 1.7 version.

**Proposed Solution:**
Update the file mentioned below, and check if there are other possible inconsistencies in the repo.

**Page to Update:**
https://github.com/kubernetes/websi

[2017-11-01 07:06] satyamsah opened #6125 "not able to create a pods out out the replication controller"
I followed , kube deployment from

https://kubernetes.io/docs/getting-started-guides/centos/centos_manual_config/

 http-rc .yml is replicaiton controller file:
apiVersion: v1

kind: ReplicationController

metadata:

  name: http-rc

spec:

  replicas: 7

  selector:

    app: hello-world

  template:

    metadata:

      labels:

	app: hello-world

    spec:

      containers:

      - name: hel

[2017-11-01 07:51] tengqm commented on #6125
several hints FYI:

- to embed a yaml (or other source code) in a message on github, use the code format for people to better understand what you are using. E.g.

[code]

- This is obviously not a documentation issue. There could be a thousand reasons which fail your command. If you are not sure it is a bug, go Google and try your luck. If you are sure it is a bug, raise an issue to the github.com

[2017-11-01 10:36] cben opened #6128 "Issue with deletionTimestamp in https://kubernetes.io/docs/api-reference/v1.8/#objectmeta-v1-meta"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
ObjectMeta.deletionTimestamp documentation in api docs seems to predate `finalizers` field and the [cascading deletion in progress concept](https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/).
It says:

IIUC this is no longer true.  It does point to https://github.com/kubernetes/community/blob/master/

[2017-11-01 12:00] wackxu commented on #6128
I can help fix it

[2017-11-01 14:46] xiao-fan opened #6129 "Issue with k8s.io/docs/setup/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-11-01 14:58] aarveekea opened #6131 "Issue with k8s.io/docs/admin/cluster-large/"
Elastic and Kibana links are broken

- [ ] Feature Request
- [x] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-11-01 17:06] #6100 closed

[2017-11-01 18:06] zacharysarah opened #6134 "Tables in K8s docs use GitHub-flavored Markdown"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:** It's not clear in our [contribution guidelines](https://kubernetes.io/docs/home/contribute/style-guide/) that K8s docs use [GitHub-flavored Markdown](https://github.github.com/gfm/). A user encountered difficulty with [table formatting](https://kubernetes.slack.com/archives/C1J0BPD2M/p1509479186000460).

**Proposed Solution:**

[2017-11-01 20:44] #5872 closed

[2017-11-01 20:55] #5283 closed

[2017-11-02 00:44] zhangxiaoyu-zidif commented on #6129
what's your intend? just test? @xiao-fan

[2017-11-02 01:27] zhangxiaoyu-zidif opened #6141 "Issue with k8s.io/docs/concepts/storage/volumes/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
the example does not work.
[code]
when i create it. my terminal show:

[code]
**Proposed Solution:**
fix the example.

**Page to Update:**
http://kubernetes.io/...

[2017-11-02 01:36] bradtopol commented on #6134
@zacharysarah I can handle this one if you like.

[2017-11-02 02:22] kairen commented on #6114
In Kubernetes dashboard 1.7.x later, you need to provide  a `token` or `kubeconfig` to sign-in.

[2017-11-02 05:02] kumarganesh2814 commented on #6083
@tengqm  Thanks Qiming,

Strangely running same yaml file on worker node did the job as you said it had role binding for user and works fine

Clsoing this now thanks again for your userful inputs

Best Regards
Ganesh

[2017-11-02 05:02] #6083 closed

[2017-11-02 05:05] kumarganesh2814 commented on #6080
It worked when both kubelet and docker forced to use same cgroup Issue #54910

[2017-11-02 05:05] #6080 closed

[2017-11-02 05:08] kumarganesh2814 commented on #6060
Installed kubeadm

 setenforce 0
sed -i --follow-symlinks 's/SELINUX=enforcing/SELINUX=disabled/g' /etc/sysconfig/selinux
firewall-cmd --permanent --add-port=10250/tcp
firewall-cmd --permanent --add-port=10255/tcp
firewall-cmd --permanent --add-port=30000-32767/tcp
firewall-cmd --permanent --add-port=6783/tcp
firewall-cmd  --reload
echo '1' > /proc/sys/net/bridge/bridge-nf-call-iptables

Installed

[2017-11-02 05:08] #6060 closed

[2017-11-02 06:35] zacharysarah commented on #6134
@bradtopol Awesome. Go for it!

[2017-11-02 06:59] bweston92 commented on #6114
@kairen where is the documentation for that? Following that page I didn't know I had to do that unless I missed something.

[2017-11-02 09:02] cp10000 opened #6149 "Issue with k8s.io/docs/tutorials/kubernetes-basics/"
**This is a...**

- [X] Feature Request
- [ ] Bug Report

**Problem:**
One of the biggest challenge for me to learn and Kubernetes  is to learn all the different components like ETC, Flannel,...etc.

**Proposed Solution:**
I propose to have a dictionary of the most popular Kubernetes components right on the Kubernetes website.    This way we can all work from a single dictionary and become profici

[2017-11-02 09:20] tengqm commented on #6149
I'm closing this issue because the dictionary can be found at https://kubernetes.io/docs/reference/glossary/.
If that glossary is not what you wanted, feel free to reopen this.

[2017-11-02 09:20] #6149 closed

[2017-11-02 11:03] roffe commented on #6141
Maybe the solution is in https://github.com/kubernetes/kubernetes/issues/44339

[2017-11-02 11:04] roffe commented on #6141
xiangpengzhao commented on 17 Apr
In fact, setting nodeAffinity via annotations is still supported currently. (#41617) However, it's turned off by default. If you want it be turned on, you can add flag --feature-gates AffinityInAnnotations=true when starting kube-apiserver and kube-scheduler. But I think pod.spec.affinity is a more recommended way :)
cc @davidopp @timothysc

[2017-11-02 11:06] zhangxiaoyu-zidif commented on #6141
OK, thanks. Let me have a try ：）

[2017-11-02 11:16] zhangxiaoyu-zidif commented on #6141
I add "--feature-gates=PersistentLocalVolumes=true" for kubelet and kube-apiserver, it works.
Thanks @roffe

[2017-11-02 11:59] roffe commented on #6141
@zhangxiaoyu-zidif sorry forgot the PersistentLocalVolumes.

But good it solved your problems! 👍

[2017-11-02 13:20] msau42 commented on #6141
You do not need --feature-gates AffinityInAnnotations=true for PV node affinity.  That flag is only for Pod NodeAffinity.

You also need to add the the PersistentLocalVolumes feature gate to to kube-scheduler.

@chenopis what's our policy on documenting which alpha feature gates need to be enabled and where?

[2017-11-02 13:34] zhangxiaoyu-zidif commented on #6141
@msau42 Thanks!

[2017-11-02 13:49] tengqm commented on #6141
@msau42 It is a good question. With alpha features come and go in each release, it is hard to track and document each feature regarding where it should be enabled. Even there is such a table or matrix, I would suspect that no user will reference it. So I would suggest our users to enable a feature across all master components, as a realistic way to make sure it is fully applied.

With that said, I

[2017-11-02 14:35] dungeonmaster18 commented on #6131
/assign

[2017-11-02 16:17] #6131 closed

[2017-11-02 16:23] wallrj opened #6156 "Missing -extensions v3_ext -extfile csr.conf arguments in /docs/concepts/cluster-administration/certificates/#openssl"
- [ ] Bug Report

**Problem:**

The instructions for generating a new server.crt are missing some command line arguments.
`-extensions v3_ext -extfile csr.conf` are required, otherwise I get a certificate without any subjectAltNames and `kubectl` complains:

I found the fix via this comment from @ahuffman: https://github.com/kubernetes/kubernetes/issues/27442#issuecomment-241894715

May also be re

[2017-11-02 16:39] wallrj commented on #6156
See
 * https://coreos.com/kubernetes/docs/1.6.1/openssl.html
 * https://github.com/coreos/coreos-kubernetes/blob/master/Documentation/openssl.md#generate-the-api-server-keypair

For correct instructions.

[2017-11-02 17:41] serewicz opened #6157 "Issue with k8s.io/docs/tasks/administer-cluster/safely-drain-node/"
**This is a...**

- [ ] Feature Request
- [X ] Bug Report

**Problem:**
The drain does not safely "evict all of your pods from a node" if there is local storage. This is not mentioned in the other documentation mentioned here https://kubernetes.io/docs/user-guide/kubectl/v1.8/#drain and here
https://kubernetes.io/images/docs/kubectl_drain.svg

The nodes show this:
$ kubectl get no
NAME

[2017-11-02 18:22] #6118 closed

[2017-11-02 18:36] guineveresaenger opened #6158 "Website search function is broken"
**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**
The website search function does not return results. When I search for "Pod" the following happens:
![screen shot 2017-11-02 at 11 31 33 am](https://user-images.githubusercontent.com/13116240/32343731-bf43b4ce-bfc1-11e7-91c2-a322a19309d6.png)

**Proposed Solution:**
Fix the search function to find and/or display results

**Pag

[2017-11-02 19:25] zacharysarah commented on #6158
@guineveresaenger 👋 Thanks for opening this. We're aware of it and looking for what went wrong.

[2017-11-02 21:14] abiogenesis-now commented on #6158
Fixed, this was caused by a bad PR on my part. I reverted it, search should be working again.

[2017-11-02 21:14] #6158 closed

[2017-11-02 22:45] cmluciano opened #6164 "Document all NetworkPolicy defaults"
**This is a...**
- [X ] Bug Report

**Problem:**
We should document all possible combinations based on the relevant comments in the NetworkPolicy Spec. We do not have explicit examples of things like "a policy that applies to all namespaces" and "a policy that allows all pods of type X to reach all pods of type Y in a given namespace".

**Proposed Solution:**
Add more examples that mirror some of

[2017-11-02 22:46] cmluciano commented on #6164
/sig network

[2017-11-03 00:13] tkellen opened #6165 "min-kubernetes-server-version not defined"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
These pages:
https://github.com/kubernetes/website/blob/master/docs/user-guide/walkthrough/index.md
https://github.com/kubernetes/website/blob/master/docs/user-guide/walkthrough/k8s201.md

...rely on this "partial":
https://raw.githubusercontent.com/kubernetes/website/master/_includes/task-tutorial-prereqs.md

...which renders w

[2017-11-03 01:16] cloudresourcemanagergoogleapis opened #6166 "https://github.com/kubernetes/website.wiki.git"
**This is a...**

- [x] Feature Request
- [x] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-11-03 01:34] tengqm commented on #6156
Thanks for reporting this. Fix proposed.

[2017-11-03 01:36] tengqm commented on #6166
looks like a spam.

[2017-11-03 01:36] #6166 closed

[2017-11-03 01:37] #6129 closed

[2017-11-03 07:18] Bregor commented on #6158
Still broken :(

![search results - kubernetes 2017-11-03 10-17-19](https://user-images.githubusercontent.com/745/32363400-467ab6c2-c080-11e7-9cb7-209c74bb8d44.png)

[2017-11-03 08:41] ciufudean opened #6171 "Issue with k8s.io/editdocs/"
**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**
Incomplete documentation

**Proposed Solution:**
Fix it

**Page to Update:**
https://kubernetes.io/docs/tasks/debug-application-cluster/get-shell-running-container/

this is the line that needs completion: "Your Kubernetes server must be version or later."

[2017-11-03 12:42] #6156 closed

[2017-11-03 13:54] tengqm commented on #6171
Looks like a dup of #6165 ?

[2017-11-03 15:46] bradtopol opened #6174 "Add On-Prem Turnkey Solution category to Picking the Right Solution page"
**This is a...**

- [ X] Feature Request
- [ ] Bug Report

**Problem:**
Some Kubernetes platforms are best described as being an On-Prem Turnkey Solution.  This  category is not properly mentioned or described on the Picking the Right Solution page ( https://kubernetes.io/docs/setup/pick-right-solution/)

**Proposed Solution:**
Add a new section called On-Prem Turn-key Cloud Solutions right below

[2017-11-03 16:02] bradtopol commented on #6174
@nique905 ^

[2017-11-03 18:40] steveperry-53 commented on #6171
Closing as duplicate of #6165.

[2017-11-03 18:40] #6171 closed

[2017-11-03 19:16] mattmoyer opened #6178 "Images broken on recent Grafeas post"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Images on http://blog.kubernetes.io/2017/11/securing-software-supply-chain-grafeas.html are broken. It looks like they are referencing private Google docs files.

**Proposed Solution:**
Make the Google docs files public or copy the images somewhere else.

**Page to Update:**
http://blog.kubernetes.io/2017/11/securing-software-s

[2017-11-03 19:17] zacharysarah commented on #6158
@Bregor Function looks normal to me. Refresh and try again?

[2017-11-03 19:34] kbarnard10 commented on #6178
This is now resolved.

[2017-11-03 19:42] mattmoyer commented on #6178
Thanks @kbarnard10!

[2017-11-03 19:42] #6178 closed

[2017-11-03 19:43] guineveresaenger commented on #6158
Can confirm that it works for me. Thank you!

[2017-11-03 20:10] #6165 closed

[2017-11-03 20:15] jadair-cloudera opened #6179 "Issue with k8s.io/docs/tutorials/kubernetes-basics/cluster-interactive/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
typo in tutorial docs (Module 1, step 3 of 3)

**Proposed Solution:**
Change "it’s status" to "its status".

**Page to Update:**
http://kubernetes.io/...

[2017-11-04 15:11] scfox commented on #3921
I hit this same issue. It looks like a step to create the SSH key file is missing.

[2017-11-04 15:55] scfox commented on #3921
This was my workaround if any others hit this:
https://help.github.com/articles/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent/

[2017-11-04 16:41] jonsinfinity opened #6183 "Issue with k8s.io/docs/getting-started-guides/azure/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
The link to the Azure Container service is pointing at old documentation as noted on microsofts website. Here is the new documentation link: https://docs.microsoft.com/en-us/azure/aks/intro-kubernetes

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-11-04 19:15] tkellen opened #6185 "tutorial example commands frequently reference files in website repository"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**
Many of the tutorial pages reference files that are in the website repository but there is no direct call-out that I have seen to actually clone the repository so those files are available.

**Proposed Solution:**
Any time a file from the website repository is referenced in an example, include confirming a local checkout of the

[2017-11-04 22:26] Bregor commented on #6158
Yep, works now.
Sorry for buzzing

[2017-11-05 00:01] futureperfect opened #6188 "Add deletion of deployment to minikube Quickstart console output"
**This is a...**

- [X] Feature Request
- [ ] Bug Report

**Problem:**

Given that some fraction of the user base for minikube is users new to Kubernetes using it as a vehicle for learning, I think it would be valuable to augment the minikube Quickstart documentation to include removal of the `hello-minikube` deployment.

That way someone testing out their deployment but still learning the toolset

[2017-11-05 01:55] #6188 closed

[2017-11-05 03:07] tengqm commented on #6179
I've examined the source. The typo came from katacoda so an issue should be reported there.

[2017-11-05 03:07] #6179 closed

[2017-11-05 05:13] dungeonmaster18 commented on #6183
Hey, anyone from members group please close this issue. This issue has been solved in pull #6184

[2017-11-05 05:26] #6183 closed

[2017-11-05 12:14] elharo opened #6193 "kubectl cluster-info never fails, even when no host is running"
- [ ] Feature Request
- [ X] Bug Report

**Problem:**

The docs say

Check that kubectl is properly configured by getting the cluster state:
kubectl cluster-info
If you see a URL response, kubectl is correctly configured to access your cluster.
If you see a message similar to the following, kubectl is not correctly configured:
The connection to the server <server-name:port> was refused - did you s

[2017-11-05 15:21] dungeonmaster18 commented on #6193
Yes I was also able produce this error as well. I guess we need to update the document. I can take this but before jumping in I need approval from one of the members here.

[2017-11-05 15:29] dungeonmaster18 commented on #6134
Hey @bradtopol are you still working on this? If not can I take this?

[2017-11-05 22:46] MOZGIII opened #6197 "Issue with k8s.io/docs/concepts/abstractions/pod-termination/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
This doc article (k8s.io/docs/concepts/abstractions/pod-termination/) is not listed in menu.

**Proposed Solution:**
Fix the menu.

**Page to Update:**
All pages what render the menu. Or just the menu partial if there is one.

[2017-11-06 01:28] tengqm commented on #6193
@dungeonmaster18 If you believe this is an issue, feel free to submit a PR. You do not need an approval to help improve the docs.

[2017-11-06 06:34] tengqm opened #6202 "EventRateLimit admission controller not documented"
**This is a...**

- [X ] Feature Request
- [ ] Bug Report

**Problem:**
The EventRateLimit admission controller needs documentation.

**Proposed Solution:**
Document it, of course.

**Page to Update:**
http://kubernetes.io/...

[2017-11-06 08:54] tengqm opened #6205 "AllowedHostPaths PSP policy not documented."
**This is a...**

- [X ] Feature Request
- [ ] Bug Report

**Problem:**
The `AllowedHostPaths` policy for PSP is not documented.
Ref: kubernetes/kubernetes#50212

**Proposed Solution:**
Docuement it.

**Page to Update:**
http://kubernetes.io/...

[2017-11-06 10:44] estechnical opened #6207 "Issue with k8s.io/docs/tasks/tls/managing-tls-in-a-cluster/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
There is no explanation of what CFSSL is!

**Proposed Solution:**
Add this link https://blog.cloudflare.com/introducing-cfssl/ or a more suitable project homepage if such a thing exists!

**Page to Update:**
http://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/

[2017-11-06 10:54] estechnical opened #6208 "Issue with k8s.io/docs/tasks/tls/managing-tls-in-a-cluster/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
I would like there to be more explanation of the following points:
- Trusting TLS outside of the cluster eg:
  - is it advisable/recommended to do this?
  - how do you obtain the chain file to provide to private network clients who connect to services using SSL/TLS?

The docs leave a feeling of "now what?" for someone who is cl

[2017-11-06 17:20] jadair-cloudera commented on #6179
I reported this issue by clicking the issue reporting button on the page.
It's not worth my time to go try to navigate somebody else's web site to
correct a typo, but you could report an issue to them.

On Sat, Nov 4, 2017 at 10:07 PM, Qiming <notifications@github.com> wrote:

[2017-11-06 18:20] zacharysarah commented on #6062
@Raulkg :wave: This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

[2017-11-06 18:20] #6062 closed

[2017-11-06 18:20] #6068 closed

[2017-11-06 18:21] zacharysarah commented on #6073
@dipakmdhrm 👋 That's great feedback, thanks!

[2017-11-06 18:24] zacharysarah commented on #5980
Closed by #6047

[2017-11-06 18:24] #5980 closed

[2017-11-06 18:25] zacharysarah commented on #6054
Closed by #6093

[2017-11-06 18:25] #6054 closed

[2017-11-06 18:32] zacharysarah commented on #6084
@heckj 👋 FYI

[2017-11-06 18:36] zacharysarah commented on #6088
@CaptTofu :wave: This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

If after seeking support you discover an issue with d

[2017-11-06 18:36] #6088 closed

[2017-11-06 18:37] zacharysarah commented on #6090
@kindsof

[2017-11-06 18:37] #6090 closed

[2017-11-06 18:38] zacharysarah commented on #6095
@samynathan17 :wave: This issue sounds more like a request for support and less like an issue specifically for docs. You can bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

[2017-11-06 18:38] #6095 closed

[2017-11-06 18:39] zacharysarah commented on #6098
@mattfarina 👋 Thanks, good suggestion.

[2017-11-06 18:55] zacharysarah commented on #6104
@nchibike :wave: This issue sounds more like a request for support and less like an issue specifically for docs. You can bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

[2017-11-06 18:55] #6104 closed

[2017-11-06 18:59] zacharysarah commented on #6112
@Endaris 👋 Thanks for this issue. It does look like the legend and usage are inconsistent across pages.

[2017-11-06 19:06] zacharysarah commented on #6120
Closed by #6187.

[2017-11-06 19:06] #6120 closed

[2017-11-06 22:46] mistertown opened #6211 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-intro/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
'Kubernetes' is spelled incorrectly (as 'Kuberneters') on the cluster diagram.

**Proposed Solution:**
Update the SVG to reflect the correct spelling

**Page to Update:**
https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-intro/

[2017-11-07 00:50] tengqm commented on #6095
looks like a config problem of weave net plugin. you can also try #sig-network slack channel.

[2017-11-07 00:52] tengqm commented on #6179
@jadair-cloudera Thanks for letting us know.

[2017-11-07 03:01] liuyuyao888 opened #6213 "Issue with k8s.io/docs/setup/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-11-07 03:09] #6213 closed

[2017-11-07 07:23] wackxu commented on #6037
If no one is working , I can help do it.

[2017-11-07 07:49] chenopis commented on #6037
@wackxu Thanks! @steveperry-53 is leading this, so please coordinate with him.

[2017-11-07 07:58] wackxu commented on #6037
@chenopis Thanks

[2017-11-07 08:06] rameshk82 opened #6216 "Issue with k8s.io/docs/setup/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-11-07 08:22] preethbshetty opened #6217 "Issue with k8s.io/docs/tutorials/kubernetes-basics/cluster-interactive/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-11-07 08:49] #5933 closed

[2017-11-07 09:56] gtoff opened #6218 "Issue with k8s.io/docs/getting-started-guides/ubuntu/installation/"
**This is a...**

- [X] Feature Request
- [ ] Bug Report

**Problem:**

Missing installation guide for OpenStack, while from main page Juju seems the only non-deprecated install tool for k8s 1.8 on OpenStack

**Proposed Solution:**

Add non-trivial steps required for configuration on OpenStack, e.g., how to deal with floating IPs for controller and all other machines that require it. How to deal w

[2017-11-07 09:57] tengqm commented on #6141
There are heroes working on this now: kubernetes/kubernetes#55067

[2017-11-07 10:51] samynathan17 commented on #6095
Hi,
Thanks for your replies .I have solve the issue .just I restart all the AWS kubernetes instance .now its working fine.

issue: weave net CNI not syn or connect to kube-apiserver

Thanks ..

[2017-11-07 11:06] samynathan17 commented on #6095
Hi Team ,
1.Next I have trying with coreos with kubernetes cluster setup  without using Tectonic how to implement & clustering in AWS?

2. how to coreos kubernetes cluster setup in local Mac laptops and AWS ?
e.g.:
I have 5Mac laptops .now consider 1 AWS instance as kubernetes master node. after remaing 5 Mac laptop kubernetes worker node.

[2017-11-07 11:24] samynathan17 commented on #6092
1.kubeadm using cluster steup:

I has been tried to setup kubernetes on ubuntu 16.04 with kubeadm

Steps to setup:

* Install a secure Kubernetes cluster on your machines
* Install a pod network on the cluster so that application components (pods) can talk to each other
* Install a sample  application (custom app) on the cluster

Prerequisites:

One or more machines running Ubuntu 16.04 or CentOS

[2017-11-07 18:43] chuckha commented on #4480
The Network Policies page is quite informative. I like the overall layout. I see [another issue](https://github.com/kubernetes/website/issues/6164) for creating more examples which would be great, but the main content is mostly very clear. I think there are a few spots that could use an update after reading through it. These are just suggestions, feel free to ignore!

cc @Bradamant3

* The second

[2017-11-07 19:33] heidecke commented on #4476
# [WIP] Checklist

## Sub Topic Content

Consolidate content to existing API documentation.

- [ ] Federated ConfigMap
- [ ] Federated DaemonSet
- [ ] Federated Deployment
- [ ] Federated Events
- [ ] Federated Namespaces
- [ ] Federated ReplicaSets
- [ ] Federated Secrets

## Cleanup

- [ ] Move images to correct location
- [ ] Add redirects for each moved/deprecated page
- [ ] Remove deprecated

[2017-11-07 19:53] zacharysarah opened #6219 "[WIP] Kubecon 2017 Doc Sprints"
# Kubernetes Doc Sprint Guide

Where: [Kubecon 2017](http://events.linuxfoundation.org/events/kubecon-and-cloudnativecon-north-america), Austin, TX, USA
When: Tuesday, 5 Dec 2017, 1-5pm CST

Room | Sprint subject | Description
---------|----------|-----
Room 1 | User journeys | Improve content that supports better user journeys (experienced K8s users)
Room 2 | Glossary | Add glossary terms (novice

[2017-11-07 20:44] danwinship opened #6222 "strategic merge patch docs are misleading/incomplete"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
In `docs/tasks/run-application/update-api-object-kubectl-patch.md`, section "Notes on the strategic merge patch", it states that

that you want to add to the list. The existing list elements remain, and the new elements
are merged with the existing elements.

But that's not accurate; *some* fields in *some* objects react that w

[2017-11-07 21:37] serewicz opened #6223 "Issue with k8s.io/docs/tasks/tls/managing-tls-in-a-cluster/"
**This is a...**

- [ ] Feature Request
- [ X] Bug Report

**Problem:**
1) Step zero points to a package directory filled with various packages, but does not declare which to install. Can these same steps be done via **openssl**, which often is installed already? Perhaps it should use a more common tool to generate a .csr file.

2)The page does not represent what I see when following the steps.
St

[2017-11-07 22:10] zacharysarah commented on #6128
Closed by https://github.com/kubernetes/kubernetes/pull/54936

[2017-11-07 22:10] #6128 closed

[2017-11-07 22:11] zacharysarah commented on #6125
@satyamsah :wave: This issue sounds more like a request for support and less like an issue specifically for docs. You can bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

[2017-11-07 22:11] #6125 closed

[2017-11-07 22:34] zacharysarah commented on #6193
@dungeonmaster18 Please do feel free to open a PR against this issue&mdash;no permission required.

[2017-11-08 00:29] #6197 closed

[2017-11-08 01:05] #6205 closed

[2017-11-08 11:12] stewart-yu commented on #6216
may be you lose some information? @rameshk82

[2017-11-08 14:17] weewey opened #6235 "Issue with k8s.io/docs/concepts/services-networking/service/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
In the _service type: LoadBalancer_ example configuration, having the field **NodePort** wouldn't work.

**Proposed Solution:**
To remove the NodePort configuration in the example config.

**Page to Update:**
https://kubernetes.io/docs/concepts/services-networking/service/

[2017-11-08 16:38] dungeonmaster18 commented on #6193
Please close this issue someone. It has been fixed and merged.

[2017-11-08 16:54] #6193 closed

[2017-11-08 17:24] dungeonmaster18 commented on #6207
Someone please close this issue. It has been fixed and merged

[2017-11-08 18:24] estechnical commented on #6207
Having done a lot more work on CFSSL since opening this ticket, I'm not sure how much help that page is. At least it serves as an introduction, but perhaps a better link would be https://github.com/cloudflare/cfssl as this is likely to be kept up to date ;)

Thanks!

[2017-11-08 19:56] castrojo commented on #5953
Hi Brad, some of us in SIG Contrib-Ex have been working on a contributor guide here: https://docs.google.com/document/d/1XVm77kY6iIJ4iKNv0W6rmIN22PErcvEameDxlpdQVBc/edit

You're more than welcome to help out, feel free to contact me directly, cheers!

[2017-11-08 20:34] Bradamant3 commented on #4480
See also [Declare Network Policy](https://kubernetes.io/docs/tasks/administer-cluster/declare-network-policy/)

[2017-11-08 22:47] mcnomad81 opened #6247 "Issue with k8s.io/docs/tasks/access-kubernetes-api/http-proxy-access-api/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-11-09 01:15] #6207 closed

[2017-11-09 05:32] samynathan17 opened #6249 "how to create kubernetes cluster in AWS and local mac laptops"
Hi Team ,
1. I have trying  kubernetes coreos cluster setup without using Tectonic how to implement & clustering in AWS?

2.  how to coreos kubernetes cluster setup in local Mac laptops and AWS ?
    e.g.:
      I have 5Mac laptops .now consider 1 AWS instance as kubernetes master node. after remaing         5 Mac laptop kubernetes worker node.

[2017-11-09 06:55] ahmetb opened #6250 "Unclear whether Pod Presets can be applied to init containers"
This was asked in https://groups.google.com/forum/#!topic/kubernetes-users/qBmCiLE61So.

It would be good if concept page for Pod Preset explained the limitations.

**Page to Update:** https://kubernetes.io/docs/concepts/workloads/pods/podpreset/

[2017-11-09 11:45] #6247 closed

[2017-11-09 11:46] #6216 closed

[2017-11-09 13:35] pjfanning opened #6253 "Support liveness and readiness probe with HTTP check that checks response text"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
This is equivalent to the HAProxy `http-check expect status 200 string READY` (https://www.haproxy.com/documentation/aloha/7-0/haproxy/healthchecks/)
Based http://kubernetes.io/docs/user-guide/liveness/ it appears that the healthz checks only check the HTTP response code.
I'm working with a health check that is a company standa

[2017-11-09 14:21] tengqm commented on #6253
This sounds more like a kubernetes feature request than a documentation issue. Please try open an issue in the kubernetes/kubernetes project.
If you want more options for health checking, you may want to check this code: https://github.com/kubernetes/kubernetes/blob/master/pkg/probe/http/http.go#L95

As far as the documentation is concerned, this issue can be closed.

[2017-11-09 14:21] #6253 closed

[2017-11-09 18:26] cscheib opened #6258 "Issue with k8s.io/docs/getting-started-guides/gce/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
```export KUBERNETES_PROVDER=gce``` is a pre-requisite for making curl | bash or wget | bash work to automatically create a cluster

**Proposed Solution:**
add ```export KUBERNETES_PROVDER=gce``` to either pre-requisites, or starting a cluster sections of the guide

**Page to Update:**
https://kubernetes.io/docs/getting-started

[2017-11-09 18:31] cscheib commented on #6258
nevermind, gce is default.  my bad.  however, my cluster creation didn't happen automatically, I'll troubleshoot that and submit a separate issue.

[2017-11-09 18:31] #6258 closed

[2017-11-09 20:15] #6211 closed

[2017-11-09 20:26] zacharysarah commented on #6134
Closed by #6229

[2017-11-09 20:26] #6134 closed

[2017-11-09 22:03] steveperry-53 commented on #6037
@wackxu Yes, we would be glad for your help.

[2017-11-10 02:35] wackxu commented on #6037
@steveperry-53 Very glad to do this. I have full time to do. And what is your progress now?

[2017-11-10 02:36] #6235 closed

[2017-11-10 15:07] sathieu opened #6266 "Issue with k8s.io/docs/setup/independent/create-cluster-kubeadm/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
No Debian (stretch or jessie) packages.

**Proposed Solution:**

Have those packages, probably very similar to ubuntu packages.

**Page to Update:**
http://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/ ...

[2017-11-10 15:15] sathieu commented on #6266
According to https://github.com/kubernetes/website/pull/5988#pullrequestreview-72673763 we need to use the -xenial repo.

[2017-11-10 16:10] megastallman opened #6267 "Issue with k8s.io/docs/admin/service-accounts-admin/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
There is no "User" description, just the serviceaccounts. If I create a "ClusterRoleBinding" with a "User" subject, it gets created, but I don't know how to retrieve its credentials.

**Proposed Solution:**
Please implement and describe users creation and their kubeconfig retrieval.

**Page to Update:**
http://kubernetes.io/...

[2017-11-10 23:26] garyschulteog opened #6271 "Issue with k8s.io/docs/concepts/workloads/controllers/cron-jobs/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Documentation indicates that one-time scheduled executions should be feasible with k8s cron-jobs.  Looking at the API and the controller code, it appears that only repeating jobs may be scheduled via k8s cron-jobs

**Proposed Solution:**
Alter docs to reflect that cron-jobs by definition must be recurring.  (or better, add a ye

[2017-11-11 06:32] bodyno opened #6273 "Issue with k8s.io/docs/tasks/run-application/run-replicated-stateful-application/"
![image](https://user-images.githubusercontent.com/5443058/32687016-25f31b10-c6ed-11e7-84fc-5fb5a1950b52.png)

[2017-11-11 08:12] tengqm commented on #6273
need more details for diagnosis. looks like not a documentation problem.

[2017-11-11 09:02] bodyno commented on #6273
Is it because I use kubeadm?

[2017-11-11 09:33] heidecke commented on #2666
This document has been deprecated and the new content (https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/) does not contain this reported issue.

Closing.

[2017-11-11 09:33] #2666 closed

[2017-11-11 10:01] tengqm commented on #6273
@bodyno No. It is because a screenshot is not providing enough information for others to help. You will need to provide more information by examine the output from `kubectl describe` or `kubectl logs`.

[2017-11-11 15:26] ddefrancesco opened #6275 "Issue with k8s.io/docs/tutorials/kubernetes-basics/update-interactive/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
$NODE_PORT not defined anywhere.
curl http://host01:NODE_PORT terminating with 'cannot connect to port 80' error

**Proposed Solution:**
embed actual pod port in interactive console

**Page to Update:**
http://kubernetes.io/...

[2017-11-11 21:17] maheshacharya opened #6276 "Unsupported load balancer affinity: ClientIP"
I am trying to create a Load Balancer Service (config below)
[code]

When I run the following command, I see an error message "Unsupported load balancer affinity: ClientIP" full description copied below.

`kubectl describe svc hippo-web-service `

[code]

I am not sure how to get around this issue, I do need session affinity for the LB.

[2017-11-12 00:14] adrianludwin opened #6278 "Request for examples in documentation for Custom Resources"
**This is a...**

- [X] Feature Request
- [ ] Bug Report

**Problem:**
The description of custom resources is very abstract. Someone from the K8S team pointed me towards CRDs as a possible way to describe nodes with custom hardware (eg "this node has a GPU, and that node has an FPGA accelerator"), but the description of CRs and controllers is so high-level that it's difficult for me to understand

[2017-11-12 03:17] bodyno commented on #6273
Ok. I got. Close now. Next Time When I encounter again. I will do it like you said.

[2017-11-12 03:17] #6273 closed

[2017-11-12 03:25] HariBawa opened #6279 "Issue with k8s.io/docs/getting-started-guides/ubuntu/local/"
**This is a...**

- [*] Feature Request
- [ ] Bug Report

**Problem:**
No information on how consoles can be accessed. Commands at  the bottom are not working and dashboard access through LXC machines requires user name and password which is not disclosed.

[code]

**Proposed Solution:**
I don't think installation will make any sense if there is no documentation on how to consume a product effecti

[2017-11-12 03:34] HariBawa commented on #6279
Never mind ... founds couple of references on other sites.

[2017-11-12 03:34] #6279 closed

[2017-11-12 12:08] #6275 closed

[2017-11-12 19:36] heckj commented on #6084
Hi @MufeezAhmed, sorry for the delay in a response. We've been running with the expectation that you'd likely have already seen the "concepts" section of the docs before hitting into the tutorials directly.

Could you tell the me the page that you were on when you first saw this reference? I was thinking we might annotate some of the pages (at least the ones that are hosted at k8s.io with glossary

[2017-11-12 19:38] heckj commented on #6217
hi @preethbshetty  - this looks like you've opened a bug on accident. I'm going to close this, but if there's an issue you'd like to bring up related to the documentation, please re-open and provide the details

[2017-11-12 19:38] #6217 closed

[2017-11-12 19:41] heckj commented on #6249
This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes) for answers  to similar questions.

You can also open issues for Kubernetes fun

[2017-11-12 19:41] #6249 closed

[2017-11-12 20:08] cloudresourcemanagergoogleapis opened #6283 "remind [@someone or #channel] [what] [when]"
#6191 #

**This is a...**

- [x] Feature Request
- [x] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-11-13 02:07] tengqm commented on #6283
looks like this is an issue opened by accident. closing.

[2017-11-13 02:07] #6283 closed

[2017-11-13 03:47] vamsi248 opened #6289 "Issue with nginx-ingress-controller-65455699d5-7whpd 0/1 CrashLoopBackOff"
Hello I have an issue with nginx-ingress-controller is getting crash-loop-backoff...
I have used below commands to install this..
 from below link  have used to create my ingress-controller,,....
https://github.com/kubernetes/ingress-nginx/blob/master/deploy/README.md#mandatory-commands

curl https://raw.githubusercontent.com/kubernetes/ingress-nginx/master/deploy/namespace.yaml \
    | kubectl ap

[2017-11-13 04:54] tengqm commented on #6289
If your service is not running, check this for debugging : https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/

If service is running but you pods seems not, check this for debugging:

- https://kubernetes.io/docs/tasks/debug-application-cluster/debug-application-introspection/
- https://kubernetes.io/docs/tasks/debug-application-cluster/debug-pod-replication-controller/
- ht

[2017-11-13 04:54] #6289 closed

[2017-11-13 05:00] vamsi248 commented on #6289
I tried but it doesn't work...

I will show my ingress-controller yaml file can u check and please tell me error if u fin
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "7"
  creationTimestamp: 2017-11-11T23:29:01Z
  generation: 7
  labels:
    app: ingress-nginx
  name: nginx-ingress-controller
  namespace: ingress-nginx
  resourceV

[2017-11-13 05:06] vamsi248 opened #6290 "nginx-ingress-controller-65455699d5-7whpd 0/1 CrashLoopBackOff please help me to fix this"
Hello I have an issue with nginx-ingress-controller is getting crash-loop-backoff...
 I have used below commands to install this..
 from below link have used to create my ingress-controller,,....
https://github.com/kubernetes/ingress-nginx/blob/master/deploy/README.md#mandatory-commands

curl https://raw.githubusercontent.com/kubernetes/ingress-nginx/master/deploy/namespace.yaml
 | kubectl apply -

[2017-11-13 05:48] tengqm commented on #6289
Still, try the links I provided you. If there are things that don't work, go stackoverflow.com of some other sites for a help. You question and the answers will help others. If you believe there is a bug, file one on kubernetes/kubernetes project.

[2017-11-13 07:03] MufeezAhmed commented on #6084
glossary entries so we can at least get a link back to concept/reference docs , would be a good change

From: Joseph Heck [mailto:notifications@github.com]
Sent: 13 November 2017 01:07
To: kubernetes/website <website@noreply.github.com>
Cc: Mufeez Ahmed (ZEN3 Infosolutions Private Ltd) <v-mufahm@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [kubernetes/website] Issue with k8s.i

[2017-11-13 10:04] kumarganesh2814 opened #6295 "Issue with k8s.io/docs/admin/high-availability/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
Followed the steps from https://kubernetes.io/docs/admin/high-availability/
Was able to see 2 Container etcd-server came up

While running cluster health command from Master Node-1/2

# kubectl exec etcd-server-kuber-poc-app1 etcdctl cluster-health
member 8e9e05c52164694d is healthy: got healthy result from http://127.0.0.1:237

[2017-11-13 14:30] jxadro opened #6297 "Issue with k8s.io/docs/reference/federation/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Link broken in the documentation.
In the page: https://v1-7.docs.kubernetes.io/docs/reference/federation/ when you click on "model definitions" -> "federation/v1beta1: operations, model definitions" it goes to "https://htmlpreview.github.io/?https://github.com/kubernetes/kubernetes/blob/HEAD/federation/docs/api-reference/federa

[2017-11-14 00:12] zacharysarah opened #6302 ""GKE" > "Google Kubernetes Engine""
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:** From https://github.com/kubernetes/website/pull/6300#issuecomment-344069008:

Google Container Engine is now Google Kubernetes Engine. GKE should no longer be used as an acronym for Google Container Engine, and should be replaced with "Google Kubernetes Engine" wherever possible.

**Proposed Solution:** Repo-wide find and replac

[2017-11-14 00:20] zacharysarah commented on #6276
@maheshacharya :wave: This issue sounds more like a request for support and less like an issue specifically for docs. You can bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

If after seeking support you discover an issue with documen

[2017-11-14 00:20] #6276 closed

[2017-11-14 00:23] zacharysarah commented on #6278
@adrianludwin 👋 There's a PR in progress to help with this: #6238. It's in review right now, hopefully it'll be published within the next week.

[2017-11-14 00:24] zacharysarah commented on #6290
@vamsi248 :wave: This issue sounds more like a request for support and less like an issue specifically for docs. You can bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

If after seeking support you discover an issue with documentatio

[2017-11-14 00:24] #6290 closed

[2017-11-14 00:25] zacharysarah commented on #6295
@kumarganesh2814 :wave: This issue sounds more like a request for support and less like an issue specifically for docs. You can bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

If after seeking support you discover an issue with docum

[2017-11-14 00:25] #6295 closed

[2017-11-14 01:13] andr3wtryan opened #6305 "Issue with k8s.io/docs/tasks/configure-pod-container/configmap/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report
- [x] Content Issue

**Problem:**
The last sentence of the first part of the section "Use kubectl to create a ConfigMap" (right above the start of the next section, "Create ConfigMaps from directories") seems to be backwards with the former and latter statement. From what I understand (which isn't too much) the "describe" commands contain mo

[2017-11-14 02:14] dungeonmaster18 commented on #6302
I will do that. Can you assign it to me?

[2017-11-14 02:24] zacharysarah commented on #6302
Just open a PR that says “closes #6302” in the OP

[2017-11-14 06:07] kumarganesh2814 commented on #6295
[code]

[2017-11-14 06:08] kumarganesh2814 commented on #6295
I see this error from logs of etcd pods any advise for this error

I put this into slack but no reply also dont see concreate answer to this issue anywhere

Best Regards
Ganesh

[2017-11-14 06:20] tengqm commented on #6295
@kumarganesh2814 It looks like your second etcd instance failed to start or respond. You may want to try etcd documentation or fourm.

[2017-11-14 12:29] kumarganesh2814 commented on #6295
@tengqm
Thanks Man. For Pointer

I rebooted my VM and now I see state as below

[code]

[2017-11-14 12:35] kumarganesh2814 commented on #6295
Error for kube-dns
failed to "StartContainer" for "dnsmasq" with CrashLoopBackOff

[2017-11-14 14:49] kumarganesh2814 commented on #6295
All Issues are resolved now I am running with 2 etcd-server but I see error like

[code]

[2017-11-14 18:42] chenopis commented on #6302
@dungeonmaster18 This was taken care of by https://github.com/kubernetes/website/pull/6300, but please feel free to search the repo and double check my work. =)

[2017-11-14 18:42] #6302 closed

[2017-11-14 19:55] steveperry-53 commented on #6037
@wackxu I put you name on several items in the list above. Would you be willing to take charge of these? First thing is to get the pages moved to a new location under /docs/reference.

[2017-11-14 21:13] rguthriemsft opened #6316 "Issue with k8s.io/docs/concepts/storage/volumes/"
**This is a...**

- [ X] Feature Request
- [ ] Bug Report

**Problem:**
In the section on types of volumes, the types are not in any logical order making it more difficult to check on what a provider offers as a solution.

**Proposed Solution:**
List types of volumes in alphabetical order

**Page to Update:**
https://kubernetes.io/docs/concepts/storage/volumes/

[2017-11-14 22:05] chavinash opened #6317 "Installed Kubernetes on Vsphere but getting Unauthorized when I browse to master node"
Installed Kubernetes in the vsphere. Deployment is successful with out any errors. But when I browse to the Ip I get Unauthorized message.

Here is some of the info I gathered which might help.

 systemctl status kubelet.service
● kubelet.service - Kubernetes Kubelet Server
   Loaded: loaded (/etc/systemd/system/kubelet.service; enabled; vendor preset: enabled)
   Active: active (running) since Tu

[2017-11-15 01:54] tengqm commented on #6316
makes sense, will do.

[2017-11-15 01:58] #6250 closed

[2017-11-15 02:01] #6202 closed

[2017-11-15 02:01] stewart-yu commented on #6305
Does  your confusion resolved?

[2017-11-15 02:29] wackxu commented on #6037
@steveperry-53 Thanks for your advice. And I will do it ASAP.

[2017-11-15 03:40] tengqm commented on #6317
@chavinash :wave: This issue sounds more like a request for support and less like an issue specifically for docs. You can bring your question to the #kubernetes-users channel in Kubernetes slack. You can also search resources like Stack Overflow for answers to similar questions.

If after seeking support you discover an issue with documentation, please feel free to reopen this issue.

[2017-11-15 03:40] #6317 closed

[2017-11-15 09:24] steveperry-53 commented on #6037
@wackxu Thanks for getting started on this. At the top of this issue, please note which items have your name, and only do those. We want to hold off on some of these, like kubeadm and kubectl. Thanks.

[2017-11-15 14:11] adrianludwin commented on #6278
Great to hear, thanks.

[2017-11-15 14:31] dvdgsng opened #6336 "Open same site when switching documentation version"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**
Changing the version of the k8s documentation redirects to /docs/home.

**Proposed Solution:**
Redirect to the same site for the older version.

Meaning: When changing the version from a specific documentation site ( e.g. https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#) it should open the same document fo

[2017-11-15 14:34] dvdgsng opened #6337 "Documentation search does not honor selected version"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Despite having selected a different version of k8s in the documentation (e.g. 1.7), the search does only show results from the current/latest version.

**Proposed Solution:**
Show search results for selected version.

**Page to Update:**
https://kubernetes.io/docs/home/

[2017-11-15 17:19] andr3wtryan commented on #6305
Looks good to me.

I'm realizing now that the way that it was written was correct (so I apologize for the trouble), but to be fair it was unclear to me because I rarely use the `-o` option of `kubectl get`. I usually just use `kubectl get` in its simplest form, to list all of the resources of a particular type. So `get` to me displayed less information than `describe` does. My apologizes!

I read

[2017-11-15 18:37] rakeshkulkarni6 opened #6338 "DNS resolve error for kubectl exec -ti <podname>"
**I have deployed container in master machines. master and aganet machines are joined to domain**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
I have deployed cluster using acs engine. The cluster seems to be fine. I have deployed some pods and created service for them when iI tried to login to login to container using kubectl exec -ti <podname> /bin/bash its throwing dns resolve error fo

[2017-11-15 18:48] Bradamant3 opened #6339 "Restructure and rewrite Minikube docs"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
A number of issues are reported against various pages that explain how to install and run Minikube. In addition, there's a good deal of overlap or confusing or conflicting information across different tasks and tutorials on Minikube. We need a good Minikube entry point for the user journeys project, and cleaning up this content

[2017-11-15 19:00] Bradamant3 commented on #4503
Consider this issue also in light of #4514

[2017-11-15 19:06] Bradamant3 commented on #4509
Consider whether some additional explanation of what a ConfigMap is might be helpful. One possible resource for information: https://medium.com/google-cloud/kubernetes-configmaps-and-secrets-68d061f7ab5b.
Also add ConfigMap to glossary.

[2017-11-15 20:08] dsgordon333 opened #6340 "Issue with k8s.io/docs/tasks/access-application-cluster/web-ui-dashboard/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
Suddently getting the following when trying to connect to 127.0.0.1/ui
Error: 'ssh: rejected: connect failed (Connection refused)'

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-11-15 20:09] dsgordon333 commented on #6340
127.0.0.1:8080/ui that is.

[2017-11-15 21:06] dungeonmaster18 commented on #6340
Hi @dsgordon333 , your seems to be related to dashboard not with the document or k8 website. If it is related to website please create issue here : https://github.com/kubernetes/dashboard.

[2017-11-16 00:58] tengqm commented on #6338
This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the #kubernetes-users channel in Kubernetes slack. You can also search resources like [Stack Overflow](https://stackoverflow.com) for answers to similar questions.
You can also open issues for Kubernetes functionality in https://github.com/kubernetes/kubernetes.

[2017-11-16 00:58] #6338 closed

[2017-11-16 01:05] #6340 closed

[2017-11-16 10:18] bailey-96 opened #6348 "Issue with k8s.io/docs/tutorials/kubernetes-basics/update-interactive/"
**This is a:**
- [x] Bug Report

**Problem:**
404 Error - page not found.

**Page to Update:**
https://kubernetes.io/docs/tutorials/kubernetes-basics/update-interactive/

Working my way through the Kubernetes boot camp and its great but got to this page and it won't load.

Thanks

[2017-11-16 10:38] stewart-yu commented on #6348
Where the url from?

[2017-11-16 10:59] dungeonmaster18 commented on #6348
There are few other links as well which are showing 404 error - page not found. I think we should create a generalised issue to address this.

[2017-11-16 11:07] jimk-osu commented on #5432
Possibly remove [Ubuntu Tree](https://kubernetes.io/docs/getting-started-guides/ubuntu/) or re-direct on the doc site while action is in progress or TBD?

[2017-11-16 11:23] alexppg opened #6349 "Some posts return 404"
**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**
Some pages return 404. The ones I saw are:
- https://kubernetes.io/docs/home/
- https://kubernetes.io/docs/tutorials/
- https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/

I guess there will be more.

[2017-11-16 11:23] alexppg commented on #6348
I didn't see this and created #6349. But I guess it's ok.

[2017-11-16 11:26] stewart-yu commented on #6348
Just second  url link @alexppg  i will help fix it

[2017-11-16 11:28] leonahenry opened #6350 "Issue with k8s.io/docs/tutorials/kubernetes-basics/scale-intro/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
Tutorial and docs home links are giving 404. error:
https://kubernetes.io/docs/tutorials/kubernetes-basics/expose-intro/  and https://kubernetes.io/docs/home/ don't work.
also most of the module links at the bottom part of the Kubernetes basics page are broken.

**Proposed Solution:**
Please fix the broken links

**Page to Upda

[2017-11-16 11:39] BenHall commented on #6348
Sorry about this. As a workaround, add /index.html to the 404 pages.

https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-intro/index.html
https://kubernetes.io/docs/tutorials/kubernetes-basics/explore-intro/index.html
https://kubernetes.io/docs/tutorials/kubernetes-basics/expose-intro/index.html
https://kubernetes.io/docs/tutorials/kubernetes-basics/update-interactive/index.html

[2017-11-16 11:39] BenHall commented on #6349
Sorry about this. As a workaround, add /index.html to the 404 pages.

https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-intro/index.html
https://kubernetes.io/docs/tutorials/kubernetes-basics/explore-intro/index.html
https://kubernetes.io/docs/tutorials/kubernetes-basics/expose-intro/index.html
https://kubernetes.io/docs/tutorials/kubernetes-basics/update-interactive/index.html

[2017-11-16 11:40] BenHall commented on #6350
Thank you for reporting this. I just noticed the same.

Related: #6349 #6348

@steveperry-53 @zacharysarah 👋

[2017-11-16 11:40] BenHall commented on #6350
As a workaround, add /index.html to the 404 pages.

https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-intro/index.html
https://kubernetes.io/docs/tutorials/kubernetes-basics/explore-intro/index.html
https://kubernetes.io/docs/tutorials/kubernetes-basics/expose-intro/index.html
https://kubernetes.io/docs/tutorials/kubernetes-basics/update-interactive/index.html

[2017-11-16 12:25] slevinson opened #6351 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-intro/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
returns Page not found 404

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-11-16 14:01] dungeonmaster18 commented on #6351
Hi @slevinson thanks for reporting the problem got fixed.

[2017-11-16 17:56] guineveresaenger commented on #6102
Initial PR for starting point:
https://github.com/kubernetes/community/pull/1409

[2017-11-16 19:09] alexppg commented on #6348
No problem, I just used the repository, this issue was just FYI. Close it as you wish.

[2017-11-16 19:36] zacharysarah commented on #6037
Boosting visibility for auto-generated descriptions from the conformance test suite: https://kubernetes.slack.com/archives/C1J0BPD2M/p1510859320000423

Autogenerated test suite docs aren't directly covered in this PR, but they're related and will (eventually) affect the work involved.

[2017-11-16 21:32] #5508 closed

[2017-11-16 23:29] guineveresaenger commented on #6102
Umbrella issue to flesh out the README and surrounding folder in PR above: https://github.com/kubernetes/community/issues/1413

[2017-11-17 02:29] tallclair commented on #6033
I'm completely rewriting the PSP documentation. I will address this.

[2017-11-17 12:47] Bradamant3 opened #6365 "Auditing topic is unclear, missing information"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The [Auditing](https://kubernetes.io/docs/tasks/debug-application-cluster/audit/) topic is unclear and is missing important information.

**Proposed Solution:**
Rewrite the topic for clearer structure and complete information. Specifically note the following (and check with tech reviewers to add anything else):
- Audit logging

[2017-11-18 22:18] BenHall commented on #3868
Thanks for the feedback. We've improved the look and feel of the layout which will hopefully create a much better experience.

[2017-11-19 02:36] ahmetb commented on #3868
@BenHall thanks! looks much better on w=1000px now. Closing.

[2017-11-19 02:36] #3868 closed

[2017-11-19 04:56] MOZGIII opened #6373 "Issue with k8s.io/docs/setup/independent/install-kubeadm/ (cgroups: systemd vs cgroupfs)"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

Followed this guide, had issues with cgroups.
Apparently, `systemd` does not work *now*, and you have to use `cgroupfs` (on ubuntu).
The guide proposes to use `systemd`. Better solution is to explain how to choose one and then to configure both docker and kubelet/kubeadm. At least, how to configure them - this is the tricky pa

[2017-11-19 10:24] inorton opened #6376 "Windows getting started docs missing"
/kind bug

**What happened**:

The documents for windows at https://kubernetes.io/docs/getting-started-guides/windows/ are missing

[2017-11-19 10:24] #6376 closed

[2017-11-19 10:31] dungeonmaster18 commented on #6349
This issue is fixed, so someone please close it.

cc: @zacharysarah @tengqm @steveperry-53

[2017-11-19 10:32] dungeonmaster18 commented on #6351
This issue is fixed, so someone please close it.

cc: @zacharysarah @tengqm @steveperry-53

[2017-11-19 10:36] dungeonmaster18 commented on #6350
This issue is fixed, so someone please close it.

cc: @zacharysarah @tengqm @steveperry-53

[2017-11-19 10:37] #6351 closed

[2017-11-19 11:50] #6350 closed

[2017-11-19 11:51] #6349 closed

[2017-11-19 16:50] Blasterdick opened #6377 "Issue with k8s.io/docs/tasks/federation/set-up-cluster-federation-kubefed/"
For GKE kubernetes cluster it won't let you join the cluster if you don't create a `clusterrolebinfing` for your currently active `gcloud` account email (`gcloud auth list`) in a next manner:

[code]
Please, add this in the docs.

[2017-11-20 12:58] bailey-96 commented on #6348
Issue appears to be fixed, thanks.

[2017-11-20 12:58] #6348 closed

[2017-11-20 18:15] vamsi248 opened #6390 "It seems the cluster it is running with Authorization enabled (like RBAC) and there is no permissions for the ingress controller. Please check the configuration"
pplease help me i am getting this error for nginx-ingress-test...
because i am deploying ingress in 2 environments.. dev and test...
i have succesfully created in default namespace..
i am getting these errors when i tried for dev and test environments..
once i used same hostport 8080 for dev and test also.. but i didnt select node.. showing error prehostfits.. after that i deleted hostport line on

[2017-11-20 20:04] erkanerol opened #6391 "Issue with k8s.io/docs/concepts/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The link of kubelet is broken. The directed page gives 404.
https://kubernetes.io/docs/admin/kubelet/ doesn't redirect to  https://kubernetes.io/docs/reference/generated/kubelet/

**Proposed Solution:**
It should redirect to https://kubernetes.io/docs/reference/generated/kubelet/.

**Page to Update:**
https://kubernetes.io/docs

[2017-11-21 01:28] stewart-yu commented on #6391
I will help fix it

[2017-11-21 01:42] radhikapc commented on #4509
Let me know how can I help here @zacharysarah

[2017-11-21 03:47] #6391 closed

[2017-11-21 05:59] dungeonmaster18 commented on #6390
Hi @vamsi248 , this repo is for documentation and website issue. Please try to ask your problem [here](https://github.com/kubernetes/kubernetes/issues)

[2017-11-21 06:08] tengqm commented on #6390
This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the #kubernetes-users channel in Kubernetes slack. You can also search resources like [Stack Overflow](https://stackoverflow.com) for answers to similar questions.
You can also open issues for Kubernetes functionality in https://github.com/kubernetes/kubernetes.

[2017-11-21 06:08] #6390 closed

[2017-11-21 07:05] stewart-yu opened #6396 "reconstruct Service docs"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report
- [x] Fix Docs

**Problem:**
Section `Virtual IPs and service proxies` in https://kubernetes.io/docs/concepts/services-networking/service/  are redundancy, many sentence are the same. I think we need make it simplicity.
If need, i will do this.
@tengqm @lavalamp @steveperry-53

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io

[2017-11-21 09:51] awsdevopro opened #6398 "Issue with k8s.io/docs/tutorials/kubernetes-basics/expose-interactive/"
Hi there, I have been creating the curl command at Interactive Tutorial - Exposing Your App, but the last command curl host01:$NODE_PORT then I have found an error:

curl: (6) Could not resolve host: host01
Here is the printscr for your review.
https://prnt.sc/hd8p1n
 Why it does happen?

[2017-11-21 19:55] joeyjoeyjoeyjoey opened #6405 "Issue with k8s.io/docs/tutorials/kubernetes-basics/cluster-interactive/"
**This is a...**
Bug Report

- [ ] Feature Request
- [ x] Bug Report

**Problem:**
At the and of the Interactive Tutorial - Creating a Cluster the Summary button returns the following error
he webpage at https://docs.google.com/forms/d/e/1FAIpQLScMbLRAbaZ8NleOFYRrepdIwCbhClHK3abu3SgzMn1KT_H5iA/viewform?entry.434419381=Module%201 might be temporarily down or it may have moved permanently to a new w

[2017-11-22 10:01] ras44 opened #6412 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-interactive/"
**This is a...**
- [ ] Feature Request
- [ x ] Bug Report

**Problem:**
Module 2 step 3, I create the proxy and issue the curl request `curl http://localhost:8001/version` but receive no response from the endpoint.

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-interactive/

$ kubectl version
Client Version: version.Info{Major:"1", Minor:

[2017-11-22 10:03] ras44 commented on #6412
resolved

[2017-11-22 10:03] #6412 closed

[2017-11-22 17:09] php-coder commented on #3174
I found that the usage of safe/unsafe sysctls are documented here: https://kubernetes.io/docs/concepts/cluster-administration/sysctl-cluster/ But its usage doesn't relate to PSP at all.

@sttts Could you explain how PSP strategy (`pkg/security/podsecuritypolicy/sysctl`) is correlated with the current behavior when admin need to pass `--experimental-allowed-unsafe-sysctls` option to the kubelet?

[2017-11-22 18:26] mhamadc opened #6414 "Issue with k8s.io/docs/setup/independent/troubleshooting-kubeadm/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
OS is Ubuntu 16.04 on s390x VM

/# kubectl get po --all-namespaces
NAMESPACE     NAME                               READY     STATUS              RESTARTS   AGE
kube-system   etcd-csz25063                      1/1       Running             0          2h
kube-system   kube-apiserver-csz25063            1/1       Running

[2017-11-22 19:47] #6316 closed

[2017-11-22 19:51] zacharysarah commented on #6336
@dvdgsng 👋 Thanks for reporting your experience. This issue and #6337 are duplicates of an open issue, #5930. We're working on a fix, but it's a long-term project.

[2017-11-22 19:51] #6336 closed

[2017-11-22 19:51] zacharysarah commented on #6337
@dvdgsng 👋 Thanks for reporting your experience. This issue and #6336 are duplicates of an open issue, #5930. We're working on a fix, but it's a long-term project.

[2017-11-22 19:51] #6337 closed

[2017-11-22 19:57] zacharysarah commented on #6414
@mhamadc :wave: This issue sounds more like a request for support and less like an issue specifically for docs. You can bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

If after seeking support you discover an issue with documentation

[2017-11-22 19:57] #6414 closed

[2017-11-22 20:09] zacharysarah commented on #6297
@jxadro 👋 This is an issue with 1.7 docs which are not actively maintained. (See the page banner at the top of [the page](https://v1-7.docs.kubernetes.io/docs/reference/federation/).)

[2017-11-22 20:09] #6297 closed

[2017-11-22 20:12] zacharysarah commented on #6114
@bweston92 :wave: This issue sounds more like a request for support and less like an issue specifically for docs. You can bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

If after seeking support you discover an issue with documentati

[2017-11-22 20:12] #6114 closed

[2017-11-22 20:33] zacharysarah commented on #6046
@bowei The top Google result for me shows a link to https://kubernetes.io/docs/api-reference/v1.8/. The 404 link you listed doesn't appear on the first page, so I think we're OK.

[2017-11-22 20:33] #6046 closed

[2017-11-22 23:43] #5462 closed

[2017-11-22 23:45] zacharysarah commented on #5432
From https://github.com/kubernetes/website/pull/5431#issuecomment-341998303:

I'm going to go ahead and close this PR.

[2017-11-22 23:45] #5432 closed

[2017-11-22 23:48] #4602 closed

[2017-11-22 23:50] #4169 closed

[2017-11-23 00:59] johnpaulada opened #6419 "Issue with k8s.io/docs/tutorials/stateless-application/hello-minikube/ (Cannot start Minikube)"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
I encounter this error when running the `minikube start --vm-driver=xhyve` step on the **Hello Minikube** tutorial:

**Proposed Solution:**
The solution by @KIVagant from a [docker-machine-driver-xhyve issue](https://github.com/zchee/docker-machine-driver-xhyve/issues/156) worked for me:
[code]

**Page to Update:**
https://kube

[2017-11-23 03:04] stewart-yu commented on #6373
I have committed PR about it, [https://github.com/kubernetes/website/pull/6309](https://github.com/kubernetes/website/pull/6309), but in `troubeShooting` parts.

[2017-11-23 03:11] stewart-yu commented on #6377
I can help to fix it

[2017-11-23 03:27] #6305 closed

[2017-11-23 08:20] MOZGIII commented on #6373
Your PR is not about this. This proposal is to provide info in how one could actually configure cgroups, and not on how to deetect the issues with them. But your's useful too.

[2017-11-23 13:31] zymsys commented on #4526
I've also run into this while going through the tutorial. I have the proxy running on the 2nd tab:

[code]

Back on the first tab I have run the suggested command by clicking it:

[code]

Note that the command line specifies localhost:8001 but the error specifies another IP on a different network and a different port. Re-running the command with verbose mode shows that it is connecting to the corr

[2017-11-23 13:47] BenHall commented on #4526
Please check to make sure the Kuberentes Bootcamp image has been deployed using:

[code]

The errors seem to indicate the process isn't running. It's the first command on step 2.

[2017-11-23 13:54] zymsys commented on #4526
It took me a while to realize that I could click the commands instead of typing them. I may have mis-typed that line on the first pass. On the second pass I clicked all of the commands and it worked fine. I know there was no obvious error when I typed it, but I could have entered an incorrect port number. Thanks for the quick followup!

[2017-11-23 22:09] jaredbhatti commented on #5953
Andrew created a guide for doc sprint participants, which I've modified to use for a doc sprint in Melbourne.  Might be useful: https://docs.google.com/document/d/1No-yCMW99oqFMmBBCKvTdkgHzjfzk4OsP4tzulLM9eo/edit#heading=h.9y5m5yroljay

[2017-11-23 22:18] jaredbhatti commented on #5299
Closing issue. No context.

[2017-11-23 22:18] #5299 closed

[2017-11-23 23:04] jaredbhatti opened #6428 "Specify US-English in the Style Guide"
Pointed out during a doc sprint in Australia - you must specify US english for the style guide.

[2017-11-23 23:05] jaredbhatti commented on #6428
Update: https://kubernetes.io/docs/home/contribute/style-guide/

[2017-11-23 23:33] jaredbhatti commented on #6396
https://github.com/kubernetes/website/pull/5869

Already fixed.

[2017-11-23 23:41] jaredbhatti commented on #5620
https://github.com/kubernetes/website/pull/5869

Fixed in this PR.

[2017-11-23 23:41] #5620 closed

[2017-11-23 23:50] ChrisChinchilla opened #6433 "YAML file referenced in ZooKeeper tutorial is not valid YAML"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

This tutorial https://kubernetes.io//docs/tutorials/stateful-application/zookeeper/ references a YAML file in the

[code]

command, and the YAML file is not valid YAML, but is in fact an HTML file with YAML inside the body.

**Page to Update:**
https://kubernetes.io//docs/tutorials/stateful-application/zookeeper

[2017-11-24 00:02] #6396 closed

[2017-11-24 00:27] #6377 closed

[2017-11-24 00:44] #5952 closed

[2017-11-24 00:47] jaredbhatti commented on #6433
to do:

In the command:
kubectl apply -f https://k8s.io/docs/tutorials/stateful-application/zookeeper.yaml

Change
https://k8s.io/docs/tutorials/stateful-application/zookeeper.yaml

to
https://raw.githubusercontent.com/kubernetes/website/master/docs/tutorials/stateful-application/zookeeper.yaml

[2017-11-24 00:52] #6113 closed

[2017-11-24 01:02] stewart-yu commented on #6433
I wiil help fix it

[2017-11-24 01:45] jaredbhatti commented on #6433
Fixed: https://github.com/kubernetes/website/pull/6435

[2017-11-24 01:45] #6433 closed

[2017-11-24 01:47] jaredbhatti commented on #6428
Fixed: https://github.com/kubernetes/website/pull/6434

[2017-11-24 01:47] #6428 closed

[2017-11-24 10:56] Fundi01 opened #6445 "Issue with k8s.io/docs/concepts/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-11-24 11:11] sttts commented on #3174
The design and implementation is documented in https://github.com/kubernetes/community/blob/930ce65595a3f7ce1c49acfac711fee3a25f5670/contributors/design-proposals/node/sysctl.md#proposed-design.

[2017-11-24 11:56] #6445 closed

[2017-11-25 03:55] tengqm opened #6447 "New fields in Pod Security Policy not documented"
Ref kubernetes/kubernetes#53179, flexvolumes can be specified in PSP.
This is not documented.

[2017-11-25 09:35] tengqm opened #6448 "Statefulset pod label not documented"
With kubernetes/kubernetes#55329 merged, pods from a StatefulSet now have a label attached. This needs to be documented.

[2017-11-25 09:41] tengqm commented on #6039
disk requests are now taken into account during evictions.
xref: kubernetes/kubernetes#54316

[2017-11-25 09:53] tengqm opened #6449 "Volume scheduling feature not documented"
With kubernetes/kubernetes#55039 merged, the `VolumeScheduling` feature gate can be enabled to help scheduler make better decisions when local persistent volumes are used. This needs documentation.

[2017-11-25 12:18] BenHall commented on #6405
Thank you for reporting this. We're keeping an eye on forms and it's uptime.

[2017-11-25 12:20] BenHall commented on #6398
Host01 is the name of the machine running Minikube. When running the tutorial locally, you may have a different name, in the case of this I expect it would be localhost.

We're investigating improving this to make it clearer for users where host01 comes from.

[2017-11-26 07:04] svennela commented on #6088
the same issue, I am facing. No solutions or workaround yet.

[2017-11-26 07:06] svennela opened #6450 "xxx is forbidden: User "system:serviceaccount:kube-system:default" cannot list configmaps in the namespace "default""
Upon completion of kube-up.sh and running a proxy to the cluster, I do not have sufficient privileges and am not authenticated as expected to kubernetes dash board

 Feature Request
[x ] Bug Report
Problem:

run ./cluster/kube-up.sh
run ./platforms/linux/amd64/kubectl proxy --port=8001
Access
http://127.0.0.1:8001/api/v1/namespaces/kube-system/services/kubernetes-dashboard/proxy/#!/overview?namesp

[2017-11-27 06:24] lohithlnt opened #6453 "Issue with k8s.io/docs/tasks/debug-application-cluster/debug-init-containers/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
crashloopbackoff kubernetes pod

**Proposed  #Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-11-27 08:49] tengqm commented on #6453
@lohithlnt Looks like a issue report by accident. Please reopen and provide more details if you do have an documentation issue to file.

[2017-11-27 08:49] #6453 closed

[2017-11-27 12:45] jonastl opened #6456 "Multiple kube-dns pods scheduled on same node"
- [X] Feature Request
- [ ] Bug Report

**Problem:**
Multiple kube-dns pods may be scheduled on the same node.
This poses a problem from two angles:
1. **Consumes scarce resources**
if some of the nodes in a cluster are small, have little memory/cpu and are sized to fit a a certain intended workload, then having several instances of kube-dns on the same machine may steal enough allocatable resourc

[2017-11-27 13:54] cbuhot opened #6457 "Issue with k8s.io/docs/setup/independent/install-kubeadm/"
**This is a...**

- [ ] Feature Request
- [X ] Bug Report

**Problem:**

here is the message i receive when trying to install Kubeadm :
https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64/repodata/repomd.xml: [Errno 14] curl#7 - "Failed to connect to 2a00:1450:4007:816::200e: Le réseau n'est pas accessible"
It appears that in order to install KUEADM, IPV6 is mandatory is there a mean

[2017-11-27 14:15] tengqm commented on #6456
@jonastl Did you meant to file a feature request to kubernetes/kubernetes project instead of kubernetes/website?

[2017-11-27 14:17] tengqm commented on #6457
@cbuhot Can you more specific which page needs an update? Or this is meant to be a bug report to kubernetes/kubernetes?

[2017-11-27 16:41] jonastl commented on #6456
Indeed, thanks Qiming. I’ll move it as soon as i have computer access.

[2017-11-27 16:59] Asher-Shoshan opened #6460 "Issue with k8s.io/docs/concepts/services-networking/connect-applications-service/"
- [x] Bug Report

**Problem:**
Testing Kubernetes on-premises.
"kubectl get nodes -o yaml" is not showing "ExternalIP"  - only "InternalIP", and "<none>" is shown in "kubectl get svc -o wide"
Therefore (probably) Service with LoadBalancer method is not coming up, and can't be used.

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

Kubernetes Version:1.8

[2017-11-27 20:21] jojje commented on #6456
Wrong project, closing as it already has a counterpart in the code repo: https://github.com/kubernetes/kubernetes/pull/52193

[2017-11-27 20:21] #6456 closed

[2017-11-27 21:24] chenopis commented on #6141
@msau42 Generally, we don't document Alpha features. However, if you strongly feel it is needed, you can add the information to the relevant page and tag it w/ the following code, which gives notice about what version it's tied to and what the Alpha state means:

[code]

[2017-11-27 21:32] msau42 commented on #6141
@chenopis maybe we need to update the release procedures then?  The release team has been pushing for documentation PRs to be created, even for alpha features.

[2017-11-27 22:20] chenopis commented on #6141
@msau42 Sorry, my bad. I just double-checked, and it's fine to document alpha features for Kubernetes, since it's OSS. We just don't do it that for GKE.

We should still tag the feature states in the docs w/ that include code so that we know to update them for each release.

[2017-11-27 22:22] msau42 commented on #6141
Ok thanks for the clarification!

[2017-11-28 00:39] markmandel commented on #4135
How can I also get involved? I think it would be great if this resource existed - especially separate from CRDS (as they may not necessarily go together). I have a huge list of external examples and resources I used to learn about Controllers.

Here is my  [Friction Log](https://docs.google.com/document/d/1N1pBov7Odpg_u-kILHcswYh4VO-aMlYQdFIH64DYeek/edit#) if it helps.

[2017-11-28 03:10] haqiaolong opened #6468 "why? Running Java is bad"
Hello, my application is a Java, only to set up a cpuset performance, if not is to set the default host auditing, this will frequently switch CPU, lead to low performance, do you have any good solution?

[2017-11-28 03:27] tengqm commented on #6468
Closing this for not being a doc issue.
p.s.
If you want CPU binding, you may want to give CPUManager a try.
https://kubernetes.io/docs/tasks/administer-cluster/cpu-management-policies/

[2017-11-28 03:27] #6468 closed

[2017-11-28 05:10] wanghaoran1988 commented on #6447
/assign
Will prepare a PR after https://github.com/kubernetes/website/pull/6378

[2017-11-28 07:58] cbuhot commented on #6457
hi,
my point is that in the installation howto page we are asked to add the following section to the yum repos :
[kubernetes]
name=Kubernetes
baseurl=https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64
...
when starting to install using yum, it fetch xml files at the base URL. but at this time, it appears that this base url is only reachable via IPV6 from the host being installed.
In

[2017-11-28 09:16] tengqm commented on #6457
tried direct curl:

$ curl -v https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64/repodata/repomd.xml
*   Trying 216.58.197.46...
*   Trying 2404:6800:4003:c00::8b...
* Immediate connect fail for 2404:6800:4003:c00::8b: Network is unreachable
* Connected to packages.cloud.google.com (216.58.197.46) port 443 (#0)
* found 148 certificates in /etc/ssl/certs/ca-certificates.crt
* found 5

[2017-11-28 10:29] abitrolly commented on #5635
Thanks. I will explore the options as soon as I get back to it. I still use standard dashboard application to troubleshoot the cluster, and I need to figure out how to add this metric here. Checking it by hand is hard.

[2017-11-28 12:27] cbuhot commented on #6457
Thank you for your help.
I'll dig the problem on my side.

[2017-11-28 19:39] heckj commented on #6450
This issue sounds more like a request for support and less
like an issue specifically for docs. I encourage you to bring
your question to the `#kubernetes-users` channel in
[Kubernetes slack](http://slack.k8s.io/). You can also search
resources like
[Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes)
for answers  to similar questions.

You can also open issues for Kubernetes fun

[2017-11-28 19:39] #6450 closed

[2017-11-28 19:41] heckj commented on #6460
This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the `#kubernetes-users` channel in
[Kubernetes slack](http://slack.k8s.io/). You can also search resources like
[Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes) for answers  to similar questions.

You can also open issues for Kubernetes fun

[2017-11-28 19:41] #6460 closed

[2017-11-28 19:45] heckj commented on #6419
resolved with #6464

[2017-11-28 19:45] #6419 closed

[2017-11-28 19:48] heckj commented on #6185
side comment - there is a related issue where the files that had previously been included in website where used as https://k8s.io/ remote files to some of the commands, but the (relatively recent) hosting provider change to using Netlify made those files come down as HTML instead of YAML, rendering some of that content no longer functional to follow. I was trying to track that down at one point (h

[2017-11-29 03:36] vamsi248 opened #6476 "Issue with k8s.io/docs/home/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-11-29 03:44] vamsi248 opened #6477 "liveReadiness probe failed: HTTP probe failed with statuscode: 500 Liveness probe failed: HTTP probe failed with statuscode: 500"
i am getting these error when i am crearting my nginx-ingress-controller in my DEV and TEST environments....

i am getting ERROR
it seems cluster is running authorization enabled (like RBAC) no permissions for the ingress-controller please check the configuration..
**so after that i created clusterrolebinding in cluster as serviceaccount:default
and rolebinding in my dev and test environments..**

[2017-11-29 03:45] vamsi248 commented on #6477
any yaml file mistake i did or where is exact issue to fix this...

can u help me anyone....

Regards,
vamsi

[2017-11-29 04:06] tengqm commented on #6365
#6427

[2017-11-29 04:10] #6476 closed

[2017-11-29 04:16] vamsi248 commented on #6476
Why u closed... I don't get solved this issue.. please help me..

[2017-11-29 04:17] vamsi248 commented on #6477
Help.me any one for this problem.

[2017-11-29 04:20] tengqm commented on #6043
Verified in another issue report. This problem only exists on the following path so far:

/docs/tutorials/stateful-application/

Any other path above or below that subdirectory is fine.

[2017-11-29 04:23] vamsi248 commented on #6476
Yes sorry..this was created by mistake...

[2017-11-29 04:28] tengqm commented on #6477
This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the #kubernetes-users channel in Kubernetes slack. You can also search resources like [Stack Overflow](https://stackoverflow.com) for answers to similar questions.
You can also open issues for Kubernetes functionality in https://github.com/kubernetes/kubernetes.

[2017-11-29 04:28] #6477 closed

[2017-11-29 04:30] vamsi248 commented on #6477
can u tell where it is wrong .. can u help me.. instead of closing can u telll me some answer.

[2017-11-29 04:36] vamsi248 opened #6480 "eadiness probe failed: HTTP probe failed with statuscode: 500 Liveness probe failed: HTTP probe failed with statuscode: 500"
i am getting these error when i am crearting my nginx-ingress-controller in my DEV and TEST environments....

i am getting ERROR
it seems cluster is running authorization enabled (like RBAC) no permissions for the ingress-controller please check the configuration..
so after that i created clusterrolebinding in cluster as serviceaccount:default
and rolebinding in my dev and test environments..
afte

[2017-11-29 04:43] tengqm commented on #6477
@vamsi248 I'm no expert in RBAC, but your problem smells like an RBAC problem. Do as I suggested you, go stackoverflow and post your question, or go kubernetes/kubernetes to file a bug if you believe it is a bug.

[2017-11-29 11:21] surajssd opened #6484 "Missing link in task 'Upgrade from PetSets to StatefulSets'"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

There is a link missing that was supposed to be added in section **Differences between alpha PetSets and beta StatefulSets** under it in the second point *StatefulSet guards against split brain* which ends with following text

Change it and add the link that is required.

**Proposed Solution:**

Add link which is missing

**Pa

[2017-11-29 12:41] aleksandra-malinowska commented on #6480
I have no way to debug your application. You can read more about how liveness and readiness probes work here: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/

In particular:
```Any code greater than or equal to 200 and less than 400 indicates success. Any other code indicates failure.```

Basically, if a probe gets a 500 and restarts your application,

[2017-11-29 13:02] #6480 closed

[2017-11-29 14:27] tengqm commented on #6185
@heckj As I commented on #6043 and #6363, this only happens to yaml files in /docs/tutorials/stateful-application/, very strange. The command `curl https://k8s.io/docs/tutorials/stateful-application/zookeeper.yaml` returns a HTML instead of a YAML. So this is not about netlify, I think.

[2017-11-29 18:09] chenopis commented on #6043
When I compare the files that are working to the ones that aren't, I notice that the difference is that the ones that don't work have `---` in them. My crackpot theory is that those are being interpreted as front matter delimiters, so the files are being processed instead of being served raw. I've only looked at it for like two minutes, so we would need to verify.

[2017-11-29 19:47] #6278 closed

[2017-11-29 22:44] pon-raj opened #6497 "Issue with k8s.io/docs/tasks/debug-application-cluster/debug-application/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-11-29 23:02] pon-raj opened #6499 "Create container failed with error: invalid header field value \"oci runtime error: container_linux.go:247"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
container creation fails and "journalctl-f -u docker" has the following error:

Nov 29 22:34:23 edclipad131 dockerd[117106]: time="2017-11-29T22:34:23.127031004Z" level=info msg="{Action=create, LoginUID=4294967295, PID=122482}"
Nov 29 22:34:23 edclipad131 dockerd[117106]: time="2017-11-29T22:34:23.177663243Z" level=info msg="

[2017-11-29 23:27] lm107916 opened #6500 "Issue with k8s.io/docs/tutorials/kubernetes-basics/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-11-30 00:37] jdmarshall opened #6503 "Issue with k8s.io/docs/tasks/access-application-cluster/load-balance-access-application-cluster/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
Insufficient documentation for minikube

Since the rest of the document expects this value to be passed as a parameter, and there is no advice or guidance given regarding Minikube, the user is essentially stuck at this point.

**Proposed Solution:**
What IP address do you use for connecting?

**Page to Update:**
http://kubernet

[2017-11-30 01:43] tengqm commented on #6499
This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the #kubernetes-users channel in Kubernetes slack. You can also search resources like [Stack Overflow](https://stackoverflow.com) for answers to similar questions.
You can also open issues for Kubernetes functionality in https://github.com/kubernetes/kubernetes.

[2017-11-30 01:43] #6499 closed

[2017-11-30 06:07] tengqm opened #6506 "PVCProtection feature not documented"
**This is a...**
[x ] Feature Request

**Problem:**

design doc:  https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/postpone-pvc-deletion-if-used-in-a-pod.md
implementation: kubernetes/kubernetes#55824

**Proposed Solution:**
Add the following documentation to encourage people to try it.
- admission control
- behavior change

**Page to Update:**
http://kuber

[2017-11-30 08:40] #6500 closed

[2017-11-30 08:41] #6497 closed

[2017-11-30 09:11] tengqm commented on #6043
@chenopis Verified your theory. The "`---`" lines do cause the problem. For example, the following produces HTML instead of YAML too:

[code]

[2017-11-30 10:34] JensRantil opened #6512 "Issue with k8s.io/docs/getting-started-guides/aws/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
AWS released https://aws.amazon.com/eks/ yesterday, but it's not listed on k8s.io/docs/getting-started-guides/aws/.

**Proposed Solution:**
I propose we mention the service under k8s.io/docs/getting-started-guides/aws/.

**Page to Update:**
k8s.io/docs/getting-started-guides/aws/

[2017-11-30 16:48] heckj commented on #6043
Thank you @tengqm - I’ll work @chenopis ’s suggestion for a workaround to make those examples functional again

[2017-11-30 18:59] jbauza1984 opened #6514 "Issue with k8s.io/docs/concepts/cluster-administration/logging/"
- [ ] Feature Request
- [x ] Bug Report

**Problem:**
The basic log example does not work. the output of kubectl logs counter does not return anything

**Page to Update:**
https://kubernetes.io/docs/concepts/cluster-administration/logging/

1.8

Kubernetes cluster running in lxd, ubuntu 16.04

[2017-11-30 19:32] jbauza1984 commented on #6514
I use rkt as a container engine and found the problem in the documentation: https://kubernetes.io/docs/getting-started-guides/rkt/notes/

[2017-11-30 19:32] #6514 closed

[2017-12-01 01:21] jbpivotal opened #6525 "Re-name Master Components to a more inclusive synonym"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
The term `Master` in `Master Components` is potentially offensive to people of color and women, and I suggest we use a more inclusive synonym.

**Proposed Solution:**
Suggest renaming to "Primary Components" or "Leader Components"

From [cmu.edu](https://www.cs.cmu.edu/~mjw/Language/NonSexist/vuw.non-sexist-language-guidelines.

[2017-12-01 03:22] #6043 closed

[2017-12-01 03:50] axman6 opened #6528 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-interactive/ - Define term "pod""
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The term pod is introduced without explanation in module 2, step 3 - topics covered so far include the master, nodes, apps, containers and deployments.

**Proposed Solution:**
Define _Pod_ before it is used:

this is the first instance where the term pod has been used.

**Page to Update:**
https://kubernetes.io/docs/tutorials/k

[2017-12-01 07:46] Hardy2015 opened #6529 "Make ConfigMaps Usable in Compact key: value Assignments"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

ConfigMaps are a very cool feature. I'm using it to decouple key/value pairs like
[code]
by replacing ```value``` by
[code]

However, I would also like to replace other attributes in my rc.yaml, that come more compact, like:
[code]

After reading the documentation, I didn't find a way to decouple the "4" in ```cpu``` through a

[2017-12-01 10:13] tengqm commented on #6529
https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/

[2017-12-01 10:13] #6529 closed

[2017-12-01 10:41] Hardy2015 commented on #6529
Hi,

thank you, but I fear, this was a misunderstanding. I don't want to EXPOSE pod information in environment variables. I want to SET pod information by referring to a ConfigMap, where it is specified.
So the config map CM would state ```resourceLimitCpu="4"``` and pods of all replication controllers, that refer to CM, would have this
[code]
setting. This would allow me to set limits to whole cl

[2017-12-01 11:10] tengqm commented on #6529
Use PodPreset then

[2017-12-01 13:41] tengqm commented on #6529
em, PodPreset cannot set resource requirements ... Maybe LimitRange is what you want?

[2017-12-01 16:00] Hardy2015 commented on #6529
Thank you very much. Yes, LimitRange goes into the right direction. However in my given namespace, there are 400 RCs of smaller size and 250 RCs of larger size. Technically, they are the same thing, which is why they live in the same namespace. Apparently, LimitRange only allows me to restrict all namespace inhabitants at the same time.  I tried to distinguish the both through
[code]
But this seem

[2017-12-01 16:02] cjellick opened #6530 "Conflicting docker version instructions"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
Doc contains conflicting instructions regarding docker version.
This line indicates that 17.09 is not one of the officially support docker version:

But then the installation instructions for debian explictly call out version 17.09 for installation.

This is confusing. An unsupported docker version shouldn't be used in the inst

[2017-12-01 22:01] Bradamant3 commented on #6219
Looks great! Might be useful to add something about how/where to ask questions while they're working (as a #4 under either "Select a Document" or "Edit a Document" perhaps) -- they can ask facilitators, or post in the Slack channel -- IOW, encourage discussion/communication while they're working, not just when they're done with a PR.

[2017-12-01 22:13] zacharysarah commented on #6219
@Bradamant3 I added a note under "Doc sprint process":

[2017-12-01 22:22] chenopis commented on #6219
@zacharysarah I would also add in a bit about the overall structure of the site:

Section | Description | Example | Directory
-- | -- | -- | --
Concepts | Help the user gain deeper understanding of your product ("What is X?", "How does X Work?"). | labels and selectors | /docs/concepts/
Tasks | Show a user how to accomplish a specific task, and optionally, different interfaces for doing that task.

[2017-12-01 22:26] chenopis commented on #6219
@zacharysarah And here are the doc templates that they can clone for the Concept, Tasks, and Tutorial sections:
* [/docs/concepts/example-concept-template.md](https://raw.githubusercontent.com/kubernetes/website/master/docs/concepts/example-concept-template.md)
* [/docs/tasks/example-task-template.md](https://raw.githubusercontent.com/kubernetes/website/master/docs/tasks/example-task-template.md)

[2017-12-01 22:28] chenopis commented on #6219
@zacharysarah If they are creating a new doc, then they must also add it to one of the ToC YAML files, see: https://kubernetes.io/docs/home/contribute/write-new-topic/#creating-an-entry-in-the-table-of-contents

[2017-12-01 22:50] chenopis commented on #6219
My comments have been added to the issue description.

[2017-12-02 11:52] tengqm commented on #6529
I see. Apparently LimitRange doesn't have selector support: https://kubernetes.io/docs/api-reference/v1.8/#limitrangespec-v1-core
Maybe you want to file an issue in kubernetes (https://github.com/kubernetes/kubernetes )? This is the documentation project. I closed the issue because it is not a documentation problem.

[2017-12-03 17:29] jheimar opened #6542 "Issue with k8s.io/docs/tutorials/kubernetes-basics/cluster-intro/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-12-04 01:29] ItsPugle opened #6544 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-interactive/"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
The Module 2 description shows that the client and server version is V1.5, yet the terminal outputs V1.8.0 for client and V1.5.2 for the server.

**Proposed Solution:**
I don't know? Maybe having the site fetch the most recent version (I don't know - I'm not a confident developer, hence the tutorial).

**Page to Update:**
https:

[2017-12-04 01:38] #6542 closed

[2017-12-04 15:09] php-coder commented on #6447
@wanghaoran1988 ping :)

[2017-12-04 19:15] natalysheinin opened #6552 "Issue with k8s.io/docs/tasks/run-application/run-single-instance-stateful-application/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem**
As per header, instruction: "Accessing the MySQL instance", "Run a MySQL client to connect to the server:"
Command I ran: ```kubectl run -it --rm --image=mysql:5.6 --restart=Never mysql-client -- mysql -h mysql -ppassword```
I get an error after running this command:
`Error attaching, falling back to logs: unable to upgrade conn

[2017-12-04 19:18] #6552 closed

[2017-12-05 06:19] wanghaoran1988 commented on #6447
release 1.9 branch pr : https://github.com/kubernetes/website/pull/6563
master branch pr: https://github.com/kubernetes/website/pull/6562/
@php-coder PTAL

[2017-12-05 06:46] avdd commented on #2668
You assume **everyone** wants to immediately search for **another page** as soon as they visit **every page**.  That's a very faulty assumption.

[2017-12-05 06:46] avdd opened #6564 "autofocus search stops PageDown functionality"
**This is a...**

- [x ] Bug Report

**Problem:**

Autofocus on the search field stops the PageDown key from doing what it says.  Not everyone uses a macbook.

Please think before doing things like #2668 and #2669

**Proposed Solution:**

Revert #2669.  Try tabindex instead.

[2017-12-05 07:38] gjmzj opened #6566 "Issue with k8s.io/docs/tasks/administer-cluster/declare-network-policy/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
a deploy/nginx with 2 pods which run on different node
`kubectl run nginx --image=nginx --replicas=2 --expose --port=80`

a networkPolicy:

[code]
a deploy/busybox to test accessing to service 'nginx':

`kubectl run busybox --rm -it --image=busybox --labels="access=true" /bin/sh`

and then type `wget --spider --timeout=1 nginx`

[2017-12-05 14:34] iramsey85 opened #6569 "Issue with k8s.io/docs/tasks/access-application-cluster/communicate-containers-same-pod-shared-volume/"
In this article, there is a statement about where the file is being written:
"Notice that the second container writes the index.html file in the root directory of the nginx server."

The configuration file shows that the mount path for the nginx container is /usr/share/nginx/html

And the mount path for the debian container is /pod-data

if the command is     "-c", "echo Hello from the debian cont

[2017-12-05 17:48] aknrdureegaesr opened #6571 "(Minor) issue with k8s.io/docs/reference/generated/kube-apiserver/ : --v not documented"
**This is a...**

- [X] Bug Report

**Problem:**

The `--v` command line switch is used by `kube-apiserver.manifest` as generated by Kops and apparently understood by the API server. So it seems to exist. But it is not documented.

**Proposed Solution:**

Document it.

Particularly beneficial/interesting (but feel free to leave these out for MVP fix of this issue):

* What is the maximal value?
*

[2017-12-05 21:19] akramg2017 opened #6587 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-intro/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-12-05 21:45] Bubblemelon commented on #5993
Third Party Resource has been deprecated. Custom Resource Definition now replaces it. [https://kubernetes.io/docs/tasks/access-kubernetes-api/extend-api-third-party-resource/](https://kubernetes.io/docs/tasks/access-kubernetes-api/extend-api-third-party-resource/)

[2017-12-05 22:28] spzala commented on #4509
@steveperry-53 I will be working on it. Thanks!

[2017-12-06 01:50] souzaal opened #6603 "Issue with k8s.io/docs/tasks/debug-application-cluster/resource-usage-monitoring/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-12-06 01:50] #6603 closed

[2017-12-06 03:10] randyrue opened #6605 "Issue with k8s.io/docs/tutorials/kubernetes-basics/explore-intro/"
**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**
"Start Interactive Tutorial" Link (https://kubernetes.io/docs/tutorials/kubernetes-basics/explore-interactive/) returns a 404

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-12-06 03:24] tonglil commented on #4460
I agree with you that this "basic" example should be updated to use Deployments. It might be just due to the age of when it was written.

[2017-12-06 03:28] liuyingyyll opened #6608 "Issue with k8s.io/docs/tasks/access-application-cluster/web-ui-dashboard/"
**This is a...**

- [ ] Bug Report

**Problem:**
After executing the command "kubectl proxy"
http://localhost:8001/ui doesn't work

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

v1.8.4

[2017-12-06 03:36] tonglil commented on #5822
The whole Services page is a bit of a mess to read and comprehend right now, especially for new users. There is information about system-level choices like kube-proxy to user-level things like DNS, service types, and selectors.

I propose that the content on the current Services page gets reorganized and broken down into these subsections:

- Services, Load Balancing, and Networking > Services
  1

[2017-12-06 04:07] chenopis commented on #5993
I just added:
- [ ] Aggregation Layer
- [ ] Certificate
- [ ] Cloud Controller Manager (CCM)
- [ ] Cloud Provider
- [ ] Container Environment Variable
- [ ] Container Lifecycle Hook
- [ ] Controller Manager
- [ ] Custom Resource Definition
- [ ] Device Plugin
- [ ] Disruption
- [ ] Dynamic Volume Provisioning
- [ ] Extension
- [ ] Federation
- [ ] Garbage Collection
- [ ] HostAliases
- [ ] Init Co

[2017-12-06 05:57] bowei commented on #5822
@tonglil -- lgtm

[2017-12-06 21:56] cts1975 opened #6612 "kube-registry-proxy.yaml’: No such file or directory"
**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**
Following the guide does not work as the provided script looks for a salt directory which is not there!

cp: cannot stat ‘./cluster/saltbase/salt/kube-registry-proxy/kube-registry-proxy.yaml’: No such file or directory

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

Please revise your page and allow this

[2017-12-07 00:56] stewart-yu commented on #6612
can you provide `Page to Update`?

[2017-12-07 02:05] tengqm commented on #6571
@aknrdureegaesr Can you report an issue to kubernetes/kubernetes project? The reference docs are generated from the source code directly and then copied here. So ... this issue is not a website one.

[2017-12-07 09:04] cts1975 commented on #6612
Apologies @stewart-yu, I was following this guide: https://kubernetes.io/docs/getting-started-guides/libvirt-coreos/ and I have tried both the automatic and the manual approach.

Hopefully this will help,

Charles

[2017-12-07 12:20] stewart-yu commented on #6612
I think you are run `command` in wrong directory, you must in `/kubernetes` directory .

[2017-12-07 16:04] quantum-fusion opened #6615 "Issue with k8s.io/docs/tasks/inject-data-application/define-command-argument-container/"
**This is a...**

- [ x] Feature Request
- [ ] Bug Report

**Problem:**

The problem is that the arguments being passed into a POD do not work like Docker.

https://stackoverflow.com/questions/47697169/how-does-argument-passing-in-kubernetes-work

https://groups.google.com/forum/#!topic/kubernetes-users/XzfuAsiVXLk

A problem:

Docker arguments will pass from command line:

docker run -it -p 8080:

[2017-12-07 18:42] cts1975 commented on #6612
@stewart-yu I'm pretty sure it's not because of the above. I can confirm I am running the command from the kubernetes directory like it says in the guide ./cluster/kube-up.sh

here is the output of the error, it's clear it's looking for a salt directory and a yaml file for the registry-proxy...
[code]

Hope this helps, thanks again for any help.

Charles

[2017-12-07 18:46] cts1975 commented on #6612
quick update, I've just checked the github repo and can see that it has the saltbase directory in there. I'm going to clone from github and try using the latest git pull. I'll update and let you know if this works. Thanks

[2017-12-08 02:16] islinwb commented on #6608
@liuyingyyll Did you deploy your cluster in VM and browse the "http://localhost:8001/ui" in Windows? If that's the case, you need to add the VM ip, like
`kubectl proxy --address='x.x.x.x'`.
You can also set the port with `--port=x`.

[2017-12-08 09:27] cts1975 commented on #6612
I copied the saltbase folder from the git pull into the vagrant folder that is created using the script and this did indeed kick on the installation and work. Unfortunately I had some issues with networking that I need time to resolve but I'm confident this can be fixed now.

[2017-12-08 22:40] BenHall commented on #6605
Thank you for the bug report. Could you take another look at let us know if this happens again?

[2017-12-08 22:42] BenHall commented on #6544
Thank you for letting us know. We thought we had removed all the version information. We'll get this updated ASAP.

[2017-12-08 22:42] BenHall commented on #6528
Thank you for the feedback. This is a great idea. We'll look at how we can do this.

[2017-12-09 04:54] ItsPugle commented on #6544
Cheers! I'll leave you to close them once you've done that :)

[2017-12-09 12:46] cts1975 commented on #6612
I still can't get this to work.. It gets to the point where it's created the pool, networks, master and minions but just sits on wait for cluster readiness. I can ping the gateway of both the kubernetes networks it creates but I can ping the nodes. Not sure if this is some some of NAT or network issue. I've tried to look through the config but nothing is jumping out at me. If any one has any ideas

[2017-12-11 02:26] cgixer opened #6640 "Issue with k8s.io/docs/home/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-12-11 03:31] #6640 closed

[2017-12-11 04:07] chakri-nelluri opened #6641 "Update Flex volume docs to represent it is GA"
- [ ] Feature Request
- [x] Bug Report

/kind bug

Flex volume docs still stay the feature is Alpha. We made it GA in Kube 1.8 time frame. We have to update the docs to reflect it.

/sig storage

https://kubernetes.io/docs/concepts/storage/volumes/
https://github.com/kubernetes/community/blob/master/contributors/devel/flexvolume.md

Kubernetes version: 1.9 or master

[2017-12-11 04:07] chakri-nelluri commented on #6641
@saad-ali @shay-berman Create new docs issue

[2017-12-11 04:16] spzala commented on #4509
@steveperry-53 after flight cancel due to weather and going through new travel arrangements, finally got back home from KubeCon :). Just a quick update that I have started working on it and hopping to create a PR soon. Thanks!

[2017-12-12 00:09] Routhinator opened #6655 "Issue with k8s.io/docs/getting-started-guides/vsphere/"
What is "the shared directory"? This is far too ambiguous. It sounds like something that should exist and yet I cannot find mention of it anywhere.

Where do I put the vsphere.conf file??

[2017-12-12 10:01] lchb369 opened #6661 "Issue with k8s.io/docs/tutorials/kubernetes-basics/cluster-interactive/"
**This is a...**

- [x] Feature Request
- [x] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-12-12 13:11] aknrdureegaesr commented on #6571
Done as https://github.com/kubernetes/kubernetes/issues/57098 .

Unsure: Is that enough, so we close this one, or shall we keep this one open?

[2017-12-12 19:16] ahmetb opened #6664 "Issue with k8s.io/docs/concepts/workloads/pods/disruptions/"
I think I found a problem with Pod Disruption Budget's [example section](https://kubernetes.io/docs/concepts/workloads/pods/disruptions/#pdb-example).

It still lists `pod-b` as available even though it's evicted (or _terminating_?).

/assign @erictune
Can you please take a look?

https://kubernetes.io/docs/concepts/workloads/pods/disruptions/#pdb-example

[2017-12-13 05:49] aburdenthehand commented on #6506
I'm still new to these parts but I think this was covered in #6415

[2017-12-13 07:49] tengqm commented on #6506
@aburdenthehand thanks, this in fact can be closed now.

[2017-12-13 07:49] #6506 closed

[2017-12-13 08:21] liuyingyyll opened #6672 "Issue with k8s.io/docs/getting-started-guides/ubuntu/"
conjure-up kubernetes failed
**This is a...**
- [ ] Bug Report

**Problem:**
conjure-up kubernetes failed:E: Unable to locate package kubernetes

DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=16.04
DISTRIB_CODENAME=xenial
DISTRIB_DESCRIPTION="Ubuntu 16.04.3 LTS"

[2017-12-13 08:23] liuyingyyll commented on #6608
This issue can be solved through https://github.com/kubernetes/dashboard/wiki/Accessing-Dashboard---1.7.X-and-above

[2017-12-13 08:23] #6608 closed

[2017-12-13 12:52] kumarganesh2814 opened #6673 "Issue with k8s.io/docs/tasks/debug-application-cluster/debug-cluster/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**

After Master VM reboot not able to access application through Service which is there.

For Ex:

Deployed a tomcat app with Nodeport Service  on HA cluster. All works fine able to access app on

MASTER1-IP:NodePort
MASTER2-IP:NodePort
MASTER3-IP:NodePort

Now due to patching Master1 VM need reboot. After VM reboot and starting

[2017-12-13 16:25] php-coder commented on #6447
Could it be closed or there is still something left?

[2017-12-13 17:22] ongkoloro opened #6677 "Issue with k8s.io/docs/concepts/configuration/overview/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-12-13 18:53] anubhakushwaha commented on #5941
@zacharysarah can I help on this? Further can you guide me a little on what all you want to be done? Thanks a lot.

[2017-12-15 10:57] JCzz commented on #5818
I just got the same issue running on Kubernetes on Google following this example: https://kubernetes.io/docs/tasks/run-application/run-single-instance-stateful-application/

kubectl create -f mysql-deployment.yaml

service "mysql" created
persistentvolumeclaim "mysql-pv-claim" created
error: error validating "mysql-deployment.yaml": error validating data: unknown object type schema.GroupVersionKin

[2017-12-15 14:18] BastienL opened #6682 "Issue with k8s.io/docs/setup/independent/create-cluster-kubeadm/#pod-network"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**

The guide for `flannel` as a pod network recommends to apply `https://raw.githubusercontent.com/coreos/flannel/v0.9.1/Documentation/kube-flannel.yml`. However, the spec for the `kube-flannel` container in the DaemonSet do not set resources requests and limits. As a result, the `kube-flannel-ds` pods will have a QoS class of Bes

[2017-12-15 19:54] serewicz opened #6685 "Issue with k8s.io/docs/concepts/overview/kubernetes-api/"
**This is a...**

- [ ] Feature Request
- [ X] Bug Report

**Problem:**
The documentation about swagger-ui is no longer accurate with v1.8.2. It says:

`You can also enable a UI to browse the API documentation at /swagger-ui by passing the --enable-swagger-ui=true flag to apiserver.`

If you do this the api server stops responding.  The journalctl output has many errors such as:
`Dec 15 19:45:44 l

[2017-12-18 09:27] seivan opened #6696 "Issue with k8s.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/"
- [x] Bug Report

**Problem:**
It seems like the [API-REF](https://v1-8.docs.kubernetes.io/docs/api-reference/v1.9) for `1.9` is not available, thus breaking a lot of links in the documentation. E.g at the bottom of https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/

**Proposed Solution:**
Deploy the `API-REF` for `1.9` or downgrade the links to `

[2017-12-18 13:45] BenHall commented on #6661
/close

[2017-12-18 14:42] #6661 closed

[2017-12-18 18:57] mistyhacks commented on #6098
I think #6442 closes this, right?

[2017-12-18 20:37] bacongobbler commented on #6098
Yes, it does look like #6442 clarifies and closes this issue.

[2017-12-18 21:05] kuanghaochina opened #6702 "Issue with k8s.io/docs/tasks/federation/set-up-cluster-federation-kubefed/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
After ran
curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/kubernetes-client-linux-amd64.tar.gz
and decompressed the tar.gz file and **kubefed** could not be found under the folder.

And found that https://storage.googleapis.com/ku

[2017-12-18 22:24] ryanmcginnis opened #6704 "Old-format links to API documentation do not redirect as expected"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
URLs for Kubernetes' API documentation have changed to this format:
`https://v1-8.docs.kubernetes.io/docs/api-reference/v1.8/`

Old links look like this:
`https://kubernetes.io/docs/resources-reference/v1.8/#podspec-v1-core`

These old links do not redirect as expected. Instead, they redirect to `https://v1-8.docs.kubernetes.io/

[2017-12-18 22:29] steveperry-53 commented on #6704
Need to update _redirects file.

[2017-12-18 23:47] #6704 closed

[2017-12-19 05:30] nikhita opened #6707 "kubectl patch docs don't mention json patch"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

https://kubernetes.io/docs/tasks/run-application/update-api-object-kubectl-patch/ does not mention how to use json patch. It only mentions strategic merge patch and json merge patch.

Note: The cheatsheet (https://kubernetes.io/docs/reference/kubectl/cheatsheet/) mentions the use of json patch. IMO if the cheatsheet mentions i

[2017-12-19 06:59] tengqm commented on #6098
Closing this. Please feel free to reopen if it is believed that the issue is not solved yet.

[2017-12-19 06:59] #6098 closed

[2017-12-19 08:46] liuyingyyll opened #6709 "Issue with k8s.io/docs/tasks/configure-pod-container/pull-image-private-registry/"
- [ ] Bug Report
Doesn't work in k8s 1.9.0 version

**Problem:**
This works well in k8s 1.8.x, but doesn't work in 1.9.0

1.9.0

Failed to pull image "caas2.docker.repositories.sap.ondemand.com/shipping-service:v1": rpc error: code = Unknown desc = Error response from daemon: Get https://caas2.docker.repositories.sap.ondemand.com/v2/shipping-service/manifests/v1: unknown: Authentication is require

[2017-12-19 14:50] aries-zhang opened #6710 "Issue with k8s.io/docs/setup/independent/install-kubeadm/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
```apt-get install kubeadm ...``` in this page does not work in China because of [GFW](https://en.wikipedia.org/wiki/Great_Firewall).

**Proposed Solution:**
Put all resources needed to spin up a kubernetes cluster to somewhere that GFW does not block, and this can make Chinese coder's life muuuuuuuch easier.

So far, apt's off

[2017-12-19 18:37] rowleyaj commented on #5930
I've attempted to implement a solution to this in #6712.

This part works by default

This part requires setting data on the page as to where to send the person.

[2017-12-19 19:04] rowleyaj commented on #6530
@cjellick, this was changed to 17.09 in #6430 due to the issue reported on #6113. However it looks to have been changed back for the 1.9 release in this PR: https://github.com/kubernetes/website/pull/6645/files#diff-6144d8041be16a6621e6f0e82a35f661R100

Since thats the case I think this can be closed out?

[2017-12-19 21:52] dims commented on #6707
@nikhita Go for it!

[2017-12-20 00:30] joewilliams opened #6714 "Issue with k8s.io/docs/admin/high-availability/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

It doesn't seem possible to take a cluster created with https://v1-8.docs.kubernetes.io/docs/setup/independent/create-cluster-kubeadm/ and "upgrade" it to multi-master following https://v1-8.docs.kubernetes.io/docs/admin/high-availability/

Things like the etcd data path, api server path for keys and etc are mismatched with wh

[2017-12-20 05:02] franklinyu commented on #729
/remove-lifecycle stale

[2017-12-20 05:21] #2196 closed

[2017-12-20 05:50] MHBauer commented on #996
wow. old. I don't remember what the issue is and my references are all stale.

/close

[2017-12-20 05:50] #996 closed

[2017-12-20 09:19] #928 closed

[2017-12-20 11:18] manikantag opened #6719 "Added Ingress details in 'Connecting Applications with Services' documentation"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
Missing info about Ingress controller

**Proposed Solution:**
**Add info about Ingress controller**. Mentioning details about other way of accessing the services using Ingress will help a lot for starters. At least a para and link to the Ingress controller doc.

Ingress has added benefits line load balancing, SSL termination an

[2017-12-20 13:36] #1564 closed

[2017-12-20 13:48] thkoch2001 commented on #1559
/remove-lifecycle stale
/lifecycle frozen

[2017-12-20 13:54] ptrpov opened #6720 "Issue with k8s.io/docs/tutorials/stateless-application/hello-minikube/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-12-20 15:46] #1012 closed

[2017-12-20 23:57] parispittman opened #6724 "Hide the 2nd community calendar"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**
We have two calendars on the community area of the kubernetes.io site. The SIG one (top) is highly in use and should remain; however, the bottom 'k8s community calendar' for events is not in use. We would like to use this in the future but need to talk about content strategy. It gives off a bad impression as blank on the site an

[2017-12-21 00:26] #1958 closed

[2017-12-21 04:11] ahmetb commented on #2490
Issue no longer valid, closing.

[2017-12-21 04:11] #2490 closed

[2017-12-21 09:24] ChillarAnand commented on #2441
/lifecycle frozen

[2017-12-21 09:28] tommysvensson0 commented on #5818
@JCzz Have you gotten through that? I'm having the exact same issue with the exact same application and can't figure out why.

[2017-12-21 09:28] nikhita commented on #6720
Invalid issue.

/close

[2017-12-21 09:28] #6720 closed

[2017-12-21 10:15] nikhita commented on #5993
It would be nice to have a glossary for `Custom Resources` as well. Most users who search for CRDs would want to search for `Custom Resources` as well.

[2017-12-21 10:55] #2425 closed

[2017-12-21 11:52] Qpenny opened #6729 "Issue with k8s.io/docs/tutorials/kubernetes-basics/explore-intro/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-12-21 11:55] Qpenny opened #6730 "Issue with k8s.io/docs/tutorials/kubernetes-basics/explore-intro/"
**This is a...**

- [x] Feature Request
- [x] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-12-21 12:00] Qpenny opened #6731 "Issue with k8s.io/docs/tutorials/kubernetes-basics/explore-intro/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-12-21 12:04] Qpenny commented on #6731
good

[2017-12-21 12:06] Qpenny opened #6732 "Issue with k8s.io/docs/tutorials/kubernetes-basics/explore-interactive/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-12-21 12:16] #6732 closed

[2017-12-21 12:16] #6731 closed

[2017-12-21 12:16] #6730 closed

[2017-12-21 12:17] #6729 closed

[2017-12-21 21:03] JCzz commented on #5818
Hi tommysvensson0
Nope, that one is still not clear to me. But I have a Scylla(Cassandra like db) database running with PersistentVolume.

[2017-12-21 23:32] xsgordon commented on #1600
/assign xsgordon

[2017-12-21 23:33] xsgordon commented on #1600
/unassign xsgordon

[2017-12-22 02:15] mattmoor opened #6737 "Issue with k8s.io/docs/admin/extensible-admission-controllers/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
This page should talk about surfacing dynamic admission control failures via `metadata.initializers.status` (from [here](https://godoc.org/k8s.io/apimachinery/pkg/apis/meta/v1#Initializers))

**Proposed Solution:**
Document how to surface errors.

**Page to Update:**
https://kubernetes.io/docs/admin/extensible-admission-control

[2017-12-22 07:24] tengqm commented on #1662
This is no longer an issue. Please feel free to reopen it if the problem persists.

[2017-12-22 07:24] #1662 closed

[2017-12-22 07:27] tengqm commented on #1909
This issue has been solved properly in #3494.

[2017-12-22 07:27] #1909 closed

[2017-12-22 08:08] tengqm commented on #2451
This is about a pretty old annotation replaced now by the `storageClass` field. If you set the the field to "", it explicitly forbids the dynamic provisioning of volumes.

[2017-12-22 08:08] #2451 closed

[2017-12-22 08:36] tommysvensson0 commented on #5818
@JCzz I figured out that I had an older version of kubernetes api on my server (default in google cloud) and got it working.
changed from this:
apiVersion: apps/v1beta2 # for versions before 1.8.0 use apps/v1beta1
to this:
apiVersion: apps/v1beta1 # for versions before 1.8.0 use apps/v1beta1

[2017-12-22 11:04] xuhuigithub opened #6743 "Issue with /docs/tutorials/kubernetes-basics/update-interactive/"
Are there restrictions on the log of the rolling upgrade

**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-12-22 12:56] martinmosegaard opened #6744 "Link to kubeadm reference guide broken"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
Link to kubeadm reference guide broken.

In step (2/4) Initializing your master, the link here is broken:
"Please refer to the kubeadm reference guide if you want to read ..."

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/
backed by:
docs/setup/independent/crea

[2017-12-22 13:35] #1427 closed

[2017-12-22 13:37] luxas commented on #1659
/remove-lifecycle stale

SIG Cluster Lifecycle is looking into reprioritizing this in 2018

[2017-12-22 13:37] luxas commented on #1659
cc @kubernetes/sig-cluster-lifecycle-feature-requests

[2017-12-22 14:13] franck-roland opened #6745 "Issue with k8s.io/docs/tutorials/kubernetes-basics/cluster-interactive/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Click on Start scenario button does not work. (linux)(Google chrome Version 62.0.3202.94 (Build officiel) (64 bits))

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/tutorials/kubernetes-basics/cluster-interactive/

[2017-12-22 14:54] EwanValentine commented on #2325
Are CRON tasks usable yet? Can't get this feature working :S

[2017-12-22 19:25] mgillis opened #6751 "Adblocker causes problem with simulated tutorial"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
'Start Scenario' fails when uBlock Origin is running in Google Chrome (63; osx).

**Proposed Solution:**
Add notice to page saying that adblockers may interfere with the operation of the page.

**Page to Update:**
https://kubernetes.io/docs/tutorials/kubernetes-basics/cluster-interactive/

[2017-12-22 21:13] kvaps opened #6752 "Bridget (L2 networks and linux bridging driver)"
**This is a...**

- [X] Feature Request
- [ ] Bug Report

**Page to Update:**
https://kubernetes.io/docs/concepts/cluster-administration/networking/#l2-networks-and-linux-bridging

Hi, you wrote there

I tell. I was needed in simple solution for running pods in one flat L2-network. No routes and no politics, just dumb bridges and one L2-domain.
I have tried a lot of solutions for that, but not one

[2017-12-22 21:53] craigbox commented on #2561
/remove-lifecycle stale
/lifecycle frozen

[2017-12-22 23:27] umurkontaci opened #6754 "Issue with k8s.io/docs/concepts/services-networking/ingress/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Ingress documentation https://kubernetes.io/docs/concepts/services-networking/ingress/ contains a link to a project (https://github.com/kubernetes/contrib/tree/master/service-loadbalancer) that is deprecated.

**Proposed Solution:**
Update the link and the docs to point https://github.com/kubernetes/ingress-nginx/blob/master/do

[2017-12-23 11:14] dungeonmaster18 opened #6758 "Netlify deploy preview failing."
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
Netlify deploy previw fails. It's failing on master as well.

Error

[code]

**Proposed Solution:**
Fix this as soon as possible high priority.

Cc @zacharysarah @steveperry-53 .

[2017-12-23 17:50] chrislovecnm commented on #1659
You added the stale label btw

[2017-12-24 04:05] tengqm commented on #1040
/remove-lifecycle stale
/lifecycle frozen

[2017-12-24 06:25] #542 closed

[2017-12-24 07:07] #6744 closed

[2017-12-24 07:08] #6754 closed

[2017-12-24 08:20] tengqm commented on #2333
/lifecycle frozen
/remove-lifecycle stale

[2017-12-24 08:32] tengqm commented on #1604
This issue is too old to fix. Lots of things changed in the area of federation.

[2017-12-24 08:32] #1604 closed

[2017-12-24 08:33] tengqm commented on #1711
There is clearly a new tool kubefed for this job now.

[2017-12-24 08:33] #1711 closed

[2017-12-24 08:39] tengqm commented on #1406
This issue is not supposed to be fixed from website side. The docs are copied from upstream kubernetes/kubernetes project. Please file an issue there if the problem still persists.

[2017-12-24 08:39] #1406 closed

[2017-12-24 08:40] tengqm commented on #1398
The deprecated flag is now removed. There is no need to fix it.

[2017-12-24 08:40] #1398 closed

[2017-12-24 08:41] #2444 closed

[2017-12-24 08:43] tengqm commented on #1571
The referenced doc has been fixed. A quick search of all 'limits.yaml' file referenced in the text are properly fixed with a valid url.

[2017-12-24 08:43] #1571 closed

[2017-12-24 08:44] tengqm commented on #1756
/remove-lifecycle stale
/lifecycle frozen

[2017-12-24 09:04] tengqm commented on #1981
This restriction is mostly due to implementation. With Parallel management policy introduced since v1.7, there is no such restriction.

[2017-12-24 09:04] #1981 closed

[2017-12-24 09:08] tengqm commented on #1908
This has been fixed long time ago.

[2017-12-24 09:08] #1908 closed

[2017-12-24 09:39] tengqm commented on #3681
issue solved.

[2017-12-24 09:39] #3681 closed

[2017-12-24 09:40] tengqm commented on #3735
/remove-lifecycle stale
/lifecycle frozen

[2017-12-24 18:07] Hariprasadnaidu opened #6763 "Issue with k8s.io/docs/setup/independent/troubleshooting-kubeadm/"
Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that some required packages have not yet been created
or been moved out of Incoming.
The following information may help to resolve the situation:

The following pack

[2017-12-25 03:10] tengqm commented on #6758
Fixed.

[2017-12-25 03:10] #6758 closed

[2017-12-25 03:34] tengqm commented on #2595
/remove-lifecycle stale
/lifecycle frozen

[2017-12-25 03:57] tengqm commented on #2497
/remove-lifecycle stale
/assign

[2017-12-25 04:05] tengqm commented on #2453
This has been fixed.

[2017-12-25 04:05] #2453 closed

[2017-12-25 06:39] tengqm commented on #2397
/remove-lifecycle stale

[2017-12-25 07:25] tengqm commented on #2385
/remove-lifecycle stale
/assign

[2017-12-25 07:34] tengqm commented on #2353
#2899 has addressed this issue.

[2017-12-25 07:34] #2353 closed

[2017-12-25 07:37] tengqm commented on #2103
/remove-lifecycle stale

[2017-12-25 09:11] tengqm commented on #2023
This is not a documentation issue. Please try report an issue to https://github.com/kubernetes/kubeadm/issues

[2017-12-25 09:11] #2023 closed

[2017-12-25 11:17] tengqm commented on #1817
/remove-lifecycle stale
/lifecycle frozen

[2017-12-25 11:21] tengqm commented on #1186
Looks like all API groups/resources are documented now.

[2017-12-25 11:21] #1186 closed

[2017-12-25 11:22] tengqm commented on #1473
v1.4 is not maintained any more.
/close

[2017-12-25 11:22] #1473 closed

[2017-12-25 11:23] tengqm commented on #1407
/remove-lifecycle stale
/lifecycle frozen

[2017-12-25 17:01] luxas commented on #1659
@chrislovecnm Sorry, I don't understand your comment?

[2017-12-25 17:33] luxas commented on #1733
ping @jszczepkowski @fgrzadkowski @chrislovecnm @kubernetes/sig-cluster-lifecycle-pr-reviews for a status on this
cc @errordeveloper

[2017-12-26 02:19] tengqm commented on #3656
@ahmetb   is this still an issue?

[2017-12-26 03:12] tengqm commented on #6710
This is not a documentation issue. Please try raise a request in kubernetes/kubernetes and notify the sig-release team.

[2017-12-26 03:12] #6710 closed

[2017-12-26 03:18] tengqm commented on #1973
/remove-lifecycle stale
/lifecycle frozen

[2017-12-26 03:22] tengqm commented on #1294
is this still an issue, @ryansavino ?

[2017-12-26 03:23] tengqm commented on #1294
Closing this because it is not a documentation issue. Please feel free to raise an issue against kubernetes/kubernetes project if the issue is still not solved.

[2017-12-26 03:23] #1294 closed

[2017-12-26 03:27] tengqm commented on #1286
/remove-lifecycle stale
/lifecycle frozen

[2017-12-26 03:27] tengqm commented on #1286
/assign

[2017-12-26 05:52] #5236 closed

[2017-12-26 18:45] joshbrand opened #6772 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-interactive/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Text reads

but `kubectl version` output show 1.8/1.5:

[code]

**Proposed Solution:**
Update demo server version or text to reflect differences

**Page to Update:**
http://kubernetes.io/...

[2017-12-26 23:03] Spookyyoulikeaghost opened #6773 "Dude"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-12-26 23:10] #6773 closed

[2017-12-27 02:35] tengqm commented on #2180
/remove-lifecycle stale

[2017-12-27 02:58] tengqm commented on #3712
/remove-lifecycle stale

[2017-12-27 02:58] tengqm commented on #3712
/assign

[2017-12-27 03:01] tengqm commented on #834
Closing for 1) problem outdated, annotation is deprecated; 2) issue fixed already.

[2017-12-27 03:01] #834 closed

[2017-12-27 03:17] tengqm commented on #2112
/remove-lifecycle stale

[2017-12-27 03:17] tengqm commented on #2112
/lifecycle frozen

[2017-12-27 03:29] tengqm commented on #1558
/remove-lifecycle stale

[2017-12-27 03:33] tengqm commented on #1558
There is currently syntax for embedding yaml manifests in the markdown documents, for example:

[code]
This syntax will have the yaml file embedded in the webpage while at the same time provide a link for readers to download and try the example.
With https://github.com/kubernetes/website/pull/6546 merged, we can enforce syntax checking when new manifests are added.

Please feel free to reopen this

[2017-12-27 03:33] #1558 closed

[2017-12-27 03:40] tengqm commented on #2045
Is this still an issue?

[2017-12-27 03:41] tengqm commented on #1648
The TPR resource is gone.

[2017-12-27 03:41] #1648 closed

[2017-12-27 03:48] tengqm commented on #1960
Closing because this issue is not pointing us to a specific section of the website to fix. After a quick 'grep' over the website, I'm unable to identify sections where we are using RC while Deployment is more appropriate. Please feel free to reopen this if there is a case we are missing.

[2017-12-27 03:48] #1960 closed

[2017-12-27 14:27] SirMcPotato commented on #6745
Had the same issue, then I disabled my ad blocker and it worked perfectly.

[2017-12-27 17:22] ahmetb commented on #3656
It is.

[2017-12-27 20:50] crw commented on #2288
:(

[2017-12-28 12:40] intosomethin opened #6782 "Issue with k8s.io/editdocs/"
**This is a...**

- [ ] Feature Request
- [ X] Bug Report

**Problem:**

The following example command misses IMHO parenthesis and a parameter:
The echo command needs ' ' or \\ for the whitespace.
The parameter before "/bin/sh -c" is missing. There is just a "--".

$ kubectl run hello --schedule="*/1 * * * *" --restart=OnFailure --image=busybox -- /bin/sh -c \\
"date; echo Hello from the Kubernete

[2017-12-28 21:16] #5930 closed

[2017-12-28 21:37] #4509 closed

[2017-12-28 22:31] techtonik commented on #1415
/remove-lifecycle stale

[2017-12-29 01:19] tengqm commented on #1362
/remove-lifecycle stale
/lifecycle frozen
/assign

[2017-12-29 01:28] gkop commented on #2045
I could not replicate just now.

[2017-12-29 01:28] #2045 closed

[2017-12-29 01:36] tengqm commented on #1911
/remove-lifecycle stale
/lifecycle frozen

[2017-12-29 01:38] tengqm commented on #1461
/remove-lifecyle stale
/lifecycle frozen

[2017-12-29 01:39] tengqm commented on #1461
/remove-lifecycle stale

[2017-12-29 02:23] tengqm commented on #1911
related: #1461

[2017-12-29 05:41] sivashankerN opened #6788 "Issue with k8s.io/docs/tutorials/kubernetes-basics/expose-interactive/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
After exposing a service, I do not see External IP of the Node.

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-12-29 05:56] sivashankerN opened #6789 "Issue with k8s.io/docs/tutorials/kubernetes-basics/expose-interactive/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
kubectl get pods <--Option> run=keubernetes-bootcamp

Confusion with "option/flag" in the above command. The option looks like 1 in the command.
When we type command manually on the provided terminal,  there is little confusion. But when we click on the command that you have provided on the left side panel it works fine.

**Pro

[2017-12-29 06:07] oule opened #6790 "Issue with clusterip cannot communicate between node1 and node2"
10.1.1.171 proxmox ve vm ----master and node1
10.1.1.172 proxmox ve vm ----node2
os:CentOS Linux release 7.3.1611
docker:1.12.6
kubernetes:1.5.2-0.7.git269f928
flannel:0.7.1-2
[code]
[code]
question：
only access to self's pod ip is ok by clusterip
How to solve？
thanks！

[2017-12-29 06:08] zhangxiaoyu-zidif commented on #6789
this is l, meaning label. The option will help select pod by label.

[2017-12-29 06:09] zhangxiaoyu-zidif commented on #6789
![image](https://user-images.githubusercontent.com/5154334/34430610-c65e8c68-eca1-11e7-9f9b-35aec1fcc936.png)
you can input `kubectl get pods kubernetes-bootcamp-390780338-st3vd -o yaml` to inspect all the details.

[2017-12-29 06:15] oule commented on #6790
[root@master ~]# curl 172.17.102.3
172.17.102.3   10.1.1.172

[root@node1 ~]# curl 172.17.59.3
172.17.59.3    10.1.1.171

[2017-12-29 06:16] oule commented on #6790
[root@master ~]# curl 172.17.102.3
172.17.102.3 10.1.1.172

[root@node2 ~]# curl 172.17.59.3
172.17.59.3 10.1.1.171

[2017-12-29 06:20] oule commented on #6790
[root@master ~]# iptables -nvL
Chain INPUT (policy ACCEPT 39 packets, 6882 bytes)
 pkts bytes target     prot opt in     out     source               destination
  26M   17G KUBE-FIREWALL  all  --  *      *       0.0.0.0/0            0.0.0.0/0

Chain FORWARD (policy ACCEPT 0 packets, 0 bytes)
 pkts bytes target     prot opt in     out     source               destination
   12   841 DOCKER-ISOLATI

[2017-12-29 06:21] oule commented on #6790
[root@node2 ~]# iptables -nvL
Chain INPUT (policy ACCEPT 1 packets, 92 bytes)
 pkts bytes target     prot opt in     out     source               destination
2060K 1036M KUBE-FIREWALL  all  --  *      *       0.0.0.0/0            0.0.0.0/0

Chain FORWARD (policy ACCEPT 0 packets, 0 bytes)
 pkts bytes target     prot opt in     out     source               destination
29718   42M DOCKER-ISOLATION

[2017-12-29 06:21] oule commented on #6790
[root@node2 ~]# iptables -nvL -t nat
Chain PREROUTING (policy ACCEPT 0 packets, 0 bytes)
 pkts bytes target     prot opt in     out     source               destination
 209K   20M KUBE-SERVICES  all  --  *      *       0.0.0.0/0            0.0.0.0/0            /* kubernetes service portals */
    2   104 DOCKER     all  --  *      *       0.0.0.0/0            0.0.0.0/0            ADDRTYPE match d

[2017-12-29 06:41] sivashankerN commented on #6789
Thanks @zhangxiaoyu-zidif

[2017-12-29 06:43] zhangxiaoyu-zidif commented on #6790
/assign @jianglingxia

[2017-12-29 06:48] zhangxiaoyu-zidif commented on #6790
could you show more details about your yamls and I am not sure somewhere goes wriong...

[2017-12-29 06:54] tengqm commented on #6790
looks like you have configured service cluster ip range to be 169.254.*, but your pod ip range is 172.17.*. How are you expecting the 169.254.* packets to be routed?

[2017-12-29 07:15] oule commented on #6790
apiVersion: v1
kind: ReplicationController
metadata:
  name: nginx-rc
spec:
  replicas: 2
  template:
    metadata:
      name: nginx-rc
      labels:
        app: nginx-rc
    spec:
      containers:
      - name: nginx-rc
        image: nginx
        imagePullPolicy: Never
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: 10m
---
apiVersion: v1
ki

[2017-12-29 07:16] oule commented on #6790
`apiVersion: v1
kind: ReplicationController
metadata:
  name: nginx-rc
spec:
  replicas: 2
  template:
    metadata:
      name: nginx-rc
      labels:
        app: nginx-rc
    spec:
      containers:
      - name: nginx-rc
        image: nginx
        imagePullPolicy: Never
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: 10m
---
apiVersion: v1
k

[2017-12-29 07:17] oule commented on #6790
kind: ReplicationController
metadata:
  name: nginx-rc
spec:
  replicas: 2
  template:
    metadata:
      name: nginx-rc
      labels:
        app: nginx-rc
    spec:
      containers:
      - name: nginx-rc
        image: nginx
        imagePullPolicy: Never
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: 10m
---
apiVersion: v1
kind: Service
met

[2017-12-29 07:22] oule commented on #6790
@tengqm
169.254.*是集群服务ip，是虚的，由iptables做nat转换的。

[2017-12-29 07:26] oule commented on #6790
抓包分析，倒是看出点问题，但是通过ethtool解决了，还是访问超时：
[root@node2 ~]# tcpdump -nn -qvv -i any port 8285
tcpdump: listening on any, link-type LINUX_SLL (Linux cooked), capture size 262144 bytes
15:25:10.366031 IP (tos 0x0, ttl 64, id 7745, offset 0, flags [DF], proto UDP (17), length 80)
    10.1.1.172.8285 > 10.1.1.171.8285: [bad udp cksum 0x17a6 -> 0x9a4b!] UDP, length 52
15:25:11.368072 IP (tos 0x0, ttl 64, id 85

[2017-12-29 07:28] oule commented on #6790
期待前辈帮忙解决 :)

[2017-12-29 07:33] oule commented on #6790
[root@node2 ~]# curl 169.254.47.160
curl: (7) Failed connect to 169.254.47.160:80; Connection timed out

[root@node2 ~]# tcpdump -nn -qvv -i any port 80
tcpdump: listening on any, link-type LINUX_SLL (Linux cooked), capture size 262144 bytes
15:31:42.770642 IP (tos 0x0, ttl 64, id 39003, offset 0, flags [DF], proto TCP (6), length 52)
    10.1.1.172.16127 > 172.17.59.3.80: tcp 0
15:31:43.771872 IP

[2017-12-29 07:44] oule commented on #6790
@zhangxiaoyu-zidif
谢谢帮我排版，我看了下你帮我排过版的，使用` ` ` shell对吧

[2017-12-29 07:59] zhangxiaoyu-zidif commented on #6790
@oule  you‘re welcome~ =）

[2017-12-29 08:03] zhangxiaoyu-zidif commented on #6790
172.17.59.3    10.1.1.171
[root@master ~]# curl 169.254.47.160
172.17.59.3    10.1.1.171
[root@master ~]# curl 169.254.47.160
curl: (7) Failed connect to 169.254.47.160:80; Connection timed out

i am confused with it

[2017-12-29 08:17] oule commented on #6790
iptables random到本机pod时可以访问，到另一个node时就访问不了超时了
我抓包看到的bad checksum没有影响吧？
我开始认为是回复包回不来，我就进入另一个node的pod里，看连接状态，觉得应该是SYN_RECEIVE。
结果没有连接。看样子是包没有进到pod里。
请问老师，如何能看到包的整个接收，丢弃、转发log，比如开启什么内核参数什么的，也好有助于分析问题

[2017-12-29 08:22] horakmar opened #6792 "Issue with cluster pod network installation via kubeadm"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Calico pod network installation doesn't work, because master node is tainted and doesn't accept pods running on it. Calico installation uses Daemonset, which schedules install-cni container, that installs CNI network configuration on each node, **including master**.
Other pod network solutions might suffer with the same problem

[2017-12-29 08:51] tengqm commented on #6790
have you set `sysctl net.ipv4.ip_forward=1` ?

[2017-12-29 09:11] oule commented on #6790
yes,
[code]
[code]

[2017-12-29 13:45] mabotn opened #6793 "Issue with k8s.io/docs/tasks/configure-pod-container/pull-image-private-registry/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

On my K8S cluster I had to use a private registry (Azure Container Registry) so I added a secret as mentioned using this command

`kubectl create secret docker-registry regsecret --docker-server=<your-registry-server> --docker-username=<your-name> --docker-password=<your-pword> --docker-email=<your-email>`

but it appeared to

[2017-12-29 15:00] ngrishnin opened #6794 "Issue with k8s.io/editdocs/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
This sentence makes no sense "These containers are isolated from each other and from the host: they have their own filesystems, they can’t see each others’ processes, and their computational resource usage can be bounded."

**Proposed Solution:**
Instead of "and their computational..." use "however their computational..."

**Pa

[2017-12-29 17:48] craigbox commented on #2561
/close

[2017-12-29 17:48] #2561 closed

[2017-12-29 20:12] austinlyons commented on #2325
You still have to be in alpha mode in GCP to use cron jobs  even though they seem to be out of K8s beta as of 1.8

[2017-12-30 03:16] rcholic opened #6798 "Issue with k8s.io/docs/tutorials/kubernetes-basics/cluster-interactive/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
A cluster means there should be more than 1 node, but this tutorial lacks how to add a second node to the cluster.

**Proposed Solution:**
I have no idea, otherwise I wouldn't bother reading this.

**Page to Update:**
http://kubernetes.io/...

[2017-12-30 20:27] epaulson opened #6802 "Issue with k8s.io/docs/concepts/overview/components/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
This reads a little unclear:

kube-scheduler
kube-scheduler watches newly created pods that have no node assigned, and selects a node for them to run on.

**Proposed Solution:**
kube-scheduler
kube-scheduler watches for newly created pods that are not assigned to any node, and selects a node for them to run on.

**Page to Updat

[2017-12-31 03:11] moppymopperson opened #6803 "Issue with k8s.io/docs/tutorials/stateless-application/hello-minikube/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
The `hello-minikube` tutorial uses the `xhyve` driver, but upon starting minikube, the following warning is emitted.

    WARNING: The xhyve driver is now deprecated and support for it will be removed in a future release.
    Please consider switching to the hyperkit driver, which is intended to replace the xhyve driver.
See ht

[2017-12-31 12:34] apachipa opened #6806 "Issue with k8s.io/docs/setup/independent/install-kubeadm/"
**This is a problem**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

kubeadm init fails with below error message:

[preflight] Running pre-flight checks.
	[WARNING Firewalld]: firewalld is active, please ensure ports [6443 10250] are open or your cluster may not function correctly
	[WARNING FileExisting-crictl]: crictl not found in system path
[preflight] Some fatal errors occurred:
	[ERRO

[2017-12-31 12:41] apachipa commented on #6806
Tried Below and went a step further but endedup with another issue:

kubeadm reset
systemctl restart kubelet
kubeadm init --skip-preflight-checks

[root@K8S-Master openstack]# kubeadm reset
[preflight] Running pre-flight checks.
[reset] Stopping the kubelet service.
[reset] Unmounting mounted directories in "/var/lib/kubelet"
[reset] Removing kubernetes-managed containers.
[reset] No etcd manifest

[2017-12-31 15:28] apachipa commented on #6806
I tried Ubuntu 16.04.3, same issue. Solution: swapoff -a and then run kubeadm init --ignore-preflight-errors=all . Installation went through but the node status is showing as NotReady and when i join worker nodes it joins and same problem, Work node shows status is showing as not ready with no Name.

[2017-12-31 19:33] lgarron commented on #2644
Do I need to be a project member to un-mark as stale?
/remove-lifecycle stale

The site still doesn't serve an HSTS header, nor is preloaded:
https://hstspreload.org/?domain=kubernetes.io

[2018-01-01 00:37] remram44 commented on #3199
kube-up is not mentioned anymore in the document, so this can probably be closed.

[2018-01-01 02:12] #3199 closed

[2018-01-01 04:19] #2963 closed

[2018-01-01 04:23] tengqm commented on #2973
already fixed.

[2018-01-01 04:23] #2973 closed

[2018-01-01 04:25] tengqm commented on #2897
Cannot see the reported entry either. Closing this.

[2018-01-01 04:25] #2897 closed

[2018-01-01 04:36] tengqm commented on #2896
/remove-lifecycle stale

[2018-01-01 06:01] tengqm commented on #2573
This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the #kubernetes-users channel in Kubernetes slack. You can also search resources like [Stack Overflow](https://stackoverflow.com) for answers to similar questions.
You can also open issues for Kubernetes functionality in https://github.com/kubernetes/kubernetes.

[2018-01-01 06:01] #2573 closed

[2018-01-01 11:05] techtonik commented on #3858
/remove-lifecycle stale

It would still be nice to get help on available template variables for different contexts.

[2018-01-01 12:13] techtonik commented on #3584
/remove-lifecycle stale

Art library with clear licensing terms on derivative works is still needed.

[2018-01-01 22:19] qrpike commented on #4166
Was this ever solved? @narunask

[2018-01-02 01:55] tengqm commented on #4505
/remove-lifecycle stale
/assign

[2018-01-02 02:27] zui019 opened #6809 "Issue with k8s.io/docs/concepts/storage/storage-classes/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2018-01-02 02:28] tengqm commented on #4494
This can be closed because ... Opaque Integer Resource (OIR) didn't make its way to Beta.

[2018-01-02 02:28] #4494 closed

[2018-01-02 02:34] #4391 closed

[2018-01-02 02:49] tengqm commented on #4410
/remove-lifecycle stale
/lifecycle frozen

[2018-01-02 02:51] tengqm commented on #4240
/remove-lifecyle stale
/assign

[2018-01-02 02:56] tengqm commented on #4295
Confirmed, it works for me. Closing this.

[2018-01-02 02:56] #4295 closed

[2018-01-02 03:28] tengqm commented on #4270
/remove-lifecycle stale
/assign

[2018-01-02 03:47] tengqm commented on #4266
/remove-lifecycle stale
/assign

[2018-01-02 03:49] tengqm commented on #6809
Please clearly describe the problem, thanks.

[2018-01-02 03:52] tengqm commented on #4109
/remove-lifecycle stale
/assign

[2018-01-02 05:08] tengqm commented on #4142
The guide has been rewritten and relocated to k8s.io/docs/concepts/cluster-administration/certificates/. The issue reported should not be a problem any more. Please feel free to reopen this if needed.

[2018-01-02 05:08] #4142 closed

[2018-01-02 05:10] tengqm commented on #4474
Looks like the said file has been killed.

[2018-01-02 05:10] #4474 closed

[2018-01-02 05:12] tengqm commented on #4150
This has been fixed using redirects.

[2018-01-02 05:12] #4150 closed

[2018-01-02 05:25] tengqm commented on #4168
/remove-lifecycle stale

[2018-01-02 06:14] tengqm commented on #4178
/remove-lifecycle stale
/assign

[2018-01-02 06:18] tengqm commented on #1831
The topic is out of scope. Closing.

[2018-01-02 06:18] #1831 closed

[2018-01-02 06:28] tengqm commented on #4106
The issue has been fixed.

[2018-01-02 06:28] #4106 closed

[2018-01-02 06:29] tengqm commented on #4081
Already fixed.

[2018-01-02 06:29] #4081 closed

[2018-01-02 06:40] tengqm commented on #4070
This issue is still there. We are assuming that users are working with a local clone of the website repo. This is a bad assumption. We'd better revise the text to make things work even if readers are not working with a git clone of the website project.

[2018-01-02 06:40] tengqm commented on #4070
/remove-lifecycle stale

[2018-01-02 06:43] tengqm commented on #4049
The request makes sense but it will be very difficult to define "sensitive" or "security". Setting a host path to be readable only by root won't solve the problem. You can still launch a privileged container, for example.

[2018-01-02 06:48] tengqm commented on #4057
Not sure if Kubernetes will do _any_ thing to "synchronize" the replicas. The idea of StatefulSet is to let the application take control of its clustering. Kubernetes is not in that loop.

As for load-balancing, it depends. Different load-balancer configuration will spread loads in different ways. Kube-proxy has some preliminary LB support but I guess you are using some external LB box in a produc

[2018-01-02 06:51] tengqm commented on #4096
May need more details in addition to "does not work" for debugging. It stills smells like a configuration problem. Cannot determine if it is caused by any problem in documentation.

[2018-01-02 07:04] tengqm commented on #4575
/remove-lifecycle stale

[2018-01-02 07:05] tengqm commented on #4575
It would be desirable that this issue can be solved soon. The current verbatim output is terrible.

[2018-01-02 07:08] tengqm commented on #4074
@bobsky Looks to me the links are bold and highlighted now. Can we close this?

[2018-01-02 07:28] tengqm commented on #3879
/remove-lifecycle stale
/assign

[2018-01-02 08:12] tengqm commented on #3832
/remove-lifecycle stale
/assign

[2018-01-02 08:23] tengqm commented on #3835
/remove-lifecycle stale
/assign

[2018-01-02 08:40] tengqm commented on #3847
/remove-lifecycle stale
/assign

[2018-01-02 08:47] tengqm commented on #3815
/remove-lifecycle stale
/assign

[2018-01-02 08:51] tengqm commented on #3825
Closing this because it is no longer an issue. Node selection via labels works well now.

[2018-01-02 08:51] #3825 closed

[2018-01-02 08:55] tengqm commented on #3773
Dup: #2385

[2018-01-02 08:55] #3773 closed

[2018-01-02 09:00] tengqm commented on #3211
I believed this has been fixed with k8s.io/docs/tasks/administer-cluster/dns-custom-nameservers/ from #4063, #4207 etc.

[2018-01-02 09:00] #3211 closed

[2018-01-02 09:01] tengqm commented on #3200
/remove-lifecycle stale

[2018-01-02 09:17] tengqm commented on #2988
the links now points to latest virt7 repo.

[2018-01-02 09:17] #2988 closed

[2018-01-02 09:19] tengqm commented on #2908
Can we close this?

[2018-01-02 09:22] tengqm commented on #4387
/remove-lifecycle stale
/assign

[2018-01-02 09:27] tengqm commented on #2559
/remove-lifecycle stale
/assign

[2018-01-02 09:42] tengqm commented on #2012
Isn't the API doc what you wanted? https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.9/

As you may know, Kubernetes provides several dozens of resources that all can be provided in YAML format. It is not practical to exhaustively document them as YAML references.

[2018-01-02 09:42] #2082 closed

[2018-01-02 09:46] tengqm commented on #6802
/assign

[2018-01-02 09:50] tengqm commented on #3710
Looks like the patch is still traveling in a wonderland.

[2018-01-02 10:05] devlounge commented on #6702
Same issue, any update on this?

[2018-01-02 10:10] tengqm commented on #6794
cannot see the advantage of the proposed change ...

[2018-01-02 10:21] tengqm commented on #6793
Thanks for opening this. Can you please open an issue at kubernetes/kubernetes project? It looks to me like a bug in the kubectl package.

[2018-01-02 11:31] YDD9 commented on #6141
My k8s cluster is created by kubeamd1.9, seems I don't have kube-apiserver, is there a workaround?

[code]

[2018-01-02 12:04] zegl opened #6827 "Issue with k8s.io/docs/getting-started-guides/scratch/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

https://kubernetes.io/docs/getting-started-guides/scratch/ recommends "Set --configure-cbr0=false on kubelet and restart.".

The `--configure-cbr0` was removed from kubelet in 1.9

**Proposed Solution:**

Update the documentation to match reality.

**Page to Update:**

https://kubernetes.io/docs/getting-started-guides/scratch/

[2018-01-02 12:50] dims commented on #6793
@tengqm @mabotn - known issue, fix has merged, 1.9.1 will have the fix - please see https://github.com/kubernetes/kubernetes/issues/45487#issuecomment-354751537 for more info

[2018-01-02 12:59] tengqm commented on #6793
Thanks, @dims
That confirms the problem is not a doc issue.

[2018-01-02 12:59] #6793 closed

[2018-01-02 13:04] timstoop commented on #4061
I think this issue is still relevant.

[2018-01-02 13:35] tengqm commented on #4061
/remove-lifecycle stale

[2018-01-02 13:40] tengqm commented on #3894
dns policy for host network has been documented.

[2018-01-02 13:40] #3894 closed

[2018-01-02 14:26] tengqm commented on #6782
the result is the same no matter with or without the quote.

[2018-01-02 14:31] tengqm commented on #1903
can you make the `app` container an initContainer ?

[2018-01-02 15:40] rlguarino commented on #4049
I think the only answer at the moment it to disallow host path volume for pods. This Issue was for adding docs on how to prevent a pod from reading some sensitive data, like the kubelets credentials, to the HostPath volume's documentation.

[2018-01-02 15:54] rlguarino commented on #4388
This seems to be working now

[2018-01-02 15:54] #4388 closed

[2018-01-02 16:09] shashidharatd commented on #6702
/cc @kubernetes/sig-multicluster-bugs

[2018-01-02 18:12] msau42 commented on #6141
@YDD9 I think this is your apiserver:
[code]

[2018-01-02 19:37] matthewadams commented on #2012
At the time this issue was entered, it was difficult to find the reference.  This issue has since been addressed.

[2018-01-02 19:37] #2012 closed

[2018-01-03 01:44] #4387 closed

[2018-01-03 01:47] #3847 closed

[2018-01-03 01:49] #4240 closed

[2018-01-03 02:06] #3712 closed

[2018-01-03 02:08] tengqm commented on #6702
*from slack*

kubefed (and federation) is not distributed with mainline kubernetes as of 1.9, you have to build federation out of its own repo. I may be wrong but i can't think of anything that went into kubefed between 1.8.x and 1.9 so the 1.8.x binary should work fine.

[2018-01-03 02:09] #4266 closed

[2018-01-03 02:14] #6802 closed

[2018-01-03 07:02] tengqm commented on #4693
I think this is safe to close now.

[2018-01-03 07:02] #4693 closed

[2018-01-03 16:29] DirectXMan12 commented on #998
closing, this has been fixed for a while
/close

[2018-01-03 16:29] #998 closed

[2018-01-03 17:01] abiogenesis-now commented on #4548
Still in progress

/remove-lifecycle stale

[2018-01-03 17:24] abiogenesis-now commented on #4180
Hmm...not on the immediate roadmap, but still a nice to have. I'll close this issue for now and track it in my own todos, barring any objections.

[2018-01-03 17:24] #4180 closed

[2018-01-03 22:09] #3710 closed

[2018-01-03 23:05] #4283 closed

[2018-01-04 03:00] #6724 closed

[2018-01-04 03:16] tengqm commented on #4263
/remove-lifecycle stale

This is still relevant.

[2018-01-04 03:18] tengqm commented on #1556
/remove-lifecycle stale

[2018-01-04 03:18] tengqm commented on #1556
/assign

[2018-01-04 03:21] tengqm commented on #5207
@BenHall has responded to this help request with details. Closing.

[2018-01-04 03:21] #5207 closed

[2018-01-04 03:35] tengqm commented on #1652
/remove-lifecycle stale
/assign

[2018-01-04 04:36] tengqm commented on #5205
/remove-lifecycle stale
/assign

[2018-01-04 04:59] tengqm commented on #5170
This suggested solution makes sense. The proxy environment variables should be in lower cases.

/remove-lifecycle stale
/assign

[2018-01-04 05:05] tengqm commented on #2907
Closing this. Please feel free to reopen it if kubernetes#3103 hasn't solved the issue.

[2018-01-04 05:05] #2907 closed

[2018-01-04 05:07] tengqm commented on #4205
Still a problem? @ryanmcginnis

[2018-01-04 05:35] tengqm commented on #5122
Conclusions? Next steps?

[2018-01-04 12:02] markbaumgarten opened #6847 "Issue with k8s.io/docs/getting-started-guides/coreos/bare_metal_offline/"
**This is a...**
 Bug Report

**Problem:**
Dead links - i.e. this does not seem to work:
wget -O kube-register  https://github.com/kelseyhightower/kube-register/releases/download/v0.0.2/kube-register-0.0.2-linux-amd64

**Proposed Solution:**
None.

**Page to Update:**
https://kubernetes.io/docs/getting-started-guides/coreos/bare_metal_offline/

[2018-01-04 12:10] zhangxiaoyu-zidif commented on #6847
/assign @jeffbean

[2018-01-04 13:53] prassawant opened #6848 "Issue with k8s.io/docs/tutorials/kubernetes-basics/explore-interactive/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
kubectl proxy does not open in new terminal

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2018-01-04 17:21] #1703 closed

[2018-01-04 17:39] ryanmcginnis commented on #4205
Yes, still needs to be fixed.

[2018-01-04 17:40] ryanmcginnis commented on #4205
/remove-lifecycle stale

[2018-01-04 17:51] ryanmcginnis commented on #5193
/remove-lifecycle stale

[2018-01-04 19:20] bowei commented on #5122
@Banashri can you open a bug against weave for the issue?

/close

[2018-01-04 19:20] #5122 closed

[2018-01-04 19:31] jberkus commented on #4168
yah, this is still a TODO for me.

[2018-01-04 19:44] alexqx4 opened #6850 "Issue with k8s.io/docs/getting-started-guides/centos/centos_manual_config/"
**alex**

- [ ] Feature Request
- [ ] Bug Report

**Problem: kubectl get nodes
The connection to the server 10.197.132.56:8080 was refused - did you specify the right host or port?**

**Proposed Solution: I have followed many notes but still experiencing the same issue. Any help?**

**Page to Update:**
https://kubernetes.io/docs/getting-started-guides/centos/centos_manual_config/

API Server faile

[2018-01-05 01:38] tengqm commented on #6850
which version are you using? If you are using 1.9, you may want to try add `--endpoint-reconciler-type=lease` to the kube-apiserver process. For example, by editing the KUBE_API_ARGS.

Looks like you don't have kubeconfig set up properly. You will need a `.kube/config` file for connecting to the API server.

[2018-01-05 01:47] tengqm commented on #3588
I believe all admission controllers are documented now. Please reopen if this is not true.

[2018-01-05 01:47] #3588 closed

[2018-01-05 01:48] tengqm commented on #6848
Please be specific about the module to be fixed.

[2018-01-05 01:51] tengqm commented on #6847
/cc @kelseyhightower

[2018-01-05 02:07] tengqm commented on #5076
/remove-lifecycle stale

[2018-01-05 05:00] tengqm commented on #4445
/remove-lifecycle stale
/assign

[2018-01-05 05:34] aburdenthehand commented on #6827
Hello,
Thanks for raising this bug.
I can confirm this flag is not available in 1.9
It appears in a couple of places in docs but I can't find any discussion on the subject, are you able to answer a couple of questions?

1) I'm guessing that in both https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/ and https://kubernetes.io/docs/admin/high-availability/default-kubelet it's a

[2018-01-05 05:38] tengqm commented on #814
em... still relevant
/remove-lifecycle stale

[2018-01-05 05:39] tengqm commented on #4597
@zacharysarah was correct. There have been some struggle on this, but ... it is gone.

[2018-01-05 05:39] #4597 closed

[2018-01-05 05:41] tengqm commented on #4390
Question answered. Deployment is not a unit for schedule, but Pod is.

[2018-01-05 05:41] #4390 closed

[2018-01-05 05:42] tengqm commented on #2391
@csbell ping.

[2018-01-05 05:43] tengqm commented on #3938
@chenopis ping.

[2018-01-05 05:44] tengqm commented on #3817
@luxas opinions?

[2018-01-05 05:46] tengqm commented on #4192
@chenopis keep or close?

[2018-01-05 05:47] tengqm commented on #3956
@mikedanese PTAL?

[2018-01-05 05:49] tengqm commented on #4392
Closing because the recommended way is to use kubeadm now.

[2018-01-05 05:49] #4392 closed

[2018-01-05 05:54] tengqm commented on #4097
It is very difficult to summarize how to restart the API server. The component could be deployed in various ways. You will need to restart the API server based on how it is deployed.
Please feel free to reopen this if there are actionable suggestions.

[2018-01-05 05:54] #4097 closed

[2018-01-05 05:59] tengqm commented on #2611
This smells more like an implementation/validation issue. Even the inaccurate documentation itself was generated from the upstream source code. Please raise an issue in kubernetes/kubernetes project.

[2018-01-05 05:59] #2611 closed

[2018-01-05 07:10] ahmetb commented on #4192
I think we can /close

[2018-01-05 07:19] tengqm commented on #924
Please reopen this if there is any effort in this space.

[2018-01-05 07:19] #924 closed

[2018-01-05 07:21] tengqm commented on #1439
Closing this ancient issue.

[2018-01-05 07:21] #1439 closed

[2018-01-05 09:14] BenHall commented on #6745
Thank you for letting us know. This was due to a JavaScript error as we expected our JS Tracker to load, but it was blocked via the adblocker.

This should now be resolved and the site work even with adblockers.

[2018-01-05 09:15] BenHall commented on #6751
Thank you for letting us know. This was due to a JavaScript error as we expected our JS Tracker to load, but it was blocked via the adblocker.

This should now be resolved and the site work even with adblockers. If you still experience a problem, then please do let us know!

[2018-01-05 09:17] BenHall commented on #6772
Thank you, the text has been updated to reflect this and removed the information about the version.

[2018-01-05 09:40] #6751 closed

[2018-01-05 09:41] #6745 closed

[2018-01-05 09:48] TerraTech commented on #4015
/remove-lifecycle stale

bump

[2018-01-05 12:00] alexa-infra opened #6859 "Issue with k8s.io/docs/getting-started-guides/coreos/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Irrelevant links in the section **Official CoreOS Guides**, it looks like there are no any more kubernetes guides at CoreOS website, all links like https://coreos.com/kubernetes/docs/latest/ are redirected to guides using Tecnotic installer (which requires subscription).

**Proposed Solution:**
Rename section to CoreOS Tectonic

[2018-01-05 17:03] ericchiang commented on #3850
/remove-lifecycle stale

This is still an issue.

[2018-01-06 04:02] tengqm commented on #2218
Fixed.

[2018-01-06 04:02] #2218 closed

[2018-01-06 04:07] tengqm commented on #2148
Please feel free to reopen if the solution doesn't work.

[2018-01-06 04:07] #2148 closed

[2018-01-06 05:35] tengqm commented on #4513
keep? @steveperry-53

[2018-01-06 05:42] tengqm commented on #1561
pls feel free to reopen is there are further actions needed.

[2018-01-06 05:42] #1561 closed

[2018-01-06 05:56] #5335 closed

[2018-01-06 05:56] #5383 closed

[2018-01-06 06:00] #4358 closed

[2018-01-06 06:05] tengqm commented on #4334
Sounds like this has been fixed when responding to #3868. Feel free to reopen if the issue persists.

[2018-01-06 06:05] #4334 closed

[2018-01-06 06:36] #5132 closed

[2018-01-06 06:40] #4137 closed

[2018-01-06 06:43] tengqm commented on #3271
openstack-heat support is deprecated.

[2018-01-06 06:43] #3271 closed

[2018-01-06 07:03] #2809 closed

[2018-01-06 07:12] tengqm commented on #2888
Issue solved.

[2018-01-06 07:12] #2888 closed

[2018-01-06 07:15] #6772 closed

[2018-01-06 07:15] #4192 closed

[2018-01-06 08:42] kumarganesh2814 opened #6865 "Issue with k8s.io/docs/tasks/configure-pod-container/pull-image-private-registry/"
**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**
As described I logged into my Worker VM and login to my private repo. It created config.json in all Worker VM $HOME/.docker/config.json

Then I created a secret as below

kubectl create secret docker-registry myregistrykey --docker-server=artfact-prd.xyz.com:5001 --docker-username=xyz--docker-password=xyz@123 --docker-email=gk

[2018-01-06 11:44] tengqm commented on #6865
It could be a bug that has been fixed: https://github.com/kubernetes/kubernetes/pull/57463
Please close the issue if this is true.

[2018-01-07 05:34] #4689 closed

[2018-01-07 10:25] tengqm commented on #5774
still an issue? @steveperry-53

[2018-01-07 10:26] tengqm commented on #2268
/remove-lifecycle stale

[2018-01-07 18:14] #4109 closed

[2018-01-07 18:19] #3832 closed

[2018-01-07 18:20] #3815 closed

[2018-01-07 18:22] #1652 closed

[2018-01-07 18:28] #5170 closed

[2018-01-07 18:33] #2896 closed

[2018-01-07 18:38] #3835 closed

[2018-01-07 20:40] techtonik commented on #3938
Looks like mungers doc is gone and I am not sure not how to implement this helper.

[2018-01-07 21:16] #4445 closed

[2018-01-07 21:40] #2559 closed

[2018-01-07 22:08] #1286 closed

[2018-01-07 22:12] #1785 closed

[2018-01-08 03:11] challenchen opened #6871 "Issue with k8s.io/docs/tutorials/kubernetes-basics/cluster-intro/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2018-01-08 03:15] tengqm commented on #5766
/remove-lifecycle stale
/assign

[2018-01-08 03:19] tengqm commented on #5406
Closing. Pls reopen if the fix has not addressed the problem.

[2018-01-08 03:19] #5406 closed

[2018-01-08 03:23] #5205 closed

[2018-01-08 03:23] tengqm commented on #6871
what is the issue?