[2019-05-30 03:38] jroper opened #14624 "Document default value for RoleBinding ServiceAccount Subject namespace"
Let's say I create the following `RoleBinding`:

[code]

Note, there is no `namespace` configured for the `ServiceAccount`. I can't find anywhere in the reference documentation or the guides that say what should happen in this case, every example has the `namespace` configured, and the reference documentation says only that the `namespace` is only valid for `ServiceAccount` subjects, it doesn't sa

[2019-05-30 05:04] poothia commented on #14244
@prankul88 I think the first part of the issue is due to the browser, It's working fine with firefox but with chrome it's giving this issue. what browser are you using?

[2019-05-30 05:23] poothia commented on #14623
just adding to above solution.
Updated link: https://kubernetes.io/docs/setup/minikube/#starting-a-cluster
thanks

[2019-05-30 05:38] prankul88 commented on #14244
Hi @zhangqx2010 , I am not sure whether the first issue exists only for me.  The second one must be addressed. I will look to create a PR for the same once I confirm the first issue.

[2019-05-30 05:41] prankul88 commented on #14244
Hi @poothia , I can confirm that the first issue exists in both chrome and firefox browser. I am using Ubuntu 18.
Which operating system are you using?

[2019-05-30 05:47] poothia commented on #14244
@prankul88 I am using ubuntu 16.

[2019-05-30 06:33] ialidzhikov commented on #14590
Fixed with #14602. Thank you @mvladev.

[2019-05-30 06:33] #14590 closed

[2019-05-30 06:49] ChrisRucinski commented on #14598
I managed to trash my Kubernetes environment on my Ubuntu machine so I have moved over now to my Windows machine. I'm still seeing the same problem on Windows where the external-ip is not assigned to the frontend service. Here's the pod description:
[code]

[2019-05-30 08:34] sftim commented on #14574
@erkanerol from my point of view this issue teport makes sense and explains the situation. The steps from this point, I'm not sure about.

[2019-05-30 08:53] sftim commented on #14611
Fixed in #14612

[2019-05-30 08:53] #14611 closed

[2019-05-30 09:25] sftim commented on #14623
Well defined and relatively easy to fix
/help

[2019-05-30 09:33] adisky commented on #14244
verified on windows!! its is valid

[2019-05-30 09:36] BenHall commented on #14244
Thanks for the feedback! We'll get this fixed ASAP.

[2019-05-30 09:52] adisky commented on #14114
getting the same issue on chrome!!

[2019-05-30 10:08] ArchangelXu opened #14629 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
**This is a Bug Report**

**Problem:**
after running command: kubectl run kubernetes-bootcamp --image=gcr.io/google-samples/kubernetes-bootcamp:v1 --port=8080
ssh: connect to host docker port 22: No route to host
**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-05-30 12:28] kakts opened #14633 "Translate concepts/workloads/controllers/replicaset// in Japanese"
**This is a Feature Request**

**What would you like to be added**

**Why is this needed**

**Comments**

[2019-05-30 12:28] kakts opened #14634 "Translate concepts/workloads/controllers/replicaset/ in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/workloads/controllers/replicaset/ in Japanese.

**Why is this needed**
This document is not translated in Japanese.
**Comments**

Copy a file from en contents to content/ja/docs/concepts/workloads/controllers/replicaset.md and translate it into Japanese.

[2019-05-30 12:29] kakts commented on #14634
/language ja

[2019-05-30 15:13] Rajakavitha1 opened #14638 "Refactor :Highly Available Topology and Creating Highly Available Clusters topics"
Refactor :Highly Available Topology and Creating Highly Available Clusters topics

The page: https://kubernetes.io/docs/setup/independent/ha-topology/ gives the concepts/options for Stacked etcd topology and External etcd topology the page https://kubernetes.io/docs/setup/independent/high-availability/ gives details  the steps/task to create a HA cluster with Kubeadm for both the topologies

Propo

[2019-05-30 15:14] Rajakavitha1 commented on #14638
/assign @Rajakavitha1

[2019-05-30 15:16] #14633 closed

[2019-05-30 15:34] sftim opened #14639 "Make “Contributing to the Upstream Kubernetes Code” more discoverable"
**This is a Feature Request**

:information_source: since this issue was recorded, https://k8s.dev/ came into existence.

**What would you like to be added**
I'd like someone who visits https://kubernetes.io/docs/contribute/ to be able to discover [Contributing to the Upstream Kubernetes Code](https://kubernetes.io/docs/contribute/generate-ref-docs/contribute-upstream/) without clicking anywhere o

[2019-05-30 16:28] neolit123 commented on #14638
@kubernetes/sig-cluster-lifecycle
@Rajakavitha1 i must say that i prefer the current file layout better in terms of maintenance.

the external ETCD page (https://kubernetes.io/docs/setup/independent/setup-ha-etcd-with-kubeadm/) does not see a lot of changes during release cycles, while this page https://kubernetes.io/docs/setup/independent/high-availability/
sees more updates because HA is still b

[2019-05-30 17:15] abuango commented on #14639
@sftim Can I pick this up? we can change the paragraph introducing the style guide as follows:

[2019-05-30 19:14] sjentzsch commented on #12922
I do not see any `apiVersion: extensions/v1beta1` on the current version of the page, closing the issue again.

[2019-05-30 19:14] #12922 closed

[2019-05-30 20:21] sftim commented on #14639
@abuango anyone who's [signed the CLA](https://kubernetes.io/docs/contribute/start/#sign-the-cla) can contribute here! Feel free.

[2019-05-30 20:53] sftim commented on #14638
Some thoughts. I'm not particularly familiar with this part of the docs or with `kubeadm` though.

I wonder if the two different options on https://kubernetes.io/docs/setup/independent/ha-topology/ could fit into two tabs.

It looks as if the etcd step on https://kubernetes.io/docs/setup/independent/high-availability/ would work with the stacked / not stack choice as 2 tabs, I'm not sure though.

[2019-05-30 21:06] sftim commented on #14151
This looks straightforward to work on. I would tweak the [existing glossary definition](https://kubernetes.io/docs/reference/glossary/?all=true#term-cluster), then include that revised definition into the [Concepts](https://kubernetes.io/docs/concepts/) page with a Hugo [shortcode](https://kubernetes.io/docs/contribute/style/hugo-shortcodes/):
[code]

If you're a new contributor picking this up, h

[2019-05-30 21:11] sftim commented on #14151
The two [commits](https://github.com/kubernetes/website/pull/14537/commits) in PR 14537 are similar to what I'd do to fix this issue. For this issue, it's about tweaking an existing glossary entry and then using the _definition_ (not the tooltip) in the concept page.

[2019-05-30 21:13] sftim commented on #4322
I wonder if it makes sense to `/remove-help` on this issue(?)
If this is someone's first issue, they're a braver contributor than I.

[2019-05-30 21:14] sftim commented on #14151
/language en

[2019-05-30 21:20] jimangel opened #14646 "Cloud Native Security page discussion continuation"
Open issue / tracker for `#sig-docs-security` to continue discussion on https://github.com/kubernetes/website/pull/14495

/cc @sftim @kbhawkey
/assign @zparnold

[2019-05-30 21:34] #7581 closed

[2019-05-30 21:56] neolit123 commented on #14638
the separate document for the topologies was suggested by SIG docs.

[2019-05-30 21:57] raelga commented on #13948
## Status update

_Updated 2019/05/30_

### Merged and published :tada:

- #14589 content/es/_index.html by @javisabalete
- #14364 reference/glossary/image by @javisabalete
- #14361 reference/glossary/service by @daverick
- #14372 reference/glossary/application-developer by @ignasi35
- #14373 reference/glossary/application-architect by @ignasi35
- #14356 reference/glossary/secret by @ignasi35
- #1

[2019-05-31 04:52] marcushyungseoklee opened #14652 "Translate https://kubernetes.io/docs/setup/independent/install-kubeadm in Korean"
**This is a Feature Request**

**What would you like to be added**
Translate https://kubernetes.io/docs/setup/independent/install-kubeadm in Korean

**Why is this needed**
No translation with Translate setup/independent/install-kubeadm

**Comments**

Pages to Update
https://kubernetes.io/docs/setup/independent/install-kubeadm/

[2019-05-31 04:53] marcushyungseoklee commented on #14652
/language ko
/assign

[2019-05-31 05:06] Rajakavitha1 commented on #10468
/open

[2019-05-31 06:48] hpandeycodeit commented on #14623
The relative path is wrong here. It shoult point to "Interacting with your Cluster" section on the same page. Check out the PR #14656

[2019-05-31 07:02] Rajakavitha1 commented on #14638
Is it worth discussing in SIG docs channel to make the kubeadm page easier to digest? As far as maintenance and reuse of the content we can create a common task and include it in the tasks that require the common steps to eliminate redundancy. Something similar to: {{< include "task-tutorial-prereqs.md" >}} {{< version-check >}} in https://kubernetes.io/docs/contribute/style/page-templates/#task-t

[2019-05-31 07:14] Rajakavitha1 commented on #14646
Hi, How about adding the security docs info here:  https://kubernetes.io/docs/user-journeys/users/cluster-operator/intermediate/#section-2?

[2019-05-31 07:34] poothia commented on #14623
@hpandeycodeit  on it... let me check.

[2019-05-31 08:00] zenglian opened #14660 "Issue with k8s.io/zh/docs/tasks/access-application-cluster/create-external-load-balancer/"
**This is a Bug Report**

**Problem:**
`123.45.678.9` is an illegal IP.

**Proposed Solution:**
`123.45.67.89`

**Page to Update:**
https://k8s.io/zh/docs/tasks/access-application-cluster/create-external-load-balancer/

[2019-05-31 08:04] #11991 closed

[2019-05-31 08:49] sftim commented on #14574
This is due to a Kubernetes bug; see https://github.com/kubernetes/kubernetes/issues/78308 and https://nvd.nist.gov/vuln/detail/CVE-2017-11245

[2019-05-31 09:05] #11975 closed

[2019-05-31 12:37] sftim commented on #14574
/sig node

[2019-05-31 12:40] sftim commented on #14660
/lang zh

[2019-05-31 12:44] sftim opened #14664 "Pages using real IPv4 addresses for examples"
**This is a Bug Report**

**Problem:** Various documentation pages use real IPv4 addresses (that are assigned to real individuals and organizations) in examples

**Proposed Solution:**
Replace those with [documentation IP addresses](https://tools.ietf.org/html/rfc3849) instead; that is, addresses from inside `192.0.2.0/24`

/kind cleanup
/priority backlog

[2019-05-31 12:44] sftim opened #14665 "External load balancer task uses assigned IPv4 address"
**This is a Bug Report**

**Problem:** https://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/ uses a real, assigned IPv4 address: `123.45.67.89`

**Proposed Solution:**
Use a [documentation IP address](https://tools.ietf.org/html/rfc3849) instead; that is, one that's inside `192.0.2.0/24`

**Page to Update:**
https://kubernetes.io/docs/tasks/access-application-c

[2019-05-31 12:45] sftim commented on #14665
/lang en

[2019-05-31 12:45] sftim commented on #14660
/language zh

[2019-05-31 12:45] sftim commented on #14665
/language zh

[2019-05-31 12:46] sftim commented on #14665
/language en
/remove language/zh

[2019-05-31 12:46] sftim commented on #14665
/remove-language zh

[2019-05-31 12:49] liggitt commented on #14574
The behavior in v1.14.2 and v1.13.6 is not intended. Omitting runAsUser *should* run the container using the USER specified in the container image.

[2019-05-31 14:09] harik8 opened #14667 "Issue with k8s.io/docs/tasks/administer-cluster/declare-network-policy/"
I followed the steps to try out the network policy. But still, I could access nginx from busybox pod which doesn't have `access=true` label.

**STEPS
-------**

[code]

[code]

[code]

[code]

[code]

**ACTUAL OUTPUT
------------------**

[code]

**EXPECTED OUTPUT
---------------------**

[code]

[2019-05-31 14:28] icheikhrouhou commented on #14664
Can I work on this ?

[2019-05-31 14:41] rmarcum commented on #14609
@rajeshdeshpande02   Looks like we hit this at the same time.  I'll remove my PR.

[2019-05-31 14:48] kakts opened #14670 "Translate concepts/containers/runtime-class/ in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/containers/runtime-class/ in Japanese.

**Why is this needed**
This document is not translated in Japanese.
**Comments**

Copy a file from en contents to content/ja/docs/concepts/containers/runtime-class.md and translate it into Japanese.

[2019-05-31 14:50] sftim commented on #14664
@icheikhrouhou sure - see https://kubernetes.io/docs/contribute/start/#improve-existing-content

[2019-05-31 14:50] kakts commented on #14670
/language ja

[2019-05-31 14:55] icheikhrouhou commented on #14664
Should I also change 130.211.204.1 ?  in https://kubernetes.io/docs/tasks/access-application-cluster/configure-cloud-provider-firewall/

[2019-05-31 15:43] palnabarun commented on #14559
@zhangqx2010 Yes. Please close this issue.

[2019-05-31 16:06] sftim commented on #14664
@icheikhrouhou there will be several places where it's worth fixing these things. You could fix them in one bigger pull request or lots of smaller ones.

If you use several PRs that's a little more effort to review but also less likely to need a rebase due to other changes getting merged. I'd probably do one big PR with several commits.

[2019-05-31 16:09] icheikhrouhou commented on #14664
@sftim Alright then, I'll do one single PR with the all of the changes

[2019-05-31 16:10] sftim commented on #14667
/language en

[2019-05-31 16:10] sftim commented on #14623
/language en

[2019-05-31 16:10] sftim commented on #14615
/language en

[2019-05-31 16:10] sftim commented on #14615
/kind feature

[2019-05-31 16:14] sftim commented on #14629
@ArchangelXu Sorry to hear you've had trouble here.

Maybe you can find some advice on troubleshooting this via Kubernetes' [Slack](https://kubernetes.slack.com/) or [discussion forums](https://discuss.kubernetes.io/)

(I have not gone through the interactive tutorial to see if the same happens when I try it).

[2019-06-01 00:20] #11986 closed

[2019-06-01 00:43] bureado commented on #13948
Also working on `content/es/docs/concepts/overview/components.md` but holding on more for now.

[2019-06-01 01:38] kakts opened #14679 "Translate concepts/workloads/controllers/statefulset/ in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/workloads/controllers/statefulset/ in Japanese.

**Why is this needed**
This document is not translated in Japanese.
**Comments**

Copy a file from en contents to content/ja/docs/concepts/workloads/controllers/statefulset.md and translate it into Japanese.

[2019-06-01 01:39] kakts commented on #14679
/language ja

[2019-06-01 02:54] daminisatya commented on #4322
/remove-help

[2019-06-01 07:26] idealhack commented on #13990
Given this issue has been inactive for more than a month, I will work on this.

/assign

[2019-06-01 08:28] #10086 closed

[2019-06-01 08:40] tjimsk commented on #11987
/reopen

[2019-06-01 08:41] tjimsk commented on #11987
/remove-lifecycle rotten

[2019-06-01 11:33] sftim commented on #14517
/sig node
/language en

[2019-06-01 11:34] sftim commented on #14498
/language en
/sig storage

[2019-06-01 11:34] sftim commented on #14497
/kind feature

[2019-06-01 11:36] sftim commented on #14639
/language en
/sig contributor-experience

[2019-06-01 11:36] sftim commented on #14107
/language en

[2019-06-01 11:36] sftim commented on #14181
/triage needs-information

[2019-06-01 11:37] sftim commented on #14162
/language en

[2019-06-01 11:37] sftim commented on #14130
/language en

[2019-06-01 11:38] sftim commented on #14096
/kind feature
/language en

[2019-06-01 14:34] #12018 closed

[2019-06-01 18:09] jasongwartz opened #14682 "Issue with k8s.io/docs/tasks/run-application/configure-pdb/ (percentage documentation)"
**This is a Bug Report**

**Problem:**
The docs regarding pdb rounding (as introduced in https://github.com/kubernetes/website/pull/14408) specify:

However, minUnavailable needs to be either an int32 or a string-percentage (as `"50%"`), as per:

https://github.com/kubernetes/kubernetes/blob/f1883c9/pkg/controller/disruption/disruption.go#L586
and
https://github.com/kubernetes/apimachinery/blob/ma

[2019-06-02 12:03] erkanerol commented on #12205
@SupriyaSirbi  I checked the doc. It seems fine. Thanks a lot!

[2019-06-02 12:03] #12205 closed

[2019-06-02 17:00] #12052 closed

[2019-06-02 18:06] yardensachs commented on #11986
This is still an issue

[2019-06-02 19:50] sftim commented on #14682
That looks like a convincing explanation as to why the docs need updating.
/kind bug
/language en

[2019-06-02 21:04] #11756 closed

[2019-06-02 22:13] palnabarun commented on #3735
@sftim Will #14526 address this? If not, can I work on this?

[2019-06-02 22:46] #13990 closed

[2019-06-03 01:03] zhangqx2010 commented on #14559
/close

[2019-06-03 01:03] #14559 closed

[2019-06-03 03:15] tanaka-takayoshi commented on #12975
/remove-lifecycle stale

[2019-06-03 03:17] tanaka-takayoshi commented on #12975
Hi, could someone double-check this issue?
Or, this is not a specification but as-is feature - it means this behavior is just from the current implementation and it may be changed in the future - please let us know.

[2019-06-03 06:49] SataQiu opened #14691 "The document version selection menu should support ‘preliminary’"
**This is a Bug Report**

**Problem:**
At present, there may be some problems with our document version management.
The correspondence between the document version and the code branch is as follows:
[code]
I think the correct correspondence should be:
[code]
The document version selection menu should support ‘preliminary’.

![图片](https://user-images.githubusercontent.com/9354727/58781733-44e4fd80-

[2019-06-03 06:54] SataQiu commented on #14691
/kind bug

[2019-06-03 06:54] SataQiu commented on #14691
/kind feature

[2019-06-03 08:59] sftim commented on #3735
PR #14526 will help, I hope. There's yet more to do afterwards. I think the main page about the Service concept should talk less about implementation details like AWS load balancers, and more about different ways of handling ingress (eg Ingress, Istio, Gloo).

Because #14526 is a big set of changes, I think it makes sense to build on it once merged.

@palnabarun you could sketch out (in your mind,

[2019-06-03 11:08] sftim commented on #14691
If we wanted to publish documentation for versions we hadn't yet released, we could do that by publishing the `dev-1.15` or whatever branch.

Is that useful to do?

[2019-06-03 11:18] SataQiu commented on #14691
Yes, it's worth considering.  @sftim
We should consider whether `dev` branches need to be shown, and how to do that.

[2019-06-03 11:19] SataQiu commented on #14691
/assign @zacharysarah
/cc @chenrui333 @markthink

[2019-06-03 11:28] sftim commented on #3735
/language en

[2019-06-03 11:29] sftim commented on #6271
/language en

The work I'm doing for #4135 might end up helping with this too.

[2019-06-03 11:30] sftim commented on #4479
/language en

[2019-06-03 11:30] sftim commented on #4491
/language en

[2019-06-03 11:31] sftim commented on #4512
/language en

[2019-06-03 11:31] sftim commented on #4510
/language en

[2019-06-03 11:31] sftim commented on #4502
/language en

[2019-06-03 11:31] sftim commented on #4504
/language en

[2019-06-03 11:32] sftim commented on #4513
/language en

[2019-06-03 11:32] sftim commented on #4511
/language en

[2019-06-03 11:32] sftim commented on #4493
/language en

[2019-06-03 11:33] sftim commented on #4500
/language en

[2019-06-03 11:33] sftim commented on #4492
/language en

[2019-06-03 11:34] sftim commented on #11612
/language en

[2019-06-03 11:34] sftim commented on #11612
/close

[2019-06-03 11:34] #11612 closed

[2019-06-03 11:35] sftim commented on #4495
/language en

[2019-06-03 13:20] #12072 closed

[2019-06-03 13:36] chenrui333 commented on #14691
@SataQiu I think the version management list should be like this:

[code]

while master branch is more for bug fix, dev-1.15 is for new feature contents.

[2019-06-03 15:29] gochist commented on #14582
/assign

[2019-06-03 15:59] gochist commented on #14582
@ClaudiaJKang 비교한 커밋의 순서가 바뀌었습니다. 이슈 본문을 수정해서 바로 잡았습니다.

[2019-06-03 16:14] sftim commented on #12108
This links to the wider cleanup / reorganisation from #3735

[2019-06-03 16:14] sftim commented on #12108
/language en

[2019-06-03 16:15] sftim commented on #12112
/language en

[2019-06-03 16:16] sftim commented on #11867
/language en

[2019-06-03 16:16] sftim commented on #12078
/language en

[2019-06-03 16:16] sftim commented on #13980
/language en

[2019-06-03 18:25] sftim commented on #12259
Is there a page on https://kubernetes.io/ that isn't right? If so, which page is that?

/triage needs-information

[2019-06-03 18:26] sftim commented on #12254
Fixed in #14059
/close

[2019-06-03 18:26] #12254 closed

[2019-06-03 18:28] sftim commented on #13036
/language en

[2019-06-03 18:29] sftim commented on #13127
Specifying images in an architecture-independent way doesn't seem as easy as you might think
(or I have missed out on how to do just that).

[2019-06-03 18:29] sftim commented on #13127
/language en

[2019-06-03 18:30] sftim commented on #13169
Hi @janscott525
What improvement to this page would help solve the issue?
/triage needs-information

[2019-06-03 18:30] sftim commented on #13260
Seems like a good suggestion!
/language en

[2019-06-03 18:31] sftim commented on #13244
@MiaAdriani - is there something not right with https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro/? If so, what needs fixing?

/triage needs-information

[2019-06-03 18:32] sftim commented on #13028
Good spot, that needs fixing.
/language en

[2019-06-03 18:33] sftim commented on #12715
/language en

[2019-06-03 18:34] sftim commented on #12609
#14637 is my crack at reworking an older PR on this

[2019-06-03 18:35] sftim commented on #12588
/language en

[2019-06-03 18:36] sftim commented on #12578
/triage support
/close

[2019-06-03 18:36] #12578 closed

[2019-06-03 18:36] sftim commented on #12552
/triage needs-information

[2019-06-03 18:36] sftim commented on #12551
/triage needs-information

[2019-06-03 18:37] sftim commented on #12528
@priyesh16 The original wording reads fine to me.
/language en

[2019-06-03 18:38] sftim commented on #12662
This seems like a useful improvement to make
/kind feature
/language en

[2019-06-03 18:42] sftim commented on #13728
@jhammond-indeed I suspect that you'll need to request that improvement against a different repo.
This GitHub repo tracks https://kubernetes.io/ and pages on there, whereas you're asking for the Kubernetes source code artifact to have different contents.

I'm happy to signpost you to the [project](https://github.com/kubernetes) and its list of repos. https://github.com/kubernetes/kubernetes is whe

[2019-06-03 18:43] sftim commented on #13856
/triage needs-information

[2019-06-03 18:43] sftim commented on #13847
/triage needs-information

[2019-06-03 18:44] sftim commented on #13824
/triage support
/close

[2019-06-03 18:44] #13824 closed

[2019-06-03 18:44] sftim commented on #13807
/language en

[2019-06-03 18:44] sftim commented on #13792
/language en

[2019-06-03 19:23] jhammond-indeed commented on #13728
Well, that's not exactly what I was asking, but whatever.

[2019-06-03 19:52] dims commented on #13728
/reopen

[2019-06-03 20:06] dims commented on #13728
the bazel based kubernetes-src.tar.gz seems to have the prefix. will check the other location where we build the same kubernetes-src.tar.gz

[code]

[2019-06-03 21:38] torenware opened #14701 "Issue with k8s.io/docs/tasks/configure-pod-container/"
**This is a Bug Report**

**Problem:**
Page does not contain links describing how to expose ports from a Pod.

**Proposed Solution:**
Add a link to another page.

**Page to Update:**
https://kubernetes.io/docs/tasks/configure-pod-container/

NA

[2019-06-03 21:51] kkoralsky opened #14703 "Issue with k8s.io/docs/concepts/containers/images/"
**This is a Bug Report**

**Problem:**

referred at: https://kubernetes.io/docs/concepts/containers/images/#creating-a-secret-with-a-docker-config way of creating pullSecret declaratively using kustomize:
[code]
does not work neither with service account nor when specified in pod explicitly.

**Proposed Solution:**

Describe imperative way:
[code]

**Page to Update:**

https://kubernetes.io/docs/c

[2019-06-03 22:15] dims commented on #13728
@jhammond-indeed sorry this indeed was something we had to deal with in kubernetes/kubernetes repo as @sftim mentioned, i've filed a PR. thanks for the issue.

[2019-06-04 07:12] gochist commented on #14582
@ClaudiaJKang 기존에 브랜치 비교에 사용하던 스크립트가 이름이 변경된 파일을 놓치고 있었습니다. 스크립트를 [업데이트](https://gist.github.com/gochist/4b4cfd18390f65b1c6c9def6382f8f15)하고, 이름이 변경된 파일을 이슈 본문에 추가했습니다.

[2019-06-04 07:29] palnabarun commented on #3735
@sftim Sure. I would make a note of it.

What I felt is, right now as a temporary measure we can add the reference to `Ingress` and `Ingress Controller` in the `Service` documentation so that readers get pointed to the right direction and learn more about it.

[2019-06-04 08:56] sftim commented on #4135
/language en

[2019-06-04 08:57] sftim commented on #12322
/language en

[2019-06-04 08:57] sftim commented on #12328
/language en

[2019-06-04 08:57] sftim commented on #12327
/language en

[2019-06-04 08:57] sftim commented on #12326
/language en

[2019-06-04 08:57] sftim commented on #12325
/language en

[2019-06-04 08:58] sftim commented on #12324
/language en

[2019-06-04 08:58] sftim commented on #12323
/language en

[2019-06-04 08:59] sftim commented on #4135
#12323 might be (very slightly) relevant here

[2019-06-04 09:16] sftim commented on #12312
@deekshith-elear I think the page is saying that if your cluster has all of:
- between 1 and 5000 nodes, inclusive
- fewer than 150001 Pods
- fewer than 300001 across all Pods
- no Nodes where more than 100 Pods are scheduled

then, that's a configuration that the Kubernetes project thinks is OK.

If one of those lines isn't a true statement, then you're a little more on your own. Does that make s

[2019-06-04 09:22] sftim commented on #12156
Hi @daohu527
https://k8smeetup.github.io/docs/tasks/administer-cluster/dns-debugging-resolution/ looks like an outdated copy of the Kubernetes documentation. The current, official documentation is at http://kubernetes.io/docs/ (and there is ongoing localization work).

[2019-06-04 09:23] gochist commented on #14416
@remyleone
I'd like to share how Korean l10n team keeps up with the upstream(English) changes. The team is using its own development branches with short-term milestone(2~3 weeks). When the team changes the branch, Korean l10n admin compares two development branches using scripts([v1](https://gist.github.com/gochist/8654460717b4bbb4ac490dda79a547fa), [v2](https://gist.github.com/gochist/4b4cfd18390

[2019-06-04 09:24] sftim commented on #12187
It [turns out](https://discuss.kubernetes.io/t/running-tutorial-mysql-example-gives-me-read-only-file-system-error/3197/2) that when running on GKE there is no need to explicitly create a volume. Editing the volume claim to remove the storageclassName and deleting the persistent volume section [does] the trick.

[2019-06-04 09:25] sftim commented on #12216
@ shaktiprasadrath - you want to know if you can have an existing Pod stay running and become adopted into a Deployment that you're about to create?
/triage support

[2019-06-04 09:25] sftim commented on #12223
/language en

[2019-06-04 09:26] sftim commented on #12406
/language en

[2019-06-04 09:26] sftim commented on #12716
/language en

[2019-06-04 09:27] sftim commented on #12973
/triage support
/close

[2019-06-04 09:27] #12973 closed

[2019-06-04 09:28] sftim commented on #12765
/kind bug
/language en
/remove-lifecycle stale

[2019-06-04 09:29] sftim commented on #12765
Thanks for reporting this @Skull0ne

[2019-06-04 10:44] sftim opened #14713 "Document graceful termination"
**This is a Feature Request**

**What would you like to be added**
Add a concept-level guide that explain the motivation and effect of graceful termination in Kubernetes.

https://kubernetes.io/docs/concepts/workloads/pods/pod/#termination-of-pods talks about termination specifically from a Pod perspective, but what about for Endpoints and Services that reference the terminating Pod? The concept o

[2019-06-04 10:45] sftim commented on #14713
/kind feature

[2019-06-04 11:08] sftim commented on #14701
/kind feature
/language en

[2019-06-04 11:09] sftim commented on #14703
@kkoralsky thanks for pointing this out
/language en
/kind bug

[2019-06-04 11:12] sftim commented on #14179
/language en

[2019-06-04 11:13] sftim commented on #13925
Hi @rkemmoe
Sorry for the wait&hellip; can you say what about that page isn't right?

/triage needs-information

[2019-06-04 11:37] antaloala opened #14714 "Issue with k8s.io/docs/concepts/storage/persistent-volumes/"
**This is a Bug Report**

**Problem:**
In the persistent-volumes introduction section it is said: A PersistentVolume (PV) is a piece of storage in the cluster that has been provisioned by an administrator.

Once we have dynamic provisioning of storage volumes (through StorageClasses and provisioners) it should be also said that PVs can be dynamically created using this support.

**Proposed Solutio

[2019-06-04 13:37] kakts opened #14718 "Translate concepts/workloads/controllers/garbage-collection/ in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/workloads/controllers/garbage-collection/ in Japanese.

**Why is this needed**
This document is not translated in Japanese.
**Comments**

Copy a file from en contents to content/ja/docs/concepts/workloads/controllers/garbage-collection.md and translate it into Japanese.

[2019-06-04 13:38] kakts commented on #14718
/language ja

[2019-06-04 15:37] dan-j opened #14722 "StorageClass documentation for aws-ebs provisioner incorrectly documents fsType parameter"
**This is a Bug Report**

**Problem:**

The AWS EBS documentation on available `parameters` doesn't document the actual behaviour.

I have been trying to provision a XFS formatted EBS volume from a StorageClass with the parameter `fsType: xfs`.

What actually happens, is the value is ignored and an EXT4 volume is actually provisioned. Verified using `kubectl describe pv <pv-name>` and mounting the

[2019-06-04 16:04] #13728 closed

[2019-06-04 16:32] sftim opened #14724 "Explain that Pods provide isolation"
**This is a Feature Request**

**What would you like to be added**
Change https://kubernetes.io/docs/concepts/overview/what-is-kubernetes/ to emphasize that Pods are, at least in theory, isolated from one another. A Pod in a cluster doesn't have any inherent ability to observe an arbitrary other Pod in the same cluster.

**Why is this needed**

Whilst drafting changes to https://kubernetes.io/docs

[2019-06-04 16:46] sftim opened #14725 "Document how to set up TLS for a workload"
**This is a Feature Request**

**What would you like to be added**
Add documentation that covers the different ways to protect communications in transit for a workload.

Explain prerequisites to include an understanding of SSL / TLS, maybe SNI and X.509 too. Help readers understand the topic and signpost away anyone looking for other docs (eg how to use TLS with the control plane)

Explain prerequ

[2019-06-04 16:52] sftim commented on #12341
/language en
/triage support
/close

[2019-06-04 16:52] #12341 closed

[2019-06-04 16:52] sftim commented on #14638
/language en

[2019-06-04 16:53] sftim commented on #12333
/language en

[2019-06-04 16:54] sftim commented on #14057
/language en

[2019-06-04 16:55] sftim commented on #13924
/triage needs-information
/language en

[2019-06-04 16:55] sftim commented on #14003
Hi @kumarlakshman
Sorry about the wait. Can you explain more about the trouble you had following that page?

[2019-06-04 16:59] sftim commented on #13753
Thanks for the suggestion @endform
/language en

I wonder if that page (https://k8s.io/docs/tasks/configure-pod-container/security-context/) should mention AppArmor in its pre-requisites. Would that have helped?

[2019-06-04 17:02] sftim commented on #13746
/language en

[2019-06-04 17:03] sftim commented on #13501
/language en

[2019-06-04 17:04] sftim commented on #13333
Thanks for the suggestion @xuhz
/language en
/kind feature

[2019-06-04 17:05] sftim commented on #13332
/language en

[2019-06-04 17:05] sftim commented on #13329
/kind feature
/language en

[2019-06-04 17:06] sftim commented on #13325
@babalsurer - I'm guessing you found a solution, or maybe you have already stopped looking?

If you're still looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes)

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

[2019-06-04 17:08] sftim commented on #13342
@paulgmiller I think you have in mind some text that explain how DaemonSets are often used as part of the set of steps to make a Node become ready, and that's why the scheduling is special.

Have I got that right?

[2019-06-04 17:09] sftim commented on #13369
@sjmudd does #14458 help with this?

[2019-06-04 17:31] sftim commented on #13324
/close
because this is duplicate issue

[2019-06-04 17:31] #13324 closed

[2019-06-04 17:43] BenTheElder commented on #13728
Fixed in https://github.com/kubernetes/kubernetes/pull/78667, future releases should have this.

[2019-06-04 18:23] sftim opened #14727 "Document storage encryption"
**This is a Feature Request**

**What would you like to be added**
Explain how to make sure that data stored and used in your cluster are encrypted at rest.

**Why is this needed**
Cluster operators may want to make sure that storage, whether [ephemeral](https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#local-ephemeral-storage) or [persistent](https://kubernetes

[2019-06-05 05:34] paulgmiller commented on #13342
That would be interesting. I am coming at it form the perspective of deploying daemonsets onto clusters with large numbers of nodes and it's hard to track a daemonset rollout succes if there's a decent probablity of an unready node. So I care more about why daemonsets are scheduled on unready nodes but maybe that is explained by the inverse of why daemonset scheduling affects node readiness.

[2019-06-05 06:09] fabriziopandini commented on #14638
My two cents
With HA getting more and more mature in kubeadm, the steps for stacked etcd/external etcd are getting more and more the same.
In fact as of today the only difference are
- prerequisites (in one case you need an external etcd)
- the content of the kubeadm file (in one case it contains the external etcd section)

Considering this, I'm in favour of preserving a single page with tabs wher

[2019-06-05 06:11] Rajakavitha1 commented on #14638
Yes, that is the plan single page with two tabs.

[2019-06-05 08:07] remyleone commented on #14416
I think I got a first draft of this tool
you just pass the path to your translated file
and it will find all the changes that occured on the english version

Let’s talk about it around some code: https://github.com/kubernetes/website/pull/14731/files

[2019-06-05 08:38] sftim commented on #13342
Cool, that's a reasonable improvement to make then.
/language en

[2019-06-05 10:08] Pasukaru commented on #14629
Not a bug, but running the same command gives me the message that it is deprecated and `kubectl create` should be used instead.

[2019-06-05 10:27] Nigel-Vickerstaff opened #14733 "Issue with k8s.io/docs/tutorials/hello-minikube/"
**This is a Bug Report**

**Problem:**
Running the tutorial on https://kubernetes.io/docs/tutorials/hello-minikube/
encountered the following (three times, pop-up blocker disabled on last attempt):-
Opening http://127.0.0.1:41689/api/v1/namespaces/kube-system/services/http:kubernetes-dashboard:/proxy/in your default browser
failed to open browser: exec: "xdg-open": executable file not found in $PA

[2019-06-05 11:59] kakts opened #14734 "Translate concepts/workloads/controllers/ttlafterfinished/ in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/workloads/controllers/ttlafterfinished/ in Japanese.

**Why is this needed**
This document is not translated in Japanese.
**Comments**

Copy a file from en contents to content/ja/docs/concepts/workloads/controllers/ttlafterfinished.md and translate it into Japanese.

[2019-06-05 12:00] kakts commented on #14734
/language ja

[2019-06-05 12:25] kbhawkey commented on #14691
Can you provide an example of when publishing the dev-1.15 branch docs would be useful?
Perhaps there is some confusion about the choice of names for the branches and the name of what is currently published to kubernetes.io/docs (1.14 docs + all changes not targeted specifically for the next release, 1.15). There is a window of transition between the snapshot of a release and the next release.

[2019-06-05 14:28] zhangqx2010 commented on #14714
IMHO, here `provisioned by an administrator` is generally speaking. The problem could be just ignored.
Note the description in the next section:
[code]

[2019-06-05 15:39] sftim opened #14741 "Adopt official kubeadm logo"
**This is a Feature Request**

![kubeadm logo](https://user-images.githubusercontent.com/22591623/59856252-74656b00-936e-11e9-8dd9-d6092845981b.png)

**What would you like to be added**
Change https://kubernetes.io/docs/setup/independent/install-kubeadm/ and https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm/ to use the [official kubeadm logo](https://github.com/kubernetes/kubeadm/is

[2019-06-05 15:39] sftim opened #14742 "Document “generator”"
**This is a Feature Request**

**What would you like to be added**
https://kubernetes.io/docs/reference/kubectl/conventions/#generators talks about a “generator”, as in `kubectl run --generator`. Someone reading the Kubernetes documentation might have already run into that term elsewhere.

Explain what generators are from a cluster operator perspective, and why the idea is useful. Maybe touch on t

[2019-06-05 17:51] earizon opened #14746 "Issue with k8s.io/docs/concepts/workloads/pods/pod-overview/"
**This is a Bug Report**

The phrase "A Pod is the basic building block of Kubernetes" is completely misleading. (API objects are the basic building blocks of k8s)

**Proposed Solution:**
Replace with "A Pod is the basic execution unit of a Kubernetes application "

**Page to Update:**
https://kubernetes.io/docs/concepts/workloads/pods/pod-overview/

[2019-06-05 18:54] icheikhrouhou commented on #14741
I'll work on this once logo is selected.

[2019-06-05 20:17] palnabarun commented on #13917
@judavi The IP addresses are still wrong in the diagram.

@sftim Any idea how the diagram was generated? Or, is there any guideline for the diagrams so that I can recreate one myself. I want to work on this.

[2019-06-05 20:54] rekcah78 commented on #13453
/close

[2019-06-05 20:54] #13453 closed

[2019-06-05 22:09] snoodleboot opened #14752 "Issue with k8s.io/docs/tutorials/stateless-application/guestbook-logs-metrics-with-elk/"
**This is a Bug Report**

**Problem:**

Misspelling of Elasticsearch as Elasticseach

**Proposed Solution:**

Fix spelling to Elasticsearch

**Page to Update:**
https://kubernetes.io/...

[2019-06-06 01:59] znz opened #14754 "Issue with k8s.io/ja/docs/home/"
**Problem:**
`View Reference` links to <https://kubernetes.io/ja/docs/reference>.
But it is 404 Page not found.

**Proposed Solution:**
Translate to https://kubernetes.io/ja/docs/reference/ from https://kubernetes.io/docs/reference/

[2019-06-06 03:10] SupriyaSirbi commented on #14752
Corrected the mistake. Thanks for the issue

[2019-06-06 03:21] SupriyaSirbi commented on #14752
#14755 Submitted PR for the same

[2019-06-06 03:34] SupriyaSirbi commented on #14703
I have submitted the PR for the same.

Thanks

[2019-06-06 04:36] Vageesha17 commented on #14746
raised a PR #14758 for this issue.

[2019-06-06 05:18] #14746 closed

[2019-06-06 05:56] #14323 closed

[2019-06-06 06:19] RA489 commented on #14741
https://github.com/kubernetes/kubeadm/issues/1588

[2019-06-06 06:34] SupriyaSirbi commented on #14713
Hello @sftim

I will work on this issue and submit the PR for the same

[2019-06-06 10:40] sftim commented on #13917
Not sure how the diagram was generated, sorry.

A tip: if you use https://www.draw.io/ to generate a diagram, you can export it as a PNG with the editable diagram embedded. That's kind of neat.

_extra credit: have the Hugo site generation optimize the PNG before publishing, to save bandwidth_

[2019-06-06 12:10] kakts opened #14761 "Translate concepts/workloads/controllers/daemonset/ in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/workloads/controllers/daemonset/ in Japanese.

**Why is this needed**
This document is not translated in Japanese.
**Comments**

Copy a file from en contents to content/ja/docs/concepts/workloads/controllers/daemonset.md and translate it into Japanese.

[2019-06-06 12:10] kakts commented on #14761
/language ja

[2019-06-06 12:54] vgramer opened #14762 "Azure-file storage class add missing parameters for multi tenancy"
**This is a Feature Request**

Currently theses parameter of  the  are missing:
* `secretNamespace`: the namespace of the secret that contains Azure Storage
  Account Name and Key default is the same as the Pod
* `secretName`: the name of secret that contains Azure Storage Account Name and
  Key. Default is `azure-storage-account-" + accountName + "-secret`
* `readOnly`: Defaults to false (read/wr

[2019-06-06 13:23] vgramer commented on #14762
/kind feature

[2019-06-06 13:35] sftim commented on #14754
/language ja

[2019-06-06 13:36] sftim commented on #14752
Fixed via #14755
/language en
/close

[2019-06-06 13:36] #14752 closed

[2019-06-06 14:53] rekcah78 opened #14766 "Issue with k8s.io/fr/docs/tutorials/hello-minikube/"
**This is a Bug Report**

**Problem:**
 - missing space between "lisez la documentation de" and Docker
 - 404 URL for "Déploiement" link, url was translate to french

**Proposed Solution:**

- [ ] fix missing space between "lisez la documentation de" and Docker

- [ ] fix url with the right path

**Page to Update:**
https://kubernetes.io/fr/docs/tutorials/hello-minikube/

[2019-06-06 14:53] rekcah78 commented on #14766
/assign

[2019-06-06 17:39] radhikapc opened #14768 "Description of Compute Resource Quota is Unclear"
**This is a Bug Report**

**Problem:**

The description of both memory and requests.memory resource types is: Across all pods in a non-terminal state, the sum of memory requests cannot exceed this value.

From the description, it is not clear what's the difference between `memory` and `request. memory` resource types. The issue is applicable to the description of `cpu` and `request.cpu`as well.

*

[2019-06-06 20:30] palnabarun commented on #13917
Thank you @sftim for the insights.

I had draw.io in my mind to create the diagram.

I will give it a shot to optimize the PNG.

[2019-06-06 21:17] MrHohn opened #14770 "docs/concepts/services-networking/service/ needs overhaul"
**This is a Feature Request**

**What would you like to be added**

Overhaul https://kubernetes.io/docs/concepts/services-networking/service/. From a high level, I guess it would be great to do:
- Make it really talk about concept. e.g. what does service do, what is its relationship with label/endpoint/pod, what are the service types and other essential API surface, etc.
- Split the kube-proxy imp

[2019-06-06 21:19] MrHohn commented on #14770
/kind feature
/language en

[2019-06-06 22:27] sftim commented on #14574
Kubernetes v1.13.7 and v1.14.3 have fixes for this bug.
Now that's done: @erkanerol you can get the intended, documented behavior by upgrading to those releases.

/triage support

[2019-06-06 22:30] sftim commented on #13917
To me, PNG optimization is very much a nice-to-have. If an up to date diagram with the source embedded isn't much bigger than the optimized version, I think it's fine to have the full-fat version in source control and leave optimization for a separate PR.

[2019-06-06 22:40] sftim commented on #14770
Hi @MrHohn

Is this a duplicate of #3735?

[2019-06-06 22:40] sftim commented on #14768
Thanks for the suggestion
/language en

[2019-06-06 22:49] MrHohn commented on #14770
Hi @sftim, #3735 focuses more about mentioning Ingress from the Service page so folks can get the right direction while this issue cares more about how Service page is constructed in general. So I don't think it is a duplicate.

[2019-06-06 22:50] radhikapc opened #14771 "Non-Terminal Vs NotTerminating"
**This is a Bug Report**

The quota scopes include `terminating` and `NotTerminating`. In the Compute Resource Quota, the description talks about the 'terminal` and `non-terminal` states. From the doc, it's not clear whether those two terms one and the same.

**Problem:**

What's non-terminal state? what's NotTerminating scope?

**Proposed Solution:**

Include a description of these terms.

**Page

[2019-06-07 06:50] zhangqx2010 commented on #14562
#14773

[2019-06-07 07:53] sftim commented on #14770
The Service page certainly wants more work done on it.

[2019-06-07 07:54] sftim commented on #14771
/language en

[2019-06-07 07:54] sftim commented on #14766
/language fr

[2019-06-07 08:23] erkanerol commented on #14574
Hi. Thanks for the quick fix! I have not a cluster with 1.13.7 now. Will check soon and give an update.

[2019-06-07 08:37] sftim commented on #14574
Documentation is correct (and Kubernetes bug is fixed)
/close

[2019-06-07 08:37] #14574 closed

[2019-06-07 08:41] sftim commented on #3735
How about closing this in favor of #14770?

[2019-06-07 08:51] #14766 closed

[2019-06-07 09:51] #12002 closed

[2019-06-07 10:40] palnabarun commented on #3735
Sure. We can track about refactoring the Service documentation on #14770

[2019-06-07 11:38] sftim commented on #14215
/language en

[2019-06-07 11:38] sftim commented on #14216
Covered by #14495?

[2019-06-07 13:00] sftim commented on #14770
Slightly relevant: #12410 talks about kube-proxy examples.

[2019-06-07 13:01] sftim commented on #12500
Thanks for the feedback
/language en

[2019-06-07 13:02] sftim commented on #12550
/triage needs-information

[2019-06-07 13:02] sftim commented on #12540
/triage support

[2019-06-07 13:55] #9760 closed

[2019-06-07 14:54] kakts opened #14777 "Translate concepts/services-networking/dns-pod-service/ in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/services-networking/dns-pod-service/ in Japanese.

**Why is this needed**
This document is not translated in Japanese.
**Comments**

Copy a file from en contents to content/ja/docs/concepts/services-networking/dns-pod-service.md and translate it into Japanese.

[2019-06-07 14:54] kakts commented on #14777
/language ja

[2019-06-07 14:56] #8905 closed

[2019-06-07 15:41] sftim commented on #13611
/language en

[2019-06-07 15:42] sftim commented on #13674
Thanks for the feedback
/language en

[2019-06-07 15:43] sftim commented on #13650
Thanks for the feedback
/language en

[2019-06-07 17:11] dan-j commented on #14722
Reported to AWS are investigating the issue. Will report back any progress

[2019-06-07 18:38] dpandhi-git opened #14778 "Document --show-labels"
**What would you like to be added**
Add --show-labels options as part of [kubectl cheatsheet](https://kubernetes.io/docs/reference/kubectl/cheatsheet/)
Currently documentation has length way to find it out
`# Show labels for all pods (or any other Kubernetes object that supports labelling) is # Also uses "jq"
for item in $( kubectl get pod --output=name); do printf "Labels for %s\n" "$item" | grep

[2019-06-07 19:37] leo-gan opened #14781 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/"
**This is a Bug Report**

**Problem:**
Please, see the output of shell:
leo@cloudshell:~ (skyhive-ml)$ kubectl exec -it task-pv-pod -- /bin/bash
error: unable to upgrade connection: container not found ("task-pv-container")

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-06-08 05:33] akitok opened #14786 "Issue with k8s.io/ja/docs/tutorials/kubernetes-basics/expose/expose-intro/"
**This is a Bug Report**

**Problem:**
Typo
LoadBalancerの説明の項にTypoがあります。
Sercice→Service

**Proposed Solution:**
Fix typo in docs.

**Page to Update:**
https://kubernetes.io/ja/docs/tutorials/kubernetes-basics/expose/expose-intro/

[2019-06-08 07:19] antaloala commented on #14714
I think in your answer you are implicitly recognizing the missing text reported.
In the text you copied (from current doc. version) 'admin creation' is only used for the static part, for the PV dynamic creation it is not used.
I still think the proposed change would make the doc. more consistent.

[2019-06-08 15:24] palnabarun commented on #13917
@sftim

I have filed a PR (#14789) which fixes the issue with Pod IP address in the diagram.

I tried compressing the image using two methods - [PNGout](https://aur.archlinux.org/packages/pngout/) and [zopfliPNG](https://github.com/google/zopfli).

While `zopfliPNG` fails to compress the Image with the embedded diagram, it compresses the image without the diagram by `41%`.

`PNGout` was able to co

[2019-06-08 15:31] palnabarun commented on #14733
Duplicate of #12968

[2019-06-08 18:23] #10272 closed

[2019-06-08 20:25] #12153 closed

[2019-06-09 20:49] #12051 closed

[2019-06-10 00:02] Jeffwan commented on #14722
This is actually a code problem but not documentation problem. The interface is `fsType` here.
Check here for details. https://github.com/kubernetes/kubernetes/issues/75941
1.12 and 1.13 have been patched.

[2019-06-10 03:42] apoliakevitch opened #14797 "Issue with k8s.io/docs/reference/command-line-tools-reference/kubelet-tls-bootstrapping/"
**This is a Bug Report**

**Problem:**
The described configuration procedure does not work!

**Proposed Solution:**
Fix the documentation

**Page to Update:**
https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet-tls-bootstrapping/

1.14

 kubectl get ClusterRoleBinding create-csrs-for-bootstrapping -o wide
NAME                            AGE   ROLE

[2019-06-10 04:48] #14797 closed

[2019-06-10 04:48] apoliakevitch commented on #14797
invalid

[2019-06-10 05:18] rajeshdeshpande02 commented on #14781
I tried executing this task and the command you mentioned in description is working perfectly fine. Please check container is running before executing this command.

[2019-06-10 05:55] #14350 closed

[2019-06-10 06:13] networkandcode opened #14799 "Improvement for k8s.io/docs/tasks/tls/certificate-rotation/"
Helpful if you could show the CLI steps involved

[2019-06-10 07:25] VicYP opened #14800 "Issue with k8s.io/docs/concepts/services-networking/dns-pod-service/"
**This is a Bug Report**

Hi K8 Team,
    I realize that DNS chapter in English and Chinese are different. As I mix them up with english words to understand the A record for a pod. But actually the Pod dns name is complete different with Service.
   I guess the Pod DNS explanation could be corrected accordingly.
   I am standing on the 1.14 K8 page.

**Problem:**

**Proposed Solution:**

**Page to

[2019-06-10 09:24] sftim commented on #14786
/language ja

[2019-06-10 09:24] sftim commented on #14781
/triage needs-information

[2019-06-10 09:25] sftim commented on #14799
Thanks for the suggestion @s1405
/language en

[2019-06-10 09:25] adelton commented on #11742
Fedora 30 still ships only Kubernetes 1.12. You can do all-on-one installation with the version just fine. As the page explains, the first node is the Kubernetes master, not the installation control plane.

[2019-06-10 09:26] sftim commented on #14800
Hi @VicYP

Can you tell us more about what part of https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/ doesn't look right? For example, what's the heading of the section that you found misleading?

Alternatively, if it's the page in Chinese that's wrong, tell us about that.

[2019-06-10 09:41] sftim commented on #13050
/language en

[2019-06-10 09:47] sftim commented on #11742
So, I'm not clear; maybe one of these applies:
1. The [page](https://kubernetes.io/docs/getting-started-guides/fedora/fedora_manual_config/) talks about having one Node (and does deploy one Node, in the Kubernetes sense). We should explain what a Node is so as not to confuse readers.
2. We should alter the current page to use a single computer that runs a control plane as well as executing Pods fo

[2019-06-10 09:55] sftim commented on #13917
When I suggested PNG optimization, I think I made things look too complex. PNG is already compressed anyway. It's fine to have the pull request as it stands without adding PNG optimization to the Hugo build.

[2019-06-10 09:55] sftim commented on #14778
/language en

[2019-06-10 09:56] sftim commented on #14778
Maybe remove the long version:
[code]

[2019-06-10 11:07] VicYP commented on #14800
Hi Tim.
     What I mean is I assume the same concept explanation is not kept on both language pages. The FQND for Pods in English is “foo.bar.my-namespace.svc.cluster.local”.  In contrast, Chinese page shows FQDN is pod-ip-address.my-namespace.pod.cluster.local.

     When I look into dns-pod-service instruction page in English. It shows as below.

[cid:image001.png@01D51FBF.9F066A30]

  Instead,

[2019-06-10 12:54] #14682 closed

[2019-06-10 14:00] medmedchiheb commented on #14477
Can i take this issue, as i am looking for an issue to make my first PR.

[2019-06-10 15:35] sethmccombs commented on #14477
Hey @medmedchiheb! It doesn't look like anyone has taken it! Feel free to submit a PR

[2019-06-10 15:51] medmedchiheb commented on #14477
Yes @sethmccombs , i need some help. do we need to change the title of the link 'Scelta della soluzione giusta` and also withing language/it there are no setup section.

[2019-06-10 18:23] kbhawkey commented on #12826
/remove-lifecycle stale

[2019-06-10 18:28] thomasvs opened #14809 "Issue with k8s.io/docs/tutorials/kubernetes-basics/update/update-intro/"
**This is a Bug Report**

**Problem:**

The carousel to explain updates is not working.  Clicking on the forward arrow doesn't do anything.  No errors are visible on the console when clicking on it.

![Screenshot from 2019-06-10 14-28-08](https://user-images.githubusercontent.com/248196/59217469-0067dd80-8b8c-11e9-83bc-46eafa444544.png)

**Proposed Solution:**

**Page to Update:**
k8s.io/docs/tuto

[2019-06-10 18:47] thomasvs opened #14810 "Issue with k8s.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/"
**This is a Bug Report**

**Problem:**

copy and paste from instructions does not work due to extra leading spaces

**Proposed Solution:**

remove leading spaces
![Screenshot from 2019-06-10 14-47-16](https://user-images.githubusercontent.com/248196/59218623-aa486980-8b8e-11e9-8a08-4b0fd1e3e6f0.png)

**Page to Update:**
https://kubernetes.io/...

[2019-06-10 19:46] claurence commented on #13905
@jimangel - this PR has the 1.15 milestone on it - is it expected to merge or this release?  The docs last call milestone is today

[2019-06-10 19:50] claurence commented on #14111
@jimangel - this issue is open on the 1.15 milestone - is this planning to happen in the 1.15 release?

[2019-06-11 00:25] jimangel commented on #14111
@claurence - detaching from the milestone to not affect the Docs deadline. I will add to the 1.16 milestone; if not resolved before then. Thanks!

[2019-06-11 00:27] jimangel commented on #13396
@makoscafee after you successfully generate the reference docs for 1.15 (and ensure documentation is exact), feel free to ping me to close.

[2019-06-11 00:30] jimangel commented on #13905
lgtm from a `#sig-multicluster` 6/10/2019:

/lgtm
/approve

[2019-06-11 00:38] #12826 closed

[2019-06-11 00:40] jimangel commented on #13905
Just merged the federation changes, thanks @thecrudge! Great work!
/close

[2019-06-11 00:40] #13905 closed

[2019-06-11 00:44] zhangqx2010 commented on #14714
+1 for consistency.

[2019-06-11 00:48] #13917 closed

[2019-06-11 01:02] digembok commented on #13929
I'm taking `Manage Compute Resources Container` in `content/id/docs/concepts/configuration`

[2019-06-11 01:36] #14714 closed

[2019-06-11 02:42] #13222 closed

[2019-06-11 02:53] makoscafee commented on #13396
Sure, I will ping you when is done ...

[2019-06-11 04:40] liggitt opened #14813 "Admission webhook follow-ups"
add a "best practices and warnings" section to https://github.com/kubernetes/website/blob/dev-1.15/content/en/docs/reference/access-authn-authz/extensible-admission-controllers.md that covers:
* idempotence
* intercepting all versions of an object (matchPolicy: Equivalent, failurePolicy: Fail)
* availability (be fast, set a low timeout)
* guaranteeing the final state of the object is seen (use val

[2019-06-11 07:51] yvzsrt opened #14814 "Issue with k8s.io/docs/tasks/administer-cluster/dns-debugging-resolution/"
**This is a Bug Report**

**Problem:**
`kubectl get pods --namespace=kube-system -l k8s-app=coredns `
command does not give the output as it is seen in the documentation because coredns pod has still the label " k8s-app=kube-dns"

**Proposed Solution:**
Command should be fixed. I'm not sure why coredns has still a label " k8s-app=kube-dns".
**Page to Update:**
https://kubernetes.io/docs/tasks/admi

[2019-06-11 09:45] sftim commented on #14814
Thanks for the report
/language en
/kind bug

[2019-06-11 09:45] sftim commented on #14813
/language en

[2019-06-11 09:46] sftim commented on #14810
Thanks for the report.
I favour making the YAML file downloadable (via a `codenew` shortcode), which should also fix that.

/language en

[2019-06-11 09:47] sftim commented on #14809
Thanks for the report.
/language en
/triage bug

[2019-06-11 09:48] sftim commented on #14809
/kind bug

[2019-06-11 11:27] #12109 closed

[2019-06-11 11:49] onitake opened #14817 "Issue with k8s.io/docs/concepts/cluster-administration/cloud-providers/#cloudstack"
**This is a Bug Report**

**Problem:**
The section that documents integration with CloudStack environments is incorrect.
It links to the OpenStack cloud provider, which has nothing to do with CloudStack.

**Proposed Solution:**
There is no _official_ replacement for the old CloudStack cloud provider in Kubernetes, but a number of unofficial providers exist.

I would suggest linking to the CCM that

[2019-06-11 11:55] hanoisteve opened #14818 "Issue with k8s.io/docs/reference/command-line-tools-reference/kube-apiserver/"
**This is a Bug Report**

IT IS NOT CLEAR FROM THE DOCUMENTATION HOW TO ACCESS KUBE-APISERVER
IT APPEARS TO BE RUN FROM THE COMMAND LINE BASED ON THE DOCUMENTATION. BUT ITS ACTUALLY INSIDE A CONTAINER IN MASTER.

**Problem:**

**Proposed Solution:**
DOCUMENT HOW TO ACCESS KUBE-API SERVER
**Page to Update:**
https://kubernetes.io/...

[2019-06-11 11:59] hanoisteve commented on #14818
Here is an example of the confusion this is causing.
https://stackoverflow.com/questions/50352621/where-is-kube-apiserver-located
Even after reading the solution, its still not clear to me exactly how one would run the kube-api server. Is it something that can be run after modifying a yaml file? Does the cluster need to be rebuilt? etc.  Why are the features not available through kubeadmin?  I am

[2019-06-11 14:29] Valansch opened #14821 "Interactive Tutorial - Deploying an App Module 3: Proxycall blocks"
**This is a Bug Report**

**Problem:**
On step 3 it is recommented to call `kubectl proxy`. This call blocks and the user is no longer able to continue with the tutorial.

**Proposed Solution:**
Replace the call with `kubectl proxy &`

**Page to Update:**
https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/

[2019-06-11 14:33] sftim opened #14822 "Update https://kubernetes.io/docs/tasks/administer-cluster/nodelocaldns/"
**This is a Feature Request**

**What would you like to be added**
Adapt page about [node-local DNS](https://kubernetes.io/docs/tasks/administer-cluster/nodelocaldns/) (`content/en/docs/tasks/administer-cluster/nodelocaldns.md`) to follow docs style guide.

- use a [feature-state shortcode](https://kubernetes.io/docs/contribute/style/hugo-shortcodes/#feature-state) to indicate level of support.
-

[2019-06-11 14:34] sftim commented on #14817
Thanks for the feedback
/language en

[2019-06-11 14:38] sftim commented on #14818
Here's some changes that I think could help with this:
- revise https://kubernetes.io/docs/concepts/overview/ and https://kubernetes.io/docs/concepts/architecture/ to have a coherent structure
- add a diagram of a Kubernetes cluster, similar to [post-ccm-arch](https://d33wubrfki0l68.cloudfront.net/518e18713c865fe67a5f23fc64260806d72b38f5/61d75/images/docs/post-ccm-arch.png)
  - that is easily disc

[2019-06-11 14:40] sftim commented on #14818
@hanoisteve it sounds like you had a frustrating experience

I can see why you weren't sure where that component would be running.

/language en

[2019-06-11 14:53] gfcameron opened #14823 "Issue with k8s.io/docs/reference/glossary/"
**This is a Bug Report**

No description of Kubernetes Ingress or Federation in Glosssary of Terms

**Proposed Solution:**
Add description of Ingress, Federation and related terms

**Page to Update:**
https://kubernetes.io/...

Current

[2019-06-11 16:47] adobo76 opened #14828 "Improvement for k8s.io/docs/setup/independent/install-kubeadm/"
Give a command that I can execute to validate the installation was successful.

[2019-06-11 16:49] neolit123 commented on #14828
please provide more details about your OS/distribution version and what setup step you wish to verify.

[2019-06-11 17:25] opowbow opened #14829 "Add KIND as the options for spinning up a test kubernetes environment for the "Tasks" section examples"
**This is a Feature Request**

**What would you like to be added**
Under the Tasks sections, could we add KIND to the ways of setting up a kubernetes cluster ? Currently the section called : **Before you begin**, instructs the user as follows: " You need to have a k8s cluster " and it references minikube; then katacoda and https://labs.play-with-k8s.com

**Why is this needed**

KIND is another sou

[2019-06-11 17:38] sftim commented on #14823
Thanks for the suggestion
/language en
/kind feature

[2019-06-11 17:43] sftim opened #14830 "No content on /zh/docs/home/"
**This is a Feature Request**

**What would you like to be added**
https://kubernetes.io/zh/docs/home/ (docs home page for 中文 / Chinese localization) is essentially blank.

**Why is this needed**
Visitors to this page would expect substantially more information.

**Comments**
This page has recently been showing a low score for visitor satisfaction (via feedback buttons on the page).
/language zh

[2019-06-11 17:45] jimangel commented on #14830
/cc @chenrui333 @tengqm @markthink @hanjiayao @zhangxiaoyu-zidif

[2019-06-11 17:46] sftim commented on #14830
I'd like to track this with a P2 or P1 label; is that reasonable / OK?

[2019-06-11 17:47] sftim commented on #14828
/language en
/triage information-needed

[2019-06-11 17:48] sftim commented on #14829
Thanks for the suggestion @opowbow
/kind feature
/language en

[2019-06-11 17:49] sftim commented on #14821
Thanks for the suggestion @Valansch

/language en

[2019-06-11 17:52] jimangel commented on #14830
Yea, I think a P2 is ok. I wouldn't be opposed to P1 with justification.

[2019-06-11 17:53] sftim commented on #14821
The tutorial recommends running `kubectl proxy` in a second tab, so you don't need to use `&` to put it into the background:

That seems reasonable to me. I don't think the katacoda tutorial needs to change.

[2019-06-11 17:53] sftim commented on #14821
/triage support

[2019-06-11 17:56] sftim commented on #14830
Thanks @jimangel; I'm not sure how issue triage and prioritization is supposed to happen.
/priority important-soon

[2019-06-11 20:42] Valansch commented on #14821
Sorry you are right. I missed that part about the new tab

[2019-06-11 20:42] #14821 closed

[2019-06-11 21:11] jpds opened #14833 "IPv6 enablement"
**This is a Feature Request**

**What would you like to be added**

kubernetes.io should also be served from an IPv6 enabled endpoint.

[2019-06-11 21:11] jpds commented on #14833
@thockin I remember you told me to file this one a while ago. :)

[2019-06-12 00:28] jearls opened #14834 "Improvement for k8s.io/docs/reference/using-api/api-concepts/"
The Kubernetes REST API documentation does not describe any of the "special" `Content-Type` values which are used.

For example, the `PATCH` operation does not work with a standard `Content-Type: application/json`.

The only place that even _vaguely_ mentions these "special" content types is the documentation for the *alpha* feature called "server-side-apply",  https://kubernetes.io/docs/reference

[2019-06-12 01:46] zhangqx2010 commented on #14830
Don't know what happening, but I will make a PR trying to fix.

[2019-06-12 06:53] abheyogy opened #14838 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-volume-storage/"
**This is a Bug Report**

**Problem:** Missing information about Volumes.

**Proposed Solution:** Missing information, especially that the lifecycle of a Volume is limited to the lifecycle of the Pod. Also, it would be nice to mention some contrast with Persistent Volumes here.

**Page to Update:**
https://kubernetes.io/...

[2019-06-12 07:37] Rajakavitha1 commented on #14286
/assign @Rajakavitha1

[2019-06-12 08:41] sftim commented on #14838
Thanks for the suggestion @abheyogy
/kind feature
/language en

[2019-06-12 08:44] sftim commented on #14833
/kind feature
Thanks for the suggestion @jpds !

[2019-06-12 08:44] sftim commented on #14834
Thanks for the suggestion @jearls
/language en
/kind feature
/sig api-machinery

[2019-06-12 09:26] EricVanCaenenberghe opened #14842 "Issue with k8s.io/docs/tutorials/kubernetes-basics/expose/expose-intro/"
**This is a Bug Report**

**Problem:**
Module 3, 4 and 5 of the interactive tour are broken.
**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-06-12 12:30] kakts opened #14846 "Translate concepts/storage/volume-snapshot-classes/ in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/storage/volume-snapshot-classes/ in Japanese.

**Why is this needed**
This document is not translated in Japanese.
**Comments**

Copy a file from en contents to content/ja/docs/concepts/storage/volume-snapshot-classes.md and translate it into Japanese.

[2019-06-12 12:30] kakts commented on #14846
/language ja

[2019-06-12 12:32] kakts opened #14847 "Translate concepts/storage/dynamic-provisioning/ in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/storage/dynamic-provisioning/  in Japanese.

**Why is this needed**
This document is not translated in Japanese.
**Comments**

Copy a file from en contents to content/ja/docs/concepts/storage/dynamic-provisioning.md and translate it into Japanese.

[2019-06-12 12:32] kakts commented on #14847
/language ja

[2019-06-12 12:36] kakts opened #14848 "Translate concepts/workloads/controllers/deployment/ in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/workloads/controllers/deployment/  in Japanese.

**Why is this needed**
This document is not translated in Japanese.
**Comments**

Copy a file from en contents to content/ja/docs/ concepts/workloads/controllers/deployment.md and translate it into Japanese.

[2019-06-12 12:36] kakts commented on #14848
/language ja

[2019-06-12 13:15] mhamdisemah commented on #14842
if i am understanding well you mean this modules :
[https://kubernetes.io/docs/tutorials/kubernetes-basics/explore/explore-interactive/](url)
[https://kubernetes.io/docs/tutorials/kubernetes-basics/expose/expose-interactive/](url)
[https://kubernetes.io/docs/tutorials/kubernetes-basics/scale/scale-interactive/](url)
if you mean this module so they work well they are not broken

[2019-06-12 13:35] raelga commented on #14474
Hey @editaxz, as we spoke on slack, this particular issue was already fixed by @jrab66 at #14491.

@sethmccombs can you confirm the resolution of the issue?

Thanks!

[2019-06-12 13:41] raelga commented on #13948
## Status update

_Updated 2019/06/12_

### Merged and published :tada:

- #14546 reference/glossary/kubeadm by @javisabalete
- #14645 typo fix in _index @chesstrian
- #14553 reference/glossary/docker by @javisabalete
- #14474 fix dangling "pick-right-solution" references by @jrab66

### Reviewed (LGTM):

- #14585 content/es/docs/concepts/overview/what-is-kubernetes by @bureado

@glo-pena @alexbra

[2019-06-12 13:43] sftim commented on #14842
@EricVanCaenenberghe can you tell us more about the trouble you've experienced?

/triage needs-information

[2019-06-12 13:57] #14830 closed

[2019-06-12 14:16] sftim commented on #12740
I propose making this one `frozen` because it's worth doing, eventually.

[2019-06-12 14:44] EricVanCaenenberghe commented on #14842
by executing the interactive tour and executing the step by step actions requested by the tour. They fail due  The connection to the server localhost:8080 was refused - did you specify the right host or port?
At my knowledge all the setup is done by the module, correct?

[2019-06-12 14:46] sftim commented on #14380
Thanks. That seems like something people might want more information about.
/language en

[2019-06-12 14:46] sftim commented on #14352
/language en

[2019-06-12 14:47] sftim commented on #14376
That seems like a good suggestion @rk186009
/language en

[2019-06-12 14:47] sftim commented on #14344
/language en

[2019-06-12 14:48] sftim commented on #14342
Looks like signposting readers to Deployment is enough to explain how to get rolling updates.

/language en
/close

[2019-06-12 14:49] #14342 closed

[2019-06-12 14:49] sftim commented on #14337
Thanks for the suggestion @adic26

/kind feature
/language en

[2019-06-12 14:50] sftim commented on #14330
Thanks for the suggestion @szuecs
/language en

[2019-06-12 14:50] sftim commented on #14409
/language en

[2019-06-12 14:51] sftim commented on #14404
Good spot @SahinVardar
/kind cleanup
/language en

[2019-06-12 14:53] sftim commented on #14512
https://kubernetes.io/docs/tutorials/kubernetes-basics/explore/explore-intro/ defines Pods:

Does that cover things @axalix ?
/triage needs-information

[2019-06-12 14:54] #11382 closed

[2019-06-12 14:54] sftim commented on #14624
This seems worth explaining more. Thanks for the suggestion.
/triage feature

[2019-06-12 15:00] willzhang opened #14853 "Document search is blocked by the Great Wall Firewall?"
**what happend?**
I need to prepare for the CKA examination in the near future.But I found that I couldn't use the search function of official documents to get anything.
The serch results have always been Fetching results..,nothing get.
I had to configure shadowsocks in global mode so that VPN could proxy all requests to use the search function.
**what i want？**
can you provide a search for china?

[2019-06-12 15:03] sftim opened #14854 "Outdated terminology: “kubernetes-minion-group”"
**This is a Bug Report**

**Problem:** Various pages have Nodes named `kubernetes-minion-group-<something>`.
Current Kubernetes doesn't name anything a minion; this is legacy terminology and might confuse some readers.

**Proposed Solution:**
Update affected pages

**Page to Update:**
https://kubernetes.io/docs/tasks/administer-cluster/cluster-management/
https://kubernetes.io/docs/tasks/run-appli

[2019-06-12 15:03] sftim commented on #14854
I think this is a reasonable candidate for
/help

[2019-06-12 15:06] sftim commented on #14853
The search behavior relies on being able to access Google Custom search. If your internet provider blocks access to Google, you will not be able to use that feature of the Kubernetes documentation.

/triage support

[2019-06-12 15:10] sftim commented on #14770
Discussed in SIG Docs weekly meeting.
/priority important-longterm
cc @cody-clark

[2019-06-12 15:10] sftim commented on #14770
Also relevant to #11382 because the current page is heavy on AWS-specific detail.

[2019-06-12 15:11] sftim commented on #14854
/language en

[2019-06-12 15:14] sftim commented on #12303
Update: https://v1-9.docs.kubernetes.io/docs/reference/ is showing an error now too.

Docs for v1.10 are at https://v1-10.docs.kubernetes.io/ and don't link to earlier versions AFAICT.

[2019-06-12 15:19] sftim commented on #12312
/triage needs-information

[2019-06-12 15:20] sftim commented on #12318
@urasai212 - sorry about the wait before asking. Can you explain what about that page isn't right?
/triage needs-information

[2019-06-12 15:21] sftim commented on #12217
Thanks for the report
/language en

[2019-06-12 15:22] sftim commented on #12156
/close

[2019-06-12 15:22] #12156 closed

[2019-06-12 15:24] sftim commented on #13534
/language en

(PRs welcome!)

[2019-06-12 15:26] sftim commented on #13667
Thanks for the suggestion @timstoop. In the future, revised [pages on Controllers](https://github.com/kubernetes/website/issues/4135) might have something to add (and link to) once done.

/language en

[2019-06-12 15:27] sftim commented on #13546
That's a good suggestion @moltar
/language en
/help

[2019-06-12 15:27] mhamdisemah commented on #14842
at my knowledge the setup is done by katakoda

[2019-06-12 15:28] sftim commented on #14038
/remove-help

[2019-06-12 15:29] sftim commented on #13964
/remove-help
/remove-good-first-issue

[2019-06-12 15:34] sftim commented on #14638
Issue #11536 looks relevant: it talks about ownership of /docs/setup/

[2019-06-12 15:35] sftim commented on #12268
I'm not confident that this meets `/help` [requirements](https://git.k8s.io/community/contributors/guide/help-wanted.md)
/remove-help

[2019-06-12 15:37] EricVanCaenenberghe commented on #14842
some additional information: I started another tutorial on IBM Cloud concerning kubernetes.
After downloading all the stuff via the IBM Cloud command line on a RHEL 7.6. I have a similar error:
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.3", GitCommit:"5e53fd6bc17c0dec8434817e69b04a25d8ae0ff0", GitTreeState:"clean", BuildDate:"2019-06-06T01:44:30Z", GoVe

[2019-06-12 15:45] Jurlind opened #14855 "Issue with k8s.io/docs/reference/access-authn-authz/controlling-access/"
**This is a Typo Report**

**Problem:**
[Here](https://kubernetes.io/docs/reference/access-authn-authz/controlling-access/#transport-security) is stated that the API serves on 443.

[Here](https://kubernetes.io/docs/reference/access-authn-authz/controlling-access/#api-server-ports-and-ips) is stated that API serves on two ports, one insecure default on 8080, and one secure default on 6443.

Should

[2019-06-12 15:47] axalix commented on #14512
@sftim The question wasn't about missing information, it was mostly about consistency.
Usually when people follow tutorials, they do it in a sequence: 1 -> 2 -> 3 -> 4
We can't use something in "1", but define it in "4".

Same here: the section "Interactive Tutorial - Deploying an App"  (step #3, scenario) uses pots a lot, but they are actually defined only in next sections.

[2019-06-12 16:15] medmedchiheb commented on #14855
kube-apiserver running on port 6443, that means missing 6 in the case of 443 . who can confirm!

[2019-06-12 16:23] sftim commented on #14512
So, before readers encounter

(module 2), they should have learned roughly what a Pod is.

If https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro/ outlined what a Pod is, that should cover it. Have I got that right?

[2019-06-12 16:50] dpandhi-git commented on #14854
Would like to work on it.

[2019-06-12 17:03] axalix commented on #14512
No.

[2019-06-12 17:14] kevinsimper opened #14857 "Does Kubernetes still use CPU shares or CPU periods"
With docker early as I understood it a container got the cpu percentage it's number was out of the total. So if a container requested 50 and there is two containers with 25 each. The first container would get 50% cpu time.

However it seems different with CPU `100m`, where there is talked about 100 millicpu .https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#how-

[2019-06-12 17:16] sftim commented on #14512
Ok, no worries. Can you clarify the kind of change that you have in mind?

[2019-06-12 18:02] sftim commented on #14857
It sounds like you're mainly looking for help @kevinsimper

You can try asked on [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes), post your question on the [Kubernetes Slack](http://slack.k8s.io/) or via the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

If you've got an idea about improving those pages, it's worth sharing that here.

[2019-06-12 18:05] prankul88 commented on #14828
Hi @adobo76 , simply running `kubeadm` command shows a help page which signifies a successful installation. Not sure If you wish to verify just kubeadm or other packages too.

[2019-06-12 18:13] adobo76 commented on #14828
There needs to be some sort of self test that validates the install.

On Wed, Jun 12, 2019 at 12:05 PM Prankul <notifications@github.com> wrote:

[2019-06-12 18:17] kevinsimper commented on #14857
@sftim Thanks for responding.

No I created this issue to highlight if there is any issues with the documentation. I see that it isn't that clear about CPU and that it mentions Docker which is not what Kubernetes is using anymore.

https://kubernetes.io/blog/2018/05/24/kubernetes-containerd-integration-goes-ga/

Should the `docker run` be removed?

Should the cpu shares reference be cleared up in

[2019-06-12 18:30] sftim commented on #14855
https://kubernetes.io/docs/reference/access-authn-authz/controlling-access/#api-server-ports-and-ips also says:

This doesn't look like a typo to me. Maybe https://kubernetes.io/docs/reference/access-authn-authz/controlling-access/#transport-security should mention that you might be running a cluster where the apiserver is accessible via port 6443. It's not clear from this one page why that discre

[2019-06-12 18:30] sftim commented on #14855
/language en

[2019-06-12 18:53] MikeSpreitzer opened #14858 "Confusing explanation of "subject" in https://kubernetes.io/docs/reference/access-authn-authz/rbac/#rolebinding-and-clusterrolebinding"
**This is a Bug Report**

**Problem:**
(1) The identification of subjects as "users, groups, or service accounts" suggests that service accounts are not users.  But https://kubernetes.io/docs/reference/access-authn-authz/authentication/#users-in-kubernetes clearly says that service accounts _are_ users (one of the two categories of users).

(2) The identification of subjects as users (service acco

[2019-06-12 19:25] neolit123 commented on #14828
the install validation is already part of the DEBs and RPMs on the package managers side.
if the package failed to install tools like `apt-get` and `rpm` will fail.

/close

[2019-06-12 19:25] #14828 closed

[2019-06-12 20:07] adobo76 commented on #14828
That only works in the case of when you use a package manager though.
In this case I followed the linux container tab.

On Wed, Jun 12, 2019 at 1:25 PM Lubomir I. Ivanov <notifications@github.com>
wrote:

[2019-06-12 20:14] mhamdisemah commented on #14842
so i think you could open a new issue in kubernetes repo because it is out of the website context

[2019-06-12 21:04] groner opened #14860 "Blog post index for past years does not expand making older posts unreachable"
**This is a Bug Report**

**Problem:**
Trying to expand or collapse any of the years in the post index on the right hand navigation does not work.  A javascript error and stack trace appears in the console.

**Page to Update:**
https://kubernetes.io/blog/

Additional Information:
This is what I see in the console when I click on 2018 to expand it.
[code]

[2019-06-12 21:20] neolit123 commented on #14828
xref https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl

well that's why i asked about the OS/distro.

[code]

a PR to add this verification is welcome.

/sig cluster-lifecycle

[2019-06-12 21:31] adobo76 commented on #14828
I did manage to get beyond these steps yesterday.
Certainly checking the md5sums is a good first step, however, having a
network addon seems to be a requirement, there are several ports that need
to be available and I remember it complaining about my docker version as
well.
Doesn't kubernetes require docker to run?  A check for that would be a good
step as well.

Aaron

On Wed, Jun 12, 2019 at 3:2

[2019-06-12 22:36] neolit123 commented on #14828
to be available and I remember it complaining about my docker version as
well. Doesn't kubernetes require docker to run?  A check for that would be a good
step as well.

installing a container runtime (CR) is right before installing the kubeadm binaries in the above link.
kubeadm will perform network and CR checks on `init` and `join` runtime (they are called "preflight checks") to verify if your

[2019-06-12 22:53] neolit123 commented on #14337
PRs welcome to link from that page to: https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/
thanks

/sig cluster-lifecycle

[2019-06-12 22:57] nando740 commented on #9523
Exactly same issue here.

Running minikube version 1.1.1. Kubectl Client Version: v1.14.3; Server Version: v1.14.3.

[code]

[2019-06-13 04:35] chenrui333 commented on #14830
Thanks @zhangqx2010 for taking the lead on this!!

[2019-06-13 08:22] Jurlind commented on #14855
In my opinion it is still not clear which is the default secure port the cluster serves, 443 or 6443?

Obviously, both can be used as default, but from the documentation is not clearly distinguished in which context the 443 is default, and in which 6443. It is also not clear if the clusters serves a secure connection on both ports at the same time.

Thank you for your clarification. Cheers!

[2019-06-13 08:23] sftim commented on #14858
It seems to me that https://kubernetes.io/docs/reference/access-authn-authz/authentication/#users-in-kubernetes needs rewording. It's not helping the reader to say that service accounts are one kind of user and that the other kind of user is called a normal user.

Same kind of issue with https://kubernetes.io/docs/reference/access-authn-authz/service-accounts-admin/

[2019-06-13 08:37] sftim commented on #14857
You can still use Docker as the container runtime for Kubernetes nodes. If you use a different container runtime, you might get different behavior with resource requests and limits. These should be portable though.

It sounds like the page should say something like “assuming that you're using Docker,” to explain the caveat.

If I've understood that part of the Kubernetes platform correctly, a limi

[2019-06-13 08:48] #14476 closed

[2019-06-13 09:25] willzhang commented on #14853
oh,shit the GFW!

[2019-06-13 09:26] #14853 closed

[2019-06-13 11:29] Rajakavitha1 commented on #14829
Thanks for taking on this @opowbow!!! It would be great if you could add the content for KIND here: https://kubernetes.io/docs/setup/learning-environment/

[2019-06-13 11:57] opowbow commented on #14829
No problem. So this is creating the content for KIND so that it can be referenced throughout the website...? mainly from the "Tasks" sections...?

[2019-06-13 12:01] Rajakavitha1 commented on #14829
It was more in terms of Getting Started with Kubernetes with KIND. Just like the one we now have for Getting Started for Kubernetes with Minkube: https://kubernetes.io/docs/setup/learning-environment/minikube/

[2019-06-13 12:02] opowbow commented on #14829
Yes sure. As I say , this content then is referenced in the task section. OK great . thanks

[2019-06-13 12:03] Rajakavitha1 commented on #14829
Yes, works either ways :)

[2019-06-13 12:37] kevinsimper commented on #14857
On Google Cloud containerd is the default now, and both Docker uses containerd underneath.

That is my point, it doesn't say that 😄and on the same page it mentions CPU Shares which works different, in the it calculates the total cpu amounts and then divide it by the total.

So if we can agree that it is not clear, then maybe a third person can help us with the facts, because I don't know what is c

[2019-06-13 12:59] sftim commented on #14724
Might be relevant to #14657

[2019-06-13 13:03] mhamdisemah commented on #14860
/kind bug

[2019-06-13 13:22] 8398a7 opened #14870 "Inadequate kubeadm-upgrade-1-14.md (apt-mark) and Overview of kubeadm"
**This is a Bug Report**

**Problem:**
There is a deficiency in the operation of the Ubuntu tab.
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-14/#Upgrade-kubelet-and-kubectl

[code]

and there seems to be no link on how to upgrade from 1.13 to 1.14.
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-upgrade/#kubeadm-upgrade-guidance

**Proposed Soluti

[2019-06-13 13:24] neolit123 commented on #14870
the change looks good.
would you mind sending a PR?

the other upgrade-* docs seem to require a similar change.

/sig cluster-lifecycle

[2019-06-13 13:26] neolit123 commented on #14870
look like you did sent it.
thanks.

[2019-06-13 13:39] sftim commented on #14870
/language en

[2019-06-13 13:41] Jurlind opened #14872 "Confusing explanation about request verbs in the authorisation context"
**This is a Bug Report**

**Problem:**
[Here](https://kubernetes.io/docs/reference/access-authn-authz/authorization/#review-your-request-attributes) under **HTTP request verb** it is stated that the following verbs, namely get, post, put, and delete are used for non-resource requests.

[Here](https://kubernetes.io/docs/reference/access-authn-authz/authorization/#determine-the-request-verb) is stat

[2019-06-13 13:42] sftim commented on #1559
@thkoch2001 it seems easy enough to link to sections on the current docs

Do you feel this is fixed?

[2019-06-13 13:42] sftim commented on #1040
Also see #1817

[2019-06-13 14:02] mhamdisemah commented on #14860
/language en

[2019-06-13 14:30] sftim commented on #14872
Thanks for pointing that out @Jurlind
/language en

[2019-06-13 17:34] Ramane19 commented on #9655
How do i get rid of this error?

[preflight] Some fatal errors occurred:
	[ERROR FileAvailable--etc-kubernetes-manifests-kube-apiserver.yaml]: /etc/kubernetes/manifests/kube-apiserver.yaml already exists
	[ERROR FileAvailable--etc-kubernetes-manifests-kube-controller-manager.yaml]: /etc/kubernetes/manifests/kube-controller-manager.yaml already exists
	[ERROR FileAvailable--etc-kubernetes-manifests

[2019-06-13 17:46] neolit123 commented on #9655
call `kubeadm reset` first.

[2019-06-13 18:08] rshrimp opened #14878 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
**This is a Bug Report**

**Problem:** localhost:8001 is not reachable in all the excercises

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-06-13 18:42] Ramane19 commented on #9655
I did, it did not work. I went up to rebuilding it from scratch but get the same error

[2019-06-13 18:43] neolit123 commented on #9655
that's unlikely, `kubeadm reset` deletes the manifests under `/etc/kubernetes/manifests/`.

[2019-06-13 18:58] Ramane19 commented on #9655
After rebuilding and using the kubeadm reset feature, i get this error as root

kubectl get pods --all-namespaces
Unable to connect to the server: x509: certificate signed by unknown authority (possibly because of "crypto/rsa: verification error" while trying to verify candidate authority certificate "kubernetes")

But get this as user
kubectl get pods --all-namespacesNAMESPACE     NAME

[2019-06-13 19:44] neolit123 commented on #9655
google the "kubeadm troubleshooting". there are some potential fixes for coredns crashloop.

[2019-06-13 21:04] rshrimp opened #14882 "Issue with k8s.io/docs/tutorials/kubernetes-basics/update/update-intro/"
**This is a Bug Report**

**Problem:**carousel feature of going through the diagrams is not working on safari/chrome browsers

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-06-13 21:24] #2268 closed

[2019-06-13 21:50] imkin commented on #12329
/remove-lifecycle stale

[2019-06-14 02:40] jkkitakita opened #14886 "Translate concepts/services-networking/ingress-controllers/ in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/services-networking/ingress-controllers/ in Japanese.

**Why is this needed**

This document is not translated in Japanese.

**Comments**

Copy a file from en contents to content/ja/docs/concepts/storage/volume-snapshot-classes.md and translate it into Japanese.

[2019-06-14 02:41] jkkitakita commented on #14886
/language ja

[2019-06-14 02:44] nrnrk opened #14887 "Translate /docs/concepts/services-networking/ingress/ in Japanese"
**This is a Feature Request**

**What would you like to be added**
Translation of /docs/concepts/services-networking/ingress/ in Japanese

**Why is this needed**
No /docs/concepts/services-networking/ingress/ of in Japanese.

**Comments**

[2019-06-14 02:44] nrnrk commented on #14887
/language ja

[2019-06-14 02:45] nrnrk commented on #14887
/assign

[2019-06-14 02:45] jkkitakita commented on #14886
/assign

[2019-06-14 02:46] wakazooo opened #14888 "Translate /docs/contribute/ in Japanese"
**This is a Feature Request**

**What would you like to be added**
Translate docs/contribute/ in Japanese.

**Why is this needed**
This document is not translated in Japanese.

**Comments**

[2019-06-14 02:46] wakazooo commented on #14888
/language ja

[2019-06-14 02:47] wakazooo commented on #14888
/assign

[2019-06-14 07:53] sicbb opened #14891 "Issue with k8s.io/de/docs/setup/"
**This is a Bug Report**

**Problem:**
Page: https://kubernetes.io/de/docs/setup/#l%C3%B6sungen-f%C3%BCr-lokale-maschinen...

Link to https://kubernetes.io/docs/setup/pick-right-solution/#local-machine-solutions leads to 404 not found.

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-06-14 08:43] sftim commented on #14891
Danke
/language de

[2019-06-14 08:45] sftim commented on #14882
Thanks for the report. It doesn't work on firefox either.
/language en

This is also a duplicate of issue #14809
/triage duplicate

[2019-06-14 08:50] sftim commented on #14878
I followed the instructions for the [tutorial](https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/) and it all worked OK for me.

Be sure to heed the note on step 3
<blockquote>
<em>Note: Check the top of the terminal. The proxy was run in a new tab (Terminal 2), and the recent commands were executed the original tab (Terminal 1). The proxy still runs in the secon

[2019-06-14 09:03] mhamdisemah opened #14893 "add kind (Kubernetes IN Docker) to the list of learning environment"
**This is a Feature Request**

**What would you like to be added**
Add kind project to the list of Docker-based solutions when in learning environment

**Why is this needed**
This document should be updated as always there is new docker based solutions to run kubernetes

**Page to Update:**
https://kubernetes.io/docs/setup/#learning-environment

[2019-06-14 09:04] mhamdisemah commented on #14893
/kind feature

[2019-06-14 09:34] medmedchiheb commented on #14893
thanks @mhamdisemah  usefull,
i will take care of this issue

/language en

[2019-06-14 09:34] medmedchiheb commented on #14893
/assign

[2019-06-14 09:41] mhamdisemah commented on #14893
Hey @medmedchiheb! For sure Feel free to submit a PR

[2019-06-14 11:27] medmedchiheb commented on #14809
#14895

[2019-06-14 13:06] fiware-austria opened #14898 "Issue with k8s.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-14/: Still the old version after successful upgrade"
**This is a Bug Report**

**Problem:**

I strictly followed the upgrade procedure. The first attempt failed, since I apparently ran in a time-out while upgrading the api-server:

[code]
After this I started the upgrade again. This time I got the following error:

[code]

Tried again after this, but the api-server was already down:

[code]

Thus, what I did was restarting the `kubelet` using `sudo

[2019-06-14 13:41] neolit123 commented on #14898
hello,
the kubernetes/website is documentation related and this should be logged in the kubernetes/kubeadm issue tracker instead.

i have no explanation why you are experiencing the problems but let's have more people look at them by logging this in k/kubeadm.

thank you
/sig cluster-lifecycle
/close

[2019-06-14 13:41] #14898 closed

[2019-06-14 14:06] editaxz commented on #13948
Hola quiero trabajar en esto: volume.

[2019-06-14 14:07] raelga commented on #13948
Genial!

[2019-06-14 15:28] sftim commented on #14893
When I look (revision c0612aed8de782f385b69d2b7ecb03c9a190a033), https://kubernetes.io/docs/setup/#learning-environment lists kind, labelled as “Kubernetes IN Docker”

[2019-06-14 15:35] sftim commented on #12082
#14861 is relevant to this too

[2019-06-14 15:35] mhamdisemah commented on #14893
yes you are right ,I have not seen it as i am always used to read it kind :sweat_smile: not “Kubernetes IN Docker”

[2019-06-14 15:36] mhamdisemah commented on #14893
/close

[2019-06-14 15:36] #14893 closed

[2019-06-14 15:37] medmedchiheb commented on #14893
/woof

[2019-06-14 16:37] reshadde commented on #12765
How would that work now with `averageValue`
I get following when i simply replace `targetValue` with `averageValue`
`error validating data: ValidationError(HorizontalPodAutoscaler.spec.metrics[0].object): missing required field "targetValue" in io.k8s.api.autoscaling.v2beta1.ObjectMetricSource;`

[2019-06-14 16:43] #12228 closed

[2019-06-14 17:00] reshadde commented on #12765
https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/#autoscaling-on-multiple-metrics-and-custom-metrics
`With Value, the target is compared directly to the returned metric from the API. With AverageValue, the value returned from the custom metrics API is divided by the number of pods before being compared to the target.`

[2019-06-15 06:10] steren opened #14904 "Docs are not mobile friendly"
**This is a Bug Report**

**Problem:**

Docs are unusable on mobile:

![Screenshot_20190614-230600](https://user-images.githubusercontent.com/360895/59547800-4230b500-8ef9-11e9-812c-5bdbbcd49a91.png)

**Proposed Solution:**

Docs are usable on mobile.

This will mostly involve CSS work via media queries to set the correct content width, font size.

For the menu, there right be the need to make it

[2019-06-15 10:35] aekinkjet30 opened #14905 "Issue with k8s.io/docs/reference/issues-security/issues/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-06-15 12:50] #14477 closed

[2019-06-15 13:28] sachitale opened #14910 "Issue with k8s.io/docs/getting-started-guides/fedora/flannel_multi_node_cluster/"
**This is a Bug Report**

**Problem:**
I'm using latest etcd.
Problem 1:
The commands for etcdctl:
etcdctl set ..
are from old version it seems.

Problem 2:
Even after setting up key in etcd:
/coreos.com/network/config the flannel service wont start. It says no key starting with /coreos.com found.
If I run command:
etcdctl get /coreos.com/network/config

I can see the value that was set in the pre

[2019-06-15 13:49] zhangqx2010 commented on #14905
@aekinkjet30 Could please describe the details of your problems?
/triage needs-information

[2019-06-15 14:31] raelga commented on #14904
Just to add more information, the reference documentation is generated with:

https://github.com/kubernetes-incubator/reference-docs

The CSS cames from https://github.com/kubernetes-incubator/reference-docs/tree/master/gen-apidocs/generators.

And the Kubernetes site imports it with:

https://github.com/raelga/kubernetes-website/blob/master/update-imported-docs/reference.yml

[2019-06-15 14:54] kakts commented on #14848
/assign

[2019-06-15 15:05] kakts opened #14917 "Translate concepts/services-networking/service/ in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/services-networking/service/  in Japanese.

**Why is this needed**
This document is not translated in Japanese.
**Comments**

Copy a file from en contents to content/ja/docs/concepts/services-networking/service.md and translate it into Japanese.

[2019-06-15 15:05] kakts commented on #14917
/language ja
/assign

[2019-06-15 18:08] #12247 closed

[2019-06-15 18:08] #6707 closed

[2019-06-15 22:02] jhbiggs commented on #14151
Hello, would like to contribute.  Confirming: you'd like an addition to the current definition, and the inclusion of that definition in the concept page via Hugo shortcode.

[2019-06-15 23:26] martinbaillie commented on #12726
I see this a lot when editing the website. A full Hugo stop-start is required. Not sure how to prevent it, seems something to do with the `block.html`

[2019-06-16 09:34] #14809 closed

[2019-06-16 09:34] #14882 closed

[2019-06-16 10:05] rlenferink commented on #14473
Fixed in #14685

/close

[2019-06-16 10:05] #14473 closed

[2019-06-16 10:12] rlenferink commented on #14891
Hi @sicbb thanks for creating this issue. This got fixed yesterday in #14685

/close

[2019-06-16 10:12] #14891 closed

[2019-06-16 12:21] 8398a7 commented on #13319
I also thought the same thing.

It is tentative, but we are thinking of two ways.
I think both are essentially the same as you suggested.

[code]

or

[code]

I feel that it is difficult to write concrete content up to this point or just to explain the argument.

[2019-06-16 15:22] sftim commented on #14151
@jhbiggs: what you summarized matches what I have in mind. If you'd favored a different approach, that could be OK too!

[2019-06-16 15:23] sftim commented on #14910
Thanks for the feedback
/language en

[2019-06-17 04:53] nikhita commented on #14905
Not a valid issue, closing

/close

[2019-06-17 04:54] #14905 closed

[2019-06-17 07:05] phanama commented on #13929
I'm taking Cloud Controller in `content/id/docs/concepts/architecture`

[2019-06-17 07:36] oke-py opened #14935 "Translate tasks/debug-application-cluster/determine-reason-pod-failure/ in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/debug-application-cluster/determine-reason-pod-failure/ in Japanese.

**Why is this needed**
This document is not translated in Japanese.

**Comments**

Copy a file from en contents to content/ja/docs/tasks/debug-application-cluster/determine-reason-pod-failure.md and translate it into Japanese.

/language ja

[2019-06-17 08:05] sftim commented on #14433
/language en

[2019-06-17 08:06] sftim commented on #14398
/language zh
/triage needs-information
Is it possible to replicate these symptoms?

[2019-06-17 08:06] sftim commented on #14406
/language en
/triage needs-information

[2019-06-17 08:07] sftim commented on #14646
/language en

[2019-06-17 08:14] sftim commented on #14399
I can replicate this.

Once you get as far as:

then you get a new window / tab opening that shows a Bad Gateway error, and you don't get as far as

If you instead choose _View HTTP port 80 on Host 1_, that opens OK, and you can change the port to match what the Service is using. So, there's a bug.

/kind bug
/language en

[2019-06-17 08:16] sftim commented on #14435
/language en

[2019-06-17 08:34] BoazHalter opened #14938 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-gmsa/"
**This is a Bug Report**

i followed all the documentation configuration trying to connect my on premise k8s cluster pods to corporate ldap. but all my test failing to connect to ldap

**Problem:**
when trying to test ldap connectivity using the following:
PS C:\> nltest /sc_verify:##.####.#####.co.il
I_NetLogonControl failed: Status = 1722 0x6ba RPC_S_SERVER_UNAVAILABLE

**Proposed Solution:**

*

[2019-06-17 08:49] #8907 closed

[2019-06-17 13:24] sftim commented on #14938
Hi @BoazHalter

Can you explain more about what's not right with that documentation page? For example, you might be able to say what step you got to before finding the documentation wasn't right.

Can you add details about what how you found the issue?

PS. If you're looking more for support on this topic, check out the [`kubernetes` tag on Stack Overflow](https://stackoverflow.com/questions/tagge

[2019-06-17 14:11] BoazHalter commented on #14938
the documentation is great,but when trying to follow the procedure i am not able to get the desired result.
step 1:
Enabled the WindowsGMSA feature gate by running kubelet.exe with --feature-gates=WindowsGMSA=true on my windows node

result:
windows node running healthy

step 2:
Install the GMSACredentialSpec CRD using the file
https://github.com/kubernetes-sigs/windows-gmsa/blob/master/admission-

[2019-06-17 15:05] ycointe opened #14944 "Issue with k8s.io/docs/setup/production-environment/container-runtimes/"
**This is a Bug Report**

**Problem:** CRIO installation part: in the CLI, the crio version is outdated and not available anymore.

**Proposed Solution:** In the section "CRI-O", in the tab "Ubuntu 16.04", change the line "apt-get install cri-o-1.11" by "apt-get install cri-o-1.13"

**Page to Update:**
https://kubernetes.io/...

[2019-06-17 15:24] mhamdisemah commented on #14944
/assign

[2019-06-17 21:57] sftim commented on #14944
/language en

[2019-06-17 22:00] Mythobeast opened #14953 "Issue with k8s.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/"
**This is a Bug Report**

** The Problem **
Page of instructions is incomplete. When Wordpress is deployed, the yaml file needs to have WORDPRESS_DB_HOST and WORDPRESS_DB_PASSWORD populated. the instructions don't describe how these values are acquired, and if they can be pulled from the deployed Mysql container in some way.

**Suggested solution**
Describe how those values are generated or retrie

[2019-06-17 22:02] sftim commented on #14436
PR #14240 recommends running `apt install xdg-utils`; that seems specific to readers running Debian and its derivatives.

https://github.com/kubernetes/minikube/issues/3558#issuecomment-455859436 has a suggestion about getting the URL out of `minikube` instead of having it open a browser. Maybe that would work?

[2019-06-17 22:06] sftim commented on #14436
It seems that overall this is more a bug about using Minikube on macOS and less a bug in the Kubernetes documentation. @anik-chakravorty what do you think?

[2019-06-17 22:06] sftim commented on #14351
/language en

[2019-06-17 22:22] sethmccombs commented on #14474
Hey @raelga, looks like this was fixed by the PR you referenced.

[2019-06-17 22:22] #14474 closed

[2019-06-18 02:12] oke-py opened #14954 "Translate tasks/run-application/run-stateless-application-deployment/ in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/run-application/run-stateless-application-deployment/ in Japanese

**Why is this needed**
This document is not translated in Japanese.

**Comments**

Copy a file from en contents to content/ja/docs/tasks/run-application/run-stateless-application-deployment.md and translate it into Japanese.

/language ja

[2019-06-18 05:01] sftim opened #14956 "Document CRIContainerLogRotation feature"
**This is a Feature Request**

**What would you like to be added**
You can make kubelet responsible for rotating container logs for CRI container runtime. This has limitations; for example, [`kubectl logs` doesn't access data from old log rotations](https://github.com/kubernetes/kubernetes/issues/59902).

**Why is this needed**
Cluster operators might want to start using this log rotation feature

[2019-06-18 09:22] medmedchiheb opened #14958 "Issue with k8s.io/docs/tutorials/stateless-application/expose-external-ip-address/"
**This is a Bug Report**

**Problem:**
The tutorial provide a command running a deployment with
`kubectl run` which is deprecated .
**Proposed Solution:**

update the tutorial to use a deployment yaml file instead of `kubectl run`.
and update the `Apiversion`.
**Page to Update:**
https://kubernetes.io/...

[2019-06-18 09:23] medmedchiheb commented on #14958
/language en

[2019-06-18 11:23] SupriyaSirbi commented on #14768
I have removed the "cpu" and "memory" from the description since they are not used for specifying pod limit and requests. Thanks for the issue.

[2019-06-18 11:37] sftim commented on #14741
Logo is selected, waiting on PR for official artwork.

[2019-06-18 12:38] caiconkhicon commented on #13305
/remove-lifecycle stale

[2019-06-18 12:47] sftim opened #14964 "Bring https://kubernetes.io/docs/setup/best-practices/multiple-zones/ up to date"
**This is a Feature Request**

**What would you like to be added**
Revise and restructure the page about running in multiple failure zones.
- create a new task page about building a cluster that spans at least 2 failure zones
- optionally create a follow-on task page to demonstrate additional concepts, such as Volume affinity to zones.
- revise https://kubernetes.io/docs/setup/best-practices/multi

[2019-06-18 12:48] sftim commented on #14964
This covers some of the same ground as #14638

[2019-06-18 14:19] #10656 closed

[2019-06-18 17:51] zacharysarah commented on #14216
Closed by #14495

[2019-06-18 17:51] #14216 closed

[2019-06-18 17:55] zacharysarah commented on #12078
@Bradamant3 👋 Can you provide some scope about specific improvements to do? It would be great to get this issue into an actionable state. 🙇

[2019-06-18 17:58] zacharysarah commented on #4135
@sethmccombs 👋 Thanks for following up with @sftim.

[2019-06-18 18:00] zacharysarah commented on #14272
Closed by #14374

Thanks @kbhawkey!
/close

[2019-06-18 18:00] #14272 closed

[2019-06-18 18:32] atibdialpad opened #14968 "Issue with k8s.io/docs/concepts/services-networking/network-policies/"
**This is a Bug Report**

**Problem:**
IP whitelisted by networkPolicy are not able to connect to the POD because the Node IPtable is dropping that IP
**Proposed Solution:**
This IP needs to be allowed in the IPTABLE of the NODE also
**Page to Update:**
https://kubernetes.io/...

[2019-06-18 19:24] #12281 closed

[2019-06-18 19:51] #12333 closed

[2019-06-18 19:51] #14306 closed

[2019-06-18 20:29] steveperry-53 commented on #12082
Thanks @sftim. Let me know if you'd like review or collaboration.

I'm going to unassign myself, because the reality is that I won't have time to be the driver for this one.

[2019-06-18 20:49] #14854 closed

[2019-06-19 02:43] chenrui333 commented on #13231
All PRs in this issue have been merged, close the issue now.

/close

[2019-06-19 02:43] #13231 closed

[2019-06-19 06:00] Gamingpc opened #14972 "Issue: Support Request"
**This is Support**

[2019-06-19 06:48] yvzsrt opened #14973 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/"
**This is a Bug Report**

**Problem:**
In the "Configure a Pod to Use a PersistentVolume for Storage" example, a storageClass named "manual" is used but there is no comment to warn user that there must be a storageclass in the cluster named "manual". If we follow the steps written in this page we got "storageclass.storage.k8s.io "manual" not found" error.

**Proposed Solution:**
User should be war

[2019-06-19 06:59] yvzsrt commented on #14973
When i try this, i notice storageclass is missing but it didn't work after i create sc. I tried to delete pv and recreate it, then it worked.
I tried same scneraio to open a bug to Kubernetes but even i deleted the sc "manual" it worked as it described in page.

[2019-06-19 09:47] sftim opened #14975 "Outdated terminology: “kubernetes-minion-group” (part deux)"
**This is a Bug Report**

**Problem:** Various pages have Nodes named `kubernetes-minion-group-<something>`.
Current Kubernetes doesn't name anything a minion; this is legacy terminology and might confuse some readers.

Issue #14854 missed a couple of pages; this is a follow-up.

**Proposed Solution:**
Update affected pages

**Page to Update:**
https://kubernetes.io/docs/concepts/configuration/man

[2019-06-19 09:47] sftim commented on #14975
/language en

[2019-06-19 10:22] maabou512 opened #14977 "Translate content/ja/case-studies/chinaunicom in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translation case study of China Unicom
https://kubernetes.io/case-studies/chinaunicom/

**Why is this needed**
No translation exists in Japanese.
And this case study is so useful for  Japanese readers (not only for developers)

**Comments**
Copy a file from en contents to `content/ja/case-studies/chinaunicom/index.html` and transl

[2019-06-19 11:10] sftim commented on #4135
I've got a **big** bunch of changes that apply cleanly to `master`.

I'm going to wait for Kubernetes v1.15 to be out and for the dust to settle. Then I'll make branches with subsets of the overall changes and send in pull requests (there could be several size/XXL PRs to come from this).

[2019-06-19 11:18] BoazHalter commented on #14938
@sftim
???
i have added more info

[2019-06-19 11:30] sftim commented on #14972
Hi @Gamingpc

If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes)

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

/triage support

[2019-06-19 11:31] sftim commented on #14973
/language en

[2019-06-19 11:33] sftim commented on #14968
It sounds like the concept page about network policies should call out more clearly that https://kubernetes.io/docs/tasks/administer-cluster/declare-network-policy/ through this topic as a walk-through task.

Would that signposting help?

[2019-06-19 11:33] sftim commented on #14968
/language en

[2019-06-19 11:41] clementlesne opened #14981 "Issue with k8s.io/docs/tasks/debug-application-cluster/resource-usage-monitoring/"
**This is a Bug Report**

**Problem:** Elasticsearch (Kibana/Metricbeat) do monitoring for Kubernetes. Elasticsearch is not referenced in the page.

**Proposed Solution:** Reference Elasticsearch (Kibana/Metricbeat) as solutions to do monitoring for Kubernetes.

**Page to Update:**
k8s.io/docs/tasks/debug-application-cluster/resource-usage-monitoring/

[2019-06-19 12:07] zwwhdls opened #14982 "error: generator "extensions/v1beta1" not found"
**This is a Bug Report**

**Problem:**
When I use 'kubectl run' with flag '--generator=extensions/v1beta1' according to the user reference, kubectl return "error: generator "extensions/v1beta1" not found".

**Proposed Solution:**
I searched for the kubectl source code https://github.com/kubernetes/kubernetes/tree/master/pkg/kubectl/generate/versioned/generator.go, line38-74 defined the generator c

[2019-06-19 12:25] zwwhdls commented on #14982
/language en
/assign

[2019-06-19 14:43] #12289 closed

[2019-06-19 15:13] sftim opened #14985 "Typo in /docs/tasks/configure-pod-container/configure-liveness-readiness-probes/"
**This is a Bug Report**

**Problem:**
There's a typo in https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/ (“healtcheck”)

**Proposed Solution:**
Fix typo (it occurs more than once)

**Page to Update:**
https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/

**Additional Information:**
/language en

[2019-06-19 15:14] sftim commented on #14985
/help

[2019-06-19 15:14] sftim commented on #14985
/kind bug

[2019-06-19 19:02] #14982 closed

[2019-06-19 19:06] #14975 closed

[2019-06-19 19:18] #14958 closed

[2019-06-19 19:20] #14944 closed

[2019-06-19 19:38] sftim opened #14992 "Display left-nav when JavaScript not enabled"
**This is a Feature Request**

**What would you like to be added**
If I disable JavaScript and access the documentation, the left-hand navigation isn't there. I'd like the static site generation to put this in place so that it's visible with or without JavaScript enabled.

**Why is this needed**
Some people, and also some web crawlers, view the web without JavaScript enabled.

**Comments**

[2019-06-19 20:02] #14870 closed

[2019-06-19 22:39] romgripper opened #14996 "Issue with k8s.io/docs/concepts/services-networking/service/"
**This is a Bug Report**

**Problem:**
Unexpected characters ":wqa" in the second paragraph.
**Proposed Solution:**
Remove ":wqa" in the second paragraph.
No need to modify your application to use an unfamiliar service discovery mechanism. Kubernetes gives pods their own IP addresses and a single DNS name for a set of pods, **:wqa**and can load-balance across them.
**Page to Update:**
https://kube

[2019-06-19 23:18] sftim commented on #12715
Still think this one is worth doing

[2019-06-19 23:35] Sanjary opened #14999 "Issue with k8s.io/docs/tasks/configure-pod-container/pull-image-private-registry/"
**This is a Bug Report**

**Problem:**
The link to defining pull secret in pod spec is broken.
**Proposed Solution:**
Fix it to the correct link
**Page to Update:**
https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/

[2019-06-20 00:50] atibdialpad commented on #14968
I did some experiments and had these observations. Please correct me if I am wrong.
The network Policy creates FORWARD chain IPTALBLE rules on the Kube Node whitelisting the IP mentioned in the netpol obj. Now, packets coming to the NODE destined to the service IP will hit the FORWARD chain and will get accepted/rejected as per the netpol obj. [Exactly as per netpol functionality]

However if I am

[2019-06-20 01:20] gochist opened #15001 "Outdated files in the dev-1.15-ko.1 branch"
# This is a Bug Report
## Problem
Outdated files in the dev-1.15-ko.1 branch.

Note that the pages below are outdated since the previous team milestone branch.

### 3 files deferred from previous team milestone

**These should be compared with `dev-1.14-ko.4`**

1. [x] content/en/docs/setup/_index.md
1. [x] content/en/docs/setup/minikube.md (this file is renamed to `content/en/docs/setup/learning-

[2019-06-20 01:20] gochist commented on #15001
/language ko

[2019-06-20 01:55] Coderhypo commented on #14999
the link `https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.15/#podspec-v1-core` is broken,
but `https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.14/#podspec-v1-core` is ok,
I guess the 1.15 documentation is not completely ready.

[2019-06-20 02:05] Coderhypo commented on #14996
haha, as vim lover, so sad to see this typo

[2019-06-20 03:28] Coderhypo commented on #14968
In fact, the behavior of network policies depends on the network plugin，
Can see the demo here https://kubernetes.io/docs/tasks/administer-cluster/declare-network-policy/
and sorry, I don't know what help about docs I can provide. I guess you may need to go to network plugin to create issue for this  if it doesn't meet your expectations.

[2019-06-20 04:09] Coderhypo commented on #14953
@Mythobeast
Helllo, I create a PR and add describe about wordpress deployment. Can this solve your doubts?

[2019-06-20 04:30] yoonian commented on #15001
May I handle the modified parts? As below
- content/en/docs/concepts/*
- content/en/docs/tasks/*
- content/en/docs/tutorials/*
- content/en/docs/reference/*
- content/en/docs/setup/*

Please let me know when it should be done.

[2019-06-20 04:45] atibdialpad commented on #14968
yeah, just went thru the kuberouter's network policy code and it seems they do create only FORWARD chain iptable rules.

[2019-06-20 04:45] #14968 closed

[2019-06-20 04:59] #14562 closed

[2019-06-20 05:07] yemanaung opened #15004 "Issue with k8s.io/docs/tasks/run-application/horizontal-pod-autoscale/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-06-20 05:09] yemanaung opened #15005 "Issue with k8s.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-06-20 05:10] yemanaung opened #15006 "Issue with k8s.io/docs/concepts/configuration/assign-pod-node/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-06-20 06:34] makoscafee opened #15009 "Issue with k8s.io/docs/concepts/services-networking/service_backup_16221/"
**This is a Bug Report**

There are multiple backup files for service that are listed as service links in the sidebar.

**Problem:**
This creates confusion on what is the true link
**Proposed Solution:**
Remove all backup solutions and leave only one service.md
**Page to Update:**
https://kubernetes.io/docs/concepts/services-networking/service_backup_16221/

[2019-06-20 06:34] makoscafee commented on #15009
This PR addresses that https://github.com/kubernetes/website/pull/15008

[2019-06-20 07:04] #15009 closed

[2019-06-20 08:12] Zhongwl2 opened #15012 "Issue with k8s.io/zh/docs/home/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-06-20 08:41] gochist commented on #15001
@yoonian Thank you! Here's team milestone schedule for `dev-1.15-ko.1`.
- code freeze: 2019-07-06 23:59 KST
- target date(merge to master): 2019-07-09 KST

[2019-06-20 08:49] mhamdisemah commented on #15006
@yemanaung what is the bug can you describe it

[2019-06-20 09:18] frenchcloudforge opened #15015 "Issue with k8s.io/docs/concepts/storage/volumes/"
List of available solutions need perhaps to be more clear. We have commercial solutions mixed with k8s base solution (volumeclaims) mixed with open source solution mixed with cloud solutions... User can be lost on his priorities for learning...

[2019-06-20 09:18] strongpapazola opened #15016 "Issue with k8s.io/id/docs/concepts/"
can you add image on web basic

[2019-06-20 09:28] #15015 closed

[2019-06-20 09:28] frenchcloudforge commented on #15015
N/A

[2019-06-20 09:29] sftim commented on #15005
Hi @yemanaung

What isn't right with that page?

/triage needs-information

[2019-06-20 10:00] indigo423 opened #15020 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/"
The link "HTTP Probes" in section "Configure Probes" with the target https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.15/#httpgetaction-v1-core ends up in a "404 Page not found".

[2019-06-20 10:11] #14972 closed

[2019-06-20 10:23] sftim commented on #15020
Looks like the docs don't yet have v1.15 reference information.
/kind bug

[2019-06-20 10:41] sftim commented on #15006
/triage needs-information

[2019-06-20 10:41] sftim commented on #14996
/language en
/triage bug

[2019-06-20 10:57] medmedchiheb commented on #15004
/triage needs-information

[2019-06-20 11:21] Coderhypo commented on #15020
same problem like: https://github.com/kubernetes/website/issues/14999

[2019-06-20 12:22] #14996 closed

[2019-06-20 12:28] oke-py commented on #13426
It seems OK in docs v1.15.

[2019-06-20 12:28] #13426 closed

[2019-06-20 12:53] sftim commented on #14999
Relevant to v1.15 release (PR #14984 / https://github.com/kubernetes/website/commit/f04d0cf4721c51ba918f2648bca5f40eb12584da#diff-618063036395fe9ee107f22b46c9eade)

[2019-06-20 13:52] lukos opened #15027 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro/"
**This is a Bug Report**

**Problem**
The section "Deploying your first app on Kubernetes" is unclear. It starts talking about "For our first Deployment, we'll use a Node.js application packaged in a Docker container..." and then directs the user to a separate tutorial but then continues with, "Now that you know what Deployments are, let's go to the online tutorial and deploy our first app!"

Are

[2019-06-20 14:09] gochist opened #15029 "Outdated files in the dev-1.14-ko.6 branch"
# This is a Bug Report
## Problem
Outdated files in the dev-1.14-ko.6 branch.

### 3 files deferred from previous team milestone

**These should be compared with `dev-1.14-ko.4`**

1. [x] content/en/docs/setup/_index.md
1. [x] content/en/docs/setup/minikube.md (this file is renamed to `content/en/docs/setup/learning-environment/minikube.md`)
1. [x] content/en/docs/tutorials/online-training/overvie

[2019-06-20 14:09] gochist commented on #15029
/language ko

[2019-06-20 14:14] gochist commented on #14582
Rest files of this issue are moved to #15001 and #15029 .

/close

[2019-06-20 14:14] #14582 closed

[2019-06-20 14:21] sftim commented on #14741
[New logo](https://github.com/cncf/landscape/blob/f140b0292a9a86f4ec0d0be0a1905258ca040c6a/hosted_logos/kubeadm.svg) is available in draft.

[2019-06-20 15:22] 8398a7 opened #15031 "Inadequate kubeadm-upgrade-1-15.md (apt-mark)"
**This is a Bug Report**

**Problem:**
The same report(#14870) was made at 1.14, but the timing seems to be bad.
I will throw PR again.
cc: @neolit123

https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-15/#Upgrade-kubelet-and-kubectl

**Proposed Solution:**

I think that it is good to write the processing of apt-mark like this.

**Page to Update:**
https://kubernetes.io

[2019-06-20 15:23] sftim commented on #15020
Fixed by #15018
/close

[2019-06-20 15:23] #15020 closed

[2019-06-20 15:23] sftim commented on #14999
Fixed by #15018
/close

[2019-06-20 15:23] #14999 closed

[2019-06-20 15:24] sftim commented on #15031
/language en

[2019-06-20 15:25] sftim commented on #14981
/kind feature
/language en

[2019-06-20 15:28] sftim commented on #15027
That's a good point @lukos

is the misleading text, right?

/language en

*An aside*: the style guide recommends [addressing the reader as “you”](https://kubernetes.io/docs/contribute/style/style-guide/#address-the-reader-as-you). Might be worth bearing that in mind when rewording.

[2019-06-20 15:30] lukos commented on #15027
Yes, that's the part.

[2019-06-20 16:52] #15031 closed

[2019-06-20 17:40] sftim commented on #12082
I plan put up a WIP PR and probably a this-might-be-OK-to-merge PR soon, to show my thinking and get feedback.

[2019-06-20 18:13] xpat opened #15035 "Improvement for k8s.io/docs/tutorials/stateless-application/expose-external-ip-address/"
This and the other tutorials need to include exposing the ip for https and not http, right?  As they are written, they have very limited usefulness.  Or am I missing the introductory tutorial on how to use kubernetes and do all that it does over ssl/https?

[2019-06-20 18:51] icheikhrouhou commented on #14741
I'll update it once merged to master

[2019-06-20 21:11] leodotcloud opened #15040 "Issue with k8s.io/docs/reference/access-authn-authz/extensible-admission-controllers/"
**This is a Bug Report**

**Problem:**
The formatting is all messed up on this page. See screenshot.

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

<img width="1664" alt="Screen Shot 2019-06-20 at 2 10 19 PM" src="https://user-images.githubusercontent.com/19392926/59881774-40d21300-9365-11e9-9fb5-9840eb1e04c8.png">

[2019-06-20 21:57] MikeSpreitzer opened #15043 "Missing link to API Reference for release 1.15"
**This is a Bug Report**

**Problem:**
Release 1.15 is out now, and this section includes a link to each of several releases --- but release 1.15 is not included.

**Proposed Solution:**
Add a link to the API reference for release 1.15

**Page to Update:**
https://kubernetes.io/docs/reference/#api-reference

[2019-06-20 21:58] MikeSpreitzer commented on #15043
<img width="1038" alt="Screen Shot 2019-06-20 at 5 57 54 PM" src="https://user-images.githubusercontent.com/14296719/59884039-00828d00-9385-11e9-94ce-7de65a424135.png">

[2019-06-20 23:37] kbhawkey commented on #15043
Thanks, see #15042

[2019-06-20 23:59] gochist commented on #15029
Note that there are a lot of duplicated work with #15001 . I recommend to start this after #15001 is done.

[2019-06-21 00:00] gochist commented on #15001
FYI, I'm working on renamed files.

[2019-06-21 04:20] girikuncoro commented on #13929
Hi folks, thank you so much for your contribution to translate Kubernetes docs into Bahasa Indonesia, it means a lot to broader audience/community in Indonesia! 🎉

Since Kubernetes 1.15 has been released, and 1.16 cycle is currently on, we are planning to cut this Milestone 1 on Monday, 24th July 2019. So far we have gathered good statistics for this M1: 35 pages have been translated from 15 contr

[2019-06-21 08:54] mhamdisemah commented on #15040
@leodotcloud i will work on it
/assign

[2019-06-21 08:57] mhamdisemah commented on #15016
/triage needs-information

[2019-06-21 08:58] mhamdisemah commented on #15012
/triage needs-information

[2019-06-21 09:42] sftim commented on #14741
kubeadm logo now [adopted](https://github.com/kubernetes/kubeadm/pull/1628).

[2019-06-21 09:42] sftim commented on #15040
/language en

[2019-06-21 11:36] sftim commented on #15043
/language en

OK to close this?

[2019-06-21 11:41] sftim commented on #15035
@xpat if this tutorial page mentioned TLS & HTTPS in its “[what's next](https://kubernetes.io/docs/tutorials/stateless-application/expose-external-ip-address/#what-s-next)” section, would that cover it?

Right now there isn't a good page for it to link to (IMO).
Something like https://kubernetes.io/docs/tasks/security/securing-services-with-tls/ would be great but needs writing.
(see #14725 for an

[2019-06-21 11:42] sftim commented on #14727
If someone is running Pods on a system with swap enabled, they should also encrypt that swap storage (and the page should explain why).

[2019-06-21 11:52] sftim commented on #14742
/kind feature

[2019-06-21 15:19] Jokerone01 opened #15047 "Issue with k8s.io/fr/docs/home/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-06-21 15:20] #15047 closed

[2019-06-21 15:25] johnstosh opened #15048 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/"
Very nice help page. This was instrumental in my moving forward.

Could you enhance a small part of this help page?

**Problem:**
The text:  "For a probe, the kubelet makes the probe connection at the node, not in the pod, which means that you can not use a service name in the host parameter since the kubelet is unable to resolve it."  almost makes sense, but not quite.  Can you provide a URL to a

[2019-06-21 16:12] sftim commented on #15048
That's a good suggestion @johnstosh

kubelet makes the connection for a probe. When kubelet resolves hostnames, it's relying on the node's stub resolver and DNS services, and it's not querying cluster DNS (which is what Pods and their containers do).
Not really sure that the wording I've put there is any better though!

/language en
/kind feature

[2019-06-21 16:13] Coderhypo commented on #15048
Hello,

I guess you are wondering about how kubelet request the web server in pod(if use http probe) when kubelet do probe.

and I looked up the source code to describe the process.

## How kubelet start a http probe：

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/prober/prober.go#L162

if we use http probe，kubelet will get `scheme `、`host`、`port`、`path`，Thus obtaining a complet

[2019-06-21 16:40] johnstosh commented on #15048
Hi guys,

Thanks for the replies. This is very helpful.

So, to summarize: The probe is executed by the kubelet inside the node, but outside the container. And the probe parameters/values go straight from the manifest to the kubelet without being evaluated or converted by a global piece of code that knows all the mnemonics and symbols.

For example, the host name: When kubelet resolves hostnames,

[2019-06-21 17:50] #15040 closed

[2019-06-21 19:07] realGoldenAce opened #15053 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
**This is a Bug Report**

The kubectl run kubernetes-bootcamp command is not working.

**Proposed Solution:**
I don't have one.

**Page to Update:**
k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/

[2019-06-21 19:36] xpat commented on #15035
@sftim yes, that sounds good.  In specific, when I got to section 7, with curl http://<external ip>, I would want to see https://...

Thanks for the links.  I am now watching your feature request #14725 .  If I were able to contribute anything, I would.

[2019-06-21 19:43] schu commented on #10691
/remove-lifecycle rotten

[2019-06-21 20:48] MikeSpreitzer commented on #15043
Fixed now.  Thanks!

[2019-06-21 20:48] #15043 closed

[2019-06-21 22:11] fooka03 opened #15057 "Add system:kubelet-api-admin Reference To Kubelet Authorization section"
**This is a Feature Request**

**What would you like to be added**
Since the page already refers to the necessity of the user the apiserver uses to communicate with the kubelet to have permissions included in the `system:kubelet-api-admin` role, it seems like a good idea to reference this role in addition to the explicit permissions.  This change would include some examples for creating the role b

[2019-06-22 09:52] greenstatic opened #15066 "Code snippets are difficult to read in Firefox and Safari"
**This is a Bug Report**

**Problem:**
In Google Chrome the CSS property `font-weight: bold` on code snippets is not taken into account, while on Mozilla Firefox and Safari it is. This results in a poor reading experience for Firefox and Safari users.

**How it looks like on Firefox & Safari:**
![code_snippet_firefox](https://user-images.githubusercontent.com/14580434/59962297-bcf26500-94e3-11e9-9

[2019-06-22 17:37] lentzi90 opened #15072 "Issue with k8s.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-15/"
**This is a Bug Report**

**Problem:**
The example output from draining a node is broken. Code fences are visible, the output shows errors and appear to have come from the another command than the one in the example (missing flag).
A nit pick: the section header is "Cordon the node" but the action taken is actually to drain the node.

**Proposed Solution:**
The syntax should be fixed so that code

[2019-06-22 18:07] neolit123 commented on #15072
/sig cluster-lifecycle
/kind bug
/assign

thanks for the report.
i though we fixed that in https://github.com/kubernetes/website/pull/13900
will send another fix shortly.

[2019-06-22 21:30] ialidzhikov commented on #14985
I think now we can close this one.

[2019-06-22 21:41] raelga commented on #13948
## Status update

_Updated 2019/06/22_

### Merged and published :tada:

- #14585 content/es/docs/concepts/overview/what-is-kubernetes by @bureado
- #14554 reference/glossary/kubectl by @javisabalete

### Reviewed (LGTM):

- #14556 reference/glossary/kubelet by @javisabalete

@glo-pena @alexbrand @electrocucaracha can you check them, another `/lgtm` will be enough to `/approve`.

### Reviewed (LGT

[2019-06-23 09:17] rmarcum commented on #15027
The way the page reads it seems the reader is creating their "first deployment" twice.  I have submitted a PR to remove the paragraph, as it is unnecessary.

[2019-06-23 10:10] rmarcum commented on #12330
It seems to be missing a step where you open a new terminal window to run the proxy command in.

[2019-06-23 12:05] tddorgtfo commented on #12330
/remove-good-first-issue

[2019-06-23 12:06] tddorgtfo commented on #12330
/cc @BenHall

[2019-06-23 12:08] tddorgtfo commented on #12330
/remove-help-wanted
/cc @BenHall

[2019-06-23 12:13] tddorgtfo commented on #14386
/close

[2019-06-23 13:20] tddorgtfo commented on #14386
fixed #14386

[2019-06-23 15:50] cdjohnson commented on #14386
Reviewed.  Looks good.
/close

[2019-06-23 15:50] #14386 closed

[2019-06-23 22:09] kbhawkey commented on #14992
@sftim, I accidentally gave a "thumbs up" on this issue. I am still not sure why you need to disable JavaScript to view the docs or if your intention is to re-render the pages.

[2019-06-24 02:28] sanoop19 opened #15079 "Kuernetes deployed application is not replicating to Other nodes !"
We have Kuernetes setup using terraform ( aws ) with auto scaling , the instance came up during the metrics we have provided , but its comes up with out the application , i meant to say its not a replica which is cming up .could any one please suggest what to do ??

[2019-06-24 03:20] saber-Railgun opened #15081 "Issue with k8s.io/docs/tasks/tools/install-minikube/"
**This is a Bug Report**

I am an user in China, with the firewall, I can't run the command minikube start

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-06-24 03:33] Coderhypo commented on #15081
Hello, Im Chinese too, We really can't access the image on grc.io，But fortunately you can find a lot mirror.

If you use minikube, you can try:

[code]

I hope this can help you

[2019-06-24 06:25] #15072 closed

[2019-06-24 07:01] poothia commented on #15027
@lukos @sftim @tddorgtfo Maybe we can re-word its something like this, rather than removing it altogther, so user understands that there is no need to follow the links but if needed he knows where to find the link to deploy it in their local env.

```For our first Deployment, we'll use a Node.js application packaged in a Docker container. To create the Node.js application and deploy the Docker con

[2019-06-24 07:26] sftim commented on #14992
Some readers _never_ enable JavaScript by default. Rarely, people use user agents that just plain don't have it available.
Let's consider how to furnish documentation to that portion of people.

Also: some web crawlers either don't enable JavaScript, or penalize page rankings if the page only works properly when they do.

[2019-06-24 07:27] sftim commented on #15081
/triage support

[2019-06-24 07:28] sftim commented on #15079
@sanoop19 it sounds like you're mainly looking for support for your cluster.

If that's right, you could try asking on [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes), on the [Kubernetes Slack](http://slack.k8s.io/), or on the the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

You can use this issue tracker to suggest documentation improvements or to report pr

[2019-06-24 07:32] #14985 closed

[2019-06-24 07:32] sftim commented on #15035
/language en

[2019-06-24 07:34] sftim commented on #15035
@xpat is there anything the Kubernetes community can do to help you make a contribution, either to this or to another part of Kubernetes?

(if you use Slack, you can check out Kubernetes' [SIG Docs](https://kubernetes.slack.com/messages/C1J0BPD2M/) channel too).

[2019-06-24 07:43] sftim opened #15083 "Document running multiple-architecture clusters"
**This is a Feature Request**

**What would you like to be added**
Explain how a cluster operator can set up or convert their cluster to be able to:
- run workloads with cluster images for CPU architecture & operating system combination **A**
- run workloads with cluster images for different CPU architecture & operating system combination **B**
- use container indexes (the OCI equivalent of Docker

[2019-06-24 08:26] BenHall commented on #12330
Thanks @tddorgtfo. Indeed it is expected but can be confusing. We've added a echo statement beforehand which will hopefully help.

![Screenshot 2019-06-24 09 23 14](https://user-images.githubusercontent.com/82614/60003048-cc97b800-9661-11e9-9218-38f14ef90a0e.png)

However if anyone has any other suggestions or ideas then please send us a PR. The commit was https://github.com/katacoda-scenarios/kub

[2019-06-24 10:55] sftim commented on #14639
I also recommend changing the title for https://kubernetes.io/docs/contribute/

Here's one possible way to make an improvement:
- change the title for https://kubernetes.io/docs/contribute/
- signpost readers for how to contribute to Kubernetes code etc (ie, everything but docs)
- log a new backlog issue to track further cleanup
  - eg restructure the Contribute section to show code, docs, and oth

[2019-06-24 12:40] lukos commented on #15027
I think it would be clearer to do what @poothia says but with the wording:

"...If you want to create the Node.js application...." and not "...To create the Node.js application" which is passive and less clear.

[2019-06-24 13:13] sftim commented on #15027
How about

?

(Using 2nd person as per [address the reader as “you”](https://kubernetes.io/docs/contribute/style/style-guide/#address-the-reader-as-you) from the style guide)

[2019-06-24 15:29] waryak opened #15086 "Improvement for k8s.io/docs/concepts/configuration/secret/"
Please, add more information considering, what each field is, escpeciallyб what `name` on each level means or what `key` is?
Also, how to describe environment variables from secret in the `deployment.yaml` file?

[2019-06-24 17:12] sftim commented on #15086
/language en
/kind feature

@waryak, thank you for the feedback.

It sounds to me as if the concept page about secret should hyperlink to https://kubernetes.io/docs/tasks/inject-data-application/distribute-credentials-secure/

Possibly, https://kubernetes.io/docs/concepts/configuration/secret/#using-secrets should be a shorter example that refers to a new task page based on [that section](https://

[2019-06-24 17:34] sftim opened #15088 "Describe release cadence, version numbering, etc"
**This is a Feature Request**

**What would you like to be added**
A page that tells readers about the following, or helps them find other authoritative pages about:
- Which versions of Kubernetes are supported, and what “supported” means
- [How often major versions are released](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/release/versioning.md#major-version-t

[2019-06-24 17:37] sftim commented on #12899
/kind feature

[2019-06-24 17:39] sftim commented on #15088
Potentially relevant to #12322, #12323, #12324, #12233, and #14307

[2019-06-24 17:43] MrAmbiG commented on #12899
/close

[2019-06-24 17:43] #12899 closed

[2019-06-24 20:11] zacharysarah opened #15093 "Issue with k8s.io/docs/contribute/style/style-guide/"
**Problem:**

The [style guide says](https://kubernetes.io/docs/contribute/style/style-guide/#language): "Kubernetes documentation uses US English." Clearly we use more than that!

**Proposed Solution:**

We need to clarify that Kubernetes docs are available in multiple languages, and that we consider US English to be the authoritative source.

**Page to Update:**

https://kubernetes.io/docs/contr

[2019-06-24 22:28] enzoTrevisan opened #15097 "Issue with k8s.io/docs/tasks/administer-cluster/dns-debugging-resolution/"
**This is a Bug Report**

**Problem:**

k8s-app=coreos    isn't the label for coreos, to preserve compatibility  with kube-dns coreos didn't change the label

**Proposed Solution:**
change the document,  replace k8s-app=coreos with k8s-app=kube-dns
**Page to Update:**
https://kubernetes.io/...

[2019-06-24 22:28] bcdady opened #15098 "Issue with k8s.io/docs/tutorials/hello-minikube/"
**This is a Bug Report**

**Problem:**

From the [Create a Minikube cluster](https://kubernetes.io/docs/tutorials/hello-minikube/#create-a-minikube-cluster) section of the **Hello Minikube** tutorial, complete steps 1 and 2, using the Katacoda environment option.

For step 3, click the plus sign at the top of the Katacoda terminal pane, and then [Select port to view on Host 1].

Browser opens a ne

[2019-06-25 01:01] yoonian commented on #15001
@gochist Please review PR #15099. It is big but is okay?

[2019-06-25 02:51] rarufocus opened #15100 "Issue with k8s.io/docs/tasks/tools/install-kubectl/"
kubectl version:
Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.0", GitCommit:"e8462b5b5dc2584fdcd18e6bcfe9f1e4d970a529", GitTreeState:"clean", BuildDate:"2019-06-19T16:40:16Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"linux/amd64"}
Unable to connect to the server: proxyconnect tcp: EOF

kubectl cluster-info:
To further debug and diagnose cluster problems, use 'kubectl

[2019-06-25 03:10] #14860 closed

[2019-06-25 03:46] #12501 closed

[2019-06-25 03:50] #14786 closed

[2019-06-25 04:17] makoscafee commented on #13396
Planning on closing milestone 1.15, reference docs were generated. But not clear of the process as I was able to only generate API reference while components reference page generation is a problem still. I think I will need to work with @kbhawkey and @tengqm to update documentation of the process.

[2019-06-25 05:39] poothia commented on #15027
@sftim agreed... this should be the desired change.

[2019-06-25 06:21] oke-py commented on #13378
/remove-lifecycle stale

[2019-06-25 06:21] tengqm commented on #13396
Please feel free to file issues at kubernetes-incubator/reference-docs .

[2019-06-25 06:36] RockyFu267 commented on #14258
@neolit123
if I configure “controlPlaneEndpoint”，I would have problems with SLB4 when I use kubeam init my first “master”；kubelet would have error like “nodexxx  not found”；
because my first master will telnet SLB4:6443,   currently there is no support for the load balancing back-end ECS instance to provide services directly to the client while also acting as the load balancing back-end server in

[2019-06-25 07:00] ZQshark opened #15101 "Issue with k8s.io/zh/docs/home/"

[2019-06-25 08:49] Coderhypo commented on #15100
Hello, kubectl is only a cli for kubernetes,  and this command output mean you can't access the kube api server.

You can check you kubeconfig(`~/.kube/config`), and make sure the cluster config is correct

[2019-06-25 09:28] sftim commented on #15101
This issue report is blank. I wonder what's not right with that page.

/triage needs-information

[2019-06-25 09:29] sftim commented on #15100
/triage support

[2019-06-25 09:30] sftim commented on #15100
`kubectl version` output is a bit surprising if you aren't expecting the tool to connect to a cluster. Maybe.

[2019-06-25 11:29] neolit123 commented on #14258
@RockyFu267
i think you might get better support on stackoverflow or reddit/kubernetes, asking the questions there.
i personally have no experience with ECS / SLB what so ever.

[2019-06-25 14:10] #14953 closed

[2019-06-25 14:21] sftim commented on #15097
Thanks for the report
/language en

#14816 should fix this

[2019-06-25 14:40] #14846 closed

[2019-06-25 15:05] kbhawkey commented on #14111
Hello. I will update the documentation for generating the API reference and sync up with @jimangel 's cheatsheet. Which format is easier to follow? I am somewhat in favor of the less verbose, task-oriented instructions. Let me know what you think. I will temporarily assign this issue to myself.
/assign @kbhawkey

[2019-06-25 18:29] sftim opened #15105 "Add cgroup to glossary"
**This is a Feature Request**
**What would you like to be added**
Add (or, at least, consider adding) a new glossary entry that explains the term “cgroup”. https://en.wikipedia.org/wiki/Cgroups#External_links might be a good starting point if you need to read up before writing the glossary entry.

**Why is this needed**
I wanted to use a glossary tooltip shortcode for cgroup, and I realized there'

[2019-06-25 18:32] sftim commented on #13672
Fixed via #14175
/close

[2019-06-25 18:32] #13672 closed

[2019-06-25 18:34] sftim commented on #14609
Just wondering if this still needs fixing?

[2019-06-25 20:13] cobalt293 opened #15107 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/ No package kubeadm available."
**This is a Bug Report**

When trying to install Kubernetes on CENTOS 7 I get the following error
yum install -y kubeadm kubectl kubelet
Loaded plugins: langpacks, product-id, rhnplugin, search-disabled-repos, subscription-manager
This system is receiving updates from RHN Classic or Red Hat Satellite.
**No package kubeadm available.
No package kubectl available.
No package kubelet available.**

**

[2019-06-25 20:35] zacharysarah commented on #12082
@sftim Awesome, thank you. Would you please coordinate your work with @shavidissa (#14861) to avoid merge conflicts?

[2019-06-25 20:44] adammil2000 opened #15108 "Improvement for k8s.io/docs/setup/"
Why is there no Learning environment option for GKE? I would want to learn on the platform where I would host in production later, not learn on one environment and then deploy on another.

Thanks!

[2019-06-25 21:20] adammil2000 opened #15110 "Issue with k8s.io/docs/concepts/overview/components/"
**This is a Bug Report**

**Problem:**
From a new user perspective, this content starts talking about "pods" but I don't know yet what that means.

**Proposed Solution:**
When you first mention a "pod", please define it, make a glossary on-hover link, or link elsewhere to the definition.

**Page to Update:**
k8s.io/docs/concepts/overview/components/

[2019-06-25 23:46] tedmiston opened #15116 "The kustomization file link returns a 404"
**This is a Bug Report**

**Problem:** The current kustomization file link on the page *Declarative Management of Kubernetes Objects Using Kustomize* returns a 404.

**Proposed Solution:** Update link (https://github.com/kubernetes/website/pull/15115)

**Page to Update:**
https://kubernetes.io/docs/tasks/manage-kubernetes-objects/kustomization/

[2019-06-25 23:47] tedmiston commented on #15116
PR linked above.

[2019-06-25 23:53] sftim commented on #15108
/kind feature

That's an interesting suggestion @adammil2000! I think it depends what someone wants to learn. Maybe they want to learn Kubernetes well enough to implement their own cluster, and then pick a vendor-managed service so they don't actually have to.

If you wanted to study toward [CKAD](https://www.cncf.io/certification/ckad/), you could do that using most vendor-managed cluster types I

[2019-06-26 00:55] tedmiston opened #15117 "Indentation in secret-pod.yaml example is inconsistent"
**This is a Bug Report**

**Problem:** The `secret-pod.yaml` example used on the page *Distribute Credentials Securely Using Secrets* is indented inconsistently.  All of the lists in this yaml file use 2-space indent while the children of `volumeMounts` have extra indentation.

**Proposed Solution:** Make the indentation consistent - PR: https://github.com/kubernetes/website/pull/15118

**Page to

[2019-06-26 00:57] tedmiston commented on #15117
PR link added above.

[2019-06-26 01:15] #15117 closed

[2019-06-26 01:19] #15116 closed

[2019-06-26 01:32] kaedemalu commented on #13379
/remove-lifecycle stale

[2019-06-26 02:14] makoscafee commented on #13396
There is already work in progress for this at  https://github.com/kubernetes/website/issues/14111
/milestone clear

[2019-06-26 03:31] editaxz commented on #13948
Buenas noches @raelga , me gustaría trabajar en esta parte: Components  "Kubernetes Components"(content/es/docs/concepts/overview/components).

[2019-06-26 04:36] Tigarking opened #15119 "Issue with k8s.io/zh/docs/tutorials/kubernetes-basics/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-06-26 05:26] lapee79 opened #15120 "Translate tasks/access-application-cluster/configure-access-multiple-clusters in Korean"
**This is a Feature Request**

**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
No Translate tasks/access-application-cluster/configure-access-multiple-clusters in Korean

**Proposed Solution:**
Translate tasks/access-application-cluster/configure-access-multiple-clusters in Korean

**Page to Update:**
https://kubernetes.io/docs/tasks/access-application-cluster/configure-acce

[2019-06-26 05:26] lapee79 commented on #15120
/language ko
/assign

[2019-06-26 05:58] zilber-ran opened #15122 "Improvement for k8s.io/docs/tutorials/configuration/"
Probably I'm missing the right doc, however I'm looking for a reference guide for k8s config like [Dockerfile has](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwij7dPQu4bjAhWB-KQKHd-ZAuoQFjAAegQIAhAB&url=https%3A%2F%2Fdocs.docker.com%2Fengine%2Freference%2Fbuilder%2F&usg=AOvVaw38unpVI_-IPb1xDbYUr5jD)
So far ... couldn't find it

[2019-06-26 06:28] RockyFu267 commented on #14258
@neolit123
I'm sorry I didn't express mypoint clearly.
I think my focus is on how to use this configuration parameter- "controlPlaneEndpoint".
It is currently buggy to use "controlPlaneEndpoint".
https://kubernetes.io/docs/setup/independent/high-availability/

I really hope you can be patient to see my actual situation.

First, The configuration parameter- "controlPlaneEndpoint" is a vip or a Load

[2019-06-26 08:20] Coderhypo commented on #15122
Does this suit your wishes?
https://kubernetes.io/docs/reference/kubectl/overview/

[2019-06-26 08:27] zhangqx2010 commented on #15122
/close
Close as not valid issue.
But still you can comment below and I may offer some help.
You mean you need to find the configmap or something else?

[2019-06-26 08:27] #15122 closed

[2019-06-26 08:30] #14609 closed

[2019-06-26 08:42] sftim commented on #15110
/language en

[2019-06-26 08:44] zhangqx2010 commented on #15119
/need-more-information
/close
Please describe the problem you are facing and reopen this issue. Thanks.

[2019-06-26 08:44] #15119 closed

[2019-06-26 08:48] sftim opened #15123 "Clarify “Each node in your cluster must have at least 1 CPU”"
A couple of pages:
- [Configure Minimum and Maximum CPU Constraints for a Namespace](https://kubernetes.io/docs/tasks/administer-cluster/manage-resources/cpu-constraint-namespace/)
- [Assign CPU Resources to Containers and Pods](https://kubernetes.io/docs/tasks/configure-pod-container/assign-cpu-resource/)

state that

Based on what I know about nodes, this seems like something you could take for

[2019-06-26 08:48] sftim commented on #15123
/kind cleanup
/priority backlog

[2019-06-26 08:57] sftim commented on #15123
Just realized this is talking about Kubernetes' count of CPUs, rather than what (say) the Linux kernel would see. That might not be obvious to every reader&mdash;I missed it, for example.

[2019-06-26 12:04] tddorgtfo commented on #15027
PR Revised as per above. @sftim @poothia

[2019-06-26 12:31] mc0 commented on #9829
/remove-lifecycle stale

[2019-06-26 12:50] aekinkjet30 opened #15127 "Issue with k8s.io/docs/tutorials/kubernetes-basics/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-06-26 13:58] neolit123 commented on #14258
hi,

For example, I have three master , ServerA、ServerB、ServerC, I enter the command ”kubectl get pod“ on serverA. There was a 33 percent probability of timeout.

the choice of a load balancer is left to the user. if a load balancer has problems then it's up to the user to resolve, but i have no explanation why you are having these problems.
(possibly related to something we saw at some point, see

[2019-06-26 15:28] medmedchiheb opened #15128 "Issue with k8s.io/docs/tutorials/kubernetes-basics/scale/scale-intro/"
**This is a Bug Report**

**Problem:**
Carousel not working
**Proposed Solution:**
adjust carousel item class to bootstrap 4
**Page to Update:**
http://k8s.io/docs/tutorials/kubernetes-basics/scale/scale-intro/

[2019-06-26 15:29] medmedchiheb commented on #15128
/language en

[2019-06-26 15:55] #15128 closed

[2019-06-26 16:02] jimangel commented on #13396
/close

moving discussion to #14111

[2019-06-26 16:02] #13396 closed

[2019-06-26 16:05] jimangel commented on #14111
@kbhawkey @tengqm @makoscafee - It sounds like there is work underway to improve process and surrounding documentation, thanks!

@simplytunde - This has been a major issue for the past 2 releases. Please keep up with this discussion and I would strongly encourage you trying to generate the 1.15 docs again (for testing when 1.16 is ready).

[2019-06-26 16:37] sftim commented on #15123
/language en

[2019-06-26 16:37] sftim commented on #15127
Hi @aekinkjet30
What about that page isn't right?

/triage needs-information

[2019-06-26 20:17] sftim commented on #14624
/language en

[2019-06-26 20:18] sftim commented on #14575
Any objections to this getting fixed?

[2019-06-26 20:25] #14575 closed

[2019-06-26 20:55] zacharysarah opened #15132 "Specify that machine translations are insufficient for localizations"
# This is a Bug Report

## Problem

The contrib docs for localization don't specify a minimum standard of quality. We need to clarify that machine-generated translations are insufficient for minimum standards of quality.

Context: [sig-docs Slack](https://kubernetes.slack.com/archives/C1J0BPD2M/p1561571907154900)

## Proposed Solution:

Add language to [L10n contrib guidelines](https://kubernetes.

[2019-06-26 20:56] zacharysarah commented on #15132
/good-first-issue

[2019-06-26 20:56] zacharysarah commented on #15132
/sig docs

[2019-06-26 22:04] zacharysarah commented on #14829
I like making this information available to folks. I'd rather see us add a link to this information in KinD source rather than dual-source this info in k/website.

[2019-06-26 22:30] lgarron commented on #2644
/remove-lifecycle stale

[2019-06-26 22:45] jimangel opened #15138 "Find long term fix for `test-examples` in Makefile"
**Cascading Problems:**
When Netlify builds **any** non-`master` branch, such as all of the n-1 release branches, a special build command (in `netlify.toml`) is used to prevent SEO robots from indexing. This makes sense because we only want to index the `master` website for SEO. Inherently, this is not a problem, but has lead to more issues.

All build commands use a `Makefile` that references BAS

[2019-06-27 00:16] gochist commented on #15001
@yoonian Thank you! It's OK. I'm on it.

[2019-06-27 00:20] gochist commented on #14479
This issue is included in #15001 and #15029 .

[2019-06-27 03:11] yopres opened #15139 "Issue with k8s.io/docs/setup/release/version-skew-policy/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-06-27 03:49] yopres opened #15140 "Issue with k8s.io/docs/tutorials/kubernetes-basics/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-06-27 07:17] sftim commented on #15139
Hi @yopres

What needs fixing on https://kubernetes.io/docs/setup/release/version-skew-policy/?

/triage needs-information

[2019-06-27 09:05] zwwhdls opened #15144 "The md style for some cli command dose not be treated well."
**This is a Bug Report**

**Problem:**
The md style for some cli command dose not be treated well.
https://kubernetes.io/zh/docs/tasks/inject-data-application/define-command-argument-container/

**Proposed Solution:**
Reformat the code style for cli commands.

**Page to Update:**
https://kubernetes.io/zh/docs/tasks/inject-data-application/define-command-argument-container/

[2019-06-27 09:08] medmedchiheb commented on #15144
/language zh

[2019-06-27 09:15] medmedchiheb opened #15147 "Issue with k8s.io/zh/docs/tutorials/kubernetes-basics/scale/scale-intro/"
**This is a Bug Report**

/language zh
/good-first-issue

**Problem:**

carousel not working

**Proposed Solution:**

add carousel item class as bootstrap 4

**Page to Update:**
https://kubernetes.io/zh/docs/tutorials/kubernetes-basics/scale/scale-intro/

Related PR:
 #15129

[2019-06-27 09:17] medmedchiheb opened #15149 "Issue with k8s.io/ko/docs/tutorials/kubernetes-basics/scale/scale-intro/"
**This is a Bug Report**

/language ko
/good-first-issue

**Problem:**
carousel not working

**Proposed Solution:**
add carousel item class as bootstrap 4

**Page to Update:**
https://kubernetes.io/ko/docs/tutorials/kubernetes-basics/scale/scale-intro/

Related PR:
#15129

[2019-06-27 09:18] medmedchiheb opened #15150 "Issue with k8s.io/ja/docs/tutorials/kubernetes-basics/scale/scale-intro/"
**This is a Bug Report**

/language ja
/good-first-issue

**Problem:**
carousel not working

**Proposed Solution:**
add carousel item class as bootstrap 4

**Page to Update:**
https://kubernetes.io/ja/docs/tutorials/kubernetes-basics/scale/scale-intro/

Related PR:
#15129

[2019-06-27 09:19] medmedchiheb opened #15151 "Issue with k8s.io/de/docs/tutorials/kubernetes-basics/scale/scale-intro/"
**This is a Bug Report**

/language de
/good-first-issue

**Problem:**
carousel not working

**Proposed Solution:**
add carousel item class as bootstrap 4

**Page to Update:**
https://kubernetes.io/de/docs/tutorials/kubernetes-basics/scale/scale-intro/

Related PR:
#15129

[2019-06-27 09:30] anjiawei1991 opened #15153 "Issue with k8s.io/docs/tasks/run-application/run-single-instance-stateful-application/"
**This is a Bug Report**

Problem:

Example: <https://kubernetes.io/docs/tasks/run-application/run-single-instance-stateful-application/>

failed to start pod `mysql` with Error Message "error while creating mount source path '/mnt/data': mkdir /mnt/data: read-only file system"

Kubernetes Version:

[code]

Additional Information:

I was try out it on `GKE`.

the mysql-pv-claim and mysql-pv is run

[2019-06-27 09:30] Fydon opened #15154 "Azure File doesn't mention mount options or resource group"
**This is a Feature Request**

**What would you like to be added**
Please include documentation about mount options or link to the [Azure documentation](https://docs.microsoft.com/en-us/azure/aks/azure-files-dynamic-pv#mount-options) about this. Also the resourceGroup parameter is missing, which is mention [here](https://github.com/Azure/AKS/issues/929#issuecomment-486661274). The following file i

[2019-06-27 10:04] medmedchiheb commented on #15153
you are running on `GKE`,  i guess you didn't need to  create a volume.
this tutorial is an intro on a single node cluster.

you could fix it on `GKE` by removing the `storageclassName` in `PersistentVolumeClaim` and deleting the persistent volume.

let  `GKE` provision a `PersistentVolume` for you.

although, i suggest to add the note in `Before you begin` section.

[2019-06-27 10:25] sftim commented on #15093
/language en
:thinking:

[2019-06-27 10:35] anjiawei1991 commented on #15153
let GKE provision a PersistentVolume for you.

@medmedchiheb  Thank you, it works .

[2019-06-27 11:32] sftim commented on #5993
I suggest: update the issue description with a new list that clearly shows what terms are missing.
(If it helps, I can draw up the list and then someone with edit access can paste it in).

[2019-06-27 11:52] #15153 closed

[2019-06-27 14:21] sean9999 opened #15161 "Improvement for k8s.io/docs/tutorials/kubernetes-basics/"
the section #kubernetes-basics-modules is useful in the sense that there are links and accompanying graphics that link off to their respective pages, but it's not obvious that's what it is. Visually, it should look more like an index, and the user interface should make it more obvious. As it is, it looks like an overly bare-bones overview.

[2019-06-27 16:02] c00 opened #15166 "Improvement for k8s.io/docs/tasks/configure-pod-container/pull-image-private-registry/"
In the section "Login to docker" there's a note saying:

What it doesn't say, is that when the credsStore is used, the `kubectl create secret` command in the next section won't save the credentials to the secret. It also doesn't say how to get around it.

[2019-06-27 22:13] sftim commented on #15161
I agree with your suggestion @sean9999

/kind feature
/language en

[2019-06-27 22:13] sftim commented on #15166
/language en
/kind feature

Thanks for pointing this out.

[2019-06-27 22:39] sftim opened #15171 "Suggestion for k8s.io/docs/setup/production-environment/tools/kubeadm/control-plane-flags/"
**This is a Suggestion**

**Problem:**
The page describes something that looks like a Kubernetes resource that you might try to use with `kubectl apply -f`, but actually this configuration is for `kubeadm --config`.

**Suggestion:**
Mention `kubeadm --config` at the start of the page, maybe with a link to relevant information.

**Page to Update:**
https://kubernetes.io/docs/setup/production-enviro

[2019-06-27 22:40] sftim commented on #15171
If anyone starts work on this, also take a look at issue #14337.

[2019-06-27 23:40] sftim commented on #14664
Think this is done now.
/close

(if I'm wrong, it's OK to reopen the issue)

[2019-06-27 23:40] #14664 closed

[2019-06-28 01:22] marcushyungseoklee commented on #14500
#15044

[2019-06-28 03:02] #12342 closed

[2019-06-28 05:24] Coderhypo commented on #15171
And I meet some strange things.

I use the yaml in this [docs](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/control-plane-flags/#apiserver-flags) and run `kubeadm init`, then get message as follows:

[code]

Kubeadm Version

[code]

[2019-06-28 07:33] Coderhypo commented on #15171
I have two discoveries.

1. The key: value pairs in `extraArgs` field must be str: str
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/apis/kubeadm/v1beta2/types.go#L119

2. `ClusterConfiguration` does not have a field named metadata:
https://github.com/kubernetes/kubernetes/blob/v1.13.0/cmd/kubeadm/app/apis/kubeadm/types.go#L61
https://github.com/kubernetes/apimachinery/blob/

[2019-06-28 09:39] atoato88 opened #15180 "Issue with kubernetes.io/case-studies/chinaunicom/"
**This is a Bug Report**

**Problem:**

In this article, link to rancher is wrong at last section.

[code]

Link for "Rancher" above is `https://www.docker.com/`.

**Proposed Solution:**

Change link for "Rancher" `https://www.docker.com/` with `https://rancher.com/`.

**Page to Update:**
https://kubernetes.io/case-studies/chinaunicom/

[2019-06-28 10:08] #12357 closed

[2019-06-28 11:29] networkandcode opened #15184 "Improvement for k8s.io/docs/reference/access-authn-authz/controlling-access/"
A bit confused about 3 ports - 443, localhost port 8080, secure port 6443
Is 443 getting converted to 6443?

[2019-06-28 11:56] lukos opened #15185 "Issue with k8s.io/docs/tutorials/kubernetes-basics/scale/scale-interactive/"
**This is a Bug Report**

**Problem:**
The interactive tutorial requires that you describe a service previously created to check for load-balancing (in step 2 of 3) but in the previous tutorial one of the steps is to delete the service. If following along locally, this step therefore won't work.

**Proposed Solution:**
Add a note that if the service is not found, run the command to add it again: `

[2019-06-28 12:14] lukos opened #15186 "Issue with k8s.io/docs/tutorials/kubernetes-basics/scale/scale-interactive/"
**This is an Improvement Request**
**Problem:**
If following along with the tutorial in Powershell, the call to curl to the replicated pods does not hit different IP addresses consistently so it appears that you are only hitting a single node. If you wait and then try again, it will usually hit a different replica. This might cause the learner to think they've got something wrong.

This is caused

[2019-06-28 12:35] lukos opened #15187 "Issue with k8s.io/docs/tutorials/kubernetes-basics/update/update-interactive/"
**This is a Bug Report**

**Problem:**
Another continuity problem where the ending state of the previous tutorial does not match the starting point of this one. In the last tutorial, we scaled to 4 instances and then back to 2 but at the start of this tutorial, the environment is already configured for 4. Although it doesn't massively affect the results, it will affect what you see in the console

[2019-06-28 12:46] lukos opened #15188 "Issue with k8s.io/docs/tutorials/kubernetes-basics/update/update-interactive/"
**This is a Bug Report**

**Problem:**
Some of the descriptions are a bit vague and don't help direct us newbs! Firstly, "And something is wrong… We do not have the desired number of Pods available" should be clearer, perhaps "Our 'up to date' and 'available' numbers do not match, which means that Kubernetes could not update the deployment as we just requested"

Next, it says, "A describe command

[2019-06-28 12:55] tengqm commented on #14210
Triaged. It looks like the OpenAPI parser has some hard coded path patterns. Need some research.

[2019-06-28 13:11] #12364 closed

[2019-06-28 16:48] sftim commented on #15180
/language en

[2019-06-28 16:48] sftim commented on #15185
Thanks for the suggestion
/language en

[2019-06-28 17:15] #12373 closed

[2019-06-28 17:53] sftim commented on #15188
Ideally, the documentation [addresses the reader as you](https://kubernetes.io/docs/contribute/style/style-guide/#address-the-reader-as-you). It sounds to me as it there are several issues with the interactive tutorials.

That said, I think these are still a pretty good learning resource. I've seen few open source projects that have sandboxes and walkthroughs to learn from, especially to this qual

[2019-06-28 17:53] sftim commented on #15188
/language en

[2019-06-28 17:53] sftim commented on #15187
Thanks for the feedback, seems like a good idea to fix it.
/language en

[2019-06-28 17:54] sftim commented on #15186
/language en
/sig windows
/kind feature

Thanks for the feedback @lukos

[2019-06-28 21:19] #12392 closed

[2019-06-28 23:18] jearls opened #15197 "Improvement for k8s.io/docs/concepts/overview/working-with-objects/field-selectors/"
The *Supported fields* section of this page reads:

However, it does not indicate how to find what field selectors are supported by any given Kubernetes resource type.

[2019-06-29 01:23] #12410 closed

[2019-06-29 12:34] #12433 closed

[2019-06-29 15:05] #15149 closed

[2019-06-29 18:27] Dharmesh-Poddar commented on #15151
@medmedchiheb I would like to work on it ..

[2019-06-29 18:42] medmedchiheb commented on #15151
Go, open your PR.

[2019-06-29 22:04] ialidzhikov commented on #14406
I think it is fixed with #14400.
I also proposed #15205 for release-1.13 and #15206 for release-1.12. Once they are merge, we can close the issue.

[2019-06-29 23:44] #12439 closed

[2019-06-30 12:01] Dharmesh-Poddar commented on #15151
I am getting this error while setting the website locally.

![Screenshot from 2019-06-30 17-27-59](https://user-images.githubusercontent.com/32756751/60396261-c53e4600-9b5c-11e9-935e-0a83c4818866.png)

[2019-06-30 16:46] SupriyaSirbi commented on #15098
Thanks for the issue

[2019-06-30 18:41] neolit123 commented on #15171
1. this is already covered in godocs:
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2#ControlPlaneComponent

2. yes, it does not and it's OK to be removed from this page because ClusterConfiguration does not embed ObjectMeta. https://godoc.org/k8s.io/apimachinery/pkg/apis/meta/v1#ObjectMeta

[2019-06-30 20:04] #12466 closed

[2019-07-01 00:25] Coderhypo commented on #15171
@neolit123 Thanks for your reply, Then I can make sure that the yaml in the document needs to be updated.
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/control-plane-flags/#apiserver-flags

[2019-07-01 05:57] shub-asa1 opened #15214 "Issue with k8s.io/docs/concepts/overview/working-with-objects/field-selectors/"
**This is a Bug Report**

**Problem:**
kubectl command mentioned (https://kubernetes.io/docs/concepts/overview/working-with-objects/field-selectors/#multiple-resource-types) will result "no resources".

**Proposed Solution:**
add --all-namespaces to fetch desired result.

**Page to Update:**
https://kubernetes.io/docs/concepts/overview/working-with-objects/field-selectors/#multiple-resource-types

[2019-07-01 05:59] shub-asa1 commented on #15214
i want to resolve this issue

[2019-07-01 06:55] shub-asa1 commented on #15214
/assign @bradamant3

[2019-07-01 07:03] amruthapbhat opened #15217 "Azure Scaleset"

[2019-07-01 07:26] reshadde commented on #12765
https://github.com/zalando-incubator/kube-metrics-adapter#prometheus-collector

FYI: Replacing the prometheus-adapter and using hpa type "External" solved the issue for average value scaling.

[2019-07-01 09:17] #12473 closed

[2019-07-01 09:51] maabou512 opened #15222 "Translation for content/ja/case-studies/appdirect in Japanese"
**This is a Feature Request**

**What would you like to be added**
Translation for case study of AppDirect
https://kubernetes.io/case-studies/appdirect/

**Why is this needed**
No translation exists in Japanese.
And this case study is so useful for Japanese readers (not only for developers)

**Comments**
Copy a file from en contents to content/ja/case-studies/appdirect/index.html and  content/ja/c

[2019-07-01 10:12] kubconvert opened #15224 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-07-01 10:30] kubconvert opened #15225 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/"
**This is a Bug Report**

**Problem:**
Installation on ubuntu 18.04.2 failed
apt-get does not work with kubeadm, kubectl and kubelet
**Proposed Solution:**
Change from apt-get install  to snap add
Additional instruction will be required as csgroup is failing and I am sure there will be further issues.
**Page to Update:**
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install

[2019-07-01 10:31] #15224 closed

[2019-07-01 12:12] neolit123 commented on #15225
hi, what errors are you getting for `apt-get install`?
/triage support
/sig cluster-lifecycle

[2019-07-01 12:20] #12474 closed

[2019-07-01 20:37] connor4312 opened #15230 "Issue with k8s.io/docs/tasks/tools/install-minikube/"
**This is a Bug Report**

**Problem:** Following the minikube guide using Hyper-V on Windows, `minikube start` fails

[code]

My PC is running Windows 10 Enterprise, OS build 17763.557 (1809)

**Proposed Solution:**  I found [another guide](https://medium.com/@JockDaRock/minikube-on-windows-10-with-hyper-v-6ef0f4dc158c) which got me through the installation process. I think the page should either

[2019-07-02 05:22] raelga commented on #13948
Buenas @editaxz, en esa parte ya está trabajando @bureado en #14678. Te importaría pillar otra sección o echar una mano en la revisión?

Gracias!

[2019-07-02 06:52] yunxji opened #15235 "Issue with k8s.io/docs/concepts/security/overview/"
**This is a Bug Report**

**Problem:In line 26 of this article, Alibaba's secure document connection is not available**

**Proposed Solution:Please change the correct link address**

**Page to Update:**
https://kubernetes.io/docs/concepts/security/overview/

[2019-07-02 07:56] shub-asa1 opened #15238 "Issue with k8s.io/docs/concepts/security/overview/"
**This is a Bug Report**

**Problem:**
typo error in first paragraph of "Overview of Cloud Native Security"
**Proposed Solution:**
removing extra "for" where "for" is replicated 2 times.

**Page to Update:**
Issue with k8s.io/docs/concepts/security/overview/

[2019-07-02 08:21] #15235 closed

[2019-07-02 09:09] kubconvert commented on #15225
From: Lubomir I. Ivanov <notifications@github.com>
Sent: 01 July 2019 13:13
To: kubernetes/website <website@noreply.github.com>
Cc: Robert Maycock <r.maycock@licencebureau.co.uk>; Author <author@noreply.github.com>
Subject: Re: [kubernetes/website] Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/ (#15225)

*** CAUTION: This message originated outside your organisa

[2019-07-02 09:39] networkandcode opened #15240 "Improvement for k8s.io/docs/tasks/tls/certificate-rotation/"
Is this option deprecated

--rotate-certificates                        <Warning: Beta feature> Auto rotate the kubelet client certificates by requesting new certificates from the kube-apiserver when the certificate expiration approaches. (DEPRECATED: This parameter should be set via the config file specified by theKubelet's --config flag. See https://kubernetes.io/docs/tasks/administer-cluster/ku

[2019-07-02 09:41] #12485 closed

[2019-07-02 10:21] neolit123 commented on #15225
i have not seen such a message before.

[2019-07-02 13:32] #15214 closed

[2019-07-02 13:33] kubconvert commented on #15225
I ran through again using the utube example https://www.youtube.com/watch?v=oyBwkkRn7XM this appeared to take me beyond my previous issue and I am no longer getting the error.

From: Lubomir I. Ivanov <notifications@github.com>
Sent: 02 July 2019 11:21
To: kubernetes/website <website@noreply.github.com>
Cc: Robert Maycock <r.maycock@licencebureau.co.uk>; Author <author@noreply.github.com>
Subject:

[2019-07-02 13:33] #15238 closed

[2019-07-02 13:49] neolit123 commented on #15225
thanks for testing.
/close

[2019-07-02 13:49] #15225 closed

[2019-07-02 15:27] daverick opened #15245 "Cannot server Hugo without internet connectivity"
**This is a Bug Report**

**Problem:**
`make docker-serve` or `make serve` or even `Hugo serve` failed when executed without internet connectivity with the error message:
[code]

[2019-07-02 15:51] nqthai11th opened #15247 "Issue with k8s.io/docs/concepts/cluster-administration/networking/"
**This is a Bug Report**
Pod on work-1 can not ping to pod on worker-2 when cluster uses one cidr for all nodes

**Problem:**
Precondition: the cluster have 1 master, 2 worker. The cluster use one cidr for all nodes. The question is “how to config network to pod on worker-1 ping to pod on worker-2 ?”
**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-07-02 17:04] jimangel commented on #15245
Something that might be worth investigating: https://gohugohq.com/howto/go-offline-with-service-worker/

[2019-07-02 17:09] jimangel commented on #15245
/assign

[2019-07-02 17:15] zacharysarah commented on #4135
@sftim 👋 Any updates?

[2019-07-02 17:40] juandiegopalomino commented on #14406
It's fixed, thank you!

[2019-07-02 17:40] #14406 closed

[2019-07-02 21:53] #12478 closed

[2019-07-02 21:54] peepeepopapapeepeepo opened #15254 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-service-account/"
**This is a Bug Report**

**Problem:** Cannot create `kubectl create -f https://k8s.io/examples/pods/pod-projected-svc-token.yaml` because serviceaccount "acct" not found

**Proposed Solution:** in the previous tasks above, rather than create "build-robot" service account. You may create "acct" service account instead. Or change service account in "https://k8s.io/examples/pods/pod-projected-svc-to

[2019-07-02 23:12] revolution001 opened #15256 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-service-account/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-07-03 02:52] #15171 closed

[2019-07-03 03:28] Coderhypo commented on #15247
Hello，More advanced features need to rely on network plugins instead of Kubernetes itself.

For network problems you may go to Stack Overflow to ask questions，This can only solve the problem of the document. ;)

[2019-07-03 04:10] chanont-poon opened #15258 "Issue with k8s.io/docs/tutorials/hello-minikube/"
**This is a Bug Report**

**Problem:** Running the command `minikube addons disable heapster` failed on Windows 10 Home via Git Bash command line. It printed out the following error message:
[code]

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/tutorials/hello-minikube/

**Kubernetes Version:** 1.15

[2019-07-03 04:13] DazWilkin opened #15259 ""Google Cloud Monitoring" now called "Stackdriver Monitoring""
**This is a Bug Report**

**Problem:**

https://kubernetes.io/docs/tasks/debug-application-cluster/resource-usage-monitoring/#google-cloud-monitoring

1. Google Cloud Monitoring was renamed (some time ago) to [Stackdriver Monitoring](https://cloud.google.com/monitoring/).
2. Improvements have been made to Stackdriver Monitoring's Kubernetes dashboards.
3. References to outdated service names incre

[2019-07-03 06:11] mwmahlberg opened #15262 "Issue with k8s.io/docs/setup/production-environment/turnkey/stackpoint/"
**This is a Bug Report**

**Problem:**

The documentation refers to stackpoint.io, which is retired.

![Bildschirmfoto 2019-07-03 um 08 06 51](https://user-images.githubusercontent.com/138420/60567361-0b1c2980-9d6a-11e9-98b0-be31a8640cae.png)

**Proposed Solution:**

Remove said page from documentation.

**Page to Update:**
https://kubernetes.io/docs/setup/production-environment/turnkey/stackpoint

[2019-07-03 07:00] #15150 closed

[2019-07-03 11:47] Avni-Sharma commented on #15093
@zacharysarah I would like to take this up. Do we need to provide a list of languages as well?

[2019-07-03 13:45] Potapy4 commented on #15144
/assign @potapy4

[2019-07-03 13:56] #15110 closed

[2019-07-03 14:08] supersam654 commented on #1461
http://kubernetes.io/docs/user-guide/configmap/ now resolves to https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/ which includes a somewhat technical explanation of how ConfigMaps mounted as volumes get updated in [Mounted ConfigMaps are updated automatically](https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/#mounted-configmaps-are-up

[2019-07-03 17:12] #12108 closed

[2019-07-03 17:12] #12112 closed

[2019-07-03 17:12] #11867 closed

[2019-07-03 18:20] kbhawkey commented on #12769
/close

[2019-07-03 18:20] #12769 closed

[2019-07-03 18:28] zacharysarah commented on #15093
@avni-sharma Great! No list needed, just the clarifying text about English, please.

[2019-07-03 19:14] #12259 closed

[2019-07-03 22:17] #10643 closed

[2019-07-03 23:44] ethaeris opened #15272 "Issue with k8s.io/docs/reference/command-line-tools-reference/kube-controller-manager/"
**This is a Bug Report**

**Problem:**
Two different parts of the documentation imply that the `terminated-pod-gc-threshold` configuration value is two different units.

https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-lifetime implies that `terminated-pod-gc-threshold` is in seconds:
"The only exception to this rule is that Pods with a phase of Succeeded or Failed for more th

[2019-07-04 05:48] deekshith-elear opened #15274 "Issue with k8s.io/docs/tasks/administer-cluster/access-cluster-api/"
Hi,
I was trying to access cluster from pod as per documentation they mentioned that we can use kubernetes.default.svc to call kubernetes api's. But when I was tried it is saying that unresolved host.
I was using `https://kubernetes.default.svc/api/v1` to call kubernetes api server. This the correct way to use or it is different
Can any one help on this issue
Thanks

[2019-07-04 06:40] Gamingpc opened #15276 "Issue with k8s.io/docs/contribute/start/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-07-04 08:38] oke-py commented on #14954
/close

[2019-07-04 08:39] #14954 closed

[2019-07-04 08:40] oke-py commented on #13378
/close

[2019-07-04 08:40] #13378 closed

[2019-07-04 08:41] oke-py commented on #13384
/close

[2019-07-04 08:41] #13384 closed

[2019-07-04 08:42] oke-py commented on #14381
/close

[2019-07-04 08:42] #14381 closed

[2019-07-04 08:45] oke-py commented on #13381
/close

[2019-07-04 08:45] #13381 closed

[2019-07-04 09:28] #12187 closed

[2019-07-04 09:28] #12216 closed

[2019-07-04 09:28] #12223 closed

[2019-07-04 09:28] #12406 closed

[2019-07-04 09:46] peepeepopapapeepeepo opened #15280 "Issue with k8s.io/docs/tasks/administer-cluster/dns-horizontal-autoscaling/"
**This is a Bug Report**

**Problem:** Got error "nodes is forbidden: User "system:serviceaccount:kube-system:default" cannot list resource "nodes" in API group "" at the cluster scope"

$ kubectl logs pod/dns-autoscaler-754d864bb4-j5dl9 --namespace=kube-system
[code]

**Proposed Solution:**
I try to mimic [dns-horizontal-autoscaler for kube-dns](https://raw.githubusercontent.com/kubernetes/kubern

[2019-07-04 10:12] oke-py opened #15281 "Translate tasks/debug-application-cluster/debug-stateful-set/ in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/debug-application-cluster/debug-stateful-set/ in Japanese.

**Why is this needed**

This document is not translated in Japanese.

**Comments**

Copy a file from en contents to content/ja/docs/tasks/debug-application-cluster/debug-stateful-set.md and translate it into Japanese.

/language ja

[2019-07-04 10:38] peepeepopapapeepeepo opened #15283 "Issue with k8s.io/docs/tasks/administer-cluster/change-pv-reclaim-policy/"
**This is a Bug Report**

**Problem:** It would be better to start with create a PersistentVolume first because some clusters don't have pv exist.

**Proposed Solution:**

[code]

**Page to Update:**
https://kubernetes.io/docs/tasks/administer-cluster/change-pv-reclaim-policy/#changing-the-reclaim-policy-of-a-persistentvolume

Kubernetes Version: 1.15.0
[code]

[2019-07-04 10:41] oke-py commented on #14634
/close

[2019-07-04 10:44] oke-py commented on #14397
/close

[2019-07-04 11:42] rcythr opened #15284 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/high-availability/"
**This is a Bug Report**

**Problem:**
The section describing the load balancer was clearly written with a cloud deployment in mind, and glosses over some details for bare metal deployments which less-experienced users may miss during setup. In particular it suggests that HAProxy can be used, but glosses over the fact that if you use HAProxy and want high availability you need to use a VIP to hand

[2019-07-04 13:00] tddorgtfo commented on #14623
/remove-help

[2019-07-04 15:43] neolit123 commented on #15284
a couple of points:
- i don't think our documents have cloud providers in mind. but possibly the wording can be adjusted.
- kubeadm is LB agnostic and HAProxy is just an example.

it really depends on the cloud provider. the CP *might* give you an HA LB or not. so possibly we should be clear about that.

+1, i like extending the docs with something like this but will defer to @fabriziopandini for

[2019-07-04 15:54] fabriziopandini commented on #15284
@rcythr @neolit123 I'm ok with the proposed wording improvement

On top of  @neolit123 comments, I suggest to remove the "I feel like you could possibly also create a VIP for the master nodes directly and skip HAProxy entirely." bit, so we can avoid getting into the details of all the possible alternatives to achieve an HA load balancer on bare metal ("you need to take steps to make that load bala

[2019-07-04 19:06] oke-py opened #15288 "Translate tasks/run-application/scale-stateful-set/ in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/run-application/scale-stateful-set/ in Japanese.

**Why is this needed**

This document is not translated in Japanese.

**Comments**

Copy a file from en contents to content/ja/docs/tasks/run-application/scale-stateful-set.md and translate it into Japanese.

/language ja

[2019-07-04 19:36] oke-py opened #15291 "Translate tasks/run-application/delete-stateful-set/ in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/run-application/delete-stateful-set/ in Japanese.

**Why is this needed**

This document is not translated in Japanese.

**Comments**

Copy a file from en contents to content/ja/docs/tasks/run-application/delete-stateful-set.md and translate it into Japanese.

/language ja

[2019-07-04 20:12] dbowling opened #15292 "Improvement for k8s.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/"
Regarding the Kubelet certificate renewal, the documentation says:

I've just run through the kubeadm upgrade process (from 1.14.2 to 1.15.0) and I don't see that my kubelet certificate was rotated (it still shows the old date, which expires in under 1 month from now, rather than a year out.)

Some extra guidance in the documentation regarding how to get this certificate rotated when managing by k

[2019-07-04 21:17] oke-py opened #15294 "Translate tasks/run-application/force-delete-stateful-set-pod/ in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/run-application/force-delete-stateful-set-pod/ in Japanese.

**Why is this needed**

This document is not translated in Japanese.

**Comments**

Copy a file from en contents to content/ja/docs/tasks/run-application/force-delete-stateful-set-pod.md  and translate it into Japanese.

/language ja

[2019-07-04 21:24] neolit123 commented on #15292
the client certificate for the kubelet should automatically rotate for you.

this is managed by a specific certificate manager created inside the kubelet and kubeadm makes sure to enable this feature for you.

AFAIK, the decision on when to rotate the certificate is non-deterministic and it may happen 70 - 90% of the total lifespan of the certificate to prevent overlap on node cert rotations. 1 mo

[2019-07-04 22:50] editaxz commented on #13948
Buenas tardes @raelga, me gustaría apoyar con la traducción al español de: "Configuration/secret"

[2019-07-05 03:20] yunxji opened #15297 "add docs/setup/production-environment/turnkey/tke.md"
Document upload error, deleted

[2019-07-05 06:01] kakts commented on #14848
WIP

[2019-07-05 06:58] 0Delta opened #15300 "Translate docs/concepts/configuration/overview.md in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate docs/concepts/configuration/overview.md in Japanese

**Why is this needed**

This document is not translated in Japanese.

**Comments**

Copy a file from en contents to content/ja/docs/concepts/configuration/overview.md and translate it into Japanese.

/language ja

[2019-07-05 07:54] peepeepopapapeepeepo opened #15304 "Issue with k8s.io/docs/tasks/administer-cluster/dns-debugging-resolution/"
**This is a Bug Report**

**Problem:** Label of CoreDNS pods are k8s-app=kube-dns.

[code]

**Proposed Solution:** change the label to k8s-app=kube-dns

**Page to Update:**
https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/#check-if-the-dns-pod-is-running
https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/#check-for-errors-in-the-dns-pod

**Kube

[2019-07-05 08:05] koneko096 commented on #13929
I'm taking `Manage Deployment` page (`content/id/docs/concepts/cluster-administration/manage-deployment/`)

[2019-07-05 11:57] keiyasssss opened #15306 "Issue with k8s.io/docs/tasks/access-application-cluster/web-ui-dashboard/"
**This is a Bug Report**

**Problem:**
error: unable to read URL "https://raw.githubusercontent.com/kubernetes/dashboard/master/aio/deploy/recommended/kubernetes-dashboard.yaml", server reported 404 Not Found, status code=404
**Proposed Solution:**
upload it again
**Page to Update:**
https://kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard/

[2019-07-05 14:19] dbowling commented on #15292
Thanks @neolit123. I was expecting it to rotate on update or restart of the kubelet, but since that's not the case I've manually performed the restart after deleting the pki folder and it now reports having an updated certificate. I'll close this issue. If it doesn't update in the future, I'll know there's a bug.

[2019-07-05 14:19] #15292 closed

[2019-07-05 19:29] srslafazan opened #15312 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/"
**This is a Bug Report**

**Problem:**

The documentation says Kubernetes supports Ubuntu 16.04+, but Kuberentes barely runs on Ubuntu 18.04 LTS, and only with precise single-node configurations. The documentation fails to mention that Kubernetes configurations frequently fail, and many of its components (like kubelet itself, kube-dns, coredns, etc.) crash, and it is incompatible with systemd-reso

[2019-07-05 19:32] dims commented on #15312
@srslafazan Are there bugs logged for the issues you mention? (with logs etc?)

[2019-07-05 22:59] neolit123 commented on #15312
the official documentation contains information about systemd-resolved.

see:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/kubelet-integration/#providing-instance-specific-configuration-details
https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/#known-issues

also kubeadm already manages the systemd-resolved situation for you. it passes this to th

[2019-07-06 04:33] oke-py commented on #13382
/close

[2019-07-06 04:33] #13382 closed

[2019-07-06 06:32] oke-py commented on #14021
#14146 で完了していそう

[2019-07-06 07:47] nasa9084 commented on #14021
/close

[2019-07-06 07:47] #14021 closed

[2019-07-06 07:50] nasa9084 commented on #12735
/close

[2019-07-06 07:50] #12735 closed

[2019-07-06 09:26] peepeepopapapeepeepo opened #15317 "Issue with k8s.io/docs/tasks/administer-cluster/namespaces-walkthrough/"
**This is a Bug Report**

**Problem:**
Cannot pull images from `--image=kubernetes/serve_hostname`.

**Proposed Solution:**
Please change to `--image=k8s.gcr.io/serve_hostname`.

for example:
`kubectl run snowflake --image=k8s.gcr.io/serve_hostname --replicas=2`
`kubectl run cattle --image=k8s.gcr.io/serve_hostname --replicas=5`

**Page to Update:**
https://kubernetes.io/docs/tasks/administer-clus

[2019-07-06 09:39] peepeepopapapeepeepo opened #15318 "Issue with k8s.io/docs/tasks/administer-cluster/namespaces-walkthrough/"
**This is a Bug Report**

**Problem:**
Cannot use result from `kubectl config current-context` as the value for “cluster” and “user”

[code]

[code]

**Proposed Solution:**
Change instruction to

[code]

[code]

**Page to Update:**
https://kubernetes.io/docs/tasks/administer-cluster/namespaces-walkthrough/#create-pods-in-each-namespace

**Kubernetes Version:** 1.15.0

[2019-07-06 10:06] OJFord opened #15319 "Confusing `local` docs: not given as PV type, but volume example is a PV"
**This is a Bug Report**

**Problem:**
`local` is not given as a type of Persistent Volume:
https://kubernetes.io/docs/concepts/storage/persistent-volumes/#types-of-persistent-volumes

but the example for `local` Volume is a PV:
https://kubernetes.io/docs/concepts/storage/volumes/#local

**Proposed Solution:**
- Add `local` to types of PV
- Modify Volume example to not be a PV: PV page suggests 'f

[2019-07-06 11:08] #15254 closed

[2019-07-06 13:18] #12521 closed

[2019-07-06 19:48] srslafazan commented on #15312
I've seen this in Ubuntu 18.04 only -- Centos7 does not have this issue, for example.

Kubeadm breaks systemd-resolved settings and destroys ARP settings. I haven't yet found a way to fix the ARP configuration without blasting the OS and re-installing (clearing the cache is not enough, ipv4 network neighbors are unresolvable after running kubeadm join). Perhaps there is a way to disable the arp pr

[2019-07-06 21:26] #12526 closed

[2019-07-07 03:44] #15180 closed

[2019-07-07 03:56] #15093 closed

[2019-07-07 03:58] #15107 closed

[2019-07-07 07:20] vjohnk opened #15323 "Issue with k8s.io/docs/tasks/tools/install-minikube/"
**This is a Bug Report**

 minikube does not get created with minikube start --vm-driver=none
My setup is parrot os --> virtualbox --> centos 7 ---> minikubu installation done.

Please note:- normal setup done on parrot os did workfine as i had the
egrep --color 'vmx|svm' /proc/cpuinfo output, which i did not get out of vm running centos

**Problem:**
[root@centos-train ~]# minikube start --vm-dri

[2019-07-07 08:56] #14337 closed

[2019-07-07 10:32] git-done opened #15324 "I wish /docs/search/ tiller"
I wish /docs/search/ tiller

[2019-07-07 11:40] medmedchiheb commented on #15317
/language en

[2019-07-07 13:42] #10929 closed

[2019-07-07 13:42] #12500 closed

[2019-07-07 20:43] sftim commented on #4135
I've been away-from-keyboard for a week. Will update this.

[2019-07-08 02:43] phanama commented on #13929
I'm taking Volumes in `content/id/docs/concepts/storage`

[2019-07-08 04:45] sotoiwa opened #15336 "Translate tasks/run-application/run-replicated-stateful-application/ in Japanese"
# Translate tasks/run-application/run-replicated-stateful-application/ in Japanese

**This is a...**

* [x]  Feature Request
* [ ]  Bug Report

**Problem:**
No tasks/run-application/run-replicated-stateful-application/ in Japanese.

**Proposed Solution:**
Translate tasks/run-application/run-replicated-stateful-application/ in Japanese.
Copy from en content and Update `content/ja/docs/tasks/run-app

[2019-07-08 04:46] sotoiwa commented on #15336
/language ja

[2019-07-08 04:49] sotoiwa commented on #15336
/assign

[2019-07-08 08:06] oke-py commented on #15294
/assign

[2019-07-08 08:07] oke-py commented on #15291
/assign

[2019-07-08 08:07] oke-py commented on #15288
/assign

[2019-07-08 08:08] oke-py commented on #15281
/assign

[2019-07-08 08:08] oke-py commented on #14935
/assign

[2019-07-08 09:04] #15151 closed

[2019-07-08 12:05] girikuncoro opened #15341 "Tracking Indonesian Translation Progress (M2)"
This is tracking issue of our progress throughout the 1.16 release cycle.

## Maintainers
* @girikuncoro
* @irvifa
* @phanama
* @wahyuoi
* @danninov
* @qbl

## For New Contributors
To translate a page:
1. Check that no one else has claimed your page in the checklist and comments below.
2. Comment below with the name of the page you would like to translate. Take only one page at a time.
3. Fork thi

[2019-07-08 12:07] girikuncoro commented on #13929
Thanks for all your contribution in M1! 🎉🎉
We will continue with the rest of pages in M2, tracked here #15341

Please mention the new issue id when raising PR. Closing this.

[2019-07-08 12:07] #13929 closed

[2019-07-08 12:17] guruvasuraj opened #15342 "Issue with k8s.io/docs/tasks/manage-gpus/scheduling-gpus/"
How do I configure GeForce GTX 1080  GPUs? I followed the same instructions but when I try to get the node info I am not seeing the GPUs.

[2019-07-08 20:56] lnmei commented on #15132
Hello, would like to contribute on this! To clarify, are we to define the minimum standard of quality in the guidelines such as a specified level of fluency for human reviewers and/or contributors, or just clarify a process of human review for machine-generated translation?

[2019-07-09 02:00] phanama commented on #15341
I'm taking `Pod Security Policy` in `content/id/docs/concepts/policy`

[2019-07-09 02:42] seokho-son opened #15348 "No reference/glossary/applications.md in Korean"
### This issue is to encourage a new contributor for Korean localization.
### 환영합니다 :)

**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
No Korean translation for
https://kubernetes.io/ko/docs/reference/glossary/?fundamental=true#term-appplications

**Proposed Solution:**

Translate the page in Korean.
/website/content/en/docs/reference/glossary/applications.md

1) checkout t

[2019-07-09 05:40] russellrobinson opened #15351 "Issue with k8s.io/docs/tasks/tools/install-minikube/"
**This is a Bug Report**

'minikube --vm-driver=none start' reports the following error:
StartHost: create: precreate: exec: "docker": executable file not found in $PATH
Unable to start VM: create: precreate: exec: "docker": executable file not found in $PATH

**Proposed Solution:**
The page should mention that docker is required to be installed.

**Page to Update:**
https://kubernetes.io/...

[2019-07-09 09:53] seokho-son opened #15352 "No reference/glossary/control-plane.md in Korean"
### This issue is to encourage a new contributor for Korean localization.
### 환영합니다 :)

**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
No Korean translation for
https://kubernetes.io/ko/docs/reference/glossary/?fundamental=true#term-control-plane

**Proposed Solution:**

Translate the page in Korean.
/website/content/en/docs/reference/glossary/control-plane.md

1) checkout

[2019-07-09 10:58] #15304 closed

[2019-07-09 11:10] #15317 closed

[2019-07-09 11:12] tengqm commented on #15324
A better stated wish is needed.

[2019-07-09 11:12] #15324 closed

[2019-07-09 11:13] bep opened #15353 "Missing "_index.md" files"
So, I rebuild this website to watch for diffes when I do some structural changes in Hugo, because this seems to be a good indicator to whether I have made any changes to the section logic ...

What I do see, however, are some inter-language "mismatches" in section configuration. I have thought about making this more automatic/robust on the Hugo side, but it's hard to do without breaking stuff.

Bu

[2019-07-09 11:14] tengqm commented on #15323
The error message says you need more VCPUs.

[2019-07-09 11:16] #15276 closed

[2019-07-09 11:18] tengqm commented on #15280
/sig-network

[2019-07-09 12:30] vjohnk commented on #15323
*******************I wanted to show you this error*****************

As per the error shown is there anything that can be included in the article like turning off firewall
or all the port that needs to be allowed

[root@centos ~]# minikube start --vm-driver=none
* minikube v1.2.0 on linux (amd64)
* Creating none VM (CPUs=2, Memory=2048MB, Disk=20000MB) ...
* Configuring environment for Kubernetes

[2019-07-09 16:44] ejmarten opened #15358 "Improvement for k8s.io/docs/tasks/debug-application-cluster/logging-elasticsearch-kibana/"
No platform specific documentation!

instructions that include platform specific utilities are useless to majority populations of the community:

kube-up.sh - not used in my on-prem cluster
kops - not used in my on-prem cluster

These are great, and I can usually translate the docs into something useful, but these utilities shouldn't be in the CNCF k8s docs unless they're in a section specific to

[2019-07-09 19:33] bradtopol commented on #4135
Thanks @sftim please feel free to ping me when its ready for review

[2019-07-09 21:13] QuantumADK commented on #15358
Aaron Daniel Kaatz

[2019-07-10 03:22] pinterl opened #15362 "Issue with k8s.io/docs/tutorials/hello-minikube/"
**This is a Bug Report**

**Problem:**
When I typed ````minikube dashboard```` into the terminal I got the following error message:

Open a 'Web Preview' to render the response from a running web server.
minikube version; minikube start
$
$ minikube version; minikube start
minikube version: v1.2.0
* minikube v1.2.0 on linux (amd64)
* Creating none VM (CPUs=2, Memory=2048MB, Disk=20000MB) ...
* Con

[2019-07-10 03:35] tengqm commented on #15362
dup of #12968

[2019-07-10 03:35] #15362 closed

[2019-07-10 03:35] #14733 closed

[2019-07-10 03:36] tengqm commented on #14436
dup of #12968

[2019-07-10 03:36] #14436 closed

[2019-07-10 03:38] #15297 closed

[2019-07-10 04:45] #12566 closed

[2019-07-10 12:32] gochist opened #15366 "Outdated files in dev-1.15-ko.2 branch"
# This is a Bug Report
## Problem
Outdated files in the dev-1.15-ko.2 branch.

### 15 files to be modified
1. [ ] content/en/_index.html 1 file changed, 2 insertions(+), 2 deletions(-)
1. [ ] content/en/docs/concepts/architecture/nodes.md 1 file changed, 4 insertions(+)
1. [ ] content/en/docs/concepts/overview/components.md 1 file changed, 6 insertions(+), 3 deletions(-)
1. [ ] content/en/docs/con

[2019-07-10 14:08] sotoiwa commented on #15336
/milestone 1.14-ja.1

[2019-07-10 22:55] zacharysarah commented on #15132
@lnmei 👋 Thanks for your interest!

This is a great place to start. 👍

[2019-07-10 23:14] DavidODonovan opened #15370 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
Hi this interactive tutorial did not work for me - I could not connect to localhost:8001
********************************
$ curl http://localhost:8001/version
curl: (7) Failed to connect to localhost port 8001: Connection refused
********************************