[2022-08-08 14:00] sftim commented on #35769
@rolfedh why is this a bug? (what are the symptoms?)

[2022-08-08 14:08] rolfedh commented on #35783
Also see https://github.com/kubernetes/website/pull/29679/files#r939666948

[2022-08-08 16:01] seokho-son opened #35786 "Korean Localization for dev-1.24-ko.3 branch"
## In English

**This is a Feature Request**

Korean Localization for `dev-1.24-ko.3` branch.

**What would you like to be added**

Any localization contributions for Korean.

**Comments**

- This issue is to notify the schedule of Korean localization to contributors.
- `dev-1.24-ko.3` is the current work branch for Korean localization.

**Important dates**
- A Korean localization work branch is m

[2022-08-08 16:36] seokho-son commented on #35786
/milestone dev-1.24-ko.3

[2022-08-08 16:40] Rahuls-s opened #35788 "Interactive Tutorial - Exploring Your App Not loading seeing black screen"
I was going through all the interactive tutorials one by one and when I reached this, the interactive tutorial stopped working and I am only seeing a black screen.
I tried to reload many times, waited for 10-15 mins but still its the same.
Attached a screenshot FYR

![image](https://user-images.githubusercontent.com/67678704/183468629-762c09b0-0ac9-4e8f-b333-db41248df0d0.png)

[2022-08-08 16:44] rolfedh commented on #35769
@sftim if one considers "contributor" a valid user role for the `website` repo, then the behavior described in the "Problem" section is a bug. That is, having unwanted files showing up in PRs is "an incorrect or unexpected result, or to behave in unintended ways." I wouldn't mind using a different issue category, but didn't see one that fit better. Which button would you use for issues like this?

[2022-08-08 17:53] sftim commented on #35788
This might be a duplicate of https://github.com/kubernetes/website/issues/32832

[2022-08-08 18:21] rikatz commented on #33898
I'm a bit concerned on this. I'm trying to figure out the real value vs effort. If we approve this, it will probably generate a mountain of rebases for us.

@sftim is this something we really want? If so, wouldn't be good to work on this as part of the CI as well? Otherwise we will fix this now, just to have in a short term the same problem with different places

[2022-08-08 18:56] #35656 closed

[2022-08-08 20:33] MikeSpreitzer commented on #31633
/remove-lifecycle rotten
/reopen

[2022-08-08 22:53] #35487 closed

[2022-08-09 02:11] #35424 closed

[2022-08-09 02:21] linruikai opened #35798 "名字空间"
名字空间 四个字，markdown语法未正常显示粗体
<img width="681" alt="WX20220809-102115@2x" src="https://user-images.githubusercontent.com/33476727/183549466-f4f52ce9-2d88-44fd-9323-053227f85ee4.png">

[2022-08-09 02:48] #35159 closed

[2022-08-09 02:49] mengjiao-liu commented on #35798
page: https://kubernetes.io/zh-cn/docs/concepts/overview/working-with-objects/namespaces/
/triage accepted
/assign

[2022-08-09 03:32] #35798 closed

[2022-08-09 03:35] mocha-123 opened #35802 "Outdated Korean contents in the dev-1.24-ko.3"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.24-ko.3 branch.

Report generated by the following command.
`./scripts/diff_l10n_branches.py ko upstream/dev-1.24-ko.2 upstream/dev-1.24-ko.3`

### 76 files to be modified
1. [ ] M1.  `content/en/_index.html`  | 3(+XS) 3(-)
1. [ ] M2.  `content/en/docs/concepts/architecture/control-plane-node-communication.md`  | 1(+XS) 1(-)
1.

[2022-08-09 04:20] RA489 commented on #35740
/triage accepted

[2022-08-09 04:54] jihoon-seo commented on #30364
Resolved by
- #35423 (→ `dev-1.24-ko.2`)
- #35767 (`dev-1.24-ko.2` → `main`)

/close

[2022-08-09 04:54] #30364 closed

[2022-08-09 04:57] jihoon-seo commented on #35103
Resolved by
- #35291 (→ `dev-1.24-ko.2`)
- #35767 (`dev-1.24-ko.2` → `main`)

/close

[2022-08-09 04:57] #35103 closed

[2022-08-09 04:59] jihoon-seo commented on #35127
Resolved by
- #35280 (→ `dev-1.24-ko.2`)
- #35767 (`dev-1.24-ko.2` → `main`)

/close

[2022-08-09 05:00] #35127 closed

[2022-08-09 05:02] jihoon-seo commented on #35258
Resolved by
- #35279 (→ `dev-1.24-ko.2`)
- #35767 (`dev-1.24-ko.2` → `main`)

[2022-08-09 05:02] #35258 closed

[2022-08-09 05:04] jihoon-seo commented on #35283
Resolved by
- #35302 (→ `dev-1.24-ko.2`)
- #35767 (`dev-1.24-ko.2` → `main`)

/close

[2022-08-09 05:04] #35283 closed

[2022-08-09 05:06] jihoon-seo commented on #35342
Resolved by
- #35358 (→ `dev-1.24-ko.2`)
- #35767 (`dev-1.24-ko.2` → `main`)

/close

[2022-08-09 05:06] #35342 closed

[2022-08-09 05:06] jihoon-seo commented on #35347
Resolved by
- #35349 (→ `dev-1.24-ko.2`)
- #35767 (`dev-1.24-ko.2` → `main`)

/close

[2022-08-09 05:07] #35347 closed

[2022-08-09 05:08] jihoon-seo commented on #35352
Resolved by
- #35408 (→ `dev-1.24-ko.2`)
- #35767 (`dev-1.24-ko.2` → `main`)

/close

[2022-08-09 05:08] #35352 closed

[2022-08-09 05:09] jihoon-seo commented on #35357
Resolved by
- #35359 (→ `dev-1.24-ko.2`)
- #35767 (`dev-1.24-ko.2` → `main`)

/close

[2022-08-09 05:10] #35357 closed

[2022-08-09 05:10] jihoon-seo commented on #35427
Resolved by
- #35549 (→ `dev-1.24-ko.2`)
- #35767 (`dev-1.24-ko.2` → `main`)

/close

[2022-08-09 05:11] #35427 closed

[2022-08-09 05:13] jihoon-seo commented on #35435
Resolved by
- #35496 (→ `dev-1.24-ko.2`)
- #35767 (`dev-1.24-ko.2` → `main`)

/close

[2022-08-09 05:13] #35435 closed

[2022-08-09 05:14] jihoon-seo commented on #35443
Resolved by
- #35444 (→ `dev-1.24-ko.2`)
- #35767 (`dev-1.24-ko.2` → `main`)

/close

[2022-08-09 05:15] #35443 closed

[2022-08-09 05:15] marcushyungseoklee commented on #35213
/close

[2022-08-09 05:15] #35213 closed

[2022-08-09 05:15] jihoon-seo commented on #35447
Resolved by
- #35502 (→ `dev-1.24-ko.2`)
- #35767 (`dev-1.24-ko.2` → `main`)

/close

[2022-08-09 05:16] #35447 closed

[2022-08-09 05:16] jihoon-seo commented on #35460
Resolved by
- #35463 (→ `dev-1.24-ko.2`)
- #35767 (`dev-1.24-ko.2` → `main`)

/close

[2022-08-09 05:16] #35460 closed

[2022-08-09 05:16] jihoon-seo commented on #35477
Resolved by
- #35500 (→ `dev-1.24-ko.2`)
- #35767 (`dev-1.24-ko.2` → `main`)

/close

[2022-08-09 05:17] #35477 closed

[2022-08-09 05:17] jihoon-seo commented on #35480
Resolved by
- #35488 (→ `dev-1.24-ko.2`)
- #35767 (`dev-1.24-ko.2` → `main`)

/close

[2022-08-09 05:18] #35480 closed

[2022-08-09 05:18] jihoon-seo commented on #35490
Resolved by
- #35499 (→ `dev-1.24-ko.2`)
- #35767 (`dev-1.24-ko.2` → `main`)

/close

[2022-08-09 05:18] #35490 closed

[2022-08-09 05:18] jihoon-seo commented on #35494
Resolved by
- #35501 (→ `dev-1.24-ko.2`)
- #35767 (`dev-1.24-ko.2` → `main`)

/close

[2022-08-09 05:19] #35494 closed

[2022-08-09 05:19] jihoon-seo commented on #35546
Resolved by
- #35561 (→ `dev-1.24-ko.2`)
- #35767 (`dev-1.24-ko.2` → `main`)

/close

[2022-08-09 05:19] #35546 closed

[2022-08-09 05:19] jihoon-seo commented on #35560
Resolved by
- #35565 (→ `dev-1.24-ko.2`)
- #35767 (`dev-1.24-ko.2` → `main`)

/close

[2022-08-09 05:19] marcushyungseoklee opened #35805 "[ko] Translate reference/access-authn-authz/bootstrap-tokens/ in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate /reference/access-authn-authz/bootstrap-tokens/ in Korean

Why is this needed

Comments

Pages to Update
https://kubernetes.io/docs/reference/access-authn-authz/bootstrap-tokens/

**Why is this needed**

**Comments**

[2022-08-09 05:19] #35560 closed

[2022-08-09 05:20] marcushyungseoklee commented on #35805
/language ko
/assign

[2022-08-09 05:24] jihoon-seo commented on #35184
관련 PR:
- #35698
- #35423 (→ `dev-1.24-ko.2`)
- #35767 (`dev-1.24-ko.2` → `main`)

참고: https://github.com/kubernetes/website/pull/35698#issuecomment-1205972878
"PR #35698 의 기여 내용을 활용하여, `ko/docs/concepts/storage/windows-storage.md` 를
개선하는 신규 PR로 기여 내용을 추가적으로 반영" 하는 안이 제안되었음

[2022-08-09 05:26] jihoon-seo commented on #35805
@marcushyungseoklee 감사합니다!
/triage accepted

[2022-08-09 06:00] seokho-son commented on #35802
Thanks @mocha-123 :)

/triage accepted

[2022-08-09 06:38] seokho-son commented on #35802
/help

[2022-08-09 07:09] seokho-son commented on #35802
D1. `content/en/docs/concepts/workloads/pods/pod-topology-spread-constraints.md` was not deleted.

It is relocated to `content/en/docs/concepts/scheduling-eviction/topology-spread-constraints.md` (bfff661) and its content has been updated as well. by following PR.
 - #33792 (https://github.com/kubernetes/website/pull/33792/files#r921636621)

Our tool (script) cannot report this kind of changes. Ne

[2022-08-09 07:12] seokho-son commented on #35802
ref: https://github.com/kubernetes/website/issues?q=label%3Arefactor+is%3Amerged (label:refactor is:merged )

[2022-08-09 07:22] s-kawamura-w664 opened #35807 "[ja] content/ja/docs/concepts/containers/images.md is outdated."
**This is a Feature Request**

**What would you like to be added**

We need to update content/ja/docs/concepts/containers/images.md according to the English text, because it is outdated.

**Why is this needed**

content/ja/docs/concepts/containers/images.md is outdated.

**Comments**

/language ja
/assign

[2022-08-09 08:23] sftim commented on #33898
To be honest, Git (and the maintainers) a quite good at solving this kind of merge conflict. I'm happy to see the change land. For example, the [English changes](https://github.com/kubernetes/website/pull/34920/files) are not large.

Is there another localization where there's a big diff.

I don't see much value in this change though. The site is already working fine and my preferred text editor u

[2022-08-09 10:37] rollony opened #35812 "[ko] Translate /docs/concepts/security/pod-security-standards into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate "/docs/concepts/security/pod-security-standards" into Korean.

**Why is this needed**

Not translated into Korean yet.

**Comments**

original entry: https://kubernetes.io/docs/concepts/security/pod-security-standards/

/language ko
/assign

[2022-08-09 10:41] rolfedh commented on #35769
Maybe not needed.

[2022-08-09 10:41] #35769 closed

[2022-08-09 11:30] having-dlrow commented on #35802
M1~M5 작업 희망합니다.

[2022-08-09 11:35] jinnypark9393 commented on #35802
M8, M19~M21 작업 해보겠습니다 :)

[2022-08-09 11:36] mocha-123 opened #35814 "broken link - section 'the downward api' no longer exists"
**This is a Bug Report**

**Problem:**
The link `/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information/#the-downward-api` is dead.
The content from the section seems moved into top of the document and glossary in [7f3604a](https://github.com/kubernetes/website/commit/7f3604a949c1d85b2074cea3e3068e1b522850d8#diff-a6d22beccc39e70b247db48068c8d2afd03e6c707122b8b6246d66226a5c7

[2022-08-09 11:46] seokho-son commented on #35802
/assign @having-dlrow @jinnypark9393

감사합니다!!

- M1~M5 : @having-dlrow
- M8 : @jinnypark9393
- M19~M21 : @jinnypark9393

[2022-08-09 11:58] mocha-123 commented on #35802
M27~M32 작업 희망합니다.

[2022-08-09 12:01] KimDoubleB commented on #35802
M66-M76 작업해보겠습니다~!

[2022-08-09 12:19] NayeonKeum commented on #35802
M22~M26 작업 희망합니다!

[2022-08-09 12:40] Veryfirstmoment commented on #35802
M33~34, M63~65 작업 진행해 보겠습니다.

[2022-08-09 13:54] vaibhav2107 commented on #35814
/assign

[2022-08-09 13:59] sftim commented on #35814
/language en
/triage accepted
/help

We should find existing hyperlinks to https://k8s.io/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information/#the-downward-api and replace those with links to https://k8s.io/docs/concepts/workloads/pods/downward-api/

[2022-08-09 14:42] sftim opened #35821 "Register and document annotation `cluster-autoscaler.kubernetes.io/safe-to-evict`"
**This is a Bug Report**

**Problem:**
The cluster autoscaler uses an annotation, `cluster-autoscaler.kubernetes.io/safe-to-evict`. However, we don't list that annotation in
[Well-Known Labels, Annotations and Taints](
https://kubernetes.io/docs/reference/labels-annotations-taints/).

**Proposed Solution:**
Update [Well-Known Labels, Annotations and Taints](
https://kubernetes.io/docs/reference/la

[2022-08-09 15:50] kadtendulkar opened #35823 "Broken link on Volumes page"
**Problem:**
The text [**StorageClass for GCE PD**](https://kubernetes.io/docs/concepts/storage/storage-classes/#gce) on [link](https://kubernetes.io/docs/concepts/storage/volumes/) is not working, it should point to these https://kubernetes.io/docs/concepts/storage/storage-classes/#gce-pd
Check the page [Volumes](https://kubernetes.io/docs/concepts/storage/volumes/) for the problem.

**Page to Up

[2022-08-09 15:50] seokho-son commented on #35802
감사합니다! :)
/assign @mocha-123 @KimDoubleB @NayeonKeum @Veryfirstmoment

[2022-08-09 15:53] yoonian commented on #35802
M35-M49 까지 해보지요

[2022-08-09 20:32] #35823 closed

[2022-08-09 22:42] annajung commented on #35821
/triage accepted
/sig autoscaling

[2022-08-09 22:53] annajung commented on #35643
/triage accepted
/sig scheduling

[2022-08-10 01:32] ziyi-xie opened #35828 "[ja] content/ja/docs/concepts/workloads/pods/_index.md is outdated"
**This is a Feature Request**

**What would you like to be added**

Updated Japanese translation for the [content/ja/docs/concepts/workloads/pods/_index.md](https://kubernetes.io/ja/docs/concepts/workloads/pods/) file.

**Why is this needed**

There are several updates in [the original English text](https://github.com/kubernetes/website/blob/main/content/en/docs/concepts/workloads/pods/_index.md)

[2022-08-10 02:18] #35774 closed

[2022-08-10 03:55] mk46 commented on #35821
/assign

[2022-08-10 04:35] jhughes2112 opened #35838 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-pod-configmap/"
[code]

The internet is full of people complaining that this feature does not work.  I tried it myself, did not work, but the parser did accept the keywords in my manifest.  Please either explain how this _actually works_ or remove it from the parser and documentation.  It's misleading (although it would be a great feature if it only worked as specified).

[2022-08-10 05:52] NayeonKeum commented on #35802
M9~M13 작업 추가 희망합니다!

[2022-08-10 06:06] jihoon-seo commented on #35812
@rollony 감사합니다!
/triage accepted

[2022-08-10 07:29] rhuss opened #35840 "container-level vs. pod-level isolation in "Resource Management for Pods and Containers""
When describing resource management for ephemeral storage, the following paragraph is not fully clear to me:

What is the concept of "container-level" and "pod-level" isolation? Are these two different modes that can be chosen in the configuration, or are two algorithms applied to decide whether a Pod needs to be evicted ? These modes are neither explained further in this document nor could I find

[2022-08-10 07:51] bandiawy opened #35843 "实现细节"
# words spelling error:
site position:  [为控制平面组件生成静态 Pod 清单](https://kubernetes.io/zh-cn/docs/reference/setup-tools/kubeadm/implementation-details/#generate-static-pod-manifests-for-control-plane-components)
`tier:ontrol-plane`  => `tier=control-plane`

[2022-08-10 08:46] #35686 closed

[2022-08-10 10:25] sftim opened #35851 "Register and document annotation `cluster-autoscaler.kubernetes.io/enable-ds-eviction`"
**This is a Bug Report**

**Problem:**
The cluster autoscaler uses an annotation, `cluster-autoscaler.kubernetes.io/enable-ds-eviction`. However, we don't list that annotation in
[Well-Known Labels, Annotations and Taints](
https://kubernetes.io/docs/reference/labels-annotations-taints/).

**Proposed Solution:**
Update [Well-Known Labels, Annotations and Taints](
https://kubernetes.io/docs/referen

[2022-08-10 10:27] sftim commented on #35840
/language en
It's OK to pick new language to replace the terms “container-level isolation“ and “ pod-level isolation”.

[2022-08-10 10:29] sftim commented on #35780
/priority important-longterm
We do have work-arounds, but it's better if contributors don't have to learn those.

It's OK to lower or raise this priority.

[2022-08-10 10:29] sftim commented on #35780
I think the failures happen when a _Netlify_ build timeout is reached, BTW.

[2022-08-10 11:33] sftim commented on #35783
/triage accepted

[2022-08-10 11:59] caboodle opened #35852 "Interactive Tutorial - Scaling Your App"
Module 5 Step 2: Load Balancing

The service is of type NodePort and therefor can and will not do load balancing
[code]

I followed all steps as described in the terminal.

[2022-08-10 12:01] Shubham82 commented on #35851
I would like to work on this.
/assign
/sig autoscaling

[2022-08-10 14:03] yuzin9712 opened #35855 "[ko] In Windows, content/ko/docs/images svg files are broken"
**This is a Bug Report**

**Problem:**
SVG Files looks broken in Ko docs 1.24.

Link: https://github.com/kubernetes/website/pull/35508#pullrequestreview-1056684180

![image](https://user-images.githubusercontent.com/58067265/183919786-8c52c3b7-1159-4b16-9319-6fd4e6c29f8f.png)

- website/contenet/ko/docs/images/ingress.svg
- website/contenet/ko/docs/images/ingressFanOut.svg
- website/contenet/ko/do

[2022-08-10 18:08] #31688 closed

[2022-08-11 00:52] annajung commented on #35843
/triage accepted
/language zh

[2022-08-11 01:32] #35629 closed

[2022-08-11 01:36] seokho-son commented on #35855
/close

[2022-08-11 01:36] #35855 closed

[2022-08-11 04:37] Kartik494 commented on #31950
@dymax Hi, If you are able to find  yaml  for different resources, Can you close this issue?

[2022-08-11 04:38] Kartik494 commented on #32153
/remove-lifecycle rotten

[2022-08-11 04:39] Kartik494 commented on #29861
/remove-lifecycle rotten

[2022-08-11 05:12] #32246 closed

[2022-08-11 05:12] #32249 closed

[2022-08-11 05:23] dilyanpalauzov opened #35862 "Service example does not follow Configuration Best Practices"
The “Configuration Best Practices” at https://kubernetes.io/docs/concepts/configuration/overview/#services suggest creating a Service object before creating a Deployment/ReplicaSet/Pod.

One example at https://kubernetes.io/docs/concepts/services-networking/service/#defining-a-service utilizes ports in Services by name, where the name is defined in the pod’s definition.  In that example the defini

[2022-08-11 05:36] jihoon-seo commented on #35786
@seokho-son
#35780 과 관련하여,

`main` branch에는 #35773 에 의해 `config.toml` 의 `timeout` = `"180s"` 로 변경되었는데
https://github.com/kubernetes/website/blob/main/config.toml#L18
https://github.com/kubernetes/website/blob/ff9135b4f29e99e89bebd00026946578aed181d0/config.toml#L18

`dev-1.24-ko.3` branch에는 `3000` 으로 되어 있어서
https://github.com/kubernetes/website/blob/dev-1.24-ko.3/config.toml#L18
https://github.com

[2022-08-11 06:58] Kid-Chang opened #35863 "[ko] Translate /docs/tasks/administer-cluster/limit-storage-consumption into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate `/docs/tasks/administer-cluster/limit-storage-consumption` into Korean
- page : https://kubernetes.io/docs/tasks/administer-cluster/limit-storage-consumption/

**Why is this needed**
Not translated yet

**Comments**

/language ko
/assign

[2022-08-11 07:30] #31950 closed

[2022-08-11 07:41] sarazqy opened #35866 "misssing Chinese translation docs: content/en/blog/_posts/2021-12-17-security-profiles-operator-v0.4.0/index.md"
This is a Feature Report

Problem:
misssing Chinese translation docs:

 content/en/blog/_posts/2021-12-17-security-profiles-operator-v0.4.0/index.md

URL： https://kubernetes.io/blog/2021/12/17/security-profiles-operator/

Proposed Solution:
add Chinese translation docs in website Kubernetes Blog

Comments
/language zh
/assign

[2022-08-11 07:57] jihoon-seo commented on #35863
@Kid-Chang 님~~
찾아 보니, 이미 #35200 이슈가 있습니다.
참고 부탁드립니다 😅
/triage duplicate

[2022-08-11 08:56] tzaspel-finatix opened #35868 "PGP key verification failure on Fedora when downloading `kubectl`"
**This is a Bug Report**

**Problem:**
I'm using Fedora 36 and installed the kubectl repository like described on this page: [Install using native package management](https://kubernetes.io/docs/tasks/tools/install-kubectl-linux/#install-using-native-package-management)
Now Gnome Software doesn't work anymore when I want to update my installed software packages.
It has some issues with the public k

[2022-08-11 09:01] zhangxyjlu commented on #35866
URL is : https://kubernetes.io/blog/2021/12/22/kubernetes-in-kubernetes-and-pxe-bootable-server-farm/

[2022-08-11 09:38] liuzhilin12 opened #35870 "Fix content/zh-cn/docs/reference/kubernetes-api/cluster-resources/lease-v1.md"
Hi,I am interested to translate the "cluster-resources/lease-v1.md" page.

There is a description that has not been translated.

I will modify this file.

/language zh

[2022-08-11 09:39] liuzhilin12 commented on #35870
/assign

[2022-08-11 10:44] #35870 closed

[2022-08-11 10:59] NayeonKeum commented on #35802
M53~62 작업 추가 희망합니다!

[2022-08-11 13:02] hs0210 commented on #35843
@bandiawy Hi, this issue has been fixed by [822b328](https://github.com/kubernetes/website/pull/35864/commits/822b3285a505454f69da02b503e84d1ea1be77f9#diff-7db071a90b4a927070f5a9dad6fadcd4711f5739a3bf325b028049c8835710d3R490), it can be closed.

[2022-08-11 13:46] yugesh-github opened #35877 "Configure Pods and Containers"
ubuntu@ip-172-31-29-230:~$ kubectl get pods
NAME         READY   STATUS    RESTARTS   AGE
mynignxpod   1/1     Running   0          4h41m

ubuntu@ip-172-31-29-230:~$ kubectl delete pods mynginxpod
Error from server (NotFound): pods "mynginxpod" not found
ubuntu@ip-172-31-29-230:~$

How to delete my pod? What is the issue here? somebody please provide solution.

[2022-08-11 14:55] onestone9900 commented on #35802
M50-M52 작업 진행 해보겠습니다~!

[2022-08-11 15:47] sftim commented on #34224
Duplicated by https://github.com/kubernetes/website/issues/35868 (I think)

[2022-08-11 15:47] sftim commented on #35868
Thanks. I think this is a duplicate issue report.
/triage duplicate

[2022-08-11 15:48] sftim commented on #34224
Rather than set `gpgcheck=0`, let's just not specify a value for `gpgcheck`.

[2022-08-11 15:49] sftim commented on #35868
Actually, it's not a duplicate. The other issue was related to `repo_gpgcheck`.
/remove-triage duplicate

[2022-08-11 15:51] sftim commented on #35868
I wonder if we should treat this as a _Kubernetes_ bug. I'm very wary of advising readers to turn off signature verification.

[2022-08-11 15:52] sftim commented on #35868
@tzaspel-finatix does `dnf` still work OK (is it just the GUI app for managing software that is affected)?

[2022-08-11 15:53] sftim commented on #35868
/retitle PGP key verification failure on Fedora when downloading `kubectl`

[2022-08-11 15:54] sftim commented on #35877
/kind support

This looks more like a request for help than a bug report about a page on the Kubernetes website.

[2022-08-11 15:56] sftim commented on #35862
It's OK to create these in either order. On the page https://kubernetes.io/docs/concepts/services-networking/service/ let's make it clear that Kubernetes does the right thing, regardless of whichever order you create the Service and its backing Pods.

/language en
/priority backlog
/triage accepted

[2022-08-11 16:17] dilyanpalauzov commented on #35862
For me it is not clear how the description shall be updated.  There is a discrepancy between the example and the “Best Configuration Practices” at https://kubernetes.io/docs/concepts/configuration/overview/#services.

[2022-08-11 16:56] jimangel commented on #35299
Sorry I missed your ping @a-mccarthy! I was chatting with @chalin, @jeefy, and @onlydole on the CNCF slack and provided Google Analytic access to a CNCF email account for completing the work. Leaving this comment for record keeping 😄

[2022-08-11 17:33] seokho-son commented on #35802
/assign @onestone9900
😍

[2022-08-11 19:19] #31625 closed

[2022-08-11 21:30] Garima-Negi commented on #35783
I can work on this issue

[2022-08-12 01:53] zhangxyjlu opened #35883 "[zh-cn]Translate Chinese version for blog/2022/08/11/enhancing-kubernetes-one-kep-at-a-time"
This is a Feature Request

This page blog/2022/08/11/enhancing-kubernetes-one-kep-at-a-time.md has no Chinese version

What would you like to be added

Translate Chinese version for  blog/2022/08/11/enhancing-kubernetes-one-kep-at-a-time

Comments
/language zh
/assign

[2022-08-12 01:55] jihoon-seo commented on #35780
I found a PR in which the error persists.
- #35882
- https://app.netlify.com/sites/kubernetes-io-main-staging/deploys/62f579dd3def490008991bd0

The `timeout` is `"180s"` in the feature branch of that PR.
https://github.com/jpbetz/website/blob/fix-etcd-repair-steps/config.toml#L18
https://github.com/jpbetz/website/blob/8d9e9a675bd524db812ba7f4cba27d41f0f8b4f8/config.toml#L18

[2022-08-12 02:10] tengqm commented on #35780
Alright, let's bump the timeout value again?

[2022-08-12 02:24] mengjiao-liu commented on #35883
/triage accepted

[2022-08-12 02:26] mengjiao-liu commented on #35843
/close

[2022-08-12 02:27] #35843 closed

[2022-08-12 02:29] windsonsea opened #35885 "[zh-cn] Localize blog: 2022-08-11-enhancing-kubernetes-one-kep-at-a-time/"
**This is a Feature Request**

Will add zh-cn text for:
https://kubernetes.io/blog/2022/08/11/enhancing-kubernetes-one-kep-at-a-time/

[2022-08-12 02:30] windsonsea commented on #35885
/language zh
/assign

[2022-08-12 02:30] windsonsea commented on #35885
/language zh
/assign

[2022-08-12 02:34] mengjiao-liu commented on #35866
/triage accepted

[2022-08-12 04:18] seokho-son commented on #35780
@sftim
I think so too. _Netlify_ service seems to limit time for runtime (build ..) Maybe  `the default runtime is 15 minutes`.

@tengqm @jihoon-seo
(I guess) The problem is the build time of our website become very slow or pended occasionally. Eventually reaches to a runtime timeout of Netlify.
I am not sure we can experience this situation in local build (not Netlify).

We need to check why the

[2022-08-12 05:05] robozb opened #35891 "Issue with k8s.io/docs/tasks/access-application-cluster/web-ui-dashboard/"
In advance thank you so much for any help!

I can only see this json data instead of the UI:
--------------------------------------------------
(lynx http://localhost:8001/api/v1/namespaces/kubernetes-dashboard/services/https:kubernetes-dashboard:/proxy/)

{
  "kind": "Status",
  "apiVersion": "v1",
  "metadata": {},
  "status": "Failure",
  "message": "error trying to reach service: dial tcp 10.3

[2022-08-12 05:16] Cris123m opened #35892 "Issue with k8s.io/es/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
katacoda.com is now closed to the public and content is no longer available. The full details are available on O'Reilly [here](https://www.oreilly.com/online-learning/leveraging-katacoda-technology.html).

[2022-08-12 05:28] robozb commented on #35891
OK finally i can access to the dasboard:
In guest vm, Kuberenetes:
kubectl port-forward svc/kubernetes-dashboard --address 0.0.0.0 -n kubernetes-dashboard  8443:443
On the host:
https://[my guest ip]:8443/

Token access: from here: https://stackoverflow.com/a/46720109

root@kubernetes-master-ubuntu:~# kubectl -n kube-system get secret
...
deployment-controller-token-rvc5r                kubernetes

[2022-08-12 05:28] #35891 closed

[2022-08-12 06:06] rghdrizzle commented on #35892
There is an alternative , https://killercoda.com/ which has a k8s playground . I believe that playground can be used instead of Katakoda since its services has been terminated .

[2022-08-12 08:09] sftim opened #35896 "Document setting up cloud provider kubectl auth via plugin (AKS, GKE)"
**This is a Feature Request**

**What would you like to be added**
(As I understand it), Kubernetes ~v1.25~ v1.26 ships an updated `kubectl`. The updated `kubectl` won't include built-in plugins for authenticating to AKS or GKE.
This is likely to surprise folks.

Update 3 pages:
- https://kubernetes.io/docs/tasks/tools/install-kubectl-linux
- https://kubernetes.io/docs/tasks/tools/install-kubectl-

[2022-08-12 08:10] sftim commented on #35862
When I triaged this as accepted, that was based on an assumption that my proposed fix would be the approach we take.
/remove-triage accepted

I want to make it a bit more obvious that there's possibly a difference of opinion here. I don't agree with the change that you propose @dilyanpalauzov: I worry that it might make people believe that the order matters more than it actually does.

Folks are w

[2022-08-12 08:10] sftim commented on #35838
Each heading in that page (https://k8s.io/docs/tasks/configure-pod-container/configure-pod-configmap/) has a hyperlink icon that shows if you hover a pointer over that heading.

What's the URL of the section of the page that you don't think is right @jhughes2112 ?

If you ran a command and got an error message, please also mention:
- the command that you ran
- the error message

If commands worked

[2022-08-12 08:14] sftim commented on #35892
https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/ works OK. The bug with https://kubernetes.io/es/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/ is not related to the closure of the public Katacoda service.

/kind bug

[2022-08-12 08:31] Shubham82 commented on #35851
Fixed it here: #35897

[2022-08-12 10:19] rolfedh commented on #35783
/assign rolfedh

[2022-08-12 10:54] s-kawamura-w664 opened #35905 "[ja] content/ja/docs/concepts/containers/container-lifecycle-hooks.md is outdated."
**This is a Feature Request**

**What would you like to be added**
We need to update content/ja/docs/concepts/containers/container-lifecycle-hooks.md according to the English text, because it is outdated.

**Why is this needed**
content/ja/docs/concepts/containers/container-lifecycle-hooks.md is outdated.

**Comments**
/language ja
/assign

[2022-08-12 13:53] shurup commented on #35382
I'll second Tim. [Google developer documentation style guide](https://developers.google.com/style/link-text) (it's just one of such examples) states:

[2022-08-12 14:20] #35885 closed

[2022-08-12 14:42] sftim commented on #32889
/triage accepted
/remove-lifecycle rotten
/reopen

[2022-08-12 14:42] sftim commented on #32889
I actually think this might still need fixing. @synox is this definitely fixed?

[2022-08-12 14:50] craigbox commented on #33278
/remove-lifecycle stale

[2022-08-12 15:38] jhughes2112 commented on #35838
Specifically the section I reference is this https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/#configure-all-key-value-pairs-in-a-configmap-as-container-environment-variables

I basically did what the example says to do, referred to a ConfigMap that has `data:` section full of key: value pairs that I wanted to be environment variables.  None of them showed up with d

[2022-08-12 17:37] #35188 closed

[2022-08-12 18:31] bishal7679 commented on #35840
/triage-accepted

[2022-08-12 18:32] bishal7679 commented on #35840
/triage accepted

[2022-08-12 20:22] jihoon-seo commented on #31551
The PR #34346 has resolved this issue for v1.21 docs.
/close

[2022-08-12 20:23] #31551 closed

[2022-08-12 20:29] #31929 closed

[2022-08-12 22:29] #32280 closed

[2022-08-12 23:53] tengqm commented on #35780
Yup. Just notice another case: https://app.netlify.com/sites/kubernetes-io-main-staging/deploys/62f6dc1623987b0008f92501

The build took more than 35 minutes. There must be something wrong in GoHugo:

[code]

[2022-08-13 00:35] marks199 opened #35916 "Install and Set Up kubectl on Windows"

[2022-08-13 02:28] annajung commented on #35916
/label triage/needs-information

the description is empty, could you add what it is that you're filing an issue for?

[2022-08-13 02:28] annajung commented on #35916
/triage needs-information

[2022-08-13 02:39] annajung commented on #35896
/triage accepted
/priority important-soon

[2022-08-13 03:16] mehabhalodiya commented on #35851
/triage accepted

[2022-08-13 03:29] annajung commented on #35838
Hi, could you please provide more details about the commands you're running?

I ran the following commands (from the page you shared), and was able to successfully test that env is set using the `configMapRef` field.

[code]

[code]

/triage needs-information

[2022-08-13 03:29] mehabhalodiya commented on #35577
/triage accepted

[2022-08-13 03:30] mehabhalodiya commented on #35602
/triage accepted
/sig docs

[2022-08-13 03:40] mehabhalodiya commented on #35641
/triage accepted

[2022-08-13 04:19] mehabhalodiya commented on #35101
/triage accepted

[2022-08-13 04:29] mehabhalodiya commented on #35101
@dhanraj-druva I see that you haven't worked on this for long, so I stepped up and did this. Thank you for your interest 🙂
/unsassign @dhanraj-druva
/assign

[2022-08-13 04:31] mehabhalodiya commented on #35101
/unassign @dhanraj-druva

[2022-08-13 04:35] mehabhalodiya commented on #30911
Closing this issue per https://github.com/kubernetes/website/issues/30911#issuecomment-1186490811
/close

[2022-08-13 04:35] #30911 closed

[2022-08-13 04:43] mehabhalodiya commented on #35814
/assign @hs0210

[2022-08-13 05:24] NayeonKeum opened #35919 "[ko] Translate /docs/setup/best-practices/enforcing-pod-security-standards/ into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate /docs/setup/best-practices/enforcing-pod-security-standards/ into Korean

[Link](https://kubernetes.io/docs/setup/best-practices/enforcing-pod-security-standards/)

**Why is this needed**

Not translated yet

**Comments**

Double checked there's no same issue.

/language ko

[2022-08-13 05:26] NayeonKeum commented on #35919
 /assign

[2022-08-13 07:48] afbjorklund opened #35920 "Misleading documentation for upgrading existing kubeadm"
**This is a Bug Report**

**Problem:**

There are [detailed instructions](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#instructions), on how to upgrade the `kubeadm` package for a particular package manager:

But this package is marked as "hold", so it won't upgrade... User might also a different package manager (or none)

**Proposed Solution:**

Re

[2022-08-13 08:02] afbjorklund opened #35921 "The versions for cni-plugins and cri-tools vary between the kubeadm installations"
**This is a Feature Request**

**What would you like to be added**

The package list for "Without a package manager", is lagging the behind the other two package managers.

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl

**Why is this needed**

They should be kept in sync, so that users are not installing a different ve

[2022-08-13 09:30] #32242 closed

[2022-08-13 10:55] rollony opened #35927 "[ko] Translate /docs/concepts/security/multi-tenancy into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate "/docs/concepts/security/multi-tenancy" into Korean.

**Why is this needed**

Not translated into Korean yet.

**Comments**

original entry: https://kubernetes.io/docs/concepts/security/multi-tenancy/

/language ko
/assign

[2022-08-13 13:19] NitishKumar06 commented on #30965
Is this issue still needed to be worked upon?

[2022-08-13 13:35] mehabhalodiya commented on #30965
Yes @NitishKumar06, you can pick it up if you want to work on 🙂

[2022-08-13 13:44] NitishKumar06 commented on #30965
/assign

[2022-08-13 14:56] rolfedh commented on #35783
/assign @xzyangNB

[2022-08-13 15:03] rolfedh commented on #35783
@sftim, I closed https://github.com/kubernetes/website/pull/35784 in favor of https://github.com/kubernetes/website/pull/35898
@xzyangNB, please assign this issue to yourself.

[2022-08-13 15:22] rolfedh opened #35929 "[hi] Translate "version skew policy""
Some minor instances of English words showing up in Hindi translation https://github.com/kubernetes/website/pull/29679#issuecomment-1210551182

[2022-08-13 15:23] rolfedh commented on #35929
/assign rolfedh
/label language/hi

[2022-08-13 15:23] rolfedh commented on #35929
/language/hi

[2022-08-13 15:24] rolfedh commented on #35929
/language hi

[2022-08-13 15:30] #32212 closed

[2022-08-13 15:32] towfeeqfayaz11 opened #35931 "Docs: missing step "source ~/.bashrc" to enable autocompletion in current session"
/kind documentation
/sig docs

Bash Auto Completion has a missing step to enable autocompletion in current shell session
[reference link](https://kubernetes.io/docs/tasks/tools/included/optional-kubectl-configs-bash-linux/#bash)

### **As Is:**
If you have an alias for kubectl, you can extend shell completion to work with that alias:

[code]
Note: bash-completion sources all completion scripts in

[2022-08-13 15:55] rolfedh opened #35932 "Localize English artifacts from `{{< release-data >}}` shortcode in localized docs"
When the following shortcode appears in a localized document...

https://github.com/kubernetes/website/blob/6637a171c87cf28f6911b67f4d99551a605d0df4/content/ko/releases/_index.md?plain=1#L21

...the localized document displays English words such as:

"Complete 1.24 [Schedule](https://deploy-preview-29679--kubernetes-io-main-staging.netlify.app/releases/patch-releases/#1-24) and [Changelog](https:/

[2022-08-13 17:18] rolfedh commented on #35932
For instance, see https://github.com/kubernetes/website/pull/29679#issuecomment-1210551182.

[2022-08-13 17:29] bishal7679 commented on #35929
triage/accepted

[2022-08-13 17:29] bishal7679 commented on #35929
/triage accepted

[2022-08-13 17:38] rolfedh commented on #35932
I have asked this question in the Hugo forum, here: https://discourse.gohugo.io/t/can-i-translate-english-words-from-a-shortcode-so-they-match-the-localized-kubernetes-website-docs/39984

[2022-08-13 17:39] bishal7679 commented on #35921
triage/accepted

[2022-08-13 17:40] bishal7679 commented on #35921
/triage accepted

[2022-08-13 17:40] bishal7679 commented on #35921
/triage accepted

[2022-08-13 20:03] rolfedh opened #35934 "[hi] Localize /en/docs/reference/glossary/addons.md"
Prerequisites:
- If this is your first contribution, visit [Contribute to K8s docs](https://kubernetes.io/docs/contribute/) for information on how to get started.
- Review a few [examples of localized glossary entries](https://github.com/kubernetes/website/issues/35600#issuecomment-1214215859) to see which content you change and which you live unchanged.

Procedure:
1. Check out `dev-1.22-hi.1` an

[2022-08-13 20:10] rolfedh commented on #35600
Examples of localized glossary entries:
- https://github.com/kubernetes/website/pull/35719
- https://github.com/kubernetes/website/pull/35844
- https://github.com/kubernetes/website/pull/35867

[2022-08-13 20:20] rolfedh opened #35935 "[hi] Localize /en/docs/reference/glossary/admission-controller.md"
# Prerequisites:
- If this is your first contribution, visit [Contribute to K8s docs](https://kubernetes.io/docs/contribute/) for information on how to get started.
- Review a few [examples of localized glossary entries](https://github.com/kubernetes/website/issues/35600#issuecomment-1214215859) to see which content you change and which you live unchanged.

# Procedure:
1. Check out `dev-1.22-hi.1

[2022-08-13 20:22] rolfedh opened #35936 "[hi] Localize /en/docs/reference/glossary/affinity.md"
# Prerequisites:
- If this is your first contribution, visit [Contribute to K8s docs](https://kubernetes.io/docs/contribute/) for information on how to get started.
- Review a few [examples of localized glossary entries](https://github.com/kubernetes/website/issues/35600#issuecomment-1214215859) to see which content you change and which you live unchanged.

# Procedure:
1. Check out `dev-1.22-hi.1

[2022-08-13 20:23] rolfedh opened #35937 "[hi] Localize /en/docs/reference/glossary/aggregation-layer.md"
# Prerequisites:
- If this is your first contribution, visit [Contribute to K8s docs](https://kubernetes.io/docs/contribute/) for information on how to get started.
- Review a few [examples of localized glossary entries](https://github.com/kubernetes/website/issues/35600#issuecomment-1214215859) to see which content you change and which you live unchanged.

# Procedure:
1. Check out `dev-1.22-hi.1

[2022-08-13 20:24] rolfedh opened #35938 "[hi] Localize /en/docs/reference/glossary/api-eviction.md"
# Prerequisites:
- If this is your first contribution, visit [Contribute to K8s docs](https://kubernetes.io/docs/contribute/) for information on how to get started.
- Review a few [examples of localized glossary entries](https://github.com/kubernetes/website/issues/35600#issuecomment-1214215859) to see which content you change and which you live unchanged.

# Procedure:
1. Check out `dev-1.22-hi.1

[2022-08-13 20:25] rolfedh opened #35939 "[hi] Localize /en/docs/reference/glossary/api-group.md"
# Prerequisites:
- If this is your first contribution, visit [Contribute to K8s docs](https://kubernetes.io/docs/contribute/) for information on how to get started.
- Review a few [examples of localized glossary entries](https://github.com/kubernetes/website/issues/35600#issuecomment-1214215859) to see which content you change and which you live unchanged.

# Procedure:
1. Check out `dev-1.22-hi.1

[2022-08-13 20:31] rolfedh commented on #35600
- Here is the first set of proposed issues for this glossary localization guide.
- I'd like to get your suggestions on any improvements that might help new contributors with these issues.
- This set of issues is oriented toward contributors who are familiar with Git and GitHub operations.

- #35935
- #35936
- #35937
- #35938
- #35939

[2022-08-13 20:33] rolfedh commented on #35934
/language hi

[2022-08-13 20:34] rolfedh commented on #35934
/good first issue

[2022-08-13 20:35] rolfedh commented on #35934
/label good first issue

[2022-08-13 20:35] rolfedh commented on #35934
/good-first-issue

[2022-08-13 20:37] rolfedh commented on #35935
/language hi
/good-first-issue

[2022-08-13 20:37] rolfedh commented on #35936
/language hi
/good-first-issue

[2022-08-13 20:38] rolfedh commented on #35937
/language hi
/good-first-issue

[2022-08-13 20:38] rolfedh commented on #35938
/language hi
/good-first-issue

[2022-08-13 20:38] rolfedh commented on #35939
/language hi
/good-first-issue

[2022-08-13 23:58] rolfedh opened #35941 "[hi] Localize /en/docs/reference/glossary/app-container.md"
[hi] Localize /en/docs/reference/glossary/app-container.md
# Instructions

- Review a few [examples of localized glossary entries](https://github.com/kubernetes/website/issues/35600#issuecomment-1214215859).
- In the examples, notice which elements are translated and which ones are not.

## Translating the frontmatter

In the frontmatter, that is, between the `---` markers that enclose the first d

[2022-08-14 00:15] rolfedh commented on #35941
/language hi
/good-first-issue

[2022-08-14 00:53] rolfedh commented on #35600
Here's a different set of proposed issues. These already have PRs to make getting started VERY easy for newcomers (Zero setup, no git skills required, no CNCF Contributor License Agreement):
- https://github.com/kubernetes/website/issues/35941

[2022-08-14 01:07] rolfedh opened #35944 "[hi] Localize /en/docs/reference/glossary/application-architect.md"
# Instructions

- Review a few [examples of localized glossary entries](https://github.com/kubernetes/website/issues/35600#issuecomment-1214215859).
- In the examples, notice which elements are translated and which ones are not.

## Translating the frontmatter

In the frontmatter, that is, between the `---` markers that enclose the first dozen lines:
- Translate the `title` and `short_description`

[2022-08-14 05:23] hs0210 commented on #35814
/assign

[2022-08-14 05:49] bmanojpatel opened #35948 "Improvement for k8s.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/"
The entire upgrade plan has a basic flaw.
This document has mixed the steps for Control plan and Node upgrade steps.

1-Before cordon of worker node, idle step should be to upgrade kubelet & Kubectl on Control plane.
2-Post this step we can check version of both the tools to ensure correct version is upgraded on control plane before starting Worker node cordon and upgrade steps.
3-Mention clearly

[2022-08-14 09:54] khannakshat7 commented on #35934
Hey @rolfedh, I would like to work on this issue

[2022-08-14 10:09] khannakshat7 commented on #35935
Hey @rolfedh, I would like to work on this issue

[2022-08-14 10:10] khannakshat7 commented on #35936
Hey @rolfedh, I would like to work on this issue

[2022-08-14 10:10] khannakshat7 commented on #35937
Hey @rolfedh, I would like to work on this issue

[2022-08-14 10:10] khannakshat7 commented on #35938
Hey @rolfedh, I would like to work on this issue

[2022-08-14 10:11] khannakshat7 commented on #35939
Hey @rolfedh, I would like to work on this issue

[2022-08-14 11:44] lisadd opened #35953 "Issue with k8s.io/docs/tasks/configure-pod-container/pull-image-private-registry/"
Can you validate the ImagePullSecrets, in regards to a Pod and if accurate, can you provide an example of ImagePullSecret for a Deployment. The position relative to a container is not aligned and would be helpful to see an example.

[2022-08-14 12:22] towfeeqfayaz11 commented on #35931
/triage accepted

[2022-08-14 12:24] towfeeqfayaz11 commented on #35931
/assign

[2022-08-14 14:34] bishal7679 commented on #35600
@rolfedh I would also like to work with you

[2022-08-14 14:57] chalin commented on #35299
/assign

[2022-08-14 15:05] bishal7679 commented on #35937
/triage accepted

[2022-08-14 15:05] bishal7679 commented on #35937
/assign

[2022-08-14 15:07] chalin commented on #35299
Progress update: GA4 site tag has been created from the main UA property (`UA-36037335-10`). User access is the same for both. The new GA4 site tag is receiving events and original UA site tag continues to process events.

GA4 screenshot:

UA4 screenshot:

[2022-08-14 15:13] bishal7679 commented on #35938
/triage accepted

[2022-08-14 15:13] bishal7679 commented on #35938
/assign

[2022-08-14 16:59] rolfedh commented on #35932
/assign @Sea-n

[2022-08-14 17:08] sftim commented on #35932
This is not a Hugo bug. https://github.com/kubernetes/website/blob/fac477b9e4d3e1569c53bc13f13b09b1e6602740/layouts/shortcodes/release-data.html#L36-L40 is the file to localize.

[2022-08-14 17:09] bishal7679 commented on #35935
/triage accepted

[2022-08-14 17:09] bishal7679 commented on #35935
/assign

[2022-08-14 17:20] sftim commented on #35780
This could be:
- a Hugo bug
- a (serious) “noisy neighbor” issue at Netlify

Would anyone like to try instrumenting Hugo or setting up to build with more debug info in Netlify?

[2022-08-14 17:28] sftim commented on #35929
/priority backlog

[2022-08-14 17:29] rolfedh commented on #35932
#35950 partially fixes this issue. Each localization branch would need to merge PR #35950 and add corresponding entries to their `data/i18n/<lang>/<lang>.toml` files, such as:
- `data/i18n/ko/en.toml`
- `data/i18n/pl/pl.toml`
- `data/i18n/zh-cn/zh-cn.toml`

[2022-08-14 17:42] sftim commented on #32960
/language en
/remove-lifecycle rotten

[2022-08-14 17:43] sftim commented on #32960
I think we should document that validating webhooks may be called in any order and potentially even in parallel.

/sig api-machinery

[2022-08-14 17:43] khannakshat7 commented on #35936
/assign

[2022-08-14 17:44] khannakshat7 commented on #35934
/assign

[2022-08-14 17:45] khannakshat7 commented on #35939
/assign

[2022-08-14 17:50] sftim commented on #32825
This might work better as a feature request against [Docsy](https://www.docsy.dev/)

/remove-lifecycle rotten

[2022-08-14 17:51] sftim commented on #32825
/priority awaiting-more-evidence

@guettli if you're sure you don't want this as an upstream feature, feel free to comment. If this does fit better as a feature for Docsy, please file an issue there, reference this one, and then close this.

We should otherwise let this issue rot out.

[2022-08-14 17:57] bishal7679 commented on #35941
/triage accepted

[2022-08-14 17:58] bishal7679 commented on #35939
/triage accepted

[2022-08-14 17:59] bishal7679 commented on #35934
/triage accepted

[2022-08-14 18:00] bishal7679 commented on #35944
/triage accepted

[2022-08-14 18:47] bishal7679 opened #35959 "[hi] Localize /en/docs/reference/glossary/cluster-operator.md"
[hi] Localize /en/docs/reference/glossary/cluster-operator.md

## Instructions
- Review a few [example of localized glossary entries](https://github.com/kubernetes/website/issues/35600#issuecomment-1214215859).
- In the examples, notice which elements are localized and which ones are not.
## Localizing the frontmatter
In the frontmatter, that is, between the --- markers that enclose the first doze

[2022-08-14 18:48] bishal7679 commented on #35959
/help wanted
/good first issue

[2022-08-14 18:48] bishal7679 commented on #35959
/help-wanted
/good-first-issue

[2022-08-14 18:49] bishal7679 commented on #35959
/triage accepted

[2022-08-14 18:49] bishal7679 commented on #35959
/assign

[2022-08-14 19:00] bishal7679 commented on #35959
/language-hi

[2022-08-14 19:01] bishal7679 commented on #35959
/language/hi

[2022-08-14 19:02] bishal7679 commented on #35959
/language hi

[2022-08-14 19:07] towfeeqfayaz11 commented on #35931
/assign

[2022-08-14 20:01] sftim commented on #34761
Yes, I do mean that.

[2022-08-15 03:57] shurup commented on #32796
/close

[2022-08-15 03:57] #32796 closed

[2022-08-15 04:07] RA489 commented on #35868
/triage accepted

[2022-08-15 04:11] RA489 commented on #35877
@yugesh-github If it is just a pod you can use` kubectl delete pod podname` . If this pod create from deployment you need to delete the deployment to remove all its related pods `kubectl delete deployment deploymentname`

[2022-08-15 04:12] RA489 commented on #35877
/close
feel free to reopen if still your issue is not solved.

[2022-08-15 04:12] #35877 closed

[2022-08-15 04:13] RA489 commented on #35892
/triage accepted

[2022-08-15 04:14] RA489 commented on #35916
/close
@marks199 feel free to reopen once you have more info.

[2022-08-15 04:14] #35916 closed

[2022-08-15 04:14] RA489 commented on #35919
/triage accepted

[2022-08-15 04:15] RA489 commented on #35927
/triage accepted

[2022-08-15 04:15] RA489 commented on #35936
/triage accepted

[2022-08-15 04:18] RA489 commented on #35788
/triage duplicate

[2022-08-15 04:19] RA489 commented on #35712
/triage accepted

[2022-08-15 04:55] yuzin9712 opened #35968 "[ko] Translate 'docs/tasks/configure-pod-container/assign-cpu-resource/' into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate 'docs/tasks/configure-pod-container/assign-cpu-resource/' into Korean.

**Why is this needed**
Not translated into Korean yet.

**Comments**

Related Link: https://kubernetes.io/docs/tasks/configure-pod-container/assign-cpu-resource/

/language ko
/assign

[2022-08-15 07:49] #19454 closed

[2022-08-15 08:18] taniaduggal commented on #35663
/triage-accepted

[2022-08-15 08:27] sftim commented on #35868
/sig release

(I think - some more detail would be helpful)

[2022-08-15 09:01] tzaspel-finatix commented on #35868
Sry for the late response. Dnf still works.

I've enabled the gpgcheck again:

`/etc/yum.repos.d/kubernetes.repo`:

[code]
and run  `dnf update --refresh`:

[code]
It looks like you are right that it is a GUI app bug.

[2022-08-15 09:06] taniaduggal commented on #35941
/assign

[2022-08-15 09:12] bishal7679 commented on #35944
/assign

[2022-08-15 10:11] s-kawamura-w664 opened #35973 "[ja] content/ja/docs/concepts/containers/container-environment.md is outdated."
**This is a Feature Request**

**What would you like to be added**
We need to update content/ja/docs/concepts/containers/container-environment.md according to the English text, because it is outdated.

**Why is this needed**
content/ja/docs/concepts/containers/container-environment.md is outdated.

**Comments**
/language ja
/assign

[2022-08-15 11:27] windsonsea opened #35975 "[zh-cn] localize 2022-08-15-meet-our-contributors-APAC-China-region-03.md"
**This is a Feature Request**

Will add the zh-cn text for this blog: https://kubernetes.io/blog/2022/08/15/meet-our-contributors-china-ep-03/

[code]
So open an issue to avoid the possible conflict.

[2022-08-15 11:28] windsonsea commented on #35975
/language zh
/assign

[2022-08-15 12:34] rolfedh commented on #35935
Thank you, [khannakshat7](https://github.com/khannakshat7). I will update the instructions telling volunteers to use `/assign <github_id>` when they want to claim an issue like this one. There will be plenty of new issues like this one coming up soon. I look forward to working with you!

[2022-08-15 12:38] rolfedh commented on #35932
Thanks, yes. I wasn't sure whom to ask, and generally try not to bother you with every question I have.  The Hugo forum pointed us in the right direction, and @Sea-n quickly put together a PR solution.

[2022-08-15 12:40] rolfedh commented on #35938
Hey @bishal7679, thanks for taking this up. If you already have another issue, would you mind letting @khannakshat7 have this one?

[2022-08-15 12:47] bishal7679 commented on #35938
@rolfedh Thanks for pinging me
Actually I am working on it
And I can see @khannakshat7 already got assigned on three issues.I am gonna raise many issue soon.
@khannakshat7 you can take among  them obviously 👍

[2022-08-15 13:27] ydFu commented on #35975
/triage accepted

[2022-08-15 13:35] khannakshat7 commented on #35938
Thank You @rolfedh and @bishal7679, Sure I'll take up others issues.

[2022-08-15 13:46] khannakshat7 commented on #35935
Absolutely, Looking forward working with you. Thank You @rolfedh for the info and helping me out with this.

[2022-08-15 15:40] cecco16 opened #35982 "Trouble following advice in “Configuring a cgroup driver”"
Kubeadm init fails with the following error installing a cluster with containerd configured as per the guide. Looks like it cannot detect the CRI, it was fixed after removing the configuration file and restarting the service

[code]

[2022-08-15 15:44] Veryfirstmoment opened #35983 "[ko] Translate /docs/contribute/style/page-content-types/ into Korean"
**This is a Feature Request**

**What would you like to be added**
Translate /docs/contribute/style/page-content-types/ into Korean.

**Why is this needed**
This page has not been translated yet.

- Page: https://kubernetes.io/docs/contribute/style/page-content-types/

**Comments**

/language ko

[2022-08-15 15:48] Veryfirstmoment commented on #35983
/assign

[2022-08-15 15:49] #32016 closed

[2022-08-15 16:27] ritazh commented on #31847
@shannonxtreme can you please make this is included in the new doc? https://github.com/kubernetes/website/issues/32688#issuecomment-1086670793

[2022-08-15 16:27] ritazh commented on #32688
@shannonxtreme Please make sure this issue is also addressed in https://github.com/kubernetes/website/issues/31847

[2022-08-15 16:31] ritazh commented on #32655
/triage accepted
/remove-lifecycle rotten

[2022-08-15 16:38] sftim commented on #35982
/retitle Trouble following advice in “Configuring a cgroup driver”

I assume that the page you were reading is https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/configure-cgroup-driver/ @cecco16 - is that right?

How did you decide which cgroup driver was right for your setup @cecco16?

You might find that https://github.com/containerd/containerd/issues/4581#issuecomment-1137887069 is re

[2022-08-15 16:55] lisadd opened #35986 "Configure a Pod to Use a ConfigMap"
The below configuration for adding a ConfigMap, will not work. Please verify the changes suggested below:

[code]

---

UPDATE

[code]

[2022-08-15 20:39] shannonxtreme commented on #31847
Made some updates based on reviewer comments and feedback @ritazh

[2022-08-15 21:39] jpbetz opened #35991 "Move most of the CRD documentation currently under 'tasks' to 'concepts'"
**This is a Feature Request**

While discussing a CRD feature promotion blog post, @sftim [noticed](https://github.com/kubernetes/website/pull/35459/files#r943854829) that we're primarly documenting CRD in the "tasks" section of the documentation, but most of the documentation is about CRD concepts, which are [underdocumented](https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/cus

[2022-08-15 23:40] bconfiden2 commented on #35802
M14 ~ M18 작업하겠습니다!

[2022-08-16 01:19] jihoon-seo commented on #35986
Page: https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/

For information: I noticed unwanted empty lines in example YAML snippets.

[2022-08-16 01:26] jihoon-seo commented on #35983
@Veryfirstmoment 감사합니다!
/triage accepted

[2022-08-16 01:29] jihoon-seo commented on #35968
"Assign Memory Resources to Containers and Pods" 페이지는 한국어 버전이 있는데
제안해 주신 페이지는 아직 한국어 버전이 없네요 ㅎㅎ
감사합니다!
/triage accepted

[2022-08-16 01:35] jihoon-seo commented on #35863
@Kid-Chang 님~~
이 이슈는 close 하겠습니다. 😊
지속적인 관심과 기여에 감사드립니다. 😊
/close

[2022-08-16 01:35] #35863 closed

[2022-08-16 02:00] seokho-son commented on #35802
/cancel help

[2022-08-16 02:01] seokho-son commented on #35802
/remove-help

[2022-08-16 02:01] seokho-son commented on #35802
/assign @bconfiden2

[2022-08-16 02:37] #35931 closed

[2022-08-16 03:21] #35814 closed

[2022-08-16 04:06] RA489 commented on #27312
/remove-lifecycle stale

[2022-08-16 04:07] RA489 commented on #27965
/remove-lifecycle stale

[2022-08-16 04:08] RA489 commented on #29655
/remove-lifecycle stale

[2022-08-16 04:08] RA489 commented on #29210
/remove-lifecycle stale

[2022-08-16 06:29] RA489 commented on #35991
/triage accepted

[2022-08-16 06:31] RA489 commented on #35953
/kind support

[2022-08-16 06:36] RA489 commented on #35852
@caboodle could you please point out the page which has issue mentioned in description?

[2022-08-16 06:43] RA489 commented on #35838
@jhughes2112 could you please provide above details suggested by @annajung  to proceed further?

[2022-08-16 06:45] RA489 commented on #35788
@Rahuls-s it s working fine for me.
![image](https://user-images.githubusercontent.com/40191615/184814773-3987315c-be51-4a38-9deb-c1ad1003f13c.png)

[2022-08-16 06:46] RA489 commented on #35788
/triage rejected

[2022-08-16 06:48] RA489 commented on #35788
/triage not-reproducible

[2022-08-16 06:54] RA489 commented on #35663
/triage accepted

[2022-08-16 06:54] RA489 commented on #35655
/triage accepted

[2022-08-16 06:56] cecco16 commented on #35982
That is correct, I was going through the configuring a cgroup driver. The decision to go for systemd instead of cgroupfs is mostly due to stability reason.

Concerning the toml file that was recreated and changed the Systemdcgroup to true. Will go through the docs and give it another shot.

Sent from [ProtonMail](https://protonmail.com), Swiss-based encrypted email.

Sent with [Proton Mail](https:

[2022-08-16 08:19] sftim commented on #35991
/kind cleanup
/wg api-expression
/language en

[2022-08-16 08:19] rghdrizzle opened #36003 "Unwanted spaces in YAML file"
**This is a Bug Report**

There are some unwanted spaces in the yaml file found in the page "configure a pod to use a configmap"

**Proposed Solution:**
To remove those unwanted spaces

**Page to Update:**
https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/

I would like to work on this.( btw im new to open source)

[2022-08-16 08:20] sftim commented on #35991
Any pages which are principally about letting the reader try something out are fine to stay as tasks. We might want to borrow wording from those pages and make sure it appears in the concepts section.

[2022-08-16 08:20] sftim commented on #35986
/language en

[2022-08-16 08:25] sftim opened #36004 "Incomplete advice about configuring kubectl completion"
**This is a Bug Report**

**Problem:**
When somebody configures shell completion for `kubectl`, the instructions explain how to turn that on for your current session.

However, that advice only works if the reader picked the approach in the “User” tab. If someone picked the “System” tab, the advice does not help them update their current session.

**Proposed Solution:**

- Change that page to advi

[2022-08-16 09:08] jihoon-seo commented on #36003
I guess that this issue is from https://github.com/kubernetes/website/issues/35986#issuecomment-1216038143.

Please note that each empty line contains 2 spaces in that page.

You may also see:
- #34447
- #34736

[2022-08-16 11:45] chalin opened #36011 "Other sites are using the kubernetes.io analytics site ID, try to prevent that?"
@jimangel @a-mccarthy @sftim @jeefy @nate-double-u - idea why these two GH-pages hosted sites are using the main kubernetes.io UA site ID?

- https://jamesdefabia.github.io
- https://pwittrock.github.io

Are these "legit" and expected uses?

As you can see from the data given below, these two sites got thousands of hits in the past 30 days:

Would you like measures taken to make it less likely tha

[2022-08-16 11:45] chalin commented on #35299
Hi all, please comment on:

- #36011

[2022-08-16 11:50] neolit123 commented on #35948
i have seen a couple of complains that the document can be confusing, but that's a minority of users.

things like ssh, workload safety and checking versions are optional and/or implied.

 in any case happy to review contributor PRs.

/sig cluster-lifecycle

[2022-08-16 11:54] neolit123 commented on #35921
not sure if hugo / website shortcodes can be used for that. alternatively we could generate the versions on site 'compile' time.

needs sig docs feedback.

/sig docs cluster-lifecycle

[2022-08-16 11:59] neolit123 commented on #35920
Removing these details from the main page and deferring them to the sub page, might help ?

i think this makes sense.
PRs welcome / can comment more during review.

/sig cluster-lifecycle

[2022-08-16 12:25] robsonpeixoto opened #36013 "Issue with k8s.io/docs/tasks/configure-pod-container/share-process-namespace/"
Is missing what's happened with the POD lifecycle. Which process will receive the SIGTERM?

[2022-08-16 14:57] #32370 closed

[2022-08-16 15:07] bishal7679 commented on #35941
@NitishKumar06 Thanks for giving your valuable time 👍
Actually some misunderstanding happened here. I think @rolfedh raised a demo PR for this term in english which has not localized in hindi yet. Thats why @taniaduggal got assigned.

[2022-08-16 15:07] #35101 closed

[2022-08-16 15:58] #32325 closed

[2022-08-16 15:58] vaibhav2107 commented on #30528
/remove-lifecycle stale

[2022-08-16 16:00] vaibhav2107 commented on #31557
/remove-lifecycle stale

[2022-08-16 16:04] vaibhav2107 commented on #32573
Can be closed, fixes in #33829

[2022-08-16 16:07] vaibhav2107 commented on #30519
/remove-lifecycle stale

[2022-08-16 16:13] vaibhav2107 commented on #32622
/remove-lifecycle rotten
As PR is still open for this

[2022-08-16 17:35] projectaws741 opened #36022 "Issue with k8s.io/docs/tasks/administer-cluster/access-cluster-api/"
Hello
Error from server (Forbidden): <html><head><meta http-equiv='refresh' content='1;url=/login?from=%2Fswagger-2.0.0.pb-v1%3Ftimeout%3D32s'/><script>window.location.replace('/login?from=%2Fswagger-2.0.0.pb-v1%3Ftimeout%3D32s');</script></head><body style='background-color:white; color:white;'>

Authentication required

im getting this error.
i created a gcp(google cloud) kubernetes cluster and

[2022-08-16 17:38] mstergianis opened #36023 "Improve formatting of API reference for ServiceAccount"
The section directly below the title, containing the text "ServiceAccount binds together: * a name, understood by users, and perhaps by peripheral systems, for an identity * a principal that can be authenticated and authorized * a set of secrets" is formatted in such a way that the list is not rendered as a list, but as a bunch of sentences delimited by asterisks (*)

[2022-08-16 18:37] chalin commented on #36011
👍 Ok, I have a solution, but would need access to the Netlify account. Can you help me with that @a-mccarthy? (I'll ping some folks on Slack about it too.)

[2022-08-16 19:11] NitishKumar06 commented on #36023
/assign

[2022-08-16 19:14] mstergianis commented on #36023
Apologies: https://kubernetes.io/docs/reference/kubernetes-api/authentication-resources/service-account-v1/

Additionally here's the link to the highlight: https://kubernetes.io/docs/reference/kubernetes-api/authentication-resources/service-account-v1/#:~:text=ServiceAccount%20binds%20together%3A%20*%20a%20name%2C%20understood%20by%20users%2C%20and%20perhaps%20by%20peripheral%20systems%2C%20for%20

[2022-08-16 20:26] jhughes2112 commented on #35838
I have to build a repro case.  The place where I am finding this feature not working is too complex.  I will update here when I have done so.

[2022-08-16 21:16] MikeSpreitzer commented on #30691
/remove-lifecycle rotten
/reopen

[2022-08-16 23:09] sharkmerry7 commented on #20810
Seems play with k8s is still down :(. clicking add new instance spins and says creating. but nothing creates

[2022-08-16 23:18] rolfedh commented on #35941
@NitishKumar06 @taniaduggal @bishal7679 I created two issues like this one, each linked to PRs that contain an unlocalized file. I intended to provide a way for absolute newcomers to contribute without signing a CLA, setting up a fork/local clone of the repo, learning git, etc. I welcome anyone self-assigning these issues to take on the localization task. Please provide feedback to help me improve

[2022-08-17 02:28] jimangel commented on #36011
Hopefully additional context: https://github.com/kubernetes/website/pull/22998#issuecomment-673124327

@chalin we can provide Netlify access, but would you mind sharing the exact solution / "how we got here" for awareness?

[2022-08-17 04:43] s-kawamura-w664 opened #36035 "[ja] content/ja/docs/concepts/containers/overview.md is not needed."
**This is a Feature Request**

**What would you like to be added**
ja/docs/concepts/containers/overview.md should be removed.

**Why is this needed**
The reasons are following.
- In English site, the contents of overview.md was added to _index.md and overview.md was deleted. The diff is [here](https://github.com/kubernetes/website/pull/21997/files#diff-2058154cd39f434c458c1ad7b3a5ccdd5b065ece99ea5

[2022-08-17 04:43] zhangxianting opened #36036 "translate en/blog/_posts/2016-06-00-Illustrated-Childrens-Guide-To-Kubernetes.md"
**This is Support**

/language zh

[2022-08-17 04:44] zhangxianting commented on #36036
/assign

[2022-08-17 08:36] tomkivlin commented on #30575
This appears to have been completed in https://github.com/kubernetes/website/commit/92b56db68d6dc7d6230f4fa15cd1c0ec6496e59e and could be closed?

[2022-08-17 08:47] tomkivlin commented on #14725
I'd like to work on this. @sftim do you see this as a page in /concepts/security/ with the description of what TLS is and what it's used for in Kubernetes, with some "what's next" content pointing to a new page in /tasks/tls/ with the scenarios you've described etc.?

[2022-08-17 08:47] tomkivlin commented on #14725
/assign

[2022-08-17 09:20] #35740 closed

[2022-08-17 09:37] tomkivlin commented on #28580
/assign

[2022-08-17 09:39] tomkivlin commented on #28580
Note the API reference was updated for v1.22 so I will just update the RBAC doc.

[2022-08-17 09:59] utkarsh-singh1 commented on #35709
You can find solution for this error here - https://istio.io/latest/docs/ops/common-problems/network-issues/#sending-https-to-an-http-port

[2022-08-17 10:15] sftim commented on #14725
I hadn't got that far @tomkivlin. What you suggests sounds good to me.

Have a think about the concept would be “encryption in transit” or specifically “TLS”. If you have the appetite for it, the concept could even be “How Kubernetes Uses Encryption”.

Maybe there will be more than one task page. Also some existing task pages cover TLS in one way or another.

[2022-08-17 10:30] sftim commented on #36036
/remove-kind support

[2022-08-17 10:31] sftim commented on #35982
/kind support

I think

[2022-08-17 10:47] tomkivlin commented on #14725
@sftim I like that idea.  What I'll do then is a new page e.g. `/concepts/security/kubernetes-encryption.md` which can cover encryption at rest (etcd, secrets, volumes, etc.), in transit (Pods, Services, Ingress, etc.) and link off to other existing pages.  I'll create any task pages as needed.

[2022-08-17 10:49] sftim commented on #14725
Encryption is also used for authn in various ways. I don't think we use if for nonrepudiation.

[2022-08-17 10:50] cecco16 commented on #35982
Hi Tim,

it was my bad, essentially what fixed the issue was to recreate the containerd configuration file once logged in as root, running it with sudo I messed up the output redirection.

Sent from [ProtonMail](https://protonmail.com), Swiss-based encrypted email.

Sent with [Proton Mail](https://proton.me/) secure email.

------- Original Message -------
On Wednesday, August 17th, 2022 at 11:31

[2022-08-17 10:55] sftim commented on #36011
It sounds useful to make it a bit more difficult, but I'd only give this backlog priority.

[2022-08-17 10:56] sftim commented on #36011
/triage accepted

[2022-08-17 10:57] sftim commented on #36011
If there's a simple thing and a more secure thing, let's do the simple thing. We're not aiming to protect against deliberate misuse (also, such misuse easily shows up in the stats, and is easy to filter out).

[2022-08-17 11:26] RA489 commented on #31081
/remove-lifecycle stale

[2022-08-17 11:30] chalin commented on #36011
I agree. That has been what I was thinking as well.

Thanks for the additional context @jimangel.

The solution consists of the combo of #36010 and setting the real GA ID via `HUGO_SERVICES_GOOGLEANALYTICS_ID` as a Netlify environment variable.

This solution also prevents local deploys from emitting data to GA, unbeknownst to the developer.

[2022-08-17 12:03] sftim commented on #35982
Nothing to fix in k8s docs.
/close

[2022-08-17 12:04] #35982 closed

[2022-08-17 12:13] ivegamerayo opened #36046 "Tutorial interactivo - Crear un clúster"
katacoda.com is now closed to the public and content is no longer available.

[2022-08-17 12:21] eavonius commented on #7100
This is still a problem here:

https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#add-image-pull-secret-to-service-account

[2022-08-17 12:39] harridu opened #36048 "Issue with the redirection of "Learning environment" page"
The link "Learning environment" on the left panel appears to be broken. You end up somewhere in an advanced section.

[2022-08-17 14:23] jimangel commented on #36011
Awesome! Thanks for the details @chalin! We might be able to set that build variable in our netlify config without having to grant access (ex: https://github.com/kubernetes/website/blob/main/netlify.toml#L14).

Let us know if you think that would suffice!

[2022-08-17 14:32] chalin commented on #36011
@jimangel - I think that it would be better to set the ID via the Netlify account, and here's why: the scenario we'd like to avoid is for a developer / group to _inadvertently_ use the Kubernetes GA ID. If we add the ID to the `netlify.toml` file, then a user who simply clones this repo and publishes via Netlify will have their site send GA events to the Kubernetes GA site tag. We won't have that

[2022-08-17 14:39] chalin commented on #36011
@jimangel et all: In case it can expedite things, I don't _need_ access to the Netlify account. If someone who already has access is willing to add the require environment variable (immediately after #36010 is merged), then that is all we need.

[2022-08-17 17:28] vaibhav2107 commented on #36048
@harridu, I think that the link is not broken but it is actually redirected to that page according to this PR #24533

[2022-08-17 19:19] Margrie opened #36052 "[de] L10n of the word 'abstraction' to German"
Ich würde das Wort "Abstraktionen" durch das Wort "Entwicklungen" austauschen. Das ist im deutschen umgangssprachlicher als Abstraktionen.

[2022-08-17 21:40] #35154 closed

[2022-08-17 21:46] shannonxtreme commented on #35896
For each of the three pages, add the following under the **Verify kubectl configuration** heading, at the end of the section:

[code]

/help-wanted

[2022-08-17 21:50] shannonxtreme commented on #35896
/label help-wanted

[2022-08-17 21:54] #34317 closed

[2022-08-17 21:59] jihoon-seo commented on #36052
@Margrie what is the URL of page that you think needs modifications? Please provide this information in the issue body.
(My guess is: https://kubernetes.io/de/docs/concepts/ )

And please try to write the issue title and body in English!

/language de
/retitle [de] L10n of the word 'abstraction' to German

[2022-08-17 22:03] jihoon-seo commented on #36048
Yeah, as @vaibhav2107 said, I can see that the link "[Learning environment](https://kubernetes.io/docs/setup/learning-environment/)" redirects to https://kubernetes.io/docs/tasks/tools/ ,
where you can find `kind` and `minikube`, the tools that let you create your own learning environment.

[2022-08-17 22:05] jihoon-seo commented on #36048
/retitle Issue with the redirection of "Learning environment" page

[2022-08-17 22:05] shannonxtreme commented on #34816
In the section [Aggregate ClusterRoles](https://kubernetes.io/docs/reference/access-authn-authz/rbac/#aggregated-clusterroles), after the sentence `The aggregationRule defines a label selector that the controller uses to match other ClusterRole objects that should be combined into the rules field of this one.`, add the following line:

[code]

[2022-08-17 22:05] chalin commented on #36011
FYI, I've implemented the approach being suggested here for OTel:

- https://github.com/open-telemetry/opentelemetry.io/issues/1626
- https://github.com/open-telemetry/opentelemetry.io/pull/1628

[2022-08-17 22:05] shannonxtreme commented on #34816
/help

[2022-08-17 22:16] jihoon-seo commented on #34825
@herodriguez7

Please refer this issue: #32832

I am sorry to say that I don't know.

@herodriguez7 Since the issue is resolved, let me close this issue. 😊
/close

[2022-08-17 22:17] #34825 closed

[2022-08-17 22:20] jihoon-seo commented on #34662
This issue has been resolved by the PR #34429.
/close

[2022-08-17 22:20] #34662 closed

[2022-08-17 22:24] jihoon-seo commented on #34306
Since there seems no concerns left, let me close this issue.
/close

[2022-08-17 22:24] #34306 closed

[2022-08-17 22:31] jihoon-seo commented on #36046
`es` page: https://kubernetes.io/es/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/
![image](https://user-images.githubusercontent.com/46767780/185254898-f4e3cf9b-74a6-44df-98ef-97a4678efeb2.png)

---

`en` page: https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/
![image](https://user-images.githubusercontent.com/46767780/185254948-5cfcd

[2022-08-17 22:40] jihoon-seo commented on #36035
/triage accepted
I can see that the page https://kubernetes.io/ja/docs/concepts/containers/ already contains the contents from https://kubernetes.io/ja/docs/concepts/containers/overview/ .

For information: it seems that the page https://kubernetes.io/ja/docs/concepts/containers/ is slightly outdated, compared to the `en` version ( https://kubernetes.io/docs/concepts/containers/ ).

[2022-08-18 01:51] bconfiden2 opened #36058 "[ko] Translate "/docs/concepts/workloads/pods/downward-api" into Korean"
**This is a Feature Request**

**What would you like to be added**
Translate /docs/concepts/workloads/pods/downward-api into Korean.

**Why is this needed**
This page has not been translated yet.
https://kubernetes.io/docs/concepts/workloads/pods/downward-api/

**Comments**

/language ko
/assign

[2022-08-18 03:00] AbdullahArean commented on #31677
I want to contribute on content/bn/docs/tutorials/kubernetes-basics/create-cluster/_index.md
Please Assign Me @mitul3737

[2022-08-18 03:10] kevinat opened #36060 "Common Parameters: Chinese translation of fieldSelector is wrong"
默认为返回所有字段 should be 默认为返回所有对象

because **fieldSelector** is intend to filter objects, not fields.

Current translation may lead misunderstanding the functions of **fieldSelector**

[2022-08-18 03:42] cobb-tx commented on #35798
@mengjiao-liu  为什么namespace 不是翻译为命名空间 而是名字空间呢

[2022-08-18 03:53] mengjiao-liu commented on #35798
这两个都是可接受的。
https://github.com/kubernetes/website/pull/33179#issuecomment-1108159907
https://kubernetes.io/zh-cn/docs/contribute/localization_zh/

[2022-08-18 04:08] jihoon-seo commented on #36060
Page: https://kubernetes.io/zh-cn/docs/reference/kubernetes-api/common-parameters/common-parameters/
/language zh

[2022-08-18 04:09] jihoon-seo commented on #36058
@bconfiden2 감사합니다!
/triage accepted

[2022-08-18 04:28] mehabhalodiya commented on #36004
/triage accepted

[2022-08-18 04:36] mitul3737 commented on #31677
@AbdullahArean You have been assigned

[2022-08-18 04:47] cocakoala opened #36064 "[zh] Example output does not match the description"
章节位置：https://kubernetes.io/zh-cn/docs/concepts/configuration/manage-resources-containers/#%E6%88%91%E7%9A%84%E5%AE%B9%E5%99%A8%E8%A2%AB%E7%BB%88%E6%AD%A2%E4%BA%86

kubectl describe pod simmemleak-hra99 的结果中关于容器终止原因的部分与正文描述不一致
示例输出：
[code]

正文描述：
......
原因 OOMKilled 显示容器尝试使用超出其限制的内存量。
......

[2022-08-18 04:53] utkarsh-singh1 commented on #36046
Hi @jihoon-seo, I think Interactive tutorial environment for k8s is also showing same result here - https://kubernetes.io/id/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/

[2022-08-18 05:00] jihoon-seo commented on #36046
@utkarsh-singh1 it seems that to make the interactive tutorial in those pages work, someone has to update those pages to be synced with the English page.

[2022-08-18 05:02] jihoon-seo commented on #36064
/language zh
/retitle [zh] Example output does not match the description

[2022-08-18 05:46] mk46 commented on #36004
/assign

[2022-08-18 06:55] #36046 closed

[2022-08-18 08:40] sftim commented on #35896
/help

[2022-08-18 09:08] utkarsh-singh1 commented on #36046
@jihoon-seo , Will raising an issue with the link - https://kubernetes.io/id/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/ can be helpful?

[2022-08-18 09:16] #35975 closed

[2022-08-18 09:18] utkarsh-singh1 commented on #36022
Hi @projectaws741, can you paste your whole error here in code format so that it can be easily readable.

[2022-08-18 09:24] jihoon-seo commented on #36046
@utkarsh-singh1 it would be great! And other pages that have the same issue too.

[2022-08-18 09:35] utkarsh-singh1 commented on #36046
@jihoon-seo I have checked the other pages, it seems pages translated in Spanish and Indonesian have these issue right now.

[2022-08-18 09:54] utkarsh-singh1 opened #36067 "[id] Interactive tutorial page can not load Katacoda environment."
**This is a Bug Report**

**Problem:**

Interactive tutorial page can not load Katacoda environment.

**Proposed Solution:**

Indonesian translated pages of Interactive Tutorial have to be sync with English translation.

**Page to Update:**
https://kubernetes.io/id/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/

[2022-08-18 09:57] utkarsh-singh1 commented on #36067
/language id

[2022-08-18 11:29] taniaduggal commented on #35600
@rolfedh Have you reviewed the prs?

[2022-08-18 12:22] taniaduggal commented on #35941
/assign @anubha-v-ardhan

[2022-08-18 15:13] nasa9084 commented on #33765
The PR is under reviewing
/remove-lifecycle stale

[2022-08-18 15:18] #34170 closed

[2022-08-18 15:22] Grigoryan-not-available opened #36074 "Typo in documentation for Use strategic merge patch to update a Deployment using the retainKeys strategyUpdate API Objects in Place Using kubectl patch"
**This is a Bug Report**

**Problem:**
wrong command for **strategic merge patch**: "kubectl patch deployment retainkeys-demo --type **_merge_** --patch-file patch-file-retainkeys.yaml"
[image](https://fex.net/s/yctrzdv)

**Proposed Solution:**
correct command: kubectl patch deployment retainkeys-demo --type _**strategic**_--patch-file patch-file-retainkeys.yaml

**Page to Update:**
https://kubern

[2022-08-18 15:24] #35973 closed

[2022-08-18 15:28] sftim commented on #36048
/kind feature

We could improve the user experience here so that it's less confusing for folks.
/priority backlog
/language en

[2022-08-18 15:28] sftim commented on #36048
/triage accepted

[2022-08-18 15:29] sftim commented on #36023
/retitle Improve formatting of API reference for ServiceAccount

/kind bug

We automatically generate these reference pages, and the upstream code is only sort of Markdown.

[2022-08-18 15:30] Grigoryan-not-available opened #36075 "Wrong image in example"
**This is a Bug Report**

**Problem:**
Wrong image for this example
**mysql:5.7** now uses **oraclelinux:7-slim**
This OS doesn't have a "hostname" command
[image](https://fex.net/s/sem9yop)

**Proposed Solution:**
Using image **_mysql:5.7-debian_**

**Page to Update:**
https://kubernetes.io/docs/tasks/run-application/run-replicated-stateful-application/#statefulset

[2022-08-18 15:30] sftim commented on #36022
I think this is a support query. I'm not sure.

[2022-08-18 15:34] sftim opened #36076 "Annotation `rbac.authorization.kubernetes.io/autoupdate` not registered / documented"
**This is a Bug Report**

**Problem:**
Kubernetes can use an annotation, `rbac.authorization.kubernetes.io/autoupdate`, but this is not registered or documented.

**Proposed Solution:**
Document the annotation in [Well-Known Labels, Annotations and Taints](https://kubernetes.io/docs/reference/labels-annotations-taints/).

**Page to Update:**
https://kubernetes.io/docs/reference/labels-annotations-

[2022-08-18 15:35] sftim commented on #36076
https://www.oreilly.com/library/view/kubernetes-security/9781492039075/ch04.html mentions this annotation, so it has been used in the past (and, I suspect, it is still used).

[2022-08-18 15:55] Anticom opened #36077 "How to manage manually created PV using SC"
**This is a Feature Request**

**What would you like to be added**

https://kubernetes.io/docs/concepts/storage/storage-classes/#reclaim-policy states:

This leads me to the assumption that it's possible to explicitly declare a PV but have it provisioned and managed via SC. I'd like an example added that illustrates:

1. How to declare a PV that will be provisioned & managed via the specified SC
2

[2022-08-18 16:30] BenTheElder opened #36078 "well-known labels restriction is missing k8s.io (?)"
**This is a Bug Report**

**Problem:**

"Well-Known Labels, Annotations and Taints" says

Except it's actually kubernetes.io *AND* k8s.io (?) cc @liggitt

**Proposed Solution:**

Add k8s.io

**Page to Update:**
https://kubernetes.io/docs/reference/labels-annotations-taints/

Filing an issue so I don't forget this. See discussion https://github.com/kubernetes-sigs/kind/pull/2877

[2022-08-18 16:34] kadtendulkar opened #36079 "Modify link context on Storage Classes page"
**Problem:**
The text [**Administration Guide**](https://access.redhat.com/documentation/en-US/Red_Hat_Storage/3.1/html/Administration_Guide/part-Overview.html) on [link](https://kubernetes.io/docs/concepts/storage/storage-classes/) is working properly and redirects to [page](https://access.redhat.com/documentation/en-us/red_hat_gluster_storage/3.1) the issue is to remove the URL has unnecessary c

[2022-08-18 16:52] marosset commented on #34476
@sftim - IIRC SIG-Windows opted to remove this content based on some of the review comments in https://github.com/kubernetes/website/pull/32862#pullrequestreview-938361343

The way we interpreted these was pages in k/website were discouraged from providing step-by-step instructions for configuring none K8s-owned components (like CNI solutions). Did we mis-understand that?

SIG-Windows is in the pr

[2022-08-18 16:57] NitishKumar06 commented on #36078
/assign

[2022-08-18 16:57] NitishKumar06 commented on #36078
I think k8s.io and kubernetes.io both hold the same meaning.

[2022-08-18 17:00] NitishKumar06 commented on #36060
/assign

[2022-08-18 17:09] NitishKumar06 commented on #35941
/assign

[2022-08-18 17:09] NitishKumar06 commented on #35941
/unassign

[2022-08-18 17:30] #35851 closed

[2022-08-18 17:42] #30745 closed

[2022-08-18 19:55] vaibhav2107 opened #36085 "Issue with k8s.io/docs/reference/config-api/kubelet-config.v1beta1/"
**Problem:** The link to Logs Options is broken under the [Kubelet Configuration](https://kubernetes.io/docs/reference/config-api/kubelet-config.v1beta1/#kubelet-config-k8s-io-v1beta1-KubeletConfiguration)

**Proposed Solution:** The Logs Options file is updated from [logs/options.go](https://github.com/kubernetes/component-base/blob/master/logs/options.go) to [logs/api/v1/options.go](https://gith

[2022-08-18 19:55] vaibhav2107 commented on #36085
/language en

[2022-08-18 19:56] vaibhav2107 commented on #36085
/assign

[2022-08-18 21:08] flavio-fernandes opened #36087 "Using Source IP"
On page:  https://kubernetes.io/docs/tutorials/services/source-ip/

Based on the labels I see in the pod, I believe that the line that says:
[code]
should be changed to:
[code]

[2022-08-19 00:35] jihoon-seo commented on #36075
This issue is a dup of #35432.
/triage duplicate

There is a relevant PR: #35857.

[2022-08-19 00:38] jihoon-seo commented on #35432
/retitle `hostname` cmd is missing in `mysql:5.7` image

[2022-08-19 01:07] marcushyungseoklee opened #36093 "[ko] Translate tasks/debug/debug-cluster/crictl in Korean"
**This is a Feature Request**

**What would you like to be added**
Translate tasks/debug/debug-cluster/crictl in Korean.

**Why is this needed**

No translation with /tasks/debug/debug-cluster/crictl

**Comments**

Pages to Update
https://kubernetes.io/docs/tasks/debug/debug-cluster/crictl/

[2022-08-19 01:08] marcushyungseoklee commented on #36093
/language ko
/assign

[2022-08-19 02:17] mengjiao-liu commented on #36064
It seems that some of the content is out of sync with the English, I will check.
/assign

[2022-08-19 03:39] amolmote commented on #18903
is  any one is working on this ??..as a beginner can proceed to do this

[2022-08-19 05:23] reylejano commented on #36085
these files are generated as part of the reference docs for a release

[2022-08-19 05:26] tengqm commented on #36085
When did this update happen? before or after 1.24 was released?

[2022-08-19 05:31] vaibhav2107 commented on #36085
These update has happened before 1.24 was released

[2022-08-19 05:38] vaibhav2107 commented on #36085
/close
As per the [comment](https://github.com/kubernetes/website/pull/36086#issuecomment-1220270305)

[2022-08-19 05:38] #36085 closed

[2022-08-19 05:48] reylejano commented on #34444
There are links to three examples in the What's next section
/close

[2022-08-19 05:48] #34444 closed

[2022-08-19 06:01] #36064 closed

[2022-08-19 06:31] bishal7679 commented on #36087
/assign

[2022-08-19 06:40] syxunion opened #36097 "change punctuation on /zh-cn/docs/reference/glossary/host-aliases.md"
Hello, I noticed a punctuation error on this page。
/language zh

[2022-08-19 06:40] syxunion commented on #36097
/assign

[2022-08-19 06:41] bishal7679 commented on #36097
@syxunion Could you add that page link in your issue?
It's a good practice

[2022-08-19 06:49] divya-mohan0209 commented on #36087
/triage accepted

[2022-08-19 06:53] bishal7679 commented on #36074
/assign

[2022-08-19 07:10] syxunion commented on #36097
https://kubernetes.io/zh-cn/docs/reference/glossary/?all=true#term-HostAliases

[2022-08-19 07:19] syxunion commented on #36097
/close

[2022-08-19 07:19] #36097 closed

[2022-08-19 07:21] syxunion opened #36099 "change punctuation on https://kubernetes.io/zh-cn/docs/reference/glossary"
Hello, I noticed some punctuation errors on https://kubernetes.io/zh-cn/docs/reference/glossary page。

/language zh

[2022-08-19 07:21] syxunion commented on #36099
/assign

[2022-08-19 07:38] taniaduggal commented on #35600
Now, I am working on content/en/docs/reference/glossary/application-developer.md

[2022-08-19 07:39] sftim commented on #34476
It's OK to provide step-by-step guides, but we don't like to give details where we're picking a particular solution from the ecosystem.
For example, https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#preparing-the-hosts says that you need a compatible container runtime. What we don't say is something like:

because that's not very fair on every other CRI-

[2022-08-19 07:39] sftim commented on #34476
If we do add a page on setting up a Windows node, this should be part of an ambition to also document adding a Linux node (in about the same detail).

[2022-08-19 08:55] jihoon-seo commented on #36093
@marcushyungseoklee 님 안녕하세요~~
같은 문서에 대해 이미 이슈가 오픈되어 있습니다. ㅠㅠ (#35090)
참고 부탁드립니다 😊
/triage duplicate

[2022-08-19 10:14] marcushyungseoklee commented on #36093
@jihoon-seo 엇 그러네요 ㅠㅠ 감사합니다 다른부분으로 진행해보겠습니다.

[2022-08-19 10:15] #36093 closed

[2022-08-19 10:20] marcushyungseoklee opened #36102 "[ko] Translate tasks/debug/debug-cluster/audit"
**This is a Feature Request**

**What would you like to be added**
Translate tasks/debug/debug-cluster/audit

**Why is this needed**
No Translation with tasks/debug/debug-cluster/audit

**Comments**

Pages to Update

https://kubernetes.io/docs/tasks/debug/debug-cluster/audit/

[2022-08-19 10:20] marcushyungseoklee commented on #36102
/language ko
/assign

[2022-08-19 10:32] amolmote commented on #35600
hi , I would like to work with you all

[2022-08-19 11:16] chalin commented on #36011
@jimangel @sftim - any update on this? I'd like to keep the ball rolling and, more importantly, to be clear on who has the ball now. So, ... as a next step should I be trying to find someone with access to the Netlify account to do the config for me, or should I be submitting an official request to gain access (if the latter, how do I do so -- and should I be asking these questions on #sig-docs-ma

[2022-08-19 11:22] rolfedh commented on #35600
Status update:
- Right now, I'm communicating with the /hi branch owners/reviewers to get the review and merge processes moving forward.
- I expect to merge the current raft of PRs and close their associated issues and conducting a retrospective before I open a new set of issues.
- I encourage you to forge ahead without me:
  - Localizing glossary entries and other content from the `main` branch t

[2022-08-19 11:44] bishal7679 commented on #35600
@rolfedh I opened an issue on JUL 22 https://github.com/kubernetes/website/issues/35250
Can We add this issue with this localization efforts??

[2022-08-19 11:53] rolfedh commented on #35600
Thanks, Bishal! It's great that you've gone ahead and created this issue. I expect you or someone will create a PR to fix it, too!
It can stand on its own and doesn't need to be part of this issue, which is focused on glossary entries. I'm here to support you any time, as are all the other contributors!

[2022-08-19 12:43] windsonsea opened #36105 "[zh-cn] Localize blog/_posts/2022-08-02-sig-docs-spotlight/"
**This is a Feature Request**

Will add the zh-cn text for this blog: https://kubernetes.io/blog/2022/08/02/sig-docs-spotlight-2022/
[code]

/language zh
/assign

[2022-08-19 13:03] thisisobate opened #36106 "Add banner for kubecon NA 2022"
**This is a Feature Request**

**What would you like to be added**
An announcement banner for KubeCon NA 2022

**Why is this needed**
KubeCon NA 2022 is around the corner. It is important we start informing the community about this amazing event by displaying a banner on the Kubernetes website.
**Comments**

This change will need steering committee approval.

I would set the banner to start on the

[2022-08-19 13:26] neilgierman opened #36108 "Issue with k8s.io/docs/tasks/tools/install-kubectl-linux/"
The instructions for adding kubernetes to Debian-based distributions is still pointing to the old `https://apt.kubernetes.io` website. That needs to be changed to `https://packages.cloud.google.com/apt/` since now the previous server has SSL certificate issues.

[2022-08-19 13:57] sftim commented on #36106
Thanks for filing this @thisisobate

I think the banner should start on the 15th of October. How does that sound?

/priority important-longterm
/remove-priority important-soon

[2022-08-19 13:58] sftim commented on #36079
/retitle Wrong link context on Storage Classes page

[2022-08-19 13:58] sftim commented on #36079
/triage accepted

[2022-08-19 14:03] #34144 closed

[2022-08-19 14:23] samos123 opened #36111 "kubectl RHEL package install not working with microdnf"
I will submit the PR as well

**Problem:**
Steps to reproduce
[code]
this will result in the following error:
[code]

**Proposed Solution:**
Remove the 1st key https://packages.cloud.google.com/yum/doc/yum-key.gpg which was used for doing repo_gpgkey check however since #34546 the repo_gpgcheck option got removed so this 1st key is no longer used/needed.

So this would be the fix:
[code]

**Page t

[2022-08-19 14:46] tomkivlin commented on #14725
NB I have started work on this, will prepare a PR when I'm back from holiday.

https://github.com/tomkivlin/website/blob/tomkivlin/issue14725/content/en/docs/concepts/security/kubernetes-encryption.md

[2022-08-19 15:45] #35204 closed

[2022-08-19 18:32] mk46 commented on #36076
/assign

[2022-08-20 08:14] utkarsh-singh1 commented on #36108
/assign

[2022-08-20 10:49] DJM0502 opened #36120 "Explain requirement for `br_netfilter` module on Linux nodes"
Hi,

why we are adding this section "Make sure that the br_netfilter module is loaded" when this section will be coming from
container run time https://v1-20.docs.kubernetes.io/docs/setup/production-environment/container-runtimes/#docker

if you see you had already mention of this module on this page https://v1-20.docs.kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#

[2022-08-20 12:34] onestone9900 opened #36122 "[ko]Translate website/content/en/blog/2018/11/07/grpc-load-balancing-on-kubernetes-without-tears"
This is a Feature Request

What would you like to be added
Translate website/blob/main/content/en/blog/_posts/2018-11-07-grpc-load-balancing-with-linkerd.md into Korean

Why is this needed
Not translated into Korean yet.

Page
https://kubernetes.io/blog/2018/11/07/grpc-load-balancing-on-kubernetes-without-tears/

/language ko
/assign

[2022-08-20 16:13] mehabhalodiya commented on #36106
/triage accepted

[2022-08-20 16:26] mehabhalodiya commented on #36078
/triage accepted

[2022-08-20 16:27] mehabhalodiya commented on #36076
/triage accepted

[2022-08-21 01:26] jsnh83 opened #36132 "Installing kubeadm"
Good Morning Sir/Mam,
  I am facing issue of  Errors during downloading metadata for repository 'kubernetes':
  - Status code: 404 for https://packages.cloud.google.com/yum/repos/kubernetes-el7-\x86_64/repodata/repomd.xml, When i am installing kubeadm on RHEL-8 machine.
  - I am using this repo in our system :-

[kubernetes]
name=Kubernetes
baseurl=https://packages.cloud.google.com/yum/repos/kuber

[2022-08-21 03:10] #36132 closed

[2022-08-21 03:11] jsnh83 commented on #36132
I resolved this issue

[2022-08-21 04:43] taniaduggal commented on #35600
@bishal7679 somewhere you also add English title with Hindi and somewhere not. What guidelines you follow to do like this. Please let me know:)

[2022-08-21 04:48] taniaduggal commented on #35600
Now, I am working on  content/en/docs/reference/glossary/cgroup.md :)

[2022-08-21 05:07] jihoon-seo commented on #36122
@onestone9900 감사합니다!
/triage accepted

[2022-08-21 05:09] jihoon-seo commented on #36102
@marcushyungseoklee 감사합니다!
/triage accepted

[2022-08-21 05:11] jihoon-seo commented on #36111
/assign @samos123

[2022-08-21 05:12] jihoon-seo commented on #36106
/assign @thisisobate

[2022-08-21 05:30] bishal7679 commented on #35600
Thanks for reminding me
I forgot to add english with hindi as well

[2022-08-21 07:01] #36099 closed

[2022-08-21 08:01] raghu-manne commented on #36108
@utkarsh-singh1 Are you working on this?

[2022-08-21 08:18] utkarsh-singh1 commented on #36108
Yeah @raghu-manne

[2022-08-21 09:46] mehabhalodiya commented on #36111
/triage accepted

[2022-08-21 09:53] mehabhalodiya commented on #31186
@chetak123  I don't see any updates; so unassigning you. Please feel free to assign, if you come back here again and are willing to work on 🙂
/unassign @chetak123

[2022-08-21 09:55] mehabhalodiya commented on #36106
/good-first-issue

[2022-08-21 10:00] mehabhalodiya commented on #36048
/good-first-issue

[2022-08-21 10:06] mehabhalodiya commented on #36106
/remove-help

[2022-08-21 10:28] mehabhalodiya commented on #36074
/triage accepted
/good-first-issue

[2022-08-21 10:31] mehabhalodiya commented on #36087
/good-first-issue

[2022-08-21 10:34] mehabhalodiya commented on #36087
/language en

[2022-08-21 10:37] #36087 closed

[2022-08-21 11:15] afbjorklund commented on #31186
Going into 1.25 freeze tomorrow, so I guess it will use the same confusing landing page as before...

https://kubernetes.io/docs/setup/

[2022-08-21 12:19] bang9211 opened #36138 "[en] Minor typo in tasks/debug/debug-cluster/local-debugging.md"
**This is a Bug Report**

**Problem:**
tasks/debug/debug-cluster/local-debugging.md has a typo "$LOCAL_PORT:REMOTE_PORT"

**Proposed Solution:**
Fix the typo (it should be "$LOCAL_PORT:$REMOTE_PORT")

**Page to Update:**
https://kubernetes.io/docs/tasks/debug/debug-cluster/local-debugging/

/language en
/assign

[2022-08-21 13:03] mehabhalodiya commented on #35170
/good-first-issue
/assign @kgibm

[2022-08-21 15:47] afbjorklund commented on #30842
For cri-dockerd, it is called `--pod-infra-container-image` :-) Eventually it will also be possible to set using configuration files:

* https://github.com/Mirantis/cri-dockerd/issues/102

[2022-08-21 16:22] offbyone opened #36148 "Issue with k8s.io/docs/tutorials/configuration/configure-java-microservice/configure-java-microservice-interactive/"
It is not possible to scroll to the bottom of the file list in the code part of the window:

<img width="1138" alt="image" src="https://user-images.githubusercontent.com/181693/185800804-e348bc9a-768c-43a2-af54-198367ca62c0.png">

The above is as far as I'm able to scroll down, which makes it impossible to reach the file I'm supposed to edit in the project.

(in general, holy gods, is that an unus

[2022-08-21 16:23] offbyone commented on #36148
I am using Chrome (`Version 104.0.5112.101 (Official Build) (x86_64)`) on macOS

[2022-08-21 16:37] kundan2707 commented on #36148
@offbyone   I am using Version 104.0.5112.81 (Official Build) (64-bit)  on windows and it is working find to me

[2022-08-21 16:50] offbyone commented on #36148
That is ... great, I guess? It doesn't help me, though.

[2022-08-21 16:52] kundan2707 commented on #36148
@offbyone  try reloading page. it might help

[2022-08-21 17:02] offbyone commented on #36148
I did that.

[2022-08-21 17:08] kundan2707 opened #36149 "Broken link for kubernetes namespace in 2022-04-28-Increasing-the-security-bar-in-Ingress-NGINX/index.md"
**This is a Bug Report**

**Problem:**
Link for kubernetes namespace broken
**Proposed Solution:**
Correct link https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/
**Page to Update:**
https://github.com/kubernetes/website/blob/main/content/en/blog/_posts/2022-04-28-Increasing-the-security-bar-in-Ingress-NGINX/index.md

[2022-08-21 17:09] kundan2707 commented on #36149
/assign

[2022-08-21 17:09] mehabhalodiya commented on #35251
/good-first-issue
For the first-timers, look https://github.com/kubernetes/website/issues/35251#issuecomment-1192783833

[2022-08-21 17:56] kundan2707 opened #36151 "Multiple broken link in https://github.com/kubernetes/website/blob/main/content/en/blog/_posts/2022-05-06-storage-capacity-GA/index.md"
**This is a Bug Report**

**Problem:**
Broken links
**Proposed Solution:**
Link Correction
**Page to Update:**
https://github.com/kubernetes/website/blob/main/content/en/blog/_posts/2022-05-06-storage-capacity-GA/index.md

[2022-08-21 17:56] kundan2707 commented on #36151
/assign

[2022-08-21 19:26] kundan2707 commented on #36120
@DJM0502  Agree with you point that br_netfilter module will be coming from container run time.
but there is nothing wrong in validating again if module is loaded or not.

[2022-08-22 02:12] kundan2707 commented on #36149
As links are broken in markdown file only. so no change required now.

[2022-08-22 02:12] #36149 closed

[2022-08-22 02:14] NitishKumar06 commented on #35170
@mehabhalodiya The PR for this issue has already been raised earlier.

[2022-08-22 02:59] mehabhalodiya commented on #36079
/good-first-issue

[2022-08-22 03:03] #36105 closed

[2022-08-22 03:44] miyadav opened #36155 "Make cluster diagram(s) more comprehensible"
I'd be happy to see a **bigger** change to the diagram, eg adding a tooltip for each component, or letting you click on (eg) the k-c-m icon to see details of the component. There _is_ room to improve.

This smaller change feels like it's not enough of an improvement though.

_Originally posted by @sftim in https://github.com/kubernetes/website/pull/34841#discussion_r916606830_

[2022-08-22 04:06] miyadav commented on #36155
/triage accepted

[2022-08-22 04:07] miyadav commented on #36155
cc @divya-mohan0209 , @sftim .

[2022-08-22 05:20] jihoon-seo commented on #36155
Page: https://kubernetes.io/docs/concepts/overview/components/
/kind feature
/language en

[2022-08-22 05:23] jihoon-seo commented on #36151
From https://github.com/kubernetes/website/pull/36152#issuecomment-1221678845:

So, let me close this.
/close

[2022-08-22 05:23] #36151 closed

[2022-08-22 05:31] jihoon-seo commented on #36155
/area web-development

[2022-08-22 05:37] dolamaiti opened #36156 "Advice on using containers"
I am having an issue whenever a user is created the same pod gets initialized to the user instance and so I am unable to create a new pod for the particular user. I need different pods for different users.
There was no limit range for containers. The requirement is I need to assign container to the pods.

[2022-08-22 06:11] neolit123 commented on #36120
/sig cluster-lifecycle

the section on the install page is also about iptables and we established it's required CR / networking. i don't think we should break apart the section or move it elsewhere, as it seems like a requirement before installing kubeadm not only the CR. More opinions are welcome, of course.

[2022-08-22 06:34] dilyanpalauzov opened #36157 "RootCAConfigMap feature gate is gone"
https://kubernetes.io/docs/reference/access-authn-authz/service-accounts-admin/#bound-service-account-token-volume says about `RootCAConfigMap`:

Since 1.22 is released, the text shall not say what is planned to happen in the 1.22 versions, as if those were in the future.

[2022-08-22 06:44] utkarsh-singh1 commented on #36108
Hi @neilgierman , I have tried installing kubectl in both debian -10 and debian-11 and https://apt.kubernetes.io automatically redirects to the https://packages.cloud.google.com/apt/.

[2022-08-22 09:11] sftim commented on #31186
and

If folks read https://kubernetes.io/docs/tasks/tools/ and from those outlines they decide to pick `kubeadm` to learn, I hope they're not surprised that it's less straightforward than `kind` or `minikube`.

[2022-08-22 09:12] sftim opened #36159 "Install Tools page states that kind requires Docker"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/tasks/tools/ states that kind requires Docker. This isn't right as I understand it; you can actually use `kind` with Podman, even if you don't have Docker installed at all.

**Proposed Solution:**
- check what's right
- update the docs to match the truth

**Page to Update:**
https://kubernetes.io/docs/tasks/tools/

**Additional Info

[2022-08-22 09:12] sftim commented on #36157
/language en

[2022-08-22 09:13] sftim commented on #36156
/kind support
/retitle Advice on using containers

[2022-08-22 09:13] sftim commented on #36155
/triage accepted

[2022-08-22 09:14] sftim commented on #36155
/retitle Make cluster diagram(s) more comprehensible

[2022-08-22 09:15] sftim commented on #36120
/retitle Explain requirement for `br_netfilter` module on Linux nodes

[2022-08-22 09:15] sftim commented on #36120
/language en

[2022-08-22 09:18] sftim commented on #36108
There is a related problem, which is that https://packages.cloud.google.com/apt/ is in fact _not_ exactly an official Kubernetes artifact repository (it belongs instead to Google).

See https://github.com/kubernetes/release/issues/913#issuecomment-1081121833 for more context.

[2022-08-22 09:18] sftim commented on #36108
I don't think we should change the docs. I think we should change things on the release and artifacts side, where possible.

[2022-08-22 09:19] sftim commented on #36108
/language en
/sig release
/kind bug

[2022-08-22 09:41] Santosh1176 commented on #36155
Hey, @sftim can I work on this?
Please correct me, if I am wrong. This needs some hover effects showing some details about the icon.

[2022-08-22 10:07] stephen-dexda commented on #30576
/remove-lifecycle stale

[2022-08-22 11:18] rolfedh opened #36163 "Guidelines for Hindi localization (glossary)"
Thanks for reminding me
I forgot to add english with hindi as well

_Originally posted by @bishal7679 in https://github.com/kubernetes/website/issues/35600#issuecomment-1221472160_

[2022-08-22 11:25] rolfedh commented on #36163
@AmanSarraf If this isn't already covered, would you research some best practices on this issue and add it to the /hi style guide?
@taniaduggal @bishal7679

[2022-08-22 11:41] tengqm commented on #33415
Double checked the YAML and the text. The current translation is correct.
/close

[2022-08-22 11:41] #33415 closed

[2022-08-22 11:42] tengqm commented on #33612
This issue has been fixed.
/close

[2022-08-22 11:42] #33612 closed

[2022-08-22 11:46] tengqm commented on #33907
The command is about changing the behavior of your current Shell. If you want the change to be permanent, it is different.
You will do `echo '[[ $commands[kubectl] ]] && source <(kubectl completion zsh)' >> ~/.zshrc`.

/close

[2022-08-22 11:46] #33907 closed

[2022-08-22 12:02] tengqm commented on #33790
Fixed.
/close

[2022-08-22 12:02] #33790 closed

[2022-08-22 12:03] tengqm commented on #36060
/close
The understanding is incorrect.

[2022-08-22 12:04] #36060 closed

[2022-08-22 12:04] tengqm commented on #36036
/triage accepted
/kind feature

[2022-08-22 12:05] tengqm commented on #35883
/close
closed by #35886

[2022-08-22 12:06] #35883 closed

[2022-08-22 12:06] tengqm commented on #35037
This has been fixed.
/close

[2022-08-22 12:07] #35037 closed

[2022-08-22 12:09] #34460 closed

[2022-08-22 12:10] tengqm commented on #33735
There are still a few pages where the translation is inconsistent but the problem is not a big one.
/close

[2022-08-22 12:10] #33735 closed

[2022-08-22 12:12] #32135 closed

[2022-08-22 12:18] AmanSarraf commented on #36163
I will look into it

[2022-08-22 12:21] sftim commented on #36163
/retitle Guidelines for Hindi localization (glossary)

[2022-08-22 12:21] tengqm commented on #31790
/close
This doesn't look right.
Even if the problem is true and we need to fix it, we should start from the English upstream.

[2022-08-22 12:22] #31790 closed

[2022-08-22 12:23] #31081 closed

[2022-08-22 14:01] Michelle951 opened #36166 "[zh] translate content/en/community/static/community-values.md to Chinese"
**This is a Feature Request**

**What would you like to be added**

A Chinese version
**Why is this needed**
It has no Chinese version
**Comments**

[2022-08-22 14:01] Michelle951 commented on #36166
/assign

[2022-08-22 14:05] dewble opened #36167 "[ko]Translate docs/tasks/administer-cluster/kubelet-config-file into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate ```docs/tasks/administer-cluster/kubelet-config-file```  into Korean
- page: https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config-file/
- File: https://github.com/kubernetes/website/blob/main/content/en/docs/tasks/administer-cluster/kubelet-config-file.md

**Why is this needed**
Not translated yet

**Commen

[2022-08-22 14:06] dewble commented on #36167
/assign

[2022-08-22 15:03] sftim commented on #36168
We also don't document these non-resource APIs within https://kubernetes.io/docs/reference/kubernetes-api/

[2022-08-22 15:03] sftim commented on #36168
/wg api-expression
/lifecycle frozen

Insta freezing because API docs are a Good Thing to have.

[2022-08-22 16:06] kadtendulkar commented on #35896
/assign

[2022-08-22 17:56] PriyanshuAhlawat commented on #36159
/assign

[2022-08-22 18:03] PriyanshuAhlawat commented on #36159
@sftim according to my knowledge we can use Buildah for managing container images and Podman for managing containers if someone is looking for an alternative to docker. But these can be used only on Linux, so for windows or mac a Linux VM will be used to run these and I am thinking to put this in a note.
Your suggestions?

[2022-08-22 18:13] rolfedh commented on #36163
/language-hi

[2022-08-22 18:49] MikeSpreitzer commented on #31632
/remove-lifecycle rotten
/reopen

[2022-08-22 19:54] AmanSarraf commented on #36163
/assign

[2022-08-22 20:31] sftim commented on #36159
https://www.google.com/search?q=does+kind+work+with+podman

(yes)

Also see https://kind.sigs.k8s.io/docs/user/rootless/

Kubernetes itself doesn't require any of the listed tools (Podman, Docker, Buildah); for example, you might use CRI-O and runsc and the kubelet, but no Docker Engine.

[2022-08-22 21:38] utkarsh-singh1 commented on #36108
@neilgierman if the issue has been resolved please can you close it.

[2022-08-22 21:50] neilgierman commented on #36108
I am reluctant to close the issue based on comments from @sftim. This is no longer a documentation issue since right now the docs work again, however is redirecting to Google the correct action?

[2022-08-22 23:19] sftim commented on #36108
I don't think there's anything to fix here. SIG Release are already tracking the work to move away from the existing artifacts release process and hosting for Linux packages.

@neilgierman I recommend you close this. If you want to suggest work, or contribute,  https://github.com/kubernetes/release/issues/ is the place for that.

[2022-08-22 23:31] #36108 closed

[2022-08-22 23:45] #35170 closed

[2022-08-22 23:47] #35251 closed

[2022-08-22 23:54] sftim commented on #36155
I'm open to hearing about different ideas about ways to improve things. Hover effects are just one option - and won't work on touchscreen devices such as phones and tablets.

Another option is to drop the icons and use words instead; in fact, that's what an older version of that diagram did. Or we could use words plus icons, using those symbols more like _badges_. Or something else I didn't think

[2022-08-22 23:55] sftim commented on #35332
/priority awaiting-more-evidence

If we do this, will it be easy to make sure that the dev container setup is maintained?

[2022-08-22 23:55] sftim commented on #35643
Thanks
/help

[2022-08-22 23:57] sftim commented on #35519
Perhaps we could start a GitHub Discussion about the options we have:
- favor neither
  - and sub-options, such as some JavaScript to randomize which is shown first
- favor kind
- favor minikube

I'm up for someone starting that discussion, however it will need involvement from folks willing to moderate and to report back. It's then also more than just a docs issue.

[2022-08-22 23:59] kcmartin opened #36171 "Freeze k/website for Kubernetes 1.25 release"
This issue is for freezing the k/website for the Kubernetes 1.25 release.

The release is scheduled to happen tomorrow (August 23, 2022) and No PRs are allowed to merge until the release PR has successfully merged.

If there are any questions, please contact me or anyone from the docs release team

cc: @krol3 @didicodes @cathchu @sethmccombs

/sig release
/label tide/merge-blocker

[2022-08-23 00:00] sftim commented on #35519
We could improve https://kubernetes.io/docs/setup/ to give folks more of a guide to picking a tool (minikube or kind) for learning; we could also reinstate https://kubernetes.io/docs/setup/learning-environment/ with a new focus on that page being about _choice_.

We leave the actual how-do-I-use-X to the projects themselves; this avoids duplicating effort.

If someone has the appetite for it, woul

[2022-08-23 00:01] kcmartin commented on #36171
/triage accepted

[2022-08-23 00:05] sftim commented on #14725
Great! I look forward to seeing this merged.

[2022-08-23 00:10] sftim commented on #35709
/close

[2022-08-23 00:11] #35709 closed

[2022-08-23 00:11] sftim commented on #35709
GitHub is not the right place for support requests.

If you're looking for help, check [Server Fault](https://serverfault.com/questions/tagged/kubernetes).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

[2022-08-23 00:13] sftim commented on #18903
I haven't seen a hint that anyone has started work on this.

[2022-08-23 00:51] sftim commented on #34935
I think we could add that information into to https://kubernetes.io/docs/reference/config-api/

[2022-08-23 01:05] jihoon-seo commented on #36167
@dewble 감사합니다!!
/triage accepted

[2022-08-23 01:06] sftim commented on #30885
Yes, I think so. However, I recommend adding a glossary entry for Quantity and putting at least an outline of the details there instead.

[2022-08-23 01:14] sftim commented on #30639
/reopen

[2022-08-23 01:14] sftim commented on #30639
/remove-lifecycle rotten

[2022-08-23 01:20] jihoon-seo commented on #36163
/language hi

[2022-08-23 01:22] rolfedh commented on #35944
/language hi

[2022-08-23 01:49] rolfedh commented on #35783
Fixed by https://github.com/kubernetes/website/pull/35898

[2022-08-23 01:49] #35783 closed

[2022-08-23 01:50] rolfedh commented on #35929
Fixed by https://github.com/kubernetes/website/pull/35930

[2022-08-23 01:50] #35929 closed

[2022-08-23 02:23] zhangxyjlu opened #36180 "[zh-cn]Translate Chinese version for blog/2022/08/22/sig-storage-spotlight.md"
**This is a Feature Request**

This page blog/2022/08/22/sig-storage-spotlight.md has no Chinese version

**What would you like to be added**

Translate Chinese version for blog/2022/08/22/sig-storage-spotlight/

Comments
/language zh
/assign

[2022-08-23 04:43] windsonsea commented on #36180
/triage accepted

[2022-08-23 04:44] jihoon-seo commented on #31078
This issue has been resolved by the PR #31473.
/close

[2022-08-23 04:45] #31078 closed

[2022-08-23 04:56] mk46 commented on #36138
/triage accepted

[2022-08-23 07:33] taniaduggal commented on #35600
Now, I am working on content/en/docs/reference/glossary/cla.md :)

[2022-08-23 08:55] allaismail commented on #30912
i have the same error
storageclass.storage.k8s.io "manual" not found
what is the solution ?

[2022-08-23 09:02] sftim commented on #30912
For this task, I recommend that we cover how to set up any StorageClass that the task requires. The exception would be if we can direct readers to a different task and recommend that they follow the other task page first.

The Kubernetes project can help people here by adding more explanation to the existing web page. This is similar to the point in
https://github.com/kubernetes/website/issues/309

[2022-08-23 09:20] syxunion opened #36187 "Punctuation errors on https://kubernetes.io/zh-cn/docs/reference/kubernetes-api/common-definitions/"
Hello, I noticed some punctuation errors on https://kubernetes.io/zh-cn/docs/reference/kubernetes-api/common-definitions page
/language zh

[2022-08-23 09:20] syxunion commented on #36187
/assign

[2022-08-23 09:24] GYMmaorui opened #36188 "Pod"
volumeMounts.subPath 类型表述错误

[2022-08-23 10:04] Kartik494 commented on #30885
@sftim Sure i will give a try on this.

[2022-08-23 10:06] Kartik494 commented on #33069
@opabloc would you mind to recheck this again, if this seems to running fine then we can close this issue.

[2022-08-23 11:08] sftim commented on #36188
/triage needs-information

Please explain which web page is wrong, and what is not right about that page.

[2022-08-23 11:09] sftim commented on #36187
/retitle Punctuation errors on https://kubernetes.io/zh-cn/docs/reference/kubernetes-api/common-definitions/

/remove-kind feature
/kind bug

[2022-08-23 11:10] sftim opened #36190 "Annotation `pv.kubernetes.io/bind-completed` not registered / documented"
**This is a Bug Report**

**Problem:**
Kubernetes can set an annotation, `pv.kubernetes.io/bind-completed`, but this is not registered or documented.

**Proposed Solution:**
Document the annotation in [Well-Known Labels, Annotations and Taints](https://kubernetes.io/docs/reference/labels-annotations-taints/).

**Page to Update:**
https://kubernetes.io/docs/reference/labels-annotations-taints/

**A

[2022-08-23 11:11] sftim opened #36191 "Annotation `pv.kubernetes.io/bound-by-controller` not registered / documented"
**This is a Bug Report**

**Problem:**
Kubernetes can set an annotation, `pv.kubernetes.io/bound-by-controller`, but this is not registered or documented.

**Proposed Solution:**
Document the annotation in [Well-Known Labels, Annotations and Taints](https://kubernetes.io/docs/reference/labels-annotations-taints/).

**Page to Update:**
https://kubernetes.io/docs/reference/labels-annotations-taints/

[2022-08-23 11:12] sftim opened #36192 "Annotation `volume.kubernetes.io/selected-node` not registered / documented"
**This is a Bug Report**

**Problem:**
Kubernetes can set an annotation, `volume.kubernetes.io/selected-node`, but this is not registered or documented.

**Proposed Solution:**
Document the annotation in [Well-Known Labels, Annotations and Taints](https://kubernetes.io/docs/reference/labels-annotations-taints/).

**Page to Update:**
https://kubernetes.io/docs/reference/labels-annotations-taints/

[2022-08-23 11:13] sftim opened #36193 "Annotation `pv.kubernetes.io/provisioned-by` not registered / documented"
**This is a Bug Report**

**Problem:**
Kubernetes can set an annotation, `pv.kubernetes.io/provisioned-by`, but this is not registered or documented.

**Proposed Solution:**
Document the annotation in [Well-Known Labels, Annotations and Taints](https://kubernetes.io/docs/reference/labels-annotations-taints/).

**Page to Update:**
https://kubernetes.io/docs/reference/labels-annotations-taints/

**A

[2022-08-23 11:15] sftim opened #36194 "Annotation `storage.alpha.kubernetes.io/migrated-plugins` not registered / documented"
**This is a Bug Report**

**Problem:**
Kubernetes can set an annotation, `storage.alpha.kubernetes.io/migrated-plugins`, but this is not registered or documented.

**Proposed Solution:**
Document the annotation in [Well-Known Labels, Annotations and Taints](https://kubernetes.io/docs/reference/labels-annotations-taints/).

**Page to Update:**
https://kubernetes.io/docs/reference/labels-annotations

[2022-08-23 15:50] sftim commented on #34837
/language zh
/priority awaiting-more-evidence

[2022-08-23 15:51] sftim commented on #34795
/language en

[2022-08-23 15:52] sftim commented on #34626
So far this doesn't seem to be reproducible
/triage not-reproducible

If this is definitely not a bug in Firefox, and we can get evidence about how to reproduce it, we'll happily triage the report as accepted.

[2022-08-23 15:54] sftim commented on #34626
Which version of macOS are you running Firefox on, @Omar-EM ? If you're happy to, go to `about:support` (it's a pseudoURL), find the Graphics section of that report, and also paste that table into the issue.

[2022-08-23 19:38] cliffbr-dv commented on #35519
I'm sorry to say that, but given the current state of minikube it's not the best idea to recommend it to anyone, I believe

[2022-08-23 22:32] #36171 closed

[2022-08-23 22:32] #36004 closed

[2022-08-23 22:40] sftim opened #36199 "Update PSP deprecation blog article to link to v1.25 release blog"
**This is a Feature Request**

**What would you like to be added**
Update https://kubernetes.io/blog/2021/04/06/podsecuritypolicy-deprecation-past-present-and-future/ (but check with @tabbysable, the author, before you do)
Make it obvious that your change is an update to an existing article. Hyperlink to https://kubernetes.io/blog/2022/08/23/kubernetes-v1-25-release/#pod-security-changes

**Why is

[2022-08-23 22:40] sftim commented on #36199
/language en

[2022-08-23 22:40] sftim commented on #36199
/retitle Update PSP deprecation blog article to link to v1.25 release blog

[2022-08-24 00:08] sftim opened #36202 "Formatting error in CRD CEL validation rules"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#validation-rules has a Markdown error. `[kube-apiserver](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/)` renders like that, but should be a hyperlink:

[code]

**Proposed Solution:**
Update the Markdown source

**Page to Update:

[2022-08-24 01:19] rolfedh opened #36203 "Update hi.toml with new strings from en.toml"
Updated https://github.com/kubernetes/website/blob/dev-1.22-hi.1/data/i18n/hi/hi.toml
with new strings from https://github.com/kubernetes/website/blob/main/data/i18n/en/en.toml

Didn't remove any strings from hi.toml, even if they're missing from en.toml.

[2022-08-24 01:19] rolfedh commented on #36203
/assign

[2022-08-24 03:32] ashish-jaiswar commented on #36202
/assign

[2022-08-24 04:25] jihoon-seo commented on #36203
/language hi

[2022-08-24 05:01] kadtendulkar commented on #36202
/assign

[2022-08-24 05:33] SunsetFeng opened #36212 ""The specified key does not exist" error while installing kubeadm"
I'm follow the documentation to install kubeadm,but prompt me “The specified key does not exist.”

run command:

DOWNLOAD_DIR=/usr/local/bin
sudo mkdir -p $DOWNLOAD_DIR
RELEASE="$(curl -sSL https://dl.k8s.io/release/stable.txt)"
cd $DOWNLOAD_DIR
sudo curl -L --remote-name-all https://storage.googleapis.com/kubernetes-release/release/${RELEASE}/bin/linux/${ARCH}/{kubeadm,kubelet,kubectl}
sudo chmod

[2022-08-24 07:02] jihoon-seo commented on #36212
/kind support

@SunsetFeng
it seems that among the command list you listed, the command `ARCH="amd64"` is missing.

Please try:
run `ARCH="amd64"` before running `sudo curl -L --remote-name-all https://storage.googleapis.com/kubernetes-release/release/${RELEASE}/bin/linux/${ARCH}/{kubeadm,kubelet,kubectl}`

[2022-08-24 07:05] Kanika637 commented on #36048
I want to work on this issue, can you give me a little more context for this one @harridu

[2022-08-24 08:16] harridu commented on #36048
I just read through the documentation. For "Getting started" on https://kubernetes.io/docs/setup/ there are 3 subtopics
- Learning environment
- production environment
- best practices

I did not expect that "Learning environment" redirects me to [somewhere else in the documentation](https://kubernetes.io/docs/tasks/tools/), listing a set of tools to install, not mentioning anything about "learnin

[2022-08-24 09:38] sftim commented on #36048
Improvements are very welcome.

I'm not sure that this is a _good first issue_ - we might want folks to write a whole new page.

[2022-08-24 09:39] sftim commented on #36048
@harridu thank you for that clear explanation of your thinking.

/priority important-longterm
/remove-priority backlog

[2022-08-24 10:16] #35766 closed

[2022-08-24 10:32] #34388 closed

[2022-08-24 12:28] Kanika637 commented on #36048
I would love to be part of the folks in writing this new page, count me in @sftim  🚀

[2022-08-24 12:33] sftim commented on #36212
/remove-kind bug

[2022-08-24 14:22] #36187 closed

[2022-08-24 17:58] mehabhalodiya commented on #36048
Oh, I see! I didn't know we needed a [whole new page](https://github.com/kubernetes/website/issues/36048#issuecomment-1225477888) for this issue. I am removing the `good first issue` label now.
I thought that we needed a little redirection only, so put the `good first issue` label.

/remove-good-first-issue

[2022-08-24 18:33] afzal442 commented on #36194
/assign

[2022-08-24 18:34] afzal442 commented on #36193
/assign

[2022-08-24 18:35] afzal442 commented on #36192
/assign

[2022-08-24 18:35] afzal442 commented on #36191
/assign

[2022-08-24 18:35] afzal442 commented on #36190
/assign

[2022-08-24 18:37] afzal442 commented on #36194
/triage accepted

[2022-08-24 19:47] chalin commented on #36011
Btw, I'm assuming that we _do_ want analytics from the older versions of the docs:

I'm not sure how these are setup. Are they different netlify accounts?

[2022-08-24 19:48] jasonjayr opened #36254 "Authenticating"
I got stuck trying to get a token for service account becuase the version of kubernetes I was using was too new.  In the example given:
[code]

the secrets section was not present in any of my service accounts. According to https://kubernetes.io/docs/concepts/configuration/secret/#service-account-token-secrets the secret needs to be created manually, or the TokenRequest API needs to be used.

[2022-08-25 00:45] abel533 opened #36260 "v1.25 API is 404"
**This is a Bug Report**

**Problem:**
v1.25 API is 404
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.25/

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.25/

Kubernetes Version: v1.25

![image](https://user-images.githubusercontent.com/1787798/186548654-855255fc-ee96-4e86-a94a-fee858f00c21.png)

![image](https://user

[2022-08-25 00:47] abel533 commented on #36260
I need to use this document to generate structured data.
![image](https://user-images.githubusercontent.com/1787798/186548941-80d77cb1-ec89-405f-9cb0-6b99517d40a0.png)

https://k8s.mybatis.io/

[2022-08-25 02:26] Adityayxt opened #36262 "[zh-cn]translate content/en/docs/concepts/architecture/cgroups.md"
**This is a Feature Request**

I would like to translate this document, in order to prevent conflicts, open this issue
 /language zh
/assign

[2022-08-25 02:31] NitishKumar06 commented on #36199
/assign

[2022-08-25 02:32] NitishKumar06 commented on #36199
@tabbysable Any suggestion from your end?

[2022-08-25 02:39] mengjiao-liu commented on #36260
https://github.com/kubernetes/website/pull/36112 is working on it.

[2022-08-25 02:42] #32133 closed

[2022-08-25 02:42] #32294 closed

[2022-08-25 03:32] #35866 closed

[2022-08-25 04:47] windsonsea commented on #36262
/language zh-cn

[2022-08-25 04:49] windsonsea commented on #36262
/language zh

[2022-08-25 05:16] #36202 closed

[2022-08-25 05:30] #36074 closed

[2022-08-25 05:45] reylejano commented on #36260
Fixed by PR https://github.com/kubernetes/website/pull/36112

[2022-08-25 05:45] #36260 closed

[2022-08-25 06:30] harridu opened #36266 "Improvement for k8s.io/docs/setup/production-environment/container-runtimes/"
This page should make it more clear that the cgroup driver of the chosen container runtime has to match the cgroup driver configured via kubeadm. Maybe it should even recommend the systemd driver, since this is kubeadm's default.

[2022-08-25 06:54] afzal442 commented on #36194
Hi @sftim! Let me know how I can get the details of that and other `annotation`s usage. Thanks.

[2022-08-25 07:43] ziyi-xie opened #36268 "[ja] /content/ja/docs/concepts/workloads/controllers/replicaset.md is outdated"
**This is a Feature Request**

**What would you like to be added**

Updated Japanese translation for the [/content/ja/docs/concepts/workloads/controllers/replicaset.md](https://kubernetes.io/ja/docs/concepts/workloads/controllers/replicaset/) file.

**Why is this needed**
There are several updates in [the original English text](https://github.com/kubernetes/website/blob/main/content/en/docs/concep

[2022-08-25 08:14] sftim commented on #33426
You can only see the symptoms when an announcement banner is showing. See https://github.com/kubernetes/website/blob/main/data/announcements/scheduled.yaml - if you edit this locally, and preview locally, you can see the symptoms.

[2022-08-25 08:54] neolit123 commented on #36266
this section links to a page that explains kubeadm has a systemd driver default
  https://kubernetes.io/docs/setup/production-environment/container-runtimes/#migrating-to-the-systemd-driver-in-kubeadm-managed-clusters

also the above section explains:

/sig node cluster-lifecycle

[2022-08-25 09:05] SunsetFeng commented on #36212
thanks,I can get it

[2022-08-25 09:27] sftim commented on #36254
/retitle “Authenticating“ reference page unclear on use of TokenRequest subresource
/language en
/sig auth

[2022-08-25 10:48] Lsacy opened #36273 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
Kubernetes Bootcamp Terminal

Sorry, invalid request was made.

[2022-08-25 13:45] sftim opened #36277 "Annotation `ingress.kubernetes.io/whitelist-source-range` not registered / documented (?)"
**This is a Bug Report**

**Problem:**
Some code from the Kubernetes project appears to use an annotation, `ingress.kubernetes.io/whitelist-source-range`, but this is not registered or documented.

**Proposed Solution:**
- Check if this is an official annotation
- If so, document the annotation in [Well-Known Labels, Annotations and Taints](https://kubernetes.io/docs/reference/labels-annotations-t

[2022-08-25 13:46] sftim commented on #36190
Try https://github.com/kubernetes/kubernetes/search?q=bind-completed&type=code as a way to find code that uses this annotation.

[2022-08-25 14:17] windsonsea opened #36280 "Broken links in feature-gates.md"
**This is a Bug Report**

In the file:
[code]
find two hits:
[code]
with broken links to 404.

/language en

[2022-08-25 15:32] #35905 closed

[2022-08-25 16:14] sftim commented on #32010
/remove-lifecycle rotten

Still important to fix this.

[2022-08-25 16:14] sftim commented on #32010
However, it's a duplicate.
/close

[2022-08-25 16:14] #32010 closed

[2022-08-25 16:19] sftim commented on #31960
PR #34794 looks very promising.

[2022-08-25 16:21] kadtendulkar opened #36288 "Broken link on Contributing to Kubernetes Documentation in kubernetes / website github repository page"
**Problem:**
The text [**these instructions to create a documentation pull request against the kubernetes.io repository**](http://kubernetes.io/docs/home/contribute/create-pull-request/). on [link](https://github.com/kubernetes/website/blob/main/CONTRIBUTING.md) is redirecting to [this](https://kubernetes.io/docs/contribute/) , it should point to these https://kubernetes.io/docs/contribute/new-con

[2022-08-25 16:28] afzal442 commented on #36190
Yes! that's nice. I had a same thought like searching out. 😄

So, I would go like this as below:
[code]

[2022-08-25 16:37] kadtendulkar opened #36290 "Wrong link context on Storage Classes page"
**Problem:**
The text [**vSphereVolume CSI migration**](https://kubernetes.io/docs/concepts/storage/volumes/#csi-migration-5) on https://kubernetes.io/docs/concepts/storage/storage-classes/  redirects to [page](https://kubernetes.io/docs/concepts/storage/volumes/#csi-migration-5) the correct link should be  https://kubernetes.io/docs/concepts/storage/volumes/#vsphere-csi-migration

For the problem

[2022-08-25 16:58] #36290 closed

[2022-08-25 17:04] afzal442 commented on #36277
/assign

[2022-08-25 17:05] chrismetz09 commented on #36155
My preference is KEEP IT SIMPLE. Just use boxes, lines, arrows and words. IMHO new users can grasp architecture components faster and contributors can create/modify diagrams much easier. Here is a "hack-ish" example of how you could to do this using open-source Mermaid:

[Partial example of K8s components diagram using Mermaid](https://mermaid.live/edit#pako:eNqVVF1v2jAU_SuWeTWDdh-asmkSpIxNGqiFqdq

[2022-08-25 17:11] sftim commented on #36280
/language en

[2022-08-25 17:12] sftim commented on #36190
You can write `{{< glossary_tooltip text="PersistentVolume" term_id="persistent-volume" >}}` instead of `persistent volume` and you then get a nice tooltip (see [Custom Hugo Shortcodes](https://kubernetes.io/docs/contribute/style/hugo-shortcodes/#glossary)).

[2022-08-25 17:14] sftim commented on #36273
It sounds like you're seeing an error. Could you provide a screenshot @Lsacy ? That might provide some extra context.

[2022-08-25 18:13] a-mccarthy commented on #29997
Are folks still seeing this issue? i was just looking at the site, and second level items under Workloads are now visible when on the Pods page.
<img width="517" alt="Screen Shot 2022-08-25 at 2 11 06 PM" src="https://user-images.githubusercontent.com/20771501/186738561-5b38f984-0d13-4c92-80e3-10cb4d808229.png">

@sftim do you know of a PR that may have addressed this? or another example of where

[2022-08-25 18:45] #29997 closed

[2022-08-25 19:10] rolfedh opened #36294 "Add guidance for reviewers about squashing commits"
**This is a Feature Request**

**What would you like to be added**

As a PR reviewer, I'd like guidance on when to ask PR owners to squash their commits, when to do it for them, and when to never squash commits.

**Why is this needed**

Please see the following thread:

[Rolfe Dlugy-Hegwer](https://app.slack.com/team/UMT020Y0Y)
Do we require PR owners to squash before merge, or do merge folk somet

[2022-08-25 19:11] rolfedh commented on #36294
FYI @sftim

[2022-08-25 19:11] rolfedh commented on #36294
Related topic: https://kubernetes.io/docs/contribute/review/for-approvers/

[2022-08-25 19:53] lbogdan opened #36296 "Broken link in "Kubelet Checkpoint API" page"
The link in the following paragraph from the [Kubelet Checkpoint API](https://kubernetes.io/docs/reference/node/kubelet-checkpoint-api/) page

is broken.

[2022-08-25 21:40] sftim commented on #36294
Thanks.
The wording _doesn't_ have to be exactly what I suggested.

/triage accepted
/language en

[2022-08-25 22:33] os6sense commented on #30912
The problem isn't necessarily one of setting up the StorageClass though, it's that **if the PVC cannot bind to the hostpath PV for ANY reason** the error is a very generic and misleading one of `storageclass.storage.k8s.io "manual" not found`.

In the case of @winkee01 if sounds like repetition of the tutorial failed _probably_ because the PV was already bound. Possibly the best solution is to add

[2022-08-25 23:51] #32588 closed

[2022-08-26 00:35] nicholasyin opened #36301 "Using Source IP's sample image registry doesn't work."
`kubectl create deployment source-ip-app --image=registry.k8s.io/echoserver:1.4`

However, the `registry.k8s.io` domain doesn't seem to work anymore.

[2022-08-26 00:51] #32496 closed

[2022-08-26 01:23] tengqm commented on #31530
/remove-lifecycle rotten

[2022-08-26 02:02] mengjiao-liu commented on #36296
/triage accepted
/assign

[2022-08-26 03:56] #36296 closed

[2022-08-26 04:02] #36157 closed

[2022-08-26 04:34] #34389 closed

[2022-08-26 04:40] reylejano commented on #35896
Kubernetes 1.25.0 did not remove Google and Azure auth plugins due to a regression issue, see https://github.com/kubernetes/kubernetes/issues/111911#issuecomment-1219783870. The revert is in PR https://github.com/kubernetes/kubernetes/pull/111918

[2022-08-26 05:35] Shubham82 commented on #36280
Below is the correct link for **Traces for Kubernetes System Components**:
https://kubernetes.io/docs/concepts/cluster-administration/system-traces/

[2022-08-26 05:37] windsonsea commented on #36280
/assign

[2022-08-26 06:44] Shubham82 commented on #36301
Hi @nicholasyin
It is working for me.
[code]

In k8sv1.25 container registry service is migrated from `k8s.gcr.io` to `registry.k8s.io` . see the [CHANGELOG](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.25.md#moved-container-registry-service-from-k8sgcrio-to-registryk8sio) of k8sv1.25

[2022-08-26 06:47] nicholasyin commented on #36301
Then it must be some kind of networking issue.

[2022-08-26 06:47] #36301 closed

[2022-08-26 07:26] chalin commented on #35299
Analytics for release-branch subdomains, July 27 - Aug 25, 2022, FYI:

[2022-08-26 09:03] mengjiao-liu commented on #36294
Maybe you can refer to this document.
https://github.com/kubernetes/community/blob/master/contributors/guide/github-workflow.md#squash-commits

[code]
This document is the same for the reviewer. If the developer does not do all the suggestions of the document, the reviewer can intervene at this time.

[2022-08-26 09:05] mk46 commented on #36193
/triage accepted

[2022-08-26 09:06] mk46 commented on #36192
/triage accepted

[2022-08-26 09:06] mk46 commented on #36191
/triage accepted

[2022-08-26 09:09] mk46 commented on #36190
/triage accepted

[2022-08-26 09:21] mk46 commented on #36138
Addressed in https://github.com/kubernetes/website/pull/36141
/close

[2022-08-26 09:22] #36138 closed

[2022-08-26 11:13] rolfedh commented on #36294
/assign

[2022-08-26 11:28] sftim commented on #36294
https://www.k8s.dev/docs/guide/github-workflow/ is the public URL of that document @mengjiao-liu

[2022-08-26 13:18] chalin opened #36333 "Release-branch deploys should be production quality"
**Problem:** currently, release-branch deploys are not "production quality". For example visit https://v1-24.docs.kubernetes.io/docs/home/ and view the page source. You'll see that the page source:

- Isn't minified
- Assets aren't finger printed -- e.g.:
[code]

But release-branch deploys _are_ officially supported documentation, and should be minified and assets finger printed (to avoid caching

[2022-08-26 13:44] a-mccarthy commented on #34852
hey @jdbohrman are you still willing to update this issue with more details on how to implement this? Seems like cool functionality to offer our readers, i'd be interested in hearing more about how we can make this a possibility :)

[2022-08-26 14:19] scudella opened #36336 "Improvement for k8s.io/docs/tasks/administer-cluster/migrating-from-dockershim/change-runtime-containerd/"
Migrating to containerd requires settings on /etc/systcl.d/99-kubernetes-cri.conf
e.g.
[code]
The migration worked for me until I rebooted due to kernel upgrade. Apparently there were iptables rules left by docker install that allow containerd to work. After the reboot the docker iptables were gone and my nodes could not run e.g. kubernetes dashboard.

[2022-08-26 15:11] shannonxtreme commented on #29649
This issue is donezo

/close

[2022-08-26 15:11] #29649 closed

[2022-08-26 15:49] jhughes2112 commented on #35838
No bug here, sorry.  I stared at the env variable name for an hour without realizing it was being remapped to another (slightly different) name.

[2022-08-26 15:49] #35838 closed

[2022-08-26 16:13] sftim commented on #36336
/language en

A few questions @scudella
- Which network plugin (if any) were you using with Docker Engine?
- Which network plugin are you using now?
- What version of Kubernetes are you running?

Those answers will help us work out what advice to give to readers.

[2022-08-26 16:27] sftim commented on #36011
One Netlify account, multiple sites.

[2022-08-26 16:27] sftim commented on #36011
I would ask on Slack @chalin - have you already done that?

[2022-08-26 17:08] chalin commented on #36011
Yes, thanks, I've asked. As I understand it some folks are on vacation, so it may take a while still.

[2022-08-26 17:56] scudella commented on #36336
I was using (and still using) Weave cni plugin.
I believe I was running 1.23.4, then I did the dockershim migration to containerd and upgraded to 1.24.3. A couple of days ago I upgraded to 1.24.4 and rebooted. Then I had the problems with the work nodes.
I did install the cluster with instructions on https://github.com/jpetazzo/ampernetacle.git, commit 12616e3...
These iptables rules were still ar

[2022-08-26 18:51] rawhideron opened #36338 "Restoring an etcd cluster does not have the complete instructions"
Should include (aproximately) the following:

sudo systemctl stop etcd

sudo rm -rf /var/lib/etcd

sudo ETCDCTL_API=3 etcdctl snapshot restore /home/cloud_user/etcd_backup.db \
--initial-cluster etcd-restore=https://etcd1:2380 \
--initial-advertise-peer-urls https://etcd1:2380 \
--name etcd-restore \
--data-dir /var/lib/etcd

sudo chown -R etcd:etcd /var/lib/etcd

sudo systemctl start etcd

ETCDCT

[2022-08-26 22:20] goodidea-kp opened #36342 "Issue with k8s.io/docs/tasks/administer-cluster/dns-debugging-resolution/"
What to do if command `kubectl logs --namespace=kube-system -l k8s-app=kube-dns` return an errors? Main goal of this page is to help with errors, but not to show only 'happy path'

[2022-08-26 23:16] jihoon-seo commented on #36342
@goodidea-kp it would be helpful if you post the error you faced.

[2022-08-26 23:17] jihoon-seo commented on #36338
Link: https://kubernetes.io/docs/tasks/administer-cluster/configure-upgrade-etcd/#restoring-an-etcd-cluster

[2022-08-27 00:31] rawhideron commented on #36338
I' having a lot of trouble understanding how the instructions in the above link can restore the etcd database

[2022-08-27 01:54] twilight0620 opened #36344 "[zh]Translate update-with-ingress-nginx"
Problem:
do not have chinese docs: https://kubernetes.io/blog/2021/07/26/update-with-ingress-nginx/

Proposed Solution:
add chinese docs in website

Comments
/language zh
/assign

[2022-08-27 02:39] goodidea-kp commented on #36342
Here is my error:
[code]

[2022-08-27 03:04] twilight0620 opened #36346 "[zh] Translate sig-usability-spotlight-2021"
Problem:
do not have chinese docs: https://kubernetes.io/blog/2021/07/15/sig-usability-spotlight-2021/

Proposed Solution:
add chinese docs in website

Comments
/language zh
/assign

[2022-08-27 05:59] #32582 closed

[2022-08-27 08:59] #29502 closed

[2022-08-27 11:29] dilyanpalauzov opened #36354 "Unclear example with HorizontalPodAutoscaler serving 10000 requests per second"
The example at https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/#autoscaling-on-multiple-metrics-and-custom-metrics says at the end of the section:

It is unclear for me how can an Autoscaler ensure this.  The amount of requests is external factor, the internet users decide how much requests there will be sent.  They can sent 1000 or 100 000 requests/s.

That s

[2022-08-27 14:24] sftim commented on #12303
@shannonxtreme I think @nate-double-u had / has some ideas about a change to let us make older docs versions accessible (but marked as not-for-indexing by crawlers). Help on this is very welcome.

[2022-08-27 18:47] dilyanpalauzov opened #36360 "debug-cluster/resource-metrics-pipeline “The summary API /stats/summary endpoint will be replaced by the /metrics/resource endpoint beginning with metrics-server 0.6.x.”"
Kuberneten Metrics Server 0.6.1 was released on 9 February 2022 - https://github.com/kubernetes-sigs/metrics-server/releases/tag/v0.6.1 .

https://kubernetes.io/docs/tasks/debug/debug-cluster/resource-metrics-pipeline/#metrics-server says:

It speaks for the future, as if 0.6.x is not released yet. In case the value of X is not known yet, there shall be a link to a discussion about the API endpoin

[2022-08-27 18:52] dilyanpalauzov opened #36361 "debug-cluster/monitor-node-health: YAML file contains many empty lines"
The highlightet YAML file at https://kubernetes.io/docs/tasks/debug/debug-cluster/monitor-node-health/#using-kubectl contains an empty line between every two lines.

[code]
and so on.

There shall be no empty lines shown in the browser.

[2022-08-27 19:01] #30887 closed

[2022-08-27 19:12] rolfedh opened #36362 "[fr] http://localhost:1313/fr/releases/ is blank"
https://kubernetes.io/releases/ affiche cinq options de langue : français, anglais, chinois, coréen et polonais.
Le site Web affiche la rubrique "release" dans quatre de ces langues. Cependant, https://kubernetes.io/fr/releases/ est vide.

https://kubernetes.io/releases/ displays five language options: French, English, Chinese, Korean, and Polish.
The website displays the "release" topic in four o

[2022-08-27 19:13] rolfedh commented on #36362
/language fr

[2022-08-28 01:49] rolfedh commented on #36362
![Screenshot from 2022-08-27 15-03-53](https://user-images.githubusercontent.com/350907/187054060-eaac363d-e886-4c76-b230-a4ce92efe85f.png)

[2022-08-28 01:50] rolfedh commented on #36362
![Screenshot from 2022-08-27 21-50-26](https://user-images.githubusercontent.com/350907/187054087-d0b85691-6e17-4df8-abd9-5fd7232c30e1.png)

[2022-08-28 07:13] jbg commented on #30172
@sbarikdev This issue isn't resolved. Following the instructions on the (English) documentation precisely leads to the following errors repeated constantly in the my-scheduler logs:

[code]

Running this (not mentioned anywhere in the documentation) resolves it:

[code]

[2022-08-28 11:38] #36180 closed

[2022-08-28 11:45] windsonsea commented on #36262
Maybe I can take it over if you have some problem.

/assign

[2022-08-28 11:47] amolmote commented on #36361
This might not be an issue because it is going to still work even here empty lines are provided. I think this empty lines are provided for the sake of simplicity. I have tested this manifest for `DeamonSet` it works fine.

[2022-08-28 12:13] amolmote opened #36370 "[dev-1.22-hi.1] Links are not working inside the cni.md"
Problem: Required to fix the following two links

1. link of the `this`
2.  link of the `Network Plugins`

     when we click on above two highlighted  keywords it shows us 404 page so this might be require to fix.

Page require to update:
   https://github.com/kubernetes/website/blob/dev-1.22-hi.1/content/en/docs/reference/glossary/cni.md

/language en

[2022-08-28 12:33] dilyanpalauzov commented on #36361
In all other places, like https://kubernetes.io/docs/tasks/debug/debug-cluster/audit/, there are no empty lines after each line.

It does work with that many empty lines, but the empty lines have no added value.

[2022-08-28 12:34] Adityayxt commented on #36262
yes，I agree，thanks

[2022-08-28 13:36] windsonsea commented on #36262
/triage accepted

[2022-08-28 14:11] Kanika637 commented on #36048
So @mehabhalodiya  @harridu  can I start working on it?

[2022-08-28 14:52] windsonsea commented on #36346
/triage accepted

[2022-08-28 14:53] windsonsea commented on #36344
/triage accepted

[2022-08-28 15:28] rolfedh opened #36374 "Describe testing and merging localization branches into main in greater detail"
[The process ](https://kubernetes.io/docs/contribute/localization/) contains some information about this process. However, it needs additional information on how to verify the following:

- The localization branch is based on the target branch.
- The localization branch merges and builds cleanly.
- The localization branch does not harm to other content on the website.

[2022-08-28 15:28] rolfedh commented on #36374
/assign

[2022-08-28 16:43] amolmote commented on #36370
yes it's working fine

[2022-08-28 16:43] #36370 closed

[2022-08-28 20:43] #34944 closed

[2022-08-29 01:41] i-dipanshu commented on #35959
/assign i-dipanshu

[2022-08-29 02:06] mack1024 opened #36379 "[zh] Translate CONTRIBUTING.md page"
**This is a Feature Request**

Hi, I'm interested to translate the "CONTRIBUTING.md" page.

translate CONTRIBUTING.md into Chinese.

What would you like to be added:

CONTRIBUTING-ZH.md

/language zh
/kind feature

[2022-08-29 02:12] mack1024 commented on #36379
Can I translate CONTRIBUTING.md?

[2022-08-29 03:28] #36262 closed

[2022-08-29 03:33] i-dipanshu commented on #35959
Hey @bishal7679 ,
I searched in the repository and found the file already exits [refer](https://github.com/kubernetes/website/blob/dev-1.22-hi.1/content/hi/docs/reference/glossary/cluster-operator.md)

[2022-08-29 04:14] Sea-n commented on #35780
As @tengqm's PR #36145 merged, it seems there are no other build errors occurred.
- #36145

Maybe it's time to close this issue.

[2022-08-29 06:44] xzyangPlus opened #36382 "A translation error"
I noticed a translation error at https://kubernetes.io/zh-cn/docs/reference/glossary/?all=true#term-containerd
. The brief description of each item will end with a “。”, but containerd does not have.

[2022-08-29 06:46] mk46 commented on #36382
/language zh

[2022-08-29 06:46] xzyangNB commented on #36382
/assign

[2022-08-29 06:46] xzyangNB commented on #36382
/language zh

[2022-08-29 06:47] twilight0620 opened #36383 "[zh] Translate better-docs-ux-with-docsy"
Problem:
do not have chinese docs: https://kubernetes.io/blog/2020/06/better-docs-ux-with-docsy/

Proposed Solution:
add chinese docs in website

Comments
/language zh
/assign

[2022-08-29 08:05] jihoon-seo commented on #36361
Relevant issues/PRs:
- #34447
- #34736
- #36003

[2022-08-29 09:45] houko opened #36385 "使用工作队列进行粗粒度并行处理"
[code]

执行下面这句话时会报错
[code]

<img width="1833" alt="image" src="https://user-images.githubusercontent.com/12625278/187173418-1463c7e0-e972-4ad0-8292-7d8c489f7820.png">

把 `-d foo`去掉的话会出下面这个错误
<img width="783" alt="image" src="https://user-images.githubusercontent.com/12625278/187173512-673e6884-1b7a-412a-8bf6-d1658292c5d9.png">

[2022-08-29 10:10] funkypenguin commented on #30661
/remove-lifecycle stale

[2022-08-29 10:35] seokho-son commented on #35780
Hi @Sea-n

I saw this case today again.
https://app.netlify.com/sites/kubernetes-io-main-staging/deploys/630c2f1f8127f50008098e59
It seems the problem hasn't been fully resolved yet.

I heard @having-dlrow is also trying to find out cause of this issue (testing Hugo build locally with debug mode). :)

[2022-08-29 12:28] tengqm opened #36386 "Confusing text on User Namespaces page"
**This is a Bug Report**

**Problem:**

Below is the text from the 3rd paragraph of the section **Understanding user namespaces for stateless pods** on page https://kubernetes.io/docs/concepts/workloads/pods/user-namespaces/#understanding-user-namespaces-for-stateless-pods

This is not good English. The command `ps` command doesn't show the user ID or user name.

**Proposed Solution:**

Revise the

[2022-08-29 12:33] tengqm commented on #36386
@rata

[2022-08-29 14:29] a-mccarthy commented on #35932
@rolfedh Once you PR merges, we should plan to add this topic to a localization meeting and post a message in the localization slack channel. We can also send an email, re post messages in slack for additional visibility. We should make sure the message includes all the steps needed o implement this and any urgency/priority around this change for the localization teams

By a partial fix in your PR

[2022-08-29 14:41] rolfedh commented on #35932
@a-mccarthy Yes, exactly. Once this PR merges, I would do all the things you've suggested above or arrange with someone to do them. I'll create separate issues for each of the localization teams to update their branches as needed. This is not a breaking change, so there is no urgency.

[2022-08-29 14:44] danninov commented on #28772
/remove-lifecycle rotten

[2022-08-29 15:34] tonyhan18 opened #36392 "[ko]Translate content/en/docs/reference/glossary/*.md files into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate content/en/docs/reference/glossary/*.md files into Korean
page: https://kubernetes.io/ko/docs/reference/glossary/?all=true
File: https://github.com/kubernetes/website/content/en/docs/reference/glossary under files

- application-architect
- application-developer
- cadvisor
- cluster-architect
- cluster-operations
- clust

[2022-08-29 15:36] a-mccarthy commented on #28616
/assign

I'd like to take a look at this

[2022-08-29 15:58] MikeSpreitzer opened #36393 "Confusing term "isolation class" in APF doc"
**This is a Bug Report**

**Problem:**
Someone reading https://kubernetes.io/docs/concepts/cluster-administration/flow-control/# was not able to discern the intended meaning of the term "isolation class".  See https://kubernetes.slack.com/archives/C01G8RY7XD3/p1661569471734649 .

This term is only used twice, and is used in a way that is synonymous with another term already introduced ("priority l

[2022-08-29 16:12] seokho-son commented on #35438
/close

[2022-08-29 16:13] #35438 closed

[2022-08-29 16:17] seokho-son commented on #35479
@WESTZERO115
혹시 해당 작업에 어려움이 있으시면 알려주세요~ :)
(열었다가 닫으신 PR 흔적이 있어서.. ㅎㅎ)

[2022-08-29 16:40] seokho-son commented on #36392
/language ko

[2022-08-29 17:37] NitishKumar06 commented on #36393
/assign

[2022-08-29 18:40] medyagh commented on #35519
Why is that do you mind sharing the data to back up that opinion ? according to the CNCF surveys minikube is the most popular way to start Kubernetes

[2022-08-29 18:41] medyagh commented on #35519
That seems lime a fair thing to do, who would be a good person to start this discussion ?

[2022-08-29 19:08] a-mccarthy commented on #28616
To summarize: Localizations should have the same links listed in their side nav as in the english language docs, regardless of whether the pages have been translated. This is because there is a "fallback" set up to display a link to the english language docs if a page has not yet been translated. The fallback links to english docs for generated reference docs (kubeadm docs) are missing in localize

[2022-08-29 21:38] #33000 closed

[2022-08-29 23:46] tonyhan18 opened #36402 "[ko]Translate content/en/docs/setup/best-practices/enforcing-pod-security-standards.md file into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate content/en/docs/setup/best-practices/enforcing-pod-security-standards.md file into Korean
page: https://kubernetes.io/docs/setup/best-practices/enforcing-pod-security-standards/
File: https://github.com/kubernetes/website/content/en/docs/setup/best-practices/enforcing-pod-security-standards/

**Why is this needed**

not

[2022-08-30 00:40] jihoon-seo commented on #36402
@tonyhan18 관심 및 기여에 감사드립니다. 그런데 동일 페이지에 대해 [이슈](https://github.com/kubernetes/website/issues/35919)가 열려 있습니다.. 😅
/triage duplicate

[2022-08-30 01:31] #35812 closed

[2022-08-30 01:58] xzyangPlus opened #36403 "A document format error"
Hi All，I noticed a defect at  https://kubernetes.io/docs/reference/glossary/?all=true#term-containerd, and the brief description of each other item will end with ".", but containerd does not.

[2022-08-30 01:59] xzyangNB commented on #36403
/language_en

[2022-08-30 01:59] xzyangNB commented on #36403
/assign

[2022-08-30 02:39] rolfedh commented on #35932
I've tested to make sure this isn't a breaking change. If the `data/i18n/<lang>/<lang>.toml` file is missing the required entries, the `http://localhost:1313/<lang>/releases/` page falls back and uses the entries from `data/i18n/en/en.toml`

[2022-08-30 04:25] #36288 closed

[2022-08-30 04:30] divya-mohan0209 commented on #36393
/triage accepted

[2022-08-30 06:37] xzyangPlus opened #36409 "Wrong link context on Storage Classes page"
stay https://kubernetes.io/zh-cn/docs/concepts/storage/storage-classes/#vsphere In the page, the link at the text "vSphereVolume CSI 迁移" should be https://kubernetes.io/zh-cn/docs/concepts/storage/volumes/#vsphere -csi-migration

[2022-08-30 06:38] xzyangNB commented on #36409
/assign

[2022-08-30 06:38] xzyangNB commented on #36409
/language zh

[2022-08-30 09:45] #35828 closed

[2022-08-30 09:51] rogue-gamer-ryt commented on #30965
Hey @NitishKumar06 let me know if you are not working on this, I can pick it up :)

[2022-08-30 10:58] tonyhan18 commented on #36402
@jihoon-seo  취소하겠습니다

[2022-08-30 10:58] tonyhan18 commented on #36402
@jihoon-seo 취소하겠습니다

[2022-08-30 10:58] #36402 closed

[2022-08-30 12:01] t-inu commented on #35470
This file for the original page was renamed from `master-node-communication.md` to `control-plane-node-communication.md`, and some updates.
ref: https://github.com/kubernetes/website/pull/20265

The file for the Japanese page is not renamed yet.
So, "マスターとノード間の通信" remains and "Communication between Nodes and the Control Plane" for ja does not exist.

Japanese page also needs to be updated in the s

[2022-08-30 12:37] Sea-n commented on #36379
The content in `CONTRIBUTING.md` is just a brief summary of [Contribute to K8s docs](https://kubernetes.io/docs/contribute/) page.

The page is already translated here:
https://kubernetes.io/zh-cn/docs/contribute/

[2022-08-30 12:43] #36383 closed

[2022-08-30 13:17] tonyhan18 opened #36418 "[ko] Translate docs/concepts/overview/working-with-objects/owners-dependents.md into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate docs/concepts/overview/working-with-objects/owners-dependents.md into Korean.

Page: https://kubernetes.io/docs/concepts/overview/working-with-objects/owners-dependents/
File: https://github.com/kubernetes/website/blob/main/content/en/docs/concepts/overview/working-with-objects/owners-dependents.md

**Why is this needed*

[2022-08-30 14:28] #32322 closed

[2022-08-30 15:09] seokho-son commented on #36418
/language ko

[2022-08-30 15:10] seokho-son commented on #36418
/triage accepted

Thank you @tonyhan18  :)

[2022-08-30 15:37] NitishKumar06 commented on #30965
@rogue-gamer-ryt Go ahead and work on this issue. I'd love to see what changes you bring:)

[2022-08-30 15:38] NitishKumar06 commented on #30965
/unassign

[2022-08-30 16:20] prometherion opened #36420 "Updating Konnectivity to the official repository and pointing to last image"
**This is a Bug Report**

**Problem:**

The current documentation is still referring to the non-official Kubernetes container image repository introduced starting from v1.25 (`registry.k8s.io`) and referring to an outdated version.

**Proposed Solution:**

I can take care of the PR updating the content.

**Page to Update:**

https://kubernetes.io/docs/tasks/extend-kubernetes/setup-konnectivity/

[2022-08-30 16:31] kadtendulkar opened #36422 "Broken link on Windows Storage page"
**Problem:**
The text [**FlexVolume plugins**](https://kubernetes.io/docs/concepts/storage/volumes/#flexVolume) on [link](https://kubernetes.io/docs/concepts/storage/windows-storage/) is not working, it should point to this https://kubernetes.io/docs/concepts/storage/volumes/#flexvolume-deprecated
Check the page [Windows Storage](https://kubernetes.io/docs/concepts/storage/windows-storage/) for th

[2022-08-30 17:49] santkuma77 opened #36424 "Pod Deployment going to pending state when there are multiple profiles"
Hi,

My pod deployments are going to pending state when I have multiple profiles(default and custom). Also it's in pending state forever. I don't see any events or logs for this.

My deployment file - nginx_deployment.yaml:
--------------
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ngin

[2022-08-31 01:31] WeibingChen opened #36428 "Pod Security Policies"
I know PSP is removed in 1.25. But where can I find the old doc of PSP? Is there any link to the old PSP doc?

[2022-08-31 03:24] mk46 commented on #30104
/remove-lifecycle stale

[2022-08-31 03:29] mk46 commented on #36422
/triage accepted

[2022-08-31 03:39] #36422 closed

[2022-08-31 05:29] YashPimple commented on #36386
/triage accepted

[2022-08-31 05:30] YashPimple commented on #36386
/assign

[2022-08-31 05:56] i-dipanshu opened #36433 "Missing glossary_tooltip text"
Missing text for pod `{{< glossary_tooltip term_id="pod" >}}` in [refer](https://github.com/kubernetes/website/blob/f8a312392e8b0efb6aae63ef8d04cc3f1cb81465/content/en/docs/reference/glossary/volume.md?plain=1#L14)

[2022-08-31 06:29] tengqm commented on #36428
Switch over to the version before 1.25 on the main docs site.
/close

[2022-08-31 06:29] #36428 closed

[2022-08-31 07:04] sarazqy opened #36439 "misssing Chinese translation docs: content/en/blog/_posts/2022-08-31-cgroupv2-ga.md"
This is a Feature Report

Problem:
misssing Chinese translation docs:

content/en/blog/_posts/2022-08-31-cgroupv2-ga.md

URL： https://kubernetes.io/blog/2022/08/31/cgroupv2-ga-1-25/

Proposed Solution:
add Chinese translation docs in website Kubernetes Blog

Comments
/language zh
/assign

[2022-08-31 07:06] sarazqy opened #36440 "misssing Chinese translation docs: content/en/blog/_posts/2022-08-16-PSP-historical-context/index.md"
This is a Feature Report

Problem:
misssing Chinese translation docs:

content/en/blog/_posts/2022-08-16-PSP-historical-context/index.md

URL： https://kubernetes.io/blog/2022/08/23/podsecuritypolicy-the-historical-context/

Proposed Solution:
add Chinese translation docs in website Kubernetes Blog

Comments
/language zh
/assign

[2022-08-31 07:09] sarazqy opened #36441 "misssing Chinese translation docs: content/en/blog/_posts/2022-08-29-csi-inline-volumes-ga.md"
This is a Feature Report

Problem:
misssing Chinese translation docs:

content/en/blog/_posts/2022-08-29-csi-inline-volumes-ga.md

URL： https://kubernetes.io/blog/2022/08/29/csi-inline-volumes-ga/

Proposed Solution:
add Chinese translation docs in website Kubernetes Blog

Comments
/language zh
/assign

[2022-08-31 07:10] sarazqy opened #36442 "misssing Chinese translation docs: content/en/blog/_posts/2022-08-25-pod-security/index.md"
This is a Feature Report

Problem:
misssing Chinese translation docs:
content/en/blog/_posts/2022-08-25-pod-security/index.md

URL： https://kubernetes.io/blog/2022/08/25/pod-security-admission-stable/

Proposed Solution:
add Chinese translation docs in website Kubernetes Blog

Comments
/language zh
/assign

[2022-08-31 07:11] sarazqy opened #36443 "misssing Chinese translation docs: content/en/blog/_posts/2022-08-23-kubernetes-1.25-blog.md"
This is a Feature Report

Problem:
misssing Chinese translation docs:

content/en/blog/_posts/2022-08-23-kubernetes-1.25-blog.md

URL： https://kubernetes.io/blog/2022/08/23/kubernetes-v1-25-release/

Proposed Solution:
add Chinese translation docs in website Kubernetes Blog

Comments
/language zh
/assign

[2022-08-31 08:09] Seo-yul opened #36445 "[ko] Translate content/en/docs/tasks/debug/debug-cluster/crictl into Korean"
This is a Feature Request

What would you like to be added
Translate content/en/docs/tasks/debug/debug-cluster/crictl.md into Korean

◾ Page: https://kubernetes.io/docs/tasks/debug/debug-cluster/crictl/
◾ File: https://github.com/kubernetes/website/blob/dev-1.24-ko.3/content/en/docs/tasks/debug/debug-cluster/crictl.md

Why is this needed
Not translated yet

Comments
/language ko
/assign

[2022-08-31 08:11] Seo-yul commented on #36445
/assign

[2022-08-31 08:17] #36445 closed

[2022-08-31 08:23] RA489 commented on #31544
/remove-lifecycle stale

[2022-08-31 08:23] RA489 commented on #29760
/remove-lifecycle stale

[2022-08-31 08:42] Seo-yul opened #36446 "[ko] Translate content/en/docs/tasks/kubelet-credential-provider/kubelet-credential-provider into Korean"
This is a Feature Request

What would you like to be added
Translate content/en/docs/tasks/kubelet-credential-provider/kubelet-credential-provider.md into Korean

◾ Page: https://kubernetes.io/docs/tasks/kubelet-credential-provider/kubelet-credential-provider/
◾ File: https://github.com/kubernetes/website/blob/dev-1.24-ko.3/content/en/docs/tasks/kubelet-credential-provider/kubelet-credential-provi

[2022-08-31 08:59] mack1024 opened #36447 "There are errors in the document of《为 Kubernetes 文档出一份力》"
Hi, I found a problem in the document. There is navigation on the right side of the English document, but there is no navigation on the right side of the Chinese document. I want to correct this error.

Chinese document :  https://kubernetes.io/zh-cn/docs/contribute/
English document :  https://kubernetes.io/docs/contribute/

![图片](https://user-images.githubusercontent.com/42838155/187638858-a1e15

[2022-08-31 09:11] #35184 closed

[2022-08-31 09:39] mack1024 commented on #36447
May I correct this error?

[2022-08-31 09:47] anubha-v-ardhan commented on #29353
Closing this issue
Hindi localization is live now with merge of #29679
Great work everyone!

[2022-08-31 10:08] sftim commented on #29353
It's OK (and a good idea) to open a new tracking issue to cover future work on Hindi.

Is it OK to delete the branch _dev-1.22-hi.1_ now?

[2022-08-31 10:14] sftim opened #36450 "https://kubernetes.io/docs/concepts/workloads/pods/ implies Docker support"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/concepts/workloads/pods/ implies that Kubernetes has Docker Engine support. In fact, Docker Engine only works with Kubernetes if you either:
- connect Kubernetes to the containerd that makes Docker Engine work
- use an adapter such as `cri-dockerd`

**Proposed Solution:**
Pick an option:
1. Reword the sentence:

2. Make a bigger rev

[2022-08-31 10:15] rolfedh opened #36451 "[hi] Put together a "welcome package" of information to share with new volunteers on #kubernetes-docs-hi"
For folks who express an interest in volunteering for /hi localization on #kubernetes-docs-hi and elsewhere, it would be nice to establish ways of:
- Welcoming them.
- Providing the information they need to get started.
- Connect them with an onboarding friend who can answer their questions and show them the way.

The welcoming might be done by agreement among the team.

The information package mi

[2022-08-31 10:17] verma-kunal commented on #29353
I totally agree with this!

I believe if we'll directly be making PRs to the main branch, then we could delete.
There was a conversation about making PRs from dev-1.22-hi.1 branch in batches of 5-10 localised pages to the main branch!
Was any decision made on what approach we'll be following?!

[2022-08-31 10:23] rolfedh commented on #36451
/language hi

[2022-08-31 10:38] winhvu opened #36453 "Unclear / misleading docs on attribution of memory that containers write to `emptyDir` volumes"
According to documentation at https://kubernetes.io/docs/concepts/storage/volumes/#emptydir:

With above statement, I understand that every data that is written to emptyDir should be counted to memory of container even after the container comes up from a restart if the data still remains in the emptyDir volume.

However, it does not happen that way on my environment.  The below info is extracted f

[2022-08-31 11:07] #36346 closed

[2022-08-31 11:30] rolfedh opened #36455 "[hi] Umbrella project: Localize "Contribute to K8s docs" subtopics to Hindi"
Umbrella project: Localize the subtopics in the "[Contribute to K8s docs](https://kubernetes.io/docs/contribute/)" section to Hindi.

Tasks:
1. Get a review/triage of this project.
2. If accepted, create subtasks for each topic.
3. Communicate tasks to the team.
  - Ask for volunteer contributors.
  - Ask that volunteers self-assign only one at one time. It should be complete before they self-assi

[2022-08-31 11:30] rolfedh commented on #36455
/language hi

[2022-08-31 11:34] rolfedh commented on #36455
/hold
Hold until triaged.

[2022-08-31 11:57] sarahbx opened #36456 "ControllerRevision doc update"
https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/controller-revision-v1/

Considering this is `apps/v1` should this 'beta' note be updated/removed?

[2022-08-31 12:00] rolfedh commented on #36451
/assign @amolmote @bishal7679
Thank you both for volunteering. Let's work together on this together.

[2022-08-31 12:30] amolmote commented on #36451
I think I require to comment on this PR then only command will work

[2022-08-31 12:33] amolmote commented on #36451
Glad to be the part of this feature 🎉😊

[2022-08-31 12:54] Seo-yul commented on #35437
혹여, 개인사정이 아직 있으시다면 제가 이 이슈를 받을 수 있을까요?

[2022-08-31 12:55] souravsk commented on #36450
Hi @sftim is this work fine or if you like to add something

[2022-08-31 14:05] a-mccarthy commented on #32873
I checked out the linked example, but its seems to be working now. Does someone know of another example of the horizontal scrollbars not working correct?

@sftim I think this might be something else fixed by upgrading the [docsy version](https://github.com/kubernetes/website/pull/32906).

[2022-08-31 14:10] sftim commented on #32873
I can no longer replicate this. :tada:

/close

@alfahadp if this is still happening, you're welcome to either reply to this comment or to reopen the issue.

[2022-08-31 14:10] #32873 closed

[2022-08-31 15:49] pcgeek86 commented on #36393
This is what I originally posted in the #api-priority-and-fairness Slack channel. Thanks for filing this on GitHub, Mike.

![image](https://user-images.githubusercontent.com/466713/187722481-fc09c35b-f886-41fe-86d4-165108330213.png)

[2022-08-31 15:55] rolfedh commented on #36455
Hi @bishal7679. I've updated the description to be clearer. These subtopics need to be localized to help other contributors join the project.
![image](https://user-images.githubusercontent.com/350907/187723842-6e35e8e1-8555-41ce-af55-81f0e9467b89.png)

[2022-08-31 16:31] rolfedh commented on #36455
@bishal7679 Yes.
- You can create an issue for each topic.
- In each issue, you can comment `Subtask for https://github.com/kubernetes/website/issues/36455`.
- You can also add a comment here with a list of the subtasks:
[code]

The nice thing about these links is that they show the status of the issue.

Then, you can post each issue in #kubernetes-docs-hi and try to get one volunteer for each one

[2022-08-31 16:59] amolmote commented on #36455
That's great Idea, everyone will get a chance to contribute.@bishal7679  start raising issues, we will follow according to you. As you clarity of everything, take initiative of this , we will complete this as soon as possible.

[2022-08-31 17:18] #36420 closed

[2022-08-31 17:59] BenTheElder commented on #30965
At this point we're pretty unlikely to be testing things on docker as a runtime given it hasn't been supported for multiple releases (unless using cri-dockerd, which may have it's own breakage).

Also, FWIW, generally workloads should not be container runtime sensitive, though some unusual edge cases exist mostly which are also technically configurable etc. and can be different even using the same

[2022-08-31 18:32] bishal7679 opened #36465 "[hi] Localize en/docs/contribute/new-content/open-a-pr.md"
`[hi] Localize en/docs/contribute/new-content/open-a-pr.md`

# Prerequisites:
- If this is your first contribution, visit [Contribute to K8s docs](https://kubernetes.io/docs/contribute/) for information on how to get started.
- Review a few [examples of localized glossary entries](https://github.com/kubernetes/website/issues/36455#issuecomment-1233300585) to see which content you change and which

[2022-08-31 18:39] bishal7679 opened #36468 "[hi] Localize en/docs/contribute/new-content/new-features.md"
`[hi] Localize en/docs/contribute/new-content/new-features.md`

# Prerequisites:
- If this is your first contribution, visit [Contribute to K8s docs](https://kubernetes.io/docs/contribute/) for information on how to get started.
- Review a few [examples of localized glossary entries](https://github.com/kubernetes/website/issues/36455#issuecomment-1233300585) to see which content you change and whi

[2022-08-31 18:43] bishal7679 opened #36469 "[hi] Localize en/docs/contribute/_index.md"
`[hi] Localize en/docs/contribute/_index.md`

# Prerequisites:
- If this is your first contribution, visit [Contribute to K8s docs](https://kubernetes.io/docs/contribute/) for information on how to get started.
- Review a few [examples of localized glossary entries](https://github.com/kubernetes/website/issues/36455#issuecomment-1233300585) to see which content you change and which you live unchan

[2022-08-31 18:46] bishal7679 opened #36470 "[hi] Localize en/docs/contribute/localization.md"
`[hi] Localize en/docs/contribute/localization.md`

# Prerequisites:
- If this is your first contribution, visit [Contribute to K8s docs](https://kubernetes.io/docs/contribute/) for information on how to get started.
- Review a few [examples of localized glossary entries](https://github.com/kubernetes/website/issues/36455#issuecomment-1233300585) to see which content you change and which you live

[2022-08-31 18:49] bishal7679 opened #36471 "[hi] Localize en/docs/contribute/participate/_index.md"
`[hi] Localize en/docs/contribute/participate/_index.md`

# Prerequisites:
- If this is your first contribution, visit [Contribute to K8s docs](https://kubernetes.io/docs/contribute/) for information on how to get started.
- Review a few [examples of localized glossary entries](https://github.com/kubernetes/website/issues/36455#issuecomment-1233300585) to see which content you change and which you

[2022-08-31 18:59] bishal7679 opened #36473 "[hi] Localize en/docs/contribute/participate/roles-and-responsibilities.md"
`[hi] Localize en/docs/contribute/participate/roles-and-responsibilities.md`

# Prerequisites:
- If this is your first contribution, visit [Contribute to K8s docs](https://kubernetes.io/docs/contribute/) for information on how to get started.
- Review a few [examples of localized glossary entries](https://github.com/kubernetes/website/issues/36455#issuecomment-1233300585) to see which content you

[2022-08-31 19:01] bishal7679 opened #36474 "[hi] Localize en/docs/contribute/review/for-approvers.md"
`[hi] Localize en/docs/contribute/review/for-approvers.md`

# Prerequisites:
- If this is your first contribution, visit [Contribute to K8s docs](https://kubernetes.io/docs/contribute/) for information on how to get started.
- Review a few [examples of localized glossary entries](https://github.com/kubernetes/website/issues/36455#issuecomment-1233300585) to see which content you change and which y

[2022-08-31 20:18] rolfedh commented on #36455
Please add the "language/hi" label to these issues by commenting `/language hi` on each one.

[2022-08-31 20:21] rolfedh commented on #36455
I should have provided an example or template for the issues. The current one is for a different type of issue. Please use this issue as an example instead: https://github.com/kubernetes/website/issues/35939

[2022-08-31 20:23] rolfedh commented on #36455
Here's the raw text you can use as a template. Replace the filename string and
[code]

[2022-08-31 21:38] Riaankl commented on #31557
/remove-lifecycle stale

[2022-08-31 23:52] tengqm commented on #36447
@mack1024 Please go ahead and try fix it.
/assign @mack1024

[2022-09-01 00:04] nine01223 commented on #35437
넵. 대신 받아주셔도 됩니다. 열정적 도움에 진심으로 감사드립니다.

[2022-09-01 00:22] NitishKumar06 commented on #36465
/assign

[2022-09-01 00:25] NitishKumar06 commented on #36474
/assign

[2022-09-01 01:50] zhangxyjlu opened #36476 "[zh-cn]Translate Chinese version for kube-scheduler-config.v1.md"
**This is a Feature Request**

This page https://kubernetes.io/docs/reference/config-api/kube-scheduler-config.v1/ has no Chinese version

**What would you like to be added**

Translate Chinese version for kube-scheduler-config.v1.md

Comments
/language zh
/assign

[2022-09-01 02:17] amolmote commented on #36468
/assign

[2022-09-01 02:46] #36469 closed, assigned to nobody

[2022-09-01 04:15] seokho-son commented on #35786
/triage accepted

[2022-09-01 06:03] Seo-yul commented on #35437
감사합니다

[2022-09-01 06:04] Seo-yul commented on #35437
/assign @Seo-yul

[2022-09-01 07:25] #35932 closed

[2022-09-01 07:46] anubha-v-ardhan commented on #29353
Let's discuss on Slack

[2022-09-01 07:46] tengqm opened #36485 "[zh-cn] Page content/en/docs//tasks/job/pod-failure-policy.md not localized"
Need translation.
/language zh
/help

[2022-09-01 07:49] tengqm opened #36487 "[zh-cn] translate user namespaces task page"
The following file is not translated:

content/en/docs//tasks/configure-pod-container/user-namespaces.md

/language zh
/help

[2022-09-01 08:05] mk46 commented on #31491
/remove-lifecycle stale

[2022-09-01 08:11] anubha-v-ardhan commented on #36455
/triage accepted

[2022-09-01 08:15] anubha-v-ardhan commented on #29353
Good idea @sftim but looks like folks have already started working under umbrella issues such as #36455 and #35600 making separate issues for each page.

[2022-09-01 08:18] anubha-v-ardhan commented on #31600
Not required anymore

[2022-09-01 08:18] #31600 closed

[2022-09-01 08:19] anubha-v-ardhan commented on #35063
/triage accepted

[2022-09-01 08:21] sarazqy commented on #36439
/triage accepted

[2022-09-01 08:22] anubha-v-ardhan commented on #30571
We'll open a fresh issue if we plan to localize this page. Closing this issue to clean things a bit.

[2022-09-01 08:22] #30571 closed

[2022-09-01 08:25] anubha-v-ardhan commented on #35934
/remove-good-first-issue
We usually don't prefer putting this label on localization work as they are not "zero barrier" and "easy" most of the times

[2022-09-01 10:02] rolfedh commented on #36455
Hi, @bishal7679. Thanks for making these updates. However, the old instructions must be removed. They do not make sense here.

[2022-09-01 10:12] dilyanpalauzov opened #36492 "Unclear default value for KubeletConfiguration.cgroupDriver"
https://kubernetes.io/docs/reference/config-api/kubelet-config.v1beta1/#kubelet-config-k8s-io-v1beta1-KubeletConfiguration says the default value for `cgroupDriver` is `"cgroupfs"`.

https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/configure-cgroup-driver/#configuring-the-kubelet-cgroup-driver says:

The latter does not say, that prior to 1.23 (thus 1.22, 1.21, 1.20) the default was `sy

[2022-09-01 10:18] ashish-jaiswar commented on #36473
/assign

[2022-09-01 10:19] ashish-jaiswar commented on #36470
/assign

[2022-09-01 11:10] dilyanpalauzov commented on #36492
Ah, so the default cgroup driver for kubelet is cgroupfs, while for kubeadm the default is systemd.

This shall be spelled explicitly, as it is counter-intuitive.

My understanding so far is, that the systemd-driver supports kernel’s cgroup v2, while kubernetes’ cgroup-driver does not support kernel’s cgroup v2.  This shall also be spelled explicitly, as it is confusing.

[2022-09-01 11:31] thernstig opened #36494 "Unclear information about `emptyDir` volumes and relation to memory resource usage in a container / Pod"
# This is a Feature Request

There is no good information in the documentation of how an `emptyDir` volume, mounted into more than one container, is counted towards each container's resource usage.

### Details

#### What would you like to be added?

Proper information about how file content added to an `emptyDir`, that is mounted into multiple containers, is calculated towards the container(s) re

[2022-09-01 12:14] UlrichKnaack opened #36495 "in example, nslookup doesn't work when following example with Rancher Desktop"
Hi,

I followed the steps on https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/

when I try `kubectl run curl --image=radial/busyboxplus:curl -i --tty` and `nslookup my-nginx` , the output is:

[code]

Output from `kubectl exec my-nginx-df7bbf6f5-bgsgn -- printenv | grep SERV` is
[code]

This is executed correctly: `curl www.google.de` in the cluster.

I'm using

[2022-09-01 12:53] #36476 closed

[2022-09-01 13:20] rupadhy3 opened #36500 "Getting started]"

[2022-09-01 13:51] #36500 closed

[2022-09-01 15:21] Seo-yul opened #36503 "[ko] Translate content/en/docs/tasks/extend-kubernetes/http-proxy-access-api into Korean"
This is a Feature Request

What would you like to be added
Translate content/en/docs/tasks/extend-kubernetes/http-proxy-access-api.md into Korean

◾ Page: https://kubernetes.io/docs/tasks/extend-kubernetes/http-proxy-access-api/
◾ File: https://github.com/kubernetes/website/blob/dev-1.24-ko.3/content/en/docs/tasks/extend-kubernetes/http-proxy-access-api.md

Why is this needed
Not translated yet

[2022-09-01 15:21] Seo-yul commented on #36503
/language ko
/assign

[2022-09-01 15:51] #32700 closed

[2022-09-01 16:05] santkuma77 commented on #36424
Opened at wrong place. Let me open it in appropriate place.

[2022-09-01 16:05] #36424 closed

[2022-09-01 17:19] Seo-yul opened #36508 "[ko] Translate content/en/docs/reference/node/topics-on-dockershim-and-cri-compatible-runtimes into Korean"
This is a Feature Request

What would you like to be added
Translate content/en/docs/reference/node/topics-on-dockershim-and-cri-compatible-runtimes.md into Korean

◾ Page: https://kubernetes.io/docs/reference/node/topics-on-dockershim-and-cri-compatible-runtimes/
◾ File: https://github.com/kubernetes/website/blob/dev-1.24-ko.3/content/en/docs/reference/node/topics-on-dockershim-and-cri-compatible

[2022-09-01 17:19] Seo-yul commented on #36508
/language ko
/assign

[2022-09-01 17:48] bishal7679 opened #36510 "[hi] Localize en/docs/contribute/style/_index.md"
`[hi] Localize en/docs/contribute/style/_index.md`

# Prerequisites:
- If this is your first contribution, visit [Contribute to K8s docs](https://kubernetes.io/docs/contribute/) for information on how to get started.
- Review a few [examples of localized glossary entries](https://github.com/kubernetes/website/issues/36455#issuecomment-1233300585) to see which content you change and which you live

[2022-09-01 18:34] bishal7679 opened #36512 "[hi] Localize en/docs/contribute/review/reviewing-prs.md"
`[hi] Localize en/docs/contribute/review/reviewing-prs.md`

# Prerequisites:
- If this is your first contribution, visit [Contribute to K8s docs](https://kubernetes.io/docs/contribute/) for information on how to get started.
- Review a few [examples of localized glossary entries](https://github.com/kubernetes/website/issues/36455#issuecomment-1233300585) to see which content you change and which y

[2022-09-01 19:06] sftim commented on #36453
/language en

I thought that was true, but maybe it's wrong. I wonder if the tmpfs is now charged against the Pod rather than a specific container?

[2022-09-01 19:08] rolfedh commented on #36455
Please ask new contributors to read the localization style guide that @AmanSarraf has made available here: https://github.com/kubernetes/website/pull/36133 (waiting for review and merge).

[2022-09-01 20:03] liggitt commented on #12325
/reopen

[2022-09-01 20:04] liggitt commented on #12325
/remove-lifecycle rotten

[2022-09-01 20:04] liggitt commented on #12327
/reopen
/remove-lifecycle rotten

[2022-09-01 20:05] liggitt commented on #12328
/reopen
/remove-lifecycle rotten

[2022-09-01 20:06] liggitt commented on #12329
👋  looks like three of the closes were because the issues went stale :-/

[2022-09-01 20:18] sftim commented on #12329
I'd keep this open until we've got a clear reason to close it.

I agree with maintaining
/lifecycle frozen

[2022-09-01 20:21] sftim commented on #36456
Here's where it's wrong:
https://github.com/kubernetes/kubernetes/blob/6e9845f766e4d34620835aaa1e5f864211471a50/staging/src/k8s.io/api/apps/v1/types.go#L897

Looks like that text was missed when the API was promoted to stable.

[2022-09-01 23:44] ziyi-xie opened #36515 "[ja] /content/ja/docs/concepts/workloads/pods/init-containers.md is outdated"
**This is a Feature Request**

**What would you like to be added**

Updated Japanese translation for the [/content/ja/docs/concepts/workloads/pods/init-containers.md](https://kubernetes.io/ja/docs/concepts/workloads/pods/init-containers/) file.

**Why is this needed**
There are several updates in [the original English text](https://github.com/kubernetes/website/blob/main/content/en/docs/concepts/w

[2022-09-02 02:18] #36280 closed

[2022-09-02 03:10] legendarykamal commented on #36512
/assign

[2022-09-02 05:49] nicholasyin opened #36521 "Improvement for k8s.io/docs/tasks/configure-pod-container/pull-image-private-registry/"
But the document doesn't say what to do in this kind of case. Creating a secret using --from-file in this case won't work; instead have to create the secret by passing the --docker-server etc arguments.

[2022-09-02 07:48] Seo-yul commented on #35090
I received the issue through consultation.
Thank you @jinnypark9393

[2022-09-02 07:48] Seo-yul commented on #35090
/assign @Seo-yul

[2022-09-02 08:29] peizhouyu commented on #36487
/assign

[2022-09-02 08:37] taniaduggal commented on #35600
I am working on content/en/docs/reference/glosaary/daemonset.md

[2022-09-02 09:04] bandya2003 commented on #36474
/assign

[2022-09-02 10:29] sftim opened #36526 "Document YAML compatibility bug"
**This is a Feature Request**

**What would you like to be added**
https://github.com/kubernetes/kubernetes/issues/34146 describes a bug in Kubernetes where YAML 1.2 documents are not parsed (Kubernetes does not have good support for YAML 1.1), but then also Kubernetes does incorrectly parse completely valid YAML 1.1 the way that the specification defines.

**Why is this needed**
The bug makes it

[2022-09-02 12:04] Shubham82 opened #36527 "Mention bug in StatefulSets and DaemonSets where pod count in status can be invalid"
**Problem:**
When we apply the ResourceQuota(limit the number of pods) on the Namespace then the StatefulSet/DaemonSet which deploys in that namespace reports invalid status.
For example, if we will limit the no. of pods in a Namespace to 2. After that when we will deploy StatefulSet or DaemonSet in that Namespace, it will run only 2 pods but when we will the status of the StatefulSet or DaemonSet

[2022-09-02 12:07] Shubham82 commented on #36527
maybe
/kind feature

[2022-09-02 12:13] Shubham82 commented on #36527
/sig docs

PTAL!

[2022-09-02 13:09] UtkarshMishra12 opened #36528 "Fix Typo"
The spelling of the **management** i.e [mangement](https://kubernetes.io/docs/concepts/architecture/cgroups/) is wrong, I'm attaching the screenshot of the same.
May I open a new PR correcting the spelling?

![image](https://user-images.githubusercontent.com/67385503/188152443-6164c190-51fa-4d67-94ee-d0bf79304cf4.png)

[2022-09-02 13:55] #36338 closed

[2022-09-02 14:01] #32742 closed

[2022-09-02 14:01] #32740 closed

[2022-09-02 14:18] bells17 commented on #36528
/triage accepted
/assign @UtkarshMishra12

[2022-09-02 14:41] bandya2003 commented on #36474
@bishal7679 I have started working on localizing the content

[2022-09-02 14:51] NitishKumar06 commented on #36474
Hey bandya! It's a good practice to always ask the assignee before working
on an issue which has already been assigned.

I'm currently working on this issue and will raise a PR soon

Please find some other issue to look for:)

Thank you!

On Fri, 2 Sep, 2022, 8:11 pm bandya2003, ***@***.***> wrote:

[2022-09-02 14:57] bandya2003 commented on #36474
@NitishKumar06 ok fine ,I'll work on some other issue then

[2022-09-02 14:58] bandya2003 commented on #36474
sure thanks a lot @bishal7679

[2022-09-02 15:03] Polokghosh53 commented on #36473
Mind if I work on this? @bishal7679

[2022-09-02 15:28] Polokghosh53 commented on #36473
Sure thing. Since this md file is big enough, would definitely reach out to you if I encounter something. Thanks👍🏻

[2022-09-02 16:02] sftim opened #36533 "Set up a High Availability etcd Cluster with kubeadm mentions testing with Docker"
**This is a Bug Report**

**Problem:**
[Set up a High Availability etcd Cluster with kubeadm](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm/) mentions that you can check the static Pods by running a `docker` command.
This is unlikely - Kubernetes doesn't support Docker Engine natively any more.

**Proposed Solution:**
Remove the mention of `docker

[2022-09-02 16:20] rolfedh commented on #36451
@anubha-v-ardhan 's tracker https://github.com/kubernetes/website/issues/29353 contains some interesting links for contributors that we should include in a welcome package.

[2022-09-02 16:40] #36528 closed

[2022-09-02 17:01] #32753 closed

[2022-09-02 18:41] drohnow opened #36537 "Kubernetes 1.11: In-Cluster Load Balancing and CoreDNS Plugin Graduate to General Availability"
Per the release notes, IPVS is not yet the default when is went GA in release 1.11.  Can you tell me when IPVS replaced IPTables as default proxy mode?

[2022-09-03 01:58] ziyi-xie opened #36539 "[ja] /content/ja/docs/concepts/services-networking/ingress.md is outdated"
**This is a Feature Request**

**What would you like to be added**

Updated Japanese translation for the [/content/ja/docs/concepts/services-networking/ingress.md](https://kubernetes.io/ja/docs/concepts/services-networking/ingress/) file.

**Why is this needed**
There are several updates in [the original English text](https://github.com/kubernetes/website/blob/main/content/en/docs/concepts/service

[2022-09-03 02:28] frsh-augustin opened #36540 "Improvement for k8s.io/docs/tasks/configure-pod-container/quality-service-pod/"
Hi Team，
In this document, it is mentioned at the begining `Kubernetes uses QoS classes to make decisions about scheduling and evicting Pods.`

But I don't see any descriptions that explains the behavior of the QoS classes when the pod is scheduled and evicted. Can you please improve this document and elaborate?
- Guaranteed
- Burstable
- BestEffort

I see some documents like https://bytes.devopsc

[2022-09-03 04:24] #36166 closed

[2022-09-03 07:21] utkarsh-singh1 commented on #36338
/language en
/kind support

[2022-09-03 08:10] Michelle951 opened #36549 "[zh] localize PodSecurityPolicy-Past-Present-and-Future.md"
localized [podsecuritypolicy-deprecation-past-present-and-future](https://kubernetes.io//blog/2021/04/06/podsecuritypolicy-deprecation-past-present-and-future/) to Chinese

[2022-09-03 08:10] Michelle951 commented on #36549
/assign

[2022-09-03 09:05] mehabhalodiya commented on #34610
/unassign @NitishKumar06

[2022-09-03 09:12] jdbohrman commented on #34852
@a-mccarthy Hey Abagail! I am more than happy to dive deeper into this. Let me follow up next week after I've done a bit of research!

[2022-09-03 09:13] jdbohrman commented on #34852
I apologize for the delay in getting back to you all. I've been swamped lately 😅

[2022-09-03 10:21] UtkarshMishra12 opened #36554 "Typo on Guide for scheduling Windows containers in Kubernetes page"
The spelling of the **functionality** i.e funcationality is wrong, I'm attaching the screenshot for the same.
May I open a new PR correcting the spelling?
![Typo](https://user-images.githubusercontent.com/67385503/188266290-7efc4676-76a7-402d-bdd8-3b75ecda0c4b.png)

[2022-09-03 15:03] utkarsh-singh1 commented on #36554
Hi @UtkarshMishra12, you can raise a PR for that but also make sure to check for other errors on that same doc, also you can provide a link to that error instead of attaching a screenshot.

/language en

[2022-09-03 15:36] utkarsh-singh1 commented on #36540
Hi @frsh-augustin, can you specify what do you want to add in Gauranteed, Burstable and Best Effort ?

/language en

[2022-09-03 15:39] utkarsh-singh1 commented on #36537
Hi @drohnow, can you provide a link to the release page?

[2022-09-03 16:26] UtkarshMishra12 commented on #36554
Hey @utkarsh-singh1  I was working on this issue but @akankshakumari393  has made a PR, I have given a lot of o time to finding the bug and she has raised a PR, Is it not wrong?

[2022-09-03 16:31] akankshakumari393 commented on #36554
Hey @UtkarshMishra12 I did not check the comments here, you can Raise a PR if you want. I can close it. The issue was clear from the PR description. Let me know if you want me to close it. It wasn't assigned to anyone.

[2022-09-03 16:36] UtkarshMishra12 commented on #36554
Hey @akankshakumari393 Yes please close your PR, I had given time to find the bug. I'll be grateful to you.

[2022-09-03 16:36] utkarsh-singh1 commented on #36554
Hi @akankshakumari393, thanks for your response you can review the previous comments made on any issues and check if there is someone who already mentioned that they want to work on it and if you want to work on it you can ask the author of the issue.

[2022-09-03 16:38] akankshakumari393 commented on #36554
Yeah sure, I will close the PR. Not an issue. Thanks!!

[2022-09-03 16:48] UtkarshMishra12 commented on #36554
/assign

[2022-09-03 19:27] #33202 closed

[2022-09-03 19:28] rolfedh commented on #36203
Completed.

[2022-09-03 19:28] #36203 closed

[2022-09-03 19:35] rolfedh opened #36568 "[Umbrella issue] adopt new localization strings for releases page"
Now that https://github.com/kubernetes/website/issues/35932 is complete, I must take the follow up actions mentioned in [these comments](https://github.com/kubernetes/website/issues/35932#issuecomment-1230406887).

[2022-09-03 19:35] rolfedh commented on #36568
/assign

[2022-09-03 19:38] rolfedh commented on #36568
When those follow-up actions are complete, all localizations will display "Complete 1.25 Schedule and Changelog" in their releases page in their local language:
![image](https://user-images.githubusercontent.com/350907/188285494-acb9c88c-b42e-4423-b817-86395abc1f22.png)

[2022-09-03 23:18] JediSange commented on #20810
This is still happening for me.

[2022-09-03 23:18] JediSange commented on #20810
<img width="528" alt="Screen Shot 2022-09-03 at 7 17 54 PM" src="https://user-images.githubusercontent.com/832893/188290354-6167054d-6964-4792-bd38-3aea7140da35.png">

[2022-09-04 01:57] yugesh-github opened #36572 "Issue with k8s.io/docs/concepts/overview/working-with-objects/namespaces/"
What is the command to view / go inside namespace?

[2022-09-04 03:08] mehabhalodiya commented on #36526
/triage accepted

[2022-09-04 03:09] mehabhalodiya commented on #36450
/triage accepted

[2022-09-04 13:01] jihoon-seo commented on #35802
D1 제가 하겠습니다~
D1 처리하는 PR이 머지되면 #35841 도 업데이트 하겠습니다~

[2022-09-04 15:32] YashPimple commented on #36471
@bishal7679 are you working on this issue since I would like to work on it ?

[2022-09-04 16:21] #32770 closed

[2022-09-04 16:23] sftim opened #36589 "Sidebar menu blank for narrow viewports"
**This is a Bug Report**

**Expected**:
![Expected](https://user-images.githubusercontent.com/22591623/188323290-823518c2-abf8-4bc9-8262-dfcc991af9f3.png)

**Actual**:
![Actual](https://user-images.githubusercontent.com/22591623/188323297-8863b372-80db-47d9-a988-f289b4c79ca3.png)

**Proposed Solution:**
Using `git bisect` I found that merging PR #34794 introduced that bug.
Find a fix whilst ensuri

[2022-09-04 16:25] sftim commented on #36589
/triage accepted

[2022-09-04 16:26] sftim commented on #36568
/retitle [Umbrella issue] adopt new localization strings for releases page
/area localization

[2022-09-04 16:26] sftim commented on #36374
/area localization

[2022-09-04 16:26] sftim commented on #36163
/area localization

[2022-09-04 16:27] sftim commented on #35932
/area localization

[2022-09-04 16:27] sftim commented on #35599
/area localization

[2022-09-04 16:35] sftim opened #36591 "Update or remove https://kubernetes.io/docs/concepts/security/overview/"
**This is a Refactor request**

**Problem:**
The overview page at https://kubernetes.io/docs/concepts/security/overview/ is a bit out of date:
- no reference to https://kubernetes.io/docs/concepts/security/security-checklist/
- I'm not convinced that the “Four Cs of cloud native security” model is useful for readers to learn
- **Does not align with other CNCF documents, such as https://github.com/

[2022-09-04 16:36] sftim commented on #36591
If we keep the link to https://www.huaweicloud.com/securecenter/overallsafety then we should update it to be https://www.huaweicloud.com/intl/en-us/securecenter/overallsafety as this is the **English** docs.

[2022-09-04 17:28] YashPimple commented on #36471
sure @bishal7679 can you assign me beginner friendly issue would love to work on that.

[2022-09-04 17:34] bishal7679 opened #36594 "[hi] Localize en/docs/contribute/style/page-content-types.md"
`[hi] Localize en/docs/contribute/style/page-content-types.md`

# Prerequisites:
- If this is your first contribution, visit [Contribute to K8s docs](https://kubernetes.io/docs/contribute/) for information on how to get started.
- Review a few [examples of localized glossary entries](https://github.com/kubernetes/website/issues/36455#issuecomment-1233300585) to see which content you change and whi

[2022-09-04 18:12] YashPimple commented on #36471
Sure. Thank You @bishal7679

[2022-09-04 18:12] YashPimple commented on #36594
/assign

[2022-09-04 18:15] YashPimple commented on #36471
Sure and Thank You @bishal7679 for raising the issue.

[2022-09-04 21:26] sftim commented on #36537
/kind support

[2022-09-05 01:01] frsh-augustin commented on #36540
@utkarsh-singh1 It is appreicated if the following points are elaborated in the document
1. When pod is scheduled to the node, what is behavior of pods with different QoS pods? For example, if node resources is not enough to schedle a `Gauranteed` pod, does `Best Effort` pod get killed to spare the node resources?
2. If the node runs out of resources, what happen to the running pods with different

[2022-09-05 05:12] mk46 commented on #36554
/triage accepted
/assign @UtkarshMishra12

[2022-09-05 05:46] tzaspel-finatix commented on #35868
Any Updates? The issue still exist.

[2022-09-05 06:16] mk46 commented on #36572
/kind support

**To view all namespace**

[code]
See https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/#viewing-namespaces

**For switching  namespace**
[code]
See https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/#setting-the-namespace-preference

[2022-09-05 06:31] #30833 closed

[2022-09-05 08:02] #36379 closed

[2022-09-05 08:21] winhvu commented on #36453
I might have done something wrong in my test. When monitoring memory of container using this watcher:
[code]
and on another terminal, repeatedly add a file with '5Mi' of logs into the emptyDir, I can observe the container memory is increased 5Mi after each adding; and when the memory is over the limit, I can see container restart due to OOMKilled.

That behavior seems to be aligned with the docume

[2022-09-05 09:30] twilight0620 commented on #36485
/assign

[2022-09-05 09:40] #36344 closed

[2022-09-05 11:52] sftim commented on #36453
When a container exits and leaves data in a memory `emptyDir`, the Pod becomes the “owner” of that data.

[2022-09-05 12:10] sftim commented on #36453
Perhaps you'd like to edit the issue title and description @winhvu to frame this as a request to improve that page?

[2022-09-05 12:42] sftim commented on #35868
It sounds like the docs are valid, but that Gnome Software doesn't support a repo configured this way.

This isn't the right place to file bugs against the Gnome Software and / or the libraries that it uses to integrate with OS package management.
@tzaspel-finatix consider filing a bug against that library code, and reference this issue when you file it.

You could also use a different OS; we have

[2022-09-05 13:36] NitishKumar06 opened #36608 "K8s Hound showing Bad Gateway"
The following tool (https://cs.k8s.io/) which is used to know the path of a word is not working and showing BAD GATEWAY error.

[2022-09-05 13:49] NitishKumar06 commented on #32828
I think we can close this issue. WDYT @sftim ?

[2022-09-05 13:51] NitishKumar06 commented on #36199
@tabbysable ??

[2022-09-05 13:59] rata commented on #36386
Thanks. @tengqm if we replace `ps` with `ps aux`, do you think it is clear?

[2022-09-05 14:45] tengqm commented on #36386
@rata, making the command more concrete and specific would be helpful. I assume users may try this difference by hand.

[2022-09-05 14:46] rata commented on #36386
@tengqm not sure I follow. Do you think using `ps faux` in the text will make it clear and solve this bug or not?

[2022-09-05 15:30] sangminK opened #36613 "[ko] Translate content/en/docs/reference/tools/map-crictl-dockercli into Korean"
**This is a Feature Request**

**What would you like to be added**
Translate content/en/docs/reference/tools/map-crictl-dockercli into Korean.

**Why is this needed**
This page has not been translated yet.
https://kubernetes.io/docs/reference/tools/map-crictl-dockercli/

**Comments**

/language ko
/assign

[2022-09-05 16:31] kadtendulkar opened #36617 "Broken link on Storage Capacity page"
**Problem:**
The text [**CSI ephemeral volumes**](https://kubernetes.io/docs/concepts/storage/volumes/#csi) on [link](https://kubernetes.io/docs/concepts/storage/storage-capacity/) is not working, it should point to this https://kubernetes.io/docs/concepts/storage/ephemeral-volumes/#csi-ephemeral-volumes
Check the page [Storage Capacity](https://kubernetes.io/docs/concepts/storage/windows-storage/