[2020-01-07 11:59] mrPsycho commented on #18515
also, if i try to find this filename in editor, it shows something like "/tmp/kubectl-edit-hlq9d.yaml" which is expected.
But when editor closes, there is no such file.

[2020-01-07 17:52] kwiesmueller commented on #16725
/assign @mariantalla

[2020-01-07 17:52] sftim commented on #16741
/remove-lifecycle stale

[2020-01-07 17:57] AkihiroSuda commented on #16478
/remove-lifecycle stale

[2020-01-07 20:58] #15722 closed

[2020-01-08 00:34] inductor opened #18518 "Fix terminology in Japanese"
**This is a Feature Request**

メカニズム vs 機構

**Why is this needed**

orthographical variants

**Comments**
We should discuss which is better and fix it

[2020-01-08 00:34] inductor commented on #18518
/language ja

[2020-01-08 00:38] inductor commented on #18140
/milestone clear

[2020-01-08 00:46] ysyukr opened #18519 "Translate controllers/jobs-run-to-completion.md in Korean."
**This is a Feature Request**

**What would you like to be added**
Translate controllers/jobs-run-to-completion.md in Korean.

**Why is this needed**
The following files are not translated into Korean.
- [ ] /en/docs/concepts/workloads/controllers/jobs-run-to-completion.md

**Comments**
Page to update: https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/

I am translat

[2020-01-08 00:46] ysyukr commented on #18519
/assign

[2020-01-08 00:47] ysyukr opened #18520 "Translate controllers/garbage-collection.md in Korean."
**This is a Feature Request**

**What would you like to be added**
Translate controllers/garbage-collection.md in Korean.

**Why is this needed**
The following files are not translated into Korean.
- [ ] /en/docs/concepts/workloads/controllers/garbage-collection.md

**Comments**
Page to update: https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/

I am translating this doc

[2020-01-08 00:47] ysyukr commented on #18520
/assign

[2020-01-08 01:03] inductor commented on #18279
/close

[2020-01-08 01:03] #18279 closed

[2020-01-08 01:03] inductor commented on #17741
/close

[2020-01-08 01:03] #17741 closed

[2020-01-08 01:03] inductor commented on #17119
/close

[2020-01-08 01:03] #17119 closed

[2020-01-08 01:04] inductor commented on #18212
/close

[2020-01-08 01:04] #18212 closed

[2020-01-08 01:05] inductor commented on #18212
/milestone 1.16-ja.1

[2020-01-08 01:29] inductor commented on #18382
/milestone 1.16-ja.1

[2020-01-08 02:54] rutcast opened #18522 "Issue with k8s.io/docs/concepts/overview/what-is-kubernetes/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-01-08 04:30] loyin62688 opened #18527 "Issue with k8s.io/zh/docs/tutorials/kubernetes-basics/"
**This is a Bug Report**
link in this page is invalid

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-01-08 06:52] inductor commented on #16685
close

[2020-01-08 06:52] inductor commented on #16685
/close

[2020-01-08 06:52] #16685 closed

[2020-01-08 07:24] inductor commented on #16172
/close

[2020-01-08 07:24] #16172 closed

[2020-01-08 08:30] gavinfish commented on #18527
/assign

[2020-01-08 10:20] SupriyaSirbi commented on #18496
@sftim Thanks for the issue!

[2020-01-08 10:22] SupriyaSirbi commented on #18497
@sftim Thanks for the issue!

[2020-01-08 10:23] SupriyaSirbi commented on #18498
@sftim Thanks for the issue!

[2020-01-08 10:38] inductor commented on #18497
@sftim
as discussed in https://github.com/kubernetes/website/pull/18532, I do not think this is necessary 👀

[2020-01-08 10:45] sftim commented on #18497
That makes sense. Localization isn't the same as translation.

[2020-01-08 10:48] inductor commented on #18497
As a native speaker of Japanese & engineer, both strings should be fine as it is. Most of web app frameworks display this kind of things in English too, anyway... :)

[2020-01-08 11:17] inductor commented on #18497
@sftim You should ask the native speaker's opinion on https://github.com/kubernetes/website/issues/18496 and https://github.com/kubernetes/website/issues/18498 too. @SupriyaSirbi does not seem to be a native speaker of Chinese/Japanese/Korean 👀 (Sorry if I'm wrong)

[2020-01-08 11:18] inductor commented on #18496
/close

Ref: https://github.com/kubernetes/website/pull/18533

[2020-01-08 11:18] #18496 closed

[2020-01-08 11:19] inductor commented on #18497
/close

[2020-01-08 11:19] #18497 closed

[2020-01-08 11:19] inductor commented on #18497
Chinese team decided to close this issue too.

[2020-01-08 14:00] gochist commented on #18498
@sftim "Hello World" is more familiar to Korean readers than "안녕 세상", and for the same reason, "[Hello Minikube](https://kubernetes.io/ko/docs/tutorials/hello-minikube/)" is not translated.

[2020-01-08 14:14] sftim commented on #18498
:ok_hand:

[2020-01-08 14:20] sftim commented on #18512
Good point, well made. `kube-controller-manager` and friends are written so that they _can_ run with horizontal replication; I think that for some components the replication is more for availability than throughput. I don't think there's anything in the control plane that has to run as a singleton.

/priority important-long-term

[2020-01-08 14:20] sftim commented on #18512
/priority important-longterm

[2020-01-08 14:58] chandankumar4 commented on #18527
Can I work on this issue?

[2020-01-08 15:02] sftim commented on #14834
This issue is ready for someone (a volunteer contributor) to pick it up. I'll add a priority.

/priority important-longterm
/help
/remove-lifecycle rotten

[2020-01-08 15:03] sftim commented on #14834
I'm afraid I added /help in error; I think this is actually a bit much for a newish contributor.
/remove-help

[2020-01-08 15:04] sftim commented on #18527
@chandankumar4 please feel free, _but_ it's a very good idea to liaise with @gavinfish who also expressed a clear interest in working on a fix.

[2020-01-08 15:04] sftim commented on #18527
/language zh

[2020-01-08 22:05] #18472 closed

[2020-01-08 22:30] sftim commented on #13175
/remove-lifecycle rotten

[2020-01-08 22:32] sftim commented on #13362
Seems like this still wants looking at
/remove-lifecycle rotten

[2020-01-08 23:30] sftim opened #18539 "Phrases not localized for Japanese"
**This is a Bug Report**

**Problem**:
https://github.com/kubernetes/website/blob/2c417069d03d838d7b5df0b164a2d089a242d34f/i18n/ja.toml lists some TODO items, eg [`layouts_docs_glossary_click_details_before`](https://github.com/kubernetes/website/blob/2c417069d03d838d7b5df0b164a2d089a242d34f/i18n/ja.toml#L83)

**Proposed Solution**:
Localize remaining strings in that file:
- [ ] `layouts_docs_glos

[2020-01-08 23:35] xing-yang commented on #13401
/remove-lifecycle rotten

[2020-01-08 23:36] sftim opened #18540 "Localize “Read about …” for Chinese"
**This is a Bug Report**

**Problem**:
https://github.com/kubernetes/website/blob/2c417069d03d838d7b5df0b164a2d089a242d34f/i18n/zh.toml currently [lacks](https://github.com/kubernetes/website/blob/2c417069d03d838d7b5df0b164a2d089a242d34f/i18n/zh.toml#L158) a translation for “Read about …”.

You can see the problem at https://kubernetes.io/zh/case-studies/

**Proposed Solution**:
Localize remaining

[2020-01-08 23:37] sftim commented on #18522
Hi @rutcast
Would you be willing to explain what's not right about that page? The information you provide will help the project understand how to go about a fix.

[2020-01-08 23:39] sftim commented on #18515
It sounds like the documentation that's missing is about how to use `kubectl replace`. Have I got that right?

[2020-01-08 23:44] sftim commented on #16212
Still needed, right?
/remove-lifecycle rotten

[2020-01-08 23:46] sftim commented on #18511
@kibernick Did you run `kubectl apply -f https://k8s.io/examples/application/simple_deployment.yaml` and _then_ `kubectl get -f https://k8s.io/examples/application/simple_deployment.yaml -o yaml` ?

(if you did, that should work)

/triage support

[2020-01-08 23:48] sftim opened #18541 "Pull request template out of date"
**This is a Bug Report**

**Problem:**
The pull request template suggests that the branch for the upcoming release is _dev-1.17_; this is wrong because v1.17 is released.

**Proposed Solution:**
Update the pull request template to show v1.18 as the upcoming release.

**Page to Update:**
https://github.com/kubernetes/website/blob/master/.github/PULL_REQUEST_TEMPLATE.md

**Kubernetes Version:**
v1.1

[2020-01-08 23:55] #18541 closed

[2020-01-08 23:56] sftim commented on #13667
/remove-lifecycle rotten

[2020-01-09 01:53] tengqm commented on #14834
Maybe we should mention this in the API reference guide as well.
Filed an issue in kubernetes-sigs/reference-docs#121

[2020-01-09 01:54] sftim commented on #9829
/remove-lifecycle stale

[2020-01-09 01:54] sftim commented on #9829
/remove-lifecycle rotten

[2020-01-09 01:58] sftim commented on #2103
/remove-lifecycle stale

[2020-01-09 02:53] jimangel commented on #12328
/remove-lifecycle rotten

[2020-01-09 02:57] ydcool commented on #18540
@sftim thanks, we'll fix this

[2020-01-09 03:16] gavinfish commented on #18527
@loyin62688 This issue has been mitigated. You can have a try and close this issue if everything goes fine with you, thanks.

@chandankumar4 Thanks for your passion!

[2020-01-09 03:28] ydcool commented on #16606
/remove-lifecycle stale

[2020-01-09 04:00] ydcool commented on #16606
WIP https://github.com/k8smeetup/website-tasks/issues/3501

[2020-01-09 04:08] ydcool commented on #17333
WIP https://github.com/k8smeetup/website-tasks/issues/3496

[2020-01-09 04:52] ydcool commented on #17552
WIP
/assign @ydcool

[2020-01-09 05:04] Kartik494 commented on #18515
/assign

[2020-01-09 05:10] ydcool commented on #17333
/assign @ydcool

[2020-01-09 05:35] ydcool commented on #15353
resolved since https://github.com/kubernetes/website/pull/18217
/lifecycle rotten

[2020-01-09 05:59] ydcool commented on #18434
Duplicated with https://github.com/kubernetes/website/issues/12533 , and en docs was fixed since https://github.com/kubernetes/website/pull/12701, but zh docs did not updated yet.

/language zh
/assign

[2020-01-09 06:56] Kartik494 commented on #18515
@mrPsycho How would like this to be updated. Because what I see is `kubectl` commands are used previously too in the same doc without mentioning the file name.

I can either add the file name in front of `kubectl replace -f` (like `kubectl replace -f ingress.yaml`) or just add more clarification on which file must be updated in order to update ingress configuration.

[2020-01-09 07:04] mrPsycho commented on #18515
yes, but previously there is example, for example: https://raw.githubusercontent.com/kubernetes/website/master/content/en/examples/service/networking/ingress.yaml

but soon, it is been said to edit it in place: `kubectl edit ingress test`
and: `After you save your changes, kubectl updates the resource in the API server`.... but it didn't updated configuration...
so here i was stuck, and then found

[2020-01-09 07:57] CriaHu opened #18552 "issue with website\content\zh\docs\tutorials\services\source-ip.md"
**This is enhancement**

**Problem:**
``
然而，如果你的集群运行在 Google Kubernetes Engine/GCE 上，设置 service.spec.externalTrafficPolicy 字段值为 Local 可以强制使没有 endpoints 的节点把他们自己从负载均衡流量的可选节点名单中删除。这是通过故意使它们健康检查失败达到的
``
**Proposed Solution:**
``
然而，如果你的集群运行在 Google Kubernetes Engine/GCE 上，可以通过设置 service.spec.externalTrafficPolicy 字段值为 Local ，故意导致健康检查失败来强制使没有 endpoints 的节点把自己从负载均衡流量的可选节点列表中删除。
``
**Page to Update:**
h

[2020-01-09 09:20] Kartik494 commented on #18515
@mrPsycho should we close this issue.As i think it is clear now here we have either option to replace the ingress.yaml (kubectl replace -f ingress.yaml) or we could modify if using (kubectl edit ingress test)

[2020-01-09 09:23] mrPsycho commented on #18515
yes, sorry for disturbing.

[2020-01-09 09:23] #18515 closed

[2020-01-09 09:30] sftim commented on #16199
/remove-lifecycle rotten

The entry should mention EndpointSlice too.
/help

[2020-01-09 09:31] sftim commented on #15460
Still important
/remove-lifecycle rotten

[2020-01-09 09:35] sftim commented on #15478
/remove-lifecycle rotten

[2020-01-09 09:35] sftim commented on #15650
/remove-lifecycle rotten

[2020-01-09 09:36] sftim commented on #15787
/remove-lifecycle rotten

[2020-01-09 09:36] sftim commented on #15787
/sig docs

[2020-01-09 09:37] sftim commented on #18487
@kvaravinda, GitHub is not the right place for support requests.

For help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes)

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

/triage support

[2020-01-09 09:59] kibernick commented on #18511
Thank you @sftim it works now. I guess something went wrong in my previous attempt :)

[2020-01-09 10:00] #18511 closed

[2020-01-09 10:35] Kartik494 commented on #18503
/assign

[2020-01-09 11:35] yuxiaobo96 commented on #18485
@satva
Can you elaborate on the problem of this page?
Thanks.

[2020-01-09 12:16] gavinfish commented on #18485
I think @satva wants to add a hyper link for the `Kubernetes API` item in the article.

[2020-01-09 12:45] sftim opened #18565 "zh: kubeadm documentation translates subcommands"
**This is a Bug Report**

**Problem:**
Headings in https://kubernetes.io/zh/docs/reference/setup-tools/kubeadm/kubeadm-reset-phase/ are for actual subcommands
The translated documentation looks hard to use because the subcommands are translated without showing the original text, which is what readers need to type.

**Proposed Solution:**
Up to the localization team; I think this is an issue but I

[2020-01-09 13:53] kbhawkey opened #18567 "update contrib: building reference docs"
**This is a Bug Report**

**Problem**
The contrib pages for generating the reference docs are outdated. The required
golang version, the build dependencies, the generated directory structure, and the update-imported-docs script has changed.

**Proposed Solution:**
Rewrite the contribute pages outlining the changes.

**Page to Update:**
https://kubernetes.io/docs/contribute/generate-ref-docs/

- Ad

[2020-01-09 13:54] kbhawkey commented on #18567
/assign

[2020-01-09 14:08] kbhawkey commented on #18403
This is interesting!
Looking at the Hugo docs,
https://gohugo.io/content-management/cross-references/

How does this workk?
[code]

[2020-01-09 14:13] kbhawkey commented on #18117
Thanks, @Bradamant3 for your leadership!
Congrats, @kbarnard10!

[2020-01-09 15:17] mmiara commented on #18339
Found that if etcdctl is installed through the etcd binary, and the certificates for the cluster are used as arguments with etcdctl commands, it is able to access the cluster and use etcdctl commands to take backups and do other etcdctl tasks.

[2020-01-09 18:03] Trackhe opened #18573 "Issue with k8s.io/de/docs/setup/"
**This is a Bug Report**

**Problem:**
Links not working
**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-01-09 19:55] ClaudiaJKang opened #18577 "Outdated files in the dev-1.17-ko.3 branch."
# This is a Bug Report
## Problem
Outdated files in the dev-1.17-ko.3 branch.

### 9 files to be modified
1. [ ] [content/en/docs/concepts/services-networking/connect-applications-service.md](https://github.com/kubernetes/website/tree/dev-1.17-ko.3/content/en/docs/concepts/services-networking/connect-applications-service.md) 1 file changed, 1 insertion(+), 1 deletion(-)
1. [ ] [content/en/docs/con

[2020-01-09 22:40] ysyukr commented on #18577
/assign

[2020-01-09 22:44] miguel-orange opened #18579 "Issue with k8s.io/docs/concepts/workloads/controllers/cron-jobs/"
It seems that this note is inaccurate by saying it's based on timezone. In fact messaging is alluding that timezone will not be supported and it's based on UTC.

https://github.com/kubernetes/kubernetes/issues/78795#issuecomment-501081078
https://github.com/kubernetes/kubernetes/issues/47202#issuecomment-360820586

[2020-01-09 22:47] miguel-orange commented on #18579
Here's the change for posterity. https://github.com/kubernetes/website/pull/12073/files#diff-42024a68142dd5489c24fa0c4a44d32dR19

[2020-01-09 23:56] gavinfish commented on #18573
/assign

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-10 01:15] lkaybob commented on #17790
Closing. See #18484

[2020-01-10 01:15] #17790 closed

[2020-01-10 01:34] gavinfish commented on #18573
@Trackhe could you please specify the links?

[2020-01-10 02:00] gavinfish opened #18582 "Issue with k8s.io/zh/docs/contribute/localization/"
**This is a Bug Report**

**Problem:**

Link broken for `法语文档`.

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-01-10 02:00] gavinfish commented on #18582
/assign

[2020-01-10 02:02] jmyung opened #18583 "Translate setup/release/notes in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate content\en\docs\setup\release\notes in Korean

**Why is this needed**
There is no translation for content\en\docs\setup\release\notes in Korean

**Comments**

[2020-01-10 02:02] jmyung commented on #18583
/assign
/language ko

[2020-01-10 02:36] #18582 closed

[2020-01-10 02:53] liyinda246 opened #18585 "Issue with k8s.io/zh/docs/setup/production-environment/tools/kubeadm/high-availability/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-01-10 03:05] gavinfish commented on #18585
/assign

[2020-01-10 03:09] gavinfish commented on #18585
Hi @liyinda246 ,
Would you be willing to explain what's not right about that page? The information you provide will help the project understand how to go about a fix.

[2020-01-10 03:17] gavinfish commented on #18585
@xichengliudui
I have noticed one possible issue for this page. Part of `kubeadm` docs have been translated into Chinese, but the links in this article still point to English ones.
What is the preferred practice here, change the links to Chinese version or wait for all the related translation work done?

[2020-01-10 03:32] liyinda246 commented on #18585
Hi @gavinfish ,
I found that there are some typesetting problems on this page, some Chinese translation errors and English inclusion, as a Chinese, this page is not helpful, thanks

[2020-01-10 05:46] tengqm commented on #18403
Right, if you explicitly provide a `lang` param, hugo will try redirect you to the specified localization. One use case, in k8s/website could be that for some content, we want to redirect all anchors to the same language, say English.

[2020-01-10 06:01] yuxiaobo96 commented on #18565
I think the original subcommands should be kept without translation.
I can help

[2020-01-10 06:26] martin-helmich opened #18588 "Issue with k8s.io/de/docs/reference/"
**This is a Bug Report**

**Problem:**
Latest API version that is linked to on the german translation is 1.14.

**Proposed Solution:**
Link to all API versions up to the latest, 1.17.

**Page to Update:**
https://kubernetes.io/de/docs/reference/

[2020-01-10 06:28] blaise-sumo opened #18589 "Issue with k8s.io/docs/tasks/administer-cluster/change-default-storage-class/"
**This is a Bug Report**

**Problem:**
This description does not state whether storageclass can be scoped to a namespace.

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-01-10 06:28] Potapy4 opened #18591 "Russian glossary"
Думаю, самое время завести глоссарий. На данный момент, я сотавил небольшой список (дополняйте свои идеи в комментах 😉):

| Оригинал | Перевод | Описание |
| ------------- |:-------------:| -----:|
| Addon | расширение / дополнение | В зависимости от контекста
| CLI | CLI | без перевода |
| Deployment | Развёртывание (Deployment) | Перевод + оригинальное название. Возможно стоит транслитерировать

[2020-01-10 06:34] yuxiaobo96 opened #18593 "zh-1.17:There are some problems in document translation on the official website of kubernetes."
**This is a Bug Report**

**Problem:**
1. There are two identical documents in the **scheduling** drop-down bar in the left navigation bar of the **concept**, the links are:
https://kubernetes.io/zh/docs/concepts/scheduling/
2. The link in the `kube-scheduler.md` document should add `zh` to make it jump to the Chinese translation page. This document links to:
https://github.com/kubernetes/website/

[2020-01-10 08:04] ydcool commented on #18593
/language zh

[2020-01-10 08:05] ydcool commented on #18552
/language zh

[2020-01-10 08:38] #18588 closed

[2020-01-10 08:47] tanjunchen commented on #18593
@yuxiaobo96
maybe you can focus con https://github.com/kubernetes/website/issues/18403

[2020-01-10 08:50] tanjunchen commented on #18403
@tengqm
Is it appropriate to add /zh directly in front of it right now?
/cc @yuxiaobo96
thanks your job!

[2020-01-10 08:57] tanjunchen commented on #18403
@sftim @tengqm
Is there any progress on this matter?

[2020-01-10 09:00] zacharysarah commented on #15969
@dims 👋 Given that this issue is reasonably isolated from larger policy questions (i.e., this issue involves re-homing content specific to Minikube with the consent of its contributors), are you OK with lifting the hold?

[2020-01-10 09:00] sftim opened #18597 "Vietnamese localization is missing code of conduct"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/vi/community/code-of-conduct/ is a missing page. This page is important because it provides the CNCF code of conduct.

**Proposed Solution:**
- Localize CNCF code of conduct if necessary
- Add Vietnamese code of conduct page to website

**Page to Update:**
https://kubernetes.io/vi/community/code-of-conduct/

/priority important-soon
/lan

[2020-01-10 09:01] sftim opened #18598 "Russian localization is missing code of conduct"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/ru/community/code-of-conduct/ is a missing page. This page is important because it provides the CNCF code of conduct.

**Proposed Solution:**
- Localize CNCF code of conduct if necessary
- Add Russian code of conduct page to website

**Page to Update:**
https://kubernetes.io/ru/community/code-of-conduct/

/priority important-soon
/langua

[2020-01-10 09:02] tomasz-sodzawiczny opened #18599 "Issue with k8s.io/docs/concepts/workloads/"
**This is a Bug Report**

**Problem:**
The term "Workload" is not defined on the concepts page.

Googling for "kubernetes workload" returns https://kubernetes.io/docs/concepts/workloads/ as the first result, but the page is completely empty (only has a confusing "Pods" section title).

**Proposed Solution:**
Describe the concept of a workload (at least in a few sentences).

**Page to Update:**
htt

[2020-01-10 09:04] sftim commented on #18599
Good point. I think it's OK not to prioritize this as there _is_ a glossary entry. Still a nice idea to fix this.

[2020-01-10 09:05] sftim opened #18600 "Korean localization is missing code of conduct"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/ko/community/code-of-conduct/ is a missing page. This page is important because it provides the CNCF code of conduct, and that is an important element of an inclusive community.

**Proposed Solution:**
- Localize CNCF code of conduct if necessary
- Add Korean code of conduct page to website

**Page to Update:**
https://kubernetes.io/ko/c

[2020-01-10 09:09] sftim opened #18601 "German localization is missing code of conduct"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/de/community/code-of-conduct/ is a missing page. This page is important because it provides the CNCF code of conduct, and that is an important element of an inclusive community.

**Proposed Solution:**
- Add German code of conduct page to website

**Page to Update:**
https://kubernetes.io/de/community/code-of-conduct/

**Additional Infor

[2020-01-10 09:10] yuxiaobo96 commented on #18403
I think the modification proposed by tengqm is better.

[2020-01-10 09:11] sftim commented on #13858
/reopen

[2020-01-10 09:12] sftim commented on #13858
https://kubernetes.io/id/community/code-of-conduct/ is still a missing page. This page is important because it provides the CNCF code of conduct, and that is an important element of an inclusive community.

/priority important-longterm

[2020-01-10 09:14] sftim commented on #18579
Thanks for reporting this @miguel-orange
/kind bug
/priority important-longterm
/good-first-issue

[2020-01-10 09:19] tanjunchen commented on #18552
@CriaHu
thanks your job!
could you open a pr to fix it ? Thanks

[2020-01-10 09:22] tanjunchen commented on #18585
language/zh

[2020-01-10 09:32] CriaHu commented on #18552
@tanjunchen  ok

[2020-01-10 09:52] #18585 closed

[2020-01-10 09:54] girikuncoro commented on #13858
sure thanks @sftim for chiming in, we'll pick this in our backlog

[2020-01-10 11:04] tengqm commented on #18403
@tanjunchen No progress yet. If the proposed approach makes sense, we may need to revise the English site as early as possible.

[2020-01-10 11:24] dims commented on #15969
/hold cancel

[2020-01-10 11:26] zacharysarah commented on #15969
@dims Thanks! 🙏

@tstromberg Go for it!

[2020-01-10 13:00] tanjunchen commented on #18403
done

[2020-01-10 13:20] Potapy4 commented on #18598
/assign

[2020-01-10 14:32] candlerb commented on #1911
Speaking as a newcomer, and after reading the existing configMap docs and searching around, I think it could be clearer what the best practices are for configuring apps.  I can see several cases which might apply.

Consider, for example, running prometheus in a pod, and giving its configuration via configMap.

1. For some files (e.g. `file_sd` target files), Prometheus itself detects changes and p

[2020-01-10 15:55] bbrundert opened #18607 "Add KubeAcademy (https://kube.academy/) to the list of online trainings"
**This is a Feature Request**

**What would you like to be added**
Please add KubeAcademy to the list of online trainings for Kubernetes (link: https://kubernetes.io/docs/tutorials/online-training/overview/).

**Why is this needed**
KubeAcademy (https://kube.academy/) is a free, product-agnostic Kubernetes and cloud native technology education platform.

**Comments**

[2020-01-10 17:04] #15792 closed

[2020-01-10 18:45] Trackhe commented on #18573
@gavinfish I thought I had the correct link here with Reported.

I'm sorry it was already some 100 pages ago. if it comes up to me again I report and report it conscientiously this time.

[2020-01-10 18:45] #18573 closed

[2020-01-10 19:31] php-coder commented on #18591
Code of conduct - Кодекс поведения

(или может быть "правила поведения"?)

[2020-01-10 20:26] php-coder commented on #18591
addon -- аддон

[2020-01-10 20:40] dwschulze opened #18612 "Issue with k8s.io/docs/tasks/tools/install-minikube/"
I installed kubectl and minikube as shown on https://kubernetes.io/docs/tasks/tools/install-minikube/.  When I start minikube with --vm-driver=none (I'm running on a virtual machine) I get this error:

$ sudo minikube start --vm-driver=none
😄  minikube v1.6.2 on Ubuntu 19.10
✨  Selecting 'none' driver from user configuration (alternates: [])
⚠️  Specified Kubernetes version 1.10.0 is less than the

[2020-01-10 20:54] dwschulze commented on #18612
It looks like the problem was that I had an old /root/.minikube directory.  Once I removed that directory minikube tried but failed to start with this error:

Error starting cluster: running cmd: /bin/bash -c "sudo env PATH=/var/lib/minikube/binaries/v1.17.0:$PATH kubeadm init phase certs all --config /var/tmp/minikube/kubeadm.yaml": /bin/bash -c "sudo env PATH=/var/lib/minikube/binaries/v1.17.0:$

[2020-01-10 21:16] zacharysarah opened #18615 "Remove user-journeys legacy content"
## What's the bug?

The docs' former User Journeys content no longer appears in site navigation, but:

- The files are still in the repository
- The files still build to orphaned content on the website

For example: https://kubernetes.io/docs/user-journeys/users/application-developer/advanced/

## What's the solution?

Delete the user journeys tree:

https://github.com/kubernetes/website/tree/mast

[2020-01-10 21:17] zacharysarah commented on #18615
/good-first-issue

[2020-01-10 22:17] #18239 closed

[2020-01-10 22:28] php-coder commented on #18389
@abdulraheemnohri Hi, could you explain what kind of issue you have encountered?

[2020-01-10 22:51] php-coder commented on #18591
Есть предложение от @lex111 чтобы переводить addon как "дополнение":
https://github.com/kubernetes/website/pull/18611#discussion_r365460547

[2020-01-10 22:53] lex111 commented on #18591
Транслитерацию тут точно не нужно использовать - либо "расширение", либо "дополнение". Хотя мне больше нравится первый раз, тем более ведь нет разницы в данном случае?

[2020-01-10 23:07] php-coder commented on #18498
To be precise, only `'Received request for URL: ' + request.url` is translated. `Hello world!` is printed as-is:
https://github.com/kubernetes/website/blob/0c2a5ceb0bb5b7d88301b4365b6b92d9df269c28/content/ru/examples/minikube/server.js#L6

Let me know if it should be translated as well but I wouldn't surprise if it breaks the output. In many cases, non-English messages requires to specify charset

[2020-01-10 23:13] gavinfish commented on #18615
/assign

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-10 23:16] aslam711 opened #18616 "Issue with k8s.io/docs/tutorials/hello-minikube/"
**This is a Bug Report**

**Problem:**
`$ minikube addons enable heapster
*
X enable failed: property name "heapster" not found
*
* minikube is exiting due to an error. If the above message is not useful, open an issue:
  - https://github.com/kubernetes/minikube/issues/new/choose`
**Proposed Solution:**
Change to a different add in option

**Page to Update:**
https://kubernetes.io/...

[2020-01-10 23:20] php-coder commented on #18275
The fix (#18276) seems to be merged, could we close this issue then?

[2020-01-10 23:23] siicomos opened #18617 "Issue with k8s.io/docs/tasks/administer-cluster/reconfigure-kubelet/"
**This is a Bug Report**

**Problem:**
 `NODE_NAME="the-name-of-the-node-you-are-reconfiguring"`
`kubectl get no ${NODE_NAME} -o json | jq '.status.config'` keeps returning `null`

**Proposed Solution:**
use `kubectl get no ${NODE_NAME} -o json | jq '.items[0].status.config'` instead

**Page to Update:**
https://kubernetes.io/docs/tasks/administer-cluster/reconfigure-kubelet/

**Kubernetes Version

[2020-01-10 23:26] php-coder commented on #18616
It seems like the same issue as https://github.com/kubernetes/website/issues/18420#issuecomment-570246522

[2020-01-10 23:46] #18616 closed

[2020-01-11 08:01] Colstuwjx opened #18619 "Something broken with netlify preview?"
**This is a Bug Report**

**Problem:**
Not each PR shown netlify.

**Proposed Solution:**
I don't know.

**Page to Update:**
For example, PR https://github.com/kubernetes/website/pull/18613 did not show.

[2020-01-11 09:42] Potapy4 commented on #18591
мне кажется, тут зависит от контекста, но в целом ОК использовать расширение/дополнение

[2020-01-11 12:58] lex111 commented on #18591
А почему в зависимости от контекста? Лучше выбрать что-то одно.

[2020-01-11 16:39] gavinfish opened #18623 "Issue with k8s.io/zh/docs/reference/access-authn-authz/admission-controllers/"
**This is a Bug Report**

**Problem:**

This page is outdated. There have been lots of updates in the English version.

**Proposed Solution:**

Update it with the latest version.

**Page to Update:**
https://kubernetes.io/...

[2020-01-11 16:40] gavinfish commented on #18623
/language zh
/priority backlog

[2020-01-11 16:41] php-coder commented on #18420
In #18611 I applied Russian-related changes from #18422 Thank you, @BenHall

[2020-01-11 16:56] erchauhannitin commented on #18364
Facing same issue and i don't have access to BIOS password.
I disabled it by mistake by running one command( though it still shows Virtualization enabled in Task Manager, Performance Tab). Now minikube start is giving errors in win 10 and does not see any work around.

[2020-01-11 17:09] sftim opened #18624 "Task pages for production readiness review"
**This is a Feature Request**

(more a long-term ambition TBH)

**What would you like to be added**
Add a set of Task pages:
- review if a cluster is production ready
- review if your workload is production ready

**Why is this needed**
- Cluster administrators want to know how to review if their cluster is in a good state
- Application developers want to know if their workload is ready to go live

[2020-01-11 17:16] sftim commented on #1040
Also see #1911

[2020-01-11 17:26] sftim commented on #18498
That's a good point about the Content-Type. Is it worth localizing? Probably not. In that case, I suspect instead it makes sense to change the Russian localization to serve English.

[2020-01-11 18:33] sftim opened #18628 "EndpointSlice concept prioritised ahead of Service"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/concepts/services-networking/ lists the EndpointSlice concept before Service.

Although the [Service page needs work](https://github.com/kubernetes/website/issues/14770), the current page about Service should come before the page about EndpointSlice, which is still beta and only partly activated by default.

**Proposed Solution:**
R

[2020-01-11 18:33] sftim commented on #18628
This _is_ a good first issue; if you've already had a pull request or two merged, I recommend leaving this one so that it's saved for a new contributor.

[2020-01-11 18:36] php-coder commented on #18498
The response is already in English (see my previous comment). `console.log()` probably might stay.

[2020-01-11 19:05] sftim commented on #18619
I see a preview at https://deploy-preview-18613--kubernetes-io-master-staging.netlify.com/

Maybe either GitHub or Netlify experienced a glitch?

I believe you @Colstuwjx that this was missing; now the preview has turned up I will add:
/triage not-reproducible

[2020-01-11 19:08] sftim commented on #18607
:information_source: There's a relevant KEP: https://github.com/kubernetes/enhancements/pull/1327

and I plan to update that KEP quite soon to revise its scope.

[2020-01-11 19:25] sftim commented on #18617
Thanks @siicosmos
/kind bug

/priority backlog
(because, AIUI, this is a beta feature)

[2020-01-12 00:35] Colstuwjx commented on #18619
Nope, I mean the netlify bot didn't add comment in PRs, like this PR #18594, it did:

![image](https://user-images.githubusercontent.com/3972545/72212408-63509700-3516-11ea-9f7a-f0c3717b3bec.png)

so I wonder if there is something made netlify bot unhappy, and didn't leave comment anymore.

[2020-01-12 12:37] lkaybob opened #18634 "Translate docs/tasks/access-application-cluster/port-forward-access-application-cluster.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate docs/tasks/access-application-cluster/port-forward-access-application-cluster.md in Korean

**Why is this needed**

No translation exsist in Korean on Translate docs/tasks/access-application-cluster/port-forward-access-application-cluster.md

**Comments**

Page to update: https://kubernetes.io/docs/tasks/access-applicati

[2020-01-12 12:53] lkaybob opened #18635 "Translate docs/tasks/access-application-cluster/service-access-application-cluster.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate docs/tasks/access-application-cluster/service-access-application-cluster.md in Korean

**Why is this needed**

No translation exists on docs/tasks/access-application-cluster/service-access-application-cluster.md in Korean

**Comments**

Page to update: https://kubernetes.io/docs/tasks/access-application-cluster/service-a

[2020-01-12 13:42] gochist commented on #17355
/priority backlog

[2020-01-12 13:43] gochist commented on #17346
/priority backlog

[2020-01-12 13:55] sftim commented on #18619
/remove-triage not-reproducible

[2020-01-12 13:55] sftim commented on #18619
/priority backlog
/kind bug

[2020-01-12 13:57] sftim commented on #13332
There's a diagram now!
/close

[2020-01-12 13:57] #13332 closed

[2020-01-12 13:57] sftim commented on #18512
/kind bug

[2020-01-12 13:57] sftim commented on #18512
Note: there are other pages that use the same or similar diagrams

[2020-01-12 14:02] gochist commented on #18600
@sftim I agree it is important. But I think it is not a bug and priority is too high. Because we already have a [community code of conduct](https://github.com/cncf/foundation/blob/master/code-of-conduct-languages/ko.md) in Korean according to the [localization guide](https://kubernetes.io/docs/contribute/localization/#localize-the-community-code-of-conduct).

[2020-01-12 14:35] ravvas opened #18636 "Issue with k8s.io/docs/tutorials/online-training/overview/"
**This is a Bug Report**

Request to add AWS EKS detailed workshop URL

**Problem:**
Recently I came across a public online self paced AWS EKS workshop available. It is really good.
URL : https://eksworkshop.com/
**Proposed Solution:**
Can we add the URL to list of kuberenetes trainings available.
**Page to Update:**
https://kubernetes.io/...

[2020-01-12 16:07] sftim commented on #18600
Agreed.
/remove-prority important-soon
/remove-kind bug
/priority important-longterm

[2020-01-12 16:08] sftim commented on #18597
/remove-prority important-soon
/remove-kind bug
/priority important-longterm

[2020-01-12 16:08] sftim commented on #18601
/remove-prority important-soon
/remove-kind bug
/priority important-longterm

[2020-01-12 16:08] sftim commented on #18598
/remove-prority important-soon
/remove-kind bug
/priority important-longterm

[2020-01-12 16:08] sftim commented on #18601
/remove-priority important-soon

[2020-01-12 16:08] sftim commented on #18600
/remove-priority important-soon

[2020-01-12 16:09] sftim commented on #18598
/remove-priority important-soon

[2020-01-12 16:09] sftim commented on #18597
/remove-priority important-soon

[2020-01-12 16:10] sftim commented on #18636
Seems reasonable (although it's also relevant to https://github.com/kubernetes/enhancements/pull/1327)
/priority backlog

[2020-01-12 19:47] neolit123 commented on #18471
/close
please reopen if needed.

[2020-01-12 19:47] #18471 closed

[2020-01-12 19:48] neolit123 commented on #18187
/close
please reopen if needed.

[2020-01-12 19:48] #18187 closed

[2020-01-12 22:59] abdulbasitkay commented on #17880
It this issue still open to contributon?

[2020-01-13 00:31] Cynthia1981 commented on #18636
double Dupliquer de #

[2020-01-13 02:30] m947 opened #18642 "https://www.facebook.com/barbaracarolina.lopezchacin"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-01-13 04:53] ysyukr opened #18644 "Translate storage/persistent-volumes.md in Korean."
**This is a Feature Request**

**What would you like to be added**
Translate storage/persistent-volumes.md in Korean.

**Why is this needed**
The following files are not translated into Korean.
- [ ] /en/docs/concepts/storage/persistent-volumes.md

**Comments**
Page to update: https://kubernetes.io/docs/concepts/storage/persistent-volumes/

I am translating this document.
The translated document w

[2020-01-13 04:53] ysyukr commented on #18644
/assign

[2020-01-13 04:57] ysyukr opened #18645 "Translate storage/volume-snapshots.md in Korean."
**This is a Feature Request**

**What would you like to be added**
Translate storage/volume-snapshots.md in Korean.

**Why is this needed**
The following files are not translated into Korean.
- [ ] /en/docs/concepts/storage/volume-snapshots.md

**Comments**
Page to update: https://kubernetes.io/docs/concepts/storage/volume-snapshots/

I am translating this document.
The translated document will be

[2020-01-13 04:57] ysyukr commented on #18645
/assign

[2020-01-13 06:12] Colstuwjx commented on #18619
I found that the bot settings should be configured by github settings, see: https://docs.netlify.com/site-deploys/notifications/#github-pull-request-comments.

I'm not sure whether there is github netlify app logs for this, maybe we could trace why it didn't send comments for some PRs, it should be netlify issue.

As it's low priority thing, I just leave this comment, and let it go, since we still

[2020-01-13 08:11] #18642 closed

[2020-01-13 08:12] zacharysarah commented on #18628
@sftim Thanks for triaging with an eye for new contributors! 🌟

[2020-01-13 08:45] sftim commented on #16868
Still important
/remove-lifecycle stale

[2020-01-13 08:46] sftim commented on #15444
Still valid
/remove-lifecycle stale

[2020-01-13 08:49] #18323 closed

[2020-01-13 10:15] ydcool commented on #18623
ref: https://github.com/k8smeetup/website-tasks/issues/3531

[2020-01-13 13:09] gavinfish commented on #18615
Let's save it for a new contributor:smile:.
/unassign

[2020-01-13 13:43] shacharSilbert opened #18655 "Issue with k8s.io/docs/concepts/workloads/controllers/cron-jobs/"
**This is a Bug Report**

**Problem:**
According to the "Cron Job Limitations" section:
"A cron job creates a job object about once per execution time of its schedule. We say “about” because there are certain circumstances where two jobs might be created, or no job might be created. We attempt to make these rare, but do not completely prevent them. Therefore, jobs should be idempotent."

It is not

[2020-01-13 16:57] BorntraegerMarc opened #18658 "Issue with k8s.io/docs/tutorials/hello-minikube/"
**This is a Bug Report**

**Problem:**
The docs want me to enable the add-on heapster. But this add-on is not maintained anymore and when I was running the commands I got the error code `enable failed: property name "heapster" not found`

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/tutorials/hello-minikube/

Latest minikube

[2020-01-13 17:56] butuzov commented on #18444
@kbhawkey Should I close issue or you prefer to have it opened untill kubernetes-sigs/reference-docs#124 is opened?

[2020-01-13 20:45] kbhawkey commented on #18444
@butuzov , I would leave this issue open as a reminder for next release. Thanks!
NOTE: The links were manually fixed for the 1.17 release (search/replace).

[2020-01-13 21:42] butuzov commented on #18444
got it!

[2020-01-13 23:30] hase1128 commented on #18275
sure, I close.

[2020-01-13 23:30] #18275 closed

[2020-01-14 01:02] ttonline6 opened #18664 "issue with website\content\zh\docs\tutorials\services\source-ip.md"
This is enhancement

Problem:
然而，如果你的集群运行在 Google Kubernetes Engine/GCE 上，设置 service.spec.externalTrafficPolicy 字段值为 Local 可以强制使没有 endpoints 的节点把他们自己从负载均衡流量的可选节点名单中删除。这是通过故意使它们健康检查失败达到的。
Proposed Solution:
然而，如果你的集群运行在 Google Kubernetes Engine/GCE 上，可以通过设置 service.spec.externalTrafficPolicy 字段值为 Local ，故意导致健康检查失败来强制使没有 endpoints 的节点把自己从负载均衡流量的可选节点列表中删除。
Page to Update:
https://kubernetes.io/zh/doc

[2020-01-14 01:48] gavinfish commented on #18664
/language zh
/priority backlog

[2020-01-14 02:45] ysyukr opened #18666 "Changed some words in the IPv4/IPv6 dual-stack korean doc."
**This is a Bug Report**

**Problem:**
The Korean team transliterated the word `masquerading`.

**Proposed Solution:**
we should change the word translated `위장` to `마스커레이딩`.

**Page to Update:**
https://kubernetes.io/ko/docs/concepts/services-networking/dual-stack/

/language ko

[2020-01-14 02:45] ysyukr commented on #18666
/assign

[2020-01-14 03:06] #18664 closed

[2020-01-14 03:27] ydcool commented on #18434
/close

[2020-01-14 03:36] #18666 closed

[2020-01-14 04:48] tanjunchen commented on #18434
@zarkzheng
thanks your job! if it is dupicated , we should close this

[2020-01-14 04:48] tanjunchen commented on #18434
/close

[2020-01-14 04:48] #18434 closed

[2020-01-14 05:34] ysyukr opened #18670 "Translate storage/volume-pvc-datasource.md in Korean."
**This is a Feature Request**

**What would you like to be added**
Translate storage/volume-pvc-datasource.md in Korean.

**Why is this needed**
The following files are not translated into Korean.
- [ ] /en/docs/concepts/storage/volume-pvc-datasource.md

**Comments**
Page to update: https://kubernetes.io/docs/concepts/storage/volume-pvc-datasource/

I am translating this document.
The translated d

[2020-01-14 05:34] ysyukr commented on #18670
/assign

[2020-01-14 05:35] ysyukr opened #18671 "Translate storage/volume-snapshot-classes.md in Korean."
**This is a Feature Request**

**What would you like to be added**
Translate storage/volume-snapshot-classes.md in Korean.

**Why is this needed**
The following files are not translated into Korean.
- [ ] /en/docs/concepts/sstorage/volume-snapshot-classes.md

**Comments**
Page to update: https://kubernetes.io/docs/concepts/storage/volume-snapshot-classes/

I am translating this document.
The trans

[2020-01-14 05:35] ysyukr commented on #18671
/assign

[2020-01-14 06:13] Kartik494 commented on #18658
/assign

[2020-01-14 06:20] Kartik494 commented on #18658
@BorntraegerMarc yes minikube add on heapster is deprecated now ,so how would you like to update doc!
https://github.com/kubernetes-retired/heapster

Either we can update it with another example like minikube addons enable "add on name".
Or we can remove heapster from add on and add new list of add ons.

[2020-01-14 06:50] gavinfish commented on #18658
Execute `minikube addons list` on the latest minikube version 1.6.2 and I get this:

[code]

[2020-01-14 06:53] BorntraegerMarc commented on #18658
Don't know how it should be updated. I'm a total newbie :)

I guess if you want to portrait the add ons in this tutorial then any working add on will do the job.

[2020-01-14 07:11] jsonpang opened #18672 "Improvement for k8s.io/zh/docs/tasks/debug-application-cluster/audit/"
don‘t know how to do
how to setup audit as newbe

[2020-01-14 08:57] idealhack commented on #8843
/lifecycle frozen

[2020-01-14 10:37] rajibmitra opened #18675 "Deprecation api page in website"
**This is a Feature Request**

We need to have one separate page where it will be mentioned which api got deprecated in which k8s version.

**What would you like to be added**

A separate page, it will help a lot the end users , they will just come to this page and find out that the api they are looking for could be deprecated because of older k8s version.

**Why is this needed**
Better user exper

[2020-01-14 10:38] rajibmitra commented on #18675
/assign @rajibmitra

[2020-01-14 10:38] rajibmitra commented on #18675
/cc @zacharysarah

[2020-01-14 11:30] Vageesha17 commented on #16199
hi i am working on this issue

[2020-01-14 12:24] ydcool commented on #18540
PR merged, maybe you can close this issue now ; )

[2020-01-14 12:42] sftim commented on #18540
@ydcool you can add /close (on a line by itself) in a comment when you're confident it's OK to close an issue.

/close

[2020-01-14 12:42] #18540 closed

[2020-01-14 13:03] ydcool commented on #18540
@sftim  I'm not authorized to use that prow command : (

[2020-01-14 13:21] sftim commented on #18540
I'd test that @ydcool - it looks to me like you'd be authorized.

[2020-01-14 14:33] Colstuwjx commented on #18403
Inspired by @tengqm PR #18374 experiment, I have been proposed another PR #18678 for solving this issue.

For `ref` and `relref`, I did some research, see [hugo 2637](https://github.com/gohugoio/hugo/issues/2637#issuecomment-256933811), there is no builtin function **do check existence ONLY**, and I found [lang.Merge](https://gohugo.io/functions/lang.merge/), but it seems not addressing this issue

[2020-01-14 14:58] liggitt commented on #18675
Agree this would be excellent to provide. Here are some thoughts I had around the organization of this:

Categories of deprecations:
* REST API types
* REST API fields
* Command line flags
* Configuration file versions
* Configuration file fields
* Feature gates

Structuring data to answer specific questions:
* For a given release, it should be easy to see what deprecated things exist without scru

[2020-01-14 15:02] sftim opened #18680 "https://k8s.io/pl/ looks incomplete"
**This is a Bug Report**

**Problem:**
~https://k8s.io/pl/ doesn't look right~
~I'd thought that the [preview](https://deploy-preview-18659--kubernetes-io-master-staging.netlify.com/pl/) for #18659 looked OK but in fact it doesn't and neither does the live site.~
https://k8s.io/pl/ is not yet complete.

**Proposed Solution:**
Complete localization work for https://k8s.io/pl/

**Page to Update:**
h

[2020-01-14 15:03] sftim commented on #18680
I think this is intended and that future work will add to the index page.

[2020-01-14 15:03] sftim commented on #18680
/remove-kind bug

[2020-01-14 15:04] sftim commented on #18680
/remove-kind bug

[2020-01-14 15:48] php-coder commented on #18658
It seems like the same as #18420

[2020-01-14 17:21] mfilocha commented on #18680
https://kubernetes.io/pl/ is ready.

[2020-01-14 17:29] #18271 closed

[2020-01-14 17:38] sftim commented on #18680
:tada:
/close

[2020-01-14 17:38] #18680 closed

[2020-01-14 18:09] sftim opened #18686 "https://k8s.io/pl/docs/ does not redirect to https://kubernetes.io/pl/docs/home/"
**This is a Bug Report**

**Problem:**
https://k8s.io/pl/docs/ does not redirect to https://kubernetes.io/pl/docs/home/

Try this with other localizations and you often get redirected (not all localizations have that redirect configured).

**Proposed Solution:**
Initially: investigate. Maybe there is a step missing to check new localizations?

**Page to Update:**
https://kubernetes.io/pl/docs/

**

[2020-01-14 18:13] sftim commented on #18675
/kind feature

[2020-01-14 18:40] #15896 closed

[2020-01-14 18:58] sftim commented on #15748
Give the status and that this is pending a KEP:
/remove-priority important-soon

[2020-01-14 20:18] zacharysarah commented on #18675
@liggitt

I love this! ✨ It should be fairly straightforward to include that in our generation scripts.

@tengqm @kbhawkey  👋 What do you think?

[2020-01-14 21:01] abstrask commented on #16740
/remove-lifecycle stale

[2020-01-15 01:15] ydcool commented on #15353
/close

[2020-01-15 01:15] #15353 closed

[2020-01-15 01:16] tengqm commented on #18675
I believe this content would be very useful for users, especially developers who are building applications or services based on the k8s API surface.

[2020-01-15 01:20] gochist commented on #18498
@sftim As [I commented to the PR](https://github.com/kubernetes/website/pull/18531#issuecomment-572598842), the Korean localization team decided not to translate static strings in the example code during the team's regular online meeting.

[2020-01-15 01:30] gavinfish commented on #18686
/assign

[2020-01-15 01:34] gavinfish commented on #18686
It seems that https://k8s.io/zh/docs/ also does not redirect.

[2020-01-15 01:41] tallclair opened #18691 "kubernetes.io/security forwards to the chinese security policy"
**This is a Bug Report**

**Problem:**
kubernetes.io/security redirects to https://kubernetes.io/zh/docs/reference/issues-security/security/, but should redirect to https://kubernetes.io/docs/reference/issues-security/security/

[2020-01-15 01:44] tallclair opened #18693 "Update vulnerability disclosure policy for bug bounty"
Now that the bug bounty is publicly launched, we should update our vulnerability disclosure policy to direct reports to hackerone.

/assign

[2020-01-15 01:59] gavinfish commented on #18691
/assign

[2020-01-15 02:17] zacharysarah commented on #18686
As it turns out, each localization requires a redirect:
- https://github.com/kubernetes/website/commit/f44c14927bcc232aaa6e2a8aa990d1c0408af02a
- https://github.com/kubernetes/website/pull/14586

That's definitely worth documenting in how to initialize a localization.

[2020-01-15 02:19] #18686 closed

[2020-01-15 04:06] gaurav-mittal-helm opened #18695 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-pod-configmap/"
**This is a Bug Report**

**Problem:**
Section is missing where it explains the below usecase.
If the deployment has been done in a non-default namespace, then how the config map works and how to update the values in the pods.
**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-01-15 05:57] 532910 opened #18697 "CSS colors: both fg & bg must be explicitly defined"
**This is a Bug Report**

**Problem:**
![image](https://user-images.githubusercontent.com/14617699/72408773-e5d69200-3774-11ea-936b-3584e0da219b.png)
![image](https://user-images.githubusercontent.com/14617699/72408781-e7a05580-3774-11ea-82ad-555f9b6664d5.png)

**Proposed Solution:**
Both fg & bg must be explicitly defined

**Page to Update:**
https://kubernetes.io/...

[2020-01-15 07:39] Colstuwjx opened #18698 "clarify cadvisor acts as backend of kubelet metrics"
**This is a Feature Request**

**What would you like to be added**

Maybe add some content about kubelet built-in metrics source in https://kubernetes.io/docs/tasks/debug-application-cluster/resource-usage-monitoring/ ?

**Why is this needed**
[kubernetes #32638](https://github.com/kubernetes/kubernetes/issues/32638) proposed removing of cadvisor expose port, but we're still using builtin cadvisor

[2020-01-15 07:41] ydcool commented on #18691
/language zh

[2020-01-15 07:41] Colstuwjx commented on #18698
sorry, my mistake, it already has this:

[code]

[2020-01-15 07:41] #18698 closed

[2020-01-15 07:44] makiw commented on #18628
@sftim I'd like to work on this issue.

[2020-01-15 09:13] #17913 closed

[2020-01-15 09:28] sftim commented on #18498
Content is already localized!
/close

[2020-01-15 09:28] #18498 closed

[2020-01-15 10:33] #18577 closed

[2020-01-15 10:40] sftim commented on #18628
@makiw it'll be great to have your input
Have you already seen https://k8s.io/docs/contribute/?

[2020-01-15 10:55] tanjunchen commented on #18565
@yuxiaobo96
any update?

[2020-01-15 11:06] makiw commented on #18628
Yes, I've read the docs and signed CLA already.

[2020-01-15 11:35] basurohit77 opened #18703 "Issue with k8s.io/docs/tasks/access-application-cluster/create-external-load-balancer/"
**This is a Bug Report**

**Problem:

[rohitbasu77@oc2828850378 ~]$ kubectl get svc

NAME                 TYPE           CLUSTER-IP      EXTERNAL-IP   PORT(S)          AGE
hello-minikube       NodePort       100.64.76.213   <none>        8080:30034/TCP   8h
helloworld-service   LoadBalancer   100.70.237.0    <pending>     80:30636/TCP     51m
kubernetes           ClusterIP      100.64.0.1      <no

[2020-01-15 11:40] inductor commented on #18140
/milestone 1.17-ja.1

[2020-01-15 15:35] sftim commented on #18693
[Partly?] done in #18690
Are more changes needed?

[2020-01-15 15:36] sftim commented on #18693
/committee product-security

[2020-01-15 15:37] sftim commented on #18693
/priority important-longterm

[2020-01-15 15:37] sftim commented on #18697
For clarity:
/retitle CSS colors: both fg & bg must be explicitly defined

[2020-01-15 15:38] sftim commented on #18697
/kind bug
/priority important-longterm

[2020-01-15 16:11] rajibmitra commented on #18675
#https://github.com/falcosecurity/falco/issues/993

[2020-01-15 16:18] kbhawkey commented on #18691
/cc @zacharysarah @jimangel

[2020-01-15 16:25] sftim opened #18710 "Use monospace for filesystem paths in Minikube setup guide"
**This is an enhancement request**

**What would you like to be added**
I'd like https://kubernetes.io/docs/setup/learning-environment/minikube/#mounted-host-folders to use monospace (`like this`) text for the paths in the two rightmost columns in the table:
- HostFolder
- VM

**Why is this needed**
Improved styling. It's a minor thing that's nice to have.

**Comments**
/kind cleanup
/language en

[2020-01-15 16:40] zacharysarah commented on #18691
I seem to recall we’ve seen this before. @kubernetes/sig-docs-zh-owners Can we please make sure this doesn’t propagate to future versions?

[2020-01-15 16:50] kbhawkey commented on #18675
Yes, it would be useful to provide a summary of deprecated APIs per version (if the information can be automated from the code and kept up to date).

The `description` field provides the most detailed information. You may want a way of filtering this information.
If an API is slated for deprecation, the information is described in all versions until the API is finally removed?  For example,
`Depre

[2020-01-15 17:19] liggitt commented on #18675
If we have a set of releases, and the APIs deprecated in each, generating the following for each release is easy:
* removed APIs
* new deprecated APIs
* previously deprecated APIs

[2020-01-15 17:54] lightlace commented on #18710
/assign

[2020-01-15 18:18] tallclair commented on #18693
Oh yeah, that looks sufficient. Thanks @mayakacz

[2020-01-15 18:18] #18693 closed

[2020-01-15 18:26] yangatgithub opened #18714 "Issue with k8s.io/docs/concepts/storage/persistent-volumes/"
**This is a Bug Report**

**Problem:**

Are below statements correct? There are some discussions in the Internet that the "node" should be the "pod", i.e. ReadWriteOnce only allows a volume be mounted as read-write by a single pod.

ReadWriteOnce – the volume can be mounted as read-write by a single node
ReadOnlyMany – the volume can be mounted read-only by many nodes
ReadWriteMany – the volume ca

[2020-01-15 19:32] lightlace commented on #18579
/assign

[2020-01-15 22:36] lachie83 commented on #16466
Appreciate the feedback @markzzzsmith and would be more than happy to get this resolved. I just want to make sure I correctly understand the piece of the document that you're referring to is the example prefixes here`--cluster-cidr=10.244.0.0/16,fc00::/24` specifically `fc00::/24`. Given that this is an example prefix and a user should provide their own, what would you recommend putting there that

[2020-01-16 01:12] kfox1111 opened #18718 "Issue with k8s.io/docs/concepts/policy/pod-security-policy/"
This is more of a issue in general. Docs about things like pod-security-policy should have a link to the api reference for that object type. Its hard to go find the actual api reference from the document.

[2020-01-16 02:06] ydcool commented on #18714
It's more likely kind of bug, IMO

[2020-01-16 02:16] ydcool commented on #18697
Could you provide some more details about how to repeat this problem? like what's your OS/Browser or any browser plugins you're using? thanks

[2020-01-16 03:57] 532910 commented on #18697
Why does it matter? Just swap the default black foreground and white background color.
My setup is firefox with `$GTK_THEME=Adwaita:dark` and ``browser.display.use_system_colors=true`
But you can achieve this with
[code]
in `userContent.css`

[2020-01-16 08:28] Colstuwjx opened #18720 "Shall we link ephemeral container within pod troubleshooting pages"
**This is a Feature Request**

**What would you like to be added**
add more content with introducing ephemeral container within https://kubernetes.io/docs/tasks/debug-application-cluster/debug-pod-replication-controller/#my-pod-is-crashing-or-otherwise-unhealthy.

**Why is this needed**
It's really hard to trigger the root cause with a crash-backoff container, and I have seen our page about this p

[2020-01-16 09:39] basurohit77 commented on #18703
If you have issues getting the loadbalancer up on AWS with a kops cluster, then it's most likely a service linked role that doesn't exist. There's a missing piece in kops that it doesn't create this for you. You might want to go to your AWS Management console and create an ELB manually in the region your cluster is provisioned. Once you created the ELB you can immediately remove it. After that, cr

[2020-01-16 09:39] #18703 closed

[2020-01-16 10:21] Colstuwjx commented on #18714
Like @msau42 [said](https://github.com/kubernetes/kubernetes/issues/60903#issuecomment-377086770), the `mount` by node is a semantic for `node attach`, not pod mount.

TBH, I also get confused when I read our [PV page](https://kubernetes.io/docs/concepts/storage/persistent-volumes), the lifecycle of PV is really not well documented, we have been used `Provisioning -> Binding -> Using` for describi

[2020-01-16 10:23] Colstuwjx commented on #18714
sorry, should be
/sig storage

[2020-01-16 10:51] Colstuwjx opened #18723 "deprecation policy for tracking the upstream kubernetes repo"
**This is a Feature Request**

**What would you like to be added**
Kubernetes main repo is still in highly active development, and it has lots of features in/out, with these changes, our website should also track on this. For example, something like [heapster deprecation issue](https://github.com/kubernetes/website/issues/18658) or [federation v1 deprecation issue](https://github.com/kubernetes/we

[2020-01-16 10:53] sys-ops opened #18724 "Issue with k8s.io/docs/tasks/administer-cluster/configure-multiple-schedulers/"
**This is a Bug Report**

**Problem:**
I followed the steps in https://kubernetes.io/docs/tasks/administer-cluster/configure-multiple-schedulers/ tutorial.

At the end of it the annotation-second-scheduler POD got into **the pending state**.

Client Version: v1.17.0
Server Version: v1.17.0

Errors visible in my-scheduler POD:

[code]

**Proposed Solution:**
Remove lock-object-namespace and lock-ob

[2020-01-16 11:09] makiw commented on #18628
Retract my application as it seem I haven't meet some of requirements described in https://github.com/kubernetes/community/blob/master/community-membership.md

[2020-01-16 14:09] sftim commented on #18723
I'm not sure I understand what you're recommending @Colstuwjx; can you explain that a little more?

[2020-01-16 14:09] sftim commented on #18720
I don't see a big problem with adding that hyperlink.
/priority backlog
/language en

[2020-01-16 14:10] sftim commented on #18675
/priority important-longterm

[2020-01-16 14:11] Colstuwjx commented on #18718
Yes, you are right, inside this page, we didn't link the [reference page](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.17/#podsecuritypolicy-v1beta1-policy), it should be.

/assign
/sig docs
/kind documentation
/language en

[2020-01-16 14:12] sftim commented on #18724
It looks to me as if https://kubernetes.io/docs/tasks/administer-cluster/configure-multiple-schedulers/#run-the-second-scheduler-in-the-cluster ought to tell the reader to add a new namespace to hold lock objects.
Does that sound right?

/sig scheduling

[2020-01-16 14:13] Colstuwjx commented on #18723
Just like sth about kubernetes api: https://kubernetes.io/docs/reference/using-api/deprecation-policy/ . maybe our website documentation should also have this policy as our guide?

[2020-01-16 15:32] sftim opened #18730 "Outdated release notes"
**This is a cleanup issue**

**Problem:**
[Release notes](https://kubernetes.io/docs/setup/release/notes/) are at v1.17.0
whereas [v1.17.1](https://github.com/kubernetes/kubernetes/releases/tag/v1.17.1) is out.

**Proposed Solution:**
Publish updated release notes.

**Page to Update:**
https://kubernetes.io/docs/setup/release/notes/

**Kubernetes Version:**
v1.17.1

**Additional Information:**
/ki

[2020-01-16 16:10] michaelgugino opened #18731 "docs/reference/generated/kubernetes-api group names truncated"
**This is a Bug Report**

**Problem:**

When developing a new library that consumes kubernetes apis, I don't want to guess what the fully qualified API group is.  For example, "Secrets".  That is in the group "core.k8s.io/v1" (as far as I know, that might not even be right).  Most items in that reference are missing the fully qualified group name for no good reason.

Good example: https://kubernet

[2020-01-16 17:29] Benjamintf1 commented on #16147
Oh wow, this should have been closed a while ago. It's been merged in.

[2020-01-16 17:29] #16147 closed

[2020-01-16 20:51] sftim commented on #18617
I did some testing.
For me `kubectl get node <node> -o json | jq .status` works but `kubectl get node <node> -o json | jq .status.config`  works, because the node status doesn't include a config item.

(So: it looks like there is a bug, but I'm not 100% sure that the suggested fix is right).

If you don't substitute or set `${NODE_NAME}` then you will get a different output because you're actually

[2020-01-16 21:18] siicosmos commented on #18617
I'm not sure why my `kubectl get node <node> -o json` returns something like this:
![image](https://user-images.githubusercontent.com/32992508/72563361-5ad3c580-3862-11ea-9acb-cce9874e9514.png)
I am very sure I have set ${NODE_NAME} to be the node name.

[2020-01-16 23:39] bleggett commented on #15166
@sftim As someone who just hit this, I'd like some indication in the docs as to how I can get the credentials if my docker config looks like this, rather than an observation stating that "your docker config may not look like this"

[2020-01-17 03:36] prankul88 commented on #18730
@sftim As I see in the previous release documentation [(v1.16)](https://v1-16.docs.kubernetes.io/docs/setup/release/notes/), it hasn't covered the minor releases.
So was curious is it necessary ?

[2020-01-17 07:20] gaoguangze111 opened #18737 "Left panel navigating bar layout and link bugs"
**This is a Bug Report**

**Problem:**
The left panel navigating bar on Chinese version website has globally a extra sub option who has the same name with the main option. The first two sub options of a main option link to the same page.
<img width="960" alt="bug" src="https://user-images.githubusercontent.com/16621880/72592105-cbe7ab80-393c-11ea-9e78-fcabeebe52ce.png">

**Proposed Solution:**
Rem

[2020-01-17 07:22] tengqm commented on #18731
Does this help? https://kubernetes.io/docs/concepts/overview/kubernetes-api/#api-groups

The "core" group IS SPECIAL.

[2020-01-17 07:23] gaoguangze111 commented on #18737
/language zh

[2020-01-17 07:35] tengqm commented on #18723
Adding new deprecation policies to website is not gonna make things better, I suspect. We are already under staffed. We are killing ourselves if we keep adding more processes, more guidelines to follow. What we can/should do is to encourage contributions.

In an ideal world:

- Experimental (alpha, beta) features should be documented and advocated as early as possible, so the developers get quick

[2020-01-17 07:37] tengqm commented on #18737
looks like a hugo thing to me, but I dont have bandwidth to investigate.

[2020-01-17 07:58] Colstuwjx commented on #18723
Yes, it is a balance job. I agree with you, Adding new deprecation policies would make things complicated. My original intention was just adding some guides, that we could move on deprecate or update document without waiting for related owners slowly response.

Just like federation such issue, the new coming kubefed is **really NOT a new gamer**, it began developing [more than one year](https://gi

[2020-01-17 07:58] #18723 closed

[2020-01-17 08:21] tengqm commented on #18675
@liggitt I have spent quite some weeks on digesting the API specifications, from version to version. What I have got is a mixed feeling. It would be highly desirable to have a comprehensive list of API changes (not just deprecations), including:

- API groups, APIs, or fields newly introduced;
- API groups, APIs, or fields graduated;
- API groups, APIs, or fields deprecated, i.e. the lucky ones wh

[2020-01-17 08:42] #17865 closed

[2020-01-17 08:47] Colstuwjx opened #18738 "Link for mail list inside contribute localization looks odd"
**This is a Bug Report**

**Problem:**
See https://kubernetes.io/zh/docs/contribute/intermediate/#%E6%9C%AC%E5%9C%B0%E5%8C%96%E5%86%85%E5%AE%B9 :

[code]

**Proposed Solution:**
Correct the link.

**Page to Update:**
https://kubernetes.io/zh/docs/contribute/intermediate/#%E6%9C%AC%E5%9C%B0%E5%8C%96%E5%86%85%E5%AE%B9

/language zh
/good-first-issue

[2020-01-17 08:51] gavinfish commented on #18737
/assign

[2020-01-17 08:57] vishal-yadav commented on #17908
As I can see the -k option is also explained in the section when not specifying certificate file (-k just ignores the --cacert option to curl).

The real issue is certificate created from [nginx-https](https://github.com/kubernetes/examples/tree/master/staging/https-nginx/) example contains "nginxsvc" as CN field while the example in the documentation creates service with name "my-nginx" and uses

[2020-01-17 09:32] yzs981130 opened #18742 "Issue with k8s.io/zh/docs/tasks/administer-cluster/access-cluster-api/"
**This is a Bug Report**

**Problem:**
The link to example has failed in the [section](https://kubernetes.io/zh/docs/tasks/administer-cluster/access-cluster-api/#python-%E5%AE%A2%E6%88%B7%E7%AB%AF). The [link](https://github.com/kubernetes-client/python/tree/master/examples/example1.py) ends up with a 404.
**Proposed Solution:**
Replace with [this](https://github.com/kubernetes-client/python/blob/

[2020-01-17 10:09] llamerada-jp opened #18746 "About the description accuracy of the object name."
**This is a Feature Request**

**What would you like to be added**

In the following pages, I thought about describing the actual restrictions for the name of each object.
https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names

For example, How about you that the following contents described in `Note`.

**Why is this needed**

When I was developing a function to create obje

[2020-01-17 10:57] sftim commented on #15166
Thanks
/priority backlog
/remove-lifecycle stale

[2020-01-17 11:42] #18322 closed

[2020-01-17 12:14] tengqm commented on #18746
There are different constraints to object names. Because of the way resources are defined and implemented and also way the API spec is generated ... constraints on `metadata.name` are very difficult to capture.

[2020-01-17 12:14] tengqm commented on #18746
/assign

[2020-01-17 12:44] sftim commented on #18730
I don't see an update as essential. Having current release notes is certainly nice to have.
Perhaps the website build process could automatically fetch the latest release notes? I think that would help.

[2020-01-17 13:12] prankul88 commented on #18730
@sftim Ya that would be ideal.

[2020-01-17 15:46] #15932 closed

[2020-01-18 01:07] savitharaghunathan commented on #18746
/language en

[2020-01-18 01:56] Colstuwjx opened #18755 "Tasks catalog is not aligned with its index page TOC"
**This is a Bug Report**

**Problem:**
When I visit the tasks index page, I have seen a catalog for navigation:

![image](https://user-images.githubusercontent.com/3972545/72656708-36015e80-39d8-11ea-9710-895ca1938879.png)

and the tasks index page also show me TOC which indicates the indexes and offers basic knowledge about what do we learn from this part:

![image](https://user-images.githubuser

[2020-01-18 04:38] c00 commented on #15166
@bleggett In case you are still looking for a solution, check out [this documentation](https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/#create-a-secret-by-providing-credentials-on-the-command-line) on creating docker creds from the command line.

[code]

[2020-01-18 04:59] gavinfish commented on #18737
This may be a bug from hugo and I have submitted an issue gohugoio/hugo#6770. And I think it is ok for us to remove simple comments like below in `_index.md` files to mitigate this issue. What do you guys think?

[code]

[2020-01-18 07:41] 532910 opened #18758 "unreadable gapless navigation in mobile view"
https://kubernetes.io/docs/concepts/

![image](https://user-images.githubusercontent.com/14617699/72660429-d5c1eb00-39de-11ea-86cc-a972cb330dc5.png)
![image](https://user-images.githubusercontent.com/14617699/72660432-deb2bc80-39de-11ea-9470-a43fc1c21fe0.png)

[2020-01-18 07:44] 532910 opened #18759 "horizontal scroll for navigation"
navigation doesn't width-fit:

![image](https://user-images.githubusercontent.com/14617699/72660446-423cea00-39df-11ea-933d-cd928d8796f1.png)

[2020-01-18 09:02] #15258 closed

[2020-01-18 11:35] aojea commented on #16466
This RFC proposal has a good point https://tools.ietf.org/html/draft-delong-ula-example-00
We can use `fc00:2001:db8::/48`

[2020-01-18 13:33] #18742 closed

[2020-01-18 14:22] markzzzsmith commented on #16466
On Sat, 18 Jan 2020 at 22:35, Antonio Ojea <notifications@github.com> wrote:

We can use fc00:2001:db8::/48

That would still violate RFC4193. The 2001:db8 in the Global ID position is
a well known value, as it is the IPv6 documentation prefix.. RFC4193:

"They MUST NOT be assigned sequentially or with well-known numbers. "

There have been a number of discussions over the years about how to put i

[2020-01-18 14:59] af12066 commented on #18154
/assign

[2020-01-18 14:59] inductor commented on #18154
/milestone 1.17-ja.1

[2020-01-18 17:00] sftim commented on #18231
I just noticed that https://kubernetes.io/docs/contribute/style/write-new-topic/#including-code-from-another-file does mention this shortcode.

[2020-01-18 17:16] mda-jobs opened #18763 "Issue with k8s.io/docs/reference/glossary/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-01-18 17:18] mda-jobs commented on #18763
The glossary does not contain a definition for Kubernetes object, or Kubernetes master.

[2020-01-18 17:27] sftim commented on #16466
Rather than:
[code]

we can also write:
[code]

[2020-01-18 23:46] mykevinjung opened #18766 "Issue with k8s.io/docs/tutorials/kubernetes-basics/scale/scale-interactive/"
**This is a Bug Report**

**Problem:**
I see the following message in the course.

However, I do not see READY column.  This is what I see
[code]

**Proposed Solution:**
Update the description accordingly based on the version of `kubectl`

**Page to Update:**
https://kubernetes.io/docs/tutorials/kubernetes-basics/scale/scale-interactive/

[2020-01-19 02:35] zacharysarah commented on #18619
Looking at netlify, the build configuration should be adding comments with build previews:

<img width="50%" alt="Screen Shot 2020-01-18 at 6 30 47 PM" src="https://user-images.githubusercontent.com/3210446/72673550-e5faba00-3a20-11ea-9b52-7ab167b444d1.png">

I've done the simplest thing possible to remedy the error: removed the setting and re-added it.

Please comment on whether subsequent PRs fe

[2020-01-19 03:39] ydcool commented on #18766
Because the version of the kubectl you're using is too old ( see `kubectl version` )

[2020-01-19 03:42] tanjunchen commented on #18737
I think this problem should be solved from the upstream first, I hope your [issue](https://github.com/gohugoio/hugo/issues/6770) can play a certain role. if it can't,we should reconsider this solution.what do you say?
about this series of problems, this pr https://github.com/kubernetes/website/pull/18694 , can work?

[2020-01-19 03:59] mykevinjung commented on #18766
This is about online interactive page, not my local.

[2020-01-19 04:04] gavinfish commented on #18737
@tanjunchen if hugo can fix this, I would love it to prevent lots of unnecessary work here. But I have no idea whether hugo team will provide a fix and when is the ETA.

And for that pr, its target is totally different. Remove the alias property is to prevent short link like `kubernetes.io/security` redirects to zh version instead of en one. Indeed, we can create a new issue to track the redirect

[2020-01-19 04:17] ydcool commented on #18766
Yes that page hasn't been updated for three years, and the interactive command line embedded with katacoda was outdated too. I'ill dig into it for some more information and possible solutions.

---Original---
From: "mykevinjung"<notifications@github.com&gt;
Date: 2020/1/19 11:59:11
To: "kubernetes/website"<website@noreply.github.com&gt;;
Cc: "Comment"<comment@noreply.github.com&gt;;"Dominic Yin"<h

[2020-01-19 04:49] markzzzsmith commented on #16466
On Sun, 19 Jan 2020, 04:27 Tim Bannister, <notifications@github.com> wrote:

I think it is better to include the 'fd' because that is the ULA high order
8 bits for all ULAs today, and it is better to show the format of IPv6
addresses.

The IPv6 address formatting conventions of addresses is more strict than
IPv4. (IPv4's flexibility came about fundamentally to try to work around
the 32 bit address

[2020-01-19 05:35] tanjunchen commented on #18737
@gavinfish  yes . understand

[2020-01-19 07:07] Okabe-Kurisu opened #18771 "Issue with k8s.io/zh/docs/concepts/architecture/"
**This is a Bug Report**

**Problem:**
it a copy of https://kubernetes.io/zh/docs/concepts/architecture/nodes/
**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-01-19 07:36] gavinfish commented on #18771
I think this is duplicated with #18737.

/language zh

[2020-01-19 07:39] Okabe-Kurisu commented on #18771
oh。。

[2020-01-19 07:39] #18771 closed

[2020-01-19 08:07] ydcool commented on #18738
Yes that might be a mistake, I'll help to fix this, thank you for pointing this out.
/assign

[2020-01-19 08:27] inductor commented on #17739
/close

[2020-01-19 08:27] #17739 closed

[2020-01-19 11:46] sftim commented on #18763
Good point @mda-jobs
/priority backlog
/language en

We could possibly add a “master” for a synonym for “control plane”, and then in the entry for “control plane” explain the similarities and differences between the two terms.

[2020-01-19 11:46] sftim commented on #18763
/help

[2020-01-19 11:47] sftim commented on #18766
/kind bug
/priority backlog
(but only barely; I think this is on the cusp of being /priority important-longterm)

[2020-01-19 11:48] sftim commented on #18759
That's true, and it's something we should fix
/priority backlog

[2020-01-19 11:51] sftim commented on #8402
I'm going to
/reopen
this, it's relevant to #18755

[2020-01-19 11:51] sftim commented on #8402
/priority important-longterm

[2020-01-19 11:53] sftim commented on #18746
It sounds like this is a request to enhance https://k8s.io/docs/concepts/overview/working-with-objects/names/ and perhaps also to have more pages link to that.

@llamerada-jp does that sound like I have got that right?

[2020-01-19 11:54] sftim commented on #18746
https://k8s.io/docs/concepts/overview/working-with-objects/names/ doesn't really make it clear that you can have different objects with the same name, so long as those objects are in a different namespace.

[2020-01-19 11:55] sftim commented on #18746
What priority should this issue have? The current page looks outright incorrect.
/kind bug

[2020-01-19 16:33] #15499 closed

[2020-01-19 18:51] jimangel commented on #14111
/remove-lifecycle rotten

[2020-01-19 23:59] rahulrai-in commented on #18628
If it is okay, I would like to take this up. Thanks.

[2020-01-20 00:57] Colstuwjx commented on #18619
Hi @zacharysarah ,

I have been checked some new coming PRs, now the new pushing commit will trigger adding or editing a comment from netlify bot, see #18772 , #18773  , #18774 , #18775 .

I still could NOT find out the root cause, but it seems fixed!

[2020-01-20 00:57] #18619 closed

[2020-01-20 01:30] inductor commented on #18382
/close

[2020-01-20 01:30] #18382 closed

[2020-01-20 09:12] ydcool commented on #18758
/assign

[2020-01-20 10:43] llamerada-jp commented on #18746
@tengqm @sftim
Thank you for your reply.

That's right. But I convinced that it is difficult because of my guess and tengqm's reply.
So I'm going to withdraw.

I didn't consider namespace.
It is explained on the page of namespace. I think it is enough.
https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/#when-to-use-multiple-namespaces

[2020-01-20 11:09] sftim commented on #18672
The English page at https://kubernetes.io/docs/tasks/debug-application-cluster/audit/ looks more like a concept document with a [task](https://kubernetes.io/docs/tasks/debug-application-cluster/audit/#log-collector-examples) at the end.

I think it'd be worth splitting this page up into a concept page and a (new) task page.

[2020-01-20 11:10] sftim commented on #18672
New concept page could be, eg, https://k8s.io/docs/concepts/security/audit/

[2020-01-20 11:10] sftim commented on #18672
/priority backlog

[2020-01-20 15:48] kbhawkey commented on #14111
Hi @jimangel . Just letting you know that I am working on #18567.

[2020-01-21 00:36] rahulrai-in commented on #18628
/assign

[2020-01-21 01:38] inductor commented on #17743
/close

[2020-01-21 01:38] #17743 closed

[2020-01-21 03:48] duanwei33 opened #18789 "PV status did not match previous introduction in https://kubernetes.io/docs/concepts/storage/persistent-volumes/#storage-object-in-use-protection"
**This is a Bug Report**

**Problem:**

You can see that a PV is protected when the PV’s status is Terminating and the Finalizers list includes kubernetes.io/pv-protection too:

kubectl describe pv task-pv-volume
Name:            task-pv-volume
Labels:          type=local
Annotations:     <none>
Finalizers:      [kubernetes.io/pv-protection]
StorageClass:    standard
Status:          Available
Cla

[2020-01-21 05:43] zacharysarah commented on #18117
@Bradamant3 @kbarnard10 👋 In order for this PR to move forward, please comment with your assent.

[2020-01-21 05:46] zacharysarah commented on #18766
/assign @BenHall

[2020-01-21 07:05] alexcpn opened #18792 "Issue with k8s.io/docs/tasks/tools/install-minikube/"
**Problem:**
I upgraded to  the latest minikube in Ubunutu ; However, I am not able to find the latest stable Kubernetes (https://storage.googleapis.com/kubernetes-release/release/stable.txt)  in it.
[code]

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

Kuberenets v1.17 is not present
Client
kubectl version
Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1

[2020-01-21 07:17] alexcpn commented on #18792
If I unistall /remove the old minikube and install fresh  it is working. Please add that as a suggestion (minikube upgrade page is in a worse state)

[2020-01-21 08:33] wyyxd2017 opened #18796 "delete zh SEE ALSO(51-54)"
delete zh SEE ALSO(51-54)
The 51~54 files.
#18788

[2020-01-21 10:22] tomklino opened #18797 "Issue with k8s.io/docs/reference/command-line-tools-reference/kube-scheduler/"
**This is a Bug Report**

**Problem:**
All the flags regarding policy configuration (`--policy-config-file`, `--policy-configmap`, `--policy-configmap-namespace`, `--use-legacy-policy-config`) are marked as "DEPRECATED" but no alternative is documented, nor an explanation as to why they have been deprecated.

Also, I could not find in the docs a non-depreciated way to configure the scheduler polic

[2020-01-21 11:29] vivekjainx86 opened #18798 "Add dark mode for docs"
Please add dark mode for docs

[2020-01-21 11:59] tanjunchen commented on #18796
/close
due to https://github.com/kubernetes/website/pull/18788

[2020-01-21 11:59] #18796 closed

[2020-01-21 13:08] gavinfish commented on #18798
Ref #7724

/help

[2020-01-21 13:12] gavinfish commented on #18798
@vivekjainx86 thanks for sharing your idea here. I also prefer to enable dark mode at night.

Please update the title here since it is really confusing.

[2020-01-21 15:07] #18738 closed

[2020-01-21 16:16] daleangus opened #18802 "Improvement for k8s.io/docs/tasks/access-application-cluster/service-access-application-cluster/"
Is the documentation correct? Just noticed that this doesn't work.

`curl http://public-node-ip:node-port
Connection refused

But this does

curl http://public-node-ip:8080.

[2020-01-21 17:59] sftim commented on #16675
/remove-lifecycle stale
/lifecycle frozen

[2020-01-21 19:06] satva commented on #18485
Yes Please . Will be of help to  k8s layman. Thnx.

[2020-01-21 23:34] inductor opened #18809 "Delete extensions/v1beta1 in docs"
**This is a Feature Request**

Since v1.16, extensions/v1beta1 has been deleted and it should not be used in docs

**What would you like to be added**
The following pages should be edited due to this deletion.
- [ ] https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/overview/kubernetes-api.md
- [ ] https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/w

[2020-01-22 00:13] sftim commented on #18809
/kind cleanup

/priority important-soon
(I think)

[2020-01-22 00:14] sftim commented on #18798
/kind feature

[2020-01-22 00:14] sftim commented on #18798
/retitle Add dark mode for docs

[2020-01-22 00:17] sftim commented on #18797
The reference documentation is built automatically from code inside https://github.com/kubernetes/kubernetes/tree/master/cmd/kube-scheduler/app

I think it would make sense to track this issue in [kubernetes/kubernetes]https://github.com/kubernetes/kubernetes).

[2020-01-22 00:18] sftim commented on #18758
Thanks @532910
/kind bug

[2020-01-22 00:19] sftim commented on #18792
@alexcpn if there were an “upgrade Kubernetes in Minikube” page, and https://k8s.io/docs/tasks/tools/install-minikube/ linked there, do you think that would be viable solution?

[2020-01-22 02:30] gavinfish commented on #18802
@daleangus the `node-port` is just a placeholder here, you need to update it with your own value like 8080.

[2020-01-22 02:39] daleangus commented on #18802
The instructions are confusing.
From step 5.

Name:                   example-service
Namespace:              default
Labels:                 run=load-balancer-example
Annotations:            <none>
Selector:               run=load-balancer-example
Type:                   NodePort
IP:                     10.32.0.16
Port:                   < unset > 8080/TCP
TargetPort:             8080/TCP
**NodeP

[2020-01-22 04:26] zacharysarah commented on #18615
Closed by #18779
/close

[2020-01-22 04:26] #18615 closed

[2020-01-22 05:00] mwyrembl opened #18813 "Issue with k8s.io/docs/concepts/configuration/manage-compute-resources-container/"
**This is a Bug Report**

**Problem:**
The link in section "Monitoring compute resource usage" returns 404 and needs to be updated.

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-01-22 05:03] alexcpn commented on #18792
Yes; that would be fine. Since this is for experimental work, no one really minds deleting the existing and installing things anew; ( for users who need their old k8s vms working with new minikube etc, if upgrade supports that great, but I believe with new  kubectl, they will  have compatibility problems with the old vms or vice versa)

[2020-01-22 05:37] gavinfish commented on #18615
/reopen
There should be more follow ups here.

[2020-01-22 06:20] Colstuwjx commented on #18789
Yes, I think you are right, it should be a mistake.

/kind documentation
/language en
/assign

[2020-01-22 06:38] gavinfish commented on #18485
/good-first-issue

[2020-01-22 09:26] Kartik494 commented on #18802
@daleangus in my environment i got the result as expected by curl service using `curl http://< public-node-ip >:< node-port >` as i have multinode cluster and my pod is deploying in worker node so when i hit service from my worker node, i got the expected result i.e Hello Kubernetes!
Thanks

[2020-01-22 11:03] daleangus commented on #18802
Thanks @Kartik494 .
I'll just share my notes here. Please let me know if you find anything wrong.

angus@ubuntu18-k8s-master:$ kubectl describe services example-service
Name:                     example-service
Namespace:                default
Labels:                   < none >
Annotations:              < none >
Selector:                 run=load-balancer-example
Type:                     NodePor

[2020-01-22 11:20] Kartik494 commented on #18802
@daleangus in curl http://< public-node-ip >:< node-port >,the public-node-ip is here refrenced to the ip of your node,so do give a try using your node-public-ip:31156.You are providing here Endpoints here rather than node-ip.
Example of my scenraio:-
root@kworker:/home/vagrant# kubectl describe svc example-service
Name:                     example-service
Namespace:                default
Labels:

[2020-01-22 11:25] #18802 closed

[2020-01-22 12:38] KenJi544 opened #18819 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
when I try to run kubectl I get
[code]

[2020-01-22 17:49] edgarlanting opened #18820 "Kubernetes 1.16 API documentation version mismatch"
**This is a Bug Report**

**Problem:**
The API docs at https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.16/ have a wrong version spec in the top right hand corner specifying `API Version: v1.17.0` which points to https://github.com/kubernetes/kubernetes/blob/release-1.17/api/openapi-spec/swagger.json

**Proposed Solution:**
Change the link on https://kubernetes.io/docs/reference/ge

[2020-01-22 17:50] edgarlanting commented on #18820
Suggested a change to the older 1.16.0 API docs at https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.16/  which has a reference to https://github.com/kubernetes/kubernetes/blob/release-1.17/api/openapi-spec/swagger.json (Version mismatch).

[2020-01-22 18:08] sftim commented on #18809
If you are looking at this as potentially something to contribute to, it's OK to suggest a PR that fixes only one page, or only some pages.
If you do that please mention “Partial fix for issue #18809” in the description of your PR.

[2020-01-23 04:54] ryan-g2 opened #18824 "Improvement for k8s.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/"
The setup guide for Weave Net does not specify to supply a CIDR command to the kubeadm init command when launching a cluster.

I am on ubuntu 19.10 running 3 VMs of Ubuntu 18.04.  Without the CIDR command the weave-net pod would always crash and keep my node in a NotReady state.  After supplying `--pod-network-cidr=10.32.0.0/12` to kubeadm init all my pods and nodes could create as expected.

NOTE

[2020-01-23 07:16] ryan-g2 commented on #18824
`kubeadm version: &version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.2", GitCommit:"59603c6e503c87169aea6106f57b9f242f64df89", GitTreeState:"clean", BuildDate:"2020-01-18T23:27:49Z", GoVersion:"go1.13.5", Compiler:"gc", Platform:"linux/amd64"}`

I am not passing any of those arguments - this is the command I am using to setup the cluster  ` kubeadm init --pod-network-cidr=10.32.0.0/12 --apiser

[2020-01-23 09:10] qgd6zqws1h opened #18827 "Issue with k8s.io/docs/tasks/administer-cluster/declare-network-policy/"
**This is a Bug Report**

**Problem:**
This works as specified when nginx and busybox are both running on the same node, but we can't get it to work when they run on different nodes. Tested with 1.16.2, 1.16.3 and 1.17.0, latest Calico, Ubuntu 18.04.3 LTS server.

**Proposed Solution:**
We have not been able to resolve this.

**Page to Update:**
https://kubernetes.io/...

1.17.0

I have included a

[2020-01-23 10:50] Kartik494 commented on #18824
@ryan-g2 i faced the similar issue when i used kubeadm init without mentioning --pod-network-cidr=10.32.0.0/12,i think for user's to create pod --pod-network-cidr is necessary.
and in my environment i don't get my  coredns pod up and running and after applying weavenet plugin i got my coredns pod running.
kube-system   weave-net-6bsdp                             2/2     Running   14         10d
ku

[2020-01-23 12:55] kakts opened #18829 "Translate concepts/cluster-administration/cluster-administration-overview.md into Japanese"
**This is a Feature Request**

**What would you like to be added**

**Why is this needed**
This document is not translated in Japanese.
**Comments**

Copy a file from en contents to content/ja/docs/concepts/cluster-administration/cluster-administration-overview.md  and translate it into Japanese.

[2020-01-23 12:55] kakts commented on #18829
/language ja
/assign

[2020-01-23 14:40] jberkus opened #18831 "Issue with k8s.io/docs/concepts/services-networking/service-topology/"
**This is a Bug Report**

**Problem:**
Broken Link.

Page has link to https://kubernetes.io/docs/tasks/administer-cluster/enabling-service-topology at the bottom, a page which does not exist.

**Proposed Solution:**

**Page to Update:**
k8s.io/docs/concepts/services-networking/service-topology/

[2020-01-23 15:07] mmiara opened #18832 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm/"
**This is a Bug Report**

**Problem:**
Does not give any information on operations after the cluster is formed. Following documentation only supports single etcd node (how is the documentation for production recommended cluster not included?)

**Proposed Solution:**

Add documentation on how to manage this cluster when changes need to be made.

**Page to Update:**
https://kubernetes.io/...

[2020-01-23 15:31] gavinfish commented on #18831
This broken link should be fixed after #18712 is merged.

[2020-01-23 15:50] neolit123 commented on #18824
@ryan-g2

i would like to point out this is the first time i hear that weavenet requires the Pod network CIDR in some cases. this seems like a bug in weavenet to me.

once `init` finishes what is the output of `kubectl get cm kube-proxy -o yaml -n kube-system`?

this seems like a weavenet problem and not a kubeadm one. please try logging an issue in the weavenet issue tracker.

strange.

[2020-01-23 15:51] neolit123 commented on #18824
@Kartik494

and in my environment i don't get my coredns pod up and running and after applying weavenet plugin i got my coredns pod running.

like i've mentioned earlier weavenet does not require --pod-network-cidr unless the users is applying non-default values to kube-proxy.

but yes, a CNI plugin is required for the coredns pods to start.

[2020-01-23 16:13] neolit123 commented on #18832
this is not the responsibility of the kubeadm docs.
for external etcd - upgrades, restarts and maintenance are the responsibility of the operator using commands such as etcdctl:
https://github.com/etcd-io/etcd/tree/master/etcdctl

the purpose of https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm/ is to document a multi-node etcd setup.

i do not see an

[2020-01-23 16:13] #18832 closed

[2020-01-23 16:56] lachie83 commented on #16466
I'm not any closer to understanding what update I can make to the docs that satisfies this issue. @markzzzsmith can you please provide some succinct suggestions?

[2020-01-23 18:00] ahmedatgithub opened #18833 "All links are broken in https://kubernetes.io/docs/tasks/"
**This is a Bug Report**
**Problem:**
All links are broken in k8s.io/docs/tasks/
**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/tasks/

[2020-01-23 18:03] ahmedatgithub commented on #18833
the links take you to subsections within the same page instead of the intended pages.

[2020-01-23 18:03] omkensey commented on #18628
This also looks like maybe it affects the rendering of the main Kubernetes web page at https://kubernetes.io/ also, actually -- under Features, EndpointSlices is listed before Service Topology (in fact EndpointSlices is the very first feature listed).

[2020-01-23 18:57] ryan-g2 commented on #18824
@neolit123

This is the first I have heard of Weave needing a CIDR as well.  I also stumbled across this on my first attempt setting up a cluster.  Both docs, Kubernetes and Weave, didn't mention did mention needing this.  I spent a few hours trying to debug my cluster to figure out why the pods were not communicating.

I did try one attempt, that failed, of getting a Calico net setup for the clus

[2020-01-23 19:44] junjo255 opened #18835 "Issue with k8s.io/docs/tutorials/kubernetes-basics/explore/explore-interactive/"
**This is a Bug Report**

**Problem:** When I click on 'continue' button that's on the last step, the section of the page responds with "docs.google.com took too long to respond."

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-01-23 20:00] markzzzsmith commented on #16466
On Fri, 24 Jan 2020, 03:56 Lachlan Evenson, <notifications@github.com>
wrote:

From earlier

'So for this document, say something like:

"IPv6 Unique Local Unicast /48 prefixes are intended to likely be globally
unique (although not globally reachable), so that multiple ULA address
spaces can be merged without having to renumber the networks or having to
deploy network address translation. Softwar

[2020-01-23 20:09] walterdolce commented on #18820
Tracked also in kubernetes/kubernetes#87454

[2020-01-23 20:53] kbhawkey commented on #18820
/assign

[2020-01-23 22:57] gavinfish commented on #18833
The above links are just the toc of the page, so it makes sense to take you to subsections within the same page.

[2020-01-24 01:33] ryan-g2 commented on #18824
RE: The kube-proxy output once I have setup the master (before adding the node that has the crashing net pod):

data:
  config.conf: |-
    apiVersion: kubeproxy.config.k8s.io/v1alpha1
    bindAddress: 0.0.0.0
    clientConnection:
      acceptContentTypes: ""
      burst: 0
      contentType: ""
      kubeconfig: /var/lib/kube-proxy/kubeconfig.conf
      qps: 0
    clusterCIDR: ""
    configSyncP

[2020-01-24 01:54] neolit123 commented on #18824
given this field is empty i'm inclined to believe this is some sort of a weavenet issue.

[2020-01-24 02:30] kbhawkey commented on #18820
@edgarlanting , Thanks for opening the issue. The version was fixed in the release-1.16 branch (PR #18587). Just checked that the version of the API ref is correct in the 1.16 snapshot:
https://v1-16.docs.kubernetes.io/.
However, the link to the 1.16 version of the API ref from https://kubernetes.io/docs/reference/  is pointing to the previous generation of API ref 1.16, not the corrected snapshot

[2020-01-24 03:23] rahulrai-in commented on #18628
Thanks for pointing that out @omkensey. I will put that list in the same sequence as documentation. I am planning to work on it this weekend.

[2020-01-24 06:11] gsoria commented on #18766
I've sent a [PR](https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios/pull/17) to update the step 1 of the [scenario](https://kubernetes.io/docs/tutorials/kubernetes-basics/scale/scale-interactive/)

[2020-01-24 06:45] gavinfish commented on #18809
@makocchi-git thanks for contribution here.
Could you please share which pages would you take? Let us make the assignment more clear and help other contributors easily start their work.

[2020-01-24 07:31] makocchi-git commented on #18809
@gavinfish Thank you for your comments.
I wrote the target file into PR titles.
And I will write to the comment about netlify demo pages and original pages to enable checking the diff easily.

[2020-01-24 10:02] BenHall commented on #18766
Thanks @gsoria, this has been merged.

[2020-01-24 12:03] neoneno opened #18846 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-service-account/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-01-24 13:45] scientronic92 opened #18847 "Issue with install-minikube"
After running
[code]
I am getting the following log:
[code]
How to be authorized?

[2020-01-24 14:03] edgarlanting commented on #18820
whoops, was not aware of that one. Thanks @walterdolce

[2020-01-24 14:04] edgarlanting commented on #18820
Thanks @kbhawkey!

[2020-01-24 15:48] php-coder commented on #18847
It seems that it's minikube or kubernetes-related issue rather than something in documentation. I'd suggest to fill the issue against https://github.com/kubernetes/minikube as it would have more chances to be solved.

Also, logs and enabling debug output would be helpful, see https://minikube.sigs.k8s.io/docs/tasks/debug/

[2020-01-24 15:50] php-coder commented on #18846
@neoneno Hi, could you explain what was the issue? Unfortunately there is no text so it's impossible to help/solve this without your input. Thanks!

[2020-01-24 15:54] scientronic92 commented on #18847
Thank you @php-coder, the problem solved!
It needed some time to start Minikube:
[code]

[2020-01-24 15:54] #18847 closed

[2020-01-24 17:46] php-coder opened #18850 "hostPath volume description should mention and recommend readOnly field"
**This is a Feature Request**
The chapter that describes `hostPath` volume should mention `readOnly` field and recommend to use it when possible.

**What would you like to be added**
https://kubernetes.io/docs/concepts/storage/volumes/#hostpath should mention `readOnly` field

**Why is this needed**
This improves cluster security and should be always used when possible. Without a warning users mig

[2020-01-25 00:04] Ksmith30 commented on #18485
/assign

[2020-01-25 02:39] Kipruhwez commented on #18485
someone to help me with the online loan application code

[2020-01-25 02:40] Kipruhwez commented on #18485
sample code

[2020-01-25 08:01] kter commented on #17742
/assign

[2020-01-25 09:20] oke-py opened #18854 "Issue with k8s.io/docs/concepts/policy/limit-range/"
**This is a Bug Report**

**Problem:**
1. It is inconsistent whether `-n limitrange-demo` is given or not.
2. Current namespace should be changed in clean up process.

**Proposed Solution:**
1. Because `kubectl config set-context --current --namespace=limitrange-demo` is assumed to be executed, each command does not require `-n limitrange-demo` flag.
2. `kubectl config set-context --current --name

[2020-01-25 12:51] anshprat opened #18857 "Use markdown instead of html escape chars"
**This is a Bug Report**

**Problem:**
The code in https://github.com/kubernetes/website/blob/master/content/en/docs/contribute/style/write-new-topic.md uses escaped HTML chars to display. The following

`{{< codenew file="<RELPATH>/my-example-yaml>" >}}`

is displayed using

`<pre>&#123;&#123;&lt; codenew file="&lt;RELPATH&gt;/my-example-yaml&gt;" &gt;&#125;&#125;</pre>
`
The code can be much bet

[2020-01-25 15:45] Ksmith30 commented on #18319
/assign

[2020-01-25 19:17] savitharaghunathan commented on #18857
/language en
/lifecycle active

[2020-01-25 19:18] savitharaghunathan commented on #18854
/kind bug
/language en
/priority backlog

[2020-01-25 19:19] savitharaghunathan commented on #18846
/triage needs-information

[2020-01-25 19:20] savitharaghunathan commented on #18831
/kind bug
/language en
/lifecycle active

[2020-01-25 21:43] rajibmitra opened #18861 "New page to store api deprecation information."
Introduced by #18675  we need to have a different page to have all these content.
This will be the sub issue.

[2020-01-25 21:45] rajibmitra commented on #18861
/assign

[2020-01-26 16:08] inductor commented on #17217
https://github.com/kubernetes/website/issues/17743 Duplicate

[2020-01-26 16:08] inductor commented on #17217
/close

[2020-01-26 16:08] #17217 closed

[2020-01-26 22:17] sftim commented on #18403
Sort of related: PR #18871.

[2020-01-26 22:19] sftim commented on #13998
/remove-lifecycle rotten
I hope this work continues.

[2020-01-27 01:10] inductor commented on #18829
/milestone 1.17-ja.1

[2020-01-27 01:10] inductor commented on #18518
/milestone 1.16-ja.2

[2020-01-27 01:11] inductor commented on #18518
/milestone 1.16-ja.2

[2020-01-27 01:11] inductor commented on #17784
@oke-py どーしましょ

[2020-01-27 01:12] inductor commented on #15980
/close

[2020-01-27 01:12] #15980 closed

[2020-01-27 04:18] AdimUser opened #18872 "Issue with k8s.io/docs/reference/command-line-tools-reference/kubelet/"
**This is a Bug Report**

**Problem:**
Could you please update, how to see the available(already set) flags
**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-01-27 04:39] PavanRaga opened #18874 "Issue with https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#taint"
**This is a Bug Report**

**Problem:**
Example for creating a taint with no value in docs is wrong:

_Add to node 'foo' a taint with key 'bar' and no value_ -
`kubectl taint nodes foo bar:NoSchedule`

**Proposed Solution:**
`kubectl taint nodes foo bar=:NoSchedule

**Page to Update:**
https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#taint

[2020-01-27 07:51] oke-py commented on #17784
@inductor 年末年始に着手したものの分量が多くてあまり進んでいません。
（まとまった時間がとれそうなら再度トライしますが）いったんごめんなさいさせてください。

/unassign
どなたか着手いただけるなら歓迎です！

[2020-01-27 12:26] celestehorgan opened #18878 "Umbrella Issue: Clean up duplicate content in Contribute section"
**This is a Feature Request**

In preparation for a more in-depth re-organization of this section, I want to
clean up any duplicate or almost-duplicate content under https://kubernetes.io/docs/contribute/start/. This will make further re-organization less problematic, particularly for downstream
parts of the docs process like translations, as content will only be
in one 'place'.

A good example of

[2020-01-27 12:58] remyleone commented on #18878
👍 Welcome, @celestehorgan I think this is a good idea. A lot of content in the contributor's pages is indeed duplicated. Also, pages are very long so consider splitting them into thematic one. It would be easier for the different localization teams to work on them.

[2020-01-27 13:25] celestehorgan commented on #18878
@remyleone The general tactic I'm taking is clean up the content in place *first* (this issue), let the translation teams catch up, then move around the content and break them out into different sections *second* (a yet-to-be-created issue).

The reasoning for this is that if I did both steps at once, from the perspective of a potential translator a rearranged and edited page of content would look

[2020-01-27 17:22] princeanurag2011 opened #18884 "Issue with k8s.io/docs/tasks/administer-cluster/configure-upgrade-etcd/"
**This is a Bug Report**

**Problem:**
 Description and syntax alone won't be sufficient. Please provide working examples
 Unable to try ETCD Backup/Restore. it's not clear in the documentation.

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-01-27 17:30] princeanurag2011 commented on #18884
# To Backup ETCD on the master node:
ETCDCTL_API=3 etcdctl --endpoints=https://[127.0.0.1]:2379 --cacert=/etc/kubernetes/pki/etcd/ca.crt \
     --cert=/etc/kubernetes/pki/etcd/server.crt --key=/etc/kubernetes/pki/etcd/server.key \
     snapshot save /tmp/snapshot-pre-boot.db

[2020-01-27 19:46] zacharysarah commented on #18878
@celestehorgan I know we talked about this earlier in video chat, but the more I think about it, the more my thoughts have evolved.

It's safe to both de-dupe and refactor content simultaneously. But see below--

Kudos for empathy! 💛 That said, localization teams use a [script](https://github.com/kubernetes/website/blob/master/scripts/diff_l10n_branches.py) to diff content changes, so there's no a

[2020-01-27 20:24] remyleone opened #18887 "Create a Kubernetes skill tree"
**This is a Feature Request**

**What would you like to be added**

I would like to add a skill tree in Kubernetes.
Like in video games where you have skills that are unblocked after you acquire other skills. The graph of interdependencies could be a guided way to explore Kubernetes in a way where new users know where they are and what they should learn next to solve a set of problems.
The content

[2020-01-27 20:44] #15683 closed

[2020-01-27 22:38] bboreham opened #18889 "Two blog posts from early 2016 are corrupted"
**This is a Bug Report**

**Problem:**
This post comes up in Chinese: https://kubernetes.io/blog/2016/01/why-kubernetes-doesnt-use-libnetwork/
This post shows with every character interspersed with "https://github.com/kubernetes/kubernetes/pull/18215": https://kubernetes.io/blog/2016/01/kubernetes-community-meeting-notes_28/

**Proposed Solution:**
Make the posts readable in English.

**Page to Up

[2020-01-27 23:21] zestrells opened #18890 "Bug Bounty Program"
**This is a Feature Request**

**What would you like to be added**
We are looking for more information in the documentation around the new [Bug Bounty Program](https://kubernetes.io/blog/2020/01/14/kubernetes-bug-bounty-announcement/) that was announced earlier this month. Some questions that would be nice to answer:
- What king of bugs can be reported?
- Is there anything off limits?
- Where shou

[2020-01-28 02:38] zestrells commented on #18890
/assign

[2020-01-28 09:13] #18827 closed

[2020-01-28 11:29] nepomucen commented on #12207
@seokho-son could you please re-open this issue (I have no appropriate rights to do so).
The problem of broken links still persists in latest Kubernetes documentation (v.1.17).

**Example:**
From page:
https://kubernetes.io/docs/tasks/federation/set-up-cluster-federation-kubefed/#deploying-a-federation-control-plane
try to follow "kubefed_init" hyperlink
Outcome:
404 Page not found

[2020-01-28 12:03] Lumikkode opened #18891 "Issue with k8s.io/docs/tutorials/kubernetes-basics/expose/expose-interactive/"
**This is a Bug Report**

**Problem:** the commands about getting the services are wrong, previous commands display the service as "kubernetes" but following commands refers to "kubernetes-bootcamp"

**Proposed Solution:** replace "kubernetes-bootcamp" with "kubernetes"

**Page to Update:**
https://kubernetes.io/docs/tutorials/kubernetes-basics/expose/expose-interactive/

[2020-01-28 13:35] Lumikkode commented on #18079
same here, finally I found a solution. I dropped the idea of learning Kubernetes a few times because everytime I'd end up stuck here.

Any idea why this is not providing a port when we create the deployment? I really don't understand why it is not working locally (linux/ubuntu) with minikube if we do not provide the port, but works fine when using the simulation.

This should be updated on the doc

[2020-01-28 14:42] kbhawkey commented on #18889
Also,
https://kubernetes.io/blog/2016/01/why-kubernetes-doesnt-use-libnetwork/

[2020-01-28 15:17] fokusferit commented on #17070
As I didn't had time to really start working on this, the best way is like how we do it in software development:

- Incrementally. Starting with one subfolder of the docs, fixing step-by-step.

Also updating existing Guidelines for new Documentation.

[2020-01-28 15:18] fokusferit commented on #17070
/remove-lifecycle stale

[2020-01-28 16:15] avhvr opened #18892 "enhance k8s.io/docs/setup/production-environment/container-runtimes"
**This is a Feature Request**

All of the packages that are required to set up the Kubernetes are installed without requiring any prompts through the package manager( like apt or yum) except for the container runtimes.

**What would you like to be added**

Install container runtime without prompts from the package manager(apt or yum)

**Why is this needed**

Just an enhancement with respect to the

[2020-01-28 16:25] sftim commented on #18889
/kind bug
Thanks @bboreham

[2020-01-28 16:26] sftim commented on #18890
/committee product-security
(I think - feel free to remove the label if that's wrong)

[2020-01-28 16:26] sftim commented on #18887
/kind feature

[2020-01-28 16:28] sftim commented on #18891
There is a Service called `kubernetes` and it is not the same Service as `kubernetes-bootcamp`.
The Service called `kubernetes` represent's the cluster's Kubernetes API.

I think the current page is correct.

[2020-01-28 16:29] sftim commented on #18878
/sig docs
(why not?)

[2020-01-28 16:30] sftim commented on #18884
@princeanurag2011, can you describe what should change in the current page so that there is no longer a bug?

[2020-01-28 16:39] kbhawkey commented on #18691
/reopen

[2020-01-28 16:42] kbhawkey commented on #18691
https://kubenetes.io/security -> https://kubernetes.io/zh/docs/reference/issues-security/security/
https://kubernetes.io/cve -> https://kubernetes.io/zh/docs/reference/issues-security/issues/

[2020-01-28 18:02] sftim commented on #18892
Thanks
@avhvr

/priority backlog

[2020-01-28 20:10] salotaibistc opened #18894 "Improvement for k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
In the Kubernetes interactive tutorial "Module 2 - Deploy an app"  step 3 0f 3, we can see the word "Pods" for the first time. I think it will be extremely helpful for people following the tutorial if you guys describe what a "Pod" is before actually using it. I know that Module 3 explains what Kubernetes Pods are but, I believe it will be way clearer if an explanation (could be a brief one) is wr

[2020-01-28 21:04] zacharysarah opened #18896 "Security alias again redirects to Chinese"
## Bug report

### What's the problem?

Visiting https://kubernetes.io/security/ redirects visitors from English to Chinese.

This issue has the same cause as #18691 and #18129.

This behavior was originally fixed by #18694 (albeit for unrelated reasons) and re-introduced by #18727.

### Why did this happen?

Hugo's alias handling determines this behavior.

#### How Hugo handles aliases

Hugo feat

[2020-01-28 21:06] zacharysarah commented on #18896
Localization teams, please read. 👀

@kubernetes/sig-docs-zh-owners
@kubernetes/sig-docs-de-owners
@kubernetes/sig-docs-es-owners
@kubernetes/sig-docs-fr-owners
@kubernetes/sig-docs-hi-owners
@kubernetes/sig-docs-id-owners
@kubernetes/sig-docs-it-owners
@kubernetes/sig-docs-ja-owners
@kubernetes/sig-docs-ko-owners
@kubernetes/sig-docs-pl-owners
@kubernetes/sig-docs-pt-owners
@kubernetes/sig-docs-ru

[2020-01-28 21:32] zacharysarah commented on #18896
Fixed by #18895

/close

[2020-01-28 21:32] #18896 closed

[2020-01-28 22:05] zacharysarah commented on #18889
/priority backlog

[2020-01-29 02:41] sftim opened #18898 "Lint for Hugo aliases with absolute paths"
**This is a Feature Request**

**What would you like to be added**

Create a new lint, applied to new pull requests, that checks for front matter that adds a Hugo alias with a leading `/`.

For example, reject this:
[code]

**Why is this needed**
Based on experience from the fix in PR #18895 and some other stuff I wasn't involved in, it seems like this site never has a use for Hugo aliases that ha

[2020-01-29 03:30] Colstuwjx commented on #18898
How about adding this lint inside makefile and ensure it happens before executing netlify site build ?

[2020-01-29 03:44] mleonhard opened #38478 "Document kubectl config file format"
**What would you like to be added**:

Documentation of `kubectl` YAML config files

**Why is this needed**:

So I can understand, write, and maintain kubectl config files.

**Expressing frustration**:

I'm learning Kubernetes.  I went through the tutorials - thanks.  Now I'm trying to set up services to run on minikube and my hosting provider.  The kubectl command apparently takes a YAML config fi

[2020-01-29 11:03] Kartik494 commented on #18891
@Lumikkode agreed with @sftim as they both are different service types.
kubectl expose deployment/kubernetes-bootcamp --type="NodePort" --port 8080
by using this command it is creating a service name kubernetes-bootcamp of nodePort service type
I also think there is not  an issue regardiung this page
Thanks

[2020-01-29 11:28] lucky125111 commented on #18248
**TL;DR**
What worked for me was using golang script from [script](https://github.com/elastic/cloud-on-k8s/issues/2196#issuecomment-560318404).

This [thread](https://github.com/elastic/cloud-on-k8s/issues/2196) describes more about removing stored versions.

**My scenario**
Creating dummy resource
1. First created the resource crd1.yaml
[code]

`kubectl apply -f crd1.yaml`

2. Update resource wit

[2020-01-29 11:32] Dafnafrank commented on #12657
We are also trying to figure out this issue. Would be happy to know if there are answers to the above questions.

[2020-01-29 11:36] LSmyrnaios opened #18900 "Issue with k8s.io/docs/tasks/administer-cluster/dns-debugging-resolution/"
**Problem:**
In this page in the "known issues"-section it says that the "3 DNS nameserver records" is a known bug from 2005, but recently, (08/01/2020), it seems that it was [updated](https://bugzilla.redhat.com/show_bug.cgi?id=168253).
In the "bugzilla"-page, in the "Links"-section, there are 3 "resolved" related bugs.

**Proposed Solution:**
Could you investigate further and update the document

[2020-01-29 11:42] Kartik494 commented on #18872
The given options after  kubelet [flags] are actually the flags available.When i enter the command kubelet --options in my enviorment i receive the output as

root@kmaster:/# kubelet --options
Usage:
  kubelet [flags]

Flags:
      --add-dir-header                                                                                            If true, adds the file directory to the header
      --addre

[2020-01-29 12:05] #18746 closed

[2020-01-29 13:53] celestehorgan commented on #18878
/assign @celestehorgan

[2020-01-29 16:12] sftim commented on #18891
/triage support

[2020-01-29 18:57] bitsofinfo commented on #4410
no clue what this is either. The tekton docs utilize this but its not clear what the heck it is at all

[2020-01-29 22:10] #18789 closed

[2020-01-29 22:28] #18720 closed

[2020-01-29 22:50] #18718 closed

[2020-01-30 00:17] vllry opened #18903 "Need documentation on CrashLoopBackOff"
**This is a Feature Request**

**What would you like to be added**
Documentation explaining what a CrashLoopBackOff is, what it implies, and behavioral details (EG backoff time).

**Why is this needed**
Crashing containers is an extremely frequent problem, and this appears to be largely undocumented in Kubernetes documentation itself. When trying to explain this behavior, it would be great to be a

[2020-01-30 05:03] jmyung commented on #18237
done by #18247
/close

[2020-01-30 05:03] #18237 closed

[2020-01-30 05:04] jmyung commented on #13943
done by #18195
/close

[2020-01-30 05:04] #13943 closed

[2020-01-30 06:25] Colstuwjx commented on #18900
Thanks @LSmyrnaios , I did some researches, starting with RHEL7.5, 6 search domain limit has bee removed, see [ref](https://access.redhat.com/solutions/58028), and the limit of `3 DNS nameservers` should be configured by `MAXNS`, see [manual page](https://www.systutorials.com/docs/linux/man/5-resolv.conf/).

As a result, I think the search domain limit part should be updated.

/language en
/kind d

[2020-01-30 06:26] Colstuwjx commented on #18900
/assign

[2020-01-30 06:45] Colstuwjx commented on #18903
This issue target should be https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/ .

In the [pod restartPolicy](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#restart-policy) section, it explained how kubelet restart the crash containers with back-off delay.

As you said, it didn't tell the pod reasons and behaviors in details. I suggest adding Reason field expansion

[2020-01-30 06:54] Colstuwjx commented on #18892
/close

[2020-01-30 06:59] Colstuwjx commented on #18894
Yes, adding a link for jumping to Explore section should be better. Target page should be: https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/ .

Feel free to take PR!
/language en
/kind documentation

[2020-01-30 07:33] pparihar opened #18904 "Issue with k8s.io/docs/tutorials/stateless-application/expose-external-ip-address/"
LoadBalancer service is created but without Ingress controller. Can you please update your deployment yam l or service command to include the Ingress.

Use the external IP address (LoadBalancer Ingress) to access the Hello World is still in pending state only...please explain without mention of Ingress how could External IP address is created

[2020-01-30 08:39] oke-py opened #18905 "Issue with k8s.io/docs/concepts/configuration/taint-and-toleration/"
**This is a Bug Report**

**Problem:**

![tolerations](https://user-images.githubusercontent.com/4710215/73432919-0f9fd380-4387-11ea-9a87-e4d5fe43d10a.png)

indent is broken in the 2nd code block.

**Proposed Solution:**

[code]

However, the original markdown file is correct. This may be a rendering issue.

**Page to Update:**
https://kubernetes.io/docs/concepts/configuration/taint-and-toleration

[2020-01-30 09:00] sftim commented on #18892
Addressed in #18893
/close

[2020-01-30 09:00] #18892 closed

[2020-01-30 09:03] sftim commented on #4410
Maybe I can add this detail into PR #16885 and have the other pages hyperlink there.

[2020-01-30 11:52] Colstuwjx commented on #18904
The `type=LoadBalancer` service is implemented by external cloud provider, see [doc](https://kubernetes.io/docs/concepts/services-networking/service/#loadbalancer).

For you suggested [page](https://kubernetes.io/docs/tutorials/stateless-application/expose-external-ip-address/), I think expanding content about how to set cloud provider for `type=LoadBalancer` service is out-of-scope, but adding no

[2020-01-30 13:49] Colstuwjx commented on #18905
/kind bug
/language en

Good catch! It's a mistake, see [hugo discussion](https://discourse.gohugo.io/t/solved-markdownify-not-working-in-templates/4558/8) and the [commonMark Spec](https://spec.commonmark.org/0.25/#indented-code-block), it would eat 4 leading spaces, and we need to add about 6 initial spaces if we want to add 2 leading spaces inside code, which is part of list item.

Thanks!

[2020-01-30 14:37] Colstuwjx commented on #18905
/assign

[2020-01-30 14:44] ClaudiaJKang opened #18917 "Outdated files in the dev-1.17-ko.4 branch."
# This is a Bug Report
## Problem
Outdated files in the dev-1.17-ko.4 branch.

### 40 files to be modified
1. [ ] [content/en/docs/concepts/architecture/cloud-controller.md](https://github.com/kubernetes/website/tree/dev-1.17-ko.4/content/en/docs/concepts/architecture/cloud-controller.md) 1 file changed, 2 insertions(+)
1. [ ] [content/en/docs/concepts/containers/images.md](https://github.com/kube

[2020-01-30 17:28] celestehorgan commented on #18878
@zacharysarah As I dive into this, what I'm actually thinking makes the most sense is to tackle it *per duplication/re-factoring subject. Even lumping all the de-duplications into one PR would be, surprisingly a bit too big and thorny, and the re-factoring tends to happen alongside the de-duplication.

As such: would anyone mind if I converted this to an Umbrella issue and opened up smaller issues

[2020-01-30 19:06] celestehorgan opened #18919 "Remove duplicate content around Roles & Responsibilites"
**This is a Feature Request**

**Related/Parent issue:** #18878

**What would you like to be added**

This issue combines the 3(!) separate sections outlining roles and responsibilities of maintainer/reviewer/approver/etc. groups into one section. It also adds new content to the contribute homepage, as there's nothing there anymore.

**Why is this needed**

3 pages outlining the same thing in diff

[2020-01-30 19:07] celestehorgan commented on #18878
I'm treating this as an umbrella issue, because it's going to make PR review more manageable. That said, the easiest way for me to piecemeal this work out is to make issues as I go along :)

First issue: https://github.com/kubernetes/website/issues/18919

[2020-01-31 00:20] ysyukr commented on #18520
/close

[2020-01-31 00:20] #18520 closed

[2020-01-31 03:11] gavinfish commented on #18874
/assign

[2020-01-31 10:17] neiljerram opened #18923 "Issue with k8s.io/docs/concepts/services-networking/dual-stack/"
**This is a Bug Report**

**Problem:**
Page should not say that Kubenet is required.

**Proposed Solution:**
Instead it should say that a networking plugin is required that supports dual stack, such as Calico or Kubenet.

**Page to Update:**
https://kubernetes.io/docs/concepts/services-networking/dual-stack/

[2020-01-31 11:10] sftim commented on #18903
IMO
/priority important-longterm

[2020-01-31 11:10] sftim commented on #18919
/kind cleanup
/priority backlog

[2020-01-31 11:11] sftim commented on #18923
/kind bug
/sig networking

and IMO, because dual-stack is alpha:
/priority backlog

[2020-01-31 12:13] sftim commented on #18923
/sig network

[2020-01-31 16:26] davidgfolch opened #18927 "Issue with k8s.io/docs/tutorials/stateful-application/basic-stateful-set/"
**This is a Bug Report**

**Problem:**
This command doesn't work as described in documentation:

`kubectl run -i --tty --image busybox:1.28 dns-test --restart=Never --rm`

The output I get is:

[code]

**Proposed Solution:**
No idea at all.
**Page to Update:**
https://kubernetes.io/docs/tutorials/stateful-application/basic-stateful-set/#using-stable-network-identities

Client Version: version.Info

[2020-02-01 00:57] Colstuwjx commented on #18927
I think it works as expect, you could see the following two commands in the page:

[code]

/language en
/triage support

[2020-02-01 01:26] oke-py opened #18929 "Update /docs/ links to /ja/docs/ if already translated"
**This is a Feature Request**

**What would you like to be added**

Update /docs/ links to /ja/docs/ if already translated.

**Why is this needed**
When users reading ja docs clicks a link, they can reach ja page.

**Comments**

I find the link to be modified as below.
[code]

[2020-02-01 01:27] oke-py commented on #18929
I did
- /docs/home/
- /docs/tasks/tools/install-kubectl/
- /docs/concepts/services-networking/service/

[2020-02-01 01:27] oke-py commented on #18929
/language ja

[2020-02-01 04:21] oke-py commented on #18929
[Most wanted pages for JP](https://kubernetes-docs-ja.kibe.la/shared/entries/68e44df8-2c3a-4d00-b12f-2fa0106d18c1)でチェック入っているページを上から順にやっています。

[2020-02-01 05:44] oke-py opened #18931 "Correct a wrong resource name: Endpoint"
**This is a Bug Report**

**Problem:**

https://github.com/kubernetes/website/pull/18873#issuecomment-580984005

**Proposed Solution:**

Endpointsに修正する。

**Page to Update:**

- [x] content/ja/docs/concepts/services-networking/connect-applications-service.md
- [x] content/ja/docs/concepts/services-networking/service.md
- [x] content/ja/docs/reference/command-line-tools-reference/feature-gates.md
-

[2020-02-01 06:20] alexk345 opened #18932 "Issue with k8s.io/docs/concepts/overview/components/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-02-01 06:22] alexk345 opened #18933 "Kubernetes installation tutorial"
I want practical installation of kubernetes tutorial and video for me to test load balancer. Its  a load balancer at best . Instead of i hear all kinda nonsense terms. why humans make things complex? yes it may do other things but at its heart its a load balancer.

[2020-02-01 08:54] davidgfolch commented on #18927
ok, thanks, I didn't understand it was a command,  it seemed the output to me.

Maybe it would be nice for dummies like me, give a bit more detail like this:

[code]

[2020-02-01 08:54] #18927 closed

[2020-02-01 09:22] 170031571 opened #18934 "Issue with k8s.io/docs/reference/kubectl/overview/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-02-01 09:22] 170031571 commented on #18934
9595-333925

[2020-02-01 11:47] zhangzhenhao opened #18935 "Issue with k8s.io/zh/docs/concepts/configuration/pod-overhead/"
**This is a Bug Report**

**Problem:**
Hyperlink named "特性门"cannot be used normally, when clicked, jump to url as `https://kubernetes.io/zh/docs/concepts/configuration/pod-overhead/%E9%BB%98%E8%AE%A4%E6%83%85%E5%86%B5%E4%B8%8B%E6%98%AF%E5%85%B3%E9%97%AD%E7%9A%84`  and  get 404 page.
**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

v1.17

[2020-02-01 11:55] #18905 closed

[2020-02-01 11:57] Colstuwjx commented on #18935
/kind bug
/language zh

[2020-02-01 12:13] gavinfish commented on #18935
/assign

[2020-02-01 15:43] base698 opened #18938 "Issue with k8s.io/docs/reference/kubectl/jsonpath/"
**This is a Bug Report**

**Problem:**

No examples of how to use jsonpath to retrieve keys with dots, ie `{.data.ca.crt}`

**Proposed Solution:**

A working example of keys with dots.

**Page to Update:**
https://kubernetes.io/...

[2020-02-01 15:44] base698 commented on #18938
`-o jsonpath="{.data.ca\.crt}"`

[2020-02-01 17:28] sftim commented on #14956
/remove-lifecycle stale

[2020-02-01 18:34] neolit123 commented on #18824
/close
let's follow up on https://github.com/weaveworks/weave/issues/3758

[2020-02-01 18:34] #18824 closed

[2020-02-01 20:51] rajattrt opened #18943 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
**This is a Bug Report**

**I think this information comes from Katakoda. Not sure if this is the right place to report the issue.**

**Problem:**
[In Tutorial - Interactive Tutorial - Creating a Cluster](https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/), step 3, command kubectl cluster-info gives the output -
[code]
Which does not go very well with the ex

[2020-02-01 22:49] Vivek-kkaushik opened #18945 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/"
Whileinitializing mast command ,,I am getting this error-
kubeadm init --pod-network-cidr=192.168.0.0/16 --apiserver-advertise-address=192.168.9.2

W0201 17:48:59.774024   14370 validation.go:28] Cannot validate kube-proxy config - no validator is available
W0201 17:48:59.774111   14370 validation.go:28] Cannot validate kubelet config - no validator is available
[init] Using Kubernetes version: v1

[2020-02-01 22:56] neolit123 commented on #18945
k8s does not support Linux OS with swap enabled.
to disable swap you can try this guide:
https://www.tecmint.com/disable-swap-partition-in-centos-ubuntu/

or use:
`kubeadm init ... --ignore-preflight-errors=Swap...`

/triage support
/close

[2020-02-01 22:56] #18945 closed

[2020-02-01 22:56] neolit123 commented on #18945
/sig cluster-lifecycle

[2020-02-01 22:57] ysyukr commented on #18917
/assign

[2020-02-02 02:50] base698 opened #18948 "Issue with k8s.io/docs/reference/access-authn-authz/authentication/"
**This is a Bug Report**

**Problem:**

Would be nice to have a working example start to finish of having no kubeconfig to having a working kubectl get deploy comment.  I see mentions of `kubectl --token`, but no examples on how to get it to work.  using `kubectl --token` it requests I be logged in...  I'm trying to use kubectl in a ci/cd job with a service account and other than using an existing

[2020-02-02 04:12] #16659 closed

[2020-02-02 07:16] bennythejudge opened #18953 "Issue with k8s.io/docs/tasks/manage-kubernetes-objects/declarative-config/"
**This is a Bug Report**

**Problem:**
The section titled "Merge individual elements of a list of complex elements:" at link https://kubernetes.io/docs/tasks/manage-kubernetes-objects/declarative-config/#merge-individual-elements-of-a-list-of-complex-elements, suggests an `apply` to update the `containers` field of a PodSpec. Unless I have misunderstood the example, such change is not supported:

[2020-02-02 09:51] Vivek-kkaushik commented on #18945
Thanks @neolit123 ..for your solution ..my issue fixed ..also I got to know about swap space:)

[2020-02-02 10:48] oke-py commented on #18931
/assign

[2020-02-02 11:25] #18935 closed

[2020-02-02 12:54] SatoruItaya opened #18957 "Translate tasks/service-catalog/install-service-catalog-using-helm/ in Japanese"
# Translate tasks/service-catalog/install-service-catalog-using-helm/ in Japanese

**This is a...**

* [x]  Feature Request
* [ ]  Bug Report

**Problem:**
No tasks/service-catalog/install-service-catalog-using-helm/ in Japanese.

**Proposed Solution:**
Translate tasks/service-catalog/install-service-catalog-using-helm/ in Japanese.
Copy from en content and Update `content/ja/docs/tasks/service-ca

[2020-02-02 12:55] SatoruItaya commented on #18957
/language ja

[2020-02-02 12:55] SatoruItaya commented on #18957
/assign

[2020-02-02 18:03] #16219 closed

[2020-02-02 18:55] sftim commented on #18934
Hi @170031571
What isn't right about https://k8s.io/docs/reference/kubectl/overview/?

/triage needs-information

[2020-02-02 18:55] sftim commented on #18933
Kubernetes is an open-source platform that automates container operations for application deployment.

Some people use Kubernetes with load balancers, and that's quite common.

Perhaps https://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/ was what you had in mind @alexk345 ?

/triage needs-information

[2020-02-02 19:01] sftim commented on #18953
That looks correct; it needs fixing.

/kind bug
/language en
/priority backlog

[2020-02-02 19:03] sftim commented on #18948
Does https://kubernetes.io/docs/tasks/access-application-cluster/access-cluster/#accessing-for-the-first-time-with-kubectl signpost you to enough information to help?

(my guess is: it might not)
/sig cli

[2020-02-02 19:04] #16153 closed

[2020-02-02 19:06] sftim commented on #18943
Thanks @rajattrt, that's a fair point.

@BenHall - is there a label that this kind of issue should have, to indicate that it applies to tutorials?

/priority backlog

[2020-02-02 19:08] sftim commented on #18938
Good suggested enhancement; thanks @base698.

If you wanted to [propose a fix](https://kubernetes.io/docs/contribute/start/), please go ahead.
/priority backlog
/sig cli

[2020-02-02 19:09] sftim commented on #18932
@alexk345, what isn't right about that page?

/triage needs-information

[2020-02-02 19:09] sftim commented on #18917
/kind cleanup

[2020-02-02 19:10] sftim commented on #18898
@Colstuwjx if you have the appetite for a pull request to add this, I'm all for it.

[2020-02-02 19:11] sftim commented on #18933
/priority awaiting-more-evidence

[2020-02-03 05:17] Kartik494 commented on #18658
@BorntraegerMarc i have create the PR for the same and it's get merged.
Thanks

[2020-02-03 09:46] oke-py commented on #18929
- /ja/docs/concepts/workloads/controllers/deployment/
- /ja/docs/concepts/workloads/controllers/replicaset/
- /ja/docs/concepts/workloads/controllers/statefulset/
- /ja/docs/concepts/workloads/controllers/daemonset/
- /ja/docs/concepts/workloads/pods/pod-overview/
- /ja/docs/concepts/workloads/pods/pod/

[2020-02-03 10:09] #18923 closed

[2020-02-03 11:49] sttts commented on #18248
I reproduced the `kubectl edit` steps. This looks like a bug somewhere. A merge patch setting `storedVersions` to a new slice is supposed to work.

[2020-02-03 16:08] MikeSpreitzer opened #18964 "Confusion over whether time is allowed in managedFields with operation is Apply"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/reference/using-api/api-concepts/#server-side-apply contains an example of the new `managedFields` metadata, with `operation: Apply` and a value for `time`. But https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.16/#managedfieldsentry-v1-meta says the `time` must be omitted when the operation is Apply.

**Proposed Solu

[2020-02-03 18:52] ffisk-gm-com opened #18966 "Issue with k8s.io/docs/concepts/services-networking/ingress/"
**This is a Bug Report**

**Problem:**
How to update the ingress components plus does ingress have a version?
**Proposed Solution:**
Update the concepts page to describe how an ingress version relates to a k8s version. Also, are they 'tied' and you can't update one without the other?
**Page to Update:**
 k8s.io/docs/concepts/services-networking/ingress/

[2020-02-03 19:01] #18904 closed

[2020-02-03 20:31] otma2000 opened #18967 "Issue with k8s.io/docs/tasks/job/automated-tasks-with-cron-jobs/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-02-03 20:34] otma2000 commented on #18967
Alternatively, you can use kubectl run to create a cron job without writing a full config:

kubectl run --generator=run-pod/v1 hello --schedule="*/1 * * * *" --restart=OnFailure --image=busybox -- /bin/sh -c "date; echo Hello from the Kubernetes cluster"

Running does not create not create any cron jobs.

ole@ole-HP-ProBook-430-G2:~$ kubectl run --generator=run-pod/v1 hello --schedule="*/1 * * * *

[2020-02-03 21:10] kbhawkey commented on #18964
Hello @MikeSpreitzer .
The current docs (https://kubernetes.io/docs/) are version 1.17. Does this issue only apply to version 1.16?
API Reference v1.17, time field description:
[code]

[2020-02-03 21:23] kbhawkey commented on #18964
/sig api-machinery

[2020-02-03 22:15] MikeSpreitzer commented on #18964
Oh, I did not notice that my second URL was specific to release 1.16.  But your quote shows that it is the same in 1.17.

[2020-02-04 04:58] kidlj commented on #15387
/remove-lifecycle rotten

[2020-02-04 04:59] kidlj commented on #15387
/reopen

[2020-02-04 06:10] Colstuwjx commented on #18966
I don't think ingress is 'tied' to k8s version, instead, it's a kind of k8s resource, and it has its own api version.

Could you please share your case with details? It could help us to determine whether we should do some changes in our doc.

/triage support
/language en

[2020-02-04 07:07] rajibmitra commented on #18967
/assign rajibmitra

[2020-02-04 07:07] Colstuwjx commented on #18967
I have been tried this command `kubectl run --generator=run-pod/v1 hello --schedule="*/1 * * * *" --restart=OnFailure --image=busybox -- /bin/sh -c "date; echo Hello from the Kubernetes cluster"`, it **ONLY** creates a Pod, rather than CronJob.

I also did some research, it seems that [`kubectl run` is NOT a suggest way](https://github.com/kubernetes/kubernetes/pull/68132#issuecomment-433420823),

[2020-02-04 07:08] Colstuwjx commented on #18967
@rajibmitra  Feel free to take PR for this! I suggest that removing this alternative case should be fine.

[2020-02-04 08:46] kidlj commented on #15387
It was fixed. This case is closed.

[2020-02-04 08:46] #15387 closed

[2020-02-04 09:09] palsivertsen opened #18972 "Navigation menu disappears when collapsed under the hamburger menu"
Apologies if this is the wrong place to post this issue.

Browsing kubernetes.io today and I noticed that the navigation menu disappears when it is collapsed into a hamburger menu.

![image](https://user-images.githubusercontent.com/11890143/73729979-4d5d7d00-4736-11ea-9bb3-ec70679b91e5.png)

[2020-02-04 12:29] mrbobbytables commented on #18972
@palsivertsen I've transferred the issue to the [kubernetes/website](https://github.com/kubernetes/website) repo. Any site related issues should be opened there.

[2020-02-04 13:15] tengqm commented on #18966
Before 1.13, Ingress is a resource from extensions/v1beta1 group. 1.14 added the networking.k8s.io/v1beta1 API group, with Ingress moved over to this new API group. The Ingress in extensions/v1beta1 has since been marked as DEPRECATED.

[2020-02-04 17:30] Luciowl commented on #15908
Hey @sftim, Can I be assigned to this issue?

[2020-02-04 17:35] sftim commented on #15908
@Luciowl it sounds like you'd like to work on this and to make it clear to other people that you're making a start.

You can reply to say so and that's usually as much clarity as website contributors need. You're absolutely welcome to open a pull request with a proposed fix. You'll also need to sign a contributor license agreement if you haven't done that already.

(To be clear: you can work on an

[2020-02-04 18:21] eyeman666 opened #18978 "Issue with k8s.io/docs/tasks/access-kubernetes-api/http-proxy-access-api/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-02-04 19:49] rowleyaj commented on #5930
@steveperry-53 not sure if we should reopen this issue or file a new one as a bug report but this no longer works. from what I can tell during the migration to hugo the header file was removed https://github.com/kubernetes/website/pull/8316/files#diff-822e9cf54ee310f9a7ebd0d16c9ae066

[2020-02-04 19:56] adambkaplan opened #18982 "Pod Quality of Service doc doesn't explain what each QoS class does"
**This is a Bug Report**

**Problem:**

The Pod Quality of Service docs under "Tasks" does not clearly explain what each QoS class means - it merely states how a desired class can be assigned to a pod based on the specified resource requests and limits.

**Proposed Solution:**

Each class in "QoS Classes" section should have a short sentence or paragraph describing what the class represents. For e

[2020-02-04 20:21] alexzimmer96 commented on #18601
/assign

[2020-02-04 22:33] bdwill commented on #18857
This appears to be fixed in PR #18858

[2020-02-04 22:39] bdwill commented on #18833
I agree, @gavinfish. Unfortunately, @ahmedatgithub it just appears that there's no documentation for Tasks.

[2020-02-05 01:06] dstaraster opened #18984 "Issue with k8s.io/docs/tutorials/hello-minikube/"
I am unable to complete the Kubernetes "Hello Minikube" tutorial. The command "minikube dashboard" never completes.

Steps to reproduce:

1. Go to https://kubernetes.io/docs/tutorials/hello-minikube/
2. Click the "Launch Terminal" button
3. After minikube has started and there's a command prompt, type "minikube dashboard" and hit Enter

Expected result:
The command returns, and presumably there's

[2020-02-05 01:07] Colstuwjx commented on #18982
The implement details are fragmented in our website.

As you said, for how the default scheduler handles these three qos classes pod scheduling, it was missing in our website.

For eviction policy about these three qos classes, see [this page](https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/#evicting-end-user-pods).

For how these qos classes works with CPU manager, see [this p

[2020-02-05 01:35] gavinfish commented on #18833
More discussions about the navigation and TOC for tasks page at #18755.

[2020-02-05 05:14] Colstuwjx commented on #12968
@BenHall Could you please confirm about this issue? I still meet this issue in our website, see the result below:

![image](https://user-images.githubusercontent.com/3972545/73812900-5d01c200-4819-11ea-81cb-f217753496b9.png)

![image](https://user-images.githubusercontent.com/3972545/73812907-61c67600-4819-11ea-81be-fdddfd4ce268.png)

[2020-02-05 05:20] Colstuwjx commented on #18984
I checked this page, and I didn't see the result you said, instead, I met issue like [this](https://github.com/kubernetes/website/issues/12968#issuecomment-570227566), the `minikube dashboard` did open a proxy url, but I could NOT visit the page via katacoda.

I'm not sure what's the root cause for your case, but I think this part should be problematic.

/language en
/kind bug

[2020-02-05 11:30] alexzimmer96 commented on #18601
Has been fixed with #18981

[2020-02-05 14:27] adambkaplan commented on #18982
@Colstuwjx taking a look at the fragmentation you've identified, I feel that the notions around resources, priority, scheduling, and eviction are too focused on implementation and are not written with a developer or administrator in mind.

It's my opinion that end users want start with the basics:

1. How is my pod assigned to a node?
2. What does kubernetes do with my pod spec's priority and reso

[2020-02-05 15:08] gavinfish commented on #14800
/assign

[2020-02-05 19:06] ramanathanp opened #18994 "Improvement for k8s.io/docs/concepts/workloads/controllers/ttlafterfinished/"
Suggest to mention expansion for "TTL" (Time To Live) preferably in the first paragraph.

[2020-02-05 19:24] hariz22 opened #18995 "Issue with k8s.io/docs/reference/issues-security/security/"
**This is a Bug Report**

**Problem:**i think my email @ phone might be hack/clone by other without my permission.And please delete any contribution...

**Proposed Solution:**Please revoke any contribution app/program with me.and plese check if any transaction have been made by other..tqvm

**Please Update me:**
phone no.+60103800690/ mailmchariz123@gmail.com

[2020-02-05 22:53] #14829 closed

[2020-02-06 00:01] sftim commented on #18601
Thanks for the update @alexzimmer96
/close

[2020-02-06 00:01] #18601 closed

[2020-02-06 01:23] xiongdaplus opened #18999 "Issue with k8s.io/docs/setup/learning-environment/kind/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-02-06 01:23] #18999 closed

[2020-02-06 01:38] gavinfish commented on #18994
/assign

[2020-02-06 02:24] deekshith-elear opened #19000 "Issue with services where intrapod communication is not working properly"
Hi,
When I was creating headless service in the cluster,  node port and clusterip services are not working properly using clusterip & port and getting an error when using the same service for intrapod communication.
**headless service**
`{
  "kind": "Service",
  "apiVersion": "v1",
  "metadata": {
    "name": "cocostore",
    "namespace": "dev",
    "labels": {
      "name": "dev"
    }
  },
  "sp

[2020-02-06 07:00] panditb opened #19003 "Issue with k8s.io/docs/concepts/workloads/controllers/cron-jobs/"
**This is a Bug Report**

    We have setup the Kuberntes cluster in our Environment we have 2 master node and 4 worker node which all installed EST Time zone
`Thu Feb  6 01:55:13 EST 2020`

Cron Job is scheduled at 12:01 daily midnight

[code]

And Job is started on 19:01 EST Time instead of 12:01 Time , I feel this running as UTC Timezone

[code]

**Problem:**
    The cron Job is not running on

[2020-02-06 09:18] sftim commented on #17232
/remove-lifecycle stale
/help

[2020-02-06 09:55] sftim commented on #17454
/remove-lifecycle stale

[2020-02-06 13:48] alexzimmer96 commented on #15908
Has been fixed through #18979

[2020-02-06 13:56] sftim commented on #15908
/close

Thanks @alexzimmer96

[2020-02-06 13:56] #15908 closed

[2020-02-06 13:57] #18994 closed

[2020-02-06 14:04] remyleone opened #19012 "Issue with the Page History link in localized versions"
**This is a Bug Report**

**Problem:**

When I click at the bottom of the page on the page history  (historique in French) button link I expect to find the commit history of the French localized page, instead, I find English history.

**Proposed Solution:**

Having the Page History button target a given localized version of a given page.

**Page to Update:**

All localized page will change but the

[2020-02-06 15:24] gavinfish commented on #19012
Duplicated with #18403, I think.

[2020-02-06 15:34] remyleone commented on #18403
@feloy @rekcah78

[2020-02-06 16:18] ramanathanp commented on #18994
Wow! That's awesome to have the change going live in few hours.

Appreciate the team (@gavinfish) and the efforts!

[2020-02-06 16:42] chanonroy opened #19015 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
**This is a Bug Report**

**Problem:**
- Google form feedback embed within Katakoda iframe is very collapsed due to not height property being `auto`, which makes for a less desirable user experience.

<img width="1216" alt="Screenshot 2020-02-06 at 4 37 14 pm" src="https://user-images.githubusercontent.com/16366896/73958040-3322cb00-48ff-11ea-9d31-16a983e0f279.png">

**Proposed Solution:**

- Give

[2020-02-06 18:39] AkihiroSuda commented on #16478
/remove-lifecycle rotten

[2020-02-06 20:50] kbarnard10 commented on #18117
I accept the nomination for co-chair 🎉

A huge thank you to @Bradamant3 for all the leadership and, especially, mentorship that she's provided throughout my journey with SIG-Docs ❤️

[2020-02-06 21:06] jrondeau-stripe commented on #18117
And with regret because I'll miss you all, but knowing that @kbarnard10 is the right person now, when I am no longer in a position to help this amazing community, I'm commenting to say yes, let's move forward with the transition as I formally step down. Thanks to all of you for all you've taught me and shared with me ❤️

[2020-02-06 23:26] sftim commented on #18117
:wave:

[2020-02-06 23:29] sftim commented on #19000
@deekshith-elear, GitHub is not the right place for support requests.

For help, you can try using the [Kubernetes tag](https://stackoverflow.com/questions/tagged/kubernetes) on Stack Overflow.
You can also post your question to the [Kubernetes Slack](http://slack.k8s.io/) or on the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

/triage support

[2020-02-06 23:31] sftim commented on #18995
@hariz22 can you clarify the change that you want to happen?

/triage needs-information

[2020-02-06 23:33] sftim commented on #7386
/sig node

[2020-02-06 23:34] sftim commented on #16434
/remove-priority backlog
/priority awaiting-more-evidence

[2020-02-06 23:34] sftim commented on #16252
/remove-lifecycle rotten

[2020-02-06 23:36] sftim commented on #16334
The list of volume types would work better in the Reference section.

Just that move alone would help. I actually think that migrating part of the content to a new page is (just barely) a
/good-first-issue

/remove-lifecycle rotten

[2020-02-06 23:37] sftim commented on #16281
It's a nice idea; however:
/remove-priority backlog
/priority awaiting-more-evidence

[2020-02-06 23:38] sftim commented on #19003
It looks like this is a duplicate of issue #18579

[2020-02-06 23:40] sftim commented on #18655
Makes sense
/priority backlog

[2020-02-06 23:40] sftim commented on #16972
I believe this was fixed in #16980

[2020-02-06 23:40] sftim commented on #16972
/close

[2020-02-06 23:40] #16972 closed

[2020-02-06 23:41] sftim commented on #18196
This is similar to issue #4500

[2020-02-06 23:44] sftim commented on #19012
@gavinfish it looks to me as if this is not the same as issue #18403

@remyleone thank you very much for reporting this defect
/kind bug
and, reluctantly, I think the most appropriate prioritization is:
/priority backlog

[2020-02-06 23:45] sftim commented on #18978
@eyeman666, could you provide some more information about what isn't right with https://k8s.io/docs/tasks/access-kubernetes-api/http-proxy-access-api/?

[2020-02-06 23:52] sftim opened #19017 "Update “Use an HTTP Proxy to Access the Kubernetes API” to match style guide"
**This is a Bug Report**

**Problem:**
_Use an HTTP Proxy to Access the Kubernetes API_ mixes commands and sample output. To help readers, it's better to [separate commands from output](https://kubernetes.io/docs/contribute/style/style-guide/#separate-commands-from-output).

**Proposed Solution:**
Revise the [page source](https://github.com/kubernetes/website/blame/121076085c0c7268a317ac58a320d024

[2020-02-07 03:04] sftim commented on #19015
Thanks for identifying this!
/kind bug

[2020-02-07 06:05] truongnh1992 commented on #18597
Thank @sftim for reporting this bug. We have already solved it.

[2020-02-07 06:30] panditb commented on #18579
Hello Team Is there any deadline when this issue will be fixed ?
 can we get the the Timezone functionality also with thes CronJob Just want to know

[2020-02-07 08:20] alexzimmer96 commented on #19017
/assign

[2020-02-07 09:11] paleboot commented on #18984
Confirmed bug, persisted for more than 30 minutes. Both browser shows `500 Internal Server Error` error code in each respective console:
![chromeConsoleKubernetesTutorial](https://user-images.githubusercontent.com/54321501/74016075-68ddb780-49c4-11ea-836d-cfe129704b90.png)
![firefoxConsoleKubernetesTutorial](https://user-images.githubusercontent.com/54321501/74016081-6aa77b00-49c4-11ea-8f02-dad8b0

[2020-02-07 09:12] sftim commented on #18597
Once #19020 merges, this can close.

[2020-02-07 09:13] sftim commented on #18579
Kubernetes is an open-source, volunteer led project. There aren't _deadlines_ per se.

If you're keen to see the documentation changed, for this or any issue, anyone can [contribute](https://kubernetes.io/docs/contribute).

[2020-02-07 09:14] sftim commented on #18579
(If anyone would like to help here but is not sure how to get started, please reply&mdash;advice is available).

[2020-02-07 11:59] girikuncoro commented on #15341
@joshuabezaleel @danninov @irvifa folks, let me know if you are still working on the claimed pages (the last 3 woohoo), otherwise I will reopen the pages for contribution, since we are super close in closing this M2 issue thanks to all of us 🎉

let me know by 12 Feb 2020, otherwise I would assume reopen by default

[2020-02-07 12:05] joshuabezaleel commented on #15341
Truly sorry that I missed this. Will finish it by this weekend. @girikuncoro

[2020-02-07 13:56] sftim opened #19025 "Document Pod eviction policy in Concepts section"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/#eviction-policy describes conceptual information in some detail; however, it's in a task page.

**Proposed Solution:**
1. Create a new page section or a brand new page inside
https://kubernetes.io/docs/concepts/, that describes Pod eviction. Copy text from https://kubernetes.io/docs/tasks/ad

[2020-02-07 13:56] sftim commented on #19025
/help

[2020-02-07 19:31] #18900 closed

[2020-02-07 19:33] #18919 closed

[2020-02-07 19:54] kbhawkey opened #19026 "DaemonSet concept page, list of daemons"
**This is a Feature Request**

Should the DaemonSet _concept_ page maintain a list of open source (or third party?) daemons for:
- cluster storage
- logging collection
- node monitoring

For information, see https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/

[code]

**Why is this needed**
The list of monitoring daemons is increasing.

[2020-02-07 19:59] #19017 closed

[2020-02-07 22:03] #9523 closed

[2020-02-07 23:03] #16161 closed

[2020-02-08 00:04] #13319 closed

[2020-02-08 00:04] #13860 closed

[2020-02-08 00:04] #16249 closed

[2020-02-08 00:04] #13914 closed

[2020-02-08 00:35] AhostiOfficial opened #19029 "Issue with k8s.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-02-08 02:06] #14380 closed

[2020-02-08 02:06] #15187 closed

[2020-02-08 02:06] #15188 closed

[2020-02-08 02:06] #15247 closed

[2020-02-08 02:06] #14210 closed

[2020-02-08 03:07] #14204 closed

[2020-02-08 03:07] #14624 closed

[2020-02-08 03:07] #15536 closed

[2020-02-08 03:07] #15048 closed

[2020-02-08 04:08] #15035 closed

[2020-02-08 04:08] #15726 closed

[2020-02-08 04:08] #15186 closed

[2020-02-08 05:09] #15284 closed

[2020-02-08 05:09] #15318 closed

[2020-02-08 05:09] #15995 closed

[2020-02-08 05:09] #15864 closed

[2020-02-08 05:09] #14833 closed

[2020-02-08 06:10] #16128 closed

[2020-02-08 07:11] #15691 closed

[2020-02-08 07:11] #14768 closed

[2020-02-08 07:11] #16196 closed

[2020-02-08 07:11] #15905 closed

[2020-02-08 07:11] #15879 closed

[2020-02-08 07:11] #15580 closed

[2020-02-08 12:31] tanjunchen commented on #18411
it is time to close this issue,right?
@ydcool

[2020-02-08 12:31] #14800 closed

[2020-02-08 14:17] #16977 closed

[2020-02-08 17:21] #14275 closed

[2020-02-08 17:22] irvifa commented on #16742
/remove-lifecycle rotten

[2020-02-08 18:23] fleeto opened #19033 "Issue with k8s.io/docs/reference/command-line-tools-reference/kube-controller-manager/"
**This is a Bug Report**

**Problem:**

`--authentication-kubeconfig`:  kubeconfig file pointing at the 'core' kubernetes server with enough rights to create **tokenaccessreviews.authentication.k8s.io**. This is optional. If empty, all token requests are considered to be anonymous and no client CA is looked up in the cluster.

There is no resource type named `tokenaccessreviews`

**Proposed Soluti

[2020-02-08 21:51] medmedchiheb commented on #19025
/assign

[2020-02-09 04:25] ydcool commented on #18411
@tanjunchen  thank you for your works!
/close

[2020-02-09 04:25] #18411 closed

[2020-02-09 06:00] shacharSilbert commented on #18655
@sftim I should add that I still haven't found a proper solution for this question in my many questions posted online, do you have any idea if #1 or #2 is the correct answer?

[2020-02-09 09:08] 532910 opened #19040 "Left menu doesn't work in firefox mobile"
https://kubernetes.io/docs/home/

Both firefox are affected: fennec & fenix.
Pressing the left hamburger button just outlines it:

![image](https://user-images.githubusercontent.com/14617699/74099422-b1b47e00-4b34-11ea-974c-aa77b2870e1e.png)
![image](https://user-images.githubusercontent.com/14617699/74099446-ea545780-4b34-11ea-85df-da554e2fb931.png)

[2020-02-09 13:23] sftim commented on #18655
@shacharSilbert I haven't looked into how the cronjob controller works into that level of detail.

[2020-02-09 14:12] otma2000 commented on #18967
it works without --generator=run-pod/v1
 kubectl run hello  --schedule="*/1 * * * *" --restart=OnFailure --image=busybox -- /bin/sh -c "date; echo Hello from the Kubernetes cluster"
kubectl run --generator=cronjob/v1beta1 is DEPRECATED and will be removed in a future version. Use kubectl run --generator=run-pod/v1 or kubectl create instead.
cronjob.batch/hello created
ole@ole-HP-ProBook-430-G2:~$

[2020-02-09 14:31] Colstuwjx commented on #18967
Yes, I could also confirm about this, but I still think that removing this case should be better, since it marked as **DEPRECATED** .

[2020-02-09 15:50] remyleone opened #19042 "Add a default meta description tag if no description is specified in the page"
**This is a Feature Request**

**What would you like to be added**

In case no description field is explicitly added in the page, we should have a default such as a title to have this HTML tag filled.

**Why is this needed**

Useful for SEO purposes

https://web.dev/meta-description/
https://support.google.com/webmasters/answer/35624#1

**Comments**

[2020-02-09 18:36] rajibmitra commented on #18967
Done, #19043  , please let me know if I need to make any changes in the doc.

[2020-02-09 19:08] rajibmitra commented on #18978
@sftim Tim, I am getting this
![image](https://user-images.githubusercontent.com/1690251/74108195-aea1a800-4b9d-11ea-8c59-5ccf9d314402.png)

[2020-02-09 22:10] gedimitr opened #19045 "Inconsistent handling of glossary entries acronyms"
**This is a Bug Report**

**Problem:**
The acronyms of the various glossary entries are provided inconsistently. Specifically
* The acronym may be provided parenthesized in the title, or provided in the entry body.
* The entry may use the full term as title, or use the acronym for it.
* The acronym may appear in the 'Also known as:' (aka) field.

**Proposed Solution:**
Decide on how acronyms shoul

[2020-02-09 22:35] sftim commented on #18978
I think you're concerned about the deprecation warning @eyeman666. Have I got that right?

/triage needs-information

[2020-02-09 22:35] sftim commented on #19026
Very much a valid concern, I think.

/priority backlog
/kind valid

[2020-02-09 22:35] sftim commented on #19026
/kind cleanup

[2020-02-09 22:36] sftim commented on #19045
Good idea @gedimitr
/kind cleanup
/priority backlog

[2020-02-09 22:37] sftim commented on #19040
I think the longer-term work to switch to the [Docsy theme](https://www.docsy.dev/) might help fix that. Anyway:
/kind bug

[2020-02-09 22:43] sftim commented on #19033
The object is called [TokenReview](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.17/#tokenreview-v1-authentication-k8s-io) and, as far as I can see, it's GA.

The place to fix this is [`…/k8s.io/apiserver/pkg/server/options/authentication.go`](https://github.com/kubernetes/kubernetes/blob/acd97b42f3acb09ffa30c60690637e815ef28b0a/staging/src/k8s.io/apiserver/pkg/server/options/au

[2020-02-09 22:44] sftim commented on #19033
/kind bug
/priority backlog

[2020-02-09 22:44] sftim commented on #19033
/sig auth

[2020-02-09 22:45] sftim commented on #19029
@lahbabidev it sounds like you were looking at https://k8s.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/ and you thought that something wasn't right about that page.

What did you see that didn't seem right?

[2020-02-10 00:06] oke-py commented on #18931
/close

[2020-02-10 00:06] #18931 closed

[2020-02-10 10:01] andrea-tortosa opened #19047 "Issue with k8s.io/docs/concepts/services-networking/network-policies/"
**This is a Bug Report**

**Problem:**
In section 'Default deny all ingress and all egress traffic' the associated example is the same of 'Default deny all egress traffic' that is

---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: default-deny-egress
spec:
  podSelector: {}
  policyTypes:
  - Egress

**Proposed Solution:**
I think is missing
  policyTypes:
  - Ingress

bas

[2020-02-10 11:12] jaruizes opened #19048 "Language ES: Minikube installation fails using "brew cask" (OS X)"
The command to install minikube in OS X shown in the documentation page (https://kubernetes.io/es/docs/tasks/tools/install-minikube/) is:

`brew cask install minikube`

But this command isn't valid. The command, like in english version is, should be:

`brew install minikube`

Thanks

[2020-02-10 13:18] gavinfish commented on #19048
I have drafted a PR #18281 to fix this, bu there is no es owners to approve it.

[2020-02-10 13:44] sujaypillai commented on #19047
I would like to take this up. Thanks.

[2020-02-10 13:44] sujaypillai commented on #19047
/assign

[2020-02-10 14:08] sftim commented on #19048
/language es
/kind bug
/priority backlog

[2020-02-10 14:09] sftim commented on #19047
It's possible that PR #18091 introduced a regression here.

[2020-02-10 14:10] sftim commented on #19047
https://kubernetes.io/docs/concepts/services-networking/network-policies/#default-deny-all-egress-traffic looks correct to me though.

[2020-02-10 14:22] sujaypillai commented on #19047
https://kubernetes.io/docs/concepts/services-networking/network-policies/#default-deny-all-ingress-and-all-egress-traffic
[code]

which should be
[code]

Also I would like to update the name to `default-deny-all-ingress-egress`

Let me know if that is appropriate.

[2020-02-10 15:34] yanniszark opened #19051 "cpu manager: Cannot allocate all cores to static policy, contradictory documentation"
**This is a Bug Report**

**Problem:**
The docs in CPU Manager mention:

But after that they impose the constraint:

This doesn't seem to make sense.
If the kube and system related resources run in the same exclusive cores as the Guaranteed Pods, then why is it necessary to reserve seperate CPU for them?

**Proposed Solution:**

Document why the `kube-reserved` option is needed.
The provided expla

[2020-02-10 16:12] rajibmitra commented on #18967
Fix has been merged to master. #19043

[2020-02-10 16:21] sujaypillai commented on #19047
@sftim Submitted PR - [19052](https://github.com/kubernetes/website/pull/19052) for this.

[2020-02-10 17:17] rjw245 opened #19053 "Kubernetes Cluster IP performs Source NAT, contradicting docs: k8s.io/docs/tutorials/services/source-ip/"
**This is a Bug Report**

**Problem:**

The documentation of when Kubernetes performs source NATing contradicts what I see in my deployment.
Here is a description of my issue:
I am having a networking issue in Kubernetes.
I am trying to preserve the source IP of incoming requests to a clusterIP service, but I find that the requests appear to be source NAT'd. That is, they carry the IP address of t

[2020-02-10 18:48] SamambaMan opened #19057 "Issue with k8s.io/docs/tutorials/hello-minikube/"
**This is a Bug Report**

**Problem:**
The tutorial environment is succeptible to fork bomb attacks.

**Proposed Solution:**
Configure ulimit to prevent fork bomb by lowering the maximum processes count.

**Page to Update:**
https://kubernetes.io/docs/tutorials/hello-minikube/

[2020-02-10 22:12] sftim commented on #15434
Still relevant; for example to https://github.com/kubernetes/enhancements/issues/563

/remove-lifecycle rotten

[2020-02-10 22:12] sftim commented on #15434
/sig network

[2020-02-10 22:13] #15719 closed

[2020-02-10 22:48] zacharysarah commented on #15969
/remove-lifecycle rotten

[2020-02-10 23:25] Stanislav1975 opened #19061 "Issue with k8s.io/docs/setup/learning-environment/minikube/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-02-11 00:15] OJFord commented on #15319
/remove-lifecycle stale

[2020-02-11 02:30] jimangel opened #19064 "Short aliases for security content"
Hey @sethmccombs @pbnj 👋 (and security sig-docs group).

I'm opening this issue to track a change I made in https://github.com/kubernetes/website/pull/18834 with hopes to improve / simplify security related content. If this is something you'd like to further explore, you can feel free to use this issue to track.

Otherwise, you can also feel free to close this and we will have this as historical r

[2020-02-11 08:21] zacharysarah opened #19068 "Broken link for RBAC"
## What's the problem?

RBAC content is no longer reachable at its actual URL and isn't currently discoverable by search.

## How did this happen?

This behavior is a result of #18834.

By using the `url` attribute in the front matter per [Hugo docs](https://gohugo.io/content-management/organization/#url-1), the `url` created an alias without also creating a redirect.

As a result, RBAC content is

[2020-02-11 08:22] zacharysarah commented on #19068
/good-first-issue

[2020-02-11 08:24] zacharysarah commented on #19064
Heads up that #19068 is relevant to this discussion.

[2020-02-11 08:31] zacharysarah commented on #19068
/priority critical-urgent

[2020-02-11 08:48] #19068 closed

[2020-02-11 10:30] KimMJ commented on #18108
merge completed

[2020-02-11 10:30] #18108 closed

[2020-02-11 11:58] duanwei33 opened #19073 "Issue with k8s.io/docs/concepts/storage/volume-pvc-datasource/"
**This is a Bug Report**

**Problem:**
It is an enhancement request, suggest adding a note for pvc.spec.resources.requests.storage, like "this capacity must be specified and must be >= the capacity of the source volume", which is well indicated in https://kubernetes.io/blog/2019/06/21/introducing-volume-cloning-alpha-for-kubernetes/
It will avoid unnecessary issue.

**Proposed Solution:**

**Page

[2020-02-11 13:12] payall4u opened #19075 "Missing option --register-schedulable"
**This is a Bug Report**

**Problem:**
Missing option **--register-schedulable**
**Proposed Solution:**
Add the option and descriptions
**Page to Update:**
https://v1-14.docs.kubernetes.io/docs/reference/command-line-tools-reference/kubelet/

[2020-02-11 13:21] sftim commented on #17514
Still needs fixing.
/remove-lifecycle stale

[2020-02-11 14:15] kbhawkey opened #19076 "Improve configuration concept page: container image pull policies"
**This is a Feature Request**

**What would you like to be added**
The container images section in the configuration overview concept page needs clarification.

For reference, see pull request:
https://github.com/kubernetes/website/pull/17141

From the pull request: Update overview.md to reflect imagePullPolicy behavior

**Why is this needed**
Improve the container images section in the configurat

[2020-02-11 14:47] jimangel commented on #19064
Also adding in https://github.com/kubernetes/website/pull/19077 - the TL;DR is:

`aliases: ["/rbac/","/docs/rbac"]`

for front matter.

[2020-02-11 14:47] jimangel commented on #19064
/assign @sethmccombs
/assign @pbnj

[2020-02-11 15:49] aojea commented on #15434
/assign

[2020-02-11 16:14] #19047 closed

[2020-02-11 16:16] alexbrand opened #19080 "StartupProbe feature gate default is invalid"
**This is a Bug Report**

**Problem:**
The feature gates page lists `StartupProbe` with a default of `True` in version v1.17.

However, the feature gate's default is `False`:
https://github.com/kubernetes/kubernetes/blob/v1.17.2/pkg/features/kube_features.go#L632

It looks like it was promoted in v1.18:
https://github.com/kubernetes/kubernetes/commit/6603f41a1307ca69c033204fe3a534e64b387325

**Pro

[2020-02-11 16:19] alexbrand commented on #19080
It seems like the startup probe documentation could also include a note about Startup Probes being behind a feature flag.

[2020-02-11 19:03] bismitaguha commented on #19075
@payall4u It is a deprecated flag.

[2020-02-11 19:27] bismitaguha commented on #18972
I am working on this issue.

[2020-02-11 19:40] zacharysarah commented on #18861
Duplicate of #18675

/close

[2020-02-11 19:40] #18861 closed

[2020-02-11 19:44] adambkaplan opened #19081 "Proposal: Rename "Concepts -> Scheduling" to "Scheduling and Eviction""
**This is a Feature Request**

Expand the “Scheduling” section of the Concepts documentation to include Eviction and the features which support pod eviction.

**What would you like to be added**

- [x] Rename “Concepts -> Scheduling” to “Concepts -> Scheduling and Eviction”
   - [ ] Translation for Japanese (ja)
   - [ ] Translation for Mandarin Chinese (zh)
   - [ ] Translation for Korean (ko)

[2020-02-11 19:46] adambkaplan commented on #19081
/assign @bradtopol

[2020-02-11 20:39] adambkaplan commented on #19025
@sftim @medmedchiheb Related proposal to add "Eviction" to the existing "Scheduling" concept: #19081

[2020-02-11 20:41] adambkaplan commented on #18982
@Colstuwjx ideas have now been combined into feature proposal #19081

[2020-02-11 21:37] zacharysarah commented on #18117
The vote to promote @Bradamant3 to chair emeritus and promote @kbarnard10 to co-chair passed in today's [SIG Docs weekly meeting](https://docs.google.com/document/d/1ddHwLK3kUMX1wVFIwlksjTk0MsqitBnWPe1LRa1Rx5A/edit#).

Thanks, @Bradamant3! Welcome, @kbarnard10! 🎉

[2020-02-12 02:44] zacharysarah commented on #19064
See #19077 for how to structure aliases

[2020-02-12 02:52] RichardHightower opened #19085 "Issue with k8s.io/docs/tutorials/stateful-application/zookeeper/"
**This is a Bug Report**
The objective states: "How to consistently configure the ensemble using ConfigMaps"
But the article does not cover ConfigMaps.

**Problem:**
List topic that it does not cover.

**Proposed Solution:**
Remove ConfigMaps out of the objectives or cover it.
**Page to Update:**
https://kubernetes.io/...

https://kubernetes.io/docs/tutorials/stateful-application/zookeeper/

I lik

[2020-02-12 09:55] kolivarun opened #19090 "Issue with etcd restartting"
I am going to create 3 node etcd cluster where i follow below steps to create etcd in each node.

docker run -d \
--restart always \
-v /etc/ssl/certs:/etc/ssl/certs \
-v /var/lib/etcd-cluster:/var/lib/etcd \
-v /etcd/certs:/certs \
-p 4001:4001 -p 2380:2380 -p 2379:2379 \
--name etcd k8s.gcr.io/etcd:3.3.15-0 etcd \
--name=etcd1 --client-cert-auth \
--trusted-ca-file=/etcd/certs/ca.pem \
--cert-fi

[2020-02-12 11:25] sftim commented on #19081
I'm going to jump in and:
/priority important-longterm

[2020-02-12 11:25] sftim commented on #19081
Remember to add redirects in the PRs that move things around.

[2020-02-12 12:53] gm2211 commented on #17556
There's another related issue in these docs:

https://github.com/kubernetes/website/pull/13906

Made it so that
[code]
is now misleading, since the `topologyKey` has been changed to be `failure-domain.beta.kubernetes.io/zone`.

[2020-02-12 15:33] kbhawkey opened #19095 "Add information to style guide version shortcodes"
**This is a Feature Request**

Update the _Style guide_ with instructions and scenarios for using the `latest-version` and `release-branch` shortcodes.

**What would you like to be added**

A new section in the Style guide documenting the `latest-version` and `release-branch` shortcodes; explan how to use the shortcodes and when to use the shortcodes.

**Why is this needed**

These version related

[2020-02-12 16:21] remyleone opened #19096 "Add a subsection dedicated to quickly find snippets of object definition in YAML ready to be copy and paste"
**This is a Feature Request**

**What would you like to be added**

I would like to have a section of the website optimized to quickly find commented snippets of code for all major object. Typically a page that contains different snippets/examples of object definition ready to be copy and paste.

**Why is this needed**

When someone wants to find a snippet to create an object, the typical way of d

[2020-02-12 16:38] Sh4d1 opened #19097 "Wrong FeatureGate state for StartupProbe"
**This is a Bug Report**

**Problem:**
In the feature gates page (https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/), the StartupProbe is marked as Beta since 1.17 but it's still in Alpha.
**Proposed Solution:**
Change it to alpha
**Page to Update:**
https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/

[2020-02-12 16:56] blueelvis opened #19099 "Issue with k8s.io/docs/concepts/overview/working-with-objects/names/"
**This is a Bug Report**

**Problem:** Could you please add the resource types which have additional naming restrictions?

**Proposed Solution:** Add the types of resources having additional naming restrictions

**Page to Update:**
k8s.io/docs/concepts/overview/working-with-objects/names/

Thanks!

[2020-02-12 19:48] #15434 closed

[2020-02-12 20:05] #19097 closed

[2020-02-13 04:55] tengqm commented on #19099
Working on this.

[2020-02-13 04:55] tengqm commented on #19099
/assign

[2020-02-13 05:19] kolivarun commented on #19090
Hello ,

Issue has been resloved

Hello,

Issue has been resloved to chnage same parameter in below command.

Old Command :-

docker run -d --restart always -v /etc/ssl/certs:/etc/ssl/certs -v /var/lib/etcd-cluster:/var/lib/etcd -v /etcd/certs:/certs -v /etcd/certs/peer.pem:/etcd/certs/peer.pem -p 4001:4001 -p 2380:2380 -p 2379:2379 --name etcd k8s.gcr.io/etcd:3.3.15-0 etcd --name=etcd1 --client-c

[2020-02-13 05:20] #19090 closed

[2020-02-13 06:52] harsh151028 opened #19102 "kubernetes on arm64 platform support"
i want to setup kubernetes and minkube   in my arm64 debian qemu vm  but  i'm unable to do this
because in the official site there is no any link is given to arm64 platform kubernetes and minikube setup ,
can you plz provide any blog or resource by which i can setup kubernetes and minikube on arm64 debian platform

[2020-02-13 07:31] girikuncoro opened #19103 "Issue with k8s.io/id/docs/concepts/configuration/assign-pod-node/"
**This is a Bug Report**

**Problem:**
This is not correct translation from the english title: Assign Pod to Nodes

**Proposed Solution:**
Correct Indonesian translation of this: Menetapkan Pod ke Node

**Page to Update:**
https://kubernetes.io/id/docs/concepts/configuration/assign-pod-node/

/language id

[2020-02-13 07:43] jiandanshifu opened #19104 "Issue with k8s.io/docs/tasks/administer-cluster/reserve-compute-resources/"
**This is a Bug Report**

**Problem:**
 The kubelet cann't start!
The log is so,like "Failed to start ContainerManager Failed to enforce Kube Reserved Cgroup Limits on "/system.slice/kubelet.service": "/system.slice/kubelet.service" cgroup does not exist"
**Proposed Solution:**
The kubelet is running!
**Page to Update:**
https://kubernetes.io/...

Kubernetes 1.9.7
Centos7.6(1804)

kubelet.service

[2020-02-13 07:59] sftim commented on #17562
/close

[2020-02-13 07:59] #17562 closed

[2020-02-13 07:59] sftim commented on #17562
Closing because the original bug description is not valid

[2020-02-13 08:02] sftim commented on #19102
Documenting Kubernetes specifically for the ARM64 /AArch64 platform would be a bit of a stretch. You're very welcome to _contribute_ documentation @harsh151028. Also, I have a PR about using kubeadm that should be a bit clearer once I tidy it up.

/kind feature
/priority awaiting-more-evidence

[2020-02-13 08:03] sftim commented on #19095
Is this a /help wanted issue @kbhawkey ?

[2020-02-13 08:08] sftim commented on #19080
Fixed in PR #19098 - right?
/kind bug
/close

[2020-02-13 08:08] #19080 closed

[2020-02-13 08:08] sftim commented on #19099
/priority backlog
/kind feature

[2020-02-13 08:09] sftim commented on #19096
/kind feature

[2020-02-13 08:10] sftim commented on #19075
@payall4u are you specifically concerned about the docs for Kubernetes v1.14?

https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/ lists the flag you mention.

[2020-02-13 08:11] sftim commented on #19053
@rjw245 I'd like to understand the steps I'd follow to replicate this. If you provide sample command lines, eg `curl http://thing/`, mention where to run each of these.

Would you be willing to add that detail?

[2020-02-13 08:14] sftim commented on #19073
Thanks for the suggestion @duanwei33

Would you like to contribute the documentation change as well? That process is fairly easy; signing the license agreement is usually the most involved step.
/kind feature
/priority backlog
/sig storage

[2020-02-13 08:16] sftim commented on #19104
@jiandanshifu can you explain which step in the task page you'd got to when you encountered the problem?
Also, can you replicate the same issue in a local environment such as Minikube?

Aside: I think it makes sense to update https://k8s.io/docs/tasks/administer-cluster/reserve-compute-resources/ with a minimum Kubernetes cluster version.

[2020-02-13 08:18] sftim commented on #19061
@Stanislav1975, what isn't right about the page at https://k8s.io/docs/setup/learning-environment/minikube/?
/triage needs-information

[2020-02-13 08:28] sftim commented on #19029
/triage needs-information

[2020-02-13 08:34] sftim commented on #19051
I think the page is saying that if Pods use all the CPU in the cgroup that also contains the kubelet, this can starve the kubelet of CPU resource so that it never gets scheduled.

From reading the page, `--reserved-cpus` is making whole-core reservations, of _specific_ cores whereas `--kube-reserved` and `--system-reserved` both reserve fractions of the total CPU resources on a node.

Have I read

[2020-02-13 08:34] sftim commented on #19051
It does seem like it's worth improving the wording here.

[2020-02-13 09:14] tengqm commented on #17792
/close

[2020-02-13 09:14] #17792 closed

[2020-02-13 11:19] celestehorgan opened #19108 "Restructure/De-duplicate information in Start/Intermediate/Advanced Contributing"
## Feature request: Restructure/De-duplicate information in Start/Intermediate/Advanced Contributing

Parent issue: #18878

As a part of the parent issue of reducing duplicated content in the Contribute section, this sub-issue restructures the content present in the [Start Contributing](https://kubernetes.io/docs/contribute/start/), [Intermediate Contributing](https://kubernetes.io/docs/contribute

[2020-02-13 11:19] celestehorgan commented on #18878
Update: The next sub-issue: https://github.com/kubernetes/website/issues/19108

[2020-02-13 13:27] sftim commented on #19108
Is it feasible to find a good Git tutorial and hyperlink to that?

If you compare to a typical open source code project, I think SIG Docs sees more contributors who are either new to Git, or unsure about more advanced workflows.

[2020-02-13 13:28] sftim commented on #19108
I certainly don't mind if the Git stuff moves to its own page (we might eg do that if none of the generic tutorials seems right).

[2020-02-13 13:53] kbhawkey commented on #19095
@sftim, probably? I will temporarily (several days) assign myself as there may be more version related shortcodes created/modified.
/assign

[2020-02-13 13:54] rjw245 commented on #19053
You can just follow the steps on the kubernetes documentation page I linked

https://kubernetes.io/docs/tutorials/services/source-ip/#source-ip-for-services-with-type-clusterip

First set up the source-ip-app deployment as shown at the top of the page. Then follow the instructions under the section for ClusterIP, starting with exposing the deployment with a ClusterIP service. It also describes how

[2020-02-13 13:56] rjw245 commented on #19053
I've confirmed this does not happen with minikube. So make sure to use microk8s when testing.

[2020-02-13 13:57] rjw245 commented on #19053
I've submitted an issue to microk8s here:

https://github.com/ubuntu/microk8s/issues/956

[2020-02-13 13:59] sftim commented on #19053
It sounds like the documentation is correct and that Microk8s isn't behaving as expected. I've not checked that though.

[2020-02-13 14:45] celestehorgan commented on #19108
@sftim I was also thinking about this – maybe a generic "GitHub for docs people" type page in the . I'll keep it in the back of my mind and see if it makes sense.

[2020-02-13 15:07] sujaypillai commented on #19073
I would like to take this up.

[2020-02-13 15:07] celestehorgan commented on #19108
/assign @celeste-horgan

[2020-02-13 15:19] rjw245 commented on #19053
I agree, perhaps this can be closed and we can investigate further in the microk8s bug

[2020-02-13 15:49] caniszczyk opened #19112 "Highlight Kubernetes Training: CKA/CKAD and Intro to Kubernetes edX.org"
This is a response to @timstclair:
https://twitter.com/cra/status/1227977913393438721

We highlight KTPs on the partners page but for individuals, we should find a way to highlight the free Intro to Kubernetes course on edX.org + the CKA/CKAD courses. Anything we can do to highlight education options for the Kubernetes ecosystem is a win.

[2020-02-13 16:17] #16309 closed

[2020-02-13 17:18] #16374 closed

[2020-02-13 18:18] tallclair commented on #19112
@timothysc

[2020-02-13 20:50] kbhawkey commented on #19108
/assign @celestehorgan

[2020-02-14 00:45] thockin commented on #16607
Is this done now?

[2020-02-14 06:15] jiandanshifu commented on #19104
@sftim
Thank you.I has solved this problem.Please refer to the following url:
1 https://github.com/kubernetes/kubernetes/issues/78629
2 https://github.com/kubernetes/community/blob/master/contributors/design-proposals/node/node-allocatable.md#recommended-cgroups-setup.
I don't think centos7.6 can automatically create a cgroup for kube-servered.
In other words, there is no cgroup driver for kube-re

[2020-02-14 06:52] ysyukr commented on #18917
/close

[2020-02-14 06:52] #18917 closed

[2020-02-14 08:16] ashishsingh2k8 commented on #18628
@rahulrai-in are you working on this issue? if not I would like to take this.

Please let me know

[2020-02-14 08:26] rahulrai-in commented on #18628
@ashishsingh2k8 I planned to work on it during my break but couldn't find much time to tend to it. Please feel free to take this up. I will circle back to this issue on March 1 when I have some capacity to spare. Thanks.

[2020-02-14 08:39] ashishsingh2k8 commented on #18628
/assign

[2020-02-14 13:13] sujaypillai commented on #19073
/assign

[2020-02-14 14:21] justaugustus commented on #18117
Just dropping by to say this is a really beautifully written issue that we should probably formalize for Chair/TL transitions. :)
cc: @parispittman

Thanks for your work, @Bradamant3!
And congrats, @kbarnard10!

[2020-02-14 15:43] #16635 closed

[2020-02-14 17:05] vareti commented on #18248
There is an open issue with updating status subresource using `kubectl patch`.

https://github.com/kubernetes/kubernetes/issues/67455

It might be the same issue we are seeing here with `kubectl edit`

[2020-02-14 17:28] Newbie112222 opened #19125 "kubectl exec wget fails with ssl_client: app-svc: certificate verification failed"
HI,
I am trying to run a request via wget by using the following kubectl command:
I am able to SSH into the pod by using this:
kubectl exec -it podname sh

When running wget i see this issue:
ssl_client: app-svc: certificate verification failed: unable to get local issuer certificate
wget: error getting response: Connection reset by peer

Any ideas how to fix this issue?
*
*This is a Bug Report**

[2020-02-15 02:45] ClaudiaJKang opened #19128 "Outdated files in the dev-1.17-ko.5 branch."
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.17-ko.5 branch.

### 33 files to be modified
1. [ ] content/en/_index.html 1 file changed, 2 insertions(+), 2 deletions(-)
1. [ ] content/en/docs/concepts/_index.md 1 file changed, 3 insertions(+), 3 deletions(-)
1. [ ] content/en/docs/concepts/architecture/controller.md 1 file changed, 1 insertion(+), 1 deletion(-)
1. [ ] cont

[2020-02-15 02:48] ysyukr commented on #19128
/assign

[2020-02-15 05:38] lahbabidev commented on #19029
Frankly he finds some difficulties in kubernetes especially Deploying WordPress is not easy, it is complicated

[2020-02-15 09:58] #16393 closed

[2020-02-15 13:01] #16042 closed

[2020-02-16 09:21] #15534 closed

[2020-02-16 13:35] artem-shorokhov opened #19138 "Issue with k8s.io/docs/concepts/overview/working-with-objects/labels/"
**This is a Bug Report**

**Problem:**
5 typos in the word "cache":
should probably be "values array contains only “cache”" instead of "values array contains only “value”"

**Proposed Solution:**
replace "value" with "cache"

**Page to Update:**
https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#resources-that-support-set-based-requirements

[2020-02-16 13:35] #19138 closed

[2020-02-16 13:36] artem-shorokhov commented on #19138
my bad, that was general description

[2020-02-16 14:16] sftim opened #19139 "Docs unclear on how Kubernetes uses YAML"
**This is a Bug Report**

**Problem:**
This issue is my interpretation of [k/k#87634](https://github.com/kubernetes/kubernetes/issues/87634).

In k/k#87634, @mleonhard reports that:

It sounds to me like there are two questions here.
1) As a novice cluster operator, how do I set up and configure kubectl?
2) As a novice cluster operator, how do I understand manifests and learn how to author them?

[2020-02-16 14:17] sftim commented on #19139
@mleonhard if you'd like to /retitle this to better capture the issue, please go ahead and do that.

[2020-02-16 16:23] sftim opened #19142 "Incomplete sentence in custom resources table"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/custom-resources/#advanced-features-and-flexibility has a table that includes a cell with the following content, that looks incomplete:

**Proposed Solution:**
Either find the original wording from source control history, or write new wording. Either way, complete the sentence.

**Page to Upd

[2020-02-16 16:23] sftim commented on #19142
/sig api-machinery

[2020-02-16 16:24] sftim commented on #19142
Oops. Closed in error.

[2020-02-16 16:24] sftim commented on #19108
/priority important-longterm
(if not higher)

[2020-02-16 17:58] jongio commented on #17512
Yes, resolved. Closing.

[2020-02-16 17:58] #17512 closed

[2020-02-17 08:35] fjammes opened #19146 "Issue with k8s.io/docs/tasks/administer-cluster/network-policy-provider/weave-network-policy/"
**This is a Bug Report**
**Problem:**
Documentation should tell which weave versions support egress/ingress NetworkPolicies
**Proposed Solution:**
Add this information inside the documentation
**Page to Update:**
https://kubernetes.io/docs/tasks/administer-cluster/network-policy-provider/weave-network-policy/

[2020-02-17 09:48] sftim commented on #16085
Still worth documenting
/remove-lifecycle stale

[2020-02-17 16:02] inductor commented on #17742
/milestone  1.17-ja.1

[2020-02-17 16:02] inductor commented on #16212
/milestone  1.17-ja.1

[2020-02-17 16:13] #18213 closed

[2020-02-17 16:14] raelga commented on #19048
Thanks @gavinfish for the PR, has been approved!

[2020-02-17 16:17] RiRa12621 opened #19149 "Issue with k8s.io/de/docs/tasks/tls/"
**This is a Bug Report**

**Problem:**
 k8s.io/de/docs/tasks/tls/ does not contain any information except the feedback button.

This seems to be limited to the German, French and Spanish version.

[2020-02-17 16:19] raelga commented on #19048
@jaruizes The fixed documentation has been published, thanks for the PR and welcome to the amazing Kubernetes community!

Feel free to close this issue if you are happy with the fix.

[2020-02-17 16:52] #16480 closed

[2020-02-17 17:06] sftim commented on #19149
/language de

[2020-02-17 17:09] sftim commented on #19146
Hi @fjammes

Documentation for Weave Net is at https://www.weave.works/docs/net/latest/

As a policy choice, Kubernetes (and specifically SIG Docs) doesn't usually track version compatibility for external projects. If there is a page in the Weave Net documentation, it would be OK for
https://kubernetes.io/docs/tasks/administer-cluster/network-policy-provider/weave-network-policy/ to link there.

[2020-02-17 19:27] rdicroce opened #19153 "Issue with k8s.io/docs/reference/command-line-tools-reference/feature-gates/"
**This is a Bug Report**

**Problem:**
The Feature Gates page does not adequately explain how to toggle feature gates. All it says is

which is not very specific. What command(s) do I execute (or what file(s) do I modify) to make that happen? Do I need to do this on control nodes, worker nodes, or both?

**Proposed Solution:**
The Feature Gates page should answer the above questions.

**Page to Up

[2020-02-17 19:40] BenHall commented on #19015
Thanks! We'll get this fixed.

/cc @gsoria

[2020-02-17 19:45] BenHall commented on #18819
Sorry you encountered an error. I can't reproduce this. What command did you attempt using kubectl? Had Minikube finished starting?

[2020-02-17 19:46] BenHall commented on #18835
Thanks for letting us know. Unfortunately that is outside of our control but we'll look into alternate ways for managing this.

[2020-02-17 20:09] BenHall commented on #18984
Sorry for the late reply. We are working on a fix due to a timing issue.

[2020-02-17 20:36] artisticcheese opened #19154 "Consistent slowness in website with static resources"
**This is a Bug Report**

**Problem:**
Random static files on Kubernetes.io introduce 6s delay. Sample powershell oneliner below showcasing the issue

[code]
**Proposed Solution:**
Fix website
**Page to Update:**
Entire website is affected

[2020-02-17 21:03] RiRa12621 commented on #19149
I checked that again and the reason for this being empty is that the sub pages (cert rotation managing tls in a cluster) don't exist in German.
In the english version https://kubernetes.io/docs/tasks/tls/ is just displaying https://kubernetes.io/docs/tasks/tls/certificate-rotation/

[2020-02-17 21:14] RiRa12621 commented on #17598
Probably should be copied for other languages.
It's linked from https://github.com/kubernetes/website/issues/14137 which is `/language de` which might confuse folks willing to contribute to German localization

[2020-02-17 21:15] BenHall commented on #18943
Thanks for the suggestion. This has been updated and can now be closed.

[2020-02-17 21:36] remyleone commented on #17598
@RiRa12621 Feel free to do so :)

[2020-02-17 21:44] sftim commented on #19154
That's unexpected.
Here's a script to try the same thing out on a more Unixy platform
[code]
[code]

[2020-02-17 21:45] artisticcheese commented on #19154
I run it on UNIX too, just in powershell core. Just FYI.

[2020-02-17 21:47] sftim commented on #19154
The response headers show that the CSS isn't cacheable (`max-age=0`). Maybe Netlify is having a bad day and a fraction of requests are taking a while to serve - 6 second timeout somewhere perhaps?

[code]

[2020-02-17 21:53] artisticcheese commented on #19154
This issue has been persistent for at least couple of weeks.

[2020-02-17 22:01] sftim commented on #19154
@artisticcheese do you think this sounds like a Netlify issue? I don't know how much you've already investigated.

[2020-02-17 22:02] artisticcheese commented on #19154
I did not do any sort of investigation obviously since I don't control web servers. All I know that there is  issue ongoing for couple of weeks where random resources are being served with 6s delay and based on response headers they seemed to be coming from different servers

[2020-02-17 22:02] TiloGit opened #19156 "Issue with k8s.io/docs/concepts/containers/images/"
**This is a Document issue Report**

**Problem:**
Please clarify how existing image is identified. By Name only or compare SHA?

**text states:**

**Page to Update:**
https://kubernetes.io/docs/concepts/containers/images/

Please clarify documentation

[2020-02-17 22:54] sftim commented on #19156
Thanks for the suggestion @TiloGit

With IfNotPresent, the kubelet considers an image present if there is at least one pulled image that matches the `image` specification for that container.

So, if a Pod specifies an image by a hash, and there's no container with that specific hash present, the kubelet triggers a pull. If a Pod specifies an image by name, and there's a container with that name pr

[2020-02-17 22:55] sftim commented on #19156
/priority awaiting-more-evidence

[2020-02-17 22:56] sftim commented on #19154
The Kubernetes website is served via a SaaS platform, [Netlify](https://www.netlify.com/)

So far I've made only cursory investigations.

[2020-02-17 23:58] inductor commented on #18518
/close

[2020-02-17 23:58] #18518 closed

[2020-02-18 00:12] ysyukr opened #19158 "Reflect new docs reference links since dev-1.17-ko.1"
**This is a Bug Report**

**Problem:**
The new translation documents added from the Branch need to be modified by reference to the links.

**Proposed Solution:**
This is a new branch-specific document since dev-1.17-ko.1, and you will need to modify the links that link to it.

**dev-1.17-ko.2**
- [ ] content/ko/docs/concepts/services-networking/dual-stack.md
- [ ] content/ko/docs/concepts/services

[2020-02-18 00:12] ysyukr commented on #19158
/language ko
/assign

[2020-02-18 02:19] #19103 closed

[2020-02-18 06:16] zacharysarah commented on #19154
That's really weird behavior. @sftim Let's talk about this in tomorrow's weekly meeting.

[2020-02-18 07:59] celestehorgan commented on #19112
👋  @zacharysarah asked me to look at this.

If I understand correctly, the things we want to highlight are:
- The free edX courses here: https://www.edx.org/learn/kubernetes
- The different training programs provided by the companies here: https://kubernetes.io/partners/#ktp
- k8s training and certs here: https://training.linuxfoundation.org/

Is there anything else that comes to mind?

In terms o

[2020-02-18 08:35] databus23 opened #19160 "Issue with k8s.io/docs/reference/command-line-tools-reference/feature-gates/"
**Problem:**
Alpha version of featuregate ValidateProxyRedirects is incorrect.
See https://github.com/kubernetes/kubernetes/pull/88260

**Proposed Solution:**
Change the version from 1.10 to 1.12

[2020-02-18 09:31] ingnil opened #19161 "Issue with k8s.io/docs/tasks/administer-cluster/namespaces/"
**This is a Bug Report**

**Problem:**

Without explanation, the text suddenly starts referring to contexts while talking about namespaces. But they are completely different, as contexts refer to entire clusters, while namespaces are a subdivision of a specific cluster.

While I know how contexts and namespaces differ, I could understand how this could confuse new users.

**Proposed Solution:**

R

[2020-02-18 09:48] engrjislam opened #19163 "Tutorials feedback form does not use available space"
**Problem:**
It's neither a bug nor a actual issue. The problem is actually the window size of a for feedback for each interactive tutorial. It has a scroll which is not much visible (at least to me!).

[Google feedback form for interactive tutorial](https://ibb.co/K602WYg)

[2020-02-18 10:04] hyeagle opened #19164 "Issue with k8s.io/docs/tasks/run-application/run-single-instance-stateful-application/"
**This is a Bug Report**

**Problem:**
Following these operations, the error is return:
ERROR 2005 (HY000): Unknown MySQL server host 'mysql' (110)
The error shows that the server host is not exist.
In "-h mysql", it means "mysql" is server host, but where is it defined?

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

1.17

[2020-02-18 11:35] abhiTamrakar commented on #17864
@vprasady266 if you CA is intact and in the same directory, you can use ```kubeadm alpha renew certs <cert name>``` to renew your certs, just that you might need to run it on all nodes those have that particular certificate as long as kubeadm alpha renew supports it.

[2020-02-18 11:49] neolit123 commented on #17864
kubeadm supports certificate renewal as @abhiTamrakar pointed out above:
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/#manual-certificate-renewal

also you can specify extra SANs using kubeadm's configuration file:
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2#APIServer

this could happen if your are not using the same CA.
manually renewing t

[2020-02-18 11:49] neolit123 commented on #17864
/close

[2020-02-18 11:49] #17864 closed

[2020-02-18 11:54] abhiTamrakar opened #19165 "Request to provide a clear documentation for CA rotation for those who want to do it"
**This is a Bug Report**

**Problem:** There is no documentation for CA rotation, kubernetes does not supports it through kubeadm and it is also not documented anywhere.
Issue link: https://github.com/kubernetes/kubeadm/issues/2027

**Proposed Solution:**
I tried and successfully rotated the CA manually, there are some issues with kubelet which I am working but otherwise I was able to rotate the C

[2020-02-18 11:55] abhiTamrakar commented on #19165
/sig auth

[2020-02-18 11:58] neolit123 commented on #19165
@abhiTamrakar as pointed out earlier, it would be best to notify SIG Auth on their slack channel or zoom meeting about this ticket.

[2020-02-18 12:12] gochist commented on #19128
@ysyukr @ClaudiaJKang diff 내용을 업데이트했습니다.

[2020-02-18 12:12] abhiTamrakar commented on #19165
@neolit123 Yes sure, will do that.

[2020-02-18 15:09] ravivp opened #19167 "kubeadm init --pod-network-cidr=10.240.0.0/16"
W0218 15:06:04.281225   14762 validation.go:28] Cannot validate kube-proxy config - no validator is available
W0218 15:06:04.281418   14762 validation.go:28] Cannot validate kubelet config - no validator is available
[init] Using Kubernetes version: v1.17.3
[preflight] Running pre-flight checks
        [WARNING IsDockerSystemdCheck]: detected "cgroupfs" as the Docker cgroup driver. The recommended

[2020-02-18 15:18] neolit123 commented on #19167
[preflight] If you know what you are doing, you can make a check non-fatal with --ignore-preflight-errors=...

your VM / machine (or Kubernetes Node) needs to have at least 2 CPU cores.

/triage support
/sig cluster-lifeecycle

[2020-02-18 15:18] neolit123 commented on #19167
/sig cluster-lifecycle

[2020-02-18 16:11] McLP2 opened #19169 "Issue with k8s.io/docs/tasks/tools/install-kubectl/"
exacly followed apt installation procedure but /usr/local/bin is empty and kubectl not found there when trying to run it

[2020-02-18 18:52] sftim commented on #19167
/retitle kubeadm init --pod-network-cidr=10.240.0.0/16

[2020-02-18 18:53] sftim commented on #18199
Also see issue #18199

[2020-02-18 18:55] sftim commented on #15444
Also see issue #18199

[2020-02-18 18:58] sftim commented on #19161
Better separation of those concepts sounds like a good idea.
/help
/priority backlog

[2020-02-18 19:06] sftim commented on #19169
@McLP2: GitHub is not the right place for support requests.

If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes)

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

/triage support

[2020-02-18 20:10] riking opened #30574 "Document metadata.namespace behavior for webhooks"
**What would you like to be added**:
Webhook authors should be aware that the metadata.namespace of submitted objects is not trustworthy in Mutating Webhooks, and may be blank in Validation Webhooks. The namespace needs to always be read out of the AdmissionReview object.

**Why is this needed**:
If a webhook author does not test their code with a modified kubectl default namespace, a validating w

[2020-02-18 20:15] bradtopol opened #19175 "Update contributor guide to enable reviewers/approvers to indicate willingness to mentor"
**This is a Feature Request**

The contributor guide should be updated to suggest/encourage that reviewers and approvers should indicate their willingness to serve as a mentor. This can and should be done in a general fashion or even on specific issues that would be "good first issues" or "good second issues" .

The motivation for this is that by being more proactive about providing mentors, we wi

[2020-02-18 20:30] dominikzorgnotti opened #19176 "Issue with k8s.io/docs/concepts/services-networking/service/"
**This is a Bug Report**

**Problem:**
The section about `LoadbalancerIP` is a somewhat vague for k8s beginners like me. I was thrown off by the example above the section in question and couldn't immediately identify how to make use of that information.

**Proposed Solution:**
I suggest some re-phrasing and adding an example. This would be my suggestion for the content:

A user-specified address f