[2017-05-15 21:58] ahmetb commented on #3773
Hmm, I am not sure if there was a particular ordering. In a separate PR you can probably reorder them. I would ideally love to see 1st party stuff on top and then plugins.

[2017-05-16 05:34] #3785 closed

[2017-05-16 05:34] #3786 closed

[2017-05-16 11:01] lukestuts opened #3810 "Issue with /docs/tutorials/kubernetes-basics/expose-intro/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
In the Services and Labels diagram, the shape used to represent a deployment is a heptagon (7 sides). This looks very much like the hexagon (6 sides) used to represent a node. I mistook the heptagon for a hexagon and got confused.

**Proposed Solution:**
Explicitly label the heptagon as a Deployment in the same way that the Pod

[2017-05-16 14:23] jaharkes commented on #3795
Bumped into this myself yesterday as well. It looks like a ConfigMap documentation rewrite was split across two pull requests. One got merged (#3759) but the new one describing how to actually use config maps (#3780) had a formatting error and is still pending.

[2017-05-16 17:01] chenopis commented on #3795
#3780 has been merged.

[2017-05-16 17:01] #3795 closed

[2017-05-16 20:34] erikmack opened #3813 "clusterrole 'cluster-status' is documented but not implemented"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Docs refer to a clusterrole called 'cluster-status' which does not exist in kubernetes.  The first mention of cluster-status was in commit a6c76bb8141b033b1bc1d46e94169abd8a7cca91.  The clusterrole is nowhere in kubernetes source code, including the list of bootstrap clusterroles:  https://github.com/kubernetes/kubernetes/blob/

[2017-05-16 23:45] jgarcia-radius opened #3815 "Issue with /docs/tasks/inject-data-application/define-environment-variable-container/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
Documentation example for environment variables only shows one variable, so it is not clear to users how to add a second or subsequent variables

**Proposed Solution:**
Add a second variable to the example.

**Page to Update:**
https://kubernetes.io/docs/tasks/inject-data-application/define-environment-variable-container/

[2017-05-17 06:22] gattytto opened #3817 "kube-proxy CrashLoopBackOff error (LXC container) in DOCS"
**This is a...**
Bug report

- [ ] Feature Request
- [x] Bug Report

**Problem:**
"apt-get install -y docker-engine" -> will lead to non-functioning kube-proxy in Ubuntu-Xenial when "init" is called inside LXD/LXC container (PROXMOX) because wrong docker version gets installed.

**Proposed Solution:**
"apt-get install -y docker-engine" needs to be changed to
"apt-get install -y docker.io" in docs

[2017-05-17 13:00] lc4ntoni-centralway opened #3820 "RBAC / Default kubernetes users are not documented"
Hello,

I'm attempting to setup a kubernetes cluster (1.5.4) with RBAC support , but I'm having problems related to the fact that some components are not using only service accounts, but also "users" defined within kubernetes, for which I can't find documentation and for which the default clusterrolebindings apparently are not sufficient for maintaining an healthy cluster. I've found a list of use

[2017-05-17 15:06] erikgrinaker commented on #2676
Just an update: this is indeed a bug in the implementation, and has been fixed on the 1.7 branch. A backport to 1.6 is being discussed in https://github.com/kubernetes/kubernetes/issues/45484.

[2017-05-18 00:02] jaredbhatti commented on #3398
Closing this issue!

[2017-05-18 00:02] #3398 closed

[2017-05-18 00:02] jaredbhatti commented on #3406
Closing.

[2017-05-18 00:02] #3406 closed

[2017-05-18 00:03] jaredbhatti commented on #3407
Thanks for the update.  Closing this issue.

[2017-05-18 00:03] #3407 closed

[2017-05-18 00:05] jaredbhatti commented on #3429
Yeah, I don't think it works on mobile devices.  I'll follow up with Katacoda, but since this isn't specifically a docs issue, I'm going to close.

[2017-05-18 00:05] #3429 closed

[2017-05-18 00:05] jaredbhatti commented on #3459
Closing.

[2017-05-18 00:05] #3459 closed

[2017-05-18 00:06] jaredbhatti commented on #3461
I'm going to close this issue since it's not a doc issue.  Please follow up with minikube!  Thanks!

[2017-05-18 00:06] #3461 closed

[2017-05-18 00:06] jaredbhatti commented on #3470
Ping?  I thought Katacoda owned it.

[2017-05-18 00:08] jaredbhatti commented on #3476
Any further work to do here?

[2017-05-18 00:09] jaredbhatti commented on #3502
Can you give the docs team some guidance on next steps?  Are you the right person to talk to or should we be talking to someone else?

[2017-05-18 02:02] ahmetb commented on #3476
@jaredbhatti yeah I'll probably refactor the existing section to add:

- on Linux using ZSH
- on Linux/macOS using oh-my-zsh

[2017-05-18 02:03] ahmetb commented on #3470
@jaredbhatti who can make this SVG image more legible for us

[2017-05-18 08:25] kargakis commented on #3502
@f-w can you help out on this one? It would be nice to have a real-world example documented, eg. ES rebalancing.

[2017-05-18 09:47] alaczi commented on #2880
I think that is ok, the problem is in the previous step, the deployment fails:
[code]

[2017-05-18 09:53] BenHall commented on #3429
Thank you for the feedback. We're still working on how we can deliver a mobile optimised site but haven't found a great solution.

But you're right, in the meantime we should respect The "Request Desktop Site" feature.

[2017-05-18 10:15] BenHall commented on #3590
This looks like Cloudflare is blocking the HTTP request.

[2017-05-18 10:50] innovia commented on #2325
if you're running kops
https://github.com/kubernetes/kops/issues/618

[2017-05-18 15:49] ahmetb commented on #3590
That sounds likely. What happens when you click to one of those font URLs or something and open in a separate tab?

[2017-05-18 16:40] ahmetb opened #3825 "Issue with /docs/tasks/manage-gpus/scheduling-gpus/"
**Problem:** GPU user guide has the `scheduler.alpha.kubernetes.io/affinity` annotation used in is no longer valid as `nodeAffinity` has moved to beta and has its own field now.

**Proposed Solution:** Replace scheduler.alpha.kubernetes.io/affinity annotation with nodeAffinity field in the snippet.

**Page to Update:** https://kubernetes.io/docs/tasks/manage-gpus/scheduling-gpus/

[2017-05-18 16:40] ahmetb commented on #3825
/assign @vishh

[2017-05-18 17:13] f-w commented on #3502
@kargakis, my pleasure. Here is the gist of my implementation with source code on GH
1. added [preStop](https://github.com/bcgov/MyGovBC-MSP/blob/master/openshift/elk/templates/elk.yaml#L130) config and changed [terminationGracePeriodSeconds](https://github.com/bcgov/MyGovBC-MSP/blob/master/openshift/elk/templates/elk.yaml#L134) per @smarterclayton's suggestion
2. the preStop [script](https://gith

[2017-05-18 17:36] peterquek1983 opened #3826 "Issue with /docs/home/contribute/create-pull-request/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-05-18 17:36] #3826 closed

[2017-05-18 17:51] jputrino opened #3827 "new tutorial: Configuring Redis using a ConfigMap"
**This is a...**
- [x ] Feature Request

**Problem:**
As discussed in #3780, the 'Real World Example' section of `docs/tasks/configure-pod-container/configure-pod-configmap.md` should probably be a separate tutorial.

**Proposed Solution:**
- Create a new tutorial from the existing content (probably needs additional information).
- Remove the section from the task doc and replace with a 'What's Ne

[2017-05-18 20:57] chenopis commented on #3827
done

[2017-05-18 20:57] #3827 closed

[2017-05-18 22:23] ahmetb opened #3831 "Issue with /docs/tasks/access-application-cluster/load-balance-access-application-cluster/"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:** https://kubernetes.io/docs/tasks/access-application-cluster/load-balance-access-application-cluster/ some issues with this page:

- uses replicaset
- doesn't link to Service (just uses `kubectl expose`)
- doesn't link to Ingress

**Proposed Solution:**

- link to relevant Service section
- mention Ingress and link to it.

**Page

[2017-05-18 22:24] ahmetb opened #3832 "/docs/tasks/access-application-cluster/create-external-load-balancer/ doesn't mention ingress"
**Problem:** https://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/ this page should mention `Ingress` concept as a way to create an external LB to an application.

**Page to Update:**
https://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/

[2017-05-18 23:57] mettacrawler opened #3835 "Flannel hyperlink is incomplete and confusing"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Flannel hyperlink points to one of two yaml files.  The other file configures RBAC for flannel and must be installed as well but it is not mentioned.

**Proposed Solution:**
Provide links to both files:
https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel-rbac.yml

https://raw.githubusercontent.com

[2017-05-19 06:41] ftclausen opened #3841 "Issue with /docs/concepts/overview/components/ (typo)"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

Typo in Kubernetes Components page.

"keeo" should be "keep"

**Proposed Solution:**

supervisord is a lightweight process monitoring and control system that can be used to keep kubelet and docker running

**Page to Update:**

https://kubernetes.io/docs/concepts/overview/components/

[2017-05-19 08:57] bboreham opened #3844 "Issue with /docs/tasks/administer-cluster/declare-network-policy/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Page shows `networkPolicy` as a field on `namespace`, which it isn't.
This is a proposed change at https://github.com/kubernetes/kubernetes/pull/39164, but highly contentious.

**Proposed Solution:**
Revert #3721 and other similar changes

**Page to Update:**
http://kubernetes.io/docs/tasks/administer-cluster/declare-network-po

[2017-05-19 15:55] gamename opened #3846 "Issue with /docs/concepts/workloads/pods/pod/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
In the 7th paragraph in the "What is a Pod?" section, there is this sentence:
"If a node dies, the pods scheduled to that node are scheduled for deletion, after a timeout period."
That does not to make sense. Nodes are where pods live. Pods cannot be created when a node does not exist. There is nothing to delete.

**Proposed So

[2017-05-19 15:59] gamename opened #3847 "Issue with /docs/concepts/workloads/pods/pod/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
In the 4th paragraph in the "What is a Pod?" section, there is a sentence:
"Containers in different pods have distinct IP addresses and can not communicate by IPC."
The paragraph seems to imply that different pods communicate via IP. But it is not clarified.

**Proposed Solution:**
Please clarify how different pods communicate

[2017-05-19 17:39] ericchiang opened #3850 "authorization: document common subresources like proxy, logs, etc and their implications"
Follow up to https://groups.google.com/forum/m/#!topic/kubernetes-dev/IjKWBos7FR0

/assign @ericchiang

[2017-05-19 17:41] ericchiang commented on #3850
/sig auth

[2017-05-20 08:11] techtonik opened #3858 "Document template variables"
**Problem:**
Variables like `fullversion` are not covered in https://kubernetes.io/docs/home/contribute/page-templates/
I found that this site uses Jekyll and in Jekyll docs variables are stored in [_data](https://github.com/kubernetes/kubernetes.github.io/tree/master/_data) but there is just too much stuff and I could not find `fillversion`. For some reason `fullversion` is in [_config.yml](https

[2017-05-21 12:48] kargakis opened #3863 "Advocate Deployment instead of ReplicationController in docs"
Moved from https://github.com/kubernetes/kubernetes/issues/18465

[2017-05-21 12:54] kargakis commented on #1938
@chenopis any plans on working on this one? I can take it over since I am planning on doing some docs this week.

[2017-05-21 21:30] chrislovecnm commented on #2463
Well to add a bit more information - kops supports aws currently, and has GCE and vSphere support in alpha.

Also how are the new API docs generated? We have API spec code on our code base and would love to reuse that functionality.

We have done a big overhaul of our docs and I need to figure out when to start moving docs over here ever release.

Thanks!

[2017-05-22 14:03] celebdor opened #3866 "Issue with /docs/getting-started-guides/kubeadm/"
This is a Feature Request

**Problem:** Currently we rely on a heredoc in order to configure el7 repositories for kubeadm installation. It is much more convenient and expected to have repofiles available for download.

**Proposed Solution:** I would like to propose having a .repo file in
`https://packages.cloud.google.com/yum/kubernetes.repo`

with the following contents:

[code]

**Page to Update

[2017-05-22 14:09] jbeda commented on #3866
@timothysc -- you understand this stuff better than me.  Does this make sense to you?

@mikedanese -- this would require a new file hosted on a server that no one but you has access to.  Thoughts?

[2017-05-22 14:56] mikedanese commented on #3866
I'm hesitant to do more work with the current infra. If we spend time on this we should be working on fixing https://github.com/kubernetes/release/issues/281

[2017-05-22 15:07] celebdor commented on #3866
@mikedanese the last message on the issue about moving to cncf managed infra is about a month old. Is there somewhere else we can keep track of this development?

[2017-05-22 16:34] timothysc commented on #3866
So I'm all for this, but are we *ever* going to have community managed infra?

[2017-05-22 16:52] pfritzsche opened #3868 "Issue with /docs/tutorials/kubernetes-basics/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
1. Go to https://kubernetes.io/docs/tutorials/kubernetes-basics/
2. Shrink browser window to around 1000px wide (or something narrow enough to trigger the tablet view of the page)
3. Text is cut off on the left side of the page

Environment: macOS 10.12.4, Google Chrome 58.0.3029.110

**Proposed Solution:** ¯\\\_(ツ)\_/¯

Thanks

[2017-05-22 16:56] bobbychef64 opened #3869 "Document how to create a normal user accounts other than service accounts"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
I did't find information about how to create a normal user accounts other than service accounts. I created the k8 cluster with the help of kops and i got the config file present under .kube/config file . This file contains the admin username and password . if normal users like QA or devs want to access to clusters  i am providi

[2017-05-22 17:28] ahmetb commented on #3868
Looks like `<main class="content">` element has a margin-left:200px on the css causing this. This rule seems to only exist in kubernetes-basics tutorial and does not seem like it serves a purpose other than causing this bug.

[2017-05-22 17:29] ahmetb commented on #3869
Looks like we're lacking documentation on how to use `kubectl config` to add new auth, clusters and contexts.

[2017-05-22 17:36] bobbychef64 commented on #3869
And also how i am using the version 1.6 k8 beta. we are under impression that beta version's means newly added features like [RBAC] are already enabled.  Is this enabled by default or we have to do anything to enable. I have seen some comments stating that restart the api-server with auth mode --rbac. But i did't find any document on restarting or staring k8 api-server.

[2017-05-22 17:41] ahmetb commented on #3869
@bobbychef64 unrelated to this issue but I must answer: if something is saying "this feature is beta in kubernetes 1.6" and you're using kubernetes 1.6, the feature is already there, but it may be subject to various changes as it graduates into stable. you don't need to do anything to enable it. we don't have beta releases, so you're using kubernetes 1.6 (not 1.6-beta).

[2017-05-22 17:43] bobbychef64 commented on #3869
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.2", GitCommit:"477efc3cbe6a7effca06bd1452fa356e2201e1ee", GitTreeState:"clean", BuildDate:"2017-04-19T20:33:11Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.2", GitCommit:"477efc3cbe6a7effca06bd1452fa356e2201e1ee", GitTreeState:

[2017-05-22 17:43] ahmetb commented on #3846
@gamename There are 2 parts of a Pod: one is something executed on the Node, one is a record on the Kubernetes API Server. So when a node dies, Pod record will be deleted after a while from the database.

Does this make sense?

[2017-05-22 17:44] bobbychef64 commented on #3869
This is what k8 documentation says

Role-Based Access Control (“RBAC”) uses the “rbac.authorization.k8s.io” API group to drive authorization decisions, allowing admins to dynamically configure policies through the Kubernetes API.
As of 1.6 RBAC mode is in beta.
To enable RBAC, start the apiserver with --authorization-mode=RBAC

Hence i got a doubt that how to start the apiserver ?

[2017-05-22 17:44] ahmetb commented on #3869
@bobbychef64 that might be true for that particular feature, sorry I am not closely familiar.

[2017-05-22 17:45] bobbychef64 commented on #3869
no problem thanks for support

[2017-05-22 18:25] chenopis commented on #1938
@kargakis Yeah, if you have time to work on this, that would be great. Thanks!

[2017-05-22 18:30] bobbychef64 opened #3871 "Issue with /docs/admin/authorization/rbac/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

while creating the roles i am getting the below error. and the document has no info how to create the normal user accounts.

kubectl create -f role.yaml
Error from server (Forbidden): error when creating "role.yaml": clusterroles.rbac.authorization.k8s.io "secret-reader" is forbidden: attempt to grant extra privileges: [{[get]

[2017-05-22 18:48] bobbychef64 opened #3872 "Issue with /docs/admin/authorization/rbac/"
How to create a read only user accounts and what config file we have to give in order to see or read the pods. The config file present under .kube/config contains admin and password i dont want to provide this to users.
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-05-22 20:57] ahmetb opened #3873 "ZooKeeper tutorial title is confusing"
Discussion at #3851. https://kubernetes.io//docs/tutorials/stateful-application/zookeeper/ the "CP" in this title needs explanation.
/assign @chenopis

[2017-05-22 20:58] ahmetb commented on #3872
Hello, it looks like you have a question and not a bug report for the documentation. You have a better chance of getting help in asking your questions in one of the Kubernetes help channels listed below (sorted by activity amount). We are not well-equipped to answer these questions.

- **Slack:** http://slack.k8s.io/ (`#kubernetes-users` or `#kubernetes-novice channels`)
- **Mailing list:** https:

[2017-05-23 19:13] ahmetb opened #3879 "Issue with /docs/tasks/administer-cluster/safely-drain-node/"
**This is a...** Bug Report

**Problem:** [This page](https://kubernetes.io/docs/tasks/administer-cluster/safely-drain-node/) links to https://kubernetes.io/docs/user-guide/production-pods.md#lifecycle-hooks-and-termination-notice which is a broken link.

**Proposed Solution:** Fix the link

**Page to Update:**
https://kubernetes.io/docs/tasks/administer-cluster/safely-drain-node/

[2017-05-23 19:15] ahmetb commented on #3879
Other places linking to this file, all broken:

[code]

[2017-05-23 19:59] henriquetruta commented on #2685
@b43646 this issue should've been registered in kubernetes/kubernetes repo

[2017-05-23 20:04] bobsky commented on #2293
Postpone removing any content from home page. (Typos fixes are ok). Saving for a site holistic refresh in the future.

[2017-05-23 21:06] timothysc commented on #3866
@mikedanese per discussion on the sig call and following up with CNCF I don't think that anyone other then google could host in the near term.

[2017-05-23 21:42] roberthbailey commented on #1733
A couple of other docs that have been recently discussed in sig cluster lifecycle that are relevant here:

1. [Kubeadm (HA)](https://docs.google.com/document/d/1lH9OKkFZMSqXCApmSXemEDuy9qlINdm5MfWWGrK3JYc/edit)
1. [kubeadm upgrade & HA design proposal](https://docs.google.com/document/d/1PRrC2tvB-p7sotIA5rnHy5WAOGdJJOIXPPv23hUFGrY/edit)

[2017-05-24 15:58] cheburakshu opened #3890 "Issue with /docs/admin/kubeadm/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**

--ttl duration

It is not specified what is the unit for the duration (seconds, minutes, etc)

**Proposed Solution:**

Specify the unit for the duration (seconds, minutes, etc)

**Page to Update:**
http://kubernetes.io/...

[2017-05-24 19:00] vinayk06 commented on #3502
@f-w so If I want to use it which version I can use?

[2017-05-24 20:18] f-w commented on #3502
@vinayk06, I use k8s@1.3, es@^2.4. I believe script itself works for es@5.

[2017-05-24 23:37] MikeSpreitzer opened #3892 "Issue with /docs/setup/pick-right-solution/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The Table of Solutions should mention Calico with a pointer into the Calico docs.  Probably with one pretty general row.

**Proposed Solution:**
Add one row with IaaS-Provider=any, Config-Mgmt=any, OS=any, Networking=any, docs=http://docs.projectcalico.org/v2.2/getting-started/kubernetes/installation/,  Support=Commercial and C

[2017-05-24 23:37] MikeSpreitzer commented on #3892
CC @caseydavenport

[2017-05-25 01:52] VinceMD commented on #3199
so what's the way to install kub 1.6 on AWS?

[2017-05-25 02:32] qiujian16 opened #3894 "Document how to set dns policy"
Could not find any place that doc how to set dns policy in pod spec. For example, we should document how to set dnspolicy when use hostnetwork in pod spec.

[2017-05-25 13:02] remram44 commented on #3199
I managed to set it up manually with kubeadm with no issue. I don't have all the integrations working just yet but I mostly don't need them.

[2017-05-25 18:15] mml opened #3899 "Issue with /docs/concepts/ ... hard to navigate if you're starting from ignorance"
The sub-headings don't document themselves.  For example, on this page, I go to Workloads.  Hopefully I know what that means, because hovering doesn't explain it, and click only opens that subtree, where I'm confronted with Pods and Controllers.  If I'm coming here because I don't know what words mean, I might not know those words either.

[2017-05-26 17:42] scribnar opened #3921 "Issue with /docs/getting-started-guides/kops/"
**This is a...**
- [ Bug Report]

**Problem:**
kops gives below error. The document does not mention creation of any keypair
error reading SSH key file "/Users/username/.ssh/id_rsa.pub": open /Users/username/.ssh/id_rsa.pub: no such file or directory

**Proposed Solution:**
Please update the document with any key pairs that has to be created and how to do that

**Page to Update:**
https://kubernet

[2017-05-27 01:31] #1938 closed

[2017-05-28 08:36] fujiaxing opened #3929 "Issue with /docs/tutorials/kubernetes-basics/cluster-intro/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-05-29 06:17] coolsvap opened #3930 "Typo in Kubernetes Components page"
**This is a...**

- [ ] Feature Request
- [ x ] Bug Report

**Problem:**
[1] page has a typo in Master Components

It is missing end )

[1] https://kubernetes.io/docs/concepts/overview/components/

**Proposed Solution:**
Change the section to following

Master components provide the cluster’s control plane. Master components make global decisions about the cluster (for example, scheduling), and de

[2017-05-29 17:02] mryan43 commented on #3813
Same problem, I ended up giving the "view" clusterrole to those users with a clusterrolebinding because that was fine in my case.

If you just want them to be able to see nodes, you can try :
[code]

[2017-05-30 08:03] coolsvap commented on #3841
This is addressed with #3845. This can be closed.

[2017-05-30 08:05] coolsvap commented on #3929
The description needs to be updated. There is not enough information.

[2017-05-30 13:36] crassirostris commented on #3316
Damn, forgot to include the fix into the PR description

@chenopis Could you please close this one?

[2017-05-30 14:45] danwinship opened #3934 "Update NetworkPolicy docs for v1"
We need to update the NetworkPolicy docs for the new v1 semantics for 1.7.

#3721 is a start, although the semantics changed a bit since that was written, as discussed in https://github.com/kubernetes/kubernetes/pull/39164.

(I will do this update myself if no one else gets to it before me.)

[2017-05-30 16:40] #3316 closed

[2017-05-30 18:41] #3890 closed

[2017-05-30 19:03] #3649 closed

[2017-05-30 19:48] cdrage commented on #1319
@errordeveloper

I'm re-opening this issue as I'm experimenting with setting this up with Debian unstable.

Is there a particular place where I can retrieve the binaries? Searching online appears that only the RPM and DEB is available, it'd be ideal to have a release page / repo where I can simple curl the binary. Is that possible?

[2017-05-30 19:49] cdrage commented on #830
Looks as if the page has dissapeared. Closing this issue.

[2017-05-30 19:49] #830 closed

[2017-05-30 19:50] cdrage commented on #840
Page has vanished. Closing.

[2017-05-30 19:50] #840 closed

[2017-05-31 07:15] techtonik opened #3938 "Easier declarative syntax for content tabs"
**This is a...**
- [x] Feature Request

from https://github.com/kubernetes/kubernetes.github.io/pull/3859#issuecomment-303212414

**Problem:**
Current syntax for [tabs](https://kubernetes.io/docs/tabs-example/) is repetitive procedural magic:

    {% capture default_tab %}
    Select one of the tabs.
    {% endcapture %}

    {% capture calico %}
[code]
    {% endcapture %}

    {% capture flannel

[2017-05-31 08:29] bepcyc opened #3939 "Issue with /docs/getting-started-guides/ubuntu/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

**Proposed Solution:**
Instructions for conjure-up installation with snap do not work if snapd was just installed. Re-login may be required.

[code]

**Page to Update:**
https://kubernetes.io/docs/getting-started-guides/ubuntu/#quick-start

Instead of:
[code]
it should be:
[code]

[2017-05-31 15:47] mikedanese opened #3942 "Document SAR approver"
cc @liggitt

[2017-05-31 16:13] ngthanhtrung opened #3943 "State that users have to disable firewalld and enable iptables after setting up cluster on a fresh CentOS install"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

For now it's quite unclear that after setting up Kubernetes cluster on CentOS with `kubeadm`, we have to disable `firewalld` and enable `iptables`.

**Proposed Solution:**

We should state clearly to users that after setting up things on a fresh install of CentOS, they have to disable `firewalld` and enable `iptables`.

**Page

[2017-05-31 16:42] wsanders opened #3944 "Issue with /docs/getting-started-guides/kubeadm/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
[code]
Docs should make it more clear that that these steps are mandatory (even if you are root and $HOME is /root):
[code]
Otherwise, the error above occurs because KUBECONFIG is not exported into the environment.

OS is Centos 7.3.1611.

**Proposed Solution:**
???

**Page to Update:**
https://kubernetes.io/docs/getting-starte

[2017-06-01 01:56] liggitt commented on #3871
The section on privilege escalation and bootstrapping addresses this - https://kubernetes.io/docs/admin/authorization/rbac/#privilege-escalation-prevention-and-bootstrapping

[2017-06-01 01:56] #3871 closed

[2017-06-01 01:57] liggitt commented on #3869
all API server configuration changes controlled by flags require an API server restart

[2017-06-01 01:59] liggitt commented on #3820
user creation is the responsibility of the installation/deployment, and depends on the authentication methods configured. for example, some deployments configure x509 client certificate authentication, some configure bearer token authentication. the method for creating a new user varies by auth mechanism.

[2017-06-01 08:35] riclava opened #3953 "Issue with /docs/concepts/cluster-administration/cluster-administration-overview/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
spell mistake
[code]

**Proposed Solution:**
[code]

**Page to Update:**
http://kubernetes.io/...

[2017-06-01 12:51] coolsvap commented on #3930
#3931 is merged. Closing the issue.

[2017-06-01 12:51] #3930 closed

[2017-06-01 13:09] coolsvap commented on #3953
I think GKE is correct. Since Google Container Engine is based on Kubernetes. Google Compute Engine is often referred as GCE. I might be wrong but I am searching for a reference for this.

[2017-06-01 19:30] ahmetb opened #3956 "Issue with /docs/tasks/tls/managing-tls-in-a-cluster/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:** Instructions for getting a CSR signed do not work on Minikube.

Once I run `kubectl certificate approve <cert-name>`, the csr stays in `Approved` status and does not get `Approved, Issued` status in the Minikube cluster.

If I run the same steps in GKE cluster with v1.6 master, it works.

**Proposed Solution:** We should make i

[2017-06-01 22:39] kkirsche opened #3964 "Issue with /docs/getting-started-guides/kubeadm/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
Currently, the documentation at https://kubernetes.io/docs/getting-started-guides/kubeadm/ does not define what CNI means, which for users unfamiliar with kubernetes and container focused infrastructures may not understand.

**Proposed Solution:**
In the first instance of the CNI acronym, replace it with the spelled out Contain

[2017-06-01 22:41] ryanmcginnis opened #3965 "Copy-to-clipboard feature does not work in Chrome"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Today, the copy-to-clipboard feature used on kubernetes.io for code samples does not work in Chrome.

Tested using:
Chrome 58.0.3029.110 under macOS 10.12.5
Chrome 58.0.3029.110 under Ubuntu 14.04
Safari 10.1.1 under macOS 10.12.5

Steps to Reproduce:
1. Open a documentation page in Chrome. For example: https://kubernetes.io/do

[2017-06-02 01:48] riclava commented on #3953
@coolsvap you're right ;-)

[2017-06-02 01:48] #3953 closed

[2017-06-02 07:14] fleeto opened #3968 "Issue with /docs/concepts/configuration/assign-pod-node/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
In the document, it mentiond:

In principle, the topologyKey can be any legal label value. However, for performance reasons, ***only a limited set of topology keys are allowed***. By default the allowed topology keys are:
kubernetes.io/hostname
failure-domain.beta.kubernetes.io/zone
failure-domain.beta.kubernetes.io/region

but

[2017-06-02 07:17] techtonik commented on #3938
@chenopis this probably could be done using Mungers https://github.com/kubernetes/community/blob/master/contributors/devel/how-to-doc.md#what-are-mungers

[2017-06-02 10:22] danieljcosta opened #3974 "Issue with /docs/concepts/workloads/controllers/statefulset/"
**This is a...**

- [ x ] Feature Request
- [ ] Bug Report

**Problem:**
Unable to find how is it possible to associate a persitentStorage with the StatefulSet in the documentation.

**Proposed Solution:**
Add an example.

**Page to Update:**
https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/

[2017-06-02 10:23] danieljcosta opened #3975 "Issue with /docs/concepts/workloads/controllers/statefulset/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
Unable to find how is it possible to associate a persitentStorage with the StatefulSet in the documentation.

**Proposed Solution:**
Add an example.

**Page to Update:**
https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/

[2017-06-02 15:02] tarekmehrez opened #3978 "Issue with /docs/getting-started-guides/centos/centos_manual_config/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Issues with installation on centos

After following the guide. All services are installed and running.
Kubernetes master is up, but `kubectl get nodes` returns
"the server doesn't have a resource type "nodes""

[2017-06-02 17:42] prydonius commented on #2803
@dlorenc what version of Kubernetes was your GKE cluster on? In 1.5 and lower, GKE used an alpha dynamic provisioning feature that didn't use storage classes. However, in 1.6 GKE now installs a default storage class and beta dynamic provisioning is used.

I can confirm that in GKE with Kubernetes 1.6, the PVC in the current example gets a dynamically provisioned volume instead of getting bound to

[2017-06-02 20:18] chenopis commented on #3938
@techtonik Ah, ok cool. I'm going to be swamped until 1.7 is our later this month, but if you have some spare cycles feel free to create a munger for this and open a PR. We can test it out in the Netlify preview.

[2017-06-02 21:14] #3964 closed

[2017-06-02 21:26] #3556 closed

[2017-06-02 21:26] #3813 closed

[2017-06-02 22:26] ahmetb commented on #3978
It looks like there has been an issue with the setup.

You have a better chance of getting help in asking your questions in one of the Kubernetes help channels listed below (sorted by activity amount). We are not well-equipped to answer these questions.

- **Slack:** http://slack.k8s.io/ (`#kubernetes-users` or `#kubernetes-novice channels`)
- **Mailing list:** https://groups.google.com/d/forum/ku

[2017-06-02 22:27] ahmetb commented on #3975
Duplicate of #3975.

[2017-06-02 22:27] #3975 closed

[2017-06-02 22:27] ahmetb commented on #3968
Please feel free to send a PR if you have time.

[2017-06-04 06:22] AakashBanik opened #3982 "Issue with /docs/setup/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-06-04 06:22] #3982 closed

[2017-06-04 18:00] g1001p opened #3984 "Issue with /docs/getting-started-guides/vsphere/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-06-04 18:05] g1001p commented on #3984
Dear forum
I am trying to deploy kubernetes with vsphere provider
Pod deployment failed on creation of VMDK:
Here is an error
0604 10:43:05.004137   26631 reconciler.go:168] Started AttachVolume for volume "kubernetes.io/vsphere-volume/[wsdc2_ds_ssd_esdata01] volumes/testdsk.vmdk" to node "wsdc2-lnx04"
E0604 10:43:05.077373   26631 attacher.go:79] Error attaching volume "[wsdc2_ds_ssd_esdata01] vo

[2017-06-05 06:48] g1001p commented on #3984
part of the problem fixed - datastore name was not specified correctly.
But kubernetes is still not able to mount vmdk disk
Error: failed to add disk scsi1:0.

[2017-06-05 15:43] kow3ns opened #3986 "Document StatefulSet update and provide a tutorial"
We need to provide documentation and a tutorial for using the StatefulSet update feature in Kubernetes 1.7.

1.7

[2017-06-05 15:43] kow3ns commented on #3986
/assign ow3nks

[2017-06-05 17:37] g1001p opened #3990 "Issue with /docs/getting-started-guides/vsphere/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
vsphere provider template contains only  one entry for datastore.
How to manage more than one datastore using this template?
[Global]
        user = "${username}"
        password = "${password}"
        server = "${vsphere_server}"
        port = "${port}"
        insecure-flag = "${allow_unverified_ssl}"
        datacenter =

[2017-06-05 17:44] janetkuo opened #3991 "Document DaemonSet history"
1. DaemonSet history and `kubectl rollout` commands
1. Update https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/user-guide/kubectl-overview.md
    * valid resource: controllerrevisions
    * kubectl rollout
1. Remove mention of templateGeneration (deprecating), and update the guide for DaemonSet orphan & adoption

/assign @janetkuo

[2017-06-05 17:44] janetkuo commented on #3991
/assign @janetkuo

[2017-06-05 18:39] zoidbergwill opened #3992 "Versioned Docs Discussion"
/assign @chenopis

**This is a...**
- [x] Feature Request

**Problem:**

We currently don't have versioned documentation, so the only docs you get are `master` because GitHub pages.

**Proposed Solution:**

Move to Netlify

<hr>

I've been playing with deploying multiple sites to Netlify from different branches, currently to:

kubernetes-docs-1-5.zoidbergwill.com
kubernetes-docs.zoidbergwill.com
k

[2017-06-05 20:59] ahmetb commented on #3990
authors cc: @erictune @jbeda

[2017-06-05 20:59] ahmetb commented on #3986
/assign @ow3nks

[2017-06-05 21:00] ahmetb commented on #3986
/assign @kow3ns

[2017-06-06 12:05] jamiehannaford commented on #3607
@timothysc I can work on this (feel free to assign). I'm a bit unclear on #2, what type of apiserver caching are you referring to? Do you expect the LB to handle content caching or the apiserver?

[2017-06-06 16:20] chenopis opened #4002 "Issue with k8s.io/docs/home/"
This tests PR  #3995.

[2017-06-06 16:20] #4002 closed

[2017-06-06 16:30] kkirsche commented on #3943
Since firewalld uses iptables under the hood, is that the case even with the Limitations item which states:

Some users on RHEL/CentOS 7 have reported issues with traffic being routed incorrectly due to iptables being bypassed. You should ensure `net.bridge.bridge-nf-call-iptables` is set to 1 in your sysctl config, eg.
[code]
Should have:
[code]

Just want to make sure that doesn't address this i

[2017-06-06 18:04] techtonik opened #4004 "Automated header link checking"
**This is a...**
- [x] Feature Request

**Problem:**
When chapters/pages are removed, documentation links become broken.

**Proposed Solution:**
Run link checker that indexes and understands markdown headers.

https://github.com/kubernetes/kubernetes.github.io/pull/4001#issuecomment-306567432 (chapter removed, no test failures)
https://github.com/kubernetes/kubernetes.github.io/issues/734 (generic

[2017-06-07 01:44] ahmetb opened #4007 "/docs/tutorials: sidebar and ToC do not match"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
<img width="1065" alt="screen shot 2017-06-06 at 9 38 32 am" src="https://user-images.githubusercontent.com/159209/26858755-0b4f5188-4ae8-11e7-8031-149fdc0ac9a9.png">

**Proposed Solution:** List these articles on the left, too.

**Page to Update:**
http://kubernetes.io/docs/tutorials/

[2017-06-07 03:28] karthequian commented on #3939
Added the fix for this because it seemed like we just need an additional comment in the instructions.

[2017-06-07 16:04] dannymk commented on #2180
Same here, I have a cluster up and running and backing from the SA and the network guys.  However, getting the loadbalancer working on bare metal without ANY external providers like GC or AWS is a real pain.  Wish it was described a lot better.  I can use the ingress IP all day but that of course won't help when the users call us because the IP on the ingress changes.  Asking them to wait while th

[2017-06-07 16:54] divyenpatel commented on #3984
@g1001p

We can help you to debug the issue.
Do you still have issue regarding Disk is not getting attached to the node?

Are you using photon OVA provided in the documentation? If other OS, can you provide details.

Is the Kubernetes cluster deployed using Kubernetes-Anywhere?

cc: @tusharnt

[2017-06-07 18:01] g1001p commented on #3984
Thanks you i fixed this issue via reconfiguration of datastore as results vmdk was mounted  successfully.
Maybe you know how can i manage more than one datastore value in the vsphere.conf file?

[2017-06-07 18:52] divyenpatel commented on #3984
We recommend to use shared datastore accessible on all nodes.  You can only specify one datastore name in /etc/kubernetes/vsphere.conf

But If you have multiple shared datastore, and want to use specific datastore, which is not specified in the vsphere.conf, you can use storage class parameter
as mentioned in this yaml -  https://github.com/kubernetes/kubernetes/blob/master/examples/volumes/vspher

[2017-06-07 19:01] aronchick opened #4011 "kube-up.sh instructions for installing on Ubuntu 14 are broken"
[X] Bug Report

**Problem:**
Ubuntu 14 setup instructions are broken.

https://stackoverflow.com/questions/44302071/how-to-install-latest-kubernetes-in-ubuntu-14#

[2017-06-08 05:01] g1001p commented on #3984
thanks, it is great option but it's looks not meet my use case requirements.
This case is about dynamic volume creation.
in my use case i have vmdk already created as a prerequisite.
Also in my case several pods could be run on same minion and should be able to mount different vmdk from different datastore location.
how can i manage through storage class or another option?

[2017-06-08 09:01] TerraTech opened #4015 "api-reference page width"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
The 3rd column consumes too much page width, (when it isn't needed) and causes the 2nd column field names to get scrunched up and much harder to read.  Many times, the 3rd column doesn't contain any information and becomes wasted space and I'm sure this change would be a hero to laptop users everywhere.  :)

**Proposed Solution

[2017-06-08 15:18] rschoultz opened #4019 ""kubeadm init" not possible on restricted network"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Starting in version 1.6.x, it is not possible to run "kubeadm init" from a private network, i.e. where the host is not allowed to access Internet, as kubeadm get stuck on trying to retrieve a stable-1.6.txt file:

    # kubeadm init
    [kubeadm] WARNING: kubeadm is in beta, please do not use it for production clusters.
    una

[2017-06-08 18:00] ankitpateledu opened #4021 "Issue with k8s.io/docs/concepts/configuration/assign-pod-node/"
**This is a...bug report or feature request. i am not sure **

- [x] Feature Request
- [x] Bug Report

**Problem:**
While using replication factor >1; i intend to run same container on different nodes in cluster, and i also want them to be deployed on certain nodes,so i provided replication count and node selector in yaml like below..
apiVersion: extensions/v1beta1
spec:
  replicas: 3
.........
..

[2017-06-08 23:59] ahmetb commented on #4007
@steveperry-53 how do you recommend proceeding with this? Should I add missing items to the sidebar?

I am planning to move the tutorials at https://github.com/kubernetes/examples to the `/docs/tutorials` here soon and I'd like to resolve this first.

[2017-06-09 04:57] divyenpatel commented on #3984
For this requirement, you have to create PV objects manually for pre-created vmdks.
You can then create PVC objects to bind these PV objects, and can specify PVCs in your Pod Spec.
Please refer - https://github.com/kubernetes/kubernetes/tree/master/examples/volumes/vsphere

[2017-06-09 05:37] packtpartner commented on #2321
Hi @jaredbhatti , we have 2 more books published on Kubernetes. Can you direct me to the right place where these books can be featured?
They would be a good learning resource for all those interested in learning Kubernetes

[2017-06-09 08:12] ngtuna commented on #3892
should we close this ?

[2017-06-09 08:14] stephanlindauer commented on #3873
:grin:
true. also why is the "A" uppercase? do they actually mean "CAP"?

[2017-06-09 08:20] venkateshsampath opened #4037 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/"
**This is a bug related to create PVC yaml. **

- [ ] Feature Request
- [x] Bug Report

**Problem:**
As per the documentation, after creating the PVC, the Kubernetes control plane looks for a PersistentVolume that satisfies the claim’s requirements. In this case it should identify the PV, task-pv-volume and should bind the claim to the volume. But that doesn't seem to be happening. Instead, when w

[2017-06-09 08:35] Miyurz opened #4038 "Bring Elasticsearch cluster logging docs up to date"
**This page is no longer valid since we no longer use kube-up.sh. Its deprecated.

This is a feature request. We need to update this page with the new set of exhaustive instructions.
- [x] Feature Request

**Problem:**
This page talks about logging via kube-up.sh method which is deprecated in favor of kubeadm, kops etc.,

**Proposed Solution:**
A thorugh PoC must be done for kubernetes logging wit

[2017-06-09 08:55] #4019 closed

[2017-06-09 09:15] Elitric commented on #3944
Are you sure that's the cause? I was almost ready to nuke my setup, I'll report back if this fixes that hiccup.

[2017-06-09 11:05] eldos-dl opened #4039 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-pod-configmap/"
**This is a...**
- [ ] Feature Request
- [ ] Bug Report
- [x] Documentation Issue

**Problem:**

The link [Create a ConfigMap](https://kubernetes.io/docs/tasks/configure-pod-container/configmap.html) in **Before you begin** section of [Use ConfigMap Data in Pods](https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/) is not working is not working.

**Page to Update:**
h

[2017-06-09 14:15] levivic opened #4041 "Issue with k8s.io/docs/tasks/debug-application-cluster/debug-service/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
I have been using hyperkube to create a local cluster and started a few demo pods and a service on the same host within the same namespace. And I have been using Calico v2.2.1 as my network plugin.

However, the pods cannot ping each other before isolation is enabled.

I have been using `https://kubernetes.io/docs/tasks/debug-a

[2017-06-09 16:11] prydonius commented on #4037
@venkateshsampath see #3979, this is due to the storage class being requested. The PVC is picking up the default storage class and using that instead.

Duplicate of #2803

[2017-06-09 19:18] dhawal55 opened #4047 "kubectl apply ignoring changes to spec.initcontainers field"
- [x] Bug Report

**Problem:**
`kubectl apply` ignores changes in `spec.initcontainers` field. The `spec.initContainers` field is also mirrored into alpha and beta annotations. I think the annotations from the previous run overwrite the changes specified in `spec.initcontainers` field. If I apply my changes as annotations, it works. Also, there is no `--feature-gates` option in kube-apiserver to t

[2017-06-09 19:28] dhawal55 commented on #4047
This is a kubernetes issue. Moving it to kubernetes repo

[2017-06-09 19:28] #4047 closed

[2017-06-09 19:40] rlguarino opened #4049 "Issue with k8s.io/docs/concepts/storage/volumes/"
**This is a...**
- [X] Feature Request
- [ ] Bug Report

**Problem:**

It's not documented how to prevent a Pod from mounting a folder with sensitive contents on the host using HostPath volume.

**Proposed Solution:**

Document how to prevent pods from mounting folders with sensitive contents from from the host. Even if the only way to prevent someone from mounting a host path is to make it only r

[2017-06-09 21:42] curtis628 commented on #2676
@erikgrinaker - Thanks for submitting this on the main k8s repo, and keeping me posted! Closing this doc bug.

[2017-06-09 21:42] #2676 closed

[2017-06-09 22:11] karthequian commented on #3939
We can close this issue now @bepcyc...

[2017-06-10 03:59] crassirostris commented on #4038
@Miyurz Thanks a lot for pointing this out. We're currently thinking about the right way documentation around logging solutions should be set up. The ideas being either completely replace current pages with the list of links to the external places, similar to the way it's done for different network plugins (e.g. add this list to https://kubernetes.io/docs/concepts/cluster-administration/addons/) o

[2017-06-10 04:01] crassirostris commented on #4038
@Miyurz By the way, could you please change the name of the issue to smth like `Bring Elasticsearch cluster logging docs up to date`?

/cc @piosz @fgrzadkowski

[2017-06-10 21:17] janetkuo opened #4052 "Issue with k8s.io/docs/concepts/cluster-administration/proxies/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The bullet points nested under numbered list aren't rendered as bulleted list:

<img width="869" alt="screen shot 2017-06-10 at 2 15 49 pm" src="https://user-images.githubusercontent.com/4876867/27006370-577fd21a-4de7-11e7-8569-459ce9b0b367.png">

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/docs/concepts/cl

[2017-06-11 05:58] lbudai74 opened #4054 "Issue with k8s.io/docs/concepts/services-networking/ingress/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The ingress guide is not working for kubernetes 1.6 with the nginx-ingress-controller. If we follow step by step the instructions the result is that the ingress controller pod will log the following error:

[root@master1 ~]# kubectl -n kube-system logs nginx-ingress-controller-1855486695-0z4kl
I0611 04:21:50.575010       5 laun

[2017-06-11 12:49] thedug commented on #1511
`minikube ip` works for me but takes 20 seconds to respond. Any idea why it would take so long?

[2017-06-11 14:16] g1001p commented on #3984
I configured storageclass according to the reference.
 the storageclass create seems ok, but can't describe kubectl describe storageclass  reports (no description has been implemented for "StorageClass"),
when create pvc, it's status always pending , kubectl describe pvc:

From
{persistentvolume-controller}
Type                  Reason                                              Message
Worning

[2017-06-11 20:43] divyenpatel commented on #3984
This issue is closed.
@g1001p Can you please create a new issue at https://github.com/vmware/kubernetes/issues
and provide following details

what kubernetes version are you using?
`kubectl version `

please provide YAML file you are using for creating storage class and pvc.

share the output of
[code]

And also provide controller log from the master node.

[2017-06-12 09:14] g1001p commented on #3984
Attached is a requested outputs in one zip file.

Thanks

On Sun, Jun 11, 2017 at 11:43 PM, divyenpatel <notifications@github.com>
wrote:

[2017-06-12 09:58] bepcyc commented on #3939
Great, thanks!

[2017-06-12 09:58] #3939 closed

[2017-06-12 11:55] abishgj-rzt opened #4057 "Missing documentation for between pods' synchronisation in a StatefulSet"
The StatefulSet documentation does not talk about the synchronisation  between the pods of the Set.

As the example given in the [documentation](https://kubernetes.io/docs/tutorials/stateful-application/basic-stateful-set/#updating-containers): a StatefulSet called 'web' has been deployed with 2 replicas. I would like to know how does these 2 pods will be synchronised.

Is it completely synchronou

[2017-06-12 14:51] timstoop opened #4061 "Issue with k8s.io/docs/admin/authorization/rbac/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
In the documentation, under the heading "Parallel Authorizers", important information is missing. At least to me, it's unclear where the `mypolicy.jsonl` is coming from and what the content would be. Unless this is a built-in (I honestly didn't test it, sorry), but even in that case, I think it would be good to mention this.

*

[2017-06-12 16:47] g1001p commented on #3984
[DescribePVC.txt](https://github.com/kubernetes/kubernetes.github.io/files/1068880/DescribePVC.txt)
[DescribeStorageClass.txt](https://github.com/kubernetes/kubernetes.github.io/files/1068879/DescribeStorageClass.txt)

[kube-controller-manager.log.txt](https://github.com/kubernetes/kubernetes.github.io/files/1068885/kube-controller-manager.log.txt)
[PVC.json.txt](https://github.com/kubernetes/kube

[2017-06-12 16:51] divyenpatel commented on #3984
please provide kubectl client and kubernetes cluster server version detail.

kubectl version

[2017-06-12 17:47] divyenpatel commented on #3984
@g1001p
Annotation on the claim does not look good to me, you have both alpha and beta version?

[code]

you are requesting 2 TB of VMDK, are you sure about that?

[code]

Let us know what version of Kubernetes you are running? We will provide you what API version you should use in the YAML spec.

also provide YAML files here.

[2017-06-12 22:43] mengqiy opened #4062 "User-facing doc for strategic merge patch"
Maybe we need a user-facing doc for strategic merge patch since they are considered as part of the API as well.
Right now we only have a developer-facing doc at https://github.com/kubernetes/community/blob/master/contributors/devel/strategic-merge-patch.md.

Maybe we can try to move it to the user-facing doc or write a separate doc.
We need to figure out a good place for it.

/assign @steveperry-5

[2017-06-13 00:36] ht512512 opened #4065 "Issue with k8s.io/docs/getting-started-guides/ubuntu/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
sudo snap install conjure-up --classic
suggested by the doc, results in
error: unknown flag `classic'
on Ubuntu 16.04

So tried without the flag --classic
sudo snap install conjure-up
which resulted in
error: cannot perform the following tasks:
- Mount snap "conjure-up" (352) (info failed to parse: invalid confinement type: "cl

[2017-06-13 01:28] g1001p commented on #3984
I am trying to run it over 1.4 version im considering to switch to version 1.5.6 or even 1.6.
My understanding is about purpose of StorageClass is to create storage.
I would like to emphasize my use case.
I already have several vmdks created/existing across of several datastores.
In this case why i need a storageclass?
I need provide the launching pod ability to select dynamically the right vmdk a

[2017-06-13 04:44] divyenpatel commented on #3984
@g1001p as mentioned earlier, you do not need storage class if you do not want to provision volume dynamically.

Following are the sample YAMLs. this is the right option for you.

**Create PV for existing VMDK**

[code]

**Create PVC to bind with PV**

[code]

**Create POD and specify PVC to use.**

[code]

[2017-06-13 06:33] Miyurz commented on #4038
@crassirostris Updated the title/heading. I owe my contribution to the k8s and will come back with my write up based on our cluster logging setup that includes fluent, elastic search and kibana. Whom or where should I send it ?

[2017-06-13 08:11] g1001p commented on #3984
Thank you very much this is exactly was i just did and it working

On Tue, Jun 13, 2017 at 7:44 AM, divyenpatel <notifications@github.com>
wrote:

[2017-06-13 08:20] g1001p commented on #3984
Thanks its working now

[2017-06-13 08:20] #3984 closed

[2017-06-13 15:50] rapenchukd opened #4068 "Issue with k8s.io/docs/getting-started-guides/scratch/"
**This is a...**
- [ ] Feature Request
- [X] Bug Report

**Problem:**
Documentations *recommends* running single master. this is really poor production practice.

**Proposed Solution:**
Recommend multi-master with durable storage, with single master being a backup option.

**Page to Update:**
https://kubernetes.io/docs/getting-started-guides/scratch/#etcd

Additional Information:
There is absolute

[2017-06-13 16:14] rapenchukd commented on #4068
Please see what I wrote a long time ago for some additional info https://github.com/bloomberg/kubernetes-cluster-cookbook/wiki/Cluster-High-Availability

Usage of redundant/external storage simply reduces the outage window, it does not improve actual stability.

[2017-06-13 16:35] rapenchukd commented on #4068
Additionally, https://kubernetes.io/docs/tasks/debug-application-cluster/debug-cluster/ I think provides a little insight into it, but is written in the form of a reactionary flow instead of a planning flow.

[2017-06-13 20:59] simantpurohit opened #4070 "Issue with k8s.io/docs/tasks/configure-pod-container/configmap/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
The page describes how to create a config map. The commands refer to paths in the repository "--from-file=docs/user-guide/configmap/kubectl" which no longer exist.

**Proposed Solution:**
Would be really helpful if the paths were updates in the commands on the page,

**Page to Update:**
https://kubernetes.io/docs/tasks/configu

[2017-06-13 21:00] simantpurohit commented on #4070
My bad, I did not pull the latest version

[2017-06-13 23:14] mml opened #4072 "Docs break horizontal scrolling."
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
On some browsers, https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/ and probably other URLs, some docs aren't visible, and horizontal scrolling is disabled.

**Proposed Solution:**
Re-enable horizontal scrolling or fix the wrapping or something.

**Page to Update:**
https://kubernetes.io/docs/concepts/workl

[2017-06-13 23:15] mml commented on #4072
![docs-scrolling](https://user-images.githubusercontent.com/3115/27108701-89030172-5053-11e7-95c3-70511dcf15d4.png)

[2017-06-13 23:30] ekeoch opened #4073 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
This is more of an update to the documentation, or something that was omitted. The example persistentVolumeClaim Doesn't bind to its corresponding persistentVolume. At least based on the yaml definitions. I also tried it out in a minikube environment and the PVC kept spawning an entirely new PV using a standard storage class wi

[2017-06-14 01:29] bobsky opened #4074 "Partners sign-up form hard to find"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
On the /Partners page, ending paragraph has a link to "partner request form" but can be difficult to spot

**Proposed Solution:**
Bold and underline the text for easier view

**Page to Update:**
https://kubernetes.io/partners/

Part of website design refresh/fixes -- unable to add label -- but it would be needs UX review
https:/

[2017-06-14 04:03] renewooller opened #4076 "Issue with k8s.io/docs/tasks/access-application-cluster/access-cluster/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
The URL for Proxy via the api server is out of date in the documentation:
http://localhost:8080/api/v1/namespaces/kube-system/services/elasticsearch-logging/proxy/

**Proposed Solution:**
http://localhost:8080/api/v1/proxy/namespaces/kube-system/services/elasticsearch-logging/

**Page to Update:**
http://kubernetes.io/...

[2017-06-14 06:55] #2803 closed

[2017-06-14 08:09] prydonius commented on #4037
#3979 is merged so I think this can be closed

[2017-06-14 08:57] gyliu513 opened #4081 "Document `PodTolerationRestriction`"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
There is no document for `PodTolerationRestriction` at https://kubernetes.io/docs/admin/admission-controllers/ , we should add it to the document.

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-06-14 21:08] bobbychef64 opened #4087 "Issue with k8s.io/docs/admin/authorization/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

how to enable RBAC on an existing k8 cluster
**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-06-14 21:15] ahmetb opened #4088 "Reorganize kubeadm topics"
"Installing Kubeadm" is a sub-topic of "Using kubeadm to Create a Cluster" so it should be moved under (or after) that topic.

[2017-06-14 21:46] ahmetb commented on #4087
Please read https://kubernetes.io/docs/admin/authorization/rbac/

This a bug tracker for the documentation. You have a better chance of getting help in asking your questions in one of the Kubernetes help channels listed below (sorted by activity amount). We are not well-equipped to answer these questions.

- **Slack:** http://slack.k8s.io/ (`#kubernetes-users` or `#kubernetes-novice channels`)
- *

[2017-06-14 21:46] #4087 closed

[2017-06-14 21:48] ahmetb commented on #4072
It looks like this is limited only to `<table>`s and `<pre>`s etc. The text resizes fine.

From your screenshot I can tell that the responsive breakpoints are probably not that great, as ~40% of the horizontal space is taken up by left sidebar. ☹️

[2017-06-14 21:48] ahmetb commented on #4072
Sorry didn't mean to close.

[2017-06-15 14:56] venkateshsampath commented on #4037
@prydonius, Thanks a lot. I will go ahead and close this issue.

[2017-06-15 14:56] #4037 closed

[2017-06-15 18:12] ht512512 opened #4096 "Issue with k8s.io/docs/concepts/containers/images/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
Creating a pod using a Docker Hub private repo does not work. It fails to pull the image, although a correct config.json with a valid authentication token exist in /root/.docker and manual pulling of the same docker image succeeds without any issues.

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

Client

[2017-06-15 18:39] bobbychef64 opened #4097 "Issue with k8s.io/docs/admin/kube-apiserver/"
please provide examples how to restart the api-server or some brief examples how to to or enable flags
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-06-15 20:03] hybridindie opened #4099 "l bash completion"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-06-15 20:03] #4099 closed

[2017-06-16 03:44] tengqm opened #4102 "Issue with k8s.io/docs/tasks/access-kubernetes-api/extend-api-third-party-resource/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
TPR is being deprecated. It is not just unstable. It is gonna disappear.
This should be clearly stated on the documentation, or else people like me may spend a lot time working on it only to find it a waste of time.

**Proposed Solution:**
Explicitly state that TPR is being deprecated in favor of CustomResourceDefinition, with

[2017-06-16 04:48] lbudai74 opened #4103 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-pod-configmap/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The example given for "Configure all key-value pairs in a ConfigMap as Pod environment variables" is not working.

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/#configure-all-key-value-pairs-in-a-configmap-as-pod-environment-variables

[2017-06-16 04:50] lbudai74 commented on #4103
I have created first the configmap as it is in your example. Then I'm getting this error when I'm creating the pod:
error: error converting YAML to JSON: yaml: line 12: did not find expected key

[2017-06-16 08:10] xiaosuiba opened #4106 "Issue with k8s.io/docs/tasks/administer-cluster/static-pod/"
**This is a...**
- [ ] Feature Request
- [ x] Bug Report

**Problem:**
The command line in the second step does not match the content.
[code]
should be
[code]

**Proposed Solution:**
create the right directory and test it.

**Page to Update:**
 k8s.io/docs/tasks/administer-cluster/static-pod/

[2017-06-16 09:13] zhangxl233 opened #4107 "Issue with k8s.io/docs/tutorials/kubernetes-basics/cluster-intro/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-06-16 10:06] pavolloffay opened #4109 "Issue with k8s.io/docs/tasks/access-application-cluster/port-forward-access-application-cluster/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
This works only for TCP ports, documentation should mention it.

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[code]

[2017-06-17 04:35] prabhakm opened #4124 "Issue with k8s.io/docs/tasks/run-application/run-replicated-stateful-application/"
**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**

While trying the example, consitently getting below error on pod creation in gcloud.

Events:
  FirstSeen     LastSeen        Count   From                    SubObjectPath   Type            Reason                  Messag
e
  ---------     --------        -----   ----                    -------------   --------        ------

[2017-06-17 10:32] drpaneas opened #4126 "Issue with k8s.io/docs/getting-started-guides/ubuntu/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
I've just installed a fresh system with Ubuntu 17.10. I followed the instruction in the documentation page, saying that I have to do:

[code]

Then I tried to start *kubernetes* but I received the following Python traceback:

[code]

The problem is that `conjure-up kubernetes` needs to talk to `lxd` but this is not installed in

[2017-06-19 17:36] ahmetb opened #4134 "Plan: Remove /samples and merge maintained examples into /tutorials"
This is a rough plan I am planning to execute this/next week with the help of the reviewers:

- [x] Stage 1. **Delete Samples section (https://kubernetes.io/docs/samples/ )**: Most of this page is just links to various random stuff, which now moved to `kubernetes/examples` repository. They do not belong to the website.
    - The only internal link on this page is the [MEAN stack](https://kubernete

[2017-06-19 19:06] janetkuo commented on #3991
The PR is https://github.com/kubernetes/kubernetes.github.io/pull/4098

[2017-06-19 19:35] erictune opened #4135 "Need top-level Controllers concept guide"
**This is a...**

- [X] Feature Request
- [ ] Bug Report

**Problem:**

No overarching Concept guide for controllers.

**Proposed Solution:**

Write one.

**Page to Update:**
 New page to be added.

We have Concept docs for various controllers:

- docs/concepts/workloads/controllers/deployment.md
- docs/concepts/workloads/controllers/daemonset.md
- docs/concepts/workloads/controllers/replicaset.md

[2017-06-19 19:46] erictune commented on #4135
There is an incomplete list of controllers in docs/concepts/workloads/pods/pod-lifecycle.md

[2017-06-19 19:56] erictune commented on #4135
Common responsibilities for Kubernetes controllers:

- Kubernetes controllers automatically create replacement pods in the face of node failures.
- Kubernetes controllers aggregate status of their pods, so that the CLI and UI can summarize.
- and so on.

[2017-06-19 21:26] aveshagarwal opened #4137 "Update pod affinity/anti affinity doc to not include Gt and Lt operators."
**This is a...**

- [ x] Bug Report

**Problem:**
The doc https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity incorrectly specifies that "As with node affinity, the legal operators for pod affinity and anti-affinity are In, NotIn, Exists, DoesNotExist, Gt, Lt."  As pod affinity/anti-affinity only works with regular label selectors: `In, NotIn, Exists, Does

[2017-06-19 21:29] aveshagarwal commented on #4137
@kubernetes/sig-scheduling-bugs

[2017-06-19 21:39] aveshagarwal commented on #4137
I will send a PR soon to address this unless someone else wants to help.

[2017-06-20 09:04] bluishoul opened #4141 "Issue with k8s.io/docs/tutorials/kubernetes-basics/cluster-interactive/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
[code]

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-06-20 09:32] allre168 opened #4142 "Issue with k8s.io/docs/admin/authentication/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The step #5 of "openssl" that is "openssl x509 -req -in server.csr -CA ca.crt -CAkey ca.key -CAcreateserial -out server.crt -days 10000". The command always results in file conversion error "error:0906D06C:PEM routines:PEM_read_bio:no start line:pem_lib.c:701:Expecting:CERTIFICATE REQUEST" thus the final file "server.crt" can n

[2017-06-20 19:04] ahmetb commented on #4134
cc: @steveperry-53 @chenopis @jaredbhatti I'll be starting to work on this soon. Please let me know if you have any comments.

[2017-06-20 22:30] zacharysarah commented on #1190
@tedstirm :wave: After some preliminary digging, it looks like this 404 points to some larger content issues.

- The 404 results from a missing file at the link target (http://releases.k8s.io/master/hack/conformance-test.sh).

  - The `releases` subdomain is no longer part of the [k8s.io repo](https://github.com/kubernetes/k8s.io), and there's a redirect:
  - https://releases.k8s.io points to http

[2017-06-20 22:31] #4039 closed

[2017-06-21 14:59] johnfosborneiii opened #4150 "Issue with pod-lifecycle.md"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**

The Restart Policy has a broken link.

**Proposed Solution:**

Change link from:
https://kubernetes.io/docs/user-guide/pods/#durability-of-pods-or-lack-thereof
to:
https://kubernetes.io/docs/concepts/workloads/pods/pod/#durability-of-pods-or-lack-thereof

**Page to Update:**
https://kubernetes.io/docs/concepts/workloads/pods/p

[2017-06-21 18:06] ahmetb opened #4153 "Tasks -> Administer Cluster too long and unorganized"
I tried grouping some stuff in the following picture, but this **Administer a Cluster** section is slowly turning into a long list of unorganized articles.

Should we be doing anything about this? cc: @steveperry-53 @chenopis

![image](https://user-images.githubusercontent.com/159209/27399434-9b9c970c-5671-11e7-8246-11fb04bfd2d4.png)

[2017-06-22 11:30] narunask opened #4166 "kubelet is not starting apiserver"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

[code]

---

`kubelet` is failing to run services declared in the `/etc/kubernetes/manifests/`, most notably `apiserver`:

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2017-06-22 14:31] castrojo opened #4167 "Getting Started Guide for Ubuntu Calico is outdated"
_From @sauercrowd on October 10, 2016 17:30_

The Getting Started Guide for Ubuntu with Calico at http://kubernetes.io/docs/getting-started-guides/ubuntu-calico/  is out of date.

The used kubernetes in this document version is **1.14**, which leads to issues with up-to-date docker versions.

Also i want to point out that the calico version used in this document is **0.14.0**, while the current ve

[2017-06-22 14:31] castrojo commented on #4167
_From @pwittrock on October 13, 2016 21:15_

@sauercrowd This should probably be moved out of the docs repo and somewhere else

[2017-06-22 17:26] #4088 closed

[2017-06-22 17:49] chenopis commented on #4153
Yeah, we should probably start nesting them together.

[2017-06-22 19:03] erikmack commented on #3813
@liggitt There is still a reference to the cluster-status clusterrole in the paragraph preceding the table you edited.

@mryan43 Thanks, the view-nodes role was the workaround I was looking for.

[2017-06-22 19:54] jberkus opened #4168 "How can we document port requirements for pod network plugins?"
Per PR #4111 we have  a problem in offering documentation around required port security for network plugins.  The problem has two parts:

1. We want to link to plugin docs instead of maintaining our own list of required ports, because our list will become out-of-date/wrong.
2. However, plugins either have no explicit documentation at all about what ports need to be open, or have that documentation

[2017-06-22 19:54] jberkus commented on #4168
cc @luxas @mikedanese @jamiehannaford

[2017-06-22 20:15] caseydavenport commented on #4168
I've raised https://github.com/projectcalico/calico/issues/868 to adjust the Calico docs so that we can more easily link to them from the k8s docs.

[2017-06-22 22:03] kbarnard10 opened #4169 "Update partner page for consistency"
The partner page is currently displaying the following issues:
- Logos are displaying at inconsistent sizes and styling
- Text margins are off because of logo sizing inconsistencies
- Some links need to be updated
- Missing descriptions
- Duplicate entries

We will revise the page for consistency and make the following updates as reflected in this document:
https://docs.google.com/document/d/1EW8Q

[2017-06-22 23:57] enisoc commented on #4135
+1 I would have liked to link to such a doc from https://github.com/kubernetes/kubernetes.github.io/pull/4071.

[2017-06-23 07:31] dmitry-guryanov opened #4175 "Issue with k8s.io/docs/setup/independent/install-kubeadm/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The documented way of installing kubeadm doesn't work anymore, because repo https://packages.cloud.google.com is empty for some reason.

**Proposed Solution:**
I don't know what has happened with that repo, I think maintainers of google repo should be asked to fix it (unfortunately, I haven't found any contacts) or another work

[2017-06-23 08:45] chenopis commented on #4134
@ahmetb SGTM. Please add the 3 of us as assignees to any of the k8s.io PRs. Thx!

[2017-06-23 09:06] chenopis commented on #3873
Yeah, I think CAP, CP, and AP need to be explained or referenced in the doc. It's not mentioned anywhere else.

[2017-06-23 09:08] chenopis commented on #3892
Yeah, it looks resolved.

[2017-06-23 09:08] #3892 closed

[2017-06-23 09:37] dmitry-guryanov commented on #4175
Sorry, I was wrong, repo works well, please, close this issue.

[2017-06-23 15:24] narunask commented on #4166
It starts eventually, but it is ~11 minutes to initialize! Any idea why so long?

[code]

[code]

[2017-06-23 16:52] jberkus commented on #4168
New link for Weave: https://www.weave.works/docs/net/latest/faq/#ports

[2017-06-23 17:49] erictune opened #4176 "Issue with k8s.io/docs/tasks/administer-cluster/out-of-resource/"
**This is a...**

- [X] Feature Request
- [ ] Bug Report

**Problem:**
All Users (not just admins) should be familiar with out-of-resource conditions

Please extract or duplicate the section [Evicting End-user Pods](https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/#evicting-end-user-pods) and put it in a Concept guide that is for all users.

**Proposed Solution:**

**Page to Upd

[2017-06-23 18:01] jaredbhatti commented on #4134
A lot of this is part of Cody's internship project.  Can you coordinate with him on all the docs work?

[2017-06-23 18:54] chenopis commented on #4134
@ahmetb I'll have @cody-clark ping you.

[2017-06-23 20:05] steveperry-53 commented on #4134
@ahmetb, Could we have Cody go ahead and get started, in a separate PR, on the Cassandra tutorial? I'd like him to be able to get started on his primary internship project as soon as possible. Here's what I would suggest we have Cody do now in his own PR:

* Move the Cassandra Readme content to a location under kubernetes.io/docs/tutorials.
* Test the Cassandra tutorial steps and gain an understan

[2017-06-23 20:37] ahmetb commented on #4134
We checked with Cody yesterday. He’ll be working on Step 4 (for all tutorials).

I'll send a PR to address Steps 1-3 today, then we can work on Step 4 asynchronously once the content is here. I'm reopening this issue to keep track of the work.

[2017-06-23 20:43] ahmetb opened #4178 ""Object management using kubectl" does not belong to Tutorials ToC"
The section below does not belong to https://kubernetes.io/docs/tutorials/.

It is neither in a Tutorial form nor goes through a particular Task. It’s more of a Guide. It could fit under Concepts better as it's more documentation-like content.

![image](https://user-images.githubusercontent.com/159209/27499699-dc11f9f4-5819-11e7-97e8-0c6cb58c1568.png)

/assign @steveperry-53

[2017-06-23 21:03] #3968 closed

[2017-06-23 23:22] abiogenesis-now opened #4180 "[feature request] Custom markdown syntax for "variables" in code snippets"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

In code snippets it can be unclear whether a value is part of the "actual code", or an example value that the reader should swap out.

For instance, `dapi-test-pod` in:

<img width="1040" alt="screen shot 2017-06-23 at 4 24 26 pm" src="https://user-images.githubusercontent.com/25401650/27503395-7fe9fd68-5830-11e7-90bd-56648c5d

[2017-06-23 23:23] abiogenesis-now commented on #4180
cc @chenopis (I don't think I have the ability to assign things?)
Also, would definitely be interested into working on this myself!

[2017-06-23 23:34] chenopis commented on #4180
Try "/assign @chenopis" in a comment.

[2017-06-23 23:37] chenopis commented on #4180
/assign @abiogenesis-now

[2017-06-23 23:40] chenopis commented on #3992
@zoidbergwill After Kubernetes 1.7 has been released, let's talk in early July to get this done in 2017Q3.

[2017-06-23 23:42] chenopis commented on #1575
I'm targeting 2017Q3 to move k8s.io prod over to Netlify.

[2017-06-23 23:43] chenopis commented on #1371
I'm targeting 2017Q3 to move k8s.io prod over to Netlify.

[2017-06-23 23:45] chenopis commented on #3239
I'm targeting 2017Q3 to move k8s.io prod over to Netlify, after which we should be able to version the docs.

[2017-06-23 23:46] chenopis commented on #3122
@ahmetb Any ideas on a good way to do this?

[2017-06-23 23:54] calavera commented on #1575
@chenopis happy to jump in a Hangout or meet somewhere else to prepare this.

[2017-06-23 23:57] chenopis commented on #1575
@calavera Awesome. Thanks for volunteering to jump in. Once k8s 1.7 is out the door, hopefully next week, I will setup some meetings to work on a plan for the cutover.

[2017-06-24 09:26] luxas commented on #4168
cc @aaronlevy @tomdee for Flannel

[2017-06-26 03:42] #3569 closed

[2017-06-26 08:57] NaveenKumarV1 commented on #3291
I got the same issue. And I tried so many ways to get the solution.
Finally by deleting .kube directory the issue got resolved.

kubeadm reset
rm -rf ~/.kube
kubeadm init --skip-preflight-checks  --kubernetes-version v1.6.6

[2017-06-26 16:11] manypozo commented on #3710
I had this same issue and did the patch contribution to the doc. Waiting to be merged.

[2017-06-26 16:55] ahmetb commented on #3239
This is discussed at #3239. Closing as duplicate.

[2017-06-26 16:56] ahmetb commented on #3239
Looks like #3992 has more details. Closing this one.

[2017-06-26 16:56] #3239 closed

[2017-06-26 16:57] jaredbhatti commented on #3965
Ahmet, is there a clear and easy fix to this?  Otherwise, let's just remove this functionality.

[2017-06-26 16:59] ryanmcginnis commented on #3965
The copyCode function lives here: https://kubernetes.io/js/script.js

[2017-06-26 17:00] ahmetb commented on #3122
I think it's not too bad that these links are versioned. It will help to provide a consistent snapshot of docs while still following the links when we implement versioned docs (#3239, #3992).

We already extensively use template variables `{{page.githubbranch}}` and `{{page.version}}` (defined in _config.yml) in the documentation and it seems to be working. So if you need this "latest" for the k8s

[2017-06-26 17:17] erictune commented on #4135
Also, this doc could talk about roll-forward and back in a general way, across SS, DS, Deployment, RS.  And ControllerRevision.

[2017-06-26 17:33] ahmetb opened #4191 "Remove links with kubernetes.io in docs"
The documentation should not be hardcoding `https://kubernetes.io` links as this limits our ability to work in staging environment on Netlify. Such links should be absolute. (e.g. `/docs/...`)

[code]

[2017-06-26 17:37] ahmetb commented on #3965
Sent a fix at #4190.

[2017-06-26 18:05] aaronlevy commented on #4168
The flannel backends doc list default ports, if that might be sufficient: https://github.com/coreos/flannel/blob/master/Documentation/backends.md

[2017-06-26 18:12] #3965 closed

[2017-06-26 18:22] #4007 closed

[2017-06-26 18:39] jberkus commented on #4168
OK, seems like we have enough port information to link to popular pod networks.

[2017-06-26 18:39] ryanmcginnis opened #4192 "Update API reference page to fix dead/redirect links"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
The Kubernetes API reference has many links to dead, redirected, or migrated docs pages. For example, there are 58 links to /user-guide/ pages, which are most likely all redirects.

**Proposed Solution:**
Update these links.

**Page to Update:**
https://kubernetes.io/docs/api-reference/v1.6/
https://kubernetes.io/docs/api-refere

[2017-06-26 19:42] ahmetb commented on #4134
Step 1-3 is now fixed. @cody-clark feel free to take a stab at the tutorial content now. I mostly fixed obvious issues such as broken links and titles during the migration. The tutorials content probably needs someone executing again to see if the instructions are still working and also we should probably make these tutorials more concise by eliminating unnecessary amount of detail.

[2017-06-26 19:45] ahmetb commented on #4192
@steveperry-53 and I recently decided (at https://github.com/kubernetes/kubernetes/pull/44474) that these redirects are O.K. as long as they keep working. This is somewhat a tedious operation and I bet a lot of the ToC will keep moving. So I am inclined to wontfix this for now.

[2017-06-26 19:51] ahmetb commented on #4192
If you've got time, you can go ahead and follow the fixes I made to *.go files in that PR and apply `hack/update-all.sh`, then submit a PR.
/unassign

[2017-06-26 20:16] chenopis commented on #4134
/assign @cody-clark

[2017-06-26 21:28] steveperry-53 commented on #2463
Sorry for the delay. Have you gotten the information you need about API doc
generation? Or would you like me to check into this now?
Steve

On Sun, May 21, 2017 at 2:31 PM, Chris Love <notifications@github.com>
wrote:

[2017-06-26 21:38] chenopis opened #4194 "Update links to k8s.io/docs/user-guide/... in autogenerated docs"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
There are still links in the kubernetes/kubernetes autogenerated docs to the deprecated /docs/user-guide/ directory in k8s.io. This issue is the same as [kubernetes/kubernetes#48105](https://github.com/kubernetes/kubernetes/issues/48105) in that repo.

**Proposed Solution:**
Submit a PR in kubernetes/kubernetes to fix all of th

[2017-06-26 21:46] cody-clark commented on #4134
@ahmetb Thanks! I'm on it.

[2017-06-26 22:43] ahmetb commented on #4194
Isn't this the same as #4192?

[2017-06-26 22:52] chenopis commented on #4192
/assign

[2017-06-26 22:52] chenopis commented on #4194
Sigh. Yes. :(

[2017-06-26 22:52] #4194 closed

[2017-06-26 23:21] chenopis opened #4198 "Liquid Warning"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
There is a warning during the Netlify preview build process:

Looks like liquid is trying to parse `{{.spec.terminationGracePeriodSeconds}}` in the line:
[code]

**Proposed Solution:**
Find out how to escape `{` in a code block for Liquid.

**Page to Update:**
http://kubernetes.io/docs/tutorials/stateful-application/cassandra/

[2017-06-27 03:23] jsco2t commented on #2448
I'm having this same exact issue today - using Safari on a Mac (tried on two machines). Same error - has been repro'ing for me for the last 6 hours or so.

If you need any additional details please let me know. Thanks!

[2017-06-27 17:23] ryanmcginnis opened #4205 "Dismissing sweetAlert causes window to return to top of page"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
In #4201, I noticed that dismissing sweetAlerts causes the window to kick you back to the top of the page. This is a poor user experience: the user needs to traverse the page to go back to where they were.

**Proposed Solution:**
Either fix the sweetAlert code to patch this behavior, or remove the functionality.

**Page to Updat

[2017-06-27 19:09] r4j4h commented on #4176
Just to add up this page is no longer accessible with the latest website push :(

https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/

What had great information is now

[code]

Google's cache is broken for use.

[2017-06-27 19:46] crassirostris commented on #4038
@Miyurz Sorry, I was sick.

Wow, sounds awesome :) Just ping me on Slack or send me a email, we'll figure this out then. Does it make sense?

[2017-06-27 22:39] stonefury opened #4209 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**

Claim does not bind.

**Proposed Solution:**

Should the volume claim yaml definition contain the line:

volumeName: task-pv-volume

**Page to Update:**
https://kubernetes.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/

[2017-06-27 23:41] #1184 closed

[2017-06-28 05:39] chaintng opened #4218 "Issue with k8s.io/docs/tasks/run-application/run-single-instance-stateful-application/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
I follow the instruction but when i create mysql deployment, kubernetes is actually creating new disk instead of using my `mysql-pv`. here is the output of `kubectl get pv`

[code]

**Proposed Solution:**
Explain clearer how `This claim is satisfied by any volume that meets the requirements` is working
https://github.com/kubern

[2017-06-28 06:50] chaintng commented on #4218
I dig deeper look like the PV i created in tutorial has empty `StorageClass`. Thats why its not matched and new PV get created when i created PVC.

[code]

[code]

[2017-06-28 07:04] chaintng commented on #4218
Pull Request submit https://github.com/kubernetes/kubernetes.github.io/pull/4219/files

[2017-06-28 10:43] prashanthkori opened #4220 "Issue with k8s.io/docs/tasks/access-application-cluster/web-ui-dashboard/"
drupal deploy documentation using kubernetes

**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-06-28 13:43] g1001p opened #4221 "Issue with k8s.io/docs/admin/high-availability/"
**This is a...**

- [ ] Feature Request
- [X ] Bug Report

**Problem:**
I have three k8s masters configured via nginx loadbalancer  to upstream master requests.
The 8080 port is balancing ok through the loadbalancer.
But requests coming through 6443 secured port of api server failed with error:
Failed to lidt *api.Service: Get https://192.168.3.1:443/api/v1/services?resourceVersion=0 tls: oversize

[2017-06-28 17:49] talkdirty opened #4222 "Issue with k8s.io/docs/setup/independent/install-kubeadm/"
- [ ] Feature Request
- [x] Bug Report

**Problem:**

This does not work on a fresh Ubuntu Xenial 16.04 Instance:

[code]

for the following reason:

The installation hangs on `apt-get install -y docker-engine` forever, because docker-engine hangs at the end of the installation (will not start).

This seems like a known issue:

- https://github.com/moby/moby/issues/23347

- https://unix.stackexcha

[2017-06-29 09:58] ghost opened #4227 "Issue with k8s.io/docs/tutorials/kubernetes-basics/"
**This is a...**

- [x ] Feature Request
- [ ] Bug Report

**Problem:**
Love your NodeJs tutorial, but we really need a real life starting point.

**Proposed Solution:**
Java tutorial to deploy a docker container with Java / Google Stackdriver Logging / Google Endpoints.

Python tutorial to deploy a docker container with Python / Google Stackdriver Logging / Google Endpoints.

**Page to Update:**

[2017-06-29 16:21] alexcontini opened #4234 "Add 2 new Case Study Pages"
**This is a...**
Would like to create 2 new Case Study pages - box.html and golfnow.html

**Problem:**
#4233 #4232 #4231 #4230

**Page to Update:**
https://kubernetes.io/case-studies/

[2017-06-29 22:58] #4198 closed

[2017-06-30 05:53] ahmetb opened #4240 "More accurate title for k8s.io/docs/tasks/administer-cluster/encrypt-data/"
[This article](https://kubernetes.io/docs/concepts/services-networking/network-policies/) uses title **Encrypting data at rest** which gives the impression, it's _any data_ whereas it's only for Secrets. This term is widely used for storage/database systems and in this case it does not really mean that.

A more accurate title would be **Encrypting Secrets at rest**.

What do you think @smarterclay

[2017-06-30 17:49] bmcguirk opened #4245 "Issue with k8s.io/docs/tutorials/kubernetes-basics/update-interactive/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Tutorial 6 wipes out the deployments and pods used in previous sections of the tutorial.

**Proposed Solution:**
Reload the virtual machine with the previous resources?

**Page to Update:**
k8s.io/docs/tutorials/kubernetes-basics/update-interactive/

[2017-07-01 15:49] jicowan opened #4247 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-interactive/"
This is an issue with the kube proxy.  After running kubectl proxy, I couldn't curl the service running on the cluster.  Instead, I got an error saying Error: 'dial tcp 172.18.0.2:8080: getsockopt: connection refused'

- [ ] Feature Request
- [x] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-07-02 07:17] BenHall commented on #4141
We're sorry you encountered an error. If you retry do you get the same error? If so, please let us know your browser version and OS.

Do you have any firewalls or proxies that could be blocking https/websockets?

[2017-07-02 08:15] BenHall opened #4252 "[proposal] Creating play.kubernetes.io - Interactive Kubernetes Playground"
Following on from a suggestion by @asim (https://twitter.com/chuhnk/status/881405640509460480)

We (Katacoda) would love to create and host play.kubernetes.io (or kubernetes.io/play) environment, similar to how the current interactive tutorials work on kubernetes.io. The aim would be to allow users to experiment with a Kubernetes cluster directly from their browser would any signup, downloads or c

[2017-07-02 13:33] idvoretskyi commented on #4252
cc @kubernetes/sig-docs-maintainers @kubernetes/sig-cluster-lifecycle-misc

[2017-07-03 01:32] bluishoul commented on #4141
It seems to work fine today, still don't get the fail reason. close this

[2017-07-03 01:32] #4141 closed

[2017-07-03 10:17] MaikelH opened #4258 "Issue with k8s.io/docs/user-guide/kubectl-cheatsheet.md"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
In the section *Viewing, Finding Resources*, there is a command to check which nodes are ready.

[code]
This command fails with following error:

[code]

**Proposed Solution:**
None yet

**Page to Update:**
https://kubernetes.io/docs/user-guide/kubectl-cheatsheet/

**Kubernetes Version:**
[code]

[2017-07-03 16:16] chenopis commented on #4252
Yeah, this sounds cool. Let me loop in @jaredbhatti, @devin-donnelly, and @steveperry-53.

[2017-07-04 02:07] natejlong commented on #2012
any updates on this? is a canonical reference available anywhere?

[2017-07-04 07:33] jasonrichardsmith commented on #3214
This merged PR should resolve the issue
https://github.com/microservices-demo/microservices-demo/pull/727

[2017-07-04 07:56] aalba6675 opened #4263 "Issue with k8s.io/docs/getting-started-guides/scratch/"
**This is a...**

- [] Feature Request
- [x] Bug Report

**Problem:**
$CLI_CERT
$CLI_KEY
are not explained earlier in the doc

**Proposed Solution:**
Document the variables $CLI_CERT $CLI_KEY

**Page to Update:**
https://k8s.io/docs/getting-started-guides/scratch/

[2017-07-04 11:13] #3214 closed

[2017-07-04 23:07] cgthayer opened #4266 "Issue with k8s.io/docs/user-guide/jsonpath/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
No examples

**Proposed Solution:**

Add this text:

Here's a small example of how to see the structure of data and how to select some parts of it using jsonpaths

[code]

**Page to Update:**
http://kubernetes.io/...

[2017-07-05 10:42] gdenner opened #4270 "Issue with k8s.io/docs/tasks/administer-cluster/namespaces-walkthrough/"
**This is a...**

- [x ] Feature Request
- [ ] Bug Report

**Problem:**
Add the steps to get back out of the kubectl context after running the commands

**Proposed Solution:**
point out that the .kube folder has a config file that holds the info

**Page to Update:**
http://kubernetes.io/...

[2017-07-05 10:42] craigbox opened #4271 "Source IP tutorial uses outdated (since 1.7) annotation method"
**This is a...**
- [x] Bug Report

**Problem:**
The method for specifying traffic should be kept local to the node has been promoted from an annotation to a field in 1.7.

https://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/#feature-availability explains this.

**Proposed Solution:**
Update this page to match.

I'm not sure what our policy is on documenting pr

[2017-07-05 13:43] ghost opened #4273 "Issue with k8s.io/docs/getting-started-guides/aws/"
**This is an issue.**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The documentation for bash deployment is obsolete. The v1.5.x releases are the last to support cluster/kube-up.sh with AWS. But there is no alternative solution to the problem in the documentation.

**Proposed Solution:**
Please update the documentation. By mentioning that you can use Kube Ops or coreos's kube-aws.

**Page

[2017-07-05 14:17] Bradamant3 commented on #4180
This is a good idea (and one common solution to the problem). BUT ... we also already have this recommendation in the style guide: https://kubernetes.io/docs/home/contribute/style-guide/#use-angle-brackets-for-placeholders. (TL;DR: another common solution) My guess is that the issue exists because there's non-conformance to the doc style guide all over the place. How much can we automate fixing th

[2017-07-05 16:49] ahmetb commented on #4271
/assign @MrHohn –could you send a patch for this please?

[2017-07-05 16:52] ahmetb commented on #4222
I would recommend asking this on kubernetes-user mailing list. It appears like the docker issue has been closed as they haven't seen the same issue reported lately.

I'm not equipped to answer whether dmsetup should be included in the instructions. Feel free to send a patch and folks will review.

[2017-07-05 17:17] MrHohn commented on #4271
k8s.io/docs/tutorials/services/source-ip/

Thanks for noticing, I missed this page. Will send a patch soon.

[2017-07-05 19:45] MrHohn commented on #4271
/assign

[2017-07-05 20:08] ahmetb opened #4283 "Fix broken update-imported-docs.sh"
It's not clear whether anybody has ran the `update-imported-docs.sh` for the v1.7 release.

I just tried running it, a few things are broken:

- [ ] 1. `cp: cannot stat 'k8s/cluster/saltbase/salt/fluentd-gcp/fluentd-gcp.yaml': No such file or directory` this is because [we copy this file](https://github.com/kubernetes/kubernetes.github.io/blob/41c395771a12507a10ade75918944e8a731be040/_data/overrid

[2017-07-05 20:13] chenopis commented on #4283
I think @mengqiy would know how to fix this.

[2017-07-05 20:19] #4271 closed

[2017-07-05 20:55] ahmetb commented on #4283
It also appears like Phillip has ran the script successfully at #4193. I am not sure why the (2) didn't fail back then.

[2017-07-05 21:06] ahmetb commented on #4283
I poked at this quite a bit still can't fix the `docs/federation/api-reference` issue. Here's my patch for the file:

 I ended up deleting that dir altogether since it is not versioned anyway, the script completed successfully however:
- the output is not correct
- it added `---\n---\n` to existing files. that doesn't sound right.

I'll probably be spending a few more hours on this with no good re

[2017-07-05 21:56] chenopis commented on #3992
About to start work on this.

[2017-07-05 22:04] ahmetb opened #4290 "Pulling images by digest not documented"
**This is a...**  Bug Report

**Problem:**
https://kubernetes.io/docs/concepts/containers/images/ page does not show how users can specify Docker images with SHA256 digests, resulting in issues like https://github.com/kubernetes/kubernetes/issues/26651.

In fact we don't have any documentation about this feature on the k8s.io at all.

**Proposed Solution:**
Create a section documenting images can

[2017-07-06 00:35] mengqiy commented on #4283
That PR is updating the new style doc e.g. https://kubernetes.io/docs/api-reference/v1.7

It happened last time as well. I manually delete those lines, since there are not too many and I don't have enough time to debug it.

Sound good. I will vote for python. I can help review it.

[2017-07-06 05:21] bobsky opened #4295 "404 broken link in docs"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
link for [api-reference] in opening line at
https://kubernetes.io/docs/concepts/services-networking/network-policies/#the-networkpolicy-resource leads to a 404 error https://kubernetes.io/docs/api-reference/networking/v1/definitions/#_v1_networkpolicy

**Proposed Solution:**
update to correct link

**Page to Update:**
https://ku

[2017-07-06 20:53] mengqiy commented on #4283
Any update?
Is the imported doc up-to-date?

[2017-07-06 21:29] romeech opened #4305 "Issue with k8s.io/docs/tutorials/kubernetes-basics/scale-interactive/"
During all the steps from 1 till the current one I came across one and the same error: a page with practical part was loading during 1.1 minute and after that a big dark grey rectangle was rendered on the page and nothing more happened (see attached screenshot).

In browser console I found the next errors:
[Error] Failed to load resource: the server responded with a status of 404 (Not Found) (Robo

[2017-07-06 22:01] ahmetb commented on #4283
@mengqiy Nope, currently we don't know why

1. the script breaks for Federation API reference
2. why it didn't update `docs/user-guide/kubectl/index.md` (see #4253)

I appreciate if you can take a look.

[2017-07-06 22:02] zoidbergwill commented on #2566
Wouldn't it still be best practise to double quote commands that use command substitution and change it from:

[code]

to

[code]

[Google shell styleguide: Quoting](https://google.github.io/styleguide/shell.xml?showone=Quoting#Quoting)

[2017-07-06 22:06] xetorthio commented on #4252
Hey! We just released PWK (play with kubernetes), an opensource interactive playground (similar to the Docker's one). You might find it interesting. It is here: http://play-with-k8s.com
And there are more details here: https://medium.com/@marcosnils/introducing-pwk-play-with-k8s-159fcfeb787b

[2017-07-06 22:10] mengqiy commented on #4283
Sure. Looking.

[2017-07-07 01:34] mengqiy commented on #4283
After digging a bit,

Structure in https://github.com/kubernetes/kubernetes.github.io/tree/master/docs/reference/federation and https://github.com/kubernetes/kubernetes/tree/master/federation/docs/api-reference are different. I will pull federation in for help. @nikhiljindal @madhusudancs

That doc doesn't exist in upstream any more. So the script doesn't update it.
And there is no link going to i

[2017-07-07 06:53] subhash403 opened #4309 "kubeadm installation Node is not ready"
i installed the kubeadm in local and aws instance but node is not getting into ready state its always in Not ready state

[2017-07-07 08:24] gyliu513 opened #4310 "StatefulSet can be autoscaled by HPA policy"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
In https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/ , we are claiming that only `RC, RS and Deployment` can be autoscaled, we should also mention that the `StatefulSet` can be also autoscaled by HPA policy.

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-07-07 09:28] BenHall commented on #4252
This is something I had in mind:

![screenshot 2017-07-07 10 25 56](https://user-images.githubusercontent.com/82614/27952061-ed95bc84-62fe-11e7-8b70-4d00a445dfbe.png)

![screenshot 2017-07-07 10 26 43](https://user-images.githubusercontent.com/82614/27952065-f16d074a-62fe-11e7-8e94-947c80d4dfc2.png)

On my fork at https://github.com/BenHall/kubernetes.github.io/tree/playground

[2017-07-07 10:54] gyliu513 commented on #4310
Related to https://github.com/kubernetes/kubernetes/issues/44033 https://github.com/kubernetes-incubator/cluster-proportional-autoscaler/issues/29

[2017-07-07 18:07] steveperry-53 commented on #4252
This looks fantastic.
Before moving forward, I'd want to better understand the security concerns raised [here](https://twitter.com/chuhnk/status/881405640509460480).

[2017-07-07 20:02] nikhiljindal commented on #4283
Not sure when reference was added in the path, but I remember when I first added federation docs, I added them to `/docs/federation` so that dir did exist. Will try to dig up the PR.

[2017-07-07 20:06] nikhiljindal commented on #4283
https://github.com/kubernetes/kubernetes.github.io/pull/1222 is the PR.

We were copying autogenerated federation docs from `kubernetes/federation/docs/api-reference/` to `kubernetes.github.io/docs/federation/` and it used to work fine.

Any idea when did we add `reference` in the path?
Just updating those paths to include `reference` should fix the problem?

[2017-07-07 20:12] erictune commented on #4135
Started a draft for this here:
https://docs.google.com/document/d/1jDPTKIRUf_UaVUu_BNu9IxXZR61rZ4MLPDRDWOevczg/view

Collecting content.

[2017-07-07 21:35] marcosnils commented on #4252
Hi everyone PWK co-author here. We'd like to show you how the PWK integration would look and feel in the official kubenetes documentation site. For that purpose we created a video as an example so you can see some of the features that our OS playground provides.  Click on the below image to see the video.
[![PWK K8s](https://img.youtube.com/vi/IcSKpdqyXiM/0.jpg)](https://www.youtube.com/watch?v=Ic

[2017-07-07 21:40] zacharysarah opened #4322 "Better docs for garbage collection"
**This is a...**
- [X] Feature Request
- [ ] Bug Report

## Problem

K8s docs discuss garbage collection in different articles:

- https://kubernetes.io/docs/concepts/cluster-administration/kubelet-garbage-collection/
- https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/
- https://kubernetes.io/docs/admin/kube-controller-manager/
- https://kubernetes.io/docs/tasks/adminis

[2017-07-07 21:40] zacharysarah commented on #4322
/cc @steveperry-53 for visibility

[2017-07-08 10:09] BenHall commented on #4252
@steveperry-53 It's the same platform and security approach that has been powering the introduction tutorials on the site for the past 6/9 months (https://kubernetes.io/docs/tutorials/kubernetes-basics/cluster-interactive/). The only difference is it's an environment for kubeadm instead of minikube.

I'm happy to go into details offline if you have particular questions.

[2017-07-08 11:00] CaoShuFeng opened #4331 "Use a crawl to fetch all the invalid herf in doc"
I wrote a crawl to fetch all the invalid herf in website:  https://kubernetes.io/docs/home/
This is my findlinks.go: http://paste.openstack.org/show/614826/
Run this command:
go run findlinks.go https://kubernetes.io/docs/home/
Then we can find some invalid herf.
I fixes part of them:
https://github.com/kubernetes/kubernetes.github.io/pull/4330
But I found that there are so many invalid herf.
http

[2017-07-08 11:20] CaoShuFeng commented on #4331
@zhangxiaoyu-zidif  @jianglingxia may have interest to this issue.

[2017-07-08 11:21] CaoShuFeng commented on #4331
@chenopis

[2017-07-08 12:02] zhangxiaoyu-zidif commented on #4331
Thanks @CaoShuFeng , We have a similar tool, right? @chenopis .
This would be a good supplement.

[2017-07-08 20:27] romeech commented on #4305
Thanks! Please, let me know, if you find a solution.

[2017-07-10 05:50] bensonz opened #4334 "Issue with k8s.io/docs/tutorials/kubernetes-basics/cluster-intro/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
Website formatting issue when the width is around 768px.
Usually I wouldn't care but when I do the split view on Mac I can't read this webpage. I would assume this issue persist throughout all kubernetes' documentation website so I wanted to report this.
Here's what it looks like
<img width="742" alt="screen shot 2017-07-10 at

[2017-07-10 06:12] derberg commented on #1511
`minikube ip` works perfectly and for me it takes 1-2 seconds to work. I'm surprised that this issue is closed with no solution provided. I bet there are many people out there that do not want to complete tutorials in a browser but on their local on their own

[2017-07-10 18:29] steveperry-53 commented on #4252
This looks good to me.
@devin-donnelly and @jaredbhatti, Could you chime in?
@jbeda, Do the comments in this PR address the security concerns you raised [here](https://twitter.com/chuhnk/status/881405640509460480)?

[2017-07-10 18:32] marcosnils commented on #4252
@steveperry-53 PWK heavily uses LSMs strategies to mitigate the concerns listed in that twitter conversation. As I said before, we work really close with Docker Inc security team to make sure all the best practices (selinux / apparmor / seccomp and cgroups) are taken into account in our playgrounds.

[2017-07-10 19:18] xetorthio commented on #4252
@steveperry-53 would you also consider play-with-k8s?

[2017-07-10 19:19] steveperry-53 commented on #4252
@devin-donnelly, @jaredbhatti, I'd like to hear your comments on including these playgrounds in the kubernetes.io site. As I understand this proposal, there are two different playgrounds we could add to kubernetes.io: Katacoda and PWK.

[2017-07-10 20:26] chenopis commented on #3992
A pilot version of v1.6 is up: https://v1-6.docs.kubernetes.io/

[2017-07-10 22:13] #4191 closed

[2017-07-10 22:17] chenopis commented on #4331
@CaoShuFeng @zhangxiaoyu-zidif We do have a tool, but it might be good to also have a published script that anyone else can run too.

[2017-07-11 09:27] typ431127 opened #4345 "Issue with k8s.io/docs/admin/node-conformance/"
[root@node73 ~]# sudo docker run -it --rm --privileged --net=host -v /:/rootfs -v $CONFIG_DIR:$CONFIG_DIR -v $LOG_DIR:/var/result gcr.io/google_containers/node-test:0.2
/usr/bin/docker-current: Error response from daemon: Invalid volume spec ":/var/result": Invalid volume specification: ':/var/result'.
See '/usr/bin/docker-current run --help'

[2017-07-11 10:58] BenHall commented on #4252
Sorry if opening this issue has put the team in an awkward position. I had thought that with the existing Katacoda integration and our current playground, it could have been a quick nice to have.

While the original idea still stands and the PR is ready, to remove any potential conflict I see a couple of options:
  1) Embed both. I feel this would create a lot of confusion from the user's point of

[2017-07-11 11:17] tomfotherby opened #4346 "Documentation about Deployment object is incorrect about .spec.selector"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

The [documentation page about deployments](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/) states:

I tested this and it's not the case. In fact, it's often very useful to have a different selector than the metadata labels, e.g. if you want to have something like a `build_id` (that changes every deployme

[2017-07-11 16:27] ekeoch opened #4352 "Issue with k8s.io/docs/concepts/configuration/assign-pod-node/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
I have different types pods and I want to add limitations based on the number of each type/category of pod that can be run on a node. E.g. assuming I can allocate 10 pods to a node and have 2 categories of pods, lets say A, and B. I would like to be able to partition that available space to 6A + 4B pods. If a 5th B pod is requi

[2017-07-11 18:19] zoidbergwill commented on #3992
That's building the [`netlify-move`](https://github.com/kubernetes/kubernetes.github.io/tree/netlify-move) branch, right?

[2017-07-11 18:20] zoidbergwill commented on #3992
Also something  not mentioned in my original ticket. Netlify is pretty awesome because of [deploy previews](https://www.netlify.com/blog/2016/07/20/introducing-deploy-previews-in-netlify/)

[2017-07-12 12:33] jandsu opened #4357 "Issue with k8s.io/docs/concepts/architecture/nodes/"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
Ambiguous wording:

Could be understood as _if node as a "no-memory" pressure_ (which is what I understand from context) of _if node does not have a memory pressure_ (which is what I understand without the context)

So it is not clear if this means the memory is low or not...

**Proposed Solution:**

Pick up the appropriate word

[2017-07-12 15:19] dimamciz opened #4358 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-interactive/"
dropping connection every 15 seconds, making the tutorial unusable...

"
Sorry, we hit a problem with the connection.
Your internet connection may have dropped.

Please refresh and try again.
"

- [ ] Feature Request
- [x] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-07-12 16:03] ryanmcginnis commented on #458
Ping. This would still be great to have. Not sure how to accomplish this currently:

    ~$ kubectl patch statefulset/web -p ' "spec.replicas": 4'
    statefulset "web" not patched

[2017-07-12 18:22] ahmetb commented on #4134
/unassign

[2017-07-13 09:29] alexandreStein opened #4361 "Issue with k8s.io/docs/tutorials/kubernetes-basics/cluster-interactive/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
I can't even start the tutorial.
Here is the screenshot of the initial page after clicking on **START SCENARIO:**
![Screen shot](https://preview.ibb.co/gKZCFF/Capture_d_cran_de_2017_07_13_11_07_54.png)

I tried with Chromium and Firefox but both give me the same result.

**Proposed Solution:**
I don't know what can be the probl

[2017-07-13 11:41] BenHall commented on #4361
Thanks for the report. Are you behind any proxies that could be blocking web sockets?

[2017-07-13 11:42] BenHall commented on #4358
Sorry you encountered an issue. Is this still happening?  If so, could you please tell me your browser and OS?

Also, are you behind any kind of proxy?

[2017-07-13 11:44] BenHall commented on #4305
Could you please let me know if you can access the main Katacoda site?

You can take the scenarios directly at https://katacoda.com/kubernetes-bootcamp.

[2017-07-13 14:11] alexandreStein commented on #4361
Thanks for the quick reply.

I'm not behind a "real" HTTP proxy. I use a Shadowsock tunnel with mp-TCP to get much better bandwidth.
But it's not suppose to filter anything.
This should not be the issue, and when I connect directly to the web (no transparent proxy) I have the same behavior.

Yes, it's a Linux Ubuntu 17.04 with Kernel 4.10.0-26-generic.
The Chromium version is: 59.0.3071.109
The Fi

[2017-07-13 14:27] BenHall commented on #4361
Sounds like a potential Linux issue. Let me investigate. Thanks for telling us.

[2017-07-13 14:35] alexandreStein commented on #4361
Tell me if I can help.
If yes tell me who :smile:

[2017-07-13 14:36] BenHall commented on #4361
1) Just to double check, can you try directly on https://katacoda.com/kubernetes-bootcamp please ?
2) I'm guessing there are no JavaScript errors in the console?

[2017-07-13 14:36] alexandreStein commented on #4361
Thank to you for taking care of it.
Tell me if and who could I help.

[2017-07-13 14:47] alexandreStein commented on #4361
Sorry I messed up with my different devices...
The issue is still open.

The link you gave me works correctly.
![screen shot](https://preview.ibb.co/kDenZa/Capture_d_cran_de_2017_07_13_16_44_33.png)

You are right, there is no error in the console.
![screen shot](https://preview.ibb.co/kAZnZa/Capture_d_cran_de_2017_07_13_16_41_23.png)

The error you see are just about fonts.

[2017-07-13 14:55] dimamciz commented on #4358
Hi Ben
Thanks for your prompt reply. To answer your questions:

   - I am using a company owned laptop but I disabled the company proxy while running the tutorials. And also enabled it... both times with same results.

   - My OS is W7 Enterprise.

   - My browser is Chrome Version 59.0.3071.115 (Official Build) (64-bit)

   - Also tried with my IE, but not that much as the virtual terminal wasn't

[2017-07-13 14:59] BenHall commented on #4361
Interesting, must be something to do with iFrames and cookies. Thanks for the additional info.

[2017-07-13 19:18] zacharysarah commented on #1319
@cdrage 👋 I'm taking three actions here:

1. Renaming this issue to reflect that the docs path is now `/docs/setup/independent/create-cluster-kubeadm/`

2. Tagging this issue with the _area/build-release_ and _Needs Tech Review_ labels

    /cc @justinsb 👋 for kubeadm visibility after today's (7/13/17) [k8s community meeting](https://docs.google.com/document/d/1VQDIAB0OqiSjIHI8AWMvSdceWhnz56jNpZrL

[2017-07-13 19:18] #1319 closed

[2017-07-13 19:23] zacharysarah commented on #2493
@pramodsetlur Are you still experiencing this bug?

[2017-07-13 19:23] cdrage commented on #1319
@zacharysarah Awesome! :+1: Glad there's going to be more visibility. I'd like to see `kubeadm` on other operating systems!

[2017-07-13 20:00] chenopis commented on #3992
@zoidbergwill https://v1-6.docs.kubernetes.io/ is using the `release-v1.6` branch.

[2017-07-13 20:04] zacharysarah commented on #2499
@ztenat1211 Thanks for opening this issue. Can you indicate a proposed solution?

[2017-07-13 20:06] zacharysarah commented on #2547
@fulltopic Thanks for opening this issue.

@BenHall 👋 Possibly related to #2493?

[2017-07-13 20:12] zacharysarah commented on #2555
Closing this issue. It looks like the interactive tutorial is fixed:

![image](https://user-images.githubusercontent.com/3210446/28185607-96224470-67dd-11e7-8c73-f418341e954f.png)

[2017-07-13 20:12] #2555 closed

[2017-07-13 20:20] zacharysarah commented on #2580
@gyliu513 Can you specify a URL? Also, `misspellings` doesn't appear to be a standard shell command&mdash;can you clarify your proposed solution?

[2017-07-13 20:28] #2617 closed

[2017-07-13 20:29] #2621 closed

[2017-07-13 20:31] BenHall commented on #2547
@zacharysarah It does look like it, however I thought I had resolved this.

@fulltopic Could you please tell me your browser, os and screen resolution please?

[2017-07-13 20:32] BenHall commented on #4247
Could you please retest this and see if you're getting the same error?

[2017-07-13 20:34] BenHall commented on #4245
Thanks for the feedback. This is by design with every scenario designed as a standalone tutorial.

It would be great to know what the benefits of having the previous resources available would be?

[2017-07-13 21:11] pramodsetlur commented on #2493
@zacharysarah I don't see the issue anymore. Thanks for the fix.

[2017-07-13 21:11] #2493 closed

[2017-07-13 22:16] saydulk opened #4367 "Issue with k8s.io/docs/setup/"
i need to have installation document for setup into ubuntu 14.04 LTS

**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-07-14 00:14] artisticcheese opened #4368 "Issue with k8s.io/docs/getting-started-guides/windows/"
Please update that page to reference new Windows server insider build (https://blogs.windows.com/windowsexperience/2017/07/13/announcing-windows-server-insider-preview-build-16237/#SHXc2oQwesjYrBIF.97)  and how it changes Kubernetes deployment due to big changes in networking and I assume other aspects

[2017-07-14 02:07] gyliu513 commented on #2580
I mean that we can just run the command `git ls-files | grep -v locale | misspellings -f -` and check what should be updated. @zacharysarah

[2017-07-14 05:30] marcosnils commented on #4252
Hi there, just wanted to share two new features we've implemented in PWK this week. Drag & Drop file uploads and we've adapted @kelseyhightower kubeadm tutorial to make it extremely easy to deploy a single node cluster through kubeadm. Here's a blog post about it https://medium.com/@marcosnils/easiest-single-node-kubernetes-cluster-f1deaf229bd5

[2017-07-14 05:54] feiskyer opened #4374 "Accessing kubernetes v1.6 documentation"
**Problem:**

<https://kubernetes.io/docs/> has been updated to v1.7, but there is no links to old-versioned documentation, e.g v1.6. Is v1.6 documentation still published? If yes, where can we access it?

[2017-07-14 10:28] #2857 closed

[2017-07-14 16:37] discordianfish opened #4377 "secrets syntax error in volume spec in k8s.io/docs/tasks/inject-data-application/podpreset/"
It says (twice):
[code]

but should say:
[code]

[2017-07-14 17:59] #2622 closed

[2017-07-14 18:03] zacharysarah commented on #2624
@fiseast This issue looks more like a request for technical support than an issue with the docs. I recommend bringing your question to the `#kubernetes-users` channel in [Kubernetes Slack](http://slack.k8s.io/).

[2017-07-14 18:03] #2624 closed

[2017-07-14 18:10] zacharysarah commented on #2630
@perfeyhe Can you clarify the specific bug you're seeing in the docs, and how it relates to the docs for `kube-scheduler`?

[2017-07-14 18:14] zacharysarah commented on #2631
@ahmetb Thanks for opening this. The API docs in general need serious updates, both to content and how they're created and updated. It may be a while (6+ months?) before we can address API docs effectively, but this kind of detail helps scope the work that needs to be done.

[2017-07-14 18:16] #2658 closed

[2017-07-14 18:20] #2674 closed

[2017-07-14 18:21] ahmetb commented on #2631
I actually fixed most of these a while ago after the big docs shuffle happened prior to 1.7 release. We can close these.

[2017-07-14 18:21] #2631 closed

[2017-07-14 18:25] zacharysarah commented on #2685
@b43646 Thanks for opening this issue. It looks like you're asking for specific help with your environment, rather than making a feature request for the docs. I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/).

[2017-07-14 18:25] #2685 closed

[2017-07-14 18:27] zacharysarah commented on #2690
@sylvainlaurent Thanks for opening this issue. I've tagged it for the UI team's investigation.

[2017-07-14 18:29] zacharysarah commented on #2701
@Al-WaySlate It looks like the tutorial is working. Please re-open this issue if you encounter any difficulties.

<img width="950" alt="screen shot 2017-07-14 at 1 28 32 pm" src="https://user-images.githubusercontent.com/3210446/28225466-695ec862-6898-11e7-986a-d95a9bb89f8f.png">

[2017-07-14 18:29] #2701 closed

[2017-07-14 18:33] zacharysarah commented on #2702
@fuho Thanks for opening this issue. Given @ahmetb's response, I'm closing this issue.

Help is also available in the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/).

[2017-07-14 18:33] #2702 closed

[2017-07-14 18:34] zacharysarah commented on #2706
@skytalemcc Thanks for opening this issue. It looks like you're seeking technical support rather than reporting an issue with the docs. I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/).

[2017-07-14 18:34] #2706 closed

[2017-07-14 18:35] zacharysarah commented on #2712
@BenHall Thanks for responding here. Can we safely close this issue?

[2017-07-14 18:51] zacharysarah commented on #2740
@ttripp Thanks for opening this issue. If you look at the reference for [`kubectl create`](https://kubernetes.io/docs/user-guide/kubectl/v1.7/#create), the `-f` flag specifies:

The code samples here for `kubectl create -f` all point to URLs for YAML files. For example:
[code]
Visiting [the URL](https://k8s.io/docs/tasks/configure-pod-container/rq-best-effort.yaml) returns:
[code]

Does that make

[2017-07-14 18:51] #2740 closed

[2017-07-14 18:57] zacharysarah commented on #2753
@qubitrenegade Thanks for opening this issue. I'm tagging it for technical review.

/cc @ahmetb for visibility

[2017-07-14 19:05] zacharysarah commented on #2757
@oxygenpresident Thanks for opening this issue. This looks like a feature request for Kubernetes itself, rather than for the docs. I recommend opening this issue in [kubernetes/kubernetes](https://github.com/kubernetes/kubernetes/issues).

[2017-07-14 19:05] #2757 closed

[2017-07-14 19:11] kkirsche commented on #4374
At least for the API documentation, that's at https://kubernetes.io/docs/api-reference/v1.6/ which I got from https://kubernetes.io/docs/reference/

Not sure about the more generalized documentation

[2017-07-14 19:11] zacharysarah commented on #2758
@ahmetb I'm adding a note here that the change you mentioned:

...is actionable for docs. 👍

@sagarpatil23192 If there's no further update, I recommend closing this issue after @ahmetb's note ☝️ is fixed.

[2017-07-14 19:13] zacharysarah commented on #2759
Verified that the [docs](https://kubernetes.io/docs/tasks/configure-pod-container/communicate-containers-same-pod/) do contain a walkthrough for running multiple containers in a pod. Closing this issue.

[2017-07-14 19:13] #2759 closed

[2017-07-14 19:14] zacharysarah commented on #2795
@zhangxiaoyu-zidif Thanks for opening this issue. I've tagged it for technical review.

[2017-07-14 19:21] zacharysarah commented on #2833
@carschno Thanks for opening this issue. The wrapping for that line is pretty awkward.

I'm tagging this for technical review of the URL.

/cc @BenHall for input on line-wrapping URLs in the tutorial

[2017-07-14 19:23] #2837 closed

[2017-07-14 19:25] zacharysarah commented on #2859
@stephanwesten Thanks for opening this issue.

@ahmetb Any updates here?

[2017-07-14 19:27] zacharysarah commented on #2861
@tomweston Thanks for opening this issue.

@chrislovecnm Do the docs need to be updated, or can we close this issue?

[2017-07-14 19:38] chrislovecnm commented on #2861
@zacharysarah this should be fixed!  Please close, and @tomweston please re-open if you need to!

[2017-07-14 19:56] zacharysarah commented on #2861
@chrislovecnm Thanks!

[2017-07-14 19:56] #2861 closed

[2017-07-14 20:05] tomfotherby commented on #4346
This isn't valid. See #4348 for reason why.

[2017-07-14 20:05] #4346 closed

[2017-07-14 20:06] ahmetb commented on #2753
/assign @jbeda // appreciate if you can review

[2017-07-14 20:08] ahmetb commented on #2859
Looks like someone needs to send a patch fixing out of date statement.

[2017-07-14 21:25] zacharysarah commented on #2896
Bumping for tech review.

[2017-07-14 21:30] zacharysarah commented on #2897
@bytesandwich Thanks for opening this issue. I'm not seeing an API resource for ResourceQuotaScope&mdash;only an entry for [ResourceQuote](https://kubernetes.io/docs/api-reference/v1.7/#resourcequota-v1-core). Can you clarify whether the bug you're seeing still exists? Thanks in advance.

[2017-07-14 21:32] zacharysarah commented on #2907
@huyz Thanks for opening this issue, and for the clarity of your observations. This looks like more of a feature request than a bug report _per se_, so I updated the original description to reflect that. I'm assigning the default priority for docs issues.

[2017-07-14 21:39] #2909 closed

[2017-07-14 21:44] zacharysarah commented on #2908
Bumping for technical review about whether the docs need updates specific to kubeadm.

/cc @caseydavenport 👋

[2017-07-14 21:45] #2921 closed

[2017-07-14 21:46] zacharysarah commented on #2931
@show168 I encourage you to ask your question in the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). As this issue doesn't specifically address a doc bug, I'm closing it.

[2017-07-14 21:46] #2931 closed

[2017-07-14 21:54] zacharysarah commented on #2938
I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/).

[2017-07-14 21:57] caseydavenport commented on #2908
@micmac have you had a chance to try again with a stable version of kubeadm and corresponding add-on?

@zacharysarah I think the kubeadm docs are doing what they are intended to do, which is direct users at a list of appropriate network plugin add-ons (in this case, Calico was chosen).

Perhaps the add-ons page needs to be a table with a column for "Compatible with kubeadm" so users can feel more

[2017-07-14 21:58] zacharysarah commented on #2960
@tedops Thanks for opening this issue.

Noting that the correct path for updating is now `/docs/concepts/overview/working-with-objects/annotations/`.

[2017-07-14 21:59] #2960 closed

[2017-07-14 22:03] zacharysarah commented on #2963
@rriouxr Are you still experiencing this issue?

[2017-07-14 22:06] zacharysarah commented on #2974
This appears to be linking correctly now. Feel free to re-open this if there's any concern. 👍

[2017-07-14 22:06] #2974 closed

[2017-07-15 01:00] mengqiy commented on #4283
I think we can stop maintaining `update-imported-docs.sh`, but write a python version instead after #4354 merged.

[2017-07-15 07:52] BenHall commented on #2712
Thanks @zacharysarah - Yes, please close as we fixed this issue. Sorry for not updating.

[2017-07-15 07:54] BenHall commented on #2833
We're investigating how to improve this. Let me loop back in and see where we're at.

Thanks for the prompt/suggestion.

[2017-07-15 09:52] #2712 closed

[2017-07-16 12:50] romeech commented on #4305
Hello!

I have made several attempts to follow by the link https://katacoda.com/kubernetes-bootcamp <https://katacoda.com/kubernetes-bootcamp> but always failed.
After connection timeout period I always got this error: 'Safari can’t open the page “https://katacoda.com/kubernetes-bootcamp” because the server where this page is located isn’t responding.’.
Looks like that resource also blocks russian

[2017-07-17 15:28] meihui opened #4387 "Issue with k8s.io/docs/tasks/configure-pod-container/configmap/"
**The typo in the example. The first "game-config-2" shall be "game-config"?**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The typo in the example. The first "game-config-2" shall be "game-config"?

I believe the game-config-2 is the name of configuremap in 2nd example.

**Proposed Solution:**

Change the first "game-config-2" shall be "game-config"?
**Page to Update:**
https://kubernete

[2017-07-17 15:30] meihui commented on #4387
kubectl describe configmaps **_game-config_**
Name:           game-config
Namespace:      default
Labels:         <none>
Annotations:    <none>

Data
====
game.properties:        158 bytes
ui.properties:          83 bytes
The game.properties and ui.properties files in the docs/user-guide/configmap/kubectl/ directory are represented in the data section of the ConfigMap.
kubectl get configmaps **_ga

[2017-07-17 17:00] rlguarino opened #4388 "Impossible to link to sections of the reference docs from another webpage"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
Linking an ID in the reference documentation does not work. For example visiting the page: https://kubernetes.io/docs/api-reference/v1.7/#node-v1-core by entering that into your url bar (or clicking on that link) results in:

![2017-07-17-09-54-05_1193x968](https://user-images.githubusercontent.com/1321834/28279612-e1679494-6ad5

[2017-07-17 17:20] ryanmcginnis opened #4389 "Link to English-language page redirects to Chinese-language page"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
This link:

https://kubernetes.io/docs/user-guide/working-with-resources

redirects to this page:

https://kubernetes.io/cn/docs/tutorials/object-management-kubectl/object-management/

The link is found here:

https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/#writing-a-job-spec

**Proposed Soluti

[2017-07-17 18:16] abushoeb opened #4390 "Issue with k8s.io/docs/tasks/administer-cluster/configure-multiple-schedulers/"
**This is a...**

- [ ] Feature Request
- [X ] Bug Report

**Problem:**
In pod specification, we can use schedulerName to define a custom scheduler but when we use this for Deployment it has an error.

**Proposed Solution:**
Can we add spec.schedulerName for Deployment as well?

**Page to Update:**
http://kubernetes.io/...

1.6.4

[2017-07-17 18:23] zacharysarah commented on #2983
@thanhpk 👋 Thanks for opening this issue. I wanted to let you know that the [page](https://kubernetes.io/docs/getting-started-guides/docker-multinode/) you opened an issue for was replaced with [docs for kubeadm](https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/).

If you still need individual help, I encourage you to bring your question to the `#kubernetes-users` channel in [Ku

[2017-07-17 18:24] #2983 closed

[2017-07-17 18:25] #2994 closed

[2017-07-17 18:31] zacharysarah commented on #4390
@abushoeb Thanks for opening this issue. I've flagged it for technical review.

[2017-07-17 18:39] zacharysarah commented on #4367
@saydulk Does this link give you the information you need? If not, please feel free to re-open this issue.

https://kubernetes.io/docs/getting-started-guides/ubuntu/

[2017-07-17 18:39] #4367 closed

[2017-07-17 18:43] zacharysarah commented on #4361
@benhall Just to clarify, should this issue remain open?

[2017-07-17 18:48] BenHall commented on #4361
@zacharysarah Yes, working on this but haven't been able to reproduce yet. Will continue to explore.

[2017-07-17 18:57] zacharysarah commented on #3159
@bostone Thanks for opening this issue. It looks like the underlying issue was resolved, so I'm going to close this issue. Please feel free to re-open it if you notice similar behavior. 👋

[2017-07-17 18:57] #3167 closed

[2017-07-17 19:01] zacharysarah commented on #3170
@anandkolli Thanks for opening this issue. There's enough information to make this actionable for docs, though investigation into [compiling and building k8s](https://kubernetes.io/docs/getting-started-guides/binary_release/) is probably required. 👍

[2017-07-17 19:12] zacharysarah commented on #3173
@php-coder :wave: Thanks for opening this issue. Because support for seccomp remains proposed but not implemented, I'm going to close this issue until it's actionable for docs.

[2017-07-17 19:40] zacharysarah commented on #3186
@ahmetb 👋 Any updates here?

[2017-07-17 19:52] zacharysarah commented on #3197
@ahmetb @madhusudancs 👋 Pinging for updates--it looks like https://github.com/kubernetes/kubernetes/pull/42042 was merged. Is there still a docs impact here, or can we close the issue?

[2017-07-17 19:56] abushoeb commented on #4390
I think we need to use pod template under the spec of Deployment in order to use schedulerName for the custom scheduler. I tried this and it looks like working.

[code]

[2017-07-17 19:58] zacharysarah commented on #3200
@ApsOps Thanks for opening this issue. I'm flagging it for technical review.

[2017-07-17 20:00] ahmetb commented on #3186
The verbs probably come from https://github.com/kubernetes-incubator/reference-docs @liggitt if you want to change, feel free to send a patch there, pwittrock can pick up for the next release. If it's not high priority enough, we can close this.

[2017-07-17 20:13] #3197 closed

[2017-07-17 20:23] saydulk commented on #4367
yes, thanks :)

[2017-07-18 01:08] zacharysarah commented on #2580
@gyliu513 Thanks for clarifying. The `misspellings` command appears to be a [custom shell program](https://github.com/myint/misspellings)--as such, I'm not sure it's viable as a long-term implementation for docs quality at the repo level.

If there are specific typos you'd like to fix, please feel free to open them as separate issues. For now, since there's no specifically actionable doc issue her

[2017-07-18 01:08] #2580 closed

[2017-07-18 01:13] zacharysarah commented on #3202
@haribole Feel free to re-open this issue if you're still encountering difficulty.

[2017-07-18 01:13] #3202 closed

[2017-07-18 01:15] zacharysarah commented on #3224
@ebullient The concept docs could use an overall quality improvement. I'm flagging this for work on that basis. 👍

[2017-07-18 01:17] zacharysarah commented on #3226
@timothysc 👋 Any updates?

[2017-07-18 01:18] #3248 closed

[2017-07-18 01:18] zacharysarah commented on #3249
@kow3ns 👋 Any updates?

[2017-07-18 01:19] #3251 closed

[2017-07-18 01:29] #3262 closed

[2017-07-18 01:29] zacharysarah commented on #3277
@justinsb 👋 Any updates here?

[2017-07-18 01:42] zacharysarah commented on #4352
@ekeoch This sounds like a feature request for Kubernetes itself rather than a feature request for docs. I encourage you to open a separate issue in [kubernetes/kubernetes](https://github.com/kubernetes/kubernetes).

[2017-07-18 01:42] #4352 closed

[2017-07-18 01:43] #4345 closed

[2017-07-18 01:47] zacharysarah commented on #3284
@josiah14 Thanks for opening this issue. I'm flagging it for tech review. 👍

[2017-07-18 01:52] zacharysarah commented on #3317
@rvbsalgado It looks like you're looking for support rather than reporting an issue with the docs. I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/).

[2017-07-18 01:52] #3317 closed

[2017-07-18 04:08] kow3ns commented on #3249
@tianshapjq this tutorial works for me, can you post the manifests you used and the command you used to resolve the address?

[2017-07-18 06:00] #4377 closed

[2017-07-18 08:07] ahmetb commented on #4295
@bobsky seems to be working for me. can you try again?

[2017-07-18 08:20] thatsk opened #4391 "kubeadm init --use-kubernetes-version v1.4.0-beta.11 not working"
Issue with /docs/getting-started-guides/kubeadm/

ON this page the second step is wrong
there is not such parameter

[2017-07-18 09:37] Awdhoot opened #4392 "Issue with /docs/getting-started-guides/docker-multinode/"
After cloning [this](https://github.com/kubernetes/kube-deploy) repo, it does not contain any folder named "docker-multinode" and I am not able to find master.sh script inside the repo.
I am following [this](https://lukemarsden.github.io/docs/getting-started-guides/docker-multinode/) guide.

[2017-07-18 10:17] srinathmatti opened #4393 "Issue with k8s.io/docs/getting-started-guides/openstack-heat/"
There is a wrong link for "correct variables " , please point it to
https://docs.openstack.org/user-guide/common/cli-set-environment-variables-using-openstack-rc.html

[2017-07-18 12:07] nik786 opened #4394 "KUBERNETES DASHBOARD"
I have tried to complete kubernetes clustering program. But I have faced below mentioned error. "User "system:anonymous" cannot proxy services in the namespace "kube-system".: "No policy matched.\nUnknown user \"system:anonymous\""
Im using google cloud. I have used following commands
gcloud auth list
gcloud auth application-default login
gcloud compute zones list
gcloud config set compute/zone us

[2017-07-18 12:08] nik786 commented on #4394
any help??

[2017-07-18 14:06] minivan commented on #4393
Can confirm, [the current link](https://docs.openstack.org/user-guide/common/cli_set_environment_variables_using_openstack_rc.html) is a 404.

[2017-07-18 17:36] minivan commented on #4394
@nik786 This repository is about issues with the Kubernetes documentation, and not the Kubernetes product. We won't be able to fix it here.

You can look through the issues opened in the [kubernetes repository itself](https://github.com/kubernetes/kubernetes/issues) or [search for your error on stackoverflow](https://stackoverflow.com/questions/tagged/kubernetes). You'll be able to get much quicke

[2017-07-18 18:06] zacharysarah opened #4398 "Sample issue 1"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

This is a sample issue for use in a sample repo project.

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-07-18 18:06] zacharysarah opened #4399 "Sample issue 2"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-07-18 18:06] zacharysarah opened #4400 "Sample issue 3"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-07-18 18:06] zacharysarah opened #4401 "Sample issue 4"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-07-18 18:07] zacharysarah opened #4402 "Sample issue 5"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-07-18 21:09] #3986 closed

[2017-07-19 01:31] zacharysarah opened #4403 "New user observations"
**This is an...**

- [ ] Feature Request
- [ ] Bug Report
- [x] Uncategorized issue

## Kubernetes docs - observations from a new user

These observations are about the documentation for Kubernetes, and less about Kubernetes itself.

### In general

- Edit for brevity, clarity, and consistency
- Apply markup conventions consistently
- Define terms before abbreviating them ("Discovery & LB")
- Link

[2017-07-19 01:43] zacharysarah opened #4404 "K8s editor: on my mind, on my plate"
**This is an...**

- [ ] Feature Request
- [ ] Bug Report
- [x] Uncategorized issue

## What's on my plate

### New user observations

Check them out: #4403

### Issue triage

![image](https://user-images.githubusercontent.com/3210446/28346768-9d2f5630-6bf8-11e7-9ee3-1267abb4576e.png)

On July 13, out of 453 [open issues](https://github.com/kubernetes/kubernetes.github.io/issues), 196 were untriag

[2017-07-19 06:30] srinathmatti commented on #4393
Now openstack has changed the documentation tree , I am unable to find the link https://docs.openstack.org/user-guide/common/cli-set-environment-variables-using-openstack-rc.html . It is redirecting to https://docs.openstack.org/user/ . Not sure what is the end link now

[2017-07-19 08:37] alexandreStein commented on #4361
Hi,

Just to keep you inform.
I made a minor kernel update from **4.10.0-26-generic** to **4.10.0-28-generic**.
And I got the same behavior.

But I will reinstall my computer.
On the browser this is the only thing I noticed but my system has other problems.

Long story short, I probably won't be able to track this bug anymore.
It looks like I'm the only affected guy so this is probably not a big i

[2017-07-19 10:31] BenHall commented on #4361
Thanks for the update. It's a problem related to cookies and certain browser settings. We're working on a fix at the moment and should be live by the end of the week.

[2017-07-19 11:30] alexandreStein commented on #4361
So you are able to reproduce the problem?
Great work.

Thanks you for what your are doing.

[2017-07-19 12:56] thatsk commented on #3944
Is there kubernetes are looking into this  issue?

[2017-07-19 14:39] spzala opened #4407 "Some links are broken"
**This is a...**

- [ ] Feature Request
- [x] Bug Report
Bug Report
**Problem:**
It seems like all the relative links to access specific section of a different file is not working. Also many relative links are not working because of incorrect path it references to.

For example, list of few broken links:
https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/concepts/workloads/pods/po

[2017-07-19 14:39] spzala commented on #4407
/assign to myself...WIP.

[2017-07-19 16:31] kkirsche opened #4408 "Issue with k8s.io/docs/concepts/cluster-administration/networking/"
**This is a...**

- [X] Feature Request

**Problem:**
I would appreciate if the page would dictate if when creating a cluster network on top of the physical network using applications such as Flannel, WeaveNet, etc. whether or not the overlay network must be unique / unused IP space or if it can overlap with IP space on the physical network.

For example:
Kubernetes nodes are deployed on 192.168.1

[2017-07-19 19:00] spzala commented on #4407
Closing this after @janetkuo helped to understand that these links are not meant to view from github view page.

[2017-07-19 19:00] #4407 closed

[2017-07-19 22:29] ahmetb opened #4410 "Docs do not explain purpose of serviceAccount.secrets field"
The following documentation do not provide enough information about what the `ServiceAccount.secrets` field is for:

- https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/
- https://kubernetes.io/docs/admin/service-accounts-admin/
- https://kubernetes.io/docs/concepts/configuration/secret/#service-accounts-automatically-create-and-attach-secrets-with-api-credentials

[2017-07-19 22:56] ahmetb commented on #4410
Found a bit of information at https://github.com/kubernetes/kubernetes/blob/04c4c212266f3426fc770580b9d791fcef2531bb/plugin/pkg/admission/serviceaccount/admission.go#L309-L324.

My deductions:
- this field is used by the [ServiceAccount admission controller](https://kubernetes.io/docs/admin/admission-controllers/#serviceaccount)
- If a user is not making use of this admission controller, this fiel

[2017-07-20 01:51] feiskyer commented on #4374
@kkirsche Yep, noticed there is the api-references for different releases, but no other documentations for v1.6.

[2017-07-20 13:39] grossws opened #4416 "kubectl set image fails in minikube when image is present in its docker (hello minikube tutorial)"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**

Tutorial says to update deployment image with `kubectl set image` but it fails:
[code]

Original deployment was created as tutorial said by `kubectl run hello-node --image=hello-node:v1 --port=8080` and it has `imagePullPolicy` == `IfNotPresent` but still tries to pull locally available image.

**Proposed Solution:**

N/A yet,

[2017-07-20 13:46] grossws commented on #4416
Also `kubectl edit deployment/hello-node` or deployment yaml edit via dashboard updates image flawlessly.

[2017-07-20 15:41] ildella commented on #4126
This happens also on Ubuntu 17.04.
I've installed lxd snap, @drpaneas  any tip on how to start it as a workaround for this bug?
Thanks.

[2017-07-20 17:51] php-coder commented on #4389
Yeah, it's confusing. Why it's P3? How hard to fix it? How I can help?

[2017-07-20 17:56] chenopis commented on #4389
I know what the problem is and will submit a PR shortly. None of the pages in the /cn directory should have the `redirect_from` directive at the top of the page. For example, currently, /cn/docs/tutorials/object-management-kubectl/object-management.md has this set at the top of the page:

[code]

[2017-07-20 18:01] php-coder commented on #4389
@chenopis Wow! Thank you!!

[2017-07-20 18:35] chenopis commented on #4389
Ok, nothing should be redirected to the /cn pages anymore. Cheers

[2017-07-20 18:35] #4389 closed

[2017-07-20 18:36] grossws commented on #4416
It doesn't reproduce in `kubeadm`-bootstrapped environment on centos7 (w/ calico network) and same commands as for `minikube`, so, I'll create an issue against `kubernetes/minikube`

[2017-07-20 18:36] #4416 closed

[2017-07-20 18:53] dimthe commented on #3894
is there an update on this ?

[2017-07-20 22:16] jbeda commented on #2942
There are other updates in progress and most of the network plugins have been updated at this point.  Closing this.

[2017-07-20 22:16] #2942 closed

[2017-07-21 04:52] keithlee96 commented on #2325
I still have the same issue. The only difference is that I did not have to set any flags to get the second error message.
$ kubectl create -f ./cronjob.yaml
error: unable to recognize "./cronjob.yaml": no matches for /, Kind=ScheduledJob

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.1", GitCommit:"1dc5c66f5dd61da08412a74221ecc79208c2165b", GitTreeState:"cle

[2017-07-21 05:57] SuryaPractise opened #4432 "Facing issue to setup kubernetes on CentOS 7.3(Master) and Ubuntu 16.04(Nodes)"
Hi Team,

Is kubernetes compatable with CentOS 7.3 version?

I am trying to setup Kubernetes master with Centos7.3 and nodes with ubuntu 16.04.
Please let me know is OS versions causing issues in my case?if yes let me know which OS version can be used to bring setup up as mentioned in guide.
I followed instruction as mentioned in guide https://kubernetes.io/docs/getting-started-guides/centos/cento

[2017-07-21 08:28] April-Q opened #4434 "Issue with k8s.io/docs/tutorials/configuration/configure-redis-using-configmap/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-07-21 08:35] qiujian16 commented on #3894
If no one is working on it, I will provide a doc.

[2017-07-21 16:19] ticstoad opened #4438 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-interactive/"
**This is an issue with the interactive tutorial for kubernetes**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
Interactive tutorial system for kubernetes encounters errors even with a refreshed page

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-07-21 16:52] deads2k commented on #4410
A service account can be used to provide a level of indirection when a system actor is performing an action on a user's behalf.  For instance, when a user creates an RC, the pod that finally gets created is created by the RC controller identity, not the user's identity.  If you want to be able to restrict things like PSP permissions, those permissions must be attached the SA, not the user, since t

[2017-07-21 16:55] liggitt commented on #4410
The admission plugin uses the references in that field to determine which service account token secret to automount into pods.

[2017-07-21 18:21] ahmetb commented on #4410
@deads2k I guess your comment is a conceptual overview of service accounts (which is really helpful and I'm not sure if we explain it like this). But it doesn't explain what "secrets" field does, we lack that part of the documentation

@liggitt it seems like the token (which I suppose is `.secrets[0]`) is the only one that is auto-mounted. The rest of `.secrets` field is not auto-mounted at all (n

[2017-07-21 19:49] zacharysarah commented on #3590
This looks more like a request for individual support and less of an issue with the docs per se. @moveax3, I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/).

[2017-07-21 19:49] #3590 closed

[2017-07-21 19:50] zacharysarah commented on #3773
@jseldess @ahmetb 👋 Any updates here?

[2017-07-21 19:53] BenHall commented on #4438
Thanks for your bug report. Could you please let me know the error message displayed?

[2017-07-21 20:04] zacharysarah commented on #3832
There are some offhanded mentions of Ingress in samples, but they're likely to be more confusing than not. Agreed: more/better docs needed.

[2017-07-21 20:20] #3841 closed

[2017-07-21 20:22] zacharysarah commented on #3844
@chenopis 👋 Can you offer any perspective here?

[2017-07-21 20:24] zacharysarah commented on #3846
@gamename Feel free to re-open this issue if you have any further questions.

[2017-07-21 20:24] #3846 closed

[2017-07-21 20:31] zacharysarah commented on #3868
/cc @BenHall 👋

[2017-07-21 20:31] zacharysarah commented on #3868
/assign @BenHall 👋

[2017-07-21 20:54] #3929 closed

[2017-07-21 20:55] zacharysarah commented on #3934
@danwinship Does #4003 adequately address this issue? Can we close it?

[2017-07-21 20:56] zacharysarah commented on #3942
@mikedanese Please feel free to re-open this issue if it represents work in progress

[2017-07-21 20:56] #3942 closed

[2017-07-21 21:03] zacharysarah commented on #3921
@scribnar :wave: I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/).

[2017-07-21 21:04] zacharysarah commented on #3921
@scribnar Were you able to find a workaround?

[2017-07-21 21:09] zacharysarah commented on #4021
@ankitpateledu This looks less like an issue with docs and more like a request for support. I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). Please feel free to re-open this issue if there's a specific docs change you'd like to address here.

[2017-07-21 21:09] #4021 closed

[2017-07-21 21:11] zacharysarah commented on #4015
@TerraTech Thanks for opening this issue. Agreed, the third rail tends to hinder more than it helps.

/ref #4403, API reference

[2017-07-21 21:13] zacharysarah commented on #4011
@aronchick Can you provide a specific page URL for the broken instructions?

[2017-07-21 21:17] zacharysarah commented on #4004
@techtonik 👋 Thanks for opening this issue. Because #4001 was closed without any visible changes, the result is that this issue duplicates #734. On the basis of duplication, I'm closing this issue. If you encounter any other broken links, please feel free to open an issue that lists them specifically.

[2017-07-21 21:17] #4004 closed

[2017-07-21 21:19] zacharysarah commented on #3991
Closing due to #4098 merging. 🎉

[2017-07-21 21:19] #3991 closed

[2017-07-21 21:19] zacharysarah commented on #3990
@erictune @jbeda 👋 Any updates here?

[2017-07-21 21:20] #3978 closed

[2017-07-21 22:50] ryanmcginnis opened #4440 "Issue with k8s.io/docs/tasks/access-application-cluster/service-access-application-cluster/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
- Step 7 should include instructions for GKE
- Step 8 should explain how to set up a firewall rule (bias: ideally on GKE) — this is the very first time it's mentioned in the instructions but it isn't clear how to do that

**Proposed Solution:**
See above

**Page to Update:**
https://kubernetes.io/docs/tasks/access-application-c

[2017-07-22 16:05] bboreham commented on #3844
The change was reverted, and things have moved on since.  This should have been closed by #3849

[2017-07-22 16:05] #3844 closed

[2017-07-23 06:30] zacharysarah commented on #4041
@levivic 👋 This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/).

[2017-07-23 06:30] #4041 closed

[2017-07-23 06:35] zacharysarah commented on #4061
There's a bug with the code sample, too: `.jsonl`

[2017-07-23 06:36] zacharysarah commented on #4065
@ht512512 Are you still experiencing this issue?

I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/).

[2017-07-23 06:48] zacharysarah commented on #4102
@tengqm 👋 Thanks for opening this issue. There's a deprecation notice on the page for 1.7.

[2017-07-23 06:48] #4102 closed

[2017-07-23 06:49] zacharysarah commented on #4103
@lbudai74 Are you still experiencing this? If so, please feel free to reopen this issue. Also, I encourage you to bring your experience to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/).

[2017-07-23 06:49] #4103 closed

[2017-07-23 21:05] #4107 closed

[2017-07-23 21:08] zacharysarah commented on #4124
@prabhakm :wave: This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/).

[2017-07-23 21:08] #4124 closed

[2017-07-23 21:13] zacharysarah commented on #4153
I'm flagging this for `Docs Review: Open Issues`&mdash; this seems like an opportunity/test case to review how we organize content under subheadings across the site.

[2017-07-23 21:14] zacharysarah commented on #4166
@narunask 👋 This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/).

[2017-07-23 21:14] #4166 closed

[2017-07-23 21:45] #4175 closed

[2017-07-23 21:46] zacharysarah commented on #4176
@r4j4h The article currently appears without difficulty.

[2017-07-23 21:50] zacharysarah commented on #4218
Closing because #4219 merged. 🎉

[2017-07-23 21:50] #4218 closed

[2017-07-23 21:52] zacharysarah commented on #4221
This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/).

[2017-07-23 21:52] #4221 closed

[2017-07-23 21:53] zacharysarah commented on #4222
@talkdirty This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/).

[2017-07-23 21:53] #4222 closed

[2017-07-23 21:55] zacharysarah commented on #4234
Closing because #4235 merged. 🎉

[2017-07-23 21:55] #4234 closed

[2017-07-23 22:08] zacharysarah commented on #4309
This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/).

[2017-07-23 22:08] #4309 closed

[2017-07-23 22:11] zacharysarah commented on #4334
@BenHall 👋

[2017-07-23 22:12] BenHall commented on #4334
Thanks @zacharysarah and @bensonz

This is on my TODO list, hoping to complete it this week as it's going to require changes to the main Kubernetes.io site.

[2017-07-23 23:23] BenHall commented on #4361
I believe we've deployed a fix to resolve this. If you get a moment, could you please retest @alexandreStein ?

Thank you

[2017-07-23 23:25] BenHall commented on #4438
I believe we've deployed a fix for this. Could you please retest? Thank you.

[2017-07-23 23:26] BenHall commented on #4358
I believe we've released a fix for this. Could you please retest @dimamciz ? It would be great to know if it solved your problem.

[2017-07-23 23:27] luck02 opened #4445 "Issue with k8s.io/docs/admin/admission-controllers/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

There's no documentation on how to actually submit a request to enable / disable admission controllers.  I want to experiment with podpresets and this is a necessary step.  The documentation gives me an example but doesn't preface it with a method to run the example.

**Proposed Solution:**
Enhance the example with a sample me

[2017-07-24 05:52] pgnaleen opened #4448 "random getting this error The connection to the server .... was refused - did you specify the right host or port?"
install kubectl and others using kubeam

**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
you just need to run any kubectl command. getting above error. but sometimes it is working.

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-07-24 06:10] pgnaleen commented on #4448
I think my probelm is api-server restarting always. i don't know why.

[2017-07-24 06:11] pgnaleen commented on #4448
what i did is adding following two lines to api-server start is there anything to do with these two lines.

 - --anonymous-auth=false
    - --basic-auth-file=/etc/kubernetes/manifests/pausr.csv

i am used kubeam to install kubectl and others

[2017-07-24 06:22] pgnaleen commented on #4448
api server log attached.

{"log":"I0724 06:16:41.113509       1 server.go:112] Version: v1.7.1\n","stream":"stderr","time":"2017-07-24T06:16:41.114119136Z"}
{"log":"W0724 06:16:41.634593       1 genericapiserver.go:325] Skipping API autoscaling/v2alpha1 because it has no resources.\n","stream":"stderr","time":"2017-07-24T06:16:41.6353909Z"}
{"log":"W0724 06:16:41.637744       1 genericapiserver.go

[2017-07-24 06:44] pgnaleen commented on #4448
further i found that problem caused by following line to api-server start.

- --basic-auth-file=/etc/kubernetes/manifests/pausr.csv

inside that file i added following details.

nalin,nalin,nalin

[2017-07-24 06:44] pgnaleen commented on #4448
is anything wrong with those entries.

[2017-07-24 08:44] YouriT opened #4449 "Issue with k8s.io/docs/tasks/debug-application-cluster/logging-stackdriver/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
[debug-application-cluster/logging-stackdriver](https://kubernetes.io/docs/tasks/debug-application-cluster/logging-stackdriver/#changing-fluentd-parameters) states the following:

**Proposed Solution:**
Command should be:

**Page to Update:**
https://kubernetes.io/docs/tasks/debug-application-cluster/logging-stackdriver/#changi

[2017-07-24 09:36] raushansingh629 opened #4451 "Issue with k8s.io/docs/getting-started-guides/ubuntu/manual/"
I am trying to setup kubernetes cluster on ubuntu by following "kubernetes manual deployment on ubuntu".
I clone the project "git clone --depth 1 https://github.com/kubernetes/kubernetes.git" but it doesn't contain ubuntu folder (As per documentation it should be located in kubernetes/cluster/ubuntu/config-default.sh.)
what should I do ?

[2017-07-24 10:40] gce-2017 opened #4452 "Issue with k8s.io/docs/concepts/storage/persistent-volumes/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
The documentation is unclear for specific use cases and there is no tutorial-style documentation, with context and step by step explanations.

**Proposed Solution:**
Create comprehensive instructions from beginning to end for those using a specific products (e.g. GCE). Do smaller sections rather than one long page. Take more fr

[2017-07-24 12:40] crassirostris commented on #4449
@YouriT Thanks for noticing! I'll fix it shortly

[2017-07-24 12:41] crassirostris commented on #4449
/assign

[2017-07-24 13:03] lizrice opened #4454 "Issue with k8s.io/docs/getting-started-guides/rkt/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
Kubernetes itself is a prerequisite to running Kubernetes with rkt, but it's missing from the page. While it might seem kind of obvious that it's needed, it's very confusing when you come to this page thinking it will tell you how to set up k8s & rkt from scratch.

**Proposed Solution:**
Add a link in the Prequisites to whateve

[2017-07-24 14:08] Bradamant3 commented on #4357
Looking for small fixes as a better entry point to the community -- I'll take this one

[2017-07-24 15:24] tmjd opened #4456 "Issue with k8s.io/docs/tasks/administer-cluster/declare-network-policy/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The "Network Policy API" link (https://kubernetes.io/docs/user-guide/network-policies) on the page https://kubernetes.io/docs/tasks/administer-cluster/declare-network-policy/
 leads to a 404.

**Proposed Solution:**
Link to either one or both of https://kubernetes.io/docs/concepts/services-networking/network-policies/ or https:

[2017-07-24 15:39] alexandreStein commented on #4361
Yes it's working.
I changed kernel and OS last week and it was behaving the same way.

I just tried with Chromium on Arch and it looks to be working as expected.

Thank you, feel free to close the issue.

[2017-07-24 16:09] #4361 closed

[2017-07-24 16:14] YouriT commented on #4449
that was quick thanks :)

[2017-07-24 16:22] strowi opened #4457 "Issue with podSecurityPolicy documentation"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
As requested in #4423 .
Documentation regarding PSPs is unclear / outdated.

Considering the following PSP-example (modified from [kubernetes-examples](https://github.com/kubernetes/kubernetes/tree/master/examples/podsecuritypolicy/rbac)), the users are restricted in creating pods directly.
But a *restricted user* is able to de

[2017-07-24 16:35] liggitt commented on #4457
the pods from an rc/rs/daemonset/etc are created by controller loops run by the controller manager.

to correctly apply PodSecurityPolicy permissions, the controller manager should:
* run against the secured port
* run with `--use-service-account-credentials`

the service accounts used to run the control loops should not be granted any PSP permissions you do not want accessible to all users.

[2017-07-24 16:35] liggitt commented on #4457
* what authorization modes did you start your apiserver with?
* what arguments did you start your controller manager with?

[2017-07-24 16:38] strowi commented on #4457
api-server:
[code]
controller-manager:
[code]

[2017-07-24 16:42] liggitt commented on #4457
I don't see a `--kubeconfig` or `--master` option given to the kube-controller-manager... what credential is it using to connect to the API?

[2017-07-24 16:55] strowi commented on #4457
sorry, forgot to mention this is run in-cluster/bootkube

[2017-07-24 16:57] liggitt commented on #4457
I'm unfamiliar with how bootkube manages API connections for kube-controller-manager... does it run as a superuser?

[2017-07-24 16:57] jaredbhatti opened #4458 "Better callouts for notes, warnings, and cautions"
- [x] Feature Request
- [ ] Bug Report

**Problem:**
Pages that contain critical users warnings aren't effectively called out.

**Proposed Solution:**
Create CSS to better call out important warnings, cautions, and notes for developers using Kubernetes.  I attached some example screenshots of how other sites call these out.
![screen shot 2017-07-24 at 9 56 26 am](https://user-images.githubusercont

[2017-07-24 16:59] strowi commented on #4457
you mean the securitycontext?
[code]
        runAsUser: 65534

[2017-07-24 17:00] liggitt commented on #4457
when the controller manager makes API calls, what address and credentials does it use? the standard kube-controller-manager uses credentials specified in a `--kubeconfig` flag, but your manifest doesn't specify that.

[2017-07-24 17:03] strowi commented on #4457
Aahhh since the apiserver is using a kubeconfig from a volume, i was thinking kube-controller would do the same thing... but now that you mention it.. i'll have to recheck.

[2017-07-24 17:19] liggitt commented on #4457
I think this should move to bootkube, since it is building a non-standard kube-controller-manager

Using a stock kube-controller-manager, against the secured port, with `--use-service-account-credentials`, a replicaset or daemonset attempting to create privileged pods fails if PSP permissions have not been added to the pod's service account

[2017-07-24 17:19] #4457 closed

[2017-07-24 17:46] aaronlevy commented on #4457
FWIW bootkube uses a standard kube-controller-manager. It is just being run as a pod so it uses whatever service account is injected into that pod (unless otherwise configured, the default service account for the kube-system namespace). Will follow up in the issue opened in bootkube as well.

[2017-07-24 17:53] ht512512 commented on #4065
@zacharysarah
Thanks.  I went with Kops approach and everything is fine now. Closing this.

[2017-07-24 17:53] #4065 closed

[2017-07-24 18:07] zacharysarah commented on #4391
@thatsk Thanks for opening this issue. A couple of things:

1. The second step in the instructions specifies the following command:

[code]

Can you point to where you're getting the rest of the command syntax? Specifically:

[code]

2. This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the `#kubernetes-users` c

[2017-07-24 18:18] zacharysarah commented on #4392
@Awdhoot Thanks for opening this issue. It looks like the contents of [kubernetes/kube-deploy](https://github.com/kubernetes/kube-deploy) have changed and the docs are stale.

@jaredbhatti 👋 Do you know who the maintainer of kube-deploy is? It would be good to get their input here.

For docs: this issue looks like it will require some investigation, but it still looks actionable.

[2017-07-24 18:21] zacharysarah commented on #4394
This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/).

[2017-07-24 18:21] #4394 closed

[2017-07-24 18:25] zacharysarah commented on #4410
@ahmetb :wave: Do you think there's enough information here to be actionable for docs contributors?

[2017-07-24 18:27] ahmetb commented on #4410
@zacharysarah Not sure if docs contributors would be able to provide the required content. So I'm looking at folks above to provide authoritative information, and preferably a PR. 😉

[2017-07-24 18:29] zacharysarah commented on #4432
@SuryaPractise :wave: The guide you linked to has a deprecation warning at the top and links to an [updated guide](https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/):

If you still encounter difficulty, I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/).

[2017-07-24 18:29] #4432 closed

[2017-07-24 18:29] #4434 closed

[2017-07-24 18:30] zacharysarah commented on #4438
@ticstoad :wave: The tutorial currently loads correctly. Please feel free to reopen this issue if you continue to experience difficulty.

[2017-07-24 18:30] #4438 closed

[2017-07-24 18:32] zacharysarah commented on #4440
@ryanmcginnis 👋 Thanks for opening this issue. I agree that links to outside resources (GKE, firewall rules) would be helpful.

[2017-07-24 18:37] zacharysarah commented on #4448
@pgnaleen :wave: This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

[2017-07-24 18:37] #4448 closed

[2017-07-24 18:38] zacharysarah commented on #4451
@raushansingh629 :wave: This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

[2017-07-24 18:38] #4451 closed

[2017-07-24 21:53] ryanmcginnis opened #4460 ""Load-Balanced Access to an Application" task seems to contradict other tasks/tutorials"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
This task has the user expose the ReplicaSet that is created when its parent Deployment controller is created, rather than exposing the Deployment itself. In other tasks and tutorials, the Deployment is exposed. In following this task, you can expose the Deployment and appear to get the same result.

While the procedure "works"

[2017-07-24 22:50] jaredbhatti commented on #4458
Cody is on this :)
Make a PR for callouts for Notes, Info, Caution, Warnings

[2017-07-24 23:35] ahmetb commented on #4458
An easy way to achieve this from might be emojis + markdown quotes. Here's an example:

or

I'm not sure how easily we can achieve the described task from scratch. Two solutions I can think of:

- Author these boxes in HTML (e.g. `<blockquote class="warning">...`) because Markdown doesn't let us customize paragraphs. This means inside the boxes, you have to use HTML and not Markdown. Little annoya

[2017-07-25 00:56] ryanmcginnis commented on #3863
+1. This is a confusing experience unless you already happen to know how Deployments work. What's worst is that we call this out as a seemingly "current" feature in places like the interactive tutorials (bad). It seems to me that this feature is mostly deprecated.

[2017-07-25 00:58] Bradamant3 commented on #4393
July 21: https://docs.openstack.org/user/ now also produces a 404, with a notice about major reorg of the openstack docs site. Hard to tell how long it will go on (I've been seeing its effects for a while now). Spent a while on the site, trying both search and the current navigation. No luck.

[2017-07-25 05:12] payon opened #4465 "Issue with k8s.io/docs/setup/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-07-25 06:59] thatsk commented on #4391
ok

[2017-07-25 16:26] cody-clark commented on #4458
Thanks for the research, @ahmetb! I was wondering if it would be possible to implement something like [Attribute Lists](https://pythonhosted.org/Markdown/extensions/attr_list.html) from Python Markdown or [Span Inline Attribute Lists](https://kramdown.gettalong.org/syntax.html#span-ials) from Kramdown.

It'd be convenient to just define a class {: .notice} or {: .warning}, but I like that Tom's pl

[2017-07-25 16:48] bo0m3r31337 opened #4473 "Issue with k8s.io/docs/tasks/run-application/run-replicated-stateful-application/"
**This is a...**

- [ ] Feature Request
- [ x ] Bug Report

**Problem:**

This tutorial doesn't work.  I literally copied the StatefulSet.yaml almost character for character.  When I say almost I changed a few lines in the Statefulset.yaml file because I am only provisioned a certain amount of CPU and Memory in my namespace.  Also in my volume claim template I had to change volume.alpha to volume.

[2017-07-25 17:04] Bradamant3 commented on #4456
I'd like to say here what a great pleasure it is to work with a reporter who does all the legwork for the writer. Thank you @tmjd ! (Note also that the concept topic includes a link to the API reference topic -- so the concept topic link is the solution in the PR)

[2017-07-25 17:06] ahmetb commented on #4458
Implementing something like those plugins for this problem sounds a bit overkill.

I'm imagining some form of `template` and `include` can get us a decent solution. e.g.

    {% include warning.html content="This is my sample note." %}

This makes it difficult putting multi-line or formatted content into the block (I assume it wouldn't accept markdown in "content" variable and would require HTML),

[2017-07-25 17:14] tmjd commented on #4456
:+1: I'm glad to help. I had thought about putting up a PR but didn't know if there was a more appropriate link so I thought this was the best course of action.

[2017-07-25 19:59] cody-clark opened #4474 "Update update-imported-tutorials.py to export manifests"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**
`update-imported-tutorials.py` currently only exports tutorials. We now use  {% include %} for `.yaml` files instead of leaving them in the docs, so some files aren't making it to the docs repo.

**Proposed Solution:**
Please update `update-imported-tutorials.py` to export manifests, too.

**Page to Update:**
kubernetes.github.i

[2017-07-25 23:46] steveperry-53 opened #4476 "Update Federation Docs"
The following topics can probably be consolidated or blended into existing topics. Each topic says something like, "Federated  &lt;thing&gt; is the same as regular &lt;thing&gt; except you submit requests to the Federation API server instead of the API server for an individual cluster."
- [ ] Federated ConfigMap
- [ ] Federated DaemonSet
- [ ] Federated Deployment
- [ ] Federated Events
- [ ] Fede

[2017-07-26 00:07] steveperry-53 opened #4478 "Update docs for Ingress and other types of external access"
**This is a...**
- [ x] Feature Request
- [ ] Bug Report

Study [this Concept topic](https://kubernetes.io/docs/concepts/services-networking/ingress/), and understand what's going on with Ingress. Understand the difference between an Ingress and a Service of type LoadBalancer. Create one or more Task topics about Ingress, and remove task-like content from [this Concept topic](https://kubernetes.io

[2017-07-26 00:11] steveperry-53 opened #4479 "Update etcd docs"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

Study this topic and related topics: [Operating etcd clusters for Kubernetes](https://kubernetes.io/docs/tasks/administer-cluster/configure-upgrade-etcd/).
Bring all of the etcd content into a coherent set of topics. Check for accuracy, and update as needed. Put topics into the appropriate templates. Edit topics to comply with our style guid

[2017-07-26 00:15] steveperry-53 opened #4480 "Update Networking docs"
**This is a...**
- [x ] Feature Request
- [ ] Bug Report

Study this topic and related topics: [Cluster Networking](https://kubernetes.io/docs/concepts/cluster-administration/networking/).
Bring all of the networking content into a coherent set of topics. Check for accuracy, and update as needed. Put topics into the appropriate [templates](https://kubernetes.io/docs/home/contribute/page-templates/

[2017-07-26 05:49] SuryaPractise opened #4482 "Issue with k8s.io/docs/setup/independent/create-cluster-kubeadm/"
Hi Team,

| I tried to setup master and nodes on centos using updated docs as in the below link...

kubernetes.io/docs/setup/independent/create-cluster-k‌​ubeadm

i am facing Transaction check error when i try to install  kubeadm.Transaction check error:   file /usr/bin/kubectl from install of  kubectl-1.7.1-0.x86_64 conflicts with file from package  kubernetes-client-1.5.2-0.7.git269f928.el7.x86_

[2017-07-26 05:55] SuryaPractise commented on #4482
[root@localhost etc]# yum install -y kubelet kubeadm
Loaded plugins: fastestmirror, langpacks
base                                                                                                                                                                                                                  | 3.6 kB  00:00:00
docker-ce-stable

[2017-07-26 16:32] steveperry-53 opened #4487 "Update Resource Management Docs"
**This is a...**
- [ x] Feature Request
- [ ] Bug Report

Update, and possibly consolidate, the docs for managing memory and cpu resources.

Task topics for app developers
    Configure memory resources for Pods
    Configure CPU resources for Pods
    Configure QoS for Pods
Task topics for cluster administrators
    Configure default memory resources for a namespace
    Configure default cpu reso

[2017-07-26 16:34] steveperry-53 commented on #4487
https://github.com/kubernetes/kubernetes.github.io/pull/4158

[2017-07-26 16:39] steveperry-53 opened #4489 "Update Networking Docs"
**This is a...**
- [ x] Feature Request
- [ ] Bug Report

Study this topic and related topics: [Cluster Networking](https://kubernetes.io/docs/concepts/cluster-administration/networking/).
Bring all of the networking content into a coherent set of topics. Check for accuracy, and update as needed. Put topics into the appropriate templates. Edit topics to comply with our style guide.
Here's one rela

[2017-07-26 16:40] steveperry-53 commented on #4489
Duplicate

[2017-07-26 16:40] #4489 closed

[2017-07-26 18:03] steveperry-53 opened #4491 "Update Secrets Documentation"
**This is a...**
- [ x] Feature Request
- [ ] Bug Report

Study this Concept topic: [Secrets](https://kubernetes.io/docs/concepts/configuration/secret/). Much of the content is task-like. See how much of the task-like material is already covered in existing Task topics. For task-like content that is not already covered, create new Task topics, and remove the task-like content from  [Secrets](https

[2017-07-26 18:07] steveperry-53 opened #4492 "Update Docs on Security Context and Policy"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

Look at the overall body of topics related to security context and policy. Do we have the right set of topics? Have we covered all the important points?. Is there overlap that could be reduced? Here are some of the existing topics:
[Pod Security Policies](https://kubernetes.io/docs/concepts/policy/pod-security-policy/)
[Securing a Cluster](h

[2017-07-26 18:11] steveperry-53 opened #4493 "Update Autoscaling Docs"
**This is a...**
- [x ] Feature Request
- [ ] Bug Report

Study the different kinds of autoscaling in Kubernetes: Pod, Cluster, DNS Service, other? Do we have the right topics? Are they positioned correctly in the table of contents? Should topics on the different kinds of autoscaling be isolated from each other, or should the be part of a coherent set? Put all autoscaling topics into the appropria

[2017-07-26 18:14] steveperry-53 opened #4494 "Write Task topics for Opaque Integer Resources"
**This is a...**
- [ x] Feature Request
- [ ] Bug Report

Create a new topic for app developers: Assign Opaque Integer Resources to a Container
Create a new topic for cluster admins: Advertise Opaque Integer Resources for a Node

[2017-07-26 18:15] steveperry-53 commented on #4494
https://github.com/kubernetes/kubernetes.github.io/pull/4363

[2017-07-26 18:16] steveperry-53 opened #4495 "Update Firewall Topics"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

Take a look at this topic: [Configure Your Cloud Provider's Firewall Rules](https://kubernetes.io/docs/tasks/access-application-cluster/configure-cloud-provider-firewall/). Does it belong in the kubernetes.io docs, or should it be in the Google Cloud docs? If you decide to keep it in the kubernetes.io docs, apply the Task template, and edit

[2017-07-26 18:20] steveperry-53 opened #4496 "Update kubeconfig docs"
**This is a...**
- [x ] Feature Request
- [ ] Bug Report

Study this topic: [Authenticate Across  Clusters with kubeconfig](https://kubernetes.io/docs/tasks/access-application-cluster/authenticate-across-clusters-kubeconfig/). Is this really a Task page? Does the title reflect the content, or is the content more general than the title? Could some of this content be put in a Concept topic? Could we

[2017-07-26 18:20] steveperry-53 commented on #4496
PR 4439

[2017-07-26 18:24] steveperry-53 opened #4497 "Update Docs for Managing API Resources"
**This is a...**
- [ x] Feature Request
- [ ] Bug Report

Study this topic: [Managing Resources](https://kubernetes.io/docs/concepts/cluster-administration/manage-deployment/). Separate the conceptual content from the task-like content. Maybe there is no conceptual content here; maybe it should all be converted to a set of Task topics. Create several Task topics to cover the techniques demonstrate

[2017-07-26 18:26] steveperry-53 opened #4498 "Remove Configuration Best Practices Topic"
**This is a...**
- [x ] Feature Request
- [ ] Bug Report

Study this topic: [Configuration Best Practices](https://kubernetes.io/docs/concepts/configuration/overview/). Verify that the content in this topic is covered elsewhere, and then delete this topic. If you find content that is not covered elsewhere, put that content into one or more existing topics.

[2017-07-26 18:29] steveperry-53 opened #4499 "Update Jobs Docs"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

Study this Concept topic: [Jobs - Run to Completion](https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/). Much of the content is not conceptual; it is task-like. Move the task-like content into one or more new Task topics. Before you create a new Task topic, verify that the content does not already appear in a

[2017-07-26 18:31] steveperry-53 opened #4500 "Update Cron Jobs Docs"
Study this topic: [CronJobs](https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/).

Much of the content is not conceptual; it is task-like. Move the task-like content into one or more new Task topics. Before you create a new Task topic, verify that the content does not already appear in an existing Task topic. For the original topic and any new Task topics, use the appropriate tem

[2017-07-26 18:33] steveperry-53 opened #4501 "Update Docs for Container Lifecycle Hooks"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

Study this Concept topic: [Container Lifecycle Hooks](https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/).
See how much of this content is covered by existing Task topics. If possible, delete this Concept topic. This might require adding a bit more material to existing Task topics.

[2017-07-26 18:35] steveperry-53 opened #4502 "Update Images Docs"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

Study this topic: [Images](https://kubernetes.io/docs/concepts/containers/images/). Either delete this topic or prune it. Much of the content here is specific to cloud providers, and should be covered in the various cloud provider docs.

[2017-07-26 18:36] steveperry-53 opened #4503 "Update Volumes Docs"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

Study this topic: [Volumes](https://kubernetes.io/docs/concepts/storage/volumes/). See whether some of this content could be removed from the Kubernetes docs, and instead be covered by various cloud provider docs. For the content that remains in this topic, apply the [Concept template](https://kubernetes.io/docs/home/contribute/page-templat

[2017-07-26 18:39] steveperry-53 opened #4504 "Update Cluster Management Docs"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

Either delete or prune this topic: [Cluster Management](https://kubernetes.io/docs/tasks/administer-cluster/cluster-management/). Much of the content is specific to cloud providers and does not belong in the Kubernetes docs. It might be that the rest of the content is covered by existing Task topics, or could be covered with a couple new Ta

[2017-07-26 18:41] steveperry-53 opened #4505 "Update Sysctls Docs"
**This is a...**

- [ x] Feature Request
- [ ] Bug Report

Study this Concept topic: [Using Sysctls in a Kubernetes Cluster](https://kubernetes.io/docs/concepts/cluster-administration/sysctl-cluster/). Consider moving some of this content to a Task topic. For this topic and possibly a new Task topic, use the appropriate template: Concept or Task. Edit the content to comply with our style guide. Te

[2017-07-26 18:44] steveperry-53 opened #4506 "Update Namespaces Docs"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

For this topic: [Share a Cluster with Namespaces](https://kubernetes.io/docs/tasks/administer-cluster/namespaces/):

* Put the content into the [Task template](https://kubernetes.io/docs/home/contribute/page-templates/#task_template).
* Edit the text so that is complies with the [style guide](https://kubernetes.io/docs/home/contribute/style

[2017-07-26 19:08] steveperry-53 opened #4507 "Topics to Edit and Apply Template"
**This is a...**

- [ x] Feature Request
- [ ] Bug Report

For each of the topics below:
* If the topic is not already in one of the [templates](https://kubernetes.io/docs/home/contribute/page-templates/), apply the Task, Tutorial, or Concept template.
* Edit the topic to comply with the [style guide](https://kubernetes.io/docs/home/contribute/style-guide/).
* Check for accuracy.

[Pod Overview](h

[2017-07-26 19:31] Bradamant3 commented on #4290
Note that I added the request info not to the suggested topic, but to a topic that's linked from there: https://kubernetes.io/docs/concepts/configuration/overview/#container-images

Rationale: The Images topic content is mostly about pulling from a private registry. The topic I put the info in contains more relevant detail about image tags, not using :latest, etc. Can move added content if deemed

[2017-07-26 19:39] ahmetb commented on #4290
@Bradamant3 do you mind linking the PR? I can't seem to find the change.

[2017-07-26 20:22] steveperry-53 opened #4509 "Update ConfigMap Docs"
**This is a...**

- [x ] Feature Request
- [ ] Bug Report

Take a look these two topics to see whether they are redundant. If so, combine into one topic. If you decide that we need two topics, prune the content so that information is not repeated.
* [Configure Containers Using a ConfigMap](https://kubernetes.io/docs/tasks/configure-pod-container/configmap/)
* [Use ConfigMap Data in Pods](https://k

[2017-07-26 20:25] steveperry-53 opened #4510 "Update Garbage Collection Docs"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

Take a look at these two topics:
* [Configuring kubelet Garbage Collection](https://kubernetes.io/docs/concepts/cluster-administration/kubelet-garbage-collection/)
* [Garbage Collection]( https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/)

Are they redundant?
Do they belong under Concepts, or could some of this m

[2017-07-26 20:27] steveperry-53 opened #4511 "Remove and Blend Names Topic"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

Delete this topic. Blend the content into another topic.
[Names](https://kubernetes.io/docs/concepts/overview/working-with-objects/names/)

[2017-07-26 20:29] steveperry-53 opened #4512 "Update Monitor Node Health Topic"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

Figure out what to do with this topic: [Monitor Node Health](https://kubernetes.io/docs/tasks/debug-application-cluster/monitor-node-health/). Separate the GCE content from the pure Kubernetes content.

[2017-07-26 20:42] steveperry-53 opened #4513 "Update DaemonSet Docs"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

Study the existing topics on DaemonSets. Consolidate, expand, or update as needed. Here are some of the existing topics:

* [DaemonSet](https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/)
* [Perform a Rolling Update on a DaemonSet](https://kubernetes.io/docs/tasks/manage-daemon/update-daemon-set/)
* [Performing a Rollback

[2017-07-26 20:48] steveperry-53 opened #4514 "Update Storage Docs"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

Study the existing docs on storage. Update, consolidate, or expand as needed. Here are some of the existing topics:

* [Persistent Volumes](https://kubernetes.io/docs/concepts/storage/persistent-volumes/)
* [Volumes](https://kubernetes.io/docs/concepts/storage/volumes/)
* [Limit Storage Consumption](https://kubernetes.io/docs/tasks/administ

[2017-07-26 22:30] spzala opened #4517 "Create a guide to writing a new scheduler"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

Feature Request
**Problem:**
As originally described in a kubernetes issue, https://github.com/kubernetes/kubernetes/issues/17208, after implementation of https://github.com/kubernetes/kubernetes/issues/11793 users can create their own custom scheduler but there is no specific doc out there which can clearly explain how to create a custom s

[2017-07-27 05:08] spnzig commented on #1831
Is this already added? Even i seem to be confused with the right value for these parameters while configuring K8S with oidc.

[2017-07-27 09:23] jianglingxia opened #4522 "RC/Deployment can Support stateful application"
**This is a...**

- [x] Feature Request

**Problem:**
https://kubernetes.io/docs/tasks/run-application/run-single-instance-stateful-application/
in the doc use deployment controller to show stateful application,but the stateful  mean what?
![image](https://user-images.githubusercontent.com/25783555/28663369-bec04162-72ef-11e7-80e6-604571b60f7e.png)
then I delete the pod after another pod created t

[2017-07-27 14:35] irosenzw opened #4526 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-interactive/"
**This is a...**

- [ ] Feature Request
- [ X] Bug Report

**Problem:**
running the second command on the 3rd step of the 2nd module gives an ERROR:

Error: 'dial tcp 172.18.0.2:8080: getsockopt: connection refused'
Trying to reach: 'http://172.18.0.2:8080/'

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

1.5.2

[2017-07-27 15:49] ericchiang commented on #1831
@spnzig the docs were added to the authentication section https://kubernetes.io/docs/admin/authentication/#using-kubectl

[2017-07-27 17:33] chenopis commented on #3992
**Update:** The versioned docs are now deployed in the following subdomains:

https://v1-6.docs.kubernetes.io/
https://v1-5.docs.kubernetes.io/
https://v1-4.docs.kubernetes.io/

I added `X-Robots-Tag: noindex` to the HTTP header for these subdomains so that they are not indexed by the search bots. Also, once https://github.com/kubernetes/kubernetes.github.io/pull/4386 is done, I will add the dropd

[2017-07-27 20:37] chenopis commented on #4134
@cody-clark Let us know when this is done so we can close this issue. Thx!

[2017-07-27 20:44] chenopis commented on #4283
@mengqiy Is the Python version in the works? Are we keeping this issue open still?

[2017-07-27 21:01] ahmetb commented on #4517
cc: @erictune

I've been also having to create guides for extending Kubernetes on the docs site, such as:

- Writing Custom Scheduler
- Using Custom Resource Definitions
- Writing an Initializer

It's been low-priority on my list, mostly because people looking for it know where to find it. That said, having these docs and sample code would totally help people interested to get started. Maybe we ca

[2017-07-27 21:34] Bradamant3 commented on #4061
There's an example policy file here: https://github.com/kubernetes/kubernetes/blob/master/pkg/auth/authorizer/abac/example_policy_file.jsonl
but I don't know how to reference it in the docs.
(The ABAC policy file is a jsonlines file (hence the .jsonl file extension).)
Would it work just to link to the topic about ABAC, which mostly answers the reporter's question(s)? https://kubernetes.io/docs/adm

[2017-07-27 23:40] steveperry-53 commented on #458
This works for me (note the $):
**kubectl patch deployment in-place-demo  --patch $'spec:\n replicas: 5'**
deployment "in-place-demo" patched
**kubectl get deployment in-place-demo --output=yaml**
spec:
   ...
  replicas: 5

[2017-07-27 23:42] steveperry-53 commented on #458
I'm working on a new Task topic that will cover kubectl edit and kubectl patch:
https://github.com/kubernetes/kubernetes.github.io/pull/4519

[2017-07-28 01:45] ianlewis opened #4534 "Clear way to see development status of feature"
Currently it's not easy to know the development status (alpha, beta, GA) of a feature when looking at the docs. Some features mention that the feature is in beta, or alpha, but not all of them do. Users need to know the development status so they know the relative stability, and can then decide whether to use them for their projects.

I imagine this as a sort of label next to the title on a page o

[2017-07-28 03:45] steveperry-53 commented on #4062
I'm working on a new Task topic that will cover kubectl edit and kubectl patch:
PR 4519

[2017-07-28 03:58] mengqiy commented on #4283
I don't have bandwidth at this time.
@ahmetb Are you working the python or go version?

[2017-07-28 07:09] timstoop commented on #4061
I'd prefer to have it copied into the text, unless it's really long. It makes reading about it easier if you have all the examples and explanation on a single page, imho.

[2017-07-28 08:40] davidopp commented on #4517
I think writing a custom scheduler is much lower priority than the other two from a documentation standpoint, as many more people are likely to write a CRD or initializer than a scheduler.

Also we may change the scheduler a bit as a result of the local presistent volume work, so I would suggest to wait.

[2017-07-28 15:37] ahmetb commented on #4283
I am not working on this right now either, we can still keep patching it with fixes to federation issues. I am not sure how they're fixed for the 1.7 release.

[2017-07-28 16:22] chezbut commented on #4310
I've actually not been able to get HPA working in a StatefulSet.
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: {{ .Values.service.name }}
  namespace: default
spec:
  maxReplicas: 12
  minReplicas: 3
  scaleTargetRef:
    apiVersion: extensions/v1beta1
    kind: StatefulSet
    name: {{ .Values.service.name }}
  targetCPUUtilizationPercentage: 30

[2017-07-28 16:23] gyliu513 commented on #4310
Yes, this is not implemented yet, close this one for now.

[2017-07-28 16:23] #4310 closed

[2017-07-28 17:04] chenopis commented on #4283
We really need to sit down together and figure out a long term plan and who owns what. I'm still a little foggy on everything. :(

[2017-07-28 18:01] cody-clark commented on #4458
I tried both solutions staged [here](https://cody-clark.github.io/2017/07/25/my-example-post.html) and created this [PR](https://github.com/kubernetes/kubernetes.github.io/pull/4535) based off of the team feedback.

[2017-07-28 19:52] steveperry-53 commented on #458
This also works. Create patch-file.yaml with this content:
spec:
 replicas: 6

Note the double quotes.
**kubectl patch deployment in-place-demo --patch "$(cat patch-file.yaml)"**

[2017-07-28 19:53] aabed opened #4538 "kubernetes controller has no --apiserver flag"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

in this file
https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/tasks/run-application/horizontal-pod-autoscale.md
 it states that to enable custom metrics you should pass api aggregator to the manager using --apiserver

but

--apiserver is unknown flag to the kube-controller-manager

**Proposed Solution:**

**

[2017-07-28 19:54] steveperry-53 commented on #458
attn: @nikhiljindal, @ryanmcginnis, @jaredbhatti

[2017-07-28 20:48] spzala commented on #4517
@ahmetb that's so cool. Agree with you. I guess we just need to doc that repo or in simplest case we can just provide a reference to it in the doc. If I can help with it in any way please let me know. I am glad to have comment from @davidopp (original reporter/requester of this need). Thanks!

[2017-07-29 00:14] ahmetb commented on #4538
Is it called `--api-server` perhaps? The next paragraph refers to an `--api-server` flag on Heapster.

/assign @directxman12
it appears like @directxman12 added this in #2720.

[2017-07-30 15:00] BenHall commented on #2102
@zacharysarah I believe this can be closed.

[2017-07-30 15:00] BenHall commented on #2065
Thanks for reporting the bug. @zacharysarah I believe this can be closed.

[2017-07-30 17:42] #2065 closed

[2017-07-30 17:43] #2102 closed

[2017-07-31 10:05] rwapshott opened #4544 "Issue with k8s.io/docs/concepts/services-networking/ingress/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**

The link for the API reference produces a 404.

"Global Parameters: For the sake of simplicity the example Ingress has no global parameters, see the **api-reference** for a full definition of the resource. One can specify a global default backend in the absence of which requests that don’t match a path in the spec are sent to

[2017-07-31 14:24] danwinship commented on #3934
@zacharysarah Yes, this is fixed... I said "Fixes #3934" in that PR, why didn't this get closed automatically? Shrug.

[2017-07-31 14:24] #3934 closed

[2017-07-31 15:25] cody-clark commented on #4458
Closed with [PR #4535 ](https://github.com/kubernetes/kubernetes.github.io/pull/4535)

[2017-07-31 15:25] #4458 closed

[2017-07-31 19:42] mwithrow opened #4547 "Issue with Sock Shop Application"
**Have a problem using Sock Shop Application**

I get a output when run:
kubectl -n sock-shop get svc front-end so I know everything was created, and I can see all the containers and pods created.

I can browse <ip>:30001 but the application is not painting all the pictures and I cannot register, getting an Internal Server Error message.

- [ ] Feature Request
- [x] Bug Report

**Problem:**
![imag

[2017-07-31 20:44] chenopis opened #4548 "Create User Journeys"
## TL;DR

This project will refactor the kubernetes.io `/docs/home/` page into a portal for user journeys, which are customized paths through the documentation for various buckets of users, such as cluster ops, app developers, DevOps transitioning from VMs/on-prem to Kubernetes, etc. [[project proposal](https://docs.google.com/a/google.com/document/d/1EdQ8acmuKGlzZy1agejLqmB7cLpTRBJKC0JYptJ-ylg/ed

[2017-07-31 21:08] amanagarwal2189 opened #4549 "Issue with k8s.io/docs/tasks/access-application-cluster/authenticate-across-clusters-kubeconfig/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
Sentence not complete. The section **Building your own kubeconfig file**, last line is not completed. I think the text is missing

**Proposed Solution:**
The documentation has to be completed.

**Page to Update:**
https://kubernetes.io/docs/tasks/access-application-cluster/authenticate-across-clusters-kubeconfig/

[2017-07-31 21:09] chenopis commented on #4548
/assign @Bradamant3
/assign @abiogenesis-now

[2017-07-31 21:11] chenopis commented on #4548
@Bradamant3 @abiogenesis-now We will need to get you into the Kubernetes org before we can assign things to you.

[2017-07-31 22:38] steveperry-53 commented on #4252
I've discussed this with several people, and the prevailing thought is that we should link to both the Katacoda and the PWK playgrounds, but we should not embed any playgrounds in the docs.

Here's a PR that add playgroung links to the prerequisite section for Tasks and Tutorials.
https://github.com/kubernetes/kubernetes.github.io/pull/4550

[2017-07-31 22:47] BenHall commented on #4252
@steveperry-53 Thanks for the update!! :)

[2017-07-31 23:08] chenopis commented on #4252
Thanks @steveperry-53 !

[2017-07-31 23:08] #4252 closed

[2017-08-01 10:02] SuryaPractise opened #4563 "Created API client, waiting for the control plane to become ready for 1.7.2-0 on CentOS 7.3"
Environment:

CentOS 7.3

[root@localhost ~]# rpm -qa |grep kube
kubelet-1.7.2-0.x86_64
kubectl-1.7.2-0.x86_64
kubernetes-cni-0.5.1-0.x86_64
kubeadm-1.7.2-0.x86_64

What happened:

kubeadm init hangs indefintely after:
kubeadm init

[root@localhost ~]# kubeadm init
[kubeadm] WARNING: kubeadm is in beta, please do not use it for production clusters.
[init] Using Kubernetes version: v1.7.2
[init] Us

[2017-08-01 10:31] trstn70 opened #4564 "Issue with /docs/getting-started-guides/kubeadm/"
Issue with /docs/getting-started-guides/kubeadm/

# kubeadm init --use-kubernetes-version v1.7.2
Error: unknown flag: --use-kubernetes-version

[2017-08-01 10:39] #4068 closed

[2017-08-01 11:58] teotia39 opened #4565 "Can we create multiple master nodes in current kube-adm ? kube-up.sh script does not exists either in kube-1.5.4 or latest Beta verision"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-08-01 12:05] teotia39 opened #4566 "Can I use kube-spray for installation of kubernetes cluster on VMware's VM's sitting behind a proxy ?"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-08-01 12:31] teotia39 opened #4567 "The kube-up and kube-down scripts are only supported via the platform like GCE or AWS , if we want this to run on vmware's VM's , this multi master support doesn't exists."
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-08-01 14:32] alunarbeach commented on #674
Setting KUBE_EDITOR="vim" explicitly helped me resolving this issue.

[2017-08-01 15:09] amar123deep opened #4569 "K8 dashboard CrashLoopBackOff issue with kubeadm v1.7"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
I can not access the K8 dashboard with kubectl proxy. The status of the pod turns to CrashLoopBackOff. Following is the output of kubectl describe pod kubernetes-dashboard-podname -n kube-system

Liveness probe failed: Get http://10.1.1.15:9090/: dial tcp 10.1.1.15:9090: getsockopt: connection refused

I tried to go through tro

[2017-08-01 15:34] DirectXMan12 commented on #4538
It's now either `--master` or `--kubeconfig`, it appears

[2017-08-01 16:49] jbeda opened #4573 "CRD page should refrence API docs"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**
CRD task should link to the API definition of objects that are referenced.  In general, we should try to create cross references between task oriented pages and reference pages.  That way users can dig into the details as they start coloring outside the lines from what is described in the task.

**Proposed Solution:**

Introduce