[2019-10-02 06:35] sftim opened #16660 "Use drawings to illustrate Pod topology spread constraints"
**This is a Feature Request**

**What would you like to be added**
Revise https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/
Change the existing “ASCII art” diagrams; replace these with SVG drawings.

**Why is this needed**
The ASCII art diagrams are functional but basic. Good quality documentation deserves diagrams.

**Comments**
Consider using the Kubernetes colo

[2019-10-02 06:36] sftim commented on #16660
/priority backlog

[2019-10-02 06:36] sftim commented on #16659
Thanks for the suggestion
/priority backlog

[2019-10-02 06:44] sftim commented on #16635
/sig storage

[2019-10-02 08:52] ysyukr commented on #16578
/close

[2019-10-02 08:52] #16578 closed

[2019-10-02 14:40] the-gigi commented on #2103
/reopen

[2019-10-02 14:41] the-gigi commented on #2103
/remove-lifecycle rotten

[2019-10-02 17:16] fxpires opened #16665 "Issue with k8s.io/pt/docs/concepts/"
**This is a Bug Report**

**Problem:** Blank page for pt_BR lang (i.e.: no content).

**Proposed Solution:** Add content / Translate content from en lang.

**Page to Update:**
k8s.io/pt/docs/concepts/

[2019-10-02 19:15] zacharysarah commented on #15748
@bgrant0607

That's the goal, in service of helping users.

Yes: the description for this issue. ☝️

No. The original plan was to contact stakeholders in the case of outright removals and ensure that docs linked to their upstream source, if they met criteria; to engage with stakeholders and help parse freshness of information and hosting location where neither freshness nor upstream source were cl

[2019-10-02 19:31] zacharysarah commented on #16571
@feloy Existing scripts may be able to help you. Have you looked at https://github.com/kubernetes/website/tree/master/scripts, specifically https://github.com/kubernetes/website/blob/master/scripts/upstream_changes.py?

@remyleone 👋 Any input?

[2019-10-02 20:00] feloy commented on #16571
Hi @zacharysarah yes I tried these scripts and discussed with @remyleone . The problem is that these scripts consider that the original document of reference is the corresponding document at the date of the last update of the translated version.

This is not true in several cases:
- if the translated doc is committed long after the original doc is taken as reference. During this time, the original

[2019-10-02 20:18] aimeeu commented on #15748
As part of a KEP, I think we need to address the complete lack of documentation guidance in the [Kubernetes Repository Guidelines](https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md). It would be nice to clarify what content should reside in a project's repo vs the k8s docs.

[2019-10-02 21:42] hvaara commented on #8843
Still an issue
![image](https://user-images.githubusercontent.com/1535968/66084153-38959080-e56e-11e9-8313-29629d3277fa.png)

[2019-10-02 23:08] hvaara commented on #16588
This has been fixed in #16612

[2019-10-02 23:09] hvaara commented on #10226
I think this is a great idea too! I'd love to take a look
/assign

[2019-10-02 23:37] hvaara commented on #16665
Thanks for the report!
Tracked in #13939

/language pt
/sig docs
/priority backlog

[2019-10-02 23:45] hvaara commented on #16326
Looks to me like this was fixed in #16398 🙌

[2019-10-02 23:57] hvaara commented on #16252
There is now a https://v1-15.docs.kubernetes.io and a https://v1-16.docs.kubernetes.io as well

[2019-10-03 04:54] gochist commented on #16571
Hi @feloy ! You may know that Korean l10n team is taking a little different approach. The team is running team milestone branches and does not move forward to the next branch with any outdated content left in the current milestone branch which is managed by issues. Those issues are generated by [helper script](https://raw.githubusercontent.com/kubernetes/website/master/scripts/diff_l10n_branches.p

[2019-10-03 06:56] sftim commented on #4135
/close
Resolved by #15733
If there's part of the task still left to do, I recommend opening a new issue and referencing this closed one.

[2019-10-03 06:56] #4135 closed

[2019-10-03 06:58] sftim commented on #16588
/close

[2019-10-03 06:58] #16588 closed

[2019-10-03 08:13] vivisquirrel opened #16671 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-service-account/"
**This is a Bug Report**

The hyperlink in 'automatically set' is unavailable. after click it, '404 Page not found' is shown in browser.

**Problem:**
hyperlink in doc is unavailable.  the hyperlink content is https://kubernetes.io/docs/user-guide/working-with-resources/#resources-are-automatically-modified.
**Proposed Solution:**
update the hyperlink to correct URL.
**Page to Update:**
https://ku

[2019-10-03 08:48] sftim commented on #16326
/close

[2019-10-03 08:48] #16326 closed

[2019-10-03 10:02] sftim commented on #16671
Thanks for the report
/priority backlog
/kind cleanup

[2019-10-03 10:20] sftim opened #16675 "Ensure documentation is accessible"
**This is a Feature Request**

**What would you like to be added**
Look at the set of documentation (initially, the English localization).
Review this against [ARIA](https://www.w3.org/TR/wai-aria/) (Accessible Rich Internet Applications) guidelines / specifications.
Make changes to ensure that the documentation is accessible.

**Why is this needed**

 &mdash; CNCF

**Comments**
Treat this as an o

[2019-10-03 10:20] sftim commented on #16675
/priority important-longterm

[2019-10-03 17:03] hvaara commented on #16671
Page linked to prior to being removed: https://github.com/kubernetes/website/blob/bfa604351ff04bd35c4d5af5cb24adae59ef2bf3/docs/user-guide/working-with-resources.md

[2019-10-03 17:31] ggriffiths opened #16680 "Issue with k8s.io/docs/reference/command-line-tools-reference/feature-gates/"
**Problem:**
The feature gate `ExpandCSIVolumes` is now enabled by default in 1.16 as CSI resizing is now beta:
https://github.com/kubernetes/kubernetes/blob/release-1.16/pkg/features/kube_features.go#L533

**Proposed Solution:**
* Update the existing ExpandCSIVolumes flag to be Alpha until 1.15
* Create a new row for ExpandCSIVolumes flag to be Beta starting in 1.16

**Page to Update:**
https://k

[2019-10-03 22:11] raelga commented on #13948
## Status update

_Updated 2019/10/03_

### Merged and published :tada:

- #14852 content/es/docs/concepts_workloads_controllers/replicationcontroller_statefulset_and_ttl by @emedina

### Reviewed (LGTM):

@glo-pena @alexbrand @electrocucaracha can you check them, another `/lgtm` will be enough to `/approve`.

### Reviewed (LGTM but needs squashing )

_None_

### Reviewed (WIP)

- #14850 content/e

[2019-10-03 23:33] savitharaghunathan commented on #16680
/language en

[2019-10-04 00:03] #16634 closed

[2019-10-04 00:21] sftim commented on #16680
/priority backlog
/lifecycle active

[2019-10-04 00:26] sftim commented on #16656
/kind cleanup

[2019-10-04 04:27] hasebe opened #16685 "Translate concepts/extend-kubernetes/api-extension/custom-resources/ into Japanese"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**
No `concepts/extend-kubernetes/api-extension/custom-resources.md` in Japanese.

**Proposed Solution:**
Copy a file from en contents to `content/ja/docs/concepts/extend-kubernetes/api-extension/custom-resources.md` and translate it into Japanese.

**Page to Update:**
https://kubernetes.io/ja/docs/concepts/extend-kubernetes/api-ex

[2019-10-04 04:27] hasebe commented on #16685
/language ja

[2019-10-04 04:27] hasebe commented on #16685
/assign @hasebe

[2019-10-04 06:05] shouichi opened #16686 "Init container use case document clarification"
The current "Using init containers" section makes the following statement. Is this correct? Shouldn't it be something like "less vulnerable"?

https://github.com/kubernetes/website/blob/c156ef8c3d0a496d4b028c8ba8acbab3996fe07d/content/en/docs/concepts/workloads/pods/init-containers.md

[2019-10-04 07:21] sftim commented on #2103
I think it's OK to:
/priority backlog

[2019-10-04 07:24] sftim commented on #16686
Maybe the language can be clearer.
If the app container had access to imaginary DangerousToolX, then this creates a risk affecting information security.
If the init container has that access but the app container does not, then the init container can securely run the utility. Allowing the _app container_ to run that utility, would (in this thought experiment) make that app container [image] less s

[2019-10-04 07:36] shouichi commented on #16686
By running the imaginary DangerousToolX in init container (not in app container), it makes app container more secure?

(I'm not native, sorry if the above doesn't make sense.)

[2019-10-04 08:11] sftim commented on #16686
Yes, that's what the page is saying.

In theory https://kubernetes.io/ja/docs/concepts/workloads/pods/init-containers/ has a similar explanation in Japanese; maybe that's useful?

[2019-10-04 08:22] shouichi commented on #16686
Japanese version states the same thing quite differently (it is like, "Init container can run utility tools that you don't want to run in app container for security reasons.").

Maybe just my English problem but "less secure" sounds strange. It would be great if it clarifies what it means.

Thanks!

[2019-10-04 08:24] sftim commented on #16686
It sounds like there's room to tweak the wording here.
/priority backlog

[2019-10-04 10:29] sftim commented on #15230
/priority backlog
/sig cluster-lifecycle

[2019-10-04 10:30] sftim commented on #15728
Think this is resolved via PR #16533
/close

[2019-10-04 10:30] #15728 closed

[2019-10-04 10:31] sftim commented on #15736
/priority backlog

[2019-10-04 10:32] sftim commented on #15741
/priority backlog
@mcurtiscmu did you want to propose a fix for this?

[2019-10-04 10:33] sftim commented on #15770
Addressed via #15827
/close

[2019-10-04 10:33] #15770 closed

[2019-10-04 10:34] sftim commented on #16685
/priority backlog

[2019-10-04 10:34] sftim commented on #16655
/priority backlog
/lifecycle active

[2019-10-04 10:34] sftim commented on #16656
/priority backlog
/lifecycle active

[2019-10-04 10:35] sftim commented on #15938
/priority important-longterm

[2019-10-04 10:36] sftim commented on #15938
Oops. Wrong place.
/priority awaiting-more-evidence

[2019-10-04 10:36] sftim commented on #15952
/close

[2019-10-04 10:36] #15952 closed

[2019-10-04 10:36] sftim commented on #15797
/priority backlog

[2019-10-04 10:37] sftim commented on #15980
/priority backlog

[2019-10-04 10:37] sftim commented on #15979
/priority backlog

[2019-10-04 10:50] sftim commented on #16041
https://kubernetes.io/docs/getting-started-guides/fedora/flannel_multi_node_cluster/ has gone
Based on that, I intend to:
/close

[2019-10-04 10:50] #16041 closed

[2019-10-04 10:51] sftim commented on #16056
/priority backlog

[2019-10-04 10:52] sftim commented on #16175
Valid issue
/priority backlog
/lifecycle active

[2019-10-04 10:54] sftim commented on #16283
Seems to be done via #16284
/close

[2019-10-04 10:54] #16283 closed

[2019-10-04 11:51] amossc commented on #15728
Thank you.

[2019-10-04 13:26] bells17 commented on #16283
thank you

[2019-10-04 15:47] sftim commented on #14579
PR #16693 touches on this

[2019-10-04 17:47] aimeeu commented on #16675
Good idea! Would it be possible to prepend "Umbrella Issue: " to the title? Easier to find Epic-like issues that way ;-p

[2019-10-05 07:04] girikuncoro commented on #15341
I'm taking `Proxies` page from cluster administration next

[2019-10-05 10:18] irvifa commented on #15341
I'm taking Jobs Run to Completion

[2019-10-05 13:36] oke-py commented on #16686
Japanese version might be outdated. The change below is not reflected.
https://github.com/kubernetes/website/commit/e1ec9a62462b142a3d0a9a1e7246a4bfef7a739b#diff-6a517c74ebea4dd5397bcefb913fc043

[2019-10-05 20:47] irvifa commented on #15341
I'm taking dns-pod-service

[2019-10-05 20:48] irvifa commented on #15341
I'm taking images.

[2019-10-05 20:49] irvifa commented on #15341
I'm taking common-labels.

[2019-10-06 08:42] koneko096 commented on #15341
I'm taking `Deployment` from controllers section

[2019-10-06 11:39] #16680 closed

[2019-10-06 15:49] AbdulkaremAljarba opened #16711 "Issue with k8s.io/docs/tasks/network/validate-dual-stack/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-10-06 20:22] sftim commented on #16675
/retitle Umbrella issue: ensure documentation is accessible

[2019-10-06 20:38] hvaara commented on #16711
Hi @AbdulkaremAljarba! Thanks for the report. Can you provide a bit more information on what the issue is?

/triage needs-information
/language en

[2019-10-07 02:43] #14095 closed

[2019-10-07 04:05] ChaitanyaKaranam opened #16713 "Accessibility Updates - Alt Text for images"
**This is a Feature Request**

**What would you like to be added**
Change ``alt`` text tags for images under [/case-studies](https://kubernetes.io/case-studies/)

**Why is this needed**
All the images under the case-studies page have logo names as alternate text.
Ex: ``chinaunicom_featured_logo.png``
This has to be changed to a readable format. This change is required for better accessibility to [

[2019-10-07 05:02] furukawa3 commented on #16561
This issue seems to be fixed[1].  I'll try to close it.
[1]https://github.com/kubernetes/website/search?q=polices&unscoped_q=polices

[2019-10-07 05:02] furukawa3 commented on #16561
/close

[2019-10-07 05:03] furukawa3 commented on #16561
Oops. sorry.

[2019-10-07 05:10] furukawa3 commented on #16456
/assign

[2019-10-07 05:11] furukawa3 commented on #16456
/assign

[2019-10-07 07:25] sftim commented on #16713
Valid issue indeed
/kind cleanup
/priority active

[2019-10-07 07:25] sftim commented on #16713
/priority backlog

[2019-10-07 07:27] ysyukr opened #16717 "Translate concepts/architecture/controller.md in Korean"
**This is a Feature Request**

**What would you like to be added**
Translate concepts/architecture/controller.md in Korean

**Why is this needed**
The following files are not translated into Korean.
- [ ] /en/docs/concepts/architecture/controller.md

**Comments**
Page to update: https://kubernetes.io/docs/concepts/architecture/controller/

I am working on translating this document.
This document t

[2019-10-07 07:27] ysyukr commented on #16717
/assign

[2019-10-07 08:00] Go-Iwamoto opened #16718 "Translate content/ja/case-studies/Nordstrom in Japanese"
**This is a Feature Request**

**What would you like to be added**
Translation of case study of Nordstrom Technology
https://kubernetes.io/case-studies/nordstrom/

**Why is this needed**
To introduce a case-study of kubernetes in Japanese.

**Comments**

/language ja
/assign

[2019-10-07 08:13] furukawa3 commented on #15262
/assign

[2019-10-07 08:25] sftim commented on #16561
Dealt with in PR #16580.
/close

[2019-10-07 08:25] #16561 closed

[2019-10-07 08:27] SrishT opened #16719 "Security Vulnerabilities found in kubectl v1.12.0"
I work for a product which uses libraries from k8s.io. As part of a static code analysis we performed on our code using Checkmarx, we found a few high risk security vulnerabilities in the libraries that we are using from k8s.io. The kubectl version we are currently working with is `v1.12.0`.

We found 2 occurrences of `Reflected XSS` in the following files :-

- File Name : `k8s.io/apimachinery/pk

[2019-10-07 08:27] furukawa3 commented on #15262
Hi, I'd like to fix this issue.  Plz tell me a little bit.  I just checked [stackpoint.io](https://stackpoint.io/) and also saw "retired".  I think nobody can try this page.  So, should we remove this page [Running Kubernetes on Multiple Clouds with Stackpoint.io](https://kubernetes.io/docs/setup/production-environment/turnkey/stackpoint/) ??

[2019-10-07 10:56] joshuabezaleel commented on #15341
I'm taking ReplicaSet

[2019-10-07 12:06] hase1128 commented on #15272
@sftim
I checked related source codes.
Explanation of the following URL is correct.
https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/

### Related source codes
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/podgc/gc_controller.go
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/podgc/doc.go
[code]

So, I think the des

[2019-10-07 12:07] hase1128 commented on #15272
/assign

[2019-10-07 12:22] mkokabi opened #16721 "Issue with k8s.io/docs/reference/kubectl/conventions/"
**This is a typo Report**

**Problem:**
In this sentence:

The word

 should be

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/reference/kubectl/conventions/

[2019-10-07 13:51] sftim commented on #15272
@hase1128 it sounds like you've already got a handle on what to do to fix this issue
If that's right, I'm happy to let you pick the best approach.

In https://github.com/kubernetes/website/pull/15374 I've a _draft_ set of changes to document all built-in controllers. I'll be happy to incorporate recommended wording into a revision to that PR.

[2019-10-07 15:19] sftim commented on #16718
/priority backlog

[2019-10-07 15:19] sftim commented on #16717
/priority backlog

[2019-10-07 15:21] sftim commented on #16719
Hi @SrishT

You can look at https://github.com/kubernetes/kubernetes/ project (this repository holds the website)
The most recent release of v1.12.x seems to be [v1.12.10](https://github.com/kubernetes/kubernetes/releases/tag/v1.12.10)

[2019-10-07 15:22] sftim commented on #16719
/close

[2019-10-07 15:22] #16719 closed

[2019-10-07 15:22] sftim commented on #16719
/triage invalid

[2019-10-07 15:48] savitharaghunathan commented on #16721
IMO, I think the sentence needs to be rephrased.  --dry-run flag provides the detailed definition of the object that would be created when the command is run, but at the same time it does not create an actual object.

/language en
/good-first-issue

[2019-10-07 16:36] alexbrand opened #16724 "Clarify the execution of multiple mutating webhooks in reference/access-authn-authz/extensible-admission-controllers/"
**This is a Feature Request**

**What would you like to be added**

Add documentation to clarify how multiple mutating admission webhooks are executed.

**Why is this needed**

1) It is currently unclear that they are executed serially for a given object
2) It is currently unclear how the multiple webhooks will be ordered/sorted for execution

[2019-10-07 17:36] erictune opened #16725 "Within Server-side apply, document map and list merging behaviors."
**This is a Feature Request**

**What would you like to be added**

Add this content to the page https://kubernetes.io/docs/reference/using-api/api-concepts/#server-side-apply

----

For Kubernetes version 1.16, CRDs support the following annotations:
 - `x-kubernetes-list-map-key`
 - `x-kubernetes-list-map-type`
These tags, and the type of a field in the CRD's validation section (`type: object` o

[2019-10-07 17:51] shaktiprasadrath opened #16727 "configmap not populating data in pod container env"
**This is a Bug Report**

I have created a configmap from multiple files(Check below)

C:\shakti\K8s>kubectl get -o yaml cm teller-cm -n 106144-cicd-dev
apiVersion: v1
data:
  options.defaults: |
    PCEPAR_AUTHORIZATION_ROUTER_CONNECTION=localhost:8380
  options.properties: |-
    PCEPAR_MAIL_USER=ggamm
    PCEPAR_MAIL_PW=ram
  wlpoptions.defaults: |
    PCEPAR_MAIL_USER=qq
    PCEPAR_MAIL_PW=ww

[2019-10-07 18:03] sftim commented on #16724
(As I understand it), this is about https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#what-are-admission-webhooks and also about https://kubernetes.io/docs/concepts/extend-kubernetes/extend-cluster/

/kind feature
/priority backlog

[2019-10-07 18:04] sftim commented on #16725
It's a valid improvement
/kind feature
/priority backlog

[2019-10-07 18:05] sftim commented on #16721
/priority backlog

[2019-10-07 18:05] sftim commented on #16629
/priority backlog

[2019-10-07 18:06] sftim commented on #16629
I'd put this one in the hands of
/sig apps

because apps are why probes are useful / needed.

[2019-10-07 18:41] shaktiprasadrath opened #16729 "Difference between --from-env-file single vs multiple"
**This is a Bug Report**

If --from-env-file with multiple file will ONLY take the last file then why we have this option. this is as good as --from-env-file from a single file.

**Proposed Solution:**
There should be an option to take --from-env-file from multiple files.

**Page to Update:**
https://kubernetes.io/...

1.1.13

[2019-10-07 18:49] erictune commented on #16725
@apelisse @jennybuckley

[2019-10-07 19:58] sftim commented on #15262
That seems the best approach. Are you happy to submit a pull request @furukawa3 ?

[2019-10-07 19:59] sftim commented on #15965
@aimeeu did you want to make a pull request to follow on from this issue?

[2019-10-07 20:01] sftim commented on #14848
/priority backlog

[2019-10-07 20:02] sftim commented on #14660
Fixed via #14677
/close

[2019-10-07 20:02] #14660 closed

[2019-10-07 20:03] sftim commented on #15447
/priority backlog

[2019-10-07 20:03] sftim commented on #15459
/priority backlog

[2019-10-07 20:05] sftim commented on #15477
/priority awaiting-more-evidence

[2019-10-07 20:05] sftim commented on #15477
/triage support

[2019-10-07 20:08] sftim commented on #15492
/priority backlog

[2019-10-07 20:40] hvaara commented on #15965
@sftim I think #16414 is the PR

/lifecycle active

[2019-10-07 22:09] sftim commented on #15166
@faucherb94 are you saying in your last update that this is well documented enough to not need changes, or that it's hard to uncover that detail and so it's worth tweaking the current documentation?

[2019-10-07 22:10] sftim commented on #14855
In the documentation it seems reasonable to describe services on port 443 by default, and only cover the 443 / 6443 discrepancy in pages that are willing to cover why there is a difference.
/priority backlog

[2019-10-07 22:13] sftim commented on #16466
The documentation should not make readers come to use invalid ULAs on their IPv6-enabled cluster, at least not without a very good reason and a **strong** dose of `{{< caution >}}` markers.

/priority important-longterm
/kind bug
This also tied in with work on the IPv6 / dual-stack features, which are not yet stabilized.

[2019-10-07 22:13] sftim commented on #16466
/sig network

[2019-10-07 22:26] sftim commented on #15466
Valid issue
/priority important-longterm

[2019-10-07 22:26] sftim commented on #15466
/sig cli

[2019-10-07 22:38] markzzzsmith commented on #16466
Hi,

On Tue, 8 Oct 2019, 09:13 Tim Bannister, <notifications@github.com> wrote:

There are no very good reasons to use invalid ULAs. Otherwise those reasons
would be discussed and allowed in the ULA RFC 4193, and they would then be
valid.

Invalid ULAs encourage the use of NAT. NAT causes a lot of practical
network problems. I've also written a presentation about that.

"The Trouble with NAT (Or W

[2019-10-08 00:32] bhaskarrao1 opened #16730 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-10-08 02:19] sshukun commented on #16721
Hi, I want to work on this

[2019-10-08 02:20] sshukun commented on #16721
/assign

[2019-10-08 03:04] dankohn commented on #16567
I think SIG-Docs would be happy to accept pull requests to make the English version match CNCF.

[2019-10-08 04:21] vishakhanihore commented on #16721
Its good to be closed

[2019-10-08 04:46] MieSato commented on #16567
(Hi Dan, thank you for your help.)
According to SIG-Dogs, the k8s case studies are different from the ones on the CNCF site to help maintain the SEO of the Kubernetes site, instead of having exact duplicates.
So, I will close this issue. You (K8s site) do not need to sync the content with those on cncf site.
I will ask our contributors to check out k8s site and update their translation.
Thank you

[2019-10-08 04:46] #16567 closed

[2019-10-08 08:54] sftim commented on #16721
/close

[2019-10-08 08:54] #16721 closed

[2019-10-08 10:34] furukawa3 commented on #15262
Will do !! Thanks @sftim for your kindness.

[2019-10-08 11:13] sftim commented on #14781
/close

[2019-10-08 11:13] #14781 closed

[2019-10-08 11:13] sftim commented on #14781
/priority awaiting-more-evidence

[2019-10-08 11:23] neolit123 commented on #16730
please re-open if needed.
/close

[2019-10-08 11:23] #16730 closed

[2019-10-08 12:21] sftim commented on #14800
/language zh
/priority backlog
/remove-lifecycle rotten

[2019-10-08 13:00] abstrask opened #16740 "Links on snapshot versions of /docs/home/ point to current version of docs"
All links on the "Home" tab of archived versions of the documentation, point to the current documentation:

- https://v1-13.docs.kubernetes.io/docs/home/
- https://v1-14.docs.kubernetes.io/docs/home/
- https://v1-15.docs.kubernetes.io/docs/home/

Links on other tabs (e.g. "Setup", "Concepts" etc.) point to pages within the selected version of the docs, which is what I would expect browsing documen

[2019-10-08 13:12] abstrask opened #16741 "Search box on docs should return results for selected version and language"
When using the search box on the English documentation site for the current Kubernetes version (1.16), I get results for other languages and other versions of Kubernetes.

E.g. "ingress" yields results:
- In Indonesian
- In French
- for version 1.12 in Chinese

Would it be possible/sensible to restrict the search results to the currently selected language and Kubernetes version?

[2019-10-08 13:34] furukawa3 opened #16742 "Cleanup trailing spaces"
**This is a Bug Report**

I and vim found many trailing spaces in document.  It should be removed.

**Proposed Solution:**
I think it's better to cleanup all trailing spaces.  However, I'd like to discuss about file type as targets.  Currently, following types exist:

``find content/ -type f | awk -F. '{print $NF}' | sort | uniq``

[code]

1. Should I remove trailing spaces except from **jpg**, **

[2019-10-08 13:35] furukawa3 commented on #16742
/assign

[2019-10-08 15:19] #14257 closed

[2019-10-08 16:20] #14196 closed

[2019-10-08 16:40] PawanKolhe commented on #16713
I would like to work on this.

[2019-10-08 17:34] sftim commented on #16713
/lifecycle active

[2019-10-08 17:57] sftim commented on #16742
Related: consider linting for trailing spaces (possibly as a hint, possibly as a merge blocker)
If picking that up, it might work best tracking that as a brand new issue.

[2019-10-08 17:58] sftim commented on #9281
/remove-lifecycle rotten

[2019-10-08 19:23] #14054 closed

[2019-10-08 22:51] #16175 closed

[2019-10-08 22:59] aimeeu commented on #16740
/kind bug

[2019-10-08 23:02] aimeeu commented on #16740
Thanks @abstrask for bringing this to our attention!

I also noticed that the "latest version" link in the "Kubernetes v1.13 documentation is no longer actively maintained. The version you are currently viewing is a static snapshot. For up-to-date documentation, see the latest version." message doesn't point to the latest version.

[2019-10-08 23:17] zacharysarah commented on #16740
To save time on discovery: the Home page behavior may be a function of how paths work in the [docsportal_home](https://github.com/kubernetes/website/blob/master/layouts/docs/docsportal_home.html#L22-L49) layout, which [`/content/en/docs/home/_index.md`](https://github.com/kubernetes/website/blob/master/content/en/docs/home/_index.md) applies.

[2019-10-08 23:33] #16538 closed

[2019-10-09 03:13] #16366 closed

[2019-10-09 08:44] furukawa3 commented on #16742
Hi sftim,  I just used following command.  You mean I should use another tool or plugin to detect trailing space ?

[code]

[2019-10-09 08:53] HYChou0515 opened #16759 "Pods metric setting not consistent in HPA walkthrough"
**This is a Bug Report**
**Problem:**

In the [HPA walkthrough](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/),

Following this would have an error
[code]
I guess this `Pod` section probably follows from the older `autoscaling/v2beta1` as
using this setting in `autoscaling/v2beta1` is fine.

**Proposed Solution:**

I think it could be consistent as what men

[2019-10-09 08:57] sftim commented on #16742
A cleanup is a good idea. If it's useful, SIG Docs could automate making sure that new commits don't introduce the unwanted trailing spaces.

I'm not sure though that this is a big need. My guess is things are pretty much fine as is.

[2019-10-09 09:03] furukawa3 commented on #16742
Thanks.. I agree with your opinion.  I think it's just enough to have a rule for coding that we should not include trailing space.  So, I'll push a patch.

[2019-10-09 10:47] abstrask commented on #16740
Yes, and I think this is covered by #16066.

[2019-10-09 11:29] stefancplace opened #16764 "Issue with k8s.io/docs/concepts/policy/pod-security-policy/"
**This is a Bug Report**

**Problem:**
Applying  `kubectl create rolebinding -n psp-example fake-editor --clusterrole=edit --serviceaccount=psp-example:fake-user`
it is still possible to create pod/pause

**Proposed Solution:**
Either I am doing something wrong or `--clusterrole=edit` should be `--clusterrole=view`

**Page to Update:**
https://kubernetes.io/...

[2019-10-09 13:58] #16764 closed

[2019-10-09 14:20] k25daniel opened #16769 "Issue with Kubectl command"
When I run:

kubectl get pods --all-namespaces

I am getting the next issue:
Unable to connect to the server: context deadline exceeded

I tried installing kubernetes again but the issue is still happening https://kubernetes.io/docs/tasks/tools/install-kubectl/

[2019-10-09 16:20] sftim commented on #14822
/remove-lifecycle rotten

[2019-10-09 16:21] sftim commented on #16769
@k25daniel, GitHub is not the right place for support requests.

As you're looking for help, you could check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

/triage support

[2019-10-09 16:22] sftim commented on #16759
Looks like a useful and valid report.

/kind bug
/priority backlog
Thanks for reporting this @HYChou0515

[2019-10-09 16:22] sftim commented on #16741
/kind feature
Good idea!

/priority important-longterm

[2019-10-09 16:46] sftim opened #16771 "Use tabs for “view your changes locally” in contributor guide"
**This is a Feature Request**

**What would you like to be added**
Rewrite https://kubernetes.io/docs/contribute/intermediate/#view-your-changes-locally to put the two options (Hugo in a container / Hugo locally) in [tabs](https://kubernetes.io/docs/contribute/style/hugo-shortcodes/#tabs).

**Why is this needed**
Low-priority enhancement to make the documentation easier to read.

/kind feature

[2019-10-09 16:47] sftim commented on #16771
/good-first-issue

[2019-10-09 16:59] sftim opened #16772 "“Case studies” logos clash with page's gray background"
**This is a Bug Report**

**Problem:**
The logos on https://kubernetes.io/case-studies/ have gray backgrounds. Depending on your user agent and how it handles sRGB / color spaces, that might not be the same gray as the page background.

**Proposed Solution:**
~Recreate these logos using PNG format and a transparency (alpha) channel.~
One of:
- Use an image for the page background, so that the imag

[2019-10-09 17:43] lupa18 opened #16773 "Issue with k8s.io/es/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
conection 8080 refused

[2019-10-09 17:44] estesp commented on #16478
I just ran into this as well with someone claiming Docker is the only runtime implementation supporting AppArmor and had made a decision not to use containerd because of this. I would submit a PR with suggested wording fix, but that whole section on runtimes and apparmor profiles probably needs a healthy re-write and verification that it is correct.

[2019-10-09 18:29] bells17 opened #16774 "Translate concepts/storage/volume-pvc-datasource in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/storage/volume-pvc-datasource in Japanese

**Why is this needed**

This document is not translated in Japanese.

**Comments**

Original:
https://kubernetes.io/docs/concepts/storage/volume-pvc-datasource/

/language ja
/assign

[2019-10-09 19:28] kbhawkey opened #16776 "review federation task pages"
**This is a Feature Request**
Review Federation task pages, for example:
https://kubernetes.io/docs/tasks/federation/set-up-cluster-federation-kubefed/

**What would you like to be added**
Review and update the federation task sections. Also, the kubefed component tool page is no longer published.

**Why is this needed**
The content appears to be outdated. Should the k8s docs maintain a task and t

[2019-10-09 20:48] aimeeu commented on #15682
I learned from @kbhawkey and @tengqm that the purpose of the website/update-imported-docs/update-imported-docs tool **is** to automate the generation of the reference component docs. Once I had the correct versions of the required software installed, I ran the script locally and then updated the _Generating Reference Pages for Kubernetes Components and Tools_ page (PR 16777) to reflect those versi

[2019-10-09 23:41] philipliberato commented on #16771
Hi, I would like to work on this issue.

[2019-10-10 00:51] furukawa3 commented on #16742
I'll push PRs which are split into each language.  Thanks for your suggestion, @sftim
https://github.com/kubernetes/website/pull/16762#issuecomment-540080270

[2019-10-10 02:16] inductor commented on #16116
/close

[2019-10-10 02:16] #16116 closed

[2019-10-10 02:16] inductor commented on #16087
/close

[2019-10-10 02:16] #16087 closed

[2019-10-10 02:20] inductor commented on #16350
/close

[2019-10-10 02:20] #16350 closed

[2019-10-10 04:21] ysyukr commented on #16631
/close

[2019-10-10 04:21] #16631 closed

[2019-10-10 04:49] irvifa commented on #16742
Can we create a config based on this?

[2019-10-10 06:35] raelga commented on #16773
Hello @lupa18,

Thanks for your issue and welcome to kubernetes! 🎉

Can you provide more information about the issue you are facing and how to reproduce it?

I just test the lab myself and didn't face had any error while completing the tutorial:

![Screen Shot 2019-10-10 at 08 34 18](https://user-images.githubusercontent.com/795289/66544562-c8bc7280-eb38-11e9-88cd-ead5382a4d30.png)

Don't hesitate

[2019-10-10 08:10] sftim commented on #16771
@philipliberato sure, please feel free. Do you have any questions?

[2019-10-10 08:29] sftim commented on #15342
/close

[2019-10-10 08:29] #15342 closed

[2019-10-10 08:36] hase1128 commented on #15272
@sftim
sorry for my late response, and thank you for the information of a draft set.
I will do PR next week. (currently, I am a little busy....)

[2019-10-10 09:54] ivalexm opened #16799 "Issue with k8s.io/docs/tasks/administer-cluster/reconfigure-kubelet/"
**This is a Bug Report**
Article suggests running `bash kubectl proxy --port=8001 &`
**Problem:**
However, kubectl is a binary.
**Proposed Solution:**
Either you run `bash -c "kubectl proxy --port=8001" &` or simply
`kubectl proxy --port=8001 &`
**Page to Update:**
https://k8s.io/docs/tasks/administer-cluster/reconfigure-kubelet/

[2019-10-10 10:12] sftim commented on #14838
I think this is worth covering / emphasizing.
/remove-lifecycle rotten
/priority backlog

[2019-10-10 10:13] sftim commented on #16776
/priority important-longterm
Does that sound right?

[2019-10-10 10:46] bhaskarrao1 opened #16800 "Issue with k8s.io/docs/setup/production-environment/container-runtimes/"
root@k8s-master:~# kubeadm init --ignore-preflight-errors=cpu --apiserver-advertise-address 10.128.0.2 --pod-network-cidr=10.128.1.1/24
[init] Using Kubernetes version: v1.16.1
[preflight] Running pre-flight checks
[preflight] WARNING: Couldn't create the interface used for talking to the container runtime: docker is required for container runtime: exec: "docker": executable file not found in $PAT

[2019-10-10 10:56] sftim commented on #16774
/priority backlog

[2019-10-10 11:30] jeremyxu2010 opened #16801 "Issue with k8s.io/docs/concepts/services-networking/dual-stack/"
I do as it, but failed.

参考[kubernetes IPv4/IPv6双栈的官方文档](https://kubernetes.io/docs/concepts/services-networking/dual-stack/)，实施IPv4/IPv6双栈的步骤。虽然是严格按官方文档实施的，但最终遇到报错，没能成功。这里记录一下。

ipv6地址规划：

| 地址范围                 | 值             |      |
| ------------------------ | -------------- | ---- |
| pod-cluster-cidr         | fc00:0f00::/24  |      |
| service-cluster-ip-range | fc00:1f00::/24  |      |
|

[2019-10-10 11:42] r4zorgeek commented on #16771
@sftim Hey I am new to open-source I would like to work on this issue.

[2019-10-10 12:24] r4zorgeek commented on #16771
@sftim I have added the features as requested and opened a pr request please review it.

[2019-10-10 12:27] neolit123 commented on #16800
please see the installing kubeadm doc:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#before-you-begin

kubeadm requires 2 CPU cores at the minimum.

/close

[2019-10-10 12:27] #16800 closed

[2019-10-10 13:57] manishbansal8843 opened #16803 "Issue with /docs/tasks/configure-pod-container/configure-pod-configmap/#populate-a-volume-with-data-stored-in-a-configmap"
**Problem:**
It says `The command section references the special.level item stored in the ConfigMap.`
**Proposed Solution:**
This is wrong. The command used in command section is `ls` command which lists the files in directory which got populated by a config map. Where as the config map has 2 entries as below.

[code]

[2019-10-10 13:58] manishbansal8843 commented on #16803
Fixed in #15944

[2019-10-10 15:20] dahovey opened #16806 "Issue with k8s.io/docs/setup/release/version-skew-policy/"
**This is a Bug Report**

**Problem:** Broken link in 3rd paragraph, "This decision is owned by the patch release manager." where link, `patch release manager` results in 404.

**Proposed Solution:** Resolve link location.

**Page to Update:**
https://kubernetes.io/docs/setup/release/version-skew-policy/

[2019-10-10 16:06] #14289 closed

[2019-10-10 17:44] savitharaghunathan commented on #16806
Replace the link with https://github.com/kubernetes/sig-release/blob/master/release-engineering/role-handbooks/patch-release-team.md#release-timing

/language en
/good-first-issue
/priority backlog
/kind bug

[2019-10-10 17:48] savitharaghunathan commented on #16799
@ivalexm , Thank you for reporting this issue.

/language en
/kind bug
/good-first-issue
/priority backlog

[2019-10-10 19:09] #2441 closed

[2019-10-10 19:50] Wdrwoman commented on #16806
/assign

[2019-10-10 20:10] #11522 closed

[2019-10-10 21:39] slashmo opened #16810 "Improvement for k8s.io/docs/tutorials/hello-minikube/"
Step 5 of the *Create a Service* section tells me to visit port `30369` but for me the LoadBalancer was exposed at port `30764`. If that's generally the case the documentation should be updated accordingly.

[2019-10-10 22:12] #13788 closed

[2019-10-10 22:12] #13673 closed

[2019-10-10 22:12] #13582 closed

[2019-10-10 22:12] #13926 closed

[2019-10-10 22:12] #13928 closed

[2019-10-10 22:12] #13947 closed

[2019-10-10 22:12] #13884 closed

[2019-10-10 22:12] #13913 closed

[2019-10-10 22:12] #13911 closed

[2019-10-10 22:12] #13919 closed

[2019-10-10 22:34] desertmonkey commented on #11367
/remove-lifecycle rotten.

Sure, backlog is fine. Not a huge deal. Thanks!

[2019-10-10 23:13] #13922 closed

[2019-10-10 23:13] #13956 closed

[2019-10-10 23:13] #13960 closed

[2019-10-10 23:13] #13816 closed

[2019-10-10 23:13] #14223 closed

[2019-10-10 23:13] #14271 closed

[2019-10-11 00:14] #14073 closed

[2019-10-11 00:14] #13865 closed

[2019-10-11 00:35] ericramos1980 opened #16811 "Issue with k8s.io/docs/concepts/workloads/controllers/cron-jobs/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-10-11 03:41] plxity opened #16817 "Fix form allignment in mobile view."
**This is a Bug Report**

**Problem:**
The alignment of the form is not proper.
![Screenshot from 2019-10-11 09-00-42](https://user-images.githubusercontent.com/28510494/66622789-b0b32480-ec06-11e9-9bdb-3576742af52c.png)

**Proposed Solution:**
The alignment of the form should be proper.
**Page to Update:**
https://kubernetes.io/...

[2019-10-11 04:23] rajeshdeshpande02 commented on #16811
@ericramos1980 Can you please provide descriptions about this issue

[2019-10-11 04:50] rajeshdeshpande02 commented on #16810
@slashmo Thanks for raising this.
This 5 digit port generated randomly and it is different for everyone.  Instruction is given for this in a bracket in the same step number 5, but I think this is not sufficient for first-time readers so I will improve it and make it more clear.

[2019-10-11 05:57] #16597 closed

[2019-10-11 05:58] r4zorgeek commented on #16771
/assign @simplytunde

[2019-10-11 05:59] #15240 closed

[2019-10-11 06:01] #15184 closed

[2019-10-11 07:11] JensHaley commented on #14205
I saw a note was added - thank you.

Closing this issue

[2019-10-11 07:11] #14205 closed

[2019-10-11 09:27] sftim commented on #14858
/remove-lifecycle rotten
It _is_ a confusing page.

[2019-10-11 11:46] sftim opened #16828 "Blog typo: “San Deigo” (in “Contributor Summit San Diego Schedule Announced!”)"
**This is a Bug Report**

**Problem:** In _Contributor Summit San Diego Schedule Announced!_ there is a typo: “San Deigo”.

**Proposed Solution:**
Correct the typo

**Page to Update:**
https://kubernetes.io/blog/2019/10/10/contributor-summit-san-diego-schedule/

**Additional Information:**
/area blog
/help
/kind cleanup
/priority important-soon
(I set that priority because KubeCon is imminent, fee

[2019-10-11 11:48] sftim commented on #16811
/triage needs-more-information

[2019-10-11 11:55] tomfrenken opened #16829 "Deprecated default solution in tutorial"
**This is a Bug Report**

**Problem:**
When using
[code]
I get the following warning:
[code]

**Proposed Solution:**
Update the deprecated default solution.

**Page to Update:**
https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/

[2019-10-11 12:36] raelga commented on #16828
Hello @sftim, I opened a PR this morning to fix the issue:
 https://github.com/kubernetes/website/pull/16822

[2019-10-11 13:00] MTreide-Heuser opened #16830 "Improvement for k8s.io/docs/concepts/storage/persistent-volumes/"
No code examples for the plugins.

[2019-10-11 13:19] BenHall commented on #16829
Thanks. A new version will be live shortly with updated commands and flow to reflect the current practices.

[2019-10-11 13:23] 2pai commented on #15341
i'm taking API Server Aggregation

[2019-10-11 13:26] sftim commented on #14507
I still want this
/remove-lifecycle rotten

[2019-10-11 14:33] sftim commented on #16828
Thanks @raelga
/close

[2019-10-11 14:33] #16828 closed

[2019-10-11 15:59] sftim commented on #14725
/remove-lifecycle rotten

[2019-10-11 16:01] sftim commented on #14402
Done via #14415
/close

[2019-10-11 16:01] #14402 closed

[2019-10-11 16:02] sftim commented on #14598
/close

[2019-10-11 16:02] #14598 closed

[2019-10-11 16:20] sftim commented on #11987
This seems to be fixed. Have I got that right?

[2019-10-11 16:21] sftim commented on #14842
/close

[2019-10-11 16:21] #14842 closed

[2019-10-11 16:24] sftim commented on #12323
/remove-lifecycle rotten

[2019-10-11 16:28] sftim commented on #12325
/remove-lifecycle rotten

[2019-10-11 16:28] sftim commented on #12325
I see a PR got merged; is this Done?

[2019-10-11 16:32] sftim commented on #13036
/good-first-issue
/remove-lifecycle rotten

[2019-10-11 16:34] sftim commented on #13928
/remove-lifecycle rotten
/priority important-longterm

[2019-10-11 16:35] sftim commented on #13928
/remove-priority backlog

[2019-10-11 16:38] sftim commented on #16817
/kind cleanup
/priority backlog

[2019-10-11 16:38] sftim commented on #16829
/priority important-longterm
/kind cleanup

[2019-10-11 16:39] sftim commented on #16811
/triage needs-information

[2019-10-11 16:40] sftim commented on #16727
@shaktiprasadrath, GitHub is not the right place for support requests.

For help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

/triage support

[2019-10-11 16:40] sftim commented on #16742
/kind cleanup
/priority backlog

[2019-10-11 16:40] sftim commented on #16801
/language zh

[2019-10-11 16:41] sftim commented on #16773
/language es
/triage needs-information

[2019-10-11 16:41] sftim commented on #16830
Thanks for the suggestion
/kind feature
/priority backlog

[2019-10-11 16:42] sftim commented on #15503
Fixed in #15708
/close

[2019-10-11 16:42] #15503 closed

[2019-10-11 16:42] sftim commented on #15512
/priority important-longterm
/kind cleanup

[2019-10-11 16:43] sftim commented on #16829
#15512 is tracking this

[2019-10-11 16:44] sftim commented on #15511
/triage needs-information

[2019-10-11 16:46] sftim opened #16833 "Wrong Markdown in “Events in StackDriver”"
**This is a Bug Report**

**Problem:**

“metrics” and “alerts” aren't hyperlinks; it looks like they should be.

**Proposed Solution:**
Fix the Markdown so that “metrics” and “alerts” are hyperlinks.

**Page to Update:**
https://kubernetes.io/docs/tasks/debug-application-cluster/events-stackdriver/

[2019-10-11 16:46] sftim commented on #15450
/kind feature
/priority backlog

[2019-10-11 16:47] sftim commented on #15457
/triage needs-information

[2019-10-11 16:48] sftim commented on #15358
This seems like a legitimate concern
/remove-lifecycle stale
/priority important-longterm

[2019-10-11 16:49] sftim commented on #16833
/priority backlog

[2019-10-11 16:52] sftim commented on #16553
/priority backlog

[2019-10-11 18:08] sftim commented on #14778
/close
Fixed in #16268

[2019-10-11 18:08] #14778 closed

[2019-10-11 19:33] #14316 closed

[2019-10-11 22:10] #16771 closed

[2019-10-11 22:19] lupa18 commented on #16773
I repeated the procedure and now it works.

[2019-10-11 22:19] #16773 closed

[2019-10-11 22:28] #16799 closed

[2019-10-12 01:11] vishakhanihore commented on #16463
@sftim Please close the issue as its already resolved

[2019-10-12 01:12] vishakhanihore commented on #16476
/assign

[2019-10-12 01:25] vishakhanihore commented on #15651
/assign

[2019-10-12 01:30] vishakhanihore commented on #15306
@thecrudge Its good to be closed

[2019-10-12 01:38] vishakhanihore commented on #15741
/assign

[2019-10-12 02:01] vishakhanihore commented on #16833
/assign

[2019-10-12 03:30] wangrong2012 opened #16844 "Issue with k8s.io/docs/setup/production-environment/windows/user-guide-windows-nodes/"
There comes a problem for me:

[preflight] Running pre-flight checks
[preflight] The system verification failed. Printing the output from the verification:
KERNEL_VERSION: 10.0.17763
DOCKER_VERSION: 18.09.1
DOCKER_GRAPH_DRIVER: windowsfilter (windows) lcow (linux)
        [WARNING SystemVerification]: unsupported graph driver: windowsfilter (windows) lcow (linux)

Anyone can help?

[2019-10-12 05:20] #16810 closed

[2019-10-12 13:04] savitharaghunathan commented on #16830
Possibly related issue: https://github.com/kubernetes/website/issues/16635 ?

[2019-10-12 13:11] shrey-sachdeva2000 commented on #16817
Fixed the issue.

[2019-10-12 14:53] guywald opened #16851 "Issue with "node e2e test" link results 404 not found on k8s.io/docs/setup/best-practices/node-conformance/#running-selected-test"
**This is a Bug Report**

**Problem:**
Link to [node e2e test](https://github.com/kubernetes/community/blob/master/contributors/devel/e2e-node-tests.md) on documentation page (at end of *Running Selected Test* section):
https://kubernetes.io/docs/setup/best-practices/node-conformance/#running-selected-test
reaches 404 page not found on github.

**Page to Update:**
content/en/docs/setup/best-practi

[2019-10-12 16:07] shub-asa1 commented on #16851
I would like to take this issue.

[2019-10-12 16:12] girikuncoro commented on #15341
I'm taking Object Management from `content/id/docs/concepts/overview`

[2019-10-12 23:12] inductor commented on #16471
/close

[2019-10-12 23:12] #16471 closed

[2019-10-13 08:55] gochist opened #16856 "Outdated files in the dev-1.16-ko.3 branch"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.16-ko.3 branch.

### 26 files to be modified
1. [ ] content/en/docs/concepts/_index.md 1 file changed, 5 insertions(+), 5 deletions(-)
1. [ ] content/en/docs/concepts/architecture/_index.md 1 file changed, 1 insertion(+), 1 deletion(-)
1. [ ] content/en/docs/concepts/architecture/cloud-controller.md 1 file changed, 1 insertion(

[2019-10-13 14:21] ysyukr commented on #16856
/assign

[2019-10-13 18:29] sftim commented on #10226
/lifecycle active

[2019-10-13 18:36] #16463 closed

[2019-10-13 18:43] sftim commented on #16856
/priority backlog
/kind cleanup

[2019-10-13 18:48] sftim commented on #16851
/lifecycle active

[2019-10-13 18:48] sftim commented on #16851
/priority backlog

[2019-10-13 18:50] sftim commented on #16844
@wangrong2012: GitHub is not the best place for support requests.

For help, you can check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.
/triage support

(maybe you know there is a problem with the documentation and can descr

[2019-10-13 18:52] sftim commented on #15434
/remove-lifecycle stale

[2019-10-13 19:00] sftim commented on #15965
/priority backlog

[2019-10-13 19:02] sftim commented on #15720
@ZamanOof do you have an idea about what should change about this webpage to make it work better for readers with Windows systems?

(I wonder if the simplest explanation is that these commands assume you're using Linux)

[2019-10-13 19:02] sftim commented on #15222
/priority backlog

[2019-10-13 19:03] sftim commented on #16740
/priority important-longterm
(I think)

[2019-10-13 19:05] sftim commented on #16803
/kind bug
/priority backlog

[2019-10-13 19:07] sftim commented on #16028
@umesh612 this sounds like it might be a request for support? If so, GitHub isn't the best place to ask.

If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes)

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.
/triage support

[2019-10-13 19:08] sftim commented on #15794
Is there a way that I can help with the logistics of this?

[2019-10-13 19:11] sftim opened #16866 "Explain how to upgrade minikube"
**This is a Feature Request**

**What would you like to be added**
Add a page that either:
- tells the reader how to upgrade an existing minikube deployment to be at the latest supported minikube release
- signposts the reader to external documentation on how to achieve the same thing

**Why is this needed**
If use the build-in docs search for “upgrade minikube”, I don't find anything. I think I s

[2019-10-13 19:11] sftim commented on #16866
/language en
/priority backlog

[2019-10-13 21:54] sftim opened #16868 "Add diagrams to Controller concept page"
**This is a Feature Request**

**What would you like to be added**
Amend https://kubernetes.io/docs/concepts/architecture/controller/
- Add a diagram that illustrates a control loop in the cybernetics sense (eg, a thermostat)
- Add another diagram, similar to the first, that shows a ReplicaSet ensuring the correct number of Pods are running.

**Why is this needed**
Diagram will help new readers un

[2019-10-13 21:54] sftim commented on #16868
/kind feature
/priority backlog

[2019-10-13 21:54] sftim commented on #13332
/remove-lifecycle rotten

[2019-10-13 21:54] sftim commented on #13332
@SupriyaSirbi did you make a start on the diagram that you mentioned?

[2019-10-13 22:18] mrbobbytables commented on #15651
I commented in #16840 but I think @aimeeu is correct. It is valid python syntax. I also couldn't actually find any references to `sys.stdin.lines())`

If there are no other comments, I think this can be closed.

[2019-10-14 03:57] SupriyaSirbi commented on #13332
Hello @sftim I shall submit a PR by end of this week. I have starting making the diagram and will soon submit the PR. Thanks

[2019-10-14 05:54] ysyukr opened #16877 "Issue with docs/concepts/architecture/controller.md URL links are mixed in the document."
**This is a Bug Report**

**Problem:**
Unlike other documents, links in the document are listed as full URLs.
ex)
Cluster autoscaling - https://kubernetes.io/docs/tasks/administer-cluster/cluster-management/#cluster-autoscaling
Kubernetes control plane - https://kubernetes.io/docs/concepts/#kubernetes-control-plane
Kubernetes objects - https://kubernetes.io/docs/concepts/#kubernetes-objects

**Pro

[2019-10-14 05:54] ysyukr commented on #16877
/assign

[2019-10-14 06:22] #16833 closed

[2019-10-14 08:33] #14070 closed

[2019-10-14 09:55] sftim commented on #15651
/remove-good-first-issue

[2019-10-14 09:56] sftim commented on #16877
Good spot
/kind cleanup
/priority backlog

[2019-10-14 12:31] vishakhanihore commented on #15651
/unassign

[2019-10-14 13:34] mrbobbytables commented on #15651
As the original content looks good -- going to go ahead and close this issue.

@kingmax-chan If you have some other supporting information for changing it to `sys.stdin.lines()`, please link to it and reopen the issue.

Thanks!

/close

[2019-10-14 13:34] #15651 closed

[2019-10-14 17:46] sftim opened #16906 "Access Clusters Using the Kubernetes API has outdate list of official client libraries"
**This is a Bug Report**

**Problem:** [Access Clusters Using the Kubernetes API](https://kubernetes.io/docs/tasks/administer-cluster/access-cluster-api/) lists 2 official client libraries: Python and Go[lang]. The trouble is, there are actually [6](https://kubernetes.io/docs/reference/using-api/client-libraries/#officially-supported-kubernetes-client-libraries) (at the time of writing).

**Propos

[2019-10-14 17:51] shub-asa1 commented on #16906
@sftim It will be good if this page have examples of all six libraries with basic explanation.
I would like to add more details . Pls assign me this issue.

[2019-10-14 18:09] sftim commented on #16906
@shub-asa1 it's great to hear that you'd like to sort this out.

If you propose a pull request, and you've [signed the CLA](https://kubernetes.io/docs/contribute/start/#sign-the-cla), that's all that's needed for a review and, I hope, a fix.

[2019-10-14 18:09] sftim commented on #16906
/kind cleanup
/priority important-longterm

[2019-10-14 18:10] sftim commented on #16868
One more thing: if you can, consider how the localization teams can take these diagrams and make them work in different localizations.

[2019-10-14 18:13] sftim commented on #15618
This seems like a valid report and one that could land cluster operators in trouble.
/priority important-soon

[2019-10-14 18:14] sftim commented on #15618
/sig cluster-lifecycle

[2019-10-14 18:14] sftim commented on #15444
/priority important-longterm

[2019-10-14 18:15] sftim commented on #16067
IMO, this should have:
/priority important-longterm

[2019-10-14 18:19] sftim commented on #16327
I think this is fixed. Is that right @SupriyaSirbi ?

I'll also
/remove-good-first-issue
/remove-help
/triage needs-information

[2019-10-14 18:20] sftim commented on #15442
This sounds like a request for help. Have I got that right?

I'm afraid that GitHub is not the right place for support requests.

If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes)

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

/triage support

[2019-10-14 18:20] sftim commented on #14615
/priority backlog

[2019-10-14 18:21] sftim commented on #14615
Did PR #14669 cover this by providing a helpful link?

[2019-10-14 19:50] sftim commented on #14981
@clementlesne there are lots of ways to monitor a cluster. Do you recommend specifically adding Elasticsearch & Metricbeats? An alternative there could be to list each of the many monitoring options that exist.

[2019-10-14 19:50] sftim commented on #14973
/priority backlog

[2019-10-14 19:51] sftim commented on #16772
/priority backlog

[2019-10-14 19:53] sftim commented on #15950
/priority backlog

[2019-10-14 20:05] sftim commented on #15870
@lstday, can you summarize what you have to do to replicate this issue?
I checked these steps and did not see any problem.

/triage needs-information

[2019-10-14 22:09] #13028 closed

[2019-10-14 22:29] christophercarney commented on #16686
Perhaps tweak the wording to include something to the effect of separation of duties? The goal is to explain that the init container concept is more secure because once the init container runs its "DangerousToolX" and successfully bootstraps the pod the init container dies, thus limiting the attack surface (i.e. scripts or other tools) that you don't want lying around in one monolith pod.

[2019-10-14 22:31] #16806 closed

[2019-10-14 22:35] #15741 closed

[2019-10-14 22:51] #13546 closed

[2019-10-14 22:55] #16141 closed

[2019-10-14 22:57] #16211 closed

[2019-10-14 23:30] ysyukr commented on #16877
/close

[2019-10-14 23:30] #16877 closed

[2019-10-15 00:21] ysyukr opened #16908 "Issue with k8s.io/docs/concepts/architecture/nodes/"
**This is a Bug Report**

**Problem:**
Some links in the document are written in full url.

**Proposed Solution:**
Change from full url to inline url.

**Page to Update:**
https://kubernetes.io/docs/concepts/architecture/nodes/

/language en

[2019-10-15 00:21] ysyukr commented on #16908
/assign

[2019-10-15 00:34] SupriyaSirbi commented on #16327
Yes this issue is fixed

[2019-10-15 00:43] ysyukr opened #16911 "Translate workloads/controllers/ttlafterfinished.md in Korean"
**This is a Feature Request**

**What would you like to be added**
Translate workloads/controllers/ttlafterfinished.md in Korean

**Why is this needed**
The following files are not translated into Korean.
- [ ] /en/docs/concepts/workloads/controllers/ttlafterfinished.md

**Comments**
Page to update: https://kubernetes.io/docs/concepts/workloads/controllers/ttlafterfinished/

I am working on transl

[2019-10-15 00:43] ysyukr commented on #16911
/assign

[2019-10-15 02:30] msau42 commented on #16635
For your use case, I would recommend using a shared storage backend like NFS.  All the pods in your service can share the same PVC pointing to the same NFS share.  And each service will have its own sharable PVC.

[2019-10-15 02:53] rarean opened #16916 "Broken link in content/en/docs/reference/access-authn-authz/authentication.md"
**This is a Bug Report**

**Problem:**
Broken link to UAA setup instructions http://apigee.com/about/blog/engineering/kubernetes-authentication-enterprise
according to wayback machine this was removed circa 2017

**Proposed Solution:**
remove link or change link to UAA github site https://github.com/cloudfoundry/uaa
Also propose updating Dex setup instructions to 2018 New Stack article by Joel Spe

[2019-10-15 07:53] lukos commented on #16635
Thanks @msau42 I have found a solution doing exactly what you have said although it would be cool to be more explicit about this in the docs since it is a very common use-case that is not clearly discussed. I am happy to create a PR if that is desirable?

[2019-10-15 07:56] kakts commented on #14848
Sorry I still work in progress.

[2019-10-15 08:42] sftim commented on #5993
All remaining work (that is listed) is already started
/remove-good-first-issue

[2019-10-15 10:39] agemooij commented on #14615
@sftim  yes, that's great. Thanks!

[2019-10-15 10:39] #14615 closed

[2019-10-15 11:43] furukawa3 commented on #8843
/assign  I'll try to fix it.

[2019-10-15 12:00] hvaara commented on #8843
Thanks for looking at this @furukawa3! 🎉 In order for the bot to recognize commands each one has to be on a new line. I took the liberty of assigning you

/assign @furukawa3
/lifecycle active

[2019-10-15 12:12] savitharaghunathan commented on #16635
Thank you @msau42 for the input. @lukos, please feel free to create a PR. If you would like to collaborate on creating a task page, let me know. Otherwise I will Unassign myself.

[2019-10-15 12:22] sftim commented on #16327
/close

[2019-10-15 12:22] #16327 closed

[2019-10-15 14:30] furukawa3 commented on #8843
Oops!!  Thanks @hvaara for assigning :)

[2019-10-15 15:49] christophercarney commented on #16729
Page referenced: https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/#create-configmaps-from-files

I agree this is confusing for users as the documentation does mention it in passing as if it is a feature but it is actually supposed to be a warning.

**Proposed Solution:** Adjust the wording to make it clear that this is a warning rather than a feature

@shaktiprasadr

[2019-10-15 17:00] sftim commented on #16729
The page states:

I have not tried this, TBH. It sounds like kubectl ought to warn people if `--from-file` is specified more than once (that'd be a separate issue against kubectl).

If kubectl doesn't have that warning but kinda should, then the documentation should have a warning instead. IMO.

[2019-10-15 17:18] aimeeu commented on #16916
Thanks @rarean for reporting this issue!

/priority important-soon

/assign

[2019-10-15 17:19] christophercarney commented on #16729
It looks like the distinction then is between `--from-file` and `--from-env-file`. For the latter:

So it looks like the `--from-file` is the more robust preferred option, but `--from-env-file` may be supported for legacy reasons, but I'd have to confirm

[2019-10-16 04:09] furukawa3 commented on #8843
1 question.  Could you tell me what kind of browser does k8s document page support?  Currently, I try to fix Safari first.  ( I also found the similar error with IE 11.0.146.  Only "language" Sub-nav was wrong. )

![ie11](https://user-images.githubusercontent.com/8042145/66887498-2b6cad00-f016-11e9-8edd-eccc57fa342d.png)

[2019-10-16 07:19] idealhack commented on #8843
@furukawa3 san, thanks for looking at this!

From what I can confirm, this sub-sav works with Chrome and FireFox, but not work with Safari.

[2019-10-16 10:20] tanjunchen opened #16964 "There links aren't showed in th pages In my view ."
**This is a Bug Report**

https://github.com/kubernetes/website/edit/master/content/en/docs/setup/best-practices/certificates.md#L141,#L143

These links  maybe are bugs

**Problem:**
There links aren't showed in th pages In my  view.
**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-10-16 10:22] tanjunchen commented on #16964
@Rajakavitha1

[2019-10-16 12:01] gauravshremayee opened #16972 "Issue with k8s.io/docs/tasks/job/automated-tasks-with-cron-jobs/"
**This is a Bug Report**

kubectl get jobs --watch

provides below output:

hello3-1571226960   0/1                      3m57s
hello3-1571227020   0/1                      2m57s
hello3-1571227080   0/1                      116s
hello3-1571227140   0/1                      64s
hello3-1571227200   0/1                      3s

pods=$(kubectl get pods --selector=job-name=hello3-1571226540 --output=jso

[2019-10-16 12:13] mumutyal opened #16975 "Issue with k8s.io/docs/concepts/configuration/taint-and-toleration/"
**This is a Bug Report**

**Problem:**

While trying to pass the tolerations through the command line arguments getting the error

root@jupiter-vm1117:# helm install --set image.tolerations={key=key\,operator=Equal\,value=value\,effect=NoSchedule}  helm/ibm-block-storage-attacher  --name bxinstall --debug
[debug] Created tunnel using local port: '34630'

[debug] SERVER: "127.0.0.1:34630"

[debug]

[2019-10-16 14:38] aimeeu opened #16977 "Start contributing page: Add section on how to create a good commit message and PR description"
**This is a Feature Request**

**What would you like to be added**
Add section to Contributing docs on how to create a good commit message and PR description

**Why is this needed**
Good commit messages and PR descriptions are essential for 1) reviewers and approvers to understand the PR; 2) historical discovery when something goes wrong; and 3) when someone wants to see the history of a file. I s

[2019-10-16 14:38] aimeeu commented on #16977
/priority backlog

[2019-10-16 15:01] tanjunchen commented on #16964
Understand thanks发自我的iPhone------------------ Original ------------------From: aimeeu  <notifications@github.com>Date: Wed,Oct 16,2019 10:57 PMTo: kubernetes/website <website@noreply.github.com>Cc: 陈谭军 <tanjunchen20@gmail.com>, Mention <mention@noreply.github.com>Subject: Re: [kubernetes/website] There links aren't showed in th pages In myview .  (#16964)Hi @tanjunchen -
Lines 141-143 are markdown

[2019-10-16 17:34] shub-asa1 commented on #16972
@gauravshremayee try this command $(kubectl get pods --selector=job-name=hello3-1571226540 --output=jsonpath={.items[*].metadata.name});

[2019-10-16 21:10] gauravshremayee commented on #16972
kubectl job --watch
returns multiple jobs for hello3

hello3-1571259660   0/1                      7m30s
hello3-1571259720   0/1                      6m26s
hello3-1571259780   0/1                      5m22s
hello3-1571259840   0/1                      4m29s
hello3-1571259900   0/1                      3m23s
hello3-1571259960   0/1                      2m30s
hello3-1571260020   0/1

[2019-10-16 21:15] gauravshremayee opened #16981 "Issue with k8s.io/docs/concepts/extend-kubernetes/service-catalog/"
**This is a Bug Report**

**Problem:**
No Good Example to run on google cloud shell.
Only overview is given at the page.
Please provide a basic simple example of service broker ,so that i can connect it to use any external services like AWS,Azure,MySQL etc

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/concepts/extend-kubernetes/service-catalog/

[2019-10-16 23:46] #16916 closed

[2019-10-17 00:56] #15914 closed

[2019-10-17 03:06] qiyongxiao opened #16986 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/"
The calico cni is not worked with calico/kube-controllers:v3.8.3. While deploy it, the pod's status is CrashLoopBackOff. use ```kubectl logs``` show the message:
[code]

[2019-10-17 03:09] #14398 closed

[2019-10-17 04:24] SupriyaSirbi commented on #16977
Hello @aimeeu I am interested in working on this issue. I shall submit a PR for the same. Thanks

[2019-10-17 07:41] smirnov-mi opened #16998 "dead links in k8s.io/docs/reference/setup-tools/kubeadm/kubeadm-join/"
**This is a Bug Report**

**Problem:**
Dead links on the "kubeadm join" page:

kubeadm - kubeadm: easily bootstrap a secure Kubernetes cluster
kubeadm join phase - Use this command to invoke single phase of the join workflow

**Proposed Solution:**
fix them

[2019-10-17 08:29] ialidzhikov commented on #16605
This should be fixed with #16712.
@sftim , @oke-py , I think we can close this one.

[2019-10-17 10:06] xichengliudui commented on #16615
@Whatafack ，Some issues have been fixed on the home page and release1.14 has been incorporated into release1.16
ref： https://github.com/kubernetes/website/pull/16805、https://github.com/kubernetes/website/pull/16755、https://github.com/kubernetes/website/pull/16584

[2019-10-17 10:06] xichengliudui commented on #16615
/close

[2019-10-17 10:06] #16615 closed

[2019-10-17 11:06] BenHall commented on #16829
Sorry for the delay on this. We thought it had a larger impact than it did.

The fix was applied in https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios/commit/839fc4c2160f821194418d16bf14c1cde9512cb5

[2019-10-17 11:06] BenHall commented on #15512
Sorry for the delay on this. We thought it had a larger impact than it did.

The fix was applied in https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios/commit/839fc4c2160f821194418d16bf14c1cde9512cb5

[2019-10-17 11:07] BenHall commented on #16589
Sorry for the delay on this. We thought it had a larger impact than it did.

The fix was applied in https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios/commit/839fc4c2160f821194418d16bf14c1cde9512cb5

[2019-10-17 11:11] tomfrenken commented on #16829
Neat

[2019-10-17 11:11] #16829 closed

[2019-10-17 11:21] petetnt commented on #4290
@chrissound

Probably not documented, but the format is `<name>@sha256:digest`

[2019-10-17 11:23] sftim commented on #16589
I'm happy to
/close

[2019-10-17 11:23] #16589 closed

[2019-10-17 11:24] sftim commented on #15512
I'm happy to
/close

[2019-10-17 11:24] #15512 closed

[2019-10-17 11:49] eversor1 opened #17001 "Improvement for k8s.io/docs/tutorials/kubernetes-basics/explore/explore-intro/"
The title of this page is Viewing Pods and Nodes, and throughout the entire page there is not one single example of a command or explanation of a command format that allows you to do either (view Pods or Nodes).

[2019-10-17 11:57] neolit123 commented on #16986
hello, there is a bug with calico CNI 3.8.3 and this should be fixed in 3.8.4.
this is the fix:
https://github.com/projectcalico/kube-controllers/pull/422

you can try 3.9.x in the meantime or use another CNI.
thanks

/close
/sig cluster-lifecycle

[2019-10-17 11:57] #16986 closed

[2019-10-17 12:00] neolit123 commented on #16998
/help
/sig cluster-lifecycle
/kind bug

thanks for logging the issue

[2019-10-17 12:00] neolit123 commented on #16998
/assign

[2019-10-17 12:02] neolit123 commented on #16998
/remove-help

[2019-10-17 12:54] ravening opened #17003 "Issue with k8s.io/docs/tasks/access-application-cluster/connecting-frontend-backend/"
**This is a Bug Report**

**Unable to access the frontend service from master node using curl**

**After deploying the frontend service using the type load balancer, I got the public IP from my cloud provider but I am unable to access the port using the external IP from the master node. However, I can only fetch the data from worker nodes

From master node

$ curl http://{EXTERNAL-IP}
curl: (52) E

[2019-10-17 13:13] #16975 closed

[2019-10-17 14:11] neolit123 commented on #16998
/unassign
/remove-sig cluster-lifecycle
/sig docs

/assign @tengqm @jimangel

it seems this generated file contains invalid links at the bottom under "see also":
https://github.com/kubernetes/website/blob/master/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join.md

preview:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-join/#options-inherited-from-parent-comma

[2019-10-17 14:12] savitharaghunathan commented on #17001
/assign
/language en
/kind feature
/priority backlog

[2019-10-17 14:14] savitharaghunathan commented on #16635
@lukos, Are you still interested to work on this issue?

[2019-10-17 14:22] djschny commented on #16986
See a summary of the issue here - https://github.com/projectcalico/kube-controllers/issues/420

[2019-10-17 17:11] hobnob11 opened #17009 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/"
**This is a Bug Report**

**Problem:**
At no point does this guide mention the package "kubernetes-cni", which is required for (at the very least, Kube-Router) network addons to work.
**Proposed Solution:**
Instruct users to `dnf install kubernetes-cni` during installation.
**Page to Update:**
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/

Additional Inform

[2019-10-17 17:41] neolit123 commented on #17009
we prefer to not mention the kubernetes-cni package. currently it's a transitive dependency and should have been installed for you if you used rpm instead of dnf?
https://github.com/kubernetes/release/blob/master/build/rpms/kubelet.spec#L36
is that a dnf bug?

in the very near future kubernetes-cni will be removed and its contents folded into the kubelet package.

please continue the discussion if

[2019-10-17 17:41] #17009 closed

[2019-10-17 17:44] sftim commented on #17003
@rakgenius I'd assume that `curl http://{<EXTERNAL-IP}` works from your PC as well? If the service is accessible on the internet but not on the control plane host (aka master), that might be a special situation that's more nuanced than the documentation can reasonably cover.

[2019-10-17 17:47] sftim commented on #16972
/priority backlog

[2019-10-17 17:48] sftim commented on #16908
/priority backlog
/kind cleanup

[2019-10-17 17:48] sftim commented on #16911
/priority backlog

[2019-10-17 17:49] sftim commented on #13017
Similar to #16981

[2019-10-17 17:51] sftim commented on #16981
I'm not not sure that Kubernetes service catalog is a good match for the words “basic” or “simple”; to me, it looks complex.
Anyway, this seems like a valid request.
/kind feature
/priority backlog

[2019-10-17 18:01] rakgenius commented on #17003
No.. It's not reachable from my PC as well

[2019-10-17 18:07] randomvariable commented on #13017
Not sure if that PR is enough to address the issues. The entire page is about installing the service catalog using GCP binaries with automated integration to Google Cloud. It's additionally deprecated, so the version it deploys is out of date.

Probably better to remove completely or link to https://github.com/kubernetes-sigs/service-catalog/blob/master/docs/install.md which covers the cloud-provi

[2019-10-17 21:11] aimeeu commented on #16998
The links in the markdown files are correct and point to other markdown files in github.  The generated files replaced github.com with kubernetes.io.

In https://github.com/kubernetes/website/blob/master/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join.md, L224-225:
[code]
The links should point to GitHub files.

But in https://kubernetes.io/docs/reference/setup-tools/kubeadm/k

[2019-10-17 21:20] aimeeu commented on #15998
Thanks for reporting this @dsbrng25b . This issue was fixed in PR #16570 so I'm closing this issue. Thanks.

/close

[2019-10-17 21:20] #15998 closed

[2019-10-17 21:22] aimeeu commented on #16218
/priority important-soon
/sig docs

[2019-10-17 21:24] aimeeu commented on #16729
/priority important-soon

[2019-10-17 21:26] aimeeu commented on #15603
/sig cluster-lifecycle

[2019-10-17 21:39] sftim opened #17014 "Review “Securing a cluster”"
**Page to review**

**What would you like to be added**
https://kubernetes.io/docs/tasks/administer-cluster/securing-a-cluster/ mentions Kubernetes v1.7
Review this page, removing references to Kubernetes versions that are earlier than what's [supported](https://kubernetes.io/docs/setup/release/version-skew-policy/#supported-versions), and revising wording to suit.

**Why is this needed**
The docu

[2019-10-17 21:45] sftim opened #17015 "Review “Resource metrics” pipeline"
**Page to review**
https://kubernetes.io/docs/tasks/debug-application-cluster/resource-metrics-pipeline/ mentions Kubernetes v1.8
Review this page, removing references to Kubernetes versions that are earlier than what's [supported](https://kubernetes.io/docs/setup/release/version-skew-policy/#supported-versions), and revising wording to suit.

**Why is this needed**
The documentation usually can a

[2019-10-17 21:47] sftim commented on #17003
This sounds like an issue that will be specific to the cloud provider that you're using.
For that reason @rakgenius I'm going to characterize this as a request for support, rather than a report of a shortcoming in the documentation.

However, if you can identify what's not right about that page, and especially if it's a shortcoming that's generic across different utility computing vendors, then pl

[2019-10-17 21:49] sftim commented on #15057
@fooka03 can you confirm which page is missing the information you've mentioned?

[2019-10-17 22:00] sftim commented on #4493
Relevant PR: #17004

[2019-10-17 22:35] fooka03 commented on #15057
@sftim it is this page, I'll update the description to include it as well.

https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet-authentication-authorization/#kubelet-authorization

[2019-10-18 00:45] qiyongxiao commented on #16986
@neolit123 I known. Already use other version

[2019-10-18 10:16] TatchNicolas commented on #15552
/assign

[2019-10-18 11:30] gauravshremayee opened #17025 "Issue with k8s.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/"
**This is a Bug Report**

**Problem:**

kubectl apply -k ./ . doesn't work

unknown shorthand flag: 'k' in -k

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/

cat kustomization.yaml
  resources:
    - mysql-deployment.yaml
    - wordpress-deployment.yaml

[2019-10-18 13:38] cueo commented on #12765
@Skull0ne The configuration mentioned in the doc is for api version `autoscaling/v2beta2`. You are probably trying to apply the configuration in an older version.

[2019-10-18 13:40] miteshskj commented on #17014
/assign

[2019-10-18 14:45] miteshskj commented on #17015
@sftim - Is the intent to remove all references to versions (eg: feature foo was introduced in 1.x) or just where it's a requirement (eg: feature foo works with 1.+ or minimum version required is 1.x)? where 1.x is an unsupported version.

[2019-10-18 15:04] rakgenius commented on #17003
Thanks for the help

[2019-10-18 15:39] aimeeu commented on #17025
Thanks @gauravshremayee for creating this issue.

/priority important-soon
/sig docs

[2019-10-18 15:41] aimeeu commented on #17015
/priority important-longterm

[2019-10-18 15:41] aimeeu commented on #17014
/priority important-longterm

[2019-10-18 16:13] sftim commented on #17015
@miteshskj All references to unsupported versions. Anyone interested in history would, I think, be more likely to look at release notes or Git commit logs anyway.

Imagine that all pages start with “_The following text assumes your cluster is running Kubernetes v1.12 or newer_” (v1.12 because right now v1.12 is the oldest supported version), and that's why you can omit information about older vers

[2019-10-18 16:14] sftim commented on #16981
/sig service-catalog
?

[2019-10-18 16:14] sftim commented on #16830
/sig storage

[2019-10-18 16:15] sftim commented on #16776
/sig kubefed

[2019-10-18 16:16] sftim commented on #16456
Think this is done.
@CosmicSage do you agree?

[2019-10-18 16:17] sftim commented on #16085
/remove-priority important-longterm

[2019-10-18 16:41] miteshskj commented on #17015
/assign

[2019-10-18 18:00] michelle192837 opened #17029 "Unable to marshal archetypes/default.md into YAML"
Getting an error in Prow when trying to marshal YAML:

jsonPayload: {
  base: "master"
  client: "repoowners"
  component: "hook"
  error: "error converting YAML to JSON: yaml: line 1: did not find expected key"
  file: "prow/repoowners/repoowners.go:415"
  func: "k8s.io/test-infra/prow/repoowners.(*RepoOwners).walkFunc"
  level: "error"
  msg: "Error decoding OWNERS config from '*.md' file."
  or

[2019-10-18 18:17] RafaelMassoniSS commented on #13939
Hi @femrtnz ! I'd like to translate **Overview** ("content/id/docs/concepts/overview/working-with-objects/names.md"). Can you assign me?

[2019-10-18 18:17] rafaelrubbioli commented on #13939
Hi! I would like to translate the `Contribute landing` to portuguese

[2019-10-18 18:27] jcjesus commented on #13939
Hi Rafael, please, can you do the steps in the **For New Contributors** topic?
Thanks

[2019-10-18 19:45] zacharysarah commented on #16085
/project 8

[2019-10-18 19:45] kbhawkey commented on #17029
hello @michelle192837 . Can you provide more details about the problem? The file, `default.md` is an archetype file:
https://gohugo.io/content-management/archetypes/#what-are-archetypes

[2019-10-18 19:48] zacharysarah commented on #16085
/project Doc Sprints

[2019-10-18 20:12] aimeeu commented on #16866
@sftim - minikube has its own external [docs](https://minikube.sigs.k8s.io/docs/); the minikube folks were cleaning up dual-source content (https://github.com/kubernetes/website/issues/15969) until it was put on hold because of the KEP.  So rather than adding a page, how about just pointing to the minikube docs?

[2019-10-18 22:15] michelle192837 commented on #17029
Ah, suspected that. :( So the issue appears to be that Prow parses '.md' files with YAML headers to see if there are per-file OWNERS specified, but it can't parse the YAML header here because it's invalid YAML, and marshalling it just errors. But yeah, this does look like a valid file for your use case.

I'm not 100% sure what the YAML marshalling error is, aside from the error above? Sounds like

[2019-10-18 22:50] kbhawkey commented on #17029
@michelle192837 , The file is using templating. Can you skip this file?

[2019-10-19 05:48] wahyuoi commented on #15341
I'm taking from Organize Cluster Access Kubeconfig from `content/id/docs/concepts`

[2019-10-20 12:08] wahyuoi commented on #15341
Hi, I'm taking another one, `Service Catalog` from `Extend Kubernetes`

[2019-10-20 12:39] prabangkoro commented on #15341
Hi, I'm taking `Network Plugins` from `Extend Kubernetes`

[2019-10-20 12:46] aido123 opened #17044 "Issue with k8s.io/docs/tasks/administer-cluster/ip-masq-agent/"
**This is a Bug Report**

In the diagram, bridge cbr0 and pod1 will NOT have the same ip address right?

**Proposed Solution:**
Change to another address in the block, i.e. 10.1.1.5

**Page to Update:**
https://kubernetes.io/docs/tasks/administer-cluster/ip-masq-agent/

na

na

[2019-10-20 13:06] miteshskj commented on #15161
/remove-lifecycle stale

[2019-10-20 13:06] miteshskj commented on #15161
/assign

[2019-10-21 02:16] ysyukr opened #17056 "en: Change the full link in the document to an inline link."
### Change to inline URL for inconsistent full URLs and inline URLs.

### following command
`grep -r "https \: \ / \ / kubernetes \ .io" content/en/docs`

### Changed to inline link except the following list.
- URLs are mentioned directly in the body
- release note
- url to blog
- url to community
- Url to be redirected

### Chagned docs list.
- [ ] /en/docs/concepts/architecture/nodes
- [ ] /en/d

[2019-10-21 02:16] ysyukr commented on #17056
/assign

[2019-10-21 02:47] ysyukr opened #17058 "Ko: Change the full link in the document to an inline link."
### Change to inline URL for inconsistent full URLs and inline URLs.

### following command
`grep -r "https \: \ / \ / kubernetes \ .io" content/ko/docs`

### Changed to inline link except the following list.
- URLs are mentioned directly in the body
- release note
- url to blog
- url to community
- Url to be redirected

### Changed docs list.
- [ ] /ko/docs/concepts/architecture/nodes
- [ ] /ko/d

[2019-10-21 06:53] ysyukr commented on #17058
/assign

[2019-10-21 08:00] kgupta12345 opened #17068 "Issue with k8s.io/docs/concepts/workloads/controllers/replicaset/"
####  Using the same yml mentioned in the tutorial

apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: frontend
  labels:
    app: guestbook
    tier: frontend
spec:
  replicas: 3
  selector:
    matchLabels:
      tier: frontend
  template:
    metadata:
      labels:
        tier: frontend
    spec:
      containers:
      - name: php-redis
        image: gcr.io/google_samples/gb-frontend:v3

[2019-10-21 08:56] fokusferit opened #17070 "Remove insensitive wordings from the docs like just - easy or - simple"
**This is a Feature Request**

My feature request is about leveling up the documentation text and wording to be less insensitive and inconsiderate language.

There are great tools out there these days, like [alexjs](https://alexjs.com/) which makes it possible to catch phrases like "Just", "easy" or "simple".

Using alexjs also shows certain words which are common to kubernetes domain, e.g. `host`

[2019-10-21 12:26] davidthewatson opened #17074 "Hpa link on k8s.io/docs/concepts/cluster-administration/federation/ is broken"
The Hpa link in this page is generates a 404. The link is to: https://kubernetes.io/docs/tasks/administer-federation/hpa/

[2019-10-21 13:20] miteshskj commented on #17074
/assign

@davidthewatson  Thanks for reporting this. Except for Services, all the links under API resources are broken.

[2019-10-21 14:09] #17074 closed

[2019-10-21 16:10] aimeeu commented on #15748
KEP:  https://github.com/kubernetes/enhancements/pull/1327

[2019-10-21 16:11] aimeeu commented on #16143
KEP:  https://github.com/kubernetes/enhancements/pull/1327

[2019-10-21 16:12] aimeeu commented on #16527
KEP: https://github.com/kubernetes/enhancements/pull/1327

[2019-10-21 16:29] aimeeu commented on #16998
@tengqm, @jimangel any thoughts on how to fix this issue?

[2019-10-21 16:53] aimeeu commented on #17070
@fokusferit  - thanks for your excellent feedback! I have to find out if SIG Docs can add a tool like this. In the meantime, would you like to open a PR to update the start.md page?

/sig docs
/kind feature
/priority backlog

[2019-10-21 17:09] aimeeu commented on #15682
Add software versions to  script documentation https://github.com/kubernetes/website/pull/16777

[2019-10-21 20:05] kbhawkey commented on #16998
@neolit123 , Since there are static links in the `What's next` section on each `kubeadm command` page, is the generated `See Also` section needed?

[2019-10-21 20:43] neolit123 commented on #16998
I don't think it's needed. Ideally we should remove it.

[2019-10-21 20:48] kbhawkey commented on #16998
OK. Then the link errors would be resolved, correct?

[2019-10-21 21:02] dsbos opened #17086 "unclear wording about kubectl cluster-info k8s.io/docs/tasks/access-application-cluster/access-cluster/"
**This is a Bug Report**

**Problem:**
The text says:

"As mentioned above, you use the `kubectl cluster-info` command to retrieve the service’s proxy URL."

That wording sounds like you can use the `kubectl cluster-info` command to get the proxy URL for a given (specified) service.

However, `kubectl cluster-info` (seemingly) doesn't take any parameter to specify a service, and (seemingly) retrie

[2019-10-21 21:42] savitharaghunathan commented on #17068
/language en
/priority backlog
/lifecycle active
/kind bug

[2019-10-21 21:43] savitharaghunathan commented on #17068
/assign shub-asa1

[2019-10-22 03:10] tengqm commented on #16998
I'm trapped by some company projects recently. Would try allocate some time for code review though.

[2019-10-22 07:31] Dieken opened #17100 "wrong content-type for some blogs at k8s.io/blog/"
**This is a Bug Report**

**Problem:**

[code]

At least these blogs have wrong content-type 'application/octet-stream', for example:
[code]

**Proposed Solution:**

Local `hugo serve` works, so I guess it's a misconfiguration on the server side.

**Page to Update:**

At lease these pages:

https://kubernetes.io/blog/2016/03/kubernetes-1.2-and-simplifying-advanced-networking-with-ingress/
https://

[2019-10-22 09:01] khteh commented on #16479
Exactly what I described in my original post. The documentation presents custom metrics, `Object` in this case but doesn't show the solution which collects the object and send it to the HPA.

[2019-10-22 09:29] ChaitanyaKaranam opened #17104 "Accessibility Updates - "main" landmark roles"
**This is a Feature Request**

 **What would you like to be added**
Need to landmark role ``main`` in the document to indicate primary content.

**Why is this needed**

From [MDN](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Main_role)

**Comments**
There are multiple ``main`` elements within the document. There can be only one per page.
Need to add ``main`` element to doc

[2019-10-22 09:30] sftim commented on #17100
/kind bug
/priority important-soon
(I think)

[2019-10-22 09:30] ChaitanyaKaranam commented on #17104
Related to [umbrella](https://github.com/kubernetes/website/issues/16675) issue

[2019-10-22 09:30] sftim commented on #17058
/kind cleanup
/priority backlog

[2019-10-22 09:30] sftim commented on #17056
/kind cleanup
/priority backlog

[2019-10-22 09:30] ChaitanyaKaranam commented on #17104
/lifecycle active

[2019-10-22 10:07] miteshskj opened #17108 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro/"
**This is a Bug Report**

**Problem:**
The feedback and create issue buttons on this page (and other pages under the k8s.io/docs/tutorials/kubernetes-basics section) are inconsistent with rest of the pages in documentation.

**Page to Update:**
Pages under - k8s.io/docs/tutorials/kubernetes-basics/

Screen shot of issue:
![Small-text](https://user-images.githubusercontent.com/47820816/67276233-daf

[2019-10-22 10:49] OJFord commented on #15319
/remove-lifecycle stale

[2019-10-22 11:14] GYCocoa opened #17112 "Issue with k8s.io/zh/docs/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-10-22 12:01] miteshskj opened #17113 "Issue with k8s.io/docs/reference/"
**This is a Bug Report**

**Problem:**
Broken link for [federation-apiserver](https://kubernetes.io/docs/reference/command-line-tools-reference/federation-apiserver/) and [federation-controller-manager](https://kubernetes.io/docs/reference/command-line-tools-reference/federation-controller-manager/)

**Proposed Solution:**
Fix broken links.

**Page to Update:**
k8s.io/docs/reference/

[2019-10-22 12:02] miteshskj commented on #17113
/assign

[2019-10-22 12:09] delormej opened #17114 "Improvement for k8s.io/docs/concepts/cluster-administration/addons/"
As this is a page in the "concepts" section, it would be helpful to understand the concept of an addon, rather than just listing a bunch of addons.  I came to the page hoping to understand exactly where addons fit, and why use an addon vs. just deploying a daemonset or an operator with CRDs and custom controllers.  What is the scope of an addon, what can it do? How exactly do you build an addon, e

[2019-10-22 12:10] miteshskj commented on #17113
@thecrudge  the documents these links point to were removed by this PR  -https://github.com/kubernetes/website/pull/14140
 federation-apiserver > content/en/docs/reference/command-line-tools-reference/federation-apiserver.md
federation-controller-manager > content/en/docs/reference/command-line-tools-reference/federation-controller-manager.md

I believe as part of federation v1 remediations. Shall

[2019-10-22 13:21] thiago-barros-souza opened #17116 "Issue with k8s.io/pt/docs/home/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-10-22 13:57] kakts opened #17118 "Translate concepts/scheduling/kube-scheduler/ in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/services-networking/service/  in Japanese.

**Why is this needed**
This document is not translated in Japanese.
**Comments**

Copy a file from en contents to content/ja/docs/concepts/scheduling/kube-scheduler.md and translate it into Japanese.

[2019-10-22 13:57] kakts commented on #17118
/language ja
/assign

[2019-10-22 14:05] kakts opened #17119 "Translate concepts/scheduling/scheduler-perf-tuning/ in Japanese"
**This is a Feature Request**

**What would you like to be added**

**Why is this needed**
This document is not translated in Japanese.

**Comments**

Copy a file from en contents to content/ja/docs/concepts/scheduling/scheduler-perf-tuning.md and translate it into Japanese.

[2019-10-22 14:05] kakts commented on #17119
/language ja
/assign

[2019-10-22 16:47] miteshskj commented on #17116
@thiago-barros-souza  - Please provide the description for this issue.

[2019-10-22 17:01] 2rs2ts commented on #14215
/remove-lifecycle rotten

[2019-10-22 17:51] bscheller-iso opened #17125 "Improvement for kubernetes.io/de/docs/concepts/"
**This is a Bug Report**

**Problem:**
the german translation could be more sophisticated

**Proposed Solution:**
gerna translation based on the corresponding english version

**Page to Update:**
https://kubernetes.io/de/docs/concepts/

Kubernetes Version:
1.16

[2019-10-23 07:52] ysyukr commented on #16856
/close

[2019-10-23 07:52] #16856 closed

[2019-10-23 07:53] ysyukr commented on #16717
/close

[2019-10-23 07:53] #16717 closed

[2019-10-23 10:14] heywood8 opened #17140 "Issue with k8s.io/docs/tutorials/kubernetes-basics/scale/scale-interactive/"
**This is a Bug Report**

**Problem:**

Module 5 - Scale up your app
Step 1: Scaling a deployment

says:

After entering
`kubectl get deployments`

i get

So there is no "READY" column

**Proposed Solution:**

Remove line about `READY` column

[2019-10-23 10:26] heywood8 commented on #17140
After reloading the page it now shows all correctly. Closing

[2019-10-23 10:26] #17140 closed

[2019-10-23 12:50] miteshskj commented on #17025
@gauravshremayee - The command works fine for me, I am running kubectl version 1.16.
The -k option (kustomize) was added in 1.14. Can you confirm if your version is 1.14+

[2019-10-23 13:43] ysyukr commented on #17056
/close

[2019-10-23 13:43] #17056 closed

[2019-10-23 15:18] #17015 closed

[2019-10-23 15:30] #16759 closed

[2019-10-23 15:38] kararade commented on #13948
hey guys, I would like to contribute with `docs/concepts/configuration/`, I will start with `docs/concepts/configuration/organize-cluster-access-kubeconfig.md`
Thanks!

[2019-10-23 15:42] #15906 closed

[2019-10-23 15:54] aimeeu commented on #17125
/language de

[2019-10-23 15:56] #15937 closed

[2019-10-23 15:59] mohammedabdulmajid opened #17148 "Add examples to kube-proxy reference documentation"
Please provide the some examples with different options

[2019-10-23 15:59] aimeeu commented on #17116
/triage needs-information

[2019-10-23 16:01] aimeeu commented on #17112
@GYCocoa Would you please add more information to this bug report?

/triage needs-information
/language zh

[2019-10-23 16:02] aimeeu commented on #17114
/sig docs

[2019-10-23 16:05] aimeeu commented on #17113
/kind bug
/priority important-soon

[2019-10-23 16:13] aimeeu commented on #17044
Thanks @aido123 for your feedback!
@rramkumar1 or @jingax10 - can you answer the question? and do we need to update the diagram?

/sig network

[2019-10-23 16:20] aimeeu commented on #17086
@dsbos thank you for your feedback!

The [kubctl Cheat Sheet](https://kubernetes.io/docs/reference/kubectl/cheatsheet/#interacting-with-nodes-and-cluster) states that `kubectl cluster-info` displays addresses of the master and services. The SIG CLI is responsible for kubectl, so I've assigned this issue to them.

/sig cli

[2019-10-23 16:24] aimeeu commented on #17108
/sig docs
/kind bug

[2019-10-23 16:25] aimeeu commented on #17108
/priority backlog

[2019-10-23 16:35] aimeeu commented on #16675
This issue may belong under this umbrella: Remove insensitive wordings from the docs like just - easy or - simple  https://github.com/kubernetes/website/issues/17070

[2019-10-23 17:01] tkzv opened #17149 "Improvement for k8s.io/docs/tasks/configure-pod-container/assign-pods-nodes/"
I'm having trouble running official Metricbeat image on a mixed Windows/Linux cluster. I need a way to ensure the DaemonSet and Deployment use only the nodes with the right label (beta.kubernetes.io/os=linux), but this syntax doesn't seem to work with "kind: DaemonSet" and "kind: Deployment". There should be at least a link to the page that describes how to set parameters for all pods for a given

[2019-10-23 19:13] #14518 closed

[2019-10-23 19:41] savitharaghunathan commented on #17001
/unassign

[2019-10-23 19:42] savitharaghunathan commented on #17149
/kind feature
/priority backlog

[2019-10-23 23:38] cgthayer opened #17153 "Issue with k8s.io/docs/concepts/storage/storage-classes/"
**This is a Bug Report**

**Problem:**

The example for "GCE PD" returns errors on Google Kubernetes Engine

[code]
My file was:

[code]

**Proposed Solution:**
Unknown

**Page to Update:**
https://kubernetes.io/docs/concepts/storage/storage-classes/

[2019-10-24 00:26] kbhawkey commented on #17108
@miteshskj , right, I think I noted this in PR #17051.
- The problem is that most of the tutorial pages link to styles.css, with settings that override a number of the k8s style values. The top nav bar is not correct, in addition to the problems already mentioned in this issue.
- I did some testing, locally. Many of the settings, in styles.css, are not needed. I pared down this file and the tutori

[2019-10-24 01:24] michelle192837 commented on #17029
Not really, but I think for this kind of case we can downgrade the severity. I'll fix it on our side, thanks for the clarifications!

[2019-10-24 01:28] #17029 closed

[2019-10-24 07:44] ysyukr commented on #17058
/close

[2019-10-24 07:44] #17058 closed

[2019-10-24 08:35] RedBaron80 opened #17162 "Confusing text in HorizontalPodAutoscaler task page"
This paragraph is **very** confusing, please rephrase.

[2019-10-24 13:41] b-shchuko opened #17170 "Issue with k8s.io/docs/reference/command-line-tools-reference/kube-scheduler/"
The doc doesn't state what the scheduler is for.

[2019-10-24 17:28] armanzor opened #17173 "Issue with k8s.io/docs/concepts/services-networking/dns-pod-service/"
**This is a Bug Report**

On subject page in section Pod’s DNS Policy there's note:

Looks like it isn't truth. I created deployment without dnsPolicy in pod's template and couldn't get access to URL outside the cluster with error in name resolution. But when I created deployment with
`dnsPolicy: ClusterFirst` explicitly in pod's template, new pod gave access to outside URL

**Proposed Solution:**

[2019-10-24 17:29] dsbos opened #17174 "Issue with https://kubernetes.io/docs/concepts/storage/persistent-volumes/"
**This is a Bug Report**

**Problem:**

The page at
https://kubernetes.io/docs/concepts/storage/persistent-volumes/ currently starts off saying:

  Managing storage is a distinct problem from managing compute.

("Compute" is a verb, and is not really a noun, so that introductory sentence is a bit jarring.)

**Proposed Solution:**

It should say something like:

  Managing storage is a distinct pro

[2019-10-24 19:37] javisabalete commented on #13948
Working on `es/docs/reference/glossary/container-runtime.md`

[2019-10-24 20:29] kbhawkey commented on #17108
/assign

[2019-10-24 20:54] christophercarney commented on #17174
I believe this is just a typo from "computers" but you're right.

[2019-10-25 00:30] kararade commented on #13948
hey @raelga, I'm starting with `es/docs/concepts/workloads/pods/ephemeral-containers.md` 👍

[2019-10-25 01:01] jruales opened #17178 "Document global options in kubectl reference documentation"
**This is a Bug Report**

**Problem:**
Global kubectl command-line options (such as --namespace) aren't included in the kubectl command reference

**Proposed Solution:**
Would it be possible to include global command-line options in the kubectl command reference?

**Page to Update:**
https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands

N/A

[2019-10-25 01:21] jruales opened #17180 "Issue with k8s.io/docs/reference/kubectl/kubectl-cmds/"
**This is a Bug Report**

**Problem:**
Shorthands such as "ns" for "namespace" (`kubectl create ns <name>` vs. `kubectl create namespace <name>`) aren't documented in the kubectl Command Reference (nor in the --help command, for that matter).

**Proposed Solution:**
Would it be possible to include these shortcuts in the kubectl Command Reference?

**Page to Update:**
https://kubernetes.io/docs/ref

[2019-10-25 01:57] vanou opened #17181 "No Recommendation Around Command Example in Doc Which Requires Root Privilege"
**This is a Bug Report**

**Problem:**
In K8s doc, there are command examples which require root privilege. But there is inconsistency of use of `sudo` command in example (e.g. [here](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/)&[here](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/high-availability/) with sudo but [here](ht

[2019-10-25 03:55] hase1128 commented on #15272
@sftim

I have few questions.

Q1:
I handled this issue and do PR, but this PR handle English document only.
I am Japanese. Should I modify Japanese document ( and other language documents)?

Q2:

I'm sorry, I would like to know detail procedure to add my modification into #15374.
(This PR is my first one, so I am not yet familiar with this work...)

[2019-10-25 07:40] gochist opened #17187 "Outdated files in the dev-1.16-ko.4"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.16-ko.4 branch.

### 20 files to be modified
1. [ ] content/en/docs/concepts/architecture/cloud-controller.md 1 file changed, 1 insertion(+), 1 deletion(-)
1. [ ] content/en/docs/concepts/architecture/controller.md 1 file changed, 3 insertions(+), 3 deletions(-)
1. [ ] content/en/docs/concepts/cluster-administration/federation.

[2019-10-25 15:52] fbcbarbosa commented on #12657
Yeah, would just like to add that this is really confusing :| I'm specifically interested in this:

Considering both delays here: `--horizontal-pod-autoscaler-cpu-initialization-period`  and `--horizontal-pod-autoscaler-initial-readiness-delay`.

Might be because I'm not a native English speaker but the paragraph seems contradictory as well?

For example:

Ok, I can kind of get that, although it's

[2019-10-25 16:33] sftim commented on #12657
/sig autoscaling

[2019-10-25 16:33] sftim commented on #17118
/priority backlog

[2019-10-25 18:02] aimeeu commented on #17181
/kind feature
/sig docs
/priority important-longterm

[2019-10-26 00:52] kararade commented on #13948
Working on `content/en/docs/concepts/workloads/pods/podpreset.md` 😄

[2019-10-26 03:13] inductor commented on #15552
/close

[2019-10-26 03:13] #15552 closed

[2019-10-26 03:15] inductor commented on #13646
@kaedemalu どうすか

[2019-10-27 01:43] Maheshkumar-Kakade opened #17215 "Issue with k8s.io/docs/concepts/overview/components/"
**This is a Bug Report**

**Problem:**
In cloud-controller-manager documentation section, version number is incorrect it says release 1.6 but latest release is 1.16, below it text from that section

cloud-controller-manager runs controllers that interact with the underlying cloud providers. The cloud-controller-manager binary is an alpha feature introduced in Kubernetes **release 1.6.**

**Propose

[2019-10-27 04:59] inductor opened #17217 "Translate setup/production-environment/tools/kubeadm/install-kubeadm into Japanese"
**This is a Feature Request**

**What would you like to be added**
Translate setup/production-environment/tools/kubeadm/install-kubeadm into Japanese

**Why is this needed**

This document is not translated in Japanese.

**Comments**

[2019-10-27 04:59] inductor commented on #17217
/assign

[2019-10-27 06:12] k4ch0 commented on #13948
Working on ```content/es/docs/reference/glossary/label.md```

[2019-10-27 10:35] sftim commented on #15057
/priority backlog
This looks like it'll need changing inside [kubernetes/kubernetes](https://github.com/kubernetes/kubernetes/)

[2019-10-27 10:35] sftim commented on #17217
/priority backlog

[2019-10-27 10:35] sftim commented on #17217
/language ja

[2019-10-27 10:37] sftim commented on #17181
What do other projects do for this?

[2019-10-27 10:37] networkandcode opened #17224 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/"
I have installed kubeadm and kubelet separateley as mentioned in the doc.
However I have installed kubelet only on the nodes, not on the master, using apt. But after the installation, I see the kubelet binary on master too.

I am aware that master has a taint on it that prevents Pods from being scheduled on it unless a toleration is applied, such as those applied on networking Pods (calico etc.).

[2019-10-27 10:38] sftim commented on #17170
Ideally, that reference page would link to https://kubernetes.io/docs/concepts/scheduling/

[2019-10-27 10:38] sftim commented on #17170
Seems like a valid improvement
/priority backlog

[2019-10-27 10:39] sftim commented on #16866
Yep, that fits what I had in mind for “signposts the reader to external documentation on how to achieve the same thing”

[2019-10-27 14:45] sftim opened #17232 "Document “container runtime” concept"
**This is a Feature Request**

**What would you like to be added**
- Add a new page to the Concepts section that explains container runtimes
- Make the _container runtime_ glossary page reference the new concept page

**Why is this needed**
Kubernetes supports multiple container runtimes. Readers can expect to find a page that explains the concept.

**Comments**
The existing glossary entry has a b

[2019-10-27 16:18] ChaitanyaKaranam commented on #17104
/close

[2019-10-27 16:18] #17104 closed

[2019-10-27 17:11] #15873 closed

[2019-10-27 19:08] jimangel commented on #17100
I figured this one out after some poking around.

If the blog's front matter `url:` contains a period (usually from a k8s version), Netlify treats it as a file extension.

Example (broken): [source](https://raw.githubusercontent.com/kubernetes/website/master/content/en/blog/_posts/2016-03-00-Kubernetes-1-2-Even-More-Performance-Upgrades-Plus-Easier-Application-Deployment-And-Management-.md)
[code]

[2019-10-27 19:21] #16066 closed

[2019-10-27 20:55] neolit123 commented on #17224
hi, currently the kubeadm package depends on the kubelet.
so by installing kubeadm it also installed the kubelet. hope this answers your question.

ideally we want to remove this direct dependency on the future (package wise), yet kubeadm will still need a kubelet running so that it can add the kube-systems pods.

thanks
/close

[2019-10-27 20:55] #17224 closed

[2019-10-27 21:00] neolit123 commented on #17181
i think the best option is to include notes in relevant locations that "these commands need to be run as root".

[2019-10-28 01:45] #17014 closed

[2019-10-28 02:47] vanou commented on #17181
In terms of *code snippet*, it's better to include `sudo`. However simple look of *no sudo* is also nice.

[2019-10-28 06:25] alexanderkjeldaas opened #17244 "Improvement for k8s.io/docs/tasks/configure-pod-container/pull-image-private-registry/"
In the beginning of this page, the container runtime supported should be mentioned.  It's unclear whether this works for containerd or only docker.

[2019-10-28 07:08] lojies commented on #17215
The  cloud-controller-manager binary is introduced in Kubernetes release 1.6.
It has existed for a long time and isn't a new feature in 1.16.
So this page is ok and no need to update.

[2019-10-28 07:34] lojies commented on #17232
Container Runtime is considered as one of Kubernetes terminology and is explaned in page docs/reference/glossary.
It has a link [https://kubernetes.io/docs/reference/glossary/?fundamental=true#term-container-runtime](https://kubernetes.io/docs/reference/glossary/?fundamental=true#term-container-runtime)
with explanation like below:
[code]

Is the new page like [https://github.com/kubernetes/commun

[2019-10-28 08:06] lojies commented on #17153
It seems like your yaml with a bad indent in lines provisioner and parameters .
Is this ok?
[code]

[2019-10-28 08:20] lojies commented on #17149
Can this meet your needs?

daemonset.spec.template.spec.nodeSelector or deploy.spec.template.spec.nodeSelector.

You can use kubectl explain to get what you wants.
[code]
This is the given url from kubectl explain daemonset.spec.template.spec.nodeSelector
[https://kubernetes.io/docs/concepts/configuration/assign-pod-node/](https://kubernetes.io/docs/concepts/configuration/assign-pod-node/)

[2019-10-28 09:59] k8-scalar opened #17250 "Issue with k8s.io/docs/reference/access-authn-authz/admission-controllers/"
**This is a Bug Report**

**Problem:**
The TaintNodeByCondition admission controller lacks a description on this webpage
**Proposed Solution:**
Add it
**Page to Update:**
https://kubernetes.io/...

1.14-1.16

[2019-10-28 15:42] christophercarney commented on #17178
All the global command line options are presented in `kubectl options` on the CLI and are documented in `kubectl help` pretty clearly. The documentation mentions this https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#options as well, so not sure this requires additional documentation. Since this list of commands is probably more likely to grow/change than the others, I'd imag

[2019-10-28 15:48] christophercarney commented on #17180
Almost every kubectl command has shorthand `ns`, `deploy`, `pvc`, `po`, etc. So I guess the problem here would be how to solve for adding the shorthands to _every_ command in an organized manner or if it is even worth it. The knowledge is rather tribal to the documentation but I imagine that as a new use goes through examples and other documentation they would slowly pick up on this knowledge whic

[2019-10-28 16:01] liggitt commented on #12326
There is evidence of users upgrading kubelets between minor versions without draining pods (https://github.com/kubernetes/kubernetes/issues/84443). If that is required, the kubelet upgrade docs need to be made explicit.

[2019-10-28 17:23] jruales commented on #17180
I think it would be very appropriate to include these shorthands in the documentation, regardless of the experience level of the target audience. I think that it is especially useful for beginners, since beginners are especially reliant on documentation to understand commands they see in the wild. If I see a command that uses one of these shorthands, my first reaction is to look up the command ref

[2019-10-28 17:45] christophercarney commented on #17070
I'm seeing a lot of these words like "basically", "obviously", "simply", etc. in mainly two places: blog posts and case studies.

I'm mostly sure editing these words out of blog posts makes sense and actually generally increases readability. I'm under the general impression that adverbs usually serve no purpose but to fill space anyways.

Case studies, on the other hand, are a bit more nuanced bec

[2019-10-28 17:48] giom-l opened #17258 "k8s.io/fr/docs/concepts/services-networking/ has no content"
**Problem:**
This page (https://kubernetes.io/fr/docs/concepts/services-networking/) is more or less lacking of content :)

[2019-10-28 19:01] christophercarney commented on #17180
Another point of note here is that this page is auto-generated, also the abbreviations are already documented elsewhere in the kubectl reference:

https://kubernetes.io/docs/reference/kubectl/overview/#resource-types

[2019-10-28 20:37] jruales commented on #17178
Yep, the options are available in `kubectl options` and I agree that they're great when using the commandline interface. But wouldn't following this line of reasoning lead you to conclude that the web-based kubectl command reference is completely unnecessary? I personally like having the online command reference. I think it has its own purpose outside of the CLI help/option pages, which is to be a

[2019-10-28 20:42] jruales commented on #17178
I agree that maybe the creators of the documentation excluded this information on purpose for a good reason, and if so that's fine. But in case it wasn't a premeditated choice, the purpose of this Issue is simply to make the case for including it.

[2019-10-29 01:13] csapinoso opened #17260 "Issue with k8s.io/docs/tasks/tools/install-minikube/"
**This is a Bug Report**

**Problem:**
Homebrew install instruction is outdated

**Proposed Solution:**
change `brew cask install minikube` to `brew install minikube`

**Page to Update:**
https://kubernetes.io/...

[2019-10-29 01:24] vanou commented on #17181
I think this problem is related to [style guide](https://kubernetes.io/docs/contribute/style/style-guide/). And according to [*Style guideline* on this section](https://kubernetes.io/docs/contribute/start/#the-basics-about-our-docs), topics around style guide should be discussed at SIG Docs meeting.

I'll talk about this at next meeting.

[2019-10-29 01:42] jimangel opened #17261 ""/content/en/docs/reference/kubernetes-api" have both index.* and _index.* files, pick one."
When building the k8s site in Netlify it contains the following error: "WARN 2019/10/27 18:38:58 Content directory "/opt/build/repo/content/en/docs/reference/kubernetes-api" have both index.* and _index.* files, pick one."

It looks like @kbhawkey tried to fix it in #16947 - however, i'm not sure why we're still seeing it. Potentially the error doesn't like the word index to be within any other fi

[2019-10-29 02:25] #17215 closed

[2019-10-29 07:36] ronykroy opened #17270 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-10-29 08:08] BenHall commented on #17270
Hi @ronykroy, could you please provide some more information into the issues you are having or if this was opened by accident?

[2019-10-29 08:37] hase1128 commented on #16649
/assign

[2019-10-29 08:55] StenlyTU opened #17274 "Issue with k8s.io/docs/tasks/configure-pod-container/static-pod/"
**This is a Bug Report**

**Problem:**
Missing " in the end of the following line:
 KUBELET_ARGS="--cluster-dns=10.254.0.10 --cluster-domain=kube.local --manifest-url=<manifest-url>(back-tic)
**Proposed Solution:**
Change the back-tic to "
**Page to Update:**
https://kubernetes.io/docs/tasks/configure-pod-container/static-pod/

[2019-10-29 10:10] hase1128 commented on #16649
@kbhawkey

I define as follows for simple explanation in my comment.

 - `access-cluster doc`: https://kubernetes.io/docs/tasks/access-application-cluster/access-cluster/
 - `access-cluster-api`: https://kubernetes.io/docs/tasks/administer-cluster/access-cluster-api/

 Sections above [this](https://kubernetes.io/docs/tasks/access-application-cluster/access-cluster/#accessing-services-running-on-th

[2019-10-29 10:19] lojies commented on #17274
/assign

[2019-10-29 12:29] irvifa commented on #15341
/approve

[2019-10-29 13:00] PetrPodzimek opened #17279 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
**This is a Bug Report**

**Problem:**

LOG>
$ minikube start
* minikube v1.3.0 on Ubuntu 18.04
* Running on localhost (CPUs=2, Memory=2461MB, Disk=47990MB) ...
* OS release is Ubuntu 18.04.2 LTS
* Preparing Kubernetes v1.15.0 on Docker 18.09.5 ...
  - kubelet.resolv-conf=/run/systemd/resolve/resolv.conf
* Pulling images ...
* Launching Kubernetes ...
*
X Error starting cluster: cmd failed: sudo /

[2019-10-29 13:09] kbhawkey commented on #17261
@jimangel , that is interesting. Do you have the full log? The error message seems odd as the *new* file does not start with `_index`. How is the cache cleared? Or perhaps there is a bug.

[2019-10-29 13:29] jimangel commented on #17261
I agree completely :)

I'll do some testing on my personal Netlify, we might need to clear the cache and rebuild as you mentioned. That's only done in the Netlify GUI as far as I know.

[2019-10-29 14:36] kbhawkey commented on #16649
@hase1128, Some ideas:
There is definitely overlap of content between the pages.
Is the content, or some content about accessing the cluster, required in both sections (access-application-cluster and adminster-cluster), or which section is the best place for the content?
This page was recently updated with the main client library information,
https://kubernetes.io/docs/tasks/administer-cluster/acc

[2019-10-29 14:49] BenHall commented on #17279
Thanks for letting us know. We'll look at the logs and see why it might have failed to start

[2019-10-29 14:56] aimeeu opened #17284 "test submit blank issue"

[2019-10-29 14:56] aimeeu commented on #17284
/close

[2019-10-29 14:56] #17284 closed

[2019-10-29 16:54] #17100 closed

[2019-10-29 17:52] NylaWorker opened #17289 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
**This is a Bug Report**

Fix tutorial, it crashes after step one.

minikube start cause the following error:

[code]

[2019-10-29 21:14] #17274 closed

[2019-10-29 21:45] jruales commented on #17180
Cool! I didn't know about this table or about `kubectl api-resources` before. Do you think having this table justifies excluding it from the [Command Reference](https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands)? If so, how about at least pointing to that table from the command reference proper to make it more discoverable?

Also, wouldn't the fact that the documentation is a

[2019-10-30 01:02] swavkulinski opened #17290 "Issue with k8s.io/docs/tasks/tools/install-minikube/"
**This is a Bug Report**

**Problem:**
`brew cask install minikube` returns `Error: Cask 'minikube' is unavailable: No Cask with this name exists.`

**Proposed Solution:**
`brew install minikube`

**Page to Update:**
https://kubernetes.io/docs/tasks/tools/install-minikube/#install-minikube

[2019-10-30 01:36] hase1128 commented on #16649
@kbhawkey

It ’s difficult to think about this. In addition, if someone updates these documents in the future, he (she) will be always bothered to update both or one. There also may be a risk to allow incompatible content(e.g. one content is latest, but another one is old).

When considering easy maintenance, is it better to combine two documents into one?
When consolidating, I think it is better

[2019-10-30 08:21] BenHall commented on #17289
Thank you for the report. This looks like a duplicate of
Https://github.com/kubernetes/website/issues/17279

[2019-10-30 09:11] const-k opened #17302 "Translate concepts/services-networking/ingress-controllers in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/services-networking/ingress-controllers in Korean

**Why is this needed**

No translation with concepts/services-networking/ingress-controllers

**Comments**

Pages to Update
https://kubernetes.io/docs/concepts/services-networking/ingress-controllers/

[2019-10-30 09:14] const-k commented on #17302
/language ko
/assign

[2019-10-30 09:15] #14504 closed

[2019-10-30 11:58] sftim commented on #17302
/priority backlog

[2019-10-30 12:00] sftim commented on #17258
It would be good for the English localization to have an overview page for Services & networking too, then it could be localized appropriately.
/language fr

[2019-10-30 12:00] sftim commented on #17258
/priority backlog

[2019-10-30 13:37] savitharaghunathan commented on #17290
/language en
/priority backlog
/lifecycle active

[2019-10-30 13:38] savitharaghunathan commented on #17260
/language en
/priority backlog
/lifecycle active

[2019-10-30 15:21] oke-py opened #17311 "Issue with k8s.io/docs/concepts/workloads/pods/ephemeral-containers/"
**This is a Bug Report**

**Problem:**

The document says:

However, [EphemeralContainer reference documentation](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.16/#ephemeralcontainer-v1-core) lists the disallowed fields.

**Proposed Solution:**

EphemeralContainer reference documentation lists only allowed fields.

**Page to Update:**
https://kubernetes.io/docs/reference/generat

[2019-10-30 17:04] miteshskj commented on #17250
/assign

[2019-10-30 22:53] tdsan opened #17315 "Issue with k8s.io/docs/setup/production-environment/container-runtimes/"
**This is a Bug Report**

**Problem:**
When running the "systemctl start kubelet" it exits with an error code, even after following the kubernetes installation process.

https://kubernetes.io/docs/setup/production-environment/container-runtimes/

**Proposed Solution:**
[it-gcp-rh2_issues.txt](https://github.com/kubernetes/website/files/3791405/it-gcp-rh2_issues.txt)

[it-gcp-rh2.txt](https://githu

[2019-10-30 23:27] vovcia opened #17317 "Issue with k8s.io/docs/concepts/cluster-administration/networking/"
**This is a Bug Report**

**Problem:**
Contiv is listed as cluster networking solution. It seems Contiv is not supported anymore on recent K8s versions, look https://github.com/contiv/install/issues

**Proposed Solution:**
Remove Contiv from list till supported on recent K8s.

**Page to Update:**
https://kubernetes.io/docs/concepts/cluster-administration/networking/

[2019-10-31 01:16] #16911 closed

[2019-10-31 02:54] #16908 closed

[2019-10-31 05:31] DeySouvik opened #17322 "Topology Manager"
**This is a Feature Request**

**What would you like to be added**
Currently the topology manager options does take care of attaching the cpu cores to the local numa node, but it does not consider the pci device in case SR-IOV VFs are used. As in that case to get best performance we to align the pci device and cpu from the same numa node to avoid passing network packets over QPI links. This is ver

[2019-10-31 07:22] Go-Iwamoto opened #17323 "Translate content/ja/case-studies/sos in Japanese"
**This is a Feature Request**

**What would you like to be added**
Translation of case study of SOS International
https://kubernetes.io/case-studies/sos/

**Why is this needed**
To introduce a case-study of kubernetes in Japanese.

**Comments**
/language ja
/assign

[2019-10-31 14:03] #17322 closed

[2019-10-31 14:04] DeySouvik commented on #17322
Raised the Feature request at the wrong place. Re-raised it in the proper forum.

[2019-10-31 14:19] pacoxu opened #17333 "Improvement for k8s.io/zh/docs/concepts/policy/pod-security-policy/"
This chinese version is not updated.

allowPrivilegeEscalation is not mentioned, and there are no examples for default psp

https://kubernetes.io/docs/concepts/policy/pod-security-policy/#privilege-escalation
https://kubernetes.io/zh/docs/concepts/policy/pod-security-policy/

[2019-10-31 16:52] mmiara opened #17336 "Issue with k8s.io/docs/concepts/workloads/controllers/daemonset/"
**This is a Bug Report**

**Problem:**
"A DaemonSet ensures that all eligible nodes run a copy of a Pod. Normally, the node that a Pod runs on is selected by the Kubernetes scheduler. However, DaemonSet pods are created and scheduled by the DaemonSet controller instead."

This is shown as the default option for a daemonset, but just above, it says the opposite is the default behavior.

**Proposed

[2019-10-31 22:38] LuckySB opened #17337 "Issue with k8s.io/docs/concepts/workloads/controllers/statefulset/"
**This is a Bug Report**

**Problem:**
yaml indent broken on https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#components

source .md id fine https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/workloads/controllers/statefulset.md

[2019-11-01 05:14] oke-py opened #17342 "Issue with k8s.io/docs/tasks/administer-cluster/namespaces/"
**This is a Bug Report**

**Problem:**
Ordered list is broken. Each item starts "1".

https://kubernetes.io/docs/tasks/administer-cluster/namespaces/#subdividing-your-cluster-using-kubernetes-namespaces

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/tasks/administer-cluster/namespaces/

[2019-11-01 15:09] #17290 closed

[2019-11-01 16:06] reung37 opened #17346 "Translate storage/storage-limits.md in Korean"
**This is a Feature Request**

**What would you like to be added**
Translate storage/storage-limits.md in Korean

**Why is this needed**
The following files are not translated into Korean.
/en/docs/concepts/storage/storage-limits.md in Korean
### ###
**Comments**
Page to update : https://kubernetes.io/docs/concepts/storage/storage-limits/

I am working on translating this document.
This document t

[2019-11-01 16:29] miteshskj commented on #17342
/assign

[2019-11-01 21:31] aimeeu commented on #15682
**Testing**

1. In directory 1, generate the API and kubectl references docs manually; process documented [here](https://github.com/aimeeu/cheats/blob/master/k8s-ref-docs/gen-api-and-kubectl.md)
2. In directory 2, clone kubernetes/website and run the website/update-imported-docs/update-imported-docs.py script
3. Compare the two directories

`update-imported-docs.py`
1. does not create static/docs/

[2019-11-02 03:58] bells17 opened #17352 "Translate content/ja/includes/task-tutorial-prereqs.md in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate content/ja/includes/task-tutorial-prereqs.md in Japanese

**Why is this needed**

This document is not translated in Japanese.

**Comments**

/language ja

ref: https://github.com/kubernetes/website/pull/16270

[2019-11-02 04:02] bells17 opened #17353 "Translate docs/reference/glossary/selector.md in Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate docs/reference/glossary/selector.md in Japanese

**Why is this needed**

This document is not translated in Japanese.

**Comments**

/language ja

ref: https://github.com/kubernetes/website/pull/16270

[2019-11-02 04:27] anorek opened #17354 "translate k8s.io/zh/docs/home/ in Chinese"
**This is a Feature Request**

**What would you like to be added**
 punctuation mark by the end of 参考 card

**Why is this needed:**
coherence through the page

**Page to Update:**
https://kubernetes.io/zh/docs/home/

[2019-11-02 04:33] reung37 opened #17355 "Translate docs/reference/setup-tools/kubeadm/kubeadm.md in Korea"
This is a Feature Request

What would you like to be added
Translate docs/reference/setup-tools/kubeadm/kubeadm.md in Korean

Why is this needed
The following files are not translated into Korean.
/en/docs/reference/setup-tools/kubeadm/kubeadm.md in Korean

Comments
Page to update : https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm/

I am working on translating this document.
This d

[2019-11-02 05:07] #17354 closed

[2019-11-02 05:10] reung37 commented on #17346
/assign

[2019-11-02 05:10] reung37 commented on #17355
/assign

[2019-11-02 05:12] anorek opened #17365 "Issue with k8s.io/zh/docs/home/ translation"
**This is a Bug Report**

**Problem:**
lack of punctuation mark by the end of 参考 card

**Proposed Solution:**
addmissing 。for coherence.

**Page to Update:**
https://k8s.io/zh/docs/home/

[2019-11-02 05:16] oke-py commented on #17352
翻訳済み。rebase masterしたら反映されるのではないか。
https://github.com/kubernetes/website/blob/master/content/ja/includes/task-tutorial-prereqs.md

[2019-11-02 05:23] oke-py commented on #17353
/assign

[2019-11-02 06:53] reung37 commented on #17346
/assign

[2019-11-02 07:24] bells17 commented on #17352
ありがとうございます。こちらcloseします。

[2019-11-02 07:24] #17352 closed

[2019-11-02 16:01] SupriyaSirbi commented on #17114
Thanks for the issue. I shall submit the PR for the same.

[2019-11-03 03:17] sulaimantok commented on #15341
I'am taking Organize Cluster Access Kubeconfig

[2019-11-03 10:46] Shakattack1976 opened #17382 "Issue with k8s.io/docs/tutorials/kubernetes-basics/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-11-03 14:40] mhamdisemah commented on #17382
@Shakattack1976  Please provide the description for this issue.
/triage needs-information

[2019-11-03 14:42] dyllandry opened #17386 "Issue with k8s.io/docs/tutorials/kubernetes-basics/expose/expose-intro/"
**This is a Bug Report**

**Problem:** I cannot highlight the page's objectives properly, instead the title "Overview of Kubernetes Services" is highlighted.

**Proposed Solution:**
Remove the "Overview of Kubernetes Services" title `::before` pseudo-selector which is styled with `height: 100px` and `margin-top: -100px`. It's that `::before` pseudo-selector which is intercepting the click when I t

[2019-11-03 14:58] #16998 closed

[2019-11-03 15:25] jimangel opened #17388 "Improve and clarify l10n onboarding documentation"
Better late than never :smiley:

From our discussions about l10n onboarding, @Bradamant3 volunteered to help clarify the requirements that needed to be met for l10n. The intent is to set requirements that encourage the most successful launch and support of new localization efforts.

The original thoughts were:
- requiring that "two contributors" must ~~be new~~ have advanced fluency.
- adding "5 c

[2019-11-03 16:01] squillace opened #17391 "Explicitly document that there is no "or" in label filtering"
**This is a Bug Report**

Documentation on Recommended Labels: https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/
![image](https://user-images.githubusercontent.com/1422718/68087625-92f36c80-fe0c-11e9-8fea-1c7ed31b9cd9.png)

Suggests using several fully ns-scoped labels, each of which involve a '/' char, for example, `app.kubernetes.io/name`.

The labels documentation

[2019-11-03 16:47] squillace commented on #17391
UPDATE: Per a number of helpful peeps on the internet, this is working correctly, but not clearly documented for the following reason: there is no "or" functionality for filtering. The result is that using ',' means "and", in which context the above is correct behavior. NOW I'm doing to request merely that the docs be updated to explicitly state that there is no "or" behavior in either equals or s

[2019-11-04 00:09] gochist commented on #14008
/close

[2019-11-04 00:09] #14008 closed

[2019-11-04 06:48] tengqm commented on #17365
would you like propose a fix?

[2019-11-04 07:10] veera2019 opened #17396 "Error: validation failed: unable to recognize "": no matches for kind "StatefulSet" in version "apps/v1beta2""
i am running the below command i am getting error
helm install --name nfs-server-provisioner stable/nfs-server-provisioner --set persistence.enabled=true,persistence.size=8Gi
 i am getting this error **Error: validation failed: unable to recognize "": no matches for kind "StatefulSet" in version "apps/v1beta2"**

So how to reslove this issue and how to change apps/v1beta2 to apps/v1beta1

[2019-11-04 07:38] lojies commented on #17396
What's your kubernetes version?It seems like StatefulSet has been removed from your version.I think you need to change apps/v1beta2 to apps/v1.

[2019-11-04 08:17] veera2019 commented on #17396
i am using 1.16.1 version
how to change **apps/v1beta2 to apps/v1**
where i need to change can you give me command or procedure

[2019-11-04 08:23] brianmay commented on #16801
English translation: https://translate.google.com/translate?hl=en&sl=zh-CN&u=https://github.com/kubernetes/website/issues/16801&prev=search

[2019-11-04 08:36] anorek commented on #17365
yes!
https://github.com/kubernetes/website/pull/17398

[2019-11-04 09:06] veera2019 commented on #17396
i am using 1.16.1 version
how to change apps/v1beta2 to apps/v1
where i need to change can you give me command or procedure

[2019-11-04 09:32] sftim commented on #14579
Still valid
/remove-lifecycle rotten

[2019-11-04 09:46] sftim commented on #17391
Seems like a valid thing to clearly document
/priority important-longterm

[2019-11-04 10:13] lojies commented on #17396
It seem like this file：
[https://github.com/helm/charts/blob/master/stable/nfs-server-provisioner/templates/statefulset.yaml](https://github.com/helm/charts/blob/master/stable/nfs-server-provisioner/templates/statefulset.yaml)
But i don't know how to change this local if not create a pr to helm.

[2019-11-04 10:38] lojies commented on #17396
Maybe you can try follow this:
[code]
if this is not ok, do this:
[code]

I tried and this was ok.

[2019-11-04 11:32] veera2019 commented on #17396
Hi i have installed kubernetes 1.14.6 version
I am installing mongodb using helm command in aws instance i am using below command but mongodb pod and pvc pod status showing pending

**helm install --set mongodbRootPassword=hello,mongodbUsername=mongo,mongodbDatabase=mydata --set volumePermissions.enabled=true --name mongo stable/mongodb**

in PVC pod logs showing **no persistent volumes available

[2019-11-04 12:13] adityabhatia02 commented on #13036
@sftim I would like to contribute to this issue. So as I understand, the solution is to link https://kubernetes.io/docs/tasks/run-application/run-replicated-stateful-application/ in the what's next section of statefulset doc:https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#what-s-next. I hope I am on the right track here?

[2019-11-04 13:26] sftim commented on #13036
@adityabhatia02 :white_check_mark: adding that hyperlink is the improvement I had in mind

[2019-11-04 13:48] BeneaAlinAndrei opened #17401 "Issue with kubeadm downgrade"
Hello,

I tried to downgrade from Kubeadm 16 to Kubeadm 14. After the downgrade i receive the following error `couldn't create a Kubernetes client from file "/etc/kubernetes/admin.conf": failed to load admin kubeconfig: open /etc/kubernetes/admin.conf: no such file or director`.
This error is keeping me from initializing any cluster, or to uninstall Kubernetes for a fresh installation.

If anyone

[2019-11-04 13:55] #17401 closed

[2019-11-04 16:10] neolit123 commented on #17401
kubeadm doesn't really support downgrade.

[2019-11-04 18:21] TeejIBM commented on #15636
/close
 
                                                                                                                                                                                         T.J. Griesenbrock                        Solution Provider
                        Phone: +1 (480) 336-9806                        SMS: +1 (602) 377-7673                        teej@ibm.com
 
 
 
----- Orig

[2019-11-04 18:21] #15636 closed

[2019-11-04 20:35] tfnunes opened #17410 "Issue with k8s.io/docs/home/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-11-04 22:46] k4ch0 commented on #13948
Working on ```content/es/docs/reference/glossary/sig.md```

[2019-11-05 01:06] #17365 closed

[2019-11-05 04:44] #17113 closed

[2019-11-05 05:00] #17174 closed

[2019-11-05 05:57] shaonanzh opened #17420 "Issue with k8s.io/docs/reference/access-authn-authz/controlling-access/"
**This is a Bug Report**

**Problem: In "Transport Security" part, the port number in the first sentence: "In a typical Kubernetes cluster, the API serves on port **443**"**

**Proposed Solution: change 443 to 6443**

**Page to Update:**
https://kubernetes.io/...

[2019-11-05 06:22] NagarajGoud commented on #17410
Looks like not enough info to proceed with. Can you please brief your issue to get the attention.

[How to file a great issue ?](https://kubernetes.io/docs/contribute/start/)

[2019-11-05 08:28] adityabhatia02 commented on #13036
/assign @adityabhatia02

[2019-11-05 08:34] hamshif opened #17426 "Issue with k8s.io/docs/tutorials/stateful-application/cassandra/"
**This is a Bug Report**

Deploying Cassandra statefulset example on kubernetes docker for desktop doesn't work.

**Problem:**
The stateful set hangs with no pods created and no reason given

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/tutorials/stateful-application/cassandra/

Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.1", GitCommit:"d647ddbd7

[2019-11-05 08:37] hamshif commented on #17426
for some reason some commented code has been mistaken for markdown to be bold and header like

[2019-11-05 15:51] madmishra opened #17436 "Issue with k8s.io/docs/concepts/overview/components/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-11-05 16:18] sftim commented on #15704
/remove-lifecycle stale

[2019-11-05 20:30] #15965 closed

[2019-11-05 21:06] christophercarney commented on #17336
Digging into this it looks like this paragraph does need updating. This paragraph was introduced in 1.11 via #8842 and the headings (enabled/disabled by default) were introduced in 1.12 via #9923 without updating the subsequent paragraph under the heading (this was when DaemonSet Controller was the default but then switched over to default scheduler).

That's why there is a disconnect in the langu

[2019-11-06 06:23] #17420 closed

[2019-11-06 07:59] ZhenQingGuan opened #17447 "Issue with k8s.io/docs/concepts/overview/what-is-kubernetes/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-11-06 08:22] sftim commented on #17436
@madmishra what isn't right with that page?
/triage needs-information

[2019-11-06 08:22] sftim commented on #17410
/triage needs-information

[2019-11-06 08:23] sftim commented on #17386
Thanks for reporting this @dyllandry
/priority backlog

[2019-11-06 08:27] sftim commented on #17311
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.16/#ephemeralcontainer-v1-core seems to list all the fields that _EphemeralContainer_ recognises, noting that some are recognised but not allowed. To me that seems OK (I don't see what the shortcoming is for a reader).

Related: I'm not sure how feasible it is to change the way the reference information is generated. If it's easy to

[2019-11-06 08:32] sftim commented on #17342
/priority backlog

[2019-11-06 08:33] sftim commented on #17270
/triage needs-information

[2019-11-06 08:34] sftim commented on #17250
/priority backlog

[2019-11-06 09:20] oke-py commented on #17311
I got it. Thanks.

[2019-11-06 09:20] #17311 closed

[2019-11-06 10:15] ysyukr commented on #17187
/close

[2019-11-06 10:15] #17187 closed

[2019-11-06 10:50] larbib opened #17449 "Improvement for k8s.io/docs/concepts/"
Diagrams would be really helpful to better and clearly comprehend all those concepts

[2019-11-06 13:35] Joseph94m opened #17453 "Issue with kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/"
**This is a Bug Report**
More of an enhancement than a bug report tbh

**Problem:**
As discussed with @neolit123  in kubernetes/kubeadm [1886](https://github.com/kubernetes/kubeadm/issues/1886):
Running the
`kubeadm join my-url-com:5443 --token <token> --discovery-token-ca-cert-hash sha256:<hash> --control-plane --certificate-key <new-token>`
returns the following error:
`error execution phase con

[2019-11-06 14:11] neolit123 commented on #17453
thanks
/sig cluster-lifecycle
/kind cleanup

[2019-11-06 14:26] flfr-ibm opened #17454 "Document how to install latest kubectl for given minor release"
**This is a Bug Report**

**Problem:**
I was looking at the documentation page below for a solution to install the latest version of a specific kubectl release. (e.g latest 1.14 version). However it is not documented there.
**Proposed Solution:**
By searching through github I was able to find a solution similar to downloading the latest release. It would be helpful if this was put into the documen

[2019-11-06 19:06] lnikell opened #17458 "Feature: Website redesign proposal"
Hello,

I'm very like Kubernetes and we use it with our team on an everyday basis. It's amazing technology that deserves to have a great looking website. Our team wants to do a full redesign(with implementation) of the website for free. We want to make sure that the work will not be meaningless, so we need communication with decision-makers responsible for maintaining the website. Let me know who

[2019-11-06 19:09] #17453 closed

[2019-11-06 19:34] mhamdisemah commented on #17447
/triage needs-information

[2019-11-06 21:51] christophercarney commented on #17336
/assign

[2019-11-06 22:10] christophercarney commented on #17449
Could you give an example of a concept that you feel would most benefit from a diagram? Which concepts do you find most difficult to comprehend and why? This would help us better understand where to start.

[2019-11-07 01:42] #16686 closed

[2019-11-07 01:48] #14722 closed

[2019-11-07 02:34] #16582 closed

[2019-11-07 09:22] #17342 closed

[2019-11-07 09:24] #13036 closed

[2019-11-07 12:20] oke-py commented on #17353
/close

[2019-11-07 12:20] #17353 closed

[2019-11-07 19:17] cliqr2015 opened #17475 "Issue with k8s.io/docs/reference/access-authn-authz/controlling-access/"
**This is a Bug Report**

**Problem:**
Could you check if there is a typo on section  :
If Bob makes a request to write (create or update) to the objects in the projectCaribou namespace, his authorization **is denied**. If Bob makes a request to read (get) objects in a different namespace such as projectFish, then his authorization is denied.

**Proposed Solution:**
If Bob makes a request to write

[2019-11-07 20:27] christophercarney commented on #17475
I believe it's correct as written, but please confirm with me if my understanding is incorrect. This is my understanding:

(1) _"For example, if Bob has the policy below, then he can read pods only in the namespace projectCaribou..."_

(2) _"If Bob makes a request to write (create or update) to the objects in the projectCaribou namespace, his authorization is denied."_

Since Bob's ABAC policy in

[2019-11-07 21:00] cliqr2015 commented on #17475
My fault,
The attribute  "readonly": true perfectly makes seance.
Please close the case.

On Thu, Nov 7, 2019 at 12:28 PM CRC <notifications@github.com> wrote:

[2019-11-07 22:32] ysyukr commented on #16616
/close

[2019-11-07 22:32] #16616 closed

[2019-11-08 08:03] sftim commented on #17458
@lnikell the [documention special interest group](https://github.com/kubernetes/community/tree/master/sig-docs/) leads on the website activity.
See https://kubernetes.io/docs/contribute/ for more information on how to contribute; that has hyperlinks to SIG Docs communications channels such as [Slack](https://kubernetes.slack.com/messages/C1J0BPD2M/).

[2019-11-08 08:03] sftim commented on #17458
/triage support

[2019-11-08 08:05] sftim commented on #17458
Changing my mind. This is a combined support request (“how do I contribute?”) and feature request (“I want to help redesign the website”). The redesign is the main topic.
/remove-triage support

[2019-11-08 08:05] sftim commented on #17449
/triage needs-information
/kind feature

[2019-11-08 08:06] sftim commented on #17388
/priority important-longterm

[2019-11-08 08:08] sftim commented on #17388
It sounds like this would block a localization proposal where one existing contributor pairs with a new contributor to start a localization. Have I misunderstood? I don't think I follow the reasoning.

[2019-11-08 08:11] sftim commented on #17454
I think the advice on how to download a specific version is already there. @flfr-ibm do you agree?
/triage support

[2019-11-08 08:13] sftim commented on #17454
Ah, I think I get it. You want to have a page on how to install the latest version for a specific minor release.

/retitle Document how to install latest kubectl for given minor release
/remove-triage support
/priority backlog

[2019-11-08 08:14] sftim commented on #17475
/close
/triage support

[2019-11-08 08:14] #17475 closed

[2019-11-08 08:19] sftim commented on #17315
On lots of Kubernetes clusters `systemctl start kubelet` does start OK. The page at https://kubernetes.io/docs/setup/production-environment/container-runtimes/ covers a specific step for setting up a new Node. I'm not clear on which part of that page might not be right.

@tdsan if you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes)

You can also p

[2019-11-08 08:20] sftim commented on #17178
/retitle Document global options in kubectl reference documentation

[2019-11-08 08:20] sftim commented on #17178
/sig cli

[2019-11-08 08:21] sftim commented on #17178
/kind feature
/priority important-longterm

[2019-11-08 08:22] sftim commented on #16772
/help

[2019-11-08 08:25] sftim commented on #17232
https://github.com/kubernetes/community/blob/master/contributors/devel/sig-node/container-runtime-interface.md explains what CRI is, rather than what a container runtime is. There's overlap between the two and it would be OK to copy from [container-runtime-interface.md]9https://github.com/kubernetes/community/blob/master/contributors/devel/sig-node/container-runtime-interface.md](https://github.co

[2019-11-08 08:28] sftim commented on #17148
/retitle Add examples to kube-proxy reference documentation

Perhaps if the [kube-proxy reference](https://k8s.io/docs/reference/command-line-tools-reference/kube-proxy/) page had a “what's next” section that hyperlinked to
https://kubernetes.io/docs/concepts/services-networking/service/#virtual-ips-and-service-proxies then that'd cover it?

[2019-11-08 08:32] sftim commented on #17153
/triage support
(@cgthayer - if this triage is incorrect, please reply and clarify)

[2019-11-08 08:33] sftim commented on #17162
Thank you for the feedback @RedBaron80
/retitle Confusing text in HorizontalPodAutoscaler task page
/priority backlog

[2019-11-08 08:51] zacharysarah commented on #17388
I don't think they need to be new, but they do both need to have advanced fluency.

[2019-11-08 12:54] seokho-son opened #17488 "Outdated files in the dev-1.16-ko.5"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.16-ko.5 branch.

### 19 files to be modified
1. [ ] content/en/docs/concepts/architecture/nodes.md 1 file changed, 3 insertions(+), 3 deletions(-)
1. [ ] content/en/docs/concepts/containers/container-lifecycle-hooks.md 1 file changed, 1 insertion(+), 1 deletion(-)
1. [ ] content/en/docs/concepts/overview/working-with-objects/na

[2019-11-08 12:54] seokho-son commented on #17488
/language ko

[2019-11-08 15:16] lnikell commented on #17458
Thank you @sftim, messaged slack group.

[2019-11-08 15:16] #17458 closed

[2019-11-08 16:44] #17125 closed

[2019-11-08 17:43] vkkothawale opened #17497 "Issue with k8s.io/docs/tasks/tools/install-minikube/"
Hi Team
I am new to kubernetes and I have install minikube on my local linux box (i.e virtual box) and os is centos 7.5. I am facing following issue while trying to start minikube
* Requested cpu count 1 is less than the minimum allowed of 2
minikube version is
minikube v1.5.2
I am running following command
minikube start --vm-driver=none
Can someone please help me understand what is wrong and res

[2019-11-08 22:33] gochist commented on #17488
@seokho-son 실수로 `1.15`과 비교하신 것 같아요.

[2019-11-08 23:00] caihongxu opened #17501 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
**This is a Bug Report**

**Problem:**
The "Deploy our app" section talks about kubectl run command but the example code actually uses kubectl create command. This is confusing.
**Proposed Solution:**
Stick to kubectl create command to be consistent

**Page to Update:**
https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/

[2019-11-09 00:12] lojies commented on #17497
@vkkothawale, is the cpu count of your vm is 1?

[2019-11-09 03:24] seokho-son commented on #17488
감사합니다. 미리 확인해보지 못했네요ㅠㅠ 다시 메시지 정정하였습니다.

[2019-11-09 03:35] ysyukr commented on #17488
/assign

[2019-11-09 03:39] seokho-son commented on #17488
@ysyukr 님. slack, Kubernetes-docs-ko 채널에서, novice 님 께서 해당 이슈를 처리해보 싶다는 의견을 주셨습니다. 먼저 assign 해주셨는데, 이번에는 novice 님께 PR 처리를 부탁드려도 될까요?

[2019-11-09 03:40] #15799 closed

[2019-11-09 03:41] #15609 closed

[2019-11-09 04:30] ysyukr commented on #17488
/unassign

[2019-11-09 04:33] seokho-son commented on #17488
This Issue has been assigned to a contributor who has Id: novice in the slack channel. Thank you !

[2019-11-09 15:20] sftim opened #17507 "Add “CIDR” to glossary"
**This is a Feature Request**

**What would you like to be added**
Add an entry for CIDR to the [glossary](https://kubernetes.io/docs/reference/glossary/?all=true).

**Why is this needed**
Readers may encounter the term CIDR and wonder what it means. Having CIDR in the glossary allows authors to use [glossary short codes](https://kubernetes.io/docs/contribute/style/hugo-shortcodes/#glossary) where

[2019-11-09 15:20] sftim commented on #17507
/help
/priority backlog
/kind feature

[2019-11-09 17:49] #13964 closed

[2019-11-09 20:53] #11742 closed

[2019-11-09 21:44] HerrKauwer opened #17511 "Issue with k8s.io/docs/tasks/run-application/run-replicated-stateful-application/"
**This is a Bug Report**

**Problem:**
In the chapter 'Simulating Pod and Node downtime' it is proposed to move the mysql bin so the readiness command will fail. Doing this will not result in the documented behavior. Instead it will log 'Readiness probe errored' and won't set the pod to not ready. Apparently this is normal (?): https://stackoverflow.com/a/54907712.

**Proposed Solution:**
Instead

[2019-11-09 22:55] #13260 closed

[2019-11-09 22:55] #12472 closed

[2019-11-09 22:55] #12975 closed

[2019-11-09 22:55] #13329 closed

[2019-11-09 22:55] #13342 closed

[2019-11-09 22:55] #11367 closed

[2019-11-09 23:56] #13369 closed

[2019-11-09 23:56] #13611 closed

[2019-11-09 23:56] #13674 closed

[2019-11-09 23:56] #13792 closed

[2019-11-09 23:56] #13980 closed

[2019-11-09 23:56] #14003 closed

[2019-11-09 23:56] #14057 closed

[2019-11-09 23:56] #14130 closed

[2019-11-09 23:56] #14162 closed

[2019-11-09 23:56] #14179 closed

[2019-11-10 00:56] #14220 closed

[2019-11-10 00:57] #14261 closed

[2019-11-10 00:57] #14330 closed

[2019-11-10 00:57] #14286 closed

[2019-11-10 00:57] #14346 closed

[2019-11-10 00:57] #14376 closed

[2019-11-10 00:57] #14407 closed

[2019-11-10 00:57] #14410 closed

[2019-11-10 01:41] jongio opened #17512 "Issue with k8s.io/docs/tutorials/kubernetes-basics/explore/explore-interactive/"
**This is a Bug Report**

**Problem:**
I had to click the echo -e ... command twice in order to start the proxy.
**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-11-10 01:58] #14420 closed

[2019-11-10 01:58] #14497 closed

[2019-11-10 01:58] #14498 closed

[2019-11-10 01:58] #14638 closed

[2019-11-10 01:58] #14096 closed

[2019-11-10 01:58] #14823 closed

[2019-11-10 02:58] #14431 closed

[2019-11-10 02:59] #14517 closed

[2019-11-10 02:59] #14701 closed

[2019-11-10 02:59] #14667 closed

[2019-11-10 02:59] #14703 closed

[2019-11-10 02:59] #14799 closed

[2019-11-10 02:59] #13746 closed

[2019-11-10 02:59] #14691 closed

[2019-11-10 04:00] #13856 closed

[2019-11-10 04:00] #14771 closed

[2019-11-10 10:50] sftim opened #17514 "Dated content in “Running Kubernetes on CenturyLink Cloud”"
**Problem:**
[Running Kubernetes on CenturyLink Cloud](https://kubernetes.io/docs/setup/production-environment/turnkey/clc/) is very dated; it talks about “minions” rather than nodes, which means that Kubernetes has moved on quite a lot since that page was last accurate.

**Proposed Solution:**
Either:
- delete the page, and justify that deletion
- review the page and update it to be current.

**P

[2019-11-10 10:54] sftim commented on #17511
Thanks for the report @HerrKauwer

/kind bug
/priority important-longterm
/language en

[2019-11-10 10:56] sftim commented on #17511
If the MySQL container image has `nftables` or `iptables` available then a command to block port TCP 3306 might simulate failure as intended.

[2019-11-10 11:03] sftim commented on #17337
This seems like a Hugo bug, rather than a website bug. Still something that is worth fixing.

/kind bug

[2019-11-10 11:04] sftim commented on #17396
/triage support

[2019-11-10 11:04] sftim commented on #17333
/language zh
/kind cleanup

[2019-11-10 11:04] sftim commented on #17488
/kind cleanup

[2019-11-10 11:07] #14352 closed

[2019-11-10 12:13] BenHall commented on #17512
@jongio Thanks for letting us know. Could you tell us your OS/browser please so we can investigate?

[2019-11-10 12:50] inductor commented on #15272
FYI, the Japanese PR has been merged :)

[2019-11-10 14:10] #14857 closed

[2019-11-10 16:12] #14508 closed

[2019-11-10 17:13] #11987 closed

[2019-11-10 20:35] novice81 commented on #17488
/assign

[2019-11-10 20:36] novice81 commented on #17488
제가 빠르게 assign 하지 않아서 혼란을 드린것 같아 죄송합니다. 작업 진행해볼 수 있게 배려해주셔서 감사합니다!
@ysyukr @seokho-son

[2019-11-10 23:40] ysyukr opened #17520 "Translate services-networking/endpoint-slices.md in Korean"
**This is a Feature Request**

**What would you like to be added**
Translate services-networking/endpoint-slices.md in Korean

**Why is this needed**
The following files are not translated into Korean.
- [ ] /en/docs/concepts/services-networking/endpoint-slices.md

**Comments**
Page to update: https://kubernetes.io/docs/concepts/services-networking/endpoint-slices/

I am working on translating thi

[2019-11-10 23:41] ysyukr commented on #17520
/assign

[2019-11-11 02:29] oke-py commented on #16194
/close

[2019-11-11 02:29] #16194 closed

[2019-11-11 02:30] oke-py commented on #16236
/close

[2019-11-11 02:30] #16236 closed

[2019-11-11 04:16] vkkothawale commented on #17497
@lojies  yes cpu count of my vm is 1

[2019-11-11 09:02] sjmudd commented on #13369
sorry for delay in responding. Changes look good. thanks.

[2019-11-11 15:17] butuzov commented on #15893
I started to experiment with different CI and related checks, I really hope I can spend a bit more time for that, but it's not my case. I hope till the end of the month I can come back with a more or less nice solution.

Currently, I am using deadlinks to find issues with a links in the Kubernetes website. But I don't really see any other CI platform then netlify. (i will check it out, and maybe t

[2019-11-11 19:34] jongio commented on #17512
Windows 10/Edgeium Dev

[2019-11-11 21:19] Andriy-dev opened #17534 "Issue with k8s.io/docs/tasks/job/coarse-parallel-processing-work-queue/"
**This is a Bug Report**

**Problem:**
Example from the doc is not working

# Create a temporary interactive container
kubectl run -i --tty temp --image ubuntu:18.04
**Proposed Solution:**
# Create a temporary interactive container
kubectl run temp -it --image ubuntu:18.04
**Page to Update:**
https://kubernetes.io/...

[2019-11-11 22:41] sftim commented on #2792
/remove-kind feature
/kind cleanup

[2019-11-12 00:58] lojies commented on #17534
@Andriy-dev, this seems like no difference between these two command. --tty is equal to -t. And deployment name:temp located at both position is ok.

[2019-11-12 01:00] #17534 closed

[2019-11-12 02:24] #17391 closed

[2019-11-12 02:55] inductor commented on #17323
/close

[2019-11-12 02:55] #17323 closed

[2019-11-12 09:02] #17250 closed

[2019-11-12 14:14] ronykroy commented on #17270
Hi
https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/
Interactive tuorial..
I think module 2of3
after clicking the {command}[entersymbol] button on the gui.. [2nd or 3rd... dont remember]
the terminal just hung up...
that's when i clicked the create the issue button.
Embarrassingly i am unable to reproduce the issue now...
Please close this.

[2019-11-12 14:14] #17270 closed

[2019-11-12 14:16] BenHall commented on #17270
Thanks for the update. I'm sorry it appeared to hang. We'll investigate what the issue could be.

[2019-11-12 19:34] mhamdisemah commented on #17507
/assign

[2019-11-12 23:33] BenHall commented on #17512
Thanks @jongio. We've made some improvements to ensure the timing issues are taken into account. Users shouldn't need to click twice now.

Thanks for your help.

[2019-11-13 00:44] jimangel commented on #17388
I updated the issue, but I'm not sure how we can gauge fluency? Honor system?

[2019-11-13 02:31] phan-pivotal opened #17552 "Incorrect translation in website/content/zh/docs/concepts/overview/components.md"
**This is a Bug Report**

**Problem:**
Too many content missing and incorrect translation while marked as the latest 1.16 version documents in Chinese.

For example:
"However, for simplicity, set up scripts typically start all master components on the same machine"

"the same machine" in English has been translated to "the same virtual machine" in Chinese.

**Proposed Solution:**
Have some body re

[2019-11-13 02:56] youngdou opened #17553 "The URL of `Resource QoS` is unreachable"
**This is a Bug Report**

**Problem:**
The URL of `Resource QoS`  in `https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/configuration/manage-compute-resources-container.md` is unreachable

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/

[2019-11-13 03:22] #15222 closed

[2019-11-13 06:56] fanglijun opened #17555 "kubelet can't be started after installation because there is no /var/lib/kubelet/config.yaml"
**This is a Bug Report**

**Problem:**
After follow the steps in this page, https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/ ,
kubelet can't be started, because this file is not created `/var/lib/kubelet/config.yaml`

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/

kubeadm vers

[2019-11-13 06:56] SupriyaSirbi commented on #17514
Hello @sftim I shall work on this issue and submit the PR for the same. Thanks

[2019-11-13 07:53] sagarvelankar opened #17556 "Issue with k8s.io/docs/concepts/configuration/assign-pod-node/ https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity"
**This is a Bug Report**

**Problem:**

Below Lines are incorrect

If you specify multiple nodeSelectorTerms associated with nodeAffinity types, then the pod can be scheduled onto a node if one of the nodeSelectorTerms is satisfied.

If you specify multiple matchExpressions associated with nodeSelectorTerms, then the pod can be scheduled onto a node only if all matchExpressions can be satisfied.

[2019-11-13 08:12] lojies commented on #17553
@youngdou, can you post the unreachable url of `Resource QoS`? It's reachable for me.

[2019-11-13 10:32] sftim commented on #17514
:ok_hand:

[2019-11-13 10:43] sftim commented on #17553
/triage needs-information

[2019-11-13 11:59] pggp opened #17560 "Issue with k8s.io/docs/tasks/configure-pod-container/translate-compose-kubernetes/"
**This is a Bug Report**

**Problem:**
Example shown on this page does not work out of the box (for me at least)

**Proposed Solution:**

Update procedure to make it work again :-D

**Page to Update:**
https://kubernetes.io/docs/tasks/configure-pod-container/translate-compose-kubernetes/

I'm not using kubernetes but minikube as page recommends

$ minikube version
minikube version: v1.5.2
commit:

[2019-11-13 13:51] GerkinDev commented on #17497
I had this error, and it is discussed in https://github.com/kubernetes/minikube/issues/5010. You can bypass the error message using

[code]

But the best would still be to increase your CPU count in your VM.

[2019-11-13 14:32] gireeshp opened #17562 "DNS cluster addon service name incorrectly mentioned as "CoreDNS" instead of "Kube-dns""
**This is a Bug Report**

**Problem:**
In https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/#dns , the DNS cluster addon service's name incorrectly mentioned as "CoreDNS" instead of "Kube-dns".

**Proposed Solution:**
Change the line
"The rest of this section will assume you have a Service with a long lived IP (my-nginx), and a DNS server that has assigned a name

[2019-11-13 16:16] neolit123 commented on #17555
/close
this is not a bug
the kubelet configured to work with kubeadm, is crashing without kubeadm by design.
after you call `kubeadm init` or `join` it should work.

[2019-11-13 16:16] #17555 closed

[2019-11-13 17:22] #14910 closed

[2019-11-13 18:43] shadih opened #17565 "Issue with k8s.io/docs/reference/access-authn-authz/authorization/"
**This is a Bug Report**

**Problem: kubernetes api server not using custom flags for authentication/authorization webhook based

I'm trying to configured the kube apiserver to use webhooks for authentication/authorization and made following changes:

# pwd
/etc/kubernetes/manifests
# diff kube-apiserver.yaml kube-apiserver.yaml_orig
18c18
<     - --authorization-mode=Node,RBAC,Webhook
---

48,50d

[2019-11-13 19:55] #17261 closed

[2019-11-14 00:43] lojies commented on #17565
@shadih, you restart kube-apiserver or kubelet actually?

[2019-11-14 07:20] youngdou commented on #17553
it's `https://git.k8s.io/community/contributors/design-proposals/node/resource-qos.md`

[2019-11-14 10:47] JPMoresmau opened #17575 "Wrong port used when accessing pod proxy in tutorial"
**This is a Bug Report**

**Problem:**
When redoing the interactive tutorial on a local install of Minikube, the command:
[code]
Failed with  `Connection refused`

**Proposed Solution:**
The node server actually listens on port 8080 (you see it later when you run a bash session in the container), so I used the command
[code]

**Page to Update:**
https://kubernetes.io/docs/tutorials/kubernetes-basi

[2019-11-14 13:08] shadih commented on #17565
Hello @lojies , After I made the changes below in  kube-apiserver.yaml, right i restared kubelet.
I thought that's how we get kube-apiserver to restart; is there another way to restart it?

I also removed the apiserver docker containers and re-started kubelet with no success:
  # docker rm -f `docker ps | grep apiserver | awk '{print $1}'`
  50d330fb4a00
  303ce3c0fb0d
  # systemctl restart kubele

[2019-11-14 14:21] al3xhh opened #17579 "Add OpenNebula integration documentation"
**This is a Feature Request**

**What would you like to be added**

* Add link [here](https://kubernetes.io/docs/setup/) which points to [OpenNebula documentation](http://marketplace.opennebula.systems/docs/service/kubernetes.html).

**Why is this needed**

With OpenNebula users can use Kubernetes in a native way, so it would be helpful to have the documentation available in Kubernetes official si

[2019-11-14 14:31] ddycus opened #17581 "Improvement for k8s.io/docs/tasks/configure-pod-container/assign-cpu-resource/"
As a cluster admin,
I need to understand what happens when CPU requests and limits are not set at the pod or namespace level,
So that I can better understand k8s CPU scheduling when pods will attempt to consume more CPU than is available.

As a cluster admin,
I need to understand how the above scenario impacted when autoscaling is enabled
So that I can properly administer namespace and pod request

[2019-11-14 15:09] sftim opened #17582 "Document kubeadm upgrade to v1.17"
**This is a Feature Request**

**What would you like to be added**
Describe how to update a cluster from v1.16 to v1.17, using `kubeadm`

**Why is this needed**
The v1.17 release is imminent.

**Comments**
https://k8s.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/

[2019-11-14 15:09] rooftop90 opened #17583 "Issue with k8s.io/docs/tasks/administer-cluster/nodelocaldns/"
**This is a Bug Report**

**Problem:** Update the Website to show feature availability nodelocaldns for Kubernetes Version 1.16. Currently it doesn't show the feature availability for the latest k8s version. Consulting the documentation should show the feature status for v.1.16

**Proposed Solution:**
Update the section feature availability for k8s version 1.16
**Page to Update:**
https://kubernet

[2019-11-14 15:09] sftim commented on #17582
@daminisatya is this the right way to track this work?

[2019-11-14 15:11] neolit123 commented on #17582
i was wondering what we are missing. looks like we forgot about this this cycle
cc @fabriziopandini

i will send a PR later today.

[2019-11-14 15:11] neolit123 commented on #17582
/sig cluster-lifecycle

[2019-11-14 15:17] neolit123 commented on #17582
/assign

[2019-11-14 15:51] shadih commented on #17565
I removed kube-apiserver.yaml_orig from /etc/kubernetes/manifests since it might have been causing kubelet to start the original apiserver; now issue i'm having is that the apiserver is not coming up; I only see 1 docker container:

#  docker ps|grep -i api
4db4d8b45ea8        gcr.io/google_containers/pause-amd64:3.1   "/pause"                 About an hour ago   Up About an hour

[2019-11-14 17:22] christophercarney commented on #17581
Seems like a valid thing to want to document to fully understand the behavior. Looking at the page currently there is [this section](https://kubernetes.io/docs/tasks/configure-pod-container/assign-cpu-resource/#if-you-do-not-specify-a-cpu-limit), which part is inadequate for your first point, is it that there is:
1) No explicit references to CPU requests at Pod/Namespace level and only container l

[2019-11-14 20:51] shadih commented on #17565
Issue resolved; I had to remove the kube-apiserver.yaml_orig from /etc/kubernetes/manifests

[2019-11-14 20:51] #17565 closed

[2019-11-14 22:13] thockin commented on #16607
Did this get finished?

[2019-11-15 01:10] sftim commented on #17336
/priority important-longterm

[2019-11-15 01:10] sftim commented on #17119
/priority backlog

[2019-11-15 01:11] sftim commented on #17148
/priority backlog

[2019-11-15 01:32] sftim commented on #17173
Is that also true in the current Kubernetes release (v1.16.3)?

@armanzor if you're not sure, it's OK to say so.

[2019-11-15 01:33] sftim commented on #17180
The fix for this will probably be a pull request against the kubectl repository, or against the tool for generating this documentation.

[2019-11-15 01:34] sftim commented on #17244
Seems valid
/priority backlog

[2019-11-15 02:30] sftim opened #17593 "Localize strap line for https://kubernetes.io/de/"
**This is a Bug Report**

**Problem:**
“Production-grade container orchestration” is untranslated on https://kubernetes.io/de/

**Proposed Solution:**
Translate “Production-grade container orchestration” into German

**Page to Update:**
https://kubernetes.io/de/

**Additional Information:**
On the same page, the following are also untranslated:
- “Planet Scale”
- “Never Outgrow”
- “Run Anywhere”

[2019-11-15 02:32] sftim commented on #17593
Related to #14137

[2019-11-15 03:11] sftim commented on #17562
CoreDNS is the project and kube-dns is the internal app name. It's important to clarify so that readers aren't left confused.

/priority backlog

[2019-11-15 03:13] sftim commented on #17583
That page should use a [feature-state shortcode](https://kubernetes.io/docs/contribute/style/hugo-shortcodes/#feature-state) in the overview, rather that describing the state at the foot of the page in a table.

This seems like a
/good-first-issue

[2019-11-15 03:15] sftim commented on #17583
/language en

[2019-11-15 03:16] sftim commented on #17581
It sounds like readers would also like to learn about the behavior with HorizontalPodAutoscaler and VerticalPodAutoscaler.

@ddycus what did you have in mind when your reported this?

[2019-11-15 03:33] sftim opened #17594 "Use tabs for install section of Translate a Docker Compose File to Kubernetes Resources"
**This is a Feature Request**

**What would you like to be added**
Alter the install section of [Translate a Docker Compose File to Kubernetes Resources](https://kubernetes.io/docs/tasks/configure-pod-container/translate-compose-kubernetes/#install-kompose) to use [tab shortcodes](https://kubernetes.io/docs/contribute/style/hugo-shortcodes/#tabs), with a tab per platform, for the install instructi

[2019-11-15 03:34] sftim commented on #17594
/language en
/help
/priority backlog

[2019-11-15 03:34] sftim commented on #17575
Make sure to use `kubectl proxy`, which does listen on port 8081

/triage support

[2019-11-15 03:35] sftim commented on #17575
@JPMoresmau I think the existing interactive tutorial is correct

[2019-11-15 03:39] sftim opened #17595 "Localize strap line for https://kubernetes.io/ja/"
**This is a Bug Report**

**Problem:**
“Production-grade container orchestration” is untranslated on https://kubernetes.io/ja/

**Proposed Solution:**
Translate “Production-grade container orchestration” into Japanese

**Page to Update:**
https://kubernetes.io/ja/

**Additional Information:**
/language ja
/kind cleanup

[2019-11-15 03:40] sftim commented on #17595
/priority backlog

[2019-11-15 03:40] sftim commented on #17593
/priority backlog

[2019-11-15 04:53] ysyukr commented on #17520
Document translation is in progress.
Due to personal schedule delays, we will be submitting to the dev-1.16-ko.6 branch.

[2019-11-15 06:47] fabriziopandini commented on #17582
/lgtm
/approve

[2019-11-15 07:19] gireeshp opened #17597 "Incorrect make command in https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/#securing-the-service"
**This is a Bug Report**

**Problem:**
The section [Securing the service](https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/#securing-the-service) shows a make command:
[code]
But the first command fails with error: `make: *** No rule to make target ``secret'.  Stop.`. And so the secret isn't created.

As per the documentation, the make file is from [nginx https

[2019-11-15 07:33] remyleone opened #17598 "Most wanted page - French"
Here is a list of the most viewed pages on the Kubernetes website. This list can be used as a "Most Wanted" page list to translate in a given language.

- /
- /docs/reference/kubectl/cheatsheet/
- /docs/home/
- /docs/tasks/tools/install-kubectl/
- /docs/concepts/services-networking/service/
- /docs/tutorials/kubernetes-basics/
- /docs/concepts/workloads/controllers/deployment/
- /docs/setup/
- /do

[2019-11-15 07:38] JPMoresmau commented on #17575
Yes the proxy is correct, it does listen on 8001:
[code]
, and it's not the localhost:8001 that's failing, it's the underlying call to the pod. It tries to access the pod on port 80 while the pod listens on 8080. It works on the tutorial, yes, but if you redo the tutorial steps on your own machine it doesn't.

[2019-11-15 09:42] lojies commented on #17553
@youngdou, it works well.Maybe you can try a vpn?

[2019-11-15 10:25] sftim commented on #17575
OK, that makes sense.
/priority important-longterm
/remove-triage support

[2019-11-15 10:53] sftim commented on #17598
@remyleone /language fr ?

[2019-11-15 10:53] sftim commented on #17598
Although this is based on a most wanted list, this is actually a tracking issue for French localization. Have I got that right?

[2019-11-15 10:54] sftim commented on #17582
/priority important-soon

[2019-11-15 10:55] sftim commented on #17597
/kind bug
/priority backlog

[2019-11-15 11:00] remyleone commented on #17598
/language fr

[2019-11-15 11:01] remyleone commented on #17598
@sftim indeed it is mostly to track the french one. That being said the content of this page can be copy and pasted easily in other issues for other localization

[2019-11-15 11:18] irvifa commented on #17598
@remyleone how do you track this stats?

[2019-11-15 11:21] remyleone commented on #17598
Those tracks are sent on the mailing list. Kubernetes.io uses google analytics to track page views. You can ask for an export of the statistics. Don't hesitate to go on #sig-docs to ask for a more up to date version if needed.

[2019-11-16 04:04] kenmccann opened #17612 "mysql-wordpress-persistent-volume article creates an invalid Service object"
**This is a Bug Report**

**Problem:**
The Service definition in the wordpress-deployment.yaml has a selector matching the "wordpress" label.  Then the Deployment definition in the mysql-deployment.yaml defines the *mysql* Deployment as "`app: wordpress`" in the metadata.  This causes the wordpress service definition to match *both* the wordpress pod and the mysql pod.  So when routing http traffi

[2019-11-16 10:32] oke-py commented on #16553
/close

[2019-11-16 10:32] #16553 closed

[2019-11-16 10:32] oke-py commented on #16655
/close

[2019-11-16 10:32] #16655 closed

[2019-11-16 10:33] oke-py commented on #16432
/close

[2019-11-16 10:33] #16432 closed

[2019-11-16 10:35] oke-py commented on #16774
/close

[2019-11-16 10:35] #16774 closed

[2019-11-16 13:29] #14938 closed

[2019-11-16 14:44] iaoiui opened #17616 "Mistranslated document"
**This is a Bug Report**

**Problem:**
Following section(only section name) seems to be wrong and should be removed.
https://kubernetes.io/ja/docs/concepts/workloads/pods/pod-overview/#podのダイアグラム

Because there is no corresponding section in the English version.
https://kubernetes.io/docs/concepts/workloads/pods/pod-overview/#

**Proposed Solution:**
remove a line corresponding following section n

[2019-11-16 14:47] iaoiui commented on #17616
/assign

[2019-11-16 14:52] iaoiui commented on #17616
I found a root cause of this issue.
A **title** attribute is used in figure tag instead of **alt** attribute.

* English version
{{< figure src="/images/docs/pod.svg" **alt**="example pod diagram" width="50%" >}}

* Japanese version
{{< figure src="/images/docs/pod.svg" **title**="Podのダイアグラム" width="50%" >}}

[2019-11-17 06:02] gireeshp opened #17620 "CoreDNS addon needs a README about how to enable it"
**This is a Feature Request**

**What would you like to be added**
[CoreDNS](https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/dns/coredns) cluster add-on needs a README similar to the [kube-dns](https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/dns/kube-dns) cluster add-on.

**Why is this needed**
In order to explain to the users how to enable the add-on.
And a

[2019-11-17 07:34] Feixu2015 opened #17621 "Issue with k8s.io/zh/docs/tutorials/kubernetes-basics/cluster-interactive/"
**This is a Bug Report**

**Problem:**
The right learn window is too small.
**Proposed Solution:**
Can make the left catalog tree to be  folded by a button ?
**Page to Update:**
https://kubernetes.io/...

[2019-11-17 12:52] #13753 closed

[2019-11-17 17:59] sftim commented on #17612
I'm not sure that the issue description is recommending the right fix.
I'd expect to narrow the selector that the Service uses, so that all of the Wordpress Pods can keep `app: wordpress`.

For example, the web Pods could be labelled `app.kubernetes.io/instance=wordpress-foobar` and `app.kubernetes.io/component=web` and then the selector matches on both.

[2019-11-17 18:01] sftim commented on #17612
Does that make sense @kenmccann ? See https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/ for the reference behind my thinking here.

[2019-11-17 21:07] jgh- opened #17623 "Improvement for k8s.io/docs/tutorials/kubernetes-basics/expose/expose-intro/"
interactive tutorials are awful, why can't you just post some sample configurations?

[2019-11-17 21:10] jgh- opened #17624 "Issue with k8s.io/docs/tutorials/stateless-application/expose-external-ip-address/"
this thing just shows you how to expose the ip address via the command line.  It seems clear enough that there's a way to do it in the configuration file, but apparently i have to wade through an interactive tutorial to figure out how to do it.

[2019-11-17 21:13] #17623 closed

[2019-11-17 21:13] #17624 closed

[2019-11-18 00:47] kenmccann commented on #17612
I've realized my own mistake @sftim - thanks for pointing out the recommended concepts.
At some point during my own deployment, I had commented out `tier: frontend` in the Service definition for Wordpress.
This caused the mysql pod to be selected into the Service as well.

User error.  Let's cancel this.

[2019-11-18 00:47] #17612 closed

[2019-11-18 01:37] #17594 closed

[2019-11-18 01:45] #17583 closed

[2019-11-18 01:47] #17579 closed

[2019-11-18 03:38] gireeshp commented on #17597
PR for this (#17599 ) is merged & closed. Hence closing this issue.

[2019-11-18 11:02] lfshr opened #17630 "Patch PowerShell example does not work on Windows"
**This is a Bug Report**

kubectl PowerShell example does not work in Windows. `cat` is an alias for Get-Content, which by default parses a file line-by-line.

**Proposed Solution:**
Change PowerShell example to use the -Raw flag in Get-Content cmdlet (and change `cat` to `Get-Content` to avoid ambiguity between the Windows `Get-Command` alias and Unix `cat` command).

[code]

**Page to Update:**

[2019-11-18 11:13] #15012 closed

[2019-11-18 11:13] #15016 closed

[2019-11-18 14:35] sftim commented on #17612
/triage support

[2019-11-18 17:08] sftim commented on #17616
/priority backlog
/kind bug

[2019-11-18 17:09] sftim commented on #17621
Thanks for the suggestion
/kind feature
/priority backlog

[2019-11-18 17:10] sftim commented on #17620
Seems like a good idea
/priority important-longterm
/language en
/kind feature

[2019-11-18 17:11] sftim commented on #17512
/priority backlog
@jongio Is this fixed?

[2019-11-18 17:12] sftim commented on #17501
/kind cleanup
/priority important-longterm
/help

[2019-11-18 17:12] sftim commented on #17501
I can (try to) guide anyone who would like to work on this issue.

[2019-11-18 17:15] sftim commented on #17593
/good-first-issue
(vorausgesetzt sprechen Sie Deutsch)

[2019-11-18 17:20] inductor commented on #17616
/close

[2019-11-18 17:20] #17616 closed

[2019-11-18 17:24] inductor commented on #14917
/close

[2019-11-18 17:24] #14917 closed

[2019-11-18 17:35] cstoku commented on #14848
@kakts 作業いかがでしょうか？

[2019-11-18 17:37] cstoku commented on #15980
@sotoiwa 作業いかがでしょうか？

[2019-11-18 17:38] cstoku commented on #13646
/close

[2019-11-18 17:38] #13646 closed

[2019-11-18 17:40] cstoku commented on #16297
@oke-py  作業いかがでしょうか？

[2019-11-18 17:42] cstoku commented on #16685
@hasebe 作業いかがでしょうか？

[2019-11-18 17:42] cstoku commented on #17119
@kakts 作業いかがでしょうか？

[2019-11-18 18:32] jimangel opened #17633 "Improve PR wrangler links"
Add additional links to improve PR wrangler documentation / process thanks to @zparnold.

/assign @jimangel
/good-first-issue

[2019-11-18 18:34] yasensim opened #17634 "Add Antrea as a CNI option in create-cluster-kubeadm"
**This is a Feature Request**

**What would you like to be added**
Add Antrea as a CNI option.
Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/

**Why is this needed**
Project Antrea is a new CNI project that integrates easily with clusters provisioned using kubeadm.
**Comments**
https://github.com/vmware-tanzu/antrea

[2019-11-18 18:39] zparnold commented on #16085
/assign

[2019-11-18 18:39] neolit123 commented on #17634
hello, there is a plan to prune all CNI plugins outside of those not endorsed by the CNCF or higher popularity.

see https://github.com/kubernetes/enhancements/pull/1327

/assign @sftim
/sig cluster-lifeceycle

[2019-11-18 18:45] aimeeu commented on #17630
/sig windows

[2019-11-18 18:46] aimeeu commented on #17552
/language zh

[2019-11-18 18:51] aimeeu commented on #15723
/close

[2019-11-18 18:51] #15723 closed

[2019-11-18 18:52] aimeeu commented on #15306
#15290 has been merged

/close

[2019-11-18 18:52] #15306 closed

[2019-11-18 18:54] aimeeu commented on #15132
/assign

[2019-11-18 18:57] hasebe commented on #16685
@cstoku 作業が遅れておりまして、申し訳ございません。
今週末くらいに完了する予定で進めております。

[2019-11-18 18:58] aimeeu commented on #15132
The page already has a "caution" note about this in the [Translating content](https://kubernetes.io/docs/contribute/localization/#translating-content) section.

/close

[2019-11-18 18:58] #15132 closed

[2019-11-18 19:09] yasensim commented on #17634
@neolit123 thanks for your comment. Could you please merge it until there is proper placeholder for all cni plugins so we can move all together?

[2019-11-18 19:13] inductor commented on #14848
/milestone 1.15-ja.2

[2019-11-18 19:13] inductor commented on #14848
Oops

[2019-11-18 19:20] zparnold commented on #16085
/unassign

[2019-11-18 19:22] zparnold commented on #16441
/close
(This was addressed in #16442)

[2019-11-18 19:22] #16441 closed

[2019-11-18 19:25] inductor commented on #14848
@kakts 夜分すみません（KubeCon参加中なのでへんな時間にコメントしてます）
そろそろマスターに新しいバージョンをMergeしたいので、今週の水曜くらいまでに対応いただくか、1.15-ja.2のブランチを新しく切るのでそちらにマイルストーンを移していただくかのどちらかをお願いしたいです:bow:

マイルストーン移すっていうのはこちらでやる作業になるので、とりあえず同意いただければ大丈夫で、ブランチを新しくこちらで切った後に該当PRのベースブランチを変更して頂く形になります。

[2019-11-18 19:33] zparnold commented on #16476
/close
This is not actually an issue in the Kubernetes website documentation. This issue should be addressed in the Kubernetes/Kubernetes repo. https://github.com/kubernetes/kubernetes/pull/83818

[2019-11-18 19:37] sftim commented on #17630
/sig windows

[2019-11-18 19:38] sftim commented on #17630
Seems like a valid fix
/priority backlog
/good-first-issue

[2019-11-18 19:41] jaypipes commented on #14101
@zacharysarah hey, so are there specific PRs for this Issue that you'd like reviewed? or are you just looking for feedback on the overall list of tasks you want to get done?

[2019-11-18 19:44] cstoku commented on #16056
/milestone 1.15-ja.1

[2019-11-18 19:45] cstoku commented on #16172
/milestone 1.15-ja.1

[2019-11-18 19:45] cstoku commented on #17118
/milestone 1.15-ja.1

[2019-11-18 19:45] cstoku commented on #16718
/milestone 1.15-ja.1

[2019-11-18 19:53] zacharysarah commented on #14101
@jaypipes This issue is probably more complicated than can be reasonably accomplished in a sprint.

This issue will probably require a series of iterative PRs. Feedback is also welcome!

[2019-11-18 22:17] oke-py commented on #16297
@cstoku すみません、ほとんど進んでいません。ちょうどそろそろやろうかなと考えていたところでした。次のリリースにまわしていただいて構いません。

[2019-11-18 23:37] #17633 closed

[2019-11-19 03:35] tanjunchen opened #17649 "List inaccessible or 404 urls"
***Problem:***
some urls are wrong
**Proposed Solution:**
some urls need to be modified temporarily, some documents need to be updated, some outdated articles or urls are temporarily not modified.
Maybe not need to be modified under the  content/en/blog/_posts/ folder

**pr requirement**:
comment your pr with `ref:https://github.com/kubernetes/website/issues/17649`,
your  pr will refer to this pr

[2019-11-19 03:45] purebluesong commented on #16476
The broken link is on this page: https://github.com/kubernetes/kubernetes/blob/release-1.6/docs/design/architecture.md.
Maybe it just is searched by me occasionally.

[2019-11-19 05:07] sotoiwa commented on #15980
@cstoku すみません、やる気はあるのですが作業が止まってました。週末を目標にやります。

[2019-11-19 05:35] usergithubfor opened #17650 "Improvement for k8s.io/docs/setup/"
The Kubernetes technology is best in the containerization , their is no doubt about its ability .
But , Kubernetes must improve its documentation and need an urgent attention on its documents .
Because , the present documents are very hard to find the installation section , and their are no section where a person can find the installation steps.
So , its a humble request to the community , please

[2019-11-19 06:07] RA489 commented on #17497
@vkkothawale you can either increase your CPU count or can simply ignore the preflight errors NumCPU

[2019-11-19 06:24] RA489 commented on #16515
@ipuustin The broken link seems to be fixed. Can you recheck so that we can close this issue?

[2019-11-19 06:35] RA489 commented on #16426
@tuxfux-hlp you need to install docker beforehand if you are using `--vm-driver=none` option.

[2019-11-19 06:53] RA489 commented on #16328
/close

[2019-11-19 06:53] #16328 closed

[2019-11-19 06:57] RA489 commented on #15912
@knbz Any update on this else we can close this issue?

[2019-11-19 07:16] RA489 commented on #15437
@kaushikr93 `Kubeadm Token generate` command is not used to generate a token. This command is provided for convenience to generate tokens in the given format.

[2019-11-19 07:17] RA489 commented on #15437
`Kubeadm Token create ` command create a bootstrap token for you.

[2019-11-19 07:24] RA489 commented on #15230
@connor4312 Please follow this hyperv guide: https://minikube.sigs.k8s.io/docs/reference/drivers/hyperv/

[2019-11-19 07:30] RA489 commented on #15258
@thecrudge Heapster has been depcrecated from minikube addons.

[2019-11-19 07:31] RA489 commented on #15258
FYR https://minikube.sigs.k8s.io/docs/tasks/addons/

[2019-11-19 07:55] Zossin opened #17652 "Issue with k8s.io/docs/tutorials/configuration/configure-redis-using-configmap/"
**This is a Bug Report**

**Problem:**

The bullets below look a bit confusing:
![image](https://user-images.githubusercontent.com/1637100/69127244-e17b5900-0ae4-11ea-8296-c839beb875ba.png)

**Proposed Solution:**
The first bullet should be in a higher level.

**Page to Update:**
https://kubernetes.io/docs/tutorials/configuration/configure-redis-using-configmap/

[2019-11-19 08:00] ipuustin commented on #16515
Works now! Closing.

[2019-11-19 08:00] #16515 closed

[2019-11-19 09:39] sftim commented on #17634
There isn't yet consensus on kubernetes/enhancements#1327 so I think it is OK to mention Antrea in a list of CNI plugins (possibly, pending later changes).

What's the case for shortlisting Antrea on the page about using kubeadm for creating a new cluster?

[2019-11-19 11:41] reung37 opened #17656 "Translate /docs/contribute/style/index.md into Korean"
This is a Feature Request

What would you like to be added
Translate docs/contribute/style/index.md in Korea in Korean

Why is this needed
The following files are not translated into Korean.
/en/ docs/contribute/style/index.md in Korean

Comments
Page to update : https://kubernetes.io/docs/contribute/style/

I am working on translating this document.
This document translation will be submitted to

[2019-11-19 12:03] neolit123 commented on #17634
@yasensim have you run conformance tests on the new CNI plugin?
https://github.com/cncf/k8s-conformance/blob/master/instructions.md

we had this as a requirement before adding new CNI plugins to the kubeadm page - i.e. seeing the conformance result logs.

[2019-11-19 12:11] neolit123 commented on #15912
could be a miss click.
please re-open if needed.
/close

[2019-11-19 12:11] #15912 closed

[2019-11-19 13:52] gireeshp commented on #17597
Though the make command & secret creation worked after the above change, the POD is going to CrashLoopBackOff, with error ```No such file or directory:fopen('/etc/nginx/ssl/nginx.crt','r')```

[code]

But when the secret is created using the yaml (as given as an alternate option [here](https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/#securing-the-service)) is f

[2019-11-19 13:55] gireeshp commented on #17597
@sftim  @tengqm any suggestions on what's the issue with "kubectl create secret" command? and why it is working fine when tried using yaml?

[2019-11-19 14:42] inductor commented on #16718
/close

[2019-11-19 14:42] #16718 closed

[2019-11-19 15:58] sftim commented on #17597
Not sure I'll have time to look at this for a while

[2019-11-19 15:58] sftim commented on #17652
/kind cleanup
/priority backlog

[2019-11-19 15:59] sftim commented on #17656
/retitle  Translate /docs/contribute/style/index.md into Korean
/priority backlog

[2019-11-19 15:59] sftim commented on #17656
@reung37 thanks for stepping forward

[2019-11-19 16:15] kakts commented on #14848
@cstoku @inductor すいませんこちらも今取り掛かってますが、進捗よくなく、、、
1.15-ja.2で対応を進めたいと思います。

マイルストーンを移して問題ありません。よろしくお願いします。

[2019-11-19 17:16] sftim commented on #17598
Does `/priority backlog` make sense?

[2019-11-19 17:18] remyleone commented on #17598
@sftim I'm not sure what it means/encompass

[2019-11-19 17:27] reung37 opened #17659 "Translate docs/concepts/services-networking/endpoint-slices.md in Korea"
This is a Feature Request

What would you like to be added
Translate  docs/concepts/services-networking/endpoint-slices.md in Korean

Why is this needed
The following files are not translated into Korean.
/en/ docs/concepts/services-networking/endpoint-slices.md in Korean

Comments
Page to update : https://kubernetes.io/docs/concepts/services-networking/endpoint-slices/

I am working on translatin

[2019-11-19 19:11] cstoku commented on #14848
/milestone clear

[2019-11-19 20:16] sftim commented on #17659
/priority backlog

[2019-11-19 20:18] sftim commented on #17649
Just so you know, @tanjunchen, SIG Docs typically doesn't fix hyperlinks in older blog posts. Ideally the targets of links would stay valid; where that doesn't happen, it's OK to leave older blog posts as-is.

I think the cut-off is 24 months but I haven't checked.

[2019-11-19 22:13] leon0707 opened #17663 "Issue with k8s.io/docs/tasks/administer-cluster/reconfigure-kubelet/ "Set the Node to use the new configuration" not working"
**This is a Bug Report**

**Problem:**
I followed the instruction to create the node config and generate the ConfigMap.
add `"allowedUnsafeSysctls": ["net.core.somaxconn"]` in ConfigMap `my-node-config-47h456d2dc`
Then I edited the Node’s reference to point to the new ConfigMap
[code]
`kubectl get no ${NODE_NAME} -o json | jq '.status.config'` returned nothing.
**Proposed Solution:**

**Page to Up

[2019-11-20 01:46] tanjunchen commented on #17649
@sftim OK.Thanks

[2019-11-20 05:33] tanjunchen commented on #17649
The missing numbers in the table have been modified in the following pr.some url will not to be midified in olders bolg.

[2019-11-20 06:00] oke-py opened #17669 "Update /ja/docs/tasks/tools/install-minikube/"
**This is a Feature Request**

**What would you like to be added**
Update /ja/docs/tasks/tools/install-minikube/

**Why is this needed**
This document is outdated.

**Comments**

https://kubernetes.io/docs/tasks/tools/install-minikube/
https://kubernetes.io/ja/docs/tasks/tools/install-minikube/

/language ja
/assign
/kind feature
/priority backlog

[2019-11-20 06:02] reung37 opened #17670 "Translate docs/reference/issues-security/issues/_index.md in Korea"
This is a Feature Request

What would you like to be added
Translate docs/reference/issues-security/issues/_index.md in Korea

Why is this needed
The following files are not translated into Korean.
/en/docs/reference/issues-security/issues/_index.md in Korea

Comments
Page to update : https://kubernetes.io/docs/reference/issues-security/issues/

I am working on translating this document.
This docu

[2019-11-20 06:11] #17670 closed

[2019-11-20 06:23] reung37 opened #17674 "Translate docs/reference/issues-security/issues/issues.md in Korea"
This is a Feature Request

What would you like to be added
Translate docs/reference/issues-security/issues/issues.md in Korean

Why is this needed
The following files are not translated into Korean.
/en/docs/reference/issues-security/issues/issues.md in Korean

Comments
Page to update : https://kubernetes.io/docs/reference/issues-security/issues/

I am working on translating this document.
This do

[2019-11-20 06:24] reung37 commented on #17674
/assign

[2019-11-20 06:30] tuxfux-hlp commented on #16426
Ya got it. Thank you.

[2019-11-20 06:31] RA489 commented on #16426
@tuxfux-hlp we can close this issue now?

[2019-11-20 06:32] #16426 closed

[2019-11-20 06:42] #17656 closed

[2019-11-20 06:42] #17659 closed

[2019-11-20 06:44] RA489 commented on #17669
This document has been moved here https://minikube.sigs.k8s.io/docs/start/linux/

[2019-11-20 06:49] RA489 commented on #17260
/close

[2019-11-20 06:49] #17260 closed

[2019-11-20 06:53] oke-py commented on #17669
Oh, thanks for information.

[2019-11-20 06:55] RA489 commented on #15450
/assign

[2019-11-20 07:20] butuzov commented on #17649
Only 258? I got about 167 of local deadlinks and 609 globaly*.

If kubernetes/website#15893 is still planed somewhen, it will be important to have close to zero local deadlinks. External links are out the control, but the local ones not.

I think it's important to fix the blog links too, but not as a life matter issue. There like 16 links in blogs that generate errors (while being referenced with

[2019-11-20 07:29] tanjunchen commented on #15893
@butuzov  good job!Thanks

[2019-11-20 07:48] tanjunchen commented on #17649
@butuzov good job! Thanks
Well done! I detected all the links in the website repository (more than 10,000), and maybe some links were not detected due to network or other reasons.

I agree with you, but it is a bit of a hassle to introduce a detection tool (CI) because some links are not really links. So, we should start by modifying the work from important folders, such as documentation、readme.md

[2019-11-20 07:57] oke-py opened #17676 "Translate docs/reference/glossary/control-plane.md into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate docs/reference/glossary/control-plane.md into Japanese.

**Why is this needed**
This document is not translated into Japanese.

**Comments**

/language ja
/assign

ref: #17586

[2019-11-20 07:58] oke-py opened #17677 "Translate docs/reference/glossary/node.md into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate docs/reference/glossary/node.md into Japanese.

**Why is this needed**
This document is not translated into Japanese.

**Comments**

/language ja
/assign

ref: #17586

[2019-11-20 08:28] inductor commented on #17677
/close

[2019-11-20 08:28] #17677 closed

[2019-11-20 08:35] butuzov commented on #17649
@tanjunchen its to early to think on the introduction of CI tool. There are too many issues atm.

BTW, can I give you advice? Do not pack all fixes to broken links in on PR. I was asked to made separate requests on my first one. There are number of reasons behind it:

- It's easier to check for you and person reviewing changes.
- Its easier to write short info (in commit PR) what changed, when the

[2019-11-20 08:35] inductor commented on #17676
/close

[2019-11-20 08:35] #17676 closed

[2019-11-20 08:40] inductor commented on #17118
/close

[2019-11-20 08:40] #17118 closed

[2019-11-20 08:51] tanjunchen commented on #17649
@butuzov Sure. Thanks your advice.
I will occasionally modify the dead link with you in the future.

[2019-11-20 09:06] butuzov commented on #17649
cool!

[2019-11-20 09:17] tanjunchen commented on #17649
@butuzov  If you can, you can help me make sure the link is modified correctly, thank you. Smiley face. Although, it takes a little effort.

[2019-11-20 09:41] reung37 opened #17686 "Translate /docs/reference/issues-security/security.md in Korea"
This is a Feature Request

What would you like to be added
Translate /docs/reference/issues-security/security in Korea

Why is this needed
The following files are not translated into Korean.
/en /docs/reference/issues-security/security.md in Korean

Comments
Page to update : https://kubernetes.io/docs/reference/issues-security/security/

I am working on translating this document.
This document tra

[2019-11-20 09:42] reung37 commented on #17686
/assign

[2019-11-20 09:45] rashmi43 commented on #17630
I would like to take this up.

[2019-11-20 09:56] rashmi43 commented on #16067
I would like to take this up

[2019-11-20 09:59] remyleone commented on #17649
For me there is several categories of broken links:
- Broken links in the documentation
- Broken links in the blog
- Broken links in localization

Among those broken links there are also two categories:
- Trivially broken links where there is an easy fix:
- Broken links where a resource is gone and you have not many alternatives than looking on git history or archive.org to find the missing conten

[2019-11-20 10:08] tanjunchen commented on #17649
@remyleone  In the future, I will take your advice, classify the links in question, and then submit the PR separately for modification. Thanks!

[2019-11-20 11:44] oke-py opened #17690 "Issue with k8s.io/docs/tasks/tools/install-minikube/"
**This is a Bug Report**

**Problem:**

There is not a closing parenthesis around `(Docker,`.
Some explanation might be missed.
![ss_ 2019-11-20 20 41 32](https://user-images.githubusercontent.com/4710215/69236191-5b3f3f80-0bd6-11ea-8bb1-b29b5e086770.png)

**Proposed Solution:**

I'm not sure what to be documented.

**Page to Update:**
https://kubernetes.io/docs/tasks/tools/install-minikube/

[2019-11-20 16:54] sftim commented on #17686
/priority backlog

[2019-11-20 16:54] sftim commented on #17674
/priority backlog

[2019-11-20 16:54] sftim commented on #15788
/remove-good-first-issue

[2019-11-20 16:55] sftim commented on #15788
/remove-help

[2019-11-20 16:59] vishakhanihore commented on #17649
@tanjunchen I would love to help in the following.

[2019-11-20 16:59] vishakhanihore commented on #17649
\assign

[2019-11-20 16:59] vishakhanihore commented on #17649
/assign

[2019-11-20 17:24] inductor commented on #16656
/close

[2019-11-20 17:24] #16656 closed

[2019-11-20 21:54] sftim opened #17698 "Tidy “Installing Kubernetes with kops”"
**This is a ~Feature~ Cleanup Request**

**What would you like to be added**
Review [Installing Kubernetes with kops](https://kubernetes.io/docs/setup/production-environment/tools/kops/)
- check that the instructions are accurate
- check that the versions are current
- update to match the style guide; for example, use tabs for install instructions that vary by target OS

Also consider whether this

[2019-11-20 22:32] sftim commented on #17650
@usergithubfor if you could pick one improvement to that area, what would you prioritize?

[2019-11-20 22:47] sftim commented on #17663
@leon0707 I'm not sure: maybe you are asking for advice, or maybe you have identified a documentation bug. Can you clarify?

[2019-11-20 22:51] sftim commented on #17690
/kind bug
/priority backlog
/good-first-issue

The Markdown isn't quite right in https://github.com/kubernetes/website/blame/4532bd2bdb4419de4783be084195f18be516ee53/content/en/docs/tasks/tools/install-minikube.md#L78

[2019-11-21 01:11] leon0707 commented on #17663
@sftim Hi, I'm saying that the instruction on reconfiguring kubelet doesn't work with the v1.16. Not sure if it has a bug or be outdated.

[2019-11-21 01:20] tanjunchen commented on #17649
@vishakhanihore welcome!

[2019-11-21 01:42] lojies commented on #17663
@leon0707, before you begin
The Kubelet’s --dynamic-config-dir flag must be set to a writable directory on the Node.

Please check kubelet if this flag has been set.

[2019-11-21 02:50] Maiia1992 opened #17705 "Issue with k8s.io/docs/tasks/tools/install-kubectl/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-11-21 04:17] tanjunchen commented on #17649
@kubernetes/sig-docs-de-owners
@kubernetes/sig-docs-en-owners
@kubernetes/sig-docs-es-owners
@kubernetes/sig-docs-fr-owners
@kubernetes/sig-docs-hi-owners
@kubernetes/sig-docs-id-owners
@kubernetes/sig-docs-it-owners
@kubernetes/sig-docs-ja-owners
@kubernetes/sig-docs-ko-owners
@kubernetes/sig-docs-no-owners
@kubernetes/sig-docs-pt-owners
@kubernetes/sig-docs-ru-owners
@kubernetes/sig-docs-vi-owne

[2019-11-21 07:32] oke-py opened #17712 "タスク is missing in menu"
**This is a Bug Report**

**Problem:**

タスク is missing.
![ss_ 2019-11-21 16 28 42](https://user-images.githubusercontent.com/4710215/69316438-2dacd180-0c7c-11ea-8918-aa287069bf20.png)

ref:
![ss_ 2019-11-21 16 28 53](https://user-images.githubusercontent.com/4710215/69316492-4a490980-0c7c-11ea-8b85-5022c6975690.png)

**Proposed Solution:**

タスク should be there between コンセプト and チュートリアル.

**Page to

[2019-11-21 08:51] vishakhanihore commented on #17649
Manually correcting the docs redirection is not a good idea IMO. There must be some bug or any error which is generating such wrong links @mrbobbytables @parispittman

[2019-11-21 09:21] #15081 closed

[2019-11-21 10:15] #17690 closed

[2019-11-21 11:46] Chihoon-Sung opened #17717 "Translate reference/kubectl/jsonpath in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate reference/kubectl/jsonpath in Korean

**Why is this needed**
No translation with reference/kubectl/jsonpath in Korean

**Comments**

https://kubernetes.io/docs/reference/kubectl/jsonpath/

[2019-11-21 11:47] Chihoon-Sung commented on #17717
/language ko
/assign

[2019-11-21 12:07] #15450 closed

[2019-11-21 12:16] power8993 opened #17718 "Translate setup-tools/kubeadm/kubeadm-version/ in Korean"

[2019-11-21 12:17] #17718 closed