[2017-08-01 18:42] dimamciz commented on #4358
Hi Ben
I think I finally found what the issue is/was. McAfee Host Intrusion Prevention (HIPS) services was causing the connection resets. I stopped 2 related services and so far it seems to be working fine...
Thanks
Diego Mamciz

    On Sunday, July 23, 2017 7:26 PM, Ben Hall <notifications@github.com> wrote:

 I believe we've released a fix for this. Could you please retest @dimamciz ? It would b

[2017-08-01 19:21] zacharysarah commented on #4569
@amar123deep 👋 This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

[2017-08-01 19:21] #4569 closed

[2017-08-01 19:23] zacharysarah commented on #4567
@teotia39 :wave: This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

You can also open issues for Kubernetes functionality

[2017-08-01 19:23] #4567 closed

[2017-08-01 19:23] zacharysarah commented on #4566
:wave: This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

[2017-08-01 19:23] #4566 closed

[2017-08-01 19:24] zacharysarah commented on #4565
@teotia39 👋 :wave: This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

You can also open issues for Kubernetes functionali

[2017-08-01 19:24] #4565 closed

[2017-08-01 19:24] zacharysarah commented on #4564
@trstn70 :wave: This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

You can also open issues for Kubernetes functionality

[2017-08-01 19:24] #4564 closed

[2017-08-01 19:25] zacharysarah commented on #4563
@SuryaPractise :wave: This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

You can also open issues for Kubernetes function

[2017-08-01 19:25] #4563 closed

[2017-08-01 19:28] zacharysarah commented on #4547
@mwithrow :wave: This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

You can also open issues for Kubernetes functionality

[2017-08-01 19:28] #4547 closed

[2017-08-01 19:31] zacharysarah commented on #4538
There may be some research to do here about which flag to use, but this still looks actionable for docs purposes.

[2017-08-01 19:32] zacharysarah commented on #4526
@BenHall 👋

[2017-08-01 19:33] zacharysarah commented on #4522
@jianglingxia :wave: This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

[2017-08-01 19:33] #4522 closed

[2017-08-01 19:35] zacharysarah commented on #4517
Adding a link to an external reference seems like a great place to start. 👍

[2017-08-01 19:36] zacharysarah commented on #4482
@SuryaPractise :wave: This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

[2017-08-01 19:36] #4482 closed

[2017-08-01 19:39] zacharysarah commented on #4473
@bo0m3r31337 :wave: This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

You can also join the #kubernetes-novice channel&m

[2017-08-01 19:39] #4473 closed

[2017-08-01 19:39] #4465 closed

[2017-08-01 19:53] ahmetb commented on #4538
@DirectXMan12 if you have any familiarity, I appreciate if you can submit a PR.

[2017-08-01 20:21] zacharysarah opened #4575 "Issue with k8s.io/docs/admin/kube-apiserver/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

The reference layout for options renders poorly, requiring sideways scrolling within the code sample box.

**Proposed Solution:**

Clean up the Markdown for friendlier display.

**Page to Update:**

https://kubernetes.io/docs/admin/kube-apiserver/

[2017-08-01 21:35] Bradamant3 commented on #4507
PR #4537 addresses only the ReplicationController item in the original list. The PR also performs some cleanup on Deployments and ReplicaSets, although the latter two could use some more attention.

[2017-08-02 01:29] zacharysarah commented on #4575
@ahmetb :wave: Do you have any guidance what's setting the **spf13/cobra** autogeneration format?

[2017-08-02 04:39] spnzig commented on #1831
@ericchiang But it doesnt mention how one can get values for id_token, refresh-token.

[2017-08-02 04:47] ericchiang commented on #1831
@spnzig that's out of scope for kubernetes. You should consult your identity provider's docs.

https://github.com/coreos/dex/blob/master/Documentation/using-dex.md
https://developers.google.com/identity/protocols/OpenIDConnect

[2017-08-02 05:00] spnzig commented on #1831
Thanks for that @ericchiang . I was confused with this because i came across another issue which told me that i can use **k8s-oidc-helper package** to get these details. I was facing errors with its install too. So could not proceed

[2017-08-02 05:23] crassirostris commented on #4507
/assign

[2017-08-02 05:49] krystalloveme opened #4581 "Can I run nginx-ingress-controller under arm64 machines ?"
I want to run ingress image under an aarch64 compatible machine. I have compiled many times, when I try to start docker image nginx-ingress-controller, some log error appeared:

2017/08/01 20:11:12 [dbg]: error is %!(EXTRA syscall.Errno=function not implemented)
2017/08/01 20:11:12 error watching file: function not implemented

And I added some log.Printf to print error info.
So
What's wrong with

[2017-08-02 07:27] kwins opened #4582 "Issue with k8s.io/docs/tutorials/kubernetes-basics/cluster-interactive/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
Interactive tutorial is not work.

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-08-02 07:28] #4582 closed

[2017-08-02 07:32] ahmetb commented on #4575
Nope I haven't looked at that before. I assumed those are checked in to kubernetes/kubernetes repository. Somewhere in there, there should be a hack/* script doing that.

[2017-08-02 08:34] BenHall commented on #4358
Thanks for the update. I'm not sure why McAfee Host Intrusion Prevention would cause websockets to fail. I'll keep an eye out for fixes.

[2017-08-02 08:39] BenHall commented on #4526
Thanks @irosenzw. In this scenario, you need to use the kubectl proxy to access the service running on port 8081.

I hope this helps.

[2017-08-02 10:27] ManikanthKoganti opened #4584 "Issue with kubernetes kubeadm not able to load balance traffic to pods"
We have installed Kubernetes Master (kubeadm) and worked nodes kubectl.

I have a image deployed as pod and scaled it. When i invoke the service it is always sending to same pods and load balancing is not happenning.
Can any one suggest what we are missing here.

[2017-08-02 12:36] rootsongjc opened #4585 "URL can not access"
The URL [example](https://github.com/kubernetes/client-go/blob/master/examples/in-cluster/main.go)  can not access at the doc https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/tasks/access-application-cluster/access-cluster.md
-  use the Go client library, and create a client using the rest.InClusterConfig() and kubernetes.NewForConfig()functions. They handle locating and authent

[2017-08-02 20:50] #4549 closed

[2017-08-02 20:59] #4399 closed

[2017-08-02 20:59] #4401 closed

[2017-08-02 20:59] #4402 closed

[2017-08-02 20:59] #4400 closed

[2017-08-02 20:59] #4398 closed

[2017-08-02 21:19] seperry53test commented on #4476
@steveperry-53, Please assign this issue to me.

[2017-08-02 21:23] zacharysarah commented on #4167
This resource appears to have been removed from the repo. It looks like the link to Ubuntu/Calico at `/docs/getting-started-guides/ubuntu/` now redirects to itself, so the page needs to be updated and the link removed.

[2017-08-02 21:57] jaredbhatti opened #4588 "example blarg"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-08-02 21:59] #4588 closed

[2017-08-02 22:37] steveperry-53 commented on #4476
Note: This issue is available to be taken.
@seperry53test is not working on this issue.

[2017-08-02 22:49] #4357 closed

[2017-08-02 22:52] #4456 closed

[2017-08-02 22:57] #4440 closed

[2017-08-02 23:01] #4290 closed

[2017-08-02 23:08] zacharysarah commented on #4575
@pwittrock :wave: Heya; any advice here about how to adjust the format of outgenerated output?

[2017-08-02 23:40] seperry53test commented on #4511
@steveperry-53, I'll work on this issue.

[2017-08-03 06:31] #4544 closed

[2017-08-03 07:25] tengqm commented on #4564
the correct flag should be "--kubernetes-version", so ... it IS a documentation problem.

[2017-08-03 13:11] wackxu commented on #4585
I can help fix it

[2017-08-03 13:20] piyushkv1 opened #4597 "[Issue with k8s.io/docs/getting-started-guides/ubuntu/manual/] File cluster/ubuntu/config-default.sh not available"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
File for configuring cluster in ubuntu is not available cluster/ubuntu/config-default.sh.

**Proposed Solution:**
This might be cause of changing the code. Please modify the documentation in as per latest code changes.

**Page to Update:**
http://kubernetes.io/...

[2017-08-03 15:50] bamb00 opened #4598 "Unable to apply ScheduledJob in v.1.6.6 & v1.5.4"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The document at https://lukemarsden.github.io/docs/user-guide/scheduled-jobs/#what-is-a-scheduled-job stated to turn on batch/v2alpha1 API by passing "--runtime-config=batch/v2alpha1=true" in the API server.

    apiVersion: batch/v2alpha1
    kind: ScheduledJob
    metadata:
      name: hello
    spec:
      schedule: 0/1 * *

[2017-08-03 17:20] #4598 closed

[2017-08-03 19:54] ahmetb opened #4602 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-volume-storage/: extra space before commands"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

https://kubernetes.io/docs/tasks/configure-pod-container/configure-volume-storage/ This page has extra spaces before the commands:

I am not sure it's a more systemic problem, but this causes commands to not to show up on the bash history (undesirable). https://stackoverflow.com/questions/6475524/how-to-prevent-commands-to-sho

[2017-08-03 20:16] cody-clark commented on #4602
@ahmetb A cursory look through the rest of the docs under Configure Pods and Containers showed that one out of four docs also had this issue. I'll make this change as I update the callouts.

[2017-08-03 21:38] istream-philion opened #4605 "Issue with k8s.io/docs/getting-started-guides/aws/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
Docs say: "This is only supported for kubernetes 1.5 and earlier. Consider switching to one of the supported options."

**Proposed Solution:**
Add info about what the supported options are! Nothing on the page indicates a method to use instead.

**Page to Update:**
http://kubernetes.io/...

[2017-08-03 21:38] istream-philion commented on #4605
https://kubernetes.io/docs/getting-started-guides/aws/

[2017-08-04 16:10] ryanmcginnis commented on #4460
After reading more about Deployments, I can't think of a reason why it _ever_ necessary to expose the child ReplicaSet.

[2017-08-04 20:36] chenopis opened #4629 "Glossary Redux"
## TL;DR

This project will standardize Kubernetes terms (as well as their definitions and other metadata), so that their content can be reused consistently throughout the K8s docs (e.g. in concepts, diagrams, etc.). [[project proposal](https://docs.google.com/document/d/1Ar4ploza6zA1JF3YO4e0lzq1RRBWWx8cAZtRQMMEdsw/edit)] [[project tracker](https://github.com/kubernetes/kubernetes.github.io/projec

[2017-08-04 20:37] chenopis commented on #4629
cc @abiogenesis-now

[2017-08-04 20:38] chenopis commented on #4629
This is related to https://github.com/kubernetes/kubernetes.github.io/issues/1191

[2017-08-05 00:29] zacharysarah opened #4642 "Fix site 404s"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

The kubernetes.io site console logs 404 status results for desktop and mobile. As of August 4, 2017, there are:
- 140 desktop 404s
- 9 mobile 404s

**Proposed Solution:**

Make sure that URLs returning 404 results have valid entries in the [`/_redirects`](https://github.com/kubernetes/kubernetes.github.io/blob/master/_redirect

[2017-08-05 00:37] zacharysarah opened #4643 "Improve template files"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

- The [template instructions](https://kubernetes.io/docs/home/contribute/page-templates/) need to be clearer.
- The [template files](https://github.com/kubernetes/kubernetes.github.io/tree/master/_includes/templates) need to be more complete and more easily replaceable.

**Proposed Solution:**

- Improve the content and organi

[2017-08-05 20:46] MANOHAR452 opened #4653 "Kube master in neutron port interface shows Build"
using openstack heat kubernetes  kube-up.sh script created the master in neutron, but port interface state shows Build instead of Active, due to this its not able to ssh in to the master and cluster creation never finished, if I create manually using network interface which created by kubernetes script, able to ssh.

[2017-08-06 04:27] ahmetb opened #4657 "[feature request] Netlify bot should link to pages changed."
It's great to have @k8sio-netlify-preview-bot leave the preview URL for the staged website as comment: https://github.com/kubernetes/kubernetes.github.io/pull/4655#issuecomment-320484631

It would be much more useful if this actually figured out which pages has changed (it's not difficult to find out the files updated via a few git commands) and link to a list of URLs that's updated.

Can we reque

[2017-08-06 04:28] ahmetb commented on #4657
cc: @chenopis

[2017-08-06 12:36] zoidbergwill commented on #3992
Are we only gonna support PRs for current release and next release? Should we add a banner to all other branches?

[2017-08-07 14:36] jianlianggao opened #4669 "Issue with /docs/getting-started-guides/kubeadm/"
Hi,
I am trying to install Kubernetes in CentOS7 in Virtual Box. After the first step,
I am stuck in the error as follows

 systemctl status kubelet -l shows the error:
[code]
Any help please.
Thank you very much.

Best regards,
Jianliang

[2017-08-07 15:22] jianlianggao commented on #4669
Probably caused by the above errors, when I tried to join the edge-node to the master node, I had the following errors:
[code]

[2017-08-07 16:35] steveperry-53 commented on #3992
@zoidbergwill, @chenopis, Yes, our plan is to support PRs only for the current release and next release. And yes, I think we should add a banner to all other branches. The banner should warn that the docs are outdated, and it should have a link to the current docs.

[2017-08-07 19:52] zacharysarah commented on #4642
## Challenging redirects

@chenopis :wave: How do we want to resolve cases like [this 404 for font-awesome](https://kubernetes.io/docs/api-reference/v1.6/node_modules/font-awesome/)? Here are some of the challenges:
- The link results in a 404; but
- Site search on kubernetes.io for font-awesome [still returns site hits](https://kubernetes.io/docs/search/?q=font-awesome)
- Google search for Kubern

[2017-08-07 20:38] #4404 closed

[2017-08-07 20:49] zacharysarah commented on #4581
@krystalloveme :wave: This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

[2017-08-07 20:49] #4581 closed

[2017-08-07 20:53] zacharysarah commented on #4669
@jianlianggao :wave: This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

[2017-08-07 20:53] #4669 closed

[2017-08-07 20:54] zacharysarah commented on #4653
@MANOHAR452 :wave: This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

You can also open issues for Kubernetes functionali

[2017-08-07 20:54] #4653 closed

[2017-08-07 21:03] zacharysarah commented on #4605
@istream-philion Good point!

/cc @ahmetb 👋

[2017-08-07 21:05] ahmetb commented on #4605
@zacharysarah there's `approvers:` field on the linked document, I recommend cc'ing them instead. I don't know the answer.

[2017-08-07 21:12] #4167 closed

[2017-08-07 21:14] zacharysarah commented on #1391
@steveperry-53 Can we close this issue?

[2017-08-07 21:16] zacharysarah commented on #2243
Closing this issue because docs support for Calico was removed; see #4167 for more info.

[2017-08-07 21:16] #2243 closed

[2017-08-07 21:18] zacharysarah commented on #4011
@aronchick Please feel free to re-open this issue with more specific information.

[2017-08-07 21:18] #4011 closed

[2017-08-07 21:26] zacharysarah commented on #4597
@piyushkv1 :wave:

It looks like the `cluster/ubuntu/` directory [was removed](https://github.com/kubernetes/kubernetes/tree/master/cluster) from kubernetes/kubernetes.

It also looks like the only `config-default.sh` file in kubernetes/kubernetes is [here](https://github.com/kubernetes/kubernetes/blob/master/cluster/kubemark/gce/config-default.sh), with no mention of Ubuntu.

I'm flagging this as

[2017-08-07 21:29] zacharysarah commented on #4584
@ManikanthKoganti :wave: This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

You can also open issues for Kubernetes funct

[2017-08-07 21:29] #4584 closed

[2017-08-07 21:51] zacharysarah commented on #4605
@justinsb @chrislovecnm 👋  Any input on the [replacement for kube-up](https://kubernetes.io/docs/getting-started-guides/aws/#kube-up-is-no-longer-supported-in-kubernetes-16) in v1.6+?

[2017-08-07 22:33] chenopis commented on #4642
Here are the remaining ones I can find using the Screaming Frog SEO Spider:

[response_codes_client_error_(4xx).csv.zip](https://github.com/kubernetes/kubernetes.github.io/files/1206352/response_codes_client_error_.4xx.csv.zip)

[2017-08-07 22:34] zoidbergwill commented on #3992
Awesome, that's what I was thinking. Great.

[2017-08-07 22:36] steveperry-53 commented on #4487
Merged https://github.com/kubernetes/kubernetes.github.io/pull/4158.

[2017-08-07 23:01] chenopis commented on #4657
@ahmetb Yes, I agree that this would be ideal. I'll ask Netlify. However, what about the cases when the PR modifies several dozen files, like the ones generated by the auto-generated docs updates?

[2017-08-07 23:05] ahmetb commented on #4657
Simplest fix I can think of is if its >10, just drop.

More difficult fix I can think of is, use the following struct:

<details>
<summary>click here to expand</summary>
<ul>
<li>hello</li>
<li>world</li>
</ul>
</details>

code for this:

[code]

[2017-08-07 23:09] chenopis commented on #4642
@zacharysarah I set a redirect for anything matching `/docs/api-reference/v1.6/node_modules/*` to go to https://v1-6.docs.kubernetes.io/docs/api-reference/v1.6/

[2017-08-07 23:16] zacharysarah commented on #4642
Three of the 404s in the CSV file look like syntax errors:
`https://kubernetes.io//docs/admin/authorization/rbac.md`
`https://kubernetes.io//docs/admin/node-allocatable.md1`
`https://kubernetes.io//docs/tutorials/federation/set-up-cluster-federation-kubefed.md`

[2017-08-07 23:51] chenopis commented on #4642
@zacharysarah Yeah, see if you can search in the docs for these typos. I can help tomorrow.

[2017-08-08 01:01] abiogenesis-now commented on #4538
Doc fix for this was merged last week

[2017-08-08 01:01] #4538 closed

[2017-08-08 16:50] mhausenblas opened #4689 "kubeadm upgrade docs"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

When https://github.com/kubernetes/kubernetes/pull/48899 lands we want docs for it.

**Proposed Solution:**

Write some end-user facing docs/walkthroughs for `kubeadm upgrade`.

**Page to Update:**
New page? Not sure where to put it.

[2017-08-08 18:00] luxas commented on #4689
Sounds good to me to do this proactively! :)
I'd be happy with having you write a WIP PR for this early on based on some runs with a binary from my fork (I can provide one easily for you)

The sooner we start to write docs, the better. Often this is left to the last minute, which is a bad habit.

[2017-08-08 18:17] mhausenblas commented on #4689
Awesome, yes, let's do it. Please advise for a starting point @luxas …

[2017-08-08 19:43] chrissound opened #4693 "Issue with k8s.io/docs/concepts/configuration/manage-compute-resources-container/"

[2017-08-09 12:27] not-dream opened #4719 "Issue with k8s.io/docs/tutorials/kubernetes-basics/explore-intro/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-08-09 21:00] jingxu97 commented on #1691
The snapshot proposal is https://github.com/kubernetes-incubator/external-storage/pull/197
In the proposal we add new API objects VolumeSnapshot to create snapshots and restore/recreate volumes from snapshot. Please let me know if you have any comments or questions. Thanks!

[2017-08-10 01:02] chrislovecnm commented on #4605
We have a list in the sig-aws community repo and I think a list in another section of our website. We probably need to update the specific page

[2017-08-10 20:27] chenopis commented on #1575
OMG, all three of these are done!

[2017-08-10 20:27] #1575 closed

[2017-08-10 20:30] zacharysarah commented on #4605
/assign chrislovecnm

[2017-08-10 21:27] chenopis commented on #1191
This is being addressed by https://github.com/kubernetes/kubernetes.github.io/issues/4629.

[2017-08-10 21:27] #1191 closed

[2017-08-10 21:50] chenopis opened #4740 "AI: Create snippet file format."
Create a standardized file format for glossary snippets in the /_includes/glossary/ directory.

[2017-08-10 21:55] chenopis opened #4741 "AI: Create list of fundamental terms"
- [x] Determine the list of fundamental terms
- [x] Add to Potential Terms column in project

See https://docs.google.com/document/d/1Ar4ploza6zA1JF3YO4e0lzq1RRBWWx8cAZtRQMMEdsw/edit# for brainstormed list of potential K8s glossary terms.

[2017-08-10 21:58] chenopis commented on #4741
@heidecke @Bradamant3

[2017-08-10 21:59] chenopis commented on #4740
@abiogenesis-now @Bradamant3 @heidecke

[2017-08-10 22:00] chenopis opened #4742 "AI: Create mini style guide."
Create a mini style guide for how we should write and implement glossary snippets.

[2017-08-10 22:01] chenopis commented on #4742
@abiogenesis-now @heidecke

[2017-08-10 22:04] chenopis commented on #4742
@Bradamant3 Where should we put this? If I create a template file that people can clone and drop in content, i.e. `_snippet-example.md`, should we maybe just put it in there so that people can refer to it without having to look at a different file?

[2017-08-10 22:13] abiogenesis-now commented on #4180
on hold, but I'll tag this with team/heptio anyways

[2017-08-10 22:15] chenopis opened #4743 "AI: Create file w/ canonical list of tags."
- [ ] Create `/_includes/glossary/_tags` w/ array of tags to be canonical source and used for validation.
- [ ] Populate file w/ initial list of tags.

[2017-08-10 22:16] chenopis commented on #4743
@Bradamant3 @heidecke

[2017-08-10 22:18] chenopis commented on #4629
/assign @heidecke

[2017-08-10 22:19] chenopis commented on #4629
@heidecke We need to get you on the road to being a sig-docs-maintainer.

[2017-08-10 22:30] abiogenesis-now commented on #4629
@heidecke I had an idea about kubernetes visualizations---not sure how feasible so I'll think about it more and discuss with @chenopis tomorrow. If it seems reasonable can I make an addition to the bottom of your google doc?

[2017-08-11 06:01] #322 closed

[2017-08-11 06:01] #3992 closed

[2017-08-11 13:59] heidecke commented on #4629
@abiogenesis-now Definitely, feel free to add/comment.

[2017-08-11 14:14] Bradamant3 commented on #4742
I've stubbed this out. Examples are the next step, but would like feedback first before I develop them.

Minimum viable snippet:
<short-description>Required. One or two lines that provide a minimum definition. Do not repeat the term. Prefer fragments. Model after tooltips.
<long-description>Optional. Longer additional text to appear after (in conjunction with) short description. Provide where the

[2017-08-11 14:16] Bradamant3 commented on #4742
Woops, +100 to including in an example template, not a separate file. Hence review here :-)

[2017-08-11 15:09] abiogenesis-now commented on #4742
Seems reasonable to me!

[2017-08-11 19:04] abiogenesis-now opened #4783 "AI: Scope out interactive/layered "Anatomy of a Kubernetes Cluster" diagram"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
There isn't a very intuitive way to understand how all the different Kubernetes components tie together in the context of higher-level domains like security, networking, etc.

**Proposed Solution:**
Approximation of idea in https://docs.google.com/document/d/1-fpCxMAEfWucVLaDHKwYthVU3cIE962lsr6OTaqvpJg/edit# (heavily WIP).

**T

[2017-08-11 19:06] abiogenesis-now commented on #4783
The idea is that this diagram would be particular helpful on the [What is Kubernetes](https://kubernetes.io/docs/concepts/overview/what-is-kubernetes/) page.

[2017-08-12 16:12] chenopis commented on #4548
@alexcontini This is the project I mentioned. You can see the project tracker here: https://github.com/kubernetes/kubernetes.github.io/projects/5

[2017-08-12 16:14] chenopis commented on #4783
@alexcontini We might need your help on this too.

[2017-08-13 17:00] nicr9 opened #4806 "Broken code block in `docs/concepts/services-networking/connect-applications-service`"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:** I found a broken code block in [this section](https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/#exposing-pods-to-the-cluster) of the docs. Instead of being interpreted as shell code it is interpreted as plaintext and ignores newlines. I believe this is because there's no empty line between th

[2017-08-14 18:50] zacharysarah commented on #4719
@not-dream :wave: If you have more details to add, please feel free to re-open this issue.

[2017-08-14 18:50] #4719 closed

[2017-08-14 18:57] radhikapc commented on #4693
@chrissound : The description does not state the issue with the given sentence. Please provide more information to take it forward.

[2017-08-14 19:12] radhikapc commented on #4806
@nicr9 : We are not able to view the issue you have mentioned here. Please provide a screenshot of the broken code block, so that we can take it forward.

[2017-08-14 20:49] nicr9 commented on #4806
@radhikapc Ah! It seems this was already fixed in #4782 which was only merged 3 hours ago!

Guess I'll have to find some other way to make myself useful :stuck_out_tongue:

This issue and #4807 can be closed

[2017-08-14 20:54] #4743 closed

[2017-08-14 20:55] #4740 closed

[2017-08-14 20:57] chenopis commented on #4742
I've added the draft to `/_includes/glossary/_glossary-template.md`. Feel free to make additional changes there.

[2017-08-14 20:59] radhikapc commented on #4806
That's cool @nicr9

[2017-08-14 20:59] #4806 closed

[2017-08-14 21:11] chenopis commented on #4742
@Bradamant3 Do you want to keep this open, or should I close this now that we have something committed to the repo?

[2017-08-15 07:55] chrissound commented on #4693
Surely the value would just be multiplied by 100 rather than `multiplied by 100000, and then divided by 1000`?

`(x * 100000) / 1000` is equal to `x * 100`.

[2017-08-15 11:41] irfanurrehman opened #4930 "Update-imported-docs.sh failure on ubuntu 16.04"
For some reason, update-imported-docs.sh always fails for me on my ubuntu 16.04 machine.
[This line](https://github.com/kubernetes/kubernetes.github.io/blob/master/update-imported-docs.sh#L86) almost always fails silently (without throwing any error) for me, due to which the script fails with below error:
[code]
Filing an issue to find out if any one else also observes the same behaviour.

- [ ] F

[2017-08-15 12:52] gurumaia opened #4940 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-interactive/"
**This is a...**
- [ ] Feature Request
- [X] Bug Report

**Problem:**
On step 3 of Module 2 of the tutorial, when running `kubectl proxy`, it hangs on `Starting to serve on 127.0.0.1:8001`

**Proposed Solution:**
I have no idea.

**Page to Update:**
https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-interactive/

![image](https://user-images.githubusercontent.com/8412398/29316674-3f375e

[2017-08-15 13:03] gurumaia commented on #4940
I've just installed minikube and kubectl in my machine to see what happens on my actual linux host. Same thing happens, but then I checked that it is actually listening on port 8001 while it hangs there. So it seems like this is the expected behavior.

Went back to the interactive tutorial and saw that you can open a new tab and it is listening on 8001.

Is this actually expected? Tks

[2017-08-15 18:26] zacharysarah commented on #4693
@vishh Heya. 👋  Can you shed some light on [pod resources](https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#how-pods-with-resource-limits-are-run), specifically the math here:

Is there a reason why we don't simply say, for example:

Thanks in advance!

[2017-08-15 18:54] vishh commented on #4693
@zacharysarah Just clarified in the PR - https://github.com/kubernetes/kubernetes.github.io/pull/4952/files#r133273014

[2017-08-16 01:58] stewart-yu commented on #4693
That 's easy. I'm thinking you should understand the relationship between  --cpu-quota   and  --cpu-period parameters.Besides, the meaning of millicore.May be helps to  you@chrissound

[2017-08-16 02:03] stewart-yu commented on #4693
"multiplied by 100000, and then divided by 1000" can explain the compute process of result.Just "multiplied by 100" may be confused.@radhikapc @zacharysarah @vishh

[2017-08-17 10:03] tengqm opened #5011 "DaemonSet tolerates more taints than currently documented"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
A DaemonSet by default tolerates not only node ready and node reachability taints.
By design, it can tolerate memory pressure and disk pressure taints.
For critical pods, it can tolerate outOfDisk taint as well.

**Proposed Solution:**
The above mentioned features should be documented.

**Page to Update:**
http://kubernetes.io/

[2017-08-17 10:06] tengqm commented on #5011
/assign @tengqm

[2017-08-17 10:14] tengqm opened #5012 "Improvement to taint based eviction/toleration needed"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

This is considered a Bug Report because the inaccuracy of related documentation may lead users to incorrect operations.

**Problem:**
Kubernetes supports more built-in taints than documented today, say `node.alpha.kubernetes.io/diskPressure`, `node.alpha.kubernetes.io/memoryPressure`,
`node.alpha.kubernetes.io/outOfDisk`, `node.alpha.kuberne

[2017-08-17 10:15] tengqm commented on #5012
/assign @tengqm

[2017-08-17 13:35] tgeek77 opened #5014 "Issue with k8s.io/docs/tasks/run-application/run-stateless-application-deployment/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

The example uses: apiVersion: apps/v1beta1

This gives the following error when trying to implement the deployment:

error: error validating "deployment.yaml": error validating data: couldn't find type: v1beta1.Deployment; if you choose to ignore these errors, turn validation off with --validate=false

**Proposed Solution:**

[2017-08-17 18:07] radhikapc commented on #5011
@tengqm Let the doc team know if you require any assistance from SMEs. Since you have assigned the defect to yourself, we assume that you have all the necessary information to fix this issue.

[2017-08-17 19:27] ahmetb opened #5019 "Initializer admission control plugin not documented"
**Page to Update:** https://kubernetes.io/docs/admin/admission-controllers/
**This is a...**  Bug Report

**Problem:** The `Initializer` admission controller plugin is not listed as one of the plugins in the documentation.

**Proposed Solution:** Someone with a bit more authoritative knowledge than me to add a paragraph or two explaining what this plugin does. I can add too if you give me a brief

[2017-08-17 20:56] cody-clark commented on #4134
@chenopis I'm giving this a soft ready. I submitted the last PR so we're almost there :)

[2017-08-17 21:06] zacharysarah commented on #4940
@BenHall 👋

[2017-08-17 21:18] radhikapc commented on #4930
@irfanurrehman :wave: This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.You can also open issues for Kubernetes functional

[2017-08-18 00:58] zacharysarah opened #5036 "[style guide] Use the international standard for punctuation inside quotes"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:** From #5029: We should document that K8s follows the international standard for punctuation inside quotes. For example, the American standard:
[code]
...versus the international standard:
[code]

**Proposed Solution:** Add a page for punctuation to the [K8s style guide](https://kubernetes.io/docs/home/contribute/style-guide/).

[2017-08-18 01:23] tengqm commented on #5019
addressed in pr #4751

[2017-08-18 02:15] tengqm commented on #5014
Looks like the server version is too low to use apps/v1beta1.

[2017-08-18 02:58] tengqm commented on #5011
@radhikapc Thanks for the heads up. The source code (and comment) is already telling us what were missing.

[2017-08-18 06:39] irfanurrehman commented on #4930
Thanks @radhikapc for having a look. I understand now that I should have posted the query on slack first. Given the issue is already there now, can somebody please confirm that this indeed happens for anybody else; if not I will close the issue.

[2017-08-18 09:39] wmuizelaar opened #5064 "Issue with k8s.io/docs/tasks/administer-cluster/ip-masq-agent/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The documentation states that 'By default, in GCE/GKE starting with Kubernetes version 1.7.0, the ip-masq-agent will run in your cluster. If you are running in another environment, you can add the ip-masq-agent DaemonSet to your cluster:'

But the DaemonSet remains empty in the documentation. Also, ip-masq-agent will not always

[2017-08-18 13:24] Kerren opened #5073 "Issue with k8s.io/docs/tutorials/kubernetes-basics/cluster-interactive/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
The interactive guide requires the Roboto Slab font. This font is requested from the [kubernetes.io](kubernetes.io) server, however, I get a CORS issue:
[code]

When I enable `Allow-Origin: *` on my browser I then get `404` errors.

**Proposed Solution:**
I'm guessing this is a cloudfront problem? Really not sure what the solu

[2017-08-18 16:59] ryanmcginnis commented on #4205
Ping. I'd like to make this a high priority and to get an assignee to investigate. This user experience needs to be improved.

[2017-08-18 17:15] mcandre opened #5076 "Issue with k8s.io/docs/tasks/configure-pod-container/pull-image-private-registry/"
This tutorial has a subtle but important ambiguity: Should the base64-encoded registry secret be the YAML format of the registry secret, or JSON format? The tutorial mentions both, but I'm not sure if the JSON portion was just talking about user-facing files, or if the tutorial wants the user to use one or the other, or perhaps it doesn't even matter? Please have the tutorial focus on only the for

[2017-08-18 17:18] mcandre opened #5077 "Automatically look for image pull secret if exists"
Please adopt a standard secret name for registry authentication, in order to reduce the amount of manual configuration required to get Kubernetes to actually apply this secret when pulling images. Something like `regsecret` per the [Kubernetes docs](https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/), so that individual pods don't have to be explicitly configured

[2017-08-18 20:00] miramar-labs opened #5080 "K8 HA docs - out of date etcd yaml file link"
Environment

RHEL7/UBUNTU

Dashboard version:
Kubernetes version: LATEST
Operating system:
Node.js version:
Go version:
Steps to reproduce

download yaml from here: https://kubernetes.io/docs/admin/high-availability/etcd.yaml

Observed result

note that the version of the etcd container is way out of date:

kind: Pod
metadata:
  name: etcd-server
spec:
  hostNetwork: true
  containers:
  - image:

[2017-08-19 19:20] pueffl opened #5119 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-interactive/"
**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**
kubectl proxy doesn't work (never finishes)

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-interactive/

[2017-08-20 12:31] Banashri opened #5122 "Issue with k8s.io/docs/tasks/administer-cluster/declare-network-policy/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Busybox pod is able to contact nginx even though in the presence of the network policy in the k8s cluster of version 1.7.4 and with calico plugin enabled.

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-08-21 02:27] x1957 commented on #2268
I want to connect to pod vis kubedns,  is the document working now?

[2017-08-21 06:41] luxas opened #5132 "Add information about auto-bootstrapped ClusterRoles for CSR approving"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

The changes in https://github.com/kubernetes/kubernetes/pull/49284 should be documented

**Proposed Solution:**

I'm gonna send a PR after code freeze :)

**Page to Update:**
http://kubernetes.io/...

v1.8

@liggitt asked for

:+1:

[2017-08-21 15:41] donalmadden opened #5136 "Issue with k8s.io/docs/tutorials/kubernetes-basics/expose-intro/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
In the "Overview of Kubernetes Services" section the tutorial mentions "(see below for why you might want a Service without including selector in the spec)". This is the first mention of spec in the whole tutorial (I've been working through it from the beginning).

**Proposed Solution:**
Insert a short paragraph in the document

[2017-08-21 17:08] radhikapc commented on #5019
@ahmetb  Hi, let's wait for #4751 to be merged. Will ping #doc-sig to complete the doc review.

[2017-08-21 17:13] radhikapc commented on #5136
@BenHall 👋

[2017-08-21 17:15] radhikapc commented on #5073
@BenHall 👋

[2017-08-21 17:22] radhikapc commented on #5064
@bowei Hi! Could you please take a look at this issue and provide necessary recommendation to take it to closure.
The documentation is at https://kubernetes.io/docs/tasks/administer-cluster/ip-masq-agent/

@wmuizelaar Would you please clarify what do you mean by `DaemonSet remains empty in the documentation` Thank you

[2017-08-21 17:27] radhikapc commented on #5076
Hi @erictune 👋 Could you please take a look at this issue and provide necessary recommendation to fix https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
Thanx

[2017-08-21 17:30] radhikapc commented on #5119
@BenHall 👋

[2017-08-21 17:34] radhikapc commented on #5077
@erictune Hi ! Requesting a tech review.
@mcandre Hi, from the issue description, it's not very clear it's an issue on docs or a suggestion on registry authentication. Please clarify.

[2017-08-21 17:44] JasonMorgan opened #5137 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-interactive/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-interactive/

it's step 3 of that section.

[2017-08-21 17:44] JasonMorgan opened #5138 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-interactive/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The instructions tell you to run kubectl proxy, which locks the terminal. It then tells you to run another command.

**Proposed Solution:**
Add in the instructions that the person running the tutorial should open a new terminal with some instructions.

**Page to Update:**
http://kubernetes.io/...

[2017-08-21 17:45] JasonMorgan commented on #5137
Opened this twice accidentally.

[2017-08-21 17:45] #5137 closed

[2017-08-21 17:45] radhikapc commented on #5138
@BenHall Hi !

[2017-08-21 17:49] radhikapc commented on #5122
@bowei Hi ! Please review this doc issue and provide necessary recommendation to take it to closure.

[2017-08-21 17:52] JasonMorgan commented on #5136
Looks like this was just a reading comprehension problem.  There are instructions at the bottom of the writeup.  Might be handy to move them up to under the proxy command but it's probably fine as is.

[2017-08-21 19:04] bowei commented on #5122
@Banashri the link that you gave seems to not point to the doc that you want to be updated?

[2017-08-21 19:05] bowei commented on #5064
/assign @dnardo

[2017-08-21 19:11] dnardo commented on #5064
I've had pr/#4284 out for review.  It should clear up the wording.

[2017-08-21 20:05] radhikapc commented on #5122
https://kubernetes.io/docs/tasks/administer-cluster/declare-network-policy/ @bowei

[2017-08-21 20:07] radhikapc commented on #5064
Thanx @dnardo.

[2017-08-21 21:15] bowei commented on #5122
/assign @dnardo

[2017-08-21 21:21] dnardo commented on #5122
Who is the network policy provider in your case ?  Can you describe the setup a bit more?

[2017-08-21 22:29] #5011 closed

[2017-08-21 22:39] mcandre commented on #5076
Evidentally the base64-encoded portion should be in JSON format, while the overall secret is often in YAML.

[2017-08-21 22:40] mcandre commented on #5077
In the short term, selecting a name like "regsecret" is fine, as along as each Kubernetes resource (e.g. pod) is configured to use a service account, and the service account refers to the same name ("regsecret", or whatever you choose).

[2017-08-21 23:38] chenopis commented on #5080
Doesn't look like the bot is auto-closing this now that the PR is merged, so I'm closing this.

[2017-08-21 23:38] #5080 closed

[2017-08-22 00:03] chenopis commented on #4930
@ahmetb You have any idea why this might be happening?

[2017-08-22 00:34] chenopis commented on #4205
@ryanmcginnis P1 or P0?

[2017-08-22 08:19] BenHall commented on #5119
Thank you for the feedback. This is by design on how kubectl proxy works. All the future commands launch in a separate terminal window while Kubectl Proxy is running.

We should make this clearer in the scenario text itself.

[2017-08-22 08:19] BenHall commented on #5119
Related to #5138

[2017-08-22 08:19] BenHall commented on #5138
Thank you for the feedback. This is by design on how kubectl proxy works. All the future commands launch in a separate terminal window while Kubectl Proxy is running.

We should make this clearer in the scenario text itself.

[2017-08-22 08:21] BenHall commented on #5073
Thanks, we'll get this updated.

[2017-08-22 08:23] BenHall commented on #4940
Thank you for the feedback. As you mentioned, this is by design on how kubectl proxy works. We should make this clearer in the scenario text itself as a few people have struggled with this.

Related to #5119 and #5138

[2017-08-22 08:31] BenHall commented on #5136
Thank you for the feedback. As Jason mentioned, the explanation of kubectl proxy isn't very clear and something we're looking at improving.

Related #4940, #5119 and #5138

[2017-08-22 13:27] donalmadden commented on #5136
No problem @BenHall. I've found multiple issue like this on this page and further on in the tutorial if you're happy to take more feedback.

[2017-08-22 16:34] ahmetb commented on #4930
@chenopis This is the same issue I reported at #4283. Something about the federation reference docs has changed in the main repo, causing the failure. Let's follow up on the issue I linked, this will be an issue during the next release.

[2017-08-22 18:00] JasonMorgan commented on #5136
Looks like this was just a reading comprehension problem.  There are instructions at the bottom of the writeup.  Might be handy to move them up to under the proxy command but it's probably fine as is.

[2017-08-22 18:02] JasonMorgan commented on #5136
Is the tutorial content held in a repo I can send a PR to?  I'd be happy to submit corrections as I go through it.

[2017-08-22 18:12] #4134 closed

[2017-08-22 19:02] radhikapc commented on #5136
@JasonMorgan here you go https://github.com/kubernetes/kubernetes.github.io/tree/master/docs/tutorials

[2017-08-22 20:14] Banashri commented on #5122
Network Provider is weave net. During cluster creation I set --networking=weave in kops.
Please let me know if you need any more details.

[2017-08-22 20:16] bowei commented on #5122
I think we should remove the full example from this page, which is a generic doc about configuring network policy. Provider specific pages exist and should be where the workable examples live

[2017-08-22 20:34] dnardo commented on #5122
@Banashri  I would talk to the weave folks about what you are seeing.  The docs that you refer to are general network policy docs on applying network policy API objects.   Weave is one of many Network Policy Provides, and k8s is merely passing API objects to the network policy providers which then implement the enforcement of that policy.  Kubernetes isn't responsible for the actual enforcement.

[2017-08-22 20:45] Banashri commented on #5122
The configurations setup are done properly specific to the used network provider. Weave Net pods are also running fine in the cluster. But the example for declaring network policy did not work as expected. Furthermore, the API Version of the created network policy shows as extensions/ v1beta1 instead of networking.k8s.io/v1.

[2017-08-22 20:51] bowei commented on #5122
@Banashri -- it would be good to figure out what the bug is as this is a issue on the documentation, not the network policy code.

[2017-08-22 21:05] Banashri commented on #5122
Oh. I must say that the example in the document is really good but it is pity that we cant get the expected result. I hope that the example is well tested with weave net or calico as network provider as those 2 are mentioned in the other document.

[2017-08-23 11:08] patrocinio opened #5168 "Issue with k8s.io/docs/tutorials/kubernetes-basics/expose-intro/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
Unfinished sentence:
```NodePort - Exposes the Service on the same port of each selected Node in the cluster using NAT. Makes a Service accessible from outside the cluster using :. Superset of ClusterIP.```

**Proposed Solution:**
Finish it.

**Page to Update:**
http://kubernetes.io/...
https://kubernetes.io/docs/tutorials/kub

[2017-08-23 11:09] #5168 closed

[2017-08-23 14:30] fanfanbj opened #5170 "Issue with k8s.io/docs/getting-started-guides/minikube/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

in Using Minikube with an HTTP Proxy.

**Problem:**
This is a Bug Report in Using Minikube with an HTTP Proxy.

origin is:
minikube start --docker-env HTTP_PROXY=http://$YOURPROXY:PORT \
                 --docker-env HTTPS_PROXY=https://$YOURPROXY:PORT
in my environment, it needs low-case for http_proxy and https_proxy, which looks like as

[2017-08-23 22:08] radhikapc commented on #5170
@fanfanbj Do you think there is any disruption in the functionality with the current content ? Could you please direct me to the style guide that states the given option should be given in lower case.
cc @zacharysarah

[2017-08-24 06:48] fanfanbj commented on #5170
@radhikapc, in fact, I can successfully run "minikube start" with upper-case HTTP_PROXY and HTTPS_PROXY. But, the setting doesn't work. I need a http proxy to pull images in gcr.io. When I change to lower case, it works.

[2017-08-24 15:49] ryanmcginnis commented on #4205
P1

[2017-08-24 20:56] ryanmcginnis opened #5193 "We should not instruct users to use Deployment to deploy a stateful application"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
This task teaches a backwards way of deploying a stateful application on Kubernetes. It should instead use StatefulSets.

**Proposed Solution:**
Rewrite this task to use StatefulSet instead of Deployment.

**Page to Update:**
https://kubernetes.io/docs/tasks/run-application/run-single-instance-stateful-application/

[2017-08-25 13:46] mattjmcnaughton opened #5203 "Examples Links on https://kubernetes.io/docs often point to old examples location"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
With [this pr](https://github.com/kubernetes/kubernetes/pull/46362) from around a month ago, all of the [examples](https://github.com/kubernetes/kubernetes/tree/master/examples) dir on the [kubernetes/kubernetes](https://github.com/kubernetes/kubernetes) repo redirect to the [kubernetes/examples](https://github.com/kubernetes/e

[2017-08-25 13:47] mattjmcnaughton commented on #5203
I'm happy to create a pr for this, I just wanted to check it was a desired change before working on it :)

[2017-08-26 00:59] fffffreedom opened #5205 "Issue with k8s.io/docs/concepts/overview/working-with-objects/kubernetes-objects/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
as you said:
You’ll also need to provide the object spec field. The precise format of the object spec is different for every Kubernetes object, and contains nested fields specific to that object. The Kubernetes API reference can help you find **the spec format for all of the objects** you can create using Kubernetes.

but i can

[2017-08-26 09:26] parag3gwl opened #5207 "Issue with k8s.io/docs/tutorials/stateful-application/cassandra/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
I am using minikube config and followed the process mentioned in stateful-application/cassandra. pods runs and able to do the cql operation. But i am not able to access cassandra outside of kubernetes.

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-08-27 12:19] metmajer commented on #4135
@erictune: this is going to be a very valuable feature. Is there any way I could help out with this PR?

[2017-08-28 04:01] sivasamyk opened #5228 "Issue with k8s.io/docs/concepts/services-networking/ingress/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
When explaining the contents of YAML using line numbers (e.g.  Under Ingress Resource POST YAML explanation in https://kubernetes.io/docs/concepts/services-networking/ingress/), without the YAML being annotated with line numbers, it is difficult to correlate between the text and YAML file

**Proposed Solution:**
Annotate YAML f

[2017-08-28 06:05] houami commented on #3159
still getting an error with kubeadm 1.7.4

[2017-08-28 15:45] radhikapc commented on #5207
@BenHall 👋

[2017-08-28 15:48] radhikapc commented on #5228
@steveperry-53 👋

[2017-08-28 16:05] radhikapc commented on #5205
@fffffreedom have you checked here https://kubernetes.io/docs/api-reference/v1.7/

[2017-08-28 17:29] davidewatson opened #5232 "Documentation does not make clear which version of k8s is being documented"
**This is a request to include the relevant version of kubernetes at the top of the documentation page**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

When reading the documentation, sometimes it matters which version of kubernetes the documentation was written for. For example, the [class documentation for persistent volumes](https://kubernetes.io/docs/concepts/storage/persistent-volumes

[2017-08-28 18:10] chenopis commented on #5203
@mattjmcnaughton Yeah, if you could submit a PR for this, that would be fantastic! Thx

[2017-08-28 19:26] #5012 closed

[2017-08-28 21:15] chenopis commented on #4742
This was addressed by https://github.com/kubernetes/kubernetes.github.io/pull/4865 in `_includes/templates/glossary/README.md`.

[2017-08-28 21:15] #4742 closed

[2017-08-28 23:15] radhikapc opened #5234 "No style guide for Release Notes at k8s.io/docs/home/contribute/style-guide/"
Release Notes are very much part of the documentation, but currently no style guideline is found in the style guide.

We need to create one for the upcoming release.

[2017-08-29 01:19] yn425611317 opened #5236 "initContainers"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-08-29 01:21] yn425611317 commented on #5236
initContainers is invalid field

[2017-08-29 01:37] tengqm commented on #5193
I don't think so. The link is about *single instance* of stateful applications. If you are running a replicated version, you will read this: https://kubernetes.io/docs/tasks/run-application/run-replicated-stateful-application/

From doc side, we are supposed to add a link to the latter. That would be the simple fix.

[2017-08-29 03:18] tengqm commented on #5236
would be helpful if you can be more specific about the bug you mentioned.

[2017-08-29 03:19] yn425611317 commented on #5236
apiVersion: v1
kind: ReplicationController
metadata:
  name: dinggang-webdj
  namespace: dgdj
spec:
  replicas: 1
  template:
    metadata:
      labels:
        name: dinggang-webdj
    spec:
      containers:
      - name: dinggang-webdj
        image: sxgc-master1:5000/dinggang-webdj
        ports:
        - containerPort: 8080
        volumeMounts:
        - mountPath: /usr/local/tomcat/logs

[2017-08-29 05:57] derfred commented on #1652
FWIW you can find the answer here: https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/

[2017-08-29 08:41] spicysomtam commented on #1556
The original posters link is now dead. I found it referred to [here](https://github.com/kubernetes/contrib/tree/master/peer-finder).

However, I find annotation documentation a little hard to find anyway. Any help/tips? Suppose I am saying can it better docuemented?

[2017-08-29 09:13] BenHall commented on #5207
@radhikapc Thanks but this is outside of the interactive tutorials :)

@parag3gwl You might find Stackoverflow more useful for more in-depth and faster responses to questions about Kubernetes. In the meantime, I recommend looking at how applications can be exposed outside the cluster using Services and NodePort, Ingress routing or ExternalIPs. A great starting point is https://kubernetes.io/docs/t

[2017-08-29 12:30] mattjmcnaughton commented on #5203
Sweet, working on it now!

[2017-08-29 12:50] php-coder opened #5239 "Pod Security Policy doc is missing AllowPrivilegeEscalation parameter"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
The PSP doc doesn't mention [`AllowPrivilegeEscalation`/`DefaultAllowPrivilegeEscalation` fields](https://github.com/kubernetes/kubernetes/pull/47019) that were added recently.

**Proposed Solution:**
The PSP doc should list them and explain their meaning and usage.

**Page to Update:**
https://kubernetes.io/docs/concepts/polic

[2017-08-29 12:51] jessfraz commented on #5239
Yup adding docs in the next day

On Aug 29, 2017 08:50, "Vyacheslav Semushin" <notifications@github.com>
wrote:

[2017-08-29 16:59] enisoc commented on #1556
With 1.8, we are promoting this from an alpha annotation to a beta field. That should help, since it will be documented in the auto-generated API reference:

https://github.com/kubernetes/kubernetes/pull/49061/files

/assign @kow3ns

[2017-08-29 20:05] opsforge opened #5243 "Issue with k8s.io/docs/tasks/tools/install-kubectl/ - download curl does not work in zsh"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Documentation issue

The macOS tab on page https://kubernetes.io/docs/tasks/tools/install-kubectl/ shows the following command:
`curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/darwin/amd64/kubectl`
This has errors if you are

[2017-08-29 21:16] ryanmcginnis commented on #5193
Would you explain why?

Regardless of how many instances are deployed, why use Deployment for a stateful application? Perhaps it is easier, but it doesn't set the reader up for success.

Let's pretend that a new user just finished reading the StatefulSet concept. They are ready to deploy their stateful application, and to begin with they'd like to learn how to deploy a single instance. Coming to t

[2017-08-29 22:34] arush-sal commented on #4263
I guess instead of the CLI_CERT/CLI_KEY, it should be MASTER_CERT and MASTER_KEY, correct me if wrong :)

[2017-08-30 09:23] jackymail opened #5251 "Issue with k8s.io/docs/tutorials/stateless-application/hello-minikube/"
can not launch "minikube dashboard"
the error message is :
Could not find finalized endpoint being pointed to by kubernetes-dashboard: Error validating service: Error getting service kubernetes-dashboard: services "kubernetes-dashboard" not found

**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-08-31 07:19] kairen commented on #5251
Just to make sure, I also tried to the last version for Minikube, but I can launch dashboard via `minikube dashboard` command.

[2017-08-31 14:49] chenopis commented on #1371
This has been completed.

[2017-08-31 14:49] #1371 closed

[2017-09-01 09:31] eddytruyen opened #5267 "Issue with k8s.io/docs/setup/independent/create-cluster-kubeadm/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report
- [x] Documentation request
**Problem:**
Many CNI-based plugins do not set hairpin mode which allows pods to access themselves via their Service IP, if they don't know about their podIP.
https://github.com/containernetworking/cni/issues/476

This is not documented in kubeadm. However kubeam only supports CNI-based plugins and not kubenet-bas

[2017-09-01 22:04] #5203 closed

[2017-09-02 12:08] Steffen911 opened #5276 "Issue with kubectl autoscale docs"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Example states that target CPU utilization is specified, but it is not.
[code]

**Proposed Solution:**
Update the docs to say that no target CPU utilization is specified so a default autoscaling policy will be used.

[2017-09-02 12:12] #5276 closed

[2017-09-02 21:15] eddytruyen commented on #5267
Sorry I posted this issue in the wrong project. My apologies.

[2017-09-02 21:15] #5267 closed

[2017-09-03 05:17] tevjef opened #5283 "Issue with k8s.io/docs/tasks/access-kubernetes-api/extend-api-custom-resource-definitions/"
**Problem:**

Docs say
[code]
Then shows an example with YAML data.

**Proposed Solution:**

Change it to say raw **YAML** data:

**Page to Update:**
https://kubernetes.io/docs/tasks/access-kubernetes-api/extend-api-custom-resource-definitions/

[2017-09-03 12:10] abitrolly opened #5284 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-intro/"
**This is a...**
- [x] Bug Report

**Problem:**
After `run` command in tutorial that should create the deployment, running `kubectl get deployments` gives no result. I thought that Deployment is saved on master node and monitored for changes, but it seems that that's not true. It is better to be explained in tutorials where these Deployments are saved if `kubectl` can not find them, but has a comm

[2017-09-03 15:33] adam-sandor opened #5285 "scratch.md outdated"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
https://kubernetes.io/docs/getting-started-guides/scratch/ is referring to the `--configure-cbr0` parameter on the `kubelet`. That one seems to be deprecated a completely removed quite a long time ago.
I'm right now running into issues with networking and the cbr0 bridge, but the documentation is not helpful in it's current sta

[2017-09-05 07:37] psaana opened #5299 "Issue with k8s.io/docs/tutorials/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-09-05 12:42] thskeerthi opened #5301 "Issue with k8s.io/docs/concepts/cluster-administration/logging/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-09-05 17:29] kairen commented on #5301
@thskeerthi Could you please provide more details?

[2017-09-05 17:30] kairen commented on #5299
@psaana Could you please provide more details?

[2017-09-05 19:33] vladlosev opened #5307 "Issue with k8s.io/docs/getting-started-guides/scratch/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The documentation on k8s.io/docs/getting-started-guides/scratch/ mentions the `--cluster-name` setting for `apiserver` (`--cluster-name=$CLUSTER_NAME`). But an attempt to launch `apiserver` with this flag yields an error:
[code]
which is confusing.

**Proposed Solution:**
Remove the mention of  `--cluster-name` in relation to `

[2017-09-05 20:37] tallclair opened #5308 "[API Reference] Commented out fields get merged into the following field's docs"
E.g. from https://github.com/kubernetes/kubernetes/blob/8b9e8cf80a845336fd750185d88f76711d1a5e77/pkg/api/types.go#L2087:

[code]

Becomes:

![image](https://user-images.githubusercontent.com/29742491/30082340-5068acee-923f-11e7-9ed1-a0fa68254b57.png)

Which makes it look like the `RequiredDuringSchedulingIgnoredDuringExecution` field is not yet implemented.

[2017-09-05 21:16] caesarxuchao commented on #3588
I'm assigning myself for the `OwnerReferencesPermissionEnforcement`.

/assign @caesarxuchao

[2017-09-05 21:20] ahmetb commented on #3588
The following are missing, too:

[code]

[2017-09-05 21:30] #5243 closed

[2017-09-05 22:32] #4331 closed

[2017-09-06 00:19] caesarxuchao opened #5310 "Document kubectl's behavior regarding initializers"
* document the `--include-uninitialized` kubectl flag;
* if a specific kubectl subcommand include uninitialized objects;
* `--all` includes uninitialized objects by default.

cc @dixudx @ahmetb

[2017-09-06 01:16] caesarxuchao commented on #3588
https://github.com/kubernetes/kubernetes.github.io/pull/4751 is addressing the issue.

[2017-09-06 01:56] ahmetb commented on #5310
Isn't `kubectl` the right place to document this? We have quite a few topics and a cheatsheet, but I don't think we comprehensively document such kubectl options in the articles on the docs site.

[2017-09-06 02:07] dixudx commented on #5310
At lease we should update <https://kubernetes.io/docs/user-guide/kubectl/>.

[2017-09-06 03:08] ahmetb commented on #5310
Not sure how one does actually reach that page. I thought we removed those pages. (I can't find any docs pages linking to that URL, makes me think it's an **orphan page**.)

New docs are at https://kubernetes.io/docs/reference/ ("kubectl CLI"). There are pages like:

- https://kubernetes.io/docs/user-guide/kubectl-overview/ (manual)
- https://kubernetes.io/docs/user-guide/kubectl-cheatsheet/ (manu

[2017-09-06 13:53] openColor111 opened #5321 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-intro/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-09-06 13:54] openColor111 opened #5322 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-intro/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-09-06 22:18] mgalal123 opened #5327 "connection was refused"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-09-06 23:37] #4454 closed

[2017-09-07 05:57] nogurenn opened #5333 "Issue with k8s.io/docs/tutorials/kubernetes-basics/explore-interactive/"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
The interactive tutorial CLI is not passing over the "data" needed (e.g. Module 3 not discovering the created resources from previous modules). Since module 3 onwards builds on top of previous modules, this becomes practically useless.

**Proposed Solution:**
Explicitly state in the instructions to recreate the previous resource

[2017-09-07 06:57] tomoe opened #5335 "outdated info on manual deploy on ubuntu"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
The page https://kubernetes.io/docs/getting-started-guides/ubuntu/manual/ looks outdated as the scripts under cluster/ubuntu was deleted by the commit https://github.com/kubernetes/kubernetes/commit/e8a3e2d87c337f2da59eb6d124583353f65901a3

**Proposed Solution:**

Remove the page

**Page to Update:**
https://kubernetes.io/docs/g

[2017-09-07 13:32] MengZn commented on #5335
I have a approach to a manual install kubernetes on ubuntu 16.04.
Do I have the honor to modify this document?
@gnufied

[2017-09-07 13:44] gnufied commented on #5335
@MengZn yes sure you can go ahead and modify the document. Though, approving such a documentation is outside my duties (and to be perfectly honest I am right person for that). I would expect somone from canonical or cluster-lifecycle to approve/review it.

[2017-09-07 14:27] MengZn commented on #5335
Thank @gnufied, I will provide manual deployment kubernetes in ubuntu 16.04 as soon as possible.
Can you tag someone who has the right to review this document?

[2017-09-07 20:56] zacharysarah opened #5339 "Cleaning up unused repo labels"
**This is a...**
- [ ] Feature Request
- [ ] Bug Report
- [x] Doc process improvement

**Problem:**
There are currently [154 repo labels](https://github.com/kubernetes/kubernetes.github.io/labels) in this repo. Most of them receive no use (no issues or PRs assigned ever) and don't provide much help for assigning subject matter experts to content creation or reviews. Labels are more confusing than

[2017-09-07 21:13] zacharysarah commented on #5339
Repo labels as of 9/7/17, as returned by [this gist](https://gist.github.com/singingwolfboy/69289b352738c6280b533e843ba3e332):
<details><summary>Repo labels</summary>
<pre><code>Actionable
area/admin
area/api
area/apiserver
area/app-config-deployment
area/batch
area/build-release
area/cadvisor
area/clientlib
area/cloudprovider
area/controller-manager
area/daemonset
area/deployment
area/devexp
area

[2017-09-07 22:28] #5064 closed

[2017-09-08 08:32] snichme commented on #2632
Not an issue anymore. Can now access both domains via Freedome.

[2017-09-08 08:32] #2632 closed

[2017-09-08 14:25] duncanphillips opened #5355 "Issue with k8s.io/docs/admin/high-availability/"
Thanks for the awesome work on Kubernetes. We are trying to setup high availability on metal and are having some issues. The documentation is a bit thin, and there's not a lot of other docs available that are much help. It would be very helpful to have more information on this page.

**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

This page is very thin on information about

[2017-09-08 18:00] zacharysarah commented on #5339
[Work in Progress]

Based on use and freshness, I'm removing the following labels:

Label | Reason
------|--------
`area/*` | Maximum of 2 issues assigned per area
`Automation` | 13 issues, last update January 2017
`Bounty` | No issues
cherrypick-approved | No issues
cherrypick-candidate | No issues
cla: human-approved | No issues
Code Under Development | Isn't it always? 😉
keep-open | No issues,

[2017-09-08 19:05] zacharysarah commented on #5339
@Bradamant3 @steveperry-53 👋 Currently there are five labels related to release notes:
[code]
Before I remove them, I'd like your feedback about whether it makes sense to:
a. Remove them all
b. Remove none of them
c. Keep one label (`release-note`?)

None of them have any issues assigned.  Let me know! 🙇

[2017-09-08 19:29] cyberh0me opened #5359 "Issue with k8s.io/docs/getting-started-guides/fedora/flannel_multi_node_cluster/"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
based on this documentation it should be possible to ping pod 2 running on node 2 from pod 1 running on node 1 but this does not work

**Proposed Solution:**
unfortunately still investigating
possibly Docker option --ip-masq
Docker currently use
"com.docker.network.bridge.enable_ip_masquerade": "true",

**Page to Update:**
http:

[2017-09-08 22:12] cyberh0me commented on #5359
i successfully disabled dockers ip masquerading with
docker network inspect bridge
"com.docker.network.bridge.enable_ip_masquerade": "true"
systemctl stop docker
systemctl stop flanneld
ip link delete docker0
vi /etc/sysconfig/flanneld
FLANNEL_OPTIONS="-ip-masq"
systemctl start flanneld
systemctl start docker
docker network inspect bridge
"com.docker.network.bridge.enable_ip_masquerade": "false"

[2017-09-08 23:30] heckj commented on #5327
@mgalal123 was there an issue with the documentation related to `connection was refused`? The template is blank, so I'm not sure if this issue was created erroneously.

[2017-09-09 00:05] heckj commented on #5333
/cc @BenHall

[2017-09-09 00:06] heckj commented on #5333
@BenHall your name was suggested related to the content hosted in Katacoda, is that appropriate, and is there a means to tag content issues here related to your content?

[2017-09-09 00:39] heckj opened #5361 "content in Tasks section does not match navigation sidebars and isn't linked"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**

The content in docs/tasks/index.md no longer matches the side bar, and none of the content is linked.

**Proposed Solution:**

I'm not certain what the ideal/best solution is - is the index.md meant to be an example of what's there, and the content should just be updated (and potentially linked as well), or should the contents

[2017-09-09 00:56] cyberh0me opened #5362 "Issue with k8s.io/docs/admin/authentication/"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
generating certificates with openssl is missing the required IP SANs
dashboard is not happy without...
Error while initializing connection to Kubernetes apiserver. This most likely means that the cluster is misconfigured (e.g., it has invalid apiserver certificates or service accounts configuration) or the --apiserver-host param

[2017-09-09 02:08] feiskyer commented on #4374
Already added at https://v1-6.docs.kubernetes.io/docs/home/, closing it.

[2017-09-09 02:08] #4374 closed

[2017-09-09 06:56] warmchang commented on #3313
+1.

[2017-09-09 07:54] #5327 closed

[2017-09-09 09:58] shay-berman opened #5367 "Issue with k8s.io/docs/tutorials/stateless-application/expose-external-ip-address/"
**This is a...**

- [ ] Feature Request
- [X ] Bug Report

**Problem:**
I run the flow in the https://kubernetes.io/docs/tutorials/stateless-application/expose-external-ip-address/
#> kubectl run hello-world --replicas=5 --labels="run=load-balancer-example" --image=gcr.io/google-samples/node-hello:1.0  --port=8080
#> kubectl expose deployment hello-world --type=LoadBalancer --name=my-service

but

[2017-09-09 18:05] BenHall commented on #5333
@heckj @nogurenn Thanks for the feedback and the heads up. I'll organise publishing the content as we can collaborate on updates.

[2017-09-10 11:51] KyleKR opened #5375 "Issue with k8s.io/docs/tutorials/kubernetes-basics/update-intro/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
when under rolling update, the new version pods changed from the old version have to take all the traffic which was separated when it was more than 2 pods. though it is short time before all the pods are changed to new version. A few pods have to endure all traffic, so I think there will should be a min number of pods that is s

[2017-09-11 06:26] qiujian16 opened #5383 "Description of httpGet in readiness/liveness probe is not sufficient."
**This is a enhacement**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
There is no place that specify what value can be chosen in scheme field of httpGet. We should add that https is supported also.

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/

[2017-09-11 11:30] zioalex opened #5388 "Issue with k8s.io/docs/tasks/administer-cluster/encrypt-data/"
**This is a a Bug Report*

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Nowhere in the documentation page is stated that etcdv3 is needed to have data encryption, though it seems to be a requirement.

**Proposed Solution:**
Fix the documentation.

**Page to Update:**
https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/

[2017-09-11 16:53] cmluciano opened #5392 "Document ipBlock option in NetworkPolicy"
**Problem:**
ipBlock has been added as a new peer for Network Policy but no docs exist

**Proposed Solution:**
Examine the code comments for the [ipBlock PR](https://github.com/kubernetes/kubernetes/pull/50033) and add the necessary examples to the network-policy documentation

**Page to Update:**
https://kubernetes.io/docs/concepts/services-networking/network-policies/

Kubernetes Version: 1.8

[2017-09-11 16:54] cmluciano commented on #5392
cc @kennjason

[2017-09-11 16:56] cmluciano opened #5393 "document egress networkpolicy support"
**Problem:**
EgressRule has been added to Network Policy but no docs exist

**Proposed Solution:**
Examine the code comments for the [Egress PR](https://github.com/kubernetes/kubernetes/pull/51351) and add the necessary examples to the network-policy documentation. Special attention needs to be placed on how to create a default policy for Egress vs. Ingress.

**Page to Update:**
https://kubernetes

[2017-09-11 16:57] cmluciano commented on #5393
cc @kennjason

[2017-09-11 18:41] zacharysarah commented on #5339
@Bradamant3 Bumping for [visibility](https://github.com/kubernetes/kubernetes.github.io/issues/5339#issuecomment-328188580). 🙇

/cc @chenopis for visibility

[2017-09-11 18:54] zacharysarah commented on #5339
I'm specifically not removing labels for `size/*` _yet_: [kubernetes/features](https://github.com/kubernetes/features/) has a script that auto-assigns `size/*`, and I'd like to see if it's worth implementing for docs.

[2017-09-11 19:10] zacharysarah commented on #5339
OK, it's done. The number of labels is down to 30:<details>
<summary>Current list of repo labels</summary>

[code]
</details>

[2017-09-11 19:10] #5339 closed

[2017-09-11 19:43] #4258 closed

[2017-09-11 23:31] zacharysarah commented on #5232
@davidewatson :wave: There's a version selector in the top right corner. 👍

[2017-09-11 23:31] #5232 closed

[2017-09-11 23:32] zacharysarah commented on #5239
@jessfraz :wave: Any updates?

[2017-09-11 23:35] #5321 closed

[2017-09-11 23:35] #5322 closed

[2017-09-11 23:35] #5301 closed

[2017-09-11 23:55] heckj commented on #2218
@BenHall the mispelling is a part of the image, and it's still there - not resolved. Not sure who made the original to get a fix on the image...

[2017-09-12 06:20] kairen commented on #5359
Hi @cyberh0me Which Docker version running on your node?

[2017-09-12 06:23] kairen commented on #5359
This may be the effect of the previous Docker change, refer from https://github.com/moby/moby/issues/14041.

[2017-09-12 09:34] vyasatavi opened #5406 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-interactive/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
General problem. Command on the online terminal wrap on the same line instead of next line.

Module2: curl command failed with error "curl: (3) <url> malformed"

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-09-12 10:37] BenHall commented on #2218
Maybe @jocatalin can help. He was part of the original @ContainerSolutions team who worked on the content.

[2017-09-12 11:15] cyberh0me commented on #5359
docker-1.13.1-22.gitb5e3294.fc26.x86_64.rpm

[2017-09-12 11:37] abitrolly opened #5409 "Issue with k8s.io/docs/tasks/access-application-cluster/access-cluster/"
**This is a...**
- [x] Bug Report

**Problem:**
The documentation says that `kubectl` needs to know the location of the cluster and credentials to access it, but doesn't explain how to get these params out of existing cluster and how to save them in `kubectl`. I suppose that there could be even some login command that authenticates and stores these details automatically.

**Proposed Solution:**
Ex

[2017-09-12 11:39] tengqm commented on #5236
Cannot debug this because your YAML is not rendered properly ...

[2017-09-12 11:45] taestone commented on #2325
I have the same issue on elastic cronjob.

[code]

[code]

[2017-09-12 12:58] jocatalin commented on #2218
I asked the designer agency who helped developing the diagrams (remembertoplay.co) to fix this, and I just got a new version that removes the typo. But what I can see is that there was a fix for this in the ticket @BenHall mentioned (#1767): https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/tutorials/kubernetes-basics/public/images/module_01_cluster.svg

@heckj  I think the probl

[2017-09-12 13:06] MengZn opened #5413 "manual deployment in ubuntu approach"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
The problem is manual deployment kubernetes in ubuntu is too old.

**Proposed Solution:**
So I made a manual deployment approach #5412

**Page to Update:**
https://kubernetes.io/docs/getting-started-guides/ubuntu/

Kubernetes Version: 1.7.2

[2017-09-12 13:08] MengZn commented on #5413
cc @Bradamant3

[2017-09-12 13:20] #5413 closed

[2017-09-12 13:25] MengZn opened #5415 "manual deployment in ubuntu approach"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
The problem is manual deployment kubernetes in ubuntu is too old.

**Proposed Solution:**
So I made a manual deployment approach #5414

**Page to Update:**
https://kubernetes.io/docs/getting-started-guides/ubuntu/

Kubernetes Version: 1.7.2

[2017-09-12 13:27] MengZn commented on #5415
cc @Bradamant3

[2017-09-12 14:30] kairen opened #5416 "Issue with k8s.io/docs/concepts/configuration/secret/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
Providing both formats may create confusion problems. For avoid confusion, we need to unified use of one format.

**Proposed Solution:**
Unified use of YAML.

**Page to Update:**
http://k8s.io/docs/concepts/configuration/secret/

[2017-09-12 14:52] heckj commented on #2218
The image referenced is also `module_02_first_app.svg` (https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/tutorials/kubernetes-basics/public/images/module_02_first_app.svg). `module_01_cluster.svg` was updated, just not the only instance of the typo would be my guess.

[2017-09-12 21:33] heckj commented on #4940
already related (perhaps a duplicate) of #1561

[2017-09-12 21:33] heckj commented on #1561
@BenHall pointed me at the repo with the content, and I've made a PR to put in additional content to help explain the expectation around and usage of `kubectl proxy`: https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios/pull/2

[2017-09-12 21:34] heckj commented on #5119
related (original) issue: #1561

[2017-09-12 21:34] heckj commented on #5138
related (original) issue: #1561

[2017-09-13 02:15] #5416 closed

[2017-09-13 08:39] #5415 closed

[2017-09-13 08:41] MengZn opened #5432 "manual deployment in ubuntu approach"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
The problem is manual deployment kubernetes in ubuntu is too old.
In addition, the ubuntu manual installation guide has been deleted

**Proposed Solution:**
So I made a manual deployment approach #5431

Kubernetes Version: 1.7.2

[2017-09-13 09:11] MengZn commented on #5432
cc @tengqm

[2017-09-13 11:23] derberg opened #5436 "Issue with storageClassName attribute"
- [ ] Feature Request
- [X] Bug Report

**Problem:**
documentation states in few places:
[code]
So I tried to use `storageClassName` instead and it works very well in the cluster, persistentVolume is provisioned automatically. Unfortunately it is not working on minikube, on minikube persistentVolumeClaim works only with annotation way of referencing the storage class.

**Proposed Solution:**
Eithe

[2017-09-13 11:30] AMLBW7 opened #5437 "Issue with k8s.io/docs/tasks/administer-cluster/out-of-resource/"
**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**
In the document Configure Out Of Resource Handling (https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/#evicting-end-user-pods), under "Evicting end-user pods", the text makes no sense. The order in which pods are evicted seems to be reversed, and the text under Guaranteed is just a copy of the text under Burs

[2017-09-13 15:59] ericson-cepeda opened #5442 "Issue with k8s.io/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
hostAliases property is not being written to the pod description when using "kubectl apply -f hostaliases.yml".

**Proposed Solution:**
Edit resource description directly from Kubernetes dashboard.

**Page to Update:**
https://kubernetes.io/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases/

Kuber

[2017-09-13 19:35] heckj commented on #5138
Thanks Jason,

This bug matches closely other bugs reported against the use of `kubectl proxy` in the tutorial's hosted at Katacoda. I have a PR pending to resolve, and am closing this bug to focus conversation on the earliest report of this issue: https://github.com/kubernetes/kubernetes.github.io/issues/1561

Please comment at https://github.com/kubernetes/kubernetes.github.io/issues/1561, or su

[2017-09-13 19:35] #5138 closed

[2017-09-13 19:35] heckj commented on #5119
Hi Wolfgang,

This bug matches closely other bugs reported against the use of `kubectl proxy` in the tutorial's hosted at Katacoda. I have a PR pending to resolve, and am closing this bug to focus conversation on the earliest report of this issue: https://github.com/kubernetes/kubernetes.github.io/issues/1561

Please comment at https://github.com/kubernetes/kubernetes.github.io/issues/1561, or sub

[2017-09-13 19:35] #5119 closed

[2017-09-13 19:36] heckj commented on #4940
Thank you Gustavo,

This bug matches closely other bugs reported against the use of `kubectl proxy` in the tutorial's hosted at Katacoda. I have a PR pending to resolve, and am closing this bug to focus conversation on the earliest report of this issue: https://github.com/kubernetes/kubernetes.github.io/issues/1561

Please comment at https://github.com/kubernetes/kubernetes.github.io/issues/1561,

[2017-09-13 19:36] #4940 closed

[2017-09-13 19:36] heckj commented on #2547
Thanks @fulltopic

This bug matches closely other bugs reported against the use of `kubectl proxy` in the tutorial's hosted at Katacoda. I have a PR pending to resolve, and am closing this bug to focus conversation on the earliest report of this issue: https://github.com/kubernetes/kubernetes.github.io/issues/1561

Please comment at https://github.com/kubernetes/kubernetes.github.io/issues/1561, o

[2017-09-13 19:36] #2547 closed

[2017-09-13 20:35] BenHall commented on #1561
The PR has now been merged and is live on the site.

[2017-09-13 20:39] heckj commented on #1561
Thanks @BenHall - I'll run through it and see how it looks played out...

[2017-09-13 20:47] naseemkullah commented on #3159
im getting the error with 1.7.5  on centos 7

[2017-09-13 21:39] naseemkullah commented on #3159
for redhat family nodes: if you've disabled selinux and not yet rebooted the node (not mentioned in k8s docs to do so) then please do it.

after that, that error was gone, but as mentioned by someone above, now dealing with:

"[apiclient] Created API client, waiting for the control plane to become ready"

[2017-09-13 22:37] jessfraz commented on #5239
Yes sorry will do by tomorrow!

On Mon, Sep 11, 2017 at 7:32 PM, Zach Corleissen <notifications@github.com>
wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu <http://pgp.mit.edu/pks/lookup?op=get&search=0x18F3685C0022BFF3>

[2017-09-14 10:45] estechnical opened #5454 "Issue with k8s.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
More information is required to help new users out at their first steps with Kubectl with a real kubernetes cluster. I have just arrived at this page:
https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/
from here: https://kubernetes.io/docs/tasks/tools/install-kubectl/

This is my fir

[2017-09-14 11:24] pekfi opened #5456 "kubectl, kubelet v1.6.9 doesn't exist on kubernetes repository"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
doesn't find kubectl, kubelet binaries Version 1.6.9 in kubernetes repository only the folloing:

yum search kubectl
======================================================= N/S matched: kubectl =======================================================
kubectl-1.5.4-0.x86_64 : Command-line utility for interacting with a Kubernetes

[2017-09-14 14:17] estechnical commented on #5454
After much searching, I found the critical information I was missing here:
https://kubernetes.io/docs/getting-started-guides/ubuntu/installation/#interacting-with-the-cluster

Because of the slightly odd route I've taken to get here, with conjure up failing part way through then using juju to do the deployment again from the start, I have probably read all the docs in the wrong order!

Perhaps lin

[2017-09-14 19:13] ahmetb commented on #5456
This is not a documentation issue. Can you please open this at https://github.com/kubernetes/release/ ?

[2017-09-14 19:24] heckj opened #5462 "References to User FAQ on github wiki for kubernetes/kubernetes needs to be removed"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

This started out as a bug report (https://github.com/kubernetes/kubernetes/issues/52430) against the wiki pages at kubernetes/kubernetes on github because of a broken link there. That issue was resolved, and @bgrant0607 indicated that the FAQ page is obsolete and is due to be decommissioned once relevant information is shifted

[2017-09-14 19:56] heckj commented on #1561
2nd PR up make the tutorial flow more smoothly and consistently across modules: https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios/pull/3

[2017-09-14 23:06] erictune commented on #4062
Can this be closed @mengqiy or @steveperry-53

[2017-09-14 23:31] chenopis commented on #5375
I'm not sure I understand what this issue is asking for. Do you just want to know what the current minimum is needed for a smooth transition? Or are you saying we need to document this information  in the site, but maybe not in the tutorial itself?

[2017-09-14 23:35] steveperry-53 commented on #5375
@chenopis, @heckj

[2017-09-15 00:04] steveperry-53 commented on #4062
@erictune, @mengqiy, I'm fine with closing this issue.
https://kubernetes.io/docs/tasks/run-application/update-api-object-kubectl-patch/

[2017-09-15 00:35] heckj commented on #5375
@chenopis @steveperry-53 I think the core of this issue is a feature request for how Kubernetes works, rather than a request against the documentation directly. @KyleKR please correct me if I'm incorrect in this assessment.

I don't know what the proper protocol is when an issue in the docs is a feature request for another component in Kubernetes. Please advise.

[2017-09-15 01:54] KyleKR commented on #5375
@chenopis Well, I didn't mean what minimum is needed for a smooth transition but I wonder there is a way to modify mininum number of pods when switching new version from old version.
as I mentioned above, I guess there might be an service failure if only a few pods have to take all traffic during update (this case might be not often situation). for example there are service running based on 6 pods

[2017-09-15 02:18] kairen commented on #5462
Hi @heckj, I fixed this issue, could you help me to review?

[2017-09-15 03:32] zhanwei0 opened #5471 "Issue with k8s.io/docs/setup/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-09-15 03:51] heckj commented on #5462
Absolutely!

[2017-09-15 03:56] heckj commented on #5471
@zhanwei0 it looks like you tried to open an issue, but there's no content. Can this be closed, or is there an issue we should be aware of?

[2017-09-15 05:00] pekfi commented on #5456
OK, open on release

[2017-09-15 05:00] #5456 closed

[2017-09-15 05:13] heckj commented on #5375
@KyleKR Are you aware of the details in the documentation at https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#max-unavailable, which allows you to define the number of containers to keep available while doing a rolling update within a deployment. Does this solve what you're looking for? There's another "maxSurge" variable that can be set as well to help control how many contai

[2017-09-15 05:47] MengZn commented on #5432
cc @steveperry-53

[2017-09-15 06:45] KyleKR commented on #5375
@heckj I think it is right that I am looking for, Thanks. anyway it is quite hard to calculate it balancing maxunavailable and maxsurge. I understand maxunavilable = min number of pods (when pods are switched from old version to new version so when it is ready to service new version to client) am I right?

anyway Thanks for your time!!

[2017-09-15 11:45] sclausen opened #5476 "Issue with k8s.io/docs/tutorials/kubernetes-basics/update-interactive/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
In 8/9 tries, the pods didn't came up.

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-09-15 12:34] g1001p opened #5477 "Issue with k8s.io/docs/getting-started-guides/vsphere/"
Hello dear forum,
I am working with k8s version 1.6.8 that configured with vSphere cloud provider implementation. In my use case the worker nodes have same size from CPU, RAM, OS resources perspectives. Also the workers are distributed evenly cross the ESX machines in order to create homogeneous workers infrastructure as much as possible. During cluster workload i observed situation while one of E

[2017-09-15 13:19] php-coder commented on #5388
Yes, it's a requirement.

@smarterclayton Let me know if you want me to update the docs.

[2017-09-15 19:40] #4062 closed

[2017-09-15 21:18] smarterclayton commented on #5388
Please

[2017-09-15 23:46] chenopis commented on #5375
Ah, ok. So can we close this issue then?

[2017-09-16 06:55] KyleKR commented on #5375
oh sure thanks! :)

[2017-09-17 13:02] dixudx commented on #5310
Add documentation in PR #5505. PTAL.

[2017-09-17 19:43] tomgron opened #5508 "Issue with k8s.io/docs/tasks/tools/install-kubectl/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
When running curl.exe -LO **https://storage.googleapis.com/kubernetes-release/release/v1.7.0/bin/windows/amd64/kubectl.exe in powershell windows 10, I get following error :

curl: (60) SSL certificate problem: unable to get local issuer certificate
More details here: https://curl.haxx.se/docs/sslcerts.html

curl performs SSL ce

[2017-09-17 21:38] jakubskrzypek opened #5509 "Issue with k8s.io/docs/tutorials/kubernetes-basics/cluster-intro/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-09-18 13:26] anton-opsguru commented on #2325
I have same issue in K8s 1.6.7

[2017-09-19 03:32] lbudai74 opened #5536 "Issue with k8s.io/docs/concepts/configuration/assign-pod-node/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

Broken links:
  - https://git.k8s.io/community/contributors/design-proposals/nodeaffinity.md
  - https://git.k8s.io/community/contributors/design-proposals/podaffinity.md

**Proposed Solution:**

Fix the links.

**Page to Update:**
http://kubernetes.io/...

[2017-09-19 09:26] janetkuo commented on #4513
I previously wrote a [DaemonSet documentation plan](https://docs.google.com/document/d/1ynyiwIQOprdgXbf9vmj-qZ6kpYh2lQFSaqo30I_-OiY/edit). We can add the following DaemonSet docs:

- [ ] Tutorial: Creating a basic DaemonSet
- [ ] Task: Debugging a DaemonSet
- [ ] Task: Running Pods on Only Some Nodes
- [ ] Task: Completely deleting a DaemonSet
- [ ] Task: Creating a DaemonSet to adopt existing Dae

[2017-09-19 14:27] dixudx commented on #5310
This issue can be closed, since kubernetes/kubernetes.github.io#5505 has already been merged.

[2017-09-19 22:08] zacharysarah commented on #3159
@heckj 👋

[2017-09-19 22:10] zacharysarah commented on #5362
@ahmetb :wave:

[2017-09-19 22:12] zacharysarah commented on #5409
@mengqiy 👋

[2017-09-19 22:17] #5509 closed

[2017-09-19 22:18] zacharysarah commented on #5508
@mengqiy :wave:

[2017-09-19 22:20] zacharysarah commented on #5477
@heckj :wave: This one looks like it may be an underlying issue rather than one specific to the tutorial itself.

[2017-09-19 22:20] zacharysarah commented on #5476
@heckj :wave:

[2017-09-19 22:21] #5471 closed

[2017-09-19 22:23] naseemkullah commented on #3159
Hey in the end the error was that kubelet was not in an "ok" state due to a mismatch with docker in terms of cgroup driver.

By editing /etc/systemd/system/kubelet.service.d/10-kubeadm.conf with the cgroup driver that matches docker :
[code]

[2017-09-19 22:23] zacharysarah commented on #5442
@mengqiy :wave:

[2017-09-19 22:25] zacharysarah commented on #5437
@csbell :wave: Are you available to do a tech review and determine what doc updates are required?

[2017-09-19 22:27] zacharysarah commented on #5436
@saad-ali :wave:

[2017-09-19 22:29] zacharysarah commented on #5436
/cc @cody-clark :wave: 😄

[2017-09-20 01:04] jackymail commented on #5251
install the latest version of minikube  and kubctl, still can not get it work.

[2017-09-20 01:23] heckj commented on #5251
I removed the team/katacoda tag, since this isn't related to the browser-based tutorial sets.

@jackymail - could you verify what version of minikube you're running locally (using the command `minikube version`), the output of `minikube status`, and the output of `minikube addons list`?

I have a sneaking suspicion that the dashboard addon simply hasn't been added, but either way this will help us

[2017-09-20 01:26] heckj commented on #3159
thanks @naseemkullah - was there an error in the getting started, or something we simply just didn't specify, that would have helped make sure the relevant versions were aligned?

[2017-09-20 01:33] heckj commented on #5476
thanks for the report @sclausen!

When you're saying the pods didn't come up, do you mean the initial pods never came active in the first section of the module (i.e. in step1 of 3), or was it later in the tutorial process (step 3 of 3 where we're rolling it back)?

Did you by chance capture the output of "kubectl get pods", or could you share the failure condition details here?

Part of step 3 of

[2017-09-20 01:35] naseemkullah commented on #3159
np @heckj , well the rebooting after selinux is disabled was not mentioned in the docs unless i missed it. As for the kubelet not being ok due to mismatch of docker and kubelet cgroup drivers, this may be caused due to the fact that i used latest versions of both components, even though it was recommended to use an older version of docker. but once i set kubelet's cgroup driver to be the same as d

[2017-09-20 01:39] naseemkullah commented on #3159
@heckj  if this helps at all, here are the ansible tasks used to deploy kubeadm on centos7 successfully, please take note of the "reboot node" handler called when selinux is disabled.
https://github.com/naseemkullah/mp-roles/blob/master/install-kubeadm/tasks/main.yml

[2017-09-20 01:40] heckj commented on #5477
removing the `team/katacoda` since it's not related to the interactive/hosted online tutorials.

That said, @g1001p thank you for the report and the question!

I would definitely recommend that if you're using Kubernetes on VMs inside of ESX, that you do not allow for oversubscription of those VMs within the ESX environment. You are quite correct in that Kubernetes doesn't natively know anything a

[2017-09-20 02:18] jackymail commented on #5251
Thanks Dude,following are the output of the commands you mentioned.
1: minikube version
minikube version: v0.22.1
2:minikube status
minikube: Running
cluster: Running
kubectl: Correctly Configured: pointing to minikube-vm at 192.168.99.100
3:minikube addons list
- addon-manager: enabled
- registry: disabled
- registry-creds: disabled
- dashboard: enabled
- default-storageclass: enabled
- kube-dns:

[2017-09-20 03:38] heckj commented on #5251
thanks @jackymail  - so far, that's looking good.

Can you go ahead and run a few command via `kubectl` as well please?

- `kubectl get services --namespace kube-system`
- `kubectl get pods --namespace kube-system`

This second should include the full name of the pod that's running the dashboard, once you have it:

`kubectl logs pod $(kubectl get pods --namespace kube-system | grep dashboard | cut

[2017-09-20 04:46] jackymail commented on #5251
Thanks!!!,there is no running pod currently, following are the output:
1kubectl get services --namespace kube-system
NAME                   CLUSTER-IP   EXTERNAL-IP   PORT(S)   AGE
kubernetes-dashboard   10.0.0.5     <none>        80/TCP    7d
2:
kubectl get pods --namespace kube-system
NAME                                    READY     STATUS              RESTARTS   AGE
kube-addon-manager-minikube

[2017-09-20 08:32] sclausen commented on #5476
No, it was just at the beginning. Of course it works like a charm today, but back then `kubectl get deployments` showed most of the time the following (even if I waited for several seconds or tried multiple times in one instance)
[code]
Sometimes ithe output command failed, with something like "can't connect to host01" or something similar. As I said, currently I can't reproduce it. The system mus

[2017-09-20 16:05] sahilsk opened #5561 "Issue with k8s.io/docs/concepts/services-networking/ingress/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
LInks are broken:  https://git.k8s.io/ingress/controllers/nginx#running-multiple-ingress-controllers

all `git.k8s.io` links on this page is broken.

**Page to Update:**
https://kubernetes.io/docs/concepts/services-networking/ingress/

[2017-09-20 21:07] BaluDontu commented on #5477
Hi @g1001p. Right now we don't have control over the ESX host resources like memory etc for scheduling decisions. Kubernetes scheduler takes into account memory and CPU usage details on nodes for pod provisioning.

The best possible way to overcome this problem would be to use a dedicated resource pool for your kubernetes cluster where you can set memory and CPU for resource pools. This way you ku

[2017-09-21 01:04] sungwookgit opened #5562 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-interactive/"
**This is a...**

- [ ] Feature Request
- [ X] Bug Report

**Problem:**
Tutorial hangs at "we are preparing the environment for you..."

**Proposed Solution:**
Make the tutorial work.

**Page to Update:**
http://kubernetes.io/...

[2017-09-21 02:34] heckj commented on #5251
The STATUS messages there lend a bit of a hint - unless you JUST started minikube in the past minute or something, they should both be well past ContainerCreating, so I'd guess Minikube is having some trouble getting those containers up and running. You can get some better details on what might be happening (or not happening) with the command:

`kubectl --namespace kube-system describe pod kuberne

[2017-09-21 02:57] heckj commented on #5562
Thank you for the report @sungwookgit

Could you verify that you can generally get access to the website `https://katacoda.com` from your local browser? I just accessed the page you indicated, and the tutorial iframe came up and was active without issue, but it is hosted separately from the documention itself. If you're unable to access content from a 3rd party website, the interactive tutorial co

[2017-09-21 02:58] heckj commented on #5562
/cc @BenHall

[2017-09-21 02:59] heckj commented on #5476
Got it, thanks @sclausen

/cc @BenHall

[2017-09-21 03:01] heckj commented on #3159
Thanks @naseemkullah

I'm traveling at the moment, but will keep this open and assigned to me to update the CentOS related installation docs to make a mention of the need for a reboot after disabling SELinux.

[2017-09-21 06:24] mengqiy commented on #5442
@ericson-cepeda I guess you have tried this after #5443 merged.
If you think it still doesn't work, please paste the output of the following 2 commands
[code]

[2017-09-21 06:30] mengqiy commented on #5409
We can add a section saying something like:
By default kubectl use the config file in `~/.kube/config`.
You can view it by using `kubectl config view`.
And also link the following doc
https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/

[2017-09-21 06:35] mengqiy commented on #5508
Not sure if it use to work before on windows.
Short term solution is ask user to run `curl -LO`, if hitting ssl error then try `curl -kLO`.
This doesn't solve the really problem, but I don't have bandwidth to look into it. :/

[2017-09-21 08:03] abitrolly commented on #5409
Linked doc still doesn't explain:
1. What is `context`?
2. What is `certificate-authority` and why it is important?
3. How to get that `certificate-authority` from the server?
4. How to generate client certificate and add it to server?
5. What for is client.key?

If that info is specific to cluster provider, then documentation could try to define common layout and link those docs.

For #4548 the j

[2017-09-21 13:50] BenHall commented on #5562
Thanks @sungwookgit, as @heckj mentioned could you please try directly on the site at https://katacoda.com/kubernetes-bootcamp/scenarios/1

[2017-09-21 13:51] BenHall commented on #5476
Thanks @sclausen. We'll keep an eye on this and see if we can reproduce it internally.

[2017-09-21 14:42] php-coder opened #5575 "Consider automate check for the broken links"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**
Time to time, our docs have links that are broken.

**Proposed Solution:**
In order to noticed them quickly, I suggest to add automated check. There are some useful tools for that, for example: https://github.com/dkhamsing/awesome_bot and https://www.npmjs.com/package/markdown-link-check

We can run such check on each pull reque

[2017-09-21 15:30] ericson-cepeda commented on #5442
@mengqiy, right. Working as expected. Thank you very much for your promptness.

[2017-09-21 18:32] zacharysarah commented on #5508
@tomgron ☝️

[2017-09-21 18:39] #5442 closed

[2017-09-22 06:59] YouriT opened #5580 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/"
**This is a...**

- [x] Documentation improvement suggestion
- [ ] Feature Request
- [ ] Bug Report

**Problem:**
The process of readiness probe isn't fully clear within the docs. Specifically the behaviour regarding initial checks of the readiness:

**Proposed Solution:**
The failure threshold isn't limited to having succeed at least once. When the pod starts, if the readiness fails, K8S will try

[2017-09-22 16:27] #5388 closed

[2017-09-22 17:00] goldengit opened #5585 "Issue with k8s.io/docs/setup/independent/create-cluster-kubeadm/"
**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**
kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel-rbac.yml

This url is not resolving - it gives a 404 error

**Proposed Solution:**
repair link

**Page to Update:**
https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/

[2017-09-22 17:12] sungwookgit commented on #5562
Thanks for the quick responses. The linked site shows the same thing. I guess it is either my company network or some missing plugins then. I will try this at my home. FYI, I was using Chrome browser running on Windows 7 :)

[2017-09-22 21:02] mengqiy commented on #5409
@abitrolly There are another 2 docs:
https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/
https://lukemarsden.github.io/docs/user-guide/sharing-clusters/

@zacharysarah Maybe we want to do something e.g. reorg to make our doc more easier for user to understand.

[2017-09-23 21:14] heckj commented on #3159
PR up, the documentation I think you were originally referencing is now deprecated, but I went ahead and made a note about the need to reboot for SElinux disabling on CentOS. I also found some broken links and resolved those in the same PR.

[2017-09-23 21:17] JeanMertz opened #5595 "404: k8s.io/docs/concepts/workloads/controllers/deployment/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

The following pages (that I tested) currently return a `404`:

* https://kubernetes.io/docs/concepts/workloads/controllers/deployment/
* https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/

It seems like they both redirect to:

https://kubernetes.io/docs/concepts/workloads/pods/poddocs/concepts/workloads/pods/

[2017-09-25 03:06] zacharysarah commented on #5409
@mengqiy Agreed! I'm giving this the _Actionable_ label so that it stands a better chance of receiving work.

[2017-09-25 08:53] abitrolly commented on #5409
@mengqiy I don't remember seeing this link. At least there should be a link to it. Still it was not explained what `context` is for. so I edited the explanation https://github.com/kubernetes/kubernetes.github.io/pull/5611

[2017-09-25 09:10] abitrolly commented on #4657
I am also looking into this. Is there anybody from https://github.com/orgs/netlify/people here?

I suppose one more problem is forward mapping from source .md to target .html page.

[2017-09-25 17:08] #5375 closed

[2017-09-25 18:22] cmluciano commented on #5392
Fixed by https://github.com/kubernetes/kubernetes.github.io/pull/5473#issuecomment-331616722

[2017-09-25 18:22] #5392 closed

[2017-09-25 21:00] chenopis commented on #4657
I think that needs to be handled via URL rewrites or redirects separate from preview. Right now, we are using a less than ideal client side Javascript solution to redirect `anything.md` to `anything/`.

[2017-09-25 21:10] MrHohn opened #5618 "[1.7] kube-proxy flags needs to be updated"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
Reported by https://github.com/kubernetes/kubernetes/pull/48625#issuecomment-331868843, the kube-proxy reference configuration is missing the `--metrics-bind-address` option.

See https://kubernetes.io/docs/admin/kube-proxy/.

**Proposed Solution:**
Regenerate kube-proxy flags on that page.

**Page to Update:**
https://kubernet

[2017-09-25 21:21] abitrolly commented on #4657
I think transformation engine should give out build graph for tracing ouputs from sources.

[2017-09-25 21:34] zacharysarah opened #5620 "Set clear expectations for PR review feedback"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:** There's no clear expectation about who does what during PR reviews.

**Proposed Solution:** Update the [README](https://github.com/kubernetes/kubernetes.github.io) and the [contribution guidelines](https://kubernetes.io/docs/home/contribute/create-pull-request/) to:

1. Clarify that PR reviewers are responsible for providing cle

[2017-09-25 22:04] gotteric opened #5621 "Issue with k8s.io/docs/setup/independent/create-cluster-kubeadm/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
File used for command below seems to have been moved

`kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel-rbac.yml`

**Proposed Solution:**
Modify path

`kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/k8s-manifests/kube-flannel-rbac.yml`

*

[2017-09-25 22:25] chenopis commented on #4657
cc @calavera

[2017-09-26 00:11] Bradamant3 commented on #5620
Some additional specific items to clarify (things I've stumbled over):
- relationship between assignee and reviewer (sometimes it takes me a few days to get to my assigned PRs and then I see that someone else seems to be shepherding them -- which is fine, but am I no longer responsible for the PR at all? Also related to the following item)
  - maybe if you take over reviewing a PR from an assignee

[2017-09-26 05:30] abitrolly opened #5635 "Issue with k8s.io/docs/concepts/storage/volumes/"
**This is a...**
- [x] Bug Report

**Problem:**
No info how to inspect volume usage or how to get alert that volume is out of space.

**Page to Update:**
https://kubernetes.io/docs/concepts/storage/volumes/

[2017-09-26 05:35] zhangxiaoyu-zidif commented on #5635
/cc @jingxu97
/sig-storage

[2017-09-26 05:38] zhangxiaoyu-zidif commented on #5635
As I know now, only local storage supports storage quato now.
So the issue you mentioned is a future feature of k8s, I think...

[2017-09-26 05:41] zhangxiaoyu-zidif commented on #5635
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/volume-metrics.md

https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/local-storage-overview.md

These links may be helpful. =)

[2017-09-26 05:46] zhangxiaoyu-zidif commented on #2795
I know the result, in this case, it would not be scheduled...
So I can close it now. =)

[2017-09-26 05:46] #2795 closed

[2017-09-26 06:04] abitrolly commented on #5635
Thanks. I don't know how much I spent looking on the internet just to discover that this is impossible. :D

Now with that info I don't understand how GKE can be production ready. What happens to Pod if its PVC/PV runs out of space?

[2017-09-26 06:05] zhangxiaoyu-zidif commented on #5585
@zacharysarah
https://github.com/kubernetes/kubernetes.github.io/pull/5584 fixed it.
So it can be closed =)

[2017-09-26 06:07] #5585 closed

[2017-09-26 06:14] zhangxiaoyu-zidif commented on #5635
I do not know GKE much, but I know some about Ceph, if we run out of PVC's space, it will continue to use the space until it run out of Ceph's space. In this case, PVC/PV's disk quato is fake.

[2017-09-26 13:36] heckj commented on #5477
@g1001p thank you for your issue and the feedback. We are going to close this issue for now, but feel free to re-open if there is a specific documentation issue to address. You can also reach us on the sig-docs channel of [Kubernetes slack](http://slack.k8s.io)

[2017-09-26 13:36] #5477 closed

[2017-09-26 13:38] heckj commented on #5562
@sungwookgit thanks for the feedback and the issue. I'm going to close this issue for now, but feel free to re-open if there's a specific documentation issue. You can also reach us on the sig-docs channel of the [Kubernetes slack](http://slack.k8s.io)

[2017-09-26 13:38] #5562 closed

[2017-09-26 14:05] adriancislo opened #5638 "Issue with k8s.io/docs/setup/pick-right-solution/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Link to kubeadm (like: _If you already have a way to configure hosting resources, use **kubeadm** to easily bring up a cluster with a single command per machine._) forwards to page https://kubernetes.io/docs/setup/ instead of https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/. Now we cannot navigate to page wi

[2017-09-26 17:23] dpatelapx opened #5640 "Container port limitation for Kubernetes cluster"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

Bug Report

**Problem:**
Kubernetes cluster crashes when assigning certain container port numbers

**Proposed Solution:**
Find a workaround for this issue

**Page to Update:**
http://kubernetes.io/...

[2017-09-26 19:31] g1001p commented on #5477
Thank you guys for the information.
BR
Grigory

[2017-09-27 01:12] victorgp commented on #2979
And... the value in runtime-config to enable init containers in 1.5 is? I can't find it anywhere...

[2017-09-27 21:25] idarvind opened #5663 "Issue with k8s.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/"
**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**
I followed the step and getting below error

[root@kube-master tmp]# kubectl get pods
NAME                               READY     STATUS             RESTARTS   AGE
wordpress-2385591603-nd9w8         0/1       CrashLoopBackOff   6          10m
wordpress-mysql-3901558700-w3gkn   1/1       Running            0          11m
[root

[2017-09-28 21:16] jekstrom opened #5679 "Issue with k8s.io/docs/tutorials/kubernetes-basics/explore-interactive/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Missing an 'R' on Step 2 of Module 3 first paragraph.

**Proposed Solution:**
Add an 'R' to "ecall that Pods are running in an isolated, ... "

**Page to Update:**
https://kubernetes.io/docs/tutorials/kubernetes-basics/explore-interactive/

[2017-09-29 13:26] ericfreese commented on #2566
Maintainer of zsh-users/zsh-autosuggestions here. This likely had to do with zsh "bracketed-paste-magic" functionality, which Oh My Zsh enables by default.

[2017-09-29 14:41] castrojo commented on #4689
The first step has the user curling a kubeadm binary. I asked if just waiting for the kubernetes repo to be updated to 1.8 and running the packaged version would work:

[code]

Perhaps we should be more explicit in telling the user that they need to get the kubeadm binary out of band first and NOT just do an apt update/dist-upgrade even though kubeadm 1.8 will be sitting in the repo.

[2017-09-29 15:09] nferro opened #5685 "Issue with k8s.io/docs/concepts/services-networking/network-policies/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The link in `See the NetworkPolicy getting started guide for further examples.` is broken

**Proposed Solution:**
Fix the link

**Page to Update:**
https://kubernetes.io/docs/concepts/services-networking/network-policies/

[2017-09-29 15:52] abitrolly opened #5686 "404 link on 1.8 release blog post"
**This is a...**
- [x] Bug Report

**Problem:**
http://blog.kubernetes.io/2017/09/kubernetes-18-security-workloads-and.html link to architecture is 404.

[2017-09-30 10:46] gajenderpathak opened #5700 "Issue with k8s.io/docs/tutorials/kubernetes-basics/cluster-interactive/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
I tried to use the interactive tutorial of Kubernetes. But I am not able to do so. Only black screen is coming. I am using Chrome browser over Windows 7 m/c.

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-10-01 00:18] tengqm commented on #5362
yes. There seem to be two problems. OpenSSL by default generates v1 certificates, which seems not supporting SAN well. Even when switching to v3 certificate, you will have to include the service cluster IP of the API server into the certificate.

[2017-10-01 00:19] cyberh0me commented on #5362
**because it doesn't contain any IP SANs** thats the issue if one follow the documentation because _openssl req -new -key server.key -subj "/CN=${MASTER_IP}" -out server.csr_ does not include the required subjectAltName

[2017-10-01 03:18] heckj commented on #5700
Thanks for your report @gajenderpathak  - are you by chance able to see the tutorial screens directly from www.katacoda.com? The content for those interactive tutorials is hosted from a site external to https://kubernetes.io.

[2017-10-01 05:00] tengqm commented on #5685
/assign @tengqm

[2017-10-01 05:17] tengqm commented on #5685
/assign @kairen

That patch is a more complete one.

[2017-10-02 11:59] gajenderpathak commented on #5700
Thanks it's working at katacoda.com.

[2017-10-02 11:59] #5700 closed

[2017-10-02 14:15] nikhita commented on #5536
This has been fixed in https://github.com/kubernetes/kubernetes.github.io/pull/5537 and can be closed now.

[2017-10-02 14:18] nikhita commented on #5686
It should point to https://github.com/kubernetes/community/tree/master/sig-architecture (instead of https://github.com/kubernetes/community/sig-architecture)

[2017-10-02 14:22] nikhita commented on #5638
This has been fixed in https://github.com/kubernetes/kubernetes.github.io/pull/5648 and can be closed now.

[2017-10-02 14:27] nikhita commented on #5621
This issue has been fixed in https://github.com/kubernetes/kubernetes.github.io/pull/5588. The flannel yaml is now pinned to a specific version.

[2017-10-02 14:30] nikhita commented on #5595
@JeanMertz Can you check again? They seem to be working fine now.

[2017-10-02 14:45] nikhita commented on #5561
@sahilsk Can you check again? All the `git.k8s.io` links are working fine, including https://git.k8s.io/ingress/controllers/nginx#running-multiple-ingress-controllers.

[2017-10-02 15:07] davalente opened #5712 "Issue with k8s.io/docs/getting-started-guides/centos/centos_manual_config/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
"This version is deprecated", link shows an empty page.

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-10-02 15:47] #5685 closed

[2017-10-02 15:50] luxas commented on #4689
@castrojo Feel free to improve the wording of the guide :)

[2017-10-02 16:56] #5536 closed

[2017-10-02 16:56] #5638 closed

[2017-10-02 16:57] #5621 closed

[2017-10-02 18:33] zacharysarah commented on #5362
@cyberh0me 👋

Thanks for the update. I'll flag this issue as _Actionable_ for doc updates.

[2017-10-02 20:02] vbatts opened #5720 "Issue with k8s.io/docs/getting-started-guides/fedora/fedora_manual_config/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
the article works to the end of the described steps, but the resulting cluster does not allow deploying as there is no API token configured.
[code]

**Proposed Solution:**
Include a step to generate and include the API token so the node and master can communicate

**Page to Update:**
https://kubernetes.io/docs/getting-started-g

[2017-10-03 04:48] pranasblk opened #5732 "Issue with k8s.io/docs/concepts/workloads/controllers/jobs-run-to-completion/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Running example following instructions to the letter:

File job.yaml:
[code]

Create the job:
[code]

Output:
[code]

**Proposed Solution:**
Provide working example tested on the latest version of the product or provide hits for supported versions.

**Page to Update:**
https://kubernetes.io/docs/concepts/workloads/controllers/j

[2017-10-03 08:45] Vlaaaaaaad commented on #747
This is **very much needed**. Creating documentation and plans for Kubernetes without having any icons is a huge struggle. The end-result looks bad too.

See [AWS Icon packs](https://aws.amazon.com/architecture/icons/) and how AWS schemas are all the same, no matter who the author is( an official drawing or a random blog post).

[2017-10-03 17:45] zacharysarah opened #5741 "Doc sprint at KubeCon"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:** SIG-docs needs a set of sprint topics for KubeCon in December 2017.

**Proposed Solution:** Put sprint ideas in comments; also leave a comment indicating your interest, whatever your level of interest happens to be.

[2017-10-03 17:57] jaredbhatti commented on #5741
Logistics:
Date: Tuesday, December 5, Time: 1:00pm - 5:00pm
Location:
30-40 boardroom seating, split across two non-conjoining rooms (this does account for AV)
Current ideas for projects:
- Glossary
- User Journeys
- Improving Release Notes
- User Studies and Docs Feedback

[2017-10-03 17:58] jaredbhatti commented on #5741
I need at least 2 other assistants to help.  I'm guessing Zach will be there.  Any volunteers?

[2017-10-03 18:24] divyam3897 commented on #5686
Hi, I would like to fix this one but I was not able to find the blog post, is it being written somewhere else where it is to be fixed? As I couldn't find any .md related to the same.

[2017-10-03 18:30] zacharysarah commented on #5741
I will indeed be there!

[2017-10-04 10:22] nikhita commented on #5686
@divyam3897 I think SIG-PM owns the blog and has access to it.

@idvoretskyi Can PRs be sent to fix the blogpost?

[2017-10-04 10:41] nikhita commented on #5679
/cc @BenHall

[2017-10-04 10:48] nikhita commented on #4573
Update: API reference docs for 1.8 have CRDs now. :tada:

(1.7 still shows only TPRs though)

[2017-10-04 14:14] vglisin opened #5757 "Issue with k8s.io/docs/setup/independent/create-cluster-kubeadm/"
**This is an initial problem**

- [ ] Feature Request
- [ X] Bug Report

**Problem:**
By using own eyes and ordinary reading & understanding I am not capable of using proxy. Everytime I start proxy and doing http/:localhost:8001 I am getting:
http: proxy error: x509: certificate signed by unknown authority (possibly because of "crypto/rsa: verification error" while trying to verify candidate autho

[2017-10-04 14:23] vglisin opened #5758 "Issue with k8s.io/editdocs/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
If you are installing kubernetes (your product) by using kubeadm (your product too), there is no chance to access dashboard (your product) by reading your documentation (yours too). Can you please, please make some how-to for kubernetes/dashboard for newbee to work? Otherwise, you can use it internally as pride owners of someth

[2017-10-04 14:32] heckj commented on #5758
Hi @vglisin, thanks for your report and request! I'd like to make sure I understand where you're having trouble - am I correct in understanding your desire is to see additional tutorial content that goes through the process of installing a cluster with kubeadm and then additionally installs and accesses an instance of the Kubernetes dashboard on that cluster?

I presume you're looking for a full-o

[2017-10-04 14:37] heckj commented on #5251
@jackymail 👋

Wanted to see if you were able to work through the issues with containers getting activated?

Since this isn't an issue about the documentation (or at least doesn't seem to be) I'm going to go ahead a close this issue for now, feel free to re-open if there is a specific documentation issue that we can resolve.

[2017-10-04 14:37] #5251 closed

[2017-10-04 14:45] heckj commented on #5757
Hi @vglisin

Are you able to communicate with your cluster using `kubectl cluster-info` without any errors? I'm not anywhere near an expert on the crypto pieces, but I've used `kubectl proxy` many times without that issue, so I'd like to try and and help.

The kubernetes cluster is generally running all of it's containers and services on a private, internal and isolated network, with only the API

[2017-10-04 14:46] heckj commented on #5712
Working on this right now with a pull request (https://github.com/kubernetes/kubernetes.github.io/pull/5594) resolving some broken links

[2017-10-04 14:49] heckj commented on #5679
@nikhita thanks - content is hosted with Katacoda, including the content here - so it's not obvious to find. For the record, the content for those tutorials is hosted at https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios

[2017-10-04 14:50] heckj commented on #5679
@jekstrom thanks for the report! I'll get a fix up immediately and provide a PR link here

[2017-10-04 14:54] heckj commented on #5679
@BenHall I think we need you to look at the underlying content - the content in question is at https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios/blob/master/4/step2.md - and appears to have the `R` that's missing in this report... I did verify that the `R` is missing in the deployed content.

[2017-10-04 14:54] podollb opened #5759 "Issue with k8s.io/docs/concepts/policy/resource-quotas/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

When issuing the `kubectl get quota` the units of the output are different. It would be nice if the `Used` and `Hard` units were the same.

**Proposed Solution:**

Force the units to be the same, or allow them to optionally be the same via command line arg.

**Page to Update:**
http://kubernetes.io/...

[code]

[code]

[2017-10-04 14:55] idvoretskyi commented on #5686
cc @zacharysarah

[2017-10-04 14:57] idvoretskyi commented on #5686
Not sure, but @zacharysarah may help us.

[2017-10-04 14:57] BenHall commented on #5679
@heckj Sorry, that looks like a bad merge/update on my side. Let me double check how that happened.

It's fixed now. Thanks for the report and looking into it.

[2017-10-04 14:57] heckj commented on #5640
thanks for the report @dpatelapx - is this an issue that you're seeing with your cluster, or a problem in the documentation? It reads like it's a bug report for kubernetes, but filed as a documentation issue.

[2017-10-04 14:59] heckj commented on #5561
Good morning @sahilsk - I double checked the links and per @nikhita they all appear to be working correctly. Since they are functional, I'm going to close this PR for now, please re-open it if there is a specific documentation issue we can help resolve

[2017-10-04 14:59] #5561 closed

[2017-10-04 15:04] dpatelapx commented on #5640
This turned out to be an issue with limitation of resources on the Kubernetes cluster. We recently provisioned additional containers and that was maxing out our CPU/Memory. I upsized the VMs running the container instance and it seems be to be fine now.

[Description: Logo 1v]
Darshan Patel
Manager of QA and DevOps, APX Inc.
Application Development
2001 Gateway Place Suite 315W, San Jose, CA 95110

[2017-10-04 15:05] heckj commented on #5732
Morning @pranasblk - thank you for the report!

I ran into this issue myself, and it's a bug with Kubernetes-CLI version 1.8 that has also been reported at https://github.com/kubernetes/kubernetes/issues/53309. There are a couple of work-arounds listed in the reporting bug that can be used until this issue is resolved. I recommend you subscribe to the bug listed here to get updates if you're inter

[2017-10-04 15:05] #5732 closed

[2017-10-04 15:07] heckj commented on #5679
@BenHall awesome, thank you!

[2017-10-04 15:07] #5679 closed

[2017-10-04 15:10] heckj commented on #5640
Thanks @dpatelapx - I went ahead and modified your reply so that your phone number and email address weren't included in the github bug report, hopefully that's acceptable to you.

Since this isn't a documentation flaw, I'm going to go ahead and close this issue for now. Please re-open if there's a documentation issue we can help resolve.

[2017-10-04 15:10] #5640 closed

[2017-10-04 15:11] dpatelapx commented on #5640
Thanks you!

[Description: Logo 1v]
Darshan Patel
Manager of QA and DevOps, APX Inc.
Application Development
2001 Gateway Place Suite 315W, San Jose, CA 95110
(408) 517-2155
dpatel@apx.com<mailto:dpatel@apx.com>

From: Joseph Heck [mailto:notifications@github.com]
Sent: Wednesday, October 4, 2017 8:11 AM
To: kubernetes/kubernetes.github.io <kubernetes.github.io@noreply.github.com>
Cc: Darshan Pate

[2017-10-04 15:15] heckj commented on #5618
@zacharysarah 👋  - This is one of the autogenerated pages with reference documentation. I'm not entirely sure how to resolve this directly. I went ahead and tagged up the bug as Actionable, but don't quite know how to resolve it...

[2017-10-04 15:17] alexbrand commented on #5618
@heckj I just verified that the `--metrics-bind-address` flag is documented in the 1.8 documentation. It is still missing from the 1.7 docs though.

[2017-10-04 15:20] heckj commented on #5236
@yn425611317 can you put the YAML into a github gist, or wrap it with ``` characters so that it formats in a fashion that we can see the indentation? I'm afraid directly pasting into a comment box on github doesn't automatically preserve the indentation.

I suspect what's happening is the indentation is slightly off on the YAML you're trying to use - it can be very frustrating, and would cause the

[2017-10-04 18:01] zacharysarah commented on #5686
@idvoretskyi 👋 Blog content is hosted and maintained elsewhere--outside of any repo, if I recall correctly. @kbarnard10 may be able to help.

[2017-10-04 18:11] kbarnard10 commented on #5686
Thanks for the heads up. I've fixed the link. The blog is maintained through blogger.com. Feel free to assign any future blog issues to me, or let me know if you need access.

[2017-10-04 18:35] #5686 closed

[2017-10-04 19:24] heckj commented on #5367
thanks for the report @shay-berman !

Some of these tutorials are running minikube on a VM, with a browser-based terminal interface to where they're hosted. This tutorial is assuming you have a Kubernetes cluster in an environment that does support a load-balancer - such as AWS, Azure, or GKE. If you're doing this tutorial with minikube or another local cluster setup that doesn't have a LoadBalanc

[2017-10-04 19:24] heckj commented on #5367
(removed team/katacoda label since it's not related to the externally hosted/interactive tutorials)

[2017-10-04 20:04] shay-berman commented on #5367
thanks @heckj

closing tge issue

[2017-10-04 20:04] #5367 closed

[2017-10-04 23:22] kfox1111 opened #5766 "Issue with k8s.io/docs/concepts/storage/volumes/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The documentation states that the MountPropagation=true feature-gate needs to be enabled, but it is unclear where it needs to be set. Kubelet? kube-apiserver? anywhere else?

**Proposed Solution:**
Need to document where the flag is useful.

**Page to Update:**
k8s.io/docs/concepts/storage/volumes/

[2017-10-05 02:06] djsly opened #5773 "Kube-Proxy conntrack dependency missing from the DOC"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
While debugging some issue with kube-proxy is was noted that a lot of errors were written about a missing conntrack binary.

After an investigation, it was discovered that the conntrack package should be installed on the nodes.

**Proposed Solution:**
Update the DOC to provide the necessary required dependencies for kube-proxy

[2017-10-05 02:13] MikeSpreitzer opened #5774 "Issue with k8s.io/docs/user-guide/kubectl-overview/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The reader gets insufficient information about how patches work.

**Proposed Solution:**
Add a link to https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md#patch-operations and/or https://github.com/kubernetes/community/blob/master/contributors/devel/strategic-merge-patch.md

**Page to Updat

[2017-10-05 03:01] steveperry-53 commented on #733
The TOC element is in our templates, for example, https://github.com/kubernetes/kubernetes.github.io/blob/master/_includes/templates/task.md.

[2017-10-05 03:16] steveperry-53 commented on #458
Fixed in https://github.com/kubernetes/kubernetes/pull/50532.

[2017-10-05 03:26] steveperry-53 commented on #275
@rwillmer @atbaker @jaredbhatti Do we have a reference page for creating a config file? If so, can somebody point me to that page. We are going to be working on the ref docs soon, so we'll have an opportunity to do this.

[2017-10-05 03:35] steveperry-53 commented on #480
/docs/user-guide/downward-api/ has been updated and relocated here:
https://kubernetes.io/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information/

I think the link to the ref page for [DownwardApiVolumeFile](https://kubernetes.io/docs/api-reference/v1.8/#downwardapivolumefile-v1-core) addresses the concern here.

[2017-10-05 03:58] #594 closed

[2017-10-05 04:01] steveperry-53 commented on #605
We have versioned docs now. Start [here](https://kubernetes.io/docs/home/). In the upper right, there is a drop-down menu where you can choose v1.8, v1.7, v1.6 etc.

[2017-10-05 04:02] #605 closed

[2017-10-05 04:16] steveperry-53 commented on #731
The Travis check now includes a TOC check. https://github.com/kubernetes/kubernetes.github.io/blob/master/verify-docs-format.sh

[2017-10-05 04:18] #731 closed

[2017-10-05 04:34] Karunamon opened #5778 "kube-apiserver cannot see its configured basic-auth file"
**This is a...**
- [ ] Feature Request
- [X] Bug Report

**Problem:**

kube-apiserver can't see a basic auth file that clearly exists.

**Reproduction:**

1. Deploy a new cluster with `kubeadm`
2. Shut down the `apiserver` container
3. Create a file `/etc/kubernetes/kubepasswd.csv` with the contents: `password,user,user`
4. Chmod this file 777
5. Edit `/etc/kubernetes/manifests/kube-apiserver.yaml

[2017-10-05 04:38] steveperry-53 commented on #732
Travis requires the page to have a title. And the title goes in the front matter. So a page with no front matter fails the Travis CI check.

[2017-10-05 04:38] #732 closed

[2017-10-05 04:43] #733 closed

[2017-10-05 04:50] steveperry-53 commented on #619
https://kubernetes.io/docs/concepts/architecture/nodes has been updated. Please reopen this issue if further updates are needed.

[2017-10-05 04:50] #619 closed

[2017-10-05 04:55] #480 closed

[2017-10-05 05:00] steveperry-53 commented on #802
@ae6rt O think this topic addresses your question: https://kubernetes.io/docs/tasks/administer-cluster/highly-available-master/.

If not please reopen.

[2017-10-05 05:00] #802 closed

[2017-10-05 05:09] steveperry-53 commented on #803
@rata It looks like the current ref docs cover this. If not, please reopen.

https://kubernetes.io/docs/api-reference/v1.8/#secretvolumesource-v1-core

[2017-10-05 05:10] #803 closed

[2017-10-05 05:15] steveperry-53 commented on #961
https://kubernetes.io/

[2017-10-05 05:15] #961 closed

[2017-10-05 05:38] steveperry-53 commented on #1749
@gtirloni @chenopis I've done some recent work fixing 404s. I'm using Screaming Frog SEO Spider and the [linkchecker](https://linux.die.net/man/1/linkchecker). At this point, both tools indicate that there are no more 404s in the 1.8 doc set.

There are still some some 404s in older versions of the reference docs. I'm planning to either fix or redirect those soon.

I'm going to go ahead and close

[2017-10-05 05:38] #1749 closed

[2017-10-05 06:02] steveperry-53 commented on #4642
@zacharysarah @chenopis I think the 404s are fixed for the 1.8 doc set. Screaming Frog and [linkchecker](https://linux.die.net/man/1/linkchecker) both give me clean reports. The kubernetes.io console shows a bunch of 209s, but I can't reproduce any problems in the pages that are shown as Linked From.

We still have some 404s in old versions of the docs, especially ref pages. I'm planning to fix th

[2017-10-05 06:07] steveperry-53 commented on #5620
@zacharysarah @Bradamant3 I'll be glad to help with this. Would one of you like to take the lead?

@Bradamant3 I'm probably the one who has been whisking PRs out from under the assignee. I've been in a bit of a frenzy trying to get through our overwhelming list of PRs. It will be good to get this clarified.

[2017-10-05 06:36] steveperry-53 commented on #2371
@lheckemann @ahmetb  @patrickkettner @chenopis I can't reproduce this. For me, https://www.kubernetes works on Chrome, Edge, and Safari. Could you check and see whether this is still a problem? Thanks.

curl -v https://www.kubernetes.io
* Rebuilt URL to: https://www.kubernetes.io/
*   Trying 45.54.44.100...
* Connected to www.kubernetes.io (45.54.44.100) port 443 (#0)
* found 148 certificates in /

[2017-10-05 06:45] steveperry-53 commented on #2293
@jaredbhatti @bobsky What's the status of this? Does it need to be P1? Is there a specific time in the future that someone is planning a holistic site refresh? Thanks.

I guess I also have this question: Who's in charge of the kubernetes.io page? I have some vague memory that it's not those of us on the writing team.

[2017-10-05 06:57] steveperry-53 commented on #1670
@erictune @heckj Vish and I recently added several docs along thises lines. Example: https://kubernetes.io/docs/tasks/configure-pod-container/quality-service-pod/

[2017-10-05 06:59] #1670 closed

[2017-10-05 06:59] gtirloni commented on #1749
That's great, thank you!

[2017-10-05 07:34] atoato88 opened #5779 "Issue with k8s.io/docs/getting-started-guides/scratch/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
At "Cloud Providers" paragraph, There is a sentence following.
[code]
In this sentence,  is "openshift" correct?
It should be "openstack", I think. Because following sentence is described at same paragraph.
[code]

Here, "openshift" isn't present, but "openstack" is present.

**Proposed Solution:**

Replace "openshift" with "op

[2017-10-05 15:50] zacharysarah commented on #4642
@steveperry-53 Thanks for looking at this--yes, I think we can close it. @chenopis and I have a standing monthly appointment to review the site 404 log; it's beginning to stabilize and taper off.

[2017-10-05 15:50] #4642 closed

[2017-10-05 16:16] ahmetb commented on #2371
I think this is now fixed, possibly after Netlify migration.

[2017-10-05 16:53] steveperry-53 commented on #2371
Thanks @ahmetb. Are the rest of you (@lheckemann @patrickkettner @chenopis ) OK with closing this?

[2017-10-05 17:12] heckj commented on #5778
Thanks for the report @Karunamon!

As I'm reading this, I looks more like an issue with Kubernetes than with the documentation on Kubernetes. If that's the case, could open an issue at https://github.com/kubernetes/kubernetes, as it likely won't get the attention you're desiring when filed against the documentation.

[2017-10-05 17:13] Karunamon commented on #5778
D'oh! Wrong repo. Thanks :)

[2017-10-05 17:13] #5778 closed

[2017-10-05 17:22] heckj commented on #5779
thanks @atoato88 - I suspect you're correct and made a quick patch (https://github.com/kubernetes/kubernetes.github.io/pull/5783) to resolve. When I looked in the cloud-provider releases for 1.8, there was one for openstack, but not openshift - so I think this was just a missed typo/reference mistake

[2017-10-05 17:41] chenopis commented on #2371
I tried Chrome with the  `--force-fieldtrials=SSLCommonNameMismatchHandling/Disabled/` flag and didn't see any problems w/ https://www.kubernetes.io -- it redirects properly to https://kubernetes.io. Consequently, I'm fine w/ closing this issue.

[2017-10-05 18:04] lheckemann commented on #2371
Can confirm, seems to work now.

[2017-10-05 18:04] #2371 closed

[2017-10-05 19:55] zacharysarah commented on #5575
@php-coder 👋 Thanks for the suggestion. We're in the early stages of implementing automated link checking. Unfortunately I can't give an ETA, but we're working on it!.

[2017-10-05 19:55] #5575 closed

[2017-10-05 19:57] zacharysarah commented on #5595
@JeanMertz 👋 I validated that the links appear to be working correctly now. Please feel free to reopen this issue if you continue to see 404s for these links.

[2017-10-05 19:57] #5595 closed

[2017-10-05 20:00] zacharysarah commented on #5635
@abitrolly 👋 This issue is more of a feature request than a bug&mdash;and like @zhangxiaoyu-zidif pointed out, it's already on the roadmap. I'm going to go ahead and close this issue, since it's not actionable (yet) and plans for its actionability are accounted for in roadmap development.

[2017-10-05 20:00] #5635 closed

[2017-10-05 20:01] zacharysarah commented on #5663
@heckj 👋

[2017-10-05 20:03] zacharysarah commented on #5759
@podollb 👋 Thanks for the idea! Because this repo is specific to documentation, the best place to make your feature request is in [kubernetes/kubernetes](https://github.com/kubernetes/kubernetes).

[2017-10-05 20:03] #5759 closed

[2017-10-05 20:05] zacharysarah commented on #5766
@jsafrane 👋 This looks related to #5544. Would you mind taking a look, please?

[2017-10-05 20:06] zacharysarah commented on #5774
@MikeSpreitzer :wave: Can you be more specific about what information is missing? Where did you run into difficulty?

[2017-10-05 20:19] zacharysarah commented on #5618
@heckj I'm not sure that any of us do--sounds like a great issue to raise in [K8s slack](https://kubernetes.slack.com/messages/C1J0BPD2M/details/).

[2017-10-05 20:20] kfox1111 commented on #5766
FYI, I just got it to work. The flag was needed to be applied to the kube-apiserver and kubelet. I did not set the flag on any other services.

[2017-10-05 20:57] heckj commented on #5663
removing the katacoda tag since its not a remote/hosted demo issue

[2017-10-05 22:04] ahmetb opened #5786 "v1beta2.Deployment matchLabels not described"
Currently `matchLabels` of v1beta2.Deployment (released in v1.8) is not explained anywhere. https://kubernetes.io/docs/concepts/workloads/controllers/deployment/

/assign @enisoc

[2017-10-05 23:51] #5036 closed

[2017-10-06 02:01] steveperry-53 commented on #2155
@pwittrock @chenopis Should this orphaned page even exist in the 1.8 docs?
https://kubernetes.io/docs/api-reference/apps/v1beta1/definitions/

Or is it an artifact from previous version of the docs?

[2017-10-06 02:21] steveperry-53 commented on #2294
Fixed in #3880.
@devin-donnelly Please reopen if this isn't what you had in mind.

Note: /docs/tools/index.md is orphaned. I'll address that elsewhere.

[2017-10-06 02:21] #2294 closed

[2017-10-06 02:27] steveperry-53 commented on #2293
In #3380 @pete-uc says, "we need to roll back #2293, since this will no longer be needed." Does that mean this issue is no longer needed? If so, let's close. If not, help me understand what needs to be done here. Thanks.

[2017-10-06 02:41] steveperry-53 commented on #649
The specific list topics has drifted a bit from what is described in this issue. But I think we have addressed the concerns expressed here. Please reopen if you think otherwise.

See the set of topics under /docs/tasks/configure-pod-container/, starting with
[Assign Memory Resources to Containers and Pods](https://kubernetes.io/docs/tasks/configure-pod-container/assign-memory-resource/)

See the s

[2017-10-06 02:42] #649 closed

[2017-10-06 02:53] steveperry-53 commented on #1658
I just reproduced this bug on Firefox 56.0.

[2017-10-06 03:03] steveperry-53 commented on #1658
@BenHall What should be our approach to fixing this?

While we're having the discussion, can you help us understand the state of the two sites:

* [Original Bootcamp](https://kubernetesbootcamp.github.io/kubernetes-bootcamp/)
* [Kubernetes Basic at kubernetes.io](https://kubernetes.io/docs/tutorials/kubernetes-basics/)

I know you have addressed several issues. Have your fixes applied to both site

[2017-10-06 03:13] steveperry-53 commented on #1658
@BenHall @heckj Let me just throw out some thoughts here. Maybe we should switch over to using the [Katacoda playground](https://www.katacoda.com/courses/kubernetes/playground) for these basic tutorials. We might be able to convey the same information and provide the same easy access to a cluster. The access might even be easier that what we have now, given that the current user experience is a bi

[2017-10-06 03:21] steveperry-53 commented on #1658
The more I think about it, the more I like the idea of moving the basic tutorials to the playground.

* The tutorial text would be decoupled from the command environment. We could address issues in the text easily.
* Many of the issues we've gotten have been about the tutorial mechanism, not about the tutorial steps or the behavior of Kubernetes. In the playground, we wouldn't have these kinds of

[2017-10-06 03:23] steveperry-53 commented on #2268
@davidopp Do you have time to look at this? If not, could you suggest someone else? Thanks.

[2017-10-06 06:05] steveperry-53 commented on #5774
We can link to this document:
https://kubernetes.io/docs/tasks/run-application/update-api-object-kubectl-patch/

I'll add the links.

[2017-10-06 07:21] jsafrane commented on #5766
IMO, all features should be enabled on all components, otherwise you risk errors. Here it may be enough to enable it on API server and kubelet, but you can't be 100% sure with other features.

[2017-10-06 11:09] BenHall commented on #1658
Sorry, I thought we had fixed this. I couldn't reproduce it, but I've removed some of the CSS selectors that may have caused an issue. Could you please retest @steveperry-53 and let me know if it has improved the situation.

[2017-10-06 11:13] BenHall commented on #1658
In terms of improving the layout. If we could reduce the size of table of contents then it would have a huge impact. On a small screen it doesn't resize, meaning the important part (Katacoda) is reduced.

![screenshot 2017-10-06 12 09 02](https://user-images.githubusercontent.com/82614/31275518-74feb1d0-aa8f-11e7-8bee-1b44b72a787c.png)

Alternatively, maybe we move to the "tablet" layout earlier o

[2017-10-06 14:22] heckj commented on #1658
The layout and compressed nature of the content are the second largest set of bugs reported, this one included. @BenHall and I were talking about that earlier as well, trying to figure out potential solutions. While the tutorials remain “hosted” within an ifram kind of setup within the broader kubernetes.io docs, the horizontal space becomes the most critical.

I think having a “tablet layout” muc

[2017-10-06 14:40] BenHall commented on #1658
I agree with @heckj, the tablet view works nicely and already exists. Maybe anything that isn't a desktop uses the tablet view.

We can remove the survey questionnaire at the end and replace it with a "continue to next module"

[2017-10-06 15:28] BenHall commented on #5406
Thanks for reporting the issue @vyasatavi . We're fixed the issue with wrapping lines so hopefully you'll have a better experience now.

Please let me know if you encounter any other problems.

[2017-10-06 15:29] BenHall commented on #2833
This has now been fixed and lines wrap as expected.

[2017-10-06 15:47] kfox1111 commented on #5766
I agree, but the bug report was "how do I get the mount propagation feature to work, as the documentation for it was unclear". Having the documentation be updated to be more accurate/specific I think is a good thing.

[2017-10-06 16:30] steveperry-53 commented on #1658
I like the idea of using tablet view. I'd say let's use it for all screens, regardless of size.

I agree we should remove the questionnaire.

@BenHall @heckj I'd still like to hear your thoughts on my proposal to move this to the Katacoda playground.

[2017-10-06 16:36] BenHall commented on #1658
@steveperry-53 Moving to the playground has some advantages and means we can stay up-to-date more easily. I was going to get Minikube updated for 1.8 but still waiting on the release.

From memory, the reason why went with Minikube was because it would be closer to the next steps we want the community to take. My main concern is how we re-phase the first scenario, or do we just assume that they ha

[2017-10-06 17:08] jingxu97 commented on #5635
@abitrolly We recently added a feature to expose PVC volume's disk usage information through summary API. There are a couple of ways to access this data

1. Run "kubectl proxy" first. Then " curl localhost:8001/api/v1/proxy/nodes/<node-name>:10250/metrics"
2. Ssh to the node, Run "curl -k  http://localhost:10255/metrics"

You will see metrics data like this
# TYPE kubelet_volume_stats_capacity_byt

[2017-10-06 17:13] #2833 closed

[2017-10-06 18:57] steveperry-53 commented on #1658
@BenHall About re-phrasing the first scenario. I guess we would save creation of your own cluster for later. We could just start by saying that, in the playground, there is already a cluster set up for you.

Let's keep the idea of moving to the playground on the back burner. I think it's probably best to first try the tablet view. That's the smallest step, and it might very well solve these proble

[2017-10-06 19:02] steveperry-53 commented on #1658
Even on a desktop computer with a fairly large monitor, I still have the interface problems described in this issue. That's why I think we should use tablet view always.

[2017-10-06 19:05] #4573 closed

[2017-10-06 19:19] BenHall commented on #1658
Awesome. Will be a prototype over the weekend and see what we think :)

Ben

[2017-10-07 15:02] #3159 closed

[2017-10-07 16:12] jamiehannaford commented on #5019
Now that #4751 has been merged, can we go ahead and close this?

[2017-10-07 20:58] ahmetb commented on #5019
thanks @jamiehannaford

[2017-10-07 20:58] #5019 closed

[2017-10-08 08:55] nikhita commented on #4585
This is fixed now and can be closed.

[2017-10-08 15:12] #4585 closed

[2017-10-09 04:09] karanphol opened #5812 "Issue with k8s.io/docs/tutorials/kubernetes-basics/cluster-intro/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-10-09 16:56] AlainODea opened #5818 "Issue with k8s.io/docs/concepts/workloads/controllers/deployment/"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**

nginx-deployment.yaml used in example yields error message `error validating data: unknown object type` when used with minikube version: v0.22.0 on macOS Sierra (10.12.6). It's possible that this is a minikube-specific issue. If so, please close this immediately noting that for future travellers :)

[code]

**Proposed Solution:

[2017-10-09 19:29] AlainODea commented on #5818
I did some further research. This is a known issue between kubectl 1.8 and minikube 0.22.0 (and possibly later versions) and is minikube-specific:
[Kubectl 1.8 does not work with minikube](https://github.com/kubernetes/kubernetes/issues/53552)
[Kubectl 1.8 broken for minikube - OpenAPI swagger file doesn't include `x-kubernetes-group-version-kind`](https://github.com/kubernetes/minikube/issues/199

[2017-10-09 19:29] #5818 closed

[2017-10-09 20:00] joshrosso opened #5820 "PSP page should link or describe how to add PSP Admission controller"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
PSP page currently mentions the need to enable the admission controller but doesn't provide much context on how. Someone reading through PSPs might not have knowledge on what an Admission controller.

**Proposed Solution:**
A reference or short snipped on how to enable the admission controller would be helpful.

**Page to Updat

[2017-10-09 20:02] supersam654 opened #5821 "Broken links on k8s.io/docs/concepts/services-networking/ingress/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

A large change in the `kubernetes/ingress` project on Friday broke several links on the page. So far, I have found the following broken links:

* https://git.k8s.io/ingress/controllers/gce/BETA_LIMITATIONS.md
* https://github.com/kubernetes/ingress/blob/master/controllers/nginx/configuration.md#rewrite
* https://git.k8s.io/ing

[2017-10-09 21:54] #5779 closed

[2017-10-09 21:58] heckj commented on #5712
PR merged, so going ahead and closing this issue.

[2017-10-09 21:58] #5712 closed

[2017-10-09 22:05] ahmetb opened #5822 "Service type=ExternalName is not documented enough"
We currently document service types in this doc: https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services---service-types Among these, only 2 types, [NodePort](https://kubernetes.io/docs/concepts/services-networking/service/#type-nodeport) and [LoadBalancer](https://kubernetes.io/docs/concepts/services-networking/service/#type-loadbalancer) have their own sections.

Cur

[2017-10-09 22:11] zacharysarah opened #5823 "Migrate blog.k8s.io from Blogger to GitHub"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**
Even though the [K8s blog](blog.kubernetes.io) is a subdomain of kubernetes.io, its content and infrastructure remain outside the repository workflow&mdash;specifically, in Blogger.

Blog issues are logged in GitHub, but because content exists outside the GH workflow, PRs cannot be opened against issues.

SEO results for `kubern

[2017-10-09 22:13] zacharysarah commented on #5823
This link may be of [potential interest](https://www.ybrikman.com/writing/2015/04/20/migrating-from-blogger-to-github-pages/).

[2017-10-09 22:19] ahmetb commented on #5822
I've found a better explanation at https://akomljen.com/kubernetes-tips-part-1/

[2017-10-10 03:31] tianshapjq commented on #3249
@kow3ns sorry for taking so long, but I can not reproduce this environment. I will close this temporarily, and reopen if occurs again :)

[2017-10-10 03:31] #3249 closed

[2017-10-10 06:01] #4052 closed

[2017-10-10 14:59] alexvarsh commented on #5778
Still may be a documentation issue as
https://stackoverflow.com/questions/46618383/how-to-config-simple-login-pass-authentication-for-kubernetes-desktop-ui
solved the problem for me. There seems to be a change in k8s 1.8

[2017-10-10 17:27] bradtopol commented on #5620
So I'll start working this. One question I have. What exactly needs to change in PULL_REQUEST_TEMPLATE.md?

[2017-10-10 19:06] heckj commented on #5618
PR to kubernetes source (where this generated documentation comes from) applied to resolve going-forward edits requested from editorial team in the review: https://github.com/kubernetes/kubernetes/pull/53671

[2017-10-10 20:36] chenopis commented on #1749
Thanks, @steveperry-53 !

[2017-10-10 20:44] chenopis commented on #2155
@steveperry-53 Yeah, I think these should now be defunct, but I think @pwittrock will need to confirm.

[2017-10-10 22:35] #5821 closed

[2017-10-10 22:39] steveperry-53 commented on #2155
@pwittrock replied to me in email, saying that he doesn't recognize this file.

[2017-10-10 22:41] steveperry-53 commented on #2155
I'll open a PR to remove extraneous files from the doc.

[2017-10-10 22:46] clenimar commented on #5307
this is already fixed by the PR mentioned above. please close the issue.

[2017-10-11 00:39] #5618 closed

[2017-10-11 06:05] ceptem opened #5863 "Issue with k8s.io/docs/tutorials/kubernetes-basics/cluster-interactive/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
Tutorial step indicates both server and version are 1.5. Running `kubectl version`, as requested by the same tutorial, shows a server with version 1.8 and a client with version 1.5.

**Proposed Solution:**
Amend the tutorial text.

**Page to Update:**
http://kubernetes.io/kubernetes-basics/cluster-interactive/

[2017-10-11 11:25] jackymail commented on #5251
sorry,still not working:
kubectl --namespace kube-system describe pod kubernetes-dashboard-3313488171-mtv6w
Name:		kubernetes-dashboard-3313488171-mtv6w
Namespace:	kube-system
Node:		minikube/192.168.99.101
Start Time:	Tue, 12 Sep 2017 23:16:23 +0800
Labels:		k8s-app=kubernetes-dashboard
		pod-template-hash=3313488171
Annotations:	kubernetes.io/created-by={"kind":"SerializedReference","apiVersion"

[2017-10-11 14:14] heckj commented on #5863
hi @ceptem, thanks for your report! If I may ask, how did you navigate to this page? The URL reported in the issue above doesn't match one on the site, and I'm unclear on which tutorial is returning the results with a mixed client and server. I'm assuming it is https://kubernetes.io/docs/tutorials/kubernetes-basics/cluster-interactive/, but could you verify that?

The tutorial site has updated kub

[2017-10-11 14:24] heckj commented on #5251
hi @jackymail
based on the extended output you just posted, it looks like the dashboard did eventually get created and appears to be running in the output above. If you invoke a `minikube dashboard` now, are you still unable to access it?

It could have taken quite a while to start up - when you start minikube, the instance of kubernetes within that VM download images from gcr.io (google's contain

[2017-10-11 17:46] zacharysarah commented on #5620
@bradtopol 👋 Thanks for taking this on!

You can safely ignore #3, it was updated in #5719.

[2017-10-11 18:03] liggitt opened #5868 "404 on RBAC page"
https://kubernetes.io/docs/admin/authorization/rbac/ returns a 404

the page is still present and linked in `_data/reference.yml`, the same as ABAC, which works correctly:
https://kubernetes.io/docs/admin/authorization/abac/

any ideas about how to correct this?

[2017-10-11 18:22] liggitt commented on #5868
Looks like a publish failed to roll out to all CDNs. Republishing fixed the issue.

[2017-10-11 18:22] #5868 closed

[2017-10-11 18:23] abiogenesis-now commented on #5868
For future reference---kicking off a redeploy at https://app.netlify.com/sites/kubernetes-io-master-staging/deploys fixes things.

[2017-10-11 21:22] wlan0 opened #5872 "Cloud Controller Manager Concepts and Reference"
Currently, there are docs that describe

1. How to run the Cloud Controller Manager  -https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/tasks/administer-cluster/running-cloud-controller.md
2. How to develop your own Cloud Controller Manager - https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/tasks/administer-cluster/developing-cloud-controller-manager.md
3. Exam

[2017-10-12 01:05] vkumar2808 opened #5874 "Issue with k8s.io/docs/setup/independent/create-cluster-kubeadm/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
I have installed k8s v 1.8. I have installed on centos7. everything went fine as per doc but when i reboot server then im keep getting this error" the connection to the server 127.0.0.1:8080 was refused - did you specify the right host or port?"
https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/

Please help o

[2017-10-12 02:49] heckj commented on #5863
Addressing with https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios/pull/5 against the Katacoda scenario files

[2017-10-12 03:05] heckj commented on #5663
@idarvind could you verify where and how you were running this tutorial? I just went through the steps myself with a 1.7.5 minikube cluster, and aside from a beta version being out of whack (specific to 1.8), I didn't encounter the issue you reported.

Could you perhaps share the contents of the YAML file `wordpress-deployment.yaml` that you created per the instructions in the tutorial, and let me

[2017-10-12 03:40] clenimar commented on #5874
looks like you don't have the right permission to access the server. make sure you're using the right kubeconfig. have you tried running:
[code]

[2017-10-12 04:24] bcbcarl opened #5876 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-interactive/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
[code]

**Proposed Solution:**
Fix connection issue
or
Use `kubectl expose deployment`.

**Page to Update:**
https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-interactive/

**Kubernetes Version:**
[code]

**Additional Information:**
[code]

[2017-10-12 06:38] idarvind commented on #5663
[root@Kubemaster ~]# kubectl version
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"269f928217957e7126dc87e6adfa82242bfe5b1e", GitTreeState:"clean", BuildDate:"2017-07-03T15:31:10Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"269f928217957e7126dc87e6adfa82242bfe5b

[2017-10-12 07:31] k19810703 opened #5878 "pods scheduled on different node can not communicate with each other"
I created my cluster(k8s 1.8) by kubeadm on 2 physical server( os:ubuntu 16.04)

$ kubectl get nodes
NAME STATUS AGE VERSION
digital Ready 21m v1.8.0
next Ready 22m v1.8.0
$ kubectl get pods
NAME READY STATUS RESTARTS AGE
wordpress-76b66d5644-76rtc 1/1 Running 4 7m
wordpress-mysql-5cdbc78858-vxnmn 1/1 Running 0 7m

By following this guide , I tried to deploy it on my cluster. WordPress pod was dep

[2017-10-12 09:15] ceptem commented on #5863
Hi Joseph,As that was very late I decided to try it out again.Google -> "Kubernetes tutorial" -> !Tutorials - Kubernetes! -> !Overview - Kubernetes! -> !Using Minikube to Create a Cluster - Kubernetes! -> https://kubernetes.io/docs/tutorials/kubernetes-basics/cluster-interactive/Module 1, Step 2 of 3.This is smaller than minor but I couldn't help it ;)Regards,--Raphaël11.10.2017, 16:14, "Joseph He

[2017-10-12 10:27] vkumar2808 commented on #5874
I have already tried with those steps and it doesn't work

Sent via the Samsung Galaxy Note® 4, an AT&T 4G LTE smartphone

-------- Original message --------
From: Clenimar Filemon <notifications@github.com>
Date: 10/11/17  11:40 PM  (GMT-05:00)
To: "kubernetes/kubernetes.github.io" <kubernetes.github.io@noreply.github.com>
Cc: vkumar2808 <sharma.vijay16@gmail.com>, Author <author@noreply.github.c

[2017-10-12 12:52] tinirait opened #5881 "Issue with k8s.io/docs/setup/"
**This is a...**

- [x] Feature Request
- [x] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-10-12 12:52] #5881 closed

[2017-10-12 14:27] zjj2wry commented on #3313
+1 @chenhonggc i 'd like help review

[2017-10-12 15:49] chenhonggc commented on #3313
+1 支持国文。

[2017-10-12 17:22] luxas commented on #5872
Sounds good to me :)

[2017-10-13 00:07] atoato88 opened #5886 "Issue with k8s.io/docs/admin/authentication/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
In "Anonymous requests" section, there is a sentence following.
[code]

Is `--anonymous-auth=false` correct for **enabling** anonymous auth?
It should be `--anonymous-auth=true`, I think.

**Proposed Solution:**

Change `--anonymous-auth=false` to `--anonymous-auth=true` in sentence for  enabling anonymous access option of 1.5.

[2017-10-13 00:41] linyaJi opened #5887 "Issue with k8s.io/docs/setup/"
**This is a...**

- [x] Feature Request
- [x] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-10-13 05:46] heckj commented on #5887
hi @linyaJi  - this looks like you perhaps opened an issue by accident. I'm going to close this, but please re-open and provide more detail if there is a specific documentation issue you'd like to report.

[2017-10-13 05:46] #5887 closed

[2017-10-13 05:51] heckj commented on #5876
Thanks for the report @bcbcarl  - was this with the interactive, browser-based tutorial or on your own instance using Minikube (or another instance of a kubernetes cluster?)

I'm guessing your own minikube - and if you don't mind me asking, which version of minikube were you using?

[2017-10-13 05:57] heckj commented on #5878
Thanks for the report @k19810703  - you're reporting this to the documentation issue repository, so this may not get entirely the attention you'd like. I presume you were also following the example/tutorial at https://kubernetes.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/ based on the pod names.

If I may ask, what network option did you use or install with kubeadm wh

[2017-10-13 06:02] heckj commented on #5874
hi @vkumar2808  - can you be more specific of what steps you've taken and what command you're using, and from where, to get the error you're reporting?

I'm presuming that you followed at least some of the steps in https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/ to set up a kubernetes cluster. Did you set up more than one machine in this cluster, or a single machine?  Are you

[2017-10-13 06:46] TimDumol opened #5900 "Documented node memory requirements are excessive (300 GiB)"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

In [Configure Default Memory Requests and Limits for a Namespace](https://kubernetes.io/docs/tasks/administer-cluster/memory-default-namespace/), the documentation states that:

This seems in excess of the actual memory requirements.

**Proposed Solution:**

Reduce documented memory requirements to 2 GiB.

**Page to Update:**

[2017-10-13 08:52] bcbcarl commented on #5876
This is on my local Minikube v0.22.3.

[2017-10-13 10:02] k19810703 commented on #5878
thanks for your reply.
I installed calico for pod network by using below command
sudo kubeadm init --pod-network-cidr=192.168.0.0/16
kubectl apply -f https://docs.projectcalico.org/v2.6/getting-started/kubernetes/installation/hosted/kubeadm/1.6/calico.yaml

BTW,I am following https://github.com/IBM/Scalable-WordPress-deployment-on-Kubernetes to do this exercise.I have changed my cluster for other

[2017-10-13 12:04] gaf3 opened #5907 "Issue with k8s.io/docs/tutorials/kubernetes-basics/explore-interactive/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

In the third tutorial, it first asks to make sure the previous application was running and it wasn't. I tried twice (went back, restarted 2nd, restarted 3rd, no dice).

**Proposed Solution:**

I don't think whatever sessions mechanism is being retained between interactive tutorials.

**Page to Update:**
http://kubernetes.io/..

[2017-10-13 13:37] dkirrane opened #5908 "Invalid URL on k8s.io/docs/setup/independent/create-cluster-kubeadm/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The above wiki and `kubeadm init` mentions an invalid URL
Browsing to http://kubernetes.io/docs/admin/addons/ results in URL 404 Error

**Proposed Solution:**
Update url on the wiki and in `kubeadm init` output

**Page to Update:**
k8s.io/docs/setup/independent/create-cluster-kubeadm/

[code]

[2017-10-13 15:55] heckj commented on #5878
hi @k19810703,

I'm not an expert on diagnosing the network layer, but it sound like Calico isn't working for your environment. Calico, as I understand it (which could easily be incorrect) does rely on network hardware to help make the routing connections between the physical hosts - so is a BGP based mechanism with your switches isn't something you can arrange, then a different network option may

[2017-10-13 15:55] #5878 closed

[2017-10-13 16:04] heckj commented on #5907
thanks for the report @gaf3 !

The content should be loading the relevant commands from earlier tutorial stages as you enter a new session (as a setup step). The browser-based tutorials don't otherwise maintain any specific state.

/cc @BenHall

Ben - could you check the module4 deployment - the source would seem to indicate that it should be loading the app at initialization, but when I hit the 3

[2017-10-13 16:16] heckj commented on #5876
Thanks @bcbcarl  - this has worked in previous versions, so there's a regression somewhere in this mix that I haven't yet hunted out. I did just replicate what you're seeing on my local machine.

If you do this same set of actions in the interactive tutorial (which uses an older version of kubectl and server), the proxy commands do work - although they need two terminal windows to operate (one for

[2017-10-13 16:21] heckj commented on #5908
thanks @dkirrane

Looks like we need a redirect for `http://kubernetes.io/docs/admin/addons/` that gets to the right end destintation (which I think is has moved to https://kubernetes.io/docs/concepts/cluster-administration/addons/)

[2017-10-13 16:33] bcbcarl commented on #5876
Thank you very much for your explanation. 😃

[2017-10-13 16:35] BenHall commented on #5907
Yes, we do this for other scenarios. Will add feedback to the UI that says Kubernetes is still starting until the Pod is live.

[2017-10-13 17:58] #5876 closed

[2017-10-13 18:02] #5908 closed

[2017-10-13 19:44] vkumar2808 commented on #5874
Thanks Joseph. Yes i followed same like and setup 2 vms. One for master and
another for node. Im running kubectl from master server. Again i did new
setup and after reboot, i see following in my journalctl

[minikube@localhost .kube]$ journalctl -xe
Oct 13 12:42:11 localhost.localdomain kubelet[1918]: E1013 12:42:11.238200
  1918 reflector.go:205]
k8s.io/kubernetes/pkg/kubelet/config/apiserver.go:

[2017-10-13 20:20] #5900 closed

[2017-10-15 02:42] vkumar2808 opened #5919 "Issue with k8s.io/docs/setup/independent/create-cluster-kubeadm/"
K8s kubeadm v 1.8.1
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Hello,

I see when i reboot my master k8s server, im not able to get any pods details and keep getting error

The connection to the server 10.0.0.29:6443 was refused - did you specify the right host or port?

I see etcd deosnt support server reboot and master server always should be up and running. if this t

[2017-10-16 07:00] #5393 closed

[2017-10-16 11:47] UmarSaeed11 opened #5922 "Issue with k8s.io/docs/admin/kubelet/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
How to start kubelet with "--network-plugin=cni" ?

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

 Kubernetes version is 1.5

[2017-10-16 18:09] abitrolly commented on #5686
@kbarnard10 would be awesome to host blog contents on GitHub and publish it from here. This way more #hacktoberfest people will be motivated to help with spell and link checking.

[2017-10-16 18:13] kbarnard10 commented on #5686
@arbeit +1. We have an issue open for it here: #5823

[2017-10-16 19:08] idvoretskyi commented on #5823
+1

[2017-10-16 19:33] xsgordon opened #5924 "Issue with k8s.io/docs/concepts/cluster-administration/cloud-providers/ - Mention bs-version"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**

For users using K8S versions 1.8 and lower that don't have the fix contained in https://github.com/kubernetes/kubernetes/pull/53115 it may be necessary to set `bs-version` for the OpenStack cloud provider when installing on OpenStack clusters that expose their Cinder endpoint using paths rather than ports to avoid auto-detectio

[2017-10-16 20:21] bkuhl opened #5926 "Issue with k8s.io/docs/getting-started-guides/windows/"
https://kubernetes.io/docs/getting-started-guides/windows/ currently mentions that Kube 1.5 introduced alpha support, but there's no mention of how that progressed through more recent versions of Kubernetes.  **Can some details be added to this section of the docs to make it more clear whether it's still in alpha or whether it has progressed to beta or become officially supported?**

[2017-10-16 20:36] aveshagarwal opened #5927 "Fix https://kubernetes.io/docs/concepts/workloads/pods/disruptions/"
**This is a...**

- [x] Bug Report

**Problem:**
when node 2 is being drained and pod-b is evicted and its replacement pod-e is created, pod-b is displayed as available.

**Proposed Solution:**
pod-b should be displayed either as "terminated" or should not be shown at all.

**Page to Update:**
 https://kubernetes.io/docs/concepts/workloads/pods/disruptions/

[2017-10-17 01:12] jbeda opened #5930 "When switching versions, maintain page/topic"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
When switching to a different version of the docs, I get redirected to the root of the doc tree.

**Proposed Solution:**
Would be nice to redirect users to an equivalent page in the previous version of docs.  Easy way to get started would be to just support pages that haven't moved or been refactored.  Could get fancier after t

[2017-10-17 07:59] zhangxiaoyu-zidif opened #5933 "what's kube-public? Issue with k8s.io/editdocs/docs/concepts/overview/working-with-objects/namespaces/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
Because of https://github.com/kubernetes/kubernetes/pull/36101  we need to add some description about namespace 'kube-public'

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/

[2017-10-17 08:00] zhangxiaoyu-zidif commented on #5933
/assign @jbeda

[2017-10-17 08:00] zhangxiaoyu-zidif commented on #5933
/assign @xiangpengzhao

[2017-10-17 08:09] xiangpengzhao commented on #5933
/unassign
ping @luxas ?

[2017-10-17 09:36] vglisin opened #5934 "Issue with k8s.io/docs/admin/bootstrap-tokens/"
**Problem with all your explanations are that you assume that neewbee knows where to look for a files which content you put in a text. For us it is impossible to follow not to mention how to install in test environment**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

**Proposed Solution:**Please add some references about files whose content you are showing off**

**Page to Update:**
http:/

[2017-10-17 09:52] tengqm commented on #5934
There is an ongoing effort on building some journeys for different groups of audiences: users, operators, developers etc. c.f. issue #4548. I'm not sure if this will help alleviate the questions you raised.

[2017-10-17 12:40] eidexe opened #5935 "Issue with k8s.io/docs/tasks/configure-pod-container/security-context/"
**This is a...**

- [x] Bug Report

**Problem:**
Error on executing the following command:
`kubectl create -f https://k8s.io/docs/tasks/configure-pod-container/security-context.yaml`

Error message:
`error: error validating "https://k8s.io/docs/tasks/configure-pod-container/security-context.yaml": error validating data: ValidationError(Pod.spec.containers[0].securityContext): unknown field "allowP

[2017-10-17 13:24] tengqm commented on #5935
Sever version is too low. The said field was added in v1.8.

[2017-10-17 19:44] zacharysarah opened #5941 "Create a better onboarding experience for new contributors"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

Information about becoming a contributor of SIG docs exists, but it's scattered across different repos and isn't always clear or straightforward.

**Proposed Solution:**

We can provide a better onboarding experience for new contributors by:

1. Consolidate [CONTRIBUTING.md](https://github.com/kubernetes/kubernetes.github.io/b

[2017-10-17 23:55] heckj commented on #5941
@zacharysarah looks like you've self-subscribed to the "doc contributor user journey" work :-)

[2017-10-18 03:29] mingrammer opened #5947 "Issue with k8s.io/docs/tutorials/kubernetes-basics/expose-interactive"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
There is a typo, in step 2 of katacoda module 4. `get pod` in "We'll use the `get pod` command with -l as p parameter" is not valid command.

**Proposed Solution:**
Need to change the `get pod` to `get pods`

**Page to Update:**
https://kubernetes.io/docs/tutorials/kubernetes-basics/expose-interactive/

[2017-10-18 05:48] heckj commented on #5947
pending resolution with upstream content PR: https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios/pull/6

[2017-10-18 05:50] mingrammer commented on #5947
Thanks

[2017-10-18 06:13] kumarganesh2814 opened #5948 "Issue with k8s.io/docs/user-guide/docker-cli-to-kubectl/"
**This is a...**

- [x ] Feature Request
- [ ] Bug Report

**Problem:**
Hi ,

Greetings for the day!!!

So Issue is I installed kubectl on one VM

[root@ec2bcf ~]# cat /etc/redhat-release
Red Hat Enterprise Linux Server release 7.4 (Maipo)

[root@ec2bcf ~]# kube
kubeadm  kubectl  kubelet

All shows installed but while running any kubectl command I get error

[root@ec2bcf ~]# kubectl version
error:

[2017-10-18 06:32] kumarganesh2814 opened #5950 "Issue while starting minikube"
**This is a...**

- [ x] Feature Request
- [ ] Bug Report

**Problem:**
 minikube start
Starting local Kubernetes v1.7.5 cluster...
Starting VM...
E1018 01:54:38.808925   26207 start.go:146] Error starting host: Error creating host: Error executing step: Running precreate checks.
: We support Virtualbox starting with version 5. Your VirtualBox install is "WARNING: The vboxdrv kernel module is not

[2017-10-18 06:34] kumarganesh2814 commented on #5950
More Deatils to Issue

[root@ec2bcf ~]# kubectl version
error: couldn't read version from server: the server could not find the requested resource

[root@ec2bcf ~]# cat /etc/redhat-release
Red Hat Enterprise Linux Server release 7.4 (Maipo)

[2017-10-18 08:57] tengqm commented on #5950
This smells to me like a virtualbox problem because it failed to load the `vboxdrv` kernel module. It dosn't sound like kubenetes problem. You may want to check your virtualbox installation. Here is a reference: https://www.tecmint.com/install-virtualbox-on-redhat-centos-fedora/

[2017-10-18 09:18] kumarganesh2814 commented on #5950
Hi Qiming,

Yes seems to be Virtual Box Issue not installed properly

[root@ec2bcf yum.repos.d]# /usr/lib/virtualbox/vboxdrv.sh setup
vboxdrv.sh: Stopping VirtualBox services.
vboxdrv.sh: Building VirtualBox kernel modules.
vboxdrv.sh: Starting VirtualBox services.
vboxdrv.sh: failed: Running VirtualBox in a Xen environment is not supported.

So I am using a Oracle Public Cloud Instance and want t

[2017-10-18 10:35] BenHall commented on #5947
Thank you. The PR has now been merged

[2017-10-18 10:36] #5947 closed

[2017-10-18 14:38] bradtopol opened #5952 "Add Slack display name requirements to new developer guide"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
The other day I was informed that when interracting with the Kubernetes Developer Community on slack  I should change my Slack display name to be the same as my github handle.  The person telling me then wondered if we had this documented in the new developer guide.  I checked and this does not appear to be mentioned in the new

[2017-10-18 14:44] bradtopol opened #5953 "KubeCon Doc Sprint potential topic -- sprint on improving Kube developer contribution docs"
**This is a...**

- [X ] Feature Request
- [ ] Bug Report

One potential topic for the KubeCon Doc sprint would be to work on documentation that helps new developers learn how to contribute to Kubernetes, what types of code learning tools to use, etc.  One possible example of the type of content to include in such a sprint would be content like that found in the following blog article:

https://de

[2017-10-18 15:40] heckj commented on #5874
@vkumar2808 I just read #5919 that you posted as well,, and I suspect this is a duplicate of whatever missing steps are in that document. I’m closing this bug in favor of #5919. If you think this is a separate, specific doc issue, please re-open

[2017-10-18 15:40] #5874 closed

[2017-10-18 15:44] heckj commented on #5919
@vkumar2808 Do you know what the steps are that the document is missing? I’ve not installed on CentOS/Fedora and am personally unfamiliar with the specifics of what is needed. I’d be happy to help update the documentation, but don’t know what the correct steps should be in this case.

If this is an issue with what kubeadm is doing, then I recommend opening an issue against kubeadm directly (https:

[2017-10-18 23:38] ahmetb commented on #2979
Put me in the shame cube, I just ran into myself as well.

Currently I'm trying to figure out why my 1.8 cluster doesn't have api `admissionregistration.k8s.io/v1alpha1`.

I think one of these values will work:
- `api/all=true,api/admissionregistration.k8s.io/v1alpha1=true`
- `api/all=true,apis/admissionregistration.k8s.io/v1alpha1=true` (`apis` because [this](https://kubernetes.io/docs/reference/

[2017-10-18 23:48] ahmetb opened #5956 "Cannot find an example of a Pod manifest"
I currently can't find a simple Pod manifest YAML on the website easily.

I visited:

https://kubernetes.io/docs/concepts/workloads/pods/pod/
https://kubernetes.io/docs/concepts/workloads/pods/pod-overview/

They don't contain any examples.

It exists only in other unrelated documents. https://kubernetes.io/docs/search/?q=%22kind:%20Pod%22

[2017-10-18 23:57] ahmetb commented on #2979
OK I found it. The `api/all=true,admissionregistration.k8s.io/v1alpha1=true` syntax works.

My understanding:
- api/legacy: not sure what it does
- api/all: option to enable disable all APIs but obviously this isn't working for `admissionregistration.k8s.io/v1alpha1` maybe because it's alpha
- core api groups syntax: `api/v1` expected.
- named api groups syntax: `admissionregistration.k8s.io/v1alp

[2017-10-19 02:11] colemickens commented on #2979
Per [the `kube-apiserver` docs](https://kubernetes.io/docs/admin/kube-apiserver/):

`--runtime-config mapStringString`:

`A set of key=value pairs that describe runtime configuration that may be passed to apiserver. apis/<groupVersion> key can be used to turn on/off specific api versions. apis/<groupVersion>/<resource> can be used to turn on/off specific resources. api/all and api/legacy are speci

[2017-10-19 02:15] tengqm commented on #5950
Alright, the error message is pretty clear: "`Running VirtualBox in a Xen environment is not supported.`".
You may want to give `kubeadm` a try: https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/

[2017-10-19 02:38] heckj opened #5959 "PodPreset only referenced in tasks, missing from Pod and concepts"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
There is a section under Tasks navigation about Pod Presets, but it's not included or referenced from within the Concepts section at all:
 - https://kubernetes.io/docs/tasks/inject-data-application/podpreset/

There's a small subsection of this page that's relevant for Concept, the majority of it is perfectly oriented towards "

[2017-10-19 03:09] kumarganesh2814 commented on #5950
Hi Qiming,

Trying with kubeadm also gives an error :(

After firing command kubeadm init

[kubelet-check] It seems like the kubelet isn't running or healthy.
[kubelet-check] The HTTP call equal to 'curl -sSL http://localhost:10255/healthz' failed with error: Get http://localhost:10255/healthz: dial tcp [::1]:10255: getsockopt: connection refused.

[kubelet-check] The HTTP call equal to 'curl -sSL

[2017-10-19 05:02] tengqm commented on #5950
It looks like `kubelet` cannot be started. You may want to check `systemctl -u kubelet` and `journalctl -xe` to find out if kubelet has any meaningful error messages in the log.

[2017-10-19 05:25] tengqm commented on #5886
Why is this issue still in open given that a patch that mentions this issue has been merged?

[2017-10-19 06:14] tengqm commented on #5773
This is indeed a problem, but the suggested page to update is generated directly from kube-proxy binary. Will propose a fix for this.

[2017-10-19 06:14] tengqm commented on #5773
/assign

[2017-10-19 06:26] oltur opened #5961 "Issue with k8s.io/docs/tutorials/kubernetes-basics/cluster-interactive/"
**This is a...**

- [ ] Feature Request
- [ X ] Bug Report

**Problem:**
"Connecting..." message is shown forever

**Proposed Solution:**

Want to start a tutorial finally :)

**Page to Update:**
http://kubernetes.io/...

[2017-10-19 06:50] atoato88 commented on #5886
I'll close this issue.
@tengqm Thank you to your mention.

[2017-10-19 06:50] #5886 closed

[2017-10-19 06:53] tengqm commented on #5580
/assign

[2017-10-19 07:31] tengqm commented on #5362
/assign

[2017-10-19 08:17] kumarganesh2814 commented on #5950
0
Oct 19 04:16:05 ec2bcf.compute-gse00003472.oraclecloud.internal kubelet[29913]: W1019 04:16:05.112000   29913 kubelet_network
Oct 19 04:16:05 ec2bcf.compute-gse00003472.oraclecloud.internal kubelet[29913]: I1019 04:16:05.112028   29913 kubelet.go:517]
Oct 19 04:16:05 ec2bcf.compute-gse00003472.oraclecloud.internal kubelet[29913]: W1019 04:16:05.112093   29913 cni.go:196] Una
Oct 19 04:16:05 ec2b

[2017-10-19 09:36] tengqm commented on #5950
I believe you managed to paste some not so useful information and succeeded in cropping out exactly the interesting text ...

`Oct 19 04:16:05 ec2bcf.compute-gse00003472.oraclecloud.internal kubelet[29913]: W1019 04:16:05.126862 29913 cni.go:196] Una ..... <check the whole output here, you will get some hints>`

It looks like a network problem this time.

[2017-10-19 09:47] kumarganesh2814 commented on #5950
Oct 19 05:42:56 localhost kubelet: I1019 05:42:56.356192   16763 container_manager_linux.go:288] Creating device plugin handler: false
Oct 19 05:42:56 localhost kubelet: I1019 05:42:56.356267   16763 kubelet.go:273] Adding manifest file: /etc/kubernetes/manifests
Oct 19 05:42:56 localhost kubelet: I1019 05:42:56.356287   16763 kubelet.go:283] Watching apiserver
Oct 19 05:42:56 localhost kubelet: E

[2017-10-19 13:23] BenHall commented on #5961
Hello,

Thank you for letting us know. Sorry about this. We had a server with some connection issues. This should now have been resolved.

Ben

[2017-10-19 13:55] tengqm commented on #5310
ping @caesarxuchao, this can be closed.

[2017-10-19 13:56] tengqm commented on #5307
ping @vladlosev, please close this one.

[2017-10-19 13:56] dixudx commented on #5310
/close

[2017-10-19 13:56] #5310 closed

[2017-10-19 13:58] tengqm commented on #5239
ping @php-coder , pls close this one.

[2017-10-19 14:03] php-coder commented on #5239
Fixed, thanks!

[2017-10-19 14:03] #5239 closed

[2017-10-19 14:22] #5307 closed

[2017-10-19 14:22] vladlosev commented on #5307
Thanks for fixing!

[2017-10-19 14:50] tengqm commented on #5950
If I'm understanding this correctly, problems related to apiserver connection or CRI should be fine at this stage. The critical issue is the following one:

[code]
When using kubeadm, you have to have kubelet up before apiserver deployment is created or network related configurations are set up. Since docker is using "cgroupfs", you may want to tell kubelet to use "cgroupfs" as its cgroup driver a

[2017-10-19 16:07] heckj opened #5970 "generated documentation doesn't appear to be updated as a part of release process"
Process bug/feature request - somewhere in there anyway.

**This is a...**

- [X] Feature Request
- [ ] Bug Report

**Problem:**
Content generated from API/swagger for reference documentation, or from kubernetes/kubernetes CLI commands and the Cobra library is generated infrequently and not updated with the release process. Today I believe it's primarily generated at initial branch creation time,

[2017-10-19 17:06] iramsey85 opened #5971 "Issue with /docs/getting-started-guides/minikube/"
Issue with /docs/getting-started-guides/minikube/

environment
deskstop running ubuntu 16.04
Virtualbox

Problem Steps
1. minikube install successful
2. kubectl install successful
3. checked cluster-info
Master node Running on localhost:8080

4.check dashboard connection (minikube dashboard)
able to bring up dashboard in browser, but running on a different IP 192.168.x.x (seemed odd)

5. attempted

[2017-10-19 17:14] heckj commented on #5961
@oltur I'm going to go ahead and close this issue for now, but if you're still seeing the problem or there's a specific documentation issue that we can help resolve, please re-open it.

[2017-10-19 17:14] #5961 closed

[2017-10-19 17:35] heckj commented on #5971
hi @iramsey85, thanks for the report. That minikube dashboard is running from a different IP than your desktop is normal - minikube is creating a VM with it's own private (internal) network - so you'll see IP addresses referenced from within minikube that aren't directly accessible, and the IP address of the VM running minikube itself will be different from your desktop's IP.

kubectl get nodes fa

[2017-10-19 17:38] luxas commented on #5919
Rebooting the master should work; if it doesn't for you, that is a bug. But it might be something else as well.
In order for us to be able to debug it, you need to create a new issue in the kubeadm repo with all the details about what you did, logs after the reboot, etc.

Thank you!

[2017-10-19 17:38] #5919 closed

[2017-10-19 17:42] timothysc commented on #5919
Did you ```systemctl enable kubelet``` to make certain it restarts on reboot?

[2017-10-19 18:13] iramsey85 commented on #5971
heckj,
I think we are on to something.

0. kubectl config view returns a blank config output

iramsey@nuc29:~$ kubectl config view
apiVersion: v1
clusters: []
contexts: []
current-context: ""
kind: Config
preferences: {}
users: []
iramsey@nuc29:~$

1. Also, kubectl version returns a refused connection for the service section.

iramsey:~$ kubectl version
Client Version: version.Info{Major:"1", Mino

[2017-10-19 18:28] zacharysarah commented on #5922
@UmarSaeed11 :wave: This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

/cc @heckj ☝️

[2017-10-19 18:35] #5922 closed

[2017-10-19 18:36] zacharysarah commented on #5935
@eidexe :wave: This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

[2017-10-19 18:36] #5935 closed

[2017-10-19 18:38] zacharysarah commented on #5948
@kumarganesh2814 👋

Thanks, greetings to you also!

This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

[2017-10-19 18:38] #5948 closed

[2017-10-19 18:41] zacharysarah commented on #5950
@kumarganesh2814 👋 This issue sounds more like a request for support and less like an issue specifically for docs. I'm going to close this issue, but please feel free to continue to discuss it here as @tengqm's ability permits. (Thanks, @tengqm! 💛 )

[2017-10-19 18:41] #5950 closed

[2017-10-19 18:45] zacharysarah commented on #5953
/cc @jaredbhatti for doc sprints

[2017-10-19 18:48] bradtopol commented on #5952
Great!  I'll add this one to my todo list. Thanks!

[2017-10-19 20:26] vkumar2808 commented on #5919
Hi,
Thanks for your response. I have made it working now. Here what I did.

Machine1:
1) install kubectl and docker using root.
2) disable swap,firewalld, disable selinux.
3) login to non-root user and run "sudo kubeadm init --pod-network-cidr=
192.168.0.0/16 --token-ttl=0".
4) copy all config file as end of install says from 3
5) install flannel or calico plugin but not sure about other network b

[2017-10-19 20:54] heckj commented on #5971
Thanks @iramsey85,

Since this isn't an issue with the docs, I'm going to go ahead and close this issue.

As for the minikube stuff, I wonder if it was unable for some reason to write down a kubectl configuration for you when it was invoked. By default, it will try and write files into your `~/.kube` directory, so if you ran it as a user that couldn't write there, or you have constrained permissio

[2017-10-19 20:54] #5971 closed

[2017-10-19 20:55] chenopis commented on #4629
This has been completed and is now live: https://kubernetes.io/docs/reference/glossary/?fundamental=true

[2017-10-19 20:55] #4629 closed

[2017-10-19 22:52] iramsey85 commented on #5971
Issue has been resolved.
Solution:
1. cleared all kubectl related directories
2. ran kubectl install curl command: executed chmod and move commands separate from curl command
3. kubectl cluster-info returned same Master ip as dashboard ip

[2017-10-19 23:04] xsgordon opened #5980 "Issue with OpenStack section of k8s.io/docs/concepts/cluster-administration/cloud-providers/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
The OpenStack cloud provider documentation does not explicitly list which services it expects to or can use on the underlying cloud. At a minimum it is currently believed this is:

* Nova (V2/V2.1) (mandatory?)
* Neutron LBaaS (V1 or V2) (optional?)
* Cinder (V1, V2, or V3) (optional?)
* Keystone (V2, or V3?) (mandatory?)

**Pr

[2017-10-19 23:05] xsgordon commented on #5980
/assign xsgordon

/cc @dims @FengyunPan @anguslees do my assertions about what is mandatory/optional for the cloud provider impl. to work look correct to you?

[2017-10-20 01:32] xiangpengzhao commented on #5952
It'd also be good to keep the icon the same between GH and slack. I think that's more recognizable. But that's okay, it depends on guys' wish.

[2017-10-20 01:52] FengyunPan commented on #5980
Nova (V2) (MicroVersion will be supported in futrue)
Neutron LBaaS (V2) (V1 is deprecated)
Cinder (V1, V2,) (optional) (V3 will be supported in futrue)
https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/openstack/openstack_client.go

[2017-10-20 02:13] pedrodago opened #5981 "Issue with k8s.io/docs/setup/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-10-20 02:13] anguslees commented on #5980
.. and Keystone (V2, V3)

Also it can use the Neutron "extraroute" extension to implement kubenet.

I think the only _required_ service is Keystone, and the rest are optional based on presence in the keystone catalog (and published neutron extensions).  If missing, the openstack provider will just claim the relevant features are not supported.

[2017-10-20 05:20] kumarganesh2814 commented on #5950
Oct 20 01:18:46 localhost kubelet: I1020 01:18:46.320014   13395 container_manager_linux.go:288] Creating device plugin handler: false
Oct 20 01:18:46 localhost kubelet: I1020 01:18:46.320160   13395 kubelet.go:273] Adding manifest file: /etc/kubernetes/manifests
Oct 20 01:18:46 localhost kubelet: I1020 01:18:46.320183   13395 kubelet.go:283] Watching apiserver
Oct 20 01:18:46 localhost kubelet: E

[2017-10-20 06:32] tengqm commented on #5959
/assign

[2017-10-20 07:40] tengqm commented on #5956
/assign

[2017-10-20 09:21] luxas commented on #5933
xref: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/cluster-lifecycle/bootstrap-discovery.md

`kube-public` is a namespace that is automatically created (like kube-system and default), and should, by convention, have its content publicly accessible (even for anonymous/unauthenticated users). It is reserved for system usage.

[2017-10-20 09:54] zhangxiaoyu-zidif commented on #5933
@luxas
Thanks very much for your answering.
I saw it and it's much helpful.

[2017-10-20 10:32] luxas commented on #5933
@zhangxiaoyu-zidif Do you want to help documenting that properly in the docs?

[2017-10-20 10:42] zhangxiaoyu-zidif commented on #5933
Yes, I will. Glad to do so.

[2017-10-20 14:53] abitrolly opened #5989 "Anchor links included with glossary terms are broken"
**This is a...**
- [x] Bug Report

**Problem:**
In [StatefulSet page](https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/) there is a broken link to Deployment description.

This text with anchor link is included from glossary, so there is no easy fix.

**Page to Update:**
https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/

[2017-10-20 15:27] heckj commented on #5989
The relevant file to be tweaked is _data/glossary/statefulset.yml. What I'm not entirely sure of is if the glossary links that are within the content should be linked up appropriately - in which case, there's a bug with the linking rather than the content, which attempts to link to another glossary term

Jessica - need your eyes on this one...

/cc abiogenesis-now

[2017-10-20 15:38] heckj commented on #5981
Hi @pedrodago  - it looks like you've opened this issue without any details, or maybe on accident. I'm going to go ahead and close it for now. Please re-open if there's a documentation issue you'd like to report.

[2017-10-20 15:38] #5981 closed

[2017-10-20 16:03] abiogenesis-now commented on #5989
Thanks for the catch! I'm going to make a hotfix for this now, and come up with a more sustainable solution (e.g. full-length-content links vs glossary links) in the next week or so

[2017-10-20 16:04] abiogenesis-now commented on #5989
It's going to lead to a bit of inconsistency on the glossary page itself, but at least all the links will be valid.