[2018-01-08 03:29] #6871 closed

[2018-01-08 03:29] zhangxiaoyu-zidif commented on #6871
maybe opened by mistake

[2018-01-08 05:41] stantonxu opened #6874 "Issue with k8s.io/docs/tutorials/stateless-application/hello-minikube/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
This is actually a suggestion for the document improvement

**Proposed Solution:**
In the "Clean Up" section of "Hello Minikube", besides kubectl delete service and deployment, before the minikube stop, suggest to do docker image rm, to remove the hello-node v1 and v2.

**Page to Update:**
https://kubernetes.io/docs/tutorials/s

[2018-01-08 05:45] #2112 closed

[2018-01-08 09:51] oule commented on #6790
问题解决了，需要在kube-proxy配置文件里加--cluster-cidr就可以了，谢谢大家~

[2018-01-08 09:51] #6790 closed

[2018-01-08 11:19] SedjiG opened #6878 "Issue with k8s.io/docs/setup/independent/install-kubeadm/"
**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**
kubeadm installation Centos or RedHat: kubeadm init results in:
[kubelet-check] It seems like the kubelet isn't running or healthy.
[kubelet-check] The HTTP call equal to 'curl -sSL http://localhost:10255/healthz' failed with error: Get http://localhost:10255/healthz: dial tcp [::1]:10255: getsockopt: connection refused.

Foll

[2018-01-08 11:52] abitrolly commented on #5409
/remove-lifecycle stale

Still actual.

[2018-01-08 13:43] roberteikermann commented on #6092
@samynathan17 How does your comment relate to my report?

[2018-01-08 13:47] roberteikermann commented on #6092
@zacharysarah I think this can be closed as the "before you begin" sections in documentation for versions 1.8 and 1.9 doesn't mention the check  `set /proc/sys/net/bridge/bridge-nf-call-iptables to 1 ` anymore

[2018-01-08 13:47] #6092 closed

[2018-01-08 15:01] shruthibhaskar opened #6880 "Issue with k8s.io/docs/setup/independent/install-kubeadm/"
**This is a...**

- [x] Feature Request
- [x] Bug Report

**Problem:**
root@ip-172-31-36-181:~# apt-get install -y kubelet kubeadm kubectl
Reading package lists... Done
Building dependency tree
Reading state information... Done
**E: Unable to locate package kubelet
E: Unable to locate package kubeadm
E: Unable to locate package kubectl**

**Proposed Solution:**

**Page to Update:**

"Installing ku

[2018-01-08 17:18] ryanmcginnis commented on #458
/remove-lifecycle stale

Steve, did you ever figure out why the fix didn't generate in the API docs?

[2018-01-08 19:02] zacharysarah commented on #6219
@steveperry-53 Absolutely.

[2018-01-08 19:02] #6219 closed

[2018-01-08 23:23] #5766 closed

[2018-01-09 00:47] ThatAIXGuy opened #6887 "Issue with k8s.io/docs/concepts/cluster-administration/certificates/"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**
SANS are asking for local cluster names and short names, as well as IP Address which our security team is hesitant to even consider giving an exception for:
 e.g: (these are easily duped)
                DNS:kubernetes,
                DNS:kubernetes.default,
                DNS:kubernetes.default.svc,
                DNS:kubern

[2018-01-09 00:51] z-oo opened #6888 "Issue with k8s.io/docs/getting-started-guides/scratch/ (--api-servers is deprecated)"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
This doc refers to deprecated kubelet flag --api-servers

**Proposed Solution:**
Use what is preferred now (maybe kubeconfig?)

**Page to Update:**
http://kubernetes.io/...

1.9.1

[2018-01-09 00:54] zhangxiaoyu-zidif commented on #6888
yes, we do not use --api-server for kubelet start parameter, and use kubeconfig instead.

[2018-01-09 01:15] z-oo commented on #6888
Yes, page to update in the subject line k8s.io/docs/getting-started-guides/scratch/

Sorry I somehow missed the url field in bug report body.

[2018-01-09 01:44] zhangxiaoyu-zidif commented on #6888
/assign

[2018-01-09 02:22] z-oo opened #6891 "Issue with k8s.io/docs/setup/independent/create-cluster-kubeadm/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
I followed this instruction on a freshly installed Ubuntu 16.04 machine and it did not work. It was stuck on `kubeadm init` step. I need to manually specify kubelet flag `--cgroup-driver=systemd`. This seems very reproducible and it happened to all my freshly installed ubuntu if I follow the instruction.

[code]

And `jouralctl

[2018-01-09 03:00] zhangxiaoyu-zidif commented on #6891
/cc @luxas @xiangpengzhao

[2018-01-09 03:30] tengqm commented on #6887
DNS is almost a mandatory add-on today, but still it is optional. If DNS is not configured, domain name only SANS will not work, right?

[2018-01-09 04:32] stewart-yu commented on #6891
I think it should resolve manually

[2018-01-09 04:49] tengqm commented on #6880
The full command chain is as follows:

[code]

Did you executed all commands?

[2018-01-09 04:51] tengqm commented on #5308
/remove-lifecycle stale

This is bad... need a fix.

[2018-01-09 05:33] #6888 closed

[2018-01-09 05:43] #4270 closed

[2018-01-09 06:03] #3879 closed

[2018-01-09 08:32] z-oo commented on #6891
Hmm, I did not see the troubleshooting page previous. Thanks for pointing me to the it.

After I read that page, I don't think the page directly solve my problem and probably requires update to address my problem. I can see two sections related to my problem:
1) "kubeadm blocks waiting for control plane during installation" section. It address the problem when kubelet has cgroup "systemd" while do

[2018-01-09 08:40] stewart-yu commented on #6891
That's same. first, run `docker info`, you can see docker's cgroup; secondary, run `vi /etc/systemd/system/kubelet.service.d/10-kubeadm.conf`,  edit and make `cgroup-driver=systemd`
I will fix  troubeshooting ASAP.

[2018-01-09 08:55] xiangpengzhao commented on #6891
@stewart-yu :+1:

[2018-01-09 09:25] shruthibhaskar commented on #6880
Hi,

I had done mistake in command execution.
I re-did it again,  now I have been able to install.  Thank you for the
support.

Regards
Shruthi

On 09-Jan-2018 10:19 AM, "Qiming" <notifications@github.com> wrote:

[2018-01-09 12:23] #6880 closed

[2018-01-09 16:05] soltysh commented on #1657
/close
It's already fixed.

[2018-01-09 16:05] #1657 closed

[2018-01-09 16:26] k9ert opened #6904 "Issue with k8s.io/docs/reference/api-overview/"
**This is a Bug Report about some 404 in the documentation

**Problem:**
Link not valid in this page:
https://v1-6.docs.kubernetes.io/docs/reference/api-overview/
Link which results in a 404:
https://git.k8s.io/community/contributors/design-proposals/extending-api.md

[2018-01-09 16:27] ThatAIXGuy commented on #6887
I'm good with DNS, we have issue with the shortnames of kubernetes,
svc.local, etc. as well as IP Address. I'm being told from CoreOS that IP
Address is a mandatory SANS, though the kubernetes documentation here says
it's IP Address OR DNS Name.

On Mon, Jan 8, 2018 at 7:30 PM, Qiming <notifications@github.com> wrote:

--
Thank you,
Curt S. Hayes

[2018-01-09 16:28] k9ert commented on #6904
1.6 is no longer maintained, closing ...

[2018-01-09 16:28] #6904 closed

[2018-01-09 17:47] #2497 closed

[2018-01-09 18:06] vhosakot commented on #6390
@vamsi248, I see the same error in `kubectl logs`. How did you resolve the error?
[code]
I've added all the info in https://github.com/kubernetes/ingress-nginx/issues/1531#issuecomment-356355924.

[2018-01-09 18:12] spiffxp opened #6906 "Setup merge automation for this repo"
I'd like to setup merge automation for this repo.  This means:

Use an OWNERS file, /approve, /lgtm to allow people to merge PR's into this repo:
- If there isn't an OWNERS file, create one and populate it with people who already have write access to this repo (as approvers)
- Configure prow to turn on the "approval" plugin for this repo
- Configure prow/tide to include this repo in the tide query

[2018-01-09 18:16] #2385 closed

[2018-01-09 19:19] spiffxp commented on #6906
Discussed during most recent sig-docs meeting, a few salient points that came up:
- existing workflow sometimes (not not always) involves a `Docs LGTM` and `Technical Review LGTM`
- suggested using `approved` == "conforms to docs standards", `lgtm` == "content looks technically good", with `do-not-merge/hold` used to other organic workflows
- suggested using this issue to make sure we had consensu

[2018-01-09 21:01] BrunoQuaresma opened #6908 "Issue with k8s.io/docs/concepts/workloads/controllers/jobs-run-to-completion/"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
The first example throws an error in the console about invalid backoffLimit.
[code]
***job spec***
[code]

**Proposed Solution:**
Update the example with correct and valid job spec format.

**Page to Update:**
http://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/

[2018-01-09 21:02] colemickens commented on #1459
/close

[2018-01-09 21:02] #1459 closed

[2018-01-10 01:25] tengqm commented on #6908
Cannot reproduce. What is your kubernetes version?

[2018-01-10 07:27] XieXianbin opened #6910 "I wish /docs/user-guide/containers/ how to use?"
I wish /docs/user-guide/containers/ how to use?

[2018-01-10 07:31] zhangxiaoyu-zidif commented on #6910
which command you want to know?

[2018-01-10 08:22] petetnt opened #6912 "kubectl autogenerated reference links point to non-existent page"
- [ ] Feature Request
- [x] Bug Report

**Problem:**

Every autogenerated link on https://kubernetes.io/docs/reference/generated/kubectl/kubectl/ point to non-existent page. Click any of the links under `SEE ALSO`

**Proposed Solution:**

Should point to the correct page

**Page to Update:**
https://kubernetes.io/docs/reference/generated/kubectl/kubectl/

[2018-01-10 11:13] autherlj opened #6917 "Issue with k8s.io/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2018-01-10 12:39] BrunoQuaresma commented on #6908
Output from `kubectl version'
[code]

[2018-01-10 13:29] #6917 closed

[2018-01-10 16:33] errordeveloper commented on #1659
I've just cross posted on the mailing lists about this: https://groups.google.com/d/msg/kubernetes-sig-docs/GFnX8DRw7iY/8y3feBK5AAAJ.

cc @roberthbailey

[2018-01-10 16:51] roberthbailey commented on #1659
Thanks IIya. It would be great if we could reach out to owners directly for any getting started guides (where we know them) in case folks are filtering the mailing lists in their email. Also, it might be nice to provide a link in the email to the list of guides that we are talking about culling.

[2018-01-10 17:06] dankohn commented on #3313
/remove-lifecycle stale

This is a high priority to support this quarter, once the Chinese translations of sufficient quality are finished and merged.

Cc @zacharysarah

[2018-01-10 18:28] mrsimpson opened #6921 "Issue with k8s.io/docs/tutorials/kubernetes-basics/update-interactive/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
`rollout undo` performed twice from v10 results in v10 being tried to spin up again. Since you wrote one could revert to any previous version, I expected to have v1 running after re-issuing the `rollout undo` for the second time

**Proposed Solution:**
Explain what a repeatedly performed `rollout undo` actually does.

**Page to

[2018-01-10 21:40] heckj commented on #6035
comments about version dependencies are now in the example YAML, so I'm closing this out

[2018-01-10 21:40] #6035 closed

[2018-01-10 22:59] #5741 closed

[2018-01-11 02:13] tengqm commented on #6908
`.spec.backoffLimit` was added to Job in v1.8, so 1.7.8 won't support this.

[2018-01-11 02:14] tengqm commented on #6908
To view docs for v1.7, you will need to check this: https://v1-7.docs.kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/

[2018-01-11 02:14] #6908 closed

[2018-01-11 06:17] songweistackup opened #6928 "Issue with k8s.io/docs/setup/independent/install-kubeadm/"
**This is a Bug Report**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
I cannot restart Docker after used the  command  bellow:

cat << EOF > /etc/docker/daemon.json
{
  "exec-opts": ["native.cgroupdriver=systemd"]
}
EOF

here is the notice:
[root@host-10 ~]# systemctl restart docker
Job for docker.service failed because the control process exited with error code. See "systemctl status do

[2018-01-11 06:53] manikantag opened #6930 "Issue with k8s.io/docs/tasks/debug-application-cluster/logging-elasticsearch-kibana/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Logging using Elasticsearch doc still refer to deprecated kube-up.sh and all the details mentioned also are specific to kube-up.sh

**Proposed Solution:**
Updating the doc to recommended solution (yml configuration/minikube support)

**Page to Update:**
k8s.io/docs/tasks/debug-application-cluster/logging-elasticsearch-kibana/

[2018-01-11 07:21] vhosakot commented on #6390
I was able to enable RBAC using helm (`--set rbac.create=true`) and this error is not seen anymore, and the nginx ingress controller is working as expected!
[code]

[2018-01-11 11:30] submarin76 opened #6934 "Issue with k8s.io/docs/tasks/run-application/update-api-object-kubectl-patch/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
Cleaning Up section is missing
"kubectl delete pod ..." is not enough to clean up
**Proposed Solution:**
Please add a cleaning up section.

**Page to Update:**
https://kubernetes.io/docs/tasks/run-application/update-api-object-kubectl-patch/

1.9

[2018-01-11 12:10] tengqm commented on #6928
then follow the instructions and check the journalctl -xe output?

[2018-01-11 13:23] tengqm commented on #6934
isn't `kubectl delete deployment patch-demo` pretty obvious?

[2018-01-11 18:10] #943 closed

[2018-01-11 20:51] zacharysarah opened #6935 "[SIG planning] Projects in flight: 2018Q1"
# Projects in flight: 2018 Q1

This issue is an aggregator for all SIG Docs projects currently in flight (2018 Q1).

**Please add your projects to the list.** Please add or correct details as appropriate.

### Why this list matters
A list of in-flight projects will help SIG Docs prioritize yearly goals—OKRs and KPIs—at the SIG Docs Summit (Portland, OR, May 9, 2018).

## Projects

### Writing, mai

[2018-01-12 02:37] luisvsm commented on #5822
+1 Yes please

[2018-01-12 09:57] JiangFong opened #6945 "Issue with /docs/api/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2018-01-12 19:07] dims commented on #3173
/open

[2018-01-12 21:25] ssanjabi opened #6947 "Issue with k8s.io/docs/concepts/policy/resource-quotas/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
This doc page contradicts itself, at one point stating that multiple ResourceQuota objects may be created per namespace, here:

Then, later:

**Proposed Solution:**

Either removing one of the statements or clarify which is considered "best practice" and which is actually not supported.

**Page to Update:**
http://kubernetes.io

[2018-01-13 01:04] stewart-yu commented on #6612
sorry, forgot it

[2018-01-13 03:14] stewart-yu commented on #6612
update: it seem `libvirt-coreos` will set up by `kubernetes-anywhere`, `/cluster/libvirt-coreos/` directory in kubernetes repo has been removed, more details can refer to [here](https://github.com/kubernetes/kubernetes/issues/49213). so i think this issuses doesn't matter now.

[2018-01-14 17:10] #2393 closed

[2018-01-14 22:43] dankohn commented on #5823
/lifecycle frozen

[2018-01-15 02:08] Davidrjx opened #6965 "Issue with k8s.io/docs/tasks/configure-pod-container/attach-handler-lifecycle-event/"
**This is a...**

- [ ] Feature Request
- [* ] Bug Report

**Problem:**
preStop handler not working when job was deleted

**Proposed Solution:**
if issue actually exists along with tests, special statement should be given for documentation

**Page to Update:**
http://kubernetes.io/...

1.9

[2018-01-15 02:24] tengqm commented on #6965
please track this issue: kubernetes/kubernetes#55807
At the same time, we should document it.

[2018-01-15 02:33] Davidrjx commented on #6965
@tengqm ok thanks! very expected to proceed it.

[2018-01-15 05:17] tengqm commented on #6682
@BastienL Have you filed an issue to flannel project? This doesn't sound like a k8s doc problem.

[2018-01-15 05:18] #6677 closed

[2018-01-15 05:30] tengqm commented on #6641
Fixed in #6666

[2018-01-15 05:30] #6641 closed

[2018-01-15 05:33] tengqm commented on #6615
So ... this can be closed as well? @quantum-fusion

[2018-01-15 05:35] tengqm commented on #6612
This no longer sounds like an issue. Please reopen if anyone wants to keep it.

[2018-01-15 05:35] #6612 closed

[2018-01-15 05:37] tengqm commented on #6605
Sounds like a temporary issue which cannot be reproduced (already has been fixed?).
Closing.

[2018-01-15 05:37] #6605 closed

[2018-01-15 05:39] tengqm commented on #6544
@BenHall ping. This is still an issue.

[2018-01-15 05:41] #6530 closed

[2018-01-15 06:02] tengqm commented on #6484
PetSet has long been replaced by StatefuSet and StatefulSet has been GA'ed in 1.9. So we are going to remove this page to avoid further confusion.

[2018-01-15 06:57] tengqm commented on #6448
Looks like this has been fixed in release-1.9 branch first and then in master now.

[2018-01-15 06:57] #6448 closed

[2018-01-15 08:12] BastienL commented on #6682
@tengqm I think the k8s documentation should link to https://github.com/coreos/flannel/blob/master/Documentation/kube-flannel.yml#L127-L133 instead of https://raw.githubusercontent.com/coreos/flannel/v0.9.1/Documentation/kube-flannel.yml. Not sure it's a flannel issue then. But I'll let them know too.

[2018-01-15 11:35] errordeveloper commented on #1510
@timothysc should we keep this open?

[2018-01-15 11:36] errordeveloper commented on #1733
/lifecycle frozen

[2018-01-15 11:37] errordeveloper commented on #1391
/close

Let's close, this is very old.

[2018-01-15 11:37] #1391 closed

[2018-01-15 17:18] bitfield commented on #6059
This seems to be fixed by 60b7e3f42ee502f7388bf2662a8f420c056ec32c.

[2018-01-15 20:29] serewicz opened #6972 "Issue with k8s.io/docs/tasks/federation/set-up-cluster-federation-kubefed/"
**This is a...**

- [ ] Feature Request
- [ X] Bug Report

**Problem:**
The kubefed binary is not found in the suggested tarball. The use of command expansion of the shell means newer versions won't find the file.

**Proposed Solution:**
Update the URL to the proper location. The most recent release is v1.9.x and the kubefed binary has not been included since v1.8.  OR update the notes to say that

[2018-01-15 23:44] brentpearson opened #6973 "Issue with k8s.io/docs/getting-started-guides/minikube/"
**This is a...**

- [ ] Bug Report

**Problem:**

Following the procedure given by this guide

[code]

Results in:
[code]

**Proposed Solution:**
Explain how to get rid of the errors.

**Page to Update:**
https://kubernetes.io/docs/getting-started-guides/minikube/

[2018-01-16 01:10] aburdenthehand commented on #6059
Looks like this was updated for a separate issue. Content now reads:
"It’s typically best to create a service before the corresponding replication controllers. This lets the scheduler spread the pods that comprise the service."

Recommend closing.

[2018-01-16 01:32] #6059 closed

[2018-01-16 01:57] tengqm commented on #6682
ya, I agree when possible we should use links that are general and stable

[2018-01-16 02:18] heckj commented on #6973
thanks for the report @brentpearson, but I'm afraid it's not an error with Minikube, but an issue with your local network. Your github profile doesn't include any details about where you work, but from personal experience if you're behind a network that does MitM SSL intercept and re-encryption (typically with Cisco firewall borders), then you will often see this kind of error - and with quite a f

[2018-01-16 10:46] aburdenthehand commented on #5454
Thanks for raising the bug @estechnical

From the looks of things, the best place would be in the 'Before you Begin' section of
https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/
and link out to the 'Certificates' section in Cluster Administration:
https://kubernetes.io/docs/concepts/cluster-administration/certificates/

Would this save some confusion?

[2018-01-16 12:06] vishveshv opened #6976 "Issue with k8s.io/editdocs/"
**This is a correction request in kubernetes documentation**

- [ ] Feature Request
- [ X] Bug Report

**Kubernetes documentation on pull-image-private-registry should be updated as docker config has different json response than what is mentioned in document:**

**Kubernetes imagePullSecret doesn't support new docker config i.e. it doesn't support config with {"auths":..} object. **

**Page to Upd

[2018-01-16 15:25] iselind commented on #4310
Are there any plans for adding the support for this?

[2018-01-16 21:12] heckj commented on #6906
per conversation in https://www.youtube.com/watch?v=3ym97JJnV1I && notes in https://docs.google.com/document/d/1Ds87eRiNZeXwRBEbFr6Z7ukjbTow5RQcNZLaSvWWQsE/edit from 1/16 SIG-DOCs meeting, we're +1 to do this...

/cc chenopis
/cc zacharysarah
/cc steveperry-53
/cc jaredbhatti
/cc bradamant3

[2018-01-17 02:34] oule opened #6984 "can not auto create /registry problem"
大家好：
我的k8s集群环境是：
etcd-1  10.1.1.180
etcd-2  10.1.1.181
etcd-3  10.1.1.182

k8s-master-1  10.1.1.183  vip: 10.1.1.186 with keepalived
k8s-master-2  10.1.1.184
k8s-master-3  10.1.1.185
k8s-node-1  10.1.1.187

centos 7.3.1611
etcd-3.2.9
k8s-1.8.6
docker-17.09.0-ce
flannel-0.7.1

原来部署的是k8s-1.5.2,docker-1.12.6,可以使用，但是比较慢，后来升级版本，把docker和k8s都卸载了，
安装了上面列表的版本，etcd没有任何改动，只是把/registry删除了，现在集群部署完了，启动master的三个

[2018-01-17 02:51] zhangxiaoyu-zidif commented on #6984
etcd should be updated. now we use etcd V3 interface, not v2 yet. So maybe the v1.8.6 kubernetes use v3 default. that's my guess.

[2018-01-17 02:52] zhangxiaoyu-zidif commented on #6984
/cc @tengqm  @jianglingxia

[2018-01-17 02:53] tengqm commented on #6984
@zhangxiaoyu-zidif is right, etcd v3 has a different way to store the cluster data. You don't have to worry about it at all. Even if you do, you will need some tools to marshal/unmarshal data using protobuf ...

[2018-01-17 02:53] tengqm commented on #6984
I think this can be closed.

[2018-01-17 02:58] zhangxiaoyu-zidif commented on #6984
@tengqm  thanks
/close

[2018-01-17 02:58] #6984 closed

[2018-01-17 03:05] oule commented on #6984
I used version is 3.2.9 now ~

[2018-01-17 03:19] zhangxiaoyu-zidif commented on #6984
another question is that, now kubernetes v1.8 should use v3.1.X etcd. and V2 or V3 is decided by your kubernetes. I mean when you use v1.5.2, you use V2, now you sue 1.8, while 1.8 use V3 default.

[2018-01-17 03:20] zhangxiaoyu-zidif commented on #6984
if the data in your etcd is not very important, i suggest re-deploy etcd. =)

[2018-01-17 03:38] oule commented on #6984
I execute  yum remove etcd
and
rm -rf /var/lib/etcd
yum install etcd
systemctl restart kube-apiserver
可是etcdctl ls /依然是空的

[2018-01-17 03:53] zhangxiaoyu-zidif commented on #6984
are those parameters between apiserver and etcd correct?

[2018-01-17 03:55] zhangxiaoyu-zidif commented on #6984
right! because the higher version of etcd has not been tested yet. we don't know if there are some problems.

[2018-01-17 04:52] oule commented on #6984
依旧没有创建
[code]

[2018-01-17 04:54] oule commented on #6984
[code]

[2018-01-17 05:33] zhangxiaoyu-zidif commented on #6984
use 3 instead

[2018-01-17 05:43] tengqm commented on #6984
sigh ... didn't you spend some time learning the way to interact with etcd using the v3 api?
`etcdctl ls` is deprecated in v3; you need to sit down and read some etcd docs, or at least try this:

[code]

[2018-01-17 06:39] oule commented on #6984
谢谢各位！
@tengqm
实在不好意思，麻烦您了。我英文不怎么好，看过部分官方文档，但是看的不多，到是看过不少帖子，看过《kubernetes权威指南》，我想先通过这些把最简单，最小化的集群先跑起来，然后一步一步深入。我也知道读完全部官方文档，甚至看完全部源码，我就不用到这里来麻烦大家了，但是目前的状况还不行，在我看完全部文档和源码前，可能还得来这里咨询，不过，如果觉得的我的提问太低级，也可以不理，这都没什么的，再次感谢大家~ ：）

[2018-01-17 07:00] tengqm commented on #6984
@oule Try this: https://jimmysong.io/kubernetes-handbook/guide/using-etcdctl-to-access-kubernetes-data.html

[2018-01-17 07:15] oule commented on #6984
好的，非常感谢，我先收藏了。
目前我还是先用我之前部署的老版本，等有时间再研究新版部署问题，
再次感谢~ ：）

[2018-01-17 07:23] tengqm commented on #6984
@oule Fine, but you didn't read my message. Your installation may be okay. You cannot say it is not operating simply because 'etcdctl ls' returns nothing.

[2018-01-17 07:46] sivarammedapati opened #6987 "documentation example on deployment creation fails"
[root@centos-master ~]# kubectl create -f https://raw.githubusercontent.com/kubernetes/website/master/docs/concepts/workloads/controllers/nginx-deployment.yaml
error: unable to recognize "https://raw.githubusercontent.com/kubernetes/website/master/docs/concepts/workloads/controllers/nginx-deployment.yaml": no matches for apps/, Kind=Deployment
[root@centos-master ~]# kubectl version
Client Version

[2018-01-17 08:20] islinwb commented on #6987
For versions before 1.6.0, you should use `apiVersion: extensions/v1beta1`.
https://v1-5.docs.kubernetes.io/docs/tutorials/stateless-application/run-stateless-application-deployment/

Yon can select the kubernetes version in the top right  of the page https://kubernetes.io/docs/home/.

[2018-01-17 08:46] aburdenthehand commented on #4073
Thanks for raising the bug @ekeoch
The task-pv-claim.yaml has changed a bit since this was raised. I tested it today and it bound as expected.
The content re: PVs and PVCs had an update the same day this was raised (can't tell if before or after; sorry if this was there was already present when you encountered this) and the content now links to the Storage Classes topic:
https://kubernetes.io/docs

[2018-01-17 08:52] sivarammedapati commented on #6987
Thanks that works.

However it has been waiting for a long. I cannot describe this deployment.

[root@centos-master ~]# kubectl get deployments
NAME               DESIRED   CURRENT   UP-TO-DATE   AVAILABLE   AGE
nginx-deployment   3         0         0            0           14m
[root@centos-master ~]# kubectl rollout status deployment/nginx-deployment
Waiting for rollout to finish: 0 out of 3 new

[2018-01-17 09:56] kc004 opened #6989 "Issue with nginx-ingress port forwarding"
a

[2018-01-17 10:22] #6989 closed

[2018-01-17 10:35] kapalkat opened #6990 "Issue with k8s.io/docs/tasks/run-application/run-single-instance-stateful-application/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
Deployment yaml file:
mysql-deployment.yaml api version does not fit 1.9 version:
apiVersion: apps/v1beta2 # for versions before 1.8.0 use apps/v1beta1
kind: Deployment

**Proposed Solution:**
change apiVersion to: apps/v1

**Page to Update:**
https://kubernetes.io/docs/tasks/run-application/run-single-instance-stateful-applic

[2018-01-17 11:46] islinwb commented on #6987
Er...It's weird. Maybe you should look into the logs.

I've tested with the yaml above using Kubernetes release-1.5 and release-1.6. But the results are not as what you got. All 3 pods become running within several seconds.

[2018-01-17 11:50] #4073 closed

[2018-01-17 12:07] islinwb commented on #6990
#6992

[2018-01-17 20:20] praseodym opened #6996 "Issue with k8s.io/docs/getting-started-guides/vsphere/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
https://kubernetes.io/docs/getting-started-guides/vsphere/ documents the following:

whereas kubernetes/kubernetes#55845 (v1.9.0) removed this requirement; the `vsphere.conf`/`cloud-config` file is now only required on the master node.

**Proposed Solution:**
Update documentation to reflect changes merged in kubernetes/kubernet

[2018-01-18 00:28] caesarxuchao opened #7002 "Update the "Dynamic Admission Control" page"
https://kubernetes.io/docs/admin/extensible-admission-controllers/

Need to
* add the mutating webhook to it
* saying the feature is now beta

cc @yliaog @lavalamp

[2018-01-18 02:58] chenfanlinux opened #7004 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-interactive/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2018-01-18 06:22] #7004 closed

[2018-01-18 13:05] tengqm commented on #2155
@steveperry-53 not an issue any more?

[2018-01-18 13:14] tengqm commented on #5926
@bkuhl You may want to check with the Windows SIG to get latest progress. Below is a link to the SIG: https://github.com/kubernetes/community/blob/master/sig-windows/README.md

[2018-01-18 13:25] #6990 closed

[2018-01-18 13:59] Kup3a commented on #2148
For people who find this issue in search of resolving interactive tutorial problem.
For me `minicube ip` didn't work in tutorial (but fine locally). So u can run `kubectl describe nodes`, find there host01, take it ip-address from LegacyHostIP field and then finally run `curl LegacyHostIP_value:$NODE_PORT`.

[2018-01-18 18:06] chuckbutler commented on #6763
This happens when you have an incorrect system version specified in your `apt/sources.list.d/kubernetes` list.

You will need to tweak that sources line from the following:

[code]

to

[code]

I think this was implied that the operator would be able to discern the difference, but its likely hidden by the fact that xenial is the current LTS release of Ubuntu (soon to be supplanted by bionic). Whic

[2018-01-18 21:57] nikhita opened #7013 "resource quota: document the ability to do object count quota for all namespaced resources"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

https://github.com/kubernetes/kubernetes/pull/54320 was merged in 1.9 and gives the ability to do object count quotas on all standard resources using the `count/<resource>.<group>` syntax and without writing code.

This is an important change and should be documented at https://kubernetes.io/docs/concepts/policy/resource-quota

[2018-01-18 22:02] nikhita commented on #6934
+1.

@submarin76 Thanks for your suggestion! However, the page talks about updating api objects using kubectl patch. A "cleaning up" section seems unwarranted here. Afaik we don't add this for other pages as well.

[2018-01-19 02:31] tengqm commented on #1429
hehe, ther "rotten" label is funny...

@beravelli Can we close this because it doesn't look like a documentation issue, the report is about k8s v1.4.1 and many things changed ?

[2018-01-19 02:36] tengqm commented on #1408
@ekuefler Have you checked the cluster autoscaler project [here](https://github.com/kubernetes/autoscaler)? It looks like the FAQ has answered most of your questions.
https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md
Is it acceptable to simply add a link from website to the FAQ?

[2018-01-19 02:38] tengqm commented on #1489
/remove-lifecycle rotten

I believe the same questions have been asked many times.

[2018-01-19 02:45] tengqm commented on #1696
@chenopis I assume this suggestion is still as good as it was?

[2018-01-19 02:46] liggitt commented on #1489
https://kubernetes.io/docs/admin/authentication/#users-in-kubernetes

that varies by configuration authorization method

https://kubernetes.io/docs/admin/authorization/#authorization-modules

when using RBAC (which is the only method that can dynamically grant permissions), there are examples of granting permissions:

https://kubernetes.io/docs/admin/authorization/rbac/#command-line-utilities

[2018-01-19 02:52] tengqm commented on #1744
fwiw, there is a discussion on this here: https://groups.google.com/forum/#!topic/kubernetes-sig-docs/GFnX8DRw7iY

[2018-01-19 02:52] #1744 closed

[2018-01-19 02:52] tengqm commented on #1694
/remove-lifecycle rotten

[2018-01-19 02:55] tengqm commented on #1474
Closing. Docs for v1.4 is too old for team to maintain. Fixing and backporting for old versions are carefully screened and managed today.

[2018-01-19 02:55] #1474 closed

[2018-01-19 03:07] #1374 closed

[2018-01-19 03:22] #1365 closed

[2018-01-19 03:39] tengqm commented on #1381
/remove-lifecycle rotten

Issue is still there.

[2018-01-19 03:42] #825 closed

[2018-01-19 03:43] tengqm commented on #1555
/remove-lifecycle rotten

[2018-01-19 03:44] tengqm commented on #711
/remove-lifecycle rotten
The "getting started guides" need some more work.

[2018-01-19 04:36] cwangsh opened #7020 "Issue with k8s.io/docs/concepts/configuration/pod-priority-preemption/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
when multiple Pods/containers share a CPU core, is it the k8s scheduler or linux OS that is responsible for the scheduling of the processes/threads (determine which process/thread to execute and others to be suspended)

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2018-01-19 04:41] tengqm commented on #7020
os scheduler.

[2018-01-19 04:41] #7020 closed

[2018-01-19 05:03] cwangsh commented on #7020
thank you very much

[2018-01-19 05:20] tengqm commented on #5970
@heckj Can close this now?

[2018-01-19 05:23] heckj commented on #5970
@tengqm good question - I think it's still relevant, but not sure how we want to address it overall. We've made progress with the docs on the how, unsure what (if anything) more we need documented as a part of our release process. @zacharysarah any thoughts?

/lifecycle frozen

[2018-01-19 06:01] tengqm commented on #2148
@Kup3a Thanks for sharing.

[2018-01-19 06:05] tengqm opened #7021 "FSType field added to CSI persistent volume need docs"
With kubernetes/kubernetes#58209 in, the support to the `fsType` field needs to be documented.

[2018-01-19 14:01] #6996 closed

[2018-01-19 14:04] #6484 closed

[2018-01-19 14:06] #4178 closed

[2018-01-19 16:39] steveperry-53 opened #7030 "Expand style guide"
**This is a...**

- [x ] Feature Request
- [ ] Bug Report

**Problem:**
The current documentation style guide is missing some key information.

The current style guide has some guidelines that I would like to revisit.

**Proposed Solution:**

Add more guidance in these areas:

* Use of bold and italics
* Use of quotes
* Word choice
* Capitalization of Node

Revisit these areas:

* Address the read

[2018-01-19 16:55] heckj commented on #7030
:+1: sounds good to me

[2018-01-20 09:01] yelang01 opened #7032 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-intro/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2018-01-20 11:42] #7032 closed

[2018-01-20 13:26] nikhita commented on #4322
/remove-lifecycle stale

[2018-01-20 18:30] #2434 closed

[2018-01-20 20:44] Ratchanonsa opened #7036 "Issue with k8s.io/docs/reference/api-overview/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2018-01-21 05:24] #7036 closed

[2018-01-21 05:36] #2471 closed

[2018-01-21 07:51] #1600 closed

[2018-01-21 07:59] #2476 closed

[2018-01-21 08:04] tengqm commented on #844
/remove-lifecycle rotten

[2018-01-21 08:07] tengqm commented on #2979
/remove-lifecycle stale

[2018-01-21 08:09] tengqm commented on #5757
@vglisin ping for clarification.

[2018-01-21 08:16] tengqm commented on #6972
Close as dup of #6702

[2018-01-21 08:16] #6972 closed

[2018-01-21 08:24] tengqm commented on #5663
Looks like a version compatibility problem which is hard to diagnose and fix. Please feel free to reopen if the issue can be reproduced in 1.9 for example.

[2018-01-21 08:24] #5663 closed

[2018-01-21 08:41] tengqm commented on #1421
/remove-lifecycle stale

[2018-01-21 08:51] tengqm commented on #3831
/remove-lifecycle stale

[2018-01-21 08:54] tengqm commented on #3899
@mml, is the https://kubernetes.io/docs/reference/glossary/ page helpful for you?

[2018-01-21 09:06] tengqm commented on #3195
/remove-lifecycle stale

[2018-01-21 09:14] tengqm commented on #6806
@apachipa This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the #kubernetes-users channel in Kubernetes slack. You can also search resources like [Stack Overflow](https://stackoverflow.com) for answers to similar questions.
You can also open issues for Kubernetes functionality in https://github.com/kubernetes/k

[2018-01-21 09:14] #6806 closed

[2018-01-21 09:18] tengqm commented on #1190
@zacharysarah looks like we can close this?

[2018-01-21 09:20] tengqm commented on #6792
@luxas ping.

[2018-01-21 09:21] tengqm commented on #3656
/remove-lifecycle stale

[2018-01-21 09:50] spmurali opened #7040 "DNS unreachable from a newly launched AWS node"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Hi,
I launched a new 1.7 k8s cluster, which was working fine from past 4 months. Due to load, worker cluster scaled up and DNS resolution is not happening within the pods launched in the node of a particular region as DNS is not reachable.

In other regions, DNS is working fine. Gateway found within the pod is reachable. Wanted

[2018-01-21 10:55] stepin opened #7041 "Issue with k8s.io/docs/setup/independent/create-cluster-kubeadm/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
It's impossible to create cluster by kubeadm with disabled anonymous user: `kubeadm join` will fail.
Configuration file example:
[code]

**Proposed Solution:**
Add this to limitations.

**Page to Update:**
https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/

[2018-01-21 12:42] tengqm opened #7042 "Document admission-control flag changes."
The changes to admission control flags introduced in kubernetes/kubernetes#58123 needs to be documented.

[2018-01-21 17:04] heckj commented on #7040
This issue sounds more like a request for support and less
like an issue specifically for docs. I encourage you to bring
your question to the `#kubernetes-users` channel in
[Kubernetes slack](http://slack.k8s.io/). You can also search
resources like
[Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes)
for answers  to similar questions.

You can also open issues for Kubernetes fun

[2018-01-21 17:04] #7040 closed

[2018-01-21 19:48] #3195 closed

[2018-01-22 01:51] #3153 closed

[2018-01-22 01:52] tengqm commented on #2299
/remove-lifecycle rotten

[2018-01-22 01:58] tengqm commented on #3043
/remove-lifecycle rotten
/assign

[2018-01-22 02:07] #6965 closed

[2018-01-22 02:10] #6447 closed

[2018-01-22 02:29] ekuefler commented on #1408
Yes, that FAQ answers all of my questions. I think linking to it would be reasonable.

[2018-01-22 04:48] #3043 closed

[2018-01-22 05:49] tengqm commented on #1408
/remove-lifecycle rotten
/assign

[2018-01-22 08:29] ilyas11 opened #7046 "Issue with k8s.io/docs/getting-started-guides/ovirt/"
How i set NAT in Ovirt..

[2018-01-22 11:40] vrushalid opened #7047 "Issue with k8s.io/docs/tasks/administer-cluster/kubeadm-upgrade-1-9/"
Hi,
I am new to kubernetes world and trying to test kubeadm.

**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
Kubernetes upgrade fails when kubeadm upgrade is used.
When I run following command to upgrade :
**~ # kubeadm upgrade apply v1.9.2 --config /opt/bin/kubeadm-customconfig.yaml**
It throws following error:
_**[upgrade/apply] FATAL: couldn't upgrade control plane. kub

[2018-01-22 14:23] errordeveloper commented on #1733
/remove-lifecycle stale

[2018-01-22 17:15] php-coder commented on #6033
This issue is mostly solved expect one point:

[2018-01-22 18:10] joseph-oicr opened #7049 "I wish /docs/ could be downloaded with all the chapters into one pdf file"
I wish /docs/ could be downloaded with all the chapters into one pdf file

[2018-01-22 19:30] glenbot opened #7050 "Issue with k8s.io/docs/tutorials/kubernetes-basics/cluster-interactive/"
**This is a...**

- [ ] Feature Request
- [ X] Bug Report

**Problem:**

`kubectl get nodes` returns "The connection to the server host01:8080 was refused - did you specify the right host or port?"

**Proposed Solution:**

No solution.

**Page to Update:**
https://kubernetes.io/docs/tutorials/kubernetes-basics/cluster-interactive/

Debugging output:

[code]

[2018-01-22 19:32] zacharysarah commented on #6906
@spiffxp 👋 I think we'll be ready to merge this tomorrow afternoon PST, if that works for you!

[2018-01-22 19:37] chenopis commented on #6906
@spiffxp Any blocking issues left, or are we good to go?

[2018-01-22 21:29] bragi92 opened #7054 "Issue with k8s.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Pod deployment fails with Status -> ErrImagePull when trying to deploy dapi-envars-pod.yaml

**Proposed Solution:**
Correct the link given in the yaml file.

**Page to Update:**
https://v1-7.docs.kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/

Kubernetes version: 1.7.7

[2018-01-22 22:17] rgo opened #7055 "Issue with k8s.io/docs/tutorials/stateful-application/basic-stateful-set/ api version in yaml files"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
`web.yaml` and `webp.yaml` files give the next error when tries to create the _statefulSet_:

[code]

**Proposed Solution:**
It works if we change `apiVersion` value from `apps/v1` to `apps/v1beta2`.

If you confirm it's right I can send a PR.

**Page to Update:**
http://kubernetes.io/docs/tutorials/stateful-application/basic-s

[2018-01-22 22:43] rgo opened #7056 "Issue with k8s.io/docs/tutorials/stateful-application/basic-stateful-set/ patch commands fail in Rolling Update section"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Patch commands fail in section _Rolling update_ because the patched values are currently the same value.

Example:

[code]

If we verify `updateStrategy.type` in `web` StatefulSet we'll see they're the same value:

[code]

The second patch command fails because the current Pods' image is `k8s.gcr.io/nginx-slim:0.8` as we can se

[2018-01-22 23:17] rgo opened #7057 "Issue with k8s.io/docs/tutorials/stateful-application/basic-stateful-set/ possible mistake in partition value expected behaviour explanation"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
In the section _Staging an Update_ the `partition` value was 3 and `web-2` is not modified because:

I guess the sentence from the _Rolling Out a Canary_ section is somehow wrong:

I think it should be "**greater** than or equal to the `partition`." because in this case `partition` value is 2 and `web-2` ordinal is 2 (equal) bu

[2018-01-22 23:44] praseodym opened #7058 "Document vSphere cloud provider RBAC requirements"
**This is a...**
Bug Report

**Problem:**
SInce Kubernetes v1.9.0, the vSphere Cloud Provider requires a cluster role to work on clusters with RBAC enabled. This is not documented.

**Proposed Solution:**
Add configuration from https://github.com/kubernetes/kubernetes/issues/57279#issuecomment-359607201 to vSphere cloud provider documentation page.

**Page to Update:**
https://kubernetes.io/docs/g

[2018-01-23 00:34] zacharysarah commented on #1190
@tengqm Agreed.

[2018-01-23 00:34] #1190 closed

[2018-01-23 01:28] islinwb commented on #7055
The server version is v1.8.0 in which `StatefulSet` is still in beta. Guess the yaml files you used are for v1.9.x.

[2018-01-23 02:48] bgrant0607 commented on #3281
I am going to revamp this page, hopefully sometime soonish.

[2018-01-23 04:46] #7046 closed

[2018-01-23 08:17] fengyd2018 opened #7059 "kubectl logs cannot work"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
Kubernetes cluster:
one master: 192.168.56.104
one node: 192.168.56.105

If the container kubectl logs want to check is on the master, kubectl logs can work.
If the container kubectl logs want to check is on the node, kubectl logs cannot work.
Part of the printout with the command "kubectl logs kube-flannel-ds-9544j -n kube-sy

[2018-01-23 11:01] rgo commented on #7055
@islinwb You're right, it was the problem 👍

I'm close the issue and I'll verify the others that I opened yesterday (maybe it's the same problem).

Thanks

[2018-01-23 11:01] #7055 closed

[2018-01-23 11:09] rgo commented on #7056
Could it be because I'm using server version 1.8?

[2018-01-23 11:29] stewart-yu commented on #7054
It work well in my local, i think your network broken down

[2018-01-23 14:19] #3726 closed

[2018-01-23 14:22] tengqm commented on #3749
issue addressed in #3856

[2018-01-23 14:22] #3749 closed

[2018-01-23 14:29] paul-hammant commented on #3281
Yay!

[2018-01-23 14:33] tengqm commented on #3476
looks like the issue has been fixed just forgot to be closed.

[2018-01-23 14:33] #3476 closed

[2018-01-23 14:35] tengqm commented on #7059
This is more of a tech support issue than a documentation one, can you raise it in kubernetes/kubernetes project or ask it on slack channel?

BTW, it looks like your apiserver cannot authenticate to the 192.168.56.105 node. Check the apiserver command line arguments and see if it has the proper tls setting?

[2018-01-23 16:24] jar349 opened #7065 "Issue with k8s.io/docs/tasks/inject-data-application/distribute-credentials-secure/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
The beginning text instructs the reader to run `echo -n 'my-app' | base64` to get the base64 representation of the app name, but immediately after uses the output of `echo 'my-app' | base64` in the example file without explaining which is correct, or why we switched from using one to using the other.

**Proposed Solution:**
Cla

[2018-01-23 17:34] bragi92 commented on #7054
That might be the case. I realized, I'm not able to ping to websites from my master node but I was able to download the image by using a docker. Do you know if I can point the yaml installation file to pick up the image locally?

[2018-01-23 17:34] #7054 closed

[2018-01-23 23:54] chenopis commented on #6906
And we're live!

[2018-01-23 23:54] #6906 closed

[2018-01-24 02:19] islinwb commented on #7056
@rgo  I think it's not the version thing.
I launched a cluster using `local-up-cluster.sh` of Kubernetes v1.8.0 and used [the yaml](https://raw.githubusercontent.com/kubernetes/website/master/docs/tutorials/stateful-application/web.yaml) in [this page](https://v1-8.docs.kubernetes.io/docs/tutorials/stateful-application/basic-stateful-set/). The results are as follows (both the client and server ve

[2018-01-24 02:43] aburdenthehand commented on #7050
Hello @glenbot, I ran the tutorial just now and it works for me. I *was* able to replicate that error message by skipping the second command in step 1: "minikube start".

Can you please confirm whether minikube had started when you hit this issue? Cheers!

[2018-01-24 03:00] tengqm commented on #6017
The page https://kubernetes.io/docs/reference/kubectl/jsonpath/ has been improved with new samples added. If there are requests to add more, please reopen this.

[2018-01-24 03:00] #6017 closed

[2018-01-24 03:26] tengqm commented on #7065
Well, just verified... the output from the following two commands differ:
[code]

The trailing `Cg==` is the base64 encoded string for "`\n`".

[2018-01-24 03:54] jar349 commented on #7065
Yes, that's what echo's `-n` argument does: controls whether it adds a trailing `"\n"`

[2018-01-24 06:32] tengqm opened #7075 "Adapt docs to the GA'ed apiregistration API"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**
With kubernetes/kubernetes#58393 merged, the apiregistration API is now GA'ed. The docs needs some changes to reflect this.

**Proposed Solution:**
Find where `apiregistration.k8s.io/v1beta1` is mentioned in the docs and change them.
Such changes should be proposed to release-1.10 branch.

**Page to Update:**
Mainly API aggregat

[2018-01-24 09:14] nikhita commented on #4657
/remove-lifecycle stale
/lifecycle frozen

[2018-01-24 11:49] miketonks opened #7082 "Documentation: Out Of Resource Handling does not state default settings"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

There is missing documentation of the default settings for eviction thresholds and related settings.

e.g. MemoryPressure and DiskPressure

MemoryPressure setting is documented:

--eviction-hard=memory.available<100Mi

But disk pressure is not.

**Proposed Solution:**

Add a section to the document to show all default settings

[2018-01-24 17:26] abitrolly opened #7085 "Issue with k8s.io/docs/reference/generated/kubectl/kubectl/"
**This is a...**
- [x] Bug Report

**Problem:**
https://kubernetes.io/docs/reference/generated/kubectl/kubectl/ link to GitHub is not active.

**Proposed Solution:**
I don't know. Probably it is Hugo bug that doesn't automatically link URLs. Maybe removing dot in generator will help.

**Page to Update:**
https://kubernetes.io/docs/reference/generated/kubectl/kubectl/

[2018-01-24 22:18] zacharysarah commented on #6906
Hooray! 🎉

[2018-01-25 01:50] fengyd2018 commented on #7059
Thanks for your answer.
It's caused by the proxy issue.
kubectl log can work after adding the node ip  to the environment no_proxy.

[2018-01-25 01:50] #7059 closed

[2018-01-25 03:38] tengqm commented on #7085
The page mentioned is auto-generated. See https://github.com/kubernetes/kubernetes/pull/56512 .
Even the patched version still cannot provide an effective link because the text will be used to render both command line output and the input for downstream markdown file generation at https://github.com/kubernetes-incubator/reference-docs.
Please consider close this issue because there doesn't seem a

[2018-01-25 03:45] tengqm commented on #6031
@biswabandhu21 Is this issue still there?

[2018-01-25 10:41] abitrolly commented on #7085
@tengqm https://github.com/gettalong/kramdown/issues/490

[2018-01-25 16:55] CharlesHolbrow opened #7090 "Issue with k8s.io/docs/concepts/workloads/pods/pod-lifecycle/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

In the pod lifecycle documentation, the behavior of the pod's `phase` is unclear in the following situation:

1. A pod includes a single container. The pod has `RestartPolicy=OnFailure`
1. The pod's container exits with a non-zero status
1. The container will be restarted due to the RestartPolicy

Will the pod Phase be `Failed

[2018-01-25 17:38] den-is opened #7091 "responsive layout for reference pages"
Maybe there is way to make UI/X of auto-generated reference pages for components little bit more useful, comfortable ?

I'm using 1080p, 2k and Retina Displays - reading information on this pages is really frustrating. These scrollbars...

I've tried to search duplicate, because I don't want to believe that this issue disturbs only me - but no luck.

[2018-01-25 20:24] bgrant0607 opened #7092 "Better document pod/container states and debugging tips"
Original request: https://github.com/kubernetes/kubernetes/issues/17460

Some third-party content:
https://www.krenger.ch/blog/crashloopbackoff-and-how-to-fix-it/
https://kccncna17.sched.com/event/CU6R/crashloopbackoff-pending-failedmount-and-friends-debugging-common-kubernetes-cluster-and-application-issues-b-joe-thompson-oteemo

[2018-01-25 22:12] #1694 closed

[2018-01-25 22:20] #7065 closed

[2018-01-25 23:03] zacharysarah commented on #6503
@Bradamant3 👋 Still interested in updating the minikube tutorial?

/assign @Bradamant3

[2018-01-25 23:07] zacharysarah commented on #6512
@JensRantil :wave: Check out [kubeadm](https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/) for help getting started. If `kubeadm` doesn't adequately address EKS, please feel free to re-open this issue, as well as submit a PR against it.

[2018-01-25 23:07] #6512 closed

[2018-01-25 23:12] zacharysarah commented on #6525
@jbpivotal 👋 Thanks for the proposal and the supporting documentation. I agree that it's a priority change.

/cc @sarahnovotny, @parispittman

[2018-01-25 23:21] zacharysarah commented on #6566
@gjmzj :wave: This issue sounds more like a request for support and less like an issue specifically for docs. You can bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

[2018-01-25 23:21] #6566 closed

[2018-01-25 23:24] zacharysarah commented on #6571
@aknrdureegaesr Close. ;-)

[2018-01-25 23:24] #6571 closed

[2018-01-25 23:24] #6587 closed

[2018-01-25 23:25] #6615 closed

[2018-01-25 23:25] zacharysarah commented on #6655
@Routhinator :wave: This issue sounds more like a request for support and less like an issue specifically for docs. You can bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

If after seeking support you discover an issue with documenta

[2018-01-25 23:25] #6655 closed

[2018-01-25 23:26] zacharysarah commented on #6672
@liuyingyyll :wave: This issue sounds more like a request for support and less like an issue specifically for docs. You can bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

If after seeking support you discover an issue with documenta

[2018-01-25 23:26] #6672 closed

[2018-01-25 23:26] zacharysarah commented on #6673
@kumarganesh2814 :wave: This issue sounds more like a request for support and less like an issue specifically for docs. You can bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

If after seeking support you discover an issue with docum

[2018-01-25 23:26] #6673 closed

[2018-01-25 23:29] zacharysarah commented on #6696
@seivan 👋  The 1.9 references are available now.

[2018-01-25 23:29] #6696 closed

[2018-01-25 23:30] zacharysarah commented on #6702
@kuanghaochina @devlounge :wave: This issue sounds more like a request for support and less like an issue specifically for docs. You can bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

If after seeking support you discover an issue w

[2018-01-25 23:30] #6702 closed

[2018-01-25 23:31] zacharysarah commented on #6707
@nikhita 👋 Please feel free to open a PR!

[2018-01-25 23:36] parispittman commented on #6525
I will take this to the next Contribex meeting on Jan 31st at 530pm UTC. We will need to get this in front of the k-dev crowd as well.

Agree with Zach, thanks for bringing this up @jbpivotal!

[2018-01-25 23:36] zacharysarah commented on #6743
@xuhuigithub :wave: This issue sounds more like a request for support and less like an issue specifically for docs. You can bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

[2018-01-25 23:36] #6743 closed

[2018-01-26 00:02] ConnorDoyle commented on #6525
Another historical point of reference: https://docs.google.com/document/d/1P8_4wdk29I6NoVTjbFkRl05-tfxV9PY4WLoRNvExupM/edit#heading=h.9g7fqjh6652v

Mesos originally had "masters and slaves" and transitioned to "masters and agents". So, "masters" was retained but the most offensive term (according to most who chimed in at the time) was removed.

[2018-01-26 00:48] #2397 closed

[2018-01-26 01:23] jbpivotal commented on #6525
Glad to, @zacharysarah and @parispittman. Thanks for the support.

[2018-01-26 01:44] tengqm commented on #6566
This doesn't sound like an issue of network policy. You may want to start debugging the service routing across nodes first.

[2018-01-26 02:11] #1408 closed

[2018-01-26 03:32] cwangsh opened #7095 "Issue with k8s.io/docs/tasks/manage-gpus/scheduling-gpus/"
About the support of GPU by k8s

**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
According to official doc, GPU cannot be shared by multiple containers. If two containers on a node need to access GPU, there must be two GPUs installed on the node. Is this right?

thank you.

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2018-01-26 11:05] idvoretskyi commented on #6525
"Control Plane" is widely used as an alternative naming for "Master" in Kubernetes, so we may consider this naming option.

[2018-01-26 14:49] philippart opened #7098 "Issue with k8s.io/docs/getting-started-guides/centos/centos_manual_config/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

**First issue**: the `virt7-docker-common-release `repository provides old versions of Kubernetes dating back to 2015.
- Kubernetes: 1.5.2
- Etcd: 3.2.9
- Flannel: 0.7.1
- Docker: 1.12.6

**Second issue**: the configuration of the API server (admission control) assumes the creation of certificates, which is not explained.

**T

[2018-01-26 15:15] quantum-fusion commented on #6615
What you can do is update your documentation to include this example configuration yaml file:
https://github.com/quantum-fusion/springboot_swagger_example-master-cassandra/blob/master/Kubernetes/setupRemotePod.yaml

[2018-01-26 15:16] quantum-fusion commented on #6615
Note: that google states that Pods are not configurable, and do not allow dynamic configurations of templates for Pods.

[2018-01-26 15:19] stanzmark commented on #7047
Hello!

I've experienced the same problem a couple of times, with several different components, while trying to upgrade from v1.8.7 to v1.9.2. I finally came to conclusion that nothing but lack of resources causes this. I run four ubuntu/xenial64 Vagrant boxes, master 1GB RAM, and three nodes, 2GB RAM each. Maybe it's not enough.

So make sure your machine have enough resources (CPU+RAM) to run ma

[2018-01-26 16:09] rgo commented on #7056
@islinwb if you agree I'm going to open a PR changing the image source as it was in the version v1.8.0 of the documentation, ok?

Have you got any idea how to fix the other `not patched`?

Thanks

[2018-01-26 18:36] zacharysarah commented on #6752
@thockin 👋 PTAL

[2018-01-26 18:37] zacharysarah commented on #6763
@Hariprasadnaidu :wave: This issue sounds more like a request for support and less like an issue specifically for docs. You can bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

[2018-01-26 18:37] #6763 closed

[2018-01-26 18:39] #6782 closed

[2018-01-26 18:39] zacharysarah commented on #6788
@sivashankerN :wave: This issue sounds more like a request for support and less like an issue specifically for docs. You can bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

[2018-01-26 18:39] #6788 closed

[2018-01-26 18:40] #6789 closed

[2018-01-26 18:54] #6794 closed

[2018-01-26 18:57] zacharysarah commented on #6798
@tengqm :wave: Am I correct in thinking it's possible to have single-node clusters?

[2018-01-26 19:00] zacharysarah commented on #6803
/assign @Bradamant3

[2018-01-26 19:00] #6809 closed

[2018-01-26 19:03] zacharysarah commented on #6850
@alexqx4 :wave: This issue sounds more like a request for support and less like an issue specifically for docs. You can bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

[2018-01-26 19:03] #6850 closed

[2018-01-26 19:05] zacharysarah commented on #6865
@kumarganesh2814 :wave: This issue sounds more like a request for support and less like an issue specifically for docs. You can bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

[2018-01-26 19:05] #6865 closed

[2018-01-26 19:12] zacharysarah commented on #6887
@ThatAIXGuy :wave: This sounds less like a docs issue _per se_ and more like an issue with Kubernetes functionality. Please open an issue with this description in https://github.com/kubernetes/kubernetes. (If it helps, you can link back to this issue even though it's closed.)

[2018-01-26 19:12] #6887 closed

[2018-01-26 19:15] zacharysarah commented on #6910
@XieXianbin :wave: This issue sounds more like a request for support and less like an issue specifically for docs. You can bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

[2018-01-26 19:15] #6910 closed

[2018-01-26 19:16] zacharysarah commented on #6912
@petetnt The links have been fixed--thanks for reporting them. 🙇

[2018-01-26 19:16] #6912 closed

[2018-01-26 19:17] zacharysarah commented on #6921
/cc @heckj for visibility

[2018-01-26 19:17] zacharysarah commented on #6928
@songweistackup :wave: This issue sounds more like a request for support and less like an issue specifically for docs. You can bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

[2018-01-26 19:17] #6928 closed

[2018-01-26 19:28] zacharysarah commented on #6930
/assign @crassirostris

[2018-01-26 19:29] #6934 closed

[2018-01-26 19:30] zacharysarah commented on #6973
@brentpearson :wave: This issue sounds more like a request for support and less like an issue specifically for docs. You can bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

[2018-01-26 19:30] #6973 closed

[2018-01-26 19:40] petetnt commented on #6912
Thank you ❤️

[2018-01-26 20:20] zacharysarah commented on #7013
/assign @nikhita

[2018-01-26 20:20] zacharysarah commented on #6987
@sivarammedapati :wave: This issue sounds more like a request for support and less like an issue specifically for docs. You can bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

[2018-01-26 20:20] #6987 closed

[2018-01-26 20:26] zacharysarah commented on #7047
@vrushalid :wave: This issue sounds more like a request for support and less like an issue specifically for docs. You can bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

[2018-01-26 20:27] #7047 closed

[2018-01-26 20:27] zacharysarah commented on #7049
@joseph-oicr 👋 Thanks for the suggestion.

[2018-01-26 20:28] zacharysarah commented on #7050
@glenbot Please feel free to re-open this issue if the problem persists.

[2018-01-26 20:28] #7050 closed

[2018-01-26 20:30] zacharysarah commented on #7056
@rgo 👋 Thanks in advance for opening a PR! Please reference this issue in the OP so we can be sure to track its progress.

[2018-01-26 20:33] zacharysarah commented on #7057
@janetkuo 👋 Can you please verify the proposed change?

[2018-01-26 20:36] zacharysarah commented on #7085
Closing this issue because it's not currently actionable.

[2018-01-26 20:36] #7085 closed

[2018-01-26 20:38] zacharysarah commented on #7091
@den-is Thanks for the feedback.

[2018-01-26 20:39] zacharysarah commented on #7095
@cwangsh :wave: This issue sounds more like a request for support and less like an issue specifically for docs. You can bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

[2018-01-26 20:39] #7095 closed

[2018-01-26 20:43] lchao111 opened #7100 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-service-account/"
**This is a document error.**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Error from server: invalid character 'i' looking for beginning of object key string
from kubectl patch serviceaccount default -p '{"imagePullSecrets": [{"name": "myregistrykey"}]}'

**Proposed Solution:**
escape this JSON string by '\\'
kubectl patch serviceaccount default -p '{\\"imagePullSecrets\\": [{\\"name\\":

[2018-01-26 21:19] darkvn79 opened #7101 "Issue with k8s.io/editdocs/"
**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**
Just wrong click :( but can you help me finis my problems after i will learning with your tultorial , it's so long

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2018-01-26 21:23] abitrolly commented on #7085
@zacharysarah it is actionable. `kramdown` needs a patch to process URLs https://github.com/gettalong/kramdown/issues/306

[2018-01-26 22:01] janetkuo commented on #7057
@rgo thank you, the solution you proposed is correct. All Pods with an ordinal that is greater than or equal to `partition` (if specified) will be updated when the StatefulSet’s pod template is updated.

[2018-01-26 23:25] janetkuo opened #7103 "Document supported component skew"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
Forked from https://github.com/kubernetes/kubernetes/issues/33212

Kubernetes only allows 2 minor version skew between nodes and master, and 1 minor version skew between kubectl and master. However, this is not mentioned anywhere in user-facing documents. This caused user confusion and may cause unexpected issues to users' clus

[2018-01-27 01:00] stewart-yu opened #7105 "Refacor parts of kubeadm docs"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report
- [ x ] Others

**Problem:**
Recently , many issues about set up cluster using kubeadm, i think we should make docs more clear.

**Proposed Solution:**
The root reason are most people do not know how to use it, and  `cgroup-driver` diff between `kubelet config` and  `docker`, we should make it more clear.

**Page to Update:**
https://kuberne

[2018-01-27 02:08] islinwb commented on #7056
@rgo fix it, pls.
No idea. I tried to change the `updateStrategy` to `OnDelete` but it reported eror.

[2018-01-27 02:57] zacharysarah commented on #7056
@islinwb Anyone can submit a PR to the docs, no need for admin status.

[2018-01-27 02:58] zacharysarah commented on #7057
@rgo :wave:

Go for it!

[2018-01-27 05:23] tengqm commented on #7101
should close

[2018-01-27 05:24] tengqm commented on #7095
GPU sharing is not possible yet.

[2018-01-27 07:07] islinwb commented on #7056
@zacharysarah Sorry I didn't make it clear.

[2018-01-27 07:18] zacharysarah commented on #7056
@islinwb It's OK! I'm encouraging you to go for it! 😄

[2018-01-27 08:03] tengqm opened #7108 "Document binaryData for ConfigMap"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
With kubernetes/kubernetes#57938 merged, a ConfigMap can contain binary data now. This behavior/API change should be documented.

**Proposed Solution:**
Document and hold in release-1.10 branch.

**Page to Update:**
In addition to the tasks pages for configmap, we may need a concept page as well.

Kubernetes 1.10

[2018-01-27 11:13] tengqm commented on #6798
@zacharysarah in theory, a single-node cluster is possible.

[2018-01-27 14:50] anubhakushwaha commented on #7100
@lchao111 @zacharysarah I was willing to take this up

[2018-01-27 16:13] dims commented on #7108
/assign @dims

[2018-01-28 15:34] ngrishnin commented on #6794
Useless...

  On Fri, 26 Jan 2018 at 13:54, Zach Corleissen<notifications@github.com> wrote:
Closed #6794.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-01-28 21:54] danielmacho72 opened #7114 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
After running 'minikube ssh' I am getting a 'permission denied' when trying to create '/mnt/data' folder

**Proposed Solution:**
Create the data folder under '/home/docker/data' instead. Entry hostPath/path under task-pv-volume.yaml file should also be updated accordingly. I have verified it and it works if applying these chan

[2018-01-28 22:57] ahmetb opened #7115 "DNS debugging article should be extracted from DNS configuration doc"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**
https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/
This article contains two topics which I think should be separate:
- Customizing DNS service
- Debugging DNS

These two are not necessarily related.

**Proposed Solution:**

Move Debugging DNS into a separate article.

**Page to Update:** https://kuberne

[2018-01-29 01:10] hakenmt opened #7116 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-interactive/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
The command line reads for the last command in Module 2 reads:
curl http://localhost:8001/api/v1/proxy/namespaces/default/pods/$POD_NAME/

**Proposed Solution:**
Remove "proxy" from the url path,

curl http://localhost:8001/api/v1/namespaces/default/pods/$POD_NAME/

**Page to Update:**
http://kubernetes.io/...

[2018-01-29 01:49] tengqm commented on #7116
the url is correct. Is it causing any problems?

[2018-01-29 02:02] hakenmt commented on #7116
I was running through the bootcamp and got an error when curling to that URL. I didn't take a screenshot then, but I believe the error was related to a TCP problem with the proxy. I just tried again and couldn't reproduce. Without the proxy I could at least query the pod info directly.

[2018-01-29 02:02] #7116 closed

[2018-01-29 02:09] tengqm commented on #7116
the 'proxy' path on 8001 port the correct combination when you run kubectl proxy. If you want direct access to the APIs, you are supposed to use 8080 or 6443.

[2018-01-29 02:43] cwangsh commented on #7095
thank you Teng.

[2018-01-29 06:19] tvkoooo opened #7118 "Issue with k8s.io/docs/tutorials/kubernetes-basics/update-intro/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2018-01-29 06:20] #7118 closed

[2018-01-29 06:21] tvkoooo opened #7119 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-intro/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2018-01-29 06:22] tvkoooo opened #7120 "Issue with k8s.io/docs/tutorials/kubernetes-basics/explore-interactive/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2018-01-29 06:25] #7119 closed

[2018-01-29 06:26] #7120 closed

[2018-01-29 07:09] tengqm commented on #844
ref: kubernetes/kubernetes#10506

[2018-01-29 09:40] ymmt2005 opened #7122 "Issue with k8s.io/docs/reference/generated/federation/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Page to Update:**

https://kubernetes.io/docs/reference/generated/federation/

**Problem:**

The hyperlink in **model definitions** for "federation/v1beta1" redirects to

https://kubernetes.io/docs/reference/generated/federation/extensions/v1beta1/definitions/

but what it should display seems this page, shouldn't it?

https://kubernetes.

[2018-01-29 12:01] rgo commented on #7056
For this pending case:

[code]

Maybe we can add a note after the command:

_Note:_ If patching update strategy to `RollingUpdate` fails it could be because update strategy is already set to `RollingUpdate`.

What do you think(format and content)?

[2018-01-29 14:41] gnustavo opened #7126 "Issue with k8s.io/docs/concepts/configuration/secret/"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
The section "using secrets" mentions more than once that permission modes were written in decimal because JSON doesn't support octal. But the examples are in YAML, which supports octal notation.

**Proposed Solution:**
Use octal notation on the YAML examples.

**Page to Update:**
https://kubernetes.io/docs/concepts/configuration

[2018-01-29 17:20] jpza commented on #4310
Bumping this but I believe it's scheduled for 1.9?

[2018-01-29 22:33] jasonrooks commented on #4166
Are kubernetes issues ever resolved?

[2018-01-30 02:46] tengqm commented on #4166
Could be due to image pulling ...

[2018-01-30 03:57] zacharysarah commented on #7100
@anubhakushwaha Go for it! 👍

[2018-01-30 03:59] zacharysarah commented on #6798
@rcholic Thanks for opening this issue. I'm flagging it for the tutorial team's attention.

[2018-01-30 05:13] tengqm opened #7142 "Clarify and update PodStatus/PodCondition"
Copied from kubernetes/kubernetes#48127

/kind bug

What happened:

I wanted to find out how to parse PodStatus. Found two problems:

PodStatus docs do not state whether it contains at most one PodStatus of type Ready, or which one is authoritative in case there are more
1.6 PodCondition API docs say that the only type is Ready, while in a 1.6 I can see a couple more types:
    "status": {

[2018-01-30 06:20] PhoenixAD commented on #6891
@z-oo Did you solve this problem? I'm facing the same problem.

[2018-01-30 11:27] narunask commented on #4166
@qrpike sorry for late reply.

Yes, in my case a lack of bandwidth was a bottleneck (as far as I recall), but kubernetes could be more helpful if it would show a single line in the logs what it's doing behind the blankets rather than flooding console with errors.

[2018-01-30 13:55] #7122 closed

[2018-01-30 14:25] ymmt2005 commented on #7122
Thank you!

[2018-01-30 17:54] anubhakushwaha commented on #7100
@zacharysarah Done

[2018-01-30 18:06] #7100 closed

[2018-01-30 18:27] saad-ali opened #7148 "PersistentVolume docs should indicate "Recycling" is being deprecated"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The `persistentVolumeReclaimPolicy` called `Recycle` is being deprecated. See [announcement here](https://groups.google.com/forum/#!topic/kubernetes-dev/uexugCza84I). The documentation (https://kubernetes.io/docs/concepts/storage/persistent-volumes/#recycling) should mention this.

**Proposed Solution:**
Update documentation to

[2018-01-30 19:12] glikson opened #7149 "Issue with k8s.io/docs/concepts/configuration/pod-priority-preemption/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The example with cross-node preemption and anti-affinity doesn't seem correct - anti-affinity of Q (running on another node) and P does not prevent P from running on N.

**Proposed Solution:**
Perhaps node affinity would be a better example when preempting Q on another node would enable running P on N.

**Page to Update:**
k8s.

[2018-01-30 19:27] z-oo commented on #6891
@PhoenixAD Yes. As in the proposed solution, you want to add a flag `--cgroup-driver=systemd` to `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf`

@stewart-yu the real problem is not fixed. The troubleshooting document talks about the case when kubelet uses cgroup driver `systemd` while the docker uses cgroup driver `cgroupfs`. But when I follow the setup instruction on Ubuntu, the result t

[2018-01-30 23:24] jdmarshall commented on #6503
After a deeper read of this document, the information is available farther down on the page. I think the main improvement needs to be an aside of some sort pointing the user to the bottom of the doc.

[2018-01-31 03:02] abiogenesis-now commented on #7030
These guidelines make sense overall. Though I was guilty of breaking quite a few of them in the app developer user journey, I revised most violations before thet PR merged. (A few "air quotes" did slip through.)

That being said, I think that the rule around bolded text warrants more discussion. Doc writers should be able to use bold for visual effect, not just for GUI elements. When readers are s

[2018-01-31 05:21] vhosakot opened #7159 "Issue with k8s.io/docs/tutorials/stateless-application/hello-minikube/"
**This is a...**
- [x] Bug Report

**Problem:**
Missing documentation about starting Docker before doing `minikube start --vm-driver=xhyve` in https://kubernetes.io/docs/tutorials/stateless-application/hello-minikube/.

If `minikube start --vm-driver=xhyve` is done without starting Docker on Mac laptop, we'll see the following error:
[code]

If Docker is started, the above error is not seen and mi

[2018-01-31 06:49] GrahamCP opened #7160 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-interactive/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Interactive tutorial, module 2, step 3.  Click on command "kubectl proxy" opens a second interactive terminal (no apparent shell commands).  Then curl commands fail with error below:
curl: (7) Failed to connect to localhost port 8001: Connection refused

Second click on command "kubectl proxy" leads to the second terminal showi

[2018-01-31 07:13] vhosakot opened #7161 "Issue with k8s.io/docs/user-guide/walkthrough/k8s201/"
**This is a...**
- [x] Bug Report

**Problem:**
`apiVersion: apps/v1beta1` in `deployment.yaml` and `deployment-update.yaml` in the tutorial https://kubernetes.io/docs/user-guide/walkthrough/k8s201/#deployments does not work in kubernetes version `1.9` and fails with the following error:
[code]

**Proposed Solution:**
When kubernetes version `1.9` is used, `deployment.yaml` and `deployment-update.

[2018-01-31 07:29] #3470 closed

[2018-01-31 15:44] bradtopol commented on #7030
I think the proposed improvements and desire to revisit certain areas would be very helpful

[2018-01-31 16:21] oeduardoal opened #7167 "Issue with k8s.io/editdocs/"
asdsssssssssssssssssssssssss
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2018-01-31 16:21] oeduardoal opened #7168 "Issue with k8s.io/editdocs/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2018-01-31 16:21] #7168 closed

[2018-01-31 16:21] #7167 closed

[2018-01-31 16:48] ryanmcginnis commented on #3863
/remove-lifecycle rotten

This should be addressed.

[2018-01-31 17:39] idvoretskyi commented on #6525
cc @kubernetes/sig-architecture-bugs

[2018-01-31 17:48] bgrant0607 commented on #6525
I usually use "control plane".

Minion->node rename:
https://github.com/kubernetes/kubernetes/issues/1111

[2018-01-31 17:48] bgrant0607 commented on #6525
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/architecture/architecture.md#cluster-control-plane-aka-master

[2018-01-31 17:50] bgrant0607 commented on #6525
cc @kubernetes/steering-committee

[2018-01-31 17:55] jbeda commented on #6525
I like control plane a lot also.  But I think that this is going to be a long effort and I'd love to get more perspectives from around the project.  This came up in ContribX and the plan was to talk about it a bit in SIG-architecture.

[2018-01-31 20:14] #3282 closed

[2018-01-31 21:17] timothysc commented on #6525
I'm not opposed to this, but someone needs to drive all the touchpoints to make this change which may be non-trivial.  Distributed systems literature is clearly the source here and it goes back 30+ years, not justifying it, but taxonomy refs do matter.  If we change it, it should match other literature.

[2018-02-01 00:13] wu105 opened #7174 "Issue with k8s.io/docs/tasks/access-application-cluster/web-ui-dashboard/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
How do we change the  WebUI's idle timeout?
The default timeout is too short for us, thus we have to repeatedly login and re-navigate to the object we were working with.

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2018-02-01 02:29] tengqm commented on #4072
/remove-lifecycle rotten
This is still a problem to be addressed.

[2018-02-01 02:30] tengqm commented on #4072
/lifecycle frozen

[2018-02-01 02:51] tengqm commented on #3974
By "persistentStorage", you meant "persistent volumes"?
The document does contain a sample that shows how to dynamic provision persistent volumes to a StatefulSet. There are links to the persistent volume concept.
So I'm wondering if this is still an issue. Is it possible that the issue was filed before the dynamic provisioning doc was written?

Can we close this?

[2018-02-01 03:24] tengqm commented on #4512
/remove-lifecycle rotten
/lifecycle frozen

[2018-02-01 03:26] tengqm commented on #4498
@steveperry-53 Personally I view this page valuable.

[2018-02-01 03:35] tengqm commented on #4510
My feeling is that the two pages should be remixed. We will still need a concept page because most of the garbage collection behavior are not controllable by a user but they need some high-level knowledge about the concept and how GC operations can be indirectly affected. We will need a task page dedicated to operators, for deeper involvement into the GC behavior tuning.

/remove-lifecycle rotten

[2018-02-01 03:39] tengqm commented on #4504
/remove-lifecycle rotten
/lifecycle frozen

Do we want to completely kill the vendor specific contents or set up a quarantine saying that "these contents are vendor specific, they are here only for reference, they are supposed to be maintained by the vendor, for more precise information go vendor/k8s page" ?

[2018-02-01 05:25] tengqm commented on #4502
/remove-lifecycle rotten

[2018-02-01 05:28] tengqm commented on #4500
/remove-lifecycle rotten
/lifecycle frozen
/assign

[2018-02-01 06:09] ahmetb commented on #4072
Still a problem.

[2018-02-01 14:42] castrojo opened #7198 "update-imported-docs needs a linux binary"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The doc generator for the community section only has a binary for OSX, a linux one would be great.

**Page to Update:**
https://github.com/kubernetes/website/tree/master/update-imported-docs

[2018-02-01 14:43] nkuba opened #7199 "Creating a Custom Cluster from Scratch - ambiguous list of components to be run on Node/Worker/Master"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
It's ambiguous if components which are needed to be run on _Node_ (kubelet, Docker) should be placed on all machines in the cluster (including _Master Node_ and _Worker Node_ ) or just on _Worker Node_.

**Proposed Solution:**

Provide unambiguous descriptions of components assignment across machines with specific roles.

**Pag

[2018-02-01 14:43] castrojo commented on #7198
/cc @chris-short mentioned he would like to work on this.

[2018-02-01 15:29] nkuba opened #7204 "Inconsistent naming of Master and Worker/Node in documentation"
**This is a...**

- [X] Feature Request
- [ ] Bug Report

**Problem:**
Accross documentation there are inconsistences in naming the cluster components. There are severals names used:
- _Node_ as a machine in a Cluster -- which can be a _Master Node_ or _Worker Node_
- _Node_ or a _Worker Node_
- _Master_ or a _Master Node_

This makes confusions in understanding the concepts. The term _Node_ is co

[2018-02-01 16:36] smarterclayton commented on #6525
I'm generally ok with "control plane", master is too imprecise anyway.

[2018-02-01 16:40] smarterclayton commented on #6525
To tie this back to a general problem we have had - we don't have a single component that controls everything else, we don't have a single set of machines.  Instead we have "run levels" (an emerging way of describing that various core components depend on other core components being set first), and we need to separate out the things that are monolithic into individual pieces.

[2018-02-01 17:00] jbeda commented on #6525
The thinking coming out of SIG-architecture:

1. As @smarterclayton mentions, master isn't a great term from a technical point of view. It isn't a concept that really exists in the core system.  Moving to more accurate/descriptive language here will help people communicate more effectively.
2. It is worthwhile to move away from the term "master" but this will be a long process. Our primary goal in

[2018-02-01 17:12] tpepper commented on #6525
The github links with "master" next to them can be greppable with some exclusion as they're preceded by "tree/", "blob/", "raw/", etc.  We should be able to define and share a solid regexp that trims out those git links for helper folks searching for areas to clean.

[2018-02-01 17:31] bgrant0607 commented on #6525
Examples of more specific/precise things we will need terms for:
* cluster control plane
* nucleus apiserver
* dedicated infrastructure nodes

[2018-02-01 18:54] jfoy commented on #6525
In our environment we refer to members of the control plane as Controllers and other nodes as Workers. "Controller" is an overloaded term here, so probably not ideal to adopt more widely, but Coordinators, Centers, or Orchestrators might work.

[2018-02-01 21:04] Bradamant3 commented on #7030
I see @abiogenesis-now's point about wanting emphasis. But it's all too common to wind up with too much bold on the page. And it loses its effectiveness in displaying names of GUI elements. Do we have any other options for emphasis?

[2018-02-01 21:09] abiogenesis-now commented on #7030
I'm not sure what styling would be best, but I'm also okay with creating a special CSS class---having to write `<span class="special-styling">Text</span>` creates enough of a barrier for entry that it won't be overused (?)

[2018-02-01 21:19] omkensey commented on #6525
I don't like "leader" only because (and this may be just my skew on it) to me that implies a node elected by a pool of nodes to do something, as in etcd.

"Control plane" seems a little unwieldy to me, as do the various polysyllabic terms like "coordinator".

I like "controller" best since that's a term people already recognize and is used for an analogous machine role in e.g. Active Directory.  Y

[2018-02-01 21:47] danderson commented on #6525
For reference, in the GKE world (hi! GKE SRE here), we use "masters" and "control plane" fairly interchangeably. For the individual components of the control plane, we just call them by their name (apiserver, controller manager, scheduler...), or collectively "control plane pods."

"Controller" would be nice as a shorter thing to say, but it's already heavily overloaded, and my personal experience

[2018-02-01 21:53] steveperry-53 commented on #7030
Thanks everybody. Keep those comments coming. I've been looking over the new user journeys content. I see fairly consistent use of things that go against our style guide. So I think it's important for us to discuss this and come to agreement.

Here's just one example. The phrase "we'll show ...", goes against two of our current guidelines: Use present tense, and don't use "we".

[2018-02-01 21:57] steveperry-53 commented on #7030
To answer the question about options for emphasis: The style guide has a section on [Callout Formatting](https://kubernetes.io/docs/home/contribute/style-guide/#callout-formatting).

[2018-02-01 22:06] steveperry-53 opened #7211 "Discuss/update UI for User Journeys"
**This is a...**

- [x ] Feature Request
- [ ] Bug Report

**Problem:**
I would like to discuss some feature of the user interface for the new User Journeys content.

1. Open docs/home.  By default, the USERS button is blue; that seems to indicate that it is "on". Just below, the CLUSTER OPERATOR button is blue, but it is not "on". Instead, APPLICATION DEVELOPER, the white button, is "on".

    No

[2018-02-01 22:13] jfoy commented on #6525
Oh, I like the idea of calling dedicated control-plane components Queens.

[2018-02-01 22:14] steveperry-53 commented on #7211
@abiogenesis-now @heckj

[2018-02-01 22:19] ViniciusDeAndrade opened #7212 "Issue with k8s.io/docs/reference/generated/kube-scheduler/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
I am trying to deploy replicas of the same microservice into differents nodes. I think it is not possible
using the default kubernetes primitives.

**Proposed Solution:**
I am developing a solution using a java client. I want to create a extension of the kube-scheduler that make possible the deploy of the replicas of a same mic

[2018-02-01 23:48] heckj commented on #7030
Where was the “we’ll show” phrase? I was expecting I was probably the one that violated that style guideline, as I have a tendency to use it informally to build a sense of companionship with the reader. I totally get WHY we don’t want to use it, so I tried to not use it - that said, I didn’t spot it in a quick look. We may not have caught it on the updates/edits.

[2018-02-02 00:06] steveperry-53 commented on #7030
Here's a "we'll get".
https://kubernetes.io/docs/user-journeys/users/cluster-operator/intermediate/

Seems like I've spotted other cases of "we'll". Not sure it's worth hunting them all down right now.

[2018-02-02 00:17] steveperry-53 commented on #7212
@ViniciusDeAndrade This issue needs to be opened in kubernetes/features, not kubernetes/website.

[2018-02-02 00:46] erriapo commented on #6525
May I suggest using "Supervisor components". IMHO **Supervisor** is a great stand-in for **Master**.

[2018-02-02 01:07] heckj commented on #7030
Heh - it was me, I suspected it might be. I’ll take a pass re-reading that whole set and make the relevant updates to match our style guide. Thank you

[2018-02-02 02:12] markyjackson-taulia commented on #6525
I applaud this so very much!!!

[2018-02-02 02:25] markyjackson-taulia commented on #6525
I vote cluster control plane

[2018-02-02 02:27] bgrant0607 commented on #6525
A couple quick comments (sorry):

1. Controller already has a use in the system. Reusing would be very confusing.
2. While I sympathize with the desire for conciseness, Supervisor is equally imprecise as master.

[2018-02-02 10:15] swade1987 commented on #6525
I think `Control Plane` makes sense to me.

[2018-02-02 11:35] ViniciusDeAndrade commented on #7212
Sorry. I will close this.

[2018-02-02 11:35] #7212 closed

[2018-02-02 14:03] roldancer commented on #6525
"Control Plane" is a widely adopted term ...

[2018-02-02 15:54] #7148 closed

[2018-02-02 16:10] #7161 closed

[2018-02-02 19:07] Bradamant3 opened #7218 "Add topic that explains the different users for user journeys"
**This is a...**
- [X] Feature Request
- [ ] Bug Report

**Problem:**
Some folks have suggested that it would be useful to have an explanation of the different user roles we're writing journeys for. One observer said she'd like to know what she was not getting if she picked a particular journey.

**Proposed Solution:**
Write a topic, or several topics, that explain the different user journeys. Lin

[2018-02-02 21:16] Frodox commented on #1066
Upd!

[2018-02-03 06:09] ShahNawazKhan commented on #6525
Control plane is a term used in Software Defined Networking with "Controller" name used for module/s that manage the data plane. In the NFV domain, "Orchestrator" is the name used for the kind of things the K8S master does. Considering that k8s already uses "controllers", adopting the terms of control plane and even orchestrator will align it with the terminologies used elsewhere.

[2018-02-03 11:03] mfilotto opened #7222 "Issue with k8s.io/docs/concepts/workloads/controllers/deployment/"
**This is a...**

- [ ] Feature Request
- [ X] Bug Report

**Problem:**
The page does not show up and displays a redirecting message
`Redirecting to /docs/concepts/workloads/controllers/deployment/`

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/concepts/workloads/controllers/deployment/

[2018-02-03 11:24] ibrasho commented on #7222
The link is missing a trailing slash: `https://kubernetes.io/docs/concepts/workloads/controllers/deployment` -> `https://kubernetes.io/docs/concepts/workloads/controllers/deployment/`.

[2018-02-03 14:14] mark-chilvers commented on #6525
"wheelhouse components"

[2018-02-03 19:14] dzolnierz commented on #6525
You should rename a "master" branch as well.

[2018-02-04 02:28] tengqm commented on #7222
/assign

[2018-02-04 14:49] sgentile opened #7228 "Issue with k8s.io/docs/tutorials/kubernetes-basics/expose-interactive/"
I'm running through this locally with minikube and curl host01:$NODE_PORT .  I'm getting host01 not found - can you advise how to determine what this host should be ?

[2018-02-04 14:52] sgentile commented on #7228
I resolved this issue - for those also wondering, I ran minikube dashboard, when to my nodes and used this Addresses:
InternalIP: 192.168.99.100 Hostname: minikube .   curl 192.168.99.100:$NODE_PORT

[2018-02-04 14:52] #7228 closed

[2018-02-04 22:09] #7222 closed

[2018-02-04 23:33] spzala opened #7231 "Example yaml files apiVersion usage clarification is not enough"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
Some of the example yaml (e.g. https://raw.githubusercontent.com/kubernetes/website/master/docs/tasks/run-application/mysql-deployment.yaml) has a clarification that use apiVersion apps/v1beta2 before Kubernetes release 1.9.0. However, the suggested version won't work on earlier versions like 1.7 or 1.6 where correct version is

[2018-02-05 01:35] #3502 closed

[2018-02-05 01:35] tengqm commented on #7231
Current solution is to have docs and sample yaml files maintained on a per-version basis. So in v1.9 doc, we are about to document apps/v1. To check docs for v1.8, you will switch to that version from website, there you will see apps/v1beta2 documented. There could still be defects though.

[2018-02-05 02:38] tengqm opened #7235 "Document changes to admission control flags"
**Problem:**
The `admission-controls` flag has been changed to `enable-admission-plugins`.
This behavior change has to be documented.

**Proposed Solution:**
Document it and hold it in release-1.10.

**Page to Update:**

Need a grep.

Ref: https://github.com/kubernetes/kubernetes/pull/58567

[2018-02-05 10:08] davidopp commented on #6525
IME people use "control plane" to refer to some components that are not generally considered part of the "master" e.g. kubelet and kube-proxy. So I don't think it's a good substitute for "master."

[2018-02-05 10:17] tizbac commented on #6525
Seriously as with other instances of that problem, for me it looks completely retarded and ridicolous
Whoever is offended by terms that have been used in IT for over 30 years, has to rethink it, master and slave are the correct term if one part of the software or hardware is completely controlled by another part of the software or hardware.

[2018-02-05 10:19] swade1987 commented on #6525
@tizbac can I advise you don't use words like "retarded" in a public forum.

[2018-02-05 11:01] Flukas88 commented on #6525
I'd use "ill advised" then

[2018-02-05 11:57] MonsieurCellophane commented on #6525
Really. This richly deserves a "not a technical requirement/NOTABUG/WONTFIX" I cant envision a single man/hour wasted on this useless drivel.

[2018-02-05 12:27] abhi-vaidya opened #7237 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-interactive/"
kubectl proxy command hungs at starting server on port 8001

**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2018-02-05 13:10] esolitos commented on #6525
No please, not again.
Please don't waste the time fo N+1 people into a non real issue.
I'd really really go an poll the majority of people working in CS/IT asking if _ANYONE_ has _EVER_ felt discriminated by the naming master/slave. My speculation is that the % of "offended" people would be less than 1%.

This term is _NOT_ related whatsoever from the "master race" concept or the "slave trade", as

[2018-02-05 13:34] taifu commented on #6525
I can't believe this. Really. I can't. This is ridiculous

[2018-02-05 13:42] teknoraver commented on #6525
Am I the only one finding this ridiculous?

[2018-02-05 14:04] brendandburns commented on #6525
Before this discussion goes too much further, I'd like to remind everyone that this (and all kubernetes community forums) are covered by the CNCF code of conduct:

https://github.com/<https://github.com/cncf/foundation/blob/master/code-of-conduct.md>cncf<https://github.com/cncf/foundation/blob/master/code-of-conduct.md>/foundation/blob/master/code-of-conduct.md<https://github.com/cncf/foundation/b

[2018-02-05 14:22] errordeveloper commented on #7237
I think can see that you get an impression that the command still runs in the foreground, but actually, if you were to ignore that and just click on the next step, you will see that it all works okay.

I'm tempted to close this, ping @BenHall.

[2018-02-05 14:24] BenHall commented on #7237
Indeed. Sadly `kubectl proxy` doesn't output any messages so it looks like nothing is happening, but it's actually by design.

We've tried to make this clear in the docs, but we'll have another look.

[2018-02-05 14:32] errordeveloper opened #7240 "Interactive tutorials are still on Kubernetes 1.5"
I have just looked into #7237, and noticed that the Katacoda environment is still running Kubernetes 1.5.2.

I am not sure what numbers of visitors we are seeing at `k8s.io/docs/tutorials/kubernetes-basics/*`, but it's not very good news that folks get exposed to a version of Kubernetes that is more than 1 year old.

There are probably other places on the website where we have similar or worse kin

[2018-02-05 14:34] BenHall commented on #7240
I agree, thanks for the prompt. I had upgraded to Minikube 1.8 along with a few other improvements (metrics etc) but it had a few issues at launch so I decided not to push it out. It then slipped my mind.

Will take another look this week.

[2018-02-05 14:36] errordeveloper commented on #4526
Sounds like this could be closed?

[2018-02-05 14:37] errordeveloper commented on #4245
/close

[2018-02-05 14:37] #4245 closed

[2018-02-05 14:39] errordeveloper commented on #5136
@JasonMorgan have you managed to open a PR with any fixes to issues you've described here?

[2018-02-05 14:40] errordeveloper commented on #4227
/help

[2018-02-05 14:40] errordeveloper commented on #4227
/remove-lifecycle stale

[2018-02-05 14:43] errordeveloper commented on #4227
Also, I'm really not sure this belongs here but will keep open for the moment in hope that GCP folks would look into it.

[2018-02-05 14:43] BenHall commented on #5136
@errordeveloper If I recall, @heckj made a number of improvements to the scenarios about how `kubectl proxy` works as part of #1561 which was merged a while ago. Future changes/enhancements are always welcome at https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios :)

[2018-02-05 14:44] errordeveloper commented on #4247
/close

[2018-02-05 14:44] #4247 closed

[2018-02-05 14:47] errordeveloper commented on #7240
Also, there are seem to be quite a few issues that had been marked stale, and, most likely, are safe to close, I've had a quick look at a few, but don't have the dedication to do them all right now, full triage seems like a good idea when the environment is up-to-date.

[2018-02-05 14:47] errordeveloper commented on #7240
/assign BenHall

[2018-02-05 14:48] BenHall commented on #7240
@errordeveloper I try and keep on top of them and reply, but I don't have permissions to close issues after they've been resolved.

[2018-02-05 14:51] errordeveloper commented on #7240
@BenHall I think you should be able to use `/close` command, try it on an issue that was marked stale by the bot.

[2018-02-05 14:52] errordeveloper commented on #7240
@BenHall If that doesn't work, you might need to apply to become a member, which is fairly easy. As a member, I can use `/close`.

[2018-02-05 14:53] BenHall commented on #1529
We've made improvements to the wording to help with this.

/close

[2018-02-05 14:53] #1529 closed

[2018-02-05 14:54] BenHall commented on #7240
@errordeveloper Looks like I can close stale issues... but I don't think I can close non-stale issues. Will go over everything after upgrade.

[2018-02-05 14:56] taifu commented on #6525
Is it possible to express contrariety seeing so much time and word wasted for such a worthless problem? Master and server are two technical words and nobody, really, nobody with a grain of salt could seriously regard this as a real problem

[2018-02-05 15:14] bgrant0607 commented on #6525
This conversation is no longer constructive and respectful. I am closing this issue.

We have already started to move towards more specific terms for technical reasons. That terminology will be discussed further in SIG Architecture.

[2018-02-05 15:14] #6525 closed

[2018-02-05 15:16] zymsys commented on #4526
I'd say so.

[2018-02-05 15:18] errordeveloper commented on #4526
/close

[2018-02-05 15:18] #4526 closed

[2018-02-05 17:41] steveperry-53 commented on #6037
I removed resources-reference from the checklist at the beginning of this issue. The resources-reference page is not in the doc set at all. So we can discuss separately whether it should be in the doc set. And if we think it should be, then of course we'll put it under /docs/ref/generated.

[2018-02-05 17:41] #6037 closed

[2018-02-05 21:41] YDD9 opened #7244 "Issue with k8s.io/docs/setup/independent/high-availability/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
In section Create etcd CA certs, at the end of step2
[code]
Ensure that the **names** section in **ca-csr.json** matches your own company or personal address, or that you use a suitable default.

There's no names section in the example.

**Proposed Solution:**
Is the ca-csr.json correct ? Does it need names section, how should

[2018-02-05 23:20] zacharysarah commented on #7101
@darkvn79 :wave: This issue sounds more like a request for support and less like an issue specifically for docs. You can bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

[2018-02-05 23:20] #7101 closed

[2018-02-05 23:21] zacharysarah commented on #7103
@janetkuo 👋 Thanks, this is helpful!

[2018-02-05 23:24] zacharysarah commented on #7114
@danielmacho72 :wave: This issue sounds more like a request for support and less like an issue specifically for docs. You can bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

If after seeking support you discover an issue with documen

[2018-02-05 23:24] #7114 closed

[2018-02-05 23:26] zacharysarah commented on #7115
@ahmetb 👋 Agreed, Debugging would be better as its own article.

[2018-02-05 23:27] zacharysarah commented on #7126
@gnustavo :wave: Thanks for the suggestion!

[2018-02-05 23:29] zacharysarah commented on #7126
@mikedanese 👋 Would you like to update the examples, or are you comfortable if others update them?

/assign @mikedanese

[2018-02-05 23:33] zacharysarah commented on #7174
@wu105 :wave: This issue sounds more like a request for support and less like an issue specifically for docs. You can bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

[2018-02-05 23:33] #7174 closed

[2018-02-05 23:33] zacharysarah commented on #7198
/assign @chris-short

[2018-02-05 23:35] zacharysarah commented on #7198
@castrojo :wave: Looks like @chris-short is outside of the K8s org. ☝️

[2018-02-05 23:37] zacharysarah commented on #7198
/assign @chenopis

[2018-02-05 23:44] zacharysarah commented on #7240
@BenHall The ability to close tutorial-related issues is a good question. @heckj, I'd love your thoughts.

[2018-02-05 23:49] zacharysarah commented on #7244
@YDD9 Thanks, updating the YAML sample is a good suggestion. 👍

@errordeveloper 👋 Would you please provide an example of `names`?

[2018-02-06 02:13] aburdenthehand commented on #6976
Thanks for raising this @vishveshv.

It looks like there was a problem with the registry secret type and datakey in kubectl 1.9.0 (see https://github.com/kubernetes/kubernetes/issues/57427#issuecomment-353765345 for more info and for workaround for 1.9.0), and fixed in 1.9.1. From what I can tell, the 'auths' element in the docs json representation is correct, however there are some other changes

[2018-02-06 05:49] gudipatilakshmi opened #7252 "Issue with k8s.io/docs/concepts/workloads/controllers/replicationcontroller/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2018-02-06 10:30] errordeveloper commented on #7244
I'd rather get rid of manual steps here, otherwise I'm not sure what the answer should be.

[2018-02-06 10:31] errordeveloper commented on #5136
So I guess we can close this, and if OP opposes they can re-open... wdyt?

[2018-02-06 10:31] duckie opened #7255 "Ambiguous information on k8s.io/docs/setup/independent/install-kubeadm/"
This is an Ambiguous information

**Problem:**

The table of the open ports for the master nodes specifies `6443*`. What does the `*` means here ? I expected a foot note which is not there, and other information elsewhere suggests the port should be 443. Can you clarify ?

**Proposed Solution:**

Explain what it means.

**Page to Update:**

http://k8s.io/docs/setup/independent/install-kubeadm/

[2018-02-06 10:32] errordeveloper commented on #7237
Maybe make the command `kubectl proxy &`, so it's clearer?

On Mon, 5 Feb 2018 at 14:24 Ben Hall <notifications@github.com> wrote:

[2018-02-06 11:01] islinwb commented on #7255
There is an explanation below the tables.

[2018-02-06 11:18] duckie commented on #7255
Ok, right, maybe that'd be cool to add it right before the `**` footnote. I'll propose it in a PR. Thank you for your help !

[2018-02-06 11:18] #7255 closed

[2018-02-06 13:38] mattkelly commented on #7244
Here's an example `ca-csr.json` with a valid `names` section FWIW:

[code]

See the cfssl example [here](https://github.com/cloudflare/cfssl/wiki/Creating-a-new-CSR).

My preference would be to include an example `names` section like above, and if the user wants to touch it up for their org then it will be obvious how to to so. If they choose not to touch it up, it will still work. I agree that me

[2018-02-06 16:46] gnustavo commented on #7126
Hi. I'm comfortable with others changing them. Please, be my guest!

Em 5 de fev de 2018 21:29, "Zach Corleissen" <notifications@github.com>
escreveu:

[2018-02-06 21:23] pjgoodall opened #7265 "Issue with k8s.io/docs/getting-started-guides/ubuntu/local/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The tutorial does not match the current ubuntu 16:04 conjure-up snap - which makes it hard to use for a beginner.

**Proposed Solution:**
Please can someone knowlegable update this very useful tutorial.

**Page to Update:**
http://kubernetes.io/...

**Additional Information:**
my platform - Ubuntu 16.04 LTS

[2018-02-06 21:23] chris-short commented on #7198
Is that normal?

[2018-02-07 01:08] steveperry-53 commented on #6222
I've started work on this. I should have an updated topic ready by Friday, 2/9/18.

[2018-02-07 02:34] scriptonist commented on #6859
In the page https://kubernetes.io/docs/getting-started-guides/coreos/ all _official_ CoreOS guides now point to tectonic setups. Three of the _community guides_ are now archived by their repository owners.

[2018-02-07 12:06] davidmukiibi opened #7272 "Issue with k8s.io/editdocs/"
**This is an issue to do with the instructions for the online terminal tutorial**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
There is a grammatical error in module 5, step 2(Load balancing) of the online terminal tutorial.  pasted below...

"Create an environment variable called NODE_PORT that has as value the Node port:"

**Proposed Solution:**
This is what I suggest it should be chang

[2018-02-07 15:10] mcqj opened #7275 "Issue with k8s.io/docs/getting-started-guides/kops/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
The instructions for installing on MacOS begin with a **wget** command. wget is not available on MacOS by default. It should also be noted that the download link redirects.

**Proposed Solution:**
Use **curl** command instead. For example:
[code]
The -L option is important for following the redirect.

**Page to Update:**
https

[2018-02-07 15:52] benbotwin opened #7277 "Issue with k8s.io/docs/tutorials/online-training/overview/"
**This is a...**

- [ ] Feature Request
- [ X] Bug Report

**Problem:**
Both links on this page to go the udacity course

**Proposed Solution:**
make the edx link go to edx

**Page to Update:**
https://kubernetes.io/docs/tutorials/online-training/overview/

[2018-02-07 18:50] errordeveloper opened #7278 "conformance status umbrella issue"
As discussed on [the mailing list](https://groups.google.com/d/msg/kubernetes-sig-docs/GFnX8DRw7iY/8y3feBK5AAAJ), we are going enforce conformance rules on getting started guides and remove any guides that result in non-conformant cluster configuration by end of March (i.e. after 1.10 release).

This issue is an umbrella to track progress.

[2018-02-07 18:51] errordeveloper commented on #7278
Steps:

- [x] remove guides marked as deprecated (#7242)
- [ ] identify stale guides
- [ ] identify guides that are maintained but conformance status is unclear

[2018-02-07 18:54] errordeveloper opened #7279 "conformance status for /docs/getting-started-guides/rkt"
Per #7278, we are looking to identify guides that are stale vs actively maintained but need work to become conformant.

The content of `/docs/getting-started-guides/rkt` has been identified as stale, because it refers to Kubernetes version `v1.3.0-beta.2` which is very old.

PING owners/approvers/contributors @dchen1107 @yifan-gu @lavalamp @lizrice @steveperry-53

[2018-02-07 18:56] errordeveloper commented on #1659
Now tracked in https://github.com/kubernetes/website/issues/7278.

[2018-02-07 20:58] cwingrav opened #7281 "Issue with k8s.io/docs/tasks/debug-application-cluster/debug-service/"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**
TLDR: New Case to Handle in Documentation: localhost connection worked; svc and endpoint didn't; problem was localhost/0.0.0.0 differences in ExpressJS

I was debugging a service which was not connecting to my pod. I was running a listening nodejs app in one bash shell in my service and trying to connect in another terminal on t

[2018-02-07 21:13] mattayes opened #7282 "Improve navigation in Kubernetes docs"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
The [Kubernetes documentation](https://kubernetes.io/docs/home/) is awesome. Right now it's a bit cumbersome to read through the docs; every time you hit the end of the page, you have to scroll back to the top and click the next section you'd like to read. This is a bit of a pain, especially if you're trying to read the docs fr

[2018-02-07 21:15] mattayes opened #7283 "ISSUE_TEMPLATE: Update "Page to Update" protocol from HTTP to HTTPS"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
Currently the ISSUE_TEMPLATE uses a default "Page to Update" URL of `http://kubernetes.io/...`.

**Proposed Solution:**
Replace the protocol with `https` instead.

I'm submitting a PR for this now.

[2018-02-07 22:13] mattayes commented on #7283
Closed via #7284

[2018-02-07 22:13] #7283 closed

[2018-02-08 00:37] rgo opened #7287 "Issue with k8s.io/docs/tutorials/stateful-application/zookeeper/ - Probe for testing for Liveness and Readiness"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
Testing probes in "Testing for Liveness" and "Testing for Readiness" sections are using the bash script `zkOk.sh` but it doesn't exist anymore.

Manifest file _zookeeper.yaml_, in sections `livenessProbe` and `readinessProbe`  calls the script: `zookeeper-ready 2181`

**Proposed Solution:**
In section: "Testing for Liveness"

[2018-02-08 01:04] fejta opened #7289 "Only put people who can /approve into `approvers:` lists"
https://github.com/kubernetes/test-infra/issues/6589#issuecomment-363931180 suggests that this repo wants to ensure that docs people approve every PR.

However looking at the OWNERS files in this repo shows that devs (and only devs) are granted approval rights:
https://github.com/kubernetes/website/search?utf8=%E2%9C%93&q=filename%3AOWNERS&type=

A couple concrete examples:
https://github.com/kube

[2018-02-08 01:55] heckj commented on #7289
Thank you @fejta  - although I read the markdown on how OWNERS files work, I didn't link the behavior we were seeing to the leaf nodes in the OWNERS files that are scattered about website until you called it out and described it above. That those individuals defined in those files had approver "effects" when they used /lgtm now makes a lot more sense to me.

Regardless of what we do (or don't do)

[2018-02-08 01:56] heckj commented on #7289
/cc @kubernetes/sig-docs-maintainers

[2018-02-08 01:58] tengqm commented on #6089
/remove-lifecycle stale

[2018-02-08 02:08] xiangpengzhao commented on #7289
Another related issue is that the bot shows wrong OWNERS files path in its comment:

https://github.com/kubernetes/website/pull/7224#issuecomment-362875101

Please notice the below lines. The OWNERS files path are incorrect.

[code]

[2018-02-08 02:09] barogo-jwyoon opened #7292 "Issue with k8s.io/docs/tasks/run-application/run-stateless-application-deployment/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

[code]

but

[code]

Why `apply` not working?

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

Kubernetes Version: 1.9.2

[code]

[2018-02-08 02:22] fejta commented on #7289
That's weird... Could you file a test-infra bug about that and /assign it to me and @cjwagner?

[2018-02-08 02:22] fejta commented on #7289
That == bad owners file paths

[2018-02-08 02:27] fejta commented on #7289
And yeah changing devs to reviewers should make the existing plugins behave much closer to the behavior you are trying for (hopefully).

If not we can discuss what to do then...

[2018-02-08 02:44] barogo-jwyoon commented on #7292
Problem is client Version too low. `1.5.3`

I used `gcloud`.

Delete gcloud kubectl

[code]

after

[code]

[2018-02-08 04:20] aburdenthehand commented on #6976
#7248 has been merged.
I believe this issue can be closed.

[2018-02-08 05:41] xiangpengzhao commented on #7289
@fejta issue https://github.com/kubernetes/test-infra/issues/6710 created.

[2018-02-08 07:50] fejta commented on #7289
I'd recommend putting your doc team at /OWNERS as approvers so that they can approve all files in the repo and then add dev1 dev2 etc as reviewers at /foo/bar/OWNERS etc

That will ensure that when dev1 or dev2 does an /lgtm it will still require someone from the doc team to come in and /approve.

Note that if a doc person gives an /lgtm it will grant both approval and lgtm, but hopefully the doc

[2018-02-08 09:16] tengqm commented on #7042
Dup of #7235

[2018-02-08 09:16] #7042 closed

[2018-02-08 10:05] lizrice commented on #7279
That page totally confused me when I was trying to run rkt - so my change was basically to point at instructions for the new CRI version. I'm fully supportive of retiring that rktnetes page (or moving it out of the top-level getting started guides at least), though there should still be an easy-to-find reference about how to run with rkt the CRI way.

[2018-02-08 13:50] Demonsthere opened #7299 "Issue with k8s.io/docs/setup/independent/install-kubeadm/"
Hi there,
I noticied a small issue when installing kubernetes packages on a debian 9 machine:

[code]

It seems that the packages - *kubelet, kubeadm, kubernetes-cni*  are not present in the *kubernetes-stretch* repo. Only *kubectl* is.
I am however able to install from *kubernetes-xenial*, but I am sure you see what I wouldn't want to mix ubuntu repos on a debian.

My question: Are the packages f

[2018-02-08 14:37] errordeveloper opened #7301 "conformance status for /docs/getting-started-guides/fedora/flannel_multi_node_cluster.md"
Per #7278, we are looking to identify guides that are stale vs actively maintained but need work to become conformant.

From the content of [`/docs/getting-started-guides/fedora/flannel_multi_node_cluster.md`](https://kubernetes.io/docs/getting-started-guides/fedora/flannel_multi_node_cluster/) it is unclear what version of Kubernetes user will get and whether resulting cluster will be conformant

[2018-02-08 14:37] errordeveloper opened #7302 "conformance status for /docs/getting-started-guides/fedora/fedora_manual_config.md"
Per #7278, we are looking to identify guides that are stale vs actively maintained but need work to become conformant.

From the content of [`/docs/getting-started-guides/fedora/fedora_manual_config.md`](https://kubernetes.io/docs/getting-started-guides/fedora/fedora_manual_config/) it is unclear what version of Kubernetes user will get and whether resulting cluster will be conformant or not.

PIN

[2018-02-08 18:03] pmallory opened #7306 "Bad links in minukube getting started guide"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Location: https://kubernetes.io/docs/getting-started-guides/minikube/#configuring-kubernetes,  in the bulleted list of links.

Three of the links in the bulleted list of components point to anchor tags that don't exist on the target page.

* the kubelet link to https://godoc.org/k8s.io/kubernetes/pkg/apis/componentconfig#Kubele

[2018-02-08 18:03] pmallory commented on #7306
@chenopis :wave:

[2018-02-08 18:10] pmallory opened #7307 "Readers encouraged to install deprecated xhyve hypervisor"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The Install a Hypervisor section lists xhyve as as option for OS X users. I read that it's deprecated though, at https://kubernetes.io/docs/getting-started-guides/minikube/#installation

**Proposed Solution:**
Remove the link to the xhyve driver

**Page to Update:**
https://kubernetes.io/docs/tasks/tools/install-minikube/

[2018-02-08 18:10] pmallory commented on #7307
@chenopis :wave:

[2018-02-08 18:23] pmallory opened #7308 "Instructions for accessing Kubernetes Dashboard don't work"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
The suggested `minikube dashboard` command doesn't work. This is located at https://kubernetes.io/docs/getting-started-guides/minikube/#dashboard

**Proposed Solution:**
I found [this doc](https://kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard) which worked for me. We can copy the instructions to deploy an

[2018-02-08 18:23] pmallory commented on #7308
@chenopis :pineapple:

[2018-02-08 20:38] phenrique0206 opened #7312 "Issue with k8s.io/docs/tutorials/kubernetes-basics/cluster-intro/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2018-02-08 20:54] yifan-gu commented on #7279
@errordeveloper @lizrice Thanks for filing the issue, the docs is out-of-date, let's remove it.

[2018-02-09 00:05] mattayes opened #7314 "Issue with k8s.io/docs/concepts/architecture/master-node-communication/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The fourth paragraph of the "Cluster -> Master" section explains that master component-to-apiserver communication is currently insecure. It mentions that this will change in the future and references kubernetes/kubernetes#13598. However, this issue was closed by kubernetes/kubernetes#31491.

Does this mean this communication is

[2018-02-09 01:50] #7312 closed

[2018-02-09 05:09] #7289 closed

[2018-02-09 17:14] BenHall commented on #5073
Thanks for the feedback and highlighting this.

/close

[2018-02-09 17:14] #5073 closed

[2018-02-09 17:15] BenHall commented on #5333
This has been improved.

/close

[2018-02-09 17:15] #5333 closed

[2018-02-09 20:24] errordeveloper commented on #7279
Ok, SGTM! Thanks for quick response.

On Thu, 8 Feb 2018, 8:55 pm Yifan Gu, <notifications@github.com> wrote:

[2018-02-09 21:05] grodrigues3 commented on #3101
@chenopis updates here?  can we close this?

[2018-02-09 22:16] chenopis commented on #7289
@fejta Thanks for the recommendations. We're working on PRs for changes to the OWNERS files now and will check in after they have been merged.

I still believe we should separate `/lgtm` from `approvers` so the behavior doesn't vary between users, but we can leave that for a discussion at a later time.

[2018-02-09 23:26] chenopis commented on #4657
Given that we have no control over Netlify's development priorities or schedule, I think we should just close this Issue since it's not actionable.

[2018-02-09 23:26] #4657 closed

[2018-02-10 00:06] chenopis commented on #7198
@castrojo My apologies. I'll submit a PR.

[2018-02-10 00:26] chenopis commented on #3101
@grodrigues3 Yes, we've moved around some docs, cleaned up the broken links, and added server-side redirects, so I'm going to close this.

[2018-02-10 00:26] #3101 closed

[2018-02-10 08:05] tengqm commented on #2792
Let's try keep this issue from rotten. We have seen many service requests on this topic.
/remove-lifecycle rotten
/lifecycle frozen

[2018-02-10 13:47] vsnuvardan opened #7354 "Not able to view the Dashboard UI 503/timeout error with k8s.io/docs/tasks/access-application-cluster/web-ui-dashboard/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Not able to access the Web UI of the dashboard  getting 503 error @ http://127.0.0.1:8001/api/v1/namespaces/kube-system/services/https:kubernetes-dashboard:/proxy/

Logs  : :
kubectl logs kubernetes-dashboard-65c58cdbc7-vpwdm --namespace kube-system
2018/02/10 13:34:15 Starting overwatch
2018/02/10 13:34:15 Using in-cluster con

[2018-02-10 14:02] vsnuvardan commented on #7354
remaining all end points are working except dashboard end point

[2018-02-10 15:31] YDD9 opened #7355 "Issue with k8s.io/docs/setup/independent/high-availability/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

As instructed if kubernetes is 1.9+, `apiServerExtraArgs` needs to be updated as below in config.yaml. But `kubeadm init --config=config.yaml` won't parse config.yaml if the `apiServerExtraArgs` is added in config.yaml:
[code]

**Proposed Solution:**
endpoint-reconciler-type: lease
should be used.

**Page to Update:**
https://

[2018-02-10 21:14] heckj commented on #7240
@zacharysarah While I personally don't mind tracking issues for the Katacode based tutorials, it's a little awkward primarily because it's not entirely clear that the content is hosted externally to this repo, and making changes and updates is mostly a very independent process.

If we, or perhaps "as we" - can't quite see into this murky future - have other tutorial sites that are active and suppo

[2018-02-11 01:39] 54liuyu opened #7356 "Issue with k8s.io/docs/reference/generated/kubectl/kubectl/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2018-02-11 05:57] gudipatilakshmi opened #7357 "Issue with k8s.io/docs/tutorials/stateless-application/hello-minikube/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2018-02-11 16:23] juliole opened #7365 "Issue with k8s.io/docs/concepts/services-networking/network-policies/"
**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**
The example on the 1.7 documentation does not work. I get:
error validating data: found invalid field ipBlock for v1.NetworkPolicyPeer;

**Page to Update:**
https://v1-7.docs.kubernetes.io/docs/concepts/services-networking/network-policies/

[2018-02-11 18:14] BenHall commented on #7240
We've built a new environment that uses Minikube 1.9. How this will impact the overall performance is unknown. I've changed the first scenario where users deploy Minikube to 1.9. If that all looks OK then I'll update the other scenarios to match.

Enhancements:
1) This uses the Minikube 1.9 release without any modifications/changes. This means all the functionality supported by Minikube is now ava

[2018-02-11 23:37] afakhri opened #7369 "Issue with k8s.io/docs/user-guide/walkthrough/k8s201/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The yaml definitions files use the tag "apiVersion: apps/v1" but this not correct. Ther is an error when creating objects using thos definition files.

_Error is :_
Error from server (BadRequest): error when creating "deployment.yaml": Deployment in version "v2" cannot be handled as a Deployment: no kind "Deployment" is registe

[2018-02-12 00:31] BenHall commented on #7272
Thanks, we'll get this updated

[2018-02-12 01:57] tengqm commented on #6271
/remove-lifecycle stale
/lifecycle frozen

[2018-02-12 01:59] tengqm commented on #6267
This can be closed because related problems have been covered in issue #2792.

[2018-02-12 01:59] tengqm commented on #6267
/close

[2018-02-12 01:59] #6267 closed

[2018-02-12 02:03] tengqm commented on #7365
Doc team doesn't have a bandwidth or plan to actively maintain old docs.
/close

[2018-02-12 02:03] #7365 closed

[2018-02-12 02:19] islinwb commented on #7369
`apps/v1` works for Kubernetes v1.9 and later. `extensions/v1beta1` for v1.7 and v1.8.

[2018-02-12 03:15] tengqm commented on #7369
Looks like there was a typo from your end, @afakhri. The referenced page didn't mention "`apps/v2`" anywhere. Also please check @islinwb 's comment.
/close

[2018-02-12 03:15] #7369 closed

[2018-02-12 06:05] hamshif opened #7371 "Issue with k8s.io/docs/tasks/access-application-cluster/create-external-load-balancer/"
**This is a...**

- [x ] Feature Request
- [ ] Bug Report

**Problem:
I need to be able to dynamically provide outer cluster clients [java script on browser] with the service's external IP without having a domain name. This is to enable any number of deployments for development, QA, staging and feature specific.

It is mentioned but not elaborated in Downward API
https://kubernetes.io/docs/tasks/i

[2018-02-12 06:15] hamshif opened #7372 "Issue with k8s.io/docs/tasks/administer-cluster/access-cluster-services/"
**This is a...**

- [x ] Feature Request
- [ ] Bug Report

**Problem:
I need to be able to dynamically provide outer cluster clients [java script on browser] with the service's external IP without having a domain name. This is to enable any number of deployments for development, QA, staging and feature specific.

It is mentioned but not elaborated in Downward API
https://kubernetes.io/docs/tasks/i

[2018-02-12 06:45] vhosakot commented on #7159
Submitted PR https://github.com/kubernetes/website/pull/7373 to fix this in the documentation.

[2018-02-12 06:56] vhosakot commented on #2450
Submitted PR https://github.com/kubernetes/website/pull/7375 to fix this in the documentation.

[2018-02-12 07:58] george-peng-git commented on #6891
I had exactly the same problem. It is found by following the instructions on Ubuntu 16.04, kubelet 1.9.2 uses `cgroupfs` by default rather than `systemd`, causing inconsistencies between kubelet and docker. I had to recover the docker settings to use `cgroupfs` and to restart the kubelet service to resolve the problem.

[2018-02-12 08:47] errordeveloper commented on #7279
@yifan-gu please approve https://github.com/kubernetes/website/pull/7376.

[2018-02-12 10:33] errordeveloper commented on #7240
while we're tracking issues for that tutorial set embedded into
kubernetes.io it might make sense to allow him to close non-stale issues as
well, as I think he has the best sense of what will and won't get done
related to many of them.

I am in support of getting Ben the right level of access he needs.

On Sun, 11 Feb 2018, 6:14 pm Ben Hall, <notifications@github.com> wrote:

[2018-02-12 14:23] BenHall commented on #7240
Thanks, I'd love to have the ability to clean up issues.

What I think could be a great help is if the content at https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios is moved to within the https://github.com/kubernetes world. We can then configure it to automatically deploy updates on Katacoda so the workflow is more transparent.

Would this make sense?

[2018-02-12 16:33] #7279 closed

[2018-02-12 17:33] abiogenesis-now commented on #4783
/remove-lifecycle stale

[2018-02-12 17:33] abiogenesis-now commented on #4783
/remove-lifecycle rotten

[2018-02-12 19:01] #7198 closed

[2018-02-12 19:47] shubheksha opened #7381 "Unable to make the interactive tutorial terminal full screen in Firefox"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
When using Firefox, the full-screen button on the right-hand top corner doesn't work. On clicking, it actually shrinks the screen and makes it look like this:
<img width="1437" alt="image" src="https://user-images.githubusercontent.com/7693422/36116005-d24678d8-105a-11e8-8474-4b28f0341af3.png">

It works as expected on Chrome.

[2018-02-12 21:19] bgrant0607 commented on #3281
I simplified this bullet in #7349, so hopefully addressed.

[2018-02-12 21:19] #3281 closed

[2018-02-12 22:59] #7159 closed

[2018-02-12 23:52] #2908 closed

[2018-02-12 23:53] #4643 closed

[2018-02-13 00:02] zacharysarah commented on #7289
@fejta 👋 Thanks for the explanation and recommendations. This was really helpful!

[2018-02-13 02:48] #7354 closed

[2018-02-13 04:13] tengqm opened #7386 "Document the SupportPodPidsLimit feature"
- [x] Feature Request
- [ ] Bug Report

**Problem:**
The SupportPodPidsLimit feature gate needs documentation.
It is about the feature enabled by this flag rather than just about the gate flag.
See kubernetes/kubernetes#57973

**Proposed Solution:**
Propose PR to release-1.10 branch and hold for release.

**Page to Update:**

Kubernetes 1.10

[2018-02-13 04:37] tengqm opened #7388 "Document the system:kubelet-api-admin cluster role"
- [x] Feature Request
- [ ] Bug Report

**Problem:**
A new builtin cluster role has been added in v1.10 release. This needs a documentation.
Reference: kubernetes/kubernetes#57128

**Proposed Solution:**
Update the RBAC page to document this in the release-1.10 branch.

**Page to Update:**
https://kubernetes.io/docs/admin/authorization/rbac/

1.10

[2018-02-13 06:31] #2450 closed

[2018-02-13 06:52] aburdenthehand commented on #7235
G'day, I'm happy to work on it if no one else is (not yet able to assign myself to an issue).

This impacts the following 17 files:
admin/high-availability/kube-apiserver.yaml
admin/authorization/node.md
admin/admission-controllers.md
admin/extensible-admission-controllers.md
concepts/workloads/pods/podpreset.md
concepts/configuration/pod-priority-preemption.md
concepts/storage/persistent-volumes.

[2018-02-13 07:54] tengqm commented on #7235
@aburdenthehand Cool. Would love to see your contribution.
Responses to your questions:

- Yes, team is advocating "plugins" as the term to use, although the transition isn't complete yet. We still have a flag named `--admission-control-config-file`.
- Good question on order of plugins. There are now mutating plugins and non-mutating plugins. The order of non-mutating plugins is no longer an issue

[2018-02-13 12:11] errordeveloper commented on #7301
This guide is dependent on [`/docs/getting-started-guides/fedora/fedora_manual_config.md`](https://kubernetes.io/docs/getting-started-guides/fedora/fedora_manual_config/), so we should be discussing #7302 first.

[2018-02-13 12:11] mykter opened #7391 "Docs "back" navigation is broken on first visit to docs"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
* Visit kuberenetes.io
* Click on documentation
* Press back in the browser, expecting to go back to the previous page: kubernetes.io
* Instead end up at https://kubernetes.io/docs/home/?path=users&persona=app-developer
* press back again, to get to https://kubernetes.io/docs/home/?path=users
* Press back again, to get to https

[2018-02-13 12:27] errordeveloper commented on #7302
This guide pull `kubernetes` and `etcd` package from Fedora repository, and it looks like the user gets  1.9.1, which is a good sign.
[code]

However, [Docker version 1.13.1](https://github.com/moby/moby/releases/tag/v1.13.1) is a year old, but I don't suppose it's our problem.

[2018-02-13 12:54] errordeveloper commented on #7301
In this guide, user is asked to install `flannel` package, and the version of flannel user gets is a year old [0.7.0](https://github.com/coreos/flannel/releases/tag/v0.7.0), while the latest [0.10.0](https://github.com/coreos/flannel/releases/tag/v0.10.0) was released less than a month ago.

[2018-02-13 12:57] errordeveloper commented on #7302
If this guide migrated to `kubeadm`, it would be much smaller and compliance would be out of the question.

[2018-02-13 12:58] errordeveloper commented on #7301
If this guide migrated to `kubeadm`, it would be much smaller and compliance would be out of the question, also it could offer users an option to run any network addon as a DaemonSet.

[2018-02-13 13:17] dims commented on #7386
cc @dims

[2018-02-13 16:15] BenHall commented on #7381
Thanks for reporting this! It looks like the new version of Firefox has changed the behaviour. We're looking into a fix now.

[2018-02-13 16:43] errordeveloper commented on #7240
Yes!

[2018-02-13 16:44] BenHall commented on #7240
@errordeveloper Great! How do we create a repo? :)

[2018-02-13 16:46] errordeveloper commented on #7244
I don't see a need for this, it's optional. Maybe we could add `"O": "Kubernetes Project"`, but I am strongly against including any geographic references.

[2018-02-13 16:48] errordeveloper commented on #7240
@BenHall you would need to take this up SIG-docs, add it to their agenda doc and/or post on the mailing list. I am happy to sponsor, if needed.

[2018-02-13 16:48] mattkelly commented on #7244
I've since verified that it works without a `names` section at all, so maybe let's just remove the mention of a `names` section from the docs? Or (probably better) suggest adding it as an optional step?

[2018-02-13 16:49] BenHall commented on #7240
@errordeveloper Great, thanks. I will add it to the agenda for next Tuesday.

[2018-02-13 16:54] errordeveloper commented on #7244
Yes, let's do that.

[2018-02-13 17:59] nelsonfassis opened #7393 "Issue with k8s.io/docs/setup/independent/install-kubeadm/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Docker version is very outdated, as 1.12 is not even supported by docker anymore.

**Proposed Solution:**
Update recommended versions.

**Page to Update:**
k8s.io/docs/setup/independent/install-kubeadm/

1.8+

[2018-02-13 18:16] Capstan opened #7394 "Minikube installation no longer requires a hypervisor"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

You can use `--vm-driver=none` to use the bare host, but the docs say you need to install a hypervisor.

**Proposed Solution:**

A note akin to the one in https://github.com/kubernetes/minikube#requirements which suggests that for Linux, you can use Docker without a hypervisor. /cc @aaron-prindle who made that edit in https://

[2018-02-13 18:45] DirectXMan12 opened #7395 "Documentation on scaling Jobs is incorrect and/or misleading"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**

The page on Jobs says

This is incorrect -- see https://github.com/kubernetes/kubernetes/issues/38756#issuecomment-363782231 and https://github.com/kubernetes/kubernetes/tree/master/pkg/registry/batch/job, and should just be removed.

It also says

If the deprecation mentioned above goes through, we might want to note that it's

[2018-02-13 19:00] oomichi opened #7396 "Calico installation URL is already old"
**This is a...**

- [x ] Feature Request
- [ ] Bug Report

**Problem:**

As the issue of kubernetes/kubernetes[1], many people faced the problem we cannot deploy kubernetes environments with Calico by using kubeadm.
That is because the website[2] shows old URL of Calico.

[1]: https://github.com/kubernetes/kubernetes/issues/55471
[2]: https://kubernetes.io/docs/setup/independent/create-cluster-kub

[2018-02-13 19:53] zacharysarah commented on #7244
Closing in favor of #7392.

[2018-02-13 20:15] vineet-garg opened #7399 "document kms encryption provider"
**This is a...**

- [X ] Feature Request
- [ ] Bug Report

**Problem:**
A new encryption provider i.e KMS provider has been added in v1.10 release. This needs a documentation.
Reference: https://github.com/kubernetes/kubernetes/pull/55684

**Proposed Solution:**
Update the  page encrypt-data to document this in the release-1.10 branch

**Page to Update:**
https://kubernetes.io/docs/tasks/administe

[2018-02-13 20:26] vineet-garg commented on #7399
cc @kksriram @wu-qiang

[2018-02-13 20:37] #7244 closed

[2018-02-14 00:07] kksriram commented on #7399
cc @liggitt since we were discussing this on slack the other day.

@vineet-garg I am thinking two things need to happen.
* Update [this page](https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/#providers) (via this [md](https://github.com/kubernetes/website/blob/master/docs/tasks/administer-cluster/encrypt-data.md), I think) to
    * include KMS as a new Provider type.
    * show con

[2018-02-14 00:28] #6874 closed

[2018-02-14 02:07] aburdenthehand commented on #7235
@tengqm Thanks mate

* Ack - I'll write around it in this PR while the term is in transition. Will raise a separate issue to cover that (looks like it'll impact strings in 34 files, not all of which will be simple replacements)
* Slightly confused: #58123 was merged, so does that mean we can tell 1.10 users that order doesn't matter, regardless of mutating/non-mutating? Or am I missing something?

[2018-02-14 02:11] tengqm commented on #7235
@aburdenthehand Yes. The order doesn't matter to users now.

[2018-02-14 12:00] tengqm commented on #3186
Filed an issue in the reference-docs project for tracking. Closing this one here.
/close

[2018-02-14 12:00] #3186 closed

[2018-02-14 12:02] tengqm commented on #6976
/close

[2018-02-14 12:02] #6976 closed

[2018-02-14 12:06] tengqm commented on #4049
/remove-lifecycle rotten
Let's keep it fresh for another 30d, :).

[2018-02-14 14:32] kapalkat opened #7409 "Issue with k8s.io/docs/admin/bootstrap-tokens/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Creating provided secret from stringData fails.
Values should be provided with quotation like so: key: "value"

**Proposed Solution:**
Add quotation to values.

**Page to Update:**
https://kubernetes.io/docs/admin/bootstrap-tokens/

1.9.1

[2018-02-14 16:35] hogepodge opened #7411 "Experimental Keystone Auth has been Removed from Upstream"
**This is a...**

- [] Feature Request
- [X] Bug Report

**Problem:**
Experimental Keystone Authentication has been removed from upstream Kubernetes[1], in favor of webhook authentication, with external provider code managed in this repository[2] but scheduled to be managed by the OpenStack community in late February.

**Proposed Solution:**
* Update the documentation to used the maintained, avail

[2018-02-14 16:36] hogepodge commented on #7411
/sig openstack

[2018-02-14 16:49] dims commented on #7411
please see some notes from Jordan https://github.com/kubernetes/kubernetes/pull/59492#issuecomment-364166157 and the one before that

[2018-02-14 21:10] guptavj opened #7413 "Issue with k8s.io/docs/tutorials/kubernetes-basics/expose-intro/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
this module assumes that reader knows what a "selector" is and doesn't flow as well as previous modules

**Proposed Solution:**
have a module 3.5 to teach new concepts used in module 4

**Page to Update:**
https://kubernetes.io/...

[2018-02-14 22:49] #7396 closed

[2018-02-14 23:05] phsiao opened #7415 "Update port-forwarding to reflect selecting pod by resource name"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
https://github.com/kubernetes/kubernetes/pull/59705 and https://github.com/kubernetes/kubernetes/pull/59809 add support for using resource name to select a pod when doing a port-forwarding, and the documentation should be updated after it is release.

**Proposed Solution:**

**Page to Update:**

https://kubernetes.io/docs/tasks

[2018-02-15 08:23] dennis1987 opened #7417 "Issue with k8s.io/docs/getting-started-guides/fedora/fedora_manual_config/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
In the node configuration the line
`KUBELET_API_SERVER="--api-servers=http://fed-master:8080"`
is removed in kublet v1.6, see [here](https://github.com/coreos/coreos-kubernetes/issues/785)

**Proposed Solution:**
Add this line instead:
`KUBELET_ARGS="--cgroup-driver=systemd --kubeconfig=/etc/kubernetes/master-kubeconfig.yaml --

[2018-02-15 10:44] asitaram opened #7418 "Issue with k8s.io/docs/tutorials/kubernetes-basics/update-interactive/"
**This is a...**

- [ ] Feature Request
- [ X] Bug Report

**Problem:**
After module6 next module is not launching or at least there is no indication that the entire course is complete with module6
**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2018-02-15 13:01] cben opened #7420 "Issue with k8s.io/docs/concepts/policy/resource-quotas/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
"Enabling Resource Quota" sections says:

This is not true, at least since quota scopes have been introduced.

**Page to Update:**
https://kubernetes.io/docs/concepts/policy/resource-quotas/#enabling-resource-quota

[2018-02-15 18:26] mengesb opened #7421 "Issue with docs/tasks/federation/set-up-cluster-federation-kubefed/"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
Seems per #6972 and #6702 `kubefed` is no longer packaged with the `kubectl` client. As such, the  documentation incorrectly points users to download `kubefed` at this location and copy non-existing files from the extracted binary.

**Proposed Solution:**
Update documentation to refer to solution in #6702 to either build from so

[2018-02-15 18:46] spikecurtis commented on #6099
/remove-lifecycle stale

[2018-02-15 22:46] heckj opened #7423 "generated docs have UI elements that recommend PRs to this repo"
**This is a...**
- [X ] Feature Request
- [ ] Bug Report

**Problem:**
Markdown that's generated from external repositories looks just like all the rest of docs (good!) with a minor exception that this also includes the "Edit this in Github", which takes potential contributors to the generated markdown page, rather than to any relevant upstream location.

**Proposed Solution:**
Actually tracking a

[2018-02-15 22:47] heckj commented on #5758
/close

[2018-02-15 22:47] #5758 closed

[2018-02-16 08:44] alktlr opened #7424 "Issue with docs/tasks/tools/install-kubectl/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Kubectl v1.9.0 has a bug where creating authentication for private registries are broken.

https://github.com/kubernetes/kubernetes/issues/57427

**Proposed Solution:**
Please update the download version to v1.9.1 or higher.

**Page to Update:**
https://kubernetes.io/docs/tasks/tools/install-kubectl/

Kubernetes Version:
v1.9.0

[2018-02-16 18:18] justaugustus commented on #6102
/remove-lifecycle stale

[2018-02-16 20:44] justaugustus commented on #6859
@zacharysarah / @scriptonist -- I can look into this!
<-- CoreOS / Red Hat dude

[2018-02-16 21:19] zacharysarah commented on #6859
@justaugustus Sweet. 👍

[2018-02-16 23:00] BenHall commented on #7418
Thanks! You raise a great point. I'll look at how we can improve this to add a summary page and next steps.

[2018-02-16 23:24] BenHall commented on #7272
This has been updated. Thanks

/close

[2018-02-16 23:28] BenHall commented on #7160
Thanks for the feedback. We've moved this scenario to Minikube 1.9. Hopefully this will improve the kubectl proxy.

If you still have having problems, please update the issue.

[2018-02-16 23:32] BenHall commented on #6848
Thanks for letting us know. I've tested this across a number of different browsers and I haven't been able to reproduce the issue.

Which browser are you running?

[2018-02-16 23:33] BenHall commented on #6544
Thanks for the feedback. This has been fixed as part of #7240

[2018-02-16 23:36] BenHall commented on #6049
Thanks for the feedback on this. We've updated how the setup works to make the hostname clearer.

/close

[2018-02-16 23:36] #6049 closed

[2018-02-16 23:37] BenHall commented on #6031
/close

[2018-02-16 23:37] #6031 closed

[2018-02-16 23:38] BenHall commented on #5284
Thanks for the feedback.

I believe we've made a number of changes to improve this which will hopefully improve the situation.

/close

[2018-02-16 23:38] #5284 closed

[2018-02-16 23:40] BenHall commented on #6026
We've recently updated the environments which will hopefully have resolved this. If it's still a problem, please reopen the issue. If you could attach a screenshot as well it would help us identify a issue.

/close

[2018-02-16 23:40] #6026 closed

[2018-02-16 23:41] BenHall commented on #3664
Thanks for your feedback on this. We've updated this as you suggested.

/close

[2018-02-16 23:41] #3664 closed

[2018-02-16 23:43] BenHall commented on #2880
Thank you for the feedback. We've updated this to automatically deploy the previous state.

/close

[2018-02-16 23:43] #2880 closed

[2018-02-16 23:44] BenHall commented on #2046
Thank you for your feedback on this. As recommended we updated the layout to give the terminal more space.

/close

[2018-02-16 23:44] #2046 closed

[2018-02-16 23:45] BenHall commented on #1658
This is now live.

/close

[2018-02-16 23:45] #1658 closed

[2018-02-16 23:46] BenHall commented on #2690
Thanks for the feedback on this. We've made some UI layout changes to improve the tablet support. If you have any other suggestions then please let us know.

/close

[2018-02-16 23:46] #2690 closed

[2018-02-16 23:49] BenHall commented on #3284
Thank you for your feedback. We've updated the environment to remove the error and make this simpler.

/close

[2018-02-16 23:49] #3284 closed

[2018-02-17 00:44] heckj commented on #7272
/close

[2018-02-17 00:44] #7272 closed

[2018-02-17 00:55] steveperry-53 opened #7432 "Change approvers to reviewers in front matter"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
In several topics, in the front matter, we have an approvers list. But we want to restrict our approvers list to people in sig-docs-maintainers. And we the people who are automatically suggested as approvers to be restricted to those in sig-docs-maintainers.

Here's an example:
In #7439, we have this suggestion for an approver:

[2018-02-17 00:57] steveperry-53 commented on #7432
/assign @steveperry-53
/cc @heckj
/cc @chenopis
/cc @Bradamant3

[2018-02-17 06:35] abitrolly commented on #5284
@BenHall do you mean changes to tutorials? Is there any code to see how are they edited?

[2018-02-17 10:10] BenHall commented on #5284
@abitrolly The scenarios are currently at https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios

[2018-02-17 20:32] runlevl4 commented on #7307
I can do a PR if @steveperry-53 hasn't started. Also looking at https://github.com/kubernetes/minikube/issues/2257 to knock them both out.

[2018-02-17 23:32] #2159 closed

[2018-02-17 23:33] #2064 closed

[2018-02-17 23:33] #1410 closed

[2018-02-18 00:34] #1288 closed

[2018-02-18 00:34] #1336 closed

[2018-02-18 00:34] #1364 closed

[2018-02-18 00:34] #980 closed

[2018-02-18 00:34] #1373 closed

[2018-02-18 01:10] steveperry-53 commented on #7307
Any work on the Minikube docs should be coordinated with @Bradamant3.

[2018-02-18 01:34] #191 closed

[2018-02-18 01:34] #1428 closed

[2018-02-18 02:35] #1470 closed

[2018-02-18 02:36] #1210 closed

[2018-02-18 02:36] #1429 closed

[2018-02-18 03:37] #1696 closed

[2018-02-18 04:04] scriptonist commented on #7115
Is it ok to take up this issue and work on this?

[2018-02-18 04:27] tengqm commented on #7115
sure. @scriptonist

[2018-02-18 04:37] #2186 closed

[2018-02-18 04:38] #1790 closed

[2018-02-18 04:38] #2205 closed

[2018-02-18 05:38] #1919 closed

[2018-02-18 05:38] #2190 closed

[2018-02-18 05:39] #1879 closed

[2018-02-18 07:40] #1781 closed

[2018-02-18 07:41] #2025 closed

[2018-02-18 07:41] #2146 closed

[2018-02-18 07:41] #2160 closed

[2018-02-18 07:41] #1975 closed

[2018-02-18 07:41] #1987 closed

[2018-02-18 07:41] #1993 closed

[2018-02-18 07:41] #1618 closed

[2018-02-18 07:41] #1963 closed

[2018-02-18 08:42] #1686 closed

[2018-02-18 08:42] #2052 closed

[2018-02-18 08:42] #2216 closed

[2018-02-18 09:43] #1330 closed

[2018-02-18 11:45] #2241 closed

[2018-02-18 11:45] #2245 closed

[2018-02-18 11:45] #2231 closed

[2018-02-18 14:48] #2297 closed

[2018-02-18 15:49] #2328 closed

[2018-02-18 15:49] #2352 closed

[2018-02-18 16:49] #2350 closed

[2018-02-18 17:50] #1019 closed

[2018-02-18 17:51] #1014 closed

[2018-02-18 17:51] #2362 closed

[2018-02-18 17:51] #2369 closed

[2018-02-18 19:16] Jobsnguyenad commented on #7395
2febd64

[2018-02-18 21:55] #1414 closed

[2018-02-18 21:55] #2276 closed

[2018-02-18 23:56] #2361 closed

[2018-02-18 23:57] #2396 closed

[2018-02-19 01:52] runlevl4 commented on #7308
'minikube dashboard' works fine for me and launches the default browser. The issue I see with the linked page is the end of the sentence. The bolded portion isn't really accurate.

To access the Kubernetes Dashboard, run this command in a shell after starting minikube **to get the address**:

I'd be inclined to change it to read "to launch the Dashboard:"

[2018-02-19 02:26] steveperry-53 commented on #7308
@Bradamant3 is working on a complete overhaul of all the Minikube docs. Rather than making small fixes to existing documents, we should incorporate the fix into her new material.

[2018-02-19 09:05] #2437 closed

[2018-02-19 11:07] #1108 closed

[2018-02-19 14:35] runlevl4 commented on #7308
Gotcha. I'll hang tight.

[2018-02-19 15:52] austinlyons commented on #2325
I was wrong, I just needed to update my api version in cronjob.yml:

old:
`apiVersion: batch/v2alpha1`

new:
`apiVersion: batch/v1beta1`

[2018-02-19 20:17] #2707 closed

[2018-02-19 23:18] zacharysarah opened #7452 "Doc Sprint - IBM Index 2018"
# Kubernetes Doc Sprint Guide

Where: [IBM Index 2018](https://developer.ibm.com/indexconf/), San Francisco, CA, USA
When: Tuesday, 20 Feb 2018, 9am-1pm PST

Room | Sprint subject | Description
---------|----------|-----
Kubernetes community space | Glossary, general | Add glossary terms, add tech reviews

### Facilitators

Name | GitHub username | Role
---|---|---
Zach Corleissen | @zacharysarah

[2018-02-19 23:24] #7252 closed

[2018-02-19 23:28] zacharysarah commented on #7277
/assign @BenHall

[2018-02-19 23:31] zacharysarah commented on #7287
Closed by #7290

[2018-02-19 23:31] #7287 closed

[2018-02-19 23:33] zacharysarah commented on #7292
@BenHall 👋 More re:outdated Kubernetes versions in tutorials.

[2018-02-19 23:34] zacharysarah commented on #7299
@Demonsthere :wave: This issue sounds more like a request for support and less like an issue specifically for docs. You can bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

If after seeking support you discover an issue with documenta

[2018-02-19 23:34] #7299 closed

[2018-02-19 23:36] zacharysarah commented on #7314
@mattayes 👋 It looks like https://github.com/kubernetes/kubernetes/pull/31491 did make communication secure. Thanks for the heads up.

[2018-02-19 23:37] BenHall commented on #7277
Thanks but I'm not the person responsible. It looks like it was fixed in #7276

[2018-02-19 23:38] zacharysarah commented on #7355
/assign @errordeveloper
/assign @luxas

[2018-02-19 23:38] #7356 closed

[2018-02-19 23:38] #7357 closed

[2018-02-19 23:40] zacharysarah commented on #7371
@hamshif :wave: This issue sounds more like a request for support and less like an issue specifically for docs. You can bring your question to the `#kubernetes-users` channel in [Kubernetes slack](http://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/) for answers to similar questions.

If after seeking support you discover an issue with documentation

[2018-02-19 23:40] #7371 closed

[2018-02-19 23:40] zacharysarah commented on #7372
Duplicate of #7371, closing

[2018-02-19 23:40] #7372 closed

[2018-02-19 23:41] zacharysarah commented on #7386
/cc @Bradamant3 for 1.10 visibility

[2018-02-19 23:42] zacharysarah commented on #7388
/cc @Bradamant3 for 1.10 visibility

[2018-02-19 23:43] zacharysarah commented on #7391
User journeys navigation behavior:
/assign @chenopis
/assign @steveperry-53

[2018-02-19 23:44] zacharysarah commented on #7393
/cc @fabriziopandini 👋

[2018-02-19 23:45] zacharysarah commented on #7394
/cc @Bradamant3 for minikube docs

[2018-02-20 00:00] zacharysarah commented on #7277
@benhall Got it, thanks!

[2018-02-20 00:00] #7277 closed

[2018-02-20 01:00] aaron-prindle commented on #7394
As mentioned, on linux you can use minikube w/o a hypervisor by running the kubernetes components natively via `--vm-driver=none`.  It makes sense to update the install minikube page w/ that driver option.

[2018-02-20 01:26] scriptonist commented on #7417
I'm happy to work on this. :heart_eyes:

[2018-02-20 03:23] #2542 closed

[2018-02-20 06:07] abhinavkorpal opened #7453 "Issue with k8s.io/docs/setup/independent/install-kubeadm/"
**This is a...**

- [x] Feature Request
- [x] Bug Report

**Problem:**
Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that some required packages have not yet been created
or been moved out of Incoming.
The follo

[2018-02-20 13:41] errordeveloper commented on #2981
/reopen

[2018-02-20 14:03] errordeveloper commented on #2981
I've re-uploaded screenshots and clarified what actually happens from user's perspective.

[2018-02-20 17:00] justaugustus commented on #6859
/assign @justaugustus

[2018-02-20 17:54] #5076 closed

[2018-02-20 18:45] midoblgsm commented on #5993
It would be nice to add Volume Plugin to the list.

[2018-02-20 18:56] errordeveloper commented on #6859
@justaugustus we are also undergoing conformance status review (see #7278), so it would great to look into that also! (feel free to ping me offline, if you need help and/or more info).

[2018-02-20 19:14] justaugustus commented on #6859
@errordeveloper Sounds good! I'll ping you :)

[2018-02-20 19:39] sdague commented on #5993
Label appears to already be added to the glossary -https://github.com/kubernetes/website/blob/2999938d81c87068fe333b9f69e10f551e70ae90/_data/glossary/labels.yaml#L1

[2018-02-20 21:05] bart0sh commented on #7355
As discovered [here](https://github.com/kubernetes/kubeadm/issues/322) the documentation suggested wrong yaml line "endpoint-reconciler-type=lease"

This is already fixed by [this PR](https://github.com/kubernetes/website/pull/7370/files#diff-882a2f00a1e48794c57974b92121984aR445) so we can close this issue.

[2018-02-20 21:13] #7355 closed

[2018-02-20 22:06] sdague opened #7462 "Glossary _example template is not very descriptive for new contributors"
**This is a...**
- [ x ] Feature Request
- [] Bug Report

**Problem:**

The _example file for the glossary terms shows all the required fields, however the example content isn't very useful for ensuring that you have the correct content in them. Especially with things like tags.

**Proposed Solution:**

The _example.yml could include inline comments that include further instructions and links. For

[2018-02-20 22:11] justaugustus opened #7463 "Improve documentation around production Kubernetes considerations"
**This is a...**

- [x] Bug Report

**Problem:**
Based on a conversation from [SO](https://stackoverflow.com/questions/48845946/why-should-a-production-kubernetes-cluster-have-a-minimum-of-three-nodes), we'd like to make the documentation around production Kubernetes clusters more descriptive.

**Proposed Solution:**
Review and update the docs!

**Page to Update:**
- [ ] https://kubernetes.io/docs

[2018-02-20 22:12] justaugustus commented on #7463
/assign @justaugustus
/cc @mhausenblas

[2018-02-20 22:14] justaugustus commented on #7463
This seems sort of related: #1733

[2018-02-20 22:15] errordeveloper opened #7464 "conformance status for /docs/getting-started-guides/ubuntu"
Per #7278, we are looking to identify guides that are stale vs actively maintained but need work to become conformant.

From the content of [`/docs/getting-started-guides/ubuntu`](https://kubernetes.io/docs/getting-started-guides/ubuntu/) it is unclear what version of Kubernetes user will get and whether resulting cluster will be conformant or not. However, there is a subsection [on validation](ht

[2018-02-20 22:34] tvansteenburgh commented on #7464
Thanks @errordeveloper. We do submit passing conformance results, I think we just need to clarify some of the ambiguity in the docs, as you pointed out. Thanks for the review, we'll address this soon.

[2018-02-20 23:07] hnafar commented on #2033
/remove-lifecycle rotten

[2018-02-20 23:19] justaugustus commented on #7424
This isn't necessarily a docs issue, as we do suggest first and foremost downloading the latest release.
I will admit that some of the language could be a little clearer though.

I'll pick this up and make the language a little more explicit! :)

/assign @justaugustus

[2018-02-20 23:28] ahmetb opened #7469 "Cannot tell names of persistent volume reclaim policies from the docs"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

In https://kubernetes.io/docs/concepts/storage/persistent-volumes/#reclaiming I see 3 reclaim policies:
- Retaining
- Recycling
- Deleting

however the "kubectl explain pv.spec.persistentVolumeReclaimPolicy" says:

     What happens to a persistent volume when released from its claim. Valid
     options are Retain (default) an

[2018-02-20 23:52] msau42 commented on #7469
/assign

Also recycle is deprecated. Need to make sure the docs mention that.

[2018-02-21 14:14] php-coder commented on #3173
Another attempt:
/reopen

[2018-02-21 18:02] #1878 closed

[2018-02-21 18:02] #1637 closed

[2018-02-21 18:25] ahmetb commented on #7469
Based on my experimentation `Delete` is a valid value (and in fact the default in case of dynamic volume provisioning via pvc), but it is not documented on the field description.

[2018-02-22 09:17] #3566 closed

[2018-02-22 09:17] #3658 closed

[2018-02-22 10:18] #3705 closed

[2018-02-22 10:18] #3734 closed

[2018-02-22 10:50] bflorat opened #7481 "Issue with k8s.io/docs/getting-started-guides/scratch/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
`configure-cbr0 `option is deprecated in Kubernetes 1.8. Which versions does  this guide target ? is it still suitable for last K8s releases ? Thanks.

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/getting-started-guides/scratch/

1.8

[2018-02-22 14:22] #3725 closed

[2018-02-22 14:33] saurav2104 opened #7482 "Bad content on "user journey""
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
https://kubernetes.io/docs/user-journeys/users/cluster-operator/advanced/

Actual content is missing.

**Proposed Solution:**
N/A

**Page to Update:**
https://kubernetes.io/docs/user-journeys/users/cluster-operator/advanced/

[2018-02-22 14:54] sumitr-tech opened #7483 "getting TLS Handshake timeout on most requests to the api server"
I'm unable to use kubectl because of TLS handshake timeout.

Run `kubectl get pods` command and getting following error:

`Unable to connect to the server: net/http: TLS handshake timeout`

I also recreate cluster and try but not succeed.

[2018-02-22 18:07] joshuacox opened #7485 "Issue with k8s.io/docs/setup/independent/high-availability/"
**This is a...**  documentation request

- [x] Feature Request
- [ ] Bug Report

**Problem:**

[Documentation says](https://github.com/kubernetes/website/blob/master/docs/setup/independent/high-availability.md#option-2-copy-paste)

[code]

Does this mean run `kubeadm init --config=config.yaml` on each of the other masters?

I was under the impression that you used `kubeadm join` like the rest of t

[2018-02-22 21:12] gyliu513 opened #7490 "Issue with https://kubernetes.io/docs/getting-started-guides/vsphere/#enable-vsphere-cloud-provider"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
Based on comments from https://github.com/kubernetes/kubernetes-anywhere/issues/502#issuecomment-358384903 , there is no need to specify full datastore path but only datastore name is enough.

Please refer to https://groups.google.com/forum/#!topic/kubernetes-dev/XsaaHFkCLL0 for detail.

**Proposed Solution:**

**Page to Update

[2018-02-22 21:13] gyliu513 commented on #7490
/cc @prashima

[2018-02-22 21:40] zacharysarah opened #7491 "Glossary order is ASCII-betical"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:** While checking the netlify preview for #7465, I noticed that the [glossary](https://kubernetes.io/docs/reference/glossary/?all=true) is in [ASCII-betical order](https://www.pcmag.com/encyclopedia/term/38025/asciibetical).

<img width="1172" alt="screen shot 2018-02-22 at 1 49 13 pm" src="https://user-images.githubusercontent.com

[2018-02-22 22:03] zacharysarah commented on #7491
@abiogenesis-now 👋 It looks like the ordering logic is in the [glossary markdown](https://github.com/kubernetes/website/blob/53cf7defd51bfe74f84f1e3b1998e9a854166f1a/docs/reference/glossary.md).

After a little research, it looks like Jekyll default sorts by ASCII. Others have wrestled with natural case sort too:
- https://stackoverflow.com/questions/1408824/an-easy-way-to-support-tags-in-a-jekyll

[2018-02-23 02:26] tengqm commented on #7483
This is not a doc issue. Please try slack channel, stackoverflow etc. If you believe it is a k8s bug, consider file one to the kubernetes/kubernetes project then.

/close

[2018-02-23 02:26] #7483 closed

[2018-02-23 02:46] colemickens commented on #1589
/remove-lifecycle rotten

[2018-02-23 02:47] colemickens commented on #1589
Not sure how to reopen this with the bot...

[2018-02-23 02:56] dims commented on #1589
/reopen

[2018-02-23 02:58] colemickens commented on #1589
/reopen

[2018-02-23 09:44] #7469 closed

[2018-02-23 11:50] BenHall commented on #6339
Highlighted in Slack so I thought I would add comments here.

In the last sig-docs, I demo'ed out updates to the interactive tutorials environment (https://kubernetes.io/docs/tutorials/kubernetes-basics/cluster-interactive/) which is now based on Minikube v0.25.0.

The focus of the tutorials are more on happens after you install Minikube, starting from `minikube start` to deploying your first appl

[2018-02-23 12:45] BenHall commented on #6398
We've made improvements to how the environment is configured which hopefully will have improved this for other users.

/close

[2018-02-23 12:45] #6398 closed

[2018-02-23 12:46] BenHall commented on #6405
/close

[2018-02-23 12:46] #6405 closed

[2018-02-23 14:25] idvoretskyi commented on #7091
cc @kubernetes/sig-docs-maintainers

[2018-02-23 16:36] ExplodingCabbage commented on #1511
@steveperry-53, why'd you close this? https://kubernetes.io/docs/tutorials/kubernetes-basics/expose-interactive/ still uses `host01` with no explanation of where or why it's defined, and you've not posted any explanation of why you closed it immediately after being assigned.

[2018-02-23 16:54] BenHall commented on #1511
@ExplodingCabbage Host01 is the name of the machine running.

If you run `hostname` you will see how it's been assigned.

[code]

[2018-02-23 17:10] steveperry-53 commented on #1511
@ExplodingCabbage, Sorry about closing this. I don't remember why. I think I probably hit Close by mistake.

[2018-02-23 17:21] BenHall commented on #1511
@steveperry-53 I've made some changes to help here - katacoda-scenarios/kubernetes-bootcamp-scenarios@42b95d9

[2018-02-23 17:30] ExplodingCabbage commented on #1511
@BenHall

... except that if I follow the tutorial locally on my Mac, I *can't* connect to the service on `$(hostname):$NODE_PORT`, but rather have to connect on `$(minikube ip):$NODE_PORT`. *Both* work in the interactive tutorial, but I don't know why.

[2018-02-23 18:12] BenHall commented on #1511
@ExplodingCabbage Oh, I see your point! Yes, that's much better. Updated the content to use minikube ip. Thanks!

https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios/commit/f33bbbd53a34bdb61a725b09010dcda6dbd0fab6
https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios/commit/55f969d9bdd801edd270360e25c1e3f1b9ed892f

I believe the reason `$(hostname):$NODE_PORT` doesn't

[2018-02-24 00:23] karan-kapoor90 commented on #4310
Hey, any update for this? 👍

[2018-02-24 02:34] joshuacox commented on #7485
This is much more complicated than I thought https://github.com/kubernetes/kubeadm/issues/546

[2018-02-24 02:34] #7485 closed

[2018-02-24 11:29] paidhi opened #7504 "Incorrect URL for the Python client library on k8s.io/docs/reference/client-libraries/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The URL to the Kubernetes Python client library is currently documented as: `github.com/kubernetes-incubator/client-python/`. Correct would be: `github.com/kubernetes-client/python/`.

**Proposed Solution:**
Change the URL in the documentation to: `github.com/kubernetes-client/python/`, pointing at https://github.com/kubernetes

[2018-02-24 13:50] BenHall opened #7506 "Redirecting kubernetes/kubernetes-bootcamp to Website"
This was raised within the 2/27/2018 Sig-Docs meeting. The original aim of https://github.com/kubernetes/kubernetes-bootcamp was to be a separate site, however the content has been merged into the main Kubernetes website as https://kubernetes.io/docs/tutorials/kubernetes-basics/

However, the site is still active at https://kubernetesbootcamp.github.io/kubernetes-bootcamp/

This has lead to confus

[2018-02-24 14:08] #3607 closed

[2018-02-24 14:29] mikeloll opened #7507 "Stateful set ordinal notation indicates 0..N range, but is 0..N-1"
**This is a...**
- [ ] Feature Request
- [X] Bug Report

**Problem:**
The documentation describing a stateful set's ordinal range says `[0,N]` but actually should be `[0,N)`.

This is very minor and I don't want people to think I am nitpicking.  But I had to re-read that section once or twice to make sure I understood.  I think switching the notation would let the next person reading it not have t

[2018-02-24 16:27] ExplodingCabbage commented on #1511
LGTM @BenHall. I figure this issue can now be closed.

[2018-02-24 18:12] #2321 closed

[2018-02-24 18:31] heckj commented on #1511
/close

[2018-02-24 18:31] #1511 closed

[2018-02-24 20:59] #7013 closed

[2018-02-24 21:13] #7314 closed

[2018-02-25 12:51] pzaj2 opened #7511 "Issue with k8s.io/docs/tasks/access-application-cluster/service-access-application-cluster/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
When trying to communicate with the node curl returns "failed to connect to..." error.

**Proposed Solution:**
Investigate the issue and update the page accordingly.

**Page to Update:**
https://kubernetes.io/...

Kubernetes Version:
1.9.3
Additional Information:

My service description:
[code]
Curl commands and output:
curl ht

[2018-02-25 16:47] sridharsikha opened #7513 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-interactive/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
curl http://localhost:8001/api/v1/proxy/namespaces/default/pods/$POD_NAM
Curl(7) connection refused
**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2018-02-25 17:05] heckj commented on #7511
This issue sounds more like a request for support and less
like an issue specifically for docs. I encourage you to bring
your question to the `#kubernetes-users` channel in
[Kubernetes slack](http://slack.k8s.io/). You can also search
resources like
[Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes)
for answers  to similar questions.

You can also open issues for Kubernetes fun

[2018-02-25 17:05] #7511 closed

[2018-02-25 17:07] heckj commented on #7490
@gyliu513 thank you for the report, but to which documentation page are you referring?

[2018-02-25 17:09] heckj commented on #7481
@bflorat the guides are generally aimed at the latest releases, but having said that they do not universally get reviewed and updated with changes as Kubernetes releases come out. There have been a number reviewed and updated quite recently, although the scratch ones are always some of the hardest to manage. I might also recommend looking at Kelsey Hightower's [Kubernetes: The Hard Way](https://gi

[2018-02-25 17:11] heckj commented on #7453
This issue sounds more like a request for support and less
like an issue specifically for docs. I encourage you to bring
your question to the `#kubernetes-users` channel in
[Kubernetes slack](http://slack.k8s.io/). You can also search
resources like
[Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes)
for answers  to similar questions.

You can also open issues for Kubernetes fun

[2018-02-25 17:11] #7453 closed

[2018-02-25 17:12] heckj commented on #7506
/cc @steveperry-53
/cc @chenopis
/cc @zacharysarah

[2018-02-25 17:16] BenHall commented on #7513
Thanks for the feedback. The correct command should be $POD_NAME not $POD_NAM. Was this a copy/paste error?

[2018-02-25 17:16] heckj commented on #7513
hi @sridharsikha - I just ran through the tutorial and clicked on all of the execution steps, and it worked straight through, including using the curl to access the pod through the proxy, which you seem to be indicating isn't working above.

If you were typing in the above, then I might point out that the variable `$POD_NAM` is truncated, and hence wouldn't resolve if you used the correct name.

[2018-02-25 19:05] sridharsikha commented on #7513
I wasnt doing control paste - but do i need to do the module1 2 3 in
sequence ??

Cheers & Regards,
Sridhar Sikha
408 506 0576
<https://www.linkedin.com/in/sridharsikha/>

On Sun, Feb 25, 2018 at 9:16 AM, Ben Hall <notifications@github.com> wrote:

[2018-02-25 19:47] BenHall commented on #7513
@sridharsikha No, each module begins with the target state from the previous module.

Could you give it another go and see if you have the same result?? You need to ensure that the `kubectl proxy` is running as that's what is listening on port 8001

[2018-02-25 20:15] bflorat commented on #7481
Thanks Heckj. The provided manual looks like what I was looking for (even if it's GCP oriented and doesn't seem to detail the overlay configuration). The install process looks clean and weel documented, I'll have a try.

[2018-02-25 20:39] #7507 closed

[2018-02-25 21:30] radhikapc commented on #4480
Here is a request from @ahmetb on twitter at https://twitter.com/ahmetb/status/967850257018101760 to add the content that he has created at https://github.com/ahmetb/kubernetes-network-policy-recipes to official Kubernetes docs.

[2018-02-25 21:39] #2288 closed

[2018-02-25 22:49] gyliu513 commented on #7490
@heckj document page is here https://github.com/kubernetes/website/blob/master/docs/getting-started-guides/vsphere.md#enable-vsphere-cloud-provider

[2018-02-26 03:37] rajinder-yadav opened #7517 "Issue with k8s.io/docs/tasks/tools/install-kubectl/"
Install kubectl using homebrew.

**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

Having problem running kubectl, I install minikube and tried this command, still same error? I don't see anything mentioned about this in the doc: https://kubernetes.io/docs/tasks/tools/install-kubectl/

[code]

**Proposed Solution:**

Improve and streamline the getting started doc, one single

[2018-02-26 05:17] zacharysarah commented on #4480
/assign @radhikapc

[2018-02-26 13:39] adelton opened #7521 "Issue with k8s.io/docs/getting-started-guides/fedora/fedora_manual_config/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

The page https://kubernetes.io/docs/getting-started-guides/fedora/fedora_manual_config/ says:

[code]

When I do that, attempt to start the kubelet service seemingly passes but `systemctl status kubelet` reports

[code]

and `journalctl _COMM=kubelet -l` says

[code]

**Proposed Solution:**

Update the documentation to match t

[2018-02-26 13:47] adelton opened #7522 "Issue with k8s.io/docs/getting-started-guides/fedora/fedora_manual_config/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

The page https://kubernetes.io/docs/getting-started-guides/fedora/fedora_manual_config/ ends with

[code]

However, the file `node.json` is never mentioned before on that page, so it is not clear what its content might be.

**Proposed Solution:**

Either show an example `node.json` content, or remote that `kubectl delete` exam

[2018-02-26 14:10] adelton commented on #7521
I was able to make things work to the point where the node shows up in the `kubectl get nodes` by creating `/etc/kubernetes/kubelet.kubeconfig` with content

[code]

and adding `--kubeconfig=/etc/kubernetes/kubelet.kubeconfig` to `KUBELET_ARGS` in `/etc/kubernetes/kubelet`.

I took inspiration from https://github.com/kubernetes/kubernetes/pull/40050/files. Maybe the Fedora packaging ought to be ch

[2018-02-26 14:19] sdague commented on #7491
In my tests, and the patch that's up, sort_natural does work as expected.

[2018-02-26 14:23] adelton commented on #7521
I've now filed https://bugzilla.redhat.com/show_bug.cgi?id=1549151 to improve the packaging in Fedora.

[2018-02-26 15:08] serewicz opened #7524 "Issue with k8s.io/docs/tools/"
**This is a...**

- [ ] Feature Request
- [ X] Bug Report

**Problem:**
The page https://kubernetes.io/docs/tools/  says the helm and Kompose are third-party resources but have been integrated into the main github branch.

**Proposed Solution:**
Update web page such that these items are listed with the rest, not as third-party

**Page to Update:**
https://kubernetes.io/...
https://kubernetes.io/do

[2018-02-26 16:22] lomori commented on #6116
/remove-lifecycle stale

[2018-02-26 16:25] lomori commented on #6116
Actually, they are using ID Token and not the access token. That's a bigger issuer than just documentation. I really believe this is a design issue that should be addressed. Nobody else, that I know of, uses ID Token as bearer and probably not in the OIDC spec.

[2018-02-26 16:35] sdague commented on #7491
This should be closed now, I apparently used the wrong keyword string.

[2018-02-26 17:59] erictune commented on #4135
/remove-lifecycle stale

[2018-02-26 18:20] paidhi commented on #7504
PR with fix was merged: https://github.com/kubernetes/website/pull/7505

[2018-02-26 18:20] #7504 closed

[2018-02-26 18:28] sridharsikha commented on #7513
ok - send me the URL -
how do i make sure proxy is running - ps -ef | grep 8001

Cheers & Regards,
Sridhar Sikha
408 506 0576
<https://www.linkedin.com/in/sridharsikha/>

On Sun, Feb 25, 2018 at 11:47 AM, Ben Hall <notifications@github.com> wrote:

[2018-02-26 18:47] #7149 closed

[2018-02-26 19:48] #7491 closed

[2018-02-26 19:59] philoserf opened #7527 "Check in Gemfile.lock"
**This is a...**
- [ ] Feature Request
- [ ] Bug Report
- [x] Other

**Problem:**

For consistent results in Ruby projects that are not libraries, community practice is to check in the `Gemfile.lock` file. See: http://bundler.io/v1.12/bundler_workflow.html

While this is not really a Ruby project it does use a Ruby tool, Jekyll and a `Gemfile`.

**Proposed Solution:**

`git add Gemfile.lock`

Pull

[2018-02-26 20:06] #7527 closed

[2018-02-26 20:08] philoserf commented on #7527
It turns out bundle install updated the lock file. I am surprised by that behavior. I just went through it again to validate this.

[2018-02-26 20:33] ahmetb commented on #3475
/reopen

[2018-02-27 09:39] islinwb commented on #7409
@kapalkat I think it failed to treat `true` as `"true"`. Add quotation to `true` only can solve the problem from my testing.

[2018-02-27 10:13] errordeveloper commented on #7464
Thanks, Tim!

On Tue, 20 Feb 2018, 10:34 pm Tim Van Steenburgh, <notifications@github.com>
wrote:

[2018-02-27 17:46] BenHall commented on #7506
Related PR: https://github.com/kubernetes/kubernetes-bootcamp/pull/56#issuecomment-368963925

[2018-02-27 18:01] steveperry-53 commented on #7506
I like the idea of redirecting the content at kubernetesbootcamp.github.io. But I don't know how to do it. Do any of the rest of you know how to do the redirection?

[2018-02-27 18:57] #7464 closed

[2018-02-27 19:10] #7409 closed

[2018-02-27 20:56] heckj opened #7552 "Disable the "Reviewable" button and review access enabled for kubernetes/website"
**Problem:**

Following up on "how to contribute to Docs", there have been a few instances where people utilize Reviewable that's posted into the PRs as a means of reviewing, and then the PR gets stuck in automation - /lgtm and /approve tags don't allow it to merge, because Reviewable asserts there's outstanding discussions. It doesn't happen frequently, but in a poll on the SIG Docs channel, we a

[2018-02-27 20:57] heckj commented on #7552
/cc @zacharysarah @Bradamant3 @steveperry-53 @chenopis @jaredbhatti

[2018-02-27 20:59] heckj commented on #7552
/cc @spiffxp

[2018-02-27 20:59] spiffxp commented on #7552
/assign
I wasn't around while this was setup and am not super clear on it, but I do have privs and incentive to disable this, so going to proceed slowly.

Disabled the reviewable webhook on this repo: https://github.com/kubernetes/website/settings/hooks/10967055

https://reviewable.kubernetes.io/repositories still shows it as connected, will try disconnecting when I've seen more +1's from those yo

[2018-02-27 21:32] julian-alarcon commented on #3820
This would be really helpful. I have the same issue trying to setup a Cluster from scratch.
Thanks for your help @lc4ntoni-centralway !

[2018-02-28 07:24] DraconPern opened #7556 "Issue with k8s.io/docs/tutorials/kubernetes-basics/cluster-intro/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
minikube documentation says it creates a cluster.  However this is factually incorrect since minikube only supports one node.

**Proposed Solution:**
Change 'cluster' to 'environment' for minikube documentation

**Page to Update:**
https://kubernetes.io/docs/tutorials/kubernetes-basics/cluster-intro/
https://kubernetes.io/docs/

[2018-02-28 09:15] chenopis commented on #7506
I found this posting about using a `CNAME` folder inside of your repo to do the redirect: https://stackoverflow.com/questions/30167113/redirect-github-pages-to-custom-domain

[2018-02-28 09:24] chenopis commented on #7552
+1 +1 +1 +1 +1... 😄

[2018-02-28 09:30] ronan-mch opened #7558 "Issue with k8s.io/docs/tutorials/kubernetes-basics/expose-intro/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The Legend on the Services and Labels diagram calls Containers (identified as purple boxes) Pods

**Proposed Solution:**
Change Pods to Containers in Legend and add an extra entry for Pods, symbolised with a green circle.

**Page to Update:**
https://kubernetes.io/docs/tutorials/kubernetes-basics/expose-intro/

[2018-02-28 16:02] pmorie opened #7559 "behavior of `kubectl delete all` is essentially undocumented"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

I'm working on adding the 'all' category to some resources in service-catalog, and found that the expected behavior of `kubectl delete all` is undocumented. For example, the kubectl reference doc for delete doesn't touch on 'all' in any way: https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#delete

I foun

[2018-02-28 16:13] juanvallejo commented on #7559
cc @kubernetes/sig-cli-bugs @kubernetes/sig-cli-misc

[2018-02-28 17:16] mattdodge commented on #2325
The resolution to this seems to depend on which version of kubernetes you are running on your GKE cluster (run `kubectl version`).

We have a cluster running `1.7.12-gke.1` and there is no `batch/v1beta1` or `batch/v2alpha1` APIs registered:
[code]

However, in a cluster running `1.8.7-gke.1` I do see the beta batch API
[code]

So the "fix" for us was to upgrade the cluster to 1.8 and then use the

[2018-02-28 18:07] php-coder commented on #3173
So far there is only how to control it's usage with PSP: https://kubernetes.io/docs/concepts/policy/pod-security-policy/#seccomp I'm not sure whether it's enough or not.

[2018-02-28 20:16] heckj commented on #7552
up votes for disabling in slack from jared, zach and steve as well.

[2018-02-28 20:17] heckj commented on #7552
https://kubernetes.slack.com/archives/C1J0BPD2M/p1519843896000443

https://kubernetes.slack.com/archives/C1J0BPD2M/p1519844567000309

[2018-02-28 21:31] pmichali opened #7566 "IPv6 audit of web based documentation"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
I did an audit of the website pages, looking for use of IPv4 and IPv6 in the pages and have info on the .md files examined. There are a few minor updates, which can be done (I can do, if you'd like).

Files with IPv4 mentioned that look good are:
[code]

Files with IPv6 mentioned that look good are:
[code]

**Proposed Solution:

[2018-03-01 01:36] chrislovecnm commented on #2463
/lifecycle frozen
/remove-lifecycle rotten
/assign
/open

[2018-03-01 01:37] chrislovecnm commented on #2463
/re-open

[2018-03-01 01:40] chrislovecnm commented on #2463
/reopen

[2018-03-01 06:43] saviour123 opened #7573 "Issue with k8s.io/docs/tutorials/stateless-application/guestbook/"
The redis master is not deploying. There is an issue with the yaml i guess.

[2018-03-01 12:59] mrbobbytables opened #7577 "Issue with k8s.io/docs/concepts/workloads/controllers/deployment/"
**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**
With deployments in Kubernetes 1.8+ The generated ReplicaSet and subsequent Pod names no longer contains the same value has as the `POD-TEMPLATE-HASH` label.

The value used in the generation of the ReplicaSet and Pod names goes through the [SafeEncodeString](https://github.com/kubernetes/kubernetes/blob/5cff6c9091073ce0e70d81

[2018-03-01 17:38] slawekgh opened #7580 "Issue with k8s.io/docs/setup/independent/high-availability/"
in section:
Run kubeadm init on master1 and master2
is one command:
rm apiserver.crt

should be:
rm -rf /etc/kubernetes/pki/apiserver*
rm -rf  /etc/kubernetes/pki/front-proxy-c*

[2018-03-01 18:10] #2499 closed

[2018-03-01 18:10] #2590 closed

[2018-03-01 18:10] #2604 closed

[2018-03-01 19:19] 2rs2ts opened #7581 "Issue with k8s.io/docs/tasks/run-application/configure-pdb/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

The PDB docs do not specify rounding logic when using percentages for `minAvailable` and `maxUnavailable`.

**Proposed Solution:**

They should describe their rounding logic, and have examples.

As an example, the RollingUpdate docs for Deployments have similar concepts and do document the rounding behavior: https://kubernetes

[2018-03-01 20:12] #2630 closed

[2018-03-01 20:12] #2758 closed

[2018-03-01 20:12] #2667 closed

[2018-03-01 20:12] #2753 closed

[2018-03-01 21:13] #2859 closed

[2018-03-01 21:13] #2938 closed

[2018-03-01 21:13] #2961 closed

[2018-03-01 22:05] jar349 commented on #3956
I am also having this problem on minikube 0.25, even though I've followed the steps in https://github.com/kubernetes/minikube/issues/1647

/remove-lifecycle stale

[2018-03-01 22:08] jar349 commented on #3956
/remove-lifecycle rotten

[2018-03-02 00:16] #3122 closed

[2018-03-02 00:16] #4368 closed

[2018-03-02 01:17] #3170 closed

[2018-03-02 01:31] buhtigmir opened #7584 "Issue with k8s.io/docs/tutorials/kubernetes-basics/cluster-interactive/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2018-03-02 02:18] #3224 closed

[2018-03-02 02:18] #3226 closed

[2018-03-02 02:18] #3277 closed

[2018-03-02 02:18] #3280 closed

[2018-03-02 02:18] #3255 closed

[2018-03-02 03:19] #3291 closed

[2018-03-02 05:21] #4403 closed

[2018-03-02 07:19] fatarwiri opened #7599 "Issue with k8s.io/docs/tutorials/kubernetes-basics/cluster-intro/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2018-03-02 07:43] tengqm commented on #7599
looks like a click by accident. closing.
/close

[2018-03-02 07:43] #7599 closed

[2018-03-02 08:31] islinwb commented on #7577
/assign

[2018-03-02 09:18] islinwb commented on #7577
@mrbobbytables  I'll update the related docs.
/cc @islinwb

[2018-03-02 11:27] #3866 closed

[2018-03-02 12:28] #3943 closed

[2018-03-02 12:28] #3990 closed

[2018-03-02 12:28] #3944 closed

[2018-03-02 12:32] pmichali commented on #7566
Just pulled latest from master today, and many of the .md changes are no longer there. Right now, I can only see one .md file that needs changes, docs/getting-started-guides/scratch.md.  There are three .html files that could be changed, but I'm not sure if two of them are older releases (and hence should be left alone).

[2018-03-02 13:29] #4038 closed

[2018-03-02 13:29] #4054 closed

[2018-03-02 14:30] #4176 closed

[2018-03-02 14:30] #4126 closed

[2018-03-02 14:30] #4153 closed

[2018-03-02 15:31] #4209 closed

[2018-03-02 15:31] #4273 closed

[2018-03-02 16:32] #4408 closed

[2018-03-02 17:33] #4452 closed

[2018-03-02 17:33] #4393 closed

[2018-03-02 20:36] #4496 closed

[2018-03-02 20:36] #4497 closed

[2018-03-03 01:20] cindy52 opened #7616 "Issue with k8s.io/docs/admin/extensible-admission-controllers/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
The document 1.9 doesn't compatible for kubernetes v1.9. Admission changed to v1beta1. ExternalAdmissionHookConfiguration changed to MutatingWebhookConfigurations and ValidatingWebhookConfigurations.

**Proposed Solution:**
Update the documents based on the version 1.9

**Page to Update:**
https://kubernetes.io/docs/admin/exten

[2018-03-03 03:43] #3974 closed

[2018-03-03 03:43] #4498 closed

[2018-03-03 05:38] mmumshad opened #7622 "Issue with k8s.io/docs/concepts/workloads/controllers/deployment/"
**I would like to report a possible issue in the Deployments section of the documentation page. **

- [ ] Feature Request
- [X] Bug Report

**Problem:**
The "Updating a Deployment" section reads:

However when I try it, even scaling the deployment triggers a rollout:

[code]
Apologies if this is my fault and if I am missing the concepts here.

**Proposed Solution:**

**Page to Update:**
https://ku

[2018-03-03 13:25] nikhita commented on #4517
/remove-lifecycle rotten

Still relevant.

[2018-03-03 13:26] nikhita commented on #5774
/remove-lifecycle rotten

@steveperry-53 If it's not an issue, please close it. :)

[2018-03-03 13:27] nikhita commented on #5720
/remove-lifecycle rotten

[2018-03-03 13:27] nikhita commented on #5361
/remove-lifecycle rotten

[2018-03-04 05:22] larsf opened #7625 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-interactive/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
kubectl proxy hangs

The output in the window looks like this:

$ kubectl proxy
Starting to serve on 127.0.0.1:8001

but you never get the prompt back
**Proposed Solution:**
Fix it so it doesn't :-)

**Page to Update:**
https://kubernetes.io/...

[2018-03-04 05:31] larsf commented on #7625
It actually might help if you put this comment above where you ask people to run the proxy
Note: Check the top of the terminal. The proxy was run in a new tab (Terminal 2), and the recent commands were executed the original tab (Terminal 1). The proxy still runs in the second tab, and this allowed our curl command to work using localhost:8001.

Only later did I discover the terminal1 vs 2 issue an

[2018-03-04 16:26] containscafeine opened #7628 "Issue with k8s.io/docs/concepts/configuration/assign-pod-node/"
**Problem:**

There is no documentation on how to use `weight` key under `preferredDuringSchedulingIgnoredDuringExecution`.

I could find better documentation browsing through the code though, in core/v1/types.go -
[code]

**Page to Update:**
https://kubernetes.io/docs/concepts/configuration/assign-pod-node/

[2018-03-04 19:50] janetkuo commented on #7057
This is fixed by #7123

[2018-03-04 19:50] #7057 closed

[2018-03-04 21:23] #1066 closed

[2018-03-05 07:10] #7417 closed

[2018-03-05 08:43] #7105 closed

[2018-03-05 13:08] kbaegis opened #7636 "Issue with k8s.io/docs/getting-started-guides/scratch/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
It's not really kubernetes "from scratch" if all you're doing is running hypercube images in docker.

**Proposed Solution:**
Please add sections on baremetal installation (i.e. - configuring the base services by hand on the host)

**Page to Update:**
https://kubernetes.io/docs/getting-started-guides/scratch/

[2018-03-05 18:08] PatLeong opened #7639 "Issue with k8s.io/docs/tutorials/kubernetes-basics/cluster-interactive/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Viewing summary of Kubernetes Training module 1 returns a 404 error trying to access : https://docs.google.com/forms/d/e/1FAIpQLScMbLRAbaZ8NleOFYRrepdIwCbhClHK3abu3SgzMn1KT_H5iA/viewform?entry.434419381=Module%201

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2018-03-05 18:55] mengqiy commented on #7559
Actually it is documented here https://github.com/kubernetes/community/blob/master/contributors/devel/kubectl-conventions.md#rules-for-extending-special-resource-alias---all.
But it may be hard to find.

[2018-03-05 20:09] zacharysarah commented on #2981
I'm able to reproduce it in Safari, too:

![screen shot 2018-03-05 at 11 58 18 am](https://user-images.githubusercontent.com/3210446/36996858-aceca680-206c-11e8-82cc-a6638f12331d.png)

Looking at the [header text itself](https://github.com/kubernetes/website/blob/master/_includes/header.html), I'm honestly not fond of it. The argument in favor of keeping it would be descriptive text for adaptive s

[2018-03-05 20:11] zacharysarah commented on #7463
Go for it, @justaugustus!

[2018-03-05 20:12] zacharysarah commented on #7481
It looks like #7518 fixed this issue; closing.

[2018-03-05 20:12] #7481 closed

[2018-03-05 20:15] zacharysarah commented on #7482
@saurav2104 👋 Good catch! Stray "Lorem ipsum" in the wild...

/cc @Bradamant3, @chenopis, @steveperry-53

[2018-03-05 20:16] zacharysarah commented on #7513
@sridharsikha 👋 Feel free to re-open this issue if you continue to have difficulty.

[2018-03-05 20:16] #7513 closed

[2018-03-05 20:17] zacharysarah commented on #7517
@rajinder-yadav 👋

That's real. Thanks for the feedback!

/cc @Bradamant3 for minikube

[2018-03-05 20:18] BenHall commented on #7639
Thanks for letting us know. Could you try again please? I seem to be able to access the page.

[2018-03-05 20:19] BenHall commented on #7625
Thanks. I'll take another look at how we can describe the `kubectl proxy` behaviour based on your suggestions.

[2018-03-05 20:24] chenopis commented on #7482
I didn't think anything linked to that page, but I just realized now I forgot to remove it from the ToC. <facepalm> I'll take care of it.

[2018-03-05 20:30] zacharysarah commented on #7522
@adelton 👋 To give you an update on K8s docs: we're considering moving away from hosting OS-specific instructions and instead linking to canonical instructions maintained by the OS and/or its community. OS communities frequently do a better job of keeping their own docs fresh; it makes more sense to us to link to a community's own work instead of keeping duplicate source that goes stale.

[2018-03-05 20:52] zacharysarah commented on #7524
@serewicz 👋 Good catch.

[2018-03-05 21:02] mattfarina opened #7644 "Guide on Migrating Applications to Kubernetes"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
People are trying to migrate their applications to Kubernetes and would like a guide on how to do it.

**Proposed Solution:**
There are several people interested in writing such a guide and it was suggested that should should live in the Kubernetes documentation (e.g., [here](https://groups.google.com/forum/#!topic/kubernetes-s

[2018-03-05 21:04] zacharysarah commented on #7556
@DraconPern 👋 From https://kubernetes.io/docs/tutorials/kubernetes-basics/cluster-intro/:

For another example of a single-node cluster (using kubeadm), check out: https://github.com/kelseyhightower/kubeadm-single-node-cluster

[2018-03-05 21:04] #7556 closed

[2018-03-05 21:08] zacharysarah commented on #7558
@ronan-mch Can you say more specifically about why Pods is inaccurate here?

[2018-03-05 21:09] zacharysarah commented on #7566
Closed by #7606.

[2018-03-05 21:09] #7566 closed

[2018-03-05 21:09] zacharysarah commented on #7573
@saviour123 👋 Are you still experiencing this issue?

[2018-03-05 21:13] #7584 closed

[2018-03-05 21:29] zacharysarah commented on #7616
@smarterclayton, @lavalamp, @whitlockjc, @caesarxuchao 👋

Has extensible webhook admissions graduated from [alpha](https://kubernetes.io/docs/admin/extensible-admission-controllers/)? Looking at the [Workloads API updates](https://kubernetes.io/docs/reference/workloads-18-19/) for 1.8/1.9 and at the [API reference](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.9/#pod-v1-core), i

[2018-03-05 21:42] zacharysarah commented on #7644
@mattfarina 👋 I'm glad to see a proposal for this! The best way to propose a migration guide is to open a pull request. Be sure to follow the [docs contributor guidelines](https://kubernetes.io/editdocs/).

Based on what you're describing, I'd propose adding a new header under [Setup](https://kubernetes.io/docs/setup/).

Concentrate at first just on getting content up for discussion and review. Do

[2018-03-05 21:58] heckj commented on #7644
@mattfarina You'd mentioned a desire to see this localized (translated) to at least one other language as well - can you share a few more details of what you were after/hoping to achieve and wanted to create? Hopefully the tutorials template will cover most of what you want, but it hasn't been exercised heavily since it's inception, so we might need to tweak or twiddle it...

[2018-03-05 22:00] zacharysarah commented on #7644
@heckj That's real feedback about the tutorials template. Honestly, I think it belongs under Setup; I'm just concerned about providing enough structure to help a writer succeed.

[2018-03-05 22:37] lavalamp commented on #7616
Yes, and there is a PR out to fix the documentation already I believe.

On Mon, Mar 5, 2018 at 1:29 PM, Zach Corleissen <notifications@github.com>
wrote:

[2018-03-05 22:49] caesarxuchao commented on #7616
It's https://github.com/kubernetes/website/pull/7586

[2018-03-05 23:23] zacharysarah commented on #7616
Thanks, @caesarxuchao!

Closing in favor of #7002/#7586

[2018-03-05 23:23] #7616 closed

[2018-03-05 23:55] yahya-uit opened #7647 "Issue with k8s.io/docs/setup/independent/install-kubeadm/"
**This is a...**

- [x] Feature Request
- [x] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

**This is a...**

- [x] Feature Request
- [x] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2018-03-05 23:56] #7647 closed

[2018-03-06 05:37] RajeshJeyapaul opened #7652 "Issue with k8s.io/docs/concepts/storage/dynamic-provisioning/"
Requirement is to have new filesystem created on top of the provisioned volumes. Since while we created containers, we need to have say a folder by name "license" where we need to store the license key. Hence my container will expect me to create a folder by name "license". Details of this is not available any where. I guess it should be a feature request

- [ x ] Feature Request
- [ ] Bug Report

[2018-03-06 07:20] adelton commented on #7522
Does Fedora project maintain such a documentation for Kubernetes?

[2018-03-06 10:45] RajeshJeyapaul commented on #7652
hostpath and mountpath needs to be same...as of now , I am not able to create a directory..Hope I am not missing out anything..

[2018-03-06 14:28] Roderick-Jonsson commented on #747
@danielromlein I have done some diagrams which cover some concepts you mentioned. Here you have an example [PowerodIT - Blog - Kubernetes Patterns: Stateless Applications](https://powerodit.ch/2017/11/06/kubernetes-patterns-stateless-applications/). Is there still interest in pursuing this project from your side. Would be interested to have short chat with you about the project.

[2018-03-06 16:29] SebastianUA opened #7658 "Issue with k8s.io/docs/setup/independent/install-kubeadm/"
I see:
[code]

Need to fix to:
[code]

[2018-03-06 16:50] php-coder commented on #3174
The documentation was added in #7600 and is available at https://kubernetes.io/docs/concepts/cluster-administration/sysctl-cluster/#podsecuritypolicy-annotations

/close

[2018-03-06 16:50] #3174 closed

[2018-03-06 18:14] #7482 closed

[2018-03-06 21:54] jpza commented on #4310
Bump

[2018-03-07 01:32] #7658 closed

[2018-03-07 09:24] SJAYAP opened #7667 "Issue with k8s.io/docs/tutorials/kubernetes-basics/expose-interactive/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2018-03-07 14:52] phsiao commented on #7415
Fixed by #7575.