[2022-01-08 19:20] sftim opened #31252 "Document application/apply-patch+yaml media type"
**This is a Feature Request**

**What would you like to be added**
Document the format of a Server-Side Apply request body.

**Why is this needed**
Kubernetes supports [Server-Side Apply](https://kubernetes.io/docs/reference/using-api/server-side-apply/) but we don't document what format the body of a `PATCH` request for SSA should take. We should, so that people can write conformant clients.

**C

[2022-01-08 19:21] sftim commented on #31252
(ideally, this should have been picked up during the review of whether the feature was ready to graduate to GA)

[2022-01-08 19:27] afbjorklund commented on #31186
People seem to have a lot of problems installing `kubectl` too...

So we added `minikube kubectl --`, to make it easier for them:

* https://github.com/kubernetes/minikube/issues/3645

It _automatically_ determines the OS, Architecture and Version.

People still use the regular kubernetes client (kubectl) and kubernetes installer (kubeadm), it is just automated for them.

The missing component was

[2022-01-08 19:40] Shubh28698 commented on #29353
Hi @anubha-v-ardhan

i would like to work on hindi localization of content/en/docs/contribute/analytics.md.

Also i was trying to merge PR, but it took too many commits and file changes even though i changed one file only. I have closed the PR . This is link to PR: https://github.com/kubernetes/website/pull/31251 . Sending this so you can have a look and guide me where i went wrong.

Can you pleas

[2022-01-08 23:29] neetika-Sri opened #31253 "Explain meaning of “object” in Nodes concept"
https://kubernetes.io/docs/concepts/architecture/nodes/#management

On line `after you create a node object.... ` - Its better to clarify where node object is created. My assumption is on control panel (api server).

[2022-01-08 23:56] ptux opened #31254 "[ja] Translate tasks/administer-cluster/migrating-from-dockershim/find-out-runtime-you-use into Japanese"
# This is a Feature Request

## What would you like to be added

Translate [tasks/administer-cluster/migrating-from-dockershim/find-out-runtime-you-use](https://kubernetes.io/docs/tasks/administer-cluster/migrating-from-dockershim/find-out-runtime-you-use/)  into Japanese.

## Why is this needed

This page has not been translated.

## Comments

/language ja
/assign

[2022-01-09 01:16] kbhawkey commented on #31252
/triage accepted

[2022-01-09 01:18] kbhawkey commented on #31001
/triage accepted

[2022-01-09 01:44] kbhawkey commented on #28481
/triage accepted

[2022-01-09 03:42] #30330 closed

[2022-01-09 06:00] divya-mohan0209 opened #31256 "New timings for APAC friendly SIG Docs meeting"
The new APAC friendly meetings for SIG Docs have been moved per community consensus to account for all timezones under APAC per [this slack thread](https://kubernetes.slack.com/archives/C1J0BPD2M/p1638888987356000) and [this email](https://groups.google.com/g/kubernetes-sig-docs/c/P7iLejmEIFA).

## Required changes

This requires some updates

| Repo  | file  | Complete?  |
|---|---|---|
| k/commu

[2022-01-09 08:18] shivanshu1333 opened #31258 "Remove "Copied to clipboard" popup"
**This is a Feature Request**

**What would you like to be added**

Whenever a user copies to the clipboard using the copy button, a pop message as shown is displayed, which stays on the screen and require the user to manually click ok to close it, this is not an intended behaviour as it requires "manual effort" for not so useful task.
It becomes annoying, especially during the certification exam.

[2022-01-09 09:23] afbjorklund commented on #30918
This historical article needs to make surte to mention the `rkt` container runtime:

https://kubernetes.io/blog/2016/07/rktnetes-brings-rkt-container-engine-to-kubernetes/

https://kubernetes.io/blog/2016/12/container-runtime-interface-cri-in-kubernetes/

The main burial ground is https://github.com/kubernetes-retired/rktlet if wanting to visit...

i.e. both "rkt" container runtime and "docker" co

[2022-01-09 12:40] serathius commented on #27840
Yes and also pods. Metrics server watches for all pods and nodes in cluster. Nodes for metrics collection discovery, pods for metadata. Pod metadata is used to endure pod is in ready state and to handle queries with label selectors. For example query for HPA, metrics server needs to identify which pods fulfill the label selectors from Deployment.

This is true for next release v0.6.0+, for version

[2022-01-09 16:24] jmyung opened #31260 "CRI doc in website isn't synced with master branch."
CRI doc(https://kubernetes.io/docs/concepts/architecture/cri/) in website is not synced with [cri.md](https://github.com/kubernetes/website/blob/81b52552244d52b561341f940a581f6cf4c20022/content/en/docs/concepts/architecture/cri.md?plain=1#L18) in ~~master~~ main branch.

Shouldn't it be synced?

[2022-01-09 16:25] jmyung commented on #31260
help 😅  @saschagrunert

[2022-01-09 16:32] #29333 closed

[2022-01-09 18:18] anubha-v-ardhan commented on #31010
/assign @jayesh-srivastava
Sure

[2022-01-09 18:32] #28203 closed

[2022-01-09 19:32] #28035 closed

[2022-01-09 19:46] sftim commented on #28481
Testing `kubernetes-io-vnext-staging`:
https://app.netlify.com/sites/kubernetes-io-vnext-staging/deploys/61db3b7af43444884a1ee03d

[2022-01-09 19:57] sftim commented on #30918
I'd probably only mention rkt etc in passing. It was one of several container runtimes available at the time; for example, https://kubernetes.io/blog/2016/05/hypernetes-security-and-multi-tenancy-in-kubernetes/ talks about another.

[2022-01-09 19:59] sftim commented on #27840
@serathius would you be willing to tweak the [diagram](https://mermaid.live/edit/#eyJjb2RlIjoiZmxvd2NoYXJ0IFRCXG4gICAgICAgIHN1YmdyYXBoIGNsdXN0ZXJbQ2x1c3Rlcl1cbiAgICAgICAgICAgIGRpcmVjdGlvbiBSTFxuICAgICAgICAgICAgU1sgPGJyPjxicj4gXVxuICAgICAgICAgICAgICAgIEFbbWV0cmljcy08YnI-c2VydmVyXVxuICAgICAgICAgICAgICAgICAgICBzdWJncmFwaCBCW05vZGVdXG4gICAgICAgICAgICAgICAgICAgIGRpcmVjdGlvbiBCVFxuICAgICAgICAgICAgICAgIC

[2022-01-09 20:01] sftim commented on #31010
@jayesh-srivastava do you have any questions about how to get started? You're very welcome to open a pull request.

[2022-01-09 20:18] guettli commented on #31186
@sftim Thank you, they look good. I like “if you're not sure, pick Minikube” very much.

[2022-01-09 20:23] sftim commented on #31186
There's enough complexity in what we'd now do that I will
/remove good-first-issue

Folks: anyone is welcome to work on this issue. Reply here if you have questions about how to help.

[2022-01-09 20:28] afbjorklund commented on #30918
Didn't know that it was merged in the same way (hypernetes). But I guess there is near-term and long-term history...

[2022-01-09 20:33] sftim commented on #30918
@amye, do you have all the context you need to move this forward?

[2022-01-09 20:36] sftim commented on #31260
/priority awaiting-more-evidence
/triage not-reproducible

What doesn't seem to be current @jmyung? This [k/website](https://github.com/kubernetes/website) repository doesn't have a branch named `master`

[2022-01-09 20:37] sftim commented on #31258
/area web-development

[2022-01-09 20:38] sftim commented on #31258
BTW: as a work-around you can press Enter to dismiss that “copied” message.

[2022-01-09 20:38] sftim commented on #31256
/triage accepted

[2022-01-09 20:52] sftim commented on #31253
We could use a [glossary tooltip](https://kubernetes.io/docs/contribute/style/hugo-shortcodes/#glossary) for “object”, so that you can click on that and confirm that objects are created in the API server.

/kind feature
/triage accepted
/priority backlog

[2022-01-09 20:53] sftim commented on #31253
/retitle Explain meaning of “object” in Nodes concept
/help

[2022-01-09 21:10] sftim commented on #28481
LGTM.
Applying to live site.

[2022-01-09 21:16] sftim commented on #28481
Also LGTM.

Changes made.
/close

[2022-01-09 21:17] #28481 closed

[2022-01-09 21:45] sftim opened #31262 "Wrong capitalization for preemptionPolicy field"
**This is a Bug Report**

**Problem:**
In https://kubernetes.io/docs/concepts/scheduling-eviction/pod-priority-preemption/#non-preempting-priority-class, the `preemptionPolicy` field is written, incorrectly, as `PreemptionPolicy` (in some places).

**Proposed Solution:**
Fix the capitalization to camelCase.

/sig scheduling
Relevant as there's a plan to [graduate](https://github.com/kubernetes/kub

[2022-01-09 22:04] sftim commented on #30934
https://kubernetes.io/case-studies/peardeck/index.html
 ➤ I'd reword “Docker containers” to “containers”

https://kubernetes.io/case-studies/prowise/index.html
 ➤ I'd reword “Dockerize” to “containize”

https://kubernetes.io/case-studies/squarespace/index.html
 ➤ I'd reword “Docker file” to “`Dockerfile`”

https://kubernetes.io/case-studies/wink/index.html
 ➤  I'd change “just over two years ago”

[2022-01-09 22:07] #30778 closed

[2022-01-09 22:50] afbjorklund commented on #31186
One embarassing thing is that there is no (easy) way to duplicate the Katacoda setup when running it locally...

It uses a different minikube driver ("none") and even a different OS (Ubuntu 18.04) than what _usually_ gets used.
The enviroment also differs similarly between the container version ("KIC") and the virtual machine version ("ISO").

Tried once making such an environment using the [Vagra

[2022-01-09 23:24] jihoon-seo commented on #31262
/triage accepted

[2022-01-09 23:26] jihoon-seo commented on #31254
/triage accepted

[2022-01-09 23:27] jihoon-seo commented on #31249
/triage accepted

[2022-01-09 23:28] jihoon-seo commented on #31248
/triage accepted

[2022-01-09 23:29] jihoon-seo commented on #31241
/area web-development

[2022-01-09 23:30] jihoon-seo commented on #31217
/triage accepted

[2022-01-09 23:30] jihoon-seo commented on #31173
/triage accepted

[2022-01-10 02:49] denkensk commented on #31262
/cc

[2022-01-10 04:42] jmyung commented on #31260
**site: https://kubernetes.io/docs/concepts/architecture/cri/**
[code]

**main branch: https://github.com/kubernetes/website/blob/main/content/en/docs/concepts/architecture/cri.md**
- line 12-18
- no contents starts with _The main protocol ..._
[code]

[2022-01-10 07:11] praveensh0 opened #31264 "Issue with k8s.io/docs/reference/kubectl/overview/"
Hi All,

In the subject of this ticket, the link is mentioned, an example mentioned is incorrect.

We are creating a shell script "kubectl-hello" and placing it in the /use/local/bin then how come the output is "hello world" with "**kubectl hello**" command shouldn't it be "**kubectl-hello**" ?

The Examples: **Creating and using plugins**

create a simple plugin in any language and name the resul

[2022-01-10 08:25] RA489 commented on #28873
/remove-lifecycle stale

[2022-01-10 08:51] saschagrunert commented on #31260
@sftim @jmyung from what I can see they're not out of sync, we just reference the glossary definition into it:

[code]

compiles to

[code]

[2022-01-10 08:53] saschagrunert commented on #31260
We could enhance this by applying something like https://github.com/kubernetes/website/pull/31266

[2022-01-10 10:01] mengjiao-liu commented on #31262
/assgin

[2022-01-10 10:05] sftim commented on #31264
/kind support

@praveensh0 the text of the page looks correct to me. Did you try running `kubectl hello`?

[2022-01-10 10:05] sftim commented on #31264
/sig cli

[2022-01-10 10:20] saschagrunert commented on #31260
@jmyung we improved the docs, see: https://deploy-preview-31266--kubernetes-io-main-staging.netlify.app/docs/concepts/architecture/cri/

Let's close this for now, feel free to reopen if we missed anything. Thanks!

/close

[2022-01-10 10:20] #31260 closed

[2022-01-10 10:31] Sergiosteles opened #31269 "Gestionar certificados TLS"
En la documentación de Kubernetes no existe documentación alguna en la entrada de cómo gestionar los certificados TLS.

[2022-01-10 11:07] shubham-mandhare commented on #31243
Yes.

[2022-01-10 11:16] Babapool commented on #31253
Hi, I would like to work on this issue.
/assign

[2022-01-10 14:50] jacobcrawford opened #31271 "Improvement for k8s.io/docs/tasks/configure-pod-container/enforce-standards-admission-controller/"
You should specify in the documentation how to use the AdmissionConfiguration file.
Can it be installed after a cluster is initialized or does one need to pass the file to a pod in the controller plane?

[2022-01-10 16:47] jayesh-srivastava commented on #31010
@sftim Hey I made the PR, if you can review it that would be great!

[2022-01-10 17:10] anubha-v-ardhan opened #31273 "[hi] Localize releases/_index.md to Hindi"
**This is a Feature Request**

**What would you like to be added**

We need to localize [releases/_index.md](https://github.com/kubernetes/website/blob/main/content/en/releases/_index.md) to Hindi.

**Comments**

The current working branch for `hi` localization work is `dev-1.22-hi.1`. Please make sure to open a PR against `dev-1.22-hi.1`.
For more info see Hindi localization progress tracking iss

[2022-01-10 17:13] #31010 closed

[2022-01-10 17:14] enj commented on #29479
@borkod are you working on this?  If not, please unassign yourself?

[2022-01-10 17:15] anubha-v-ardhan commented on #31273
/triage accepted

[2022-01-10 17:18] sftim commented on #31271
/sig auth
/language en
/kind feature

[2022-01-10 17:18] sftim commented on #14725
Duplicated by https://github.com/kubernetes/website/issues/31269

[2022-01-10 17:18] sftim commented on #31269
/triage duplicate

[2022-01-10 18:07] sftim commented on #29479
BTW, SIG Docs has a “[no cookie licking](https://www.redhat.com/en/blog/dont-lick-cookie)” convention - anyone is welcome to work on any issue. If you're planning to start, it's still polite to get in touch with anyone who has expressed an intent to help or who has opened an existing PR.

[2022-01-10 22:11] ptux opened #31275 "[ja] Translate tasks/administer-cluster/migrating-from-dockershim/check-if-dockershim-deprecation-affects-you into Japanese"
# This is a Feature Request

## What would you like to be added

Translate [tasks/administer-cluster/migrating-from-dockershim/check-if-dockershim-deprecation-affects-you](https://kubernetes.io/docs/tasks/administer-cluster/migrating-from-dockershim/check-if-dockershim-deprecation-affects-you)  into Japanese.

## Why is this needed

This page has not been translated.

## Comments

/language ja
/as

[2022-01-11 01:48] jihoon-seo opened #31279 "`OWNERS_ALIASES` links go to `OWNERS`, which is wrong"
**This is a Bug Report**

**Problem:**
In [here](https://kubernetes.io/docs/contribute/participate/roles-and-responsibilities/#becoming-a-reviewer) and [here](https://kubernetes.io/docs/contribute/participate/roles-and-responsibilities/#becoming-an-approver),
`OWNERS_ALIASES` links go to https://github.com/kubernetes/website/blob/main/OWNERS, which is wrong.

They should go to https://github.com/k

[2022-01-11 01:49] jihoon-seo commented on #31275
/triage accepted

[2022-01-11 01:56] MukulKolpe commented on #31279
/assign

[2022-01-11 02:10] jihoon-seo commented on #30056
/remove-lifecycle stale

[2022-01-11 03:01] praveensh0 commented on #31264
@sftim When I ran it, it's working but I am wondering how it's working. How /kubectl-hello is translated into /kubectl hello?

[2022-01-11 04:38] anubha-v-ardhan commented on #31191
I would like to give this a try
/assign

[2022-01-11 05:11] anubha-v-ardhan commented on #31279
/triage accepted

[2022-01-11 07:05] shannonxtreme commented on #30897
For https://kubernetes.io/docs/concepts/cluster-administration/logging/, I don't know what the correct action is. I'm leaning towards deleting the stuff about Docker Engine and the logging driver that it uses.

/assign
/triage accepted

[2022-01-11 07:10] AvineshTripathi commented on #31273
/assign

[2022-01-11 07:46] guettli commented on #31186
@afbjorklund all I want is a "if unsure take ..." advice. AKA "sane default".

[2022-01-11 07:51] denkensk commented on #31262
PR for GA list here:
https://github.com/kubernetes/website/pull/31283

[2022-01-11 08:21] afbjorklund commented on #31186
Kubernetes is moving more and more towards a "framework" or "toolbox" (or "jigsaw puzzle", depending on your view...).

So if you don't feel like picking a CRI and a CNI and an OS and so on, you will have to trust someone else to do it for you.

[2022-01-11 09:00] sftim commented on #31262
(In my view), https://github.com/kubernetes/website/pull/31283 should wait for #31267 to merge.

[2022-01-11 09:07] denkensk commented on #31262
@sftim  Yes, I will add `/hold` in https://github.com/kubernetes/website/pull/31283 to wait.

[2022-01-11 09:15] #31253 closed

[2022-01-11 09:25] anubha-v-ardhan commented on #31011
/close
resolved by #31185

[2022-01-11 09:25] #31011 closed

[2022-01-11 12:09] anubha-v-ardhan commented on #31013
/close
resolved by #31072

[2022-01-11 12:10] #31013 closed

[2022-01-11 12:45] ptux commented on #31275
PR:

https://github.com/kubernetes/website/pull/31285

[2022-01-11 12:51] neolit123 commented on #24558
/remove-lifecycle rotten

[2022-01-11 12:52] neolit123 commented on #26780
/sig node

[2022-01-11 12:55] neolit123 commented on #30040
looks like https://github.com/kubernetes/website/pull/30050 merged
/close

[2022-01-11 12:55] #30040 closed

[2022-01-11 15:29] #30937 closed

[2022-01-11 16:18] nate-double-u opened #31291 "Add "event" to glossary"
**This is an Enhancement Request**

**What would you like to be added**

Add "event" entry to the Kubernetes [Reference Glossary](https://kubernetes.io/docs/reference/glossary/?fundamental=true).

**Why is this needed**

`event`s are referenced several times in other definitions, but it is not itself defined.

[2022-01-11 16:46] anubha-v-ardhan commented on #31012
/close
Resolved by #31162

[2022-01-11 16:46] #31012 closed

[2022-01-11 17:28] seokho-son commented on #31211
/close

[2022-01-11 17:28] #31211 closed

[2022-01-11 18:06] anubha-v-ardhan commented on #31273
/close
Resolved with #31292

[2022-01-11 18:06] #31273 closed

[2022-01-11 18:08] sftim opened #31293 "Document where to find container images for Kubernetes components"
**This is a Feature Request**

**What would you like to be added**
Tell readers where they can find container images for components of Kubernetes.

**Why is this needed**
It's possible to run components of Kubernetes using containers; in fact, as a project we recommend this. However if you try to find where those images are using a search engine and plausible search queries, you don't find that in

[2022-01-11 18:09] celestehorgan commented on #30965
/good-first-issue

[2022-01-11 18:10] celestehorgan commented on #30966
/good-first-issue

[2022-01-11 18:43] sftim commented on #30952
/sig node

[2022-01-11 18:43] sftim commented on #30965
/triage accepted

[2022-01-11 20:24] parmentelat opened #31294 "Issue with k8s.io/docs/tasks/extend-kubernetes/setup-konnectivity/"
hi
I'm trying to follow the instructions provided on that page - mentioned in the header
and am facing an issue understanding this part:

![image](https://user-images.githubusercontent.com/4519227/149015159-8e3968d2-4229-4f3e-be22-65862d01e9db.png)

the framed code seems to belong to a yaml file describing a pod
and it is suggested this would belong to the apiserver pod; is that right?
if so, wher

[2022-01-12 05:43] enraiha0307 commented on #30965
Hi, Can I work on this?

[2022-01-12 08:29] shannonxtreme commented on #30965
@enraiha0307 yup, go for it! If you run into issues or have questions, feel free to ask here or on Slack :)

/assign @enraiha0307

[2022-01-12 08:37] shannonxtreme commented on #30992
/triage needs-triage

[2022-01-12 08:38] shannonxtreme commented on #30992
/remove-triage accepted

[2022-01-12 08:42] shannonxtreme commented on #30992
I'm not sure that this page needs to be changed in the context of the dockershim removal, since the task is about packaging kube-scheduler into an image to use as a second scheduler. If not needed, we can close this.

[2022-01-12 09:02] sftim commented on #27840
Also relevant: https://github.com/kubernetes/website/issues/27876

[2022-01-12 10:30] rajeev2509 opened #31300 "Improvement for k8s.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/"
this documentation is so confusing....
Why section for Draining a node is in the middle when we talk about it at the begining? How one would drain first master node? After 'sudo kubeadm upgrade apply'?

[2022-01-12 10:38] mehabhalodiya commented on #31293
/triage accepted

[2022-01-12 10:42] anasokan opened #31301 "Query about injecting cluster details into Pod as environment variable"
Do we have any option to inject the cluster name as environment variables to pod?

I have a requirement that the cluster name has to be used by pod to determine the location where it is running. In case of multiple Kubernetes cluster the local region is identified using this

[2022-01-12 10:46] mehabhalodiya commented on #31258
What to do with this issue? Should we accept?
Additionally, PR is up which resolves this issue!

[2022-01-12 10:55] anencore94 opened #31302 "[ko] Translate concepts/architecture/garbage-collection.md in Korean"
This is a Feature Request
Translate `/content/en/docs/concepts/architecture/garbage-collection.md` in Korean

What would you like to be added
Translate `/content/en/docs/concepts/architecture/garbage-collection.md` in Korean

Why is this needed
This file is not translated yet.

Comments
Page to translate : https://kubernetes.io/docs/concepts/architecture/garbage-collection/
/language ko
/assign

*

[2022-01-12 11:27] mehabhalodiya commented on #31191
I think `StatefulSet` is already defined [here](https://github.com/kubernetes/website/blob/main/content/en/docs/reference/glossary/statefulset.md).

[2022-01-12 11:30] manavsiddharthgupta commented on #30929
can any one assign me i would like to work on this

[2022-01-12 11:46] mehabhalodiya commented on #30897
@sftim May I add a glossary tooltip for `container runtime`?

[2022-01-12 11:52] sftim commented on #31191
My idea is to reference that definition into https://k8s.io/docs/concepts/overview/working-with-objects/common-labels/ (see PR #31281)

[2022-01-12 11:54] #31191 closed

[2022-01-12 11:54] sftim commented on #31301
I think this might be feature request for Kubernetes. The Kubenetes API doesn't know the name of a cluster.

Workaround: store the details you want to use in a ConfigMap.

[2022-01-12 11:57] sftim commented on #31300
/language en
/sig cluster-lifecycle

[2022-01-12 11:58] sftim commented on #31301
/retitle Query about injecting cluster details into Pod as environment variable
(the issue is feedback for the page https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/)

[2022-01-12 11:59] sftim commented on #31294
Easy part of a fix: how about we list “you should already know how to configure the kube-apiserver for your cluster” as a prerequisite?

Harder part of a fix: add a task page that explains how to reconfigure the kube-apiserver (including determining whether you even have access to do so).

[2022-01-12 12:00] mehabhalodiya commented on #31258
/triage accepted

[2022-01-12 12:18] ptux opened #31303 "[ja] Translate tasks/administer-cluster/migrating-from-dockershim/migrating-telemetry-and-security-agents into Japanese"
# This is a Feature Request

## What would you like to be added

Translate [tasks/administer-cluster/migrating-from-dockershim/migrating-telemetry-and-security-agents/](https://kubernetes.io/docs/tasks/administer-cluster/migrating-from-dockershim/migrating-telemetry-and-security-agents/)  into Japanese.

## Why is this needed

This page has not been translated.

## Comments

/language ja
/assign

[2022-01-12 12:26] snehaljos commented on #30933
hi am interested in this issue can I work on it?

[2022-01-12 12:35] Architsharma7 commented on #30948
Hey!! If no one i working on this project, i can help.

[2022-01-12 13:08] neolit123 commented on #31300
this is the second report i've seen about this so maybe we can improve the structure a little but i need to understand how..

by "beginning" do you mean https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/#additional-information ?

this simply explains why draining nodes is required.

if you look at the structure on the right you will see that "calling kubeadm upgrade" is m

[2022-01-12 13:13] neolit123 commented on #31300
perhaps this text can be adjusted to the following:

[2022-01-12 13:16] sftim commented on #30897
You're entirely welcome to open a PR for that @mehabhalodiya (and no, I don't have any objection). https://kubernetes.io/docs/contribute/style/hugo-shortcodes/#glossary has the docs on how our glossary tooltips work.

[2022-01-12 13:21] shannonxtreme commented on #30897
My PR already adds that. Container runtime is already a glossary entry so I just added the tooltip in #31282 @mehabhalodiya

[2022-01-12 13:22] sftim commented on #31258
It'd be nice to show a non-modal notification. Maybe an animation on the copy icon? Maybe show the word “copied to clipboard” but hide that hint automatically after a few seconds?

[2022-01-12 13:24] sftim commented on #30948
Anyone's welcome to [sign the CLA](https://www.kubernetes.dev/docs/guide/#sign-the-cla) and open a PR that fixes this.

[2022-01-12 13:24] mehabhalodiya commented on #30897
Fine, I will not add anything!
Good work @shannonxtreme 🎉

[2022-01-12 13:30] shannonxtreme commented on #30933
@snehaljos you can! I've already done the analysis required by this issue but you're welcome to redo it and make sure I didn't miss something :)

[2022-01-12 13:31] Harshmori commented on #31279
hello, is anyone solving this issue? or should I start(it's my first time)

[2022-01-12 16:18] #30564 closed

[2022-01-12 17:07] sftim commented on #31258
@shivanshu1333 you are very welcome to file an issue on that topic, or to submit a pull request. Please do bear in mind that the project's review criteria for any change are going to be “does this change improve the docs?” and not specifically “does this change help people who are in a Kubernetes exam?”.

[2022-01-12 17:23] peterholak opened #31310 "DNS for Services and Pods - incorrect Pod domain name"
**DNS for Services and Pods - incorrect Pod domain name**

**Problem:**

https://github.com/kubernetes/website/blob/6833ee99e3074b43776b8ab3e26e24a952092cdd/content/en/docs/concepts/services-networking/dns-pod-service.md?plain=1#L112

shows the format

[code]

Instead of `deployment-name` (presumably the name of the mentioned Deployment / DaemonSet), it should be the name of the Service, so it sho

[2022-01-12 17:32] shivanshu1333 commented on #31258
Completely Agree!
It's just an addon that may help during certifications (bad issue name I know, my bad).
This is something that I noticed and I feel it isn't an intended behaviour (gives bad user experience), so I reported it.

Does it make sense to follow the same pattern across the complete documentation website? i.e. if we have a copy button let's have it everywhere or remove it from everywher

[2022-01-12 18:04] sdputurn commented on #29718
hi @sftim  i still see docker as supported runtime for kubernetes version 1.23. when is this support for docker as runtime is actually going to end?

thanks,
Sandeep

[2022-01-12 18:15] sftim commented on #29718
/kind support

[2022-01-12 18:16] Rabattkarte commented on #31186
While we are on the topic of reworking said docs page. I'd like to point to this old information as well:

Per default, minikube runs a single-node cluster, but it supports running multi-node clusters as well. The information quoted implies that a user is unable to run multi-node clusters and must use kind instead. This is sad for newcomers that want to try multi-cluster failover functions and sim

[2022-01-12 19:10] #31279 closed

[2022-01-12 19:11] championshuttler commented on #31279
/assign

[2022-01-12 23:53] morallito commented on #13939
Hello, I would like to start translating the page [Proxies in Kubernetes](https://kubernetes.io/docs/concepts/cluster-administration/proxies/) located in `docs/concepts/cluster-administration/proxies.md`

I've assigned myself in the spreadsheet and marked it as in progress.

[2022-01-13 01:05] janetkuo opened #31311 "Error link in DaemonSet page"
Doc page: Perform a Rolling Update on a DaemonSet https://kubernetes.io/docs/tasks/manage-daemon/update-daemon-set/#performing-a-rolling-update

It incorrectly links to Deployment page for DaemonSet API fields.

Also , the field should be `.spec.updateStrategy.rollingUpdate.maxSurge` instead of `.spec.maxSurge`

[2022-01-13 01:41] jihoon-seo commented on #31302
/triage accepted

[2022-01-13 02:01] rajeev2509 commented on #31300
Hi,

'Additional information' section at the beginning confirms that 'Draining
nodes' is the very first thing to do: but that is not the case

'draining a node is a necessary step before upgrading a kubelet on a node
for all node types': This is an important point and to be mentioned in the
document else assumption is to drain the node before initiating upgrade
action.

Regards,
Rajive

On Wed, Ja

[2022-01-13 04:03] ptux opened #31313 "[ja] Translate tasks/administer-cluster/certificates into Japanese"
# This is a Feature Request

## What would you like to be added

Translate [tasks/administer-cluster/certificates)](https://kubernetes.io/docs/tasks/administer-cluster/certificates/)  into Japanese.

## Why is this needed

This page has not been translated.

## Comments

/language ja
/assign

[2022-01-13 08:16] vaibhav2107 commented on #27876
/remove-lifecycle stale

[2022-01-13 08:27] vaibhav2107 commented on #28357
/remove-lifecycle stale

[2022-01-13 08:29] vaibhav2107 commented on #27596
/remove-lifecycle stale

[2022-01-13 09:05] mengjiao-liu commented on #31311
Both `Daemonset` and `Deployment` use the fields `MaxUnavailable` and `MaxSurge` of the [RollingUpdateDaemonSet](https://github.com/kubernetes/kubernetes/blob/2f64227aeab46ab77de4b996a4ce63209295de60/pkg/apis/apps/types.go#L582) structure, so the explanation of the link to the deployment field is not wrong, it's just a bit misleading.

Of course, I think the best way is to describe these fields on

[2022-01-13 09:13] RSwarnkar commented on #20810
Website is DOWN again. Could you please check guys.

[2022-01-13 09:18] inductor opened #31318 "Change Go Doc URL from godoc.org to pkg.go.dev"
**This is a Feature Request**

https://godoc.org/ is an old endpoint and it automatically redirects to https://pkg.go.dev/. Before it will be removed at some point, it makes sense to change the URL.

**What would you like to be added**
Modify Go Doc reference URL

**Why is this needed**

The current URL is deprecated.

**Comments**

[2022-01-13 09:26] #30518 closed

[2022-01-13 09:40] sftim commented on #29718
You can find the information you wanted if tou carefully read all of https://kubernetes.io/blog/2020/12/02/dont-panic-kubernetes-and-docker/ and the [FAQ](https://kubernetes.io/blog/2020/12/02/dockershim-faq/) that it links to.

(If you're _not_ planning to read a Frequently Asked Questions document, @sdputurn, the folks who triage these issues might not be willing to do that for you).

[2022-01-13 10:13] neolit123 commented on #31300
ok, i can see how that can be confusing.

the text has a link and it sounds like a prerequisite. this can be clarified that the steps below instruct exactly *when* to do the drain during upgrade.

[2022-01-13 10:13] neolit123 commented on #31300
/assign
/remove-priority important-more-evidence
/priority backlog

[2022-01-13 10:14] neolit123 commented on #31300
/remove-priority awaiting-more-evidence

[2022-01-13 10:30] inductor commented on #30869
/close

[2022-01-13 10:30] inductor commented on #31173
/close

[2022-01-13 10:30] #30869 closed

[2022-01-13 10:30] inductor commented on #31254
/close

[2022-01-13 10:30] #31173 closed

[2022-01-13 10:30] #31254 closed

[2022-01-13 11:17] sftim commented on #31311
We could link to https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/daemon-set-v1/#DaemonSetSpec (and provide context for that link), instead of linking to the Deployment concept.

[2022-01-13 13:19] neolit123 commented on #31300
proposed fix is here: https://github.com/kubernetes/website/pull/31323

[2022-01-13 13:28] sftim commented on #31293
Extra credit: update https://github.com/kubernetes/sig-release/blob/master/release-engineering/artifacts.md to link to the new text.

[2022-01-13 13:48] #31300 closed

[2022-01-13 15:01] parmentelat commented on #31294
so you're saying there's currently no page that explains how to reconfigure the apiserver; maybe that's the core of my problem then ;)

as to know whether I have access to configuring the apiserver, I do have root access on all those boxes since I am the one who installed them from scratch in the first place; I am evidence it is perfectly possible to install a simple but functional cluster without

[2022-01-13 16:21] pshickeydev commented on #30083
/close

[2022-01-13 16:21] #30083 closed

[2022-01-13 17:29] marcosnils commented on #20810
no need to use caps. Sometimes the website is overloaded and you have to wait to access.

[2022-01-13 17:30] ninhpham0902 commented on #20810
actually the site has been down for a few days already :(

[2022-01-13 17:41] dashpole commented on #30901
cc @ehashman
We generally try to stay neutral on telemetry pipelines and backends, which are generally required to set up production monitoring, tracing and logging.  But if there are ways for us to improve documentation without recommending backends, that would be useful.

[2022-01-13 17:44] marcosnils commented on #20810
it's working now. Added a few more nodes.

[2022-01-13 17:44] dashpole commented on #30901
@serathius mentioned there are [SLOs](https://github.com/kubernetes/community/tree/master/sig-scalability/slos) we should recommend users monitor in production clusters to ensure the cluster is working as expected.  Pointing out _which_ metrics, rather than where to send them, may be a good content for such a guide.

[2022-01-13 17:51] ehashman commented on #30901
As @dashpole said, this is an area that's very context dependent and with a number of different tools and options (both open and closed source). As a SIG, we've tried to move away from documenting all possible monitoring solutions, e.g. https://github.com/kubernetes/kubernetes/pull/106360

However, there are a couple of talks I gave (solo and with @logicalhan) that focus on CNCF-maintained monitor

[2022-01-13 17:57] sftim commented on #30901
SIG Instrumentation folks, should we triage this as accepted?

[2022-01-13 18:09] #29425 closed

[2022-01-13 18:13] sftim commented on #26110
Per https://github.com/kubernetes/website/issues/26110#issuecomment-761840915 I think this is a bug in the [API docs for Job](https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/job-v1/).

@dastrobu if you want to see what fields are in the Job API you can look at that reference. I'm not sure any Kubernetes APIs document which fields support selectors though. If that's the impro

[2022-01-13 18:13] sftim commented on #26110
/transfer kubernetes

[2022-01-13 18:55] cblecker commented on #26687
/remove-lifecycle rotten

[2022-01-13 19:09] shannonxtreme commented on #28690
/remove-lifecycle rotten

On Thu., Jan. 13, 2022, 19:09 Kubernetes Triage Robot, <
***@***.***> wrote:

[2022-01-13 19:28] mehabhalodiya commented on #31235
/triage accepted

[2022-01-13 19:30] guettli commented on #31186
For me it makes a difference if the tool uses less resources. That's why I use kind (and not minikube) since some days and it works fine.

[2022-01-13 20:14] yashodhanmohan commented on #30966
@shannonxtreme
Can I take this up as my first contribution? If yes, should I assign it to myself?

[2022-01-13 20:16] afbjorklund commented on #31186
And again this is not so much which tool is used, but about the "driver" and the platform

[2022-01-13 20:21] shannonxtreme commented on #30966
Heck yes! Go for it. I'm happy to help with any questions you might have, and to review this.

/assign @yashodhanmohan

[2022-01-13 21:18] yashodhanmohan commented on #30966
Hey @shannonxtreme  I've raised a PR for this change. For the change regarding dockerlinks, I tried to pick an appropriate replacement but I'm open to any other better suggestions. Let me know any feedback or if any content seems disconnected because of the removal.

[2022-01-14 00:50] jihoon-seo commented on #31318
/triage accepted

[2022-01-14 00:52] jihoon-seo commented on #31313
/triage accepted

[2022-01-14 00:54] jihoon-seo commented on #31303
/triage accepted

[2022-01-14 03:32] habibrosyad commented on #24382
/remove-lifecycle stale

[2022-01-14 03:54] mengjiao-liu commented on #31311
How to understand this sentence? How to do?  I'm not clear.

[2022-01-14 03:58] RSwarnkar commented on #20810
ok, thanks @marcosnils Please don't mind capitals, Needed some attention hence used.

[2022-01-14 03:59] RSwarnkar commented on #20810
True that !

[2022-01-14 05:09] jihoon-seo commented on #29522
This issue is resolved by the PR #29581.
/close

[2022-01-14 05:09] #29522 closed

[2022-01-14 06:43] RayAsh37 commented on #30948
I have created a PR #31338
Sorry I didn't reference it the last time.

[2022-01-14 07:02] RayAsh37 commented on #31318
I have opened a PR #31340

[2022-01-14 07:49] PaulaMihalcea opened #31341 "Install and Set Up kubectl on Windows"
Hello,

I have recently[ installed kubectl on Windows 10 using curl](https://kubernetes.io/docs/tasks/tools/install-kubectl-windows/#install-kubectl-binary-with-curl-on-windows) and I have noticed that there is a slight error at step 3. Namely, the line says:

`"Add the binary in to your PATH."`

when it really should be:

`"Add the binary's folder to your PATH."`

I have tested it a few times and

[2022-01-14 08:14] jihoon-seo commented on #31318
/assign @inductor

[2022-01-14 08:17] #29108 closed

[2022-01-14 08:19] jihoon-seo commented on #31341
/triage accepted

Similar issue exists in ["Install kubectl binary with curl on Linux" section](https://kubernetes.io/docs/tasks/tools/install-kubectl-linux/#install-kubectl-binary-with-curl-on-linux).

---

cf. In ["Install and Set Up kubectl on macOS" page](https://kubernetes.io/docs/tasks/tools/install-kubectl-macos/#install-kubectl-binary-with-curl-on-macos):

![image](https://user-images.gith

[2022-01-14 10:03] #29597 closed

[2022-01-14 10:09] sftim commented on #31341
is kind of techie vernacular (it's how I'd say it in spoken English to a colleague), but in technical docs we can be more precise.
/language en

[2022-01-14 10:19] #29427 closed

[2022-01-14 11:20] #27602 closed

[2022-01-14 11:20] #29438 closed

[2022-01-14 11:29] Babapool commented on #31341
Hi, I would like to work on this issue.
/assign

[2022-01-14 15:16] sftim commented on #30901
https://github.com/kubernetes/website/issues/27840 might also be relevant (slightly)

[2022-01-14 16:23] #19828 closed

[2022-01-14 17:23] #27370 closed

[2022-01-15 00:18] SergeyKanzhelev opened #31348 "Metrics for PodOverhead was split into two"
**This is a Bug Report**

/sig node
/priority important-longterm
KEP: https://github.com/kubernetes/enhancements/issues/688

PodOverhead metrics mentioned here https://kubernetes.io/docs/concepts/scheduling-eviction/pod-overhead/#observability was split into two in this PR: https://github.com/kubernetes/kube-state-metrics/pull/1168/

Instead of `kube_pod_overhead` with two labels, there is now two

[2022-01-15 12:00] harridu opened #31353 "Improvement for k8s.io/docs/tasks/administer-cluster/safely-drain-node/"
The page should tell how to proceed if **kubectl drain** fails (which is pretty likely for a complex system).

[2022-01-15 16:13] mehabhalodiya commented on #31311
/triage accepted
/good-first-issue

[2022-01-15 16:14] mehabhalodiya commented on #31311
/remove help-wanted

[2022-01-15 17:02] verb commented on #30100
Looks like this is still happening, and also `EphemeralContainers` is showing up under the alpha heading even though its description says (correctly) that it's beta. This dropped off my radar, but I'll take a look at it in the next few days.

/remove-lifecycle stale

[2022-01-15 17:05] verb commented on #30100
/priority critical-urgent

[2022-01-15 17:32] #28045 closed

[2022-01-16 04:52] mehabhalodiya commented on #31243
@shubham-mandhare Have a look at [this](https://github.com/kubernetes/website/issues/31341).
I think it's somehow related.

[2022-01-16 04:56] mehabhalodiya commented on #30839
/triage accepted

[2022-01-16 04:59] mehabhalodiya commented on #30831
@CatalinCnif I think it's somehow similar to [this](https://github.com/kubernetes/website/issues/27951).
Please have a look.

[2022-01-16 05:11] 889-dj commented on #31311
hello @mehabhalodiya I would love to work on this as I m new could u please guide me as what I understood is a link needs to be changed

[2022-01-16 05:20] anubha-v-ardhan commented on #31291
/assign
I would like to give this a try

[2022-01-16 06:19] Anubhavdevv commented on #31311
Hello @mehabhalodiya @anubha-v-ardhan I would like to contribute to it can you assign this issue to me
Thank you !!

[2022-01-16 06:55] anubha-v-ardhan commented on #30952
Hi, I would like to work on this but I may need a little help.

When we say "rewrite in light of the Dockershim removal", does it just means removing the Docker references on the page ( i.e removing `Those environment variables match the syntax of Docker links.` on this page) or something more is expected.

[2022-01-16 07:50] anubha-v-ardhan commented on #31243
@shubham-mandhare If I'm not wrong v1.22 doesn't have autocompletion support for Powershell (refer [v1.22 documentation for Optional kubectl configurations and plugins](https://v1-22.docs.kubernetes.io/docs/tasks/tools/install-kubectl-windows/#optional-kubectl-configurations-and-plugins)

If possible, you can update to latest version (v1.23) which has autocompletion support for  Bash, Zsh, Fish, a

[2022-01-16 08:31] mehabhalodiya commented on #31311
Hey @889-dj @Anubhavdevv
Glad to hear that you are willing to work on this! 🎉
But it is fixed here:
-  #31354

If you are interested to work on another `good first issue` let me know how can I help you.
Thank you 🙂

[2022-01-16 08:33] Anubhavdevv commented on #31311
Sure @mehabhalodiya it would be great if you mentioned some good first issue so that I can contribute 🙂

[2022-01-16 08:37] sidverma32 commented on #29997
How to run the website in local?

[2022-01-16 14:56] SaarthakMaini commented on #30953
Hello, I would like to work on this issue. I am new to open source so can you please help me along the process? Also can you please tell me where the HTML file for this page is located so that I can make the changes?

[2022-01-16 18:41] ptux opened #31361 "[ja] Translate tasks/administer-cluster/manage-resources into Japanese"
# This is a Feature Request

## What would you like to be added

Translate [tasks/administer-cluster/manage-resources](https://kubernetes.io/docs/tasks/administer-cluster/manage-resources)  into Japanese.

## Why is this needed

This page has not been translated.

## Comments

/language ja
/assign

[2022-01-16 20:16] yashodhanmohan commented on #31310
Hello, I've made the correcting changes after verifying that this in fact _is_ an issue in the documentation. Any pod that is selected by a service can be targeted using the DNS record and the DNS record is supposed to contain the service name instead of the DNS name. The changes are present in this [PR](https://github.com/kubernetes/website/pull/31363).

I tried looking for the actual source code

[2022-01-17 00:14] jihoon-seo commented on #31361
/triage accepted

[2022-01-17 00:18] jihoon-seo commented on #31311
/assign @MdSahil-oss

[2022-01-17 03:17] RA489 commented on #29711
/remove-lifecycle rotten

[2022-01-17 03:18] RA489 commented on #29210
/remove-lifecycle rotten

[2022-01-17 03:18] RA489 commented on #29655
/remove-lifecycle rotten

[2022-01-17 03:18] RA489 commented on #29654
/remove-lifecycle rotten

[2022-01-17 03:19] RA489 commented on #28660
/remove-lifecycle rotten

[2022-01-17 03:22] anasokan commented on #31301
@sftim ,

Thanks for the workaround.
Let's keep this open and see if this feature can be taken in Kubernetes.

[2022-01-17 04:23] mehabhalodiya commented on #31311
@MdSahil-oss Can you please assign this issue to yourself with `/assign @MdSahil-oss` here?

[2022-01-17 04:25] mehabhalodiya commented on #31310
/sig network

[2022-01-17 05:59] 889-dj commented on #31311
Thanku Meha I will surely look for other issues 🙂

[2022-01-17 07:14] RayAsh37 commented on #30948
/assign @RayAsh37

[2022-01-17 08:44] YanzhaoLi opened #38477 "Document `--protect-kernel-defaults` argument to kubelet"
### What happened?

There are 6 kernel parameters related to this parameters

- if not setting `--protect-kernel-defaults`: kubelet would restore the 6 kernel parameters to their default values when bootstrap, no matter what their values were.
- if setting `--protect-kernel-defaults`: kubelet would check whether the 6 kernel parameters were set to their default values, if not, kubelet would fail t

[2022-01-17 08:55] jihoon-seo commented on #29027
PR #29732 과 #30287 이 후속 조치가 되지 않고 있어서
제가 하겠습니다~
/unassign jayesh-srivastava
/unassign suhhee1011
/assign

[2022-01-17 09:15] sftim commented on #31353
Sure. That would be a nice improvement.

/sig node
/kind feature
/language en
/priority backlog
/triage accepted

[2022-01-17 09:42] #29483 closed

[2022-01-17 10:03] sftim commented on #30100
/remove-priority critical-urgent
/priority important-soon
/sig security

@verb you're welcome to make a case for raising it back to critical. What would be the motivation there?

[2022-01-17 10:14] porridge commented on #27534
@sftim finally had some time to reword the issue description. Please take a look and if this makes sense I can propose a patch and file the additional issues.

[2022-01-17 10:16] sftim commented on #27534
Thanks
/triage accepted
/priority backlog

[2022-01-17 10:19] verb commented on #30100
Hi @sftim, I *don't* wish to make that case. I was just trying to assign a priority according to guidance [here](https://kubernetes.io/docs/contribute/review/for-approvers/) and [here](https://www.kubernetes.dev/docs/guide/issue-triage/#step-three-define-priority). The documentation is wrong for a core feature, which seems like a "fix it now" rather than "fix it in the next release" priority.

The

[2022-01-17 10:22] sftim commented on #30100
This repo uses continuous deployment (we don't wait for a release for fixes). Anyway, yes, it looks important.

[2022-01-17 10:46] yanivpaz opened #31366 "Issue with k8s.io/docs/concepts/policy/limit-range/"
The documentation does not cover limit-range example for ephemeral-storage

Example :
[code]

[2022-01-17 14:48] #31243 closed

[2022-01-17 15:04] photoni-137 opened #31367 "PodSecurity migration guide needs some clarification"
The steps described on k8s.io/docs/tasks/configure-pod-container/migrate-from-psp/ are a great help! However, it is not explained how one would manage to "[c]lone [...] mutating PSPs into a non-mutating version". The [Docs for PSPs](https://kubernetes.io/docs/concepts/policy/pod-security-policy/) explicitly mark some fields like `MustRunAsNonRoot` or `DefaultAddCapabilities` as mutating, but it's

[2022-01-17 21:11] sftim commented on #31366
/kind feature
/language en

[2022-01-17 21:13] sftim commented on #31367
/sig auth
/sig security
/language en
/kind feature

I'm not sure how to prioritize this. PodSecurityPolicy is a beta feature and we don't plan to improve it further; however, people who are already using the beta feature do want guidance on how to move away.

SIG Docs folks: thoughts on prioritization?

[2022-01-17 21:25] guettli opened #31369 "Improvement for k8s.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/"
At the bottom:

Please provide a command-line below this warning to check if both versions are matching.

[2022-01-17 21:39] neolit123 commented on #31369
sadly, there is no way to provide a single command-line for that. it's dependent on which container runtime you are using.

under the warning there is a link to a guide on how to match the drivers.
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/configure-cgroup-driver/

/kind support
/sig cluster-lifecycle
/close

[2022-01-17 21:40] #31369 closed

[2022-01-17 21:58] guettli opened #31371 "Improvement for k8s.io/docs/concepts/cluster-administration/networking/ Call it "add-on" or don't call it "add-on"?"
But the page [Kubernetes networking model](https://kubernetes.io/docs/concepts/cluster-administration/networking/#how-to-implement-the-kubernetes-networking-model) never uses the term "add-on".

Please agree on the terminology. What does this page list? Is it a list of add-ons or not?

[2022-01-17 22:45] sftim commented on #27338
/reopen

We also need to merge 4 backport PRs.

[2022-01-17 23:28] sftim opened #31379 "Feature gates page mentions Docker runtime"
**This is a Bug Report**

**Problem:**

Some of the [feature gates](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/) mention Docker.
Docker integration (via _dockershim_) is deprecated

**Proposed Solution:**
For the one deprecated gate where the description mentions Docker:
- `Accelerators` (deprecated)

then revise the feature gate description to explain that it

[2022-01-17 23:37] sftim commented on #31078
I'd rephrase the first sentence (“All `kubectl run` generators are deprecated.”) so that there's still _some_ mention of `kubectl run`, and omit the second sentence (“See the Kubernetes v1.17 documenation for a list of generators and how they were used.”)

In a few more releases, we can remove the note fully. Maybe add an HTML comment to remove it in or after Kubernetes v1.26 - I would.

[2022-01-17 23:37] sftim commented on #31078
/language en
/kind bug
/triage accepted
/priority backlog
/sig cli

/retitle Broken link in https://k8s.io/docs/reference/kubectl/conventions/

[2022-01-17 23:38] sftim commented on #31078
Thanks for reporting this @sammagnum

[2022-01-17 23:38] sftim commented on #31078
We should also remove all of the https://kubernetes.io/docs/reference/kubectl/conventions/#generators section

[2022-01-18 01:40] jihoon-seo commented on #29027
- This issue was resolved by the PR #31365.

[2022-01-18 01:40] #29027 closed

[2022-01-18 01:51] jihoon-seo commented on #31379
/triage accepted

[2022-01-18 02:01] jihoon-seo commented on #31256
It seems that all 3 files are updated so this issue is okay to close. 😊

[2022-01-18 02:47] KobayashiD27 opened #31380 "[ja] Translate concepts/services-networking/topology-aware-hints/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate https://kubernetes.io/docs/concepts/services-networking/topology-aware-hints/ into Japanese
**Why is this needed**
This page has not been translated.

**Comments**

/language ja
/assign

[2022-01-18 04:07] jihoon-seo commented on #31380
/triage accepted

[2022-01-18 04:25] imoisharma commented on #30206
Can we close the issue as PR is already merged?

[2022-01-18 05:35] ytqiao3 opened #31382 "About Kubernetes manifests (YAML format)"
I hope to be able to produce a document to explain what attributes can be defined in the yaml file of each controller and pod

[2022-01-18 10:08] krvaibhaw opened #31384 "Link and description Mismatch"
**This is a Bug Report**

**Problem:**

These KubeCon conferences are already over but we still have in `website/content/it/_index.html`

- `Partecipa alla KubeCon ad Amsterdam (13-16 Agosto 2020)`
- `Partecipa alla KubeCon a Boston (17-20 Novembre 2020)`

**Proposed Solution:**

Needs to be updated to :

- `Partecipa alla KubeCon a Valencia, Spagna + Virtual (16-20 maggio 2022)`
- `Partecipa al K

[2022-01-18 10:11] krvaibhaw commented on #31384
/assign

[2022-01-18 10:12] krvaibhaw commented on #31384
/language it
/priority important-longterm

[2022-01-18 15:14] celestehorgan commented on #30936
Todo: split out the warning labels & blog updates into their own issue

[2022-01-18 15:15] sftim commented on #30939
I'll pick these up

[2022-01-18 15:15] #30929 closed

[2022-01-18 15:16] #30930 closed

[2022-01-18 15:16] #30931 closed

[2022-01-18 15:16] #30933 closed

[2022-01-18 15:16] neolit123 commented on #30932
hello, i have a PR in flight that adjusts all kubeadm documentation about the dockershim removal:
https://github.com/kubernetes/website/pull/31309
happy to answer questions or adjust it if needed.

[2022-01-18 15:35] sftim commented on #31382
https://kubernetes.io/docs/reference/kubernetes-api/ is the closest we have.

Did you want to work on making something similar but different @ytqiao3 ?

/triage needs-information

/retitle About Kubernetes manifests (YAML format)

[2022-01-18 15:37] sftim commented on #31371
Are network plugins a special case of add-on? https://kubernetes.io/docs/concepts/cluster-administration/addons/ strongly implies they are. This seems like a minor thing.

/kind cleanup
/language en

I recommend moving https://kubernetes.io/docs/concepts/cluster-administration/networking/#how-to-implement-the-kubernetes-networking-model _and_ https://kubernetes.io/docs/concepts/cluster-administrat

[2022-01-18 16:12] jayesh-srivastava commented on #29986
/assign

[2022-01-18 16:43] mehabhalodiya commented on #30839
@sftim Should I consider making a list of existing blog articles and docs pages mentioning dockershim?

[2022-01-18 18:33] krvaibhaw commented on #31384
/triage accepted

[2022-01-18 18:34] krvaibhaw commented on #31384
/close
fixed with #31385

[2022-01-18 18:34] #31384 closed

[2022-01-18 20:30] PurneswarPrasad commented on #30977
Hey, I went through the doc and think that the mention of Docker as some previous version of it which modified the hosts file. And now since Docker support is being dropped, for the time being, @shannonxtreme 's revised sentence seems good.

[2022-01-18 20:32] celestehorgan commented on #30941
Updated #30942 with the above!

[2022-01-18 20:32] #30941 closed

[2022-01-18 20:44] celestehorgan commented on #30932
@neolit123 awesome. If you don't mind, create a tracking issue for it and let me know what the issue number is!

[2022-01-18 20:44] #30932 closed

[2022-01-18 20:59] neolit123 commented on #30932
we use this tracking issue for the kubeadm changes for 1.24:
https://github.com/kubernetes/kubeadm/issues/2626
but it will also be used for 1.25.

[2022-01-18 21:45] brbernardo commented on #13939
Hi,  I would like to start translating the page Best Practices in Kubernetes located in docs/setup/best-practices

I've assigned myself in the spreadsheet and marked it as in progress.

[2022-01-18 21:49] celestehorgan opened #31393 "Remove references to Docker in Kubernetes API"
H/T @shannonxtreme!

Ref: https://github.com/kubernetes/website/issues/30939

----

My findings in the one-page autogenerated API reference (https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.23/)

There might be some (or all) that don't apply to the dockershim removal.

Container
File: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/core/v1/types.go#L2294

[2022-01-18 21:49] #30939 closed

[2022-01-18 21:49] celestehorgan commented on #31393
/triage accepted

[2022-01-18 21:58] celestehorgan commented on #30992
@shannonxtreme I recommend filing a separate issue for what you mentioned above, but I don't think it needs to change for dockershim.

[2022-01-19 00:05] celestehorgan opened #31394 "Update Create static Pods task to remove Docker mentions"
ref: https://github.com/kubernetes/website/issues/30923

On https://kubernetes.io/docs/tasks/configure-pod-container/static-pod/, update the following:

1. Update the following line in the [Before you begin](https://kubernetes.io/docs/tasks/configure-pod-container/static-pod/#before-you-begin) section:

Update this to:

2. Replace all instances of `docker ps` with `crictl ps`

3. Replace **all out

[2022-01-19 00:13] chris-short commented on #31394
/assign

[2022-01-19 00:27] marosset opened #31395 "Update kubeadm join for windows documentation for hostprocess containers support"
**This is a Feature Request**

**What would you like to be added**

The documentation for add using kubeadm to join Windows nodes to a cluster should be updated to take into account running CNI pods as HostProcessContainers.

[content/en/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes.md ](https://github.com/kubernetes/website/blob/main/content/en/docs/tasks/administer-cluster/kubeadm/a

[2022-01-19 07:08] chirangaalwis commented on #29342
@damemi @alculquicondor we should be able to close this can't we?

This was covered some time back.

[2022-01-19 07:15] amej opened #31396 "Capacity section in Persistent Volumes points to archived page"
The [Kubernetes Resource Model ](https://git.k8s.io/community/contributors/design-proposals/scheduling/resources.md) points to archived design proposal.  url: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/scheduling/resources.md

I expect the section to point to a url specifying expected/recommended storage units by Kubernetes, say Gi/Ti/G/Bytes etc .

How to lo

[2022-01-19 07:25] afbjorklund commented on #31394
I thought fedora users used cri-o (not containerd) ?

[2022-01-19 07:31] tengqm commented on #31256
Let's mark it done then.

[2022-01-19 07:31] tengqm commented on #31256
/close

[2022-01-19 07:31] #31256 closed

[2022-01-19 07:43] PurneswarPrasad commented on #30977
/assign

[2022-01-19 08:13] krvaibhaw opened #31400 "Update Japanese content to mention KubeCon 2022 conference"
**This is a Bug Report**

**Problem:**

These KubeCon conferences are already over but we still have :

- 2020年11月17日-20日のKubeCon NAバーチャルに参加する
- 2021年5月4日-7日のKubeCon EUバーチャルに参加する

**Proposed Solution:**

Needs to be updated to :

- 2021年5月4日-7日のKubeCon EUバーチャルに参加する
- スペインのKubeConバレンシアに参加+バーチャル、2022年5月16〜20日

**Page to Update:**

`website/content/ja/_index.html`

/good-first-issue

[2022-01-19 08:13] krsakshi commented on #31400
/assign

[2022-01-19 08:21] amej commented on #31396
/label documentation/content-gap
/label documentation/out-of-date

[2022-01-19 08:21] RA489 commented on #31081
/language zh

[2022-01-19 08:35] RishiKumarRay commented on #31394
@chris-short Are you working on this or else please do assign to me , I would love to contribute

[2022-01-19 08:40] KobayashiD27 opened #31403 "issue in docs/concepts/services-networking/service-traffic-policy"
**This is a Feature Request**

**What would you like to be added**

This feature state looks need to be updated.

**Why is this needed**
In [server-traffic-policy](https://kubernetes.io/docs/concepts/services-networking/service-traffic-policy/), the Feature state is v1.21[alpha]. However, this feature has already been beta. https://github.com/kubernetes/kubernetes/pull/103462

**Comments**

[2022-01-19 09:10] Midas847 commented on #30144
Hey, I want to work on this issue. Can you explain it more?

[2022-01-19 09:31] Kartik494 commented on #30912
Hi @winkee01 ,

In my env i got the same error after recreating the pv and pvc . PV and PVC get created while i use a different name only even i don't have that SC in my env. I am looking into it. why it's this so.
Thanks

[2022-01-19 11:51] Shubham82 opened #31404 "Update the FEATURE STATE of PodSecurityAdmission."
**This is a Bug Report**

**Problem:**
The `FEATURE STATE`  of PodSecurityAdmission is mentioned `Kubernetes v1.22 [alpha]` [here](https://kubernetes.io/docs/setup/best-practices/enforcing-pod-security-standards/#using-the-built-in-pod-security-admission-controller)  under [Enforcing Pod Security Standards](https://kubernetes.io/docs/setup/best-practices/enforcing-pod-security-standards/). Which i

[2022-01-19 11:52] Shubham82 commented on #31404
/sig auth
/assign

[2022-01-19 12:46] Shubham82 commented on #31404
Fixed it here: #31405

[2022-01-19 14:19] alculquicondor commented on #29342
/close

[2022-01-19 14:19] alculquicondor commented on #29342
Thanks!

[2022-01-19 14:20] #29342 closed

[2022-01-19 16:13] MdSahil-oss commented on #31403
/assign

[2022-01-19 16:24] chris-short commented on #31394
I'm testing the steps now.

[2022-01-19 16:36] MdSahil-oss commented on #31403
Fixed this issue :-> #31408

[2022-01-19 17:04] #31404 closed

[2022-01-19 17:07] sftim commented on #31396
/language en

We should update the page you're thinking of to reference some current docs about quantities. What's the URL of the page that is wrong @amej?

[2022-01-19 17:40] mehabhalodiya commented on #30977
/triage accepted

[2022-01-19 18:15] celestehorgan opened #31409 "Rewrite “Pull an Image from a Private Registry” topic"
ref: https://github.com/kubernetes/website/issues/30923

From @sftim:

https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/ clearly needs an update or even splitting into different pages. There are lots of Docker-specific details, some of which need to stay and some of which need to change.
   - We need an issue to update that page.
   - The example container regis

[2022-01-19 20:05] chris-short commented on #31394
/hold

I missed a docker.

[2022-01-19 20:54] celestehorgan opened #31411 "Replace link in Security Context with more up to date information"
On https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#what-s-next replace the link to Tuning Docker with the newest security enhancements with a link to https://github.com/containerd/containerd/blob/main/docs/cri/config.md.

/triage accepted
/good-first-issue

[2022-01-19 20:54] celestehorgan commented on #31411
ref: https://github.com/kubernetes/website/issues/30923

[2022-01-20 01:42] ShivamTyagi12345 commented on #31411
/assign

[2022-01-20 01:43] jihoon-seo commented on #31403
/triage accepted

[2022-01-20 01:45] jihoon-seo commented on #31400
- Related PR: #31401

/triage accepted

[2022-01-20 05:39] jihoon-seo commented on #31400
/language ja

[2022-01-20 05:56] RA489 commented on #31395
/triage accepted

[2022-01-20 06:22] Kartik494 commented on #30912
@sftim  for more clarification on this is this a good idea to add a note for  `SC ` ?

[2022-01-20 06:36] Kartik494 commented on #28340
HI @dolimoon6000 any update on this?

[2022-01-20 07:55] jihoon-seo commented on #31411
This issue has been resolved by the PR
- #31413.

/close

[2022-01-20 07:55] #31411 closed

[2022-01-20 10:44] inductor commented on #31140
/close

[2022-01-20 10:44] #31140 closed

[2022-01-20 11:27] KelvinAkpobome commented on #31409
/assign

[2022-01-20 13:00] enraiha0307 commented on #30965
Hi, good evening, I wanted to clarify something
in
[code]
I have to implement the daemonset.yaml code using cri-dockerd and Docker right? Different runtime means we have to use  containerd, runC or CRI-O right??

[2022-01-20 14:46] saschagrunert opened #31420 "Add documentation about verifying signed container images"
One part of the container image signing MVP (https://github.com/kubernetes/release/issues/2383) is to provide appropriate documentation about how to verify signed images. We have to find a location on k8s.io about adding general documentation as well as outline manual verification steps.

We should also document possible gaps in the verification process. For example, it is not 100% safe to manuall

[2022-01-20 14:46] saschagrunert commented on #31420
/milestone v1.24

[2022-01-20 15:31] saschagrunert commented on #31420
/help

[2022-01-20 17:38] sftim commented on #31420
/sig security
/sig docs
/language en

/remove-help
(I don't feel that this has a low enough barrier to entry at the moment)

[2022-01-20 17:38] sftim commented on #31420
/milestone 1.24

[2022-01-20 17:41] sftim commented on #31420
Perhaps for an MVP we could document how to configure your cluster so that the control plane nodes insist on signed images, and that code on the control plane (eg kubelet, kube-proxy, etcd, kube-scheduler) is signed and verified.

A future enhancement might then tackle workload images.

How does that sound? Another approach would be to skip explaining how to secure the control plane, and focus on

[2022-01-20 18:09] celestehorgan opened #31422 "Make sample data in Assign Memory Resources to Containers and Pods topic runtime-neutral"
ref: https://github.com/kubernetes/website/issues/30923

Specifically in https://kubernetes.io/docs/tasks/configure-pod-container/assign-memory-resource/#exceed-a-container-s-memory-limit, the sample output response specifies a docker container:

[code]

This is a fairly simple remediation: I would do the following:

[code]

/triage accepted
/good-first-issue

[2022-01-20 18:13] celestehorgan opened #31423 "Sample output in"
ref: https://github.com/kubernetes/website/issues/30923

Specifically in https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#define-a-liveness-command, 2 of the sample outputs contain images created with Docker. update this page to either create images with containerd.

/priority backlog
/triage accepted

[2022-01-20 18:13] KelvinAkpobome commented on #31422
/assign

[2022-01-20 18:14] celestehorgan commented on #30923
I've broken these out into individual issues!

[2022-01-20 18:14] #30923 closed

[2022-01-20 18:16] sftim commented on #30923
Ah, thanks Celeste.

[2022-01-20 18:17] sftim commented on #30944
I aim to work on this. Should be able to make headway without SIG Storage input, at least at first.
/assign

[2022-01-20 18:18] celestehorgan commented on #31422
/priority backlog

[2022-01-20 18:19] sftim commented on #31423
To resolve this issue, create sample outputs that use a container runtime that works with Kubernetes. We're skipping Docker because v1.24 removes the `dockershim` adapter and so Docker won't be directly compatible with Kubernetes.

You can use `containerd`, but actually any other compatible container runtime is fine too.

[2022-01-20 18:32] celestehorgan opened #31424 "Make small wording adjustments to some Case Studies for mentions of docker"
ref: https://github.com/kubernetes/website/issues/30934

Some of the case studies need a bit of rewording to remove unnecessary mention of docker.

**Note:** the case studies are HTML + CSS rather than markdown - you need to be familiar with that in order to update these!

https://kubernetes.io/case-studies/peardeck/index.html
➤ I'd reword “Docker containers” to “containers”

https://kubernetes.io

[2022-01-20 18:33] celestehorgan commented on #30934
@sftim I'm checking in on the case studies omitting thing, but I suspect the answer is "probably not". R

[2022-01-20 18:33] #30934 closed

[2022-01-20 18:41] celestehorgan opened #31425 "Create a shortcode for pages that mention Docker Engine and / or dockershim"
ref: https://github.com/kubernetes/website/issues/30771

----

Create a shortcode in https://github.com/kubernetes/website/tree/main/layouts/shortcodes, similar to https://github.com/kubernetes/website/blob/main/layouts/shortcodes/thirdparty-content.html, with the following:

[code]

(note: you'll need to use HTML, not markdown.)

/triage accepted
/priority important-soon

[2022-01-20 18:47] celestehorgan opened #31426 "Update blog page template to display a warning on blog posts older than year"
ref: https://github.com/kubernetes/website/issues/30771, but this is also just a general feature!

Blog posts by their nature go stale over time. This becomes particularly problematic when we decide to deprecate functionality in the project, as those blog posts are forever a part of the docs and forever searchable via Google.

Update the blog post's templates (probably https://github.com/kubernete

[2022-01-20 18:47] celestehorgan commented on #31426
/assign

[2022-01-20 18:51] celestehorgan commented on #30936
I'm going to close this issue with the action items of:

- create a template-based warning for anything older than a year
- identify anything that needs further attention after that.

As a side note, it might be useful at some point to implement a `version` frontmatter tag on blog posts so we can do more fine-grained filtering in future based on the version the blog posts refers to or was released

[2022-01-20 18:51] #30936 closed

[2022-01-20 18:52] celestehorgan commented on #30771
Everything here has finally been categorized and ticketed!

Closing :D

[2022-01-20 18:52] #30771 closed

[2022-01-20 18:53] vaibhav2107 commented on #28820
/remove-lifecycle stale

[2022-01-20 18:54] drthornt opened #31451 "HorizontalPodAutoscaler Documentation doesn't Mention the role of labels in the metrics calculation."
### What happened?

I created a new deployment "mydeploy-dotnetcounters" with two containers, one with resource request and limit set and one without.

The new deployment had these labels:

[code]

The HPA for a different deployment "mydeploy" started to fail with:

[code]

The "mydeploy" deployment had these labels:

[code]

I added resource request and limit to the second container in the "mydep

[2022-01-20 19:24] ptux opened #31427 "[ja] Translate tasks/administer-cluster/manage-resources/memory-default-namespace/ into Japanese"
# This is a Feature Request

## What would you like to be added

Translate [tasks/administer-cluster/manage-resources/memory-default-namespace/(https://kubernetes.io/docs/tasks/administer-cluster/manage-resources/memory-default-namespace/)  into Japanese.

## Why is this needed

This page has not been translated.

## Comments

/language ja
/assign

[2022-01-20 19:25] marosset opened #31428 "Overhaul Windows documentation"
This issue will track a number of improvements SIG-Windows would like to make to the windows documentation.

- Review / update the following pages windows specific pages
  - [ ] https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/
    - [ ] Specify minimum or recommended system requirements
    - [ ] Split up content into multiple pages
  - [ ] https://kuber

[2022-01-20 19:26] marosset commented on #31428
/cc @brasmith-ms @jsturtevant @jayunit100 @claudiubelu @aravindhp

[2022-01-21 01:37] jihoon-seo opened #31430 "Fix incorrect / outdated URIs in list of network plugins"
**This is a Feature Request**

**What would you like to be added**

In [`content/en/docs/concepts/cluster-administration/networking.md`](https://github.com/kubernetes/website/blob/main/content/en/docs/concepts/cluster-administration/networking.md#cni-genie-from-huawei),
- update the link URL from https://github.com/Huawei-PaaS/CNI-Genie
  to https://github.com/cni-genie/CNI-Genie
- update the link

[2022-01-21 01:46] jihoon-seo commented on #31427
/triage accepted

[2022-01-21 01:51] jihoon-seo commented on #31428
/triage accepted

[2022-01-21 01:54] tengqm commented on #31428
Thank you for filing an umbrella issue before working on it.

[2022-01-21 02:13] jihoon-seo commented on #31420
/triage accepted

[2022-01-21 02:38] KobayashiD27 opened #31431 "[ja] Translate concepts/storage/volumes into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate  https://kubernetes.io/docs/concepts/storage/volumes/ into Japanese.
**Why is this needed**
This page has not been translated.

**Comments**

/language ja
/assign

[2022-01-21 02:40] KobayashiD27 opened #31432 "[ja] Translate concepts/storage/projected-volumes into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate  https://kubernetes.io/docs/concepts/storage/projected-volumes/ into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2022-01-21 02:50] amej commented on #31396
https://kubernetes.io/docs/concepts/storage/persistent-volumes/#capacity

[2022-01-21 04:53] Babapool commented on #31424
Hi there, I would like to work on this issue.
/assign

[2022-01-21 04:54] Babapool commented on #31424
I have an question does the PR need to made against the `main` branch or the `dev-1.24` branch? Thanks

[2022-01-21 05:18] jihoon-seo commented on #31432
/triage accepted

[2022-01-21 05:18] jihoon-seo commented on #31431
/triage accepted

[2022-01-21 06:11] karan316 opened #31438 "Error while downloading kubectl convert"
I was following the instructions on [this page](https://kubernetes.io/docs/tasks/tools/install-kubectl-linux/). When I download the kubectl convert plugin, it gives me this error.

![Screenshot_20220121_113954](https://user-images.githubusercontent.com/39960656/150475421-60a59877-74a8-4f15-ad00-7156a7e441a7.png)

[2022-01-21 06:39] Shubham82 commented on #31438
Hi @karan316
The URL  used by you is wrong. In your URL you put a backslash (\) in two places one is after **$** and the second after **stable.txt**
see below:
`curl -LO https://dl.k8s.io/release/$\(curl -L -s https://dl.k8s.io/release/stable.txt\)/bin/linux/amd64/kubectl-convert`

Correct one is:
`curl -LO https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd6

[2022-01-21 06:42] jihoon-seo commented on #31438
For me,
there seems no backslashes in the command,
![image](https://user-images.githubusercontent.com/46767780/150478871-6a8b0f3c-1ef9-41f1-a1e3-e8717c6297a0.png)

but when I copy that and paste, the backslashes appear.

![image](https://user-images.githubusercontent.com/46767780/150479004-37291499-32c2-487c-99a6-6a0930dc688e.png)

(Copied in Windows 10 x64, Chrome 97.0.4692.71,
pasted to the Orac

[2022-01-21 06:51] Shubham82 commented on #31438
Hi @jihoon-seo
when I do copy and paste it, the backslash does not appear in the command.

[2022-01-21 06:58] jihoon-seo commented on #31438
Maybe `zsh` automatically adds backslashes..

I am using `zsh`, and I guess that @karan316 is using `zsh` too. (@karan316 Is this correct? 😊)

And It seems that @Shubham82 you are using other than `zsh`, @Shubham82 Is this correct? 😊

---

If these are correct,
then I guess that replacing to `curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kub

[2022-01-21 07:07] Shubham82 commented on #31438
Hi @jihoon-seo

yes, I am using the bash, maybe it is with zsh.

I tried this command and it is also working, so we can replace the command with `curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl-convert"`

[2022-01-21 07:08] guettli opened #31441 "Improvement for k8s.io/docs/tasks/administer-cluster/kubeadm/"
I think this section should start with `kubeadm init` and `kubeadm join`

[2022-01-21 07:09] Shubham82 commented on #31438
/good-first-issue

[2022-01-21 07:31] guettli opened #31442 "Improvement for k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro/"
The title is missleading. "Create a cluster" means for me "kubeadm init" and "kubeadm join". According to my point of view this interactive tutorial does not create a cluster.

[2022-01-21 07:33] karan316 commented on #31438
Yup, I am using zsh as well

[2022-01-21 08:13] jihoon-seo commented on #31442
Link: https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro/

[2022-01-21 08:13] jihoon-seo commented on #31441
Link: https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/

[2022-01-21 08:22] saschagrunert commented on #31420
Sounds good to me, I would split the verification into two aspects: The manual and the automatic image verification. For the automatic way we require CRI container runtimes to support cosign.

[2022-01-21 08:50] jihoon-seo commented on #27338
[Backport PRs]
- [v1.19](https://github.com/kubernetes/website/pull/31375)
- [v1.20](https://github.com/kubernetes/website/pull/31376)
- [v1.21](https://github.com/kubernetes/website/pull/31377)
- [v1.22](https://github.com/kubernetes/website/pull/31378)

[2022-01-21 09:05] jihoon-seo commented on #31438
/assign @championshuttler

[2022-01-21 09:12] championshuttler commented on #31438
/assign

[2022-01-21 09:13] championshuttler commented on #31430
/assign

[2022-01-21 10:28] IceCodeNew opened #31448 "[zh] Translate blog/_posts/2022-01-07-kubernetes-is-moving-on-from-dockershim.md into Chinese"
Hi, I'm interested to translate the "2022-01-07-kubernetes-is-moving-on-from-dockershim.md" page.

This is a Feature Request:

translate `en/blog/_posts/2022-01-07-kubernetes-is-moving-on-from-dockershim.md` into Chinese.

What would you like to be added:

zh/blog/_posts/2022-01-07-kubernetes-is-moving-on-from-dockershim.md

/language zh
/kind feature

[2022-01-21 10:29] IceCodeNew opened #31449 "[zh] Translate blog/_posts/2021-12-22-kubernetes-in-kubernetes-and-pxe-bootable-server-farm.md into Chinese"
Hi, I'm interested to translate the "2021-12-22-kubernetes-in-kubernetes-and-pxe-bootable-server-farm.md" page.

This is a Feature Request:

translate `en/blog/_posts/2021-12-22-kubernetes-in-kubernetes-and-pxe-bootable-server-farm.md` into Chinese.

What would you like to be added:

zh/blog/_posts/2021-12-22-kubernetes-in-kubernetes-and-pxe-bootable-server-farm.md

/language zh
/kind feature

[2022-01-21 12:18] #31438 closed

[2022-01-21 12:31] tengqm commented on #31449
/triage accepted
/help

[2022-01-21 12:31] tengqm commented on #31448
/triage accepted
/help

[2022-01-21 12:34] tengqm commented on #31442
The tutorial is about creating a simple cluster for development's purpose. There are dozens of ways to create a new cluster.
/close

[2022-01-21 12:34] #31442 closed

[2022-01-21 12:37] tengqm commented on #31441
If you are interested in learning about setting up a cluster, you may want to check https://kubernetes.io/docs/reference/setup-tools/kubeadm/. The page you mentioned is about administration tasks that are for day2 operations.
/close

[2022-01-21 12:37] #31441 closed

[2022-01-21 12:37] tengqm commented on #31430
/triage accepted
/kind cleanup

[2022-01-21 12:41] tengqm commented on #31396
We have some text scattered somewhere, for example, https://kubernetes.io/docs/tasks/configure-pod-container/assign-memory-resource/#memory-units

[2022-01-21 12:43] tengqm commented on #31382
You may want to give KAB a try by running `docker run -p 8000:8000 quay.io/tengqm/kab` and then opening "http://localhost:8000" in a browser.

[2022-01-21 13:57] tengqm commented on #27229
The Chinese version is strictly following the English site layout. Won't fix this.
/close

[2022-01-21 13:57] #27229 closed

[2022-01-21 13:58] tengqm commented on #27522
This topic is now covered by https://kubernetes.io/docs/tasks/tools/install-kubectl-macos/
/close

[2022-01-21 13:59] #27522 closed

[2022-01-21 14:01] tengqm commented on #27579
This sounds like out of scope of the documentation. A user may give `kubectl` arbitrary alias.
/close

[2022-01-21 14:01] #27579 closed

[2022-01-21 14:03] tengqm commented on #27665
This issue is out of date. There is no line 248 in the page. There is no namespace named `constraints-cpu-example`.
/close

[2022-01-21 14:04] #27665 closed

[2022-01-21 14:07] tengqm commented on #27814
@brandond Would you like propose a fix? It sounds to me the so called "credential provider" becomes something the kubernetes will need to function properly, once the feature is enabled, however, the kubernetes core doesn't provide a builtin implementation for this. We may add a short section on this as "third-party contents".

[2022-01-21 14:10] tengqm commented on #28580
/remove-lifecycle stale
/lifecycle frozen

[2022-01-21 14:10] tengqm commented on #28580
/triage accepted

[2022-01-21 14:14] tengqm commented on #28873
This doesn't look like a documentation issue. Please contact sig-windows for bug report or seek help from their slack channel.
/close

[2022-01-21 14:14] #28873 closed

[2022-01-21 14:35] sftim commented on #31425
When implementing this, make sure that the approach you use supports localization. Also, don't use the name `warning` for the shortcode; pick a new one.

/area web-development

[2022-01-21 14:35] sftim commented on #31425
@celestehorgan we could consider making this marker be part of the front matter, eg
[code]
if you prefer that approach

[2022-01-21 14:36] sftim commented on #31425
/retitle Create a shortcode for pages that mention Docker Engine and / or dockershim

[2022-01-21 14:39] sftim commented on #31451
/language en
/triage accepted
/priority backlog
/kind feature

Thanks for the suggestion @drthornt

[2022-01-21 14:39] sftim commented on #4493
Also see #31451

[2022-01-21 14:41] sftim commented on #31428
This looks like a partial duplicate of #29769

We should close one of these, I think.
/language en
/remove-kind feature

[2022-01-21 14:42] sftim commented on #29894
Relevant to #31428

[2022-01-21 14:43] sftim commented on #31428
Much of https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/ does not belong in the “production environment” section; it's not specific to deploying into production.
We should identify sections of that page to migrate elsewhere.

When moving existing content around, please add the “refactor” label to the PRs - or highlight to a reviewer that this label needs

[2022-01-21 14:44] sftim commented on #31428
/priority important-longterm

[2022-01-21 14:44] sftim commented on #31426
/area web-development

[2022-01-21 14:45] sftim commented on #31409
/retitle Rewrite “Pull an Image from a Private Registry” topic

[2022-01-21 15:18] mtardy commented on #30717
I would be interested in this opportunity as my first contribution! I attended the sig security meeting when this was discussed so I think I can come up with something! 😀

/assign

[2022-01-21 15:21] sftim commented on #31396
Also https://kubernetes.io/docs/reference/glossary/?all=true#term-quantity

[2022-01-21 15:43] sftim commented on #31430
/retitle Fix incorrect / outdated URIs in list of network plugins
/language en
/priority backlog

[2022-01-21 15:44] #30992 closed

[2022-01-21 18:48] brandond commented on #27814
We've started maintaining a simple list of links to credential provider plugins in one of our projects: https://github.com/rancher/wharfie#image-credential-providers

It feels to me like the various cloud providers should own this - provide an official location for plugin binaries, and contribute docs to guide users to docs on how to install and use them - but in the mean time I could open a PR to

[2022-01-21 18:54] SubhasmitaSw commented on #30999
/assign

[2022-01-21 18:55] SubhasmitaSw commented on #31379
/assign

[2022-01-21 18:55] SubhasmitaSw commented on #31393
/assign

[2022-01-21 19:06] savitharaghunathan commented on #30717
Thanks, @mtardy :)

[2022-01-21 20:11] SubhasmitaSw commented on #31393
@celestehorgan @sftim A little help is requested, I might have accidentally pushed the changes regarding this issue to the master branch <a href="https://github.com/SubhasmitaSw/kubernetes/commit/9f9993a692f3caa001232aee8b4aab8266414dff"> here.</a>

[2022-01-21 20:45] shannonxtreme commented on #30977
This issue was fixed in #31398

[2022-01-21 20:45] #30977 closed

[2022-01-21 21:45] jsturtevant commented on #29769
/close
in favor of https://github.com/kubernetes/website/issues/31428 which has more details

[2022-01-21 21:45] #29769 closed

[2022-01-22 01:07] eric3chang commented on #12657
this is how I understand it.

the period after pod start during which readiness changes will be treated as initial readiness. This is in case the Pod goes in and out of the unready state. The code adds this delay to the pod's startTime and doesn't start looking at the readiness state until after pod startTime + initialReadinessDelay .

[2022-01-22 01:14] eric3chang commented on #12657
actually if you look at the code, wouldn't the initial-readiness-delay flag be used only if we are outside of the cpuInitializationPeriod ? This code and documentation is very confusing

[2022-01-22 08:10] zzzzoy opened #31459 "[zh] kubelet options "register-with-taints" is DEPRECATED?"
In chinese document the option register-with-taints is DEPRECATED, I wonder if this is a translation mistake

--register-with-taints mapStringString
--
  | 设置本节点的污点标记，格式为 <key>=<value>:<effect>， 以逗号分隔。当 --register-node 为 false 时此标志无效。 **已弃用：将在未来版本中移除。**

--
  | Register the node with the given list of taints (comma separated <key>=<value>:<effect>). No-op if --register-node is false.

[2022-01-22 09:47] adithyaakrishna commented on #27078
/remove-lifecycle stale

[2022-01-22 10:22] tengqm commented on #31459
/triage accepted
/language zh
/kind bug

[2022-01-22 11:35] UtkarshMishra12 opened #31462 "What is Kubernetes?"
Hi, I'm interested in correcting the 18 errors (grammatical : including punctuation, comma, etc) in [https://kubernetes.io/docs/concepts/overview/what-is-kubernetes/](url) in this page.

[2022-01-22 12:45] deepakcpakhale06 commented on #30729
/assign

[2022-01-22 13:26] cawoodm opened #31465 "Improvement for k8s.io/docs/concepts/services-networking/ingress-controllers/"
The [Ingress](https://kubernetes.io/docs/concepts/services-networking/ingress/#default-backend) document links [here](https://kubernetes.io/docs/concepts/services-networking/ingress-controllers/) saying:

However, there is no information on the ingress controllers page about how to configure the default backend.

[2022-01-22 13:41] #31430 closed

[2022-01-22 14:18] sftim commented on #31465
Looks like an area that could use improvement.
/language en
/kind feature
/sig network

An interim improvement would be to update https://kubernetes.io/docs/concepts/services-networking/ingress/#default-backend, copying the wording from the API reference, with minor tweaks:

/help

Anyone picking this up is welcome to use that suggested wording as-is. You are also welcome to go beyond that and add

[2022-01-22 14:19] sftim commented on #31465
@cawoodm thanks for reporting this!

[2022-01-22 14:20] sftim commented on #31465
New to Kubernetes docs and want to help? Check out https://kubernetes.io/docs/contribute/new-content/#contributing-basics

[2022-01-22 14:50] anubha-v-ardhan commented on #31462
What are the errors like. Can you give some examples please

[2022-01-22 15:14] UtkarshMishra12 commented on #31462
**Virtualized deployment era** -> Comma after _virtualization_ , unnecessary _own_ before the operating system.
**Container deployment era** -> Unnecessary _own_ before filesystem, missing _the_ before share.
**Kubernetes provides you with** -> Making the first word start with a  _Capital Letter_ in the sub-heading, again unnecessary _own_ in between the sentences.
**What Kubernetes is not**-> Rep

[2022-01-22 16:58] PriyanshuAhlawat commented on #31422
/assign

[2022-01-22 17:11] gamba47 opened #31467 "Remove cinder from content/en/docs/concepts/storage/persistent-volumes.md"
**Problem:**
I'm working on spanish translation of content/en/docs/concepts/storage/persistent-volumes.md

I saw at least 11 times cinder witch is deprecated in 1.18 release as says line 374

**Proposed Solution:**
I will remove those lines based on this deprecation on english and spanish versions and make both prs. Maybe others groups will do the same after this change.

**Page to Update:**
https

[2022-01-22 18:02] KelvinAkpobome commented on #31422
I made a PR for this already

[2022-01-22 19:20] AugustasV commented on #30999
/assign

[2022-01-23 07:55] kalashjain23 commented on #30745
I would like work on this but can you help with the information regarding projects that are necessary for kubernetes to function. I get the idea of removing unnecessary links but dont know which project to act on, so i will be looking forward to your reply :)

[2022-01-23 08:35] PriyanshuAhlawat commented on #31311
/assign

[2022-01-23 08:59] PriyanshuAhlawat commented on #31311
hey @janetkuo i will like to work on this issue , i am just a beginner in open source so can you guide me regarding what needs to be done for the link leading to deployment page and does field .spec.maxSurge still needs to be updated?

[2022-01-23 09:02] kalashjain23 commented on #30745
Here's my attempt to solve this issue. Please guide me if there's something more to do or if I have removed something very important  :) 👍

[2022-01-23 09:11] kalashjain23 commented on #30745
/assign @kalashjain23

[2022-01-23 12:01] shoukathmd commented on #31078
/assign

[2022-01-23 13:14] tengqm commented on #30060
/close
We are catching up anyway.

[2022-01-23 13:15] #30060 closed

[2022-01-23 13:39] anubha-v-ardhan commented on #31462
I think comma after virtualization maybe justified
I would prefer having own before operating system to make the doc more clear

I would prefer having own before filesystem to make the doc more clear
I'm afraid the is not required before share. Thoughts?

Capitalizing first letters maybe justified
I would again prefer own for more clarity

I think using does make more grammatical sense. Thoughts?

[2022-01-23 15:06] afbjorklund commented on #31425
Why does the warning say "Docker Engine compatibility", when it means dockershim ?

[2022-01-23 22:52] jihoon-seo commented on #31078
[Related PRs]
- #31386
- #31473

@championshuttler I recommend you to assign yourself in issues before you start working on! 😊

[2022-01-23 23:01] #29556 closed

[2022-01-23 23:24] jihoon-seo commented on #30808
/triage accepted

[2022-01-23 23:25] jihoon-seo commented on #30809
/triage accepted

[2022-01-24 00:41] tengqm commented on #28721
/reopen
Looks like we still have some work to do for this?

[2022-01-24 00:42] tengqm commented on #28721
/remove-lifecycle rotten

[2022-01-24 03:47] aquiladayc opened #31476 "[ja] Translate a-guide-to-admission-controller into Japanese"
This is a Feature Request

What would you like to be added
Translate [blog/a-guide-to-admission-controller](https://kubernetes.io/blog/2019/03/21/a-guide-to-kubernetes-admission-controllers/) into Japanese

Why is this needed
This page has not been translated.

Comments
/language ja
/assign

[2022-01-24 05:07] jihoon-seo commented on #31476
/triage accepted
/retitle [ja] Translate a-guide-to-admission-controller into Japanese

[2022-01-24 06:13] krvaibhaw commented on #31400
Hey, @jihoon-seo

Could you be my sponsors to get the membership of Kubernetes?

My contributions to the Kubernetes Project includes :
https://github.com/kubernetes/website/commits/main?author=krvaibhaw

I think I could review PRs for website updates and other minor changes.
That's why I want to become a member and contribute to open source.

[2022-01-24 06:42] PriyanshuAhlawat commented on #31465
will like to work on it
/assign

[2022-01-24 06:43] PriyanshuAhlawat commented on #31465
/assign

[2022-01-24 07:11] JimBugwadia opened #31479 "Add a section on multi-tenancy best practices and projects"
**This is a Feature Request**

**What would you like to be added**

A section in the Kubernetes documentation to provide users with best practice guidelines and references to Kubernetes projects and solutions for multi-tenancy. This can be a new section in [Concepts](https://kubernetes.io/docs/concepts/).

**Why is this needed**

Kubernetes is commonly used by multiple teams and to run multiple ap

[2022-01-24 07:52] jihoon-seo commented on #31400
@krvaibhaw Sure!

[Requirements & steps to become a member]
- https://kubernetes.io/docs/contribute/participate/roles-and-responsibilities/#becoming-a-member
  - Submit at least 5 substantial pull requests: https://github.com/kubernetes/website/pulls?q=is%3Apr+author%3Akrvaibhaw
- https://github.com/kubernetes/community/blob/master/community-membership.md#member

[2022-01-24 08:04] jihoon-seo commented on #31459
@xzyangNB It would be great to assign yourself to the issue before you start working on. 😊

/assign @xzyangNB

[2022-01-24 08:33] xzyangNB commented on #31459
Well, thank you

[2022-01-24 09:52] schelv opened #31483 "Unclear wording in “Tools for Monitoring Resources”"
Hi!

I have a question about the [resource usage monitoring](https://kubernetes.io/docs/tasks/debug-application-cluster/resource-usage-monitoring/) page.

In the section "Full metrics pipeline" it says:

What does the first sentence mean?

What information can prometheus monitor? is this full metrics?
And how can I use prometheus to access this information?
The word "natively" suggest this is easy

[2022-01-24 10:02] xzyangNB opened #31484 "[zh] A translation problem was found in /content/zh/includes/user-guide-content-moved.md"
**This is a Bug Report**

In  /content/zh/includes/user-guide-content-moved.md.
I think it's better to translate "user guide" into “用户指南”

[2022-01-24 15:13] liggitt commented on #28721
opened https://github.com/kubernetes/website/pull/31486 to address last two issues

[2022-01-24 15:33] sftim commented on #31483
I think this is mainly a request for help @schelv

You might like to ask for more advice about Prometheus in https://discuss.kubernetes.io/, or search the web for a guide on how to monitor Kubernetes with Prometheus (eg https://www.google.com/search?q=monitor+kubernetes+with+prometheus). There are some good guides out there.

/kind support

BTW The word natively does not mean “in a way that is sim

[2022-01-24 15:33] sftim commented on #31479
Happy for multitenancy WG to take this forward - also, that WG is welcome to triage this as accepted.

Please also explore whether you can put new content within three of the existing sections:
- https://kubernetes.io/docs/concepts/architecture/
- https://kubernetes.io/docs/concepts/extend-kubernetes/
- https://kubernetes.io/docs/concepts/cluster-administration/

and, that way, avoid adding a new

[2022-01-24 15:36] sftim commented on #31462
/language en
/priority awaiting-more-evidence

This would be easier to review as a pull request. @UtkarshMishra12 you're welcome to open one but I would want to caution you that the current page looks basically fine. There are other issues that are more important to the Kubernetes project (that we'll prioritize work on, and reviews for).

I think it's fine to leave the existing page as is in terms

[2022-01-24 17:03] ThuF opened #31489 "Kubectl set env from secret leads to uppercase of the secret keys"
As proposed by @sftim, I'm opening an issue for the Kubernetes Website, to address a limitation/bug of the **kubectl**:

---

### What happened?

I have a **Secret** created by the following command:
[code]

I'm binding the secret to a **Deployment** with the following command:

[code]

When describing the deployment I get the following output:

[code]

Where the environment variables are in upper

[2022-01-24 17:05] ThuF commented on #31489
As [commented](https://github.com/kubernetes/kubernetes/issues/107562#issuecomment-1017782951) by @sftim:

[2022-01-24 18:14] #29415 closed

[2022-01-24 18:33] a-mccarthy commented on #31489
Thanks for filing @ThuF, this is definitely something we should have a note about. I think we should update, https://kubernetes.io/docs/tasks/inject-data-application/distribute-credentials-secure/ but there might be more pages. Do you have any other suggested pages where we should make this update?

/remove-kind bug

/triage accepted
/kind feature
/language en

[2022-01-24 19:36] sftim commented on #31215
With https://github.com/kubernetes/website/pull/30737 merged, do you think that the issue is addressed @timothyclarke?
(if not, what's the key detail that's still not covered?)

[2022-01-24 19:39] #29641 closed

[2022-01-24 20:28] Chaz6 opened #31491 "Improvement for k8s.io/docs/tasks/tools/install-kubectl-linux/"
The current documentation for Red Hat refers to version 7 but the current version is 8, and there is no equivalent repository at https://packages.cloud.google.com/yum/repos/kubernetes-el8-x86_64

[2022-01-24 21:15] #29567 closed

[2022-01-24 22:05] #31291 closed

[2022-01-24 22:12] nate-double-u commented on #31291
Awesome, thanks @anubha-v-ardhan!

[2022-01-25 00:05] stormqueen1990 commented on #13939
Hello there!

I will start translating `docs/concepts/configuration/manage-resources-containers`. Already assigned it to me in the spreadsheet.

[2022-01-25 00:24] deepakcpakhale06 commented on #30729
@nmacgreg  Do you mind reviewing the PR ? https://github.com/kubernetes/website/pull/31466

[2022-01-25 01:38] tashimi commented on #31479
👍

[2022-01-25 02:56] jihoon-seo commented on #31491
Page: https://kubernetes.io/docs/tasks/tools/install-kubectl-linux/#install-using-native-package-management

[2022-01-25 02:59] jihoon-seo commented on #31484
File: https://github.com/kubernetes/website/blob/main/content/zh/includes/user-guide-content-moved.md?plain=1
/language zh

[2022-01-25 03:00] jihoon-seo commented on #31479
/triage accepted

[2022-01-25 04:14] jihoon-seo commented on #31484
/assign @xzyangNB

[2022-01-25 04:16] jihoon-seo commented on #31465
- Related PR: #31492

/triage accepted

[2022-01-25 09:19] sftim opened #31497 "Document SOCKS5 proxy mode for kubectl"
**This is a Feature Request**

**What would you like to be added**
Document how to set up `kubectl` to make use of a SOCKS proxy when interacting with a workload running on your cluster.
The page should briefly explain what SOCKS is - a link to further reading is fine - and outline how the SOCKS proxy fits in. A diagram would be really helpful too. See https://www.k8s.dev/blog/2021/12/01/improve-y

[2022-01-25 09:20] sftim commented on #31497
@xens, would you be willing to check the issue description and see if anything needs amending / adding / removing?

If you could also find time (or people!) to help document the new feature, even better.

[2022-01-25 09:25] SubhasmitaSw commented on #31379
In order to proceed with the dockershim removal for the next release, the docker mentions in the [feature gates](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/)  specifically
`ExperimentalHostUserNamespaceDefaulting (beta)` shows an obsolete feature flag, see [#76982](https://github.com/kubernetes/kubernetes/issues/76982), to be able to use this particular feature

[2022-01-25 09:32] xens commented on #31497
@sftim sure I can give it a try !

[2022-01-25 09:46] schelv commented on #31483
@sftim
Thank you for the quick reply.

If you don't have the knowledge yet about a topic, it is difficult to estimate the quality of a guide.
Most of the time the documentation is more accurate and up-to-date.
It would be nice if the documentation would be understandable for a beginner.
That is what this issue is about.

This:

Is the same as this (right?):

That means that the current documentati

[2022-01-25 11:04] FOWind opened #31499 "[zh] A format issue was found in zh/docs/setup/production-environment/tools/kubeadm/high-availability.md"
**This is a Bug Report**

**Problem:**
docs on https://kubernetes.io/zh/docs/setup/production-environment/tools/kubeadm/high-availability/   displays with wrong format

the zh docs format:
![image](https://user-images.githubusercontent.com/13653453/150964823-fc4e5480-ef70-4b1d-be81-e85b0a6fdf88.png)

the right format:
![image](https://user-images.githubusercontent.com/13653453/150964974-aa296893-a

[2022-01-25 11:23] FOWind commented on #31499
This wrong format may happen in other place. Should check other files

[2022-01-25 11:31] sftim opened #31501 "v1.23.3 missing from release details"
**This is a Bug Report**

**Problem:**
There ~is~ soon will be an out of band v1.23.3 release - see https://groups.google.com/a/kubernetes.io/g/dev/c/Xl1sm-CItaY - and the releases page should mention it.

**Proposed Solution:**
Update the releases page to mention v1.23.3

To change that, edit the data within https://github.com/kubernetes/website/tree/main/data/releases

**Pages to Update:**
- htt

[2022-01-25 11:41] sftim commented on #31501
/remove-kind bug

[2022-01-25 11:55] sftim commented on #31501
Related to #31494

[2022-01-25 12:06] kernelv5 opened #31502 "[zh] Resync "Configure Multiple Schedulers""
--lock-object-name this information is missing, i compare with Chinese version page

[2022-01-25 12:08] kernelv5 commented on #31502
- --scheduler-name information also missing

[2022-01-25 12:32] ThuF commented on #31489
Hi @a-mccarthy, I think we should update also the following pages:
- https://kubernetes.io/docs/reference/kubectl/cheatsheet/
- https://kubernetes.io/docs/concepts/configuration/secret/
- https://kubernetes.io/docs/tasks/configmap-secret/managing-secret-using-kubectl/

[2022-01-25 12:39] shoukathmd commented on #30953
/assign

[2022-01-25 13:01] sftim commented on #31489
I can't see where on https://kubernetes.io/docs/reference/kubectl/cheatsheet/ we'd mention this gotcha. Updating https://kubernetes.io/docs/reference/kubectl/cheatsheet/ makes sense to me.
For https://kubernetes.io/docs/tasks/configmap-secret/managing-secret-using-kubectl/, perhaps we could hyperlink to https://kubernetes.io/docs/tasks/inject-data-application/distribute-credentials-secure/ and rel

[2022-01-25 13:47] raelga commented on #31467
/triage accepted
/assign

[2022-01-25 13:52] Babapool commented on #31501
Hi, I would like to work on this issue.
/assign

[2022-01-25 14:45] vrms opened #31504 "Interactive Tutorial - Keep the tutorial text visible in Fullscreen Mode"
at the moment you can put the terminal window into fullscreen mode, which is great.
The lef pane with the turorial text disappears in though when you go fullscreen,

It would be even greater whether you could keep the tutorial text pane active in fullscreen mode so you can follow through without having to switch back and forth all the time (which makes the advantage of a larger view almost go away

[2022-01-25 15:12] rolfedh commented on #30919
/assign rolfedh

[2022-01-25 15:14] chrisnegus commented on #30970
/assign

[2022-01-25 15:15] celestehorgan commented on #30954
/priority backlog

[2022-01-25 15:20] chrisnegus commented on #30954
/assign

[2022-01-25 15:23] a-mccarthy commented on #30951
/assign

[2022-01-25 15:25] celestehorgan commented on #30950
/sig auth

[2022-01-25 15:37] sftim commented on #31501
/area release-eng

[2022-01-25 16:05] chris-short commented on #30951
/assign

[2022-01-25 16:44] sftim commented on #31395
/sig cluster-lifecycle
too

[2022-01-25 17:01] gamba47 commented on #31467
Hi @raelga you will do this pr? please let me know if i can help.

Emiliano

[2022-01-25 19:44] mickleissa opened #31507 "Advice on using CronJob with Kubernetes v1.20"
Hello,
In the example CronJob the apiVersion: batch/v1 not working with v1.20
when I created Imperative CronJob the apiVersion: batch/v1beta1 worked fine with v1.20

Thank you.

[2022-01-25 20:53] celestehorgan commented on #31422
@KelvinAkpobome can you post a link to your PR please, it isn't appearing here in the tracking issue.

[2022-01-25 20:55] #31409 closed

[2022-01-25 20:59] celestehorgan commented on #30953
@shoukathmd @Midas847 @SaarthakMaini  @ajinkya359 - I need one of your four to open a PR for this or I need to assign someone who will :)

[2022-01-25 21:02] #30948 closed

[2022-01-25 21:03] celestehorgan commented on #30897
/close

[2022-01-25 21:04] #30897 closed

[2022-01-25 21:04] KelvinAkpobome commented on #31422
https://github.com/kubernetes/website/pull/31421

[2022-01-25 21:06] celestehorgan commented on #30896
@killerkc12 do you intend to work on this? If not I'd like to reassign it to someone who will. No hard feelings either way!

[2022-01-25 21:07] KelvinAkpobome commented on #31423
Okay, please unassign it

[2022-01-25 21:07] celestehorgan commented on #30946
@msaini0r Do you intend to work on this? If not I'd prefer to reassign it to someone who will. No hard feelings either way!

[2022-01-25 21:23] b4rsch opened #31508 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/"
I am running the first commands of this tutorial to setup the ip tables but when I try to run the command `sudo sysctl --system` I'm getting the following errors:
[code]

Obviously, there is missing some file or something, but I don't know where this should be and what.

I'm on Centos 7, freshly installed

[2022-01-25 21:50] sftim commented on #31507
/retitle Advice on using CronJob with Kubernetes v1.20
/kind support

@mickleissa if you're reading https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/ then that documentation is for v1.23

Try reading https://v1-20.docs.kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/ instead? (there is a drop-down near the top right of the desktop view where you can pick which versio

[2022-01-25 21:52] sftim commented on #31504
/kind feature
/area web-development

[2022-01-25 22:05] neolit123 commented on #31508
hi, as discovered in this prior issue:
https://github.com/kubernetes/website/issues/26503#issuecomment-778831615

`sysctl --system` works despite the warnings, and the recommended tool `systemd-sysctl` prints even more warnings.
seems to be a distro problem.

/sig cluster-lifecycle
/kind support
/close

[2022-01-25 22:07] neolit123 commented on #31508
actually see this:
https://github.com/kubernetes/website/issues/26503#issuecomment-778834044

^ you can verify the keys using this command.

[2022-01-25 22:09] b4rsch commented on #31508
the keys are still set to `0`

[2022-01-25 22:14] neolit123 commented on #31508
/reopen

does this fix work for you?
https://gist.github.com/iamcryptoki/ed6925ce95f047673e7709f23e0b9939

[2022-01-25 22:16] b4rsch commented on #31508
No this doesn't work either.

[code]

[2022-01-25 22:17] neolit123 commented on #31508
is the module loaded?

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#letting-iptables-see-bridged-traffic

[2022-01-25 22:19] b4rsch commented on #31508
the module is loaded but I am a bit confused about the `used by` column. Every process is used by `-2`
[code]

[2022-01-25 22:20] b4rsch commented on #31508
fyi I'm on a virtual host if it matters

[2022-01-25 22:20] neolit123 commented on #31508
i'm not sure what -2 means here. running in a VM should not matter.
you can try `s/sysctl/systemd-sysctl` and see if that works. `systemd-sysctl` worked for me the last time i tested it, but it was on Ubuntu.

[2022-01-25 22:29] b4rsch commented on #31508
huh the service seems to fail

[code]

[2022-01-25 22:32] b4rsch commented on #31508
the `/etc/sysctl.d/99-sysctl.conf` and `/etc/sysctl.conf` files are completely empty except for the line I wrote in testing the one command you proposed

[2022-01-25 22:35] neolit123 commented on #31508
systemd-sysctl failing to start is not great.

you could try adding the `key=1` entries manually in the `/etc/sysctl.d/foo.conf` files.
then `sysctl net.bridge.bridge-nf-call-ip{6}tables` should show `1`.

also, googling for `"sysctl: setting key" "No such file or directory"` does not reveal many results and given we already have centos7 users, i wonder if something has bugged out with `*-sysctl`

[2022-01-25 22:35] #31508 closed

[2022-01-25 22:37] b4rsch commented on #31508
Nevertheless, thanks for your help. Maybe I'll just try on ubuntu

[2022-01-25 23:06] jihoon-seo opened #31509 "Wrong footer rendering"
**This is a Bug Report**

**Problem:**
(Despite the PR #31277 has been merged, it seems that the error still exists. 🤔
So opening an issue here. 😊)

From the PR #31277:

[As-is]
![image](https://user-images.githubusercontent.com/46767780/148865726-c3ea26b3-a3f8-4978-a953-5badbc718a93.png)
![image](https://user-images.githubusercontent.com/46767780/148865750-f4bcdb00-0126-4c3f-8d17-4d4fd0724fea.png

[2022-01-25 23:28] #29578 closed

[2022-01-26 00:37] jihoon-seo commented on #31502
- en: https://kubernetes.io/docs/tasks/extend-kubernetes/configure-multiple-schedulers/ (Last modified December 08, 2021)
- zh: https://kubernetes.io/zh/docs/tasks/extend-kubernetes/configure-multiple-schedulers/ (Last modified May 06, 2021)

I guess that the Chinese one is outdated so needs update. 😊

/language zh
/retitle [zh] Resync "Configure Multiple Schedulers"
/kind bug
/triage accepted

[2022-01-26 00:40] jihoon-seo commented on #31499
/assign @FOWind
/triage accepted
/language zh

[2022-01-26 00:42] jihoon-seo commented on #31497
/triage accepted

[2022-01-26 00:43] jihoon-seo commented on #31501
/triage accepted

[2022-01-26 00:51] jihoon-seo commented on #30364
영문 파일 (`content/en/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md`) 에 큰 변화가 있을 예정이니,
영문 파일 작업이 어느 정도 완료될 때까지 기다려 보는 것도 좋겠습니다. 😊

- #29894
- #31428
- #31457

[2022-01-26 01:52] xzyangNB commented on #31484
/triage accepted

[2022-01-26 01:53] xzyangNB commented on #31484
/help

[2022-01-26 02:11] xzyangNB commented on #31484
/language zh
/kind feature

[2022-01-26 02:17] east4ming opened #31510 "Issue with 'kubectl completion powershell'"
kubectl completion powershell
error: Unsupported shell type "powershell".
See 'kubectl completion -h' for help and examples

[2022-01-26 02:39] SaarthakMaini commented on #30953
@celestehorgan  I'm on it, can you please tell me where the HTML file for the same is located in the repository so that I can make the necessary changes?

[2022-01-26 03:59] SaarthakMaini commented on #30953
Hello! This is the pull request I made, #31511. I am receiving a message that it is not authorized under CLA. I am new to open source, can anyone guide me with this?

[2022-01-26 04:31] PurneswarPrasad commented on #30896
@celestehorgan I think this issue has been resolved in this PR here #30913

[2022-01-26 04:42] PurneswarPrasad commented on #30900
@shannonxtreme In the 2nd one (installing kubectl on windows), it mentions how Docker Desktop for Windows adds its own version of kubectl to its path. But it can also be done independently as mentioned in the earlier steps.
So, should we change:
`Note: Docker Desktop for Windows adds its own version of kubectl to PATH. If you have installed Docker Desktop before, you may need to place your PATH en

[2022-01-26 04:43] jihoon-seo commented on #30896
/close

[2022-01-26 04:44] #30896 closed

[2022-01-26 06:05] FOWind commented on #31499
#31500

[2022-01-26 06:11] mehabhalodiya commented on #31497
/assign @xens

[2022-01-26 06:13] jihoon-seo commented on #31510
EN page: https://kubernetes.io/docs/tasks/tools/install-kubectl-windows/

It seems that you can use `kubectl completion powershell` with `kubectl` v1.23~.

If you are using `kubectl` ~v1.22, then you cannot use `kubectl completion powershell`.

Please run `kubectl version`, and copy & paste the result to here!

For example:

[code]

/kind support
/retitle Issue with 'kubectl completion powershell'

[2022-01-26 06:19] mehabhalodiya commented on #31424
@Babapool You need to make a PR against the `main` branch.

[2022-01-26 06:21] mehabhalodiya commented on #31424
/good-first-issue

[2022-01-26 06:24] mehabhalodiya commented on #31311
This issue is fixed #31407.

/close

[2022-01-26 06:24] #31311 closed

[2022-01-26 06:31] mehabhalodiya commented on #31341
/sig windows

[2022-01-26 07:04] shoukathmd commented on #31467
/assign

[2022-01-26 09:07] east4ming commented on #31510
Thank you!
My version is 1.22, I will update to 1.23

[2022-01-26 09:44] jihoon-seo commented on #31510
It seems that this issue has been resolved and okay to close. 😊
/close

[2022-01-26 09:45] #31510 closed

[2022-01-26 09:47] jihoon-seo commented on #31467
- Resolving PR: #31515

[2022-01-26 11:13] shoukathmd commented on #31424
/assign

[2022-01-26 12:50] Babapool commented on #31424
Hi @mehabhalodiya, I have opened a [PR](https://github.com/kubernetes/website/pull/31487) regarding this a few day ago. If you are free can you PTAL at the PR. Thanks.

[2022-01-26 13:01] mehabhalodiya commented on #31509
/triage accepted

[2022-01-26 13:04] mehabhalodiya commented on #30970
/triage accepted

[2022-01-26 13:06] mehabhalodiya commented on #30898
/triage accepted
/assign

[2022-01-26 13:08] mehabhalodiya commented on #30900
/triage accepted

[2022-01-26 14:07] sftim commented on #30900
@PurneswarPrasad that wording needs careful thought. The original note wording is more appropriate IMO. People are welcome to have both Docker Desktop and `kubectl` installed on their laptop / desktop PC, and we're not advising anyone not to.

[2022-01-26 14:22] mehabhalodiya commented on #30900
Action: Do not change

Action: Not sure, but leaning towards do not change.

So, anything needs to be modified?

[2022-01-26 14:26] sftim commented on #31501
https://kubernetes.io/releases/ now _is_ out of date as v1.23.3 is live - see https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.23.md#v1233

[2022-01-26 14:30] #31501 closed

[2022-01-26 14:38] mehabhalodiya commented on #31424
@shoukathmd Please close your PR #31519 as @Babapool has already [submitted](https://github.com/kubernetes/website/issues/31424#issuecomment-1022168402) it earlier.
Kindly look into those issues which are not already assigned to someone.
Thank you.

[2022-01-26 15:22] SubhasmitaSw commented on #31423
You just need to do `/unassign`

[2022-01-26 15:22] SubhasmitaSw commented on #31423
/assign

[2022-01-26 15:24] #30900 closed

[2022-01-26 16:11] KelvinAkpobome commented on #31423
/unassign

[2022-01-26 16:20] ryankrawz opened #31522 "kubectl get --watch should update resource statuses in place"
When running a command like the following:
[code]
The shell will continue to print lines whenever a pod undergoes a status change. As an example, as the pod `dev-data-0` spins up, the output below occurs.
[code]
The additional lines create a lot of noise and make the resource information difficult to read. Instead, updates to a single resource's status should occur **in place** and remain on a sin

[2022-01-26 16:20] nate-double-u commented on #30943
/assign

[2022-01-26 16:21] nate-double-u commented on #30942
/assign

[2022-01-26 16:21] nate-double-u commented on #30940
/assign

[2022-01-26 16:21] nate-double-u commented on #30938
/assign

[2022-01-26 17:14] chris-short commented on #31394
This is done.

[2022-01-26 17:45] ravikiranr26 commented on #31509
Hello @jihoon-seo Thanks for reporting this issue. May i kindly know some more details to reproduce the issue.
1) Browser & Version ?
2) Resolution of your display ?

I'm trying to reproduce it on wide viewport
![image](https://user-images.githubusercontent.com/1841796/151217813-7b861ee9-04c6-4cae-8fa4-9598a39c69f8.png)

[2022-01-26 18:15] sftim commented on #27840
More context, albeit archived: https://github.com/kubernetes/design-proposals-archive/blob/main/instrumentation/monitoring_architecture.md

[2022-01-26 18:45] sftim commented on #30516
/priority backlog

[2022-01-26 18:46] sftim commented on #30516
OK, so https://kubernetes.io/docs/concepts/storage/volumes/#projected already links to the right docs.

I suggest we expand that section to explicitly list the types of projected volumes, so that people doing a “find in page” do find the details they were looking for.

[2022-01-26 18:48] sftim commented on #30516
/retitle Document serviceAccountToken projected volumes

[2022-01-26 19:04] QWERTY92009 opened #31526 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/"
The instructions as written result in this error:

[code]

[2022-01-26 20:00] xens commented on #31497
I just pushed the first iteration inside #31527, based on the `main` branch, let me know if I need to switch to the `dev-1.24` branch. Also I'm not sure if there's a way to have a preview of the compiled file ? I've added a Mermaid diagram and I'm not sure if it'll render properly.

[2022-01-26 20:05] neolit123 commented on #31526
hi, what distribution / version are you using?
i have not seen this error on different Ubuntu versions.

does this solution work for you?
https://jonamiki.com/2019/11/09/ubuntu-the-following-signatures-couldnt-be-verified-because-the-public-key-is-not-available-no_pubkey/

we could add the solution in the docs if it works before the "Download the Google Cloud public signing key" step, but it's odd

[2022-01-26 20:27] rolfedh commented on #30919
@celestehorgan @mrbobbytables This is my first time contributing a new topic to kubernetes/website. From reading the contributor information and looking at the content structure, I'm guessing the deliverable should be a reference topic named `/kubernetes/website/content/en/docs/tasks/administer-cluster/migrating-from-dockershim/third-party-topics-on-dockershim-deprecation.md`. WDYT?

[2022-01-26 20:54] rolfedh commented on #30919
@celestehorgan Do I understand the user story for this task correctly:

"As a k8s admin, I want to a list of authoritative third-party articles on the dockershim deprecation and using alternative CRI-compatible runtimes."

Please clarify any missing user roles and stories.

How about including primary (Kubernetes) and secondary sources?

[2022-01-27 00:09] jihoon-seo commented on #31509
Hello @ravikiranr26 😊

Here is the info of my env:

- Windows 10 Enterprise 20H2
- Google Chrome 97.0.4692.99 (64bit)
- Monitor resolution: 3840 * 1600

Chrome window size:

[1868 * 1592]
![image](https://user-images.githubusercontent.com/46767780/148865726-c3ea26b3-a3f8-4978-a953-5badbc718a93.png)
[1868 * 1592]

---

[3767 * 1600]
![image](https://user-images.githubusercontent.com/46767780/148865

[2022-01-27 00:17] jihoon-seo commented on #31522
I think that this issue is more appropriate for https://github.com/kubernetes/kubectl or https://github.com/kubernetes/kubernetes . 😊

[2022-01-27 01:34] nekop opened #31530 "Clarify nested volume mount support"
In the Kubernetes document, it states that "Volumes cannot mount within other volumes" so the nested mount definition seems to be not supported.

https://kubernetes.io/docs/concepts/storage/volumes/#background

And there is an issue saying the nested mount not working for network type PVs:

https://github.com/kubernetes/kubernetes/issues/71800

However, the nested mount issue with projected volume

[2022-01-27 04:57] mehabhalodiya commented on #31497
Hey @xens

No need to switch to the `dev-1.24`. All good!

Yes, you can browse the preview. The [link](https://github.com/kubernetes/website/pull/31527#issuecomment-1022560425) is available.
Head over to the particular location where you have done the changes and you will be able to see everything. In this case: https://deploy-preview-31527--kubernetes-io-main-staging.netlify.app/docs/tasks/extend

[2022-01-27 04:58] mehabhalodiya commented on #31497
/sig docs

[2022-01-27 05:07] jihoon-seo commented on #30970
@chrisnegus Please note that
the TODO with `/tasks/administer-cluster/kubeadm/adding-windows-nodes.md` is already done in the PR #31309,
so it seems that all you have to do regarding this issue is to modify `/tasks/administer-cluster/reserve-compute-resources.md`. 😊

[2022-01-27 05:40] Kartik494 commented on #30807
/assign
I would like to work on this

[2022-01-27 05:46] seokho-son commented on #30845
@gochist 님~~ M13-M16 만 처리하면 branch switching에 들어갈 수 있을 것 같습니다.
혹시 진행 중이신가요? 아니라면, 제가 맡아서 빠르게 처리할까 합니다. 그럼 의견 주세요. ^^

[2022-01-27 06:55] jihoon-seo commented on #30846
이 이슈를 close할 때,
- #30056

도 함께 close하면 되겠습니다. 😊

[2022-01-27 06:57] jihoon-seo commented on #30832
이 이슈를 close할 때,
- #30735
- #31062

도 함께 close하면 되겠습니다. 😊
(각 이슈를 해결하는 PR들이 `dev-1.23-ko.1`에 merge 완료되었음)

[2022-01-27 07:43] xens commented on #31497
thanks @mehabhalodiya I've seen the netlify bot link after posting my comment :+1:

[2022-01-27 08:59] tapter-mwm opened #31535 "[fr] Broken link in docs/concepts/services-networking/ingress/"
Hi.

On this section of the french Ingress documentation, https://kubernetes.io/fr/docs/concepts/services-networking/ingress/#la-ressource-ingress, there seems to be a dead link at _la specification de la ressource ingress_.

French version seems outdated in comparaison with the english one.

Cheers 🇫🇷

[2022-01-27 09:07] sftim opened #31536 "seccomp tutorial does not list Docker prerequisite"
**This is a Bug Report**

**Problem:**
[Restrict a Container's Syscalls with seccomp](https://kubernetes.io/docs/tutorials/security/seccomp/) requires Docker so that you can run `kind`. The requirement is not explicit; if you had `kind` set up OK but using Podman, then you have met the prerequisites but the page does not work.

**Proposed Solution:**
List Docker as a prerequisite. Explain that you

[2022-01-27 09:23] neolit123 commented on #30970
The Docker installatiin steps (e.g. tabs) should not be removed. Instead we should talk about the cri-dockerd project. See the discussion in https://github.com/kubernetes/website/pull/31309

[2022-01-27 09:24] timothyclarke commented on #31215
@sftim yes that looks good. Thank you

[2022-01-27 09:24] #31215 closed

[2022-01-27 11:36] anubha-v-ardhan commented on #31535
Thank you for reporting this

The correct link should be: https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#spec-and-status

/triage accepted
/good-first-issue

[2022-01-27 11:40] praveenrewar commented on #31535
I would like to take this up.

[2022-01-27 11:40] anubha-v-ardhan commented on #31535
/retitle [fr] Broken link in docs/concepts/services-networking/ingress/

[2022-01-27 11:41] anubha-v-ardhan commented on #31535
/assign @praveenrewar
Thank you :)

[2022-01-27 11:41] anubha-v-ardhan commented on #31535
/language fr

[2022-01-27 11:43] anubha-v-ardhan commented on #31535
/language fr
/kind bug

[2022-01-27 12:04] #31484 closed

[2022-01-27 12:09] gamba47 commented on #31467
Hi guys! thanks for your time. I will close this issue since there is a pr.

[2022-01-27 12:09] #31467 closed

[2022-01-27 12:39] sftim commented on #31530
/sig storage

[2022-01-27 12:39] sftim commented on #31530
/sig node

[2022-01-27 12:40] sftim commented on #31522
I agree
/transfer kubectl

[2022-01-27 12:55] sftim commented on #31509
I can replicate this with Chromium and with Firefox.

[2022-01-27 12:56] sftim commented on #31509
/priority backlog

[2022-01-27 12:59] ravikiranr26 commented on #31509
@jihoon-seo  Thanks for the information. @sftim Please can you assign this issue to me.

[2022-01-27 13:01] sftim commented on #31509
@ravikiranr26 try this Prow command: /assign ravikiranr26
(reply in a comment with that command on a line by itself)

[2022-01-27 13:08] ravikiranr26 commented on #31509
/assign ravikiranr26

[2022-01-27 14:06] mtardy commented on #30717
I think we can now close this issue 🤗! I'm amazed at how fast the feedback and merging process was.

[2022-01-27 14:12] #30873 closed

[2022-01-27 14:48] gregth commented on #26485
@tengqm Which PR is the one mentioned? And what is its state?

I agree with this issue that there are certain behavior details that need to be documented, such as the one mentioned:

In general, I was unable to find sufficient information in the docs wrt to `spec.unschedulable` field, who should use it, who sets it, etc.

[2022-01-27 15:48] sftim commented on #30717
/close

[2022-01-27 15:48] sftim commented on #30717
Done in PR https://github.com/kubernetes/website/pull/31518

[2022-01-27 15:48] #30717 closed

[2022-01-27 16:02] sftim opened #31540 "Wrong capitalization for volume types"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/concepts/storage/persistent-volumes/#mount-options lists some volume types. The capitalization is wrong.

**Proposed Solution:**
Update the capitalization of the volume types listed in https://kubernetes.io/docs/concepts/storage/persistent-volumes/#mount-options to match the capitalization used in https://kubernetes.io/docs/concepts

[2022-01-27 16:03] sftim commented on #31540
/help
/language en

[2022-01-27 16:07] sftim opened #31541 "volume.beta.kubernetes.io/mount-options annotation missing from official list"
**This is a Bug Report**

**Problem:**
The volume mount mechanism in Kubernetes used to rely on an unregistered annotation. That annotation (`volume.beta.kubernetes.io/mount-options`) is already document, but isn't yet registered.

**Proposed Solution:**
Add `volume.beta.kubernetes.io/mount-options` to https://kubernetes.io/docs/reference/labels-annotations-taints/
(list it as deprecated)

**Page

[2022-01-27 18:01] habibrosyad commented on #28772
/remove-lifecycle stale

[2022-01-27 18:15] yashodhanmohan commented on #31310
The related PR has been approved and merged.

[2022-01-27 18:37] yashodhanmohan commented on #31540
I've raised a PR for this.

/assign

[2022-01-27 19:22] brunosaboia opened #31543 "Add multi-container info on docs/tasks/debug-application-cluster/determine-reason-pod-failure"
**This is a Feature Request**

**What would you like to be added**
The `go-template` example works well for a single-container pod. However, it is important for multi-container pods to know _which_ container failed.

The following `kubectl` command would show which container failed within the pod:

```kubectl get pod termination-demo -o go-template='{{range .status.containerStatuses}}{{printf "%s:

[2022-01-27 20:29] alexisgaziello opened #31544 "Improvement for k8s.io/docs/tasks/access-application-cluster/ingress-minikube/"
Although the recommended driver for Minikube is Docker, this tutorial doesn't work with Docker as a driver.

I lost some time until I restarted Minikube with:
`minikube start --driver=virtualbox `

I think the driver needed to complete the tutorial should be indicated.

[2022-01-27 20:53] chrisnegus commented on #30970
@jihoon-seo and @neolit123, thanks for tips. I'm just getting started on it.

[2022-01-27 21:49] chrisnegus commented on #30954
I believe that PR #31545 resolves this issue. So this can be closed when that PR merges.

[2022-01-27 22:10] chrisnegus commented on #30970
@jihoon-seo I just filed PR #31546. From what you said, I believe that all the issues listed are now being addressed.

[2022-01-28 02:10] mehabhalodiya commented on #31310
/close

[2022-01-28 02:10] #31310 closed

[2022-01-28 10:19] ugangir1 opened #31550 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/"
This document is not clear ...

[2022-01-28 10:24] ugangir1 commented on #31550
I have installed as per the link provided ..but i see the Nodes shows "Not ready" ..

Tried muliple ways ..but it was the same issue

ubuntu@Master:~$ kubectl get nodes
NAME     STATUS     ROLES                  AGE   VERSION
master   NotReady   control-plane,master   20m   v1.23.3
worker   NotReady   <none>                 16m   v1.23.3
ubuntu@Master:~$
ubuntu@Master:~$ kubectl get pods --all-nam

[2022-01-28 10:26] ugangir1 commented on #31550
I am completely new to Kubernets and followed the steps provided in the link ..

Its always shows Nodes are not Ready and when I check pods ..network pods are not online

kube-system   coredns-64897985d-9m5nq          0/1     Pending   0          21m
kube-system   coredns-64897985d-d29hj          0/1     Pending   0          21m
kube-system   etcd-master                      1/1     Running   0

[2022-01-28 10:41] neolit123 commented on #31550
/kind support

This sounds like you have missed the CNI plugin step in the same guide.

[2022-01-28 10:46] ugangir1 commented on #31550
Could you let me know the commands to run the CNI plugin please

[2022-01-28 10:48] ugangir1 commented on #31550
I have installed the CNI plugin using kubectl apply -f  <Yaml file> .... But exactly not sure which yaml file we need to use

[2022-01-28 10:57] neolit123 commented on #31550
Different cni plugins have different yaml files to pass to kubectl. Weave
net and Cilium are easy to install. If you have installed a plugin, are the
pods running now?
On Jan 28, 2022 12:48, "ugangir1" ***@***.***> wrote:

I have installed the CNI plugin using kubectl apply -f .... But exactly not
sure which yaml file we need to use

—
Reply to this email directly, view it on GitHub
<https://githu

[2022-01-28 11:11] ugangir1 commented on #31550
No the pods are not running ...

[2022-01-28 11:19] neolit123 commented on #31550
Please try asking on the support channels.
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

I do not see a docs issue here.
/close

[2022-01-28 11:20] #31550 closed

[2022-01-28 11:50] kohtala opened #31551 "Old versions of “Upgrade A Cluster” report wrong version details"
https://v1-21.docs.kubernetes.io/docs/tasks/administer-cluster/cluster-upgrade/ has the header "You are viewing documentation for Kubernetes version: v1.21". However the content tells "This page is about upgrading from Kubernetes 1.22 to Kubernetes 1.23. If your cluster is not currently running Kubernetes 1.22 then please check the documentation for the version of Kubernetes that you plan to upgra

[2022-01-28 11:51] guymenahem commented on #31451
/assign

[2022-01-28 11:53] RENATOVSABINO2020 opened #31552 "Issue with k8s.io/pt-br/docs/tutorials/kubernetes-basics/"
Meu bom amigo.... eu estou usando este espaço porque ainda não achei outro para dizer o que tenho que dizer.
Na verdade o que vou lhe dizer é o seguinte: Este para mim é o melhor, o mais esclarecedor e o mais legal site de informações sobre o assunto que eu já vi.... Poxa vida como sou grato por tamanha informação com uma imensa qualidade. O preciosismo foi levado muito a sério, enfim, eu só tenho

[2022-01-28 12:13] mayanksinghse opened #31553 "Kubernetes cluster become unresponsive after one node goes down"
We did setup of k8s cluster on datacenter with 2 master and 5 worker node by using kubeadm for initialization of cluster .Added Cluster config for reference.

kind: InitConfiguration apiVersion: kubeadm.k8s.io/v1beta3 localAPIEndpoint: advertiseAddress: VIP_ADDRESS --- kind: ClusterConfiguration apiVersion: kubeadm.k8s.io/v1beta3 kubernetesVersion: v1.22.0 controlPlaneEndpoint: "MANAGEMENT_VIP_ADD

[2022-01-28 12:50] neolit123 commented on #31553
You might be seeing https://github.com/kubernetes/kubeadm/issues/2567
Which is a missing etcd feature for checking single members vs whole
cluster health. Kubeadm is waiting on core k8s to support a version of etcd
that has it.

You can comment on that issue.

But also, even numbers of CP nodes do not make sense. You need min 3. Check
what quorum means in the etcd docs.

This is not a k/website is

[2022-01-28 12:51] #31553 closed

[2022-01-28 13:06] krvaibhaw commented on #31400
Fixed with #31401
/close

[2022-01-28 13:06] #31400 closed

[2022-01-28 13:22] #31535 closed

[2022-01-28 13:25] anubha-v-ardhan commented on #31552
/language pt-br

[2022-01-28 13:27] anubha-v-ardhan commented on #31552
/language pt

[2022-01-28 13:40] chrisnegus commented on #30952
@anubha-v-ardhan Thanks for taking this on. In my opinion, there are two issues to deal with here. The first is easy. Change "Docker image" to "container image". I believe the second instance refers to a legacy Docker feature called [links](https://docs.docker.com/network/links/). I think it is safe to just remove that sentence.

[2022-01-28 13:55] chrisnegus commented on #30976
@shannonxtreme Are you covering everything listed in this issue? If so, I'd like to move this from backlog to in-flight in the dockershim project board, so nobody else tries to work on this.

[2022-01-28 14:00] chrisnegus commented on #30953
Hi @SaarthakMaini Thanks for jumping in to help. Before you can have a PR accepted you need to sign the [Kubernetes CLA](https://github.com/kubernetes/community/blob/master/CLA.md).

[2022-01-28 14:21] chrisnegus commented on #30927
@sftim It looks like the Docker reference has been removed from the page pointed to in this issue. Do you think more work still needs to be done here, like adding a link to the page you noted?

[2022-01-28 14:41] omaidb opened #31555 "Linux 系统中的 bash 自动补全功能"
Ubuntu18.04按照教程配置完kubectl自动补全后,按下tab键,不能补全,而且报错.
![image](https://user-images.githubusercontent.com/18365223/151566374-f8a196b9-4b44-433c-b915-f2066781cb30.png)

[2022-01-28 16:39] mehabhalodiya commented on #30898
What to do with these? @kubernetes/sig-docs-en-owners

For Network plugin requirements, update the URL in the link to the CRI equivalent (perhaps k8s.io/cri-api/pkg/apis/runtime/v1, not sure)

I am asking as @shannonxtreme is not sure.

[2022-01-28 16:50] anubha-v-ardhan commented on #30952
Thankyou @chrisnegus :)
I'll make a PR by tomorrow

/assign

[2022-01-28 17:06] #29588 closed

[2022-01-28 17:38] RA489 commented on #29760
/remove-lifecycle rotten

[2022-01-28 18:03] mehabhalodiya commented on #28721
Closing as all mentioned issues are addressed.
/close

[2022-01-28 18:04] #28721 closed

[2022-01-28 18:18] mehabhalodiya commented on #30842
/sig docs

[2022-01-28 18:19] mehabhalodiya commented on #30842
/triage accepted

[2022-01-28 19:35] shannonxtreme commented on #15560
/remove-lifecycle stale

[2022-01-28 19:36] shannonxtreme commented on #30976
@chrisnegus yes, thank you!

[2022-01-28 23:40] jihoon-seo commented on #31555
See: https://stackoverflow.com/questions/50406142/kubectl-bash-completion-doesnt-work-in-ubuntu-docker-container
/kind support

[2022-01-28 23:51] jihoon-seo commented on #31551
/triage accepted
/kind bug

Related issues:
- #27525
- #28000
- #29467
- #29520
- #29538
- #29725

Related PRs:
- ~#27540~
(see #29746 instead)
- ~#27541~
(see #29746 instead)
- ~#27542~
(see #29746 instead)
- #29009
- #29746
- #29754
- #29758

[2022-01-29 07:28] Midas847 commented on #30953
#31520

[2022-01-29 09:48] #30671 closed

[2022-01-29 09:50] #30713 closed

[2022-01-29 15:01] lparis opened #31557 "Validate node setup"
What does "Work out" mean in this context? Step 1 is confusing. https://kubernetes.io/docs/setup/best-practices/node-conformance/#running-node-conformance-test

[2022-01-29 20:21] PriyanshuAhlawat commented on #31502
/assign

[2022-01-29 23:34] churnikorn opened #31560 "Services, Load Balancing, and Networking"

[2022-01-29 23:38] churnikorn commented on #31560
This section is causing some confusion for me. Does it mean that only on a Linux host network does Kubernetes require that pods communicate with pods in other nodes without NAT? Can the first portion here be amended to just state it only applied to Linux if that is the case? I don't understand the distinction between the first point in the first section and the point in the second section.

Help m

[2022-01-30 01:21] abhinavkshitij opened #31561 "Issue with k8s.io/docs/tutorials/kubernetes-basics/expose/"
NodePort does not work when I replicate the same tutorial on my MacBook with Docker, although this issue does not arise with hyperkit. I am quite sure I have followed the steps outlined in the tutorial but the curl-ing into the minikube ip:$NODE_PORT hangs up every single time.

Steps:
`minikube start --disk-size 2000mb`
`kubectl create deployment kubernetes-bootcamp --image=gcr.io/google-samples/

[2022-01-30 03:39] bryfry opened #31562 "Documentation references --service-account-signing-key flag that doesn't exist"
**This is a Bug Report**

**Problem:**

Documentation for cli tool kube-apiserver [[1](https://github.com/kubernetes/website/blob/main/content/en/docs/reference/command-line-tools-reference/kube-apiserver.md)] references `service-account-signing-key` flag which doesn't exist. The intended documentation should reference the `service-account-signing-key-file` flag.  The cli tool implementation [[2](

[2022-01-30 07:33] anubha-v-ardhan commented on #31561
/kind support

[2022-01-30 07:34] anubha-v-ardhan commented on #31560
/kind support

[2022-01-30 10:57] mehabhalodiya commented on #30999
/triage accepted

[2022-01-30 12:01] jihoon-seo commented on #31562
/assign @bryfry
/triage accepted

[2022-01-30 12:05] jihoon-seo commented on #31396
/assign @amej

[2022-01-30 13:48] #30782 closed

[2022-01-30 13:50] #30867 closed

[2022-01-30 13:52] #30872 closed

[2022-01-30 13:54] #30871 closed

[2022-01-30 15:33] scottstout commented on #21621
/remove-lifecycle stale

[2022-01-30 18:38] vaibhav2107 commented on #29893
/remove-lifecycle stale

[2022-01-30 22:07] sftim commented on #29864
Solved
/close

[2022-01-30 22:08] #29864 closed

[2022-01-30 22:24] #30807 closed

[2022-01-30 22:55] sftim commented on #29107
/retitle Feedback on grammar in Service concept page

[2022-01-30 22:57] sftim commented on #31562
/retitle Documentation references --service-account-signing-key flag that doesn't exist

[2022-01-30 22:58] sftim commented on #31562
This is now essentially a duplicate of https://github.com/kubernetes/kubernetes/issues/107862

[2022-01-30 23:01] sftim commented on #31557
/retitle Guide to running node conformance tests is confusing

If making changes to that guide, I suggest we fix it and then also move it to live within https://kubernetes.io/docs/tasks/ (because checking node conformance is not only relevant during initial cluster setup).

/sig node
/kind bug
/language en

[2022-01-30 23:02] sftim commented on #31560
@churnikorn, GitHub is not the right place for support requests.

For help, you could try [Server Fault](https://serverfault.com/?tags=kubernetes).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

[2022-01-30 23:10] sftim commented on #27338
It's fixed. I checked.
/close

[2022-01-30 23:10] #27338 closed

[2022-01-31 03:58] amej commented on #31396
The issue is fixed with #31566 .

[2022-01-31 04:00] amej commented on #31396
/triage accepted

[2022-01-31 04:03] amej commented on #31396
/remove-triage

[2022-01-31 04:09] amej commented on #31396
The issue can be closed because the relevant PR has been merged.  I will like to perform 2 activities on this issue before closure
 1.  In the subsection  "Linked pull requests Successfully merging a pull request may close this issue. " ,  add the link to the PR.
 2.  Remove the "needs-triage" label
As seen from my comments, my attempts have failed.  How do I achieve the above 2 actions?

[2022-01-31 09:06] sftim commented on #31396
/triage accepted

[2022-01-31 09:10] sftim commented on #31396
@amej, would you be interested in [joining the Kubernetes organization](https://github.com/kubernetes/org/issues/new?assignees=&labels=area%2Fgithub-membership&template=membership.yml&title=REQUEST%3A+New+membership+for+amej)? If so, ask in Slack - see https://slack.k8s.io/ for an overall invitation, or https://kubernetes.slack.com/messages/sig-docs for the SIG Docs channel - folks will be happy t

[2022-01-31 09:12] sftim commented on #31561
This _might_ be more of a docs issue than a support request. I'm not sure.

@abhinavkshitij am I right that you can follow the tutorial OK using the online console, but not locally?

[2022-01-31 10:48] yashodhanmohan commented on #31540
The PR is merged so this can be resolved I guess.

[2022-01-31 11:27] neolit123 opened #31575 "add minimal example for the "kubeadm kubeconfig user" command"
The command only has Cobra (CLI) documentation and there are no pointers on what fields are relevant in the configuration passed with --config to it:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-kubeconfig/

Add a minimal example + config for the command usage on this page:
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/

/sig cluster-lifecycle
/kind

[2022-01-31 11:27] neolit123 commented on #31575
/triage accepted

[2022-01-31 11:34] #31248 closed

[2022-01-31 12:08] #31341 closed

[2022-01-31 12:37] chris-short commented on #31394
/close

[2022-01-31 12:37] #31394 closed

[2022-01-31 12:51] mtardy commented on #30809
It piqued my curiosity, and the label was added by [this commit](https://github.com/kubernetes/pod-security-admission/commit/2af9478d1ba2cf23267d020b0c3f3edf54a5a445) (link in the mirror repo). It's an audit annotation that it's returned [in the response](https://github.com/kubernetes/pod-security-admission/blob/2af9478d1ba2cf23267d020b0c3f3edf54a5a445/admission/admission.go#L473) of the admission

[2022-01-31 13:02] sftim commented on #31543
/language en
/triage accepted
/priority backlog

[2022-01-31 13:07] sftim opened #31576 "Document built-in audit annotations"
**This is a Bug Report**

**Problem:** Kubernetes auditing uses (at least) two unregistered, undocumentated annotations:
- `authorization.k8s.io/decision`
- `authorization.k8s.io/reason`

We should document these.

**Proposed Solution:**
Register and document these annotations. If there are other annotations used by the audit mechanism, document these too.

**Page to Update:**
https://kubernetes.i

[2022-01-31 13:08] sftim commented on #31576
Issue #30809 highlights that audit annotations are a thing. I don't think any of these are documented yet.

[2022-01-31 13:10] sftim commented on #30809
@mtardy if you're willing to expand this issue to cover all the audit annotations that Pod Security admission sets, that's even better.

[2022-01-31 13:11] sftim commented on #31575
/language en

[2022-01-31 13:12] sftim commented on #31551
I have a feeling this is two separate issues.

@kohtala would you be willing to file a separate issue about the inaccurate API reference for v1.21? We can leave this one to cover the misleading version details in old versions of https://kubernetes.io/docs/tasks/administer-cluster/cluster-upgrade/

[2022-01-31 13:13] sftim commented on #31536
/sig node
/sig security

[2022-01-31 13:14] draksha22 commented on #31424
/assign

[2022-01-31 17:10] #31424 closed

[2022-01-31 19:19] mtardy commented on #30809
Yes, that would be a good idea, I found [the PR that added these annotations](https://github.com/kubernetes/kubernetes/pull/105908). There are three annotations added by this change in the audit logs:
- `pod-security.kubernetes.io/exempt`
- `pod-security.kubernetes.io/audit-violations`
- `pod-security.kubernetes.io/enforce-policy`

I think I can start writing the doc, I explored the commits, the c

[2022-01-31 21:48] SergeyKanzhelev opened #31580 "Explicitly say that the "default" PodOverhead is not supported"
/sig node
/priority important-longterm
KEP: kubernetes/enhancements#688

See https://github.com/kubernetes/enhancements/pull/3146#issuecomment-1026032567

/lang en

[2022-01-31 22:53] sftim commented on #31580
/language en
/triage accepted
/lifecycle frozen

If picking this up, check that the situation hasn't changed in the time since - it's possible that defaulting for pod overhead and / or RuntimeClass has been added since this comment.

Thanks @SergeyKanzhelev

[2022-01-31 23:45] #31509 closed

[2022-01-31 23:54] nate-double-u commented on #31422
closed with #31421

/close

[2022-01-31 23:54] #31422 closed

[2022-02-01 00:55] #30952 closed

[2022-02-01 02:03] kbhawkey commented on #31576
/triage accepted

[2022-02-01 02:04] kbhawkey commented on #31536
/triage accepted

[2022-02-01 07:26] kohtala opened #31583 "Inaccurate Pod securityContext API reference for v1.21"
**This is a Bug Report**

**Problem:**

https://v1-21.docs.kubernetes.io/docs/reference/kubernetes-api/workload-resources/pod-v1/ has the header "You are viewing documentation for Kubernetes version: v1.21", but contains securityContext.allowPrivilegeEscalation. I have a cluster in 1.21.7 version in AKS, but `kubectl explain Pod.spec.securityContext` does not list the field.

This is split from #3

[2022-02-01 07:27] kohtala commented on #31551
Thank you. I created new issue #31583.

[2022-02-01 07:27] mk46 opened #31584 "Kubelet flag's docs should render links."
There are more than 100 links like
https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config-file/ , is not rendering in https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/

**Expectation**: Links in kubelet flag's docs should not be treated as text.

**Page to Update**: https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/

[2022-02-01 07:28] mk46 commented on #31584
/kind support
@sftim

[2022-02-01 09:57] sftim commented on #31584
/remove-kind support
/language en
/kind feature

/uncc
(anyone can contribute further to this issue)

[2022-02-01 10:04] sftim opened #31585 "Remove page “Reconfigure a Node's Kubelet in a Live Cluster”"
**This is a Cleanup Request**

**What would you like to be removed**
Remove https://kubernetes.io/docs/tasks/administer-cluster/reconfigure-kubelet/

**Why is this needed**
v1.24 of Kubernetes will remove the dynamic kubelet config feature (deprecated since Kubernetes v1.22)

**Comments**
/sig node
/language en
/milestone 1.24

[2022-02-01 10:05] sftim commented on #31585
See https://github.com/kubernetes/kubernetes/pull/106932

[2022-02-01 10:25] draksha22 commented on #31584
/assign

[2022-02-01 11:21] MdSahil-oss commented on #31585
/assign

[2022-02-01 11:23] sftim commented on #31585
BTW Any PR for this should target the branch _dev-1.24_

[2022-02-01 11:35] MdSahil-oss commented on #31585
Okay... But I want to clear that you want me to remove the entire page https://kubernetes.io/docs/tasks/administer-cluster/reconfigure-kubelet/ from "Administer a Cluster" . Am I Right ?

[2022-02-01 12:37] sftim opened #31588 "Annotation kubernetes.io/description not registered or documented"
**This is a Bug Report**

**Problem:**
Kubernetes [uses](https://github.com/kubernetes/kubernetes/blob/954fa57f0ead10b520328e1b936912290ced62ee/pkg/controller/certificates/rootcacertpublisher/publisher.go#L43) an annotation, `kubernetes.io/description`, that is not registered or documented.

**Proposed Solution:**
Register and document this annotation.

**Page to Update:**
https://kubernetes.io/do

[2022-02-01 12:43] maciejburzynskigft opened #31589 "Running Automated Tasks with a CronJob"
Incorrect apiversion for cronjob
Currently : apiVersion: batch/v1
Correct: apiVersion: batch/v1beta1
Link : https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/

[2022-02-01 13:31] draksha22 commented on #31589
/assign

[2022-02-01 14:03] sftim commented on #31589
/kind support

@maciejburzynskigft make sure that you select the version of the Kubernetes documentation that matches your cluster's version of Kubernetes. Visit https://kubernetes.io/docs/home/supported-doc-versions/ to see which versions are documented.

[2022-02-01 14:20] haripriya1909 commented on #30725
/assign

[2022-02-01 14:21] haripriya1909 commented on #31589
/assign

[2022-02-01 14:35] maciejburzynskigft commented on #31589
Checking on KodeKloud env from udemy course made by @mmumshad

[2022-02-01 15:22] #31235 closed

[2022-02-01 15:29] sftim commented on #29667
/remove-lifecycle stale

Help is welcome!

[2022-02-01 15:30] sftim commented on #29667
/kind cleanup
/remove-kind feature

[2022-02-01 15:30] sftim commented on #29667
/priority backlog

[2022-02-01 16:36] #30100 closed

[2022-02-01 16:43] yashodhanmohan commented on #30966
The related PR has been merged so this can be closed I believe. :+1:

[2022-02-01 16:46] #30966 closed

[2022-02-01 17:09] amej commented on #31396
I am interested. I will start the process.

[2022-02-01 17:10] #31396 closed

[2022-02-01 18:44] chalin commented on #31043
/assign

I don't know if the command above will work. If it doesn't @sftim or @nate-double-u can you assign this to me? I've started working on this now.

[2022-02-01 18:46] neolit123 commented on #31168
/close
fixed in https://github.com/kubernetes/website/pull/31325

[2022-02-01 18:46] #31168 closed

[2022-02-01 18:47] jgreat opened #31592 "Add node-role to Well-Known Labels, Annotations and Taints"
There doesn't seem to be any details on the `node-role.kubernetes.io/<role>` label and what I believe is now deprecated, `kubernetes.io/role` label.

I'd like to know the official guidance on setting these labels and information about deprecation of `kubernetes.io/role=master` and when `node-role.kubernetes.io/master=""` is transitioning to `node-role.kubernetes.io/control-plane=""`

[2022-02-01 18:48] neolit123 commented on #31038
/help

[2022-02-01 18:51] neolit123 commented on #28788
/remove-help
/assign

[2022-02-01 19:12] nate-double-u commented on #31043
Thanks @chalin!
(and the `/assign` looks to have worked 🙂)

[2022-02-01 19:19] sftim commented on #30613
Duplicated by #31952

[2022-02-01 19:20] sftim commented on #31592
/triage duplicate
@jgreat we have an issue about this already - would you like to help work on that?
/language en

[2022-02-01 19:22] neolit123 commented on #31592
there is an open PR for these here:
https://github.com/kubernetes/website/pull/31391

[2022-02-01 19:24] jgreat commented on #31592
Thanks, that's the info I was looking for.  I'll close this one in favor of 30613.  Sorry for the noise.

[2022-02-01 19:24] #31592 closed

[2022-02-01 19:51] Stergios13 commented on #31540
Hello. i would like to contribute. I am a newcomer but i know some html code in order to correct the capitalization you ask for.

[2022-02-01 20:02] roy-work opened #31596 "Under what conditions is a pod not ready?"
**This is a Bug Report**

**Problem:** the docs don't fully describe the circumstances under which a pod is not ready

For example, today, I had a pod transition to not ready, i.e., `status.conditions` contained,
[code]
& I'd like to know why. Weirdly, in this case, all (one) containers _are_ ready, so I'm looking at something unusual.

<details>
<summary><tt>status.containerStatuses</tt> from tha

[2022-02-01 20:26] chrismetz09 commented on #27876
@sftim, is this issue still open? If so, I would like to work on it. Lack of API docs keeps me up at night.😧

[2022-02-01 22:56] mickeyboxell commented on #30918
Does this blog look like a good candidate for inclusion in the 1.24 deprecations and removals blog post?

[2022-02-01 22:59] chrisnegus commented on #30946
I don't see mentions of Docker in either of the two links mentioned above. I believe they have been taken care of by [PR #29227](https://github.com/kubernetes/website/pull/29227/files). I think this can be closed.

[2022-02-01 23:01] chrisnegus commented on #30946
/close

[2022-02-01 23:02] #30946 closed

[2022-02-02 03:51] #28989 closed

[2022-02-02 04:58] RA489 commented on #31544
@alexisgaziello I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

T

[2022-02-02 04:59] RA489 commented on #31544
/triage needs-information

[2022-02-02 05:10] RA489 commented on #31499
/sig cluster-lifecycle

[2022-02-02 09:59] sftim commented on #31540
/close

Fixed in #31542

[2022-02-02 09:59] #31540 closed

[2022-02-02 10:02] sftim commented on #31596
/remove-kind bug
/kind feature
/language en
/sig node

My take on the feature request is: add a new reference page that lists all conditions that can apply to a Pod (and undertake to keep this up to date).

[2022-02-02 11:49] sftim commented on #27876
@chrismetz09 the issue _is_still open

/remove-lifecycle stale

[2022-02-02 11:49] sftim commented on #27876
/triage accepted

[2022-02-02 11:49] sftim commented on #27876
/priority important-longterm

[2022-02-02 11:58] sftim commented on #31589
/close

Documentation for Kubernetes v1.23 correctly recommends using the generally available v1 API for CronJob.
Older Kubernetes clusters may not have the stable v1 API available, but that is not a bug in the v1.23 Kubernetes docs.

[2022-02-02 11:59] #31589 closed

[2022-02-02 13:01] sftim commented on #30918
I think what you're suggesting is that we aim publish _this_ article ahead of the v1.24 deprecations and removals blog post, and then have the 1.24 deprecations and removals blog post hyperlink to this article. Is that right?

if so, @mickeyboxell, that does sound like a good idea.

[2022-02-02 13:19] adrianludwin commented on #31479
See also https://github.com/cncf/tag-app-delivery/issues/193

[2022-02-02 13:51] #29622 closed

[2022-02-02 16:12] amye commented on #30918
Sorry, I think there's been a miscommunication on this! This is not a thing that I can carry, this is something that the release team should work with.
What I _can_ do is work with the CNCF PR team if you need them to be able to publicize this.

[2022-02-02 16:18] nate-double-u commented on #30917
/cc @mickeyboxell

[2022-02-02 16:46] anubha-v-ardhan opened #31600 "[hi] config.toml is not localized for Hindi"
**This is a Bug Report**

**Problem:**
Parts of config.toml are not localized in Hindi.

**Proposed Solution:**
Localize `[langauges.hi]` section as following
[code]
**Page to Update:**
https://github.com/kubernetes/website/blob/main/config.toml#L430

/kind bug
/good-first-issue
/triage accepted

[2022-02-02 16:48] anubha-v-ardhan commented on #31600
/langauge hi

[2022-02-02 16:49] anubha-v-ardhan commented on #31600
/language hi

[2022-02-02 17:44] #31043 closed

[2022-02-02 18:09] sftim commented on #30839
The list in #31528 might be a good start.

[2022-02-02 18:10] sftim commented on #29680
/remove-lifecycle rotten

[2022-02-02 18:11] sftim commented on #30965
@enraiha0307 that's my understanding. If you use a container runtime that's not docker and also not one of the ones you listed, that's also fine.

[2022-02-02 18:14] sftim commented on #30912
@Kartik494 perhaps you could explain your question more?

The page at https://kubernetes.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/ is out of date, and we need to fix it. Someone can check that it is fixed by performing the task and observing that you can complete it without any issue.

[2022-02-02 18:40] SergeyKanzhelev commented on #31557
/assign @hh

Can you please help with this?

[2022-02-02 18:43] kranurag7 commented on #31600
/assign

[2022-02-02 18:49] SergeyKanzhelev commented on #31557
/triage accepted

[2022-02-02 19:06] chalin commented on #31426
Sorry y'all, I hadn't seen this issue before I created #31043. It turns out that there's a clean solution that doesn't involve changes to the blog template.

Anyhow, this has been closed by #31594. /cc @sftim @nate-double-u

[2022-02-02 19:08] nate-double-u commented on #31426
/close

Thanks @chalin!

[2022-02-02 19:08] #31426 closed

[2022-02-02 19:09] chalin opened #31601 "ja/blog marked as outdated -- Hugo or docsy bug?"
_Originally posted by @chalin in https://github.com/kubernetes/website/issues/31594#issuecomment-1028266049_

[2022-02-02 22:49] mitul3737 opened #31605 "Localize Kubernetes website into Bengali"
We can add the Bengali language which is used spoken by more than [230 million people ](https://en.wikipedia.org/wiki/Bengali_language)

Again, we are working with CNCF's  glossary  project with the Bengali Language: https://github.com/cncf/glossary/tree/dev-bn

Please do allow me to work on the Bengali language

[2022-02-03 02:37] vickykushwaha commented on #31600
Assign me I can fix it

[2022-02-03 02:43] vickykushwaha commented on #31561
triage/accepted

[2022-02-03 06:27] mk46 commented on #31491
Hi @Chaz6, You can build `kubectl` by source with below steps
[code]

[2022-02-03 06:33] Kartik494 commented on #30912
@sftim For new users it might seems confusing from where they are getting storage class named `manual`, i think we should add a note for clarification , but not sure on this

[2022-02-03 07:26] haripriya1909 commented on #31186
/assign

[2022-02-03 09:14] sftim commented on #31601
I think it's fine. If we want to fix it, we can localize an important blog article (eg the one about dockershim removal) to Japanese, and the symptoms disappear.

[2022-02-03 13:53] sftim commented on #31601
Also, it's not a Docsy bug; it's an issue specific to how we're customizing our theme.
/area web-development
/area blog

[2022-02-03 13:54] sftim commented on #31605
/language bn
/kind feature
/priority backlog

[2022-02-03 13:55] sftim commented on #31605
We can add that label when the work is beginning to get under way (draft PRs open from at least 2 different contributors).

[2022-02-03 13:55] sftim commented on #31605
/retitle Localize Kubernetes website into Bengali

[2022-02-03 13:57] sftim commented on #31605
@mitul3737 anyone can start a localization. You will need *at least* one other person who speaks the new language well, and you the people taking a lead on the work need to include reviewers who also a good understanding of English, so that you can each check one another's work.

https://kubernetes.io/docs/contribute/localization/#start-a-new-localization covers what to do.

[2022-02-03 15:04] sftim opened #31612 "Document node feature discovery annotations"
**This is a Feature Request**

**What would you like to be added**
https://github.com/kubernetes-sigs/node-feature-discovery/ uses annotations matching `nfd.node.kubernetes.io/*`
Document these.

**Why is this needed**
I'm not _sure_ it is. However, other official Kubernetes annotations are registered and documented in https://kubernetes.io/docs/reference/labels-annotations-taints/

**Comments**
/

[2022-02-03 15:44] mitul3737 commented on #31605
@sftim  We have almost 4 people on our team talking in the Bengali Language. I will then start to work with the localization team

[2022-02-03 16:07] Mouly22 commented on #31605
@sftim @mitul3737  I am interested

[2022-02-03 16:34] ikramulkayes commented on #31605
@sftim  @mitul3737  I want to work too.

[2022-02-03 18:59] mitul3737 commented on #31605
@sftim  , we have @Mouly22 , @ikramulkayes also ready  for the task 😁

[2022-02-03 23:52] gochist commented on #30845
제가 잊고서 진행을 막고 있었군요. 매우 죄송합니다. @seokho-son 님께서 진행 가능하실까요.

[2022-02-04 00:15] mafaulkner opened #31615 "Documentation Style Guide"
I'm editing a training course (Architecting Hybrid and Multi-Cloud Infrastructure with Anthos v2.0) that uses many GKE terms, but I can't find an authoritative source for issues like capitalization and initialisms. For example, I'm seeing "Multi-cluster Gateways (MCG)" and "Multi-cluster Services (MCS)."

Any information would be appreciated.

[2022-02-04 00:22] jihoon-seo commented on #31583
[Result of execution of mine]

[code]

[code]

[code]

[2022-02-04 01:29] jihoon-seo commented on #31583
/remove-kind bug

[2022-02-04 01:34] jihoon-seo commented on #31615
You might have seen these already, but:
- https://cloud.google.com/kubernetes-engine/docs/concepts/multi-cluster-services
- https://cloud.google.com/kubernetes-engine/docs/how-to/multi-cluster-services
- https://cloud.google.com/kubernetes-engine/docs/how-to/enabling-multi-cluster-gateways

[2022-02-04 01:48] seokho-son commented on #30845
@gochist 아닙니다~ :) 제가 잘 못 챙기고 있었어요 ㅎㅎ

일단 제가 빠르게 처리해서 PR 올려보도록 하겠습니다.
이따가 리뷰 및 승인을 부탁 드릴게요! :)

[2022-02-04 06:06] #29155 closed

[2022-02-04 06:52] seokho-son commented on #30845
@gochist #31617 올렸습니닷 ! :)

[2022-02-04 07:17] jatinTyagi98 commented on #31615
@mafaulkner can you elaborate what specifically is the yield. Are you looking for a format or some documents around the topics you mentioned ?

[2022-02-04 07:24] jatinTyagi98 commented on #31600
@anubha-v-ardhan I am new to kubernetes . I want to work on this issue . I just want to ask , do I just need to add a word hindi(in hindi language) there ?

[2022-02-04 07:31] kranurag7 commented on #31600
@jatinTyagi98 I have created a PR for this issue. Meanwhile welcome to the community and make sure that you join slack channel.
If you are interested in localisation then there is a channel `kubernetes-docs-hi` in k8s slack. Make sure you join that.

[2022-02-04 07:31] kranurag7 commented on #31600
@jatinTyagi98 If you get stuck somewhere feel free to ping me back.

[2022-02-04 07:58] krvaibhaw opened #31618 "Update Portuguese content to mention KubeCon 2022 conference"
**This is a Bug Report**

**Problem:**

These KubeCon conferences are already over but we still have :

- KubeCon em Barcelona on Maio 20-23, 2019
- KubeCon em Shanghai em Junho, 24-26 de 2019

**Proposed Solution:**

Needs to be updated to :

- KubeCon na Europa de 16 a 20 de maio de 2022
- KubeCon na América do Norte de 24 a 28 de outubro de 2022

**Reference:**

- https://events.linuxfoundation

[2022-02-04 07:58] theanshi commented on #31618
/assign

[2022-02-04 07:59] krvaibhaw commented on #31618
/language pt-br

[2022-02-04 08:01] krvaibhaw commented on #31618
/language pt

[2022-02-04 08:07] krvaibhaw commented on #31618
/triage accepted

[2022-02-04 08:09] jatinTyagi98 commented on #31618
/assign

[2022-02-04 08:22] jatinTyagi98 commented on #31618
@theanshi I think your pr is not accepted yet !

[2022-02-04 09:24] sftim commented on #31615
/kind support

/retitle Advice on technical writing style for Google Cloud

[2022-02-04 09:24] sftim commented on #31615
This is the Kubernetes project. Google Cloud documentation, and the related style guide, are not part of Kubernetes.

[2022-02-04 10:09] #29627 closed

[2022-02-04 10:33] Veercodeprog commented on #29929
how to mark it fresh

[2022-02-04 10:33] Veercodeprog commented on #29929
guide me ,i work on it

[2022-02-04 10:55] kohtala commented on #31583
Ah. Thank you.

I missed there is PodSecurityContext and SecurityContext. The titles read now _Security context_ and _Security Context_ with slight difference in case. I'm not trying to deny this is my bad reading and assumptions _allowPrivilegeEscalation_ would apply to containers from Pod context consistently like seccompProfile does. I searched the page for _allowPrivilegeEscalation_, but did n

[2022-02-04 12:15] mk46 commented on #31588
I would like to work on this.

[2022-02-04 12:15] mk46 commented on #31588
/assign

[2022-02-04 13:05] guettli commented on #28967
I think "how to `docker commit` in K8s?" is a FAQ and should be answered somewhere.

[2022-02-04 13:32] sftim commented on #28967
@guettli we have an issue you can use to discuss and report issues connected to the removal of dockershim: `https://github.com/kubernetes/kuberetes/issues/106917`

You can also log a new feature request, something like “document equivalent of docker commit for development on Kubernetes”. To do that, visit https://github.com/kubernetes/website/issues/new/choose

[2022-02-04 13:37] sftim commented on #28967
/reopen
/retitle Highlight development tools for that get feedback from running code within Kubernetes
/remove triage needs-information
/priority awaiting-more-evidence
/kind feature

We don't have a focus on documenting external tools (there's enough work on documenting Kubernetes itself that takes priority), but anyone who wants to work on this issue is welcome to; that's a benefit of open sourc

[2022-02-04 13:38] sftim commented on #28967
/language en
/remove-triage needs-information

[2022-02-04 13:38] sftim commented on #28967
/remove-lifecycle stale

[2022-02-04 14:46] #31451 closed

[2022-02-04 15:30] sftim commented on #31043
/triage duplicate

[2022-02-04 16:58] mickeyboxell commented on #30918
@katcosgrove This was the post we chatted about.

[2022-02-04 17:14] #27068 closed

[2022-02-04 18:58] afbjorklund commented on #30974
Visual summary:

![dockershim-to-cri-dockerd](https://user-images.githubusercontent.com/10364051/152586755-ba6879d6-0e23-43ca-92a0-a7b9df91d235.png)

The top diagram would be when running Kubernetes 1.23, and the bottom diagram would be when running Kubernetes 1.24

The docker installation (`docker.service`) stays the same, the only introduction is the new cri-dockerd (`cri-docker.service`)

[2022-02-04 20:50] quynhdang-vt commented on #30912
SO did I -- deleting, uninstall, reinstall, redeployment still show the same error.

[2022-02-04 21:02] rakarakhi opened #31625 "Network Plugins: Earlier all the Network Plugins for Pod Network was part of Kubernetes.io sub-pages. Now the installation is in a different page - major issue for CKA Aspirants"
**Network Plugins: Earlier all the Network Plugins for Pod Network was part of Kubernetes.io sub-pages. Now the installation is in a different page - major issue for CKA Aspirants**

- It will be great the bring back the same structure back to kubernetes.io, so CKA aspirants can get get the right command and install instructions under kubernetes.io.

- This will be very helpful and needed immediat

[2022-02-04 21:08] rakarakhi commented on #31625
Kindly review the page:
https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins/

`Network Plugins
Network plugins in Kubernetes come in a few flavors:

CNI plugins: adhere to the [Container Network Interface](https://github.com/containernetworking/cni) (CNI) specification, designed for interoperability.
Kubernetes follows the [v0.4.0](https://github.com/container

[2022-02-05 02:10] mafaulkner commented on #31615
Ji-hoon Seo's comment was helpful. We want to match the style of any product/service we're writing about. Thank you.

[2022-02-05 06:31] MikeSpreitzer opened #31632 "APF does not introduce LimitResponseTypeReject properly"
**This is a Bug Report**

**Problem:**
The possibility that a priority level can be configured to reject excess requests rather than queue them should be mentioned when priority levels and queuing are introduced, not unmentioned (as it currently is) until the relevant detail of PriorityLevelConfigurationSpec is discussed.

**Proposed Solution:**
See problem.

**Page to Update:**
https://kubernetes

[2022-02-05 06:31] MikeSpreitzer commented on #31632
/sig api-machinery
@deads2k
@tkashem
@wojtek-t
@lavalamp

[2022-02-05 06:33] MikeSpreitzer opened #31633 "APF description does not mention special considerations for LIST and WATCH"
**This is a Bug Report**

**Problem:**
The page describing API Priority and Fairness does not mention the special handling given to LIST and WATCH requests.

**Proposed Solution:**
Add the missing description.

**Page to Update:**
https://kubernetes.io/docs/concepts/cluster-administration/flow-control/

/sig api-machinery
@wojtek-t
@tkashem
@deads2k
@lavalamp

[2022-02-05 10:56] sftim commented on #31633
/triage accepted
/language en

[2022-02-05 13:43] winkee01 commented on #30912
I tried to delete PV & PVC, but unfortunately, I can create PV & PVC without error, thus not being able to recreate your errors. I don't know why. So, to my understanding at this point, if you specify a non-exist SC in PV, it virtually defines it, and you can specify it in PVC so that they can be bound. But I have no idea why the error says "manual not found". Very misleading and confusing error i

[2022-02-05 14:49] edithturn commented on #13948
@raelga @electrocucaracha por favor podrían asignarme estos dos :)
**Storage:**
* Ephemeral Volumes
* Storage Limits

[2022-02-06 01:06] jihoon-seo commented on #30845
PR #31637 : merged 36 commits into `main` from `dev-1.23-ko.1`
/close

[2022-02-06 01:07] #30845 closed

[2022-02-06 01:11] jihoon-seo commented on #30832
PR #31637 merged 36 commits into `main` from `dev-1.23-ko.1`
/close

[2022-02-06 01:11] #30832 closed

[2022-02-06 01:12] jihoon-seo commented on #30735
Resolved by
- #30998
- #31637

/close

[2022-02-06 01:12] #30735 closed

[2022-02-06 01:13] jihoon-seo commented on #31062
Resolved by
- #31155
- #31637

/close

[2022-02-06 01:13] #31062 closed

[2022-02-06 05:08] Aniket211 opened #31640 "Wrong policy key in Auditing page"
key **verbs:** mentioned in [audit/audit-policy.yaml](https://raw.githubusercontent.com/kubernetes/website/main/content/en/examples/audit/audit-policy.yaml) is incorrect, the correct key should be **verb:**
kube-api contianer fails to get created due to this key with the error mentioned below.
`Error: loading audit policy file: failed decoding: yaml: line 6: did not find expected key: from file /e

[2022-02-06 07:52] #29618 closed

[2022-02-06 15:30] chrismetz09 commented on #27876
/assign

[2022-02-06 16:31] gamba47 commented on #13948
Hi @edithturn i'm already working on Ephemeral Volumes!

[2022-02-06 18:20] #28808 closed

[2022-02-06 21:10] sftim commented on #24441
/lifecycle frozen
/reopen

[2022-02-06 21:13] sftim commented on #29667
Ideally, we could remove `static/css/newcommunity.css` entirely in favor of some new Sass code within `assets/scss`.

[2022-02-06 22:18] sftim commented on #31640
/sig api-machinery
/language en

[2022-02-07 00:20] #29000 closed

[2022-02-07 00:20] #29611 closed

[2022-02-07 02:11] seokho-son opened #31646 "Korean Localization for dev-1.23-ko.2 branch"
## In English

**This is a Feature Request**

Korean Localization for `dev-1.23-ko.2` branch.

**What would you like to be added**

Any localization contributions for Korean.

**Comments**

- This issue is to notify the schedule of Korean localization to contributors.
- `dev-1.23-ko.2` is the current work branch for Korean localization.

**Important dates**
- A Korean localization work branch is m

[2022-02-07 02:12] seokho-son commented on #31646
/triage accepted

[2022-02-07 02:13] seokho-son commented on #31646
/milestone dev-1.23-ko.2

[2022-02-07 02:29] tengqm commented on #30096
/remove-lifecycle stale

[2022-02-07 02:38] seokho-son opened #31647 "Outdated Korean contents in the dev-1.23-ko.2"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.23-ko.2 branch.

Report generated by the following command.
./scripts/diff_l10n_branches.py ko upstream/dev-1.23-ko.1 upstream/dev-1.23-ko.2

### 85 files to be modified
1. [x] M1.  `content/en/_index.html`  | 1(+XS) 1(-)
1. [x] M2.  `content/en/docs/concepts/architecture/cloud-controller.md`  | 1(+XS) 1(-)
1. [x] M3.  `content

[2022-02-07 02:39] seokho-son commented on #31647
/language ko

[2022-02-07 02:39] seokho-son commented on #31647
milestone dev-1.23-ko.2

[2022-02-07 02:39] seokho-son commented on #31647
/help

[2022-02-07 02:39] seokho-son commented on #31647
/triage accepted

[2022-02-07 03:50] sftim commented on #28880
/reopen

We should try to add this.

[2022-02-07 04:14] RA489 commented on #29453
/remove-lifecycle stale

[2022-02-07 10:34] mtardy opened #31648 "Reorganize the "Well-Known Labels, Annotations and Taints" reference page"
**This is a Feature Request**

**What would you like to be added**

- Add the missing "Used on" on entries.
- Specify the complete API group for the resources in "Used on" or reorganize the page into API group categories.
- Remove dependencies between reference entries (like [this one](https://kubernetes.io/docs/reference/labels-annotations-taints/#scheduleralphakubernetesio-preferavoidpods) with

[2022-02-07 12:07] sftim commented on #30912
When a page has a prerequisite, we should document it. For this task, I recommend that we cover how to set up any StorageClass that the task requires. The exception would be if we can direct readers to a different task and recommend that they follow the other task page first.

/triage accepted

[2022-02-07 12:12] sftim commented on #31648
/triage accepted
/lifecycle frozen
/language en

[2022-02-07 14:24] sftim opened #31649 "Document EncryptionConfiguration format for kube-apiserver"
**This is a Feature Request**

**What would you like to be added**
- Within https://kubernetes.io/docs/reference/config-api/ add a new generated page that documents the format for an encryption configuration.
- Update https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/ to hyperlink to that new reference

**Why is this needed**
Within `apiserver.config.k8s.io/v1`, there is a configura

[2022-02-07 14:46] seokho-son commented on #31647
/milestone dev-1.23-ko.2

[2022-02-07 15:29] reylejano commented on #29649
/remove-lifecycle stale

[2022-02-07 17:07] krvaibhaw commented on #31618
Thanks for the PRs
Fixed with #31619
/close

[2022-02-07 17:08] #31618 closed

[2022-02-07 17:39] raelga commented on #13948
@edithturn te he asignado el storage limits, ya que como comenta @gamba47, se está trabajando ya en `Ephemeral Volumes` https://github.com/kubernetes/website/pull/31189

[2022-02-07 18:51] ds01efp1 opened #31650 "kubeadm-upgrade: add note about verifying the kubelet service status"
For the Redhat when upgrading the kubelet you should have following for Restart kubelet
sudo systemctl daemon-reload
sudo systemctl stop kubelet
ps -ef | grep kubelet (verfiy kubelet stopped kill process if not stopped)
sudo systemctl start kubelet

[2022-02-07 18:59] pkit commented on #23915
Subscribed.
I suppose somebody did know what was there and how it should have be configured, but the knowledge was lost...

[2022-02-07 19:06] dhuckmann commented on #30293
[It looks like Google Groups removed the RSS feature sometime in late 2021](https://support.google.com/groups/thread/118690869/when-will-googlegroups-rss-feed-be-back-online?hl=en). There is no longer a way to pull the security advisories via RSS, without introducing additional complexity/point of failure with a third party service.

A side effect of this, is that there is no longer an easy way to

[2022-02-07 20:33] neolit123 commented on #31650
hi, i'm not sure what issue are you reporting.
can you elaborate?

/kind support

[2022-02-07 21:40] mickeyboxell commented on #30917
Thanks @nate-double-u. It looks like this blog would be another good candidate for inclusion in the 1.24 deprecations and removals blog post as long at it is complete prior to 31-MAR-2022.

[2022-02-07 22:25] #29290 closed

[2022-02-08 01:22] omaidb commented on #31555
[code]

[2022-02-08 03:32] RA489 commented on #31650
/triage needs-information

[2022-02-08 03:48] RA489 commented on #31605
/triage accepted

[2022-02-08 03:59] RA489 commented on #31060
/language en

[2022-02-08 03:59] mitul3737 commented on #31605
@sftim Can you create dev-1.23-bn.1 for us to work on?

[2022-02-08 06:41] Kartik494 commented on #30912
@sftim Adding a page reference for how to create a storage class first is good direction to proceed?

[2022-02-08 08:15] seokho-son opened #31657 "Update languageName in config.toml to use both native and English alphabets"
**This is a Feature Request**

**What would you like to be updated**

Update languageName in [config.toml](https://github.com/kubernetes/website/blob/main/config.toml) to use both native and English alphabets (letter) for each language (except English).

  - [ ] modify the localization guide document. (to mention a new recommended best practice for `languageName` in each language block. https://gi

[2022-02-08 08:18] seokho-son commented on #31657
PTAL @bradtopol @anubha-v-ardhan :)

[2022-02-08 08:22] seokho-son commented on #31657
Let me open a PR to modify the localization guide document. :)
/assign

[2022-02-08 08:42] anubha-v-ardhan commented on #31657
Looks good to me. Thank you @seokho-son <3

[2022-02-08 09:17] sftim commented on #31657
/area localization

[2022-02-08 09:18] sftim commented on #31657
Hmm, we should add that label!

[2022-02-08 09:19] sftim commented on #31657
My suggestion: two fields.

`languageName` plus an optional second one `languageNameLatinScript`. That will let us retain access to the actual localized `languageName` if we need it.

[2022-02-08 13:56] sftim commented on #31551
/priority important-longterm
/retitle Old versions of “Upgrade A Cluster” report wrong version details
/language en

[2022-02-08 13:56] sftim commented on #31551
When we make a fix, we will need to backport it to previous versions of the documentation.

[2022-02-08 13:59] sftim commented on #31483
These two paragraphs are not equivalent:

We should improve that page to clarify the situation. The existing text is not clear enough.

/kind bug
/language en
/remove-kind support
/retitle Unclear wording in “Tools for Monitoring Resources”
/priority backlog
/triage accepted

[2022-02-08 15:34] CIPHERTron commented on #29667
Wow......tysm @sftim for sending a PR against this issue. That was quick!

I'll help review #31658 🚀

[2022-02-08 15:42] #27078 closed

[2022-02-08 15:44] sftim commented on #29667
https://github.com/kubernetes/website/pull/31658 aims to start the work. If that merges, I think the are opportunities to do more. Some of that is localization; other parts are CSS tweaks and further changes to the English page.

It would be nice to bring back a working events feed (that should be a separate issue, though).

[2022-02-08 15:50] sftim commented on #31650
/sig cluster-lifecycle

I think @ds01efp1 is asking for a detailed walkthrough of how to restart a service on RedHat-like hosts, and then to verify that the restarted service is healthy.
There's some value in this but also we need to bear in mind that systemd and Linux are not the only options for nodes, and that we could instead declare “you should know how to restart services and verify that the

[2022-02-08 15:51] CIPHERTron commented on #29667
I think we have some interested folks who can help with that. Also, I'm interested too. Let me know how I can help with #31658 and I would be happy to help if we plan on extending this refactoring to other pages too.

Agreed 💯

[2022-02-08 15:55] sftim commented on #31640
/retitle Wrong policy key in Auditing page

[2022-02-08 16:09] nate-double-u commented on #30954
resolved in [#31545](https://github.com/kubernetes/website/pull/31545)

/close

[2022-02-08 16:10] #30954 closed

[2022-02-08 16:19] reylejano commented on #30837
/committee steering

[2022-02-08 18:05] Garima-Negi commented on #29917
@dims @mehabhalodiya The corresponding PR for this issue is now closed.
How do I go about closing this issue?

[2022-02-08 18:08] mehabhalodiya commented on #29917
/close

[2022-02-08 18:08] #29917 closed

[2022-02-08 18:19] a-mccarthy commented on #31657
thanks for writing this up @seokho-son. I like Tim's suggestion of making this into 2 variables as well

[2022-02-08 18:55] sftim opened #31659 "Remove kubenet from docs"
**This is a Bug Report**

**Problem:** Per https://github.com/kubernetes/kubernetes/issues/100707 the kubenet network plugin is no longer needed / used / part of Kubernetes.

**Proposed Solution:**
Find all mentions of kubenet in the documentation and, for v1.24 of Kubernetes, remove those mentions

**Kubernetes Version:**
v1.24

**Additional Information:**
/milestone 1.24
/language en

[2022-02-08 19:33] mk46 commented on #31659
/assign

[2022-02-08 19:41] #30919 closed

[2022-02-08 20:43] sftim opened #31663 "https://k8s.io/dockershim is marked outdated"
**This is a Bug Report**

**Problem:** https://k8s.io/dockershim is marked deprecated (since the merge of https://github.com/kubernetes/website/pull/31594)

**Proposed Solutions:**

Either:
- Write a new article
  - Update https://kubernetes.io/blog/2020/12/02/dockershim-faq/ to link prominently to the new article
  - Update https://k8s.io/dockershim to redirect to the new article
- Something comp

[2022-02-08 20:45] sftim commented on #31663
Right now, https://k8s.io/dockershim is a Hugo alias; PR #30840 would replace that with a Netlify redirect (experience suggests that these cause fewer issues).

[2022-02-08 20:45] sftim commented on #31663
/retitle https://k8s.io/dockershim is marked outdated

[2022-02-08 21:04] rolfedh commented on #31663
/assign rolfedh

[2022-02-08 23:29] ThiagoGMF commented on #13939
Hello, I would like to start translating the page [System metrics](https://kubernetes.io/docs/concepts/cluster-administration/system-metrics/) located in docs/concepts/cluster-administration/system-metrics.md

I've assigned myself in the spreadsheet and marked it as in progress.

[2022-02-09 03:01] foolwc opened #31665 "Invalid link for `API server config API (v1beta1)`"
Hi, this page https://kubernetes.io/docs/concepts/cluster-administration/system-traces/  has a link
[API server config API (v1beta1)](https://kubernetes.io/docs/reference/config-api/apiserver-config.v1beta1/#apiserver-k8s-io-v1beta1-TracingConfiguration) which is 404, but I can't find this page in kubernetes website.

[2022-02-09 03:37] mengjiao-liu commented on #31665
In this PR https://github.com/kubernetes/website/pull/30826 the page: https://kubernetes.io/docs/reference/config-api/apiserver-config.v1beta1 has been removed.

[API server config API (v1beta1)](https://kubernetes.io/docs/reference/config-api/apiserver-config.v1beta1/#apiserver-k8s-io-v1beta1-TracingConfiguration) should point to the latest page link: https://kubernetes.io/docs/reference/config-a

[2022-02-09 03:37] mengjiao-liu commented on #31665
/triage accepted

[2022-02-09 03:51] foolwc commented on #31665
I could not find the `TracingConfiguration` description in the latest page link https://kubernetes.io/docs/reference/config-api/apiserver-config.v1/.  Is that missing?

[2022-02-09 03:57] mengjiao-liu commented on #31665
Yes, I also checked this struct just now, it doesn't exist in the v1 version.
This struct  `TracingConfiguration ` was removed in version v1.

[2022-02-09 04:24] #31575 closed

[2022-02-09 04:39] Kartik494 commented on #30182
/remove-lifecycle stale

[2022-02-09 04:42] tengqm commented on #31665
There were some nits in the reference generator. We are fixing them and then regenerate the references.

[2022-02-09 04:42] Kartik494 commented on #30182
Is there any example yaml you have to test whether it's `resourceGroup` in camel-case or not

[2022-02-09 06:34] komalkumbh commented on #29724
Hi,
Who is checking or handling this?
Please update

[2022-02-09 09:35] Rameshdutt80 opened #31669 "Help configuring RBAC for cluster"
I have created eks cluster in aws and installed aws cli and kubectl 1.21 version
when am trying to execute
---
apiVersion: rbac.authorization.k8.io/v1
kind: ClusterRole
metadata:
  name: developer-clusterrole
rules:
- apiGroups: [""]
  resources: ["nodes", "namespaces", "pods"]
  verbs: ["get", "list"]
- apiGroups: ["apps"]
  resources: ["deployments", "daemonsets", "statefulsets", "replicasets"]

[2022-02-09 12:58] sftim commented on #31669
/kind support

[2022-02-09 12:59] sftim commented on #31669
/retitle Help configuring RBAC for cluster

[2022-02-09 13:33] itiulkanov opened #31671 "Improvement for k8s.io/docs/concepts/architecture/controller/"
There is no samples on how I can stop a controller

[2022-02-09 14:10] brendavsantos commented on #13939
Hi everyone!
I'm taking the [System Metrics](https://kubernetes.io/docs/concepts/cluster-administration/system-metrics/) page in pairs with @ThiagoGMF (we arrenged). I also assigned the spreadsheet and marked it as in progress.

[2022-02-09 14:15] edsoncelio commented on #13939
Thanks, great @ThiagoGMF @brendavsantos! Any help or question, just ping us on slack (Portuguese channel `#kubernetes-docs-pt`)

[2022-02-09 14:18] dashpole commented on #31665
TracingConfiguration is still alpha, and thus doesn't exist in the v1 version of the API.

[2022-02-09 14:52] sanjaz10 opened #31674 "Error: failed to fetch endpoints from etcd cluster member list: context deadline exceeded"
## What happened?

I tried to Set up a High Availability etcd Cluster with kubeadm.
I followed the official guide https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm/
after all the steps execute when i check cluster health its giving below error message

[root@etcd-01 ~]# docker run --rm -it \

{"level":"warn","ts":"2022-02-09T08:12:22.497Z","logger":"e

[2022-02-09 15:28] shannonxtreme commented on #28909
/remove-lifecycle stale

[2022-02-09 16:07] katcosgrove commented on #30918
@mickeyboxell Should this wait for the other Dockershim removal blog I have assigned, or the other way around?

[2022-02-09 19:52] nate-double-u commented on #30918
If the other one is https://github.com/kubernetes/website/issues/30917, I think the Idea was for it to go out first, and this one to go out on release day.

Both are listed on the [blog articles planning board](https://github.com/kubernetes/website/projects/11), but there are no dates associated there either. @sftim do you have a sense of when these should go out (in relation to the other posts th

[2022-02-09 20:07] PriyanshuAhlawat commented on #31640
/assign

[2022-02-09 21:21] shannonxtreme commented on #29649
The question here is do we want to block this issue from being closed because we want automation?

I think we are good to close this - we have the `refactor` label, and triage folks are using it where needed. @reylejano if you agree, please close :)

[2022-02-09 21:21] shannonxtreme commented on #29916
/remove-lifecycle rotten

[2022-02-09 21:33] mitul3737 opened #31677 "Track Bengali Documentation progress"
This issue tracks Bengali Documentation progress.

# Join the Slack

- Join the [Kubernetes Slack](https://slack.k8s.io/)
- Join the [kubernetes-docs-bn](https://kubernetes.slack.com/messages/kubernetes-docs-bn), [ sig-docs-localizations](https://kubernetes.slack.com/messages/sig-docs-localizations)

# Checklist to translate a term
1.	Check that no one else has claimed the page in the comments bel

[2022-02-09 21:35] mitul3737 commented on #31677
I am working on ``README-bn.md``, ``config.toml``, ``content/bn/docs/home/_index.md``, ``content/bn/docs/setup/_index.md``, ``content/bn/docs/tutorials/kubernetes-basics/_index.html``, ``content/bn/releases/_index.md``

[2022-02-09 21:36] Imtiaz1234 commented on #31677
Can I please work on ``content/bn /case-studies/_index.html`` ?

[2022-02-09 21:42] nazma1234 commented on #31677
Can I please work on ``content/bn/docs/setup/production-environment/turnkey-solutions.md`` ?

[2022-02-09 21:59] mitul3737 commented on #31677
Yes, surely! @nazma1234

[2022-02-10 00:12] t-inu opened #31680 "[ja] Broken links due to using "githubbranch" param"
**This is a Bug Report**

**Problem:**
Regarding https://github.com/kubernetes/website/issues/31248, I found the similar broken links on other pages.

English pages have already been fixed. ref: https://github.com/kubernetes/website/pull/29311
Japanese pages also need to be fixed.

**Proposed Solution:**
* Fixes broken links including `{{< param "githubbranch" >}}` to `master`.
* In the case of li

[2022-02-10 00:13] t-inu commented on #31680
/language ja

[2022-02-10 00:45] seokho-son commented on #31657
/area localization

[2022-02-10 00:47] seokho-son commented on #31657
/area localization

[2022-02-10 01:40] kbhawkey commented on #31659
/triage accepted

[2022-02-10 01:42] kbhawkey commented on #31649
/triage accepted

[2022-02-10 01:46] kbhawkey commented on #31601
/triage accepted

[2022-02-10 03:00] tengqm commented on #31649
/assign
This file is already generated in the generator. All we need to do is to copy it to the website repo.

[2022-02-10 04:07] tengqm commented on #30172
/close

[2022-02-10 04:07] #30172 closed

[2022-02-10 05:42] jihoon-seo commented on #31647
M1 ~ M39 제가 하겠습니다~
/assign

- M1 ~ M39 : @jihoon-seo
- ...

[2022-02-10 06:03] sanjaz10 commented on #31674
Issue fixed my self. In the Step 01 Configure the kubelet to be a service manager for etcd  remove the this line "
--container-runtime=remote --container-runtime-endpoint=unix:///var/run/containerd/containerd.sock " . Please use below command in the steps 01.
cat << EOF > /etc/systemd/system/kubelet.service.d/20-etcd-service-manager.conf
[Service]
ExecStart=
# Replace "systemd" with the cgroup dri

[2022-02-10 06:03] #31674 closed

[2022-02-10 07:34] seokho-son commented on #31657
@sftim Thanks for the suggestion :)
I hope to check your suggestion is about adding additional parameter (`languageNameLatinScript`) in the block for [languages.xx](https://github.com/kubernetes/website/blob/996ac4d94147a6531e0835045c5915dbe6efbb5e/config.toml#L342) of config.toml

For instance,

[code]

If it is what you meant, I am not sure how `languageNameLatinScript` works in Hugo. (I cannot

[2022-02-10 08:15] neolit123 commented on #31674
See this if you are using docker:
https://kubernetes.io/blog/2022/01/07/kubernetes-is-moving-on-from-dockershim/

[2022-02-10 12:46] sanjaz10 commented on #31674
@neolit123 yea. that's why i already removed and checked .

[2022-02-10 18:07] moonlight16 opened #31688 "Improvement for k8s.io/docs/concepts/extend-kubernetes/api-extension/custom-resources/"
The whole section about "Should I add a customer resources to my Kubernetes Cluster?" is confusing.

The title leads me to believe your going to discuss when to use CRDs vs build-in resources.  But your really talking about building some sort of stand-alone API (is this still a CRD?).   OR should you use API Aggregation (which the descriptions under API agg say its different than CRDs) -- a third

[2022-02-11 02:22] jihoon-seo opened #31690 "'XFS project quotas' link in `manage-resources-containers.md` is broken"
**This is a Bug Report**

**Problem:**

In ["What's next" section](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#what-s-next) of ['Resource Management for Pods and Containers' page](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/),
the link '[project quotas](https://xfs.org/docs/xfsdocs-xml-dev/XFS_User_Guide/tmp/en-US/html/xfs-quotas

[2022-02-11 02:55] RA489 commented on #28082
/remove-lifecycle stale

[2022-02-11 02:55] RA489 commented on #28427
/remove-lifecycle stale

[2022-02-11 02:56] RA489 commented on #28078
/remove-lifecycle stale

[2022-02-11 02:56] RA489 commented on #27958
/remove-lifecycle stale

[2022-02-11 02:57] RA489 commented on #27880
/remove-lifecycle stale

[2022-02-11 02:57] RA489 commented on #27740
/remove-lifecycle stale

[2022-02-11 02:57] RA489 commented on #27907
/remove-lifecycle stale

[2022-02-11 02:58] RA489 commented on #27808
/remove-lifecycle stale

[2022-02-11 02:58] RA489 commented on #28046
/remove-lifecycle stale

[2022-02-11 02:58] RA489 commented on #26910
/remove-lifecycle stale

[2022-02-11 02:59] RA489 commented on #26618
/remove-lifecycle stale

[2022-02-11 02:59] RA489 commented on #26638
/remove-lifecycle stale

[2022-02-11 03:00] RA489 commented on #27965
/remove-lifecycle stale

[2022-02-11 03:00] RA489 commented on #26293
/remove-lifecycle stale

[2022-02-11 03:01] RA489 commented on #27974
/remove-lifecycle stale

[2022-02-11 03:41] Babapool commented on #31690
I think we can `project quotas` to this link: https://xfs.org/index.php/XFS_FAQ#Q:_Quota:_Do_quotas_work_on_XFS.3F . Thoughts?

[2022-02-11 06:17] sanjaz10 opened #31692 "Set up a High Availability etcd Cluster with kubeadm - document issue"
I don't have any issue .but i have suggestion .

when i follow the official guide https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm/ i noticed a document incorrect path issue.

In the steps 7 they mention kubeadmcfg.yaml in /tmp folder all the etcd instance. but steps 6 showing in the kubeadmcfg.yaml only $HOST0 having tmp other etcd instance having d

[2022-02-11 07:58] anubha-v-ardhan commented on #31677
/triage accepted
Great work!

[2022-02-11 07:59] anubha-v-ardhan commented on #31677
Hey @mitul3737

I think we mean "localization instead of translation"

[2022-02-11 11:32] ctron opened #31699 "kubectl download page for Linux assumes amd64 architecture"
The page assumes one is using `amd64` and as an architecture. The download commands won't work for e.g. `aarch64` / `arm64`.

[2022-02-11 11:57] #26295 closed

[2022-02-11 12:32] sftim commented on #27439
/remove-lifecycle rotten

It'd be nice to explain the issue description more. Even so, someone can work on this already.

[2022-02-11 12:32] sftim commented on #27439
/triage accepted

[2022-02-11 12:37] sftim commented on #31690
/language en
@Babapool sure - would you like to open a pull request?

[2022-02-11 12:38] sftim commented on #31699
/kind bug
/retitle kubectl download page for Linux assumes amd64 architecture

[2022-02-11 12:39] sftim commented on #31677
/retitle Umbrella issue: localize Kubernetes website to Bengali

[2022-02-11 13:30] championshuttler commented on #31585
/assign

[2022-02-11 13:46] championshuttler commented on #31690
/assign

[2022-02-11 13:51] sftim commented on #31699
/language en
/triage accepted
/priority important-longterm

Thanks for filing this @ctron

[2022-02-11 13:53] sftim commented on #30764
I'd like this annotation documented.

[2022-02-11 13:55] sftim commented on #14579
/triage accepted

[2022-02-11 13:56] sftim commented on #31688
Really, https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/custom-resources/#should-i-add-a-custom-resource-to-my-kubernetes-cluster belongs in https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/ and not in the custom resources page.

It would also be nice to make the overall wording more easy to understand.

/language en
/wg api-expression
/sig docs
/kind cleanup

[2022-02-11 13:58] sftim commented on #31665
/kind bug
/language en

[2022-02-11 14:27] championshuttler commented on #31680
/assign

[2022-02-11 14:32] championshuttler opened #31704 "[zh] Broken links due to using "githubbranch" param"
**This is a Bug Report**

Problem:
Regarding https://github.com/kubernetes/website/issues/31248, I found the similar broken links on other pages.

English pages have already been fixed. ref: https://github.com/kubernetes/website/pull/29311
zh pages also need to be fixed.

Proposed Solution:

Fixes broken links including {{< param "githubbranch" >}} to master.
In the case of link to https://release

[2022-02-11 14:33] championshuttler commented on #31704
/assign

[2022-02-11 14:34] championshuttler opened #31706 "[ru] Broken links due to using "githubbranch" param"
**This is a Bug Report**

Problem:
Regarding https://github.com/kubernetes/website/issues/31248, I found the similar broken links on other pages.

English pages have already been fixed. ref: https://github.com/kubernetes/website/pull/29311
ru pages also need to be fixed.

Proposed Solution:

Fixes broken links including {{< param "githubbranch" >}} to master.
In the case of link to https://release

[2022-02-11 14:35] championshuttler opened #31707 "[pt-br] Broken links due to using "githubbranch" param"
**This is a Bug Report**

Problem:
Regarding https://github.com/kubernetes/website/issues/31248, I found the similar broken links on other pages.

English pages have already been fixed. ref: https://github.com/kubernetes/website/pull/29311
pt pages also need to be fixed.

Proposed Solution:

Fixes broken links including {{< param "githubbranch" >}} to master.
In the case of link to https://release

[2022-02-11 14:38] championshuttler opened #31708 "[es] Broken links due to using "githubbranch" param"
**This is a Bug Report**

Problem:
Regarding https://github.com/kubernetes/website/issues/31248, I found the similar broken links on other pages.

English pages have already been fixed. ref: https://github.com/kubernetes/website/pull/29311
es pages also need to be fixed.

Proposed Solution:

Fixes broken links including {{< param "githubbranch" >}} to master.
In the case of link to https://release

[2022-02-11 14:38] championshuttler commented on #31708
/assign

[2022-02-11 14:38] championshuttler commented on #31707
/assign

[2022-02-11 14:38] championshuttler opened #31709 "[it] Broken links due to using "githubbranch" param"
**This is a Bug Report**

Problem:
Regarding https://github.com/kubernetes/website/issues/31248, I found the similar broken links on other pages.

English pages have already been fixed. ref: https://github.com/kubernetes/website/pull/29311
it pages also need to be fixed.

Proposed Solution:

Fixes broken links including {{< param "githubbranch" >}} to master.
In the case of link to https://release

[2022-02-11 14:38] championshuttler commented on #31709
/assign

[2022-02-11 14:38] championshuttler opened #31710 "[fr] Broken links due to using "githubbranch" param"
**This is a Bug Report**

Problem:
Regarding https://github.com/kubernetes/website/issues/31248, I found the similar broken links on other pages.

English pages have already been fixed. ref: https://github.com/kubernetes/website/pull/29311
fr pages also need to be fixed.

Proposed Solution:

Fixes broken links including {{< param "githubbranch" >}} to master.
In the case of link to https://release

[2022-02-11 14:38] championshuttler commented on #31710
/assign

[2022-02-11 14:40] championshuttler opened #31711 "[id] Broken links due to using "githubbranch" param"
**This is a Bug Report**

Problem:
Regarding https://github.com/kubernetes/website/issues/31248, I found the similar broken links on other pages.

English pages have already been fixed. ref: https://github.com/kubernetes/website/pull/29311
id pages also need to be fixed.

Proposed Solution:

Fixes broken links including {{< param "githubbranch" >}} to master.
In the case of link to https://release

[2022-02-11 14:53] championshuttler commented on #31640
@Aniket211 @sftim as per source code this bug should be invalid

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/apis/audit/v1/types.go#L210

[2022-02-11 14:57] sftim commented on #31640
/triage not-reproducible
/priority awaiting-more-evidence

[2022-02-11 15:06] #31707 closed

[2022-02-11 15:11] championshuttler commented on #31706
/assignn

[2022-02-11 15:11] championshuttler commented on #31706
/assign

[2022-02-11 15:57] #29692 closed

[2022-02-11 18:26] mitul3737 commented on #31677
@anubha-v-ardhan done!

[2022-02-11 18:50] #31708 closed

[2022-02-11 18:56] shannonxtreme commented on #30976
/triage accepted

[2022-02-11 19:15] heyleke opened #31719 "Job completion-mode documentation has an unclarified note about a 'rare' condition"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/concepts/workloads/controllers/job/#completion-mode mentions

Can it be clarified why that note is needed? And if the pod is started, will it run to completion, or aborted before running or ... ?

**Proposed Solution:**
@alculquicondor  proposes via https://github.com/kubernetes/enhancements/issues/2214

**Page to Update:**
https://

[2022-02-11 19:26] alculquicondor commented on #31719
As for why the note was added...
Due to the async nature of kubernetes, it's possible that we don't observe the creation of Pods in a timely manner. We have some in-memory guards in place to prevent double creation. So it's very unlikely that you would observe such behavior and we simply don't make guarantees.

Not sure how to express all of the above in a user-friendly way :) I'll wait for sugges

[2022-02-11 19:47] PushkarJ commented on #29142
KEP is in review for fixing this issue: https://github.com/kubernetes/enhancements/pull/3204. happy to get any feedback you may have on this!

[2022-02-12 01:40] tallclair commented on #31367
Yes, I agree this is confusing (or just flat out wrong) and needs clarification. Some of the fields recommended for the restricted PSP (https://raw.githubusercontent.com/kubernetes/website/main/content/en/examples/policy/restricted-psp.yaml) are actually mutating (requiredDropCapabilities).

@sftim Users must mirate off of PSP in v1.24, since it's going away in v1.25, so I think having a clear mig

[2022-02-12 03:06] khtan opened #31722 "Resource types have double entries for 'events'"
In the webpage https://kubernetes.io/docs/reference/kubectl/overview, the Resource types table has two entries
for name "events", one 5th from the top, the other 19th from the bottom. Such errors would be easily found if the
table was sorted by name. See the picture.
I am too new to know which is correct.

![image](https://user-images.githubusercontent.com/8535034/153694310-dd919cd3-46e9-4f67-9b63

[2022-02-12 04:33] tengqm commented on #31722
This is not an error. The `Event` resource type exists in two API groups.

[2022-02-12 04:45] rakgup commented on #20810
The site is up but not wokring.
Giving 404 for https://cdn.jsdelivr.net/gh/play-with-docker/sdk@master/dist/pwd.js

[2022-02-12 07:05] #28975 closed

[2022-02-12 07:55] #31706 closed

[2022-02-12 09:47] #31709 closed

[2022-02-12 10:08] #29696 closed

[2022-02-12 13:27] afbjorklund commented on #28449
Suggest changing the title of this issue, which now still says "Deprecation of the Docker container runtime" (?)

And then links to an issue about deprecation about dockershim, which actually did happen (back in k8s 1.20)

[2022-02-12 14:57] sftim commented on #31367
/priority important-longterm