[2021-11-30 03:01] jihoon-seo commented on #30676
@ClaudiaJKang I think that `[ko]` prefix in the title is not appropriate for this issue. 😊
/retitle /docs/reporting-security-issues/ and /security redirects to a [ko] page

---

@reylejano
I examined `static/_redirects` file, ~but I cannot find which line causes this behavior.~

[code]

---

It seems that
the line `aliases: [/security/]` in `content/ko/docs/reference/issues-security/security.md`
c

[2021-11-30 03:05] rikatz commented on #30676
@jihoon-seo yes, I was looking into that as well :)

I'm going to drop the alias in korean translation + add this into aliases, but if you are working on this go for it :)

[2021-11-30 03:07] shivrajjadhav733 opened #30685 "Pod Lifecycle"
I have an application deployed to kubernetes.
Here is techstack:
*Java 11, Spring Boot 2.3.x or 2.5.x, using hikari 3.x or 4.x*

Using spring actuator to do healthcheck. Here is liveness and readiness configuration within application.yaml:

      endpoint:
        health:
          group:
            liveness:
              include: '*'
              exclude:
                - db
                -

[2021-11-30 03:07] jihoon-seo commented on #30676
@rikatz Please look #30684 and give comments/suggestions if you have one! 😊

[2021-11-30 03:09] rikatz commented on #30676
yes, reviewing here

[2021-11-30 04:13] chetak123 commented on #30180
I have updated the above pages. Actually I was busy with some work and couldn't get to this issue on time.
It would be really helpful if you can provide some link about the review schedule and deadlines so that I can get more involved with the community.

[2021-11-30 04:28] ramrodo commented on #30180
Thanks for the updates @chetak123! We're still on time so we'll look forward to reviewing the PR.

Sure, here you can find the deadlines and information regarding the 1.23 release cycle: https://github.com/kubernetes/sig-release/blob/master/releases/release-1.23/README.md#tldr
There are the calendar and the meetings minutes where we give the current status of the release. You can join us whenever

[2021-11-30 11:33] sftim commented on #30676
/language ko
/language en
/triage accepted
/priority important-soon

[2021-11-30 11:34] #30676 closed

[2021-11-30 12:21] jihoon-seo commented on #30685
/kind support

[2021-11-30 12:24] jihoon-seo commented on #30284
This issue is a duplicate of issue #21621.
/triage duplicate

[2021-11-30 13:25] jihoon-seo commented on #30681
/language en

[2021-11-30 13:26] jihoon-seo commented on #30675
/language en

[2021-11-30 13:27] jihoon-seo commented on #30582
/language en

[2021-11-30 15:04] jai commented on #26989
@sftim do you mean add new/additional sections for [the common labels](https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/#labels) in the [Well-Known Labels, Annotations and Taints](https://kubernetes.io/docs/reference/labels-annotations-taints/) by adding sections/blocks for each of the common labels?

[The common labels page](https://kubernetes.io/docs/concepts/overv

[2021-11-30 15:07] jai commented on #26989
/assign

[2021-11-30 15:09] seokho-son commented on #30680
/triage accepted

[2021-11-30 15:25] sftim commented on #26989
That is what I mean, yes. There would be an extra heading and block for each of the 7 missing labels.

[2021-11-30 15:38] MikeSpreitzer opened #30691 "apiserver details missing from k8s.io/docs/concepts/cluster-administration/system-metrics/"
That file gives a detailed description of the scheduler metrics.
I can not find a detailed description of the apiserver metrics anywhere.
I can find a brief listing in https://github.com/kubernetes/kubernetes/blob/master/test/instrumentation/testdata/stable-metrics-list.yaml but this is not detailed.

[2021-11-30 15:38] MikeSpreitzer commented on #30691
@tkashem
@lavalamp
@wojtek-t
@deads2k

[2021-11-30 16:19] shivrajjadhav733 commented on #30685
Can failure in readinessprobe increase cpu utilization which leads to trigger HPA?

[2021-11-30 16:53] rajeshpanara opened #30693 "Improvement for k8s.io/docs/tasks/administer-cluster/network-policy-provider/weave-network-policy/"
Hi,
Please include steps/commands to install CNIs.
it's difficult for beginner to moving and searching it on other site other than kubernets.io

at lease include for weave net.

Thanks.

[2021-11-30 17:21] rikatz opened #30694 "Create a CI to avoid wrong alias/metadata in Markdowns"
**This is a Bug Report**

Contextualization:

We've seen some past PRs in localized documents that created wrong redirection in Kubernetes Website. The more recent incident was with kubernetes.io/security, where this was redirected to Korean security and was fixed in https://github.com/kubernetes/website/pull/30684

Jim added some more context that this happened on past (see Slack thread https://k

[2021-11-30 17:23] rikatz commented on #30694
/triage accepted
/priority important-soon
/help

[2021-11-30 18:32] imjasonh opened #30696 "Redirect from app.kubernetes.io to common-labels.md"
**This is a Feature Request**

https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/ documents a number of common recommended labels, with keys beginning with the standard `app.kubernetes.io/` prefix, e.g., `app.kubernetes.io/name`.

Perhaps unintentionally, this string is also a valid URL, but if a user browses to that URL in their browser they'll only see an error: htt

[2021-11-30 18:48] sftim commented on #30694
@rikatz
To me this is more of a backlog or long term item
/remove-priority important-soon
/priority important-longterm

and we haven't given contributors a clear steer on how to pick this up
/remove-help

[2021-11-30 18:49] sftim commented on #30694
/sig testing

[2021-11-30 18:52] ecmonsen commented on #30675
Thank you, I should have checked existing issues!

[2021-11-30 19:02] rikatz commented on #30694
well, IMO saying "we need to create a CI job that checks if the aliases is not this way" was enough to have someone helping us :)

(this is why I added as help needed, not good first issue).

Anyway if no one jumps into it, I will assign myself and check during the week

[2021-11-30 19:12] chrismetz09 commented on #27840
hey @verma-kunal, I saw this issue closed. I would like to re-open and then hack a PR. Will you be working this?

[2021-11-30 19:17] chrismetz09 commented on #27840
/reopen
/assign

[2021-11-30 22:16] craigbox opened #30697 "Future dated blog posts not shown in Netlify preview"
In #30688 I sent a PR for a blog post with a date in the future, and it didn't show in the Netlify preview.

@sftim says "It looks like the site preview is building in production mode."

[2021-11-30 22:35] sftim commented on #30696
Thanks for the suggestion @imjasonh

/kind feature
/priority awaiting-more-evidence

To me it doesn't seem reasonable to cater for the kind of confusion that might mean someone mistakes a Kubernetes label for part of a URI. If there were, should we set up redirects for _every_ label or just some?

The easy answer is to do none of it and hope that folks can use web search engines etc to learn about

[2021-11-30 22:40] sftim commented on #30693
The page at https://www.weave.works/docs/net/latest/install/ looks great. I'm happy to see people use that, even if they have to use a web search engine and look for terms like “install Weave Net CNI plugin”.

I think the story might be different if Kubernetes had maybe 5 times the level of docs contribution but the truth is that we don't and we have a [backlog](https://github.com/kubernetes/websi

[2021-11-30 22:41] sftim commented on #4502
/triage accepted

[2021-11-30 22:42] sftim commented on #30691
/language en
/sig api-machinery

[2021-11-30 22:48] brandond commented on #27814
Still waiting on this feature to see better use and documentation.

/remove-lifecycle stale

[2021-11-30 23:09] bspeiser opened #30698 "Issue with k8s.io/docs/tasks/tools/install-kubectl-windows/"
You are pedantic pieces of shitee that deserve to be flushed to nerd hell. There is no reason for this to be as difficult as it is other than you made it so.

[2021-11-30 23:37] #28759 closed

[2021-12-01 00:38] #28725 closed

[2021-12-01 00:38] #28769 closed

[2021-12-01 08:59] PI-Victor commented on #28037
/remove-lifecycle rotten

[2021-12-01 17:27] sftim commented on #30698
The Kubernetes project expects all contributors to follow the [code of conduct](https://github.com/kubernetes/website/blob/main/CONTRIBUTING.md#code-of-conduct).

This feedback isn't in line with how we expect folks to treat others in the community.
/close

[2021-12-01 17:27] #30698 closed

[2021-12-01 17:44] ashish-jaiswar commented on #30613
@sftim is anyone working on this issue? if not please assign me.

[2021-12-01 17:47] jimangel commented on #27840
Not sure if this will do the trick (can do it manually if needed):
/reopen

[2021-12-01 17:49] ashish-jaiswar commented on #30514
@sftim close this issue, PR of this issue is merged.

[2021-12-02 01:42] funkypenguin commented on #30661
I've raised https://github.com/kubernetes/website/pull/30712, but it felt "too easy" :) Let me know if there's anything else I need to do / explain, or whether more detail is required in the docs themselves!

[2021-12-02 04:37] aquiladayc opened #30713 "Translate blog/dont-panic-kubernetes-and-docker into Japanese"
**This is a Feature Request**

**What would you like to be added**
Translate [blog/dont-panic-kubernetes-and-docker](https://kubernetes.io/blog/2020/12/02/dont-panic-kubernetes-and-docker/) into Japanese

**Why is this needed**
This page has not been translated.

**Comments**
/language ja
/assign

[2021-12-02 17:51] savitharaghunathan opened #30717 "Add warning for creating namespaces with the same name as TLDs"
**This is a Feature Request**

By creating namespaces with the same name as public TLDs, services in those namespaces can have short DNS names that overlap with public DNS names

**What would you like to be added**
Add a warning highlighting the potential security risk
Add recommendations

[2021-12-02 17:51] savitharaghunathan commented on #30717
/sig security

[2021-12-02 17:51] savitharaghunathan commented on #30717
triage/accepted

[2021-12-02 18:00] #28804 closed

[2021-12-02 18:54] shannonxtreme commented on #30696
I agree with @sftim - this would add maintenance overhead as well, any time a label is added or modified. The page says that the labels are metadata for organization. I think that's enough, esp for our target audience.

[2021-12-02 18:57] imjasonh commented on #30696
sgtm, thanks for the prompt feedback! 👍

[2021-12-02 18:57] #30696 closed

[2021-12-02 18:59] #26923 closed

[2021-12-02 19:12] anubha-v-ardhan opened #30718 "Update date to mention KubeCon NA 2022"
**This is a Bug Report**

**Problem:**
KubeCon North America 2021 is over but we still have `Attend KubeCon North America on October 11-15, 2021`
**Proposed Solution:**
Update the text to `Attend KubeCon North America on October 24-28, 2022`
**Page to Update:**
https://kubernetes.io/

/good-first-issue

[2021-12-02 19:34] amandapunch commented on #30718
/assign

[2021-12-03 00:06] sftim commented on #30718
/triage accepted

[2021-12-03 00:07] sftim commented on #30718
I suggest we invite people to attend the next KubeCon, that is: https://events.linuxfoundation.org/kubecon-cloudnativecon-europe/ in May 2022.

[2021-12-03 00:09] sftim commented on #30718
/language en
/priority important-longterm

[2021-12-03 00:09] sftim commented on #30717
Eesh. There's a _lot_ of TLDs these days, too.

[2021-12-03 00:10] sftim commented on #30697
/triage accepted

[2021-12-03 00:34] sftim commented on #30514
Fixed
/close

[2021-12-03 00:34] #30514 closed

[2021-12-03 00:43] sftim commented on #30694
This didn't, to me, meet our [criteria](https://www.kubernetes.dev/docs/guide/help-wanted/) for Help Wanted issues in this repo. Very happy to see the task worked on though.

If it'd be useful to transfer the issue to [k/test-infra](https://github.com/kubernetes/test-infra/), I can do that.

[2021-12-03 00:45] sftim commented on #30675
/close
Duplicates #21621

[2021-12-03 00:45] #30675 closed

[2021-12-03 00:46] sftim commented on #30284
/close
as a duplicate

[2021-12-03 00:46] #30284 closed

[2021-12-03 00:47] sftim commented on #30284
/remove-triage accepted

[2021-12-03 04:28] Kartik494 commented on #29494
/remove-lifecycle stale

[2021-12-03 05:50] mehabhalodiya commented on #30063
/triage accepted

[2021-12-03 05:50] verma-kunal commented on #27840
Really sorry! Got busy with some university stuff here
You can surely create the PR for this & that would even help me understand the issue and the fix 🙂

[2021-12-03 05:52] mehabhalodiya commented on #30063
/language en

[2021-12-03 05:55] mehabhalodiya commented on #30717
/triage accepted

[2021-12-03 05:57] mehabhalodiya commented on #30647
/triage accepted

[2021-12-03 05:59] mehabhalodiya commented on #30613
/assign @ashish-jaiswar
Go ahead!

[2021-12-03 06:00] mehabhalodiya commented on #30613
/triage accepted

[2021-12-03 06:03] mehabhalodiya commented on #30718
/language ko

[2021-12-03 08:19] nasa9084 commented on #30518
triage/accepted

[2021-12-03 08:19] nasa9084 commented on #30518
/triage accepted

[2021-12-03 09:33] kerthcet commented on #30063
kindly reminding @mehabhalodiya , `v1beta1 -> v1beta2 ` and `v1beta2 -> v1beta3` document migration has been merged.

[2021-12-03 09:35] mehabhalodiya commented on #30063
/close

[2021-12-03 09:35] #30063 closed

[2021-12-03 09:45] sftim commented on #30718
Typically we'd change the English docs only and let all localization teams pick up the change.
@mehabhalodiya I hope it's OK to:
/remove-language ko

[2021-12-03 10:34] sftim commented on #16379
/reopen

This is still a good idea to document.

[2021-12-03 10:34] sftim commented on #16379
/remove-lifecycle rotten

[2021-12-03 10:42] sftim commented on #27534
@porridge in light of the discussion so far, would you be willing to revise the issue description to outline the defect you see or the improvement you'd like made?

[2021-12-03 11:09] sftim commented on #16379
/triage accepted

[2021-12-03 11:10] sftim commented on #16379
/lifecycle frozen

[2021-12-03 11:36] cawoodm opened #30725 "Explain HTTPS ports (443, 6443) and differences for API server"
It's really ambiguous from the documentation which port the API server resides on:

Both refer to a secure, TLS, API Port.

It would be good to explain the distinction (if any) and how to change these ports. It would also help to explain if these are ports on the host or in the cluster.

Further confusion is the fact that "metrics-service" runs on the ClusterIP port 443 (internally).

[2021-12-03 13:50] dhs-rec opened #30726 "Improvement for k8s.io/docs/tasks/tools/install-kubectl-linux/"
Installation instructions for Debian family systems are somewhat outdated:

- Starting with Debian 10/Ubuntu 18.04, there's no need for `apt-transport-https` anymore. The functionality has been moved into the main apt package and `apt-transport-https` has become a s.c. transitional (dummy) package that will be removed in a future release
- ~~Repository keyrings are to be stored in `/etc/apt/truste

[2021-12-03 16:56] nasa9084 commented on #30160
/triage accepted

[2021-12-03 16:59] nasa9084 commented on #30352
/triage accepted

[2021-12-03 17:21] nasa9084 commented on #30671
/triage accepted

[2021-12-03 17:31] nasa9084 opened #30728 "Add triage step into /ja/docs/contribute/localization"
**This is a Feature Request**

triageステップについて記載されていないので記載する
**What would you like to be added**

We are doing triage accepted step after filing an issue

**Why is this needed**

新規コントリビューターが困るので

[2021-12-03 17:32] nasa9084 commented on #30728
/language ja

[2021-12-03 20:07] #28798 closed

[2021-12-03 21:49] nmacgreg opened #30729 "Configure a Pod to Use a ConfigMap"
This document jumps right into confusing vernacular describing the high-level effect:  "ConfigMaps allow you to decouple configuration artifacts...", meaningless to newbies.  Why not start by saying something inviting like,
"Do you struggle with adjusting the parameters, like passwords or memory allocation, within a pod?  Then create a named ConfigMap (a key/value store managed within the core of

[2021-12-04 07:11] #24882 closed

[2021-12-04 10:23] sftim commented on #4493
/kind cleanup

[2021-12-04 10:31] anubha-v-ardhan opened #30731 "[hi] Localize `content/en/case-studies/_index.html` to Hindi"
**This is a Feature Request**

**What would you like to be added**
We need to localize [content/en/case-studies/_index.html](https://github.com/kubernetes/website/blob/main/content/en/case-studies/_index.html) to Hindi (`content/hi/case-studies/_index.md`)

**Why is this needed**
This page is needed as per [minimum required content](https://kubernetes.io/docs/contribute/localization/#minimum-requi

[2021-12-04 10:34] anubha-v-ardhan opened #30732 "[hi] Localize what-is-kubernetes.md to Hindi"
**This is a Feature Request**

**What would you like to be added**

We need to localize [what-is-kubernetes.md](https://github.com/kubernetes/website/blob/main/content/en/docs/concepts/overview/what-is-kubernetes.md) to Hindi.

**Why is this needed**

This page is needed as per [minimum required content](https://kubernetes.io/docs/contribute/localization/#minimum-required-content) for the ongoing

[2021-12-04 10:35] anubha-v-ardhan commented on #30731
/triage accepted

[2021-12-04 10:36] anubha-v-ardhan commented on #30732
/triage accepted

[2021-12-04 10:46] harshmathurx commented on #30731
Hey I would like to work on this

[2021-12-04 10:47] anubha-v-ardhan commented on #30731
/assign @harshmathurx

[2021-12-04 10:49] sftim commented on #30732
/help

[2021-12-04 10:57] ashish-jaiswar commented on #30732
/assign

[2021-12-04 11:11] #28815 closed

[2021-12-04 13:58] #30680 closed

[2021-12-04 15:42] sftim commented on #30725
/retitle Explain HTTPS ports (443, 6443) and differences for API server

The API server listens on port 6443 (by default). When you set up a non-toy cluster, you should _expose_ the API server on port 443; for example, using a load balancer that isn't part of Kubernetes.

My suggestion: add extra notes to https://k8s.io/docs/reference/ports-and-protocols/ about that, and then edit https://k8s.io/d

[2021-12-04 15:43] sftim commented on #30729
/kind cleanup
/language en
/priority backlog
/triage accepted

/sig storage

[2021-12-04 15:44] sftim commented on #30729
Pull requests welcome!

Please consider revising the [glossary entry for ConfigMap](https://kubernetes.io/docs/reference/glossary/?fundamental=true&storage=true&core-object=true#term-configmap) at the same time.

[2021-12-04 15:47] sftim commented on #30726
@dhs-rec the keyring change you're proposing here might not represent good practice for using packages from a third party repository.

https://wiki.debian.org/DebianRepository/UseThirdParty advocates using `signed_by` for consuming third party code, and I agree with that page.

I agree about skipping the `apt-transport-https` install recommendation now that the built-in support is common.

[2021-12-04 16:07] anubha-v-ardhan commented on #30731
/close
Fixed with #30733

[2021-12-04 16:07] #30731 closed

[2021-12-04 17:06] bang9211 opened #30735 "[ko] Translate tasks/run-application/scale-stateful-set.md into Korean"
This is a Feature Request
Translate [/content/en/docs/tasks/run-application/scale-stateful-set.md] in Korean

What would you like to be added
Translate [/content/ko/docs/tasks/run-application/scale-stateful-set.md] in Korean

Why is this needed
This file is not translated yet.

Comments
Page to translate : https://kubernetes.io/docs/tasks/run-application/scale-stateful-set/

/language ko
/assign

[2021-12-05 02:54] rbn2357 opened #30738 "kubectl"

[2021-12-05 03:37] kranurag7 commented on #30732
Hey @ashish-jaiswar I would love to work with you on this issue.

[2021-12-05 04:19] ashish-jaiswar commented on #30732
/assign @kranurag7
go ahead

[2021-12-05 09:34] fcamarro opened #30739 "load a profile in a cronjob"
Hello Team,

sorry for my ignorance, but I am a newbie about Kubernetes. After created my cronjob, I have an issue in my cronjob. I can't load my profile for example whit this command "./opt/axway/profile"

Any suggests?

Thanks in advance & best regards,

Fausto

[2021-12-05 14:28] nasa9084 commented on #30713
/triage accepted

[2021-12-05 15:52] wfrsilva opened #30743 "Issue with k8s.io/docs/tutorials/kubernetes-basics/explore/explore-interactive/ - curl: (7) Failed to connect to localhost port 8001: Connection refused"
**The error**
[code]
**The last lines:**
[code]

**The entire lines (until now):**
[code]
Google Crome
![image](https://user-images.githubusercontent.com/8933834/144753707-cd132819-0022-49f2-ac01-6462b3a76cf1.png)
Microsoft Edge
![image](https://user-images.githubusercontent.com/8933834/144753743-ad1717dc-7acc-4325-862c-924d8f50f347.png)

[2021-12-05 17:56] Narsilion opened #30744 "Issue with k8s.io/docs/concepts/services-networking/dns-pod-service/"
HI,

Looks like you have a typo on the page:
In summary, a pod in the test namespace can successfully resolve either data.prod or data.prod.svc.cluster.local.

Shouldn't here be "data.test or data.test.svc.cluster.local" instead?

[2021-12-05 20:03] jimangel opened #30745 "Update /docs/concepts/cluster-administration/networking/ to exclude vendor specific information"
**This is a Feature Request**

Update https://kubernetes.io/docs/concepts/cluster-administration/networking/ to either remove all vendor specific information or link to 3rd party documentation.

Related: https://github.com/kubernetes/website/pull/30134

**Why is this needed**

Update the docs to match our [style guide for 3rd party documentation](https://kubernetes.io/docs/contribute/style/content

[2021-12-05 20:10] anubha-v-ardhan commented on #30718
/close
fixed with #30722

[2021-12-05 20:10] #30718 closed

[2021-12-05 22:35] sftim commented on #30745
/triage accepted

If you have questions about how to work on this, or you're not sure whether a piece of text does or doesn't comply with the policy on 3rd party content: go ahead and reply here to ask for that help.

SIG Docs reviewers are here to offer you that kind of advice.

[2021-12-05 23:14] #30126 closed

[2021-12-05 23:25] sftim commented on #30739
/kind support

[2021-12-05 23:27] sftim commented on #30744
The **pod** is in the test namespace. The **data service** is in the prod namespace.

I think the existing page text is accurate. We could make it more clear for people who read it and misunderstand.

@Narsilion do you think that we should emphasize things here? If so, which bits?

[2021-12-05 23:28] sftim commented on #30738
/triage needs-information

@rbn2357, you should describe the issue. Without a description folks won't be able to [triage](https://www.kubernetes.dev/docs/guide/issue-triage/#what-is-triaging) the issue.

[2021-12-06 01:52] amniskin opened #30748 "Extend the Kubernetes API with CustomResourceDefinitions"
The documentation [here](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#create-a-customresourcedefinition) says:

This seems contradictory. Are CRDs namespaced (hence deleted along with the namespace) or not? Or does this mean that all CRDs are available to the whole cluster even if it's namespaced?

[2021-12-06 03:04] chetak123 commented on #30745
Should I remove all links which aren't pointing to a page in https://kubernetes.io/docs
For eg. should I remove all links in [this](https://kubernetes.io/docs/concepts/cluster-administration/networking/#cni-genie-from-huawei) paragraph and just remain normal texts ?

[2021-12-06 03:07] chetak123 commented on #30745
/assign @chetak123

[2021-12-06 04:30] #28874 closed

[2021-12-06 04:45] seokho-son commented on #30414
Complete !
/close

[2021-12-06 04:45] #30414 closed

[2021-12-06 04:58] #29253 closed

[2021-12-06 04:58] seokho-son commented on #30735
/triage accepted

[2021-12-06 06:01] ashish-jaiswar commented on #30732
hey @kranurag7, we both are working on the same issue, can you translate this page from
## Why you need Kubernetes and what it can do {#why-you-need-kubernetes-and-what-can-it-do}
If you have any questions, feel free to ask.

[2021-12-06 06:18] kranurag7 commented on #30732
Sure @ashish-jaiswar I will do it.

[2021-12-06 06:35] dhs-rec commented on #30726
@sftim, wasn't aware of Debians recommendation about keyrings storage. Please ignore that suggestion, then.

[2021-12-06 08:57] timothyclarke commented on #19611
/remove-lifecycle stale

[2021-12-06 10:48] sftim commented on #30726
@dhs-rec would you be willing to strike through that part of the issue description, for clarity?

[2021-12-06 10:49] sftim commented on #30726
/language en

[2021-12-06 10:51] sftim commented on #30744
/language en

[2021-12-06 10:53] sftim commented on #30748
/wg api-expression

- CustomResourceDefinitions themselves are non-namespaced and are available to all namespaces.
- The CRD can be either namespaced or cluster-scoped, as specified in the CRD's scope field.

When you add a CRD, you add that new custom resource API to the whole cluster. You must have rights to do this cluster wide.
The API that you add could be a namespaced API or it might not be.

[2021-12-06 10:53] sftim commented on #30748
Maybe there's room to reword this, or to recommend some background reading to provide context?

[2021-12-06 12:44] marseel commented on #28068
/remove-lifecycle stale

[2021-12-06 14:18] komalkumbh commented on #29724
Is there any update on this issue?

[2021-12-06 14:32] seokho-son commented on #30413
Done!
/close

[2021-12-06 14:32] #30413 closed

[2021-12-06 15:02] averatio opened #30761 "Improvement for k8s.io/docs/tasks/kubelet-credential-provider/kubelet-credential-provider/"
Hi,
First, I thank you for the present dcumentation.
I propose the following imporvements:
1/ I was looking for specification of a kubelet-credential-provider. I want to design  it for Hashicorp Vault (I have not found one yet) and then I need the interface and behavior interface. So, could we add a link towards the spec ?
2/ I was also looking for more information on "feature gate" related to the

[2021-12-06 15:54] sftim opened #30763 "Document VerticalPodAutoscalerCheckpoint"
**This is half way between a bug report and a feature request**

**Problem:**
There is an API, VerticalPodAutoscalerCheckpoint, that the vertical pod autoscaler can use to store aggregated historical metrics.
There's no documentation about that API.

**Proposed Solution:**
Add documentation about VerticalPodAutoscalerCheckpoint

**Page to Update:**
https://kubernetes.io/docs/reference/..?

**Addit

[2021-12-06 15:56] sftim commented on #30763
Actually, VPA isn't documented at all.
/close

[2021-12-06 15:56] #30763 closed

[2021-12-06 16:05] sftim opened #30764 "Document and / or fix api-approved.kubernetes.io annotation"
**This is a Bug Report**

**Problem:** Annotation `api-approved.kubernetes.io` used but not document.
https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/2337-k8s.io-group-protection mentions a non-namespaced annotation

**Proposed Solution:**
Document the private annotation `api-approved.kubernetes.io` and when you might need to use it.

As I understand it:
- We don't ne

[2021-12-06 16:09] nonylene opened #30765 "Docs about state for terminating Pod does not match the current behavior"
**This is a Bug Report**

Delivered from: https://github.com/kubernetes/kubernetes/issues/102537

**Problem:** Docs about state for terminating Pod does not match the current behavior.

Documentation says terminating Pods will go into UNREADY state as below, but in reality it remains READY state until just before it gets terminated.

See https://github.com/kubernetes/kubernetes/issues/102537 for d

[2021-12-06 16:10] sftim commented on #30764
(if we fix this, this issue becomes about documenting the new canonical thing and also any legacy mechanism that we must still support)

[2021-12-06 17:01] ErwanDL opened #30766 "Downward API doc - CPU requests/limits values are misleading"
**This is a Bug Report**

**Problem:**

The [Downward API docs give an example](https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/#use-container-fields-as-values-for-environment-variables) of how to access `request.cpu`, `limits.cpu`, `requests.memory`, `limits.memory` via environment variables in a container. However, although the resources and e

[2021-12-06 19:37] celestehorgan opened #30771 "Umbrella issue: Assess existing documentation for docker mentions"
This issue is a part of the [Docs Dockershim removal](https://github.com/orgs/kubernetes/projects/67) project.

## Description

Assess the existing documentation set for mentions of docker to remove.

This umbrella issue breaks out the documentation into its major sections so we can move through the docs set more easily.

For now, the scope of this issue is the `en` localization.

## Dependencies

[2021-12-06 19:37] celestehorgan commented on #30771
/assign @celestehorgan
/triage accepted

[2021-12-06 19:52] celestehorgan opened #30772 "Check Concepts > Overview for dockershim content"
Umbrella issue: https://github.com/kubernetes/website/issues/30771

## Description

Check https://kubernetes.io/docs/concepts/overview/ and **all subpages** for mentions of Docker.

This includes:
- The word "docker" in plain text
- References to or docker commands in code samples. [Most docker commands start with `docker`](https://github.com/wsargent/docker-cheat-sheet) so this shouldn't be an is

[2021-12-06 19:52] celestehorgan commented on #30772
/triage accepted
/help-wanted

[2021-12-06 19:55] celestehorgan opened #30773 "Check Concepts > Cluster Architecture & Concepts > Containers for dockershim content"
Umbrella issue: https://github.com/kubernetes/website/issues/30771

## Description

Check https://kubernetes.io/docs/concepts/architecture/ and https://kubernetes.io/docs/concepts/containers/ and **all their subpages** for mentions of Docker.

This includes:
- The word "docker" in plain text
- References to or docker commands in code samples. [Most docker commands start with `docker`](https://gith

[2021-12-06 19:55] celestehorgan commented on #30773
/triage accepted
/help-wanted
/good-first-issue

[2021-12-06 20:24] celestehorgan opened #30774 "Check Concepts > Workloads & Concepts > Services, Load Balancing & Networking for dockershim content"
Umbrella issue: https://github.com/kubernetes/website/issues/30771

## Description

Check https://kubernetes.io/docs/concepts/workloads/ and https://kubernetes.io/docs/concepts/services-networking/ and **all their subpages** for mentions of Docker.

This includes:
- The word "docker" in plain text
- References to or docker commands in code samples. [Most docker commands start with `docker`](https:

[2021-12-06 20:24] celestehorgan commented on #30774
/triage accepted
/help-wanted
/good-first-issue

[2021-12-06 20:45] celestehorgan opened #30775 "Check Concepts > Storage & Concepts > Configuration for dockershim content"
Umbrella issue: https://github.com/kubernetes/website/issues/30771

## Description

Check https://kubernetes.io/docs/concepts/storage/ and https://kubernetes.io/docs/concepts/configuration/ and **all their subpages** for mentions of Docker.

This includes:
- The word "docker" in plain text
- References to or docker commands in code samples. [Most docker commands start with `docker`](https://github

[2021-12-06 20:46] celestehorgan commented on #30775
/triage accepted
/help-wanted
/good-first-issue

[2021-12-06 22:22] celestehorgan opened #30777 "Check Concepts > Security and Concepts > Policies for dockershim content"
Umbrella issue: https://github.com/kubernetes/website/issues/30771

## Description

Check https://kubernetes.io/docs/concepts/security/ and h[ttps://kubernetes.io/docs/concepts/configuration/](https://kubernetes.io/docs/concepts/policy/) and **all their subpages** for mentions of Docker.

This includes:
- The word "docker" in plain text
- References to or docker commands in code samples. [Most doc

[2021-12-06 22:22] celestehorgan commented on #30777
/triage accepted
/help-wanted
/good-first-issue

[2021-12-06 22:26] PushkarJ opened #30778 "Merge tutorials->clusters into tutorials->security"
**This is a Feature Request**

**What would you like to be added**

Post-merge of #30422 , move the tutorials under https://github.com/kubernetes/website/tree/main/content/en/docs/tutorials/clusters into https://github.com/kubernetes/website/tree/main/content/en/docs/tutorials/security

Merge clusters section into security section here: https://github.com/kubernetes/website/blob/main/content/en/do

[2021-12-06 22:26] PushkarJ commented on #30778
@savitharaghunathan this might be a good first issue for new contributors in sig-security-docs
/triage accepted

[2021-12-06 22:37] jlbutler opened #30779 "kubernetes/website release 1.23 freeze"
This issue freezes k/website and should remain open until 1.23 is officially released!

The release is scheduled to happen tomorrow 7th of December and No PRs are allowed to merge until the release PR has successfully merged.

If there are any questions, please contact me or anyone from the docs release team

cc: @jimangel @divya-mohan0209 @reylejano
cc: @mehabhalodiya @chrisnegus @ramrodo @nate-d

[2021-12-07 00:13] ptux opened #30782 "[ja] Translate reference/kubectl/conventions into Japanese"
# This is a Feature Request

## What would you like to be added

Translate [reference/kubectl/conventions/](https://kubernetes.io/docs/reference/kubectl/conventions/
)  into Japanese.

## Why is this needed

This page has not been translated.

## Comments

/language ja
/assign

[2021-12-07 03:53] ashish-jaiswar commented on #30777
/assign

[2021-12-07 04:01] Mpadhi2000 commented on #30777
/assign

[2021-12-07 04:03] Mpadhi2000 commented on #30775
/assign

[2021-12-07 04:09] Mpadhi2000 commented on #30777
/unassign

[2021-12-07 06:39] Narsilion commented on #30744
Hi @sftim, thank you, now I see and it it clearer to me. I think the concept is tricky itself, not sure if you can make it more clear.

[2021-12-07 06:52] Babapool commented on #30778
Hi, I would like to work on this issue.
/assign

[2021-12-07 07:00] jihoon-seo commented on #30679
Resolved by the PRs #30485 & #30749
/close

[2021-12-07 07:00] #30679 closed

[2021-12-07 07:01] jihoon-seo commented on #30678
Resolved by the PRs #30485 & #30749
/close

[2021-12-07 07:01] #30678 closed

[2021-12-07 07:03] jihoon-seo commented on #30782
/triage accepted

[2021-12-07 07:11] YuikoTakada opened #30783 "[ja]Apply changes in #29770"
**This is a Feature Request**

**What would you like to be added**

Apply the change which was added by https://github.com/kubernetes/website/pull/29770/files to Japanese website.

**Why is this needed**

The change which was added by https://github.com/kubernetes/website/pull/29770/ is not applied to Japanese page yet.

**Comments**

/language ja
/assign

[2021-12-07 09:40] sftim commented on #25879
/triage accepted

[2021-12-07 09:40] sftim commented on #25879
/language en
/kind feature

[2021-12-07 09:41] sftim commented on #25879
/priority important-soon
Folks want to know how to migrate

[2021-12-07 11:19] ugurarpaci commented on #9585
This is still missing in the documentation!

[2021-12-07 11:42] sftim commented on #30778
/kind cleanup

[2021-12-07 13:47] jitubhaiya opened #30788 "how to make age calculator with c++ ?"
what is age calculator ?
At age calculator[age calculator](https://lencis.net/)
1. you can calculate your age in days
2. age calculator[age calculator](https://lencis.net/)  calculates age in seconds.
3. age calculator[age calculator](https://lencis.net/)  calulates age in minutes.
4. age calculator[age calculator](https://lencis.net/)  calculates age in months.
5. age calculator calculates in yea

[2021-12-07 13:57] jitubhaiya opened #30789 "how to create age calculater with html ?"
<h2>Chinese calculates ages[calculates ages](https://lencis.net/)  &nbsp;different way:How they&nbsp;calculates&nbsp;age and which&nbsp;age calculator&nbsp;they used to caluate there ages?</h2>

function calculateAge(date)
{
  const now = new Date();
  const diff = Math.abs(now - date );
  const age = Math.floor(diff / (1000 * 60 * 60 * 24 * 365));
  return age
}

var picker = new Pikaday({
  fiel

[2021-12-07 17:41] celestehorgan commented on #30775
Hi @Mpadhi2000!

This ticket is time-sensitive and needs to be completed preferably before the end of the year. That said, it's pretty easy (just check for mentions of docker in these sections!)

If you can commit to the timeline, please go ahead. If not I'd prefer to assign someone else who can :)

[2021-12-07 18:34] JoeKuan opened #30793 "Improvement for k8s.io/docs/concepts/overview/components/"
The kubelet takes a set of PodSpecs that are provided through various mechanisms and ensures that the containers described in those PodSpecs are running and healthy. The kubelet doesn't manage containers which were not created by Kubernetes.

The later sentence is somewhat confusing. It would be great if you can provide an example or a link for further information.

[2021-12-07 18:57] ahmethlv opened #30794 "IPv4/IPv6 dual-stack"

[2021-12-07 21:04] celestehorgan commented on #30772
/good-first-issue

[2021-12-07 21:05] celestehorgan commented on #30777
Hi @ashish-jaiswar

This ticket is time-sensitive and needs to be completed preferably before the end of the year. That said, it's pretty easy (just check for mentions of docker in these sections!)

If you can commit to the timeline, please go ahead. If not I'd prefer to assign someone else who can :)

[2021-12-07 21:46] #27013 closed

[2021-12-07 22:48] k8s-triage-robot opened #30796 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2021-12-07 23:21] sftim commented on #29524
Done in https://github.com/kubernetes/website/pull/29663
/close

[2021-12-07 23:22] #29524 closed

[2021-12-07 23:22] sftim commented on #30794
/triage needs-information

@ahmethlv, what issue did you want to raise?

[2021-12-07 23:22] sftim commented on #30796
Looks like this is already done
/close

[2021-12-07 23:23] sftim commented on #30796
/sig docs

[2021-12-07 23:23] #30796 closed

[2021-12-07 23:23] sftim commented on #8724
Ah! This repo's primary branch is called `main`, @k8s-triage-robot.

[2021-12-07 23:52] jlbutler commented on #30779
1.23 release PR has been merged and the release is complete. Dropping freeze and closing.

[2021-12-07 23:52] #30779 closed

[2021-12-08 00:38] zacharysarah commented on #8724
Whew, I had security palpitations for a moment. 😅

[2021-12-08 01:36] sftim commented on #27338
I've proposed a PR to fix this.
:crossed_fingers:

[2021-12-08 01:45] sftim opened #30801 "Release list omits Kubernetes v1.23"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/releases/ lists v1.22 as the most recent release.

**Proposed Solution:**
- fix the YAML data for releases
- manually update https://kubernetes.io/releases/patch-releases/ (which is not yet built from that YAML data)

**Section to Update:**
https://kubernetes.io/releases/

**Kubernetes Version:**
v1.23

**Additional Information:**
/prior

[2021-12-08 01:46] sftim commented on #30801
PR #30800 should fix this, but I don't have all the details. I'm happy for someone else to open a similar PR with the information filled in.

[2021-12-08 02:56] amniskin commented on #30748
I'd appreciate that because those two bullet points seem like direct contradictions of one another. If a CRD is always non-namespaced, then it can't either be namespaced or cluster-scoped. CRD is the acronym for CustomResourceDefinition, right?

[2021-12-08 05:06] ashish-jaiswar commented on #30777
hi @celestehorgan I am trying to resolve this issue ,If I can't then I will unassign for this issue.

[2021-12-08 05:48] #28169 closed

[2021-12-08 05:48] #28844 closed

[2021-12-08 05:48] #28168 closed

[2021-12-08 06:48] #28846 closed

[2021-12-08 08:06] Deepakktripathy commented on #30641
/assign

[2021-12-08 08:33] SergeyKanzhelev opened #30804 "gRPC probes with the different security configurations of the endpoints"
**This is a Feature Request**

Starting 1.23, gRPC probes are built-in to k8s. https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#define-a-grpc-liveness-probe

It will be great to expand documentation explaining which secure endpoint settings will be respected and which wouldn't. Built-in gRPC probe will ignore certificate for TLS, but will likely

[2021-12-08 09:45] sftim opened #30807 "Document annotation: volume.kubernetes.io/storage-provisioner"
**This is a Bug Report**

**Problem:** Kubernetes sets an annotation, `volume.kubernetes.io/storage-provisioner`. However, this annotation is not registered / documented.

**Proposed Solution:**
Add that annotation to [Well-Known Labels, Annotations and Taints](https://kubernetes.io/docs/reference/labels-annotations-taints/).
There is also a deprecated beta annotation, `volume.beta.kubernetes.io/s

[2021-12-08 09:45] sftim opened #30808 "Document annotation: pod-security.kubernetes.io/audit-violation"
**This is a Bug Report**

**Problem:** Pod Security admission sets an annotation, `pod-security.kubernetes.io/audit-violation`. However, this annotation is not registered / documented.

**Proposed Solution:**
Add that annotation to [Well-Known Labels, Annotations and Taints](https://kubernetes.io/docs/reference/labels-annotations-taints/).

**Page to Update:**
https://kubernetes.io/docs/reference/

[2021-12-08 09:45] sftim opened #30809 "Document annotation: pod-security.kubernetes.io/enforce-policy"
**This is a Bug Report**

**Problem:** Pod Security admission sets an annotation, `pod-security.kubernetes.io/enforce-policy`. However, this annotation is not registered / documented.

**Proposed Solution:**
Add that annotation to [Well-Known Labels, Annotations and Taints](https://kubernetes.io/docs/reference/labels-annotations-taints/).

**Page to Update:**
https://kubernetes.io/docs/reference/l

[2021-12-08 09:58] ptux opened #30810 "[ja] Translate tasks/administer-cluster/securing-a-cluster into Japanese"
# This is a Feature Request

## What would you like to be added

Translate [tasks/administer-cluster/securing-a-cluste](https://kubernetes.io/docs/tasks/administer-cluster/securing-a-cluster/)  into Japanese.

## Why is this needed

This page has not been translated.

## Comments

/language ja
/assign

[2021-12-08 12:04] JoeKuan opened #30811 "Improvement for k8s.io/docs/concepts/architecture/controller/"
I can't picture where a 'controller' fits in the k8s design diagram.

[2021-12-08 13:25] mrbobbytables opened #30813 "Dockershim: Draft empathy blog post"
Pre the first alpha cut of 1.24, a blog post should be drafted expressing the project's understanding that many users have not migrated off of dockershim, and migration can be painful but its needed for a variety of reasons and we are committed to documenting and making it as easy as possible.

/assign @celestehorgan @nate-double-u @sftim
(For visibility)

/assign @SergeyKanzhelev @dims
sig-arch /

[2021-12-08 13:45] sftim commented on #30813
:100:
/triage accepted

[2021-12-08 13:49] #28572 closed

[2021-12-08 14:10] sftim commented on #30811
/kind feature
/language en

[2021-12-08 15:17] JoeKuan opened #30814 "Improvement for k8s.io/docs/concepts/architecture/garbage-collection/"
Kubernetes manages the lifecycle of all images through its image manager, which is part of the kubelet, with the cooperation of cadvisor.

Needs pop up note on cadvisor

[2021-12-08 15:22] JoeKuan opened #30815 "Improvement for k8s.io/docs/concepts/architecture/garbage-collection/"
MaxPerPodContainer: the maximum number of dead containers each Pod pair can have.

Sorry, what do you mean by 'Pod pair'?

[2021-12-08 17:41] dims commented on #30813
hoping @endocrimes can cover for me! also cc @adisky

[2021-12-08 18:31] endocrimes commented on #30813
/assign

[2021-12-08 18:35] SergeyKanzhelev commented on #30813
I started the draft, which is super rough and doesnt' have all the outline yet: https://docs.google.com/document/d/160edAf2q3-FY8SFNCfEoSWcQ0Y7OUUy4hD7nc-b11n8/edit#

[2021-12-08 19:42] sftim commented on #30814
/kind feature
/language en

I think by pop up note, @JoeKuan, you're talking about a [glossary tooltip](https://kubernetes.io/docs/contribute/style/hugo-shortcodes/#glossary). Good suggestion, thanks!

To fix this, someone should:
- add a new glossary entry
  - read https://github.com/google/cadvisor#readme for context
  - look in https://github.com/kubernetes/website/tree/main/content/en/docs/ref

[2021-12-08 19:42] sftim commented on #30814
/priority backlog

[2021-12-08 19:55] #28375 closed

[2021-12-08 22:49] k8s-triage-robot opened #30821 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2021-12-08 23:55] SergeyKanzhelev commented on #30804
also can publish recommendation on testing gRPC endpoints by exposing plaintext endpoint and using TCP check. Like here: https://cloud.google.com/traffic-director/docs/security-proxyless-setup#create-health-check

[2021-12-09 00:27] jglick opened #30823 "Issue with k8s.io/docs/tasks/configure-pod-container/migrate-from-psp/"
This page would be more helpful if it listed actual `PodSecurityPolicy` YAML corresponding (to the extent possible) to the new baseline and restricted levels.

[2021-12-09 01:02] chenlrambus opened #30824 "Issue with k8s.io/docs/concepts/workloads/pods/init-containers/"
The examples used in the doc do not make a lot of sense.
We followed examples and implemented in  our application.  It does not work well, still see pods restarts multiple times before all pods settle.

The root cause is that the examples use nslookup to check dependency microservice service IP, which could be available much earlier/quicker than the corresponding pods online. In an extreme case,

[2021-12-09 02:36] jimangel commented on #30821
https://groups.google.com/g/kubernetes-dev/c/yFlPFIYJCt8

[2021-12-09 03:25] Babapool commented on #30778
Hi @PushkarJ, I have some questions regarding the fix of this issue:
1.  In the https://github.com/kubernetes/website/blob/main/content/en/docs/tutorials/_index.md file I need to rename the Clusters section as the Security section? (as I understood from the comment on the PR)
2.  About moving the Tutorials under the https://github.com/kubernetes/website/tree/main/content/en/docs/tutorials/security

[2021-12-09 03:33] ashish-jaiswar commented on #30732
Hi @kranurag7 ,  hope you are doing great, are you completed the task ? If yes then please send it to me.

[2021-12-09 03:41] kranurag7 commented on #30732
@ashish-jaiswar Yes, I have completed the localisation. I will review that once that and submit to you by evening today. Also, Please let me know where to submit?

[2021-12-09 04:17] ashish-jaiswar commented on #30732
ok, you can share me on slack. If you haven't join please in #kubernetes-docs-hi.

[2021-12-09 04:24] kranurag7 commented on #30732
Yes, I have joined. I will share there.

[2021-12-09 11:27] CatalinCnif opened #30831 "Improvement for k8s.io/docs/tasks/tools/install-kubectl-linux/"
Needs adaptation for redhat8.

[2021-12-09 11:38] seokho-son opened #30832 "Korean Localization for dev-1.23-ko.1 branch"
## In English

**This is a Feature Request**

Korean Localization for `dev-1.23-ko.1` branch.

**What would you like to be added**

Any localization contributions for Korean.

**Comments**

- This issue is to notify the schedule of Korean localization to contributors.
- `dev-1.23-ko.1` is the current work branch for Korean localization.

**Important dates**
- A Korean localization work branch is m

[2021-12-09 11:39] seokho-son commented on #30832
/milestone dev-1.23-ko.1

[2021-12-09 11:39] seokho-son commented on #30832
/triage accepted

[2021-12-09 12:19] sftim commented on #30771
This is also part of https://github.com/kubernetes/kubernetes/issues/104878

[2021-12-09 12:46] guyrleech opened #30833 "Improvement for k8s.io/docs/tasks/tools/install-kubectl-windows/"
Why not use PowerShell Get-FileHash instead of certutil for getting/checking file hashes?

[2021-12-09 17:00] dhiller opened #30834 "kubeadm control plane customization doc has wrong InitConfiguration yaml declaration"
**This is a Bug Report**

**Problem:**

The yaml for control-plane-flags patch section has an incorrect structure.

Please see the InitConfiguration definition here: https://github.com/kubernetes/kubernetes/blob/b0bc8adbc2178e15872f9ef040355c51c45d04bb/cmd/kubeadm/app/apis/kubeadm/types.go#L69

**Proposed Solution:**

It should be like this:
[code]

**Page to Update:**
https://kubernetes.io/docs/s

[2021-12-09 17:01] dhiller commented on #30834
I'd prepare a PR on this, but cloning the repo takes forever.

[2021-12-09 17:04] neolit123 commented on #30834
That is indeed a bug in the docs. Thanks for logging the ticket.

/assign
/sig cluster-lifecycle

[2021-12-09 17:06] neolit123 commented on #30834
i can send the PR, but if you'd like to contribute in the future you must also sign the CLA.
https://github.com/kubernetes/community/blob/master/CLA.md

[2021-12-09 17:11] dhiller commented on #30834
Sure thing. Will do! Thanks for the heads up!

[2021-12-09 17:22] neolit123 commented on #30834
PR is up https://github.com/kubernetes/website/pull/30836
/triage accepted

[2021-12-09 17:47] sftim opened #30837 "Add banner to highlight dockershim migration docs"
**This is a Feature Request**

**What would you like to be added**
When there are good / good-enough docs for migration away from dockershim, add a banner that highlights these docs. Leave that banner in place until (maybe even after) the v1.24 release.

**Why is this needed**
[We're removing dockershim](https://github.com/kubernetes/kubernetes/issues/104878) from Kubernetes

**Comments**
/sig nod

[2021-12-09 18:03] sftim opened #30838 "Windows setup guide links to (deprecated, missing) Docker EE instructions"
**This is a Bug Report**

**Problem:**
The Windows-specific setup guide for Kubernetes ([Windows containers in Kubernetes](https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/)) lists Docker EE as a container runtime, but:
- the hyperlink to “Install Docker” is broken
- Kubernetes' support for dockershim is deprecated

**Proposed Solution:**
- remove the sec

[2021-12-09 18:03] sftim commented on #30838
/retitle Windows setup guide links to (deprecated, missing) Docker EE instructions

[2021-12-09 18:05] sftim commented on #26780
/reopen

The standalone binary story is not yet settled.

[2021-12-09 18:06] sftim commented on #26780
I think we _should_ clearly mention that deprecation.

[2021-12-09 18:07] sftim commented on #28449
/remove-priority important-longterm
/priority important-soon

[2021-12-09 18:15] sftim commented on #29665
/triage accepted
/priority important-longterm
/language en

[2021-12-09 18:16] sftim commented on #29665
@SergeyKanzhelev would you be willing to open an issue about the mirroring task? I think we should take it at least as far as an issue so we can formally triage it and decide on a course of action.

[2021-12-09 18:24] sftim opened #30839 "Update dockershim articles and notices to link to https://github.com/kubernetes/kubernetes/issues/106917"
**This is a Feature Request**

**What would you like to be added**
- Find existing blog articles that mention dockershim
- Find existing docs pages that mention dockershim deprecation
- Update what you found to mention that there is a discussion issue on GitHub: https://github.com/kubernetes/kubernetes/issues/106917

**Why is this needed**
We'd like to track feedback and discussion in one place so

[2021-12-09 22:48] SergeyKanzhelev opened #30842 "[Dockershim removal] Document the change for pod-infra-container-image"
/kind feature
/sig node

1. Update docs for the flag pod-infra-container-image as dockershim is removed (also tracked here: https://github.com/kubernetes/kubernetes/issues/106893)

2. Document how to transition from using this flag to Contained setting when migrating off dockershim

Also see https://github.com/kubernetes/kubernetes/issues/106903#issuecomment-990131103

[2021-12-10 00:05] SergeyKanzhelev opened #30843 "[Migration off Dockershim] Migration guide for users configured private registries/mirrors"
/sig node

It is very common that people set up private registries on Docker. Step by step migration guide on how to configure the same on Containerd or other runtimes would be useful for smooth migratioon

Fork of https://github.com/kubernetes/website/issues/29665#issuecomment-920176362

[2021-12-10 00:05] SergeyKanzhelev commented on #29665
Filed: https://github.com/kubernetes/website/issues/30843

[2021-12-10 01:45] seokho-son commented on #30832
연말이라 특별히 작업 기간을 좀 길게 가져가기로 하였습니다. (한글화팀 정기회의 참고)

[2021-12-10 01:55] seokho-son opened #30845 "Outdated Korean contents in the dev-1.23-ko.1"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.23-ko.1 branch.

Report generated by the following command.
`scripts/diff_l10n_branches.py ko upstream/dev-1.22-ko.3 upstream/dev-1.23-ko.1`

### 93 files to be modified
1. [x] M1.  `content/en/_index.html`  | 2(+XS) 2(-)
1. [x] M2.  `content/en/community/_index.html`  | 1(+XS) 0(-)
1. [x] M3.  `content/en/docs/concepts/archite

[2021-12-10 01:55] seokho-son commented on #30845
/triage accepted

[2021-12-10 01:58] seokho-son commented on #30845
/milestone dev-1.23-ko.1

[2021-12-10 02:41] jihoon-seo commented on #30845
[Preview]

<details>
  <summary>Captured image</summary>

![image](https://user-images.githubusercontent.com/46767780/145507470-7f64a767-c12c-47b2-a6db-f5da81f3173c.png)
</details>

---

<details>
  <summary>Captured image</summary>

![image](https://user-images.githubusercontent.com/46767780/145507635-f64a5cd9-f8fc-49d8-9e48-87ba38f1d8ce.png)
</details>

---

<details>
  <summary>Captured image</

[2021-12-10 04:38] jihoon-seo opened #30846 "Outdated Korean contents in the dev-1.22-ko.4"
# This is a Bug Report
## Problem
Outdated files in the `upstream/dev-1.22-ko.4` branch.

Report generated by the following command.
`./scripts/diff_l10n_branches.py ko upstream/dev-1.22-ko.3 upstream/dev-1.22-ko.4`

### 70 files to be modified
1. [ ] M1.  `content/en/_index.html`  | 2(+XS) 2(-)
1. [ ] M2.  `content/en/community/_index.html`  | 1(+XS) 0(-)
1. [ ] M3.  `content/en/docs/concepts/arc

[2021-12-10 04:38] jihoon-seo commented on #30845
/language ko

[2021-12-10 04:56] jihoon-seo commented on #30846
# 작업 진행 전 참고사항

- #30846
- #30845

두 이슈 모두에 포함되어 있는 파일도 있으니, 참고하시기 바랍니다.

[[비교 링크](https://github.com/jihoon-seo/k8s-website/commit/9eb402d5423b5565bd802e44b520080dbf9e7eda)]

[2021-12-10 04:57] jihoon-seo commented on #30845
# 작업 진행 전 참고사항

- #30846
- #30845

두 이슈 모두에 포함되어 있는 파일도 있으니, 참고하시기 바랍니다.

[[비교 링크](https://github.com/jihoon-seo/k8s-website/commit/9eb402d5423b5565bd802e44b520080dbf9e7eda)]

[2021-12-10 05:04] seokho-son commented on #30846
/triage accepted

[2021-12-10 06:33] jihoon-seo commented on #30846
M1-M17 제가 하겠습니다~~
- M1-M17 : @jihoon-seo
- ...

[2021-12-10 06:58] jihoon-seo commented on #30846
[TODO]
`content/ko` 에서,
`docs/concepts/services-networking/service/#nodeport` 를 찾아서
`docs/concepts/services-networking/service/#type-nodeport` 로 replace 해야 합니다.

특히,
`content/ko/docs/concepts/services-networking/service.md` 파일에서는
`#nodeport` 를 찾아서
`#type-nodeport` 로 replace 해야 합니다.

제가 나중에 할 예정이며,
혹시 누락되면 다른 분께서 처리해 주시면 감사하겠습니다. 😊

[2021-12-10 07:36] SergeyKanzhelev opened #30849 "Document on the probes page that redirects are not followed to"
/sig node
/help
/priority backlog

On this page: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/ it will be nice to note that the http probe will not follow redirects. It will succeed on redirect response like `302`, but will report the warning like seen here: See this comment: https://github.com/kubernetes/kubernetes/pull/103967/files#r7664305

[2021-12-10 09:54] sftim commented on #30849
/language en
/triage accepted

Thanks for reporting on this.

[2021-12-10 11:13] #30814 closed

[2021-12-10 11:28] yuzhiquan commented on #30804
/assign

[2021-12-10 11:30] mehabhalodiya commented on #27951
Hey, I want to add further clarification.
But, will anyone from you let me know what type of clarification is needed?
Which command and text needs to be inserted in [this section](https://kubernetes.io/docs/tasks/tools/install-kubectl-linux/#verify-kubectl-configuration)?

[2021-12-10 11:38] afbjorklund commented on #25879
We are missing documentation on how to move `docker build` away from dockerd, over to buildkitd...

Moving away from Docker leaves users without any documented method of building container images.

Suggested migration approaches included `nerdctl`.

Or even writing your own wrapper, like minikube had to.

[2021-12-10 12:50] afbjorklund commented on #25879
I was specifically referring to the (questionable) practice of building container images directly on the nodes.

It is not possible to use `docker build`, if dockerd has been replaced with containerd. Need to add buildkitd.

[2021-12-10 13:28] Babapool commented on #30778
Hi @PushkarJ @sftim , I a query:
1. After moving the tutorials from the cluster sub-directory into the security sub-directory, the cluster sub-directory will only have its _index.md file do I need to do something regarding it (_index.md file)?
Thanks

[2021-12-10 14:32] MikeSpreitzer opened #30853 "Do not drop comments on inlined types when generating API doc"
https://github.com/kubernetes/api/blob/v0.23.0/core/v1/types.go#L2455 is an important piece of information (e.g., it answers a question asked on Slack, see https://kubernetes.slack.com/archives/C0EG7JC6T/p1639044290373600) but it did not get copied into https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.23/#probe-v1-core .

[2021-12-10 17:02] MikeSpreitzer commented on #30853
@thockin: this is a consequence of the quirky way we do IDL.

[2021-12-10 18:19] #28291 closed

[2021-12-10 21:07] chetak123 commented on #30838
/assign @chetak123

[2021-12-11 04:12] tengqm commented on #30853
@MikeSpreitzer Just spent some time looking into this. You are correct. The comments for the inlined structs are swallowed when the upstream swagger docs are generated. I'm afraid we have similar problems for reference fields as well.

[2021-12-11 04:13] tengqm commented on #30853
@MikeSpreitzer Just spent some time looking into this. You are correct. The comments for the inlined structs are swallowed when the upstream swagger docs are generated. I'm afraid we have similar problems for reference fields as well.

[2021-12-11 04:13] tengqm commented on #30853
@MikeSpreitzer Just spent some time looking into this. You are correct. The comments for the inlined structs are swallowed when the upstream swagger docs are generated. I'm afraid we have similar problems for reference fields as well.

[2021-12-11 05:22] #28864 closed

[2021-12-11 06:27] tengqm commented on #30761
Both `CredentialProviderConfig` and `CredentialProvider` are defined in [`pkg/kubelet/apis/config/types.go`](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/apis/config/types.go#L530). However, these definitions are not showing up in the [kubelet config APIs](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubelet/config/v1beta1/types.go). That is the reaso

[2021-12-11 06:31] thekuwayama commented on #30401
/assign

[2021-12-11 06:36] tengqm commented on #30761
Dug more into it. Looks like `CredentialProviderConfig` and `CredentialConfig` are only part of the v1alph1 kubelet config API. I'm working on generating this reference.
/triage accepted
/kind feature
/assign

[2021-12-11 07:17] tengqm commented on #30761
Update: #30859 was submitted to add v1alpha1 version of kubelet API which includes the required struct definition. A follow up PR #30860 was added for introducing the communication APIs.

[2021-12-11 08:14] jazeem-azeez opened #30861 "Improvement for k8s.io/docs/tutorials/stateless-application/"
Please refer
https://kubernetes.io/docs/tutorials/stateful-application/basic-stateful-set/
I would like to see documentation similar to the one above for stateless

[2021-12-11 14:30] #26998 closed

[2021-12-11 16:09] sftim commented on #30861
@jazeem-azeez would you be willing to explain how https://kubernetes.io/docs/tutorials/#stateless-applications falls short of what you were hoping for?

/triage needs-information
/language en

[2021-12-11 16:10] sftim commented on #30831
Hi @CatalinCnif

Could you describe how the current documentation falls short of what you were hoping for?

/language en
/triage needs-information
/sig cli

[2021-12-11 17:10] sftim commented on #28449
PR https://github.com/kubernetes/website/pull/30862 should help with this

[2021-12-11 17:10] sftim commented on #30838
/close
Done in #30854

[2021-12-11 17:11] #30838 closed

[2021-12-11 17:33] #28936 closed

[2021-12-11 17:48] Babapool commented on #30778
@sftim Whenever you are free can you please help me with the above mentioned query. Thanks

[2021-12-12 08:51] ptux opened #30867 "[ja] Translate tasks/debug-application-cluster/debug-application-introspection into Japanese"
# This is a Feature Request

## What would you like to be added

Translate [tasks/debug-application-cluster/debug-application-introspection](https://kubernetes.io/docs/tasks/debug-application-cluster/debug-application-introspection/)  into Japanese.

## Why is this needed

This page has not been translated.

## Comments

/language ja
/assign

[2021-12-12 09:27] ptux opened #30869 "[ja] Translate tasks/debug-application-cluster/crictl into Japanese"
# This is a Feature Request

## What would you like to be added

Translate [tasks/debug-application-cluster/crictl](https://kubernetes.io/docs/tasks/debug-application-cluster/crictl/)  into Japanese.

## Why is this needed

This page has not been translated.

## Comments

/language ja
/assign

[2021-12-12 09:28] ptux opened #30870 "[ja] Translate tasks/debug-application-cluster/monitor-node-health into Japanese"
# This is a Feature Request

## What would you like to be added

Translate [tasks/debug-application-cluster/monitor-node-health](https://kubernetes.io/docs/tasks/debug-application-cluster/monitor-node-health/)  into Japanese.

## Why is this needed

This page has not been translated.

## Comments

/language ja
/assign

[2021-12-12 09:50] ptux opened #30871 "[ja] Translate tasks/debug-application-cluster/resource-metrics-pipeline into Japanese"
# This is a Feature Request

## What would you like to be added

Translate [tasks/debug-application-cluster/resource-metrics-pipeline](https://kubernetes.io/docs/tasks/debug-application-cluster/resource-metrics-pipeline/)  into Japanese.

## Why is this needed

This page has not been translated.

## Comments

/language ja
/assign

[2021-12-12 09:51] ptux opened #30872 "[ja] Translate tasks/debug-application-cluster/resource-usage-monitoring into Japanese"
# This is a Feature Request

## What would you like to be added

Translate [tasks/debug-application-cluster/resource-usage-monitoring](https://kubernetes.io/docs/tasks/debug-application-cluster/resource-usage-monitoring/)  into Japanese.

## Why is this needed

This page has not been translated.

## Comments

/language ja
/assign

[2021-12-12 09:52] ptux opened #30873 "[ja] Translate tasks/debug-application-cluster/debug-application into Japanese"
# This is a Feature Request

## What would you like to be added

Translate [tasks/debug-application-cluster/debug-application](https://kubernetes.io/docs/tasks/debug-application-cluster/debug-application/)  into Japanese.

## Why is this needed

This page has not been translated.

## Comments

/language ja
/assign

[2021-12-12 09:53] ptux opened #30874 "[ja] Translate tasks/debug-application-cluster/debug-cluster into Japanese"
# This is a Feature Request

## What would you like to be added

Translate [tasks/debug-application-cluster/debug-cluster/](https://kubernetes.io/docs/tasks/debug-application-cluster/debug-cluster/)  into Japanese.

## Why is this needed

This page has not been translated.

## Comments

/language ja
/assign

[2021-12-12 09:54] ptux opened #30875 "[ja] Translate tasks/debug-application-cluster/troubleshooting into Japanese"
# This is a Feature Request

## What would you like to be added

Translate [tasks/debug-application-cluster/troubleshooting](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/)  into Japanese.

## Why is this needed

This page has not been translated.

## Comments

/language ja
/assign

[2021-12-12 09:55] ptux opened #30876 "[ja] Translate tasks/debug-application-cluster/debug-running-pod into Japanese"
# This is a Feature Request

## What would you like to be added

Translate [tasks/debug-application-cluster/debug-running-pod](https://kubernetes.io/docs/tasks/debug-application-cluster/debug-running-pod/)  into Japanese.

## Why is this needed

This page has not been translated.

## Comments

/language ja
/assign

[2021-12-12 09:56] ptux opened #30877 "[ja] Translate tasks/debug-application-cluster/local-debugging into Japanese"
# This is a Feature Request

## What would you like to be added

Translate [tasks/debug-application-cluster/local-debugging](https://kubernetes.io/docs/tasks/debug-application-cluster/local-debugging/)  into Japanese.

## Why is this needed

This page has not been translated.

## Comments

/language ja
/assign

[2021-12-12 11:13] benignbala opened #30878 "Endpoints - The example section should be formatted as code"
The example section of the Endpoints page shows a JSON example that needs to be formatted as code.

[2021-12-12 18:09] tholemu opened #30883 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
Continually being presented with the following error code while attempting to run "Interactive Tutorial - Creating a Cluster"

"The content owner's account has reached capacity. Please try again in 10 minutes"

[2021-12-12 18:32] tholemu commented on #30883
The terminal ended up being able to establish a connection eventually.

[2021-12-12 18:32] #30883 closed

[2021-12-12 21:46] peterclauterbach commented on #25172
More discussion would help here. I was wondering if or how k8s used hysteresis for controller behavior. There is certainly not a lot about it, and I landed on this issue.
Hysteresis is a room thermostat controlling the heat or air conditioning system.  Monitoring an analog temperature, and then turning the system ON or OFF.  If you trigger this at a single temperature, you get a lot of duty cycles

[2021-12-12 21:47] peterclauterbach commented on #25172
/remove-lifecycle stale

[2021-12-12 22:04] peterclauterbach commented on #25172
/remove-lifecycle rotten

[2021-12-12 22:04] sftim commented on #30878
It sounds like you're reporting an issue in https://kubernetes.io/docs/reference/kubernetes-api/service-resources/endpoints-v1/

That page is generated from Kubernetes source code, and we don't yet have a way to represent markup in that source code. Issue https://github.com/kubernetes/kubernetes/issues/106437 is very broadly about the same kind of thing.

[2021-12-12 22:29] #30834 closed

[2021-12-12 22:30] sftim commented on #25172
It's a bit of a shame that this feature request is where folks are landing when they search, and not the page we're considering whether to edit.
My take is (still) that even though not all tech folk will know the word, other people will think of it as their first choice of search term when trying to understand how Kubernetes incorporates prior state into controller behavior.

[2021-12-12 22:31] sftim commented on #25172
/retitle Mention hysteresis in docs

[2021-12-12 22:32] sftim commented on #25172
/remove-help
/remove-sig node

[2021-12-12 22:34] sftim commented on #25172
Also a strong +1 to visual depictions of controller behavior, especially ones with timelines.

[2021-12-12 23:48] systems1 opened #30885 "Update glossary entry for Quantity"
update memory to include M  G vs Mi Gi (Gibibyte versus Gigabyte)

[2021-12-13 00:37] peterclauterbach commented on #25172
Let’s find the appropriate k8s channel to kick some ideas about.

Sent from my iPhone

[2021-12-13 03:55] WilliamDenniss opened #30887 "Clarify default preemption behavior"
https://kubernetes.io/docs/concepts/scheduling-eviction/pod-priority-preemption/

Regarding this line:

I think it's worth adding some documentation about the default _preempting_ behavior too -- being that the default priority will preempt pods with a negative priority (i.e. if it was expressed as a PriorityClass, the setting would be `PreemptionPolicy: PreemptLowerPriority`). Something like:

[2021-12-13 04:10] ashish211985 opened #30888 "Play with k8s website not loading"
**This is a Bug Report**

Play with k8s website is not loading after i sign in. Its giving the following error :
**_This page isn’t workinglabs.play-with-k8s.com is currently unable to handle this request.
HTTP ERROR 500_**

Can someone please help ?

[2021-12-13 04:44] #26984 closed

[2021-12-13 07:02] jihoon-seo opened #30890 "Wrong link in `tasks/access-application-cluster/access-cluster`"
**This is a Bug Report**

**Problem:**

In the page https://kubernetes.io/docs/tasks/access-application-cluster/access-cluster/ ,
there exists a section "Accessing services running on the cluster".

When someone clicks the hyperlink in that section,
it goes to https://kubernetes.io/docs/tasks/access-application-cluster/access-cluster/ again.

**Proposed Solution:**

I guess that the hyperlink shou

[2021-12-13 09:28] CatalinCnif commented on #30831
Following the guide here:
https://kubernetes.io/docs/tasks/tools/install-kubectl-linux/

Redhat based distribution
https://kubernetes.io/docs/tasks/tools/install-kubectl-linux/#install-using-native-package-management
has this link: baseurl=https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64
that is for redhat7

I was suggesting that a redhat8 would be necessary also going forward.

T

[2021-12-13 09:36] jihoon-seo commented on #30888
For me,

right after login with GitHub:
![image](https://user-images.githubusercontent.com/46767780/145786762-210f4c79-9632-4f80-99c4-84e94c27b8db.png)

---

after click the "Start" button:
![image](https://user-images.githubusercontent.com/46767780/145787281-a7177b33-93c9-4a77-862b-c6adfb63b3fc.png)

---

Not loading here too! 😥

But I think that an issue should be opened at https://github.com/pl

[2021-12-13 09:43] jihoon-seo commented on #30885
- Link to the page: https://kubernetes.io/docs/tasks/configure-pod-container/assign-memory-resource/

In the [Memory units section](https://kubernetes.io/docs/tasks/configure-pod-container/assign-memory-resource/#memory-units), there exists a paragraph:

---

@systems1 Could you elaborate what you are suggesting exactly? (Including your example would be a good idea) 😊

[2021-12-13 09:43] ptux commented on #30869
PR: https://github.com/kubernetes/website/pull/30881

[2021-12-13 10:57] shannonxtreme opened #30896 "Remove docker from Node-pressure Eviction"
URL: https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/
File: /docs/concepts/scheduling-eviction/node-pressure-eviction.md
Umbrella issue: #30771
Partially fixes: #30921

## What to do

On line 238, remove `docker` from the examples of system daemons.

## How to do it

Refer to the [Contributor Guide](https://kubernetes.io/docs/contribute/new-content/open-a-pr/) for in

[2021-12-13 11:08] shannonxtreme opened #30897 "Action on Docker mentions in Concepts > Cluster Administration"
Umbrella issue: #30771
Partially fixes #30921

URL: https://kubernetes.io/docs/concepts/cluster-administration/logging/
File: kubernetes/website/content/en/docs/concepts/cluster-administration/logging.md
- Description: Docker is mentioned as an example of a container engine.
- Line: 65-70
- Action: Not sure if remove or not.

---

URL: https://kubernetes.io/docs/concepts/cluster-administration/sys

[2021-12-13 11:23] shannonxtreme opened #30898 "Action on Docker mentions in Concepts > Extending Kubernetes"
Umbrella issue: #30771
Fixes #30922

https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins/
FIle: kubernetes/website/content/en/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins.md

- Description: Docker is mentioned three times in the doc and `dockershim` once
- Line: 24, 31, 33, 149
- Actions

  - For [Installation](https://kubernetes.io/docs

[2021-12-13 11:25] PhilipMay opened #30899 "kubeadm install needs apparmor"
I have a "bare metal" Debian 11 server and install k8s with kubeadm.

I follow this guide: https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/

The install with `kubeadm init --pod-network-cidr=192.168.0.0/16` fails:

[code]

Looking at containerd logs shows this: `error="failed to create containerd container: get apparmor_parser version: exec: \"apparmor_

[2021-12-13 11:38] shannonxtreme opened #30900 "Action on Docker mentions in Tasks > Install Tools"
Umbrella issue: #30771

URL: https://kubernetes.io/docs/tasks/tools/
File: /docs/tasks/tools/_index.md

The KinD section mentions Docker.

Action: Do not change

---

URL: https://kubernetes.io/docs/tasks/tools/install-kubectl-windows/
File: /docs/tasks/tools/install-kubectl-windows.md

Description: There's a note about how Docker Desktop for Windows adds its own version of kubectl to PATH.

Actio

[2021-12-13 12:11] Deepakktripathy commented on #30890
/assign

[2021-12-13 12:35] killerkc12 commented on #30896
I would like to work on this

[2021-12-13 12:40] carmilea opened #30901 "Document observability concerns for production clusters"
I believe a key topic area is missing from this document, "Production environment", which has to do with Observibillity, Monitoring, and Alerting.

Observability, Monitoring, and Alerting should be a defacto conversation point on any Kubernetes cluster meant for production workloads.  I'm not suggesting we go in-depth into how to set up monitoring and alerting, but it should be touched on in the P

[2021-12-13 14:28] sftim commented on #30901
/kind feature
/retitle Document observability concerns for production clusters
/sig instrumentation docs
/language en

[2021-12-13 14:28] sftim commented on #30901
The section to update: https://kubernetes.io/docs/setup/production-environment/

[2021-12-13 14:29] sftim commented on #30897
For https://kubernetes.io/docs/concepts/cluster-administration/system-logs/#log-location I would turn “container runtime” into a glossary tooltip.
/sig node

[2021-12-13 14:32] sftim opened #30904 "Topology Aware Hints page does not document enabling the feature"
**This is a Bug Report**

**Problem:**
[Topology Aware Hints](https://kubernetes.io/docs/concepts/services-networking/topology-aware-hints/) does not explain how to set up the cluster so that Topology Aware Hints are enabled. The documentation for the `kube-scheduler` records that the relevant feature gate is disabled by default.

**Proposed Solution:**
Revise
[Topology Aware Hints](https://kubern

[2021-12-13 14:33] sftim commented on #30899
/sig cluster-lifecycle
/language en

[2021-12-13 15:24] PhilipMay commented on #30899
Well - it could be added as a hint in this "Install containerd:" box here: https://kubernetes.io/docs/setup/production-environment/container-runtimes/#containerd

Want me to suggest a PR?

[2021-12-13 15:51] neolit123 commented on #30899
I am waiting on a response in
https://github.com/kubernetes/kubernetes/issues/106974 from sig node
because apparmor was not a requirement before.

Maybe containerd changed.

/sig node

[2021-12-13 16:05] neolit123 commented on #24558
/remove-lifecycle frozen
I have this a todo once there is more free time.
At least the kubeadm cli does not change that much

[2021-12-13 17:33] sftim commented on #30899
/priority awaiting-more-evidence

[2021-12-13 17:34] sftim commented on #30899
Some docs somewhere need to change. Right now it's not clear which.

[2021-12-13 17:37] sftim commented on #30887
/language en
/kind feature
/triage accepted
/help

We could link to https://kubernetes.io/docs/concepts/scheduling-eviction/pod-priority-preemption/#non-preempting-priority-class to highlight that if you want Pods to have non-preempting behavior, you must explicitly configure this and assign those Pods to the PriorityClass you declared.

[2021-12-13 19:58] jlbutler commented on #30180
Addressed via above referenced and subsequent PRs.

[2021-12-13 19:58] #30180 closed

[2021-12-13 21:53] #28450 closed

[2021-12-13 22:53] MikeSpreitzer opened #30908 "NetworkPolicy concept doc needs update after egress added"
As discussed in the sig-networking mailing list (https://groups.google.com/g/kubernetes-sig-network/c/6k1A8l5uxLY), https://kubernetes.io/docs/concepts/services-networking/network-policies/#isolated-and-non-isolated-pods has not been fully updated since the introduction of egress filtering.

[2021-12-13 23:02] jihoon-seo commented on #30896
/assign @killerkc12

[2021-12-13 23:10] sftim opened #30909 "Show release date for initial minor release"
**This is a Feature Request**

**What would you like to be added**
On the releases page, show the release date for a minor release that has no minor releases.

**Why is this needed**
The implementation of https://k8s.io/releases/ (as of 6e7e9ea357b92474eccaba0524e2d9fcc9b3a51a) does not show the release date for a minor release, eg Kubernetes v1.23.0
However once the first patch release is done, t

[2021-12-13 23:11] sftim commented on #30908
/sig network
/sig docs

/kind bug
(it's a bug because the doc should already have been updated)

/language en

/triage accepted

[2021-12-13 23:12] sftim commented on #30909
/sig docs
/priority backlog

[2021-12-13 23:12] sftim commented on #30908
/priority backlog

[2021-12-14 05:53] winkee01 commented on #14973
I think someone should make manual here more clearer, as it is indeed very confusing. But to my understanding, this is a way to statically bind a PVC to a PV, by simply specifying a "virtual" StorageClass, PVC can bind to PV.

[2021-12-14 06:04] tshaiman opened #30911 "Seccomp tutorial demonstrates on local test cluster (and not real nodes)"
following this tutorial  :
https://kubernetes.io/docs/tutorials/clusters/seccomp/

Great tutorial , but just the same as AppArmor tutorial , you need to demonstrate how to install the profile on real nodes / daemon sets and not on Kind , which is just a development tool.

a good example is here :
https://kubernetes.io/docs/tutorials/clusters/apparmor/#setting-up-nodes-with-profiles

[2021-12-14 06:21] winkee01 opened #30912 "storageclass.storage.k8s.io "manual" not found"
##### Environment:
Kube cluster is running on local Lan.

##### Symptom
So I followed with [the official tutorial](https://kubernetes.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/) about creating a PVC, but after I created PV and PVC,  I got this error saying `"manual" not found`.

On that page it defines a StorageClass in PV's config file (listed below), I think this

[2021-12-14 06:40] 2hangchen opened #30914 "How to stop a multi-container Job with one or more Running containers(like http server)."
**This is Support**

I started a multi-container Job where one or more containers provide a sidecar HTTP service. But when my main container task is complete, how do I terminate all containers related to this Job and terminate this Job?

[2021-12-14 10:46] jihoon-seo commented on #30845
M1-M12 제가 하겠습니다~
- M1-M12 : @jihoon-seo
- ...

[2021-12-14 12:08] gochist commented on #30845
M13-M16 제가 해볼게요.

[2021-12-14 12:28] anubha-v-ardhan commented on #30641
/close
fixed with #30792

[2021-12-14 12:29] #30641 closed

[2021-12-14 15:13] systems1 commented on #30885
could you add few  lines of below to make it easy to understand
Base 2 versus base 10 calculation of data
GiB stands for Gibibyte and GB stands for Gigabyte.
GiB: unit symbol of Gibibyte
GB: unit symbol of Gigabyte

[2021-12-14 17:11] celestehorgan opened #30917 "Blog post: What you need to do to have a working cluster for 1.24"
## Description

The team wants to see a bare-bones blog post with the theme "here's exactly what you need to do to go from a working 1.23 cluster to a working 1.24 cluster" in regards to the Dockershim removal.

Writing this post will entail pulling down the alpha release, which is ready as of now.

The goal here is to provide a no-nonsense outline for cluster operators and administrators.

The na

[2021-12-14 17:11] celestehorgan commented on #30917
/triage accepted
/kind blog
/assign @katcosgrove

[2021-12-14 17:17] celestehorgan opened #30918 "Blog post: historical context of the dockershim removal"
~If you aren't @amye don't assign yourself to this~

## Description

The dockershim removal is a confusing change to communicate: why is Dockershim in Kubernetes to begin with? How is Docker as a company related to this change,

Write a blog post describing the historical context of why dockershim was in Kubernetes in the first place, why the project is choosing to remove and deprecate it (and how

[2021-12-14 17:17] celestehorgan commented on #30917
/kind blog-post

[2021-12-14 17:17] celestehorgan commented on #30918
/triage accepted
/assign amye
/milestone 1.24

[2021-12-14 17:18] celestehorgan commented on #30918
/assign @celestehorgan

[2021-12-14 17:18] celestehorgan commented on #30917
/milestone 1.24

[2021-12-14 17:22] celestehorgan opened #30919 "Dockershim: collate a list of 3rd party resources on the topic"
## Description

Assemble a list of links for 3rd party resources regarding migrating k8s resources away from Docker and onto other platforms.

## Other thoughts

This needs more scoping, and I think @mrbobbytables has a better idea of what needs to be done here.

[2021-12-14 17:28] celestehorgan opened #30920 "Umbrella issue: Dockershim and the localizations"
This issue captures work and communication that needs to be done with the localizations in regards to the Dockershim removal.

Due to the long tail nature of this, I'm assigning it to the post-1.24 column of the project board.

This issue needs scoping and discussion but we will tackle that later!

[2021-12-14 17:28] celestehorgan commented on #30920
/assign @celestehorgan

Assigning myself to prevent someone mistakenly assigning themselves

[2021-12-14 17:31] jimangel commented on #30917
Happy to help here! It might be worth chatting with [SIG Cluster Lifecycle](https://github.com/kubernetes/community/tree/master/sig-cluster-lifecycle) too about their plans for the kubeadm upgrade document.

I wrote a post about moving from 1.23 to 1.24 but I did some semi-anti-pattern things like altering the `kubeadm` config before upgrading (`kubeadm` recommends to build new vs. tweak config in

[2021-12-14 17:36] celestehorgan opened #30921 "Check Concepts > Scheduling and Concepts > Cluster Administration for mentions of Docker"
Umbrella issue: https://github.com/kubernetes/website/issues/30771

## Description

Check [Concepts > Scheduling](https://kubernetes.io/docs/concepts/scheduling-eviction/), [Concepts > Cluster Administration](https://kubernetes.io/docs/concepts/cluster-administration/) and **all their subpages** for mentions of Docker.

This includes:
- The word "docker" in plain text
- References to or docker com

[2021-12-14 17:37] celestehorgan commented on #30921
/triage accepted
/help-wanted
/good-first-issue
/milestone 1.24

[2021-12-14 17:38] celestehorgan opened #30922 "Concepts > Extending the Kubernetes API for mentions of docker"
Umbrella issue: https://github.com/kubernetes/website/issues/30771

## Description

Check [Concepts > Extending the Kubernetes API](https://kubernetes.io/docs/concepts/extend-kubernetes/)  and **all its subpages** for mentions of Docker.

This includes:
- The word "docker" in plain text
- References to or docker commands in code samples. [Most docker commands start with `docker`](https://github.co

[2021-12-14 17:38] celestehorgan commented on #30922
/triage accepted
/milestone 1.24
/good-first-issue
/help-wanted

Note: Anyone taking this issue **must complete it before December 31st**.

[2021-12-14 17:40] celestehorgan opened #30923 "Check Tasks > Install and Tasks > Configure Pods and Containers for mentions of Docker"
Umbrella issue: https://github.com/kubernetes/website/issues/30771

## Description

Check [Tasks > Install](https://kubernetes.io/docs/tasks/tools/) & [Tasks > Configure Pods and Containers](https://kubernetes.io/docs/tasks/configure-pod-container/) and **all their subpages** for mentions of Docker.

This includes:
- The word "docker" in plain text
- References to or docker commands in code sample

[2021-12-14 17:40] celestehorgan commented on #30923
/triage accepted
/milestone 1.24
/good-first-issue
/help-wanted

Note: Anyone taking this issue **must complete it before December 31st**.

[2021-12-14 17:42] celestehorgan opened #30925 "Check Tasks > Administer a Cluster for mentions of Docker"
Umbrella issue: https://github.com/kubernetes/website/issues/30771

## Description

Check [Tasks > Administer a Cluster](https://kubernetes.io/docs/tasks/administer-cluster/) and **all its subpages** for mentions of Docker.

This includes:
- The word "docker" in plain text
- References to or docker commands in code samples. [Most docker commands start with `docker`](https://github.com/wsargent/doc

[2021-12-14 17:42] celestehorgan commented on #30925
/triage accepted
/milestone 1.24
/good-first-issue
/help-wanted

Note: Anyone taking this issue **must complete it before December 31st**.

[2021-12-14 17:47] sftim commented on #30909
https://github.com/kubernetes/website/pull/30924 lays the groundwork for fixing this.

/triage accepted

[2021-12-14 17:48] sftim commented on #30923
/assign

[2021-12-14 17:58] sftim commented on #30923
- https://kubernetes.io/docs/tasks/configure-pod-container/static-pod/ mentions
  “This page assumes you're using Docker to run Pods, and that your nodes are running the Fedora operating system. Instructions for other distributions or Kubernetes installations may vary.”
  - We need an issue to update that page.
- https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness

[2021-12-14 17:58] dmitry-irtegov opened #31236 "Specifying --service-account-issuer multiple times only works as expected in 1.22+"
### What happened?

Create a cluster with apiserver parameter --service-account-issuer=api
Add worker nodes.  Deploy some tasks that depend on service accounts (we observed this with dashboard and calico-kube-controllers).
Change apiserver parameter to --service-account issuer='https://kubernetes.default.svc.cluster.local' and restart the apiserver
Observe the pods that depend on service accounts

[2021-12-14 18:00] sftim commented on #30923
Files to change:
[code]

[2021-12-14 18:00] amye commented on #30918
Concerns:
Some users may still be surprised! We do the very best we can to make sure the surprise is (1) minimal and (2) fixable.

[2021-12-14 18:00] sftim commented on #30923
/remove-label good-first-issue
/remove-label help

I picked this one up.

[2021-12-14 18:00] sftim commented on #30923
/remove-help
/remove-good-first-issue

[2021-12-14 18:00] sftim commented on #30923
/label language/en

[2021-12-14 18:01] sftim commented on #30923
/language en

[2021-12-14 18:03] sftim commented on #30918
/area blog

[2021-12-14 18:04] sftim commented on #30917
/area blog

[2021-12-14 18:06] sftim commented on #30912
/sig storage
/remove-kind support
/kind bug
/language en

Thanks for reporting this @winkee01

I think that page is out of date and does need fixing.

[2021-12-14 18:07] sftim commented on #30917
/priority important-soon

[2021-12-14 18:07] sftim commented on #30918
/priority important-longterm

[2021-12-14 18:08] sftim commented on #30911
/kind feature
/priority backlog
/language en
/sig node

@tshaiman I doubt the project will have capacity to write the cluster tutorial you have in mind. If we do, we'd also have to commit to keeping it up to date - no small undertaking.

[2021-12-14 18:27] tshaiman commented on #30911
I see
it’s just that the SELinux tutorial does have it
and it’s strange that seccomp points to using kind

can I contribute to the docs ?

On Tue, 14 Dec 2021 at 20:09 Tim Bannister ***@***.***> wrote:

--
Sent from Gmail Mobile

[2021-12-14 18:42] sftim commented on #30801
Fixed
/close

[2021-12-14 18:43] celestehorgan commented on #30772
Places where docker is mentioned:

https://kubernetes.io/docs/concepts/overview/components/#container-runtime

[2021-12-14 18:43] #30772 closed

[2021-12-14 18:43] #30801 closed

[2021-12-14 18:43] sftim commented on #30909
PR https://github.com/kubernetes/website/pull/30926 covers the other part.

[2021-12-14 18:44] sftim commented on #30909
/area release-eng

[2021-12-14 18:51] celestehorgan opened #30927 "Update mention of Docker in Overview > Components > Container runtime to reflect post-1.24 compatibility"
URL in question: https://kubernetes.io/docs/concepts/overview/components/#container-runtime

Update this mention of Docker to reflect post-1.24 (Dockershim removal) compatability with Docker.

@mrbobbytables - think of this as our evergreen "official" statement on Docker compatibility moving forward, and summarize our docker compatability in **exactly one sentence**.

/milestone 1.24

[2021-12-14 18:51] celestehorgan commented on #30927
/triage accepted
/assign @mrbobbytables

[2021-12-14 18:56] neolit123 commented on #30917
Having a single blog post covering everything around dockershim for 1.24 makes sense.

I would like this migration guide to merge first:
https://github.com/kubernetes/website/pull/30141
I already reviewed it and it should include kubeadm notes.

The kubeadm upgrade page for 1.24 can link to it as a pre req. Blog posts and the main container runtime page can link to it too.

Migrating dockershim as

[2021-12-14 19:06] celestehorgan opened #30928 "Check Tasks > Manage Kubernetes Objects, Tasks > Manage Secrets and Tasks > Inject Data into Applications for mentions of Docker"
Umbrella issue: https://github.com/kubernetes/website/issues/30771

## Description

Check [Tasks > Manage Kubernetes Objects](https://kubernetes.io/docs/tasks/manage-kubernetes-objects/), [Tasks > Manage Secrets](https://kubernetes.io/docs/tasks/configmap-secret/), [Tasks > Inject Data into Applications] and **all their subpages** for mentions of Docker.

This includes:
- The word "docker" in plai

[2021-12-14 19:07] celestehorgan commented on #30928
/triage accepted
/milestone 1.24
/good-first-issue
/help-wanted

Note: Anyone taking this issue **must complete it before December 31st**.

[2021-12-14 19:08] celestehorgan commented on #30928
/triage accepted
/milestone 1.24
/good-first-issue
/help-wanted

Note: Anyone taking this issue **must complete it before December 31st**.

[2021-12-14 19:10] celestehorgan opened #30929 "Check Tasks > Monitoring, Logging & Debugging & Tasks > Extend Kubernetes for mentions of Docker"
Umbrella issue: https://github.com/kubernetes/website/issues/30771

## Description

Check [Tasks > Monitoring, Logging & Debugging](https://kubernetes.io/docs/tasks/debug-application-cluster/) & [Tasks > Extend Kubernetes](https://kubernetes.io/docs/tasks/extend-kubernetes/) and **all their subpages** for mentions of Docker.

This includes:
- The word "docker" in plain text
- References to or dock

[2021-12-14 19:10] celestehorgan commented on #30929
/triage accepted
/milestone 1.24
/good-first-issue
/help-wanted

Note: Anyone taking this issue **must complete it before December 31st**.

[2021-12-14 19:13] celestehorgan opened #30930 "Check Tasks > TLS, Tasks > Manage Cluster Daemons, Tasks > Networking and pages in the /docs/tasks root for mentions of Docker"
Umbrella issue: https://github.com/kubernetes/website/issues/30771

## Description

Check [Tasks > TLS](https://kubernetes.io/docs/tasks/tls/), [Tasks > Manage Cluster Daemons](https://kubernetes.io/docs/tasks/manage-daemon/), [Tasks > Service Catalogs](https://kubernetes.io/docs/tasks/service-catalog/), [Tasks > Networking](https://kubernetes.io/docs/tasks/network/) & the pages that live in the r

[2021-12-14 19:13] celestehorgan commented on #30930
/triage accepted
/milestone 1.24
/good-first-issue
/help-wanted

Note: Anyone taking this issue **must complete it before December 31st**.

[2021-12-14 19:15] celestehorgan opened #30931 "Check pages in the root of /docs/reference, Reference > API Overview and Reference > API Access Control for mentions of Docker"
Umbrella issue: https://github.com/kubernetes/website/issues/30771

## Description

Check Pages that live in the root of https://kubernetes.io/docs/reference/, [Reference > API Overview](https://kubernetes.io/docs/reference/using-api/) and [Reference > API Access Control](https://kubernetes.io/docs/reference/access-authn-authz/) and **all their subpages** for mentions of Docker.

This includes:
-

[2021-12-14 19:16] celestehorgan commented on #30931
/triage accepted
/milestone 1.24
/good-first-issue
/help-wanted

Note: Anyone taking this issue **must complete it before December 31st**.

[2021-12-14 19:19] celestehorgan opened #30932 "Check Reference > K8s Issues & Security, Reference > Setup Tools > kubeadm, & Reference > Component tools for mentions of Docker"
Umbrella issue: https://github.com/kubernetes/website/issues/30771

## Description

Check [Kubernetes Issues & Security](https://kubernetes.io/docs/reference/issues-security/), [Reference> Setup tools > kubeadm](https://kubernetes.io/docs/reference/setup-tools/kubeadm/) & [Reference > Component tools](https://kubernetes.io/docs/reference/command-line-tools-reference/) and **all its subpages** for

[2021-12-14 19:20] celestehorgan commented on #30932
/triage accepted
/milestone 1.24
/good-first-issue
/help-wanted

Note: Anyone taking this issue **must complete it before December 31st**.

[2021-12-14 19:23] sftim commented on #30927
(IMO) it's OK to add a longer explanation to https://kubernetes.io/docs/setup/production-environment/container-runtimes/ and then link there. If needed.

[2021-12-14 19:30] celestehorgan opened #30933 "Check Reference > kubectl, Reference > Scheduling and Reference > Other tools for mentions of Docker"
Umbrella issue: https://github.com/kubernetes/website/issues/30771

## Description

Check [Reference > Kubectl](https://kubernetes.io/docs/reference/kubectl/), [Reference > Scheduling](https://kubernetes.io/docs/reference/scheduling/), [Reference > Other tools](https://kubernetes.io/docs/reference/tools/) and **all their subpages** for mentions of Docker.

This includes:
- The word "docker" in pla

[2021-12-14 19:30] celestehorgan commented on #30933
/triage accepted
/milestone 1.24
/good-first-issue
/help-wanted

Note: Anyone taking this issue **must complete it before December 31st**.

[2021-12-14 19:41] celestehorgan opened #30934 "Check case studies for mentions of Docker and update as needed"
Umbrella issue: https://github.com/kubernetes/website/issues/30771

## Description

Check [Case Studies](https://kubernetes.io/case-studies/) and for mentions of Docker.

## Mitigation - case studies

We will not update case studies. For case studies that mention Docker, add a `warning` shortcode **to the bottom of the page**:

[code]

You may need to use the underlying HTML instead:

[code]

[2021-12-14 19:42] celestehorgan commented on #30934
/triage accepted
/milestone 1.24
/assign @nate-double-u

[2021-12-14 20:03] celestehorgan opened #30936 "Check the blog for mentions of docker and add warning labels"
Umbrella issue: https://github.com/kubernetes/website/issues/30771

## Description

Check https://kubernetes.io/blog/ for mentions of Docker in the posts, and **categorize** as 👍

1. Directly mentions the Dockershim removal
2. Mentions or uses Docker but but doesn't reference the dockershim removal and is less than 1 year old
3.  Mentions or uses Docker but but doesn't reference the dockershim rem

[2021-12-14 20:04] celestehorgan commented on #30936
/triage accepted
/milestone 1.24
/assign @nate-double-u

@nate-double-u - I'm assigning this to you (for now) but pause until Patrice is back in.

[2021-12-14 20:08] celestehorgan opened #30937 "Check Getting Started, Tutorials and Contribute"
Umbrella issue: https://github.com/kubernetes/website/issues/30771

## Description

Check [Getting Started](https://kubernetes.io/docs/setup/), [Tutorials](https://kubernetes.io/docs/tutorials/) and [Contribute](https://kubernetes.io/docs/contribute/) and **all their subpages** for mentions of Docker.

This includes:
- The word "docker" in plain text
- References to or docker commands in code samp

[2021-12-14 20:08] celestehorgan commented on #30937
/triage accepted
/milestone 1.24
/assign @celestehorgan

[2021-12-14 20:13] celestehorgan opened #30938 "Update the kubectl reference docs for dockershim removal"
Once https://github.com/kubernetes/website/issues/30933 is complete, we need to update the kubectl docs. These docks are autogenerated from code.

The person who does this needs to be technically competent enough to both [complete the generation process](https://kubernetes.io/docs/contribute/generate-ref-docs/kubectl/) but also work in the `kubernetes/kubernetes` repository to remove any issues in

[2021-12-14 20:13] celestehorgan commented on #30938
/triage accepted
/milestone 1.24

/assign @celestehorgan

Assigning this to myself so that no one inadvertently takes it :)

[2021-12-14 20:15] celestehorgan opened #30939 "Check the Kubernetes API for references to Docker"
Umbrella issue: https://github.com/kubernetes/website/issues/30771

## Description

Check https://kubernetes.io/docs/reference/kubernetes-api/ and **all their subpages** for mentions of Docker.

This includes:
- The word "docker" in plain text
- References to or docker commands in code samples. [Most docker commands start with `docker`](https://github.com/wsargent/docker-cheat-sheet) so this shoul

[2021-12-14 20:16] celestehorgan opened #30940 "Update the Kubernetes API reference docs for dockershim removal"
Once https://github.com/kubernetes/website/issues/30939 is complete, we need to update the Kubernetes API docs. These docks are autogenerated from code.

The person who does this needs to be technically competent enough to both [complete the generation process](https://kubernetes.io/docs/contribute/generate-ref-docs/kubernetes-api/) but also work in the `kubernetes/kubernetes` repository to remove

[2021-12-14 20:16] celestehorgan commented on #30940
/triage accepted
/milestone 1.24

/assign @celestehorgan

Assigning this to myself so that no one inadvertently takes it :)

[2021-12-14 20:17] celestehorgan opened #30941 "Check the Configuration APIs for mentions of Docker"
Umbrella issue: https://github.com/kubernetes/website/issues/30771

## Description

Check https://kubernetes.io/docs/reference/config-api/ and **all its subpages** for mentions of Docker.

This includes:
- The word "docker" in plain text
- References to or docker commands in code samples. [Most docker commands start with `docker`](https://github.com/wsargent/docker-cheat-sheet) so this shouldn't b

[2021-12-14 20:18] celestehorgan commented on #30939
/triage accepted
/milestone 1.24

/assign @celestehorgan

Assigning this to myself so that no one inadvertently takes it :)

[2021-12-14 20:18] celestehorgan commented on #30941
/triage accepted
/milestone 1.24

/assign @celestehorgan

Assigning this to myself so that no one inadvertently takes it :)

[2021-12-14 20:19] celestehorgan opened #30942 "Update Configuration API reference docs for dockershim removal"
Once https://github.com/kubernetes/website/issues/30941 is complete, we need to update the configuration API docs. These docks are autogenerated from code.

The person who does this needs to be technically competent enough to both [complete the generation process](https://kubernetes.io/docs/contribute/generate-ref-docs/kubectl/) but also work in the `kubernetes/kubernetes` repository to remove any

[2021-12-14 20:19] celestehorgan commented on #30942
/triage accepted
/milestone 1.24

/assign @celestehorgan

Assigning this to myself so that no one inadvertently takes it :)

[2021-12-14 20:20] celestehorgan commented on #30932
/assign @celestehorgan - this one's a little more complicated

[2021-12-14 20:20] celestehorgan opened #30943 "Update Component tools reference docs for dockershim removal"
Once https://github.com/kubernetes/website/issues/30932 is complete, we need to update the configuration API docs. These docks are autogenerated from code.

The person who does this needs to be technically competent enough to both [complete the generation process](https://kubernetes.io/docs/contribute/generate-ref-docs/kubectl/) but also work in the `kubernetes/kubernetes` repository to remove any

[2021-12-14 20:21] celestehorgan commented on #30943
/triage accepted
/milestone 1.24

/assign @celestehorgan

[2021-12-14 20:25] celestehorgan commented on #30775
Hi @Mpadhi2000! Not seeing much movement on this. As such I'm going to reassign and do it myself.

/assign @celestehorgan

[2021-12-14 20:35] celestehorgan commented on #30775
Pages needing updates:

All of https://kubernetes.io/docs/concepts/storage/volumes/ but specifically:
https://kubernetes.io/docs/concepts/storage/volumes/#background
https://kubernetes.io/docs/concepts/storage/volumes/#hostpath
https://kubernetes.io/docs/concepts/storage/volumes/#configuration

https://kubernetes.io/docs/concepts/configuration/secret/#secret-types - we need to check with the appro

[2021-12-14 20:35] #30775 closed

[2021-12-14 20:37] celestehorgan opened #30944 "Rewrite topics in Concepts > Storage > Volumes to remove mentions of Docker in text and code samples"
ref: https://github.com/kubernetes/website/issues/30775

After removing Dockershim, all of https://kubernetes.io/docs/concepts/storage/volumes/ needs a technical review, and the following sections need to be rewritten almost completely:

- https://kubernetes.io/docs/concepts/storage/volumes/#background
- https://kubernetes.io/docs/concepts/storage/volumes/#hostpath
- https://kubernetes.io/docs/con

[2021-12-14 20:38] celestehorgan commented on #30944
/milestone 1.24
/sig storage
/triage accepted

[2021-12-14 20:40] celestehorgan opened #30945 "Update sections in Configuration > Secrets to remove mentions of Docker"
Ref: https://github.com/kubernetes/website/issues/30775

There are three sections that need updating on https://kubernetes.io/docs/concepts/configuration/secret/

- https://kubernetes.io/docs/concepts/configuration/secret/#secret-types
   - specifically, **do we still support docker secret config types?**
- https://kubernetes.io/docs/concepts/configuration/secret/#docker-config-secrets
  - same qu

[2021-12-14 20:41] celestehorgan commented on #30945
/milestone 1.24
/sig storage
/triage accepted

[2021-12-14 20:43] celestehorgan opened #30946 "Update topics in Concepts > Configuration > Manage resources & containers to remove mentons of docker"
Ref: https://github.com/kubernetes/website/issues/30775

Specifically these two sections need updating:
- https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#how-pods-with-resource-limits-are-run
- https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#my-container-is-terminated (terminal output samples - does this still work?)

[2021-12-14 20:59] celestehorgan commented on #30777
Hi @ashish-jaiswar!

I'm not seeing a ton of movement on this issue and it's very time-sensitive: I'm going to reassign this to myself

/assign @celestehorgan

[2021-12-14 21:05] celestehorgan commented on #30777
Topics to update:

https://kubernetes.io/docs/concepts/security/overview/#the-4c-s-of-cloud-native-security - Diagram needs updating

https://kubernetes.io/docs/concepts/security/overview/#the-4c-s-of-cloud-native-security, specifically https://raw.githubusercontent.com/kubernetes/website/main/content/en/examples/policy/restricted-psp.yaml

https://kubernetes.io/docs/concepts/policy/pod-security-p

[2021-12-14 21:05] #30777 closed

[2021-12-14 21:42] celestehorgan commented on #30773
/assign

[2021-12-14 21:44] celestehorgan opened #30948 "Update diagram on Security > Overview to remove Docker logo"
Ref: https://github.com/kubernetes/website/issues/30777

Update the diagram on https://kubernetes.io/docs/concepts/security/overview/#the-4c-s-of-cloud-native-security  to remove the docker logo. Find another way to visually represent a container!

The file is here: https://github.com/kubernetes/website/blob/main/static/images/docs/4c.png

If possible, also convert this file to an .svg format so o

[2021-12-14 21:45] celestehorgan commented on #30948
/milestone 1.24
/triage accepted

[2021-12-14 21:47] celestehorgan commented on #30948
/good-first-issue
/help-wanted

[2021-12-14 21:51] celestehorgan opened #30949 "Update restricted-psp.yaml removing docker support"
Ref: https://github.com/kubernetes/website/issues/30777

The page https://kubernetes.io/docs/concepts/policy/pod-security-policy/#example-policies uses an example file, https://github.com/kubernetes/website/blob/main/content/en/examples/policy/restricted-psp.yaml that refers to the `docker/default` profile.

Update the file as needed for the dockershim removal in 1.24.

/sig security
/milestone 1.

[2021-12-14 21:52] celestehorgan commented on #30949
/triage accepted

[2021-12-14 21:55] celestehorgan opened #30950 "Update Pod Security Policies > Security Capabilites for dockershim"
Ref: https://github.com/kubernetes/website/issues/30777

Update https://kubernetes.io/docs/concepts/policy/pod-security-policy/#capabilities specifically, the bullet point on DefaultAddCapabilities, for the removal of dockershim in 1.24.

/sig security
/triage accepted
/milestone 1.24

[2021-12-14 22:27] celestehorgan commented on #30773
Concepts > Cluster Architecture: none!

https://kubernetes.io/docs/concepts/containers/#container-runtimes

https://kubernetes.io/docs/concepts/containers/images/ - Realistically this entire page needs a rewrite. But specifically these topics need updating:
- https://kubernetes.io/docs/concepts/containers/images/#image-names
- https://kubernetes.io/docs/concepts/containers/images/#configuring-node

[2021-12-14 22:27] #30773 closed

[2021-12-14 22:38] celestehorgan opened #30951 "Rewrite Concepts > Containers > Images in light of dockershim removal"
https://kubernetes.io/docs/concepts/containers/images/  needs a rewrite. It mentions Docker (and Podman!) all over the place, which is a good indication that the docs are old enough to need a rewrite.

At a minimum, remove mentions of Docker in these topics:

- https://kubernetes.io/docs/concepts/containers/images/#image-names
- https://kubernetes.io/docs/concepts/containers/images/#configuring-no

[2021-12-14 22:40] celestehorgan opened #30952 "Rewrite Concepts > Containers > Container Environment in light of dockershim removal"
Ref: https://github.com/kubernetes/website/issues/30773

The page https://kubernetes.io/docs/concepts/containers/container-environment/ is centered around Docker examples and needs a rewrite in light of the Dockershim removal.

/triage accepted
/milestone 1.24

[2021-12-14 22:43] celestehorgan opened #30953 "Remove dockershim section from Containers > Runtime Class > CRI Configuration"
Ref: https://github.com/kubernetes/website/issues/30773

Remove the section on dockershim here: https://kubernetes.io/docs/concepts/containers/runtime-class/#cri-configuration

Do not replace or indicate with a warning. The best way to discourage users from using deprecated functionality is to remove it from the docs so they don't even know it's there :D

/triage accepted
/milestone 1.24
/good-fir

[2021-12-14 22:45] celestehorgan opened #30954 "Recreate code sample under Containers > Container Lifecycle Hooks > Debugging Hook Handlers to use a different container runtime"
Ref: https://github.com/kubernetes/website/issues/30773

Update the sample CLI output here https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/#debugging-hook-handlers . Generate it using a non-docker container runtime.

/triage accepted
/milestone 1.24

[2021-12-14 23:51] cheersalam opened #30955 "Assigning Pods to Nodes"
I am trying to deploy pods to multiple nodes with labels as `disktype=ssd`. I am using the same yml from website
[code]

And I am deploying by running command `kubectl apply -f pod-nginx.yaml`. But it is getting deployed to only one node. I have multiple nodes with disktype=ssd label. How can I deploy to all the nodes with same label?

[2021-12-15 05:09] ystkfujii commented on #30953
/assign

[2021-12-15 05:26] tengqm commented on #29185
/remove-lifecycle stale
I believe this clarification would be useful.

[2021-12-15 06:25] shannonxtreme commented on #30925
A list is in existing issue #30897

[2021-12-15 06:25] shannonxtreme commented on #30922
A list is in issue #30898

[2021-12-15 06:32] shannonxtreme commented on #30955
The example manifest is for a single Pod (so it'll only get deployed on a single node). If you want to deploy on multiple nodes, you'll need to use a Deployment that has a number of replicas and uses Pod anti-affinity to separate the pods from each other.

Instructions and further reading:

[Create a Deployment](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#creating-a-deplo

[2021-12-15 07:04] shannonxtreme commented on #30813
IMO the draft is in a good enough place to be converted to a PR.

[2021-12-15 07:20] shannonxtreme opened #30965 "Action on Docker mentions in Concepts > Workloads"
Umbrella issue: #30771
Originating issue: #30774 (partially fixes)

File: /concepts/workloads/controllers/daemonset.md
URL: https://k8s.io/docs/concepts/workloads/controllers/daemonset

Line 207 contains `(e.g. start directly via Docker).`

The code sample includes docker mentions.

Action: remove the phrase. Add warning about code samples potentially breaking. Test code samples on a cluster with

[2021-12-15 07:26] shannonxtreme opened #30966 "Action on Docker mentions in Concepts > Services, LB, Networking"
Umbrella issue: #30771
Originating issue: #30774 (partially fixes)

---

File: /concepts/services-networking/connect-applications-service.md
URL: https://k8s.io/docs/concepts/services-networking/connect-applications-service

Line 16+ : Uses Docker to contrast against the Kubernetes model of connecting containers.

Action: Remove the Docker contrast. Just describe how Kubernetes does container netw

[2021-12-15 07:27] shannonxtreme commented on #30774
Opened #30965 and #30966 to action these two sections :)

[2021-12-15 07:35] shannonxtreme commented on #30921
#30897 and #30896 are now open to action this :)

[2021-12-15 07:46] shannonxtreme opened #30970 "Action on Docker mentions in Tasks > Administer Cluster"
Umbrella issue: #30771
Fixes: #30925

---

File: /tasks/administer-cluster/kubelet-in-userns.md
URL: https://k8s.io/docs/tasks/administer-cluster/kubelet-in-userns

The page talks about rootless Docker and Podman. No mentions of the docker runtime or dockershim.

Action: No action needed.

---

File: /tasks/administer-cluster/reserve-compute-resources.md
URL: https://k8s.io/docs/tasks/administer-c

[2021-12-15 07:47] shannonxtreme commented on #30925
Created #30925 with links etc :)

[2021-12-15 07:56] shannonxtreme opened #30971 "Clean up Tasks > Inject Data into Applications > Define a Command and Arguments"
URL: https://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/#notes
File: /tasks/inject-data-application/define-command-argument-container.md

Remove the entire Notes section. Clean up the page so that there's no mention of a *specific* runtime.

/sig docs
/language en

[2021-12-15 07:57] shannonxtreme commented on #30928
No action for Tasks > Manage Kubernetes Objects and Tasks > Manage Secrets

#30971 tracks the update to asks > Inject Data into Applications

[2021-12-15 08:05] shrikanta8 commented on #30771
/assign

[2021-12-15 09:20] sftim opened #30974 "Explain how to tell dockershim apart from cri-dockerd"
**This is a Feature Request**

**What would you like to be added**
Update https://kubernetes.io/docs/tasks/administer-cluster/migrating-from-dockershim/find-out-runtime-you-use/ to explain how to tell apart two cases that involve Docker Engine as a container runtime
- Docker Engine + dockershim + kubelet
- Docker Engine + cri-dockerd + kubelet

The second case, using 2 third-party components, is n

[2021-12-15 09:20] sftim commented on #30974
Very relevant to #30972

[2021-12-15 09:46] divya-mohan0209 opened #30975 "Add dockershim docs reference along with FAQ to files"
cc: @sftim

Task docs referencing how to check if dockershim removal affects users to be added to the discussions.

Link to be added: (/docs/tasks/administer-cluster/migrating-from-dockershim/check-if-dockershim-deprecation-affects-you/)

[2021-12-15 09:48] divya-mohan0209 commented on #30975
Issue raised per [discussion](https://github.com/kubernetes/website/pull/30840/files#r767174137)

[2021-12-15 09:49] shannonxtreme opened #30976 "Action on Docker mentions in Tasks > Monitoring Logging and Debugging"
Umbrella issue #30771
Fixes issue #30929
---

File: /tasks/debug-application-cluster/resource-usage-monitoring.md
URL: https://k8s.io/docs/tasks/debug-application-cluster/resource-usage-monitoring

Line 44 mentions how the kubelet pulls info for Docker integration for metrics-server.

Action: Review to see if it works as intended in a world without dockershim.

## Done

~~File: /tasks/debug-applic

[2021-12-15 09:49] divya-mohan0209 commented on #30975
/sig docs
/language en

[2021-12-15 10:04] shannonxtreme commented on #30929
Opened #30976 with a list of actionable pages and items :)

[2021-12-15 10:09] shannonxtreme commented on #30929
/tasks/extend-kubernetes/configure-multiple-schedulers.md also contains the following, not sure how to action it:

Create a container image containing the kube-scheduler binary. Here is the `Dockerfile`
to build the image:

[code]

Save the file as `Dockerfile`, build the image and push it to a registry. This example
pushes the image to
[Google Container Registry (GCR)](https://cloud.google.com/co

[2021-12-15 10:13] shannonxtreme opened #30977 "Action on Docker mentions in Tasks > Networking"
Umbrella issue #30771
Fixes #30930

File: /tasks/network/customize-hosts-file-for-pods.md
URL: https://k8s.io/docs/tasks/network/customize-hosts-file-for-pods

Line 121 mentions that the kubelet manages the hosts file to prevent Docker from modifying it.

Action: Update the page to remove sections that are made irrelevant by the dockershim removal.

/sig docs
/language en

[2021-12-15 11:07] #28998 closed

[2021-12-15 11:11] sftim commented on #30949
Caution: docs for older releases may also reference this example.

[2021-12-15 11:13] sftim commented on #30966
@shannonxtreme that tidying sounds useful overall. Do we need it in connection with the removal of dockershim though?

(if so, why?)

[2021-12-15 12:07] #27087 closed

[2021-12-15 12:15] sftim commented on #30971
I would remove the entire https://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/#notes section.

Docker is far from the only alternative to Kubernetes. If someone wanted to, we could accept a blog article that compares Docker, Kubernetes, Nomad, etc for how you specify these things. But it's fine if that blog is never submitted.
/triage accepted

[2021-12-15 12:16] sftim commented on #30971
@shannonxtreme to me this is more about comparing Docker Swarm to Kubernetes. I think it's a good bit of tidying but I'm not sure it's needed for the dockershim removal work.

[2021-12-15 12:17] sftim commented on #30976
I'm tempted to move https://kubernetes.io/docs/tasks/debug-application-cluster/crictl/#mapping-from-docker-cli-to-crictl to a new page in the reference section, that we insta-deprecate (removal in, say, v1.27).

How does that sound?

[2021-12-15 13:26] reespozzi opened #30980 "Improvement for k8s.io/docs/concepts/overview/working-with-objects/field-selectors/"
Is there a possibility to add wildcards for these queries? For example, trying to run 'kubectl get pods --field-selector metadata.name=common-* -o name -n civil | xargs kubectl delete'. Would help clearing out multiple pods.

[2021-12-15 14:11] gamba47 commented on #13948
@raelga i will start translating this doc!

Controlling Access -> /content/id/docs/concepts/security/controlling-access.md

[2021-12-15 14:25] sftim commented on #30948
/priority backlog

[2021-12-15 14:29] sftim commented on #30980
/kind support

I think this is a support question, or possibly a Kubernetes feature request.

[2021-12-15 14:42] reespozzi commented on #30980
I got around this by piping a grep command in between but would be a nice inbuilt feature if it isn't already.

[2021-12-15 17:09] sftim commented on #30980
/transfer kubernetes

[2021-12-15 17:47] richmolumby opened #30983 "Issue with k8s.io/docs/tasks/tools/install-kubectl-linux/"
There is a typo in the command
curl -LO "https://dl.k8s.io/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl-convert.sha256"
Please correct and advise

[2021-12-15 17:55] raelga commented on #13948
Thanks @gamba47, added ✨

[2021-12-15 18:04] celestehorgan commented on #30774
@shannonxtreme - were those two the only mentions of Docker in the section?

[2021-12-15 18:09] #30925 closed

[2021-12-15 18:09] celestehorgan commented on #30925
Thanks for diving on this, @shannonxtreme!

[2021-12-15 18:09] celestehorgan commented on #30928
Awesome, thank you @shannonxtreme!

[2021-12-15 18:09] #30928 closed

[2021-12-15 18:12] melissachang commented on #30743
@nanmcpe figured it [out here](https://github.com/kubernetes/website/issues/8158#issuecomment-420361315).

When you click the gray box to start `kubectl proxy`, it opens up the second Terminal but doesn't actually start the proxy.

Workround:
- Click on second Terminal, type `kubectl proxy`
- Click on first Terminal, now `curl http://localhost:8001/api/v1/namespaces/default/pods/$POD_NAME/proxy/`

[2021-12-15 18:15] celestehorgan commented on #30921
❤️

[2021-12-15 18:16] celestehorgan commented on #30929
@shannonxtreme - the action here would be to rewrite the example and all surrounding text using another container runtime (preferably an open source one like containerd). Open an issue for just that and I'll close this off 😍

[2021-12-15 18:17] celestehorgan commented on #30930
/assign @shannonxtreme

[2021-12-15 18:17] celestehorgan commented on #30925
FYI - i'm retroactively assigning you to these tasks, @shannonxtreme. If you ever want to apply for reviewer or approver status, feel free to mention the work you did here, which was extremely necessary and valuable!

/assign @shannonxtreme

[2021-12-15 18:18] celestehorgan commented on #30928
/assign @shannonxtreme

[2021-12-15 18:18] celestehorgan commented on #30922
/assign @shannonxtreme

[2021-12-15 18:18] #30922 closed

[2021-12-15 18:19] celestehorgan commented on #30774
Judging by your work in other tickets, I assume it is and am going to close this. Thank you!
/assign @shannonxtreme

[2021-12-15 18:19] #30774 closed

[2021-12-15 18:19] shannonxtreme commented on #30929
Thanks Celeste! I'm glad I checked 😁

On Wed., Dec. 15, 2021, 22:16 Celeste Horgan, ***@***.***>
wrote:

[2021-12-15 19:09] celestehorgan commented on #30937
Getting Started:

https://kubernetes.io/docs/tasks/tools/#kind
Note that `kind` has already been patched for continued compatibility, and the _point_ of `kind` as a project is compatibility with Docker, so we need to leave this one in. No issue created.

https://kubernetes.io/docs/tutorials/configuration/configure-java-microservice/:
- Tutorial content (https://kubernetes.io/docs/tutorials/configu

[2021-12-15 19:29] neolit123 commented on #30899
response here:
https://github.com/kubernetes/kubernetes/issues/106974#issuecomment-995128016

the summary is that this is a problem (missing dependency) in the containerd packages, not the k8s packages.
please report this to containerd.

the docs in the k8s website can be updated if needed (e.g. switching to a different repo from the one from docker for containerd), but i don't think we need to me

[2021-12-16 03:55] cbandy opened #30991 "Pod Security Standards, non-root groups optional"
**This is a Bug Report**

**Problem:**

Since [Pod Security Standards](https://docs.k8s.io/concepts/security/pod-security-standards/) were added to the website in #20789, the Restricted policy has recommended that containers not run with "root primary or supplementary GID." I find two things unclear about this part of the policy.

1. This is the only part of any policy that is described as "option

[2021-12-16 06:41] shannonxtreme commented on #30976
Agreed @sftim!

/assign

[2021-12-16 06:44] shannonxtreme commented on #30966
@sftim TBH I was going through and looking for any mentions of Docker in the docs. That's why I'm opening these issues without triage-accepted, so that someone with more knowledge (like you) can advise on whether it's applicable.

Maybe I can retitle to a cleanup issue and remove from the dockershim project?

[2021-12-16 06:51] shannonxtreme opened #30992 "Action on Docker mentions in Tasks > Configure Multiple Schedulers"
Umbrella issue #30771
Related issue #30929

Page: https://k8s.io/docs/tasks/extend-kubernetes/configure-multiple-schedulers
File: /tasks/extend-kubernetes/configure-multiple-schedulers.md

Rewrite the example and surrounding content on this page using an open-source runtime like containerd.

/triage accepted
/sig docs
/language en

[2021-12-16 06:52] shannonxtreme commented on #30930
This issue can be closed. Only #30977 had a mention of docker :)

[2021-12-16 06:55] shannonxtreme commented on #30929
This can be closed :)

[2021-12-16 07:03] shannonxtreme commented on #30931
No mentions found in these sections.

![leslie-nielsen-nothing-to-see-here](https://user-images.githubusercontent.com/30392854/146323742-b6161a92-5971-474b-b114-7d59b8b08b9b.gif)

[2021-12-16 07:50] shannonxtreme commented on #30939
My findings in the one-page autogenerated API reference (https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.23/)

There might be some (or all) that don't apply to the dockershim removal.

---

[`Container`](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.23/#container-v1-core)
File: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/core/v1/t

[2021-12-16 07:55] shannonxtreme commented on #30932
For kubeadm, the only page that mentions docker is [Implementation details](https://kubernetes.io/docs/reference/setup-tools/kubeadm/implementation-details/#preflight-checks).

Will kubeadm be adding new preflight checks for docker runtimes post 1.24?

[2021-12-16 07:57] shannonxtreme commented on #30932
Component tools has a bunch of refs to docker, but there's nothing in Issues/Security.

[2021-12-16 08:43] shannonxtreme commented on #30943
The only page in Component tools that has docker mentions is [kubelet](https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/)

The source file is here, I think: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/config/flags.go#L85

Already neatly grouped up too :D

[2021-12-16 09:00] shannonxtreme commented on #30933
## References > kubectl

* docker-cli-to-kubectl should just be removed, but isn't in scope for dockershim removal I think

## References > Scheduling

Nothing

## References > Other tools

Nothing related to docker as a runtime or dockershim

[2021-12-16 09:01] shannonxtreme commented on #30938
The kubectl reference docs don't *seem* to have any mentions of docker or dockershim. Is there anywhere specific to look?

[2021-12-16 09:14] shannonxtreme commented on #30941
Page: https://kubernetes.io/docs/reference/config-api/kubeadm-config.v1beta2/#kubeadm-init-configuration-types
Source: https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/apis/kubeadm/v1beta2/doc.go#L154

The example YAML uses dockershim.

Actions: Replace with a fully-fledged example using a different CRI.

---

Page: https://kubernetes.io/docs/reference/config-api/kubeadm-config

[2021-12-16 09:22] vaibhav2107 commented on #24497
/remove-lifecycle stale

[2021-12-16 09:58] pacoxu opened #30994 "Managing Resources for Containers"
Read about project quotas in XFS in https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#what-s-next
https://xfs.org/docs/xfsdocs-xml-dev/XFS_User_Guide/tmp/en-US/html/xfs-quotas.html the link is 404

I cannot find a page named xfs-quotas in xfs.org.

I only find https://xfs.org/index.php/XFS_FAQ#Q:_Quota:_What.27s_project_quota.3F .

[2021-12-16 10:34] shannonxtreme commented on #30936
## 1 year and newer, no dockershim removal, yes docker

- kubernetes/website/content/en/blog/_posts/2021-04-08-kubernetes-release-1.21.md
- kubernetes/website/content/en/blog/_posts/2021-04-19-introducing-indexed-jobs.md
- kubernetes/website/content/en/blog/_posts/2021-06-21-writing-a-controller-for-pod-labels.md
- kubernetes/website/content/en/blog/_posts/2021-08-04-kubernetes-release-1.22.md
- k

[2021-12-16 11:39] anubha-v-ardhan commented on #30771
@shrikanta8 This is an umbrella issue you can assign one of the issues listed in this issue's description. Thank you

[2021-12-16 11:50] anubha-v-ardhan commented on #30732
/close
Solved with #30847

[2021-12-16 11:50] #30732 closed

[2021-12-16 12:18] gpierard opened #30996 "Can't use curl on Minikube with the NGINX Ingress Controller"
hey all, I'm trying to follow the basic ingress [tutorial](https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/) using minikube, but on both windows 10 and Mac OS I get an error trying to `curl $(minikube ip)` .
This is the result of my kubectl get ingress , as you can see I only have localhost instead of an IPV4 address.
[code]
All commands to reproduce:
[code]
Thanks for

[2021-12-16 12:26] raelga commented on #30144
/label good-first-issue
/label help-wanted

[2021-12-16 12:27] raelga commented on #30144
/good-first-issue
/help

[2021-12-16 12:28] raelga commented on #30144
/triage accepted

[2021-12-16 16:11] sftim commented on #30899
/remove-priority awaiting-more-evidence
/language en
/triage accepted
/priority backlog

We should update our docs on installing containerd. Perhaps we can link to external install instructions?

[2021-12-16 17:49] marosset commented on #29149
/reopen
It looks like the links are broken again
/assign

[2021-12-16 17:50] marosset commented on #29292
/close
This is tracked with https://github.com/kubernetes/website/issues/29149

[2021-12-16 17:50] #29292 closed

[2021-12-16 18:08] celestehorgan commented on #30771
/unassign @shrikanta8 - please see @anubha-v-ardhan's comment above.

[2021-12-16 18:29] SergeyKanzhelev opened #30999 "[Dockershim removal] move content of monitoring and security agents document to the markdown"
/sig node

We discussed that moving content of https://docs.google.com/document/d/1ZFi4uKit63ga5sxEiZblfb-c23lFhvy6RXVPikS8wf0/edit# to https://kubernetes.io/docs/tasks/administer-cluster/migrating-from-dockershim/migrating-telemetry-and-security-agents/ would increase discoverability of the content. We need to make sure we only collect links to vendor docs, not specific instructions.

[2021-12-16 18:54] nate-double-u commented on #30934
Thanks for putting the list together @shannonxtreme

[2021-12-16 18:55] anubha-v-ardhan commented on #30771
/unassign @shrikanta8

[2021-12-16 18:55] sftim commented on #30999
BTW, that new page needs to use the `{{% thirdparty-content %}}` shortcode.

[2021-12-16 18:56] sftim commented on #30991
/sig security
/language en

[2021-12-16 20:52] #30908 closed

[2021-12-16 22:01] sftim commented on #30994
/language en
/kind bug
/triage accepted
/priority backlog
/sig storage

[2021-12-16 22:03] sftim commented on #30983
/kind support

This command works on my machine.

[2021-12-16 23:53] sftim opened #31001 "Traffic shaping annotations not documented"
**This is a Bug Report**

**Problem:**
https://github.com/kubernetes/enhancements/pull/2808/files details that there is existing, _alpha_ support for two annotations:
- `kubernetes.io/ingress-bandwidth`
- `kubernetes.io/egress-bandwidth`

These aren't yet registered or documented.

**Proposed Solution:**
Register and document these annotations. If they are ever deprecated, we can update the docume

[2021-12-16 23:54] sftim commented on #31001
Also see https://github.com/kubernetes/enhancements/pull/2808

[2021-12-16 23:55] sftim commented on #31001
@frittentheke this might be something you'd like to work on?

[2021-12-17 08:09] #29439 closed

[2021-12-17 08:46] shrikanta8 commented on #30771
sorry for the mistake

[2021-12-17 10:41] tengqm opened #31005 "Scheduler policy API is removed in 1.23"
**This is a Bug Report**

**Problem:**

The scheduler policy API was completely removed in 1.23.

**Proposed Solution:**

- Revise concepts/configuration/manage-resources-containers.md to remove references to the scheduler policy API;
- Revise or even remove reference/scheduling/policies.md which is meaningless;
- Remove the kube-scheduler-policy-config.v1.md file from config API.

**Page to Updat

[2021-12-17 11:05] sftim commented on #30966
SGTM

[2021-12-17 11:06] sftim commented on #31005
/sig scheduling
/language en

[2021-12-17 11:48] #30619 closed

[2021-12-17 12:30] #26199 closed

[2021-12-17 13:22] chalin commented on #30936
@celestehorgan - in the opening comment there are a few places where you mention "Dockershim removal" but I _think_ that you meant just "Dockershim"? For example,

Can you clarify and/or fix the opening comment?

[2021-12-17 15:12] sftim commented on #29353
@anubha-v-ardhan I recommend you omit some of the localization work from the issue description as I don't think it is minimum required content. Focusing on the minimum required content will bring forward the time when we can launch the Hindi localization officially.

The pages I'd omit _for now_ are:
- `content/hi/docs/setup/best-practices/cluster-large.md`
- `content/hi/docs/setup/best-practices/

[2021-12-17 15:16] sftim opened #31010 "Add releases page to minimum required content"
**This is a Feature Request**

**What would you like to be added**
I propose that https://kubernetes.io/docs/contribute/localization/#minimum-required-content should include https://k8s.io/releases/

**Why is this needed**
The releases page (just the front page, and not requiring any pages within it) is a key document to make available to readers. The shortcode this page uses already has localizat

[2021-12-17 15:18] sftim commented on #31010
PS. The `pl` localization is [ahead of the curve](https://kubernetes.io/pl/releases/) on this one, and shows an example of what success looks like.

_There's one paragraph in the shortcode that doesn't yet localize; if you look at the rendered page you'll see that it's marked as English._ Fixing that would be a separate issue.

[2021-12-17 15:44] #28886 closed

[2021-12-17 15:52] anubha-v-ardhan opened #31011 "[hi] Localize docs/reference/_index.md to Hindi"
**This is a Feature Request**

**What would you like to be added**

We need to localize [docs/reference/_index.md](https://github.com/kubernetes/website/blob/main/content/en/docs/reference/_index.md) to Hindi.

**Comments**

The current working branch for `hi` localization work is `dev-1.22-hi.1`. Please make sure to open a PR against `dev-1.22-hi.1`.
For more info see Hindi localization progress

[2021-12-17 15:54] anubha-v-ardhan opened #31012 "[hi] Localize docs/contribute/_index.md to Hindi"
**This is a Feature Request**

**What would you like to be added**

We need to localize [docs/contribute/_index.md](https://github.com/kubernetes/website/blob/main/content/en/docs/contribute/_index.md) to Hindi.

**Comments**

The current working branch for `hi` localization work is `dev-1.22-hi.1`. Please make sure to open a PR against `dev-1.22-hi.1`.
For more info see Hindi localization progres

[2021-12-17 15:54] anubha-v-ardhan commented on #31012
/triage accepted

[2021-12-17 16:03] anubha-v-ardhan opened #31013 "[hi] Update data/i18n/hi/hi.toml to include missing strings"
**This is a Bug Report**

**Problem:**
The current [data/i18n/hi/hi.toml](https://github.com/kubernetes/website/blob/dev-1.22-hi.1/data/i18n/hi/hi.toml) on branch `dev-1.22-hi.1` is not up to date with the English version.

**Proposed Solution:**
Compare [en.toml](https://github.com/kubernetes/website/blob/dev-1.22-hi.1/data/i18n/en/en.toml) with [hi.toml](https://github.com/kubernetes/website/blo

[2021-12-17 16:03] anubha-v-ardhan commented on #31013
/triage accepted

[2021-12-17 16:12] anubha-v-ardhan commented on #29353
Thanks @sftim I've done the needful

[2021-12-17 16:16] Nawaz027 commented on #31012
Hey @anubha-v-ardhan , I am interested in localizing, can you please assign this issue to me?

[2021-12-17 16:20] anubha-v-ardhan commented on #31012
/assign @Nawaz027
Thank you :)

[2021-12-17 16:45] Babapool commented on #31013
Hi I would like to work on this issue.

[2021-12-17 16:54] Babapool commented on #31013
/assign

[2021-12-17 16:57] chrismetz09 commented on #27840
Notes:
[code]

[code]

[code]

[2021-12-17 17:21] chrismetz09 commented on #27840
some Notes:

add minikube metrics server addon
[code]

[2021-12-17 17:47] Garima-Negi commented on #31011
/assign

[2021-12-17 17:51] jayunit100 opened #31015 "Doc page on headless services"
**This is a Feature Request**

I think we need a doc page on how to use headless services.  I wrote one up on my personal blog https://jayunit100.blogspot.com/2021/12/looking-at-headless-services-coredns.html if someone wants to copy/format it over

**What would you like to be added**

A doc page on headless services and DNS

**Why is this needed**

Alot of apps use a headless service to directly

[2021-12-17 18:00] chrismetz09 commented on #27840
some Notes:
[code]

[2021-12-17 18:11] AugustasV opened #31016 "Understanding Kubernetes Objects"
rwxrob mentioned that it should be renamed to Resources. Should I change somewhere from Objects to resources, or it's not necessary?

[2021-12-17 21:12] chrismetz09 commented on #27840
some Notes:
[k8s/metrics/../metrics/type.go](https://github.com/kubernetes/metrics/blob/master/pkg/apis/metrics/types.go)
[k8s/metrics/../metrics/v1beta1/generated.proto](https://github.com/kubernetes/metrics/blob/master/pkg/apis/metrics/v1beta1/generated.proto)
[Kubelet summary API moved to staging](https://github.com/kubernetes/kubernetes/blob/7d309e0104fedb57280b261e5677d919cb2a0e2d/staging/src

[2021-12-18 02:42] gamba47 commented on #13948
@raelga i will start another doc

disruptions -> e/content/es/docs/concepts/workloads/pods/disruptions.md

Necesito solo saber si la traducción de la palabra sería "Rupturas" o "Interrupciones" o cual piensan que es mejor

[2021-12-18 10:01] championshuttler commented on #30970
@shannonxtreme Can i work on it?

[2021-12-18 10:29] championshuttler commented on #30999
can i work on it @sftim

[2021-12-18 13:07] afbjorklund commented on #25879
The FAQ has been updated, and has better info about building (after switching to containerd) now:

https://kubernetes.io/blog/2020/12/02/dockershim-faq/#what-should-i-look-out-for-when-changing-cri-implementations

We detailed the manual steps in minikube, such as installing and configuring `buildkitd` and `buildctl`:

https://minikube.sigs.k8s.io/docs/handbook/pushing/#6-pushing-directly-to-in-cl

[2021-12-18 13:17] strikingraghu opened #31038 "Explain requirement for YUM basearch in kubeadm install docs"
### What happened?

While installing K8s on CentOS VM, below steps didn't work seamlessly:

Site Link - https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/
----------------------------------------------------------------------------------------------------------------------------
Code Section:

cat <<EOF | sudo tee /etc/yum.repos.d/kubernetes.repo
[kubernetes]
na

[2021-12-18 13:42] afbjorklund commented on #30974
It really should say `# For docker`, rather than `# For dockershim`

It doesn't say "for cri-containerd" or "for containerd with cri plugin", either.

[2021-12-18 13:47] afbjorklund commented on #30974
Neither `kubectl` nor `crictl` seem to have a way to tell the CRI in use ?

They only describe the container runtime, and in some cases the API version...

[2021-12-18 14:09] afbjorklund commented on #30974
Looks like crictl is only documented under "debugging", even if now required ?

https://kubernetes.io/docs/tasks/debug-application-cluster/crictl/

[2021-12-18 18:45] #27150 closed

[2021-12-19 03:31] ptux commented on #30876
PR:
https://github.com/kubernetes/website/pull/31023

[2021-12-19 07:54] my-git9 opened #31024 "Improvement for k8s.io/docs/reference/access-authn-authz/admission-controllers/"
The ImagePolicyWebhook part of this article is really hard to understand for people.Really vague！

[2021-12-19 13:38] divya-mohan0209 commented on #30890
/triage accepted

[2021-12-19 18:15] msaini0r commented on #30946
@celestehorgan I would like to work on this issue.

[2021-12-19 18:18] msaini0r commented on #30946
/assign

[2021-12-19 22:01] kbhawkey commented on #31010
/triage accepted

[2021-12-19 22:02] kbhawkey commented on #30974
/triage accepted

[2021-12-19 22:26] kbhawkey commented on #31005
/triage accepted

[2021-12-19 22:33] #31005 closed

[2021-12-20 06:19] mengjiao-liu commented on #30544
/assign

[2021-12-20 06:38] divya-mohan0209 opened #31032 "Adding third party shortcode to the Telepresence content"
{{% thirdparty-content %}} shortcode needs to be added to the Developing and Debugging services locally documentation as suggested by @reylejano in [this PR](https://github.com/kubernetes/website/pull/31028/)

Page that requires change: https://kubernetes.io/docs/tasks/debug-application-cluster/local-debugging/

/sig docs

[2021-12-20 06:38] divya-mohan0209 commented on #31032
/assign @didicodes

[2021-12-20 06:48] didicodes commented on #31032
Thanks for creating an issue for this @divya-mohan0209. I'll open a PR for it soon.

[2021-12-20 07:13] didicodes commented on #31032
A [pull request](https://github.com/kubernetes/website/pull/31034) has been opened to address this issue. cc @divya-mohan0209

[2021-12-20 07:16] jihoon-seo commented on #30996
Please see:
- How to install CURL on Windows 11/10 https://www.thewindowsclub.com/how-to-install-curl-on-windows-10
- Install cURL Command on Windows 10 https://www.configserverfirewall.com/windows-10/install-curl-windows-10/
- Install curl on Mac OSX https://macappstore.org/curl/
- Learn how to install & run cURL on Windows/MacOSX/Linux https://help.ubidots.com/en/articles/2165289-learn-how-to-in

[2021-12-20 07:18] divya-mohan0209 commented on #31032
/assign @didicodes

[2021-12-20 07:58] mengjiao-liu opened #31035 "The description of the Summary API Source section does not match the KEP and code implementation"
**Problem:**
When I was reading this [page](https://kubernetes.io/docs/tasks/debug-application-cluster/resource-metrics-pipeline/#summary-api-source), I felt very confused.
[code]
The meaning of this sentence is to explain that the node, volume, pod and container level information cannot be obtained from the summary API?

But I read  [cAdvisor-less, CRI-full Container and Pod Stats KEP](https://gi

[2021-12-20 10:13] moz2nci commented on #20810
Hello All,

I am getting the same message when I tried to start:
"labs.play-with-k8s.com is currently unable to handle this request.
HTTP ERROR 500"

[2021-12-20 12:45] sftim commented on #31010
/language en
/help

[2021-12-20 13:41] my-git9 commented on #31024
/close

[2021-12-20 13:41] #31024 closed

[2021-12-20 14:41] neolit123 commented on #31038
Its a package manager issue.

Your yum configuration seems to be missing the basearch setting. It happens on some distros and architectures.

We can mention in the docs to manually set the setting if its missing. I don't see what else can be done here.

[2021-12-20 15:55] ninhpham0902 commented on #20810
I'm facing the same issue too

[2021-12-20 16:09] strikingraghu commented on #31038
Thanks @neolit123. Good to get it updated in doc and closing this issue.

[2021-12-20 18:04] #21129 closed

[2021-12-20 18:15] chrismetz09 commented on #31035
Hi @mengjiao-liu, agree it needs fixing per https://github.com/kubernetes/website/issues/27840. I have a bunch of notes, please add your thoughts so we can clarify this matter. It is confusing.

[2021-12-20 18:16] chrismetz09 commented on #27840
related issue https://github.com/kubernetes/website/issues/31035

[2021-12-20 18:21] chrismetz09 commented on #27840
https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/2371-cri-pod-container-stats/README.md

[2021-12-20 18:30] sftim commented on #27840
/lifecycle frozen

[2021-12-20 18:31] sftim commented on #31035
/language en
The best place to add more notes is issue #27840

[2021-12-20 18:31] sftim commented on #31032
/triage accepted
/close

Done in PR https://github.com/kubernetes/website/pull/31034
/language en
/remove-kind feature
/kind bug

[2021-12-20 18:32] #31032 closed

[2021-12-20 18:32] sftim commented on #31015
@jayunit100 can you confirm that the content on that blog is licensed to Kubernetes under the CLA? We'll need that in order to accept that contribution, even as a draft.
/sig network

[2021-12-20 18:33] sftim commented on #31038
/sig docs
/sig cluster-lifecycle
/kind feature
/priority backlog
/triage accepted

/retitle Explain requirement for YUM basearch in kubeadm install docs

[2021-12-20 18:34] sftim commented on #31038
/language en

[2021-12-20 22:42] marosset commented on #29149
/close

All of the links on kubernetes.io are still valid.
Let me know if there are any other issues with links here.

[2021-12-20 22:42] #29149 closed

[2021-12-20 22:51] chalin opened #31043 "Update layout for blog pages so that a warning is displayed on posts 1+ years old"
From @mrbobbytables's [comment on Slack](https://kubernetes.slack.com/archives/C02PZMA3R6E/p1639511731062200?thread_ts=1639511364.059400&cid=C02PZMA3R6E):

The comment was made in the context of the Dockershim-removal effort. I'm opening this PR following discussions with @celestehorgan.

The warning, which would appear only on posts that are >= 1 year old, might read something like this:

Comment

[2021-12-20 22:52] chalin commented on #31043
I'm glad to work on this, though it might not happen until January.

[2021-12-21 02:31] mengjiao-liu commented on #27840
The description of the[ Summary API Source section](https://kubernetes.io/docs/tasks/debug-application-cluster/resource-metrics-pipeline/#summary-api-source) does not match the KEP and code implementation.

Suggested modification:
[code]
see #31035

[2021-12-21 02:32] mengjiao-liu commented on #31035
Thanks for the reminder, I've added comments to #27840

[2021-12-21 02:38] mengjiao-liu commented on #30544
The reason is that the Chinese version link is not synchronized with the English version.

However, when I synchronized the pipeline page, I found that there was a problem with other content  that needed to be synchronized #31035, and I needed to wait for this issue to be solved before I could synchronize.

[2021-12-21 03:11] #29071 closed

[2021-12-21 04:30] IceCodeNew opened #31046 "[zh] Translate blog/_posts/2021-12-10-csi-migration-status.md into Chinese"
Hi, I'm interested to translate the "2021-12-10-csi-migration-status.md" page.

This is a Feature Request:

translate `en/blog/_posts/2021-12-10-csi-migration-status.md` into Chinese.

What would you like to be added:

zh/blog/_posts/2021-12-10-csi-migration-status.md

/language zh
/kind feature

[2021-12-21 04:35] mayocream commented on #31046
/triage accepted

[2021-12-21 04:36] mayocream commented on #31046
/assign @IceCodeNew

[2021-12-21 09:12] sftim opened #31049 "Convert sequence diagram in admission controllers for container drift article to Mermaid"
**This is a Feature Request**

**What would you like to be added**
Update https://kubernetes.io/blog/2021/12/21/admission-controllers-for-container-drift/ to use the _same_ diagram, but drawn using Mermaid. See https://kubernetes.io/docs/contribute/style/diagram-guide/ for a guide to using Mermaid for diagrams.

**Why is this needed**
We'd like to use a consistent approach for diagrams. The existi

[2021-12-21 09:16] sftim commented on #31043
Good idea
/area web-development

I suggest borrowing the _styling_ from [`pageinfo`](https://www.docsy.dev/docs/adding-content/shortcodes/#pageinfo).

[2021-12-21 11:12] strikingraghu commented on #31038
Thanks for acceptance!

[2021-12-21 11:42] championshuttler commented on #31049
I can work on it

[2021-12-21 12:22] sftim commented on #31049
/help

Help wanted - and someone has already stepped forward.
/triage accepted

[2021-12-21 12:24] CatalinCnif commented on #30831
/sig docs

[2021-12-21 12:44] ptux commented on #30872
PR:
https://github.com/kubernetes/website/pull/31054

[2021-12-21 14:14] #29083 closed

[2021-12-21 14:56] haircommander commented on #31035
it sounds like the original author intended `emits` instead. Outputs definitely works too.

[2021-12-21 21:41] chrisnegus commented on #31038
The URL should just work as it is. If for some reason it doesn't, and you want to tell the user how to get it for their specific machine, add a note to show something like this:

`echo https://packages.cloud.google.com/yum/repos/kubernetes-el7-$(uname -m)`
https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64

Use the output to replace the URL in the example. It looks like supported ar

[2021-12-21 23:46] robtayl0r opened #31060 "Issue with k8s.io/docs/tasks/access-application-cluster/ingress-minikube/"
Following the instructions per this page, any attempts to connect to the cluster via ingress timeout/hang indefinitely. As a matter of fact, it's unclear if I'm even attempting the connection correctly, using the minikube ip.

MacOS, Docker driver, Docker Desktop.

[code]

I have a NodePort service created for my deployment.
[code]

When using `minikube service svc-name` the 127.0.0.1 tunnel works

[2021-12-22 02:06] mengjiao-liu commented on #31035
Use `emits` as the word makes sense, thanks for the reply!

[2021-12-22 02:36] KobayashiD27 opened #31061 "[ja] Translate docs/concepts/architecture/garbage-collection into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate https://kubernetes.io/docs/concepts/architecture/garbage-collection/ into Japanese

**Why is this needed**
This page has not been translated.

**Comments**

/language ja
/assign

[2021-12-22 05:14] bang9211 opened #31062 "[ko] Translate tasks/debug-application-cluster/debug-cluster.md"
This is a Feature Request
Translate [/content/en/docs/tasks/debug-application-cluster/debug-cluster.md] in Korean

What would you like to be added
Translate [/content/ko/docs/tasks/debug-application-cluster/debug-cluster.md] in Korean

Why is this needed
This file is not translated yet.

Comments
Page to translate : https://kubernetes.io/docs/tasks/debug-application-cluster/debug-cluster/

/langua

[2021-12-22 06:57] #30975 closed

[2021-12-22 07:30] KobayashiD27 opened #31064 "[ja] Translate docs/concepts/architecture/cri into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate https://kubernetes.io/docs/concepts/architecture/cri/ into Japanese.

**Why is this needed**
This page has not been translated.

**Comments**

/language ja
/assign

[2021-12-22 10:02] telukir opened #31066 "Improvement for k8s.io/docs/concepts/cluster-administration/networking/"
Too many listed a tabular suggestion will be great

[2021-12-22 10:05] sftim commented on #31067
/retitle Confusing docs for x-kubernetes-embedded-resource fields validation in CRDs
/sig docs
/wg api-expression
/language en

[2021-12-22 10:50] sftim commented on #31035
/triage accepted

[2021-12-22 10:53] sftim commented on #31066
I suggest: migrate https://kubernetes.io/docs/concepts/cluster-administration/networking/#how-to-implement-the-kubernetes-networking-model into the Reference section.

I don't think I would switch that to use a table, but there might well be a better way to present the list / a summary of the entries. Maybe `{{ .Page.TableOfContents }}` could help.

/language en
/kind cleanup

[2021-12-22 15:23] manixybion opened #31075 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/"
https://kubernetes.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/

I tried to use pv in k8s lab, I used the same doc given by k8s, It didn't work,

When I try to curl the localhost after exec into the pod, I got 403,
Also the index.html is not mounted into the nginx root dir

AM i missing anything..?

[2021-12-22 18:15] sftim commented on #29353
Also see PR #31077

[2021-12-22 21:14] sammagnum opened #31078 "Broken link in https://k8s.io/docs/reference/kubectl/conventions/"
Link is down for 1.17 deprecated generator details:
![image](https://user-images.githubusercontent.com/1140988/147155886-b49d0ab9-40ce-4d42-ab5d-9e3b820b991d.png)

[2021-12-23 00:02] #31046 closed

[2021-12-23 01:15] championshuttler commented on #31078
Its deprecated way long back should we remove the note at all? @sftim wdyt?

[2021-12-23 09:14] sftim commented on #31075
/kind support

At this stage it's not clear if the document needs fixing, or if it's more that the task is hard to follow accurately because it's a difficult thing to learn.

@manixybion would you be willing to share more details about what you tried, what choices you made, the cluster you used for this, and what command(s) you ran to see the problem?

[2021-12-23 09:31] omaidb opened #31081 "Issue with k8s.io/zh/docs/tasks/access-application-cluster/ingress-minikube/"
执行了第一步:启用 Ingress 控制器
[code]

执行第二步: 检查验证 NGINX Ingress 控制器处于运行状态
[code]

部署一个 Hello World 应用
[code]
在终端面板顶端，请点击加号标志。 然后点击 Select port to view on Host 1。 输入节点和端口号（这里是31637），之后点击 Display Port, 但是页面没有正常显示,提示`无法连接到端口 31777。再试一次`

环境反复试了好几次,都是无法显示.

[2021-12-23 11:50] sftim commented on #29785
It sounds like the `main` branch doesn't have this issue?

If so, I'm going to close this. Please reopen the issue if I've misunderstood.

[2021-12-23 11:50] #29785 closed

[2021-12-23 11:51] sftim commented on #31060
Also see https://github.com/kubernetes/website/issues/31081

[2021-12-23 11:54] chienfuchen32 commented on #29785
Yes, It happened on my building progress over branch `release-1.18`, I believe it works fine on `main` branch.

[2021-12-23 13:23] manixybion commented on #31075
Yes, I think im missing something

[2021-12-23 13:23] #31075 closed

[2021-12-23 22:07] nate-double-u commented on #23518
/remove-lifecycle rotten

[2021-12-24 02:59] KobayashiD27 opened #31086 "[ja] Translate docs/concepts/server-networking/server-traffic-policy into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate docs/concepts/server-networking/server-traffic-policy into Japanese

**Why is this needed**
This page has not been translated.

**Comments**

/language ja
/assign

[2021-12-24 03:05] ptux commented on #30875
PR:
https://github.com/kubernetes/website/pull/30997

[2021-12-24 03:43] ptux commented on #30874
PR:
https://github.com/kubernetes/website/pull/31087

[2021-12-24 05:21] ptux commented on #30873
PR:

https://github.com/kubernetes/website/pull/31089

[2021-12-24 14:03] ptux commented on #30871
PR:
https://github.com/kubernetes/website/pull/31093

[2021-12-24 20:08] nate-double-u commented on #30934
I think that these 4 are borderline cases that may need a warning attached:
* https://kubernetes.io/case-studies/peardeck/index.html
* https://kubernetes.io/case-studies/prowise/index.html
* https://kubernetes.io/case-studies/squarespace/index.html
* https://kubernetes.io/case-studies/wink/index.html

But I'm not convinced that they become warning worthy with the dockershim removal. Thoughts?

[2021-12-24 21:03] liggitt commented on #28721
/reopen

[2021-12-25 15:02] #25758 closed

[2021-12-25 15:58] ptux commented on #30870
PR:

https://github.com/kubernetes/website/pull/31108

[2021-12-25 16:28] tahacodes commented on #22960
hey @jimangel
since I the time asked that is there anyone working on Persian/Farsi localization [here](https://kubernetes.slack.com/archives/C018HE5MA00/p1640439215003800
) no one answered and looks like this community is inactive
anyway, **I'll work on the Persian localization**, also it would be great to assign this one to me or any maintainer who wants to actively contribute with me.

[2021-12-26 01:43] #31035 closed

[2021-12-26 03:28] ryoung75 opened #31110 "Interactive Tutorial - Configuring a Java Microservice"
This tutorial sucks! Missing objects, illegal access though signed in as root.
![Tutorial error](https://user-images.githubusercontent.com/70113416/147398160-fe01dab9-34f1-418e-8dc4-40400db44786.png)

[2021-12-26 05:48] 0xdreadnaught commented on #26503
For people that are completely new to K8, it's a rabbit hole that could easily be squashed with a 2 sentence commit.

[2021-12-26 05:50] ptux commented on #30867
PR:

https://github.com/kubernetes/website/pull/30868

[2021-12-27 00:34] balrajkannan opened #31114 "Improvement for k8s.io/docs/tutorials/stateful-application/basic-stateful-set/"
Hello Doc Team,

This document is very detailed to explain the steps related to Statefulsets. Thank you, also I would like to suggest set of cleanup steps to delete the volumes assigned as part of the tutorial. This would help to leave the system clean at the end of tutorial.

{code}
As part of clean up run the following commands to check the physical volumes assigned.

kubectl get pvc
kubectl get

[2021-12-27 15:30] nasa9084 commented on #30867
/triage accepted

[2021-12-27 15:34] nasa9084 commented on #30401
/triage accepted

[2021-12-27 15:36] nasa9084 commented on #30564
/triage accepted

[2021-12-27 15:53] #30783 closed

[2021-12-28 02:14] chrisnegus commented on #29041
/reopen

[2021-12-28 02:19] chrisnegus commented on #29041
I revisited this issue in [PR #6312](https://github.com/kubernetes/community/pull/6312) since the content in the community section was out of date. I limited the content to information about the SIG Docs Blog subproject and removed content about creating blogs (simply pointing to that information in the contributors section).

[2021-12-28 11:42] championshuttler opened #31123 "Issue with k8s.io/es/docs/tasks/debug-application-cluster/resource-metrics-pipeline"
deployment yamls:https://github.com/kubernetes-sigs/metrics-server/tree/master/deploy does not exist

[2021-12-29 02:13] #30544 closed

[2021-12-29 03:00] nasa9084 commented on #30810
/triage accepted

[2021-12-29 10:42] nasa9084 commented on #30877
/triage accepted

[2021-12-29 10:54] nasa9084 commented on #30875
/triage accepted

[2021-12-29 12:01] #31123 closed

[2021-12-29 12:56] ajinkya359 commented on #30953
/assign

[2021-12-29 13:21] nasa9084 commented on #30869
/triage accepted

[2021-12-29 14:05] nasa9084 commented on #31064
/triage accepted

[2021-12-29 14:07] raelga commented on #25616
/remove-lifecycle stale

[2021-12-29 16:37] nasa9084 commented on #30189
fixed in #30193
/close

[2021-12-29 16:37] #30189 closed

[2021-12-29 17:15] JoeKuan opened #31139 "Improvement for k8s.io/docs/concepts/services-networking/dns-pod-service/"
For example, consider a pod in a test namespace. A data service is in the prod namespace.

A query for data returns no results, because it uses the pod's test namespace.

A query for data.prod returns the intended result, because it specifies the namespace.

-------------------------------------------------------------------------------------------------
As a beginner, I have to read several times

[2021-12-29 17:33] riita10069 opened #31140 "Replace links in japanese documentation to `/ja/docs/` Automatically"
**This is a Feature Request**

**What would you like to be added**

- Replace all the links automatically by cli tool
- Find inappropriate links to other languages by prow based jobs

**Why is this needed**

It is unfriendly that every time you step on a link, you are sent to an English document.
However, it is difficult for maintainers to find inappropriate links every time the Japanese version i

[2021-12-29 19:23] JoshuaFox opened #31142 "kubectl get/describe defaults to returning the GA API version for a K8s object."
`kubectl get/describe` defaults to returning the GA API version for a K8s object.

It seems to be strange -- we expect the `kubectl` command to give a **true** answer. In many case, the false answer actually has implications about what is and is not supported  in the API.

As an example,   you set up a `HorizontalPodAutoscaler` in `v2beta2`. You chose this rather than `v1` specifically for the new

[2021-12-30 09:04] jihoon-seo commented on #27547
- Resolved by #29078

[2021-12-30 09:04] #27547 closed

[2021-12-30 14:42] #28969 closed

[2021-12-30 16:25] nasa9084 commented on #31140
/triage accepted

[2021-12-30 16:26] nasa9084 commented on #31086
/triage accepted

[2021-12-30 16:32] nasa9084 commented on #31061
/triage accepted

[2021-12-30 16:33] nasa9084 commented on #30876
/triage accepted

[2021-12-30 16:33] nasa9084 commented on #30874
/triage accepted

[2021-12-30 16:33] nasa9084 commented on #30873
/triage accepted

[2021-12-30 16:34] nasa9084 commented on #30872
/triage accepted

[2021-12-30 16:34] nasa9084 commented on #30871
/triage accepted

[2021-12-30 16:34] nasa9084 commented on #30870
/triage accepted

[2021-12-30 16:34] nasa9084 commented on #30528
/triage accepted

[2021-12-30 16:34] nasa9084 commented on #30527
/triage accepted

[2021-12-30 16:34] nasa9084 commented on #30526
/triage accepted

[2021-12-30 16:35] nasa9084 commented on #30519
/triage accepted

[2021-12-30 16:36] nasa9084 commented on #30480
/triage accepted

[2021-12-31 01:39] MasterLover opened #31153 "在 Linux 系统中安装并设置 kubectl markdown 渲染错误"
![image](https://user-images.githubusercontent.com/25337521/147798088-d05aeb52-6564-42e5-ab45-0241ec9922a1.png)

[2021-12-31 03:43] tengqm commented on #31153
/triage accepted
/kind bug
/assign
/language zh

[2021-12-31 07:42] nickezekias commented on #6891
I still think this issue is not well addressed.
First the troubleshooting is too low-key on this problem for someone new on Kubernetes, telling me I might not have matching cgroups only leaves me more confused. I think the steps to make the fix, mentioned here should be added:

Second as for the cgroups instructions mentioned on the installation page, I never read it, because supposedly installing

[2021-12-31 12:02] JoeKuan opened #31159 "Improve Volumes concept page (including diagram?)"
For beginners with little knowledge of k8, the Volumes should just give a very general picture of managing storage, instead the concept page gives a long list of different type of volumes which most beginners don't really need at this point.

The PV in Static and Dynamic provisioning should be presented with a diagram to illustrate the significance and how different are them.

Basically, I have to

[2021-12-31 14:15] rikatz commented on #27446
/lifecycle active

[2021-12-31 16:56] riita10069 commented on #31140
Hi @nasa9084
Thanks for accepted this issue.

[2021-12-31 16:56] riita10069 commented on #31140
https://github.com/kubernetes/website/pull/31160
This pull request was generated automatically.

[2022-01-01 08:10] ashish-jaiswar commented on #30613
Hi, @sftim I need your help, can you tell me How can I resolve this issue?

[2022-01-01 12:34] #31153 closed

[2022-01-01 14:40] sftim commented on #4503
Related issue: https://github.com/kubernetes/website/issues/31159

[2022-01-01 14:49] sftim commented on #31142
The place that _should_ explain this is https://kubernetes.io/docs/concepts/overview/kubernetes-api/#api-groups-and-versioning

However, some of the details are instead in https://kubernetes.io/docs/reference/using-api/#api-versioning and https://kubernetes.io/docs/reference/using-api/deprecation-policy/ (sic)

My proposed fix:
- update https://kubernetes.io/docs/reference/using-api/#api-versionin

[2022-01-01 14:51] sftim commented on #31110
Perhaps the easiest fix is to remove that [tutorial](https://kubernetes.io/docs/tutorials/configuration/configure-java-microservice/). I'm not sure that there are resources available to maintain it.

[2022-01-01 14:53] sftim commented on #31114
/kind feature
/language en

[2022-01-01 15:42] bang9211 opened #31163 "[ko] Translate tasks/debug-application-cluster/troubleshooting.md"
This is a Feature Request
Translate [/content/en/docs/tasks/debug-application-cluster/troubleshooting.md] in Korean

What would you like to be added
Translate [/content/ko/docs/tasks/debug-application-cluster/troubleshooting.md] in Korean

Why is this needed
This file is not translated yet.

Comments
Page to translate : https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/

/

[2022-01-01 21:04] #29207 closed

[2022-01-02 09:22] #30352 closed

[2022-01-02 10:07] #29245 closed

[2022-01-02 13:10] #29215 closed

[2022-01-02 15:31] sftim commented on #29479
/lifecycle frozen
/triage accepted

[2022-01-02 15:35] sftim commented on #29065
/remove-lifecycle rotten
We should do this

[2022-01-02 15:36] sftim commented on #29484
/close
SIG Docs would welcome a new Turkish localization that met the minimum requirements.

[2022-01-02 15:36] #29484 closed

[2022-01-02 15:52] sftim commented on #29900
I don't think there's anything that needs fixing.
/close

[2022-01-02 15:52] #29900 closed

[2022-01-02 18:00] jasalgado opened #31168 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/high-availability/"
Weave-net URL has changed.

The correct url for Kubernetes 1.16 or later is https://cloud.weave.works/k8s/v1.16/net.yaml

$ curl "https://cloud.weave.works/k8s/net?k8s-version=1.20.0"
code: Redirect
message: >-
  Moved permanently to `/k8s/v1.16/net.yaml`, returning config for Kubernetes
  version v1.16 and above.

It could be interesting include IPALLOC_RANGE environment variable in documentation

[2022-01-02 18:51] neolit123 commented on #31168
/sig cluster-lifecycle
/kind cleanup
/help

we should remove the text and example instead of updating it:
[code]

it already links to another page with CNI instructions:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#pod-network

[2022-01-03 04:47] ptux opened #31173 "[ja] Translate tasks/administer-cluster/kubeadm/kubeadm-certs into Japanese"
# This is a Feature Request

## What would you like to be added

Translate [tasks/administer-cluster/kubeadm/kubeadm-certs](https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/)  into Japanese.

## Why is this needed

This page has not been translated.

## Comments

/language ja
/assign

[2022-01-03 09:51] enraiha0307 commented on #30948
Hi, is anyone working on this issue? I'm new to open-source, thought I could help on this

[2022-01-03 15:42] sftim commented on #31015
For the _idea_ of improving docs around headless services: definitely accepted.

[2022-01-03 15:45] sftim commented on #31159
/sig storage

[2022-01-03 15:46] sftim commented on #31168
:+1:
/triage accepted

[2022-01-03 16:10] nate-double-u commented on #29065
Just a note, commit [37c96cf](https://github.com/kubernetes/k8s.io/commit/37c96cfced626166b1541a2b1926e9a6e49a6863#diff-9470e73f24dec81b0a2a25daf2a7ab19b5a9774ad57a80ef24c09e7ef606301b) moved this info into the [/groups/sig-docs/groups.yaml](https://github.com/kubernetes/k8s.io/blob/main/groups/sig-docs/groups.yaml) file.

[2022-01-03 17:29] sftim commented on #30613
Hi @ashish-jaiswar

If you can take the information from https://github.com/kubernetes/website/issues/30613#issuecomment-977922126 and edit https://kubernetes.io/docs/reference/labels-annotations-taints/ to include those details, that should resolve the issue when your pull request merges.

To get started with code contributions to our docs, check out https://www.k8s.dev/docs/guide/ and https://k8

[2022-01-03 17:53] sftim commented on #30885
We could add a [glossary](https://kubernetes.io/docs/reference/glossary/?all=true) entry for “Quantity” and include some of these details in that entry.

(That's what I'd do).

Also see the [API reference](https://kubernetes.io/docs/reference/kubernetes-api/common-definitions/quantity/) for quantity. This is directly generated from upstream code.

[2022-01-03 18:19] Garima-Negi commented on #31011
@anubha-v-ardhan Hi, here's a PR I am working on for this particular localization - [https://github.com/kubernetes/website/pull/31185](https://github.com/kubernetes/website/pull/31185)

Thank you for reminding me to share it.

[2022-01-03 21:23] chrismetz09 commented on #27840
@sftim @serathius
Initial hack resource-metrics pipeline diagram. Included pre-1.23 cAdvisor and 1.23 CRI-O. Feedback needed.

![image](https://user-images.githubusercontent.com/5543858/147981325-29b9de7f-95e2-47fd-87da-60d568e917cd.png)
[diagram live editor](https://mermaid.live/edit#eyJjb2RlIjoiZmxvd2NoYXJ0IExSXG4gICAgICAgIHN1YmdyYXBoIGNsdXN0ZXJbQ2x1c3Rlcl1cbiAgICAgICAgICAgIGRpcmVjdGlvbiBSTFxuIC

[2022-01-03 21:28] guettli opened #31186 "Issue with k8s.io/docs/tasks/tools/: Difference between Minikube and Kind is not clear"
On this page it is not clear why there are two tools: Minikube and Kind:

https://kubernetes.io/docs/tasks/tools/

This confuses new users.

[2022-01-03 21:55] annajung commented on #31043
/triage accepted

[2022-01-03 22:00] annajung commented on #29734
Hi there, [PR wrangler](https://github.com/kubernetes/website/wiki/PR-Wranglers) here for this week.

Based on the [documentation for triaging an issue](https://kubernetes.io/docs/contribute/review/for-approvers/#triaging-an-issue), I'll close out this issue as it contains both `lifecycle/stale` and `triage/needs-information` labels.

Feel free to reopen with correct labels if it's still relevant.

[2022-01-03 22:00] annajung commented on #29734
/close

[2022-01-03 22:00] #29734 closed

[2022-01-03 22:01] annajung commented on #28967
Hi there, [PR wrangler](https://github.com/kubernetes/website/wiki/PR-Wranglers) here for this week.

Based on the [documentation for triaging an issue](https://kubernetes.io/docs/contribute/review/for-approvers/#triaging-an-issue), I'll close out this issue as it contains both `lifecycle/stale` and `triage/needs-information` labels.

Feel free to reopen with correct labels if it's still relevant.

[2022-01-04 02:17] gamba47 commented on #13948
In Workloads (content/es/docs/concepts/workloads) the file for "Pod Overview" does not exist.
In the same path are more than one taken files but without any news. Can i take some of those files already taken?

I will start translation on Storage -> Ephemeral Volumes

[2022-01-04 02:22] jihoon-seo commented on #31163
/triage accepted

[2022-01-04 02:23] jihoon-seo commented on #31062
/triage accepted

[2022-01-04 03:48] WoodpeckerBaby opened #31190 "Improvement for k8s.io/docs/concepts/overview/working-with-objects/labels/"
Please further clarify `exists` [here](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#set-based-requirement).

[2022-01-04 04:23] WoodpeckerBaby opened #31191 "Improvement for k8s.io/docs/concepts/overview/working-with-objects/common-labels/"
The concept of the `StatefulSet` has not been introduced at this point yet, but is used at multiple locations on this page. It would make sense to briefly explain what that is and link to a page that covers that topic.

[2022-01-04 05:21] nine01223 opened #31192 "[ko] Translate concepts/scheduling-eviction/scheduling-framework in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/scheduling-eviction/scheduling-framework in Korean

**Why is this needed**
No translation with concepts/scheduling-eviction/scheduling-framework in Korean

**Comments**

Page to update:
https://kubernetes.io/docs/concepts/scheduling-eviction/scheduling-framework/

[2022-01-04 05:21] nine01223 commented on #31192
/language ko
/assign

[2022-01-04 05:29] jihoon-seo commented on #31192
/retitle [ko] Translate concepts/scheduling-eviction/scheduling-framework in Korean
/triage accepted

[2022-01-04 05:30] nine01223 commented on #31192
Sorry. This is my mistake. I'll request this issue in 'kubernetes/website'.

[2022-01-04 05:31] nine01223 commented on #31192
Sorry

[2022-01-04 05:35] arman-zhumakhan opened #31193 "cannot open Kubernetes website"
### What happened?

I'm getting the error NET::ERR_CERT_AUTHORITY_INVALID on a browser when I try to open kubernetes website. I'm based on Hong Kong. I paste the whole error below
NET::ERR_CERT_AUTHORITY_INVALID
Subject: kubernetes.io

Issuer: FWF60ETK18004712

Expires on: Feb 18, 2022

Current date: Jan 4, 2022

PEM encoded chain:
-----BEGIN CERTIFICATE-----
MIIEajCCA1KgAwIBAgIUILtSCPOTtK2Q8yp8lU

[2022-01-04 09:33] sftim commented on #27840
(nit) Typo in `cAdivsor`.

This is a big topic so well done for helping tackle it @chrismetz09. It's an important page.

The HPA talks to the Kubernetes API. Behind the scenes, part of that API is served via an API extension - the metric server. The HPA (or VPA, potentially) then writes back to the Kubernetes API to update the thing it's managing, such as a Deployment.
I'd be tempted to show that

[2022-01-04 12:43] shadowshot-x opened #31194 "Unknown Symbol "￼" on Container Runtime Interface (CRI) Page"
I am being shown  ￼ on the https://kubernetes.io/docs/concepts/architecture/cri/ page. This is in the last paragraph before the API heading. This may be a small bug and can be removed easily in the text.

I can see this both on Chrome and Mozilla Firefox on Ubuntu 20.04.

Attaching a Screenshot. Look at the bottom right in this image.

![Screenshot from 2022-01-04 18-11-51](https://user-images.git

[2022-01-04 12:44] RichardJJG opened #31195 "Issue with k8s.io/docs/concepts/workloads/pods/"
"Pod" is capitalized throughout the page, but references to pods elsewhere -- including the [style guide](https://kubernetes.io/docs/contribute/style/style-guide/#documentation-formatting-standards) -- use lowercase for pods. Which is correct? Should references to "pod" and "pods" be title case or lowercase?

[2022-01-04 13:07] sftim commented on #31193
Hi @arman-zhumakhan

It looks like an attacker, or possibly some entity acting legitimately but in a manner similar to an attack, is intercepting and modifying your connection to the Kubernetes website.

Are you able to try accessing this from another network that doesn't have the attack in place?
/triage not-reproducible

[2022-01-04 13:09] sftim commented on #31186
There are in fact more than two tools you can use to run a local cluster. We should make it more clear that kind and Minikube are just two examples and that there are others (available from third parties).

/language en

[2022-01-04 13:10] sftim commented on #31190
/kind feature
/language en

The existing explanation (“only the key identifier”) is terse; we can and should expand on that.

[2022-01-04 13:12] sftim commented on #31191
/triage accepted
/language en
/help

I would use a [glossary tooltip](https://kubernetes.io/docs/contribute/style/hugo-shortcodes/#glossary) here. We should also mention that StatefulSet is just an example.

Related, the example manifest is incomplete. We should add a comment in YAML to make it clear that this is an excerpt.

[2022-01-04 14:16] arman-zhumakhan commented on #31193
Oh, I just realised that it can be accessed from another network. Thanks so much

[2022-01-04 14:16] #31193 closed

[2022-01-04 14:21] sftim commented on #31195
&mdash; the style guide

Both Pod and pod are valid, depending on context.

[2022-01-04 14:22] sftim commented on #31195
/language en

[2022-01-04 14:23] sftim commented on #31195
/retitle Query about capitalization of Pod in https://k8s.io/docs/concepts/workloads/pods/

[2022-01-04 14:30] RichardJJG commented on #31195
All the instances of "Pod" and "Pods" on https://kubernetes.io/docs/concepts/workloads/pods/ are wrong then, are they not? That topic talks about pods in general discussion.

[2022-01-04 14:48] sftim commented on #31195
A counterexample: “The following is an example of a Pod which consists of a container running the image nginx:1.14.2.”

To me that's definitely a Pod; the thing being discussed is what you'd create in the API based on the example manifest.

_Some_ of the capitalizations in that page might not be in line with the style guide. We'd definitely welcome a considered PR that makes a case for changing an

[2022-01-04 15:44] RichardJJG commented on #31195
Okay, thanks for the clarification, @sftim!

[2022-01-04 17:05] tcellucci opened #31200 "Interactive Tutorial - Scaling Your App"
not sure what the above means exactly, but it blocks completion of the exercise...

[2022-01-04 20:13] chrismetz09 commented on #27840
@sftim @serathius
Revised resource metrics hack diagram:

![resource-metrics-pipeline2](https://user-images.githubusercontent.com/5543858/148117938-c7a72394-4a95-4c67-8439-433bbdc46fbc.png)

[mermaid live editor diagram link](https://mermaid.live/edit#eyJjb2RlIjoiZmxvd2NoYXJ0IFRCXG4gICAgICAgIHN1YmdyYXBoIGNsdXN0ZXJbQ2x1c3Rlcl1cbiAgICAgICAgICAgIGRpcmVjdGlvbiBSTFxuICAgICAgICAgICAgU1sgPGJyPjxicj4gXVxu

[2022-01-04 20:36] #30890 closed

[2022-01-04 20:40] nate-double-u commented on #30936
Thanks for generating that list @shannonxtreme!

[2022-01-04 20:59] annajung commented on #31194
/triage accepted
/kind bug
/good-first-issue

looks like a problem with https://github.com/kubernetes/website/blob/main/content/en/docs/reference/glossary/container-runtime-interface.md

[2022-01-05 03:08] shadowshot-x commented on #31194
/assign

[2022-01-05 04:41] #29279 closed

[2022-01-05 05:29] Shubham82 commented on #31200
Hi @tcellucci
I tried this [tutorial](https://kubernetes.io/docs/tutorials/kubernetes-basics/scale/scale-interactive/) on given katakoda terminal but I didn't encounter any this kind of error, for me it is working fine.

[2022-01-05 06:04] Darshnadas commented on #31168
/assign

[2022-01-05 09:08] sversienti opened #31210 "Improvement for k8s.io/it/docs/concepts/overview/kubernetes-api/"
Vi sono due modi **per** supportati per estendere le API attraverso le custom resources:

[2022-01-05 09:18] anencore94 opened #31211 "[ko] Translate concepts/architecture/cri.md in Korean"
This is a Feature Request
Translate `/content/en/docs/concepts/architecture/cri.md` in Korean

What would you like to be added
Translate `/content/en/docs/concepts/architecture/cri.md` in Korean

Why is this needed
This file is not translated yet.

Comments
Page to translate : https://kubernetes.io/docs/concepts/architecture/cri/
/language ko
/assign

**Comments**

I see dev-1.23-ko.1 branch will

[2022-01-05 13:54] jayesh-srivastava commented on #31010
Hi @sftim, if the issue is still open, can I work on it?

[2022-01-05 14:45] WoodpeckerBaby commented on #31190
Ohh, you mean just the tag! I got it. 'Exists' means a single "key identifier" by itself, like Boolean logic. It's worded a bit awkwardly, I didn't realize the third and fourth statements are examples of exists.
[code]

[2022-01-05 14:48] #31190 closed

[2022-01-05 14:51] timothyclarke opened #31215 "Improve Ingress concept to explain use of ingressClassName field"
IngressClass is defined, but there are no examples of it's usage, specifically when there are multiple ingress classes.
There is a deprecated annotation notice `kubernetes.io/ingress.class`
Assuming nginx is the new ingress
[code]
Or
[code]
Or
[code]

[2022-01-05 15:11] sftim commented on #27951
The text I'd change is “In order for kubectl to find and access a Kubernetes cluster, it needs a kubeconfig file, which is created automatically when you create a cluster using kube-up.sh or successfully deploy a Minikube cluster.”

Instead of mentioning minikube and `kube-up.sh` we should signpost readers towards https://kubernetes.io/docs/setup/ and make it clear that they need to either:
- conn

[2022-01-05 15:25] sftim commented on #27840
In terms of networking (TCP, HTTP etc): the metrics server makes a connection to cAdvisor, and the API server connects to the metrics server. I think of it like this:

[![](https://mermaid.ink/img/eyJjb2RlIjoiZmxvd2NoYXJ0IFRCXG4gICAgICAgIHN1YmdyYXBoIGNsdXN0ZXJbQ2x1c3Rlcl1cbiAgICAgICAgICAgIGRpcmVjdGlvbiBSTFxuICAgICAgICAgICAgU1sgPGJyPjxicj4gXVxuICAgICAgICAgICAgICAgIEFbbWV0cmljcy08YnI-c2VydmVyXVxuICA

[2022-01-05 15:55] nate-double-u commented on #29557
I think we can close this now.

[2022-01-05 15:55] #29557 closed

[2022-01-05 16:08] #25832 closed

[2022-01-05 16:28] sftim commented on #29704
@Mr-DG-Wick did you want any help on how to work on this?

[2022-01-05 16:31] Mr-DG-Wick commented on #29704
Hi @sftim I am currently working on an internship so won't be able to work on this.

[2022-01-05 16:38] jayesh-srivastava commented on #29704
Hey @sftim, if @Mr-DG-Wick isn't able to work on this rn, can I assign it to myself?

[2022-01-05 17:05] sftim commented on #29704
(for SIG Docs) anyone can work on any issue.
If you want to work on an issue that someone else has a PR open for, or that they say they've started on, it's polite to get in touch with them first.

[2022-01-05 17:05] sftim commented on #29704
/unassign @Mr-DG-Wick

[2022-01-05 17:06] sftim commented on #29704
I almost never assign issues to myself; I _do_ work on some of them though.

[2022-01-05 17:09] sftim commented on #31215
https://kubernetes.io/docs/concepts/services-networking/ingress/#ingress-class definitely  _is_ an example of using it.

I think there's room for a task or tutorial page that covers how to configure multiple ingress classes.
/language en

[2022-01-05 17:10] sftim commented on #31215
/retitle Improve explanation of using multiple IngressClasses

[2022-01-05 17:11] sftim commented on #31215
/sig network

[2022-01-05 17:12] sftim commented on #31215
Actually, maybe what's wanted is:
/retitle Improve Ingress concept to explain use of ingressClassName field

[2022-01-05 17:12] sftim commented on #31215
/triage accepted
/priority important-longterm

[2022-01-05 17:13] sftim commented on #31210
/language it
/kind bug

[2022-01-05 17:14] sftim commented on #31200
This might be an intermittent fault with the online Kubernetes environment.

BTW @tcellucci when you log issues, it helps to include the URL of the page where you saw the error.

[2022-01-05 17:17] sftim commented on #30912
/retitle Error following “Configure a Pod to Use a PersistentVolume for Storage”: storageclass.storage.k8s.io "manual" not found

[2022-01-05 17:18] timothyclarke commented on #31215
@sftim  Thanks. While `kind: IngressClass` is defined and there are examples of it's use, there are no examples of `kind: Ingress` making use of `IngressClass` hence the code snippets I gave to highlight

[2022-01-05 20:23] #30971 closed

[2022-01-05 21:45] chrismetz09 commented on #27840
Whoa! Cooking on the diagrams :-). Several questions and clarifications:

1. I see kubelet API endpoints here: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/server/server.go#L84-L93

2. I understand role of cAdvisor (soon to be legacy?) does. Call to ../metrics/cadvisor returns massive amounts of data. Help jq! Too much to parse :-)

3. Does the metrics server call the Kubelet .

[2022-01-05 22:19] sftim commented on #27840
BTW the metrics-server is also a _client_ of the Kubernetes API (for things like discovering nodes).

As far as I can see, metrics-server connects to `/metrics/resource` on the kubelet - see https://kubernetes.io/docs/concepts/cluster-administration/system-metrics/ and https://github.com/kubernetes-sigs/metrics-server/blob/eebdfa3ec19b8397541b5b814f09ce6b2c16ade1/pkg/scraper/client/resource/client

[2022-01-05 22:41] nate-double-u commented on #30936
I think @sftim may have started some of this work with https://github.com/kubernetes/website/issues/30839 and https://github.com/kubernetes/website/pull/30840

[2022-01-05 22:46] sftim commented on #30936
These 3 categories:

make sense to me; we're using those elsewhere.

It might be useful to specially call out any blog entries from the past say 24 months that mention Docker in a way that won't work, or will need changes, once dockershim is removed. That'd be different from say an article that mentions using `docker` as a tool to push a container image.

[2022-01-05 22:48] sftim commented on #30977
For this one, we might still want to explain the historical context for hosts file management. Otherwise: are we telling the reader that their node does a thing but not why that happens?

[2022-01-05 22:55] sftim commented on #30823
@jglick maybe if that page linked to the example PSP list in https://kubernetes.io/docs/concepts/security/pod-security-standards/#policy-instantiation? Would that help?

(BTW, those “levels” aren't entirely new - the 3 pod security standards have been in Kubernetes docs since May 2020)

[2022-01-05 23:09] jihoon-seo commented on #31211
Two options will be available.
1. Start your translation from `dev-1.23-ko.1`,
and after `dev-1.23-ko.2` is created,
rebase to `dev-1.23-ko.2` and open a PR. 😊
2. Wait for `dev-1.23-ko.2` to be open,
and start your work from `dev-1.23-ko.2`. 😊

그런데 https://github.com/kubernetes/website/pulls?q=is%3Apr+is%3Aopen+base%3Adev-1.23-ko.1 를 보시면
merge target이 `dev-1.23-ko.1` 인 PR들이 아직 많이 열려 있어서
아마 `dev-1.

[2022-01-06 02:31] ptux opened #31217 "[ja] Translate tasks/administer-cluster/kubeadm/configure-cgroup-driver into Japanese"
# This is a Feature Request

## What would you like to be added

Translate [tasks/administer-cluster/kubeadm/configure-cgroup-driver](https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/configure-cgroup-driver)  into Japanese.

## Why is this needed

This page has not been translated.

## Comments

/language ja
/assign

[2022-01-06 03:54] NOWYOU opened #31220 "Improvement for k8s.io/ja/docs/reference/access-authn-authz/rbac/"
このページに単語の間違いがあると思います。I think there has a word mistake on ​this page

----------------------------------------------------------------------
RoleとClusterRole
RBACの Role または ClusterRole には、一連の権限を表すルールが含まれて言います。 権限は完全な追加方式です(「deny」のルールはありません)。
----------------------------------------------------------------------
「RBACの Role または ClusterRole には、一連の権限を表すルールが含まれています。」ってはずですか？

[2022-01-06 11:58] sftim commented on #22961
I'd be happy to move the list of network plugins into the reference section.

[2022-01-06 12:29] sftim commented on #31220
/language ja

[2022-01-06 12:31] sftim commented on #30853
Should we transfer this issue to the API generator repo? Or maybe to [k/k](https://github.com/kubernetes/kubernetes)?

(if the answer's “no”, that's fine!)

[2022-01-06 12:31] sftim commented on #30853
/wg api-expression
/sig docs

[2022-01-06 12:32] sftim commented on #30853
/priority important-longterm
/lifecycle frozen

[2022-01-06 15:38] nigoroll opened #31223 "Improvement for k8s.io/docs/concepts/services-networking/ingress-controllers/"
We have a varnish-cache based ingress also known as Viking https://code.uplex.de/uplex-varnish/k8s-ingress/
@slimhazard

[2022-01-06 17:34] jglick commented on #30823
Yes, that is exactly what I was looking for. Adding a link would be helpful.

[2022-01-06 18:20] savitharaghunathan commented on #27515
/transfer sig-security

[2022-01-06 18:30] sftim commented on #30823
/sig docs
/sig security
/triage accepted
/language en
/priority backlog

[2022-01-06 20:26] bang9211 opened #31228 "[ko] Translate tasks/debug-application-cluster/local-debugging.md into Korean"
This is a Feature Request
Translate [/content/en/docs/tasks/debug-application-cluster/local-debugging.md] in Korean

What would you like to be added
Translate [/content/ko/docs/tasks/debug-application-cluster/local-debugging.md] in Korean

Why is this needed
This file is not translated yet.

Comments
Page to translate : https://kubernetes.io/docs/tasks/debug-application-cluster/local-debugging/

/

[2022-01-06 20:56] #30813 closed

[2022-01-06 22:07] sftim commented on #31223
I see that https://code.uplex.de/uplex-varnish/k8s-ingress/ describes the project as a
`NOTE: WORK IN PROGRESS`

Once there's a website / non-WIP looking repo for the ingress controller, feel free to open a PR to add it into the list.

[2022-01-06 23:51] annajung commented on #31200
I was also not able to reproduce the error. @tcellucci Could you check to see if you are still running into the same error? If so, could you provide more details on which step?

/language en
/triage not-reproducible

[2022-01-06 23:56] annajung commented on #31186
I agree that adding some clarification will help.
Modification needs to be made to [tools index page](https://github.com/kubernetes/website/blob/main/content/en/docs/tasks/tools/_index.md)

/triage accepted
/good-first-issue

[2022-01-07 01:29] yasim21c opened #31232 "Example: Deploying WordPress and MySQL with Persistent Volumes"
[hi~

i ha](https://kubernetes.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/
Example: Deploying WordPress and MySQL with Persistent Volumes

Hello.

I installed the example successfully and saw the WordPress screen.

Basic contents were registered and confirmed.

After that, when I shut down the minikube service and started the service again, the server did not come up

[2022-01-07 01:30] yasim21c opened #31233 "[ko] Example: Deploying WordPress and MySQL with Persistent Volumes"
https://kubernetes.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/
Example: Deploying WordPress and MySQL with Persistent Volumes

안녕하세요.

나는 예제를 성공적으로 예제를 설치하고 워드프레스 화면을 보았다.

기본적인 내용을 등록, 확인하였다.

이후 minikube 서비스를 종료하고 다시 서비스를 시작하니 서버도 올라오지 않고 워드프레스 화면도 볼 수가 없었다.

이유가 무엇입니까?

[2022-01-07 01:32] jihoon-seo commented on #31233
/retitle [ko] Example: Deploying WordPress and MySQL with Persistent Volumes
/kind support

[2022-01-07 01:32] jihoon-seo commented on #31232
/kind support

[2022-01-07 01:33] jihoon-seo commented on #31228
/triage accepted

[2022-01-07 01:34] zhangguanzhang commented on #29819
/remove-lifecycle stale

[2022-01-07 02:38] #31233 closed

[2022-01-07 04:08] #26168 closed

[2022-01-07 04:08] #26346 closed

[2022-01-07 07:25] Shubham82 opened #31235 "Document that specifying --service-account-issuer multiple times requires k8s v1.22 or later"
**This is a Bug Report**

**Problem:**
As per discussion in [#107031](https://github.com/kubernetes/kubernetes/issues/107031) we have to add a note [here](https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#service-account-token-volume-projection) for  **`--service-account-issuer`**  flag that we can specify it multiple times only in k8s v1.22 and v1.22+ versions.

[2022-01-07 07:25] Shubham82 commented on #31235
/assign

[2022-01-07 07:39] guettli commented on #31186
Wait, wait, wait. Yes, there are even more tools available. But my problem is: I have no clue which one too choose. If you add even more alternatives, then the situation for a first-time-user is getting even more difficult.

When I compiled the linux kernel in the year 1997 I had no clue about all these questions you got asked during this process. But there was always a "if unsure use ..." advice.

[2022-01-07 09:29] sftim commented on #31235
/retitle Document that specifying --service-account-issuer multiple times requires k8s v1.22 or later
/language en
/remove-kind bug
/kind feature

[2022-01-07 09:32] sftim commented on #31236
/sig docs
/language en
Relevant to #31235

[2022-01-07 09:34] shannonxtreme commented on #30977
I was thinking more just revise the sentence to say "The kubelet manages the hosts file for each container of the Pod to prevent the container runtime from modifying the file after the containers have already been started." (if that is accurate)

[2022-01-07 09:44] Shubham82 commented on #31235
Thanks, @sftim for taking look at this.

[2022-01-07 09:58] Shubham82 commented on #31235
Fixed it here: #31237

[2022-01-07 10:00] Shubham82 commented on #31236
Fixed it here: [#31237](https://github.com/kubernetes/website/pull/31237)

[2022-01-07 11:13] #27657 closed

[2022-01-07 13:34] Abhishek-90 opened #31241 "Interactive Tutorial - Deploying an App"
The way the tutorial proceeds for  a beginner is amazing. The side panel containing the contents of the tutorial should be allowed to be hidden using the traditional hamburger button that would provide space for the tutorial section (online terminal and theory). Also the tutorial section should have a wider space, maybe allow both the terminal and the contents(theory) to go full screen unlike only

[2022-01-07 16:14] #29307 closed

[2022-01-07 16:20] nigoroll commented on #31223
@sftim that's sensible, thank you

[2022-01-07 16:20] #31223 closed

[2022-01-07 17:37] shubham-mandhare opened #31243 "Issue with k8s.io/docs/tasks/tools/install-kubectl-windows/"
When I run the suggested command to Enable shell autocompletion it returns the following error:

[code]

I have kubectl version 1.22.4

[2022-01-08 03:13] gamba47 commented on #13948
Starting translation on Storage ->  Persistent Volumes

[2022-01-08 07:29] Lucifergene commented on #31186
/assign

[2022-01-08 09:12] afbjorklund commented on #30974
I think it would be more interesting to look at users using the "docker" container runtime, to see if they have changed CRI.

They would need to change their CRI, from dockershim.sock to cri-dockerd.sock. Including kubelet and crictl configuration ?

But they don't need to relearn everything or transfer images, etc.

[2022-01-08 09:13] afbjorklund commented on #30974
https://kubernetes.io/docs/tasks/administer-cluster/migrating-from-dockershim/find-out-runtime-you-use/

This should say "docker" (which the command _does_), and not `# For dockershim` (not really relevant)

[2022-01-08 12:25] #27505 closed

[2022-01-08 13:23] championshuttler opened #31248 "[ja] Link to configuration overview example is broken"
Link to configuration overview example is broken in content/ja/docs/concepts/configuration/overview.md

[2022-01-08 13:34] ptux opened #31249 "[ja] Translate tasks/administer-cluster/migrating-from-dockershim into Japanese"
# This is a Feature Request

## What would you like to be added

Translate [tasks/administer-cluster/migrating-from-dockershim](https://kubernetes.io/docs/tasks/administer-cluster/migrating-from-dockershim/)  into Japanese.

## Why is this needed

This page has not been translated.

## Comments

/language ja
/assign

[2022-01-08 13:48] ptux commented on #31249
PR:
https://github.com/kubernetes/website/pull/31250

[2022-01-08 14:22] sftim commented on #30974
That seems fair enough. We can also add instructions for switching your node from Docker Engine to something else, if we want.

[2022-01-08 14:23] sftim commented on #30974
_where feasible_ we prefer to link to external docs that are specific to external tools, rather than document them ourselves.
This case seems like a reasonable case for doing the documenting ourselves.

[2022-01-08 14:33] sftim commented on #29960
I've changed my mind on what we should do here; see  https://github.com/kubernetes/website/pull/29993#pullrequestreview-847160549

Sorry about that.

[2022-01-08 14:37] sftim commented on #26034
/remove-lifecycle rotten

[2022-01-08 14:43] sftim commented on #27948
/reopen

Let's try again. The Xenial image is quite old.

[2022-01-08 14:44] anubha-v-ardhan commented on #31243
Was the kubectl completion script generated successfully?

[2022-01-08 14:44] sftim commented on #27948
/close
#28481 is the follow-up

[2022-01-08 14:44] #27948 closed

[2022-01-08 14:46] sftim commented on #28481
We can update https://app.netlify.com/sites/kubernetes-io-vnext-staging/ as a way to test this (for a short period, then either revert or also update the main site).

[2022-01-08 14:47] sftim commented on #28481
/priority important-longterm

[2022-01-08 14:48] anubha-v-ardhan commented on #31243
Was the kubectl completion script generated successfully?

[2022-01-08 14:50] anubha-v-ardhan commented on #31243
Was the kubectl completion script generated successfully?

/kind support

[2022-01-08 14:58] #31194 closed

[2022-01-08 14:58] sftim commented on #31248
/language ja

[2022-01-08 15:06] sftim commented on #30748
/triage accepted
/priority backlog

[2022-01-08 15:17] sftim commented on #25172
[`#sig-docs`](https://kubernetes.slack.com/messages/sig-docs) is the place for that.

[2022-01-08 15:19] sftim commented on #30911
You're very welcome to, @tshaiman

https://kubernetes.io/docs/contribute/ should help you to get started - and if it doesn't, _please_ log a new issue about that.

[2022-01-08 15:23] sftim commented on #29997
The SIG Docs consensus was that this isn’t intended behavior, and we should be looking into a PR to address it.
/triage accepted
/lifecycle frozen
/priority backlog

[2022-01-08 15:23] sftim commented on #29997
There's no hint at the moment that anyone's working on this.

[2022-01-08 15:24] sftim commented on #29997
- Pull requests are welcome
- Work to diagnose the issue further is welcome

[2022-01-08 15:55] sidverma32 commented on #29997
okay, it's reproducible . Will check for the fix. @sftim  you can assign to me.

[2022-01-08 16:56] afbjorklund commented on #30974
Unfortunately it also assumes that there _are_ any good external docs, which doesn't seem to be the case for either CRI.

[2022-01-08 17:01] sftim commented on #30051
I don't think anyone added that page yet.

There's a separate but possibly relevant piece of work to generate a list of security issues and link to their details.

[2022-01-08 17:02] sftim commented on #29142
Slightly related to https://github.com/kubernetes/website/issues/30051

[2022-01-08 17:07] sftim commented on #27420
Because this is a **migration**, we would also modify https://kubernetes.io/docs/concepts/cluster-administration/system-logs/#structured-logging to _omit_ the migrated content, and also to link to the new page.

[2022-01-08 17:08] sftim commented on #28848
/close

[2022-01-08 17:08] #28848 closed

[2022-01-08 17:10] afbjorklund commented on #31186
It's actually _three_ tools, on that page: minikube, kind, kubeadm (the first two are using the third one internally, but anyway).

It was the topic of one of the KubeCon EU 21 talks, about the three* different development environments for Kubernetes.

![kubernetes-environments](https://user-images.githubusercontent.com/10364051/148653167-59d14af1-4923-4384-89ac-7f2d69d0fd37.png)

\* normally it i

[2022-01-08 17:10] sftim commented on #29997
For Kubernetes SIG Docs, anyone can work on any issue (our more jargon-y way of saying this is “no [cookie licking](https://devblogs.microsoft.com/oldnewthing/20091201-00/?p=15843)”) and open a pull request to propose a related change.

[2022-01-08 17:11] sftim commented on #29997
(for my part, I rarely assign issues to myself - but when I have a draft or finished PR ready, I will link it to the issue and that  provides a hint in the issue about progress).

[2022-01-08 17:24] sftim commented on #31186
within https://kubernetes.io/docs/setup/, “Learning environment” at the moment redirects to the tools download page and provides no extra context

Here's how someone could fix that:
- instead, we write a new page that lists different ways to set up a learning environment
  - the page should help people choose what environment to select based on what they want to learn
  - there should be a mix of

[2022-01-08 17:25] sftim commented on #31186
@guettli what do you think of the suggestion there?

[2022-01-08 17:28] sftim commented on #28616
/lifecycle frozen

[2022-01-08 17:33] sftim commented on #23417
I think this is done.

[2022-01-08 17:38] sftim commented on #27333
There's already a table in https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/custom-resources/

We should move that table into The discussion about which option to choose really belongs in the page at https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/

and add a third column about using an APIService. @mehabhalodiya you could draft this up with what you think sh

[2022-01-08 17:39] sftim commented on #30625
@samfullman would you be willing to revise the issue description with a summary of the fix you'd like made?

[2022-01-08 17:43] sftim commented on #29836
We know from https://k8s.io/docs/tutorials/configuration/configure-redis-using-configmap/ that the Pod was directly created.

If you're not following this guide, pasting in excerpts from it might not achieve what you want.

/kind support
/close

[2022-01-08 17:43] afbjorklund commented on #31186
"Docker" was supposed to represent 1) any container engine for running system containers
2) any container runtime for use with Kubernetes. It gets a bit complex with the Docker-in-Docker

Tux was supposed to represent the Linux kernel, and the grey chip any other OS kernel (including Linux)
It went to show that Kubernetes (control-plane, at least) is a Linux-only program, at the moment

[2022-01-08 17:44] #29836 closed

[2022-01-08 17:44] sftim commented on #30127
/close

I hope this is fixed. If not, it's OK to reopen it.

[2022-01-08 17:44] #30127 closed

[2022-01-08 18:00] sftim commented on #30697
/priority backlog

[2022-01-08 18:01] sftim commented on #26064
@embano1 I'd add the extra details about `watch` actions into https://kubernetes.io/docs/reference/using-api/api-concepts/#efficient-detection-of-changes

[2022-01-08 18:15] sftim commented on #31186
I'm very happy for an updated https://kubernetes.io/docs/setup/ to link to https://kubernetes.io/docs/tutorials/hello-minikube/

There could be some extra details for people who want to know more, perhaps behind a [`<details>`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details) element / shortcode?

A revised https://kubernetes.io/docs/setup/ should _also_ make it clear that people

[2022-01-08 18:17] sftim commented on #31186
@guettli what do you think of that slightly revised suggestion?