[2017-02-16 13:34] luxas opened #2558 "Bootstrap Tokens should be documented on the site"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

In v1.6, we've added something called Bootstrap Tokens:
 - Features issue: https://github.com/kubernetes/features/issues/130
 - Proposal: https://github.com/kubernetes/community/pull/189
 - Initial implementation PR: https://github.com/kubernetes/kubernetes/issues/36101

There is no other documentation except for the proposal,

[2017-02-16 13:35] luxas commented on #2558
cc @roberthbailey @mikedanese @jbeda @dmmcquay @pires @dgoodwin @errordeveloper @devin-donnelly @deads2k @liggitt

[2017-02-16 15:07] sa-mao opened #2559 "Issue with /docs/user-guide/labels/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report
- [x] Documentation request

**Problem:**
Can we use equality-based requirement selectors  like this in yaml/json files:
[code]
**Proposed Solution:**

Clearly mention if this is possible and if so include a small example.

**Page to Update:**

https://kubernetes.io/docs/user-guide/labels/#equality-based-requirement

[2017-02-16 16:01] Spirit328 opened #2560 "Issue with /docs/tutorials/kubernetes-basics/cluster-interactive/"
**This is a...**

- [ ] Feature Request
- [ X  ] Bug Report

**Problem:**
Kubernetes Bootcamp Terminal                                                                                                                                                          Sorry, we hit a problem with the connection.
Your internet connection may have dropped
Please refresh and try again.

**Proposed Solution:**
NON

[2017-02-16 17:19] craigbox opened #2561 "Issue with footer"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
The three lines of legalese at the bottom of the page are too prominent.

**Proposed Solution:**
Reduce the font size and decrease the contrast.

**Page to Update:**
All (in the site footer)

[2017-02-17 10:05] psankar opened #2566 "Installation of kubectl fails when using zsh"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
I tried to install kubectl on a Mac OS machine and it fails. I followed the documentation at: https://kubernetes.io/docs/user-guide/prereqs/ and https://kubernetes.io/docs/tutorials/stateless-application/hello-minikube/ and gave a command. The command and the response are below:

[code]

**Proposed Solution:**
Fix the documenta

[2017-02-17 20:47] ixdy commented on #2566
@psankar Did you add the backslashes before `(` and `)` when you copied the command? I don't see those in the docs, but that's probably why it did not work for you.

This command should work:
[code]

This will **not**, because the backslashes will cause the shell not to interpret the inner curl as a command:
[code]

[2017-02-18 02:18] psankar commented on #2566
@ixdy ah yes. The backslashes are automatically inserted by `zsh` when I pasted the link. I think that this issue can be closed. But considering that many people may be using zsh, can a NOTE be added for this in the docs ?

[2017-02-18 04:14] jaredbhatti commented on #2434
Is there a particular doc that you used?  This queue is only for docs issues.  Maybe try the main kubernetes repo?

[2017-02-18 04:23] jaredbhatti commented on #2560
Huh, it seems to work for me. Maybe it was a transient error?

[2017-02-18 04:35] #2442 closed

[2017-02-18 04:35] jaredbhatti commented on #2463
Perhaps under Tools?  Should be a larger question for docs.

[2017-02-18 04:36] #2485 closed

[2017-02-18 04:36] jaredbhatti commented on #2491
Probably should link to it under Native Tools?

[2017-02-18 04:38] #2560 closed

[2017-02-18 04:38] jaredbhatti commented on #2560
Seems like there was an outage with the interactive tutorial, but it's fixed now.  Please reopen this issue if you see it again. Thanks!

[2017-02-18 04:38] jaredbhatti commented on #2555
Seems like there was an outage with the interactive tutorial, but it's fixed now.  Please reopen this issue if you see it again. Thanks!

[2017-02-18 07:08] pradeeppandeyy opened #2573 "Kublete applying incorrect SElinux level."
Kublete applying incorrect SElinux level. I am giving below details , which shows I am forcing  **s0:c123,c456** level but it is giving **s0:c498,c699** level.

[root@master1 nginx]# kubectl get pods
NAME             READY     STATUS    RESTARTS   AGE
my-nginx-zrnhh   1/1       Running   0          12m

=====
[root@master1 nginx]# kubectl get rc
NAME       DESIRED   CURRENT   READY     AGE
my-ngin

[2017-02-20 14:51] gyliu513 opened #2580 "Issue with typos in the document"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

**Proposed Solution:**
[code]
The above command can list most of the typos in the document, we can fix all of the issues with the output above.

**Page to Update:**
http://kubernetes.io/...

[2017-02-21 12:45] ekozan commented on #1691
any new about this one ?

[2017-02-21 14:54] Batro opened #2590 "Issue with /docs/getting-started-guides/cloudstack/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
It seems like the git address in the "Clone the Playbook" section no longer contains the playbook for OpenStack. The playbook is now on this git : https://github.com/skippbox/ansible-aws.git on the "weave" branch.

**Proposed Solution:**
Update the documentation.

**Page to Update:**
http://kubernetes.io/docs/getting-started-gu

[2017-02-21 18:57] jeffmendoza commented on #2448
Looks like this is addressed, please reopen if you encounter again.

[2017-02-21 18:57] #2448 closed

[2017-02-21 19:02] jeffmendoza commented on #2493
Can you post a screenshot and your browser info? This is what I'm seeing:

![katakoda terminal](https://cloud.githubusercontent.com/assets/771387/23180137/351ff474-f825-11e6-8e9b-e8a8744c5651.png)

cc @BenHall

[2017-02-21 19:09] jeffmendoza commented on #2493
which browser / version / platform ?

[2017-02-21 19:13] pramodsetlur commented on #2493
MacOS Sierra v 10.12.3
Google Chrome : Version 56.0.2924.87 (64-bit)

[2017-02-21 19:33] BenHall commented on #2493
Thank you for the additional info. I've added a note and we'll look into this.

[2017-02-21 21:06] kad opened #2595 "Remove WIP and personal branches from official repository"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
kubernetes/kubernetes.github.io repository contains obsolete/WIP/other unofficial branches.
Good practices with github repositories is to use personal forks for all WIP changes.

**Proposed Solution:**
Remove all branches except master and release-*.

**Page to Update:**
https://github.com/kubernetes/kubernetes.github.io/branch

[2017-02-21 22:57] #1768 closed

[2017-02-22 02:09] weaseal commented on #2325
@pluttrell  This is working for me on kubernetes 1.5.3 .  Double check your `--runtime-config=batch/v2alpha1` for typos and verify it's really running via `ps`

[2017-02-23 08:57] MJ24 opened #2603 "Issue with Guaranteed Scheduling For Critical Add-On Pods by rescheduler"
**Related user guide page:**
https://kubernetes.io/docs/admin/rescheduler/

**Problem:**
I have a few problems when using the Critical Add-On Pods.

1: Does this feature only working for Add-On pods? If so, how can I deploy my own service as Add-On to use this feature? I have done these things to make my pods a critical pod:
a) set the namespace as kube-system in the yaml;
b) set the scheduler.alp

[2017-02-23 10:14] pradeeppandeyy commented on #2573
Still waiting for Help.

[2017-02-23 23:19] kalvarez2 opened #2604 "Issue with /docs/getting-started-guides/centos/centos_manual_config/"
**This is a...**

- [x ] Feature Request
- [ ] Bug Report

**Problem:**
Should include troubleshooting instructions or where to seek help.

**Proposed Solution:**
-Link to stackoverflow topic

**Page to Update:**
http://kubernetes.io/...

I followed the instructions carefully, twice, and could not make it work, no errors that I could see,  no idea where to look for logs, tools to use each of the p

[2017-02-24 02:22] MJ24 commented on #2603
@davidopp Could you please take a look?

[2017-02-24 06:47] mrandhikpurwala opened #2611 "Issue with create serviceaccount rest operation"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
We are using the rest api for creating a service account. It creates an account even if a namespace doesnt exists.

URL - /api/v1/namespaces/defaults/serviceaccounts/yesss

We have seen this behavior with several create operation. Not sure if its an expected behaviour.

**Proposed Solution:**
Even if it creates an service accou

[2017-02-24 09:31] davidopp commented on #2603
This feature isn't intended to be used by regular users, only internal Kubernetes infrastructure. We will be getting rid of it in 1.7 and replacing it with a more proper priority and preemption scheme.

@piosz is the expert on this feature, I know he is busy with the 1.6 release so he may not be able to respond to your questions until next week. BTW just for future reference, it's probably better

[2017-02-24 09:52] piosz commented on #2603
According to what @davidopp wrote you use this feature only at your own risk and you should debug it on your own in such case. Please have in mind that it can cause a mess in your cluster when using inappropriately. We are also in process of migrating tolerations/tains (which is used by rescheduler) feature to beta which may cause even more problems with using rescheduler in your use case.

To bri

[2017-02-24 09:52] #2603 closed

[2017-02-24 23:59] ribeirrs opened #2617 "Issue with /docs/tutorials/kubernetes-basics/deploy-interactive/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-02-25 21:09] xsgordon commented on #1600
I checked this locally and KUBE_ETCD_SERVERS is indeed in /etc/kubernetes/apiserver, **not** /etc/kubernetes/config as suggested in the document.

The other four settings mentioned in this same block (KUBE_LOGTOSTDERR, KUBE_LOG_LEVEL, KUBE_ALLOW_PRIV, KUBE_MASTER) are in /etc/kubernetes/config as listed.

[2017-02-26 06:46] cnvkarthik opened #2621 "Issue with /docs/user-guide/pods/single-container/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-02-26 10:38] Radster848 opened #2622 "Issue with /docs/user-guide/kubectl/kubectl_exec/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

gcloud container clusters get-credentials cluster-1 \
    --zone us-central1-a --project verdant-option-159808

[2017-02-27 04:19] Fiseast opened #2624 "Issue with cloudera manager in kubernetes"
I tried to deploy cloudera manager in kubernetes.
Kubernetes's network is flannel.
cloudera manger server     172.100.73.5
host1                                  172.100.39.3
host2                                  172.100.73.3
host3                                  172.100.76.3

**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
Now, I found it will connect to broadcast's(172.1

[2017-02-27 14:00] perfeyhe opened #2630 "Issue with /docs/admin/kube-scheduler/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

The new pod is not created to the extended node when the cluster is first extended by cloning the existing node (with the following code initializing the new node at startup), but the second time the extended command is run The node will receive the new pod.

`#/bin/bash
LOCALIP="ip a | grep 'global eth0' | awk '{print $2}' |

[2017-02-27 18:37] ahmetb opened #2631 "kubectl/API reference links broken during transition"
[code]

we have links like that which seem to be broken now. They're very specific (e.g. they point to specific sections in pages, like `#id`). Is there a plan to update these links in API reference etc?

[2017-02-27 20:39] snichme opened #2632 "k8s.io blocked be F-Secure Freedome VPN"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
The domain k8s.io is blocked by F-Secure VPN Freedome which means that follow in guides form the documentation doesn't work, for example running:

[code]

**Proposed Solution:**
Contact F-Secure and have them dropped the block and ask them why it was blocked in the first place. I think that the request should come from the doma

[2017-02-28 02:15] MJ24 commented on #2603
Really thanks for @davidopp and @piosz , and I find the root cause is that my rescheduler pod is running on an agent node which leads to a problem that can not connect to api-server, so I fixed it by making the rescheduler pod only running on the master node.
And looking forward to the more proper priority and preemption scheme in 1.7.

[2017-02-28 07:35] matchstick commented on #1691
I am not sure of the priority of this but @jingxu97 would be a good candidate to write this up as she has been looking into both AWS and snapshots.

matchstick

[2017-02-28 13:38] xsgordon commented on #1600
PR merged, this issue can be closed.

[2017-02-28 15:37] niwred opened #2640 "Issue with /docs/getting-started-guides/minikube/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

[code]

Does not work. kubectl run does not create a deployment but a replicationcontroller

[code]

**Proposed Solution:**

Update Documentation to newest version.

**Page to Update:**
http://kubernetes.io/...

[2017-02-28 16:09] niwred commented on #2640
never mind

[2017-02-28 16:09] #2640 closed

[2017-02-28 16:31] grodrigues3 commented on #2172
ping @kubernetes/sig-docs-maintainers etcdv3 docs is waiting for feedback.

[2017-02-28 18:41] meacer commented on #2371
This might appear fixed if you are testing with Chrome, because Chrome redirects SSL errors caused by name mismatches to the actual site: https://crbug.com/507454

In this case, Chrome checks https://kubernetes.io (because it's in the cert served by https://www.kubernetes.io), determines it's available, automatically redirects to it and prints a console message.

If you launch Chrome with --force-

[2017-02-28 20:25] RByers commented on #2371
/cc @patrickkettner on the Edge team who noticed links to https://www.kubernetes.io are broken in Edge but not Chrome.

[2017-02-28 20:33] lgarron opened #2644 "Add kubernetes.io to the HSTS preload list"
Since this is a Google project, the website should be hosted using HTTPS (already the case! :-) and preloaded for HSTS.

This mostly involves sending a header like `Strict-Transport-Security: max-age=63072000; includeSubDomains; preload` and getting redirects correct.
See https://hstspreload.org/ for details.

Note that the requirements for preloading require fixing #2371 in this case.

[2017-03-01 10:59] deepdevdg opened #2658 "Issue with /docs/user-guide/configuring-containers/"
more ubuntu_ora.yaml
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: ubuntu-ora
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: ubuntu
    spec:
      containers:
      - name: ununtu
        image: fernandoacorreia/ubuntu-14.04-oracle-java-1.7
        ports:
        - containerPort: 80
**This is a...**

- [X ] Feature Request
- [ ] Bug Report

**Problem:

[2017-03-01 18:42] meacer commented on #2644
Note that if we do this, the www redirect won't work because we disable it for HSTS sites. So it needs to be fixed first. I know.

[2017-03-01 18:54] lgarron commented on #2644
That's why the submission process will enforce it as a requirement. :-)

[2017-03-02 01:44] eugene-chow opened #2666 "Issue with /docs/user-guide/kubeconfig-file/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The paragraph ends abruptly

**Proposed Solution:**
Complete the para

**Page to Update:**
https://kubernetes.io/docs/user-guide/kubeconfig-file/

[2017-03-02 02:39] bseng opened #2667 "Issue with /docs/tutorials/stateless-application/hello-minikube/"
**This is a...**

- [X] Feature Request
- [ ] Bug Report

**Problem:**
eval $(minikube docker-env) will not work in windows

**Proposed Solution:**
get a tab in the quote/code box for linux/macos and windows

**Page to Update:**
http://kubernetes.io/...
/docs/tutorials/stateless-application/hello-minikube/

[2017-03-02 03:08] YuPengZTE opened #2668 "Input something directly to search on https://kubernetes.io/docs/"
**This is a...**

- [ x] Feature Request
- [ ] Bug Report

**Problem:**
When I open https://kubernetes.io/docs/, I want to input something directly to search, and do not need to move the mouse to the search input text, like https://www.google.com.

**Proposed Solution:**
Add autofocus="autofocus" on _layouts/docwithnav.html

**Page to Update:**
http://kubernetes.io/...

[2017-03-02 07:34] davidopp opened #2671 "Update "node selection" documentation to reflect Beta affinity syntax"
https://kubernetes.io/docs/user-guide/node-selection/
uses the alpha annotation, but in 1.6 node and pod affinity/anti-affinity use the Affinity field of PodSpec.

cc/ @kevin-wangzefeng
ref/ kubernetes/features#106
ref/ kubernetes/features#60

[2017-03-02 07:39] davidopp opened #2672 "Write documentation for taints and tolerations"
ref/ kubernetes/features#108

[2017-03-02 09:50] kargakis commented on #2229
This seems fixed, closing.

[2017-03-02 09:50] #2229 closed

[2017-03-02 20:19] grillz opened #2674 "Issue with /docs/admin/daemons/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
No example

**Proposed Solution:**
Add Example

**Page to Update:**
http://kubernetes.io/...

[2017-03-02 22:27] curtis628 opened #2676 "Issue with /docs/user-guide/node-selection/: optional "namespaces" field for podAntiAffinity doesn't work as documented"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The optional `namespaces` field for `podAntiAffinity` doesn't work according to the [the docs page for anti-affinity](https://kubernetes.io/docs/user-guide/node-selection/#inter-pod-affinity-and-anti-affinity-alpha-feature) which says

I discovered that if `namespaces` is omitted, it defaults to "all namespaces"

**Proposed Sol

[2017-03-03 08:01] #2668 closed

[2017-03-03 11:19] b43646 opened #2685 "Deleting a deployment fails"
[Env]
Kubernetest V1.4.9

[Descriptions]
on my test env,  etcd/apiserver/control-manage/scheduler pods are deployed on different machines.
i met error information when deleting a deployment.  The deployment will be deleted when repeating the operation twice or three times.

[Log]

[code]

[Question]
how to config apiserver or other components to make it pass?  Thanks

[2017-03-03 20:55] sylvainlaurent opened #2690 "Issue with /docs/tutorials/kubernetes-basics/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
layout of the site is totally broken on iPad (and on Safari if window is not wide enough)

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/tutorials/kubernetes-basics/

[2017-03-04 19:02] Al-WaySlate opened #2701 "Issue with /docs/tutorials/kubernetes-basics/cluster-interactive/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**

Sorry, we hit a problem with the connection.
Your internet connection may have dropped.

Please refresh and try again.

Can’t use the interactive tutorial on iMac with latest Safari, aka tutorial is non-responsive

**Proposed Solution:**

No idea, if I was a programmer I probably didn’t need the tutorial anyway :)

**Page to

[2017-03-04 19:10] fuho opened #2702 "Issue with /docs/tutorials/kubernetes-basics/explore-interactive/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Kubernetes basics - Chapter 3 mentions :
[code]

error: expected 'exec POD_NAME COMMAND [ARG1] [ARG2] ... [ARGN]'.
POD_NAME and COMMAND are required arguments for the exec command
See 'kubectl exec -h' for help and examples.
[code]

[2017-03-04 20:31] fuho opened #2703 "Issue with /docs/tutorials/kubernetes-basics/explore-interactive/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-03-05 10:06] skytalemcc opened #2706 "Issue with /docs/getting-started-guides/kubeadm/"
Dear Kubernets
Today I install the k8s .firstly ,I run the yum update to update all the rpm  in the centos 7 .
Then  i find my docker version is updated and  now released at 17.03.0-ce (2017-03-01) .but i dont notice it .
Then I install the kuberntes .
When i install the master ,everything is fine .
but when i run  the( yum install kubernetes-node  ) in the mirror,i find one issue
---> Package yaj

[2017-03-05 19:26] sherifadel-msft opened #2707 "Issue with /docs/tutorials/stateful-application/basic-stateful-set/"
**This is a...**

- [ ] Feature Request
- [X ] Bug Report

**Problem:**
In the Guidance, it is mentioned that when updating the index file with a hostname of each pod, it shows "Web0 first, then Web1"

**Proposed Solution:**
It should show "Web1" only which is the latest write, since it is a shared persistant volume, right ?

**Page to Update:**
https://kubernetes.io/docs/tutorials/stateful-applic

[2017-03-05 23:34] #2703 closed

[2017-03-06 07:37] minhaz1 opened #2712 "Issue with /docs/tutorials/kubernetes-basics/cluster-interactive/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Getting this error on the interactive tutorial no matter how many times I refresh. Using Safari on Mac OS 10.12
Sorry, we hit a problem with the connection.
Your internet connection may have dropped.

Page: https://kubernetes.io/docs/tutorials/kubernetes-basics/cluster-interactive/
Please refresh and try again.

**Proposed Solu

[2017-03-06 09:17] Geosynopsis opened #2714 "Pods terminate without starting."
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
I am using a cluster of 5 standard Google Compute Engine to run docker image. I use a namespace with default config to launch around 1000 pods assigning each pod 20m CPU. The rest of the pods that do not get resources should be in waiting status. However, I hit an interesting problem. I found out that out of 1000 only a few po

[2017-03-07 16:09] Geosynopsis commented on #2714
Just realized it was in fact error from my side. This exception wasn't recorded in my logging system so I was thinking it could be the bug in kubernetes. Sorry for the trouble :)

[2017-03-07 16:09] #2714 closed

[2017-03-08 10:30] gyliu513 opened #2737 "taints/tolerations documentation for 1.6"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
Please refer to https://groups.google.com/forum/#!search/taints$2Ftolerations$20documentation$20effort$20for$201.6/kubernetes-sig-scheduling/MFt4zjtaRuI/NrOOaSULEgAJ for detail.

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-03-09 00:25] ttripp opened #2740 "Issue with /docs/admin/resourcequota/walkthrough/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**

All the examples are opaque because it does -f with a specified file without showing the file contents

**Proposed Solution:**

Can you include a link to the file that was used in the examples?

**Page to Update:**
http://kubernetes.io/docs/admin/resourcequota/walkthrough/

[2017-03-09 19:30] alaam commented on #2566
I agree with @psankar. I just ran into the same problem on zsh as well

[2017-03-09 22:46] qubitrenegade opened #2753 "CentOs: issue with /docs/setup/independent/create-cluster-kubeadm/"
**This is a...**
- [ ] Feature Request
- [X ] Bug Report

**Problem:**

Instructions to install `kubeadm` appear to be incorrect for CentOS as the instructions fail with the error:

**Proposed Solution:**

1) Update repo to not gpgcheck
2) Sign the packages.

For solution 1, this enabled me to install kubeadm, however, this is not something we could do in a production environment.

[code]

**Page

[2017-03-09 22:49] timothysc commented on #2172
@wojtek-t @mml So I'm flummoxed on where to update docs here...

A bunch of docs need to be cleaned up, either they are owned by distros or are not directly relevant.

Then the main docs on cluster upgrade only really pertains towards the salt/GCE setup and don't even reference the details under the hood.

Any advise on where we should update?   New upgrade page?
/cc @hongchaodeng @justinsb

[2017-03-10 01:39] gyliu513 commented on #2737
/assign @gyliu513

[2017-03-10 07:47] oxygenpresident opened #2757 "Issue with /docs/user-guide/persistent-volumes/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
why StorageClasses doesn't have a provisioner for nfs?
**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

1.4.0

[2017-03-10 08:10] wojtek-t commented on #2172
I think we need a separate/new page for the process of upgrade itself.
But if you are aware of any docs that might no longer be valid, can you post the links to them here?

[2017-03-10 10:42] sagarpatil23192 opened #2758 "Issue with /docs/user-guide/deployments/"
The command mentioned below which is given to update the deployment doesn't work:
 kubectl set image deployment/nginx-deployment nginx=nginx:1.9.1

only the other command : kubectl edit deployment/nginx-deployment works fine.
Please check and reply.

[2017-03-10 11:03] thisisdavidbell opened #2759 "Issue with /docs/user-guide/pods/multi-container/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
I came to this page clearly looking for doc on how to add multiple containers to a single pod, given the basic tutorials I have found specify a single container image.

**Proposed Solution:**
Please provide a link directly to this information, rather than state there are a few general places doc may now be.

**Page to Update:**

[2017-03-10 11:52] Bregor commented on #2758
Unexpected slash here.
Should be `kubectl set image deployment nginx-deployment nginx=nginx:1.9.1`

[2017-03-10 15:38] azolfagharj opened #2761 "Issue with /docs/tutorials/kubernetes-basics/cluster-intro/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-03-10 15:44] azolfagharj opened #2762 "Issue with /docs/tutorials/kubernetes-basics/cluster-interactive/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-03-10 21:24] hridyeshpant commented on #1066
Thanks @thesandlord for document.But i have one query?
how do we check deployment health check before Flip the traffic to "Green"
Deploy "Version 1" of an application as "Blue"
Ensure "Blue" is serving traffic
Deploy "Version 2" of an application as "Green"

now before Flip the traffic to "Green", there might be the case the deployment health check is failing due to some issue in application .
let

[2017-03-11 02:46] #2381 closed

[2017-03-11 08:54] kevin-wangzefeng commented on #2671
Close this as #2699 merged.

[2017-03-11 08:54] #2671 closed

[2017-03-11 12:02] BenHall commented on #2701
Thank you for the feedback. We're looking into addressing this now.

[2017-03-11 12:03] BenHall commented on #2712
Thank you for the feedback. We're looking into addressing this now.

[2017-03-11 13:33] mappedinn opened #2772 "Issue with /docs/tutorials/kubernetes-basics/expose-interactive/: how to get exposed IP of service?"
**This is a request for extra details on the documentation regarding how to expose an application**

- [X] Feature Request
- [ ] Bug Report

**Problem:**
This is a request for extra details on the documentation regarding how to expose an application.
The creation of the service `kubernetes-bootcamp` was successful on the **website** and **my machine**.

[code]

Below a desc of the service:

[code]

[2017-03-11 13:46] mappedinn commented on #2148
I am having the same issue as @natehart

I tried your solution @BenHall, and since I am using `minikube` on my local machine, there are nodes I do have:

[code]

So, I tried directly that command:

[code]

Any recommendations?

Thanks

**PS:**  I still new to kubernetes ;)

[2017-03-11 13:49] BenHall commented on #2148
Minikube runs as a virtual machine via Virtualbox. You'll need a hosts entry that maps minikube hostname to the IP of the machine.

I believe you can find the IP of the VM using `minikube ip`.

This should allow you to do `curl IP:32028`.

Hope this helps.

[2017-03-11 13:59] mappedinn commented on #2148
thanks @BenHall

[2017-03-11 22:11] zd-cseeman opened #2773 "Issue with /docs/getting-started-guides/centos/centos_manual_config/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
The configuring etcd section talks about a 172.30.0.0/16 range while the rest of the document is using the 10.254.0.0/16 range.

**Proposed Solution:**
Change the wording
FROM
`Start ETCD and configure it to hold the network overlay configuration on master: Warning This network must be unused in your network infrastructure! 172

[2017-03-12 01:54] jonbaierCTP commented on #2542
Here's the step's I've used:

1. SSH into your master node
2. sudo to a root user
3. edit the /etc/kubernetes/manifests/kube-apiserver.manifest file
4. Add --runtime-config=extensions/v1beta1=true to the parameters in the command section,

[2017-03-12 15:47] zd-cseeman commented on #2773
I understood the system incorrectly. My apologies. Closing.

[2017-03-12 15:47] #2773 closed

[2017-03-13 11:25] pradeeppandeyy commented on #2573
Kindly provide help

[2017-03-13 18:39] erictune opened #2792 "Issue with /docs/admin/authorization/rbac/"
This refers to the docs that are in preview at time of this issue:
https://kubernetes-io-vnext-staging.netlify.com/docs/admin/authorization/rbac/

**This is a...**

- [X] Feature Request
- [ ] Bug Report

**Problem:**
Docs should be split into Concept and Tasks.
Docs should explain simpler use cases first.

**Proposed Solution:**

Split into several docs:
- Task: assigning default roles.
  -  For

[2017-03-14 01:24] zhangxiaoyu-zidif opened #2795 "Issue with /docs/user-guide/node-selection/: "If selected node are all NotReady""
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
If I use node affinity  to make pod schedule onto selected nodes, while these selected nodes are all "NotReady". Will the pod be terminated at once ?  Or it waits until some of these selected nodes turn to be "Ready", if so what's waiting period?

**Proposed Solution:**
I want to know whether it will be terminated.
If not, what

[2017-03-14 08:29] shufflingB opened #2803 "Issue with /docs/tasks/configure-pod-container/configure-persistent-volume-storage/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
The example no longer works with minikube version v0.17.1

With the existing pvc config, the current version of minikube is automatically provisioning a new volume and ignoring the manually created one with the its index.html file in it.

This then causes the pod to mount the incorrect volume and the rest of the example doesn't

[2017-03-14 08:35] shufflingB commented on #2712
fyi ...

Noticed this one myself the other day myself.

The problem is Safari only, both Chrome and Firefox worked for me as temporary workarounds.

[2017-03-14 08:45] BenHall commented on #2712
Thank you for the update. It looks like it's related only to macOS 10.12.3. Safari on older OSX versions it OK.

We're upgrading one of our laptops to debug the issue.

[2017-03-14 12:28] shufflingB commented on #2803
I'm not sure quite where the correct behaviour lies here i.e. is it the docs or a problem with minikube. Either way the example https://kubernetes.io/docs/tutorials/stateful-application/run-stateful-application/ might benefit from being updated to explain, or reference the correct thing to do with minikube.

[2017-03-14 17:17] dlorenc commented on #2803
So I think that this is the "correct" behavior, but it definitely did change. What happens if you try this example in something like GKE instead of minikube?

[2017-03-14 17:38] shufflingB commented on #2803
In GKE, the example as it currently stands, i.e. without the annotation, seems to work correctly with the pvc correctly binding to the expected pv and no unexpected pv's being dynamically created.

[2017-03-14 17:57] dlorenc commented on #2803
Thanks, it looks like this behavior is a bit under-specified. GKE uses a different mechanism for dynamic provisioning right now. I created a cluster and don't see any storageclass objects:

$ kubectl get storageclass --all-namespaces
No resources found.

Which I think means it's going through this codepath: https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-controller-manager/app/plugin

[2017-03-14 18:04] madhusudancs opened #2809 "[Federation] Deprecate federation-up.sh and deploy.sh docs and make kubefed current"
We stopped supporting `federation-up.sh` and `deploy.sh` in v1.5. However, we did not want to deprecate them until `kubefed` had time to soak. `kubefed` has soaked enough, it is graduating to beta in v1.6 and it is our only supported mechanism going forward. So we need to deprecate the docs for other methods and make `kubefed` docs the current "administering federation" doc. We shouldn't break the

[2017-03-14 18:41] shufflingB commented on #2803
I think what happens with the example in GKE is that because the PV is using the hostPath plugin (as opposed to GCEPersistentDisk), it ends up only being created on the node where pod that is using (via the claim) it ends up (that's what it looked like when checked with `gcloud compute ssh  gke-cluster-*`)

I've not really played with storageclass yet, but I would guess this might be the reason fo

[2017-03-14 19:38] madhusudancs opened #2811 "Release note explaining the caveat"
Add a release note explaining the etcd2->etcd3 caveat when upgrading the federation control plane to v1.6 from any previous version.

[2017-03-14 21:22] tsloughter commented on #84
I found this issue looking for kubernetes diagram symbols and tried following through to other linked to issues to find if there was ever a set of diagram symbols bundled together for kubernetes components but could not find them.

Has this happened? If so, where can they be found? Thanks!

[2017-03-14 22:12] ahmetb opened #2815 "Issue with kubectl installation from release .tar.gz"
**This is a...**
- [x] Bug Report

**Problem:**

There is no `platforms/` directory in the tar bundle. Example: https://github.com/kubernetes/kubernetes/releases/download/v1.6.0-beta.3/kubernetes.tar.gz

**Proposed Solution:**

Recommend people to execute `cluster/get-kube-binaries.sh` in the bundle?

**Page to Update:**
https://kubernetes.io/docs/user-guide/prereqs/

[2017-03-15 14:19] #2172 closed

[2017-03-15 15:25] pete0emerson commented on #2555
I'm seeing this issue now.

[2017-03-15 16:25] carschno opened #2833 "Issue with /docs/tutorials/kubernetes-basics/deploy-interactive/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
In step 3 of Module 2, the proxy URL in the `curl` call is not really readable. It also seems to be wrong, my impression is that it should be `http://127.0.0.1:8001/api/v1/namespaces/default/pods/$POD_NAME`

**Proposed Solution:**
Find a way to display long lines in a more readable way and check/fix the URL.

**Page to Update:*

[2017-03-15 17:52] BenHall commented on #2712
The temporary workaround for this is to enable cookies for Katacoda.com. By default it looks like Safari now blocks all cookies.

I'm working on becoming "cookieless"

[2017-03-15 18:11] jbeda opened #2837 "Docker image has old version of Bundler"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**

When I run `docker run -ti --rm -v "$PWD":/k8sdocs -p 4000:4000 gcr.io/google-samples/k8sdocs:1.0` I get the following warning:

[code]

**Proposed Solution:**

1. Update the Docker image regularly.
2. Make the Docker image the "official" way to do builds so that everyone gets the same result.
3. Move the Docker image to a reg

[2017-03-15 18:56] ahmetb commented on #2837
I'm planning to make `gcr.io/google-samples` build automatically from the source. It's easy to do so with something like Google Cloud Container Builder,  but it wouldn't be transparent to the community. Otherwise the cleanest solution I can think of is to extract such images to a separate repo and set up Docker Hub automated builds for them. What do you think?

[2017-03-16 07:49] chinakevinguo opened #2857 "Issue with /docs/tasks/run-application/rolling-update-replication-controller/"
Hi
    My k8s version is 1.5.2
    rolling update from rc file, get error
[code]

Here is webapp-rc.yaml
[code]

Here is webapp-rc-v2.yaml
[code]

commands

[code]

[2017-03-16 10:13] stephanwesten opened #2859 "Issue with /docs/user-guide/replication-controller/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The page https://kubernetes.io/docs/user-guide/replication-controller/ states that readiness has not been implemented.

However according to https://github.com/kubernetes/kubernetes/issues/620, readiness has been implemented since 2015. So our k8s (1.4.7 & 1.5.2) support it.

**Proposed Solution:**
fix the page!

**Page to Upda

[2017-03-16 10:33] lishuotime opened #2860 "Issue with /docs/reference/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-03-16 13:39] tomweston opened #2861 "Issue with /docs/getting-started-guides/kops/"
**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**
The eu-west-2 (london az) is not yet known to kops.

Running:
`kops create cluster --zones=eu-west-2 eu-west-2.dev.mydomain.com`

Fails with the following result:
`unable to infer CloudProvider from Zones (is there a typo in --zones?)`

**Proposed Solution:**
Add the eu-west-2 az to kops.

[2017-03-16 16:19] spzala opened #2863 "Issue with /docs/user-guide/prereqs/"
**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**
The Minikube installation (https://kubernetes.io/docs/getting-started-guides/minikube/) has a per-requisite of Installing and Setting up kubectl. So it's natural for users to follow all of the 'prereqs' steps as mentioned in the instructions, however the verification of Kubectl (i.e. $ kubectl cluster-info) as explained under

[2017-03-16 16:20] spzala commented on #2863
#dibs

[2017-03-16 22:11] danielromlein commented on #84
@tsloughter unfortunately there is no standardized set of symbols. This specific issue's effort sort of fizzled out and no one's yet initiated another attempt. If you have any ideas of a good approach please share! I'd love to enable more visualization of concepts.

[2017-03-16 22:19] jverb opened #2880 "Issue with /docs/tutorials/kubernetes-basics/expose-interactive/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
In Module 4 Step 1, the following two commands have the wrong name of the server:

[code]

[code]

It should be `kubernetes` and not `services/kubernetes-bootcamp`. See the output of the get and describe command:
[code]

[code]

**Proposed Solution:**
Change `kubernetes-bootcamp` to `kubernetes`

**Page to Update:**
https://kub

[2017-03-17 07:43] madhusudancs opened #2888 "kubefed needs a reference doc"
`kubectl` and other CLI tools have reference docs that list the available sub-commands. And then each sub-command has its own page that lists the available flags and some common ways of using the sub-command.  `kubefed` needs something similar too.

[2017-03-17 07:48] madhusudancs commented on #2888
cc @csbell @kubernetes/sig-federation-bugs @irfanurrehman @perotinus

[2017-03-17 07:48] madhusudancs commented on #2888
Examples here:
https://kubernetes.io/docs/user-guide/kubectl/
https://kubernetes.io/docs/user-guide/kubectl/kubectl_create/

[2017-03-17 11:58] irfanurrehman commented on #2888
I will try to take a shot at this.
Meanwhile, I think we should be able to have some way of auto-generating this doc.
Trying to figure out how.
Any guidance on this, and/or the correct placeholder/github location is appreciated.. :-)

[2017-03-17 16:58] nikhiljindal commented on #2888
This is the code we use to autogenerate other docs: https://github.com/kubernetes/kubernetes/blob/7e0b68239f294179a23a771acf95d381fc3ef3f3/hack/lib/util.sh#L193

[2017-03-17 17:54] bytesandwich opened #2896 "Issue with /docs/concepts/cluster-administration/out-of-resource/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

The last section of [Configuring Out Of Resource Handling](https://kubernetes.io/docs/concepts/cluster-administration/out-of-resource/#how-kubelet-ranks-pods-for-eviction-in-response-to-inode-exhaustion), "How kubelet ranks pods for eviction in response to inode exhaustion" mentions
https://github.com/google/cadvisor/issues/14

[2017-03-17 18:22] bytesandwich opened #2897 "Issue with /docs/api-reference/v1/definitions/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
v1.ResourceQuotaScope has a declaration and a use but no definition
in https://kubernetes.io/docs/api-reference/v1/definitions/

**Proposed Solution:**
Regenerate the definition.

**Page to Update:**
https://kubernetes.io/docs/api-reference/v1/definitions/

[2017-03-17 18:25] irfanurrehman commented on #2888
@nikhiljindal, thanks a lot for the info. I sort of already had a look at that and could also figure out that for federation commands this is the code -> https://github.com/kubernetes/kubernetes/blob/master/federation/cmd/genfeddocs/gen_fed_docs.go.
I am guessing that adding some code for kubefed will do the trick.

What I couldn't get sure of (and the reason, I posted the question) is how exactly

[2017-03-17 18:30] nikhiljindal commented on #2888
k8s.io is served from https://github.com/kubernetes/kubernetes.github.io.
For example, that federation-apiserver doc you linked to is served from https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/admin/federation-apiserver.md.

https://github.com/kubernetes/kubernetes.github.io/blob/master/README.md has more details on how to contribute docs.

[2017-03-17 18:39] madhusudancs commented on #2888
@irfanurrehman

https://github.com/kubernetes/kubernetes/blob/master/docs/admin/federation-apiserver.md and https://kubernetes.io/docs/admin/federation-apiserver are unrelated. You can create the former file manually in the Kubernetes repo to ensure that anything else won't get checked in at that path. But that's not necessary strictly.

If you want to create a doc at https://kubernetes.io/docs/ad

[2017-03-17 19:40] madhusudancs commented on #2391
/assign @csbell
/unassign @madhusudancs

[2017-03-17 22:33] #2762 closed

[2017-03-17 22:33] #2761 closed

[2017-03-18 02:05] ravisantoshgudimetla commented on #2737
@gyliu513 I'd recommend to add milestone 1.6 to these PR's. It seems 03/17 is last date for documentation changes.

[2017-03-18 02:45] gyliu513 commented on #2737
Seems I donot have permission to add labels for those PRs, can you please help @ravisantoshgudimetla

[2017-03-18 02:53] ravisantoshgudimetla commented on #2737
@gyliu513 I don't have either.

/cc @aveshagarwal @timothysc @davidopp

[2017-03-18 03:15] gyliu513 commented on #2737
cc @kubernetes/sig-docs-maintainers I think that this needs to catch 1.6 release, can anyone help? Thanks!

[2017-03-18 06:55] davidopp opened #2904 "Update docs/tutorials/stateful-application/zookeeper.{md,yaml} to use PodSpec affinity field instead of annotation"
@enisoc @foxish @kow3ns could one of you do this?

[2017-03-18 07:56] davidopp commented on #2737
I found out that it is possible to change the branch after the PR is created (go to "edit" in the PR on Github, and change the base branch). So, I have modified your PRs to now point to the release-1.6 branch.

[2017-03-18 09:47] huyz opened #2907 "Issue with /docs/tutorials/kubernetes-basics/expose-interactive/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
Step 1 of "Kubernetes Bootcamp - Module 4" is confusing.  I'm left more confused than when I started.

**Proposed Solution:**

Step 1 in the tutorial needs a lot more explanation:

- what's a cluster IP?  who can see the the cluster IP?

- what's an external IP? who can see the external IP?  The tutorial says external IP is "(t

[2017-03-18 21:42] jbeda commented on #2837
Automatic rebuilds would be nice but aren't necessary IMO.  (and `gcr.io/google-samples` probably shouldn't be used for something that is not google specific).

I think the biggest thing here is to ensure that "official" builds use the same image.  That way we'll be sure that the image is in good working order.

[2017-03-18 21:44] micmac opened #2908 "Issue with /docs/getting-started-guides/kubeadm/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
Section 3 only states that you need one pod network. It doesn't go into details about what a pod network is, which is fine. However, at least some of the configurations linked don't work as is (tried romana and calico unsuccessfully, canal works out of the box)

**Proposed Solution:**
Mention at least one pod network config tha

[2017-03-18 22:29] allannaim opened #2909 "Issue with /docs/tutorials/federation/set-up-cluster-federation-kubefed/"
**This is a...**

- [X] Feature Request
- [ ] Bug Report

**Problem:**
Getting kubefed section should cover OSX, Linux and Windows. Today, it's only Linux.

**Proposed Solution:**
Follow the same guidelines as how we get Kubectl

Download the latest release with the command:
# OS X
curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernete

[2017-03-20 00:07] caseydavenport commented on #2908
@micmac each of the linked addons you mention above should work out of the box.  I notice you're using kubeadm v1.6.0 alpha which may not be stable / compatible yet with the stable add-on manifests.

If you haven't already, I'd recommend raising any compatibility issues you've seen with the respective projects.

As for the kubeadm getting started guide, I don't think the right solution is to enume

[2017-03-20 07:53] devent opened #2921 "Broken download links in /docs/tasks/kubectl/install/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**

Section Install kubectl Binary Via curl shows a broken link in curl commands.
[code]

**Proposed Solution:**

Update the download links.

**Page to Update:**
http://kubernetes.io/docs/tasks/kubectl/install/

[2017-03-20 11:53] irfanurrehman commented on #2888
Thanks @madhusudancs @nikhiljindal for all the useful info.

[2017-03-21 00:22] madhusudancs commented on #2909
@allannaim addressed in PR #2899.

[2017-03-21 03:18] show168 opened #2931 "How to set aws ebs provider for kubernetes"
I want to user kubernetes awsElasticBlockStore. It needs to set aws credentials in installing kubernetes.  How to set it?

The kubelet log is:
error: failed to run Kubelet: could not init cloud provider "aws": error finding instance i-0304f57235e93a1a7: error listing AWS instances: NoCredentialProviders: no valid providers in chain
Mar 21 03:21:54 ip-172-31-5-171.cn-north-1.compute.internal system

[2017-03-21 10:21] traskiloner opened #2936 "Issue with /docs/tutorials/kubernetes-basics/update-interactive/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Does not exist a running pod to make this tutorial

**Proposed Solution:**
Launch any pod of kubernetes-bootcamp

**Page to Update:**
http://kubernetes.io/...

[2017-03-21 10:22] #2936 closed

[2017-03-21 10:23] traskiloner commented on #2936
Sorry, my pc was slowly

[2017-03-21 12:13] ahmusthafa opened #2938 "Issue with /docs/getting-started-guides/vsphere/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

Is there a way to deploy K8s in VMware vCloud Director platform? Looks like GOVC is only for vCenter and doesn't support vCD.

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-03-21 12:24] ahmusthafa commented on #2938
Feature request

[2017-03-21 16:17] ahmetb commented on #2837
@jbeda I believe the website is not built by any Docker image for PROD; instead GitHub pages automatically builds Jekyll pages. If I understand correctly, the staging container is offered on a best-effort basis (I don't think there's any guarantee that you'll get the same build output.)

Currently many `gcr.io/google-samples/*` are used in various places across the tutorials and samples. I think w

[2017-03-21 18:32] #2558 closed

[2017-03-21 18:38] jbeda opened #2942 "Document which network providers work with kubeadm 1.6"
This is a "Feature Request" for 1.6

**Problem:**

kubeadm/kubernetes 1.6 has new requirements for CNI based network providers.  We need to make it clear which network plugins work.

**Proposed Solution:**

Update the list of network addons to call out which ones have been updated for 1.6 (and kubeadm).

**Page to Update:**
https://kubernetes.io/docs/admin/addons/

**Other Details:**
We need to ma

[2017-03-21 20:29] jbeda commented on #2942
**Calico:** @tomdee You say you have a fix for Calico but http://docs.projectcalico.org/v2.0/getting-started/kubernetes/installation/hosted/ still points to the old stuff.  What should I point docs at?

**Flannel:** What do we need to do to get Flannel working?  https://github.com/coreos/flannel/blob/master/Documentation/kube-flannel.yml looks like it won't work at all.

**Weave:** It looks like h

[2017-03-21 20:36] monadic commented on #2942
probably https://github.com/weaveworks/weave/releases/tag/v1.9.4 for weave net but I shall check with @bboreham

[2017-03-21 20:38] jbeda commented on #2942
@bowei created this spreadsheet to start figuring what the current support is: https://docs.google.com/spreadsheets/d/1Nqa6y4J3kEE2wW_wNFSwuAuADAl74vdN6jYGmwXRBv8/edit#gid=0.

But we need to lock down what we point users at.  Most of the landing pages haven't been updated yet.

[2017-03-21 21:47] kawikadkekahuna commented on #2566
Was there any solution to this problem?

[2017-03-21 21:51] ixdy commented on #2566
This sounds like a bug in zsh, possibly https://github.com/zsh-users/zsh-autosuggestions/issues/102.

[2017-03-21 21:54] djosborne commented on #2942
It doesn't fit in the spreadsheet well, but figured I'd mention - we're working on a Calico v2.1.1 release which includes the updated Calico CNI plugin and manifests for deploying with Kubernetes v1.6. Aiming to complete by EOD.

[2017-03-21 21:57] kawikadkekahuna commented on #2566
@ixdy Thanks for the quick response.  Running the command using bash resolved the issue.

Seems like zsh doesnt play nice after the second curl request. Running `https://storage.googleapis.com/kubernetes-release/release/v1.5.4/bin/linux/amd64/kubectl` should work as well.

[2017-03-21 22:03] ixdy commented on #2566
@kawikadkekahuna what was the full command-line you used in zsh? In the OP it was clearly a zsh bug, since zsh auto-inserted backslashes where it shouldn't be.

[2017-03-21 23:55] gyliu513 commented on #2737
@aveshagarwal @davidopp shall we close this issue?

[2017-03-22 00:37] #2737 closed

[2017-03-22 04:00] andrewrynhard commented on #2942
For flannel there is:
1) https://github.com/coreos/flannel/blob/master/Documentation/kube-flannel-rbac.yml for RBAC
2) https://github.com/coreos/flannel/pull/618 for master taint
3) my experience with flannel is that pods are started before CNI

[2017-03-22 15:03] vbmade2000 commented on #2921
@devent I was able to download using
`
curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl`

I think you are facing issue because of extra "\" in `release/$\(curl -s` and `stable.txt\)` part.

[2017-03-22 18:42] kow3ns commented on #2904
\assign kow3ns

[2017-03-22 18:47] tedops opened #2960 "Documentation: 404 Error when selecting "Annotations" under the Object Metadata heading towards the bottom of the Concepts page"
**This is a...**

- [x] Bug Report

**Problem:**
Documentation: 404 Error (dead link) when selecting "Annotations" under the Object Metadata heading towards the bottom of the Concepts page

**Proposed Solution:**
Update the link target to https://kubernetes.io/docs/user-guide/annotations/ from the existing https://kubernetes.io/docs/concepts/object-metadata/annotations/.

**Page to Update:**
https

[2017-03-22 18:56] cmluciano commented on #2942
Looks like I need to first run https://github.com/coreos/flannel/blob/master/Documentation/kube-flannel-rbac.yml and then I can run https://github.com/coreos/flannel/blob/master/Documentation/kube-flannel.yml .

@tomdee can you confirm?

[2017-03-22 19:18] #2863 closed

[2017-03-22 19:20] tomdee commented on #2942
@cmluciano Yes, that's right. I just merged https://github.com/coreos/flannel/pull/614 which should mean there's one less command to run.

[2017-03-22 19:24] cmluciano commented on #2942
👍🏽 testing now

[2017-03-22 19:59] WileESpaghetti opened #2961 "Issue with /docs/user-guide/configmap/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The redis example doesn't seem to work anymore. The configmap volume gets mounted correctly, but the redis image doesn't seem to look in /redis-master for configuration anymore. I am also unable to find the docker file of the image used in the tutorial to figure out why. Appending to the config in this way is really what I want

[2017-03-22 20:03] cmluciano commented on #2942
I'm having issues with that Flannel deploy, will open issue on flannel

[2017-03-22 20:17] rriouxr opened #2963 "Issue with /docs/user-guide/walkthrough/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
After following instructions, when trying to deploy a pod i get the following:
[root@km01 nginx]# kubectl create -f pod-nginx.yaml
Error from server (ServerTimeout): error when creating "pod-nginx.yaml": No API token found for service account "default", retry after the token is automatically created and added to the service ac

[2017-03-22 20:26] kow3ns commented on #2904
/unassign foxish

[2017-03-22 21:05] rhim commented on #2942
will try out and update the thread

[2017-03-22 21:45] bowei commented on #2942
@djosborne -- you are free to add columns, edit the spreadsheet as you see fit ...

 can the others (canal, contiv, romana) update the spreadsheet as well. I'm having trouble trying to correlate the conversation thread across different github issues.

https://docs.google.com/spreadsheets/d/1Nqa6y4J3kEE2wW_wNFSwuAuADAl74vdN6jYGmwXRBv8/edit#gid=0.

I am going to write a release note with a list of v

[2017-03-23 08:05] jszczepkowski commented on #1733
I've rewrote a doc about setting-up HA Clusters in general: #2941

[2017-03-23 15:45] gtema opened #2973 "Issue with /docs/concepts/workloads/controllers/statefulset/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
Broken link to http://releases.k8s.io/master/build/kube-dns/README.md

**Proposed Solution:**
most likely it should point somewhere to https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/, but the content might need to be adapted

**Page to Update:**
https://kubernetes.io/docs/concepts/workloads/controllers

[2017-03-23 16:55] ahmetb opened #2974 "Issue with /docs/reference/ "Kubernetes API" doesn't link to the reference"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:** "Kubernetes API" link is not going to the reference doc. It goes to a page, which redirects to article in "Concepts" area.

This makes it harder to reach the API reference by googling "kubernetes api".

**Proposed Solution:**  should link to https://kubernetes.io/docs/api-reference/v1/operations/ maybe? or https://kubernetes.io

[2017-03-24 07:53] hobti01 opened #2979 "Document possible values for --runtime-config"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
I cannot find a list in the documentation of possible values for the API Server flag `--runtime-config`.  Could this be provided, or instructions on how to generate the list documented?

[According to the overview page](https://kubernetes.io/docs/concepts/overview/kubernetes-api/)  "Full list of supported API groups can be seen

[2017-03-24 11:35] errordeveloper opened #2981 "header looks weird in Safari when using in-page search"
There is some text hiding behind the header. It's not visible, but if you try to search for something on the page you get this

![screenshot 2018-02-20 13 42 35](https://user-images.githubusercontent.com/251467/36427041-ed92a0fa-1643-11e8-9bd1-a2ea4226c013.png)

It becomes more visible, when you scroll down

![screenshot 2018-02-20 13 43 09](https://user-images.githubusercontent.com/251467/3642708

[2017-03-24 13:29] thanhpk opened #2983 "Issue with /docs/getting-started-guides/docker-multinode/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

I have gone through the whole page but still don't know how to access the dashboard and how to point kubectl to this cluster setup. Can you guys give me some newbie instructions.

[2017-03-24 15:20] carroarmato0 opened #2988 "Issue with /docs/getting-started-guides/centos/centos_manual_config/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The Centos repository mentioned to use contains ancient versions of software from back in 2015.

**Proposed Solution:**
Point to a repository containing the latest and greatest for a smoother getting-started-experience.

**Page to Update:**
http://kubernetes.io/...

[2017-03-24 16:58] ahmetb commented on #2981
It looks like this doesn't happen unless you search for something in the page?

[2017-03-25 02:26] gyliu513 commented on #2737
@davidopp @aveshagarwal do you know when we need to merge this to master branch or it will be merged automatically?

[2017-03-25 06:10] davidopp commented on #2737
Yes the docs team will take care of that.

[2017-03-25 17:53] teeradech2530 opened #2992 "Issue with /docs/tutorials/kubernetes-basics/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-03-26 03:44] python225 opened #2994 "Error syncing pod, skipping: failed to "StartContainer" for "kubernetes-pod-ip-finder" with CrashLoopBackOff: "Back-off 5m0s restarting failed container=kubernetes-pod-ip-finder pod=kubernetes-pod-ip-finder-2m0c3_default(082f216a-11c5-11e7-b65c-0e91cf24fb2c)""
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-03-26 03:48] python225 commented on #2994
I am trying to create a Replicationcontroller with the bellow yaml file. But it giving CrassLoopBackoff.

Why is this happening? any idea

#	Copyright 2016, Google, Inc.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# U

[2017-03-26 23:57] davidopp commented on #2904
This is pretty urgent, as the example will not work with 1.6.

[2017-03-27 14:03] TheFausap opened #3007 "Issue with /docs/getting-started-guides/ubuntu/calico/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
The instructions are not compatible with latest calicoctl and docker (1.12).

**Proposed Solution:**
Is it possible to update the instructions (and the versions) to be used with docker 1.12 ?

**Page to Update:**
http://kubernetes.io/...

[2017-03-27 18:09] foxish commented on #2904
/unassign
Thanks @davidopp
@kow3ns is taking this one.

[2017-03-27 21:18] kow3ns commented on #2904
#3013

[2017-03-27 21:19] kow3ns commented on #2904
@davidopp So we need to update all helm charts as well?

[2017-03-27 21:33] davidopp commented on #2904
Yes, any controller definitions that used the alpha (annotation) version of node or pod affinity need to change to use fields.

[2017-03-27 21:35] davidopp commented on #2904
(Concretely, move the contents of the affinity annotation into the affinity field of the PodSpec)

[2017-03-27 21:37] kow3ns commented on #2904
@davidopp so v1.6 scheduler will not respect the anti-affinity annotation at all? That is, do users need to update their Pods and Pod containers to use the field post upgrade?

[2017-03-27 21:40] davidopp commented on #2904
Correct.

I did send emails to kubernetes-users and kubernetes-dev about it.

https://groups.google.com/d/msg/kubernetes-users/8jmQVipeRMs/G51ZbNVzDQAJ
https://groups.google.com/d/msg/kubernetes-users/xf-VlRlAm2A/Th76aF-lAwAJ

(and corresponding emails to kubenetes-dev)

[2017-03-27 21:41] davidopp commented on #2904
They don't need to update the already-running pods, just the PodSpec / pod template in their controllers.

[2017-03-27 21:44] foxish commented on #2904
On a less related note: with helm charts, it seems to me like we need some notion of versioning of charts to ensure that there are different working versions of each chart for 2-3 latest K8s versions.

[2017-03-27 22:45] ahmetb opened #3016 "Syntax warning from kubeadm.md"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

Right now running the build container prints syntax warning :

    $ docker run -ti --rm -v "$PWD":/k8sdocs -p 4000:4000 gcr.io/google-samples/k8sdocs:1.1
    ...
    Liquid Warning: Liquid syntax error (line 164): Expected dotdot but found number in
    "{{(index .spec.taints 0).key}}" in docs/getting-started-guides/kubeadm.m

[2017-03-28 02:52] zhuhc2015 opened #3020 "Issue with /docs/user-guide/"
**This is a...**

- [x] Feature Request
- [x] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-03-28 13:05] allannaim opened #3043 "Issue with /docs/tutorials/federation/set-up-cluster-federation-kubefed/"
To delete the Federation Control Plane, you need to switch to host cluster context before issuing the delete ns federation-system command. This is not clearly indicated.

[2017-03-28 13:06] allannaim commented on #3043
@madhusudancs

[2017-03-28 13:07] php-coder commented on #2931
This is an issue tracker of the site and not the kubernetes itself. If you ask in more appropriate place then most likely you will get an answer. If you're following one of the guides from the site and feel that this guide maybe improved then it would be good to mention this guide.

Anyway this information isn't enough to help you, because it's not clear how do you run kubernetes.

[2017-03-28 13:09] allannaim opened #3044 "[Cluster Federation] DNS CNAMEs are not cleaned up after Federation-System ns is deleted"
@madhusudancs

[2017-03-28 17:43] akaRem opened #3046 "Issue with /docs/tutorials/kubernetes-basics/cluster-interactive/"
I'm trying interactive tutorials on https://kubernetes.io/docs/tutorials/kubernetes-basics/cluster-interactive/

When I push "Start scenario" button, it shows me raccoon in the mask that asks for cookies.
Does it mean that service is down? Or .. what does it all mean!?
<img width="864" alt="2017-03-28 20 42 34" src="https://cloud.githubusercontent.com/assets/1472728/24419232/2627f532-13f7-11e7-95b

[2017-03-28 20:19] someword opened #3053 "Issue with /docs/user-guide/kubectl/"
**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**

Links to kubectl subcommands are broken.   For example from this page https://kubernetes.io/docs/user-guide/kubectl/ if i select the kubectl_delete link which points to https://kubernetes.io/docs/user-guide/kubectl/kubectl_delete.md I get a 404.   Tried a few others and they all return 404
**Proposed Solution:**
Not clear fro

[2017-03-28 20:23] someword commented on #3053
FWIW - checking out git@github.com:kubernetes/kubernetes.git tag v1.6.0 and building the docs with hack/generate-docs.sh.  I am able to open docs/user-guide/kubectl/kubectl.md in a markdown editor (MacDown in this case) and the links to all of the kubectl subcommands (eg: kubectl_delete) open the desired subcommand page.

[2017-03-28 23:58] jboeuf opened #3063 "Issue with /docs/reference/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
kube-scheduler link points to https://kubernetes.io/docs/admin/kube-scheduler/ which gives a 404.

**Proposed Solution:**
Have a page at the end of the link or remove the link.

**Page to Update:**
http://kubernetes.io/...

[2017-03-29 03:46] jingyangwang opened #3070 "Issue with /docs/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-03-29 03:56] hausdorff opened #3072 "Documentation for v1 top-level API objects seems to be missing"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
The V1 top-level API objects URL now returns a 404: https://kubernetes.io/docs/api-reference/v1/definitions/ But, the equivalent page for extensions/v1beta1 still exists: https://kubernetes.io/docs/api-reference/extensions/v1beta1/definitions/

**Proposed Solution:**
This seems like a bug, but I'm not sure where. At this point I

[2017-03-29 10:11] Asiapenolove commented on #2753
get same issues,too
also centos7

[2017-03-29 10:26] JensRantil opened #3076 "Broken link in documentation"
https://kubernetes.io/docs/admin/multiple-schedulers/ states

"here" points to https://kubernetes.io/docs/admin/kube-scheduler/ which gives a 404.

[2017-03-29 11:50] erikbgithub opened #3077 "Issue with https://kubernetes.io/docs/user-guide/kubectl/kubectl_logs/"
Link doesn't exist anymore and there's no redirect.

[2017-03-29 13:39] liggitt opened #3086 "Need docs for impersonation headers"
Documentation of username/group/extra attribute impersonation is missing

https://github.com/kubernetes/kubernetes/pull/30803

[2017-03-29 14:54] erikbgithub opened #3094 "Issue with /docs/concepts/containers/container-lifecycle-hooks/"
It's a nice description of what hooks are and options the user has. But where to configure it? How about an example?

[2017-03-29 15:32] johnpetersjr commented on #533
http://kubernetes.io/docs/user-guide/kubectl/kubectl_completion/

Sorry, this page was not found. :(

[2017-03-29 16:01] treilly1969 commented on #2220
Hi, Is there any update on this thread? Is there a link to later swagger docs if this has been addressed?

[2017-03-29 18:29] grodrigues3 opened #3101 "Many Api docs are 404"
Kubernetes rest api docs is missing

**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**

https://kubernetes.io/docs/api-reference/apps/v1beta1/operations/
is missing

cc @puyangsky

[2017-03-29 21:58] jseldess opened #3116 "Issue with https://kubernetes.io/docs/user-guide/kubectl/kubectl_create/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

The docs page for [`kubectl_create`](https://kubernetes.io/docs/user-guide/kubectl/kubectl_create/) is returning a 404 error. Same for many other `kubectl` docs

**Proposed Solution:**

If these pages moved, put redirects in place.

[2017-03-29 22:00] jseldess commented on #3116
Ah, I see this is a duplicate of at least https://github.com/kubernetes/kubernetes.github.io/issues/3053. Feel free to close.

[2017-03-29 23:26] foxish commented on #3053
Just noticed that a lot of kubectl docs links are broken such as:
https://kubernetes.io/docs/user-guide/kubectl/kubectl_rollout/

Is there an issue tracking these?
cc @chenopis @kubernetes/sig-docs-maintainers

[2017-03-29 23:35] chenopis commented on #3053
@foxish No, not that I know of, but feel free to create one and assign me. I'll work on cleaning up the links.

[2017-03-29 23:40] foxish opened #3122 "Versioned kubectl docs need a "latest" version"
All links to kubectl commands referenced in various parts of the documentation need to be updated to point to the newer prettier documentation in https://kubernetes.io/docs/user-guide/kubectl/v1.6/#expose
However, these docs appear to be versioned. We need a "latest" version of the docs to link all of our other documentation to.

cc @grodrigues3 @pwittrock @kubernetes/sig-docs-maintainers

[2017-03-29 23:43] chenopis commented on #3053
The links on https://kubernetes.io/docs/user-guide/kubectl/ should now work properly, e.g. kubectl delete goes to https://kubernetes.io/docs/user-guide/kubectl/v1.6/#delete

Is the issue also inbound links? Do we need a redirect to fix cases where people are using the old links?

[2017-03-29 23:58] foxish opened #3124 "kubectl docs links need update"
All links to kubectl commands referenced in various parts of the documentation need to be updated to point to the new links such as https://kubernetes.io/docs/user-guide/kubectl/v1.6/#expose
We're starting to see issues because of this (https://github.com/kubernetes/kubernetes.github.io/issues/3116, https://github.com/kubernetes/kubernetes.github.io/issues/3053)

Top priority would be to update th

[2017-03-30 03:08] jbeda opened #3127 "Need to document how to get previous versions of kubeadm"
**This is a Feature Request**

We have old versions in the various repositories now.  The one exception is kubeadm due to the vagaries of how versions sorted.  Yet the 1.5.5 version of kubeadm is available as a direct download.  We should document this someplace.

See https://github.com/kubernetes/release/issues/234.

[2017-03-30 03:09] yuchen16 opened #3128 "Issue with /docs/admin/ovs-networking/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-03-30 03:10] #3128 closed

[2017-03-30 12:21] gianrubio commented on #834
@jlin21 Today I was stucked in the same issue, fortunately this was already fixed on #847

[2017-03-30 12:59] 916 opened #3153 "Issue with /docs/getting-started-guides/kubeadm/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Suspected minor bug in sample command:
kubectl apply -n sock-shop -f "https://github.com/microservices-demo/microservices-demo/blob/master/deploy/kubernetes/complete-demo.yaml?raw=true"

The switch '-n' should be for the kubectl base command according to kubectl options (not documented for sub command apply)

**Proposed Solutio

[2017-03-30 15:36] grodrigues3 commented on #3124
/area api

[2017-03-30 15:38] grodrigues3 commented on #3124
/assign

[2017-03-30 15:39] grodrigues3 commented on #3124
/kind design

[2017-03-30 17:25] jaredbhatti commented on #2632
Is kubernetes.io blocked or just k8s.io?

[2017-03-30 17:31] jaredbhatti commented on #266
Steve Perry is owning this going forward, and he's giving regular updates in the SIG-Docs meeting for k8s.

Tracking sheet here: https://docs.google.com/spreadsheets/d/1DGnDEUo2Y9lxJkKmQmGfno-4qpTE8WIDgOi3QDI-MJM/edit#gid=0

[2017-03-30 17:31] #266 closed

[2017-03-30 17:35] #2992 closed

[2017-03-30 17:41] #3070 closed

[2017-03-30 17:44] jaredbhatti commented on #3044
Duplicate: https://github.com/kubernetes/kubernetes.github.io/issues/3043

[2017-03-30 17:44] #3044 closed

[2017-03-30 18:02] jaredbhatti commented on #3046
Cookies have to be enabled for you to use the interactive tutorial :(

[2017-03-30 18:02] #3046 closed

[2017-03-30 18:05] ahmetb commented on #2220
Hi folks, sorry for the slow response here. I think the best course of action is to kill the Swagger UI and create docs (or just links) for the Swagger Specs. We will be presenting a plan to redesign the https://kubernetes.io/docs/reference/ section in the SIG-Docs meeting on April 4th 10:30am PST. You’re welcome to join there (or comment here) to discuss this further.

[2017-03-30 18:16] pwittrock commented on #3122
Should we just copy the files?

[2017-03-30 18:18] foxish commented on #3122
That should work. But if we auto-generate the new docs again, would that somehow cause the other directories/files to get deleted?

[2017-03-30 18:38] treilly1969 commented on #2220
Thanks for the update Ahmet

[2017-03-30 18:50] jaredbhatti commented on #2981
Closing as unreproducible. Let me know if this issue comes back up.

[2017-03-30 19:26] ahmetb commented on #3153
Global arguments like `-n/--namespace` apply to the subcommands as well. In `kubectl apply -h` you will see at the end:

    Use "kubectl options" for a list of global command-line options (applies to all commands).

So this is valid. You can do both `kubectl -n foo apply` or `kubectl apply -n foo`.

[2017-03-30 19:30] ahmetb commented on #3101
We're aware of some 404s in k8s.io/docs/reference page, this is one of them.

![image](https://cloud.githubusercontent.com/assets/159209/24522500/9dc71700-1544-11e7-845d-43ac57e8bc4d.png)

cc: @chenopis

[2017-03-30 19:57] grodrigues3 commented on #3101
if there's another issue open, feel free to close and dedupe

[2017-03-30 19:58] ahmetb commented on #3101
Let's keep this, we can edit the title. Many api docs are 404 at this point.

[2017-03-30 20:48] jaredbhatti commented on #3072
Andrew, can you take a look at this?

[2017-03-30 21:38] bostone opened #3159 "Issue with /docs/getting-started-guides/kubeadm/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
When attempting to run "kubeadm init" step preflight fails with this message:
[code]
**Proposed Solution:**
Add "sysctl" call reference to the manual (if that is indeed the way to fix this)

**Page to Update:**
https://kubernetes.io/docs/getting-started-guides/kubeadm/

1.6.0

[2017-03-30 21:40] bostone commented on #3159
Actually this is really bad. Even setting bridge-nf-call-iptables=1 doesn't solve the problem. The "kubeadm init" runs to this line and then hangs indefinitely

`[apiclient] Created API client, waiting for the control plane to become ready`

[2017-03-30 21:41] bostone commented on #3159
I think this is problem with 1.6.0 release. The previous version worked reliably but not anymore

[2017-03-30 22:09] chenopis commented on #3072
The root cause is that we've changed the structure of V1 reference docs. So, for example, `/docs/api-reference/v1/definitions/#_v1_node` should now be `/docs/api-reference/v1.6/#node-v1-core`. Consequently, there's no easy way to write the redirect. I'm still researching what the most efficient solution might be. Stand by.

[2017-03-31 03:24] jolin000 opened #3167 "Issue with /docs/tutorials/kubernetes-basics/cluster-intro/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-03-31 08:42] chenopis commented on #3072
I have made a change to the redirect.js script to take care of this issue in PR #3160.

[2017-03-31 08:45] chenopis commented on #3124
PR #3160 addresses this w/ a change to the js/redirects.js file.

[2017-03-31 12:02] #1664 closed

[2017-03-31 12:31] anandkolli opened #3170 "Issue with /docs/getting-started-guides/ubuntu/manual/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
For installation kube-controller-manager is missing

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-03-31 12:33] rahmanusta opened #3171 "kubectl_rollout page is not accessible"
**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**

kubectl_rollout page is not accessible

https://kubernetes.io/docs/user-guide/kubectl/kubectl_rollout/

[2017-03-31 13:19] caseydavenport commented on #3007
Yikes, this is a really old guide.  I thought this was removed long ago - we should remove it now.

The latest Calico installation documentation [can be found on the Calico website](http://docs.projectcalico.org/v2.1/getting-started/kubernetes/installation/).

You can also follow the [kubeadm guide](https://kubernetes.io/docs/getting-started-guides/kubeadm/).

[2017-03-31 13:20] caseydavenport commented on #834
IIUC this issue can be closed as a documentation bug fixed by #847.

[2017-03-31 13:25] caseydavenport commented on #2243
@quidome I think the intention is that Calico will recover when etcd is eventually recover when etcd is started later in the process.

However, as I said here, this is a really old guide as mentioned here: https://github.com/kubernetes/kubernetes.github.io/issues/3007#issuecomment-290709647

I'd recommend checking out
- The Calico docs: http://docs.projectcalico.org/v2.1/getting-started/kubernetes

[2017-03-31 14:22] php-coder opened #3173 "Seccomp support isn't documented"
I didn't find anything except [proposal](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/seccomp.md) about supporting seccomp profiles.

[2017-03-31 14:48] php-coder opened #3174 "Usage of PSP for controlling safe/unsafe sysctls isn't documented"
It turns out that user can annotate PSP with `security.alpha.kubernetes.io/sysctls` annotation to specify "whitelist of allowed safe and unsafe sysctls in a pod spec". It isn't documented.

[2017-03-31 16:00] bostone commented on #3159
Yes indeed, kubeadm is currently broken https://github.com/kubernetes/kubernetes/issues/43815

[2017-03-31 17:13] chenopis commented on #3124
@foxish Do you have time to do a tech review of PR #3160? Thx

[2017-03-31 17:21] foxish commented on #3171
To be fixed by https://github.com/kubernetes/kubernetes.github.io/pull/3160

[2017-03-31 17:51] chenopis commented on #3072
These links should work now via a redirect.

[2017-03-31 17:52] chenopis commented on #3124
The PR was merged, so these should be working now. Cheers

[2017-03-31 17:52] #3124 closed

[2017-03-31 17:53] foxish commented on #3171
/close

Fixed by #3160

[2017-03-31 17:53] foxish commented on #3171
cc @chenopis, can you close this as well?

[2017-03-31 17:54] foxish commented on #3116
Also fixed by #3160
/cc @chenopis

[2017-03-31 17:54] foxish commented on #3053
Also fixed by #3160
/cc @chenopis

[2017-03-31 18:01] chenopis commented on #3053
I'll close this then.

[2017-03-31 18:01] #3053 closed

[2017-03-31 20:10] chenopis commented on #3116
Yup, this should be working now.

[2017-03-31 20:10] #3116 closed

[2017-03-31 20:12] chenopis commented on #3171
Yup.

[2017-03-31 20:12] #3171 closed

[2017-03-31 22:12] liggitt commented on #3174
I'd rather see them graduate to fields before getting officially documented and used
@pweil-

[2017-03-31 22:16] liggitt opened #3186 "API operations don't match authorization verbs"
I'm not sure where the operation names used in https://kubernetes.io/docs/api-reference/v1.6/ (read, replace, etc) come from, but it would be ideal if they matched the actual verbs used [by authorization](https://kubernetes.io/docs/admin/authorization/#request-attributes) (get, list, watch, create, update, patch, delete, deletecollection)

cc @jhorwit2

[2017-04-01 00:06] nikhiljindal commented on #2220
Latest kubernetes API ref docs can be viewed at https://kubernetes.io/docs/api-reference/v1.6.
Federation API ref docs can be viewed at https://kubernetes.io/docs/federation/api-reference/

[2017-04-01 02:32] styshoo opened #3192 "Issue with /docs/concepts/workloads/controllers/deployment/"
**This is a Bug Report.**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
When I create a Deployment with the nginx-deployment.yaml, it returns an error: "error: error validating "dpl_nginx.yaml": error validating data: couldn't find type: v1beta1.Deployment; if you choose to ignore these errors, turn validation off with --validate=false". After some query, it turn out to be a clerical error

[2017-04-01 12:20] TheFausap commented on #3007
Thanks a lot!

[2017-04-01 12:20] #3007 closed

[2017-04-01 17:13] podollb opened #3195 "Issue with /docs/tasks/configure-pod-container/define-environment-variable-container/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

The page doesn't mention if the env var you set via this method would override pre-existing env vars that the container (per the dockerfile) may have already set.

**Proposed Solution:**

Update the page to define the behavior.

**Page to Update:**
http://kubernetes.io/...

[2017-04-01 17:57] g-wattz opened #3196 "Issue with /docs/tutorials/kubernetes-basics/explore-interactive/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Terminal inside the page won't load - renders as a blank gray image:

![screen shot 2017-04-01 at 11 56 50 am](https://cloud.githubusercontent.com/assets/18709005/24581115/53586c02-16d2-11e7-9b19-35786574125b.png)

**Page to Update:**
https://kubernetes.io/docs/tutorials/kubernetes-basics/explore-interactive/

Chrome Version 57

[2017-04-01 18:09] mikehuston commented on #3196
FWIW, this also wasn't working for me several minutes ago but is working again now.

[2017-04-01 18:09] ahmetb opened #3197 "Tutorial set-up-cluster-federation-kubefed uses GKE tokens expire quickly"
**This is a:**  Bug report

**Page to Update:** https://kubernetes.io/docs/tutorials/federation/set-up-cluster-federation-kubefed/

The [Setting up Cluster Federation with Kubefed](https://kubernetes.io/docs/tutorials/federation/set-up-cluster-federation-kubefed/) uses Google Container Engine (GKE) to illustrate how to set up federation using Kubernetes.

The way tutorial joins the clusters to the

[2017-04-03 01:54] kastork opened #3198 "Issue with /docs/getting-started-guides/kops/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
After making the cluster with kops, you enter ` kubectl cluster-info`. This provides you with the URL to access the Kubernetes master node.  When you visit the provided URL, it prompts you with an HTTP basic auth.

What are the credentials needed?

- The tutorial at (`https://kubernetes.io/docs/getting-started-guides/kops/`) d

[2017-04-03 04:43] scribnar opened #3199 "Issue with /docs/getting-started-guides/aws/"
**This is a...**

- [ Bug Report]

**Problem:**
The document is supposed to show how to run Kubernetes on AWS. However, the script https://github.com/kubernetes/kubernetes/blob/master/cluster/aws/util.sh mentions below comment.

That means the whole document should not exist at all. Since, code support for running on aws is withdrawn, this document should be removed as well so that its not mislead

[2017-04-03 10:49] ApsOps opened #3200 "Issue with /docs/getting-started-guides/scratch/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
This page seems severely outdated. Some flags (for example, `configure-cbr0`) have been removed from code. Basically the whole setup process feels wrong.

**Proposed Solution:**
Revise and update the info with details. This page is very helpful and necessary for understanding the working of components and creating custom setup

[2017-04-03 12:04] pweil- commented on #3174
Ok.  @php-coder let's discuss what else needs to be done on the roadmap to graduate the feature and get this worked into a card for PM

[2017-04-03 15:29] haribole opened #3202 "Issue with /docs/tasks/tls/managing-tls-in-a-cluster/"
**This is a...**

- [ ] Feature Request
- [*] Bug Report

**Problem:**

When I try the command:

cat <<EOF | cfssl genkey - | cfssljson -bare server

I get the following error:

flag provided but not defined: -bare

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-04-03 16:52] kow3ns commented on #2904
\close

[2017-04-03 18:03] snoby commented on #2325
indeed I'm facing the same problem as @pluttrell
I'm running on AWS installed with kops , kubernetes version 1.5.4

[2017-04-03 19:40] ericchiang commented on #3086
@deads2k want me to take this? I need to do a write up for internal use anyway.

[2017-04-03 19:41] liggitt commented on #3086
sure :)

[2017-04-03 23:29] kow3ns commented on #2904
/close

[2017-04-03 23:29] #2904 closed

[2017-04-03 23:30] kow3ns commented on #2904
fixed in #3013

[2017-04-03 23:37] bowei opened #3211 "Add task document for stub domains and upstream nameservers"
We need a tasks description for documenting how to use the configurable stub domains and upstream that was shipped in 1.6.

[2017-04-04 01:17] gtirloni opened #3214 "Issue with /docs/getting-started-guides/kubeadm/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
The command to create the sock-shop application error out (it's also not necessary to create the `sock-shop` namespace beforehand as that is already define in `complete-demo.yaml`):

[code]

**Proposed Solution:**
Change the command to: `kubectl create -f "https://github.com/microservices-demo/microservices-demo/blob/master/dep

[2017-04-04 04:33] GeoTob opened #3222 "Issue with /docs/concepts/workloads/controllers/deployment/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
Running the official deployment example fails on current kubectl/minikube.

[code]

**Proposed Solution:**
No idea?

**Page to Update:**
https://kubernetes.io/docs/concepts/workloads/controllers/deployment/

Kubernetes Version:
[code]

[2017-04-04 10:05] erikbgithub commented on #3077
works now, thanks!

[2017-04-04 13:36] ebullient opened #3224 "Issue with /docs/concepts/ : missing description of kubernetes cluster itself"
**This is a...**

- [X] Feature Request
- [ ] Bug Report

**Problem:**

The kubernetes concepts page misses basic information about kubernetes clusters themselves

**Proposed Solution:**

Some information from the tutorial, could be moved into the concepts page to give a better introduction to kubernetes clusters (as a concept):
https://kubernetes.io/docs/tutorials/kubernetes-basics/cluster-intro/

[2017-04-04 14:38] tomciaaa opened #3225 "Issue with /docs/tasks/tls/managing-tls-in-a-cluster/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

The docs silently assume that you will be running with `--cluster-signing-cert-file` and `--cluster-signing-key-file` set on the controller manager. Without this, one can successfully approve the CSR without error, but fail to get it issued without clear indication of what went wrong.

**Proposed Solution:**

The _Approving Ce

[2017-04-04 15:28] t0mmyt opened #3226 "Issue with /docs/tasks/administer-cluster/upgrade-1-6/"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

The page refers to the following document on moving from etcd 2.3 -> 3.x however this will still mean that /registry data is stored under the v2 API in v3.x and therefore not leveraging the v3 features.  There is no mention of the data migration from 2 to 3.

https://coreos.com/etcd/docs/latest/upgrades/upgrade_3_0.html

**Page to Update:**

[2017-04-04 17:37] hausdorff commented on #3072
I think this one is still broken? https://kubernetes.io/docs/api-reference/apps/v1beta1/definitions/

[2017-04-04 18:39] gtirloni commented on #3198
That's the URL to the API Server and the credentials to access it are in ~/.kube/config and are automatically used by kubectl.

Maybe you're thinking of the Dashboard instead? That's an [add-on](https://github.com/kubernetes/kops/blob/master/docs/addons.md) that you have to install separately.

[2017-04-04 18:41] gtirloni commented on #3224
It seems that information is available in https://kubernetes.io/docs/concepts/overview/what-is-kubernetes/

[2017-04-04 18:44] kastork commented on #3198
Yes, I thought this would be some kind of web interface.  I'll research the dashboard.

[2017-04-04 18:44] #3198 closed

[2017-04-04 19:32] chenopis commented on #3072
@hausdorff Thanks for catching that. I'll work on a patch to address it.

[2017-04-04 20:41] waprin commented on #2478
The links works fine for me but @ahmetb is pointing out this zsh (not uncommon) is escaping the $ sign when copy/pasting. @steveperry-53 any guidance on how we address that?

[2017-04-04 20:42] ahmetb commented on #2478
so @AjkP if you're using zsh like I do, just because the command starts with `curl`, it does URL escaping like `$\(` and I get the same error.

An easy fix would be to fix the tutorial as:

    KUBE_VERSION=$(curl -sfL https://storage.googleapis.com/kubernetes-release/release/stable.txt)
    curl -LO https://storage.googleapis.com/kubernetes-release/release/$KUBE_VERSION/bin/darwin

[2017-04-04 20:51] chenopis commented on #3072
@hausdorff Should be addressed now by PR #3228. PTAL and confirm so we can close this issue. Thx

[2017-04-05 03:43] ahmetb commented on #3226
@timothysc can you please take this one?

[2017-04-05 03:56] ahmetb commented on #3202
I just downloaded cfssl/cfssljson on my mac and launched it successfully, what is your setup @haribole ?

[code]

[2017-04-05 03:57] ahmetb commented on #3225
cc: @mikedanese

[2017-04-05 04:00] ahmetb commented on #3173
@php-coder have you been able to use seccomp with Kubernetes. It doesn’t seem like the feature has been implemented and released yet.

[2017-04-05 04:01] ahmetb commented on #3197
/cc madhusudancs

[2017-04-05 04:03] ahmetb commented on #3186
This sounds more like it comes from swagger. I am not sure if it’s something API reference generator decides.

[2017-04-05 04:09] ahmetb commented on #3195
@podollb I suspect this is kubernetes specific. Value for an environment variable assigned at runtime would override the one specified in container image.

This is well-known docker/containerd behavior.

[code]

Somebody should still decide if this requires documentation.

[2017-04-05 04:10] ahmetb commented on #3196
Can’t repro either. @g-wattz can you please check if it works now, if so can you please close?

[2017-04-05 04:12] ahmetb commented on #3167
@jolin000 this seems like an empty report, can you please close?

[2017-04-05 04:17] ahmetb commented on #3094
@erikbgithub you can find examples of container lifecycle hooks here: https://kubernetes.io/docs/tasks/configure-pod-container/attach-handler-lifecycle-event/

I am afraid it is currently a bit hard to find. Thanks for reporting. We should add a link to this /task from the /concept.

[2017-04-05 04:27] ahmetb commented on #3077
@erikbgithub can you please close?

[2017-04-05 04:28] ahmetb commented on #3170
@anandkolli is it missing in the `tree cluster/ubuntu/binaries` output? Can you please provide more detail?

[2017-04-05 04:28] ahmetb commented on #3020
@chenopis close? 😕

[2017-04-05 04:31] ahmetb commented on #3016
This content exist anymore in `docs/getting-started-guides/kubeadm.md`, so the issue is invalid.

[2017-04-05 04:31] #3016 closed

[2017-04-05 04:35] ahmetb commented on #2994
@python225 It doesn't look like you provided enough info to find out what page you had the issue or enough logs to understand what is going on.

I suggest you to close this issue and asking it on user forums listed at https://kubernetes.io/community/#talkToUs instead. This issue tracker is to track docs issues.

Also please use code blocks in your issue reports to format them properly.

[2017-04-05 04:37] ahmetb commented on #2979
@hobti01 have you been able to find the valid values for `--runtime-config`. If you have an idea, I can help documenting it.

[2017-04-05 04:52] ahmetb commented on #2859
This looks like a valid issue report. I am not sure which component is responsible for health/readiness checks (kubelet?) or how these relate to ReplicationController. @stephanwesten please feel free to send a patch if you know the answer. Otherwise, I can contribute one if somebody answers.

[2017-04-05 04:53] ahmetb commented on #2753
cc: @mikedanese @jbeda

[2017-04-05 05:00] ahmetb commented on #2702
@fuho `kubectl exec` defaults to the single/first container by default given the argument followed by `kubectl exec` is a valid pod name. You will get the error you pasted if the pod name is invalid, (in your case `env`).

You will not get this error if you specified a valid pod name followed by `kubectl exec`.

Here's an example:

[code]

In the interactive tutorial, in step 2 of 4 you need to ex

[2017-04-05 05:02] ahmetb commented on #2837
I believe this warning now went away as I manually pushed v1.1 (and updated the docs) for the staging image. Let's close the issue, feel free to open a separate issue to track hosting images on a more open/transparent medium. It's something I want to look at soon as well.

[2017-04-05 05:18] ahmetb commented on #2772
@mappedinn in this example `10.0.0.176` is actually the IP address that's exposed for this service.
 `kubectl get services` output has ClusterIP or ExternalIP columns. This example uses ClusterIP and that's the IP address that would work on your Kubernetes cluster.

[2017-04-05 05:24] ahmetb commented on #2758
@sagarpatil23192 I just executed the tutorial and the `set image` command worked just fine. What error are you seeing? That said, I found a mistake that `apiVersion: apps/v1beta1` value should be in fact `extensions/v1beta1`.

@Bregor the slash syntax is valid and required (please refer to `kubectl set image --help`).

[2017-04-05 05:53] waprin opened #3239 "Docs need to be versioned"
The documentation for Kubernetes only documents the latest release and offers no way to select a different version. See #3229.

**This is a...**

- [x ] Feature Request
- [ ] Bug Report

**Problem:**

Basic stuff is changed and then basics tutorials are broken on major Kubernetes distributions like GKE.

**Proposed Solution:**

The docs are supported for at least a few recent versions, and a versi

[2017-04-05 06:07] anandkolli commented on #3170
Sure, what I mean was, Once we download from git repo, the compilation and building steps of Kubernetes is missing. As it directly jumps on how to start a cluster using command kube-controller-manager.

[2017-04-05 07:35] hobti01 commented on #2979
@ahmetb thanks for the offer.  I have not located current possible values and do not have knowledge of the doc generation to propose a solution that will survive versions :(

My short-term need is identifying which, if any, values I need to use with versions 1.4, 1.5, 1.6 to enable features including init-containers.

However, the Right Thing is to have all possible values documented for each vers

[2017-04-05 09:55] php-coder commented on #3173
@ahmetb No, I didn't use it. But because it's undocumented how it's supposed that user will know about it? The only way at present is to reading sources.

[2017-04-05 11:24] unclejack commented on #2942
Issue #44041 is causing some issues when plugins are deployed with kubeadm. Perhaps this could be investigated to sort out those issues?

[2017-04-05 12:03] metachris opened #3242 "Issue with /docs/tutorials/connecting-apps/connecting-frontend-backend/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**

The documentation uses `apiVersion: apps/v1beta1` for Deployments, which results in the following error:

[code]

**Proposed Solution:**

Change to `apiVersion: extensions/v1beta1`

**Page to Update:**
https://kubernetes.io/docs/tutorials/connecting-apps/connecting-frontend-backend/

[2017-04-05 12:55] errordeveloper commented on #2942
@jbeda if you check Weave docs page now there instructions for 1.6; however we are all subject to kubernetes#44041 now.

[2017-04-05 13:52] g-wattz commented on #3196
Looks like it works now, I'll close this out.

[2017-04-05 13:52] #3196 closed

[2017-04-05 16:05] erikbgithub commented on #3077
Oh I confused the closed symbol for the other ticket with this one. Sorry. Of course I close it.

[2017-04-05 16:05] #3077 closed

[2017-04-05 16:06] erikbgithub commented on #3094
That's awesome, thanks a lot!

[2017-04-05 16:06] #3094 closed

[2017-04-05 16:45] #1388 closed

[2017-04-05 16:45] hausdorff commented on #3072
@chenopis As a Kubernetes noob, I'm not sure that I'm the right person to sign off, but based on what I understand, this looks good to me. :)

[2017-04-05 17:54] ahmetb commented on #3222
@GeoTob this is because your client is v1.6 and server is v1.5. [[changelog]](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#deployment-2) The client uses apps/v1beta1 generator for Deployment but this doesn't exist on the server. I recommend upgrading your server or downgrading your client.

[2017-04-05 17:55] ahmetb commented on #3192
@styshoo  this is because your client is v1.6 and server is v1.5. [[changelog]](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#deployment-2) The client uses apps/v1beta1 generator for Deployment but this doesn't exist on the server. I recommend upgrading your server or downgrading your client. (or just changing the `apiVerison` in yaml file)

[2017-04-05 17:56] ahmetb commented on #3242
@metachris  this is because your client is v1.6 and server is v1.5. In v1.6, Deployment object is moved to apps/v1beta1. [[changelog]](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#deployment-2) The yaml file you have uses apps/v1beta1 for Deployment but this doesn't exist on the server. I recommend upgrading your server or downgrading your client. (or just changing the `apiVer

[2017-04-05 17:59] robsonpeixoto opened #3245 "Issue with /docs/tutorials/object-management-kubectl/declarative-object-management-configuration/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The value `apiVersion: apps/v1beta1`

**Proposed Solution:**
Should be `apiVersion: extensions/v1beta1`

**Page to Update:**
https://kubernetes.io/docs/tutorials/object-management-kubectl/declarative-object-management-configuration/
https://raw.githubusercontent.com/kubernetes/kubernetes.github.io/master/docs/concepts/tools/sim

[2017-04-05 18:17] metachris commented on #3242
Oh wow, thanks for the info! My bad ^^

[2017-04-05 18:17] #3242 closed

[2017-04-05 20:21] madhusudancs commented on #3197
@ahmetb @perotinus has a PR to fix this problem - https://github.com/kubernetes/kubernetes/pull/42042. Once that's merged, the problem in question here should go away. In the meantime, @kelseyhightower has a workaround described in https://github.com/kelseyhightower/kubernetes-cluster-federation/blob/master/labs/06-adding-clusters.md#generate-kubeconfigs-and-cluster-objects that could be imported

[2017-04-05 20:42] Bregor commented on #2758
@ahmetb yep, you are right. Sorry.

[2017-04-05 21:49] overip commented on #3127
any update on this issue?
Thank you so much.

[2017-04-05 23:22] chenopis commented on #3020
Yes, we need more actionable details.

[2017-04-05 23:22] #3020 closed

[2017-04-05 23:23] #2116 closed

[2017-04-05 23:26] chenopis commented on #3072
@hausdorff Just wanted to make sure the patch addressed the issue you were seeing. Thanks for submitting the issue and keeping on top of it! =)

[2017-04-05 23:28] jbeda commented on #3127
@overip The details are in https://github.com/kubernetes/release/issues/234 but you'll have to dig.  I'm going to start pulling together some more consumable instructions now.

[2017-04-06 00:47] GeoTob commented on #3222
@ahmetb thanks for the help, I figured that out yesterday:)

It might be nice though to somehow ensure that examples work against the latest minikube out of the box (or at least put a warning somewhere)?

[2017-04-06 01:13] jbeda commented on #3127
I'm collecting notes that are going to go in to the docs here: https://gist.github.com/jbeda/5e8a4ce0a23711da146e51900859c037

[2017-04-06 03:22] ahmetb commented on #3222
@r2d4 What’s the timeline for minikube to have a new ISO released with 1.6? Users with latest kubectl can't use it to run `kubectl run` because the default generator uses apps/v1beta1 which only exists in apiserver v1.6 and minikube is still 1.5.

[2017-04-06 04:25] mappedinn commented on #2772
Since I am using minikube, the IP address was obtained though `$ minikuber ip`.

Obtaining the port was done as you mentionned through `kubectl get services`

Thanks,

[2017-04-06 04:25] #2772 closed

[2017-04-06 05:26] tashirj opened #3248 "unable to connect to Rkt api service: rkt: cannot tcp Dial rkt api service: dial tcp [::1]:15441: getsockopt: connection refused"
I am trying to install kubernetes on  CentOS 7.2 with
kubelet-1.6.1-0.x86_64
kubectl-1.6.1-0.x86_64
kubernetes-cni-0.5.1-0.x86_64
kubeadm-1.6.1-0.x86_64 versions. The problem is when kubeadm init is fired, it gives the above error as:
"unable to connect to Rkt api service: rkt: cannot tcp Dial rkt api service: dial tcp [::1]:15441: getsockopt: connection refused ".

Also, apart from it I am gettin

[2017-04-06 05:51] r2d4 commented on #3222
Here is the open PR switching 1.6 to the default version, we'll probably merge it tomorrow and do a release.  Sorry for the delay.

https://github.com/kubernetes/minikube/pull/1314

You can use 1.6 right now with the current version of minikube with `minikube start --kubernetes-version v1.6.0`

[2017-04-06 07:35] tianshapjq opened #3249 "Issue with /docs/tutorials/stateful-application/basic-stateful-set/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
In the "Using Stable Network Identities" chapter, I try the nslookup web-0.tomcat but could not resolve the IP of the pod web-0, as my StatefulSet is set to "tomcat" in my test. Meanwhile I can resolve the web-0.tomcat.default.svc.cluster.local. Is that we do not support this anymore?

I deploy the DNS discover by kubedns 1.9

[2017-04-06 14:18] Fuzzo opened #3251 "Issue with /docs/concepts/overview/kubernetes-api/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The Swagger Codegen 2.2.2, used to create a Java/Jersey2 client, does not provide a String constructor for the class `V1FinalizerName`.

The execution of the following code snippet:
[code]
cause at runtime the error:
`com.fasterxml.jackson.databind.JsonMappingException: Can not instantiate value of type [simple type, class com.

[2017-04-06 17:19] vbmade2000 opened #3253 "Typo in https://kubernetes.io/docs/concepts/overview/components/"
**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**
Typo in https://kubernetes.io/docs/concepts/overview/components/  on second line  in second paragraph under Master Components section.
The word "user" in "master components on the same VM, and does not run user containers on this VM"
should be "use".

**Proposed Solution:**
Correct typo.

**Page to Update:**
http://kubernetes.

[2017-04-06 17:22] vbmade2000 commented on #3253
I can correct it an push.

[2017-04-06 17:26] luxas commented on #3127
@jbeda Note that v1.5.5 of kubeadm probably can't deploy v1.5 clusters ;)

v1.6.0-alpha.0-2074+(somesha) is the stable v1.5 version of kubeadm

[2017-04-06 18:12] jbeda commented on #3127
Yeah -- take a look a the gist and let me know what you think.

[2017-04-06 18:20] luxas commented on #3127
Ah, sorry commented without taking a look at the gist -- it looks good to me!

[2017-04-06 18:39] jeremyjjbrown opened #3254 "Issue with /docs/concepts/ecosystem/thirdpartyresource/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
It looks like my-crontab.yaml from the tutorial is not valid

[code]

 kubectl create -f 3rdparty/my-crontab.yaml
yaml: line 5: did not find expected key

**Proposed Solution:**

Maybe this is correct
[code]

**Page to Update:**
https://kubernetes.io/docs/concepts/ecosystem/thirdpartyresource/

Kubernetes Version:
minikube ver

[2017-04-06 18:39] ahmetb opened #3255 "Issue with /docs/concepts/cluster-administration/cluster-management/ very GKE/GCE-centric"
**Problem:** [Cluster Management](https://kubernetes.io/docs/concepts/cluster-administration/cluster-management/) page contains a lot of GCE/GKE specific instructions.

These stuff probably should not be listed too much in detail here as they are vendor-specific. Also, some tasks (such as Resizing a Cluster) contains out-of-date commands and the content for GKE is very much a duplicate of cloud.go

[2017-04-06 18:42] overip commented on #3127
@jbeda it is great! Thank you so much!!!

[2017-04-06 18:50] fabiand commented on #3127
Is there actually an issue with keeping older builds in the repository?

[2017-04-06 19:04] rushabh268 commented on #3127
Why can't we have all the older versions in the repository along with the newer ones?

[2017-04-06 19:05] fabiand commented on #3127
Indeed - It would just be so convenient, and yum would take the latest, and older version would only be taken if the complete NVR is given.

[2017-04-06 20:57] #2478 closed

[2017-04-06 21:18] jbeda commented on #3127
@fabiand @rushabh268 -- @mikedanese is the guy that is driving this stuff and so he has the real story.  But the nitty gritty details are in kubernetes/release#234.

Old versions for most components are in the repos.  However, the version string for the previous kubeadm was, confusingly, 1.6.0-alpha.  My understanding is that this caused problems when sorting with/against 1.6.0.  Again, Mike has t

[2017-04-06 21:54] #1924 closed

[2017-04-06 21:54] #2220 closed

[2017-04-06 23:16] grodrigues3 opened #3260 "Issue with /docs/tutorials/stateless-application/run-stateless-application-deployment/"
**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**
`$ kubectl create -f http://k8s.io/docs/tutorials/stateless-application/deployment.yaml`

results in

error: error validating "http://k8s.io/docs/tutorials/stateless-application/deployment.yaml": error validating data: couldn't find type: v1beta1.Deployment; if you choose to ignore these errors, turn validation off with --vali

[2017-04-07 02:36] jberkus opened #3261 "Issue with /docs/concepts/workloads/pods/init-containers/"
**This is a...**

- [ ] Feature Request
- [ x ] Bug Report

**Problem:**

Init containers doc has not been updated for 1.6.  Examples still use 1.5 annotations and don't show the new syntax.

**Proposed Solution:**

Update examples for 1.6.

Filing this bug mostly so that I remember to submit a patch.

**Page to Update:**
http://kubernetes.io/...

[2017-04-07 02:48] vbmade2000 commented on #3253
I was wrong. There is no typo.

[2017-04-07 02:48] #3253 closed

[2017-04-07 03:18] vbmade2000 commented on #3076
@JensRantil  Where should this link point to ? Any idea ? I can correct it.

[2017-04-07 07:09] mixj93 opened #3262 "Issue with /docs/tutorials/stateless-application/run-stateless-application-deployment/"
the apiVersion in deployment.yaml should be "extensions/v1beta1" not "apps/v1beta1"

[2017-04-07 07:10] mixj93 commented on #3260
the apiVersion in deployment.yaml should be "extensions/v1beta1" not "apps/v1beta1"

[2017-04-07 09:29] JensRantil commented on #3076
@vbmade2000 Maybe https://github.com/kubernetes/community/blob/master/contributors/devel/scheduler.md?

[2017-04-07 14:48] naseemkullah opened #3265 "Issue with /editdocs/"

[2017-04-07 14:50] #3265 closed

[2017-04-07 15:50] rjminsha opened #3266 "Issue with /docs/tutorials/object-management-kubectl/declarative-object-management-configuration/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
404 on http://k8s.io/docs/concepts/tools/kubectl/simple_deployment.yaml

**Proposed Solution:**
Update location of simple_deployment.yaml

**Page to Update:**
https://kubernetes.io/docs/tutorials/object-management-kubectl/declarative-object-management-configuration/
[code]

[2017-04-07 16:36] rvrignaud opened #3269 "All link https://kubernetes.io/docs/reference/ in API References are broken"
**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**
When navigating to https://kubernetes.io/docs/reference/ all links in `API References` are broken (404)

**Page to Update:**
https://kubernetes.io/docs/reference/

[2017-04-07 17:19] jaredbhatti commented on #3269
Evaluating.

Seems like the following links are broken, and they're missing from the left-nav.
Autoscaling API - Manages autoscaling resources such as HorizontalPodAutoscalers.
Batch API - Manages batch resources such as Jobs.
Apps API - Manages apps resources such as StatefulSets.
Extensions API - Manages extensions resources such as Ingress, Deployments, and ReplicaSets.

[2017-04-07 17:54] sudharsanmit opened #3271 "Issue with /docs/getting-started-guides/openstack-heat/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
The kubernetes documentation in the code says that kubectl.sh will be deprecated soon and advises only to use kubectl.

Source - https://github.com/kubernetes/kubernetes/blob/master/cluster/kubectl.sh

[code]

But the documentation (https://kubernetes.io/docs/getting-started-guides/openstack-heat/) - k8 for Openstack heat still

[2017-04-07 19:27] chenopis commented on #3269
There's no reasonable place to redirect those individual links, so I removed them and cleaned up the ToC nav.

[2017-04-07 19:27] #3269 closed

[2017-04-07 20:43] enisoc commented on #3254
The example works for me on the latest v1.6.0 kubectl and cluster. What version of kubectl are you using?

Currently for TPR, the user-defined fields such as `cronSpec` and `image` are allowed to be outside `spec`. However, old kubectl versions may not understand that.

[2017-04-07 21:59] sudharsanmit opened #3277 "Issue with /docs/getting-started-guides/aws/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
The link https://github.com/kubernetes/kubernetes/tree/master/cluster/aws/config-default.sh is broken

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/getting-started-guides/aws/#cluster-turnup

[2017-04-08 12:41] paul-hammant opened #3280 "English Issue with what-is-kubernetes.md"
**This is a...**

- [ ] Feature Request
- [*] Bug Report

**Problem:**

Containers/container two words apart is not helping clarity.

**Proposed Solution:**

I can't suggest what it should be as I'm not an SME

**Page to Update:**
https://kubernetes.io/docs/concepts/overview/what-is-kubernetes/

[2017-04-08 12:47] paul-hammant opened #3281 "English Issue with what-is-kubernetes.md"
**This is a...**

- [ ] Feature Request
- [*] Bug Report

**Problem:**

"Kubernetes is not:" section - first bullet - "Kubernetes does not limit the types of applications supported. It does not ..."

There are bullets within that bullets. Or there should be. Or the section should be rethought.  The "not/doesn't" connotation doesn't clearly associate with those implied sub-bullets.

It is also peri

[2017-04-08 13:54] craigbilner opened #3282 "Issue with /docs/user-guide/kubectl-conventions/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
# kubectl apply
It says

but when you go to [Managing Resources](https://kubernetes.io/docs/concepts/cluster-administration/manage-deployment/#kubectl-apply) it's not immediately obvious what is the explanation.

**Proposed Solution:**
Perhaps it should explicitly say `--save-config` should always be used otherwise the two/thre

[2017-04-08 18:48] josiah14 opened #3284 "Issue with /docs/tutorials/kubernetes-basics/deploy-interactive/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
At least in my run-through of Module 2, there were actually 2 pods, one for what looks like Kubernetes, itself, and one for the delployed application. It appears that there was something wrong with the Kubernetes deployment, considering it was in an offline status of CrashLoopBackOff.  Google Search claims this normally means t

[2017-04-08 18:51] josiah14 commented on #3284
Sorry for not providing a real solution - I'm more of a developer who hops in to do Linux administration as-needed.  Maybe somebody with more Sr. Level admin/ops chops can help out, here.

[2017-04-09 19:02] xeaa30v opened #3288 "Issue with /editdocs/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-04-09 19:02] #3288 closed

[2017-04-09 19:44] surajnarwade commented on #3063
page was there till release-1.5, if its needs to be add again, shall I proceed to send a PR ?

[2017-04-09 19:46] surajnarwade commented on #3076
@JensRantil @vbmade2000 , this issue duplicates the issue #3063

[2017-04-10 01:10] GeoTob commented on #3222
Hey guys , thanks for getting onto this and fixing this quickly :+1: Will close the issue now

[2017-04-10 01:10] #3222 closed

[2017-04-10 04:03] ajayaram1 opened #3291 "kubeadm init keeps throwing - [apiclient] Temporarily unable to list nodes (will retry)"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
I am installing kube master on one node (this is a ubuntu VM 16.04.2). the "kubeadm init" keeps failing with the following
[apiclient] Created API client, waiting for the control plane to become ready
[apiclient] All control plane components are healthy after 15.540123 seconds
[apiclient] Waiting for at least one node to regist

[2017-04-10 08:04] JensRantil commented on #3076
@surajnarwade Nice find. Closing.

[2017-04-10 08:04] #3076 closed

[2017-04-10 08:33] craigbilner opened #3292 "Issue with /docs/tutorials/stateful-application/run-stateful-application/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
The `mysql-deployment.yaml` is showing the deployment with an `apiVersion` of `apps/v1beta1` which @ahmetb pointed out is supported by v1.6 of Kubernetes.

If you follow the tutorial, it blows up with a validation warning, `v1beta1.Deployment` cannot be found, which led me on a bit of a wild goose chase, but was because I'm on

[2017-04-10 15:02] ajayaram1 commented on #3291
My setup in trying to get kubernetes working
- I have 4 Ubuntu VM's
- I will make VM-1 - Master and other 3 worker nodes
- All the VM's are on local network and reachable 10.5.x.x

I did try 2 different ways and both didnt work

Option 1: "kubeadm init"
This used default service ips' (10.96.0.1). And keeps giving the error message
ubuntu@ubuntu:~$ sudo kubeadm init
[kubeadm] WARNING: kubeadm is in

[2017-04-10 16:40] jeremyjjbrown commented on #3254
@enisoc

I have 1.4 .  I'll update as soon as I can and close if that resolves it.

[2017-04-10 16:40] hausdorff commented on #3072
@chenopis I think it is in acceptable shape for my usage. :) The v1beta1 extensions page[1] still seems to point to the old-style version of that page, which is fine for me, but may or may not be what you want -- I'm not sure.

Anyway, thanks for the help!

[1] https://kubernetes.io/docs/api-reference/extensions/v1beta1/definitions/

[2017-04-10 17:26] ahmetb commented on #3292
@craigbilner  Kubernetes v1.6 and up uses `apps/v1beta1`. If you look at the `master` version of the YAML file here, you can see it using the new apiVersion: https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/tutorials/stateful-application/mysql-deployment.yaml

[2017-04-10 17:27] ahmetb commented on #3262
@mixj93 Kubernetes v1.6 uses `apps/v1beta1` for Deployment and the documentation is reflecting the latest stable release.

[2017-04-10 17:27] ahmetb commented on #3260
@grodrigues3  Kubernetes v1.6 uses `apps/v1beta1` and the documentation is reflecting the latest stable release.

[2017-04-10 17:27] ahmetb commented on #3245
@robsonpeixoto  Kubernetes v1.6 uses `apps/v1beta1` and the documentation is reflecting the latest stable release.

[2017-04-10 17:28] ahmetb commented on #3192
I believe we can close this issue.

[2017-04-10 20:07] robsonpeixoto commented on #3245
Thanks

[2017-04-10 20:07] #3245 closed

[2017-04-10 20:42] craigbilner commented on #3292
thanks @ahmetb, I couldn't find any documentation on how the `apiVersion` is derived. I looked at the [docs](https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md) but it didn't indicate a kubectl version maps to an `apiVersion`. Would you be able to point me to some docs explaining it?

I've edited my issue to reflect my actual confusion.

[2017-04-10 20:54] grodrigues3 commented on #3260
Thanks, I'll try upgrading my master to 1.6.x

[2017-04-10 20:54] #3260 closed

[2017-04-10 21:43] ahmetb commented on #3292
@craigbilner agreed, a bit hard to find out. If your cluster uses v1.6, you can take a look at the API Reference here: https://kubernetes.io/docs/api-reference/v1.6/ If you click `Deployment` here, it tells you that it's in `apps` group.

[2017-04-10 21:49] ahmetb commented on #1569
@mbohlool is there a specific reason why you want it on the kubernetes.io domain rather than github.com? We're deprecating everything under kubernetes.io/kubernetes/*

[2017-04-10 21:54] ahmetb commented on #3202
@haribole have you been able to get this to work?

[2017-04-10 21:57] craigbilner commented on #3292
@ahmetb oh I see, awesome, thanks. I've upgraded my cluster to 1.6 and everything's working, ta

[2017-04-10 22:37] mbohlool commented on #1569
Well as long as there is no old swagger (ui or spec) hosted anywhere in kubernetes.io, I am fine with not having this. My initial reason was around having an old spec is bad and we should update to the new spec.

[2017-04-10 22:41] mbohlool commented on #1569
btw, I still see https://kubernetes.io/kubernetes/third_party/swagger-ui/ though it is not loading and also I think there is another issue about removing it somewhere.

These are related issues that need to be resolved (and by removing all old swagger things, they should be): #1908 #515

[2017-04-10 22:42] ahmetb commented on #3292
@craigbilner np. please consider closing the issue.

[2017-04-10 22:44] styshoo commented on #3192
@ahmetb yeah, you are right. After I upgraded Kubernetes to v1.6， the yaml worked. But I also have two suggestions to improve Kubernetes doc.
1. Add a doc version on the Kubernetes doc website. We can see the version of current doc, and we can also switch doc version. What I expect Is quite similar with the [Docker doc](https://docs.docker.com/), which has its doc version in the top-right corner.

[2017-04-10 22:44] #3192 closed

[2017-04-10 22:44] ahmetb commented on #1569
@mbohlool we actually removed it from the source repo and yet it's still showing up. We're currently suspecting there's a script somewhere that gets kicked off during the build causing some URLs like that to be added to the website. I'm actively investigating.

@chenopis can we take care of the issues linked above now that we link out to the Swagger spec?

[2017-04-10 22:45] craigbilner commented on #3292
@ahmetb the problem's still there for other people? Either the kubernetes error messages themselves should be a bit more explicit (hint at an incorrect version?) and/or the docs should support multiple yaml files, or at the very least say at the top this is for version 1.6.0 etc. ?

[2017-04-10 22:46] ahmetb commented on #3291
@ajayaram1 this does not look like a documentation issue. Can you please open an issue in the relevant component repository or get help using the channels here: https://kubernetes.io/community/ or http://kubernetes.io/docs/troubleshooting/ ?

[2017-04-10 22:49] ahmetb commented on #3292
@craigbilner the discussion for the docs versioning is at #3239. This came up specifically because of the Deployment apiVersion changed and started breaking people.

[2017-04-10 22:51] craigbilner commented on #3292
np, ta

[2017-04-10 22:51] #3292 closed

[2017-04-10 23:36] chenopis commented on #3072
@hausdorff Yeah, we're still working on cleaning that up and other parts of the Reference section. Hopefully, they should be done w/in the next week or so.

[2017-04-10 23:36] #3072 closed

[2017-04-10 23:52] chenopis commented on #1569
I'm still working on this. I'll see what I can do.

[2017-04-11 02:59] xinzhangcmu opened #3313 "Putting up the Chinese version of http://kubernetes.io"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

Per discussion with @dankohn from CNCF, we aim to put up the Chinese version of http://kubernetes.io prior to the the [Linux Foundation event]( http://events.linuxfoundation.org/events/linuxcon-containercon-cloudopen-china) in Beijing, China this June.

**Proposed Solution:**

@dankohn and us (Caicloud) have discussed the atta

[2017-04-11 05:46] surajnarwade commented on #3063
@jboeuf , `kube-scheduler.md` was there till 1.5 branch, shall I create PR for the same ?

[2017-04-11 08:38] gajus opened #3316 "Explain how to setup ELK stack on GCE. Issue with /docs/tasks/debug-application-cluster/logging-elasticsearch-kibana/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

The documentation page about ES and Kibana states:

– https://kubernetes.io/docs/tasks/debug-application-cluster/logging-elasticsearch-kibana/

However, it does not explain/ link to resources that explain how to setup ELK logging on Google Cloud Container. If it is not possible, it should should explicitly say that the only op

[2017-04-11 10:26] bboreham commented on #3291
I believe this was intended as a follow-up to https://github.com/kubernetes/kubeadm/issues/226

[2017-04-11 10:46] rvbsalgado opened #3317 "Issue installing Kube-Proxy for windows"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
When i´m trying to install Kube-Proxy, executing the command "go build cmd/kube-proxy/proxy.go", i receive the error message: "cmd\kube-proxy\app\options\options.go:104: cannot use fs (type *"k8s.io/kubernetes/vendor/github.com/spf13/pflag".FlagSet) as type *"k8s.io/apiserver/vendor/github.com/spf13/pflag".FlagSet in argument t

[2017-04-11 11:36] dgageot opened #3318 "Outdated links in kubeadm.md"
Some links are outdated on the `kubeadm.md` page. They point to a page that says:

[code]

[2017-04-11 14:15] waldauf opened #3321 "Issue with /docs/getting-started-guides/ubuntu/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
$ sudo snap install conjure-up --classic
error: cannot perform the following tasks:
- Download snap "core" (1577) from channel "stable" (read tcp 10.0.2.15:41966->69.88.149.138:443: read: connection reset by peer)

**Proposed Solution:**
Not sure.

**Page to Update:**
http://kubernetes.io/...

I'm trying to install Kubernetes o

[2017-04-11 14:16] waldauf commented on #3321
Before installation I proceeded update & upgrade.

[2017-04-11 16:26] jboeuf commented on #3063
Thanks for having a look @surajnarwade.
I'm not really sure. I was just surprised, as a user of the doc to have a link to a 404. If the kube-scheduler is a thing, then it should be documented and I think that #3320 addresses that. Thanks!

[2017-04-11 18:57] jeremyjjbrown commented on #3254
Updating works.

[2017-04-11 19:05] #3254 closed

[2017-04-11 19:12] micmac commented on #2908
Thanks, I'll investigate further why it doesn't work for me. As for using kubeadm 1.6.0 alpha, that's what I get if I follow the document, so I assumed it should work with the steps written there.

I did not propose enumerating add-ons again, but as the document is now, it's not a "quick", and for someone that's not familiar with Kubernetes, may not even be a "start".

[2017-04-12 08:11] gyliu513 opened #3345 "Explain more for how multiple nodeSelectorTerms and multiple nodeSelector works"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Please refer to https://groups.google.com/forum/#!msg/kubernetes-sig-scheduling/P249hlfGcdw/_wfQ7UOlBQAJ and https://github.com/kubernetes/kubernetes/issues/44349 for more detail.

**Proposed Solution:**
Basically, we need to update the document [here](https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-

[2017-04-12 08:11] gyliu513 commented on #3345
/assign

[2017-04-12 16:34] ahmetb commented on #3321
@waldauf looks like a temporary error in network. can you please try again?

[2017-04-12 16:40] ahmetb commented on #3317
@rvbsalgado It looks like https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/getting-started-guides/windows/index.md led you to this page and this has not been included in the issue.

I recommend asking about this first on SIG-Windows channels listed at https://github.com/kubernetes/community/blob/master/sig-windows/README.md for a faster response, perhaps the folks at the SIG can

[2017-04-12 16:42] ahmetb commented on #3251
@Fuzzo I'm afraid this issue is not for the documentation. Can you please open an issue against kubernetes/kubernetes repository instead?

[2017-04-12 20:47] #3063 closed

[2017-04-12 21:07] #3266 closed

[2017-04-12 21:46] ahmetb commented on #2860
@chenopis empty issue, let's close.

[2017-04-12 21:58] ahmetb commented on #2857
I can repro. Found the following text at https://thepracticalsysadmin.com/kubernetes-resize-and-rolling-updates/:

and [the code](https://github.com/kubernetes/kubernetes/blob/32600927d97414795a6355f3cac23806d59e9cdd/pkg/kubectl/cmd/rollingupdate.go#L313-L315) returning this error is saying:

[2017-04-12 22:07] ahmetb opened #3357 "Issue with /docs/tasks/run-application/rolling-update-replication-controller/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

[update demo] link doesn't do anything. It links to the same page.

**Proposed Solution:** ?

**Page to Update:** https://kubernetes.io/docs/tasks/run-application/rolling-update-replication-controller/

[2017-04-12 22:13] ahmetb commented on #2857
Honestly I couldn't figure this out.

- I basically created a basic RC, saved to v1.yaml.
- Then I used `kubectl rolling-update --image` helper to update just the image, saved the new rc to v2.yaml.
- I deleted everything.
- Deployed v1.yaml, worked.
- `kubectl rolling-update ... -f v2.yaml` , didn't work. Got the same error as you.

[2017-04-12 22:16] ahmetb commented on #2759
@thisisdavidbell is this still applicable? Looks like the page now redirects to https://kubernetes.io/docs/tasks/configure-pod-container/communicate-containers-same-pod/ which shows how to run multiple containers in a pod.

[2017-04-12 22:19] ahmetb commented on #2672
from #2737 I see that many of these are merged. @davidopp do you want to keep this open?

[2017-04-12 22:20] #2672 closed

[2017-04-12 23:02] mikedanese commented on #3225
https://github.com/kubernetes/kubernetes.github.io/pull/3256 fixes this

[2017-04-12 23:02] #3225 closed

[2017-04-12 23:02] chenopis opened #3360 "Need long-term solution for Travis CI dependencies"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
Changes upstream in other repositories, such as [api-machinery](https://github.com/kubernetes/apimachinery) or [client-go](https://github.com/kubernetes/client-go), that are pulled into k8s.io can cause the Travis CI test scripts to fail. Consequently, Travis is not a reliable way to determine whether a change to the k8s.io rep

[2017-04-12 23:43] #2860 closed

[2017-04-12 23:44] #3086 closed

[2017-04-13 00:01] #2491 closed

[2017-04-13 03:34] netroby opened #3366 "Page 404 not found"
The official project link to page

https://kubernetes.io/docs/troubleshooting

Which seems 404

[2017-04-13 07:38] ixdy commented on #3366
What page contained this link?

[2017-04-13 07:50] Fuzzo commented on #3251
[Done](https://github.com/kubernetes/kubernetes/issues/44433)

[2017-04-13 08:02] xiangpengzhao commented on #3366
The content of former troubleshooting has been moved to https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/tasks/debug-application-cluster/troubleshooting.md

FYI: https://github.com/kubernetes/kubernetes.github.io/pull/3337

[2017-04-13 08:19] xiangpengzhao commented on #3366
@ixdy [support-content-moved.md](https://github.com/kubernetes/kubernetes.github.io/blob/master/_includes/support-content-moved.md) contains this link. And `support-content-moved.md` is contained by [deprecation-policy.md](https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/deprecation-policy.md) i.e. https://kubernetes.io/docs/deprecation-policy/

[2017-04-13 08:23] netroby commented on #3366
Made a pr to adjust the link at kubernetes repository. please take a look

[2017-04-13 16:09] ahmetb commented on #3251
I believe we can close this issue.

[2017-04-13 17:04] #3318 closed

[2017-04-13 19:43] tonglil opened #3381 "Issue with /docs/tasks/configure-pod-container/configure-liveness-readiness-probes/"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**
The probe documentation should provide an example with a probe that has every parameter completed. Many app devs look for an example spec for guidance, and don't know there is an [API reference](https://kubernetes.io/docs/api-reference/v1.6/#probe-v1-core) (they are not K8s developers).

**Proposed Solution:**
Expand the example

[2017-04-14 02:40] warmchang opened #3398 "Invalid hyperlink of command."
**This is a Bug Report**

- [x] Bug Report

**Problem:**
https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/getting-started-guides/minikube.md
There are some invalid hyperlink of minikube command, because the following PR&Issue:
https://github.com/kubernetes/minikube/pull/1356
https://github.com/kubernetes/minikube/issues/1338

**Proposed Solution:**
We should host the command man

[2017-04-14 08:10] waldauf commented on #3321
Now it works. Thanks for checking.

[2017-04-14 08:10] #3321 closed

[2017-04-14 11:02] vamsijakkula opened #3406 "Issue with /docs/getting-started-guides/kubeadm/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
After Exeucting this command
kubeadm init --pod-network-cidr=10.244.0.0/16 --apiserver-advertise-address $MASTER_IP

it hangs at the following line

[apiclient] Created API client, waiting for the control plane to become ready

Below are the installed versions !! Is there any issue specific to kubeadm 1.6.1

Setting up kubernet

[2017-04-14 17:04] ltupin opened #3407 "Issue with /docs/getting-started-guides/cloudstack/"
**This is a...**

- [x ] Bug Report

**Problem:**
The documentation regarding k8s installation on CloudStack is not up to date. The Ansible playbook refer to a github repository now defined to deploy on AWS ([see here](https://github.com/runseb/ansible-kubernetes.git)). All previous job for CS has been deleted.

**Proposed Solution:**
We can retrieve from git history the original work for CS ([las

[2017-04-15 07:50] kdureidy opened #3429 "Issue with /docs/tutorials/kubernetes-basics/"
Allow the interactive tutorial terminal to work on iphone.

**This is a...**

- [ ] Feature Request
- [ x ] Bug Report

**Problem:**
The terminal does not work on iphone. I tried on safari and chrome but it still does not work. I enabled the brower request desktop site as well.

**Proposed Solution:**
Similar to gmail solution. There is a link to enforce desktop version of the site

**Page to Upda

[2017-04-16 03:15] donghl opened #3431 "Issue with /docs/tutorials/kubernetes-basics/explore-intro/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-04-17 05:16] #2197 closed

[2017-04-17 07:49] timstoop opened #3435 "Issue with /docs/tasks/configure-pod-container/configure-liveness-readiness-probes/"
**This is a...**

- [X] Feature Request
- [ ] Bug Report

**Problem:**
There is no description nor example on how to set up a TCP Probe, even though the option is mentioned. Although it might be obvious to veteran users, for greener users it is helpful to have examples available. For example, by reading the text, there's no indication whether a TCP Probe would be set up with `tcp` in the config or

[2017-04-17 21:53] rchapple opened #3439 "Issue with /docs/tutorials/stateless-application/run-stateless-application-deployment/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
I think the "apiVersion" value in the example yaml files is incorrect.

If I submit that to my Tectonic Kubernetes cluster, I get:
" error validating data: API version "apps/v1beta1" isn't supported, only supports API versions ["componentconfig/v1alpha1" "extensions/v1beta1" "rbac.authorization.k8s.io/v1alpha1" "storage.k8s.io/

[2017-04-17 22:23] bjornl opened #3440 "Issue with /docs/getting-started-guides/kubeadm/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

On Ubuntu in addition to installing Docker one need to install package "aufs-tools" as dockerd may call aufs tools like "auplink" up on need.

This may be relevant for Docker on CentOS 7 too, I do not know with certainty.

**Proposed Solution:**
Replace line

apt-get install -y docker.io

with the line

apt-get install -y dock

[2017-04-17 22:27] bjornl commented on #3440
The root problem may be a missing dependency in the docker package on Ubuntu and derivatives. But needs to be addressed for kubeadm until it is resolved up stream by OS vendor.

[2017-04-18 01:27] techtonik commented on #1537
Nice. Except that now it's https://kubernetes.io/ =)

[2017-04-18 07:35] puttpotsawee opened #3443 "Issue with /docs/tutorials/stateless-application/expose-external-ip-address-service/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
I practice this tutorial using Google Cloud Container and I struggle quite a while on creating firewall rules.
When creating a service and `curl` to it, it returns no response due to the firewall block. At first, I thought I did something wrong in the previous step. This might lead to some confusion for others too.

**Proposed

[2017-04-18 20:11] ahmetb commented on #2758
@sagarpatil23192 is this still valid?

[2017-04-18 20:12] ahmetb commented on #3439
@rchapple  Kubernetes v1.6 uses `apps/v1beta1` and the documentation is reflecting the latest stable release. Your version looks old.

[2017-04-18 20:12] ahmetb commented on #3431
@donghl what's the issue?

[2017-04-18 21:04] rchapple commented on #3439
@ahmetb -- you are correct.  Thanks for pointing that out.

[2017-04-18 21:04] #3439 closed

[2017-04-18 21:06] ahmetb commented on #3443
@puttpotsawee is there any reason why you want to use `type: NodePort` instead of using `type: LoadBalancer` on gCE?

[2017-04-18 22:27] radhefa opened #3448 "Issue with /docs/user-guide/services/RtaCloud"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-04-18 23:33] Kennethguerra3 opened #3449 "Issue with /docs/tutorials/kubernetes-basics/cluster-intro/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-04-19 03:17] tsjsdbd commented on #3313
挺好的，Kubernetes在中国还是非常流行的，+1

[2017-04-19 04:33] puttpotsawee commented on #3443
@ahmetb step 4 in this tutorial use `type=NodePort` while exposing the deployment, so I just follow the step, this is the good example for me to understand the concept of NodePort though.

[2017-04-19 11:33] fatihonur opened #3457 "Issue with /docs/tutorials/connecting-apps/connecting-frontend-backend/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Running the official Understanding Kubernetes Objects tasks failing on my system.

[code]

**Proposed Solution:**
No idea.

**Page to Update:**
https://kubernetes.io/docs/concepts/overview/working-with-objects/kubernetes-objects/

[code]

[code]

[2017-04-19 15:51] pradeeppandeyy opened #3459 "Unable to create ingress deny policy from kubectl."
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Unable to create ingress deny policy from kubectl.

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

1.5.3

We have two namepaces  one is for MZ pods and onther is  for DMZ pods , I want to enable ingress deny policy in MZ from DMZ pods . All pods within same namespce will able to communicate with each othe

[2017-04-19 16:01] pradeeppandeyy opened #3460 "Kubectl namsapce Annotation, so that all traffic from outside namespace will block but not within namespace"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

How can I add annotation, so that all traffic from outside namespace will block but not within namespace from kubectl network policies.

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

We have two namepaces  one is for MZ pods and onther is  for DMZ pods ,
I want to enable ingress deny policy in MZ namesp

[2017-04-19 17:33] chenopis commented on #3313
@xinzhangcmu Do you have any ideas for the review process? Do we need to create a list of bilingual engineers in the Kubernetes community that could help review the translations?

[2017-04-19 18:11] conradwt opened #3461 "Issue with /docs/tutorials/stateless-application/hello-minikube/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

When I execute

$ minikube start --vm-driver=xhyve
Starting local Kubernetes cluster...
Starting VM...
SSH-ing files into VM...
Setting up certs...
Starting cluster components...
Connecting to cluster...
Setting up kubeconfig...
Kubectl is now configured to use the cluster.

$ kubectl config use-context minikube
Switched to co

[2017-04-19 18:19] fatihonur commented on #3457
Following yaml file worked on my system. So, replace `apps` with `extensions`.

[code]

[2017-04-19 18:19] #3457 closed

[2017-04-19 19:50] ahmetb commented on #3461
@conradwt looks like a minikube bug. Can you please file an issue at https://github.com/kubernetes/minikube/issues/new instead and close this one?

[2017-04-19 19:52] ahmetb commented on #3460
@pradeeppandeyy this issue tracker is for documentation problems. If you're seeking help, please ask your question on StackOverflow, Slack or [mailing list](https://groups.google.com/forum/#!forum/kubernetes-users) all of which are listed at the bottom of kubernetes.io page.

[2017-04-19 19:53] ahmetb commented on #3459
@pradeeppandeyy this issue tracker is for documentation problems. If you're seeking help, please ask your question on StackOverflow, Slack or [mailing list](https://groups.google.com/forum/#!forum/kubernetes-users) all of which are listed at the bottom of kubernetes.io page.

[2017-04-19 19:53] ahmetb commented on #3449
@chenopis empty issue, please close.

[2017-04-19 19:53] ahmetb commented on #3448
@chenopis empty issue, please close.

[2017-04-19 19:55] ahmetb commented on #3443
@puttpotsawee understood. Thanks for your proposed solution. We are trying to eliminate Google Cloud specific documentation from Kubernetes site over time and move it to the Google Container Engine website. I'll make a note that we explain "How to expose NodePort on Container Engine"

[2017-04-19 19:56] ahmetb commented on #3440
cc: @mikedanese

[2017-04-19 19:56] ahmetb commented on #3431
@chenopis please close

[2017-04-19 21:09] #3440 closed

[2017-04-19 23:03] ahmetb commented on #3429
The "Request Desktop Site" feature on mobile browsers use User-Agent header to fake the device as a desktop device. However I think the Kubernetes website doesn't use User-Agent header. It simply relies on viewport size (which is small on mobile) and renders a responsive version of the website.

The interactive tutorial requires a wide viewport, as it's an iframe to katakoda.com and I'm not sure i

[2017-04-20 03:23] sudhagarc opened #3466 "Issue with /docs/getting-started-guides/docker-multinode/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The instructions in this page is outdated. The git repo mentioned (kube-deploy) in this page has updated the scripts as the scripts no longer work as expected.

**Proposed Solution:**
Could you please take this page offline or update with correct information?

**Page to Update:**
http://kubernetes.io/...

[2017-04-20 07:28] yellowiscool opened #3468 "Issue with /docs/getting-started-guides/docker-multinode/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

This documentation page is outdated. [The scripts have been removed](https://github.com/kubernetes/kube-deploy/pull/283).

**Proposed Solution:**

Remove the page.

**Page to Update:**
http://kubernetes.io/...

[2017-04-20 07:28] #3468 closed

[2017-04-20 07:29] yellowiscool commented on #3468
Oops, didn't check #3466

[2017-04-20 09:46] guettli opened #3470 "The text in the nodes of the svg image is not readable"
**This is a...**
- [x ] Bug Report

**Problem:**

On this page: https://kubernetes.io/docs/tutorials/kubernetes-basics/cluster-intro/

The text (white font on blue background) in the nodes of the svg image is not readable

Here is the source: https://kubernetes.io/docs/tutorials/kubernetes-basics/public/images/module_01_cluster.svg

**Proposed Solution:**

Enlarge the text in the svg or remove it,

[2017-04-20 11:38] guettli opened #3472 "Issue with /docs/tutorials/kubernetes-basics/"
**This is a...**
- [ x] Feature Request

**Problem:**

I am missing a definition of "containerized applications".

**Proposed Solution:**

It would be nice if this term ("containerized applications") would be a hyperlink to a place where I can find more details about what this term means in the context of kubernetes.

**Page to Update:**

https://kubernetes.io/docs/tutorials/kubernetes-basics/

[2017-04-20 16:50] t0mmyt commented on #3226
Edited due to unstable doc paths

[2017-04-20 19:17] ahmetb opened #3475 "Use kubeadm for GCE installation guide"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:** https://kubernetes.io/docs/getting-started-guides/gce/ uses old `wget -q -O - https://get.k8s.io | bash` method...

**Proposed Solution:** It should use `kubeadm` to create the Google Compute Engine cluster.

(self-assign)

[2017-04-20 19:31] craigbox commented on #3475
https://github.com/kubernetes/kubernetes/issues/34949 talks about how to get the networking set up.

[2017-04-20 19:33] ahmetb opened #3476 "Create documentation on kubectl bash completion"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:** There are no easily-findable docs on "kubectl bash completion". This query doesn't return any documentation.  This leads to blog posts such as:
- https://blog.fabric8.io/enable-bash-completion-for-kubernetes-with-kubectl-506bc89fe79e
- https://blog.merapar.com/fixing-bash-autocompletion-on-macos-for-kubectl-and-kops-e87f019652e

[2017-04-20 19:46] #3449 closed

[2017-04-20 19:46] #3448 closed

[2017-04-20 19:47] #3431 closed

[2017-04-20 19:54] ahmetb commented on #3476
I wonder why this section doesn't show up on search results https://kubernetes.io/docs/tasks/kubectl/install/#enabling-shell-autocompletion

[2017-04-20 20:01] superawesome commented on #2988
For reference, this full URL to this page is:

https://kubernetes.io/docs/getting-started-guides/centos/centos_manual_config/

[2017-04-20 20:21] #3127 closed

[2017-04-21 00:18] r4j4h commented on #2325
Yeah it really sucks its broken for 1.5 as well.

It's worse for 1.4.*:

With the expected type "ScheduledJob" it gives

`Error from server (BadRequest): error when creating "cronjob.yml": CronJob in version "v2alpha1" cannot be handled as a ScheduledJob: no kind "CronJob" is registered for version "batch/v2alpha1"`

And with type "CronJob" it gives:

`error: error validating "cronjob.yml": error

[2017-04-21 06:49] teotia39 opened #3485 "Issue with /docs/concepts/cluster-administration/configure-etcd/"
As mentioned in document that "By default, Kubernetes objects are stored under the /registry key in etcd" ,

The same key does not exists in Beta version of Kubeadm ,
when we do curl  at http://127.0.0.1:2379/v2/keys/registry , the out is an error response ,
"{"errorCode":100,"message":"Key not found","cause":"/registry","index":5}".

How to access this key if its available but accessible in diffe

[2017-04-21 13:42] cyberic99 opened #3493 "Issue with /docs/user-guide/ingress/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-04-21 13:43] #3493 closed

[2017-04-21 23:17] np0334 opened #3495 "Issue with /docs/tutorials/kubernetes-basics/cluster-interactive/"
**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**
The start scenario always pops up a message stating the site wants cookies. I have cookies enabled, yet the message wont go away

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-04-22 16:42] gayanjay commented on #2921
@devent : I can download the `kubectl` as http://kubernetes.io/docs/tasks/kubectl/install/.
As @vbmade2000  said you have additional `\` in your url.
if you copy and paste the URL to the terminal. The terminal adds extra `\`.  please remove those manually. you should be good. I hope we can close this issue.

[2017-04-23 15:18] kargakis opened #3502 "Document application rebalancing"
https://github.com/kubernetes/kubernetes/issues/43350#issuecomment-287632622

[2017-04-24 15:05] dtaner opened #3505 "Issue with /docs/reference/"
**This is a...**

- [ ] Feature Request
- [ x ] Bug Report

**Problem:**
extensions/..  links are broken

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-04-24 17:52] pritesh commented on #2942
@jbeda Romana supports 1.6 (PR: https://github.com/romana/romana/commit/42a64bf8654d7aeb67d7b43cd27c9f35800033bd) and it can be installed using: kubectl apply -f https://raw.githubusercontent.com/romana/romana/master/containerize/specs/romana-kubeadm.yml

[2017-04-25 18:06] feliperoos opened #3525 "Issue with /docs/reference/ - broken links to model documentation"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
Model definition links is broken

**Proposed Solution:**
Fix model definition link with current model definitions for each version

**Page to Update:**
http://kubernetes.io/docs/reference/

[2017-04-25 19:13] naseemkullah opened #3527 "Issue with /docs/tutorials/stateless-application/run-stateless-application-deployment/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**

error validating data: couldn't find type: v1beta1.Deployment; if you choose to ignore these errors, turn validation off with --validate=false

when using yaml file provided in "Running a Stateless Applciation" on a K8S cluster on Google Cloud

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/tutorials/s

[2017-04-26 00:16] gkalele opened #3535 "Issue with /docs/reference/ Federation links"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Link points to non-existent page

https://kubernetes.io/docs/reference/docs/reference/federation/v1/operations/

**Proposed Solution:**

Fix the link.

**Page to Update:**
https://kubernetes.io/docs/reference/

[2017-04-26 02:43] chrislovecnm commented on #2861
This is a bug that is filed upstream and in the kops repo.  Thanks for the error report!

[2017-04-26 02:44] chrislovecnm commented on #1878
Just noticed this.  Is this still an open issue?

[2017-04-26 02:47] chrislovecnm commented on #2033
@khannag that sounds awesome! Are you still using Windows and kops?

[2017-04-26 02:47] chrislovecnm commented on #1637
I apologize but this got into this repo and not kops repo.  Do we still have open issues?

[2017-04-26 02:50] chrislovecnm commented on #2463
BUMP - does anyone on the docs team have an opinion?  @janetkuo I know you have done a bunch of work lately in docs.

cc: @steveperry-53

[2017-04-26 10:50] errordeveloper commented on #3214
I think this is an issue that needs to be fixed in socks shop.

[2017-04-26 13:25] errordeveloper commented on #3214
https://github.com/microservices-demo/microservices-demo/pull/702

[2017-04-26 17:15] ahmetb commented on #3527
@naseemkullah your kubernetes cluster is probably running an older version v1.5. The examples on the website are updated to reflect the v1.6 which has the Deployment resource in `v1beta1/apps` API category now.

[2017-04-26 17:16] ahmetb commented on #3525
@feliperoos you mean the Federation API model link? I see that one is broken. Sent #3545 to fix this (to basically remove the link from that page). The Federation links on the left sidebar are working though.

[2017-04-26 17:17] ahmetb commented on #3505
@dtaner you mean the extensions/.. under the Federation API section? I see that one is broken on the main Reference docs page. Sent #3545 to fix this (to basically remove the link from that page). The Federation links on the left sidebar are working though.

[2017-04-26 17:18] ahmetb commented on #3495
@np0334 I cannot reproduce. Can you please share a screenshot?

[2017-04-26 17:20] ahmetb commented on #3381
@tonglil does #3494 solve this?

[2017-04-26 17:21] ahmetb commented on #3406
@vamsijakkula I would recommend seeking help in Kubernetes-users mailing list, IRC or Slack channels. This repository is for documentation issues.

[2017-04-26 17:27] tonglil commented on #3381
Yes, excellent. Thank you.

[2017-04-26 17:27] #3381 closed

[2017-04-26 17:32] naseemkullah commented on #3527
Thanks Ahmet, client version is 1.6 but I see that server version is indeed
1.5

On Wed, Apr 26, 2017 at 1:15 PM, Ahmet Alp Balkan <notifications@github.com>
wrote:

[2017-04-26 17:50] #3535 closed

[2017-04-26 18:52] foxish commented on #3261
https://kubernetes.io/docs/concepts/workloads/pods/init-containers/#init-containers-in-use

This section should explicitly have an example showing the 1.6 version (init container field) in addition to the existing example for pre-1.6
It should also call them out explicitly.

@crimsonfaith91, Can you send a PR updating docs here?

[2017-04-26 19:15] steveperry-53 commented on #2463
The short-term answer is under SETUP, maybe near
https://kubernetes.io/docs/getting-started-guides/kops/.

For the long term, we're discussing the overall plan for the topics under
SETUP. The big question is how much of this content belongs on kubernetes.io
and how much belongs on other sites. We're thinking, for example, that much
of the GKE and GCE setup content should be on cloud.google.com.

O

[2017-04-26 19:35] crimsonfaith91 commented on #3261
@foxish sure! :)

[2017-04-26 19:35] feborges opened #3549 "Issue with /docs/getting-started-guides/ubuntu/manual/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
I'm using the git clone (the link below), when it finished I didn't find the folder ubuntu.

git clone --depth 1 https://github.com/kubernetes/kubernetes.git

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-04-26 20:58] ahmetb commented on #3549
@feborges what's your output. It works on my setup. Are you sure it did not fail?

[2017-04-26 21:02] feborges commented on #3549
When I executed the command KUBERNETES_PROVIDER=ubuntu ./kube-up.sh from the link https://kubernetes.io/docs/getting-started-guides/ubuntu/manual/

The error is:

... Starting cluster using provider: ubuntu
... calling verify-prereqs
Identity added: /root/.ssh/id_rsa (/root/.ssh/id_rsa)
... calling verify-kube-binaries
./kube-up.sh: line 45: verify-kube-binaries: command not found

[2017-04-26 21:30] ahmetb commented on #3549
So your `kubernetes` folder is now there? That's your original issue. I'd love to know if that worked first.

It looks like the documentation is a bit out of date given the `kube-up.sh` failed for you.

I see that doc says "Cloud team from Zhejiang University will maintain this work." Does anybody know how we can get a hold of them?

[2017-04-26 21:30] #3505 closed

[2017-04-26 21:31] #3525 closed

[2017-04-26 22:28] crimsonfaith91 commented on #3261
/assign @crimsonfaith91

[2017-04-27 01:10] crimsonfaith91 commented on #3261
@jberkus I am working on this issue. Apart from changing to 1.6 syntax for YAML files, I am thinking about showing `services.yaml`, or give a link to it. Where should I find the YAML file?

Is the line `i11:32 $ kubectl describe -f examples/init-container.yaml` a typo?

[2017-04-27 01:11] ankgupta commented on #3495
I am getting same error, though it may be just a `funny message` and not browser cookies, but is confusing.
Safari: 10.1
OS X : 10.12.4

<img width="826" alt="screen shot 2017-04-27 at 6 38 36 am" src="https://cloud.githubusercontent.com/assets/8265493/25463490/4a96a416-2b14-11e7-9e5b-38d0bf2ba58a.png">

[2017-04-27 02:09] MikeSpreitzer opened #3556 "/docs/admin/authorization/rbac/#controller-roles should say `--use-service-account-credentials` is required"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The cited doc section says that the controllers manager _can_ be given the `--use-service-account-credentials` argument but does not mention that this argument is *required*.  As far as I can tell, it *is required*.  When I tested release 1.6.2 without giving this argument many controllers failed due to lack of permissions.  He

[2017-04-27 03:27] jberkus commented on #3261
@crimsonfaith91 not sure what you mean with services.yml?  Why would you need to show that?

[2017-04-27 18:10] crimsonfaith91 commented on #3261
@jberkus I apologize for getting back to you late.

I am working on updating: https://kubernetes.io/docs/concepts/workloads/pods/init-containers/#init-containers-in-use

In the tutorial, there are a code snippet:
`$ kubectl create -f services.yaml
  service "myservice" created
  service "mydb" created`

As it mentions about `services.yaml`, i am thinking whether we need to include it (or a link to

[2017-04-27 18:17] aadams19 opened #3561 "Issue with /docs/concepts/containers/container-environment-variables/ downward API link broken"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
 downward API. link is broken

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-04-27 19:01] jberkus commented on #3261
Oh, yeah, I think you're right, we really need an example service.yaml file there because that's just confusing.  We'd have to create one from scratch, though, since that's just a dummy example.

[2017-04-27 19:35] crimsonfaith91 commented on #3261
I see. I will create `services.yaml` from scratch too.
I plan to include both 1.5 and 1.6 YAML files as there are clients using 1.5. Will it be fine?

[2017-04-27 19:50] jaredbhatti commented on #3366
I've asked Steve Perry to take a look at this content as well.  I think general troubleshooting information should be in a different location than under "tasks"

[2017-04-27 20:01] #3561 closed

[2017-04-27 20:01] jaredbhatti commented on #102
Ping.  This is over a year old at this point.  Please reopen if there will be work on this.

[2017-04-27 20:01] #102 closed

[2017-04-27 20:05] jaredbhatti commented on #178
There's been a number of fixes to contexts to make it far more understandable: https://github.com/kubernetes/kubernetes/issues/20605

[2017-04-27 20:05] #178 closed

[2017-04-27 20:07] #188 closed

[2017-04-27 20:16] #420 closed

[2017-04-28 01:55] techtonik opened #3566 "Master FAQ (Issue with /docs/tutorials/kubernetes-basics/cluster-intro/)"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

These things are not clear:
1. Is Master a Node?

It is said that **A Node is a VM or a physical computer**. Master should run somewhere. Does it run on **Master Node** that is a VM or a physical computer, but without `kubelet`?

2. Can Master run on the same Node as containers?

I assume that Node is a VM or a physical machin

[2017-04-28 02:04] crimsonfaith91 commented on #3261
I am able to create `services.yaml` and update the syntax of `myapp.yaml` to 1.6.
I will make a PR tomorrow. :)

[2017-04-28 02:15] allan-fan commented on #2566
There is a direct link to download the kubectl.exe file:
[http://storage.googleapis.com/kubernetes-release/release/v1.5.3/bin/windows/amd64/kubectl.exe](url)
More information can be found:
[https://console.ng.bluemix.net/docs/containers/cs_cli_install.html#cs_cli_install]

[2017-04-28 04:50] ahmetb commented on #3566
@techtonik broad: answer to your question is that kubernetes master is a software that runs on a node (a VM or a physical machine). Depending on the setup, kubernetes master may run as a Docker container, or a process directly on the operating system. You can run other containers on the node the master runs, but that is not preferred and nodes running the master often don’t run user workloads (aga

[2017-04-28 04:52] ahmetb commented on #3556
/assign liggitt

[2017-04-28 04:56] liggitt commented on #3556
It's not required. If you want to run all the control loops with a single credential, grant all the roles to that credential

[2017-04-28 05:02] liggitt commented on #3556
Will clarify that the individual controller roles must be granted as well

[2017-04-28 07:36] kargakis opened #3569 "Document pod-template-hash label for Deployments"
https://github.com/kubernetes/kubernetes/issues/44538#issuecomment-297922265

[2017-04-28 14:17] takahser opened #3570 "Outdated link in high-availability guide"
**This is a...**

- [ X ] Bug Report

**Problem:**
The [link](https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/getting-started-guides/docker) for the Docker based single node cluster instructions is outdated

**Proposed Solution:**
fix the link: https://github.com/kubernetes/community/blob/master/contributors/devel/local-cluster/docker.md

**Page to Update:**
https://github.com/

[2017-04-28 18:01] feborges opened #3573 "Issue with /docs/getting-started-guides/kubeadm/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

I created the cluster with this manual ( https://kubernetes.io/docs/getting-started-guides/kubeadm/ ). when I ran the command kubectl get pods --all-namespaces, I saw the error below.

kube-system   kube-dns-3913472980-l9lcv       0/3       rpc error: code = 2 desc = failed to start container "78c83884781e0b0154b9594c84b66b033

[2017-04-28 18:39] MikeSpreitzer opened #3575 "Issue with /docs/concepts/storage/persistent-volumes/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
https://kubernetes.io/docs/concepts/storage/persistent-volumes/ is inconsistent about whether a persistent volume can be of the FlexVolume type.  The table in https://kubernetes.io/docs/concepts/storage/persistent-volumes/#types-of-persistent-volumes omits FlexVolume, but the table at the end of the Access Modes subsection in h

[2017-04-28 18:46] erikgrinaker commented on #2676
I think this is a bug in the implementation, not the docs. The Kubernetes source code seems to confirm this:

https://github.com/kubernetes/kubernetes/blob/e443277d58e3ff1f0701ab97a1f4932389c27847/pkg/api/types.go#L1904-L1906

Perhaps resubmit this as an issue on the main Kubernetes repo?

[2017-04-28 21:45] ahmetb opened #3577 "/docs/admin/daemons/ redirect URL is serving application/octet-stream"
If you visit https://kubernetes.io/docs/admin/daemons/ the browser is trying to download the page because it is served as `Content-Type: application/octet-stream`. I can't understand why.

But it's actually trying to do a redirect:

[code]

Could something be hinting github pages or nginx to interpret this as a non-HTML content?

@steveperry-53 have you seen this in other redirections before?

[2017-04-28 21:57] chenopis commented on #3366
I've moved Troubleshooting into the Home ToC as well as adding a blurb about it on the Home landing page. I also added a redirect for `/docs/troubleshooting` to go to the correct page.

[2017-04-28 21:57] #3366 closed

[2017-04-28 23:36] chenopis commented on #515
Ok, things should be cleaned up now. The Swagger UI is gone, but I left links to the spec and swagger.json in the ToC of the [Reference](https://kubernetes.io/docs/reference/) section.

[2017-04-28 23:36] #515 closed

[2017-04-28 23:37] chenopis commented on #1569
I left links to the spec and swagger.json in the ToC of the [Reference](https://kubernetes.io/docs/reference/) section.

[2017-04-28 23:37] #1569 closed

[2017-04-29 07:16] techtonik commented on #3566
@ahmetb
![module_01_cluster_master](https://cloud.githubusercontent.com/assets/515889/25553752/d53aacc8-2cc4-11e7-8df1-51bf5c338377.png)
[master-node.zip](https://github.com/kubernetes/kubernetes.github.io/files/965973/master-node.zip)

[2017-04-29 07:32] techtonik opened #3584 "Reusing SVG blocks"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
Reusing SVG building blocks for my own diagrams.

I like k8s style for cluster diagrams (https://github.com/kubernetes/kubernetes.github.io/issues/3566#issuecomment-298152478), so how can I use them in my own works? Should I put CC-BY 4.0 on every my drawing with attribution info or there is another way?

Also, how about making

[2017-04-29 07:33] techtonik commented on #747
It is still necessary - #3584

[2017-04-29 07:34] techtonik commented on #747
I'd like to create Inkscape symbol library and even cover it with some history to introduce people into it if there are some funds.

[2017-04-29 07:35] techtonik commented on #84
@tsloughter see #747.

[2017-04-29 07:36] techtonik commented on #747
Also would be nice to have some convention for placing such symbols in source code repositories.

[2017-04-29 17:28] dbafast opened #3586 "Issue with /docs/getting-started-guides/centos/centos_manual_config/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Failed stock install
Installed Linode server with Centos 7 image,
Linux li773-70.members.linode.com 4.9.15-x86_64-linode81 #1 SMP Fri Mar 17 09:47:36 EDT 2017 x86_64 x86_64 x86_64 GNU/Linux
#############################
 pulled docker from here
echo "[virt7-docker-common-release]
name=virt7-docker-common-release
baseurl=http://

[2017-04-29 18:05] dbafast commented on #3586
And one more try USING CE instead of redhat distro
INSTALL OF DOCKER CE DOES NOT WORK EITHER :
[root@li1433-168 ~]# yum list docker-ce.x86_64  --showduplicates |sort -r
 * updates: mirrors.linode.com
Loading mirror speeds from cached hostfile
Loaded plugins: fastestmirror
 * extras: mirrors.linode.com
docker-ce.x86_64            17.03.1.ce-1.el7.centos             docker-ce-stable
docker-ce.x86_64

[2017-04-29 22:16] nitinja08 commented on #2502
I get the same problem

root@demo4 Builds]# kubectl --namespace="kube-system" logs kubernetes-dashboard-3203962772-x33rd
Using HTTP port: 9090
Creating API server client for https://10.254.0.1:443
Error while initializing connection to Kubernetes apiserver. This most likely means that the cluster is misconfigured (e.g., it has invalid apiserver certificates or service accounts configuration) or th

[2017-04-29 22:18] nitinja08 commented on #2502
[root@demo4 Builds]# kubectl describe pods kubernetes-dashboard-3203962772-x33rd --namespace=kube-system
Name:           kubernetes-dashboard-3203962772-x33rd
Namespace:      kube-system
Node:           192.168.56.12/192.168.56.12
Start Time:     Sun, 30 Apr 2017 00:01:27 +0200
Labels:         app=kubernetes-dashboard
                pod-template-hash=3203962772
Status:         Running
IP:

[2017-04-29 22:56] jberkus commented on #3261
Looks good to me.  Closing issue. Thanks so much!

[2017-04-29 22:56] #3261 closed

[2017-04-30 04:10] praving55 opened #3588 "Issue with /docs/admin/admission-controllers/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Missing Documentation for all admission controllers. Below is the current list of admission controllers
[code]

However, the current documentation explaining each of them has information only for
[code]

**Proposed Solution:**
Take some time to document

**Page to Update:**
https://kubernetes.io/docs/admin/admission-controllers

[2017-05-01 13:51] moveax3 opened #3590 "Issue with /docs/tutorials/kubernetes-basics/cluster-interactive/"
**This is a...**

- [ ] Feature Request
- [ *] Bug Report

**Problem:**
[Error] Failed to load resource: Не удалось подключиться к серверу. (embed.js, line 0)

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-05-01 16:46] BenHall commented on #3495
This happens when 3rd party cookies are not allowed. We're looking at how to support cookieless but taking longer than expected. We'll hopefully have it fixed in the next couple of weeks.

[2017-05-01 17:13] ahmetb commented on #3495
awesome @BenHall thanks!

[2017-05-01 17:13] ahmetb commented on #3590
Can you please send a screenshot of the error? Is your browser’s cookie settings enabled?

[2017-05-01 17:59] ahmetb commented on #3586
@dbafast can you please open an issue on the Kubernetes main repository or ask on https://groups.google.com/forum/#!forum/kubernetes-users ? This issue tracker is particularly for documentation and I don’t think we can provide the required assistance.

[2017-05-01 18:02] ahmetb commented on #3566
@techtonik The problem I see (sort of) with this is that the users are not always necessarily exposed to the Kubernetes Master. In some cases (such as Google Container Engine) users do not see the master at all, as it is managed by the cloud provider.

But I see your confusion is around 1) where does the master run? is it a separate node 2) can other processes/containers run on the machine the mas

[2017-05-01 18:24] ahmetb commented on #3588
@praving55 Thanks for reporting. If you have time, contributions are welcome.

[2017-05-02 06:15] moveax3 commented on #3590
![2017-05-02 11 14 35](https://cloud.githubusercontent.com/assets/5323081/25606036/95369522-2f28-11e7-93a1-c1415736b175.png)

all browser functions is enabled, default setting, in safary and chrome and firefox.

[2017-05-02 08:48] Ngo-The-Trung opened #3595 "Downward API doc 404 flash"
This URL: https://kubernetes.io/v1.1/docs/user-guide/downward-api.html is the top most result when googling "kubernetes downward api". It eventually redirects to https://kubernetes.io/docs/user-guide/downward-api/ , although briefly flashes a "404 error" page before redirecting. I don't think the 404 flash is intended.

[2017-05-02 09:29] jabley opened #3596 "Issue with /docs/tutorials/stateless-application/hello-minikube/ - can't build docker image"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

Building the docker image isn't working. Following the steps in the tutorial (on a Mac running 10.12.4), I get:

[code]

I can build it when I've not run the `eval` step to export the minikube docker-env.

**Proposed Solution:**

???

**Page to Update:**

[code]

[2017-05-02 17:23] ahmetb opened #3598 "Issue with /docs/tutorials/stateless-application/run-stateless-ap-replication-controller/"
**This is a...**
- [x] Bug Report

**Problem:**

https://kubernetes.io/docs/tutorials/stateless-application/run-stateless-ap-replication-controller/

This page is titled `Run Stateless AP Replication Controller`. I have no idea what `AP` means and it is not explained anywhere.

My only theory is that it is the availability/partition-tolerance, AP, part of the CAP theorem. I hope it’s not this beca

[2017-05-02 17:29] ahmetb commented on #3596
@jabley first of your issue is better suited for https://github.com/kubernetes/minikube/issues

Maybe it's something simple we can resolve. What's your `minikube status`? When you do `eval $(minikube docker-env)`, can you run `docker ps` in the same shell?

[2017-05-02 17:30] ahmetb commented on #3595
@Ngo-The-Trung it's currently intended until we have server-side redirects.

[2017-05-02 17:42] #2815 closed

[2017-05-02 18:02] ahmetb commented on #3584
@jaredbhatti do you happen to have an answer for this?

[2017-05-02 18:23] ahmetb commented on #3573
Hello @feborges, it looks like you have a question rather than a bug report about the documentation. You have a better chance of getting help in asking your questions in one of the Kubernetes help channels listed below (sorted by activity amount). We are not well-equipped to answer these questions.

- :shipit: **Slack:** http://slack.k8s.io/ (`#kubernetes-users` or `#kubernetes-novice channels`)
-

[2017-05-02 18:24] ahmetb commented on #3577
@kubernetes/sig-docs-maintainers any ideas?

[2017-05-02 18:25] #3443 closed

[2017-05-02 18:28] ahmetb commented on #3470
@steveperry-53 do you know who maintains the bootcamp tutorial?

[2017-05-02 18:59] #3345 closed

[2017-05-02 19:03] ahmetb commented on #3485
Hello @teotia39 , it looks like you have an advanced question and not a bug report for the documentation. You have a better chance of getting help in asking your questions in one of the Kubernetes help channels listed below (sorted by activity amount). We are not well-equipped to answer these questions.

- :shipit: **Slack:** http://slack.k8s.io/ (`#kubernetes-users` or `#kubernetes-novice channel

[2017-05-02 19:06] ahmetb commented on #3466
@chenopis it looks like the page is already moved. Can we close?

[2017-05-02 19:06] chenopis commented on #3577
I think I know what it is. There is a typo in the `redirect_from` directive in `/docs/concepts/workloads/controllers/daemonset.md`.

[2017-05-02 19:07] ahmetb commented on #3435
Looks like this is fixed. @chenopis can we close please/

[2017-05-02 19:09] ahmetb commented on #3398
@aaron-prindle do you have any guidance here?

[2017-05-02 19:11] chenopis commented on #3577
Yup, that did the trick.

[2017-05-02 19:11] #3577 closed

[2017-05-02 19:13] #3466 closed

[2017-05-02 19:13] #3435 closed

[2017-05-02 19:13] ahmetb commented on #3282
Apparently this is now updated to say:

@craigbilner if this solves the problem, consider closing the issue.

[2017-05-02 19:15] ahmetb commented on #3316
@gajus I am not sure, but I think the reason ELK stack doesn't work on Google Container Engine is because it's a solution pre-configured by Google and you cannot modify the low level details like the logging configuration.

[2017-05-02 19:15] #3472 closed

[2017-05-02 19:16] #3357 closed

[2017-05-02 19:18] ahmetb commented on #3281
@bgrant0607 do you have any plans to revamp `what-is-kubernetes` page?

[2017-05-02 19:20] ahmetb commented on #3277
@justinsb it looks like the [bash deployment for AWS is now obsolete](https://github.com/kubernetes/kubernetes/blob/master/cluster/aws/util.sh). Do you have time to help bringing this page up to date?

[2017-05-02 19:21] ahmetb commented on #3271
@idvoretskyi can you please take a look at this?

[2017-05-02 19:22] ahmetb commented on #3249
@kow3ns can you please take a look at this?

[2017-05-02 19:23] aaron-prindle commented on #3398
We have removed the auto-generated CLI documentation for now.  We are in the process of refactoring our docs https://github.com/kubernetes/minikube/pull/1410 and removing the relative links in our readme so that we can better automate updating the kubernetes.github.io page.  I have for now submitted a PR removing the hyperlinks from the kubernetes.github.io page: #3605

[2017-05-02 19:23] ahmetb commented on #3248
Hello, it looks like you have a question and not a bug report for the documentation. You have a better chance of getting help in asking your questions in one of the Kubernetes help channels listed below (sorted by activity amount). We are not well-equipped to answer these questions.

- :shipit: **Slack:** http://slack.k8s.io/ (`#kubernetes-users` or `#kubernetes-novice channels`)
- 📫  **Mailing li

[2017-05-02 19:23] ahmetb commented on #3211
@bowei do you have time to add these docs? Would you like to self-assign?

[2017-05-02 19:26] idvoretskyi commented on #3271
cc @kubernetes/sig-openstack-bugs @zreigz

[2017-05-02 19:28] ahmetb commented on #3398
@aaron-prindle thanks!

[2017-05-02 19:33] #3570 closed

[2017-05-02 19:33] #3575 closed

[2017-05-02 20:56] ahmetb commented on #3316
@crassirostris @piosz can you please explain why is the following the case for GKE?

It sounds like if you set up a DaemonSet, you can make GKE upload the logs anywhere you like. Obviously the `kube-up.sh` cannot be used for GKE, but saying "ELK stack don’t work on Container Engine" is misleading.

[2017-05-02 21:01] crassirostris commented on #3316
@ahmetb TBH, it existed there for quite some time, I haven't paid much attention to it, my fault.

I think that's what's meant by this phrase. I will send a PR to fix it shortly.

[2017-05-02 21:04] craigbilner commented on #3282
thanks @ahmetb, not really.

I'm still not clear on the "why" and why one wouldn't use it all the time, just in case you want to use `apply` in the future, and in that case why it's not the default etc. etc.

[2017-05-02 21:10] crassirostris commented on #3316
@gajus Overall, to the original question: we're pushing the idea that Kubernetes is not about logging or monitoring, it should just expose some integration points and let other solutions to integrate with it. We don't plan to support existing installation in the future, I would suggest taking a look at e.g https://github.com/pires/kubernetes-elasticsearch-cluster, it's much more up to date and wel

[2017-05-02 21:17] timothysc opened #3607 "Document best practices on LB configuration(s)."
**This is a...**

- [X] Feature Request
- [ ] Bug Report

**Problem:**
Missing documentation on best practices for LB configurations.

**Proposed Solution:**

- Leverage /healthz endpoint in LB configs settings.
  - http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-healthchecks.html . This is to ensure that requests are properly sent to active api-servers.

- Encourage LBs leverag

[2017-05-02 21:18] bowei commented on #3211
/assign @bowei

[2017-05-02 21:52] ahmetb commented on #3282
@craigbilner I had the same annoyance. Basically we should have only `kubectl apply` everywhere. I don't think there's any point of using `kubectl create` in particular (not sure why someone wouldn't like to save the last-applied-configuration). I have a thread about this here: https://groups.google.com/forum/#!msg/kubernetes-users/eA0KlrynWCQ/lkJTvMx9CAAJ;context-place=forum/kubernetes-users

[2017-05-02 21:56] jabley commented on #3596
[code]

[2017-05-02 21:58] ahmetb commented on #3596
@jabley it looks like there's something wrong with the dns inside the minikube VM. Are you using virtualbox or xhyve?

[2017-05-02 21:58] craigbilner commented on #3282
cool, ta. I guess if you want to close this request the quickest way would be to remove `See managing resources with kubectl apply for the reason behind it` if there's actually no reason :-)

[2017-05-02 22:10] mikeln commented on #322
+100 for this to get implemented.

[2017-05-02 22:23] ahmetb commented on #3282
to be honest I read https://kubernetes.io/docs/tutorials/object-management-kubectl/object-management/#trade-offs-1 still can't tell why would I use `kubectl create` instead of `kubectl apply`. :/

[2017-05-02 23:04] ahmetb opened #3608 "Issue with /docs/concepts/configuration/manage-compute-resources-container/"
## Problem

https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/

Multiple statements in this page claim you can set resource limits on Pods (not at container-level). Such as:

1. There's no examples of this in the document.
2. Section “_Resource requests and limits of Pod and Container_“ only has examples of `spec.containers[].*`
3. The title of this doc says "_Ma

[2017-05-02 23:36] kow3ns commented on #3249
@ahmetb looking

[2017-05-03 00:56] techtonik opened #3612 "Issue with /docs/getting-started-guides/ubuntu/local/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
It is not clear if LXD nodes are running Docker containers.

https://kubernetes.io/docs/getting-started-guides/ubuntu/local/

[2017-05-03 01:13] techtonik commented on #3566
It is still not clear - if master node can run user workloads, then it should be in a Docker container and also running `kubelet`, right?

[2017-05-03 06:43] jabley commented on #3596
Closed in favour of https://github.com/kubernetes/minikube/issues/1442

Thanks @ahmetb

[2017-05-03 06:43] #3596 closed

[2017-05-03 08:45] zoidbergwill commented on #3608
I don't see anything in explain or the docs online either for [`v1.PodSpec`](https://kubernetes.io/docs/api-reference/extensions/v1beta1/definitions/#_v1_podspec).

Maybe the docs mean Pods just in the way that it's an aggregate of the `requests` for the containers, definitely worth clearing up though.

`pod.alpha.kubernetes.io/opaque-int-resource-foo: 1`  is also done container-level which is qui

[2017-05-03 12:18] #3573 closed

[2017-05-03 12:18] #3549 closed

[2017-05-03 13:31] anuribs commented on #2197
I am currently facing the issue mentioned in http://stackoverflow.com/questions/43759332/coredns-in-k8s-federation-in-on-prem-clusters-doesnt-work. I would appreciate if someone could tell me the reason of this behavior or possible fixes of this problem. I have followed all the steps mentioned in the documentation.

[2017-05-03 15:30] chenopis commented on #2197
Have you asked the kubernetes-dev group (https://groups.google.com/forum/#!forum/kubernetes-dev)?

[2017-05-03 17:42] ahmetb commented on #3612
cc: @castrojo

[2017-05-03 18:08] marcoceppi commented on #3612
Thanks for the report. Yes, the LXD nodes serve as "machines" for running kubelet, the docker processes are then run inside of LXD. I'll put up a pull request to include a diagram and description

[2017-05-03 21:09] MarkRebuck opened #3624 "Issue with /docs/getting-started-guides/minikube/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

"On kubectl See the kubectl installation instructions for more details." ... the link points to https://kubernetes.io/docs/getting-started-guides/kubectl/ .  But if you follow that link, there is a message that the documentation is now at...

**Proposed Solution:**

https://kubernetes.io/docs/tasks/kubectl/install/

**Page to

[2017-05-03 23:00] vlovini opened #3625 "Issue with /docs/setup/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-05-03 23:01] #3625 closed

[2017-05-04 02:35] gyliu513 opened #3629 "Example for podAntiAffinity with preferredDuringSchedulingIgnoredDuringExecution"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

We are using `requiredDuringSchedulingIgnoredDuringExecution` for the example of `podAntiAffinity` and `podAffinity`, it is better to update `podAntiAffinity` to use `preferredDuringSchedulingIgnoredDuringExecution` so that we can cover both kind of affinity in one example.

[code]

**Proposed Solution:**
[code]

**Page to Upd

[2017-05-04 02:57] gyliu513 commented on #3629
@davidopp comments? I think that it would be better if we can have one example to cover both kind of pod affinity.

[2017-05-04 05:49] techtonik commented on #153
It is now here: https://kubernetes.io/docs/tasks/kubectl/install/

[2017-05-04 05:51] techtonik commented on #3612
Yes. Took time to figure it out. https://github.com/lxc/lxd/issues/670#issuecomment-298731344

[2017-05-04 06:43] StarkWei opened #3630 "Issue with /docs/setup/kubelet_node_status.go:230"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-05-04 06:43] #3630 closed

[2017-05-04 07:34] davidopp commented on #3629
Sure, these examples are very contrived anyway, so seems fine to do as you suggested.

[2017-05-04 10:52] VijayVijayaguru opened #3632 "Issue with /docs/getting-started-guides/minikube/"
Hi All,

First, thanks for providing online support on Kubernets.
I have loaded ubuntu 14.04 and I am trying to install minikube to discover docker containers.
I have referred below links for installation.

1.Installing Cloud SDK
https://cloud.google.com/sdk/downloads#linux

2. Installing and Setting Up kubectl
https://kubernetes.io/docs/tasks/kubectl/install/

3.Using a Service to Access an Appli

[2017-05-04 18:10] feborges opened #3636 "Issue with /docs/tasks/web-ui-dashboard/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
I'm using ubuntu 16.04.

I want to configure the kubectl proxy to run when the master kubernetes reboot. I wrote the command in the file /etc/rc.local, but it didn't work.

The command:
     **kubectl proxy --address='0.0.0.0' --port=8001 --accept-hosts='^*$' &**   (execute in background)

I executed the command to see the stat

[2017-05-04 22:28] omarkj opened #3641 "Issue with /docs/concepts/workloads/controllers/deployment/"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
The documentation for Min Ready Seconds seems to contradict itself. It states both that the default value is 600s and that it is 0, see below:

Min Ready Seconds
.spec.minReadySeconds is an optional field **(with default value of 600s)** that specifies the minimum number of seconds for which a newly created Pod should be ready w

[2017-05-04 22:30] ahmetb commented on #3612
@techtonik if you have time, we really appreciate if you can send a patch to the documentation to make ease other people’s potential pains in the future.

[2017-05-05 02:33] gyliu513 opened #3649 "Update doc for init continer"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
[CHANGELOG](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#pod)

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/concepts/workloads/pods/init-containers/

[2017-05-05 07:50] gyliu513 commented on #3649
/assign

[2017-05-05 11:56] feborges commented on #3636
Is there a way to configure a service to verify if the dashboard is up? If it down, the service check and start.

[2017-05-05 17:42] ahmetb opened #3656 "Restore links to API reference Resources docs"
@pwittrock reported people still use `resources-reference` instead of `api-reference` sometimes because that's basically a web UI for `kubectl explain` and makes object model more available to write YAML manifests (not to mention, it has manifest samples too).

We should probably restore links to these pages (https://kubernetes.io/docs/resources-reference/v1.6/)

[2017-05-05 17:42] ahmetb commented on #3656
/assign @ahmetb

[2017-05-05 20:01] techtonik opened #3658 "No link anchor to Cluster Diagram (Issue with /docs/tutorials/kubernetes-basics/cluster-intro/)"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
I can't give a link to Cluster Diagram, because no <a name or id is generated for h2 header.

**Proposed Solution:**
Generate anchors for subsections.

**Page to Update:**
https://kubernetes.io/docs/tutorials/kubernetes-basics/cluster-intro/

[2017-05-05 20:06] techtonik commented on #3612
@ahmetb see PR above.

[2017-05-05 20:38] ahmetb commented on #3612
Thanks.

[2017-05-05 23:14] sergebug opened #3664 "Issue with /docs/tutorials/kubernetes-basics/scale-interactive/"
**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**
Step 2 of module 5 uses pre-existing service

kubectl describe services/kubernetes-bootcamp

This service is deleted during the module 4 therefore it's not possible to get the command above  produce valid result locally

**Proposed Solution:**

Do not create service in advance and include create service command in the exercise

[2017-05-06 09:05] #3612 closed

[2017-05-06 11:17] ankitkariryaa opened #3666 "Issue with /docs/getting-started-guides/minikube/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
OS X xhyve driver, broken link

**Proposed Solution:**
Link to https://github.com/zchee/docker-machine-driver-xhyve

**Page to Update:**
http://kubernetes.io/...

[2017-05-08 03:56] justinsb commented on #3277
@ahmetb do you think we should just remove references to kube-up entirely from that page (and keep e.g. the sizing information)?

[2017-05-08 16:37] japkin opened #3675 "Issue with /docs/tutorials/kubernetes-basics/deploy-interactive/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
Proxy command is stuck and never completes:

Starting to serve on 127.0.0.1:8001

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-05-08 16:52] ahmetb commented on #3277
@justinsb you're the subject matter expert in the area so I think we’re more open to suggestions from you. What I notice is that the ToC goes like:

- kube-up is **no longer supported** in kubernetes 1.6
  - Prerequisites
  - Cluster turnup
    - Supported procedure: get-kube **(&larr; super confusing whether it’s supported or not)**

The user-reported bug comes from that confusing section that do

[2017-05-08 20:53] #3636 closed

[2017-05-08 21:46] attesch opened #3681 "Issue with /docs/concepts/configuration/secret/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

[Risks](https://kubernetes.io/docs/concepts/configuration/secret/#risks) identified for Kubernetes Secrets should indicate that the secrets stored in YAML files must be protected.

**Proposed Solution:**

Add Risk Bullet:
- If a Base64 encoded secret is shared, it should be considered Compromised.  For Example: Checking secret

[2017-05-09 00:37] shiliy opened #3683 "Issue with /docs/getting-started-guides/kubeadm/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
I'm following the steps to set up a single-machine Kubernetes cluster on my Ubuntu 16.04 VM with Docker 1.17. Everything up until 'kubeadm init' reported success, yet there is no proxy/API server listening/exposed on localhost:8080, i.e. when I run
root@csx00361:~# kubectl taint nodes --all node-role.kubernetes.io/master-
The

[2017-05-09 19:02] rickbrauen opened #3697 "Issue with /docs/tutorials/kubernetes-basics/deploy-interactive/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
Live interaction is not possible. Scenario kicks off but terminal screen says internet connection has dropped.

**Proposed Solution:**
I believe the terminal emulator program has crashed and needs to be restarted.

**Page to Update:**
https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-interactive/

[2017-05-10 02:09] riturajtiwari commented on #2325
I have the same problem with 1.6.2:
[code]

I get the following error:
[code]

[2017-05-10 09:52] xilabao commented on #3683
you shoud run the commands
[code]

[2017-05-10 15:58] MoniquevandenBerg opened #3705 "Issue with /docs/getting-started-guides/kubeadm/"
Issue with /docs/getting-started-guides/kubeadm/
I am attempting to install on a VM running Ubuntu 16.04.

After following the steps in the guide above, an error occurs with step (4/4) Installing a pod network
after running the following command: kubectl apply -f calico.yaml
I get the following error: "The connection to the server localhost:8080 was refused - did you specify the right host or port

[2017-05-10 18:32] joshrosso opened #3710 "Issue with concepts/workloads/controllers/cron-jobs/#prerequisites"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

In the prereqs section of CronJobs, adding the flag to the API server isn't enough if you're adding this to an existing cluster.

**Proposed Solution:**

We should note in the prereq section of CronJobs that if adding the `--runtime-config=batch/v2alpha1=true` to a running cluster, you *must restart your controller managers* a

[2017-05-10 19:51] henriquetruta opened #3712 "Needs proper doc to FederatedReplicaSetPreference"
ClusterReplicaSetPreferences docs point to a source code file in the main repo

This also happens in /docs/tasks/administer-federation/replicaset/

[2017-05-10 19:52] henriquetruta commented on #2140
Related: https://github.com/kubernetes/kubernetes.github.io/pull/3708

[2017-05-11 07:14] publicitas-deployment opened #3717 "Issue with /docs/tasks/tools/install-minikube/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The link to the xhyve driver in the OS X install instructions is broken.

**Proposed Solution:**
Replace the link with this one:

https://github.com/kubernetes/minikube/blob/master/docs/drivers.md#xhyve-driver

**Page to Update:**
http://kubernetes.io/docs/tasks/tools/install-minikube/

[2017-05-11 21:03] johnappliedbb opened #3725 "Issue with /docs/getting-started-guides/centos/centos_manual_config/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
In bullet item "Configure kubectl"

**Proposed Solution:**

Are these configuration actions to be take on the master only or also on the Minions?

**Page to Update:**
http://kubernetes.io/...

[2017-05-11 23:40] sdanieru opened #3726 "Issue with /docs/tasks/access-application-cluster/connecting-frontend-backend/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
[code]

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-05-12 10:29] ZhijiaYang opened #3729 "Issue with /docs/concepts/overview/working-with-objects/labels/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
 is there anyway to do "and" and "or" for more than twolable selector

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-05-12 10:35] ZhijiaYang commented on #3729
miss it...

[2017-05-12 10:35] #3729 closed

[2017-05-12 22:22] #3629 closed

[2017-05-13 04:14] javajon opened #3734 "Issue with /docs/getting-started-guides/dcos/"
**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**

Instructions on this page say "dcos config prepend..."  My dcos command does not offer that option:

dcos config prepend package.sources https://github.com/mesosphere/multiverse/archive/version-1.x.zip
Command not recognized

Usage:
    dcos config --help
    dcos config --info
    dcos config --version
    dcos config set <n

[2017-05-13 11:00] erikbgithub opened #3735 "Issue with /docs/concepts/services-networking/service/"
**This is a...**
- [ ] Feature Request
- [ ] Bug Report
- [x] Documentation Changerequest

**Problem:**
The linked page (also [here](https://kubernetes.io/docs/concepts/services-networking/service/)) describes external access to internal services via NodePort. But when I talk to people who really know Kubernetes well they always suggest to externalize services via Ingress. Without this info at the

[2017-05-14 03:26] remram44 commented on #3199
Yes. Having a document that tells you to run a command that sends you to the document is absurd.

[2017-05-14 17:25] jaredbhatti commented on #3734
The problems of linking to another group's docs :(

Is there someone at Mesosphere we can talk to?

[2017-05-14 17:37] jaredbhatti commented on #3712
Do you mean FederatedReplicaSetPreference?  I can't find ClusterReplicaSetPreference

[2017-05-14 17:42] jaredbhatti commented on #3717
Appears to already be fixed.

[2017-05-14 17:42] #3717 closed

[2017-05-14 17:44] jaredbhatti commented on #3725
Not sure, need tech clarification

[2017-05-14 17:48] jaredbhatti commented on #3726
Can you give me some more context on this error?

[2017-05-14 17:50] jaredbhatti commented on #3595
Yeah.  :(
Working on fixing this at some point, but not until the next quarter or two.

[2017-05-14 17:50] #3595 closed

[2017-05-14 17:54] jaredbhatti commented on #3598
Looks like this has been fixed. Please reopen if there's still an issue.

[2017-05-14 17:54] #3598 closed

[2017-05-14 17:56] jaredbhatti commented on #3608
I think this has been somewhat clarified in the section: https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#resource-requests-and-limits-of-pod-and-container

"Although requests and limits can only be specified on individual Containers, it is convenient to talk about Pod resource requests and limits. A Pod resource request/limit for a particular resource type is

[2017-05-14 17:56] #3608 closed

[2017-05-14 17:58] jaredbhatti commented on #3624
Appears to be fixed.

[2017-05-14 17:58] #3624 closed

[2017-05-14 18:00] jaredbhatti commented on #3632
This issue queue is only for docs :(  Can you try the kubernetes slack channel or the main K8s repo instead?

[2017-05-14 18:00] #3632 closed

[2017-05-14 18:00] jaredbhatti commented on #3641
Default should be zero.  Updated.

[2017-05-14 18:00] #3641 closed

[2017-05-14 18:23] jaredbhatti commented on #3658
More of a feature request.  Our standard pages have anchors, but the interactive tutorial pages don't since they were written by a third party.

[2017-05-14 18:24] jaredbhatti commented on #3656
You mean "restore links from k8s.io pages to the 1.6 reference"?

[2017-05-14 18:27] jaredbhatti commented on #3664
The interactive tutorial was built by a third party, so I'll reach out to them.

[2017-05-14 18:27] jaredbhatti commented on #3666
Fixed.

[2017-05-14 18:27] #3666 closed

[2017-05-14 18:33] jaredbhatti commented on #3675
Doesn't seem to be happening now, but I'm keeping an eye on the interactive tutorial since it's getting a lot of bugs.

[2017-05-14 18:33] #3675 closed

[2017-05-14 18:35] jaredbhatti commented on #3681
Add the bullet above under the following section:
https://kubernetes.io/docs/concepts/configuration/secret/#risks

[2017-05-14 18:37] jaredbhatti commented on #3697
Should work now.  I'm keeping an eye on these interactive tutorial issues since they seem to be accumulating.

[2017-05-14 18:37] #3697 closed

[2017-05-14 18:39] #3495 closed

[2017-05-14 18:40] #3485 closed

[2017-05-14 18:41] jaredbhatti commented on #3502
This doesn't appear to be a request for documentation.  I'm going to close this issue, but if there's something I need to document here, please reopen.

[2017-05-14 18:41] jaredbhatti commented on #3527
Marking this issue closed. Thanks!

[2017-05-14 18:41] #3527 closed

[2017-05-14 18:42] jaredbhatti commented on #3556
Any updates?

[2017-05-14 18:44] jaredbhatti commented on #3569
What's the progress on this?  Do you need help from the docs team (SIG-Docs)?

[2017-05-14 18:46] jaredbhatti commented on #3584
The diagrams were created by a third party, so I don't have their image libraries.  Brian Grant might know more, or who to reach out to.

[2017-05-14 18:46] jaredbhatti commented on #3586
Closing this issue since it's not a docs issue.  Please reopen if necessary.  Thanks!

[2017-05-14 18:46] #3586 closed

[2017-05-14 18:53] jaredbhatti opened #3749 "Create a concept doc for Projected Volumes"
**Problem:**
There are a few tasks that talk about projected volumes:
https://kubernetes.io/docs/tasks/configure-pod-container/projected-volume/

but the only concepts doc available is the community-proposed design doc: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/all-in-one-volume.md

**Proposed Solution:**
Convert the community doc into a proper concepts docs

[2017-05-14 18:53] kargakis commented on #3502
People are going to need to setup rebalancing for distributed DBs so I think it's worth documenting the steps.

[2017-05-14 18:54] kargakis commented on #3569
I will try to get at this in the upcoming week

[2017-05-14 19:21] techtonik commented on #3658
Changed to feature request.

[2017-05-14 20:15] jaredbhatti commented on #3588
Appears that the following are missing:

DefaultStorageClass
DefaultTolerationSeconds
InitialResources
LimitPodHardAntiAffinityTopology
LimitRanger
NamespaceAutoProvision
NamespaceExists
OwnerReferencesPermissionEnforcement
PersistentVolumeLabel
PodNodeSelector
PodPreset

Also, we should reorganize this page into alphabetical order.

[2017-05-14 20:40] jaredbhatti commented on #3460
Closing this issue for now.

[2017-05-14 20:40] #3460 closed

[2017-05-14 22:36] jseldess commented on #3749
For now, in https://github.com/kubernetes/kubernetes.github.io/pull/3771, I've listed the `projected` volume type on the volumes concept page.

[2017-05-14 22:39] jseldess opened #3773 "Add configMap volume type to the Volumes concept page"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The `configMap` volume type is not listed on the [Volumes](https://kubernetes.io/docs/concepts/storage/volumes/#secret) concept page.

This came up when I was adding the `projected` volume type to that page, `configMap` being one of 3 types that can be projected.

**Proposed Solution:**

Add a new section on this type.

**Page

[2017-05-15 08:30] radhefa opened #3785 "Issue with /docs/user-guide/jsonpath/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-05-15 08:34] radhefa opened #3786 "Issue with /docs/tasks/administer-cluster/configure-pod-disruption-budget/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
http://kubernetes.io/...

[2017-05-15 13:05] henriquetruta commented on #3712
@jaredbhatti exactly! FederatedReplicaSetPreference is correct. Sorry for it

[2017-05-15 17:26] ahmetb commented on #3785
@chenopis Close.

[2017-05-15 17:28] ahmetb commented on #3786
@chenopis close.

@radhefa please don't open empty issues.

[2017-05-15 17:28] ahmetb commented on #3773
@jseldess would you like to contribute a patch?

[2017-05-15 17:30] ahmetb commented on #3734
This doc did not get any updates within the past 1.5 years, it's no surprise it's broken. I think we should just remove this page. Thoughts @steveperry-53?

[2017-05-15 17:34] ahmetb commented on #3726
@sdanieru your Kubernetes client is 1.6 and server is old (probably 1.5). Can you upgrade or download and edit the `frontend.yaml` to have `apiVersion: extensions/v1beta1` instead of `apps/v1beta1`?

[2017-05-15 17:37] ahmetb commented on #3725
@johnappliedbb you can apply `Configure kubectl` section if you're planning to use kubectl on all your minions. Ideally I think you should be installing kubectl only on the machine that you will manage your kubernetes cluster from.

I see the tutorial creates are `centos-master` host entry in /etc/hosts, so wherever that host entry is present (looks like it's added to all machines in the cluster)

[2017-05-15 17:38] ahmetb commented on #3710
@joshrosso do you mind contributing a patch to the doc?

[2017-05-15 17:38] ahmetb commented on #3705
Hello, it looks like you have a question and not a bug report for the documentation. You have a better chance of getting help in asking your questions in one of the Kubernetes help channels listed below (sorted by activity amount). We are not well-equipped to answer these questions.

- :shipit: **Slack:** http://slack.k8s.io/ (`#kubernetes-users` or `#kubernetes-novice channels`)
- 📫  **Mailing li

[2017-05-15 19:00] knabben opened #3795 "Issue with /docs/tasks/configure-pod-container/configmap/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
See Consuming ConfigMaps in Pods. link is broke.

**Proposed Solution:**
Should be pointing to ??

**Page to Update:**
https://kubernetes.io/docs/tasks/configure-pod-container/configmap/

[2017-05-15 21:14] jseldess commented on #3773
@ahmetb, sure, happy to give it a shot. I have another PR touching that page, though, so would it be ok to integrate this work into that PR, or would you prefer I handle it in a separate PR (conflicts would eventually need to be resolved in one or the other PR).

[2017-05-15 21:23] ahmetb commented on #3773
You can submit it after existing PR is merged, it'd be easier for you probably as well.

[2017-05-15 21:43] jseldess commented on #3773
OK, sure. Anything I can do to speed up that other PR? It requires a response/input from an engineer.

[2017-05-15 21:45] ahmetb commented on #3773
@jseldess you can add a couple of owners from the `assignees` header of the markdown documents in the patch. It can take 1-2 days for people to review.

[2017-05-15 21:46] ahmetb commented on #3773
It looks like you can actually implement this in docs/concepts/storage/volumes.md without conflicting with the open PR.

[2017-05-15 21:54] jseldess commented on #3773
@ahmetb, where do you think it belongs? The list of volume types does not seem to follow any ordering principles, which is why I added the `projected` type just at the bottom of the list. If I do the same for `configMap` in a separate PR, I do think there will end up being a conflict in the file. Not a big deal, though.