[2022-05-03 16:13] #33273 closed

[2022-05-03 17:17] anubha-v-ardhan commented on #33421
/triage accepted

[2022-05-03 18:41] nate-double-u commented on #31585
This won't be in 1.24's docs, clearing the milestone. This can be added to subsequent milestones if needed. (or closed if I'm missing a PR somewhere)
/milestone clear

[2022-05-03 18:42] nate-double-u commented on #30842
The dockershim work is ongoing, but as 1.24 is releasing today, i'm clearing the milestone.

/milestone clear

[2022-05-03 18:43] nate-double-u commented on #30944
Clearing the 1.24 milestone. This can be added to subsequent milestones if needed.
/milestone clear

[2022-05-03 18:43] nate-double-u commented on #30965
Clearing the 1.24 milestone. This can be added to subsequent milestones if needed.
/milestone clear

[2022-05-03 18:45] nate-double-u commented on #30976
Dockershim removal work is ongoing, clearing the 1.24 milestone. This can be added to subsequent milestones if needed.
/milestone clear

[2022-05-03 18:52] nate-double-u commented on #30999
Dockershim removal work continues. Clearing milestone, this can be added to subsequent milestones if needed.
/milestone clear

[2022-05-03 22:37] sftim commented on #32688
/priority backlog

Would be nice to have these docs, but if not then people can use the new recommended mechanism.

[2022-05-03 22:45] sftim commented on #33322
I'm not sure we should accept this issue without some discussion. If we document these steps specifically for containerd, what other runtimes should we cover? We should aim to answer that before moving the work forward.

[2022-05-03 22:46] sftim commented on #33322
Could that documentation instead live as part of the containerd docs?

[2022-05-03 22:48] sftim commented on #33423
/retitle Broken hyperlink in Dynamic Admission Control reference

https://jsonpatch.com/ doesn't have a valid security certificate. We could remove the sentence that links to it or nudge the maintainers of https://jsonpatch.com/ to fix their site.

/kind bug
/language en

[2022-05-03 22:49] sftim commented on #33414
/retitle Grammar problem with Kubernetes Components concept
/language en

I don't see a grammar problem.
/priority awaiting-more-evidence

[2022-05-03 22:57] sftim opened #33426 "Banner text color wrong for https://k8s.io/partners/"
**This is a Bug Report**

**Problem:**
When a banner is shown and the banner does not specify a text color, https://kubernetes.io/partners/ is shown with black (not white) text.

**Proposed Solution:**
Fix the stylesheet (this requires investigation).
Make sure not to introduce any regression.

Changes to add CSS directly into the HTML, or to modify the banner data would not be the right fix.

**P

[2022-05-03 23:14] nate-double-u commented on #33411
Thawing k/webiste
/remove-label tide/mege-blocker

[2022-05-03 23:15] #33411 closed

[2022-05-03 23:53] ridavid2002 commented on #33322
@sftim thank you for this feedback. I will revisit it further and think about how to best proceed.

[2022-05-04 00:04] nate-double-u commented on #30918
/milestone clear
v1.24 has been released, but this can come in after.

[2022-05-04 01:06] jihoon-seo opened #33428 "[zh] Refactor pages in `zh/docs/tasks/debug-application-cluster`"
**This is a Bug Report**

**Problem:**

In #32823,
the files in `content/en/docs/tasks/debug-application-cluster/*.md` was moved to
`content/en/docs/tasks/debug/debug-application/*.md` or `content/en/docs/tasks/debug/debug-cluster/*.md`.

But in `zh/` directory,
there still exists `content/zh/docs/tasks/debug-application-cluster/` directory,
so some refactoring might be needed.

**Proposed Solutio

[2022-05-04 01:08] jihoon-seo commented on #33428
/label refactor

[2022-05-04 01:37] #33421 closed

[2022-05-04 01:38] jihoon-seo commented on #33428
Oh, now I found the PR #33372 that syncs `docs/tasks/debug`.

[2022-05-04 02:30] #31967 closed

[2022-05-04 03:03] quangthe opened #33431 "Improvement for k8s.io/docs/tasks/administer-cluster/encrypt-data/"
- Document should mention the path of `--encryption-provider-config` is mounted to the pod
- Have an example to make it easy to follow

[2022-05-04 04:16] mk46 commented on #33205
/kind support

[2022-05-04 04:49] nvsd commented on #33160
@Kartik494 Sure, the tutorial `iframe` element with the id `id="katacoda-container"` isn't interactable on the referenced page.

It's 100% due to an extension or firefoxes built in anti-tracking. It looks like `track.js` throws causing the tutorial to become unusable.

`Uncaught ReferenceError: trackJs is not defined` is the error.

<img width="400" alt="image" src="https://user-images.githubuserc

[2022-05-04 06:11] jasonbraganza commented on #32905
i cannot seem to make progress at this.
will come back to this some other day
Meanwhile, I’ll unassign myself, for other good folk to pick up.

[2022-05-04 06:11] jasonbraganza commented on #32905
/unassign

[2022-05-04 06:14] jasonbraganza commented on #32905
/unassign

[2022-05-04 07:28] kifeo commented on #33205
Thanks @mk46, you were right, I was using 1.19 on that machine.

[2022-05-04 07:28] #33205 closed

[2022-05-04 08:38] #30918 closed

[2022-05-04 12:03] tengqm commented on #33428
Looks like this can be closed? @jihoon-seo

[2022-05-04 13:49] jihoon-seo commented on #33428
@tengqm Okay, let's close this.

[2022-05-04 13:49] #33428 closed

[2022-05-04 17:29] sftim commented on #33160
We don't maintain Katacoda, so a fix here would be a stretch. Is this OK to close?

[2022-05-04 17:29] sftim commented on #33160
Maybe we could add some separate JavaScript to detect that blocking has occurred and explain how to work around it?

[2022-05-04 17:36] abs007 commented on #33414
Fair enough. You can close the pr if you feel the need to do so.

[2022-05-04 17:43] nvsd commented on #33160
Yeah, I wasn't sure if track.js was implemented on your end or theirs.

`Maybe we could add some separate JavaScript to detect that blocking has occurred and explain how to work around it?`

This would definitely be a better UX.

[2022-05-04 18:01] cg-cri-gl opened #33464 "404 on pages returned as search results (from inside 2 sections) of kubernetes.io/docs"
**This is a Bug Report**

**Problem**
The search after 'audit' on kubernetes.io/docs site returns wrong URLs. This first search result goes into a 404.

This is not the only issue. The whole subsection actually "debug-application-cluster" from inside "https://kubernetes.io/docs/tasks/debug-application-cluster"
 has been split into 2 section it seems , but the search engine result shows obsolete re

[2022-05-04 22:30] marcusbooyah opened #33466 "Network Plugins"
The instructions on [this page](https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins/#usage-summary) are no longer valid. The `--network-plugin` option has been removed from kubelet.

[2022-05-05 00:14] #30738 closed

[2022-05-05 00:14] #30739 closed

[2022-05-05 02:37] Ileriayo opened #33468 "Installing kubeadm - confusing/misleading text"
Under the [Check required ports section](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#check-required-ports), this following statement is misleading because nothing about pod network plugin was discussed on that page:

[code]

The text in parenthesis `(see below)` should be taken out to avoid confusion.

[2022-05-05 05:31] seokho-son opened #33471 "Korean Localization for dev-1.24-ko.1 branch"
## In English

**This is a Feature Request**

Korean Localization for `dev-1.24-ko.1` branch.

**What would you like to be added**

Any localization contributions for Korean.

**Comments**

- This issue is to notify the schedule of Korean localization to contributors.
- `dev-1.24-ko.1` is the current work branch for Korean localization.

**Important dates**
- A Korean localization work branch is m

[2022-05-05 05:34] seokho-son commented on #33471
/milestone dev-1.24-ko.1

[2022-05-05 05:34] seokho-son commented on #33471
/triage accepted

[2022-05-05 05:36] seokho-son opened #33472 "Outdated Korean contents in the dev-1.24-ko.1"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.24-ko.1 branch.

Report generated by the following command.
./scripts/diff_l10n_branches.py ko upstream/dev-1.23-ko.2 upstream/dev-1.24-ko.1

### 162 files to be modified
1. [ ] M1.  `content/en/blog/_posts/2020-12-02-dont-panic-kubernetes-and-docker.md`  | 12(+S) 4(-)
1. [ ] M2.  `content/en/blog/_posts/2021-08-04-kubernetes-r

[2022-05-05 05:36] seokho-son commented on #33472
/milestone dev-1.24-ko.1

[2022-05-05 05:36] seokho-son commented on #33472
/triage accepted

[2022-05-05 05:36] seokho-son commented on #33472
/language ko
/help

[2022-05-05 05:42] seokho-son opened #33473 "Outdated Korean contents in the dev-1.23-ko.3"
# This is a Bug Report
## Problem
Outdated files in the upstream/release-1.23 branch.

Report generated by the following command.
./scripts/diff_l10n_branches.py ko upstream/dev-1.23-ko.2 upstream/release-1.23

### 146 files to be modified
1. [ ] M1.  `content/en/blog/_posts/2020-12-02-dont-panic-kubernetes-and-docker.md`  | 5(+XS) 1(-)
1. [ ] M2.  `content/en/blog/_posts/2021-08-04-kubernetes-rel

[2022-05-05 05:43] seokho-son commented on #33473
/triage accepted
/milestone dev-1.23-ko.3

[2022-05-05 05:44] seokho-son commented on #33473
/language ko
/help

[2022-05-05 05:46] seokho-son commented on #33473
Outdated Korean contents in the dev-1.24-ko.1 #33472

와 중복된 Tasks가 많이 있으며,
중복 작업을 피하기 위해서는 Tasks를 상호 확인하며 진행하는 것이 좋습니다.

작업해야 할 내용이 많으므로, 여러 기여자가 함께 처리하면 좋을 것 같습니다.

[2022-05-05 05:46] seokho-son commented on #33472
Outdated Korean contents in the dev-1.23-ko.3 #33473

와 중복된 Tasks가 많이 있으며,
중복 작업을 피하기 위해서는 Tasks를 상호 확인하며 진행하는 것이 좋습니다.

작업해야 할 내용이 많으므로, 여러 기여자가 함께 처리하면 좋을 것 같습니다.

[2022-05-05 06:18] tengqm opened #33474 "[zh][Umbrella] Contribution docs to sync for 1.24"
This is an umbrella issue for contribution docs that are out of sync for `zh` localization. The difference is captured on 2022-05-05, so the list may become outdated soon. Please do run the `scripts/lsync.sh` again before working on any issue.

/help

- [x] contribution-1   @windsonsea   https://github.com/kubernetes/website/pull/33616
[code]

- [x] contribution-2  @windsonsea  #33648
[code]

- [x

[2022-05-05 06:20] tengqm opened #33475 "[zh][Umbrella] Setup docs to sync for 1.24"
This is an umbrella issue for setup docs that are out of sync for `zh` localization. The difference is captured on 2022-05-05, so the list may become outdated soon. Please do run the `scripts/lsync.sh` again before working on any issue.

/help

- [x] setup-1   @zaunist #33634
[code]

- [x] setup-2   @zaunist  #33670
[code]

- [x] setup-3  @wlp1153468871 #33555 #33981
[code]

- [x] setup-4 (not urg

[2022-05-05 06:21] tengqm opened #33476 "[zh][Umbrella] Concepts pages to sync for 1.24"
This is an umbrella issue for setup docs that are out of sync for `zh`
localization. The difference is captured on 2022-05-05, so the list may become
outdated soon. Please do run the `scripts/lsync.sh` again before working on
any issue.

/help

- [x] concepts-1  @mengjiao-liu   #33529
[code]

- [x] concepts-2  @mengjiao-liu #33544 #33590
[code]

- [x] concepts-3   @mengjiao-liu   #33891
[code]

-

[2022-05-05 06:22] tengqm opened #33477 "[zh][Umbrella] Tasks pages to sync for 1.24"
This is an umbrella issue for tasks docs that are out of sync for `zh`
localization. The difference is captured on 2022-05-05, so the list may become
outdated soon. Please do run the `scripts/lsync.sh` again before working on
any issue.

/help

- [x] tasks-1   @Abirdcfly
[code]

- [x] tasks-2     @TinySong   #33603
[code]

- [x] tasks-3     @TinySong  #33661
[code]

- [x] tasks-4     @TinySong   #

[2022-05-05 06:23] tengqm opened #33478 "[zh][Umbrella] Reference pages to sync for 1.24"
This is an umbrella issue for reference docs that are out of sync for `zh` localization. The difference is captured on 2022-05-05, so the list may become outdated soon. Please do run the `scripts/lsync.sh` again before working on any issue.

**Note** this issue does NOT cover the kubeadm reference docs.

/help

- [x] reference-1  @nameYULI   #33546
[code]

- [x] reference-2  @nameYULI   #33550
[co

[2022-05-05 06:24] tengqm opened #33479 "[zh][Umbrella] kubeadm reference pages to sync for 1.24"
This is an umbrella issue for kubeadm reference docs that are out of sync for `zh` localization. The difference is captured on 2022-05-05, so the list may become outdated soon. Please do run the `scripts/lsync.sh` again before working on any issue.

/help

- [x] kubeadm-1   @kinzhi    #33535
[code]

- [x] kubeadm-2   @kinzhi   #33547
[code]

- [x] kubeadm-3   @kinzhi  #33561
[code]

- [x] kubeadm-

[2022-05-05 06:27] tengqm commented on #33475
/help

[2022-05-05 07:42] neolit123 commented on #33468
I think it makes sense to remove the text.

/help
/sig cluster-lifecycle

[2022-05-05 08:04] Lorentsen-Cyber commented on #33163
i know the problem is resolved, but i can't acces the terminal either. Running the latest installation of chrome

[2022-05-05 09:29] mengjiao-liu commented on #33476
I want to work on parts 1~4.
/assign

[2022-05-05 09:59] Giraffaman commented on #33163
I also cannot interact with the interactive tutorial in "Creating a Cluster". Using Firefox v100.0, also tried with add-ons disabled and tracking protection disabled. The terminal loads up but I cannot click any buttons (e.g. go to the next step), and cannot type in the terminal text input field.

[2022-05-05 10:20] Giraffaman commented on #33163
nevermind it was pihole adblocker in my case - I whitelisted kubernetes.io and now the terminal boots up. Also make sure that browser addons like ublock origin are off on the site. Firefox tracking protection seems to not interfere.

[2022-05-05 10:32] vaibhav2107 commented on #31557
/remove-lifecycle stale

[2022-05-05 10:33] Lorentsen-Cyber commented on #33163
@Giraffaman same actually, mine is up an running now :)

[2022-05-05 12:14] bigdatasourav opened #33503 "What is the difference between various DaemonSet statuses ?"
What is the difference between various DaemonSet statuses like currentNumberScheduled, desiredNumberScheduled, numberAvailable, numberMisscheduled, numberReady and numberUnavailable. The normal description for these statuses is not very clear. https://docs.okd.io/latest/rest_api/workloads_apis/daemonset-apps-v1.html#status

[2022-05-05 12:15] #30726 closed

[2022-05-05 13:18] kohtala commented on #31583
There already was kubernetes/kubernetes#90635 to address this.

[2022-05-05 13:37] sftim opened #33509 "Document `PodAndContainerStatsFromCRI` feature gate / implications"
**This is a Bug Report**

**Problem:** The feature gate `PodAndContainerStatsFromCRI` amends node behavior around cAdvisor, but is not properly documented.

**Proposed Solution:**
Update https://kubernetes.io/docs/reference/node/ to ~include~ hyperlink to a new page about the changes from https://github.com/kubernetes/enhancements/issues/2371

For example, add a new page into https://kubernetes.io

[2022-05-05 13:39] sftim commented on #33509
Aim to title and frame the new reference page as describing the situation after the enhancement is complete. For example, the title could be “Metrics About Containers And Pods” rather than “Migration from cAdvisor”.

[2022-05-05 14:06] sftim commented on #33503
/kind support
/language en

@bigdatasourav you might like to frame this as a request to improve the docs, rather than for advice. GitHub is not the right place for support requests.

If you _are_ looking for help, you might ask on [Server Fault](https://serverfault.com/questions/tagged/kubernetes).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kub

[2022-05-05 15:10] sftim opened #33511 "Update Troubleshooting CNI plugin-related errors for v1.25 docs"
### **This is a clean up request**

**Problem:**

The docs include the text

This will go stale eventually.

**Proposed Solution:**

For the v1.25 docs and onwards, omit this example.

**Page to Update:**
https://kubernetes.io/docs/tasks/administer-cluster/migrating-from-dockershim/troubleshooting-cni-plugin-related-errors/

**Kubernetes Version:**
v1.24

**Additional Information:**
/language en
/

[2022-05-05 15:12] sftim commented on #33468
/language en
/kind bug
/priority backlog

Anyone is welcome to open a PR that omits the text “(see below)”.

[2022-05-05 15:12] sftim commented on #33468
/triage accepted

[2022-05-05 15:35] Ileriayo commented on #33468
I'll open a PR for it.

[2022-05-05 18:15] #30766 closed

[2022-05-05 20:14] #33468 closed

[2022-05-06 01:13] JarHMJ commented on #33476
I want to work on parts 5~7.
/assign

[2022-05-06 01:50] jihoon-seo commented on #33472
D2-D6 은 ko 파일들을 삭제하는 것이 아니라
다음을 참고하여 reorganize 하면 되겠습니다. 😊
- #32823
- #33428

그리고 R4-R9 + D2-D6 은 모두 `tasks/debug-application-cluster/` reorganize 와 관련된 사항이므로
동일인이 처리하는 것이 이점이 있을 것 같습니다. 😊

[2022-05-06 03:21] SmartCC opened #33517 "互动教程 - 配置 java 微服务"
运行完mvn package -pl system命令后界面卡死，无法进行后续操作

[2022-05-06 05:38] shixiuguo opened #33518 "Translate reference/kubernetes-api/authorization-resources/subject-access-review-v1.md"
**This is a Feature Request**

Hi, I'm interested to translate the "reference/kubernetes-api/authorization-resources/subject-access-review-v1.md" page.

translate en/docs/reference/kubernetes-api/authorization-resources/subject-access-review-v1.md into Chinese.

What would you like to be added:

zh/docs/reference/kubernetes-api/authorization-resources/subject-access-review-v1.md

/language zh

[2022-05-06 05:38] shixiuguo commented on #33518
/assign

[2022-05-06 07:21] #30744 closed

[2022-05-06 07:35] fenggw-fnst commented on #33477
Hi!
I want to pick up part 7 since I am just working on it.
[code]
/assign

[2022-05-06 08:56] tengqm commented on #33518
/triage accepted

[2022-05-06 10:11] fenggw-fnst commented on #33477
Sent PR #33525 for task-7.

[2022-05-06 11:37] kinzhi commented on #33479
I want to work on parts 1~10.
/assign

[2022-05-06 12:51] mengjiao-liu commented on #33476
concepts-1
[code]
The first three files have been updated or submitted for PR.

- [ ] https://github.com/kubernetes/website/pull/33458
- [ ] https://github.com/kubernetes/website/pull/33497

So this PR #33529 updates the file `content/en/docs/concepts/scheduling-eviction/pod-overhead.md`.

[2022-05-06 12:58] appershan opened #33531 "Interactive Tutorial - Creating a Cluster"
The KataCoda instance does not respond on macOS 11.6 (Big Sur).

The "START SCENARIO" button works, but nothing else responds to input. It behaves like an inline PNG image would.

[2022-05-06 13:13] appershan commented on #33531
Nevermind, this seems to be an issue with Katacoda, not with your setup, as Katacoda instances on their site behave exactly the same.

[2022-05-06 13:13] #33531 closed

[2022-05-06 13:21] sftim commented on #22961
/lifecycle frozen

[2022-05-06 13:26] sftim commented on #33466
Hi @marcusbooyah

Which web page isn't right? Can you let us know the URL?

/language en
/triage needs-information

[2022-05-06 14:44] sftim opened #33532 "Remove docs for Service Catalog integration"
**This is a removal request**

**What would you like to be added**
- Find the service catalog docs
  - https://k8s.io/search might be helpful
- Remove them (no forwarding address)

Also edit any pages on this site that previously linked there.

Make this change either to the _main_ branch, or to the branch for the upcoming Kubernetes release, whichever seems more appropriate.

**Why is this needed

[2022-05-06 15:05] manavsiddharthgupta commented on #33426
Hi @sftim , I would love to take this issue.

[2022-05-06 15:13] manavsiddharthgupta commented on #32873
/assign

[2022-05-06 15:22] sftim commented on #33426
/triage accepted

PRs welcome!

[2022-05-06 15:41] karimib opened #33533 "Install Service Catalog using Helm"
When trying to add the service catalog via helm the following error occurs.
Seems like the dcoumented URL at https://kubernetes.io/docs/tasks/service-catalog/install-service-catalog-using-helm/ is not valid anymore ?

$ helm repo add svc-cat https://kubernetes-sigs.github.io/service-catalog
Error: looks like "https://kubernetes-sigs.github.io/service-catalog" is not a valid chart repository or can

[2022-05-06 16:17] madhavisl opened #33534 "Improvement for k8s.io/releases/notes/"
Release Notes for each Release needs to be upfront visible to the users

[2022-05-07 00:21] #30794 closed

[2022-05-07 01:59] freeysw opened #33537 "使用 kubeadm 创建集群"
![image](https://user-images.githubusercontent.com/26788279/167233469-7f0893ad-030a-4b47-a180-5f321c0ffab3.png)
![image](https://user-images.githubusercontent.com/26788279/167233477-32d69b6e-49f1-48b5-92bb-b5a25327bdce.png)

[2022-05-07 02:35] SmartCC commented on #33517
The URL is https://kubernetes.io/zh/docs/tutorials/configuration/configure-java-microservice/configure-java-microservice-interactive/
I think it's right.
I ran the examples in the yesterday afternoon and it worked normally.  So I think it should be a problem with the virtual environment.

[2022-05-07 02:50] shixiuguo opened #33538 "[zh]Translate reference/kubernetes-api/authorization-resources/local-subject-access-review-v1"
Hi, I'm interested to translate the "reference/kubernetes-api/authorization-resources/subject-access-review-v1.md" page.

translate en/docs/reference/kubernetes-api/authorization-resources/local-subject-access-review-v1.md into Chinese.

What would you like to be added:

zh/docs/reference/kubernetes-api/authorization-resources/local-subject-access-review-v1.md

/language zh

[2022-05-07 02:50] shixiuguo commented on #33538
/assign

[2022-05-07 04:05] tengqm commented on #33478
/triage accepted

[2022-05-07 04:09] mxfactorial opened #33539 "change nginx version from 11.14.2 to 1.14.2 in concepts/services-networking/service.md"
**This is a Bug Report**

**Problem:**

https://github.com/kubernetes/website/blob/main/content/en/docs/concepts/services-networking/service.md?plain=1#L125 displays `11.14.2` nginx version despite unavailability in [docker hub](https://hub.docker.com/_/nginx?tab=tags) and [repo](http://hg.nginx.org/nginx/tags)

**Proposed Solution:**

change to `1.14.2` nginx version

**Page to Update:**
https://

[2022-05-07 04:47] gullapalli9482 commented on #33426
Can I also work on this alongside or take it up if it is not assigned to anyone.

[2022-05-07 07:13] chenchun opened #33540 "kube-controller-manager node-eviction-rate translation"
The Chinese document of "when a zone is healthy" is completely the opposite meaning.

[code]

[code]

it should be

[code]

[2022-05-07 07:34] tengqm commented on #33540
/triage
/kind bug
/language zh

[2022-05-07 07:34] tengqm commented on #33540
/triage accepted

[2022-05-07 09:03] nameYULI commented on #33478
I want to work on parts 1~8.
/assign

[2022-05-07 09:22] snuggie12 commented on #30681
It's due to it being reverted in https://github.com/google/cadvisor/pull/2964 which is a real bummer for those of us using GKE and the default for new node pools is containerd.

[2022-05-07 10:24] zouhirhanafi opened #33543 "Issue with k8s.io/fr/docs/tutorials/kubernetes-basics/expose/"
Empty page

[2022-05-07 12:00] jayunit100 commented on #33322
Can we link to those docs from this page ?

[2022-05-07 18:27] princefishthrower opened #33548 "Translate a Docker Compose File to Kubernetes Resources - Command Typo / Change"
From this page: https://kubernetes.io/docs/tasks/configure-pod-container/translate-compose-kubernetes/

Small change requested: I notice that after I run

[code]

I don't get a `frontend-service.yaml` but rather a `frontend-tcp-service.yaml`.

So the line:

[code]

Should be changed to:

[code]

I'm on macOS, not sure if that has an impact.

[2022-05-07 18:39] princefishthrower commented on #33548
Actually this then follows to further commands. It should instead of:

[code]

Should be:

[code]

Really, the culprit or source of the bug would be to find where the `-tcp` is coming from. It's not present anywhere in the original `docker-compose.yml` file, but `kompose convert` puts it in there for some reason...

[2022-05-08 04:51] RA489 commented on #29453
/remove-lifecycle stale

[2022-05-08 10:07] jihoon-seo commented on #33543
/language fr
It seems that after someone adds the French version of either
- https://kubernetes.io/docs/tutorials/kubernetes-basics/expose/expose-intro/
- https://kubernetes.io/docs/tutorials/kubernetes-basics/expose/expose-interactive/

then that page would have the link to the added pages.

[2022-05-08 10:11] jihoon-seo commented on #33537
/language zh
Page: https://kubernetes.io/zh/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#控制平面节点隔离

For me, I cannot find that English part.

[2022-05-08 15:29] sftim opened #33560 "Add banner for KubeCon 2022 EU"
**This is a Feature Request**

**What would you like to be added**
Set a banner to announce KubeCon 2022 EU

**Why is this needed**
We usually turn on a banner for the upcoming KubeCon.
Logos are available from: https://github.com/cncf/artwork/tree/master/other/kubecon-cloudnativecon/2022-eu (make sure to copy the logo into this repo)
https://events.linuxfoundation.org/kubecon-cloudnativecon-europ

[2022-05-08 15:30] sftim commented on #30837
Done
/close

[2022-05-08 15:30] #30837 closed

[2022-05-08 15:33] sftim commented on #33534
/kind feature
/sig release

[2022-05-08 15:35] sftim commented on #33228
/priority important-longterm

[2022-05-08 16:56] princefishthrower commented on #33548
Hah, even after running the proper `service` command, there is apparently a recent regression with port mapping as described here: https://github.com/kubernetes/minikube/issues/13736#issuecomment-1063470210

I found this comment useful as a fix: https://github.com/kubernetes/minikube/issues/14097#issuecomment-1117622322

In summary, you just forward the port manually by issuing:

[code]

[2022-05-08 17:57] Babapool commented on #33560
Hi, I would like to work on this issue. Thanks
/assign

[2022-05-09 00:20] jihoon-seo commented on #33473
https://github.com/kubernetes/website/issues/33472#issuecomment-1119191157 와 마찬가지로,

D2-D6 은 ko 파일들을 삭제하는 것이 아니라
다음을 참고하여 reorganize 하면 되겠습니다. 😊
- #32823
- #33428

그리고 R4-R9 + D2-D6 은 모두 `tasks/debug-application-cluster/` reorganize 와 관련된 사항이므로

#33472 의 R4-R9 + D2-D6 를 처리하시는 분과 동일한 분이 처리하는 것이 이점이 있을 것 같습니다. 😊

[2022-05-09 02:37] #33517 closed

[2022-05-09 02:54] jihoon-seo opened #33564 "Links to some ephemeral volume types are wrong"
**This is a Bug Report**

**Problem:**
Links to some ephemeral volume types are wrong.

**Proposed Solution:**
In https://kubernetes.io/docs/concepts/storage/volumes/ , update links as follows:
- `/docs/concepts/storage/ephemeral-volumes/#generic-ephemeral-volume`
  → `/docs/concepts/storage/ephemeral-volumes/#generic-ephemeral-volumes`
- `/docs/concepts/storage/ephemeral-volumes/#csi-ephemeral-vo

[2022-05-09 05:28] marcusbooyah commented on #33466
Sorry - I fixed the link in the description above.

[2022-05-09 05:32] hase1128 commented on #32999
/assign

[2022-05-09 05:32] hase1128 commented on #33000
/assign

[2022-05-09 09:16] sftim commented on #31605
@mitul3737 did you plan to stop the localization effort?

We can delete the branch for this work if that's the case.

[2022-05-09 09:17] mitul3737 commented on #31605
@sftim No no, we are working  fine. Just closed it because I though we are now up and running and might not need this issue😅

[2022-05-09 09:18] mitul3737 commented on #31605
@sftim also we have a tracking issue for our localization  and thus closed it. No intention to stop the localization  effort at all.

[2022-05-09 09:31] sftim commented on #29353
In https://github.com/kubernetes/website/pull/29679 I can see an [error](https://github.com/kubernetes/website/pull/29679#issuecomment-1120868315) logged. That will need fixing before we can merge the changes.

[2022-05-09 09:35] sftim commented on #31605
/label language/bn

[2022-05-09 09:36] sftim commented on #31605
(I'd expect _this_ would be the tracking issue, TBH)

[2022-05-09 09:38] mitul3737 commented on #31605
Actually  we created a tracking issue #31677

[2022-05-09 09:43] sftim commented on #31677
This issue replaces #31605

[2022-05-09 09:43] sftim commented on #31605
Superseded by duplicate issue #31677
/close

[2022-05-09 09:43] #31605 closed

[2022-05-09 10:28] RA489 commented on #31060
/remove-lifecycle stale

[2022-05-09 12:17] aeimer opened #33571 "Query about using a single PodDisruptionBudget and multiple StatefulSets"
Hi Guys,

I cant find it in the docs here, is it possible to have three StatefulSets with one PDB over all the STS.

Our setup has three STS:
- `stateful-app-0`
- `stateful-app-1`
- `stateful-app-2`

Which is scaled to 1 each, so there are three pods:
- `stateful-app-0-0`
- `stateful-app-1-0`
- `stateful-app-2-0`

We set the labels on the sts:
[code]

We have a PDB with:
[code]

So we see in k9s a

[2022-05-09 15:34] herbw opened #33576 "Install and Set Up kubectl version 1.24.0 on macOS (Apple CPU)"
I'm new to this and I just wanted to install kubectl on my Mac.
I tried at first with brew, which installed (or tried to) version 1.24.0 on my system.
Looked OK on first glimpse, but when I enter:
kubectl version

I receive the following error message:
error: exec plugin: invalid apiVersion "client.authentication.k8s.io/v1alpha1"

So I tried to install with curl, using the following commandline:

[2022-05-09 21:41] downtheroad77 commented on #33533
Look for the same to be added back - https://kubernetes-sigs.github.io/service-catalog/index.yaml

[2022-05-10 00:58] jlsong01 commented on #33540
/assign

[2022-05-10 02:00] JarHMJ commented on #33479
I want to work on parts 11~24.
/assign

[2022-05-10 02:00] zhangxyjlu opened #33585 "[zh]This page blog/_posts/2022-05-23-service-ip-dynamic-and-static-allocation.md has no Chinese version"
**This is a Feature Request**

This page blog/_posts/2022-05-23-service-ip-dynamic-and-static-allocation.md has no Chinese version

**What would you like to be added**

Translate Chinese version for blog/_posts/2022-05-23-service-ip-dynamic-and-static-allocation.md has no Chinese version

**Why is this needed**

This page blog/_posts/2022-05-23-service-ip-dynamic-and-static-allocation.md has no Ch

[2022-05-10 02:04] zhangxyjlu opened #33586 "[zh]This page blog/_posts/2022-05-16-volume-populators-beta.md has no Chinese version"
**This is a Feature Request**

This page blog/_posts/2022-05-16-volume-populators-beta.md has no Chinese version

**What would you like to be added**

Translate Chinese version for blog/_posts/2022-05-16-volume-populators-beta.md has no Chinese version

**Why is this needed**

This page blog/_posts/2022-05-16-volume-populators-beta.md has no Chinese version

**Comments**
/language zh
/assign

[2022-05-10 02:05] #33540 closed

[2022-05-10 02:57] sarazqy opened #33588 "Misssing Chinese translation docs: https://kubernetes.io/blog/2022/05/05/volume-expansion-ga/"
This is a Bug Report

Problem:
misssing Chinese translation docs: https://kubernetes.io/blog/2022/05/05/volume-expansion-ga/

Proposed Solution:
add Chinese translation docs in website Kubernetes Blog

Comments
/language zh
/assign

[2022-05-10 06:49] tengqm commented on #33588
/triage accepted

[2022-05-10 07:42] anubha-v-ardhan commented on #33576
/kind support

[2022-05-10 07:45] sarazqy opened #33592 "Misssing Chinese translation docs: https://kubernetes.io/blog/2022/05/03/kubernetes-1-24-release-announcement/"
This is a Bug Report

Problem:
misssing Chinese translation docs: https://kubernetes.io/blog/2022/05/03/kubernetes-1-24-release-announcement/

Proposed Solution:
add Chinese translation docs in website Kubernetes Blog

Comments
/language zh
/assign

[2022-05-10 08:41] #30761 closed

[2022-05-10 09:38] s-kawamura-w664 commented on #32756
The Hugo shortcode for note is here: https://github.com/kubernetes/website/blob/main/layouts/shortcodes/note.html

This file updated by #30068.

This problem will occur after fixed #30068.
But, I think that #30068 is no problem.
The issue existed before #30068., but users could not look it.

I found the fix method, but I don't know that it is correct.

File : <https://github.com/kubernetes/website

[2022-05-10 09:48] s-kawamura-w664 commented on #32756
I know that this issue will occur by using `tabs` and `list` and `note`.
There are not problems by using only `list` and `note`.

[2022-05-10 15:51] weaselchops opened #33601 "Troubleshooting kubeadm - invalid link"
The section: https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/#kubeadm-blocks-when-removing-managed-containers

The link to "Debugging Kubernetes nodes with crictl" (https://kubernetes.io/docs/tasks/debug-application-cluster/crictl/)  is a 404

=== Original ===
A possible solution is to restart the container runtime and then re-run kubeadm reset. You ca

[2022-05-10 15:52] chrismetz09 commented on #31960
Used [PR #33073](https://github.com/kubernetes/website/pull/33073) to clear `api-reference shortcode` problem allowing `Hugo 0.93.0` upgrade. Tested with several Mermaid versions (8.11.2, 8.14.0, 9.0.0). Observed same syntax errors with FF (more frequent) and Chrome less frequent.

[2022-05-10 16:56] TinySong commented on #33477
I want to pick up part 2-6
/assign

[2022-05-10 17:47] #30861 closed

[2022-05-10 18:18] neolit123 commented on #33601
we can change the link to `/docs/tasks/debug)/debug-cluster/crictl`

/help
/sig cluster-lifecycle

[2022-05-10 19:31] davinder2385 commented on #33533
I am also facing the same issue.

[2022-05-11 00:58] TinySong commented on #33477
/aasign tasks-9

[2022-05-11 01:23] fine-wind opened #33606 "在 Windows 上安装 kubectl"
你需要一个 [kubeconfig 文件](https://kubernetes.io/docs/zh/concepts/configuration/organize-cluster-access-kubeconfig/)
此地址文件 404

[2022-05-11 01:50] jihoon-seo commented on #33606
The right URL is https://kubernetes.io/zh/docs/concepts/configuration/organize-cluster-access-kubeconfig/ .

[2022-05-11 01:54] jihoon-seo commented on #33606
In https://kubernetes.io/zh/docs/tasks/tools/install-kubectl-windows/#verify-kubectl-configration ,
[the link](https://kubernetes.io/zh/docs/tasks/tools/install-kubectl-windows/#:~:text=你需要一个-,kubeconfig%20文件,-，%20该文件在) is wrong.

[Suggested solution]
Update the link to point https://kubernetes.io/zh/docs/concepts/configuration/organize-cluster-access-kubeconfig/ .

/triage accepted
/kind bug
/lan

[2022-05-11 03:57] RaYong8080 opened #33612 "为命名空间配置默认的 CPU 请求和限制"
The name of the deleted namespace does not match the name of the namespace that you created

https://kubernetes.io/zh/docs/tasks/administer-cluster/manage-resources/cpu-default-namespace/

[2022-05-11 05:36] #33211 closed

[2022-05-11 06:41] Shubham82 commented on #33601
Hi @weaselchops @neolit123
It is working now.
reloved in this PR: #33314

[2022-05-11 07:00] neolit123 commented on #33601
Thanks for the PR
/close

[2022-05-11 07:00] #33601 closed

[2022-05-11 08:35] seokho-son commented on #33606
Hi @fine-wind
Please change the title in English.
We are sharing the repository and folks cannot easily understand purpose of this issue if you use your language in the title.

[2022-05-11 08:35] seokho-son commented on #33612
Hi @RaYong8080

Please change the title in English.
We are sharing the repository and folks cannot easily understand purpose of this issue if you use your language in the tit

[2022-05-11 08:37] seokho-son commented on #33537
Hi @freeysw

Please change the title in English.
We are sharing the repository and folks cannot easily understand purpose of this issue if you use your language in the title. (not all contents need to be in English, but at least the title)

[2022-05-11 08:54] neolit123 opened #33613 "Document how to change pause image in CR page"
This is a frequent problem. In airgapped environments  (e.g. behind firewall without GCR access) the container runtime continues to hardcode a pause / sandbox image in its config. So even if kubeadm or other installers say "you need somerepo/pause:3.7" the CR has "k8s.gcr.io/pause:3.1". This drift in pause image config is a CRI problem. Installers could wrap / manage CR config but that is maintena

[2022-05-11 08:54] neolit123 commented on #33613
/sig node cluster-lifecycle

[2022-05-11 08:55] neolit123 commented on #33613
/help
In case someone wants to take this.

[2022-05-11 09:15] fine-wind commented on #33606
ok, thanks

[2022-05-11 09:15] #33606 closed

[2022-05-11 09:59] Mouly22 commented on #31677
I would like to work on ```content/bn/docs/tasks/tools/install-kubectl-macos.md``` @mitul3737

[2022-05-11 11:07] windsonsea commented on #33474
`/triage accepted`

[2022-05-11 11:11] windsonsea commented on #33474
I need check those 8 md files line by line. If any inconsistency between en and cn, I need change them, correct?

[2022-05-11 11:17] windsonsea commented on #33474
I'm starting to check this md. Hope this file can be completed by the next eod.
![roles](https://user-images.githubusercontent.com/79828097/167837029-a5e27bab-8f48-475d-a282-1cd20af521e1.png)

[2022-05-11 11:21] tengqm commented on #33474
@windsonsea You may find the `scripts/lsync.sh` tool useful. For example, run the following command on the **main** branch:

[code]

It will show you the changes to the upstream English source since the last time that page was sync'ed (or translated).
Basically, those changes are the lines we need to resync to Chinese.

[2022-05-11 11:22] tengqm commented on #33474
@windsonsea Maybe you can start by working on the first item?

[2022-05-11 11:56] windsonsea commented on #33474
hmmm, I runned this command on the ***main*** branch in VScode but nothing happened -_!  Could you join a WeMeet like [room no: 323-315-205](https://meeting.tencent.com/dm/3K4IgE7e6pi6)

[2022-05-11 12:26] tengqm commented on #33474
[code]

[2022-05-11 12:27] #33586 closed

[2022-05-11 13:59] #30870 closed

[2022-05-11 14:12] windsonsea commented on #33474
One question: How can I assign my PR to you? My PR comment is like:
[code]

[2022-05-11 16:00] wlp1153468871 commented on #33475
I want to work on setup-3
/assign

[2022-05-11 16:58] sftim commented on #31960
I suspect that some _other_ JS code that we load might interfere with Mermaid. It also might be that a different way of loading Mermaid would hide the symptoms.

Happy to focus on this during KubeCon with anyone who has time to join in.

[2022-05-11 20:54] bhaumikovshek commented on #33533
I couldn't find a resolution for this yet! Does anyone have any updates?

[2022-05-11 23:41] tengqm commented on #33475
/triage accepted

[2022-05-11 23:59] #30878 closed

[2022-05-12 01:21] javadoors commented on #33537
@jihoon-seo the English part link is: https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#control-plane-node-isolation

[2022-05-12 05:41] windsonsea commented on #33474
contribution-1 is completed and a PR is opened right now. I will continue to handle contribution-2 and -3.

[2022-05-12 06:20] tengqm commented on #33474
Assigned.

[2022-05-12 06:24] nameYULI commented on #33478
I want to work on parts 9~16.
/assign

[2022-05-12 06:32] lishuai-hw opened #33627 "[zh] Missing Chinese translation docs: https://kubernetes.io/blog/2022/05/06/storage-capacity-ga/"
Problem:
This page does not have Chinese docs: https://kubernetes.io/blog/2022/05/06/storage-capacity-ga/

Proposed Solution:
add Chinese translation docs in website Kubernetes Blog

Comments
/language zh

[2022-05-12 06:33] lishuai-hw commented on #33627
/assign

[2022-05-12 06:47] antaloala opened #33628 "kubeadm init/join pre-flight checks stopping a 1.24 cluster installation with containerd"
I just fresh installed a k8s 1.24 cluster with containerd as runtime engine, using latest kubeadm tooling and following step by step the installation procedure described in latest (1.24) k8s documentation; I experienced the problem reported in [kubeadm issue #1062](https://github.com/kubernetes/kubeadm/issues/1062) when raising ``kubeadm init`` and ``kubeadm join`` commands.
I solved the problem i

[2022-05-12 06:52] fenggw-fnst commented on #33477
Hi, I want to pick up tasks-8 and tasks-10.

[2022-05-12 07:37] neolit123 commented on #33628
These are not only for docker. Please see https://kubernetes.io/docs/setup/production-environment/container-runtimes/#install-and-configure-prerequisites

This section was added recently due to user confusion.

/close

[2022-05-12 07:37] #33628 closed

[2022-05-12 07:38] neolit123 commented on #33628
/sig node cluster-lifecycle

[2022-05-12 07:50] antaloala commented on #33628
Ops .. it looks I did not follow all the required steps as previously said:-(
Thanks a lot @neolit123 .. and sorry for not realizing on this before raising this issue :-(

[2022-05-12 08:28] nameYULI commented on #33479
https://github.com/kubernetes/website/pull/33500
kubeadm-14

[2022-05-12 08:33] tengqm commented on #33627
/triage accepted

[2022-05-12 09:58] lishuai-hw opened #33631 "[zh] Missing Chinese translation docs: https://kubernetes.io/blog/2022/05/05/volume-expansion-ga/"
**This is a Feature Request**

**What would you like to be added**

Add Chinese translation docs in website Kubernetes Blog

**Why is this needed**
This page does not have Chinese docs: https://kubernetes.io/blog/2022/05/05/volume-expansion-ga/

**Comments**

/language zh

[2022-05-12 10:59] #30888 closed

[2022-05-12 11:13] mk46 commented on #33533
The service catalog will remove soon as per https://github.com/kubernetes/website/issues/33532. I don't think working on this, will be worthy

[2022-05-12 17:35] sftim commented on #27439
/remove-lifecycle stale

[2022-05-12 17:36] sftim commented on #30764
@kubernetes/sig-api-machinery-bugs does this issue look like one where work is needed?

[2022-05-12 17:38] sftim commented on #30764
/lifecycle frozen

We should triage this eventually.

[2022-05-12 18:18] kstest1 opened #33637 "Service"
According to https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types , ClusterIP is only reachable from within cluster   "ClusterIP: Exposes the Service on a cluster-internal IP. Choosing this value makes the Service only reachable from within the cluster. " . Howewer, this is not correct. E.g, let we have all nodes connected to same subnet, 192.168.1.0/2

[2022-05-12 19:29] bnjmnbrmn-work commented on #2566
Should probably change `curl -LO ...` to something that will fail if you don't get a 200....

[2022-05-12 20:36] netikras opened #33640 "Network Plugins: --network-plugin flag is missing in 1.24.0, yet documented as available"
![image](https://user-images.githubusercontent.com/2045031/168163445-965acb28-7eb8-473b-a760-f772d37dbb53.png)
ref: https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins/

[code]

[code]

[2022-05-13 07:16] ashish-jaiswar commented on #33464
Hi @sftim can I work on this issue?

[2022-05-13 07:58] twilight0620 opened #33644 "【zh】kubernetes-api/workload-resources/controller-revision-v1/ does not has chinese version"
Problem:
do not have chinese docs: https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/controller-revision-v1/

Proposed Solution:
add chinese docs in website

Comments
/language zh
/assign

[2022-05-13 08:03] zeta2030 opened #33645 "Translate the doc, "Traces For Kubernetes System Components" into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate the doc, "Traces For Kubernetes System Components" into Korean

**Why is this needed**
Not yet translated

**Comments**

[2022-05-13 08:04] zeta2030 commented on #33645
/language ko
/assign

[2022-05-13 08:05] #30914 closed

[2022-05-13 08:06] twilight0620 opened #33646 "[zh]kubernetes-api/workload-resources/priority-class-v1/ does not has chinese version"
Problem:
do not have chinese docs: https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/priority-class-v1/

Proposed Solution:
add chinese docs in website

Comments
/language zh
/assign

[2022-05-13 10:32] fenggw-fnst commented on #33477
Next, I would like to work on tasks-11 and tasks-13.

[2022-05-13 10:32] mk46 commented on #33640
/sig node
/kind cleanup
If any flag found which was removed in https://github.com/kubernetes/kubernetes/pull/106907, Kindly remove them too.

[2022-05-13 12:45] jihoon-seo commented on #33645
URL: https://kubernetes.io/docs/concepts/cluster-administration/system-traces/
/triage accepted

[2022-05-13 13:07] sftim commented on #31236
/close
with reference to https://github.com/kubernetes/website/issues/31235

[2022-05-13 13:07] #33027 closed

[2022-05-13 13:13] sftim commented on #26034
/lifecycle frozen

The update needed is to delete the page content from https://kubernetes.io/docs/reference/access-authn-authz/node/#upgrades-from-previous-versions-using-rbac onwards (including that heading)

/help

[2022-05-13 13:14] sftim commented on #30748
/remove-lifecycle rotten
/lifecycle stale

[2022-05-13 13:14] sftim commented on #30625
/language en

[2022-05-13 15:35] #30875 closed

[2022-05-13 15:45] #30876 closed

[2022-05-13 16:15] alculquicondor commented on #31719
I know of one instance kubernetes/kubernetes#109429. I think it's about the garbage collection, but I don't have enough evidence.

/lifecycle frozen

[2022-05-13 19:14] #30920 closed

[2022-05-13 20:13] #30909 closed

[2022-05-13 23:38] windsonsea commented on #33646
/triage accepted

[2022-05-13 23:40] windsonsea commented on #33646
could I take this task in this weekend? I want to apply for a member next week :)

[2022-05-14 07:38] SushilSanjayBhile opened #33658 "https://kubernetes.io/docs/concepts/cluster-administration/networking/#weave-net-from-weaveworks"
[Weave Net](https://www.weave.works/oss/net/) is a resilient and simple to use the network for Kubernetes and its hosted applications. Weave Net runs as a [CNI plug-in](https://www.weave.works/docs/net/latest/cni-plugin/) or stand-alone. In either version, it doesn't require any configuration or extra code to run, and in both cases, the network provides one IP address per pod - as is standard for

[2022-05-14 07:41] SushilSanjayBhile commented on #33658
It's challenging to find documentation to set up a weave network, the steps to install weave-net on Kubernetes are not available in k8s docs and on their website's manual page. It is available in blogs added by someone.

[2022-05-14 08:24] sftim commented on #31293
/remove-lifecycle rotten

[2022-05-14 08:26] sftim commented on #31293
https://github.com/kubernetes/kubernetes/pull/109938 is somewhat relevant.

[2022-05-14 09:08] mitul3737 commented on #31677
@Mouly22 , yes you can 🔥

[2022-05-14 09:48] Abirdcfly commented on #33537
Inconsistency between the Chinese translation and the original English content will be fixed by https://github.com/kubernetes/website/issues/33475 setup-2 @zaunist

[2022-05-14 10:02] Abirdcfly commented on #33477
I want to work on task-1 and tasks-12
/assign

[2022-05-14 10:48] mk46 opened #33664 "Warning from website container."
**Problem:**
**Step to reproduce**: https://github.com/kubernetes/website#running-the-website-using-a-container
When I am running container to serve docs from local, getting below warning
[code]

**Proposed Solution:**
[code]

[2022-05-14 10:48] mk46 commented on #33664
/language zh

[2022-05-14 11:34] tengqm commented on #33664
This is an issue to be resolved. Docsy replaced 'zh' with 'zh-cn'. This needs a huge amount of refactoring to the website. We plan to do that after the 1.24 doc changes are well sync'ed. Stay tuned.

[2022-05-14 11:34] tengqm commented on #33664
/close

[2022-05-14 11:34] #33664 closed

[2022-05-14 12:10] tengqm commented on #33477
/triage accepted
/remove-help

[2022-05-14 18:20] SushilSanjayBhile opened #33671 "Add example of hostPath type PV https://k8s.io/docs/concepts/storage/volumes/#hostpath"
### PersistentVolume With Hostpath
A `hostPath` volume can be created by specifying the hostPath property under spec section like following:
[code]

[2022-05-14 18:21] SushilSanjayBhile commented on #33671
We don't have example of PV with hostpath type in docs.

[2022-05-14 19:16] #30743 closed

[2022-05-15 02:02] twilight0620 commented on #33646
@windsonsea: this task has already assigned to me, so do not translate it.

[2022-05-15 02:45] liggitt opened #33674 "kubectl generated command docs do not include 1.24 commands"
**This is a Bug Report**

**Problem:**

https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#create does not include commands added in 1.24 (notably `kubectl create token`)

It looks like https://github.com/kubernetes/website/tree/main/static/docs/reference/generated/kubectl is supposed to be auto-generated, but has not been updated for 1.24.

/sig cli

[2022-05-15 10:19] windsonsea commented on #33474
Up to now, those files of contribution-1 and -2 are completed and merged, and contribution-3 is submitted in PR#33677 for your review. If you need any more support, just message me :)

[2022-05-15 10:23] #24497 closed

[2022-05-15 10:31] windsonsea commented on #33475
setup-4 is such a big task. do you need my help?
/assign

[2022-05-15 21:10] sftim commented on #33674
/triage accepted

[2022-05-15 21:13] sftim commented on #33674
/priority important-soon

because of Docker mentions and the risk of confusion.

[2022-05-15 21:15] sftim commented on #33658
I'm not sure if that's your feedback on the docs here?
If I've guessed right @SushilSanjayBhile, you might prefer to file this at https://github.com/weaveworks/weave/issues/new

This website does not aim to provide detailed documentation for Weave Net.

[2022-05-15 21:15] sftim commented on #33671
/retitle Add example of hostPath type PV https://k8s.io/docs/concepts/storage/volumes/#hostpath

[2022-05-15 21:16] sftim commented on #33671
@SushilSanjayBhile - it's usual to make the PR title be a brief summary, and to mention the PR of the page in the issue description, along with a summary of what isn't right about that pagea.

[2022-05-15 21:17] sftim commented on #33640
/triage accepted

[2022-05-15 21:17] sftim commented on #33640
/language en

[2022-05-15 21:27] sftim opened #33696 "Fix up RBAC good practice guide"
**This is a cleanup request**

**Problem:**
https://github.com/kubernetes/website/pull/32812 merged with a few minor bits of feedback pending.

**Proposed Solution:** Update https://kubernetes.io/docs/concepts/security/rbac-good-practices/ to incorporate feedback from
https://github.com/kubernetes/website/pull/32812#pullrequestreview-973237887

- write RoleBindings, not Role Bindings
- write Clust

[2022-05-15 21:28] sftim commented on #33696
/remove-kind bug
/kind cleanup

[2022-05-15 21:29] sftim commented on #33539
Another possible fix: use an example image name, and make it clear that the manifest is an example.

/language en

[2022-05-15 21:40] #33674 closed

[2022-05-15 23:25] #30983 closed

[2022-05-16 00:21] waych opened #33703 "Improvement for k8s.io/docs/tasks/administer-cluster/migrating-from-dockershim/change-runtime-containerd/"
As part of "Remove Docker Engine", this page should probably also tell the user that may want to clean up space was consumed by docker, e.g. `/var/lib/docker`.  Otherwise, potentially much space is left used but unmanaged on the node.

[2022-05-16 00:48] windsonsea commented on #33646
ok, got it, thanks.

[2022-05-16 01:06] tengqm commented on #33475
@windsonsea setup-4 is big and it is not urgent because the English upstream is undergoing a heavy change, see #33582.

[2022-05-16 01:10] tengqm commented on #33474
@windsonsea We usually do not assign tasks to contributors. We hope out contributors are signing on issues voluntarily. There are a few umbrella issues like [#33474](https://github.com/kubernetes/website/issues/33474), [#33475](https://github.com/kubernetes/website/issues/33475), [#33476](https://github.com/kubernetes/website/issues/33476), [#33477](https://github.com/kubernetes/website/issues/334

[2022-05-16 01:11] windsonsea commented on #33475
Understood. Wait for #33582 to be merged before this localization task of setup-4.

[2022-05-16 02:25] harshitasao commented on #33696
Hi @sftim, I'm new to Kubernetes and was hoping to contribute to the project. Is it possible for me to work on this issue?

[2022-05-16 02:26] zhangxyjlu opened #33704 "[zh]This page 2022-05-18-prevent-unauthorised-volume-mode-conversion.md has no Chinese version"
**This is a Feature Request**

This page 2022-05-18-prevent-unauthorised-volume-mode-conversion.md has no Chinese version

**What would you like to be added**

Translate Chinese version for blog/_posts/2022-05-18-prevent-unauthorised-volume-mode-conversion.md

**Why is this needed**

This page 2022-05-18-prevent-unauthorised-volume-mode-conversion.md has no Chinese version
**Comments**

/language

[2022-05-16 03:03] harshitasao opened #33705 "Remove typo from the Reviewing pull requests section in Documentation"
**Problem:**
On line 97 of the [Reviewing pull requests section](https://kubernetes.io/docs/contribute/review/reviewing-prs/), the word 'add' appears twice.

**Proposed Solution:**
One 'add' should be removed.

**Additional Information:**
/good-first-issue
/kind documentation
/assign

[2022-05-16 03:24] Shivansh-yadav13 commented on #33539
@mxfactorial @sftim can I fix it?

[2022-05-16 06:17] jihoon-seo commented on #33472
R4-R9 + D2-D6 제가 하겠습니다~~
- R4-R9 : @jihoon-seo
- D2-D6 : @jihoon-seo

[2022-05-16 06:28] jihoon-seo commented on #33473
R4-R9 + D2-D6 제가 하겠습니다~~
- R4-R9 : @jihoon-seo
- D2-D6 : @jihoon-seo

[2022-05-16 07:39] sftim commented on #33696
Anyone - and that absolutely includes you @harshitasao - is welcome to open a new pull request that fixes this issue.

If you'd like some hints, check out https://k8s.io/docs/contribute/new-content/ - or reply here with questions!

[2022-05-16 08:08] javadoors opened #33726 "[zh]Add Chinese translation of this part /en/docs/tasks/administer-cluster/kubeadm/kubeadm-certs#kubeconfig-additional-users"
**This is a Bug Report**

The /en/docs/tasks/administer-cluster/kubeadm/kubeadm-certs#kubeconfig-additional-users has not translate to chinese.

**Problem:**
The /en/docs/tasks/administer-cluster/kubeadm/kubeadm-certs#kubeconfig-additional-users has not translate to chinese.

**Proposed Solution:**
Translate the /en/docs/tasks/administer-cluster/kubeadm/kubeadm-certs#kubeconfig-additional-users  t

[2022-05-16 08:37] tengqm commented on #33474
This issue is done.
/close

[2022-05-16 08:37] #33474 closed

[2022-05-16 09:54] sftim commented on #30745
@Tobi1to did you have any specific questions about how to get started?

[2022-05-16 10:05] #33726 closed

[2022-05-16 10:06] sftim commented on #33705
“Here, you can add add a summary of your review” - that does look wrong to me.
/language en
/triage accepted

New contributors, PRs are welcome!

[2022-05-16 10:09] sftim commented on #33703
Sounds good.

We could link to https://docs.docker.com/engine/install/ubuntu/#uninstall-docker-engine and similar page fragments; if we do, we should caution people that Docker's advice has a risk of trampling on containerd.

Ideally, we provide just links to third party docs here.  However, neither Docker Engine nor containerd has docs for migrating from one thing to the other (let alone any Kube

[2022-05-16 10:10] sftim commented on #33703
/sig node
/triage accepted
/language en
/priority backlog

[2022-05-16 10:52] zaunist opened #33730 "[zh]: docs/tasks/administer-cluster/kubeadm/ needs to be updated"
**This is Support**
The translation of these pages is out of date and it needs to be updated.
@javadoors has reported this issue  https://github.com/kubernetes/website/pull/33670#discussion_r873435180

[code]

[2022-05-16 10:53] zaunist commented on #33730
/assign

[2022-05-16 11:16] mengjiao-liu opened #33735 "[zh] Updated the term "群集" to "集群""
see https://github.com/kubernetes/website/pull/33643#issuecomment-1125841238

在中文本地化中其他页面存在将“cluster” 翻译为“群集”的情况，
[术语对照表](https://kubernetes.io/zh/docs/contribute/localization_zh/#%E6%9C%AF%E8%AF%AD%E5%AF%B9%E7%85%A7)的建议是翻译为 “集群”，因此，需要修改此术语翻译。

因为涉及到的页面较多，同时需要同步文件，工作量较大，此 issue 用以追踪此更改。

由于 [zh -> zh-cn](https://github.com/kubernetes/website/issues/34221) 造成的文件迁移，同步时，我们需要运行下面的命令以检查上游变更情况。
[code]
r

[2022-05-16 11:20] mengjiao-liu commented on #33735
/triage accepted
/language zh

[2022-05-16 11:39] mengjiao-liu commented on #33735
please check the issues https://github.com/kubernetes/website/issues/33474, https://github.com/kubernetes/website/issues/33475, https://github.com/kubernetes/website/issues/33476, https://github.com/kubernetes/website/issues/33477, https://github.com/kubernetes/website/issues/33478, https://github.com/kubernetes/website/issues/33479 and sign on tasks there. It would help save your time and avoid c

[2022-05-16 11:40] mengjiao-liu commented on #33735
/help

[2022-05-16 11:42] Abirdcfly commented on #33477
tasks-1
content/zh/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md  has been fixed by https://github.com/kubernetes/website/pull/33030
content/zh/docs/tasks/run-application/run-replicated-stateful-application.md has been fixed by https://github.com/kubernetes/website/pull/33528
content/zh/docs/tasks/run-application/force-delete-stateful-set-pod.md has been fixed by https://githu

[2022-05-16 11:56] ashish-jaiswar commented on #33705
Hi @harshitasao are you working on this issues? if not can you assign it to @kadtendulkar. She is new contributer.

[2022-05-16 12:43] harshitasao commented on #33696
Thank you @sftim

[2022-05-16 12:43] harshitasao commented on #33696
/assign

[2022-05-16 12:52] mk46 commented on #31584
https://github.com/kubernetes/website/pull/31586 will be good for reference to work on this.
Only need to undo changes for the below files
[code]

[2022-05-16 13:04] tengqm commented on #33730
/close
Both files are being fixed by #33598

[2022-05-16 13:09] harshitasao commented on #31584
/assign

[2022-05-16 13:11] eminalemdar commented on #33705
I have opened a PR for this issue. Please check: https://github.com/kubernetes/website/pull/33737

[2022-05-16 13:44] mk46 opened #33738 "Broken link in blog"
**This is a Bug Report**

**Problem:**
Link of [earlier blog article](https://kubernetes.io/blog/2021/08/30-volume-populators-redesigned/) in https://kubernetes.io/blog/2022/05/16/volume-populators-beta/ gives 404
**Proposed Solution:**
   Update `earlier blog article`  link to https://kubernetes.io/blog/2021/08/30/volume-populators-redesigned/
**Page to Update:**
https://kubernetes.io/blog/2022/0

[2022-05-16 13:58] mk46 commented on #33738
https://github.com/mk46/website/commit/82c7f29af51c7aad2b7912ee766dee966a8e1c1f useful to open PR.
/language en

[2022-05-16 14:13] eminalemdar commented on #33738
I have created a PR for this issue.

[2022-05-16 14:33] sftim opened #33746 "Add automated link checking for the k8s website"
**This is a Feature Request**

**What would you like to be added**

We should:
1. Update the link checker to build the site with the selected Netlify version
   - This may imply, as a prerequisite, publishing a container image via automation
1. Add tooling to run the link checker automatically
1. Report the results of link checking via GitHub's [checks](https://docs.github.com/en/rest/checks) API

[2022-05-16 14:34] mk46 commented on #33705
Related PR merged. We need to manually close this. Thanks!!

[2022-05-16 15:28] ashish-jaiswar commented on #33746
/assign

[2022-05-16 18:29] verbickas-knos commented on #32778
I can take a look, update some links and update docs

[2022-05-16 18:29] AugustasV commented on #32778
I can take a look, update some links and update docs.

[2022-05-16 19:45] p-thor opened #33749 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
The whole interactive part fails to work.  I see an empty terminal and on the left side some commands and a scroll bar that is unable to scroll. It seems like the application is not functional after initial load

[2022-05-16 23:17] tengqm commented on #33746
The existing script `scripts/link_checker.py` can be used as a starting point.

[2022-05-16 23:37] chrismetz09 commented on #31960
Updates:
1. Worked correctly 100% time when using `disable caching` in dev tools. True for chrome and ff. Presumably this emulates what first-time visitor to page will see?
2. Tried various techniques to reload page from server such as `window.location.reload()`, `history.go(0)`, appending hash to url, etc. Don't see anything out there in JS land that can emulate `empty cache and hard reload`. I d

[2022-05-17 00:18] windsonsea commented on #33631
If this task has not been captured by others, could I get this translation task?
/assign

[2022-05-17 01:17] nobiit opened #33770 "kubeadm fails pulling images; containerd disabled CRI plugin"
### What happened?

I can't initialize Kubernetes 1.24.0 cluster, failed at `kubeadm config images pull` step

[code]

### What did you expect to happen?

I can initialize Kubernetes 1.24.0 cluster without error

### How can we reproduce it (as minimally and precisely as possible)?

1. Prepare a computer with docker/containerd pre-installed and make sure it works properly
2. Install kubeadm/kubele

[2022-05-17 01:25] lishuai-hw commented on #33631
Yes, you can.

[2022-05-17 01:34] tengqm commented on #33631
/triage accepted
/kind feature

[2022-05-17 01:42] windsonsea commented on #33631
Hi, my master, could you assign this task to me. It is nearly half done now :)

[2022-05-17 02:28] tengqm commented on #33631
@windsonsea, It is already assigned to you. Your `/assign` comment counts.

[2022-05-17 03:04] lishuai-hw opened #33754 "[zh] Missing Chinese translation docs: https://kubernetes.io/blog/2022/03/31/ready-for-dockershim-removal/"
**This is a Feature Request**

Problem:
This page does not have Chinese docs: https://kubernetes.io/blog/2022/03/31/ready-for-dockershim-removal/

Proposed Solution:
add Chinese translation docs in website Kubernetes Blog

**Comments**

/language zh
/assign

[2022-05-17 03:45] windsonsea commented on #33754
I can also handle this task if you believe my translation is accepted after you reviewed PR #33755.
/assign

[2022-05-17 03:54] lishuai-hw commented on #33754
There are many other pages that do not have Chiness docs, you can chose another one.

[2022-05-17 06:05] mk46 commented on #33749
Hi @p-thor, It's working for me. Seems like issue with the network, give a try on  different network.

[2022-05-17 07:07] Shubham82 commented on #33749
/label team/katacoda

[2022-05-17 08:16] agelosnm commented on #33640
For anyone facing this issue and Kubernetes is not starting, I removed the `--network-plugin` flag from `/var/lib/kubelet/kubeadm-flags.env `file and restarted kubelet service. (`systemctl restart kubelet`).

[2022-05-17 08:24] jihoon-seo commented on #33472
다음도 확인해 보면 좋을 것 같습니다. 😊

- `content/ko/case-studies/*`
- `data/i18n/ko/ko.toml`
- `README-ko.md`
- ...

---

그리고 M94, M95, M103 은 연관이 있을 수 있으며 (Windows)
M94 관련 issue/PR이 다음과 같습니다.
- #31428
- #30364
- https://github.com/kubernetes/website/pulls?q=is%3Apr+author%3Amarosset+is%3Amerged+windows
- https://github.com/kubernetes/website/pulls/marosset
- ...

[2022-05-17 08:27] sftim commented on #31301
/close

If you want to propose a new feature to Kubernetes where the cluster becomes aware of its name, see https://github.com/kubernetes/kubernetes/issues/new/choose

[2022-05-17 08:28] #31301 closed

[2022-05-17 08:29] sftim commented on #31960
I'm minded to try a different technique: drop bits of JavaScript out of the page (by locally editing templates, perhaps) until we find a removal that makes the symptoms disappear. Maybe a similar tactic with simplifying the HTML.

What do folks think, is that a way forward?

[2022-05-17 08:32] sftim commented on #33640
/priority important-longterm

[2022-05-17 08:37] sftim commented on #29654
I ran through https://kubernetes.io/docs/tutorials/hello-minikube/ and all the steps were correct for me. There is room to make the explanation more clear for a reader.

/triage not-reproducible

@emschwartz if you wanted to, you could file an issue to make clear any parts of that page that you think are particularly confusing.

/close

[2022-05-17 08:37] #29654 closed

[2022-05-17 09:03] fenggw-fnst commented on #33735
Fix part2: content/zh/docs/tasks/administer-cluster/ip-masq-agent.md in #33632.

[2022-05-17 09:17] Sandiip96 opened #33764 "Install and Set Up kubectl on Linux"
While installing bootstrap server, we need to configure 'kubectl', so i am using aws cloud, used this command to install
![error](https://user-images.githubusercontent.com/92013483/168776413-e029361c-4ceb-44b0-bbfa-3b3e313e0afe.png)

" curl -LO https://github.com/kubernetes/kops/releases/download/$(curl -s https://api.github.com/repos/kubernetes/kops/releases/latest | grep tag_name | cut -d '"' -f

[2022-05-17 09:47] eminalemdar commented on #32573
Hello @sftim, is the title of this page should be changed as proposed?

[2022-05-17 10:19] Shubham82 commented on #33764
Hi @Sandiip96
I think kubectl is installed. This errors message is for the flag you are using with `kubectl version`
It is due to the following code changes:
See this PR: https://github.com/kubernetes/kubernetes/pull/108987 https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubectl/pkg/cmd/version/version.go#L138

[2022-05-17 10:30] Shubham82 commented on #33764
/sig cli

[2022-05-17 11:57] nasa9084 opened #33765 "move /ja/docs/tasks/debug-application-cluster/get-shell-running-container/ to /ja/docs/tasks/debug/debug-application/get-shell-running-container/"
**This is a Feature Request**

**What would you like to be added**

The English page has been moved. maybe need to update the page too.

**Why is this needed**

**Comments**

/language ja

[2022-05-17 11:57] nasa9084 commented on #33765
/triage accepted

[2022-05-17 13:48] noftaly opened #33769 "Interactive Tutorial - Creating a Cluster: cannot interact with Katacoda's iframe"
Hello!

I've just started the tutorial and wanted to try creating my first cluster in the interactive tutorial, as suggested by the docs
https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/

The thing is once I launched the console and started the scenario, nothing was clickable. I've attached a video of me trying to interact with it. I've also started to writ

[2022-05-17 14:40] #31995 closed

[2022-05-17 14:41] sftim commented on #33764
/kind support

[2022-05-17 14:42] sftim commented on #33764
We could mention that `kubectl version --short` is the command to run (which it _is_ if you're not sure what version of kubectl you're going to get) but that you do see a deprecation warning.

The warning being printed does not indicate any error.

/language en

[2022-05-17 15:04] sftim commented on #33764
/remove-kind support

I'm not sure that this is a docs bug. Something needs to change, but maybe that thing is `kubectl` itself.

[2022-05-17 15:09] #33749 closed

[2022-05-17 15:33] mk46 commented on #33769
Duplicate of https://github.com/kubernetes/website/issues/33749

[2022-05-17 17:21] noftaly commented on #33769
Ok it worked after disabling my content blockers and the builtin content blockers!
Thanks

[2022-05-17 22:57] KatsuoRyuu commented on #33640
I have run into the same problem and removing it from `/var/lib/kubelet/kubeadm-flags.env` does not work.
Basically this breaks the system

[2022-05-17 23:48] s-kawamura-w664 commented on #32756
Report test details.

I confirmed the following code for test.

[code]

The html is below.
This was built by Hugo, then I formed it to make it easier to read.

[code]

The `</div>` to close the `<note>` is outside the list, which is causing problems.
So, I reported the fix of notes.html.

[2022-05-18 00:11] jihoon-seo opened #33780 "Update broken link and Hugo metadata of `tasks/debug/*`"
**This is a Bug Report**

**Problem:**
In https://kubernetes.io/docs/tasks/debug/debug-application/debug-pods/ ,
[one link](https://kubernetes.io/docs/tasks/debug/debug-application/debug-pods/#:~:text=troubleshooting%20document) is broken.

**Proposed Solution:**
In https://github.com/kubernetes/website/blob/main/content/en/docs/tasks/debug/debug-application/debug-pods.md?plain=1 ,

[code]

**Page

[2022-05-18 02:04] #33646 closed

[2022-05-18 02:26] tengqm commented on #33479
@JarHMJ, I'm wondering if you need some help on this. There are too many tasks assigned to you. Maybe someone else can help share this workload?

[2022-05-18 02:59] mk46 commented on #33640
Hi @KatsuoRyuu @agelosnm, Seems like you are using `kubelet < 1.24`. If not ,kindly share kubelet version and log.
Thanks !!

[2022-05-18 03:06] t-inu opened #33784 "Incorrect role restrictions on docs/contribute/review/for-approvers/"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/contribute/review/for-approvers/
It seems the role restrictions for the below commands are incorrect.
- /assign: Reviewers or Approvers
- /close: Reviewers or Approvers

**Proposed Solution:**
- /assign: Anyone
- /close: Authors or Organization members

And, I think It's better to add the following statement to the /assign command's

[2022-05-18 03:21] RA489 commented on #29655
/remove-lifecycle rotten

[2022-05-18 03:22] RA489 commented on #29210
/remove-lifecycle rotten

[2022-05-18 03:24] RA489 commented on #27965
/remove-lifecycle stale

[2022-05-18 03:25] RA489 commented on #26910
/remove-lifecycle stale

[2022-05-18 03:25] RA489 commented on #27312
/remove-lifecycle stale

[2022-05-18 03:55] Kartik494 commented on #33671
/sig storage

[2022-05-18 04:50] ashish-jaiswar opened #33787 "Broken link on kubectl-commands page"
### Problem:
Link of [https://index.docker.io/v1/](https://index.docker.io/v1/) give 404 error
### Proposed solution:
update link to [https://index.docker.io](https://index.docker.io)
### Page to update:
[https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#-em-secret-docker-registry-em-](https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#-em-secret-docker-r

[2022-05-18 04:51] ashish-jaiswar commented on #33787
/assign @kadtendulkar

[2022-05-18 04:52] ashish-jaiswar commented on #33787
/assign

[2022-05-18 04:54] kadtendulkar commented on #33787
/assign i would like to work on this

[2022-05-18 04:56] ashish-jaiswar commented on #33787
/assign @kadtendulkar

[2022-05-18 05:09] KatsuoRyuu commented on #33640
The version i used was 1.24.0 from the debian repo, downgrading to 1.23.6 solved my issue and got everything running again

[2022-05-18 05:54] mk46 commented on #33640
How you have bootstrapped the cluster? Using kubeadm or different tools

[2022-05-18 06:00] agelosnm commented on #33640
@mk46 I was using 1.23 and I came up with this issue upon performing updates to the nodes of the cluster (apt-get upgrade). Then, 1.24 was installed and the issue came up and I managed to resolve it as I mentioned above as the logs of the kubelet service were indicating error with the --network-plugin flag.

[2022-05-18 06:22] mk46 commented on #33640
Behaviour is expected. since remove in v1.24
Please share `/var/lib/kubelet/kubeadm-flags.env` and the output of `journalctl -b -u kubelet`?

[2022-05-18 06:56] afro-coder commented on #31293
/assign

[2022-05-18 07:25] SushilSanjayBhile commented on #33671
In the [PersistentVolume](https://kubernetes.io/docs/concepts/storage/volumes/) doc, we don't have an example of **spec.hostPath** implementation, so I thought we should add an example of the PV implementation using this **spec.hostPath** property.

[2022-05-18 07:51] lishuai-hw opened #33790 "[zh] This page: /docs/tasks/administer-cluster/migrating-from-dockershim/check-if-dockershim-removal-affects-you/ is inconsistent with Chinese doc check-if-dockershim-deprecation-affects-you.md"
**This is a Feature Request**

**What would you like to be added**

Modified the Chinese doc name to keep it consistent with its English doc name.

**Why is this needed**
This page: /docs/tasks/administer-cluster/migrating-from-dockershim/check-if-dockershim-**removal**-affects-you/, it is inconsistent with Chinese doc name: check-if-dockershim-**deprecation**-affects-you.md

**Comments**

/langua

[2022-05-18 08:21] sftim commented on #33640
Folks, this is an accepted issue. We should update that page to remove mentions of the `--network-plugin` command line argument.

Pull requests are welcome - see https://kubernetes.io/docs/contribute/ for tips on how to contribute.

[2022-05-18 12:03] marco74 opened #33795 "Help troubleshooting a cluster deployed using kubeadm"
Hello,

on the site I read
```You should now be able to curl the nginx Service on <CLUSTER-IP>:<PORT> from any node in your cluster.```

After following the instructions I can curl my nginx service only on that nodes where a pod is running. On the others I got
```curl: (7) Failed to connect to 10.107.64.40 port 80: No route to host```
 Is that intentionally or am I missing something?

Also the DNS

[2022-05-18 12:32] zaunist commented on #33479
@JarHMJ If you need help, I will be happy to complete parts 18 ~ 24.
/assign

[2022-05-18 13:15] edqallen opened #33796 "Creating a cluster with kubeadm - Incorrect information in "Control plane node isolation""
This section of the documentation indicates that you need to remove two taints from the nodes to disable control plane isolation, however, this is not true, at least in k8s version 1.23.  In this version at least the two taints mentioned are actually labels, and need removed with the `kubectl label` command rather than `kubectl taint`.

I would update the page myself but I'm not familiar enough wi

[2022-05-18 13:32] windsonsea opened #33798 "[zh][Umbrella] api-authorization reference pages to sync for 1.24"
**This is a Feature Request**

After suggestions from @tengqm, I carefully checked the [api-docs](https://kubernetes.io/docs/reference/kubernetes-api/) and current issues, and find the following docs are still no any Chinese version and localization assignment.

Could @tengqm, @mengjiao-liu please give a favor to confirm whether the following tasks can be assigned to me for localization? Thanks.

[2022-05-18 13:49] #33796 closed

[2022-05-18 14:21] sftim commented on #32573
I didn't understand https://github.com/kubernetes/website/issues/32573#issuecomment-1128658282 @eminalemdar

The page that nees fixing is https://kubernetes.io/docs/tasks/manage-kubernetes-objects/imperative-command/
The fix that @Smidra recommends is to change the title of that page to “Imperative Management of Kubernetes Objects Using Commands”

I support making that change.

[2022-05-18 14:23] eminalemdar commented on #32573
Perfect! I can do that @sftim

[2022-05-18 14:24] eminalemdar commented on #32573
/assign

[2022-05-18 16:24] JarHMJ commented on #33479
@zaunist @kinzhi Thanks a lot.I've done most of tasks tonight,so you could choose other tasks.

[2022-05-18 16:28] Sea-n commented on #33479
Hi @JarHMJ,

Thanks for your help in sync those pages!
May I remind you there are a philosophy called "[Release early, release often](https://en.wikipedia.org/wiki/Release_early,_release_often)".
It's not good to spend hours and send 12 PRs in a row.

感謝你協助翻譯/同步頁面，想提醒你開源社群有個哲學叫「儘早釋出、頻繁釋出」

假如一次耗費幾小時完成所有事情後，再一次丟 12 個 PR 出來，可能會因為大家精力有限而延遲到審閱時間
下次如果方便的話，希望可以每完成 1 - 3 個就先發 PR 讓大家檢閱，或許也比較能讓其他貢獻者們知道目前狀況

[2022-05-18 16:48] JarHMJ commented on #33479
Thanks for reminding. @Sea-n Maybe it will be better if I reply earlier next time.

[2022-05-18 17:34] Awot83 commented on #33770
i had the same error with kubeadm v1.24,  (other VM can pull image, with kubeadm 1.23 on the same network)
so i did remove the file /etc/containerd/config.toml
and restarted containerd

but i still get this error :
[code]

[2022-05-18 17:38] neolit123 commented on #33770
that seems like connectivity issue to the containerd endpoint?
make sure that containerd is running. try checking with `crictl -r <endpoint> info`.

[2022-05-18 17:54] Awot83 commented on #33770
yes containerd was stopped
now i get
 kubeadm config images pull

[code]

[2022-05-18 18:01] neolit123 commented on #33770
seems like the machine has no access to the k8s GCR. try debugging the connectivity with curl or other tools.

[2022-05-18 19:27] shannonxtreme commented on #26190
From what I understand, this would be a page or pages where:

* One page is about the style conventions, formatting, and terminology to use when writing about the API or writing API docs
* One page is a freshened version of [Contributing to the upstream Kubernetes code](https://kubernetes.io/docs/contribute/generate-ref-docs/contribute-upstream/) with a focus on finding and writing API definitions

[2022-05-18 20:36] shannonxtreme commented on #4491
![](https://c.tenor.com/lJ4jM3WfPY0AAAAC/im-in.gif)

/assign

[2022-05-18 20:46] shannonxtreme commented on #4491
I'll use [this doc](https://docs.google.com/document/d/1VQ8UFux1HifjXo9rRwm2-mOoUOzmMF7zGf-C0BhurdQ/edit#) to plan my work (and check if improvements are really needed)

[2022-05-18 22:57] sftim commented on #33787
/remove-good-first-issue

This is generated documentation, and newcomers might not find a fix straightforward.

[2022-05-18 23:03] sftim commented on #33784
Perhaps we can update [that page](https://kubernetes.io/docs/contribute/review/for-approvers/) to refer and hyperlink to https://www.kubernetes.dev/docs/guide/pull-requests/#the-testing-and-merge-workflow instead?

If we want to change the text of [Pull Request Process](https://www.kubernetes.dev/docs/guide/pull-requests/) (for example, to mention `/close`), we'd edit: https://github.com/kubespher

[2022-05-19 00:04] tengqm commented on #33479
@JarHMJ Due to my fault, there are two `kubeadm-14` in the list. Could you help check?

[2022-05-19 01:48] tengqm commented on #33798
/triage accepted
/language zh
/help

[2022-05-19 04:24] Kartik494 commented on #33671
@SushilSanjayBhile @sftim There is already a [configuration file](https://kubernetes.io/docs/concepts/storage/volumes/#hostpath-configuration-example) present in doc where you can create a pod using `hostPath` which is mounting volume.SO if i am not wrong and if we add persistentVolume hostpath explicit example , then we also accordingly  have to change configuration file.

[2022-05-19 07:26] Swannben opened #33824 "Interactive Tutorial - Scaling Your App"
the command to decrease the scaling is not workig properly, when i run the get pods it still lists 4 active ones instead of 2 desite thee eng only 2 deployments according to the get deployment

[2022-05-19 08:56] #30996 closed

[2022-05-19 09:30] Kartik494 commented on #33671
@sftim i think there is already issue reported #27439  which intended to replace `hostpath` example with `local` example in `volumes.md` , so if its happen then do we need to to add `hostpath` examples as suggested here?

[2022-05-19 10:14] RA489 commented on #31081
/remove-lifecycle rotten

[2022-05-19 10:22] Abirdcfly commented on #33537
https://github.com/kubernetes/website/pull/33670 has been merged.

/close

[2022-05-19 10:22] #33537 closed

[2022-05-19 12:09] Awot83 commented on #33770
Hello,
i did theses tests :
(i am on centos 7)

- with the inital config.toml file

[code]

- with the modified config.toml file : # disabled_plugins = ["cri"]

(also tested without the file, same error)
(and i reach my proxy with 200 ok )
[code]
do you have any advice how to debug this ?

[2022-05-19 12:26] Kartik494 commented on #33795
@marco74  could you  provide the task reference you are facing issue on?

[2022-05-19 13:07] Kartik494 commented on #33069
@opabloc  this deployment interactive tutorial running fine on my env. Maybe could you recheck at your end.
Thanks!

[2022-05-19 13:26] marco74 commented on #33795
Actually I do not understand your question. I already wrote that I followed the instructions on

I followed every single step on https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/

The first problem I see is that two pods have the same IP. With that they wont be able to cummunicate with each other, so what am I missing to not get the same IP on both pods (on diff

[2022-05-19 13:30] mk46 commented on #33770
if not then please check proxy URL is set in  environment var or not as `http_proxy`, `https_proxy`, `HTTP_PROXY`, `HTTPS_PROXY`?

[2022-05-19 13:55] Awot83 commented on #33770
i tried ctr images pull k8s.gcr.io/kube-apiserver:v1.24.0  => it was  "connection refused"
then i added http_proxy / https_proxy in env var  (i already had HTTP_PROXY, HTTPS_PROXY and NO_PROXY)
then  ctr images pull k8s.gcr.io/kube-apiserver:v1.24.0 was ok !

[code]

but kubeadm config images pull   is still KO with same error :

[code]
so i added
  Environment="http_proxy=http://proxy...
  Enviro

[2022-05-19 14:07] neolit123 commented on #33770
that looks like a kubeadm bug, where the system ENV vars are not passed to the `crictl` command.
could you please log an issue about it in [kubernetes/kubeadm](https://github.com/kubernetes/kubeadm)?

https://github.com/kubernetes/kubernetes/blob/92285fd74e8906bc4910d6fb6729b7ec0e74f427/cmd/kubeadm/app/util/runtime/runtime.go#L71

we need something like `cmd.SetEnv(os.Environ())` there.

in the me

[2022-05-19 14:11] neolit123 commented on #33770
that's an artifact of *nix having case sensitive env variables (unlike Windows) and some tools inconsistently need either the uppercase or lowercase variants.

[2022-05-19 14:24] JarHMJ commented on #33479
👌

[2022-05-19 15:16] Kartik494 commented on #33795
@marco74 Could you please share which cni plugin you are using ?  i have checked in my env , pod's are getting different IP's .

kubectl get pods -l run=my-nginx -o wide
NAME                        READY   STATUS    RESTARTS   AGE   IP               NODE
my-nginx-5b56ccd65f-9b55t   1/1     Running   0          70s   192.168.212.16   workernode1
my-nginx-5b56ccd65f-x9rnz   1/1     Running   0

[2022-05-19 16:50] shannonxtreme commented on #4491
Based on an initial analysis, the overarching scope of work is:

- Update Secret concept
- Create new tasks:
    - Allow containers to connect over SSH by mounting SSH keys as Secrets
    - Distribute multiple Secrets to Pods that share common templates
    - Hide files in Secrets from normal listing commands (why?)
    - Restrict Secret access to individual containers in Pods
    - Edit or replac

[2022-05-19 17:35] shannonxtreme commented on #4491
I've reached out to sig-security with an invitation to comment on the Scope of Work in the doc. I'll leave that open for 1 week and will action the scope of work in that state starting on Thursday, May 26th. I'll do smaller PRs where possible to avoid XXL reviews.

[2022-05-19 17:58] marco74 commented on #33795
@Kartik494 Thank you for your answer. Different IPs must be necessary, otherwise one pod could not connect to the other because routing won't work, when the same subnets are used. Could you please drop me a thorough instruction set how to set up a cluster, starting right after OS-setup, then I could compare to find the mistake.

Usually I startup with a fresh installed Debian Bullseye on a Virtual

[2022-05-19 18:24] Tej-Singh-Rana commented on #33824
I didn't see this issue.
Please find the attached screenshot.
<img width="558" alt="katacoda-demo" src="https://user-images.githubusercontent.com/58101587/169373002-7732ba9d-a45b-424c-bcd0-1a99e27e5625.png">

Regards,

[2022-05-19 18:44] Tej-Singh-Rana commented on #33795
Hi @marco74 ,

If you choose the service type: `ClusterIP` then you can curl the nginx service from any pods (curl pkg should be installed on that pod's image or later on, you can install it by its package manager) on that XYZ node in your cluster.
Suppose **pod-1** is deployed on **worker-01** node and **pod-2** is deployed on **worker-02** node
then you can `Curl` to that nginx service on its `<

[2022-05-19 19:19] neolit123 opened #33835 "kubeadm API reference docs still mention "master" taint"
**This is a Bug Report**

**Problem:**

while cleaning up mentions of the legacy "master" taint in kubeadm docs:
https://github.com/kubernetes/website/pull/33834

saw the following:
[code]

it seems the generated reference API docs for kubeadm still include the "master" taint.

**Proposed Solution:**

cleanup mentions of the old taint from kubeadm's API reference docs at k8s.io.

perhaps these nee

[2022-05-19 19:20] neolit123 commented on #33835
/sig cluster-lifecycle
/priority important-soon
/kind cleanup

[2022-05-19 19:20] neolit123 commented on #33835
cc @tengqm

[2022-05-19 20:16] marco74 commented on #33795
@Tej-Singh-Rana: Thank you for that hint! I can test this tomorrow. Just to give quicker replies (and hopefully answers): Isn't that considered as alpha in 1.24? So I'm wondering, why https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/ is not just working as expected. This also does not answer the question why two pods get the same IP. As far as I know networking,

[2022-05-19 22:57] TinySong opened #33840 "[zh] policy-resources reference pages to sync for 1.24"
**This is a Feature Request**
I found that the following documents still do not have any Chinese version and localization work， When working quotas in-memory-cpu-namespace.md in this PR: https://github.com/kubernetes/website/pull/33779.

@tengqm please help me to confirm. 😄

- [ ]  task-1 @[Cosrider](https://github.com/Cosrider)
[code]

- [ ] task-2 @TinySong
[code]

- [ ] task-3 @ [pengcong08](ht

[2022-05-19 22:58] TinySong commented on #33840
/assign @TinySong

[2022-05-19 23:06] tengqm commented on #33840
/triage accepted
/language zh

[2022-05-19 23:25] zacharysarah commented on #4491
/milestone clear

[2022-05-19 23:49] reylejano commented on #4491
/milestone clear

[2022-05-20 00:36] Cosrider commented on #33840
i want to pick up task-1 and task-5 @TinySong

[2022-05-20 00:50] TinySong commented on #33840
/assign @Cosrider  task-1 and task-5

[2022-05-20 01:18] pengcong08 commented on #33840
pick up task-3,task-4

[2022-05-20 01:25] TinySong commented on #33840
@pengcong08 @Cosrider please read https://kubernetes.io/zh/docs/contribute/localization/ to Know some matters needing attention.

[2022-05-20 04:19] Shikaz commented on #458
I am trying to patch node condition type status, is there any example for that ?

[2022-05-20 04:33] kf6spf opened #33844 "Issue with k8s.io/releases/download/"
Trying to get kubectl running of Raspberry Pi 4B but both Arm64 versions here (Linux and MacOS) say:

/usr/local/bin/kubectl: cannot execute binary file: Exec format error

[2022-05-20 07:13] colindawson commented on #33640
my cluster is down after doing an apt upgrade.   From what I can understand it looks like I have this issue, running version 1.24.0 as well.     Is here any instructions on how to downgrade my cluster so that I can get it up and running again?

[2022-05-20 07:18] panggl52xiaojuzi opened #33845 "使用 kubeadm 配置集群中的每个 kubelet"
当调用 kubeadm init 时，kubelet 的配置会被写入磁盘 /var/lib/kubelet/config.yaml， 并上传到集群 kubee-system 命名空间的 kubelet-config ConfigMap。 kubelet 配置信息也被写入 /etc/kubernetes/kubelet.conf，其中包含集群内所有 kubelet 的基线配置。 此配置文件指向允许 kubelet 与 API 服务器通信的客户端证书。 这解决了[将集群级配置传播到每个 kubelet](https://kubernetes.io/zh/docs/setup/production-environment/tools/kubeadm/kubelet-integration/#propagating-cluster-level-configuration-to-each-kubel

[2022-05-20 07:29] davidkarlsen commented on #33640
@colindawson
I got mine up by simply downgrading the kubelet to latest 1.23.x

[2022-05-20 07:53] sftim commented on #30965
It's been a while since the last update. PRs to address this issue are welcome (by any contributor).
/priority important-longterm

[2022-05-20 07:57] sftim commented on #33770
`/etc/systemd/system/docker.service.d/http-proxy.conf` isn't relevant to the containerd runtime.

---

It's actually defined specifically as lower case. A _de facto_ convention, but the aim is to avoid the risk of [CGI](https://en.wikipedia.org/wiki/Common_Gateway_Interface) setting `HTTP_PROXY` if a client sends a `PROXY:` (or `Proxy:`) request header. This `*_proxy` convention is different from

[2022-05-20 07:58] sftim commented on #33770
It's actually defined specifically as lower case. A _de facto_ convention, but the aim is to avoid the risk of [CGI](https://en.wikipedia.org/wiki/Common_Gateway_Interface) setting `HTTP_PROXY` if a client sends a `PROXY:` (or `Proxy:`) request header. This `*_proxy` convention is different from most Unix / POSIX environment variables, which are all-uppercase.

---

This GitHub issue is not the pl

[2022-05-20 08:09] sftim opened #33847 "Add new task page: override the wall-clock time in a Pod"
**This is a Feature Request**

**What would you like to be added**
Add new task page that explains two ways to have an app running inside Kubernetes see a different time:
1. Set the timezone for that application, and have the Pod inherit system time from the node.
2. Override the time for the container; for example, by using an entrypoint that sets a custom time and then execs the actual app.
  Fo

[2022-05-20 08:10] Abirdcfly commented on #33845
Thanks for the feedback, a fix has been submitted.
感谢反馈。修正已经提交。

[2022-05-20 08:13] ashish-jaiswar commented on #33787
Hi @sftim if [https://index.docker.io/v1/](https://index.docker.io/v1/) is not a web page. Can I close this issue?

[2022-05-20 08:14] sftim opened #33848 "Link to CNCF contributor guide"
**This is a Feature Request**

**What would you like to be added**
Update https://kubernetes.io/docs/contribute/ so that early in the page there is a link to
https://contribute.cncf.io/contributors/projects/#kubernetes

You should decide on some suitable text for the hyperlink. Read https://contribute.cncf.io/contributors/ to get ideas about what to write, if you're not sure.

:information_source:

[2022-05-20 08:15] sftim commented on #33787
You're welcome to close this issue @ashish-jaiswar

[2022-05-20 08:18] ashish-jaiswar commented on #33787
closing this issue

[2022-05-20 08:18] #33787 closed

[2022-05-20 08:21] ashish-jaiswar commented on #33848
/assign

[2022-05-20 08:24] ashish-jaiswar commented on #33746
/unassign

[2022-05-20 08:36] sftim commented on #33640
If anyone has questions about how to propose a fix for https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins/, you're very welcome to ask. You can reply here or, if you use the Kubernetes workspace for Slack, ask there in the `#sig-docs` channel.

[2022-05-20 08:38] neolit123 commented on #33770
We are still tracking https://github.com/kubernetes/website/issues/33770#issuecomment-1130693936 here.

@mk46 would you like to submit a PR for that as well?

The kubeadm proxy bug was fixed in https://github.com/kubernetes/kubeadm/issues/2697

[2022-05-20 08:40] sftim opened #33849 "“Overview of Cloud Native Security” page doesn't reflect CNCF-level position on security"
**Problem:**
The page at [Overview of Cloud Native Security](https://kubernetes.io/docs/concepts/security/overview/) is now a little out of date. [Version 2 of the CNCF Cloud Native Security white paper](
https://raw.githubusercontent.com/cncf/tag-security/98fc73ae263becbe1a4fb663e438893316040107/security-whitepaper/v2/CNCF_cloud-native-security-whitepaper-May2022-v2.pdf ) is out, and the white pa

[2022-05-20 08:44] mk46 commented on #33770
@neolit123 Sure.

[2022-05-20 08:47] netikras commented on #33640
I've created a SO page to redirect all the "how to fix my cluster now" questions there: https://stackoverflow.com/questions/72316016/after-upgrading-to-kubelet-v1-24-clusted-does-not-start . Should I update the OP to reflect this link and state that this is not a request to fix the cluster's setup? @sftim

[2022-05-20 08:55] mk46 commented on #33770
/assign

[2022-05-20 09:29] sftim commented on #33849
If we keep https://kubernetes.io/docs/concepts/security/overview/#cloud-provider-security we should add a third-party content disclaimer:
[code]

[2022-05-20 09:29] sftim commented on #33849
For the table in https://kubernetes.io/docs/concepts/security/overview/#cluster-applications we could make that into a list or single column table, where the text in the first existing column becomes the text of the hyperlink.

[2022-05-20 09:37] sftim opened #33852 "“Apply Pod Security Standards at the Cluster Level” documented for old release (v1.23)"
**This is a Bug Report**

**Problem:**
[Apply Pod Security Standards at the Cluster Level](
https://kubernetes.io/docs/tutorials/security/cluster-level-pss/) documents Pod Security admission defaults, but for Kubernetes v1.23 rather than any more recent release.

**Proposed Solution:**
Either:
- Edit https://kubernetes.io/docs/tutorials/security/cluster-level-pss/ to automatically render with the

[2022-05-20 09:58] Ulrar commented on #32849
Same issue here, had to disable pihole.

[2022-05-20 12:41] #33845 closed

[2022-05-20 15:03] shannonxtreme commented on #33852
What would need to change here? The Kubernetes minor version in the commands or also the version in the intro paragraph? (wouldn't that remain 1.23 since that's when the feature went beta?)

[2022-05-20 15:10] shannonxtreme commented on #33849
Really awesome issue description Tim. I can take a stab at planning/drafting this

/assign
/triage accepted

[2022-05-20 16:46] kadtendulkar commented on #33848
/assign

[2022-05-20 18:09] harshitasao commented on #33539
/assign

[2022-05-20 19:31] shannonxtreme commented on #33849
The Security principles feel like they could be in a "Security best practices" doc that's separate to the main Overview. WDYT @sftim?

[2022-05-20 19:34] sftim commented on #33849
Sure. Maybe a _set_ of  good practice pages; we already have https://kubernetes.io/docs/concepts/security/rbac-good-practices/

I'm sure there's room for another one about pod and nodes (linking liberally to our existing content). Maybe network security too, one day?

[2022-05-20 19:37] shannonxtreme commented on #33849
That would be awesome. Opinionated guidance targeted towards operators and admins would go a long way I think! Yes, hyperlink all the things is top of the list, lol

[2022-05-20 19:38] sftim commented on #33849
An idea (and only an idea)

https://kubernetes.io/docs/concepts/security/ could list the immediate concepts and also some curated links (fragments of pages within the security section, direct links to some authnz concepts, Pod Security admission setup). If we did that, we could organize those links by the Cloud Native security principles and add some more, similar to the issue description.

[2022-05-20 19:39] sftim commented on #33849
I'm also fine with having a page dedicated to Principles. Whichever feels like the best fit.

[2022-05-20 19:43] sftim commented on #33852
The tutorial shows you how to deploy a v1.23.x cluster; it should be v1.24. Maybe if we don't specify any version explicitly, that's good enough (I haven't checked, and I'm not very familiar with `kind`).

Making that version always match the latest release is left as an exercise for the reaser.

[2022-05-20 19:45] sftim commented on #4491
That wasn't how I read the existing example. I thought the intent was to show how you can take confidential config that an app expects to find in a hidden file (ie, the name begins with `.`) and manage that with a ConfigMap. What we're competing with here is the rather unwise alternative of baking the config into your container image, or possibly something complicated with sidecars.

[2022-05-20 19:46] shannonxtreme commented on #33849
Maybe a mixed approach? I like the idea of having our Security concepts page be more recipe-ish (Secure defaults heading and links to relevant sections etc like you say). It'd be a good excuse for an audit of what security docs we have so that we can organize and consolidate them!

And also have a principles concept page called "Good practices for cloud native security" or similar, also linked fro

[2022-05-20 19:53] shannonxtreme commented on #33849
(I also really like the idea of good practices docs overall. So yeah, good practices for cost-efficiency/resource management, RBAC, application lifecycle security, availability, network security, and so on). I suppose that'd need significant collab from SMEs in the SIGs though)

[2022-05-20 20:07] shannonxtreme commented on #33849
Instead of linking to the PDF, we might be able to link to https://cnsmap.netlify.app/develop and so on

[2022-05-20 20:25] shannonxtreme commented on #33849
I have a *very* early draft of a plan here: https://docs.google.com/document/d/1nyrl9yV9MWdsRz0b0TMPeUXtgi8QvIrguFAYRIZUnto/edit# feel free to add to it and edit it

[2022-05-20 20:30] sftim commented on #33849
I suspect that might not have a long lifespan, so I'm `-0` on that idea.

[2022-05-20 20:32] sftim commented on #33844
This looks like a support request. [Server Fault](https://serverfault.com/questions/tagged/kubernetes) is a better place to ask for help.

/kind support

[2022-05-20 20:35] shannonxtreme commented on #4491
So something like "Manage sensitive configurations using ConfigMap Secrets" with a real-world ish example of that

[2022-05-20 21:30] waych opened #33860 "Ingress docs diagrams are broken"
Diagrams (e.g. under "What is Ingress?", and "Simple Fanout") are not rendering at all on Chrome, and are rendering an error "Syntax error in graph  mermaid version 8.13.0" in Firefox.

https://kubernetes.io/docs/concepts/services-networking/ingress/#simple-fanout

[2022-05-21 00:39] jihoon-seo commented on #33860
Maybe relevant with:
- #31960
- #32420

[2022-05-21 01:17] tomkivlin opened #33862 "Update network-plugins.md to reflect removed dockershim flags in 1.24."
The [network plugins](https://github.com/kubernetes/website/blob/main/content/en/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins.md) page need to be updated to reflect the removed flags that happened as part of [1.24 dockershim removal](https://github.com/kubernetes/kubernetes/pull/106907).

[2022-05-21 01:24] kris-nova commented on #33862
I am curious about this. We should ideally offer a path forward for folks migrating off of configuring CNI via the Kubelet systemd unit.

As far as I can tell the entire archlinux community's kubernetes systemd units broke when we released 1.24.

I don't think we are responsible for contributin to the arch docs, however I do think having a source of truth here would be important.

Primarily:

 - W

[2022-05-21 01:40] tomkivlin commented on #33862
/assign @tomkivlin

[2022-05-21 01:52] #29916 closed

[2022-05-21 03:31] sshiv5768 opened #33864 "Interactive Tutorial - Creating a Cluster"
Lab environment is lagging. Whenever i try to click on any steps it doesn't work.

![Screenshot from 2022-05-21 08-59-45](https://user-images.githubusercontent.com/40575397/169633788-d42a264c-cf57-4424-96be-81adefc0907a.png)

[2022-05-21 03:47] Shaik-Jahangir opened #33865 "Troubleshooting kubeadm"
I am trying to create a kubernetes cluster using kubeadm but when i executed the kubeadm init command, the pods are going in CrashLoopbackoff state and the connection to the server is refusing. I have deployed a weave net networking dns also, even after that the pods are going in CrashLoopbackoff state.
Can anyone please help me understand any missing configuration..
![image](https://user-images.g

[2022-05-21 03:48] Shaik-Jahangir commented on #33865
/triage accepted

[2022-05-21 05:41] neolit123 commented on #33865
Hi please see
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

If you think our troubleshoting documentation can be improved - PRs welcome. Thanks.

/close
/kind support

[2022-05-21 05:42] #33865 closed

[2022-05-21 06:51] kadtendulkar commented on #33848
Hello @sftim, I have gone through the issue mentioned, so I think the following changes can be suitable in the note section.

Note: To learn more about contributing to Kubernetes, [one of the CNCF hosted projects](https://contribute.cncf.io/contributors/projects/#kubernetes), see the [contributor documentation](https://www.kubernetes.dev/docs/).

the text for the hyperlink ( https://contribute.cnc

[2022-05-21 07:23] sftim opened #33866 "Title for “Certificates” task does not describe a task"
**This is a Bug Report**

**Problem:**
Within the [Administer A Cluster](https://kubernetes.io/docs/tasks/administer-cluster/) tasks section, the page titles describe different tasks that a cluster operator might want to perform.

However, [Certificates](https://kubernetes.io/docs/tasks/administer-cluster/certificates/) has a title that describes a concept. As a result, this page stands out from t

[2022-05-21 07:23] sftim commented on #33866
/help

[2022-05-21 07:23] sftim commented on #33866
/triage accepted

[2022-05-21 08:28] sftim commented on #33864
/label team/katacoda

Thanks for reporting this.

[2022-05-21 08:29] sftim commented on #33860
/triage duplicate

[2022-05-21 08:30] sftim commented on #33640
Duplicated by issue #33862

[2022-05-21 08:31] sftim commented on #33862
/triage duplicate

@tomkivlin are you happy to close this as a duplicate?

[2022-05-21 08:31] sftim commented on #33640
We should edit https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins/ so that it is no longer incorrect, and then close this issue.

[2022-05-21 08:32] sftim commented on #33640
Anyone who wants to edit that page is welcome to.

[2022-05-21 08:32] tomkivlin commented on #33862
Yep, thanks @sftim.

[2022-05-21 08:32] #33862 closed

[2022-05-21 08:48] sftim opened #33867 "Website build broken"
**This is a Bug Report**

**Problem:**
[code]

**Proposed Solution:**
Revert the relevant change.

/priority important-soon

[2022-05-21 08:48] sftim commented on #33867
/assign

[2022-05-21 08:49] sftim commented on #33867
Looks like commit 7ff439d8f1879c222f9bc8752782c20002e3a129 broke this (merged as part of PR #33842).

[2022-05-21 08:57] sftim commented on #33867
I reverted that problematic merge in https://github.com/kubernetes/website/commit/18578288959f949ed9cf0418b2d72e34bc485797

[2022-05-21 09:29] sftim commented on #33867
/close

Fixed. Site has built OK.
Also means that PR #33861 is not needed.

[2022-05-21 09:29] #33867 closed

[2022-05-21 09:33] sftim commented on #33867
/triage accepted

[2022-05-21 11:26] #33770 closed

[2022-05-21 12:15] #31066 closed

[2022-05-21 12:18] ptux commented on #31427
/remove-lifecycle stale

[2022-05-21 12:22] sftim opened #33869 "Netlify deploy previews require approval"
**This is a Bug Report**

**Problem:**
Netlify changed their defaults so that PRs by “outsiders” need approval. The motivation was to reduce the risk of leaking secrets. I can't actually find an announcement about this (I checked https://www.netlify.com/blog/news/) but the change did happen.

**Proposed Solution:**
Switch https://kubernetes.io/ Netlify to always build previews, but not to let thos

[2022-05-21 12:22] sftim commented on #33869
Done (I made the change)
/triage accepted
/close

[2022-05-21 12:22] #33869 closed

[2022-05-21 12:23] sftim opened #33871 "Changes to website do not require Netlify preview"
**This is a Bug Report**

**Problem:**
PR  #33842 merged even though no Netlify preview was available (none had started). This was an easy mistake to make, because Prow _usually_ insists on tests passing. However, there is a data race: if changes achieve human approval _very very_ quickly, and Prow checks pass first, a Netlify check failure doesn't block a merge.

With #33842, the issue was that N

[2022-05-21 13:25] tengqm commented on #33871
I'm not 100% sure whether this is a configuration problem. From what I have seen during the past two days, netlify preview wasn't functioning at all. There was no way to see the preview. Some other checks were not showing results either.

[2022-05-21 16:35] sftim commented on #33871
The lack of any preview was #33869 (and is resolved).

The ability to for Prow merge without a preview succeeding is different; that's _this_ issue.

[2022-05-21 16:35] sftim commented on #33871
@tengqm do you have access to manage Netlify? If not, we should make sure you have tech lead access.

[2022-05-21 22:18] sftim opened #33875 "Refactor existing PKI Certificates and Requirements concept page"
**This is a refactor request**

**Problem:**
[PKI certificates and requirements](https://kubernetes.io/docs/setup/best-practices/certificates/) is a reference page that contains task details, but it is in the concepts section under Configuration.

**Proposed Solution:**
- Create a task page for creating certificates, based on the existing page; however, a couple of checks before you do:
  1. Check

[2022-05-22 05:37] joaoceragioli commented on #13939
Hello I'm going to translate [ReplicaSet](https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/), already assigned it to me on the spreadsheet.

[2022-05-22 07:24] NitishKumar06 commented on #30745
Hey @sftim , I'd be happy to work on this. Please guide me on how to get started here.

[2022-05-22 13:34] tengqm commented on #33871
@sftim No, I don't have access.

[2022-05-22 17:33] NitishKumar06 commented on #33866
Hey @sftim , I'd like to work on this issue.

[2022-05-22 17:33] NitishKumar06 commented on #33866
/assign

[2022-05-22 17:35] Tej-Singh-Rana commented on #33864
Seems like the lab environment is not loaded successfully. In the shared screenshot, I am not able to the terminal prompt.
Could you please try to reload again?

<img width="735" alt="katacoda-img-1" src="https://user-images.githubusercontent.com/58101587/169708103-218a701b-5799-4a3b-a194-bd2f1798b627.png">

Regards,

[2022-05-22 18:27] #30728 closed

[2022-05-23 03:08] tengqm commented on #33479
@JarHMJ There is only one item in the list. Please let the team know if you need help on the last item. Thanks.

[2022-05-23 03:08] tengqm commented on #33478
/remove-help

[2022-05-23 03:12] JarHMJ commented on #33479
Oh，sorry. I will do this job today later.

[2022-05-23 03:24] #33704 closed

[2022-05-23 04:15] tengqm commented on #33478
Special thanks to @nameYULI.
We can close this one now.
/close

[2022-05-23 04:15] #33478 closed

[2022-05-23 05:30] #33585 closed

[2022-05-23 06:47] khannakshat7 commented on #33866
/assign

[2022-05-23 07:53] Shubham82 commented on #33696
Hi, @harshitasao are you working on this?

[2022-05-23 07:54] sftim commented on #33866
Fixed in  #33888
/close

[2022-05-23 07:55] #33866 closed

[2022-05-23 07:56] ProtoSeo commented on #33223
I had the same problem too, but I modified 'mysql-configmap.yaml` file below and solved it.
@LukasBommes @tomaspritrsky
[code]

[2022-05-23 08:50] harshitasao commented on #33696
Hey @Shubham82,  yes I'm working on it.

[2022-05-23 09:28] stephen-dexda commented on #30576
/remove-lifecycle stale

[2022-05-23 09:49] NitishKumar06 commented on #33848
/assign

[2022-05-23 09:51] ashish-jaiswar commented on #33848
Hi @NitishKumar06 We are working on this issue. please work on other issue.

[2022-05-23 09:52] ashish-jaiswar commented on #33848
/unassign @NitishKumar06

[2022-05-23 10:45] NitishKumar06 commented on #33848
I've already made changes to this issue now. Please let it be reviewed.

[2022-05-23 10:45] NitishKumar06 commented on #33848
/assign

[2022-05-23 10:51] ashish-jaiswar commented on #33848
No you can't work on this issue if someone is already working . this is against the policy of kubernetes. tonight I will open PR for this issue. There are many issues just work on that.
/unassign @NitishKumar06

[2022-05-23 10:56] magnus-longva-bouvet opened #33893 "Broken link to “Inter-pod topological affinity and anti-affinity” design doc"
This is regarding this section in this page: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#an-example-of-a-pod-that-uses-pod-affinity

`See the [design doc](https://git.k8s.io/community/contributors/design-proposals/scheduling/podaffinity.md) for many more examples of Pod affinity and anti-affinity.`

The link to https://git.k8s.io/community/contributors/design-proposals

[2022-05-23 10:57] NitishKumar06 commented on #33848
See this issue has been opened from three days and as far I've observed the another contributor also raised the assign option for the same. Let my changes be reviewed and if it doesn't hold good, definitely you can also raise PR. The best one will be merged. /assign

[2022-05-23 10:57] NitishKumar06 commented on #33848
/assign

[2022-05-23 11:05] ashish-jaiswar commented on #33848
/unassign @NitishKumar06

[2022-05-23 11:09] NitishKumar06 commented on #33848
Infact there's @kadtendulkar as well. Why are you not removing her from assignes? Please be respectful.

[2022-05-23 11:10] ashish-jaiswar commented on #33848
/unassign @NitishKumar06

[2022-05-23 11:11] NitishKumar06 commented on #33848
cool. Do this I've raised the PR anyways.

[2022-05-23 11:13] ashish-jaiswar commented on #33848
@NitishKumar06 this is against the policy of kubernetes.
/unassign @NitishKumar06

[2022-05-23 11:13] kadtendulkar commented on #33848
Hey @NitishKumar06 please don't work on this issue, I'm new to community and this going to be my first issue. @ashish-jaiswar is helping me with that.
This is community to help and work with unity. Please give chance to new contributers to work as well.

/unassign @NitishKumar06

[2022-05-23 11:15] NitishKumar06 commented on #33848
@kadtendulkar Actually this is infact my first contribution as well. The fact that @ashish-jaiswar has more PRs merged shows he isn't a newbie here. My last PR was not merged because someone else merged it through my changes . Please notice that!

[2022-05-23 11:15] NitishKumar06 commented on #33848
/assign

[2022-05-23 11:18] kadtendulkar commented on #33848
/unassign @NitishKumar06

[2022-05-23 11:18] NitishKumar06 commented on #33848
@kadtendulkar Why are you doing this?

[2022-05-23 11:26] kadtendulkar commented on #33848
Hey @NitishKumar06 this is my first issue to work on, please let me solve this. This is not about competition, its only about community work, wouldn't it bother you if i do the same with you.
Please don't go against kubernetes policies.  if someone is assigned on the issue first you must ask if they are still working or not.
You are not doing the right thing @NitishKumar06
And in this case I'm wor

[2022-05-23 11:30] ashish-jaiswar commented on #33848
Hey @NitishKumar06  you are not following the policy of kubernetes. I will report you to Kubernetes community.

[2022-05-23 11:31] NitishKumar06 commented on #33848
Okay @ashish-jaiswar , Let my PR be reviewed. Sounds good now?

[2022-05-23 11:35] ashish-jaiswar commented on #33848
hey @NitishKumar06, kubernetes community will not accept your PR. Because you are working against the policy of kubernetes.

[2022-05-23 11:38] NitishKumar06 commented on #33848
@ashish-jaiswar My last PR was not merged because although I was working on this issue as well but someone after me started working on it and his PR got merged.

[2022-05-23 11:42] t-inu commented on #33784
@sftim
I agree that it's better to centralize the information.
Let me know the target range to be replaced with the link.
Do you think all of this page unnecessary?
If so, it may be better to close this issue and create another one because the purpose changes.

[2022-05-23 11:48] Shubham82 commented on #33893
Hi @magnus-longva-bouvet

It is not a dead link, actually, Design proposals have been archived and moved under the[ kubernetes/design-proposals-archive](https://github.com/kubernetes/design-proposals-archive/) repo, and the same mention on the page

which redirects to kubernetes/design-proposals. so nodeaffinity.md is under  design-proposals-archive/scheduling/nodeaffinity.md

[2022-05-23 11:51] sftim commented on #33848
_I'm writing this as a [tech lead](https://github.com/kubernetes/community/tree/49ecc500205884984a2174422f7715e7f9556b28/sig-docs#leadership) for SIG Docs_

:white_circle:  **TL;DR;** calm it down and be excellent to each other. :white_circle:

Folks, it's best if people co-ordinate work. **_Anyone_** is welcome to open a PR to work on an issue provided the sign the CLA and agree to abide by our [

[2022-05-23 12:02] NitishKumar06 commented on #33848
Thanks @sftim . This was needed! @ashish-jaiswar Please go through it especially the first point.

[2022-05-23 12:03] NitishKumar06 commented on #33848
/assign

[2022-05-23 12:05] kadtendulkar commented on #33848
Thanks @sftim

@NitishKumar06 I'm requesting since I'm new contributer please allow me to do. According to the 2nd and 3rd point its appropriate to check if assigned people are working or not. And i have already mentioned I'm working on it. please know that.

/unassign @NitishKumar06

[2022-05-23 12:13] NitishKumar06 commented on #33848
But why didn't @ashish-jaiswar raise this point at that time when you made yourself assigned to this issue? He was working on that issue before you . But when I assigned it to myself, you know .

[2022-05-23 12:18] NitishKumar06 commented on #33848
/assign

[2022-05-23 12:19] ashish-jaiswar commented on #33848
/@unassign @NitishKumar06

[2022-05-23 12:21] NitishKumar06 commented on #33848
/assign

[2022-05-23 12:21] ashish-jaiswar commented on #33848
/@unassign @NitishKumar06

[2022-05-23 12:22] NitishKumar06 commented on #33848
Work on issue . See ya!

[2022-05-23 12:23] kadtendulkar commented on #33848
Hey @NitishKumar06 , @ashish-jaiswar is helping me to raise my first PR that's why he assigned himself first. Please understand, I'm new to kubernetes community and I'm finding such conflicts.
It is always good to ask if the assigned people are working or not and since beginning i an mentioning that I'm working on it. But seems like you are not coordinating with new contributers .

[2022-05-23 12:28] natalisucks commented on #33848
Natali Vlatko here, co-chair of SIG Docs. This conversation has become too heated and isn't in line with our community guidelines with regards to politeness and respect. Our tech lead, @sftim, had given great clarity and guidance for those involved to move forward, but unfortunately, this hasn't taken place. I'll be messaging all involved separately to resolve this disagreement via the Kubernetes

[2022-05-23 12:28] #33848 closed

[2022-05-23 12:39] sftim opened #33895 "Link to CNCF contributor guide"
**This is a Feature Request**

**What would you like to be added**
Update https://kubernetes.io/docs/contribute/ so that early in the page there is a link to
https://contribute.cncf.io/contributors/projects/#kubernetes

You should decide on some suitable text for the hyperlink. Read https://contribute.cncf.io/contributors/ to get ideas about what to write, if you're not sure.

:information_source:

[2022-05-23 12:39] sftim commented on #33895
(please don't assign this issue to yourself unless your GitHub username is @sftim)
/assign

[2022-05-23 12:57] tomkivlin commented on #33640
/assign

[2022-05-23 13:57] Sea-n opened #33898 "Convert all CRLF to LF"
**This is a Feature Request**

**What would you like to be added**

Use command line tool to change all CRLF (`\r\n`) to LF (`\n`).

**Why is this needed**
There are 32 files are in CRLF format, it's better to maintain them if all in LF format.
[code]

**Comments**

Maybe this issue should be solve by approvers / PR wranglers since it's diff result will be very ugly.

[2022-05-23 18:29] chrismetz09 commented on #31960
Okay, I'll give that try. In the meantime, we see popular ingress page occasionally rendering syntax error. To help users resolve this quickly, suggest we add note shortcode to perform hard refresh. Ingress diagram would look like this:

![Screen Shot 2022-05-23 at 11 21 41 AM](https://user-images.githubusercontent.com/5543858/169883358-a2d8efe7-0691-4168-b5b2-499955fffa43.png)

Thoughts?

[2022-05-23 19:19] stormqueen1990 commented on #13939
I will update the [concepts/overview/working-with-objects/names](https://kubernetes.io/pt-br/docs/concepts/overview/working-with-objects/names/) page next. Assigned on the spreadsheet.

[2022-05-23 19:49] sftim commented on #31960
We could add the note _or_ convert that diagram to SVG (and revert it when we have a fix). Either is fine by me.

[2022-05-23 19:55] chrismetz09 commented on #31960
okay I'll go with the note with the note for now.

[2022-05-23 20:18] sftim commented on #33875
/remove-kind bug

[2022-05-23 20:32] waych commented on #33860
Rendering to be working reliably now for me at the moment on both FF and Chrome with the identical setup fyi, whereas I wasn't able to get any of these diagrams to render at all previously even with hard refreshes (I have not tried the cache disable nor bandwidth limitting suggested in the other thread).

[2022-05-23 21:06] sftim commented on #33893
/retitle Broken link to “Inter-pod topological affinity and anti-affinity” design doc
/kind bug
/priority backlog
/help
/language en

[2022-05-23 21:06] sftim commented on #33893
/triage accepted

Thanks @magnus-longva-bouvet

[2022-05-23 21:10] sftim commented on #33860
Is this OK to close in favor of tracking the [original issue](https://github.com/kubernetes/website/issues/31960)?

[2022-05-23 21:12] sftim commented on #31960
I can no longer reliably replicate these symptoms for the published site. For the deploy preview, the symptoms still show up.

Firefox 100.0.2 and Chromium 102.0.5005.49 on Ubuntu 20.04

[2022-05-24 01:28] mytting opened #33907 "在 macOS 系统上安装和设置 kubectl"
On the MAC, I added `source <(kubectl completion zsh)` to the `~/.zshrc` file and opened a new terminal test to find `kubectl` changed to `_kubectl`. I need to add the following configuration to the `~/.zshrc` file to make autocomplete take effect
[code]

[2022-05-24 02:20] tengqm commented on #33479
Many thanks to @kinzhi and @JarHMJ, we have get this huge task done.
/close

[2022-05-24 02:20] #33479 closed

[2022-05-24 07:02] sammagnum commented on #31078
/remove-lifecycle rotten

On Mon, May 23, 2022 at 18:37 Kubernetes Triage Robot <
***@***.***> wrote:

--
Sam Mangum

[2022-05-24 07:13] Shubham82 commented on #33893
Hi @sftim

There are also other design proposals in the docs linked to this page, see some of the following below links:

[Configure TLS-Bootstrapping for node joining](https://kubernetes.io/docs/reference/setup-tools/kubeadm/implementation-details/#configure-tls-bootstrapping-for-node-joining)
[kubeadm join phases internal design](https://kubernetes.io/docs/reference/setup-tools/kubeadm/implement

[2022-05-24 07:44] waych commented on #33860
Yup.

[2022-05-24 07:44] #33860 closed

[2022-05-24 07:47] RichardoC commented on #31854
/close

[2022-05-24 07:47] #31854 closed

[2022-05-24 08:06] dedeibel opened #33910 "Object Names and IDs – broken link to RFC 1123"
On page https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#dns-subdomain-names

The link "as defined in [RFC 1123](https://tools.ietf.org/html/rfc1123)" seems to be dead.

Google for RFC 1123 leads to https://datatracker.ietf.org/doc/html/rfc1123/

[2022-05-24 08:09] dedeibel commented on #33910
Sorry **it seems to work now** – assume this was a temporary problem with the redirect.

[2022-05-24 08:09] #33910 closed

[2022-05-24 09:44] Evalle opened #33912 "Ingress docs: Syntax error in graph"
**This is a Bug Report**

**Problem:**
Ingress docs shows "Syntax error in graph, mermaid version 8.13.0"

**Proposed Solution:**
n/a

**Page to Update:**
https://kubernetes.io/docs/concepts/services-networking/ingress/#what-is-ingress

**Additional Information:**

Firefox 100.0.2, MacOS:
![Screenshot 2022-05-24 at 11 42 12](https://user-images.githubusercontent.com/2839811/170002125-f68b6fe7-9fc9

[2022-05-24 09:56] MarcoR83 opened #33913 "Query about verifying Kubernetes code other than as documented in Verify Signed Container Images"
Alright this is all well and good. But how do I verify other crucial components like kubelet,  kubeadm .. which are  prerequisite for running the control plane?

I tried somehow to verify the sbom itself https://sbom.k8s.io/v1.24.0/release but as it is stored on a regular bucket and not in a OCI registry I could not figure out how to do a keyless verification of the bom, so I can trust the hashes

[2022-05-24 10:29] fenggw-fnst commented on #33477
For tasks-13, I've sent #33914 to update kubelet-credential-provider.md and downward-api-volume-expose-pod-information.md, the rest are still in sync, so as soon as #33914 is merged, we can mark it as done.

[2022-05-24 13:30] AlanGreene opened #33918 "Address issues from Katacoda shutdown"
See announcement from O'Reilly: https://www.oreilly.com/online-learning/leveraging-katacoda-technology.html

It looks like the interactive tutorials currently load resources from katacoda.com. Is there an alternative in place or some agreement with O'Reilly to continue supporting this for the Kubernetes community?

[2022-05-24 14:26] sftim commented on #30843
/priority important-soon

It will become an increasingly relevant topic.

[2022-05-24 14:44] rolfedh commented on #33640
@mikebrow is reviewing @tomkivlin's PR https://github.com/kubernetes/website/pull/33870

[2022-05-24 15:00] ashish-jaiswar opened #33919 "Update link on version-skew-policy page"
### Problem:
The link of **[regular cadence](#cadence)** is changed to https://kubernetes.io/releases/patch-releases/#cadence

### Proposed Solution:
Need to replace **regular cadence** link https://github.com/kubernetes/sig-release/blob/master/releases/patch-releases.md#cadence  to https://kubernetes.io/releases/patch-releases/#cadence

### Page to update:
[https://kubernetes.io/releases/version-

[2022-05-24 15:03] kadtendulkar commented on #33919
/assign

[2022-05-24 18:58] neolit123 commented on #33913
hi, you can log a support issue in https://github.com/kubernetes/release or ask in #sig-release on k8s slack.
this is the issue tracker of the website.

/sig release

[2022-05-24 19:34] NitishKumar06 commented on #33912
/assign

[2022-05-24 19:35] NitishKumar06 commented on #33912
@Evalle It'd be perfect if we remove  "Syntax error....."

[2022-05-24 19:52] sftim commented on #33918
No, there is not. We'll need to address this.

/remove-kind bug
/priority important-soon

[2022-05-24 19:57] reylejano opened #33923 "Use containerd.io as the source to install containerd not docker"
**This is a Bug Report**

**Problem:**
The following page uses Docker as the source to install containerd
- https://kubernetes.io/docs/tasks/administer-cluster/migrating-from-dockershim/change-runtime-containerd/#install-containerd

**Proposed Solution:**
Use containerd.io as the source to install containerd

**Page to Update:**
https://kubernetes.io/docs/tasks/administer-cluster/migrating-from-do

[2022-05-24 19:57] sftim commented on #33913
/retitle Query about verifying Kubernetes code other than as documented in Verify Signed Container Images

/kind support

We could add something to https://kubernetes.io/docs/tasks/administer-cluster/verify-signed-images/ to make it clear that not only is the task page for an alpha feature, but that alpha feature is not complete.
I think it's a low priority; a lot of users will already know that f

[2022-05-24 19:59] sftim commented on #33913
@MarcoR83 if there are tasks you'd like to perform, please file a new feature request issue about each individual task you'd like to see documented. That way, different people can pick up different tasks.

Bear in mind that we only document possible tasks; if you want a thing documented and Kubernetes doesn't support it, we'll probably transfer the issue to become a feature request against the rel

[2022-05-24 20:00] sftim commented on #33923
@reylejano I assume that the motivation here is twofold:
- we're suggesting installing containerd from an unofficial source (albeit Docker, Inc did donate containerd)
- to avoid readers feeling confused when they come to replace Docker Engine as part of a cluster upgrade

[2022-05-24 20:01] sftim commented on #33912
/triage duplicate

This was previously reported as https://github.com/kubernetes/website/issues/31960
@Evalle, would you be willing to close this as not planned, in favor of the original report?

[2022-05-24 20:08] sftim commented on #33918
/remove-kind support
/kind bug

[2022-05-24 20:12] chris-short commented on #33923
The intent is to get folks into the habit of installing containerd using containerd's resources as opposed to installing from Docker to replace Docker. That's confusing in my view and also going to have the potential for flakier instructions than the project itself.

[2022-05-24 20:39] NitishKumar06 commented on #33893
/assign

[2022-05-24 20:56] jhooda opened #33925 "Improvement for k8s.io/docs/tasks/administer-cluster/cpu-management-policies/"
Add a link that explains how the limits are enforced at the OS level.
For example,

a) How the "shared CPU" is allocated between various running containers? (e.g., how they differ from multiple java processes running on a plain vanilla CentOS VM running without k8s)

b) What are the background processes that are managing these quota limits? (both k8s and OS processes)?

c) How much resources are c

[2022-05-24 21:28] 92nqb commented on #13948
@raelga @electrocucaracha podrian asignarme esta pagina:  Network Policies

[2022-05-24 23:11] #33923 closed

[2022-05-25 01:21] cpboyd opened #33929 "kubectl Cheat Sheet: zsh autocomplete"
The zsh section says:
[code]

Should this be `echo "[[ '$commands[kubectl]' ]] && source <(kubectl completion zsh)" >> ~/.zshrc`?

On macOS, if `kubectl` doesn't exist and the script has `[[  ]]` then it throws an error.
If, instead, it has `[[ '' ]]` then it short-circuits the `source` properly as expected, without error.

[2022-05-25 01:33] cpboyd commented on #33929
Maybe also note `autoload -U compinit && compinit` as compinit isn't included with the macOS zsh by default

[2022-05-25 01:34] Sea-n commented on #33929
Maybe this is better:

[code]

Don't interpret `$commands[kubectl]` beforehand, and short-circuit when it's not exists.

[2022-05-25 01:37] cpboyd commented on #33929
@Sea-n Yeah. That's probably true, since they'd have to run it anytime the path changed as well.
I'm currently using 1.22 as the latest isn't compatible with my server's version (but other homebrew recipes like awscli depend on the latest)

[2022-05-25 01:58] syxunion opened #33931 "Translate reference/kubernetes-api/cluster-resources/namespace-v1.md"
Hi, I'm interested to translate the "reference/kubernetes-api/cluster-resources/namespace-v1.md" page.

This is a Feature Request:

translate en/docs/reference/kubernetes-api/cluster-resources/namespace-v1.md/.md into Chinese.

What would you like to be added:

zh/docs/reference/kubernetes-api/cluster-resources/namespace-v1.md

/language zh

[2022-05-25 01:58] syxunion commented on #33931
/assign

[2022-05-25 02:05] aeiougo opened #33932 "使用 kubectl patch 更新 API 对象"
https://kubernetes.io/zh/docs/tasks/manage-kubernetes-objects/update-api-object-kubectl-patch/
![image](https://user-images.githubusercontent.com/47635948/170163663-1918bb48-d0d5-44ff-99ad-f15454cc85b1.png)
此行末尾多了一个双引号

[2022-05-25 04:43] jihoon-seo commented on #33932
/language zh

[2022-05-25 04:48] jihoon-seo commented on #33780
/assign @PrajwalBorkar

[2022-05-25 05:34] #33835 closed

[2022-05-25 06:04] reylejano opened #33936 "Umbrella issue for Katacoda removal"
## Problem
(The public part of) Katacoda shut down on June 15, 2022
https://www.oreilly.com/online-learning/leveraging-katacoda-technology.html

The remaining part of Katacoda, that Kubernetes uses, is due to shut down ~late 2022~ early 2023.

Related to https://github.com/kubernetes/website/issues/33918 and https://github.com/kubernetes/website/issues/38785

## Discussion

**Use the [GitHub Discu

[2022-05-25 06:04] reylejano commented on #33936
/triage accepted

[2022-05-25 06:54] sftim commented on #33919
/remove-help

[2022-05-25 06:58] sftim commented on #33918
https://killercoda.com is another plausible alternative

[2022-05-25 07:26] ashish-jaiswar commented on #33919
Hi @sftim I have updated the description of issue that what need to be change.

[2022-05-25 07:26] Debanitrkl commented on #33936
https://github.com/kubernetes-sigs/contributor-katacoda
It's the place where we work on katacoda at Contribex.

[2022-05-25 07:43] ashish-jaiswar commented on #33919
Hi @sftim I have updated the issue description what need to be change.

[2022-05-25 08:23] Evalle commented on #33912
Hi @sftim, sure, I'm going to close this as "not planned".

[2022-05-25 08:23] #33912 closed

[2022-05-25 09:39] howieyuen commented on #33932
/triage accepted

[2022-05-25 09:40] howieyuen commented on #33932
/kind bug

[2022-05-25 09:51] NitishKumar06 commented on #33925
@jhooda Which page do you want to update?
Do you have a link which redirects to the desired site ?

[2022-05-25 09:53] NitishKumar06 commented on #33893
Hey @magnus-longva-bouvet Please refer to this PR: https://github.com/kubernetes/website/pull/33926

[2022-05-25 09:55] NitishKumar06 commented on #33936
Hey @reylejano Do we have to all these pages you've mentioned in the Pages to Update

[2022-05-25 09:59] howieyuen commented on #31905
all works have been done, looks like we can close this one.
Thanks to all contribution

[2022-05-25 12:16] tengqm commented on #31905
/close

[2022-05-25 12:17] #31905 closed

[2022-05-25 14:16] eminalemdar commented on #33893
Hello @NitishKumar06 the changes in the PR doesn't change the link at all.

[2022-05-25 14:29] howieyuen commented on #33932
/close

[2022-05-25 14:29] #33932 closed

[2022-05-25 14:33] howieyuen commented on #33477
task-14
[code]

[2022-05-25 14:37] sftim commented on #27951
https://kubernetes.io/docs/tasks/tools/install-kubectl-linux/#what-s-next does tell you what to do next, but doesn't mention a `~/.kube/config` file specifically. There _is_ a link to https://kubernetes.io/docs/tasks/tools/install-kubectl-linux/#what-s-next.

Does this need any further work?

[2022-05-25 14:37] sftim commented on #31428
Great to see progress here.

[2022-05-25 14:45] sftim commented on #31489
Was this a kubectl bug or an intended behavior?
/remove-lifecycle rotten

[2022-05-25 15:20] sftim commented on #31479
/wg multi-tenancy

[2022-05-25 16:19] tiago-maia opened #33943 "Ingress WebPage"
Error displaying image in https://kubernetes.io/docs/concepts/services-networking/ingress/
after the phrase :
"Here is a simple example where an Ingress sends all its traffic to one Service: "

![image](https://user-images.githubusercontent.com/56874412/170310818-69e169b4-fdae-4eff-8d92-a208cfe9fe66.png)

[2022-05-25 16:25] shannonxtreme commented on #33936
Imo we can direct users to playgrounds or minikube or whatever (maybe a standard before you begin that says set up a Kubernetes cluster using an option such as X, Y, or Z) and keep our responsibilities scoped to platform agnostic instructions.

I just enjoyed the interactive tutorials, but maintaining their compatibility and maintenance with platform X shouldn't be on SIG Docs

[2022-05-25 19:27] afbjorklund opened #33947 "Katacode platform hosting "hello minikube" is shutting down"
The docs are running a "none" driver installation:

https://kubernetes.io/docs/tutorials/hello-minikube/

It is closing: https://www.oreilly.com/online-learning/leveraging-katacoda-technology.html

It would be nice if people could still run a minikube-based solution, for learning kubernetes ?

* https://github.com/kubernetes/website/issues/33936

[2022-05-25 19:27] afbjorklund commented on #33947
Was meant for minikube

[2022-05-25 19:46] afbjorklund commented on #33936
As far as I know, the katacoda examples _are_ using minikube at the moment ?

An older version (1.18 vs 1.25), and run from a control plane terminal, but anyway.

[2022-05-25 20:11] shannonxtreme commented on #33936
Yeah they are using minikube so we'd basically be directing the user to use minikube wherever they want, instead of using the katacoda playground. It'll be less directly _interactive_ sadly

[2022-05-25 20:14] afbjorklund commented on #33936
I added some notes and links, on how to improve the minikube "none" driver for this scenario.

Providing the virtual machine and the web console for it would be up to the "learning platform".

[2022-05-25 20:21] afbjorklund commented on #33936
The jupyter notebooks are quite nice.

https://github.com/kubernetes-client/python/blob/master/examples/notebooks/README.md

Unfortunately they use python, not kubectl...

https://github.com/kubernetes-client/python/blob/master/examples/notebooks/create_deployment.ipynb

[2022-05-25 21:17] shannonxtreme commented on #28909
I'm wondering what a good use case for this would be. Like, how would we structure this task? What's a scenario where this would be useful?

[2022-05-26 01:22] cabal-chan opened #33951 "Problem accessing “Creating a cluster” tutorial when 3rd party ad blocker is active"
<img width="1563" alt="image" src="https://user-images.githubusercontent.com/65152862/170395708-195b3144-d6cd-4f9f-a139-50823cec1288.png">

Getting this issue when trying to run the interactive tutorial. Terminal is unresponsive. It looks like adblock is throwing this error. Turning it off works.

[2022-05-26 01:48] tengqm commented on #33477
@howieyuen Task-14 has been added, but it has been taken by @ihuibin, please help review.

[2022-05-26 02:37] howieyuen commented on #33477
copy that

[2022-05-26 02:44] reylejano commented on #33919
Fixed by https://github.com/kubernetes/website/pull/33920
/close

[2022-05-26 02:44] #33919 closed

[2022-05-26 03:10] mk46 commented on #29667
/remove-lifecycle stale

[2022-05-26 03:10] mk46 commented on #29667
/remove-lifecycle stale

[2022-05-26 04:42] kadtendulkar commented on #33426
/assign

[2022-05-26 05:53] tengqm commented on #33002
/triage accepted

[2022-05-26 05:54] tengqm commented on #33002
Opening a new issue to track this transition.
Closing this one.
/close

[2022-05-26 05:54] #33002 closed

[2022-05-26 06:14] tengqm commented on #33477
@howieyuen I have closed https://github.com/kubernetes/website/pull/33899 because it is dirty (invalid commit message plus 22 commits). Please consider take it over if time permits.

[2022-05-26 06:25] tengqm opened #33955 "[zh][Umbrella] Change language code for Chinese (simplified) to 'zh-cn'."
This one is an umbrella issue for the change of Chinese language code (See: #33002).
There are many warnings when building the doc site caused by the Docsy change. We need to take a series of actions to deal with this change, captured below:

- [x] Wait for #33476 to close where concepts-3 is still open.
- [x] Wait for #34033 to close so we don't have large chunk of changes to sync.
- [x] Pin the

[2022-05-26 06:30] tengqm commented on #33955
/triage accepted
/language zh
/cc @mengjiao-liu @Sea-n @xichengliudui @kinzhi @windsonsea @howieyuen @fenggw-fnst @JarHMJ @TinySong @nameYULI @my-git9 @javadoors @zaunist

[2022-05-26 06:44] vsasikiran opened #33957 "Deployment task mentions ReplicaSet without context"
In **Pausing and Resuming a rollout of a Deployment** section, it is mentioned to print rollout status but the command used is replica set

**Get the rollout status:** _-> Here the command used below states replica set, the statement is not clear.  May be it can be rephrased for better readability

`kubectl get rs`
The output is similar to this:

[code]

[2022-05-26 07:52] eminalemdar commented on #33943
Hello @tiago-maia, I can see the image:
<img width="907" alt="Screen Shot 2022-05-26 at 10 51 39" src="https://user-images.githubusercontent.com/77338109/170443687-ea542d67-0fd1-435a-bf18-537ffec7cca7.png">

[2022-05-26 09:29] zaunist commented on #33955
/assign

[2022-05-26 10:07] tiago-maia commented on #33943
Today i can see it as well , not sure what error was that , weird. I will close it :)

[2022-05-26 10:07] #33943 closed

[2022-05-26 10:28] Sea-n commented on #33955
Maybe we need to add 301 redirect to [/static/_redirects](https://github.com/kubernetes/website/blob/main/static/_redirects) for existing links from external sites.

There are ~1300 files (about 900 Markdown files) in `/content/zh`, and need to consider some `aliases` and `slug`.
Currently the `_redirects` file only have ~500 lines.

[2022-05-26 12:49] sftim commented on #33613
/triage accepted

Per https://github.com/kubernetes/website/pull/33660#discussion_r882633285:

[2022-05-26 12:50] sftim commented on #33613
/priority backlog

[2022-05-26 12:57] sftim commented on #33957
/retitle Deployment task mentions ReplicaSet without context

I'd add that `kubectl get replicaset` is more obvious to readers than `kubectl get rs`

/language en
/sig apps

[2022-05-26 12:58] sftim commented on #33951
/team katacoda

/retitle Problem accessing “Creating a cluster” tutorial when 3rd party ad blocker is active

[2022-05-26 12:59] sftim commented on #33936
I suggest that we change the page templates so that any page using a Katacoda shortcode gets a removal warning, to explain that Katacoda is shutting down.

https://gohugo.io/templates/shortcode-templates/#checking-for-existence explains how to write a conditional based on the presence of a shortcode.

[2022-05-26 14:41] danieltharp commented on #31960
Just as a point of clarification, I didn't need to do a hard reload for it to work, any sort of refresh seemed to make it work.

It does seem reasonable that there's maybe a variable or something being reused by another script causing this sporadic issue.

[2022-05-26 15:46] BrettSanderson opened #33970 "Command line tool (kubectl) - yaml exporting in a strange format"
Hello. I recently exported the aws-auth configmap in the kube-system namespace using the following command:
kubectl get cm aws-auth -n kube-system -o yaml > test.yaml

In my production cluster (see attached "prod-yaml" file) it doesn't export as expected.  When I do the same in my staging cluster, the file is exported as expected (see attached "stage-yaml".

Any ideas for how to fix this?  Thanks

[2022-05-26 16:07] chrismetz09 commented on #31960
@danieltharp, we see that same behavior at times but not always. I will be converting the frequently visited Ingress diagrams to SVGs until fix can be identified and tested. One possibility is indeed something like a JS variable that is mucking things up. Any ideas on tracking this strongly welcomed.

[2022-05-26 18:43] shannonxtreme commented on #33970
/kind support

[2022-05-26 23:00] tengqm commented on #33970
You have to know what the `|` in the `mapRoles: |` line means.

[2022-05-27 00:21] syhmc opened #33975 "Interactive Tutorial - Creating a Cluster"
Cannot type anything in the Kubernetes Interactive Tutorial Terminal on either Chrome or Firefox browser.  I don't see any command prompt in the Terminal section.  Any suggestion to resolve this issue?

![image](https://user-images.githubusercontent.com/106357775/170604171-9677edd6-9d01-4746-8415-3256edb29ecd.png)

Thanks.

[2022-05-27 03:02] mohitwasnik132 opened #33978 "Interactive Tutorial - Creating a Cluster"
The platform seems unresponsive and un-clickable..
I am trying to click onto commands but they don't execute as they always do.
Continue button does not respond.
Terminal add button does not respond.
Expand button does not respond.
Settings button does not respond.

It's like a single static page loading, but when you leave or refresh it does throw warning.
I tried different browsers.
Firefox, Bra

[2022-05-27 04:47] pratmeht opened #33980 "Error "failed to pull images" while Creating a cluster with kubeadm"
Hi Kubernetes Community,

Need one help. Following error has occurred in 2 different servers. First we tried on CentOS 7.9 which is unresolved at the moment then this time we have another server with RHEL 8.2.

[pratmeht@master ~]$ sudo kubeadm init --pod-network-cidr=10.244.0.0/16 --ignore-preflight-errors='all'
[init] Using Kubernetes version: v1.24.1
[preflight] Running pre-flight checks

[2022-05-27 06:07] neolit123 commented on #33980
Please see
https://github.com/containerd/containerd/issues/4581
https://github.com/kubernetes/website/issues/33770

We are trying to document a fux.

/close
/kind support

[2022-05-27 06:07] #33980 closed

[2022-05-27 09:12] CaoZhenggg opened #33986 "Change documentation technology used for Kubernetes"
Hello,

Is there a new documentation solution that might be used in the near future？The reading experience of the current document is really not good.

Outline cannot change width, the experience was bad in my 13' macbook.

![image](https://user-images.githubusercontent.com/23628206/170667761-884a9501-eaca-4532-89c4-e3eb33bd4f94.png)

Here is the rust book. it's concise.

![image](https://user-ima

[2022-05-27 09:16] CaoZhenggg commented on #33986
The Spring Boot document's experience also good.

![image](https://user-images.githubusercontent.com/23628206/170670147-8a2fbd68-2cf7-4426-b381-38cc19547d25.png)

https://docs.spring.io/spring-boot/docs/2.7.0/reference/htmlsingle/#getting-started.introducing-spring-boot

[2022-05-27 14:02] ZCai319 opened #33991 "[HorizontalPodAutoscaler Walkthrough] Metrics Server can't seem to be applied properly"
I tried to autoscale my k3d cluster. Followed this tutorial and it told me to apply this metrics server yaml. Used command:
`kubectl apply -f https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/components.yaml`

Response I get from terminal is:
[code]
Wasn't sure what it was, but it said it'll be patched automatically so alas. I applied my yml files for the k3d cluster so th

[2022-05-28 06:30] ThomasBucaioni opened #33998 "[CKA] Container runtimes and network plugins"
For the CKA certification, we need to stay on kubernetes.io
Would you have an install procedure only on your website?

[2022-05-28 14:04] sftim commented on #33998
/priority awaiting-more-evidence

The documentation doesn't specifically target help with exams.
With https://github.com/kubernetes/enhancements/tree/master/keps/sig-docs/1326-third-party-content-in-docs in mind, we'll continue not to provide detailed instructions for third party network software on https://k8s.io/ and https://kubernetes.io/ (even for some _third-party OSS content for components t

[2022-05-28 14:10] sftim commented on #33986
I wasn't sure if you were hoping for improvements to the text of the website, or the way that that text appears on the page.
/triage needs-information

@CaoZhenggg it sounds like you might be suggesting a scope of work that covers the whole website. If you're actually looking at a smaller scope, this could be a partial duplicate for (closed) issue https://github.com/kubernetes/website/issues/22788

[2022-05-28 14:12] sftim commented on #33975
/team katacoda

[2022-05-28 14:12] sftim commented on #33978
/team katacoda

[2022-05-28 14:12] sftim commented on #33986
/retitle Change documentation technology used for Kubernetes

[2022-05-28 14:29] sftim commented on #31584
https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/ is autogenerated.

I believe and suspect that we must first fix the [generation system](https://github.com/kubernetes-sigs/reference-docs/) to handle hyperlinks better, and then run those tools.

[2022-05-28 14:30] sftim commented on #31584
/remove-kind feature
/triage accepted
/priority awaiting-more-evidence

Fixes here are low urgency relative to other work

[2022-05-28 14:35] sftim commented on #31584
Actually
/remove-priority awaiting-more-evidence
/priority backlog

but it's still not an important thing to fix compared to other [priority issues](https://github.com/kubernetes/website/issues?q=is%3Aissue+is%3Aopen+label%3Apriority%2Fcritical-urgent%2Cpriority%2Fimportant-soon%2Cpriority%2Fimportant-longterm+sort%3Areactions-%2B1-desc)

[2022-05-28 14:37] sftim commented on #29649
I'm also :+1: to closing this issue.

[2022-05-28 14:38] sftim commented on #31428
@marosset would you be willing to revisit the checkboxes in the issue description and confirm that these are up to date?

[2022-05-28 14:38] #33640 closed

[2022-05-28 14:39] sftim commented on #33395
@cpanato, this is the issue that I'd asked for some help with.

[2022-05-28 14:41] sftim commented on #32243
Work on this important issue is very welcome. If anyone's made a start, please share what you have - even if it's not finished, that could help someone else move the work forward.

[2022-05-28 14:42] sftim commented on #33918
/priority critical-urgent
The deadline approaches.

[2022-05-28 14:42] sftim commented on #33918
/triage accepted
/remove-priority important-soon

[2022-05-28 14:43] sftim commented on #33918
/retitle Address issues from Katacoda shutdown

[2022-05-28 16:19] sftim opened #34004 "Warn about Katacode shutdown"
**This is a Feature Request**

**What would you like to be added**
For pages that use Katacoda, add a warning about its removal.

**Why is this needed**
Prompted by https://github.com/kubernetes/website/issues/33918 and https://www.oreilly.com/online-learning/leveraging-katacoda-technology.html

**Comments**
/priority critical-urgent
/language en
/triage accepted

[2022-05-28 16:23] sftim commented on #33847
If appropriate: bump this down to /priority awaiting-more-evidence

[2022-05-28 16:45] sftim commented on #33849
If you've any time either to work on this, or mentor other contributors a bit for their work on it, that'd be smashing @shannonxtreme

[2022-05-28 16:53] sftim commented on #33991
What version of Kubernetes are you running @ZCai319, and what page are you reading to follow the steps from (can you let us know a URL?)

[2022-05-28 16:55] sftim commented on #33571
/kind support
/retitle Query about using a single PodDisruptionBudget and multiple StatefulSets

[2022-05-28 16:56] shannonxtreme commented on #33849
I think this might be a good one to mentor, because that Secrets rework is pretty hefty. I'll work on a draft plan to break this down into sub-issues that we might be able to use as good first issues/well lit pathways! Would you be ok to review that when ready?

[2022-05-28 16:56] sftim commented on #33431
/sig auth security

[2022-05-28 17:13] marcosnils opened #34007 "Future of katacoda interactive trainings?"
**Question**

Hi, I'm the the co-creator of [play-with-kubernetes ](https://play-with-k8s.com/) an *active *opens source** (https://github.com/play-with-docker) tool that allows users to rapidly create clusters and have a hands on experience to play with k8s features which is listed as an alternative to Katacoda in all the official k8s tutorials (https://kubernetes.io/docs/tasks/configure-pod-cont

[2022-05-28 17:44] Sea-n opened #34009 "Kubernetes v1.19 websites not found"
**This is a Bug Report**

**Problem:**
We can visit `v1.20` to `v1.23` via top-right navbar or the [Upgrading kubeadm clusters](https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/) article. (Which is fine)

In [previous version](https://v1-20.docs.kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/) of that article, we have link to [v1.19](https://v1-19.do

[2022-05-28 17:52] Sea-n opened #34010 "Link to release note in older version is broken"
**This is a Bug Report**

**Problem:**
In [v1.23](https://v1-23.docs.kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/#before-you-begin) and previous document, the "release notes" is linked to current one (v1.24).

**Proposed Solution:**
Use hard-coded link instead of `{{< latest-release-notes >}}` for frozen website.

**Page to Update:**
https://v1-23.docs.kubernetes.io/docs/ta

[2022-05-28 18:04] neolit123 commented on #34010
/sig cluster-lifecycle

we could just link to https://git.k8s.io/kubernetes/CHANGELOG and let the user find the version they need.
alternatively we could add new shortcodes such as `{{< release-notes-n >}}`, `{{< release-notes-n-1 >}}`

[2022-05-28 18:04] neolit123 commented on #34010
/triage accepted

[2022-05-28 18:12] jangjaelee opened #34011 "[ko] Typo in ZooKeeper tutorial doc"
오타 정정 요청

https://kubernetes.io/ko/docs/tutorials/stateful-application/zookeeper/#%EB%82%B4%EA%B5%AC%EC%84%B1%EC%9E%88%EB%8A%94-%EC%A0%80%EC%9E%A5%EC%86%8C-%EC%A0%9C%EA%B3%B5

페이지의 내용 중..

WAL에 커밋하고 메모리 상태의 스냅샷을 저장 {미디에}에 주기적으로 저장한다.

영어 원문을 보면 media로 되어 있어 미디어로 정정이 필요합니다.

[2022-05-28 19:00] #31139 closed

[2022-05-29 04:12] martinanaya commented on #33166
Try disabling any ad-blockers including those that are DNS-based. Had the same issue.

[2022-05-29 04:45] tengqm commented on #33476
This is completed. Many thanks to everyone who contributed to this issue.

[2022-05-29 04:46] tengqm commented on #33476
/close

[2022-05-29 04:46] #33476 closed

[2022-05-29 05:25] SaumyaBhushan commented on #34010
I would like to work on this issue.

[2022-05-29 07:26] PriyanshuAhlawat commented on #34010
/assign

[2022-05-29 07:33] tengqm commented on #34010
fixed by #34020
/close

[2022-05-29 07:33] #34010 closed

[2022-05-29 07:54] ThomasBucaioni commented on #33998
Thank you for your answer, I wasn't expecting one actually.

Indeed, trying to keep the documentation Cri and Cni agnostic must be a headache. But if I may, the installation procedure is not clear at all... Also, I must admit I don't like going through docs much, but I spent the last 3 days trying to make an install on two virt-manager VMs and ended up compiling procedures from IT blogs.

Set asid

[2022-05-29 07:54] #33998 closed

[2022-05-29 09:28] tengqm commented on #33475
Setup-4 has been manually marked as 'completed' due to large refactoring occurred in upstream. The Windows pages are now captured in a separate issue.

[2022-05-29 10:04] ZCai319 commented on #33991
Following this walkthrough: https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/. I'm using GitVersion:"v1.23.5".

 What I realized is that it actually **did** work. I had to `kubectl get hpa --watch` then it showed me that the gateway was working fine (instead of unknown it said 0%), but the other 2 weren't. So an acquaintance told me to restart my laptop. I did,

[2022-05-29 10:30] #31936 closed

[2022-05-29 10:30] #31937 closed

[2022-05-29 13:01] sftim commented on #34009
We should fix the previous version page not to link to the unsupported documentation.
Separately, we might be able to change how we serve out documentation for Kubernetes; recent Hugo has some features that might help.

Netlify is configured correctly based on the current way to serve documentation.

[2022-05-29 13:02] sftim commented on #34009
/language en
/priority backlog

There are [higher priority](https://github.com/kubernetes/website/issues?q=is%3Aissue+is%3Aopen+label%3Apriority%2Fcritical-urgent%2Cpriority%2Fimportant-soon%2Cpriority%2Fimportant-longterm+sort%3Areactions-%2B1-desc) items to work on before addressing this.

[2022-05-29 13:04] sftim commented on #34007
The best place to raise this is in the #sig-docs channel on Kubernetes Slack. Would you be willing to contribute to that discussion there @marcosnils? If you're not already in that Slack workspace, visit https://slack.k8s.io/ for an invitation.

/remove-kind support

[2022-05-29 13:07] vaibhav2107 commented on #30655
/remove-lifecycle stale

[2022-05-29 13:08] vaibhav2107 commented on #27876
/remove-lifecycle stale

[2022-05-29 14:12] sftim opened #34026 "ReadOnlyAPIDataVolumes feature gate missing"
**This is a Bug Report**

**Problem:**
It seems that Kubernetes previously had a feature gate named `ReadOnlyAPIDataVolumes`; however, [Feature Gates (removed)](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates-removed/) does not mention that feature gate.

**Proposed Solution:**
Update [Feature Gates (removed)](https://kubernetes.io/docs/reference/command-line-tools-

[2022-05-29 14:12] sftim commented on #34026
A web page that mentions the former feature gate: https://stackoverflow.com/questions/54321991/mount-kubernetes-secret-as-a-file-with-rw-permission

[2022-05-29 17:15] PriyanshuAhlawat commented on #34026
/assign

[2022-05-29 19:06] #30480 closed

[2022-05-29 21:44] Contentways opened #34030 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm/"
Hey, I follow all the Steps in the Docs 1:1, but Kublet won't start and I get the following error when I run systemctl status kubelet.

`● kubelet.service - kubelet: The Kubernetes Node Agent
     Loaded: loaded (/lib/systemd/system/kubelet.service; enabled; vendor preset: enabled)
    Drop-In: /etc/systemd/system/kubelet.service.d
             └─10-kubeadm.conf, 20-etcd-service-manager.conf

[2022-05-30 02:16] zhangxyjlu opened #34032 "[zh]Translate Chinese version for docs/concepts/storage/windows-storage.md"
**This is a Feature Request**

This page docs/concepts/storage/windows-storage.md has no Chinese version

**What would you like to be added**

Translate Chinese version for docs/concepts/storage/windows-storage.md

**Why is this needed**

This page docs/concepts/storage/windows-storage.md has no Chinese version
**Comments**

/language zh
/assign

[2022-05-30 02:26] tengqm commented on #34032
/close
Instead of opening this issue, we'd open an umbrella one for all Windows pages.

[2022-05-30 02:27] #34032 closed

[2022-05-30 02:31] tengqm opened #34033 "[zh] Umbrella - translate/resync Windows pages"
There have been quite some refactoring to the Windows content in the English upstream. We need to resync those pages.

- [x] win-1  @ihuibin  #34006
[code]

- [x] win-2  @windsonsea   #34065
[code]

- [x] win-3  @zhangxyjlu #34036
[code]

- [x] win-4   @zhangxyjlu  #34136
[code]

- [x] win-5   @windsonsea  #34092
[code]

- [x] win-6  @winsonsea  #34120
[code]

- [x] win-7  @howieyuen   #34110
[cod

[2022-05-30 02:31] tengqm commented on #34033
/triage accepted
/help

[2022-05-30 02:32] tengqm commented on #34032
Please refer to https://github.com/kubernetes/website/issues/34033.

[2022-05-30 02:36] CaoZhenggg commented on #33986
You know the problem and you don't want to solve it, awesome

[2022-05-30 02:39] tengqm commented on #33798
#33518 is an issue report. #33523 is the PR for the last item.

[2022-05-30 02:41] zhangxyjlu opened #34035 "[zh] Translate Chinese version for blog/2022/05/27/maxunavailable-for-statefulset.md"
**This is a Feature Request**

This page blog/2022/05/27/maxunavailable-for-statefulset.md has no Chinese version

**What would you like to be added**

Translate Chinese version for blog/2022/05/27/maxunavailable-for-statefulset.md

**Why is this needed**

This page blog/2022/05/27/maxunavailable-for-statefulset.md has no Chinese version

**Comments**
/language zh
/assign

[2022-05-30 02:41] dims commented on #33986
@CaoZhenggg thanks for your interest. definitely don't appreciate the tone.

[2022-05-30 02:51] jihoon-seo commented on #34011
/triage accepted
/retitle [ko] Typo in ZooKeeper tutorial doc

[2022-05-30 02:52] jihoon-seo commented on #33978
/label team/katacoda

[2022-05-30 02:52] jihoon-seo commented on #33975
/label team/katacoda

[2022-05-30 02:53] jihoon-seo commented on #33951
/label team/katacoda

[2022-05-30 02:59] tengqm commented on #33986
This is always a community work. Please show your respect to others. If there are things to improve, you can contribute to it. No one is tasked to resolve **your** problem.

[2022-05-30 03:06] CaoZhenggg commented on #33986
I'm sorry for my bad English. There is no disrespect for the contributions of others, but the general direction is in the hands of a few people.

[2022-05-30 03:07] CaoZhenggg commented on #33986
I'm sorry for my bad English. There is no disrespect for the contributions of others, but the general direction is in the hands of a few people.

[2022-05-30 03:09] CaoZhenggg commented on #33986
I'm sorry for my tone, please forgive my english.

[2022-05-30 03:31] #33986 closed

[2022-05-30 05:50] neolit123 commented on #34030
/kind support
/sig cluster-lifecycle

Your logs don't show the actual error of the kubelet. Try obtaining the full logs with `journalctl -xeu kubelet`

[2022-05-30 06:19] windsonsea commented on #34033
I can hanle all :)
/assign

[2022-05-30 06:20] mehabhalodiya commented on #32930
@NitishKumar06 #33007 addresses one of the issues and #33772 resolves another one from above mentioned two of them.
Right now, one is already merged and waiting for #33772 to get approved, and then we can close this issue.
Hope you got my point!
Thank you 🙂

[2022-05-30 06:22] mehabhalodiya commented on #32930
/assign @shivam-sharma7 @samnoon1971

[2022-05-30 06:25] mehabhalodiya commented on #32828
/good-first-issue

[2022-05-30 06:28] mehabhalodiya commented on #31483
/remove-lifecycle stale
/good-first-issue

[2022-05-30 06:42] mehabhalodiya commented on #25903
Please refer to Tim's comment: https://github.com/kubernetes/website/issues/30092#issuecomment-944197249

[2022-05-30 06:48] mehabhalodiya commented on #31186
@haripriya1909 I don't see any updates; so unassigning you. Please feel free to assign, if you come back here again and are willing to work on 🙂
/unassign @haripriya1909

[2022-05-30 06:50] mehabhalodiya commented on #31186
/unassign @Lucifergene

[2022-05-30 06:53] mehabhalodiya commented on #30965
@rishi8055 I don't see any updates; so unassigning you. Please feel free to assign, if you come back here again and are willing to work on it! Thank you 🙂
/unassign @rishi8055

[2022-05-30 07:12] Sea-n commented on #34033
Hey @zhangxyjlu, to avoid conflicted works, you should raise your hand and wait for the maintainer to approve next time.

In the above comment, @windsonsea already said they are willing to handle all the tasks, it's frustrating to see others submitted a PR for half-done works.

[2022-05-30 07:18] zhangxyjlu commented on #34033
Sorry, I just noticed, to avoid conflict, I'm withdrawing my PR@[Sea-n](https://github.com/Sea-n) @[windsonsea](https://github.com/windsonsea)

[2022-05-30 07:22] oke-py commented on #25903
Thanks. If I understand correctly, this issue should be closed, right?

[2022-05-30 07:37] duanhaowei commented on #33640
remove " --network-plugin"flag  work fine.

[2022-05-30 07:56] NitishKumar06 commented on #32828
/assign

[2022-05-30 08:17] NitishKumar06 commented on #32828
Hey @sftim , I've reviewed the PR for this issue. Kindly look at it and feel free to suggest some changes if necessary.

[2022-05-30 08:32] #33475 closed

[2022-05-30 10:29] Shubham82 opened #34044 "Request for Adding a Hyperlink for PKCS#7."
**This is a Feature Request**

**What would you like to be added**

Add Hyperlink https://datatracker.ietf.org/doc/html/rfc2315 to PKCS#7 under [Providers](https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/#providers) in [Encrypting Secret Data at Rest](https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/)

**Why is this needed**

In the document, only text(PKCS#7) is m

[2022-05-30 10:31] Shubham82 commented on #34044
/assign
/sig auth

[2022-05-30 10:56] Shubham82 commented on #34044
Fixed it here: #34045

[2022-05-30 11:59] Kartik494 commented on #30182
/remove-lifecycle stale

[2022-05-30 13:12] windsonsea commented on #34033
May I take the win-2, which has no conflict with others?

[2022-05-30 13:14] howieyuen opened #34048 "./scripts/releng/update-release-info.sh cannot download the related images"
this script directly replace the whole content of content/en/releases/release.md, cause two problems:
1. lose header part, like `title` and `type` info
2. will not download the related image, now is `release-cycle.jpg` and `release-lifecycle.jpg`

shall we improve this script or leave it by human handling?

[2022-05-30 13:15] howieyuen commented on #34048
/triage accepted
/language en

[2022-05-30 13:16] howieyuen commented on #34048
/sig relase

[2022-05-30 13:20] tengqm commented on #34033
Not that I'm aware of.

[2022-05-30 14:35] jralmaraz commented on #13939
I have picked up docs/reference/access-authn-authz/authorization.md and assigned on the spreadsheet too.

[2022-05-30 14:48] bwplotka commented on #33936
FYI: We used Katacoda heavily for the Thanos project, and we discussed some alternatives to consider - but definitely not in so short timespan: https://github.com/thanos-io/thanos/issues/5385

TL;DR https://killercoda.com/ (mentioned already) or https://instruqt.com/

[2022-05-30 17:12] ashish-jaiswar opened #34052 "Link is broken on bootstrap-tokens.md page"
### Problem:
The link https://github.com/kubernetes/community/blob/master/contributors/design-proposals/cluster-lifecycle/bootstrap-discovery.md is dead.
see the [Link](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/cluster-lifecycle/bootstrap-discovery.md) to know more about the issue.

**Proposed Solution:**

This issue has been resolved by adding a simple link

[2022-05-30 17:17] ashish-jaiswar commented on #34052
/help wanted
/english en

[2022-05-30 17:19] kadtendulkar commented on #34052
/assign

[2022-05-30 17:20] ashish-jaiswar commented on #34052
/help
/language en

[2022-05-30 20:05] madhukusu opened #34053 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/"
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/
I followed the steps unable to install the kubeadm.
I am getting the below error when I tried to install specific versionof kubelet, kubectl, kubeadm
No package kubelet-1.21.9 available.
No package kubectl-1.21.9 available.
No package kubeadm-1.21.9 available

It failed for centos

[2022-05-30 20:24] sftim opened #34054 "Revise docs for kubernetes.io/enforce-mountable-secrets annotations"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/reference/labels-annotations-taints/#enforce-mountable-secrets mentions the annotation `kubernetes.io/enforce-mountable-secrets`.
However, this enforcement is _I think_ not relevant for Kubernetes v1.22 or later, as the kubelet doesn't get tokens for ServiceAccounts using the Secret API anyway.

**Proposed Solution:**
- Check with S

[2022-05-30 20:53] giulianopz opened #34055 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-pod-initialization/"
I cannot run the pod in this exercise: probably the problem is that the _init container writes the index.html file in the root directory of the nginx server_:
[code]

[2022-05-30 21:33] sftim commented on #33998
I will add that adding docs specifically to help people pass particular questions on the CKA is something I'd actively not like to see. Although the exam and docs development efforts are not particularly synchronized, we do have docs contributors who sit exams like CKA and CKAD to make sure that the tasks that are set are covered (but, when we submit PRs to fix that, we **don't** mention the motiv

[2022-05-30 21:35] sftim commented on #33991
/language en
/sig autoscaling

/kind bug
(the text could use improvement)

[2022-05-30 21:39] sftim commented on #34026
/triage accepted
/language en

[2022-05-30 21:40] sftim commented on #34026
/sig storage

[2022-05-30 21:41] sftim commented on #31584
Actually, these aren't rendered docs.

[2022-05-30 21:42] sftim commented on #31584
Fixed in https://github.com/kubernetes/website/pull/33985
/close

[2022-05-30 21:42] #31584 closed

[2022-05-30 21:48] sftim commented on #25903
In the glossary, we have an entry for [resource quotas](https://kubernetes.io/docs/reference/glossary/?all=true#term-resource-quota) but not for _resource_.

I would definitely be happy for more entries to be added. When adding these, bear in mind that (like the English word), the Kubernetes jargon uses this term in different ways and to use different things.

/lifecycle frozen

I don't recommend

[2022-05-30 21:50] sftim commented on #32828
English nit: you've _opened_ a PR and are requesting a review.

[2022-05-31 00:47] tengqm commented on #34052
/triage accepted

Thanks for reporting this. I'm wondering how we should fix it: pointing to the new location or removing the pointer to design docs?

[2022-05-31 01:48] tengqm commented on #34026
According to CHANGELOG:

[code]

[2022-05-31 02:56] mehabhalodiya commented on #34044
/triage accepted
/language en

[2022-05-31 02:58] mehabhalodiya commented on #34054
/sig auth
/triage accepted
/good-first-issue

[2022-05-31 04:11] mehabhalodiya commented on #30729
I'm closing as #31466 resolves this issue.
If you feel anything's remaining, feel free to reopen! Thank you!
/close

[2022-05-31 04:11] #30729 closed

[2022-05-31 04:12] mehabhalodiya commented on #30729
/remove-lifecycle rotten

[2022-05-31 04:15] mehabhalodiya commented on #28580
@s-urbaniak @sandeeppainuly I don't see any updates; so unassigning you. Please feel free to assign, if you come back here again and are willing to work on 🙂
/unassign @s-urbaniak @sandeeppainuly

[2022-05-31 04:22] mehabhalodiya commented on #27840
As per [this comment](https://github.com/kubernetes/website/issues/27840#issuecomment-985236316), I am unassigning to you.
/unassign @verma-kunal

[2022-05-31 04:26] mehabhalodiya commented on #30575
@aramase  I don't see any updates; so unassigning you. Please feel free to assign, if you come back here again and are willing to work on it. Thank you! 🙂
/unassign @aramase

[2022-05-31 04:29] mehabhalodiya commented on #9829
@DanyC97  I don't see any updates; so unassigning you. Please feel free to assign, if you come back here again and are willing to work on it. Thank you! 🙂
/unassign @DanyC97

[2022-05-31 04:36] neolit123 commented on #34053
There should be packages available for 1.21.9. If you are getting errors try logging an issue in kubernetes/release.

/sig release
/close

[2022-05-31 04:37] #34053 closed

[2022-05-31 05:37] Shubham82 commented on #34052
Hi @tengqm
IMO we can point it to the new location, which is kubernetes/design-proposals-archive/cluster-lifecycle/bootstrap-discovery.md
https://github.com/kubernetes/design-proposals-archive/blob/main/cluster-lifecycle/bootstrap-discovery.md

So it is easy for the readers to understand things. What do you think?

[2022-05-31 08:39] funkypenguin commented on #30661
/remove-lifecycle stale

On Tue, 31 May 2022 at 6:20 PM, Kubernetes Triage Robot <
***@***.***> wrote:

[2022-05-31 09:24] windsonsea commented on #34033
Hi, I would like to take win-5, 6, and 7 if no any conflict.

[2022-05-31 09:57] tengqm commented on #34033
win-5 is yours now.

[2022-05-31 10:28] anubha-v-ardhan commented on #31600
/remove-lifecycle stale

[2022-05-31 11:28] Shubham82 commented on #34055
Hi @giulianopz
I tried and it's working for me.

[code]
have you seen the output of `kubectl describe pod init-demo` to see what is the error?
could you please paste it here?

[2022-05-31 11:38] sshiv5768 commented on #33864
Yeah, I finally found the issue. It was with network connectivity so lab was not loaded properly.

[2022-05-31 11:45] dipankardas011 opened #34066 "Explain why tolerationSeconds field is optional"
If the tolerationSeconds is an optional property
then why, Not having it in pod in case the node is tainted as NoExecute (Pod was scheduled before Node being Tainted) will cause pod to be in bounded state forever
There must some default seconds! before it gets evicted

As mentioned in [Link of official doc](https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/#taint-based-e

[2022-05-31 12:39] XiShanYongYe-Chang opened #34073 "Failed to `Running an example Job` in kubernetes document"
When I run a `Job` following to the example in the [kubernetes document](https://kubernetes.io/docs/concepts/workloads/controllers/job/#running-an-example-job), the pod generated by the job fails to run:

[code]

This should be due to the release of the v5.36.0 of the `perl` image,  The previous version v5.34.0 image I tried worked fine.

[2022-05-31 13:35] #31904 closed

[2022-05-31 14:10] chrisnegus commented on #30842
The final instance of --pod-infra-container-image was removed with [PR # 33582](https://github.com/kubernetes/website/pull/33582/).
/close

[2022-05-31 14:26] sftim commented on #30898
An org member can close this. What's the reason / justification for closing?

[2022-05-31 14:31] sftim commented on #34055
/triage not-reproducible

based on https://github.com/kubernetes/website/issues/34055#issuecomment-1142010869

[2022-05-31 16:16] sftim commented on #33849
@shannonxtreme happy to review that

[2022-05-31 16:20] #31110 closed

[2022-05-31 16:20] #31142 closed

[2022-05-31 17:21] rolfedh commented on #30898
@sftim Looking over the content, it seems like the issue has been resolved. I reviewed this with the team in the "SIG Docs: 1.24 Dockershim removal" meeting, and we agreed that this looks like it should be closed.

[2022-05-31 17:57] marosset commented on #31428
Done!

I'll start reviewing the moved content for accuracy now and will either open the PRs myself of find more appropriate PR authors.

[2022-05-31 18:01] sftim commented on #30898
/close

[2022-05-31 18:01] #30898 closed

[2022-05-31 18:30] gdrysdale opened #34079 "Improvement for k8s.io/docs/reference/access-authn-authz/admission-controllers/"
Simple documentation issue:

Section for "CertificateSubjectRestriction" admission controller is "CertificateSubjectRestrictions". The appended 's' is not valid and will prevent apiserver startup if used in --disable-admission-plugins.

Note: plugin is listed correctly in the 'defaults' list.

[2022-05-31 19:12] mtardy opened #34080 "CSS inconsistencies between docs/tutorials/kubernetes-basics and the rest of the pages"
**This is a Bug Report**

**Problem:** The CSS looks different between docs/tutorials/kubernetes-basics and the rest of the website. It has its local CSS files here https://github.com/kubernetes/website/tree/main/content/en/docs/tutorials/kubernetes-basics/public/css. Maybe the main CSS diverged from the local for these pages that were integrated as a whole, see [Integrate bootcamp into Kubernetes

[2022-05-31 20:39] giulianopz commented on #34055
Hi @Shubham82,

I retried removing the following line and it worked but I don't know why:
[code]

I'm using microk8s (plus some addons, including CoreDNS) running inside an Ubuntu instance created by multipass:
[code]

[2022-05-31 20:51] #34079 closed

[2022-06-01 04:04] XiShanYongYe-Chang commented on #34073
@JohnTitor @sftim Thanks~

[2022-06-01 04:58] Babapool commented on #34052
This PR is fixed by #34076 . I think we can close the PR. Thanks.

[2022-06-01 05:10] tengqm commented on #34052
Since it is already fixed. This issue can be closed.
/close

[2022-06-01 05:11] #34052 closed

[2022-06-01 05:11] tengqm commented on #34080
/triage accepted

PRs are welcomed.

[2022-06-01 05:40] Shubham82 commented on #34052
@tengqm agree with you, there are so many design links in the docs which redirect to the same page. see this [comment](https://github.com/kubernetes/website/issues/33893#issuecomment-1135497781)

[2022-06-01 09:13] marco74 commented on #33795
After tests with Ubuntu 20.04 and 22.04 I found out following. Kubernetes stops supporting newer distributions including Ubuntu 22.04 and Debian 11 with Version 1.21. Since that version kube-system pods get restarted constantly:

[code]

I assume that it's not intended to restart pods that often. Just as a comparision tha same with version 1.20 on the same OS (different VM):

[code]

The only diff

[2022-06-01 10:31] EricoCartmanez opened #34093 "Improvement for k8s.io/docs/concepts/workloads/controllers/job/"
Why don't you just provide a completed example of a job with Labels, Parallelism, Completions instead of getting them from describing the job?

[2022-06-01 10:49] mk46 commented on #30104
/remove-lifecycle stale

[2022-06-01 11:17] #32902 closed

[2022-06-01 11:17] #32904 closed

[2022-06-01 12:04] Kartik494 commented on #34026
Hi @tengqm @sftim so from this reference we don't need to add `ReadOnlyAPIDataVolumes` feature gate? and if so can we close this issue ?

[2022-06-01 12:04] sftim commented on #30808
It's now [documented](https://kubernetes.io/docs/reference/labels-annotations-taints/#annotations-used-for-audit)
/close

[2022-06-01 12:05] #30808 closed

[2022-06-01 12:05] dipankardas011 commented on #34066
![Screenshot from 2022-06-01 17-34-01](https://user-images.githubusercontent.com/65275144/171400199-243a1110-5962-4b94-a678-d1580c1cb9e7.png)
it is not waiting for tolerationSeconds

[2022-06-01 12:13] sftim commented on #34093
If I've understood what you were suggesting correctly, you would like to see what the `.status` of a Job looks like in the API.

You (or anyone working on this improvement) could use [tabs](https://kubernetes.io/docs/contribute/style/hugo-shortcodes/#tabs) to let the reader choose between using `kubectl describe` and `kubectl get ... -o yaml`

(if you wanted examples of writing a spec for a parall

[2022-06-01 13:58] Sea-n commented on #33780
@guettli already opened #33652 4 days before this issue filed, please take a look.
- #33652

[2022-06-01 14:52] sftim commented on #34066
This looks like a mix of a support request (“why is my Pod not running when I check”) and a suggestion for the docs about taints and tolerations. We'll focus on the improvement suggestion.

For help with Pods and troubleshooting, @dipankardas011, you could try [Server Fault](https://serverfault.com/questions/tagged/kubernetes). Make sure to explain what you're doing, outline the symptoms, and incl

[2022-06-01 15:15] srikanthankam opened #34099 "Deployments"
Hello Everyone,

I have an application pod created using Kubernetes deployment, most of the times within seconds application pods are going to maximum number (10) and for information min. replicas mentioned is 1.

Question is there any way I can make delay between creating replicas?

Please suggest any solution.

[2022-06-01 21:00] giulianopz commented on #34055
I tried but the optut of `k describe` doesn't seem so useful (at least for me):
[code]

[2022-06-01 21:13] shannonxtreme commented on #33849
@sftim [Draft of a plan here](https://docs.google.com/document/d/1PtzITDU_oOtcYoXZFnu-xmFlYgP55nmV_khSXFTLdFw/edit#)

[2022-06-01 21:28] giulianopz commented on #34055
Leaving `dnsPolicy: Default` and changing the busybox to just sleep indefinetely I managed to execute the wget command in a shell inside the `install` container:
[code]
It's clearly a DNS resolution failure.
In the [docs](https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/) I can read the following:

So, is there any reason for this Pod manifest to have this specific DNS polic

[2022-06-01 21:52] QianqianLu-WebDev opened #34105 "安装扩展（Addons）"
The {{% thirdparty-content %}} is not work for i18n of Chinese

[2022-06-02 00:07] windsonsea commented on #34033
May I take win-6? Thanks.
/assign

[2022-06-02 01:14] jihoon-seo commented on #34105
/language zh

[2022-06-02 01:15] jihoon-seo commented on #34099
/kind support

[2022-06-02 02:00] tengqm commented on #34033
marked.

[2022-06-02 06:20] howieyuen commented on #33276
/close

[2022-06-02 06:20] #33276 closed

[2022-06-02 06:21] Shubham82 commented on #34055
Hi @giulianopz
Please refer [Customizing DNS Service](https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/#introduction) to the known issue when dns policy is set to default. Maybe this will help you.

Some from networking sig will tell better on this.
/sig network

[2022-06-02 06:22] howieyuen commented on #33955
first task is done, we can proceed a step forward now

[2022-06-02 06:26] howieyuen commented on #33518
this task has been done here https://github.com/kubernetes/website/pull/34034, close it now
/close

[2022-06-02 06:26] #33518 closed

[2022-06-02 06:26] howieyuen commented on #33798
update:
https://github.com/kubernetes/website/pull/34034 is the PR for the last item.

[2022-06-02 06:42] RA489 commented on #31544
/remove-lifecycle rotten

[2022-06-02 06:44] RA489 commented on #29760
/remove-lifecycle rotten

[2022-06-02 06:54] howieyuen commented on #34099
when a Deployment is created, kube-controller-manager will create a ReplicaSet to do version control (upgrade or roll-back), and ReplicaSet controller batch create Pod immediately since all Pods are equal to other, so there is no need to make delay for that.
I don't know what do your want for the delay, may be you need a StatefulSet which can guarantee one-by-one created in order?

[2022-06-02 07:09] tengqm commented on #33798
/close

[2022-06-02 07:09] #33798 closed

[2022-06-02 08:18] howieyuen commented on #34033
I am working on the last one, win-7
https://github.com/kubernetes/website/pull/34110

[2022-06-02 09:38] swagmdy commented on #31220
/close

[#34108](https://github.com/kubernetes/website/pull/34108)has been merged, so close it.

[2022-06-02 11:14] srikanthankam commented on #34099
Actually, my application runs migration scripts and also came to know that at a time all replicas should not run those scripts.

In addition, I tried with Statefulset but the problem I experienced is replicas are following stickiness means picking old image instead of latest.

So, what I am thinking is if there is an option to delay the replicas, it would help app to run scripts one after the othe

[2022-06-02 12:06] wuestkamp commented on #33918
Hello! I have already posted on Slack but I feel here it's more persistent :)
I'm the creator of killercoda.com. Happy to help with any issues|questions for a possible migration.
Feel free to reach me via [Email](https://github.com/wuestkamp) or [Slack](https://killercoda.com/slack).

Is there a public repo for the current Katacoda scenarios used on https://kubernetes.io/docs/tutorials/kubernetes-

[2022-06-02 12:11] sftim commented on #33918
https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios

[2022-06-02 12:20] sftim commented on #34080
/area web-development

[2022-06-02 12:21] sftim commented on #34080
The ideal fix is that we can remove `https://kubernetes.io/docs/tutorials/kubernetes-basics/public/css/*.css` and instead have the appropriate style declarations be a part of the main website Sass (see https://github.com/kubernetes/website/tree/main/assets/scss)

[2022-06-02 13:06] #33395 closed

[2022-06-02 17:34] BenHall commented on #33918
The content was originally created via a Web UI by Container Solutions who
also created the longer-form non-interactive content within the tutorial.

Katacoda switched from a web editor to being Git based and the content was
exported. This is why a license would be missing. My assumption is it's
apache2 with the IP ownership being the same as Kubernetes documentation.

There aren't any blockers to

[2022-06-02 17:55] adamwitwer commented on #33936
Hi team. I run the product team at O'Reilly, and we've set up a separate server for Kubernetes.io. The Katacoda scenarios on those pages will not be affected by the shutdown of the public site. My apologies for the miscommunication. @reylejano I've sent you an email with more context.

[2022-06-02 21:35] TheRealDwright opened #34115 "Update docs to use recommended labels"
**This is a Feature Request**
Requesting that docs be updated to use the Kubernetes [recommended labels](https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/) for service objects

**What would you like to be added**

Change app: MyApp examples to app.kubernetes.io/name: MyApp

**Why is this needed**

This caused some confusion for our engineers of what the best labels a

[2022-06-02 21:56] museg27 opened #34117 "Pod Security Policies"
Hi!
For the example in "policy/restricted-psp.yaml", the more restrictive value for "readOnlyRootFilesystem" would be "true" not "false".
Thank you.

[2022-06-03 02:50] gwynforthewyn opened #34119 "Improvement for k8s.io/docs/reference/labels-annotations-taints/"
In the standard labels reference, there is mention of the standard node-role labels 'node-role.kubernetes.io/control-plane', 'node-role.kubernetes.io/control-plane' (for scheduling) and 'node-role.kubernetes.io/master' is noted to be deprecated.

After experimenting, it seems to me like any node has a generic 'node-role.kubernetes.io/<some role>'  that can show up in 'kubectl describe nodes'. For

[2022-06-03 03:45] NitishKumar06 commented on #34117
/assign

[2022-06-03 03:48] NitishKumar06 commented on #34117
@museg27 Please provide a referred link to the content where improvement needs to take place according to you.

[2022-06-03 05:41] Sea-n commented on #34115
Hey @TheRealDwright,

You can use `/assign` command to assign yourself on this issue. So that others know you are working on it.

[2022-06-03 05:42] tengqm commented on #34119
Please note that the first line on the page referred says this:

[code]

I don't think we should encourage extending 'node-role.kubernetes.io/' for any usage other than the recommended or the well-known ones. None of these extensions are guaranteed to be working in the future.

[2022-06-03 05:47] Sea-n commented on #29680
As sftim said above, the document could be more clear to avoid confusion.

Hey @jayesh-srivastava, would you like to fix this? 😊

/remove-lifecycle rotten

[2022-06-03 06:04] harshanarayana opened #34121 "Invalid Parameters in `kube-proxy` CLI documentation under Component Tools"
**This is a Bug Report**

**Problem:**
![Screenshot 2022-06-03 at 11 31 25 AM](https://user-images.githubusercontent.com/1404867/171795963-e9ebbc2a-c572-4d24-b4e7-5429bb17945a.png)

xref: https://kubernetes.io/docs/reference/command-line-tools-reference/kube-proxy/

Has references to some CLI arguments that are not valid for `kube-proxy`. Seem to be side effect of changes went into https://github.

[2022-06-03 06:33] #31192 closed

[2022-06-03 06:53] TheRealDwright commented on #34115
/assign @TheRealDwright

[2022-06-03 07:56] mk46 commented on #31491
/remove-lifecycle rotten

[2022-06-03 11:17] sikoso commented on #20810
Hi,
Once connected, Clicking on "Add New Instance", and it still shows "Creating" then nothing happens and becomes "Add New Instance".
Could you check please ?
Thank you,
/K

[2022-06-03 12:55] museg27 commented on #34117
https://kubernetes.io/docs/concepts/security/pod-security-policy/#example-policies

In the example of a restrictive policy: [policy/restricted-psp.yaml](https://raw.githubusercontent.com/kubernetes/website/main/content/en/examples/policy/restricted-psp.yaml)

on the last line:
readOnlyRootFilesystem: false
should be:
readOnlyRootFilesystem: true

[2022-06-03 20:21] #32381 closed

[2022-06-03 21:21] SergeyKanzhelev commented on #30842
/reopen

this bug was suggesting to add a note to dockershim migration document to suggest customers what to replace this flag with on migration off dockershim. See comment https://github.com/kubernetes/website/issues/30842#issuecomment-1048088591

This document will benefit from this instruction: https://kubernetes.io/docs/tasks/administer-cluster/migrating-from-dockershim/change-runtime-containe

[2022-06-03 22:02] gwynforthewyn commented on #34119
Thanks for the response!

I had seen that, but my think was that when worker nodes are provisioned they have a description in `kubectl get nodes` that defaults to something uninformative, so documenting this string as an intended use-case could be useful.

Next week I can dig unto the k8s source and see what other fields might impact `kubectl get nodes`. I’ll at a minimum report back to this issue

[2022-06-03 22:08] cwilliams-arthrex opened #34125 "Improvement for k8s.io/docs/tasks/tools/included/kubectl-convert-overview/"
I am aware of [this](https://github.com/kubernetes/website/issues/28724) issue, but I don't see where to install this plugin.

[2022-06-03 22:18] cwilliams-arthrex commented on #34125
I see, it was deprecated in 1.17

[2022-06-03 22:18] #34125 closed

[2022-06-04 05:10] anubha-v-ardhan commented on #30571
/remove-lifecycle stale

[2022-06-04 08:28] giulianopz commented on #34055
Hi @Shubham82 ,
thanks for the clarification: I will close the issue since this issue seems actually caused by microk8s not interacting well with systemd-resolved.

[2022-06-04 08:28] #34055 closed

[2022-06-04 12:34] mehabhalodiya commented on #32930
Closing as per [this comment](https://github.com/kubernetes/website/issues/32930#issuecomment-1140745953).
/close

[2022-06-04 12:34] #32930 closed

[2022-06-04 13:58] Sea-n commented on #32079
Thanks for reporting, I can open a PR to fix this! 😊

/remove-lifecycle stale
/assign

[2022-06-04 15:32] Babapool commented on #33957
I have question: should `kubectl get rs`  be replaced by `kubectl get replicaset` wherever it occurs on the whole page or in the `Pausing and Resuming a rollout of a Deployment` section?. Thanks

[2022-06-04 18:44] #31210 closed

[2022-06-05 00:45] JohnTitor commented on #34121
/language en
/triage accepted

[2022-06-05 00:54] #32079 closed

[2022-06-05 02:01] jihoon-seo commented on #34121
/assign @JohnTitor

[2022-06-05 02:01] jihoon-seo commented on #33703
/assign @JohnTitor

[2022-06-05 02:09] jihoon-seo commented on #30364
/remove-lifecycle stale

[2022-06-05 08:25] Babapool commented on #33696
This issue is fixed by PR #33961 (which is merged). I think we can close this issue. Thanks.

/close

[2022-06-05 08:25] #33696 closed

[2022-06-05 10:31] brianbraunstein commented on #9585
+1

[2022-06-05 14:24] tengqm commented on #34121
/assign

[2022-06-05 19:56] #30823 closed

[2022-06-06 01:01] #31200 closed

[2022-06-06 03:19] howieyuen commented on #34099
you can specify imagePullPolicy as `Always`

[2022-06-06 03:27] zhangguanzhang commented on #29819
/reopen

[2022-06-06 04:09] Sea-n commented on #29819
Could you check it again?
I think this issue is fixed by PR #32376.
- #32376

[2022-06-06 04:58] Shubham82 commented on #34044
/close with ref: #34045

[2022-06-06 04:59] #34044 closed

[2022-06-06 05:02] zhangguanzhang commented on #29819
Fixed

[2022-06-06 05:02] #29819 closed

[2022-06-06 06:58] javadoors opened #34137 "[zh] Translate /docs/reference/kubernetes-api/authentication-resources/certificate-signing-request-v1/ to Chinese"
**This is a Feature Request**

certificate signing request

**What would you like to be added**
[zh] Translate /docs/reference/kubernetes-api/authentication-resources/certificate-signing-request-v1/ to Chinese

**Why is this needed**
Translate /docs/reference/kubernetes-api/authentication-resources/certificate-signing-request-v1 to Chinese
Add the page: /zh/docs/reference/kubernetes-api/authentica

[2022-06-06 07:32] Sea-n commented on #33735
For `content/zh/case-studies/wikimedia/index.html`, I've made this PR to resync and fixed translation term.
- #33759

[2022-06-06 07:35] marseel commented on #28068
/remove-lifecycle stale

[2022-06-06 07:42] Sea-n commented on #33735
And this two file are fixed by different PR already.

- content/zh/docs/reference/access-authn-authz/admission-controllers.md
    - #34051
- content/zh/docs/reference/command-line-tools-reference/kube-apiserver.md
    - #33988

[2022-06-06 08:38] #33644 closed

[2022-06-06 09:15] NitishKumar06 commented on #34137
Do you want this the content to be displayed in Chinese or you want a soft copy of the document in Chinese?

[2022-06-06 09:31] shizkgit opened #34138 "'Service Catalog' Helm repo URL is unavailable"
[root@master opt]#helm repo add svc-cat https://kubernetes-sigs.github.io/service-catalog
Error: looks like "https://kubernetes-sigs.github.io/service-catalog" is not a valid chart repository or cannot be reached: failed to fetch https://kubernetes-sigs.github.io/service-catalog/index.yaml : 404 Not Found

this reporegistry URL from https://kubernetes.io/zh/docs/tasks/service-catalog/install-servi

[2022-06-06 09:53] hpashika opened #34139 "Pod Security Admission"
FEATURE STATE: Kubernetes v1.23 [beta]

Built-in Pod Security admission enforcement
In Kubernetes v1.24, the PodSecurity [feature gate](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/) is a beta feature and is enabled by default. You must have this feature gate enabled. If you are running a different version of Kubernetes, consult the documentation for that release

[2022-06-06 10:10] mehabhalodiya commented on #34066
/triage accepted

[2022-06-06 10:31] Shubham82 commented on #34139
Hi @hpashika

From k8sv1.23 The `PodSecurity` feature gate is in beta and it is enabled by default. It is mentioned  under [feature gate](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/#feature-gates-for-alpha-or-beta-features) docs.

[2022-06-06 10:57] Shubham82 commented on #34139
Hi @sftim

Instead of

 can we write like this

so that it is the same as the Feature state which is mentioned in the starting. What do you think?

[2022-06-06 11:11] javadoors commented on #34137
localization the document to chinese.

[2022-06-06 11:13] javadoors commented on #34137
Add the page: /zh/docs/reference/kubernetes-api/authentication-resources/certificate-signing-request-v1

[2022-06-06 11:32] sftim commented on #33936
https://katacoda.com/k8scontributors will not survive the shutdown of https://katacoda.com/ and _does_ need to be migrated. I recommend @Debanitrkl that you file a separate issue elsewhere, for SIG ContribEx to track.

[2022-06-06 11:34] sftim commented on #33918
Based on https://github.com/kubernetes/website/issues/33936#issuecomment-1145151104, there aren't any issues to address.

/remove-triage accepted
/priority awaiting-more-evidence
/remove-kind bug

[2022-06-06 11:35] NitishKumar06 commented on #34137
/assign

[2022-06-06 11:36] sftim opened #34140 "Transfer Katacoda scenarios to Kubernetes"
**This is a Feature Request**

**What would you like to be added**
Transfer https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios to the GitHub organization [`kubernetes-sigs`](https://github.com/kubernetes-sigs/).

**Why is this needed**
These scenarios are part of the Kubernetes website. It'd be great to adopt the code that defines them.

See https://github.com/kubernetes/website/i

[2022-06-06 11:36] sftim commented on #33918
/remove-priority critical-urgent

[2022-06-06 11:43] hpashika commented on #34139
is there a reason 1.24 mentioned here ? if this is available as a feature gate and enabled by default at 1.23, shouldn't it say the same ?

[2022-06-06 12:22] sftim commented on #34139
You're seeing Kubernetes v1.24 mentioned because you are reading the documentation pages for Kubernetes 1.24

I think wording this is worth (re)considering. If folks aren't understanding the message we (SIG Docs / Kubernetes) want to convey, that's something to think about fixing.

[2022-06-06 12:39] jihoon-seo commented on #34140
/label team/katacoda

[2022-06-06 12:40] jihoon-seo commented on #34137
/language zh

[2022-06-06 12:41] sftim commented on #33957
I'd write `kubectl get replicaset` everywhere. We could _separately_ add a Tips section to this kind of page with hints like using the abbreviated names for kubectl.

[2022-06-06 12:43] jihoon-seo commented on #34138
Upstream (English) page: https://kubernetes.io/docs/tasks/service-catalog/install-service-catalog-using-helm/#add-the-service-catalog-helm-repository

[2022-06-06 12:49] sftim commented on #31612
/remove-lifecycle rotten

We should triage this.

[2022-06-06 12:59] sftim commented on #31015
/reopen
/triage accepted

[2022-06-06 13:41] clyang82 opened #34142 "Does the document reflect the correct status for Retrieving large results sets in chunks"
**This is a Bug Report**

**Problem:**

https://kubernetes.io/docs/reference/using-api/api-concepts/#retrieving-large-results-sets-in-chunks
from the above document, we can see that `Retrieving large results sets in chunks` is marked as beta since v1.9. Does it reflect the correct status for this feature since we have v1.24? if so, do we have plan to GA this feature. Thanks.

**Proposed Solution:*

[2022-06-06 13:48] xing-yang opened #34143 "Incorrect information regarding VolumeSnapshot API in v1.24 upcoming removals article"
**This is a Bug Report**

**Problem:**
Information regarding volume snapshot API in the following blog is not accurate.
https://kubernetes.io/blog/2022/04/07/upcoming-changes-in-kubernetes-1-24/#api-removals-deprecations-and-other-changes-for-kubernetes-1-24
Volume snapshot API moved to GA in 1.20, so volume snapshot v1beta1 was deprecated in 1.20.

**Proposed Solution:**
Information regarding vol

[2022-06-06 14:15] xing-yang opened #34144 "Section regarding Portworx in-tree plugin deprecation should be removed from blog"
**This is a Bug Report**

**Problem:**
In the blog https://kubernetes.io/blog/2022/04/07/upcoming-changes-in-kubernetes-1-24/, there is a paragraph about Portworx CSI driver migration. This was because Portworx was originally targeting Beta in 1.24 so the in-tree plugin will be deprecated as a result of that.  However, Portworx CSI migration didn't make it, so it stayed in Alpha in 1.24.  They wil

[2022-06-06 14:20] sftim commented on #34143
/retitle Incorrect information regarding VolumeSnapshot API in v1.24 upcoming removals article
/area blog
/language en

What is the correct statement about the fate of the v1beta1 API for VolumeSnapshot @xing-yang? When did (or will) that API version transition from deprecated to unsupported?

[2022-06-06 14:21] sftim commented on #34143
I suspect the fix is to edit:

to:

Does that sound right?

/triage needs-information

[2022-06-06 14:37] humblec commented on #34143
@sftim
Change 1:

Above has to be : [diff: `beta` to `GA`]

`which provides standardized APIs design (CRDs) and adds PV snapshot/restore support for CSI volume drivers, entered GA in v1.20.`

Change 2:

Above has to be: [diff  `v1.21 to v1.20`]

`VolumeSnapshot v1beta1 was deprecated in v1.20 ..`

[2022-06-06 16:35] NitishKumar06 commented on #34140
/assign

[2022-06-06 18:39] NitishKumar06 commented on #34144
/assign

[2022-06-06 18:48] sftim commented on #34144
/retitle Section regarding Portworx in-tree plugin deprecation should be removed from blog

[2022-06-06 18:50] sftim commented on #34142
To answer this question, follow the hyperlink to https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/ and review the feature status for `APIListChunking`. If you see that the feature is still beta, then the docs are likely not wrong.

Perhaps @clyang82 you'd like to request that the feature graduates to stable? If so, that's also not a docs issue. We can transfer your r

[2022-06-07 00:57] clyang82 commented on #34142
Thanks @sftim my intention is to confirm if the document is correct to reflect the feature status. Thanks for your link that confirmed `APIListChunking` is still beta. so it is not a docs issue.

Can you help me transfer my report to request the feature graduates to stable? Thanks.

[2022-06-07 01:16] tengqm commented on #34033
@windsonsea Please check if ‘windows/intro.md’ needs a resync?

[2022-06-07 01:25] NitishKumar06 commented on #34144
@sftim what according to you should be added more?

[2022-06-07 01:42] shizkgit commented on #34138
Thank you for your answer. I used the helm reporegistry URL in the English page, but still reported the wrong reporegistry address and couldn't find it，Looks like the reporegistry address has expired.
The error information is as follows：
[root@master ~]# helm repo add svc-cat https://kubernetes-sigs.github.io/service-catalog
Error: looks like "https://kubernetes-sigs.github.io/service-catalog" is

[2022-06-07 02:09] zhangxyjlu opened #34150 "[zh] Resync kubelet credentialprovider.v1beta1"
Translate Chinese version for reference/config-api/kubelet-credentialprovider.v1beta1.md

Comments
/language zh
/assign

[2022-06-07 02:32] #34035 closed

[2022-06-07 02:38] orangeji11 opened #34152 "Sync dual-stack page content to other i18n pages"
**This is a Feature Request**

**What would you like to be added**

As title,the language including but not limited to id,ja,ko,zh.
**Why is this needed**
Refer to https://github.com/kubernetes/website/pull/33997,dual stack pages have been reformatted.
**Comments**

/kind feature

[2022-06-07 02:40] orangeji11 commented on #34152
/assign

[2022-06-07 02:44] NitishKumar06 commented on #34152
/assign

[2022-06-07 02:57] jihoon-seo commented on #34138
Next time you open a issue, please write the title in English!

---

I see `404 Not Found` too.

Error: looks like "https://kubernetes-sigs.github.io/service-catalog" is not a valid chart repository or cannot be reached: failed to fetch https://kubernetes-sigs.github.io/service-catalog/index.yaml : 404 Not Found

/triage accepted
/kind bug
/retitle 'Service Catalog' Helm repo URL is unavailable
/l

[2022-06-07 03:19] Sea-n commented on #30096
It's almost done by @howieyuen.
/remove-lifecycle rotten
/assign @howieyuen

Most files (`_index.md`, `download.md`, `notes.md`, `patch-releases.md`, `release-managers.md`, `version-skew-policy.md`) are translated last week.
There is only `release.md` file left, which is being reviewing. And `OWNERS` file seems to be unnecessary for localized version.

[2022-06-07 03:33] taniaduggal commented on #34140
/assign

[2022-06-07 04:34] NitishKumar06 commented on #34140
Hey @sftim , it says that I don't have permission to create a public repo in [kubernetes-sigs](https://github.com/kubernetes-sigs/
)

[2022-06-07 04:39] NitishKumar06 commented on #34143
/assign

[2022-06-07 04:40] NitishKumar06 commented on #34143
@sftim  I completely agree with the contexts that @xing-yang has shared.

[2022-06-07 05:51] Shivansh-yadav13 commented on #34080
/assign

[2022-06-07 06:01] tengqm commented on #34150
/triage accepted

[2022-06-07 06:23] NitishKumar06 commented on #32828
@sftim My bad! Sorry, I mean I've made changes to the PR as required so now I'm asking  for review if any further changes are required to be made before merging.

[2022-06-07 06:41] syxunion opened #34154 "Translate reference/kubernetes-api/cluster-resources/event-v1.md"
Hi, I'm interested to translate the "reference/kubernetes-api/cluster-resources/event-v1.md" page.

This is a Feature Request:

translate en/docs/reference/kubernetes-api/cluster-resources/event-v1.md into Chinese.

What would you like to be added:

zh/docs/reference/kubernetes-api/cluster-resources/event-v1.md

/language zh
/kind feature

[2022-06-07 06:41] syxunion commented on #34154
/assign

[2022-06-07 06:54] javadoors commented on #34137
/assign

[2022-06-07 07:22] taniaduggal commented on #31449
/assign

[2022-06-07 08:10] NitishKumar06 commented on #34140
@sftim Thanks for letting me know!

[2022-06-07 09:29] karimib commented on #33533
We use https://charts.drycc.cc/stable as an alternative

[2022-06-07 10:55] Babapool commented on #33957
Okay, thanks. Also for a _possible_ `Tips` section we would need to create a separate shortcode for it?

[2022-06-07 10:55] subhamgcon commented on #31483
Hey, @mehabhalodiya @sftim I want to work on this issue. Can you please help me with how to get started with it?

[2022-06-07 10:56] subhamgcon commented on #31483
I want to know what kind of description you are looking for.

[2022-06-07 11:05] taniaduggal commented on #25172
/assign

[2022-06-07 11:08] sftim commented on #31483
We want to change the paragraph:

The changes we should make are to emphasize the second sentence more (maybe more that part first). We should mention [OpenMetrics](https://openmetrics.io/) and make it clear that Kubernetes is designed to work with OpenMetrics.
Instead of mentioning Prometheus at all, I recommend that we hyperlink to the CNCF Landscape, and specifically to https://landscape.cncf.i