[2020-08-19 16:50] kakts opened #23251 "ja: Make docs/concepts/architecture/nodes.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/architecture/nodes.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/architecture/nodes.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/concepts/architecture/no

[2020-08-19 16:52] kakts opened #23252 "ja: Make docs/concepts/architecture/controller.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/architecture/controller.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/architecture/controller.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/concepts/archi

[2020-08-19 16:53] kakts opened #23253 "ja: Make docs/concepts/architecture/cloud-controller.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/architecture/cloud-controller.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/architecture/cloud-controller.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/co

[2020-08-19 17:05] kakts commented on #23249
This document has already been translated.
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/concepts/configuration/configmap.md

[2020-08-19 17:05] #23249 closed

[2020-08-19 17:15] avbanks commented on #23252
/assign

[2020-08-19 17:24] avbanks commented on #23252
/unassign

[2020-08-19 18:05] rikatz opened #23254 "Automated spell check"
**This is a Feature Request**

So here's an idea (I though someone already had it): what if, when submitting a new PR, there's an additional job that detects what's the locale being changed and runs a spell check?

I've been digging into pyspelling and it looks pretty helpful after some tuning. It can be configured per locale/subdirectory, each one can have its own dictionary + maybe a common one

[2020-08-19 18:06] rikatz commented on #23254
/sig docs
/kind feature

[2020-08-19 18:10] rikatz commented on #23254
/cc @sftim Tim, would love to know your opinion about this. Don't know how hard, complex, verbose, etc this might be, but I was wondering if this is a thing to reduce typos and also the average load of reviewers (obviously still needs some human interaction).

Thank you!

[2020-08-19 20:41] #16201 closed

[2020-08-19 22:21] roshnaeem commented on #23240
Hey @sftim , I have tried to work on this issue and opened a pull request. Kindly review it and suggest the necessary changes.
https://github.com/kubernetes/website/pull/23255

[2020-08-20 02:15] #22571 closed

[2020-08-20 09:42] hase1128 commented on #23242
/assign

[2020-08-20 12:27] #23005 closed

[2020-08-20 13:00] sorenbronsted opened #23276 "Highlight that some clusters run Web UI in a namespace other than kubernetes-dashboard"
**This is a Bug Report**

The url is wrong : http://localhost:8001/api/v1/namespaces/kubernetes-dashboard/services/https:kubernetes-dashboard:/proxy/

**Proposed Solution:**
It should be: http://localhost:8001/api/v1/namespaces/kube-system/services/https:kubernetes-dashboard:/proxy/

**Page to Update:**
https://kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard/

[2020-08-20 19:33] sftim commented on #23254
You don't need a KEP to suggest this improvement. How about proposing an addition to the `Makefile` (similar to `make container-internal-linkcheck` so that you can run a local test to spell check the rendered HTML. Would that approach work?

@kubernetes/sig-docs-leads FYI

[2020-08-20 19:51] sftim opened #23280 "Localize “Learn Kubernetes Basics” button to Português"
**This is a Bug Report**

**Problem:**
The front page of the website has a button, “Learn Kubernetes Basics”. The Portuguese localization is missing that button.

**Proposed Solution:**
Add the button / add the localized text that makes the button appear.

**Page to Update:**
https://kubernetes.io/pt/

/priority backlog
/language pt
/kind bug

Relates to #13939

[2020-08-20 19:52] sftim opened #23281 "Localize “Learn Kubernetes Basics” to Tiếng Việt"
**This is a Bug Report**

**Problem:**
The front page of the website has a button, “Learn Kubernetes Basics”. The Vietnamese localization is missing that button.

**Proposed Solution:**
Add the button / add the localized text that makes the button appear.

**Page to Update:**
https://kubernetes.io/vi/

/priority backlog
/language vi
/kind bug

[2020-08-20 19:53] sftim commented on #23276
I checked, and saw that https://raw.githubusercontent.com/kubernetes/dashboard/v2.0.0/aio/deploy/recommended.yaml deploys into the namespace `kubernetes-dashboard`.

I think the existing documentation is correct @sorenbronsted.

Would it help to add a note that your setup might be different from what's recommended?
/triage needs-information

[2020-08-20 19:54] sftim commented on #23276
/language en

[2020-08-20 21:57] shuuji3 commented on #23232
/close
by #23234

[2020-08-20 21:58] #23232 closed

[2020-08-20 22:25] #23240 closed

[2020-08-21 00:37] zacharysarah commented on #23254
@rikatz I understand the appeal of CI jobs to automate toil, but spellchecker configuration is deeply nontrivial and carry significant consequences for less-than-perfect function.

Why does this make better sense than recommending people check spelling locally?

[2020-08-21 01:49] hase1128 commented on #23243
/assign

[2020-08-21 03:01] arul24ar opened #23285 "Issue with k8s.io/docs/concepts/workloads/pods/podpreset/"
**This is a Bug Report**

**Problem: Even after enabling the minikube with podpreset API I am getting the below error when I try to apply the podpreset.

Steps Followed:
1) minikube start --extra-config=apiserver.runtime-config=settings.k8s.io/v1alpha1=true
2) kubectl apply -f podpreset.yml
Here is my propreset values:
apiVersion: settings.k8s.io/v1alpha1
kind: PodPreset
metadata:
  name: share-cr

[2020-08-21 03:12] yu-kasuya commented on #23253
/assign

[2020-08-21 03:37] gm7y8 commented on #20649
/assign

[2020-08-21 03:44] Thrimbda opened #23286 "Issue with k8s.io/zh/docs/concepts/overview/components/"
**This is a Bug Report**

**Problem:**
Original text hast been kept along with translated text

**Proposed Solution:**
Delete original English text

**Page to Update:**
https://kubernetes.io/zh/docs/concepts/overview/components/

<img width="863" alt="图片" src="https://user-images.githubusercontent.com/15231162/90850219-a5429500-e3a3-11ea-9828-30cb5ffaaaaf.png">

[2020-08-21 05:05] #23123 closed

[2020-08-21 05:07] #22990 closed

[2020-08-21 05:12] reylejano-rxm commented on #22777
/assign @reylejano-rxm

[2020-08-21 05:13] reylejano-rxm commented on #23239
/assign @reylejano-rxm

Opened PR #23288 to resolve this issue

[2020-08-21 05:13] reylejano-rxm commented on #22964
/assign @reylejano-rxm

Opened PR #23288 to resolve this issue

[2020-08-21 05:20] reylejano-rxm commented on #22826
Seems `brew install kubectl` and `brew install kubernetes-cli` are the same and there is no difference, no preference, or no recommended command.
Brew reference: https://formulae.brew.sh/formula/kubernetes-cli#default

[2020-08-21 05:20] reylejano-rxm commented on #22826
/assign @reylejano-rxm

[2020-08-21 05:21] reylejano-rxm commented on #22826
@ajaygautam Please close this issue if you are satisfied with my reply above

[2020-08-21 05:46] zacharysarah commented on #22777
Closed by #23287
/close

[2020-08-21 05:46] #22777 closed

[2020-08-21 06:22] tengqm commented on #23286
Looks like the `glossary_tooltip` is still working even when being commented out.
I have encountered this a hundred times when tidying up the Chinese localization, and
this is one of the reasons I don't like this shortcode.

[2020-08-21 06:22] tengqm commented on #23286
/assign

[2020-08-21 06:43] tengqm commented on #16571
/remove-lifecycle stale

This is still relevant.

When I was going through the Chinese localization contents and resyncing big changes, one possible improvement that came to my brain was something like [pseudo-versions in Go modules](https://golang.org/cmd/go/#hdr-Pseudo_versions). For example, if I'm now creating or updating `/docs/foo/bar.md` from English to Chinese, I will need to add the follo

[2020-08-21 06:56] zacharysarah commented on #16571
@tengqm I'm intrigued by the approach. @seokho-son @irvifa 👋 Any input on [this idea](https://github.com/kubernetes/website/issues/16571#issuecomment-678072606)?

[2020-08-21 11:59] oke-py opened #23296 "ja: Make docs/tasks/_index.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tasks/_index.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tasks/_index.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/tasks/_index.md

Original
https://github.com/kubernete

[2020-08-21 12:00] oke-py opened #23297 "ja: Make docs/tasks/access-application-cluster/_index.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tasks/access-application-cluster/_index.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tasks/access-application-cluster/_index.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/

[2020-08-21 12:02] oke-py opened #23298 "ja: Make docs/tasks/access-application-cluster/communicate-containers-same-pod-shared-volume.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tasks/access-application-cluster/communicate-containers-same-pod-shared-volume.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tasks/access-application-cluster/communicate-containers-same-pod-shared-volume.md is outdated.

**Comments**
/language ja
/good-first-issue

File to up

[2020-08-21 12:04] oke-py opened #23299 "ja: Make docs/tasks/access-application-cluster/configure-access-multiple-clusters.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tasks/access-application-cluster/configure-access-multiple-clusters.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tasks/access-application-cluster/configure-access-multiple-clusters.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.co

[2020-08-21 12:06] oke-py opened #23300 "ja: Make docs/tasks/access-application-cluster/connecting-frontend-backend.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tasks/access-application-cluster/connecting-frontend-backend.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tasks/access-application-cluster/connecting-frontend-backend.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/w

[2020-08-21 12:10] oke-py opened #23301 "ja: Make docs/tasks/access-application-cluster/list-all-running-container-images.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tasks/access-application-cluster/list-all-running-container-images.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tasks/access-application-cluster/list-all-running-container-images.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/

[2020-08-21 12:12] oke-py opened #23302 "ja: Make docs/tasks/access-application-cluster/service-access-application-cluster.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tasks/access-application-cluster/service-access-application-cluster.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tasks/access-application-cluster/service-access-application-cluster.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.co

[2020-08-21 12:13] oke-py opened #23303 "ja: Make docs/tasks/access-application-cluster/web-ui-dashboard.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tasks/access-application-cluster/web-ui-dashboard.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tasks/access-application-cluster/web-ui-dashboard.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-j

[2020-08-21 15:45] marektoman opened #23307 "Issue with k8s.io/docs/tasks/configure-pod-container/pull-image-private-registry/"
**This is a Bug Report**

**Problem:**
The guide has misinformation because Docker is installed by snap these days.

**Proposed Solution:**
Either change `cat ~/.docker/config.json` to `cat ~/snap/docker/?/.docker/config.json` or even better, describe correctly all the variants.

**Page to Update:**
https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/

[2020-08-21 18:12] kakts opened #23308 "ja: Make docs/tutorials/_index.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tutorials/_index.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tutorials/_index.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/tutorials/_index.md

Original
https://github.c

[2020-08-21 18:14] kakts opened #23309 "ja: Make docs/tutorials/configuration/configure-redis-using-configmap.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tutorials/configuration/configure-redis-using-configmap.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tutorials/configuration/configure-redis-using-configmap.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blo

[2020-08-21 18:14] kakts opened #23310 "ja: Make docs/tutorials/hello-minikube.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tutorials/hello-minikube.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tutorials/hello-minikube.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/tutorials/hello-minikube.md

O

[2020-08-21 18:15] kakts opened #23311 "ja: Make docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive.html follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive.html to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive.html is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kube

[2020-08-21 18:16] kakts opened #23312 "ja: Make docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/web

[2020-08-21 18:17] kakts opened #23313 "ja: Make docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/de

[2020-08-21 18:17] kakts opened #23314 "ja: Make docs/tutorials/kubernetes-basics/explore/explore-intro.html follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tutorials/kubernetes-basics/explore/explore-intro.html to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tutorials/kubernetes-basics/explore/explore-intro.html is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.

[2020-08-21 18:18] kakts opened #23315 "ja: Make docs/tutorials/kubernetes-basics/expose/expose-intro.html follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tutorials/kubernetes-basics/expose/expose-intro.html to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tutorials/kubernetes-basics/expose/expose-intro.html is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-j

[2020-08-21 18:19] kakts opened #23316 "ja: Make docs/tutorials/kubernetes-basics/scale/scale-intro.html follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tutorials/kubernetes-basics/scale/scale-intro.html to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tutorials/kubernetes-basics/scale/scale-intro.html is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/

[2020-08-21 18:20] kakts opened #23317 "ja: Make docs/tutorials/services/source-ip.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tutorials/services/source-ip.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tutorials/services/source-ip.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/tutorials/services/sou

[2020-08-21 18:20] kakts opened #23318 "ja: Make docs/tutorials/stateful-application/basic-stateful-set.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tutorials/stateful-application/basic-stateful-set.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tutorials/stateful-application/basic-stateful-set.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-j

[2020-08-21 18:21] kakts opened #23319 "ja: Make docs/tutorials/stateful-application/cassandra.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tutorials/stateful-application/cassandra.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tutorials/stateful-application/cassandra.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/doc

[2020-08-21 18:21] kakts opened #23320 "ja: Make docs/tutorials/stateful-application/mysql-wordpress-persistent-volume.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tutorials/stateful-application/mysql-wordpress-persistent-volume.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kube

[2020-08-21 18:21] kakts opened #23321 "ja: Make docs/tutorials/stateless-application/expose-external-ip-address.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tutorials/stateless-application/expose-external-ip-address.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tutorials/stateless-application/expose-external-ip-address.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/websi

[2020-08-21 18:22] kakts opened #23322 "ja: Translate docs/tutorials/stateless-application/guestbook-logs-metrics-with-elk.md into Japanese"
**This is a Feature Request**

**What would you like to be added**
Update docs/tutorials/stateless-application/guestbook-logs-metrics-with-elk.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tutorials/stateless-application/guestbook-logs-metrics-with-elk.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubern

[2020-08-21 21:12] MikeSpreitzer opened #23323 "Issue with k8s.io/docs/tasks/tls/manual-rotation-of-ca-certificates/"
**This is a Bug Report**

**Problem:**
1.  There is a remark that mixes up two issues:

https://github.com/kubernetes/kubeadm/issues/1350 is _not_ about `--client-ca-file`, rather it is about `--cluster-signing-cert-file`.

2. Is `--client-ca-file` even actually relevant to kube-controller-manager?  Ayodele Abejide and I can not see any relevant for it (https://kubernetes.slack.com/archives/C0EN96

[2020-08-21 23:38] pjhwa opened #23324 "Issue with k8s.io/ko/docs/contribute/participate/roles-and-responsibilties/"
**This is a Bug Report**

**Problem:**
There is a typo in filename of roles-and-responsibilities.md file.

**Proposed Solution:**
Rename roles-and-responsibilities.md instead of roles-and-responsibilties.md.

**Page to Update:**
https://kubernetes.io/ko/docs/contribute/participate/roles-and-responsibilities/

/language ko

[2020-08-22 07:21] #23324 closed, assigned to pjhwa

[2020-08-22 17:32] kakts opened #23336 "ja: Make docs/reference/kubectl/overview.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/reference/kubectl/overview.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/reference/kubectl/overview.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/reference/kubectl/overview

[2020-08-22 17:32] kakts opened #23337 "ja: Make docs/reference/kubectl/cheatsheet.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/reference/kubectl/cheatsheet.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/reference/kubectl/cheatsheet.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/reference/kubectl/chea

[2020-08-22 17:33] kakts opened #23338 "ja: Make docs/reference/glossary/volume.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/reference/glossary/volume.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/reference/glossary/volume.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/reference/glossary/volume.md

[2020-08-22 17:34] kakts opened #23339 "ja: Make docs/reference/glossary/statefulset.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/reference/glossary/statefulset.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/reference/glossary/statefulset.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/reference/glossary

[2020-08-22 17:35] kakts opened #23340 "ja: Make docs/reference/glossary/platform-developer.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/reference/glossary/platform-developer.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/reference/glossary/platform-developer.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/refe

[2020-08-22 17:35] kakts opened #23341 "ja: Make docs/reference/glossary/node.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/reference/glossary/node.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/reference/glossary/node.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/reference/glossary/node.md

Orig

[2020-08-22 17:35] kakts opened #23342 "ja: Make docs/reference/glossary/deployment.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/reference/glossary/deployment.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/reference/glossary/deployment.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/reference/glossary/d

[2020-08-22 17:36] kakts opened #23343 "ja: Make docs/reference/glossary/control-plane.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/reference/glossary/control-plane.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/reference/glossary/control-plane.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/reference/glos

[2020-08-22 17:37] kakts opened #23344 "ja: Make docs/reference/glossary/configmap.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/reference/glossary/configmap.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/reference/glossary/configmap.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/reference/glossary/con

[2020-08-22 17:38] kakts opened #23345 "ja: Make docs/reference/command-line-tools-reference/feature-gates.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/reference/command-line-tools-reference/feature-gates.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/reference/command-line-tools-reference/feature-gates.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-

[2020-08-22 17:39] kakts opened #23346 "ja: Make docs/reference/access-authn-authz/authentication.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/reference/access-authn-authz/authentication.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/reference/access-authn-authz/authentication.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/

[2020-08-22 17:40] kakts opened #23347 "ja: Make docs/reference/_index.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/reference/_index.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/reference/_index.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/reference/_index.md

Original
https://github.c

[2020-08-22 17:42] kakts opened #23348 "ja: Make docs/contribute/localization.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/contribute/localization.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/contribute/localization.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/contribute/localization.md

Orig

[2020-08-22 17:42] kakts opened #23349 "ja: Make docs/contribute/_index.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/contribute/_index.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/contribute/_index.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/contribute/_index.md

Original
https://githu

[2020-08-23 09:42] inductor opened #23354 "Update docs/tasks/tools/install-minikube"
**This is a Feature Request**

[Install Minikube](https://kubernetes.io/docs/tasks/tools/install-minikube/) doesn't follow the latest information where you no longer need a hypervisor in order to use the minikube cluster as the default driver is Docker now.

Ref. https://minikube.sigs.k8s.io/docs/drivers/

**What would you like to be added**

Update the doc

**Why is this needed**

It doesn't foll

[2020-08-23 12:36] cyberprodigy opened #23356 "Issue with k8s.io/docs/tasks/tools/install-minikube/"
**This is a Bug Report**

**Problem:**
Getting these errors while following the procedure step by step
😄  minikube v1.12.3 on Ubuntu 20.04
✨  Using the docker driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🏃  Updating the running docker "minikube" container ...
❗  This container is having trouble accessing https://k8s.gcr.io
💡  To pull new external ima

[2020-08-23 15:25] dheeraj-dev1 opened #23360 "Issue with k8s.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/"
how to slove this error

error: error validating "one.yaml": error validating data: apiVersion not set; if you choose to ignore these errurn validation off with --validate=false

[2020-08-23 16:30] Arhell opened #23364 "remove "extra indent" de lang page"
**This is a Bug Report**

**Problem:**
![1](https://user-images.githubusercontent.com/26163841/90983458-138b8100-e577-11ea-8127-d6ea66a86e8c.jpg)

**Proposed Solution:**
remove 1-e br like en version

**Page to Update:**
https://kubernetes.io/de/#video

/language de
/assign
/area web-development

[2020-08-23 18:24] rbrishabh commented on #23354
Okay, got it! Will make a PR soon.
Thanks!

[2020-08-23 18:32] rikatz commented on #23254
Hello everybody and thank you for the comments.

I agree, using this in the CI might be pretty aggressive, so I will work in a local version/proposal and maybe suggest (as proposed by @sftim ) to change the Makefile to have a non required, but recommended step that can be ran by the reviewer and the contributor before accepting the doc change.

So this will be much more a "process" than a CI. To n

[2020-08-23 18:32] sftim commented on #23354
/priority important-longterm
/kind bug
/language en

However, as the work is not _clearly_ defined:
/remove-good-first-issue

[2020-08-23 18:32] rikatz commented on #23254
/assign

[2020-08-23 18:34] sftim commented on #23354
I'd replace _Install a hypervisor_ with another section _Ensure you have what you need_ (or similar title).

[2020-08-23 19:06] sftim commented on #23254
@rikatz that approach sounds good to me.
It's easy (ish) to go from a Makefile to a non-essential CI check that provides extra signal to reviewers, in some future step.

One thing to consider, either initially or later: make the spell check opt-in _per localization_. If you want to do that, I can offer some tips.

[2020-08-23 19:17] rikatz commented on #23254
Any help/idea are very welcome :) I'll try to start hacking this in the current week, I was thinking about using the combination of the content/<locale> as the target, and something like "spellcheck/<locale>" with all the configs (pyspellcheck + dictionaries), and having something like make spellcheck LOCALE=pt (as an example)

[2020-08-23 21:20] oke-py opened #23367 "ja: Make docs/tasks/administer-cluster/_index.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tasks/administer-cluster/_index.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tasks/administer-cluster/_index.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/tasks/administer

[2020-08-23 21:21] oke-py opened #23368 "ja: Make docs/tasks/administer-cluster/coredns.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tasks/administer-cluster/coredns.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tasks/administer-cluster/coredns.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/tasks/administ

[2020-08-23 21:23] oke-py opened #23369 "ja: Make docs/tasks/administer-cluster/developing-cloud-controller-manager.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tasks/administer-cluster/developing-cloud-controller-manager.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tasks/administer-cluster/developing-cloud-controller-manager.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/w

[2020-08-23 21:24] oke-py opened #23370 "ja: Make docs/tasks/administer-cluster/enabling-endpointslices.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tasks/administer-cluster/enabling-endpointslices.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tasks/administer-cluster/enabling-endpointslices.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.

[2020-08-23 21:32] oke-py opened #23371 "ja: Make docs/tasks/administer-cluster/running-cloud-controller.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tasks/administer-cluster/running-cloud-controller.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tasks/administer-cluster/running-cloud-controller.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-j

[2020-08-23 22:59] oke-py opened #23372 "ja: Make docs/tasks/configure-pod-container/_index.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tasks/configure-pod-container/_index.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tasks/configure-pod-container/_index.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/tasks/

[2020-08-23 23:01] oke-py opened #23373 "ja: Make docs/tasks/configure-pod-container/assign-cpu-resource.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tasks/configure-pod-container/assign-cpu-resource.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tasks/configure-pod-container/assign-cpu-resource.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-j

[2020-08-23 23:02] oke-py opened #23374 "ja: Make docs/tasks/configure-pod-container/assign-memory-resource.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tasks/configure-pod-container/assign-memory-resource.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tasks/configure-pod-container/assign-memory-resource.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-

[2020-08-23 23:05] oke-py opened #23375 "ja: Make docs/tasks/configure-pod-container/attach-handler-lifecycle-event.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tasks/configure-pod-container/attach-handler-lifecycle-event.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tasks/configure-pod-container/attach-handler-lifecycle-event.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/w

[2020-08-23 23:07] oke-py opened #23376 "ja: Make docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https

[2020-08-23 23:09] oke-py opened #23377 "ja: Make docs/tasks/configure-pod-container/configure-pod-configmap.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tasks/configure-pod-container/configure-pod-configmap.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tasks/configure-pod-container/configure-pod-configmap.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/de

[2020-08-23 23:13] oke-py opened #23378 "ja: Make docs/tasks/configure-pod-container/quality-service-pod.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tasks/configure-pod-container/quality-service-pod.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tasks/configure-pod-container/quality-service-pod.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-j

[2020-08-23 23:25] savitharaghunathan opened #23379 "Test: Add tide merge blocker label"
Test: Add tide merge blocker label

[2020-08-24 00:10] savitharaghunathan commented on #23379
tide/merge-blocker

[2020-08-24 00:42] jimangel commented on #23379
/label merge-blocker

[2020-08-24 00:43] jimangel commented on #23379
/label tide/merge-blocker

[2020-08-24 02:02] coolguyhong opened #23381 "Modify translation Accessing by Korean glossary"
**This is a Bug Report**

**Problem:**
Modify translation Accessing by Korean glossary

**Proposed Solution:**
Change translation access by Korean glossary

**Page to Update:**
https://kubernetes.io/ko/docs/tasks/access-application-cluster/
https://kubernetes.io/ko/docs/tasks/access-application-cluster/access-cluster/

[2020-08-24 02:02] coolguyhong commented on #23381
/language ko
/assign

[2020-08-24 03:11] oke-py opened #23382 "ja: Make docs/tasks/debug-application-cluster/_index.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tasks/debug-application-cluster/_index.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tasks/debug-application-cluster/_index.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/ta

[2020-08-24 03:14] oke-py opened #23383 "ja: Make docs/tasks/debug-application-cluster/debug-pod-replication-controller.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tasks/debug-application-cluster/debug-pod-replication-controller.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tasks/debug-application-cluster/debug-pod-replication-controller.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kube

[2020-08-24 03:16] oke-py opened #23384 "ja: Make docs/tasks/debug-application-cluster/debug-service.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tasks/debug-application-cluster/debug-service.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tasks/debug-application-cluster/debug-service.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/cont

[2020-08-24 03:18] oke-py opened #23385 "ja: Make docs/tasks/debug-application-cluster/debug-stateful-set.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tasks/debug-application-cluster/debug-stateful-set.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tasks/debug-application-cluster/debug-stateful-set.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18

[2020-08-24 03:20] oke-py opened #23386 "ja: Make docs/tasks/debug-application-cluster/determine-reason-pod-failure.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tasks/debug-application-cluster/determine-reason-pod-failure.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tasks/debug-application-cluster/determine-reason-pod-failure.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/w

[2020-08-24 03:22] oke-py opened #23387 "ja: Make docs/tasks/debug-application-cluster/get-shell-running-container.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tasks/debug-application-cluster/get-shell-running-container.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tasks/debug-application-cluster/get-shell-running-container.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/web

[2020-08-24 03:47] gm7y8 commented on #20649
@sftim i am interested to do pick this up.. let me know if these changes are still required?

[2020-08-24 03:49] h1de27 commented on #23387
/assign

[2020-08-24 04:16] tkms0106 commented on #23376
/assign

[2020-08-24 05:01] harrypintous opened #23389 "The connection to the server 172.16.128.128:6443 was refused - did you specify the right host or port?"
The connection to the server 172.16.128.128:6443 was refused - did you specify the right host or port?

[2020-08-24 05:24] hikkie3110 commented on #23251
/assign

[2020-08-24 08:38] sftim commented on #20649
This work still needs doing. The changes in https://github.com/kubernetes/website/pull/20724/commits/032a7ea337978697dda435e0950fc53d83113695 looked like a good starting point.

[2020-08-24 08:39] sftim commented on #20335
I think these are largely dealt with.
/close

[2020-08-24 08:39] #20335 closed

[2020-08-24 08:40] sftim commented on #23379
@savitharaghunathan is this still a test? Do you want the label applied?

(if you want the label kept, consider retitling the issue)

[2020-08-24 08:49] hydave25 opened #23390 "Improvement for k8s.io/docs/tasks/inject-data-application/define-interdependent-environment-variables/"
Protocol field for the following 2 variables is not populating -

UNCHANGED_REFERENCE=$(PROTOCOL)://172.17.0.1:80 -- Variable declaration is before the protocol Variable declaration.
SERVICE_ADDRESS=https://172.17.0.1:80
ESCAPED_REFERENCE=$(PROTOCOL)://172.17.0.1:80 - Value of Variable has wrong protocol variable population -(  value: "$$(PROTOCOL)://$(SERVICE_IP):$(SERVICE_PORT)" ) only single $

[2020-08-24 08:50] yu-kasuya commented on #23252
/assign

[2020-08-24 09:07] hwacookie opened #23391 "Issue with k8s.io/docs/tasks/administer-cluster/namespaces/"
**This is a Bug Report**

**Problem:**
There's a wrong resource name on the page, the line

kubectl create deployment snowflake --image=k8s.gcr.io/serve_hostname -n=development

leads to an error:

The Deployment "snowflake" is invalid: spec.template.spec.containers[0].name: Invalid value: "serve_hostname": a DNS-1123 label must consist of lower case alphanumeric characters or '-', and must start

[2020-08-24 09:11] anupam587 opened #23392 "Jsonpath is not working if key is having special charaters"
**This is a Bug Report**
Following command: "kubectl rollout history deployment/workspace-service -n workspace -o json"
Response:
{
    "kind": "Deployment",
    "apiVersion": "extensions/v1beta1",
    "metadata": {
        "name": "workspace-service",
        "namespace": "workspace",
        "selfLink": "/apis/extensions/v1beta1/namespaces/workspace/deployments/workspace-service",
        "uid":

[2020-08-24 09:14] djha736 opened #23393 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/"
**This is a Bug Report**

**Problem:**

Pods network related options removed from documentation which was earlier there.

**Proposed Solution:**
kindly add back.

**Page to Update:**
https://kubernetes.io/...

[2020-08-24 10:42] AnatoliiStepaniuk opened #23394 "Specify the date of releases"
Would like to know the date of the release (1.18).
 k8s.io/docs/setup/release/notes/

[2020-08-24 11:06] savitharaghunathan commented on #23379
Hi @sftim, I am going to close this issue and create a new one for website freeze in a couple of hours. Closing should remove the label?

[2020-08-24 11:10] savitharaghunathan commented on #23379
/close

[2020-08-24 11:10] #23379 closed

[2020-08-24 11:31] translucens commented on #23245
/assign

[2020-08-24 11:32] neolit123 commented on #23393
hi, the removal is intentional, see:
#22600
#22600 (comment)
#22961

/triage support
/close
/sig cluster-lifecycle

[2020-08-24 11:32] #23393 closed

[2020-08-24 11:52] #23064 closed

[2020-08-24 11:54] shuzokato commented on #23385
/assign

[2020-08-24 11:59] neolit123 commented on #23360
hi, please try the support channels for general questions:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close
/triage support
/sig cluster-lifecycle

[2020-08-24 11:59] #23360 closed

[2020-08-24 12:16] sftim commented on #23394
/kind feature
/sig release
/priority important-longterm
/language en

[2020-08-24 12:18] waelmas opened #23396 "Issue with k8s.io/docs/tasks/access-application-cluster/web-ui-dashboard/"
**Problem:**
When deploying using the sample, it seems like the dashboard-metrics-scraper is problematic.

Upon running kubectl apply -f, I get the following error:

The Deployment "dashboard-metrics-scraper" is invalid: spec.template.annotations.seccomp.security.alpha.kubernetes.io/pod: Invalid value: "runtime/default": must be a valid seccomp profile

**Proposed Solution:**
Fix the dashboard-met

[2020-08-24 12:26] hydave25 opened #23397 "Issue with k8s.io/docs/tasks/job/parallel-processing-expansion/"
**This is a Bug Report**

**Problem:**
Getting following Error while executing the yaml file on latest version of kubectl

The Job "process-item-$ITEM" is invalid:
* metadata.name: Invalid value: "process-item-$ITEM": a DNS-1123 subdomain must consist of lower case alphanumeric characters, '-' or '.', and must start and end with an alphanumeric character (e.g. 'example.com', regex used for validat

[2020-08-24 12:29] Arhell commented on #23364
/close

[2020-08-24 12:29] #23364 closed

[2020-08-24 13:30] opeco17 commented on #23384
/assign

[2020-08-24 13:40] Arhell commented on #23224
/close

[2020-08-24 13:40] #23224 closed

[2020-08-24 13:54] savitharaghunathan opened #23399 "Freeze k/website for Kubernetes 1.19 release"
This issue is for freezing the k/website for Kubernetes 1.19 release.

The release is scheduled to happen tomorrow (Aug 25th) and No PRs allowed to merge until the release PR has successfully merged.

For any queries, please contact me or anyone from docs release team cc'd here

cc: @annajung @divya-mohan0209 @mikejoh @zestrells

[2020-08-24 14:41] savitharaghunathan commented on #20624
Hi All, I have frozen the k/website to prepare for 1.19 release. The release is scheduled to happen tomorrow and no PRs are allowed to merge until the release PR successfully merges. Please let me know if you have any concerns or queries. Thanks to all your localization efforts and making the k8s community awesome

Ref: https://github.com/kubernetes/website/issues/23399

[2020-08-24 15:24] reylejano-rxm commented on #23239
/close

[2020-08-24 16:19] celestehorgan commented on #19817
@sftim Is that feasible for us to fix though? I was under the impression that old docs were snapshots and thus not updated.

[2020-08-24 17:16] sftim commented on #19817
@celestehorgan our default policy is not to backport changes or fixes; however, it's fine to make exceptions when there is a good reason to.

(I'm fine with the decision going either way on this one).

[2020-08-24 17:53] celestehorgan commented on #19817
@sftim I personally don't think we should backport changes on this one. It might be better to save that level for breaking changes only, lest we get into a scenario where we're back-porting All The Things.

[2020-08-24 18:37] sftim commented on #23397
That might be a bug. I think the line:
[code]

should change to
[code]

/kind bug
/language en
/priority backlog

[2020-08-24 18:45] sftim commented on #19817
The one counter I'd offer is that the deprecation warning is _never_ rendered on the live site.

[2020-08-24 18:46] sftim commented on #23399
/sig release

[2020-08-24 19:13] arul24ar commented on #23285
Thank you for your response @Tim Bannister
Yes even after enabling I am getting the same error. 
Please find the below steps I followed :

1)minikube start --extra-config=apiserver.runtime-config=settings.k8s.io/v1alpha1=true
2) kubectl apply -f podpreset.yml

[2020-08-24 22:19] gwohletz commented on #21051
Likewise, all I really want to do is enable **MostRequestedPriority** but I'm at a loss on what the _right_ way to do this is without using these "deprecated" arguments/methods

[2020-08-24 23:47] shuuji3 commented on #23382
/assign

[2020-08-24 23:47] shuuji3 commented on #23372
/assign

[2020-08-24 23:47] shuuji3 commented on #23367
/assign

[2020-08-24 23:47] shuuji3 commented on #23297
/assign

[2020-08-24 23:47] shuuji3 commented on #23296
/assign

[2020-08-25 00:05] oke-py opened #23407 "ja: Make docs/tasks/inject-data-application/_index.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tasks/inject-data-application/_index.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tasks/inject-data-application/_index.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/tasks/

[2020-08-25 00:07] oke-py opened #23408 "ja: Make docs/tasks/inject-data-application/define-environment-variable-container.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tasks/inject-data-application/define-environment-variable-container.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tasks/inject-data-application/define-environment-variable-container.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.co

[2020-08-25 03:18] mittalyashu commented on #20624
I can contribute on Hindi localisation.

[2020-08-25 05:11] rrajarap commented on #12657
Waiting for the same. Kindly make documentation clear.

[2020-08-25 06:57] tengqm commented on #23171
/assign

[2020-08-25 08:20] yu-kasuya commented on #23250
/assign

[2020-08-25 08:55] sftim opened #23417 "Add links (both directions) between main website and https://kubernetes.dev/"
**This is a Feature Request**

**What would you like to be added**
- Alter https://www.kubernetes.dev/docs/guide/non-code-contributions/ to link to pages within https://kubernetes.io/docs/contribute/
- On https://k8s.io/, signpost Kubernetes developers to https://www.kubernetes.dev/docs/guide/

**Why is this needed**
These links help all developers find relevant contribution guides.

**Comments**

[2020-08-25 09:12] mkbhanda opened #23419 "Issue with k8s.io/docs/tutorials/hello-minikube/"
**This is a Bug Report**

This documentation works just as well for a user who already has a Kubernetes cluster and wants to learn how to use it.
A few sentences to this effect such as export KUBECONFIG and how to launch a dashboard would do the trick (such as
Kubectl apply -d https://raw.githubusercontent.com/kubernetes/dashboard/v2.0.0/aio/deply/recommended.yaml).

**Proposed Solution:**

**Page

[2020-08-25 09:32] oke-py opened #23420 "ja: Make docs/tasks/run-application/_index.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tasks/run-application/_index.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tasks/run-application/_index.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/tasks/run-application/

[2020-08-25 09:33] oke-py opened #23421 "ja: Make docs/tasks/run-application/delete-stateful-set.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tasks/run-application/delete-stateful-set.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tasks/run-application/delete-stateful-set.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/d

[2020-08-25 09:33] mkbhanda opened #23422 "Update StatefulSet tutorial to explain how to create volumes etc"
**This is a Bug Report**

Would be nice to provide the user with a link on how to create storage class/volumes as opposed to the note "Assuming you have such volumes, else create 2 GB ..."

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/tutorials/stateful-application/basic-stateful-set/

[2020-08-25 09:34] oke-py opened #23423 "ja: Make docs/tasks/run-application/force-delete-stateful-set-pod.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tasks/run-application/force-delete-stateful-set-pod.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tasks/run-application/force-delete-stateful-set-pod.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.

[2020-08-25 09:36] oke-py opened #23424 "ja: Make docs/tasks/run-application/run-replicated-stateful-application.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tasks/run-application/run-replicated-stateful-application.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tasks/run-application/run-replicated-stateful-application.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website

[2020-08-25 09:38] oke-py opened #23425 "ja: Make docs/tasks/run-application/run-stateless-application-deployment.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tasks/run-application/run-stateless-application-deployment.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tasks/run-application/run-stateless-application-deployment.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/websi

[2020-08-25 10:30] sirkkalap opened #23427 "Issue with k8s.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/"
**This is a Bug Report**

**Problem:**

I feel there is a slight contradiction in the upgrade instructions on page https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/.

The https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/#additional-information chapters second bullet tells that:

however in the Overview the document says:

**Proposed Solution:**

[2020-08-25 10:32] sirkkalap commented on #23427
Sorry, I was mistaken. The PATCH version can be any y > x, however only MINOR version is restricted to m to n, where n = m + 1. My mistake on reading the details.

[2020-08-25 10:32] #23427 closed

[2020-08-25 11:39] kingaooto opened #23428 "Issue with k8s.io/docs/concepts/storage/volume-pvc-datasource/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-08-25 11:41] kingaooto opened #23429 "Location"
**This is a Feature Request**

**What would you like to be added**

**Why is this needed**

**Comments**

[2020-08-25 11:43] kingaooto commented on #23429
I want is the location friend every morning

[2020-08-25 12:05] tengqm commented on #22991
/assign

[2020-08-25 12:06] tengqm commented on #22840
/assign

[2020-08-25 12:07] tengqm commented on #22943
/remove-sig auth
/assign

[2020-08-25 12:13] sftim commented on #22943
Is this not SIG Auth?

[2020-08-25 12:21] shuzokato commented on #23425
/assign

[2020-08-25 12:45] shuzokato commented on #23424
/assign

[2020-08-25 15:30] arisgi commented on #23386
/assign

[2020-08-25 16:14] inductor commented on #19281
/reopen

[2020-08-25 16:29] sftim commented on #21129
/remove-lifecycle stale

[2020-08-25 16:29] sftim commented on #21129
/kind feature
/language en
/priority backlog

[2020-08-25 16:30] sftim commented on #23429
@kingaooto this seems to be off topic.

If re-opening, please clarify how the Kubernetes SIG Docs can help.
/close

[2020-08-25 16:30] #23429 closed

[2020-08-25 16:31] sftim commented on #23428
Hi @kingaooto

What's not right with https://k8s.io/docs/concepts/storage/volume-pvc-datasource/?
/triage needs-information

[2020-08-25 16:31] sftim commented on #23422
/retitle Update StatefulSet tutorial to explain how to create volumes etc

/kind feature
/language en

[2020-08-25 16:32] sftim commented on #23417
/sig contributor-experience

[2020-08-25 16:48] celestehorgan commented on #23417
@mrbobbytables and I had a chat about this yesterday – I think the idea is to deprecate & remove the current Community page and instead link off to kubernetes.dev?

Some thoughts:
1. Judging by the commit history on the community page, it's mostly LF folks who've made changes in the past year or so. @zacharysarah @idvoretskyi – are there any issues on our side if we remove/replace this page?
2. Pe

[2020-08-25 16:59] sftim commented on #23417
Community is more than contributors: there are also events for Kubernetes users, KubeCon / CloudNativeCon, online discussions, physical meetups†, etc.
I got the impression that https://www.kubernetes.dev/ is just for people doing development on Kubernetes.
Is that difference important?

† consult your physician before scheduling :wink:

[2020-08-25 17:03] sftim commented on #23417
BTW the Docsy layout wrangling part shouldn't be too difficult, if that's the approach taken.

[2020-08-25 18:44] reylejano-rxm opened #23433 "After 1.19 is released, create a redirect from /docs/reference/scheduling/profiles to /docs/reference/scheduling/config"
In the 1.19 release, KubeSchedulerConfiguration graduated to beta. The `/docs/reference/scheduling/config` page was created for the Scheduler Configuration which is a rework of `/docs/reference/scheduling/profiles`. Create a redirect from `/docs/reference/scheduling/profiles` to `/docs/reference/scheduling/config`

/cc @celestehorgan
/language en

[2020-08-25 19:17] Br0wnHammer commented on #23421
How do I pull request for this issue?

[2020-08-25 20:00] kbhawkey commented on #22962
Hello @celestehorgan , Some late feedback (sorry I missed the meeting):
- Since this is a "special" note, I think it warrants a different color on the left hand border.
Is there another shortcode besides note or warning that could be used to set off the text?
Could substitute the shortcode "Note" text with "Third party content"?
- The language in the third party content message is a bit obtuse.
-

[2020-08-25 21:11] zacharysarah commented on #22962
@kbhawkey

Is there another shortcode besides note or warning that could be used to set off the text?
Could substitute the shortcode "Note" text with "Third party content"?

All good feedback. 👍

How would you phrase it differently?

[2020-08-25 22:17] kbhawkey commented on #22962
Hi. I am not entirely sure. The text is okay, though, it may not be clear about what is "required for Kubernetes to function".
What do you want readers to do:
- determine if their project belongs in the section (read the content guide)
- read the content as third party content (Sig Docs is hosting the links but not responsible for the content on the page)?

[One idea:]
This section links to third

[2020-08-25 23:01] tkms0106 commented on #23247
Is it duplicated with #23246 ?

[2020-08-26 00:00] oke-py commented on #23421
1. post a comment `/assign` in this issue
2. create a branch based on `dev-1.18-ja.1`
3. edit the file mentioned in this issue
4. push & create a pull request

See https://kubernetes.io/ja/docs/contribute/localization/

[2020-08-26 00:21] oke-py opened #23436 "ja: Make docs/tasks/service-catalog/install-service-catalog-using-helm.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tasks/service-catalog/install-service-catalog-using-helm.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tasks/service-catalog/install-service-catalog-using-helm.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/b

[2020-08-26 00:22] oke-py opened #23437 "ja: Make docs/tasks/service-catalog/install-service-catalog-using-sc.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tasks/service-catalog/install-service-catalog-using-sc.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tasks/service-catalog/install-service-catalog-using-sc.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/

[2020-08-26 02:04] Cweiping commented on #23419
Hi,thank you for your submission.Don't understand your question, can you express it more clearly?
Do you expect to add local installation commands to run the dashboard?
[code]
reference：https://github.com/kubernetes/dashboard

[2020-08-26 02:14] Cweiping commented on #23396
Thank you for your submission, please provide the relevant environment version information, I am testing the local version 1.18 to work normally.
/triage needs-information
[code]

[2020-08-26 02:18] Cweiping commented on #23390
Haha, maybe you don't understand. This is to demonstrate how variables are used and the corresponding results.

[2020-08-26 02:23] Cweiping commented on #23391
Can you provide the environment version information? The container name of 1.18 does not have this restriction.
/triage needs-information

[2020-08-26 03:19] tengqm commented on #22943
@sftim By mentioning 'SIG Auth', we mean we want members from that SIG to help review the localization. For one thing, I'm not convinced that will happen. For the other, such mentions are distracting that SIG's attention on PRs which needs their feedback.

[2020-08-26 03:42] yu-kasuya commented on #23298
/assign

[2020-08-26 05:23] Br0wnHammer commented on #23421
/assign

[2020-08-26 06:13] Cweiping commented on #23397
@hydave25 Do you execute scripts according to the page requirements? This page requires users to `https://k8s.io/examples/application/job/job-tmpl.yaml` Generate the available manifest.

`
The file you downloaded is not yet a valid Kubernetes manifest. Instead that template is a YAML representation of a Job object with some placeholders that need to be filled in before it can be used. The $ITEM sy

[2020-08-26 06:52] tengqm commented on #23397
The existing command (script) is correct. I'd suspect that the user didn't faithfully run the following command:

[code]

[2020-08-26 08:23] hwacookie commented on #23391
You are right, I just retried with the "edge" version of docker-desktop and it's "integrated" kubernetes cluster, here the problem does not occur (See version info below)

The problem occurred when using the "stable" (as of 24.08.2020) version of docker desktop (and whatever kubernetes it is running). Unfortunatly, I cannot reproduce this as that version quit running on my machine and had to be re

[2020-08-26 09:39] cyberblack28 opened #23442 "Translate docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/ into Japanese."
This is a Feature Request

What would you like to be added

Translate docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/ into Japanese.

Why is this needed

This page has not been translated.

Comments

/language ja
/assign

[2020-08-26 10:22] Cweiping commented on #23391
Would you please shut it down? I don't have enough authority.Thx!

[2020-08-26 10:57] shuzokato commented on #23437
/assign

[2020-08-26 11:48] #22645 closed

[2020-08-26 11:48] spiritman1990 commented on #22645
no answer

[2020-08-26 13:34] autopwn opened #23445 "Issue with k8s.io/de/docs/reference/kubectl/cheatsheet/"
**This is a Bug Report**

**Problem:**
There is an issue in the German translation of https://kubernetes.io/docs/reference/kubectl/cheatsheet/#kubectl-context-and-configuration.
`kubectl config view -o jsonpath='{.users[].name}'    # eine Liste der Benutzer erhalten`
The comment indicates that a list of users is returned, but the command returns only the first user.
In the english version both var

[2020-08-26 13:38] tengqm commented on #23391
/close

[2020-08-26 13:39] #23391 closed

[2020-08-26 13:52] tscswcn opened #23446 "could convert flannel to calico"
mkdir -p /etc/cni/net.d/

cat <<EOF> /etc/cni/net.d/10-flannel.conf
{
“name”: “cbr0”,
“type”: “flannel”,
“delegate”: {
“isDefaultGateway”: true
}
}

EOF

mkdir /usr/share/oci-umount/oci-umount.d -p

mkdir /run/flannel/

cat <<EOF> /run/flannel/subnet.env
FLANNEL_NETWORK=10.244.0.0/16
FLANNEL_SUBNET=10.244.1.0/24
FLANNEL_MTU=1450
FLANNEL_IPMASQ=true

EOF

kubectl apply -f https://raw.githubusercont

[2020-08-26 15:14] kakts opened #23447 "ja: Make docs/contribute/localization.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/contribute/localization.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/contribute/localization.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/contribute/localization.md

Orig

[2020-08-26 15:15] kakts opened #23448 "ja: Make docs/contribute/_index.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/contribute/_index.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/contribute/_index.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/contribute/_index.md

Original
https://githu

[2020-08-26 15:16] kakts opened #23449 "ja: Make docs/concepts/workloads/pods/podpreset.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/workloads/pods/podpreset.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/workloads/pods/podpreset.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/concepts/wor

[2020-08-26 15:19] kakts opened #23450 "ja: Make docs/concepts/workloads/pods/pod-lifecycle.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/workloads/pods/pod-lifecycle.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/workloads/pods/pod-lifecycle.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/conc

[2020-08-26 15:20] kakts opened #23451 "ja: Make docs/concepts/workloads/pods/init-containers.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/workloads/pods/init-containers.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/workloads/pods/init-containers.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/

[2020-08-26 15:23] kakts opened #23452 "ja: Make docs/concepts/workloads/controllers/ttlafterfinished.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/workloads/controllers/ttlafterfinished.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/workloads/controllers/ttlafterfinished.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/

[2020-08-26 15:24] kakts opened #23453 "ja: Make docs/concepts/workloads/controllers/statefulset.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/workloads/controllers/statefulset.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/workloads/controllers/statefulset.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja

[2020-08-26 15:24] kakts opened #23454 "ja: Make docs/concepts/workloads/controllers/replicaset.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/workloads/controllers/replicaset.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/workloads/controllers/replicaset.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/d

[2020-08-26 15:26] kakts opened #23455 "ja: Make docs/concepts/workloads/controllers/garbage-collection.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/workloads/controllers/garbage-collection.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/workloads/controllers/garbage-collection.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-j

[2020-08-26 15:27] kakts opened #23456 "ja: Make docs/concepts/workloads/controllers/deployment.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/workloads/controllers/deployment.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/workloads/controllers/deployment.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/d

[2020-08-26 15:27] kakts opened #23457 "ja: Make docs/concepts/workloads/controllers/daemonset.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/workloads/controllers/daemonset.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/workloads/controllers/daemonset.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/doc

[2020-08-26 15:28] kakts opened #23458 "ja: Make docs/concepts/workloads/controllers/cron-jobs.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/workloads/controllers/cron-jobs.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/workloads/controllers/cron-jobs.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/doc

[2020-08-26 20:12] reylejano-rxm commented on #23433
Looks like this redirect is in place.
An attempt to go to `https://kubernetes.io/docs/reference/scheduling/profiles` redirects to `https://kubernetes.io/docs/reference/scheduling/config/#profiles`

@celestehorgan is this sufficient to close this issue?

[2020-08-26 20:31] celestehorgan commented on #23433
Yup!

/close

[2020-08-26 20:32] #23433 closed

[2020-08-26 20:47] celestehorgan commented on #22962
Is there another shortcode besides note or warning that could be used to set off the text?
Could substitute the shortcode "Note" text with "Third party content"?

I think this is a good suggestion. I'll update the PR.

What do you want readers to do:

Is this blocking for the PR? If we can't come up with a concrete alternative, I'd prefer to merge the PR, re-open this issue, and continue to work o

[2020-08-26 20:48] savitharaghunathan commented on #23399
K8s v1.19 is out 🥳
/close

[2020-08-26 20:48] #23399 closed

[2020-08-26 20:58] kbhawkey commented on #22962
Sure @celestehorgan .
I think what you have is fine. As an aside, did you consider using the theme's `alert` shortcode (which
has a `title` parameter)? It may work as well as wrapping the "third party content" shortcode in a note/warning
shortcode. I think you can set the `color` attribute too.
`\website\themes\docsy\layouts\shortcodes\alert.html`

[2020-08-26 21:49] #22497 closed

[2020-08-26 21:53] savitharaghunathan commented on #20624
Hi All, k/website repo is officiallt thawed :) Thank you for your patience and understanding

[2020-08-26 21:53] #20624 closed

[2020-08-26 21:57] #20252 closed

[2020-08-27 01:09] oke-py commented on #23424
/close

[2020-08-27 01:09] #23424 closed

[2020-08-27 05:26] oke-py commented on #23298
/close

[2020-08-27 05:27] #23298 closed

[2020-08-27 05:35] oke-py opened #23470 "ja: Make docs/tasks/tools/install-kubectl.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tasks/tools/install-kubectl.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tasks/tools/install-kubectl.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/tasks/tools/install-kube

[2020-08-27 05:37] oke-py opened #23471 "ja: Make docs/tasks/tools/install-minikube.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tasks/tools/install-minikube.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tasks/tools/install-minikube.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/tasks/tools/install-mi

[2020-08-27 05:46] shuzokato commented on #23436
/assign

[2020-08-27 06:07] #22837 closed

[2020-08-27 07:05] tengqm commented on #22965
/assign

[2020-08-27 07:35] Yiyiyimu opened #23474 "zh: Issue with k8s.io/zh/docs/tasks/tools/install-minikube/, Could update Aliyun image"
**This is a Bug Report**

**Problem:**
minikube could not start in China due to GFW

**Proposed Solution:**
Improved from #21936, Aliyun fully supports the images needed to install minikube, as shown [here](https://github.com/AliyunContainerService/minikube/wiki).

Maybe we could provide link to that page, or update the information in https://kubernetes.io/zh/docs/tasks/tools/install-minikube/#%E5

[2020-08-27 07:57] Dong-wook94 opened #23476 "Inconsistency node name in content/ko/docs/tutorials/services/source-ip.md"
**This is a Bug Report**

**Problem:**
Mismatch between descriptive node names
![image](https://user-images.githubusercontent.com/36303777/91413537-3d4dec00-e886-11ea-96bc-630e6c4dac57.png)

**Proposed Solution:**
Change node name from 'noee2' to 'node2'

**Page to Update:**
https://kubernetes.io/ko/docs/tutorials/services/source-ip/

[2020-08-27 07:58] Dong-wook94 commented on #23476
/language ko
/assign

[2020-08-27 08:49] shuzokato commented on #23455
/assign

[2020-08-27 09:18] shuzokato commented on #23454
/assign

[2020-08-27 09:23] oke-py commented on #23455
/close

[2020-08-27 09:24] #23455 closed

[2020-08-27 10:12] hase1128 commented on #23407
/assign

[2020-08-27 10:22] Abirdcfly opened #23481 "It consists of 33 enhancements should be 43？"
**This is a Bug Report**

**Problem:**
It consists of 33 enhancements: 12 enhancements are moving to stable, 18 enhancements in beta, and 13 enhancements in alpha.
33 != 12+18+13 maybe 43?
**Proposed Solution:**
change to 43
**Page to Update:**
https://kubernetes.io/blog/2020/08/26/kubernetes-release-1.19-accentuate-the-paw-sitive

[2020-08-27 10:27] hase1128 commented on #23408
/assign

[2020-08-27 10:45] Dipenduroy opened #23483 "Issue with k8s.io/docs/tutorials/stateless-application/guestbook-logs-metrics-with-elk/"
**This is a Bug Report**

**Problem:**
Unable to deploy file beat
[code]
**Error :**
[code]

**Proposed Solution:** Had to follow [link](https://stackoverflow.com/questions/58252254/unable-to-recognize-filebeat-kubernetes-yaml-no-matches-for-kind-daemonset/58266192)

**Page to Update:**
https://kubernetes.io/...

**Kubernetes Version:**
Client Version: v1.18.8
Server Version: v1.18.3

[2020-08-27 11:47] hase1128 commented on #23420
/assign

[2020-08-27 11:56] Arhell opened #23486 "remove "extra indent" es lang page"
**This is a Bug Report**

**Problem:**
![1](https://user-images.githubusercontent.com/26163841/91439348-792c8580-e875-11ea-81c8-49e093f1e545.jpg)

**Proposed Solution:**
remove 1-e br like en version

**Page to Update:**
https://kubernetes.io/es/#video

/language es
/assign
/area web-development

[2020-08-27 12:54] hase1128 commented on #23449
/assign

[2020-08-27 12:59] takaf04 commented on #23244
/assign

[2020-08-27 13:19] oguzssahin opened #23488 "kubernetes drain mode not working"
When I put Kubernetes in unload mode, the capsules on the employee are not transferred to the other employee. What could be the reason for this?

[2020-08-27 15:01] danc opened #23494 "Issue with k8s.io/docs/tutorials/services/source-ip/"
**This is a Bug Report**

**Problem:**
Cleaning Up section issue :
kubectl delete svc -l run=source-ip-app
No resources found
**Proposed Solution:**
kubectl delete svc -l app=source-ip-app
service "clusterip" deleted
service "loadbalancer" deleted
service "nodeport" deleted
**Page to Update:**
https://kubernetes.io/docs/tutorials/services/source-ip/

Kubernetes Version:
microk8s --classic --channe

[2020-08-27 16:02] inductor commented on #23436
/close

[2020-08-27 16:03] #23436 closed

[2020-08-27 16:32] hafsaasaleem opened #23496 "Issue with k8s.io/docs/home/"
how to uninstall minikube and kubectl on ubuntu?

[2020-08-27 16:49] sftim commented on #18381
@tengqm how well does https://kubernetes.io/docs/concepts/containers/ match what you wanted, now it's been revised a bit?

(can you list what is still missing?)

[2020-08-27 21:12] sftim commented on #14964
I'm planning to remove the cloud-provider stuff as it's both outdated and not really in line with the [content guide](https://kubernetes.io/docs/contribute/style/content-guide/).

/remove-lifecycle stale

[2020-08-27 22:27] sftim commented on #23496
@hafsaasaleem, GitHub is not the right place for support requests.

For help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

/triage support

[2020-08-27 22:28] sftim commented on #23494
Hi @danc

I'm not sure I understand how to implement the pages you're proposing for the page at
https://kubernetes.io/docs/tutorials/services/source-ip/

Can you clarify what someone should do to improve that page?

/triage needs-information
/language en

[2020-08-27 22:34] sftim commented on #22962
@celestehorgan I'm imagining a one-line shortcode that, when rendered, closely matches the styles of existing callouts. I'd rather _not_ use callouts from the Docsy theme because that's different from our existing callouts (something to handle in a separate issue, I feel).

Wording-wise I'm happy to see _something_ merged and leave room to iterate.

Would you be happy to implement that?

[2020-08-27 22:45] sftim commented on #19238
/remove-lifecycle rotten

[2020-08-27 22:45] sftim commented on #20232
Moved to v1.20 milestone as there is work remaining.

[2020-08-27 22:50] sftim opened #23501 "Remove “on-premises VMs” section"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/setup/production-environment/on-premises-vm/ is not in line with the current content guide

**Proposed Solution:**
Remove that section per https://github.com/kubernetes/website/issues/20232

**Page to Update:**
https://kubernetes.io/docs/setup/production-environment/on-premises-vm/

**Additional Information:**
Relevant KEP: https://

[2020-08-27 23:02] sftim opened #23502 "/docs/home/ links to current release docs even for older versions"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/home/ links to pages on https://kubernetes.io/

However:
- https://v1-18.docs.kubernetes.io/docs/home/ links to pages on https://kubernetes.io/ (and not https://v1-18.docs.kubernetes.io/)
- https://v1-17.docs.kubernetes.io/docs/home/ links to pages on https://kubernetes.io/
- https://v1-16.docs.kubernetes.io/docs/home/ links to page

[2020-08-27 23:58] kbhawkey opened #23504 "link not displaying with link color in tab component"
**This is a Bug Report**
Links within the tab component are not displaying using the site link color.

**Problem:**
The color of links within tab components is defaulting to `#222`.
The link is inheriting the color value from jquery-ui-min.css.

**Proposed Solution:**
Update the style for ui-widget-content -> a

**Page to Update:**
Start by looking at `website/assets/scss/_base.scss`.

Examples:

[2020-08-27 23:58] kbhawkey commented on #23504
Related to PR #23435.

[2020-08-28 00:48] tengqm commented on #18381
@sftim see the original issue report. Those are some of the gaps I found when studying the container validation code.

[2020-08-28 02:49] ttonline6 opened #23506 "404URL"
the url https://kubevirt.io/user-guide/docs/latest/administration/intro.html
in  page https://github.com/kubevirt/containerized-data-importer/blob/master/doc/datavolumes.md return 404 code

[2020-08-28 02:50] gaoguangze111 opened #23507 "Chinese translation error in page 应用故障排查"
**This is a Bug Report**

**Problem:**
The following sentence is weird.

**Proposed Solution:**
![image](https://user-images.githubusercontent.com/16621880/91515660-38d41280-e91c-11ea-9bed-77fa52eb65e6.png)

**Page to Update:**
https://kubernetes.io/zh/docs/tasks/debug-application-cluster/debug-application/

[2020-08-28 02:51] gaoguangze111 commented on #23507
/language es

[2020-08-28 02:51] gaoguangze111 commented on #23507
/accept

[2020-08-28 03:17] yu-kasuya commented on #23299
/assign

[2020-08-28 03:38] Abirdcfly commented on #23481
It consists of 34 enhancements: 10 enhancements are moving to stable, 15 enhancements in beta, and 9 enhancements in alpha.

[2020-08-28 03:38] #23481 closed

[2020-08-28 05:28] thebinary opened #23512 "Issue with v1-18.docs.kubernetes.io/docs/home/supported-doc-versions/"
**This is a Bug Report**

**Problem:**
v1.18 documentation lists v1.19 under Previous versions

<img width="321" alt="Screen Shot 2020-08-28 at 11 09 22 AM" src="https://user-images.githubusercontent.com/14862656/91524457-00820380-e91f-11ea-8d62-b782019fe12d.png">

**Proposed Solution:**
Either remove v1.19 from v1.18 docs, or, add __Newer Versions__ sections and include v1.19 under that section.

[2020-08-28 06:24] #23476 closed

[2020-08-28 07:25] danc commented on #23494
Hi,
in fact when I ran the tutorial, I noticed that, with the current command proposed (`kubectl delete svc -l run=source-ip-app`)
the resources were not cleaned.
I tried instead the following : `kubectl delete svc -l app=source-ip-app` which cleaned the resources indeed.
But I'm not expert in k8s to be sure it is only an error in the tag usage (`app` instead of `run`)

[2020-08-28 09:39] kushthedude commented on #20161
/assign

[2020-08-28 09:44] kushthedude commented on #23502
@sftim I would like to solve this
/assign

[2020-08-28 09:57] oke-py commented on #23247
Yes. Thank you.
/close

[2020-08-28 09:57] #23247 closed

[2020-08-28 10:08] sorenbronsted commented on #23276
It is this page https://kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard/#accessing-the-dashboard-ui which shows a wrong url. I just used the 'Create issue' on this page.

[2020-08-28 11:09] tengqm commented on #23507
/remove-language es
/language zh
/assign @gaoguangze111

[2020-08-28 11:13] tengqm commented on #23494
the proposed solution sounds reasonable to me.

[2020-08-28 11:16] sftim commented on #18381
I'm thinking about a what's next: “To learn how to specify containers in Pod definitions, see _Specifying containers_”
(and also someone writes that page).

(Specifying rather than configuring so it doesn't get confused with ConfigMap, Secret, etc)

[2020-08-28 11:22] tengqm commented on #23507
closed by #23508
/close

[2020-08-28 11:23] #23507 closed

[2020-08-28 11:28] tengqm commented on #22955
/assign

[2020-08-28 11:28] sftim commented on #20679
/remove-lifecycle rotten

[2020-08-28 11:30] sftim commented on #23276
I still think the existing documentation is correct @sorenbronsted. Do you think the difference might be down to differences between the Kubernetes cluster you're using and the set up mentioned on that web page?

/remove-triage needs-information

[2020-08-28 11:55] sftim commented on #23512
/kind bug
/language en

Thanks @thebinary - good spot!

[2020-08-28 12:03] shuzokato commented on #23309
/assign

[2020-08-28 12:04] kakts commented on #23314
/close

[2020-08-28 12:04] #23314 closed

[2020-08-28 12:06] kakts commented on #23349
/close

[2020-08-28 12:06] #23349 closed

[2020-08-28 12:06] sftim opened #23518 "Revise approach for documenting multiple Kubernetes versions"
**This is a Feature Request**

**What would you like to be added**
Kubernetes offers online documentation for the current release and the four previous minor releases.
In this issue I'm proposing that, aside from pages inside `/docs/` (and its localized equivalents), we should always serve current content.

Possible approaches:
- update redirects for the non-live website to send people visiting `/

[2020-08-28 12:06] kakts commented on #23448
/close

[2020-08-28 12:06] #23448 closed

[2020-08-28 12:07] kakts commented on #23447
/close

[2020-08-28 12:07] #23447 closed

[2020-08-28 12:16] shuzokato commented on #23309
@kakts I think this issue is already merged.

[2020-08-28 12:19] shuzokato commented on #23452
/assign

[2020-08-28 12:22] kakts commented on #23309
@shuzokato Thank you for reporting. Let me check it.

[2020-08-28 12:35] shuzokato commented on #23378
/assign

[2020-08-28 12:54] waelmas commented on #23396
I've just upgraded to 1.17 (The latest available on AWS EKS). Now the deployment is fine, however I have multiple services, deployments and pods but none of them are showing.

[2020-08-28 12:55] waelmas commented on #23396
I noticed this in the notifications tho. Not sure if the issue is one and the same

clusterroles.rbac.authorization.k8s.io is forbidden: User "system:serviceaccount:kube-system:ttl-controller" cannot list resource "clusterroles" in API group "rbac.authorization.k8s.io" at the cluster scope

[2020-08-28 12:58] sftim commented on #23512
/priority backlog

[2020-08-28 13:00] waelmas commented on #23396
My bad I just figured it out.

[2020-08-28 13:00] #23396 closed

[2020-08-28 13:07] sftim commented on #23506
Hi @ttonline6

This repository is the right place to report defects in https://kubernetes.io/

Is there a page on https://kubernetes.io/ that isn't right?

/triage needs-information

[2020-08-28 13:08] sftim commented on #23504
/kind bug
/priority backlog
/area web-development

Feel free to reprioritize @kbhawkey

[2020-08-28 13:09] sftim commented on #23501
/kind cleanup
/language en

[2020-08-28 13:10] sftim commented on #23483
Sounds like it needs tidying up (or possibly removing).

/kind cleanup
/language en

[2020-08-28 13:18] sftim commented on #23446
@tscswcn I don't think I understand the issue you're reporting.

Can you clarify that?

/triage needs-information

[2020-08-28 13:18] sftim commented on #23445
/language de

[2020-08-28 13:19] sftim commented on #23419
/triage needs-information

[2020-08-28 13:19] sftim commented on #23419
@mkbhanda would you have time to clarify the feature request you're making or the defect you're reporting?

[2020-08-28 13:24] #23488 closed

[2020-08-28 13:38] sftim commented on #14725
Relevant to PR https://github.com/kubernetes/website/pull/23522

[2020-08-28 13:41] sorenbronsted commented on #23276
Yes I think so. I am using microk8s. I was not aware of, that the implementations may vary.

[2020-08-28 13:50] sftim commented on #23276
There's room to clarify on the page that your dashboard deployment might not match the one this task recommends.

/language en
/priority backlog
/retitle Highlight that some clusters run Web UI in a namespace other than kubernetes-dashboard

[2020-08-28 13:50] sftim commented on #23276
I recommend adding a [note callout](https://kubernetes.io/docs/contribute/style/style-guide/#note) with the explanatory text in.
/help

[2020-08-28 14:42] inductor commented on #23454
/close

[2020-08-28 14:42] #23454 closed

[2020-08-28 14:42] inductor commented on #23408
/close

[2020-08-28 14:42] #23408 closed

[2020-08-28 14:48] inductor commented on #23376
/close

[2020-08-28 14:48] inductor commented on #23425
/close

[2020-08-28 14:48] #23376 closed

[2020-08-28 14:48] #23425 closed

[2020-08-28 14:48] inductor commented on #23437
/close

[2020-08-28 14:48] #23437 closed

[2020-08-28 14:49] inductor commented on #23420
/close

[2020-08-28 14:49] #23420 closed

[2020-08-28 14:55] kbhawkey commented on #22962
Hi. I agree, let's get this change moving forward with a single line shortcode with similar styling to the existing callouts.
The shortcode would use two template strings: one variable for the message title and another variable for the message body.
In the future, I could imagine a flexible interface or more generic shortcode that
accepts at least one argument: the name of the variable representin

[2020-08-28 15:02] inductor commented on #23407
/close

[2020-08-28 15:02] #23407 closed

[2020-08-28 15:19] cyberblack28 opened #23525 "Translate docs/tasks/administer-cluster/kubeadm/upgrading-windows-nodes/ into Japanese."
This is a Feature Request

What would you like to be added

Translate docs/tasks/administer-cluster/kubeadm/upgrading-windows-nodes/ into Japanese.

Why is this needed

This page has not been translated.

Comments

/language ja
/assign

[2020-08-28 16:44] cmastr opened #23527 "Recommend change to use code styling for API objects"
**This is a Bug Report**

**Problem:**

The style guide needs clearer guidance for casing and styling API Objects.

This standard aligns with GitHub's and Google's API conventions.

**Proposed Solution:**

- Case API Objects in single spaced upper camel case (UpperCamelCase)
- Style API Objects with a monospace font

For example: `HorizontalPodAutoscaler`

**Page to Update:**

https://kubernetes.i

[2020-08-28 17:05] JubayerJoy commented on #22534
/assign

[2020-08-29 02:02] pururaj1908 commented on #23471
Hello @oke-py can I take this issue as my first contribution?

[2020-08-29 02:09] npu21 commented on #23445
/assign

[2020-08-29 04:44] kakts commented on #23309
@shuzokato As you mentioned, this issue is already merged.
So I close this issue.
Thank you for reporting.

[2020-08-29 04:44] #23309 closed

[2020-08-29 05:20] seokho-son opened #23532 "Outdated files in the dev-1.18-ko.11 branch"
# This is a Bug Report
## Problem
Outdated files in the dev-1.18-ko.11 branch.

### 70 files to be modified
1. [ ] content/en/_index.html 1 file changed, 1 insertion(+), 1 deletion(-)
1. [ ] content/en/docs/_index.md 1 file changed, 1 insertion(+)
1. [ ] content/en/docs/concepts/architecture/controller.md 1 file changed, 4 insertions(+), 5 deletions(-)
1. [ ] content/en/docs/concepts/architecture/

[2020-08-29 05:20] seokho-son opened #23533 "Outdated files in the dev-1.19-ko.1 branch"
# This is a Bug Report
## Problem
Outdated files in the dev-1.19-ko.1 branch.

### 109 files to be modified
1. [ ] content/en/_index.html 1 file changed, 1 insertion(+), 6 deletions(-)
1. [ ] content/en/docs/_index.md 1 file changed, 1 insertion(+)
1. [ ] content/en/docs/concepts/architecture/cloud-controller.md 1 file changed, 1 insertion(+), 1 deletion(-)
1. [ ] content/en/docs/concepts/architec

[2020-08-29 05:31] inductor commented on #23378
/close

[2020-08-29 05:31] #23378 closed

[2020-08-29 06:51] tengqm commented on #22954
/assign

[2020-08-29 08:00] habibrosyad commented on #23504
/assign

[2020-08-29 09:27] oke-py commented on #23252
/close

[2020-08-29 09:27] #23252 closed

[2020-08-29 11:10] DiCanio commented on #19401
/remove-lifecycle stale

Still have this on my list. Will need to postpone this another 2-3 weeks until my vacations to find some time working on it.

[2020-08-29 12:42] pjhwa opened #23541 "Translate tasks/job/automated-tasks-with-cron-jobs.md into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/job/automated-tasks-with-cron-jobs.md into Korean.

**Why is this needed**

There is no document of tasks/job/automated-tasks-with-cron-jobs.md which is translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/tasks/job/automated-tasks-with-cron-jobs/

/language ko

[2020-08-29 12:42] pjhwa commented on #23541
/assign

[2020-08-29 12:44] pjhwa opened #23542 "Translate tasks/job/parallel-processing-expansion.md into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/job/parallel-processing-expansion.md into Korean.

**Why is this needed**

There is no document of tasks/job/parallel-processing-expansion.md which is translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/tasks/job/parallel-processing-expansion/

/language ko

[2020-08-29 12:55] pjhwa commented on #23532
/assign

[2020-08-29 13:49] shuzokato commented on #23421
/assign

[2020-08-29 14:37] tniita commented on #23451
/assign

[2020-08-29 15:39] shuzokato commented on #23383
/assign

[2020-08-29 16:00] kkkarthik opened #23549 "Issue with k8s.io/docs/tutorials/kubernetes-basics/expose/expose-interactive/"
**This is a Bug Report**
I have tried this interactive tutorial as to how we should expose an application as a service.
I tried deploying a nginx application and eventually open a Nginx GUI.

**Problem:**
[localhost nginx]$ kubectl describe services/mynginx
Name:                     mynginx
Namespace:                default
Labels:                   <none>
Annotations:              <none>
Selector

[2020-08-30 01:35] translucens commented on #23245
The current Japanese version #22662 is translated from https://github.com/kubernetes/website/blob/0ccefcd/content/en/docs/concepts/configuration/secret.md, and there is no difference between v.1.18 original text (https://github.com/kubernetes/website/blob/fb6364d/content/en/docs/concepts/configuration/secret.md).
So we can close this issue without any updating document.

[2020-08-30 02:01] kakts commented on #23245
@translucens Thank you for reporting. As you mentioned,  this had been already translated. So I close this issue.

[2020-08-30 02:01] #23245 closed

[2020-08-30 02:30] MikeSpreitzer opened #23554 "k8s.io/docs/reference/command-line-tools-reference/kube-apiserver/ should document the Prometheus metrics"
**This is a Bug Report**

**Problem:**
I went looking for documentation of the Prometheus metrics provided by kube-apiserver, and could not find any.

**Proposed Solution:**
Recognize that the reference documentation for a program needs to include more than the command line flags.  The reference documentation should include a definition of each Prometheus metric provided.  And more.

**Page to Upd

[2020-08-30 03:04] Cweiping commented on #23483
The latest version of kubernetes supported by [this project](https://github.com/kubernetes/kube-state-metrics) is v1.16, and the adaptation of v1.18 is far away. I agree with @sftim . I suggest that we remove some operation steps of the page and provide only functional support introduction and jump links to solve the problem of page update.
Reference: https://github.com/kubernetes/kube-state-metri

[2020-08-30 03:12] tengqm commented on #23086
/assign

[2020-08-30 03:35] Cweiping commented on #23554
As you said, it should be found on [this page](https://kubernetes.io/docs/concepts/cluster-administration/system-metrics/), but there is no metric list for other components. I guess there is no list because the metrics index is not easy to maintain.Do we need to maintain this list?

/kind feature
/priority backlog

[2020-08-30 03:45] inductor commented on #23385
/close

[2020-08-30 03:46] #23385 closed

[2020-08-30 05:38] #20161 closed

[2020-08-30 07:51] tkms0106 commented on #23301
/assign

[2020-08-30 09:11] tengqm opened #23556 "[zh] Localize /docs/reference/using-api/api-concepts.md"
/language zh

[2020-08-30 09:14] tengqm commented on #23085
/assign

[2020-08-30 10:06] translucens commented on #23470
/assign

[2020-08-30 10:36] #22840 closed

[2020-08-30 11:28] tengqm commented on #17981
/reopen

[2020-08-30 11:28] tengqm commented on #17981
/remove-lifecycle rotten

[2020-08-30 14:04] sftim commented on #22534
BTW, this change also means adding a [redirect](https://docs.netlify.com/routing/redirects/) from https://kubernetes.io/docs/concepts/configuration/resource-bin-packing/ to the new URL.

[2020-08-30 19:02] H-Kz opened #23561 "Describe non-AMD64 / multiarch support"
On your install guiode , your CPU version like "AMD64" is not expressly shown anywhere.
Now I'm trying to use K8s in Raspberry Pi (Arm32bit), those information is very meeningful 4 me.
I'm glad if you are adding these.

thanks.

[2020-08-30 19:58] #18964 closed

[2020-08-30 23:32] santachopa commented on #20050
/close

[2020-08-30 23:33] #20050 closed

[2020-08-31 00:32] oke-py commented on #23471
Of cource.

[2020-08-31 00:41] pururaj1908 commented on #23471
Alright thanks. I will ping you on Slack if I have some doubt as this would be my first contribution. You can assign this issue to me now.

[2020-08-31 00:42] oke-py commented on #23471
You can assign this to yourself by adding a comment `/assign`.

[2020-08-31 00:46] pururaj1908 commented on #23471
/assign

[2020-08-31 01:22] hase1128 commented on #23450
/assign

[2020-08-31 01:26] oke-py commented on #23450
@hase1128 https://github.com/kubernetes/website/pull/23284#issuecomment-683496387 を受けてレビュアー内で以下の話をしはじめたところでした。
まだassignつかないと思って今日後ほど考えるつもりでした。いかがでしょう？

[2020-08-31 01:31] hase1128 commented on #23450
そうでしたか。
ついでにやろうと思ってましたが、いったんレビュアー内での方針が固まるまで待ちますね。
ひとまずassignは解除しておきます。

[2020-08-31 01:50] #23085 closed

[2020-08-31 02:03] Cweiping commented on #23561
It's very interesting. Has k8s been cut? Have you considered resource constraints? As far as I know, k8s can't be transplanted completely. It needs to be trimmed and [k3s](https://github.com/rancher/k3s) or [KubeEdge](https://github.com/kubeedge/kubeedge) schemes should be used.I hope it can help you.
/triage support
/language ja

[2020-08-31 03:23] yu-kasuya commented on #23300
/assign

[2020-08-31 03:24] H-Kz commented on #23561
Hy,
Thanks for your reply.
The [offisial's guide](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/) says Ubuntu16+ oor something is required, but doesn't says "x86" is required.
Also, some third-party documents like [this](https://qiita.com/reireias/items/0d87de18f43f27a8ed9b) (written in Japanese) shows us how to install "Kubernetes" to RasPi.
Then, I tried t

[2020-08-31 03:38] inductor commented on #23387
/close

[2020-08-31 03:38] #23387 closed

[2020-08-31 03:45] oke-py commented on #23250
/close

[2020-08-31 03:45] #23250 closed

[2020-08-31 04:14] hase1128 commented on #23457
/assign

[2020-08-31 07:46] Arhell opened #23583 "readme-ru broken link"
**This is a Bug Report**

**Problem:**
readme-ru broken link

**Proposed Solution:**
change link "Использование шаблонов страниц"

**Page to Update:**
https://github.com/kubernetes/website/blob/master/README-ru.md

/language ru
/assign

[2020-08-31 08:37] shuzokato commented on #23377
/assign

[2020-08-31 09:12] fancc opened #23588 "Translate `Storage Capacity` into Chinese"
Translate `Storage Capacity` into Chinese

[2020-08-31 09:12] fancc commented on #23588
/language zh
/assign

[2020-08-31 12:54] kakts commented on #23450
@hase1128 こちら pod.md pod-lifecycle.mdの変更内容確認中となります。
少々お待ちくださいませ。

[2020-08-31 12:56] hase1128 commented on #23450
確認ありがとうございます。よろしくお願いします。

[2020-08-31 13:15] hase1128 commented on #23371
/assign

[2020-08-31 14:46] kakts opened #23594 "ja: Make docs/concepts/storage/volume-pvc-datasource.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/storage/volume-pvc-datasource.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/storage/volume-pvc-datasource.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/co

[2020-08-31 14:47] kakts opened #23595 "ja: Make docs/concepts/storage/persistent-volumes.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/storage/persistent-volumes.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/storage/persistent-volumes.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/concepts

[2020-08-31 14:48] kakts opened #23596 "ja: Make docs/concepts/services-networking/service.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/services-networking/service.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/services-networking/service.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/concep

[2020-08-31 14:49] kakts opened #23597 "ja: Make docs/concepts/services-networking/ingress.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/services-networking/ingress.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/services-networking/ingress.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/concep

[2020-08-31 14:50] kakts opened #23598 "ja: Make docs/concepts/services-networking/ingress-controllers.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/services-networking/ingress-controllers.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/services-networking/ingress-controllers.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.

[2020-08-31 14:50] kakts opened #23599 "ja: Make docs/concepts/services-networking/dual-stack.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/services-networking/dual-stack.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/services-networking/dual-stack.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.2/content/ja/docs/

[2020-08-31 14:51] kakts opened #23600 "ja: Make docs/concepts/services-networking/dns-pod-service.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/services-networking/dns-pod-service.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/services-networking/dns-pod-service.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/conten

[2020-08-31 14:51] kakts opened #23601 "ja: Make docs/concepts/services-networking/connect-applications-service.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/services-networking/connect-applications-service.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/services-networking/connect-applications-service.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website

[2020-08-31 14:52] kakts opened #23602 "ja: Make docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
h

[2020-08-31 14:52] kakts opened #23603 "ja: Make docs/concepts/services-networking/_index.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/services-networking/_index.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/services-networking/_index.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/concepts

[2020-08-31 15:00] kakts opened #23604 "ja: Make docs/concepts/policy/resource-quotas.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/policy/resource-quotas.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/policy/resource-quotas.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/concepts/policy/

[2020-08-31 15:08] shuzokato commented on #23604
/assign

[2020-08-31 15:23] kakts opened #23607 "ja: Make docs/concepts/overview/working-with-objects/namespaces.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/overview/working-with-objects/namespaces.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/overview/working-with-objects/namespaces.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-j

[2020-08-31 15:24] kakts opened #23608 "ja: Make docs/concepts/overview/working-with-objects/labels.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/overview/working-with-objects/labels.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/overview/working-with-objects/labels.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/cont

[2020-08-31 15:25] kakts opened #23609 "ja: Make docs/concepts/overview/working-with-objects/kubernetes-objects.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/overview/working-with-objects/kubernetes-objects.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/overview/working-with-objects/kubernetes-objects.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website

[2020-08-31 15:26] kakts opened #23610 "ja: Make docs/concepts/overview/working-with-objects/field-selectors.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/overview/working-with-objects/field-selectors.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/overview/working-with-objects/field-selectors.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/

[2020-08-31 15:27] kakts opened #23611 "ja: Make docs/concepts/overview/working-with-objects/common-labels.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/overview/working-with-objects/common-labels.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/overview/working-with-objects/common-labels.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-

[2020-08-31 15:28] fancc opened #23612 "Translate 'Metrics For Kubernetes System Components' into Chinese"
Translate 'Metrics For Kubernetes System Components' into Chinese

[2020-08-31 15:28] fancc commented on #23612
/language zh
/assign

[2020-08-31 15:29] kakts opened #23613 "ja: Make docs/concepts/overview/what-is-kubernetes.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/overview/what-is-kubernetes.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/overview/what-is-kubernetes.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/concep

[2020-08-31 15:30] kakts opened #23614 "ja: Make docs/concepts/overview/kubernetes-api.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/overview/kubernetes-api.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/overview/kubernetes-api.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/concepts/overv

[2020-08-31 15:31] kakts opened #23615 "ja: Make docs/concepts/overview/components.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/overview/components.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/overview/components.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/concepts/overview/comp

[2020-08-31 15:31] kakts opened #23616 "ja: Make docs/concepts/extend-kubernetes/operator.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/extend-kubernetes/operator.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/extend-kubernetes/operator.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/concepts

[2020-08-31 15:32] kakts opened #23617 "ja: Make docs/concepts/extend-kubernetes/extend-cluster.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/extend-kubernetes/extend-cluster.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/extend-kubernetes/extend-cluster.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/d

[2020-08-31 15:33] kakts opened #23618 "ja: Make docs/concepts/extend-kubernetes/api-extension/custom-resources.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/extend-kubernetes/api-extension/custom-resources.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/extend-kubernetes/api-extension/custom-resources.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website

[2020-08-31 15:33] kakts opened #23619 "ja: Make docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernet

[2020-08-31 15:34] kakts opened #23620 "ja: Make docs/concepts/extend-kubernetes/_index.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/extend-kubernetes/_index.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/extend-kubernetes/_index.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/concepts/ext

[2020-08-31 16:11] juan-vg opened #23622 "Issue with 'startingDeadlineSeconds' @ docs/concepts/workloads/controllers/cron-jobs/"
**This is a Bug Report**

**Problem:** `startingDeadlineSeconds` can be set to any value, but [the CronJob Controller checks things every 10s](https://github.com/kubernetes/kubernetes/blob/392bf0adef478175b9cf0226b02820eb1820f797/pkg/controller/cronjob/cronjob_controller.go#L95-L96). If it's set to any value less than 10s the CronJob will be never scheduled.

**Proposed Solution:** Force the value

[2020-08-31 16:39] gm7y8 commented on #23276
/assign

[2020-08-31 18:20] #14858 closed

[2020-08-31 23:32] kaushik229 opened #23626 "Limited resource list enforcement for resource quota scoped for priority class."
**Problem:**
When resource quota is created scoped for priority class, only subset of resource list are enforced and counted towards usage. We must make sure list and document all such resources so that users have better understanding of resource quota.
For details of which fields are supported, please refer.
https://github.com/kubernetes/kubernetes/blob/17aa60686ebe5fd04b4fe6f442dc36a8d70b6730/pk

[2020-08-31 23:41] #22534 closed

[2020-09-01 02:50] yu-kasuya commented on #23302
/assign

[2020-09-01 05:42] kakts commented on #23450
@hase1128
返信遅れました。こちら pod.mdの分の対応もまとめてお願いできますでしょうか？

[2020-09-01 05:50] hase1128 commented on #23450
@kakts
承知しました。いくつか教えてください。
 - pod.md (実質削除するだけ)は、このIssueまとめて対応しますか？ (その場合は、PRはmdごとに分けますか？)
 - pod.mdの内容がpod-lifecycle以外にも移動しているか、把握していないのでそれも含めてやるでよいですか？
    (pod-lifecycle以外にも移動している場合は、それもこのIssueでまとめてやりますか？)

あと、明日から9/7まで夏休みを取るため、来週まとめてやろうと思いますがよろしいですか？

[2020-09-01 06:58] JubayerJoy commented on #18710
I am working on this, will submit a PR shortly. 🚀

[2020-09-01 07:14] Arhell commented on #23486
/close

[2020-09-01 07:14] #23486 closed

[2020-09-01 09:03] yuzhaopeng opened #23636 "无法登录 Issue with k8s.io/zh/docs/tasks/access-application-cluster/web-ui-dashboard/"
安装之后输入token，点击登录页面没跳转

[2020-09-01 12:15] oke-py opened #23637 "ja: Make docs/setup/_index.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/_index.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/_index.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/setup/_index.md

Original
https://github.com/kubernete

[2020-09-01 12:16] oke-py opened #23638 "ja: Make docs/setup/best-practices/certificates.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/best-practices/certificates.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/best-practices/certificates.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/setup/best-p

[2020-09-01 12:18] oke-py opened #23639 "ja: Make docs/setup/best-practices/cluster-large.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/best-practices/cluster-large.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/best-practices/cluster-large.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/setup/best

[2020-09-01 12:23] oke-py commented on #23450
@hase1128

このIssue、1つのPRでよいです。

できそうならお願いしたいですが、必須ではありません。このIssueでよいです。

全然構いません。よろしくお願いいたします。

[2020-09-01 12:24] oke-py opened #23640 "ja: Make docs/setup/best-practices/multiple-zones.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/best-practices/multiple-zones.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/best-practices/multiple-zones.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/setup/be

[2020-09-01 12:26] oke-py opened #23641 "ja: Make docs/setup/best-practices/node-conformance.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/best-practices/node-conformance.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/best-practices/node-conformance.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/setu

[2020-09-01 13:17] MichalGuzieniuk opened #23642 "Improvement for k8s.io/docs/reference/kubectl/jsonpath/"
I missing an example of JSON map where the key has a dot inside.

{
    "kind": "Secret",
    "apiVersion": "v1",
    "metadata": {
        "name": "rails"
    },
    "data": {
        "db.conf": "cmVkYWN0ZWQK",
        "dbdotconf": "cmVkYWN0ZWQK"
    },
    "type": "Opaque"
}

How to get value of db.conf with
kubectl get pods -o=jsonpath='{.data[0]}'

[2020-09-01 13:40] hase1128 commented on #23450
@oke-py
了解しました。まとめて(来週)着手します。

/assign

[2020-09-01 17:48] shuzokato commented on #23375
/assign

[2020-09-01 18:05] celestehorgan commented on #23642
/help-wanted
/kind documentation
/label language-en
/priority backlog

[2020-09-01 18:05] celestehorgan commented on #23642
/language en

[2020-09-01 20:16] kbhawkey commented on #23518
Yes, this brings up some good questions and ideas.
I think it makes sense to split off the versioning of docs content from the other site sections (blog, training, community, ...).
I'd like to see the Case Studies and Partners sections consolidated into a single section.

[2020-09-01 20:29] #18710 closed

[2020-09-02 01:19] hobbytp opened #23648 "Removes IPVS prerequisites in "Validate IPv4/IPv6 dual-stack""
**This is a Bug Report**

**Problem:**
In Dualstack doc updates for 1.18 #20694, it only removes IPVS prerequisites in https://kubernetes.io/docs/concepts/services-networking/dual-stack/ but not remove it in https://kubernetes.io/docs/tasks/network/validate-dual-stack/, you still can find "Kube-proxy running in mode IPVS" in the doc.

**Proposed Solution:**
remove "Kube-proxy running in mode IPVS"

[2020-09-02 01:32] tengqm commented on #23642
the object is not a pod, so `kubectl get pods` won't work.
On [kubectl cheatsheet](https://kubernetes.io/docs/reference/kubectl/cheatsheet/), there is a sample which may be helpful:

[code]

[2020-09-02 01:54] tengqm commented on #23636
/triage support

[2020-09-02 02:53] yu-kasuya commented on #23317
/assign

[2020-09-02 05:36] RoSk0 opened #23650 "Issue with k8s.io/docs/setup/learning-environment/minikube/"
**This is a Bug Report**

**Problem:**
information on this page as well as on https://kubernetes.io/docs/tasks/tools/install-minikube/ is **out of date**.

**Proposed Solution:**
Remove /docs/tasks/tools/install-minikube/
Replace link destination from `docs/tasks/tools/install-minikube/` to `https://minikube.sigs.k8s.io/docs/start/`

**Page to Update:**
https://kubernetes.io/docs/setup/learning-en

[2020-09-02 07:33] #23171 closed

[2020-09-02 08:59] inductor commented on #23451
/lgtm

[2020-09-02 08:59] inductor commented on #23384
/close

[2020-09-02 09:00] inductor commented on #23383
/close

[2020-09-02 09:00] #23384 closed

[2020-09-02 09:00] #23383 closed

[2020-09-02 09:01] inductor commented on #23386
/close

[2020-09-02 09:01] #23386 closed

[2020-09-02 09:05] inductor commented on #23377
/close

[2020-09-02 09:06] #23377 closed

[2020-09-02 09:08] inductor commented on #23451
/close

[2020-09-02 09:08] #23451 closed

[2020-09-02 09:47] inductor commented on #23375
/close

[2020-09-02 09:47] #23375 closed

[2020-09-02 10:16] inductor commented on #23300
/close

[2020-09-02 10:16] #23300 closed

[2020-09-02 10:16] inductor commented on #23302
/close

[2020-09-02 10:17] #23302 closed

[2020-09-02 13:59] mrueg commented on #7386
I would like to help out documenting this. Not sure where's the best place to put it though. Do you feel this is closer to a node feature or resource limits?

[2020-09-02 14:26] arisgi commented on #23246
/assign

[2020-09-02 14:52] Arhell commented on #23583
/close

[2020-09-02 14:52] #23583 closed

[2020-09-02 14:53] rizekmWWT opened #23654 "Ubuntu Linux instructions do not work"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-09-02 15:04] shuzokato commented on #23308
/assign

[2020-09-02 16:27] inductor commented on #23421
/close

[2020-09-02 16:27] #23421 closed

[2020-09-02 17:29] sftim opened #23657 "Mention deprecation in https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/custom-resources/"
**This is a Feature Request**

**What would you like to be added**
Mention custom resource deprecation in https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/custom-resources/

**Why is this needed**
https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/custom-resources/ doesn't mention deprecation, but https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resourc

[2020-09-02 18:08] bpaduch opened #23659 ""GKE" reference s/b removed/rewritten"
**This is a Bug Report**

**Problem:**
Content references "GKE" which is a Google product.

**Proposed Solution:**
Rewrite the sentence to pertain to Kubernetes, not Google.

**Page to Update:**
 k8s.io/docs/concepts/architecture/control-plane-node-communication/

[2020-09-02 18:34] #21409 closed

[2020-09-02 19:53] #22962 closed

[2020-09-02 21:15] celestehorgan commented on #23648
/language en
/priority important-soon
/kind bug

@lachie83 – Can you verify the issue described is correct? If so we can tag it as a good first issue and have someone tackle it.

[2020-09-02 21:34] celestehorgan opened #23660 "Improve maintainability of Case Studies"
The Case Study pages are, at the moment, bespoke, brittle, and difficult to maintain. This proposal would improve the general HTML/CSS situation for these pages, making them

**CSS Inheritance and general cleanup**

- [ ] Allow case study pages to inherit from gridpage.css (or similar)
- [ ] Then remove redundant classes copy-pasted from gridpage.css. The net result should be _something_ along the

[2020-09-02 21:35] celestehorgan commented on #22095
/assign

[2020-09-02 22:04] celestehorgan commented on #23654
Hi @rizekmWWT,

We need more information to triage this. Could you please tell us where specifically you ran into problems so we can recreate this and attempt to fix it?

Also, I'm going to retitle your issue so that you don't get spam email.

/retitle Ubuntu Linux instructions do not work
/triage needs-information

[2020-09-02 22:05] celestehorgan commented on #23659
/kind bug
/priority important-longterm
/good-first-issue

[2020-09-02 22:06] celestehorgan commented on #23659
Also if this is the @bpaduch I think it is... hi! long time no see! :)

[2020-09-02 23:38] celestehorgan commented on #22041
According to the [README](https://github.com/kubernetes/website/blob/master/static/css/README.md), we shouldn't remove this (yet?)

[2020-09-02 23:38] #22041 closed

[2020-09-03 00:47] #22095 closed

[2020-09-03 01:24] celestehorgan commented on #22059
Sorry this took me a month!! 🙇‍♀️

@shuuji3 To start, re-implement the pencil icon using fontawesome. And then we'll come back to this ^^;

[2020-09-03 02:50] yu-kasuya commented on #23316
/assign

[2020-09-03 02:58] yu-kasuya commented on #23315
/assign

[2020-09-03 03:12] yu-kasuya commented on #23313
/assign

[2020-09-03 03:12] lachie83 commented on #23648
Hi @celestehorgan and @hobbytp. Thank you very much for raising this. I can indeed validate that the issue is correct and that the proposed solution is correct and would be more than happy to review a PR if someone would be happy to contribute. Thanks again

[2020-09-03 03:28] tengqm commented on #23556
/assign

[2020-09-03 06:39] Evalle commented on #23659
/assign

[2020-09-03 07:56] Evalle commented on #23659
Hi @celestehorgan. I think you're talking about the following sentence:

Should we change it to "On a Kubernetes deployment, the client credentials provided to the kubelet are in the form of a client certificate." ? Any better suggestions to rephrase it? Thank you.

[2020-09-03 08:11] remyleone commented on #19518
/remove-lifecycle stale

[2020-09-03 10:42] oke-py commented on #23308
/close

[2020-09-03 10:42] #23308 closed

[2020-09-03 10:44] oke-py commented on #23316
/close

[2020-09-03 10:44] #23316 closed

[2020-09-03 10:57] bryanchang15 opened #23670 "The execution contexts of hook handlers with different action types are different"
**This is a Bug Report**

**Problem:**

Description in `hook-handler-execution` says:

But actually only the handler with a `ExecAction` would be ran in the container. The handler with a `HttpGetAction` would only be ran in the context of the kubelet process.

**Proposed Solution:**

Clarify this difference in the document.

**Page to Update:**
https://kubernetes.io/docs/concepts/containers/contai

[2020-09-03 10:59] bryanchang15 commented on #23670
We encountered a DNS resolution failed when executing `preStop` hook with a `HTTPGetAction` to GET a `Service` in the cluster and our debugging leads to this document issue.

[2020-09-03 11:18] inductor commented on #23301
/close

[2020-09-03 11:18] #23301 closed

[2020-09-03 11:18] inductor commented on #23313
/close

[2020-09-03 11:18] #23313 closed

[2020-09-03 12:02] bpaduch commented on #23659
@Evalle - As long as that statement is _technically_ accurate for Kubernetes.

[2020-09-03 12:15] oke-py commented on #23315
/close

[2020-09-03 12:15] #23315 closed, assigned to yu-kasuya

[2020-09-03 12:16] oke-py commented on #23317
/close

[2020-09-03 12:16] #23317 closed

[2020-09-03 14:30] Arhell opened #23671 "sync video block"
**This is a Feature Request**

**Why is this needed**
en v https://kubernetes.io/#video
only 1-per link

**Comments**
update in uk version
https://kubernetes.io/uk/#video

/assign
/language uk

[2020-09-03 14:59] rizekmWWT commented on #23654
Hi Celeste,

https://kubernetes.io/docs/tasks/tools/install-kubectl/    : Ubuntu 18 Linux instructions do not work.   “kubectl cluster-info” returns connection refused.

https://kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard/  : all installs fine; however the Dashboard never comes up.

I was able to ad-hoc an installation from various internet resources to install Kubernetes

[2020-09-03 15:03] #23504 closed

[2020-09-03 15:03] sftim commented on #23670
I think that's unclear enough to merit:
/kind bug
/language en

(also, being able to make HTTP requests as the kubelet could even count as a privilege escalation in some cases where people didn't realize that happens)

[2020-09-03 16:51] inductor commented on #23206
/close

[2020-09-03 16:51] #23206 closed

[2020-09-03 19:53] #23501 closed

[2020-09-03 21:39] janilsongomesmendes opened #23676 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-09-03 22:48] shuzokato commented on #23641
/assign

[2020-09-03 22:56] pjhwa opened #23678 "Issue with k8s.io/docs/reference/command-line-tools-reference/feature-gates/"
**This is a Bug Report**

**Problem:**
Line 426: broken link
\- \`DisableAcceleratorUsageMetrics\`: \[Disable accelerator metrics collected by the kubelet\]\(/docs/concepts/cluster-administration/monitoring.md\).

Line 477: duplicated
\- \`LocalStorageCapacityIsolationFSQuotaMonitoring\`: When \`LocalStorageCapacityIsolation\` is enabled for \[local ephemeral storage\]\(/docs/concepts/configuratio

[2020-09-03 22:56] pjhwa commented on #23678
/assign

[2020-09-03 23:55] celestehorgan commented on #20232
@zacharysarah – please review the merged PRs in this issue's history and update the checklist in the description. Thanks!

[2020-09-04 01:33] zacharysarah commented on #20232
@celestehorgan I'll remove the checklist instead--too easy to stale out, with little to no predictive value and questionable retrospective value.

[2020-09-04 02:58] yu-kasuya commented on #23312
/assign

[2020-09-04 03:05] yu-kasuya commented on #23311
/assign

[2020-09-04 03:10] yu-kasuya commented on #23310
/assign

[2020-09-04 07:12] yoichiro0217 commented on #23614
/assign

[2020-09-04 08:24] seokho-son commented on #23533
/assign

[2020-09-04 08:50] Vinigas opened #23685 "Improvement for k8s.io/docs/reference/kubernetes-api/labels-annotations-taints/"
"On the PersistentVolume: The PersistentVolumeLabel admission controller will automatically add zone labels to PersistentVolumes, on GCE and AWS."

What about other vendors ? This section could be compatibility table.

[2020-09-04 09:11] Marusyk commented on #23648
/assign

[2020-09-04 10:08] oke-py commented on #23604
/close

[2020-09-04 10:08] #23604 closed

[2020-09-04 10:16] Ilyes512 opened #23689 "Object Names and IDs"
I believe the correct RFC for [DNS Label names](https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#dns-label-names) should be https://tools.ietf.org/html/rfc1035

[2020-09-04 10:26] inductor commented on #23641
/close

[2020-09-04 10:26] #23641 closed

[2020-09-04 10:30] oke-py commented on #23299
/close

[2020-09-04 10:30] #23299 closed

[2020-09-04 11:29] shuuji3 commented on #22059
@celestehorgan No worries! :slightly_smiling_face:

Recently, in #23227, a new edit link was implemented and I think it fits the Docsy theme well. So it seems that we don't need to reimplement this icon anymore.

[2020-09-04 16:33] shuzokato commented on #23638
/assign

[2020-09-04 16:47] sftim commented on #23676
Hi @janilsongomesmendes

What's not right with the page at https://k8s.io/docs/tutorials/kubernetes-basics/create-cluster/?

/triage needs-information

[2020-09-04 16:48] sftim commented on #23685
With the [content guide](https://kubernetes.io/docs/contribute/style/content-guide/) in mind, it would be better to remove the example vendor names I think.

/language en
/kind cleanup

[2020-09-04 18:55] celestehorgan commented on #23648
@lachie83 – no further action from you needed, this was a small fix. Thank you!

[2020-09-04 18:55] #23648 closed

[2020-09-04 19:11] #23678 closed

[2020-09-04 23:33] #23312 closed, assigned to yu-kasuya

[2020-09-05 02:43] pjhwa commented on #23533
@seokho-son
아직 많이 안하셨으면, 제가 하는 것이 나을 것 같아요.
확인해보니 dev-1.18-ko.11 outdated 파일들과 겹치는 것이 많아서 제가 비교해서 작업할께요.

아직 많이 안하셨기를... ㅠㅠ

[2020-09-05 03:43] seokho-son commented on #23533
@pjhwa 신경써주셔서 감사합니다.. ^^
말씀주신 것과 같이, dev-1.18-ko.11 outdated 와 겹치는 수정사항이 많은데,
이미 작업해주신 버전이 있어서 활용중에 있었습니다. 작업 진행 많이 하지는 않았습니다.
혹시 진행해주실 수 있으면, 제가 해당 PR의 리뷰를 맡아서 빨리 처리하도록 하겠습니다.. ^^

[2020-09-05 03:55] pjhwa commented on #23533
/assign

[2020-09-05 10:02] supirman commented on #22296
I would like to take `/docs/tutorials/kubernetes-basics/explore/explore-intro/`

[2020-09-05 10:03] #22836 closed

[2020-09-05 12:19] Cweiping commented on #23670
I tried to fix it.
At the same time, I think this action is not in line with expectations, related issues:https://github.com/kubernetes/kubernetes/issues/94558
/assign

[2020-09-05 14:23] #22991 closed

[2020-09-05 14:43] #22839 closed

[2020-09-06 03:52] takaf04 commented on #23338
/assign

[2020-09-06 06:55] takaf04 commented on #23336
/assign

[2020-09-06 08:02] Arhell opened #23707 "upd video block"
**This is a Feature Request**

**Why is this needed**
en v https://kubernetes.io/#video
only 1-per link

**Comments**
update in uk version
https://kubernetes.io/ru/#video

/assign
/language ru

[2020-09-06 11:55] habibrosyad commented on #23660
I've gone ahead and attempt to address the bonus point (which is also address the other points) in #23708 😄.

[2020-09-06 12:33] pjhwa opened #23709 "Issue with k8s.io/docs/concepts/services-networking/ingress/"
**This is a Bug Report**

**Problem:**
Line 496: the line should be removed completely
Techniques for spreading traffic across failure domains differs between cloud providers.
Please check the documentation of the relevant [Ingress controller](/docs/concepts/services-networking/ingress-controllers) for details.
for details on deploying Ingress in a federated cluster.

**Proposed Solution:**
Line 4

[2020-09-06 13:27] shuzokato commented on #23637
/assign

[2020-09-06 14:24] pal-dinesh23 opened #23713 "Installing kubeadm"
Resolving Dependencies
--> Running transaction check
---> Package kubeadm.x86_64 0:1.19.0-0 will be installed
--> Processing Dependency: kubernetes-cni >= 0.8.6 for package: kubeadm-1.19.0-0.x86_64
--> Processing Dependency: cri-tools >= 1.13.0 for package: kubeadm-1.19.0-0.x86_64
---> Package kubectl.x86_64 0:1.19.0-0 will be installed
---> Package kubelet.x86_64 0:1.19.0-0 will be installed
-->

[2020-09-06 14:49] sftim opened #23714 "Add reference links to in-project cloud provider integrations"
**This is a Feature Request**

**What would you like to be added**
:information_source: _NOTE_ “in project” here means _part of Kubernetes_.

Add a new reference page that lists cloud providers with integrations that are part of the Kubernetes project itself.
- Be sure to list the providers in alphabetical order
- As this is a list of links to third-party content, add a callout to mention relevant

[2020-09-06 15:10] sftim commented on #21436
/remove-lifecycle stale

[2020-09-06 15:20] Arhell commented on #23671
/close

[2020-09-06 15:20] #23671 closed

[2020-09-06 15:21] sftim commented on #23527
Hi @cmastr

Can you expand a bit on the style guide change you have in mind? It might be that you want to suggest replacing, eg:

with

Possibly though you wanted to revise the (misleading?) advice to write API object types in CamelCase: https://kubernetes.io/docs/contribute/style/style-guide/#use-camel-case-for-api-objects
([camel case](https://en.wikipedia.org/wiki/Camel_case) is usually *writte

[2020-09-06 15:44] sftim commented on #23709
/kind bug
/language en
/priority backlog

[2020-09-06 15:45] #23709 closed

[2020-09-06 23:34] shankar-forgerock opened #23716 "Improvement for k8s.io/docs/concepts/workloads/"
This "Workloads" doc page just has two links to Pods and Controllers.

It would be great to give an overview of the purpose of workloads (why such an architectural construct is required? and how it is used in Kubernetes).

Thanks.

[2020-09-07 02:50] inductor commented on #23638
/close

[2020-09-07 02:51] #23638 closed

[2020-09-07 03:01] #23442 closed

[2020-09-07 03:27] #23556 closed

[2020-09-07 03:29] #22955 closed

[2020-09-07 03:40] yu-kasuya commented on #23344
/assign

[2020-09-07 03:46] yu-kasuya commented on #23344
@kakts 対応済みのように見られます。

[2020-09-07 03:48] yu-kasuya commented on #23343
/assign

[2020-09-07 03:50] #20211 closed

[2020-09-07 03:56] kakts commented on #23344
@yu-kasuya
ご確認ありがとうございます。　こちら確認したところ確かに対応済みでした。
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/reference/glossary/configmap.md

こちらcloseいたします

[2020-09-07 03:56] #23344 closed

[2020-09-07 04:36] hikkie3110 commented on #23456
/assign

[2020-09-07 04:47] pjhwa opened #23719 "Issue with ko/docs/concepts/workloads/controllers/job.md"
**This is a Bug Report**

**Problem:**
Some contents have not been updated according to the en document.

**Proposed Solution:**
Update

**Page to Update:**
https://kubernetes.io/ko/docs/concepts/workloads/controllers/job/

/kind bug
/language ko

[2020-09-07 05:54] b10s opened #23722 "pod eviction API doc"
**This is a Possible Imporvement Report**

**Problem:**
During reading about eviction API I had a hard time to understand why there will:
- be a replacement pod during eviction;
- never be anything other than 429 or 500 in case of very long termination grace period.

Here is a part of doc:
[code]

**Proposed Solution:**
Probably my English is not mature enough to get it, then no solution is needed

[2020-09-07 06:20] #23719 closed

[2020-09-07 07:40] #23533 closed

[2020-09-07 07:40] #23050 closed

[2020-09-07 07:40] #23381 closed

[2020-09-07 08:24] bluefriday opened #23723 "Translate tasks/debug-application-cluster/debug-pod-replication-controller/ into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/debug-application-cluster/debug-pod-replication-controller/ into Korean.

**Why is this needed**

There is no documents with tasks/debug-application-cluster/debug-pod-replication-controller/ into Korean .

**Comments**

https://kubernetes.io/docs/tasks/debug-application-cluster/debug-pod-replication-controller/

[2020-09-07 08:24] bluefriday commented on #23723
/language ko
/assign

[2020-09-07 10:11] #22954 closed

[2020-09-07 10:34] recentcoin opened #23726 "Improvement for k8s.io/docs/setup/best-practices/certificates/"
Any hints on how to integrate this with an existing CA?  For example, our AD domain currently has a CA cluster for authentication between machines.  We'd like to expand that to handle the certs needed for kube containers so that its already trusted by our staff.

[2020-09-07 11:01] neolit123 commented on #23713
Looks like the Rpm package cannot install conntrack. Please debug why that
is happening.

Also what is your linux distribution?

/triage-support
/sig cluster-lifecycle

[2020-09-07 12:28] tengqm opened #23727 "[zh] Translate /docs/tasks/administer-cluster/kubeadm/adding-windows-nodes.md"
/language zh

[2020-09-07 12:30] tengqm opened #23728 "[zh] Translate /docs/tasks/configure-pod-container/configure-gmsa.md"
/language zh

[2020-09-07 12:49] tengqm opened #23729 "Where does static pods belong?"
**This is a Bug Report**

**Problem:**

The static-pod page was moved from tasks/administer-cluster to tasks/configure-pod-container in dd6f88dfe78e4fb61c1c7cc81bccee20bb96481a.
This is a wrong movement because static pods are special pods to be managed by a cluster admin.
A side effect is that we have the following redirection path:

[code]

**Proposed Solution:**

Undo the movement.

**Page to U

[2020-09-07 13:33] nomstradamus opened #23732 "Improvement for k8s.io/docs/tasks/configure-pod-container/configure-pod-configmap/"
Should mention that env properties in POD cannot be reloaded . This would require a pod restart. However volume mount config maps can be reloaded.

[2020-09-07 14:14] akitok commented on #23453
/assign

[2020-09-07 15:54] sftim commented on #23716
An introduction to the workload concepts would be really useful

/kind feature
/language en
/priority backlog

[2020-09-07 16:50] sftim commented on #23732
/kind feature
/language en
/priority backlog

If picking this up, also consider mentioning this detail in https://kubernetes.io/docs/concepts/configuration/configmap/

[2020-09-07 19:36] restanrm opened #23738 "Installer kubeadm"
Hello there !

I've noticed an issue in the documentation. Since major version 1.18 the installation documentation is not accurate. The URL `"https://raw.githubusercontent.com/kubernetes/kubernetes/${RELEASE}/build/debs/kubelet.service"` found on page https://kubernetes.io/fr/docs/setup/independent/install-kubeadm/ returns a 404. It was working on major version 1.17.

[2020-09-07 22:52] sftim commented on #23738
/language fr
/kind bug
/priority backlog

[2020-09-07 22:53] sftim commented on #23729
I wonder, is there a way to let Docsy list that page twice, once in each place?

[2020-09-07 23:01] sftim commented on #12303
/reopen

[2020-09-07 23:02] sftim commented on #12303
It still happens.

[2020-09-07 23:08] sftim commented on #20759
/remove-lifecycle rotten

[2020-09-08 01:13] gochist opened #23739 "Broken layout for tabs on "Container runtimes" page in Korean"
**This is a Bug Report**

**Problem:**
Broken layout for tabs on "Container runtimes" page as below.

![image](https://user-images.githubusercontent.com/282159/92423340-c258cf80-f1bb-11ea-8bac-290154419242.png)

**Proposed Solution:**
TBD

**Page to Update:**
https://kubernetes.io/ko/docs/setup/production-environment/container-runtimes/

/language ko

[2020-09-08 01:15] gochist commented on #23739
/retitle Broken layout for tabs on "Container runtimes" page in Korean

[2020-09-08 01:51] inductor commented on #23525
/close

[2020-09-08 01:51] #23525 closed

[2020-09-08 01:55] inductor commented on #23637
/close

[2020-09-08 01:55] #23637 closed

[2020-09-08 02:03] oke-py commented on #23311
/close

[2020-09-08 02:04] #23311 closed

[2020-09-08 02:55] yu-kasuya commented on #23342
/assign

[2020-09-08 02:55] #21654 closed

[2020-09-08 04:10] mrmarcsmith opened #23742 "Issue with k8s.io/docs/tasks/administer-cluster/dns-debugging-resolution/"
I created two services with different names, then ran `kubectl run debug-container --image=radial/busyboxplus:curl -i --tty --rm` to debug.

`curl service1` resolves fine but `curl service2` gives me `curl: (6) Couldn't resolve host 'service2'`

I walked through all the debug steps and everything looks fine except that service doesn't have corresponding DNS entries.

[2020-09-08 05:26] rajeshdannina opened #23743 "Getting started"

[2020-09-08 06:59] pjhwa commented on #23739
This problem is due to incorrect tab code.
We should fix this like the below: (Line 71, 125, 126, 180)
[code]
to
[code]

[2020-09-08 08:54] shuzokato commented on #23613
/assign

[2020-09-08 09:23] #22591 closed

[2020-09-08 11:48] kakts opened #23748 "ja: Move docs/concepts/workloads/pods/pod-overview.md to docs/concepts/workloads/pods/_index.md"
**This is a Feature Request**

**What would you like to be added**

Please move ja/docs/concepts/workloads/pods/pod-overview.md to ja/docs/concepts/workloads/pods/_index.md and fix links about this page.
https://github.com/kubernetes/website/pull/23581#discussion_r479936059
https://github.com/kubernetes/website/commit/49eee8fd3d9eba5e7390c9014ac05d036ced3ca6#diff-7294f337fd4609fcb4b23001b4f1b82d

[2020-09-08 12:06] kakts commented on #23748
/assign

[2020-09-08 12:06] micktg opened #23749 "Error in “Using a Service to Expose Your App”"
I think, that the legend for the graphic under the headline "Services and Labels" contains an error.
https://kubernetes.io/docs/tutorials/kubernetes-basics/expose/expose-intro/
The violet cube is not a pod but a container. The surrounding circle should be the pod and the violet cube within should the container.

[2020-09-08 12:41] gochist commented on #23739
/good-first-issue

[2020-09-08 12:57] translucens commented on #23597
/assign

[2020-09-08 13:29] Evalle commented on #23739
Hey folks, I'm happy to help you with this
/assign

[2020-09-08 14:23] sftim commented on #23749
/retitle Error in “Using a Service to Expose Your App”

Similar to issue #8679

[2020-09-08 14:47] #23739 closed

[2020-09-08 15:25] #15482 closed

[2020-09-08 15:55] sftim commented on #23743
@rajeshdannina this issue is blank. Is there something that Kubernetes SIG Docs can help you with?

/triage needs-information

[2020-09-08 17:56] sftim commented on #12303
/remove-lifecycle rotten

[2020-09-08 18:42] sftim commented on #17951
/remove-lifecycle stale

[2020-09-08 18:45] sftim commented on #21130
/remove-lifecycle stale

[2020-09-08 18:58] sftim commented on #12303
We could publish a new Netlify site with only a 404 page (copied from the live docs?)

That site could have aliases for `v1-{0,1,2,3,4,5,6,7,8,9,10,11,12,13,14}.docs.kubernetes.io`
- every time we do a release, [manually] add an alias for the (unmaintained, old) documentation that we drop
- If we hit a Netlify limit on alias count, start a new site and continue adding aliases to the new one

It's

[2020-09-08 19:14] sftim commented on #12303
/assign

[2020-09-08 19:29] #16660 closed

[2020-09-08 19:29] #20003 closed

[2020-09-08 19:40] sftim commented on #23742
@mrmarcsmith did the hints in k8s.io/docs/tasks/administer-cluster/dns-debugging-resolution/ help?

If you spotted any problem there, it'd be good to know about it.

[2020-09-08 19:41] sftim commented on #23722
/sig scheduling

[2020-09-08 19:43] sftim commented on #21422
/remove-lifecycle stale
/help

[2020-09-08 19:44] sftim commented on #21422
/retitle Document container runtime setup for RHEL 8 / CentOS 8

[2020-09-08 19:48] mrmarcsmith commented on #23742
No, I followed all diagnostics on that page and they all passed except service2 still doesn't have a dns record

[2020-09-08 19:50] mrmarcsmith commented on #23742
Also, for debugging purposes, the mere fact that service1 has a DNS record eliminates most of the things that would affect DNS globally

[2020-09-08 19:51] sftim commented on #23101
Also see  #23732

[2020-09-08 19:51] sftim commented on #23101
/priority important-longterm

[2020-09-08 20:39] sftim commented on #23722
/priority backlog
/language en

[2020-09-08 20:44] sftim commented on #23742
If you're still looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes)

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

/triage support

[2020-09-08 21:50] #23542 closed

[2020-09-09 01:51] inductor commented on #23457
/close

[2020-09-09 01:51] #23457 closed

[2020-09-09 03:11] yu-kasuya commented on #23341
/assign

[2020-09-09 03:18] yu-kasuya commented on #23340
/assign

[2020-09-09 07:13] gm7y8 commented on #20649
/close

[2020-09-09 09:24] Arhell opened #23765 "translate subscribe button"
**This is a Feature Request**

**What would you like to be added**
https://kubernetes.io/id/#kubeweekly

**Why is this needed**
translate button

/assign
/language id

[2020-09-09 09:47] inductor commented on #23371
/close

[2020-09-09 09:47] inductor commented on #23343
/close

[2020-09-09 09:47] #23371 closed

[2020-09-09 09:47] #23343 closed

[2020-09-09 11:01] shuzokato commented on #23611
/assign

[2020-09-09 12:41] oke-py opened #23768 "ja: Make docs/setup/learning-environment/minikube.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/learning-environment/minikube.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/learning-environment/minikube.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/content/ja/docs/setup/le

[2020-09-09 12:43] oke-py opened #23769 "ja: Make docs/setup/production-environment/container-runtimes.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/production-environment/container-runtimes.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/production-environment/container-runtimes.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.1/

[2020-09-09 13:25] sftim commented on #23527
See https://deploy-preview-23767--kubernetes-io-master-staging.netlify.app/docs/concepts/architecture/nodes/ for an example (from PR #23767) of using monospaced, gray-background PascalCase for object types.

[2020-09-09 13:33] liggitt commented on #12326
/assign @derekwaynecarr

routing to sig-node leads

[2020-09-09 13:34] liggitt commented on #12326
/assign @derekwaynecarr @dchen1107

[2020-09-09 14:57] #22965 closed

[2020-09-09 16:19] timothyclarke commented on #19611
/remove-lifecycle stale

[2020-09-09 16:44] sftim opened #23773 "Update Japanese localization to v1.19"
**This is a Clean Up Request**

**What would you like to be added**
Update the Japanese localization for changes since v1.18

**Why is this needed**
The Japanese documentation is largely based on documentation for older versions of Kubernetes. Ideally, the master-branch documentation would include the changes that were made for the v1.19 release, including [feature gate status](https://kubernetes.

[2020-09-09 16:44] sftim opened #23774 "Update Korean localization for v1.19"
**This is a Clean Up Request**

**What would you like to be added**
Update the ~Japanese~ Korean localization for changes since v1.18

**Why is this needed**
The ~Japanese~ Korean documentation is largely based on documentation for older versions of Kubernetes. Ideally, the master-branch documentation would include the changes that were made for the v1.19 release, including [feature gate status](h

[2020-09-09 16:45] sftim opened #23775 "Update Chinese localization for v1.19"
**This is a Clean Up Request**

**What would you like to be added**
Update the Chinese localization for changes since v1.18

**Why is this needed**
The Chinese documentation is largely based on documentation for older versions of Kubernetes. Ideally, the master-branch documentation would include the changes that were made for the v1.19 release, including [feature gate status](https://kubernetes.io

[2020-09-09 18:20] ChrisWeissNike opened #23776 "Improvement for k8s.io/docs/tutorials/kubernetes-basics/"
Would be handy to include "Remove Your App" instructions on this page.

[2020-09-09 18:30] RA489 commented on #23768
/triage support

[2020-09-09 19:53] #20238 closed

[2020-09-09 20:57] sftim opened #23777 "Add shortcode for marking deprecated sections of pages"
**This is a Feature Request**

**What would you like to be added**
Add a Hugo shortcode that contains Markdown for deprecated sections of pages.
The shortcode renders visually taking little space by default, but the reader can expand the page to reveal more.

**Why is this needed**
Pages such as:
- https://kubernetes.io/docs/concepts/storage/storage-classes/
- https://kubernetes.io/docs/concepts/w

[2020-09-09 21:29] sftim commented on #23776
/kind feature
/language en
/priority important-longterm

Nice idea!

[2020-09-09 22:37] supirman commented on #22296
I will take `/docs/tutorials/kubernetes-basics/expose/expose-intro/`

[2020-09-10 00:46] tengqm commented on #17933
/remove-lifecycle rotten

[2020-09-10 00:47] tengqm commented on #17933
Given the mentioned gap from the issue description and the various comments received, I'd like to propose a freeze of lifecycle for this issue.
/lifecycle frozen

[2020-09-10 00:48] tengqm commented on #17933
Put this on my TODO list.
/assign

[2020-09-10 02:52] yu-kasuya commented on #23339
/assign

[2020-09-10 03:33] wssgyyg opened #23779 "Set Kubelet parameters via a config file"
For this doc: https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config-file/

I wonder can we have an example config file here. What I want to do is simple, start kubelet and register it to api-server.

Thx a lot for any help!

[2020-09-10 04:41] tengqm commented on #23779
Did you read https://kubernetes.io/docs/tasks/administer-cluster/reconfigure-kubelet/#generating-a-file-that-contains-the-current-configuration ?
/triage support

[2020-09-10 06:24] Jeson515 opened #23781 "Pod Lifecycle"
To the check state of a Pod's containers or
To check the state of a Pod's containers

[2020-09-10 06:50] wssgyyg commented on #23779
@tengqm Thx for reply, actually what I want to do is try to start kubelet by
`./kubelet --api-servers=127.0.0.1:8080`
But the flag `--api-servers` seems to be deperacated since v1.6.0，so I wonder if there is a way to replace it. I read many docs but    still can't find a solution.

[2020-09-10 07:42] tengqm commented on #23779
@wssgyyg Maybe you should try `--kubeconfig`?

[2020-09-10 09:01] hase1128 commented on #23748
@kakts

ご存知と思いますが、_index.mdは、pod-overview.mdだけでなくpod.mdからもいくつかの記事が移動してきますので、参考にしてください。

先ほど、pod-lifecycle.mdの更新[PR](https://github.com/kubernetes/website/pull/23786)を出しましたが、その中でpod.mdの削除もしているので、この_index.mdの更新PRとできるだけ同時にマージされる形が望ましいと考えています。

[2020-09-10 09:36] shuzokato commented on #23615
/assign

[2020-09-10 10:11] Arhell commented on #23707
/close

[2020-09-10 10:11] #23707 closed

[2020-09-10 10:58] irvifa commented on #22296
@ariscahyadi is there any PR that already have lgtm label from your side?
I'd like to have the chance to review it as well. Thanks and good job!

[2020-09-10 11:19] rikatz commented on #23254
I didn't forget this, just came back because TIL that k/k repo have a spell check in the files:

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/94327/pull-kubernetes-verify/1303876086144176128

Will see how is this 'applicable' to the same idea but directly using the Makefile instead

[2020-09-10 11:29] ariscahyadi commented on #22296
Please help to review my own PR https://github.com/kubernetes/website/pull/22847 :)

Also this https://github.com/kubernetes/website/pull/23188 which I think you have already approved it, but I don't know why it is still not merged!

[2020-09-10 16:29] celestehorgan commented on #22059
@shuuji3 Agreed!

Per the [readme](https://github.com/kubernetes/website/tree/master/static/js) here, I think we need to leave Jquery as well for now.

Closing!

[2020-09-10 16:29] #22059 closed

[2020-09-10 16:36] celestehorgan commented on #22024
WOHOOO!

[2020-09-10 16:36] #22024 closed

[2020-09-10 17:16] irvifa commented on #22296
@ariscahyadi I’m putting the issue on sig-docs slack for https://github.com/kubernetes/website/pull/23188

[2020-09-10 20:11] zacharysarah opened #23797 "Co-chair transition"
## SIG Docs co-chair transition

In the [15 September 2020 SIG Docs weekly meeting](https://docs.google.com/document/d/1Jio9rEtYxlBbntF8mRGmj6Q1JAdzZ9fTDo3ru1HK_LI/) I, @zacharysarah announced that I'm stepping down as SIG Docs co-chair and will become a chair emeritus.

I nominate @irvifa to replace me.

### Transition date

Without further input, lazy consensus is to transition on September 15,

[2020-09-10 21:38] irvifa commented on #23797
Thank you for the opportunity, I accept the nomination for co-chair. A huge thank you to @zacharysarah for all of the awesome leadership and contributions ❤️

[2020-09-10 22:49] zacharysarah commented on #23527
@cmastr 👍  to @sftim's feedback. I would change the issue description to something like:

[code]

[2020-09-11 00:55] Miftahunajat commented on #22296
Hello, I would like to take `/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/` next.

[2020-09-11 00:57] tengqm commented on #23797
**xref: SIG Docs Co-Chair prerequisites and responsibilities:**
https://kubernetes.io/docs/contribute/advanced/#serve-as-a-sig-co-chair

[2020-09-11 01:31] ariscahyadi commented on #22296
Hi @irvifa, I saw this message "New changes are detected. LGTM label has been removed." I am not sure if it has any impact on it.
Or can we just try to add /lgtm label again? :)

[2020-09-11 02:48] tengqm commented on #9829
/lifecycle frozen

[2020-09-11 03:08] yu-kasuya commented on #23368
/assign

[2020-09-11 03:12] tengqm commented on #21675
This looks like a support issue and we haven't heard from the author for 3 months.
/close

[2020-09-11 03:12] #21675 closed

[2020-09-11 03:16] tengqm commented on #19096
Actually we can add examples to the kubernetes reference page.
For example, if you check https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#deployment-v1-apps, you will find that there is an example button.
To move forward with this, we can add more examples to [this directory](https://github.com/kubernetes-sigs/reference-docs/tree/master/gen-apidocs/config/examples), then new AP

[2020-09-11 03:55] yu-kasuya commented on #23370
/assign

[2020-09-11 04:20] pjhwa commented on #23774
@sftim We've done for this. #23533
This PR will merge to master within this week.

[2020-09-11 07:16] wssgyyg commented on #23779
@tengqm Yeah, I copied a config file from another cluster and finally get my kubelet run.

[2020-09-11 07:20] wssgyyg commented on #23779
For those who read [this](http://kamalmarhubi.com/blog/2015/09/06/kubernetes-from-the-ground-up-the-api-server/) article, use --kubeconfig /path/to/kubeconfig-file to replace --api-servers. Below is an example for kubeconfig file.
[code]

[2020-09-11 07:20] #23779 closed

[2020-09-11 07:20] kakts commented on #23748
@hase1128  ご確認ありがとうございます!

https://github.com/kubernetes/website/pull/23786
pod-lifecyclePRの方も合わせてレビュー進めます。

[2020-09-11 08:35] hase1128 commented on #23320
/assign

[2020-09-11 08:49] feloy opened #23809 "[GSoD'20] Update how the Kubernetes website serves API references"
This issue helps following my Google Season of Docs project: https://developers.google.com/season-of-docs/docs/participants/project-cncf-feloy and resumes the first discussions in https://github.com/kubernetes/website/pull/23294 and [this doc](https://docs.google.com/document/d/17T1GGtBWFLh0FbbS_fp483V8h_mUJOAbdZc8AUmF3nE).

## Introduction

Currently, the Kubernetes API references are large HTML

[2020-09-11 09:23] zhiguo-lu opened #23810 "Chinese page https://kubernetes.io/zh/docs/contribute/ outdated"
**This is a Bug Report**

**Problem:**
Chinese page content/zh/docs/contribute/_index.md is different with English version page.

**Proposed Solution:**
Update Chinese page

**Page to Update:**
https://kubernetes.io/zh/docs/contribute/
content/zh/docs/contribute/_index.md

[2020-09-11 09:33] hase1128 commented on #23594
/assign

[2020-09-11 11:56] tengqm commented on #21241
/remove-lifecycle stale

[2020-09-11 15:25] ariscahyadi commented on #22296
I am working in this `/docs/tasks/configure-pod-container/assign-memory-resource/`

[2020-09-11 18:21] morengab opened #23817 "Copy to clipboard not copying yaml"
"Copy application/deployment.yaml to clipboard" copies the name of the yaml file but not the actual yaml itself.
<img width="1024" alt="image" src="https://user-images.githubusercontent.com/565634/92959455-78791f00-f431-11ea-8d28-d86a82012817.png">

[2020-09-11 23:37] gochist opened #23818 "Outdated files in the dev-1.19-ko.2 branch"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.19-ko.2 branch.

### 29 files to be modified
1. [ ] content/en/docs/concepts/cluster-administration/addons.md 1 file changed, 2 insertions(+), 2 deletions(-)
1. [ ] content/en/docs/concepts/cluster-administration/networking.md 1 file changed, 4 insertions(+), 3 deletions(-)
1. [ ] content/en/docs/concepts/configuration/configma

[2020-09-12 01:41] pjhwa commented on #23818
/assign

[2020-09-12 02:38] gochist commented on #23818
@pjhwa ko.1 병합 과정에서 실수로 아래 문서의 레이아웃이 다시 깨졌는데, 아래 문서는 현행화 이후 마스터 브랜치에도 PR을 열어주실 수 있을까요?

* content/en/docs/setup/production-environment/container-runtimes.md

[2020-09-12 03:36] nomstradamus commented on #23732
I signed it

[2020-09-12 04:01] pjhwa commented on #23818
네~ 알겠습니다. ^^

[2020-09-12 04:41] damusix opened #23824 "Please consider leaving politics out of documentation websites"
**This is Support**

I would like to politely and respectfully propose we keep politics out of our work environments. I'm all for showing support for what you believe in, but it would be nice if we could keep code docs about code docs and not politics. Not everyone agrees with the principles or political views of BLM and it's a bit annoying / triggering / distracting to see my favorite tools const

[2020-09-12 06:49] tengqm commented on #20473
/remove-lifecycle stale

[2020-09-12 07:04] tengqm commented on #20814
/remove-lifecycle stale
Still something desirable.

[2020-09-12 07:43] pjhwa opened #23828 "Issue with links to already translated documents"
**This is a Bug Report**

**Problem:**

The following files contain the links to en docs which were already translated into Korean.

- docs/concepts/configuration/configmap.md
- docs/concepts/configuration/overview.md
- docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation.md
- docs/concepts/extend-kubernetes/api-extension/custom-resources.md
- docs/concepts/overview/kubernetes-api.m

[2020-09-12 07:47] Arhell commented on #23765
/close

[2020-09-12 07:47] #23765 closed

[2020-09-12 07:56] BenTheElder commented on #20162
totally different layout now.

[2020-09-12 07:56] #20162 closed

[2020-09-12 11:07] shuzokato commented on #23619
/assign

[2020-09-12 13:50] devurandom commented on #21621
These two pages also make reference to "master" VMs or machines:

* https://kubernetes.io/docs/concepts/overview/components/
* https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/high-availability/

[2020-09-12 15:46] seokho-son opened #23835 "Korean Localization for dev-1.19-ko.2 branch"
**This is a Feature Request**

Korean Localization for `dev-1.19-ko.2` branch.

**What would you like to be added**

Any localization contributions for Korean.

**Comments**

This issue is to notify the schedule of Korean localization to contributors.

`dev-1.19-ko.2` is the current work branch for Korean localization.

`dev-1.19-ko.2` will be merged to `master` branch after we complete around 2 w

[2020-09-12 15:49] seokho-son commented on #23835
dev-1.19-ko.2 의 PR 랭글러는 @pjhwa 입니다. :)

[2020-09-12 16:24] Arhell opened #23836 "remove "extra indent" pt lang page"
**This is a Bug Report**

**Problem:**
![1](https://user-images.githubusercontent.com/26163841/92999909-7ac0a380-f52d-11ea-9351-89dde8383787.jpg)

**Proposed Solution:**
remove 1-e br like en version

**Page to Update:**
https://kubernetes.io/pt/#video

/language pt
/assign
/area web-development

[2020-09-12 18:06] neolit123 commented on #21621
a PR to replace:

with:

is welcome.

[2020-09-12 19:31] girikuncoro commented on #22296
@sumodirjo do you have update on `/docs/tasks/administer-cluster/cluster-management`?

[2020-09-12 22:10] consideRatio opened #23837 "Scheduler Configuration: focus on kubescheduler.config.k8s.io/v1beta1 over v1alpha1 and v1alpha2"
I found the references to kubescheduler.config.k8s.io/v1alpha1 and v1alpha2 to be confusing since the configuration that follow were v1beta1. Perhaps it would make sense to remove the alpha1/2 references entirely?

## Screenshot from [docs/reference/scheduling/config](https://kubernetes.io/docs/reference/scheduling/config/)
![image](https://user-images.githubusercontent.com/3837114/93005829-4c56be

[2020-09-13 01:04] supirman commented on #22296
@girikuncoro `/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/` was included in #22408, but the katacoda embed is broken since the katacoda sceneario is not translated yet but the embed use `data-katacoda-lang="id"`.

[2020-09-13 01:25] jimangel commented on #23797
@zacharysarah it is not enough to say "thank you" for your contributions to SIG Docs, but thank you! The Kubernetes project has experienced unprecedented growth over the past 5 years and many folks, including myself, started by reading the docs. You've helped establish the ground work and foundation for a thriving community. When I started contributing a couple years ago, I was warmly welcomed as

[2020-09-13 02:05] pjhwa opened #23840 "Translate tasks/job/fine-parallel-processing-work-queue/ into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/job/fine-parallel-processing-work-queue/ into Korean.

**Why is this needed**

There is no document of tasks/job/fine-parallel-processing-work-queue/ which is translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/tasks/job/fine-parallel-processing-work-queue/
/language ko

[2020-09-13 02:17] pjhwa commented on #23840
/assign

[2020-09-13 02:40] girikuncoro commented on #22296
@supirman thanks for the heads up, we'll translate the katacoda scenario quickly, I think it's fine if we let it be in broken state for short period

[2020-09-13 06:09] inductor commented on #23320
/close

[2020-09-13 06:09] #23320 closed

[2020-09-13 06:59] inductor commented on #23619
/close

[2020-09-13 06:59] #23619 closed

[2020-09-13 09:42] shuzokato commented on #23640
/assign

[2020-09-13 10:09] oke-py commented on #23372
/close

[2020-09-13 10:09] #23372 closed

[2020-09-13 10:14] inductor commented on #23773
We work on our work branch based on our own milestones. We cannot track all the difference with the number of active contributors...

[2020-09-13 10:15] inductor commented on #23773
Anyways, we recognize this and we manage this so I shall close this now.

/close

[2020-09-13 10:15] #23773 closed

[2020-09-13 10:15] inductor commented on #23773
/close

[2020-09-13 10:18] inductor commented on #23297
/close

[2020-09-13 10:18] #23297 closed

[2020-09-13 10:27] inductor commented on #23613
/close

[2020-09-13 10:27] #23613 closed

[2020-09-13 10:55] inductor commented on #23296
/close

[2020-09-13 10:55] #23296 closed

[2020-09-13 12:32] devurandom commented on #21621
Thanks: #23847

[2020-09-13 13:01] tkms0106 commented on #23598
/assign

[2020-09-13 13:02] tkms0106 commented on #23596
/assign

[2020-09-13 13:24] tengqm opened #23849 "[zh] Translate /docs/concepts/cluster-administration/flow-control.md"
/language zh

[2020-09-13 15:59] jajalcoding opened #23854 "Set up Ingress on Minikube with the NGINX Ingress Controller"
Hi, I am having issue following this article

asiong@ubuntu:~$ kubectl get pods -n kube-system
NAME                                       READY   STATUS      RESTARTS   AGE
coredns-f9fd979d6-cclz9                    1/1     Running     1          31h
etcd-minikube                              1/1     Running     1          31h
ingress-nginx-admission-create-27s2h       0/1     Completed   0

[2020-09-13 16:25] inductor commented on #23244
/close

[2020-09-13 16:25] #23244 closed

[2020-09-13 16:27] inductor commented on #23611
/close

[2020-09-13 16:27] #23611 closed

[2020-09-13 16:35] inductor commented on #23246
/close

[2020-09-13 16:36] #23246 closed

[2020-09-13 18:13] mig4 commented on #19199
/remove-lifecycle stale

[2020-09-13 18:45] bergerhoffer opened #23855 "1.19-specific release notes URL"
**This is a Feature Request**

**What would you like to be added**
A 1.19-specific URL for the Kubernetes 1.19 release notes.

**Why is this needed**

Currently, I can only find the 1.19 release notes at https://kubernetes.io/docs/setup/release/notes/. I assume that page will eventually be updated to be for 1.20 once that is released. So it would be nice to have a page to link to that will be "gua

[2020-09-13 19:46] sftim commented on #23774
Is this OK to close?

[2020-09-13 20:44] sftim commented on #20760
/remove-lifecycle stale
/area web-development

[2020-09-13 20:46] sftim commented on #20183
/remove-lifecycle stale

[2020-09-13 21:40] pjhwa commented on #23774
@sftim Yes, close please.

[2020-09-13 21:56] kursluzz opened #23857 "Issue with k8s.io/docs/tasks/tools/install-kubectl/"
this will not work, no permissions
kubectl completion bash >/etc/bash_completion.d/kubectl

change to this

echo $(kubectl completion bash) | sudo tee /etc/bash_completion.d/kubectl

[2020-09-13 23:48] joey95033 opened #23858 "I would like to put a traking tag on the next user interface link"
**This is a Feature Request**

**What would you like to be added**

**Why is this needed**

**Comments**
<!-- Any additional related comments that might help. Drawings/mockups would be extremely helpful (if required). --`````

[code]

[2020-09-14 00:19] joey95033 opened #23859 "this will not work, no permissions"
this will not work, no permissions
kubectl completion bash >/etc/bash_completion.d/kubectl

change to this

echo $(kubectl completion bash) | sudo tee /etc/bash_completion.d/kubectl

__Originally posted by @kursluzz in https://github.com/kubernetes/website/issues/23857__

[2020-09-14 00:39] joey95033 opened #23860 "Hi @alexanmtz , thanks for sharing this awesome project!"
Hi @alexanmtz , thanks for sharing this awesome project!
Wondered if you could update the example for the newest material-ui api.
Thanks!

__Originally posted by @tomyitav in https://github.com/alexanmtz/material-sense/issues/2__

[2020-09-14 00:40] #23860 closed

[2020-09-14 01:12] anz-ecp opened #23861 "Scheduling Policies"
`PodMatchNodeSelector` is mislabelled, I believe it should be `MatchNodeSelector`
This is the name used in https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/framework/plugins/legacy_registry.go#L93
The predicate was also named `MatchNodeSelector` in `predicates.go` before that file was removed in https://github.com/kubernetes/kubernetes/pull/87091

[2020-09-14 01:12] #23861 closed

[2020-09-14 01:15] jonathanheaden opened #23862 "Scheduling Policies mis-named predicate for NodeSelector"
`PodMatchNodeSelector` is mislabelled, I believe it should be `MatchNodeSelector`
This is the name used in https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/framework/plugins/legacy_registry.go#L93
The predicate was also named `MatchNodeSelector` in `predicates.go` before that file was removed in kubernetes/kubernetes#87091

[2020-09-14 04:07] inductor commented on #23345
/assign

[2020-09-14 05:19] christomas1 opened #23869 "remove command & args in the "kubectl create deployments" usage"
Ref: https://github.com/kubernetes/kubernetes/issues/94755#issuecomment-691707198

Remove `-- [COMMAND] [args...]` in:
https://github.com/kubernetes/website/blob/69033456ed57344b17e87ad8a348930c590fcd30/static/docs/reference/generated/kubectl/kubectl-commands.html#L580

[2020-09-14 05:26] shuzokato commented on #23610
/assign

[2020-09-14 05:38] shuzokato commented on #23609
/assign

[2020-09-14 07:27] habibrosyad commented on #22296
I've submitted a PR for [kubernetes-bootcamp-scenarios/8](https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios/tree/master/8)

[2020-09-14 08:08] sftim commented on #12303
/remove-priority backlog
/priority important-longterm

[2020-09-14 08:42] inductor commented on #23243
/close

[2020-09-14 08:42] #23243 closed

[2020-09-14 09:19] irvifa commented on #23797
@jimangel Thanks Jim! definitely will need all of the folks help that I need during the transition 🙂

[2020-09-14 09:33] sftim commented on #23809
Great to see this work starting @feloy!

[2020-09-14 09:33] sftim commented on #23809
Another site that might be useful for inspiration: https://k8syaml.com/

[2020-09-14 09:34] sftim commented on #23809
That's a reference for _manifests_, not the API.

[2020-09-14 10:38] inductor commented on #23251
/close

[2020-09-14 10:38] #23251 closed

[2020-09-14 10:44] habibrosyad commented on #22296
And this PR https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios/pull/23 as well for [kubernetes-bootcamp-scenarios/7](https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios/tree/master/7)

[2020-09-14 10:56] inductor commented on #23367
/close

[2020-09-14 10:56] #23367 closed

[2020-09-14 10:58] inductor commented on #23452
/close

[2020-09-14 10:58] #23452 closed

[2020-09-14 12:07] tengqm commented on #21688
/remove-lifecycle stale

[2020-09-14 12:29] oke-py commented on #23609
/close

[2020-09-14 12:29] #23609 closed

[2020-09-14 12:33] oke-py commented on #23594
/close

[2020-09-14 12:34] #23594 closed

[2020-09-14 12:37] oke-py commented on #23338
/close

[2020-09-14 12:37] #23338 closed

[2020-09-14 12:41] oke-py commented on #23598
/close

[2020-09-14 12:41] #23598 closed

[2020-09-14 13:31] Arhell commented on #23836
/close

[2020-09-14 13:32] #23836 closed

[2020-09-14 14:08] howieyuen commented on #23849
can I give it a try?

[2020-09-14 14:14] kbhawkey commented on #21778
/remove-lifecycle stale

[2020-09-14 14:14] kbhawkey commented on #21778
/assign

[2020-09-14 14:24] habibrosyad commented on #22296
And this PR katacoda-scenarios/kubernetes-bootcamp-scenarios#24 as well for [kubernetes-bootcamp-scenarios/6](https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios/tree/master/6)

[2020-09-14 14:39] pacoxu commented on #23869
fixed in  #94763

[2020-09-14 15:00] kbhawkey commented on #23132
/close

[2020-09-14 15:00] #23132 closed

[2020-09-14 15:01] kbhawkey commented on #22172
/close

[2020-09-14 15:01] #22172 closed

[2020-09-14 15:14] sftim commented on #20293
Also see issue #23855

[2020-09-14 15:15] sftim commented on #23855
/sig release
/kind feature

[2020-09-14 15:16] sftim commented on #23855
If https://v1-19.docs.kubernetes.io/docs/setup/release/notes/ were a redirect to https://kubernetes.io/docs/setup/release/notes/ until the next release happens, that might be good enough.

_Or_ we could make that a general redirect to the live site with an exemption for the release notes pages.

[2020-09-14 16:35] sftim opened #23880 "Remove data-proofer-ignore from 404 Not Found layout"
**This is a Clean Up Request**

**What would you like to be changed**
Edit `layouts/404.html` to remove the `data-proofer-ignore` attribute that was introduced in PR https://github.com/kubernetes/website/pull/23753.

**Why is this needed**
[`layouts/404.html`](https://github.com/kubernetes/website/blob/9ec9ebb67c5b3637b95a7b74665bec538be32cb4/layouts/404.html) includes a `data-proofer-ignore` attr

[2020-09-14 18:38] adtac opened #23884 "blog: typo in PodTopologySpread post"
https://github.com/kubernetes/website/blob/5632ae93ea209d0849d702f25e1a13e4f8842980/content/en/blog/_posts/2020-05-05-introducing-podtopologyspread.md#L89

The specs should say `key: env`, not `key: type`

/sig scheduling
/cc @Huang-Wei @alculquicondor

[2020-09-14 18:49] #16740 closed

[2020-09-14 19:05] feloy commented on #23809
I have created this generic `swagger-filter` CLI that is able to filter a swagger definition by endpoints (complete path, prefix or regexp).

As an example, a script using this CLI filters the complete Kubernetes API definition to output new swagger definitions for each K8s API Group:

https://github.com/feloy/swagger-filter

[2020-09-14 19:15] kennyk65 opened #23885 "Document ABAC policy configuration format"
No such apiVersion as abac.authorization.kubernetes.io/v1beta1 in the API reference.  No such object as "Policy" in the API reference.

[2020-09-14 19:57] Huang-Wei commented on #23884
Thanks @adtac, that's a typo... Let me update the image.

[2020-09-14 20:07] remyleone commented on #19096
/remove-lifecycle rotten

[2020-09-15 00:27] tengqm commented on #23849
/assign howieyuen

[2020-09-15 01:25] tengqm commented on #23885
@liggitt Please help comment why we are not including the abac APIs in the API spec. Thanks.

[2020-09-15 01:29] liggitt commented on #23885
These objects are not served as REST APIs. The published openapi spec which the API docs are generated from only include served APIs

[2020-09-15 01:32] tengqm commented on #23885
@liggitt Thanks for the info. Although they are not "served as REST APIS", an admin who wants to use it still needs some reference to its spec. At the moment, we can only check the source code as reference. That is an area we need to improve. Am I understanding this correctly?

[2020-09-15 01:37] liggitt commented on #23885
Yes, something similar was requested in https://github.com/kubernetes/kubernetes/issues/84081

[2020-09-15 01:52] tengqm opened #23889 "Document the unpublished APIs"
**This is a Feature Request**

**What would you like to be added**

There are a few APIs that are not published as RESTful resources. Here are some examples:

- The `kubelet` configuration: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/apis/config/types.go#L75
- The `kube-scheduler` configuration: https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/apis/config/typ

[2020-09-15 02:00] shuuji3 opened #23890 "Translate contribute/suggest-improvements into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [contribute/suggest-improvements](https://kubernetes.io/docs/contribute/suggest-improvements) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-09-15 02:57] shuuji3 opened #23893 "Translate concepts/storage/storage-capacity into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [concepts/storage/storage-capacity](https://kubernetes.io/docs/concepts/storage/storage-capacity) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-09-15 03:06] tengqm commented on #23889
xref: #23885, #23837, #21109, #21558

[2020-09-15 03:31] yu-kasuya commented on #23373
/assign

[2020-09-15 03:44] oke-py commented on #23370
/close

[2020-09-15 03:45] #23370 closed

[2020-09-15 06:22] christomas1 commented on #23869
close per #94755 (comment)

[2020-09-15 06:26] #23869 closed

[2020-09-15 08:31] habibrosyad commented on #22296
And finally this PR katacoda-scenarios/kubernetes-bootcamp-scenarios#25 for [kubernetes-bootcamp-scenarios/5](https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios/tree/master/5)

[2020-09-15 09:31] zhiguo-lu commented on #23810
thanks reviews and approvement from xichengliudui, tengqm and idealhack

[2020-09-15 09:31] #23810 closed

[2020-09-15 09:50] habibrosyad commented on #22296
I'm taking https://k8s.io/docs/tutorials/kubernetes-basics/update/update-intro/

[2020-09-15 11:54] guettli opened #23902 "Explain in context the kind of principal making a (persistent) volume claim"
On this page: https://kubernetes.io/docs/concepts/storage/persistent-volumes/

It would be very nice if **user** would be a hyperlink to a definition/documentation about what a user is for you in this context.

[2020-09-15 13:36] sftim opened #23906 "Document PID limiting"
**This is a Feature Request**

**What would you like to be added**
Document PID limiting for Pods and Nodes

**Why is this needed**
PID limiting intends to graduate to GA in v1.20, but it's not yet documented. There _is_ an existing [blog article](https://www.stackrox.com/post/2019/03/kubernetes-1.14-is-out/) that might be a good starting point.

**Comments**
/kind feature
/sig node

See https://g

[2020-09-15 13:42] sftim commented on #23906
@annajung this is relevant to the v1.20 release

It looks like the feature is already confirmed for graduation (I'm not sure if there is any process for making sure that features are documented before they are released as GA).

[2020-09-15 13:48] sftim commented on #23902
Possible fix: add “user” to the glossary, reference that definition here.

The page could also explain what this means for organizations that separate development and IT operations into separate activities; in those cases, the IT operations team need to ensure that the storage is available for claiming.

Documentation is owned by
/sig storage

[2020-09-15 13:49] sftim commented on #23889
/kind feature

@tengqm does it make sense to treat this as an umbrella issue?

Also potentially relevant (as an aside only) to #23809

[2020-09-15 13:51] annajung commented on #23906
Hi @sftim, I'm currently not aware of any process that exists for that as the decision to need/not need docs are based on the PR owners I believe.

I'll take a note of this and make sure we get documentation for it and for anything that's GA for the release.
I'll also bring this up to the leads to find out if there is a process and update you. Thanks for bringing this to my attention!

[2020-09-15 13:59] tengqm commented on #23889
@sftim I think this one is an umbrella issue.

[2020-09-15 14:06] habibrosyad commented on #22296
Also taking https://k8s.io/docs/tutorials/stateful-application/basic-stateful-set/

[2020-09-15 16:10] #23884 closed

[2020-09-15 17:01] sftim opened #23909 "Short link for kubectl cheat sheet"
**This is a Feature Request**

**What would you like to be added**
Add a short link for the [kubectl cheat sheet](https://k8s.io/docs/reference/kubectl/cheatsheet/).

**Why is this needed**
A short link, eg https://k8s.io/cheatsheet, is easier to type and remember.

**Comments**
I recommend **not** using the usual 301 redirect here because it's not a permanent move. Instead, use a 307 redirect.

-

[2020-09-15 17:45] sftim commented on #23797
Holding for now as no current chairs in the September 15, 2020 weekly meeting and one lazy consensus prerequisite not met.

[2020-09-15 17:55] irvifa commented on #22960
[Slack channel](https://kubernetes.slack.com/archives/C0191RDKHU1)

[2020-09-15 18:40] sftim opened #23911 "Use cncf-landscape shortcode for training page"
**This is a Feature Request**

**What would you like to be added**
Update https://k8s.io/training/ to remove the pasted-in [CNCF Cloud Native Interactive Landscape](https://landscape.cncf.io/) `iframe` and supporting JavaScript. Replace that with this website's custom `{{< cncf-landscape >}}` Hugo shortcode.

**Why is this needed**
We [now](https://github.com/kubernetes/website/pull/23210) have a

[2020-09-15 18:40] sftim commented on #23862
/kind bug
/sig scheduling
/language en
/priority backlog

Thanks @jonathanheaden

[2020-09-15 18:42] sftim commented on #23857
/sig cli

[2020-09-15 18:42] sftim commented on #23859
/triage duplicate

This is a duplicate of issue #23857
/close

[2020-09-15 18:43] #23859 closed

[2020-09-15 19:12] #18207 closed

[2020-09-15 19:21] raghvenders opened #23912 "Tiles and align Button in home page - Kubernetes Documentation"
**This is a Feature Request**

In the https://kubernetes.io/docs/home/page , i am able to see under Kubernetes Documentation.

Respective tiled content buttons are aligned respective the content length or size.

As a user , i would like to see them aligned as a bordered tile content with buttons are aligned look like a row irrespective of tile content length.

This improves the user experience

Pl

[2020-09-15 22:51] raghvenders commented on #23912
It is rather a question.I will create it under correct bucket.

[2020-09-15 22:51] #23912 closed

[2020-09-15 22:57] raghvenders opened #23914 "Poor alignment between tiles and buttons on home page for docs"
~**This is Support**~

In the https://kubernetes.io/docs/home/page , i am able to see under Kubernetes Documentation.

Respective tiled content buttons are aligned respective the content length or size.

As a user , i would like to see them aligned as a bordered tile content with buttons are aligned look like a row irrespective of tile content length.

This improves the user experience

Please let

[2020-09-16 00:02] rptaylor opened #23915 "Unclear and contradictory information about filesystem layout on kubelet nodes"
Hello,

According to [1] https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/#eviction-signals
[code]

What exactly is meant by "it is not OK to store volumes and logs in a dedicated filesystem" ? How or why is it not okay?
This same paragraph says it IS okay to store volumes and logs in a "nodefs" filesystem, so it seems to be a contradiction.
Does it depend on whether "nodefs" is

[2020-09-16 00:33] tengqm commented on #23915
@rptaylor Thanks for the indepth analysis. It is really helpful. Would you like propose a PR to get this issue closed?

[2020-09-16 00:41] tengqm commented on #21052
Yes, the page has too many "notes" callouts, but the rendering problem seems fixed. Please feel free to reopen if needed.
/close

[2020-09-16 00:41] #21052 closed

[2020-09-16 01:03] supirman commented on #22296
I'm taking unlisted `/docs/tutorials/kubernetes-basics/scale/` to complete Kubernetes Basic Tutorial

[2020-09-16 03:06] yu-kasuya commented on #23374
/assign

[2020-09-16 03:11] girikuncoro commented on #22296
@supirman thanks, I've added your page to the list

[2020-09-16 04:05] oke-py commented on #23374
/close

[2020-09-16 04:05] #23374 closed

[2020-09-16 04:14] oke-py commented on #23382
/close

[2020-09-16 04:14] #23382 closed

[2020-09-16 06:41] zhiguo-lu opened #23920 "[zh] Chinese page https://kubernetes.io/zh/docs/concepts/ outdated"
**This is a Bug Report**
Chinese page https://kubernetes.io/zh/docs/concepts/ is different with English version page.
There should have a brief introduction in the area where I had marked red

<img width="573" alt="图片" src="https://user-images.githubusercontent.com/70930322/93299627-ef465b80-f827-11ea-8b1a-b48f68e236a2.png">

**Problem:**
I summarize what is missing in the following table：
items

[2020-09-16 06:43] zhiguo-lu commented on #23920
/language zh
/assign

[2020-09-16 08:50] joey95033 opened #23921 "What is use case?"
What is use case?

__Originally posted by @ai in https://github.com/storeon/storeon/pull/114#issuecomment-655197143__

[2020-09-16 08:51] #23921 closed

[2020-09-16 12:29] JornShen commented on #23003
I think I can do some job on it. ^-^
/assign

[2020-09-16 12:46] tengqm commented on #23003
@JornShen Thanks for signing up on this. Looking forward to your contributions.

[2020-09-16 13:41] joey95033 opened #23923 "Then you will have to manually install a required version...."
Then you will have to manually install a required version....

__Originally posted by @djrevmoon in https://github.com/SecuraBV/CVE-2020-1472/issues/8#issuecomment-693366059__

[2020-09-16 13:43] #23923 closed

[2020-09-16 14:41] inductor commented on #23449
/close

[2020-09-16 14:41] #23449 closed

[2020-09-16 14:42] inductor commented on #23471
/close

@kakts マージされるタイミングなら、closeの面倒まで見てもらえると助かります～

[2020-09-16 14:42] #23471 closed

[2020-09-16 14:42] inductor commented on #23341
/close

@kakts これも

[2020-09-16 14:42] #23341 closed

[2020-09-16 17:17] sftim commented on #23915
/sig node
/kind bug
/language en
/priority important-longterm

Also relevant, a bit: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#local-ephemeral-storage

[2020-09-16 21:18] cmastr commented on #23527
Ok this is done.

[2020-09-16 22:17] sftim commented on #23527
At the moment, there is a difference in rendering between
1. how names you use on the command line with `kubectl` (eg `kubectl get Deployment`) appear (currently: UpperCamelCase, not monospace)
2. how the details you see in a manifest appear (eg `.metadata.name`) appear (currently: lowerCamelCase, monospace)

Is there a way to preserve the difference to that it's clear to readers who know the conv

[2020-09-17 00:27] reylejano opened #23930 "Configure a Security Context for a Pod or Container"
Link to Linux Capabilities (https://linux-audit.com/linux-capabilities-hardening-linux-binaries-by-removing-setuid/) is a dead link

/assign @reylejano-rxm
/kind bug

[2020-09-17 02:05] howieyuen opened #23932 "[zh] index of /zh/docs/tasks/ is outdated"
**This is a Bug Report**

**Problem:**

Chinese page /zh/docs/tasks/ is outdated, which are missing description comparing with English version.

**Proposed Solution:**

Add missing description for each subjects in tasks. There are 14 descriptions missed totally. Following table indicates more explicity:

| subjects | outdated |
| --- | --- |
 |安装工具 | Yes |
|管理集群 | Yes |
| 配置 Pods 和容器|Yes |
| 管理 Ku

[2020-09-17 02:06] howieyuen commented on #23932
/assign

[2020-09-17 02:15] shuuji3 opened #23933 "Translate concepts/workloads/pods/ephemeral-containers into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [concepts/workloads/pods/ephemeral-containers](https://kubernetes.io/docs/concepts/workloads/pods/ephemeral-containers) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-09-17 02:28] howieyuen opened #23934 "[zh] /docs/tasks/configmap-secret/ is missing in Chinese version"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/zh/docs/tasks/configmap-secret/  is missing in Chinese version.
See https://kubernetes.io/docs/tasks/configmap-secret/ for more info.

**Proposed Solution:**
Add /docs/tasks/configmap-secret/ to zh version with three articles to be translated.

- [ ]  /zh/docs/tasks/configmap-secret/managing-secret-using-config-file.md

- [ ]  /zh/docs/t

[2020-09-17 02:28] howieyuen commented on #23934
/language zh
/assign

[2020-09-17 02:29] howieyuen commented on #23932
/language zh

[2020-09-17 02:53] yu-kasuya commented on #23458
/assign

[2020-09-17 06:52] jihoon-seo opened #23939 "Issue with k8s.io/ko/docs/concepts/overview/working-with-objects/common-labels/"
**This is a Bug Report**

**Problem:**
번역에 개선의 여지가 있음

- [원문](https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/#applications-and-instances-of-applications)

- [번역](https://kubernetes.io/ko/docs/concepts/overview/working-with-objects/common-labels/#%EC%95%A0%ED%94%8C%EB%A6%AC%EC%BC%80%EC%9D%B4%EC%85%98%EA%B3%BC-%EC%95%A0%ED%94%8C%EB%A6%AC%EC%BC%80%EC%9D%B4%EC%85%98-%E

[2020-09-17 07:39] Arhell opened #23941 "toggle button moved"
**This is a Bug Report**

**Problem:**
Bug:
![1](https://user-images.githubusercontent.com/26163841/93435287-deeabb00-f8d1-11ea-94b9-af67f1f9b564.jpg)
Normal:
![2](https://user-images.githubusercontent.com/26163841/93435305-e7db8c80-f8d1-11ea-9c41-89b89e222784.jpg)

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/tutorials/kubernetes-basics/

/area web-development
/language

[2020-09-17 09:03] tkoeck opened #23943 "Create epub files for Kubernetes documentation"
Is it possible to provide the Kubernetes documentation with epub files for an ereader?

[2020-09-17 09:15] markruler opened #23944 "Translate reference/access-authn-authz/controlling-access/ into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate reference/access-authn-authz/controlling-access/ into Korean.

**Why is this needed**

There is no document of reference/access-authn-authz/controlling-access/ which is translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/reference/access-authn-authz/controlling-access/
/language ko

[2020-09-17 09:31] shuuji3 opened #23945 "Translate contribute/review/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [contribute/review/](https://kubernetes.io/docs/contribute/review/) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-09-17 09:36] shuuji3 opened #23947 "Translate contribute/review/reviewing-prs into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [contribute/review/reviewing-prs](https://kubernetes.io/docs/contribute/review/reviewing-prs) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-09-17 10:16] RA489 commented on #23854
/triage support

[2020-09-17 10:17] inductor commented on #23368
/close

[2020-09-17 10:17] #23368 closed

[2020-09-17 10:19] RA489 commented on #23650
+1 for this update.

[2020-09-17 10:21] RA489 commented on #23474
@Yiyiyimu can you please try info on this PR https://github.com/kubernetes/minikube/pull/8555. if it solves your issue?

[2020-09-17 10:27] zhiguo-lu opened #23950 "[zh] /docs/setup/learning-environment/kind/ is missing in Chinese version"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/setup/learning-environment/kind/ is missing in Chinese version.

**Proposed Solution:**
Add content/zh/docs/setup/learning-environment/kind.md

**Page to Update:**
https://kubernetes.io/zh/docs/setup/learning-environment/kind/

content/zh/docs/setup/learning-environment/kind.md
content/zh/docs/setup/learning-environment/minikube.md

[2020-09-17 10:28] zhiguo-lu commented on #23950
/language zh
/assign

[2020-09-17 11:54] shuzokato commented on #23769
/assign

[2020-09-17 12:05] markruler commented on #23944
/assign

[2020-09-17 12:27] markruler commented on #23944
/assign

[2020-09-17 12:42] #23920 closed

[2020-09-17 14:18] #23945 closed

[2020-09-17 14:35] kbhawkey commented on #21563
@sftim, Should this issue remain open? Thanks!

[2020-09-17 14:38] bergerhoffer commented on #23527
Hi @sftim - before continuing, I assume that resource types passed to kubectl are case insensitive. Is that a correct assumption?

I hadn't been considering kubectl commands in this guidance at all. The guidance change was more targeted for referring to terms/objects in normal running text (as per the examples here [1]). I had just assumed that the resource names in kubectl commands were always lo

[2020-09-17 15:18] seokho-son commented on #23774
@sftim Thank you for checking outdated contents in Korean docs!
(Thank you. quick response ! @pjhwa)

I guess this issue is about Korean l10n not about Japanese l10n.
(the description of this issue mentions Japanese l10n)

Korean l10n team has updated outdated files for Korean contents (1.18->1.19, PR: #23702)

[FYI] Korean l10n team uses [a script](https://github.com/kubernetes/website/blob/maste

[2020-09-17 15:18] #23828 closed

[2020-09-17 15:19] #23532 closed

[2020-09-17 15:19] #23818 closed

[2020-09-17 16:14] sftim commented on #21563
I can see one thing that still needs doing
/retitle Sort third party client library links

so the link text is clearly in alphabetical order.

[2020-09-17 16:20] sftim commented on #23527
Yep

When we illustrate these commands with shell snippets, we write resource names lower case. I think that's fine because the CLI also prints those resource names lowercase (to try this: `kubectl get Namespace -o name`). Let's make sure the style guide ends up clear on this aspect too.

Overall: most of the time, the documentation is matching the capitalization that the code and tools already us

[2020-09-17 16:23] sftim commented on #23527
Some differences:
[code]

[2020-09-17 16:51] sftim commented on #23774
/close

[2020-09-17 16:52] #23774 closed

[2020-09-17 16:56] sftim commented on #23914
/area web-development
/kind cleanup

@raghvenders a mockup would be useful

[2020-09-17 16:56] sftim commented on #23914
/priority awaiting-more-evidence
(adjust this once the discussion has made it clear)

[2020-09-17 16:56] sftim commented on #23930
/language en
/kind bug

[2020-09-17 16:56] sftim commented on #23930
/priority backlog

[2020-09-17 18:06] tmegow opened #23960 "DNS for Services and Pods - Lack of service PTR record documentation"
Kubernetes version: `v1.14.10-gke.36`

[code]

[code]

[The DNS for Services and Pods docs](https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#services) mention PTR records for pods, but does not mention PTR records for services. I see that they are created, can these documents be updated?