[2020-03-28 02:47] pjhwa commented on #19911
/language ko
/assign

[2020-03-28 03:15] #16649 closed

[2020-03-28 05:11] rajeshdeshpande02 commented on #19847
Hello @sftim , We already have 4 Task pages for Limit Range under the administration section and those pretty much cover every detail. But I agree with you, Limit Range concept document embeds a section on trying out LimitRange. So can we simply remove that from concept page instead of creating new tasks page as we already have those tasks covered.
These are existing task pages available for Limit

[2020-03-28 05:21] jhalebot opened #19916 "Issue with k8s.io/docs/contribute/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-03-28 05:22] #19916 closed

[2020-03-28 05:34] #19895 closed

[2020-03-28 06:43] pjhwa opened #19921 "Translate policy/pod-security-policy.md in Korean"
**This is a Feature Request**

**What would you like to be added**
Translate concepts/policy/pod-security-policy.md in Korean.

**Why is this needed**
There is no documents with concepts/policy/pod-security-policy.md in Korean.

**Comments**
Page to update: https://kubernetes.io/docs/concepts/policy/pod-security-policy/

[2020-03-28 06:43] pjhwa commented on #19921
/language ko
/assign

[2020-03-28 09:32] matti125 opened #19927 "Improvement for k8s.io/docs/setup/"
There does not seem to be documentation about how to install kubernetes without helper tools such as kubeadm, k3s, others. I know of the https://github.com/kelseyhightower/kubernetes-the-hard-way instructions, but I  do not think they are the canonical instructions for setting k8s up.

[2020-03-28 15:47] #18444 closed

[2020-03-28 16:24] pjhwa opened #19930 "Translate policy/resource-quotas.md in Korean"
**This is a Feature Request**

**What would you like to be added**
Translate concepts/policy/resource-quotas.md in Korean.

**Why is this needed**
There is no documents with concepts/policy/resource-quotas.md in Korean.

**Comments**
Page to update: https://kubernetes.io/docs/concepts/policy/resource-quotas/

[2020-03-28 16:24] pjhwa commented on #19930
/language ko
/assign

[2020-03-28 18:46] neolit123 commented on #19927
the canonical way of installing kubernetes is using the tools under /setup.
the "hard-way" showcases the amount of work one has to do to install kubernetes manually.

i don't think we should maintain such a "hard-way" guide at k/website.
i fact, i think there was such a guide here at some point but we removed it.

/sig docs cluster-lifecycle
/priority awaiting-more-evidence
/kind feature

[2020-03-28 20:09] viniciusbds commented on #13939
Hi @femrtnz ! I'd like to translate **Kubernetes Scheduler** topic
at "docs/concepts/scheduling/kube-scheduler.md".
Can you assign to me?

[2020-03-29 00:41] JamelB83 opened #19934 "Issue with k8s.io/fr/docs/concepts/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-03-29 01:51] tengqm commented on #19934
Please reopen with some details regarding the issue(s) you encountered.
/close

[2020-03-29 01:52] #19934 closed

[2020-03-29 01:56] tengqm commented on #19876
/assign

[2020-03-29 02:07] tengqm commented on #19841
This has been fixed by the four related PRs.
/close

[2020-03-29 02:08] #19841 closed

[2020-03-29 02:55] prasadkatti opened #19936 "The namespaces-walkthrough page has some duplicate content"
**Problem:**
The [namespaces-walkthrough page](https://kubernetes.io/docs/tasks/administer-cluster/namespaces-walkthrough/) and [share-a-cluster-with-namespaces page](https://kubernetes.io/docs/tasks/administer-cluster/namespaces/) have some overlapping content.

**Proposed Solution:**
The namespaces-walkthrough page needs to be folded into the share-a-cluster-with-namespaces page.

**Page to Upda

[2020-03-29 07:11] ukreddy-erwin opened #19937 "Issue with k8s.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/"
Windows node, not connecting after restarted.

Status is showing as NotReady even after so much time.

[2020-03-29 09:59] 532910 commented on #18759
Why does it matter?

To be clear: I mean left and right arrow or some markers that help to understand that menu is scrollable. For example:
https://asmyshlyaev177.github.io/react-horizontal-scrolling-menu/
https://reactjsexample.com/horizontal-scrolling-menu-component-for-react/
https://www.jqueryscript.net/menu/Responsive-Scrolling-Navigation-Menu-With-jQuery-jQuery-UI.html

[2020-03-29 13:52] bogdansolga opened #19942 "Issue with k8s.io/docs/tutorials/stateful-application/basic-stateful-set/"
**This is a Bug Report**

**Problem:**
When I try to create the example for the `StatefulSet`, using the content of [this](https://raw.githubusercontent.com/kubernetes/website/master/content/en/examples/application/web/web.yaml) file, I get an error for the first created Pod:

`error while running "VolumeBinding" filter plugin for pod "web-0": pod has unbound immediate PersistentVolumeClaims`

**P

[2020-03-29 13:55] rohitanair opened #19943 "Inconsistent website sections as what's next section is missing is some of the pages."
**This is a Bug Report**

**Problem:**
Inconsistent website sections as what's next section is missing is some of the pages.
https://kubernetes.io/docs/concepts/

**Proposed Solution:**
Adding What's next section to pages

**Page to Update:**

https://kubernetes.io/docs/concepts/overview/kubernetes-api/
https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
https://kubernetes.io

[2020-03-29 18:25] Arhell opened #19946 "Left menu doesn't work in mobile"
**This is a Bug Report**

main issue fixrd #19040

**Problem:**
Left menu doesn't work in mobile

**Proposed Solution:**
need fix on ru lang
fix en lang #19646 PR

**Page to Update:**
https://kubernetes.io/ru/docs/home/

/assign
/language ru

[2020-03-29 20:44] neolit123 commented on #19937
for support requests try the #sig-windows channel on k8s slack.
alternatively log a ticket here:
https://github.com/kubernetes-sigs/sig-windows-tools
but provide better detail about your setup.

/close

[2020-03-29 20:44] #19937 closed

[2020-03-29 21:02] femrtnz commented on #18333
Hi @sftim

I think we can close this, right?

Thanks

[2020-03-29 22:07] pjhwa opened #19948 "Translate extend-kubernetes/extend-cluster.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/extend-kubernetes/extend-cluster.md in Korean.

**Why is this needed**
There is no document with concepts/extend-kubernetes/extend-cluster.md in Korean.

**Comments**

Page to update: https://kubernetes.io/docs/concepts/extend-kubernetes/extend-cluster/

[2020-03-29 22:08] pjhwa commented on #19948
/language ko
/assign

[2020-03-30 00:01] #18644 closed

[2020-03-30 00:01] #18645 closed

[2020-03-30 01:49] ysyukr opened #19953 "Translate storage/storage-classes.md in Korean."
**This is a Feature Request**

**What would you like to be added**
Translate storage/storage-classes.md in Korean.

**Why is this needed**
The following files are not translated into Korean.
- [ ] /en/docs/concepts/storage/storage-classes.md

**Comments**
Page to update: https://kubernetes.io/docs/concepts/storage/storage-classes/

I am translating this document.
The translated document will be su

[2020-03-30 01:50] ysyukr commented on #19953
/assign

[2020-03-30 01:52] ysyukr opened #19954 "Translate configuration/resource-bin-packing.md in Korean."
**This is a Feature Request**

**What would you like to be added**
Translate configuration/resource-bin-packing.md in Korean.

**Why is this needed**
The following files are not translated into Korean.
- [ ] /en/docs/concepts/configuration/resource-bin-packing.md

**Comments**
Page to update: https://kubernetes.io/docs/concepts/configuration/resource-bin-packing/

I am translating this document.
T

[2020-03-30 01:52] ysyukr commented on #19954
/assign

[2020-03-30 02:19] ysyukr opened #19958 "Translate containers/container-environment.md in Korean."
**This is a Feature Request**

**What would you like to be added**
Translate containers/container-environment.md in Korean.

**Why is this needed**
The following files are not translated into Korean.
- [ ] /en/docs/concepts/containers/container-environment.md

**Comments**
Page to update: https://kubernetes.io/docs/concepts/containers/container-environment/

I am translating this document.
The tra

[2020-03-30 02:20] ysyukr commented on #19958
/assign

[2020-03-30 02:22] #19958 closed

[2020-03-30 04:23] bluefriday opened #19964 "Update container/containers-environment.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Update concepts/containers/Container Environment view in Korean.

**Why is this needed**

There is an changes to concepts/containers/container-environment in Korean.

**Comments**

Page to Update:
https://kubernetes.io/docs/concepts/containers/container-environment/

[2020-03-30 04:23] bluefriday commented on #19964
/language ko
/assign

[2020-03-30 04:32] ysyukr commented on #19964
안녕하세요.
container-environment.md 문서는 쿠버네티스 1.18 릴리스가 되며 container-environment-variables.md 문서의 이름이 변경된 이름입니다.

변경된 것에 대한 업데이트는 #19886 을 통해 반영될 예정에 있습니다.
참고 부탁드립니다.

[2020-03-30 04:56] bluefriday commented on #19964
Thanks. I'll close this issue. :D

[2020-03-30 04:56] #19964 closed

[2020-03-30 05:08] ysyukr opened #19965 "Translate partners/_index.html in Korean."
**This is a Feature Request**

**What would you like to be added**
Translate partners/_index.html in Korean.

**Why is this needed**
The following files are not translated into Korean.
- [ ] /en/partners/_index.html

**Comments**
Page to update: https://kubernetes.io/partners/

I am translating this document.
The translated document will be submitted to dev-1.18-ko.1 branch.

/language ko

[2020-03-30 05:08] ysyukr commented on #19965
/assign

[2020-03-30 05:24] cometrojan opened #19966 "Translate "Validate IPv4/IPv6 dual-stack" in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate "Validate IPv4/IPv6 dual-stack" in Korean

**Why is this needed**
No translation with "Validate IPv4/IPv6 dual-stack" in Korean

**Comments**

Page to Update:
https://kubernetes.io/docs/tasks/network/validate-dual-stack/

[2020-03-30 05:25] cometrojan commented on #19966
/language ko
/assign

[2020-03-30 05:52] ysyukr opened #19968 "Translate community/_index.html in Korean."
**This is a Feature Request**

**What would you like to be added**
Translate community/_index.html in Korean.

**Why is this needed**
The following files are not translated into Korean.
- [ ] /en/community/_index.html

**Comments**
Page to update: https://kubernetes.io/community/

I am translating this document.
The translated document will be submitted to dev-1.18-ko.2 branch.

/language ko

[2020-03-30 05:52] ysyukr commented on #19968
/assign

[2020-03-30 08:08] guslcho opened #19973 "Issue with k8s.io/ko/docs/reference/issues-security/issues/"
**This is a Bug Report**

**Problem: Menu position is wrong
I think it should be located at  [Kubernetes Issues and Security] > [쿠버네티스 이슈 트래커]
but it is in this  [쿠버네티스 이슈 트래커]

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/ko/docs/reference/issues-security/issues/

v1.18

[2020-03-30 08:09] guslcho commented on #19973
update issue

[2020-03-30 08:15] guslcho opened #19974 "Issue with k8s.io/ko/docs/reference/issues-security/security/"
**This is a Bug Report**

**Problem:**
I think it should be located at [Kubernetes Issues and Security] > [쿠버네티스 보안과 공개 정보]
but it is in this [쿠버네티스 보안과 공개 정보]

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/ko/docs/reference/issues-security/security/

v1.18

[2020-03-30 12:16] squaricdot opened #19977 "Improvement for k8s.io/docs/tasks/manage-kubernetes-objects/kustomization/"
List the version of kustomize that is integrated within kubectl

Updating kustomize in kubectl seems not easy implementable atm:

https://github.com/kubernetes/kubectl/issues/818

It was a bit confusing. I bet more people will have this struggle. I guess when this is listed clearly it saves time.

[2020-03-30 15:49] fancc opened #19981 "Translate Device Plugins in Chinese"
**This is a Feature Request**

**What would you like to be added**
Translate Device Plugins in Chinese

**Why is this needed**
The following files are not translated into Chinese.
concepts/extend-kubernetes/compute-storage-net/device-plugins.md

/language zh

[2020-03-30 15:49] fancc commented on #19981
/assign

[2020-03-30 16:21] ysyukr commented on #19859
/close

[2020-03-30 16:22] #19859 closed

[2020-03-30 18:46] dsbos opened #19985 "Doc.: orphaned fragment on k8s.io/docs/reference/access-authn-authz/authentication/"
**This is a Bug Report**

**Problem:**
The page at https://kubernetes.io/docs/reference/access-authn-authz/authentication/ currently contains the confusing sentence fragment:

"An admin distributing private keys, a user store like Keystone or Google Accounts, even a file with a list of usernames and passwords."

**Proposed Solution:**

Probably, connect the preceding sentence and this fragment. (I

[2020-03-30 19:12] sfxworks commented on #19498
I guess it would be priority/backlog based on that list. I wouldn't mind adding some meta to k8s's site (looks like Hugo? long as I can find the right place in the theme I could get it done later)

[2020-03-31 00:36] ysyukr commented on #19860
/close

[2020-03-31 00:36] #19860 closed

[2020-03-31 00:53] dmoonskim opened #19988 "Translate tasks/configure-pod-container/assign-memory-resource.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/configure-pod-container/assign-memory-resource.md in Korean

**Why is this needed**
No translation tasks/configure-pod-container/assign-memory-resource.md in Korean

**Comments**

https://kubernetes.io/docs/tasks/configure-pod-container/assign-memory-resource/

[2020-03-31 00:53] dmoonskim commented on #19988
/language ko
/assign

[2020-03-31 02:21] coolguyhong opened #19989 "Translate tasks/configure-pod-container/assign-pods-nodes in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/configure-pod-container/assign-pods-nodes in Korean

**Why is this needed**
No translation with tasks/configure-pod-container/assign-pods-nodes in Korean

**Comments**

Page to Update:
https://kubernetes.io/docs/tasks/configure-pod-container/assign-pods-nodes/

[2020-03-31 02:22] coolguyhong commented on #19989
/language ko
/assign

[2020-03-31 04:15] gochist commented on #19974
/language ko

[2020-03-31 04:16] gochist commented on #19973
/language ko

[2020-03-31 06:02] prasadkatti opened #19996 "[overview/kubernetes-api] extensions/v1beta1 group is no longer served in 1.18"
**This is a Bug Report**

**Problem:**
The [Enabling specific resources in the extensions/v1beta1 group](https://kubernetes.io/docs/concepts/overview/kubernetes-api/#enabling-or-disabling-api-groups) section on the overview/kubernetes-api page shows how to enable deployments and daemonsets in `extensions/v1beta1` API group. But that api group is no longer served in 1.18.
See PR - https://github.co

[2020-03-31 07:57] mkorbi commented on #14137
working on /concepts/services-networking/*

[2020-03-31 08:11] docker-netes opened #20002 "Issue with k8s.io/docs/tasks/access-application-cluster/web-ui-dashboard/"
it is not used for windows nodes in kubernetes cluster

[2020-03-31 08:36] YanzhaoLi opened #20003 "Issue with k8s.io/docs/tasks/administer-cluster/encrypt-data/"
**This is a Bug Report**

**Problem:**
For the section of **Rotating a decryption key**,  would the first two steps be necessary?

1. Generate a new key and add it as the second key entry for the current provider on all servers
2. Restart all kube-apiserver processes to ensure each server can decrypt using the new key

**Proposed Solution:**
remove these two steps

**Page to Update:**
https://kube

[2020-03-31 08:37] bluefriday opened #20004 "Translate concepts/configuration/pod-overhead.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/configuration/pod-overhead view in Korean.

**Why is this needed**

There is no documents with concepts/configuration/pod-overhead in Korean.

**Comments**

https://kubernetes.io/docs/concepts/configuration/pod-overhead/

[2020-03-31 08:37] bluefriday commented on #20004
/language ko
/assign

[2020-03-31 11:52] bobbiliraja opened #20006 "Issue with k8s.io/docs/concepts/cluster-administration/networking/"
I installed k8s cluster with 3-master,2-nodes and 2-haproxy with version-1.14.1.Masters and nodes are ready state but core dns pods are in creating state.I tested with calico and weave network but the network pods itself not creating and still coredns pods are in creating state.Can any one help me in this scenario.

[2020-03-31 12:46] zhanw15 opened #20009 "Context in i18n/en.toml changes, other language should changes"
Context in i18n/en.toml add ```[community_youtube_name]```, other language should add.

[2020-03-31 13:06] pjhwa opened #20016 "Issue with k8s.io/docs/concepts/policy/limit-range/"
**This is a Bug Report**

**Problem:**
There are some markdown errors like below:

Line 71: missing backquote for "limitrange-demo"
To avoid passing the target limitrange-demo in your kubectl commands, change your context with the following command:

Line 183: missing backquote for "limit-mem-cpu-per-container"
-  The Container does not define a request section. The default request defined in the

[2020-03-31 13:11] pjhwa commented on #20016
/assign

[2020-03-31 16:53] Arhell commented on #19946
/close

[2020-03-31 16:53] #19946 closed

[2020-03-31 17:16] halmai commented on #18079
I also had the same issue on Windows10.
I have been struggling for two days until I reached the solution from @ThomasG77 (thank you).
It is really frustrating when you want to learn something from the official manual and it is simply just wrong/incomplete. And it has been in this state for a while, this ticket has been opened several months ago.
I think the manual should say that in some circumsta

[2020-03-31 17:40] #17114 closed

[2020-03-31 20:29] sftim opened #20023 "Untidy prerequisites for “Set up Ingress on Minikube with the NGINX Ingress Controller”"
**This is a Bug Report**

**Problem:**
The page [Set up Ingress on Minikube with the NGINX Ingress Controller](https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/) has a cautionary note about a prerequisite:

this note belongs on the page, however the best place for it is in the Prerequisites section.

**Proposed Solution:**
Edit the page to move the caution note to be th

[2020-03-31 20:29] sftim commented on #20023
If you are looking to work on this and would like help, please reply here. I'll watch for replies.

[2020-03-31 20:30] sftim commented on #20002
@srikanthp488 can you clarify the issue you're reporting here? It sounds like you might be saying that the Dashboard isn't useful if some of the nodes in your cluster run Windows.

Have I got that right?

/triage needs-information

[2020-03-31 20:32] sftim commented on #19977
@squaricdot can you clarify: are you suggesting an improvement to kubectl, or a tweak to the page wording?

I read the issue text above and I wasn't sure.

(If you want to file an issue against `kubectl`, you can do that via [k/kubectl](https://github.com/kubernetes/kubectl/issues/new)).

[2020-03-31 20:34] sftim commented on #20003
It seems to me that key rotation inevitable involves creating new key material; that step is fundamental to the meaning of the term “key rotation”.

Can you clarify why you're asking that question @YanzhaoLi?

[2020-03-31 22:14] celestehorgan commented on #19811
I don't have real feedback for you yet, but wanted to bring up that [this section](https://github.com/kubernetes/community/tree/master/icons) exists in the k8s community repo.

[2020-04-01 00:17] dkypuros commented on #19811
Taking a closer look at this section...

[2020-04-01 01:00] prasadkatti commented on #20023
Isn't there an effort underway to move minikube related pages onto the minikube site?
https://github.com/kubernetes/website/issues/15969 and https://github.com/kubernetes/minikube/issues/5686

[2020-04-01 02:05] sunminjeon commented on #19675
https://github.com/kubernetes/website/pull/19684

[2020-04-01 02:42] YanzhaoLi commented on #20003
@sfabel  Yes. but why should we add it as the second key entry and restart all kube-apiserver processes? By my limited knowledge, I think the following four steps are ok:

1. Make the new key the first entry in the keys array so that it is used for encryption in the config
2. Restart all kube-apiserver processes to ensure each server now encrypts using the new key
3. Run `kubectl get secrets --all

[2020-04-01 03:06] srikanthp488 commented on #20002
Yes,The Dashboard isn't useful if some of the nodes in your cluster run
Windows

On Wed, Apr 1, 2020, 2:01 AM Tim Bannister <notifications@github.com> wrote:

[2020-04-01 04:14] ydcool commented on #17333
@tanjunchen Sorry for the long delay... finally pushed.

[2020-04-01 08:02] femrtnz commented on #18333
/assign @sftim

[2020-04-01 09:22] sftim commented on #18333
Looks done to me.

[2020-04-01 09:22] #18333 closed

[2020-04-01 10:33] Arhell commented on #19527
resolve
/close

[2020-04-01 10:34] #19527 closed

[2020-04-01 10:51] pjhwa opened #20036 "Translate extend-kubernetes/operator.md in Korean"
**This is a Feature Request**

**What would you like to be added**
Translate concepts/extend-kubernetes/operator.md in Korean.

**Why is this needed**
There is no documents with concepts/extend-kubernetes/operator.md in Korean.

**Comments**

Page to update: https://kubernetes.io/docs/concepts/extend-kubernetes/operator/

[2020-04-01 10:52] pjhwa commented on #20036
/language ko
/assign

[2020-04-01 11:04] sftim commented on #19847
It'd be fine to link to those and shorten the concept page, indeed.

[2020-04-01 12:15] Fale commented on #18383
/remove-lifecycle stale

[2020-04-01 14:44] gochist commented on #20016
/language en
/language ko

[2020-04-01 14:46] gochist commented on #19973
/good-first-issue

[2020-04-01 14:46] gochist commented on #19974
/good-first-issue

[2020-04-01 15:38] AXington opened #20041 "Improvement for k8s.io/docs/concepts/overview/working-with-objects/field-selectors/"
Would be really nice to have links to where we can find the fields for specific resource types, and/or a list of some field selectors for more common resources like pods, nodes, etc.

[2020-04-01 18:21] #17556 closed

[2020-04-01 18:28] edwin2804 opened #20043 "Issue with k8s.io/docs/tutorials/configuration/configure-redis-using-configmap/"
Warning  FailedMount  67s (x10 over 21m)  kubelet, docker-desktop  Unable to mount volumes for pod "redis_default(fb68a597-838e-4dbb-a252-36cd8eeba1a4)": timeout expired waiting for volumes to attach or mount for pod "default"/"redis". list of unmounted volumes=[config]. list of unattached volumes=[data config default-token-b9nw7]
  Warning  FailedMount  59s (x19 over 23m)  kubelet, docker-desktop

[2020-04-01 18:29] edwin2804 commented on #20043
I am trying the sample with Docker desktop on windows

[2020-04-01 18:56] davivcgarcia commented on #20023
I can work on this one! Should I?

[2020-04-01 18:57] Heena-PyCloud commented on #20023
I am looking to start contributing. looks like ..I can start with this.

[2020-04-01 19:03] sftim commented on #20023
Go for it! Contributions welcome.

Bear in mind https://www.redhat.com/en/blog/dont-lick-cookie when it comes to deciding if you want to work on this.

@prasadkatti I think this example only happens to use Minikube; a separate PR could rework it to explain how to try out Ingress with a different kind of learning environment.

[2020-04-01 19:12] davivcgarcia commented on #20023
@sftim I'm reviewing the content and looks like the tutorial is explaining how to deploy the Ingress Controller, which is exactly what the caution note is mentioning. IMHO, the caution node should be removed instead of moved to other section.

[2020-04-01 19:16] davivcgarcia commented on #20023
@sftim another good point is that `task-tutorial-prereqs.md` is saying the user could use Kubernetes playgrounds (Katacoda, play-with-k8s) which are not Minikube.

[2020-04-01 19:36] sftim commented on #20023
Sure, it's OK to remove the caution note.

https://github.com/kubernetes/website/issues/20023#issuecomment-607440989 sounds like it could be a new separate issue(?)

[2020-04-01 19:57] sftim opened #20045 "Buggy HTML entity in content guidelines page"
**This is a Bug Report**

**Problem:**
The rendered page includes the following incorrect text:

“&emdash;” is wrong.

**Proposed Solution:**
Change `&emdash;` to `&mdash;` in that page.

**Page to Update:**
https://kubernetes.io/docs/contribute/style/content-guide/

/kind bug
/good-first-issue
/language en

[2020-04-01 20:04] sftim commented on #16085
/reopen
@celestehorgan let's collaborate on this!

[2020-04-01 20:52] ctxrag opened #20046 "Issue with k8s.io/docs/concepts/overview/working-with-objects/field-selectors/"
**This is a Bug Report**

**Problem:**
I want to list all pods except those NOT in Completed state.
field selector still outputs pods in Completed phase when Selected not Completed in kubectl command
**Proposed Solution:**
`kubectl get pods --all-namespaces --field-selector=spec.nodeName=node1,status.phase!=Completed --no-headers

``test-2d7dbabf-f8cc-4c0b-af3b-80db52d2257e   nightly-2020-04-01-13

[2020-04-02 00:45] santachopa opened #20049 "Translate concepts/containers/overview in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/containers/overview in Korean

**Why is this needed**
No translation with concepts/containers/overview in Korean

**Comments**

Page to Update:
https://kubernetes.io/docs/concepts/containers/overview/

[2020-04-02 00:45] santachopa commented on #20049
/language ko
/assign

[2020-04-02 01:00] #20049 closed

[2020-04-02 01:00] santachopa commented on #20049
duplicated issue

[2020-04-02 01:21] santachopa opened #20050 "Translate extend-kubernetes/service-catalog.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate extend-kubernetes/service-catalog.md in Korean

**Why is this needed**
No translation extend-kubernetes/service-catalog.md in Korean

**Comments**

Page to update : https://kubernetes.io/docs/concepts/extend-kubernetes/service-catalog/

[2020-04-02 01:22] santachopa commented on #20050
/language ko
/assign

[2020-04-02 01:22] santachopa commented on #20050
/check-cla

[2020-04-02 01:45] santachopa opened #20052 "Translate reference/glossary/service-catalog.md"
**This is a Feature Request**

**What would you like to be added**

Translate reference/glossary/service-catalog.md in Korean

**Why is this needed**
No translation reference/glossary/service-catalog.md in Korean

**Comments**

Page to update : https://kubernetes.io/ko/docs/reference/glossary/?extension=true#term-service-catalog

[2020-04-02 01:45] santachopa commented on #20052
/language ko
/assign

[2020-04-02 02:21] Colstuwjx commented on #20046
I think it's not a good place to ask questions.

For your question, relative issue see [this](https://github.com/kubernetes/kubernetes/issues/49387#issuecomment-424548856).

/triage support

[2020-04-02 02:24] Colstuwjx commented on #20006
It's not a good place to ask questions. For asking help, see [this page](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/#help-my-question-isn-t-covered-i-need-help-now).

[2020-04-02 02:24] Colstuwjx commented on #20006
/triage support

[2020-04-02 02:26] Colstuwjx commented on #19996
/kind bug
/language en

[2020-04-02 02:51] tengqm commented on #20046
Confirmed on 1.16. Maybe you want to file a bug in the upstream project, not here. It sounds more like a bug in kubectl.

[2020-04-02 02:57] tengqm commented on #20046
Em, after digging into this, I found that 'Completed' is not a 'phase'. The valid phase values are: `Pending`, `Running`, `Succeeded`, `Failed`, `Unknown`.
/close

[2020-04-02 02:57] #20046 closed

[2020-04-02 02:58] tengqm commented on #20046
ps. https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/types.go#L2208-L2229

[2020-04-02 03:05] Colstuwjx commented on #20041
/language en
/kind documentation

[2020-04-02 04:07] ramazanpolat opened #20058 "PAAS CRI-O repo is missing"
**This is a Bug Report**

**Problem:**
The steps provided to install CRIO for CentOS/RHEL contains the following step but the provided URL is not found(404) therefore CRIO cannot be installed as instructed:
[code]
So installation of cri-o is failed with:

`Failed to download metadata for repo 'cbs.centos.org_repos_paas7-crio-115-release_x86_64_os_'`

**Page to Update:**
https://kubernetes.io/docs/

[2020-04-02 05:33] santachopa opened #20061 "Translate reference/glossary/managed-service.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate reference/glossary/managed-service.md in Korean

**Why is this needed**
No translated document reference/glossary/managed-service in Korean

**Comments**

Page to update : https://kubernetes.io/docs/reference/glossary/?extension=true#term-managed-service

[2020-04-02 05:34] santachopa commented on #20061
/language ko
/assign

[2020-04-02 05:42] guslcho commented on #19974
/assign

[2020-04-02 05:43] guslcho commented on #19973
/assign

[2020-04-02 06:13] Colstuwjx commented on #20058
/language en
/kind bug

[2020-04-02 06:45] Heena-PyCloud commented on #20045
working on this issue.

[2020-04-02 10:19] #16801 closed

[2020-04-02 10:28] sftim commented on #18628
@prasadkatti I noticed you were just working in this area - would you like to pick this issue up as well?

[2020-04-02 13:42] #20023 closed

[2020-04-02 13:48] sftim commented on #20045
Fixed in PR #20063

[2020-04-02 13:48] #20045 closed

[2020-04-02 14:54] davivcgarcia commented on #19507
@sftim is this fixed by PR #19522?

[2020-04-02 14:55] davivcgarcia commented on #19512
@sam-sla is this fixed by PR #19530?

[2020-04-02 15:06] davivcgarcia commented on #19847
@sftim and @rajeshdeshpande02: Are you guys working on it? I think I can help on that!

[2020-04-02 15:12] sftim commented on #19507
Looks fixed to me.
/close

[2020-04-02 15:12] #19507 closed

[2020-04-02 15:54] sftim commented on #19847
I've logged the issue; I'm hoping that someone else - you, @davivcgarcia? - will be willing to make the changes here.

[2020-04-02 15:56] sam-sla commented on #19512
Yes @davivcgarcia a comment was added making it more clear 👍

[2020-04-02 16:10] sftim commented on #19512
/close

based on https://github.com/kubernetes/website/issues/19512#issuecomment-60793298

[2020-04-02 16:11] #19512 closed

[2020-04-02 16:27] davivcgarcia commented on #19847
Sure! I'll work on it.

/assign

[2020-04-02 16:29] davivcgarcia commented on #19847
I'll clear the `help wanted` flag to avoid confusion.

/remove-help

[2020-04-02 16:42] prasadkatti commented on #18628
Sure. :)

On Thu, Apr 2, 2020 at 3:28 AM Tim Bannister <notifications@github.com>
wrote:

[2020-04-02 16:43] prasadkatti commented on #18628
/assign

On Thu, Apr 2, 2020 at 9:42 AM Prasad Katti <prasadmkatti@gmail.com> wrote:

[2020-04-02 18:17] MikeSpreitzer opened #20065 "I was surprised that field selectors contribute to authorization"
**This is a Bug Report**

**Problem:**
Even though I read https://kubernetes.io/docs/reference/access-authn-authz/authorization/#review-your-request-attributes , and even though it does not say that query parameters do not matter, I somehow expected they would not be considered.  I think it is worth explicitly calling this out.

**Proposed Solution:**
Explicitly note that the namespace and name ca

[2020-04-02 18:23] MikeSpreitzer commented on #14858
@sftim : I see two choices: either
(A) we say that "users" are divided between "normal users" and "service acounts", or
(B) we say that "users" and "service accounts" are different things and invent yet another term that means "user or service account" (because we will find ourselves wanting to talk about whatever identity is issuing a request without having stipulate one or the other or write tha

[2020-04-02 18:34] MikeSpreitzer opened #20066 "Broken links from k8s.io/docs/concepts/cluster-administration/flow-control/ to API references"
**This is a Bug Report**

**Problem:**
I tried to follow the links to the API Reference pages for FlowSchema and PriorityLevelConfiguration and I got to the right web page but not the right place in the web page.  The URL's segment identifier is missing a bit of stuff at the end.

**Proposed Solution:**
Fix the URLs.

**Page to Update:**
https://kubernetes.io/docs/concepts/cluster-administration/f

[2020-04-02 18:38] MikeSpreitzer opened #20067 "Inadequate introductory paragraph on k8s.io/docs/reference/access-authn-authz/webhook/"
**This is a Bug Report**

**Problem:**
The introductory paragraph of https://kubernetes.io/docs/reference/access-authn-authz/webhook/ does not say what the page is about --- which is using a webhook for authorization.  The introductory paragraph just defines the generic idea of a webhook.  A reader reading that gets no idea of the relevance of that page.

**Proposed Solution:**
Make the page start

[2020-04-02 19:11] Arhell opened #20068 "Left menu doesn't work in mobile (pl)"
**This is a Bug Report**

main issue fixed #19040

**Problem:**
Left menu doesn't work in mobile

**Proposed Solution:**
need fix on pl lang
fix en lang #19646 PR

**Page to Update:**
https://kubernetes.io/pl/docs/home/

/assign
/language pl

[2020-04-02 19:14] MikeSpreitzer commented on #14858
Actually, the code clearly follows (A) --- so I think the user-facing doc must too (unless or until the code changes).

[2020-04-02 20:00] savitharaghunathan commented on #20066
/help-wanted

[2020-04-02 20:03] savitharaghunathan commented on #20066
/good first issue

[2020-04-02 20:04] savitharaghunathan commented on #20066
/good-first-issue
/language en

[2020-04-02 23:43] MikeSpreitzer opened #20071 "Unclarity regarding target object namespace and name in authorization, admission control, and APF"
**This is a Bug Report**

**Problem:**
The user-facing documentation about authorization, about admission control, and about API Priority and Fairness (APF) do not clearly identify the correct sources of information about the target object's namespace and name that contribute to the authorization and APF features.

The truth of the matter is as follows.  In the URL in a request to the API, the tar

[2020-04-03 01:46] MikeSpreitzer opened #20074 "Inconsistent use of the term "resource""
**This is a Bug Report**

**Problem:**
The term "resource" is used in inconsistent ways in the user-facing documentation and some prominent usages diverge from the common usage in the code.  Sometimes "resource" is used like an object type or collection and sometimes it refers to an individual.  This would not be so bad if the doc and code stuck to the usual web convention that a "resource" is any

[2020-04-03 02:02] MikeSpreitzer opened #20075 "Scattered and incomplete documentation of query parameters in the API"
**This is a Bug Report**

**Problem:**
There is no easy-to-find (perhaps none exists) compilation of query parameters understood by the API.  I first looked in https://kubernetes.io/docs/reference/using-api/api-overview/ and found none.  I then looked in https://kubernetes.io/docs/reference/using-api/api-concepts/ and found a few, but not all.  That page did not discuss timeout or label selectors

[2020-04-03 02:45] MikeSpreitzer commented on #20065
See #20071

[2020-04-03 02:45] #20065 closed

[2020-04-03 03:27] tengqm commented on #20075
Hi, Mike, did you check the API reference?
For example, https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#list-deployment-v1-apps

[2020-04-03 04:07] sunminjeon opened #20076 "Translate concepts/storage/dynamic-provisioning in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/storage/dynamic-provisioning in Korean

**Why is this needed**
No translation concepts/storage/dynamic-provisioning.md in Korean

**Comments**

Page to update : https://kubernetes.io/docs/concepts/storage/dynamic-provisioning/

[2020-04-03 04:08] sunminjeon commented on #20076
/language ko
/assign

[2020-04-03 04:40] MikeSpreitzer commented on #20075
No, I did not.  I see what you mean now.  I was expecting some generic documentation.

[2020-04-03 06:57] Heena-PyCloud commented on #20066
I will work on this.

[2020-04-03 10:29] Arhell commented on #20068
resolve
/close

[2020-04-03 10:30] #20068 closed

[2020-04-03 10:42] #17426 closed

[2020-04-03 11:12] sftim commented on #18336
/remove-lifecycle stale
Done
/close

[2020-04-03 11:12] #18336 closed

[2020-04-03 11:56] sftim commented on #14858
I think it's OK for the code to frame things one way and for the documentation to explain things another way. That's because the audiences for the two are different.

For example, most pages don't mention implementation details such as informers (and don't need to) but the code certainly does describe things in these terms.

All the same, option (A) looks better. I don't know that “normal” is the

[2020-04-03 12:11] #18628 closed

[2020-04-03 12:11] sftim commented on #20067
A very good idea!
/priority backlog

[2020-04-03 12:13] sftim commented on #20074
That's also what I'd pick to put in documentation. In fact, it could even be a glossary entry:  “In Kubernetes, a resource is&hellip;”

[2020-04-03 14:10] davivcgarcia commented on #19847
@sftim @ rajeshdeshpande02 I've been exploring the docs related to concepts, and looks like all pages follow the same pattern of having explanation in text and exercises. What you are proposing is to restrict the concept docs to theoretical explanations and points to task docs for exercises/examples?

[2020-04-03 15:48] stavalfi commented on #12827
any update? fix the tutorial?

[2020-04-03 16:01] MikeSpreitzer commented on #14858
I am not convinced that the user-facing documentation is irrelevant to developers.  I am a developer myself, but I do not know everything; when I start to get into a new area, I start by reading the user-facing documentation for that area.  I do not expect the user-facing documentation to reveal implementation details.  But if it defines terms differently than the code, that gives me a headache.

[2020-04-03 16:09] sftim commented on #19847
“It depends”.
I think just on this page it's a bit longer than it needs to be, and hyperlinking would help. Other concept pages might be fine as they are.

[2020-04-03 16:11] sftim commented on #14858
Ah, that's a good point.

[2020-04-03 16:12] JonnyWaffles opened #20084 "Issue with k8s.io/docs/tutorials/configuration/configure-redis-using-configmap/"
Hi friends, in the first part the documentation https://kubernetes.io/docs/tutorials/configuration/configure-redis-using-configmap/#real-world-example-configuring-redis-using-a-configmap

the third paragraph says "Add the pod resource config to the kustomization.yaml" but I believe it is supposed to read "Add the pod resource config to the red-pod.yaml". I could be mistaken but this section confus

[2020-04-03 16:40] lavalamp commented on #20071
/cc

[2020-04-03 17:37] #19690 closed

[2020-04-03 17:49] #15704 closed

[2020-04-03 20:52] mcristina422 opened #20086 "Issue with k8s.io/docs/reference/access-authn-authz/authentication/"
**Problem:**
The json code block at the bottom of this section https://kubernetes.io/docs/reference/access-authn-authz/authentication/#input-and-output-formats is not properly indented as a pretty print. The source code is properly indented though

**Proposed Solution:**
Update Hugo version. v0.68.3 seems to work. But it fails to build plain html files like `user-guide-migration-notice.md`, so add

[2020-04-03 21:08] alimirjahani7 opened #20088 "Issue with k8s.io/docs/tutorials/stateless-application/guestbook/"
**This is a Bug Report**

useless master slave

**Problem:**
if the master pod gets stopped and then be restarted by Kubernetes, after each slave connects to master again, it removes its data. so it's useless to have slaves
**Proposed Solution:**
redis cluster
**Page to Update:**
https://kubernetes.io/...

[2020-04-03 23:13] Arhell opened #20089 "Left menu doesn't work in mobile (zh)"
**This is a Bug Report**

main issue fixed #19040

**Problem:**
Left menu doesn't work in mobile

**Proposed Solution:**
need fix on pl lang
fix en lang #19646 PR

**Page to Update:**
https://kubernetes.io/zh/docs/home/

/assign
/language zh

[2020-04-04 00:32] pjhwa opened #20091 "Translate extend-kubernetes/api-extension/custom-resources.md in Korean"
**This is a Feature Request**

**What would you like to be added**
Translate concepts/extend-kubernetes/api-extension/custom-resources.md in Korean.

**Why is this needed**
There is no documents with concepts/extend-kubernetes/api-extension/custom-resources.md in Korean.

**Comments**
Page to update: https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/custom-resources/

[2020-04-04 00:33] pjhwa commented on #20091
/language ko
/assign

[2020-04-04 00:54] gavinfish commented on #20086
/assign

[2020-04-04 06:46] Heena-PyCloud commented on #20066
Updated line 167(PriorityLevelConfigurations) &170(FlowSchemas) for correct api reference. #20077

[2020-04-04 10:05] #17386 closed

[2020-04-04 14:47] jfradley commented on #19629
@RA489 sorry for the delay. I thought the page would have been automatically associated when I hit the `Create an Issue` button on it.

I think a number of pages are effected, but here's a specific one (contains image linked by @tengqm):
https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro/

[2020-04-04 15:31] MikeSpreitzer commented on #20066
@Heena-PyCloud : thanks!

[2020-04-04 15:31] #20066 closed

[2020-04-04 16:18] fanruinet commented on #18476
/remove-lifecycle stale

[2020-04-04 16:32] fanruinet commented on #18476
This is not fixed yet.

[2020-04-04 17:04] ydcool commented on #17552
@tanjunchen Sorry for the delay. Update has been pushed.

[2020-04-04 19:39] #19847 closed

[2020-04-05 01:59] gavinfish commented on #20086
Ref #19905 and #19907.

The upgrade of hugo is ongoing. This should also be fixed when it is ready.
/unassign

[2020-04-05 04:55] #17552 closed

[2020-04-05 08:06] zerefwayne commented on #16334
@sftim Is work required on this one?

[2020-04-05 10:56] sftim commented on #16334
@zerefwayne anyone is free to work on an issue and propose a pull request towards fixing it. Please feel free to do that.

Do you want to tackle just a part of the work? That's often a good way to contribute. For example, you could create the new reference page and have the existing page link to it.
Please also (anyone!) feel free to reply to this issue with questions or requests for advice.

[2020-04-05 11:42] #20016 closed

[2020-04-05 14:19] namaggarwal commented on #18079
I think the issue is that while creating the deployment we haven't specified the port. So I tried with
[code]
and then
[code]
works

[2020-04-05 14:19] namaggarwal commented on #19812
Duplicate of #18079 There is a solution there

[2020-04-05 14:48] sftim commented on #14742
Also see PR #20107

[2020-04-05 15:23] girikuncoro commented on #15341
/close

[2020-04-05 16:03] sftim opened #20110 "Copy CSS “screen” media query to include “projection”"
**This is a clean-up request**

**What would you like to be added**
The CSS across this website has media queries for `screen` media. Amend the CSS (and Sass, etc) rules to extend those media queries to match either `screen` or `projection`.

**Why is this needed**
`projection` media are similar to `screen` media, and use pixels as their native units. Queries that limit themselves to `screen` medi

[2020-04-05 16:03] sftim commented on #19703
Issue #20110 is slightly related.

[2020-04-05 16:06] girikuncoro opened #20111 "Tracking Indonesian Translation Progress (M3)"
This is tracking issue of our progress from Q2 2020 onwards. In the beginning of this milestone, as per [our metrics](https://app.circleci.com/pipelines/github/jk8s/sig-docs-id/31/workflows/48a5bce1-b278-4eab-b057-1cd1793c4daf/jobs/44), we have translated 112 pages from 46 contributors, with around 7,000 views per month.

## Maintainers
* @danninov
* @girikuncoro
* @irvifa
* @phanama
* @qbl
* @wah

[2020-04-05 16:11] sftim commented on #20071
/kind bug
/priority backlog

[2020-04-05 16:11] sftim commented on #20071
/sig api-machinery

[2020-04-05 16:11] girikuncoro commented on #15341
Folks, we have new milestone, help us translating more pages 😄
https://github.com/kubernetes/website/issues/20111

[2020-04-05 16:20] sftim opened #20112 "Page title formatting wrong for Ikhtisar Keamanan _Cloud Native_"
**This is a Bug Report**

**Problem:** The page [Ikhtisar Keamanan _Cloud Native_](https://kubernetes.io/id/docs/concepts/security/overview/) has underscores in the title. (HTML does not let you write formatting in page titles).

**Proposed Solution:** Fix the page title to remove the underscores.

**Page to Update:**
https://kubernetes.io/id/docs/concepts/security/overview/

**Additional Informat

[2020-04-05 16:20] sftim commented on #20112
/priority backlog
Relevant to #20111

[2020-04-05 16:24] sftim commented on #20075
Sounds like there's a case for adding a What's Next link to https://kubernetes.io/docs/reference/using-api/api-concepts/

[2020-04-05 16:25] sftim commented on #20088
/kind bug
/priority awaiting-more-evidence

Maybe it's OK to say that this tutorial is only an example and that more care is needed for a production setup. @alimirjahani7 what do you think?

[2020-04-05 16:26] sftim commented on #20074
/kind cleanup
/priority backlog

[2020-04-05 16:26] sftim commented on #20086
/kind bug
/priority backlog

[2020-04-05 16:26] ariscahyadi commented on #20111
`/docs/concepts/containers/container-environment/` has been pushed together in #19799
Basically, the content in English documentation is the same but the name is changed from `/docs/concepts/containers/container-environment-variables` into `/docs/concepts/containers/container-environment/`

Thanks,
Aris.

[2020-04-05 16:28] sftim commented on #16093
/remove-lifecycle stale

Also see https://github.com/kubernetes/website/issues/20075

[2020-04-05 17:01] ysyukr commented on #20052
/close

[2020-04-05 17:02] #20052 closed

[2020-04-05 17:33] alimirjahani7 commented on #20088
yes but i thought it was good for having stable redis
with more master and slave
and i waster a day on it.
and after some tests i found out it's same with one redis pod.

On Sun, Apr 5, 2020, 8:55 PM Tim Bannister <notifications@github.com> wrote:

[2020-04-05 20:19] gerlt opened #20125 "Example: Deploying Cassandra with Stateful Sets - Page (Missing Storage Instructions)"
https://kubernetes.io/docs/tutorials/stateful-application/cassandra/

Hello,

Happy to assist in fixing this issue, but the example doesn't properly address the storage required to deploy the stateful set.  Example:

kubectl create -f cassandra-storage.yaml

(example, cassandra-storage.yaml)
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: fast
provisioner: kubernetes.io/aws-ebs

[2020-04-06 01:47] jhonmike commented on #13939
I was reading about Cron Jobs and I took and translated this little page >> #20117

[2020-04-06 01:52] #19948 closed

[2020-04-06 01:52] #19904 closed

[2020-04-06 09:40] Lechus commented on #16607
any progress Mr @hjacobs ?

[2020-04-06 09:45] sysadm1989 commented on #20058
Hello. I think this is an initiative @lsm5. He took and deleted all repositories - https://github.com/cri-o/cri-o/pull/3512/commits/b698bb4f8111e69565e04e823a36fa11febfa9f2.

Go to https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/CentOS_7/devel:kubic:libcontainers:stable.repo

Drop on, please @lsm5

[2020-04-06 09:52] #17178 closed

[2020-04-06 09:52] #17315 closed

[2020-04-06 09:52] #17449 closed

[2020-04-06 10:53] #17153 closed

[2020-04-06 10:53] #17162 closed

[2020-04-06 12:29] lsm5 commented on #20058
@sysadm1989 I only stopped building for CentOS CBS. I'm sending builds to OBS instead. I didn't delete any CBS repos. It's quite likely because of the new CBS signing process https://lists.centos.org/pipermail/centos-devel/2020-March/036693.html

[2020-04-06 12:41] sysadm1989 commented on #20058
Thank you @lsm5.

This is some kind of loony bin.

[2020-04-06 14:09] Arhell opened #20129 "Left menu doesn't work in mobile (ko)"
**This is a Bug Report**

main issue fixed #19040

**Problem:**
Left menu doesn't work in mobile
**Proposed Solution:**
need fix on pl lang
fix en lang #19646 PR

**Page to Update:**
https://kubernetes.io/ko/docs/home/

/assign
/language ko

[2020-04-06 14:37] davivcgarcia commented on #19535
I'll work on that!

/remove-help
/assign

[2020-04-06 14:55] artisticcheese opened #20130 "Issue with k8s.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/"
UI issues with page
![image](https://user-images.githubusercontent.com/13176884/78572201-c6d42300-77ec-11ea-83b9-e8c485a84afd.png)

[2020-04-06 14:57] #5993 closed

[2020-04-06 15:19] neolit123 commented on #20130
@artisticcheese
would you like sending a PR to fix the formatting of the page?

/kind bug
/sig windows cluster-lifecycle
cc @benmoss

[2020-04-06 15:24] stockersky opened #20131 "Issue with k8s.io/docs/concepts/services-networking/connect-applications-service/"
**This is a Bug Report**

**Problem: Wrong `kubectl get svc my-nginx` output for LoadBalancer service type exemple.**

**Proposed Solution:**
This is the given output from the doc. `ClusterIP` type is wrong for this service. It should be `LoadBalancer`.
[code]

 An appropriate output would be:

[code]

**Page to Update:**
https://kubernetes.io/docs/concepts/services-networking/connect-applications

[2020-04-06 15:29] artisticcheese commented on #20130
Done but I never did it before so not sure if I did it correctly

[2020-04-06 16:24] benmoss commented on #20130
If you send a PR in it will have a netlify preview that you can verify with. We should have checked that on the last one.

[2020-04-06 18:52] davidparks21 opened #20134 "Improvement for k8s.io/docs/concepts/configuration/manage-compute-resources-container/#local-ephemeral-storage"
Looking at section: Local Ephemeral Storage
https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#local-ephemeral-storage

The example YAML for ephemeral storage does not demonstrate the need for the volume or volume mount, it only shows the resource request form in the YAML as:

[code]

From reading that documentation it's easy to assume that simply adding the `eph

[2020-04-06 18:55] kbhawkey commented on #19738
Closing as 1.18 is released.
/close

[2020-04-06 18:55] #19738 closed

[2020-04-06 18:57] kbhawkey commented on #19737
Changes merged.
/close

[2020-04-06 18:57] kbhawkey commented on #19730
Changes merged.
/close

[2020-04-06 18:57] #19737 closed

[2020-04-06 18:57] #19730 closed

[2020-04-06 19:44] zacharysarah commented on #19670
Fixed by #19695. Thank you @kbhawkey! ⭐️

/close

[2020-04-06 19:44] #19670 closed

[2020-04-06 19:48] zacharysarah commented on #19736
Fixed by #19894

/close

[2020-04-06 19:48] #19736 closed

[2020-04-06 20:31] mikejoh opened #20137 "Inconsistency between docs that mentions cloud-controller-manager"
**This is a Bug Report**

**Problem:**
Hi,

[This](https://kubernetes.io/docs/tasks/administer-cluster/running-cloud-controller/#running-cloud-controller-manager) section says the following:

Then reading [this](https://kubernetes.io/docs/concepts/overview/components/#cloud-controller-manager) section on the same topic (`cloud-controller-manager`) it says:

I'm reading this as: You must not specif

[2020-04-06 22:03] addis144 commented on #13370
@Dabbeeru  - and anyone that may run into this.  Use this command instead.
`kubectl completion bash |sudo tee /etc/bash_completion.d/kubectl
`

[2020-04-07 00:41] #20036 closed

[2020-04-07 01:16] ysyukr commented on #20129
don't worry.
upstream pr #19040 is applied as #19886 to the dev-1.18-ko.1 branch, and will be applied to the master branch on 4/9.

[2020-04-07 01:23] ysyukr commented on #20076
안녕하세요.
해당 이슈는 #19620 와 중복되며, 번역된 결과물은 현재 dev-1.18-ko.1에 #19952 pr로 병합이 완료되었습니다.
이에 불편하시더라도 다른 문서의 번역을 부탁드리겠습니다.

[2020-04-07 01:23] ysyukr commented on #19620
/close

[2020-04-07 01:23] #19620 closed

[2020-04-07 01:23] ysyukr commented on #19965
/close

[2020-04-07 01:23] #19965 closed

[2020-04-07 01:52] Colstuwjx commented on #17736
Closing this issue since federation v1 for en pages has been cleared.

[2020-04-07 01:52] #17736 closed

[2020-04-07 03:05] seokho-son opened #20142 "Translate tasks/scheduling-gpus in Korean"
**This is a Feature Request**

Translate tasks/scheduling-gpus in Korean

**What would you like to be added**

Translate tasks/scheduling-gpus in Korean

**Why is this needed**
No translated document for tasks/scheduling-gpus in Korean
https://kubernetes.io/docs/tasks/manage-gpus/scheduling-gpus/

**Comments**

[2020-04-07 03:06] seokho-son commented on #20142
/language ko
/assign @seokho-son

[2020-04-07 03:33] Paige49 opened #20144 "Translate tasks/configure-pod-container/assign-cpu-resource in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/configure-pod-container/assign-cpu-resource in Korean

**Why is this needed**
No translate tasks/configure-pod-container/assign-cpu-resource in Korean

**Comments**

Page to Update:
https://kubernetes.io/docs/tasks/configure-pod-container/assign-cpu-resource/

[2020-04-07 03:33] Paige49 commented on #20144
/language ko
/assign

[2020-04-07 07:14] Arhell commented on #20129
Hello @ysyukr
Got it, then I close this PR
/close

[2020-04-07 07:15] #20129 closed

[2020-04-07 08:32] girikuncoro commented on #20111
I'm taking ` /docs/concepts/scheduling/scheduler-perf-tuning/`

[2020-04-07 08:52] shacharSilbert opened #20149 "Improvement for k8s.io/docs/tasks/administer-cluster/out-of-resource/"
It would really help if we had information on how to get notified of evictions (i.e. what gets logged where) and how we could simulate such things.

[2020-04-07 09:20] evanap commented on #20111
Hi! I'd like to take `/docs/concepts/services-networking/endpoint-slices/`

[2020-04-07 09:57] handywijaya commented on #20111
Hi! I'd to take ` /docs/tasks/tools/install-kubectl/`

[2020-04-07 11:44] wahyuoi commented on #19413
/close

[2020-04-07 11:44] #19413 closed

[2020-04-07 12:59] olavt opened #20153 "Issue with k8s.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/"
It looks like there are some formatting issues with the text after this "If you’re using a different interface rather than Ethernet (i.e. “Ethernet0 2”) on the Windows nodes, you have to modify the line:"

Then it becomes very unclear what are the commands needed to execute vs what is other text. Looks like some incorrect markup.

[2020-04-07 14:13] neolit123 commented on #20153
please watch https://github.com/kubernetes/website/issues/20130
/close
/triage duplicate
/sig windows cluster-lifecycle

[2020-04-07 14:14] #20153 closed

[2020-04-07 15:02] danninov commented on #20111
I'm taking /docs/concepts/policy/limit-range/

[2020-04-07 15:20] ariscahyadi commented on #20111
I'm taking `/docs/concepts/scheduling/scheduling-framework/`

[2020-04-07 15:30] wahyuoi commented on #20111
I'm taking `/docs/concepts/containers/overview/`

[2020-04-07 15:35] ariscahyadi commented on #20111
Kayanya sudah di merged lewat PR sebelumnya https://kubernetes.io/id/docs/concepts/containers/overview/ :)

[2020-04-07 15:37] Arhell commented on #19671
resolve
/close

[2020-04-07 15:37] #19671 closed

[2020-04-07 16:07] wahyuoi commented on #20111
Nice, thank you @ariscahyadi for pointing this out :bowing_man:

I'll take `/docs/concepts/workloads/pods/pod-topology-spread-constraints/`

[2020-04-07 16:54] Avangarda-ghost opened #20155 "Issue with k8s.io/docs/tutorials/kubernetes-basics/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-04-07 18:44] Arhell opened #20157 "Large white bar on a mobile device"
**This is a Bug Report**
Large white bar on a mobile device
**Problem:**
![1](https://user-images.githubusercontent.com/26163841/78706873-7a860180-7918-11ea-8d30-851d8783908c.jpg)

**Proposed Solution:**
There is hidden text in the footer and it climbs out of the screen
footer .social span
Offer footer on mobile or give overflow:hidden or hide elements

**Page to Update:**
all pages
https://kubern

[2020-04-07 21:48] sftim opened #20160 "Link to GitHub contribute page"
**This is a Feature Request**

**What would you like to be added**
Change [Start Contributing](https://kubernetes.io/docs/contribute/start/) to add a hyperlink to https://github.com/kubernetes/website/contribute

**Why is this needed**
This change will help recruit new contributors

**Comments**
/language en
/good-first-issue
:smiley:

[2020-04-07 21:52] sftim commented on #17649
@tanjunchen can I check the aim of this issue. I think the idea is to track every single broken link on the site?

The reason I ask: if that's the case, I think there is _too much work_ for this to qualify as a good first issue. However, this issue could be a great tracking issue from which to select single pages or single sections and create good-first-issue issues whenever the pool of open good

[2020-04-07 21:53] sftim commented on #20160
You can add the link anywhere that makes sense. If you're not sure, I suggest somewhere in the section https://kubernetes.io/docs/contribute/start/#improve-existing-content

[2020-04-07 21:56] sftim opened #20161 "Link to “Start Contributing” from CONTRIBUTING.md"
**This is a Feature Request**

**What would you like to be added**
Revise https://github.com/kubernetes/website/blob/master/CONTRIBUTING.md to signpost new contributors to https://kubernetes.io/docs/contribute/start/

**Why is this needed**
If someone arrives at https://github.com/kubernetes/website/blob/master/CONTRIBUTING.md (possible from https://github.com/kubernetes/website/contribute) and ha

[2020-04-07 22:05] BenTheElder opened #20162 "perhaps make the navbar / header a bit smaller on mobile"
**This is a Feature Request**

**What would you like to be added**

On mobile the navbar / floating header on the kubernetes.io docs is a whopping 80px tall, making it easily the largest floating header I've seen on a mobile website.

**Why is this needed**

Changing this to be a bit smaller would leave more room for reading on mobile.

**Comments**

current:
![image](https://user-images.githubuse

[2020-04-07 23:13] #19108 closed

[2020-04-08 00:05] Avangarda-ghost opened #20164 "Bug Report"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-04-08 00:27] disconnect3d opened #30578 "Document kubernetes.io/psp annotation"
Hey,

I have a question regarding validating if PSP is applied, as well as an enhancement request on clarifying this.

It seems to me that when a Pod is validated with a PSP, a `"kubernetes.io/psp"` annotation is added with the name of the used pod security policy as its value. It is not obvious if that mechanism can be relied on, especially since it is not documented in the PSP documentation - ht

[2020-04-08 00:32] #19989 closed

[2020-04-08 01:02] kbhawkey opened #20165 "Move task, Set up Konnectivity service"
**This is a Feature Request**

The `Set up Konnectivity service` task is a single task in a new directory,
`https://kubernetes.io/docs/tasks/setup-konnectivity/setup-konnectivity/`

Investigate whether this new task directory is needed (added in 1.18 release) or if there is
another directory where the task page could be placed.

**What would you like to be added**
Move the [Set up konnectivity ser

[2020-04-08 01:19] tanjunchen commented on #17649
Sure, the idea is to track every single broken link on the site.
There are too much work to do , It's a good idea to split it down

[2020-04-08 02:47] viniciusbds opened #20170 "Add templates on content/pt/docs"
**Problem:**

Some pages, like [this one](https://github.com/jhonmike/kubernetes.io/blob/master/content/en/docs/concepts/workloads/controllers/cron-jobs.md) for example, need the contents of the docs/template folder  for the site to be deployed successfully.

If it does not exist, errors like this can occur:
![Captura de tela de 2020-04-07 23-28-10](https://user-images.githubusercontent.com/347558

[2020-04-08 03:01] viniciusbds commented on #20170
/assign

[2020-04-08 03:14] viniciusbds commented on #20170
/language-pt

[2020-04-08 07:17] #19873 closed

[2020-04-08 08:05] Arhell commented on #20089
resolve
/close

[2020-04-08 08:06] #20089 closed

[2020-04-08 08:33] sftim commented on #12082
/remove-lifecycle rotten

[2020-04-08 08:35] sftim commented on #17649
/remove-good-first-issue

[2020-04-08 08:36] sftim commented on #13401
/remove-lifecycle stale
(still worth tracking)

[2020-04-08 08:39] sftim commented on #9829
Relevant to #20102
/remove-lifecycle stale

[2020-04-08 08:42] thomas-riccardi commented on #12303
/remove-lifecycle rotten
The problem is still there, altough only the 4 more recent documentation versions are linked from the current doc home page, and each has a valid TLS certificate.
Old documentation is still useful: people sometime run old versions.

[2020-04-08 10:20] sftim opened #20175 "Localize “email address” placeholder on https://k8s.io/uk/"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/uk/ has an input field with placeholder text “email address” that is not localized.

**Proposed Solution:**
 Localize this to “електронна адреса” by editing https://github.com/kubernetes/website/blob/master/i18n/uk.toml - add an entry:
[code]

**Page to Update:**
https://kubernetes.io/uk/

**Additional Information:**
/language uk
/help
/

[2020-04-08 10:45] Kartik494 commented on #18503
@jean-passos Hi, i done a PR for the same https://github.com/kubernetes/website/pull/18560, if you are ok with this could we close this issue?

[2020-04-08 12:15] jaredledvina commented on #12327
/remove-lifecycle rotten

[2020-04-08 12:42] #17511 closed

[2020-04-08 13:05] #19921 closed

[2020-04-08 13:34] #19911 closed

[2020-04-08 13:34] #19930 closed

[2020-04-08 14:44] #15272 closed

[2020-04-08 15:18] viniciusbds commented on #20170
/close

[2020-04-08 15:18] #20170 closed

[2020-04-08 17:58] diegoaraujopro opened #20176 "Issue with k8s.io/pt/docs/home/"
**This is a Bug Report**

**Problem:**
Page not found!
**Proposed Solution:**
Fix the link to portuguese concepts.
**Page to Update:**
https://kubernetes.io/pt/docs/concepts

[2020-04-08 19:07] pschulten opened #20179 "kubeadm documentation v1.18.0 is broken"
**This is a Bug Report**

**Problem:**
Current installation method for kubeadm (container linux flavour) is wrong. I says:
[code]
which results in a 404
[code]
**Proposed Solution:**
provide a link to the correct file

**Page to Update:**
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl

Kubernetes Version: v1.18.0

[2020-04-08 19:13] neolit123 commented on #20179
are you setting RELEASE_VERSION to e.g. "v0.2.7" as this page instructs:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl

this is the k/release git tag

[2020-04-08 19:17] pschulten commented on #20179
@neolit123  thanks for answering, I just copied the instructions from the docs for my setup and updated today to v1.18.0 and my scripts started to fail. So the RELEASE_VERSION was v1.18.0

[2020-04-08 19:20] neolit123 commented on #20179
this works fine:
[code]

RELEASE_VERSION is the version of k/release and RELEASE is the version of the artifacts.
you should not modify RELEASE_VERSION

/close

[2020-04-08 19:20] pschulten commented on #20179
I think this is may be related to https://github.com/kubernetes/kubernetes/commit/baec6d4af55d1e75d371893b1950a2df079461f2

[2020-04-08 19:20] #20179 closed

[2020-04-08 19:22] neolit123 commented on #20179
`https://dl.k8s.io/release/stable.txt` resolves to v1.18.0 fine.

also this downloads:
https://storage.googleapis.com/kubernetes-release/release/v1.18.0/bin/linux/amd64/kubeadm

[2020-04-08 19:27] pschulten commented on #20179
@neolit123  sorry for the interruption. I didn't read everything :(
I was killed by the change in https://github.com/kubernetes/website/commit/5cf0d1955d3b729218e52a545a5368e29710e358
the current docs are correct, but not backwards compatible to my interpretation ;)

[2020-04-08 19:35] neolit123 commented on #20179
no problem, make sure the kubeadm script snippet has RELEASE_VERSION set to the k/release tag.

[2020-04-08 20:56] #20091 closed

[2020-04-08 21:09] radeksm opened #20181 "Default docker bridge network fails kubernetes-hugo image build"
**This is a Bug Report**

**Problem:**
When building kubernetes-hugo it can fail with below error because build process can't access internet.
By default docker build use bridge network to reach Internet which is not always correct assumption.
The same problem can be seen reported in few other places:

- https://github.com/kubernetes/website/issues/15549
- https://github.com/gliderlabs/docker-alpi

[2020-04-08 21:35] mukesh-dua opened #20183 "Issue with k8s.io/docs/concepts/services-networking/dual-stack/"
**Problem:**
The state of dual stack is unclear.

Two Items:
1. The document page is reflecting 1.16 alpha. Whereas K8s 1.18 states that the SIG Network is moving the functionality to beta.
2. Also there is a mention of support for Iptables proxier (Kube-proxy: Added dual-stack IPv4/IPv6 support to the iptables proxier. (#82462, @vllry)).
3. No feature gate is observed for IPv6 on feature gate pag

[2020-04-08 23:31] #19312 closed

[2020-04-09 03:44] bluefriday opened #20188 "Translate concepts/cluster-administration/kubelet-garbage-collection.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/cluster-administration/kubelet-garbage-collection view in Korean.

**Why is this needed**

There is no documents with concepts/cluster-administration/kubelet-garbage-collection in Korean.

**Comments**

https://kubernetes.io/docs/concepts/cluster-administration/kubelet-garbage-collection/

[2020-04-09 03:44] bluefriday commented on #20188
/language ko
/assign

[2020-04-09 07:26] harridu opened #20189 "Issue with k8s.io/docs/tasks/run-application/run-stateless-application-deployment/"
**This is a Bug Report**

**Problem:**
The deployment-scale.yaml seems to silently downgrade the nginx version again. Wouldn't it be better to use either "kubectl edit" or "kubectl patch", making sure that previous changes are not lost/overwritten?

**Page to Update:**
https://kubernetes.io/docs/tasks/run-application/run-stateless-application-deployment/

[2020-04-09 08:50] Kartik494 commented on #20189
Hi @harridu can we upgrade the nginx version in deployment-scale.yaml?
I think this can be implemented in two ways, either we can upgrade the nginx version in deployment-scale.yaml or we can do with `kubectl edit` as you suggested.

[2020-04-09 09:41] yvesdeceuleners opened #20191 "Issue with k8s.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/"
**This is a Bug Report**

**Problem:**
The link to the Release Notes is ending in a 404 error. The link to the release notes is located in the paragraph **Before you begin**

**Proposed Solution:**
Make sure the link is working. https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.16.md

**Page to Update:**
https://v1-16.docs.kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-

[2020-04-09 10:20] olavt opened #20193 "Unclarity on Flannel preparation step"
Issue with k8s.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/

I think there is some unclarity about which nodes to run the following command on:

 "sudo sysctl net.bridge.bridge-nf-call-iptables=1"

Should it be run on all the Linux nodes in the control plane? Or on just the master?

[2020-04-09 10:26] sftim commented on #13858
/remove-lifecycle stale

[2020-04-09 12:22] neolit123 commented on #20193
it should be run on all Linux nodes only.
you can send a PR to clarify this if you want.

/sig windows cluster-lifecycle
/kind cleanup
/help

requested change is here:
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/#configuring-flannel

[2020-04-09 12:26] neolit123 commented on #20191
we changed the kubernetes repository folder structure a little, which broke old changelog links.
but i don't think k/website accepts minor fixes to old docs branches (e.g. dev-1.16, dev-1.17).

/sig docs cluster-lifecycle
/kind bug

[2020-04-09 13:18] Heena-PyCloud commented on #20161
/assign

[2020-04-09 13:19] Heena-PyCloud commented on #20160
/assign

[2020-04-09 13:35] ariscahyadi commented on #20111
I will take this `/docs/concepts/services-networking/service-topology/`

[2020-04-09 14:00] sftim commented on #20175
Done in PR #20184

[2020-04-09 14:00] #20175 closed

[2020-04-09 14:06] dedyyyy commented on #20111
I would like to take
docs/tasks/tools/install-minikube

[2020-04-09 14:59] #19535 closed

[2020-04-09 16:10] #19154 closed

[2020-04-09 16:32] frostmar opened #20198 "Missing text in k8s.io/docs/concepts/extend-kubernetes/api-extension/custom-resources/"
**This is a Bug Report**

Cut-off sentence in the topic's "Advanced features and flexibility" table entry for "Custom storage":

https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/custom-resources/#advanced-features-and-flexibility

**Proposed Solution:**
Finish the sentence :o)

**Page to Update:**
https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/custom-resourc

[2020-04-09 16:57] Arhell opened #20199 "Left menu doesn't work in mobile (ja)"
**This is a Bug Report**

main issue fixed #19040

**Problem:**
Left menu doesn't work in mobile
**Proposed Solution:**
need fix on pl lang
fix en lang #19646 PR

**Page to Update:**
https://kubernetes.io/ja/docs/home/

/assign
/language ja

[2020-04-09 17:38] rajattrt commented on #17795
/close

[2020-04-09 17:44] davivcgarcia commented on #18763
I'll work on that!

/remove-help
/assign

[2020-04-09 17:54] viniciusbds commented on #20198
/assign

[2020-04-09 18:26] viniciusbds commented on #20198
triage/duplicate

[2020-04-09 20:35] zicongmei opened #20207 "Issue with k8s.io/docs/tasks/administer-cluster/kms-provider/"
**This is a Bug Report**

**Problem:**
The indent of the example yaml is incorrect
**Proposed Solution:**
update the yaml
**Page to Update:**
https://kubernetes.io/docs/tasks/administer-cluster/kms-provider/

[2020-04-10 00:14] gochist opened #20209 "Outdated files in dev-1.18-ko.2"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.18-ko.2 branch.

### 32 files to be modified
1. [ ] content/en/_index.html 1 file changed, 1 insertion(+), 1 deletion(-)
1. [ ] content/en/docs/concepts/architecture/controller.md 1 file changed, 4 insertions(+), 6 deletions(-)
1. [ ] content/en/docs/concepts/architecture/master-node-communication.md 1 file changed, 17 insertio

[2020-04-10 00:33] ysyukr commented on #20209
/assign

[2020-04-10 01:39] pjhwa commented on #20209
concepts/policy/limit-range.md 파일에 대한 내용은 제가 수정하도록 하겠습니다.

[2020-04-10 02:21] rajeshdeshpande02 opened #20211 "Move NodeSelector, Affinity and Taint & Toleration concepts under scheduling"
**This is a Bug Report**

**Problem:**
 Concept pages https://kubernetes.io/docs/concepts/configuration/assign-pod-node/ and
https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/ talk about scheduling Pod with conditions.

**Proposed Solution:**
These pages should be moved to the Scheduling section as this talks about Scheduling.

**Page to Update:**
https://kubernetes.io/docs/co

[2020-04-10 02:47] pjhwa opened #20213 "Translate extend-kubernetes/compute-storage-net/device-plugins.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate extend-kubernetes/compute-storage-net/device-plugins.md in Korean

**Why is this needed**

There is no documents with concepts/extend-kubernetes/compute-storage-net/device-plugins.md in Korean.

- [x] concepts/extend-kubernetes/compute-storage-net/_index.md
- [x] concepts/extend-kubernetes/compute-storage-net/device-plug

[2020-04-10 02:47] pjhwa commented on #20213
/language ko
/assign

[2020-04-10 02:49] pjhwa opened #20214 "Translate extend-kubernetes/compute-storage-net/network-plugins.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/extend-kubernetes/compute-storage-net/network-plugins.md in Korean.

**Why is this needed**

There is no documents with concepts/extend-kubernetes/compute-storage-net/network-plugins.md in Korean.

- [x] concepts/extend-kubernetes/compute-storage-net/network-plugins.md

**Comments**

Page to update: https://kube

[2020-04-10 02:49] pjhwa commented on #20214
/language ko
/assign

[2020-04-10 04:19] spiffxp commented on #12328
/unassign

[2020-04-10 04:49] Vageesha17 commented on #20131
I am working on this issue.

[2020-04-10 04:57] tengqm commented on #20131
/assign @Vageesha17

[2020-04-10 05:30] ysyukr commented on #20209
@pjhwa 해당 이슈는 개별로 처리하기보다는 한번에 처리하는 것이 나을 것 같습니다. 현재 상당수 진행이되어 말씀하신 문서 또한 이미 처리를 한 상태입니다. 😄
답신이 늦어 죄송합니다. 나중에 PR이 열리면 확인 및 리뷰를 부탁드려도 될까요?

[2020-04-10 05:32] pjhwa commented on #20209
@ysyukr 제가 수고를 덜어드리려했는데... ^^
나중에 PR 열리면 기꺼이 확인하겠습니다. :-) 감사합니다.

[2020-04-10 08:15] ysyukr opened #20220 "Update full link to inline link."
**This is a Bug Report**

**Problem:**
A link to another docs in k8s is a full link.

**Proposed Solution:**
Update full link to inline link.

**Page to Update:**
https://kubernetes.io/docs/concepts/policy/limit-range/

/language en
/assign

[2020-04-10 09:57] dedyyyy commented on #20111
i would like to translate this

` /docs/tasks/tools/install-minikube/
`

[2020-04-10 10:33] mufti1 commented on #20111
I will take this ` /docs/tasks/access-application-cluster/web-ui-dashboard/`

[2020-04-10 11:21] adityaalifn commented on #20111
I woul like to take this ` /docs/tasks/access-application-cluster/port-forward-access-application-cluster/`

[2020-04-10 14:32] ariscahyadi commented on #20111
Let's continue... I will take this `/docs/concepts/configuration/resource-bin-packing/`

[2020-04-10 16:38] Arhell commented on #20199
resolve
/close

[2020-04-10 16:38] #20199 closed

[2020-04-10 19:38] #15682 closed

[2020-04-10 20:45] zacharysarah commented on #18878
@celestehorgan With #19576 merged, I think we can close this. 🎉

/close

[2020-04-10 20:45] #18878 closed

[2020-04-10 21:24] Arhell opened #20231 "Left menu doesn't work in mobile (vi)"
**This is a Bug Report**

main issue fixed #19040

**Problem:**
Left menu doesn't work in mobile
**Proposed Solution:**
need fix on vi lang
fix en lang #19646 PR

**Page to Update:**
https://kubernetes.io/vi/docs/home/

/assign
/language vi

[2020-04-10 21:30] zacharysarah opened #20232 "Umbrella issue: third party content"
This issue replaces #15704, with gratitude to @aimeeu for her work.

### Updates

**UPDATE 1:** Removal process updated for 1.20 and subsequent releases

### What is third party content?

From the related [KEP for third party content](https://github.com/kubernetes/enhancements/pull/1327):

Our goal is to minimize and eliminate third-party content except when necessary for Kubernetes
to function in

[2020-04-10 21:30] zacharysarah commented on #15748
This issue is replaced by #20232.

/close

[2020-04-10 21:31] #15748 closed

[2020-04-10 21:31] zacharysarah commented on #20232
/priority important-soon

/sig steering
/sig architecture
/sig docs

/milestone 1.19

[2020-04-10 21:32] zacharysarah commented on #20232
/cc @jimangel @kbarnard10 @onlydole @savitharaghunathan

[2020-04-11 01:23] pjhwa opened #20233 "Translate cluster-administration/networking.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/cluster-administration/networking.md file in Korean.

**Why is this needed**

There is no documents with concepts/cluster-administration/networking.md in Korean.

- [ ] concepts/cluster-administration/networking.md

**Comments**

Page to update: https://kubernetes.io/docs/concepts/cluster-administration/networki

[2020-04-11 01:24] pjhwa commented on #20233
/assign

[2020-04-11 08:32] deryrahman commented on #20111
Hi, I would like to take this `/docs/tasks/access-application-cluster/access-cluster/`

[2020-04-11 12:49] chmephisto opened #20238 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-04-11 13:17] sftim commented on #18624
/remove-lifecycle stale

[2020-04-11 13:24] sftim opened #20239 "Page “Installing Kubernetes with KRIB” not suitable according to content guide"
**This is a Bug Report**

**Problem:**
The page [Installing Kubernetes with KRIB](https://kubernetes.io/docs/setup/production-environment/tools/krib/) does not fit with the website [content guide](https://kubernetes.io/docs/contribute/style/content-guide/#what-s-allowed) and the criteria for permitted content.

**Proposed Solution:**
Remove the page https://kubernetes.io/docs/setup/production-envi

[2020-04-11 13:29] sftim commented on #15482
/remove-lifecycle rotten

[2020-04-11 13:30] sftim commented on #20175
/language uk

[2020-04-11 13:32] sftim commented on #20193
/retitle Unclarity on Flanner preparation step

[2020-04-11 13:33] sftim commented on #20165
/priority backlog
/kind cleanup

If moving the page, remember to add a redirect.

[2020-04-11 13:34] sftim commented on #20183
/sig network
/kind bug
/priority important-longterm

[2020-04-11 13:35] sftim commented on #20183
The dual-stack feature gate should be listed in https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/

[2020-04-11 13:36] sftim commented on #20162
/help
/priority backlog

[2020-04-11 13:39] Fale commented on #19415
This is fixed with #20139

[2020-04-11 14:07] viniciusbds commented on #20176
Hi @diegoaraujopro
Unfortunately, this page has not yet been translated, but we are in the process of translating it.
thanks
/close

[2020-04-11 14:35] ariscahyadi commented on #20111
Next... I take this `/docs/tasks/`

[2020-04-11 16:55] Nishikoh commented on #20239
/assign

[2020-04-11 17:20] sftim commented on #18600
/remove-lifecycle stale

[2020-04-11 17:21] sftim commented on #18598
/remove-lifecycle stale

[2020-04-11 17:28] sftim commented on #2644
@lgarron would you be willing to revise the issue description? Kubernetes started as a Google project but is now a CNCF project.

It's still fine for someone to open a PR proposing changes to address the concern raised in this issue.

[2020-04-11 17:29] sftim commented on #16379
/remove-lifecycle stale

[2020-04-11 17:29] sftim commented on #16379
/sig api-machinery

[2020-04-11 17:34] sftim commented on #16772
/remove-lifecycle stale

[2020-04-11 17:38] sftim commented on #19624
I think this is kind of done: Netlify have already made the changes, @kbhawkey and others put effort in beforehand to plan for it, and the site still looks OK.

Is there more to do?

[2020-04-11 17:41] ysyukr opened #20246 "Update to a link to the newly translated document."
**This is a Bug Report**

**Problem:**
Some documents need to be updated to link to the newly translated documents in Korean.

**Proposed Solution:**
For example:
[code]

/language ko
/assign

[2020-04-11 17:44] sftim commented on #14725
/remove-lifecycle rotten

[2020-04-11 17:45] sftim commented on #16660
This would really help I think
/remove-lifecycle stale

[2020-04-11 17:48] sftim commented on #20002
Before we document that having at least one Windows node in your cluster renders the dashboard useless, let's get some evidence that this is the case.

@docker-netes can you clarify how to reproduce the symptoms you want documented?

[2020-04-11 17:49] sftim commented on #20002
Alternatively: if you want to report an issue with the dashboard, you can visit https://github.com/kubernetes/dashboard/issues/new/choose and pick an issue type to log, then close this issue.

[2020-04-11 17:52] sftim commented on #20003
The existing page says:

I assume that the motivation for generating a new key and adding it as the second key entry is to _avoid downtime_.
If that's the case, I recommend leaving the existing documentation as-is.

[2020-04-11 17:52] sftim commented on #20003
/priority awaiting-more-evidence
/language en

[2020-04-11 17:53] ysyukr opened #20248 ""Custom" translations need to be modified."
**This is a Bug Report**

**Problem:**
In the Kubernetes Koreanization Guide, "Custom" is defined as "사용자 정의", but in the document, it is "커스텀" and must be modified according to the guide.

**Proposed Solution:**
"커스텀" to "사용자 정의" change.

**Page to Update:**
https://kubernetes.io/ko/docs/concepts/extend-kubernetes/api-extension/custom-resources/
https://kubernetes.io/ko/docs/contribute/localizati

[2020-04-11 17:53] ysyukr commented on #20248
/language ko
/assign

[2020-04-11 17:53] sftim commented on #17388
/remove-lifecycle stale

[2020-04-11 17:55] sftim commented on #17388
Did the meeting about this reach a conclusion about _n_ content PRs? (for example: is _n_ = 5?)

[2020-04-11 18:56] zacharysarah commented on #19624
@sftim Good call, I think we can close it.

Thank you, @Colstuwjx and @kbhawkey for your contributions here! ⭐

/close

[2020-04-11 18:57] #19624 closed

[2020-04-11 19:06] zacharysarah commented on #17388
@jimangel Do you remember what we discussed? I’m fine with 5, even understanding that it may be 5 l10n PRs that aren’t published yet.

[2020-04-11 20:32] sftim commented on #17388
5 PRs _opened_? That's a good clarification.

[2020-04-11 21:10] pjhwa opened #20251 "Translate configuration/taint-and-toleration.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/configuration/taint-and-toleration.md in Korean.

**Why is this needed**

There is no document with concepts/configuration/taint-and-toleration.md file in Korean.

**Comments**

Page to update: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/

[2020-04-11 21:10] pjhwa commented on #20251
/language ko
/assgin

[2020-04-11 21:22] lgarron commented on #2644
It's not quite clear to me if I can make a PR for this.

Do I understand correctly that this is hosted using Netlify?
https://docs.netlify.com/domains-https/https-ssl/#hsts-preload

If so, does https://github.com/kubernetes/website/blob/b64b4c9b3ad10efa94f9633138fc1afaaa7a7310/config.toml#L59 imply that the header can be added to https://github.com/kubernetes/website/blob/master/config.toml ? http

[2020-04-11 21:33] sftim opened #20252 "glossary_tooltip shortcode with length="short" breaks if prepend set"
**This is a Bug Report**

**Problem:**
This works:
[code]
and this too:
[code]
but:
[code]
renders incorrectly; the output is similar to the following HTML (escaped when it should not be):
[code]

**Proposed Solution:**
I'm not sure what needs to change here. I'd like to be able to use short glossary definitions with prepending.

[2020-04-11 22:08] bapata opened #20254 "Issue with k8s.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/"
**This is a Bug Report**

**Problem:**
In the section: https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/#comparison-with-podaffinity-podantiaffinity
The link referred for "Motivation"  doesn't work (404 not found)
**Proposed Solution:**
Add correct link
**Page to Update:**
https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/#comparis

[2020-04-12 02:24] pjhwa opened #20255 "Issue with k8s.io/docs/concepts/configuration/taint-and-toleration/"
**This is a Bug Report**

**Problem:**
Line 13,
Node affinity, described here
The link /docs/concepts/configuration/assign-pod-node/#node-affinity-beta-feature is broken. There is no #node-affinity-beta-feature subtitle.

**Proposed Solution:**
Line 13, it should be like following:
Node affinity, described here
The link is /docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity

*

[2020-04-12 02:24] pjhwa commented on #20255
/language en
/assign

[2020-04-12 12:12] girikuncoro commented on #20111
I'm taking `/docs/reference/kubectl/cheatsheet/` next

[2020-04-12 14:10] Fale commented on #17880
/remove-lifecycle stale

[2020-04-12 14:12] adityaalifn commented on #20111
Next, I'm taking this `/docs/tasks/inject-data-application/define-environment-variable-container/`

[2020-04-12 14:25] #17333 closed

[2020-04-12 14:26] mufti1 commented on #20111
Next, I will take this `/docs/tasks/job/automated-tasks-with-cron-jobs/`

[2020-04-12 17:52] savitharaghunathan commented on #20238
Hi @chmephisto , can you elaborate a bit more on the bug report?
/triage needs-information

[2020-04-12 17:57] savitharaghunathan commented on #20207
/good-first-issue

[2020-04-12 21:16] pjhwa opened #20269 "Translate cluster-administration/logging.md in Korean"
**This is a Feature Request**

**What would you like to be added**
Translate concepts/cluster-administration/logging.md in Korean.

**Why is this needed**
There is no documents with concepts/cluster-administration/logging.md file in Korean.

**Comments**

Page to update: https://kubernetes.io/docs/concepts/cluster-administration/logging/

[2020-04-12 21:16] pjhwa commented on #20269
/language ko
/assgin

[2020-04-12 23:30] ysyukr commented on #20248
/close

[2020-04-12 23:30] #20248 closed

[2020-04-13 00:15] Nishikoh commented on #20239
I'm a beginner at programming.
Is this issue difficult for beginner?

[2020-04-13 02:22] cometrojan opened #20270 "Translate network/validate-dual-stack.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/network/validate-dual-stack.md in Korean

**Why is this needed**
There is no document with tasks/network/validate-dual-stack.md in Korean.

**Comments**

https://kubernetes.io/docs/tasks/network/validate-dual-stack/

[2020-04-13 02:23] cometrojan commented on #20270
/language ko
/assign

[2020-04-13 03:31] #17173 closed

[2020-04-13 03:31] #17180 closed

[2020-04-13 03:31] #17244 closed

[2020-04-13 03:31] #17336 closed

[2020-04-13 04:27] sunminjeon commented on #20076
@ysyukr
네 알겠습니다, 해당 이슈는 닫도록 하겠습니다!

[2020-04-13 04:27] #20076 closed

[2020-04-13 05:33] #17581 closed

[2020-04-13 08:41] Arhell opened #20277 "Left menu doesn't work in mobile (id)"
**This is a Bug Report**

main issue fixed #19040

**Problem:**
Left menu doesn't work in mobile
**Proposed Solution:**
need fix on id lang
fix en lang #19646 PR

**Page to Update:**
https://kubernetes.io/vi/docs/home/

/assign
/language id

[2020-04-13 09:00] ariksa opened #20279 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/"
**This is a Bug Report**

**Problem:**
The getting started guide doesn't work on CentOS 7.7.1908.
The section **_Installing kubeadm, kubelet and kubectl_** contains an error in this line:
`baseurl=https://packages.cloud.google.com/yum/repos/kubernetes-el7-$basearch`
Whereas `$basearch` is not defined.

**Proposed Solution:**
Replace `$basearch` with `$(uname -m)`

**Page to Update:**
https://kuber

[2020-04-13 09:03] caiconkhicon commented on #13305
/remove-lifecycle rotten

[2020-04-13 09:49] marcel-st opened #20281 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
Hi Guys,

the Interactive Terminal says it's out of diskspace, someone with admin privileges might need to have look at the backend.

Cheers,

Marcel

[2020-04-13 09:53] bluefriday opened #20282 "Translate tasks/configure-pod-container/assign-pods-nodes in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/configure-pod-container/assign-pods-nodes view in Korean.

**Why is this needed**

There is no documents with tasks/configure-pod-container/assign-pods-nodes in Korean.

**Comments**

https://kubernetes.io/docs/tasks/configure-pod-container/assign-pods-nodes/

[2020-04-13 09:54] bluefriday commented on #20282
/language ko
/assign

[2020-04-13 10:25] #20282 closed

[2020-04-13 10:28] sftim opened #20283 "URL of https://kubernetes.io/docs/contribute/new-content/new-content/ implies it's not for existing content"
**This is a Bug Report**

**Problem:**
If a reader sees a hyperlink https://kubernetes.io/docs/contribute/new-content/new-content/ they might conclude that the page is specifically about adding content and is not the right place to find advice about amending existing pages.

**Proposed Solution:**
Consider how much this is an issue. I saw this when I wanted to link to https://kubernetes.io/docs/co

[2020-04-13 10:29] sftim commented on #20239
@Nishikoh you can find beginner-friendly issues: https://github.com/kubernetes/website/contribute/
and you can also read https://kubernetes.io/docs/contribute/start/

You might need to learn [MarkDown](https://commonmark.org/) to work out how to make changes.

[2020-04-13 10:29] sftim commented on #20252
/kind bug

[2020-04-13 10:31] sftim commented on #20279
/kind bug

So I think the line should change to
[code]
/good-first-issue
/priority important-longterm

Thanks for reporting this @ariksa

[2020-04-13 10:34] sftim commented on #20279
What's the error on CentOS 7.7.1908 @ariksa? YUM usually lets you use `$basearch` and other built-in variables in a repository configuration.

[2020-04-13 10:34] sftim commented on #20279
/remove-good-first-issue

[2020-04-13 10:34] sftim commented on #20279
/remove-help

[2020-04-13 10:35] sftim commented on #20281
@BenHall you might want to know about this
/kind bug
/priority important-soon

[2020-04-13 10:39] ariksa commented on #20279
The error is:
`https://packages.cloud.google.com/yum/repos/kubernetes-el7-/repodata/repomd.xml: [Errno 14] HTTPS Error 404 - Not Found`
As it seems `$basearch` is evaluated to ""
BTW, `echo $basearch` returns empty as well.

[2020-04-13 10:40] bluefriday opened #20284 "Translate tasks/configure-pod-container/pull-image-private-registry in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/configure-pod-container/pull-image-private-registry view in Korean.

**Why is this needed**

There is no documents with tasks/configure-pod-container/pull-image-private-registry in Korean.

**Comments**

https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/

[2020-04-13 10:41] bluefriday commented on #20284
/language ko
/assign

[2020-04-13 10:55] sftim commented on #20279
Hmm. Try this:
[code]

What's the output?

[2020-04-13 11:02] Nishikoh commented on #20239
@sftim Thank you for your reply.
I will try next chance :D

[2020-04-13 11:18] Nishikoh commented on #20207
/assain

[2020-04-13 11:19] Nishikoh commented on #20207
/assign

[2020-04-13 11:20] ariksa commented on #20279
Loaded plugins: fastestmirror
{'arch': 'ia32e',
 'basearch': 'x86_64',
 'contentdir': 'centos',
 'infra': 'stock',
 'releasever': '7',
 'uuid': '49b6894a-e4c7-4444-9d2f-0387edb4bfbb'}

[2020-04-13 13:02] madz0 opened #20286 "Issue with k8s.io/docs/tasks/access-application-cluster/port-forward-access-application-cluster/"
**This is a Bug Report**

**Problem:**
Doc says we can port forward using service/service_name instead of pod_name which does not work for me.

**Proposed Solution:**

**Page to Update:**
k8s.io/docs/tasks/access-application-cluster/port-forward-access-application-cluster/

[code]

Reproduce:
[code]

[2020-04-13 15:56] kbhawkey commented on #20283
I would add (flagged in initial PR) that the sub-directory and page file name should not be named identically.

[2020-04-13 16:51] sftim commented on #20279
Looks like `$basearch` is set in YUM. The problem is that the page instructs the reader to use a “here document” to edit the YUM configuration.
/remove-triage support
/kind bug
/sig cluster-lifecycle
/priority important-soon

@ariksa thanks for clarifying.

[2020-04-13 17:24] phanama commented on #20112
/assign

[2020-04-13 17:26] jimangel commented on #19809
/close

[2020-04-13 17:27] #19809 closed

[2020-04-13 17:28] jimangel commented on #19502
+1 for avoiding this issue with proper dev-branch management. Closing for now.
/close

[2020-04-13 17:28] #19502 closed

[2020-04-13 17:29] jimangel commented on #19238
/cc @savitharaghunathan for awareness

[2020-04-13 17:30] jimangel commented on #19095
Does https://github.com/kubernetes/website/pull/18173 change anything for this?

[2020-04-13 17:51] jimangel opened #20293 "Create a "releases" page"
Create a "releases" page that is up to date with our releases; including links to release notes and support timelines.

Something very similar to:
- https://wiki.ubuntu.com/Releases
- https://www.kernel.org/category/releases.html
- https://en.wikipedia.org/wiki/Kubernetes#Release_Versions
- https://golang.org/doc/devel/release.html

Originally I was thinking this would be a good candidate to track

[2020-04-13 17:55] sftim opened #20294 "Incomplete feature-state shortcode in “Control Topology Management Policies on a node”"
**This is a Bug Report**

**Problem:**
[Control Topology Management Policies on a node](https://kubernetes.io/docs/tasks/administer-cluster/topology-manager/) has a feature-state shortcode:
[code]
this shortcode doesn't track when the feature went beta.

**Proposed Solution:**
Change that line to:
[code]
**Page to Update:**
https://kubernetes.io/docs/tasks/administer-cluster/topology-manager/

**A

[2020-04-13 17:59] sftim commented on #20293
How much of this is it possible to automate? All, or nearly all, the information about the N most recent minor releases is already available in Git and in related systems.

[2020-04-13 18:02] jimangel commented on #20293
Agree completely, this should be automated.

I would approach this manually first then look into automating the updates entirely from the patch release tooling side.

[2020-04-13 18:02] tpepper commented on #20293
https://github.com/kubernetes/kubernetes/releases is going to be programmatically retrievable, but it is trailing info (might be sufficient?).  There is also forward looking information here https://github.com/kubernetes/sig-release/blob/master/releases/patch-releases.md, which we could make structured for programmatic access.

[2020-04-13 18:07] sftim commented on #20293
_Long term_ wouldn't it be great if you can do a one-click “the next release is ready to go, _make it so_” and everything deploys based on that.

Anyway, I agree. Largely manual first, automate later. @jimangel could this be another form of [generated documentation](https://kubernetes.io/docs/contribute/generate-ref-docs/)?

[2020-04-13 20:02] suruaku commented on #20294
/assign

[2020-04-13 20:36] kbhawkey commented on #19095
Hi. I logged this issue to document or update the documentation related to version shortcodes.
Authors can lookup descriptions about the version shortcodes and use these shortcodes to author version numbers in the content.
Recently the contribute section has been updated (and soon new skew/version policies (@jimangel)).
I am in favor of using meaningful version shortcodes in the content instead of

[2020-04-13 20:56] davivcgarcia commented on #18763
@sftim and @mda-jobs: What about creating a `Node Role` entry explaining the concept and listing `master` and `worker` as most common values used on it?

[2020-04-13 21:38] zacharysarah commented on #20239
This would make a good first issue, though.

/good-first-issue

[2020-04-13 21:42] pjhwa opened #20298 "Translate logging-elasticsearch-kibana.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate /tasks/debug-application-cluster/logging-elasticsearch-kibana.md in Korean.

**Why is this needed**

There is no documents with /tasks/debug-application-cluster/logging-elasticsearch-kibana.md in Korean.

**Comments**

Page to update: https://kubernetes.io/docs/tasks/debug-application-cluster/logging-elasticsearch-kibana

[2020-04-13 21:42] pjhwa commented on #20298
/language ko
/assign

[2020-04-13 21:43] sftim commented on #18763
Hmm. That term “master” has nuances (it's not as controversial as “slave”, but the implication is still there). Newer thinking seems to favor “control plane” rather than “master”.

So you can have nodes that also run the control plane.

Does that help guide how to approach this?

[2020-04-13 22:41] #18196 closed

[2020-04-13 23:04] abstrask commented on #16740
/remove-lifecycle stale

[2020-04-13 23:22] Nishikoh commented on #20239
"good first issue"
In that case, I want to retry this issue.
Could I tackle this issue?

[2020-04-14 00:41] #18579 closed

[2020-04-14 00:41] #19003 closed

[2020-04-14 00:41] zacharysarah commented on #20239
@Nishikoh Absolutely!

[2020-04-14 01:42] coolguyhong opened #20302 "Translate tasks/configure-pod-container/assign-pods-nodes-using-node-affinity in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/configure-pod-container/assign-pods-nodes-using-node-affinity in Korean

**Why is this needed**
No translation tasks/configure-pod-container/assign-pods-nodes-using-node-affinity in Korean
**Comments**

Page to Update: https://kubernetes.io/docs/tasks/configure-pod-container/assign-pods-nodes-using-node-affinity/

[2020-04-14 01:42] coolguyhong commented on #20302
/language ko
/assign

[2020-04-14 07:10] AndrewWPhillips opened #20312 "Issue with k8s.io/docs/tutorials/kubernetes-basics/update/update-intro/"
**This is a Bug Report**

**Problem:**

I went to the page that supposedly says how to perform a rolling update, but it did not say how to do so.

**Proposed Solution:**

I'm pretty sure (to do it declaratively)  you just update the deployment's yaml somehow and run kubectl apply -f.  The page should explain that the following interactive tutorial shows how to do it manually (using kubectl set ima

[2020-04-14 08:43] Arhell commented on #20277
resolve
/close

[2020-04-14 08:43] #20277 closed

[2020-04-14 08:49] butuzov opened #20316 "Copy / Paste Error (English to Localized Content)"
**This is a Bug Report**

**Problem:**
Basic English docs have few broken URLs,  that wasn't fixed, but instead was added to the `_redirects` files, therefore "fixed". But many localization teams just `copy / paste` original content with no check, resulting in having this issue in their own documentation too.

**Proposed Solution:**
1. ~~Fix original content.~~ done in #20318
2. Add redirection to

[2020-04-14 08:53] butuzov commented on #20316
You can check the affected languages in the next way.

### Deployment
* 404 https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-intro/
* 200 https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro/

### Scaling
* 404 https://kubernetes.io/docs/tutorials/kubernetes-basics/scale-intro/
* 200 https://kubernetes.io/docs/tutorials/kubernetes-basics/scale/scale-intro/

#

[2020-04-14 09:22] butuzov commented on #20316
One more pattern noticed - not changing a link to localized content, so you (localization team) ending up with translated content, but not linking translated pages. (I currently see that in Ukrainian localization, but I need to check and confirm it)

[2020-04-14 09:48] suruaku commented on #20312
You can edit the yaml with `kubectl edit deployment <name>`
The command will automatically apply the changes if there is no errors.

[2020-04-14 12:36] rmohta opened #20323 "RS header details in incorrect place in https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#creating-a-deployment"
ReplicaSet headers DESIRED and CURRENT are explained using output of `kubectl get deployments`. DESIRED and CURRENT headers should be explained in point 5.

[2020-04-14 12:40] pjhwa opened #20324 "Translate cluster-administration/manage-deployment.md in Korean"
**This is a Feature Request**

**What would you like to be added**
Translate concepts/cluster-administration/manage-deployment.md file in Korean.

**Why is this needed**
There is no documents with concepts/cluster-administration/manage-deployment.md in Korean.

**Comments**
Page to update: https://kubernetes.io/docs/concepts/cluster-administration/manage-deployment/

/language ko

[2020-04-14 12:41] pjhwa commented on #20324
/assign

[2020-04-14 12:55] mailhari opened #20325 "Issue with k8s.io/docs/tasks/tls/certificate-rotation/"
We are using v1.16.3

Why do I see "Kubernetes version 1.8.0 or later is required" under 1.16 ? It is confusing if I should give certificate rotate flag in kubelet bring up or through kubelet config.

![image](https://user-images.githubusercontent.com/10446093/79227119-0f3eb100-7e7d-11ea-8706-4433804b1d69.png)

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-04-14 13:28] ysyukr opened #20327 "Translate concepts/configuration/secret.md"
**This is a Feature Request**

**What would you like to be added**
Translate configuration/secret.md in Korean.

**Why is this needed**
The following files are not translated into Korean.
- [ ] /en/docs/concepts/configuration/secret.md

**Comments**
Page to update: https://kubernetes.io/docs/concepts/configuration/secret/

I am translating this document.
The translated document will be submitted t

[2020-04-14 13:28] ysyukr commented on #20327
/assign

[2020-04-14 13:30] ysyukr opened #20328 "Translate concepts/scheduling-eviction/scheduling-framework.md in Korean."
**This is a Feature Request**

**What would you like to be added**
Translate concepts/scheduling-eviction/scheduling-framework.md in Korean.

**Why is this needed**
The following files are not translated into Korean.
- [ ] /en/docs/concepts/scheduling-eviction/scheduling-framework.md

**Comments**
Page to update: https://kubernetes.io/docs/concepts/scheduling-eviction/scheduling-framework/

I am t

[2020-04-14 13:30] ysyukr commented on #20328
/assign

[2020-04-14 13:33] ysyukr opened #20329 "Translate concepts/cluster-administration/certificates.md"
**This is a Feature Request**

**What would you like to be added**
Translate concepts/cluster-administration/certificates.md in Korean.

**Why is this needed**
The following files are not translated into Korean.
- [ ] /en/docs/concepts/cluster-administration/certificates.md

**Comments**
Page to update: https://kubernetes.io/docs/concepts/cluster-administration/certificates/

I am translating this

[2020-04-14 13:33] ysyukr commented on #20329
/assign

[2020-04-14 15:25] butuzov commented on #20316
/sig docs

[2020-04-14 17:28] #20294 closed

[2020-04-14 18:36] sftim opened #20335 "Compatibility challenges with Hugo 0.6.x"
**Problem:**
The existing content is not completely compatible with the 0.6x.x releases of Hugo. Hugo 0.60.0 became compatible with CommonMark. Some existing content doesn't render the same way with Hugo < 0.60.0 as it does with Hugo ≥ 0.60.0

- Some localizations have `user-guide-migration-notice.md` files that don't render correctly.
- `config.toml` has configuration that is specific to the Blac

[2020-04-14 18:43] sftim opened #20336 "Feature state shortcode compatibility with CommonMark & with Hugo ≥ 0.60.0"
**This is a Bug Report**

**Problem:**
The [feature state](https://kubernetes.io/docs/contribute/style/hugo-shortcodes/#feature-state) shortcode does not render as intended when the site is generated using Hugo ≥ 0.60.0

**Proposed Solution:**
Revise and simplify feature-state shortcode.

I'm considering what's possible using HTML & CSS only, as well as what value the shortcode provides for site v

[2020-04-14 18:44] sftim commented on #20336
I'm going to try fixing this. If someone else would also like to work on this, that's OK. Maybe we can collaborate?

[2020-04-14 18:44] sftim commented on #20336
Relevant to issue #20335

[2020-04-14 19:48] davivcgarcia commented on #18763
@sftim I understand your point, but may tools still uses `master` and `worker` for the `kubernetes.io/role` label (ex. `kubeadm`). Also, looks like we already have `Control Plane` covered in the glossary (https://kubernetes.io/docs/reference/glossary/?all=true#term-control-plane).

What about to refactor `Node` entry, explaining that nodes can also have a role label, and these are the most common

[2020-04-14 20:24] neolit123 commented on #18763
the "master" node role is exclusive to deployers like kubeadm (+some others) and has been excluded from core k8s.

[2020-04-15 02:09] zacharysarah opened #20344 "Docsy theme bug tracker"
This issue is a tracking thread for bugs with the application of the [Docsy Hugo theme](https://themes.gohugo.io/docsy/) to the website.

Preview URL: https://kubernetes-hugo-staging.netlify.com/docs/home/

UPDATE, 30 April 2020: All sections of the preview URL are ready for testing.

- Before reporting a bug, please check to see if it's already reported.
- Please comment on this issue with any fo

[2020-04-15 02:11] zacharysarah commented on #20344
Language and version selectors don't work.

[2020-04-15 03:30] deryrahman commented on #20111
Next, let me take this `/docs/tasks/access-application-cluster/create-external-load-balancer/`

[2020-04-15 03:31] gochist commented on #20344
Currently on the master's website, if there is an unlocalized document, a link to the upstream document is provided in the menu on the left sidebar. But on the hugo staging website, it is not provided.

For example on master:
https://kubernetes.io/ko/docs/tasks/
![Screenshot_2020-04-15 태스크](https://user-images.githubusercontent.com/282159/79295040-ab66c780-7f12-11ea-8f96-f3c5a56ede47.png)

[2020-04-15 09:07] PatelRudra opened #20348 "Issue with k8s.io/docs/concepts/configuration/assign-pod-node/"
**This is a Bug Report**

**Problem:**
The description provide in the following section is somewhat missing out the details. It is not justifying the value of **weight** one should configure in the affinity section of a deployment.

The weight field in preferredDuringSchedulingIgnoredDuringExecution is in the range 1-100. For each node that meets all of the scheduling requirements (resource reques

[2020-04-15 09:39] sftim commented on #18697
/remove-lifecycle stale

[2020-04-15 10:51] evanap commented on #20111
I'd like to translate the page `/docs/tasks/configure-pod-container/configure-pod-configmap/`

[2020-04-15 12:23] pjhwa opened #20352 "Issue with k8s.io/docs/concepts/cluster-administration/manage-deployment/"
**This is a Bug Report**

**Problem:**
Line 143, the backquote is placed at wrong position.

The `--recursive` flag works with any operation that accepts the `--filename,-f` flag such as: `kubectl {create,get,delete,describe,rollout} etc.`

Line 456~457, it needs to change hugo code for the consistency with other documents
- [Learn about how to use `kubectl` for application introspection and debug

[2020-04-15 12:23] pjhwa commented on #20352
/language en
/assign

[2020-04-15 12:42] TomorJM opened #20354 "Issue with k8s.io/zh/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro/"
**This is a Bug Report**

**Problem:**

The page https://kubernetes.io/zh/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro/ should be in chinese but it is not.

**Proposed Solution:**

translate it into Chinese

**Page to Update:**

https://kubernetes.io/zh/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro/

I will take the job to achieve it.

[2020-04-15 12:42] TomorJM commented on #20354
/assing

[2020-04-15 12:43] TomorJM commented on #20354
/language zh

[2020-04-15 12:46] TomorJM commented on #20354
/assign

[2020-04-15 13:03] jmyung commented on #18583
/remove-lifecycle stale

[2020-04-15 15:22] vofish opened #20357 "Issue with k8s.io/docs/setup/production-environment/container-runtimes/"
**This is a Bug Report**

**Problem:**
crio service will not start with the following error:
`level=fatal msg="config provided AppArmor profile \"crio-default\" not loaded" file="crio/main.go:245"`

**Proposed Solution:**
To fix this error, you should either comment out the line _apparmor_profile = "crio-default"_ in config file **/etc/crio/crio.conf**, or set value to _"crio-default-1.17.2"_

**P

[2020-04-15 20:02] ivog1 opened #20359 "Issue with k8s.io/docs/setup/production-environment/on-premises-vm/dcos/"
"Official Mesosphere Guide
The canonical source of getting started on DC/OS is located in the quickstart repo" !!!

HTTP 404 ?!?  Quickstart repo is missing !!

**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-04-15 20:43] Arhell opened #20360 "Add localization in readme in other languages"
**This is a Feature Request**

Add localization in readme in other languages

**What would you like to be added**
https://github.com/kubernetes/website/blob/master/README-uk.md

**Why is this needed**

Sync with the main file
https://github.com/kubernetes/website/blob/master/README.md

/assign
/language uk

[2020-04-15 21:16] magnologan opened #20361 "Issue with k8s.io/docs/concepts/security/overview/"
**This is a Bug Report**

**Problem: 404 Error on OWASP Reference Links**
The OWASP links referenced on the General Code Security Guidance Table are outdated and giving 404 errors. https://kubernetes.io/docs/concepts/security/overview/#general-code-security-guidance-table

**Proposed Solution: Update links with new and correct ones:**

Old -> New
https://www.owasp.org/index.php/Source_Code_Analysi

[2020-04-15 22:03] Zerotask opened #20364 "Issue with k8s.io/docs/tutorials/hello-minikube/ - hello-node service is not accessible"
**This is a Bug Report**

**Problem:**
I'm using Minikube (as docker container) and followed the steps until **Create a Service** ->3. Run the following command: `minikube service hello-node`

![grafik](https://user-images.githubusercontent.com/20150243/79392634-fbc24180-7f73-11ea-9e34-051269856640.png)

A new tab opened in my Firefox and it tried to load it for about 20 seconds, then the Firefox

[2020-04-16 01:15] VaraKatare commented on #20111
I'd like to translate the page `/docs/setup/production-environment/tools/kubeadm/install-kubeadm/`

[2020-04-16 01:21] jimangel commented on #14307
/remove-lifecycle rotten

[2020-04-16 01:58] jmyung opened #20368 "anchor doesn't work in ko/docs/concepts/policy/pod-security-policy/"
**This is a Bug Report**

**Problem:**
anchor doesn't work such as `https://kubernetes.io/ko/docs/concepts/policy/pod-security-policy/#privileged`

**Proposed Solution:**
Correct the link

**Page to Update:**
https://kubernetes.io/ko/docs/concepts/policy/pod-security-policy/

[2020-04-16 02:53] senique opened #20370 "Running locally error: plain HTML documents not supported"
**This is a Bug Report**

Running the website locally using `make serve`

_~$make serve
hugo server --buildFuture
Built in 2309 ms
Error: Error building site: ".../website/content/ja/includes/user-guide-migration-notice.md:1:1": plain HTML documents not supported
make: *** [serve] Error 255_

**Problem:**
hugo does not support plain HTML documents.
**Proposed Solution:**
Convert  HTML content to M

[2020-04-16 06:56] techmaniack opened #20378 "Content issue with 'hello-minikube' tutorial"
**This is a Bug Report**

**Problem:** The tutorial does not cover all the objectives.

- [x] Deploy a hello world application to Minikube.
- [x] Run the app.
- [ ] View application logs.

**Proposed Solution:** Add a sub-section in the tutorial that covers `View application logs` objective.

**Page to Update:**
https://kubernetes.io/docs/tutorials/hello-minikube

The [Enable addons](https://kuber

[2020-04-16 09:08] bhargavim613 opened #20381 "envFrom: configMapRef in manifest file throwing crashloopbackoff error"
---------configmap template-------

apiVersion: v1
kind: ConfigMap
metadata:
  name: envconfig
data:
  hi: joe

------Deployment manifest--------
apiVersion: apps/v1
kind: Deployment
metadata:
  name: vsapp
spec:
  selector:
    matchLabels:
      run: vsapp
  replicas: 1
  template:
    metadata:
      labels:
        run: vsapp
    spec:
      containers:
      - name: vsapp
        image: "#ima

[2020-04-16 09:41] Kartik494 commented on #20378
Hi @techmaniack Given is an example of how we can enable an add on like metrics-server.You can do the same for logviewer also if you want.
Thanks

[2020-04-16 10:14] jmlrt opened #20384 ""Inheriting DNS from the node" section is missing in "Customizing DNS Service" page"
**This is a Bug Report**

**Problem:** `/docs/tasks/administer-cluster/dns-custom-nameservers/#inheriting-dns-from-the-node` link on [dns-pod-service.md](https://github.com/kubernetes/website/blame/master/content/en/docs/concepts/services-networking/dns-pod-service.md#L161) is broken.

"Inheriting DNS from the node" section is missing in [dns-custom-nameservers.md](https://github.com/kubernetes/we

[2020-04-16 10:55] techmaniack commented on #20378
Hi @Kartik494

Thanks for replying. This issue is not about the addon example, I have edited the original issue with more details.

[2020-04-16 10:57] Kartik494 commented on #20364
@Zerotask can you provide the status of pod  i think it may be caused due to pod is not in ready state

[2020-04-16 11:01] Zerotask commented on #20364
@Kartik494 The status of the pod is **Running**

Here's a screenshot of the Kubernetes Dashboard

![grafik](https://user-images.githubusercontent.com/20150243/79448772-509ca100-7fe2-11ea-95e1-674b63167e9c.png)

[2020-04-16 11:38] butuzov commented on #20368
/language ko

[2020-04-16 11:52] butuzov commented on #20368
to any Korean localization team member issue only in local anchor in `content/ko/docs/concepts/policy/pod-security-policy.md`
`#priveliged` sppose to be `#특권을-가진` as far as I understand.

[2020-04-16 11:53] Bruce012356 opened #20387 "Issue with k8s.io/zh/docs/concepts/architecture/nodes/"
没有看到架构图；

[2020-04-16 12:13] jmyung commented on #20368
@butuzov Thanks, let me do this.

[2020-04-16 12:24] Arhell commented on #20360
resolve
/close

[2020-04-16 12:24] #20360 closed

[2020-04-16 18:55] #17620 closed

[2020-04-16 23:29] ysyukr commented on #20209
/close

[2020-04-16 23:29] #20209 closed

[2020-04-16 23:50] pleshakov opened #20397 "Issue with k8s.io/docs/concepts/services-networking/ingress/"
**This is a Bug Report**

**Problem:**

In the documentation for the IngressClass resource, the provided example is rejected by the Kubernetes API:
[code]
[code]

**Proposed Solution:**
`k8s.example.com/v1alpha` --> `k8s.example.com`

**Page to Update:**
https://kubernetes.io/docs/concepts/services-networking/ingress/#ingress-class

[2020-04-17 01:24] ysyukr commented on #20246
/close

[2020-04-17 01:24] #20246 closed

[2020-04-17 03:30] ecojuntak commented on #20111
I'm taking `/docs/tasks/run-application/horizontal-pod-autoscale/`

[2020-04-17 06:32] ysyukr opened #20401 "Translate concepts/scheduling-eviction/kube-scheduler.md in Korean."
**This is a Feature Request**

**What would you like to be added**
Translate concepts/scheduling-eviction/kube-scheduler.md in Korean.

**Why is this needed**
The following files are not translated into Korean.
- [ ] /en/docs/concepts/scheduling-eviction/kube-scheduler.md

**Comments**
Page to update: https://kubernetes.io/docs/concepts/scheduling-eviction/kube-scheduler/

I am translating this do

[2020-04-17 06:33] ysyukr commented on #20401
/assign

[2020-04-17 07:10] ysyukr opened #20403 "Translate concepts/scheduling-eviction/scheduler-perf-tuning.md in Korean."
**This is a Feature Request**

**What would you like to be added**
Translate concepts/scheduling-eviction/scheduler-perf-tuning.md in Korean.

**Why is this needed**
The following files are not translated into Korean.
- [ ] /en/docs/concepts/scheduling-eviction/scheduler-perf-tuning.md

**Comments**
Page to update: https://kubernetes.io/docs/concepts/scheduling-eviction/scheduler-perf-tuning/

I a

[2020-04-17 07:10] ysyukr commented on #20403
/assign

[2020-04-17 08:17] #14307 closed

[2020-04-17 11:37] viniciusbds commented on #20361
/assign

[2020-04-17 12:03] viniciusbds commented on #20361
/close

[2020-04-17 12:23] sftim opened #20411 "Advise contributors to limit pull requests to a single localization"
**This is a Bug Report**

**Problem:**
Pull requests that touch multiple localizations are difficult to review. Each localization team gets to pick its own workflow, that might work off _master_ or might use a long-lived branch with merges to _master_ at milestones.

The current advice to contributors does not mention limiting pull requests to a single localization.

**Proposed Solution:**
Revise

[2020-04-17 12:37] heigumjo opened #20412 "Issue with k8s.io/docs/tasks/tools/install-kubectl/"
**This is a Bug Report**

The command to link completions to the alias should be compinit and not complete

**Problem:**
The command
echo 'complete -F __start_kubectl k' >>\~/.zshrc
is not correct for macOS (at least)
**Proposed Solution:**
It should be
echo 'compinit -F __start_kubectl k' >>\~/.zshrc
**Page to Update:**
https://kubernetes.io/docs/tasks/tools/install-kubectl/#enabling-shell-autoco

[2020-04-17 17:12] davivcgarcia commented on #17880
/remove-help
/assign @Fale

[2020-04-17 17:38] davivcgarcia commented on #15123
/assign
/remove-help

[2020-04-17 17:40] davivcgarcia commented on #15123
@sftim I was reviewing the docs and I think the statement `Each node in your cluster must have at least 1 CPU.` is referring to the minimal requirements to execute the proposed tasks (and I think this is wrong, because some exercises goes up to 2 cores'. Not sure if my understanding is the same as yours.

[2020-04-17 17:53] Arhell opened #20413 "Add localization in readme in other languages"
**This is a Feature Request**

Add localization in readme in other languages

**What would you like to be added**
https://github.com/kubernetes/website/blob/master/README-ru.md

**Why is this needed**

Sync with the main file
https://github.com/kubernetes/website/blob/master/README.md

/assign
/language ru

[2020-04-17 17:54] ariksa opened #20414 "Issue with k8s.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/"
**This is a Bug Report**

**Problem:**
When executing:
`kubectl run --generator=run-pod/v1 -it --rm load-generator --image=busybox /bin/sh`
I get the following warning:
`Flag --generator has been deprecated, has no effect and will be removed in the future.`

**Page to Update:**
https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough

**Kubernetes Version:**
v1.18.1

[2020-04-17 20:15] savitharaghunathan commented on #20411
/assign krishan-sharma

[2020-04-17 22:37] Krishan-Sharma commented on #20411
I will like to assign this to myself. /assign Krishan-Sharma

[2020-04-17 22:39] Krishan-Sharma commented on #20411
/assign Krishan-Sharma

[2020-04-17 23:01] grandseba opened #20416 "Issue with k8s.io/docs/tutorials/kubernetes-basics/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-04-17 23:02] #20416 closed

[2020-04-17 23:30] viniciusbds commented on #20414
/asign

[2020-04-17 23:32] viniciusbds commented on #20414
/assign

[2020-04-18 08:48] girikuncoro commented on #20112
this issue has been fixed
/close

[2020-04-18 08:48] #20112 closed

[2020-04-18 09:44] sftim commented on #18231
/remove-lifecycle stale

[2020-04-18 09:48] sftim commented on #15123
The “1 CPU” means 1.0 of Kubernetes CPU units. That's different from saying “there needs to be at least one physical CPU core available”. Readers new to Kubernetes might not grasp that Kubernetes has its own idea of CPU number and assume that a Node that runs the kubelet OK must have at least one installed core available to make code execution possible.

For example: a node with 0.5 CPU doesn't me

[2020-04-18 10:08] vijaygharge opened #20421 "Issue with k8s.io/docs/reference/kubectl/cheatsheet/"
**This is a Bug Report**

Need to rectify comment wherein "cluster" is mentioned instead of "user"

**Problem:**
Comment section reads -
# add a new cluster to your kubeconf that supports basic auth; whereas command points to new user addition

**Proposed Solution:**

Comment shall be -

"# add a new user to your kubeconf that supports basic auth"

**Page to Update:**
https://kubernetes.io/docs/re

[2020-04-18 11:35] #16067 closed

[2020-04-18 12:42] viniciusbds commented on #20359
The link is working perfectly.
**page:** https://kubernetes.io/docs/setup/production-environment/on-premises-vm/dcos/#official-mesosphere-guide

**link:** https://github.com/mesosphere/dcos-kubernetes-quickstart

[2020-04-18 12:42] viniciusbds commented on #20359
@ivog1  you can test it again?

[2020-04-18 14:40] ariscahyadi commented on #20111
I want to take a challenge to complete the last page in the concept `/docs/concepts/cluster-administration/flow-control/`
This page is long so I know why it becomes the last page remaining :)

[2020-04-18 16:51] #20255 closed

[2020-04-18 16:53] sftim opened #20426 "“Contributing new content overview” specifies Developer Certificate of Origin, which is not actually enforced"
**This is a Bug Report**

**Problem:**
https://k8s.io/docs/contribute/new-content/overview/#configure-commit-signoffs says:

However, this is not a requirement that is enforced.

**Next Steps:**
Verify whether:
- the requirement is supposed to be enforced (documentation correct, implementation wrong)
- the documentation is wrong and the signoff / DCO is *not* a requirement

Possibly it's neither o

[2020-04-18 16:53] sftim commented on #20426
Also see Slack conversation: https://kubernetes.slack.com/archives/C1J0BPD2M/p1587202683228200

[2020-04-18 16:58] sftim commented on #20421
Thanks for spotting this @vijaygharge

The command you've mentioned lets you tell `kubectl` about new user identity (new to your `.kubeconfig` anyway), including details on how to authenticate as that user. As you say, it doesn't configure `kubectl` etc to know about a new cluster.

This looks worth fixing.
/help
/language en
/kind bug
/priority important-longterm

[2020-04-18 16:58] sftim commented on #20421
/sig cli

[2020-04-18 17:01] sftim commented on #20412
Thanks for reporting this. (I haven't validated the report as yet).
/sig cli
/language en

[2020-04-18 17:04] sftim commented on #20397
/sig network

AIUI `k8s.example.com` is a valid API group name and I'm not sure if there is a term for an API group plus version, eg `k8s.example.com/v1alpha`.

On the balance of probability this looks like a bug and something worth fixing before Ingress goes GA. (I haven't looked at the code or tried things out).
/kind bug
/priority important-longterm

[2020-04-18 17:07] sftim commented on #20384
I think I'd fix this by removing or amending the page that links to https://k8s.io/docs/tasks/administer-cluster/dns-custom-nameservers/

/kind bug
/language en
/priority backlog

Thanks for reporting this @jmlrt

[2020-04-18 17:14] sftim commented on #18207
Let's remove the Limitations section entirely unless there's evidence that it remains accurate.
/remove-lifecycle rotten
/help
/language en

[2020-04-18 17:16] sftim commented on #18207
/area node-e2e

[2020-04-18 17:20] sftim commented on #18207
BTW https://github.com/kubernetes/community/blob/master/contributors/devel/sig-node/e2e-node-tests.md#node-end-to-end-tests also documents Node end-to-end tests

[2020-04-18 18:42] #15788 closed

[2020-04-18 19:40] sftim commented on #15788
/hold cancel
(it's already closed)

[2020-04-18 20:32] sftim opened #20428 "Add area/web-development label"
**This is a Feature Request**

**What would you like to be added**
If this sounds like a good idea: [add a new label](https://github.com/kubernetes/test-infra/blob/master/label_sync/labels.md#how-do-i-add-a-new-label), `area/visual-style`, for [k/website](https://github.com/kubernetes/website). Use this new label to identify issues and PRs that are relevant to visual style.

For example:
- adding

[2020-04-18 20:32] sftim commented on #20428
An example of an issue I'd label (manually): https://github.com/kubernetes/website/issues/19474

[2020-04-18 20:34] sftim commented on #18607
The relevant KEP has merged and there is now a revised [content guide](https://kubernetes.io/docs/contribute/style/content-guide/).

The page at https://kubernetes.io/docs/tutorials/online-training/overview/ has gone, so this issue is no longer relevant.
With that in mind @bbrundert I will close it.
/close

[2020-04-18 20:34] #18607 closed

[2020-04-18 22:16] sftim commented on #20426
@celestehorgan I think you added this, initially in https://github.com/kubernetes/website/pull/19576

I can't see where that came from before that PR though.

[2020-04-18 22:24] Arhell opened #20430 "Localize “email address” placeholder"
**This is a Bug Report**

**Problem:**
not translated

**Proposed Solution:**
Localize “email address” placeholder

**Page to Update:**
https://kubernetes.io/pl/

/language pl
/assign

[2020-04-19 00:37] pjhwa opened #20432 "Issue with k8s.io/docs/setup/learning-environment/minikube/"
**This is a Bug Report**

**Problem:**
There are some broken links in the "Managing your Cluster", "Additional Links" sections.

Managing your Cluster section:
Line: 336
- [Upgrading Minikube](https://minikube.sigs.k8s.io/docs/start/macos/#upgrading-minikube)
-> This page has gone. I couldn't find any documents about upgrading minikube on macos.
This issue was already opened via https://github.com

[2020-04-19 00:38] pjhwa commented on #20432
/language en
/assign

[2020-04-19 02:01] vetbijaya opened #20435 "Issue with k8s.io/docs/tasks/tools/install-minikube/"
**This is a Bug Report**

**Problem:**
user@user-VirtualBox:~$ sudo minikube start --vm-driver=virtualbox
! minikube v1.9.2 on Ubuntu 18.04
! Both driver=none and vm-driver=virtualbox have been set.
 Since vm-driver is deprecated, minikube will default to driver=none.
   If vm-driver is set in the global config, please run "minikube config unset vm-driver" to resolve this warning.

* Using the non

[2020-04-19 02:13] pjhwa commented on #20344
There is a typo for the youtube link like below:
https://youtbue.com/kubernetescommunity

[2020-04-19 02:16] pjhwa commented on #20344
There are broken links at the bottom of every documents like the below:

For example: https://kubernetes-hugo-staging.netlify.app/docs/setup/learning-environment/minikube/
At the bottom:
Last modified March 30, 2020: [content/en migrated from current master (36b21b7)](https://github.com/kubernetes/website/commit/36b21b7ed2fab42a385d3441c4fb6ce02b6788ed)

[2020-04-20 03:25] TomorJM opened #20445 "Issue with k8s.io/zh/docs/tutorials/kubernetes-basics/expose/expose-intro/"
**This is a Bug Report**

**Problem:**

not a Chinese version(It should be)

**Proposed Solution:**

translation

**Page to Update:**

https://kubernetes.io/zh/docs/tutorials/kubernetes-basics/expose/expose-intro/

[2020-04-20 03:25] #20354 closed

[2020-04-20 03:26] TomorJM commented on #20445
/language zh

[2020-04-20 03:26] TomorJM commented on #20445
/assign

[2020-04-20 03:44] #20251 closed

[2020-04-20 05:26] sunminjeon commented on #19649
/close

[2020-04-20 05:26] #19649 closed

[2020-04-20 05:33] HankTheCrank opened #20447 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/"
**This is a Bug Report**

The script for the Kubernetes repository seems to have an error in the repo URL

**Problem:**
I try and install the Kubernetes components for an etcd server, the install fails with:
[Errno 14] HTTPS Error 404 - Not Found

**Proposed Solution:**
In the script change:
baseurl=https://packages.cloud.google.com/yum/repos/kubernetes-el7-$basearch
to:
baseurl=https://packages.c

[2020-04-20 05:40] swgu931 opened #20448 "Issue with k8s.io/docs/concepts/cluster-administration/networking/"
I am wondering whether the following sentences all is right or not.

I think two different sentences have somewhat contradiction.
1) "pods on a node can communicate with all pods on all nodes without NAT"
and
2) "pods in the host network of a node can communicate with all pods on all nodes without NAT"

So, I guess 1) might have been changed to
1) "pods on a node can communicate with all pods on t

[2020-04-20 10:26] iscongyang opened #20454 "Issue with k8s.io/zh/docs/tutorials/stateless-application/expose-external-ip-address/"
**This is a Bug Report**

--Replicas is no longer supported in kubernetes v1.18, not changed here

[2020-04-20 12:46] adityaalifn commented on #20111
I'd like to take `/docs/tasks/access-application-cluster/configure-access-multiple-clusters/`

[2020-04-20 13:59] neolit123 commented on #20447
please see this existing issue:
https://github.com/kubernetes/website/issues/20279

and the PR to merge a fix:
https://github.com/kubernetes/website/pull/20291

/close

[2020-04-20 13:59] #20447 closed

[2020-04-20 14:23] matti125 commented on #19927
I believe it would be ok and sufficient, if the website just stated the above, i.e. "the tools under /setup can be used to set up k8s without additional setup or helper tools." It might be obvious for the initiated, but others might waste time trying to find better instructions.

[2020-04-20 15:25] fjammes opened #20456 "Issue with k8s.io/docs/concepts/overview/working-with-objects/common-labels/"
**This is a Bug Report**

**Problem:** Information about recommended labels for nodes is missing.

**Proposed Solution:** Add information about recommended label for nodes (labels starting with node.kubernetes.io/xxx)

**Page to Update:**
https://kubernetes.io/concepts/overview/working-with-objects/common-labels/

[2020-04-20 15:29] grdnrio opened #20457 "Improvement for k8s.io/docs/reference/access-authn-authz/certificate-signing-requests/"
It would be helpful to see some examples of a Certificate Signing Request manifest.

[2020-04-20 16:27] #17717 closed

[2020-04-20 16:27] #17719 closed

[2020-04-20 19:53] lonial opened #20461 "Issue with k8s.io/docs/tasks/service-catalog/install-service-catalog-using-helm/"
helm install command for service catalog is giving me below error and I am trying this command with helm 3 install with minikube version: v1.9.0.

Could you please verify if this command is correct and there is no need to do changes for API version in charts?

helm install catalog svc-cat/catalog --namespace catalog

Error: unable to build kubernetes objects from release manifest: unable to recogn

[2020-04-20 19:58] viniciusbds commented on #13939
Hi @femrtnz @jcjesus @devlware @jhonmike!
 I'd like to translate  `Scheduler Perf Tuning` topic
at "docs/concepts/scheduling-eviction/scheduler-perf-tuning.md".
Can someone assign it to me ?

[2020-04-20 20:53] prasadkatti commented on #20461
The api group `extensions/v1beta1` is no longer served in 1.18. Check #19996.

[2020-04-20 20:59] prasadkatti commented on #20461
An issue has been created for this - https://github.com/kubernetes-sigs/service-catalog/issues/2787

[2020-04-20 21:09] davivcgarcia commented on #15123
Honestly, I'm still don't get it. I thought the **Kubernetes CPU** reflects what the operating system reports (ex.: `grep -c processor /proc/cpuinfo`). I wasn't considering possible to have a Kubelet running on a node and reporting only 0.5 CPU (how do we do that? flags? cgroup via systemd?).

Since the docs are not using term **physicial**, I still think the original author was referring to minim

[2020-04-20 21:13] prasadkatti commented on #20461
You can try to install [v0.3.0-beta.2](https://github.com/kubernetes-sigs/service-catalog/releases/tag/v0.3.0-beta.2). That has the fix for this issue.

[2020-04-20 21:17] prasadkatti commented on #20461
Or you can install service-catalog from master using the instructions from this comment -
https://github.com/kubernetes-sigs/service-catalog/issues/2787#issuecomment-602693192

[2020-04-20 21:42] pjhwa opened #20462 "Translate concepts/configuration/pod-priority-preemption.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/configuration/pod-priority-preemption.md in Korean.

**Why is this needed**

There is no documents of concepts/configuration/pod-priority-preemption/ which translated into Korean.

**Comments**

Page to update: https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/

I'm translating this docum

[2020-04-20 21:43] pjhwa commented on #20462
/language ko
/assign

[2020-04-20 22:34] prasadkatti commented on #20435
Hi @vetbijaya. I would suggest you move this issue to https://github.com/kubernetes/minikube. Additionally, look at the instructions at https://minikube.sigs.k8s.io/docs/start/ to install minikube.

The `--vm-driver` has been deprecated. Try -
`sudo minikube start --driver=virtualbox`

[2020-04-20 22:36] prasadkatti commented on #20435
Looks like you are not able to access https://k8s.gcr.io, you will need to configure a proxy mentioned in the output of `minikube start`.

[2020-04-20 22:52] prasadkatti commented on #20364
For issues related to minikube, you might get a better response if you move the issue to https://github.com/kubernetes/minikube

[2020-04-21 00:30] #20432 closed

[2020-04-21 00:54] #18763 closed

[2020-04-21 01:02] #20352 closed

[2020-04-21 02:28] #20160 closed

[2020-04-21 02:58] #20279 closed

[2020-04-21 03:00] sunminjeon opened #20466 "Translate concepts/storage/storage-classes.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/storage/storage-classes.md in Korean.

**Why is this needed**

There is no documents of concepts/storage/storage-classes/ which translated into Korean.

**Comments**

Page to update:  https://kubernetes.io/docs/concepts/storage/storage-classes/

[2020-04-21 03:26] jimangel commented on #17388
@zacharysarah @sftim I believe it was just _any_ content beyond the required content. Good with 5 opened PRs.

[2020-04-21 03:33] jimangel opened #20467 "Add Hugo in a container info to website contributing guide"
Add content to [k/website contribute](https://kubernetes.io/docs/contribute/) covering running Hugo in a container to serve docs like:

---

## Running the website locally using Docker

The recommended way to run the Kubernetes website locally is to run a specialized [Docker](https://docker.com) image that includes the [Hugo](https://gohugo.io) static website generator.

If you have Docker [up and

[2020-04-21 04:12] jimangel commented on #14111
/close as @kbhawkey is covering this work under https://github.com/kubernetes/website/issues/18567

[2020-04-21 04:12] #14111 closed

[2020-04-21 07:12] Deep-sys-star opened #20469 "Issue with k8s.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

after setup the wordpress on kubernetes it doesnt load on browser

[2020-04-21 08:35] sakaia opened #20471 "Issue with k8s.io/docs/reference/kubectl/overview/"
Is there any document of writing Container STATUS list?
like Init:0/1 ImagePullBackOff ContainerCreating Running Completed

[2020-04-21 09:35] #20298 closed

[2020-04-21 10:20] sftim opened #20473 "Move troubleshooting section from Managing Resources for Containers into its own page"
**What would you like to be added**
Migrate https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#troubleshooting to its own page

**Why is this needed**
[Managing Resources for Containers](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/) is quite long. The troubleshooting steps are important but could work better as a task inside https://kub

[2020-04-21 14:56] JamesLaverack opened #20474 "Better formatting for multi-line field comments in API reference documentation"
**This is a Feature Request**

**What would you like to be added**

Some API fields have multi-line comments, some with formatting. For example the field `fsGroup` in `corev1.PodSecurityContext` has this comment in the [Go source](https://github.com/kubernetes/api/blob/kubernetes-1.18.1/core/v1/types.go#L3188):

[code]

In the [HTML reference documentation](https://kubernetes.io/docs/reference/gen

[2020-04-21 16:06] psingleton opened #20476 "Issue with k8s.io/docs/tasks/access-application-cluster/web-ui-dashboard/"
Hi,

Following the instructions on the page to install the dashboard I am getting the below 500 error:

error: unable to read URL "https://raw.githubusercontent.com/kubernetes/dashboard/v2.0.0-beta8/aio/deploy/recommended.yaml", server reported 500 Internal Server Error, status code=500

[2020-04-21 17:08] sftim opened #20478 "Wrong title for “Topologi Service (_Service Topology_)” (bahasa Indonesia)"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/id/docs/concepts/services-networking/service-topology/ has the title
_Topologi Service (\_Service Topology\_)_.

HTML doesn't let you use formatting in titles, so Hugo / CommonMark also don't let you use Markdown formatting in page titles.

**Proposed Solution:**
Take out the underscores.

**Page to Update:**
https://kubernetes.io/id/doc

[2020-04-21 17:10] sftim commented on #20474
Does Golang support Markdown comments (like [in Rust](https://doc.rust-lang.org/stable/rust-by-example/meta/doc.html))?

[2020-04-21 17:34] Arhell commented on #20430
resolve
/close

[2020-04-21 17:34] #20430 closed

[2020-04-21 17:35] Arhell opened #20480 "Update localization in readme in other languages"
**This is a Feature Request**

Add localization in readme in other languages

**What would you like to be added**
https://github.com/kubernetes/website/blob/master/README-pl.md

**Why is this needed**

Sync with the main file
https://github.com/kubernetes/website/blob/master/README.md

/assign
/language pl

[2020-04-21 17:50] davivcgarcia commented on #20421
Sorry for jumping in, I'm gonna update the Issue labels to reflect the work on linked PR.

/remove-help
/assign @gosoon

[2020-04-21 18:01] kbhawkey opened #20481 "releases section, relocating tutorials section"
With the interest in adding a `Releases` section (or Releases page from the home page),
investigate whether there is consensus in relocating the  Tutorial sections.
Some comments about this proposed change:

- The tutorial section has limited content.
- Is the relocation necessary if sections are due to change with the upcoming docs theme addition?
- Relocate the `Learn K8s Basics` tutorial conten

[2020-04-21 18:03] kbhawkey commented on #20481
Temporarily assigning myself.
/assign @kbhawkey
@jimangel , Related to Release page/section

[2020-04-21 18:57] sftim commented on #15893
This is a fine thing to have at some point.
/remove-lifecycle rotten

[2020-04-21 19:42] KnotGud opened #20483 "Issue with k8s.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/"
**This is a Bug Report**

**Problem:**
Powershell markdown code block in `{{ note }}` block doesn't render correctly
**Proposed Solution:**
Move markdown code block out of `{{ note }}` block or change code block to inline code snippet
**Page to Update:**
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/

[Code Link](https://github.com/kubernetes/website/blame/master

[2020-04-21 19:51] KnotGud commented on #20483
Duplicate of #20130

[2020-04-21 19:51] #20483 closed

[2020-04-21 20:57] vetbijaya commented on #20435
I was able to run minikube using sudo minikube start --driver=virtualbox now but it keeps on crashing the Ubuntu while trying to start. Can you help me how to resolve that? Is there any known issue with minikube configuration hosted on Ubuntu on Virtual Box?
Regarding the proxy configuration, I already have set that in environment variables.

[2020-04-21 21:08] dkypuros opened #20485 "New contributor guide"
**This is a Feature Request**

**What would you like to be added**
See summary at bottom of my page. I would like a better understanding of "what Git and Github commands do I need to know to do(start) my first PR (basic)?"

**Why is this needed**
Given I start [here](https://kubernetes.io/docs/contribute/), and hile following the third-party links to, in this case "[Git](https://git-scm.com/)", I

[2020-04-21 21:53] zacharysarah opened #20488 "OWNERS_ALIASES cleanup"
## Repo groups are out of alignment with current best practices

The [`website-maintainers`](https://github.com/kubernetes/website/blob/master/OWNERS_ALIASES#L160) group in OWNERS_ALIASES is a historical artifact with no permissions associated with it.

## How to fix it

Remove the `website-maintainers` team from OWNERS_ALIASES.

I'm also proposing to update the description of `sig-docs-leads` fro

[2020-04-21 22:04] robbiezhang opened #20491 "Issue with k8s.io/docs/concepts/configuration/assign-pod-node/"
The following terms are wrong

It should be

[2020-04-22 00:26] jmyung commented on #20368
/close

[2020-04-22 00:26] #20368 closed

[2020-04-22 00:52] Ming9 opened #20493 "Translate tasks/setup-konnectivity/setup-konnectivity.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/setup-konnectivity/setup-konnectivity.md in Korean

**Why is this needed**
No translate tasks/setup-konnectivity/setup-konnectivity.md in Korean

**Comments**

Page to Update: https://kubernetes.io/docs/tasks/setup-konnectivity/setup-konnectivity/

[2020-04-22 00:52] Ming9 commented on #20493
/language ko
/assign

[2020-04-22 02:29] #20421 closed

[2020-04-22 03:01] #20488 closed

[2020-04-22 03:11] #16085 closed

[2020-04-22 03:25] #18086 closed

[2020-04-22 06:04] tengqm commented on #20474
@sftim There are places where the comments are using inline markdown syntax such as links and backtiqs.

[2020-04-22 06:11] #20324 closed

[2020-04-22 07:19] Arhell commented on #20231
resolve
/close

[2020-04-22 07:19] #20231 closed

[2020-04-22 08:09] sftim commented on #20474
Sure; really I'm asking if that's a _de facto_ thing or documented and _de jure_. (If it's documented like in Rust then it's easy to put it through a machine and expect ~consistent~ documented results).

[2020-04-22 08:45] grdnrio commented on #20457
Ignore - found examples documented here: https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/#create-a-certificate-signing-request

[2020-04-22 08:45] #20457 closed

[2020-04-22 09:46] Arhell commented on #20480
resolve
/close

[2020-04-22 09:47] #20480 closed

[2020-04-22 10:22] smirnov-mi opened #20497 "Issue with k8s.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/"
**This is a Bug Report for documentation page**

**Problem:**

Hi guys, I only see kubeadm-backup-manifests folders in the /etc/kubernetes/tmp
I don't use external etcd:

master-node# ls -la /var/lib/etcd/member/snap/
total 53944
drwx------ 2 root root     4096 Apr 22 10:55 .
drwx------ 4 root root     4096 Apr 20 16:35 ..
-rw-r--r-- 1 root root    23680 Apr 22 04:18 00000000000000b2-0000000006484

[2020-04-22 11:08] JamesLaverack commented on #20474
I don't believe there is any particular Go language policy about using Markdown in comments, although I could well be wrong. The [Go wiki](https://github.com/golang/go/wiki/Comments) is silent on it, and [GoDoc](https://godoc.org/k8s.io/api/core/v1) doesn't seem to render field comments at all.

[2020-04-22 11:13] pdevrien opened #20498 "Improvement for k8s.io/docs/concepts/cluster-administration/proxies/"
It would be nice to have a use case example for each type of proxy instead of solely pointing out their properties. As proxies are so important, a reader needs to know at what stage of the communication flow which proxy is used and why.
Thank you.

[2020-04-22 11:34] JamesLaverack commented on #20474
I looked for other examples. It seems that where there is formatting it is, by accident or design, mostly Markdown. But I haven't searched exhaustively so I wouldn't be surprised if you could find counter-examples.

- `maxSkew` in `corev1.TopologySpreadConstraint` uses an unordered list and a table. Which renders about as well as you might expect:

[code]

- `matchPolicy` in `admissionregistration

[2020-04-22 13:10] neolit123 commented on #20497
I don't use external etcd:

hi, i don't understand your comment. can you please clarify?

the etcd backup folder should be there if you it matches the docs explanation:

for the manifest backup folder:

/sig cluster-lifecycle
/triage support

[2020-04-22 14:13] pjhwa opened #20499 "Translate concepts/configuration/manage-resources-containers.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/configuration/manage-resources-containers.md in Korean.

**Why is this needed**

There is no documents of concepts/configuration/manage-resources-containers.md which translated into Korean.

**Comments**

Page to update: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/

I'm translat

[2020-04-22 14:13] pjhwa commented on #20499
/language ko
/assign

[2020-04-22 14:18] jfcgaspar commented on #14457
Anyone tried running kubernetes by enabling seboolean container_manage_cgroup yet with good results ?
What's preventing the documentation from being updated to just enable this selinux boolean rather than disabling selinux alltogether ?

/remove-lifecycle stale

[2020-04-22 14:59] neolit123 commented on #14457
@jfcgaspar i don't think `container_manage_cgroup` is sufficient.
see https://github.com/kubernetes/kubeadm/issues/279

security contexts on Linux are a mess and i don't think we have the capacity to handle all that in the kubeadm docs.

instead of saying:

we can add a note for users that know what they are doing to not disable it but to be aware that it might require a set of changes that kubead

[2020-04-22 18:07] nevermyuk commented on #20478
/assign

[2020-04-22 20:30] #20213 closed

[2020-04-22 20:30] #20214 closed

[2020-04-22 22:14] sftim commented on #16466
/remove-lifecycle stale

[2020-04-22 22:15] moni-pandey commented on #12827
any update ?

[2020-04-22 22:18] Arhell commented on #20413
resolve
/close

[2020-04-22 22:19] #20413 closed

[2020-04-22 22:25] #17880 closed

[2020-04-22 22:55] Arhell opened #20509 "Localize “email address” placeholder on home page"
**This is a Bug Report**

**Problem:**
not translated

**Proposed Solution:**
Localize “email address” placeholder

**Page to Update:**
https://kubernetes.io/pt/

/language pt
/assign

[2020-04-23 01:34] #20302 closed

[2020-04-23 01:34] novalagung commented on #20111
let me take `/docs/tasks/configure-pod-container/pull-image-private-registry/` :)

[2020-04-23 02:49] ysyukr commented on #20329
/close

[2020-04-23 02:49] #20329 closed

[2020-04-23 02:50] ysyukr commented on #19953
/close

[2020-04-23 02:50] ysyukr commented on #19954
/close

[2020-04-23 02:50] #19953 closed

[2020-04-23 02:50] #19954 closed

[2020-04-23 03:16] ysyukr commented on #20220
/close

[2020-04-23 03:16] #20220 closed

[2020-04-23 03:37] Nishikoh commented on #20207
/close

[2020-04-23 04:58] nevermyuk commented on #20467
/assign

[2020-04-23 05:17] #20269 closed

[2020-04-23 06:17] nevermyuk commented on #20467
@jimangel Can I have some clarity on this?
The instructions are repeated in
[Preview Locally](https://kubernetes.io/docs/contribute/new-content/new-content/#preview-locally)

[2020-04-23 07:05] smirnov-mi commented on #20497
The document stays :

So I expected to see two types of folders in /etc/kubernetes/tmp :
kubeadm-backup-manifests*
and
kubeadm-backup-etcd*

I only see
kubeadm-backup-manifests*

[2020-04-23 08:43] Colstuwjx commented on #20491
After dive into code, it's implemented by a scheduler plugin, with func [nodeMatchesNodeSelectorTerms](https://github.com/kubernetes/kubernetes/blob/38173d586ac5cbc3e6fb83b704081574fb4d7022/pkg/scheduler/framework/plugins/helper/node_affinity.go#L65), and it called [MatchNodeSelectorTerms(https://github.com/kubernetes/kubernetes/blob/38173d586ac5cbc3e6fb83b704081574fb4d7022/pkg/apis/core/v1/helper

[2020-04-23 11:44] Kartik494 commented on #20286
Hi @madz0 in my environment i got the expected output as
 kubectl port-forward service/redis-master 7000:6379
Forwarding from 127.0.0.1:7000 -> 6379
Forwarding from [::1]:7000 -> 6379
It is working with service

[2020-04-23 11:48] nevermyuk commented on #20193
/assign

[2020-04-23 12:13] sftim commented on #20193
/retitle Unclarity on Flannel preparation step

[2020-04-23 12:13] sftim commented on #20193
D'oh!

[2020-04-23 12:24] nevermyuk commented on #16199
/assign

[2020-04-23 12:26] Kartik494 commented on #20006
Hi @bobbiliraja you can apply weavenet plugin  kubectl apply -f "https://cloud.weave.works/k8s/net?k8s-version=$(kubectl version | base64 | tr -d '\n')"

[2020-04-23 12:28] Kartik494 commented on #20006
In Addition to this make sure weave net pods are in up and running state and not more then one network plugin is enabled on cluster.After that core-dns pod should in running state

[2020-04-23 12:35] Kartik494 commented on #19942
Hi @bogdansolga  when i am applying the same  [file](https://raw.githubusercontent.com/kubernetes/website/master/content/en/examples/application/web/web.yaml), it apply successfully in my enviorment .There are PV and PVC created in your enviorment could you let me know details of both
Thanks

[2020-04-23 12:46] Kartik494 commented on #20084
Hi @JonnyWaffles i think the pod resources is added to kustomization.yaml itself after [curl](https://raw.githubusercontent.com/kubernetes/website/master/content/en/examples/pods/config/redis-pod.yaml) into redis-pod.

[2020-04-23 12:56] jmyung opened #20526 "suggest new words to add Korean glossary"
**This is a Feature Request**

**What would you like to be added**

discuss and add new words to [Korean glossary](https://kubernetes.io/ko/docs/contribute/localization_ko/#%ED%95%9C%EA%B8%80%ED%99%94-%EC%9A%A9%EC%96%B4%EC%A7%91)

| English        | 한글           | 비고  |
| ------------- |-------------| -----|
| Cloud Provider      | ~클라우드 공급자~ | 공급자, 제공자, 프로바이더 혼용하기로 결정, 해당 용어는 한글용어에 대한 논란이 많은 선례가

[2020-04-23 12:56] jmyung commented on #20526
/language ko

[2020-04-23 13:01] ysyukr commented on #19968
/close

[2020-04-23 13:01] #19968 closed

[2020-04-23 13:51] neolit123 commented on #20497
i think we have a hidden detail where if you have a HA control plane (mutli-master) the etcd backup folder will be missing.

do you have HA?

[2020-04-23 14:18] smirnov-mi commented on #20497
Yes, I do. That's what I was thinking about.
A small hint in the documentation would be useful. Thank you!

[2020-04-23 14:33] GFRPIG opened #20527 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/"
hello！there is a possible mistake at "Joining your nodes" section：
![1](https://user-images.githubusercontent.com/49465580/80110964-deaff300-85b1-11ea-9a5a-7f83c414d726.PNG)
![2](https://user-images.githubusercontent.com/49465580/80111003-e7a0c480-85b1-11ea-84dc-f9bda3e5876f.PNG)
have you wrongly written "port" to "ip" ?

[2020-04-23 14:41] neolit123 commented on #20497
we planned to have this hint originally but though that users will get more confused if it was there.
/assign

[2020-04-23 14:42] neolit123 commented on #20527
hi, yes this seems wrong.
do you wish to send a PR to fix it?
/sig cluster-lifecycle
/help

[2020-04-23 14:46] smirnov-mi commented on #20497
ha ha., then you got exactly one person who decided to read (and read up to this part!) and had exactly this setup :-)

[2020-04-23 14:55] GFRPIG commented on #20527
sorry…i just find this mistake during learning, but i don't know how to fix it...(i am a novice to github and k8s…)

[2020-04-23 14:55] GFRPIG commented on #20527
sorry…i just find this mistake during learning, but i don't know how to fix it...(i am a novice to github and k8s…) @neolit123

[2020-04-23 15:46] ysyukr commented on #18600
Finally merged to master via #20528 .

/close

[2020-04-23 15:46] #18600 closed

[2020-04-23 15:47] neolit123 commented on #20527
/assign

[2020-04-23 17:08] neolit123 commented on #20497
@smirnov-mi

i realized that we changed that for 1.18+:
https://github.com/kubernetes/kubernetes/commit/72559ec6933a54225f5116d016fd7927762c1878

so now all control-plane nodes in a stacked-etcd HA setup (not external etcd) would get etcd backup.

[code]

as you can see the backup folder is created for me in a stacked-etcd HA setup.
also note that i checked the code and a backup should be created

[2020-04-23 17:26] neolit123 commented on #20527
/remove-help

[2020-04-23 20:24] php-coder commented on #18850
/remove-lifecycle stale

[2020-04-23 20:42] Swoorup opened #20530 "hello-minikube create deployment fails"
**This is a Bug Report**

**Problem:**

In the tutorial https://kubernetes.io/docs/tutorials/hello-minikube/, the following appears command fails
[code]

When running minikube ssh and directly pulling I get the following message:

[code]

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/tutorials/hello-minikube/

v1.18.0

[2020-04-24 01:58] tengqm commented on #20474
@JamesLaverack Thanks for the detailed examples. I have filed [an issue](https://github.com/kubernetes-sigs/reference-docs/issues/151) for this. However, I don't think there is a smarter parser which can detect the code snippets in the sample comments above or the sample  table.
Yes, the comment looks like markdown syntax. But when you feed them into a markdown parser, you will not get the desired

[2020-04-24 02:07] dmoonskim opened #20534 "Translate tasks/configure-pod-container/quality-service-pod.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/configure-pod-container/quality-service-pod.md in Korean

**Why is this needed**
No translation tasks/configure-pod-container/quality-service-pod.md in Korean

**Comments**

https://kubernetes.io/docs/tasks/configure-pod-container/quality-service-pod/

[2020-04-24 02:07] dmoonskim commented on #20534
/language ko
/assign

[2020-04-24 02:23] gochist opened #20535 "Outdated files in the dev-1.18-ko.3 branch"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.18-ko.3 branch.

### 40 files to be modified
1. [ ] content/en/docs/concepts/architecture/cloud-controller.md 1 file changed, 73 insertions(+), 103 deletions(-)
1. [ ] content/en/docs/concepts/architecture/controller.md 1 file changed, 1 insertion(+), 1 deletion(-)
1. [ ] content/en/docs/concepts/cluster-administration/manage-d

[2020-04-24 02:34] ysyukr commented on #20535
/assign

[2020-04-24 02:38] #20188 closed

[2020-04-24 02:38] #20270 closed

[2020-04-24 02:40] #20142 closed

[2020-04-24 02:40] #20061 closed

[2020-04-24 02:40] #19988 closed

[2020-04-24 02:41] #19818 closed

[2020-04-24 02:48] hariharanrbn commented on #20325
Could someone confirm?

[2020-04-24 02:49] mailhari commented on #20325
Could someone confirm?

[2020-04-24 06:13] prasadkatti commented on #20527
@neolit123 - I would like to help with such doc issues for sig/cluster-lifecycle.

[2020-04-24 06:55] Devang1991 opened #20536 "Issue with k8s.io/docs/tasks/access-application-cluster/create-external-load-balancer/"
How to assign DNS mapping to loadbalancer in Kubernetes

[2020-04-24 12:56] #17317 closed

[2020-04-24 12:56] #17560 closed

[2020-04-24 13:10] neolit123 commented on #20527
thanks @prasadkatti i can ping on new tickets. you can also watch the sig/cluster-lifecycle label in this repo.

[2020-04-24 14:12] GreenhazelStudio opened #20540 "Improvement for k8s.io/docs/tutorials/services/source-ip/"
Under section header "Source IP for Services with Type=ClusterIP" (right about section header "Source IP for Services with Type=NodePort") there is comment that I believe is slightly misleading.  It reads...

...however I believe it should read...

...provided I understood the material correctly, of course.

[2020-04-24 15:28] pjhwa opened #20541 "Issue with content/ko/includes/task-tutorial-prereqs.md"
**This is a Bug Report**

**Problem:**

- 전체 문서에 대한 일관성과 맞지 않은 '높임말'을 사용하고 있습니다.
- 한글화된 문서로 링크 변경이 필요합니다.

본 문서는 특정 문서에 포함되는 페이지입니다.

**Proposed Solution:**
평어체로 수정합니다.

- 설정되어 있어야 합니다. -> 설정되어 있어야 한다.
- 사용할 수 있습니다: -> 사용할 수 있다.
- Minikube에 대한 링크 수정: /ko/docs/setup/learning-environment/minikube/

**Page to Update:**
https://github.com/kubernetes/website/blob/master/content/ko/includes/task-tutoria

[2020-04-24 15:28] pjhwa commented on #20541
/language ko
/assign

[2020-04-24 15:57] RobertKielty commented on #18363
Checked this again and this is no longer an issue
/close

[2020-04-24 15:58] #18363 closed

[2020-04-24 16:23] vikramhome commented on #19876
Hi,

Thanks a lot for inviting me to the kubernetes journey. I could not pay
attention to it as I was busy preparing for my CKA exam which is cleared
now.

With regard to this email, I checked and the required change has been made
already.

Can you please assign any new task to me as I am new to this. I would also
be able to attend any meetings if you are conducting any.

Thanks,
Vikram Jeet

On T

[2020-04-24 17:33] gokussx4 opened #20545 "Issue with k8s.io/docs/reference/kubectl/jsonpath/ documentation not accurate with jsonpath support"
**This is a Bug Report**

**Problem:**
The article states jsonpath support but does not indicate it is _limited_. For example, =~ does not work so there isn't regex support.

**Proposed Solution:**
Please document what is and is not supported since it is not a full version of jsonpath. Also link github issue that states full support is desired for tracking purposes of those wanting the full jsonpa

[2020-04-24 19:32] kbhawkey commented on #20336
Hi @sftim
Let me know if you'd like a hand with this update (or just a review).
The descriptions for the different states are located in `/<lang>/docs/templates`.
Some of the content may be duplicated in the feature _gates_ reference page.
I am wondering if the state descriptions belong in the same _section_ as the information about version/version skew. Perhaps the shortcode could link to a new f

[2020-04-24 20:27] mahpatil opened #20546 "Issue with k8s.io/docs/tasks/debug-application-cluster/resource-metrics-pipeline/"
**This is a Bug Report**

**Problem:**
The "deployment yamls" link is broken as it still points to https://github.com/kubernetes-sigs/metrics-server/tree/master/deploy
**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-04-24 22:13] Ksmith30 commented on #18319
/close

[2020-04-24 22:13] #18319 closed

[2020-04-24 22:14] Ksmith30 commented on #18485
/close

[2020-04-24 22:14] #18485 closed

[2020-04-24 22:27] #20541 closed

[2020-04-24 22:54] Arhell opened #20548 "Localize “email address” placeholder"
**This is a Bug Report**

**Problem:**
not translated

**Proposed Solution:**
Localize “email address” placeholder

**Page to Update:**
https://kubernetes.io/vi/

/language vi
/assign

[2020-04-25 04:56] lou-lan commented on #20530
/assign

[2020-04-25 05:46] nevermyuk commented on #20546
Might be because it is now being used only for development. [For more info, Metric server deployment README](https://github.com/kubernetes-sigs/metrics-server#deployment)

**Page to Update:**
https://kubernetes.io/docs/tasks/debug-application-cluster/resource-metrics-pipeline/#metrics-server

/language en
/kind bug

[2020-04-25 06:04] nevermyuk commented on #20536
This is not the place to ask questions.
For your questions or relative issue please refer to [this](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/#help-my-question-isn-t-covered-i-need-help-now)

/triage support

[2020-04-25 13:42] ysyukr commented on #20403
/close

[2020-04-25 13:42] ysyukr commented on #20401
/close

[2020-04-25 13:42] #20403 closed

[2020-04-25 13:42] #20401 closed

[2020-04-25 19:11] shay-berman opened #20556 "Issue with k8s.io/docs/setup/best-practices/cluster-large/"
**This is a Bug Report**

**Problem:**
Missing max limit of k8s servces object in the documentation.

**Proposed Solution:**
when specify number of nodes, also can you specify the limit (if any) on number of k8s services, deployment objects?

**Page to Update:**
https://kubernetes.io/...

[2020-04-25 20:27] Kanshar opened #20557 "Improvement for k8s.io/docs/tasks/manage-kubernetes-objects/imperative-command/"
The page could also mention how to create a pod using imperative commands.
[code]

[2020-04-26 01:35] AbsentLung opened #20558 "Consumer 'project:hello-minikube-zero-install' has been suspended"
Following instructions from https://kubernetes.io/docs/tutorials/hello-minikube/, I ended up with this:

[code]

[2020-04-26 04:18] lou-lan commented on #20558
https://github.com/kubernetes/website/pull/20551

[2020-04-26 07:17] rlenferink commented on #13998
/remove-lifecycle stale

[2020-04-26 16:37] kbhawkey commented on #20481
Closing until new theme is in place.
/close

[2020-04-26 16:37] #20481 closed

[2020-04-26 16:40] kbhawkey commented on #18567
/close

[2020-04-26 16:40] #18567 closed

[2020-04-26 16:41] kbhawkey commented on #18061
Completed.
/close

[2020-04-26 16:41] #18061 closed

[2020-04-26 16:43] kbhawkey commented on #19095
/unassign

[2020-04-26 16:48] kbhawkey commented on #16776
The v1 federation task pages were removed.
/close

[2020-04-26 16:48] #16776 closed

[2020-04-26 17:19] kbhawkey commented on #19095
📢 Help wanted:
I suggest to add a brief description and example of how to use the most basic (custom) version shortcodes (pick one or two): `param`, `latest-version`, `latest-semver`.
Review the [contribute section](https://kubernetes.io/docs/contribute/) and decide where this content should be added.
I am happy to assist and review.
/help

[2020-04-26 21:48] JamesLaverack commented on #20474
Ah I see. So it's _kind of_ Markdown.

Looks like that "just" applying a Markdown parser isn't going to cut it. I took a look at [the issue](https://github.com/kubernetes-sigs/reference-docs/issues/151) you raised and at least parsing single-backtick content into a `<code>` block seems reasonable.

Instead of trying to figure out how to parse the not-quite-markdown, could we change the comments to

[2020-04-26 23:36] Arhell opened #20565 "The banner is not full width"
**This is a Bug Report**
the banner is not full width on the community page

**Problem:**
![1](https://user-images.githubusercontent.com/26163841/80322751-c5b47580-882f-11ea-8291-7c207e60c39c.jpg)

**Proposed Solution:**
add styles to the main file
newcommunity.css

**Page to Update:**
https://kubernetes.io/community/

/assign

[2020-04-27 01:07] fancc commented on #19981
done!!!

[pr](https://github.com/kubernetes/website/pull/19999)

[2020-04-27 01:07] #19981 closed

[2020-04-27 01:17] npu21 opened #20566 "Localize “email address” placeholder on home page"
https://github.com/kubernetes/website/issues/19272
/language no

[2020-04-27 01:38] tengqm commented on #20474
@JamesLaverack I'd assume a change like we suggested is big enough that warrants a community wide discussion, but I'm not aware of any Go standard on this.

[2020-04-27 02:44] npu21 opened #20568 "Localize “email address” placeholder on home page"
https://github.com/kubernetes/website/issues/19272
/language pt

[2020-04-27 03:02] yinshengphy opened #20570 "Issue with k8s.io/zh/docs/tutorials/kubernetes-basics/update/update-intro/"
**This is a Bug Report**

**Problem:**
Why can't I switch diagrams
**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-04-27 03:10] npu21 opened #20571 "Localize “email address” placeholder on home page"
https://github.com/kubernetes/website/issues/19272
/language hi

[2020-04-27 03:23] #20566 closed

[2020-04-27 03:32] gaoguangze111 opened #20573 "Chinese "Gettting started" page not updated."
**This is a Feature Request**
Chinese "Gettting started" page not updated.

**What would you like to be added**

https://kubernetes.io/zh/docs/setup/ page is not corresponed to English original page especially the "Learning environment" part and "Production environment" part
![image](https://user-images.githubusercontent.com/16621880/80331337-6760b480-887a-11ea-952f-a5cba6fbd786.png)
![image](http

[2020-04-27 04:54] pjhwa opened #20575 "Issue with k8s.io/docs/concepts/configuration/manage-resources-containers/"
**This is a Bug Report**

**Problem:**
At Line 324:
There is missing "local ephemeral" in front of "storage".

At Line 456:
There is missing one of brackets.

**Proposed Solution:**
At Line 324:

At Line 456:

**Page to Update:**
https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/

[2020-04-27 06:00] #17863 closed

[2020-04-27 07:57] tengqm commented on #20474
Some further investigation into this ... The comment format has been lost when we got the API definition JSON file. Take the `maxSkew` in `corev1.TopologySpreadConstraint` as an example, the resulted OpenAPI JSON for it is something like this:

[code]

The multi-lined comment has been been merged in the API spec (https://raw.githubusercontent.com/kubernetes/kubernetes/master/api/openapi-spec/swagg

[2020-04-27 09:24] fancc opened #20577 "Translate Container Environment into Chinese"
**This is a Feature Request**

**What would you like to be added**
Translate Container Environment into Chinese

**Why is this needed**
The following files are not translated into Chinese.
concepts/containers/container-environment.md

/language zh

[2020-04-27 09:24] fancc commented on #20577
/assign

[2020-04-27 10:15] pigletfly opened #20580 "improve translation of https://kubernetes.io/zh/docs/concepts/workloads/pods/disruptions/"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/zh/docs/concepts/workloads/pods/disruptions/

disruption 翻译为干扰是否正确，是否需要要统一为中断？

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/zh/docs/concepts/workloads/pods/disruptions/

[2020-04-27 10:15] pigletfly commented on #20580
/assign @tengqm

[2020-04-27 10:20] SimonHeimberg opened #20581 "startupProbe needs featureGate, Issue with k8s.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/"
**This is a Bug Report**

**Problem:** startup probe does not work when following the example on the page

Reason: according to https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/#feature-gates-for-alpha-or-beta-features StartupProbe is disabled by default and must be enabled by a feature gate.

**Proposed Solution:**
Mention in the page that the feature gate must be e

[2020-04-27 10:42] pjhwa opened #20584 "Translate concepts/configuration/configmap.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/configuration/configmap.md file in Korean.

**Why is this needed**

There is no documents of concepts/configuration/configmap/ which translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/concepts/configuration/configmap/

[2020-04-27 10:43] pjhwa commented on #20584
/language ko
/assign

[2020-04-27 10:57] bhargavim613 commented on #20381
@johndmulhausen could u please see this issue #20381

[2020-04-27 11:05] SimonHeimberg commented on #20581
similar or duplicate: #19405

[2020-04-27 12:12] alex-leonhardt opened #20585 "Improvement for k8s.io/docs/setup/production-environment/tools/kubeadm/high-availability/"
There's a potentially missing step at the end of bootstrapping a HA cluster using kubeadm, the kube-apiserver, etc. do not get a updated manifest that points to all etcd nodes (using a stacked arch), so a `k get componentstatuses` may only display a single etcd node, the default `localhost` etcd.

I'd suggest to update the doc to explicitly state that kube-apiserver, etc. manifests need updating t

[2020-04-27 13:26] tengqm commented on #20580
disruption -> 干扰
interruption -> 中断

[2020-04-27 13:56] pigletfly commented on #20580
ok

[2020-04-27 13:57] #20580 closed

[2020-04-27 15:04] danielhelfand opened #20587 "Link to Information that can be Specified via a Pod Template"
**What would you like to be added**

When viewing the [Pod template section](https://kubernetes.io/docs/concepts/workloads/pods/pod-overview/#pod-templates) of the website, I would like to see information on all the properties I can define via a Pod template. It would be helpful to link to some information and provide context about possible properties that can be defined via a pod template.

**Why

[2020-04-27 16:09] neolit123 commented on #20585
`componentstatuses` is being deprecated. there was an issue about that in the kubernetes/enhancements repository.

please use `etcdctl` to get the status of your etcd cluster.

this step is not really required for the cluster to function and amending the manifests is a further complication post etcd bootstrap.

i don't think the kubeadm docs should be updated to comply with componentstatuses (as i

[2020-04-27 17:10] celestehorgan commented on #20485
So, when I initially re-did the Contribute section, my goal was to reduce duplication. One of the decisions I made to do this was to reduce the amount of Git-related content. Git is a third party tool, and knowing it is a prerequisite of contributing, similar to a developer needing to know Go before contributing to the codebase. I think I've taken the wrong stance on this, however.

I think we can

[2020-04-27 17:51] dkypuros commented on #20485
I think we will need to host some kind of git tutorial. I found myself guessing where to go, once I left the kubernetes docs contribute site.

 I'm thinking we start with the smallest amount of git skills one needs to do a basic PR on SIG-DOCS. We can add a "full fledged" tutorial as a part two. Part 1 might be targeted for about 30-40 min. Part 2 might targeted for about 2 hours. I mention time,

[2020-04-27 17:52] Arhell commented on #20509
resolve
/close

[2020-04-27 17:53] #20509 closed

[2020-04-27 18:01] sftim commented on #2644
To change the headers that Netlify uses to serve pages on this site, I think you'd add the headers to https://github.com/kubernetes/website/blob/master/layouts/index.headers @lgarro, so that the Hugo build process renders that into `_headers`.

I also see a `strict-transport-security` header already set. I'd be happy to see a PR go in to add the `preload` part; the `includeSubdomains` should be fi

[2020-04-27 18:02] prasadkatti opened #20601 "Allow filtering k8s blog entries by SIGs"
**This is a Feature Request**

**What would you like to be added**

Allow filtering the blog entries on https://kubernetes.io/blog/ by a particular SIG (e.g. cluster-lifecycle)

**Why is this needed**
This will make it easy to search blog entries for SIGs that you are interested in.

**Comments**

\cc @sftim

[2020-04-27 18:12] #14404 closed

[2020-04-27 18:14] sftim commented on #16868
/remove-lifecycle stale

[2020-04-27 18:19] sftim commented on #18724
/remove-lifecycle stale

[2020-04-27 18:33] celestehorgan commented on #20485
@dkypuros So, thinking more about this, I want to ask one question: what would creating and hosting our own Git tutorial give us that a well-curated set of links wouldn't?

By my estimates, this would be a tutorial about 5-10 *dense* pages in length at least. There's already lots of other tutorials online that with careful curation could serve the community just as well without us having to create

[2020-04-27 18:57] #20527 closed

[2020-04-27 20:37] dkypuros commented on #20485
What's the value add for us doing it ourselves?
==========================================

Value: More control over key content needed to do a PR for docs
----------------------------------------------------------------------------------------
@celestehorgan Great question. I don't know the answer, but I kinda feel like once we tell a kubernetes-docs visitor to click here and go learn somewhere e

[2020-04-27 20:55] jflamy opened #20603 "kubectl run erroneously recommended to create deployments"
**This is a Bug Report**

**Problem:**
`kubectl run` is wrongly recommended as a way to create a single-pod deployment, whereas it not longer does - it only creates a pod without a deployment.

**Proposed Solution:**
Provide the correct imperative commands to do the same (especially the port mappings).
Currently this appears to require creating a yaml file whereas previously simple use cases could

[2020-04-27 20:58] sftim commented on #15123
To be honest, I might have this wrong too. I do know that the existing text is not clear.

[2020-04-27 21:00] sftim commented on #15123
An example of an instance type with < 1.0 CPU: https://cloud.google.com/compute/docs/machine-types#n1_shared-core_machine_types

[2020-04-27 21:07] #20575 closed

[2020-04-27 21:19] davivcgarcia commented on #15123
Even those shared core instances will reports 1 vCPU, but I got your point. I'll try something here!

[2020-04-27 22:03] Krishan-Sharma commented on #16334
/assign

[2020-04-27 22:16] pjhwa opened #20604 "Translate concepts/architecture/control-plane-node-communication.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/architecture/control-plane-node-communication.md in Korean.

**Why is this needed**

There is no documents of concepts/architecture/control-plane-node-communication/ which translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/concepts/architecture/control-plane-node-communication/

[2020-04-27 22:16] pjhwa commented on #20604
/assign

[2020-04-27 22:27] bgrant0607 commented on #14724
Why not link directly to pod documention instead?

[2020-04-27 23:33] celestehorgan opened #20607 "Add/investigate a link checker for the k8s website"
**This is a Feature Request**

In order to provide more accurate, useful content and to enable more resilient translation workflows, we need to first ensure that links are accurate and unbroken. The best way to do this is through automation (a link checker).

**What would you like to be added**

Add https://github.com/wjdp/htmltest as a Make command so that individuals can test locally. Eventually

[2020-04-28 00:29] alculquicondor commented on #18724
/assign

[2020-04-28 01:44] coolguyhong opened #20608 "Translate tasks/configure-pod-container/configure-volume-storage in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/configure-pod-container/configure-volume-storage in Korean

**Why is this needed**
No translation with tasks/configure-pod-container/assign-pods-nodes in Korean

**Comments**

Page to Update: https://kubernetes.io/docs/tasks/configure-pod-container/configure-volume-storage/

[2020-04-28 01:44] coolguyhong commented on #20608
/language ko
/assign

[2020-04-28 07:11] alex-leonhardt commented on #20585
It's true that the step isn't _required_ for a functioning cluster, but the page is about setting up a _production_ cluster so I thought it should be part of this doc?

FWIW, there is https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/high-availability/#set-up-the-first-control-plane-node that creates an example `kubeadm-config.yaml` when one isn't using a stacked approach.

Eit

[2020-04-28 10:03] #20466 closed

[2020-04-28 10:54] DragD opened #20614 "Reference docs incorrect v1.18 kubectl run command"
**This is a Bug Report**

**Problem:**
The reference documentation for kubectl v1.18 does not match the implementation regarding `run` command and its options `--restart`  and `--replicas`.

**Proposed Solution:**
Update the reference docs.

**Pages to Update:**
- https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#run, the sections for options replicas and restart are incorrec

[2020-04-28 12:24] remyleone commented on #18887
/remove-lifecycle stale

Le lun. 27 avr. 2020 à 19:11, fejta-bot <notifications@github.com> a écrit :

[2020-04-28 13:28] Krishan-Sharma commented on #16334
I am thinking that an accordion would work nicely here. See some spatial benefits straight away. (https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_accordion). WDYT @sftim, others?

[2020-04-28 13:38] neolit123 commented on #20585
i don't think we should mention componentstatus in the kubeadm docs.

one alternative is to move the contents of `8. Optional: Check the cluster health` from here:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm/#setting-up-the-cluster

as a new item under common tasks here:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/high-

[2020-04-28 13:38] neolit123 commented on #20585
/kind cleanup
/remove-priority awaiting-more-evidence
/priority backlog

[2020-04-28 14:27] sftim commented on #16334
Sounds like this would be a (set of) HTML lists, then, plus styling to make it render nicely as suggested in https://github.com/kubernetes/website/issues/16334#issuecomment-620608341

I think that sounds fine.

[2020-04-28 14:34] mattfarina opened #20617 "Where can I write docs on deprecated APIs"
I was recently working on a project dealing with API depreciation (extensions, apps/v1beta1, etc). We found there was no place that documented the current APIs and what the depreciation's were. Is there a place in the docs we can document this? Or, maybe I just missed it. I'm willing to write docs around this.

[2020-04-28 15:14] Arhell commented on #20565
resolve on 28.04.2020
/close

[2020-04-28 15:15] #20565 closed

[2020-04-28 15:24] Arhell opened #20618 "Left menu doesn't work in mobile (fr)"
**This is a Bug Report**

main issue fixed #19040

**Problem:**
Left menu doesn't work in mobile
**Proposed Solution:**
need fix on fr lang
fix en lang #19646 PR

**Page to Update:**
https://kubernetes.io/fr/docs/home/

/assign
/language fr

[2020-04-28 16:08] alculquicondor commented on #18724
@sys-ops could you confirm if you were trying to set up leader election or not?

[2020-04-28 16:30] bboreham commented on #18889
The first one now seems fixed; second one is still bad.

[2020-04-28 16:30] bboreham commented on #18889
/remove-lifecycle stale

[2020-04-28 17:20] neolit123 opened #20623 "render reference docs with double dash"
reference docs render with `–` (single UTF8 8211) instead of `--` (ANSI 45) even if a generated reference page contains the regular double dash `--`.

see
https://raw.githubusercontent.com/kubernetes/website/master/content/en/docs/reference/command-line-tools-reference/kube-apiserver.md
vs
https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/

this makes users copy-past

[2020-04-28 17:29] neolit123 commented on #20623
reported here on slack:
https://kubernetes.slack.com/archives/C0EN96KUY/p1588093350150000

[2020-04-28 17:35] #17148 closed

[2020-04-28 17:51] savitharaghunathan opened #20624 "K8s 1.19 - Formalize docs release strategy with the different localization owners"
Hi All :)

This is Savitha Raghunathan, Docs lead for K8s 1.19 release. I'm opening this issue to find the best way to coordinate the actual docs release (scheduled tentatively for Aug 25th, 2020 ) with the different localization owners.

A couple Questions:

1. Who would be a good primary contact for the following localization content?

- [x] French - @remyleone
- [x] German - @mkorbi
- [ ] Hindi

[2020-04-28 18:05] girikuncoro commented on #20624
Thanks @savitharaghunathan for this, for Indonesian localization I can be the primary contact (slack: onigiri)

Regarding process improvement, especially for our localization project, I guess we are still at around 140 localized pages (mostly on concept and task, started from 1.16 release cycle), we havent revisited localized pages that possibly got changed because of later releases, would love to

[2020-04-28 18:31] mfilocha commented on #20624
You can contact me for Polish localization related tasks.

[2020-04-28 18:45] #20130 closed

[2020-04-28 18:51] dkypuros commented on #20485
@celestehorgan

I just did a check, and found on linux, it takes 22 total commands to complete a PR (plus some work in a few GUIs). Of the 22 commands, there are actually only 11 unique commands to learn.

Most people will only need know 11 commands to complete a PR.
======================================================
$ hugo
$ hugo server
$ git config
$ git clone
$ git remote
$ git fetch
$ git

[2020-04-28 19:02] dkypuros commented on #20485
/assign @dkypuros

[2020-04-28 19:29] fabriziopandini commented on #20624
@savitharaghunathan I can take Italian localisation

[2020-04-28 21:08] kbhawkey commented on #20617
Is this relevant:
https://kubernetes.io/docs/reference/using-api/deprecation-policy/

[2020-04-28 21:36] sftim commented on #20623
/priority important-longterm
(or higher)

[2020-04-28 21:37] sftim commented on #20623
Thanks for filing the issue @neolit123

[2020-04-28 21:42] sftim commented on #20336
So far I did not make a start on this work.

[2020-04-28 22:00] sftim commented on #14724
This approach? Also valid.

[2020-04-28 22:40] alex-leonhardt commented on #20585
You're probably right, since it's being removed anyway, there's no point.

Though moving the _8. Optional: Check the cluster health_ from the ha etcd setup won't actually tell admins they should update the `kube-apiserver.yaml` to point to the other etcd instances, if that makes sense? That was the original _"issue"_ and I believe that simply mentioning this in _ Common tasks after bootstrapping c

[2020-04-28 22:43] braulio-balanza opened #20626 "Issue with k8s.io/docs/tutorials/hello-minikube/"
**This is a Bug Report**

**Problem:**
When following the Hello Minikube tutorial, "Hello World!" does not render on the page. Instead this is the output:
[code]

**Page to Update:**
https://kubernetes.io/docs/tutorials/hello-minikube/

[2020-04-28 22:48] neolit123 commented on #20585
no, we should not do that. for stacked, an api-server instance should only know about the etcd server instance that was deployed on this same host.

[2020-04-28 22:57] alex-leonhardt commented on #20585
Hmm, I'm curious, what's the reasoning behind this?

[2020-04-28 23:02] neolit123 commented on #20585
this changes the topology defined here:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/ha-topology/#stacked-etcd-topology

it now needs arrows from each api-server to individual etcd members.
by adding it to the docs we will also recommend it as a best practice and it's more of a workaround for a `componentstatus` issue (please don't use it). a stacked-etcd node should be se

[2020-04-28 23:02] pjhwa opened #20628 "rename master-node-communication in control-plane-node-communication"
**This is a Bug Report**

**Problem:**
master-node-communication.md file has been changed to control-plane-node-communication in en/ directory.

**Proposed Solution:**
Change the filename as control-plane-node-communication.md

**Page to Update:**
https://kubernetes.io/ko/docs/concepts/architecture/master-node-communication/

/language ko

[2020-04-28 23:02] pjhwa commented on #20628
/assign

[2020-04-28 23:06] Arhell commented on #20548
resolve
/close

[2020-04-28 23:06] #20548 closed

[2020-04-28 23:09] #20628 closed

[2020-04-28 23:16] alex-leonhardt commented on #20585
Actually, it's not a workaround for a `componentstatus` issue, I mentioned `componentstatuses` because that's what pointed me at the fact that the kube-apiservers aren't configured to use all etcd nodes.

However, you're right, based on that diagram, stacked topology seems to mean that the components on a host do not cross connect / only use the localhost etcd endpoint.

FWIW - It still seems wron

[2020-04-28 23:29] neolit123 commented on #20585
that is a tradeoff for stacked, one component failing, fails the whole node.
and stacked nodes are considered self-contained and swappable - i.e. the LB *should* give you a new node if the current leader's storage layer fails.

what you are suggesting can be done on demand, but i still don't think we should include it in the docs as an optional step.

for something that is more HA, we suggest usin

[2020-04-28 23:41] gochist commented on #20624
I'm leading Korean l10n. (slack: june.yi)

[2020-04-29 02:24] tengqm commented on #20623
Emm. Hugo is again doing some conversion behind the scene.
If you check the reference page we generated: https://raw.githubusercontent.com/kubernetes/website/master/content/en/docs/reference/command-line-tools-reference/kube-apiserver.md
you can see that the `--` is in the source. Hugo converted into `&ndash;`, for unknown reason.

[2020-04-29 03:29] tengqm commented on #20617
In fact, this is not documented anywhere AFAICT. As @kbhawkey has pointed out, there is deprecation policy defined. However, that policy is NOT strictly followed for many reasons.

[2020-04-29 03:43] tengqm commented on #16334
@Krishan-Sharma I'm afraid migrating the content to HTML (so that you can use accordions ...) may not be the direction to go. As we are upgrading Hugo inevitably, new Hugo versions do not like embedded HTML contents.

So back to the volumes improvement. One thing we can do is to move out-of-tree volume types into separate files. The list is really too long.

[2020-04-29 03:52] imrenagi commented on #20111
I will take this
`/docs/reference/access-authn-authz/rbac/`

[2020-04-29 04:27] princeanurag2011 commented on #18884
I have already updated in above comments.
command for etcd backup

I would like to get that updated clearly with a working example in the documentation page.

[2020-04-29 04:27] #18884 closed

[2020-04-29 05:46] #17621 closed

[2020-04-29 05:46] #17652 closed

[2020-04-29 06:32] inductor commented on #20624
I am learning Japanese Docs. find me by inductor on Slack!

[2020-04-29 06:36] mkorbi commented on #20624
@savitharaghunathan I can be your contact for German

[2020-04-29 06:39] ydcool commented on #20573
/language zh

[2020-04-29 06:48] npu21 opened #20636 "Left menu doesn't work in mobile (es)"
This is a Bug Report

main issue fixed https://github.com/kubernetes/website/issues/19040

Problem:
Left menu doesn't work in mobile

Proposed Solution:
fix en lang #19646 PR

Page to Update:
https://kubernetes.io/es/docs/home/

/assign
/language es

[2020-04-29 07:06] alex-leonhardt commented on #20585
Fair enough I guess. Thanks!

[2020-04-29 07:06] #20585 closed

[2020-04-29 08:15] remyleone commented on #20624
You can contact me for questions related to French localization

[2020-04-29 08:50] #20623 closed

[2020-04-29 08:51] sftim commented on #20623
I suspect we will find pages that have relied on the smart dashes behavior. For a different, lasting fix, maybe we change the docs generation to write HTML/Markdown that looks like:
[code]
**or**
maybe we switch to a newer Hugo that implements more of CommonMark and _that_ lets us re-enable smart dashes without breaking reference docs?

[2020-04-29 09:03] Arhell commented on #20618
resolve
/close

[2020-04-29 09:04] #20618 closed

[2020-04-29 11:02] ghost opened #20644 "Issue with k8s.io/docs/tasks/administer-cluster/change-default-storage-class/"
**This is a Bug Report**

**Problem:**
Executing the command `kubectl patch storageclass standard -p '{"metadata": {"annotations":{"storageclass.kubernetes.io/is-default-class":"false"}}}'` returns error `unable to parse "'{metadata:": yaml: found unexpected end of stream`.

**Page to Update:**
https://kubernetes.io/docs/tasks/administer-cluster/change-default-storage-class/

**Additional Informat

[2020-04-29 11:14] pjhwa opened #20646 "Translate concepts/cluster-administration/cloud-providers/ in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/cluster-administration/cloud-providers/ in Korean.

**Why is this needed**

There is no document of concepts/cluster-administration/cloud-providers/ which translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/concepts/cluster-administration/cloud-providers/

[2020-04-29 11:14] pjhwa commented on #20646
/language ko
/assign

[2020-04-29 11:39] viniciusbds commented on #20614
/assign

[2020-04-29 12:09] viniciusbds commented on #20614
Thanks for contributing @DragD

[2020-04-29 13:08] sftim opened #20649 "Move Eviction Policy into Scheduling & Eviction section"
**This is a Feature Request**

**What would you like to be added**
Migrate the content from https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/#eviction-policy into somewhere inside https://kubernetes.io/docs/concepts/scheduling-eviction/

**Why is this needed**
https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/#eviction-policy is not task documentation; instead,

[2020-04-29 13:26] sftim commented on #18381
/remove-lifecycle rotten

[2020-04-29 15:15] dsbos opened #20652 "Scrambled grammaer on k8s.io/docs/concepts/cluster-administration/monitoring/"
**This is a Bug Report**

**Problem:**
The text unclearly says:

"Deprecated metric signal that the metric will eventually be deleted; to find which version, you need to check annotation, which includes from which kubernetes version that metric will be considered deprecated."

(Note the problems, such as "Deprecated metric signal ...," "to check annotation," unclear references to versions (when me

[2020-04-29 15:26] dsbos opened #20654 "Contradictory specifications on k8s.io/docs/concepts/cluster-administration/monitoring/"
**This is a Bug Report**

**Problem:**

In the page section at https://kubernetes.io/docs/concepts/cluster-administration/monitoring/#metric-lifecycle, the text says "... Stable metric → Deprecated metric → Hidden metric → Deletion" (that is, that a metric that is stable can become deprecated and eventually deleted, right?) but then contradictorily says:

"Stable metrics can be guaranteed to not c

[2020-04-29 15:27] dsbos opened #20655 "Issue with k8s.io/docs/concepts/cluster-administration/monitoring/"
**This is a Bug Report**

**Problem:**

In the page section at https://kubernetes.io/docs/concepts/cluster-administration/monitoring/#metric-lifecycle, the text says "... Stable metric → Deprecated metric → Hidden metric → Deletion" (that is, that a metric that is stable can become deprecated and eventually deleted, right?) but then contradictorily says:

"Stable metrics can be guaranteed to not c

[2020-04-29 15:41] crazytera commented on #20623
Wow thanks for implementing the change so quickly after the report <3 you guys rock!!

[2020-04-29 22:33] takeoffnyc commented on #20485
Duplicate of #

[2020-04-30 02:17] MikeSpreitzer opened #20665 "No doc of kube-proxy's healthz port in k8s.io/docs/concepts/architecture/control-plane-node-communication/"
**This is a Bug Report**

**Problem:**
The section on Control Plane to node communication does not mention the use of the kube-proxy port 10256, which is normally reachable from everywhere.

**Proposed Solution:**
Explain why it is normally reachable from everywhere or change the default so that it is not and explain when and why it would be made reachable from everywhere or make it always reachab

[2020-04-30 02:23] MikeSpreitzer opened #20666 "No doc on node-node communication k8s.io/docs/concepts/architecture/control-plane-node-communication/"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/concepts/architecture/control-plane-node-communication/ has a section for communication between "control plane (really apiserver)" and node, for the sake of those wanting to harden their network configuration, but there is no section or page on node-node communication.  Yet such exists and should be explained in this light (i.e., ex

[2020-04-30 02:26] MikeSpreitzer commented on #20665
This might be considered part of #20666

[2020-04-30 02:51] MikeSpreitzer opened #20667 "There is no documentation of access control for aggregated apiservers"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/reference/access-authn-authz/controlling-access/ describes access control for requests that are served by a kube-apiserver.  There also need to document the access control story for requests that are served by an aggregated apiserver (see https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation/ - wh

[2020-04-30 02:57] zhanw15 opened #20668 "ingress page format wrong in zh documents"
<strong> ingress page format wrong in zh documents </strong>
see: https://kubernetes.io/zh/docs/concepts/services-networking/ingress/

[2020-04-30 03:11] ydcool commented on #20668
/language zh

[2020-04-30 03:11] ydcool commented on #20668
/assign

[2020-04-30 03:53] GodHaoNB opened #20672 "Issue with k8s.io/zh/docs/setup/production-environment/tools/kubeadm/install-kubeadm/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-04-30 04:32] MikeSpreitzer commented on #20071
I started looking at the admission controllers.

The first one that I noticed that is sensitive to target namespace is ImagePolicyWebhook.  There may be others.

I started looking into what calls validating admission plugins.  I found four call sites:
- https://github.com/kubernetes/kubernetes/blob/863ce9726e0aa617f03332f42ff3cebb7abe8fc0/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/rest.go

[2020-04-30 04:44] MikeSpreitzer opened #20673 "Admission Control doc fails to say it only applies to certain verbs"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/reference/access-authn-authz/controlling-access/#admission-control gives an overview of admission control and how it fits into the overall request handling.  It does not mention the fact that admission control applies only to certain verbs.  But, looking at the code, it appears to me that admission control does indeed apply to only

[2020-04-30 04:54] MikeSpreitzer commented on #20673
/sig api-machinery

[2020-04-30 04:54] MikeSpreitzer commented on #20667
/sig api-machinery

[2020-04-30 04:54] MikeSpreitzer commented on #20666
/sig node

[2020-04-30 04:55] MikeSpreitzer commented on #20665
/sig node

[2020-04-30 07:46] huchengze opened #20676 "Missing partners in https://kubernetes.io/zh/partners/#kcsp"
**This is a Bug Report**

**Problem:**
Missing partners in https://kubernetes.io/zh/partners/#kcsp.
You can see https://kubernetes.io/partners/#kcsp to find the different.

**Proposed Solution:**
Update https://github.com/kubernetes/website/blob/master/content/zh/partners/_index.html.

**Page to Update:**
https://kubernetes.io/zh/partners/#kcsp

[2020-04-30 07:46] fancc commented on #20577
done!
[pr](https://github.com/kubernetes/website/pull/20615)

[2020-04-30 07:46] #20577 closed

[2020-04-30 07:48] zhanw15 commented on #20676
/language zh /assign

[2020-04-30 07:51] zhanw15 commented on #20676
/assign

[2020-04-30 08:27] sftim opened #20679 "Migrate “Services without selectors” to task section"
**This is a Feature Request**

**What would you like to be added**

Create a new Task page based on the contents of
https://kubernetes.io/docs/concepts/services-networking/service/#services-without-selectors

Use tabs to document two options:
- manually add an Endpoint
- manually add an EndpointSlice

The content for _manually add an Endpoint_ can come directly from the existing Service concept pa

[2020-04-30 09:01] RA489 commented on #20672
@GodHaoNB can you please elaborate what is the issue with the page?

[2020-04-30 09:05] RA489 commented on #20672
/triage needs-information

[2020-04-30 09:15] huchengze commented on #20573
/assign

[2020-04-30 09:19] RA489 commented on #20558
@AbsentLung As a workaround Please change the image to `kubectl create deployment hello-node --image=k8s.gcr.io/echoserver:1.4`

[2020-04-30 09:29] RA489 commented on #20435
@vetbijaya  Please don't run minikube as root or with 'sudo' privileges. It isn't necessary with virtualbox driver.

[2020-04-30 09:38] RA489 commented on #20364
@Zerotask The image hello-node `--image=gcr.io/hello-minikube-zero-install/hello-node` has been deprecate. As a work around please use `kubectl create deployment hello-node --image=k8s.gcr.io/echoserver:1.4`

[2020-04-30 09:42] RA489 commented on #20378
@techmaniack I recommend, trying our quick start guide https://minikube.sigs.k8s.io/docs/start/

[2020-04-30 12:18] perret34 commented on #20411
Hello,
Excuse me for this way of contacting you, I don't think it was a coincidence that I contacted you. It is good after several days of intense prayer that I do it is that the Holy Spirit guided me towards you by the grace of God. I donate my goods to an honest and needy person of French origin and I live in France. I suffer from a serious illness which condemns me to certain death, it is throa

[2020-04-30 12:19] perret34 commented on #20411
Hello,
Excuse me for this way of contacting you, I don't think it was a coincidence that I contacted you. It is good after several days of intense prayer that I do it is that the Holy Spirit guided me towards you by the grace of God. I donate my goods to an honest and needy person of French origin and I live in France. I suffer from a serious illness which condemns me to certain death, it is throa

[2020-04-30 12:21] perret34 commented on #20676
Hello,
Excuse me for this way of contacting you, I don't think it was a coincidence that I contacted you. It is good after several days of intense prayer that I do it is that the Holy Spirit guided me towards you by the grace of God. I donate my goods to an honest and needy person of French origin and I live in France. I suffer from a serious illness which condemns me to certain death, it is throa

[2020-04-30 12:26] perret34 opened #20683 "Donation"
Hello,
Excuse me for this way of contacting you, I don't think it was a coincidence that I contacted you. It is good after several days of intense prayer that I do it is that the Holy Spirit guided me towards you by the grace of God. I donate my goods to an honest and needy person of French origin and I live in France. I suffer from a serious illness which condemns me to certain death, it is throa

[2020-04-30 12:33] sftim commented on #20411
Off-topic spam messages reported to GitHub.

[2020-04-30 12:37] sftim commented on #20683
This is spam
/close

[2020-04-30 12:37] #20683 closed

[2020-04-30 12:38] #20676 closed

[2020-04-30 12:40] #20573 closed

[2020-04-30 13:01] sftim commented on #20673
/priority important-longterm

[2020-04-30 13:01] sftim commented on #20667
/kind feature
/priority backlog
/language en

[2020-04-30 13:54] vetbijaya commented on #20435
@RA489 I already solved the above issue. Thank you!

[2020-04-30 13:54] #20435 closed

[2020-04-30 15:10] savitharaghunathan commented on #20624
/assign

[2020-04-30 16:33] Arhell opened #20687 "File sync readme.md"
**This is a Feature Request**

File sync readme

**What would you like to be added**
File sync

**Comments**
https://github.com/kubernetes/website/blob/master/README.md
https://github.com/kubernetes/website/blob/master/README-uk.md

/assign
/language uk

[2020-04-30 16:35] vmwarelab opened #20688 "Issue with k8s.io/docs/tasks/debug-application-cluster/get-shell-running-container/"
**This is a Bug Report**

**Problem:**
this command doesn't work when trying to access a pod
kubectl exec -it shell-demo -- /bin/bash

usually now i do
kubectl exec -it shell-demo -- sh

**Page to Update:**
https://kubernetes.io/...

[2020-04-30 17:49] rajendraprasad9 commented on #19304
kubernetes  v1.17.3 version is unstable some issue with node to getting ready after assign a network also