[2020-12-01 07:23] RA489 commented on #25295
/assign

[2020-12-01 08:58] MaartenW opened #25327 "Kubernetes Components - please define/explain "user containers""
There's one single mention of "user containers" under https://kubernetes.io/docs/concepts/overview/components/#control-plane-components

This concept is not explained as a component nor otherwise.

Would it be possible to explain the concept as it's confusing for newbies like me. (Especially since it's the 2nd page in explaining what Kubernetes is)

Is a "user container" a "node" or a "kubelet" or

[2020-12-01 09:20] MaartenW opened #25328 "Improve user experience for interactive tutorial"
It's unclear when to proceed using kubectl. The process halts for quite a while during start up. This is not clear from the guide.
![Schermafbeelding 2020-12-01 om 10 19 10](https://user-images.githubusercontent.com/1092133/100720845-ded16600-33be-11eb-8990-b9881deadb23.png)

[2020-12-01 10:14] yuandongx commented on #25273
I think this issues can be closed.

[2020-12-01 10:14] #25273 closed

[2020-12-01 10:39] hase1128 commented on #25206
/assign

[2020-12-01 12:47] inductor commented on #25212
/close
duplicate https://github.com/kubernetes/website/pull/23786

[2020-12-01 12:47] #25212 closed

[2020-12-01 14:56] developewang opened #25332 "kubectl get pods --show-labels shows information error"
Create Deployment --> 6
kubectl get pods --show-labels
NAME                                READY     STATUS    RESTARTS   AGE       LABELS
nginx-deployment-75675f5897-7ci7o   1/1       Running   0          18s       app=nginx,pod-template-hash=3123191453
nginx-deployment-75675f5897-kzszj   1/1       Running   0          18s       app=nginx,pod-template-hash=3123191453
nginx-deployment-75675f5897-q

[2020-12-01 15:02] JoeTairei opened #25333 "Install and Set Up kubectl"
Please remove the political statements from the page.

[2020-12-01 15:47] PropeReferio opened #25335 "Interactive Tutorial - Deploying an App"
Module 2 of this tutorial isn't working for me.

`kubectl version`
Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.3", GitCommit:"06ad960bfd03b39c8310aaf92d1e7c12ce618213", GitTreeState:"clean", BuildDate:"2020-02-11T18:14:22Z", GoVersion:"go1.13.6", Compiler:"gc", Platform:"linux/amd64"}
The connection to the server localhost:8080 was refused - did you specify the right host

[2020-12-01 16:29] PropeReferio commented on #25335
Sorry, I was wrong. It works fine.

[2020-12-01 16:29] #25335 closed

[2020-12-01 16:53] davideuler opened #25336 "配置最佳实践"
"Deployment 会创建一个 ReplicaSet 以确保所需数量的 Pod 始终可用，并指定替换 Pod 的策略 （例如 RollingUpdate)， 除了一些显式的restartPolicy: Never 场景之外，几乎总是优先考虑直接创建 Pod。 Job 也可能是合适的。"

这一段的翻译不准确。 原文 “ is almost always preferable "， 应该翻译为： Deployment 几乎总是更合适的用作直接创建 Pods 的方式，除非对于一些需要显示指定 restartPolicy: Never 的场景 （不需要重启容器）。这种情况下 Job 可能是更好的选择。

附原文：
A Deployment, which both creates a ReplicaSet to ensure that the desired number of Pods is

[2020-12-02 01:37] seokho-son commented on #25283
K8s 1.20 릴리스 일정을 고려하여 (타겟: 2020-12-08)
dev-1.19-ko.6 의 일정을 조정하고자 합니다.
기존: Freeze: 12/07, Merge: 12/10
변경: Freeze: 12/04, Merge: 12/07
1.20 릴리스 리드를 통해, 한글화 작업 브랜치의 일정은 릴리스 작업에는 크게 영향이 없을 것으로 응답 받았습니다. 따라서 Merge: 12/07 로 해도 특별히 문제가 없을 것 같습니다. 일정 참고하셔서 기여 부탁드립니다

[2020-12-02 01:52] santachopa commented on #25110
/close

[2020-12-02 01:52] #25110 closed

[2020-12-02 04:05] dhandma commented on #25239
I am able to fix the issue with loadbalancer type service. Its not possible to resolve it using nodeport as nodeport is not resoling DNS name locally on master node.

[2020-12-02 04:05] #25239 closed

[2020-12-02 04:16] santachopa opened #25339 "Translate reference/glossary/persistent-volume.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate reference/glossary/persistent-volume.md in Korean

**Why is this needed**
No translation reference/glossary/persistent-volume.md in Korean

**Comments**

Page to update : https://kubernetes.io/ko/docs/reference/glossary/?core-object=true#term-persistent-volume

[2020-12-02 04:16] santachopa commented on #25339
/language ko
/assign

[2020-12-02 04:23] yu-kasuya commented on #25222
@inductor こちらdev-1.18-ja.2では差分が反映されて対処済みでした。問題なければクローズお願いします

[2020-12-02 05:21] RA489 commented on #25333
@JoeTairei Can you please point which political statements you want us to remove?

[2020-12-02 05:21] RA489 commented on #25333
/triage needs-information

[2020-12-02 06:05] dinurp opened #25341 "Using a Service to Expose Your App - misleading documentation"
In this document (https://kubernetes.io/docs/tutorials/kubernetes-basics/expose/expose-intro/) service type External name is explained as follows:

**ExternalName** - _Exposes the Service using an arbitrary name (specified by externalName in the spec) by returning a CNAME record with the name. No proxy is used. This type requires v1.7 or higher of kube-dns._

This is misleading. The correct explan

[2020-12-02 06:12] inductor commented on #25222
/close

[2020-12-02 06:12] #25222 closed

[2020-12-02 09:03] sftim commented on #16093
Still makes sense to do this
/remove-lifecycle rotten

[2020-12-02 09:57] RA489 commented on #25328
@MaartenW once minikube started successfully you will get a message `kubectl is configured to use minikube.`

[2020-12-02 10:28] MaartenW commented on #25328
@RA489 yes, but even though this might be obvious for someone _who knows_, until that moment it's *completely unclear* what the student is waiting for. **It's not even clear that the student should wait** for that because the tutorial makes it seem like it will be instant:
![Schermafbeelding 2020-12-02 om 11 23 21](https://user-images.githubusercontent.com/1092133/100860481-db0e1400-3490-11eb-9b7d

[2020-12-02 10:34] MaartenW commented on #25328
The solution could be as simple as changing the text in the tut to:
"Wait for the message `Done! kubectl is now configured to use "minikube"`...
Great! Now you have a running (...)"

[2020-12-02 11:12] zhwhao opened #25351 "Issue with k8s.io/docs/reference/command-line-tools-reference/kube-proxy/"
I don't know why "masqueradeAll" is usless in kube-proxy, and when clustercidr was removed from configmap kube-proxy, all of these new pods can not be started with error
networkPlugin cni failed to set up pod "nginx-5f6ddfdbd-g9w4p_default" network: Get https://[10.100.0.1]:443/api/v1/namespaces/default: dial tcp 10.100.0.1:443: i/o timeout

the following is the configmap for kube-proxy.
apiVersio

[2020-12-02 17:26] ehashman commented on #25256
We don't currently have any stable metrics. This is by design and not a bug.

/cc @serathius

/close

[2020-12-02 17:26] #25256 closed

[2020-12-02 17:28] ehashman commented on #24915
@sftim There are currently not. We don't have any stable metrics yet.

/close

[2020-12-02 17:29] #24915 closed

[2020-12-02 17:32] celestehorgan commented on #21749
Per our last SIG Docs meeting: @sftim is on board with the idea of renaming master branch to main instead.

/rename Rename "master" branch to "main"

[2020-12-02 17:34] celestehorgan commented on #22580
Hi All,

per [the recommendation](https://github.com/kubernetes/community/blob/master/wg-naming/recommendations/master-control-plane.md), please rename "master" to "control plane" when you are ready :)

[2020-12-02 17:38] sftim opened #25353 "Bad hyperlink in “Metrics For Kubernetes System Components”"
**This is a Bug Report**

**Problem:**
[Metrics For Kubernetes System Components](https://kubernetes.io/docs/concepts/cluster-administration/system-metrics/) includes a bad hyperlink to a feature gate. That hyperlink is trying to use [text fragments](https://wicg.github.io/scroll-to-text-fragment/); I  recommend _not_ using text fragments as they are a draft feature and not yet widely adopted acro

[2020-12-02 17:39] sftim commented on #21749
/retitle Rename "master" branch to "main"

[2020-12-02 17:39] sftim commented on #21749
@celestehorgan feel free to `/triage accepted` and adjust priority too.

[2020-12-02 17:41] celestehorgan commented on #21749
/triage accpeted
/priority important-soon

From an implementation perspective, there are three major steps here. One is (to me) ambiguous:

1. Rename the branch
2. Ensure tooling (namely, Netlify) point to `main` and not `master` (this is easy)
3. Ensure extended tooling (autogenerated docs, mainly) are not affected. (this is hard)

[2020-12-02 17:42] celestehorgan commented on #21749
/remove priority-awaiting-more-evidence

[2020-12-02 17:42] sftim commented on #21749
BTW we can start by mirroring the master branch to the main branch. Branch mirroring makes transitions less painful.

[2020-12-02 17:43] sftim commented on #21749
What do we do about all the in-flight PRs? Does GitHub automatically update their base branch?

[2020-12-02 17:53] celestehorgan commented on #21749
@sftim I suspect we'll have to start by mirroring.

I tested this out on [an old repository](https://github.com/celestehorgan/learnapidoc) of mine:

1. created a branch `main`
2. Set it to the main branch for the repository
3. Observed what happened to an in-flight pull request opened against master.

The results were:

- `master` cannot be deleted because an open PR depends on it
- The open PR do

[2020-12-02 18:08] sftim commented on #21749
We could block merges to `master` and then automatically _mirror_ all new commits from `main` to `master`, until all open PRs are dealt with.

https://github.com/google/mirror-branch-action can help here.

[2020-12-02 18:10] sftim commented on #21749
(after that's set up, anyone who has a PR targeting `master` can switch the merge base of their PR to `main`)

[2020-12-02 18:10] ChrisG0x20 opened #25354 "Improvement for k8s.io/docs/concepts/containers/"
"The container runtime is the software that is responsible for running containers." says almost nothing. What does the container runtime actually run? Why is there a runtime?

[2020-12-02 18:32] davidxia commented on #24915
Thanks for the info. Might be good to clarify in the docs here \[1\] then that if the list is empty, it's accurate. 🤷‍♂️

1: https://kubernetes.io/docs/concepts/cluster-administration/system-metrics/#what-s-next

[2020-12-02 20:50] ehashman commented on #24915
@davidxia they're targeted for 1.21, so next release.

[2020-12-02 23:02] EmilyM1 commented on #25353
/assign

[2020-12-02 23:09] sftim commented on #25354
/kind feature
/language en
/triage accepted

Let's explain what a container runtime is!

[2020-12-02 23:10] sftim commented on #25354
/priority important-longterm

[2020-12-02 23:10] sftim commented on #25341
/sig network
/kind cleanup
/triage accepted

[2020-12-02 23:11] sftim commented on #25341
Thanks @dinurp - that's worth fixing
/priority backlog

[2020-12-02 23:12] sftim commented on #25332
Hi @developewang

It looks like you're trying to request a change in behavior for `kubectl`. Have I got that right?
/triage needs-information

If there's a web page you're reporting a defect in, remember to mention the URL of the web page.

[2020-12-02 23:18] sftim commented on #25328
/kind feature
/retitle Improve user experience for interactive tutorial

[2020-12-02 23:27] sftim commented on #25327
I'd replace the text:

with:
[code]

However, as this is now more text, maybe it makes sense to move that detail into the page at https://kubernetes.io/docs/concepts/architecture/ (which is currently just a list of topics). Thoughts welcome.

[2020-12-02 23:27] sftim commented on #25327
/triage accepted
/language en
/kind cleanup

[2020-12-02 23:27] sftim commented on #25327
/priority backlog

[2020-12-02 23:29] sftim commented on #25351
Hi @zhwhao

I'm not sure if you're reporting a defect with https://k8s.io/docs/reference/command-line-tools-reference/kube-proxy/ or with the `kube-proxy` tool itself.

Can you confirm which is a closer match for the issue you wanted to report?

/triage needs-information

[2020-12-02 23:29] sftim commented on #25336
/language zh

[2020-12-02 23:30] sftim commented on #25323
/triage accepted
/sig storage
/kind cleanup
/priority backlog

Thanks @tengqm

[2020-12-02 23:41] EmilyM1 commented on #25353
PR: https://github.com/kubernetes/website/pull/25357

[2020-12-03 00:01] shuuji3 commented on #22580
It seems that the file was renamed: `master-control-plane.md` → `001-master-control-plane.md`

Current location: https://github.com/kubernetes/community/blob/master/wg-naming/recommendations/001-master-control-plane.md

[2020-12-03 00:49] MasterLover commented on #25065
It has been fixed

[2020-12-03 00:49] #25065 closed

[2020-12-03 01:31] zhwhao commented on #25351
@sftim ,Thanks for your reply, my problem is for kube-proxy tool itself.
1."masqueradeAll:false" is usless in kube-proxy configmap, all of the external traffic has been SNAT by kube-proxy with this option set to false (in iptable section).
2. Can I remove "clustercidr" option from kube-proxy configmap? I'm not sure this is right, what  I want is all of the traffic can not be SNAT, and pods can get

[2020-12-03 03:40] standup-jb opened #25362 "Pod 水平自动扩缩"
创建 HorizontalPodAutoscaler 对象时，需要确保所给的名称是一个合法的 DNS 子域名。 有关 API 对象的更多信息，请查阅 HorizontalPodAutoscaler 对象设计文档。 这里面的跳转文档链接404 。应该修复为 https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#horizontalpodautoscaler-v1-autoscaling

[2020-12-03 05:27] developewang commented on #25332
@sftim ok!
The url is: https://kubernetes.io/zh/docs/concepts/workloads/controllers/deployment/#failed-deployment

[2020-12-03 06:21] RA489 commented on #24762
/assign

[2020-12-03 07:06] gtan01 opened #25367 "JSONPath Support"

[2020-12-03 08:46] helight commented on #25336
是的，翻译有点生硬，我来提个pr

[2020-12-03 09:43] makkes opened #25371 "Create guide to help cluster operators migrate away from Docker"
**This is a Feature Request**

**What would you like to be added**

This is a follow-up to https://github.com/kubernetes/community/issues/5344 (and more specifically https://github.com/kubernetes/community/issues/5344#issuecomment-737754144). There needs to be a guide helping cluster operators move away from Docker to containerd or CRI-O now that Docker is being deprecated with Kubernetes 1.20 and

[2020-12-03 09:52] sftim commented on #25371
/language en
/kind feature
/triage accepted
/priority important-soon

Thanks @makkes

[2020-12-03 13:28] prankul88 commented on #23777
I too felt the need for this.
+1 for adding it.

[2020-12-03 13:32] prankul88 commented on #25143
+1 for updating this.

[2020-12-03 13:37] sftim commented on #23777
I'll take that as a
/triage accepted

[2020-12-03 14:31] Pickacho opened #25375 "Improvement for k8s.io/docs/setup/production-environment/tools/"
Please add a Ansible guide to deploy Kubernetes on ubuntu 20.04 by play-book

[2020-12-03 15:44] sftim commented on #25353
Fixed in PR #25357
/close

[2020-12-03 15:44] #25353 closed

[2020-12-03 16:29] inductor commented on #25216
/close

[2020-12-03 16:29] #25216 closed

[2020-12-03 19:57] sftim commented on #25354
@inductor, are you able to provide a CLA-released version of the explanation from https://dev.to/inductor/wait-docker-is-deprecated-in-kubernetes-now-what-do-i-do-e4m?

It's very clear and would make a good basis for this improvement, but we do need the CLA dealt with.

[2020-12-03 19:58] sftim commented on #25354
Specifically, the section about OCI and CRI is really the kernel of what I would wish to borrow.

[2020-12-03 20:29] nicolaep opened #25383 "Issue with k8s.io/ru/docs/tasks/tools/install-minikube/"
Someone hacked your site and wrote an anti-white racist slogan a.k.a. blm.
Please remove it, protect your site, and stay safe.

[2020-12-03 23:15] sangam14 opened #25387 "kubectl Cheat Sheet"
Kubectl output verbosity and debugging
https://kubernetes.io/docs/reference/kubectl/cheatsheet/#kubectl-output-verbosity-and-debugging

what is --v=5 for ?

[2020-12-03 23:34] stevekuznetsov opened #25388 "Visually Document Container Memory Metrics and their Relationships"
**This is a Feature Request**

**What would you like to be added**
A document that explains what all the different container memory metrics mean and how they are interrelated.

**Why is this needed**
Today, the following metrics exist for container memory:

 - `container_memory_cache`
 - `container_memory_cache`
 - `container_memory_cache`
 - `container_memory_cache`

**Comments**

[2020-12-03 23:37] stevekuznetsov commented on #25388
/sig instrumentation

[2020-12-03 23:37] stevekuznetsov commented on #25388
/cc @ehashman

[2020-12-03 23:58] #25387 closed

[2020-12-04 00:42] annajung commented on #24009
Hi @inductor @seokho-son @mkorbi @irvifa @dougsland @mfilocha @jcjesus @tengqm @mittalyashu @fabriziopandini @raelga @MaxymVlasov @femrtnz @remyleone @truongnh1992

1.20 release day is coming up in a few days: **Tue December 8th** (Exact time is still being discussed, my best guess would be early morning PST)

**24 hours before the release, Monday December 7th (Morning PST), I will freeze the repo

[2020-12-04 01:04] helight commented on #25336
@davideuler  this is fixed now，you can close this issue later.

[2020-12-04 01:08] tengqm commented on #25336
/close

[2020-12-04 01:08] #25336 closed

[2020-12-04 05:29] inductor commented on #25213
/close

[2020-12-04 05:29] #25213 closed

[2020-12-04 07:14] vivekjhauipath opened #25399 "Broken link in article https://kubernetes.io/blog/2019/12/09/kubernetes-1-17-feature-cis-volume-snapshot-beta/"
Links are broken on this page:
https://kubernetes.io/blog/2019/12/09/kubernetes-1-17-feature-cis-volume-snapshot-beta/

[2020-12-04 07:57] bells17 commented on #25219
Sorry, I made a mistake.
This page was already updated.

@movingfinger Thank you for letting me know!

/close

[2020-12-04 07:57] #25219 closed

[2020-12-04 09:32] sftim commented on #25149
/kind cleanup
/triage accepted
/language en

[2020-12-04 09:32] sftim commented on #25399
/retitle Broken link in article https://kubernetes.io/blog/2019/12/09/kubernetes-1-17-feature-cis-volume-snapshot-beta/
/language en
/area blog

[2020-12-04 09:43] #25383 closed

[2020-12-04 09:44] sftim commented on #25367
Hi @gtan01

It looks like you haven't yet filled out the issue description. When you get a moment, please add that information.
/triage needs-information

[2020-12-04 09:46] sftim commented on #25375
This is quite a specific request @Pickacho

Can you outline why this improvement would be worthwhile?

/kind feature
/language en
/priority awaiting-more-evidence

[2020-12-04 10:56] sftim commented on #25387
/kind support

[2020-12-04 11:32] prankul88 commented on #25066
triage/accepted

[2020-12-04 11:33] prankul88 commented on #25066
/traige accepted

[2020-12-04 11:44] sftim commented on #25066
@prankul88 you might need to become a Kubernetes org member to be able to triage issues. If you're not, please do take that step!

[2020-12-04 11:45] sftim commented on #25362
/language en
right?

[2020-12-04 11:47] prankul88 commented on #25066
@sftim I am already a member of k8s org. Not sure why it didnt work :(

[2020-12-04 11:48] prankul88 commented on #25066
/triage accepted

[2020-12-04 17:05] pananix opened #25409 "Improvement for k8s.io/docs/setup/production-environment/container-runtimes/"
Would be nice if the page put something in the CRI-O section on if/how CRI-O could be installed on RHEL8 without having to purchase OpenShift.

Thanx,

David Bandel
david.bandel@rice.edu

[2020-12-04 17:54] sftim commented on #25409
/kind feature
/triage accepted
/language en
/priority backlog

Documenting container runtime deployment is valid; you need a container runtime to use Kubernetes.

[2020-12-04 17:55] sftim commented on #25388
This would be a great addition to the reference docs - _especially_ with a visual.

/triage accepted
/priority backlog
/kind feature
/language en

[2020-12-04 17:55] sftim commented on #25320
/kind support

[2020-12-04 17:56] sftim commented on #25320
This looks like a support request; it's also an insight into documenting how to use a ConfigMap via a volume mount.

[2020-12-04 18:02] sftim commented on #25319
/area web-development
/kind feature
/priority awaiting-more-evidence

@RSwarnkar this website uses the [Docsy](https://www.docsy.dev/) theme; it might make sense to request this as a Docsy feature rather than specifically as a Kubernetes customization to Docsy.

[2020-12-04 19:57] #24762 closed

[2020-12-04 21:35] ehashman commented on #25388
/help

[2020-12-05 04:13] brianmay commented on #16801
Looks like this is now working with v1.19.4

Curiously though hosts outside the cluster cannot see the IPv6 address that I assigned to a service. As in that address gets assigned to the kube-ipvs0 but Linux isn't responding to this IP address for incoming packets from the ethernet device. Which I find somewhat puzzling as it works fine for IPv4. If I manually assign the IPv6 address to the Etherne

[2020-12-05 11:40] Pickacho commented on #25375
Hi
I will be happy to help.
I believe in writing a guide of this kind, or its equivalent under operating systems like Red Hat / Centos
Can greatly promote beginners in the process of familiarization and installation of Kubernetes

While giving beginners an understanding of the tools they will most likely use during their job - such as Ansible

[2020-12-06 06:49] #24507 closed

[2020-12-06 08:19] Anilople opened #25414 "Failed to find a valid digest in the 'integrity' attribute for resource js/jquery-3.3.1.min.js with computed SHA-256 integrity"
## Description

Run `hugo_extended_0.79.0_Windows-64bit` server on windows 10 platform(every dependencies have been resolved include git submodule)

[code]

and access the web through my chrome browser.

Found that language switch button not work.

![image](https://user-images.githubusercontent.com/15523186/101274673-0cf9e000-37db-11eb-9480-2c8ce424213f.png)

When I use `F12`, and refresh the page

[2020-12-06 09:27] #25284 closed

[2020-12-06 10:43] islbie opened #25416 "Issue with k8s.io/ko/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro/"
쿠버네티스는 서로 연결되어서 단일 유닛처럼 동작하는 고가용성의 컴퓨터 클러스터를 상호조정한다.
ㅋㅋㅋㅋㅋ
알아 듣게 써놓고 읽으라고 해야지. 차라리 영어로 쓰던지. 기계가 번역한 건가. 그럼 기계는 아직 멀었군 ㅋㅋㅋㅋㅋ

[2020-12-06 10:54] tengqm commented on #25362
/close
Seems fixed.

[2020-12-06 10:54] #25362 closed

[2020-12-06 11:10] ludwigbald opened #25417 "Create an External Load Balancer"

[2020-12-06 11:15] #25417 closed

[2020-12-06 12:40] #24983 closed

[2020-12-06 12:40] #24980 closed

[2020-12-06 12:41] salva-gglez commented on #23622
/assign

[2020-12-06 14:21] jayunit100 commented on #24950
@distributethe6ix

[2020-12-06 19:06] dariagrudzien opened #25426 "Missing container image for PHP guestbook + Redis tutorial"
When trying to follow [Creating the Redis Master Deployment](https://kubernetes.io/docs/tutorials/stateless-application/guestbook/#creating-the-redis-master-deployment) step and checking pod status I got this status:

[code]

When trying to pull `k8s.gcr.io/redis` I got an error:

[code]

And when checking kubectl:
[code]

[2020-12-06 21:48] sftim commented on #23015
@forvaidya If you'd be willing to document a local preview process that works on Windows, please feel free to submit a pull request.

[2020-12-06 21:50] sftim commented on #25426
Hi @dariagrudzien

I'd like to check out what you're saying / reporting here - I'm not sure if you're reporting that there is a bug in that tutorial page, or if you'd like help setting up the prerequisites.

I think that tutorial is a little out of date. I haven't tested that it works.

[2020-12-06 21:54] sftim commented on #25414
That sounds like a good fix. Others could work as well.

Related: we can also mark that minified JavaScript [as generated](https://docs.github.com/en/free-pro-team@latest/github/administering-a-repository/customizing-how-changed-files-appear-on-github).

/triage accepted
/area web-development

[2020-12-06 21:54] sftim commented on #25416
/language ko

[2020-12-06 22:06] sftim commented on #22726
@mohamedsgap, @nofalx and others - is there any help that the SIG Docs team (who don't speak any Arabic) can do to help move things forward?

[2020-12-06 23:42] bl-ue commented on #25399
/assign

[2020-12-07 01:19] #19943 closed

[2020-12-07 01:36] mylovepooh commented on #24985
/close

[2020-12-07 01:36] #24985 closed

[2020-12-07 01:41] #24982 closed

[2020-12-07 02:09] bl-ue commented on #25399
@vivekjhauipath will you please test the fix @ https://deploy-preview-25428--kubernetes-io-master-staging.netlify.app/blog/2019/12/09/kubernetes-1-17-feature-cis-volume-snapshot-beta/?

[2020-12-07 02:13] Cweiping commented on #25227
Fixed by #25302 #25303.
/close

[2020-12-07 02:13] #25227 closed

[2020-12-07 02:20] #19819 closed

[2020-12-07 03:21] #20603 closed

[2020-12-07 04:11] santachopa commented on #25095
/close

[2020-12-07 04:11] #25095 closed

[2020-12-07 06:59] hello2dj opened #25442 "Resource metrics pipeline page language zh"
metrics server url is wrong.
"https://github.com/kubernetes-sings/metrics-server" => "https://github.com/kubernetes-sins/metrics-server".
"kubernetes-sings" => "kubernetes-sigs"

[2020-12-07 07:16] tengqm commented on #25442
Please mention the page to fix.

[2020-12-07 10:05] Kartik494 commented on #25300
/assign

[2020-12-07 10:33] dariagrudzien commented on #25426
Hi @sftim apologies for not being clear enough. The Docker image mentioned in the tutorial doesn't seem to be available anymore.

[2020-12-07 10:44] sftim commented on #25426
/retitle Missing container image for PHP guestbook + Redis tutorial
/kind bug
/triage accepted
/priority important-longterm

Thanks for clarifying @dariagrudzien

[2020-12-07 10:46] sftim commented on #25426
Actually, I just tried pulling `k8s.gcr.io/redis:e2e` and it worked fine. Maybe your cluster is having network trouble @dariagrudzien
/remove-triage accepted
/remove-kind bug
/remove-priority important-longerm

[2020-12-07 10:46] sftim commented on #25426
/remove-priority important-longterm

[2020-12-07 10:46] sftim commented on #25426
/kind support
perhaps

[2020-12-07 12:08] bl-ue commented on #25442
@tengqm
It's https://kubernetes.io/zh/docs/tasks/debug-application-cluster/resource-metrics-pipeline/, search for `Metrics 服务器`.
The file is `content/zh/docs/tasks/debug-application-cluster/resource-metrics-pipeline.md:118`

[2020-12-07 12:30] tengqm commented on #25442
@bl-ue Thanks. Would you mind propose a fix?
/triage accepted
/kind bug
/language zh

[2020-12-07 12:49] hello2dj commented on #25442
yes

[2020-12-07 16:30] annajung opened #25464 "Freeze k/website for Kubernetes 1.20 release"
This issue is for freezing the `k/website` for Kubernetes 1.20 release.

The release is scheduled to happen tomorrow (Dec 8th) and No PRs allowed to merge until the release PR has successfully merged.

Any questions, please contact me or anyone from the docs release team

cc: @reylejano @SomtochiAma @kcmartin @eagleusb

/sig release
/label tide/merge-blocker

[2020-12-07 16:31] annajung commented on #25464
/triage accepted

[2020-12-07 18:50] nathanl opened #25468 "State that no more than one handler is allowed per lifecycle event"
https://kubernetes.io/docs/tasks/configure-pod-container/attach-handler-lifecycle-event/ begins by stating:

I suggest appending the following sentence:

This was not obvious to me. In other programming contexts, multiple handlers per event are allowed; for example, in client-side JavaScript, more than one click handler may be specified.

[2020-12-07 19:37] #21687 closed

[2020-12-08 00:57] bl-ue commented on #25442
@hello2dj are you planning on opening a PR?  If not I will.

[2020-12-08 01:30] menokian opened #25471 "Interactive Tutorial - Scaling Your App"
RS if you go over the tutorial like 1000000000 it will crash the tutorial page

[2020-12-08 01:32] tengqm commented on #17951
/remove-lifecycle stale

[2020-12-08 01:32] tengqm commented on #17951
/lifecycle frozen

[2020-12-08 03:13] hello2dj commented on #25442
@bl-ue I'm not planing on it, thank your PR
/shoutout

[2020-12-08 03:20] santachopa opened #25478 "Translate reference/glossary/dynamic-volume-provisioning.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate reference/glossary/dynamic-volume-provisioning.md in Korean

**Why is this needed**
No translation reference/glossary/dynamic-volume-provisioning.md in Korean

**Comments**

Page to update : https://kubernetes.io/ko/docs/reference/glossary/?core-object=true#term-dynamicvolumeprovisioning

[2020-12-08 03:20] santachopa commented on #25478
/language ko
/assign

[2020-12-08 05:47] #22052 closed

[2020-12-08 08:30] sftim commented on #21130
Still seems useful to do
/remove-lifecycle stale

[2020-12-08 09:09] prankul88 commented on #25341
/assign

[2020-12-08 11:38] shuuji3 commented on #21924
/remove-lifecycle rotten

I'm going to create a PR to fix this styling issue.

[2020-12-08 12:48] Kartik494 commented on #24815
/assign

[2020-12-08 13:19] bl-ue commented on #25442
@hello2dj Okay, then I will.  @tengqm

[2020-12-08 14:10] sftim commented on #25471
Hi @menokian

Can you explain what's not right? I have not followed your meaning.
/triage needs-information

[2020-12-08 14:11] sftim commented on #25468
/kind feature
/language en
/priority backlog
/triage accepted
/good-first-issue

That's a nice improvement.

[2020-12-08 14:45] luismaximozup opened #25493 "Kubernetes Doc [Portuguese] - lateral menu (right)"
**Problem:**
![image](https://user-images.githubusercontent.com/60019625/101498050-692f4200-394a-11eb-9985-883b03fadf77.png)

**locale:** portugues - lateral menu (right)
https://kubernetes.io/pt/docs/home/

**Seggestion:**
* Editar essa pagina
* Criar uma pagina filho
* Reportar um bug

#close 25493

[2020-12-08 14:51] serewicz opened #25495 "Introduce simple Pod manifest before Pod template concept"
As a quick review of the page leads to confusion about the applicability of the YAML example I suggest the progression of concepts and examples is not optimal. My suggestion is:

Move the "Static Pods" section before the "Working with Pods" section.
Include a basic eight line YAML file for a pod.
By presenting the basic pod info first, the job spec would make more sense. As well when searching for

[2020-12-08 17:15] adambkaplan opened #25497 "Add caution note to SSH-Auth Secrets for "man in the middle" susceptibility"
**This is a Feature Request**

**What would you like to be added**

Add a caution note to the Concepts document article for `kubernetes.io/ssh-auth` Secrets, warning that SSH private keys do not establish fully trusted communication between clients and host servers.

**Why is this needed**

SSH key pairs provide a means of establishing authenticated communication between two parties, but not _trus

[2020-12-08 17:46] timothyclarke commented on #19611
/remove-lifecycle stale

[2020-12-08 18:34] savitharaghunathan commented on #25497
/sig security
/triage accepted

[2020-12-08 19:09] sftim commented on #25495
Hi @serewicz

Which page?
/triage needs-information

[2020-12-08 19:10] sftim commented on #25493
/language pt

Might be best fixed upstream in https://www.docsy.dev/

[2020-12-08 19:10] sftim commented on #25497
/priority important-longterm

Thanks

[2020-12-08 19:39] sftim opened #25501 "Tidy list of generators for “kubectl create”"
**This is a Feature Request**

**What would you like to be added**
Convert the monospaced [list](https://kubernetes.io/docs/reference/kubectl/conventions/#generators) of `kubectl create` generators into Markdown that renders as nice HTML.

**Why is this needed**
https://kubernetes.io/docs/reference/kubectl/conventions/#generators lists generators, as monospaced text.
This would render better as an

[2020-12-08 19:40] sftim commented on #25501
/triage accepted
/sig docs

[2020-12-08 20:08] FD5219 opened #25502 "Improvement for k8s.io/docs/tasks/manage-hugepages/scheduling-hugepages/"
Please put this sentence in bold:  **Note that when requesting hugepage resources, either memory or CPU resources must be requested as well.**

[2020-12-08 22:05] #25464 closed

[2020-12-08 22:49] sftim opened #25504 "Use note shortcode in “Debugging Kubernetes nodes with crictl”"
**This is a Feature Request**

**What would you like to be added**

**Why is this needed**
[Debugging Kubernetes nodes with crictl](https://kubernetes.io/docs/tasks/debug-application-cluster/crictl/) mentions:

This'd look better if written as

You can see a sample rendering for that shortcode in https://kubernetes.io/docs/contribute/style/style-guide/#note

(it's also OK to change `crictl` to the

[2020-12-08 22:49] sftim commented on #25504
/good-first-issue

[2020-12-08 22:59] sftim opened #25505 "Migrate to updated API reference generator"
**This is a Feature Request**

**What would you like to be added**
[k-sigs/reference-docs](https://github.com/kubernetes-sigs/reference-docs) has a recently-added [`gen-resourcesdocs`](https://github.com/kubernetes-sigs/reference-docs/tree/c96658d89fb21037b7d00d27e6dbbe6b32375837/gen-resourcesdocs) generator. Credit to @feloy for hard work on this.

Let's switch to using that generator [[Preview](

[2020-12-08 23:01] sftim commented on #23809
I've logged https://github.com/kubernetes/website/issues/25505 specifically to track the work to do with _migrating_ from the existing generator (and the pages in generates) to the new one.

[2020-12-08 23:01] sftim commented on #23809
@feloy are you happy to close _this_ issue?

[2020-12-08 23:03] sftim commented on #20232
I guess we should be moving this to the v1.21 milestone? Or something.

[2020-12-08 23:08] annajung commented on #24009
Hi All, Kubernetes v1.20.0 has been successfully released!
The website repo is officially THAWED!

Thank you for all your feedback about the process, I'll make a note of it in the [docs handbook](https://github.com/kubernetes/sig-release/tree/master/release-team/role-handbooks/docs) for the next release.

If you have any feedback, Sig Docs and 1.20 docs release team are planning to have a short re

[2020-12-08 23:08] #24009 closed

[2020-12-08 23:23] annajung commented on #20232
It's on my to-do list to create the next milestone and I'll make sure to update the milestone for this issue when I do.

[2020-12-08 23:53] reylejano commented on #25504
/assign @reylejano

[2020-12-09 02:12] #24815 closed

[2020-12-09 04:23] serewicz commented on #25495
Oh, sorry. Thought that info carried over from the page I was on when I saw the error.  The page which has a job  instead of a pod is https://kubernetes.io/docs/concepts/workloads/pods/#pod-templates

[2020-12-09 05:33] #23809 closed

[2020-12-09 06:33] tengqm commented on #25442
closed by #29452

Link lost because the issue was mentioned in original commit rather than the PR.

/close

[2020-12-09 06:33] #25442 closed

[2020-12-09 12:47] Evalle commented on #25468
/assign

[2020-12-09 12:50] zhaojizhuang opened #25518 "need zh link for page <Kubernetes 文档支持的版本>"
version link Should point to the Chinese page
 in  https://kubernetes.io/zh/docs/home/supported-doc-versions/

![image](https://user-images.githubusercontent.com/3124692/101631999-337c7d00-3a60-11eb-95f0-c52d2de9933d.png)

[2020-12-09 12:51] zhaojizhuang commented on #25518
/language zh
/help

[2020-12-09 14:15] reylejano commented on #25495
@serewicz It looks like the Job manifest was the intention for that page. From the page:

The page is pointing out that the Pod template (not Pod manifest) starts at .spec.template and that Pod templates are parts of other manifests for Deployments, jobs, DaemonSets, et al.

Since that is the concept page for Pods, maybe it will be better if an additional example of a simple Pod manifest is added.

[2020-12-09 14:46] kbhawkey commented on #25505
Is there a suggested timeline for making the proposed changes?
There are quite a few (quick search found ~828) links that refer to sections in the single page reference.
I suspect that the new shortcode could help create replacement links to the appropriate resources?

[2020-12-09 16:16] ChrisWeissNike commented on #23776
/remove-lifecycle stale

[2020-12-09 16:28] annajung commented on #20232
/milestone 1.21

[2020-12-09 17:03] reylejano commented on #23930
The page I was referring to is:
https://kubernetes.io/docs/tasks/configure-pod-container/security-context/

It looks like the link is working again. Closing the issue

[2020-12-09 17:03] #23930 closed

[2020-12-09 19:25] seokho-son opened #25520 "Korean Localization for dev-1.20-ko.1 branch"
## In English

**This is a Feature Request**

Korean Localization for `dev-1.20-ko.1` branch.

**What would you like to be added**

Any localization contributions for Korean.

**Comments**

- This issue is to notify the schedule of Korean localization to contributors.
- `dev-1.20-ko.1` is the current work branch for Korean localization.
- Korean PR Wrangler: TBD

**Important dates**
- A Korean loc

[2020-12-09 19:35] seokho-son opened #25521 "Outdated files in the dev-1.20-ko.1 branch"
# This is a Bug Report
## Problem
Outdated files in the dev-1.20-ko.1 branch.

### 55 files to be modified
1. [x] content/en/docs/concepts/architecture/nodes.md 1 file changed, 20 insertions(+)
1. [x] content/en/docs/concepts/cluster-administration/kubelet-garbage-collection.md 1 file changed, 2 insertions(+), 3 deletions(-)
1. [x] content/en/docs/concepts/cluster-administration/logging.md 1 file

[2020-12-09 19:35] seokho-son commented on #25521
/language ko
/help

[2020-12-09 19:37] seokho-son opened #25522 "Outdated files in the dev-1.19-ko.7 branch"
# This is a Bug Report
## Problem
Outdated files in the dev-1.19-ko.7 branch.

### 19 files to be modified
1. [ ] content/en/docs/concepts/cluster-administration/logging.md 1 file changed, 1 insertion(+), 1 deletion(-)
1. [ ] content/en/docs/concepts/cluster-administration/networking.md 1 file changed, 5 insertions(+), 4 deletions(-)
1. [ ] content/en/docs/concepts/cluster-administration/system-me

[2020-12-09 19:37] seokho-son commented on #25522
/language ko
/help

[2020-12-09 20:42] sftim commented on #25505
My sketch for part of an idea: replace the current API reference with a page that uses _JavaScript_ to calculate a redirect to the correct URL (based on the fragment identifier and some other information).
That JavaScript could either XMLHTTPRequest the real API reference pages, or use information available at site build time.

That would allow us to update existing inbound links gradually, includ

[2020-12-09 22:54] kbhawkey commented on #25505
I was thinking that the root path for the API reference pages could serve as the new API reference URL (add a redirect)?
Are you suggesting to dynamically redirect every path off this base URL?

Perhaps the static assets and single HTML page can remain until every localization has updated their files.
The `en` content could start to use the shortcode to reference the resource pages (if every API r

[2020-12-09 23:16] pjhwa commented on #25520
/triage accepted

[2020-12-09 23:16] pjhwa commented on #25521
/triage accepted

[2020-12-09 23:16] pjhwa commented on #25522
/triage accepted

[2020-12-09 23:19] pjhwa commented on #25522
/assign

[2020-12-10 00:28] #20666 closed

[2020-12-10 01:26] santadasu opened #25524 "kubectl Cheat Sheet"
Autocomplete instruction
source <(kubectl completion zsh)  # setup autocomplete in zsh into the current shell
echo "[[ $commands[kubectl] ]] && source <(kubectl completion zsh)" >> ~/.zshrc # add autocomplete permanently to your zsh shell

This did not work.
I had to do  the following to accomplish this

   # K8s auto-complete
    autoload -U +X compinit && compinit
    source <(kubectl completion

[2020-12-10 01:34] tengqm commented on #25505
Should we consider the coexistence of the two API reference representations for one or two release cycles?
It is a common practice for websites to serve two flavors of some contents till a complete switch over proves to be welcomed.

[2020-12-10 03:49] lostsquirrel opened #25528 "Storage Classes content error"
at line 634  storageaccounttype's discription seems not correct

* `storageaccounttype`: Azure storage account Sku tier. Default is empty.

[2020-12-10 08:13] mshalmanov opened #25531 "Article Pods translate to russian"
Hello.
When will be russian translate this article and how  i can help to translate this article ?

[2020-12-10 08:26] BenyH opened #25534 "Improvement for k8s.io/docs/setup/release/"
please add the release date

[2020-12-10 08:33] sftim commented on #25505
I really would prefer _not_ to break these URIs because they are referenced in code and documentation all over the web. That's why I really like the idea of a long lived helper that redirects to the new home.
We could redirect everything to one place but that's not much different from a 404 page; if someone has a link to the API for ConfigMap, then what they need to see is the API reference for Co

[2020-12-10 08:44] #25504 closed

[2020-12-10 08:50] joshiste opened #25537 "Debugging Kubernetes nodes with crictl - Starting pods/containers doesn't work with containerd runtime"
When I use the containerd runtime (k8s v1.1.9.4) and following the steps to run a container, the created podsandbox will get stopped and removed by the kubelet and I'm not able to start a container.
Is that excpected to happen?

[2020-12-10 08:57] tengqm commented on #25531
@mshalmanov You may want to join the https://kubernetes.slack.com/archives/CPZ9KD9TN Slack channel and see if you can make some friends there and collaborate on Russian localization. For high-level guidelines on localization, please see https://kubernetes.io/docs/contribute/localization/. Otherwise, you can jump on to the subject and start getting your hands dirty, sign the CLA and submit a PR for

[2020-12-10 08:57] tengqm commented on #25531
/triage accepted
/language ru

[2020-12-10 13:07] joshiste commented on #25537
also doesn't work for me using the docker-shim

[2020-12-10 14:31] kbhawkey commented on #25505
Yes, that seems reasonable. I have not thought about the timeline for completely switching over.
I suggest to decide on a timeline and set up a date to communicate this decision to the community (how and when these changes will finally happen). There may be issues logged. I see a short list of things to do:

1.  Update the intra-site links to refer to the new API reference pages.
1.  Determine how

[2020-12-10 14:31] seokho-son commented on #25521
cf @jmyung

[2020-12-10 14:58] sftim commented on #25524
/retitle Trouble following zsh autocompletion advice in cheat sheet
/sig cli

[2020-12-10 14:59] sftim commented on #25528
Hi @lostsquirrel

Can you point to the Markdown file or web page that doesn't seem right?
/language en
/triage needs-information

[2020-12-10 15:00] sftim commented on #25534
/retitle Mention release date in release notes
/sig release
/kind feature
/triage accepted

[2020-12-10 15:01] sftim commented on #20293
Related: issue #25534 asks for the release notes to mention the release date.

[2020-12-10 15:01] sftim commented on #25534
/priority important-longterm

[2020-12-10 15:12] gayatri-maker opened #25543 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
Interactive tutorial is not responding after waiting so long.  I am even not able to access katacoda site. they blocked my IP. why they have blocked my IP?

[2020-12-10 15:40] #25399 closed

[2020-12-10 15:45] raghvenders opened #25548 "Kubernetes v1.19 - Doc Reference Page has mismatch links"
Problem :
In the v1.19 version of the Kubernetes site - https://v1-19.docs.kubernetes.io/docs/reference/, we are seeing the link for Kubernetes API - https://v1-19.docs.kubernetes.io/docs/reference/generated/kubernetes-api/v1.20/

Steps to Reproduce  :
1. Navigate to the URL: https://kubernetes.io/ and in the versions choose v1.19
2.It will be redirected to https://v1-19.docs.kubernetes.io/
3.Docu

[2020-12-10 15:49] savitharaghunathan commented on #25548
/triage accepted
/kind bug

[2020-12-10 16:35] inductor commented on #25218
@kakts 関連Issueも必ず閉じるようにしてください。

/close

[2020-12-10 16:35] #25218 closed

[2020-12-10 20:45] tomkivlin commented on #25501
/assign

[2020-12-10 22:40] sftim commented on #25505
Another option that we could consider:
1. Replace all links (across localizations as well, if feasible) with a new shortcode. At this point the shortcode renders as a link to the old / existing API reference.
1. Draft a revised shortcode that links to the new API reference.
1. Update the “old” API generator so that the rendered API reference hyperlinks to the new one.
   - This doesn't have to be

[2020-12-10 23:12] sftim commented on #25543
/kind support
I think

@gayatri-maker maybe you are using the same public IPv4 address as a suspected miscreant? This can happen if you and a misbehaving user are behind the same NAT service.

[2020-12-10 23:13] sftim commented on #25548
/priority important-soon
@annajung FYI

[2020-12-10 23:14] sftim commented on #25548
This looks like a metadata bug, but I'm not exactly sure where the fix is (as I haven't yet investigated)

[2020-12-10 23:18] sftim commented on #25548
The behavior seen here (linking to the current API reference) has come from https://github.com/kubernetes/website/pull/18837

[2020-12-10 23:23] sftim commented on #25537
_aside_ this issue is about the page at https://kubernetes.io/docs/tasks/debug-application-cluster/crictl/

[2020-12-11 01:01] kbhawkey commented on #25548
👀

[2020-12-11 01:09] kbhawkey commented on #25548
The config.toml in the `release-1.19` branch should set latest to `1.19`.
The shortcode uses, ```{{ site.Params.latest }}``` and this variable is set to `1.20`.

[2020-12-11 01:12] kbhawkey commented on #25548
I can fix this.

[2020-12-11 01:30] kbhawkey commented on #25548
/assign

[2020-12-11 01:32] kbhawkey commented on #25548
Are the 1.18, 1.17, 1.16 branches incorrect?

[2020-12-11 02:03] #25468 closed

[2020-12-11 05:49] vishaal314 opened #25562 "Configure a Pod to Use a ConfigMap :: updating configmap for volume is not updating kubectl logs"
-  My Question  : updating configmap for volume is not updating kubectl logs when doing tail  it updates internally when i check with kubectl exec -it  demo -n /bin/bash
" i know  image will override commands "

Any suggestions/fix  will be helpful .

config.yaml   -

apiVersion: v1
data:
  database-uri: http://someeeeeeecom.com
kind: ConfigMap
metadata:
  creationTimestamp: "2020-12-08T18:15:39Z"

[2020-12-11 07:31] pjhwa commented on #25521
아래 파일들은 #25529 에서 수정한 내용과 동일한 것 같습니다. (내용을 다시 확인해봐야겠습니다만... 일단 추가/삭제된 라인의 수가 같은 것들을 뽑아봤습니다.)

- [x] content/en/docs/concepts/cluster-administration/logging.md 1 file changed, 1 insertion(+), 1 deletion(-)
- [x] content/en/docs/concepts/cluster-administration/networking.md 1 file changed, 5 insertions(+), 4 deletions(-)
- [x] content/en/docs/concepts/containers/images.md 1 file changed, 1 insertion

[2020-12-11 08:11] ThinkMo commented on #25518
/assign

[2020-12-11 08:30] lostsquirrel commented on #25528
at https://github.com/kubernetes/website/edit/master/content/en/docs/concepts/storage/storage-classes.md
line 634, the description content seems just copy from the preview section, and not match the storageaccounttype

[2020-12-11 08:57] pjhwa commented on #25521
/assign

[2020-12-11 11:02] #22506 closed

[2020-12-11 11:30] sftim commented on #25528
/remove-triage needs-information

[2020-12-11 11:30] sftim commented on #25528
/sig storage

[2020-12-11 12:00] d0x1g0x1 opened #25571 "Kubernetes v1.20 documentation does not mention AuditSink."
Information about `AuditSink` is missing in [documentation](https://kubernetes.io/docs/tasks/debug-application-cluster/audit/) (Auditing -> Audit backends).

[2020-12-11 15:32] gayatri-maker commented on #25543
@sftim Thank you for the response. how can I solve this issue? do they will remove my Ip from block list? I have no idea how to solve this. where should I request to access site again?

[2020-12-11 17:30] #18202 closed

[2020-12-11 17:41] sftim commented on #25571
Hmm, there's also no AuditSink in https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.20/

[2020-12-11 17:43] sftim commented on #25571
`AuditSink` is deprecated @d0x1g0x1

Maybe https://v1-18.docs.kubernetes.io/docs/tasks/debug-application-cluster/audit/ is relevant?
/kind support

/retitle Kubernetes v1.20 documentation does not mention AuditSink.

[2020-12-11 18:42] d0x1g0x1 commented on #25571
@sftim I don't see public information about deprecation of `AuditSink` feature and differences between 1.18 and 1.20 codebase.

[2020-12-11 18:54] sftim commented on #25571
https://v1-19.docs.kubernetes.io/docs/setup/release/notes/ mentions the deprecation of dynamic auditing and the auditregistration.k8s.io/v1alpha1 API group. As this was an alpha feature the deprecation was not listed as a major change.

[2020-12-11 21:39] sftim commented on #16772
/remove-lifecycle rotten

[2020-12-11 22:13] #20665 closed

[2020-12-12 00:06] serewicz commented on #25495
@reylejano I agree. I now get why there would be a job spec on the page, but following the progression of concepts there are two changes I would like to suggest:
1) Move the "Static Pods" section before the "Working with Pods" section.
2) Include a basic eight line YAML file for a pod.

By presenting the basic pod info first, the job spec would make more sense.   As well when searching for pod yam

[2020-12-12 00:09] sftim commented on #25495
/retitle Introduce simple Pod manifest before Pod template concept
/kind feature
/triage accepted

That's a good suggestion @serewicz . Would you be willing to revise the issue description to reframe around that improvement?

[2020-12-12 04:03] tengqm commented on #23133
/close

[2020-12-12 04:03] #23133 closed

[2020-12-12 05:09] gochist commented on #25521
@pjhwa 효율적으로 분할 정복을 할 수 있도록, 작업하시고자 하는 문서의 목록을 본문에 포함하는 신규 이슈를 만들고, 잔여 문서 목록을 본 이슈에 코멘트로 남겨주시면 다른 분께 잔여 문서를 할당할 수 있도록 하겠습니다. :)

[2020-12-12 13:12] pjhwa commented on #25521
@gochist 네, 말씀하신대로 신규 이슈를 만드는 것이 더 좋을 것 같습니다. :-)

[2020-12-12 13:14] pjhwa opened #25581 "Outdated files in the dev-1.20-ko.1 branch. (1)"
Outdated files in the dev-1.20-ko.1 branch (1)
This is a part of #25521 .

55 files to be modified
- [ ] content/en/docs/concepts/architecture/nodes.md 1 file changed, 20 insertions(+)
- [x] content/en/docs/concepts/cluster-administration/kubelet-garbage-collection.md 1 file changed, 2 insertions(+), 3 deletions(-)
- [x] content/en/docs/concepts/cluster-administration/logging.md 1 file changed, 1

[2020-12-12 14:25] pjhwa commented on #25521
다음의 파일들에 대한 업데이트가 남아있습니다.

- [ ] content/en/docs/concepts/architecture/nodes.md 1 file changed, 20 insertions(+)
- [ ] content/en/docs/concepts/cluster-administration/system-metrics.md 1 file changed, 23 insertions(+), 1 deletion(-)
- [ ] content/en/docs/concepts/scheduling-eviction/assign-pod-node.md 1 file changed, 43 insertions(+)
- [ ] content/en/docs/concepts/services-networking/dual-stack.md

[2020-12-12 16:48] feloy commented on #25505
I'm updating the intra-links. I've changed the links in the Concepts and Tasks, I still have to change the links in the Reference section.

[2020-12-13 00:38] #22471 closed

[2020-12-13 06:47] jmyung commented on #25521
@pjhwa @gochist @seokho-son
제가 이중에서 일부 선택하여, 별도 이슈 생성하여 진행하면 되는거죠?

- [ ]  content/en/docs/concepts/architecture/nodes.md 1 file changed, 20 insertions(+)
- [ ]  content/en/docs/concepts/cluster-administration/system-metrics.md 1 file changed, 23 insertions(+), 1 deletion(-)
- [ ]  content/en/docs/concepts/scheduling-eviction/assign-pod-node.md 1 file changed, 43 insertions(+)
- [ ]  content/en/do

[2020-12-13 07:45] seokho-son commented on #25521
@jmyung 네~! 골라잡으시면 됩니다.. :)

참고로,
content/en/docs/setup/release/notes.md 1 file changed, 1656 insertions(+), 2119 deletions(-)

릴리스 노트는 변경된 사항이 많고, 모든 항목에 대해 한글화 진행이 어렵기 때문에 최소한으로 한글화를 진행하고
상세한 한글화는 추가 기여를 받는 방식으로 처리하는 것이 좋겠습니다.  (해당 항목은 제가 처리해보겠습니다.)

[2020-12-13 07:47] #25283 closed

[2020-12-13 08:20] gochist commented on #25521
현재까지 잔여 페이지는 다음과 같습니다.

to be modified

* [ ] content/en/docs/tasks/administer-cluster/highly-available-master.md 1 file changed, 33 insertions(+)
* [ ] content/en/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes.md 1 file changed, 74 insertions(+), 19 deletions(-)
* [ ] content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md 1 file changed, 92 insertions(+), 213 deletions(-)

[2020-12-13 08:23] fandongxiaokk opened #25587 "Secret"
calico-kube-controllers pod   v3.17.1  版本 ERROR:

2020-12-13 08:21:12.385 [FATAL][1] main.go 101: Failed to start error=failed to build Calico client: could not initialize etcdv3 client: open /calico-secrets/etcd-cert: permission denied

calico-etcd.yaml  配置文件 calico-kube-controllers 组件  v3.17.1  版本 ，最低权限是0040 而不是 400
1.镜像：calico/kube-controllers v3.17.1
vim calico-etcd.yaml  ( v3.17.1  版本)
volume

[2020-12-13 13:50] Cweiping commented on #23122
If there is no update, I will close it.
/close

[2020-12-13 13:50] #23122 closed

[2020-12-13 13:58] Cweiping commented on #21688
/remove-lifecycle stale

[2020-12-13 15:02] seokho-son commented on #25581
/triage accepted

[2020-12-13 15:51] seokho-son opened #25589 "Outdated contents in release notes.md of dev-1.20-ko.1"
**This is a Bug Report**

**Problem:**

content/en/docs/setup/release/notes.md 1 file changed, 1656 insertions(+), 2119 deletions(-)
for Korean is outdated.

**Proposed Solution:**

Update content/ko/docs/setup/release/notes.md according to
content/en/docs/setup/release/notes.md 1 file changed, 1656 insertions(+), 2119 deletions(-)

/language ko

[2020-12-13 15:52] seokho-son commented on #25589
/assign @seokho-son

[2020-12-13 15:53] seokho-son commented on #25589
Parent issue : #25521

[2020-12-13 19:01] sftim commented on #20485
/retitle New contributor guide

[2020-12-13 19:02] sftim commented on #20485
How well does https://www.kubernetes.dev/docs/guide/#contributor-guide match the outcome that this issue was calling for?

[2020-12-13 19:02] takeoffnyc commented on #20485
Mentioned how

On Sun, Dec 13, 2020, 2:01 PM Tim Bannister <notifications@github.com>
wrote:

[2020-12-13 23:07] antaloala commented on #25064
I just checked it was not solved in just released 1.20 documentation

[2020-12-13 23:13] antaloala commented on #24053
What do you think then on adding some clarification to explain that the values to set for these input parameters in kube-apiserver and kube-controller-manager must be properly related (i.e. values to assign to "--default-not-ready-toleration-seconds" and "--default-unreachable-toleration-seconds" options in kube-apiserver should be **equal or lower** than the value assigned to "--pod-eviction-time

[2020-12-14 00:13] pjhwa opened #25595 "Translate blog/dont-panic-kubernetes-and-docker into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate blog/2020/12/02/dont-panic-kubernetes-and-docker/ into Korean.

**Why is this needed**
There is no document of blog/2020/12/02/dont-panic-kubernetes-and-docker/ which is translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/blog/2020/12/02/dont-panic-kubernetes-and-docker/

/language ko

[2020-12-14 00:13] pjhwa commented on #25595
/assign

[2020-12-14 00:33] tengqm commented on #24053
The upstream code is here: https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/defaulttolerationseconds/admission.go#L35-L41

The reference doc are generated from the upstream source code, so please propose your fix to the upstream repo.

[2020-12-14 02:47] jmyung commented on #25521
릴리스 노드는 분량이 너무 많기도 하고, 따라잡기 반영하기에는 변경 사항이 많이 발생하여
버전별 최초 번역분만 유지하는 것으로 얘기 됐던 것으로 기억합니다. 😅

[2020-12-14 06:11] hillbilly-mark opened #25601 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/"
Sorry.  But, this seems to just fail. miserably.  I tried installing to Ubuntu Server 20.04.

<pre>
$ kubectl get pods --all-namespaces
NAMESPACE     NAME                                      READY   STATUS              RESTARTS   AGE
kube-system   coredns-74ff55c5b-95csw                   0/1     ContainerCreating   0          20h
kube-system   coredns-74ff55c5b-hmhdx                   0/1     Co

[2020-12-14 08:50] jmyung opened #25608 "Outdated files in the dev-1.20-ko.1 branch. (2)"
Outdated files in the dev-1.20-ko.1 branch (2)
This is a part of #25521 .

I'm in charge of 10 of 55 files.

- [x]  content/en/docs/concepts/architecture/nodes.md 1 file changed, 20 insertions(+)
- [x]  content/en/docs/concepts/cluster-administration/system-metrics.md 1 file changed, 23 insertions(+), 1 deletion(-)
- [x]  content/en/docs/concepts/scheduling-eviction/assign-pod-node.md 1 file chang

[2020-12-14 08:50] jmyung commented on #25608
/language ko
/assign

[2020-12-14 08:51] jmyung commented on #25608
/triage accepted

[2020-12-14 13:42] zaf187 commented on #25587
Please can i upvote this issue, i am facing the same problem. After changing the defaultMode to 0040 it works fine.

[2020-12-14 14:26] sftim commented on #25587
Hi @zaf187 & @fandongxiaokk

What summary / title would you recommend for this issue?

BTW https://youtu.be/o45vmed3Pcc?t=20 outlines how to upvote

[2020-12-14 14:57] zaf187 commented on #25587
permissions related issue around accessing etcd-secrets from the calico controller node, i think that's a reasonable summary / title.

This should actually be in the calico github ... i was just googling for this issue and came across this post here in this github.

[2020-12-14 15:09] MasterDev117 opened #25616 "[es] https://k8s.io/es/docs/concepts/services-networking/ is blank"
Don't have info in Spanish

[2020-12-14 15:24] bergerhoffer commented on #23855
/remove-lifecycle stale

[2020-12-14 15:29] bergerhoffer commented on #23855
I do see that https://v1-19.docs.kubernetes.io/docs/setup/release/notes/ was added for 1.19 which is awesome.

However, since the generic link (https://kubernetes.io/docs/setup/release/notes/) was updated to 1.20, this means that our page that linked to 1.19 is now actually pointing to 1.20 release notes. This is the problem we foresaw when opening this issue. I'll go back and update our links, bu

[2020-12-14 16:51] sftim commented on #20293
Related: issue #23855 would like stable (aka “permalink”) URLs for release notes.

[2020-12-14 16:53] sftim commented on #23855
@bergerhoffer I recommend tracking this as a part of issue #20293 - it's not specific to a particular release

[2020-12-14 16:56] bergerhoffer commented on #20293
Related: #23855 is requesting a version-specific URL for the latest release notes. As of 1.19 it started just using https://kubernetes.io/docs/setup/release/notes/, which can change (as it just did a few days ago from 1.19 to 1.20), which makes it difficult for others to link to it and have the content stay relevant for a specific release.

[2020-12-14 16:58] bergerhoffer commented on #23855
Thanks @sftim I've added a comment to that issue.

[2020-12-14 17:22] neolit123 commented on #25601
try a different container network plugin like Calico or Weave.
Flannel is not well maintained.

for more questions try the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close
/kind support

[2020-12-14 17:22] #25601 closed

[2020-12-14 17:43] hillbilly-mark commented on #25601
I assume the betwwen the lines answer is i have to reformat scratch and start over from the very beginning? ---- On Mon, 14 Dec 2020 08:23:43 -0900  notifications@github.com  wrote ----
try a different container network plugin like Calico or Weave.
Flannel is not well maintained.
for more questions try the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md
/close
/ki

[2020-12-14 19:46] brennerm opened #25620 "add diagram that explains the user facing RBAC objects and their relations"
**What would you like to be added**
I'd like to see a diagram that informs the reader about the objects (Role, RoleBinding, ServiceAccount, ...) and their relations that are part of the Kubernetes RBAC system.

**Why is this needed**
IMO this would help users to understand how to handle RBAC objects themselves more easily.

**Comments**
Talked to @sftim in sig-docs Slack channel beforehand as I of

[2020-12-15 08:33] sftim commented on #25620
/sig auth

[2020-12-15 08:33] sftim commented on #25620
/triage accepted
/language en
/kind feature

[2020-12-15 10:57] kosehy commented on #25521
잔여 페이지는 제가 맡아서 진행하겠습니다!

- [ ] content/en/docs/tasks/administer-cluster/highly-available-master.md 1 file changed, 33 insertions(+)
- [ ] content/en/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes.md 1 file changed, 74 insertions(+), 19 deletions(-)
- [ ] content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md 1 file changed, 92 insertions(+), 213 deletions(-)
- [ ] content/

[2020-12-15 13:21] habibrosyad commented on #25025
content/en//docs/reference/glossary/kuantitas.md will be handled via https://github.com/kubernetes/website/issues/24382 (has a PR already in https://github.com/kubernetes/website/pull/24347 which is still in progress to be divided into smaller chunk and need to be revisited again according to the new central glossary).

[2020-12-15 13:30] gochist opened #25634 "Outdated files in the dev-1.20-ko.1 branch (partial)"
#25521 is the umbrella issue of this.

to be modified

- [ ] content/en/docs/tasks/administer-cluster/highly-available-master.md 1 file changed, 33 insertions(+)
- [ ] content/en/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes.md 1 file changed, 74 insertions(+), 19 deletions(-)
- [ ] content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md 1 file changed, 92 insertions(+), 2

[2020-12-15 13:33] gochist commented on #25521
This issue has been divided and assigned as follows!

#25581 @pjhwa
#25589 @seokho-son
#25608 @jmyung
#25634 @kosehy

/assign @pjhwa @seokho-son @jmyung @kosehy

[2020-12-15 13:34] gochist commented on #25608
/milestone dev-1.20-ko.1

[2020-12-15 13:34] gochist commented on #25589
/milestone dev-1.20-ko.1

[2020-12-15 13:42] gochist commented on #25634
/language ko

[2020-12-15 13:44] gochist commented on #25589
/triage accepted

[2020-12-15 13:44] gochist commented on #25595
/triage accepted

[2020-12-15 13:44] gochist commented on #25478
/triage accepted

[2020-12-15 13:52] gochist commented on #25416
@islbie Please read [the community code of conduct](https://github.com/cncf/foundation/blob/master/code-of-conduct-languages/ko.md).

[2020-12-15 14:22] gochist commented on #25522
/close

[2020-12-15 14:23] #25522 closed

[2020-12-15 14:46] sftim commented on #25416
/close

[2020-12-15 14:47] #25416 closed

[2020-12-15 15:17] #24873 closed

[2020-12-15 15:19] MorrieAtElastic opened #25638 "Confusing advice in “Configuring Redis using a ConfigMap”"
See https://stackoverflow.com/questions/56818074/get-error-json-unknown-field-metadata-error-when-i-follow-tutorial-of-kub.

This is still a problem and there remains confusion as to how to build the initial Redis cache in this example.

[2020-12-15 15:32] LaumiH opened #25639 "Add Kubernetes meaning to English version of "What is Kubernetes""
**This is a Feature Request**
Well not really a feature, but neither a real bug.

**What would you like to be added**

I noticed that while the German "What is Kubernetes" page has a tiny section about the meaning of Kubernetes in it at the end, the English counterpart lacks this info. I want to add it. I have not checked with other languages.

**Why is this needed**
The documentation content shou

[2020-12-15 15:44] LaumiH commented on #25639
The English article explains the meaning of Kubernetes in the second paragraph ("The name Kubernetes originates from Greek, meaning helmsman or pilot. "), before explaining its origin.
Either the German version of the page should be adapted, or the English one. The English version does not explain where "K8s" comes from.

[2020-12-15 15:52] MorrieAtElastic opened #25641 "Exposing an External IP Address to Access an Application in a Cluster"
This example did not work as described and I never received a response from the final curl command. In 2 separate cloud terminal environments  I received timeouts:

[code]

and I'm pretty sure that I followed the steps exactly. It might be helpful if we could be provided with some tips for troubleshooting a timeout when trying to contact the application externally.

[2020-12-15 17:17] patelaryan7751 commented on #25123
hello @sftim i want to work on this issue.

[2020-12-15 18:55] kbhawkey commented on #25548
Hi @raghvenders .
What do you think about closing this issue?

[2020-12-15 18:58] kbhawkey commented on #24409
Hi @hottomato4 .
Can this issue be closed?
The update page looks like:
https://kubernetes.io/docs/concepts/storage/volumes/#types-of-volumes

[2020-12-15 19:04] kbhawkey commented on #22016
There may be more to discuss about:
* Including previous API reference pages with the "latest" API reference pages and
* Providing a more permanent URL to access the "latest" API reference pages
As the API reference generator tool is changing, I plan to close this issue.
/close

[2020-12-15 19:04] #22016 closed

[2020-12-15 19:05] kbhawkey commented on #4497
/unassign

[2020-12-15 19:22] sftim commented on #25639
/language en
/kind feature

[2020-12-15 19:22] sftim commented on #25639
BTW SIG Docs convention is that localizations are downstream from the English version, which is canonical.

[2020-12-15 19:32] sftim commented on #25388
@brennerm as you've been doing a great job drafting diagrams, I thought you might like to know about this feature request too

[2020-12-15 19:45] sftim opened #25645 "Generate feature gates list from data"
**This is a Feature Request**

**What would you like to be added**
Track a list of feature gates as, eg, YAML, and generate https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/ from that data.

**Why is this needed**
- This improvement lets people update the feature state for a gate with a one line change, eg
[code]
- This change enables future work to:
   - autogenerat

[2020-12-15 19:47] sftim commented on #25645
To clarify something: we need to localize the descriptions for each feature gate, so those descriptions would still be part of the content. The good thing about having this list as data is that we can lint to make sure that each added feature gate has a matching description.

[2020-12-15 19:53] sftim opened #25646 "Link to #contributing-to-the-docs at top of repo README"
**This is a Feature Request**

**What would you like to be added**
In the first paragraph of running text for https://github.com/kubernetes/website/blob/master/README.md, add a hyperlink to [`#contributing-to-the-docs`](https://github.com/kubernetes/website#contributing-to-the-docs).

**Why is this needed**
People reading the README have to scroll down some way to see that there is a guide to cont

[2020-12-15 19:54] sftim commented on #25638
Sounds like a bug. Anyone able to confirm and accept this issue?

[2020-12-15 19:55] sftim commented on #25638
/retitle Confusing advice in “Configuring Redis using a ConfigMap”

[2020-12-15 20:08] sftim commented on #25638
I don't think it's a _bug_ as such.

Overall, the existing page is confusing because it shows the contents of files that the reader needs to download _before_ then showing them a command to download it (but without really explaining what is happening).

I'm not sure that this guide is really explaining ConfigMaps; it's confusing matters by also introducing kustomization. I recommend rewriting the

[2020-12-15 20:09] sftim commented on #25638
/triage accepted

[2020-12-15 20:09] sftim commented on #25587
Ah OK - it's not a documentation issue?

[2020-12-15 20:12] sftim commented on #25562
Hi @vishaal314

I think you're reporting that the page at https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/ is not accurate. Is that right?

Can you explain what seems wrong?  I skimmed through [Configure a Pod to Use a ConfigMap](https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/) and didn't see a mention of `kubectl logs`.

[2020-12-15 20:13] sftim commented on #25035
/close

[2020-12-15 20:13] #25035 closed

[2020-12-15 20:15] wilsonehusin commented on #25645
I love this idea! On compiling major themes for 1.20, I had to go back and forth between k/k PR and k/website PR to see if the changes are in sync. Is this a step towards generating [from the actual code itself](https://github.com/kubernetes/kubernetes/blob/master/pkg/features/kube_features.go)?

[2020-12-15 20:18] zaf187 commented on #25587
no it isn't. IMO you can close this but i actually don't understand the post from the OP.

[2020-12-15 20:32] annajung commented on #25645
/triage accepted

[2020-12-16 00:10] pjhwa commented on #25634
/triage accepted

[2020-12-16 00:12] pjhwa commented on #25339
/triage accepted

[2020-12-16 00:15] pjhwa commented on #24422
/close

[2020-12-16 00:15] #24422 closed

[2020-12-16 02:15] philiplee13 commented on #25646
/triage accepted

[2020-12-16 02:21] philiplee13 commented on #25646
Hi @sftim I'm interested in taking this issue, is there anything that I need to do before hand to take this ticket?

[2020-12-16 09:31] decaMinCow opened #25656 "Kubernetes 组件"
kube-controller-manager
在主节点上运行 控制器 的组件。

从逻辑上讲，每个控制器都是一个单独的进程， 但是为了降低复杂性，它们都被编译到同一个可执行文件，并在一个进程中运行。

这些控制器包括:

节点控制器（Node Controller）: 负责在节点出现故障时进行通知和响应。
副本控制器（Replication Controller）: 负责为系统中的每个副本控制器对象维护正确数量的 Pod。
端点控制器（Endpoints Controller）: 填充端点(Endpoints)对象(即加入 Service 与 Pod)。
服务帐户和令牌控制器（Service Account & Token Controllers）: 为新的命名空间创建默认帐户和 API 访问令牌.

-------------------------------------------

[2020-12-16 10:35] runningman84 opened #25658 "Improvement for k8s.io/docs/concepts/overview/components/"
the deployment controller should be mentioned in addition to the replicaset controller

[2020-12-16 12:04] sftim commented on #25658
Hi @runningman84

That list of controllers is not exhaustive (although in PR #16885 I did try to add a full list of built-in controllers).
I think it makes sense not to mention the ReplicationController controller there, for two reasons:
1. the resource is not well named
2. ReplicationController is deprecated

I _suggest_ removing the reference to the replication controller and instead mentioning

[2020-12-16 12:14] #25518 closed

[2020-12-16 14:46] sftim opened #25659 "Move details about API access from pods out of cluster administration section"
**This is a Feature Request**

**What would you like to be added**
The detail about Pods and how they can verify the API server's identity should move to a reference or concept page about accessing the Kubernetes API.

**Why is this needed**
https://kubernetes.io/docs/tasks/administer-cluster/access-cluster-api/#directly-accessing-the-rest-api-1 includes handy tips about how to access the Kubernet

[2020-12-16 14:48] sftim commented on #25656
This seems to be feedback about https://kubernetes.io/zh/docs/concepts/overview/components/

@decaMinCow would you be willing to revise the issue description with more detail of the shortcoming you have seen, or the improvement you'd like to suggest?
(I'd be grateful if someone could translate or rephrase this comment in Chinese).

[2020-12-16 14:49] sftim commented on #25587
This seems to be off topic
/close

[2020-12-16 14:49] #25587 closed

[2020-12-16 16:09] aojea opened #25661 "Improve documentation for IPv4/IPv6 dual-stack"
This feature has gone through a significant refactor during the 1.19 cycle, and current information is outdated.

We need to update the website to reflect these changes

[2020-12-16 16:12] aojea commented on #25661
ping @khenidak @bridgetkromhout @lachie83

[2020-12-16 17:15] ehashman commented on #25388
/cc @bobbypage

[2020-12-16 17:35] kbhawkey commented on #21563
/remove-lifecycle stale

[2020-12-16 19:40] tallclair commented on #18850
/sig security

[2020-12-16 21:48] #20652 closed

[2020-12-16 21:50] #25497 closed

[2020-12-16 21:56] sftim commented on #25661
/retitle Improve documentation for IPv4/IPv6 dual-stack
/kind cleanup
/sig network
/priority backlog
(because feature is alpha)

/triage accepted

[2020-12-16 21:57] sftim commented on #25661
I'm happy to give related PRs a once-over, including testing out any task pages to make sure you can follow them from start to finish OK.

[2020-12-17 01:13] tengqm commented on #25548
Feel free to reopen if the issue is still there.
/close

[2020-12-17 01:13] #25548 closed

[2020-12-17 01:15] tengqm commented on #25659
/triage accepted

[2020-12-17 01:16] tengqm commented on #25646
/triage accepted

[2020-12-17 01:16] tengqm commented on #25646
@philiplee13 Just go ahead and raise a PR, :)

[2020-12-17 01:19] tengqm commented on #25639
/triage accepted

[2020-12-17 01:19] tengqm commented on #25571
/close

[2020-12-17 01:20] #25571 closed

[2020-12-17 01:26] tausq opened #25664 "Improvement for k8s.io/docs/tasks/administer-cluster/topology-manager/"
The examples for using the topology manager seems to be copied from the cpu manager page and do not refer to the topology manager policies. e.g. it refers to the "static" and "none" policies instead of the ones described earlier on the page.

[2020-12-17 01:37] tausq commented on #25664
I think i just misunderstood the explanation....

[2020-12-17 01:37] #25664 closed

[2020-12-17 02:25] Mac24 opened #25671 "Chinese Docs--which branch"
**This is Support**

I want to do docs Chinese localization work, I don’t know which branch I should choose to start working

[2020-12-17 02:56] tengqm commented on #25671
Hi, @Mac24, welcome to the zoo. Please raise similar questions on Slack channel #sig-docs.
For Chinese localization, we work on the master branch. You may want to check the localization guide (https://kubernetes.io/zh/docs/contribute/) for overall guidelines, and the Chinese specific styles (https://kubernetes.io/zh/docs/contribute/localization_zh/).

Since this is a doc issue, I'm gonna close it.

[2020-12-17 02:56] #25671 closed

[2020-12-17 04:15] #20384 closed

[2020-12-17 06:34] djatkdgus789 opened #25673 "Translate concepts/scheduling-eviction/scheduling-framework in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/scheduling-eviction/scheduling-framework in Korean

**Why is this needed**
No Translation with concepts/scheduling-eviction/scheduling-framework in Korean

**Comments**

Page to Update:
https://kubernetes.io/docs/concepts/scheduling-eviction/scheduling-framework/

[2020-12-17 06:35] djatkdgus789 commented on #25673
/language ko
/assign

[2020-12-17 07:43] sandhya123-max opened #25676 "Help with load balancer configuration"
Hi team,

I am unable to expose my application outside.LoadBalancer external-ip stuck in pending
ubuntu@k3s-master:~$ kubectl get svc
NAME              TYPE           CLUSTER-IP      EXTERNAL-IP   PORT(S)        AGE
kubernetes        ClusterIP      10.43.0.1       <none>        443/TCP        21d
redis-back        ClusterIP      10.43.123.214   <none>        6379/TCP       28h
melonvote-front   Lo

[2020-12-17 08:20] LaumiH commented on #25639
In my humble opinion, the difference between the English and German versions of the documentation is a bigger problem and not limited to this case.
See as well [German "Konzepte"](https://kubernetes.io/de/docs/concepts/) vs [English "Concepts"](https://kubernetes.io/docs/concepts/).

I mean, my use case is kind of special, I am writing a thesis and want to cite the Documentation in some places. I

[2020-12-17 08:29] sftim commented on #25676
/retitle Help with load balancer configuration

[2020-12-17 08:29] sftim commented on #25676
/kind support

[2020-12-17 08:30] sftim commented on #25676
@sandhya123-max, GitHub is not the right place for support requests.

For help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes)

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

[2020-12-17 08:35] sftim commented on #25639
@LaumiH we 100% welcome pull requests to bring the German localization in syncrhronization with English. If you have any friends itching to contribute to open source, and who speak both languages, or you're keen yourself - jump right in!

[2020-12-17 08:39] #21688 closed

[2020-12-17 08:42] sftim commented on #25616
/retitle https://k8s.io/es/docs/concepts/services-networking/ is blank
/language es
/kind bug

(although this is _mainly_ a feature request, serving blank rather than localized content is a bug)
/triage accepted

[2020-12-17 08:43] sftim commented on #25616
The page at https://k8s.io/es/docs/concepts/services-networking/ is a placeholder that exists to make the site front page render correctly.
@kubernetes/sig-docs-es-owners any thoughts on how to address this?

[2020-12-17 09:05] LaumiH commented on #25639
@sftim alright, I might have some spare time over the holidays. Seems like contributing to open source documentation is my thing :D
One questions remains: like in the initial case, the German version had more info than the English one. Shall I keep this info in a list and suggest adding it in the English version as well? Because somebody took an effort to add it in there in the first place, though

[2020-12-17 09:14] sftim commented on #25639
I haven't checked the commit history but I assume that the extra text was at some point in the English version and that the upstream (English) page has since changed. We don't accept changes that land first in the downstream localization if these revise the meaning of the text. It's possible the history is different - I'd expect that to be _very_ rare.

Localization is not translation, though, and

[2020-12-17 09:17] LaumiH commented on #25639
Difficult matter I suppose, where do you draw the line ...
I will try to at least make the pages look more equal to one another, so that there are no surprises as in my case, where the page structure is somehow different and it is not so easy to link to the correct page in English, coming from German.

[2020-12-17 10:27] pnosov opened #25687 "Typo in “Managing Resources for Containers”"
"The kubelet performs regular, schedules checks that scan each emptyDir volume, container log directory, and writeable container layer." in https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#resource-emphemeralstorage-consumption

Should be "regular, scheduled checks".

[2020-12-17 14:03] sftim commented on #25687
/retitle Typo in “Managing Resources for Containers”
/kind bug
/triage accepted
/language en
/good-first-issue

To fix this, open a pull request containing one commit. The commit should change the Markdown source of https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/ to use the correct spelling.

Thanks @pnosov

[2020-12-17 14:54] kosehy opened #25689 "ja: Translate reference/tools/ into Japanese"
This is a Feature Request

What would you like to be added

Translate reference/tools/ into Japanese

Why is this needed
No translation reference/tools/ into Japanese

Comments

Page to Update:
https://kubernetes.io/docs/reference/tools/

/language ja
/assign

[2020-12-17 16:50] kbhawkey commented on #25300
To confirm, the goal of this issue is to:
* retitle the GC concept page (not move the page or retitle the file)?
* link from the containers concept page to the GC concept page

[2020-12-17 17:01] inductor commented on #25217
/close

[2020-12-17 17:01] #25217 closed

[2020-12-17 18:29] #22586 closed

[2020-12-17 20:58] pnosov commented on #25687
PR: https://github.com/kubernetes/website/pull/25693
/close

[2020-12-17 20:58] #25687 closed

[2020-12-17 22:33] #15893 closed

[2020-12-17 22:33] #22542 closed

[2020-12-17 22:33] #22575 closed

[2020-12-18 01:36] #22601 closed

[2020-12-18 01:56] raghvenders commented on #25548
@kbhawkey - Thanks for fixing the issue.

[2020-12-18 03:38] #22008 closed

[2020-12-18 05:18] seokho-son commented on #25673
@djatkdgus789 Hello ! Thank you for contribution !

I noticed that there is a duplicated issue (#20328))
However, since #20328 seems not resolved, I would like to check the status of #20328 before assign this issue to you.
(If we don't check, duplicated contributions :) )

So, unassign for this moment.
/unassign @djatkdgus789

Hello ~~ @ysyukr . Cloud you let us know the status of #20328 ?

[2020-12-18 08:56] aojea commented on #25661
my apologies, I think I wrongly saw an outdated page, current docs are up to date
https://github.com/kubernetes/website/commit/8a3244fdd1ab0c9b762b33d28b99f6fee8c1c9d6

[2020-12-18 08:57] #25661 closed

[2020-12-18 09:29] FerminCastro opened #25703 "Improvement for k8s.io/docs/tasks/administer-cluster/configure-upgrade-etcd/"
Quote from the doc:

"If any API servers are running in your cluster, you should not attempt to restore instances of etcd. Instead, follow these steps to restore etcd:

    stop all kube-apiserver instances
    restore state in all etcd instances
    restart all kube-apiserver instances

We also recommend restarting any components (e.g. kube-scheduler, kube-controller-manager, kubelet) to ensure t

[2020-12-18 10:19] neethu-mohanan opened #25704 "“Deploying PHP Guestbook application with Redis” tutorial not working"
The images are not reachable and redis-master and redis-slave deployment creations fail due to ErrImagePull status

[2020-12-18 11:03] sagarmujumale opened #25705 "Improvement for k8s.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/"
curl -s https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key add -

this command is showing below error,

gpg: no valid OpenPGP data found.

if gpg is no longer valid then we are unable to install any valis packages

[2020-12-18 11:47] djatkdgus789 commented on #25673
@seokho-son Hello! Thank you for your comment!

I will keep track of this issue :-)

Thank you~

[2020-12-18 14:45] dsbos commented on #20655
/reopen
/remove-lifecycle rotten

[2020-12-18 15:05] kbhawkey commented on #25300
Note: I found 2 Garbage Collection concept pages:
https://kubernetes.io/docs/concepts/cluster-administration/kubelet-garbage-collection/
https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/

The "cluster-administration" GC concept page focuses on the kubelet flags.
This page is not listed in the "cluster-administration" index page. Could the index page list the GC page und

[2020-12-18 15:17] serewicz commented on #25495
Sure @sftim, what is the proper way to revise the issue description?

[2020-12-18 18:45] rikatz commented on #23254
/remove-lifecycle stale

I promise will take a look into this ASAP

[2020-12-18 21:38] raelga commented on #25616
Let me check it, because other pages are having like https://kubernetes.io/es/docs/concepts/storage/ the same issue.

[2020-12-19 02:40] #25300 closed

[2020-12-19 02:51] jai commented on #25638
🙋🏽‍♂️ I'm going to give this a go

[2020-12-19 15:06] neolit123 commented on #25705
Does this happen all the time? These google sites are known to fail on rare
occasions.

But if you are behind a firewall there is not much we can do. You can try
using a proxy in that case.
On Dec 18, 2020 13:03, "Kubernetes Prow Robot" <notifications@github.com>
wrote:

[2020-12-19 21:19] #19870 closed

[2020-12-20 01:20] tengqm commented on #20134
/remove-lifecycle rotten

[2020-12-20 01:24] jai commented on #25638
@sftim let me know your thoughts https://github.com/kubernetes/website/pull/25712

I tried to follow the style guide in terms of separating commands and output - it leads to a bit of verbosity in some areas, especially the part where we walk the reader through checking the Redis config, but it's not that bad I guess. The previous version combined commands/output - I'm not sure if this style guide

[2020-12-20 01:24] tengqm commented on #22085
/close
Feedback provided but no response for months. Assuming this is resolved.
Feel free to reopen.

[2020-12-20 01:25] #22085 closed

[2020-12-20 04:26] #22656 closed

[2020-12-20 11:29] surendra080196 opened #25730 "Hello Minikube"
Getting this error in kubernetes
The connection to the server localhost:8080 was refused - did you specify the right host or port?

[2020-12-20 11:31] surendra080196 commented on #25730
/triage accepted

[2020-12-20 13:00] sculley opened #25732 "Inconsistent draining nodes step in Upgrading kubeadm clusters"
I noticed that there seems to be inconsistencies in the upgrading kubeadm clusters documentation between 1.19 and 1.20

In the 1.19 [docs](https://v1-19.docs.kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/#upgrading-control-plane-nodes) after updating kubeadm version and verifying the new version there is a step to drain the pods on the first control-plane node

![Screenshot 2

[2020-12-20 13:46] sculley commented on #25732
/language en

[2020-12-20 18:17] collimarco opened #25734 "Improvement for k8s.io/docs/reference/using-api/client-libraries/"
There is a link to this Ruby library, but it is no longer maintained (last commit on Nov 2014 - 6 years ago!):
https://github.com/Ch00k/kubr

It should be probably removed, since there are other libraries in Ruby.

[2020-12-20 20:02] sftim commented on #25495
There's a &hellip; top right of the issue text. Click that and choose *Edit*.

[2020-12-20 20:26] sftim commented on #25734
Hi @collimarco

We (Kubernetes) don't really curate the list of third party client libraries; in fact there's an explicit warning that we do not. I think the existing approach would suggest keeping the link and letting readers form their own opinion about suitability - for example, by looking for recent commits.

Maybe there's a reason to specifically omit this one (for example, if using it at all

[2020-12-20 20:27] sftim commented on #25730
/kind support

It sounds like you're asking for help troubleshooting Kubernetes @surendra080196
Have I got that right?

[2020-12-20 20:28] sftim commented on #25704
I haven't checked, but that sounds very plausible.
/kind bug
/priority important-longterm

[2020-12-20 20:29] sftim commented on #25704
/retitle “Deploying PHP Guestbook application with Redis” tutorial not working

[2020-12-20 20:30] sftim commented on #25703
/kind feature
/triage accepted
/priority backlog

Thanks for the suggestion!

[2020-12-20 20:31] sftim commented on #25703
These skills are also on the syllabus for the CKA and CKS qualifications.

[2020-12-20 20:33] sftim commented on #25705
[code]
That works for me. I wonder if packet filtering is the problem as https://github.com/kubernetes/website/issues/25705#issuecomment-748486064 suggests.

/priority awaiting-more-evidence

[2020-12-20 21:43] #18079 closed

[2020-12-21 10:34] wujihua opened #25747 "特性门控"
为什么 AffinityInAnnotations 已经在1.8版本删除了，我运行的1.18版本还可以正常使用呢

[2020-12-21 10:51] sftim commented on #24031
/close

[2020-12-21 10:51] #24031 closed

[2020-12-21 10:52] sftim commented on #25747
/kind support

[2020-12-21 10:54] sftim commented on #25747
如果有一个网页列出了不正确的信息，请提供详细信息，以便我们跟踪缺陷并计划进行修复

[2020-12-21 11:30] NeilW opened #25748 "Issue with k8s.io/docs/tasks/administer-cluster/developing-cloud-controller-manager/"
Out of tree developing instructions are now out of date.

main.go reference leads to a 404.

[2020-12-21 18:54] FerminCastro commented on #25703
To be frank, no matter how many kubernettes docs you read, restoring etcd in a kubeadm-generated system with multiple masters is just incomprehensible :-)

[2020-12-22 00:40] tengqm commented on #25732
IIUC, fixes to significant bugs that affect setting up or running Kubernetes are acceptable to archived versions of  the docs.

[2020-12-22 02:31] #25595 closed

[2020-12-22 03:29] tengqm commented on #24055
This has been fixed.
/close

[2020-12-22 03:29] #24055 closed

[2020-12-22 04:18] mingyuanzhu opened #25751 "Init-Container status describe fault"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/concepts/workloads/pods/init-containers/#detailed-behavior

I think there is a typo in the below sentence, the Initialized should be set to **false**

A Pod cannot be Ready until all init containers have succeeded. The ports on an init container are not aggregated under a Service. A Pod that is initializing is in the Pending state b

[2020-12-22 04:46] seokho-son commented on #25521
[Progress]
ISSUE: #25581 @pjhwa (PR: #25699 , Under review)
ISSUE: #25589 @seokho-son (PR: #25699 , Under review)
ISSUE: #25608 @jmyung (PR: WIP)
ISSUE: #25634 @kosehy (PR: #25728 , Under review)

[2020-12-22 05:30] tengqm commented on #25751
/triage accepted
/kind bug
/help
/language en

[2020-12-22 06:59] sxwangchen7 opened #25755 "使用 Service 连接到应用"
可以从 Nginx https 示例 获取所有上述内容，简明示例如下：
示例的链接404

[2020-12-22 07:45] sculley commented on #25732
Thanks for the replies, now that we have confirmed draining nodes is required before `kubelet` upgrades and not `kubeadm` I believe that at least 3 PR's will be required;

- Updating [Upgrading Worker Nodes](https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/#upgrade-worker-nodes) in the current version of the docs (1.20) to change the position of the [Drain the node](http

[2020-12-22 10:11] sftim commented on #25755
Hi @sxwangchen7

It sounds like you wanted to provide feedback about a web page. Which web page was that?
/triage needs-information

[2020-12-22 10:13] sftim commented on #25748
The fix, I think, is to change the hyperlink to be https://github.com/kubernetes/kubernetes/blob/master/cmd/cloud-controller-manager/main.go

/kind bug
/priority backlog
/triage accepted
/language en
/sig api-machinery
/sig cloud-provider

[2020-12-22 11:28] sftim opened #25758 "Document how to find cluster domain name"
**This is a Feature Request**

**What would you like to be added**
By default the Kubernetes cluster domain is _cluster.local_ but it isn't always. Add documentation on how to find out what cluster domain is set for **your** cluster.

**Why is this needed**
Readers might / would like to know how to check the cluster's domain, even if they don't have administrative access to the control plane / the

[2020-12-22 13:22] #22727 closed

[2020-12-22 14:14] liggitt opened #25759 "Split out announcement config, enable date-bounding"
**This is a Feature Request**

**What would you like to be added**

* Separate the config driving the display and content of the announcement banner on the website to its own dir, with steering approvers
* Add the ability to specify a start and end date for an announcement, and adjust the display logic to only render the announcement between those dates, so no PR is required to enable or disable t

[2020-12-22 14:17] liggitt commented on #25759
cc @kubernetes/steering-committee

[2020-12-22 14:36] sftim commented on #25759
/triage accepted
/kind feature
/area web-development

[2020-12-22 14:38] sftim commented on #25759
I'd like to try implementing this. I favor YAML over JSON as YAML supports multiline strings natively.

[2020-12-22 14:39] sftim commented on #25759
I think this will be 2 PRs:
1. Add a GitHub Action to trigger automatic site deploys
1. Set the announcement banner based on a Hugo data source.

[2020-12-22 14:42] sftim commented on #25759
Alternative: use JavaScript client side to select the banner display logic. That'd slow down rendering for _every_ page load so I don't recommend it.

[2020-12-22 14:44] liggitt commented on #25759
+1 for avoiding dynamic client-side javascript load

I messed around with something inside the data folder and hugo was very unhappy with an OWNERS file

[2020-12-22 15:28] neolit123 commented on #25732
@tengqm

i would leave this to the judgment of the docs team. not following the kubelet upgrade recommendations is critical according to SIG Node, yet we haven't seen failure reports by users.

[2020-12-22 15:30] #23527 closed

[2020-12-22 15:30] neolit123 commented on #25732
@sculley

SGTM, that's one PR for master and one for the dev-1.20 branch.

one PR per the rest of the dev-x.yy branches (archived releases). once we amend 1.20, such a PR can copy the 1.20 kubeadm-upgrade.md to this dev-x.yy branch.

the documentation goes as far as 1.16, which can be confirmed if you click on the Version dropdown (top right) of k8s.io.
the 1.20 steps are valid for all these versi

[2020-12-22 18:27] #22729 closed

[2020-12-22 21:21] SergeyKanzhelev opened #25768 "Move away from dockershim instructions: create a new section under Tasks"
**This is a Feature Request**

I want to ask a new documentation section under [Tasks](https://kubernetes.io/docs/tasks/) describing various aspects of moving away from Dockershim to other runtimes. One document I am working with is: https://docs.google.com/document/d/1ZFi4uKit63ga5sxEiZblfb-c23lFhvy6RXVPikS8wf0/edit#heading=h.zhgtsiu70nbk There are more sub-topics will be there.

Is there any con

[2020-12-22 22:18] sftim commented on #25759
Hmm. I could use a GitHub `CODEOWNERS` file. Alternatively, the data could be fetched via HTTP. Neither is ideal.

[2020-12-22 22:41] sftim commented on #25768
A Task page is the right kind of content to add.
Are you considering adding a section inside https://kubernetes.io/docs/tasks/administer-cluster/ @SergeyKanzhelev ? I would add that rather than one inside https://kubernetes.io/docs/tasks/ - the deeper structure can be OK so long as we make sure there are lots of links to it.

When that content _disappears_, where will we redirect to? I assume we'd

[2020-12-22 23:14] sftim commented on #25732
I'm happy to see backports for SIG Cluster Lifecycle topics - especially for critical issues but also otherwise. Essentially, I think it's important that if we ask users to treat the docs for the most recent release as the best version available, then it's important to make sure that any documentation exists to help users / cluster admins get onto that most recent release.

[2020-12-22 23:25] sftim commented on #25759
We _could_ use `CODEOWNERS` for this specific though - does that feel like a good idea? It'd mean that an announcement change needs approval from `OWNERS` (to keep Prow happy) and `CODEOWNERS` (to keep GitHub happy).

[2020-12-22 23:26] sftim commented on #25759
/priority important-longterm

[2020-12-23 01:40] tengqm opened #25774 "Remove or revise diagram for services and labels"
This is a followup for #25169.

Diagram on https://kubernetes.io/docs/tutorials/kubernetes-basics/expose/expose-intro/

The problem is that the diagram is misleading. It is not correctly depicting the relationship between a Deployment and a Node, i.e. a Deployment can span multiple Node. The diagram is also "overloaded", i.e. trying to deliver too much information in a single view.

Maybe we shoul

[2020-12-23 02:07] shuuji3 commented on #25774
Many newcomers start from the tutorials and they tend to overwhelm by a lot of new concepts. Diagrams help the users to understand new concepts so I think it's preferable to replace better diagrams rather than remove them completely.

[2020-12-23 03:03] kbhawkey commented on #25759
I left comments in PR #25769 before reading this issue.
Since the announcement messages require approval by the Steering committee to publish, it may make sense to create the announcement data files in  a different repository (separate owners) and share with the site for publishing. Docs would maintain the templates to publish the announcement to the site (and maintain a base or default announceme

[2020-12-23 05:38] #22740 closed

[2020-12-23 05:42] tengqm commented on #22624
/reopen
/assign

[2020-12-23 05:42] tengqm commented on #22624
/remove-lifecycle rotten

[2020-12-23 10:12] sftim commented on #25759
BTW, Netlify doesn't leave a Hugo process to make live reloading work. Live reloading is there for local development.

I'm wary of the HTTP fetch; at the moment, it introduces a hard dependency for both local development (every page relies on fetching that JSON) and for site publishes. I'd sooner use `CODEOWNERS` or implement the approval requirements with an extra people step.
AIUI, there's no de

[2020-12-23 11:08] paddy-hack opened #25782 "Kubernetes Documentation: Please observe Accept-Language on search"
I just hit `https://kubernetes.io/search/?q=hostname` and got a pile of results including several Japanese results amongst a flurry of English.  Most notably, the *top* result was in Japanese.  When I did this at the office, just about *all* search results were in Japanese.

While I live and work in Japan, I have instructed my web browsers to send an `Accept-Language` header that states that I wan

[2020-12-23 13:28] #43385 closed, assigned to nobody

[2020-12-23 14:33] jerryzhyliu opened #25784 "Improvement for k8s.io/docs/tasks/extend-kubernetes/configure-aggregation-layer/"
still do not know how to Configure the Aggregation Layer:
Add--enable-aggregator-routing = true to the kube-apiserver option.

I tried to add `--enable-aggregator-routing = true ` with command` /usr/bin/kubectl edit pod kube-apiserver-k8smaster -n kube-system` under:
spec:
  containers:
  - command:

when I updated and saved, there was an error:
`error: pods "kube-apiserver-k8smaster" is invalid`

[2020-12-23 15:37] mraghu4 commented on #25306
The page explain about applying qosClass to a pod. If the pods is created using Pod definition the page has enough content. But say If the pod is created using a Job definition the can qosClass be applyed..? if yes, how ? missing in the page.

[2020-12-23 16:49] jpbetz opened #25785 "Add documentation for client-go apply"
**This is a Feature Request**

**What would you like to be added**

The server side apply documentation needs to be updated as part of https://github.com/kubernetes/enhancements/issues/2155: Apply for client-go's typed clients

**Why is this needed**

https://github.com/kubernetes/enhancements/pull/2156/files#r544495227 points out one gap in the documentation, as we find others we will track them

[2020-12-23 17:00] liggitt commented on #25759
ha, I take it back, we just have to tweak our ignored file regexp, and then an OWNERS file in the data dir seemed to work fine:

[code]

[2020-12-23 17:02] liggitt commented on #25759
I think keeping all the content here, and putting an OWNERS file in the announcements data dir would be simpler. I'd also like to avoid the http fetch.

Something like this could work:
[code]

[2020-12-23 17:42] sftim commented on #25759
Sounds good to me. I'll add that.

[2020-12-23 18:44] QueenMax opened #25786 "My app"
/lgtm

_Originally posted by @tanjunchen in https://github.com/kubernetes/website/issues/19358#issuecomment-592439855_

[2020-12-23 20:40] SergeyKanzhelev commented on #25768
@sftim what do you think of this: https://github.com/kubernetes/website/pull/25787? Is it the right structure?

[2020-12-23 20:53] #22757 closed

[2020-12-23 22:42] sftim commented on #25786
/triage needs-information

This seems to be off topic @QueenMax

[2020-12-23 22:49] sftim commented on #25782
/kind feature

Notes to implementers:
This will be hard to implement as stated. We use a content delivery network and the search form is actually a static page with some client side code; implementing a localized search would probably be easiest if done as a fudge where we inspect `navigator.languages` instead.

Alternatively, we could have a localized search page, so that if you search from https

[2020-12-24 05:11] Cweiping commented on #23390
Fix PR: #23529
/close

[2020-12-24 05:11] #23390 closed

[2020-12-24 05:34] sculley commented on #25732
@neolit123 - Could you clarify, Why do we need PR's for each of the dev-x.yy branches only? and not the release-x.yy? excuse my ignorance, I've tried searching in Slack channels for an answer to the uses/differences but have had no luck!

And when you say

What do you mean exactly, the 1.20 kubeadm-upgrade.md file can be used to replace the kubeadm-upgrade.md in all other dev-x.yy branches? Wouldn

[2020-12-24 05:49] neolit123 commented on #25732
AFAIK, backports for k/website should be sent to dev-1.xx branches.

yes.

i guess replacing the file completely is almost fine, since the steps for 1.20 are applicable all the way back to 1.16, and more accurate. however, the links on top of the document should be preserved, since they are a bit different.

for example the 1.16 page:
https://v1-16.docs.kubernetes.io/docs/tasks/administer-cluster/

[2020-12-24 09:13] mehmetefeumit commented on #25774
It has not been long since I learned Kubernetes and I agree with @shuuji3 that diagrams play an important role in making the tools accessible. I'll happily work on a new diagram; it will be my first contribution to Kubernetes...

[2020-12-24 09:39] paddy-hack commented on #25782
Ah, so that's what the `is_china=false` in the cookie is about :smile:
However, I repeated the same search at the office and that had `is_china=true` :astonished:
Last time I checked where the office was, as seen from the receiving end's server, it was definitely somewhere in Japan.

For the record, here's the full request.  Note that the referer page shows `English` as the selected/defaulted lang

[2020-12-24 09:43] sftim commented on #25774
:+1: for revise

[2020-12-24 09:52] sftim commented on #25732
We publish from the _release-1.xx_ branches; as I understand it, the _dev-1.xx_ branches for old releases are vestigial (things we ought to clean up).

I would target the _release-1.xx_ branches for a backport.

[2020-12-24 09:56] sftim commented on #25785
/sig api-machinery
/triage accepted
/priority backlog

[2020-12-24 09:59] sftim commented on #25774
/triage accepted

If revising, and _even if_ the revised diagram looks different from other tutorials, I recommend using icons from https://github.com/kubernetes/community/tree/master/icons

See https://kubernetes.io/docs/concepts/overview/components/ for an example of visual style (it renders pretty much anywhere but IMO looks best in Chrome / Chromium).

[2020-12-24 10:24] sftim opened #25800 "Add tooltip for CSI in persistent volume page"
**This is a clean up uequest**

**What would you like to be added**
Edit https://kubernetes.io/docs/concepts/storage/persistent-volumes/ so that the first mention of “Container Storage Interface” has a [glossary tooltip](https://kubernetes.io/docs/contribute/style/hugo-shortcodes/#glossary) explaining what CSI is.

**Why is this needed**
Readers might not understand what CSI is. As tooltips are al

[2020-12-24 11:48] mehmetefeumit commented on #25774
Made a replacement for the diagrams on https://kubernetes.io/docs/tutorials/kubernetes-basics/expose/expose-intro/ . There is two very similar diagrams on the page and the only difference between the two is that the second one has labels. This might act as a replacement for both. Any suggestions and comments are greatly appreciated...

![replacement](https://user-images.githubusercontent.com/82249

[2020-12-24 12:07] sftim commented on #25774
- I'd use the blue color everywhere for the icons, but feel free to use a different color for the labels. The Pod labelled `app=B` should be blue not purple. I would make the _label_ for B be purpl;e.
- _aside_ The Kubernetes fonts are [Open Sans](https://fonts.google.com/specimen/Open+Sans) for main text and [Ubuntu](https://fonts.google.com/specimen/Ubuntu) for the logotype
- I'm not sure what t

[2020-12-24 12:43] sftim opened #25803 "Use diagram for CronJob schedule syntax"
**This is a Feature Request**

**What would you like to be added**
Change the ASCII-art diagram in https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/#cron-schedule-syntax:

[code]

[2020-12-24 13:05] mehmetefeumit commented on #25774
@sftim Thank you for the feedback. I got rid of the purple pod and made the contrast between the labels and the selector more distinct. I added the ReplicaSet to make the diagram more accurate, and moved the label from the deployment to the pods. The latest version is below:
![replacement](https://user-images.githubusercontent.com/8224932/103090181-5763c500-4601-11eb-8e8d-3fce6c49f8f9.PNG)

The on

[2020-12-24 14:06] sftim commented on #25774
That looks good - would you be willing to send in a pull request @mehmetefeumit ?

---

_The rest of this feedback describes future work._

_As well_ (maybe a second PR?) I think I'd like to see a diagram that shows the packet flow, so this would include a load balancer and the 4 selected Pods. Probably _not_ nodes, unless we think that's needed. We could make a more complex version of that diagra

[2020-12-24 15:11] #22781 closed

[2020-12-24 18:03] mehmetefeumit commented on #25774
I'd love to send in a PR, but I have not been able to get Hugo working to test the dimensions of the image before committing. It keeps producing errors when I try to build the website in a container. I have all the dependencies installed and have no idea why this is happening.

[code]

[2020-12-25 01:58] shu-mutou opened #25806 "Reconsidering branch strategy"
**This is a Feature Request**

**What would you like to be added**

Reconsidering branch strategy regarding with k8s release cycle and localization process.
https://kubernetes.io/docs/contribute/localization/#source-files
https://kubernetes.io/docs/contribute/localization/#branching-strategy

**Why is this needed**

* https://github.com/kubernetes/website/pull/25795#discussion_r548518703

+1 for c

[2020-12-25 07:09] shuuji3 commented on #25774
@mehmetefeumit Awesome! Thank you for creating a new diagram. I think it's much better than the current one.

Here's some feedback:
- How about using the Labeled icons instead of Unlabeled ones from [community/icons](https://github.com/kubernetes/community/tree/master/icons)? I think adding hints is better especially for the Pod icons. It's difficult for readers who see the Kubernetes icon for the

[2020-12-25 09:20] mehmetefeumit commented on #25774
Thank you for the feedback. I applied your suggestions and fixed a couple of inconsistencies with the font coloring etc. The most recent is below:

![replacement-svc-selector](https://user-images.githubusercontent.com/8224932/103129901-8171c180-46ab-11eb-8343-3d48d19e19f3.PNG)

I will try to solve the container build error today.

[2020-12-25 09:25] mehmetefeumit commented on #25774
Thank you for the feedback. I applied your suggestions and fixed some consistency errors with coloring, positioning etc. The latest version is below:

![svc-selector-replacement](https://user-images.githubusercontent.com/8224932/103130056-2a202100-46ac-11eb-803c-fb0eb5bd4b95.PNG)

I will try to fix the container build error today. Yes, I followed the instructions on the README.md (a couple of time

[2020-12-25 10:45] shuuji3 commented on #25774
It looks good to me. Thank you @mehmetefeumit!

That's unfortunate...😢 But if you open a PR against the `master` branch on this repository, the preview build will be triggered by Netlify. So we can check what looks like the change of the page and diagram.

[2020-12-25 11:38] tengqm commented on #25774
This diagram looks good to me. One improvement I can think of is to change the service IP to a different subnet.

[2020-12-25 14:34] #20328 closed

[2020-12-26 00:55] BunnyFiscuit opened #25818 "Improvement for k8s.io/docs/tasks/access-application-cluster/connecting-frontend-backend/"
Replace 'hello' with something else so it's easier to distinguish where which name is being used.. hard to follow the guide.
An example I can give is from the 'Creating the frontend' section, in particular the nginx configuration.

[code]
Since both the backend and frontend are named hello, it's unclear which 'hello' this refers to.

[2020-12-26 02:20] Sebastien10115985 opened #25819 "Improvement for k8s.io/zh/docs/concepts/services-networking/dual-stack/"
ipFamily: IPv6
should be
ipFamilies: ["IPv6"]
or you will get an error.

[2020-12-26 03:14] hikkie3110 commented on #25205
/assign

[2020-12-26 06:50] #21889 closed

[2020-12-26 07:35] sidhlipu opened #25821 "Configure a Pod to Use a PersistentVolume for Storage - Wrong yaml definition"
Example in the section has errors in the yaml definition.

Link: https://kubernetes.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/#create-a-pod

`apiVersion: v1
kind: Pod
metadata:
  name: task-pv-pod
spec:
  volumes:
    - name: task-pv-storage
      persistentVolumeClaim:
        claimName: task-pv-claim
  containers:
    - name: task-pv-container
      image: nginx

[2020-12-26 12:13] tengqm commented on #25821
@sidhlipu Pls revise the message so we can understand what is wrong.

[2020-12-26 13:16] sftim commented on #25806
Hi @shu-mutou

I didn't understand this sentence - can you rephrase it for clarity?

[2020-12-26 13:18] sftim commented on #25806
BTW, branch strategy for localizations is _per localization_; the approach that a “downstream” localization team takes is up to them, so long as the changes end up deployed.

[2020-12-26 13:18] sftim commented on #25821
/triage needs-information

[2020-12-26 13:20] sftim commented on #25819
/kind bug
https://kubernetes.io/zh/docs/concepts/services-networking/dual-stack/ is out of date with the latest (alpha) implementation of dual-stack networking.
/language zh

I think this should have /priority backlog and /triage accepted; does that sound right?

[2020-12-26 19:07] sftim commented on #25818
/kind cleanup
/language en
/help
/triage accepted

Thanks @BunnyFiscuit

[2020-12-27 00:33] DanRoscigno commented on #23483
Please assign to @DanRoscigno

[2020-12-27 01:07] tengqm commented on #18381
/remove-lifecycle stale

[2020-12-27 01:15] tengqm commented on #25819
#25776 is coming in.

[2020-12-27 03:43] DanRoscigno commented on #23483
I think this can be closed, the files are updated in the Elastic Examples repo:
[code]
and have been tested.

[2020-12-27 03:54] DanRoscigno commented on #20232
@sftim , when I wrote this originally Elastic's k8s operator was not GA, so I did not include running Elasticsearch / Kibana inside the k8s cluster.  I can update using the operator if you like and remove the Elastic Cloud instructions.

@sftim , when I wrote the ELK log and metrics docs originally Elastic's k8s operator was not GA, so I did not include running Elasticsearch / Kibana inside the k8

[2020-12-27 15:35] ryicoh opened #25826 "Translate tasks/administer-cluster/manage-resources/memory-constraint-namespace/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate the following document into Japanese.
https://kubernetes.io/docs/tasks/administer-cluster/manage-resources/memory-constraint-namespace/

**Why is this needed**

**Comments**

/language ja
/assign

[2020-12-27 16:47] sftim commented on #20232
ElasticSearch (and Kibana and Logstash) are third party software, whether deployed using an operator or consumed as a managed service.

[2020-12-27 16:52] sftim commented on #23797
/remove-lifecycle stale
/lifecycle frozen
Waiting for explicit closure

[2020-12-28 00:37] tengqm commented on #24181
/close
done

[2020-12-28 00:37] #24181 closed

[2020-12-28 01:48] shu-mutou commented on #25806
I agree with creating a `release-x.xx` branch for current release. L10n teams would be getting easier to create the milestone branch and to merge it to source branch.

[2020-12-28 06:42] #25634 closed

[2020-12-28 06:42] #25581 closed

[2020-12-28 09:40] #22843 closed

[2020-12-28 12:01] Marusyk commented on #25800
/assingn

[2020-12-28 12:01] Marusyk commented on #25800
/assign

[2020-12-28 13:14] sftim opened #25832 "Migrate “The Kubernetes network model” into “Services, Load Balancing, and Networking” section"
**This is a Feature Request**

**What would you like to be added**
Take the section https://kubernetes.io/docs/concepts/cluster-administration/networking/#the-kubernetes-network-model (just the heading and the text up to the next heading) and move that text into the page at https://kubernetes.io/docs/concepts/services-networking/

In place of that heading and text, add a link to its new location.

[2020-12-28 13:18] sftim opened #25833 "Migrate https://kubernetes.io/docs/concepts/cluster-administration/certificates/ to tasks section"
**This is a clean up request**

**What would you like to be added**

**Why is this needed**
https://kubernetes.io/docs/concepts/cluster-administration/certificates/ is a task page. A better home for it would be within https://kubernetes.io/docs/tasks/administer-cluster/

**Comments**
Be sure to add Netlify redirects (see `/static/_redirects`) from the old to the new page.

/language en
/kind clean

[2020-12-28 13:22] sftim commented on #25806
The effect of merging _release-x.xx_ for the current branch would, the way I picture it, be identical to merging in the primary branch (_master_, or potentially _main_). What differences did you envisage @shu-mutou?

+:1: Once we've released a version, we don't need to keep the _dev-x.xx_ branch we used to prepare for that release.

[2020-12-28 14:04] polskikiel opened #25834 "Install Service Catalog using Helm returns 403"
Commands located under this [article](https://kubernetes.io/docs/tasks/service-catalog/install-service-catalog-using-helm/#add-the-service-catalog-helm-repository ) and [here](https://kubernetes.io/docs/tasks/service-catalog/install-service-catalog-using-helm/#install-service-catalog-in-your-kubernetes-cluster) are not working with the following reason:

[code]
[code]

running `helm repo update` d

[2020-12-28 14:10] polskikiel commented on #25834
ok I see that issue for this was already created: https://github.com/kubernetes-sigs/service-catalog/issues/2869, closing as it should be resolved there

[2020-12-28 14:10] #25834 closed

[2020-12-28 16:53] DanRoscigno commented on #20232
@sftim I misunderstood when I read:

I also read the KEP, and I understand that there is a difference between advertising and presenting technical details on how to operate a cluster.  I am happy to update the docs with OSS containers running within k8s if that is what you want.

[2020-12-28 17:13] sidhlipu commented on #25821
Hi @tengqm, I see there's indentation issue in the example.

apiVersion: v1
kind: Pod
metadata:
  name: task-pv-pod
spec:
  volumes:
    - name: task-pv-storage
      persistentVolumeClaim:
        claimName: task-pv-claim
  containers:
    - name: task-pv-container
      image: nginx
      ports:
        - containerPort: 80
          name: "http-server"
      volumeMounts:
      **- mountPath: "/

[2020-12-28 18:13] sftim commented on #20232
Overall I'd prefer to have the tutorial about logging & monitoring focus on Kubernetes skills. That's why I'd prefer to show logging & monitoring run in the cluster.

It's fine to say “use this operator to run Elasticsearch” (or some other product) if the focus of the tutorial is about understanding how to make your pods and / or nodes send observability information to one place for aggregation an

[2020-12-28 18:13] Arhell opened #25835 "protocol update cncf-code-of-conduct.md"
contributor-covenant.org not https on file
Checked they support https
/kind cleanup
/language en
/assign

[2020-12-28 18:16] sftim commented on #25835
/triage accepted
/close
Fixed in #25836

[2020-12-28 18:16] #25835 closed

[2020-12-28 18:30] sftim commented on #25821
@sidhlipu with your permission, I can use admin edit access to update the description you wrote to show the problem more clearly. Let me know if that's OK.

[2020-12-28 20:45] DanRoscigno commented on #20232
Sounds good, I will open an issue for this work.  Thanks for the feedback.

[2020-12-28 21:01] DanRoscigno opened #25837 "Update the log and metrics tutorial to concentrate on Kubernetes skills and operational needs"
This is related to the third party content [issue 20232](https://github.com/kubernetes/website/issues/20232)

The existing log and metrics tutorial](https://kubernetes.io/docs/tutorials/stateless-application/guestbook-logs-metrics-with-elk/) concentrates too much on ELK and too little on the Kubernetes skills and knowledge related to logging and metrics collection.

After chatting with @sftim abou

[2020-12-28 22:15] sidhlipu commented on #25821
@sftim sure, please

[2020-12-29 00:53] santachopa commented on #25339
/close

[2020-12-29 00:53] #25339 closed

[2020-12-29 03:05] seokho-son commented on #25806
Hello @shu-mutou :)
I am not sure creating `release-x.xx` branch for the current k8s release is beneficial to l10n teams.
L10n teams can use `master` branch (the latest documents of the current k8s release.) as a base branch of localization milestone branch unless some of teams are targeting localizing documents that is not actively maintained.

In my understanding, @sftim 's idea to generate `rel

[2020-12-29 04:59] #22872 closed

[2020-12-29 07:18] Aut0R3V commented on #25837
I'm interested in working on this, I feel like one alternative can be making short documentations about the pre-requisites listed here that can be referred to in the webpage. Another way can be to put up links for the user to go to that answers these questions.

[2020-12-29 07:21] Aut0R3V commented on #25832
I'd like to work on this.
\assign

[2020-12-29 07:27] Aut0R3V commented on #25832
/assign

[2020-12-29 08:01] Aut0R3V commented on #25758
/assign
@sftim where exactly do you think this can go?
I think this can go here - https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/

[2020-12-29 08:20] Aut0R3V commented on #25758
Also I think the following details can be added :
The domain name for a cluster can be identified by adding the cli option --domain. In many of the cases, the default name is cluster.local.
This can be added just below the A/AAAA records subsection in the Pods heading -
https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/services-networking/dns-pod-service.md#aaaaa-records-1

[2020-12-29 08:24] Aut0R3V commented on #25730
I feel like the following commands might solve the problem :
sudo mkdir ~/.kube
sudo cp /etc/kubernetes/admin.conf ~/.kube/

cd ~/.kube

sudo mv admin.conf config
sudo service kubelet restart

[2020-12-29 09:02] shu-mutou commented on #25806
Hi @sftim and @seokho-son 😄
In my understanding, the benefit for creating `release-x.xx` branch is not only clarifying the branch for current release. If we have `release-x.xx` for the current release, l10n teams don't need to rebase their development branch from `master` even if they could not make it in time for merging it to `master` before the release, IMHO.

What I'm most wondering about is t

[2020-12-29 10:39] surendra080196 commented on #25730
Hi,
kubernetes  showing this error after applying the this (sudo cp /etc/kubernetes/admin.conf ~/.kube/) command.

cp: cannot stat '/etc/kubernetes/admin.conf': No such file or directory
/shoutout

how to generate the admin.conf

please tell me.

Thankyou.

[2020-12-29 11:01] tengqm commented on #25758
@Aut0R3V The issue is not about how to configure the domain name. It is instead about how to discover the domain name configured by your cluster's admin. So maybe the `/etc/resolv.conf` is a good starting point.

[2020-12-29 12:49] sftim commented on #25758
I think this would be a Task page. Maybe “Discover cluster settings” for a title (and cover other settings too?).

Maybe a specific page for each task - but then with very many task pages, each task page becomes harder to discover - unless we also improve the search / navigation. Better search would be nice but is far outside the scope of _this_ issue.

[2020-12-29 12:49] sftim commented on #25758
How does “Discover cluster settings” sound?

[2020-12-29 12:52] sftim commented on #25832
@Aut0R3V - can you make the removal and the addition be part of a single pull request? Otherwise a website admin needs to manually octopus-merge the two PRs. I'd much prefer this change to be one PR and, in fact, a single commit.

If you're not sure how to do that, you might need to look into cloning the website repository onto your PC and editing both files locally before committing your changes.

[2020-12-29 13:46] #25608 closed

[2020-12-29 14:14] oke-py opened #25853 "Using Admission Controllers: too old content (for v1.9 or earlier) could be removed"
The paragraph below contains too old content.
"For Kubernetes version 1.10 and later, " and contents after "Notes" could be removed.
The shorter, the easier to understand.

https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#is-there-a-recommended-set-of-admission-controllers-to-use

[2020-12-29 14:21] femrtnz commented on #25493
Hey @sftim I just opened a PR on `docsy` to fix this issue -> https://github.com/google/docsy/pull/401

So, I believe we should close this one as it is not related to this repo, right?

Thanks

[2020-12-29 14:57] DanRoscigno commented on #25837
Sounds great!  Using DaemonSets as an example, are you suggesting that we talk about why DaemonSets are good for collecting logs and then point to the existing DaemonSet docs for all the nitty gritty details about them?

[2020-12-29 14:57] Aut0R3V commented on #25730
Okay, It'll be great if you can go these two links, I'm pretty sure your problem might be resolved here.
There's a detailed article on medium about this - https://medium.com/@texasdave2/troubleshoot-kubectl-connection-refused-6f5445a396ed
I feel like this is a potential solution. If however this doesn't work, then you can refer to this link :
https://discuss.kubernetes.io/t/the-connection-to-the-s

[2020-12-29 15:01] Aut0R3V commented on #25758
Thanks for the clarification @tengqm.

"Discover cluster settings" sounds great. Can you specify all the details that should be included there? I think it'll be pretty interesting to work on this.

[2020-12-29 21:40] valetarton opened #25857 "Improvement for k8s.io/docs/concepts/overview/working-with-objects/common-labels/"
[code]

Last instance of "WordPress" is spelled without a capital "P" as it is spelled on the rest of the page within the context of wordpress.com

[2020-12-30 02:42] npu21 commented on #25751
/assign

[2020-12-30 03:19] tengqm opened #25860 "Clarification of labels, annotations and taints"
**This is a Bug Report**

**Problem:**

There are several categories of things listed on the "Well-known labels, annotations and taints" page, however the content is very fuzzy.

- I cannot tell which one is a *label*, which one is an *annotation*;
- The page has no "taints" at all;
- Some of the labels are tagged as "deprecated", but that is not accurate. Some of the labels are already **removed*

[2020-12-30 07:27] tengqm opened #25866 "More details needed for Taints and Tolerations"
The `TaintNodesByCondition` feature was GA'ed in 1.18. This means the feature is stable for production use. However, we failed to provide details on how the conditions and taints are applied. For example, on page "https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/#taint-based-evictions", we say the `node.kubernetes.io/memory-pressure` taint is added when a node has memor

[2020-12-30 07:33] tengqm commented on #25866
More clarifications to the issue. There are some information on the eviction signals (https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/#eviction-signals) and the node conditions (https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/#node-conditions). However, the list on those pages are incomplete and the two pages are not linked together for cross reference.

[2020-12-30 08:53] Aut0R3V commented on #25857
/assign

[2020-12-30 08:58] Aut0R3V commented on #25857
@valetarton I had a look at it, I found only one line which has been included in the issue where WordPress was mentioned as Wordpress. I've sent in a pull request for this.

[2020-12-30 12:15] devopsception commented on #25834
i tried downloading the chart manually and installed locally; even that did not work.

[2020-12-30 13:23] oke-py opened #25875 "No need to enable RuntimeClass feature gate since it is a GA feature"
RuntimeClass feature gate is GA in 1.20. According to [feature gate document](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/#feature-stages), a GA feature cannot be disabled and the feature gate is no longer needed. The explanation below can be removed.

https://kubernetes.io/docs/concepts/containers/runtime-class/#setup

[2020-12-30 17:53] sjmudd opened #25876 "Improvement for k8s.io/docs/concepts/extend-kubernetes/operator/"
The descriptions and references for operators are fine, but I think a high level walk through. of some of the things that a real operator has to do would be useful, together with a brief description of the interactions which need to take place with other related kubernetes components.

This information gives someone who thinks they may need to write an operator for their application an idea of the

[2020-12-30 18:14] Aut0R3V commented on #25832
Sure I'll make the changes. Thanks for the help!

[2020-12-30 18:30] sftim commented on #25857
/good-first-issue
addressed in #25868

/close

[2020-12-30 18:30] #25857 closed

[2020-12-30 20:47] kylejep opened #25878 "Container runtimes"
**Problem:**
The documentation references loading the overlay and br_netfilter kernel modules at both of these locations:
https://kubernetes.io/docs/setup/production-environment/container-runtimes/#cri-o
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#letting-iptables-see-bridged-traffic
- Modules do not persist reboots
- Documentation states that they will p

[2020-12-30 21:43] sftim commented on #23518
FWIW, https://github.com/etcd-io/website/issues/82 is a somewhat-related discussion about multiple versions for etcd documentation.

[2020-12-30 21:44] sftim commented on #23518
/remove-lifecycle rotten

[2020-12-30 21:50] sftim commented on #25857
/triage accepted
too

[2020-12-30 22:08] neolit123 commented on #25878
@kylejep
a PR with the fix is welcome.

/sig node cluster-lifecycle
/triage accepted

[2020-12-30 23:18] SergeyKanzhelev opened #25879 "Create a doc to explain how to change the runtime (mostly moving away from dockershim)"
**This is a Feature Request**

As part of https://github.com/kubernetes/website/pull/25787

**What would you like to be added**

Have a `content_type: task` type of a documentation that describe the supported way to transition from one runtime to another. It may be a page under [Dockershim deprecation tasks]( https://github.com/kubernetes/website/pull/25787),  [upgrade doc](https://kubernetes.io/d

[2020-12-31 00:08] nate-double-u commented on #23518
I expect that moving to a folder based versioning system would also make issue https://github.com/kubernetes/website/issues/12303 moot.

[2020-12-31 00:31] nate-double-u commented on #23518
In slack, @sftim, you mentioned wanting to surface all of the k8s documentation versions. I like this idea.

If we do surface all the old versions, we may want to reconsider how we're presenting those older versions. The "current +4 versions" drop-down box works well now because it is a short list, but if we include all previous versions that drop-down would quickly become unwieldy. Potentially we

[2020-12-31 01:22] nate-double-u commented on #23518
Thinking about these two things together: this could greatly increase the size of the site.

I've been looking at this style of versioning for etcd - and I think that it works well for small to medium sized sites, at least the way I've seen it set up using folders (there may be other ways of achieving this organization).

The Kubernetes site is much bigger than the sites I've seen managing version

[2020-12-31 02:29] seokho-son commented on #25806
[code]
@shu-mutou It seems main issue here is changing usage of master branch :)
I guess we don't need to include discussions for changing l10n development branch here. It seems a secondary issue.

I think sig-docs have a good reason for using master branch as documentation of current release. (because this repo is about documentation, and master branch is a branch what people may check first ? )

[2020-12-31 08:43] sculley commented on #25732
That's all the PR's submitted, the docs for 1.13 to 1.15 no longer work on the website, so I won't bother with them.

[2020-12-31 08:57] ysyukr commented on #25673
hello,
In the case of #20328 , I have not been able to proceed with this, so someone else can proceed.

[2020-12-31 13:55] #22920 closed

[2020-12-31 14:13] surendrakrp08 opened #25894 "Installing kubeadm"
Not able to connect master and node
(kubeadm join 172.31.7.49:6443 --token 911fn7.68zku6z3wq1p8v7k --discovery-token-ca-cert-hash sha256:639e8169f109bf06a132efb2b333d3be82c362968a9cf16cce0ef10f5fdf2df9) using this kubeadm join

P
![Screenshot (20)](https://user-images.githubusercontent.com/76788214/103413626-6c5fcb80-4ba0-11eb-8d02-78c5b70e3094.png)
lease help me.

[2020-12-31 14:49] #25589 closed

[2020-12-31 15:55] kylejep commented on #25878
#25895
#25896
Thank you PRs submitted.

[2020-12-31 21:19] rpschlak opened #25898 "Container runtimes - Cgroup drivers documentation conflicts with cautionary note in service file"
Per the docs: https://kubernetes.io/docs/setup/production-environment/container-runtimes/
To improve stability systemd is preferred:
"Changing the settings such that your container runtime and kubelet use systemd as the cgroup driver stabilized the system. To configure this for Docker, set native.cgroupdriver=systemd."

However, in reading a note left by the developer in: (/usr/lib/systemd/system/

[2020-12-31 22:26] murillodigital commented on #25818
Hi @sftim - looking for my first opportunity for contributing and I don't think it gets any safer than this ;) don't see a `good first issue` label on it though. Would this issue be assignable to a first timer?

[2020-12-31 23:17] gochist commented on #25521
/close

[2020-12-31 23:17] #25521 closed

[2021-01-01 00:19] tengqm commented on #25875
triage/accepted

[2021-01-01 00:20] tengqm commented on #25875
/language en

[2021-01-01 00:20] tengqm commented on #25875
/triage accepted

[2021-01-01 08:58] oke-py commented on #25875
/assign

[2021-01-01 12:01] oke-py opened #25903 "Add "resource" to glossary"
**This is a Feature Request**

**What would you like to be added**

I'd like to distinguish "resource" and "object".
"Object" is defined in [glossary](https://kubernetes.io/docs/reference/glossary/).

"Create an object" and "create a resource" are both correct expression?
If so, are they same meaning?

I think "object" is suitable, but (Cluster)Role, audit policy have "resourceNames" field. It's c

[2021-01-01 12:48] oke-py opened #25905 "deprecated kubelet options are used in static pod sample"
According to [kubelet](https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/) reference, `--pod-manifest-path`, `--manifest-url` are deprecated.
However, these options are used in this page: https://kubernetes.io/docs/tasks/configure-pod-container/static-pod/
Kubelet configuration file sample would be helpful.

[2021-01-01 14:25] Aut0R3V commented on #25903
@oke-py so what I understood is that the following changes need to be made :

- Definition of object and resource
- Explanation of the terms "Creating an object" and "Creating a resource".

Please correct me if I'm wrong. I'll  send in a pull request

[2021-01-01 14:33] Aut0R3V commented on #25894
@surendrakrp08 I feel like this has to do something related to the issues in the installation process. Can you please describe the installation details?
Also you can check for errors in the following meanwhile :
- Are the node VM time zones same? If not, you can correct that.
- You can try stopping the Firewalld and then try to add the nodes.

[2021-01-01 14:35] Aut0R3V commented on #25898
Can any of the members comment on this? I feel like the documentation should be edited for this.

[2021-01-01 14:35] Aut0R3V commented on #25879
Is anyone working on this? I'm interested for working on this issue.

[2021-01-01 14:37] Aut0R3V commented on #25876
@sjmudd I feel like your concern is valid. Can you please specify what aspects should be covered in more details? I'm interested in working on this.

[2021-01-01 14:43] Aut0R3V commented on #25818
I feel like to patch up things simply, we can refer it as "Hello" instead of hello at the required places where it affects the workflow. If I'm not wrong, @BunnyFiscuit is referring to the guide here : https://kubernetes.io/docs/tasks/access-application-cluster/connecting-frontend-backend/

[2021-01-01 14:57] Aut0R3V commented on #25818
@murillodigital you can go to the service/access/frontend.conf codenew file.  Also I think there would be some changes needed in the documentation also, this looks like a great work to get your feet wet.

[2021-01-01 17:10] BenMorgan-22 opened #25907 "Improvement for k8s.io/docs/tasks/administer-cluster/network-policy-provider/weave-network-policy/"
Installing Weave is a one-line command, but one that is not straightforward to remember.
The command to install it can be found on Weave's website, but people taking the CKA exam are not allowed to visit the site. This issue is exemplified by the pages k8s.io/docs/tasks/administer-cluster/network-policy-provider/weave-network-policy/ and https://kubernetes.io/docs/setup/production-environment/tool

[2021-01-01 18:12] Aut0R3V commented on #25837
yea that's exactly what I meant. Can you please recommend starting points? This looks interesting.

[2021-01-01 19:20] suneetk92 commented on #25834
Downloading the chart from https://github.com/kubernetes-sigs/service-catalog/tree/master/charts/catalog and installing it locally worked for me.

[2021-01-01 19:23] #22917 closed

[2021-01-01 22:22] murillodigital commented on #25818
@Aut0R3V thnx for feedback and we're on the same page ;) will work on changes - @sftim please confirm you're cool with this, not sure if I can assign the issue to myself or one of you will have to.

[2021-01-02 03:51] jikunbupt opened #25908 "名字空间"
这边文档中描述“Kubernetes 会创建三个初始名字空间：”，事实上现在默认创建四个默认明明空间default、kube-node-lease、kube-public、kube-system。

[2021-01-02 05:02] flo-oss commented on #14137
working on content/de/docs/concepts/workloads/pods/_index.md

[2021-01-02 05:55] oke-py commented on #25903
@Aut0R3V Thanks. Definition of object exists in [glossary](https://kubernetes.io/docs/reference/glossary/).

[2021-01-02 06:27] tengqm commented on #24200
/close

[2021-01-02 06:27] #24200 closed

[2021-01-02 06:27] tengqm commented on #24197
/close

[2021-01-02 06:27] #24197 closed

[2021-01-02 06:44] tengqm commented on #22347
/close

[2021-01-02 06:44] #22347 closed

[2021-01-02 07:42] #25520 closed

[2021-01-02 07:44] seokho-son opened #25910 "Korean Localization for dev-1.20-ko.2 branch"
## In English

**This is a Feature Request**

Korean Localization for `dev-1.20-ko.2` branch.

**What would you like to be added**

Any localization contributions for Korean.

**Comments**

- This issue is to notify the schedule of Korean localization to contributors.
- `dev-1.20-ko.2` is the current work branch for Korean localization.
- Korean PR Wrangler: TBD

**Important dates**
- A Korean loc

[2021-01-02 07:45] seokho-son commented on #25910
PTAL: @kubernetes/sig-docs-ko-reviews

[2021-01-02 07:53] seokho-son opened #25911 "Outdated files in the dev-1.20-ko.2 branch"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.20-ko.2 branch.

### 27 files to be modified
1. [ ] M1.  `content/en/community/static/cncf-code-of-conduct.md`  | 2(+XS) 2(-)
1. [ ] M2.  `content/en/docs/concepts/cluster-administration/kubelet-garbage-collection.md`  | 2(+XS) 2(-)
1. [ ] M3.  `content/en/docs/concepts/cluster-administration/networking.md`  | 1(+XS) 1(-)
1. [

[2021-01-02 07:54] seokho-son commented on #25911
/language ko
/help

[2021-01-02 08:32] seokho-son commented on #25911
/assign @seokho-son

[2021-01-02 08:41] Aut0R3V opened #25913 "Create a Security guide"
**This is a Feature Request**

**What would you like to be added**

An official documentation about Kubernetes hacking and different threat scenarios that might render various components prone to vulnerabilities.

**Why is this needed**

This could be a great initiative to develop documentation about Kubernetes Security. There's great work going on in this field, but I strongly believe that much m

[2021-01-02 08:45] Aut0R3V commented on #25913
It'll be great to hear from members about this. @sftim any views on this?

[2021-01-02 09:30] oke-py commented on #25853
/language en

[2021-01-02 10:17] oke-py commented on #25748
/assign

[2021-01-02 14:00] Aut0R3V commented on #4322
Hey guys is anyone working on this?

[2021-01-02 14:15] surendrakrp08 commented on #25894
Hi,

 I am checking the Vm time zones, firewalls.
vm time zones are the same and firewalls are stopped.

but same showing this error

kubernetes to see the stack trace of this error execute with --v=5 or higher
please help me.

On Fri, Jan 1, 2021 at 8:03 PM AUT0R3V <notifications@github.com> wrote:

[2021-01-02 14:19] seokho-son commented on #25911
- Part 1: M1 ~ M16 (#25915)
- Part 2: M17 ~ M27 (WIP)

[2021-01-02 15:05] sftim commented on #25913
/sig security
SIG Security: feel free to _/triage accepted_ and / or comment on this.

[2021-01-02 18:56] slashr commented on #25658
/assign

[2021-01-02 19:25] Aut0R3V commented on #25913
I just noticed this is quite similar to  #25119.  Should I close this issue and work on the already existing one? The first step I feel would be to mention the plan in detail followed by commits.

[2021-01-02 19:28] Aut0R3V commented on #25894
Okay. Adding the error makes the overall problem easier to comprehend. Please try using “kubeadm token create” on the master node and try creating a new valid token.
If this doesn't solve the problem, please refer to the solution referred by tony_dad here :https://discuss.kubernetes.io/t/not-able-to-join-node-to-master/7123/4
I hope this solves your problem!

[2021-01-02 19:39] Aut0R3V commented on #25818
you can assign yourself with the /assign <name> command.
Anything I can do here?

[2021-01-02 20:05] murillodigital commented on #25818
/assign

[2021-01-02 20:06] murillodigital commented on #25818
all good @Aut0R3V appreciate the availability, have assigned and will issue a PR. Will reach out if I need any directions.

[2021-01-02 23:49] sftim commented on #25903
BTW: https://kubernetes.io/docs/reference/using-api/api-concepts/ covers _some_ of resources vs. objects, and PR https://github.com/kubernetes/website/pull/25299 is a (work-in-progress) set of changes to help improve the way we explain it.

[2021-01-03 00:08] sftim commented on #25905
/sig node

[2021-01-03 00:10] sftim commented on #25905
Agreed. Also see #23889 for an umbrella issue that includes documenting the format of the kubelet configuration file.

[2021-01-03 03:58] schollii opened #25921 "Explain automatic field selection for "kubectl create configmap" via UTF-8 detection"
**This is a Bug Report**

**Problem:**

Binary data not shown in `kubectl describe configmap`

To reproduce:
1. Create a config map from 2 files: one file is text, the other is a png. The text file will become a key in `data` field, whereas the png will become a key in `binaryData` field (this partially answers https://github.com/kubernetes/website/issues/20849).
Example:
[code]
2.  The `kubectl d

[2021-01-03 07:23] ivanruizalcuadrado opened #25922 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-pod-configmap/"
### EXAMPLE INJECT CONFIGMAP IN POD
_Use envFrom
https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/_

**Right:**

[code]

**wrong in documentation**

[code]

[2021-01-03 08:48] roman-rs opened #25923 "Set up a High Availability etcd cluster with kubeadm"
the document seems to be outdated.

Jan 03 08:38:02 k8-etcd1 kubelet[9699]: Flag --address has been deprecated, This parameter should be set via the config file specified by the Kubelet's --config flag. See https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config
Jan 03 08:38:02 k8-etcd1 kubelet[9699]: Flag --pod-manifest-path has been deprecated, This parameter should be set via the con

[2021-01-03 09:35] Aut0R3V commented on #14727
@sftim can you explain what you mean by making sure?

[2021-01-03 09:36] Aut0R3V commented on #4220
Hey anything that can be done here?

[2021-01-03 09:37] Aut0R3V commented on #1911
Hey @steveperry-53 anything I can do here

[2021-01-03 09:38] Aut0R3V commented on #4410
Can we close this issue then?

[2021-01-03 09:41] Aut0R3V commented on #4479
Actually where exactly are the deviations from the style guide?

[2021-01-03 14:33] seokho-son commented on #25673
/triage accepted
/assign @djatkdgus789

[2021-01-03 14:34] seokho-son commented on #25673
Current Korean localization dev branch is `dev-1.20-ko.2`
#25910

[2021-01-03 14:42] bl-ue commented on #25923
@roman-rs random documents are that way.  Would you like to fix it yourself?

[2021-01-03 15:55] Leung83 opened #25926 "Create static Pods"
Hello I have a question on page:
https://kubernetes.io/docs/tasks/configure-pod-container/static-pod/

Create static pods Step 2
2. Choose a directory, say **/etc/kubelet.d** and place a web server Pod definition there, for example /etc/kubelet.d/static-web.yaml:

Shouldn't the default manifest path be used instead?
**/etc/kubernetes/manifests/**

It's mentioned on these pages:
https://kubernetes.

[2021-01-03 16:43] bl-ue commented on #25923
This is actually an issue with `kubectl`, but I'll link this issue in a PR on kubernete/kubernetes and it'll close this.
/assign

[2021-01-03 16:48] bl-ue commented on #25923
@roman-rs
Upon investigation, it looks like those links are broken because that's not the full warning message. The full message is:
[code]
Seems like your messages got cut off.
/close

[2021-01-03 20:12] #22950 closed

[2021-01-03 23:05] pjhwa commented on #25910
/triage accepted

[2021-01-03 23:05] pjhwa commented on #25911
/triage accepted

[2021-01-04 00:51] kbhawkey commented on #25860
/triage accepted

[2021-01-04 01:05] tengqm commented on #25923
/close

[2021-01-04 01:06] #25923 closed

[2021-01-04 01:25] tengqm commented on #23657
/remove-lifecycle rotten

[2021-01-04 02:11] tengqm commented on #25732
This can be closed when #25887 is in.

[2021-01-04 02:19] tengqm commented on #25821
@sidhlipu You may use the three backtiqs (```) before and after your code snippets so we understand what is wrong.

[2021-01-04 04:19] zebralight opened #25933 "update Ingress config example to networking.k8s.io/v1beta1 until networking.k8s.io/v1 example supports Ingress kind"
**This is a Bug Report**

**Problem:**  Examples on Ingress page specify version `networking.k8s.io/v1`, but also use kind value of `Ingress`, which is according to [this thread](https://github.com/kubernetes/kubernetes/issues/90077), not yet supported in v1.

**Proposed Solution:** Update example to either
1) use version of `networking.k8s.io/v1beta1` until `Ingress` is available as a kind on `ne

[2021-01-04 04:38] sidhlipu commented on #25821
Hi @tengqm ,

Putting it in a right format.

[code]

What it should actually would be

[code]

[2021-01-04 05:41] tengqm commented on #25821
Ah, I see, so the confusing lines are the following ones:

[code]

In YAML, the above indentation is actually VALID. However, I do (personally) prefer an explicit indentation for list items which makes the nesting of things more evident, i.e.

[code]

[2021-01-04 07:53] sculley commented on #25732
Thanks!

[2021-01-04 08:22] sftim commented on #25821
Let's make sure that the indentation is consistent between `ports` and `volumeMounts`.

I would either leave that example as-is, or put `name` first for each field that has one:
[code]

Diff:
[code]

[2021-01-04 08:24] sftim commented on #25913
I would follow up issue #25119 @Aut0R3V (and close this one).

[2021-01-04 09:09] sftim commented on #25119
I reckon it'd be handy if we could find a way to link to https://www.microsoft.com/security/blog/2020/04/02/attack-matrix-kubernetes/

[2021-01-04 09:34] pokerfaceSad opened #25938 "Incorrect description in device-plugins.md"
**This is a Bug Report**

**Problem:**
In [monitoring-device-plugin-resources](https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins/#monitoring-device-plugin-resources), the description about `/var/lib/kubelet/pod-resources/kubelet.sock` is inaccurate.
[code]
The `/var/lib/kubelet/pod-resources/kubelet.sock` should be mounted in device monitoring agent pod but n

[2021-01-04 10:26] fabriziopandini commented on #24189
/remove-lifecycle stale

@neolit123 sorry for the late answer but this got somehow out of my radar.

If I follow the code right, we are still reading certificates details from disk at

https://github.com/kubernetes/kubernetes/blob/ff4234720d4ec390ca6f6aac4c19a21ba6661841/cmd/kubeadm/app/phases/certs/renewal/manager.go#L220

and then using that to build the certificate config at

https://github.com

[2021-01-04 11:44] neolit123 commented on #24189
I guess we can close this then.
The IIRC part of my message above is not correct.

/close

[2021-01-04 11:45] #24189 closed

[2021-01-04 12:01] neolit123 commented on #25926
Its just and example. It can be any path as long as you configure it with
--pod-manifest-path (kubelet flag).

/etc/kubernetes is more of a kubeadm path.

/close

[2021-01-04 12:01] #25926 closed

[2021-01-04 13:49] dkruyt opened #25939 "Inject Information into Pods Using a PodPreset"
The link to enable podpreset is broken eg 404

https://kubernetes.io/docs/concepts/workloads/pods/podpreset/#enable-pod-preset

[2021-01-04 15:26] neolit123 commented on #25894
this discussion belongs in the support forums like https://discuss.kubernetes.io/

/close

[2021-01-04 15:27] #25894 closed

[2021-01-04 16:08] DanRoscigno commented on #25837
Based on your GitHub profile @Aut0R3V I think that you have SecOps experience.  What do you think about when collecting logs and metrics that would be interesting in your area of expertise?  I come from ops (telco network / IT Ops) background, and the data sources are similar, I believe.

The bulleted list up above is from my memory of what I learned when I deployed my first app in k8s and tried t

[2021-01-04 17:10] #25913 closed

[2021-01-04 17:14] surendrakrp08 commented on #25894
Done.

On Mon, Jan 4, 2021 at 8:57 PM Kubernetes Prow Robot <
notifications@github.com> wrote:

[2021-01-04 17:25] #25748 closed

[2021-01-04 17:42] neolit123 commented on #25878
please close this once the PRs merge.

[2021-01-04 18:32] Aut0R3V commented on #25837
Thanks a lot for the detailed explanation sir! I'll work in on commits for this and send in PR's separately for better reviews.

[2021-01-04 19:08] savitharaghunathan commented on #25119
/priority important-longterm

[2021-01-04 20:13] nate-double-u opened #25941 "Site build failing on macOS (fatal error: pipe failed)"
**This is a Bug Report**

**Problem:**
On macOS, when `make serve` is run, the builds completes fine but when the site tries to launch an error occurs: `make: *** [serve] Error 2`. Looking further up the logs, it looks like pipe error with the watcher:

[code]

**Proposed solution:**
I'm  afraid I don't have a solution. On my macOS laptop, I either use Docker or a Linux VM to do work on the Kubern

[2021-01-04 21:15] sftim commented on #25939
Hi @dkruyt

Kubernetes no longer has PodPresets (they never graduated from alpha). The way we serve the site, it's not easy to serve up a 410 Gone page to show what's been removed.

You could file a feature request to improve how we document removed features - otherwise, feel free to close this.

[2021-01-04 21:18] sftim opened #25942 "“Inject Information into Pods Using a PodPreset” documents removed feature"
**This is a Bug Report**

**Problem:**
[Inject Information into Pods Using a PodPreset](https://kubernetes.io/docs/tasks/inject-data-application/podpreset/) documents using PodPreset, but that API is no longer part of Kubernetes.

**Proposed Solution:**
Delete https://kubernetes.io/docs/tasks/inject-data-application/podpreset/

**Page to Update:**
https://kubernetes.io/docs/tasks/inject-data-appli

[2021-01-04 21:18] sftim commented on #25922
/language en

[2021-01-04 21:26] sftim commented on #25921
What's actually going on behind the scenes is that Kubernetes definitely _does_ have a `binaryData` field in the API, but this details isn't reaching the output of `kubectl describe` because `binaryData` is an octet stream and kubectl has no idea how to print it.

If you want to have `kubectl` report the keys for binary data, you can file a feature request against [k/kubectl](https://github.com/ku

[2021-01-04 21:28] sftim commented on #25941
We recommend `make container-serve` as the main way to run a local preview. If we've missed somewhere, let's fix that.
/triage accepted
/priority backlog

[2021-01-04 21:29] sftim commented on #25941
(it's also OK to mention the Hugo bug, but bear in mind that advice like this does tend to go stale)

[2021-01-04 21:37] sftim opened #25943 "Fix mismatch between kubectl docs"
**This is a Feature Request**

**What would you like to be added**
Work with SIG CLI to incorporate the kubectl documentation inside https://kubernetes.io/docs/

**Why is this needed**
https://kubectl.docs.kubernetes.io/references/kubectl/ has one look; https://kubernetes.io/docs/reference/kubectl/ has another.

**Comments**
I'm thinking of using a Git submodule for this, referencing a tag (or bra

[2021-01-04 21:40] sftim commented on #25943
BTW, the HTML content in https://kubectl.docs.kubernetes.io/ is excluded from web crawling.

[2021-01-04 21:43] nate-double-u commented on #25941
I think we state our preference pretty clearly :)

But we also provide instruction on how to run it locally, and have macOS specific troubleshooting already.

Potentially we can take the "Troubleshooting" section out of the main README.md, and link to it in a new file. That way the main README stays fresher longer, and we can open tix directly on a troubleshooting file. Would also declutter the ma

[2021-01-04 21:44] nate-double-u commented on #25941
/label area/web-development

[2021-01-04 21:45] sftim commented on #25943
&hellip;and there is also https://github.com/kubernetes/kubectl/tree/master/docs/book

[2021-01-04 21:45] nate-double-u commented on #25941
oops.
/area web-development

[2021-01-04 22:00] sftim opened #25944 "Document difference between "kind": "List" and concrete list types"
**This is a Feature Request**

**What would you like to be added**
Explain how sometimes people see a list of items shown as, eg `kind: List`:
[code]
and other times as, eg, `PodList`:
[code]

**Why is this needed**
The two kinds of `kind` are liable to confuse people. Ideally, there would be several places in the Kubernetes documentation that highlight the differences and why they exist.
(it's al

[2021-01-04 22:01] sftim commented on #25944
Also relevant to https://github.com/kubernetes/kubectl/issues/837

[2021-01-04 22:03] sftim commented on #25903
/triage accepted

[2021-01-04 22:06] sftim commented on #25853
/triage accepted
/good-first-issue

[2021-01-04 22:07] sftim commented on #25941
Could we move troubleshooting to a web page? I think we can assume readers have web access.

[2021-01-04 22:17] nate-double-u commented on #25941
That's not a bad idea, maybe we could link it under https://kubernetes.io/docs/contribute/#getting-started

[2021-01-04 22:18] sftim opened #25945 "Investigate “Persist Hugo resources Between Builds” plugin for Netlify"
**What would you like to be investigated**
Look into whether the [Persist Hugo resources Between Builds](https://github.com/cdeleeuwe/netlify-plugin-hugo-cache-resources) plugin for Netlify would speed up site builds; if so, is it worth employing for the site?

**Why is this needed**
The site build in Netlify takes a while. https://github.com/cdeleeuwe/netlify-plugin-hugo-cache-resources might spe

[2021-01-04 23:58] schollii commented on #25921
Thanks for the info.

I submitted bug report https://github.com/kubernetes/kubectl/issues/997

For the retitle/triage, what's the process, is there another approval needed, or will someone somehow take this on, or should I?

[2021-01-05 00:11] nate-double-u commented on #25941
@celestehorgan found a good site with a simple workaround: https://akhromieiev.com/hugo-fatal-error-pipe-failed/
Just turn off the watcher: `hugo server --watch=false`

But, then we don't have a watcher...

[2021-01-05 00:24] nate-double-u commented on #25941
Some conversation around this issue:
https://discourse.gohugo.io/t/hugo-crashing-on-hugo-server-getting-fatal-error-pipe-failed-mac/29764
https://github.com/google/docsy-example/issues/89

[2021-01-05 00:26] tavor opened #25947 "Nitpick: unclear that .spec.type = Loadbalancer works locally"
Went through https://kubernetes.io/docs/concepts/services-networking/service/#loadbalancer.

That `.spec.type = LoadBalancer` can be used locally wasn't clear.

[2021-01-05 01:13] #25878 closed

[2021-01-05 01:29] #25755 closed

[2021-01-05 01:50] nate-double-u commented on #23518
So, having written about how maybe not to do this, I've been thinking about how maybe we could do this :)

I haven't thought of a really clever way of doing it yet, and I keep coming back to @sftim's initial comment:

This would likely be a lot of work up front, but is probably the simplest way to go -- the updates would be fairly straightforward, but there would be a lot of them. Setting up a mat

[2021-01-05 03:04] zhangrongguo opened #25949 "Issue with k8s.io/zh/docs/setup/learning-environment/"
No content in this page.

![image](https://user-images.githubusercontent.com/55726194/103601936-b997c080-4f45-11eb-9b51-4f096b83b6a2.png)

[2021-01-05 04:27] Aut0R3V commented on #25903
@sftim I just checked in #25299. Does this issue require a different commit or can this issue be closed?

[2021-01-05 07:11] sculley commented on #25732
As noticed in #25887 changes made in release-1.16/1.17 made the numbered lists break. The changes were applied in the PR for release-1.16 but the changes for release-1.17 had already been approved and merged in #25886

I need to create a new PR in the release-1.17 branch to fix this issue by updating the numbered lists to be bulleted lists.

[2021-01-05 07:37] CKchen0726 commented on #25860
/assign

[2021-01-05 10:10] Mbauro opened #25956 "Persistent Volumes"
The link relatives to Azure Disk is broken

[2021-01-05 10:18] sftim commented on #25921
I've accepted this issue, it's good to work on. Anyone can work on it.
/priority backlog

[2021-01-05 11:22] CyberGremlin opened #25957 "Operating etcd clusters for Kubernetes"
These instructions on this page are incorrect and will not work:

**ETCDCTL_API=3 etcdctl --endpoints $ENDPOINT snapshot save snapshotdb**

Instead the cacert, cert and key, also need inputing, eg:

ETCDCTL_API=3 etcdctl --endpoints=$ENDPOINT --cacert=/etc/kubernetes/pki/etcd/ca.crt \
     --cert=/etc/kubernetes/pki/etcd/server.crt --key=/etc/kubernetes/pki/etcd/server.key \
     snapshot save /us

[2021-01-05 12:37] freegroup opened #25959 "Install Service Catalog using Helm end in a HTTP-403 response"
Unable to add chart repo via
[code]

call ends in `403` forbidden.

[code]

[2021-01-05 12:44] chenxin6 opened #25960 "通过文件将 Pod 信息呈现给容器"
the file labels and annotations should be in the directory /etc/podinfo not /etc
![image](https://user-images.githubusercontent.com/40751203/103647724-b547c380-4f96-11eb-975b-90bbd097789f.png)

[2021-01-05 12:55] divijan opened #25961 "Emphasize use of args to configure arguments for kubernetes client authentication plugins"
There are a lot of undocumented gotchas (some of them are probably bugs) about using kubeconfig for configuring client-go authentication under Windows.
First, there is no information on which characters in kubeconfig are legal. I found out that Windows environment variables enclosed in `%` should be referenced inside single quotes. Double quotes don't work.
Second, there has to be a single executa

[2021-01-05 13:52] chrisstm7 opened #25962 "Issue with k8s.io/docs/concepts/configuration/secret/"
Does not show how to display a secret

[2021-01-05 13:58] jai commented on #25638
/assign

[2021-01-05 14:38] olayinkaoladimeji opened #25963 "Issue with k8s.io/docs/concepts/configuration/secret/"
It appears the banner on the landing page documentation url https://kubernetes.io/docs/concepts/configuration/secret/
has been vandalized/hijacked by a political slogan.
Can you look into it.

[2021-01-05 18:54] Marusyk commented on #25853
/assign

[2021-01-05 21:05] SergeyKanzhelev commented on #25768
@kbhawkey this was my original idea of a location, but @sftim suggested to place it under the administer section. @sftim, looking at the content, should it be moved to it's own section? Some topics like monitoring agents is more of an application management than administering of a cluster.

[2021-01-05 21:36] nate-double-u commented on #25941
Since this has already been accepted for triage, I figure I should ask before just changing this issue.

I'd like to edit the title, and bug report, to reflect the conversation that we've had here, and add a separate (related) issue.

I'd like to make this issue about updating the Troubleshooting section, removing it from the README and putting it on the website. This will keep the README fresher,

[2021-01-05 21:54] quindar83 opened #25967 "Document kubeadm for RHEL 8"
**This is a Feature Request**

**What would you like to be added**
The site '[Installing kubeadm](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/)' does not list RHEL 8 or CentOS 8 as a supported os. Only RHEL 7 / CentOS 7 is listed.
Both os versions released over a year ago and Google provides a lot of guides for how to install Kubernetes on CentOS 8.

Pleas

[2021-01-05 22:01] #23015 closed

[2021-01-06 00:24] kbhawkey commented on #19095
/remove-lifecycle stale

[2021-01-06 01:55] yuandongx opened #25971 "[zh]The link miss url."
**This is a Bug Report**

**Problem:**
### The link can not redirect to correct url.
![image](https://user-images.githubusercontent.com/35824522/103719932-22923d80-5005-11eb-8972-1d189603ed39.png)
![image](https://user-images.githubusercontent.com/35824522/103719962-350c7700-5005-11eb-937b-05e478d0ee57.png)

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2021-01-06 01:56] yuandongx commented on #25971
/language zh

[2021-01-06 01:57] yuandongx commented on #25971
/kind bug

[2021-01-06 02:18] tengqm commented on #23689
Let's close this for lacking response for several months.
/close

[2021-01-06 02:18] #23689 closed

[2021-01-06 02:19] tengqm commented on #23654
/close

[2021-01-06 02:19] #23654 closed

[2021-01-06 02:21] pokerfaceSad commented on #25938
Fixed in 6a2a6398ed5bc4fe5c040aa077ded5f441cf6b64

[2021-01-06 02:21] #25938 closed

[2021-01-06 03:09] j3pic opened #25974 "Issue with k8s.io/docs/setup/"
I'm trying to find out how to set up a production environment for Kubernetes, but all the documentation wants to talk about is third-party providers. How do you actually install and run Kubernetes on a cluster?

[2021-01-06 06:12] neolit123 commented on #25967
it's a matter of users testing and confirming these distros work fine.
if you have tested them feel free to send a pull request to update.

/sig cluster-lifecycle
/help

[2021-01-06 06:12] neolit123 commented on #25967
/triage accepted

[2021-01-06 07:19] ShubhasisMathur opened #25976 "Fix sample configuration in 2019 kubernetes.io blog article"
Dear Team,

I would like to let you know that one of the page needs an update in the yaml. The contsraint template at https://kubernetes.io/blog/2019/08/06/opa-gatekeeper-policy-and-governance-for-kubernetes/ needs an update of the voilation which is missing.

instead of deny it should ne violation. Here is the revised yaml after I corrected it:

apiVersion: templates.gatekeeper.sh/v1beta1
kind: C

[2021-01-06 11:36] sftim commented on #12326
/remove-lifecycle stale

[2021-01-06 15:18] #23044 closed

[2021-01-06 15:39] kbhawkey commented on #25943
/triage accepted

[2021-01-06 15:50] kbhawkey commented on #25943
I agree that this should be investigated.
There are 3 sites that include kubectl reference docs.
I am in favor of publishing one reference set to avoid duplication (and time and effort).
The reference should be auto-generated and maintained so that the content is current.
The current published kubernetes.io kubectl command reference:
https://deploy-preview-25969--kubernetes-io-master-staging.netli

[2021-01-06 16:02] kbhawkey commented on #25976
Hello @ShubhasisMathur.
To summarize this issue:
Fix sample configuration in 2019 kubernetes.io blog article.
Was the field incorrect when the blog was published originally?

/triage accepted

[2021-01-06 16:45] ShubhasisMathur commented on #25976
@kbhawkey let me do it. I would like to do the change if that's okay with you. I will be glad to make my first commit :)

[2021-01-06 18:42] BenTheElder commented on #22515
/lifecycle active
back from vacation. go away fejta-bot

[2021-01-06 18:50] sftim commented on #22515
Just a reminder that originally

[2021-01-06 18:53] sftim commented on #22515
(anyone can investigate, but beyond that feels like it wants a new issue)

[2021-01-06 19:00] kbhawkey commented on #25976
You can assign yourself. Here you go:
/assign @ShubhasisMathur

[2021-01-06 20:23] #18624 closed

[2021-01-06 21:23] SergeyKanzhelev commented on #25879
nobody working on it right now. So please go ahead. Do you want to discuss the proper placement of this document in the issue of prefer to start with the draft of a document?

[2021-01-06 22:40] habibrosyad commented on #24382
/remove-lifecycle stale

[2021-01-06 22:51] schollii commented on #25921
I looked at the contribution docs and could not see how to choose which branch to fork from.

[2021-01-06 23:12] CTownsdin opened #25981 "Improvement for k8s.io/docs/tasks/configure-pod-container/configure-service-account/"
There is a section called "multiple service accounts".
There is no example yaml showcasing how to use multiple service accounts in one deployment.yaml.
Should that be added?

[2021-01-07 04:38] pjhwa opened #25990 "Issue with links to already translated ko documents"
**This is a Bug Report**

**Problem:**
The following documents contain the document links which are already translated into Korean:
- [ ] content/ko/docs/concepts/architecture/control-plane-node-communication.md
- [ ] content/ko/docs/concepts/cluster-administration/_index.md
- [ ] content/ko/docs/concepts/policy/resource-quotas.md
- [ ] content/ko/docs/concepts/scheduling-eviction/kube-scheduler.m

[2021-01-07 04:38] pjhwa commented on #25990
/assign

[2021-01-07 04:44] pjhwa commented on #25990
/triage accepted

[2021-01-07 08:00] sftim commented on #25921
No worries. As you already guessed @schollii: the merge base for your pull request, if working on this issue, is _master_.

[2021-01-07 08:24] mrudul03 opened #25993 "Issue with k8s.io/docs/concepts/scheduling-eviction/pod-overhead/"
Link to PodOverhead Design is not working and resulting in 404.

[2021-01-07 08:33] sftim commented on #25768
My _concerns_ from before stand, but they're not hard don't-do-this objections.

[2021-01-07 08:33] sftim commented on #25768
/triage accepted
anyway

[2021-01-07 10:21] Aut0R3V commented on #25879
It'll be great to hear whatever you can recommend. I'll send in a draft then

[2021-01-07 12:19] fabriziopandini commented on #20955
/remove-lifecycle stale

[2021-01-07 12:19] fabriziopandini commented on #20961
/remove-lifecycle stale

[2021-01-07 12:19] fabriziopandini commented on #20959
/remove-lifecycle stale

[2021-01-07 12:19] fabriziopandini commented on #20962
/remove-lifecycle stale

[2021-01-07 12:49] kbhawkey commented on #25768
Hi @SergeyKanzhelev .
I'll spend some time to read the PR and doc.
After a quick read, I think it probably make sense to separate the content from the `administer-cluster` tasks.
Again, it is a good idea to write an outline of the content. This may help to determine where
to put the content once the content is created.

[2021-01-07 14:10] oke-py commented on #25993
/triage accepted
/assign

[2021-01-07 14:11] oke-py commented on #25993
/language en

[2021-01-07 14:27] #23738 closed

[2021-01-07 14:40] #22394 closed

[2021-01-07 14:40] #22514 closed

[2021-01-07 14:40] #22802 closed

[2021-01-07 15:17] freegroup commented on #25959
it seems that the URL ini your documentation is outdated. the URL should be
https://kubernetes-sigs.github.io/service-catalog/

[2021-01-07 17:14] sftim commented on #25976
/retitle Fix sample configuration in 2019 kubernetes.io blog article
/area blog

[2021-01-07 17:16] sftim commented on #25974
Hi @j3pic

Did you find https://kubernetes.io/docs/setup/production-environment/tools/ ?

It sounds like it would help to reword https://kubernetes.io/docs/setup/ and suppress the automatic index there, in favor of some more specific text.

Not tagging this as SIG Cluster Lifecycle, but that's roughly the right area.
/language en

[2021-01-07 17:20] liggitt commented on #25759
Resolved by #25771 and #25769. Thanks!

[2021-01-07 17:20] #25759 closed

[2021-01-07 17:25] sftim commented on #25967
/kind feature
/retitle Document kubeadm for RHEL 8

[2021-01-07 17:27] sftim commented on #25993
/sig scheduling
/close

Fixed in PR #25999

[2021-01-07 17:28] #25993 closed

[2021-01-07 17:29] sftim commented on #25962
This page links to https://kubernetes.io/docs/tasks/configmap-secret/managing-secret-using-kubectl/#decoding-secret

Maybe we could add another link earlier in the page? A bit of tidying up wouldn't hurt.

[2021-01-07 17:29] sftim commented on #4491
https://github.com/kubernetes/website/issues/25962 is along the same lines

[2021-01-07 17:29] sftim commented on #25962
/language en

[2021-01-07 17:30] sftim commented on #25963
This issue is off topic for SIG Docs
/close

[2021-01-07 17:30] #25963 closed

[2021-01-07 17:32] sftim commented on #25959
Is there a page you're following @freegroup? I can't see that you have mentioned its URL.

/triage needs-information
/language en

[2021-01-07 17:32] sftim commented on #25960
Hi @chenxin6

What's the URL of the web page that isn't right?

/triage needs-information

[2021-01-07 17:33] sftim commented on #25949
/language zh
/kind bug

BTW the fix for this is to copy the redirect that's configured for the English version of the page.

[2021-01-07 17:34] sftim commented on #25957
It sounds like this is a request to update the page at https://kubernetes.io/docs/tasks/administer-cluster/configure-upgrade-etcd/
/language en

[2021-01-07 17:39] sftim commented on #25957
You can find in-depth information about etcd in the [official documentation](https://etcd.io/docs/).

You don't necessarily need to supply those details on the command line; for example you might have
`ETCDCTL_CACERT` etc set. Maybe we could explain that or link to a page that tells you more about it.

[2021-01-07 17:44] sftim commented on #25933
/sig network

[2021-01-07 17:46] sftim commented on #25933
@zebralight you might prefer to use https://v1-18.docs.kubernetes.io/docs/concepts/services-networking/ingress/ if your cluster is v1.18.3 - you'll see an example that uses `apiVersion: networking.k8s.io/v1beta1`

The page you linked to is documentation for Kubernetes v1.20

/kind support

[2021-01-07 18:57] kbhawkey commented on #25768
Hope this is okay:
/assign @SergeyKanzhelev

[2021-01-07 20:37] Aut0R3V commented on #25944
I'd like to work on this.

[2021-01-07 22:11] Desync-o-tron opened #26002 "Vague wording in “Use a Service to Access an Application in a Cluster”"
Step 8. is vague.

I'm not sure what firewall is being referred to here.

[2021-01-07 23:48] #23065 closed

[2021-01-08 01:52] Cweiping commented on #25908
Please clarify your issue and unexpected page. Thx!
/triage needs-information

[2021-01-08 02:23] tengqm commented on #25908
If I recall correctly, this has been fixed. Please reopen if the problem is still there.
/close

[2021-01-08 02:23] #25908 closed

[2021-01-08 03:50] oomichi commented on #25806
+1 for the above idea.
That is exactly common usage of branches of developments.

In addition, can I know why we need to have separated branches for each localization team as https://kubernetes.io/docs/contribute/localization/#branching-strategy ?
The files are separated with each directory under `./content` like e  en  es  fr  hi  id  it  ja and so on.
So the translation works cannot be interrupt

[2021-01-08 05:45] tengqm commented on #24217
done
/close

[2021-01-08 05:45] #24217 closed

[2021-01-08 06:13] tengqm commented on #25806
That is too ideal a case for an imperfect world. Not all localization teams are equally staffed or actively engaged in localization. Each localization team can make their own decisions on how to track the upstream changes.

Yes. Changes to master are published right away. Take the branches today as an example:

- The master branch acts as the "latest version of the latest release". It is the defau

[2021-01-08 07:56] #20919 closed

[2021-01-08 07:59] JacksonMei opened #26013 "Issue with k8s.io/zh/docs/concepts/architecture/nodes/"
The Chinese version of the chapter introducing the concept of [Node Status](https://kubernetes.io/docs/concepts/architecture/nodes/#info) misses the explanation of the info field compared to the English version. Please check it.

[2021-01-08 11:18] chenxin6 commented on #25960
https://kubernetes.io/zh/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information/

[2021-01-08 11:51] Aut0R3V commented on #25981
@CTownsdin can you please put in a link to the document you're referring to? I could find this particular documentation : https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/
But it has the required information I feel.

[2021-01-08 11:54] Aut0R3V commented on #25943
I'd like to work on this but I'm a bit unsure of what is required here. @kbhawkey & @sftim could any of you please elaborate?

[2021-01-08 12:27] Aut0R3V commented on #13957
Oh damn!
I didn't knew there were translations happening in Hindi aw!!

[2021-01-08 12:29] Aut0R3V commented on #13957
What can I do here @mittalyashu @saarques @sftim

[2021-01-08 12:33] Aut0R3V opened #26015 "Add names of OWNERS to OWNERS file"
**This is a Feature Request**

**What would you like to be added**

I think that the OWNERS section in the website can be edited and some more details can be added.
**Why is this needed**

 Although a link was put in through #12427, I feel like some more changes might be needed here. These changes would be adding names of the owners.
**Comments**

I'll send in a PR once a member feels like it is i

[2021-01-08 13:30] freegroup commented on #25959
https://kubernetes.io/docs/tasks/service-catalog/install-service-catalog-using-helm/

best regards

[2021-01-08 15:17] sftim commented on #25959
/sig service-catalog

[2021-01-08 16:21] sftim commented on #26015
@Aut0R3V, I don't think I understand the issue you're reporting.

Would you be willing to revise the issue description so that any shortcoming is described? If you're suggesting an improvement, please detail what change you would like to see and why.

/triage needs-information

[2021-01-08 16:59] Aut0R3V commented on #26015
Done

[2021-01-08 17:04] sftim commented on #26015
/retitle Add names of OWNERS to OWNERS file

/kind feature
/priority awaiting-more-evidence

Across the Kubernetes project, I believe that the convention is not to list people's names (and, in fact, if someone doesn't want to disclose their name via GitHub APIs etc, that's OK).

[2021-01-08 17:04] kbhawkey commented on #25943
Hi @Aut0R3V .
To start, you could read the kubectl documentation sets mentioned in this issue.I need to read how SIG-Cli builds their
documentation, https://github.com/kubernetes-sigs/cli-experimental/tree/master/docs.

[2021-01-08 17:07] Aut0R3V commented on #26015
Oh apologies I wasn't aware of that. Should I close this down?

[2021-01-08 17:08] oomichi commented on #25806
@tengqm Thanks for your response.

I agree with the above comment. It is nice to have their own decisions on how to track changes.
However I don't get the point why we need to have separated branches for each localization for doing that.
I guess we can know upstream changes by `git log ./content/en/` and know current progress of their own changes by `git log -p ./content/ja` for example even if ha

[2021-01-08 17:11] Aut0R3V commented on #25943
Sure thanks!

[2021-01-08 17:11] sftim commented on #25806
In fact, only some (ie, not all) localizations choose to work in separate branches.

[2021-01-08 17:24] onlydole commented on #22961
/remove-lifecycle stale

Happy New Year, everyone!

[2021-01-08 17:46] sftim commented on #26002
/retitle Vague working in “Use a Service to Access an Application in a Cluster”

/sig network
/language en

(I think this is describing host-based or instance-level packet filtering; there are several different technologies that could be applicable).

[2021-01-08 17:46] sftim commented on #26013
/language zh

[2021-01-08 17:51] sftim commented on #25947
“Locally”? I'm not sure what you mean there @tavor.

/triage needs-information

[2021-01-08 17:54] sftim commented on #25961
If these _are_ bugs @divijan , https://github.com/kubernetes/kubectl/ is the best place to report them.

If you want to know what characters are legal in Kubeconfig, you can look at https://yaml.org/
(maybe the documentation could link there).

The page at https://k8s.io/docs/reference/access-authn-authz/authentication/ looks fine in the regard; its main topic is Kubernetes authentication.

[2021-01-08 17:56] sftim commented on #25976
/language en

[2021-01-08 17:57] tavor commented on #25947
I realized this is a Docker Desktop specific feature. Closing

[2021-01-08 17:57] #25947 closed

[2021-01-08 18:37] sanjups84 opened #26016 "Assign Nodes using Node Affinity to Deployments"
`cat red-deployment.yaml`

[code]

[2021-01-08 23:25] dcaponi opened #26019 "Improvement for k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
It would be pretty cool to have the diagrams from the introductory page on the same page as the hands-on tutorial itself so I have something to refer back to and connect with the steps in the tutorial 😄

[2021-01-09 02:56] tengqm commented on #26016
@sanjups84 pls wrap your snippet with three backtiqs before and after (```) so that the indentation is preserved. Also please clarify what is the issue to be fixed.

[2021-01-09 03:14] tengqm commented on #25922
This suggestion doesn't make sense to me.

[2021-01-09 04:21] ydFu commented on #25967
@quindar83
I had a look at it and sent in a pull request for this.
Add forward compatibility in RHEL / CentOS to the list of supported platforms.

[2021-01-09 05:17] tengqm commented on #25960
/triage accepted

[2021-01-09 05:18] tengqm commented on #25960
/assign

[2021-01-09 05:28] tengqm commented on #24430
/close

[2021-01-09 05:28] #24430 closed

[2021-01-09 09:28] theletterf commented on #20862
Since this is being addressed elsewhere, I'm closing the issue. Thanks everyone for the incredibly fruitful conversation!

[2021-01-09 09:28] #20862 closed

[2021-01-09 12:14] ydFu commented on #25967
/assign

[2021-01-09 12:24] #22582 closed

[2021-01-09 13:45] sftim commented on #25922
@ivanruizalcuadrado can you clarify how making that change would improve the page at https://k8s.io/docs/tasks/configure-pod-container/configure-pod-configmap/ ?
/triage needs-information

[2021-01-09 14:03] sftim commented on #26016
I took the liberty of editing the issue description that way.

@sanjups84 please do clarify the issue you want fixed
/triage needs-information

[2021-01-09 14:03] sftim commented on #26002
Oops
/retitle Vague wording in “Use a Service to Access an Application in a Cluster”

[2021-01-09 14:05] sftim commented on #26019
/kind feature
/priority backlog
/language en
(and then copy this to the other localizations downstream once merged)

@dcaponi do you think you could sketch how you'd like this to look? (“No” or “Not really” is a valid answer! - but if you can, that would help make sure we're clear on a way forward)

[2021-01-09 18:12] shameersheik opened #26024 "Improvement for k8s.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/"
Seems most ubuntu new kubernetes users come across this issue

(https://github.com/justmeandopensource/kubernetes/issues/4)

My Solution that worked is :

sudo sudo kubeadm init
mkdir -p $HOME/.kube
  sudo cp -i /etc/kubernetes/admin.conf $HOME/.kube/config
  sudo chown $(id -u):$(id -g) $HOME/.kube/config
kubectl cluster-info

this being in the page would help save a lot of time

[2021-01-09 18:49] neolit123 commented on #26024
the output of the `kubeadm init` command prints this instruction already.

/close

[2021-01-09 18:49] #26024 closed

[2021-01-10 06:03] zebralight commented on #25933
@sftim ah, thank you! I was locked to an older version of Kubernetes since I'm running Docker Desktop on macos, so I disabled Kubernetes off of that and installed minikube and ran it with the 1.2 flag and now see this when running `kubectl version` and am no longer having an issue with using an `Ingress` kind:
[code]

[2021-01-10 06:03] #25933 closed

[2021-01-10 06:40] tengqm commented on #23732
/close
done.

[2021-01-10 06:40] #23732 closed

[2021-01-10 07:43] #23112 closed

[2021-01-10 08:09] ivanruizalcuadrado commented on #25922
This is right code. The cofigmaps are an object array:

*  - envFrom:
    -configMapRef:
          name: special-config*

wrong in the documentation documentation:

      envFrom:
      - configMapRef:
          name: special-config

El sáb, 9 ene 2021 a las 14:45, Tim Bannister (<notifications@github.com>)
escribió:

[2021-01-10 12:27] oke-py opened #26034 "Too old content for Node Authorization should be removed or update"
**This is a Feature Request**

**What would you like to be added**

2 sections below may include too old content, mentioning v1.6 ~ v1.8. They should be removed or updated.

* Upgrades from previous versions using RBAC
* RBAC Node Permissions

https://kubernetes.io/docs/reference/access-authn-authz/node/

**Why is this needed**

Too old content may not be needed or should not be included in the la

[2021-01-10 14:27] #24708 closed

[2021-01-10 14:50] #23121 closed

[2021-01-10 15:49] antaloala opened #26036 "Using Admission Controllers - missing API group/version referred in MutatingAdmissionWebhook and ValidatingAdmissionWebhook sections"
In the [MutatingAdmissionWebhook ](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#mutatingadmissionwebhook) and [ValidatingAdmissionWebhook](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#validatingadmissionwebhook) sections it is mentioned that, in case these admissions controllers are not enabled, the related MutatingWebhookConfigur

[2021-01-10 17:49] sftim commented on #14770
/remove-lifecycle stale

[2021-01-10 17:51] sftim commented on #20813
Fixed by removing AWS references
/close

[2021-01-10 17:51] #20813 closed

[2021-01-10 17:56] sftim commented on #26034
/triage accepted

/sig auth
I think

[2021-01-10 17:59] sftim commented on #26036
I think the advice should be to disable the relevant stable resources, and possibly to disable the equivalent beta APIs as as well.

Since these are enabled by default, another approach could be to create a Task page about how to disable admission webhooks, and have https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/ hyperlink there.

/language en
/sig auth

[2021-01-10 18:00] sftim commented on #4220
/kind support
I think

@prashanthkori I think you were asking for a guide to deploying Drupal with Kubernetes. We'd expect to see that documentation added to the Drupal website, or published elsewhere.

If I guessed wrongly, feel free to reopen this issue and clarify what you were asking for.
/close

[2021-01-10 18:00] #4220 closed

[2021-01-10 18:01] sftim commented on #4410
@ahmetb as I understand it, this request remains open and valid. Please respond if you feel that's not the case.

/triage accepted

[2021-01-10 18:02] sftim commented on #4491
Also see issue #4410

[2021-01-10 18:03] sftim commented on #1911
@Aut0R3V please feel free to open child issues and link them back to this one
Once you've done that, anyone (@Aut0R3V included) is _very_ welcome to send in PRs to pick off each of those tasks in turn.

[2021-01-10 18:04] sftim commented on #4512
/sig node
too

[2021-01-11 00:55] tengqm commented on #23915
/remove-lifecycle stale

[2021-01-11 05:29] CaoDonghui123 commented on #25971
/assign

[2021-01-11 08:15] #25971 closed

[2021-01-11 09:47] #25960 closed

[2021-01-11 09:55] j3pic commented on #25974
I did now that you pointed it out to me. Thanks.

[2021-01-11 10:09] #23136 closed

[2021-01-11 10:20] doschkinow opened #26051 "Install Service Catalog using Helm / can not add svc-cat helm repo / failed to fetch https://svc-catalog-charts.storage.googleapis.com/index.yaml : 403 Forbidden"
It seems the acces from helm to google storage does not work for anonymous user like it did in the past:

(base) [opc@bastion ~]$ helm repo add svc-cat https://svc-catalog-charts.storage.googleapis.com
Error: looks like "https://svc-catalog-charts.storage.googleapis.com" is not a valid chart repository or cannot be reached: failed to fetch https://svc-catalog-charts.storage.googleapis.com/index.ya

[2021-01-11 14:03] femrtnz commented on #25493
Hey @sftim this was merged already. Not sure how the update works on K8s side though.

[2021-01-11 15:33] atul-mindmatch opened #26052 "Configure Liveness, Readiness and Startup Probes"
When implementing **Liveness probe**, getting error
**ERROR:** invalid value for Integer(): "touch /tmp/healthy; sleep 30; rm -rf /tmp/healthy; sleep 600".
Unable to figure out what's causing this.
Please suggest.

[2021-01-11 18:17] #23137 closed

[2021-01-12 00:53] samuelmanzer commented on #13582
/reopen

We had some confusion over this exact part of the documentation come up in an audit recently.

It appears that [Node Authorization](https://kubernetes.io/docs/reference/access-authn-authz/node/) takes care of this issue and makes the below sentence true:

This *appears* to be enabled by default for EKS - I tested that the following curl gives a 403 for secret not associated with a pod bou

[2021-01-12 03:20] tengqm commented on #22348
/remove-lifecycle stale

[2021-01-12 03:21] shu-mutou commented on #25806
@tengqm @sftim
I'd like to add more descriptions to my PR (#25795), so could you let me know followings?
* When is the docs for current release archived on the release schedule? https://github.com/kubernetes/sig-release/tree/master/releases/release-1.21
* Can we translate `dev-1.21` branch for next version? e.g. can we create and merge `dev-1.21-ja.1` branch to it?

[2021-01-12 03:48] tengqm commented on #25806
@shu-mutou The release branch (e.g. `release-1.21`) will be created on the release week, which is usually week 12 of a release cycle.

I don't have an opinion whether creating `dev-1.21-ja.x` is a good idea. It is completely up to the localization team I think. If you decide to create such a branch, you may want to ensure changes in that branch will be merged back to the dev-1.21 timely.

[2021-01-12 04:02] shu-mutou commented on #25806
@tengqm Thank you for your reply. I'll add descriptions for these. 😉

[2021-01-12 04:43] #25911 closed

[2021-01-12 05:52] CaoDonghui123 commented on #25949
/assign

[2021-01-12 10:01] sculley commented on #25732
I believe this can be closed now

[2021-01-12 10:36] doschkinow commented on #26051
A workaround is to get the service catalog charts not from google but directly from github:

helm repo add svc-cat https://kubernetes-sigs.github.io/service-catalog

[2021-01-12 10:36] #26051 closed

[2021-01-12 12:00] tomkivlin commented on #25501
@sftim is there some automation to close an issue that has been resolved by PR, or do I just ask here? :)

[2021-01-12 12:16] neolit123 commented on #25732
thanks for the PRs @sculley  !
/close

[2021-01-12 12:16] #25732 closed

[2021-01-12 12:18] irvifa commented on #25501
@tomkivlin you can use this https://docs.github.com/en/free-pro-team@latest/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue when creating a PR

[2021-01-12 12:22] tomkivlin commented on #25501
@irvifa sure, thanks.  I wasn't sure if this was discouraged in the [PR guidelines](https://github.com/kubernetes/community/blob/master/contributors/guide/pull-requests.md#do-not-use-github-keywords-or-mentions-within-your-commit-message) but will add to the PR level next time.

[2021-01-12 12:47] CKchen0726 commented on #25620
RoleBinding and ClusterRoleBinding:
![image](https://user-images.githubusercontent.com/47560998/104316325-45e24e80-5517-11eb-976d-52b80a599a69.png)

[2021-01-12 14:37] #16281 closed

[2021-01-12 14:39] neolit123 commented on #24558
/remove-lifecycle stale

[2021-01-12 18:50] #23909 closed

[2021-01-12 18:56] sftim commented on #23909
Thanks @neha-viswanathan !

[2021-01-12 21:20] embano1 opened #26064 "Clarify "resourceVersion unset" semantics in Watch"
**This is a Feature Request**

I wasn't sure whether to file as bug or feature (more clarity), thus decided to use "feature" here. I also understand that there have been lots of discussions around watch behavior [1,2], but wanted to seek clarity from a documentation perspective.

[1] https://github.com/kubernetes/website/pull/16944
[2] https://github.com/kubernetes/kubernetes/issues/74022

**What

[2021-01-12 21:34] lavalamp commented on #26064
I think @jpbetz knows the current state on this, this might be a dup

[2021-01-12 21:48] embano1 commented on #26064
Thx, yeah...I checked the docs (last PR from him actually) and also the issues but could not find clarification around cache/nocache Watch() behavior in the docs.

[2021-01-12 21:48] jailton commented on #13939
Hi Folks!

I've been working on the translation of Concept/Overview topic.

Overview (content/id/docs/concepts/overview):
- [ ] Components
- [ ] Kubernetes API
- [ ] What is Kubernetes

Can someone assign it to me?

[2021-01-12 22:26] #25295 closed

[2021-01-12 22:37] kbhawkey commented on #19095
/assign

[2021-01-13 01:03] tengqm commented on #25501
Resolved.
/close

[2021-01-13 01:03] #25501 closed

[2021-01-13 03:46] santachopa opened #26073 "Translate reference/glossary/quantity.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate reference/glossary/quantity.md in Korean

**Why is this needed**
No translation reference/glossary/quantity.md in Korean

**Comments**

Page to update : https://kubernetes.io/ko/docs/reference/glossary/?core-object=true#term-quantity

[2021-01-13 03:46] santachopa commented on #26073
/assign

[2021-01-13 03:47] santachopa commented on #26073
/assign

[2021-01-13 03:48] santachopa commented on #26073
/language ko

[2021-01-13 05:03] santachopa commented on #25478
/close

[2021-01-13 05:03] #25478 closed

[2021-01-13 06:57] wojtek-t commented on #26064
Yes - this is a bug in documentation, which we should fix.
/assign @jpbetz
Can you please take a care of it?

That said - using watch with RV = 0 or RV unset isn't really a recommended pattern. Generally the "list + watch from there" is the pattern that we recommend everywhere.
It might make sense to also make it very explicit in this doc.

[2021-01-13 07:58] embano1 commented on #26064
It might make sense to also make it very explicit in this doc.

Agree.

Follow-up question since most users will likely use ListerWatcher with SharedIndexInformer (reflector) or controller-runtime (which does this implicitly): These controllers don't enforce quorum list on start, thus are also vulnerable to time travel issues even though using list+watch, right? Reason why I am asking is that this

[2021-01-13 09:09] beomsoobeomsoo opened #26077 "Resource Quotas status Value"
I want to unify the unit of value.
Some units are in Ki, and some are not.
I wonder if there is a way to set it up.

[2021-01-13 11:56] divijan commented on #25961
OK, in that case I would suggest adding a note in **client-go credential plugins \ Configuration** section that command must not contain spaces.

[2021-01-13 12:33] sftim commented on #25961
@divijan if you had a credential plugin with a space in the name of the binary I think it would work. Have I got that right?

We could explain that you use `args` to set command line arguments, just next to the line about `command`.

/retitle Emphasize use of args to configure arguments for kubernetes client authentication plugins

[2021-01-13 12:34] sftim commented on #25961
/sig api-machinery

[2021-01-13 12:54] divijan commented on #25961
@sftim yes, you are correct. However, delving deeper into my case, I had a python script that did authentication, and I could not put `python <script name>` into `command:`, so I had to enclose it into a .bat file. But now during this discussion I tried putting `<script name>` into `args:` before arguments for the script itself and this way script couldn't read the file. It worked when script invo

[2021-01-13 12:56] sftim commented on #25961
You could try asking on [Slack](https://slack.k8s.io/) for advice. Other avenues include Discourse and Stack Overflow.

[2021-01-13 14:13] syl-163 opened #26078 "Set up a High Availability etcd cluster with kubeadm"
[root@ks-3 hpa]# docker run --rm -it --net host -v /etc/kubernetes:/etc/kubernetes k8s.gcr.io/etcd:3.4.3-0 etcdctl --cert /etc/kubernetes/pki/etcd/peer.crt --key /etc/kubernetes/pki/etcd/peer.key --cacert /etc/kubernetes/pki/etcd/ca.crt --endpoints https://192.168.0.110:2379 endpoint health --cluster
{"level":"warn","ts":"2021-01-13T14:12:31.551Z","caller":"clientv3/retry_interceptor.go:61","msg":

[2021-01-13 14:18] neolit123 commented on #26078
please try the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/kind support
/close

[2021-01-13 14:18] #26078 closed

[2021-01-13 14:32] kbhawkey commented on #19095
/remove help

[2021-01-13 15:01] #23144 closed

[2021-01-13 17:08] divijan commented on #25961
Thanks!

[2021-01-13 17:10] #19095 closed

[2021-01-13 17:19] jpbetz commented on #26064
The documentation absolutely needs to be updated for this case. I'll try to get to that. I agree that watch with RV="" should be avoided. I'll try to incorporate that into the documentation.

ListerWatcher, SharedIndexInformer or whatever other documentation doesn't capture this also really needs to be updated. I'm less familiar with that documentation, so if anyone is willing to own getting that

[2021-01-13 17:23] dashpole commented on #20655
/triage accepted
/help-wanted

From the sig-instrumentation triage meeting: The proposed change sounds reasonable.  If anyone wants to make the update, feel free to open a PR.

The correct stance is that stable metrics can be removed after a deprecation period, so it is incorrect to say stable metrics can never be removed.

[2021-01-13 18:27] ganeshsagani opened #26080 "Improvement for k8s.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/"
For the beginners please  give a hint to get required data.....
For example:
kubectl config --kubeconfig=config-demo set-cluster development --server=https://1.2.3.4 --certificate-authority=fake-ca-file
in above command execution where can get exactle "--server" detail and "--certificate-authority" details...

[2021-01-13 18:34] xserrat opened #26081 "Explain that when executing a rollback using `kubectl rollout undo` the undid version is excluded and cannot be applied anymore"
**This is a Feature Request**

**What would you like to be added**

I would like to append extra info at the end of this section https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#rolling-back-to-a-previous-revision related to rollback to a previous revision, explaining that if you rollback to a previous revision using the following command
[code]
the undid revision will be excl

[2021-01-13 19:29] reylejano commented on #22960
/remove-lifecycle stale
Removing lifecycle/rotten label in case there is more work or discussion needed on this issue. I'll bring it up to SIG Docs if this issue is ready to close.

[2021-01-13 19:47] embano1 commented on #26064
Happy to help, wondering whether this would only be in the `client-go` docs or is there any public documentation for the SDK wrt ListWatch semantics?

Please help me with my understanding: as you said, `reflector` uses the configured `ListerWatcher()` typically passed via `SharedIndexInformer` construction. Most (all?) of the provided typed/dynamic don't explicitly specify a `RV`, thus using the o

[2021-01-13 20:05] #17232 closed

[2021-01-13 21:22] jpbetz commented on #26064
Oh right. So the background here is that did attempt (quite a long time ago, now) to update Reflectors to do the initial list using RV="". The PR (https://github.com/kubernetes/kubernetes/pull/83520) got rolled back due to due to excessive list calls to etcd (https://github.com/kubernetes/kubernetes/pull/86824). I haven't gotten the bandwidth since then to try to tackle this again, but maybe it wo

[2021-01-13 22:20] embano1 commented on #26064
Perfect, let me know where I can help and I'll file PR(s). Just don't know all the places from a docs perspective.

[2021-01-13 23:20] sonogithub commented on #24582
/remove-lifecycle stale

[2021-01-13 23:36] reylejano opened #26084 "K8s 1.21 - Formalize the Docs release strategy with the different localization owners"
Hello 👋,

I'm Rey Lejano, the SIG Release Docs lead for the 1.21 release. I'm opening this issue to find the best way to coordinate the actual docs release (scheduled tentatively for April 8, 2021) with the different localization owners.

A couple of questions:

1. Who would be a good primary contact for the following localization content?

- [ ] Arabic
- [ ] Belarusian
- [x] French (@remyleone)
-

[2021-01-14 01:47] #25818 closed

[2021-01-14 04:16] seokho-son commented on #26084
Hello @reylejano
I can be a primary contact for Korean l10n contents. (Currently, I am leading Korean 10n team)

[2021-01-14 04:21] seokho-son commented on #26084
/triage accepted

[2021-01-14 05:20] JESWINKNINAN commented on #25587
@fandongxiaokk  This topic is probably in the Calico Github, but just for your info setting the permission with defaultmode : 440  in the volume  mount will fix the issue.

[2021-01-14 05:27] hase1128 commented on #25206
/close

[2021-01-14 08:24] springcomefromprogrammingtheworld opened #26087 "安装 kubeadm"
CentOS、RHEL 或 Fedora 没有安装命令?

[2021-01-14 09:26] remyleone commented on #26084
Hello,
I can be a primary contact for French content

[2021-01-14 09:42] fabriziopandini commented on #26084
I can be the primary contact for Italian

[2021-01-14 09:45] girikuncoro commented on #26084
I can be primary contact for Bahasa Indonesia

[2021-01-14 10:41] mfilocha commented on #26084
I'm for Polish localization.

[2021-01-14 12:17] neolit123 commented on #26087
please try the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2021-01-14 12:17] #26087 closed

[2021-01-14 12:59] FerminCastro commented on #25703
Ok, following this "request for doc improvement" we have conducted a number of tests to restore ETCD for a 3 node control plane with internal etcd. Basically the two tests threw the same results: render the cluster USELESS. In the first test we stopped the etcd and kube-apiserver pods in all three nodes (by the way, as I was indicating above, there is no documented procedure to do this, the only w

[2021-01-14 15:52] pvtl-pre opened #26095 "Improvement for k8s.io/docs/reference/tools/"
These tools are not "built-in". Please consider rewording.

[2021-01-14 17:04] chalin commented on #25941
Hi! I've hit max-file-descriptor (FD) limit issues under macOS (too) many times before (on other projects), and essentially, I've opted for something similar to what is proposed in https://github.com/google/docsy-example/issues/89#issuecomment-758311888 (note the reference to https://github.com/knative/website/blob/master/DEVELOPMENT.md#file-descriptors-in-server-mode), although I'm using smaller

[2021-01-14 17:32] sftim commented on #25941
/retitle Update "Using this repository/ Troubleshooting" Section of the README
/triage accepted
(being clear about it)

[2021-01-14 17:32] sftim commented on #26064
/sig api-machinery

[2021-01-14 17:37] sftim commented on #26077
Can you clarify the issue you're reporting @beomsoobeomsoo ? It's not clear.

/triage needs-information
&hellip;and possibly /kind support

[2021-01-14 17:39] sftim commented on #26095
Helm is indeed not built-in (and is in fact third party software). `kubeadm` and `kubectl` are separate components from Kubernetes proper.

/kind bug
/triage accepted

[2021-01-14 17:40] sftim commented on #26052
/kind support

I think the page is correct - please reply if that's not the case.

[2021-01-14 17:47] nate-double-u commented on #25941
Issue body copy has been updated.

[2021-01-14 18:06] nate-double-u opened #26096 "Update structure of the "Install and Set Up kubectl" page to use tabs for the different Operating Systems described"
**This is a Feature Request**

**What would you like to be added**

Update structure of the "[Install and Set Up kubectl](https://kubernetes.io/docs/tasks/tools/install-kubectl/)" page to use tabs to contain the install instructions of the different operating systems.

**Why is this needed**
This may help to shorten the page, and give people an opportunity to get directly to what they are looking

[2021-01-14 18:12] nate-double-u commented on #26096
As per @sftim's [suggestion](https://github.com/kubernetes/website/pull/25259#pullrequestreview-554120404), as we go through this issue we may find we want to open another feature request to sync the tabs across the page so that a visitor only need make the OS selection once.

[2021-01-14 18:27] #23194 closed

[2021-01-14 19:18] #25064 closed

[2021-01-14 19:22] sftim commented on #25853
/close

Address in PR #25966

[2021-01-14 19:23] #25853 closed

[2021-01-14 19:24] sftim commented on #25800
Solved in PR #25839
/close

[2021-01-14 19:24] #25800 closed

[2021-01-14 19:25] sftim commented on #26081
Hi @xserrat

This sounds like a useful explanation. Can you give an example of a command that you thought might work, but does not?

/language en
/kind feature

[2021-01-14 19:25] sftim commented on #26096
/triage accepted
/kind feature
/language en

And, because it's a popular page, but the existing documentation does work:
/priority important-longterm

[2021-01-14 20:07] liggitt commented on #12326
Opened https://github.com/kubernetes/website/pull/26098 to update the doc.

The cluster-upgrade doc already included this information

[2021-01-14 20:32] #25939 closed

[2021-01-14 20:47] raelga commented on #26084
@raelga for Spansih :D

[2021-01-15 00:40] MaxymVlasov commented on #26084
Hi
Count on me in Ukrainian localization

[2021-01-15 03:45] #25910 closed

[2021-01-15 04:47] oomichi commented on #25806
/cc @oomichi

[2021-01-15 06:05] natereid72 opened #26102 "Horizontal Pod Autoscaler"
Seems it would be better to use 'scaled out' and 'scaled in' in reference to HPA.

[2021-01-15 08:49] ew8 opened #26103 "issue with https://kubernetes.io/zh/docs/setup/production-environment/tools/kubeadm/install-kubeadm/"
Hi Team,

this part had removed in english V1.2 version. could you check why Chinese version still have this?

I mean this issue had fixed on version V1.2 or?

![image](https://user-images.githubusercontent.com/42313107/104702615-34848680-5751-11eb-9fd3-b9ce65434790.png)

![image](https://user-images.githubusercontent.com/42313107/104702838-862d1100-5751-11eb-9ef6-86c9633d9a74.png)