[2019-11-21 12:20] power8993 opened #17719 "Translate setup-tools/kubeadm/kubeadm-version/ in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate setup-tools/kubeadm/kubeadm-version/ in Korean

**Why is this needed**
No translation Translate setup-tools/kubeadm/kubeadm-version/ in Korean

**Comments**

Page to Update:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-version/

[2019-11-21 12:20] power8993 commented on #17719
/language ko
/assing

[2019-11-21 16:20] zgfh opened #17724 "deployment page: error format"
**This is a Bug Report**

**Problem:**

error yaml format
![image](https://user-images.githubusercontent.com/11729624/69356101-dfb8bd80-0cbd-11ea-821f-c74718d8ef84.png)

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/

1.16

[2019-11-21 20:50] farrellit opened #17725 "Improvement for k8s.io/docs/concepts/: hard to get to reference doc from concepts doc"
I have the hardest time getting to the reference material for something covered by a concept.  The concept is a fine intro, but once I actually start using it, the concept does not help me author a yaml file.

[2019-11-21 21:41] #16729 closed

[2019-11-21 22:01] Yhazaa opened #17728 "Issue with k8s.io/docs/home/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-11-21 22:29] ysyukr commented on #17520
/close

[2019-11-21 22:29] #17520 closed

[2019-11-21 23:34] ysyukr opened #17729 "Translate services-networking/ingress.md in Korean"
**This is a Feature Request**

**What would you like to be added**
Translate services-networking/ingress.md in Korean

**Why is this needed**
The following files are not translated into Korean.
- [ ] /en/docs/concepts/services-networking/ingress.md

**Comments**
Page to update: https://kubernetes.io/docs/concepts/services-networking/ingress/

I am translating this document.
The translated document

[2019-11-21 23:35] ysyukr commented on #17729
/assign

[2019-11-21 23:35] ysyukr opened #17730 "Translate services-networking/ingress-controllers.md in Korean"
**This is a Feature Request**

**What would you like to be added**
Translate services-networking/ingress-controllers.md in Korean

**Why is this needed**
The following files are not translated into Korean.
- [ ] en/docs/concepts/services-networking/ingress-controllers.md

**Comments**
Page to update: https://kubernetes.io/docs/concepts/services-networking/ingress-controllers/

I am translating thi

[2019-11-21 23:36] ysyukr commented on #17730
/assign

[2019-11-21 23:53] ysyukr commented on #17488
머지가 되었으므로 /close 처리 하겠습니다 :)

[2019-11-21 23:54] ysyukr commented on #17488
/close

[2019-11-21 23:54] #17488 closed

[2019-11-22 02:23] tanjunchen commented on #17649
@butuzov  hello,maybe you can see [istio lint checker](https://github.com/istio/istio.io).there is external url checker?

[2019-11-22 07:41] butuzov commented on #17649
@tanjunchen I see `htmlproofer` (https://github.com/gjtorikian/html-proofer) but I am not sure I got your point.

[2019-11-22 07:45] npu21 commented on #17649
@tanjunchen hi,
I wanna contribute too

[2019-11-22 09:05] RA489 commented on #17728
@Yhazaa can you please help us clarify what is the issue?

[2019-11-22 09:05] RA489 commented on #17728
/triage needs-information

[2019-11-22 09:07] RA489 commented on #17725
@farrellit can you please help us elaborate your issue so that we can help?

[2019-11-22 09:07] RA489 commented on #17725
/triage needs-information

[2019-11-22 09:09] RA489 commented on #17705
@Maiia1992 can you please help us clarify what is the issue?

[2019-11-22 09:09] RA489 commented on #17705
/triage needs-information

[2019-11-22 09:12] RA489 commented on #17650
/triage needs-information

[2019-11-22 09:21] RA489 commented on #16769
/close

[2019-11-22 09:22] #16769 closed

[2019-11-22 10:30] Colstuwjx opened #17736 "Federation page is out-of-date"
**This is a Bug Report**

**Problem:**
Some links from [setup-cluster-federation-with-kubefed page](https://github.com/kubernetes/website/blob/master/content/en/docs/tasks/federation/set-up-cluster-federation-kubefed.md) ( website url is https://kubernetes.io/docs/tasks/federation/  ) are invalid and out-of-date.

for instance, link for `kubefed` https://github.com/kubernetes/website/blob/master/d

[2019-11-22 10:44] tanjunchen commented on #17649
@npu21  welcome

[2019-11-22 11:15] inductor commented on #17712
FYI タスク = task in Japanese

[2019-11-22 11:22] inductor opened #17737 "docs/tasks/configure-pod-container/configure-pod-configmap leads to top page when switching a language"
**This is a Bug Report**

Switching language doesn't properly work on https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/

It leads to top page which is not the expected behavior.

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/

[2019-11-22 11:24] inductor opened #17738 "docs/reference/access-authn-authz/rbac leads to top page when switching a language"
**This is a Bug Report**

Switching language doesn't properly work on https://kubernetes.io/docs/reference/access-authn-authz/rbac/

It leads to top page which is not the expected behavior.

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/reference/access-authn-authz/rbac/

[2019-11-22 11:41] inductor opened #17739 "Translate reference/kubectl/cheatsheet/ into Japanese"
**This is a Feature Request**

**What would you like to be added**
Translate reference/kubectl/cheatsheet/ into Japanese

**Why is this needed**
This document is not translated in Japanese.

**Comments**

[2019-11-22 11:41] inductor commented on #17739
/language ja

[2019-11-22 11:42] inductor opened #17740 "Translate concepts/workloads/controllers/deployment into Japanese"
**This is a Feature Request**

**What would you like to be added**
Translate concepts/workloads/controllers/deployment into Japanese

**Why is this needed**
This document is not translated in Japanese.

**Comments**

[2019-11-22 11:42] inductor commented on #17740
/language ja

[2019-11-22 11:43] inductor opened #17741 "Translate concepts/services-networking/ingress into Japanese"
**This is a Feature Request**

**What would you like to be added**
Translate concepts/services-networking/ingress into Japanese

**Why is this needed**
This document is not translated in Japanese.

**Comments**

[2019-11-22 11:43] inductor commented on #17741
/langage ja

[2019-11-22 11:43] inductor commented on #17741
/language ja

[2019-11-22 11:44] inductor opened #17742 "Translate concepts/storage/persistent-volumes into Japanese"
**This is a Feature Request**

**What would you like to be added**
Translate concepts/storage/persistent-volumes into Japanese

**Why is this needed**
This document is not translated in Japanese.

**Comments**

[2019-11-22 11:44] inductor commented on #17742
/language ja

[2019-11-22 11:46] inductor commented on #17739
/good-first-issue

[2019-11-22 11:47] inductor opened #17743 "Translate setup/production-environment/tools/kubeadm/install-kubeadm into Japanese"
**This is a Feature Request**

**What would you like to be added**
Translate setup/production-environment/tools/kubeadm/install-kubeadm into Japanese

**Why is this needed**
This document is not translated in Japanese.

**Comments**

[2019-11-22 11:47] inductor commented on #17743
/language ja

[2019-11-22 11:48] inductor commented on #17743
/good-first-issue

[2019-11-22 13:26] unyilmelenoyska commented on #17630
[Subscribe] ( https://www.youtube.com/watch?v=m-9fXtTEwDE )

[2019-11-22 14:18] sftim commented on #17743
/priority backlog

[2019-11-22 14:18] sftim commented on #17712
/priority important-longterm
/kind bug

[2019-11-22 14:18] sftim commented on #17717
/priority backlog

[2019-11-22 14:19] sftim commented on #17719
/priority backlog

[2019-11-22 14:20] sftim commented on #17729
/priority backlog

[2019-11-22 14:20] sftim commented on #17730
/priority backlog

[2019-11-22 14:21] sftim commented on #16776
Also see #17736

[2019-11-22 14:22] sftim commented on #17737
I think I have seen this behavior on other pages too (and did not realise it was a bug)
/kind bug
/priority important-longterm

[2019-11-22 14:23] sftim commented on #17740
/priority backlog

[2019-11-22 14:23] sftim commented on #17741
/priority backlog

[2019-11-22 14:23] sftim commented on #17742
/priority backlog

[2019-11-22 14:25] sftim commented on #17724
That's valid YAML, but not a valid manifest for a Service
`app: nginx` should be indented (both occurrences)
Good spot @zgfh
/kind bug
/help

If someone is fixing this, consider migrating to a `{{ codenew }}` block - see https://kubernetes.io/docs/contribute/style/write-new-topic/#embedding-code-in-your-topic for details.

[2019-11-22 14:25] sftim commented on #17724
/priority backlog

[2019-11-22 14:26] sftim commented on #17738
/kind bug
/priority important-longterm

[2019-11-22 14:26] sftim commented on #17738
Also see #17737

[2019-11-22 14:29] oke-py commented on #17740
duplicates of #14848
/close

[2019-11-22 14:29] #17740 closed

[2019-11-22 17:06] jwietelmann opened #17750 "Missing usage docs for kind: PodTemplate"
I know that there is a PodTemplate resource available, but none of the docs seem to mention it or say how it could be used. Can I reference a named PodTemplate from a Deployment or Job spec? If so, how?

[2019-11-22 22:07] strbean opened #17752 "Issue with k8s.io/docs/concepts/storage/persistent-volumes/"
**This is a Bug Report**

**Problem:**

Page makes no reference to the claimRef property, or bi-directional binding.

claimRef property is only documented in the
[api reference](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.16/#persistentvolumespec-v1-core), and includes the following in the description:

It is discouraging to click through and find no additional information!

*

[2019-11-22 22:34] kbhawkey commented on #17724
@zgfh , There is a known issue with formatting YAML that follow a list item.
This issue seems to be the same as, https://github.com/kubernetes/website/pull/17340?

[2019-11-23 01:38] lojies commented on #17652
It seems like a bug of hugo.

[2019-11-23 03:37] ClaudiaJKang opened #17755 "Outdated files in the dev-1.16-ko.6"
# This is a Bug Report
## Problem
Outdated files in the dev-1.16-ko.6 branch.

### 24 files to be modified
- [ ] content/en/case-studies/openAI/index.html 1 file changed, 1 insertion(+), 1 deletion(-)
- [ ] content/en/case-studies/squarespace/index.html 1 file changed, 1 insertion(+), 1 deletion(-)
- [ ] content/en/case-studies/ygrene/index.html 1 file changed, 2 insertions(+), 2 deletions(-)
- [

[2019-11-23 03:44] reung37 opened #17757 "Translate docs/contribute/style/write-new-topic.md in Korean"
This is a Feature Request

What would you like to be added
Translate docs/contribute/style/write-new-topic.md in Korean

Why is this needed
The following files are not translated into Korean.
/en/docs/contribute/style/write-new-topic.md in Korean

Comments
Page to update : https://kubernetes.io/docs/contribute/style/write-new-topic/

I am working on translating this document.
This document transla

[2019-11-23 04:50] ysyukr commented on #17755
/assign

[2019-11-23 05:07] reung37 commented on #17757
/assign

[2019-11-23 05:11] kanhaiyaagrawal01 commented on #17593
Hey @sftim, I would like to take this up

[2019-11-23 05:30] Chihoon-Sung opened #17770 "Translate reference/issues-security/issues in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate reference/issues-security/issues in Korean

**Why is this needed**
No translation with reference/issues-security/issues in Korean

**Comments**

https://kubernetes.io/docs/reference/issues-security/issues/

[2019-11-23 05:31] Chihoon-Sung commented on #17770
/language ko
/assign

[2019-11-23 05:43] #17770 closed

[2019-11-23 10:09] #15108 closed

[2019-11-23 14:00] andreaskring opened #17779 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
**This is a Bug Report**

**Problem:**
Misleading explanation in the text compared to the command stated in the command line box. The test says to use the command `kubectl run`, but the command in the command line box uses `kubectl create deployment`

**Proposed Solution:**
Align the explanation in the text with the command to be executed.

**Page to Update:**
https://kubernetes.io/...

[2019-11-23 15:30] BenHall commented on #17779
Thanks! I must have missed this when updating the example.

Alternatively, you can raise a PR at https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios

[2019-11-23 16:56] savitharaghunathan commented on #17752
/language en
/priority backlog

[2019-11-23 17:15] cstoku commented on #16297
/milestone 1.16-ja.1

[2019-11-23 17:15] cstoku commented on #16297
/close

[2019-11-23 17:15] #16297 closed

[2019-11-23 17:18] cstoku commented on #17669
/milestone 1.16-ja.1

[2019-11-23 18:15] sftim commented on #17757
/priority backlog

[2019-11-23 18:15] sftim commented on #17755
/priority backlog
/kind cleanup

[2019-11-23 18:17] #15127 closed

[2019-11-23 18:18] sftim commented on #17779
/kind bug
/priority important-longterm

[2019-11-23 18:19] sftim commented on #17779
Think it's appropriate to flag this as a
/good-first-issue

Mention me (@sftim) if you are looking at this and are not sure where to start.

[2019-11-23 18:42] sftim commented on #17750
Is https://kubernetes.io/docs/concepts/workloads/pods/pod-overview/#pod-templates the documentation you were looking for @jwietelmann ?

[2019-11-23 18:42] sftim commented on #17750
/triage needs-information

[2019-11-23 18:47] jwietelmann commented on #17750
@sftim No, I am not talking about embedding pod template specs in other resources. There is a first-order resource named `PodTemplate` with a full CRUD API: https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.16/#-strong-write-operations-podtemplate-v1-core-strong-

Its utility and usage is not documented anywhere.

[2019-11-23 19:16] sftim commented on #17593
@kanhaiyaagrawal01 please feel free! Would you like any guidance?

[2019-11-23 19:25] sftim commented on #17750
I _think_ this is an error in the generated documentation. If you try to create a PodTemplate using `kubectl` / the API, you'll get an error, eg:
[code]

My understanding:
PodTemplate is like Container; you can only create it as part of a resource that uses this object type. If you implemented the entire Kubernetes API in another language and generated docs from that other implementation, you migh

[2019-11-23 19:32] sftim commented on #17739
/priority important-longterm
(I think)

[2019-11-24 11:34] #15154 closed

[2019-11-24 13:15] oke-py opened #17784 "Translate concepts/storage/volumes into Japanese"
**This is a Feature Request**

**What would you like to be added**
Translate concepts/storage/volumes into Japanese

**Why is this needed**
This document is not translated in Japanese.

**Comments**

/language ja
/assign

[2019-11-24 15:01] arnav300 opened #17786 "Issue with k8s.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/"
**This is a Bug Report**

**Problem:**

As soon as i run the kubectl apply -k ./ get below error :
"error converting YAML to JSON: yaml: line 23: mapping values are not allowed in this context"
**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-11-25 04:06] lkaybob opened #17790 "Translate docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases.md in Korean

**Why is this needed**
No translation in docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases.md in Korean

**Comments**

Page to update : https://kubernetes.io/docs/concepts/services-networking/add-

[2019-11-25 05:52] salv-orlando commented on #17634
good morning @neolit123  - what should be the preferred way of sharing conformance tests?

@sftim imho the case would be mostly adding another CNI option (OSS and actively maintained - albeit very young). kubernetes/enhancements#1327 is about removing vendor pitches, which I completely understand. I don't think the Antrea CNI option falls in this category though.

On the other hand I noticed https

[2019-11-25 06:05] amalts commented on #17779
/assign

[2019-11-25 06:22] amalts commented on #17779
PR katacoda-scenarios/kubernetes-bootcamp-scenarios#16 will fix this.

[2019-11-25 06:23] Zossin opened #17792 "Issue with k8s.io/docs/concepts/workloads/controllers/statefulset/"
**This is a Bug Report**

**Problem:**
The indentation of below yaml doesn't look right:
![image](https://user-images.githubusercontent.com/1637100/69517249-1e38cb80-0f8f-11ea-942b-5cbaf1bdeefd.png)

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/

[2019-11-25 08:55] #13650 closed

[2019-11-25 08:55] #13807 closed

[2019-11-25 14:40] kakts commented on #17119
こちら作業中です

[2019-11-25 15:15] jjulien opened #17795 "Documentation conflict regarding postStart"
**This is a Bug Report**

**Problem:**
Documentation exists that states a container enters a "running" status prior to executing "postStart" hooks.  Other documentation, and observed behavior, states a pod does not enter a "running" status until after "postStart" hooks complete.

**Proposed Solution:**
Fix the documentation to reflect current behavior.

Currently reads

Should read

**Page to Upda

[2019-11-25 19:26] inductor commented on #17712
/close

[2019-11-25 19:27] #17712 closed

[2019-11-25 19:32] michelle192837 opened #17798 "Repo has a branch protection policy, but protect: false"
jsonPayload: {
  component: "image"
  controller: "sync"
  file: "prow/config/branch_protection.go:346"
  func: "k8s.io/test-infra/prow/config.(*Config).BranchProtectionWarnings"
  level: "warning"
  msg: "The following repos define a policy, but have protect: false: kubernetes/website"
 }

Probably want to double-check the current branch protection settings.

[2019-11-25 23:42] ysyukr opened #17801 "Issue with k8s.io/ko/docs/concepts/services-networking/endpoint-slices/"
**This is a Bug Report**
**Problem:**
Translated sentence is awkward, etc., should be corrected.

**Proposed Solution:**
It should be modified and translated to an appropriate level.

**Page to Update:**
https://kubernetes.io/ko/docs/concepts/services-networking/endpoint-slices/

[2019-11-25 23:42] ysyukr commented on #17801
/language ko
/assign

[2019-11-26 01:20] #17801 closed

[2019-11-26 05:06] tanjunchen commented on #17649
It is a good tool,you can try to use it.

[2019-11-26 06:05] ysyukr opened #17809 "Translate services-networking/service.md in Korean."
**This is a Feature Request**

**What would you like to be added**
Translate services-networking/service.md in Korean

**Why is this needed**
The following files are not translated into Korean.
- [ ] /en/docs/concepts/services-networking/service.md

**Comments**
Page to update: https://kubernetes.io/docs/concepts/services-networking/service/

I am translating this document.
The translated document

[2019-11-26 06:05] ysyukr commented on #17809
/assign

[2019-11-26 06:49] RA489 commented on #17497
@vkkothawale Is your issue resolved so that we can close this issue?

[2019-11-26 06:54] RA489 commented on #17396
@veera2019 Try using this command to change apps/v1beta2 to apps/v1
`
kubectl convert -f <file> --output-version apps/v1.`

[2019-11-26 07:51] butuzov commented on #17649
This is my choice https://github.com/butuzov/deadlinks

[2019-11-26 07:59] tanjunchen commented on #17649
@butuzov  Nice、Great.

[2019-11-26 09:31] RA489 commented on #16866
/assign

[2019-11-26 10:13] RA489 commented on #15950
Please see the link to upgrade minikube. I have opened a PR to update the same on website. PTAL.
https://minikube.sigs.k8s.io/docs/start/macos/

[2019-11-26 10:16] RA489 commented on #17786
@arnav300 Can you please elaborate what is the issue?

[2019-11-26 10:17] RA489 commented on #17786
triage/needs-information

[2019-11-26 10:40] RA489 commented on #17736
`federation-v1` has been officially deprecated and releacement is` federation-v2 `https://github.com/kubernetes-sigs/kubefed

[2019-11-26 10:43] Colstuwjx commented on #17736
Yes, @RA489  The page title is already been `Set up Cluster Federation with Kubefed
`, but some links in this page is out-of-date, see also #16776 as @sftim  referenced.

[2019-11-26 10:47] RA489 commented on #17736
@Colstuwjx Agreed. some of the contents and links needs to be updated. Thanks for pointing out!

[2019-11-26 10:48] RA489 commented on #17798
@michelle192837 can you please provide bit more detail about this issue?

[2019-11-26 10:48] RA489 commented on #17798
/triage needs-information

[2019-11-26 10:53] RA489 commented on #17792
app: nginx should be indented both places.

/kind bug

[2019-11-26 10:53] RA489 commented on #17792
/kind bug

[2019-11-26 11:06] RA489 commented on #17560
@pggp can you please copy paste the exact command you executed to debug this more.

[2019-11-26 11:06] RA489 commented on #17560
/triage needs-information

[2019-11-26 11:08] anastyakulyk commented on #13989
@bigfootlviv any progress so far? Would be glad to join forces)

[2019-11-26 11:11] RA489 commented on #17553
This is accessible. may be it is restricted in your country.

[2019-11-26 11:11] RA489 commented on #17553
/close

[2019-11-26 11:11] #17553 closed

[2019-11-26 11:13] RA489 commented on #17447
@ZhenQingGuan can you please help us debug what is the issue?

[2019-11-26 11:17] RA489 commented on #17317
@vovcia can you copy paste exact command executed to debug this more?

[2019-11-26 11:18] sftim commented on #15560
/help

[2019-11-26 11:22] RA489 commented on #17289
@NylaWorker can you please try restarting kubelet `systemctl restart kubelet`

[2019-11-26 11:27] RA489 commented on #17279
@PetrPodzimek Can you please try restarting kubelet using `systemctl restart kubelet`

[2019-11-26 11:29] #15950 closed

[2019-11-26 18:51] michelle192837 commented on #17798
In https://github.com/kubernetes/test-infra/blob/master/config/prow/config.yaml#L238, kubernetes/website has branch protection enabled for particular branches, but not overall. I think in this case it's not an urgent error, but it may be useful to enable branch protection in general. If not, feel free to close this and I'll ignore the warning in our logs going forward.

[2019-11-26 20:44] ilyaspiridonov opened #17817 "Suggestion: k8s.io/docs/contribute/localization/"
Please consider using [GitLocalize](https://gitlocalize.com) for a better translation process

[2019-11-26 23:46] k4ch0 commented on #13948
Working on content/es/docs/convepts/configuration/pod-overheat.md

[2019-11-26 23:47] k4ch0 commented on #13948
Working on ```content/es/docs/concepts/configuration/pod-overhead.md```

[2019-11-27 00:45] lojies commented on #17792
This is a bug of hugo like #17337, see #17340 for more detail.

[2019-11-27 01:26] ysyukr commented on #17809
There was something that came out first.
#13943

[2019-11-27 01:26] #17809 closed

[2019-11-27 01:30] ysyukr opened #17820 "Translate services-networking/connect-applications-service.md in Korean."
**This is a Feature Request**

**What would you like to be added**
Translate services-networking/connect-applications-service.md in Korean.

**Why is this needed**
The following files are not translated into Korean.
- [ ] /en/docs/concepts/services-networking/connect-applications-service.md

**Comments**
Page to update: https://kubernetes.io/docs/concepts/services-networking/connect-applications-s

[2019-11-27 01:30] ysyukr commented on #17820
/assign

[2019-11-27 03:28] Zossin opened #17824 "Issue with k8s.io/docs/concepts/storage/persistent-volumes/"
**This is a Bug Report**

**Problem:**
Empty quotes are found below:
![image](https://user-images.githubusercontent.com/1637100/69691082-d1790000-1108-11ea-983d-3021c50b89aa.png)
![image](https://user-images.githubusercontent.com/1637100/69691111-efdefb80-1108-11ea-8fa4-90313d43eac2.png)

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/concepts/storage/persistent-volumes/

[2019-11-27 08:17] ysyukr commented on #17730
When checking an issue, there is an issue that has been uploaded first, and the assigned PR is canceled.
#17302

[2019-11-27 08:17] #17730 closed

[2019-11-27 09:41] thestupendous opened #17837 "Improvement for k8s.io/docs/tasks/tools/install-minikube/"
regarding the interface of the page (html, css etc.)
when some text is selected on the page, including some portion of the text that is inside the command box (in which the command to download and install minikube is given). After the text selection, when I try to scroll horizontally using the scroller provided, it won't scroll, instead, the selected text would move along the pointer, as if I was

[2019-11-27 13:03] kakts opened #17840 "Translate concepts/configuration/overview/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/configuration/overview/ into Japanese
**Why is this needed**
This document is not translated in Japanese.
**Comments**

[2019-11-27 13:03] kakts commented on #17840
/language ja
/assign

[2019-11-27 13:05] kakts commented on #17840
This

[2019-11-27 13:05] #17840 closed

[2019-11-27 13:11] kakts commented on #17741
/assign

[2019-11-27 14:19] yashbhutwala opened #17842 "improve documentation around headlessService and also Statefulsets"
**This is a Bug Report**

**Problem:**
- [ ] Add documentation for [**headless-services**](https://kubernetes.io/docs/concepts/services-networking/service/#headless-services) specifying that exposing ports is only needed if another service discovery mechanism is used, otherwise dns will forward directly to whatever container port.
- [ ] Clarify that a StatefulSet is allowed without a service [k/k

[2019-11-27 16:56] nekrkris opened #17846 "Issue with k8s.io/docs/tasks/administer-cluster/safely-drain-node/"
This is a Bug Report

Problem:
Nowhere in the whole document the node status is mentioned as "Ready,SchedulingDisabled".

Proposed Solution:
Update both https://kubernetes.io/docs/concepts/architecture/nodes/#manual-node-administration and k8s.io/docs/tasks/administer-cluster/safely-drain-node/ to describe correct node status

Page to Update:
https://kubernetes.io/docs/concepts/architecture/nodes/

[2019-11-27 21:12] chuck-confluent opened #17848 "Issue with k8s.io/docs/tasks/tls/managing-tls-in-a-cluster/"
**This is a Bug Report**

**Problem:**

The information presented [here](https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/#a-note-to-cluster-administrators) is vague.

**Proposed Solution:**

Flesh out an example that illustrates what is described.

**Page to Update:**
https://kubernetes.io/...

[2019-11-27 22:32] dims commented on #17634
fyi, we now have a public kind based CI for Antrea - https://github.com/vmware-tanzu/antrea/pull/151

[2019-11-27 23:34] antoninbas commented on #17634
We have also run the conformance tests on the master branch of Antrea a couple days ago (not automated yet). I uploaded the logs there: https://antrea.s3-us-west-2.amazonaws.com/conformance/201911250311_sonobuoy_9cc75991-3b60-4c9f-8f9c-65d4b40b8e53.tar.gz

[2019-11-28 01:56] dims commented on #17634
@neolit123 @sftim we now have
- fully open source CNI implementation
- fully public CI (using kind)
- private test bed running conformance tests (we could consider adding the logs to test grid or something)
- at least one set of public logs

is this enough for https://github.com/kubernetes/website/pull/17635 ? what else needs to be done? please guide @antoninbas and others. we now have #antrea cha

[2019-11-28 02:25] neolit123 commented on #17634
the following last minute criteria was put together for a CNI plugin to be added to the kubeadm guide:

- pass the conformance suite using Sonobuy
- be part of the CNCF CNN landscape:
https://landscape.cncf.io/category=cloud-native-network&format=card-mode&grouping=category
https://github.com/cncf/landscape
- be somewhat popular (this is arbitrary)

please note this criteria was not put together t

[2019-11-28 02:27] neolit123 commented on #17634
existing plugins that do not match this criteria are being removed: https://github.com/kubernetes/website/pull/17694

[2019-11-28 02:29] dims commented on #17634
@neolit123 ack. can you please make sure this criteria is listed in the doc updated in https://github.com/kubernetes/website/pull/17694 ?

[2019-11-28 02:30] neolit123 commented on #17634
not if this is appropriate. will defer to sig-docs whether we want to include the criteria as part of the website pages. @zacharysarah @sftim

[2019-11-28 03:14] #17824 closed

[2019-11-28 03:36] xiqingsong opened #17852 "Issue with k8s.io/docs/reference/kubectl/kubectl-cmds/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-11-28 03:36] #17852 closed

[2019-11-28 03:37] Zossin opened #17853 "Issue with k8s.io/docs/concepts/storage/persistent-volumes/"
**This is a Bug Report**

**Problem:**
Should they be merged into one bullet?
![image](https://user-images.githubusercontent.com/1637100/69775375-824bd180-11d3-11ea-817b-bc80b277e957.png)

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/concepts/storage/persistent-volumes/#writing-portable-configuration

[2019-11-28 06:45] Vageesha17 commented on #17792
hi i am fixing this issue

[2019-11-28 09:24] sftim commented on #17634
I'll leave policy to the [related KEP](https://github.com/kubernetes/enhancements/pull/1327); for this change specifically, I agree that it's not a good fit for the page being changed.

[2019-11-28 10:41] daniel-wtd opened #17859 "Bug: Broken Links at k8s.io/docs/setup/"
The overview table presents some links, which are broken and do not lead anywhere:

- https://kubernetes.io/docs/getting-started-guides/fedora/flannel_multi_node_cluster/
- https://kubernetes.io/docs/getting-started-guides/fedora/fedora_manual_config/

Furthermore, in the overview, there is still a section "Bare Metal" which cannot be found in the current document version (Kubernetes 1.16).

It se

[2019-11-28 10:47] hjacobs commented on #16607
@thockin no, not yet. I was on vacation and will follow up.

[2019-11-28 15:23] LSmyrnaios opened #17862 "Issue with k8s.io/docs/reference/command-line-tools-reference/kube-apiserver/"
**Problem:**
The documentation doesn't not provide any information about installing/initializing the `kube-apiserver`.
Also, there are no usage-examples.

**Proposed Solution:**
Please add installation-info and examples.

**Page to Update:**
https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/

Kubernetes Version: 1.16

[2019-11-28 16:17] dayglojesus opened #17863 "Issue with k8s.io/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods/"
**Problem:**
This information is false ...

Per https://github.com/kubernetes/kubernetes/issues/78383 -- to use `system-cluster-critical` or `system-node-critical`, the Pod must reside in the `kube-system` Namespace.

**Proposed Solution:**

Update the info

**Page to Update:**
https://kubernetes.io/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods/

[2019-11-28 20:02] vprasady266 opened #17864 "Issue with k8s.io/docs/concepts/cluster-administration/certificates/"
How do we replace existing ssl certificates while the cluster is running? For example we need to include a new SAN name to the api server, how do we replace the certificate. Creating a new certificate using openssl and replacing the existing apiserver.crt doesn't make kubernetes pickup the new certificate. Worker nodes don't seem to recognize the new certificate.

[2019-11-28 23:08] DaGuich opened #17865 "Issue with k8s.io/de/docs/setup/"
**This is a Bug Report**

**Problem:**
The German version of https://kubernetes.io/de/docs/setup/ has the issue that the links in the sections point to exactly this page.

**Proposed Solution:**
Create subpages or handle it the same way as the English version of this page

**Page to Update:**
https://kubernetes.io/de/docs/setup/

_EDIT: corrected typo_

[2019-11-29 00:07] ClaudiaJKang opened #17866 "Translate concepts/scheduling/kube-scheduler.md in Korean"
**This is a...**

- [X] Feature Request
- [ ] Bug Report

**Problem:**
[concepts/scheduling/kube-scheduler.md](https://raw.githubusercontent.com/kubernetes/website/dev-1.16-ko.6/content/en/docs/concepts/scheduling/kube-scheduler.md) not translated to Korean.

**Proposed Solution:**
Translate [concepts/scheduling/kube-scheduler.md](https://raw.githubusercontent.com/kubernetes/website/dev-1.16-ko.6/

[2019-11-29 00:07] ClaudiaJKang commented on #17866
/assign

[2019-11-29 00:44] inductor commented on #17669
/close

[2019-11-29 00:44] #17669 closed

[2019-11-29 03:54] fg78nc opened #17869 "Master joining to HA cluster requires RBAC to access cluster-info config-map"
Environment : Ubuntu 18.04 (GKE)
Docker : 18.06.2-ce
Kubernetes (kubeadm, kubelet, kubectl) : 1.16.3

Going through : https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/high-availability/

Trying to join second(third..) master node with :
[code]

and node is stuck with the pre-flight check. Increased verbosity (--v 2) and :

[code]

Trying to troubleshoot and accessing manually

[2019-11-29 03:56] savitharaghunathan commented on #17864
@vprasady266, did you replace the certs in both master and worker nodes?

[2019-11-29 03:58] savitharaghunathan commented on #17863
/language en
/priority backlog

[2019-11-29 04:03] fg78nc opened #17870 "Parallel control-plane joining HA cluster fails due to etcd leader conflict"
Statement from https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/high-availability/

I believe joining multiple control planes may file sometimes due to `etcd leader change`.

Please see stack trace below:

[code]

[2019-11-29 06:54] Vageesha17 commented on #17859
fixing the broken link issue

[2019-11-29 07:15] Vageesha17 commented on #17853
yes it should be merged into one bullet as both the bullets are related to same point.

[2019-11-29 12:31] neolit123 commented on #17870
/close
hi, this is a known problem and we need changes in etcd and kubeadm.
our existing workaround to make the members wait for each other when joining is not working very well.

please track this issue:
https://github.com/kubernetes/kubeadm/issues/1793

[2019-11-29 12:31] #17870 closed

[2019-11-29 12:37] neolit123 commented on #17869
the RBAC for accessing the cluster-info ConfigMap is created by kubeadm init and yes, ConfigMaps in kube-public still require role bindings.

if this RBAC is missing you might have skipped the bootstrap-token phase of kubeadm init?
or maybe something deleted the RBAC?

in any case this is required.

this is an implementation detail that most users don't need to know about.
there are some outdated

[2019-11-29 12:37] #17869 closed

[2019-11-29 12:56] vkkothawale commented on #17497
@GerkinDev I will try the command that you have mentioned and close this issue once that worked.

Thanks

[2019-11-29 13:01] Mazorius opened #17874 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
**This is a Bug Report**

**Problem:**

In the interactive description the `run` command is mentioned but in the code block `create` is used.

**Proposed Solution:**

Think run should be replaced by the new create command.

**Page to Update:**

https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/

[2019-11-29 15:29] fg78nc opened #17875 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm/"
As per documentation this command could be run on host0 and then certificates can be copied to host1.

[code]

But in this case certificate be signed and contain hosts (SAN) as localhost and IP of host0, not host1.

Example:

[code]

[2019-11-29 15:45] professor commented on #14404
I found the original commit. I asked the authors if they still had the original graphic file: https://github.com/kubernetes/website/commit/f084d11d3289f3e9d55025e5cbcdab447303ef69

[2019-11-29 16:18] #17875 closed

[2019-11-29 19:15] vprasady266 commented on #17864
I installed it only in the master under /etc/kubemaster/pki directory. I think the container for apiserver needs to pick this up and it is not happening. I was wondering there needs to be a procedure to update these SSL certificates for the different components in the cluster. I am not able to find the right documentation.

[2019-11-29 21:42] #15185 closed

[2019-11-29 21:42] #14818 closed

[2019-11-29 22:43] #15086 closed

[2019-11-30 02:23] lojies commented on #17874
This seems like the same as #17779.

[2019-11-30 02:43] savitharaghunathan commented on #17864
Is there any error after running the following commands to update new certs?-  https://kubernetes.io/docs/concepts/cluster-administration/certificates/#distributing-self-signed-ca-certificate ?

[2019-11-30 06:07] RA489 commented on #17497
@vkkothawale Sure

[2019-11-30 06:18] banatara opened #17880 "Issue with k8s.io/docs/concepts/architecture/master-node-communication/"
**This is a Bug Report**

**Problem:**
I am not clearly able to differentiate the Cluster to Master. The topic states that its about Master and Node. What do you typically mean to say Cluster and Master in many places inside the doc. It should be Master and Node or Cluster and Node. There is something illogical to say Cluster and Master, since Master is part of the Cluster and we typically mean Cl

[2019-11-30 07:13] Colstuwjx commented on #16776
Hi @sftim ,

Maybe we could push things further one step, by the following guides:

1. as the [index page](https://kubernetes.io/docs/tasks/federation/set-up-cluster-federation-kubefed/) of federation, we still keep the `Deprecated` block to tell users that the federation v1 is not active development anymore and the remain content of the page should tells about federation v2

2. since [kubefed](ht

[2019-11-30 09:04] phanama commented on #15341
I'm taking `Overview of Cloud Native Security`  from `content/id/docs/concepts/security/overview`

[2019-11-30 10:35] niharrp opened #17883 "Issue with k8s.io/docs/reference/kubectl/cheatsheet/"
Info mismatch

# List PersistentVolumes in test namespace sorted by capacity
kubectl get pv -n test --sort-by=.spec.capacity.storage

Most Kubernetes resources (e.g. pods, services, replication controllers, and others) are in some namespaces. However namespace resources are not themselves in a namespace. And low-level resources, such as nodes and **persistentVolumes**, are not in any namespace.

[2019-11-30 15:26] sftim commented on #16776
:+1:

[2019-11-30 15:26] sftim commented on #17736
/sig kubefed

[2019-11-30 15:29] sftim commented on #17842
Seems like a valid issue

/priority backlog

[2019-11-30 15:29] sftim commented on #14725
Also see #17848

[2019-11-30 15:30] sftim commented on #17795
@jjulien would you be willing to replace the pictures of hyperlinks with the URLs as text? That'll help people who want to follow those links.

(you can edit the description of your issue)

[2019-11-30 15:31] sftim commented on #17866
/priority backlog

[2019-11-30 15:35] phanama commented on #15341
I'm taking `CSI Volume Cloning` from `content/id/docs/concepts/storage/volume-pvc-datasource/`

[2019-11-30 15:35] phanama commented on #15341
I'm also taking `Pod Priority and Preemption` from `content/id/docs/concepts/configuration/pod-priority-preemption/`

[2019-11-30 15:36] sftim commented on #17880
@banatar that's a valid observation.

I would reword:
“_Cluster to Master_” → “_Node to control plane_”
“_Master to Cluster_” → “_Control plane to node_”

and make sure that the page makes it clear that it's common and typical to have several nodes (not just one).

**Note**
If anyone is picking this up, also consider renaming the page and adding a redirect. If you're not sure how to do those thing

[2019-11-30 15:37] sftim commented on #17865
/language de

[2019-11-30 15:37] sftim commented on #17883
/kind bug
/priority backlog
/language en

[2019-11-30 15:40] sftim commented on #17874
/kind bug

[2019-11-30 15:42] sftim commented on #17846
I think you're suggesting, @nekrkris, to add an explanation about how to check whether a Node has started draining. Have I got that right?

[2019-11-30 15:43] sftim commented on #17859
/kind cleanup
/language en
/priority backlog

[2019-11-30 15:43] sftim commented on #17853
/kind cleanup

[2019-11-30 15:44] sftim commented on #17853
/close

[2019-11-30 15:44] #17853 closed

[2019-11-30 15:46] sftim commented on #17148
#17862 has a connection to this issue: in both cases, if the reference documentation had a relevant _What's next_ section then the reader can find related content.

[2019-11-30 15:46] sftim commented on #17862
/priority backlog
/language en

[2019-11-30 15:46] sftim commented on #17148
/language en

[2019-11-30 16:28] Mazorius commented on #17874
Closed due to dublicates: #17779

[2019-11-30 16:28] #17874 closed

[2019-11-30 22:08] jjulien commented on #17795
Yea, I don't know what was going on when I created this.  It automatically created those images when I tried to paste in the URLs.  They should work now.

[2019-12-01 02:52] tengqm commented on #17862
The setup procedure is documented [here](https://kubernetes.io/docs/setup/). We are not repeating the content in the reference section.

[2019-12-01 02:52] #17862 closed

[2019-12-01 03:19] tengqm commented on #17837
Cannot reproduce. Looks like a browser issue. Feel free to reopen.

[2019-12-01 03:19] #17837 closed

[2019-12-01 03:31] Colstuwjx opened #17890 "Panic while updating page on docker-serve"
**This is a Bug Report**

Hi team,

I'm running website locally, with `make docker-image` and `make docker-serve`.The first step for `docker-serve` works fine, but when I update the page ( in my case, it was just some modification under page [federation v1](https://github.com/kubernetes/website/blob/master/content/en/docs/tasks/federation/set-up-cluster-federation-kubefed.md) ), it panic with erro

[2019-12-01 03:32] Colstuwjx commented on #17890
/kind bug

[2019-12-01 03:52] tengqm commented on #17750
No. It is always embedded.

According to the swagger API spec, PodTemplates can only be created from other top-level API resources. However, you can list or inspect them at `/api/v1/watch/namespaces/{namespace}/podtemplates/{name}`, `/api/v1/watch/namespaces/{namespace}/podtemplates` etc.

[2019-12-01 03:52] #17750 closed

[2019-12-01 03:56] tengqm commented on #17738
This is because those pages are not yet localized.

[2019-12-01 03:56] #17738 closed

[2019-12-01 03:58] tengqm commented on #17737
Same here. The mentioned pages are not yet localized. So switching languages will redirect you back to the English version -- the correct behavior.

[2019-12-01 03:58] #17737 closed

[2019-12-01 03:58] tengqm commented on #17728
More info is needed. Free free to reopen or file a new issue with details.

[2019-12-01 03:58] #17728 closed

[2019-12-01 03:59] inductor commented on #17738
@tengqm Why does it have "Japanese" in the list? 🤔

[2019-12-01 04:00] tengqm commented on #17725
Concept pages are always general introductions to something. If you want more detailed information, with examples, continue reading the tasks section. We cannot cover all details in concepts.

[2019-12-01 04:00] #17725 closed

[2019-12-01 04:03] tengqm commented on #17337
Dup of ##17792, which is being fixed by #17891.

[2019-12-01 04:03] #17337 closed

[2019-12-01 04:04] tengqm commented on #17724
Dup of ##17792, which is being fixed by #17891.

[2019-12-01 04:04] #17724 closed

[2019-12-01 04:05] tengqm commented on #17705
Please be more specific with the issues. Feel free to reopen with details or file a new one.

[2019-12-01 04:05] #17705 closed

[2019-12-01 04:15] tengqm commented on #17650
@usergithubfor Have you checked the https://kubernetes.io/docs/setup/ page where many ways of installation have been documented? Feel free to reopen this if that is what you need.

[2019-12-01 04:15] #17650 closed

[2019-12-01 04:22] tengqm commented on #17597
@gireeshp If fix #17810 works for you, please close this one.

[2019-12-01 04:29] tengqm commented on #17447
Pls feel free to reopen with details or file a new one.

[2019-12-01 04:29] #17447 closed

[2019-12-01 04:30] tengqm commented on #17436
pls feel free to open with actionable issue details or file a new one.

[2019-12-01 04:30] #17436 closed

[2019-12-01 04:30] tengqm commented on #17410
pls feel free to open with actionable issue details or file a new one.

[2019-12-01 04:30] #17410 closed

[2019-12-01 04:30] tengqm commented on #17382
pls feel free to open with actionable issue details or file a new one.

[2019-12-01 04:30] #17382 closed

[2019-12-01 04:31] tengqm commented on #17116
pls feel free to open with actionable issue details or file a new one.

[2019-12-01 04:31] #17116 closed

[2019-12-01 04:31] tengqm commented on #17112
pls feel free to open with actionable issue details or file a new one.

[2019-12-01 04:31] #17112 closed

[2019-12-01 04:32] tengqm commented on #16811
pls feel free to open with actionable issue details or file a new one.

[2019-12-01 04:32] #16811 closed

[2019-12-01 04:32] tengqm commented on #16711
pls feel free to open with actionable issue details or file a new one.

[2019-12-01 04:32] #16711 closed

[2019-12-01 04:32] tengqm commented on #16619
pls feel free to open with actionable issue details or file a new one.

[2019-12-01 04:32] #16619 closed

[2019-12-01 04:33] tengqm commented on #16367
pls feel free to open with actionable issue details or file a new one.

[2019-12-01 04:33] #16367 closed

[2019-12-01 04:33] tengqm commented on #16361
pls feel free to open with actionable issue details or file a new one.

[2019-12-01 04:33] #16361 closed

[2019-12-01 04:33] tengqm commented on #16348
pls feel free to open with actionable issue details or file a new one.

[2019-12-01 04:33] #16348 closed

[2019-12-01 04:33] tengqm commented on #16287
pls feel free to open with actionable issue details or file a new one.

[2019-12-01 04:33] #16287 closed

[2019-12-01 04:34] tengqm commented on #16250
pls feel free to open with actionable issue details or file a new one.

[2019-12-01 04:34] #16250 closed

[2019-12-01 04:34] tengqm commented on #16259
pls feel free to open with actionable issue details or file a new one.

[2019-12-01 04:34] #16259 closed

[2019-12-01 04:35] tengqm commented on #15973
pls feel free to open with actionable issue details or file a new one.

[2019-12-01 04:35] #15973 closed

[2019-12-01 04:35] tengqm commented on #16064
pls feel free to open with actionable issue details or file a new one.

[2019-12-01 04:35] #16064 closed

[2019-12-01 04:36] tengqm commented on #15865
pls feel free to open with actionable issue details or file a new one.

[2019-12-01 04:36] #15865 closed

[2019-12-01 04:36] tengqm commented on #15545
pls feel free to open with actionable issue details or file a new one.

[2019-12-01 04:36] #15545 closed

[2019-12-01 04:38] tengqm commented on #15757
pls feel free to open with actionable issue details or file a new one.

[2019-12-01 04:38] #15757 closed

[2019-12-01 04:39] tengqm commented on #15511
pls feel free to open with actionable issue details or file a new one.

[2019-12-01 04:39] #15511 closed

[2019-12-01 04:39] tengqm commented on #15457
pls feel free to open with actionable issue details or file a new one.

[2019-12-01 04:39] #15457 closed

[2019-12-01 04:39] tengqm commented on #15441
pls feel free to open with actionable issue details or file a new one.

[2019-12-01 04:39] #15441 closed

[2019-12-01 04:39] tengqm commented on #15217
pls feel free to open with actionable issue details or file a new one.

[2019-12-01 04:39] #15217 closed

[2019-12-01 04:40] tengqm commented on #14512
pls feel free to open with actionable issue details or file a new one.

[2019-12-01 04:40] #14512 closed

[2019-12-01 04:42] tengqm commented on #16429
Looks like the mentioned link is no longer there.
pls feel free to open with actionable issue details or file a new one.

[2019-12-01 04:42] #16429 closed

[2019-12-01 04:59] tengqm commented on #17738
The list of language is from global configuration. We do have "Japanese" in localization. However, there are translation work going on which fall behind the English main site.

[2019-12-01 05:02] tengqm commented on #17890
Your hugo version? You may want to file an issue at hugo site.

[2019-12-01 05:07] Colstuwjx commented on #17890
I'm using our master branch makefile, which said the hugo version is [0.57.2](https://github.com/kubernetes/website/blob/master/Makefile#L2).

Yes, maybe it would be an issue of hugo, but I just wonder anyone could reproduce this issue, update the content while website is docker-serve should be a common case.

Thanks.

[2019-12-01 05:23] #17883 closed

[2019-12-01 05:25] #17859 closed

[2019-12-01 06:27] tengqm commented on #17890
tbh, my experience on hugoing locally is very limited. Maybe you just hit this issue because your change to the markdown files is not making hugo happy? I'm not aware of any issues so far building the site using 0.57.2.

[2019-12-01 07:15] #15274 closed

[2019-12-01 07:35] Colstuwjx commented on #17890
targeted! This issue was confirmed by the hugo official repo, see [PR 6466](https://github.com/gohugoio/hugo/pull/6466) and [relate issue](https://github.com/gohugoio/hugo/issues/6463).

It has been fixed by hugo version 0.59.1, so our version 0.57.2 still meet this issue. You can confirm this by modifying the pages under tasks/federation, after running hugo locally, edit content in the pages woul

[2019-12-01 07:53] Colstuwjx commented on #16776
I'm sorry, I misunderstood before. It seems that we don't setup any pages about federation v2 on our website.

So I have taken [this PR](https://github.com/kubernetes/website/pull/17893) to make our users who are new to kubernetes no longer confused about "why the links in this page is 404 not found".

Thanks.

[2019-12-01 10:28] vkkothawale commented on #17497
@RA489 It worked Thanks I will close this issue now

[2019-12-01 10:28] #17497 closed

[2019-12-01 14:03] #17630 closed

[2019-12-02 00:12] ysyukr commented on #17755
/close

[2019-12-02 00:12] #17755 closed

[2019-12-02 04:09] ronakbanka opened #17898 "Issue with k8s.io/docs/concepts/cluster-administration/cloud-providers/"
**This is a Bug Report**

**Problem:**

Broken link for AWS cloud provider Go source code

**Proposed Solution:**

Need to fix the link to legacy cloud providers GIT repository.

**Page to Update:**
https://kubernetes.io/...

[2019-12-02 08:27] #17898 closed

[2019-12-02 10:42] gireeshp commented on #17597
This change worked for me and the container got created too without any issues. I'm closing this issue.
However, there are two minor changes needed to make it complete, I guess. I'll comment the same against the PR.

[2019-12-02 10:42] #17597 closed

[2019-12-02 11:01] sftim commented on #17738
:thought_balloon: I'm wondering if it's feasible to mark a localization as available in general but missing for the current page.

(if I take this idea further, it belongs in its own issue)

[2019-12-02 11:02] gireeshp opened #17908 "Curl command to test secured service is failing"
**This is a Bug Report**

[Securing the Service](https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/#securing-the-service) section of k8 documentation has below code towards the end of the topic.

[code]

But this fails without specifying '-k' parameter to curl.

**Proposed Solution:**
Add a '-k' parameter to curl command.

**Page to Update:**
https://kubernetes.i

[2019-12-02 11:02] sftim commented on #17738
/remove-kind bug
/remove-priority important-longterm

[2019-12-02 11:20] LSmyrnaios commented on #17862
@tengqm I don't see any instructions for the `kube-apiserver` in the link you provided.
Also, please check this issue [(#85608)](https://github.com/kubernetes/kubernetes/issues/85608) to get a better understanding of the problem I am dealing with.

[2019-12-02 14:11] BenHall commented on #17779
@amalts Sorry for the delay, I didn't see the notification until now. This has been merged.

[2019-12-02 14:31] sumipro4 opened #17911 "Issue with k8s.io/docs/home/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-12-02 15:41] 99887710 opened #17912 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
**This is a Bug Report**

**Problem:**
The connection to the server localhost:8080 was refused - did you specify the right host or port?
**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-12-02 18:02] hansifer opened #17913 "kubectl installation instructions for macOS are incomplete"
**Problem:**

Installation instructions here are incomplete:
https://kubernetes.io/docs/tasks/tools/install-kubectl/#install-kubectl-binary-with-curl-on-macos

**Proposed Solution:**

see: https://github.com/kubernetes/kubernetes/issues/85816#issuecomment-560507373

**Page to Update:**

https://kubernetes.io/docs/tasks/tools/install-kubectl/

[2019-12-02 19:06] danpopSD commented on #17911
@sumipro4 can you provide more detail on what is amiss that needs to updated in the documentation?

[2019-12-02 19:33] danpopSD commented on #17752
#17914

[2019-12-03 02:11] savitharaghunathan commented on #17752
/lifecycle active

[2019-12-03 06:40] RA489 commented on #17911
/triage needs-more information

[2019-12-03 06:44] RA489 commented on #17913
@hansifer Can you please elaborate what issue you got while installation to debug?

[2019-12-03 06:44] RA489 commented on #17913
/triage needs-information

[2019-12-03 06:46] RA489 commented on #17912
@99887710 what is the exact command line executed when you got this error?

[2019-12-03 06:46] RA489 commented on #17912
/triage needs-information

[2019-12-03 06:54] RA489 commented on #17848
@chuck-confluent can you please clarify what is wrong here you faced?

[2019-12-03 06:54] RA489 commented on #17848
/triage needs-information

[2019-12-03 07:16] RA489 commented on #16279
GitHub is not the right place for support requests.

For help, try https://stackoverflow.com/questions/tagged/kubernetes, the http://slack.k8s.io/, or the https://discuss.kubernetes.io/ forum.

[2019-12-03 09:24] biello opened #17924 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/"
**This is a Bug Report**
following the guide [Configure cgroup driver used by kubelet on control-plane node](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#configure-cgroup-driver-used-by-kubelet-on-control-plane-node),
use systemd as docker cgroup driver, write KUBELET_EXTRA_ARGS=--cgroup-driver=systemd to /etc/sysconfig/kubelet but doesn't work.

**Problem

[2019-12-03 11:36] harridu opened #17925 "Improvement for k8s.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/"
IMHO this article is misleading: Merging is a *write* operation. You have 2 or more kubeconfig files and create a merged, new kubeconfig file. Setting KUBECONFIG doesn't merge anything. It just tells kubectl to read several config files.

Question is, can I concatenate kubeconfig files? The article doesn't tell.

This could be improved.

[2019-12-03 12:13] sftim commented on #16279
/close

[2019-12-03 12:13] #16279 closed

[2019-12-03 13:31] sftim commented on #17924
/sig cluster-lifecycle

[2019-12-03 13:33] sftim commented on #17925
That seems different to what the article is saying. I'm not sure I understand what isn't right about the current text.

When you're asking about whether you can concatenate kubeconfig files, what do you mean?
(clearly you're not asking if you cat `cat config*.yaml` because, yes, you can).

[2019-12-03 14:16] #17507 closed

[2019-12-03 14:56] hansifer commented on #17913
The issue I linked tells the whole story: https://github.com/kubernetes/kubernetes/issues/85816#issuecomment-560507373

[2019-12-03 16:02] chuck-confluent commented on #17848
The text says:

This is a bit vague and unfriendly to learners. A quick, illustrative example of what this note describes would be better than the description alone. This example is like vaguely describing how to solve an equation rather than actually solving the equation. E.g. "Integrating both sides reveals that there are infinitely many solutions." Integrating with respect to what? Are there co

[2019-12-03 17:09] php-coder opened #17927 "securityContext.readOnlyRootFilesystem parameter isn't documented"
**This is a Bug Report**
/sig auth

**Problem:**
I found that the `securityConext.readOnlyRootFilesystem` parameter isn't documented. It's mentioned a couple of times on the site in a context of PSP but not as a container's parameter.

**Proposed Solution:**
The page describing `readOnlyRootFilesystem` can mention that it exists and explain what it does and why it's actually a good idea to use it

[2019-12-03 17:17] php-coder commented on #17927
The example of description: https://kubesec.io/basics/containers-securitycontext-readonlyrootfilesystem-true/

[2019-12-03 20:09] jesuslerma commented on #13994
Hi! Can I take this one?

[2019-12-03 21:15] neolit123 commented on #17924
it seems you are not passing the cgroup driver correctly.
also, in the case of docker you don't need to pass the flag.

kubeadm should autodetect the cgroup driver.

try removing:

/triage support

[2019-12-03 21:15] #15312 closed

[2019-12-04 02:49] biello commented on #17924
thanks, it seems kubelet failed to autodetect the cgroup driver of docker.
I tried to remove /etc/sysconfig/kubelet, /etc/systemd/system/kubelet.service.d/10-kubeadm.conf，
but doesn't work, journalctl -xeu kubelet output all the same.

[2019-12-04 02:58] biello commented on #17924
is my docker version 18.06.2-ce too old for autodetection?

[2019-12-04 03:23] neolit123 commented on #17924
kubeadm is responsible for autodetecting the docker version and it passes the matching --cgroup-driver flag to the kubelet when you call `kubeadm init` or `kubeadm join`.

if you have deleted this file you need to re-install the kubelet package.

this version is supported.

[2019-12-04 03:45] tengqm opened #17933 "Improve the secret documentation"
**This is a Feature Request**

**What would you like to be added**
More detailed documentation about Secret, in addition to the current lengthy Secret concept.

**Why is this needed**
We have many secrets about Secret which should be documented. For example, the securet type can be one of:

- `Opaque`
- `kubernetes.io/service-account-token`
- `kubernetes.io/dockercfg`
- `kubernetes.io/dockerconfig

[2019-12-04 03:54] biello commented on #17924
I reinstalled kubelet and checked this file `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf` is empty, and run  `kubeadm init --pod-network-cidr=10.244.0.0/16 --apiserver-advertise-address=myip`, it says
`The HTTP call equal to 'curl -sSL http://localhost:10248/healthz' failed with error: Get http://localhost:10248/healthz: dial tcp 127.0.0.1:10248: connect: connection refused.
[kubelet-che

[2019-12-04 04:03] biello commented on #17924
is there any problem with my OS, docker or something else? Or is it a bug of kubeadm or kubelet?

[2019-12-04 05:00] #14001 closed

[2019-12-04 06:06] pogo-lang commented on #17593
Hey @sftim , is anybody working on this ? If not I would like to take this up.

[2019-12-04 07:06] #17890 closed

[2019-12-04 08:50] Aresforchina commented on #17649
@tanjunchen hi,
I wanna contribute ，too

[2019-12-04 09:22] sftim commented on #14201
/remove-lifecycle stale

[2019-12-04 09:22] sftim commented on #14201
/help
(if anyone would like to - it's a very low priority)

[2019-12-04 09:31] sftim commented on #17593
@pogo-lang please feel free to work on this. You can liaise with @kanhaiyaagrawal01 and it's also OK to submit a pull request separately.

([Slack](https://kubernetes.slack.com/messages/C1J0BPD2M/) is a handy way to chat in more detail if several people do decide to collaborate, or if you want to ask for advice).

[2019-12-04 14:32] tanjunchen commented on #17649
@Aresforchina  welcome!  Thanks your job! keep going on!

[2019-12-04 14:52] neolit123 commented on #17924
this file should not be empty for the kubelet to work.
try uninstalling kubeadm and kubelet and installing them again.

[2019-12-04 23:22] #10226 closed

[2019-12-04 23:24] zacharysarah commented on #17634
Thanks for the feedback, all. Closing this PR based on reviewer responses.

/close

[2019-12-04 23:24] #17634 closed

[2019-12-05 01:12] amalts commented on #17779
/close

[2019-12-05 01:15] amalts commented on #17779
Thanks @BenHall.
This can be closed @andreaskring

[2019-12-05 02:50] biello commented on #17924
thx, I uninstalled kubeadm and kubelet with `yum remove`, and then installed them with `yum install`, but this file `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf` is still empty, any idea?

[2019-12-05 03:12] tengqm opened #17951 "Improve the LimitRange docs."
**This is a Feature Request**
The LimitRange resource documentation should be revised.

**What would you like to be added**

- The current concept page (https://kubernetes.io/docs/concepts/policy/limit-range/) contains too many examples that can be refactored into tasks.
- The design documentation is outdated (https://github.com/kubernetes/community/blob/master/contributors/design-proposals/resour

[2019-12-05 03:48] neolit123 commented on #17924
did you try removing the file first, before installing the packages?
i don't see how after package installation the file will be empty.

closing as not a bug or documentation change request.

/close

[2019-12-05 03:48] #17924 closed

[2019-12-05 08:53] #17729 closed

[2019-12-05 09:38] sftim commented on #17924
/triage support

[2019-12-05 09:41] sftim commented on #17951
/priority important-longterm

[2019-12-05 09:42] sftim commented on #17933
/priority important-longterm

[2019-12-05 15:12] snowsky commented on #17396
@RA489 convert is deprecated:

In order to convert, kubectl apply the object to the cluster, then kubectl get at the desired version.
error: error parsing stable/ipfs/templates/statefulset.yaml: error converting YAML to JSON: yaml: line 6: did not find expected key

[2019-12-06 03:50] tengqm opened #17969 "Add documentation for qualified name"
**This is a Feature Request**

**What would you like to be added**
Kubernetes has an internal definition/consensus of what 'qualified name' means. For example, when specifying a label for a resource, the label name must be a 'qualified name'. There are code to validate these names when a new resource definition is posted to the API server. However, I found no definition of this when greping the we

[2019-12-06 03:53] tengqm commented on #17969
The corresponding upstream code can be found at https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/util/validation/validation.go#L42

[2019-12-06 13:07] sftim commented on #17969
/priority important-longterm

[2019-12-06 13:08] sftim commented on #17908
My take on this is that the current page is accurate about that task, but not clear.

I've suggested that the fix will be to split that task out into its own page, verify that the instructions work, and possibly tweak wording for clarity.

/priority backlog
/language en

[2019-12-06 13:09] sftim commented on #17846
/triage needs-information

[2019-12-06 13:18] #15280 closed

[2019-12-06 14:57] kyp0717 opened #17972 "Issue with k8s.io/docs/tasks/access-application-cluster/connecting-frontend-backend/"
Frontend.yaml file does not work ...

[2019-12-06 15:30] nekrkris commented on #17846
Yes and also the word "SchedulingDisabled" is missing

[2019-12-06 23:27] #14855 closed

[2019-12-07 01:57] reveliotis opened #17981 "Highlight deprecated options in generated reference docs"
DEPRECATED settings could be highlighted using a different color (e.g. orange) to make the review of long lists of settings much easier.

[2019-12-07 09:58] gorda commented on #17649
@tanjunchen Hi,
I wanna contribute ，too, And I found some `404` url

# 404
1.path:content/en/blog/_posts/2016-03-00-1000-Nodes-And-Beyond-Updates-To-Kubernetes-Performance-And-Scalability-In-12.md:170, [null](https://www.blogger.com/null)
2.path:content/en/blog/_posts/2017-12-00-Paddle-Paddle-Fluid-Elastic-Learning.md:36, [figure-2.png](https://4.bp.blogspot.com/-gOMFfnaygSU/WiYgXO_KJ0I/AAAAAAAAAI

[2019-12-07 10:06] tanjunchen commented on #17649
@gorda Sure,Thanks your job!Welcome!

[2019-12-07 10:33] sftim commented on #17846
Ah! Maybe https://kubernetes.io/docs/concepts/architecture/nodes/#condition should be a full list of built-in Node conditions?

[2019-12-07 10:43] sftim opened #17984 "Warn about external tool risk for base64 encoding a Secret"
**This is a security-related issue**

**Problem:**
[Distribute Credentials Securely Using Secrets](https://kubernetes.io/docs/tasks/inject-data-application/distribute-credentials-secure/) suggests using a web tool for encoding a Secret.
Although I have no reason to believe that the tool being recommended is a risk, I would not use a web tool to encode important secrets. So far as I know, there's n

[2019-12-07 10:47] sftim commented on #17981
Thanks for the suggestion!

/kind feature
/priority backlog

[2019-12-07 10:50] sftim commented on #17981
As a first step for this, the code that generates HTML from the source code should change to add extra `class` information to the relevant table rows and / or cells, then add `<span>` elements that wrap the word DEPRECATED and the text that follows.

If anyone is picking this up, also consider logging related issue(s) about adding extra styling for other aspects, eg alpha & beta features.

[2019-12-07 10:51] sftim commented on #17981
/retitle Highlight deprecated options in generated reference docs

[2019-12-07 10:52] sftim commented on #17981
For the tooling, see https://github.com/kubernetes-sigs/reference-docs#kubernetes-reference-docs

[2019-12-07 12:29] sftim commented on #17972
@kyp0717 would you be willing to describe the fault / issue?

For example, what output do you / don't you see when things go wrong?

[2019-12-07 13:38] savitharaghunathan commented on #17972
triage/needs-information

[2019-12-08 03:35] deepakkhetwal opened #17989 "Issue with k8s.io/docs/contribute/"
**This is a Bug Report**

**Problem:**
DNS name or IP name we had to hard code to communicate with other micro service. what's the alternative you have?
**Proposed Solution:**
Should be stored in the form of registry
**Page to Update:**
https://kubernetes.io/...

[2019-12-08 06:25] oke-py commented on #17784
2週間経ちましたが未着手です。
アドベントカレンダー落ち着いたらやるつもりです。

[2019-12-08 13:19] nekrkris commented on #17846
Yes and also the page referred should show the transition in state

[2019-12-08 18:04] sftim commented on #17989
Hi @deepakkhetwal

I'm not sure I understand the issue you're reporting. Can you explain more?

If you wanted to learn about how Kubernetes lets you discover its services, look at [Discovering Services](https://kubernetes.io/docs/concepts/services-networking/service/#discovering-services), [Publishing Services](https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-se

[2019-12-08 18:09] sftim commented on #17736
/priority important-longterm

so as not to mislead readers

[2019-12-08 19:24] sftim commented on #17798
That makes sense
/remove-triage needs-information
/priority important-longterm

[2019-12-08 19:24] sftim commented on #17798
I'm going to make this instantly frozen too, so it doesn't get overlooked
/lifecycle frozen

[2019-12-08 19:26] sftim commented on #17817
@ilyaspiridonov would you like to suggest this at a future SIG Docs meeting?
(I think that's a typical way to propose the kind of change you have in mind)

[2019-12-08 20:12] sftim opened #17999 "Translate diagram in What Is Kubernetes? page to Korean"
**This is a localization request**

**What would you like to be changed**
https://kubernetes.io/ko/docs/concepts/overview/what-is-kubernetes/ is in Korean; however, the diagram is currently labelled only in English.

This issue tracks localizing that diagram.

https://kubernetes.io/ko/docs/concepts/overview/what-is-kubernetes/ is a page that new readers may visit to understand Kubernetes, so it is

[2019-12-08 21:52] vishakhanihore commented on #17984
@sftim I would be handling this. /assign

[2019-12-08 21:52] vishakhanihore commented on #17984
/assign

[2019-12-08 23:18] vishakhanihore commented on #17181
@vanou @aimeeu  Can I work on this issue, if the issue has been already discussed in the meeting?

[2019-12-08 23:20] vishakhanihore commented on #17108
@BenHall Is the issue still open ?

[2019-12-08 23:21] vishakhanihore commented on #16977
/assign

[2019-12-08 23:21] vishakhanihore commented on #16977
PR will be ready in a day. @aimeeu

[2019-12-08 23:37] vishakhanihore opened #18003 "Navigation bar dropdown Contents are hidden with Safari browser"
**This is a Bug Report**

**Problem:**

The Navigation Bar has several options that contain some dropdowns like version and details about those dropdowns are hidden underway.

**Proposed Solution:**

Make the dropdown not bounded by the Nav-Bar Container

**Screenshot**
<img width="1337" alt="Screenshot 2019-12-09 at 5 04 51 AM" src="https://user-images.githubusercontent.com/54327666/70398461-c942

[2019-12-08 23:37] vishakhanihore commented on #18003
@parispittman @bobbytables Please provide labels.

[2019-12-08 23:38] vishakhanihore commented on #17933
@sftim Can you please point me where can I read more about `secret`, Also which could help in add & improving the following?
Thanks

[2019-12-08 23:41] bobbytables commented on #18003
Wrong @mrbobbytables I believe

[2019-12-08 23:46] vishakhanihore commented on #18003
Updated, Sorry for this ping!

[2019-12-09 00:12] mrbobbytables commented on #18003
@vishakhanihore can you provide a bit more info? like which page / browser you're using?
It's working for me under chrome/osx on several pages
<img width="1400" alt="Screen Shot 2019-12-08 at 7 10 02 PM" src="https://user-images.githubusercontent.com/6500863/70399015-9b802980-19ee-11ea-93a7-8c2cf290f640.png">

[2019-12-09 00:14] vishakhanihore commented on #18003
I was on the index page.

On Mon, 9 Dec, 2019, 05:42 Bob Killen, <notifications@github.com> wrote:

[2019-12-09 00:14] vishakhanihore commented on #18003
Also I was using Safari/MacOs-Catalina

On Mon, 9 Dec, 2019, 05:44 Vishakha Nihore, <vishakhanihore.10@gmail.com>
wrote:

[2019-12-09 02:14] deepakkhetwal commented on #17989
I have requirement. I have to call one http micro service, products http://products/v1 from another micro service catalog, to call products micro service, If I use kubernetes dns naming, I am assuming, I would have to hardcode http://products/V1 with in catalog micro service. Is there a better way like having a registry of these urls at common place?

[2019-12-09 04:34] tengqm commented on #17933
This information is in the upstream source code. There is no convenient way for dumping them as swagger/openapi specs which are used for generating the API reference documentation. I would even suspect there could be one in future given the complexity of the semantics and nesting of struct definitions in Go lang.
You have to read the source code to understand the many constraints for resources lik

[2019-12-09 05:08] vanou commented on #17181
@vishakhanihore
Sorry. I haven't yet discussed it on meeting. However I'll do on next meeting (10th Dec).

[2019-12-09 10:08] oliversalzburg opened #18012 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/"
**This is a Bug Report**

**Problem:**
The page states "Swap disabled. You MUST disable swap in order for the kubelet to work properly."

**Proposed Solution:**
Explain why swap **MUST** be disabled.

**Page to Update:**
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/

[2019-12-09 12:10] neolit123 commented on #18012
hi, this is something that should be expanded in detail in the kubelet documentation and not the kubeadm docs (kubeadm/install-kubeadm/), feel free to send PRs if you'd like.

links:
https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/
https://discuss.kubernetes.io/t/swap-off-why-is-it-necessary/6879

/sig node
/help wanted

[2019-12-09 12:10] neolit123 commented on #18012
/help

[2019-12-09 12:23] RobertKielty commented on #16281
/remove-lifecycle stale

I'll take a look again at implementing this over the holidays

[2019-12-09 12:23] mrbobbytables commented on #18003
It looks to be a Safari specific bug, both chrome and firefox render it correctly.
/kind bug

[2019-12-09 12:48] vishakhanihore commented on #18003
Is it ok for me to look into `bugs label` too?

On Mon, 9 Dec, 2019, 17:53 Bob Killen, <notifications@github.com> wrote:

[2019-12-09 13:07] mrbobbytables commented on #18003
Yup. It's used as a triaging tool to help sort issues :)

[2019-12-09 14:16] sftim commented on #18003
/retitle Navigation bar dropdown Contents are hidden with Safari browser

/priority backlog
(I think)

[2019-12-09 14:24] sftim commented on #18012
/priority backlog

[2019-12-09 14:25] sftim commented on #17784
/priority backlog

[2019-12-09 14:26] sftim commented on #17795
Thanks @jjulien
/priority backlog
/good-first-issue

[2019-12-09 14:28] sftim commented on #17663
@leon0707 I think you can best get help via other avenues. GitHub is not the right place for support requests.

If you're still looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

/triage support

[2019-12-09 14:45] chainhead opened #18022 "MutatingWebhookConfiguration for webhook implementation."
**This is a Feature Request**

**What would you like to be added**
The `MutatingWebhookConfiguration` for the webhook server (https://github.com/kubernetes/kubernetes/blob/v1.13.0/test/images/webhook/main.go) referred to here - https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#deploy-the-admission-webhook-service

**Why is this needed**
The webhook server go

[2019-12-09 15:55] iamtodor opened #18024 "Issue with k8s.io/docs/tasks/tools/install-minikube/"
**This is a Bug Report**

I've got some warning while starting minikube with google cloud's kubectl. To be honest, I didn't noticed it's a warning cause of ⚠️sign, I thought it doesn't start.

**Problem:**
[code]

**Proposed Solution:**
Add implicit warning with a word message; realize how to prevent to get this warning.
**Page to Update:**
https://kubernetes.io/docs/setup/learning-environment/min

[2019-12-09 18:09] stricq opened #18026 "Document preferences for kubeconfig"
The preferences object is not described.  It is shown in the example configs as an empty object, but it's never mentioned in the text.

[2019-12-09 18:31] daminisatya opened #18032 "Freeze the repo, Monday, December 9th 2019 for 1.17 release"

[2019-12-09 19:03] BenHall commented on #17108
@vishakhanihore I think it can be closed :)

[2019-12-09 19:52] kbhawkey commented on #17108
👍

[2019-12-09 20:10] vishakhanihore commented on #17108
Cool.

On Tue, 10 Dec, 2019, 01:22 Karen Bradshaw, <notifications@github.com>
wrote:

[2019-12-09 20:41] #18032 closed

[2019-12-09 22:21] neolit123 commented on #18024
hi

on a quick look:

this is not good because your server and client versions have a big difference (skew). they should be one MINOR apart, at most. or better - the client and server version matching.

try downloading a different version of kubectl.
/close
/triage support

[2019-12-09 22:21] #18024 closed

[2019-12-09 22:33] sftim commented on #18026
That seems entirely reasonable @stricq
/retitle Document preferences for kubeconfig
/priority important-longterm

[2019-12-09 22:44] sftim commented on #12303
/remove-lifecycle stale

[2019-12-09 22:44] sftim commented on #12233
/remove-lifecycle stale

[2019-12-09 22:44] sftim commented on #12082
Never got round to this.
/remove-lifecycle stale

[2019-12-10 00:20] sftim commented on #14307
/remove-lifecycle stale

[2019-12-10 00:28] ynwd commented on #12827
Same here:
[code]

[2019-12-10 00:40] sftim opened #18038 "kubectl generated docs show path of user running generation tools"
**This is a Bug Report**

**Problem:**
Spotted as part of review for #18010

@daminisatya generated docs which ended up containing:
[code]

whereas the docs should really show something like:
[code]

**Proposed Solution:** This needs fixing either upstream in the generation code, or maybe in the [wrapper tooling](https://kubernetes.io/docs/contribute/generate-ref-docs/kubernetes-components/).

Alt

[2019-12-10 00:41] sftim commented on #9829
/remove-lifecycle stale

[2019-12-10 01:05] tengqm commented on #14724
/remove-lifecycle stale

[2019-12-10 01:07] tengqm commented on #14713
/remove-lifecycle stale

[2019-12-10 01:09] tengqm commented on #14639
/remove-lifecycle stale

[2019-12-10 01:10] tengqm commented on #14435
/remove-lifecycle stale

I believe there are still some work to do for this.

[2019-12-10 01:20] tengqm commented on #14210
filed an issue: https://github.com/kubernetes-sigs/reference-docs/issues/96

[2019-12-10 01:31] tengqm commented on #7386
/remove-lifecycle stale

[2019-12-10 01:49] tengqm commented on #14904
/remove-lifecycle stale

Maybe we switch to the markdown format docs for kubectl.

[2019-12-10 01:56] tengqm commented on #15536
There is no clear path to get this solved in the short/middle term. Consider the metadata.name field as an example. Is it required or not? It is required when 1) generateName is not specified; 2) you are creating a new resource. It is optional when you are doing a PUT or PATCH on the same resource. It is always there when you are doing a GET. The sad thing is that this field is implemented as a sh

[2019-12-10 02:00] khrd commented on #17739
i will take on this issue.

[2019-12-10 02:00] khrd commented on #17739
/assign

[2019-12-10 02:42] jaredledvina commented on #12327
/remove-lifecycle stale

[2019-12-10 03:10] sftim commented on #14742
/remove-lifecycle stale

[2019-12-10 03:10] sftim commented on #14742
/help

[2019-12-10 03:27] gochist opened #18048 "Outdated files in the dev-1.16-ko.7"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.16-ko.7 branch.

### 24 files to be modified
1. [ ] content/en/_index.html 1 file changed, 2 insertions(+), 2 deletions(-)
1. [ ] content/en/docs/concepts/architecture/cloud-controller.md 1 file changed, 1 insertion(+), 1 deletion(-)
1. [ ] content/en/docs/concepts/overview/what-is-kubernetes.md 1 file changed, 3 insertions(+),

[2019-12-10 03:28] gochist opened #18049 "Outdated files in the dev-1.17-ko.1"
# This is a Bug Report
## Problem
Outdated files in the dev-1.17-ko.1 branch.

### 28 files to be modified
1. [ ] content/en/_index.html 1 file changed, 2 insertions(+), 2 deletions(-)
1. [ ] content/en/docs/concepts/architecture/cloud-controller.md 1 file changed, 1 insertion(+), 1 deletion(-)
1. [ ] content/en/docs/concepts/architecture/nodes.md 1 file changed, 25 insertions(+), 24 deletions(-)

[2019-12-10 03:50] sftim commented on #16006
/remove-lifecycle stale

[2019-12-10 03:58] sftim commented on #14992
/remove-lifecycle stale

[2019-12-10 03:58] sftim commented on #14833
/remove-lifecycle stale

[2019-12-10 04:09] tengqm commented on #15353
This need to be revisited.
/remove-lifecycle stale

[2019-12-10 04:31] sftim commented on #15909
/remove-lifecycle stale

[2019-12-10 04:31] sftim commented on #15907
/remove-lifecycle stale
/help

[2019-12-10 04:32] sftim commented on #15088
/lifecycle frozen

[2019-12-10 04:35] sftim opened #18052 "--show-hidden-metrics-for-version flag missing from documentation"
**This is a Bug Report**

**Problem:**
@RainbowMango [reported](https://github.com/kubernetes/website/pull/17471#issuecomment-563605423):

**Proposed Solution:**
Identify issue with generated content.
Amend generated content with update pull request?

**Page to Update:**
https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/

**Additional Information**:
My guess is that

[2019-12-10 04:36] sftim commented on #15957
/remove-lifecycle stale

[2019-12-10 04:38] sftim opened #18053 "Broken link on https://kubernetes.io/docs/concepts/services-networking/endpoint-slices/"
**This is a Bug Report**

**Problem:** https://kubernetes.io/docs/concepts/services-networking/endpoint-slices/ hyperlinks to https://kubernetes.io/docs/tasks/administer-cluster/enabling-endpoint-slices/ but there is no such page.

**Proposed Solution:**
~Add the task page based on https://github.com/kubernetes/website/pull/17480~
Remove the broken link

**Page to Update:**
https://kubernetes.io/d

[2019-12-10 04:39] sftim commented on #18053
/remove-priority important-soon
/priority important-longterm

[2019-12-10 04:40] ysyukr commented on #18048
/assign

[2019-12-10 04:40] ysyukr commented on #18049
/assign

[2019-12-10 04:51] sftim commented on #16005
This work is started! https://kubernetes.io/ru/

[2019-12-10 04:51] #16005 closed

[2019-12-10 05:01] sftim commented on #15585
/remove-lifecycle stale

[2019-12-10 05:01] sftim commented on #16209
/remove-lifecycle stale

[2019-12-10 05:17] sftim commented on #14822
Also see ##15461

[2019-12-10 05:18] sftim commented on #15461
/remove-lifecycle stale

[2019-12-10 08:02] idealhack commented on #15861
looks like it's time to stop using `release-x.y` branches as the base branch.

[code]

https://kubernetes.slack.com/archives/CE3LNFYJ1/p1575946765043800

[2019-12-10 08:15] chenxuc opened #18055 "Issue with k8s.io/docs/tutorials/hello-minikube/"
**This is a Bug Report**

**Problem:**
Some command ouputs are out-of-date (from an old version minikube). We need to update the command outputs with current version minikube (v1.5.2) to avoid confusion.

1. The output for "minikube addons list" is outdated. e.g. "coredns" is not a default addon in current version minikube.

2. The output for "kubectl get pod,svc -n kube-system" is incorrect.
"ser

[2019-12-10 08:16] chenxuc commented on #18055
/assign

[2019-12-10 08:31] iamtodor commented on #18024
@neolit123 From my point of view, it misleads. It tells you to update `You will need to update /Users/iamtodor/Downloads/google-cloud-sdk/bin/kubectl `, when I try to update I see I have the latest version

[2019-12-10 09:19] caiconkhicon commented on #13305
/remove-lifecycle stale

[2019-12-10 09:29] lojies commented on #18052
@sftim, can this page keep this same as `kube-apiserver -h`.I think it's hard to maintain this by the current form.Is there any suggertion for this?

[2019-12-10 09:29] sftim commented on #15908
/remove-lifecycle stale

[2019-12-10 09:30] sftim commented on #15908
/good-first-issue

[2019-12-10 09:30] sftim commented on #15709
/remove-lifecycle stale

[2019-12-10 09:30] sftim commented on #15709
/sig usability

[2019-12-10 09:30] sftim commented on #15709
/sig cli

[2019-12-10 09:33] sftim commented on #14727
/remove-lifecycle stale

[2019-12-10 09:34] sftim commented on #14956
/remove-lifecycle stale

[2019-12-10 09:35] sftim commented on #16059
/remove-lifecycle stale

[2019-12-10 09:35] sftim commented on #15539
/remove-lifecycle stale

[2019-12-10 09:35] sftim commented on #15498
/remove-lifecycle stale

[2019-12-10 09:37] sftim commented on #18052
@lojies I'm not sure what you're saying here.

If you're saying that the current process for incorporating generated reference documentation is a hard to use, I agree.

[2019-12-10 11:10] tengqm commented on #18052
The reference docs are not generated correctly. I suspect that the generator didn't update the MINOR_VERSION in the Makefile before running `make comp`.

[2019-12-10 11:18] sftim commented on #18052
/kind bug

[2019-12-10 11:19] sftim commented on #18055
Thanks @chenxuc
/kind cleanup

[2019-12-10 11:29] max-rocket-internet commented on #12322
/remove-lifecycle stale

[2019-12-10 11:29] max-rocket-internet commented on #12322
I still want to know the policy here 😅

[2019-12-10 11:47] neolit123 commented on #18024
you should update your kubectl binary and then type `kubectl version` to make sure the update worked.
cc @tstromberg

[2019-12-10 14:36] kbhawkey commented on #15877
/remove-lifecycle stale

[2019-12-10 14:39] kbhawkey commented on #14646
I am not sure where this issue stands. It may be helpful to keep an open issue about improving/increasing the visibility of security related content (container, data, network, ...) in the k8s docs.

[2019-12-10 14:49] kbhawkey commented on #14180
- I plan on closing this issue. I believe @tengqm added a publish date to the API reference.
Something similar could be added to the kubectl command reference, if there is an interest.
- A publish date (or commit id) on a content page is an effective way of establishing when the content was changed/updated. Just displaying the page as part of a particular release set does not guarantee that the pa

[2019-12-10 14:49] #14180 closed

[2019-12-10 14:50] jimangel commented on #14646
/remove-lifecycle stale

[2019-12-10 15:28] premkumar403 commented on #15875
/remove-lifecycle stale

[2019-12-10 15:49] trevorackerman-wk commented on #14275
/remove-lifecycle stale.

[2019-12-10 16:25] kbhawkey commented on #18052
Currently, the Makefile requires updating as part of the generation process. This has always been the case and is probably documented.
One way to address that issue would be to update the Makefile after the `getting` the reference repo. Could simply add a sed call to the `generate-command` and modify the Makefile.

[2019-12-10 18:19] kbhawkey opened #18061 "release 1.17, component tool build failure"
**This is a Bug Report**

**Problem:**
Using the updated script (python3 update-imported-docs.py reference.yml) for the v1.17 release, the script fails to build the components (several issues).

**Proposed Solution:**
[x] Modify script config to update the reference Makefile, MINOR_VERSION.
[?] There appears to be a problem with the go version and building certain component dependencies. Still inv

[2019-12-10 18:36] kbhawkey commented on #18061
/assign

[2019-12-10 18:43] kbhawkey commented on #18061
With go version go1.13.5 linux/amd64

   ./vendor/github.com/go-bindata/go-bindata/go-bindata
src/vendor/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/envelope.go:31:2: use of vendored package not allowed
src/vendor/golang.org/x/crypto/ssh/kex.go:19:2: use of vendored package not allowed
src/vendor/golang.org/x/crypto/ssh/cipher.go:21:2: use of internal package vendor/golang.org/x/crypto/int

[2019-12-10 18:59] kbhawkey commented on #18061
# k8s.io/kubernetes/cmd/kube-apiserver/app
../../../k8s.io/kubernetes/cmd/kube-apiserver/app/server.go:427:70: undefined: "k8s.io/kubernetes/pkg/generated/openapi".GetOpenAPIDefinitions
Makefile:46: recipe for target 'comp' failed

[2019-12-10 22:59] mikaelmendoza21 opened #18066 "Issue with k8s.io/docs/tutorials/kubernetes-basics/scale/scale-interactive/"
**This is a Bug Report**

**Problem:** Documentation refers to _READY_ column on "Interactive Tutorial - Scaling Your App" module; however, no READY column appears on terminal after running `kubectl get deployments`

**Proposed Solution:** Update docs.

**Page to Update:**
https://kubernetes.io/docs/tutorials/kubernetes-basics/scale/scale-interactive/

Kubernetes Version:
kubectl v1.11.0

[2019-12-10 23:17] jimangel commented on #15861
Since we're changing the process a little, @chenrui333 or @tengqm can you please add `/cc @kubernetes/sig-docs-en-owners` on the next switch to `master` or `dev-x.xx`? It will help keep everyone in sync!

Thanks @idealhack and @tengqm!

[2019-12-10 23:21] douwilliam opened #18068 "Issue with k8s.io/docs/concepts/services-networking/network-policies/"
**This is a Bug Report**

I think this sample is not correct, should except sample be 172.17.1.0/8?
if except 172.17.1.0/24, the subnet will be 255.0.0.0, all 172.17.0.0/16 will be excepted

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-12-10 23:24] jimangel commented on #15861
/remove-lifecycle stale

[2019-12-11 01:05] ysyukr opened #18071 "Link modification is required for 2 documents."
**This is a Bug Report**

**Problem:**
Some links in documents between ingress/ingress controllers go to the original.

- [x] dev-1.16-ko.7
- [x] dev-1.17-ko.1

**Proposed Solution:**
Link modification is required for 2 documents.

**Page to Update:**
https://kubernetes.io/ko/docs/concepts/services-networking/ingress/
https://kubernetes.io/ko/docs/concepts/services-networking/ingress-controllers/

[2019-12-11 01:06] ysyukr commented on #18071
/assign

[2019-12-11 01:20] tengqm commented on #18061
Yes. I noticed this failure as well.

[2019-12-11 01:22] tengqm commented on #15861
Sure, @jimangel, will keep an eye on it.

[2019-12-11 01:34] jmyung commented on #13943
/remove-lifecycle stale

[2019-12-11 02:36] vanou commented on #17181
I talked about this at today's meeting(2019/12/10). And I have a role to update *Document Style Guide* to add a guide around this issue. Discussion around this should be held at PR I'll create.

[2019-12-11 05:50] idealhack commented on #15861
cc @kubernetes/sig-docs-zh-owners @kubernetes/sig-docs-zh-reviews ^^^^

[2019-12-11 06:46] phanama commented on #15341
I'm taking `Managing Compute Resources for Containers` from `content/id/docs/concepts/configuration/manage-compute-resources-container/`

[2019-12-11 06:47] phanama commented on #15341
And `Resource Quotas` from `content/id/docs/concepts/policy/resource-quotas`

[2019-12-11 06:50] rockmenjack opened #18074 "Issue with k8s.io/docs/concepts/services-networking/dns-pod-service/"
**This is a Bug Report**

**Problem:**
in real k8s cluster Pod resolved to ```foo.bar.my-namespace.svc.cluster-domain.local``` instead of
```foo.bar.my-namespace.svc.cluster-domain.example```.
**Proposed Solution:**
Update document to ```foo.bar.my-namespace.svc.cluster-domain.local```
**Page to Update:**
https://kubernetes.io/...

[2019-12-11 09:57] oke-py opened #18075 "Issue with k8s.io/ja/docs/concepts/workloads/controllers/statefulset/"
**This is a Bug Report**

**Problem:**

YAML indents are broken.
![sts](https://user-images.githubusercontent.com/4710215/70611085-fc566e80-1c47-11ea-865f-6f3132ccff9b.png)

**Proposed Solution:**

Correct indents.

**Page to Update:**
https://kubernetes.io/ja/docs/concepts/workloads/controllers/statefulset/

/language ja

[2019-12-11 10:07] oke-py commented on #18075
It seems that YAML is correctly written... Is this a rendering issue?
https://github.com/kubernetes/website/blob/master/content/ja/docs/concepts/workloads/controllers/statefulset.md

[2019-12-11 10:26] sftim commented on #16062
/remove-lifecycle stale

[2019-12-11 10:29] sftim commented on #18074
`foo.bar.my-namespace.svc.cluster-domain.example` is an example. If you have a real cluster, the domain for your cluster might be different.

I don't see that there's anything to fix @rockmenjack.

[2019-12-11 12:30] sftim opened #18078 "Explain “add-ons” in Hello Minikube"
**This is a suggestion**

**Idea:**
People reading Hello Minikube might not know what an add-on is. They can use the site search. TO be extra informative, the Hello Minikube page can signpost readers to find more information.

**Proposed Solution:**
Explain “add-ons” in Hello Minikube by either:
- add a hyperlink to https://kubernetes.io/docs/concepts/cluster-administration/addons/
- add a [glossa

[2019-12-11 12:32] sftim commented on #18078
If you're new to SIG Docs and would like advice on picking this up, reply to this comment with your question.
You can also ask via [Slack](https://kubernetes.slack.com/messages/C1J0BPD2M/) - get an invitation from https://slack.k8s.io/

[2019-12-11 12:32] sftim commented on #18078
/priority backlog

[2019-12-11 13:31] vietnguyen1254 opened #18079 "Issue with k8s.io/docs/tutorials/kubernetes-basics/explore/explore-interactive/"
**This is a Bug Report**

**Problem:**
Can not run this command:
curl http://localhost:8001/api/v1/namespaces/default/pods/$POD_NAME/proxy/

it returns this: Error trying to reach service: 'dial tcp 172.17.0.6:80: connect: connection refused'

**Step to reproduce:**
I follow the instruction from this website: https://kubernetes.io/docs/tutorials/kubernetes-basics/

However, instead of using the si

[2019-12-11 15:17] KimMJ opened #18080 "Translate concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases.md in Korean

**Why is this needed**
No translation with concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases.md in Korean

**Comments**

Page to Update:
https://kubernetes.io/docs/concepts/services-networking/add-entries-t

[2019-12-11 15:18] KimMJ commented on #18080
/language ko
/assign

[2019-12-11 19:09] noambenami opened #18084 "Improvement for k8s.io/docs/concepts/overview/components/"
This is  second page of the docs, but already talks about pods and services, which have not been explained yet.

This is probably the most common of all technical documentation failures: Discussing technical concepts that have not yet been explained.

And it's one of the most frustrating because as a reader, I cannot gronk the sputties without understanding what gronks or sputties mean.

[2019-12-11 19:43] jearls opened #18085 "Issue with k8s.io/docs/concepts/services-networking/service/"
**This is a Bug Report**

**Problem:**

Nowhere is it explicitly described, in this page or elsewhere, that the `Endpoints` name must match the `Service` name.  Please make this explicit.

Throughout this documentation, the documentation authors have made the mistake of assuming that a single (or even multiple) examples is a suitable replacement for definitive specifications.  This is not true, an

[2019-12-11 21:19] lgarron commented on #2644
/remove-lifecycle stale

[2019-12-11 22:06] sftim commented on #18079
One of the steps asks you to run:
[code]

Did that go OK? You need to _leave that proxy running_; maybe the page should make that clearer for any reader following along from home.

[2019-12-11 22:07] sftim commented on #18079
What's the environment that you're running `minikube` on @vietnguyen1254 ?

[2019-12-11 22:09] sftim commented on #18075
Definitely a bug, even if we're not sure where
/kind bug
/priority backlog

(low-ish priority assuming only 1 page has this symptom)

[2019-12-11 22:15] vietnguyen1254 commented on #18079
Thanks for the answer @sftim

Yes, I leave the proxy running. It can return a json when I call: curl http://localhost:8001/version. But when I call the pod, then, it returns: Error trying to reach service: 'dial tcp 172.17.0.6:80: connect: connection refused'

I am running in CentOS 8 in Vsphere.

I don't know but i think the issue is with the port??.

When I try to call server.js with bash sessio

[2019-12-11 22:27] sftim commented on #14964
I noticed that https://kubernetes.io/docs/setup/best-practices/ doesn't really cover the benefits of a multi-master control plane. That'd be worth explaining too.

[2019-12-11 23:13] sftim opened #18086 "Incorrect feature state details for cloud controller manager"
**This is a Bug Report**

**Problem:**
The feature state information for the cloud-controller-manager is both unclear and inconsistent. For example, https://kubernetes.io/docs/tasks/administer-cluster/running-cloud-controller/ implies that cloud-controller-manager went beta in the last release (currently v1.17).

**Proposed Solution:**
- find out the actual feature state information for the cloud-

[2019-12-11 23:14] sftim commented on #18084
A valid point @noambenami - thanks for pointing that out.
/priority important-longterm
/language en

[2019-12-11 23:17] sftim commented on #18066
[code]

I see a `READY` column, using the interactive tutorial and the cluster it provides. That's with a more recent version of Kubernetes; v1.11 is now out of official support. Maybe `kubectl` worked differently a few releases ago?

[2019-12-11 23:19] sftim commented on #18079
I'm wondering what kind of CNI you have installed into your cluster @vietnguyen1254
I think the documentation is accurate though. These guides assume you used Minikube to set up your cluster.

/triage support

[2019-12-11 23:26] sftim commented on #15572
/remove-lifecycle stale

[2019-12-11 23:27] sftim commented on #14770
Also see #18085

[2019-12-11 23:27] sftim commented on #14770
/remove-lifecycle stale

[2019-12-11 23:31] mikaelmendoza21 commented on #18066
Ok, I retried the tutorial page and it now runs kubectl v1.15.2.
The `READY` column is there.

[2019-12-11 23:31] #18066 closed

[2019-12-12 00:10] ysyukr opened #18088 "Translate services-networking/service-topology.md in Korean."
**This is a Feature Request**

**What would you like to be added**
Translate services-networking/service-topology.md in Korean.

**Why is this needed**
The following files are not translated into Korean.
- [ ] /en/docs/concepts/services-networking/service-topology.md

**Comments**
Page to update: https://kubernetes.io/docs/concepts/services-networking/service-topology/

I am translating this docum

[2019-12-12 00:10] ysyukr commented on #18088
/assign

[2019-12-12 00:58] sftim commented on #18038
/priority backlog

[2019-12-12 02:02] sftim commented on #18068
@douwilliam I think your network address calculations are off.
An exception `172.17.1.0/24` means the mask for the exception is 24 bits of `1` and then the rest is `0` ie `1111111111111111111100000000` or `255.255.255.0`

/triage support

[2019-12-12 07:22] ysyukr commented on #18080
안녕하세요.
@KimMJ 님께서 올려주신 이슈는 #17790 에 먼저 올라온걸로 확인이 되고 있습니다.
이에 다른 문서 선택을 요청드립니다.

[2019-12-12 07:58] KimMJ commented on #18080
@ysyukr
넵. 제가 확인을 잘못했네요.
다른 문서 찾아보겠습니다!

[2019-12-12 07:58] #18080 closed

[2019-12-12 08:06] #17911 closed

[2019-12-12 08:07] ysyukr commented on #17302
/close

[2019-12-12 08:07] #17302 closed

[2019-12-12 08:09] ysyukr opened #18097 "Translate services-networking/dual-stack.md in Korean."
**This is a Feature Request**

**What would you like to be added**
Translate services-networking/dual-stack.md in Korean.

**Why is this needed**
The following files are not translated into Korean.
- [ ] /en/docs/concepts/services-networking/dual-stack.md

**Comments**
Page to update: https://kubernetes.io/docs/concepts/services-networking/dual-stack/

I am translating this document.
The translate

[2019-12-12 08:09] ysyukr commented on #18097
/assign

[2019-12-12 08:12] ysyukr opened #18098 "Translate services-networking/network-policies.md in Korean."
**This is a Feature Request**

**What would you like to be added**
Translate services-networking/network-policies.md in Korean.

**Why is this needed**
The following files are not translated into Korean.
- [ ] /en/docs/concepts/services-networking/network-policies.md

**Comments**
Page to update: https://kubernetes.io/docs/concepts/services-networking/network-policies/

I am translating this docum

[2019-12-12 08:12] ysyukr commented on #18098
/assign

[2019-12-12 12:59] kumareshr opened #18102 "Issue with k8s.io/docs/tasks/administer-cluster/kubelet-config-file/"
No proper information on available kubelet.config.k8s.io/v1beta1 options, Please add that in this page

[2019-12-12 13:17] sftim commented on #18102
Suggested fix: add a link to relevant reference documentation
(this might also mean making that reference documentation exist or be generated, so it could be a chunk of work)

/kind feature

[2019-12-12 13:17] sftim commented on #18102
/language en

[2019-12-12 13:18] sftim commented on #18071
/kind cleanup
/priority backlog

[2019-12-12 15:19] dns2utf8 opened #18106 "Issue with k8s.io/docs/concepts/overview/working-with-objects/annotations/"
**This is a Bug Report**

**Problem:**
I am searching for a command to get the annotations for a certain object with kubectl

**Proposed Solution:**
Something like this but more readable:
[code]

**Page to Update:**
https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/

Kubernetes Version: 1.15.6

Thank you

[2019-12-12 15:48] KimMJ opened #18108 "Translate concepts/configuration/assign-pod-node.md in Korean."
**This is a Feature Request**

**What would you like to be added**

Translate concepts/configuration/assign-pod-node.md in Korean.

**Why is this needed**

No translation with concepts/configuration/assign-pod-node.md in Korean

**Comments**

Page to Update:
https://kubernetes.io/docs/concepts/configuration/assign-pod-node/

[2019-12-12 15:48] KimMJ commented on #18108
/language ko
/assign

[2019-12-12 16:27] kbhawkey commented on #18053
@sftim , Is this issue safe to close? For reference, see
https://github.com/kubernetes/website/pull/18093 .

[2019-12-12 16:28] sftim commented on #18106
For help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes)

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

If the matter is security related, please disclose it privately via https://kubernetes.io/security/.

/triage support

[2019-12-12 16:32] sftim commented on #18053
Happy this is done
/close

[2019-12-12 16:32] #18053 closed

[2019-12-13 04:46] tstromberg commented on #15969
Are we able to move on this issue yet? I'd really like to begin dismantling the duplicate and outdated reference information on the Kubernetes website related to minikube - though keep the great "Hello Minikube" tutorial that isn't duplicated elsewhere.

[2019-12-13 10:17] sftim commented on #15482
/remove-lifecycle rotten

[2019-12-13 10:48] #17984 closed

[2019-12-13 11:18] sftim opened #18116 "Outdated release notes"
**This is a Bug Report**

**Problem:** The current [release notes](https://kubernetes.io/docs/setup/release/notes/) are for v1.16 but the latest release is v1.17

**Proposed Solution:**
Update release notes

**Page to Update:**
https://kubernetes.io/docs/setup/release/notes/

**Additional Information:**
Similar to #11141

/kind bug
/priority important-soon

[2019-12-13 12:03] zacharysarah opened #18117 "SIG Docs co-chair transition: Bradamant3 and kbarnard10"
## SIG Docs co-chair transition

In the [10 December 2019 SIG Docs weekly meeting](https://docs.google.com/document/d/1zg6By77SGg90EVUrhDIhopjZlSDg2jCebU-Ks9cYx0w/edit), @Bradamant3 announced that she is stepping down as SIG Docs co-chair and will become a chair emeritus.

@Bradamant3 nominated @kbarnard10 to replace her; @kbarnard10 accepted during the same meeting.

### Transition date

Without

[2019-12-13 12:23] scuzhanglei opened #18118 "Issue with k8s.io/docs/concepts/storage/volume-snapshots/"
**This is a Bug Report**

This doc says it is controller create VolumeSnapshotContent before driver create snapshot. But according to [csi docs](https://kubernetes-csi.github.io/docs/external-snapshotter.html), It's sidecar's responsibility to create VolumeSnapshotContent after driver has created snapshot.  I am confused

**Problem:**

docs is inconformity

**Proposed Solution:**

**Page to Update

[2019-12-13 12:47] sftim commented on #17984
Thanks @vishakhanihore !

[2019-12-13 12:48] sftim commented on #18117
A thank you from me as well, to both!

[2019-12-13 12:48] sftim commented on #18118
/sig storage

[2019-12-13 13:00] saschagrunert commented on #18116
This might have been missed, but it is officially part of the docs handbook:
https://github.com/kubernetes/sig-release/tree/master/release-team/role-handbooks/docs#release-day

[2019-12-13 13:03] conseque opened #18119 "Issue with k8s.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/"
**This is a Bug Report**

**Problem:**
link 'Upgrading kubeadm cluster from 1.15 to 1.16'
leads to 'Upgrading kubeadm cluster from 1.16 to 1.17'

**Proposed Solution:**
working link

**Page to Update:**
https://v1-16.docs.kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/

[2019-12-13 15:16] #18116 closed

[2019-12-13 15:36] sftim commented on #18119
Thanks for the report @conseque
/priority important-longterm
/kind bug
/assign
/language en

[2019-12-13 16:11] sftim commented on #18119
/sig release

[2019-12-13 16:14] sftim opened #18124 "https://v1-16.docs.kubernetes.io/docs/ includes v1.17 content"
**This is a Bug Report**

**Problem:**
https://v1-16.docs.kubernetes.io/ includes some content for Kubernetes v1.17

**Proposed Solution:**
Revert v1.17 changes in the `release-1.16` branch.

**Page to Update:**
https://v1-16.docs.kubernetes.io/ and below

**Kubernetes Version:**
v1.16

**Additional Information:**
Spotted via #18119

/priority important-soon
/sig release
/kind bug

[2019-12-13 19:06] #15442 closed

[2019-12-13 21:08] #14981 closed

[2019-12-13 21:08] #14973 closed

[2019-12-14 02:54] devopsdymyr opened #18126 "Issue with k8s.io/docs/tasks/job/fine-parallel-processing-work-queue/"
**This is a Bug Report**

Once queue is completed then pod is still running.

**Problem:**
Looking for Parallel Jobs with a Work Queue : Parallelism: 8
tried to follow this reference doc: https://medium.com/@Alibaba_Cloud/kubernetes-batch-jobs-6d2d3d272a10

I have tried with  below yaml error.

error: error validating "myWorkqueue-Job.yaml": error validating data: [ValidationError(Job.spec): unkno

[2019-12-14 17:19] IanColdwater opened #18129 "k8s.io/security short link is now redirecting to the Security page in Korean"
**What happened**: The short link [https://k8s.io/security](https://k8s.io/security) is now redirecting to the Kubernetes Security and Disclosure Information page in Korean at [https://kubernetes.io/ko/docs/reference/issues-security/security/](https://kubernetes.io/ko/docs/reference/issues-security/security/) by default

**What you expected to happen**: It used to redirect to the page in English a

[2019-12-14 17:26] cblecker commented on #18129
/sig docs

✨Magical Issue Migration to kubernetes/website✨

cc: @zacharysarah

[2019-12-14 17:30] justaugustus commented on #18129
/honk

[2019-12-14 17:53] guineveresaenger commented on #18129
Paging @gochist maybe?

/meow

[2019-12-14 18:46] zacharysarah commented on #18129
Verified on mobile.

@kubernetes/sig-docs-ko-owners

/kind bug
/priority important-soon

[2019-12-14 20:25] cblecker commented on #18129
I think I know the cause: https://github.com/kubernetes/website/pull/18132

Looks like an alias was copied when the security disclosure process was translated. That alias is taking precedence over the /en/ one.

[2019-12-14 21:17] #18129 closed

[2019-12-15 03:06] inductor commented on #16056
/close

[2019-12-15 03:06] #16056 closed

[2019-12-15 03:07] inductor commented on #17119
/milestone 1.16-ja.1

[2019-12-15 03:32] inductor commented on #17595
/assign

[2019-12-15 04:33] inductor opened #18140 "Translate tasks/administer-cluster/enabling-endpoint-slices into Japanese"
**This is a Feature Request**

**What would you like to be added**
Translate tasks/administer-cluster/enabling-endpoint-slices into Japanese

**Why is this needed**
This document is not translated into Japanese.

**Comments**

[2019-12-15 05:40] #13984 closed

[2019-12-15 06:01] inductor commented on #17595
It's merged in the Japanese branch and will be applied once it goes on the upstream

[2019-12-15 06:01] inductor commented on #17595
/close

[2019-12-15 06:01] #17595 closed

[2019-12-15 06:17] inductor commented on #14848
/close

[2019-12-15 06:17] #14848 closed

[2019-12-15 06:17] inductor commented on #14848
/milestone 1.16-ja.1

[2019-12-15 06:29] inductor opened #18147 "Update /ja/docs/tasks/tools/install-kubectl/"
**This is a Feature Request**

**What would you like to be added**

**Why is this needed**

**Comments**

[2019-12-15 06:29] inductor opened #18148 "Update /ja/docs/concepts/services-networking/service/"
**This is a Feature Request**

**What would you like to be added**

**Why is this needed**

**Comments**

[2019-12-15 06:29] inductor opened #18149 "Update /ja/docs/setup/_index.md"
**This is a Feature Request**

**What would you like to be added**

**Why is this needed**

**Comments**

[2019-12-15 06:29] inductor opened #18150 "Update /ja/docs/reference/command-line-tools-reference/feature-gates/"
**This is a Feature Request**

**What would you like to be added**

**Why is this needed**

**Comments**

[2019-12-15 06:30] inductor opened #18151 "Update content/ja/docs/concepts/_index.md"
**This is a Feature Request**

**What would you like to be added**

**Why is this needed**

**Comments**

[2019-12-15 06:37] inductor commented on #18151
/assign

[2019-12-15 06:37] inductor commented on #18150
/assign

[2019-12-15 06:37] inductor commented on #18149
/assign

[2019-12-15 06:37] inductor commented on #18148
/assign

[2019-12-15 06:37] inductor commented on #18147
/assign

[2019-12-15 06:38] inductor commented on #18151
/milestone 1.16-ja.1

[2019-12-15 06:38] inductor commented on #18150
/milestone 1.16-ja.1

[2019-12-15 06:38] inductor commented on #18149
/milestone 1.16-ja.1

[2019-12-15 06:38] inductor commented on #18148
/milestone 1.16-ja.1

[2019-12-15 06:38] inductor commented on #18147
/milestone 1.16-ja.1

[2019-12-15 06:39] inductor commented on #18147
/language ja

[2019-12-15 06:39] inductor commented on #18148
/language ja

[2019-12-15 06:39] inductor commented on #18140
/language ja

[2019-12-15 06:39] inductor commented on #18149
/language ja

[2019-12-15 06:39] inductor commented on #18150
/language ja

[2019-12-15 06:39] inductor commented on #18151
/language ja

[2019-12-15 06:56] inductor commented on #18148
/milestone 1.16-ja.1

[2019-12-15 07:11] inductor opened #18154 "Translate concepts/configuration/secret.md into Japanese"
**This is a Feature Request**

**What would you like to be added**

**Why is this needed**

**Comments**

[2019-12-15 07:11] inductor commented on #18154
/language ja

[2019-12-15 07:13] inductor commented on #15980
@sotoiwa 特に急いでるってわけでもないですが、どんなかんじでしょうか〜（念の為確認です）👀

[2019-12-15 07:13] inductor commented on #16685
@hasebe 特に急いでるってわけでもないですが、どんなかんじでしょうか〜（念の為確認）:eyes:

[2019-12-15 08:58] habibridho commented on #18078
I'll try to pick this one.

/assign

[2019-12-15 10:26] inductor commented on #18149
/close

[2019-12-15 10:26] #18149 closed

[2019-12-15 14:21] habibridho commented on #18078
@sftim Hi, I'm adding new glossary for add-on and wonder the appropriate tag for it. I'm thinking to tag it as "Tool". What do you think?

[2019-12-15 16:28] sotoiwa commented on #15980
すみません、なかなか時間がとれず、かつ結構ボリュームがあってまだ終わってません。年内にはやります。

[2019-12-15 18:53] ThomasG77 commented on #18079
I got the same issue using Ubuntu 18.04 64bits with local install. I also keep the proxy running. I didn't installed anything in particular for CNI (wasn't aware of it before reading this thread)

[2019-12-15 21:48] sftim commented on #18078
I'm not sure @habibridho ! `tool` seems like a reasonable choice to me.

[2019-12-15 21:54] sftim commented on #18126
@devopsdymyr I had a look at the code that the Job from https://k8s.io/docs/tasks/job/fine-parallel-processing-work-queue/ runs inside its Pods, and it looks correct to me.
Can you provide some diagnostics showing the issue?

/triage needs-information
/sig apps

[2019-12-15 22:03] sftim commented on #18124
/close

[2019-12-15 22:03] #18124 closed

[2019-12-15 22:04] sftim commented on #18108
/priority backlog

[2019-12-15 22:05] sftim commented on #14351
/close

[2019-12-15 22:05] #14351 closed

[2019-12-16 01:05] ysyukr opened #18162 "Update path of referenced links in translated documents."
Modify the link so that it is a link between the translated Korean document and the new Korean document.

This will work on 1.16 and 1.17 first, and then apply to previous versions.
- [x] 1.16
- [x] 1.17

Documents that need to be modified.
Path: ```/content/ko/docs/```
check command example : ```grep -r "/architecture/controller/"```

/language ko

[2019-12-16 01:05] ysyukr commented on #18162
/assign

[2019-12-16 02:20] ysyukr opened #18163 "Updates to documents that do not reflect the update."
**This is a Bug Report**

**Problem:**
Items in some documents are not translated

- [x] 1.16
- [x] 1.17

Example URL
https://kubernetes.io/ko/docs/concepts/architecture/master-node-communication/#ssh-tunnels

**Proposed Solution:**
You need to find and update that item.

**Page to Update:**
https://kubernetes.io/ko/docs/concepts/architecture/master-node-communication/#ssh-tunnels

/language ko

[2019-12-16 02:20] ysyukr commented on #18163
/assign

[2019-12-16 04:32] inductor commented on #18150
/close

[2019-12-16 04:32] #18150 closed

[2019-12-16 04:33] inductor commented on #18147
/close

[2019-12-16 04:33] #18147 closed

[2019-12-16 05:17] inductor commented on #18151
close

[2019-12-16 05:17] inductor commented on #18151
/close

[2019-12-16 05:17] #18151 closed

[2019-12-16 05:17] inductor commented on #18148
/close

[2019-12-16 05:17] #18148 closed

[2019-12-16 10:35] leo-baltus opened #18169 "Issue with k8s.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/"
**This is a Bug Report**

**Problem:**
A cluster set-up using kubeadm needs a yearly certificate renewal procedure. This procedure consists of renewal of server certificates as well as client certificates. The client certificates renewal procedure is missing.

IMO after `kubeadm alpha certs renew all` either the client certificates in :
`/etc/kubernetes/kubelet.conf, /etc/kubernetes/controller-man

[2019-12-16 11:10] joshuabezaleel commented on #15341
I am taking `Replication Controller`.

[2019-12-16 11:39] vietnguyen1254 commented on #18079
@sftim Sorry for the late response.
I have not installed any CNI... And I was not aware of it as well...

[2019-12-16 12:08] sftim commented on #18169
/sig cluster-lifecycle
Looks valid, I'll let someone from SIG Cluster Lifecycle make a call on this.

[2019-12-16 12:12] sftim commented on #18079
Hmm, this sounds like there might be an issue with the advice on the page.
Just in case:
/remove-triage support

[2019-12-16 12:27] sftim commented on #16379
/remove-lifecycle stale

[2019-12-16 12:34] neolit123 commented on #18169
1.13 is out if support. Please try 1.15 at minimum. I am pretty sure
'renew' updates .conf files in later versions.

On Mon, Dec 16, 2019, 14:08 Tim Bannister <notifications@github.com> wrote:

[2019-12-16 22:04] ThomasG77 commented on #18079
OK. Got a clue but need some more feedback to solve the issue.
When I connect to the pod with
[code]
then I run `curl localhost:8080` and it's fine.

Then, I change within the pod the call to use

[code]
Then, I read again the feedback from the error when calling from the proxy (so outside the kubernetes network) `dial tcp 172.17.0.6:80: connect: connection refused`

So, I do

[code]

Then, I get

[2019-12-16 22:56] krunalnsoni commented on #12657
I was trying to find the same information.
The relevant code for this is here if it helps anyone:
https://github.com/kubernetes/kubernetes/blob/30c9f097ca4a26dab9085832e006f09cb2993dda/pkg/controller/podautoscaler/replica_calculator.go#L392

[2019-12-16 23:50] stevencorrea commented on #17795
@sftim I can take this one.

[2019-12-17 02:29] girikuncoro opened #18174 "Issue with k8s.io/id/docs/concepts/configuration/overview/ for Bahasa Indonesia"
Some sentences remain in English, we have to translate and clean up the format on this page.
![image](https://user-images.githubusercontent.com/3192347/70959791-b702c880-20af-11ea-8fb7-7bd132ce0b0f.png)

Ref: https://kubernetes.io/id/docs/concepts/configuration/overview/ (select Bahasa Indonesia)

/language id

[2019-12-17 03:58] hase1128 commented on #18140
/assign

[2019-12-17 05:11] hasebe commented on #16685
@inductor 遅くなってしまい大変申し訳ございません＞＜
今8割方できているので、今日中にあげます！

[2019-12-17 06:24] KobayashiD27 commented on #17501
I would like to work on this issue.
However, I cannot find the inconsistent point about kubectl create command.
Could you guide me?
Has this issue been solved already?

[2019-12-17 08:04] huhulalala commented on #16772
/help

[2019-12-17 09:58] dns2utf8 commented on #18106
Stack Overflow did not answer the question for listing all annotations. Is there a way without an external program?

[2019-12-17 10:21] sftim commented on #17501
@KobayashiD27, I think you're right: I can't see anything to fix either.
/close

[2019-12-17 10:21] #17501 closed

[2019-12-17 10:25] sftim commented on #16397
Seems like valid issue

/remove-lifecycle stale
/kind cleanup
/remove-priority important-soon
/priority backlog

[2019-12-17 10:28] sftim commented on #16772
(we should also check if that different gray is deliberate)

[2019-12-17 11:34] sftim commented on #16423
/retitle Add task page describing scheduler configuration
/remove-lifecycle stale

[2019-12-17 11:35] sftim commented on #18174
/kind cleanup

[2019-12-17 13:15] giovanism commented on #15341
Can I try taking `Daemonset`?

[2019-12-17 13:25] irvifa commented on #15341
@giovanism sure, go ahead 🙂

[2019-12-17 14:08] Rishi0405 opened #18180 "Improvement for k8s.io/docs/tasks/tools/install-minikube/"
If anyone particular OS tab is selected, make following OS tab with the same selection

[2019-12-17 16:00] sftim commented on #18180
Thanks for the suggestion @Rishi0405
/kind feature
/priority backlog

[2019-12-17 19:47] ThomasG77 commented on #18079
Ok. I've solved the issue by using http://localhost:8001/api/v1/namespaces/default/pods/kubernetes-bootcamp-69fbc6f4cf-tfmfs:8080/proxy/ instead of the official recommended URL

[2019-12-18 01:28] chenxuc commented on #18055
update is merged.

[2019-12-18 01:28] #18055 closed

[2019-12-18 01:42] QizhouYang opened #18185 "zh transform error https://kubernetes.io/zh/docs/concepts/services-networking/ingress/"
**This is a Bug Report**

**Problem:**
EN transform  ZH (“群集” “负载平衡”) error
**Proposed Solution:**
"群集" Update"集群"；“负载平衡” Update“负载均衡”
**Page to Update:**
https://kubernetes.io/zh/docs/concepts/services-networking/ingress/

v1.17

[2019-12-18 01:58] huhulalala commented on #18185
/language zh

[2019-12-18 01:59] huhulalala commented on #18185
/assign huhulalala

[2019-12-18 02:05] hase1128 commented on #17170
@sftim
How about adding the following sentence to the end of synopsis(https://kubernetes.io/docs/reference/command-line-tools-reference/kube-scheduler/#synopsis)?

[code]

if this change is acceptable for you, I will issue PR.

[2019-12-18 02:05] hase1128 commented on #17170
/assign

[2019-12-18 03:40] Asmatmaker opened #18186 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-12-18 03:58] sww opened #18187 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/"
**This is a Bug Report**

**Problem:**
The command for allowing pods to run on the control-plane node  (`kubectl taint nodes --all node-role.kubernetes.io/master-`) does not work for v1.17.

**Proposed Solution:**
The command `kubectl taint nodes --all node.kubernetes.io/not-ready:NoSchedule-` seems to  allow pods to be scheduled on the control-pane node.

**Page to Update:**
https://kubernetes.io

[2019-12-18 04:06] neolit123 commented on #18187
it should work. the "master" taint blocks scheduling on control-plane nodes.

is your control-plane node not-ready?

/priority awaiting-more-evidence

[2019-12-18 04:06] neolit123 commented on #18187
/sig cluster-lifecycle

[2019-12-18 06:57] Quentin811 opened #18191 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"

[2019-12-18 09:02] sftim commented on #17170
The trouble here is that https://kubernetes.io/docs/reference/command-line-tools-reference/kube-scheduler/#synopsis is [_generated_](https://kubernetes.io/docs/contribute/generate-ref-docs/kubernetes-components/) documentation, so that update either needs to go upstream or somehow get merged in during the automated step that generates it.

Also, one hint about the wording.

Could that be worded:
[

[2019-12-18 09:13] sftim commented on #18191
Hi @Quentin811

What issue did you encounter on this page?

/triage needs-information

[2019-12-18 09:14] sftim commented on #18186
Hi Asmatmaker

What issue did you encounter on that page?

/triage needs-information

[2019-12-18 09:20] hase1128 commented on #17170
@sftim
I think the original document is here and we should modify this. Is that right?
https://github.com/kubernetes/website/blob/master/content/en/docs/reference/command-line-tools-reference/kube-scheduler.md

Your suggestion word is better for me.

[2019-12-18 09:34] sftim commented on #17170
https://github.com/kubernetes/kubernetes/tree/master/cmd/kube-scheduler is where the code for kube-scheduler lives, and that's where the references docs (for this tool) originate.

[2019-12-18 09:37] sftim commented on #17170
(I think there's a lot of work involved in addressing this issue - it's not as easy as making one Markdown change)

[2019-12-18 15:59] JakubOboza opened #18196 "Issue with k8s.io/docs/concepts/workloads/controllers/cron-jobs/"
**This is a Bug Report**

**Problem:**
This is the first one you get when searching docs for CronJob.  I know this is a small suggestion but i think it would help a lot in reducing time searching / exploring kubectl explain.

**Proposed Solution:**

It should imho contain a example just like on the page: https://kubernetes.io/docs/tasks/job/automated-tasks-with-cron-jobs/ this would help to speed

[2019-12-18 20:06] samudralavamshi54 opened #18197 "Update minikube and kubectl version 1.17 0r 1.16 - interactive cluster"
**This is a Feature Request**

Update minikube to latest stable 1.5/1.6, kubectl version to 1.16 or 1.17  in interactive cluster
https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/

**What would you like to be added**
 minikube cluster upgrade and kubectl upgrade

**Why is this needed**
To keep up with the latest upgrades and user experience

**Comments**

/

[2019-12-18 21:32] Tejeev commented on #16120
/remove-lifecycle stale

[2019-12-19 01:24] tanjunchen commented on #17649
@gorda Please update the  wrong url according to merged pr above.Thanks

[2019-12-19 02:25] wu105 opened #18199 "Issue with k8s.io/docs/tasks/tls/certificate-rotation/"
**This is a Bug Report**

**Problem:**
We are running kubernetes v1.12.7 and kubelet runs with `--config=/var/lib/kubelet/config.yaml` ,and the config.yaml contains this line: `rotateCertificates: true`

We seems to  get a confirmation from kubelet that the certificate rotation is in effect by temporarily adding
[code]
to /var/lib/kubelet/config.yaml, restarting kubelet and seeing it logs `invalid

[2019-12-19 04:30] Divya063 commented on #14858
I would like to work on this issue.

[2019-12-19 05:34] sww commented on #18187
I just tried the command on a new instance, and removing the taint does work. But when I try to create a deployment, the pod fails to schedule. Here's the describe output:

[code]
So it's a different issue than the command not working, but it seems like something changed in v1.17 that requires an extra step to allow scheduling on the control plane.

[2019-12-19 05:38] hase1128 commented on #17170
Hmm, I consider whether I can handle this issue quickly.

[2019-12-19 06:45] sftim commented on #16449
/remove-lifecycle stale

[2019-12-19 06:45] sftim commented on #16449
/sig scheduling

[2019-12-19 07:03] tengqm commented on #17170
@hase1128 If you feel compelling to add this. The upstream code is here: https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-scheduler/app/server.go#L78

[2019-12-19 07:31] hase1128 commented on #17170
@tengqm
thank you. I think it is better to add a simple reference link.
this adding make the document into more polite.

however, I don't understand the flow of modification yet...
this modification task is only adding additional description into "https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-scheduler/app/server.go#L78"?

I think there seems to be a task about generating document

[2019-12-19 08:16] #15437 closed

[2019-12-19 08:16] #15230 closed

[2019-12-19 10:21] aojea opened #18202 "Remove content/en/examples/admin/dns/busybox.yaml"
**This is a Feature Request**

**What would you like to be added**

Remove the busybox example because it was confusing users and have known issues with Kubernetes DNS

**Why is this needed**

This is no longer linked from the documentation since https://github.com/kubernetes/website/pull/18001

**Comments**

xref: https://github.com/kubernetes/website/pull/18001#pullrequestreview-333436862

[2019-12-19 10:23] aojea commented on #18202
/lifecycle frozen
/cc @sftim

[2019-12-19 10:54] gorda commented on #17649
aye

[2019-12-19 11:13] tkzv commented on #17149
What I meant is that this should be explained in the "Assign Pods to Nodes" article. Either directly or with links.

[2019-12-19 13:03] koneko096 commented on #15341
I'm taking `Device Plugins`

[2019-12-19 15:50] JPPintoDotCom opened #18207 "Incorrect version number in Limitations section"
**This is a Bug Report**

**Problem:**
Under the limitations section, it says: "In Kubernetes version 1.5"

**Proposed Solution:**
Correct version number

**Page to Update:**
https://kubernetes.io/docs/setup/best-practices/node-conformance/

[2019-12-19 16:40] butuzov commented on #15893
update on my tool: deadlinks 0.2.1 can now perform faster checks on a directory of static files. and respect `_redirects`. What I am thinking now on how can deadlinks be useful for kubernetes website. Like we have a lot of deadlinks, with no way we can eliminate all of them quickly. Because of this reason `deadlinks` can't be used at the moment.

I will back when i find out answers of some of my q

[2019-12-19 16:49] sftim commented on #15893
Mainly mentioning this for people with a docs background rather than a CI tooling background:
The usual story is to track known problems (maybe in a file in the repo). With that in place, warn for or block proposed changes that introduce a new regression.
For example, generate a list of deadlinks, diff with the existing. If the PR adds any new broken links, warn the reviewer.

[2019-12-19 17:03] butuzov commented on #15893
Yeap, that is what I am thinking on right now, however i can't come up with nice solution atm. I am already starting talking with a different docs teams. Hope anything useful can be gotten as result of this.

[2019-12-19 18:35] neolit123 commented on #18187
i don't think that's the case. if it was we should have catch this in our e2e test signal.

[2019-12-20 00:30] #18088 closed

[2019-12-20 00:30] #17820 closed

[2019-12-20 01:49] daixiang0 opened #18210 "Add tool to check/clean white noise and check spell"
**This is a Feature Request**

**What would you like to be added**

A tool to check/clean white noise and check spell.

**Why is this needed**

For docs, correct spell is basic. For most case, white noise can not be seen, but when call git, they are so dazzling.

They both need to check which would spend too much time for people, but for tool, only some seconds.

[2019-12-20 01:49] daixiang0 commented on #18210
ping @sftim

[2019-12-20 05:30] oke-py commented on #17743
/assign sh-miyoshi

[2019-12-20 05:32] oke-py commented on #17743
@sh-miyoshi このIssueに取り組んでいただいているかと思います。
それがわかるように`/assign`とコメントしていただけますでしょうか。

[2019-12-20 05:40] inductor commented on #17743
/assign @sh-miyoshi

[2019-12-20 06:15] hase1128 commented on #17170
I will fix the upstream code and issue PR.
I will address generating document if generation process is requested to me.

[2019-12-20 07:52] sh-miyoshi commented on #17743
/assign @sh-miyoshi

[2019-12-20 08:04] tengqm commented on #17170
@hase1128 To get it "fixed", you will need to:

- propose change to upstream code, by following this: https://kubernetes.io/docs/contribute/generate-ref-docs/contribute-upstream/
- regenerate the reference doc, by following this: https://kubernetes.io/docs/contribute/generate-ref-docs/kubernetes-components/
- propose the regenerated doc to kubernetes/website with pointer where the upstream change

[2019-12-20 08:39] maabou512 opened #18212 "Translation for content/ja/case-studies/nav in Japanese"
**This is a Feature Request**

**What would you like to be added**
Translation for case study of Nav
https://kubernetes.io/case-studies/nav/

**Why is this needed**
No translation exists in Japanese.
And this case study is so useful for Japanese readers (not only for developers)

**Comments**
Copy a file from en contents to content/ja/case-studies/nav/index.html and content/ja/case-studies/nav_fea

[2019-12-20 08:50] hase1128 commented on #17170
@tengqm
Understood, thank you for the information.
I will try.

[2019-12-20 08:50] leifwenzel opened #18213 "Issue with k8s.io/de/docs/tasks/tools/install-minikube/"
**This is a Bug Report**

**Problem:**
The command "brew cask install minikube" does not work anymore.

**Proposed Solution:**
Now it is only possible to install minikube with this command: "brew install minikube"
**Page to Update:**
https://kubernetes.io/de/docs/tasks/tools/install-minikube/

[2019-12-20 10:43] BenHall commented on #18197
Thanks for the feedback. We're currently testing the release and will be live shortly.

[2019-12-20 10:48] hase1128 commented on #17170
@tengqm

I try to do the following procedure.

https://kubernetes.io/docs/contribute/generate-ref-docs/contribute-upstream/#generating-the-openapi-spec-and-related-files

[code]

however, I couldn't find update-api-reference-dock.sh.
do you know where is the file?

[2019-12-20 11:34] sftim commented on #18210
/kind feature

[2019-12-20 11:35] sftim commented on #18210
/priority backlog
(feel free to revise)

[2019-12-20 11:35] sftim commented on #18197
/priority important-longterm

[2019-12-20 11:36] sftim commented on #18207
Is that incorrect, or simply dated?

/kind cleanup

[2019-12-20 11:36] sftim commented on #18207
/priority backlog

[2019-12-20 11:39] sftim commented on #18199
https://kubernetes.io/docs/tasks/tls/certificate-rotation/ is for Kubernetes v1.17
As v1.12 is out of support, documentation for that release is archived.

You can look at https://v1-13.docs.kubernetes.io/docs/tasks/tls/certificate-rotation/ or try the [Internet Archive](https://web.archive.org/web/*/https://v1-12.docs.kubernetes.io/docs/tasks/tls/certificate-rotation/)

/triage support

[2019-12-20 18:42] wu105 commented on #18199
Thanks for the information.

Can we have the document explicitly marked as to which version it applies?

https://kubernetes.io/docs/tasks/tls/certificate-rotation/ includes this statement: "Kubernetes version 1.8.0 or later is required", which should be replaced with something like this: "This document applies to Kubernetes v1.17".  A link to the archived and newer versions would be also helpful.

[2019-12-20 19:00] wu105 commented on #18199
Thanks for the information.

The document include the following statement: 'Kubernetes version 1.8.0 or later is required", which may be more informative to say: "Kubernetes version 1.8.0 or later supports certificate rotation.  This document applies to v1.17."  Adding links to archived or future versions would be helpful.

By the way, the "Internet Archive" link provided does not have the v1.12 a

[2019-12-21 03:00] tengqm commented on #17170
Looks like the script was removed: https://github.com/kubernetes/kubernetes/pull/72924

[2019-12-21 03:06] ClaudiaJKang opened #18227 "Outdated files in the dev-1.17-ko.2"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.17-ko.2 branch.

### 8 files to be modified
1. [ ] content/en/docs/concepts/containers/images.md 1 file changed, 2 insertions(+), 2 deletions(-)
1. [ ] content/en/docs/concepts/services-networking/endpoint-slices.md 1 file changed, 1 insertion(+), 1 deletion(-)
1. [ ] content/en/docs/concepts/services-networking/service-topolog

[2019-12-21 03:10] CriaHu commented on #17649
@tanjunchen  #18228 fix number six

[2019-12-21 05:41] ysyukr commented on #18227
/assign

[2019-12-21 21:56] sftim commented on #18199
If you're really keen to see the v1.12 documentation that _is_ possible: see https://github.com/kubernetes/website/tree/release-1.12

#12303 tracks the behavior for no-longer-supported releases. If you want different behavior @wu105 you can log a new issue and request that.

I reviewed the sentence:

I feel this is an accurate if dated description of prerequisites.

[2019-12-22 00:26] sftim commented on #18202
I suggest removing `content/en/examples/admin/dns/busybox.yaml` after v1.18 is released (not necessarily immediately afterwards)

[2019-12-22 00:29] sftim commented on #18213
Thank you for reporting this @leifwenzel. Die deutsche Lokalisierung ist nicht aktuell / the German localization is outdated.
/language de
/kind cleanup
/priority backlog

[2019-12-22 00:37] sftim opened #18231 "Describe `{{< codenew >}}` shortcode in style guide"
**This is a Feature Request**

**What would you like to be added**
In the [style guide](https://kubernetes.io/docs/contribute/style/style-guide/), explain when to make code samples (eg manifests) downloadable, and how to do that.

**Why is this needed**
https://kubernetes.io/docs/contribute/style/style-guide/ does not mention how to style downloadable code blocks.
If you know what to search for I

[2019-12-22 00:39] sftim commented on #18231
If the existing mechanism isn't clear, and you'd like to help, I'll be happy to explain my understanding of it.

[2019-12-22 00:39] sftim commented on #18231
Oops, wrong click.

[2019-12-22 05:58] wu105 commented on #18199
"Kubernetes version 1.8.0 or later is required" implies that this document applies for all kubernetes or kubelet v1.8.0 and above, but in reality it is for v1.17 as indicated in your initial reply.  This information should be add to the document itself.  Reading docs of the wrong versions wastes every ones' time.  Identifying the versions of the docs should be part of the docs.

[2019-12-22 13:07] sftim commented on #18199
The current page shows it's for v1.17:
![Version number in Kubernetes documentation](https://user-images.githubusercontent.com/22591623/71322115-b86f2f00-24bb-11ea-8b13-c1af581fd5bd.png). This identifies the version of Kubernetes that the documentation is for.

It does make sense to switch to using a feature-state shortcode to reveal which Kubernetes version is in use, except that in fact it's bet

[2019-12-22 13:08] sftim commented on #18199
/remove-triage support

[2019-12-23 00:49] jmyung opened #18237 "Issue with k8s.io/docs/concepts/services-networking/service/"
**This is a Bug Report**

**Problem:**
one small typo.

**Proposed Solution:**
line 890
before : Bind Loadbalancers with speicfied nodes
after    : Bind Loadbalancers with specified nodes

**Page to Update:**
content\en\docs\concepts\services-networking\service.md

[2019-12-23 01:07] jmyung commented on #15794
I would re-issue this later, after finding some ways.

[2019-12-23 01:08] #15794 closed

[2019-12-23 01:21] anshprat opened #18239 "Make snippets copy/pastable for wordpress on k8s"
**This is a Bug Report**

**Problem:**
In https://kubernetes.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/
 - the section `Add them to kustomization.yaml file.` is not copy pastable as it is due to extra tabs which break EOF due to extra tab/space. Same space breaks the yaml as well.

**Proposed Solution:**

Remove extra space and make it copy / pastable.

**Page to Upd

[2019-12-23 01:29] hase1128 commented on #17170
@tengqm
My understanding is here. Is this right?
1. I modify upstream source code.
2. I Issue PR to kubernetes/kubernetes without gererating OpenAPI spec and related which described in https://kubernetes.io/docs/contribute/generate-ref-docs/contribute-upstream/
3. After the above PR is merged, I generate reference pages(https://kubernetes.io/docs/contribute/generate-ref-docs/kubernetes-components/

[2019-12-23 01:46] anshprat commented on #18239
Related Bug reports:

#17786
#14810

[2019-12-23 02:06] anshprat commented on #18231
/assign anshprat

[2019-12-23 02:11] tengqm commented on #17170
@hase1128 Sounds right, but for step 2 it is up to the upstream reviewers to decide how your PRs should be organized there. The old convention I know of is that you will submit one PR with at least two separate commits: one for the changes you want to make; the other is about the changes that will happen to the generated files.

[2019-12-23 02:19] hase1128 commented on #17170
@tengqm
OK, I issue PR to upstream at first, and after that I will follow the instructions of reviewer.

[2019-12-23 02:33] CriaHu commented on #17649
#18241 fix number 12

[2019-12-23 02:57] wu105 commented on #18199
I actually tried to use that version dropdown to get to one of the supported versions so that I would get to a "Certificate Rotation" page that would have v1.13 on the top.  I could not.  Therefore, as currently it stands, that version dropdown won't even work for older versions.

I think it would be instructive to take out the design document for this "https://kubernetes.io/docs" site and verify

[2019-12-23 06:22] damodhar22 opened #18248 "how to remove version from status.storedVersions while Manually upgrading the existing objects to a new stored version"
**This is a Bug Report**

**Problem:**
How to remove old version from the CustomResourceDefinition status.storedVersions field? It is not clear from the document how to do this.
**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-12-23 06:56] oke-py commented on #18075
/close

[2019-12-23 06:56] #18075 closed

[2019-12-23 07:13] CosmicSage commented on #16456
@sftim Yes Okay

[2019-12-23 07:13] #16456 closed

[2019-12-23 07:54] Colstuwjx opened #18249 "strange character found from cpu manager blog post"
**This is a Bug Report**

**Problem:**
When I was reading the [blogpost](https://kubernetes.io/blog/2018/07/24/feature-highlight-cpu-manager/) for explaining the cpu manager feature, I have seen a strange char from the `How to use` section, see below:

![image](https://user-images.githubusercontent.com/3972545/71344000-5cc8a280-259c-11ea-855b-e1f84b7b7101.png)

**Proposed Solution:**
Need to clari

[2019-12-23 08:10] hase1128 opened #18250 "[Question] Is there original source code of feature-gates.md file"
**This is Question**

There are some descriptions that I would like to modify in https://github.com/kubernetes/website/blob/master/content/en/docs/reference/command-line-tools-reference/feature-gates.md

Is there original code in kubernets/kubernetes repository (and document generation process is required)?
Or, I should modify only above markdown file?

[2019-12-23 08:16] hase1128 commented on #18250
Recently, I knew the document which is required regeneration procedure from original source codes.
related issue is here.(https://github.com/kubernetes/website/issues/17170)

For example, are the all of following documents generated documents?
 - Feature Gates
 - cloud-controller-manager
 - kube-apiserver
 - kube-controller-manager
 - kube-proxy
 - kube-scheduler
 - kubelet
 - Kubelet authenticati

[2019-12-23 10:54] tengqm commented on #18250
feature gates, kubelet authentication/authorization, TLS bootstrapping are all manually created and maintained. Other reference docs are auto-generated.

[2019-12-23 11:22] hase1128 commented on #18250
@tengqm
thank you for the answer.
I could not find original source of feature gates in kubernetes/kubernetes, so I will modify only website document(I will issue issue later).

Regarding kubelet, I can find original source code in kubernetes/kubernetes.
so if we'd like to modify https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/ due to some document bug, we need to modify u

[2019-12-23 15:53] wawa0210 commented on #18249
I think this should be a typo

i fix this #18257

[2019-12-23 17:07] sftim commented on #15123
/remove-lifecycle stale

[2019-12-23 17:07] sftim commented on #15123
/help

[2019-12-23 17:07] sftim commented on #15123
Happy to help with explanations for anyone who is picking this up.

[2019-12-23 17:09] sftim commented on #18250
so if we'd like to modify https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/ due to some document bug, we need to modify upstream source code(not website document), and then we also need to website document manually.

That's pretty much it. The changes to the website after you update upstream are done via a tool, but you have to invoke the tool yourself and commit the chang

[2019-12-23 17:10] sftim commented on #18249
[voilà](https://en.wiktionary.org/wiki/voil%C3%A0) is borrowed into English from French. It's OK to leave that as is.
/area blog

[2019-12-23 17:11] sftim commented on #18249
/language en

[2019-12-23 17:12] sftim commented on #18239
/kind bug
/priority backlog

[2019-12-23 17:12] sftim commented on #18239
(This does also look like a duplicate)

[2019-12-23 17:13] sftim commented on #14810
Removing the leading spaces (whilst preserving Markdown formatting) should help.

[2019-12-23 17:14] sftim commented on #18250
/triage support
(and that's OK)

[2019-12-23 17:31] sftim commented on #16201
/remove-lifecycle stale
/sig release

[2019-12-23 17:31] sftim commented on #16201
/remove-priority backlog
/priority important-longterm

[2019-12-23 17:58] sftim commented on #17593
I've submitted a PR (#18263) that fixes just the strapline, not the remaining text.

[2019-12-23 18:09] glasser opened #18265 "Ingress page does not document rule precedence"
**This is a Bug Report**

**Problem:**

The Ingress docs (eg, content/en/docs/concepts/services-networking/ingress.md as well as the auto-generated API Reference docs) do not explain what happens if multiple `paths` entries match an URL or if multiple `rules` match an URL.

**Proposed Solution:**

Somebody tells me what the order of precedence is (first match? last match? multiple matches are unde

[2019-12-23 18:14] glasser commented on #18265
Or maybe the answer is "most specific matches"?

Another confusing thing is that the reference docs (https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.17/#httpingresspath-v1beta1-networking-k8s-io) claim that `path` is a regex, but e.g. the [GKE ingress docs](https://cloud.google.com/kubernetes-engine/docs/concepts/ingress) claim that a trailing `*` wildcard works with that controll

[2019-12-23 18:38] sftim commented on #18265
Does https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20190125-ingress-api-group.md#paths-proposal cover this?

(if not, @glasser, maybe what should happen next is you raise an issue about that KEP, to highlight the gap).
/sig network

[2019-12-23 18:43] glasser commented on #18265
@sftim I'll take a look. At first glance I don't understand how to tell the status of this KEP — is it proposed or finished? I think Ingress is already in networking.v1beta1 so that means finished, right?

[2019-12-23 18:47] sftim commented on #18265
I had a look at the KEP and I couldn't be sure about the status either.
Ingress is definitely _beta_ and “Graduate Ingress to GA” seems like the best documentation there is for its current behavior.

To my mind, one thing that should happen before GA is preparing a clear specification and getting some documentation drafted that matches it.

[2019-12-23 18:57] glasser commented on #18265
OK, the paths proposal covers most of my question, and it seems that the answer for now is "it's implementation-specific" so there is no simple answer to add to the k8s docs today (other than perhaps being explicit that it is implementation-specific).

I commented on https://github.com/kubernetes/enhancements/issues/758 asking to clarify the behavior of multiple matching rules (perhaps "you should

[2019-12-23 21:27] sftim commented on #18265
/priority important-longterm

[2019-12-23 21:27] sftim commented on #18265
That sounds like the way forward.

[2019-12-23 23:37] longlg88 commented on #16490
/close

[2019-12-23 23:37] #16490 closed

[2019-12-24 01:09] tengqm commented on #18250
@hase1128 Sorry, `kubelet` is another exception IIRC. The reference doc generation was broken since several releases ago when `kubelet` was cleaning up all command line options. The movement was about to kill docker specific arguments surfaced at `kubelet` command line, however, the upstream community reworked the logic for traversing the configuration options. That change made the auto-generation

[2019-12-24 01:09] #18071 closed

[2019-12-24 01:10] ysyukr commented on #18049
/close

[2019-12-24 01:10] #18049 closed

[2019-12-24 01:22] tanjunchen commented on #17649
@CriaHu Thanks your job , i will update the above url once your pr are merged

[2019-12-24 01:38] Colstuwjx commented on #18249
OK, since it's a valid word, I'd like to close this issue.

[2019-12-24 01:38] #18249 closed

[2019-12-24 01:58] Colstuwjx opened #18271 "Request for enhancement about EndpointSlice documentation"
**This is a Feature Request**

**What would you like to be added**

According to the feature state said from https://kubernetes.io/docs/concepts/services-networking/endpoint-slices/, EndpointSlice is beta at v1.17, but the above content is less than we need.

I have been read the great [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20190603-EndpointSlice-API.md), and

[2019-12-24 02:00] Colstuwjx commented on #18271
Ping related owner @robscott  @freehan

[2019-12-24 02:23] hase1128 opened #18275 "Fix simple typos in feature gates document"
**This is a Bug Report**

**Problem:**
There are some typos in "https://github.com/kubernetes/website/blob/master/content/en/docs/reference/command-line-tools-reference/feature-gates.md"

1: This feature is superceded by the VolumeScheduling feature completely in v1.12.
2: Enable setting Pod affinity or anti-affinitys.

**Proposed Solution:**
1: superseded
2: anti-affinity

**Page to Update:**
htt

[2019-12-24 02:24] hase1128 commented on #18275
/assign

[2019-12-24 02:30] robscott commented on #18271
/assign

[2019-12-24 04:25] hase1128 commented on #18250
@sftim @tengqm
I understand the situation.
I close this issue because I got all answers I'd like to know.
Thank you so much!

[2019-12-24 04:25] #18250 closed

[2019-12-24 04:45] inductor opened #18279 "Update content/ja/docs/reference/_index.md"
**This is a Feature Request**

**What would you like to be added**

**Why is this needed**

**Comments**

[2019-12-24 04:45] inductor commented on #18279
/assign

[2019-12-24 04:47] inductor opened #18280 "Update content/ja/docs/reference/_index.md"
**This is a Feature Request**

**What would you like to be added**

**Why is this needed**

**Comments**

[2019-12-24 04:47] inductor commented on #18280
/assign

[2019-12-24 07:12] gavinfish commented on #18213
/assign

[2019-12-24 07:42] ysyukr opened #18283 "Translate storage/volumes.md in Korean."
**This is a Feature Request**

**What would you like to be added**
Translate storage/volumes.md in Korean.

**Why is this needed**
The following files are not translated into Korean.
- [ ] /en/docs/concepts/storage/volumes.md

**Comments**
Page to update: https://kubernetes.io/docs/concepts/storage/volumes/

I am translating this document.
The translated document will be submitted to dev-1.17-ko.3

[2019-12-24 07:42] ysyukr commented on #18283
/assign

[2019-12-24 10:52] ALSU2018LT3N opened #18288 "Improvement for k8s.io/docs/reference/command-line-tools-reference/kube-proxy/"

[2019-12-24 10:52] #18288 closed

[2019-12-24 11:18] sftim commented on #18275
/kind cleanup
/language en
/priority backlog

[2019-12-24 11:18] sftim commented on #18280
/language ja

[2019-12-24 11:18] sftim commented on #18279
/language ja

[2019-12-24 11:19] sftim commented on #18271
/priority backlog
/sig network

[2019-12-24 11:21] sftim commented on #18248
/sig api-machinery

[2019-12-24 11:21] sftim commented on #18085
/sig network

[2019-12-24 13:24] damodhar22 commented on #18248
How to do it using kubectl.

I am trying to remove the older version from list of versions of crds it's giving me following error

`The CustomResourceDefinition "crontabs.stable.example.com" is invalid: status.storedVersions[0]: Invalid value: "v3": must appear in spec.versions`

[2019-12-24 15:57] sftim commented on #17864
/priority important-longterm

[2019-12-24 15:57] sftim commented on #17582
Done
/close

[2019-12-24 15:57] #17582 closed

[2019-12-25 01:25] hase1128 opened #18292 "[Cleanup] Fix simple typo in TLS bootstrapping document"
**This is a Bug Report**

**Problem:**
There is a typo in "https://github.com/kubernetes/website/blob/master/content/en/docs/reference/command-line-tools-reference/kubelet-tls-bootstrapping.md"

Problem sentence:
"Kubernetes v1.8 and higher kubelet implements beta features for enabling rotation of its client and/or serving certficates."

**Proposed Solution:**
`certficates` should be `certificates

[2019-12-25 01:26] hase1128 commented on #18292
/assign

[2019-12-25 01:55] hase1128 commented on #18292
/kind cleanup
/language en
/priority backlog

[2019-12-25 06:14] devopsdymyr commented on #18126
That is working fine.

Can you guild me how to make this in production system.
Should i implement redis and slave?
there is not more issue on this document once job is send to redis give gives that details to worker and worker is doing that task.but once task completed still my pod is running

if again i am passing some some task to queue which not taking from worker

[2019-12-25 07:44] openaphid opened #18294 "Issue with k8s.io/docs/reference/glossary/"
**This is a Bug Report**

**Problem:**
`cluster infrastructure` and `cluster operations` are not included in glossary while there are references to them in https://kubernetes.io/docs/setup/#production-environment

**Proposed Solution:**
Add two terms

**Page to Update:**
https://kubernetes.io/docs/reference/glossary/?all=true

[2019-12-25 10:25] schu commented on #10691
/remove-lifecycle stale

[2019-12-25 10:26] schu commented on #10691
That's still the case.

[2019-12-25 16:46] butuzov commented on #17649
Damn. For the few last days more that hundred new `deadlinks` introduced to Chinese localization =(.

[2019-12-25 23:09] godlessendeavor opened #18302 "Issue with k8s.io/docs/tutorials/kubernetes-basics/expose/expose-intro/"
**This is a Bug Report**

**Problem:**
The picture module_04_services.svg is showing in naming in the legend the cube shape as Pod while in reality (and consistently with previous modules pictures) it is a container. At the same time  the real shape of the Pod (the circle) is missing in the legend.

**Proposed Solution:**
Change the Pod in the legend to Container and add the Pod shape, the circle,

[2019-12-26 01:32] tanjunchen commented on #17649
@gorda Please update the wrong url according to merged pr above. We can sync every 7 days . Thanks

[2019-12-26 08:34] butuzov opened #18304 "`/zh/` Broken Links Increased after merge."
**This is a Bug Report**

I do a small monitoring of my progress of removing deadlinks from kubernetes website, yesterday we had an increase of deadlinks from 187 to 295. All of the new urls are from `/zh/` path. I am not posting a list as it inefficient.

I have use my tool called [`deadlinks`](https://github.com/butuzov/deadlinks)

[code]

[2019-12-26 08:35] butuzov commented on #18304
/language zh

[2019-12-26 09:11] #18185 closed

[2019-12-26 12:38] hase1128 commented on #18061
I also notice same issue.

[2019-12-26 13:14] #17757 closed

[2019-12-26 15:48] sftim commented on #16583
Still want this
/remove-lifecycle stale

[2019-12-26 15:51] sftim commented on #18126
/remove-triage needs-information
/triage support

[2019-12-26 15:53] sftim commented on #15083
Still want this
/remove-triage stale

[2019-12-26 15:53] sftim commented on #15083
/remove-lifecycle stale

[2019-12-26 15:56] sftim commented on #18302
That seems valid
/priority important-longterm

[2019-12-26 16:13] sftim commented on #18294
/kind bug
/priority backlog
Those documents exist in the glossary but aren't being listed. I think I can fix that.

[2019-12-26 16:15] sftim commented on #18294
Thanks for spotting this @openaphid

[2019-12-26 16:16] sftim commented on #18086
Also see https://kubernetes.io/docs/reference/glossary/?all=true#term-cloud-controller-manager which talks about Kubernetes v1.8

[2019-12-26 16:16] sftim commented on #18086
/help

[2019-12-26 16:17] sftim commented on #18086
If you'd like to contribute but you're not sure how to find out the current feature state for cloud-controller-manager, reply here and ask for advice.

[2019-12-26 16:57] sftim opened #18319 "localize community_events_calendar in Korean"
**This is a Bug Report**

**Problem:** https://kubernetes.io/ko/ has a link in the footer to an events calendar. The title of that link is not localized.

**Proposed Solution:**
Translate [community_events_calendar](https://github.com/kubernetes/website/blob/0bad3985eb0f3ff6d857643dc28428337e945f87/i18n/ko.toml#L191) to Korean

**Page to Update:**
https://kubernetes.io/ko/

**Additional Informatio

[2019-12-26 16:57] sftim commented on #18319
/good-first-issue

[2019-12-26 16:57] sftim commented on #18319
/language ko

[2019-12-26 23:40] ysyukr commented on #18227
/close

[2019-12-26 23:40] #18227 closed

[2019-12-27 02:18] ysyukr commented on #18048
/close

[2019-12-27 02:18] #18048 closed

[2019-12-27 02:48] openaphid opened #18322 "Issue with k8s.io/docs/setup/production-environment/turnkey/aws/"
**This is a Bug Report**

**Problem:**
The link for `conjure-up` is incorrect. It currently points to https://kubernetes.io/docs/getting-started-guides/ubuntu/

**Proposed Solution:**
Use the official website of `conjure-up`: https://conjure-up.io/

**Page to Update:**
https://kubernetes.io/docs/setup/production-environment/turnkey/aws/

[2019-12-27 03:18] QizhouYang opened #18323 "update zh ingress"
**This is a Bug Report**

file: content/zh/docs/concepts/services-networking/ingress.md

**Problem:**
"ingress 是什么？和 跨可用区失败" 出现多次
**Proposed Solution:**
delete
**Page to Update:**
https://kubernetes.io/zh/docs/concepts/services-networking/ingress/

[2019-12-27 03:18] QizhouYang commented on #18323
/QizhouYang

[2019-12-27 03:19] QizhouYang commented on #18323
/language zh
/assign QizhouYang

[2019-12-27 17:48] sftim commented on #16005
/language ru

[2019-12-27 17:48] sftim opened #18332 "Localize https://k8s.io/docs/contribute/ to Russian | Русский"
**This is a localization request**

**What would you like to be added**
Localize https://k8s.io/docs/contribute/ into Russian | перевести https://k8s.io/docs/contribute/ на Русский.

**Why is this needed**
Readers who are looking at the Russian documentation, and who might want to contribute (for example, by reviewing changes) should see pages about how to contribute.

**Comments**
This issue is r

[2019-12-27 17:50] sftim opened #18333 "Localize https://k8s.io/docs/contribute/ to Portuguese"
**This is a localization request**

**What would you like to be added**
Localize https://k8s.io/docs/contribute/ into Portuguese

**Why is this needed**
Readers who are looking at the Portuguese documentation, and who might want to contribute (for example, by reviewing changes) should see pages about how to contribute.

**Comments**
This issue is resolved once https://k8s.io/pt/docs/contribute/ ex

[2019-12-27 18:10] sftim opened #18336 "Localize https://k8s.io/docs/contribute/ to Bahasa Indonesia"
**This is a localization request**

**What would you like to be added**
Localize https://k8s.io/docs/contribute/ into Bahasa Indonesia

**Why is this needed**
Readers who are looking at the Indonesian (Bahasa Indonesia) documentation, and who might want to contribute (for example, by reviewing changes) should see pages about how to contribute.

**Comments**
This issue is resolved once https://k8s.

[2019-12-27 18:49] mmiara opened #18339 "Improvement for k8s.io/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm/"
Where can I find more information about operating clusters that were created using this documentation? For example, there is no documentation on backing up and restoring the cluster, since etcdctl is not automatically installed through this process. How am I able to use etcdctl on a cluster that was built following this documentation?

[2019-12-27 18:49] mmiara opened #18340 "Improvement for k8s.io/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm/"
Where can I find more information about operating clusters that were created using this documentation? For example, there is no documentation on backing up and restoring the cluster, since etcdctl is not automatically installed through this process. How am I able to use etcdctl on a cluster that was built following this documentation?

[2019-12-27 18:49] #18340 closed

[2019-12-27 18:57] neolit123 commented on #18340
There are no official k8s.io guides for this afaik. For backup you can use
VMware's Velero. It is open source.

[2019-12-27 19:01] neolit123 commented on #18339
Commented on your other issue. There are no guides for operating these
clusters in k8s.io maintained by the kubeadm maintainers and we do not have
plans to have such docs. But i am sure there are plenty of guides and blog
posts out there about operating a k8s cluster.

As mentioned, you can use VMware Velero for backup.

/close

[2019-12-27 19:01] #18339 closed

[2019-12-28 12:04] antoooks commented on #15341
Hi! I would like to take `Custom Resource` in `content/id/docs/concepts/extend-kubernetes`

[2019-12-28 12:29] inductor commented on #18280
/close

[2019-12-28 12:29] #18280 closed

[2019-12-28 12:30] inductor commented on #18280
/milestone 1.16-ja.1

[2019-12-28 12:30] inductor commented on #18140
/milestone 1.16-ja.1

[2019-12-28 12:31] inductor commented on #16685
/milestone 1.16-ja.1

[2019-12-28 12:31] inductor commented on #17741
/milestone 1.16-ja.1

[2019-12-28 12:31] inductor commented on #17739
/milestone 1.16-ja.1

[2019-12-28 12:32] inductor commented on #18279
/milestone 1.16-ja.1

[2019-12-28 12:32] inductor commented on #17743
/milestone 1.16-ja.1

[2019-12-28 20:00] #15563 closed

[2019-12-29 07:24] Colstuwjx opened #18361 "Request for apiserver network policy document"
**This is a Feature Request**

**What would you like to be added**

The replacement of SSH tunnel solution is [apiserver network policy](https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20190226-network-proxy.md), and it has been alpha in v1.16, I think it's time to setup document about this part basically, since there are many requests for deprecating ssh tunnel and r

[2019-12-29 07:29] Colstuwjx commented on #18361
The target page should be part of [this](https://kubernetes.io/docs/concepts/architecture/master-node-communication/#master-to-cluster), we may also need to setup separate page for explaining the new proposal about apiserver network proxy.

/sig network
/language en
/priority backlog

[2019-12-29 10:22] shivdeepnv opened #18362 "Issue with k8s.io/docs/tasks/configure-pod-container/security-context/"
**Problem:**
Unable to pull the images required for the demo 2 and demo 3 provided in the link
https://kubernetes.io/docs/tasks/configure-pod-container/security-context/

Creation of Pods links where the issue is -
https://k8s.io/examples/pods/security/security-context-2.yaml
kubectl apply -f https://k8s.io/examples/pods/security/security-context-3.yaml

**Page to Update:**
https://kubernetes.io/d

[2019-12-29 11:17] RobertKielty opened #18363 "Issue with k8s.io/docs/contribute/generate-ref-docs/kubectl/"
**This is a Bug Report**

**Problem:**

When I follow the instructions given under **Setting up the local repositories** and I run

`go get -u kubernetes-sigs/reference-docs`

I get the following error

`package kubernetes-sigs/reference-docs: unrecognized import path "kubernetes-sigs/reference-docs" (import path does not begin with hostname)
`
**Proposed Solution:**
As instructed by the error mes

[2019-12-29 17:07] atanu2531 opened #18364 "no workaround for minikube start up on win 10 home"
Error: [VBOX_VTX_DISABLED] create: precreate: This computer doesn't have VT-X/AMD-v enabled. Enabling it in the BIOS is mandatory

C:\>minikube start
* minikube v1.6.2 on Microsoft Windows 10 Home Single Language 10.0.18362 Build 18362
* Selecting 'virtualbox' driver from existing profile (alternates: [])
* Creating virtualbox VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
*
X Unable to start VM. Pl

[2019-12-29 18:42] danibavr opened #18365 "Improvement for k8s.io/docs/concepts/architecture/nodes/"
Dear authors,
On "Reliability" section:
 is written

  but before is mentioned

The behavior described is a bit confusing.

In "Heartbeats" section:
is written

Here is not very clear how the node controller update status to "Unknown" if the timeout is 40s but the check is made in a greater interval.

Thank you,
  Daniele

[2019-12-30 13:24] SchnuckySchuster opened #18367 "Improvement for k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro/"
I would expect a to see a link to the specification of "kubectl create deploy" with a listing of possible parameters

[2019-12-30 13:25] leo-baltus commented on #18169
Upgraded step-by-step to `v1.16.4`. The client certificates seem all updated except `/etc/kubernetes/kubelet.conf`, which seems consistent with https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/

So I changed `/etc/kubernetes/kubelet.conf`:
[code]
So, this issue can be closed. Thanks.

[2019-12-30 15:09] #18163 closed

[2019-12-30 15:26] neolit123 commented on #18169
/close

[2019-12-30 15:26] #18169 closed

[2019-12-31 06:10] yuva13 opened #18375 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/"
**This is a Bug Report**
bb

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-12-31 06:26] tonkon opened #18377 "Issue with k8s.io/zh/docs/concepts/configuration/assign-pod-node/"
**This is a Bug Report**

**Problem:** Translation error in Chinese at section **Node affinity**

The description about multiple matchExpressions associated with nodeSelectorTerms in English is:

_If you specify multiple matchExpressions associated with nodeSelectorTerms, then the pod can be scheduled onto a node **only if all** matchExpressions can be satisfied._

But in Chinese here, it translat

[2019-12-31 07:11] sureshgunturi opened #18379 "Issue with k8s.io/docs/concepts/configuration/manage-compute-resources-container/"
optional monitoring  hyper link didnt work ,it showing 404

[2019-12-31 07:15] pxmage commented on #18079
@ThomasG77  thanks for your share, exactly the same here, and solved by what you said, specify the 8080 port explicitly.

Still wondering, it works inside the tutorial terminal but fails on my Mac.

[2019-12-31 07:21] princeanurag2011 opened #18380 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/"
**This is a Bug Report**

unable to install properly.!!

**Problem:**
sudo apt-get install -y kubelet kubeadm kubectl
Reading package lists... Done
Building dependency tree
Reading state information... Done

No apt package "kubeadm", but there is a snap with that name.
Try "snap install kubeadm"

No apt package "kubectl", but there is a snap with that name.
Try "snap install kubectl"

No apt packa

[2019-12-31 08:05] tengqm opened #18381 "Documentation for Container"
**This is a Feature Request**

**What would you like to be added**
A comprehensive page for the Container concept.

**Why is this needed**
We are currently assuming the the readers know what Containers are. However, this may not be true. For example, when composing a Pod, one has to provide the container configuration. There are many settings pertaining to a container not documented anywhere today

[2019-12-31 08:21] maabou512 opened #18382 "Translation for content/ja/case-studies/spotify in Japanese"
**This is a Feature Request**

**What would you like to be added**
Translation for case study for Spotify
https://kubernetes.io/case-studies/spotify/

**Why is this needed**
No translation exists in Japanese.
And this case study is so useful for Japanese readers (not only for developers)

**Comments**
Copy a file from en contents to content/ja/case-studies/spotify/index.html and content/ja/case-st

[2019-12-31 08:33] Fale opened #18383 "Tracking Italian automated translation review"
The italian translation has been automatically generated in the past.
For this reason, in June 2019 it has been disabled.
To re-enable it, we should firstly review all currently translated pages, and improve them so that it's easily readable by humans.
The goal of this issue, is to track such progress.

## Pages
* [x] blog/_index.md (#18384)
* [x] case-studies/comcast/index.html (#19785)
* [x] cas

[2019-12-31 08:52] tanjunchen commented on #17649
/help
/good-first-issue

[2019-12-31 09:20] sftim commented on #16065
/remove-lifecycle stale

[2019-12-31 09:21] sftim commented on #16093
/remove-lifecycle stale

[2019-12-31 09:24] sftim commented on #16660
/remove-lifecycle stale

[2019-12-31 09:24] sftim commented on #16660
/language en

[2019-12-31 09:31] sftim commented on #18381
These details sound to me like they are worth introducing when Pods are introduced. If the reader has not seen containers as a concept, telling them about `ports` in a PodSpec is going into a lot of detail.

I mean: place a new page in https://kubernetes.io/docs/concepts/workloads/pods/ and have the Container concept page suggest different routes for readers based on their own assessment of how co

[2019-12-31 09:32] sftim commented on #18383
/language it

[2019-12-31 11:02] tengqm commented on #18381
See the current TOC for container and pod, we can choose either location for these details.
![image](https://user-images.githubusercontent.com/5094756/71619590-08f33480-2c00-11ea-99b6-e6f90a5a7df0.png)

[2019-12-31 12:00] sftim commented on #18381
It's definitely important to help readers who are new to containers overall. At least some people will read through the Concepts section, pretty much in order, until they're confident enough to try a Task or their heads are full (whichever comes first).

Whichever location we pick, the overview for the other concept (Pod / Container) can link to the new page.

[2019-12-31 12:02] sftim commented on #18381
I wonder if it makes sense to move Init Containers and Ephemeral Containers into the Containers section?

The way I see that working is that at some point inside the Container concept section, the reader is told that there's a thing called a Pod and that there's more to read up on that detail _later_, and that there's a link if they want to go and do that now.

After that point it's fair game to t

[2019-12-31 12:03] sftim commented on #18381
/priority important-longterm

[2019-12-31 12:04] savitharaghunathan commented on #18375
Hi @yuva13 , could you brief a little bit more about the problem that you are seeing?

/triage needs-information

[2019-12-31 12:04] sftim commented on #18377
/language zh
/kind bug

[2019-12-31 12:05] sftim commented on #18379
The broken hyperlink is to http://releases.k8s.io/master/cluster/addons/cluster-monitoring/README.md

/priority backlog
/kind bug

[2019-12-31 12:58] abdulraheemnohri opened #18389 "Issue with k8s.io/docs/tutorials/kubernetes-basics/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-12-31 14:57] neolit123 commented on #18380
i cannot reproduce any problems when trying this guide:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl

[code]

make sure execute all the above commands to setup the k8s Debian repository.

after install:
[code]

please re-open if you have more details about the issue.
/close

[2019-12-31 14:57] #18380 closed

[2019-12-31 14:57] neolit123 commented on #18380
/sig release
/sig cluster-lifecycle

[2020-01-01 23:46] sftim commented on #18383
@Fale I think you can exclude `OWNERS`

Also, all the example manifests look up-to-date. I checked using a tool:
[code]
and also visually scanned for text that would need localizing.

[2020-01-01 23:47] sftim commented on #18383
`includes/index.md` is fine too.

[2020-01-01 23:53] sftim commented on #18389
Hello @abdulraheemnohri

What wasn't right about the page at https://k8s.io/docs/tutorials/kubernetes-basics/ ? Did you run into trouble there?

[2020-01-01 23:54] sftim commented on #18365
This wording could be more clear. I hope we can reword.
/sig node
/priority backlog

[2020-01-02 00:49] sftim opened #18402 "ko: Clarify how to localize terms that are both English words and names of API objects"
**Context:**

I have noticed some pages in localizations including Korean that do not clearly tell the reader the name of an API object. For example, the first mention of “ReplicaSet” in https://kubernetes.io/ko/docs/concepts/workloads/controllers/replicaset/ is inside a sample manifest. It's useful for readers to learn the name of the object, ie ReplicaSet.

**Problem:**
https://kubernetes.io/ko/

[2020-01-02 00:55] tengqm opened #18403 "Use localization friendly links in English main site."
**This is a Feature Request**

**What would you like to be added**

The intra-site links in the English documents are currently plain markdown links, as shown below:

[code]

When pages containing such links are translated into another language, the localization team has to take extra care to handle them or else the links will be missing or pointing to an incorrect location. For example, in the Ch

[2020-01-02 00:59] sftim commented on #18403
:100: this

To be honest, when I started contributing I saw that there were localizations and I assumed that a mechanism similar to this already existed. I was genuinely surprised when I realized that localization teams needed to manually track this kind of detail.

[2020-01-02 01:00] sftim commented on #18403
/kind feature
Does /priority important-longterm feel right?

[2020-01-02 01:22] tengqm commented on #18403
No objections wrt priority. :)

[2020-01-02 01:27] sftim commented on #18403
/priority important-longterm

[2020-01-02 02:37] seokho-son commented on #18402
@sftim This issue is worth to discuss. Thank you.
First of all, Korean l10n team translate terms for localize API objects as well.
In case of an API object, we translate it according to Korean pronunciation to make readers familiar with K8s terms.

Recently, we made some exceptions such as "Horizontal Pod Autoscaler" with the note.

(this means.. an API object is supposed to be translated accordin

[2020-01-02 03:39] rainingmaster opened #18406 "Incorrect comment format display"
**This is a Bug Report**

**Problem:**
The page incorrect with the comment, such as: `https://kubernetes.io/zh/docs/concepts/services-networking/ingress/#%E4%B8%93%E7%94%A8%E6%9C%AF%E8%AF%AD`. It was correct in my mac, and the version of hugo is `Hugo Static Site Generator v0.62.1/extended darwin/amd64`.

**Proposed Solution:**
Update hugo in server.

**Page to Update:**
https://kubernetes.io/zh/d

[2020-01-02 06:33] gochist commented on #18402
Korean l10n team made it a rule to localize API objects using foreign language notation so that readers can easily infer original English names. The foreign language notation established by the National Institute of Korean Language is a way of writing pronunciation in Korean, not meaning of English. So most Korean readers can infer "ReplicaSet" by looking at "레플리카셋".

However, there are some cases

[2020-01-02 07:00] jessie123jiang opened #18409 "Sort providers list in /docs/concepts/cluster-administration/cloud-providers/"
**Problem:
all the cloud providers should be sorted alphabetically

[2020-01-02 07:03] jessie123jiang opened #18410 "Issue with k8s.io/docs/concepts/cluster-administration/cloud-providers/"
Add a New cloud Provider of Alibaba Cloud

## Alibaba Cloud
 If you wish to use the external cloud provider, its repository is kubernetes/cloud-provider-alibaba-cloud(link:https://github.com/kubernetes/cloud-provider-alibaba-cloud)

### Node Name
The AlibabaCloudProvider use ${region-id}.${instance-id} as the name of the Kubernetes Node object which is determined by the kubelet overridden with `--

[2020-01-02 07:26] zhangxiaoyu-zidif commented on #18410
/sig cloud provider

[2020-01-02 07:26] zhangxiaoyu-zidif commented on #18410
sig/cloud

[2020-01-02 07:36] VanagaS commented on #14457
Needed for hardening server profiles.

/remove-lifecycle stale

[2020-01-02 08:00] ThomsonZeng commented on #10808
Same error. In my condition, it`s because of the ntp is not updated, and just sync the time in all nodes by "ntpdate time.windows.com". After that, it works.

[2020-01-02 08:00] ThomsonZeng commented on #10808
Same error. In my condition, it`s because of the ntp is not updated, and just sync the time in all nodes by "ntpdate time.windows.com". After that, it works.

[2020-01-02 08:14] ydcool opened #18411 "SEE ALSO section under content/zh/docs/reference/setup-tools/kubeadm/generated/ need to be deleted"
**This is a Bug Report**

**Problem:**
Since the SEE ALSO section was removed in https://github.com/kubernetes/website/pull/17123, those files for zh translation should be updated as the same.

**Proposed Solution:**
List of all files should be updated:

- [x] 1. [kubeadm.md](https://github.com/kubernetes/website/blob/release-1.17/content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm.md)

[2020-01-02 08:19] ydcool commented on #18411
If any one want help to fix these files, please comment below with which files you want to fix so that we won't get confict. thanks.

[2020-01-02 08:23] huchengze commented on #18411
I will fix the 1~10 files.

[2020-01-02 08:29] LinshanYu commented on #18411
I will fix the 11~20 files，love you！

[2020-01-02 08:31] gaoguangze111 commented on #18411
21~30 for me, thx Dongchao @ydcool

[2020-01-02 08:42] lovebaby979 commented on #18411
31-40

[2020-01-02 08:43] CriaHu commented on #18411
leave 41-50 to me

[2020-01-02 08:46] wyyxd2017 commented on #18411
51-60，love and peace

[2020-01-02 08:51] timyinshi commented on #18411
I will fix the 70~80 files

[2020-01-02 08:53] cwocwo commented on #18411
81~90

[2020-01-02 08:53] #18097 closed

[2020-01-02 08:53] zhanw15 commented on #18411
I will fix the 61~70 files

[2020-01-02 08:54] wwgfhf commented on #18411
91~100

[2020-01-02 09:02] npu21 commented on #18411
it's my turn 101-107

[2020-01-02 10:07] fabriziopandini commented on #18383
Excluding OWNERS is ok, but considering that we are at the beginning of this effort and that the well-known issues about the existing translations, I think we should double-check everything no matter if they look up to date.

[2020-01-02 10:38] sftim commented on #18411
/language zh

[2020-01-02 11:11] sftim commented on #18383
I confirm you that `content/it/examples/*` are checked.

[2020-01-02 12:05] sftim commented on #15979
/remove-lifecycle stale
/help
(_almost_ a good-first-issue, too, IMO)

[2020-01-02 12:06] sftim commented on #15979
/retitle Improve wording for StatefulSet limitations around storage

[2020-01-02 13:10] sftim commented on #18409
Good idea @jessie123jiang
/retitle Sort providers list in /docs/concepts/cluster-administration/cloud-providers/
/kind cleanup
/language en

[2020-01-02 13:57] remyleone commented on #16571
/remove-lifecycle stale

[2020-01-02 14:42] jmichalik commented on #12968
This still seems to be an issue. When using the **Select port to view on Host 1** from the tab and inputting 30000, the KataKoda display in the browser is stuck on **Connecting to Port 30000**. Am I missing something?

[2020-01-02 15:13] jmichalik opened #18420 "Improvement for k8s.io/docs/tutorials/hello-minikube/"
Heapster is not available in the add on list. Maybe it needs to be added to the docker image.

[2020-01-02 15:18] sftim commented on #18406
/kind bug
/priority important-soon

I think.

[2020-01-02 15:18] sftim commented on #18410
/sig cloud-provider

[2020-01-02 15:19] sftim commented on #18410
See PR #18255

[2020-01-02 15:21] sftim commented on #18420
@jmichalik would you be willing to capture some diagnostic information about the version of `minikube` that you're using?
Was this using the terminal-version on the website, or Minikube locally? If locally, what version of minikube and how is it set up?

[2020-01-02 15:22] sftim commented on #18389
/triage needs-information

[2020-01-02 15:44] BenHall commented on #18420
Thanks. It looks like Heapster is no longer a Minikube addon and has been replaced by metrics-server - https://minikube.sigs.k8s.io/docs/tasks/addons/

When Katacoda moved to 1.17 it's highlighted the out-dated docs.

I will raise a PR to update

[2020-01-02 16:06] hepaestus opened #18423 "Improvement for k8s.io/docs/tasks/tools/install-kubectl/"
How do I set up the KUBECTL config file? I got it to work somehow but now my cluster has changed and I cannot get it to work wot the new setup. How do I tell it what my cluster is etc... Thanks

[2020-01-02 16:15] BenHall commented on #12968
Thanks for letting us know @jmichalik - With 1.17 the namespace was changed so it's introduced a timing issue.

We have a fix in place and it will be rolled out later today.

[2020-01-02 16:17] sftim commented on #18420
/kind cleanup
/priority important-longterm

[2020-01-02 16:19] jmichalik commented on #18420
@sftim I am using the terminal-version on the website.

[2020-01-02 16:20] sftim commented on #18423
Issue #15671 already exists to track that https://k8s.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/ is not very clear.

I think it would help if https://k8s.io/docs/tasks/tools/install-kubectl/ linked to https://k8s.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/

@hepaestus do you agree about that suggestion?

[2020-01-02 17:01] sftim commented on #18364
It sounds like you need a computer with hardware virtualization enabled @atanu2531
Are you able to try enabling that and see if it helps?

/triage support

[2020-01-02 17:53] sftim commented on #4502
Increasing priority to
/remove-priority backlog
/priority important-longterm

[2020-01-02 17:59] sftim commented on #4502
Here are some things the reader should learn from the concept page:
- images are artifacts
- images represent runnable applications
- images have layers
- images have content-addressable identifiers (hashes)
- https://github.com/opencontainers/image-spec specifies how images work
- there are also [manifests](https://github.com/opencontainers/image-spec/blob/master/manifest.md) that work like image

[2020-01-02 19:46] sftim commented on #17388
It looks like https://github.com/kubernetes/website/pull/16965 landed in _master_ without passing the criteria in this issue.

[2020-01-02 22:42] remyleone commented on #17388
I don't think it is a good idea to add friction and extra steps to prevent an init PR to start. My input would be to have a minimal PR that gives an initial team as much autonomy as possible to start working. I really don't see how adding extra requirements will help. I think a CNCF action to talk at a meetup is way more efficient to gather additional contributors rather than rising up the admissi

[2020-01-03 01:04] #15669 closed

[2020-01-03 04:43] #18098 closed

[2020-01-03 05:44] ysyukr opened #18431 "Modify reference links for translated documents added from previous branches."
**This is a Bug Report**
**Problem:**
Modification is required for documents referring to original links to new documents added in dev-1.17-ko.1, dev-1.16-ko.6

The following list of documents shall be modified in dev-1.16-ko.7
- [ ] content/ko/docs/reference/issues-security/issues.md

The following list of documents shall be modified in dev-1.17-ko.2
- [ ] content/ko/docs/concepts/services-networ

[2020-01-03 05:44] ysyukr commented on #18431
/assign

[2020-01-03 06:08] zhangxiaoyu-zidif commented on #18409
This is a good idea! approve for this issue.

[2020-01-03 07:25] zarkzheng opened #18434 "Issue with k8s.io/zh/docs/tutorials/services/source-ip/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

Packets sent to ClusterIP from within the cluster are never source NAT’d if running kube-proxy in iptables mode, so the client_address is always the client pod’s IP address, whether the client pod and server pod are in the same node or in different nodes.

**Page to Update:**
https://kubernetes.io/zh/docs/tutorials/services/source-ip/

[2020-01-03 08:11] #15686 closed

[2020-01-03 09:27] butuzov commented on #18379
Shouldn't be this link to be updated to metrics server as successor of hipster?

[2020-01-03 14:02] butuzov commented on #18304
About 40 urls "fixed" in Chinese localization by `/zh` team.

[2020-01-03 15:11] tanjunchen commented on #18411
good job
/helped
/good-first-issue

[2020-01-03 17:33] sftim commented on #17388
I like the idea of small changes, iteration, and frequent merges; as an IT consultant, it's a way of working that I encourage colleagues and customers to adopt.
It must be frustrating to work on a branch and not see the changes go live until the minimal (as in, current documentation) localization is done. The [Russian localization](https://github.com/kubernetes/website/pull/16404) took about 2 mon

[2020-01-03 17:56] jimangel commented on #17388
Just to be clear @remyleone, this issue was never opened with the goal of making it harder for localization. It is a lot of effort to localize these docs (as you are very well aware of 🙏) and in the past we've spent much of our contributors time getting new teams setup - only to find the content is deactivated, under maintained, or we lose contributors (circumstances / life).

As a result of incre

[2020-01-03 17:58] remyleone commented on #17388
I don't see any impact on poor quality localizations. Search engines won't bring them up in the first place because no other pages will link to them if their quality is poor. Same for bookmarks.
If pages are not viewed maybe it is a sign that the CNCF should motivate people to open meetups and recruit new contributors/students that are willing to participate in those languages.

I think discussion

[2020-01-03 17:59] jimangel commented on #17388
100% agree about getting all stakeholders involved.

[2020-01-03 18:26] rajattrt commented on #17795
I will try to pick this one.
/assign

[2020-01-03 18:35] Vaccano opened #18441 "Improvement for k8s.io/docs/tasks/access-application-cluster/access-cluster/"
This page is the first hit when googling terms such as: _kubectl connect to remote cluster_

The first section pushes the user to other pages to find that syntax.  Those pages (getting started and kubectl reference) either do not have the syntax or do not make it easy to find.

I am still looking for this command, so it may not be just a simple command to connect.  If it is not, then ignore this i

[2020-01-03 20:23] #15599 closed

[2020-01-03 21:24] butuzov opened #18444 "Issue with kubectl-commands.html"
**This is a Bug Report**

This issue appeared recently within kubernetes/website#18067.

Links in  `kubectl-commands.html` follow the next pattern `[<a href="link]">text</a>]`, see a square bracket inside of the `href`.

I tried to follow https://kubernetes.io/docs/contribute/generate-ref-docs/kubectl/ in order to find a source of the issue, but wasn't able to do so.

my best guesses:
- Source for

[2020-01-03 21:31] butuzov commented on #18444
/kind bug
/priority backlog

[2020-01-03 21:31] butuzov commented on #18444
ping @kbhawkey @tengqm

[2020-01-03 21:45] kbhawkey commented on #18444
I am looking now

[2020-01-03 21:49] kbhawkey commented on #18444
@butuzov , you are referring to a link problem in the reference?
https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#-strong-getting-started-strong-

Can you provide an example of a command that has a link issue? Thanks!

[2020-01-03 21:50] kbhawkey commented on #18444
I plan on updating the build instructions and README.

[2020-01-03 22:22] butuzov commented on #18444
@kbhawkey any link that follow pattern `[<a href="link]">text</a>]`. If we ware talking about kubectl.yaml from the root of the kubernetes-sigs/reference-docs, it would be any link in usage block. Almost all of them are anchor links, so problem isn't visible at first.

P.S. Is it worth time to update build instructions now? Isn't @tengqm going to change generator backend to htmlwriter?

[2020-01-03 22:26] kbhawkey commented on #18444
@butuzov , I have a feeling there is a mis-communication. I am not sure what you are referring to. I thought you are logging an issue specifically to the kubectl reference. Please provide a specific example.

[2020-01-03 22:31] butuzov commented on #18444
ok.
1. open `https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands`
2. search for `http://kubernetes.io/docs/user-guide`
3. click on link
4. back to `https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands`
5. search for `http://golang.org/pkg/text/template/#pkg-overview`
6. click on link
7. ask yourself why `]` is in link.
8. check diff for kubernetes/website@bcf

[2020-01-03 22:36] butuzov commented on #18304
closed in favor of the kubernetes/website#18411

[2020-01-03 22:36] #18304 closed

[2020-01-04 00:27] #15586 closed

[2020-01-04 01:07] kbhawkey commented on #18444
I see. I think we are referring to the same problem -- the right bracket.

[2020-01-04 01:28] #15484 closed

[2020-01-04 09:32] phanama commented on #18336
I'll kickstart the index page.
Let's put these pages into our backlog and discuss it in our next meeting @girikuncoro @irvifa @danninov @wahyuoi

[2020-01-04 09:33] irvifa commented on #18336
Understood, let’s discuss this in the next meeting.

On Sat, 4 Jan 2020 at 4.32 PM Yudi A Phanama <notifications@github.com>
wrote:

[2020-01-04 09:34] irvifa commented on #18336
Understood, we will discuss this in our next meeting. Thank you @sftim for raising this issue.

[2020-01-04 22:49] #15394 closed

[2020-01-04 22:49] #15379 closed

[2020-01-04 22:49] #15323 closed

[2020-01-05 00:51] kidlj commented on #15387
/reopen

[2020-01-05 01:52] mjbright opened #18470 "Need example setup/use information in ephemeral containers documentation"
**This is a Bug Report**

**Problem:**
There is no example setup/use information in ephemeral containers documentation at k8s.io/docs/concepts/workloads/pods/ephemeral-containers/

**Proposed Solution:**
Add a *"getting started"* section

**Page to Update:**
https://k8s.io/docs/concepts/workloads/pods/ephemeral-containers/

1.17

As a minimum a pointer to a blog post on configuring/using "kubectl

[2020-01-05 05:28] moulishanmuhavelu opened #18471 "Issue with k8s.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-15/"
**This is a Bug Report**

**Problem:**
While upgrading the worker node, we need to run the command "sudo kubeadm upgrade node" . But this command should be run with options else it will throw error.

**Proposed Solution:**
Please add the sample command with config options.

**Page to Update:**
https://v1-15.docs.kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-15/

[2020-01-05 07:15] ClaudiaJKang opened #18472 "In `diff_l10n_branches.py`, the l10n directory of the issue content is fixed."
**This is a Bug Report**
When a localization user uses `diff_l10n_branches.py`, the directory of content on 'Proposed Solution' is fixed. Thus, this code needs to change the directory name according to the l10n language.

**Problem:**
In `diff_l10n_branches.py`, the l10n directory of the issue content is fixed.

**Proposed Solution:**In `diff_l10n_branches.py`, according to the l10n language, the

[2020-01-05 13:22] oke-py opened #18475 "DaemonSet v1 apps kubectl example should use apiVersion: apps/v1"
**This is a Bug Report**

**Problem:**
`apiVersion: extensions/v1beta1` is used but it has already been deprecated and this is v1 section.
![ds](https://user-images.githubusercontent.com/4710215/71780730-84daeb80-3009-11ea-8c3b-35484eeb0663.png)

**Proposed Solution:**
It should be replaced with `apiVersion: apps/v1`.

**Page to Update:**
https://kubernetes.io/docs/reference/generated/kubernetes-a

[2020-01-05 15:00] neolit123 commented on #18471
/sig cluster-lifecycle

could you clarify what options?

[2020-01-05 15:24] fanruinet opened #18476 "Issue with k8s.io/docs/concepts/configuration/manage-compute-resources-container/"
**This is a Bug Report**

**Reference:**
The spec.containers[].resources.limits.cpu is converted to its **millicore value** and multiplied by 100. The resulting value is the total amount of CPU time that a container can use every 100ms. A container cannot use more than its share of CPU time during this interval.

**Problem:**
I'm a little confused about the description about 'millicore value'. If

[2020-01-05 15:53] oke-py opened #18477 "Deployment v1 apps kubectl example should have selector field"
**This is a Bug Report**

**Problem:**
![deployment](https://user-images.githubusercontent.com/4710215/71782551-a1355300-301e-11ea-8659-b4671bfa92bd.png)

This sample yaml fails to create a deployment resource.

**Proposed Solution:**

`selector` filed should be added.

[code]

**Page to Update:**
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.17/#deployment-v1-apps

[2020-01-05 16:01] oke-py opened #18478 "Deployment v1 apps curl example shows kubectl example"
**This is a Bug Report**

**Problem:**
When I clicked the `curl example` button, sample yaml is displayed. The behavior is the same as `kubectl example` button.

![deployment](https://user-images.githubusercontent.com/4710215/71782615-7ef00500-301f-11ea-9348-7a804aba9b10.png)

**Proposed Solution:**

`curl example` should be displayed.

**Page to Update:**
https://kubernetes.io/docs/reference/gene

[2020-01-06 04:26] satva opened #18485 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro/"
**Hyper link to "Kubernetes API"  to get to the insights of it instantly.**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-01-06 07:21] #15760 closed

[2020-01-06 07:50] kvaravinda opened #18487 "Kubernetes Dashboard not accessible when used azure IP"
Hello All,

i have installed a application using minikube. I am able to access application using below mentioned links i.e, it is accessible over the internet when we use azure ip.
URL : http:<azure_ vm_ip>:30080   (or)   http://localhost:30080/

In case of kubernetes dashboard i am able to access it from localhost using the following url "http://localhost:8001/api/v1/namespaces/kubernetes-dashboa

[2020-01-06 08:04] oke-py opened #18488 "API Reference has an extra `]`"
**This is a Bug Report**

**Problem:**

There is an extra `]`.

![config](https://user-images.githubusercontent.com/4710215/71804310-6414a380-30a6-11ea-89c9-420f4a7a70c7.png)

**Proposed Solution:**

remove `]` and regenerate document.

**Page to Update:**
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.17/#-strong-config-and-storage-apis-strong-

[2020-01-06 08:45] oke-py opened #18491 "kubectl response example should use apps/v1 for Deployment"
**This is a Bug Report**

**Problem:**
`app/v1beta1` is a typo of `apps/v1beta1`?
`apps/v1beta1` has already been deprecated.

![list-deployment](https://user-images.githubusercontent.com/4710215/71806330-e05db580-30ab-11ea-9a76-80748aba5f50.png)

**Proposed Solution:**
`app/v1beta1` should be replaced with `apps/v1`.

**Page to Update:**
https://kubernetes.io/docs/reference/generated/kubernetes-a

[2020-01-06 08:50] pigletfly commented on #18377
the translation is fixed. /close

[2020-01-06 08:51] pigletfly commented on #18377
/close

[2020-01-06 08:51] #18377 closed

[2020-01-06 09:47] #18477 closed

[2020-01-06 11:03] sftim commented on #16466
/remove-lifecycle stale
Relevant to https://github.com/kubernetes/enhancements/pull/1429

[2020-01-06 12:04] sftim commented on #18491
/kind bug
/priority backlog

I think this needs fixing [upstream](https://github.com/kubernetes/kubernetes)

[2020-01-06 12:06] sftim commented on #18470
I recommend creating a _task_ page to cover this, and making the concept page link to the task page.
/priority backlog

[2020-01-06 12:07] sftim commented on #18434
I presume that
https://kubernetes.io/docs/tutorials/services/source-ip/ also needs fixing?

[2020-01-06 12:09] sftim commented on #18441
It makes sense to me that this page has clear links to pages that help people get started with `kubectl`
/priority important-longterm
/help

[2020-01-06 12:19] #18475 closed

[2020-01-06 12:21] #18488 closed

[2020-01-06 14:48] #18162 closed

[2020-01-06 16:41] erictune commented on #16725
/remove-lifecycle stale

On Sun, Jan 5, 2020 at 11:09 AM fejta-bot <notifications@github.com> wrote:

[2020-01-06 16:53] sftim opened #18496 "Localize https://k8s.io/zh/examples/minikube/server.js"
**This is a Localization Request**

**What would you like to be localized**
Update `'Received request for URL: ' + request.url` and `'Hello World!'` to be in Chinese, on https://kubernetes.io/zh/examples/minikube/server.js.

**Why is this needed**
This is a very low priority bit of localization.

**Comments**
At the moment only the Russian localization translates this.

/language zh
/priority back

[2020-01-06 16:53] sftim opened #18497 "Localize https://k8s.io/ja/examples/minikube/server.js"
**This is a Localization Request**

**What would you like to be localized**
Update `'Received request for URL: ' + request.url` and `'Hello World!'` to be in Japanese, on https://kubernetes.io/ja/examples/minikube/server.js.

**Why is this needed**
This is a very low priority bit of localization.

**Comments**
At the moment only the Russian localization translates this.

/language ja
/priority bac

[2020-01-06 16:53] sftim opened #18498 "Localize https://k8s.io/ko/examples/minikube/server.js"
**This is a Localization Request**

**What would you like to be localized**
Update `'Received request for URL: ' + request.url` and `'Hello World!'` to be in Korean, on https://kubernetes.io/ko/examples/minikube/server.js.

**Why is this needed**
This is a very low priority bit of localization.

**Comments**
At the moment only the Russian localization translates this.

/language ko
/priority backl

[2020-01-06 20:30] moulishanmuhavelu commented on #18471
Hi,
If we just run the command "sudo kubeadm upgrade node", it will give an error as "missing subcommand; 'node' is not meant to be run on its own".
It should be given with config options as below:
sudo kubeadm upgrade node config --kubelet-version=v1.1x.x

[2020-01-06 20:41] neolit123 commented on #18471
@moulishanmuhavelu it seems you are running an older version of kubeadm.

checking the source code of 1.15:
https://github.com/kubernetes/kubernetes/blob/release-1.15/cmd/kubeadm/app/cmd/upgrade/node.go#L71

you should be able to run just `kubeadm upgrade node` if you have the 1.15 version of kubeadm - to upgrade from 1.14 to 1.15.

/triage support

[2020-01-06 23:29] zacharysarah commented on #17388
I agree about not _per se_ raising barriers to localization, but this should absolutely be included in the minimum requirements, given its outsized impact and the potential for localization teams to use the shortcode to indicate which version is in fact the most current for that language.

[2020-01-06 23:47] jean-passos opened #18503 "Issue with k8s.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/"
**This is a Bug Report**

**Problem:**
The current page create two clusters, two users, and three contexts with a file setted in --kubeconfig, but the note to delete user doesn't mention need to set a --kubeconfig when it's generated from that file. Submitting the command as is kubectl try to unset the user on default config file $HOME/.kube/config

**Proposed Solution:**
Mention the need to add -

[2020-01-07 00:23] #18431 closed

[2020-01-07 02:21] ChaitanyaKaranam commented on #16713
/close

[2020-01-07 02:21] #16713 closed

[2020-01-07 02:26] BenTheElder commented on #12326
Is it required? Do we have a formal decision on that?

[2020-01-07 07:55] oke-py commented on #18491
This needs fixing [this file](https://github.com/kubernetes-sigs/reference-docs/blob/master/gen-apidocs/config/examples/deployment/list.yaml) and regenerate docs following [this page](https://kubernetes.io/docs/contribute/generate-ref-docs/kubernetes-api/).

[2020-01-07 08:17] oke-py opened #18510 "Deployment/DaemonSet in v1.16 API reference should use apps/v1"
**This is a Bug Report**

**Problem:**
#18475, #18477 apply to v1.16 API reference.

**Proposed Solution:**
- regenerate docs?
- directly (manually) edit index.html?
- this document is frozen?

**Page to Update:**
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.16/#daemonset-v1-apps
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.16/#deployment-v1-apps

[2020-01-07 10:36] kibernick opened #18511 "Issue with k8s.io/docs/tasks/manage-kubernetes-objects/declarative-config/"
**This is a Bug Report**

**Problem:**

Cannot print the live configuration using `kubectl get`.
[code]

**Proposed Solution:**
Perhaps a link has changed, or the dependency `nginx-deployment` that's part of `simple_deployment.yaml` is missing.

**Page to Update:**
https://kubernetes.io/docs/tasks/manage-kubernetes-objects/declarative-config/

[2020-01-07 10:38] cdemi opened #18512 "Issue with k8s.io/docs/concepts/overview/components/"
**Problem:**
In issue #13332 a diagram was introduced. According to the accompanying documentation, the `kube-apiserver` is a scale-out component, so I think it should be represented by multiple objects. Similarly, it is not mentioned (in the docs) that the `kube-controller-manager`, `cloud-controller-manager` and `kube-scheduler` are scale-out components, so I think their representation is incorr

[2020-01-07 11:25] tengqm commented on #18510
both fixed, close? @oke-py

[2020-01-07 11:30] oke-py commented on #18510
@tengqm If I understand correctly, they will be fixed when the v1.17 doc is regenerated (maybe when v1.17.1 is released), but the v1.16 doc will not be regenerated ( = not fixed).

[2020-01-07 11:32] oke-py commented on #18510
Oh, v1.17 docs has already been updated. Thanks!

[2020-01-07 11:57] mrPsycho opened #18515 "Improvement for k8s.io/docs/concepts/services-networking/ingress/"
In section https://kubernetes.io/docs/concepts/services-networking/ingress/#updating-an-ingress it is not obvious how to update configuration.

`kubectl replace -f` asks for a file, but there is no any path to file which was modified.

would be cool, if there will be added way to find this updated file.