[2019-01-09 01:14] tengqm commented on #10221
/remove-lifecycle rotten

[2019-01-09 01:15] tengqm commented on #10221
@lucperkins Are you still on this one? Looks like the javascript needs some improvement so that it is not copying the whole innerText of the table.

[2019-01-09 01:16] #12117 closed

[2019-01-09 01:44] tuanvcw commented on #12132
Hi, I'll take this.
Regarding to proposed solution, can we point users to:
https://github.com/kubernetes/minikube/releases/

Because:
1. The users can still get the latest version and in addition, they know exactly what version it is.
2. Many users might not want the latest version, so they can choose any version they want.

Please let me know if this idea is OK :)
Thank you in advance, @svenkin

[2019-01-09 02:00] #12097 closed

[2019-01-09 02:01] tengqm commented on #12118
@srivassumit pls double check your network settings, e.g. proxies, iptables, dns etc.

[2019-01-09 02:17] #12132 closed

[2019-01-09 04:31] srivassumit commented on #12118
thanks, it looks like the network was the issue. I tried from another network and it is successful now.

[2019-01-09 06:17] seokho-son commented on #12125
/close

[2019-01-09 08:56] onitake commented on #10272
/remove-lifecycle stale

[2019-01-09 09:14] tuanvcw commented on #11926
Hi, I would like to take this :)

[2019-01-09 10:02] tuanvcw commented on #11906
Hi, I'll take this

[2019-01-09 10:07] cottrell opened #12146 "Issue with k8s.io/docs/tutorials/stateless-application/expose-external-ip-address/"
I think this is stale docs. No ip is exposed. External IP is unresolved.

If someone has got this to work it would be good to know. If these docs are not known to work (i.e. someone has not tried them recently, they should be deleted).

[code]

**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-01-09 10:45] tengqm commented on #11906
@tuanvcw You can leave a comment "/assign", then the issue will be assigned to you.

[2019-01-09 10:48] aario opened #12148 "Improvement for k8s.io/docs/reference/kubectl/cheatsheet/"
**This is a...**

- [ x ] Feature Request
- [ ] Bug Report

**Problem:**
It is mentioned how to replace a part of configuration by doing
kubectl replace
It's not mentioned anywhere how to view current configuration.

**Proposed Solution:**
Write on how to view current configuration.

**Page to Update:**
https://kubernetes.io/docs/reference/kubectl/cheatsheet/

[2019-01-09 10:51] tuanvcw commented on #11906
Thank you very much @tengqm :)
/assign

[2019-01-09 11:24] adamgit opened #12149 "Issue with k8s.io/docs/setup/minikube/"
**This is a...**

- [ x] Feature Request
- [ ] Bug Report

**Problem:**

HyperV isn't listed as a valid driver, and the link through to the Drivers/Plugins page does not include a flag for launching with HyperV

NB: googling around suggests there is an extra, unlisted, driver called simply "hyperv" - e.g. here: https://medium.com/@JockDaRock/minikube-on-windows-10-with-hyper-v-6ef0f4dc158c

**Prop

[2019-01-09 16:48] #10400 closed

[2019-01-09 17:15] liggitt opened #12153 "Update security best practices blog post"
**This is a...**
- [x] Feature Request

**Problem:**
The linked blog post has many outdated recommendations or errors:
* abac is replaced by rbac
* networkpolicies are in a different API group and version
* PodSecurityPolicy is recommended instead of DenyEscalatingExec
* audit logging is now available and is not mentioned in the logging section

**Proposed Solution:**
should we create a new blog p

[2019-01-10 01:22] bsalamat commented on #12051
`PodReasonUnschedulable` is not a `PodConditionType`. It is a string literal used as a `Reason` in `PodCondition` for Pods which are not schedulable. `Type` of `PodCondition` in those cases is `PodScheduled` and `Status` is `ConditionFalse`.
See here: https://github.com/kubernetes/kubernetes/blob/2c8b571d573d434687316c606fb5e20e63008345/pkg/scheduler/scheduler.go#L280

/close

[2019-01-10 01:38] tengqm commented on #12051
@bsalamat Thanks for the explanation. If `PodReasonUnschedulable` doesn't belong to the pod condition type group, we may want to move it out to a separate `const {}` statement. The current code is confusing.

[2019-01-10 01:52] tkanng commented on #12051
If `PodReasonUnschedulable` doesn't belong to the pod condition, we should delete it on [Pod Conditions document](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-conditions) ?

[2019-01-10 03:01] #11906 closed

[2019-01-10 10:09] daohu527 opened #12156 "Issue with k8s.io/docs/tasks/administer-cluster/dns-debugging-resolution/"
**This is a**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Because the busybox's "nslookup" issue in the lastest version [issue](https://github.com/docker-library/busybox/issues/48). Can't use "nslookup" in busybox pod to find the service by dns service.

**Proposed Solution:**
Use the busybox version  1.28 will solve the problem.
Change the "busybox.yaml" as:
[code]
I see the [link](http

[2019-01-10 18:30] bsalamat commented on #12051
/reopen

[2019-01-10 19:49] #9839 closed

[2019-01-11 04:58] seokho-son opened #12160 "Issue in l10n docs referencing EN layouts outside l10n working directory"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
Documents, which l10n teams translate, include Layouts that shows some English description.
English inside Layout (e.g., partials/templates, shortcodes) cause some incomplete translation in l10n work.

For instance,
https://kubernetes.io/ko/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/#before-you-begin
This t

[2019-01-11 07:00] #9847 closed

[2019-01-11 07:44] seokho-son opened #12166 "Translate setup/cri in Korean"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
No setup/cri.md in Korean

**Proposed Solution:**
Translate setup/cri.md in Korean

**Page to Update:**
https://kubernetes.io/ko/docs/setup/cri

/language ko

[2019-01-11 09:45] daohu527 opened #12172 "Issue with k8s.io/zh/docs/tasks/inject-data-application/define-environment-variable-container/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The command not work, it's "--", not "–".
[code]
I see the [define-environment-variable-container.md](https://github.com/kubernetes/website/blob/release-1.13/content/zh/docs/tasks/inject-data-application/define-environment-variable-container.md) in github.The file is right,I think it's the problem by web editor.

**Proposed Sol

[2019-01-11 10:01] #11791 closed

[2019-01-11 12:42] viswanathredd opened #12175 "Issue with k8s.io/docs/tasks/debug-application-cluster/troubleshooting/"
i am getting this error  in kubelet service status
journalctl -fu kube-kubelet

E0111 12:20:06.867715   11077 kubelet_node_status.go:302] Error updating node status, will retry: Operation cannot be fulfilled on nodes "10.xx.x.xx": the object has been modified; please apply your changes to the latest version and try again

Below data is grabbed from pod with.
kubectl describe po security-1689152837

[2019-01-11 14:07] #9655 closed

[2019-01-11 15:53] seokho-son opened #12177 "Broken links in reference/setup-tools/kubefed/kubefed.md"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
There are broken links in reference/setup-tools/kubefed/kubefed.md.
The following links cause 404 error.
[code]

**Proposed Solution:**
Fix the link addresses.
[code]

**Page to Update:**
https://kubernetes.io/docs/reference/setup-tools/kubefed/kubefed/

[2019-01-11 16:06] kbhawkey commented on #12160
Hello. There may be a few ways to do this, but just tried this:
1) Add some localized text to your .toml files for each heading text,
#en.toml
#testing localized what's next heading
[docs_whats_next]
other = "What's next, K8S?"

Then update the partial html code, for example concept.html:
{{ $a := i18n "docs_whats_next" . }}

and use the new variable as the heading string:
{{ .ctx.Scratch.Add "blo

[2019-01-11 16:15] seokho-son commented on #12160
@kbhawkey Thank you for your comment :+1:
I agree with you. Your solution is same with the option 0 that I described.
I also tested it in a similar way :) It works.
But I am not sure everyone (sig-docs) agree with this solution yet.

[2019-01-11 16:25] viane opened #12179 "Broken link in k8s.io/docs/concepts/services-networking/ingress/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
`ingress-class` link is no longer valid in the Ingress controllers [secion](https://kubernetes.io/docs/concepts/services-networking/ingress/#ingress-controllers)

**Page to Update:**
https://kubernetes.io/docs/concepts/services-networking/ingress

[2019-01-11 17:40] jimangel commented on #12160
I like the idea of option 1, where we can consolidate all of the localization in the same short codes and have "one 'master' source" to work out of for everyone. Hopefully this would decrease overhead and encourage consistency across repos. I think this would avoid everyone solving the same issue different ways. It's also very possible I don't fully understand the benefit of option 0 :).

I've add

[2019-01-11 21:42] MNF commented on #10170
@fejta,
 I’ve added /remove-lifecycle stale comment 12 dec. Why I got the same message after 30, not 90 days?
Is it because you’ve changed a term and now it  /remove-lifecycle rotten ?
Cc @fejta-bot

[2019-01-12 05:52] xiaoluo1314 opened #12186 "Issue with k8s.io/docs/getting-started-guides/binary_release/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-01-12 09:31] shubheksha commented on #12175
@viswanathredd, this repo contains Kubernetes documentation and isn't the best place to ask for support regarding the operation of Kubernetes. Please try one of the [support channels](https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#support-structures) listed instead.

[2019-01-12 09:31] shubheksha commented on #12175
/close

[2019-01-12 09:31] #12175 closed

[2019-01-12 09:33] shubheksha commented on #12109
@BenHall - could you take a look?

[2019-01-12 09:36] BenHall commented on #12109
@shubheksha Thanks! Will investigate

[2019-01-12 12:35] NicklasWallgren opened #12187 "Issue with k8s.io/docs/tasks/run-application/run-single-instance-stateful-application/"
- [ ] Feature Request
- [X ] Bug Report

**Problem:**
Running example gives "read-only file system" error on GKE.

[code]

[2019-01-12 13:05] NicklasWallgren commented on #12187
https://discuss.kubernetes.io/t/running-tutorial-mysql-example-gives-me-read-only-file-system-error/3197

[2019-01-12 13:41] cstoku commented on #10823
/close

[2019-01-12 13:41] #10823 closed

[2019-01-12 13:42] cstoku commented on #10826
thanks!
/close

[2019-01-12 13:42] #10826 closed

[2019-01-12 13:43] cstoku commented on #10827
/close

[2019-01-12 13:43] #10827 closed

[2019-01-12 14:50] Sai-Adarsh commented on #12186
@xiaoluo1314 could i work on this?

[2019-01-12 14:57] paralika opened #12188 "Broken link in k8s.io/docs/setup/independent/high-availability/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
`The HA upgrade documentation` link is broken.

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/setup/independent/high-availability/

[2019-01-12 20:36] #9867 closed

[2019-01-12 23:53] MNF commented on #10170
/lifecycle frozen
/remove-lifecycle rotten

[2019-01-13 07:10] cstoku commented on #10858
/close

[2019-01-13 07:10] #10858 closed

[2019-01-13 09:49] rlenferink commented on #12179
Fixed.

/close

[2019-01-13 15:05] anhldbk opened #12199 "Access Cluster: failed to grep on MacOS"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

Command to obtain `TOKEN` in section [Without kubectl proxy](https://github.com/kubernetes/website/blob/master/content/en/docs/tasks/access-application-cluster/access-cluster.md#without-kubectl-proxy) can NOT run correctly on MacOS

[code]

**Proposed Solution:**

Quoting the grep pattern will resolve this issue:

[code]

**Pa

[2019-01-13 15:52] #12179 closed

[2019-01-13 15:58] rlenferink opened #12202 "Edit button for translated content is always linking to English content"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
When viewing k8s.io in a different language than "en", the "Edit" button on the webpage is still forwarding the request to the English documentation, although I am viewing the site in a different language.

**Proposed Solution:**

**Page to Update:**
Not a specific page. Every page which is a translation contains the problem.

[2019-01-13 16:09] JulianWgs opened #12203 "Interactive tutorial freezes on startup"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The interactive window on both sides freezes and doesnt respond to clicks or scroll motion. This happens after you click away the introduction. The terminal is not yet loaded.  I also checked the first interactive tutorial of the lesson which suffers from the same problem.
Check for yourself: k8s.io/docs/tutorials/kubernetes-ba

[2019-01-13 20:09] erkanerol opened #12205 "Issue with k8s.io/docs/concepts/workloads/controllers/replicaset/"
**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**
It seems replicasets use ownerReferences and they ignore the other's pod even the labels match their selector. There is nothing in the documentation regarding this.

Here is a stackoverflow issue:
https://stackoverflow.com/questions/54172198/why-dont-two-kubernetes-replicasets-with-same-selector-conflict-with-each-other/541726

[2019-01-14 01:09] seokho-son commented on #12177
/close

[2019-01-14 01:09] #12177 closed

[2019-01-14 01:09] #12064 closed

[2019-01-14 02:04] seokho-son commented on #12160
Thank you @jimangel !!
I think both option 1 and option 2 are feasible. but like you said, I am not sure the consistency and efficiency in terms of management. So, it is nice to know this issue's been added in the meeting agenda. Thank you. I will be in the 1/15 sig-doc meeting as well :)

[2019-01-14 02:08] #12166 closed

[2019-01-14 02:13] #11926 closed

[2019-01-14 04:03] #12199 closed

[2019-01-14 07:45] fejta commented on #10170
/remove-lifecycle frozen

[2019-01-14 07:49] fejta commented on #10170
This is an open source project. If you think it is important that the documentation clarifies that it does not support seconds, please send the kubernetes/website maintainers a PR with that change.

[2019-01-14 10:45] seokho-son opened #12207 "Several broken links in files in reference/setup-tools/kubefed/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
There are several broken links in reference/setup-tools/kubefed/.
- kubefed_init.md
- kubefed_join.md
- kubefed_options.md
- kubefed_unjoin.md
- kubefed_version.md

The following link in each file causes 404 error.
[code]

**Proposed Solution:**
Fix the link address for each file.
[code]

**Page to Update:**
https://kubernetes.

[2019-01-14 15:51] kbhawkey commented on #10635
/close

[2019-01-14 15:51] #10635 closed

[2019-01-14 15:51] kbhawkey commented on #10637
/close

[2019-01-14 15:52] #10637 closed

[2019-01-14 15:52] kbhawkey commented on #10636
/close

[2019-01-14 15:56] kbhawkey commented on #10634
/close

[2019-01-14 15:56] #10634 closed

[2019-01-14 15:56] kbhawkey commented on #10638
/close

[2019-01-14 15:56] #10638 closed

[2019-01-14 16:00] shaktiprasadrath opened #12216 "Issue with k8s.io/docs/concepts/workloads/controllers/deployment/"
Ii I have an already created POD, is it possible to link that in deployment YML file rather then writing the template section(which is similar to POD yml)?? If Yes, please specify the documentation/reference link.

[2019-01-14 16:34] regmilton opened #12217 "Issue with k8s.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The provided YAML for the custom metrics auto scaler is inconsistent with the mentioned version (autoscaling/v2beta1) which looks quite different, at least for the Object type of metric (the one I looked into). For example, the API specification does not include targetAverageValue (only targetValue), and target is used to descr

[2019-01-14 20:52] rithujohn191 opened #12223 "Issue with k8s.io/docs/reference/command-line-tools-reference/kube-apiserver/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The description of the --v argument reads:
"log level for V logs"

It would be very helpful if we could list out the different log levels here and explain what each one means.

**Proposed Solution:**
Add a list of log levels to the `--v` option, along with an explanation for each level

**Page to Update:**
https://kubernetes.io

[2019-01-15 07:34] #9898 closed

[2019-01-15 11:06] seokho-son opened #12227 "Translate concepts/workloads/pods/init-containers in Korean"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
No concepts/workloads/pods/init-containers in Korean

**Proposed Solution:**
Translate concepts/workloads/pods/init-containers in Korean.

**Page to Update:**
https://kubernetes.io/docs/concepts/workloads/pods/init-containers/

[2019-01-15 11:07] seokho-son commented on #12227
/language ko

[2019-01-15 14:54] nandhanp opened #12228 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
The Kubernetes bootcamp module 1 by katakoda has non responsive terminal. It has no prompt and the scrollbar on the left side ( description) does not operate. This is the case, even after logging in through GitHub account.

- [ ] Feature Request
- [ x] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-01-15 17:33] paralika commented on #12188
/close

[2019-01-15 17:33] #12188 closed

[2019-01-15 20:50] #12202 closed

[2019-01-15 21:31] wenjiaswe opened #12233 "Add etcd version information in k8s.io/docs/setup/version-skew-policy/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Thanks to @liggitt who points to me in https://github.com/kubernetes/kubernetes/issues/71572#issuecomment-443010697, that this is the right place for k8s apiserver - etcd version documentation.

**Proposed Solution:**

**Page to Update:**
https://deploy-preview-11060--kubernetes-io-master-staging.netlify.com/docs/setup/version-

[2019-01-16 07:15] zhangjianghua opened #12238 "Issue with k8s.io/docs/setup/version-skew-policy/"
how to upgrade the kube-proxy?

[2019-01-16 12:10] ClaudiaJKang opened #12243 "Outdated files in the dev-1.13-ko.5 branch"
**This is a...**
- [ ] Feature Request
- [ ] Bug Report

**Problem:**
Outdated files in the dev-1.13-ko.5 branch.

120 files in content/en are changed
14 files in content/ko are outdated

- [X]  [_index.html](https://github.com/kubernetes/website/blob/dev-1.13-ko.5/content/ko/_index.html) 1 file changed, 3 insertions(+), 3 deletions(-)
- [X]  [docs/concepts/architecture/nodes.md](https://github.co

[2019-01-16 12:11] ClaudiaJKang commented on #12243
/language ko

[2019-01-16 14:15] amitca71 opened #12245 "Issue with k8s.io/docs/concepts/workloads/controllers/daemonset/ - not collecting all logs from directory"
**This is a...**

- [ ] Feature Request
- [X ] Bug Report

**Problem:**
i deployed lates version on kubernetes. i use for nginx. its collecting the error.log, however not the access.log and other logs i have on the same directory

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-01-16 14:18] gochist commented on #12243
/assign

[2019-01-16 15:32] jimangel commented on #12160
Per our sig-docs meeting, consensus is option 0 (see referenced PR for fix). Thanks!

[2019-01-16 15:50] jgriss opened #12247 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Console to run tutorial does not show up / work in Firefox (version 64.0)

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-01-16 16:25] bgrant0607 commented on #6707
/reopen

[2019-01-16 16:26] bgrant0607 commented on #6707
/remove-lifecycle rotten

[2019-01-16 20:10] oomichi opened #12250 "Issue with https://kubernetes.io/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

https://kubernetes.io/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases/ says the HostAliases feature puts entries for each hostname, but since https://github.com/kubernetes/kubernetes/commit/ab507dfc1f0c824386ea6ca0efc1abe7968981fd the feature has put entries for each IP address instead.

**Prop

[2019-01-16 21:19] yozamacs opened #12252 "Issue with k8s.io/docs/setup/independent/create-cluster-kubeadm/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The docs say to run `kubeadm alpha kubeconfig user --client-name <CN>` to generate credentials. When I run that, I get an error that says `error: unknown flag: --client-name`. It looks like there's not even a subcommand for `kubeadm alpha` other than `phase`

**Proposed Solution:**
Either update the note or remove it completely

[2019-01-16 22:47] it-praktyk commented on #10816
@bottkars, do you publish somewhere the source of the 'install-kubectl.ps1' script?

I can prepare the PR to resolve that.

[2019-01-16 22:49] it-praktyk commented on #10816
The related issues
- #9877
- #10780

[2019-01-16 22:57] neolit123 commented on #12252
hi, what version of kubeadm are you running?

this documentation is for 1.13 and the flag `--client-name` exists for `kubeadm alpha kubeconfig user` in the codebase:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/alpha/kubeconfig.go#L102

@kubernetes/sig-cluster-lifecycle
/sig cluster-lifecycle
/priority awaiting-more-evidence

[2019-01-17 01:39] MikeSpreitzer opened #12254 "Issue with k8s.io/docs/reference/kubectl/overview/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
This page does not mention kubeconfig files, but it should because they are very important to kubectl.

**Proposed Solution:**
Add an explanation, or a link to an explanation, of kubeconfig files.

**Page to Update:**
https://kubernetes.io/docs/reference/kubectl/overview/

[2019-01-17 04:17] #814 closed

[2019-01-17 05:05] tengqm commented on #7386
/reopen

[2019-01-17 05:05] tengqm commented on #7386
/remove-lifecycle rotten

[2019-01-17 06:55] arvindeybram opened #12256 "Issue with k8s.io/docs/concepts/overview/working-with-objects/namespaces/"
**This is a request to add some more syntactical information about kubernetes namespaces**

- [x ] Feature Request
- [ ] Bug Report

**Problem:**
How to delete namespaces?

**Proposed Solution:**
kubectl delete ns <namespace-name>

**Page to Update:**
https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/

[2019-01-17 08:21] #9908 closed

[2019-01-17 09:39] qiyongxiao opened #12259 "cann't access The web"
/remove-lifecycle stale
`
kubectl create -f https://raw.githubusercontent.com/kubernetes/dashboard/master/aio/deploy/recommended/kubernetes-dashboard.yaml
`
I create dashboard, and it is Running. while access the proxy I get the error
`
Error: 'Internal Privoxy Error'
Trying to reach: 'https://10.244.0.17:8443/'
`
How to do?

[2019-01-17 10:46] seokho-son commented on #12243
@gochist
I am working on updating outdated files in **docs/tutorials**
docs/tutorials/hello-minikube.md
docs/tutorials/kubernetes-basics/_index.html
docs/tutorials/kubernetes-basics/create-cluster/cluster-intro.html
docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html
docs/tutorials/kubernetes-basics/expose/expose-intro.html

[2019-01-17 12:06] gochist commented on #12243
@seokho-son Thank you! But `docs/tutorials/hello-minikube.md` is in progress by #12244

[2019-01-17 12:17] paralika commented on #12256
It looks like namespaces creation and deletion information is available in another page, and it is already mentioned in this page. Please search for:

`Creation and deletion of namespaces are described in the Admin Guide documentation for namespaces.`

[2019-01-17 13:01] gochist commented on #12243
I am working on these files. Now all the changes in this issue are assigned.
- docs/setup/multiple-zones.md
- docs/setup/pick-right-solution.md
- docs/tasks/tools/install-minikube.md

[2019-01-17 14:55] rus4 opened #12268 "Issue with k8s.io/docs/setup/node-conformance/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
This document is not enough to successfully get this to work
The docker container has bugs that causes this to fail on kubernetes current version
**Proposed Solution:**
Update the documentation with more comprehensive instruction on how to run node conformance test.
Add in pre-requisite information ( its taken a lot of effort

[2019-01-17 15:02] rus4 commented on #12268
/sig testing
/help

[2019-01-17 15:04] #12256 closed

[2019-01-17 15:08] rus4 commented on #12268
/sig docs

[2019-01-17 15:08] rus4 commented on #12268
/remove help

[2019-01-17 15:09] rus4 commented on #12268
/remove help-wanted

[2019-01-17 15:53] amatstreet opened #12270 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-01-17 18:07] #12270 closed

[2019-01-18 01:37] seokho-son commented on #12243
@gochist Thank you for the information ! I was working on docs/tutorials/hello-minikube.md which is a duplicated job. I will finish others except hello-minikube.md.

[2019-01-18 06:18] bgrant0607 commented on #8907
/reopen

[2019-01-18 06:18] bgrant0607 commented on #8907
/remove-lifecycle rotten

[2019-01-18 06:19] bgrant0607 commented on #8907
We still need a reference page with the details

[2019-01-18 08:44] cstoku commented on #10831
/close

[2019-01-18 08:44] #10831 closed

[2019-01-18 08:45] #9968 closed

[2019-01-18 09:34] #12238 closed

[2019-01-18 13:50] abmpicoli opened #12276 "Issue with k8s.io/docs/concepts/workloads/pods/pod-overview/"
**This is a...**

- [ ] Feature Request
- [ X ] Bug Report

**Problem:**

The page in question contains a reference to "Other pod topics"... it should be a link , right? Well, it isn't...

**Proposed Solution:**

Unknown

**Page to Update:**
https://kubernetes.io/docs/concepts/workloads/pods/pod-overview/

[2019-01-18 15:59] anadon opened #12278 "Issue with k8s.io/docs/tasks/access-application-cluster/service-access-application-cluster/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Ran into the following while following the tutorial:
[code]

**Proposed Solution:**
I'm just starting, so I don't know.

**Page to Update:**
https://kubernetes.io/docs/tasks/access-application-cluster/service-access-application-cluster/

[2019-01-18 19:46] Tiedye commented on #10675
/remove-lifecycle stale

[2019-01-18 23:32] yozamacs commented on #12252
I had to end up using the command `kubeadm alpha phase kubeconfig user --client-name` instead. I'm using version 1.12

[2019-01-19 04:18] gochist commented on #11532
in progress by #12274

[2019-01-19 04:18] gochist commented on #11531
in progress by #12273

[2019-01-19 12:11] tfogo commented on #10656
No, looks like the bug is still there. I'm going to add some screenshots screenshots and look into solutions.

/remove-lifecycle stale

[2019-01-19 14:47] rlenferink commented on #12172
@tengqm can you close this one as the issue has been solved?

[2019-01-19 15:15] #10042 closed

[2019-01-19 17:38] babalsurer opened #12281 "Issue with k8s.io/docs/concepts/services-networking/ingress/"
HI,
   I want to access my multiple application from nginx ingress.?
i did write  this code but not ablee to access geting defult page.
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: nginx-ingress
  namespace: kube-system
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: \"false\"
    nginx.ingress.kubernetes.io/app-root: /
#    nginx.ingress.kubernetes.io/permanent-redi

[2019-01-20 12:06] ttalal opened #12289 "Issue with k8s.io/docs/concepts/workloads/controllers/statefulset/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
hi,
when defining a namespace other than default, the pvc's are not created correctly
kr
Talal
**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-01-20 12:10] ttalal commented on #12289
when defining both a namespace and storageClassName other than the defaults...

[2019-01-20 14:52] svallebro opened #12291 "Issue with k8s.io/docs/setup/on-premises-metal/krib/"
**This is a...**
- [ ] Feature Request
- [X] Bug Report

**Problem:**
Link to digtialrebar/provision issue page is miss wrong.

**Proposed Solution:**
Update link to:
https://github.com/digitalrebar/provision/issues

**Page to Update:**
https://kubernetes.io/docs/setup/on-premises-metal/krib/

[2019-01-20 17:58] #8483 closed

[2019-01-21 03:10] #12172 closed

[2019-01-21 04:16] SupriyaSirbi commented on #12205
Hello,

Could you please assign it to me?

Thanks

[2019-01-21 04:52] tengqm commented on #12205
/assign @SupriyaSirbi

[2019-01-21 04:53] tengqm commented on #12205
@SupriyaSirbi Cannot assign it to you because you are not a kubernetes member. However, you can still work on it and propose a PR.

[2019-01-21 05:42] #10333 closed

[2019-01-21 06:24] Panlichen opened #12294 "Issue with k8s.io/docs/tasks/administer-cluster/dns-horizontal-autoscaling/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
I have trouble pulling image from k8s.gcr.io, for example, I get the output:
`Failed to pull image "k8s.gcr.io/cluster-proportional-autoscaler-amd64:1.1.1": rpc error: code = Unknown desc = Get https://k8s.gcr.io/v1/_ping: dial tcp 108.177.97.82:443: i/o timeout`
Is it a private registry, such that I need the password? Or is it

[2019-01-21 06:37] SupriyaSirbi commented on #12205
Thanks for your support. I shall work on the same and propose a PR

[2019-01-21 06:42] #12294 closed

[2019-01-21 11:09] seokho-son opened #12299 "Translate concepts/workloads/pods/podpreset in Korean"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
No concepts/workloads/pods/podpreset in Korean.

**Proposed Solution:**
Translate concepts/workloads/pods/podpreset in Korean.

**Page to Update:**
https://kubernetes.io/ko/docs/concepts/workloads/pods/podpreset/

/language ko

[2019-01-21 15:30] thomas-riccardi opened #12303 "Invalid TLS certificate served for v1-{5,6,7,8}.docs.kubernetes.io"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
https://v1-8.docs.kubernetes.io/docs/reference/ serves an invalid TLS certificate:
[code]

**Proposed Solution:**
Use a valid TLS certificate for https://v1-8.docs.kubernetes.io/.

**Page to Update:**
- https://v1-8.docs.kubernetes.io
- https://v1-7.docs.kubernetes.io
- https://v1-6.docs.kubernetes.io
- https://v1-5.docs.kubern

[2019-01-21 22:01] bottkars commented on #10816
Will Update the Gallery Version

Von meinem iPhone gesendet

Am 16.01.2019 um 23:49 schrieb Wojciech Sciesinski <notifications@github.com<mailto:notifications@github.com>>:

The related issues

  *   #9877<https://github.com/kubernetes/website/issues/9877>
  *   #10780<https://github.com/kubernetes/website/issues/10780>

—
You are receiving this because you were mentioned.
Reply to this email dire

[2019-01-22 01:47] hengfengli opened #12306 "Clarify cronjob `.spec.startingDeadlineSeconds`"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

The given examples are not clear about how `.spec.startingDeadlineSeconds` will work for some cases in https://kubernetes.io/docs/tasks/job/automated-tasks-with-cron-jobs/#starting-deadline.

Let's say CronJob is scheduled at `8:00am` every day and `.spec.startingDeadlineSeconds` is set to `1800`.

1. If the CronJob is failed

[2019-01-22 05:09] deekshith-elear opened #12312 "Issue with k8s.io/docs/setup/cluster-large/"
Hi,
I have gone through this documentation there mentioned that
At v1.13, Kubernetes supports clusters with up to 5000 nodes. More specifically, we support configurations that meet all of the following criteria:

    No more than 5000 nodes
    No more than 150000 total pods
    No more than 300000 total containers
    No more than 100 pods per node
I would like to know that nodes,pods,containers

[2019-01-22 13:28] urasai212 opened #12318 "Issue with k8s.io/docs/setup/custom-cloud/kops/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-01-22 15:15] bottkars commented on #10816
new version 1.7 of installer is published to Gallery. can be closed for now

[2019-01-22 15:27] barry-schneider commented on #10816
@bottkars I think you might have uploaded the 1.6 code to the gallery for 1.7. The header still references 1.6 and the code looks exactly the same:
https://www.powershellgallery.com/packages/install-kubectl/1.7/Content/install-kubectl.ps1
<#PSScriptInfo
.VERSION 1.6
.GUID 32a11a36-f91c-4241-a11f-af0cf3e90f38
.AUTHOR Karsten.Bott@labbuildr.com

[2019-01-22 16:22] bottkars commented on #10816
don´t trust that one.

please do "install-script install-kubectl -MinimumVersion 1.7 -force -verbose“

the script should be installed in $HOME/Documents/WindowsPowerShell/Scripts/install-kubectl.ps1

If so, do

ise -f  $HOME/Documents/WindowsPowerShell/Scripts/install-kubectl.ps1

You will see it should be 1.7

Publish-Script does not allow to upload same version twice :-)

Am 22.01.2019 um 16:27

[2019-01-22 17:55] liggitt opened #12322 "clarify kube-proxy skew support and upgrade process"
Follow up from https://github.com/kubernetes/website/pull/11060, tracked in https://github.com/kubernetes/website/issues/12329

Supported skew and upgrade process for `kube-proxy` is not clear in user-facing documentation:
- [ ] what version skew does the `kube-proxy` component support relative to the apiserver and kubelet? @kubernetes/sig-network-pr-reviews
- [ ] is a specific upgrade order betwe

[2019-01-22 17:57] liggitt opened #12323 "clarify kube-controller-manager/kube-scheduler skew support and upgrade order"
Follow up from https://github.com/kubernetes/website/pull/11060, tracked in https://github.com/kubernetes/website/issues/12329

Supported skew and upgrade order for kube-controller-manager/kube-scheduler is not clear in user-facing documentation:
- [ ] is a specific upgrade order between `kube-controller-manager` and `kube-scheduler` required? @kubernetes/sig-api-machinery-pr-reviews, @kubernetes/

[2019-01-22 17:58] liggitt opened #12324 "clarify patch/minor version upgrade process"
Follow up from https://github.com/kubernetes/website/pull/11060, tracked in https://github.com/kubernetes/website/issues/12329

Tested/supported upgrade process for patch releases and minor releases is not clear in user-facing documentation:
- [ ] should we add requirements (or at least a strong recommendation) to be at latest patch version of `1.x` prior to upgrades, and upgrade to latest patch v

[2019-01-22 18:01] liggitt opened #12325 "clarify support of new features across version-skewed clusters"
Follow up from https://github.com/kubernetes/website/pull/11060, tracked in https://github.com/kubernetes/website/issues/12329

How users are expected to manage use of new features in version-skewed clusters is not clear in user-facing documentation:
- [ ] what statement should be made about new features in version 1.x when running with a 1.x+ control plane and kubelets older than 1.x? is the user

[2019-01-22 18:03] liggitt opened #12326 "clarify kubelet upgrade process"
Follow up from https://github.com/kubernetes/website/pull/11060, tracked in https://github.com/kubernetes/website/issues/12329

Upgrade process for `kubelet` is not sufficiently clear in user-facing documentation:
- [ ] add details to kubelet upgrade procedure (whether drain is required, whether skip-level kubelet upgrades are supported, etc) @kubernetes/sig-node-pr-reviews @kubernetes/sig-storage

[2019-01-22 18:08] liggitt opened #12327 "clarify control plane downgrade and/or rollback during HA upgrade"
Follow up from https://github.com/kubernetes/website/pull/11060, tracked in https://github.com/kubernetes/website/issues/12329

What is tested/supported for control plane component downgrade, and for safe rollback during an HA control plane upgrade is not clear in user-facing documentation:

Relevant comments are copied here:

https://github.com/kubernetes/website/pull/11060#discussion_r237614607

[2019-01-22 18:23] liggitt opened #12328 "clarify tested/supported versions of transitive or third-party dependencies"
Follow up from https://github.com/kubernetes/website/pull/11060, tracked in https://github.com/kubernetes/website/issues/12329

what is our stated support or testing for transitive or third-party dependencies?

I see three main categories of dependencies and sets of questions that are unanswered in current documentation:
* etcd
  * what versions are tested? what is the minimum and maximum supporte

[2019-01-22 18:27] liggitt opened #12329 "Umbrella issue: clarify version, skew, upgrade support"
This issue tracks follow-up issues from https://github.com/kubernetes/website/pull/11060:

https://github.com/kubernetes/website/issues/12329#tasklist-block-05a05400-0762-4a52-81ac-4897c280f423

[2019-01-22 20:14] mr007 opened #12330 "Issue with k8s.io/docs/tutorials/kubernetes-basics/explore/explore-interactive/"
**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**
kubectl proxy just sits after stating starting proxy on port 8001

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-01-23 03:06] steveperry-53 commented on #12081
Contacts: @chenopis, @steveperry-53

[2019-01-23 03:16] zacharysarah commented on #12081
/cc @juandiegopalominocardich

[2019-01-23 03:21] chenopis opened #12333 "Improve "What is Kubernetes?" page"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
The current "What is Kubernetes?" page could be improved to better convey what Kubernetes is, where it fits into the Cloud as-a-service continuum, and lead into the conceptual architectural overview.

**Proposed Solution:**
Rewrite the page using conceptual models established by the Fundamental Modeling Concepts project.

**Pag

[2019-01-23 03:52] juandiegopalomino commented on #12081
👍

[2019-01-23 07:04] SupriyaSirbi commented on #12205
Hello @tengqm and @erkanerol

I am planning to update the docs with the following change. Please review and let me know if this is fine

Link: [](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/)

**Original :**
**Note:** For some API types, such as ReplicaSets, the label selectors of two instances must not overlap within a namespace, or the controller can see that as conf

[2019-01-23 07:04] SupriyaSirbi commented on #12205
Added Link https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/

[2019-01-23 07:09] elnemesisdivina opened #12335 "Issue with k8s.io/docs/tasks/tools/install-kubectl/"
**Problem:**
root@photon-machine [ /etc/yum.repos.d ]# cat kubernetes.repo
[kubernetes]
name=Kubernetes
baseurl=https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64
enabled=1
gpgcheck=1
repo_gpgcheck=1
gpgkey=https://packages.cloud.google.com/yum/doc/yum-key.gpg https://packages.cloud.google.com/yum/doc/rpm-package-key.gpg
root@photon-machine [ /etc/yum.repos.d ]# yum install -y kubec

[2019-01-23 07:37] erkanerol commented on #12205
Hi  @SupriyaSirbi

I am not sure whether it should be stated in labels page or replicasets page. Since I have no holistic view of k8s documents, I cannot comment on it.

However, I believe there should be a statement like yours somewhere.

[2019-01-23 07:55] SupriyaSirbi commented on #12205
@erkanerol Thanks for your suggestion

I came across the following the the replicaset page in "Pod Selector" section

https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/

Also you should not normally create any pods whose labels match this selector, either directly, with another ReplicaSet, or with another controller such as a Deployment. If you do so, **the ReplicaSet thinks tha

[2019-01-23 10:08] yogamayapatra opened #12339 "Issue with k8s.io/docs/concepts/configuration/assign-pod-node/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-01-23 11:11] kevingimbel opened #12341 "Issue with k8s.io/docs/concepts/services-networking/service/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
I believe the text is wrong at https://kubernetes.io/docs/concepts/services-networking/service/#ssl-support-on-aws, it reads

As far as I know the third party certificates are uploaded / imported to AWS Certificate Manager and not to AWS IAM.

Please also see the AWS docs at https://docs.aws.amazon.com/acm/latest/userguide/impo

[2019-01-23 11:55] it-praktyk commented on #9877
The script install-kubectl.ps1 was updated to v. 1.7 by @bottkars yesterday. I've tested it, works correctly on W2K8 R2 and PowerShell 3.0.

IMHO, the issue can be closed now.

[2019-01-23 11:55] it-praktyk commented on #10780
The script install-kubectl.ps1 was updated to v. 1.7 by @bottkars yesterday. I've tested it, works correctly on W2K8 R2 and PowerShell 3.0.

IMHO, the issue can be closed now.

[2019-01-23 11:56] it-praktyk commented on #10816
I've tested it, works correctly on W2K8 R2 and PowerShell 3.0.

IMHO, the issue can be closed now.

[2019-01-23 12:09] nitin-b opened #12342 "UX issue with k8s.io/docs/ and sub pages"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
The left side navigation pane in k8s doc can't be collapsed. This degrades the user experience.

**Proposed Solution:**
1. Provide a way to collapse the navigation pane.
2. Provide a way to resize the navigation pane

**Page to Update:**
https://kubernetes.io/docs/..

[2019-01-23 12:47] #10085 closed

[2019-01-23 13:56] bottkars commented on #10816
thanks for verifying Wojciech !

Am 23.01.2019 um 12:56 schrieb Wojciech Sciesinski <notifications@github.com<mailto:notifications@github.com>>:

I've tested it, works correctly on W2K8 R2 and PowerShell 3.0.

IMHO, the issue can be closed now.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/kubernetes/website/issues/10816#is

[2019-01-23 16:56] phydroxide opened #12347 "Issue with k8s.io/docs/reference/access-authn-authz/service-accounts-admin/"
**This is a...**

- [ x ] Feature Request
- [ ] Bug Report

**Problem:**
Looking for Documentation how default service account secrets are used to invoke services in a pod.
I'm not expert in development, but it seems that having this token would be a vector for circumventing my expected ways to authorize access to a pod.

**Proposed Solution:**
Please create documentation, demo code, or a video sh

[2019-01-23 18:45] phydroxide commented on #12347
Found some content here https://www.youtube.com/watch?v=lXggHTqznOI&t=22m25s

More specifically here: https://www.youtube.com/watch?v=lXggHTqznOI&t=31m26s

But I was not yet able to implement a Proof of Concept satisfactory to demonstrate this
1) either I need to be able to execute this from a container with Kubectl on it (I don't yet know how to get this binary to the container i need
2) or I nee

[2019-01-23 22:49] rdxmb commented on #9272
/remove-lifecycle rotten

[2019-01-24 04:46] SupriyaSirbi commented on #12254
Hello @MikeSpreitzer I am interested in working for this issue. Shall i start the work and raise a PR?

[2019-01-24 09:07] #9976 closed

[2019-01-24 09:11] Doldragon001 opened #12357 "Issue with k8s.io/docs/tutorials/kubernetes-basics/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-01-24 09:11] Doldragon001 commented on #12357
หร นา

[2019-01-24 10:31] amitca71 commented on #12245
the deamonset is collwcting only from standard output and standard error. i had to collect it as files

[2019-01-24 12:10] #10091 closed

[2019-01-24 14:18] tsoarescruz commented on #8438
First install vm virtualization as virtual-box and this will resolved

[2019-01-24 15:10] triesz opened #12364 "Improvement for k8s.io/docs/setup/pick-right-solution/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
I wanted to find out what is the best way to install a small kubernetes "playground" cluster and start learning on 3 low end stick PCs.

This is the very first page of the doc and I found it very overwhelming and in fact it did not really help at all to find the answer. Instead it was super time consuming to scan through all th

[2019-01-24 16:38] neolit123 commented on #12364
even if the page is mostly unmaintained i don't think it's badly structured:
there is a kubeadm (Custom) and minikube links at the beginning.

there should be no such claims in the official k8s docs.
is that the case?

this is slightly out of scope for the kubernetes docs.
coreos has official install docs that we don't maintain.
we don't do that for any Linux distribution.

https://kubernetes.io/d

[2019-01-24 17:42] triesz commented on #12364
Well, if someone would like to deploy and try a k. cluster on real HW then the very first question one needs to answer is what OS is reasonable to host it?
And I have not really found information on this topic here. Perhaps we could at least list some tested and working options... Maybe even compare kubernetes performance on a reference HW using different OS versions...

For example I saw in the d

[2019-01-24 18:09] neolit123 commented on #12364
we recently did a survey where results showed that Ubuntu is the most popular node OS / distro.
16.04 is known to work pretty well, but i'd recommend something newer like 17.x

from there you can use kubeadm with these guides:
https://kubernetes.io/docs/setup/independent/
https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/

[2019-01-24 19:17] #10096 closed

[2019-01-24 21:15] SalimGangji opened #12366 "Issue with k8s.io/docs/setup/independent/install-kubeadm/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
minor documentation bug in the install notes for CentOS/RHEL/Fedora
you need to load the br_netfilter module into the kernel before the two kernel parameters can be set by sysctl on centos
- net.bridge.bridge-nf-call-ip6tables
- net.bridge.bridge-nf-call-iptables

**Proposed Solution:**
one extra step, running:
`modprobe br_net

[2019-01-24 23:54] phydroxide commented on #12347
Got what I needed from here
https://github.com/lachie83/k8s-kubectl
I deployed the container, exec'd to it and exploited the token as described above. Thanks.

[2019-01-24 23:54] #12347 closed

[2019-01-25 06:58] parimi123 opened #12372 "jhsbd"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-01-25 07:29] MrAmbiG opened #12373 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The option which is supposed to open a new terminal and run the kubectl proxy opens up a new terminal but doesnt run the kubectl command. I manually ran it there in the terminal 2.

**Workaround**
click on the 'kubectl proxy' command twice.

**Proposed Solution:**
Fix the code which launches the 2nd terminal and runs the comman

[2019-01-25 14:37] xmulligan commented on #5993
@chenopis I updated your list and these are the ones that still haven't been written yet

- [ ]   Device Plugin
- [ ]   Disruption
- [ ]   Extension
- [ ]   Federation
- [ ]   Garbage Collection
- [ ]   HostAliases
- [ ]   Logging
- [ ]   Network Plugin
- [ ]   Pod Disruption Budget
- [ ]   Pod Lifecycle
- [ ]   Pod Priority
- [ ]   Preemption
- [ ]   Proxy
- [ ]   Sysctls

[2019-01-25 18:12] SalimGangji commented on #12366
Hi Lubomir!

Sorry for the long delay before my reply!

Regarding your question about release and version, I am running CentOS 7.6
based on the CentOS-7-x86_64-GenericCloud-1809.qcow2
<https://cloud.centos.org/centos/7/images/CentOS-7-x86_64-GenericCloud-1809.qcow2>
 image

[centos@instance00009 ~]$ cat /etc/centos-release
CentOS Linux release 7.6.1810 (Core)

[centos@instance00009 ~]$ uname --ker

[2019-01-25 18:18] neolit123 commented on #12366
i think modules vary a lot by distro.

so i think we can add a note about `kmod list ...` or `modproble` in the docs, yes.
will add this to my TODO.

[2019-01-25 18:18] neolit123 commented on #12366
/lifecycle active

[2019-01-25 18:21] SalimGangji commented on #12366
Fantastic, do I need to update anything in git on my end? Such as adding
the kmod list command to the proposed solution, or has this email thread
captured all the relevant details already?

On Fri, Jan 25, 2019 at 10:18 AM Lubomir I. Ivanov <notifications@github.com>
wrote:

[2019-01-25 18:45] SalimGangji commented on #12366
Sure thing, I can try to do a pull request, do you think it would be appropriate to surround your line above in a {{< note >}}...{{< /note >}} block?

[2019-01-25 19:18] neolit123 commented on #12366
i don't think the extra `/note` is need.

saw the commit you created in your fork, please :
- make sure there is a `.` at the end of the sentence.
- don't include references in the commit to this issue (in title and PR body)
just add `Fixes #12366` in the PR body.

thanks.

[2019-01-25 19:36] imkin commented on #12329
Some possibly related jira issues.
https://github.com/kubernetes/kubernetes/issues/45506
https://github.com/kubernetes/website/issues/12233

[2019-01-25 20:07] SalimGangji commented on #12366
Will delete my repo and re-fork the main repo and make the changes as you
have suggested then submit a pull request

Thank-you!!

On Fri, Jan 25, 2019 at 11:18 AM Lubomir I. Ivanov <notifications@github.com>
wrote:

[2019-01-25 20:41] #12207 closed

[2019-01-26 08:21] seokho-son opened #12381 "Translate concepts/containers/container-environment-variables in Korean"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
no concepts/containers/container-environment-variables in Korean

**Proposed Solution:**
translate concepts/containers/container-environment-variables in Korean

**Page to Update:**
https://kubernetes.io/...

[2019-01-26 08:21] seokho-son commented on #12381
/language ko

[2019-01-26 10:30] seokho-son opened #12383 "Translate concepts/containers/runtime-class.md in Korean"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
no concepts/containers/runtime-class.md in Korean

**Proposed Solution:**
Translate concepts/containers/runtime-class.md in Korean

**Page to Update:**
https://kubernetes.io/...

/language ko

[2019-01-26 14:06] paralika opened #12389 "Pod status document"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
There are a couple of pod status, I think, haven't documented. If you see the below example for `nginx` pod which runs for 10 seconds and terminates.

[code]

**Proposed Solution:**
Please document `CrashLoopBackOff` and `Completed` pod status.

**Page to Update:**
It should be somewhere here:
https://kubernetes.io/docs/concept

[2019-01-26 14:10] paralika commented on #12389
/sig docs

[2019-01-26 17:24] reenumaryjose opened #12392 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The same issue reported in https://github.com/kubernetes/website/issues/4361.
But for me, the terminal is blank always and any button in left side panel cannot even click at all.

![image](https://user-images.githubusercontent.com/47062869/51790550-2a010900-2197-11e9-80cb-38fa0207591a.png)

I am using Google Chrome: Version 71.

[2019-01-27 07:18] idealhack commented on #8843
/help

[2019-01-27 19:16] jimangel opened #12396 "Formalize docs release strategy with the different localization owners."
Hey 👋 - I'm Jim Angel, the sig-docs release lead for v1.14. I'm opening this issue to find the best way to coordinate the actual docs release (scheduled tentatively for March 25th) with the different localization owners.

A couple Questions:

1. Who would be a good primary contact for the following repos?
- [X] Chinese: rui (Slack)
- [X] Japanese: cstoku (Slack)
- [X] Korean: june.yi (Slack)

2. I

[2019-01-28 01:58] gochist commented on #12396
Hi! :wave: my answers for the questions:

1. For Korean l10n, please contact me, june.yi on the Slack.
2. For the last release(v1.13), we merged our working branches(`dev-1.13-ko.1` ~ `dev-1.13-ko.3`) to `dev-1.13` branch. And it caused multiple language changes in a single commit when it merged to the `master`. So we, Korean l10n team will not touch the upstream's next branch(currently `dev-1.14`

[2019-01-28 04:42] #11748 closed

[2019-01-28 04:43] #11728 closed

[2019-01-28 05:15] #11532 closed

[2019-01-28 06:59] #12381 closed

[2019-01-28 07:10] ClaudiaJKang opened #12399 "ko contents's index order mismatch. needs to be rearranged."
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
Korean docs' Tutorial order on left navigation bar need to be rearranged because of not match component order ko and en order.

![image](https://user-images.githubusercontent.com/17492826/51814521-fd680100-22fe-11e9-92f4-6b1d08ceaef3.png)

**Proposed Solution:**
Tutorial order should be rearranged based on en contents.

**Page

[2019-01-28 07:10] ClaudiaJKang commented on #12399
/language ko

[2019-01-28 07:20] fabriziopandini commented on #12328
Xref https://github.com/kubernetes/kubeadm/issues/1282

[2019-01-28 07:31] cstoku commented on #12396
Hi :wave:  - My answers about the questions

1. Please contact me for Japanese l10n. cstoku on the slack.
2. Nothing particularly since we are in the process of the first translation work. ([dev-1.13-ja.1](https://github.com/kubernetes/website/milestone/27))
3. We are following the [Localizing Kubernetes Documentation](https://kubernetes.io/docs/contribute/localization/) too. So currently we don't

[2019-01-28 08:58] seokho-son opened #12401 "Translate concepts/containers/container-lifecycle-hooks.md in Korean"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
No concepts/containers/container-lifecycle-hooks.md in Korean

**Proposed Solution:**
Translate concepts/containers/container-lifecycle-hooks.md in Korean

**Page to Update:**
https://kubernetes.io/...

/language ko

[2019-01-28 14:17] weibeld opened #12405 "Clarify documentation for kubectl completion for Bash and macOS"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

The documentation [here](https://kubernetes.io/docs/tasks/tools/install-kubectl/#enabling-shell-autocompletion) does not clearly reflect the situation about Bash completion and macOS. It leads to issues like [here](https://github.com/kubernetes/kubectl/issues/37) and [here](https://github.com/kubernetes/kubernetes/issues/27876

[2019-01-28 16:33] gkohen commented on #10775
Resolved through #10778 PR.
/close

[2019-01-28 16:34] #10775 closed

[2019-01-28 17:00] tammersaleh opened #12406 "Issue with k8s.io/docs/tasks/access-application-cluster/create-external-load-balancer/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

I believe this is incorrect:

**Proposed Solution:**

I might be mistaken, but wouldn't this be more correct:

**Page to Update:**

https://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/

[2019-01-28 18:18] tsunamireversal opened #12410 "Improvement for k8s.io/docs/reference/command-line-tools-reference/kube-proxy/"
**This is a...**

- [X] Feature Request
- [ ] Bug Report

**Problem:**
No examples found on the page?

**Proposed Solution:**
Please add many examples of combinations, I would like to see how to redirect multiple specific non-adjacent TCP ports as one would do with the ssh -L port:host:port command. How to do this with kube-proxy? Can it be done?

**Page to Update:**
https://kubernetes.io/...

[2019-01-28 20:23] chenrui333 commented on #12372
Seems like spam issue. cc @zacharysarah

[2019-01-28 21:24] #12372 closed

[2019-01-28 23:10] micheleberardi opened #12416 "Translate tutorials/kubernetes-basics/update/update-intro/ in Italian"
**i would like to add the italian language **

- [x ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://github.com/kubernetes/website/

[2019-01-28 23:11] micheleberardi commented on #8704
i can help with italian

[2019-01-29 00:56] micheleberardi commented on #12416
i changed the title

[2019-01-29 01:14] jimangel commented on #12396
/close

I will reach out on slack as we near the end of the release. Thank you for the prompt feedback!

[2019-01-29 01:14] #12396 closed

[2019-01-29 05:44] #12299 closed

[2019-01-29 07:41] #11531 closed

[2019-01-29 07:41] #12243 closed

[2019-01-29 07:42] #12227 closed

[2019-01-29 09:37] SupriyaSirbi commented on #12205
Hello @tengqm I am not finding any reviewers for this issue.. This issue is open since last week. Could you please suggest any reviewers for the same?

[2019-01-29 09:51] tengqm commented on #12205
@SupriyaSirbi Since you have already assigned some  reviewers, let's wait and see if we can get some comments.

[2019-01-29 10:55] SalimGangji commented on #12366
Hi Lubomir,

I've submitted PR #12419 for this, thank you!

Cheers,

Salim

On Fri, Jan 25, 2019 at 12:07 PM Salim Gangji <salim.gangji@gmail.com>
wrote:

[2019-01-29 13:03] Aprilmei commented on #9877
The same issue on my windows 10. v1.7 doesn't work there

[2019-01-29 13:10] Aprilmei commented on #10816
Version 1.7 is Still not working for windows 10.

[2019-01-29 14:13] barry-schneider commented on #10816
@Aprilmei Could you please provide more information. what is the error message? code and screenshot would be helpful.

[2019-01-29 15:15] gochist opened #12421 "Outdated files in the dev-1.13-ko.6 branch"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
Outdated files in the dev-1.13-ko.6 branch.

48 files in content/en are changed
9 files in content/ko are outdated

- [ ]  case-studies/ibm/ibm_featured_logo.png 1 file changed, 0 insertions(+), 0 deletions(-)
- [ ]  docs/concepts/overview/kubernetes-api.md 1 file changed, 10 insertions(+), 5 deletions(-)
- [ ]  docs/concepts/w

[2019-01-29 18:10] #12366 closed

[2019-01-29 22:11] craiglpeters opened #12426 "Docs for Running Windows Containers in Kubernetes"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
The ability to run Windows Containers in Kubernetes is moving towards GA in 1.14 (or possibly 1.15). Windows Containers aren't identical to Linux containers. They have their own limitations and require Windows nodes. The GA release will not run all Kubernetes services on Windows, so mixed Operating System clusters are required

[2019-01-29 22:17] #10081 closed

[2019-01-29 23:02] jimangel commented on #12426
My suggestion from the meeting today: It would be preferred to create a one or two page document that covers the "bulk" of your solutions. We would merge it in with our dev-1.14 branch upon release. I would recommend against touching a ton of minor docs until the k8s release has landed and those updates could be done in master.

The reasoning behind this is because we merge master periodically int

[2019-01-30 01:35] #12250 closed

[2019-01-30 02:58] #12416 closed

[2019-01-30 02:58] micheleberardi commented on #12416
it was a test
Thanks

[2019-01-30 03:04] ClaudiaJKang commented on #12421
/language ko

[2019-01-30 06:23] srikiz opened #12430 "Issue with k8s.io/docs/concepts/services-networking/network-policies/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

The current statement is as below:

**Proposed Solution:**
This should be changed to -

**Page to Update:**
https://kubernetes.io/...

[2019-01-30 07:44] atoato88 opened #12431 "Update `kubeadm init` output to latest on k8s.io/docs/setup/independent/create-cluster-kubeadm/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

There is output of `kubeadm init` in section of ["More information"](https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#more-information).
But it is little old contents. Some processes aren't included in it. (e.g. [kubelet-start], [wait-control-plane]... )

**Proposed Solution:**
Update output of `kubeadm ini

[2019-01-30 10:32] squaricdot opened #12433 "Issue with k8s.io/docs/tasks/configure-pod-container/pull-image-private-registry/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
I follow your documentation.

I still get ImagePullBackOff  with no information how to know what is going wrong...

Added the secret both default name space as the namespace i'm trying to deploy the pods.

Credentials should be ok...
URL is answering.

Kubernetes just says meh

**Proposed Solution:**
Describe steps that shows y

[2019-01-30 12:31] mrbobbytables commented on #7795
/remove-lifecycle stale

This should be picking back up soon.

[2019-01-30 15:55] daminisatya opened #12434 "Empty continuation line warning while building docker image"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Empty continuation lines warning seen while building the docker image. Please refer to the screenshot.

<img width="1149" alt="screen shot 1940-11-10 at 9 14 51 pm" src="https://user-images.githubusercontent.com/6227784/51993731-6b662100-24d5-11e9-9b59-c918c338d859.png">

**Proposed Solution:**

It's because of the commented co

[2019-01-30 17:03] daminisatya opened #12436 "Change the slack icon to the latest"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
A very good first timer issue. Please make use of the latest slack icon at places it is used.

<img width="1116" alt="screen shot 1940-11-10 at 10 32 03 pm" src="https://user-images.githubusercontent.com/6227784/51998561-ebdd4f80-24de-11e9-98f8-c2f0d9e6d541.png">

Here's the new icon.

![slack_icon](https://user-images.githubus

[2019-01-30 17:04] daminisatya commented on #12436
/good-first-issue

[2019-01-30 17:21] daminisatya commented on #4322
@zacharysarah @tengqm This is a great issue. I would like to work on it. A good way to explore garbage collection in Kubernetes!

/assign

[2019-01-30 20:37] neolit123 commented on #12431
@atoato88 sounds good.
please just keep the version like so instead of the actual one:
[code]

/sig cluster-lifecycle
/lifecycle active

[2019-01-30 20:40] atoato88 commented on #12431
Thank you for quick respose.
I’ll create PR.

[2019-01-30 21:21] igorframos opened #12439 "Issue with k8s.io/docs/concepts/workloads/controllers/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The URL for the *Controllers* concept shows the page for *Replica Sets* instead.

**Proposed Solution:**
Add a page that explains what is a Controller as the index of the folder that describes each of the controllers in Kubernetes.

**Page to Update:**
https://kubernetes.io/docs/concepts/workloads/controllers/

[2019-01-31 00:39] sourabh1031 commented on #5993
I would like to work on this @nikhita

[2019-01-31 00:39] sourabh1031 commented on #5993
/assign

[2019-01-31 00:46] sourabh1031 commented on #12268
I will work on this

[2019-01-31 00:46] sourabh1031 commented on #12268
/assign

[2019-01-31 01:48] xichengliudui opened #12442 "ZH-Need a live update?"
**This is a...**
- [x] Feature Request

**Problem:**
https://github.com/kubernetes/website/pull/12438/files  the docker version has been updated,
Do we need to update? https://github.com/kubernetes/website/blob/release-1.12/content/zh/docs/setup/cri.md

**Proposed Solution:**

**Page to Update:**
https://github.com/kubernetes/website/blob/release-1.12/content/zh/docs/setup/cri.md

[2019-01-31 01:48] xichengliudui commented on #12442
@tengqm

[2019-01-31 02:33] qiuanshmily opened #12443 "Issue with k8s.io/zh/docs/home/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-01-31 03:46] daminisatya commented on #12436
The icon is fixed in the community page ref - https://github.com/kubernetes/website/pull/12438

But the artwork in the footer needs to be still updated.

[2019-01-31 05:36] tengqm commented on #12442
@xichengliudui need to check whether the version changes was to 1.13 or 1.12 and then decide to which branch this should go.

[2019-01-31 05:56] xichengliudui commented on #12442
thanks

[2019-01-31 05:56] #12442 closed

[2019-01-31 08:15] ClaudiaJKang opened #12447 "ko: Translate docs/home/_index.md in Korean"
**This is a...**

- [X] Feature Request
- [ ] Bug Report

**Problem:**
[docs/home/_index.md](https://github.com/kubernetes/website/blob/dev-1.13-ko.6/content/ko/docs/home/_index.md) not translated to Korean.

**Proposed Solution:**
Translate [docs/home/_index.md](https://github.com/kubernetes/website/blob/dev-1.13-ko.6/content/ko/docs/home/_index.md) in Korean.

**Page to Update:**
https://kuberne

[2019-01-31 08:16] ClaudiaJKang commented on #12447
/language ko

[2019-01-31 08:16] ClaudiaJKang commented on #12447
/assign

[2019-01-31 08:16] ClaudiaJKang commented on #12383
/assign @seokho-son

[2019-01-31 08:16] ClaudiaJKang commented on #12401
/assign @seokho-son

[2019-01-31 08:32] yoonian opened #12449 "Translate tutorials/stateful-application/basic-stateful-set in Korean"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
no tutorials/stateful-application/basic-stateful-set.md in Korean

**Proposed Solution:**
Translate tutorials/stateful-application/basic-stateful-set.md in Korean

**Page to Update:**
https://kubernetes.io/ko/docs/tutorials/stateful-application/basic-stateful-set/

/language ko

[2019-01-31 08:35] yoonian opened #12450 "Translate tutorials/stateful-application/cassandra in Korean"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
no tutorials/stateful-application/cassandra.md in Korean

**Proposed Solution:**
Translate tutorials/stateful-application/cassandra.md in Korean

**Page to Update:**
https://kubernetes.io/ko/docs/tutorials/stateful-application/cassandra

/language ko

[2019-01-31 08:38] yoonian opened #12451 "Translate tutorials/stateful-application/mysql-wordpress-persistent-volume in Korean"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
no tutorials/stateful-application/mysql-wordpress-persistent-volume.md in Korean

**Proposed Solution:**
Translate tutorials/stateful-application/mysql-wordpress-persistent-volume.md in Korean

**Page to Update:**
https://kubernetes.io/ko/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume

/language ko

[2019-01-31 08:40] yoonian opened #12452 "Translate tutorials/stateful-application/zookeeper in Korean"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
no tutorials/stateful-application/zookeeper.md in Korean

**Proposed Solution:**
Translate tutorials/stateful-application/zookeeper.md in Korean

**Page to Update:**
https://kubernetes.io/ko/docs/tutorials/stateful-application/zookeeper

/language ko

[2019-01-31 08:43] yoonian opened #12453 "Translate setup/certificates in Korean"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
No setup/certificates.md in Korean

**Proposed Solution:**
Translate setup/certificates.md in Korean

**Page to Update:**
https://kubernetes.io/ko/docs/setup/certificates

/language ko

[2019-01-31 08:49] yoonian commented on #12449
제가 작업해보겠습니다.

[2019-01-31 08:50] yoonian commented on #12450
제가 작업하겠습니다 🥇

[2019-01-31 08:50] yoonian commented on #12451
제가 작업하겠습니다 :)

[2019-01-31 08:50] yoonian commented on #12452
요것도 제가 작업하겠습니다 :)

[2019-01-31 08:51] yoonian commented on #12453
제가 작업하겠습니다 :)

[2019-01-31 08:57] yoonian opened #12455 "Translate tutorials/clusters/apparmor in Korean"
**This is a...**

- [X] Feature Request
- [ ] Bug Report

**Problem:**
No tutorials/clusters/apparmor.md in Korean

**Proposed Solution:**
Translate tutorials/clusters/apparmor.md in Korean

**Page to Update:**
https://kubernetes.io/ko/docs/tutorials/clusters/apparmor/

/language ko

[2019-01-31 08:58] yoonian opened #12457 "Translate tutorials/services/source-ip in Korean"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
No tutorials/services/source-ip.md in Korean

**Proposed Solution:**
Translate tutorials/services/source-ip.md in Korean

**Page to Update:**
https://kubernetes.io/ko/docs/tutorials/services/source-ip/

/language ko

[2019-01-31 09:06] #11999 closed

[2019-01-31 13:57] daminisatya commented on #5993
@sourabh1031 I worked on adding HostAliases, Pod Priority and Preemption to the Glossary page, Please feel free to pick others. 😃

[2019-01-31 15:57] #8313 closed

[2019-01-31 17:22] makandre opened #12466 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

In Module 2, Step 3 of the kubernetes basics tutorial, it talks about a Pod.  But up to this point of the tutorial, Pod has not been mentioned or defined before.

**Proposed Solution:**

There should be a brief explanation of what a Pod is, and/or mention that it is something that will be covered in detail in the next module

[2019-01-31 17:51] AlexDiamanti opened #12467 "Issue with k8s.io/docs/tasks/administer-cluster/static-pod/"
Needed more info in the docs.

**This is a...**

- [X] Feature Request
- [ ] Bug Report

**Problem:**
What happens and how it is different when you create a pod from kubectl create -f POD_FILE.yaml

It's not static. Seems like it's different from pods controlled by the services in terms of how psp gets applied.

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-01-31 18:03] ryanmcginnis commented on #12436
/lgtm
/approve

[2019-01-31 21:02] #10120 closed

[2019-01-31 21:17] #12431 closed

[2019-01-31 21:35] jfrappsdocs commented on #12426
Do we want to continue to hide the Windows docs from the TOC? Or should we think of new information architecture for them based partly on finding the right place for them in a visible tree? (Assuming a standalone doc or docset at least for 1.14/1.15)

[2019-01-31 21:50] steveperry-53 commented on #12082
dtornow@ and I will collaborate on this.

[2019-02-01 01:06] #9517 closed

[2019-02-01 05:07] MAKOSCAFEE commented on #12389
@paralika I think #12397 fixed this issue ... can this be closed?

[2019-02-01 05:55] paralika commented on #12389
@MAKOSCAFEE thank you for a fix. I have one query regarding:

`CrashLoopBackOff | This means that one of the containers in the pod has exited unexpectedly, and perhaps with a non-zero error code even after restarting due to restart policy.`

Event though the pod is completed without any error it is going into `CrashLoopBackOff` state.

[2019-02-01 07:09] ClaudiaJKang opened #12472 "ko: Translate concepts/overview/working-with-objects/labels.md in Korean"
**This is a...**

- [X] Feature Request
- [ ] Bug Report

**Problem:**
[concepts/overview/working-with-objects/labels.md](https://github.com/kubernetes/website/blob/dev-1.13-ko.7/content/en/docs/concepts/overview/working-with-objects/labels.md) not translated to Korean.

**Proposed Solution:**
Translate [concepts/overview/working-with-objects/labels.md](https://github.com/kubernetes/website/blob/d

[2019-02-01 07:09] ClaudiaJKang commented on #12472
/language ko
/assign

[2019-02-01 07:21] krmayankk opened #12473 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-service-account/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
In the documentation for service accout volume projection at https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/ its not obvious what service account's token is being projected into a volume. A user not familiar with this feature would keep scratching his head as i did. It seems after some think

[2019-02-01 10:12] DevAwas opened #12474 "Issue with k8s.io/docs/setup/custom-cloud/kops/"
Hi Team,

We are trying to use kops version 1.10 and kubernetes 1.10.11.
We pass the version as our script parameters like this:
Snippet below:
export KOPS_VERSION=-1.10.1
export KUBERNETES_VERSION=1.10.11

echo "KOPS VERSION USED ${KOPS_VERSION}"
    echo "executing -> kops${KOPS_VERSION} create cluster --name ${CLUSTER_NAME} --cloud ${KUBERNETES_PROVIDER} --zones "${NODE_ZONES}" --master-zones "

[2019-02-01 13:32] VineethReddy02 commented on #12436
Is this issue fixed or can i work on this ?

[2019-02-01 13:39] daminisatya commented on #12436
@VineethReddy02 A PR is raised already. #12468

[2019-02-01 13:40] VineethReddy02 commented on #4322
I would like to be one of contributor to the garbage collection. I have started exploring the above mentioned links.

[2019-02-01 19:03] gochist commented on #12421
/close

[2019-02-01 19:20] fOO223Fr opened #12478 "Issue with /docs/setup/independent/kubelet-integration"
Hello team,
The Last bullet point in this https://kubernetes.io/docs/setup/independent/kubelet-integration/#the-kubelet-drop-in-file-for-systemd which talks about `KUBELET_EXTRA_ARGS` has the wrong path mentioned for RPMs.

**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Path mentioned is `/etc/systconfig/kubelet` (for RPMs)

**Proposed Solution:**
Correct path for the file

[2019-02-02 01:30] #10188 closed

[2019-02-02 02:10] RaviSaraswathi opened #12482 "Issue with k8s.io/docs/home/"
**This is a...**

- [ ] Feature Request
- [ yes] Bug Report

**Problem:**
Search is showing up few results after few searches - using search text box located in kubernetes.io documentations.

How to recreate?
- Search a word in search text box , Example: command tasks
initial search results shows more than 1000 results. After few times repeating the same search , the results shows only 6 results !

[2019-02-02 04:17] oguzzkilic commented on #12482
This is not a bug. [click here](https://developers.google.com/custom-search/docs/xml_results#automaticFiltering) for details.

[2019-02-02 07:31] sergey-shambir opened #12485 "Issue with k8s.io/docs/reference/generated/kubernetes-api/v1.13/#envvarsource-v1-core"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Missing `metadata.uid` in list of supported values for the `fieldRef` key of `EnvVarSource` (v1) object.
[This pull request](https://github.com/kubernetes/kubernetes/pull/48125/files) added support for `fieldRef: metadata.uid`. PR merged on 1 Jul 2017, but docs had been not updated.

**Proposed Solution:**
Add `metadata.uid` to

[2019-02-02 09:55] gochist commented on #12447
@ClaudiaJKang Will you just translate `/content/ko/docs/home/_index.md`in Korean or make i18n support version of  `layouts/docs/docsportal_home.html` for this issue?

[2019-02-03 10:09] cstoku commented on #10830
/remove-lifecycle stale

[2019-02-03 10:09] cstoku commented on #10829
/remove-lifecycle stale

[2019-02-03 10:10] cstoku commented on #10833
/remove-lifecycle stale

[2019-02-03 10:10] cstoku commented on #10834
/remove-lifecycle stale

[2019-02-03 10:10] cstoku commented on #10835
/remove-lifecycle stale

[2019-02-03 10:10] cstoku commented on #10837
/remove-lifecycle stale

[2019-02-03 10:10] cstoku commented on #10838
/remove-lifecycle stale

[2019-02-03 10:10] cstoku commented on #10839
/remove-lifecycle stale

[2019-02-03 10:10] cstoku commented on #10843
/remove-lifecycle stale

[2019-02-03 10:10] cstoku commented on #10844
/remove-lifecycle stale

[2019-02-03 10:10] cstoku commented on #10845
/remove-lifecycle stale

[2019-02-03 10:10] cstoku commented on #10847
/remove-lifecycle stale

[2019-02-03 10:10] cstoku commented on #10848
/remove-lifecycle stale

[2019-02-03 10:12] cstoku commented on #10848
/remove-lifecycle stale

[2019-02-03 10:12] cstoku commented on #10849
/remove-lifecycle stale

[2019-02-03 10:13] cstoku commented on #10850
/remove-lifecycle stale

[2019-02-03 10:13] cstoku commented on #10851
/remove-lifecycle stale

[2019-02-03 10:13] cstoku commented on #10855
/remove-lifecycle stale

[2019-02-03 10:13] cstoku commented on #10856
/remove-lifecycle stale

[2019-02-03 10:13] cstoku commented on #10857
/remove-lifecycle stale

[2019-02-03 11:10] dpjanes opened #12489 "Issue with k8s.io/docs/tasks/run-application/run-stateless-application-deployment/"
**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**

This file pointed to in Step 1 is slightly broken. There's a 9 on line 20.

https://k8s.io/examples/application/deployment.yaml

**Proposed Solution:**

Remove the 9.

**Page to Update:**

[2019-02-03 11:27] #12383 closed, assigned to seokho-son

[2019-02-03 18:29] sftim opened #12494 "Typo in cloud-controller-manager-page"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Typo in https://kubernetes.io/docs/tasks/administer-cluster/running-cloud-controller/
“InitializerConifguration” should be “InitializerConfiguration”

**Proposed Solution:**
Correct spelling

**Page to Update:**
https://kubernetes.io/docs/tasks/administer-cluster/running-cloud-controller/

[2019-02-03 20:00] zacharysarah commented on #10643
/remove-lifecycle stale

[2019-02-03 20:12] zacharysarah opened #12496 "Streamline and simplify SASS/CSS for the website."
### This is a...

- [x] Feature Request
- [ ] Bug Report

### Problem

The SASS and CSS for the website is haphazardly organized and implemented. It's not clear which files and/or attributes control site characteristics.

For example, changing base font size for the website is prohibitively complex: https://github.com/kubernetes/website/pull/12368)

### Proposed Solution

We need straightforward,

[2019-02-03 22:35] andradewagner commented on #8438
Don't forget to enable the virtualization in BIOS. VT-d or Intel Virtualization technology... something like that. Generally in advanced area.

[2019-02-04 02:32] jeffmartinxyz opened #12497 "Issue with k8s.io/docs/tutorials/clusters/apparmor/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Links in additional resources section are no longer accurate.

**Proposed Solution:**
https://gitlab.com/apparmor/apparmor/wikis/QuickProfileLanguage
https://gitlab.com/apparmor/apparmor/wikis/Policy_Layout

**Page to Update:**
https://kubernetes.io/docs/tutorials/clusters/apparmor/

NA

None

[2019-02-04 13:57] hobdell-SAP opened #12499 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

All interactive tutorials are non-functional.

https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/
* Click "Start Scenario"
* All actions in the tutorial are inactive:
** There's no way to enter information into the terminal screen: no cursor in the terminal, no prompt; clicking the terminal d

[2019-02-04 18:13] filmil opened #12500 "Issue with k8s.io/docs/concepts/overview/working-with-objects/names/"
**This is a...**

- [X] Feature Request
- [ ] Bug Report

**Problem:**
The description of an UID is kind of skimpy at https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#uids

**Proposed Solution:**
Would be nice to know when the object gets its UID, and what its lifecycle looks like.

**Page to Update:**
https://kubernetes.io/docs/concepts/overview/working-with-objects/names/

[2019-02-04 18:20] tammersaleh opened #12501 "Confusion about Pod Security Policy ordering"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

https://kubernetes.io/docs/concepts/policy/pod-security-policy/#policy-order Says:

I'm having trouble parsing this.  I could read this to mean either:

### Option A

...or...

### Option B

#6033 states it a bit differently:

Which is a bit more clear to me (implies option A)

Also, the third point "if it is a pod update requ

[2019-02-04 20:10] kbhawkey opened #12503 "reference documentation automation updates"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
The reference section of kubernetes.io/docs is generated using a number of scripts and tools. The reference guides generation task is separate from the main k8s/docs generation workflow. Code and scripts for the reference process can be found under the following repos :
 - https://github.com/kubernetes/website/tree/master/updat

[2019-02-04 20:31] kbhawkey commented on #12503
@zacharysarah

[2019-02-04 21:50] zacharysarah commented on #12503
**Note:** Code for API refdocs generation resides in https://github.com/kubernetes-incubator/reference-docs.

[2019-02-04 23:42] #12494 closed

[2019-02-05 01:38] daminisatya opened #12506 "Misalignment of the community logos"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

Currently, the community logos are misaligned. Please refer to the screenshot.

<img width="1364" alt="screen shot 1940-11-11 at 12 55 26 pm" src="https://user-images.githubusercontent.com/6227784/52248387-306c4f00-2914-11e9-99c6-9080ed053521.png">

**Proposed Solution:**

I hope the misalignment is clearly visible :)

<img wi

[2019-02-05 10:04] #12434 closed

[2019-02-05 12:53] #10237 closed

[2019-02-05 13:56] Abhik1998 commented on #12503
I want to take up this task.

[2019-02-05 14:08] Abhik1998 commented on #12503
All the reference scripts should be converted to a single segment.
The UI should be improved and I will go systematically by initially providing the UI then proceeding with API refdocs.

[2019-02-05 14:09] SensitiveMix opened #12513 "Issue with k8s.io/zh/docs/home/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-02-05 14:09] #12513 closed

[2019-02-05 17:04] liggitt commented on #12328
/sig testing
/sig cluster-lifecycle
/sig release

[2019-02-05 22:52] jpsriram opened #12515 "Issue with k8s.io/docs/getting-started-guides/ubuntu/scaling/"
**This is a...**

- [ ] Feature Request
- [* ] Bug Report

**Problem:**

The hyperlink reference for 'Juju HA controller documentation' pointing to version 2.2 which is not available.

**Proposed Solution:**

The latest link available is 'https://docs.jujucharms.com/2.5/en/' so please fix the content with correct hyperlink.

**Page to Update:**
https://kubernetes.io/...

[2019-02-06 06:55] #12515 closed

[2019-02-06 07:17] daminisatya commented on #9791
@nikhita All command hyperlinks are working fine. I verfied them. I think this issue can be closed.

[2019-02-06 07:47] #9805 closed

[2019-02-06 07:50] daminisatya commented on #9805
/reopen

[2019-02-06 07:51] daminisatya commented on #9805
@tengqm can please reopen the issue.

[2019-02-06 07:54] daminisatya commented on #10362
This is fixed already.

/close

[2019-02-06 07:54] #10362 closed

[2019-02-06 07:59] daminisatya commented on #10361
/close, The links are working fine.

[2019-02-06 08:02] daminisatya commented on #10361
/close

[2019-02-06 08:02] #10361 closed

[2019-02-06 08:12] roberthbailey commented on #12328
Some initial thoughts:

**etcd**

I think of etcd as largely an implementation detail of the apiserver and owned by sig-apimachinery. I know that other folks in sig cluster lifecycle (e.g. @justinsb) have a different opinion, but I would love to see folks from apimachinery who work more closely with etcd (such as @jpbetz) help define the supported versions per release and the upgrade process.

My

[2019-02-06 08:16] roberthbailey commented on #12322
It is probably ok to skew it as much as any client (e.g. up to two versions behind the apiserver), but for simplicity it's version is moved in lock step with the kubelet. Even though it may work skewed from the kubelet, I think it would be clearer and simpler to just say that the version of kube-proxy should match the version of the kubelet.

[2019-02-06 08:19] roberthbailey commented on #12324
I think a strong recommendation is ok; I don't think there should be a requirement. In some cases a provider may want to jump consumers between specific versions for upgrades that have been well tested, and if we make it a requirement to pick the latest patch version that may actually make it more difficult to qualify and upgrade clusters (because the qualification would reset each time a patch wa

[2019-02-06 08:22] roberthbailey commented on #12325
This is difficult because it depends on the feature. Some features only require an updated control plane (e.g. things that are wholly implemented in the apiserver such as support for CRD versions or in the schedule like multiple scheduler support) while others require kubelets to pick up a new version.

It seems like each feature should describe the minimum required version for the feature to be u

[2019-02-06 09:00] daminisatya commented on #9537
/close

[2019-02-06 09:00] #9537 closed

[2019-02-06 09:16] daminisatya commented on #10104
@b10s workiva has been removed from the case studies, and a PR for that has been merged on Aug 14, 2018.

https://github.com/kubernetes/website/pull/9826/files

I think this issue is good to close.  @nikhita

[2019-02-06 10:59] cbluth opened #12521 "Issue Flocker Volume Documentation"
**This is a...**

- [ ] Feature Request
- [X] ***Bug Report***

**Problem:**
Volume options seen at https://kubernetes.io/docs/concepts/storage/volumes/#flocker are still offering flocker.

The project hasent seen any forward movement: https://github.com/ClusterHQ/flocker
The companys website has been down for a while: https://clusterhq.com/
...probably because they arent around any more: https://

[2019-02-06 11:00] cbluth commented on #12521
Also, I see there are dead links in the example documentation, seen here: https://github.com/kubernetes/examples/blame/master/staging/volumes/flocker/README.md#L18

[2019-02-06 11:52] kylehodgetts commented on #5930
This is issue is still present on the current version of the website.

[2019-02-06 16:01] liggitt commented on #12326
Yes

I don't know. @kubernetes/sig-cluster-lifecycle, @kubernetes/sig-testing?

[2019-02-06 16:11] neolit123 commented on #12326
yes, but our tests are failing due to problems with the upgrade framework in k/k (e.g. ginkgo skipping); possibly some other reasons too. the current tests are pretty much unmaintained and there are plans to replace them with something else next cycle, hopefully.

https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-13/#drain-control-plane-and-worker-nodes

we do recommend

[2019-02-06 16:16] liggitt commented on #12326
`cordon -> drain -> upgrade kubelet -> uncordon` is the informal guidance I've seen until now. There may be other deployment-specific reasons to destroy and rebuild nodes (node-level improvements that only take effect for new nodes), but from the kubelet's perspective, drain has been sufficient, as far as I know.

[2019-02-06 19:10] jjinux opened #12525 "Issue with k8s.io/docs/tutorials/kubernetes-basics/scale/scale-interactive/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

On the tutorial where it shows how to scale things, it says, "This confirms that 2 Pods were terminated." However, I think going from 3 replicas to 2 replicas means that one replica was terminated and 2 replicas still exist.

**Proposed Solution:**

Say, "This confirms that 1 Pod were terminated."

**Page to Update:**
https://

[2019-02-06 19:11] jjinux commented on #12525
Oops, it's 4 -> 2. I'm wrong.

[2019-02-06 19:11] #12525 closed

[2019-02-06 19:13] paigehargrave opened #12526 "Issue with k8s.io/docs/home/supported-doc-versions/"
**Problem:**
The V1.8 version of Kubernetes documentation returns a 404 error. The Docker docs reference this version of the documentation for one of our core products, which we plan to support until 2020. Is there an existing URL that can be provided for us to reference the Kubernetes 1.8 version?

https://github.com/docker/docker.github.io/issues/7804#issuecomment-445082230

[2019-02-06 22:38] priyesh16 opened #12528 "Issue with k8s.io/docs/tutorials/kubernetes-basics/expose/expose-intro/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
In file: https://kubernetes.io/docs/tutorials/kubernetes-basics/expose/expose-intro/

That said, each Pod in a Kubernetes cluster has a unique IP address, even Pods on the same Node, so there needs to be a way of automatically reconciling changes among Pods so that your applications continue to function.

**Proposed Solution:**

[2019-02-06 22:46] philsturgeon commented on #10929
/remove-lifecycle stale

[2019-02-07 02:50] jberkus commented on #10564
/close

[2019-02-07 02:50] #10564 closed

[2019-02-07 04:05] ClaudiaJKang commented on #12447
@gochist I just translate `/content/ko/docs/home/_index.md` in Korean.

[2019-02-07 04:22] gochist opened #12529 "k8s.io/docs/home does not support i18n"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

Currently [k8s.io/docs/home](https://kubernetes.io/docs/home/) page provides a good [RoadMap](http://wiki.c2.com/?RoadMap) for navigating the K8s docs. But it is hard-coded to support `en` contents only.

https://github.com/kubernetes/website/blob/6224377d8796f50f4d7791112ccda89e67bf7a4b/layouts/docs/docsportal_home.html#L5

F

[2019-02-07 04:38] #12497 closed

[2019-02-07 06:37] daminisatya opened #12531 "Add README badges for build status and latest release"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

Just good to have badges in the readme to track build status and releases.

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-02-07 06:59] zerda opened #12533 "Issue with k8s.io/docs/tutorials/services/source-ip/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

From [Cluster Networking](https://kubernetes.io/docs/concepts/cluster-administration/networking/#kubernetes-model), all containers can communicate with all other containers without NAT.

In this respect, the client_address should be always client pod's IP address, not the node flannel IP address, even the client pod and server

[2019-02-07 09:35] #12531 closed

[2019-02-07 11:45] seokho-son opened #12537 "Translate concepts/containers/images.md in Korean"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
No concepts/containers/images.md in Korean

**Proposed Solution:**
Translate concepts/containers/images.md in Korean

**Page to Update:**
https://kubernetes.io/...

/language ko

[2019-02-07 12:38] darthcabs opened #12538 "Issue with k8s.io/docs/concepts/cluster-administration/cloud-providers/"
**This is a Bug Report**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The documentation shows wrong code (tested with kubeadm 1.13.3). It shows a YAML config file for kubeadm, but the block in this code for passing extra args to apiServer and controllerManager doesn't pass the arg --cloud-provider to apiServer or controllerManager.

**Proposed Solution:**

Replace the block of code for pa

[2019-02-07 14:30] ssunka opened #12540 "Issue with k8s.io/docs/tasks/run-application/run-replicated-stateful-application/"
Create container config error

**This is a...**

- [ ] Feature Request
- [X ] Bug Report

**Problem:**
While creating this pod, I'm facing a create container config error
![screen shot 2019-02-07 at 7 59 42 pm](https://user-images.githubusercontent.com/2323921/52417923-ef8e5900-2b12-11e9-9817-59819b4bbbaa.png)

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-02-07 18:08] neolit123 commented on #12538
if i go to this page:
https://kubernetes.io/docs/concepts/cluster-administration/cloud-providers

i see this:
[code]

which is the valid v1beta1.

where are you seeing this config:
[code]
?

/priority awaiting-more-evidence

[2019-02-07 18:10] neolit123 commented on #12538
/close

[2019-02-07 18:10] #12538 closed

[2019-02-08 04:11] McCoyAle commented on #5993
I was working on Federation and then ran into some questions. Federation has a similar architecture to the cluster architecture, in that it uses the Federation API and a controller manager to manage clusters opposed to nodes. Would it be worth while to include Federation API and Federation Controller Manger into the glossary separately?

[2019-02-08 04:13] McCoyAle commented on #5993
In addition, I was looking at proxy. But in the kubernetes documentation here: https://kubernetes.io/docs/concepts/cluster-administration/proxies/ there are 5 proxies listed. So would it be beneficial to list them separately, or bullet them under the proxy definition?

[2019-02-08 06:58] cstoku commented on #10872
/close

[2019-02-08 06:58] #10872 closed

[2019-02-08 06:58] cstoku commented on #10871
/close

[2019-02-08 06:58] #10871 closed

[2019-02-08 06:58] cstoku commented on #10870
/close

[2019-02-08 06:58] #10870 closed

[2019-02-08 06:58] cstoku commented on #10869
/close

[2019-02-08 06:58] #10869 closed

[2019-02-08 06:58] cstoku commented on #10868
/close

[2019-02-08 06:58] #10868 closed

[2019-02-08 06:58] cstoku commented on #10867
/close

[2019-02-08 06:58] #10867 closed

[2019-02-08 06:58] cstoku commented on #10866
/close

[2019-02-08 06:58] #10866 closed

[2019-02-08 06:58] cstoku commented on #10865
/close

[2019-02-08 06:58] #10865 closed

[2019-02-08 06:59] cstoku commented on #10864
/close

[2019-02-08 06:59] #10864 closed

[2019-02-08 06:59] cstoku commented on #10863
/close

[2019-02-08 06:59] #10863 closed

[2019-02-08 06:59] cstoku commented on #10862
/close

[2019-02-08 06:59] #10862 closed

[2019-02-08 06:59] cstoku commented on #10861
/close

[2019-02-08 06:59] #10861 closed

[2019-02-08 06:59] cstoku commented on #10860
/close

[2019-02-08 06:59] #10860 closed

[2019-02-08 06:59] cstoku commented on #10859
/close

[2019-02-08 06:59] #10859 closed

[2019-02-08 09:52] kostiley opened #12547 "HA etcd question"
Hello!
I've configured 3 baremetal machines HA cluster as described in https://kubernetes.io/docs/setup/independent/high-availability/
"Stacked control plane and etcd nodes"

Now i have:
#kubectl get nodes
NAME       STATUS   ROLES    AGE   VERSION
t-k8s-50   Ready    master   21m   v1.13.2
t-k8s-51   Ready    master   17m   v1.13.2
t-k8s-52   Ready    master   15m   v1.13.2

#kubectl get cs
NAME

[2019-02-08 12:57] neolit123 commented on #12547
if you do `kubectl get po --all-namespaces` do you see 3 etcd pods?

[2019-02-08 13:02] kostiley commented on #12547
Yes, there's 3 etcd pods

kube-system   etcd-t-k8s-50                      1/1     Running   1          3h34m
kube-system   etcd-t-k8s-51                      1/1     Running   0          3h30m
kube-system   etcd-t-k8s-52                      1/1     Running   1          3h28m

[2019-02-08 13:04] neolit123 commented on #12547
the cluster seems healthy.

[2019-02-08 13:05] kostiley commented on #12547
In this case, how to view etcd status? Is it possible at all?

[2019-02-08 13:05] Aprilmei commented on #10816
Powershell version
Name: ConsoleHost
Version          : 5.1.17134.407

[2019-02-08 13:15] neolit123 commented on #12547
yes it is. please read here:
https://coreos.com/etcd/docs/latest/v2/admin_guide.html

if you don't want to use `etcdctl` you can simply `curl -L <member-ip>:<port>/health` to get the status of each member.
if the health status is not `true` on any of your member, please bring down the cluster and try our guide again.

thank you
/close

[2019-02-08 13:15] #12547 closed

[2019-02-08 14:38] Aprilmei commented on #10816
Thanks. After I installed docker, the issue fixed. Not sure why.

[2019-02-08 15:14] waleed5544 opened #12550 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-02-08 15:21] waleed5544 opened #12551 "Issue with k8s.io/docs/tutorials/kubernetes-basics/explore/explore-intro/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-02-08 15:24] waleed5544 opened #12552 "Issue with k8s.io/docs/tutorials/kubernetes-basics/scale/scale-intro/"
**This is a...**

- [x] Feature Request
- [x] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-02-08 15:25] waleed5544 commented on #12552
GO

[2019-02-08 16:08] #10225 closed

[2019-02-08 16:08] #8221 closed

[2019-02-08 16:08] #8987 closed

[2019-02-08 17:09] codeliger opened #12554 "Issue with k8s.io/docs/tasks/access-application-cluster/connecting-frontend-backend/"
**This is a...**

- [X] Feature Request
- [ ] Bug Report

**Problem:**

The documentation doesn't link to any of the deployment.yaml documentation and expects users to copy and paste something without knowing what it does.

**Proposed Solution:**
Link directly to the documentation on how to create a deployment.yml that specify what all the commands do in the script.

Even https://kubernetes.io/doc

[2019-02-08 22:03] kaushikCanada opened #12556 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
pods/storage/pv-pod.yaml has an extra indent under ports for containerport.

**Proposed Solution:**
 i think - containerPort: 80 should start just below ports.

**Page to Update:**
https://kubernetes.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/

[2019-02-08 23:58] twosatnams opened #12558 "Issue with k8s.io/docs/tasks/administer-cluster/reconfigure-kubelet/"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
The documentation does not reflect the correct output to the following command

[code]

The documentation assumes that the output would contain the field `Node.Status.Config`. But `Node.Status` doesn't contain the `Config` field and only contains `addresses`, `allocatable`, `capacity` and `conditions`

**Proposed Solution:**
Upd

[2019-02-09 04:39] daminisatya commented on #12550
Hi @waleed5544 Can you describe what the issue is in detail?

[2019-02-09 04:39] daminisatya commented on #12551
Hi @waleed5544 Can you describe what the issue is in detail?

[2019-02-09 04:39] daminisatya commented on #12552
Hi @waleed5544 Can you describe what the issue is in detail?

[2019-02-09 08:36] #12482 closed

[2019-02-09 08:36] RaviSaraswathi commented on #12482
Thanks. I have closed this.

[2019-02-09 09:31] daminisatya commented on #12558
@twosatnams

The document shows the correct output if the Dynamic configuration has been setup as per the document. The Node.Status.Config object shows details via the ConfigMap saved in Kubernetes Control Plane and referenced by the node.

If the node does not refer to a ConfigMap or does not have dynamic-config-dir configured, the Node.Status will not have a config object. @zacharysarah

[2019-02-09 09:41] daminisatya commented on #12540
@ssunka Since this is a support request, you might get immediate help from the slack channel

https://kubernetes.slack.com/messages/C09NXKJKA/

[2019-02-09 10:15] daminisatya opened #12560 "Add k8s youtube channel to the footer section of community page"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

Good to have k8s youtube channel linked in the footer section along with other community logos.

<img width="837" alt="screen shot 1940-11-20 at 3 34 09 pm" src="https://user-images.githubusercontent.com/6227784/52519365-33eb3780-2c80-11e9-8ca9-126aeb671127.png">

**Proposed Solution:**

Necessary CSS and HTML changes have to

[2019-02-09 10:16] daminisatya commented on #12560
This is a /good-first-issue 😄

[2019-02-09 10:18] daminisatya commented on #12560
/good-first-issue

[2019-02-09 11:57] #10249 closed

[2019-02-09 17:06] parispittman commented on #12560
this is actually coming with the new community site design - will land within the next few weeks

[2019-02-09 17:43] jmyung commented on #10902
/reopen

[2019-02-10 03:05] santhoshkeka opened #12566 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
The tutorial page is useful but not effective and is having many UX issues.
1. When I type commands in the Katacoda browser terminal the page scrolls to the top. I have to scroll down multiple times to run a kubectl command
2. When I click on expand icon (top right expand icon) to focus on the tutorial, the left side help is hidden hence I can't use the tutorial effectively

- [ ] Feature Request

[2019-02-10 08:28] Infi-Knight commented on #12496
Hi, my name is Ravi Soni. I have experience in frontend technologies and would love implementing the proposed solution under gsoc this year.  How do I get started getting comfortable with the task mentioned?

[2019-02-10 08:31] twosatnams commented on #12558
Thanks @daminisatya you're right I figured it out - it was related to an issue with the cloud provider.

[2019-02-10 08:31] #12558 closed

[2019-02-10 13:51] pradeep5434 opened #12567 "Issue with k8s.io/docs/tutorials/kubernetes-basics/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-02-10 15:24] #10291 closed

[2019-02-11 04:52] daminisatya commented on #12560
@parispittman That's amazing! I joined the community a week back and I'm new. Where can I follow more on this change?

[2019-02-11 12:26] nimda7 commented on #10628
/remove-lifecycle stale

[2019-02-11 12:56] deekshith-elear opened #12578 "Issue with k8s.io/docs/concepts/workloads/pods/pod-lifecycle/"
what is the maximum limit for no of restarts for a pod in kubernetes cluster

NAME   READY   STATUS    RESTARTS   AGE     IP                NODE    NOMINATED NODE   READINESS GATES
nm-1   1/1     Running   1          4d23h   192.168.177.202   knode   <none>           <none>
nm-2   1/1     Running   1          4d23h   192.168.177.219   knode   <none>           <none>

[2019-02-11 16:32] MAKOSCAFEE commented on #12578
hi @deekshith-elear I think based on [Restart Policy](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#restart-policy) there is no limit to the number of restarts for a given pod. you can look at this [issue](https://github.com/kubernetes/kubernetes/issues/49466)  and this [PR](https://github.com/kubernetes/kubernetes/pull/68745) aims at adding a feature to add a maximum limit for

[2019-02-11 16:44] php-coder commented on #12501
/sig auth

CC @liggitt @tallclair

[2019-02-11 16:45] poul22 opened #12586 "Issue with k8s.io/docs/concepts/services-networking/dns-pod-service/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-02-11 17:02] poul22 opened #12587 "Improvement for k8s.io/docs/reference/access-authn-authz/abac/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-02-11 17:50] #10298 closed

[2019-02-11 19:17] NicolasRouquette opened #12588 "Issue with k8s.io/docs/tasks/tools/install-kubectl/"
How to cleanup kubectl

- [x] Feature Request
- [ ] Bug Report

**Problem:**

Someone may have installed kubectl before; however, there may be errors in `kubectl cluster-info`.
How can one cleanup everything to start fresh?

**Proposed Solution:**

Add instructions to cleanup existing configuration files:

`/bin/rm -rf ~/.kube`
`/bin/rm -rf ~/.minikube`

Check that `kubectl` can start:

`kubectl c

[2019-02-11 22:22] craiglpeters commented on #12426
Please take a look at the [draft outline](https://docs.google.com/document/d/1a2bRd7PZXygIEm4cEcCeLXpEqJ7opakP_j4Pc6AJVYA/edit?usp=sharing) (also circulated via the mailing list)

[2019-02-12 08:32] warmchang commented on #10910
/remove-lifecycle stale
/assign @warmchang

[2019-02-12 08:45] #10896 closed

[2019-02-12 09:17] seokho-son opened #12596 "Translate concepts/configuration/scheduler-perf-tuning.md in Korean"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
No concepts/configuration/scheduler-perf-tuning.md in Korean

**Proposed Solution:**
Translate concepts/configuration/scheduler-perf-tuning.md in Korean

**Page to Update:**
https://kubernetes.io/...

[2019-02-12 12:53] seokho-son commented on #12596
/language ko

[2019-02-12 16:40] bradtopol commented on #12081
@steveperry-53 @zacharysarah  I assigned myself this topic and should be able to start it next week. I'm at a conference this week. If someone can work on it sooner let me know and I will unassign myself.

[2019-02-12 17:18] zacharysarah commented on #12081
@bradtopol Thanks, I think @juandiegopalomino has a PR well in progress already.

JD, would you please edit your PR’s original description to include the following on a single line:
`fixes #12081`
Thanks!

[2019-02-12 17:56] sftim opened #12601 "CronJob reference mentions support from Kubernetes 1.4"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/#cron-jobs mentions that `Job` is available in Kubernetes 1.4 and later.
`CronJob` is now a stable feature, the docs don't need to mention that it once wasn't.

**Proposed Solution:**
Update this section of the page.

**Page to Update:**
https://ku

[2019-02-12 18:07] juandiegopalomino commented on #12081
@zacharysarah done, and my pr is already merged

[2019-02-12 18:23] zacharysarah commented on #11763
@juandiegopalomino This may make sense as a follow-up to #12409--what do you think?

[2019-02-12 18:59] zacharysarah commented on #9115
/cc @Bradamant3 @juandiegopalomino @chenrui333 @zparnold

Is there a PR in progress? There are folks willing to work on this. Thanks in advance for contributions and reviews! 🙇

[2019-02-12 19:01] zacharysarah commented on #12078
@cody-clark @hogepodge @Bradamant3 Ping for followup 🙇

[2019-02-12 19:02] zacharysarah commented on #4135
/assign @bradtopol

[2019-02-12 19:04] neolit123 commented on #11536
going back to this topic.
a good number of pages there should be owned by SIG-CP, so i definitely agree with @hogepodge

[2019-02-12 21:56] juandiegopalomino commented on #11763
@zacharysarah alrighty. It seems like a 1-2 sentence fix (or am I missing something), correct?

[2019-02-12 22:13] sftim opened #12608 "Glossary entry for lifecycle hooks somehow collides with container entry"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
To see the symptoms, visit https://kubernetes.io/docs/reference/glossary/?all=true and mouse over the word “container” when it's used as a glossary reference.

You'll see that the tooltip in fact comes up with the text from the _container-lifecycle-hook_ entry. I replicated this in Firefox and in Brave, to rule out this being a

[2019-02-12 22:14] zacharysarah commented on #11763
@juandiegopalomino It looks pretty straightforward, just removing deprecated content. I recommend tagging @darkmane for review on the PR.

[2019-02-12 22:18] juandiegopalomino opened #12609 "No kube-scheduler documentation"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
The standard kube-scheduler [docs](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-scheduler/) and its [example](https://kubernetes.io/docs/tasks/administer-cluster/configure-multiple-schedulers/) on how to specify your own are very out-of-date and lacking.

Since March 2018 (I believe that was 1.10?), th

[2019-02-12 22:19] juandiegopalomino commented on #11763
cool, on it

[2019-02-12 23:14] sftim opened #12612 "Capitalization slightly wrong for “Cronjob” in glossary"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
`Cronjob` should be `CronJob`

**Proposed Solution:**
PR ~incoming~ submitted

**Page to Update:**
https://kubernetes.io/docs/reference/glossary/

[2019-02-12 23:16] sftim commented on #12588
Would it be safer to move `~/.kube` and contents aside, rather than wiping it?

[2019-02-13 01:09] kychoolkim commented on #11824
/close

[2019-02-13 01:09] #12612 closed

[2019-02-13 01:10] kychool commented on #11824
/close

[2019-02-13 01:10] #11824 closed

[2019-02-13 03:58] zparnold commented on #9115
Happy to take the lead on this @zacharysarah if no one else has (I'm in the opposite set of timezones as you at present so I'll wait 24 hours for a message/lack thereof to proceed)

[2019-02-13 04:25] zacharysarah commented on #9115
Thanks @zparnold! You rock! :star2:

[2019-02-13 06:16] michael-freidgeim-webjet opened #12617 "Improvement for k8s.io/docs/tasks/access-application-cluster/port-forward-access-application-cluster/"
**This is a...**

- [X] Feature Request
- [ ] Bug Report

**Problem:**
On section https://kubernetes.io/docs/tasks/access-application-cluster/port-forward-access-application-cluster/#forward-a-local-port-to-a-port-on-the-pod
it is not obvious which port is local and which remote.

**Proposed Solution:**

Clarify on a page and may be have  LOCAL_PORT and REMOTE_PORT  different.
BTW: if port is the

[2019-02-13 07:22] daminisatya commented on #12608
This is an interesting issue. I observed this for other terms as well. For example, Pod getting linked to Pod Priority.

@zacharysarah

[2019-02-13 09:40] #12430 closed

[2019-02-13 10:19] #12276 closed

[2019-02-13 11:32] sftim commented on #12339
Hi. Is there a part of the page at https://kubernetes.io/docs/concepts/configuration/assign-pod-node/ that you think we can improve?

[2019-02-13 19:35] sbrohi-att opened #12631 "Issue with k8s.io/docs/concepts/services-networking/dns-pod-service/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
Currently, dnsPolicy can only be configured on a pod by pod basis. There needs to be a configuration where the DNS policy can be configured cluster-wide. For example, right now I am specifying that my pod dnsPolicy: Default, I'd like to see if there is a configuration available where I can apply that cluster-wide, so that when

[2019-02-13 20:51] ojmhetar opened #12634 "Incorrect defaults shown for kubelet feature-gates reference"
**This is a...**

- [ ] Feature Request
- [ X] Bug Report

**Problem:**
The feature-gates section in the kubelet reference is not consistent with the correct defaults.

I'm comparing https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/ with
https://github.com/kubernetes/kubernetes/blob/release-1.13/pkg/features/kube_features.go

Specifically, multiple areas of the documentati

[2019-02-14 06:28] ping035627 opened #12639 "The links of "codenew file=" in pages are error."
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
The links of "codenew file=" in pages are error. For example,
1) https://%!s()/blob/master/content/en/docs/tutorials/clusters/deny-write.profile
  error code: 404 (not found), linked from page(s):
  https://deploy-preview-12593--kubernetes-io-master-staging.netlify.com/docs/tutorials/clusters/apparmor/
2) https://%!s()/master/co

[2019-02-14 06:30] ping035627 commented on #12639
@Rajakavitha1

[2019-02-14 07:06] iamneha commented on #12639
/assign @iamneha

[2019-02-14 07:54] iamneha commented on #12588
I also faced the same issue and simply wiping minikube machine work for me
`rm -rf ~/.minikube/machines`

[2019-02-14 07:54] iamneha commented on #12588
/assign @iamneha

[2019-02-14 08:16] iamneha commented on #12556
I think indentation is correct here.
I check this on yaml checker as well and it is correct.

Have you faced any issue while creating pods using this yaml file?

[2019-02-14 10:22] anarchyy7 opened #12640 "Issue with k8s.io/docs/home/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-02-14 14:05] kaushikCanada commented on #12556
I think u can close this.

Thanks,
Roy

On Thu, Feb 14, 2019, 3:17 AM Neha Yadav <notifications@github.com> wrote:

[2019-02-14 14:19] iamneha commented on #12556
/close

[2019-02-14 14:20] iamneha commented on #12556
@Rajakavitha1 can you please close this issue

[2019-02-14 14:36] Rajakavitha1 commented on #12556
Thanks for your update @imaneha
 /close

[2019-02-14 14:39] Rajakavitha1 commented on #12556
/close

[2019-02-14 14:39] #12556 closed

[2019-02-14 21:04] #8607 closed

[2019-02-14 21:04] #8982 closed

[2019-02-15 01:32] #12160 closed

[2019-02-15 02:25] dashpole commented on #12634
cc @bsalamat

[2019-02-15 06:16] #12601 closed

[2019-02-15 10:13] fungiboletus opened #12655 "Feature request : ConfigMap in Ingress"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

I would like to deploy an Ingress with configurations settings stored inside a ConfigMap.

**Proposed Solution:**

[code]

[2019-02-15 15:06] Kanshiroron opened #12657 "Unclear definition of the `--horizontal-pod-autoscaler-initial-readiness-delay` flag"
Hello,
In the Horizontal Pod Autoscaler documentation, the --horizontal-pod-autoscaler-initial-readiness-delay has an unclear definition and make comprehension very difficult:

https://github.com/kubernetes/website/blob/master/content/en/docs/tasks/run-application/horizontal-pod-autoscale.md

- It doesn't specify how does it retrieves pods status. Is it with the readiness probe?
- What happen if t

[2019-02-15 15:24] #9453 closed

[2019-02-15 17:41] ojmhetar commented on #12634
`kubelet --help` gives the expected defaults, so this issue is with the generated doc.

[2019-02-15 17:49] rajeshdba opened #12659 "Failed to start kubelet.service: Unit is not loaded properly: Invalid argument."
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-02-15 17:49] #12659 closed

[2019-02-15 19:55] sgmacdougall opened #12661 "Issue with k8s.io/docs/setup/independent/setup-ha-etcd-with-kubeadm/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
The script contained in this document didn't work for me. Then I realised the certs I was creating
all seemed to be for the same IP addresses, so they didn't work after copying them to the other hosts.
After running the 'kubeadm init phase certs' command in verbose mode I saw the following:

I0215 14:44:49.388535   12960 initc

[2019-02-15 20:24] jvmirdel opened #12662 "Issue with k8s.io/docs/tasks/administer-cluster/access-cluster-api/"
**This is a...**

- [ ] Feature Request
- [X ] Bug Report

**Problem:**
This line is ambiguous
To get the library, run the following command: go get k8s.io/client-go/<version number>/kubernetes See https://github.com/kubernetes/client-go to see which versions are supported.
It is not clear what version number can be used.
Based on the matrics, trying things like 7.0 or 1.10 does not work and it is

[2019-02-15 20:36] neolit123 commented on #12661
@kubernetes/sig-cluster-lifecycle
/sig cluster-lifecycle

hello, this is the first report we are getting about this and this setup hasn't changed much between 1.13 and 1.12.
please double check if you are following the steps correctly.

[2019-02-15 22:12] tux1980 opened #12664 "Issue with k8s.io/docs/cluster kube-flannel"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Hi Team,
don't now what do to after spending the all day with troubleshooting with the following problem:
I deployed a k8s Cluster on three centos7 machines. It is evidently running fine:

**kubectl get nodes**
NAME                     STATUS   ROLES    AGE    VERSION
k8s-master.localdomain    Ready    master       11h     v1.1

[2019-02-16 01:08] joheec opened #12665 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
Unable to run interactive tutorial - creating a cluster, on my Google Chrome.
https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-02-16 15:46] #10337 closed

[2019-02-16 17:09] sftim commented on #12341
AWS [supports](https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_server-certs.html#upload-server-certificate) uploading certificates to IAM.

AWS does recommend using ACM; however, both methods work.

[2019-02-16 17:13] sftim commented on #12467
If this page explained that static pods would be created regardless of all admission controllers (and gave `PodSecurityPolicy` as an example), would that resolve this issue?

[2019-02-16 17:13] sftim commented on #11612
Is this OK to close?

[2019-02-16 18:15] sftim commented on #12655
It sounds like you want to have a new feature in Kubernetes? If that's right, you can [raise an issue](https://github.com/kubernetes/kubernetes/issues/new/choose) against the Kubernetes repo.

[2019-02-16 18:34] sftim opened #12671 "Wrong comment characters in kubectl overview"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Wrong highlighting in `kubectl` overview

**Proposed Solution:**
Use comment characters appropriate for Bourne shell; this is because the comments are currently done with `//`, and a command line shell typically uses `#`.
(I'll PR a fix for this in a moment).

**Page to Update:**
https://kubernetes.io/docs/reference/kubectl/ove

[2019-02-17 03:13] jerryduren opened #12675 "Issue with k8s.io/docs/setup/independent/high-availability/"
**This is a...**

- [ ] Feature Request
- [X ] Bug Report

**Problem:**
when I add the third control plane node, I always meet the following issue, It seems that there is no startup kubelet and etcd at all. I don't find kubelet process in linux

[certs] valid certificates and keys now exist in "/etc/kubernetes/pki"
[certs] Using the existing "sa" key
[endpoint] WARNING: port specified in controlPl

[2019-02-17 03:55] #12671 closed

[2019-02-17 09:50] JulianWgs commented on #12203
The problem is gone :)

[2019-02-17 09:50] #12203 closed

[2019-02-17 11:38] leileijia opened #12677 "Improvement for k8s.io/docs/tutorials/kubernetes-basics/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-02-17 14:08] #10351 closed

[2019-02-17 15:22] #11703 closed

[2019-02-17 15:46] SupriyaSirbi commented on #12533
I am interested to work on this issue. Shall i submit a pull request for the same?

Thanks

[2019-02-17 15:54] SupriyaSirbi commented on #12501
I am interested to work on this issue. Shall i submit a pull request for the same?

Thanks

[2019-02-17 17:11] #10354 closed

[2019-02-17 18:38] neolit123 commented on #12675
/sig cluster-lifecycle
/priority awaiting-more-evidence

hello,

what kubeadm version are you using?

this document includes two methods: 1) stacked etcd 2) external etcd
k8s.io/docs/setup/independent/high-availability/

i'm going to assume you are doing 1).

what is the output of `systemctl status kubelet`?

try waiting 2 minutes before calling `kubeadm join --experimental-control-plane` on the 2

[2019-02-18 02:10] #12537 closed

[2019-02-18 05:20] Davidrjx opened #12681 "Issue with k8s.io/docs/concepts/workloads/pods/init-containers/"
**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**
pod sample yaml with init containers is confusing where until cmd string always is executed successfully at my side.

**Proposed Solution:**
change until to a more general one

**Page to Update:**
https://kubernetes.io/docs/concepts/workloads/pods/init-containers/

[2019-02-18 08:11] kevingimbel commented on #12341
Oh i see! I didn't know you could upload certificates to IAM.

If AWS recommends using ACM why would you recoomend AMI? Is there any benefit of using AMI over ACM? As far as I could see the required files are the same.

[2019-02-18 08:43] fungiboletus commented on #12655
Indeed 😅

[2019-02-18 08:43] #12655 closed

[2019-02-18 10:21] chadzii24 opened #12683 "Issue with k8s.io/docs/tasks/"
**This is a...**

- [x] Feature Request
- [x] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-02-18 13:23] cstoku commented on #10832
@bells17 こちら着手されていましたら申し訳ないのですが、見出しのみの翻訳でもよさそうです！
全文翻訳されておりましたらもちろんそのままPR出していただいても問題ありません！

[2019-02-18 14:05] bwillcox commented on #11095
My next question would typically updates the documentation for issues like this?

[2019-02-18 14:23] sftim commented on #12050
That might be a bug / behaviour in the latest versions of the `busybox` container image.

[2019-02-18 14:30] sftim commented on #12631
It sounds like you want to have a new feature in Kubernetes? If that's right, you can [raise an issue](https://github.com/kubernetes/kubernetes/issues/new/choose) against the Kubernetes repo.

For this case, I think you're asking for someone to implement an admission controller that adds the behaviour you have in mind.

[2019-02-18 14:32] sftim commented on #12587
Hi @poul22
What improvement to this page did you have in mind?

[2019-02-18 14:33] sftim commented on #12567
Hi @pradeep5434
How should the project change this web page to improve it?

[2019-02-18 14:48] poul22 commented on #12587
no save change looking for day furste web traning

[2019-02-18 17:15] chenrui333 commented on #11070
Close via https://github.com/kubernetes/website/pull/11551

[2019-02-18 17:15] #11070 closed

[2019-02-18 18:45] Sai-Adarsh commented on #12496
Hey @zacharysarah , I'm [Sai Adarsh S](http://sai-adarsh.github.io) interested in working with [Streamline and simplify SASS for the Kubernetes website](https://github.com/cncf/soc#streamline-and-simplify-sass-for-the-kubernetes-website) as a part of **GSoC 2019**. I'm a Full-stack developer proficient in HTML, CSS, JS, Django, Python, Node.js & containers. Having said that I’m looking forward to

[2019-02-18 22:50] bradtopol commented on #4135
@markmandel @metmajer @erictune We would love to see this content get completed. Would one of you be willing to take the lead on generating the content? I can help with any questions you may have on submitting a PR

[2019-02-19 00:57] kiddingmonkey opened #12690 "Issue with k8s.io/zh/docs/home/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-02-19 03:17] #12690 closed

[2019-02-19 03:23] #12567 closed

[2019-02-19 03:24] tengqm commented on #12631
Right. This is not a doc issue.

[2019-02-19 03:24] #12631 closed

[2019-02-19 03:24] #12587 closed

[2019-02-19 03:26] tengqm commented on #12683
Closing because there is no details about the issue.

[2019-02-19 03:26] #12683 closed

[2019-02-19 03:27] tengqm commented on #12677
Feel free to reopen when you get more specific details.

[2019-02-19 03:27] #12677 closed

[2019-02-19 06:12] abizake opened #12695 "Issue with k8s.io/docs/setup/independent/install-kubeadm/"
Requesting Changes in section Configure cgroup driver used by kubelet on Master Node
**This is a...**

- [ ] Feature Request
- [* ] Bug Report

**Problem:**
The section in the doc says "When using Docker, kubeadm will automatically detect the cgroup driver for the kubelet and set it in the /var/lib/kubelet/kubeadm-flags.env file during runtime " , which is not happening for CentOs 7 using Kubernet

[2019-02-19 06:51] zacharysarah opened #12696 "Update contrib docs for card-based layout"
### This is a...

- [x] Feature Request
- [ ] Bug Report

### Problem

PR #12570 fixes hard-coded text from cards on the docs landing page. (Thanks @gochist! ✨ )

The PR adds a new `card:` element to front matter for pages linked to by a card on the landing page.

### Proposed Solution

Update the docs contribution guide to reflect the change:

https://github.com/kubernetes/website/blob/master/con

[2019-02-19 11:21] ananthfrancis opened #12703 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/"
"curl localhost" command gives 404 error as the file from hostpath not mounted.

**This is a...**

- [ ] Feature Request
- [ *] Bug Report

**Problem:**
I have followed the steps provided in this task. Unfortunately, I am not getting the expected result when I tested "curl localhost" in the pod. And, In Mount path, I couldn't see the index.html which is exist in host path /mnt/data.

**Proposed So

[2019-02-19 12:39] sftim commented on #12681
Is this similar to / a duplicate of  #12050 ?

[2019-02-19 14:05] gochist opened #12707 "Outdated files in the dev-1.13-ko.7 branch"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
Outdated files in the dev-1.13-ko.7 branch.
103 files in content/en are changed
16 files in content/ko are outdated

- [x]  docs/concepts/architecture/cloud-controller.md 1 file changed, 1 insertion(+)
- [x]  docs/concepts/containers/container-lifecycle-hooks.md 1 file changed, 12 insertions(+), 12 deletions(-)
- [x]  docs/conc

[2019-02-19 14:20] gochist commented on #12707
/language ko

[2019-02-19 15:43] sgmacdougall opened #12709 "Issue with k8s.io/docs/setup/independent/high-availability/"
**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**

The certs to copy need to be updated.

**Proposed Solution:**

It seems that the following need to be included in the certs to move to the other control plane nodes:

scp /etc/kubernetes/pki/apiserver-etcd-client.key "${USER}"@host:
scp /etc/kubernetes/pki/apiserver-etcd-client.key "${USER}"@host:

mv /etc/kubernetes/pki/apis

[2019-02-19 17:27] sadedil opened #12713 "Issue with k8s.io/docs/reference/glossary/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The `List of available CSI drivers` link is broken in the `Container Storage Interface (CSI)` section.

**Proposed Solution:**
Converting `D` to lowercase `d` in this link `https://kubernetes-csi.github.io/docs/Drivers.html` solves the problem.

Wrong one: https://kubernetes-csi.github.io/docs/Drivers.html
Correct one: https://

[2019-02-19 17:47] AlexDiamanti commented on #12467
My understanding that kubelet also needs to restart static pod if somehow was an issue with the scheduling (node was not ready, psp was not allowing, etc).  It's just could be broken in the current versions according to that:  https://github.com/kubernetes/kubernetes/pull/73309

Would be nice to have more details there...

[2019-02-19 18:51] neolit123 commented on #12709
hello, what setup are you trying - stacked etcd or external etcd?
/sig cluster-lifecycle
/priority awaiting-more-evidence

[2019-02-19 19:00] #10366 closed

[2019-02-19 21:05] sftim commented on #12467
Would it make sense to log an issue that calls for more detail, and hyperlink to the page with the extra detail once it exists?

[2019-02-19 21:22] AlexDiamanti commented on #12467
Sure

[2019-02-19 21:34] sftim opened #12715 "Document static pod concept"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
https://kubernetes.io/docs/tasks/administer-cluster/static-pod/ provides task-oriented instructions for creating a static pod; however, it's light on details about what a static pod is.

Those details belong outside of the task docs.

**Proposed Solution:**
1. Either:
   - expand the Containers & Pods part of the concept sectio

[2019-02-19 21:38] AlexDiamanti opened #12716 "Issue with k8s.io/docs/tasks/administer-cluster/static-pod/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

Static pods can also be created via kubectl create -f staticPod.json

Please, explain how is it different from other ways.  Specifically when PodSecurityPolicies are used.

**Proposed Solution:**

Now sure - someone needs to feel up blanks

**Page to Update:**
https://kubernetes.io/...

[2019-02-19 21:39] AlexDiamanti commented on #12716
In addition to #12715

[2019-02-19 21:43] sftim commented on #12664
There is an issue tracker on GitHub for the Kubernetes project itself; however, for support requests the project wants to signpost you towards:
- [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) (use the *kubernetes* tag)
- the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/).
- the [Kubernetes Slack](http://slack.k8s.io/)

[2019-02-19 21:47] sftim commented on #12664
Specifically for Flannel, you can find a troubleshooting guide at https://github.com/coreos/flannel/blob/master/Documentation/troubleshooting.md
Red Hat, the organisation behind Flannel, also provides general technical [support](https://www.redhat.com/en/services/support) (as a paid-for service).

[2019-02-19 22:32] tux1980 commented on #12664
Thanks for getting in touch with me. Just a couple of minutes ago I finished with my work and resolved the problem myself. It is all running fine now with a working Flannel Overlay network either.
I did it the windows way - re-install, new deployment ;)
Thanks!
Wolfgang

[2019-02-20 00:45] makocchi-git commented on #10828
/assign

[2019-02-20 00:48] #12401 closed

[2019-02-20 01:01] makocchi-git commented on #10829
/assign

[2019-02-20 01:24] makocchi-git commented on #10830
/assign

[2019-02-20 01:56] makocchi-git commented on #10832
/assign

[2019-02-20 02:20] makocchi-git commented on #10833
/assign

[2019-02-20 02:28] auifzysr commented on #10843
/assign

[2019-02-20 02:30] chenkirk opened #12726 "Issue with k8s.io/docs/concepts/services-networking/ingress-controllers/"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
Error. You must define a overview

**Proposed Solution:**
Define a overview

**Page to Update:**
https://kubernetes.io/docs/concepts/services-networking/ingress-controllers/

<img width="1331" alt="screen shot 2019-02-19 at 6 29 46 pm" src="https://user-images.githubusercontent.com/1652877/53062056-619c6180-3474-11e9-9164-82d3ab

[2019-02-20 02:45] makocchi-git commented on #10834
/assign

[2019-02-20 03:26] makocchi-git commented on #10835
/assign

[2019-02-20 04:23] makocchi-git commented on #10836
/assign

[2019-02-20 04:24] makocchi-git commented on #10837
/assign

[2019-02-20 04:34] makocchi-git commented on #10838
/assign

[2019-02-20 04:54] makocchi-git commented on #10839
/assign

[2019-02-20 06:44] cstoku commented on #10837
かなしみ

[2019-02-20 06:44] cstoku commented on #10837
/close

[2019-02-20 06:44] #10837 closed

[2019-02-20 07:53] AlexanderChupin opened #12734 "Issue with k8s.io/docs/tutorials/kubernetes-basics/update/update-intro/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The interactive tutorial CLI screen is empty. Errors in the http responses.
Trying to open it by clicking on `Start Interactive Tutorial >` button from the page
Performing a Rolling Update - Kubernetes https://kubernetes.io/docs/tutorials/kubernetes-basics/update/update-intro/
https://kubernetes.io/docs/tutorials/kubernetes-bas

[2019-02-20 08:24] cstoku commented on #10829
/close

[2019-02-20 08:24] #10829 closed

[2019-02-20 08:24] cstoku commented on #10828
/close

[2019-02-20 08:24] #10828 closed

[2019-02-20 08:26] cstoku commented on #10839
/close

[2019-02-20 08:26] #10839 closed

[2019-02-20 08:40] cstoku commented on #10834
/close

[2019-02-20 08:40] #10834 closed

[2019-02-20 08:45] sadedil commented on #12713
By the way, i've searched the `https://kubernetes-csi.github.io/docs/Drivers.html` string in `kubernetes/website` repository. It seems it's used in several places.

Maybe the fix should be apply everywhere or maybe the https://kubernetes-csi.github.io/docs/drivers.html should support case-insensitive URL's?

[2019-02-20 08:55] cstoku opened #12735 "Translate setup/building-from-source/ in Japanese"
**This is a...**

* [x]  Feature Request
* [ ]  Bug Report

**Problem:**
No setup/building-from-source/ of in Japanese.

**Proposed Solution:**
Translate setup/building-from-source/ in Japanese.
Copy from en content and Update `content/ja/docs/setup/building-from-source.md`.

**Page to Update:**
https://kubernetes.io/ja/setup/building-from-source/

[2019-02-20 08:55] cstoku commented on #12735
/language ja

[2019-02-20 08:56] cstoku commented on #12735
@auifzysr さんが着手中

[2019-02-20 08:57] cstoku commented on #10828
こちら、一旦見出しのみの翻訳になったので、もし着手していたらそのままPR出してもらって大丈夫です。
全翻訳のIssueは #12735 に作成しました。

[2019-02-20 09:00] denizhusaj opened #12736 "Issue with k8s.io/docs/tasks/job/coarse-parallel-processing-work-queue/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The pods which are created by the job are getting the error: "logging in to AMQP server: a socket error occurred"
see: https://stackoverflow.com/questions/52193970/running-rabbitmq-peer-discovery-k8s-throws-socket-error

**Proposed Solution:**
Change the version of ubuntu in the dockerfile to 18.04

**Page to Update:**
https://

[2019-02-20 11:49] sftim opened #12739 "Shell code snippets include command prompt"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
As per the current [style guide](https://kubernetes.io/docs/contribute/style/style-guide/#don-t-include-the-command-prompt), snippets of code shouldn't include the command prompt. On several pages there are code snippets that do include a prompt.

In some places this is mixed in with output, eg (Markdown):
<pre>
[code]

[2019-02-20 12:11] #12640 closed

[2019-02-20 13:16] DanyC97 commented on #12739
@sftim  can you provide an example of  _type mixed with sample output_ ?

[2019-02-20 14:03] DanyC97 opened #12740 "Task topic - consistency around having full url to examples"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
There is inconsistency in the docs around the examples K8s manifest yaml files.

**Proposed Solution:**

In order to divide and conquer this issue will be used as a master tracking list for the [TASK](https://kubernetes.io/docs/tasks/) topic only.

#### Configure pods and containers
- [x] https://kubernetes.io/docs/tasks/config

[2019-02-20 14:16] sftim commented on #12739
Ah, sorry. I edited that out whilst drafting @DanyC97

I've updated the issue description.

[2019-02-20 14:17] sftim commented on #12739
The pages that I think need fixing (en-US locale) are:
- https://kubernetes.io/docs/concepts/cluster-administration/certificates/
- https://kubernetes.io/docs/concepts/cluster-administration/logging/
- https://kubernetes.io/docs/concepts/cluster-administration/manage-deployment/
- https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/
- https://kubernetes.io/docs/con

[2019-02-20 14:21] sftim commented on #12740
After reading this issue, I'm not sure what I could do to PR a fix / set of fixes.
Where docs are listed as with no specific comment, are changes needed?

[2019-02-20 14:27] DanyC97 commented on #12740
yes, every chapter in the topic with the url provided does need fixes.
I'll try to add more info on each of them. If you fancy helping can you also join sig-docs on slack and i can braindump more thoughts ?

[2019-02-20 14:40] sftim commented on #12740
_gets to sorting out a Slack invitation_

[2019-02-20 15:02] DanyC97 commented on #12740
also we need to fix https://github.com/kubernetes/website/issues/12639 so will keep an eye on it and fix it as we get on

@sftim if you fancy helping, you want to go over every single Task topic doc file and fix the above issue ? same issue across the entire doc code base

[2019-02-20 16:05] sftim commented on #12639
To see the fault, you can visit https://deploy-preview-12593--kubernetes-io-master-staging.netlify.com/docs/tutorials/clusters/apparmor/#example and either hover over or follow the link to the source code of the first YAML file: `deny-write.profile`

This should link to that profile so that you can download it; however, the link is broken.

[2019-02-20 22:53] DanyC97 commented on #12639
i know how to fix it, i'm just waiting for an answer in sig-docs slack w.r.t some shortcodes files history

[2019-02-20 23:38] tengqm commented on #12639
I'm not sure we should ensure the links are correct during preview stage. However, any improvements to the code are welcomed.

[2019-02-20 23:47] DanyC97 commented on #12639
sorry being novice here, what you mean by preview stage? the issue is present in the live docs as far as i can see, guess i'm missing something

[2019-02-21 00:57] tengqm commented on #12639
@DanyC97 The fix looks good anyway.

[2019-02-21 01:00] #12639 closed

[2019-02-21 02:50] neolit123 commented on #12426
/sig windows

[2019-02-21 04:21] makocchi-git commented on #10840
/assign

[2019-02-21 07:02] cstoku commented on #10835
/close

[2019-02-21 07:02] #10835 closed

[2019-02-21 07:02] cstoku commented on #10838
/close

[2019-02-21 07:02] #10838 closed

[2019-02-21 07:02] cstoku commented on #10830
/close

[2019-02-21 07:02] #10830 closed

[2019-02-21 07:28] jan-warchol opened #12746 "Issue with k8s.io/docs/tasks/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
It seems this page was meant to be a table of contents, but there are no links to the actual content. It's also not aligned with what's in menu on the left.

**Proposed Solution:**
Add links to appropriate subpages.

**Page to Update:**
https://kubernetes.io/docs/tasks/

[2019-02-21 07:57] DanyC97 commented on #12746
@jan-warchol regarding

are you referring to:
* the Tasks page headers are not in sync with the vertical left hand side list AND
* is not ordered in same way left hand side is ?

[2019-02-21 09:38] makocchi-git commented on #10841
/assign

[2019-02-21 09:47] iamneha commented on #12588
Inside the kubectl configuration section, it is mentioned what to do when `kubectl is not correctly configured or not able to connect to a Kubernetes cluster`
I don't think we need to remove `~/.kube`

To connect to the k8s cluster we need a tool like minikube to be installed first and then re-run the commands.
If you have installed minikube before and when running `minikube start` is throwing an

[2019-02-21 09:59] cstoku commented on #10840
/close

[2019-02-21 10:00] #10840 closed

[2019-02-21 10:00] iamneha commented on #12739
I would like to submit PR for this issue

/assign @iamneha

[2019-02-21 10:11] dotchev opened #12751 "Issue with k8s.io/docs/tasks/service-catalog/install-service-catalog-using-helm/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The documentation states in section _Enable RBAC_:

But this causes minikube to crash.
See https://github.com/kubernetes/minikube/issues/2798

**Proposed Solution:**

Remove this section as RBAC is now enabled by default in minikube.

**Page to Update:**
https://kubernetes.io/docs/tasks/service-catalog/install-service-catalog-u

[2019-02-21 10:44] makocchi-git commented on #10842
/assign

[2019-02-21 11:08] sftim commented on #12588
This task is about installing `kubectl`, and that doesn't have much bearing on Minikube or a similar thing that sets up a test cluster. The person reading this document might want to install `kubectl` so that they can deploy to a namespace, maybe even to access a production environment.

If we want to explain how to clean up after using minikube, and start afresh, that is also a task document. I t

[2019-02-21 11:23] makocchi-git commented on #10844
/assign

[2019-02-21 11:28] makocchi-git commented on #10845
/assign

[2019-02-21 11:46] oksana664 opened #12756 "Issue with k8s.io/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-02-21 11:54] makocchi-git commented on #10846
/assign

[2019-02-21 12:21] abhisheklearnsjava opened #12758 "Issue with k8s.io/docs/setup/independent/high-availability/"
Not able to join worker node.
The worker node is trying to connect to master using Virtual IP configured in Keepalived settings which is not reachable. e.g.:
https://10.0.0.100:6443/api/v1/namespaces/kube-system/configmaps/kubeadm-config.

As of now I have not installed any load balancer just using Keepalived and given VirtualIP in my master's kubeadm init config file.

Please Suggest.

[2019-02-21 15:31] gochist commented on #12707
docs/concepts/workloads/pods/pod-lifecycle.md 까지 진행했습니다.

[2019-02-21 16:08] 4563453 opened #12764 "Improvement for k8s.io/docs/setup/independent/troubleshooting-kubeadm/"
**This is a...**

- [ X] Feature Request
- [ ] Bug Report

**Problem:**
missing command for fixing

**Proposed Solution:**
please add missing command fixing issue "TLS certificate errors"
export KUBECONFIG=/etc/kubernetes/admin.conf

**Page to Update:**
https://kubernetes.io/docs/setup/independent/troubleshooting-kubeadm/#tls-certificate-errors

[2019-02-21 16:18] Skull0ne opened #12765 "Issue with k8s.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/"
**This is a...**
Need correction in the doc

**Problem:**
I tried to apply this configuration from the doc :
[code]

Those parameters are not working :
- metric: {name :  requests-per-second}
- describedObject

[code]

I'm running kubernetes 1.13.2

**Proposed Solution:**
I had to change my config to this :
[code]

**Page to Update:**
k8s.io/docs/tasks/run-application/horizontal-pod-autoscale-walk

[2019-02-21 16:24] #12529 closed

[2019-02-21 16:30] DanyC97 commented on #12756
what is the problem here @oksana664 ?

[2019-02-21 16:35] DanyC97 commented on #12739
@iamneha before fire any PRs, could you please detail how you planning to tackle, maybe a PR on the style  guide docs and a PR example will be okay.

Doing so then @sftim, myself or anyone else can pick it up and make sure that we are coordinating on the effort

[2019-02-21 17:56] schu commented on #10691
/remove-lifecycle rotten

[2019-02-21 18:05] schu commented on #10691
Something still seems to be off:

https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/ shows the old version from before https://github.com/kubernetes/website/pull/10093

https://kubernetes.io/docs/tasks/access-kubernetes-api/configure-aggregation-layer/ and
https://kubernetes.io/docs/reference/access-authn-authz/authentication/ show the updated version as done with ht

[2019-02-21 18:42] neolit123 commented on #12764
the command is not exactly missing, as `$HOME/.kube/config` is also a search path, but if you set KUBECONFIG it will take precedence.

the troubleshooting tutorial assumes that you have not set KUBECONFIG, but if you have, you might
as well update it to another location.

free free to send a PR for this clarification if you want

/help
/kind cleanup
/priority backlog
/sig cluster-lifecycle

[2019-02-21 20:49] #10375 closed

[2019-02-21 23:12] bep opened #12769 "Duplicated images across languages"
Ref. the Italian version:

https://github.com/kubernetes/website/tree/master/content/it/_common-resources/images

Assuming that these images exist in the English version, they only need to be in the translated version if they somehow need to be changed per language. Doing a "copy-and-paste all" for every new language will create unneeded work if you for some reason want to change these graphics.

[2019-02-22 01:45] makocchi-git commented on #10847
/assign

[2019-02-22 03:24] makocchi-git commented on #10848
/assign

[2019-02-22 04:25] cstoku commented on #10832
/close

[2019-02-22 04:25] #10832 closed

[2019-02-22 05:23] cstoku commented on #10833
/close

[2019-02-22 05:23] #10833 closed

[2019-02-22 05:23] cstoku commented on #10836
/close

[2019-02-22 05:23] #10836 closed

[2019-02-22 05:26] cstoku commented on #10841
/close

[2019-02-22 05:26] #10841 closed

[2019-02-22 05:26] cstoku commented on #10844
/close

[2019-02-22 05:27] #10844 closed

[2019-02-22 05:30] cstoku commented on #10845
/close

[2019-02-22 05:31] cstoku commented on #10846
/close

[2019-02-22 05:31] #10845 closed

[2019-02-22 05:31] #10846 closed

[2019-02-22 05:58] #9274 closed

[2019-02-22 05:58] #9286 closed

[2019-02-22 05:58] #9289 closed

[2019-02-22 05:58] #9275 closed

[2019-02-22 05:58] #9353 closed

[2019-02-22 06:00] cstoku commented on #10848
/close

[2019-02-22 06:00] #10848 closed

[2019-02-22 06:45] bells17 commented on #10832
@cstoku 翻訳できておらず & メッセージに気づくの遅れてしまっており申し訳ありません。
翻訳まだ途中で止まっていました。。

[2019-02-22 10:09] iamneha commented on #12739
@sftim @DanyC97 I created a PR, please check here #12779
This is a reference PR so that it would be easy to review

If this looks fine I'll add commit for rest of the files as well

[2019-02-22 10:28] makocchi-git commented on #10849
/assign

[2019-02-22 12:00] Adirio opened #12785 "Move away from encouraging Deployment for additional schedulers"
**This is a...**
/sig scheduling
/kind feature

**Problem:**
Currently it is suggested in [Tasks/Administer a Cluster/Configure multiple schedulers](https://kubernetes.io/docs/tasks/administer-cluster/configure-multiple-schedulers/#define-a-kubernetes-deployment-for-the-scheduler) ([source](https://github.com/kubernetes/website/blob/master/content/en/docs/tasks/administer-cluster/configure-multipl

[2019-02-22 12:29] makocchi-git commented on #10850
/assign

[2019-02-22 13:12] makocchi-git commented on #10852
/assign

[2019-02-22 13:33] makocchi-git commented on #10853
/assign

[2019-02-22 14:40] cstoku commented on #10842
/close

[2019-02-22 14:40] #10842 closed

[2019-02-22 14:40] cstoku commented on #10847
/close

[2019-02-22 14:40] #10847 closed

[2019-02-22 14:53] cstoku commented on #10850
/close

[2019-02-22 14:53] #10850 closed

[2019-02-22 15:49] makocchi-git commented on #10851
/assign

[2019-02-22 16:10] cstoku commented on #10849
/close

[2019-02-22 16:10] #10849 closed

[2019-02-22 16:29] cstoku commented on #10851
/close

[2019-02-22 16:29] #10851 closed

[2019-02-22 16:29] cstoku commented on #10852
/close

[2019-02-22 16:29] #10852 closed

[2019-02-22 16:30] cstoku commented on #10853
/close

[2019-02-22 16:30] #10853 closed

[2019-02-22 18:28] spjohn85 opened #12795 "Issue with k8s.io/docs/tasks/access-application-cluster/web-ui-dashboard/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The link to file is showing an SSL error and is blocked by Google Chrome. Looks like the cert used in the url is not secure anymore.

https://raw.githubusercontent.com/kubernetes/dashboard/v1.10.1/src/deploy/recommended/kubernetes-dashboard.yaml

Also while running the command getting below error,

kubectl create -f https://raw

[2019-02-22 20:40] DanyC97 commented on #12554
@codeliger you agree this is no longer an issue since yo uhave few options:

* backend deployment - `kubectl create -f https://k8s.io/examples/service/access/hello.yaml`
* frontend deployment - `kubectl create -f https://k8s.io/examples/service/access/frontend.yaml`

In addition you can also now do a wget on the files itself by copy the link from the table top corner

* `https://raw.githubusercont

[2019-02-23 02:07] codeliger commented on #12554
This didnt solve the problem. Updated the proposed solution.

A good example is in the popular python framework called django:
https://docs.djangoproject.com/en/2.1/intro/tutorial01/#creating-a-project
The creating a project docuementation page links to the django settings page so people can learn more about django settings:
https://docs.djangoproject.com/en/2.1/topics/settings/#available-settings

[2019-02-23 03:01] jklappenbach opened #12801 "Improvement for k8s.io/docs/concepts/storage/storage-classes/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
Local Provisioning is now supported in public APIs.  This should be reflected in all pages concerning the feature.

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-02-23 13:30] auifzysr commented on #10828
@cstoku 未着手でした。後日草稿完成したら #12735 のPRとして出すことにします！

[2019-02-23 17:55] #11964 closed

[2019-02-23 17:55] #10902 closed

[2019-02-23 17:57] #12453 closed

[2019-02-23 19:54] DanyC97 commented on #12554
i guess you are asking for https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.13/#deployment-v1-apps?  if so then all this info can be accessed from https://kubernetes.io/docs/reference/kubernetes-api/

Are you saying that you would prefer to have a way to get from https://kubernetes.io/docs/concepts/workloads/controllers/deployment/ to the more _advanced_ spec ?

[2019-02-23 20:56] ryan-williams opened #12806 "Font-size inconsistencies"
## This is a...

- [ ] Feature Request
- [x] Bug Report

## Problem:
### Table-cells (`<td>`s) are strangely smaller than non-table text:

![](https://d3vv6lp55qjaqc.cloudfront.net/items/0n1Y1t3J3f253x3e0j2Q/%5B03f51d2bc7aac877f1a32ff1808e8219%5D_Screen%2520Shot%25202019-02-23%2520at%25203.29.05%2520PM.png?X-CloudApp-Visitor-Id=486740)

### `<td>` font-sizes are inconsistent with sibling `<li>`s,

[2019-02-24 08:45] franpog859 opened #12810 "Missing docs for ingress setup on minikube"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

There is a `404 NotFound` page after clicking the last link in the [ingress documentation file](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/services-networking/ingress.md). I mean this one - `Set up Ingress on Minikube with the NGINX Controller`.

There is no such file as `https://github.com/kube

[2019-02-24 10:19] dornah opened #12811 "Issue with k8s.io/docs/tutorials/hello-minikube/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Following the Hello Minikube tutorial, at the Create a Minikube Cluster section (using Katacoda environment) I encounter these issues:

Step 2) When trying to launch the Kubernetes dashboard I see this error:

<img width="1235" alt="screen shot 2019-02-24 at 8 50 31 pm" src="https://user-images.githubusercontent.com/12002605/53

[2019-02-24 12:46] auifzysr commented on #10856
これやってます

[2019-02-24 14:10] auifzysr commented on #10857
これやってます

[2019-02-24 18:06] nikhita commented on #10104
Fixed in https://github.com/kubernetes/website/pull/9826. Thanks for pointing that out, @daminisatya! :)

/close

[2019-02-24 18:06] #10104 closed

[2019-02-25 01:03] #9645 closed

[2019-02-25 01:46] codeliger commented on #12554
Yes that would make sense. I ended up looking for the kubernetes api but never found it. Its not clear the kubernetes api is the deployment api.

[2019-02-25 04:29] xichengliudui opened #12815 "ZH-trans: image display failed!"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
`blob/release-1.12/content/zh/blog/_posts/...` there is the problem of picture display failure:
[code]

**Proposed Solution:**
Move the image to the correct path

**Page to Update:**
https://github.com/kubernetes/website/tree/release-1.12/content/zh/blog/_posts/...

[2019-02-25 04:29] xichengliudui commented on #12815
cc @markthink  @tengqm

[2019-02-25 06:29] chrisvdb opened #12816 "Issue with k8s.io/docs/tasks/access-application-cluster/web-ui-dashboard/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

[https://github.com/kubernetes/dashboard/releases](https://github.com/kubernetes/dashboard/releases) implies that dashboard is not compatible with Kubernetes v1.13, but [https://kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard/](https://kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard/)

[2019-02-25 11:00] xilopaint commented on #12405
Thanks for this issue. It helped me to understand why bash-completion wasn't working to me.

The output of the `brew install` command mentions `~/.bash_profile`, not `~/.bashrc`.

Please, edit the snippet with `--prefix` instead of `prefix`.

[2019-02-25 11:06] daminisatya commented on #12810
Thank you @franpog859 for pointing the issue. I opened a PR, this fix will resolve it!

[2019-02-25 12:23] daminisatya opened #12823 "Inconsistency with footer navigation tabs"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The footer nav tabs in the blog are in blue whereas in the rest of the document they are in white.

**Proposed Solution:**
The color should be consistent across the pages in the white.

Footer in Blog
<img width="1513" alt="screen shot 1940-12-06 at 5 49 30 pm" src="https://user-images.githubusercontent.com/6227784/53337009-200

[2019-02-25 12:24] daminisatya commented on #12560
closing, since it will be resolved in the new community page design

[2019-02-25 12:24] #12560 closed

[2019-02-25 12:24] daminisatya commented on #12823
/good-first-issue

[2019-02-25 12:41] weibeld commented on #12405
Good that it helped you!

You could source the file in `~/.bash_profile`, but then `bash-completion` probably won't be available in a sub-shell (that is, when you start a new shell by typing `bash`). This is because `~/.bash_profile` is sourced only by login shells (i.e. the first shell you start), but not by shells that you start within this shell. On the other hand, `~/.bashrc` is sourced by all

[2019-02-25 12:53] xilopaint commented on #12405
Sorry, I had deleted my comment before your last one as I realised that I can get the scripts in `$(brew --prefix)/etc/bash_completion.d/` sourced just by adding `export BASH_COMPLETION_COMPAT_DIR="/usr/local/etc/bash_completion.d"` to `~/.bash_profile` so your snippet wasn't necessary.

[2019-02-25 13:29] makocchi-git commented on #10855
/assign

[2019-02-25 14:37] daminisatya opened #12826 "Issue with the header nav under Documentation tab"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Navigate from the home page of the website to Documentation which will land you over here.

<img width="1631" alt="screen shot 1940-12-06 at 8 03 16 pm" src="https://user-images.githubusercontent.com/6227784/53344425-ac1c5300-3938-11e9-9f90-f8bc1f0dd534.png">

One can observe extra padding under the navigation tabs. But it's th

[2019-02-25 14:37] daminisatya commented on #12826
https://kubernetes.io/docs/home/

[2019-02-25 14:38] daminisatya commented on #12826
/good-first-issue

[2019-02-25 15:40] ibrahimkais opened #12827 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
**This is a...**

- [x] Bug Report

**Problem:**
**Module 2 - Step 3**

in tutorial I created the proxy

[code]
but when trying to run the command as stated in the tutorial

`curl http://localhost:8001/api/v1/namespaces/default/pods/$POD_NAME/proxy/`

and the result is

[code]

**Page to Update:**
https://kubernetes.io/...

[2019-02-25 19:21] #4205 closed

[2019-02-25 19:29] ClaudiaJKang opened #12830 "ko: Translate tutorials/online-training/overview.md in Korean"
**This is a...**

- [X] Feature Request
- [ ] Bug Report

**Problem:**
[docs/tutorials/online-training/overview.md](https://github.com/kubernetes/website/blob/dev-1.13-ko.7/content/ko/docs/tutorials/online-training/overview.md) not translated to Korean.

**Proposed Solution:**
Translate [docs/tutorials/online-training/overview.md](https://github.com/kubernetes/website/blob/dev-1.13-ko.7/content/ko

[2019-02-25 19:29] ClaudiaJKang commented on #12830
/assign
/language ko

[2019-02-25 20:15] lledru opened #12832 "EN doc to fix on the setup/independent section"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
https://kubernetes.io/docs/setup/independent/high-availability/#first-steps-for-both-methods : typo : double word "note" found

**Proposed Solution:**
delete one occurence of note

**Page to Update:**
https://kubernetes.io/docs/setup/independent/high-availability.md

[2019-02-25 20:21] zacharysarah commented on #12832
/sig docs
/language en

[2019-02-25 21:06] weibeld commented on #12405
That's true, and this seems to be the right way to do it at the moment. So, I adapted my initial post.

The note about that in the output of `brew install` is new, it has been added in [this commit](https://github.com/Homebrew/homebrew-core/commit/c08cf79e21a1df6b1c211755e5ec7a2aad4b6ca0) from 30 Jan 2019. The author probably added this following a discussion about this that we had [here](https://

[2019-02-25 22:29] zacharysarah commented on #12739
@sftim 👋

Do we? Right now, the style guide specifies to [separate commands from output](https://kubernetes.io/docs/contribute/style/style-guide/#separate-commands-from-output). Or do you mean something different?

Again, the style guide is clear about separating commands from output.

That said, there is a possibility for improvement where we offer examples in multiple languages: better implement

[2019-02-25 23:40] #12832 closed

[2019-02-26 05:17] siddsuresh97 commented on #12503
I am interested in taking up this task

[2019-02-26 06:31] #12447 closed

[2019-02-26 07:14] sftim commented on #12739
[Separate commands from output](https://kubernetes.io/docs/contribute/style/style-guide/#separate-commands-from-output) makes sense to me. I missed that when I was reading through before.

So, the style guide *is* clear. I'll amend the issue description.

[2019-02-26 07:38] zer0big opened #12837 "Translate concepts/overview/object-management-kubectl/imperative-command in Korean"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
No concepts/overview/object-management-kubectl/imperative-command in Korean

**Proposed Solution:**
Translate concepts/overview/object-management-kubectl/imperative-command in Korean

**Page to Update:**
https://kubernetes.io/docs/concepts/overview/object-management-kubectl/imperative-command/

/language ko

[2019-02-26 07:39] Abhik1998 commented on #12826
I wanted to show a sample of how you wanted it to be.
![image](https://user-images.githubusercontent.com/31558638/53395368-ad489100-39c7-11e9-8f44-71c702df7c34.png)

[2019-02-26 07:39] Abhik1998 commented on #12826
Is this ok??

[2019-02-26 07:39] zer0big opened #12838 "Translate concepts/overview/object-management-kubectl/imperative-config in Korean"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
No concepts/overview/object-management-kubectl/imperative-config in Korean

**Proposed Solution:**
Translate concepts/overview/object-management-kubectl/imperative-config in Korean

**Page to Update:**
https://kubernetes.io/docs/concepts/overview/object-management-kubectl/imperative-config/

/language ko

[2019-02-26 07:41] zer0big opened #12839 "Translate concepts/overview/object-management-kubectl/declarative-config in Korean"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
No concepts/overview/object-management-kubectl/declarative-config in Korean

**Proposed Solution:**
Translate concepts/overview/object-management-kubectl/declarative-config in Korean

**Page to Update:**
https://kubernetes.io/docs/concepts/overview/object-management-kubectl/declarative-config/

/language ko

[2019-02-26 07:52] Abhik1998 commented on #12826
/cc

[2019-02-26 08:22] sftim commented on #12785
If this guide were to recommend enabling leader election enabled, and explained why, would that make using a Deployment suitable / acceptable?

[2019-02-26 08:34] ClaudiaJKang commented on #12707
/close

[2019-02-26 08:34] #12707 closed

[2019-02-26 08:48] ClaudiaJKang opened #12843 "Update Korean localization guide"
**This is a...**

- [X] Feature Request
- [ ] Bug Report

**Problem:**
[docs/contribute/localization_ko.md](https://github.com/kubernetes/website/blob/dev-1.13-ko.7/content/ko/docs/contribute/localization_ko.md) need to update the under content.

- [x] **1. 문체 - 평어체** : 명령체를 청유형이나 평어체로 변경 권유 -> #12877

- [ ] **2. 번역체 - 생략 가능 주어** : 번역 시 한글 문장의 자연스러움을 위해서 you, your 등 주어에 대한 생략 가능 또는 권장

- [ ] **3.

[2019-02-26 08:49] ClaudiaJKang commented on #12843
/language ko

[2019-02-26 08:56] ClaudiaJKang opened #12844 "ko: Translate contribute/_index.md in Korean"
**This is a...**

- [X] Feature Request
- [ ] Bug Report

**Problem:**
[docs/contribute/_index.md](https://github.com/kubernetes/website/blob/dev-1.13-ko.7/content/ko/docs/contribute/_index.md) not translated to Korean.

**Proposed Solution:**
Translate [contribute/_index.md](https://github.com/kubernetes/website/blob/dev-1.13-ko.7/content/ko/docs/contribute/_index.md) in Korean.

**Page to Update

[2019-02-26 08:57] ClaudiaJKang commented on #12844
/language ko
/assign

[2019-02-26 11:52] cstoku commented on #10843
/close

[2019-02-26 11:52] #10843 closed

[2019-02-26 12:54] Adirio commented on #12785
In my opinion, leader election being false with a single replica is the right approach as the other way round would only mean additional overhead without any gain. In this case I don't see a Deployment fitting.

On the other hand if multiple replicas were to be deployed of the scheduler, leader election should be set to true. Leader election would mean the `Recreate` strategy argument is no longer

[2019-02-26 13:20] sftim opened #12852 "Broken link from https://kubernetes.io/docs/tasks/tools/install-minikube/"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
https://kubernetes.io/docs/tasks/tools/install-minikube/#linux links to a section

and that's a broken hyperlink.

**Proposed Solution:**
Replace the broken hyperlink with a set of install instructions, in tabs, per Linux distribution.
(Check approach with minikube project)

**Page to Update:**
https://kubernetes.io/docs/tasks/t

[2019-02-26 13:28] sftim commented on #12785
It sounds like we could decide between:
- illustrating using multiple schedulers, leaving aside topics such as HA so as to keep the page simple
   - and maybe signpost the reader to the HA topic for further reading
- demonstrating a recommended / good practise approach: multiple replicas for each controller type, leader elections, PodAntiAffinity, etc

and then tweak the document based on which ap

[2019-02-26 13:41] ClaudiaJKang commented on #12843
/assign

[2019-02-26 13:46] Adirio commented on #12785
I was sticking to the simple approach as that document is usually the starting point to extra-scheduler setups. In the simplest case a single instance with leader election disabled as it is now is enough. But with leader election turned off deployment's default rolling updates are dangerous and thats why I suggested to change to StatefulSet.

We could actually also add a comment at the end mention

[2019-02-26 14:03] cstoku commented on #10855
/close

[2019-02-26 14:03] #10855 closed

[2019-02-26 14:16] cstoku commented on #10857
/close

[2019-02-26 14:16] #10857 closed

[2019-02-26 14:26] lledru opened #12859 "Broken link on https://kubernetes.io/docs/setup/independent/ | EN doc"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
broken link on https://kubernetes.io/docs/setup/independent/kubelet-integration/#kubernetes-binaries-and-package-contents

**Proposed Solution:**
Missing braket or so

**Page to Update:**
https://kubernetes.io/...

[2019-02-26 14:27] lledru commented on #12859
/language en

[2019-02-26 14:27] lledru commented on #12859
/sig docs

[2019-02-26 15:07] inductor commented on #10854
@dzeyelid sup

[2019-02-26 15:47] dzeyelid commented on #10854
@inductor I'm sorry for a long time I can't respond to this. I'll do that this Saturday.

[2019-02-26 16:43] lledru opened #12861 "copy/paste problem in EN doc Setup Kubeadm"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
i think there was a copy / paste problem during writing

**Proposed Solution:**
If you see Pods in the RunContainerError, CrashLoopBackOff or Error state after deploying the network solution and nothing happens to coredns (or kube-dns), **it’s very likely that the Pod Network solution and nothing happens to the DNS server,** it

[2019-02-26 16:43] lledru commented on #12861
/language en
/sig docs

[2019-02-26 16:49] oussemos commented on #12827
Hey @ibrahimkais

I just tested, the tutorial worked fine for me, maybe you have missed some steps ?

[2019-02-26 16:51] oussemos commented on #12827
/priority awaiting-more-evidence

[2019-02-26 19:57] DanyC97 commented on #11362
@gulnadaf is this a problem with the docs? if so please provide all the information as per the github issue template.

[2019-02-26 20:14] DanyC97 commented on #12081
so i guess this issue is fixed hence can be closed now that 12409 is merged ?

[2019-02-26 20:15] DanyC97 commented on #11763
@juandiegopalomino you still on it ? if not let me know and i might have spare cycle to help

[2019-02-26 20:51] juandiegopalomino commented on #12081
I guess so?

[2019-02-26 20:52] juandiegopalomino commented on #11763
https://github.com/kubernetes/website/pull/12712

[2019-02-26 20:52] juandiegopalomino commented on #11763
@DanyC97 ^

[2019-02-26 21:16] oussemos commented on #12586
It looks like an issue created by mistake!
/close

[2019-02-26 21:16] #12586 closed

[2019-02-26 21:21] oussemos commented on #12769
/language it
/sig docs

[2019-02-26 21:35] oussemos commented on #12291
Fixed with #12292
/close

[2019-02-26 21:35] #12291 closed

[2019-02-26 21:44] desertmonkey commented on #11367
/remove-lifecycle stale

[2019-02-26 21:51] Bradamant3 commented on #12634
Heh, not an issue but an open PR because other folks have tried to address the issue also. See https://github.com/kubernetes/kubernetes/pull/66034. I made sure the bot wouldn't close it, or at least not for another while anyway.

@ojmhetar if you've got ideas for how to address beyond what folks have already attempted, sig-docs would most definitely appreciate it. And feel free to ping me on Slack

[2019-02-27 01:39] #12861 closed

[2019-02-27 10:42] DanyC97 commented on #11763
cool, thank you @juandiegopalomino . in which case i guess current issue can be closed ?

[2019-02-27 10:43] DanyC97 commented on #12081
@steveperry-53 you agree? if so you mind closing the issue ?

[2019-02-27 10:47] DanyC97 commented on #12852
are you planning to follow with minikube folks on their slack channel @sftim  ?

[2019-02-27 10:53] DanyC97 commented on #12405
@weibeld are you planning to put your proposed solution in a PR ?

_also thank you for revive this topic_

[2019-02-27 10:55] DanyC97 commented on #12681
sounds like it @sftim (i don't have the _power_ to close it)

[2019-02-27 11:16] sftim commented on #12852
On this one, I'm logging this more like a customer than a committer. I don't have plans to pick this task up as yet.

I do think it'd be a good idea to liaise with the minikube people before picking my proposed solution.

[2019-02-27 11:22] #12764 closed

[2019-02-27 12:26] okezieokpara opened #12880 "Issue with k8s.io/docs/setup/independent/install-kubeadm/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:** Having tried the steps written on this guide on various fresh machines, I am still unable to install kubeadm, kubelet and kubectl packages on ubuntu 16.04 xenial machine:
On runnning
`apt-get install -y kubelet kubeadm kubectl`
 I get the following output:
`Reading package lists... Done
Building dependency tree
Reading state in

[2019-02-27 12:40] kbhawkey commented on #12503
Closing this issue until further investigation.

[2019-02-27 12:40] #12503 closed

[2019-02-27 13:05] Madhav1217 opened #12881 "Issue with k8s.io/docs/tasks/run-application/run-stateless-application-deployment/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-02-27 14:01] juandiegopalomino commented on #11763
I believe so

[2019-02-27 15:56] 1manuel234 opened #12883 "Issue with k8s.io/docs/setup/release/building-from-source/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-02-27 15:56] #12883 closed

[2019-02-27 15:56] 1manuel234 commented on #12883
ok

[2019-02-27 16:15] cstoku commented on #10856
/close

[2019-02-27 16:15] #10856 closed

[2019-02-27 16:42] #12081 closed

[2019-02-27 17:06] weibeld commented on #12405
@DanyC97 if a PR is appreciated, then I can do it, yes 👍

[2019-02-27 19:44] #11763 closed

[2019-02-27 19:49] #12859 closed

[2019-02-27 19:52] neolit123 commented on #12880
the steps here work fine on 16.04:
https://kubernetes.io/docs/setup/independent/install-kubeadm/

also, we have automated tests that verify that installing the packages on 16.04 works

did you perform all of them:
[code]

/priority awaiting-more-evidence

[2019-02-28 04:07] cjagadis opened #12891 "Issue with k8s.io/docs/tutorials/hello-minikube/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
The Minikube dashboard does not work and not possible to continue after that.

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-02-28 06:51] okezieokpara commented on #12880
This won't work after many trials. Are there alternative ways to install? I could use that

[2019-02-28 08:28] DanyC97 commented on #12405
💯 is appreciated, we welcome everyone to come forward and help out

[2019-02-28 09:32] rshiva777 opened #12896 "Issue with k8s.io/docs/home/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-02-28 09:32] #12896 closed

[2019-02-28 12:10] sajlx opened #12897 "Issue with kube-proxy-pod not started on scale up"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
i have a massive scale up for create some job,
sometimes don't create kube-proxy pod on the new machine
often when the sum of resource requests by the job are near 100% of the node

thanks

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-02-28 13:48] MrAmbiG opened #12899 "Issue with k8s.io/docs/home/supported-doc-versions/"
**This is a feature request**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
Please do include a download option to download the documentation bundle in pdf and/or other formats.

**Proposed Solution:**
Most do like to read while they are mobile or on mobile or while in transit from work to home, home to work or point A to point B. Offline documents such as pdf lets you start from where you

[2019-02-28 15:33] neolit123 commented on #12880
something must be broken on the distro side for this not to work.
the message suggests that the kuberenetes repo was not added to the list of souces.

please try in a clean install of 16.04.

[2019-02-28 16:51] iamneha commented on #12739
hi @sftim as you mentioned separate commands from output will work and you updated the description as well.
I am opening this issue again #12779 and I had already done these changes in my PR.
It would be very helpful if you look into it.

[2019-02-28 17:13] hmcts-jmoore opened #12902 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
This page suddenly introduces 'Pod'.  No idea what that is.

**Proposed Solution:**
Define 'Pod' before talking about it.

**Page to Update:**
https://kubernetes.io/...

[2019-02-28 17:50] iamneha commented on #12739
@sftim @DanyC97 I followed PR #12793 , #12794 , and #12798
I noticed only `$` is removed from these PR and `Separate commands from output` is still not fixed

The pages that are partially fixed:
1. PR #12793
 Page fixed -  [content/en/docs/tasks/job/fine-parallel-processing-work-queue.md](https://kubernetes.io/docs/tasks/job/fine-parallel-processing-work-queue/)
2. PR #12794
 Page fixed -  [conten

[2019-02-28 18:41] okezieokpara commented on #12880
Thanks @neolit123 So I have been trying this on a Virtualbox VM with the following:
`DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=16.04
DISTRIB_CODENAME=xenial
DISTRIB_DESCRIPTION="Ubuntu 16.04.4 LTS"`

Now I tried it on a fresh AWS instance and it worked just fine:
`DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=16.04
DISTRIB_CODENAME=xenial
DISTRIB_DESCRIPTION="Ubuntu 16.04.5 LTS"`
I suppose this has something to do wi

[2019-02-28 19:04] neolit123 commented on #12880
i'm a VirtualBox VM user and i don't see this problem.
possibly try installing a fresh 16.04 instance?

[2019-02-28 21:25] DanyC97 commented on #12739
@iamneha you might have seen that i [went ahead](https://github.com/kubernetes/website/pull/12901) and updated all the pages to remove `$`

Once that is done i can either update the above PRs or vice-versa (rebase the PRs ).

At this point in time i think i need to rethink the strategy on how to fix everything i had in mind because the reality is:

a) there are fewer people with review/ approve pe

[2019-02-28 21:34] #9479 closed

[2019-02-28 22:33] DanyC97 commented on #6102
@mrbobbytables what is the url for site you mentioned above ?

[2019-02-28 22:35] #10391 closed

[2019-02-28 22:35] #10398 closed

[2019-02-28 23:49] erictune commented on #4135
Linking to this would be a good start:
https://book.kubebuilder.io/basics/what_is_a_controller.html

On Mon, Feb 18, 2019 at 2:50 PM Brad Topol <notifications@github.com> wrote:

[2019-03-01 03:08] sc750531323 opened #12916 "Issue with k8s.io/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
it's cumbersome to add many hostname and ip under the hostAliases,Is there any other choice?

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-03-01 04:46] hajerhajjajifahem24 opened #12918 "Issue with k8s.io/docs/tutorials/kubernetes-basics/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-03-01 12:30] sjentzsch opened #12922 "Issue with k8s.io/docs/concepts/policy/pod-security-policy/"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**
The PSP examples use both, `apiVersion: policy/v1beta1` and `apiVersion: extensions/v1beta1`.
As a user, I am confused which one to take.
I just ran into `RunAsGroup` not being available when using ``apiVersion: policy/v1beta1``.

**Proposed Solution:**
Either document upon the differences between both api versions or use just o

[2019-03-01 18:07] bswartz opened #12925 "Wrong string for raw block volumes"
**This is a...**
- [ ] Feature Request
- [X] Bug Report

**Problem:**
The documentation says that you should set `volumeMode` to `raw` for a raw block device. In reality you should set it to `block`.

**Proposed Solution:**
Change `raw` to `block`

**Page to Update:**
https://kubernetes.io/docs/concepts/storage/persistent-volumes/#persistent-volumes

[2019-03-01 19:55] craiglpeters commented on #12426
[Here is placeholder PR](https://github.com/kubernetes/website/pull/12929) for the changes to docs

[2019-03-01 22:57] okezieokpara commented on #12880
Thanks a lot, @neolit123. This issue has been resolved.
Turns out I was using a 32bit image. Sorry for the mixup

[2019-03-01 22:59] neolit123 commented on #12880
got it.
thanks for the reply.

/close

[2019-03-01 22:59] #12880 closed

[2019-03-02 09:08] #3850 closed

[2019-03-02 09:08] #10470 closed

[2019-03-02 10:24] moby04 opened #12942 "Issue with k8s.io/docs/tutorials/hello-minikube/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
I am trying to follow tutorial of Kubernetes but I am kinda lost on first steps when trying to use Katacoda... When I just try to open minikube dashboard I encounter error failed to open browser: exec: "xdg-open": executable file not found in $PATH and dashboard itself remains unavailable when I try to open it through host 1.

[2019-03-02 13:17] DanyC97 opened #12949 "Document how to delete users from kubectl config"
see https://github.com/kubernetes/kubectl/issues/396#issuecomment-440746456  add to
* kubectl cheatsheet
* https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/

[2019-03-02 13:17] DanyC97 commented on #12949
/assign danyc97

[2019-03-02 13:34] DanyC97 opened #12950 "Update the cluster validation step"
On [this](https://kubernetes.io/docs/setup/scratch/#running-validate-cluster) page the user doesn't have access to `validate-cluster.sh` .

We should replace it with other commands

[2019-03-02 13:35] DanyC97 commented on #12950
/assign danyc97

[2019-03-02 21:20] #10389 closed

[2019-03-02 21:20] #10394 closed

[2019-03-02 22:14] TomMD opened #12952 "Issue with k8s.io/docs/concepts/workloads/pods/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**

The "pod lifecycle" link at the bottom of the titled link (i.e. https://kubernetes.io/docs/concepts/workloads/pods/) is 404.

**Proposed Solution:**

Make it return HTTP 200...

**Page to Update:**
https://kubernetes.io/docs/concepts/workloads/pods/

[2019-03-02 22:21] #9288 closed

[2019-03-02 22:21] #10468 closed

[2019-03-02 22:21] #10469 closed

[2019-03-03 16:34] DanyC97 commented on #12090
i think we need to also understand when the deprecation of the generators is coming in - see https://stackoverflow.com/questions/52890718/kubectl-run-is-deprecated-looking-for-alternative

@soltysh any insights when this might be targeted ? maybe we can remove the entire section from the docs

[2019-03-03 17:41] kbarnard10 opened #12958 "Add Meta Tags for Twitter Images"
**This is a...**
- [X] Feature Request
- [ ] Bug Report

**Problem:**
Right now, there are no meta tags set for Twitter cards, meaning tweets from Kubernetes.io are displaying without images.

Example: https://twitter.com/kubernetesio/status/1095770261813690368

**Proposed Solution:**

Add:
<meta name="twitter:image" content="https://kubernetes.io/images/favicon.png" />

Details: https://developer

[2019-03-03 18:09] galenballew opened #12959 "Issue with k8s.io/docs/setup/release/building-from-source/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
I believe that the Markdown document _building-from-source.md_ is not being rendered properly on the webpage. I can view the document in version control and it has all of the contents, but nothing is showing on the page in my browser at https://kubernetes.io/docs/setup/release/building-from-source/

I've tested this with multip

[2019-03-04 06:12] kutuev opened #12962 "Issue with k8s.io/docs/tasks/debug-application-cluster/troubleshooting/"
**This is a...**

- [ ] Bug Report

**Problem:**

Hi. I have a problem related to Load Balancer. When cluster is deploying new rule is created (BUT not immediately, only next day). The rule details:

**description**:  "{"kubernetes.io/service-name":"default/nginx-ingress-lb", "kubernetes.io/service-ip":"34.76.86.28"}"

The problem:

Open for sourceRange ["0.0.0.0/0"] ports:[{"IPProtocol":"tcp","po

[2019-03-04 06:14] #12962 closed

[2019-03-04 09:25] jiyu93 opened #12964 "Issue with k8s.io/zh/docs/reference/kubectl/kubectl/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
messy code
![image](https://user-images.githubusercontent.com/12015576/53723506-e2ab1e00-3ea2-11e9-8ce6-20bfa3348360.png)

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-03-04 12:29] #12596 closed

[2019-03-04 12:33] seokho-son opened #12966 "Translate concepts/cluster-administration/federation.md in Korean"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
No concepts/cluster-administration/federation.md in Korean

**Proposed Solution:**
Translate concepts/cluster-administration/federation.md in Korean

**Page to Update:**
https://kubernetes.io/...

/language ko

[2019-03-04 15:49] hibikutek opened #12968 "Issue with k8s.io/docs/tutorials/hello-minikube/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Error when running `minikube dashboard`

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

Stacktrace:
$ minikube dashboard
-   Enabling dashboard ...
-   Verifying dashboard health ...
-   Launching proxy ...
-   Verifying proxy health ...
-   Opening http://127.0.0.1:36962/api/v1/namespaces/kube-system/se

[2019-03-04 22:27] letavia opened #12973 "Issue with k8s.io/docs/concepts/overview/working-with-objects/namespaces/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Failed to run `kubectl api-resources --namespaced=<true/false>`

**Proposed Solution:**
Please check if this command is still valid.
My kubernetes version:
Client: v1.10.7
Server: v1.11.7-gke.4

**Page to Update:**
https://kubernetes.io/...

[2019-03-05 02:45] tanaka-takayoshi opened #12975 "Add the clarification Policy rules are evaluated one by one from the begging of the lists"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
I couldn't find any statement about how rules are evaluated. As far as I tested, the rules seems to be evaluated one by one from the begging of the list.

**Proposed Solution:**
Could you add the description that the rules are evaluated one by one from the begging of the lists?

**Page to Update:**
https://kubernetes.io/docs/ta

[2019-03-05 04:46] yuripastushenko commented on #9585
/remove-lifecycle stale

[2019-03-05 05:13] Sai-Adarsh commented on #12823
I shall work on this, Any more pointers @balajismaniam @daminisatya ?

[2019-03-05 05:13] Sai-Adarsh commented on #12823
/assign @balajismaniam

[2019-03-05 05:44] Sai-Adarsh commented on #12823
/assign @daminisatya

[2019-03-05 05:48] daminisatya commented on #12823
@Sai-Adarsh Feel free to open a PR. We have a fix from @Abhik1998. I left some comments on his PR. If you can address those it would be great! Thank you ✨

[2019-03-05 05:48] daminisatya commented on #12823
https://github.com/kubernetes/website/pull/12842#discussion_r260169836

[2019-03-05 07:23] hpandeycodeit commented on #12973
@letavia Yes this command still works
Client version: 1.11.1
Server version: 1.11.5

[2019-03-05 07:35] DanyC97 commented on #11331
i think this can be closed ?

[2019-03-05 07:42] DanyC97 commented on #12554
/assign danyc97

[2019-03-05 12:02] pixelskyales opened #12980 "Issue with k8s.io/docs/setup/independent/install-kubeadm/"
**This is a...**

- [x] Feature Request
- [x] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-03-05 13:15] #12844 closed

[2019-03-05 13:15] #12830 closed

[2019-03-05 13:41] ClaudiaJKang opened #12983 "Outdated files in the dev-1.13-ko.8 branch"
**This is a...**
- [ ] Feature Request
- [ ] Bug Report

**Problem:**
Outdated files in the dev-1.13-ko.8 branch.

68 files in content/en are changed
19 files in content/ko are outdated

- [x]  [docs/concepts/architecture/master-node-communication.md](https://github.com/kubernetes/website/blob/dev-1.13-ko.8/content/ko/docs/concepts/architecture/master-node-communication.md) 1 file changed, 12 inse

[2019-03-05 13:41] ClaudiaJKang commented on #12983
/language ko

[2019-03-05 14:13] letavia commented on #12973
I upgraded the client version and it works now. Thanks!

[2019-03-05 14:42] diederichm opened #12985 "Issue with k8s.io/docs/setup/independent/create-cluster-kubeadm/"
calico/cni is not available on s390x architecture - though docs say so

**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
Docs say "Note that Calico works on amd64, arm64, ppc64le and s390x only."
but s390x is not present - and installation of calico fails with ImagePullBackOff

the docker manifest reveals that s390x is not included :

 docker manifest inspect  calico/cni
{

[2019-03-05 16:53] soltysh commented on #12090
Generator were deprecated in 1.12, so we'll need to wait to 1.15 at least to get that removed. We should update the docs but clearly state it's deprecated functionality. Also we need to fix code where needed.

[2019-03-05 18:48] DanyC97 commented on #12090
thank you for taking the time to respond.
I'll go over each of the generator and then post here which one works, which one doesn't and then update the docs.

[2019-03-05 19:01] neolit123 commented on #12980
/close
please reopen if there is an actual issue.

[2019-03-05 19:01] #12980 closed

[2019-03-05 19:06] rlenferink commented on #12964
/language zh

[2019-03-05 19:19] neolit123 commented on #12985
^ i've a sent PR to fix this.
thank you for noticing.

[2019-03-05 19:21] CSLLCUser opened #12990 "Issue with k8s.io/docs/tutorials/hello-minikube/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Launching minikube dashboard encountered the following error and unable to continue tutorial:
demo failed to open browser: exec: "xdg-open": executable file not found in $PATH

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/tutorials/hello-minikube/

Open a 'Web Preview' to render the response from a run

[2019-03-06 03:01] jixingwei opened #12996 "Issue with k8s.io/docs/tutorials/kubernetes-basics/expose/expose-interactive/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
without "kubectl proxy", the guides does not work

**Proposed Solution:**
add "kubectl proxy"

**Page to Update:**
https://kubernetes.io/...

[2019-03-06 04:37] cstoku commented on #10854
/close

[2019-03-06 04:37] #10854 closed

[2019-03-06 05:30] ClaudiaJKang opened #12999 "ko: Translate docs/setup/multiple-zones.md in Korean"
**This is a...**

- [X] Feature Request
- [ ] Bug Report

**Problem:**
[docs/setup/multiple-zones.md](https://github.com/kubernetes/website/blob/dev-1.13-ko.8/content/ko/docs/setup/multiple-zones.md) not translated to Korean.

**Proposed Solution:**
Translate [docs/setup/multiple-zones.md](https://github.com/kubernetes/website/blob/dev-1.13-ko.8/content/ko/docs/setup/multiple-zones.md) in Korean.

[2019-03-06 05:30] ClaudiaJKang commented on #12999
/language ko

[2019-03-06 07:13] sealenjy opened #13001 "Issue with k8s.io/zh/docs/home/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-03-06 14:54] DanyC97 commented on #11586
in the recent [minikube install](https://kubernetes.io/docs/tasks/tools/install-minikube/) it says _Install kubectl according to the instructions in [Install and Set Up kubectl](https://kubernetes.io/docs/tasks/tools/install-kubectl/)_ and as such i think we no longer have this issue hence candidate to be closed

[2019-03-06 15:24] etipton commented on #12942
+1

[2019-03-06 15:35] ClaudiaJKang commented on #12983
/close

[2019-03-06 15:35] #12983 closed

[2019-03-06 15:36] ClaudiaJKang commented on #11965
/close

[2019-03-06 15:36] #11965 closed

[2019-03-06 17:50] 2rs2ts commented on #7581
/remove-lifecycle stale

[2019-03-06 18:27] sftim commented on #12897
It sounds like this is a problem with a particular Kubernetes cluster. Is that right?
If the documentation is wrong, we'd like to know more so that we can propose changes to correct it.

[2019-03-06 18:27] sftim commented on #12881
Hi. Is there some improvement we should make to https://k8s.io/docs/tasks/run-application/run-stateless-application-deployment/?

[2019-03-06 20:47] jacasnoob opened #13010 "Issue with k8s.io/docs/tutorials/hello-minikube/"
**This is a...**

- [ ] Feature Request
- [ X] Bug Report

**Problem:**
I cannot see the hello world as described, I have an error following the instructions, when the first script ruins it gives me an error and I can never see the hello world ever. At one point the services listed ar missing the coredns and kube -dns from my terminal.

**Proposed Solution:**
I would love to see a solution, just l

[2019-03-07 09:31] #12739 closed

[2019-03-07 13:41] randomvariable opened #13017 ""Install Service Catalog using SC" is Google specific"
The page [Install Service Catalog using SC](https://kubernetes.io/docs/tasks/service-catalog/install-service-catalog-using-sc/) isn't clear up front that this tool is specific to Google Cloud.

**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
If naively following this document, you get quite far before realising the tool is geared around linking Google Projects to a Kubernete

[2019-03-07 15:25] GuyPaddock opened #13020 "Add a note about port forwarding to "Accessing services running on the cluster""
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**
This page doesn't mention that it is possible to forward local ports to a service via `kubectl port-forward`.

**Proposed Solution:**
This page should explain that port forwarding to services is possible, and then link to https://kubernetes.io/docs/tasks/access-application-cluster/port-forward-access-application-cluster/. This o

[2019-03-07 17:01] jayunit100 opened #13021 "Add Deprecation status info to k8s.io/docs/reference/access-authn-authz/abac/"
**This is a...**

- [ ] Feature Request
- [ x ] Bug Report

**Problem:**

The ABAC docs should mention that it is deprecated, if it is - or how it should be used - if it isn't.

**Proposed Solution:**

Add a sentence about deprecation to the ABAC doc page.

**Page to Update:**
https://kubernetes-io-vnext-staging.netlify.com/docs/reference/access-authn-authz/abac/

[2019-03-07 18:14] nfbullock opened #13022 "Clarification of init-container restart reasons"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
The language in this particular heading of the documentation is not easy understand.  particularly this point:

**Proposed Solution:**
An update to the PodSpec Init Container image would cause a restart of the entire pod.  Changes to the App Containers would not prompt a restart of the Init Container.

**Page to Update:**
https

[2019-03-07 18:16] #10528 closed

[2019-03-07 19:17] mauricegehin opened #13026 "Issue with k8s.io/docs/concepts/configuration/secret/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
formatting on the page is messed up halfway through, in the section titled
Consuming Secret Values from Volumes

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/concepts/configuration/secret/

[2019-03-07 21:54] #11761 closed

[2019-03-07 22:00] #12713 closed

[2019-03-07 22:00] ecout opened #13028 "Issue with k8s.io/docs/concepts/workloads/pods/pod/"
**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**
There is a kubernetes.io blog post linked directly from the kubernetes docs in multiple instances. The post is linking to expired/missing architectural diagram images. The post talks about Deployment best practices, which is relevant.

**Proposed Solution:**
Please either incorporate the best practices into the document or upd

[2019-03-07 23:58] #12985 closed

[2019-03-08 00:59] tnir opened #13031 "Update /ja/"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**

https://kubernetes.io/ja/ is not up-to-date. Especially past events appear on Japanese top page. In #12998 it was translated around Dec 2018.

**Proposed Solution:**

Follow updates.

**Page to Update:**
https://kubernetes.io/ja/

/language ja

[2019-03-08 01:00] tnir commented on #13031
/language ja
/assign @tnir

[2019-03-08 04:33] Cheng-Ian-Liu opened #13034 "Issue with k8s.io/docs/concepts/services-networking/service/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

There is a discrepancy in the documentation regarding multi-port support of Service Object. In the ""Defining a Service" section, it was mentioned that: "At the moment, you can only set a single port and protocol for a Service". However, in the later section of "Multi-Port Services", it shows Kubernetes supports multiple port

[2019-03-08 06:27] #10493 closed

[2019-03-08 07:09] #13031 closed

[2019-03-08 08:19] Erically opened #13035 "Issue with k8s.io/docs/setup/independent/high-availability/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
the page:
https://kubernetes.io/docs/setup/independent/high-availability/
the question:
is 192.168.0.200 the load balancer ip or one of the masters ip ?

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-03-08 08:32] diederichm commented on #12985
Guys, I dont understand why you dont build for s390 ?

[2019-03-08 09:42] The-Judge commented on #11586
/remove-lifecycle stale

[2019-03-08 09:42] The-Judge commented on #11586
I do not get how that is supposed to remove the issue I described.

[2019-03-08 10:23] oussemos commented on #13001
empty issue
/close

[2019-03-08 10:23] #13001 closed

[2019-03-08 10:59] Madhav1217 commented on #5876
hi Frds i tried kubernetes deployment through jenkins via terraform files i got this type of error please help me
04:42:20 * kubernetes_deployment.polaris-administration: Failed to create deployment: Post http://localhost/apis/apps/v1/namespaces/default/deployments: dial tcp [::1]:80: connect: connection refused

[2019-03-08 12:53] krichter722 opened #13036 "Improvement for k8s.io/docs/concepts/workloads/controllers/statefulset/"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**
Describing statefulness with an nginx service serving "Hello world!" dynamically or other static content is a bad choice because it's not stateful. It demonstrates the use of the configuration files, but provides no additional examples.

This seems to be widespread in the k8s docs and probably has a cause like sponsoring by Ngin

[2019-03-08 13:05] oliversalzburg opened #13038 "Issue with k8s.io/docs/concepts/configuration/overview/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**

**Proposed Solution:**
If you're not supposed to use them, why even mention them?

**Page to Update:**
https://kubernetes.io/docs/concepts/configuration/overview/

[2019-03-08 13:44] Sukhoversha commented on #12942
go with  `install xdg-utils` before `minikube dashboard`

[2019-03-08 14:32] neolit123 commented on #12985
hi @diederichm , i do not know. this is a question for the calico maintainers.

so you can create an issue in this repo and as the question:
https://github.com/projectcalico/cni-plugin

but search for `s390x`, reveals that the architecture is unstable:
https://github.com/projectcalico/cni-plugin/blob/a7af24a4e3cde1e16476925009b5d1f69b53495f/Makefile#L115-L118

[2019-03-08 15:39] #10477 closed

[2019-03-08 18:48] sftim commented on #13036
It sounds like https://kubernetes.io/docs/tasks/run-application/run-replicated-stateful-application/ is closer to what you had in mind.

If https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/ linked there, how close would that get us towards addressing this issue?

[2019-03-08 18:51] sftim commented on #13035
It looks like this page could use some tidying so it's clear to users and also a little more agnostic about Linux distribution, CNI etc.

[2019-03-08 19:52] neolit123 commented on #13035
it's the load balancer IP (but also called "controlPlaneEndpoint" in kubeadm terms).
the page is being updated for 1.14.

/close

[2019-03-08 19:52] #13035 closed

[2019-03-09 15:58] praseodym opened #13049 "Improve containerd instructions on k8s.io/docs/setup/cri/"
The CRI installation page has installation instructions for containerd 1.1.2 using a tarball. Recently, containerd has been added to the docker-ce apt repository as `containerd.io` because docker-ce itself also uses containerd since version 18.09.

This means the installation instructions can be improved by installing containerd from the apt repository.

**Page to Update:**
https://kubernetes.io/d

[2019-03-09 16:39] mcneiljt opened #13050 "Improvement for k8s.io/docs/concepts/workloads/pods/disruptions/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
Kubernetes documentation does not delineate what will happen to a pod in the event of an involuntary disruption. The disruption page focuses heavily on voluntary disruption mitigation. While the page does describe the differences between the two types of disruption, I was not able to determine if Kubernetes will reschedule disr

[2019-03-10 02:42] tgrigsby777 opened #13053 "Improvement for k8s.io/docs/getting-started-guides/ubuntu/local/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
The step of calling newgrp to create the lxd group is missing, and the entire process between installing kubernetes and successfully running juju bootstrap is missing.

**Proposed Solution:**
Please try running through the steps on a clean machine and verify that the description is complete and the steps actually work.

**Page

[2019-03-10 09:30] nikhita commented on #10226
/remove-lifecycle stale

[2019-03-10 11:04] moby04 opened #13057 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-pod-configmap/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
Unlike other tasks in documentation this site presents pod definitions but doesn't contain file urls for creation which makes following a bit frustrating/time consuming.

**Proposed Solution:**
Replace pod creation YAMLs with files available through public URL so that `kubectl create -f <URL> --edit` could be used.

**Page to U

[2019-03-10 17:12] clehene commented on #11645
/remove-lifecycle stale

[2019-03-10 18:43] leileijia commented on #13057
豆腐干夹具

[2019-03-10 20:27] #10588 closed

[2019-03-10 21:28] #10578 closed

[2019-03-10 22:51] suraj7171 opened #13061 "Issue with k8s.io/docs/home/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-03-10 23:07] DanyC97 commented on #13061
@suraj7171 you mind adding more details as to what the issue is ?

[2019-03-10 23:08] DanyC97 commented on #13057
/assign @DanyC97

[2019-03-10 23:10] DanyC97 commented on #13057
@moby04 thanks for raising it, i've already tagged it in https://github.com/kubernetes/website/issues/12740 , will work on it soon

[2019-03-10 23:18] DanyC97 commented on #10363
@Rajakavitha1 can you help out closing this issue as being fixed? thx

[2019-03-11 07:29] sueyaping opened #13069 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
Module 2 not working

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-03-11 07:52] leileijia commented on #6271
https://zh.wikipedia.org/wiki/Special:%E6%90%9C%E7%B4%A2?search=%E7%95%85%E6%8E%A5%E6%94%B6&sourceid=Mozilla-search

[2019-03-11 07:53] leileijia commented on #6271
Waktu untuk berubah jadi

[2019-03-11 11:42] #10577 closed

[2019-03-11 12:20] SimonHarrisonSH opened #13074 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-pod-configmap/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
The example yaml has the configMap data (e.g. for "game-special-key") italicized. This includes the pipe symbol, which, when italicized, looks very much like a forward-slash.

**Proposed Solution:**
Do not italicize the pipe.

**Page to Update:**
https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/

[2019-03-11 14:59] cstoku opened #13079 "Update k8s.io/ja/docs/concepts/overview/what-is-kubernetes/"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**

Outdated content `content/ja/docs/concepts/overview/what-is-kubernetes.md`.

[code]

**Proposed Solution:**

Update content `content/ja/docs/concepts/overview/what-is-kubernetes.md`.

For details, please execute the following command.

[code]

**Page to Update:**

https://kubernetes.io/ja/docs/concepts/overview/what-is-kubernet