[2021-04-01 15:34] sftim commented on #19081
This might be the wrong place to make a distinction about SIGs that work on features (I feel it is). Although different SIGs take different responsibilities, in the documentation we want to **hide** that level of detail from readers. To them, Kubernetes is a system that breaks down on other dimensions.

For example, you might think of all the many Kubernetes APIs in your cluster as a set&mdash;you

[2021-04-01 16:33] #24834 closed

[2021-04-01 19:28] sftim commented on #25837
https://kubernetes.io/docs/tutorials/stateless-application/guestbook-logs-metrics-with-elk/ is gone
should we close this?

[2021-04-01 22:36] JIIOryo commented on #26891
/assign

[2021-04-02 06:33] hopik007 opened #27381 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/"
" If the command returns a non-zero value, the kubelet kills the container and restarts it."

Mean k8s sent sigterm or sigkill ?
It is important to know.

Thanks you

[2021-04-02 09:49] #24864 closed

[2021-04-02 11:24] seokho-son commented on #27148
/close

[2021-04-02 11:24] #27148 closed

[2021-04-02 11:25] seokho-son commented on #27132
@jihoon-seo I found a way to resolve this. after some test I will make a PR. Thank you for the bug report!

[2021-04-02 11:27] seokho-son commented on #27147
dev-1.20-ko.7 은 작업이 완료되어 master에 머지되었습니다.

차기 브랜치  dev-1.21-ko.1 은 4월 8일 경(쿠버네티스 v1.21 릴리스 시점)에 생성될 예정이며,
그때까지는 잠시 한글화 작업 (리뷰 및 승인) 은 프리즈하도록 하겠습니다. ^^ (휴식 기간~)

[2021-04-02 11:28] seokho-son commented on #27280
https://github.com/kubernetes/website/issues/27147#issuecomment-812490553

[2021-04-02 11:28] seokho-son commented on #27307
https://github.com/kubernetes/website/issues/27147#issuecomment-812490553

[2021-04-02 12:18] #27002 closed

[2021-04-02 15:17] mbbroberg commented on #26202
The PR is in for this at https://github.com/kubernetes/website/pull/27369, so this issue is all set from the contrib comms POV. Go team 🎉

[2021-04-02 15:17] #26202 closed

[2021-04-02 15:28] shuuji3 commented on #27252
/close

[2021-04-02 15:28] #27252 closed

[2021-04-02 19:08] DanRoscigno commented on #25837
Hi @sftim I think it is gone because the page was not updated for 1.20.  I am happy to update it as I posted up 3 comments, but I think that we need to talk about it first.  Here are my concerns:
1) Someone suggested removing the page because they do not like the license Elastic is using.  I won't get into license discussions, but if anyone is worried about it I will get them in contact with the r

[2021-04-03 07:03] rounaksarda commented on #27368
Hello @RA489 elaborating the issue again:

open the link : https://kubernetes.io/docs/tutorials/hello-minikube/#open-dashboard-with-url
- The first command "minikube dashboard --url" will work fine.
- the second command "kubectl create deployment hello-node --image=k8s.gcr.io/echoserver:1.4" will give us the following error :
![Screenshot (607)](https://user-images.githubusercontent.com/36100122/1

[2021-04-03 10:26] sftim commented on #25837
The guide that was there used the terms “master” and “slave” - “slave” in particular is a term we're keen to avoid using. PR #26141 removed the ELK follow-up tutorial

If 3rd party software is necessary to use Kubernetes effectively, that's acceptable whatever the tool's licence. Kubernetes even works with Windows, possibly the world's most famous closed-source software product.

Prometheus is _no

[2021-04-03 11:02] sftim commented on #27381
/kind feature

@hopik007  it might be a while before we can document this. I think the truth is that the kubelet delegates container shutdown to the [container runtime](https://kubernetes.io/docs/setup/production-environment/container-runtimes/). On Windows nodes, the mechanism for forcing container shutdown doesn't use POSIX signals at all.

I think it is worth clarifying that the kubelet does no

[2021-04-03 11:05] sftim commented on #27368
The existing page links to https://minikube.sigs.k8s.io/docs/start/ which clearly explains two options for interacting using `kubectl`. Either you _install_ it, or you use the copy bundled into `minikube`.

I think the existing page is clear enough. On the first mention of running `kubectl` we could remind readers to go and read https://minikube.sigs.k8s.io/docs/start/ if kubectl doesn't seem to w

[2021-04-03 11:06] sftim commented on #27368
/language en

[2021-04-03 12:04] sftim commented on #25149
This feels relevant to discussion in #19081

[2021-04-03 12:11] sftim commented on #26823
Based on comments so far
/triage accepted
/priority backlog

[2021-04-03 12:12] sftim commented on #26823
We should move https://github.com/kubernetes-sigs/kind/blob/master/site/layouts/shortcodes/securitygoose.html into, or alongside, the [icons](https://github.com/kubernetes/community/tree/master/icons).

[2021-04-03 15:47] sftim commented on #3938
/kind feature

[2021-04-03 15:47] sftim commented on #9430
/kind feature

[2021-04-03 15:47] sftim commented on #8808
/kind feature

[2021-04-03 15:47] sftim commented on #7091
/kind feature

[2021-04-03 15:47] sftim commented on #4657
/kind feature

[2021-04-03 15:48] sftim commented on #20814
Duplicate of #4657

[2021-04-03 16:17] sftim commented on #23889
/priority important-longterm

[2021-04-03 16:50] sftim opened #27394 "CronJob concept implies that CronJob can schedule one-shot tasks for a specific future date"
**This is a Bug Report**

**Problem:**
The [CronJob](https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/) concept page mentions:

This sounds like [`at`](https://pubs.opengroup.org/onlinepubs/9699919799/utilities/at.html), which can schedule one-shot tasks for a specific future date / datetime; however, that page strongly implies that CronJob does not in fact provide “run exactly

[2021-04-03 16:50] sftim commented on #27394
@kubernetes/sig-apps-misc could you confirm this and /triage accepted if you agree?

[2021-04-03 16:53] sftim commented on #27394
I logged this after adding feedback for the v1.21 release announcement: https://github.com/kubernetes/website/pull/27233#discussion_r606685195

[2021-04-03 19:22] #24888 closed

[2021-04-03 21:09] DanRoscigno commented on #25837
Thanks Tim.  I will come up with a suggestion that agrees with the detail above.  I totally get the master / slave issue, I will take a look at the current Redis containers and see what they say.  Linking to docs at Elastic, Prometheus, and Fluent sites would be best, it reduces the load and the material will likely be kept up to date over there.

[2021-04-04 10:34] shuuji3 opened #27398 "Remove the link to the unused page in the side menu"
**This is a Bug Report**

**Problem:**
In the left side menu, there is a link "検索結果" ("search result" in English), but this link shows a page that has no meaning.

**Screenshot:**
<img width="798" alt="Screen Shot 2021-04-04 at 16 57 01" src="https://user-images.githubusercontent.com/1425259/113506175-3c004280-957e-11eb-8baf-45d2c6993ac7.png">

**Proposed Solution:**
Remove the link. For that purp

[2021-04-04 10:37] #24898 closed

[2021-04-04 11:19] gyunnkim opened #27400 "Translate tasks/access-application-cluster/list-all-running-container-images in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/access-application-cluster/list-all-running-container-images in Korean

**Why is this needed**
Not translated yet

**Comments**

[2021-04-04 11:20] gyunnkim commented on #27400
/language ko
/assign

[2021-04-04 13:59] rounaksarda commented on #27368
@sftim ,  totally respecting to what you are saying but I was saying if you are telling to run the minikube(maybe for practice), the command should be written with respect to minikube. Right? As if you see the link[https://kubernetes.io/docs/tutorials/hello-minikube/#open-dashboard-with-url] , it is for minikube.

[2021-04-04 17:12] henryfoster opened #27405 "Interactive Tutorial - Creating a Cluster"
The interactive terminal shows an error
[code]

edit after some reconnects:

[code]

[2021-04-04 18:45] #24901 closed

[2021-04-04 18:50] sdwerwed commented on #24750
Closed as #27128 is merged

[2021-04-04 18:50] #24750 closed

[2021-04-04 19:35] yichuan66 commented on #27269
There is a typo in the section below:

**HTTP
如果你的云提供商支持它，则可以在 LoadBalancer 模式下使用服务来设置外部 HTTP/HTTPS 反向代理，并将其转发到该服务的 Endpoints。

说明： 你还可以使用 _Ingres 代替 Service_ 来公开 HTTP/HTTPS 服务。**

Ingres -> Ingress

[2021-04-05 02:53] #23051 closed

[2021-04-05 06:58] #26765 closed

[2021-04-05 07:07] dplacinta opened #27407 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
The terminal window has an error:
[code]

[2021-04-05 08:34] hot3eed commented on #26836
@RA489 Yes, the links are good now.

[2021-04-05 08:34] #26836 closed

[2021-04-05 12:44] sftim commented on #27269
/language zh
/kind bug

/triage accepted
/help

[2021-04-05 12:59] sftim commented on #26797
PR: https://github.com/kubernetes/test-infra/pull/21652

[2021-04-05 12:59] sftim commented on #26797
/assign

[2021-04-05 14:04] #24925 closed

[2021-04-05 14:34] sftim opened #27409 "Mention Addon Resizer in “Considerations For Large Clusters”"
**This is a Feature Request**

**What would you like to be added**
Revise https://kubernetes.io/docs/setup/best-practices/cluster-large/ to mention the [addon resizer](https://github.com/kubernetes/autoscaler/tree/master/addon-resizer)

**Why is this needed**
You might not need need to manually resize addons as your cluster's scale changes: instead, you can let automation take care of that for you

[2021-04-05 14:34] sftim commented on #27409
If we add this, I would mention it in the “What's next” section, as a hyperlink.

[2021-04-05 14:43] sftim opened #27410 "Fix wording for “Install and Set Up kubectl” pages"
**This is a Bug Report**

**Problem:**
There are a couple of issues with existing wording:

1. “master” should be read “control plane”
2. Those versions aren't current.

**Proposed Solution:**
Replace that text with:

**Page to Update:**

- https://kubernetes.io/docs/tasks/tools/install-kubectl-linux/
- https://kubernetes.io/docs/tasks/tools/install-kubectl-macos/
- https://kubernetes.io/docs/task

[2021-04-05 14:45] sftim commented on #27410
/help

If you're picking this up and want to be extra neat, replace those specific version numbers with shortcodes that automatically fill in based on the current release; for example:
[code]

[2021-04-05 15:54] sftim commented on #26921
If #27408 merges, we can additionally configure `blockades` (a [Prow plugin](https://prow.k8s.io/plugins)) to restrict who is able to change the original `i18n` directory.

[2021-04-05 16:26] sftim commented on #27253
BTW, this might be a Docsy bug (and be best fixed [upstream](https://github.com/google/docsy/)).

[2021-04-05 19:28] sftim opened #27420 "Migrate existing Structured Logging topic to https://k8s.dev/"
**What would you like to be migrated**
- Add a page inside https://k8s.dev/ to contain the current content of https://kubernetes.io/docs/concepts/cluster-administration/system-logs/#structured-logging
- Replace the existing https://kubernetes.io/docs/concepts/cluster-administration/system-logs/#structured-logging content with new documentation aimed at system administrators. For example, explain h

[2021-04-06 02:02] s-ito-ts commented on #26873
/assign

[2021-04-06 04:07] s-ito-ts commented on #26873
@inductor

The diff is changing single quote (using ASCII single quote) and removing extra blank characters.
These are not included in the Japanese text.
The Japanese text is the same content as the original text.
So I think we can close this issue.

[2021-04-06 04:18] inductor commented on #26873
@s-ito-ts thanks

[2021-04-06 04:18] inductor commented on #26873
/close

[2021-04-06 04:18] #26873 closed

[2021-04-06 07:13] Kartik494 commented on #27410
/assign

[2021-04-06 10:23] #24931 closed

[2021-04-06 11:09] tomkivlin commented on #19081
It could be argued that evictions are a disruption (i.e. the application hosted by a lower priority pod that is evicted, is disrupted).

I like this idea, however I think the linked concepts of disruptions, scheduling, preemption, eviction, platform maintenance, etc. are already (mostly) separated in the concepts structure.  So rather than trying to fit evictions into a "scheduling & eviction" sec

[2021-04-06 11:15] sftim commented on #19081
We do have https://kubernetes.io/docs/concepts/architecture/nodes/

I did notice that https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/ currently says:

What I infer from that is that pre-emption and eviction are similar, and that we should take care to let readers know that when they look deep enough they will find that the two terms refer to specific and different things

[2021-04-06 12:34] adambkaplan commented on #19081
then we can describe in this section the concept of eviction, and hyperlink to sections in other concept pages (eg NodeAllocatable, Pod, graceful node shutdown) etc that are relevant to eviction.

I agree with this because for preemption and eviction, the end user experience is the same (my pod is not running any more). The _why_ and _what_ are what distinguishes the two.

It seems we have used "e

[2021-04-06 13:26] #24946 closed

[2021-04-06 13:35] shuuji3 commented on #27253
Thanks for pointing it out. That's right! I confirmed to be able to reproduce the same issue on the official Docsy page.

[2021-04-06 13:41] alculquicondor commented on #19081
No. The scheduler just issues a DELETE. Not sure what kubelet does.

/sig node

[2021-04-06 16:24] a-mccarthy commented on #27360
I did some more thinking on how to set this up.

This [support article](https://support.google.com/datastudio/answer/7459147?hl=en) had a bunch of info on sharing
* you can share google data studio reports with anyone to view, no google account required.
* If you want edit access then you must have a google account (not necessarily a google email, but a google account).
* You can also share report

[2021-04-06 18:52] sftim commented on #27407
/label team/katacoda

[2021-04-06 20:39] geoffcline opened #27439 "replace "hostPath" examples with "local" examples"
**This is a Feature Request**

**What would you like to be added**

Replace "hostPath" examples with "local" examples.

**Why is this needed**

This is a better practice for production, in terms of security and portability.

**Comments**

Change the volumes page specifically. content/en/docs/concepts/storage/volumes.md

[2021-04-06 20:51] sftim commented on #27407
/label team/katacoda

[2021-04-06 20:51] sftim commented on #26774
/label team/katacoda

[2021-04-06 20:52] sftim commented on #26909
/label team/katacoda

[2021-04-06 20:53] sftim commented on #25328
/remove-lifecycle rotten

[2021-04-06 20:55] sftim commented on #26295
Hi @tsoy

We weren't confident we'd understood which bit of the page was confusing you. Would you have a moment to explain a bit more?

[2021-04-06 20:55] sftim commented on #26199
https://github.com/kubernetes/website/issues/26199#issuecomment-801716134 seems like a reasonable fix to me!

[2021-04-06 20:56] sftim commented on #25471
@menokian please feel free to explain a bit more what you meant

For now, I'll close this.
/close

[2021-04-06 20:56] #25471 closed

[2021-04-06 21:13] sftim commented on #27439
/sig storage
I guess

[2021-04-06 21:14] sftim commented on #27439
BTW the page @geoffcline wants to update is https://kubernetes.io/docs/concepts/storage/volumes/

[2021-04-06 21:17] sftim commented on #27439
@geoffcline could you explain a bit more about the change someone should make if they start work on this issue? I think I have an idea, but not everyone will have the same amount of context.

[2021-04-06 21:18] sftim commented on #27405
@BenHall I suspect this is fixed; anyway, FYI.

[2021-04-06 21:56] Huang-Wei commented on #19081
I agree with @alculquicondor on the concern of using "eviction" along with scheduling. As Aldo explained, "eviction" is more used and implemented in kubelet to delete a Pod when the resource usage exceeds a Node's limitation (usually accompanied with an error such as OOM), and IIRC, this error can be explicitly observed by `k describe pod` or `k get pod -o wide` - there is an `Evicted` status.

In

[2021-04-06 22:02] a-mccarthy commented on #27360
@jimangel in the community call today you mentioned an sig docs email address that we might be able to use for this. Are you able to test seeing if you can get into data studio, i think you need have a [google account associated to the email](https://support.google.com/accounts/answer/176347) (if it doesn't have one already) and then try to go to [google data studio](https://datastudio.google.com/

[2021-04-06 22:49] kbhawkey commented on #25119
/remove-lifecycle stale

[2021-04-06 23:09] kbhawkey commented on #27398
/triage accepted

[2021-04-07 05:09] reylejano commented on #26084
Hi @inductor @MaxymVlasov @raelga @mfilocha @girikuncoro @fabriziopandini @remyleone @seokho-son and other localization leads. We are still on track for the 1.21 release on April 8, 2021. We will freeze the k/website repo on April 7. Here are additional steps that the release docs team will conduct for the release:

April 7 (day before release)
- Update Netlify (assistance from a SIG Docs chair)
-

[2021-04-07 06:47] mason-liu opened #27440 "Extending Kubernetes"
Images which are located in docs.google.com are blocked by enterprise firewall, any plan to move the images to other places such as https://kubernetes.io/docs/?

[2021-04-07 07:52] CaoDonghui123 commented on #26672
/close

[2021-04-07 08:01] tengqm commented on #26672
/close

[2021-04-07 08:01] #26672 closed

[2021-04-07 08:01] #27269 closed

[2021-04-07 08:30] tomkivlin commented on #19081
@Huang-Wei I like your suggestion, it's clean.  Re.

Do you think the additions I've started in #26916 would suffice for that?

[2021-04-07 08:32] sftim commented on #19081
Should we keep this issue for reference and open a new issue about the rename from _Scheduling and Eviction_ to _Scheduling and Preemption_?
(I would)

[2021-04-07 08:59] #27342 closed

[2021-04-07 09:53] troub1emaker0911 opened #27444 "中文官方文档中client.cert存在重复，应该有一个为client.key"
中文官方文档地址：https://kubernetes.io/zh/docs/tasks/administer-cluster/configure-upgrade-etcd/

说明：
在该文档的"**安全的 etcd 集群**"部分，两个都写成client.cert了。

**原文**为" 例如，使用密钥对 peer.key 和 peer.cert 来保护 etcd 成员之间的通信，而 **client.cert** 和 client.cert 用于保护 etcd 与其客户端之间的通信。"。

应该是：" 例如，使用密钥对 peer.key 和 peer.cert 来保护 etcd 成员之间的通信，而 **client.key**和 client.cert 用于保护 etcd 与其客户端之间的通信。"

[2021-04-07 10:45] sftim commented on #27440
Hi @mason-liu

Can you identify the images that are blocked? For example, mention the URL of the documentation page that uses those images.

[2021-04-07 10:46] sftim commented on #27444
@troub1emaker0911, GitHub is not the right place for support requests.

If you're looking for help, oyu could ask on [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum. There are other support venues with contributions from the wid

[2021-04-07 10:49] sftim commented on #24080
@dheerujava as we haven't heard from you, I'm going to close this
/remove-lifecycle rotten
/close

[2021-04-07 10:55] tengqm commented on #27444
/triage accepted
/kind bug

[2021-04-07 10:55] tengqm commented on #27444
/remove-kind support

[2021-04-07 11:07] mason-liu commented on #27440
This page, https://kubernetes.io/docs/concepts/extend-kubernetes/, all images all blocked, such as https://docs.google.com/drawings/d/e/2PACX-1vQBRWyXLVUlQPlp7BvxvV9S1mxyXSM6rAc_cbLANvKlu6kCCf-kGTporTMIeG5GZtUdxXz1xowN7RmL/pub?w=960&h=720

[2021-04-07 11:25] sftim commented on #27440
This will affect all users behind a state-level censoring filter that blocks Google Docs.
/kind cleanup
/triage accepted
/language en

[2021-04-07 11:48] schollii commented on #25921
/remove-lifecycle stale

Pretty sure I saw a PR about this

[2021-04-07 11:58] tengqm commented on #27440
/assign

[2021-04-07 12:07] rikatz opened #27446 "[pt-br] Update the community pages to reflect the english version / Atualizar a página de comunidades para refletir a versão em Inglês"
Community pages in portuguese is outdated. We need to update it to reflect the layout and the text from english version

A página de comunidades (content/pt-br/community) está desatualizada, em relação à página em Português, faltando imagens, o layout adequado, etc.

/good-first-issue
/help
/language pt

[2021-04-07 12:08] rikatz commented on #27446
/triage accepted

[2021-04-07 12:56] sftim commented on #27444
Thanks @tengqm

[2021-04-07 13:00] sftim commented on #27444
/language zh

[2021-04-07 13:00] sftim commented on #27444
/priority backlog

[2021-04-07 13:53] jailton commented on #27446
/assign

[2021-04-07 14:27] damemi commented on #19081
I mentioned this offline, but for reference here too I agree with the other sig-scheduling folks that eviction and preemption are different concepts, and that eviction is not related to scheduling. However, I would say the exception to the rule here is in the Descheduler which relies entirely on a combination of pseudo-scheduling logic and eviction.

So making a hard delineation of scheduling/evic

[2021-04-07 16:00] pietervincken commented on #26416
Note that the information on the page is outdated as well. Kompose up and down were removed in the latest version.

[2021-04-07 16:25] ehashman commented on #27420
/area logging
/triage accepted
/cc @serathius

[2021-04-07 19:36] DanielW10001 opened #27449 "Wrong URI in PSGallery Installation Script"
**Problem:**

PSGallery Installation Script `install-kubectl.ps1` Line 29:
[code]
Should Be:
[code]
Because download link to kubectl.exe is no longer at the previous page.

Related Issue:   https://github.com/kubernetes/website/issues/26956, https://github.com/kubernetes/website/issues/27179

**What happened**:

[code]

**What you expected to happen**:

[code]

**How to reproduce it (as minimally

[2021-04-07 19:37] DanielW10001 commented on #26956
Change Installation Script `install-kubectl.ps1` Line 29:
[code]
To:
[code]
Would resolve this issue.
Because download link to kubectl.exe is no longer at the previous page.

[2021-04-07 19:37] DanielW10001 commented on #27179
Change Installation Script `install-kubectl.ps1` Line 29:
[code]
To:
[code]
Would resolve this issue.
Because download link to kubectl.exe is no longer at the previous page.

[2021-04-07 20:09] Huang-Wei commented on #19081
@tomkivlin Most of the rewording look great. Except for one nit: for now, the following stanza is categorized under "Eviction due to resource constraints" section:

_> Preemption, which as the name suggests is the preemptive eviction of one or more pods to allow for the scheduling of a higher-priority pod and the avoidance of the resource starvation._

It'd make more sense if we put it in a new se

[2021-04-07 21:30] reylejano opened #27450 "Freeze k/website for Kubernetes 1.21 release"
This issue is for freezing the k/website for the Kubernetes 1.21 release.

The release is scheduled to happen tomorrow (April 8) and No PRs are allowed to merge until the release PR has successfully merged.

If there are any questions, please contact me or anyone from the docs release team

cc:  @mvortizr @tengqm @PI-Victor @ChandaniM123

/sig release
/label tide/merge-blocker

[2021-04-07 21:30] reylejano commented on #27450
/triage accepted

[2021-04-08 00:52] gabrielcmarinho commented on #13939
That's great! @femrtnz! @jhonmike, @devlware starting translating [pod lifecycle](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/workloads/pods/pod-lifecycle.md) page. By the way, I just already updated the spreadsheet.

[2021-04-08 01:15] rikatz commented on #26084
@reylejano you can assign me for the Portuguese localization

[2021-04-08 02:38] guitarrapc opened #27457 "Improvement for k8s.io/ja/docs/concepts/services-networking/ingress/"
Ingress api version is still `apiVersion: networking.k8s.io/v1beta1`, while other langs are already `apiVersion: networking.k8s.io/v1`.

Old api version are on ...

* JP
* Indonesian

[2021-04-08 03:50] yu-kasuya commented on #26871
/assign

[2021-04-08 05:10] notjames opened #27458 "Client Libraries"
They `ruby-k8sclient` library is mildly defunct now

The following project: https://github.com/k8s-ruby/k8s-ruby/ has been forked and is meant to replace the former per https://github.com/kontena/k8s-client/issues/172

Please update the documentation

[2021-04-08 06:04] #24937 closed

[2021-04-08 07:45] jerinrathnam opened #27461 "Interactive Tutorial - Creating a Cluster"
in the interactive tutorial, the terminal does not open foer me. There is showing some error like "Environment not starting Properly".

[2021-04-08 07:46] #27461 closed

[2021-04-08 10:15] fabriziopandini commented on #20955
/remove-lifecycle stale

[2021-04-08 10:15] fabriziopandini commented on #20961
/remove-lifecycle stale

[2021-04-08 12:46] wkgcass opened #27463 "ClientConnectionConfiguration is not linked to anywhere in kube-proxy Configuration (v1alpha1)"
[https://kubernetes.io/docs/reference/config-api/kube-proxy-config.v1alpha1/](https://kubernetes.io/docs/reference/config-api/kube-proxy-config.v1alpha1/)
`ClientConnectionConfiguration` links to `#ClientConnectionConfiguration` in the `KubeProxyConfiguration` table, but `#ClientConnectionConfiguration` does not exist.
Probably it should be linked to another page?

[2021-04-08 13:12] tengqm commented on #27463
/triage accepted
/kind bug
/assign

[2021-04-08 13:20] sftim commented on #27458
Thanks for the suggestion @notjames

I think we'd be happy to link to an extra project. I'm more wary of removing a project from the list because someone has forked it. If https://github.com/kontena/k8s-client were marked as archived, it'd be easy to agree with the removal. If not, well, maybe we should leave it in and let the reader decide.

[2021-04-08 13:21] sftim commented on #27457
/language ja

@guitarrapc would you be willing to file a second issue about updating the bahasa Indonsia localization of the Ingress topic?

[2021-04-08 13:43] shuuji3 commented on #27457
Thanks for filing the issue. This should be fixed by PR #27328 in the near future.

[2021-04-08 13:54] sftim commented on #26890
Duplicated by issue #27457

[2021-04-08 13:54] sftim commented on #27457
@shuuji3 I'm going to infer:
/triage duplicate

[2021-04-08 14:26] guitarrapc opened #27465 "Improvement for k8s.io/id/docs/concepts/services-networking/ingress/"
Ingress api version is still apiVersion: networking.k8s.io/v1beta1, while other langs are already apiVersion: networking.k8s.io/v1.

Old api version are on ...

* Indonesian

[2021-04-08 14:27] guitarrapc commented on #27457
@sftim sure, I've made an issue for Indonesia lang.

[2021-04-08 16:57] eddiezane commented on #27179
Let's track this at https://github.com/kubernetes/website/issues/26956

/close

[2021-04-08 16:57] #27179 closed

[2021-04-08 16:59] eddiezane commented on #27449
Let's track this at https://github.com/kubernetes/website/issues/26956

/close

[2021-04-08 17:04] eddiezane commented on #26956
Package managers are considered out of scope as the Kubernetes org just provides binaries and relies on the community to handle distribution past that.

If the documentation here is out of date I think we should remove it to avoid confusion.

If someone fixes or creates a new installation script for PSGallery we could easily add it back.

@sftim I can open a PR - thoughts?

[2021-04-08 17:15] eddiezane commented on #26956
It looks like the [current PSGallery script](https://www.powershellgallery.com/packages/install-kubectl/1.7/Content/install-kubectl.ps1) was just grabbing a link with `kubectl.exe` from the docs. Definitely not a reliable way to handle installation.

If anyone wants to make a new script it should rely on something like https://downloadkubernetes.com/ or rely on https://storage.googleapis.com/kuber

[2021-04-08 17:55] bahaa161 opened #27468 "Issue with k8s.io/docs/tasks/debug-application-cluster/events-stackdriver/"
**This is a Bug Report**

**Problem:**
The Stackdriver instructions on querying for events are outdated.
As of now, the resource gke_cluster is deprecated, so these logs will show up under different resource types:
-  k8s_cluster
-  k8s_pod
-  k8s_node

**Proposed Solution:**
Update the page's "User Guide" section to use this filter instead:
[code]

**Page to Update:**
https://kubernetes.io/docs/t

[2021-04-08 19:08] #26589 closed

[2021-04-08 19:08] reylejano commented on #27450
1.21 has been release. The 1.21 Integration Branch has merged with `master`,  1.21 release blog post is live, and the appropriate git tags were created
Closing issue

[2021-04-08 19:08] #27450 closed

[2021-04-08 19:10] #26681 closed

[2021-04-08 19:19] reylejano commented on #26084
Hi @inductor @MaxymVlasov @raelga @mfilocha @girikuncoro @fabriziopandini @remyleone @seokho-son @rikatz and other localization leads.
1.21.0 has been released, the k/website 1.21 Integration Branch has merged and the 1.21 release blog is live.
The k/website repo is no longer frozen
Thank you all for your contributions
Closing issue

[2021-04-08 19:19] #26084 closed

[2021-04-08 19:35] sftim commented on #26956
:+1:
If, later, there's a replacement script, it'd be even better for that tool to live in-project. Inside https://github.com/kubernetes-sigs/ perhaps?

[2021-04-08 19:39] sftim commented on #27465
/language id
/kind cleanup

[2021-04-08 19:57] reylejano commented on #20232
/remove-lifecycle stale

I'll move this issue to the 1.22 milestone when the milestone is created

[2021-04-08 19:59] reylejano commented on #20232
/milestone 1.22

[2021-04-08 20:07] chalin opened #27470 "Selecting version 1.20 results in "site can’t be reached" for docs and blog"
1. Visit https://kubernetes.io/blog/, for example.
 2. Select **1.20** from the **Versions** menu in the top nav.
     That entry links to https://v1-20.kubernetes.io/blog/

The result is:

Indeed, the URL should be https://v1-20.docs.kubernetes.io/blog/

cc @zacharysarah @nate-double-u

[2021-04-08 20:29] sftim commented on #27468
@bahaa161 https://kubernetes.io/docs/tasks/debug-application-cluster/events-stackdriver doesn't exist. We removed it in PR #24769 which merged in February.

[2021-04-08 20:30] sftim commented on #27468
/triage not-reproducible
/language en

[2021-04-08 20:31] sftim commented on #27470
/kind bug
/priority important-soon
/triage accepted

[2021-04-08 20:33] reylejano commented on #27470
PR https://github.com/kubernetes/website/pull/27474/ fixes this issue

[2021-04-08 20:54] BahmaniAlireza opened #27475 "List All Container Images Running in a Cluster"
Hi,

I've tested this example :
[code]

It returns image names double, because "{..image}" recursively search in the output of JSON, So at the first, it will find the "image" word in "spec.containers.image" and at the second time, it will find the "image" word in "containerStatuses.image".
It means you will see the image name two times for each pod at least.

Please change your example.

Best Rega

[2021-04-08 21:07] sftim opened #27476 "https://v1-20.docs.kubernetes.io/ has wrong text for link to v1.21 docs"
**This is a Bug Report**

**Problem:**On https://v1-20.docs.kubernetes.io/ there is a link to the current docs (v1.21); however the link text is “v1.20”

**Proposed Solution:**
Fix the link text (branch _release-1.20_)https://v1-20.docs.kubernetes.io/
**Page to Update:**
https://kubernetes.io/...

**Kubernetes Version:**
/priority important-soon

[2021-04-08 21:09] sftim commented on #27476
Also wrong in https://v1-20.docs.kubernetes.io/docs/home/supported-doc-versions/ BTW (same fix: `config.toml` isn't quite right)

[2021-04-08 21:09] sftim commented on #27470
Fixed in #27474
/close

[2021-04-08 21:14] sftim commented on #27409
Possibly relevant to PR #27466

[2021-04-08 21:54] reylejano commented on #27476
/triage accepted

[2021-04-08 21:55] reylejano commented on #27476
PR https://github.com/kubernetes/website/pull/27477 fixes this bug

[2021-04-09 00:22] #14639 closed

[2021-04-09 05:08] #27145 closed

[2021-04-09 08:21] sftim commented on #27476
/close

[2021-04-09 08:30] sftim commented on #27475
Hi @BahmaniAlireza

What's the URL of the page where you've seen a problem?

[2021-04-09 08:44] zhiguo-lu opened #27483 "[zh] translate "tasks/Install and Set Up kubectl on Windows""
** This is a Feature Request **
translate content/docs/tasks/tools/install-kubectl-windows.md into Chinese

** What would you like to be added **
content/zh/docs/tasks/tools/install-kubectl-windows.md

/assign
/language zh

[2021-04-09 09:00] chainhead opened #27484 "Assign CPU Resources to Containers and Pods"
Where can we get details of `vish/stress` image as referred to in examples on this page?

[2021-04-09 10:55] sftim commented on #27484
That's https://hub.docker.com/r/vish/stress/

Perhaps we should use a container image based on https://kernel.ubuntu.com/~cking/stress-ng/ instead? See https://github.com/ColinIanKing/stress-ng for source code, or look for another container image with clearly reputable provenance.

[2021-04-09 15:46] davehouser1 commented on #21715
Can we reopen this. This is still a issue.
zookeeper will not resolve DNS properly following the sites instructions.
This link states that zookeeper starts listening on 127.0.0.1 and causes the resolution problem. Can you confirm?
No requirements are given on the site re: OS version, kernel version, docker version, etc. Currently running ubuntu 18.04 and getting this problem.

https://stackoverflo

[2021-04-09 15:57] sftim commented on #26016
@sanjups84 we're not sure what's wrong with the existing page - would you be willing to explain what needs fixing?

[2021-04-09 16:44] seokho-son opened #27489 "Korean Localization for dev-1.21-ko.1 branch"
## In English

**This is a Feature Request**

Korean Localization for `dev-1.21-ko.1` branch.

**What would you like to be added**

Any localization contributions for Korean.

**Comments**

- This issue is to notify the schedule of Korean localization to contributors.
- `dev-1.21-ko.1` is the current work branch for Korean localization.
- Korean PR Wrangler: @seokho-son

**Important dates**
- A Ko

[2021-04-09 16:48] seokho-son opened #27490 "Outdated files in the dev-1.21-ko.1 branch"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.21-ko.1 branch.

### 96 files to be modified
1. [ ] M1.  `content/en/docs/concepts/architecture/cloud-controller.md`  | 2(+XS) 0(-)
1. [x] M2.  `content/en/docs/concepts/architecture/control-plane-node-communication.md`  | 6(+XS) 6(-)
1. [ ] M3.  `content/en/docs/concepts/architecture/nodes.md`  | 38(+M) 10(-)
1. [x] M4.  `cont

[2021-04-09 16:48] seokho-son commented on #27490
/milestone dev-1.21-ko.1

[2021-04-09 16:48] seokho-son commented on #27490
/triage accepted

[2021-04-09 16:48] seokho-son commented on #27490
/help

[2021-04-09 16:49] seokho-son commented on #27490
/milestone dev-1.21-ko.1

[2021-04-09 16:55] seokho-son opened #27491 "Outdated files in the dev-1.20-ko.8 branch"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.20-ko.8 branch.

### 74 files to be modified
1. [x] M1.  `content/en/docs/concepts/architecture/control-plane-node-communication.md`  | 6(+XS) 6(-)
1. [ ] M2.  `content/en/docs/concepts/architecture/nodes.md`  | 13(+S) 2(-)
1. [x] M3.  `content/en/docs/concepts/cluster-administration/addons.md`  | 1(+XS) 0(-)
1. [x] M4.  `conte

[2021-04-09 16:56] seokho-son commented on #27491
/triage accepted
/help

[2021-04-09 16:56] seokho-son commented on #27489
/milestone dev-1.21-ko.1

[2021-04-09 17:54] petermicuch opened #27492 "Container runtimes - invalid link for cgroup-driver migration to systemd"
Link in [Migrating to the systemd driver in kubeadm managed clusters](https://kubernetes.io/docs/setup/production-environment/container-runtimes/#migrating-to-the-systemd-driver-in-kubeadm-managed-clusters) points to invalid link https://kubernetes.io/tasks/administer-cluster/kubeadm/configure-cgroup-driver.

[2021-04-09 20:14] HoustonPagtakhan1 opened #27493 "Unable to follow Ingress with NGINX task in Katacoda"
When I used the provided Terminal and run the command to apply the ingress file, it returns an error
![image](https://user-images.githubusercontent.com/10050585/114235648-5434e080-9935-11eb-9d6b-d88619870956.png)
Do we need to update syntax of the ingress file?

Also, how does the port specified in the ingress (8080) correspond with the fact that the service gets a random port (in the 30000+) rang

[2021-04-09 20:15] stevekuznetsov commented on #25388
xref https://github.com/google/cadvisor/issues/2138

The above issue from cAdvisor seems to document how all of this goes on ...

[2021-04-09 20:25] stevekuznetsov commented on #25388
OK, so from what I can tell, the following things are true:

[code]

We can see this calculation [here](https://github.com/google/cadvisor/blob/4cf47a79f1447087399131adca6bd6513391d4eb/container/libcontainer/handler.go#L828), and `<inactive_memory>` is a [kernel concept](https://www.kernel.org/doc/gorman/html/understand/understand013.html)

Furthermore:

[code]

Where `<kernel memory>` is memory a

[2021-04-09 20:26] stevekuznetsov commented on #25388
The kernel and `kubelet` will use the `container_memory_working_set_bytes` for OOMKills.

[2021-04-09 20:27] stevekuznetsov commented on #25388
@ehashman @bobbypage @sftim @derekwaynecarr it doesn't look like the subject matter experts on this are too keen on documenting this, so I'll try to do it, I guess. Who will review my work, and if they understand this well could they perhaps jot down more thoughts in response to what I've written?

[2021-04-09 20:30] stevekuznetsov commented on #25388
Perhaps @mrunalp or @rphillips know?

[2021-04-09 23:43] tallclair commented on #27336
Thanks for following up on this! I'm happy to review anything you write - ping me on slack if I don't see the PR :)

[2021-04-10 00:30] sftim commented on #27493
/team katacoda
/kind bug
The tutorial example doesn't yet support the GA version of Ingress

[2021-04-10 00:34] sftim commented on #27458
OK, with the understanding that we'll add an extra link but won't remove the old one:
/triage accepted
/language en

[2021-04-10 00:34] sftim commented on #27458
/help

[2021-04-10 01:02] shuuji3 commented on #27253
Created an issue on the upstream: https://github.com/google/docsy/issues/510

[2021-04-10 02:46] #27368 closed

[2021-04-10 03:48] #24844 closed

[2021-04-10 04:42] seokho-son commented on #27147
/close

[2021-04-10 04:42] #27147 closed

[2021-04-10 07:47] tonihintikka opened #27495 "Example: Deploying WordPress and MySQL with Persistent Volumes"
This Example works but WordPress 4.8 is quite old. It would be nice to update Example to working with newer WordPress version.

[2021-04-10 08:55] shuuji3 opened #27496 "Translate contribute/new-content/overview/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [contribute/new-content/overview/](https://kubernetes.io/docs/contribute/new-content/overview/) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2021-04-10 16:25] chainhead commented on #27484
@sftim I located the Docker Hub repo too ;) thanks! But, there is no source code, Git repo, etc. to it. So, there isn't much clarity on what it does.

[2021-04-10 19:03] #24652 closed

[2021-04-10 20:16] fdamstra opened #27498 "Container runtimes - Bad URL for GnuPG Key?"
On the "Container Runtimes" page, under the instructions for Ubuntu, the second curl command errors out:

[code]

Looks like that url is 404'd.

My variables are:
[code]

It looks like maybe there isn't a 1.21 release of CRI-O? So I've also tried different formats for VERSION:
[code]

[2021-04-10 20:22] fdamstra commented on #27498
Appears the correct line should maybe be:
[code]

And that will work with:
[code]

[2021-04-11 01:09] #24987 closed

[2021-04-11 05:53] shuuji3 commented on #16772
/remove-lifecycle rotten
/assign

[2021-04-11 05:56] shuuji3 commented on #16772
I found how to make the background transparent so I can replace current gray-background images with ones with transparent backgrounds.

How can we check if the gray background is deliberate or not? 🤔

[2021-04-11 07:30] shuuji3 commented on #27458
/assign

[2021-04-11 07:38] shuuji3 commented on #26895
/assign

[2021-04-11 09:32] pjhwa commented on #27490
M1 ~ M40 까지 제가 하겠습니다~
/assign @pjhwa

[2021-04-11 11:19] #24953 closed

[2021-04-11 11:26] ystoneman opened #27505 "Improvement for k8s.io/docs/concepts/overview/working-with-objects/common-labels/"
I've been following along with the Kubernetes Overview, in order. This page had the first somewhat confusing thing...why the example code for a "Service" always has the exact same code as its corresponding "Deployment" or "Stateful Set."

Seems like blatant code duplication. I'm sure it will be explained later, and is probably obvious to people who are already familiar with K8, but it might be goo

[2021-04-11 13:05] kentpachi opened #27506 "Interactive Tutorial - Updating Your App"
Hello,

The tutorial area remains black for this interactive step

tested under chrome and same issue with private mode in chrome ( windows 10 home / chrome Version 89.0.4389.114 (Build officiel) (64 bits)
too bad its the most interesting part of the tutorial :)

[2021-04-11 13:06] kentpachi commented on #27506
sorry it was because of a network latency i guess. now its working

[2021-04-11 13:06] #27506 closed

[2021-04-11 14:12] shuuji3 commented on #27398
/assign

[2021-04-11 15:50] hugoprudente commented on #18850
Adding the PSS as is the future as K8S 1.21 is deprecating PSP.

All Documentation for mention Read Only should also be covered in this docf from now on.
https://kubernetes.io/docs/concepts/security/pod-security-standards/#baseline

[2021-04-11 17:05] rebeccajae opened #27511 "Installing kubectl on macOS only links to amd64 binaries"
The URL given for downloading `kubectl` releases on macOS has `amd64` hardcoded in. There's no indication that if you replace it with `arm64` you will receive an arm binary.

Something like the following is still a one-liner (although it has two invocations and that's not great looking)
[code]

(The sed is in there because `uname -m` will return either `arm64` or `x86_64` - it's not optimal, but I

[2021-04-11 20:27] sftim commented on #16772
I'm pretty sure that some browers (Safari) render the page with a uniform gray - or did when I last checked.. https://css-tricks.com/color-rendering-difference-firefox-vs-safari/ explains a bit about why Firefox doesn't do that.
Switching to transparent sounds good to me!

[2021-04-11 20:27] #16772 closed

[2021-04-11 20:33] sftim commented on #26036
/kind bug
/remove-lifecycle stale
/triage accepted
/language en

[2021-04-12 03:00] s-kawamura-w664 commented on #26878
/assign

[2021-04-12 03:20] #27440 closed

[2021-04-12 05:39] CaoDonghui123 commented on #27284
/close

[2021-04-12 07:47] zhiguo-lu opened #27514 "[zh] translate concepts/Service Internal Traffic Policy"
**This is a Feature Request**
translate /docs/concepts/services-networking/service-traffic-policy.md into Chinese

**What would you like to be added**
content/zh/docs/concepts/services-networking/service-traffic-policy.md

/assign
/language zh

[2021-04-12 08:34] raesene opened #27515 "Kubernetes Hardening Guide"
**What would you like to be added**

As part of SIG-Security-Docs, we've been discussing the creation of a hardening guide for Kubernetes. We've got an initial document for the guide's creation here https://docs.google.com/document/d/1teb42X_c5_k8PNOSEEEbVnEr9aVAwWJXezBuf5fdmZU/edit

**Why is this needed**

The goal of the hardening guide is to provide guidance to cluster operators about how they

[2021-04-12 08:39] rdxmb opened #27516 "container-runtime: migration guide points to a 404"
https://kubernetes.io/docs/setup/production-environment/container-runtimes/#migrating-to-the-systemd-driver-in-kubeadm-managed-clusters

includes the deadlink:

https://kubernetes.io/tasks/administer-cluster/kubeadm/configure-cgroup-driver

[2021-04-12 08:44] sftim commented on #25119
Also see issue #27515

[2021-04-12 08:44] sftim commented on #25913
Also see issue #27515

[2021-04-12 08:44] sftim commented on #27515
/sig security

[2021-04-12 08:44] sftim commented on #27515
/triage accepted

[2021-04-12 08:45] sftim commented on #27498
Aside: `apt-key add` is deprecated. Guides such as https://www.linuxuprising.com/2021/01/apt-key-is-deprecated-how-to-add.html explain how to use the new approach.

[2021-04-12 08:48] sftim commented on #27516
/kind bug
/triage accepted
/language en

[2021-04-12 08:57] rdxmb opened #27517 "cri-socket in Well-Known Labels, Annotations and Taints"
Should `kubeadm.alpha.kubernetes.io/cri-socket` added as an annotation in this list here?

https://kubernetes.io/docs/reference/labels-annotations-taints/

[2021-04-12 09:45] sftim commented on #20293
I spotted https://example.docsy.dev/blog/releases/ (based on https://github.com/google/docsy-example/tree/master/content/en/blog/releases)
I wonder if we can take this and adapt the approach?

[2021-04-12 12:44] #24932 closed

[2021-04-12 13:47] sftim commented on #25620
/remove-lifecycle stale

[2021-04-12 13:49] sftim commented on #25620
A PR to add this diagram would still be useful.

Extra credit: use icons from https://github.com/kubernetes/community/tree/master/icons and a key, similar to the key in https://kubernetes.io/docs/concepts/overview/components/ (right hand side).

[2021-04-12 14:12] shuuji3 commented on #27253
This issue on the upstream has been fixed now. The future release of Hugo will fix this.

[2021-04-12 14:50] sftim commented on #24558
Still worth doing I think
/remove-lifecycle stale

[2021-04-12 15:21] neolit123 commented on #27516
/sig cluster-lifecycle node
i've added LGTM on the pending PR.

[2021-04-12 15:25] neolit123 commented on #27517
no, this list is for core k8s constructs.
kubeadm is not a core component.

it can be added here in a new section if someone wants to send a PR for it:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/implementation-details/

but ideally this annotation should not exist at all.
it is compensating for the fact that the KubeletConfiguration v1beta1 lacks a "cri-socket" field....

/sig cluste

[2021-04-12 19:36] mick62 opened #27521 "Improvement for k8s.io/docs/concepts/workloads/controllers/deployment/"
"When you inspect the Deployments in your cluster, the following fields are displayed:
    ...
    READY displays how many replicas of the application are available to your users. It follows the pattern ready/desired.
    AVAILABLE displays how many replicas of the application are available to your users."

The duplicated description "... displays how many replicas of the application are available

[2021-04-12 19:47] #24969 closed

[2021-04-12 21:55] janpeter123 opened #27522 "Install and Set Up kubectl on macOS"
I can't UNINSTALL Kubectl from my computer

[2021-04-12 22:12] sftim commented on #27522
@janpeter123 we don't document how to uninstall `kubectl` but it is pretty much like how you uninstall any other tool.

On a POSIX-like system with uses package management, use the package manager to uninstall the package that provides `kubectl`. If you installed the executable file directly, `rm -i "$( type -p kubectl )"` removes it (bypassing any Trashcan-like mechanism).

For other operating sy

[2021-04-12 22:13] sftim commented on #27521
Seems like a reasonable thing to explain more clearly.
/language en
/priority backlog
/triage accepted

[2021-04-12 22:18] sftim commented on #27505
For a Service and a Deployment that are used to declare a particular bit of a workload, the labels might be the same for no better reason than it's useful for the people who manage that workload if they're consistent.

If I have a database `mydb-sales1`, running MyDB, then I want to use that name everywhere.

It's that simple. Maybe the page needs to emphasize that we recommend making them match f

[2021-04-12 22:18] sftim commented on #27505
/language en

[2021-04-12 23:49] #19238 closed

[2021-04-13 00:16] tengqm commented on #27284
/close

[2021-04-13 00:16] #27284 closed

[2021-04-13 05:45] jihoon-seo opened #27525 "Need to fix K8s versions in release-1.20/kubeadm-upgrade.md"
**This is a Bug Report**

**Problem:**
The page https://v1-20.docs.kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/
explains how to upgrade a Kubernetes cluster created with kubeadm from version 1.20.x to version 1.21.x, and from version 1.21.x to 1.21.y.
(Should be from version 1.19.x to version 1.20.x, and from version 1.20.x to 1.20.y.)

**Proposed Solution:**
In https://git

[2021-04-13 06:23] jihoon-seo opened #27526 "K8s minor version expressions in release-1.xx branches"
**This is a Bug Report**

**Problem:**
For example,
in https://v1-19.docs.kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/

Should we replace or not?
- `{{< skew latestVersion >}}` => `1.19` for branch `release-1.19`
- `{{< skew latestVersionAddMinor -1 >}}` => `1.18` for branch `release-1.19`
- ...

**Proposed Solution:**

**Pages to Update:**
- https://v1-19.

[2021-04-13 07:01] jihoon-seo commented on #27490
M81 ~ M96 제가 하겠습니다~
/assign @jihoon-seo

Ref: https://github.com/kubernetes/website/issues/27491

| dev-1.21-ko.1 | dev-1.20-ko.8 |
| --- | --- |
| M82 | M62 |
| M83 | M63 |

[2021-04-13 07:19] JulesBelveze opened #27527 "Horizontal Pod Autoscaler Walkthrough"
Hey guys,
I am trying to use the `LabelSelector` within an external metric, as shown in the docs:
[code]
but I'm running into the following issue:
[code]
Any idea how I could potentially solve that?

Cheers!

[2021-04-13 08:55] sftim commented on #27253
Thanks @shuuji3

[2021-04-13 08:56] jihoon-seo commented on #27490
변경 사항 중에서, `just` 라는 영어 단어를 삭제하거나 다른 단어로 대체하는 변경 사항들이 꽤 있는데,
한국어 번역에는 별 영향을 미치지 않는 경우도 많습니다.
참고하시기 바랍니다.. ^^

[2021-04-13 09:38] jihoon-seo commented on #27490
M64 ~ M80 제가 하겠습니다~

[2021-04-13 09:45] vbeersma opened #27531 "Communicate Between Containers in the Same Pod Using a Shared Volume"
Hi,

I was wondering, on the page [Communicate Between Containers in the Same Pod Using a Shared Volume](https://kubernetes.io/docs/tasks/access-application-cluster/communicate-containers-same-pod-shared-volume/#:~:text=The%20primary%20reason%20that%20Pods,to%20communicate%20with%20each%20other.) it says

with the code being

`echo Hello from the debian container > /pod-data/index.html`

However,

[2021-04-13 09:47] ksahlmann opened #27532 "Interactive Tutorial - Deploying an App"
The terminal window has an error:

`Kubernetes Bootcamp Terminal

Error Details: Environment not starting correctly.`

https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/

[2021-04-13 10:44] porridge opened #27534 "Conflicting information about custom resource conversions"
**This is a Bug Report**

**Problem:**

One part of the "Versions in CustomResourceDefinitions" document says that conversion is performed from storage version to served version. Another says it's not (and furthermore, that k8s will lie about `apiVersion` by setting it without actually making any attempt at schema conversion).

Specifically:
1. https://kubernetes.io/docs/tasks/extend-kubernetes/cu

[2021-04-13 13:29] ciuffoly opened #27536 "How to insert in cluster a local register for dockers images ?"
I am searching a method to insert in a cluster my local registry for docker images.

I have created the service but now I need a unique logical ip or a local port.

I have tested for this use both LoadBalancer and NodePort but these have limits.

`[ciuffoly@master-node ~]$ kubectl get services|egrep "reg|web"

test-reg     NodePort       10.111.117.116   <none>          5000:30030/TCP   24m

test-

[2021-04-13 13:46] ciuffoly commented on #27536
/triage accepted

[2021-04-13 13:53] ariscahyadi commented on #26955
Hi @kubernetes/sig-docs-id-reviews ... it seems this issue is automatically closed.
Do you have any idea how to re-opened it?

[2021-04-13 14:14] irvifa commented on #26955
/reopen

[2021-04-13 14:20] alghe-global opened #27537 "Interactive Tutorial - Exposing Your App"
_REF: https://kubernetes.io/docs/tutorials/kubernetes-basics/expose/expose-interactive/

# Description

We're instructing students to expose a Service by way of `kubectl expose` using a label `type` of `NodePort`:

[code]

We then instruct the student to list the services once again:

[code]

# Expectation

In instruction notes, we're expecting from our students to read, understand and acknowledge

[2021-04-13 14:20] ariscahyadi commented on #26955
Thanks @irvifa :)

[2021-04-13 14:32] alghe-global commented on #27537
# Debugging info

## `describe`

[code]

## `$NODE_PORT`

[code]

## `minikube ip`

[code]
[code]

[2021-04-13 15:00] jimangel commented on #20293
/remove-lifecycle stale

[2021-04-13 15:59] #27511 closed

[2021-04-13 16:21] #27527 closed

[2021-04-13 17:02] sftim commented on #27525
I think we should fix the shortcode to use the _documented_ version, rather than the most recent release.
/sig cluster-lifecycle
/language en

[2021-04-13 17:04] sftim commented on #27531
@vbeersma the instructions should refer to the “website root” (sometimes called a “document root”) rather than the filesystem root.
I think with that clarification the page would be correct and not misleading.
/kind cleanup
/language en

[2021-04-13 17:04] sftim commented on #27532
/label team/katacoda

[2021-04-13 17:11] sftim commented on #27534
The difference is that the **persisted object** is not changed no matter what version of its API you use to read it. That's what the second quote is about. If you have a persistent object and try to use a different version of that API to **read** or **modify** it, then the API server must convert its representation the persisted object to the API version that the client asked for. That's might inv

[2021-04-13 17:13] sftim commented on #27534
BTW, the reason that the two objects in https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definition-versioning/#writing-reading-and-updating-versioned-customresourcedefinition-objects differ only by the API version is because that was the only change you made.

In Kubernetes, the convention when promoting an API to stable (taking `alpha` or `beta` out of the vers

[2021-04-13 17:17] sftim commented on #27537
I think we should change

to explain that Minikube does _not_ assign an external IP here.

Would that fix be acceptable?

/language en

[2021-04-13 17:18] sftim commented on #27526
I think we should fix the shortcode to use the _documented_ version, rather than the most recent release.
/sig cluster-lifecycle
/language en

[2021-04-13 17:19] sftim commented on #27536
GitHub is not the right place for support requests.

As you're looking for help, you could ask on [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes)

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or in the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

/close

[2021-04-13 17:20] #27536 closed

[2021-04-13 17:21] alghe-global commented on #27537
Yes.

--
; Alexandru Gheorghe
; <alghe.global [at] gmail [dot] com>
;
; Sent from mobile (please excuse any typos)

On Tue, Apr 13, 2021, 18:18 Tim Bannister ***@***.***> wrote:

[2021-04-13 17:53] neolit123 commented on #27525
@sftim

the intent behind `latestVersion` seems to be misleading if `site.Params.latest` is fed at build time pointing at the latest current k8s version. while extending the latestVersion shortcodes i expected `site.Params.latest` to be static and hardcoded per k/website release branch.

i can send PRs for this but i'd need to understand more about the "documented" version that you mentioned.

[2021-04-13 17:58] neolit123 commented on #27525
^ @kubernetes/sig-docs-en-owners for additional opinions.

[2021-04-13 18:03] sftim commented on #27525
Despite a misleading name, `{{< skew latestVersion >}}` is supposed to use `site.Params.version` not `site.Params.latest`. AIUI.

[2021-04-13 18:12] neolit123 commented on #27525
i can see `site.Params.latest` is being used in a few places:
https://github.com/kubernetes/website/search?q=%22site.Params.latest%22
should all of these be modified to use `site.Params.version` or only those in `layouts/shortcodes/skew.html`?

and for which branches - `master` and `dev-1.20`?

[2021-04-13 18:17] sftim commented on #27525
`site.Params.latest` is useful, it _does_ represent the most recent release.

[2021-04-13 18:21] brandond opened #27539 "Incorrect Stage values in FeatureGate documentation"
**Problem:**
Incorrect stage values in FeatureGate documentation

* LegacyNodeRoleBehavior has a stage of `True` as of 1.19, which is not a valid stage.
* WindowsEndpointSliceProxying has a stage of `beta` as of 1.21; all other stage values are capitalized.

Feature | Default | Stage | Since | Until
-- | -- | -- | -- | --
LegacyNodeRoleBehavior | true | True | 1.19
WindowsEndpointSliceProxying | t

[2021-04-13 18:22] neolit123 commented on #27525
ok, i can PR the change for 1.20 and master since this is only a problem for the kubeadm upgrade docs.

`{{< skew latestVersion >}}` is also used here, but the versions there are just examples.
https://v1-20.docs.kubernetes.io/docs/setup/release/version-skew-policy/

[2021-04-13 18:24] sftim commented on #27539
That's not what I see on that page. Can you include a screenshot and confirm the URL you're viewing @brandond ?

If possible, it'd be useful to see the HTTP headers that go with the page you screenshotted.

[2021-04-13 18:25] sftim commented on #27539
/triage accepted
/language en
/priority backlog
/help

[2021-04-13 18:25] sftim commented on #27539
Thanks @brandond

[2021-04-13 18:34] neolit123 commented on #27525
@sftim here are the PRs:
https://github.com/kubernetes/website/pull/27540
https://github.com/kubernetes/website/pull/27541

[2021-04-13 22:09] pjhwa commented on #27490
/language ko

[2021-04-13 22:10] pjhwa commented on #27491
/language ko

[2021-04-13 22:59] #22020 closed

[2021-04-14 00:44] #27444 closed

[2021-04-14 01:03] jihoon-seo commented on #27526
- Related issue: #27525
- Related PR: #27542

[2021-04-14 01:17] asokone opened #27543 "I set up an application using ingress controller which not working, can someone take a look and advise?"
[asokone@kubeadm01 notworking]$ cd /home/asokone/kubernetes/Kube_Fundamentals/ingress/ingress-controller/Bare-metal/notworking

[asokone@kubeadm01 notworking]$ ls -al deploy_nginx_ingress_controller_namespace*
-rw-rw-r-- 1 asokone asokone 17883 Apr  5 20:33 deploy_nginx_ingress_controller_namespace_default.yaml
-rw-rw-r-- 1 asokone asokone 18027 Mar 29 15:41 deploy_nginx_ingress_controller_namespa

[2021-04-14 02:07] jihoon-seo opened #27544 "Duplicate code block in content/en/docs/tasks/access-application-cluster/port-forward-access-application-cluster"
**This is a Bug Report**

**Problem:**

There is a duplicate code block in [content/en/docs/tasks/access-application-cluster/port-forward-access-application-cluster](https://github.com/kubernetes/website/blob/master/content/en/docs/tasks/access-application-cluster/port-forward-access-application-cluster.md#optionally-let-kubectl-choose-the-local-port-let-kubectl-choose-local-port).

FYI: [The prev

[2021-04-14 02:39] fenggw-fnst opened #27545 "[zh] Duplicate word in Using Admission Controllers"
使用准入控制器
每个准入控制器的作用是什么？
PodNodeSelector
该准入控制器通过读取名字空间注解和全局配置，来为名字空间中可以可以使用的节点选择器 设置默认值并实施限制。

此处的“可以”重复了两次。

[2021-04-14 02:53] jihoon-seo opened #27547 "Duplicate sections in 2 files"
**This is a Bug Report**

**Problem:**

There are duplicate sections in 2 files.
- (377 lines, Latest commit 2021-03-26) https://github.com/kubernetes/website/blob/master/content/en/docs/tasks/access-application-cluster/access-cluster.md#accessing-services-running-on-the-cluster
- (139 lines, Latest commit 2021-02-12) https://github.com/kubernetes/website/blob/master/content/en/docs/tasks/administ

[2021-04-14 03:04] jihoon-seo commented on #27206
Translated files by PR #27207:

- [x] _index.md
- [ ] contribute-upstream.md
- [ ] kubectl.md
- [ ] kubernetes-api.md
- [ ] kubernetes-components.md
- [x] prerequisites-ref-docs.md
- [x] quickstart.md

[2021-04-14 03:53] shuuji3 commented on #26900
/assign

[2021-04-14 05:24] porridge commented on #27534
@sftim thanks for the fast response!

Thank you for clarification, what you now described matches my understanding.

I think the confusing part was this:

I'm *guessing* this is indeed the case when `conversion.strategy` is `None`. But since the preceding sections talk at length about using conversion webhooks, such statement at this point was a bit of a shock to me. :-)

I re-read the second quot

[2021-04-14 06:18] jihoon-seo commented on #27490
- M52 ~ M62
- D1

제가 하겠습니다~

[2021-04-14 06:43] sobi3ch commented on #25944
/remove-lifecycle stale

[2021-04-14 06:45] sobi3ch commented on #25944
@Aut0R3V any progress? I get here after some search + reading about `kind: List`. Resolving this issue will be good for many people.

[2021-04-14 08:29] jihoon-seo opened #27550 "Broken link in setup/production-environment/container-runtimes.md"
**This is a Bug Report**

**Problem:**
In https://kubernetes.io/docs/setup/production-environment/container-runtimes/#migrating-to-the-systemd-driver-in-kubeadm-managed-clusters,
the link `Migration guide` is broken.

**Proposed Solution:**
In https://github.com/kubernetes/website/blob/master/content/en/docs/setup/production-environment/container-runtimes.md

[code]

**Page to Update:**
https://ku

[2021-04-14 09:25] BenHall commented on #26774
We've upgraded the content to 1.20 so this should now be resolved.

[2021-04-14 09:28] sftim commented on #26774
@simonc6372 can you confirm this looks fixed for you?

[2021-04-14 09:55] simonc6372 commented on #26774
I'll be honest, I won't have time to go back and check this. I have no problem for you to call this done.

[2021-04-14 09:55] #26774 closed

[2021-04-14 10:24] jihoon-seo opened #27552 "Markdown table code can be improved"
**This is a Bug Report**

**Problem:**
In https://github.com/kubernetes/website/blob/master/content/en/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md#windows-os-version-support

there is a table broken with GitHub Markdown renderer.

![image](https://user-images.githubusercontent.com/46767780/114695407-8cce2300-9d56-11eb-9bc0-ac3c6af45663.png)

BTW, the table is not broke

[2021-04-14 10:41] jihoon-seo commented on #27490
M41 ~ M51 제가 하겠습니다~

[2021-04-14 12:43] neolit123 commented on #27526
why do we have both https://github.com/kubernetes/website/issues/27525 and this issue.
can it be merged into a single one?

[2021-04-14 12:54] jihoon-seo commented on #27526
@neolit123 You are right!
I am closing this issue.

[2021-04-14 12:54] #27526 closed

[2021-04-14 13:52] neolit123 commented on #27550
already logged here:
https://github.com/kubernetes/website/issues/27516

/close
/sig cluster-lifecycle

[2021-04-14 13:52] #27550 closed

[2021-04-14 16:38] alghe-global commented on #27537
I'm unable to find the contents for this module that I can update in order to rephrase that section. Would someone point me to the right repo/dir so I can submit a request for code review on this issue?

Cloning `website` seems not to be enough in order to do these changes - unless I am missing something here.

[2021-04-14 17:05] FerminCastro commented on #25703
I though that someone would grab this to provide the steps in detail (i.e. as part of the steps referencing etcd backup in the K8 documentation here: https://kubernetes.io/docs/tasks/administer-cluster/configure-upgrade-etcd/

The steps provided there are vague, imprecise and can cause that people ruin their Kubernetes clusters

[2021-04-14 17:14] stewrad opened #27556 "Interactive Tutorial - Creating a Cluster Error"
When running 'start' run into error below:

$ minikube start

W0414 17:03:21.074184    1208 main.go:170] Unable to make log dir /root/.minikube/logs: mkdir /root/.minikube/logs: input/output error
log: exiting because of error: log: cannot create log: open /tmp/minikube.minikube.root.log.WARNING.20210414-170321.1208: read-only file system

[2021-04-14 18:18] medyagh commented on #26998
@nunix I wonder was there a PR that made for this issue, is this still being worked on ?

[2021-04-14 18:50] nate-double-u commented on #25941
/remove-lifecycle stale

[2021-04-15 02:57] ekuric opened #27560 "Wrong command in "Pull an Image from a Private Registry" doc"
I think `>` in below command should not be there and secret create fails

[code]

eg

[code]
but also

[code]
creates secret without issue.

Link to documentation:
https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/

[2021-04-15 03:57] lchimbili opened #27561 "Improvement for k8s.io/docs/tasks/administer-cluster/sysctl-cluster/"
Request to add a section clarifying how the sysctl settings on the node are either applied/not applied to the pods/containers.
1. Are the non namespaced sysctl settings on the host applied to pods/containers.
2. Are the namespaced sysctl settings on the host are applied to pods/containers as well. If not, are the default sysctl settings compiled into kernel applied to every new namespace and hence

[2021-04-15 04:22] sbueringer opened #27562 "Broken link to configure cgroup driver"
**This is a Bug Report**

**Problem:**
There are two links to the configure cgroup driver task. one is working one is not:
* broken: https://kubernetes.io/docs/setup/production-environment/container-runtimes/#containerd ("Migration guide")
  * links to https://kubernetes.io/docs/setup/production-environment/container-runtimes/docs/tasks/administer-cluster/kubeadm/configure-cgroup-driver
* work: ht

[2021-04-15 04:23] sbueringer commented on #27562
/cc @sftim

[2021-04-15 05:50] jihoon-seo opened #27565 "Links to labels-annotations-taints are broken or outdated"
**This is a Bug Report**

**Problem:**
Links to labels-annotations-taints are broken
- In https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/#pod-deletion-cost ,
the link `controller.kubernetes.io/pod-deletion-cost` is broken.
- Some other links are outdated.

**Proposed Solution:**
- In `content/en/blog/_posts/2019-12-09-kubernetes-1.17-release-announcement.md`
  - `https://kube

[2021-04-15 09:52] jihoon-seo opened #27569 "Errors in reference/command-line-tools-reference/feature-gates.md"
**This is a Bug Report**

**Problem:**
In https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/#feature-gates
a typo ("resouce") exists.

**Proposed Solution:**
`resouce` => `resource`

**Page to Update:**
https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/

/assign

[2021-04-15 10:02] jihoon-seo commented on #27569
[As-is]
[code]

[To-be]
[code]

[2021-04-15 11:30] nunix commented on #26998
hi @medyagh , sorry I have some delay here. I need to test the docker provider again, my first test didn't work, but I guess I did something wrong. I will amend the blog post asap.

[2021-04-15 12:11] sftim commented on #25645
/remove-lifecycle rotten

[2021-04-15 15:20] xSehrMotiviert opened #27572 "Issue with k8s.io/de/docs/reference/using-api/"
There is no content

[2021-04-15 15:29] dprotaso commented on #26064
/remove-lifecycle stale

[2021-04-15 17:59] sftim commented on #27552
/priority awaiting-more-evidence
/langauge en

[2021-04-15 18:00] sftim commented on #27556
I think this report is about https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/ and using the provided environment to try Minikube.

/kind bug
/team katacoda

[2021-04-15 18:00] sftim commented on #27556
/label team/katacoda

[2021-04-15 18:02] sftim commented on #27560
`<path/to/.docker/config.json>` is a sample. The Docker configuration is not really at `path/to/.docker/config.json`

We could emphasize in the docs that `<path/to/.docker/config.json>` is a sample.

[2021-04-15 18:02] sftim commented on #27561
/sig node
/kind feature

[2021-04-15 18:03] sftim commented on #27565
/language en
/triage accepted

I agree with adding the new redirect.

[2021-04-15 18:04] sftim commented on #19309
Duplicated by https://github.com/kubernetes/website/issues/27572

[2021-04-15 18:05] sftim commented on #27569
/triage accepted
/language en
/good-first-issue

[2021-04-15 19:38] jobechoi opened #27574 "Interactive Tutorial - Creating a Cluster"
Unable to enter commands into KataCoda Terminal

[2021-04-16 01:57] jihoon-seo commented on #27552
@sftim Thank for your comment.
I will describe a bit more about this issue I opened.

[As-is]
[code]

- Yes, although the second row of the Markdown code has 4 columns and other rows have 3 columns,
this table is rendered alright by Hugo Markdown renderer.
- This is a issue about improving consistency of the number of columns in the Markdown code,
regardless of the type of Markdown renderer.

---

[2021-04-16 02:35] jihoon-seo commented on #27569
[As-is]
[code]

[To-be]
[code]

[2021-04-16 04:00] franciosi commented on #27492
Same as https://github.com/kubernetes/website/issues/27562

[2021-04-16 04:01] franciosi commented on #27562
Same at https://github.com/kubernetes/website/issues/27492

[2021-04-16 04:04] franciosi commented on #27492
I believe the right link for "Migration guide" should be https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/configure-cgroup-driver/

[2021-04-16 04:04] franciosi commented on #27562
I believe the right link for "Migration guide" should be https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/configure-cgroup-driver/

[2021-04-16 04:22] sbueringer commented on #27562
@franciosi Oh sorry my bad, didn't saw the other issue. I'll close mine
/close

[2021-04-16 04:22] #27562 closed

[2021-04-16 05:13] jihoon-seo commented on #27569
[As-is]
[code]

[To-be]
[code]

[2021-04-16 05:53] jihoon-seo commented on #27569
[As-is]
[code]

[To-be]
[code]

[2021-04-16 05:53] jihoon-seo commented on #27569
[As-is]
[code]

[To-be]
[code]

[2021-04-16 06:32] #27483 closed

[2021-04-16 08:27] logsnaath opened #27579 "Improvement for k8s.io/docs/tasks/tools/install-kubectl-macos/"
[code]
The alias "k" command completion works only after a command completion is tried with kubectl first.

[code]

[2021-04-16 10:44] gautamnankani opened #27580 "Improvement for k8s.io/docs/concepts/overview/what-is-kubernetes/"
Additionally, Kubernetes is **not** a mere orchestration system. In fact, it eliminates the need for orchestration. The technical definition of orchestration is execution of a defined workflow: first do A, then B, then C. In contrast, Kubernetes comprises a set of independent, composable control processes that continuously drive the current state towards the provided desired state. It shouldn't ma

[2021-04-16 10:53] sftim commented on #26450
/sig scheduling

[2021-04-16 15:13] shuuji3 commented on #26889
/assign

[2021-04-16 17:24] liggitt commented on #18850
/sig storage
/remove-sig auth

[2021-04-16 17:28] liggitt commented on #26036
The beta admissionregistration APIs will no longer be served in 1.22... I'd suggest leaving the doc as-is so it ages well.

It's doesn't actually harm anything for the registration APIs to be available when the admission plugins are disabled, the created objects are just inert.

/close

[2021-04-16 17:28] #26036 closed

[2021-04-16 17:30] liggitt commented on #26111
That use is not yet supported by built-in Kubernetes signers, but is requested at https://github.com/kubernetes/kubernetes/issues/63732

/close

[2021-04-16 17:31] #26111 closed

[2021-04-16 17:33] liggitt commented on #23992
/remove-sig auth
/sig api-machinery

[2021-04-17 00:19] DerekFoulk opened #27586 "Interactive Tutorial - Creating a Cluster"
I tried following the interactive tutorial, but it seems that something is not working right. I have no idea what is wrong, but I was receiving warnings and errors in the interactive terminal throughout the tutorial. Here is the output generated by following along with the tutorial (exactly as instructed):

[code]

Hopefully you guys can fix this. I'd love to learn this stuff. Thank you!

[2021-04-17 00:22] DerekFoulk commented on #27586
Related to #27556?

[2021-04-17 01:04] Marusyk commented on #26406
@sftim Could you please suggest?

[2021-04-17 01:04] Marusyk commented on #26406
/assign

[2021-04-17 02:20] zhiguo-lu opened #27587 "[zh] translate concepts/Node Resource Managers"
**This is a Feature Request**
translate /docs/concepts/policy/node-resource-managers.md into Chinese.

**What would you like to be added**
/zh/docs/concepts/policy/node-resource-managers.md

[2021-04-17 07:36] tengqm commented on #27587
/triage accepted

[2021-04-17 08:31] antaloala commented on #26036
@liggitt, @sftim when I created this issue the doc was only referring to ´´´admissionregistration.k8s.io/v1beta1´´´ (you can see it if reading [1.19 documentation](https://v1-19.docs.kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#validatingadmissionwebhook)).
It looks some documentation update solved this in 1.20 (I just checked lastest accesible 1.20 and 1.21 refer now to

[2021-04-17 12:02] shuuji3 commented on #26883
/assign

[2021-04-17 12:45] shuuji3 commented on #26884
/aggisn

[2021-04-17 12:47] shuuji3 commented on #26884
/assign

[2021-04-17 13:09] shuuji3 commented on #26884
確認してみたのですが、すでにv1.19より新しいバージョンのドキュメントが #24961 で新規翻訳されていたため、この更新は必要なさそうでした。
/close

[2021-04-17 13:10] shuuji3 commented on #26884
closeお願いします🙏

[2021-04-17 14:39] shuuji3 opened #27594 "Translate tasks/manage-kubernetes-objects/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [tasks/manage-kubernetes-objects/](https://kubernetes.io/docs/tasks/manage-kubernetes-objects/) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2021-04-17 15:09] shuuji3 opened #27596 "[ja] Translate tasks/manage-kubernetes-objects/declarative-config/"
**This is a Feature Request**

**What would you like to be added**

Translate [tasks/manage-kubernetes-objects/declarative-config/](https://kubernetes.io/docs/tasks/manage-kubernetes-objects/declarative-config/) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2021-04-17 21:16] JanGroot opened #27597 "Improvement for k8s.io/docs/tasks/configure-pod-container/translate-compose-kubernetes/"
the current version of kompose is without the "up" and "down" command, as such the 2 paragraphs covering this are obsolete.

`-> kompose convet -o . && kubectl apply -f .` should cover most "up" cases

[2021-04-18 10:50] habibrosyad commented on #24382
/remove-lifecycle stale

[2021-04-18 12:20] dastrobu commented on #26110
/remove-lifecycle stale

[2021-04-18 14:09] sftim opened #27602 "Improve documentation for projected service account token volume(s)"
**This is a Feature Request**

**What would you like to be changed**
Improve https://kubernetes.io/docs/reference/access-authn-authz/service-accounts-admin/

is a statement about the future. We prefer to [avoid](https://kubernetes.io/docs/contribute/style/style-guide/#avoid-statements-about-the-future) these in Kubernetes documentation - we leave that to blog articles, KEPs, and media.

- Remove m

[2021-04-18 18:48] #25111 closed

[2021-04-18 18:48] #24108 closed

[2021-04-18 18:48] #24154 closed

[2021-04-18 19:48] #23729 closed

[2021-04-18 19:48] #23858 closed

[2021-04-18 19:48] #23561 closed

[2021-04-18 19:48] #24078 closed

[2021-04-18 19:48] #23422 closed

[2021-04-18 19:48] #4517 closed

[2021-04-18 22:48] #19042 closed

[2021-04-18 22:48] #19404 closed

[2021-04-18 22:48] #19804 closed

[2021-04-18 22:48] #19844 closed

[2021-04-18 23:38] kbhawkey commented on #27602
/triage accepted

[2021-04-18 23:48] #19076 closed

[2021-04-18 23:48] #20378 closed

[2021-04-19 02:48] #23775 closed

[2021-04-19 05:03] jihoon-seo commented on #27490
M63 제가 하겠습니다~

다만 `content/en/docs/setup/release/notes.md` 파일은 크기가 워낙 커서
기존에도 헤딩 등 일부만 번역이 되어 있습니다.

https://github.com/kubernetes/website/blob/dev-1.20-ko.7/content/ko/docs/setup/release/notes.md

[2021-04-19 05:10] seokho-son commented on #27490
@jihoon-seo 감사합니다..^^ 현황에서 보신 바와 같이, Release note의 경우에는 워낙 크기가 크고 자동 기록되는 부분이 많아서, 전체 번역은 하지 않고 있습니다. 중요한 부분 또는 일부분만 처리해도 좋을 것 같습니다.

[2021-04-19 05:13] jihoon-seo opened #27606 "Bugs in setup/release/notes.md"
**This is a Bug Report**

**Problem:**
There exist bugs in [setup/release/notes.md](https://github.com/kubernetes/website/blob/master/content/en/docs/setup/release/notes.md).

[Part number 1]
[code]

[Part number 2]
[code]

**Proposed Solution:**
[Part number 1]
[code]

[Part number 2]
[code]

**Page to Update:**
https://kubernetes.io/docs/setup/release/notes/

/assign

[2021-04-19 06:41] ionir-cloud commented on #26328
this is what we are looking for updating with our yamls as example
https://kubernetes.io/docs/concepts/storage/persistent-volumes/
https://kubernetes.io/docs/concepts/storage/storage-classes/
@Cweiping

[2021-04-19 06:42] rdxbarakn commented on #26328
this is what we are looking to update with our yamls
https://kubernetes.io/docs/concepts/storage/persistent-volumes/
https://kubernetes.io/docs/concepts/storage/storage-classes/

@Cweiping

[2021-04-19 07:12] jihoon-seo commented on #27606
[As-is]

[code]

[To-be]

[code]

[2021-04-19 08:07] sftim commented on #26450
Do we also need to update https://kubernetes.io/docs/concepts/scheduling/scheduling-framework/ ?

[2021-04-19 08:07] sftim commented on #19846
/reopen
/remove-lifecycle rotten

[2021-04-19 09:07] ingvagabund commented on #26450
I don't think we do. Though, we might update https://kubernetes.io/docs/reference/scheduling/policies/ and mention the Plugin API. The scheduling framework has nothing to do with the Policy API and there's no need for new users to know about the Policy API. Anyone who's still using the Policy API is probably aware it's deprecated and will be gone. Configuration of new plugins is available only thr

[2021-04-19 12:50] #23781 closed

[2021-04-19 13:12] liggitt commented on #4410
/kind documentation

[2021-04-19 13:13] liggitt commented on #19828
/kind documentation

[2021-04-19 13:13] liggitt commented on #21435
/kind documentation

[2021-04-19 13:13] liggitt commented on #23885
/kind documentation

[2021-04-19 13:13] liggitt commented on #24414
/kind documentation

[2021-04-19 13:14] liggitt commented on #26034
/kind documentation

[2021-04-19 13:14] liggitt commented on #25620
/kind documentation

[2021-04-19 13:14] liggitt commented on #26188
/kind documentation

[2021-04-19 13:14] liggitt commented on #26215
/kind documentation

[2021-04-19 13:14] liggitt commented on #27034
/kind documentation

[2021-04-19 13:14] liggitt commented on #27336
/kind documentation

[2021-04-19 13:15] liggitt commented on #27068
/kind documentation

[2021-04-19 13:33] sftim commented on #27586
/team katacoda

[2021-04-19 13:33] sftim commented on #27586
This looks like a shortcoming in Katacoda

[2021-04-19 14:11] alculquicondor commented on #26450
We do need to update it to stable since 1.19, but it's not directly related (it's part of the implementation of scheduler component config, which is the alternative to policies).

+1 on a blog. We plan to remove it 2 or 3 releases after scheduler component config reaches stable (planned for 1.23)

[2021-04-19 17:38] celestehorgan commented on #21749
@justaugustus – Are individual repos in the org now free to go ahead and start renaming their main branches, or are we still investigating?

[2021-04-19 17:39] celestehorgan commented on #17070
@kbhawkey – are you intending to do any more work on this, or can we close the issue?

[2021-04-19 17:41] celestehorgan commented on #21621
@kubernetes/wg-naming-leads – we've already done work around this for whitelist/blacklist but our recommendation on master/slave needs some work. Regardless I'd like to close this issue because I think it's too broad.

[2021-04-19 18:38] castrojo commented on #22918
Woo hoo! Thanks Celeste!

[2021-04-19 18:38] #22918 closed

[2021-04-19 22:13] survivant opened #27618 "Container-runtime : migration guide point point to a 404"
in the page : https://kubernetes.io/docs/setup/production-environment/container-runtimes/

the link (Migration guide) :

[code]

point to :  https://kubernetes.io/docs/setup/production-environment/container-runtimes/docs/tasks/administer-cluster/kubeadm/configure-cgroup-driver

404 not found.

[2021-04-19 22:16] kbhawkey commented on #17070
Hi @celestehorgan .
No, I think I covered most of the cases mentioned in this issue.
Thanks!

[2021-04-19 22:17] neolit123 commented on #27618
duplicate here:
https://github.com/kubernetes/website/issues/27516

/close

[2021-04-19 22:19] neolit123 commented on #27618
actually it was attempted as a fix here:
https://github.com/kubernetes/website/pull/27518/files
but that fix doesn't work due to a missing /

/reopen

[2021-04-19 22:20] neolit123 commented on #27618
...never mind let's track it in the existing issue as it's still open
https://github.com/kubernetes/website/issues/27516
/close

[2021-04-19 22:20] #27618 closed

[2021-04-19 22:21] neolit123 commented on #27516
/retitle container-runtime: migration guide point point to a 404

[2021-04-19 22:22] neolit123 commented on #27516
this PR did not fix the problem:
https://github.com/kubernetes/website/pull/27518
because it lacks a leading `/`

i will send a new one.

[2021-04-19 22:26] neolit123 commented on #27516
/retitle container-runtime: migration guide points to a 404

[2021-04-19 22:32] neolit123 commented on #27516
new fix is here: https://github.com/kubernetes/website/pull/27619

[2021-04-19 22:38] neolit123 commented on #26987
tracked here:
https://github.com/kubernetes/website/issues/26987

as an general problem for older release branches of k/website.

/close

[2021-04-19 22:38] #26987 closed

[2021-04-19 23:00] #27565 closed

[2021-04-19 23:00] #27569 closed

[2021-04-19 23:02] #27516 closed

[2021-04-19 23:12] kbhawkey commented on #27606
Hello @jihoon-seo .
Note: The release notes are auto-generated.
What do you think about logging an issue with the release team (release notes)?

[2021-04-19 23:55] #15319 closed

[2021-04-20 00:14] #27458 closed

[2021-04-20 00:28] #27463 closed

[2021-04-20 01:43] kbhawkey commented on #17070
I plan to close this issue.
If there is more work to do, you can reopen.
Thanks!
/close

[2021-04-20 01:43] #17070 closed

[2021-04-20 01:55] jihoon-seo commented on #27606
Hi @kbhawkey.
Following your advice, I posted an [issue](https://github.com/kubernetes/sig-release/issues/1528) on [`kubernetes/sig-release`](https://github.com/kubernetes/sig-release).
Thank you!

[2021-04-20 03:10] eduartua commented on #13948
@raelga I've started updating the **Kubernetes API** page from the section **Overview (content/es/docs/concepts/overview)**
Please, any maintainer that can update the issue with my username in it 🙂

[2021-04-20 06:20] troub1emaker0911 opened #27620 "示例：使用 MongoDB 部署 PHP 留言板应用程序"
原文：
如果您希望访客能够访问您的留言板，您必须将前端服务配置为外部可见的，以便客户端可以从 Kubernetes 集群之外请求服务。然而即便使用了 ClusterIP Kubernets 用户仍可以通过 kubectl port-forwart 访问服务。

修改建议：
最后一句中应该为kubectl port-forward访问服务，单词拼错了。

[2021-04-20 06:45] zeev512 opened #27621 "Set up Ingress on Minikube with the NGINX Ingress Controller"
Hello,
I try to follow the steps in the article and I fail on the installing of example-ingress.yaml step.
The error I get is as follows:
[zeev@localhost Kubernetes]$ kubectl apply -f example-ingress.yaml
Error from server (InternalError): error when creating "example-ingress.yaml": Internal error occurred: failed calling webhook "validate.nginx.ingress.kubernetes.io": an error on the server ("")

[2021-04-20 08:02] #26956 closed

[2021-04-20 08:40] inductor commented on #26880
/close

[2021-04-20 08:41] #26880 closed

[2021-04-20 08:41] inductor commented on #26860
/close

[2021-04-20 08:41] #26860 closed

[2021-04-20 08:41] inductor commented on #26867
/close

[2021-04-20 08:42] #26867 closed

[2021-04-20 08:44] inductor commented on #26886
/close

[2021-04-20 08:44] #26886 closed

[2021-04-20 08:45] inductor commented on #26857
/close

[2021-04-20 08:45] #26857 closed

[2021-04-20 08:45] inductor commented on #27064
/close

[2021-04-20 08:46] #27064 closed

[2021-04-20 08:46] inductor commented on #26866
/close

[2021-04-20 08:46] #26866 closed

[2021-04-20 08:50] #26862 closed

[2021-04-20 08:53] inductor commented on #26899
/close

[2021-04-20 08:53] #26899 closed

[2021-04-20 08:53] inductor commented on #26897
/close

[2021-04-20 08:53] #26897 closed

[2021-04-20 08:54] #26953 closed

[2021-04-20 08:54] inductor commented on #26881
/close

[2021-04-20 08:54] inductor commented on #26853
/close

[2021-04-20 08:54] #26881 closed

[2021-04-20 08:55] #26853 closed

[2021-04-20 08:55] inductor commented on #26896
/close

[2021-04-20 08:55] #26896 closed

[2021-04-20 08:55] inductor commented on #26882
/close

[2021-04-20 08:55] #26882 closed

[2021-04-20 08:55] inductor commented on #26877
/close

[2021-04-20 08:55] #26877 closed

[2021-04-20 08:56] inductor commented on #26894
/close

[2021-04-20 08:56] #26894 closed

[2021-04-20 08:56] inductor commented on #26868
/close

[2021-04-20 08:56] #26868 closed

[2021-04-20 08:58] #27496 closed

[2021-04-20 09:01] inductor commented on #26875
/close

[2021-04-20 09:01] #26875 closed

[2021-04-20 09:01] inductor commented on #26870
/close

[2021-04-20 09:01] #26870 closed

[2021-04-20 09:01] inductor commented on #26887
/close

[2021-04-20 09:01] #26887 closed

[2021-04-20 09:04] inductor commented on #26874
/close

[2021-04-20 09:04] #26874 closed

[2021-04-20 09:06] inductor commented on #26884
/close

[2021-04-20 09:06] #26884 closed

[2021-04-20 09:07] sftim commented on #20075
/triage accepted
/sig api-machinery

I think it would be good to document generically what, eg, the `watch` parameter does and why you might want to specify it.

[2021-04-20 09:10] sftim opened #27623 "Feature Gates list omits WatchBookmarks"
**This is a Bug Report**

**Problem:**
(eg) https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.21/#list-deployment-v1-apps mentions a feature gate `WatchBookmarks`. However, https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/ does not. However, a feature gate named `WatchBookmark` (singular) _is_ listed.

**Proposed Solution:**
~Document `WatchBookmarks`

[2021-04-20 09:18] inductor commented on #27398
/close

[2021-04-20 09:18] #27398 closed

[2021-04-20 09:23] inductor commented on #26883
/close

[2021-04-20 09:23] #26883 closed

[2021-04-20 09:30] inductor commented on #26869
/close

[2021-04-20 09:30] #26869 closed

[2021-04-20 09:43] tengqm commented on #27623
The feature gate document is correct. The `WatchBookmark` gate is defined at https://github.com/kubernetes/apiserver/blob/master/pkg/features/kube_features.go#L122 .
The API reference is also generated from upstream source code. The incorrect reference of "WatchBookmarks" is located at https://github.com/kubernetes/apimachinery/blob/master/pkg/apis/meta/v1/types.go#L360. That is the thing we need

[2021-04-20 10:27] sftim commented on #27623
Let's log an upstream issue, link it to this report, and close this one.

[2021-04-20 11:15] raelga commented on #13948
Done! Thanks @eduartua

[2021-04-20 11:42] inductor commented on #26892
/close

[2021-04-20 11:42] #26892 closed

[2021-04-20 11:44] inductor commented on #26858
/close

[2021-04-20 11:44] #26858 closed

[2021-04-20 11:44] inductor commented on #26863
/close

[2021-04-20 11:44] #26863 closed

[2021-04-20 11:45] lianghao208 opened #27629 "Improvement for k8s.io/docs/reference/setup-tools/kubeadm/"
As what was discussed in [Slack Channel](https://kubernetes.slack.com/archives/C2P1JHS2E/p1618901241136000), I think an instruction docs for kubeadm to transfer a non High Available cluster to a High Available cluster is necessary.

[2021-04-20 11:45] inductor commented on #26879
/close

[2021-04-20 11:45] #26879 closed

[2021-04-20 15:47] jsturtevant commented on #26956
Thanks for taking care of this.

https://github.com/kubernetes-sigs/sig-windows-tools would be a good place so it can be updated by sig-windows members

[2021-04-20 16:02] neolit123 commented on #27629
a new page under tasks can be added for that.
but i would defer to community members / users to contribute that instead of the kubeadm maintainers.

currently the scenario of not using an LB is mostly claimed as unsupported with some notes here:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#considerations-about-apiserver-advertise-address-and-control

[2021-04-21 00:11] survivant opened #27638 "kubeadm init with default config : version "v1.21" doesn't match patterns for neither semantic version nor labels (stable, latest, ...)"
I'm at this page : https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/configure-cgroup-driver/

If I follow the guide with the default configuration it will failed.

[code]

The config from the webapge
[code]

but if I remove the line : kubernetesVersion: v1.21  it will works.

[code]

[2021-04-21 01:03] inductor commented on #26889
/close

[2021-04-21 01:03] #26889 closed

[2021-04-21 01:16] #27234 closed

[2021-04-21 01:17] neolit123 commented on #27638
you should use `v1.21.0`
https://semver.org/

/kind support
/close
/sig cluster-lifecycle

[2021-04-21 01:18] neolit123 commented on #27638
/reopen
/remove-kind support

actually...i see that you are porting as a problem on the page.

we should change `v1.21` -> `v1.21.0` there.

/help

[2021-04-21 01:19] neolit123 commented on #27638
/help

[2021-04-21 01:26] survivant commented on #27638
@neolit123  you closed it too fast :)

thanks to reopen it.

I'll continue to filled issues each time a found a problem   (second issue found in two days.. Happy to help the community)

[2021-04-21 01:30] #27552 closed

[2021-04-21 01:48] kbhawkey commented on #20895
Good. Have you created a PR?

[2021-04-21 02:28] inductor commented on #26895
/close

[2021-04-21 02:28] #26895 closed

[2021-04-21 02:31] neolit123 commented on #27638
sure, thanks for finding these.
/triage accepted

[2021-04-21 02:37] KobayashiD27 commented on #26893
diffの上の部分は特に変更はないと思います。
diffの下の部分はすでに`PersistentVolumeClaim`になっていました。

[2021-04-21 02:38] KobayashiD27 commented on #26893
/assign

[2021-04-21 02:40] KobayashiD27 commented on #26888
/assign

[2021-04-21 03:20] shuuji3 commented on #20895
No, I haven't yet. I hope to create a PR this week.

[2021-04-21 04:53] wilsonehusin commented on #27606
👋🏼 release notes team here. yes this was autogenerated but we had to make manual fix to k/k (ref: https://github.com/kubernetes/kubernetes/pull/100968) a few days after the official release went out. i think it's the right move to fix it here as well 😄

[2021-04-21 05:06] chenyahui opened #27642 "kube-controller-manager --leader-elect-resource-lock default value in Chinese version page is not consistent with the English page"
kube-controller-manager --leader-elect-resource-lock default value in English page is 'leases'. As shown below:

https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/

<img width="862" alt="截屏2021-04-21 下午1 01 14" src="https://user-images.githubusercontent.com/6067594/115499233-a95fe300-a2a1-11eb-9c1b-dd5941d04c0b.png">

But in Chinese version page, this value

[2021-04-21 06:07] pacoxu commented on #26335
Still some users are not know this: https://github.com/kubernetes/kubernetes/issues/100708#issuecomment-818027455

[2021-04-21 08:42] sftim commented on #27623
/close

[2021-04-21 08:42] #27623 closed

[2021-04-21 12:18] shuuji3 opened #27646 "Translate tasks/job/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [tasks/job/](https://kubernetes.io/docs/tasks/job/) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2021-04-21 12:22] #27410 closed

[2021-04-21 16:24] Snehil03 opened #27648 "stream error when reading response body, may be caused by closed connection. Please retry. Original error: stream error: stream ID 7; INTERNAL_ERROR"
Hello,

I have recently upgraded my control plan to eks 1.16,
I am using kubed to share my secrets ,
https://appscode.com/products/kubed/v0.12.0/setup/install/

after upgrade my one component not working ,

when I looked further into details got to know that it's coming from one of the k8s file ,

`
![image](https://user-images.githubusercontent.com/50679409/115588119-b3e4a180-a2ce-11eb-9018-ef6f2

[2021-04-21 16:41] neolit123 commented on #26335
/sig docs
for advice on where on k/website it would be best to document the pause image what and it contains.

[2021-04-21 17:13] neolit123 commented on #26335
/sig cluster-lifecycle

[2021-04-21 17:53] xserrat commented on #26081
Hi @sftim, I don't know if we can make some changes to the documentation to make more clear how rollouts work. Thanks!

[2021-04-21 20:05] #25052 closed

[2021-04-21 20:07] inductor commented on #26859
@hase1128 こちらいかがでしょうか！

[2021-04-21 20:07] inductor commented on #26864
@hase1128 こちらいかがでしょうか！

[2021-04-21 20:08] inductor commented on #26865
@hase1128 こちらいかがでしょうか！

[2021-04-21 20:08] inductor commented on #26878
@s-kawamura-w664 こちらいかがでしょうか！

[2021-04-21 21:28] shannonxtreme commented on #27539
Is the change for `LegacyNodeRoleBehavior` from `True` to `Beta`, and add `1.21` to `Until`?

[2021-04-21 21:33] neolit123 commented on #27638
PR is here https://github.com/kubernetes/website/pull/27650
/remove-help
/lifecycle active

[2021-04-21 23:47] #27638 closed

[2021-04-21 23:56] s-kawamura-w664 commented on #26878
@inductor 最終確認中で今週中にはPRできる見込みです。

[2021-04-22 00:01] #27606 closed

[2021-04-22 00:37] hase1128 commented on #26865
これから対応しますね。

[2021-04-22 00:38] hase1128 commented on #26864
これから対応しますね。

[2021-04-22 00:38] hase1128 commented on #26859
これから対応しますね。

[2021-04-22 01:12] jihoon-seo commented on #27094
The link was updated in the PR #26725.
This issue is good to close, so I am closing this issue.

[2021-04-22 01:12] #27094 closed

[2021-04-22 01:19] jihoon-seo commented on #27544
/language en

[2021-04-22 01:20] jihoon-seo commented on #27547
/language en

[2021-04-22 02:38] s-kawamura-w664 commented on #26878
@inductor
May I ask you a question?

resource-quotas.md has the link to following.:
  /docs/concepts/configuration/pod-priority-preemption

Master branch has Japanese translations (#26935), but not dev-1.19-ja.1 branch.
Is it OK that I change /ja/docs the link on resource-quotas.md in dev-1.19-ja.1 branch?

[2021-04-22 03:00] inductor commented on #26878
@s-kawamura-w664 You can ignore that translation for now, because we are also planning to merge this into 1.19 release branch.
We will take care of it later.

[2021-04-22 05:18] #24568 closed

[2021-04-22 05:18] #24667 closed

[2021-04-22 05:25] jihoon-seo opened #27657 "Some lines are too long in Markdown code"
**This is a Bug Report**

**Problem:**
Some lines are too long in Markdown code.

- [intro-windows-in-kubernetes.md](https://github.com/kubernetes/website/blob/master/content/en/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md) ([raw](https://github.com/kubernetes/website/raw/master/content/en/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md))
- [use

[2021-04-22 05:36] inductor commented on #26890
/close

[2021-04-22 05:36] #26890 closed

[2021-04-22 08:22] sftim commented on #4322
We should move https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ to a new home. The other pages in this section are about resources you can create to manage a workload (eg CronJob, Deployment).

[2021-04-22 08:23] sftim commented on #4510
This largely duplicates #4322

/triage duplicate
/remove-triage accepted

[2021-04-22 08:23] sftim commented on #4510
/close

[2021-04-22 08:23] #4510 closed

[2021-04-22 08:23] sftim commented on #4322
/triage accepted

[2021-04-22 08:26] sftim commented on #27657
/priority awaiting-more-evidence

@jihoon-seo I think this could be a controversial policy change. We should discuss it and if adopting a policy, first we should document that within https://kubernetes.io/docs/contribute/ - then (maybe a 2nd commit in the same PR) we tweak the line endings.

My gut feeling is that different people will have different views on what we should do.

If we definitely d

[2021-04-22 08:29] sftim commented on #27642
/language zh

[2021-04-22 08:30] sftim commented on #27586
/label team/katacoda

[2021-04-22 08:31] sftim commented on #27629
/retitle Document uprating a non High Available kubeadm cluster to HA
/language en

[2021-04-22 08:32] sftim commented on #27629
/triage accepted
/priority backlog

[2021-04-22 09:05] sftim commented on #27539
AIUI the change for `LegacyNodeRoleBehavior` is:
change the `Stage` column from `True` to `Beta`

and the change for `WindowsEndpointSliceProxying` is:
change the `Stage` column from `beta` to `Beta`

no other changes needed

[2021-04-22 09:12] tengqm commented on #27657
+1000 to break long lines!

[2021-04-22 09:43] OrochW opened #27665 "cpu-default-namespace.md error"
line 248
kubectl create namespace default-cpu-example
kubectl delete namespace constraints-cpu-example

[2021-04-22 10:03] TBBle commented on #26335
At least for Windows Support, the ["Pause Image" on the Windows support page](https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/#pause-image) seems like a good place to document what it is. I hope that once that is updated to indicate that the pause image is k8s.gcr.io/pause:3.5 and is maintained as part of Kubernetes, that will help reduce confusions like

[2021-04-22 10:05] sftim commented on #27657
I've added this to the agenda for the next SIG Docs weekly meeting.

[2021-04-22 10:25] diegonat opened #27667 "Improvement for k8s.io/docs/reference/access-authn-authz/certificate-signing-requests/"
I believe here that an example of CertificateSigningRequest request should be added.

[2021-04-22 11:13] a-mccarthy commented on #26717
We talked about excluding _index.md files bc they are built from a template and blank, however that is not the case for every _index.md file, for example: https://kubernetes.io/docs/tasks/tools/.

I still feel like the number _index.md files with non-template generated content is relatively low, so we can probably still exclude them from this search, but I wanted to make a note about them existing

[2021-04-22 12:36] tengqm opened #27670 "[zh] Kubeadm files to sync in 1.21"
Below are files out-of-sync as of 2021-04-22 in v1.21.
The list can be divided into three groups for work.

1. Kubeadm (1)   @tengqm   #27720

[code]

2. kubeadm (2)   @tengqm #27722

[code]

3. Kubeadm (3)   @tengqm  #27723

[code]

/language zh

[2021-04-22 12:37] tengqm opened #27671 "[zh] setup files to sync for v1.21"
Below are files out-of-sync as of 2021-04-22 in v1.21.
The list can be divided into three groups for work.

1. Windows support  @tengqm

[code]

2. Setup   @tengqm   #27727

[code]

3. Large Cluster Setup  @howieyuen #27802

[code]

/language zh

[2021-04-22 12:38] tengqm opened #27672 "[zh] Concepts files to sync for v1.21"
Below are files out-of-sync as of 2021-04-22 in v1.21.
The list can be divided into several groups for work.

1. Concepts/Configuration:  @mengjiao-liu #27721 #27799 #27686 #27742

[code]

2. Concepts/Scheduling: @tengqm  #27741

[code]

3. Concepts/Storage:  @tengqm  #27746

[code]

4. Service (1):  @tengqm  #27749

[code]

5. Service (2)  @tengqm  #27752

[code]

6. Service (3)  @tengqm  #27759

[2021-04-22 12:40] tengqm opened #27673 "[zh] Reference files to sync for v1.21"
Below are files out-of-sync as of 2021-04-22 in v1.21.
The list can be divided into several groups for work.

1. Scheduling    @mengjiao-liu  #27822

[code]

2. Kube-apiserver reference   @tengqm   #27848

[code]

3. Kcm reference  @tengqm  #28142

[code]

4. Kube-proxy reference  @tengqm #28320

[code]

5. Kube-scheduler reference  @HongjiangHuang #28298

[code]

6. Feature gates  @mengjiao-liu #

[2021-04-22 12:42] tengqm opened #27674 "[zh] Tasks files to sync for v1.21"
Below are files out-of-sync as of 2021-04-22 in v1.21.
The list can be divided into several groups for work.

1. Extend Kubernetes   @CaoDonghui123  #27892

[code]

2. Debug  @howieyuen  #27919

[code]

3. Monitor Node Health  @howieyuen  #27887

[code]

4. Run Application  @tengqm  #27985

[code]

5. Install Kubectl  @tengqm #27986

[code]

6. Kustomization  @CaoDonghui123 #28023

[code]

7. Conf

[2021-04-22 12:43] tengqm opened #27675 "[zh] Tutorials files to sync for v1.21"
Below are tutorial files out-of-sync as of 2021-04-22 in 1.21:

1. Tutorials (1)  @CaoDonghui123  #27729

[code]

2. Tutorials (2)  @CaoDonghui123

[code]

3. Tutorials (3)

[code]

/language zh

[2021-04-22 12:44] tengqm commented on #27672
/language zh
/triage accepted
/help

[2021-04-22 12:44] tengqm commented on #27675
/triage accepted
/help

[2021-04-22 12:45] tengqm commented on #27674
/triage accepted
/help

[2021-04-22 12:45] tengqm commented on #27673
/triage accepted
/help

[2021-04-22 12:45] tengqm commented on #27671
/triage accepted
/help

[2021-04-22 12:46] tengqm commented on #27670
/triage accepted
/help

[2021-04-22 13:54] sftim commented on #26190
BTW this is not the same as https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md - which belongs within https://k8s.dev/

[2021-04-22 16:06] shannonxtreme commented on #26295
IIUC, they're saying we don't attempt to access the pod we create in step 3 of 3 using `curl`, instead ending the tutorial on the "Create a $POD_NAME variable" step.

We could add an extra step at the end as follows:

 You can access the pod directly through the API using the `curl` command:

[code]

[2021-04-22 18:22] sftim commented on #25195
/reopen
/remove-lifecycle rotten

[2021-04-22 22:32] awesomepras opened #27681 "Persistent Volumes"
Link: https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes
Under the VolumePlugin - what does it mean by 'depends on the driver'.
It will be awesome if there is some hyperlink to describe some guide on how to setup the driver.

`CSI | depends on the driver`

[2021-04-23 00:42] #27539 closed

[2021-04-23 01:08] #21563 closed

[2021-04-23 01:18] kbhawkey opened #27682 "Add reference information for stable metrics"
**This is a Feature Request**
Following on issue https://github.com/kubernetes/website/issues/24915, create reference information for
the list of stable metrics.

The list of stable metrics is mentioned in PR: https://github.com/kubernetes/website/pull/27421.

Investigate creating reference information in the docs for https://github.com/kubernetes/kubernetes/blob/master/test/instrumentation/testda

[2021-04-23 10:01] Zhuzhenghao commented on #27642
/assign

[2021-04-23 10:53] sftim commented on #24117
/label team/katacoda
/reopen

Maybe this does need work?

[2021-04-23 12:18] shuuji3 commented on #20895
/assign

[2021-04-23 12:32] #27514 closed

[2021-04-23 13:20] shuuji3 opened #27690 "Search results include print-friendly pages"
**This is a Bug Report**

**Problem:**
When I search with some keywords, I encounter a print-friendly page on the search result (for example, https://kubernetes.io/docs/tasks/manage-kubernetes-objects/_print/). Such links navigate users to unnormal pages.

**Proposed Solution:**
Filter out print-friendly pages from the search index. A possible fix is to add a `noindex` directive for the pages (ref

[2021-04-23 13:42] shuuji3 opened #27691 "Translate tasks/job/automated-tasks-with-cron-jobs/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [tasks/job/automated-tasks-with-cron-jobs/](https://kubernetes.io/docs/tasks/job/automated-tasks-with-cron-jobs/) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2021-04-23 19:35] ramirogarciaf opened #27696 "Issue with k8s.io/es/docs/tutorials/online-training/"
The information aren't show .

[2021-04-23 21:43] ns-dlowkeen opened #27697 "Need api docs for v1.15"
It seems like you took down the v1.1-1.16 documentation as it is no longer available [here](https://kubernetes.io/docs/home/supported-doc-versions/). My company is still using v1.15 and needs access to the docs. Can you please put these docs onto the website? Or is there a way/place I can download a copy? Thank you.

[2021-04-23 21:54] shannonxtreme commented on #27697
I'm not a member of the k8s org, but you could try web.archive.org for a
snapshot of the deprecated docs (see
http://web.archive.org/web/20201028193319/https://v1-15.docs.kubernetes.io/docs/home/)
while you wait for a response.

On Fri, Apr 23, 2021, 5:43 PM Donovan Lowkeen ***@***.***>
wrote:

[2021-04-23 23:39] inductor commented on #26865
/close

[2021-04-23 23:39] #26865 closed

[2021-04-24 05:36] shuuji3 opened #27700 "Translate tasks/job/indexed-parallel-processing-static/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [tasks/job/indexed-parallel-processing-static/](https://kubernetes.io/docs/tasks/job/indexed-parallel-processing-static/) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2021-04-24 11:01] favourch commented on #25658
/remove-lifecycle stale

On Sat, Apr 24, 2021, 11:32 AM fejta-bot ***@***.***> wrote:

[2021-04-24 11:57] tengqm commented on #27697
Another option is to try the following command `docker run -p 8000:8000 quay.io/tengqm/kab` and then open `http://localhost:8000` for browsing. The KAB (Kubernetes API Browser) has APIs spanning 1.13 to 1.21. It has more accurate type descriptions and easy to use UI. For a background on the tool, check https://github.com/tengqm/kab.

[2021-04-24 13:46] shuuji3 opened #27706 "Translate tasks/network/validate-dual-stack/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [tasks/network/validate-dual-stack/](https://kubernetes.io/docs/tasks/network/validate-dual-stack/) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2021-04-25 01:42] kbhawkey commented on #23254
/remove-lifecycle stale

[2021-04-25 02:09] mengjiao-liu commented on #27672
I will update this section：
1. Concepts/Configuration
[code]
/assign

[2021-04-25 05:49] hustclf opened #27710 "emptyDir will delete when pod is deleted or rerminated."
In the doc  `When a Pod is removed from a node for any reason, the data in the emptyDir is deleted permanently.`
doc: https://kubernetes.io/docs/concepts/storage/volumes/#emptydir

This is not precise, emptyDir will be deleted when pod is marked deleted or  `Terminated`.

According to https://github.com/kubernetes/kubernetes/blob/6067d8556a017102fcd92c6a06738524c36847a9/pkg/kubelet/volumemanager/p

[2021-04-25 08:13] GGGxie opened #27714 "Improvement for k8s.io/zh/docs/tasks/access-application-cluster/port-forward-access-application-cluster/"
https://k8s.io/examples/application/guestbook/redis-master-deployment.yaml return 404

[2021-04-25 08:38] #25241 closed

[2021-04-25 09:32] sftim opened #27715 "Feature gate ExternalPolicyForExternalIP not documented"
**This is a Bug Report**

**Problem:**

The feature gate `ExternalPolicyForExternalIP` is not listed in https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/

**Proposed Solution:**
Add `ExternalPolicyForExternalIP` to the feature gate list

**Page to Update:**
https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/

**Kubernetes Version:**
v1.21

[2021-04-25 09:33] sftim commented on #27715
@kubernetes/sig-network-misc we'd like this feature documented, even if it has already graduated

[2021-04-25 09:36] sftim commented on #26295
/retitle Trouble accessing pod during “Deploying an App” tutorial
/triage accepted

[2021-04-25 09:42] sftim commented on #26081
/sig network

[2021-04-25 09:42] sftim commented on #26081
/remove-sig network
/sig apps

[2021-04-25 09:46] sftim commented on #26081
I'm not actually sure how much of this is down to the behavior of Deployment and how much of this is down to behavior of `kubectl`.

If someone would like to look into this further, that'd be champion.

[2021-04-25 11:02] inductor commented on #26864
/close

[2021-04-25 11:02] #26864 closed

[2021-04-25 11:03] inductor commented on #26891
/close

[2021-04-25 11:04] #26891 closed

[2021-04-25 11:07] #27646 closed

[2021-04-25 12:31] sftim commented on #26642
Done in #26676
/close

[2021-04-25 12:31] #26642 closed

[2021-04-25 15:29] #23254 closed

[2021-04-25 19:46] nikhita commented on #21749
Yes, individual repos can rename their branch if they are interested. https://k8s.dev/rename has more details. Having said that, we've only renamed low-volume repos until now.

@spiffxp do you know if the issue with webhooks getting triggered on all issues/PRs has been fixed? If yes, can we trial this on k/website?

cc @mrbobbytables @cblecker

[2021-04-26 01:25] seokho-son commented on #27491
/assign @seokho-son

[2021-04-26 01:37] zhiguo-lu opened #27718 "[zh] translate concepts/Volume Health Monitoring"
**This is a Feature Request**

translate /docs/concepts/services-networking/topology-aware-hints.md into Chinese.

**What would you like to be added**
/zh/docs/concepts/services-networking/topology-aware-hints.md

[2021-04-26 02:30] CaoDonghui123 commented on #27675
/assign I'm working on this
1.Tutorials (1)
[code]

[2021-04-26 02:43] inductor commented on #26893
/close

[2021-04-26 02:43] #26893 closed

[2021-04-26 03:08] atoato88 commented on #26903
/close
PR #27081 which fixes this issue has merged now.
I close this issue.

[2021-04-26 03:08] #26903 closed

[2021-04-26 05:05] tengqm commented on #27670
/remove-help

[2021-04-26 07:31] #27587 closed

[2021-04-26 08:17] jihoon-seo commented on #27491
/assign @jihoon-seo

[2021-04-26 10:14] CaoDonghui123 commented on #27675
I will work for Tutorials (2)

[2021-04-26 12:18] hobin2017 opened #27733 "Improvement for k8s.io/docs/concepts/overview/working-with-objects/field-selectors/"
Is it possible to use `metadata.annotations.field01=val01` to select objects? This confuse me since the `annotations` is a field of `metadata`. If it is possible, the field selector is more powerful than the label selector.

[2021-04-26 12:46] shuuji3 opened #27734 "Translate contribute/review/for-approvers/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [contribute/review/for-approvers/](https://kubernetes.io/docs/contribute/review/for-approvers/) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2021-04-26 14:22] stephen-dexda opened #27736 "Document that annotation values can only be strings"
**This is a Feature Request**

Currently only *key* validity is specified. There is no mention on https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/ that e.g. numeric, boolean, list or other types for annotation *values* are not permitted.

[2021-04-26 18:45] #25163 closed

[2021-04-26 19:45] #25250 closed

[2021-04-26 19:45] #25285 closed

[2021-04-26 19:45] #25224 closed

[2021-04-26 20:01] marciogmorales opened #27738 "Guide for scheduling Windows containers in Kubernetes - Wrong apiVersion (Runtimeclass)"
The following Runtimeclass is not part of the api: **node.k8s.io/v1**

[code]

Change it for: **node.k8s.io/v1beta1**

[2021-04-27 00:00] woter1832 opened #27740 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
Hi,

Just started the tutorial and getting the following error when trying run `minikube version`:
[code]

Thanks

[2021-04-27 03:21] tengqm commented on #27718
/triage accepted
/language zh

[2021-04-27 09:25] sftim opened #27745 "Document the eviction API"
**This is a Feature Request**

**What would you like to be added**
https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/pod-v1/ should mention or hyperlink the way you can trigger Pod eviction via the Kubernetes API. See https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.21/#create-eviction-pod-v1-core for an example of how this is documented using the older API ref

[2021-04-27 09:26] sftim commented on #27745
@tengqm I wonder if you'd be willing to triage this one / add any thoughts?

[2021-04-27 10:23] #27691 closed

[2021-04-27 10:53] ouliuquan opened #27748 "Configuring Redis using a ConfigMap missing the "kubectl create configmap" step"
Hi, when I follow this https://kubernetes.io/docs/tutorials/configuration/configure-redis-using-configmap/, I can not do the same result, because the pods/redis seem like failed to mounted volume, here is the log:
`MountVolume.SetUp failed for volume "config" : configmap "example-redis-config" not found`

So I search other people instruction, the offical instruction missing the command
`kubectl cr

[2021-04-27 12:30] jai commented on #19405
/assign

@sftim I'll probably be back with questions - where's better to post/ask, here on the issue, or in Slack?

[2021-04-27 13:10] jai commented on #19405
Should I just add the info for Startup probes? I see that they came last with the feature gate in 1.16 onwards, checking now re: Liveness and Readiness but I guess they're earlier than the supported doc versions.

Still would be nice to mention though - as a reader with maybe a bit less context I would get confused if the page title mentions 3 kinds of probes and the docs only talk about version r

[2021-04-27 13:12] jai commented on #19405
Also at this point for the `StartupProbe` feature flag since it went beta in 1.18 and GA in 1.20 the text would be something like:

Kubernetes v1.16 and v1.17 require the `StartupProbe` [feature gate](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/) to be set. Startup probes are enabled by default in Kubernetes v1.18 onwards.

[2021-04-27 13:32] sftim commented on #19405
IMO it's OK to focus on documenting for v1.21, the current documentation version. If we want to backport the equivalent change to the older documentation, that's an option too.

For example, if you want to revise https://v1-17.docs.kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#define-startup-probes to explain the feature gate, that's OK (but also _no

[2021-04-27 13:50] jai commented on #19405
@sftim how do I go about editing the old version of the docs? Or is there a how-to/readme somewhere?

I've submitted a PR for the current version/file with the text I suggested: https://github.com/kubernetes/website/pull/27750

Do you know btw when Liveness and Readiness probes went alpha/beta/GA? I found Liveness probes introduced [here](https://github.com/kubernetes/kubernetes/pull/365/files) bu

[2021-04-27 13:56] jai commented on #26330
/assign

[2021-04-27 14:01] jai commented on #26330
@sftim where do I find the content on the left pane to edit (screenshot attached)? I ran a search with `ack` but couldn't find it in the entire repo/folder. Did I miss it or not look well enough?

![CleanShot 2021-04-27 at 21 00 23@2x](https://user-images.githubusercontent.com/1943284/116254580-a8e0b400-a79b-11eb-8e4f-0486073e80d9.png)

[2021-04-27 14:02] sftim commented on #19405
Since I opened this issue, several Kubernetes releases have come out and I didn't update the issue text to clarify it. I have now.

[2021-04-27 14:05] jai commented on #26295
This seems to be a comment about the same page as #26330 so I'm happy to handle this at the same time, just need to understand the content that needs to be added. Will go through the tutorial a few times more.

[2021-04-27 14:05] jai commented on #26295
/assign

[2021-04-27 14:10] jai commented on #19405
If all PRs were this simple 😂

Actually it turns out some of them really are :)

[2021-04-27 14:37] adithyaakrishna commented on #26876
/assign

[2021-04-27 14:42] sftim commented on #27736
/triage accepted
/sig architecture

[2021-04-27 14:42] jai commented on #26330
Ok so looks like it's here: https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios/blob/master/7/step3.md - do I just submit a PR there?

[2021-04-27 14:43] #19405 closed

[2021-04-27 20:50] shannonxtreme opened #27753 "QoS class isn't used for out-of-resource handling rankings"
Page: https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/#interactions-of-pod-priority-and-qos

The second paragraph needs clarity. The QoS class isn't actually used to calculate the pod eviction order, but *can* be used to estimate the order.

## Suggested content

The kubelet uses Priority to order pods for out-of-resource eviction. You can use the QoS class to estimate th

[2021-04-27 21:35] sftim commented on #27753
/sig node

[2021-04-27 21:37] sftim commented on #27738
Hi @marciogmorales.

Which version of the Kubernetes documentation were you reading, and which version of Kubernetes are you using?
I suspect you might be using a version of Kubernetes from before RuntimeClass reached v1 (general availability).

/kind support
/triage needs-information

[2021-04-27 21:40] sftim commented on #12303
Also see https://github.com/kubernetes/website/issues/27697

[2021-04-27 21:41] sftim commented on #27740
Hi @woter1832

If you try again, are those symptoms still present? It may already have been fixed.

[2021-04-27 21:43] sftim commented on #27733
Field selectors only works with certain limited fields. See https://kubernetes.io/docs/concepts/overview/working-with-objects/field-selectors/#supported-fields

/kind support

[2021-04-27 21:44] sftim commented on #26240
/close

[2021-04-27 21:44] #26240 closed

[2021-04-28 01:38] jihoon-seo commented on #27280
Resolved by #27548

[2021-04-28 01:38] #27280 closed

[2021-04-28 03:09] seokho-son commented on #27490
/close

[2021-04-28 03:09] #27490 closed

[2021-04-28 04:11] seokho-son commented on #27489
/close

[2021-04-28 04:12] #27489 closed

[2021-04-28 04:14] seokho-son opened #27763 "Korean Localization for dev-1.21-ko.2 branch"
## In English

**This is a Feature Request**

Korean Localization for `dev-1.21-ko.2` branch.

**What would you like to be added**

Any localization contributions for Korean.

**Comments**

- This issue is to notify the schedule of Korean localization to contributors.
- `dev-1.21-ko.2` is the current work branch for Korean localization.
- Korean PR Wrangler: TBD

**Important dates**
- A Korean loc

[2021-04-28 04:14] seokho-son commented on #27763
/triage accepted

[2021-04-28 04:17] seokho-son opened #27764 "Outdated files in the dev-1.21-ko.2 branch"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.21-ko.2 branch.
This report is based on `scripts/diff_l10n_branches.py ko upstream/dev-1.21-ko.1 upstream/dev-1.21-ko.2`

### 35 files to be modified
1. [ ] M1.  `content/en/case-studies/ibm/ibm_featured_logo.svg`  | 1(+XS) 1(-)
1. [ ] M2.  `content/en/docs/concepts/architecture/nodes.md`  | 7(+XS) 0(-)
1. [ ] M3.  `content/en/

[2021-04-28 04:18] seokho-son commented on #27764
/help

[2021-04-28 04:18] seokho-son commented on #27764
/triage accepted

[2021-04-28 04:20] seokho-son commented on #27764
/language ko

[2021-04-28 04:23] jihoon-seo commented on #27764
M1 ~ M20 제가 하겠습니다~
/assign

[2021-04-28 04:33] seokho-son commented on #27764
content/en/docs/tasks/* 제가 처리하겠습니다. (M29 ~ M35)

M1 ~ M20, D1: @jihoon-seo
M21 ~ M28: TBD HELP
M29 ~ M35: @seokho-son

[2021-04-28 04:34] seokho-son commented on #27764
감사합니다.. ^^
D1. content/en/docs/concepts/extend-kubernetes/extend-cluster.md  도 함께 처리 부탁드립니다.

[2021-04-28 04:37] seokho-son commented on #27764
/assign @seokho-son

[2021-04-28 07:17] inductor commented on #26900
/close

[2021-04-28 07:17] inductor commented on #26871
/close

[2021-04-28 07:17] #26900 closed

[2021-04-28 07:17] #26871 closed

[2021-04-28 07:18] inductor commented on #26876
/close

[2021-04-28 07:18] #26876 closed

[2021-04-28 07:18] inductor commented on #26888
@KobayashiD27 こちらいかがでしょうか！

[2021-04-28 07:25] inductor commented on #26878
/close

[2021-04-28 07:25] #26878 closed

[2021-04-28 07:27] KobayashiD27 commented on #26888
@inductor  まだまだ途中の状態ですが、急いだほうがよろしいでしょうか？　締め切りなどありましたら教えてください。

[2021-04-28 07:28] inductor commented on #26888
急ぎというわけではないですが、そろそろマージできそうなくらいに他のPRも片付いてきたのと1週間くらい経過したのでPing慕って感じです！

[2021-04-28 07:30] KobayashiD27 commented on #26888
了解しました。ご連絡ありがとうございます！

[2021-04-28 10:30] ariscahyadi commented on #26955
/reopen

[2021-04-28 15:05] cloudbow opened #27785 "Improvement for k8s.io/docs/tasks/administer-cluster/reserve-compute-resources/"
"Kubernetes nodes can be scheduled to Capacity"

Above is the first line. I believe it means that by default the pods can use all the capacity of the nodes irrespective of the feature called "Node allocatable" which is not enforced by default.

This is not clear from the doc whether by default "Node Allocatable" feature is enforced or not.

[2021-04-28 16:16] shannonxtreme commented on #27753
/triage accepted

eh, worth a shot

[2021-04-28 18:26] shannonxtreme commented on #15560
How does this page differ from https://kubernetes.io/docs/tasks/access-application-cluster/service-access-application-cluster/? That task seems to be about exposing applications to external clients while this page seems more about using Services to connect pods in a cluster. Is that about right?

[2021-04-28 18:34] shannonxtreme commented on #15909
Is the [original from-scratch page](http://web.archive.org/web/20190227062309/https://kubernetes.io/docs/setup/scratch/) a good starting point to gather content for a newer one?

[2021-04-28 18:43] shannonxtreme commented on #20348
From what I understand, the scheduler iterates through each `weight` field for each matched affinity term and computes a sum, then places pods in nodes that meet the scheduling requirements by order of highest weight sum. Is this correct?

[2021-04-28 19:46] sftim commented on #15909
I'd say it at least gives us a structure to work from and try to improve.

We should bear in mind the [content guide](https://kubernetes.io/docs/contribute/style/content-guide/) which has changed since that build-from-scratch page was written.

[2021-04-28 19:50] #27753 closed

[2021-04-28 19:56] marciogmorales commented on #27738
Hello,
Kubernetes: 1.19.8

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Tim Bannister ***@***.***>
Sent: Tuesday, April 27, 2021 15:37
To: kubernetes/website ***@***.***>
Cc: marciogmorales ***@***.***>; Mention ***@***.***>
Subject: Re: [kubernetes/website] Guide for scheduling Windows containers in Kubernetes - Wrong apiVersion (Runtimeclass) (#27738)

Hi @

[2021-04-28 20:41] shannonxtreme commented on #15909
/assign

[2021-04-28 22:59] #25296 closed

[2021-04-28 22:59] #25298 closed

[2021-04-28 22:59] #25291 closed

[2021-04-29 03:02] #27718 closed

[2021-04-29 03:59] #25230 closed

[2021-04-29 04:55] tengqm commented on #27672
/remove-help

[2021-04-29 05:51] zhiguo-lu opened #27798 "[zh] translate concepts/Topology Aware Hints"
**This is a Feature Request**

translate /docs/concepts/services-networking/topology-aware-hints.md into Chinese

**What would you like to be added**

/zh/docs/concepts/services-networking/topology-aware-hints.md

[2021-04-29 05:52] zhiguo-lu commented on #27798
/language zh
/assign

[2021-04-29 07:02] shuuji3 commented on #20760
Resolved by #16772?

[2021-04-29 08:14] sftim commented on #20760
/close

[2021-04-29 08:14] #20760 closed

[2021-04-29 08:40] shuuji3 opened #27803 "Translate concepts/cluster-administration/addons/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [concepts/cluster-administration/addons/](https://kubernetes.io/docs/concepts/cluster-administration/addons/) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2021-04-29 10:00] #25232 closed

[2021-04-29 10:27] mengjiao-liu commented on #27673
I will work on：
1. Scheduling
[code]
/assign

[2021-04-29 10:53] shuuji3 commented on #27690
I found this issue has not happened on the docsy side. When adding the print feature, a new condition was added to prevent bots follow the print page: [layouts/partials/head.html](https://github.com/google/docsy/blob/fb2e9c9647e02109b018921d356ad3a7bed10a26/layouts/partials/head.html#L10). The same modification is needed to the `layouts/partials/head.html` of the Kubernetes website.

[2021-04-29 11:22] sftim commented on #27738
Hi again. What was the page inside https://v1-19.docs.kubernetes.io/ where you saw `node.k8s.io/v1` RuntimeClass mentioned?

[2021-04-29 11:45] danifr opened #27805 "kubectl patch retainkeys-strategy example commands are missing `--type merge`"
https://kubernetes.io/docs/tasks/manage-kubernetes-objects/update-api-object-kubectl-patch/#use-strategic-merge-patch-to-update-a-deployment-using-the-retainkeys-strategy example commands are missing `--type merge`

Resulting in:

[code]
I will prepare a patch for this.

[2021-04-29 13:38] jai commented on #27204
/assign

[2021-04-29 13:44] jai commented on #27204
@sftim is this just a matter of getting a "yes" from someone on SIG Node to confirm that `TaintNodesByCondition` is GA? It seems to be as you mentioned, since 1.17 (https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/) but let me know if we need explicit confirmation and I'll chase it down.

[2021-04-29 14:36] james-m-henderson opened #27808 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
I'm seeing the following errors while trying to go through the tutorial:

[code]

[2021-04-29 14:37] james-m-henderson commented on #27808
This looks like a duplicate of:

https://github.com/kubernetes/website/issues/27740

[2021-04-29 15:29] jai commented on #27204
Confirmed GA since 1.17 by @ehashman

https://kubernetes.slack.com/archives/C0BP8PW9G/p1619709771318900?thread_ts=1619707338.315200&channel=C0BP8PW9G&message_ts=1619709771.318900

Will update the page

[2021-04-29 16:04] sftim commented on #27745
Slightly related to https://github.com/kubernetes/enhancements/issues/85

[2021-04-29 16:06] marciogmorales commented on #27738
Hello,
The documentation I'm accessing is the one on this URL:
https://kubernetes.io/docs/setup/production-environment/windows/user-guide-windows-containers/

The bottom page has this information:
**Last modified March 19, 2021 at 6:40 PM PST: Updated Windows doc reviewers (64c16a583)**

[2021-04-29 17:23] bm13kk opened #27812 "Привіт Minikube not used local dokerfile"
This instruction used docker image from k8s repo, exactly `k8s.gcr.io/echoserver:1.4`.

But for clarity of tutorial, we should use an image, builded locally from `minikube/Dockerfile`

[2021-04-29 18:04] #25281 closed

[2021-04-29 18:04] #25317 closed

[2021-04-29 20:10] ehashman commented on #25388
@stevekuznetsov I'll make sure we get a reviewer, I might pull in @dashpole and I'll take a look as well.

[2021-04-29 20:12] brandond opened #27814 "Kubelet image credential provider docs should provide information on where to find exec plugin binaries"
**This is a Feature Request**

**What would you like to be added**
The [kubelet image credential provider](https://kubernetes.io/docs/tasks/kubelet-credential-provider/kubelet-credential-provider/) ([KEP-2133](https://github.com/kubernetes/enhancements/issues/2133)) documentation does not have any references as to where users can actually obtain the exec plugins. There is in fact only a single lin

[2021-04-30 01:24] adamnovak opened #27816 "Kubeadm documentation example for customizing the control plane with scheduler flags is misleading and results in a broken scheduler if used as written"
**This is a Bug Report**

**Problem:**

The example at https://github.com/kubernetes/website/blob/master/content/en/docs/setup/production-environment/tools/kubeadm/control-plane-flags.md#scheduler-flags shows `scheduler.extraArgs.config` in the `ClusterConfiguration` being used without `scheduler.extraVolumes`. Because `kubeadm` (by default?) sets up the scheduler to run inside a pod, it is necess

[2021-04-30 02:38] CaoDonghui123 commented on #27674
I will work for Extend Kubernetes

[2021-04-30 03:21] neolit123 commented on #27816
no other ways are supported.

i can see how the kubeadm example may be bogus in that regard.
if scheduler config overrides flags that is an artifact of the kube-scheduler. normally flags should override config, or the mixture should just error out.

if some kube-scheduler specifics are not documented they should go here:
https://kubernetes.io/docs/concepts/scheduling-eviction/kube-scheduler/
or he

[2021-04-30 03:22] neolit123 commented on #27816
/help

[2021-04-30 03:25] neolit123 commented on #27816
perhaps pages like:
https://kubernetes.io/docs/reference/command-line-tools-reference/kube-scheduler/
https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/

should start linking to the respective component config pages:
https://kubernetes.io/docs/reference/config-api/

[2021-04-30 07:04] zanise opened #27824 "Install and Set Up kubectl on Linux"

[2021-04-30 08:06] jai commented on #26295
So I'm not sure if this is what people are expecting: https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios/pull/36/commits/fe640b5f6b162a1f663bb388beb85844452173f5

From the comment above it sounds like @tsoy wants to access the actual output of the app running in the container? What I've added is accessing the Pod data through the API server.

Looking through the Pod spec it doesn'

[2021-04-30 08:42] sftim commented on #25832
/remove-lifecycle rotten

[2021-04-30 08:44] sftim commented on #27824
Hi @zanise

What seems to be the problem?
/triage needs-information

[2021-04-30 08:45] sftim commented on #27812
This is an issue about https://kubernetes.io/docs/tutorials/hello-minikube/ and, I think, specifically its Ukrainian localization.

[2021-04-30 09:03] diegonat opened #27831 "Improvement for k8s.io/docs/tasks/administer-cluster/configure-upgrade-etcd/"
maybe adding an example with data dir for restore

[2021-04-30 09:08] tsoy commented on #26295
Hello, I've just checked the tutorial once again and want to clarify what I meant
So I'm on "Interactive Tutorial - Deploying an App",  Step 3 of 3.
[code]
And than we do indeed create a path variable `POD_NAME`
[code]
So at this point I expect that we will access an endpoint and use `POD_NAME` variable in some way or another. But instead the tutorial ends implying that we have already accessed it

[2021-04-30 10:16] jai commented on #26295
Ok so a couple of options here I guess. Given that there's duplication with the next tutorial, I could see the rationale for going with Option 1. @tsoy @sftim thoughts?

###Option 1
Remove the whole $POD_NAME section, don't export the var, don't do anything with it. Resulting file would look like https://gist.github.com/jai/52a99cd617f3e7d0985de8db606bf64b

###Option 2
Add instructions to curl the

[2021-04-30 10:21] #26303 closed

[2021-04-30 10:24] tengqm commented on #27674
@CaoDonghui123 Work item 1 is yours now. Thanks!

[2021-04-30 13:26] jai commented on #26168
@oke-py @Cweiping so this just involves regenerating the reference documentation from the OpenAPI spec, a la https://kubernetes.io/docs/contribute/generate-ref-docs/kubernetes-api/?

[2021-04-30 13:32] jai commented on #26346
Looks like a list was typed up here: https://github.com/kubernetes/community/pull/5455/files - I guess we can re-use the same content?

@sftim where should this be documented?

[2021-04-30 13:34] jai commented on #26346
/assign

[2021-04-30 13:34] jai commented on #26168
/assign

[2021-04-30 13:38] jai commented on #25751
@mingyuanzhu @tengqm I think this issue can be closed.

[2021-04-30 13:39] jai commented on #25751
/close

[2021-04-30 13:39] #25751 closed

[2021-04-30 13:44] jai commented on #25639
Seems this issue is now talking about updating the German page rather than the English page? @sftim should we update the label here to be German?

Either we change this to a German language updating issue, or close the issue, since the English version is canonical and it does contain the origin of the word Kubernetes:

[2021-04-30 13:45] jai commented on #25639
/assign

[2021-04-30 13:57] jai commented on #19264
This has been fixed. The latest/current version of the tutorial uses `app=`:

Looks like it was fixed in [this commit](https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios/commit/345ec781866d7a93d32f85381bc18916dea09700)

/close

[2021-04-30 14:02] jai commented on #23394
/assign

[2021-04-30 14:04] jai commented on #23394
@sftim just the date for the main release, or for the RCs as well?

Did you have an idea about where - do I just add it as text under the H1 version number, any special formatting needed? Or just propose something?

[2021-04-30 14:07] jai commented on #23394
Ah I just saw this PR: https://github.com/kubernetes/website/pull/22736 - would that PR cover this change, if so I'll unassign myself from this if there are people working on the PR.

[2021-04-30 14:15] wangyysde commented on #27816
/assign

[2021-04-30 14:25] sftim commented on #25639
@jai you might have misunderstood. We should not close this issue until https://kubernetes.io/docs/concepts/overview/what-is-kubernetes/ mentions “k8s”

/retitle Mention k8s abbreviation in “What is Kubernetes”.

[2021-04-30 14:26] jai commented on #25639
Gotcha I'm on it

[2021-04-30 14:26] shuuji3 opened #27838 "Translate concepts/cluster-administration/kubelet-garbage-collection/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [concepts/cluster-administration/kubelet-garbage-collection/](https://kubernetes.io/docs/concepts/cluster-administration/kubelet-garbage-collection/) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2021-04-30 14:40] wprogLK commented on #24080
issue still exists on the [tutorial](https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/). According to `minikube version` katacota is running a minikube of version v1.6.2.

[2021-04-30 14:41] sftim commented on #24080
/label team/katacoda
/reopen

[2021-04-30 15:46] sftim opened #27840 "Improve “Resource metrics pipeline” topic"
https://kubernetes.io/docs/tasks/debug-application-cluster/resource-metrics-pipeline/ is a bit too basic. A diagram would _really_ help, and we should try to avoid mentioning developer details like `hack/kube-up.sh`

/language en

[2021-04-30 16:05] feloy opened #27841 "Translation of API Reference documentation"
**This is a Feature Request**

**What would you like to be added**

It would be nice to have translations of the generated API reference documentation (https://kubernetes.io/docs/reference/kubernetes-api/) in different languages.

**Why is this needed**

As for other sections of the documentation, it is interesting for people not reading english to have documentation in their native language.

**C

[2021-04-30 19:48] rolfedh opened #27843 "Create an annotated blog post template"
**This is a Feature Request**

Blog post contributors have issues creating new blog posts. They sometimes miss basic formatting and style recommendations.

Potential contributors might give up without trying if they have trouble finding or understanding our guidance.

Some contributors forge ahead without being aware of or following guidance. This wastes effort and goodwill during the review cycle

[2021-04-30 19:55] rolfedh commented on #27843
@sftim It's important to place this template where contributors are MOST likely to see it, even if they don't read the contributor guidelines. Does the blog tooling allow a directory like the one proposed without displaying the template as a blog post?

[2021-04-30 23:15] kbhawkey commented on #27840
/triage accepted

[2021-04-30 23:17] kbhawkey commented on #27843
/triage accepted

[2021-05-01 07:15] #25333 closed

[2021-05-01 08:32] shuuji3 opened #27847 "Translate concepts/cluster-administration/system-logs/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [concepts/cluster-administration/system-logs/](https://kubernetes.io/docs/concepts/cluster-administration/system-logs/) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2021-05-01 11:19] #16093 closed

[2021-05-01 14:06] lianghao208 commented on #27629
Any updates on this issue?

[2021-05-02 01:22] #25323 closed

[2021-05-02 01:22] #25327 closed

[2021-05-02 02:22] #22580 closed

[2021-05-02 03:22] #25351 closed

[2021-05-02 07:22] #25332 closed

[2021-05-02 11:42] pjhwa commented on #27764
M21 ~ M23: 제가 하겠습니다~
/assign

M1 ~ M20, D1: @jihoon-seo
M21 ~ M28: @pjhwa
M29 ~ M35: @seokho-son

[2021-05-02 15:27] #23777 closed

[2021-05-02 21:28] #25354 closed

[2021-05-03 00:40] arisjr opened #27853 "Configuring a cgroup driver"
I have a kubeadm upgraded 1.21.0 k8s cluster. I'm trying to migrate my cluster, from cgroupfs to systemd.

This document is not helping, because it fails on the edit part:
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/configure-cgroup-driver/#modify-the-kubelet-configmap

I normally edit resources on kubernetes, but when I edited kubelet cm to change cgroupDriver:
# kubectl -n kube-s

[2021-05-03 01:55] gaojx opened #27854 "Improvement for k8s.io/docs/tasks/administer-cluster/nodelocaldns/"
The instructions are vague in several critical places, so it is hard for the users to know what to do exactly. Example:

In the step 2: If you are using IPv6, ..., If you are using the sample manifest from the previous point, this will require to modify the configuration line L70 like this health [__PILLAR__LOCAL__DNS__]:8080

In the step 3:
Substitute the variables in the manifest with the right

[2021-05-03 02:02] jai commented on #19264
@sftim I think this issue can be closed, can you confirm?

[2021-05-03 08:13] jihoon-seo opened #27858 "[ko] Wrong custom heading ID"
**This is a Bug Report** from [this review comment](https://github.com/kubernetes/website/pull/27728#discussion_r624591737).

**Problem:**
Wrong custom heading ID in https://kubernetes.io/ko/docs/concepts/services-networking/dns-pod-service/
![image](https://user-images.githubusercontent.com/46767780/116854481-ae724a00-ac32-11eb-89e9-5bbc56fc6a40.png)

**Proposed Solution:**
[code]

**Page to Upda

[2021-05-03 09:42] jihoon-seo commented on #27858
/assign

[2021-05-03 11:29] #25367 closed

[2021-05-03 13:29] #25066 closed

[2021-05-03 18:03] lfrancke commented on #24882
/remove-lifecycle stale

[2021-05-03 19:32] #25319 closed

[2021-05-03 19:32] #25409 closed

[2021-05-04 00:32] Arhell opened #27861 "image overlaps content"
https://kubernetes.io/
![1](https://user-images.githubusercontent.com/26163841/116948873-4d299580-ac89-11eb-9e09-2b0b767ca19b.png)
/area web-development
/assign

[2021-05-04 09:23] sftim commented on #27843
I would use an [archetype](https://gohugo.io/content-management/archetypes/) for this, and mention the archetype in the README etc.

[2021-05-04 10:28] hcguersoy commented on #27621
Observed same here with k8s in version 1.19.x.
Falling back to k8s 1.18.17, the error changes to `no matches for kind "Ingress" in version "networking.k8s.io/v1"`.

[2021-05-04 10:35] rolfedh commented on #27843
Sounds like a good idea. I'll give it a try.

[2021-05-04 12:03] adriancuadrado opened #27864 "Broken anchor link"
https://kubernetes.io/docs/reference/kubernetes-api/service-resources/service-v1/#ServiceSpec
Under **`ports.nodePort`** there is a link that points to https://kubernetes.io/docs/concepts/services-networking/service/#type-nodeport , but instead of `#type-nodeport` it should be `#nodeport`

[2021-05-04 12:05] adriancuadrado commented on #27864
I would do the change myself, but the damn cla doesn't allow me to do anything and no matter what I try it never works...
for instance here https://github.com/kubernetes/website/pull/27258 or here https://github.com/kubernetes/website/pull/26933

[2021-05-04 13:36] #25375 closed

[2021-05-04 15:32] csantanapr opened #27865 "concepts page for spanish links doesn't take to spanish pages"
**This is a Bug Report**

concepts page for spanish links doesn't take to spanish pages
https://kubernetes.io/es/docs/concepts/#objetos-de-kubernetes

**Problem:**
The page is the Spanish translation, the links on this page should take you to the Spanish version of the link when available, if not available then ok to leave it pointing to English

**Proposed Solution:**
Update the page links to poi

[2021-05-04 15:33] csantanapr commented on #27865
/language es

[2021-05-04 15:33] csantanapr commented on #27865
/assign

[2021-05-04 17:11] raelga commented on #27865
/assign

[2021-05-04 17:13] raelga commented on #27865
Thanks @csantanapr for the report, this is quite common as the translation is a work in progress and we don't have (yet) a way to easily detect where a page is referenced. Let me know if you have any issue working with the PR.

[2021-05-04 18:14] #27204 closed

[2021-05-04 18:51] greijal18 opened #27867 "Installing kubeadm"
There is a rpm's pack issue with a install of redhat8 distr.
https://www.gitmemory.com/issue/kubernetes/kubernetes/95455/798812505

The same thing happend with a lot of people around the word

[2021-05-04 18:52] greijal18 opened #27868 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/"
There is a rpm's pack issue with a install of redhat8 distr.
https://www.gitmemory.com/issue/kubernetes/kubernetes/95455/798812505

The same thing happend with a lot of people around the word

[2021-05-04 19:40] seokho-son commented on #27858
/triage accepted

[2021-05-04 20:37] csantanapr commented on #27865
I will work on this page as one-off, and think about how can we automate the detection for all links that should point to the Spanish version.

[2021-05-04 20:38] csantanapr commented on #27865
Maybe something that can be done at build time? Don't know how is the site is build I guess Hugo but not how much pre-processing is done

[2021-05-04 20:53] stevek-pro commented on #25061
It would save energy, too.

[2021-05-04 21:05] mhrbmr commented on #25061
Just in curiosity, because I’m new to open source software, but does that mean anyone can potentially contribute? Say if someone wanted to build a dark mode out and then submitted it for review, would that be something someone could do?

[2021-05-04 21:17] stevek-pro commented on #25061
Indeed, you can and it will be much appreciated. I already started working on it. If you want to coordinate and help, let me know.

[2021-05-04 21:30] mhrbmr commented on #25061
Ok, that’s really cool to know. Im not extremely experienced as a dev yet, and so I don’t know if I’d be of much use, but I’d love to check out the code and see how it goes.

[2021-05-05 00:16] csantanapr commented on #13948
Hi Can someone add this to the list on pages that need translation?

### Services, Load Balancing, and Networking
- [ ] [concepts/services-networking/service](concepts/services-networking/service/)
- [ ] [concepts/services-networking/service-topology/](concepts/services-networking/service-topology/)
- [ ] [concepts/services-networking/dns-pod-service/](concepts/services-networking/dns-pod-service/

[2021-05-05 00:23] csantanapr commented on #13948
Storage also missing Spanish.
Can someone add this to the list on pages that need translation to Spanish?
[code]

[2021-05-05 13:38] sftim opened #27876 "Document the kubelet's HTTP API"
**This is a Feature Request**

**What would you like to be added**
Add a new reference page that explains the kubelet's HTTP API.

**Why is this needed**
https://stackoverflow.com/questions/35075195/is-there-api-documentation-for-kubelet-api records that the answer is “no”; let's make that be “yes”

**Comments**
/kind feature
/language en
/sig node

[2021-05-05 14:55] sgandon commented on #18850
does this mean that readonly for hostpath is allowed and working but just not documented  ?

[2021-05-05 14:58] php-coder commented on #18850
@sgandon yes, exactly

[2021-05-05 14:59] sgandon commented on #18850
that is ownsome I was just going to rule out this solution because of the security issue. Thanks for your answer I'll test it right away.

[2021-05-05 15:04] sgandon commented on #18850
well,
I am using this manifest
[code]
but I get this error
[code]

[2021-05-05 15:05] fernandoanael opened #27877 "Interactive Tutorial - Exposing Your App"
I'm getting a
`Error Details: Environment not starting correctly.`
when trying to do the https://kubernetes.io/docs/tutorials/kubernetes-basics/expose/expose-interactive/ tutorial

[2021-05-05 15:10] sgandon commented on #18850
the VolumeMount on the pod spec allows a readonly setup but not on the Volume definition.

[2021-05-05 15:17] php-coder commented on #18850
You're right and that's what I meant. Perhaps, I explained it a little vague.

[2021-05-05 17:07] sgandon commented on #18850
well in that case I think you should close this issue as it is not an issue? the hostpath volume type does not support readonly but the container volume mount supports it and is documented here : https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/pod-v1/#volumes-1

[2021-05-05 17:12] shannonxtreme opened #27878 "Add node conditions info to Taints and Tolerations"
## Overview

Page to update: https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/#taint-nodes-by-condition

Blocked by #27739

## Description

Based on [this discussion thread](https://github.com/kubernetes/website/pull/27739#discussion_r626155100) in PR #27739, we should add the following information about node conditions to the Taint Nodes by Condition section of this pa

[2021-05-05 17:19] alculquicondor commented on #27878
"The system" is a mix of components:
- the kube-controller-manager sets the taints via the node controller.
- apiserver sets the toleration for DiskPressure for non-BestEffort pods.
- scheduler checks if pods have tolerations for the taint

But that's too much implementation detail. "The system" or "the control plane" should be enough. WDYT @sftim ?

[2021-05-05 17:24] php-coder commented on #18850
@sgandon My point was that we can promote best practices by adding a hint to the documentation. Most of the people, don't read API specifications, they google and find a page with documentation. In this case, an advise of other options might be useful.

[2021-05-05 17:26] shannonxtreme commented on #27878
Ah, if it's the control plane then we can say that haha I thought it was something else :P

[2021-05-05 18:31] Ayzrian opened #27880 "Interactive Tutorial - Creating a Cluster - Env is not starting"
![image](https://user-images.githubusercontent.com/44115170/117191417-34d08c80-ade9-11eb-825e-9a8311d8a285.png)

[2021-05-05 21:17] AndresC46 opened #27881 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
I got the below error when starting the interactive tutorial: Creating a CLuster
Kubernetes Bootcamp Terminal

Error Details: Environment not starting correctly.

[2021-05-05 22:54] sftim commented on #27880
/label team/katacoda

[2021-05-05 22:58] sftim commented on #27867
I'm afraid I didn't understand the issue description even after rereading it.

@greijal18 would you be willing to explain a bit more?

- which web page isn't right?
- what seems to be wrong?
- _optional_ the steps you think might help to improve that piece of documentation
  For example, you might be suggesting that we add a note to help people who are using RHEL 8 understand an error message that

[2021-05-05 23:51] #25414 closed

[2021-05-06 02:05] #27798 closed

[2021-05-06 10:46] bugzyz commented on #14973
@yvzsrt
Hey, just got the same confusion here. Very curious about what the "manual" storage class is...

[2021-05-06 10:46] bugzyz commented on #14973
@yvzsrt
Hey, just got the same confusion here. Very curious about what the "manual" storage class is...

[2021-05-06 12:23] Kartik494 commented on #27877
@fernandoanael the tutorial seems running fine when i am tested in my env , could you let me know more details on that?

[2021-05-06 12:28] Kartik494 commented on #27665
@OrochW could you provide example on which you find it incorrect so that it would be easy to resolve

[2021-05-06 12:30] Kartik494 commented on #27621
@zeev512  could you let me know the example yaml file so that it can be easy to test

[2021-05-06 12:51] #25426 closed

[2021-05-06 18:49] hcguersoy commented on #27621
I run into the same issue then I follow the instructions in [Set up Ingress on Minikube with the NGINX Ingress Controller](https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/#create-a-minikube-cluster).
I'm configured k8s v1.20.6 to be used in minikube, inside hyperkit.

Starting up minikube with enabled ingress controller (sorry for some German comments inside):

[code]

[2021-05-06 20:36] #27865 closed

[2021-05-07 01:39] fernandoanael commented on #27877
Hello @Kartik494, I was getting the same as https://github.com/kubernetes/website/issues/27880.
Now the whole interactive frame is "blank"
<img width="1180" alt="Screen Shot 2021-05-06 at 9 39 19 PM" src="https://user-images.githubusercontent.com/19177765/117385701-8f361f80-aeb3-11eb-8b1c-8cb07ad07587.png">

[2021-05-07 07:43] Roarain opened #27898 "Issue with k8s.io/docs/tasks/administer-cluster/nodelocaldns/"
**This is a Bug Report**

There's an extra comma!

v1.18.18 using ipvs exec sed

[code]

[code]

[code]

[2021-05-07 08:19] jihoon-seo commented on #27491
M1 ~ M30 (Ref: PR #27589)
제가 하겠습니다~~

[2021-05-07 09:08] jihoon-seo opened #27899 "[ko] A Markdown table is broken"
**This is a Bug Report**

**Problem:**
A Markdown table is broken
https://kubernetes.io/ko/docs/concepts/services-networking/service/#aws-nlb-support
![image](https://user-images.githubusercontent.com/46767780/117426519-f230c080-af5e-11eb-858d-7d129b85636c.png)

**Proposed Solution:**
In https://github.com/kubernetes/website/blob/master/content/ko/docs/concepts/services-networking/service.md

[As-

[2021-05-07 09:45] jihoon-seo opened #27902 "[ko] nit: Remove spaces in kubectl --output flag"
**This is a Bug Report**

**Problem:**
In https://kubernetes.io/ko/docs/concepts/workloads/controllers/job/#%EC%98%88%EC%8B%9C-%EC%9E%A1-%EC%8B%A4%ED%96%89%ED%95%98%EA%B8%B0 ,
there are spaces in kubectl --output flag,
which don't exist in [English version](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/workloads/controllers/job.md#running-an-example-job).

**Proposed S

[2021-05-07 11:53] jai commented on #24133
/assign

[2021-05-07 12:14] jai commented on #25658
does this refer to the section in the screenshot? If so, Replica Controller is gone:

![CleanShot 2021-05-07 at 19 13 18@2x](https://user-images.githubusercontent.com/1943284/117447961-5441f380-af68-11eb-9aab-e14dd409ebba.png)

@sftim can you confirm if I'm looking at the correct section? If so, I think this issue can be closed?

[2021-05-07 12:14] jai commented on #25658
/assign

[2021-05-07 12:18] jai commented on #26989
/assign sladyn98

[2021-05-07 12:33] jai commented on #20134
/assign

[2021-05-07 12:37] jai commented on #23394
/unassign

[2021-05-07 15:08] madhusudhan-patha opened #27907 "Interactive Tutorial - Creating a Cluster - Cannot start minikube"

[2021-05-07 15:10] madhusudhan-patha commented on #27907
Getting below error while starting minikube
`
$ minikube start
W0507 15:04:10.444159    2324 main.go:173] Unable to create/truncate file /root/.minikube/logs/lastStart.txt: open /root/.minikube/logs/lastStart.txt: read-only file system
log: exiting because of error: log: cannot create log: open /tmp/minikube.minikube.root.log.WARNING.20210507-150410.2324: read-only file system`

[2021-05-07 18:46] adamulacha commented on #27812
@bm13kk - what do you mean that we should use an image builded locally from minikube/Dockerfile?
This step in a tutorial (https://kubernetes.io/docs/tutorials/hello-minikube/#create-a-deployment) creates a deployment using an image on an external registry - k8s.gcr.io

[2021-05-07 20:36] umann commented on #18079
The problem seems to be that up to this point, all commands could be executed by simply clicking on the grey box, but this one does not work. Here, kubectl proxy needs to be entered manually in Terminal 2, then, in Terminal 1, curl successfully returns sg like Hello Kubernetes bootcamp! | Running on: kubernetes-bootcamp-fb5c67579-nvrmk | v=1

So the issue is with the tutorial IMHO.

[2021-05-07 21:01] #25502 closed

[2021-05-08 05:20] jai commented on #24133
@sftim I added the redirect (https://github.com/kubernetes/website/pull/27904) but it doesn't seem to be working on the deploy preview or locally. Any advice would be appreciated:

[code]

[2021-05-08 05:31] jai opened #27916 "/contribute/participating/ returns 404"
**This is a Bug Report**

**Problem:**
"Not found" / 404 returned by
* https://kubernetes.io/docs/home/contribute/participating/

**Proposed Solution:**
* Redirect to correct page at https://kubernetes.io/docs/contribute/participate/

**Page to Update:**
* https://kubernetes.io/docs/home/contribute/participating/

Additional Info:
* Was actually testing [static/_redirects](https://github.com/kuber

[2021-05-08 05:37] jai commented on #27916
/assign

[2021-05-08 05:38] jai commented on #27916
Seems like the correct link is https://kubernetes.io/docs/contribute/participate/

[2021-05-08 05:39] jai opened #27917 "/contribute/page-templates returns 404"
**This is a Bug Report**

**Problem:** "Not found" / 404 returned by https://kubernetes.io/docs/contribute/style/page-templates/

**Proposed Solution:**
* Fix redirect (need to identify correct page)
* Seems other pages just redirect to [/docs/contribute/](https://kubernetes.io/docs/contribute) - could that be a solution?

**Page to Update:**
* https://kubernetes.io/docs/contribute/style/page-temp

[2021-05-08 15:08] kbhawkey commented on #27916
/triage accepted

[2021-05-08 15:52] jai commented on #27917
/assign

[2021-05-08 15:52] fduran opened #27920 "Delete a StatefulSet"
[code]

[2021-05-09 06:11] GaurPeeyush commented on #27446
/assign

[2021-05-09 06:11] UtkarshMathur05 commented on #27446
/asssign

[2021-05-09 06:11] UtkarshMathur05 commented on #27446
/assign

[2021-05-09 08:12] #27545 closed

[2021-05-09 09:48] jai commented on #19264
/close

[2021-05-09 10:17] jai commented on #26168
I regenerated the API docs, but the same links are still there (the broken ones).

These are the locations where they appear in the k8s source:

[code]

obviously some of them are generated but given that trunk still has these broken references I don't think generating the API docs helps. I'll see about submitting a PR into k8s source I guess.

[2021-05-09 11:12] #25531 closed

[2021-05-09 14:56] zhiguo-lu opened #27924 "[zh] translate tasks/Configuring a cgroup driver"
**This is a Feature Request**
translate /docs/tasks/administer-cluster/kubeadm/configure-cgroup-driver.md into Chinese

**What would you like to be added**
/zh/docs/tasks/administer-cluster/kubeadm/configure-cgroup-driver.md

/language zh
/assign

[2021-05-09 16:24] SivaTharun commented on #27078
@raelga is this issue still being tracked, if not i would like to give it a try.

[2021-05-10 00:20] tengqm commented on #27924
/triage accepted
/kind feature

[2021-05-10 00:54] jihoon-seo commented on #27858
- Resolved in `dev-1.21-ko.2` branch by #27859
- Will be resolved in `master` branch by merging `dev-1.21-ko.2` branch to `master` branch

[2021-05-10 00:54] #27858 closed

[2021-05-10 01:12] #25537 closed

[2021-05-10 03:10] zjcnew opened #27928 "Add Windows node kube-proxy POD always CrashLoopBackOff"
Windows Server 2019  1809
kubelet v1.21.0
DockerMsftProvider  1.0.0.8
The Fannel network plug-in in VXLAN mode is used

on Master:
[root@master ~]# kubectl get pod -A -w | grep -i win
kube-system   kube-flannel-ds-windows-amd64-749dr   1/1     Running            1          22m
kube-system   kube-proxy-windows-zsgk4              0/1     CrashLoopBackOff   7          22m
kube-system   kube-proxy-win

[2021-05-10 04:51] MikeSpreitzer commented on #20074
/remove-lifecycle stale

[2021-05-10 08:12] #26921 closed

[2021-05-10 10:31] anasalloush opened #27931 "Issue with k8s.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/"
Hi,

In this document, In this section
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/#kubelet-serving-certs

It is mentioned that in order to make the metrics-server works probably, you have to edit the ConfigMap as shown

[code]
But in a kubeadm deployed cluster, there is no `config `key in the `kubelet-config-1.21` ConfigMap ..
There is this:
[code]
Which you can not

[2021-05-10 12:18] fabriziopandini commented on #20952
/remove-lifecycle stale

[2021-05-10 12:19] fabriziopandini commented on #20955
/remove-lifecycle rotten

[2021-05-10 12:21] fabriziopandini commented on #20961
/remove-lifecycle stale
/remove-lifecycle rotten

[2021-05-10 16:00] bandwiches opened #27934 "Issue with k8s.io/docs/tasks/tools/install-kubectl-linux/"
More of a question, but why would anyone even follow this guide when all the supporting documentation refers to minikube & turn-key solutions.  The article makes no sense as a beginner learning K8S.

Kubectl Install: whatever method you want
Kubectl Config: minikube
Tutorials: minikube

# Images
![image](https://user-images.githubusercontent.com/16140382/117688402-5aa9b880-b17e-11eb-8010-f33a9c005

[2021-05-10 16:07] neolit123 commented on #27931
thanks for the report.
the key should be renamed from `config` to `kubelet` in https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/#kubelet-serving-certs

PRs welcome.

/triage accepted
/sig cluster-lifecycle
/kind bug

[2021-05-10 16:14] hcguersoy commented on #27621
It works as described now with upgrade to the new minikube version `v1.20.0`, see https://github.com/kubernetes/minikube/issues/11115 and https://github.com/kubernetes/minikube/issues/11121

[2021-05-10 16:21] neolit123 commented on #27867
closing until further details are provided.
please reopen at that point.

/close

[2021-05-10 16:21] #27867 closed

[2021-05-10 16:58] benjamintanweihao opened #27935 "Unable to follow Ingress with NGINX task in Katacoda"
This doesn't work with the launched version of MiniKube (1.8).,

Specifically, it fails when running the following command:

[code]

Returns:

no matches for kind "Ingress" in version "networking.k8s.io/v1"

[2021-05-10 17:03] sbwsg opened #27936 "Document treatment of `$$` in container command/args and envvars"
**Problem:**

[Related Bug Report in Kubernetes project](https://github.com/kubernetes/kubernetes/issues/101137)
[Related Pull Request in Kubernetes project](https://github.com/kubernetes/kubernetes/pull/101254)

Several sections of Kubernetes' API reference (e.g. [Entrypoint](https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/pod-v1/#entrypoint), [Environment Variables](https:

[2021-05-10 17:13] idjemaoune opened #27937 "Secrets (docker config)"
Doc link: ``https://kubernetes.io/docs/concepts/configuration/secret/#docker-config-secrets``

I think it's more understandable by adding to this command the docker server (registry)
Current version: ``kubectl create secret docker-registry secret-tiger-docker
  --docker-username=tiger
  --docker-password=pass113
  --docker-email=tiger@acme.com``

New version:  ``kubectl create secret docker-regist

[2021-05-10 17:16] #25543 closed

[2021-05-10 18:01] shannonxtreme opened #27938 "Move Pod Priority and Preemption under Scheduling and Eviction"
Suggestion from @alculquicondor in https://github.com/kubernetes/website/issues/27739#issuecomment-836725383_

/sig docs
/assign
cc @sftim

[2021-05-10 18:22] ankitzm commented on #27861
I think the issue is resolved now.
Check this
![image](https://user-images.githubusercontent.com/66105983/117706262-b447cc80-b1ea-11eb-9d0a-46a7c792d873.png)

[2021-05-10 21:48] sftim commented on #27938
I think this makes sense. I'd like to keep the _URL_ https://kubernetes.io/docs/concepts/scheduling-eviction/ but change the display title to _Scheduling, Preemption and Eviction_.

[2021-05-10 21:49] sftim commented on #27920
/triage needs-information

[2021-05-10 21:50] sftim commented on #27937
/sig storage

[2021-05-10 21:51] sftim commented on #27935
/label team/katacoda
(other folks can help too)

If this Katacoda environment could use a newer version of Kubernetes, I think that'd fix it.

[2021-05-10 22:28] sftim commented on #25528
I'm going to reopen this in case it does need fixing. Ok to close if it doesn't.
/reopen

@kubernetes/sig-storage-misc - does “`storageaccounttype`: Azure storage account Sku tier. Default is empty.” look right?

[2021-05-10 22:32] sftim commented on #22961
/remove-lifecycle rotten

[2021-05-10 22:34] sftim commented on #27928
@zjcnew, GitHub is not the right place for support requests.

If you're looking for help, you could try [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

[2021-05-11 00:07] fduran commented on #27920
@sftim Hello Tim, sorry for the one-click copy paste zero effort ticket.
Page is [delete stateful set](https://kubernetes.io/docs/tasks/run-application/delete-stateful-set/), it says

[code]

but `--cascade=false` is deprecated, at least in

[code]

when trying `--cascade=false` I get the error message:
`warning: --cascade=false is deprecated (boolean value) and can be replaced with --cascade=orph

[2021-05-11 05:27] raelga commented on #27078
Hello @SivaTharun, I don't know if @rajpratyush started working on the issue. If not, is still open to collaboration! :)

[2021-05-11 05:49] rajpratyush commented on #27078
/unassign

[2021-05-11 10:47] 10raj opened #27942 "Kubernetes Documentation"
kubectl get all

Error ::  Unable to connect to the server: dial tcp [::1]:8080: connectex: No connection could be made because the target machine actively refused it.

I am using it on windows 10 Edu
version is latest 1.21

[2021-05-11 12:59] sftim opened #27944 "RemainingItemCount feature gate incorrectly documented as alpha"
[Feature Gates](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/) lists RemainingItemCount as alpha but https://github.com/kubernetes/kubernetes/pull/81682 shows it went beta.

/kind bug
/language en
/sig api-machinery

[2021-05-11 13:39] alculquicondor commented on #27938
sgtm

[2021-05-11 14:22] guettli opened #27946 "Missing redirect for https://kubernetes.io/de/docs/setup/minikube/"
I am on this page: https://kubernetes.io/de/docs/setup/minikube/

Although I am German, I prefer to read the English version and choose "English" at the top.

Now I get redirected to https://kubernetes.io/

That's a bit strange.

Expected: An English page about "minikube".

[2021-05-11 14:25] sftim commented on #27934
It'd be better for that page to direct readers to https://kubernetes.io/docs/setup/

[2021-05-11 14:26] sftim commented on #27934
However we document current practice for cluster setup, we still need a good home for the page about making sure you have a working client config.

[2021-05-11 15:50] #25493 closed

[2021-05-11 15:56] bandwiches commented on #27934
I'm going to be honest here and it may seem like a little rant, but I'm hoping to convey my point somehow.

I was redirected here from `ansible/awx`.  They have recently shifted from Docker deployments to Minikube deployments and their documentation is garbage at best.  They suggest to use minikube, however after much research on my end it seems that minikube is for developers and not for producti

[2021-05-11 16:11] sftim commented on #27946
GitHub is not the right place for support requests @guettli.

If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes)

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

/kind support

[2021-05-11 16:12] sftim commented on #27942
Is there a page where you're seeing access not working @10raj? If you want help for your own cluster, that wouldn't really be a documentation defect.

/triage needs-information

[2021-05-11 16:15] sftim commented on #27946
/area web-development
/triage accepted
/kind feature
/priority backlog

Thanks for suggesting this improvement @guettli

[2021-05-11 16:22] sftim commented on #27936
BTW, all the API documentation lives upstream - for example https://github.com/kubernetes/kubernetes/blob/2112bddae101b35934f1d66288449adf31243033/pkg/apis/core/types.go#L2103-L2107

We should however make the same thing clear for pages such as https://kubernetes.io/docs/tasks/inject-data-application/define-interdependent-environment-variables/#define-an-environment-dependent-variable-for-a-contai

[2021-05-11 17:45] inductor commented on #27657
Just one thing to note for putting new lines in a long sentence.
Japanese (and I believe Chinese too) does not have any blanks(" ") between each word in sentences. When you put a new line in Markdown it will be rendered as a blank. Even in Japanese team we have some discussion where we should put new line in a sentence or not but it basically brings unnecessary blank for us so it's not the "best".

[2021-05-11 18:25] jimangel commented on #27360
From today's meeting: I think you should own the GDS page and share edit rights to "k8s-sig-docs-leads@googlegroups.com," if inheritance doesn't work we can directly add each lead as an editor.

[2021-05-11 18:40] a-mccarthy commented on #27360
@jimangel i've added that group to the dashboard, let me know if you are able to access/edit it.

[2021-05-11 18:49] sftim opened #27948 "Switch Netlify to use Ubuntu Focal 20.04 build image"
**This is a Feature Request**

**What would you like to be added**
Adjust Netlify to build https://kubernetes.io/ using a worker running Ubuntu 20.04 (currently: Ubuntu 16.04)

**Why is this needed**
The march of progress.

**Comments**
This change happens in Netlify, not in Git.
Eventually Ubuntu 16.04 will go fully out of support.

[2021-05-11 21:31] evil2in opened #27949 "Issue with k8s.io/docs/tutorials/configuration/configure-java-microservice/configure-java-microservice-interactive/"
The Kubernetes Bootcamp Terminal for the Configuring a Java Microservice Interactive Tutorial is stating that the environment is no longer available.

[2021-05-11 22:29] waldo323 opened #27951 "Install and Set Up kubectl on Linux"
Using the Red Hat-based Distrobutions I got to "Verify kubectl configuration", and upon first reading and trying I believe I need to run kube-up.sh or have kubeadm installed to create a cluster, however neither of these were installed with the package manager installation of kubectl (which makes sense for kubeadm since there are instructions are further into the guide. I don't know which package m

[2021-05-11 22:53] savitharaghunathan commented on #27951
/triage accepted
/language en

[2021-05-11 22:57] #27816 closed

[2021-05-12 01:11] tengqm commented on #27657
My understanding of this issue is a little bit different. It looks to me that some contributors are not very familiar with Markdown syntax. The pain point is not about lines; it is about paragraphs. Maybe we, as members of the team, need to let the contributors know how Markdown paragraphs are processed. For example, the following one is not good because it puts all sentences into a single line fo

[2021-05-12 01:47] jihoon-seo commented on #27946
It seems that this happens because
the English version of https://kubernetes.io/de/docs/setup/minikube/ page (=> https://kubernetes.io/docs/setup/minikube/)
does not exist anymore.

When you try to reach https://kubernetes.io/docs/setup/minikube/,
an redirection to https://kubernetes.io/docs/tasks/tools/ occurs.

One possible solution is that
German localization team update these pages:

- https:/

[2021-05-12 03:23] FalkWinkler opened #27953 "Adding Windows nodes"
Install containerd with powershell do not work with .\Install-Containerd.ps1 -ContainerDVersion v1.4.1.

The download url is 'https://github.com/containerd/containerd/releases/download/vv1.4.1/containerd-v1.4.1-windows-amd64.tar.gz'.

 So ".\Install-Containerd.ps1 -ContainerDVersion 1.4.1." will work the command.

[2021-05-12 08:11] #20293 closed

[2021-05-12 08:47] TairDal opened #27955 "Interactive Tutorial - Exploring Your App"
Facing this problem:
This enviroment is no longer avilable

[2021-05-12 09:56] sftim commented on #25658
/remove-lifecycle stale

[2021-05-12 09:57] sftim commented on #25658
Fixed in https://github.com/kubernetes/website/pull/25918
/close

[2021-05-12 09:57] #25658 closed

[2021-05-12 09:57] sftim commented on #25123
/triage accepted

@AshtarCodes what would you like to know about redirects?

[2021-05-12 11:31] sftim commented on #27946
Ah, right. That makes sense.

/retitle Missing redirect for https://kubernetes.io/de/docs/setup/minikube/

/remove-area web-development
/language de
/remove-kind feature
/kind bug

[2021-05-12 11:31] sftim commented on #27946
https://kubernetes.io/de/docs/setup/minikube/ should redirect to https://kubernetes.io/de/docs/tasks/tools/

[2021-05-12 12:19] peterparsons-chef opened #27958 "Interactive Tutorial - Creating a Cluster"
Interactive Tutorial environment repeteadly fails to start with the message:

Error Details: Environment not starting correctly.

[2021-05-12 13:46] seokho-son commented on #27899
/triage accepted

[2021-05-12 13:46] seokho-son commented on #27902
/triage accepted

[2021-05-12 13:46] seokho-son commented on #27307
/triage accepted

[2021-05-12 16:19] inductor commented on #26859
/close

[2021-05-12 16:19] #26859 closed

[2021-05-12 16:47] dspencer-kc opened #27964 "Issue with k8s.io/docs/tutorials/kubernetes-basics/explore/explore-interactive/"
Getting a message stating 'This environment is no longer available.' on the tutorials.

[2021-05-12 16:48] dspencer-kc commented on #27964
Looks like this has already been reported.  Closing now.

[2021-05-12 16:48] #27964 closed

[2021-05-12 17:03] jansenmcq opened #27965 "Interactive Tutorial - Creating a Cluster"
Upon initializing the tutorial, the message "This environment is no longer available" displays on the terminal and I can't interact with it at all.
Verify at: https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/

[2021-05-12 18:30] MarcPow opened #27967 "PodTopologySpreadConstraints documentation has a small error about versioning and feature flags."
**This is a Bug Report**

**Problem:**

The documentation on Pod Topology Spread Constraints indicates:

[code]

**Proposed Solution:**
The documentation should read
[code]

This feature went default-on when it hit Beta in 1.18 per the [Feature Gate Reference] (https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/)

**Page to Update:**
https://kubernetes.io/docs/concepts

[2021-05-12 19:21] liggitt commented on #27336
Specifically, binding to the group `system:serviceaccounts:$namespace`, to make it clear this is being done at namespace-level granularity. This will map well to the namespace-level `PodSecurity` admission plugin being developed in 1.22

Also, we should add notes to the mutating fields in PSP and indicate they should be avoided if planning to migrate to the `PodSecurity` admission plugin, since th

[2021-05-12 20:26] #20485 closed

[2021-05-13 01:02] kbhawkey commented on #27948
/triage accepted

[2021-05-13 01:03] kbhawkey commented on #27944
/triage accepted

[2021-05-13 02:40] CaoDonghui123 commented on #27675
/close

[2021-05-13 02:40] #27675 closed

[2021-05-13 04:13] ThomasWunderlich opened #27974 "Interactive Tutorial - Creating a Cluster"
minikube version (and minikube start) fails because this is apparently running in a read-only version
I0513 04:10:50.086865   13742 out.go:229] Setting OutFile to fd 1 ...
log: exiting because of error: log: cannot create log: open /tmp/minikube.minikube.root.log.INFO.20210513-041050.13742: read-only file system

[2021-05-13 05:40] jm1223kim opened #27976 "Translate concepts/cluster-administration/system-logs in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/cluster-administration/system-logs in Korean

**Why is this needed**
No Traslation concepts/cluster-administration/system-logs in Korean

**Comments**

Page to Update :
https://kubernetes.io/docs/concepts/cluster-administration/system-logs/

[2021-05-13 05:41] jm1223kim commented on #27976
/language ko
/assign

[2021-05-13 09:16] jmorcar opened #27979 "Installing Addons has outdated link to Flannel network plugin"
In kubernetes documentation page: https://kubernetes.io/docs/concepts/cluster-administration/addons/

There is an obsolete link to addon Flannel - > https://github.com/flannel-io/flannel/blob/master/Documentation/kubernetes.md (v1.15-16)

The latest documentation is in main README --> https://github.com/flannel-io/flannel#deploying-flannel-manually (v1.17+)

[2021-05-13 12:04] sftim commented on #27948
How about we Just Do This, test a build, see if it works OK?

@kubernetes/sig-docs-leads how does that sound to folks?

[2021-05-13 13:07] MartinKanters opened #27982 "Non-existent script is being referenced"
In the [contribute upstream guide](https://kubernetes.io/docs/contribute/generate-ref-docs/contribute-upstream/#generating-the-openapi-spec-and-related-files) one of the steps is to run `hack/update-api-reference-docs.sh`, this file does not exist (anymore) in [kubernetes/hack](https://github.com/kubernetes/kubernetes/tree/master/hack).
I'm not sure if it got renamed or removed, otherwise I would'

[2021-05-13 15:16] sftim commented on #27982
/triage accepted

There might be an updated guide within https://k8s.dev/

[2021-05-13 15:16] sftim commented on #27982
/language en

[2021-05-13 15:24] #27967 closed

[2021-05-13 15:30] sftim commented on #27979
/retitle Installing Addons has outdated link to Flannel network plugin
/kind cleanup
/language en
/triage accepted
/good-first-issue

I agree with the fix that @jmorcar suggests

[2021-05-13 18:18] tabbysable commented on #27336
/unassign

[2021-05-13 18:25] savitharaghunathan commented on #27336
/help-wanted
Feel free to reach out to sig-security &/ sig-auth slack channel for guidance.

[2021-05-13 18:26] savitharaghunathan commented on #27336
/help

[2021-05-13 18:27] #23855 closed

[2021-05-14 02:11] tengqm commented on #27671
/remove-help

[2021-05-14 04:50] ianychoi commented on #27976
@jm1223kim: Looks like a great idea - would you kindly contribute for this part translation in Korean? While I understand that still many parts are not translated into Korean, it will be great if you clarify more demand/requirement why this module should be more prioritized in details, if you are unable to contribute translation on that part.

[2021-05-14 11:52] sftim commented on #27953
I think this might be a bug in https://github.com/kubernetes-sigs/sig-windows-tools/releases/latest/download/Install-Containerd.ps1 rather than in the Kubernetes documentation.

If so, you could report this via https://github.com/kubernetes-sigs/sig-windows-tools/issues/ @FalkWinkler

[2021-05-14 11:52] sftim commented on #27974
/label team/katacoda

[2021-05-14 11:52] sftim commented on #27965
/label team/katacoda

[2021-05-14 11:52] sftim commented on #27958
/label team/katacoda

[2021-05-14 16:36] #25641 closed

[2021-05-14 21:37] #25562 closed

[2021-05-14 22:11] PI-Victor commented on #26967
/close

[2021-05-14 22:11] #26967 closed

[2021-05-14 22:11] PI-Victor commented on #26967
thanks for tracking it @jai!

[2021-05-14 22:12] PI-Victor commented on #25645
we missed more than a few of these in the past, i'd like to make this happen.

/assign

i hope to be able to submit a PR soonish.

[2021-05-15 00:48] jai commented on #27917
The last version I could find was https://v1-17.docs.kubernetes.io/docs/contribute/style/page-templates/ so it seems this page was deprecated/removed

[2021-05-15 04:51] hzliangbin commented on #27979
/assign

[2021-05-15 10:52] seokho-son commented on #27491
/close

[2021-05-15 10:52] #27491 closed

[2021-05-15 15:25] zhiguo-lu opened #27995 "[zh] translate tasks/Enabling Topology Aware Hints"
**This is a Feature Request**
translate /docs/tasks/administer-cluster/enabling-topology-aware-hints.md into Chinese.

**What would you like to be added**
/zh/docs/tasks/administer-cluster/enabling-topology-aware-hints.md

/language zh
/assign

[2021-05-15 20:46] jimangel commented on #21749
I think we have the ability to make this change ASAP. I will send something out to the mailing list and bring it up at this weeks SIG Docs meeting. If there's no objection, I can open the non-disruptive PRs and we can plan a date. Thanks!

[2021-05-15 22:17] viveksahu26 commented on #27087
Hey @k8s-ci-robot, This would be my first contribution to Kubernetes. So, can please assign this to me. And please elaborate on the issue.

[2021-05-16 09:50] #25676 closed

[2021-05-16 11:41] turanmehmet opened #28000 "Issue with k8s.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/"
Documentation needs to be upgrade a Kubernetes cluster created with kubeadm from version 1.19.x to version 1.20.x
https://v1-20.docs.kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/

[2021-05-16 12:45] irvifa commented on #28000
/triage accepted
/help

[2021-05-16 12:50] #20895 closed

[2021-05-16 12:55] #27715 closed

[2021-05-16 21:03] Swetad90 commented on #26188
I was referring to the same doc & have the below questions. Could someone clarify them for me?

Point 8,2: `If your kubelet is not using client certificate rotation update client-certificate-data and client-key-data in kubelet.conf on all nodes along with the kubelet client certificate file usually found in /var/lib/kubelet/pki.`
 Q1 - When it says update, does it mean use certificate signed by ne

[2021-05-16 21:30] gabrieltamavicius opened #28001 "Improvement for k8s.io/docs/concepts/workloads/controllers/cron-jobs/"
apiVersion: batch/v1, shouldn't it be apiVersion: batch/v1beta1 ?

[2021-05-17 03:16] wy97 opened #28005 "Kubernetes 组件"
On the page [https://kubernetes.io/zh/docs/concepts/overview/components/](url)
it seems that the comment of the term **service** mentioned in the part of **kube-proxy** is inappropriately shown considering the following html code.
_**data-original-title="将运行在一组 {{< glossary_tooltip text=&quot;Pods&quot; term_id=&quot;pod&quot; >}} 上的应用程序公开为网络服务的抽象方法。"**_
So basically the code here may be replaced

[2021-05-17 13:39] jmyung opened #28006 "[ko] Translate docs/tasks/configure-pod-container/configure-runasusername"
**This is a Feature Request**
Translate docs/tasks/configure-pod-container/configure-runasusername in Korean

**What would you like to be added**
Translate docs/tasks/configure-pod-container/configure-runasusername in Korean

**Why is this needed**
No  Translation yet.

**Comments**

https://kubernetes.io/docs/tasks/configure-pod-container/configure-runasusername/

[2021-05-17 13:39] jmyung commented on #28006
triage/accepted

[2021-05-17 13:41] jmyung commented on #28006
/language ko
/assign

[2021-05-17 13:45] jmyung commented on #28006
/triage accepted

[2021-05-17 14:36] chrisnegus commented on #25974
@j3pic We created new content on the https://kubernetes.io/docs/setup/production-environment/ page, which used to just consist of a handful of links. There was a rather thorough review process that you can see in this [PR](https://github.com/kubernetes/website/pull/27466). Could you please review the content and see if it meets the need you are looking for in this issue?

[2021-05-17 14:47] couling opened #28008 "Interactive Tutorial - Deploying an App"
The interactive tutorial seems to be missing a step.

Okay so first we get the pod name, then what?  The tutorial seems to miss that completely.  The next thing it tells me is:

... But it hasn't told me how to access the deployment using the proxy.

[2021-05-17 15:03] neolit123 commented on #28000
duplicate of:
https://github.com/kubernetes/website/issues/27525

/sig cluster-lifecycle
/close

[2021-05-17 15:04] #28000 closed

[2021-05-17 15:04] neolit123 commented on #27931
/help

[2021-05-17 15:07] neolit123 commented on #27517
/help

[2021-05-17 15:10] rdxmb commented on #27517
I see. Thanks, so I will not use nor document it but set labels in my own clusters.

[2021-05-17 16:39] j3pic commented on #25974
It looks detailed, but I won't be able to know if it would have met my needs unless I run into those needs again. This time around I resorted to using a third-party solution, since I saw no other option at the time.

[2021-05-17 17:36] justaugustus commented on #21749
Awesome to see!
Jim we're going to assign you.

/unassign @celestehorgan
/assign @jimangel

[2021-05-17 17:57] trailstrider opened #28009 "Improvement for k8s.io/docs/concepts/cluster-administration/certificates/"
I've got a wildcard certificate on AWS that I can normally just use on a load balancer for TLS connections.  I'd really like to be able to just use that for my k8s cluster like I do for my other applications.  All of the doc pages that talk about certs and the ingress insist on using the lets encrypt setup, but our IT department doesn't allow that.  We have to use our own certs.

Its not clear how

[2021-05-17 20:00] ckulacoglu opened #28012 "Patch Releases"
In https://kubernetes.io/releases/patch-releases/ the link for the "Release Managers" under Contact section leads to a 404 page

[code]
It links to https://kubernetes.io/release-managers.md which does not exist

[2021-05-17 20:27] savitharaghunathan opened #28013 "Add a warning about the possibility of executing remote code using kubectl config"
**This is a Feature Request**

Add a warning about the possibility of remote code execution to kubectl config [concepts](https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/) and/or [tasks](https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/) page

If possible, please add more documentation to https://kubernetes.io/docs/r

[2021-05-17 20:27] savitharaghunathan commented on #28013
/sig security
/triage accepted

[2021-05-17 20:29] justaugustus commented on #28012
Thanks for filing this, @ckulacoglu!
https://github.com/kubernetes/website/pull/27997 will resolve the issue. :)

/triage accepted
/sig release
/area release-eng
/assign

[2021-05-17 23:09] spiffxp commented on #21749
I believe so, yes. There is a relevant test-infra issue for this

[2021-05-17 23:10] spiffxp commented on #21749
https://github.com/kubernetes/test-infra/issues/20829 should be fixed as of two months ago

[2021-05-18 01:23] #27924 closed

[2021-05-18 01:27] redcometchar opened #28015 "Translate concepts/storage/volume-health-monitoring in Korean"
This is a Feature Request

What would you like to be added

Translate concepts/storage/volume-health-monitoring in Korean

Why is this needed
No Traslation concepts/storage/volume-health-monitoring in Korean

Comments

Page to Update :
https://kubernetes.io/docs/concepts/storage/volume-health-monitoring/

[2021-05-18 01:31] redcometchar commented on #28015
/language ko
/assign

[2021-05-18 02:01] jmyung commented on #28015
/triage accepted

[2021-05-18 05:07] #27899 closed

[2021-05-18 05:07] #27902 closed

[2021-05-18 05:28] seokho-son commented on #27976
/triage accepted

@jm1223kim Hope to share schedule of Korean localization (dev) branch milestone :)
Current dev branch for Korean localization is dev-1.21-ko.2 (https://github.com/kubernetes/website/issues/27763)

Please note that Korean localization team will create dev-1.21-*ko.3* soon ~ ! (05/20~05/21)
I think dev-1.21-*ko.3* would be an appropriate work base for this issue :)

If you any ques

[2021-05-18 05:33] cleverndbest opened #28019 "Thanks very much for contributing! Your pull request has been merged 🎉 You should see your changes appear on the site in approximately 24 hours. If you're looking for your next contribution, check out our [help wanted issues](https://github.com/github/docs/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22) :zap:"
Thanks very much for contributing! Your pull request has been merged 🎉 You should see your changes appear on the site in approximately 24 hours. If you're looking for your next contribution, check out our [help wanted issues](https://github.com/github/docs/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22) :zap:

_Originally posted by @github-actions in https://github.com/github/docs/pull/64

[2021-05-18 06:27] rahulii commented on #27087
/assign

[2021-05-18 06:36] rahulii commented on #27087
/unassign

[2021-05-18 08:36] sftim commented on #25974
@j3pic would you be happy to close this? We're very open to more feedback if you have it in the future.

[2021-05-18 10:01] tengqm commented on #27674
/remove-help
We have all task files resync'ed!

[2021-05-18 10:50] Priyankasaggu11929 commented on #27475
@sftim @BahmaniAlireza,

here are the links to the:
- kubernetes docs website page ~ https://kubernetes.io/docs/tasks/access-application-cluster/list-all-running-container-images/
- markdown file where it require changes ~ https://github.com/kubernetes/website/search?q=jsonpath%3D%22%7B..image%7D

[2021-05-18 11:06] Priyankasaggu11929 commented on #27475
The issue is, the following command produces **2 times (the count of image in a single pod).**

As @BahmaniAlireza mentioned, it is because the command count both the occurrence from the `spec` & `status` sections from a single pod json manifest.

[code]

Ideally it should be:

[code]

[2021-05-18 11:07] Priyankasaggu11929 commented on #27475
Following could be one of the fix for it:

[code]

[2021-05-18 11:24] ms-choudhary commented on #27475
/assign

[2021-05-18 11:51] maxrodkin opened #28028 "Stateful Applications"
You can`t repeat "Example: Deploying WordPress and MySQL with Persistent Volumes" on minikube, macOS k8s local distribution without code tuning.
1. Error "Warning  FailedScheduling  47s (x2 over 47s)  default-scheduler  0/1 nodes are available: 1 pod has unbound immediate PersistentVolumeClaims."
Reason: described perfectly [here](https://stackoverflow.com/questions/52668938/pod-has-unbound-persis

[2021-05-18 12:11] shmelkin opened #28029 "Taints and Tolerations"
In the tutorial section, it is mentioned that one can allow scheduling of pods on the control plane node by executing
 kubectl taint nodes --all node-role.kubernetes.io/master-
However, I'm still unable to schedule a pod on the control plane node after executing this command.

The third replica is failing either because of the antiAffinity or since the hostPort 80 is already taken.
Any suggestions

[2021-05-18 12:28] Priyankasaggu11929 commented on #27056
@sftim , @rodrigobercini

It looks like the suggested updated ( `non-deprecated` ) command is fixed. I'm not able to figure which PR/commit has fixed this. But below is the screenshot (from the [tutorial page](https://kubernetes.io/docs/tutorials/kubernetes-basics/expose/expose-interactive/)) that has the updated command:

![Screenshot from 2021-05-18 17-50-17](https://user-images.githubuserconten

[2021-05-18 13:18] ms-choudhary commented on #27475
@Priyankasaggu11929 There are other references [as well](https://kubernetes.io/docs/tasks/access-application-cluster/list-all-running-container-images/#list-container-images-filtering-by-pod-label). These would return duplicate images as well, right? I've updated those as well for now.

[code]

[2021-05-18 13:31] SebTardif opened #28031 "Pull an Image from a Private Registry"
I'm so confused about that doc "https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/". It's all about Docker but Kubernetes is deprecating using Docker. I use RKE2 with containerd, and now I have no idea if anything written in this page still apply or not.

[2021-05-18 13:48] Priyankasaggu11929 commented on #27475
Hi @ms-choudhary,

yes, I feel those also need to be fixed. Let's wait for @sftim to provide their review. :)

[2021-05-18 14:14] shmelkin opened #28033 "Assigning Pods to Nodes"
As by the tutorial section on https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/
with the following deployment.yaml, I should get three replicas that are never co-located on the same node.
However, the scheduler always tries to run the pods in the same node. It fails, and then retries again - being agnostic of the two other nodes in the cluster.

kubectl get all
[code]
kubect

[2021-05-18 14:31] Priyankasaggu11929 commented on #27162
#### Clarifying the ask

The [Using Source IP](https://kubernetes.io/docs/tutorials/services/source-ip/) tutorial uses a `3 node cluster` cluster as an example setup throughout the document.

*<sub>(The text in the screenshot below is the exactly the section mentioned in the issue description)</sub>*
![Screenshot from 2021-05-18 19-42-15](https://user-images.githubusercontent.com/30499743/11866698

[2021-05-18 14:36] Priyankasaggu11929 commented on #27162
/help

[2021-05-18 14:39] haardikdharma10 commented on #27162
/assign

[2021-05-18 14:53] #27544 closed

[2021-05-18 14:56] irvifa commented on #27805
/triage accepted
/help

[2021-05-18 15:01] #27805 closed

[2021-05-18 16:02] catija opened #28035 "Improvement for k8s.io/docs/tasks/debug-application-cluster/troubleshooting/"
Hiya! I'm one of the [Community Managers](https://meta.stackexchange.com/users/284336/catija?tab=profile) for Stack Overflow & the Stack Exchange network and this page was brought to my attention by one of our users.

It seems like your [guidance here](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/#help-my-question-isn-t-covered-i-need-help-now) is a bit sparse when it

[2021-05-18 19:36] PI-Victor opened #28037 "containerize generating k8s reference documentation script"
The [update-imported-docs.py](https://github.com/kubernetes/website/tree/master/update-imported-docs) that is used to generate the kubernetes documentation reference should be containerized to make it easier for users that want to update the docs.
This container should include all the tooling mentioned in the [quickstart](https://kubernetes.io/docs/contribute/generate-ref-docs/quickstart/).

Q: OS

[2021-05-18 22:40] #27979 closed

[2021-05-19 05:51] atoato88 commented on #26888
/close
PR #27777 has merged.
I close this issue.

[2021-05-19 05:51] #26888 closed

[2021-05-19 07:40] sftim commented on #28037
/triage accepted

[2021-05-19 07:40] sftim commented on #28037
Linux :wink:

[2021-05-19 09:49] a2z-ice opened #28040 "Unable to Set up High-Availability Kubernetes Multi Masters stack k8s cluster"
I'm trying to setup HA cluster with stack topology my masters IPs are given below:

k8-master01	172.17.9.141
k8-master02	172.17.10.25
k8-master03	172.17.9.13

**My HA proxy load balancer is 172.17.9.143**

Every IP is reachable with name from each other I have set the host name in /etc/hosts file :
[root@k8-master01 assad]# ping k8-master03
PING k8-master03 (172.17.9.13) 56(84) bytes of data.
64 b

[2021-05-19 12:03] sftim commented on #28033
This looks like a request for support.
Have I got that right?

/kind support

[2021-05-19 12:04] sftim commented on #28029
I'm not sure this query is right for the Kubernetes documentation repo.

@shmelkin is there a web page about Kubernetes that you think is unclear, incorrect or incomplete?
/triage needs-information

[2021-05-19 12:06] sftim commented on #28031
Ah, not really. Kubernetes is [deprecating Docker as a container runtime](https://kubernetes.io/blog/2020/12/02/dont-panic-kubernetes-and-docker/)

Docker Hub, the web site, is not deprecated. You can still use it.

We could amend https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/ to mention several examples of public registries, and also to clarify that you can

[2021-05-19 12:23] sftim commented on #28035
/triage accepted
/language en
/kind cleanup

[2021-05-19 12:23] sftim commented on #28035
/priority backlog

[2021-05-19 12:24] sftim commented on #28035
Thanks @catija

Our guidance on getting support (“GitHub is not the right place for support&hellip;”) also directs people to Stack Overflow.
/sig contributor-experience

[2021-05-19 15:31] Priyankasaggu11929 commented on #27951
Referred doc ~ https://kubernetes.io/docs/tasks/tools/install-kubectl-linux/

[2021-05-19 15:34] #27931 closed

[2021-05-19 15:38] haardikdharma10 commented on #27944
What was the version when it was promoted to beta? (The PR seems quite old).

[2021-05-19 15:45] Priyankasaggu11929 commented on #27920
@sftim, @feitnomore, the PR with the fix is merged.

Could we close this issue now? Thank you.

[2021-05-19 15:50] feitnomore commented on #27920
I think it can be closed, however, I don't think I am able to close it myself. Thanks.

[2021-05-19 15:56] sftim commented on #27920
/close

[2021-05-19 15:56] #27920 closed

[2021-05-19 15:57] sftim commented on #28031
/language en

[2021-05-19 15:58] sftim commented on #28040
/kind support

@a2x-ice this list of issues is for reporting defects in https://kubernetes.io/docs/ and related pages.

https://docs.google.com/document/d/e/2PACX-1vTOxeQFBmzqiNjz_sejBOxvs69em5sKCGpHeg7PjNAFv4eOrD8pyLIj3caG73gjfnoAbFIoNQOJSl-d/pub isn't a page that the Kubernetes project supports.

[2021-05-19 16:34] Priyankasaggu11929 commented on #27982
@MartinKanters, thanks for reporting. Below are links to the PR & the issue, that confirms for the script was removed:
- `PR`: [Remove swagger 1.2, swagger-ui #72924](https://github.com/kubernetes/kubernetes/pull/72924#issue-244844441)
- `issue`:  [Deprecating Swagger 1.2 in favor of OpenAPI (Move all internal tools to use OpenAPI) #38637 ](https://github.com/kubernetes/kubernetes/issues/38637#iss

[2021-05-19 17:12] neolit123 commented on #28040
you can try finding / contacting the author of the mentioned document.
for help you can try asking in the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2021-05-19 17:12] #28040 closed

[2021-05-19 19:09] lisack opened #28043 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
Work area was blank, so now I have no idea how to start a cluster

[2021-05-19 19:45] adonovan opened #28045 "clarify behavior of memory request vs limit parameters"
https://kubernetes.io/docs/tasks/configure-pod-container/assign-memory-resource/#exceed-a-container-s-memory-limit says:

This paragraph is very confusing. Is this a correct reading?
- the container may rely on at least 'request' bytes of memory.
- the container is immediately terminated if it ever exceeds 'limit' bytes of memory.
- in between these values, the container may be terminated at any t

[2021-05-19 20:19] RiddhiiG opened #28046 "Set up Ingress on Minikube with the NGINX Ingress Controller"
I'm getting below error instead of Service IP address. Any thoughts please?

root@Master:/home/riddhi/Kubernetes# kubectl describe ingress
Name:             example-ingress
Namespace:        default
Address:
Default backend:  default-http-backend:80 (<error: endpoints "default-http-backend" not found>)
Rules:
  Host              Path  Backends
  ----              ----  --------
  hello-world.info

[2021-05-19 22:22] #25704 closed

[2021-05-19 22:22] #25734 closed

[2021-05-19 22:22] #25705 closed

[2021-05-20 01:51] habibrosyad commented on #23660
/remove-lifecycle stale

[2021-05-20 03:33] inductor commented on #26861
/close

[2021-05-20 03:33] #26861 closed

[2021-05-20 04:07] gc535 opened #28050 "Contradiction in explanation of "multiple authorization modules" behaviour"
In https://kubernetes.io/docs/reference/access-authn-authz/authorization/

...
When multiple authorization modules are configured, each is checked in sequence. If any authorizer approves or denies a request, that decision is immediately returned and no other authorizer is consulted. If all modules have no opinion on the request, then the request is denied. A deny returns an HTTP status code 403.

[2021-05-20 05:18] calshankar opened #28053 "Search UI result issue"
**This is a UI Bug Report**

**Problem:**
When I search with some keywords, I see multiple lines (3-4) for each matched entry, making the search result awry, basically UX is bad. I see the font size too changed which makes the results look gaudy..

**Proposed Solution:**
Kindly revert to the previous version of the search UI where each entry has no more than 1 line description metadata..

[2021-05-20 08:07] shmelkin commented on #28033
I guess so - sorry for placing it wrong.

[2021-05-20 08:48] sftim opened #28054 "Link from https://k8s.io/ to download page"
**This is a Feature Request**

**What would you like to be added**
https://kubernetes.io/ should hyperlink to https://kubernetes.io/releases/download/

**Why is this needed**
This change will make it easier for visitors to find the download page.

**Comments**
/kind feature

[2021-05-20 08:51] sftim opened #28055 "Migrate Release Managers page to https://k8s.dev/"
**This is a Feature Request**

**What would you like to be added**
The existing contents of https://kubernetes.io/releases/release-managers/ should move to a new page within https://k8s.dev/
and we should make the URL https://kubernetes.io/releases/release-managers/ redirect to the new page.

**Why is this needed**
Content that relates to developing Kubernetes has its best home within https://k8s.

[2021-05-20 09:06] sftim commented on #28037
/area release-engineering

[2021-05-20 10:16] AhmedSalem2020 opened #28057 "How to deploy a kubernetes cluster on multiple physical machines in the best manner?"
I would like to have a Kubernetes cluster on 3 physical machines ... how we can configure the load-balancing between them to get the high availability.

Is there any software that is dedicated to that?

[2021-05-20 10:27] rrathord1885 opened #28058 "Not getting new ip on tiny proxy deployed on AKS"
HI, I have deployed tiny proxy solution on AKS. its deployed successfully. Currently we are using 3 Nodes and 5 pods. so  we can say 5 services are running and also 1 public LB is attached. so all traffic will with this LB. if I am using whatmyip to check the what ip is returned from service. its returning only 1 ip. but i am expecting if 5 pods are running then its should return 5 ips.
Can you pl