[2022-10-18 08:00] davidhadas opened #37356 "Vulnerable Pods - Discussing the security monitoring and control of pods at runtime"
**This is a Feature Request**

**What would you like to be added**
Add security documentation describing the need to monitor and control deployed vulnerable pods.
1. Highlight the need to cope with pods that are assumed by the user to be perfectly secured but still can be assumed vulnerable to unknown  ("Zero-day) vulnerabilities"
1. Highlight the need to cope with pods that have a known vulnerabi

[2022-10-18 09:16] RA489 commented on #26910
/remove-lifecycle stale

[2022-10-18 09:32] sftim commented on #35896
We can instead advise readers to search in their cloud provider's documentation for further advice.

[2022-10-18 09:59] McPatate opened #37357 "Mermaid diagrams not rendering for multiple documentation pages"
All graphs on this doc page are showing a Mermaid error, as follows:

![Screenshot from 2022-10-18 11-58-55](https://user-images.githubusercontent.com/9112841/196399642-8573bc41-c4cf-4d4e-a330-cd9ac8174359.png)

[2022-10-18 10:09] T-Lakshmi opened #37358 "Add hyperlink for RFC7468 in certificate-signing-requests."
**This is a Feature Request**

**What would you like to be added**
Add hyperlink **[https://www.rfc-editor.org/rfc/rfc7468#section-5.2] to RFC7468 under API-based signers section in certificate-signing-requests.

**Why is this needed**
This Change will make easier for the users to easily know about RFC7468 Timestamp as a quick reference.
**Comments**
kind/feature

[2022-10-18 10:10] T-Lakshmi commented on #37358
/assign

[2022-10-18 10:49] sftim commented on #32835
I think this is still worth tracking, but isn't a short term priority.

/reopen
/lifecycle frozen

[2022-10-18 15:27] NitishKumar06 commented on #37358
@T-Lakshmi It is always a good practice to work on those issues which have the tag `triage/accepted`.

[2022-10-18 15:57] mtardy commented on #36808
We looked at it with Pushkar and [as far as we understood](https://kubernetes.slack.com/archives/C01CUSVMHPY/p1665505979577459?thread_ts=1664842404.584089&cid=C01CUSVMHPY) the specification only allows for custom fields starting with an underscore. Search for "Extensions" [in the spec](https://www.jsonfeed.org/version/1.1/), it seems that it's a bit restrictive (especially because any custom exten

[2022-10-18 16:00] kevincox commented on #36808
If you want custom data can't you just add something like `_kubernetes.io: { /* whatever you want here */ }`? That seems plenty flexible for me.

But I have no objection to switching to RSS (or Atom) either.

[2022-10-18 16:13] kevincox commented on #36808
I don't think JSON Feed is particularly popular (certainly far behind RSS and Atom) but I do think that it can serve as a dual-purpose for easy adding structured data in a way that developers are familiar with so they can easily access while combining with the well-speced semantics of a feed so that people can get general-purpose readers and tools to provide good results. I think it does make sens

[2022-10-18 16:51] kadtendulkar opened #37365 "Broken link on Submitting blog posts and case studies page"
**Problem:**
The text [**Upstream Marketing Team**](https://github.com/kubernetes/community/blob/master/communication/marketing-team/storytelling-resources/blog-guidelines.md#upstream-marketing-blog-guidelines) on [link](https://kubernetes.io/docs/contribute/new-content/blogs-case-studies/) should point to these https://github.com/kubernetes/community/blob/master/communication/contributor-comms/st

[2022-10-18 17:22] utkarsh-singh1 commented on #37357
Hi @McPatate, can you share the link of the doc where the error is showing?

[2022-10-18 17:23] chrismetz09 commented on #32243
Looking over https://kubernetes.io/docs/concepts/services-networking/.

New and/or experienced network person looking over K8s networking for the first time could find this difficult to parse.

Simple pictures plus text edits is necessary. More detailed pictures with veths, namespaces, cbr0, cni etc. can be added at the bottom. This tees up the cluster networking discussion.

I will hack up some p

[2022-10-18 17:29] sftim commented on #32243
@chrismetz09 you might like to look at https://deploy-preview-30817--kubernetes-io-main-staging.netlify.app/docs/concepts/services-networking/service/ which illustrates how I hope the page will look within 12 months or so (see PR #30817)

The existing diagrams have moved into the reference section: https://deploy-preview-30817--kubernetes-io-main-staging.netlify.app/docs/reference/networking/virtu

[2022-10-18 17:31] sftim commented on #32243
I don't have plans to make any significant change to https://kubernetes.io/docs/concepts/services-networking/

[2022-10-18 17:32] sftim commented on #32243
I do recommend putting more advanced / detailed information inside https://k8s.io/docs/reference/networking/

[2022-10-18 17:37] McPatate commented on #37357
This was the page, though I see it working on my mobile now:
https://kubernetes.io/docs/concepts/scheduling-eviction/topology-spread-constraints/

I'll check on my laptop tomorrow to see if this is still an issue.

[2022-10-18 17:55] chrismetz09 commented on #32243
Got it, will go with that approach.

[2022-10-18 18:12] sftim commented on #37358
/language en
/priority backlog
/triage accepted

Thanks for the suggestion

[2022-10-18 18:13] roy-work commented on #31596
/reopen

[2022-10-18 18:15] sftim commented on #37356
/sig security
/priority awaiting-more-evidence
/language en

- Why is this new page something that the Kubernetes documentation should cover?
- How much of that proposed advice is actually not specific to microservices?
- Does the proposed change align with our [content guide](https://kubernetes.io/docs/contribute/style/content-guide/)?

So far, Kubernetes' documentation does not really discuss mi

[2022-10-18 18:16] sftim commented on #37357
I can't replicate this on my computer. It'd be good to know some reliable steps-to-replicate including what OS, what CPU architecture, and what software.

[2022-10-18 18:16] sftim commented on #37357
/area web-development

For now:
/priority awaiting-more-evidence

[2022-10-18 18:17] sftim commented on #37331
/retitle Advice in “Configuring Redis using a ConfigMap” not quite correct
/language en

[2022-10-18 18:17] sftim commented on #37331
This sentence is _true_, but we could explain more about the context that makes it true.

[2022-10-18 18:18] sftim commented on #37325
/triage needs-information

I don't think contributors would be able to work out what you're saying needs a fix, @olekszhel.

[2022-10-18 18:20] sftim commented on #37354
/language en

/kind feature

Why should we make this change @kivio? I recommend always mentioning the “why” for a feature request issue.

[2022-10-18 18:52] kivio commented on #37354
Sure, it's valid question.

Why we build Mast and why it can be valuable for others?

We are building huge enterprise environments that connect kubernetes and not kubernetes based systems. As we i mean group of people for few companies. We decided to choose kubernetes as center of our operational management. To implement it we need to write new operators for managing such platforms. Best choice fo

[2022-10-18 21:44] sftim commented on #23518
/remove-lifecycle rotten

[2022-10-18 21:47] sftim commented on #36589
Fixed in https://github.com/kubernetes/website/pull/36590
/close

[2022-10-18 21:47] #36589 closed

[2022-10-18 21:49] sftim commented on #33509
We can document this at any time. We should push back on graduation to _stable_ if there's not been any movement on documenting the changes. It's definitely better to have good docs ready to accompany actual graduation to beta, and it's nice to have at least some docs as soon as a feature goes alpha.

[2022-10-18 21:49] sftim commented on #30843
/remove-lifecycle stale

[2022-10-18 21:50] sftim commented on #30843
I hope we get this done before Kubernetes v1.28; if we don't, we can close this as not planned.

[2022-10-19 03:11] Kartik494 commented on #33795
/remove-lifecycle stale

[2022-10-19 04:50] Kartik494 commented on #37082
Hi @kenahoo it's working fine got the output as

`kubectl version
Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.4", GitCommit:"e87da0bd6e03ec3fea7933c4b5263d151aafd07c", GitTreeState:"clean", BuildDate:"2021-02-18T16:12:00Z", GoVersion:"go1.15.8", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.2", GitCommit:"faec

[2022-10-19 04:50] T-Lakshmi commented on #37358
Thanks for your suggestion, i will take care from next time.

[2022-10-19 05:22] vaibhav2107 commented on #34443
/remove-lifecycle stale

[2022-10-19 06:03] #36761 closed

[2022-10-19 07:51] McPatate commented on #37357
Well, I have graphs again, even on the computer it wasn't working on before. No idea what went wrong here, sorry !

I'll let you close the issue.

[2022-10-19 08:16] utkarsh-singh1 commented on #37357
Hi @McPatate, thanks for your update, I have also checked on my device it seems to be working. It seems it was an error from 3rd party tool mermaid, I am running on intel x86_64 and fedora OS and this error seems to be frequent.

[2022-10-19 08:19] McPatate commented on #37357
Firefox, intel x86_64, popOS on my end :)

[2022-10-19 09:11] seokho-son commented on #35212
I think @gy-ulbak96 is working on this issue.

/remove-lifecycle stale

[2022-10-19 10:10] Shubham82 commented on #37365
/triage accepted

[2022-10-19 12:04] sftim opened #37380 "Spurious “Introduction” heading for page DNS for Services and Pods"
**This is a Bug Report**

**Problem:**
The page [DNS for Services and Pods](https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/) has a heading, https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#introduction, that isn't actually needed.

Readers can work out that the page has an introduction by reading the text from the start. Typically, we don't start ou

[2022-10-19 12:04] sftim commented on #37380
/triage accepted
/priority backlog

[2022-10-19 12:51] sftim commented on #37291
/language en
/kind support

This looks like a request for advice. The answer might be something like:
- use `emacs`
- use `vi`
- edit the source code for the Puppet module that manages the control plane hosts

It's not really something in scope for the Kubernetes documentation itself; GitHub is not the right place for support requests.

If you're looking for help, @EricoCartmanez, try asking on [S

[2022-10-19 13:46] NitishKumar06 commented on #37380
/assign

[2022-10-19 13:58] NitishKumar06 commented on #37380
I'm closing my PR and expecting new folks to actually contribute to fixing this minor issue. Feel free to raise a PR for this issue!

/unassign

[2022-10-19 14:27] sachinparihar commented on #37380
can I work on this issue!
/assign

[2022-10-19 14:39] #37324 closed

[2022-10-19 14:44] #37325 closed

[2022-10-19 14:58] #33871 closed

[2022-10-19 15:33] #37132 closed

[2022-10-19 15:49] sergeyshevch commented on #36839
@rolfedh Really sorry for such a delay. Just created PR to close this. #37384

[2022-10-19 16:04] sergeyshevch commented on #34816
/assign

[2022-10-19 16:09] sergeyshevch commented on #30661
@funkypenguin @sftim
Looks like this issue was resolved in #30712

Maybe we should close this issue?

[2022-10-19 16:25] rehevkor5 opened #37388 "Secrets page does not mention the role of fsGroup"
The https://kubernetes.io/docs/concepts/configuration/secret/ page does not explain how the `securityContext.fsGroup` config impacts the file system permissions on mounted Secret volumes. Specifically, it appears that the group is set and read access is granted to that group. This can cause undesirable situations with files that are expected to be readable only by the owner (not by the group), and

[2022-10-19 16:51] sergeyshevch commented on #32855
I guess that another option is to add notes after the table that should contain something similar to
```Please note that not all symbols that is valid in SemVer is valid for label value```

[2022-10-19 18:01] K0more commented on #37249
can I work on this issue
/assign

[2022-10-19 18:03] K0more commented on #37249
/unassign

[2022-10-19 18:17] K0more commented on #37351
can I work on this
/assign

[2022-10-19 18:30] #35199 closed

[2022-10-19 18:48] rolfedh commented on #36839
No problem! Thanks, @sergeyshevch !

[2022-10-19 19:11] srm09 opened #37393 "Default secret with token for service account is not the default behavior"
With 1.24, the `LegacyServiceAccountTokenNoAutoGeneration` feature gate is beta and enabled by default. This stops the auto generation of secrets containing service account token for every ServiceAccount.
Bu the docs on the [site](https://kubernetes.io/docs/reference/access-authn-authz/service-accounts-admin/#to-create-additional-api-tokens) refer to the previous assumption that a token gets creat

[2022-10-19 19:12] srm09 commented on #37393
/kind bug

[2022-10-19 20:04] astellingwerf commented on #32855
That's quite vague still, and doesn't really help in understand what is allowed. Would it make sense to mention "Semantic Versioning 1.0.0"?

[2022-10-19 20:16] sftim commented on #32855
I think it would. We're then explicitly declaring a version of, uh, SemVer that we can be compatible with, following the rules of that version of SemVer.

[2022-10-19 20:17] sftim commented on #32855
@astellingwerf you are welcome to edit the issue description with that recommended fix, or to include a link to https://github.com/kubernetes/website/issues/32855#issuecomment-1284524320

[2022-10-19 21:11] s-kawamura-w664 opened #37394 "[ja] content/ja/docs/concepts/workloads/pods/pod-lifecycle.md is outdated."
**This is a Feature Request**

**What would you like to be added**
We need to update content/ja/docs/concepts/workloads/pods/pod-lifecycle.md according to the English text, because it is outdated.

**Why is this needed**
content/ja/docs/concepts/workloads/pods/pod-lifecycle.md is outdated.
For example, there is no description of PodHasNetwork(alpha feature).

**Comments**
/language ja
/assign

[2022-10-20 00:14] #37380 closed

[2022-10-20 02:43] Kartik494 commented on #37082
@kenahoo So in that case would you mind to close this issue.

[2022-10-20 03:19] #37082 closed

[2022-10-20 07:06] Shubham82 commented on #37393
I think this is relevant to #31847
[Here](https://github.com/kubernetes/website/issues/31847#issuecomment-1201185494) is google [docs](https://docs.google.com/document/d/1UcEFreczITmFhcHAgZkIpuEJD4m1AraiRQAtzpNIRaE/edit) open for improvement of the service account. It also contains this part.

[2022-10-20 07:45] ankitsingh241 commented on #37249
Hi can I work on this ?

[2022-10-20 07:51] ankitsingh241 commented on #37249
/assign

[2022-10-20 08:14] davidhadas commented on #37356
Kubernetes, as a system for the management of containerized applications, need to acknowledge the 4 cyber use cases that more and more users face  - the "Zero day" use case, the use case of a microservice in production with known CVE(s), the use case of a microservice in production where an effective exploit exists against it, and the use case of microservice pods running in production when offend

[2022-10-20 09:12] javadoors commented on #34914
/lifecycle stale

[2022-10-20 09:12] javadoors commented on #34914
/close

[2022-10-20 09:12] #34914 closed

[2022-10-20 09:28] hj-johannes-lee commented on #36863
M61-65 // M67 // M69-M70 해보겠습니다.!
M66과 M68은 좀 양이 많은 것 같아서,, 다른 분이 안 맡으시면 나중에 시도해보도록 하겠습니다.!

[2022-10-20 09:34] sftim commented on #37356
Maybe the word “workload” would be more appropriate than “microservice”? Or the phrase “workload component”.

[2022-10-20 11:29] T-Lakshmi opened #37409 "Confusing punctuation in Kubernetes components page"
**This is a Bug Report**

**Problem:**
`Kubernetes` spelling is misplaced as `kubernetes'` under [etcd](https://kubernetes.io/docs/concepts/overview/components/#etcd) section in [kubernetes components](https://kubernetes.io/docs/concepts/overview/components/).

**Proposed Solution:**
Remove `'` in word `kubernetes'` under [etcd](https://kubernetes.io/docs/concepts/overview/components/#etcd).
**Pag

[2022-10-20 11:42] sergeyshevch commented on #32855
Ok so we want to change the description in the table to
[code]

[2022-10-20 12:04] sftim commented on #37409
This means “belonging to Kubernetes”. It's similar to “Tim's hat” or “Linus' computer”

I don't think we need to fix it. We could reword to make the meaning more clear to people not used to less common cases for possessive apostrophes.

/language en

[2022-10-20 12:05] sftim commented on #37393
/triage accepted

/language en

The one-line fix you suggested seems reasonable, @srm09

[2022-10-20 12:53] davidhadas commented on #37356
Workload, the way I use it, is a set of microservices that work together for some purpose - for example, if you develop a mobile app with a cloud backend, this backend is probably divided into multiple microservices that work together to do what you need to do at the backend. This set of microservices is a cloud workload. You may have N other workloads that you deploy.

So I would not use workload

[2022-10-20 15:37] LouisJULIEN opened #37414 "Configure Liveness, Readiness and Startup Probes confusing failureThreshold"
`failureThreshold` definition in [configure-liveness-readiness-startup-probes](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#configure-probes) is confusing and different than [Probe v1 core](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.25/#probe-v1-core)

# configure-liveness-readiness-startup-probes
The definition is as f

[2022-10-20 17:01] rayarazan opened #37417 "Interactive Tutorial - Deploying an App"
Hello;

the interactive terminal on the website https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/

is not working , its blank page , I am using google chrome
![Uploading k.PNG…]()

[2022-10-20 19:07] bishal7679 opened #37419 "Horizontal scroll not working for code snippet"
## Description
In this section https://kubernetes.io/docs/concepts/workloads/pods/init-containers/#init-containers-in-use
the yaml block is not slidable horizontally which should be.

[2022-10-20 21:02] rptaylor commented on #23915
/remove-lifecycle stale

[2022-10-21 01:00] jihoon-seo commented on #37419
For me, this issue is reproducible.
/area web-development

[When the browser window's width is about 2500px]
![image](https://user-images.githubusercontent.com/46767780/197086894-a1bdc36f-0c26-4e39-860f-b1b8d93496a2.png)

[When the browser window's width is about 1240px]
![image](https://user-images.githubusercontent.com/46767780/197087040-04e21363-cefc-4db0-a639-a82fc331c2bf.png)

[2022-10-21 01:02] jihoon-seo commented on #37417
If you are using ad blocker, try disable it and reload the page.

[2022-10-21 01:06] jihoon-seo commented on #37414
/assign @LouisJULIEN

[2022-10-21 01:10] jihoon-seo commented on #37249
@ankitsingh241 actually, there already exists an open PR (#37250) that @having-dlrow opened.
/assign @having-dlrow

[2022-10-21 04:57] ankitsingh241 commented on #37249
Ok, Should I unassign myself ?

[2022-10-21 06:13] #33671 closed

[2022-10-21 06:43] T-Lakshmi commented on #37409
Hi @sftim
Thanks for this information!
How about this.

 If this seems good then I will update it. WDYT?

[2022-10-21 06:46] ankitsingh241 commented on #37249
/unassign

[2022-10-21 06:49] jihoon-seo opened #37426 "[ko] Wrong translation of the term "cordoned""
Please note that:
**Contributor that opens a PR to resolve this issue should branch off the feature branch from `dev-1.25-ko.1`,
and set the merge target branch to `dev-1.25-ko.1` as well.**

---

**This is a Bug Report**

**Problem:**
In https://kubernetes.io/ko/docs/concepts/architecture/nodes/ ,
the term "cordoned" is translated as "코드화된", which is wrong.

**Proposed Solution:**
"코드화된" -> "통제된(

[2022-10-21 08:22] T-Lakshmi opened #37428 "Add Abbreviation for "containerized applications" in Glossary page and provide Hyperlink for the same in Components page."
**This is a Feature Request**

**What would you like to be added**

Add Abbreviation of **`containerized applications`** in [Glossary](https://kubernetes.io/docs/reference/glossary/?all=true#) as this word mentioned in [Components](https://kubernetes.io/docs/concepts/overview/components/).

**Why is this needed**
This change will help to understand about **containerized applications** for the peop

[2022-10-21 08:23] T-Lakshmi commented on #37428
/assign

[2022-10-21 09:23] sftim commented on #37409
I'd be happy with that change.

[2022-10-21 09:23] sftim commented on #37409
/remove-kind bug
/triage accepted
/retitle Confusing punctuation in Kubernetes components page

[2022-10-21 10:23] cjoprey opened #37431 "Interactive Tutorial - Creating a Cluster - won't run from Linux "screen too narrow""
I'm running on Ubuntu 22.04 on a Dell laptop. I have two external monitors connected, running at 1920x1080. I've tried to run this tutorial in Edge, Chromium and Firefox, and they all fail the same way:

![screenshot](https://user-images.githubusercontent.com/14791109/197174224-3f4f7604-c1e0-4862-a4e1-df790317b2a6.png)

This is happening on https://kubernetes.io/docs/tutorials/kubernetes-basics/cr

[2022-10-21 12:57] cjoprey commented on #37431
Adding comment - I can click to connect, even with the warning, but the terminal will not do anything.

[2022-10-21 13:04] sreeram-venkitesh commented on #37419
I had faced the same issue while working on #37339. I had to get around this by splitting the comments into multiple lines.

[2022-10-21 14:43] nareshmaharaj-consultant opened #37433 "Improvement for k8s.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/"
Re: https://v1-21.docs.kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl

Can we please add somewhere in the install instructions an example for a specific version e.g after point 4.

We could show how to install an earlier version like:

export VERSION=1.22.15-00
sudo apt-get install -y kubelet=$VERSION kubeadm=$VERSION kubectl=$

[2022-10-21 16:04] sftim commented on #37431
I can replicate this.

/kind bug
/area web-development

[2022-10-21 16:05] sftim commented on #37431
/triage accepted
/priority important-soon

[2022-10-21 16:05] sftim commented on #37431
Thanks for reporting this @cjoprey

It works fine on a 2160p screen; however, we can't assume that everyone has one of those.

[2022-10-21 16:07] sftim commented on #37428
When you say ”abbreviation”, do you mean “explanation”?

We might like to borrow from https://glossary.cncf.io/containerization/ or https://glossary.cncf.io/containers/

We also already have https://kubernetes.io/docs/reference/glossary/?all=true#term-container - maybe we can expand that?

/language en

[2022-10-21 16:09] sftim commented on #37431
This also reminds me of https://github.com/kubernetes/website/issues/34908

[2022-10-21 16:11] sftim commented on #37414
We could clarify that Kubernetes makes `failureThreshold` attempts to _restart_ a container, so there can be up to (`failureThreshold` + 1) total container starts, and that after this a failed probe counts as overall failure.

/language en

[2022-10-21 16:14] sftim commented on #32832
Also see https://github.com/kubernetes/website/issues/37417

[2022-10-21 16:15] sftim commented on #32832
This is what I recommend. Separately, and for the longer term, we might feasibly be able to find a team of contributors willing to switch to a different way of providing those tutorials. I think that is a big ask.

[2022-10-21 16:16] sftim commented on #34355
Would anyone like to draft what this might look like?

[2022-10-21 16:30] sftim commented on #37419
/retitle Horizontal scroll not working for code snippet

[2022-10-21 16:31] sftim commented on #37419
/kind bug
/triage accepted

Fixes are welcome

[2022-10-21 16:31] sftim commented on #37433
/kind feature
/sig cluster-lifecycle
/language en

[2022-10-21 18:06] bishal7679 commented on #37426
triage/accepted

[2022-10-21 18:07] bishal7679 commented on #37426
/triage accepted

[2022-10-21 21:15] #33913 closed

[2022-10-22 01:15] sftim commented on #37356
This could work as an [evergreen](https://github.com/kubernetes/website/pull/31934) blog article. It'd take some effort to make the content timeless / unlikely to go stale in an unhelpful way. However, I think that effort would be worth it.

/remove-priority awaiting-more-evidence

[2022-10-22 01:21] sftim commented on #37356
Bear in mind that:
- a Deployment could run Pods that have different container images, even when its ReplicaSet is stable
  (eg because someone specified `:latest` as the tag)
- not all Pod groupings are exposed as a Service
- a Service might cover more than one application version (for example, a long-lived canary rollout that runs 5% of the new version and 95% of the stable version)
  - and one

[2022-10-22 08:31] SRV332003 commented on #35936
Is this issue yet to be resolved?
If Yes, assign to me...

[2022-10-22 09:04] sftim opened #37444 "Allow (auto)switching front page between light mode and dark mode"
**This is a Feature Request**

**What would you like to be added**
A cut down form of https://github.com/kubernetes/website/issues/25061
Allow (auto)switching front page between light mode and dark mode

**Why is this needed**
Change https://kubernetes.io/ (**and only that page**) to support detecting the viewer's preference for either light mode or dark mode, and then honoring it.

This should us

[2022-10-22 09:10] sftim commented on #36527
/retitle Mention now-fixed bug in StatefulSets and DaemonSets where pod count in status can be invalid

[2022-10-22 09:11] sftim commented on #36527
/priority awaiting-more-evidence

I'd like to see some :+1: reactions on the issue before accepting this work.

[2022-10-22 09:12] sftim commented on #36527
Actually, the DaemonSet bug isn't fixed.
/retitle Mention bug in StatefulSets and DaemonSets where pod count in status can be invalid

[2022-10-22 09:12] sftim commented on #36527
Maybe the release notes are the right place to mention the bug?

[2022-10-22 09:31] Shubham82 commented on #36527
I raised this concern on the slack channel(sig-app), There is a discussion going on it here is the link for it:
https://kubernetes.slack.com/archives/C18NZM5K9/p1663157430112409

[2022-10-22 11:22] #33069 closed

[2022-10-22 14:28] alexpdp7 opened #37445 "Installing kubeadm"
When following the instructions to get the yum repo, I get:

[code]

If I grab the key from https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64/repodata/repomd.xml.key instead it works.

[2022-10-22 14:28] brainsky opened #37446 "Running ZooKeeper, Not output server.1, server.2, server.3 in zoo.cfg buttom"
Hi, I follow example to deploy zookeeper cluster in k8s. link is
https://kubernetes.io/docs/tutorials/stateful-application/zookeeper/
But in this step:
kubectl exec zk-0 -- cat /opt/zookeeper/conf/zoo.cfg
I don't see server.1, server.2, and server.3 in the zoo.cfg file bottom. Just see below output
#This file was autogenerated DO NOT EDIT
clientPort=2181
dataDir=/var/lib/zookeeper/data
dataLogDir=

[2022-10-22 14:29] alexpdp7 commented on #37445
Forget it, I didn't notice repo_gpgcheck is now disabled.

[2022-10-22 14:29] #37445 closed

[2022-10-22 14:31] brainsky opened #37447 "Running ZooKeeper, Not output server.1, server.2, server.3 in zoo.cfg buttom"
Hi, I follow example to deploy zookeeper cluster in k8s. link is
https://kubernetes.io/docs/tutorials/stateful-application/zookeeper/
But in this step:
kubectl exec zk-0 -- cat /opt/zookeeper/conf/zoo.cfg
I don't see server.1, server.2, and server.3 in the zoo.cfg file bottom. Just see below output
#This file was autogenerated DO NOT EDIT
clientPort=2181
dataDir=/var/lib/zookeeper/data
dataLogDir=

[2022-10-22 14:34] #37446 closed

[2022-10-22 14:35] brainsky commented on #37446
sorry, network problem, i issue two identical questions. i close one.

[2022-10-22 14:48] yoji-kojio commented on #37419
@sftim hey! can you assign to me? :D I'll make a PR

[2022-10-22 14:51] sftim opened #37448 "Document PartialObjectMetadata requests"
**This is a Feature Request**

**What would you like to be added**
Kubernetes has some support for making a request for a partial representation of a resource.
For example, (I think that) a client can send an HTTP request for a collection and specify:
[code]

I think that the FooList that comes back will now only include the `.metadata` of each Foo that is listed in the collection.
~I'm not sure h

[2022-10-22 14:54] sftim commented on #37448
As well as putting this in the reference documentation, consider posting an evergreen blog article about the different options / variants of `application/vnd.kubernetes.protobuf`

[2022-10-22 15:01] sftim commented on #37448
For more context, see https://kubernetes.slack.com/archives/C0EG7JC6T/p1666449343298609?thread_ts=1666448393.697149&cid=C0EG7JC6T (you might need to visit https://slack.k8s.io/ to request an invitation).

[2022-10-22 16:15] davidhadas commented on #37356
Agreed that a blog post is an important venue here and I will start preparing a draft.
At the same time, I think that the Security concept in Kubernetes should also be updated

[2022-10-22 16:22] #27951 closed

[2022-10-22 16:22] #31489 closed

[2022-10-22 19:38] liggitt commented on #37448
The API is stable, works for list and watch, and all paging/filtering options for normal lists apply exactly the same way

for aggregated servers, no processing is done by kube-apiserver, it just proxies the request through to the backing server, which must be new enough to support this (which any server based on k8s.io/apiserver after https://github.com/kubernetes/kubernetes/pull/77448/commits/33

[2022-10-23 02:13] rhinck opened #37451 "Advisory note to be displayed when the search functionality defaults to Bing instead of Google"
If you use the search functionality on the website and type in `persistent volumes` then the results will populate with identical entries. The results only differ slightly by the query parameters in the URL.

It appears that links with query parameters like `ref` are being included in search results and leading to duplicate results.

<img width="1084" alt="image" src="https://user-images.githubuse

[2022-10-23 03:54] fake-name commented on #32832
I still don't see why simply not failing on the error logging facility not loading isn't the preferred option.

[2022-10-23 04:31] #29667 closed

[2022-10-23 15:24] mboukhalfa opened #37455 "Add editable version of docs images"
**This is a Feature Request**

**What would you like to be added**
As a contributor to docs localization I would like to have an editable version of image so I can translate it without need to recreate the diagram from scratch.

**Why is this needed**
Not all SVG images have text editable and due to the requirement to reflect the translated docs text, images need to be translated as well. But sinc

[2022-10-23 18:03] kirtisen opened #37456 "Set up Ingress on Minikube with the NGINX Ingress Controller"

[2022-10-23 18:59] sumitsrivastava069 opened #37457 "ReplicaSet"
How select multiple selector in replica set

[2022-10-24 00:01] damiscoulibaly opened #37459 "Administer a Cluster"

[2022-10-24 00:49] tengqm commented on #37455
There isn't a simple way to add back the original SVG source for existing SVG images. Probably we have to create new SVG files for these images.

[2022-10-24 01:43] jihoon-seo commented on #37451
I tried to reproduce this but couldn't; the search results of mine is different from yours:

https://kubernetes.io/search/?q=persistent%20volumes
![image](https://user-images.githubusercontent.com/46767780/197431260-3ba44682-69c0-47d8-8745-cf59fb2ef2f3.png)

Locale of my env:
- Windows 10 64bit ko_KR
- Google Chrome 106.0.5249.119 64bit ko_KR

[2022-10-24 05:30] K0more commented on #37351
@t-inu hi, can you check if there is any more changes to be made.

[2022-10-24 07:20] t-inu commented on #37351
@K0more Thanks for creating a PR. I left comments in the PR.

[2022-10-24 07:27] Shubham82 commented on #37451
Hi @rhinck
I also tried this one, but for me, it is not reproducible. Below is the screenshot of the search:
https://kubernetes.io/search/?q=persistent%20volumes
![Screenshot from 2022-10-24 12-53-51](https://user-images.githubusercontent.com/50987400/197470446-11454e7d-2bcd-4124-a60d-8635df8faa0c.png)

Could you please check it again?

[2022-10-24 07:34] Shubham82 commented on #37459
Hi @damiscoulibaly
There is no description of the issue.
Please provide more information.

[2022-10-24 07:34] Shubham82 commented on #37459
/triage needs-information

[2022-10-24 07:39] Shubham82 commented on #37456
No description of the issue. Please provide more information.
I think you are talking about this [Set up Ingress on Minikube with the NGINX Ingress Controller](https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/), If it is then could you please provide what actual issue on the task.

[2022-10-24 07:40] Shubham82 commented on #37456
/triage needs-information

[2022-10-24 08:24] mtardy commented on #37457
Hey!

This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the #kubernetes-users channel in [Kubernetes slack](https://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) for answers to similar questions.

You can also open issues for Kubernete

[2022-10-24 14:59] sftim commented on #37455
@mboukhalfa what scope did you want for this issue:
- all raster images on the website
- just some of those images

If the scope is for all of the raster images, we'd probably treat this as an umbrella (overall) issue, and then file issues for making (or tracking down) vector versions of specific images.

[2022-10-24 15:01] sftim commented on #37455
The image in https://kubernetes.io/docs/concepts/overview/#going-back-in-time doesn't have editable text. You can however load it into a vector editor and type in new text, deleting what is already there.

[2022-10-24 15:34] sftim commented on #37455
I used Git to look at the history of this diagram. It looks as if it was added in https://github.com/kubernetes/website/pull/555 and was later edited to use the Calibri typeface.

If editing it, try to use Open Sans.

[2022-10-24 16:05] sftim commented on #37457
Rather than Stack Overflow (which is for help with writing code), I recommend asking on [Server Fault](https://serverfault.com/?tags=kubernetes).

[2022-10-24 16:15] sftim commented on #35093
Watch out for updating the weight values for pages that are autogenerated - we should teach the page generator to produce our preferred values instead.

[2022-10-24 16:26] sftim commented on #37451
/retitle Query parameters included in search results when Bing search used

We fall back to Bing search. However, Bing search is not as good as Google at indexing websites where different query strings might be used. I think that explains the symptoms.

[2022-10-24 16:26] sftim commented on #37451
Maybe we can find an API-based search service that offers effective indexing when they crawl the site.

[2022-10-24 17:52] #37419 closed

[2022-10-24 17:52] natalisucks opened #37486 "Autogenerator code update in k/website for page weight issues"
**This is a Feature Request**

During the KubeCon/CloudNativeCon NA 2022 SIG Docs sprint, a group of enthusiastic contributors worked on updating page weights as per the following bug report: Issue #35093. Our standard is that page weights are included in increments of 10 (10, 20, 30, etc.).

However, some of the pages that needed updating are auto-generated, which @sftim helpfully informed us of.

[2022-10-24 18:08] sftim commented on #37486
/triage accepted

[2022-10-24 18:08] sftim commented on #37486
/priority important-soon

[2022-10-24 18:10] chrisnegus opened #37487 "Improper case usage on Titles and Headings"
**This is a Bug Report**

Use of upper and lower case for titles and headings in Kubernetes documentation is inconsistent. Here are examples of how case should be handled in Titles, Headings, and when referring to those items in text, from the K8s [Documentation Style Guide](https://kubernetes.io/docs/contribute/style/style-guide/):

* **Titles**: Use title case for titles. For example, "Kubernete

[2022-10-24 18:14] sftim commented on #37469
Might as well:
/triage accepted

[2022-10-24 18:14] sftim commented on #37469
/triage duplicate

[2022-10-24 18:20] Rishit-dagli commented on #36894
/assign

[2022-10-24 18:20] sftim commented on #32832
Contributors are welcome to make a new live tutorial service to replace Katacoda, or to migrate our tutorials to a different service.

I think either of those options represents quite a lot of work. A _much_ more achievable step is to warn readers that our tutorial service relies on an error reporting tool that tracks use, and some ad blockers block it. We can provide additional detail about why t

[2022-10-24 18:21] sftim commented on #32832
It may not be as simple as you think, @fake-name. If you can show otherwise, that'd be really useful to learn.

[2022-10-24 18:24] sftim commented on #37356
@kubernetes/sig-security-leads, would we like to staff this work?

[2022-10-24 18:25] sftim commented on #37487
/kind cleanup
/priority backlog
/language en
/triage accepted
/remove-kind bug

[2022-10-24 18:29] sreekaransrinath commented on #37487
/assign

I'd like to take over this!

[2022-10-24 18:33] sftim commented on #35093
/reopen

[2022-10-24 18:44] sreekaransrinath commented on #37487
Question:

Which title case guideline are we using? There are a bunch (NYT, AP, APA, etc) that differ very slightly. @natalisucks suggests Google's Title Case style guide (which I'm unable to find)

I suggest going with NYT or AP.

@shannonxtreme would like to get your eyes on this.

[2022-10-24 18:46] shivaylamba commented on #37487
I agree with @sreekaransrinath +1

[2022-10-24 18:47] sreekaransrinath commented on #37487
Once we figure this out, I'll submit a PR to codify this in the style guide.

[2022-10-24 18:52] rhinck commented on #37451
@sftim mentioned that the search falls back to Bing. Does that mean      that Bing is only used if there is an issue with the internal search mechanism for the documentation website?

If so, I'm assuming that's why others are unable to replicate the issue

[2022-10-24 18:54] #36786 closed

[2022-10-24 19:16] mboukhalfa commented on #37455
Umbrella issue sound good

[2022-10-24 19:19] mboukhalfa commented on #37455
you mean just erase the old text and insert editable text which tools you recommend would be great if we have something online

[2022-10-24 19:19] sftim commented on #37451
The search falls back to Bing in the case of:
- state level censorship (countries that don't let their citizens access web search outside their borders)
- use behind a corporate network filter that blocks access to Google
- some rather vigorous ad blockers (Google run an ad network)

[2022-10-24 19:20] mboukhalfa commented on #37455
For me, I would use this diagram in new ar localization so I would use a different font

[2022-10-24 19:32] rhinck commented on #37451
Got it.

Makes sense now as I'm using Firefox 106.0.1 (64-bit) with uBlock Origin

[2022-10-24 19:37] shannonxtreme commented on #37487
https://developers.google.com/style/headings is the Google title case guidance in the developer docs style guide.

Before we fix pages, we need to have a discussion about whether we want to change our style guidance to use sentence case in titles. We currently say to use title case in titles.

I did a small poll in a sig docs slack standup and got positive results for switching our guideline to se

[2022-10-24 19:41] sftim commented on #37451
We could also add advice to readers if we detect that something is blocking the Google Search results from loading, to explain why the search isn't as good as we'd hope.

[2022-10-25 02:33] yukiiiteru opened #37500 "Table in admonition block does not work"
**Problem:**

![image](https://user-images.githubusercontent.com/37299119/197666068-911d61f4-d672-470a-a788-22e9cf4d51cd.png)

**Proposed Solution:**

I have no idea because I have never used Hugo 😢

**Page to Update:**

- https://kubernetes.io/docs/test/
- https://github.com/kubernetes/website/blob/main/content/en/docs/test.md

[2022-10-25 04:45] rohan-kulkarni-25 opened #37501 "[hi] Wrong language for “Tell your story” button on Case Studies page."
**This is a Bug Report**

**Problem:**
When we switch to the Hindi version the possible text on the website turns Hindi but not in the case of the tell your story button in the case study tab. So if a person knows only Hindi then they will not get the meaning of this word and we might miss one important feedback.
![image](https://user-images.githubusercontent.com/76584243/197684648-1b38c7ce-d40c-4

[2022-10-25 04:45] rohan-kulkarni-25 commented on #37501
I will like to work on this !!

[2022-10-25 07:19] twilight0620 opened #37502 "[zh]translate blog of introducing-kueue"
Problem:
do not have chinese docs: https://kubernetes.io/blog/2022/10/04/introducing-kueue/

Proposed Solution:
add chinese docs in website

Comments
/language zh
/assign

[2022-10-25 08:38] tback opened #37503 "Improvement for k8s.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/"
It'd be really great if the page about liveness, readiness & startup would clarify the behavior for failureThreshoulds.
Consider the following livenessProbe:
[code]

What is the minimal/maximal amount of time until the pod will restart?

Maximal case:
Will the kubelet spawn probes while it's waiting for a probe to respond? (restart after 3failures * 5s + 30s => 45s)?
Will it wait for the the first

[2022-10-25 09:37] sftim opened #37505 "Document `ConsistentHTTPGetHandlers` feature gate"
**This is a Feature Request**

**What would you like to be added**
Add documentation for the `ConsistentHTTPGetHandlers` feature gate, and why (as an end user) you might want to turn that feature gate on.

**Why is this needed**
We've [added](https://github.com/kubernetes/kubernetes/pull/86139) that feature gate recently and we'll want to document it, assuming that this change makes it into a rele

[2022-10-25 09:37] sftim commented on #37414
Largely duplicated by https://github.com/kubernetes/website/issues/37503

[2022-10-25 09:38] sftim commented on #37503
This feels like a duplicate of https://github.com/kubernetes/website/issues/37414
@tback would you agree?

/language en

[2022-10-25 09:40] sftim commented on #37501
/retitle [hi] Wrong language for “Tell your story” button on Case Studies page.

/language hi

[2022-10-25 09:41] sftim commented on #37500
/area web-development

/triage accepted

[2022-10-25 11:22] Pradumnasaraf commented on #37426
/assign

[2022-10-25 11:27] bishal7679 commented on #37505
/triage accepted

[2022-10-25 12:25] tback commented on #37503
No, I don't think it's a duplicate. I think the relation is so strong that I'll move my description over to the other ticket as a comment.

[2022-10-25 12:25] #37503 closed

[2022-10-25 12:27] tback commented on #37414
Another aspect that this page is lacking is the following (moved over from #37503):
It'd be really great if the page about liveness, readiness & startup would clarify the behavior for failureThreshoulds.
Consider the following livenessProbe:

livenessProbe:
  httpGet:
    path: /healthz
    port: http
  initialDelaySeconds: 5
  periodSeconds: 5
  timeoutSeconds: 30
  failureThreshold: 3

What is t

[2022-10-25 12:51] mukul-kr commented on #35937
I guess this issue is fixed. Kindly close it.

[2022-10-25 13:24] sftim commented on #37505
/sig node

[2022-10-25 15:37] bishal7679 commented on #35937
/close

[2022-10-25 15:37] #35937 closed

[2022-10-25 16:37] nfrik opened #37512 "Improvement for k8s.io/docs/tutorials/kubernetes-basics/update/update-intro/"
I was looking for documentation, not an interactive tutorial.

[2022-10-25 17:17] ayushontop commented on #37501
Hello I wanna Work on this issue, thanks

[2022-10-25 17:20] Pradumnasaraf commented on #37393
Hey, @sftim I would like to work on this issue can you please guide me? Are you expecting to replace the line? -

[code]

[2022-10-25 17:22] agenslerDNA commented on #37456
I just came for the same thing. I think the issue is that it's not working on macOS. Everything is setup correctly as far as I can tell, but the one problem is the final step of curl'ing the hello-world.info app. It just doesn't work - times out when using ingress.

hosts file has this: 192.168.49.2	hello-world.info
(taken from minikube ip)
and followed the instructions exactly. exposing the appli

[2022-10-25 17:31] bishal7679 opened #37513 "[hi] Localize /en/docs/reference/glossary/disruption.md"
### Prerequisites:

- If this is your first contribution, visit [Contribute to K8s docs](https://kubernetes.io/docs/contribute/) for information on how to get started.
- Review a few https://github.com/kubernetes/website/issues/35600#issuecomment-1214215859 to see which
  content you have to change and which you leave unchanged.

### Procedure:

- Make sure your base, target branch is `main` and c

[2022-10-25 17:32] bishal7679 opened #37514 "[hi] Localize /en/docs/reference/glossary/istio.md"
### Prerequisites:

- If this is your first contribution, visit [Contribute to K8s docs](https://kubernetes.io/docs/contribute/) for information on how to get started.
- Review a few https://github.com/kubernetes/website/issues/35600#issuecomment-1214215859 to see which
  content you have to change and which you leave unchanged.

### Procedure:

- Make sure your base, target branch is `main` and c

[2022-10-25 17:33] bishal7679 opened #37515 "[hi] Localize /en/docs/reference/glossary/kubelet.md"
### Prerequisites:

- If this is your first contribution, visit [Contribute to K8s docs](https://kubernetes.io/docs/contribute/) for information on how to get started.
- Review a few https://github.com/kubernetes/website/issues/35600#issuecomment-1214215859 to see which
  content you have to change and which you leave unchanged.

### Procedure:

- Make sure your base, target branch is `main` and c

[2022-10-25 17:35] bishal7679 opened #37516 "[hi] Localize /en/docs/reference/glossary/kubectl.md"
### Prerequisites:

- If this is your first contribution, visit [Contribute to K8s docs](https://kubernetes.io/docs/contribute/) for information on how to get started.
- Review a few https://github.com/kubernetes/website/issues/35600#issuecomment-1214215859 to see which
  content you have to change and which you leave unchanged.

### Procedure:

- Make sure your base, target branch is `main` and c

[2022-10-25 17:36] EricoCartmanez opened #37517 "Improvement for k8s.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/"
This is not correct. It should be "node-to-uncordon" and not "node-to-drain".
The node is supposed to be already drained and ready to become schedulable again.

[2022-10-25 17:40] bishal7679 opened #37519 "[hi] Localize /en/docs/reference/glossary/kubeadm.md"
### Prerequisites:

- If this is your first contribution, visit [Contribute to K8s docs](https://kubernetes.io/docs/contribute/) for information on how to get started.
- Review a few https://github.com/kubernetes/website/issues/35600#issuecomment-1214215859 to see which
  content you have to change and which you leave unchanged.

### Procedure:

- Make sure your base, target branch is `main` and c

[2022-10-25 17:42] bishal7679 opened #37520 "[hi] Localize /en/docs/reference/glossary/replica-set.md"
### Prerequisites:

- If this is your first contribution, visit [Contribute to K8s docs](https://kubernetes.io/docs/contribute/) for information on how to get started.
- Review a few https://github.com/kubernetes/website/issues/35600#issuecomment-1214215859 to see which
  content you have to change and which you leave unchanged.

### Procedure:

- Make sure your base, target branch is `main` and c

[2022-10-25 17:48] Pradumnasaraf commented on #37519
/assign

[2022-10-25 17:49] Pradumnasaraf commented on #37520
/assign

[2022-10-25 18:02] bishal7679 commented on #37517
/assign

[2022-10-25 18:06] divya-mohan0209 commented on #37487
@shannonxtreme I agree with your reasoning. However, in addition to the style guide amendment, I suggest we codify the check for this. There are two reasons for this:
- We can avoid any trivial edits being made specifically wrt casing.
- We can ensure that proper sentence casing is followed for future PRs.

I'm curious to see what other people think of this.

[2022-10-25 18:20] dhduvall opened #37709 "document interaction between PodDisruptionBudget and rollout strategy"
### What would you like to be added?

The documentation on PodDisruptionBudgets (https://kubernetes.io/docs/concepts/workloads/pods/disruptions/) doesn't mention strategy at all. Likewise, the documentation on strategy (https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#strategy) doesn't mention PodDisruptionBudgets. https://kubernetes.io/docs/tasks/administer-cluster/safely-dra

[2022-10-25 18:54] seokho-son commented on #37426
@jihoon-seo

cordoned Node 를 통제된 노드라고 하면, 의미를 오해할 수 있을 것 같은 데 어떻게 생각하시나요?

Node unschedulable 에 해당하는 의미를 지니거나
`kubectl cordon $NODENAME` 인 것을 고려하면.
음차를 하는 것이 더 낫지 않을까 싶습니다.

[2022-10-25 19:45] reylejano opened #37523 "Request for a machine-readable file of deprecated / removed APIs"
This request is for a machine-readable file of deprecated / removed APIs similar to the [Deprecated API Migration guide page](https://kubernetes.io/docs/reference/using-api/deprecation-guide/)

[2022-10-25 20:49] sftim commented on #37455
The tool _I_ use to edit SVG images is [Inkscape](https://inkscape.org/), which is open source donationware. Any other tool that talks SVG is also viable.

[2022-10-25 21:16] sftim commented on #37448
Also see https://github.com/kubernetes/kubernetes/issues/113028

[2022-10-25 21:28] sftim commented on #37523
/priority awaiting-more-evidence

Sounds great. Can you write out why this is useful @reylejano ?

[2022-10-25 21:29] sftim commented on #37523
BTW, I expect that this will be a pain to implement and manage unless k/k provides that source data.

[2022-10-25 21:33] sftim opened #37524 "Add documentation of all prometheus metrics in core Kubernetes"
**This is a Feature Request**

**What would you like to be added**
Add a reference page for the metrics time series that different Kubernetes components can generate.

**Why is this needed**
People who use Kubernetes would like to know what metrics are available.

**Comments**
https://github.com/kubernetes/kubernetes/pull/113343 added docs generation code into [k/k](https://github.com/kubernetes/k

[2022-10-26 01:15] jihoon-seo commented on #37426
@seokho-son
음차를 한다면
- 'a cordoned Node' - 코돈된(cordoned) 노드 or 코돈(cordon)된 노드
- 'Since `node-1` is cordoned,' - `node-1`은 코돈되었으므로,
- 'Uncordon the node'
  - 노드를 언코돈한다 or 노드를 코돈 해제한다
  - (헤더로 쓰인 경우) 노드 언코돈하기 or 노드 코돈 해제하기
- ...

검색을 해 보니 이 단어를 번역하거나 음차하여 한국어로 표현한 사례가 없는 것 같아서
어떻게 하는 것이 좋을지 고민이 되네요.. ㅎㅎ

---

현재 'cordon'이 번역되어 들어가 있는 파일의 목록은 다음과 같습니다.
- content/ko/docs/concepts/architecture/nodes.md

[2022-10-26 05:33] Seo-yul commented on #36686
merged issue.
PR: https://github.com/kubernetes/website/pull/37177
/close

[2022-10-26 07:41] vaibhav2107 commented on #37515
/assign

[2022-10-26 10:36] sachinparihar commented on #37516
/assign

[2022-10-26 12:04] bishal7679 opened #37533 "[hi] Localize /en/docs/reference/glossary/statefulset.md"
### Prerequisites:

- If this is your first contribution, visit [Contribute to K8s docs](https://kubernetes.io/docs/contribute/) for information on how to get started.
- Review a few https://github.com/kubernetes/website/issues/35600#issuecomment-1214215859 to see which
  content you have to change and which you leave unchanged.

### Procedure:

- Make sure your base, target branch is `main` and c

[2022-10-26 12:09] bishal7679 opened #37534 "[hi] Localize /en/docs/reference/glossary/workload.md"
### Prerequisites:

- If this is your first contribution, visit [Contribute to K8s docs](https://kubernetes.io/docs/contribute/) for information on how to get started.
- Review a few https://github.com/kubernetes/website/issues/35600#issuecomment-1214215859 to see which
  content you have to change and which you leave unchanged.

### Procedure:

- Make sure your base, target branch is `main` and c

[2022-10-26 12:11] bishal7679 opened #37535 "[hi] Localize /en/docs/reference/glossary/pod-lifecycle.md"
### Prerequisites:

- If this is your first contribution, visit [Contribute to K8s docs](https://kubernetes.io/docs/contribute/) for information on how to get started.
- Review a few https://github.com/kubernetes/website/issues/35600#issuecomment-1214215859 to see which
  content you have to change and which you leave unchanged.

### Procedure:

- Make sure your base, target branch is `main` and c

[2022-10-26 12:14] bishal7679 opened #37536 "[hi] Localize /en/docs/reference/glossary/pod-disruption.md"
### Prerequisites:

- If this is your first contribution, visit [Contribute to K8s docs](https://kubernetes.io/docs/contribute/) for information on how to get started.
- Review a few https://github.com/kubernetes/website/issues/35600#issuecomment-1214215859 to see which
  content you have to change and which you leave unchanged.

### Procedure:

- Make sure your base, target branch is `main` and c

[2022-10-26 12:32] Aayush987 commented on #37536
Hi , i can work on this issue. Please assign it to me.

[2022-10-26 12:34] bishal7679 commented on #37536
/assign @Aayush987
Thank you!

[2022-10-26 12:59] gmarcot opened #37537 "Improvement for k8s.io/docs/concepts/security/pod-security-policy/"
Hey,

after podsecuritypolicy as deprecated with latest kubernetes version all info are removed from the kubernetes documentation , but  in CKS exam it's an exam argument according to cv exam. Can you re-public the page? I have check for the oldest k8s version but i didn't found it

Many Thanks

[2022-10-26 13:59] #30655 closed

[2022-10-26 13:59] #34009 closed

[2022-10-26 18:20] surbhiahuja commented on #37535
/assign

[2022-10-26 18:27] greenorca opened #37541 "Improvement for k8s.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/"
With recent versions for mysql (8.0) and Wordpress, there are some errors, e.g.
* the environment variable for WORDPRESS_DB_USER is missing in the wordpress YAML (could be root for simplicity)
* the default wordpress DB should created during setup of the mysql-container (this I don't know how to do)

Thanks a lot for consideration

[2022-10-26 22:49] mboukhalfa opened #37546 "[AR] localization umbrella issue"
# Arabic localization

## General workflow
1. Select an available file from the list and inform community by commenting this issue
2. Fork the [main branch](https://github.com/kubernetes/website) of the `kubernetes/website` repo.
3. Translate the English file.
4. In your fork, create a corresponding Arabic file (in /content/ar/…)
5.  Translate the text and keep the layout and code samples intact.

[2022-10-26 23:08] mboukhalfa commented on #37546
I picked up the /home/_index.md here is a PR https://github.com/kubernetes/website/pull/37547

[2022-10-27 02:40] donghui12 commented on #37541
WORDPRESS_DB_USER default root,  wordpress DB created when connect mysql-container;

[2022-10-27 03:15] sachinparihar commented on #37514
/assign

[2022-10-27 04:07] #34011 closed

[2022-10-27 04:07] #33951 closed

[2022-10-27 04:32] surbhiahuja commented on #37535
https://github.com/kubernetes/website/pull/37542

[2022-10-27 04:33] surbhiahuja commented on #37534
/assign

[2022-10-27 04:44] surbhiahuja commented on #37534
https://github.com/kubernetes/website/pull/37551 - Raised PR

[2022-10-27 04:46] surbhiahuja commented on #37533
/assign

[2022-10-27 05:03] surbhiahuja commented on #37533
https://github.com/kubernetes/website/pull/37552 - Raised PR

[2022-10-27 05:08] surbhiahuja commented on #37513
/assign

[2022-10-27 05:23] surbhiahuja commented on #37513
https://github.com/kubernetes/website/pull/37553 - Raised PR

[2022-10-27 06:31] bishal7679 commented on #37535
@surbhiahuja Nothing to be worried at all! You don't have to make PR for all issues. As we are welcoming new contributors by this issues. So leave some issue for other contributors as well. Never mind!

[2022-10-27 06:33] bishal7679 commented on #37535
and also follow all the procedure mentioned above. See what you have to localize and what not!

[2022-10-27 07:34] Shubham82 commented on #37537
Hi @gmarcot
It is under k8s v1.24, See the below link.
https://v1-24.docs.kubernetes.io/docs/concepts/security/pod-security-policy/

As the pod security policy was removed in k8s v1.25, therefore the content was removed from this version. you can find it in the previous version of k8s.

[2022-10-27 07:40] gmarcot commented on #37537
Hello @Shubham82  ,

many thanks, i have search on v1.21 but i never found the page, i really appreciate your help

Consider close this issue, have a great day!

[2022-10-27 07:43] Shubham82 commented on #37537
closing this issue.
/close

[2022-10-27 08:15] sftim commented on #32047
/remove-lifecycle rotten
/lifecycle stale

[2022-10-27 09:40] sftim commented on #22730
Also see https://github.com/kubernetes/website/issues/37546

[2022-10-27 09:51] iamishuverma opened #37556 "Control CPU Management Policies on the Node"
https://kubernetes.io/docs/tasks/administer-cluster/cpu-management-policies/#changing-the-cpu-manager-policy
First line of the above section has a typo. This should be "manager" instead of "manger".

[2022-10-27 12:42] NitishKumar06 commented on #37556
/assign

[2022-10-27 13:01] JingbenShi668 opened #37561 "Invaild images for Configure Multiple Schedulers chart on k8s.io"
There are many pictures that can't been shown normally  on https://kubernetes.io/docs/tasks/extend-kubernetes/configure-multiple-schedulers/. In other words, the links of some pictures are invalid now.
<img width="968" alt="image" src="https://user-images.githubusercontent.com/39040502/198291123-84a0ecb3-6801-4533-b977-6357dfa5b9c2.png">
<img width="983" alt="image" src="https://user-images.github

[2022-10-27 14:59] bishal7679 commented on #35600
## Newly Opened Issues for new Contributors
- [ ] https://github.com/kubernetes/website/issues/37513 (Assigned)
- [ ] https://github.com/kubernetes/website/issues/37514 (Assigned)
- [ ] https://github.com/kubernetes/website/issues/37515 (Assigned)
- [ ] https://github.com/kubernetes/website/issues/37516 (Assigned)
- [ ] https://github.com/kubernetes/website/issues/37519 (Assigned)
- [ ] https://gi

[2022-10-27 15:26] amolmote commented on #35600
great work @bishal7679 , some folks are facing checks failing issue. i have checked the build logs. but i am not able to understand what is the actual issue. `Error: Error building site: "/opt/build/repo/content/hi/docs/reference/glossary/pod-disruption.md:11:1": failed to unmarshal YAML: yaml: line 11: did not find expected '-' indicator`. @bishal7679 do you know anything about this.

[2022-10-27 16:25] utkarsh-singh1 commented on #37561
Hi @JingbenShi668, Can you check your internet connection if it is slow or reload the site again because I have not found any issue right now.

/language en
/triage need-information

[2022-10-27 17:07] sftim commented on #37524
/triage accepted
/priority important-longterm

[2022-10-27 17:34] #36640 closed

[2022-10-27 19:30] greenorca commented on #37541
Thanks for the quick reply. The database is not created automatically with the current version of WP6.0. So it would be great if this was done during setup of the wordpress-mysql deployment

[2022-10-27 20:03] chalin commented on #36333
You're right @sftim, when seen in that context. Let me offer a more complete formulation (since I forgot to include the full context in this issue, taking it as implicit).

[2022-10-27 20:11] chalin commented on #36333
@sftim @nate-double-u - Ok, here's a more complete (hopefully better) picture of the situation as I see it.

When the website is built in **production** mode, we get the following **by default** from Hugo/Docsy:

1. Site indexing is permitted
2. Analytics is enabled
3. Artifacts are minified
4. Assets are finger printed

We want:

- All of the above features for the main deploy, and
- All except (

[2022-10-27 22:43] AhmedGrati commented on #37500
Can I take care of it?

[2022-10-27 23:13] #33991 closed

[2022-10-28 04:53] PratikDey commented on #31677
Can I work on `content/bn/docs/setup/learning-environment/_index.md`?

[2022-10-28 06:58] RinkiyaKeDad commented on #31946
Started discussions here: https://kubernetes.slack.com/archives/C1J0BPD2M/p1666775238623839

[2022-10-28 07:02] libinglong opened #37573 "Issue with k8s.io/docs/tasks/inject-data-application/define-command-argument-container/"
There shoule be more details about the relations between k8s commands and args with images.

See https://github.com/kubernetes/website/commit/7a2863b99ad1c3a081d468f3e3d23e771a6ef6d9#comments

[2022-10-28 07:47] Yash-Raj-srivastav opened #37574 "Outdated Jobs documentation"
Outdated Kubernetes Job Docs!
I tried running the k8s job pi example which is present in Job docs here: https://kubernetes.io/docs/concepts/workloads/controllers/job/
But when I did describe, I saw the "Pod statuses" field as "Active" not "Running". Also there are new fields that are added into job description like "Completion Mode"

This is what I see in the docs for "kubectl describe job pi" com

[2022-10-28 07:58] Karthik-PM commented on #31585
can i work on this issue as well?

[2022-10-28 08:16] RA489 commented on #37457
/close as no action needed on k8s docs.

[2022-10-28 08:17] Karthik-PM commented on #37574
\assign

[2022-10-28 08:18] Karthik-PM commented on #37574
/assign

[2022-10-28 08:59] T-Lakshmi commented on #37428
Hi @sftim,

Yes, basic Explanation/information about `containerized applications`.

Yes, my idea is same to expand this by adding about `containerized applications`. WDYT?

   If you think it's better to borrow from here, i can follow the same.

Please provide your opinion.

[2022-10-28 09:45] RA489 commented on #37546
/triage accepted

[2022-10-28 09:47] RA489 commented on #37517
/triage accepted

[2022-10-28 09:48] RA489 commented on #37512
@nfrik do you mind explaining it in bit more details what is the issue you're facing?

[2022-10-28 09:49] RA489 commented on #37512
/priority awaiting-more-evidence

[2022-10-28 09:50] RA489 commented on #37502
/triage accepted

[2022-10-28 09:50] RA489 commented on #37501
/triage accepted

[2022-10-28 09:53] RA489 commented on #37433
/triage accepted

[2022-10-28 09:55] RA489 commented on #37354
/triage accepted

[2022-10-28 09:55] RA489 commented on #37331
/triage accepted

[2022-10-28 10:11] RA489 commented on #37248
/triage accepted

[2022-10-28 10:13] RA489 commented on #37203
/triage accepted

[2022-10-28 10:13] RA489 commented on #37188
/triage accepted

[2022-10-28 10:14] RA489 commented on #37108
/triage accepted

[2022-10-28 10:16] RA489 commented on #36937
/triage accepted

[2022-10-28 10:20] RA489 commented on #36838
/triage accepted

[2022-10-28 13:51] JingbenShi668 commented on #37561
Hi , my internet works well. I have attempted for extra some times, and it seems that some icon image resources can't load successfully  on https://kubernetes.io/docs/tasks/extend-kubernetes/configure-multiple-schedulers/. 😊
<img width="985" alt="image" src="https://user-images.githubusercontent.com/39040502/198622678-e696e7d0-5a88-41ec-bc50-ee379eec03eb.png">

[2022-10-28 14:51] utkarsh-singh1 commented on #37561
Hi @JingbenShi668, Here is the view I have of the same page,

![Screenshot from 2022-10-28 20-14-21](https://user-images.githubusercontent.com/96516301/198657164-ba0106f5-edb6-4dc9-9fcb-44cf2398118c.png)

![Screenshot from 2022-10-28 20-14-39](https://user-images.githubusercontent.com/96516301/198657372-8603b06b-d41b-4be0-9f33-3158c839bc67.png)

What's your opinion on this error @sftim?

[2022-10-28 15:48] mitul3737 commented on #31677
@PratikDey  You have been appointed

[2022-10-28 16:08] JingbenShi668 commented on #37561
@utkarsh-singh1 oh, sorry, when I attempted to visit the website, my internet seems to be unstable. Now,  I attempt one more time, the website works well. Thanks for your explanation, I will close the issue.
<img width="994" alt="image" src="https://user-images.githubusercontent.com/39040502/198683107-ce2790cf-8818-4a0d-b570-cddbcd217eba.png">

[2022-10-28 16:08] #37561 closed

[2022-10-29 04:43] fatelei commented on #37541
/assign

[2022-10-29 12:02] #37556 closed

[2022-10-29 12:13] sftim commented on #37574
/sig apps
/language en

[2022-10-29 12:14] sftim commented on #37573
/language en

@libinglong, would you be willing to explain what you think should change? Ideally, you'll be able to explain the situation clearly enough that someone who has made a few docs contributions, but is not a Kubernetes expert, can understand what ought to be fixed and how.

[2022-10-29 12:26] Rishit-dagli commented on #35332
@sftim If it is possible (since I'm not an approver or reviewer) I would be open to maintaining this setup preferably with someone else from SIG Docs

[2022-10-29 13:01] sftim commented on #30576
/triage accepted
/lifecycle froze

Let's hope to do this one day.

[2022-10-29 13:03] sftim commented on #32351
/sig docs

[2022-10-29 13:04] sftim commented on #32351
/triage accepted
/lifecycle frozen

[2022-10-29 13:09] sftim commented on #22021
/triage accepted

[2022-10-29 14:05] sftim commented on #37357
I can replicate this issue :disappointed:

/triage accepted
/remove-priority awaiting-more-evidence

[2022-10-29 14:05] sftim commented on #37357
/retitle Mermaid diagrams not rendering for “Pod Topology Spread Constraints” concept

[2022-10-29 15:09] sftim commented on #30661
Looks fixed

/close

[2022-10-29 15:09] #30661 closed

[2022-10-29 15:09] sftim commented on #30661
/triage accepted

[2022-10-29 15:11] sftim commented on #37160
If that's not obvious, it's OK to omit tackling this part.

[2022-10-29 15:15] Kart121 commented on #37501
/assign

[2022-10-29 15:15] sftim commented on #37223
/triage accepted
/sig network
/priority backlog

[2022-10-29 15:17] sftim commented on #30765
Relevant to https://github.com/kubernetes/website/issues/37223 (which may be a duplicate)

[2022-10-29 15:22] sftim commented on #37223
https://github.com/kubernetes/kubernetes/pull/110191#issuecomment-1142294392 says:

We should document that Pods that back Services should have a readiness probe defined, wherever this problem behavior (sending traffic to terminating pods) is not wanted.
Also, the app code should try to fail the readiness probe as soon as Pod termination is signalled.

We should mention this in https://kubernetes.

[2022-10-29 15:23] sftim commented on #37223
Extra credit: add a diagram somewhere (might be easier once https://github.com/kubernetes/website/pull/36675 has merged)

[2022-10-29 15:25] sftim commented on #37223
The overall idea here is to probe Pods for _readiness_, even during shutdown, and use that readiness information to drop backends out of Services more gracefully.

Because unexpected failures can happen, workloads should also be prepared to handle the case where a Pod disappears from the API, or the container fails hard, even whilst traffic directed to that Pod is in flight.

[2022-10-29 15:26] sftim commented on #30765
/sig network
/triage accepted

[2022-10-29 15:27] sftim commented on #30765
BTW @nonylene, other contributors may have seen the `/cc sftim` and decided not to work on this issue. Flagging specific contributors like that can actually slow down overall time to resolve.

[2022-10-29 16:10] nonylene commented on #30765
understand, thank you

[2022-10-29 16:20] #36650 closed

[2022-10-29 16:50] sftim opened #37589 "Document preemption toleration annotation for PriorityClasses"
**This is a Feature Request**

**What would you like to be added**
Document two annotations:
- `preemption-toleration.scheduling.sigs.k8s.io/minimum-preemptable-priority`
- `preemption-toleration.scheduling.sigs.k8s.io/toleration-seconds`

in https://kubernetes.io/docs/reference/labels-annotations-taints/

These are used on PriorityClasses.

**Why is this needed**
We try to document all the offici

[2022-10-29 17:02] Starr79 opened #37590 "Google pay"

[2022-10-29 18:58] sftim commented on #37590
/triage needs-information

@Starr79, this issue description is blank. What did you want to request or report?

[2022-10-30 03:31] RA489 commented on #32422
/remove-lifecycle rotten

[2022-10-30 03:47] rohan-kulkarni-25 commented on #37501
Hey @Kart121 I was going to work on this issue as I have already mentioned above was waiting for triage only

[2022-10-30 04:45] Kart121 commented on #37501
@rohan-kulkarni-25 alright , but after you do can you please tell me how you did it ?

[2022-10-30 04:58] Kart121 commented on #36937
/assign

[2022-10-30 11:48] gnuion opened #37603 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
I don't know why there is a sidebar on the right for just 4 links. The Iframe in the middle is too small to interact with the console.

![image](https://user-images.githubusercontent.com/16549839/198876858-2f872cda-8bd3-4a07-a795-4eda33a35bad.png)

[2022-10-30 13:10] nasa9084 commented on #37007
/triage accepted

[2022-10-30 13:12] #37007 closed

[2022-10-30 13:20] #36852 closed

[2022-10-30 14:22] kadtendulkar opened #37605 "Broken link on Writing a new topic page"
**Problem:**
The text [**FlexVolume**](https://kubernetes.io/docs/concepts/storage/volumes#flexvolume) on [link](https://kubernetes.io/docs/contribute/style/write-new-topic/#embedding-code-in-your-topic) is not working, it should point to these https://kubernetes.io/docs/concepts/storage/volumes/#flexvolume-deprecated
Check the page [Writing a new topic](https://kubernetes.io/docs/contribute/style

[2022-10-30 14:58] kadtendulkar opened #37607 "Broken link on Extending Kubernetes page"
**Problem:**
The text [FlexVolume](https://kubernetes.io/docs/concepts/storage/volumes#flexvolume) on [link](https://kubernetes.io/docs/concepts/extend-kubernetes/#storage-plugins) is not working, it should point to these https://kubernetes.io/docs/concepts/storage/volumes/#flexvolume-deprecated
Check the page [Extending Kubernetes](https://kubernetes.io/docs/concepts/extend-kubernetes/#storage-pl

[2022-10-30 20:44] utkarsh-singh1 commented on #37603
Hi @gnuion, Can you clarify your issue, which side of intercative tutorial you are having issue with - terminal area or  tutorial area.

/language en
/priority awaiting-more-evidence

[2022-10-30 22:09] gnuion commented on #37603
Hello @utkarsh-singh1!
I assume you know what an [iframe](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/iframe) is?

The area of the iframe is too narrow, leaving the terminal hard to work with.

[2022-10-30 22:29] #37603 closed

[2022-10-31 00:10] #31994 closed

[2022-10-31 00:11] sftim opened #37612 "Document `kubernetes.io/limit-ranger` annotation on PersistentVolumeClaims (?)"
**This is a Bug Report**

**Problem:**
https://github.com/kubernetes/website/pull/34939/files#r991220411 commented on whether the `kubernetes.io/limit-ranger` annotation might get used on a PersistentVolumeClaim. It looks like it might be.

This issue is calling for action to determine what SIG Docs should document in terms of that annotation as applied specifically to PersistentVolumeClaims, and

[2022-10-31 00:16] t-inu commented on #37351
/close

[2022-10-31 00:16] #37351 closed

[2022-10-31 03:57] shuuji3 commented on #27596
/remove-lifecycle stale

[2022-10-31 05:22] nitishchauhan0022 commented on #37589
/assign

[2022-10-31 11:07] rohan-kulkarni-25 commented on #37501
/assign

[2022-10-31 12:24] sftim commented on #34333
Relevant to https://github.com/kubernetes/kubernetes/issues/57424

[2022-10-31 12:34] chengxiangdong opened #37623 "[zh-cn] Security Checklist document is missing"
**This is a Feature Request**

**What would you like to be added**

add and translate Chinese document:
`content/zh-cn/docs/concepts/security/security-checklist.md`

English:
https://kubernetes.io/docs/concepts/security/security-checklist

**Why is this needed**
Support for more localization.

**Comments**

/language zh
/assign

[2022-10-31 12:35] chengxiangdong opened #37624 "[zh-cn] User Namespaces document is missing"
**This is a Feature Request**

**What would you like to be added**

add and translate Chinese document:
`content/zh-cn/docs/concepts/workloads/pods/user-namespaces.md`

English:
https://kubernetes.io/docs/concepts/workloads/pods/user-namespaces

**Why is this needed**
Support for more localization.

**Comments**

/language zh
/assign

[2022-10-31 12:49] windsonsea commented on #37623
/triage accepted

[2022-10-31 12:50] windsonsea commented on #37624
/triage accepted

[2022-10-31 18:07] bishal7679 commented on #37612
/triage accepted

[2022-11-01 01:58] Socolin commented on #35640
/remove-lifecycle stale

[2022-11-01 03:10] mengjiao-liu commented on #36681
/close by https://github.com/kubernetes/website/pull/36702#issuecomment-1241851668

[2022-11-01 03:11] mengjiao-liu commented on #36681
/close

[2022-11-01 03:11] #36681 closed

[2022-11-01 07:25] T-Lakshmi commented on #37409
Fixed it here #37635

[2022-11-01 07:40] T-Lakshmi commented on #37428
Hi @sftim,

Can you please comment on above.

[2022-11-01 08:36] saschagrunert commented on #35341
/remove-lifecycle stale

[2022-11-01 10:56] Kartik494 commented on #37417
@rayarazan It's working fine could you please recheck  at your end,

[2022-11-01 11:27] Ritikaa96 opened #37640 "Document kubernetes.io/kubeadm-reconfigure.md has wrong format for whats next section"
**This is a Bug Report**

**Problem:**
- The document kubeadm-reconfigure.md had a format error for **`what's next`** section. you can find it [here](https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-reconfigure/)
- More information regarding kubeadm  can be added .
-
**Proposed Solution:**
**`What's next`** section should be in the right format like other documents for eg: [exte

[2022-11-01 11:43] tengqm commented on #37640
/triage accepted
/kind bug

[2022-11-01 11:44] #37640 closed

[2022-11-01 12:15] sftim commented on #37590
/close

We can reopen this if there is more detail available.

[2022-11-01 12:15] #37590 closed

[2022-11-01 16:18] chrismetz09 commented on #37357
Cannot replicate using Chrome and FF. Indicates a parser error or sometimes Mermaid can't pick up the configuration if mermaid.js is loaded from cache.

Investigating further.

[2022-11-01 16:48] chrismetz09 commented on #32243
https://github.com/kubernetes/website/pull/36671 generates 404.

[2022-11-01 17:27] sftim commented on #29680
Content unclear about “Controlling Access to the Kubernetes API” and ports in use
/remove-lifecycle rotten
/lifecycle stale

[2022-11-01 17:55] sftim commented on #37607
/triage accepted

[2022-11-01 17:56] #37605 closed

[2022-11-01 17:56] #37607 closed

[2022-11-01 18:28] sftim commented on #36495
This might be a bug in https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/

/language en

[2022-11-01 18:30] sftim commented on #36495
/kind bug

Let's assume that it _is_ a bug.
/triage accepted

**Help wanted** (but not marking this /help because there might not be enough hints for a docs contributor to find a fix).

[2022-11-01 21:49] eholman opened #37650 "Issue with k8s.io/docs/tasks/tools/included/optional-kubectl-configs-pwsh/"
After running `kubectl completion powershell >> $PROFILE` the following information is added to $PROFILE, which isn't correct:

![image](https://user-images.githubusercontent.com/5081051/199348317-b6b6a01a-36b9-4ed2-b8a1-73274429c3e0.png)

After restarting the shell:
<img width="630" alt="image" src="https://user-images.githubusercontent.com/5081051/199348998-a4d6ffa1-48ba-4887-ab0b-fe35ce131912.p

[2022-11-01 21:52] stefanlasiewski opened #37651 "“Encrypting Secret Data at Rest” best practice: Manually verify that the keys match"
I propose adding one more best practice to “Encrypting Secret Data at Rest”: manually verify that the key used to encrypt secrets in etcd match the key that is saved to disk.

Race conditions, bugs in the code, or user mistakes can overwrite `/etc/kubernetes/ssl/encryption.yaml` with the wrong key. While the chances of this happening are small, it does happen and the consequences can be devastatin

[2022-11-01 23:15] stefanlasiewski commented on #37651
/label language/en

[2022-11-02 00:02] chalin opened #37657 "Ensure that page-feedback events are usable with Google Analytics 4"
This can be viewed as a subtask of #35299 or a followup task, which is why I'm creating a separate issue. I'd vote for the latter.

While the website's custom [layouts/partials/feedback.html](https://github.com/kubernetes/website/blob/main/layouts/partials/feedback.html) is already using the `gtag.js` library, the **custom event name** (`click`) **conflicts with GA4's use of the same name** to mea

[2022-11-02 00:10] chalin commented on #35299
@a-mccarthy: it's not clear that it will work as is. Since page feedback-data processing might have a little less of an urgency than ensuring that GA4 events are being tracked ASAP, I've created a separate issue (and as I mention there, suggest that we tackle it as a followup item to this issue):

- #37657

[2022-11-02 10:09] a-mccarthy commented on #37657
Thanks for filing this @chalin. I also noticed that the data we are currently getting from the feedback form is not reliable. I opened a bug here: https://github.com/kubernetes/website/issues/37201.  I've done a bit of investigating to try and remove the bot data, but its looking like this is not as straight forward as i was hoping. I dont have a solution yet, but wanted to make sure to note the i

[2022-11-02 11:46] sftim commented on #32046
/remove-lifecycle rotten
/lifecycle stale

[2022-11-02 13:46] a-mccarthy commented on #37201
Thanks @chalin!

[2022-11-02 14:01] sftim commented on #37650
Aside: the page at https://k8s.io/docs/tasks/tools/included/optional-kubectl-configs-pwsh/ is misconfigured and shouldn't be served; it's there to be included in other pages.

[2022-11-02 14:02] sftim commented on #37651
/sig security

[2022-11-02 16:56] KrishnaRIG opened #37674 "Ingress-nginx whitelist-source-range annotation is not working"
Hi Team,

We are using ingress-nginx in Azure Kubernetes cluster to expose services running in Kubernetes to outside world with hostname. Also we are using following annotation in ingress YAML file to restrict the domain access to specific IPs for security purpose. This configuration was working as expected till upgrade. After upgrading from 1.21.x to 1.22.x this configuration is not working prope

[2022-11-02 19:54] #34652 closed

[2022-11-02 21:50] sjmudd opened #37677 "Improvement for k8s.io/docs/concepts/storage/dynamic-provisioning/"
Provide sample usage where a pod would be creating needing dynamic storage provisioning.
That is provide the whole recipe not just the part about creating a PVC to create a volume.

[2022-11-02 21:52] sjmudd commented on #37677
This probably should be referenced against same using a replicaset where multiple volumes may be needed and so manually creating individual ones is not practical. However, even the creation of a single volume for a pod to use dynamically provisioned storage should be explained, as this just makes the volume "appear" as needed.

[2022-11-02 23:36] nate-double-u opened #37679 "Update Documentation Style Guide and .editorconfig"
**This is a Feature Request**

Following Geoffrey Cline's (@geoffcline) talk in last week's Kubernetes Contributor summit, "Linting English? Authoring docs in IDEs," we should update the Documentation Style Guide to mention the `.editorconfig` file and explain what it does. We should also ensure that the Style Guide and `.editorconfig` file match where the `.editorconfig` file overlaps the Style G

[2022-11-03 01:31] chalin commented on #37657
Progress: I've defined an [Event Modification rule](https://support.google.com/analytics/answer/10085872) through the analytics console interface. It changes the event name of Docsy page-feedback events to `page_helpful` from `click`:

So far it is working in realtime in the debugger. It also is appearing in the Realtime overview events panel:

Here's an example of the parameters of one of these m

[2022-11-03 03:53] Kartik494 commented on #37677
/sig storage

[2022-11-03 07:44] divya-mohan0209 commented on #37679
/triage accepted

[2022-11-03 08:00] kundan2707 commented on #37674
/assign

[2022-11-03 08:02] kundan2707 commented on #37674
@KrishnaRIG  you are mentioning only one ip address. there should be ip address rang for whitelist-source-range.
[code]

[2022-11-03 08:15] ktKongTong opened #37689 "[zh-cn] Translate /docs/concepts/security/api-server-bypass-risks/ to Chinese"
**This is a Feature Request**
[zh-cn] Translate /docs/concepts/security/api-server-bypass-risks/ to Chinese

**What would you like to be added**
The page: zh-cn/docs/concepts/security/api-server-bypass-risks/

**Why is this needed**
Support for more localization.

**Comments**

/language zh
/assign

[2022-11-03 08:39] xzyangPlus opened #37690 "[zh] Localization of resource quota scopes subtopic is not idiomatic Chinese"
Hi All，I noticed a defect at https://deploy-preview-37680--kubernetes-io-main-staging.netlify.app/zh-cn/docs/concepts/policy/resource-quotas/#quota-scopes, I don't think this sentence is very smooth. The existence of Chinese documents should make readers understand them better, rather than translate them from English as much as possible。
The specific text is "需要注意的是，你不可以在同一个配额对象中同时设置 Terminating 和

[2022-11-03 08:39] xzyangPlus commented on #37690
/language zh

[2022-11-03 08:39] xzyangPlus commented on #37690
/assign

[2022-11-03 08:59] tengqm commented on #37689
/triage accepted

[2022-11-03 09:05] xzyangPlus opened #37693 "[zh] Sync “Resource Management for Pods and Containers” topic"
Hi，I found a missing translation at  /content/zh-cn/docs/concepts/configuration/manage-resources-containers.md,I think 'status' should be translated

[2022-11-03 09:06] xzyangPlus commented on #37693
/language zh

[2022-11-03 09:06] xzyangPlus commented on #37693
/assign

[2022-11-03 09:10] xzyangPlus commented on #37693
I think "kubelet 会将 Pod 的资源使用情况作为 Pod[`status`]" in the above documents should be translated into "kubelet 会将 Pod 的资源使用情况作为 Pod[`状态`]"

[2022-11-03 09:44] sftim commented on #37690
/retitle [zh] Localization of resource quota scopes subtopic is not idiomatic Chinese

[2022-11-03 09:45] sftim commented on #37693
/retitle [zh] Sync “Resource Management for Pods and Containers” topic

[2022-11-03 09:45] tengqm commented on #37693
No. ``[`status`](/zh-cn/.../md)`` is markdown link syntax. The `status` in the context is a field from the `Pod` resource definition. We are not translating those field names.
/close

[2022-11-03 09:45] #37693 closed

[2022-11-03 09:46] sftim commented on #37679
/priority backlog

[2022-11-03 09:46] tengqm commented on #37690
/close

[2022-11-03 09:46] #37690 closed

[2022-11-03 09:48] sftim commented on #37677
Rather than add an example into https://k8s.io/docs/concepts/storage/dynamic-provisioning/, I recommend that we add a tutorial for this (perhaps based on an existing tutorial), and change https://k8s.io/docs/concepts/storage/dynamic-provisioning/ to link to that tutorial.

This is a substantial piece of work.

We should be wary of adding too much tutorial type information into a concept guide. Doi

[2022-11-03 09:52] aimuz opened #37694 "[zh] Use appropriate localization(s) for term “namespace”"
**This is a Bug Report**

In reading the k8s documentation, I found that a large number of documents translate namespace to `名字空间`
在阅读k8s文档中，发现大量的文档将namespace 翻译成 `名字空间`

but in practice, people are more used to using `命名空间`
而大家的实际使用过程中，更加习惯使用`命名空间`

There is a dispute here that
在此发生了争议，

https://github.com/kubernetes/website/pull/37665

In my view k8s issue, there is also a large amount of contro

[2022-11-03 10:26] sftim commented on #37674
/kind support

This repository is not the repository for ingress nginx; it is instead the repository where the https://k8s.io/docs/ pages are managed.

@KrishnaRIG you could instead ask on [Server Fault](https://serverfault.com/questions/tagged/kubernetes) or to the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

/close

[2022-11-03 10:26] #37674 closed

[2022-11-03 10:35] sftim commented on #37694
/retitle [zh] Use appropriate localization(s) for term “namespace”

[2022-11-03 12:18] wenerme commented on #37694
`名字空间` feels fine to me

[2022-11-03 12:52] juliafmorgado commented on #13939
Hey everyone, I would like to start translating the page [Kops](https://github.com/kubernetes/website/blob/main/content/en/docs/setup/production-environment/tools/kops.md).

I've assigned myself to the spreadsheet and marked it as in progress.

[2022-11-03 15:52] juliafmorgado commented on #13939
Hey, I'll start translating the page [kubespray](https://github.com/kubernetes/website/blob/main/content/en/docs/setup/production-environment/tools/kubespray.md).

[2022-11-03 20:54] #31114 closed

[2022-11-03 23:02] chalin commented on #37657
Here is an example of the kind of page-feedback report that we can create. This is for Nov 2 (the only day we have data for since I added the event-modification rule):

[2022-11-03 23:40] chalin commented on #35299
Update:

- All release-branch deploys (as of the time of writing) are using the GA4 tag
- I've removed the GA4 tag from the UA config. See the opening comment for details concerning this step.

[2022-11-04 00:09] a-mccarthy commented on #37657
Thanks for working on this @chalin! Just so i understand the numbers, does the `3` for `/release/notes` mean three clicks? Is it possible to determine if the click is yes or no?

Previously, the clicks value was calculated as `yes` is 1 and `no` is 0, and then GA would calculated an average value of the clicks. So the feedback `is this page helpful?` would show up as a percentage between 0-1, wher

[2022-11-04 00:25] chalin commented on #37657
Oh, you're right, I'm missing a data (missing a column). I've updated the screenshot, adding an "Event count" column. PTAL. I've found it challenging to create reports in GA4. Maybe it's just a steep learning curve, or maybe the i/f needs improvements (or both) 😄

[2022-11-04 00:25] chalin commented on #37657
There might be a better way to visualize that data. If there is, I haven' t found it yet. 🤷‍♂️ ... But I'll keep looking!

[2022-11-04 00:32] a-mccarthy commented on #37657
I was just poking around a bit in GA4 just now, and it seems a lot like creating graphs in Google Data Studio. Which is NOT easy either. I used a pre made Data studio template when i put together the analytics dashboard for the Kubernetes site, which is the only reason we have the pretty graphs.

So i understand, the `/release/notes/` 3 here in both columns mean 3 `yes` clicks. But for a page like

[2022-11-04 00:49] chalin commented on #37657
I'm glad that you found that GDS template then! (Thanks for sharing your experience with GDS and validating that you found that challenging too.

My understanding of the data matches yours.

[2022-11-04 00:56] #37623 closed

[2022-11-04 02:41] windsonsea commented on #37694
+1 @wenerme

One of reasons that you discussed much before is that you also know `名字空间` refers to `namespace`. The reverse derivation is also correct, no other options.

[code]
It's not necessary to force everyone to follow the old way. `命名空间` is the legacy and old way in my opinion.

[2022-11-04 02:58] aimuz commented on #37694
In my opinion there is no consideration of ecological issues, for those who know, they are a thing. But for learners, newbies, it can be confusing for them

The existing textbook materials, are written in namespace, in the search engine query, query `名字空间`, the exact match is very rare, the use of `名字空间` is not very short time, I check the commit, he submitted also more than two years, but we are

[2022-11-04 03:01] aimuz commented on #37694
You are not forcing everyone to use it, but you are forcing everyone to accept your solution, can you find the documentation for using `命名空间` in the documentation?

[2022-11-04 03:04] mengjiao-liu commented on #37694
I basically agree with @wenerme

In the Chinese dictionary `辞海`, the meanings of  `名字` and `名称` are as follows:
[code]
In daily practical use, `名字` is mainly used for people in general use, while `名称` is mainly used for affairs. I feel like this is where everyone gets confused about `名字空间`.
在日常实际使用中，`名字` 在一般使用中多用于人或者拟人化的事务，而名称则多用于物品或事务。我感觉这也是大家对于`名字空间`的困惑所在，会下意识感到有点别扭。

So I tend to translate `名字空

[2022-11-04 03:13] aimuz opened #37707 "[zh-cn] sync Kubernetes Community Code of Conduct"
**This is a Feature Request**

https://kubernetes.io/community/code-of-conduct

https://kubernetes.io/zh-cn/community/code-of-conduct/

The English version has been updated, and the Chinese version needs to be synchronized

**What would you like to be added**

**Why is this needed**

**Comments**

[2022-11-04 04:33] erdogancel opened #37708 "Network Policies"
The documentation for Network Policies has an indentation error unless I miss the point here. While I was preparing for my CKAD exam I realized that under the `--from` block for ingress and `-to` section for egress.

[code]
[code]

This is the page - https://kubernetes.io/docs/concepts/services-networking/network-policies/
The file name is [service/networking/networkpolicy.yaml](https://raw.github

[2022-11-04 05:14] Kart121 commented on #37679
/assign

[2022-11-04 05:32] wenerme commented on #37694
Any context will create a namespace, but if you mean the Namespace in kube, I prefer 名字空间

https://github.com/wenerme/wener/blob/923ca381eb26fc7a9a917cf132ab4aa64e5436e5/notes/dev/dict.md#namespace-%E7%BF%BB%E8%AF%91-namespace

[2022-11-04 07:46] Pradumnasaraf commented on #37708
/assign

[2022-11-04 07:46] Shubham82 commented on #31847
Hi @shannonxtreme Thanks for the docs, It is very useful. I made a comment there could you please take l look?

[2022-11-04 07:47] shannonxtreme commented on #31847
Will do friend! I've admittedly been a bit busy lately but can't wait to dive into a PR for this soon ☺️

[2022-11-04 08:37] Shubham82 commented on #37708
Hi @erdogancel
I tried this one and it is working fine for me, when I applied this yaml it didn't give any error to me.
After that to view it I used:` kubectl describe networkpolicy test-network-policy`

[code]
I think the docs are correct.

[2022-11-04 08:38] Shubham82 commented on #37708
/priority awaiting-more-evidence
/triage not-reproducible
/language en

[2022-11-04 08:39] Shubham82 commented on #37708
A similar issue opened for it, see this #35102

[2022-11-04 09:54] sftim commented on #37694
When we localize a reference to a Linux kernel process namespace, what Chinese word should we prefer?

[2022-11-04 09:55] sftim commented on #37709
/language en
/sig docs

[2022-11-04 09:57] sftim commented on #37709
How about adding a whole new page:
https://kubernetes.io/docs/concepts/workloads/rollouts/

to explain the overall concept of rolling out a change, and that then links to details of how these work for Deployments, StatefulSets, etc.

The rollouts page can also explain its relation to horizontal scaling and to PodDisruptionBudgets.

[2022-11-04 10:07] mahyarevafa opened #37711 "Interactive Tutorial - Creating a Cluster"
Hello. I use a laptop with 14" screen for kubernetes tutorial. but "The screen is too narrow to interact with the Terminal, please use a desktop/tablet." error is displayed. what's wrong?

[2022-11-04 13:24] T-Lakshmi opened #37714 "Add more items in what's next section of Understanding Kubernetes objects"
**This is a Bug Report**

**Problem:**
Below information is needed to mention in Kubernetes-objects [what's-next section](https://kubernetes.io/docs/concepts/overview/working-with-objects/kubernetes-objects/#what-s-next)
- Learn more about deployments
- Learn about kubectl and kubectl commands

**Proposed Solution:**
Add Below points under Kubernetes-objects [what's-next section](https://kubernete

[2022-11-04 13:28] T-Lakshmi commented on #37714
/language en
/assign

[2022-11-04 14:36] #33957 closed

[2022-11-04 15:06] a-mccarthy commented on #37486
I also wanted to add a note that the new page https://github.com/kubernetes/website/blob/main/content/en/docs/reference/instrumentation/metrics.md does not have a page weight. It's the only page in that folder, but we should add a weight to the page to make sure we are following a new guidelines. This is a different autogenerated file than the reference/kubernetes-api docs, so it will need to be u

[2022-11-04 15:14] sftim commented on #37714
/triage accepted

Good idea

[2022-11-04 15:15] sftim commented on #37431
Duplicated by https://github.com/kubernetes/website/issues/37711

[2022-11-04 15:15] sftim commented on #37711
Thank you for spotting this.

This issue is a duplicate of issue https://github.com/kubernetes/website/issues/37431

/triage duplicate

[2022-11-04 15:17] sftim commented on #37708
We could add comments into the sample manifest or otherwise explain to readers that the page is correct. Unfortunately, it is easy to misunderstand what the API means and how it works.

SIG Docs can have a role in fixing that!

[2022-11-04 15:48] a-mccarthy commented on #37486
I was going through the reference folder and tried to make a list of all the autogenerated pages that need page weight changes. I'm not sure where all these pages are generated from however.

List of auto-generated pages that need page weights updates:
* https://github.com/kubernetes/website/tree/main/content/en/docs/reference/kubernetes-api All the folders and files in the folders are autogenerat

[2022-11-04 15:55] brodier opened #37718 "Stale link in French concept page “Secrets”"
The link https://git.k8s.io/community/contributors/design-proposals/auth/secrets.md is broken

[2022-11-04 17:20] a-mccarthy commented on #35093
/reopen

[2022-11-04 17:25] bishal7679 commented on #37718
Hey @brodier Could you provide the page in which you found this broken link!

[2022-11-04 17:32] a-mccarthy commented on #35093
I've reviewed the hackmd file and it looks like the only section of the docs that hasn't been reviewed is the https://github.com/kubernetes/website/tree/main/content/en/docs/tasks section. There is a PR open that addresses the page weights of _index.md files for the folders in the Tasks section, https://github.com/kubernetes/website/pull/37481. But there has not been a review for any of the pages

[2022-11-05 00:30] a-mccarthy commented on #37455
/area localization

I'm not overly familiar with the images/diagrams on the site. Some questions i have around this:
* Do we have an idea of how many images will need to be updated? Is there an easy way to get a list of all the to update? Or is the "best" way to manually review the images that we should update
* Are you able to localize mermaid diagrams? (more info on [mermaid diagramming](https:/

[2022-11-05 02:46] rvernica opened #37722 "“Exploring Your App” tutorial instructions aren't quite right"
Following the instructions on creating the deployment, the resulting pod template has no `Port` mapping. It looks like this:
[code]
Without a port mapping, the application cannot be accessed:
[code]
But it is running fine:
[code]
Additional info:
[code]

[2022-11-05 04:04] correctzh commented on #37694
Kubernetes product:

Azure Kubernetes Service (AKS) - 命名空间
https://learn.microsoft.com/zh-cn/azure/aks/concepts-clusters-workloads#namespaces

Amazon EKS - 命名空间
https://docs.aws.amazon.com/zh_cn/eks/latest/userguide/sample-deployment.html

Red Hat OpenShift - 项目和命名空间
https://access.redhat.com/documentation/zh-cn/openshift_container_platform/4.3/html/authentication/rbac-projects-namespaces_using-rb

[2022-11-05 04:16] correctzh commented on #37694
/triage accepted

[2022-11-05 07:40] seokho-son commented on #35093
Hi @bconfiden2

Do you have a script to check the current weights ? if then, I think we could check remaining tasks for this issue. :)

[2022-11-05 17:22] rahil-p commented on #32905
/assign

[2022-11-05 19:06] sftim commented on #37718
/triage needs-infomation
/language e

[2022-11-05 19:07] sftim commented on #37718
/language en
/triage needs-information

[2022-11-05 19:18] brodier commented on #37718
The broken link is on the following page:
https://kubernetes.io/fr/docs/concepts/configuration/secret/

[2022-11-05 20:15] brodier commented on #37718
I think the correct link is :
https://github.com/kubernetes/design-proposals-archive/blob/main/auth/secrets.md

[2022-11-06 02:51] divya-mohan0209 commented on #34753
/remove-lifecycle rotten

[2022-11-06 03:22] bishal7679 commented on #37718
/aasign

[2022-11-06 04:25] bconfiden2 commented on #35093
Yes I have, but the script is not clean at all. 😅 😅
If you need it immediately, I can upload(or send) the script right now.
If not, I'll send it to you after refactoring.

[2022-11-06 06:21] seokho-son commented on #35093
@bconfiden2
It is just for checking remaining tasks :) no need to hurry :)

[2022-11-06 06:23] Sea-n commented on #37248
Fixed in PR #37531.
/close

[2022-11-06 06:23] #37248 closed

[2022-11-06 07:08] Sea-n commented on #37707
/language zh

[2022-11-06 07:09] Sea-n commented on #37694
/language zh

[2022-11-06 07:09] Sea-n commented on #36447
/language zh

[2022-11-06 07:22] NitishKumar06 commented on #37718
/assign

[2022-11-06 07:28] NitishKumar06 commented on #37718
@sftim the language is not `en`, it's `fr`.
/language fr

[2022-11-06 09:11] onestone9900 opened #37740 "[ko] Missing one line translation website/content/ko/docs/concepts/scheduling-eviction/pod-priority-preemption"
**This is a Feature Request**

**What would you like to be added**
Translate untranslated line in
`website/content/ko/docs/concepts/scheduling-eviction/pod-priority-preemption`
into Korean.

**Why is this needed**
Missing one line translation :
`the scheduler always tries the "nominated Node" before iterating over any other nodes.`

**Page**
https://kubernetes.io/ko/docs/concepts/scheduling-evicti

[2022-11-06 09:17] seokho-son commented on #37740
/triage accepted

[2022-11-06 09:21] seokho-son commented on #37740
/good-first-issue

Good-first-issue for a contributor who can translate `the scheduler always tries the "nominated Node" before iterating over any other nodes` into Korean (expect a native Korean)

[2022-11-06 09:38] sftim opened #37738 "Align securing a cluster task with security checklist"
**This is a Feature Request**

We have two pages with similar aims:
- https://kubernetes.io/docs/tasks/administer-cluster/securing-a-cluster/
- https://kubernetes.io/docs/concepts/security/security-checklist/

We should ensure that the advice in the two documents is aligned, and also make sure that the two documents link to each other.

**Why is this needed**
It's a bad idea to document multiple w

[2022-11-06 09:39] sftim commented on #37738
Relevant to #25119

[2022-11-06 09:48] sftim commented on #37718
/remove-language en

[2022-11-06 09:48] sftim commented on #37718
/triage accepted
/priority backlog

[2022-11-06 09:49] sftim commented on #37718
/retitle Stale link in French concept page “Secrets”

[2022-11-06 17:25] vaibhav2107 commented on #34553
/remove-lifecycle stale

[2022-11-06 19:01] bishal7679 commented on #35600
@amolmote Sorry for being late!
I think this issue may be occured for using `[hi]` in the commit message in which `[]` is not allowed
so for fixing this the PR raiser has to push an empty commit with proper commit message!

[2022-11-06 19:34] #37718 closed

[2022-11-07 02:15] mengjiao-liu commented on #37707
/triage accepted

[2022-11-07 02:35] howieyuen opened #37744 "[zh-cn] Warning: Helpful Warnings Ahead doesn't has a zh-cn version"
link: https://kubernetes.io/blog/2020/09/03/warnings/

[2022-11-07 02:35] howieyuen commented on #37744
/zh-cn

[2022-11-07 02:35] howieyuen commented on #37744
/triage accepted

[2022-11-07 02:35] howieyuen commented on #37744
/language zh-cn

[2022-11-07 02:36] howieyuen commented on #37744
/language zh

[2022-11-07 05:13] Pradumnasaraf commented on #37740
/assign

[2022-11-07 06:22] T-Lakshmi commented on #37714
Fixed it here #37747

[2022-11-07 07:56] kadtendulkar opened #37748 "Broken link on Installing Addons page"
**Problem:**
The text [**Weave Cloud account**](https://cloud.weave.works/) on [link](https://kubernetes.io/docs/concepts/cluster-administration/addons/#visualization-amp-control) is not working, on the official website of weave, it has mentioned that the service has ended so; I believe it should point to this https://www.weave.works/blog/weave-cloud-end-of-service
Check the page [Installing Addon

[2022-11-07 08:17] kadtendulkar opened #37750 "Broken link on Creating a cluster with kubeadm page"
**Problem:**
The text [**back up etcd**](https://coreos.com/etcd/docs/latest/admin_guide.html) on [link](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#resilience) is not working, it should point to this https://etcd.io/docs/v2.3/admin_guide/
Check the page [Creating a cluster with kubeadm](https://kubernetes.io/docs/setup/production-environment/tools

[2022-11-07 08:25] saschagrunert commented on #35341
@Verolop are you still open to work on this for 1.26?

[2022-11-07 09:04] #37689 closed

[2022-11-07 09:04] sftim commented on #37748
I'd change:
[code]
to
[code]

[2022-11-07 09:04] sftim commented on #37748
/triage accepted

[2022-11-07 09:20] xzyangPlus opened #37752 "Synchronize the latest English documents"
Path: content/zh cn/docs/tasks/administrator cluster/kubeadm/kubeadm reconfigure.md

[2022-11-07 09:22] xzyangPlus commented on #37752
In the https://github.com/kubernetes/website/pull/37641  submission, the English document was updated, but the Chinese document was not updated

[2022-11-07 09:22] xzyangPlus commented on #37752
/language zh

[2022-11-07 09:22] xzyangPlus commented on #37752
/assign

[2022-11-07 09:24] xzyangPlus commented on #37752
I want to synchronize this update to content/zh cn/docs/tasks/administrator cluster/kubeadm/kubeadm reconfigure.md and translate it

[2022-11-07 09:28] xzyangPlus commented on #37752
/kind document

[2022-11-07 09:42] xzyangPlus opened #37755 "[zh] sync contribute/new-content/blogs-case-studies.md"
Sync with en
content/zh-cn/docs/contribute/new-content/blogs-case-studies.md

[2022-11-07 09:43] xzyangPlus commented on #37755
/language en
/assign

[2022-11-07 10:01] Sea-n commented on #33898
There are only 12 files (in vi, pt-br, hi) have CRLF.
I think we can consider this issue as completed.

[code]

[2022-11-07 10:01] #33898 closed

[2022-11-07 11:12] kundan2707 commented on #37612
/assign

[2022-11-07 11:30] cryptosquirrels opened #37757 "Improvement for k8s.io/docs/tasks/administer-cluster/configure-upgrade-etcd/"
doesn't include information about initial-cluster or initial-advertise-peer-url

[2022-11-07 13:33] anandarajr opened #37758 "Setting up Worker Node (Windows) with Master Node (Linux) using Kubeadm"
We are trying to set up the kubernetes network on on-premise using the Kubernetes tool "KubeAdm"

We are able to set up the master node (linux)

For setting up windows node (windows), we followed the steps in the below link
             https://keyvatech.com/2020/03/26/step-by-step-guide-set-up-a-windows-worker-node-for-kubernetes-cluster/

Executing the powershell scrip for joining between worker

[2022-11-07 16:01] stormqueen1990 opened #37760 "Implement Hugo translation of canonical tags in the glossary"
**This is a Feature Request**

**What would you like to be added**
Implement translation of the canonical tags (listed under `tags:` in the glossary entries) for the glossary page. Currently, the tag filter in the glossary page is English-only. This causes the page to look a little bit strange after translated since the only terms that are listed in a different language are the tags.

**Why is thi

[2022-11-07 16:06] seokho-son commented on #37760
/triage accepted

[2022-11-07 16:07] seokho-son commented on #37760
Related files for the glossary page localization.
- Layout: [layouts/docs/glossary.html](https://github.com/kubernetes/website/blob/main/layouts/docs/glossary.html)
- Tags: [data/canonical-tags](https://github.com/kubernetes/website/tree/main/data/canonical-tags)

[2022-11-07 16:08] a-mccarthy commented on #37760
/area localization

Now that i'm reading through this, i believe we already have an issue for updating this: https://github.com/kubernetes/website/issues/30016. This issue has some more details about the work needed to do this

[2022-11-07 16:12] seokho-son commented on #37760
Oh I accepted triage of https://github.com/kubernetes/website/issues/30016 as well. :octocat:

[2022-11-07 16:13] sftim commented on #37760
/triage duplicate
/remove-triage accepted

Let's shift discussion to #30016.

[2022-11-07 16:15] sftim commented on #30016
I'm happy to book in some time to explain how I'd resolve this, maybe also to pair up on implementation work.

[2022-11-07 16:16] JingbenShi668 commented on #29342
@chirangaalwis hi,  I also encountered  the problem now. The Deployment workload used to deploy the `my-scheduler` works fine. However, the Pods I schedule with the `.spec.schedulerName` set to `my-scheduler` do not get scheduled. They stay in `Pending` state.  Could you give me some advice? Thanks.

[2022-11-07 16:17] stormqueen1990 commented on #37760
@a-mccarthy it is indeed the same. I'll close this one and switch focus to the older one.

Thanks!

[2022-11-07 16:17] #37760 closed

[2022-11-07 16:24] sftim commented on #37428
I recommend expanding https://kubernetes.io/docs/reference/glossary/?all=true#term-container rather than adding a new entry for “containerized application”.

I don't mind whether or not you borrow from the Cloud Native Glossary - feel free to do it whichever way you prefer.

[2022-11-07 17:14] Aut0R3V commented on #35938
Hey @rolfedh, and @OtherHorizon I would like to take this up if no one is working on it.

[2022-11-07 17:15] Aut0R3V commented on #35939
I would like to take this up.

[2022-11-07 17:15] Aut0R3V commented on #35939
/assign

[2022-11-07 17:21] khannakshat7 commented on #35939
Hey @Aut0R3V, Thanks for showing your interest. But I have already created the PR which is ready for merge. You can create a new issue and work on it.

[2022-11-07 17:21] khannakshat7 commented on #35939
/unassign Aut0R3V

[2022-11-07 18:28] JingbenShi668 commented on #14056
@sftim hi, many developer encountered the problem.  But the issue #16449 seems not  to give a solution to the problem.

[2022-11-07 18:29] JingbenShi668 commented on #14056
/reopen

[2022-11-07 18:39] Aut0R3V commented on #31483
I think I can work on this. Can I assign this to myself @NitishKumar06

[2022-11-07 18:45] JingbenShi668 opened #37765 "issue with k8s.io/docs/tasks/extend-kubernetes/configure-multiple-schedulers/"
**This is a Bug Report**

**Problem:**
When I attempted to configure the Multiple Schedulers by https://kubernetes.io/docs/tasks/extend-kubernetes/configure-multiple-schedulers/. I encountered some problem, and I have found similar problems in closed issues. But, the update for the tutorial https://kubernetes.io/docs/tasks/extend-kubernetes/configure-multiple-schedulers/ doesn't appears.

Descript

[2022-11-07 18:46] Aut0R3V commented on #35938
Sure thanks!

[2022-11-07 18:47] Aut0R3V commented on #35939
Sure thanks!

[2022-11-07 18:47] shurup commented on #37044
We've started with translating the missing pages; however, there are some problems with existing (already translated) pages as well.
* #37745 revealed that `concepts/_index.md` (and the first pages it leads to) is significantly outdated. Since it's a starting point for many users, I'd say these pages are more important than other files we have in our current todo list;
* looking at #35187 made me

[2022-11-07 18:55] JingbenShi668 commented on #37765
/help

[2022-11-07 19:15] JingbenShi668 commented on #37765
/close

[2022-11-07 19:15] #37765 closed

[2022-11-08 01:08] geoffcline commented on #37679
Thanks for making this issue!

[2022-11-08 01:09] jihoon-seo commented on #37758
/kind support
The article you linked was posted on 2020-03-26, so it might be outdated for now.
Recently in the K8s docs, some Windows-specific guides are removed or reorganized to the general ones,
(e.g., https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/ was removed and merged to
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-k

[2022-11-08 01:39] jihoon-seo commented on #37722
Page: https://kubernetes.io/docs/tutorials/kubernetes-basics/explore/explore-interactive/
/label team/katacoda

I tried to reproduce this.

In 'Step 2 of 4', if you click the first darkgray-boxed command,
(`echo -e "\n\n\n\e[92mStarting Proxy. After starting it will not output a response. Please click the first Terminal Tab\n"; kubectl proxy`)

a new terminal tab opens, but the command is not exec

[2022-11-08 02:47] mengjiao-liu commented on #37752
/remove-kind bug

[2022-11-08 06:28] #37752 closed

[2022-11-08 07:03] xzyangPlus commented on #36403
/close

[2022-11-08 07:03] #36403 closed

[2022-11-08 07:19] ravishthecoder opened #37776 "Creating a cluster with kubeadm"
Team,

I am working on a project where we are trying to set up the Kubernetes cluster network on-premise using the Kubernetes tool KubeAdm. Is there any article that we can use as a reference for this? We would need to set up a windows worker node.

Thanks in advance

[2022-11-08 07:40] anandarajr commented on #37758
Thanks for your reply. Both the above links (ref below) redirecting to the same page. Here it is explained about on how to add the linux worker node. But our requirement is adding the windows worker node. Kindly share your inputs which would helps us a lot.

![image](https://user-images.githubusercontent.com/13455396/200502856-cf616230-f639-4a15-8c1b-30f25c9aca71.png)

[2022-11-08 08:33] xzyangPlus commented on #37755
/close

[2022-11-08 08:33] #37755 closed

[2022-11-08 10:15] pacoxu opened #37779 "Move PodOverhead feature gate to removed feature gates list"
Move PodOverhead feature gate to removed feature gates list

- https://github.com/kubernetes/kubernetes/pull/112579
- https://github.com/kubernetes/enhancements/pull/3526

Both https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/ and https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates-removed/ do need to change.

_Originally posted by @Sergey

[2022-11-08 10:15] pacoxu commented on #37779
/reopen

[2022-11-08 10:18] tengqm commented on #37779
The concept of 'GA' is different from 'removed'.
For GA'ed gates, we document them at https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/, for removed gates, we use the page https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates-removed/

[2022-11-08 10:23] pacoxu commented on #37779
Update the title. It is still beta in dev-v1.26 and need an update.

[2022-11-08 10:25] pacoxu commented on #37779
PodOverhead feature gate was removed as the feature is in GA since 1.24
- GAed in v1.24
- Removed in v1.26

[2022-11-08 11:42] sftim commented on #35669
/remove-priority important-longterm
/priority important-soon

after discussion with SIG CLI

[2022-11-08 11:42] sftim commented on #35669
/remove-lifecycle stale

[2022-11-08 12:05] sachinparihar commented on #37444
/assign
I'd like to work on this.

[2022-11-08 15:05] kundan2707 commented on #37776
/kind support

[2022-11-08 16:42] #32351 closed

[2022-11-08 16:45] sftim commented on #37779
/sig node
/milestone 1.26

/retitle Move PodOverhead feature gate to removed feature gates list

Does that sound right?

[2022-11-08 16:46] sftim commented on #37779
https://kubernetes.io/docs/concepts/scheduling-eviction/pod-overhead/ does _not_ need to change.

Both https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/ and https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates-removed/ do need to change.

[2022-11-08 16:46] sftim opened #37790 "`serviceAccountToken` projected volumes doc mentions obsolete (graduated) feature gate"
**This is a Bug Report**

**Problem:** [Projected Volumes](https://kubernetes.io/docs/concepts/storage/projected-volumes/#serviceaccounttoken) says:

However, `TokenRequestProjection` has graduated and is always enabled.

**Proposed Solution:**
Delete the text before “you can” from that sentence.

**Page to Update:**
https://kubernetes.io/docs/concepts/storage/projected-volumes/#serviceaccounttoke

[2022-11-08 16:48] sftim commented on #31585
@Kart121

You're welcome to. The next step on contributing is to review https://github.com/kubernetes/website/pull/37268

[2022-11-08 16:51] sftim commented on #37393
Hi. I'm not sure I'd have time to provide guidance specifically on this issue. Could you ask in Slack - see https://slack.k8s.io/ for an invitation - in the #sig-docs channel? I hope if you ask questions there, someone is willing to help you learn how to contribute here.

[2022-11-08 16:53] sftim commented on #36838
We should explain that we have `post_create_issue` in our localization text so that people remember to customize it for their localization (even though in English we could rely on Docsy to provide this).

However, we only need to do this if we have at least one localization target that Docsy does not have.

[2022-11-08 16:54] sftim commented on #36838
I wonder if there are other strings we include for the same reason. I haven't checked.

[2022-11-08 16:55] sftim commented on #36838
BTW, if we want to find its history, we need to look at the history of the localization files in the [parent commit](https://github.com/kubernetes/website/commit/80a91d7b6b92d493787a3e608791e0b6b3efd071) before https://github.com/kubernetes/website/pull/27408 merged.

[2022-11-08 17:03] sftim commented on #36048
I think the task here is to write a new page in the Setup section, that explains what you'd need to do to set up Kubernetes so that you can learn it.

Let's explain that you need the `kubectl` client tool, so that when you configure a Kubernetes cluster, you have something that can communicate with it.

We should at a minimum explain that your options for trying out Kubernetes locally include:
- k

[2022-11-08 17:41] Pradumnasaraf commented on #37790
/assign

[2022-11-08 19:46] chalin commented on #35299
@sftim @nate-double-u @a-mccarthy et al. : as you might recall, #36010 added a fake GA ID to the Hugo config file with a comment letting builders know that the real GA4 ID is set via a Netlify-build environment variable.

A consequence of this approach is that, for example, when the next release-branch created, someone (the release-lead?) will need to set the GA4 ID environment variable for the ne

[2022-11-08 19:54] mrbobbytables commented on #35519
FWIW - in general we've tried to point end users to minikube and developers/contributors to kind, and I'm in favor of making that distinction. Minikube is meant for people to spin up, learn and do local development with Kubernetes. Kind if purpose built for CI and for serving the Kubernetes project (see [scope](https://kind.sigs.k8s.io/docs/contributing/project-scope/)). It's just been useful as s

[2022-11-08 22:38] distortedsignal opened #37794 "kube-apiserver Audit Configuration (v1) - Level should be `enum` of values instead of alias of string"
Presently, [the documentation of the `Level` type](https://kubernetes.io/docs/reference/config-api/apiserver-audit.v1/#audit-k8s-io-v1-Level) says that it is

and I do not believe that this is correct. The [Audit Policy documentation](https://kubernetes.io/docs/tasks/debug/debug-cluster/audit/#audit-policy) states that there are four defined levels:

* `None`
* `Metadata`
* `Request`
* `RequestRes

[2022-11-08 22:48] distortedsignal opened #37795 "kube-apiserver Audit Configuration (v1) - Stage should be `enum` of values instead of alias of string"
Presently, [the documentation of the `Stage` type](https://kubernetes.io/docs/reference/config-api/apiserver-audit.v1/#audit-k8s-io-v1-Stage) says that it is

and I do not believe that this is correct. If `Stage` were a true alias of `string`, this would imply an infinite number of stages, which seems... implausible. Unlike with the `Level` issue that I filed earlier, I cannot find a list of valid

[2022-11-08 22:50] distortedsignal commented on #37795
I've been informed that the documentation page for the `Stage` type was autogenerated, and that I should mention this fact in any tickets that I open.

[2022-11-08 22:50] distortedsignal commented on #37794
I've been informed that the documentation page for the `Level` type was autogenerated, and that I should mention this fact in any tickets that I open.

[2022-11-09 01:30] csantanapr opened #37799 "Document limits and best practices for network between kubelet and API server"
Where is the documentation that have details on the limitation or requirement running control plane node and a worker node far apart like in separate cloud regions? Or public (control plane) and on-premises (worker nodes)

Not talking about the distance between etcd nodes this is cover in [etcd tuning](https://etcd.io/docs/v3.5/tuning/#time-parameters), I'm referring about distance/connectivity be

[2022-11-09 01:48] tengqm commented on #37694
I wasn't insisting that '名字空间' is the only acceptable translation. I also shared my reason why I myself believe '名字空间' could be a better choice. I'm NOT forcing others to accept this opinion, and I don't accept that '名字空间' is a wrong translation. With all those background information provided, we had achieved a consensus -- both are acceptable in the docs. In other words, WE AGREED TO DISAGREE.

B

[2022-11-09 01:55] medyagh opened #37801 "Adding Google Analytics to minikube website"
Hello

I am from Minikube team and per conversation with @jimangel I am creating this issue, to request adding Google analytics to minikube website https://minikube.sigs.k8s.io/ (similar to what Kubernetes website has)

I would like to start this request and would like to know what is the next step, and do we create our own Google analytics account or share with Kubernetes Website?

[2022-11-09 02:56] mengjiao-liu commented on #37794
[Level type](https://kubernetes.io/docs/reference/config-api/apiserver-audit.v1/#audit-k8s-io-v1-Level) is alias of string.

source code is as follows:
[code]

https://github.com/kubernetes/kubernetes/blob/e62cfabf9326cdec65e926b697fa1911b4e85da6/staging/src/k8s.io/apiserver/pkg/apis/audit/v1/types.go#L35-L50

None
Metadata
Request
RequestResponse

This is because the validation added four level c

[2022-11-09 03:22] mengjiao-liu commented on #36447
Now navigation in zh page version already exists.
![image](https://user-images.githubusercontent.com/44460091/200730246-5e40eccb-b03c-41ed-ade8-6e69a7e51936.png)

Maybe we can close the issue.

[2022-11-09 03:23] HeGaoYuan opened #37803 "Hard to understand "Extend the Kubernetes API with CustomResourceDefinitions""
It is to hard to understand the document "[Extend the Kubernetes API with CustomResourceDefinitions](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/)".

For example, I read the document from top to bottom. When I reached the chapter "[Specifying a structural schema](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-

[2022-11-09 03:42] tengqm commented on #37803
/kind support

@HeGaoYuan You have to spend sometime learning OpenAPI (Swagger or v3).

[2022-11-09 03:44] tengqm commented on #36447
/close

Feel free to reopen if the problem persists.

[2022-11-09 03:44] #36447 closed

[2022-11-09 03:45] HeGaoYuan commented on #37803
My mistake, I find the document has a link to [OpenAPI v3.0 validation schema](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#validation)

[2022-11-09 03:45] #37803 closed

[2022-11-09 03:49] tengqm commented on #37794
This is a limitation of the reference generator currently. From data type's perspective, we can only say that `Level` is an alias of `string`. We are unable to enumerate all values of `type Level` across the source code.

[2022-11-09 04:57] neolit123 commented on #37776
the windows worker nodes docs are missing / wip. please watch:
https://github.com/kubernetes/website/issues/34476

/close

[2022-11-09 04:57] #37776 closed

[2022-11-09 04:58] neolit123 commented on #37758
please see

https://github.com/kubernetes/website/issues/34476

/close

[2022-11-09 04:58] #37758 closed

[2022-11-09 06:06] reylejano commented on #37750
The suggested solution is incorrect because Kubernetes uses etcd v3 and we should not link to etcd v2 docs

[2022-11-09 06:15] NitishKumar06 commented on #31483
@Aut0R3V Please start working on this issue. Let me know if you need any help from my side.

[2022-11-09 07:15] correctzh commented on #37694
**To insist that the argument is correct, provide references, not unfounded explanations.**
On the premise that there are reference materials, replace all '名字空间' with '命名空间', I believe no one will have an opinion.
You can even see that there is no PR that needs to change '名字空间' to '命名空间' only PR that replaces  '命名空间' with '名字空间'.
It can even be seen that there is no PR to change '名字空间' to '命名空间',

[2022-11-09 07:48] T-Lakshmi commented on #37428
Thanks @sftim for your comment, I will work on it and raise PR soon.

[2022-11-09 08:03] T-Lakshmi commented on #37409
Hi @sftim,

I raised PR for it #37635, Could you please take a look. so that it will merge soon.

[2022-11-09 09:13] softhuafei opened #37809 "Interactive Tutorial - Creating a Cluster"
Can't open the interactive tutorial. Can you show the tutorial steps independently so that we can learn the tutorial locally

[2022-11-09 09:39] sftim commented on #37799
/retitle Document limits and best practices for network between kubelet and API server

/language en
/kind feature

[2022-11-09 10:42] niuzhenguo opened #37811 "[zh-cn] sync /static/cncf-code-of-conduct.md"
**This is a Bug Report**

**Problem:**

/static/cncf-code-of-conduct.md needs to be synced

**Proposed Solution:**
sync with en version

**Page to Update:**
https://kubernetes.io/community/code-of-conduct/

[2022-11-09 10:43] niuzhenguo commented on #37811
/language zh
/assign

[2022-11-09 10:52] windsonsea commented on #37811
May need to wait for this PR to merge:
https://github.com/cncf/foundation/pull/450

[2022-11-09 11:48] sftim commented on #37409
I am happy for anyone to review PR https://github.com/kubernetes/website/pull/37635

[2022-11-09 13:30] T-Lakshmi commented on #37428
Fixed it here #37812.

[2022-11-09 14:11] a-mccarthy commented on #37679
@Kart121 please reach out if you have any questions about this issue :)

@nate-double-u I think this is a great idea! Do we have any built in mechanisms we can use to make sure we continue to keep the .editconfig file updated when the style guide is updated?

[2022-11-09 16:09] JingbenShi668 commented on #30172
Yes, your solution is correct. The error info  in my k8s cluster is as follows.
`W1109 15:30:32.624055       1 reflector.go:424] pkg/server/dynamiccertificates/configmap_cafile_content.go:206: failed to list *v1.ConfigMap: configmaps "extension-apiserver-authentication" is forbidden: User "system:serviceaccount:kube-system:my-scheduler" cannot list resource "configmaps" in API group "" in the name

[2022-11-09 17:13] sftim opened #37814 "Annotation `pv.kubernetes.io/migrated-to` not registered / documented"
**This is a Bug Report**

**Problem:**
Kubernetes uses an annotation, `pv.kubernetes.io/migrated-to`. However, this annotation is not registered in https://kubernetes.io/docs/reference/labels-annotations-taints/

**Proposed Solution:**
Document the annotation (which also means it gets registered).

**Page to Update:**
https://kubernetes.io/docs/reference/labels-annotations-taints/

**Additional In

[2022-11-09 17:13] sftim commented on #37801
/sig cluster-lifecycle
/sig docs

[2022-11-09 17:16] sftim commented on #37795
We don't yet encode every restriction or combination of restrictions into the API definition(s).

That configuration format might let you define auditing for a stage of `end-of-universe` (but that doesn't then mean that the audit configuration works how you want, or even loads).

https://kubernetes.io/docs/tasks/debug/debug-cluster/audit/ lists the defined stages in Kubernetes v1.25

[2022-11-09 17:25] distortedsignal commented on #37795
Thanks @sftim - would it be possible to link that from the docs for the Stage type?

[2022-11-09 17:31] sftim commented on #37794
This is a string (aliased) value with, if you like, only 4 value values.

Lots of string fields in configuration files have additional validation but are still essentially strings. Maybe one day we'll also be able to document which values are allowed. I think even then we might this a string type, just with extra context.

The generator code lives in https://github.com/kubernetes-sigs/reference-do

[2022-11-09 17:33] distortedsignal commented on #37794
I think this would also benefit with a link to the docs that lays out the blessed strings.

[2022-11-09 17:42] sftim commented on #37795
It's not super easy to add this. The way to do that is to edit the [source code](https://github.com/kubernetes/kubernetes) of Kubernetes itself. The trade off of the automatic generation is that if we make manual edits, they don't last.

:thought_balloon: If you want a mechanism to let one page link to another page, where the link is declared by the _target_, that might be possible. Do you think t

[2022-11-09 18:07] a-mccarthy commented on #37801
Thanks for filing @medyagh! We are currently in the process of [migrating](https://github.com/kubernetes/website/issues/35299) to a new versions of google analytics, but i think it should be straightforward to set up the minikube site as a new property under the GA4 account we have.

@chalin do you mind weighing in here and letting us know your thoughts about the best way to add a new site? thanks

[2022-11-09 18:31] #30080 closed, assigned to nobody

[2022-11-09 21:27] chalin commented on #37801
The **recommended account structure under GA4** differs from that for UA. For context, I'd suggest first reading [Google Analytics 4 account structure].

I see the [Kubernetes organization] like **Example B** in [that GA4 docs page][Google Analytics 4 account structure], which would suggest that we'd use the same property (and it's single web data stream) to track all websites under the [Kubernete

[2022-11-09 21:33] medyagh opened #37817 "Katacoda scenarios run old / unsupported Minikube and Kubernetes version"
in this minikube tutorial I see Katakoda
https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/

but the minikube version in it is ancient it is v.1.18.0
the latest minikube version is 1.28.0
<img width="1046" alt="Screen Shot 2022-11-09 at 1 32 43 PM" src="https://user-images.githubusercontent.com/4564227/200946284-7a61d49f-7888-43da-a702-f58e2d329263.png">

is there a way

[2022-11-09 21:42] krol3 commented on #35896
Hello @kadtendulkar  👋, 1.26 Release Docs Lead here. This feature request needs Docs for 1.26 release.

Please [follow the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against dev-1.26 branch in the k/website repo. This PR can be just a placeholder at this time, and must be created by November 10. Also, tak

[2022-11-09 21:42] #34333 closed

[2022-11-09 21:50] #37181 closed

[2022-11-09 22:14] sftim commented on #37817
/retitle Katacoda scenarios run old / unsupported Kubernetes version

[2022-11-09 22:15] sftim commented on #33936
Also see https://github.com/kubernetes/website/issues/37817

[2022-11-10 04:39] Kart121 commented on #37679
@a-mccarthy  yes! will do

[2022-11-10 05:06] utkarsh-singh1 commented on #37809
Hi @softhuafei, Can you give detailed description why you can't open interactive tutorial? If there is any black screen, you can disable your ad blocker and reload interactive tutorial.

[2022-11-10 05:22] jihoon-seo commented on #37817
If someone improves this, then the minikube version used by "Interactive Tutorials" might be updated as well, if needed.

e.g., https://kubernetes.io/docs/tutorials/kubernetes-basics/explore/explore-interactive/
[code]

GitHub repo: https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios

[2022-11-10 05:43] softhuafei commented on #37809
hi, I try disable my ad blocker and reload the interactive tutorial, but it still doesn't work.
![image](https://user-images.githubusercontent.com/25077829/201009790-0dd33e95-c6db-4735-9de3-fb20679dcf72.png)

[2022-11-10 06:33] Ritikaa96 commented on #37444
Hi @sftim is anyone working on this feature? if not then I'd like to try adding this feature.

[2022-11-10 07:02] aimuz commented on #37694
If you think this is of little value, why are namespaces being replaced with namespaces in the documentation

If both nouns can be used, why does only one usage exist in the documentation? So who modified him to merge in such worthless ones?

If it was just not worth much to begin with, then why recognize you would modify him? Change it to what you think is the right way?

[2022-11-10 07:04] utkarsh-singh1 commented on #37809
It can be due to slow connectivity because tutorial is still not loaded, also I can create a working environment for deploying an app,

[2022-11-10 07:05] aimuz commented on #37694
I looked through the linux kernel documentation and found the following information

In the Linux kernel localization, the process namespace has not been translated for localization yet, but there is another namespace in Linux that I think can be used as a reference

**Symbol Namespaces**

https://www.kernel.org/doc/html/latest/core-api/symbol-namespaces.html

https://www.kernel.org/doc/html/lates

[2022-11-10 08:05] aimuz commented on #37694
I searched for related Linux-related books

 - Professional Linux Kernel Architecture - 《深入Linux内核架构》 译者: [郭旭](https://book.douban.com/search/%E9%83%AD%E6%97%AD)
    In the Chinese version `1.3 内核的组成部分 5`
<img width="825" alt="image" src="https://user-images.githubusercontent.com/17666471/201025939-13f72cf8-1b6c-4e6b-a1c7-34a8d8f7ac2e.png">

-  The Linux Programming Interface: A Linux and UNIX Sys

[2022-11-10 08:10] aimuz commented on #37694
In the course of reviewing the books, no relevant books were found that used the `名字空间`

[2022-11-10 08:20] aimuz commented on #37694
If both uses were actually allowed, then the document would not contain only `名字空间`

Another quote from @windsonsea

If both uses were really allowed, then PR should not be negated by way of priority.

When you change `命名空间` to `名字空间`, don't negate other PRs in a worthless way. please don't double standard.

[2022-11-10 09:33] wenerme commented on #37694
Use `名字空间` more, may attract more newer doc and book to use it if they feel better about it, how about just let this doc use `名字空间`.

[2022-11-10 10:33] niuzhenguo commented on #37744
/assign

[2022-11-10 12:37] sachinparihar commented on #37444
I'm not working on this right now! if you want to work on this you can.

[2022-11-10 14:05] cyclinder commented on #37694
Agree with `名称空间`

[2022-11-10 16:15] chalin commented on #37801
Ok, I've finally gotten the GA4 i/f to cooperate: I'm now able to create, save and make easily accessible custom reports that filter, for example, by hostname.

[2022-11-10 16:34] chalin commented on #37801
The **simplest way to enable analytics** to the minikube website is via [Netlify snippet injection], as is done for kubernetes.io. @medyagh - I'd be glad to set that up, or guide someone into doing so, If someone grants me access to the minikube Netlify account.

[Netlify snippet injection]: https://docs.netlify.com/site-deploys/post-processing/snippet-injection/

FYI: the Docsy version of the min

[2022-11-10 17:14] chalin commented on #35299
@a-mccarthy @sftim et al.: There are API reference pages like: https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands

I have a few questions about these API reference pages:

- Are we tracking analytics for these pages? They seem to be tracked under UA, but when I look at the page HTML, I don't see any UA ID. Also, UA console says that these pages are actually being hosted by htt

[2022-11-10 19:57] medyagh commented on #37801
Thank you very much @chalin we will update our docsy submodule, what code do we need to inject to our template ? and after that how do we access the metrics ?

[2022-11-11 02:47] craigbox commented on #33278
/lifecycle staleproof

[2022-11-11 06:48] moreyog opened #37838 "Improvement for k8s.io/docs/concepts/services-networking/dns-pod-service/"
"In summary, a Pod in the test namespace can successfully resolve either data.prod or data.prod.svc.cluster.local" this looks incorrect statement. Mentioned name space is test while example says Prod

[2022-11-11 07:22] chenxinlong opened #37840 "Configure Multiple Schedulers"
Following the steps on page https://kubernetes.io/docs/tasks/extend-kubernetes/configure-multiple-schedulers/ , the my-scheduler pod in kube-system do not work.

[code]

[2022-11-11 07:25] Pradumnasaraf commented on #37790
/assign

[2022-11-11 07:49] #34271 closed

[2022-11-11 08:06] chenxinlong commented on #37840
The following execution solved this
[code]

I've found other issues mentiond this problem like #30172 , will you consider modify the [page](https://kubernetes.io/docs/tasks/extend-kubernetes/configure-multiple-schedulers/)  content ?

[2022-11-11 08:10] tengqm commented on #37840
/triage accepted
/help

Would you like to propose a fix for this? @chenxinlong

[2022-11-11 08:14] chenxinlong commented on #37840
@tengqm I'll try to fix this on this weekend.

[2022-11-11 09:14] sftim opened #37842 "Revise “Connecting Applications with Services” to match style guide"
**This is a Cleanup Request**

**Problem:**
https://kubernetes.io/docs/tutorials/services/connect-applications-service/ does not follow our style guide well.

**Proposed Solution:**
Review [Connecting Applications with Services](https://kubernetes.io/docs/tutorials/services/connect-applications-service/) against the [style guide](https://kubernetes.io/docs/contribute/style/style-guide/) and update

[2022-11-11 09:14] sftim commented on #37842
/priority backlog

[2022-11-11 09:15] sftim commented on #37801
I'm happy to move it (I think we'd need to open a new issue and close this one).

[2022-11-11 09:20] chenxinlong opened #37843 "Configure Multiple Schedulers - failed to list *v1.CSIStorageCapacity"
Following the step of  this [page](https://kubernetes.io/docs/tasks/extend-kubernetes/configure-multiple-schedulers/) I did runs the my-scheduler pod , after that I applied the follow pod yaml :
[code]

But this pod stucked in "Pending" phase.
[code]

Try to dive into the my-scheduler for troubleshooting and found a lot of errors with my-scheduler :
[code]

I guess it's because my-scheduler is not

[2022-11-11 09:31] chenxinlong commented on #37843
[code]

Looks like it's because the `CSIStorageCapacity` api resource is on v1beta1 version but v1.  If that's the reason, should I upgrade my kubernetes to a higher version ?  which version ?

[2022-11-11 09:46] NitishKumar06 commented on #35577
@jihoon-seo Should the PR be opened in Kuberenetes/website?

[2022-11-11 09:51] #32275 closed

[2022-11-11 10:01] tengqm commented on #37843
v1 version of CSIStorageCapacity was introduced in 1.24.

[2022-11-11 10:09] chalin commented on #37801
@a-mccarthy et al.: are you ok with what is proposed in https://github.com/kubernetes/website/issues/37801#issuecomment-1309395460?

[2022-11-11 10:22] chalin commented on #37801
@medyagh - it won't hurt to update the Docsy module in the meantime, but I'd hold off on enabling analytics via Docsy. As I mention in https://github.com/kubernetes/website/issues/37801#issuecomment-1310569148, I recommend using snippet injection instead. Do you know if the website is hosted by Netlify?

[2022-11-11 13:51] Ritikaa96 opened #37849 "Add a “What's next” section to Labels & Selector concept"
**This is a Feature Request**

**What would you like to be added**
Add a “What's next” section to the concept page about Labels and Selector.
*Update: see https://github.com/kubernetes/website/issues/37849#issuecomment-1313087207 for more details on what to put there*

**Why is this needed**
In [Labels.md](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/) , some tasks and

[2022-11-11 14:35] Ritikaa96 commented on #37849
/assign

[2022-11-11 14:37] Ritikaa96 commented on #37814
Hi @sftim , If no one's working on this issue , i'd like to take this up.

[2022-11-11 14:51] sftim commented on #29909
/reopen

Still an issue
/lifecycle frozen

[2022-11-11 14:53] sftim commented on #37849
/language en

Where should we link to? (what URLs)

[2022-11-11 14:53] sftim commented on #37843
/kind support

You can switch the Kubernetes documentation to v1.23 (there is a selector top right)

[2022-11-11 15:32] Kart121 commented on #31585
will do !

[2022-11-11 16:34] sftim commented on #37814
Anyone is welcome to work on this issue. It's better to prioritize issues already triaged as accepted.

/triage accepted
/priority backlog

[2022-11-11 16:54] kind03 opened #37853 "Improvement for k8s.io/docs/reference/kubernetes-api/authorization-resources/cluster-role-v1/"
can we have the available resource list on this page?

[2022-11-11 17:05] kind03 opened #37854 "Improvement for k8s.io/docs/reference/kubernetes-api/authorization-resources/cluster-role-v1/"
Can we have more explanation on the "rules.apiGroups"? Totally have no idea on what is it

[2022-11-11 18:00] medyagh commented on #37801
Thanks @chalin we just updated the Docsy https://github.com/kubernetes/minikube/pull/15342

I am not familiar with snippet, is there any action needed on our end ? and how do we accesses the analytics metrics

[2022-11-11 18:55] bishal7679 opened #37855 "[hi] Localize /en/docs/reference/glossary/operator-pattern.md"
### Prerequisites:

- If this is your first contribution, visit [Contribute to K8s docs](https://kubernetes.io/docs/contribute/) for information on how to get started.
- Review a few https://github.com/kubernetes/website/issues/35600#issuecomment-1214215859 to see which
  content you have to change and which you leave unchanged.

### Procedure:

- Make sure your base, target branch is `main` and c

[2022-11-11 18:55] bishal7679 opened #37856 "[hi] Localize /en/docs/reference/glossary/limitrange.md"
### Prerequisites:

- If this is your first contribution, visit [Contribute to K8s docs](https://kubernetes.io/docs/contribute/) for information on how to get started.
- Review a few https://github.com/kubernetes/website/issues/35600#issuecomment-1214215859 to see which
  content you have to change and which you leave unchanged.

### Procedure:

- Make sure your base, target branch is `main` and c

[2022-11-11 23:59] #34239 closed

[2022-11-12 06:34] ankitsingh241 commented on #37855
Hello,
I want to work on this issue.

[2022-11-12 07:06] NitishKumar06 commented on #37856
/assign

[2022-11-12 07:09] NitishKumar06 commented on #37856
Ahan! A great approach to helping new contributors. Sorry I missed that point.
/unassign

[2022-11-12 07:28] ankitsingh241 commented on #37855
/assign

[2022-11-12 14:30] the-gigi commented on #2103
/reopen

[2022-11-12 14:52] rodraco opened #37861 "“Example” buttons do not work for legacy API reference page"
**This is a Bug Report**
The "example" buttons do not currently work on anything. Older version documentation has the same issue.

**Problem:**
jquery-3.3.1.min.js, jquery.scrollTo-2.1.2.min.js and bootstrap-4.3.1.min.js fail to load; tried Multipe browsers and OS (Windows + Brave, Win + Chrome, Linux + Chromium, Linux + Firefox)
**Proposed Solution:**
Make sure the files are deployed;
**Page to U

[2022-11-12 15:32] yashodhanmohan commented on #36495
@UlrichKnaack can you please provide the output of the command below when the nslookup is failing? Just dotting the i's.

[code]

[2022-11-12 15:44] yashodhanmohan commented on #37331
Would it help here to add an additional demonstration step that the underlying `redis.conf` did _indeed_ update but that the Redis configuration didn't change because it needs to restart to pick the new values? I can pick it up @sftim if the change is acceptable. Let me know if there might be a simpler update to this.

[2022-11-12 18:43] #37714 closed

[2022-11-12 19:19] chiukapoor commented on #37856
Hello Team, This is my first issue on kubernetes/website. I would like to work on it

/assign

[2022-11-13 03:26] Karthik-PM commented on #37679
@a-mccarthy is telling how to use .editorconfig necessary? cant we just add show how the config should look like and can direct to the editorconfig site for more information

[2022-11-13 03:57] utkarsh-singh1 commented on #35541
Hi @dc-weizhenhua, Can you close this issue as it is similar to #35432 and #35544 and it has been solved there.

[2022-11-13 04:10] utkarsh-singh1 commented on #37853
Hi @kind03, the available resource list is quite long you can use command
`kubectl api-resources | more`
for list of resources.

[2022-11-13 10:05] NitishKumar06 commented on #37856
@chiukapoor Keep working on this issue. Feel free to raise a PR

[2022-11-13 11:27] utkarsh-singh1 commented on #37861
/language en
/area web-development

[2022-11-13 11:41] utkarsh-singh1 commented on #37853
/language en

[2022-11-13 15:25] vaibhav2107 commented on #35935
/remove-lifecycle stale

[2022-11-13 15:26] vaibhav2107 commented on #35840
/remove-lifecycle stale

[2022-11-13 15:27] vaibhav2107 commented on #35641
/remove-lifecycle stale

[2022-11-13 15:29] vaibhav2107 commented on #35577
/remove-lifecycle stale

[2022-11-13 15:41] saeeda opened #37871 "Query around URL of documentation for current Kubernetes release"
https://v1-25.docs.kubernetes.io/docs/concepts/cluster-administration/addons/ certificate error

The above page shows `NET::ERR_CERT_COMMON_NAME_INVALID` error as the certificate is issued to `Netlify`.
[code]
While `v1-24` and `v1-23` are correctly setup and are secure.

This can be solved by setting an automatic forward to a page inside `docs.kubernetes.io` domain.

[2022-11-13 17:36] sftim commented on #37871
Hi.
The correct URL for this documentation is https://kubernetes.io/docs/concepts/cluster-administration/addons/

We don't yet support accessing the current Kubernetes docs via a version-specific permalink.

/kind support

[2022-11-13 17:36] sftim commented on #37871
/retitle Query around URL of documentation for current Kubernetes release

[2022-11-13 17:37] sftim commented on #37861
/retitle “Example” buttons do not work for legacy API reference page

[2022-11-13 17:38] sftim commented on #37861
/triage accepted

[2022-11-13 17:38] sftim commented on #37861
/priority backlog

Thanks for reporting this @rodraco

[2022-11-13 17:38] sftim commented on #37838
/language en

Needs further triage

[2022-11-13 18:27] dipankardas011 commented on #37871
## Just keen to know?
@sftim where is this URL used?
[code]
@saeeda from where you got this URL?
[code]

[2022-11-13 18:47] dipankardas011 commented on #37854
@kind03 the problem is not quite sure (where you want to add the description)

[2022-11-13 20:18] sftim commented on #37779
/triage accepted

@pacoxu please update the issue description so that a contributor can easily see what needs fixing.

[2022-11-13 21:05] sftim opened #37877 "Migrate to new style Netlify variables configuration"
**This is a Feature Request**

**What would you like to be added**
[Migrate](https://docs.netlify.com/environment-variables/classic-experience/#migrate-your-site) the Kubernetes website to the new way of using build variables in Netlify.

**Why is this needed**
The main driver is https://github.com/kubernetes/website/issues/35299#issuecomment-1307745589 and to dissuade people from accidentally usi

[2022-11-13 21:06] sftim commented on #37877
Just so we know. I think it's fine, because the new approach provides a superset of the old features.

[2022-11-13 22:33] sftim commented on #37417
This might be similar to issue #32832

@rayarazan do you think this might have been caused by an ad blocker tool?

[2022-11-13 23:18] #34183 closed

[2022-11-14 02:31] #37790 closed

[2022-11-14 04:37] Ritikaa96 commented on #37849
Hi @sftim, i added these links, they might help a new user to understand the extensive use of labels and find references to understand the same :
- Learn how to [add a label to a node](/docs/tasks/configure-pod-container/assign-pods-nodes/#add-a-label-to-a-node)
- Find [Well-known labels, Annotations and Taints ](/docs/reference/labels-annotations-taints/)
- See [Recommended labels](/docs/concepts

[2022-11-14 06:03] Ritikaa96 commented on #37814
/assign

[2022-11-14 06:29] T-Lakshmi opened #37881 "Kubernetes Components What's Next section should contaion some more points."
**This is a Bug Report**

**Problem:**
[What's Next](https://kubernetes.io/docs/concepts/overview/components/#what-s-next) section under Kubernetes components are Not covering all related information.
**Proposed Solution:**
Below information is required to mention under [What's Next](https://kubernetes.io/docs/concepts/overview/components/#what-s-next) section of Kubernetes components page.

- Lea

[2022-11-14 06:31] utkarsh-singh1 commented on #37854
Hi @kind03, Can you provide a more brief explanation about the issue you are facing with `rules.apiGroups` definition? As it can be improved based on your suggestion.

/language en
/priority awaiting-more-evidence

[2022-11-14 06:32] T-Lakshmi commented on #37881
/language en
/sig docs
/assign

[2022-11-14 06:53] #37750 closed

[2022-11-14 07:02] dipankardas011 commented on #37881
/retitle Kubernetes Components What's Next section should contain some more points.

[2022-11-14 10:46] tamilselvan1102 opened #37890 "Provide the hyperlink to [persistentVolumes] in Namespaces page"
**This is a Feature Request**

**What would you like to be added**
Under [Namespaces](https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/) page,  provide hyperlink for `persistentVolumes` in section [Not all objects are in a namespace](https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/#not-all-objects-are-in-a-namespace).

**Why is this needed**

[2022-11-14 11:23] Kartik494 commented on #32266
/remove-lifecycle rotten

[2022-11-14 12:17] Shubham82 commented on #37779
Proposed Solution:
In this we have to move the following things from[ Feature Gates](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/) to [Feature Gates (removed)](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates-removed/):

1) Move the feature gate `PodOverhead` from [Feature gates for graduated or deprecated features](https://kuberne

[2022-11-14 12:19] Shubham82 commented on #37779
Hi @pacoxu
This is what we have to do for this issue. Am I right?

[2022-11-14 13:26] #34321 closed

[2022-11-14 18:17] cen1 commented on #34362
/reopen

[2022-11-14 19:26] #34363 closed

[2022-11-14 19:50] H4LKEye commented on #37890
I would like to work on this.

[2022-11-15 03:02] HamzaMasood1 opened #37901 "openssl req -nodes is deperecated"
Within this page:
content/en/docs/tasks/administer-cluster/certificates.md

The nodes command is deprecated:
openssl req -x509 -new -nodes -key ca.key -subj "/CN=${MASTER_IP}" -days 10000 -out ca.crt

Just wanted to let you guys know : )

[2022-11-15 05:13] Kartik494 commented on #37901
@HamzaMasood1 i am not so sure on this . @sftim if this is right could we mark this command as deprecated?

[2022-11-15 05:20] #37409 closed

[2022-11-15 05:45] Kartik494 commented on #33160
@nvsd so it's an issue with extension or Firefox , and you are ok with it so can we close this issue.

[2022-11-15 05:51] nvsd commented on #33160
Er, sure.

[2022-11-15 05:52] #33160 closed

[2022-11-15 06:59] vaibhav2107 commented on #35968
/remove-lifecycle stale

[2022-11-15 07:02] vaibhav2107 commented on #35242
/remove-lifecycle stale

[2022-11-15 07:03] vaibhav2107 commented on #35031
/remove-lifecycle stale

[2022-11-15 07:27] Shubham82 opened #37904 "Request for Adding a Hyperlink for RFC3339"
**This is a Feature Request**

**What would you like to be added**
Add Hyperlink `https://datatracker.ietf.org/doc/html/rfc3339` to `RFC3339` under [Bootstrap token Secrets](https://kubernetes.io/docs/concepts/configuration/secret/#bootstrap-token-secrets) in [Secrets](https://kubernetes.io/docs/concepts/configuration/secret/) concept page.

**Why is this needed**
Adding the hyperlink will helps t

[2022-11-15 07:28] Shubham82 commented on #37904
/assign
/sig auth

[2022-11-15 07:56] Shubham82 commented on #37904
Fixed it here: #37905

[2022-11-15 09:38] tomkivlin commented on #30575
Ah my bad - I am still working on this, but slowly.  Will aim to get a PR ready by end of this week.

/remove-lifecycle stale

[2022-11-15 15:22] srinivasnm471 opened #37911 "Service: Need more information on session affinity timeout."
Query on documentation of session affinity timeout.

I am using ClientIP in sessionAffinity (in my service configuration), want to know more about session affinity timeout.

I had to achieve HA between websocket processes which is why I wanted to explore session affinity on kubernetes service.

In my experiment, I had two pods which had to communicate to a process outside the cluster, I had kept t

[2022-11-15 16:22] pealmeid commented on #18079
Wow, it's unbelievable that it has been almost three years and the tutorial still has not been corrected.

Thanks @ThomasG77 for the solution.

[2022-11-15 16:34] kavita1205 opened #37915 "How we can send kubernetes audit logs to splunk in puppet"
Hi Team,

How we can send kubernetes audit logs to splunk if we are using puppet. We are using below configurations , so in case of sending audit logs what would be the configurations here. Can someone please help me here.

[code]

[2022-11-15 18:15] bishal7679 commented on #37877
/triage accepted

[2022-11-15 19:18] #36732 closed

[2022-11-16 03:49] sftim opened #37922 "https://k8s.io/docs/reference/instrumentation/metrics/ documents v1.26"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/reference/instrumentation/metrics/ documents metrics for Kubernetes v1.26 but that's incorrect because at the time I'm filing this the live documentation is for Kubernetes v1.25

**Proposed Solution:**
Revert whichever PR bumped the document too early

_or_

do a careful partial revert that only omits the v1.26 changes

**Page to Up

[2022-11-16 04:10] #37904 closed

[2022-11-16 04:44] Pradumnasaraf commented on #37922
/assign

[2022-11-16 04:45] Pradumnasaraf commented on #37922
Hey, @sftim I have found that PR https://github.com/kubernetes/website/pull/37822 . Can you please confirm these PR changes are to be reverted?

[2022-11-16 04:52] sftim commented on #37890
This issue isn't really well specified enough to be a good first issue.

/triage accepted
/remove-good-first-issue

[2022-11-16 04:53] sftim commented on #37849
/good-first-issue
/triage accepted

If people have questions about how to work on this, it's OK to ask.

[2022-11-16 05:53] camilamacedo86 commented on #25174
Hi @smartin1296,

We should no longer use apt-key it is deprecated and has security concerns.

[1] - https://sites.google.com/site/installationubuntu/home/ubuntu-22-04/apt-key-is-deprecated?pli=1
[2] - https://askubuntu.com/questions/1286545/what-commands-exactly-should-replace-the-deprecated-apt-key

I am facing the same errors trying to install in unbutu:22.04

[code]

I do not know why it is cl

[2022-11-16 06:17] tamilselvan1102 commented on #37911
@srinivasnm471
you meant to say it is not not working as expected with `external IPs`.

[2022-11-16 07:26] emmanuel-sonalake commented on #25174
I fixed the issue

[2022-11-16 07:55] tamilselvan1102 commented on #37861
Not only deployed jQuery and Bootstrap library files, the corresponding processing action code also not there.

[2022-11-16 09:45] adamkgray opened #37926 "'Image Pull Policy: Always' docs state that kubelet uses cached images but it doesn't"
**This is a Bug Report**

**Problem:**

The kubernetes documentation for `ImagePullPolicy: Always` states:

"every time the kubelet launches a container, the kubelet queries the container image registry to resolve the name to an image [digest](https://docs.docker.com/engine/reference/commandline/pull/#pull-an-image-by-digest-immutable-identifier). If the kubelet has a container image with that exa

[2022-11-16 09:47] adamkgray commented on #37926
Created [PR 37927](https://github.com/kubernetes/website/pull/37927)

[2022-11-16 10:56] Ritikaa96 commented on #37814
Hi @sftim
I have raised a PR ( #37928) resolving this issue with all pv.kubernetes.io annotations registered.
PTAL!

[2022-11-16 11:07] srinivasnm471 commented on #37911
@tamilselvan1102
yes, when I communicate with the IP that has session affinity, I expect affinity to get shifted to the other pod (since replica is set to 2) every 120 sec (timeout specified in the configuration), but that's not happening consistently.

[2022-11-16 11:38] itpradeep2018 opened #37929 "S3 bucket mount in K8s Pods"
Is there any simple way to mount S3 in K8s Pods?

[2022-11-16 12:35] tamilselvan1102 commented on #37444
/assign

[2022-11-16 12:55] sftim commented on #30016
Anyone's welcome to work on this issue, or indeed any [k/website](https://github.com/kubernetes/website) issue. If someone has already made a start, it's polite to try to sync up and collaborate with them.

[2022-11-16 12:55] tamilselvan1102 commented on #37444
@sftim
suggest me where to place the toggle button.

![k8sHomePage](https://user-images.githubusercontent.com/20103020/202186094-bf4d0112-cae0-4da7-8b2a-de5f5ab3f300.JPG)

[2022-11-16 12:57] sftim commented on #37444
How about putting the button above "Edit this page"?
If you prefer another place, that's fine too.

[2022-11-16 12:59] sftim commented on #37444
/triage accepted
/priority backlog

[2022-11-16 13:26] Ritikaa96 commented on #37444
For now i'd like to /assign it to myself and wait for a go ahead to work on it.

[2022-11-16 13:26] Ritikaa96 commented on #37444
/assign

[2022-11-16 13:26] Ritikaa96 commented on #37926
/language en

[2022-11-16 13:29] Ritikaa96 commented on #37915
/kind support

[2022-11-16 13:45] Ritikaa96 commented on #37817
Hi @jihoon-seo , Katacoda is not maintained anymore so highly unlikely the scenarios will be updated.

[2022-11-16 13:49] Ritikaa96 commented on #33936
[This](https://killercoda.com/creators/get-started) docs in killercoda says developer can use their katacoda repositories as well.
So they can  Import existing Katacoda scenarios and run them as killercoda scenarios too. It seems workable if this can be done. Anyone tried this? do we have any katacoda author to verify this?

[2022-11-16 13:56] Ritikaa96 commented on #37911
/kind support

[2022-11-16 13:59] sftim commented on #37911
@srinivasnm471 which page wasn't clear to you? If you can let us know which specific section, that's even better.

[2022-11-16 14:00] sftim commented on #33936
I don't think so.

The team behind Katacoda aren't likely to know the answer, to be honest: killercoda is a separate thing.

[2022-11-16 14:01] sftim commented on #37817
Katacoda for Kubernetes is maintained a bit. The main thing we're short of is contributor time.

[2022-11-16 14:02] wuestkamp commented on #33936
It should be possible to port most scenarios from Katacoda to Killercoda, many have done it.
But there are also differences and there is a [Katacoda Migration Guide](https://wuestkamp.medium.com/katacoda-to-killercoda-migration-guide-d21961fc0c9b?source=friends_link&sk=6e93c2194234f703454e3eb1438712c9) for this

[2022-11-16 14:03] sftim commented on #37444
You (and all other contributors) don't need anyone's permission to start work.
Anyone's welcome to work on this issue, or indeed any [k/website](https://github.com/kubernetes/website) issue. If someone has already made a start, it's polite to try to sync up and collaborate with them.

[2022-11-16 14:03] sftim commented on #37926
/sig node

[2022-11-16 14:08] Ritikaa96 commented on #37911
@srinivasnm471  Are you talking about [this](https://kubernetes.io/docs/concepts/services-networking/service/) document?

[2022-11-16 14:09] sftim commented on #37926
I'm not sure that the fix you're advocating is strictly accurate either @adamkgray. I think the container runtime has a big say in what image layers do or don't get fetched.

This broadly matches what I've observed in actual Kubernetes clusters. I think it blurs the lines a bit between what the kubelet does and what the container runtime does.

https://www.ianlewis.org/en/container-runtimes-part-4

[2022-11-16 14:14] Ritikaa96 commented on #37929
/kind support

[2022-11-16 14:21] Ritikaa96 commented on #37929
/sig storage

[2022-11-16 14:28] Ritikaa96 commented on #37911
/retitle Session Affinity timeout is not consistent -  more information required for session affinity.

[2022-11-16 14:45] Ritikaa96 commented on #37757
Hi , could you please explain further, where and what kind of information you want this page to add?

/language en

[2022-11-16 14:48] Ritikaa96 commented on #37757
For information regarding the flags, you can find detailed info [here](https://etcd.io/docs/v3.1/op-guide/configuration/#--initial-advertise-peer-urls)

In the latest version of etcd the same is explained [here](https://etcd.io/docs/v3.5/op-guide/configuration/#clustering)

[2022-11-16 15:01] Ritikaa96 commented on #37738
Regarding this:

We can use a reference section/note/what's next section in the end of [securing-a-cluster.md](https://kubernetes.io/docs/tasks/administer-cluster/securing-a-cluster/) stating:
- `Find an extensive list of security checks [here](https://kubernetes.io/docs/concepts/security/security-checklist/)`

[2022-11-16 15:16] nasa9084 commented on #30528
doubled #30810
and fixed already
/close

[2022-11-16 15:16] #30528 closed

[2022-11-16 15:24] Ritikaa96 commented on #37444
Thanks @sftim ,

i am slightly confused by the statement.
So as much I understood we are to add this feature to the one page _for now_ and no override button.
Am i getting this right?
where do you suggest we put the changing action for view modes?

[2022-11-16 15:31] Ritikaa96 commented on #33936
I agree with you there.
@wuestkamp I have seen this guide, but haven't tried or seen anyone successfully try this. if it is possible then using killercoda in k8s would also be feasible in all interactive tutorials.

[2022-11-16 15:48] utkarsh-singh1 commented on #36022
/remove-lifecycle stale

[2022-11-16 16:03] juliafmorgado commented on #13939
Hey, I'll start translating the page [open-a-pr](https://github.com/kubernetes/website/blob/main/content/en/docs/contribute/new-content/open-a-pr.md).

[2022-11-16 16:13] sftim commented on #37444
This is a limited scope issue to get familiar with using CSS to restyle the page, and to work out what we'll do with the images / icons.

Someone who wants to try this out will have to set their browser to dark mode or light mode explicitly (or wait until dawn / sunset).

[2022-11-16 19:14] VishakArudhra opened #37936 "Possible Error in Horizontal Pod Autoscaling Documentation Page"
The values are interchanged for current metric and desired metric in the formula description under the [Algorithm Details](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#algorithm-details) section.

Even the formula seems a bit counter intuitive.

Shouldn't the desiredMetricValue be in the numerator and currentMetricValue in the denominator instead? Because only then wo

[2022-11-16 23:05] rawhideron opened #37938 "Clarify cordon difference between control plane and other nodes for kubeadm upgrade steps"
It is not so obvious that you need to run the kubectl drain and uncordon node commands on the control-plane node and the rest on the worker node. the documentation could benefit with some clarity here.

[2022-11-17 00:05] hj-johannes-lee commented on #36863
@seokho-son M66 하겠습니다!

[2022-11-17 02:27] mengjiao-liu commented on #37938
/kind feature

[2022-11-17 03:10] mengjiao-liu commented on #37936
/cc @josephburnett  @mwielgus

[2022-11-17 03:45] mengjiao-liu commented on #37922
/triage accepted

[2022-11-17 03:49] mengjiao-liu commented on #37226
It looks like the task has been accomplished.
/close

[2022-11-17 03:49] #37226 closed

[2022-11-17 06:19] ouohh commented on #35432
/close

[2022-11-17 06:19] #35432 closed

[2022-11-17 06:48] sftim commented on #37938
Is this feedback for a specific documentation page @rawhideron ? If so, what is its URL?

[2022-11-17 06:48] sftim commented on #37938
/language en

[2022-11-17 07:03] sftim commented on #37428
Should we make this change? Any objections?

[2022-11-17 07:30] Ritikaa96 commented on #37444
Thanks @sftim , My first thought was that we want to add a button to help users choose which mode they prefer on the page.

I might have seen a reference to go through with this. will let you know if it work out right..

[2022-11-17 07:57] Kartik494 commented on #37840
@chenxinlong please let me know if you are still interested in raising a PR for this.

[2022-11-17 08:16] seokho-son commented on #37740
/close

[2022-11-17 08:16] #37740 closed

[2022-11-17 08:38] kim-sehoon opened #37945 "Resource Management for Pods and Containers"

[2022-11-17 08:39] #37945 closed

[2022-11-17 08:40] Kartik494 commented on #35643
@kadtendulkar i think this issue has been addressed in this [PR](https://github.com/kubernetes/website/pull/36396) , so i think it's ok to close this issue now?

[2022-11-17 09:08] lengcangkuganmian opened #37946 "Issue with k8s.io/zh-cn/docs/concepts/overview/working-with-objects/names/"
Hello, I found some ambiguity in the Chinese translation of the documentation.

In this document(https://kubernetes.io/zh-cn/docs/concepts/overview/working-with-objects/names/)  the third line
in chinese version is:
"比如，在同一个名字空间中有一个名为 myapp-1234 的 Pod，但是可以命名一个 Pod 和一个 Deployment 同为 myapp-1234。"

And in english  version is:
"For example, you can only have one Pod named myapp-1234 within the same na

[2022-11-17 09:51] tamilselvan1102 opened #37948 "Request for Adding a Hyperlink for kube-apiserver"
**What would you like to be added**
Under [Getting started](https://kubernetes.io/docs/setup/) page,  provide hyperlink for `kube-apiserver`

**Why is this needed**
Adding the hyperlink will helps the readers to know about kube-apiserver.

**Comments**
/sig docs
/language en
/assign

[2022-11-17 09:54] tamilselvan1102 opened #37949 "Adding glossary tooltip for kube-proxy"
**What would you like to be added**
Under [Getting started](https://kubernetes.io/docs/setup/) page,  provide hyperlink for `kube-proxy`

**Why is this needed**
Adding the hyperlink will helps the readers to know about kube-proxy

**Comments**
/sig docs
/language en
/assign

[2022-11-17 09:56] utkarsh-singh1 commented on #37936
/language en
/kind support

[2022-11-17 10:33] utkarsh-singh1 commented on #37946
/sig docs

[2022-11-17 13:24] tamilselvan1102 commented on #37948
/assign

[2022-11-17 13:25] tamilselvan1102 commented on #37949
/sig docs
/assign

[2022-11-17 13:27] tamilselvan1102 commented on #37948
/remove-good-first-issue

[2022-11-17 13:28] stormqueen1990 commented on #30016
/assign

[2022-11-17 15:28] a-mccarthy commented on #37801
@chalin I agree with your assessment. It appears that example b in the linked page is the closes to how we currently have the analytics set up, as well as how we'd like to collect analytics going forward. In this model, we'd have one `account` and a separate `property` for each website we collect analytics for. Do we have a list of all the current websites we are tracking our should add to the new

[2022-11-17 15:45] a-mccarthy commented on #37679
@Karthik-PM Its likely not sustainable to keep directions of how to use the .editconfig file for all the available editors. Many editors support editconfig files be default if they exist in the folder. I think its enough to mention that this file is supported by default for many text editors and link to the editconfig page for users to check if their editor is supported: https://editorconfig.org/#

[2022-11-17 16:55] a-mccarthy opened #37954 "Umbrella issue: Improvements to draft-translate.py script"
**This is a Feature Request**

Continuing the excellent work done for https://github.com/kubernetes/website/issues/36879 by @bart2001, we should consider the making improvements for the draft translation script being added by https://github.com/kubernetes/website/pull/37254. (The PR for adding the script is still being reviewed and waiting to be merged.)

The current version of this script is not

[2022-11-17 16:56] #32039 closed

[2022-11-17 17:00] a-mccarthy commented on #37954
@bart2001 I've created this umbrella issue based on your great demo and the discussion on using the script for the last localization meeting. Please review it and let me know if i've captured everything correctly or if you have any other improvement that you are thinking about adding. (i didn't see another issue covering this topic, but if there is one already please feel free to close this :)

I

[2022-11-17 17:50] dashpole commented on #37922
/assign @logicalhan

[2022-11-17 17:56] #34419 closed

[2022-11-17 18:57] #31596 closed

[2022-11-17 21:01] saeeda commented on #37871
@dipankardas011 In the [kubeadm upgrade](https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/#call-kubeadm-upgrade) document, there is a step referring to `addons` to check whether they need upgrade themselves.

Since I was performing the upgrade between minor versions `v1.25`, and the page was hosted on `v1-24.docs.kubernetes.io`, so I checked the `v1-25` version, and noti

[2022-11-17 23:54] chalin commented on #37801
@a-mccarthy: thanks for your response. Actually, "Example B" in the [Google Analytics 4 account structure](https://support.google.com/analytics/answer/9679158) page suggests a single property for all websites, and in fact, a single web stream for all websites (so that, e.g., we can configure cross-domain tracking).

For a list of k8s websites (at least those that I currently know about), see rows

[2022-11-18 00:56] medyagh commented on #37801
thank you both @a-mccarthy and @chalin to get this updated, and glad we are making this a process for next websites,   is there any action on our end (minikube team) to do ?

[2022-11-18 01:04] rawhideron commented on #37938
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/

[2022-11-18 01:47] chalin commented on #37801
Not that I can see @medyagh, thanks.

[2022-11-18 01:48] dipankardas011 commented on #37871
Thanks, for clearing my doubt😇

[2022-11-18 03:21] Pradumnasaraf commented on #37922
Hey, @dashpole I already assign it to myself and opened the PR. Thank you :)

[2022-11-18 04:56] vaibhav2107 commented on #35983
/remove-lifecycle stale

[2022-11-18 05:01] vaibhav2107 commented on #33182
/remove-lifecycle stale

[2022-11-18 05:06] vaibhav2107 commented on #32889
/remove-lifecycle stale

[2022-11-18 05:35] Jackcrampton opened #37955 "Interactive Tutorial - Deploying an App"
terminal  hangs with cmd   echo -e "\n\n\n\e[92mstarting proxy.after starting it will not output a response. please click the first terminal tab\n"; kubectl proxy

[2022-11-18 05:55] T-Lakshmi commented on #37955
/sig docs
/language en

[2022-11-18 06:03] T-Lakshmi commented on #37955
`Related page:` https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/

[2022-11-18 06:32] T-Lakshmi commented on #37955
Hi @Jackcrampton,
Terminal is working for me fine, could you please recheck once and confirm.
Make sure your internet connection should be good.

![image](https://user-images.githubusercontent.com/56723673/202635662-5c3a7bc6-d23e-4f0d-9c8c-66e4c1cb2dcb.png)

[2022-11-18 07:28] mengjiao-liu commented on #37955
I can use it normally.

[2022-11-18 07:31] mengjiao-liu commented on #37946
/triage accepted

[2022-11-18 07:33] mengjiao-liu commented on #37946
It seems that there is indeed an ambiguity, we can modify it.
/assign

[2022-11-18 07:50] mengjiao-liu commented on #37949
Sorry, I accidentally wrote the issue link in my PR, resulting in the link reference on this page.

[2022-11-18 08:32] #37946 closed

[2022-11-18 13:54] sftim commented on #37938
/retitle Clarify cordon difference between control plane and other nodes for kubeadm upgrade steps
/sig cluster-lifecycle

[2022-11-18 13:55] sftim commented on #37938
/triage accepted
/priority backlog

[2022-11-18 13:55] sftim commented on #37954
/area localization

[2022-11-18 14:32] kavita1205 opened #37958 "Advice on setting up audit logging for Kubernetes"
**This is a Bug Report**

**Problem:**
Hi Team,

I am trying to get k8 audit for level "Metadata" and within metadata I don't want if user and group is system*. To achieve the same I am using below audit policy configurations. But I am still getting below output where "groups": ["system:serviceaccounts",      "system:serviceaccounts:kube-system", "system:authenticated"]

Can someone help me here h

[2022-11-18 14:46] kavita1205 commented on #37958
@sftim and @tengqm can you help me here.

[2022-11-18 15:33] utkarsh-singh1 commented on #36717
/language en
/kind support

[2022-11-18 15:37] utkarsh-singh1 commented on #36784
Hey @EricoCartmanez, are you talking about this [passage](https://kubernetes.io/docs/tasks/administer-cluster/configure-upgrade-etcd/#restoring-an-etcd-cluster) ?

[2022-11-18 16:12] #31015 closed

[2022-11-18 16:19] zioproto opened #37959 "Clarify what means immutable by design"
**Problem:**

I find this information confusing:

https://github.com/kubernetes/website/blob/9ac44f2f332144d87499b6b610b45b7bba252bad/content/en/docs/concepts/containers/_index.md?plain=1#L34-L37

Containers are designed to be staless and immutable, but it is the responsibility of the users to maintain these properties. The wording "by design" suggests that the container is immutable however it is

[2022-11-18 20:26] vishvikkrishnan opened #37963 "Dead link for "Node Allocatable" in doc page Kubelet Configuration (v1beta1)"
The link to documentation on ["Node Allocatable"](https://git.k8s.io/community/contributors/design-proposals/node/node-allocatable.md) is dead. The page was autogenerated.

I found a document with the same name within the Kubernetes project [as an archived repo](https://github.com/kubernetes/design-proposals-archive/blob/main/node/node-allocatable.md).

Please update the link or remove the referen

[2022-11-19 02:44] stormqueen1990 commented on #30016
I did a first attempt at this on #37966. Looking for some feedback! 😃

[2022-11-19 04:18] #37890 closed

[2022-11-19 04:20] #37744 closed

[2022-11-19 07:57] tabbysable commented on #36199
This seems like a good idea. Perhaps add something like this, up at the top of the document?

[code]

[2022-11-19 11:18] #31795 closed

[2022-11-19 13:23] sftim opened #37971 "Add Redoc API reference information"
**This is a Feature Request**

**What would you like to be added**
Initially as an experiment, add API reference information using Docsy's support for [`redoc`](https://www.docsy.dev/docs/adding-content/shortcodes/#redoc).

**Why is this needed**
There are different ways of thinking about the Kubernetes API. Some readers are mainly interested in writing [manifests](https://kubernetes.io/docs/refer

[2022-11-19 13:25] sftim commented on #37971
To work on this, you will need a copy of the OpenAPI document. I think `api-ref-assets/api/swagger.json` should work.

[2022-11-19 13:46] sftim commented on #37963
This is a bug in Kubernetes (and the documentation copies that bug). The file to fix is https://github.com/kubernetes/kubernetes/blob/57eb5d631ccd615cd161b6da36afc759af004b93/pkg/kubelet/apis/config/types.go#L371-L372

I'll transfer this to the [k/kubernetes](https://github.com/kubernetes/kubernetes) repo.

/transfer kubernetes

[2022-11-19 13:49] sftim commented on #37959
/remove-kind bug

I agree: app containers are _intended_ to be immutable, but the container _is_ able to mutate itself and external actors can do that too.

[2022-11-19 13:49] sftim commented on #37959
/language en
/triage accepted
/priority backlog

[2022-11-19 13:53] sftim commented on #37958
@kavita1205 help _is_ available. Check out the [contact details](https://www.scalefactory.com/contact-us/) for my employer if you'd like to book in some consultancy.

If you're looking for help from the wider community, you could ask on [Server Fault](https://serverfault.com/questions/tagged/kubernetes). You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discus

[2022-11-19 14:06] sftim commented on #33509
Relevant to https://github.com/kubernetes/website/pull/37962

[2022-11-19 14:21] sftim opened #37974 "Document scaling a kubeadm-deployed control plane"
**This is a Feature Request**

**What would you like to be added**
Document two new tasks:
- add another control plane node to a cluster that you deployed using kubeadm
- remove an existing control plane node from a cluster that you deployed using kubeadm

**Why is this needed**
Cluster operators might need to scale their control plane on a running cluster.
I couldn't find existing task documentat

[2022-11-19 14:32] sftim commented on #33509
PR #30535 helps with this.

[2022-11-20 07:23] #32077 closed

[2022-11-20 13:27] #25172 closed

[2022-11-20 16:49] krol3 commented on #33509
This issue is related to this [KEP](https://github.com/kubernetes/enhancements/issues/2371)

[2022-11-20 18:43] sftim commented on #33509
PR https://github.com/kubernetes/website/pull/37980 helps with this too.

[2022-11-20 22:01] sftim commented on #36156
@dolamaiti, GitHub is not the right place for support requests.

If you're still looking for help, check [Server Fault](https://serverfault.com/questions/tagged/kubernetes).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

/close

[2022-11-20 22:01] #36156 closed

[2022-11-21 01:53] adejonghm opened #37992 "Install and Set Up kubectl on Linux"
The content of the kubernetes.repo file has an error in the ` baseurl`   variable. This string has a "\\" before `  $basearch`  and the correct URL does not.

[Current content:]

![Screenshot_2022-11-20_22-44-57](https://user-images.githubusercontent.com/29492844/202943928-3f9abf22-5a09-453b-a32d-599faddae669.png)

I had an error running `  sudo dnf update`   after adding the content to the file.

[2022-11-21 02:46] mengjiao-liu commented on #37992
There is no problem with this command. When you apply this command, you will find the actual `kubernetes.repo` file shown below:
[code]

This string has a `\` before `$basearch`,which is to prevent `$basearch` from being treated as a variable of the current bash and not being written to the file.

[2022-11-21 04:54] #33423 closed

[2022-11-21 06:34] shurup commented on #37428
Personally, I like what's done here, and I was just waiting for someone with "better experience" in the glossary entries to approve it.

[2022-11-21 06:35] T-Lakshmi commented on #37881
I am waiting for traige-accepted label, can anyone please check the issue and provide accept label.

[2022-11-21 06:46] T-Lakshmi commented on #37428
Hi @shurup,
Thanks for sharing your feedback.

Can anyone else please comment on it.

[2022-11-21 07:18] lukaszkuczynski opened #37994 "Interactive tutorial is subject to Docker Hub rate limiting"
the build on this step of the tutorial keeps failing with Docker rate limits:

https://kubernetes.io/docs/tutorials/configuration/configure-java-microservice/configure-java-microservice-interactive/

[ERROR] Failed to execute goal com.spotify:dockerfile-maven-plugin:1.4.10:build (default) on project system: Could not build image: toomanyrequests: You have reached your pull rate limit. You may incr

[2022-11-21 07:31] #34550 closed

[2022-11-21 08:35] T-Lakshmi commented on #37994
/sig docs
/language en
/kind support

[2022-11-21 09:03] T-Lakshmi commented on #37994
Hi @lukaszkuczynski,

It seems you have reached the number of Docker image downloads (“pulls”).

Docker Hub limits the number of Docker image downloads (“pulls”) based on the account type of the user pulling the image. For anonymous users, the rate limit is set to 100 pulls per 6 hours per IP address. For [authenticated](https://docs.docker.com/docker-hub/download-rate-limit/#how-do-i-authenticate

[2022-11-21 09:04] #37959 closed

[2022-11-21 09:07] sftim commented on #37992
/language en
/sig cli
/sig docs
/triage not-reproducible

[2022-11-21 09:08] sftim commented on #37992
/remove-label needs-triage
/close

There's clearly nothing here to fix. @adejonghm if you're convinced otherwise, please reopen this issue.

[2022-11-21 09:08] #37992 closed

[2022-11-21 09:27] kundan2707 commented on #36120
/remove-lifecycle stale

[2022-11-21 09:38] pacoxu commented on #37779
Fixed in #37925.

[2022-11-21 09:38] #37779 closed

[2022-11-21 10:14] vaibhav2107 commented on #36167
/remove-lifecycle stale

[2022-11-21 10:15] bishal7679 commented on #36512
@legendarykamal as you have got assigned this issue 2 month ago and no PR against this issue has been raised by you So I have to unassign you so that others can work on it.
Hope you understand!

[2022-11-21 10:16] bishal7679 commented on #36512
/unassign @legendarykamal

[2022-11-21 10:16] bishal7679 commented on #36512
/assign @chiukapoor

[2022-11-21 10:16] bishal7679 commented on #36512
Go ahead @chiukapoor

[2022-11-21 10:59] rata commented on #36386
/close

[2022-11-21 10:59] #36386 closed

[2022-11-21 11:24] kundan2707 opened #37996 "[hi] Replace Objective with Hindi in content/hi/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro.html"
**This is a Bug Report**

Objective should be replace by उद्देश्य in  content/hi/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro.html

**Problem:**
Objective is english word in hindi content
**Proposed Solution:**
Replace with उद्देश्य
**Page to Update:**
https://kubernetes.io/hi/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro/

[2022-11-21 11:24] kundan2707 commented on #37996
/kind documentation

[2022-11-21 11:39] T-Lakshmi commented on #37948
/sig docs

[2022-11-21 11:54] #37996 closed

[2022-11-21 13:15] tamilselvan1102 opened #37998 "Getting started page format is not synced with other pages"
**This is a Bug Report**

Problem:

1. All the subsections should be described and linked to correspond pages.
   a)  Like `Learning environment` and `Production environment` , **best practices** as well described in this page.
   b)  Like [concepts](https://kubernetes.io/docs/concepts/)  page all subsection should be linked to corresponding pages.

2. remove `Learn about best practice for cluster

[2022-11-21 13:15] tamilselvan1102 commented on #37998
/language en
/sig docs
/assign

[2022-11-21 13:35] kundan2707 commented on #34413
@JEFFTIMES  as stated by @sftim  you havent mentioned if you installed ingress controller or not. if yes then which controller.
post complete information then only someone can answer you.

[2022-11-21 13:35] kundan2707 commented on #34413
/triage needs-information

[2022-11-21 14:32] sftim opened #37999 "API mirroring annotations not registered or documented"
**This is a Bug Report**

**Problem:**
Kubernetes sets up to ~three~ four annotations when mirroring a resource (for example, a [mirror pod](https://kubernetes.io/docs/concepts/workloads/pods/#static-pods)). These are:

- `kubernetes.io/config.source`
- `kubernetes.io/config.seen`
- `kubernetes.io/config.hash`
- `kubernetes.io/config.mirror`

However, those annotations are not documented in
https:

[2022-11-21 14:35] sftim commented on #37998
I don't think that content is _incorrect_.

I disagree here. People might want to learn that Kubernetes is designed for its control plane to run on Linux (only), and that nodes but not the control plane can also run Windows.

/priority awaiting-more-evidence

I'd like to be convinced about why we should make the changes you're suggesting @tamilselvan1102
Was there something you didn't enjoy about

[2022-11-21 14:35] sftim commented on #37994
/retitle Advice on Docker Hub rate limiting

[2022-11-21 16:21] sftim opened #38000 "Annotation `endpoints.kubernetes.io/last-change-trigger-time` not registered / documented"
**This is a Bug Report**

**Problem:**
Kubernetes sometimes sets an annotation, `endpoints.kubernetes.io/last-change-trigger-time`, on an Endpoints.

However, this annotation is not documented in
https://kubernetes.io/docs/reference/labels-annotations-taints/

**Proposed Solution:**
Document this annotation. If it's deprecated, note that (and set a custom fragment identifier).

**Page to Update:**

[2022-11-21 17:24] aramase commented on #37269
/triage accepted

- we plan to bring this up in sig-auth meeting to discuss how we can better handle making enforce as default.
- Until the default discussion is done, this issue can be used to track for docs improvement as mentioned in @sftim's comment.

[2022-11-21 18:53] VishakArudhra commented on #37936
I am closing the issue, since I just realized why the current metric value is on the top and the desired metric value is at the bottom in the ratio. When current metric value exceeds the desired metric value it produces a factor greater than one which is conducive to a balancing, proportionate number of replicas.

More replicas bring the overall current metric value down towards the desired metric

[2022-11-21 18:53] #37936 closed

[2022-11-21 20:08] sftim commented on #37949
I'd use a [glossary tooltip](https://kubernetes.io/docs/contribute/style/hugo-shortcodes/#glossary) (which is also clickable).

[2022-11-21 20:08] sftim commented on #37948
I'd use a [glossary tooltip](https://kubernetes.io/docs/contribute/style/hugo-shortcodes/#glossary).

[2022-11-21 20:39] reylejano commented on #37428
/triage accepted

[2022-11-21 20:42] #37428 closed

[2022-11-21 20:45] jdbarnes-isi commented on #37974
Hi, I have a use-case for this.

We were tasked with moving from a Debian-based OS to a Fedora-based OS on our kubernetes cluster, and due to the state of the hosts and applications on the system, the decision was made to scale down the old control plane from 3 to 1 node and create a new cluster with a single node control plane, deploy the updated applications in a green-blue type of environment f

[2022-11-21 21:58] rinocata opened #38005 "Documentation about `imagePullPolicy` confuses readers"
The section on `imagePullPolicy` seems to be misleading. `Always` seems to, well, always pull images no matter what despite what the description says.

[2022-11-21 23:50] kundan2707 commented on #38000
/assign

[2022-11-22 00:17] kundan2707 commented on #37143
@EdmundsEcho  Can you describe section which needs improvement ?

[2022-11-22 00:34] medyagh commented on #37817
is there a repo you could point us to , we could contribute a PR for it

[2022-11-22 02:17] mengjiao-liu commented on #38005
page: https://kubernetes.io/docs/concepts/containers/images/#image-pull-policy

/kind support

[2022-11-22 06:03] tamilselvan1102 commented on #37949
@sftim
shall i proceed with glossary tooltip?

[2022-11-22 06:03] tamilselvan1102 commented on #37948
@sftim
shall i proceed with glossary tooltip?

[2022-11-22 09:04] tamilselvan1102 commented on #37998
3. [Download and install tools including kubectl] under this topic having various tools details are there to be installed. But here specifically mentioned only kubectl. That's why thought to rewrite.

4. [What's next] section have to focus on pinpoint to features not detailed description. That's why thought to move the description to [Windows in Kubernetes](https://kubernetes.io/docs/concepts/wind

[2022-11-22 09:46] #32858 closed

[2022-11-22 09:54] sftim commented on #37817
The repo is https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios - as mentioned in https://github.com/kubernetes/website/issues/37817#issuecomment-1309793010

[2022-11-22 10:36] T-Lakshmi commented on #37748
/sig docs

[2022-11-22 10:44] T-Lakshmi commented on #37799
/sig docs

[2022-11-22 11:22] T-Lakshmi commented on #37249
/kind bug
/sig docs

[2022-11-22 11:25] Sea-n commented on #33929
Already fixed in PR #34579.
/assign @jjinux
/remove-lifecycle rotten
/close

[2022-11-22 11:25] #33929 closed

[2022-11-22 11:40] utkarsh-singh1 commented on #38005
/language en

Hi @rinocata, `always` value of `imagePullPolicy` ensures that the latest image of container is present every time you create, deploy or run the pod.

[2022-11-22 13:57] rinocata commented on #38005
You seem to be correct @utkarsh-singh1 but the page you linked contradicts the one @mengjiao-liu (thanks) posted.

This seems to be the behavior of `IfNotPresent`, not `Always`.

[2022-11-22 14:01] rinocata commented on #38005
Also, it's not dependent on container runtime, same behavior occurs with containerd and CRI-O. My guess is simply unverified or outdated information.

[2022-11-22 15:14] sftim commented on #38005
Although two container runtimes both behave a particular way, that doesn't mean we can conclude they all behave that way.

Issue 37926 is very similar to this.

/remove-kind support
/triage duplicate

[2022-11-23 00:29] pipemonNexplore opened #38018 "Advice on Docker Hub rate limiting"
Commands crash with [ERROR] toomanyrequests: You have reached your pull rate limit. You may increase the limit by authenticating and upgrading: https://www.docker.com/increase-rate-limit.

` mvn package -pl system `
` mvn package -pl inventory `

[2022-11-23 02:36] #37651 closed

[2022-11-23 02:44] jihoon-seo commented on #38018
This issue seems a duplicate of #37994.
/triage duplicate

[2022-11-23 04:06] vaibhav2107 commented on #37999
/assign

[2022-11-23 05:10] #37519 closed

[2022-11-23 05:12] #37856 closed

[2022-11-23 05:38] Ritikaa96 commented on #38018
/kind support
/sig docs

[2022-11-23 05:45] Ritikaa96 commented on #38018
Hi @pipemonNexplore
@T-Lakshmi had given an explanation for the same issue [here] (https://github.com/kubernetes/website/issues/37994#issuecomment-1321724170)

You can see if this helps you with your issue as both logged issues are same.

[2022-11-23 05:47] Ritikaa96 commented on #37955
/team katacoda

[2022-11-23 05:54] T-Lakshmi opened #38021 "Format of What's Next section in cluster-large.md file is Not sync with other pages"
**This is a Bug Report**
**Problem:**
[What's Next](https://kubernetes.io/docs/setup/best-practices/cluster-large/#what-s-next) section in [cluster-large.md](https://kubernetes.io/docs/setup/best-practices/cluster-large/) file should have the points in Bullet format ( • ) to sync with other page formates.

**Proposed Solution:**
Change the format of text under [What's Next](https://kubernetes.io/d

[2022-11-23 05:54] tamilselvan1102 commented on #37929
@itpradeep2018
hope it would be help
https://blog.meain.io/2020/mounting-s3-bucket-kube/

[2022-11-23 05:54] T-Lakshmi commented on #38021
/language en
/sig docs
/assign

[2022-11-23 06:08] T-Lakshmi commented on #37994
Issue repeated in #38018.

[2022-11-23 08:13] utkarsh-singh1 commented on #37164
Hi @rjt65, if your issue has been resolved, can you close this issue?

[2022-11-23 08:21] utkarsh-singh1 commented on #37388
/language en
/kind support
/sig docs

[2022-11-23 09:42] jihoon-seo opened #38023 "Running linkcheck tool returns error"
**This is a Bug Report**

**Problem:**
Running [linkcheck tool](https://github.com/kubernetes/website/tree/main/content/en/docs/doc-contributor-tools/linkchecker) returns error.

[env]
- Ubuntu 18.04 amd64 desktop
- Docker CE 20.10.11
- GNU Make 4.1

[How to reproduce]

1. Navigate to the root directory of your local `kubernetes/website` repository.

2. Run the following command:

[code]

[Output]

[2022-11-23 10:00] utkarsh-singh1 commented on #37711
Facing same issue with 14" laptop, but it does not affect the interactive tutorial

[2022-11-23 10:07] utkarsh-singh1 commented on #37431
@sftim @cjoprey, there is an issue of error text - `The screen is too narrow to interact with the Terminal, please use a desktop/tablet.` but I can interact with the terminal.

[2022-11-23 10:14] cjoprey commented on #37431
I just re-checked on the same machine using the same browser, and it still gives the error message but the terminal is now indeed functional. :)

[2022-11-23 10:30] tamilselvan1102 commented on #37998
@sftim
could you please check the above proposal?

[2022-11-23 10:39] sftim commented on #38018
/retitle Advice on Docker Hub rate limiting

[2022-11-23 10:39] sftim commented on #38018
To help avoid people asking for advice, perhaps we could find a different home for the images that this tutorial relies upon?

[2022-11-23 10:41] sftim commented on #38005
/retitle Documentation about `imagePullPolicy` confuses readers

[2022-11-23 10:42] sftim commented on #38005
I'd like to see some evidence that the existing text is factually incorrect. I'm very willing to accept that it's not easy to understand, but I believe that it's not actually _wrong_.

[2022-11-23 10:55] sftim commented on #37998
I'm afraid that I don't fully understand what you're proposing @tamilselvan1102

You're welcome to open a pull request to illustrate how you think the page should look; that might be easier. Please do consider that we might prefer the existing page (I remember updating it to the current format within the last couple of years, and at the time I was happy with those improvements). Of course, there a

[2022-11-23 11:03] amosshapira opened #38026 "Confusing word (pod pair) in Garbage collection page."
The description of `MaxPerPodContainer` under [Conrainer garbage collection](https://kubernetes.io/docs/concepts/architecture/garbage-collection/#container-image-garbage-collection) mentions `Pod pair` without explaining what it means:

I suspect that this is a typo and `pair` should be removed.

[2022-11-23 11:23] T-Lakshmi commented on #38026
/sig docs
/language en

[2022-11-23 11:36] Arindam200 commented on #31677
Can I work on `content/bn/includes/task-tutorial-prereqs.md` ?

[2022-11-23 12:19] kundan2707 commented on #38026
/kind documentation

[2022-11-23 12:19] kundan2707 commented on #38026
/assign

[2022-11-23 12:20] kundan2707 commented on #38026
@amosshapira  here pod pair mean pod (UID, container name) pair.
I will update doc for better understanding

[2022-11-23 12:55] rinocata commented on #38005
Would `kubectl describe pod` logs constitute evidence?

[2022-11-23 13:11] kundan2707 commented on #38026
/retitle Confusing word (pod pair) in Garbage collection page.

[2022-11-23 13:55] sftim commented on #38005
The way I'm imagining this, you'd also need to show the state of the image cache for the container runtime used on that node before the Pod was scheduled there.

[2022-11-23 13:56] sftim commented on #38005
Please add any evidence to https://github.com/kubernetes/website/issues/37926 (which this issue pretty much duplicates)

[2022-11-23 14:07] mitul3737 commented on #31677
@Arindam200 You are appointed!

[2022-11-23 14:37] Harisalghifary opened #38028 "Interactive Tutorial - Configuring a Java Microservice"
![image](https://user-images.githubusercontent.com/47595840/203573586-c72c2daa-07c1-4c95-82cd-fcf448a63859.png)
Error when build project using maven with error message : Could not build image: toomanyrequests: You have reached your pull rate limit.

[2022-11-23 14:49] stormqueen1990 commented on #27446
/reopen
/assign

[2022-11-23 14:56] stormqueen1990 commented on #27446
/remove-lifecycle rotten

[2022-11-23 17:30] jeremielate opened #38030 "Define a Command and Arguments for a Container"

[2022-11-23 17:36] rinocata commented on #38005
Would `crictl` output be enough?

[2022-11-23 18:42] T-Lakshmi commented on #38028
/sig docs
/language en
/kind support

[2022-11-23 18:44] T-Lakshmi commented on #38028
This issue is already reported in #37994 and #38018.
/traige duplicate

[2022-11-23 18:53] T-Lakshmi commented on #38028
Hi @Harisalghifary,
I had given an explanation for the same issue here #37994, you can check it once.
I hope that will resolve your query.

[2022-11-23 19:56] alculquicondor commented on #31769
#37991 also tried to "fix" this. But I think there is nothing to fix.

[2022-11-23 20:26] sftim commented on #38005
Let's continue discussion in issue #37926

[2022-11-23 20:29] alculquicondor commented on #31769
Here is my attempt #38032, but @cortespao is suggesting that it's better to add samples. Is anyone willing to take this over?

[2022-11-23 20:31] sftim commented on #37926
Docker Hub _may_ treat validating that an image is fresh against its rate limit. On its own, reaching a rate limit at Docker Hub is not evidence that the docs are wrong.

I can see three options here:
- the docs are right, Kubernetes is working as designed
- the docs are right, Kubernetes has a bug (we'd want to know which kubelet version is affected)
- the docs are wrong, Kubernetes does not beha

[2022-11-23 22:03] JuliaMongo opened #38033 "Improvement for k8s.io/docs/concepts/services-networking/dns-pod-service/"
Please allow linking to items within the generated API reference. For example, we needed a link to publishNotReadyAddresses in the [API reference](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.25/), but couldn't get it.
Also, there is something with the search for this setting. When searching for it, the results that come up point to the 1.21 version of the API reference, which

[2022-11-23 22:37] rinocata commented on #37926
Well you're not entirely wrong because [they say](https://kubernetes.io/docs/concepts/containers/images/#required-image-pull):

Which is both expected and actual behavior, and contradicts the [section on Image pull policy](https://kubernetes.io/docs/concepts/containers/images/#image-pull-policy).

[2022-11-23 23:24] windsonsea commented on #37811
https://github.com/cncf/foundation/pull/450

This is merged now. You can move forward.

[2022-11-24 01:48] SpringHgui opened #38036 "Perform a Rollback on a DaemonSet"
docs: https://kubernetes.io/docs/tasks/manage-daemon/rollback-daemon-set/

[code]

Does this operation have a corresponding [OpenApi](https://kubernetes.io/zh-cn/docs/reference/kubernetes-api/workload-resources/daemon-set-v1/)interface, I want to operate through RestfulAPI，I didn't find it

[2022-11-24 02:31] divya-mohan0209 commented on #36155
/remove-lifecycle stale

[2022-11-24 03:08] utkarsh-singh1 commented on #38033
/language en
/sig docs

[2022-11-24 03:11] utkarsh-singh1 commented on #38036
/language zh
/kind support

[2022-11-24 03:40] T-Lakshmi commented on #38036
/sig docs

[2022-11-24 03:46] T-Lakshmi commented on #38036
I think we can Retitle this to "Query on Perform a Rollback on a DaemonSet".

[2022-11-24 06:08] tengqm commented on #38036
The rollout sequence of a Deployment is stored in the annotation `deployment.kubernetes.io/revision`. Another related annotation is `deployment.kubernetes.io/revision-history`. `kubectl` performs the `rollout` operations based on the data stored there.

/close
/kind support

[2022-11-24 06:08] #38036 closed

[2022-11-24 06:15] utkarsh-singh1 commented on #37136
Hi @EllaRaveala, this can be a proxy error, you can try these commands -
[code]
And try your kubectl call again.

Also, you can ask these support question on [serverfault](https://serverfault.com/?tags=kubernetes) .

[2022-11-24 06:18] tengqm commented on #38033
This would be difficult to implement if possible at all. There are cases where structs share the same field names. Adding anchors to the API reference page is an option. You can file an issue at kubernetes-sigs/reference-docs repo.

[2022-11-24 07:08] SpringHgui commented on #38036
my deployment has 4 history
[code]

[code]

no annotation  `deployment.kubernetes.io/revision-history` ?

[2022-11-24 07:21] anandarajr opened #38039 "Unable to connect the Azure Sql Server DB from the K8s pod"
Hi Team,

I have set up kubenetes cluster using the tool "KubeAdm" by creating following virtual machines in AWS.
	Master Node VM: Ubuntu
	Worker Node VM: Windows Server 2019

	When I run the docker image (using the yaml file provided below), it is not able to connect with Azure SQL Server DB from the kubernetes pod. Getting below error.

        **Yaml file:**

	apiVersion: apps/v1
	kind: Deploym

[2022-11-24 09:41] sftim commented on #36194
Although I was able to spot that the annotation was not documented, I do not know how Kubernetes uses this annotation.
If someone wants to work on this issue, it'll be a good idea to either:
- have a chat with SIG Storage folks about how Kubernetes uses this annotation
- read the Kubernetes source code to find out.

It's also OK to use a mix of those approaches.

[2022-11-24 09:43] sftim commented on #38039
/kind support

GitHub is not the right place for support requests @anandarajr

If you are looking for help about using Kubernetes, check [Server Fault](https://serverfault.com/questions/tagged/kubernetes) and ask your question there if a similar question has not yet been answered.

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://d

[2022-11-24 09:50] #37948 closed

[2022-11-24 10:16] Ritikaa96 commented on #37994
@lukaszkuczynski if you want to check your current rate limit and more regarding the same follow this [link](https://docs.docker.com/docker-hub/download-rate-limit/#how-can-i-check-my-current-rate)

[2022-11-24 10:46] rinocata commented on #37926
So after some debugging with the Docker rate limit REST API it looks like images are indeed cached, even with `Always`.
_(In which case I'm baffled as to what caused me to go over the quota as I did **not** download 100 different images)_
In the end, it seems to be a terminology issue, since "forcing a pull" doesn't actually force anything but just calls `crictl pull` (in the same sense, kubelet s

[2022-11-24 10:50] Kartik494 commented on #30912
/remove-lifecycle stale

[2022-11-24 11:05] tamilselvan1102 commented on #37998
@sftim
Sorry, This was an oversight.
I thought to make only bullet points in the [What's next](https://kubernetes.io/docs/setup/#what-s-next) section.

[2022-11-24 11:14] tamilselvan1102 opened #38044 "Add glossary tooltip for kubectl"
**What would you like to be added**
Under [Kubernetes API](https://kubernetes.io/docs/reference/kubernetes-api/) page,  Add glossary tooltip  for `kubectl`

**Why is this needed**
Adding the glossary tooltip will helps get an idea about `kubectl` by simply on hover the mouse.
**Comments**
/sig docs
/language en
/assign