[2020-05-30 01:46] oke-py opened #21305 "ja: Make glossary/selector.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update glossary/selector.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/reference/glossary/selector.md it outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/content/ja/docs/reference/glossary/selector.md

Origina

[2020-05-30 01:48] oke-py opened #21306 "ja: Make glossary/sig.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update glossary/sig.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/reference/glossary/sig.md it outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/content/ja/docs/reference/glossary/sig.md

Original
https://githu

[2020-05-30 01:51] oke-py opened #21307 "ja: Make glossary/volume.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update glossary/volume.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/reference/glossary/volume.md it outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/content/ja/docs/reference/glossary/volume.md

Original
http

[2020-05-30 01:55] oke-py opened #21308 "ja: Make glossary/cluster.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update glossary/cluster.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/reference/glossary/cluster.md it outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/content/ja/docs/reference/glossary/cluster.md

Original
h

[2020-05-30 04:13] kenseitogari commented on #21304
/language ja

[2020-05-30 04:13] kenseitogari commented on #21304
/assign

[2020-05-30 04:17] kenseitogari commented on #21304
/assign

[2020-05-30 04:24] gochist opened #21311 "Outdated files in the dev-1.18-ko.5 branch"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.18-ko.5 branch.

### 24 files to be modified
1. [ ] content/en/docs/concepts/architecture/cloud-controller.md 1 file changed, 1 insertion(+), 1 deletion(-)
1. [ ] content/en/docs/concepts/architecture/nodes.md 1 file changed, 1 insertion(+), 1 deletion(-)
1. [ ] content/en/docs/concepts/cluster-administration/cloud-providers.md

[2020-05-30 04:36] Arhell commented on #21294
done
/close

[2020-05-30 04:36] #21294 closed

[2020-05-30 05:58] Bo0km4n commented on #21302
/assign Bo0km4n

[2020-05-30 06:04] y-taka-23 commented on #21301
Hi, folks! Can I pick the issue?

[2020-05-30 06:06] oke-py commented on #21301
@y-taka-23 Of course! Thanks!
Please comment `/assign` to assign this issue to you.

[2020-05-30 06:07] y-taka-23 commented on #21301
/assign

[2020-05-30 06:17] oke-py opened #21315 "ja: Make /ja/docs/setup/best-practices/multiple-zones/ follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update /ja/docs/setup/best-practices/multiple-zones/ to follow v1.17 of the original (Englist) text.

**Why is this needed**
/ja/docs/setup/best-practices/multiple-zones/ is outdated.

**Comments**
/language ja
/assign
diff
https://gist.github.com/oke-py/ac78e202c27babf11101533df45b0a7e

[2020-05-30 06:18] nishipy commented on #21305
/assign

[2020-05-30 07:00] ysyukr commented on #21311
/assign

[2020-05-30 07:34] oke-py commented on #21304
/close

[2020-05-30 07:34] #21304 closed

[2020-05-30 07:46] npu21 opened #21321 "Wrong quoting in “DNS for Services and Pods""
https://github.com/kubernetes/website/issues/21161

[2020-05-30 07:47] npu21 commented on #21321
/language zh
/assign

[2020-05-30 08:00] oke-py opened #21323 "ja: Make /ja/docs/setup/best-practices/node-conformance/ follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update /ja/docs/setup/best-practices/node-conformance/ to follow v1.17 of the original (Englist) text.

**Why is this needed**
/ja/docs/setup/best-practices/node-conformance/ is outdated.

**Comments**
/language ja
/assign
diff
https://gist.github.com/oke-py/6472946ea5023faa5930f70743e37db7

[2020-05-30 09:02] npu21 opened #21326 "“Download Kubernetes” section has no download link"
https://github.com/kubernetes/website/issues/21063
/language zh

[2020-05-30 09:40] oke-py commented on #21302
/close

[2020-05-30 09:40] #21302 closed

[2020-05-30 09:53] npu21 opened #21333 "“Download Kubernetes” section has no download link"
https://github.com/kubernetes/website/issues/21063
/language zh

[2020-05-30 10:20] oke-py commented on #21315
/close

[2020-05-30 10:20] #21315 closed

[2020-05-30 10:20] oke-py commented on #21287
/close

[2020-05-30 10:20] #21287 closed

[2020-05-30 10:20] oke-py commented on #21323
/close

[2020-05-30 10:21] #21323 closed

[2020-05-30 10:36] tomoyamachi commented on #21306
/assign

[2020-05-30 11:03] chez-shanpu commented on #21298
/assign

[2020-05-30 11:18] pjhwa opened #21336 "Translate tasks/manage-hugepages/scheduling-hugepages.md into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/manage-hugepages/scheduling-hugepages.md into Korean.

**Why is this needed**

There is no document of tasks/manage-hugepages/scheduling-hugepages/ which is translated into Korean.

**Comments**

Page to translated: https://kubernetes.io/docs/tasks/manage-hugepages/scheduling-hugepages/

[2020-05-30 11:18] pjhwa commented on #21336
/language ko
/assign

[2020-05-30 13:32] ytakaya commented on #21307
/assign

[2020-05-30 13:36] chaspy commented on #21308
/assign

[2020-05-30 13:45] onsd commented on #21300
/assign

[2020-05-30 14:09] tengqm commented on #18903
/remove-lifecycle rotten
/lifecycle frozen

[2020-05-30 14:18] Dunoyer opened #21343 "Issue with k8s.io/fr/docs/tutorials/hello-minikube/"
**This is a Bug Report**

**Problem:**
kubectl create deployment hello-node --image=gcr.io/hello-minikube-zero-install/hello-node

don't work !

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-05-30 14:18] translucens commented on #21297
/assign

[2020-05-30 14:23] jlandowner commented on #21299
Hi, can I pick this issue?

[2020-05-30 14:45] fancc opened #21345 "Translate control plane-node communication into Chinese"
**This is a Feature Request**

**What would you like to be added**
Translate control plane-node communication into Chinese

**Why is this needed**
The following files are not translated into Chinese.
/concepts/architecture/control-plane-node-communication/

/language zh

[2020-05-30 14:45] fancc commented on #21345
/assign

[2020-05-30 14:54] akanso opened #21347 "Issue with k8s.io/docs/reference/setup-tools/kubeadm/kubeadm-upgrade/"
**This is a Bug Report**

**Problem:**

showing an html header on the page:

<h3 id="synopsis">Synopsis</h3>

[2020-05-30 14:59] neolit123 commented on #21347
i think there was a fix for this in flight.

/sig docs cluster-lifecycle
/kind bug

[2020-05-30 15:07] oke-py commented on #21299
Of cource. Thanks.
Please comment `/assign` to assign this issue to you.

[2020-05-30 15:10] oke-py commented on #21301
/close

[2020-05-30 15:10] #21301 closed

[2020-05-30 15:11] #17514 closed

[2020-05-30 15:40] jlandowner commented on #21299
/assign

[2020-05-30 17:01] jlandowner commented on #21008
Hi, can I try this issue?

[2020-05-30 17:18] sftim commented on #19405
/remove-lifecycle stale

[2020-05-30 17:18] sftim commented on #19401
/remove-lifecycle stale

[2020-05-30 17:29] sftim commented on #19025
/remove-lifecycle stale

[2020-05-30 17:29] sftim commented on #19025
/language en
/priority backlog

[2020-05-30 17:30] sftim commented on #19075
/triage needs-information

[2020-05-30 17:37] WoodProgrammer opened #21357 "Wrong Feature Gate Name"
Hello,
In secrets page of kubernetes, there is a wrong Feature Gate name written on the documentation.
I think it should be `ImmutableEphemeralVolumes` instead of `ImmutableEmphemeralVolumes`.

Because there is no feature gate with this name as mentioned on documentation.

Link of the documentation : https://kubernetes.io/docs/concepts/configuration/secret/

[2020-05-30 19:13] jlandowner commented on #21008
/assign

[2020-05-30 19:38] oke-py commented on #21300
/close

[2020-05-30 19:38] #21300 closed

[2020-05-30 19:39] oke-py commented on #21306
/close

[2020-05-30 19:39] #21306 closed

[2020-05-30 19:40] oke-py commented on #21305
/close

[2020-05-30 19:40] #21305 closed

[2020-05-30 21:06] mokua opened #21360 "clarify the location of default.conf"
**This is a Feature Request**

**What would you like to be added**

In this command: kubectl create configmap nginxconfigmap --from-file=default.conf it is not very clear when following the manual steps that the file default.conf refers to nginx config file to be obtained from the repository https://github.com/kubernetes/examples/blob/master/staging/https-nginx/default.conf.

**Why is this needed*

[2020-05-30 23:31] oke-py commented on #21299
/close

[2020-05-30 23:31] #21299 closed

[2020-05-30 23:41] oke-py opened #21362 "ja: Make tutorials/configuration/configure-redis-using-configmap.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update tutorials/configuration/configure-redis-using-configmap.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/tutorials/configuration/configure-redis-using-configmap.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev

[2020-05-30 23:51] oke-py opened #21363 "ja: Make tutorials/kubernetes-basics/create-cluster/cluster-intro.html follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update tutorials/kubernetes-basics/create-cluster/cluster-intro.html to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro.html is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/bl

[2020-05-30 23:56] oke-py opened #21364 "ja: Make tutorials/kubernetes-basics/update/update-intro.html follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update tutorials/kubernetes-basics/update/update-intro.html to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/tutorials/kubernetes-basics/update/update-intro.html is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/c

[2020-05-31 00:00] oke-py opened #21365 "ja: Make tutorials/kubernetes-basics/expose/expose-intro.html follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update tutorials/kubernetes-basics/expose/expose-intro.html to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/tutorials/kubernetes-basics/expose/expose-intro.html is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/c

[2020-05-31 00:09] oke-py opened #21366 "ja: Make tutorials/hello-minikube.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update tutorials/hello-minikube.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/tutorials/hello-minikube.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/content/ja/docs/tutorials/hello-minikube.md

https:

[2020-05-31 00:12] oke-py opened #21367 "ja: Make tutorials/stateless-application/expose-external-ip-address.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update tutorials/stateless-application/expose-external-ip-address.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/tutorials/stateless-application/expose-external-ip-address.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/bl

[2020-05-31 00:16] oke-py opened #21368 "ja: Make tutorials/_index.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update tutorials/_index.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/tutorials/_index.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/content/ja/docs/tutorials/_index.md

https://kubernetes.io/ja/docs/

[2020-05-31 01:02] isheik commented on #21368
/assign

[2020-05-31 01:03] oke-py opened #21369 "ja: Make tutorials/kubernetes-basics/deploy-app/deploy-intro.html follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update tutorials/kubernetes-basics/deploy-app/deploy-intro.html to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.1

[2020-05-31 02:09] oke-py commented on #21298
/close

[2020-05-31 02:09] #21298 closed

[2020-05-31 02:16] #18365 closed

[2020-05-31 04:41] grimoh commented on #21369
/assign

[2020-05-31 05:32] oke-py commented on #21307
/close

[2020-05-31 05:32] #21307 closed

[2020-05-31 06:18] oke-py commented on #21308
/close

[2020-05-31 06:18] #21308 closed

[2020-05-31 07:58] chaspy commented on #21363
/assign

[2020-05-31 08:21] #18402 closed

[2020-05-31 09:39] ryok-0319 commented on #21367
/assign

[2020-05-31 09:51] fabriziopandini commented on #20960
/assign
/lifecycle active

[2020-05-31 12:20] pjhwa opened #21374 "Translate tasks/manage-daemon/update-daemon-set.md into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/manage-daemon/update-daemon-set.md into Korean.

**Why is this needed**

There is no document of tasks/manage-daemon/update-daemon-set.md which is translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/tasks/manage-daemon/update-daemon-set/

/language ko

[2020-05-31 12:20] pjhwa commented on #21374
/assign

[2020-05-31 14:00] pjhwa opened #21377 "Translate tasks/manage-daemon/rollback-daemon-set.md into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/manage-daemon/rollback-daemon-set.md into Korean.

**Why is this needed**

There is no document of tasks/manage-daemon/rollback-daemon-set.md which is translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/tasks/manage-daemon/rollback-daemon-set/

/language ko

[2020-05-31 14:00] pjhwa commented on #21377
/assign

[2020-05-31 14:25] #21086 closed

[2020-05-31 14:25] #20994 closed

[2020-05-31 14:25] #20996 closed

[2020-05-31 14:26] #20997 closed

[2020-05-31 14:26] #21082 closed

[2020-05-31 14:26] #21083 closed

[2020-05-31 14:26] #21084 closed

[2020-05-31 14:26] #21085 closed

[2020-05-31 14:27] pjhwa commented on #20534
/close

[2020-05-31 14:27] #15979 closed

[2020-05-31 14:28] #20534 closed

[2020-05-31 14:28] pjhwa commented on #19966
/close

[2020-05-31 14:28] #19966 closed

[2020-05-31 15:57] KilimAnnejaro commented on #21246
/assign

[2020-05-31 16:27] zhanw15 opened #21380 "blog "基于 MIPS 架构的 Kubernetes 方案" format error"
**This is a Bug Report**

**Problem:**
Blog "基于 MIPS 架构的 Kubernetes 方案" format error.
**Proposed Solution:**
Update blog format.
**Page to Update:**
https://kubernetes.io/zh/blog/

[2020-05-31 16:35] zhanw15 commented on #21380
/language zh

[2020-05-31 17:31] #18406 closed

[2020-05-31 18:13] mokua opened #21383 "Issue with k8s.io/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases/"
**This is a Bug Report**

**Problem:**
When the status of the pod is Completed, the command below does not work:

kubectl exec hostaliases-pod -- cat /etc/hosts

With the error :
error: cannot exec into a container in a completed pod; current phase is Succeeded

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

v1.18.3

[2020-05-31 18:31] #18423 closed

[2020-05-31 18:44] ialidzhikov commented on #14956
/remove-lifecycle rotten

[2020-05-31 22:29] KilimAnnejaro commented on #21180
The same problem occurs on this page: https://kubernetes.io/docs/concepts/overview/kubernetes-api/#api-versioning

[2020-06-01 01:35] #21380 closed

[2020-06-01 03:37] ryokotmng commented on #21366
/assign @ryokotmng

[2020-06-01 03:37] ryokotmng commented on #21366
Apologies for late action

[2020-06-01 05:04] tringuyen-yw opened #21388 "Issue with k8s.io/docs/tasks/debug-application-cluster/debug-service/"
**This is a Bug Report**

**Problem:**
**ISSUE 1**: There are two YAML outputs which are displayed as a continuous single line

[code]
and also
[code]
**ISSUE 2**: The `alpine` image suggested in the page `kubectl run -it --rm --restart=Never alpine --image=alpine sh` seems to have some troubles with `nslookup`.  It succeeds to resolve `nslookup hostnames` and the fully qualified name `nslookup ho

[2020-06-01 06:26] oke-py opened #21391 "ja: Make /docs/tasks/access-application-cluster/configure-access-multiple-clusters/ follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update tasks/access-application-cluster/configure-access-multiple-clusters.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/tasks/access-application-cluster/configure-access-multiple-clusters.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kub

[2020-06-01 06:27] atlanmatrix opened #21392 "The table on the Chinese page shows the source code"
**This is a Bug Report**

**Problem:**
The table on the Chinese page shows the source code

**Proposed Solution:**
I think that may be ~~an escaping issue~~ caused by illegal blank lines

**Page to Update:**
https://kubernetes.io/zh/docs/reference/setup-tools/kubeadm/kubeadm-init/#%E9%80%89%E9%A1%B9

[2020-06-01 06:32] oke-py opened #21393 "ja: Make /docs/tasks/access-application-cluster/connecting-frontend-backend/ follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update tasks/access-application-cluster/connecting-frontend-backend.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/tasks/access-application-cluster/connecting-frontend-backend.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/websit

[2020-06-01 06:36] oke-py opened #21394 "ja: Make /docs/tasks/access-application-cluster/service-access-application-cluster/ follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update tasks/access-application-cluster/service-access-application-cluster.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/tasks/access-application-cluster/service-access-application-cluster.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kub

[2020-06-01 06:46] oke-py opened #21395 "ja: Make /docs/tasks/administer-cluster/developing-cloud-controller-manager/ follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update tasks/administer-cluster/developing-cloud-controller-manager.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/tasks/administer-cluster/developing-cloud-controller-manager.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/websit

[2020-06-01 06:58] oke-py opened #21396 "ja: Make /docs/tasks/configure-pod-container/quality-service-pod/ follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update tasks/configure-pod-container/quality-service-pod.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/tasks/configure-pod-container/quality-service-pod.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/c

[2020-06-01 07:30] oke-py opened #21397 "ja: Make /docs/tasks/debug-application-cluster/debug-pod-replication-controller/ follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update tasks/debug-application-cluster/debug-pod-replication-controller.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/tasks/debug-application-cluster/debug-pod-replication-controller.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernete

[2020-06-01 07:34] oke-py opened #21399 "ja: Make /docs/tasks/debug-application-cluster/debug-service/ follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update tasks/debug-application-cluster/debug-service.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/tasks/debug-application-cluster/debug-service.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/content/j

[2020-06-01 07:43] oke-py opened #21400 "ja: Make /docs/tasks/run-application/force-delete-stateful-set-pod/ follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update tasks/run-application/force-delete-stateful-set-pod.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/tasks/run-application/force-delete-stateful-set-pod.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja

[2020-06-01 07:45] #18409 closed

[2020-06-01 07:55] oke-py opened #21401 "ja: Make /docs/tasks/tools/install-kubectl/ follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update tasks/tools/install-kubectl.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/tasks/tools/install-kubectl.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/content/ja/docs/tasks/tools/install-kubectl.m

[2020-06-01 08:05] oke-py opened #21402 "ja: Make /docs/tasks/tools/install-minikube/ follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update tasks/tools/install-minikube.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/tasks/tools/install-minikube.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/content/ja/docs/tasks/tools/install-minikub

[2020-06-01 08:13] oke-py commented on #21400
/assign

[2020-06-01 10:01] tengqm commented on #21392
This has nothing to do with blank lines. They are due to some issues with the markdown engine we use now.
The said problem is being fixed with #21234.
/close

[2020-06-01 10:01] #21392 closed

[2020-06-01 10:27] Kartik494 commented on #21383
@mokua i am not certain about this but we can't exec into a pod which is completed.There is a [issue](https://github.com/kubernetes/kubernetes/issues/56841) regarding this feature to be implemented .But cant find any updates there.

[2020-06-01 10:34] ryokotmng commented on #21401
/assign @ryokotmng

[2020-06-01 10:34] ryokotmng commented on #21401
:yaruzo:

[2020-06-01 11:27] medined opened #21404 "Improvement for k8s.io/docs/reference/command-line-tools-reference/kube-apiserver/"
What is the range for the "number for the log level verbosity"?

[2020-06-01 13:42] oke-py commented on #21368
/close

[2020-06-01 13:43] #21368 closed

[2020-06-01 13:43] oke-py commented on #21366
/close

[2020-06-01 13:43] #21366 closed

[2020-06-01 13:56] nishipy commented on #21391
/assign

[2020-06-01 14:13] tengqm commented on #21326
/close

[2020-06-01 14:13] #21326 closed

[2020-06-01 14:14] tengqm commented on #21321
/close

[2020-06-01 14:14] #21321 closed

[2020-06-01 14:15] tengqm commented on #21257
/close

[2020-06-01 14:15] #21257 closed

[2020-06-01 14:15] tengqm commented on #21227
/close

[2020-06-01 14:16] #21227 closed

[2020-06-01 14:18] tengqm commented on #21213
Done.
/close

[2020-06-01 14:18] #21213 closed

[2020-06-01 14:55] tengqm commented on #21333
Looks like an invalid issue because #23334 is fixing a different lang. The issue about lang/zh has been fixed.
/close

[2020-06-01 14:55] #21333 closed

[2020-06-01 14:56] tengqm commented on #21138
Fixed.
/close

[2020-06-01 14:56] #21138 closed

[2020-06-01 14:56] tengqm commented on #21100
/close
Done.

[2020-06-01 14:57] #21100 closed

[2020-06-01 14:57] tengqm commented on #21056
Done.
/close

[2020-06-01 14:57] #21056 closed

[2020-06-01 14:59] tengqm commented on #18623
/close
done.

[2020-06-01 14:59] #18623 closed

[2020-06-01 15:02] tengqm commented on #15861
pretty old issue. irrelevant now.
/close

[2020-06-01 15:02] #15861 closed

[2020-06-01 18:25] prasadkatti commented on #21357
/good-first-issue

[2020-06-01 18:38] prasadkatti commented on #21360
Hi @mokua. Thanks for reporting the issue. Can you please add a link to the page the needs to be updated?

[2020-06-01 18:46] kheengz commented on #18079
**before**
`http://localhost:8001/api/v1/namespaces/default/pods/$POD_NAME/proxy/`

**after**
`http://localhost:8001/api/v1/namespaces/default/pods/$POD_NAME:8080/proxy/`

[2020-06-01 19:00] Arhell opened #21407 "Subscribe button translation"
**This is a Feature Request**

**What would you like to be added**
https://kubernetes.io/ja/#kubeweekly
No translate
![2](https://user-images.githubusercontent.com/26163841/83443933-411ecd80-a453-11ea-8d22-799b6d2e6bfa.jpg)

/assign
/language ja

[2020-06-01 20:34] bravinash82 opened #21408 "Issue with k8s.io/docs/concepts/services-networking/dual-stack/"
**This is a Bug Report**

The FeatureGate "IPv6DualStack" does not exist in the feature gate reference page. There is no way to clearly track the support for dual stack as Alpha/Beta/GA..

**Proposed Solution:**
Please add the feature gate referenced in "https://kubernetes.io/docs/concepts/services-networking/dual-stack/" in the feature gate reference page
**Page to Update:**
https://kubernetes.io

[2020-06-01 21:05] ParthSareen opened #21409 "Getting Started Kubernetes Page Links for Prod and Learning Environments Do Not Work"
**This is a Bug Report**

**Problem:**
Getting Started Kubernetes Page Links for Prod and Learning Environments Do Not Work
**Proposed Solution:**
The link when clicked on is: https://kubernetes.io/docs/setup/#learning-environment
Same with https://kubernetes.io/docs/setup/#production-environment
![Screen Shot 2020-06-01 at 5 06 01 PM](https://user-images.githubusercontent.com/29360864/83454428-2d

[2020-06-01 23:34] prasadkatti commented on #21409
I think this is working as expected. The `#` symbol can be used to link to a section within the page, so that the browser jumps down to that section after the page loads.

[2020-06-01 23:45] oke-py opened #21410 "ja: Make docs/reference/_index.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/reference/_index.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/reference/_index.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/content/ja/docs/reference/_index.md

Original
https://github.c

[2020-06-02 00:02] prasadkatti commented on #21408
/assign
/kind bug

[2020-06-02 00:16] oke-py opened #21411 "ja: Make docs/reference/kubectl/cheatsheet.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/reference/kubectl/cheatsheet.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/reference/kubectl/cheatsheet.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/content/ja/docs/reference/kubectl/chea

[2020-06-02 00:36] oke-py opened #21412 "ja: Make docs/concepts/workloads/pods/podpreset.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/workloads/pods/podpreset.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/concepts/workloads/pods/podpreset.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/content/ja/docs/concepts/wor

[2020-06-02 00:49] cometrojan opened #21413 "Translate job/automated-tasks-with-cron-jobs.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/job/automated-tasks-with-cron-jobs.md in Korean

**Why is this needed**
There is no document with tasks/job/automated-tasks-with-cron-jobs.md in Korean.

**Comments**

https://kubernetes.io/docs/tasks/job/automated-tasks-with-cron-jobs/

[2020-06-02 00:49] cometrojan commented on #21413
/language ko
/assign

[2020-06-02 01:54] oke-py opened #21415 "ja: Make docs/concepts/workloads/pods/pod.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/workloads/pods/pod.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/concepts/workloads/pods/pod.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/content/ja/docs/concepts/workloads/pods/

[2020-06-02 02:06] dmoonskim opened #21416 "Translate tasks/configure-pod-container/configure-pod-initialization.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/configure-pod-container/configure-pod-initialization.md in Korean

**Why is this needed**
No translation tasks/configure-pod-container/configure-pod-initialization.md

**Comments**

https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-initialization/

[2020-06-02 02:07] dmoonskim commented on #21416
/language ko
/assign

[2020-06-02 05:07] Srikanthshetty opened #21417 "MYSQL Liveness probe failing while using replicated statefulset application with password"
**This is a Bug Report**

Followed the example in here https://kubernetes.io/docs/tasks/run-application/run-replicated-stateful-application/ to create a 3 replica mysql statefulset in kubernetes and everything works fine.

However to set the root password i created k8s secret and modified the statefulset according to the changes by following : https://stackoverflow.com/questions/51905060/kubernete

[2020-06-02 05:28] sftim commented on #21408
/sig network

[2020-06-02 05:30] #21408 closed

[2020-06-02 05:53] akitok commented on #21362
/assign

[2020-06-02 05:53] oke-py commented on #21400
/close

[2020-06-02 05:54] #21400 closed

[2020-06-02 06:01] tengqm commented on #21165
/close

[2020-06-02 06:02] #21165 closed

[2020-06-02 07:18] oke-py opened #21419 "ja: Make docs/concepts/workloads/pods/pod-overview.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/workloads/pods/pod-overview.md to follow v1.17 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/workloads/pods/pod-overview.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/content/ja/docs/concep

[2020-06-02 08:01] Climber22 commented on #21419
/assign

[2020-06-02 08:01] Climber22 commented on #21419
I'll try :)

[2020-06-02 08:35] mokua commented on #21360
hi @prasadkatti. Here is the link https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/
Then search for default.conf

[2020-06-02 09:06] yfstein opened #21422 "Document container runtime setup for RHEL 8 / CentOS 8"
**This is a Bug Report**

**Problem:**
Cant install containerd.io-1.2.13, docker-ce-19.03.8 and docker-ce-cli-19.03.8 on CentOS 8

**Proposed Solution:**
Compatibility check for the CentOS Docker setup commands for CentOS-8

**Page to Update:**
https://kubernetes.io/docs/setup/production-environment/container-runtimes/

Kubernetes Version:
-not installed yet

Additional Information:
A workaround/i

[2020-06-02 09:12] sftim commented on #21357
I don't see a match for “Immutable EmphemeralVolumes” on the page https://kubernetes.io/docs/concepts/configuration/secret/

[2020-06-02 09:12] sftim commented on #21357
Because of the confusion, I'm going to
/remove-good-first-issue
/triage needs-information
/remove-help

[2020-06-02 10:29] mochizuki-pg commented on #21412
/assign

[2020-06-02 11:27] tengqm commented on #21066
Fixed by #21390
/close

[2020-06-02 11:27] #21066 closed

[2020-06-02 11:30] sftim commented on #21409
Some sites use a CSS animation to highlight the visited fragment. We could do that?
For example, set the heading text to Kubernetes blue and then fade it to black.

What do people think? (if selecting that, I'd start a new issue to track that work).

[2020-06-02 11:58] oke-py commented on #21419
/close

[2020-06-02 11:58] #21419 closed

[2020-06-02 12:14] Climber22 commented on #21410
/assign

[2020-06-02 12:46] oke-py commented on #21008
/close

[2020-06-02 12:46] #21008 closed

[2020-06-02 12:55] esakat commented on #21393
/assign

[2020-06-02 13:13] davidxia opened #21429 "Add redirects for old documentation URLs that are now 404s"
**This is a Feature Request**

**What would you like to be added**
URLs like https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.15 used to work. Now they're 404s. It would be great to have redirects for these to the new URLs at https://v1-15.docs.kubernetes.io/docs/reference/generated/kubernetes-api/v1.15/ if it's not too much work.

**Why is this needed**
Backwards compatibility and

[2020-06-02 13:18] inductor commented on #21410
/close

[2020-06-02 13:19] #21410 closed

[2020-06-02 13:26] oke-py commented on #21393
/close

[2020-06-02 13:26] #21393 closed

[2020-06-02 13:45] oke-py commented on #19245
/close

[2020-06-02 13:45] #19245 closed

[2020-06-02 13:45] tengqm commented on #17951
/remove-lifecycle stale

[2020-06-02 14:02] oke-py commented on #21412
/close

[2020-06-02 14:02] #21412 closed

[2020-06-02 14:29] arisgi commented on #21365
/assign

[2020-06-02 14:32] girikuncoro commented on #20111
Folks, because we only have 4 weeks left to close this milestone, can you let us know if you are still working on your claimed pages? Please raise the pull request by Sunday, 7 June 2020. If we don't hear from you by then, we will clear the pages to let other contributors work on them.

Here's the list of claimed pages

/docs/concepts/workloads/pods/pod-topology-spread-constraints/ (@wahyuoi)
/doc

[2020-06-02 14:53] imrenagi commented on #20111
yep. im still working on it @girikuncoro  :p

[2020-06-02 14:56] arisgi commented on #21365
/check-cla

[2020-06-02 16:30] sftim commented on #16065
Looks fixed
/close

[2020-06-02 16:30] #16065 closed

[2020-06-02 16:31] sftim commented on #21429
/help
/priority backlog

I'd go back only as far back as the version selector in the documentation website does. Issue #12303 tracks problems with links to even older websites. It'd be nice to serve those as _410 Gone_ responses, but that's not feasible with the current hosting setup.

[2020-06-02 16:34] sftim commented on #21417
@Srikanthshetty if I've understood correctly, you don't think there's anything wrong with the tutorial you followed. You would like help taking things on from there.

If you are looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes)

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.k

[2020-06-02 16:35] sftim commented on #21409
/priority awaiting-more-evidence

[2020-06-02 16:47] WoodProgrammer commented on #21357
@sftim, you should search by `ImmutableEmphemeralVolumes ` I think, remove the space between words.

thanks

[2020-06-02 16:58] klyubin opened #21435 "Secrets documentation incorrectly states that kubelet/node compromise gives access to all secrets in the cluster"
**This is a Bug Report**

**Problem:**
`Concepts -> Configuration -> Secrets -> Risks` section (https://kubernetes.io/docs/concepts/configuration/secret/) contains an outdated claim (added in 2016 in commit a0fb30a6fbff36d8eb86e2edf5d8272fec00a74c) that compromise of a node/kubelet gives an attacker access to all secrets in the cluster. Specifically:

My understanding is that modern clusters by de

[2020-06-02 17:07] sftim commented on #21357
If you look at https://github.com/kubernetes/website/blame/master/content/en/docs/concepts/configuration/secret.md @WoodProgrammer, can you identify the line that is wrong?

[2020-06-02 17:15] sftim commented on #21435
/language en

[2020-06-02 17:16] sftim commented on #21435
Thanks for reporting this @klyubin

[2020-06-02 17:19] sftim commented on #21422
Hi @yfstein

I'm not sure that I can see a bug in that page, exactly. Are you asking for someone to add documentation for how to set up a container runtime on RHEL 8 / CentOS 8?

This is tangentially
/sig cluster-lifecycle

but really the volunteer effort here is likely to come from the IBM / RHEL / CentOS world more than from the Kubernetes project itself.

If anyone would like to document those

[2020-06-02 17:20] sftim commented on #21388
/kind bug

[2020-06-02 17:20] sftim commented on #21388
I think the markup rendering bug was related to issue #20335

[2020-06-02 17:22] sftim opened #21436 "Improve tools for cluster debugging task"
**This is a Bug Report**

Split from issue #21388

**Problem:**

The `alpine` image suggested in the page `kubectl run -it --rm --restart=Never alpine --image=alpine sh` seems to have some troubles with `nslookup`.  It succeeds to resolve `nslookup hostnames` and the fully qualified name `nslookup hostnames.default.svc.cluster.local`. Although with some unnecessary warning "server can't find xxx:

[2020-06-02 17:23] sftim commented on #21436
@tringuyen-yw I've split the remaining bit of #21388 into this new issue.

[2020-06-02 17:23] sftim commented on #21388
This issue was really 2 issues. I've split the remaining piece into #21436.
/close

[2020-06-02 17:24] #21388 closed

[2020-06-02 17:48] tringuyen-yw commented on #21436
Thanks, I thought the 2 issues I mentioned in #21388 could be fixed together by just editing the page source in one go. BTW, what is the procedure to join the contributors so that I can participate to make Pull requests?

[2020-06-02 17:55] sftim commented on #21436
I hope that https://kubernetes.io/docs/contribute/start/ covers what you need to know about contributing! Welcome!

[2020-06-02 17:59] prasadkatti commented on #21357
@sftim - I think he is talking about https://github.com/kubernetes/website/blame/master/content/en/docs/concepts/configuration/secret.md#L728

[2020-06-02 18:00] prasadkatti commented on #21357
So this is really just about fixing a single typo. So it should be a good first issue, IMO.

[2020-06-02 18:08] yfstein commented on #21422
Hey @sftim,

i just have read and thought that its would be the same as for CentOS 8, cauz it was a "RHEL/CentOS 7.4 +" step-list.

But sure, it would be nice if someone could add the steps for CentOS 8 so you can see it as feature request. But for the first, we would use CRI-O.

[2020-06-02 18:21] klyubin commented on #21435
The outdated statement appears to be there in `fr` as well. I suspect it might be there in more languages.

[2020-06-02 18:38] chenrui333 commented on #15861
Thanks @tengqm!

[2020-06-02 21:04] sftim commented on #21357
I'm going to edit the issue description to take out some whitespace that was confusing me. @WoodProgrammer hope that's OK.

[2020-06-02 21:05] sftim commented on #21357
/good-first-issue

[2020-06-02 21:05] sftim commented on #21357
/remove-triage needs-information
/kind bug
/priority backlog
/language en

[2020-06-02 21:07] sftim commented on #21422
Ah that makes sense. It's a bug because “RHEL/CentOS 7.4 +” isn't clear about what versions range tape applies to, and it's also a feature request because it would be great to document this for RHEL / CentOS 8.x

[2020-06-02 21:08] sftim commented on #21435
That's OK - the localization teams have their own processes for picking up changes that are fixed in the upstream English localization.

[2020-06-02 21:19] WoodProgrammer commented on #21357
Yes it is, I made a simple typo on my issue description.

[2020-06-02 22:29] ParthSareen commented on #21409
That's what I thought at first, however, it doesn't jump down as these items are not on the same page

[2020-06-02 22:49] sftim commented on #21409
@ParthSareen does [on `:target`](https://css-tricks.com/on-target/) explain what is happening here? It also provides context for the tweak I suggested.

https://css-tricks.com/on-target/#article-header-id-2 is specifically about the jumping or lack of it.

[2020-06-03 01:46] johnlinp opened #21443 "No descriptions about the namespace "kube-node-lease""
**This is a Bug Report**

**Problem:**

In the page https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/, when listing the namespaces, it shows:

There are 4 namespaces, but the description goes:

where `kube-node-lease` is missing.

**Proposed Solution:**

Add some descriptions about the namespace `kube-node-lease`.

**Page to Update:**
https://kubernetes.io/docs/concepts

[2020-06-03 03:43] jlandowner commented on #21415
/assign

[2020-06-03 03:52] pjhwa opened #21445 "Translate tasks/extend-kubectl/kubectl-plugins.md into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/extend-kubectl/kubectl-plugins.md into Korean.

**Why is this needed**

There is no document of tasks/extend-kubectl/kubectl-plugins.md which is translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/tasks/extend-kubectl/kubectl-plugins/

/language ko

[2020-06-03 03:52] pjhwa commented on #21445
/assign

[2020-06-03 06:37] joshuabezaleel commented on #20111
I'll take ` /docs/tasks/configure-pod-container/configure-service-account/`

[2020-06-03 07:24] cpxPratik commented on #19139
/remove-lifecycle stale

[2020-06-03 09:24] pohly commented on #17842
/reopen

[2020-06-03 12:46] oke-py commented on #21401
/close

[2020-06-03 12:46] #21401 closed

[2020-06-03 14:00] oke-py commented on #21365
/close

[2020-06-03 14:00] #21365 closed

[2020-06-03 14:17] chaspy commented on #21411
/assign

[2020-06-03 14:18] #1407 closed

[2020-06-03 15:05] Arhell commented on #21407
done
/close

[2020-06-03 15:05] #21407 closed

[2020-06-03 15:40] ParthSareen commented on #21409
@sftim I think that makes sense.

[2020-06-03 15:59] kbhawkey commented on #21147
Here is how the image displays for me:

![access-auth-image-2](https://user-images.githubusercontent.com/1696019/83659332-61ed3d00-a591-11ea-9315-1db6ae49dd41.PNG)

[2020-06-03 16:09] makotow commented on #21399
/assign

[2020-06-03 16:14] sftim commented on #21147
Is that rendering wrong? What should we see?

[2020-06-03 16:32] kbhawkey commented on #21147
I am not familiar with the history of this image.
I guess this is what the image is supposed to look like?

[2020-06-03 16:37] sftim commented on #21147
I loaded it locally into an SVG editor and it looks almost the same there, very minor rendering differences only.

[2020-06-03 17:15] #21147 closed

[2020-06-03 17:41] sftim commented on #1817
Documented in #21452 - see https://kubernetes.io/docs/concepts/configuration/configmap/#mounted-configmaps-are-updated-automatically
/close

Issue #1911 remains relevant

[2020-06-03 17:41] sftim commented on #1461
Documented in #21452
/close

[2020-06-03 17:42] #1817 closed

[2020-06-03 17:55] sftim commented on #1040
In my opinion: fixed in #21452
/close

[2020-06-03 17:55] #1040 closed

[2020-06-03 17:59] sftim commented on #2463
Apart from https://kubernetes.io/docs/setup/production-environment/tools/kops/ what else is needed?

[2020-06-03 18:03] sftim commented on #21443
/kind bug
/priority backlog

[2020-06-03 18:03] sftim commented on #21443
Want to document this? https://stackoverflow.com/questions/59659966/what-is-the-kube-node-lease-namespace-for has pointers.

[2020-06-03 18:20] sftim commented on #6271
Fixed.
/close

[2020-06-03 18:22] sftim commented on #4511
I'm fairly happy with https://kubernetes.io/docs/concepts/overview/working-with-objects/names/ as it stands. Maybe it would have a better home inside https://kubernetes.io/docs/reference/ ?

[2020-06-03 18:23] sftim commented on #20232
Is https://kubernetes.io/docs/tasks/access-application-cluster/configure-cloud-provider-firewall/ also a candidate for removal?

[2020-06-03 19:57] tjackprime opened #21457 "Issue with k8s.io/docs/tutorials/configuration/configure-redis-using-configmap/"
**This is a Bug Report**

**Problem:**
The command listed to launch the redis-cli in the launched redis container uses a deprecated format.  It says to run this...
kubectl exec -it redis redis-cli

But that results in this warning...
kubectl exec [POD] [COMMAND] is DEPRECATED and will be removed in a future version. Use kubectl kubectl exec [POD] -- [COMMAND] instead.

The command still works but

[2020-06-03 20:24] #20607 closed

[2020-06-03 20:44] rexagod opened #21458 "Appreciation for k8s.io/docs/reference/kubectl/cheatsheet/"
Hello.

I'm a student, currently 21. I was finishing up on a project for the past couple of days, but I was stuck, to say the least. The project involves making and deploying a simple CI platform. The internet has so much buffer content and "well actually" articles that would be enough to frustrate even the best of us. I do not know who came up with the idea of a Kubernetes cheatsheet, I do not kn

[2020-06-03 21:16] zacharysarah commented on #20232
@sftim

Yes. 👍

[2020-06-03 21:49] oke-py commented on #19282
/close

[2020-06-03 21:50] #19282 closed

[2020-06-03 22:03] sftim commented on #21458
/triage praise
:wink:

[2020-06-03 22:13] oke-py opened #21460 "ja: Make docs/concepts/workloads/pods/pod-lifecycle.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/workloads/pods/pod-lifecycle.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/concepts/workloads/pods/pod-lifecycle.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/content/ja/docs/conc

[2020-06-03 22:14] sftim commented on #21458
I went and looked it up: the following contributors got the cheat sheet to where it is today:
[code]

[2020-06-03 22:18] oke-py opened #21461 "ja: Make docs/concepts/workloads/pods/init-containers.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/workloads/pods/init-containers.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/concepts/workloads/pods/init-containers.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/content/ja/docs/

[2020-06-03 22:23] oke-py opened #21462 "ja: Make docs/concepts/workloads/controllers/ttlafterfinished.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/workloads/controllers/ttlafterfinished.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/concepts/workloads/controllers/ttlafterfinished.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/

[2020-06-03 22:26] oke-py opened #21463 "ja: Make docs/concepts/workloads/controllers/statefulset.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/workloads/controllers/statefulset.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/concepts/workloads/controllers/statefulset.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/content/ja

[2020-06-03 22:29] oke-py opened #21464 "ja: Make docs/concepts/workloads/controllers/replicaset.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/workloads/controllers/replicaset.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/concepts/workloads/controllers/replicaset.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/content/ja/d

[2020-06-03 22:33] sftim commented on #21457
/kind cleanup
/language en
/priority backlog

[2020-06-03 23:06] zacharysarah commented on #21458
@rexagod Thank you so much for the feedback! 💛  I'm so glad you found what you needed. Thanks for letting us know! 🙇

[2020-06-03 23:15] sftim commented on #4504
Relevant to issue #20232

[2020-06-03 23:17] sftim commented on #12327
/sig cluster-lifecycle
?

[2020-06-03 23:18] sftim commented on #13401
Also relevant: https://kubernetes.io/docs/concepts/storage/volume-snapshots/

[2020-06-04 00:45] hiyokotaisa commented on #21464
/assign

[2020-06-04 03:16] oke-py commented on #21362
/close

[2020-06-04 03:16] #21362 closed

[2020-06-04 03:23] hikkie3110 commented on #21463
/assign

[2020-06-04 03:24] hikkie3110 commented on #21463
/assign

[2020-06-04 03:58] yu-kasuya commented on #21402
/assign

[2020-06-04 04:06] hiyokotaisa commented on #21462
/assign

[2020-06-04 04:46] staticdax opened #21470 "Translation Issue of https://kubernetes.io/zh/docs/tutorials/stateful-application/basic-stateful-set/"
**This is a Bug Report**

**Problem:**
文档中有几处“roll out”翻译为“扩容”是否为笔误？

原文：

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/zh/docs/tutorials/stateful-application/basic-stateful-set/#%E7%81%B0%E5%BA%A6%E6%89%A9%E5%AE%B9

[2020-06-04 05:43] dominikzorgnotti commented on #19176
/remove-lifecycle stale

[2020-06-04 06:07] hiyokotaisa commented on #21460
/assign

[2020-06-04 06:18] mochizuki-pg commented on #21395
/assign

[2020-06-04 06:21] tengqm commented on #17969
This is done.
/close

[2020-06-04 06:21] #17969 closed

[2020-06-04 07:31] hiyokotaisa opened #21477 "ja: Need to fix typo in docs/concepts/workloads/pods/pod-lifecycle.md"
**This is a Feature Request**

**What would you like to be added**
Need to fix Japanese translation in https://github.com/kubernetes/website/blob/dev-1.17-ja.2/content/ja/docs/concepts/workloads/pods/pod-lifecycle.md because there is some incorrect translation and typo.

**Why is this needed**

English version said `unready` state but Japanese version is `unhealthy` state.

English:
[code]

Japane

[2020-06-04 07:59] oke-py opened #21478 "ja: Make docs/concepts/workloads/controllers/deployment.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/workloads/controllers/deployment.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/concepts/workloads/controllers/deployment.md is outdated.

**Comments**
/language ja

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/content/ja/docs/concepts/workl

[2020-06-04 07:59] oke-py commented on #21478
現時点でどこまで反映されているか確認が難しい。後で自分でやる。
/assign

[2020-06-04 08:01] oke-py commented on #21464
/close

[2020-06-04 08:01] #21464 closed

[2020-06-04 08:04] hiyokotaisa commented on #21477
/language ja

[2020-06-04 08:05] oke-py opened #21479 "ja: Make docs/concepts/workloads/controllers/daemonset.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/workloads/controllers/daemonset.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/concepts/workloads/controllers/daemonset.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/content/ja/doc

[2020-06-04 08:10] oke-py opened #21480 "ja: Make docs/concepts/workloads/controllers/cron-jobs.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/workloads/controllers/cron-jobs.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/concepts/workloads/controllers/cron-jobs.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/content/ja/doc

[2020-06-04 08:23] oke-py opened #21481 "ja: Make docs/concepts/storage/persistent-volumes.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/storage/persistent-volumes.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/concepts/storage/persistent-volumes.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/content/ja/docs/concepts

[2020-06-04 08:41] hiyokotaisa commented on #21477
/assign

[2020-06-04 08:48] oke-py commented on #21460
/close

[2020-06-04 08:48] #21460 closed

[2020-06-04 10:11] oke-py commented on #21462
/close

[2020-06-04 10:12] #21462 closed

[2020-06-04 11:49] hiyokotaisa commented on #21481
/assign

[2020-06-04 11:52] hiyokotaisa commented on #21477
/close

[2020-06-04 11:53] #21477 closed

[2020-06-04 12:06] Kartik494 commented on #21343
Hi @Dunoyer, can i know the error you got while performing this.I got expected output in my enviorment.

[2020-06-04 12:21] hiyokotaisa commented on #21480
/assign

[2020-06-04 12:42] hiyokotaisa commented on #21479
/assign

[2020-06-04 12:53] oke-py commented on #21411
/close

[2020-06-04 12:53] #21411 closed

[2020-06-04 12:53] oke-py commented on #21415
/close

[2020-06-04 12:53] #21415 closed

[2020-06-04 12:55] prasadkps commented on #19942
I too am facing the same issueEvents:
`
  Type     Reason            Age                From               Message
  ----     ------            ----               ----               -------
  Warning  FailedScheduling  14s (x2 over 14s)  default-scheduler  error while running "VolumeBinding" filter plugin for pod "web-0": pod has unbound immediate PersistentVolumeClaims
`

[2020-06-04 12:57] hiyokotaisa commented on #21397
/assign

[2020-06-04 13:15] jlandowner commented on #21461
/assign

[2020-06-04 13:33] oke-py commented on #21283
一人で他のページもやるのは大変でしたが、コントリビュータが増えたため方針転換します。
v1.17に対応しましょう。

/unassign
/good-first-isuue

[2020-06-04 13:34] oke-py commented on #21283
/good-first-issue

[2020-06-04 14:00] #18441 closed

[2020-06-04 14:00] #18470 closed

[2020-06-04 15:20] kakts opened #21489 "ja: Make docs/setup/best-practices/certificates.md follow v1.17 of the origina text"
**This is a Feature Request**

**What would you like to be added**

Update docs/setup/best-practices/certificates.md to follow v1.17 of the original (English) text.

**Why is this needed**
docs/setup/best-practices/certificates.md is outdated.

**Comments**

/language ja
/good-first-issue

A file to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/content/ja/docs/setup/best-practice

[2020-06-04 16:24] kakts opened #21490 "ja: Make docs/setup/_index.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**

Update ja/docs/setup/_index.md to follow v1.17 of the original (English) text.
There's no need to translate _index.md into Japanese. But it's welcome to translate it.

**Why is this needed**
docs/setup/_index.md is outdated.

**Comments**

/language ja
/good-first-issue

The file to update
https://github.com/kubernetes/website/blo

[2020-06-04 19:44] sftim commented on #19518
/remove-lifecycle stale

[2020-06-04 20:05] akitok commented on #21396
/assign

[2020-06-04 20:20] ankit13690 opened #21494 "Issue with k8s.io/docs/tasks/debug-application-cluster/monitor-node-health/"
**This is a Bug Report**

Does not NPD pods (running in Daemon-set) require service account, having adequate cluster role-binding with it, in order to interact with KUBE-API

**Problem:**
 NPD pods which would run as Daemon-set would require service account with adequate role-binding (RBAC) via its own Service account so that this NPD pods (of the daemon-set) can communicate the node condition to

[2020-06-04 21:23] alanjcastonguay commented on #19498
I think slack is using the `twitter:image` set by #13261 to https://kubernetes.io/images/favicon.png, a 512x512?

[2020-06-04 21:27] celestehorgan opened #21496 "Re-implement deprecation warning and announcement feature"
**This is a Feature Request**

**What would you like to be added**

Re-implement the Announcement (`partials/announcement.html`, `shortcode/announcement.html`) and deprecation warning (`partials/deprecation-warning.html`) layout partials for better aesthetics and functionality.

**Why is this needed**

As discovered while doing https://github.com/kubernetes/website/pull/21465, our current implemen

[2020-06-04 21:27] celestehorgan commented on #21496
/assign @celestehorgan

[2020-06-04 21:41] oke-py opened #21497 "ja: Make docs/concepts/workloads/controllers/deployment.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/workloads/controllers/deployment.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/concepts/workloads/controllers/deployment.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/content/ja/d

[2020-06-04 21:42] oke-py commented on #21478
duplicate #21497
/close

[2020-06-04 21:42] #21478 closed

[2020-06-04 21:43] oke-py commented on #21497
ちょっとややこしいかもしれません。遠慮なくSlackでご相談ください。

[2020-06-04 21:55] oke-py opened #21498 "ja: Make docs/concepts/services-networking/service.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/services-networking/service.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/concepts/services-networking/service.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/content/ja/docs/concep

[2020-06-04 22:02] zacharysarah commented on #21458
As lovely as this issue is, there's nothing actionable here (except to keep on doing what we're doing!), so--

/close

[2020-06-04 22:02] #21458 closed

[2020-06-04 22:16] oke-py opened #21499 "ja: Make docs/concepts/services-networking/ingress.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/services-networking/ingress.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/concepts/services-networking/ingress.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/content/ja/docs/concep

[2020-06-04 22:19] oke-py opened #21500 "ja: Make docs/concepts/services-networking/dns-pod-service.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/services-networking/dns-pod-service.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/concepts/services-networking/dns-pod-service.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/conten

[2020-06-04 22:24] oke-py opened #21501 "ja: Make docs/concepts/services-networking/connect-applications-service.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/services-networking/connect-applications-service.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/concepts/services-networking/connect-applications-service.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website

[2020-06-04 22:34] oke-py opened #21502 "ja: Make docs/concepts/scheduling/kube-scheduler.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/scheduling/kube-scheduler.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/concepts/scheduling/kube-scheduler.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/content/ja/docs/concepts/s

[2020-06-04 22:47] oke-py opened #21503 "ja: Make docs/concepts/overview/working-with-objects/labels.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/overview/working-with-objects/labels.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/concepts/overview/working-with-objects/labels.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.2/cont

[2020-06-04 22:53] ryokotmng commented on #21503
/assign @ryokotmng

[2020-06-04 23:19] pyramation commented on #5822
@nightswimmings I'm also curious. From what I can tell, if you add `port` or `ports` the behavior is as follows (it does nothing):

[code]

Then I test inside of a box in the same namespace, and the only way I get anything is by attaching the port onto the name:

[code]

[2020-06-05 00:39] hiyokotaisa commented on #21502
/assign

[2020-06-05 01:22] KilimAnnejaro commented on #21429
/assign

[2020-06-05 01:33] KilimAnnejaro commented on #21429
@sftim @davidxia is there a list of links that lead to 404s, or is part of this story tracking down all of those links?

[2020-06-05 01:51] coolguyhong opened #21508 "Translate tasks/run-application/delete-stateful-set/ in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/run-application/delete-stateful-set/ in Korean

**Why is this needed**
No translation with tasks/run-application/delete-stateful-set/ in Korean

**Comments**

Page to Update: https://kubernetes.io/docs/tasks/run-application/delete-stateful-set/

[2020-06-05 01:51] coolguyhong commented on #21508
/language ko
/assign

[2020-06-05 03:29] oke-py commented on #21480
/close

[2020-06-05 03:29] #21480 closed

[2020-06-05 04:02] hiyokotaisa commented on #21394
/assign

[2020-06-05 04:11] nishipy commented on #21499
/assign

[2020-06-05 04:12] nishipy commented on #21498
/assign

[2020-06-05 04:14] #18003 closed

[2020-06-05 04:16] oke-py commented on #21502
/close

[2020-06-05 04:17] #21502 closed

[2020-06-05 04:21] hiyokotaisa commented on #21364
/assign

[2020-06-05 04:34] hiyokotaisa commented on #21500
/assign

[2020-06-05 04:40] oke-py commented on #21364
/close

[2020-06-05 04:40] #21364 closed

[2020-06-05 05:02] oke-py commented on #21394
/close

[2020-06-05 05:02] #21394 closed

[2020-06-05 05:15] tengqm commented on #18003
/remove-lifecycle rotten

afaict, this issue is not resolved yet.

[2020-06-05 05:21] hiyokotaisa commented on #21479
/close

[2020-06-05 05:26] makochu commented on #21501
/assign

[2020-06-05 05:27] oke-py opened #21514 "ja: Make docs/concepts/overview/working-with-objects/kubernetes-objects.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/overview/working-with-objects/kubernetes-objects.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/concepts/overview/working-with-objects/kubernetes-objects.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website

[2020-06-05 05:33] oke-py commented on #21479
/close

[2020-06-05 05:33] #21479 closed

[2020-06-05 05:38] oke-py opened #21517 "ja: Make docs/concepts/overview/working-with-objects/field-selectors.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/overview/working-with-objects/field-selectors.md to follow v1.17 of the original (Englist) text.

**Why is this needed**
content/ja/docs/concepts/overview/working-with-objects/field-selectors.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/

[2020-06-05 05:53] bluefriday opened #21518 "Translate tasks/configure-pod-container/static-pod (Create static pods) into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/configure-pod-container/static-pod (Create static pods) into Korean

**Why is this needed**
There is no documents with Translate tasks/configure-pod-container/static-pod (Create static pods) into Korean.

**Comments**

https://kubernetes.io/docs/tasks/configure-pod-container/static-pod/

[2020-06-05 05:53] bluefriday commented on #21518
/language ko
/assign

[2020-06-05 06:24] zhannb opened #21520 "Issue with k8s.io/docs/setup/learning-environment/kind/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-06-05 06:34] hiyokotaisa commented on #21517
/assign

[2020-06-05 07:59] oke-py commented on #21402
/close

[2020-06-05 07:59] #21402 closed

[2020-06-05 07:59] oke-py commented on #21481
/close

[2020-06-05 07:59] #21481 closed

[2020-06-05 08:24] oke-py commented on #21391
/close

[2020-06-05 08:24] #21391 closed

[2020-06-05 09:12] k-srkw commented on #21514
/assign

[2020-06-05 09:30] yu-kasuya opened #21523 "Issue with missing hello-application.yaml file under ja directory"
**This is a Bug Report**

**Problem:**
In dev-1.17-ja.2 branch, `make docker-serve` doesn't work after service-access-application-cluster.md was updated. Because "content/ja/examples/service/access/hello-application.yaml" is missing. Error message is below:

[code]

**Proposed Solution:**
Add hello-application.yaml file

**Page to Update:**
https://kubernetes.io/docs/tasks/access-application-clust

[2020-06-05 09:32] yu-kasuya commented on #21523
/language ja

[2020-06-05 09:35] yu-kasuya commented on #21523
/assign

[2020-06-05 09:36] inductor commented on #21517
/close

[2020-06-05 09:36] #21517 closed

[2020-06-05 10:20] #18491 closed

[2020-06-05 10:30] hiyokotaisa commented on #21490
/assign

[2020-06-05 10:34] ryokotmng commented on #21503
マージしていただいたのでクローズしておきますね！

[2020-06-05 10:34] ryokotmng commented on #21503
/close

[2020-06-05 10:35] ryokotmng commented on #21503
ぬ、できなかった😇すみませんがおまかせします。

[2020-06-05 10:56] hiyokotaisa commented on #21490
diff: https://gist.github.com/hiyokotaisa/fd18db1ae45a7a81ed0ef052d08ddede

[2020-06-05 11:06] hiyokotaisa commented on #21489
diff: https://gist.github.com/hiyokotaisa/70bdc04f87dd022cbb571178df5f7490

[2020-06-05 11:07] inductor commented on #21503
/close

[2020-06-05 11:07] #21503 closed

[2020-06-05 11:30] deep-blue opened #21527 "Issue with k8s.io/de/docs/tasks/configure-pod-container/"
Page is empty

[2020-06-05 11:48] #21527 closed

[2020-06-05 11:49] deep-blue commented on #21527
page only contains navigation

[2020-06-05 11:52] oke-py commented on #21523
Good Catch! Thanks!

[2020-06-05 12:27] hikkie3110 commented on #21489
/assign

[2020-06-05 12:35] eleven26 opened #21529 "Note shortcode with html comment wont be parsed correctly"
**Note shortcode with html comment wont be parsed correctly**

**Problem:**

After `layouts/shortcodes/note.html` has been updated since [Change notes templating to be able to comply with Hugo 0.70. ](https://github.com/kubernetes/website/pull/20946), the HTML comment inside `{{< node >}}` will result in markdownify not working correctly.

English version docs: [confirm-installation](https://kuber

[2020-06-05 14:19] oke-py commented on #21500
/close

[2020-06-05 14:19] #21500 closed

[2020-06-05 17:08] davidxia commented on #21429
@KilimAnnejaro sorry I don't have a full list. I only noticed the links like the one in my description. I think creating the list is part of this issue.

[2020-06-05 19:28] #16741 closed

[2020-06-05 19:38] #21343 closed

[2020-06-05 20:06] alanjcastonguay commented on #19498
Priority order: https://medium.com/slack-developer-blog/everything-you-ever-wanted-to-know-about-unfurling-but-were-afraid-to-ask-or-how-to-make-your-e64b4bb9254

[2020-06-05 21:05] kbhawkey commented on #21429
@KilimAnnejaro ,
The site lists five versions. The current version of the docs is 1.18.
You could add redirects for the previous four versions (1.17, 1.16, 1.15, 1.14)

[code]

[2020-06-06 02:32] oke-py commented on #21396
/close

[2020-06-06 02:32] #21396 closed

[2020-06-06 02:33] oke-py commented on #21397
/close

[2020-06-06 02:33] #21397 closed

[2020-06-06 02:33] oke-py commented on #21395
/close

[2020-06-06 02:34] oke-py commented on #21369
/close

[2020-06-06 02:34] #21395 closed

[2020-06-06 02:38] oke-py commented on #21369
/reopen

[2020-06-06 02:42] oke-py commented on #21490
/close

[2020-06-06 02:42] #21490 closed

[2020-06-06 10:31] akitok commented on #21283
/assign

[2020-06-06 12:44] oke-py commented on #21463
/close

[2020-06-06 12:44] #21463 closed

[2020-06-06 15:58] shuuji3 commented on #20886
2週間以上経ってしまいましたが、今週中にPRを作る予定です。

[2020-06-06 18:02] pctr362979 opened #21545 "Issue with k8s.io/docs/reference/kubectl/jsonpath/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-06-06 18:04] pctr362979 opened #21546 "Error from server (BadRequest): json: cannot unmarshal object into Go value of type jsonpatch.Patch"
I am getting the below error
I am execting the below command
kubectl -n kyma-integration patch deployment application-registry --type json -p="{\"op\":\"add\",\"path\":\"/spec/template/spec/containers/0/args/-\",\"value\":\"--insecureSpecDownload=true\"}"

My kubectl version details
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.0", GitCommit:"9e991415386e4cf155a24b1da15beca

[2020-06-06 18:26] rpcyn opened #21547 "Issue with k8s.io/docs/tutorials/hello-minikube/"
**This is a Bug Report**

**Problem:** Minikube unable to expose the service to external ip
**$ minikube service hello-node**

| NAMESPACE |    NAME    | TARGET PORT |           URL

| default   | hello-node |        8089 | http://172.17.0.4:31019 |

🎉  Opening service default/hello-node in default browser...
rajendra@master:~$ Opening in existing browser session.
**[0606/234938.552552:ERROR:nacl_

[2020-06-06 18:36] sftim commented on #21546
@pctr362979 are you reporting a defect in the documentation? If so, you should add details of the page that is wrong.
(If you're looking for help with Kubernetes, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes).You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum).

/triage ne

[2020-06-06 18:38] sftim commented on #21547
@rpcyn can you describe the environment where you're running Minikube? It sounds like there might be some issue with the integration between Minikube and your preferred web browser.

/triage needs-information

[2020-06-06 18:38] sftim commented on #21529
This partially duplicates issue #20335

[2020-06-06 18:39] sftim commented on #21520
Hi @zhannb

Can you describe the bug that you wanted to report?

/triage needs-information

[2020-06-06 18:39] sftim commented on #21545
Hi @pctr362979

It sounds like you wanted to report that something isn't right on https://k8s.io/docs/reference/kubectl/jsonpath/

What was the defect you noticed?

/triage needs-information

[2020-06-06 18:40] sftim commented on #21496
/kind cleanup

[2020-06-06 18:42] sftim commented on #20780
PR #21359 is working towards fixing this

[2020-06-06 20:08] linuxman1000 commented on #21254
I'm attempting to gather more information on this.  Firstly, I need to replicate the issue.  If I'm able, I'll then record the steps taken to do so and I'll post that information here.

[2020-06-06 20:14] linuxman1000 commented on #21254
Update:  I've attempted to replicate the 502 Bad Gateway response that I originally received.  However, it seems that everything is working now.  When I follow the instructions at https://kubernetes.io/docs/tutorials/hello-minikube/, I no longer have an issue.  I'm able to see another browser tab with Katacoda prompting for the port number.  I typed in 30000 and I'm able to see the Kubernetes dash

[2020-06-06 20:14] #21254 closed

[2020-06-07 00:57] #13175 closed

[2020-06-07 00:57] #13362 closed

[2020-06-07 01:45] pjhwa opened #21551 "Translate reference/kubectl/overview.md into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate reference/kubectl/overview.md into Korean.

**Why is this needed**

There is no document of reference/kubectl/overview.md which is translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/reference/kubectl/overview/

/language ko

[2020-06-07 01:45] pjhwa commented on #21551
/assign

[2020-06-07 01:58] #18539 closed

[2020-06-07 01:58] #13667 closed

[2020-06-07 04:00] #14834 closed

[2020-06-07 04:38] nasa9084 opened #21555 "ja: Update references to the patch release process"
Follow PR #21548

[2020-06-07 05:22] oke-py commented on #21555
/language ja

[2020-06-07 06:03] jlandowner opened #21556 "ja: fix inconsistent translation of "init container""
**This is a Bug Report**

**Problem:**
/language ja

I found an inconsistent translation of "init container" in /ja/docs/concepts/workloads/pods/init-containers/ and  /ja/docs/tasks/debug-application-cluster/debug-init-containers/.

[On the concept page](https://kubernetes.io/ja/docs/concepts/workloads/pods/init-containers/), it is expressed as "Initコンテナ".
But [on the task page](https://kubernetes

[2020-06-07 06:40] MikeSpreitzer opened #21558 "Issue with k8s.io/docs/tasks/administer-cluster/kubelet-config-file/"
**This is a Bug Report**

**Problem:**
This page does not tell me, nor point me to any page that tells me, what are all the fields (name, type, default value) in the kubelet configuration file.

**Proposed Solution:**
Document this.

**Page to Update:**
k8s.io/docs/tasks/administer-cluster/kubelet-config-file/

[2020-06-07 07:46] chaspy commented on #21555
/assign

[2020-06-07 07:54] tengqm commented on #21558
In the text there IS a pointer to the source code. That is the best thing we can get so far.

[2020-06-07 09:21] SoumithKumarMudugonda commented on #21357
/assign

[2020-06-07 11:07] #15460 closed

[2020-06-07 11:07] #15478 closed

[2020-06-07 11:07] #15650 closed

[2020-06-07 11:07] #15787 closed

[2020-06-07 11:07] #18487 closed

[2020-06-07 12:08] #18503 closed

[2020-06-07 13:47] tengqm commented on #13362
Double checked this. We currently only generate options for non-deprecated and non-hidden commands, which sounds the right strategy going forward.

[2020-06-07 14:30] Arhell opened #21560 "Subscribe button translation"
**This is a Feature Request**

**What would you like to be added**
https://kubernetes.io/fr/#kubeweekly

/assign
/language fr

[2020-06-07 14:46] sftim opened #21562 "“I componenti di Kubernetes” page broken"
**This is a Bug Report**

**Problem:**
[_I componenti di Kubernetes_](https://kubernetes.io/it/docs/concepts/overview/components/) isn't rendering correctly.

**Proposed Solution:**
Fix the Markdown for this page.

**Page to Update:**
https://kubernetes.io/it/docs/concepts/overview/components/

/language it
/kind bug
/priority important-longterm

[2020-06-07 14:47] sftim commented on #21558
/kind feature

[2020-06-07 14:47] sftim commented on #21558
/language en

[2020-06-07 15:13] sftim opened #21563 "Sort third party client library links"
**This is a Bug Report**

**Problem:**
[_Client Libraries_](
https://kubernetes.io/docs/reference/using-api/client-libraries/) lists 3rd party software. Kubernetes docs allow content for third-party projects only when:
- Content documents software in the Kubernetes project
- Content documents software that’s out of project but necessary for Kubernetes to function
- Content is canonical on [kuberne

[2020-06-07 17:29] KilimAnnejaro commented on #21429
I generated a list of pages with links leading to 404s using https://www.brokenlinkcheck.com/. I've attached a PDF of this list:

https://drive.google.com/file/d/1-CEM0UHYjv3qdwRKcINgQg8OK1tqH7Kh/view?usp=sharing

Of course, not all of these links are directly related to the thrust of this issue; however, the list seemed useful so I'm attaching it here.

[2020-06-07 17:42] carlosadean opened #21564 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/"
**This is a Bug Report**

There is a problem when copy and paste the yum command line to install packages on centos/rhel.

The documentation is showing one long-dash instead of two dashes as you can see below.

`yum install -y kubelet kubeadm kubectl –disableexcludes=kubernetes`

It should be "--disableexcludes".

[2020-06-07 17:48] carlosadean commented on #21564
Looking at the documentation the command line is correct, so I understand this is display-only bug.

https://github.com/kubernetes/website/blob/master/content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md

[2020-06-07 17:54] neolit123 commented on #21564
hi, this is tracked here:
https://github.com/kubernetes/website/issues/20915

thanks
/close

[2020-06-07 17:54] neolit123 commented on #21564
/sig cluster-lifecycle

[2020-06-07 17:54] #21564 closed

[2020-06-07 20:16] #16449 closed

[2020-06-07 21:45] DmitryZayats opened #21567 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/

CentOS/RHEL instructions for installing kubeadm have this line when adding Kubernetes repo

`exclude=kubelet kubeadm kubectl`

And then a few lines below documentation instructs you to install

`yum install -y kubelet kubeadm kubectl –disableexcludes=kubernetes`

However o

[2020-06-07 22:22] DmitryZayats opened #21568 "Issue with k8s.io/docs/setup/production-environment/container-runtimes/"
**This is a Bug Report**

**Problem:**
Docker installation instructions are missing step for enabling service, so after host reboot docker is not running

**Proposed Solution:**
Add below command
`systemctl enable --now docker`
**Page to Update:**
https://kubernetes.io/docs/setup/production-environment/container-runtimes/

[2020-06-08 00:27] yu-kasuya commented on #21523
/close

[2020-06-08 00:28] #21523 closed

[2020-06-08 01:32] tengqm commented on #14507
/remove-lifecycle stale

[2020-06-08 02:22] divya-mohan0209 commented on #19554
Hello @sftim , can this issue be closed now?

[2020-06-08 04:47] MRostanski commented on #20990
I have similar problem with v1.18.1

`$ cat minimal.yaml
apiVersion: kubeadm.k8s.io/v1beta1
kind: ClusterConfiguration
kubernetesVersion: v1.18.1
$ kubectl get nodes
NAME     STATUS   ROLES    AGE     VERSION
worker   Ready    <none>   6h35m   v1.18.1
$ kubectl apply -f minimal.yaml
error: unable to recognize "minimal.yaml": no matches for kind "ClusterConfiguration" in version "kubeadm.k8s.io/v1b

[2020-06-08 05:25] chaspy commented on #21555
We can close this issue by https://github.com/kubernetes/website/pull/21561

[2020-06-08 05:46] pjhwa opened #21570 "Issue with k8s.io/docs/reference/kubectl/overview/"
**This is a Bug Report**

**Problem:**
1. At line 35~39, there are extra spaces(more than 4 spaces) in front of shell box.
2. At line 427~430, it should be a shell box. So, we need \`\`\`shell code.
3. At line 445~451, it should be a shell box. So, we need \`\`\`shell code.

**Proposed Solution:**
[1]
* `TYPE`: Specifies the [resource type](#resource-types). Resource types are case-insensitive and

[2020-06-08 05:46] pjhwa commented on #21570
/assign

[2020-06-08 07:08] oke-py commented on #21555
/close

[2020-06-08 07:08] #21555 closed

[2020-06-08 07:55] mig4 commented on #19199
/remove-lifecycle stale

[2020-06-08 08:28] #18589 closed

[2020-06-08 08:49] max-rocket-internet commented on #12322
/remove-lifecycle stale

[2020-06-08 10:29] bartier opened #21576 "Issue with k8s.io/docs/tasks/access-application-cluster/ingress-minikube/"
**This is a Bug Report**

**Problem:**

After 'Add the following line to the bottom of the /etc/hosts file.', there is a blue quote indication with no text.
![image](https://user-images.githubusercontent.com/18057391/84020314-03410e00-a959-11ea-8559-00e7a2418780.png)

This happens in more locations in this page. Is this supposed to be like that? Thanks :)

**Proposed Solution:** The `notes` like `

[2020-06-08 10:30] #18593 closed

[2020-06-08 11:32] #18599 closed

[2020-06-08 11:36] sftim commented on #21568
Thanks, good spot
/kind bug
/priority important-longterm

[2020-06-08 11:37] sftim commented on #21576
This is related to umbrella issue #20335
/kind bug
/priority backlog

[2020-06-08 11:38] sftim commented on #21567
/sig cluster-lifecycle
/language en

[2020-06-08 12:10] neolit123 commented on #20990
@MRostanski hi, you should not be applying the kubeadm "kind" called ClusterConfiguration with kubectl. it's a "kind" that should be fed to kubeadm using --config during the `kubeadm init` command.

https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta1#hdr-Kubeadm_init_configuration_types

[2020-06-08 12:45] neolit123 commented on #21567
the issue here is ` –disableexcludes=kubernetes`
notice the above has a `–` instead of `--`.

we are still pending a fix for this here:
https://github.com/kubernetes/website/issues/20915

/close
/sig docs

[2020-06-08 12:45] #21567 closed

[2020-06-08 14:25] #21570 closed

[2020-06-08 16:14] celestehorgan commented on #21496
My suggested strategy (lazy consensus/no comments – I do the thing):

1) Move the `announcement_title` and `announcement_message` keys to `i18n/en.toml` (and let the localization teams pick those keys up as needed – so that we can localize any announcements we have & for consistency with the deprecation warning implementation. However – *keep* `announcement = true` and `annoncement_bg` in config.t

[2020-06-08 16:58] alanjcastonguay commented on #19498
@kbarnard10 @lucperkins  A giant image seems suitable for blogposts (`{{ if $isBlogPost }}` plus the `img` regex). But I don't see the same giant image for every page of the docs _ever_ being useful, in the twitter or slack contexts. What was the reasoning here?

[2020-06-08 17:08] lucperkins commented on #19498
No particular “reasoning” at work. If you’d like a different image size, feel free to change.

[2020-06-08 17:22] jalseth opened #21583 "API Reference for v1.16 404s"
**This is a Bug Report**

**Problem:**

https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.16/ which used to show the reference for v1.16, now 404s as do all versions of the page other than v1.18.

[2020-06-08 18:13] jeffnai-github opened #21585 "Issue with k8s.io/docs/tutorials/stateful-application/cassandra/"
**This is a Bug Report**

**Problem:**
"kubectl edit ..." does not honor KUBE_EDITOR or EDITOR setting.
**Proposed Solution:**
"kubectl edit ..." should honor KUBE_EDITOR or EDITOR setting as documented in "kubectl edit --help": ... It will open
the editor defined by your KUBE_EDITOR, or EDITOR environment variables, or fall back to 'vi' for Linux ...

**Page to Update:**
https://kubernetes.io/...

[2020-06-08 19:19] #21014 closed

[2020-06-08 23:35] alanjcastonguay commented on #19498
I am ignorant: Is the current size optimized for some other consumer/workflow? The commit history suggests this was done primarily for Twitter.

[2020-06-08 23:40] lucperkins commented on #19498
Again, there’s no specific rhyme or reason here. Feel free to change.

[2020-06-09 00:44] #18389 closed

[2020-06-09 00:49] Srikanthshetty commented on #21417
this issue got fixed once i change liveness probe to below

From:
livenessProbe:
            #command: ["mysqladmin", "ping", "-uroot", "-p$MYSQL_ROOT_PASSWORD"]
To:
livenessProbe:
          exec:
            command:
            - bash
            - "-c"
            - |
              mysqladmin -uroot -p$MYSQL_ROOT_PASSWORD ping &> /dev/null

[2020-06-09 00:49] #21417 closed

[2020-06-09 01:24] KilimAnnejaro commented on #21583
This is related to https://github.com/kubernetes/website/issues/21429.

[2020-06-09 05:31] Kartik494 commented on #19942
@prasadkps could you share your pv and pvc status.

[2020-06-09 06:22] Lzqbest opened #21596 "Improvement for k8s.io/zh/docs/tasks/tools/install-kubectl/"
开发文档条理不清晰

[2020-06-09 06:56] janehojy opened #21597 "Issue with k8s.io/docs/tasks/administer-cluster/configure-upgrade-etcd/"
**This is a Bug Report**

**Problem:**
etcd backup command is missing required flags: `--cacert=/etc/kubernetes/pki/etcd/ca.crt`, `--cert=/etc/kubernetes/pki/etcd/server.crt` and `--key=/etc/kubernetes/pki/etcd/server.key`

**Proposed Solution:**
Expected result:
[code]

Actual result:
[code]

Proposed Solution:
[code]

**Page to Update:**
https://kubernetes.io/docs/tasks/administer-cluster/config

[2020-06-09 07:14] aixi opened #21598 "Issue with k8s.io/zh/docs/concepts/configuration/configmap/"
**This is a Bug Report**

**Problem:**
apiVersion: v1
kind: ConfigMap
metadata:
  Name: game-demo
data:
  # 类属性键；每一个键都映射到一个简单的值
  player_initial_lives: 3
  ui_properties_file_name: "user-interface.properties"
  #
  # 类文件键
  game.properties: |
    enemy.types=aliens,monsters
    player.maximum-lives=5
  user-interface.properties: |
    color.good=purple
    color.bad=yellow
    allow.textmode=true

[2020-06-09 07:17] prasadkps commented on #19942
Due to some other issue I had to reset my cluster. I am in the process of setting it up again. Once that is done I will try again and see. I will send you the details if I see the problem again. Thanks

[2020-06-09 11:19] sftim commented on #21429
Partly duplicated by issue #21583

[2020-06-09 11:19] sftim commented on #21429
If anyone's picking this up, I recommend going with the approach that @kbhawkey outlines in https://github.com/kubernetes/website/issues/21429#issuecomment-639818071

[2020-06-09 11:20] sftim commented on #21597
@janehojy are these extra flags always required, or does that depend on exactly how you're running `etcdctl`?

(it's OK to answer “I'm not sure”)

[2020-06-09 11:20] sftim commented on #21596
/language zh

[2020-06-09 11:22] sftim commented on #21598
/kind bug
/priority backlog
/language zh

`Name: game-demo` is incorrect in the manifest on https://k8s.io/zh/docs/concepts/configuration/configmap/
it should be `name: game-demo`

[2020-06-09 12:53] tengqm commented on #21596
请明确所指问题。

[2020-06-09 13:03] tsjsdbd opened #21601 "Issue with k8s.io/docs/tutorials/stateful-application/basic-stateful-set/"
**This is a Bug Report**

**Problem:**
When running CoreDNS in your K8s cluster wihtout set the `endpoint_pod_names` plugin, the Headless service + Statefulset, can not get the `{pod-name}-{index}.svc` DNS domain.

for example, my service name is `sdc`, and my CoreDNS miss `endpoint_pod_names` plugin:
[code]

after set `endpoint_pod_names` plugin for CoreDNS, it works:
[code]

the CoreDNS plugin c

[2020-06-09 13:26] girikuncoro commented on #20111
I've cleared these up to allow other contributors working on these

/docs/concepts/policy/limit-range/ (@danninov)
/docs/setup/production-environment/tools/kubeadm/install-kubeadm/ (@VaraKatare)
/docs/tasks/configure-pod-container/pull-image-private-registry/ (@novalagung)

[2020-06-09 14:43] ariscahyadi commented on #20111
I am working on this `/docs/concepts/policy/limit-range/`

[2020-06-09 14:58] #18591 closed

[2020-06-09 15:30] wawa0210 opened #21605 "Clarify the explanation when environment variables refer to each other"
**This is a Feature Request**

**What would you like to be added**

**Why is this needed**

If the environment variables started by the pod are cyclically dependent and mutually referenced, the resulting environment variable values ​​will not be what we expected. At present, there is no detailed description about this in the official document, it is recommended to reopen a page to describe it in d

[2020-06-09 16:19] goushuai opened #21606 "Translation Issue with k8s.io/zh/docs/concepts/architecture/nodes/"
**This is a Bug Report**

**Problem:**
MemoryPressure字段的描述有歧义：True 表示节点存在内存压力 – 即节点内存用量低
应该是：True 表示节点存在内存压力 – 即节点内存可用量低

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/zh/docs/concepts/architecture/nodes/

Kubernetes Version: v1.18

[2020-06-09 17:59] sftim commented on #21605
/kind feature

[2020-06-09 18:51] celestehorgan opened #21609 "Umbrella issue: remove shortcodes/announcement.html and shorcodes/deprecationwarning.html"
This is a follow-up to #21496. Remove the following two shortcodes as they are no longer used:

- [ ] `layouts/shortcodes/announcement.html`
- [ ] `layouts/shortcodes/deprecationwarning.html`

Because both shortcodes are referenced in translated `_index.html` pages, we need to have the affected translations remove the references before we remove the actual shortcode files. This umbrella issue capt

[2020-06-09 18:51] celestehorgan commented on #21609
/assign celestehorgan
/kind cleanup

[2020-06-09 19:00] celestehorgan opened #21610 "[FR] Remove announcement and deprecationwarning shortcodes"
Umbrella issue: #21609

Remove the following from `/content/fr/_index.html` L6-8:

[code]

[2020-06-09 19:00] celestehorgan commented on #21610
/label language/fr

[2020-06-09 19:00] celestehorgan commented on #21610
/label language-fr

[2020-06-09 19:02] celestehorgan commented on #21610
/kind cleanup

[2020-06-09 19:02] celestehorgan opened #21611 "[IT] Remove announcement and deprecationwarning shortcodes"
Umbrella issue: #21609

Remove the following from `/content/it/_index.html` L6-8:

[code]

[2020-06-09 19:02] celestehorgan commented on #21611
/kind cleanup

[2020-06-09 19:02] #18364 closed

[2020-06-09 19:03] celestehorgan commented on #21611
/label good-first-issue

[2020-06-09 19:03] celestehorgan commented on #21611
/good-first-issue

[2020-06-09 19:03] celestehorgan commented on #21610
/good-first-issue

[2020-06-09 19:05] celestehorgan commented on #21610
/remove good-first-issue
/remove help-wanted

[2020-06-09 19:05] celestehorgan commented on #21611
/remove good-first-issue
/remove help-wanted

[2020-06-09 19:06] celestehorgan opened #21612 "[JA] Remove announcement and deprecationwarning shortcodes"
Umbrella issue: #21609

Remove the following from `/content/ja/_index.html` L6-8:

[code]

[2020-06-09 19:06] celestehorgan commented on #21612
/assign inductor

[2020-06-09 19:09] celestehorgan opened #21613 "[KO] Remove announcement and deprecationwarning shortcodes"
Umbrella issue: #21609

Remove the following from `/content/ko/_index.html` L6-8:

[code]

[2020-06-09 19:09] celestehorgan commented on #21613
/kind cleanup

[2020-06-09 19:09] celestehorgan commented on #21612
/kind cleanup

[2020-06-09 19:14] celestehorgan opened #21614 "[PL] Remove announcement and deprecationwarning shortcodes"
Umbrella issue: #21609

Remove the following from `/content/pl/_index.html` L6-8:

[code]

[2020-06-09 19:14] celestehorgan commented on #21614
/kind cleanup

[2020-06-09 19:16] oke-py commented on #21498
/close

[2020-06-09 19:16] #21498 closed

[2020-06-09 19:20] celestehorgan opened #21615 "[UK] Remove announcement and deprecationwarning shortcodes"
Umbrella issue: #21609

Remove the following from `/content/uk/_index.html` L6-8:

[code]

[2020-06-09 19:20] celestehorgan commented on #21615
/kind cleanup

[2020-06-09 19:22] celestehorgan opened #21616 "[VI] Remove announcement and deprecationwarning shortcodes"
Umbrella issue: #21609

Remove the following from `/content/vi/_index.html` L6-8:

[code]

[2020-06-09 19:22] celestehorgan commented on #21616
/kind cleanup

[2020-06-09 19:40] dennisjac opened #21617 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/"
**This is a Bug Report**

**Problem:**
The kubeadm installation page gives instructions how to install kubeadm, kubectl and kubelet from a google repository for CentOS, RHEL and Fedora however the configured repository does not in fact contain the desired packages:
[code]

**Proposed Solution:**
Fix the repository or the installation description.

**Page to Update:**
https://kubernetes.io/docs/set

[2020-06-09 19:57] dennisjac commented on #21617
I found the source of the problem: In the instructions the parameter `-disableexcludes` is using a single dash. This needs to be `--disableexcludes` with two dashes. After this change yum finds the packages correctly:
[code]

[2020-06-09 20:28] Arhell opened #21618 "Subscribe button translation"
**This is a Feature Request**

**What would you like to be added**
https://kubernetes.io/it/#kubeweekly

/assign
/language it

[2020-06-09 20:43] lachie83 commented on #16466
We've addressed this issue in #20715. Closing

[2020-06-09 20:43] lachie83 commented on #16466
/close

[2020-06-09 20:43] #16466 closed

[2020-06-09 20:46] #21496 closed

[2020-06-09 21:07] neolit123 commented on #21617
please see:
https://github.com/kubernetes/website/issues/20915

/close

[2020-06-09 21:07] #21617 closed

[2020-06-09 21:07] neolit123 commented on #20915
i think we got close to a dozen reports about this already.

[2020-06-09 21:13] kbhawkey commented on #20915
@neolit123 , Did you see/review PR #21272?

[2020-06-09 21:15] neolit123 commented on #20915
i think i saw it, yes. is there a reason it's not merged yet?

[2020-06-09 21:16] kbhawkey commented on #20915
Not that I know of

[2020-06-09 23:16] 532910 commented on #19040
Is it stalled?

[2020-06-09 23:35] inductor commented on #21612
On it!

[2020-06-09 23:36] oke-py commented on #21297
/close

[2020-06-09 23:37] #21297 closed

[2020-06-09 23:53] inductor commented on #21612
/closed

[2020-06-09 23:53] inductor commented on #21612
/close

[2020-06-09 23:54] #21612 closed

[2020-06-10 00:29] scottstout opened #21621 "Update terminology to be racially neutral"
**This is a Feature Request**

**What would you like to be added**
Terminology should be updated to be more racially neutral.
whitelist --> allowlist
blacklist --> denylist

In many cases these words can be avoided all together. For example if the sentence is "the following IP addresses should be whitelisted" you can change it to "the following IP addresses should be allowed". This is probably mor

[2020-06-10 02:10] akitok commented on #21497
/assign

[2020-06-10 02:34] Asherslab opened #21623 "Issue with k8s.io/docs/tutorials/stateless-application/expose-external-ip-address/"
**This is a Bug Report**

**Problem:**
Page has random miscellaneous line of code (html?) in it:
`<blockquote class="note">`

**Proposed Solution:**
remove the misc line

**Page to Update:**
https://kubernetes.io/docs/tutorials/stateless-application/expose-external-ip-address/

[2020-06-10 05:10] Kartik494 commented on #21152
/assign @Kartik494

[2020-06-10 07:49] tengqm commented on #21606
would you like to propose a fix?

[2020-06-10 07:49] tengqm commented on #21606
/language zh

[2020-06-10 08:55] rlenferink commented on #21621
Didn’t we already change `master` to `control plane` some time ago @sftim ?

[2020-06-10 10:05] fabriziopandini commented on #21611
/language it
/priority important-soon

[2020-06-10 10:31] MaxymVlasov commented on #21615
/assign
/language uk

[2020-06-10 12:05] dumlutimuralp opened #21632 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/"
**This is a Bug Report**

**Problem:** It is stated that "kubeadm will not install kubelet and kubectl" however it does (when performing install kubeadm in the respective Linux distro i.e. apt-get install kubeadm)

**Proposed Solution:** Update the doc

**Page to Update:**
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl

[2020-06-10 12:30] kubroid opened #21633 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-pod-configmap/"
**This is a Bug Report**

Hey guys, please remove italic from yaml, because it turns pile symbol into slash...
game.properties: |

[2020-06-10 14:51] jimangel opened #21636 "Review "Turnkey Cloud Solutions" for potential removal"
This is a request to review "Turnkey Cloud Solutions" for potential removal:

![image](https://user-images.githubusercontent.com/4601051/84282731-bd727a00-aaff-11ea-8ea3-3cb2f4c89a71.png)

- [ ] https://kubernetes.io/docs/setup/production-environment/turnkey/tencent/
- [ ] https://kubernetes.io/docs/setup/production-environment/turnkey/icp/
- [ ] https://kubernetes.io/docs/setup/production-environ

[2020-06-10 14:57] gunboe opened #21637 "Issue with k8s.io/docs/tutorials/services/source-ip/"
**This is a Bug Report**

**Problem:**
I belive the command bellow is out of date:
[code]
Only change "ExternalIP" to "InternalIP" to get NODES IP correctly.

**Proposed Solution:**
[code]

**Page to Update:**
https://kubernetes.io/docs/tutorials/services/source-ip/#source-ip-for-services-with-type-nodeport

Tested with Kubeadm 1.18

[2020-06-10 15:14] inductor opened #21638 "ja: Improve translation of docs/concepts/services-networking/ingress.md"
**This is a Feature Request**

This is a follow-up issue of #21608. The current ingress page has some work to do as it does not sound quite natural as Japanese.

**What would you like to be added**
Update translation of docs/concepts/services-networking/ingress.md

**Why is this needed**

**Comments**

[2020-06-10 17:39] jimangel opened #21641 "Review "images" page for KEP cleanup"
Review the https://kubernetes.io/docs/concepts/containers/images/ page to see what does and doesn't align with the KEP.

Aligned with: https://github.com/kubernetes/website/issues/20232
Related: https://github.com/kubernetes/website/pull/21023

[2020-06-10 17:52] mladenuzelac opened #21642 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
**This is a Bug Report**

**Problem:**
Interactive console is not working
**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-06-10 17:54] #21642 closed, assigned to nobody

[2020-06-10 19:09] jimangel opened #21643 "Improve 'Release Notes' readability on home page"
Per @kbhawkey feedback on #21096 it would be good to improve the readability.

[2020-06-10 19:42] hrsandhu opened #21644 "Issue with k8s.io/docs/tasks/inject-data-application/define-command-argument-container/"
**This is a Bug Report**

The example on this page does not work it returns:

/bin/bash: - : invalid option
Usage:  /bin/bash [GNU long option] [option] ...
        /bin/bash [GNU long option] [option] script-file ...
GNU long options:
        --debug
        --debugger
        --dump-po-strings
        --dump-strings
        --help
        --init-file
        --login
        --noediting
        -

[2020-06-10 23:11] zacharysarah commented on #21621
@scottstout Thanks for opening this!

Partial fix (allow list/deny list) in https://github.com/kubernetes/website/pull/21591

[2020-06-10 23:32] makochu commented on #21501
@inductor さん　お時間いただいてしまっており失礼いたします。金曜日までにはPRさせていただく予定です。

[2020-06-10 23:48] inductor opened #21645 "ja: Translate /partners/ into Japanese"
**This is a Feature Request**

**What would you like to be added**
Translate /partners/ into Japanese.

**Why is this needed**
This page has not been translated.

**Comments**
/language ja

[2020-06-10 23:49] inductor opened #21646 "ja: Translate /training/ into Japanese"
**This is a Feature Request**

**What would you like to be added**
Translate /training/ into Japanese.

**Why is this needed**
This page has not been translated.

**Comments**
/language ja

[2020-06-11 00:48] gochist commented on #21613
/language ko

[2020-06-11 00:48] gochist commented on #21613
/assign

[2020-06-11 02:03] inductor commented on #21645
/close

[2020-06-11 02:03] #21645 closed

[2020-06-11 02:12] nasa9084 opened #21649 "ja: Unify the transration of "Architecture""
現状表記揺れの発生している `Architecture` の翻訳を `アーキテクチャ` とすることとしたため、 `アーキテクチャー`を `アーキテクチャ` に置き換える

context: https://github.com/kubernetes/website/pull/20880#discussion_r438194745

翻訳スタイルガイドの頻出単語には追加済み: https://kubernetes-docs-ja.kibe.la/notes/1

[2020-06-11 02:13] nasa9084 commented on #21649
/language ja

[2020-06-11 02:13] nasa9084 commented on #21649
/good-first-issue

[2020-06-11 02:32] #18636 closed

[2020-06-11 03:08] truongnh1992 commented on #21616
Thank @celestehorgan
The PR #21622 has just solved the issue. Close!

[2020-06-11 03:08] #21616 closed

[2020-06-11 03:17] ysyukr commented on #21311
/close

[2020-06-11 03:17] #21311 closed

[2020-06-11 03:25] makochu commented on #21501
/assign

[2020-06-11 03:34] nishipy commented on #21005
いちから翻訳するの初めてで恐縮ですが、やってみます。
/assign

[2020-06-11 04:45] ZhiFeng1993 commented on #20673
/close

[2020-06-11 04:46] ZhiFeng1993 commented on #20673
Both PRs have been merged. We can close this issue now. @MikeSpreitzer

[2020-06-11 05:15] BenTheElder commented on #12327
lack of safe downgrades has got to be pretty discouraging for users that
would otherwise upgrade more regularly ...

On Thu, Jun 4, 2020 at 9:14 AM Lubomir I. Ivanov <notifications@github.com>
wrote:

[2020-06-11 06:12] chaspy commented on #21649
/assign

[2020-06-11 07:42] timothyclarke commented on #19611
/remove-lifecycle stale

[2020-06-11 08:33] zbing0203 opened #21654 "translate concepts/storage/persistent-volumes.md to Chinese"
Could you please clarify how to create PV that used by PVC

[2020-06-11 08:36] kubroid commented on #21633
@sftim, aha, sorry, didn't suppose this is github "feature".

[2020-06-11 08:36] #21633 closed

[2020-06-11 09:25] sftim commented on #21633
It's actually a website behaviour and not a GitHub feature. @kubroid please feel free to reopen it as I think you have identified a valid concern.

[2020-06-11 10:04] hikkie3110 commented on #21489
遅くてすみません、土曜にはPR出せるように進めております。

[2020-06-11 10:26] dmoonskim opened #21657 "Translate tasks/debug-application-cluster/debug-running-pod.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/debug-application-cluster/debug-running-pod.md in Korean

**Why is this needed**
No translation tasks/debug-application-cluster/debug-running-pod.md in Korean

**Comments**

https://kubernetes.io/docs/tasks/debug-application-cluster/debug-running-pod/

[2020-06-11 10:26] dmoonskim commented on #21657
/language ko
/assign

[2020-06-11 10:27] Cweiping commented on #21605
/assign

[2020-06-11 10:33] sftim commented on #21643
/priority important-longterm
/language en

I think it's important to help people find Kubernetes software artifacts to download.

[2020-06-11 10:38] sftim commented on #21654
(if updating the _zh_ localization, amend the _en_ localization first and then localize that to _zh_)

[2020-06-11 10:40] #16868 closed

[2020-06-11 11:00] sftim commented on #21641
/priority important-longterm
/language en

[2020-06-11 12:27] cbernet opened #21660 "Issue with k8s.io/docs/tutorials/kubernetes-basics/explore/explore-interactive/"
**This is a Bug Report**

Hello, I've updated this issue after progressing in my understanding of the basics of kubernetes, and I can provide more information / perform more tests if needed.

**Problem:**

I'm running the tutorial locally on macOS 10.13.6. I have installed minikube with homebrew, and have minikube v1.11.0. The first time I started the cluster, I decided to use the docker driver. I

[2020-06-11 14:21] sjmudd opened #21661 "Issue with k8s.io/docs/concepts/overview/working-with-objects/annotations/"
**Problem:**

I miss a better description with examples that more clearly distinguish between annotations and labels.

I see that you can not select/search on annotations but can on labels, but what I would find useful are a couple of life-like examples where both annotations and labels are used and the description confirms the reason for these choices.

I suspect this is obvious once someone has

[2020-06-11 16:31] qckzr commented on #21610
/assign

[2020-06-11 17:24] harik8 commented on #21611
https://github.com/kubernetes/website/pull/21667

[2020-06-11 21:19] dcbw commented on #12322
We need to have at least N-1/+1 compatibility to handle seamless upgrades.  They *should* move in lock step, but during upgrade kube-proxy may be a version or two behind kubelet and/or a version behind other nodes in the cluster.

[2020-06-11 21:21] bowei commented on #12322
/assign

[2020-06-11 22:16] neolit123 commented on #19165
the document merged

https://github.com/kubernetes/website/pull/19351
https://github.com/kubernetes/website/pull/21651

/close

[2020-06-11 22:16] neolit123 commented on #15444
the document merged

https://github.com/kubernetes/website/pull/19351
https://github.com/kubernetes/website/pull/21651

/close

[2020-06-11 22:16] #19165 closed

[2020-06-11 22:16] #15444 closed

[2020-06-11 23:15] sftim commented on #21661
My gut feeling is that a new Task page could help here.
_or_ maybe there is already a task page, and what's missing is the hyperlink to it

[2020-06-11 23:16] sftim commented on #21660
/language en

[2020-06-11 23:56] azeem2412 opened #21675 "error: Missing or incomplete configuration info"
error: Missing or incomplete configuration info.  Please point to an existing, complete config file:

  1. Via the command-line flag --kubeconfig
  2. Via the KUBECONFIG environment variable
  3. In your home directory as ~/.kube/config

To view or setup config directly use the 'config' command.

please guide i want to create pod but this error appearing again n again.

[2020-06-12 00:16] #21336 closed

[2020-06-12 00:16] #21374 closed

[2020-06-12 00:16] #21377 closed

[2020-06-12 00:16] #21445 closed

[2020-06-12 00:17] #21551 closed

[2020-06-12 01:52] gochist opened #21677 "Outdated files in the dev-1.18-ko.6 branch"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.18-ko.6 branch.

### 182 files to be modified
1. [ ] content/en/_index.html 1 file changed, 1 insertion(+), 4 deletions(-)
1. [ ] content/en/docs/concepts/_index.md 1 file changed, 10 insertions(+), 9 deletions(-)
1. [ ] content/en/docs/concepts/architecture/cloud-controller.md 1 file changed, 7 insertions(+), 7 deletions(-)
1.

[2020-06-12 01:57] gochist commented on #21613
This issue is included in #21677 also.

[2020-06-12 02:45] ysyukr commented on #21677
/assign

[2020-06-12 04:13] seokho-son commented on #21677
@ysyukr Cloud you include
"content/ko/docs/contribute/localization_ko.md " in the outdated files ?

It is about "Add new words for API Objects to Korean glossary" (#20985 ) to the master branch.
This PR's been merged after dev-1.18-ko.6 branch was created, but I hope this change be included in dev-1.18-ko.6.

[2020-06-12 04:27] #20984 closed

[2020-06-12 05:19] seokho-son opened #21678 "Support request to squash bugs in Korean contents"
**This is Support**

The dev-1.18-ko.6 (the latest Korean localization work branch)
is a special branch focused on squashing bugs in the Korean documents.

You may report any bugs in the existing Korean documents.

Some examples of ways to report (Issue) or revise (PR to dev-1.18-ko.6) bugs are as follows,

1) Fix documents according to [Korean localization guide](https://kubernetes.io/ko/docs/con

[2020-06-12 05:21] seokho-son commented on #21678
/language ko
/help
/good-first-issue

[2020-06-12 05:26] #21416 closed

[2020-06-12 05:26] #21097 closed

[2020-06-12 05:27] #20933 closed

[2020-06-12 06:57] CriaHu opened #21683 "list 404 urls"
**This is Support**

## CONTRIBUTING.md
~~[404] http://kubernetes.io/docs/home/contribute/page-templates/~~

## README-es.md
~~[404] http://kubernetes.io/docs/contribute/style/page-templates/~~

## README.md
[404] https://kubernetes.io/docs/contribute/style/page-templates/

## content/de/docs/setup/minikube.md
~~[404] https://git.k8s.io/minikube/docs/drivers.md~~
~~[404] https://git.k8s.io/minikub

[2020-06-12 07:20] inductor commented on #21646
/close

[2020-06-12 07:20] #21646 closed

[2020-06-12 07:22] inductor commented on #21367
来週1.17-ja.2ブランチをmasterに取り込む予定のため、今週末にPull Requestが出なさそうであれば一旦assignをはず扨せていただきます。
よろしくお願いしします！

[2020-06-12 07:22] inductor commented on #21399
来週1.17-ja.2ブランチをmasterに取り込む予定のため、今週末にPull Requestが出なさそうであれば一旦assignを外させていただきます。
よろしくお願いしします！

[2020-06-12 07:23] inductor commented on #21489
来週1.17-ja.2ブランチをmasterに取り込む予定のため、今週末にPull Requestが出なさそうであれば一旦assignを外させていただきます。
よろしくお願いしします！

[2020-06-12 07:23] inductor commented on #21497
来週1.17-ja.2ブランチをmasterに取り込む予定のため、今週末にPull Requestが出なさそうであれば一旦assignを外させていただきます。
よろしくお願いしします！

[2020-06-12 07:23] inductor commented on #21514
来週1.17-ja.2ブランチをmasterに取り込む予定のため、今週末にPull Requestが出なさそうであれば一旦assignを外させていただきます。
よろしくお願いしします！

[2020-06-12 07:23] inductor commented on #21649
@chaspy 来週1.17-ja.2ブランチをmasterに取り込む予定のため、今週末にPull Requestが出なさそうであれば一旦assignを外させていただきます。
よろしくお願いしします！

[2020-06-12 07:26] Arhell commented on #21560
/close

[2020-06-12 07:26] #21560 closed

[2020-06-12 07:28] prasadkatti commented on #21683
The right links for minikube are probably -

https://git.k8s.io/minikube/docs/drivers.md --> https://minikube.sigs.k8s.io/docs/drivers/

https://github.com/kubernetes/minikube/blob/master/docs/drivers.md --> https://minikube.sigs.k8s.io/docs/drivers/

 https://git.k8s.io/minikube/docs/contributors/adding_a_dependency.md --> https://minikube.sigs.k8s.io/docs/contrib/building/iso/

https://git.k8s.i

[2020-06-12 07:30] k-srkw commented on #21514
遅くなってごめんなさい！明日の午前中までにPR出す予定です。

[2020-06-12 09:26] tengqm commented on #21675
/language en

[2020-06-12 09:26] tengqm commented on #21683
/language en

[2020-06-12 09:29] tengqm commented on #21654
The https://kubernetes.io/docs/concepts/storage/persistent-volumes page is not yet translated.

[2020-06-12 09:32] tengqm commented on #21644
Pls be specific about the example that fails and the image you used.

[2020-06-12 09:38] tengqm commented on #21637
/language en
I agree that the existence of external IP is irrelevant in this context.

[2020-06-12 09:40] tengqm commented on #21636
/language en

[2020-06-12 09:41] tengqm commented on #21632
This statement still holds true, right? So the issue here can be closed?

[2020-06-12 09:43] tengqm commented on #21623
Looks like the problem is gone. Pls feel free to reopen if not.

[2020-06-12 09:43] tengqm commented on #21623
/close

[2020-06-12 09:44] #21623 closed

[2020-06-12 09:46] tengqm commented on #19099
This is done.
/close

[2020-06-12 09:46] #19099 closed

[2020-06-12 10:25] sftim commented on #21683
Some of these broken links are for non-English localizations
/remove-language en

[2020-06-12 10:26] sftim commented on #21683
BTW, we usually don't fix broken links in blog articles older than 24 months
(it's OK to discuss an exception, eg if an article is very popular or the target page is exploited)

[2020-06-12 10:27] sftim commented on #21675
@azeem2412 can you explain more about the documentation page that needs fixing? It sounds like something is not right, but from what we know at this point we can't tell which page is wrong.

/triage needs-information

[2020-06-12 10:29] dumlutimuralp commented on #21632
I' d at least expect the additional info that @neolit123 mentioned above (about dependencies) to be added to the original K8S.io page. My 2 cents. Thanks.

[2020-06-12 13:21] neolit123 commented on #21632
i think it's just misleading.

executing kubeadm does not download kubectl or kubelet from the internet for the user.
however, installing the kubeadm DEB/RPM package has kubelet and kubectl as dependencies, so they end up being installed.

[2020-06-12 15:51] celestehorgan opened #21687 "Umbrella issue: Reorganize Advanced Contributing, Participation in SIG Docs to reduce duplication"
This is a belated follow-up to https://github.com/kubernetes/website/issues/18878.

A proposal to do the following:
1) Make [Participate in SIG Docs](https://kubernetes.io/docs/contribute/participating/) its own subsection, similar to other sections under contribute.
2) Break out topics on https://kubernetes.io/docs/contribute/participating/ and https://kubernetes.io/docs/contribute/advanced/ into

[2020-06-12 16:12] hrsandhu commented on #21644
Sorry please close this issue, upon further review everything is working correctly there was a problem with the container I was using.

[2020-06-12 16:12] #21644 closed

[2020-06-12 18:29] celestehorgan commented on #21687
/assign celestehorgan
/kind cleanup

[2020-06-12 19:12] #18174 closed

[2020-06-12 19:30] sjmudd commented on #21661
Clearly this is not a big thing but if there's better other information which explains this better then I think it would be useful for people who are new to kubernetes.

[2020-06-12 20:07] divya-mohan0209 commented on #19506
@sftim Are we  good to close this issue since the related PR was approved by you and merged successfully?

[2020-06-12 20:08] AlexPSplunk opened #21688 "Issue with k8s.io/docs/tasks/access-application-cluster/port-forward-access-application-cluster/"
**This is a Bug Report**

On the page: https://kubernetes.io/docs/tasks/access-application-cluster/port-forward-access-application-cluster/#forward-a-local-port-to-a-port-on-the-pod
Under the section:  Forward a local port to a port on the Pod
This page suggests using kubectl port-forward to forward ports to your pod.  However, kubectl port-forward does not return, it is not daemonized by default.

[2020-06-12 22:01] ryok-0319 commented on #21367
すみません、遅くなりましたがこちら今からやります

[2020-06-12 23:22] ryok-0319 commented on #21367
PR作成完了しました

[2020-06-13 00:59] oke-py commented on #21283
/close

[2020-06-13 00:59] #21283 closed

[2020-06-13 01:13] tengqm commented on #21687
Sounds a good plan to me. +1

[2020-06-13 01:59] inductor commented on #21367
/close

[2020-06-13 01:59] inductor commented on #21367
@ryok-0319 迅速な対応ありがとうございます！！

[2020-06-13 02:01] #21367 closed

[2020-06-13 02:14] tengqm commented on #21632
@dumlutimuralp Makes sense.

[2020-06-13 02:36] inductor commented on #21461
/close

[2020-06-13 02:36] inductor commented on #21556
/assign

[2020-06-13 02:36] #21461 closed

[2020-06-13 02:43] tengqm commented on #21688
/language en

[2020-06-13 02:49] tengqm commented on #19053
/close
Free free to reopen if we still see it a documentation issue.

[2020-06-13 02:49] #19053 closed

[2020-06-13 02:52] inductor commented on #21556
/close

[2020-06-13 02:52] #21556 closed

[2020-06-13 02:54] oke-py commented on #21514
/close

[2020-06-13 02:54] #21514 closed

[2020-06-13 03:14] tengqm opened #21695 "Remove contents related to dynamic auditing"
The dynamic auditing feature is dropped in 1.19. We need to remove/change related pages:

- [x] tasks/debug-application-cluster/audit.md
- [x] reference/command-line-tools-reference/feature-gates.md

Ref1: https://groups.google.com/forum/#!topic/kubernetes-sig-auth/aV_nXpa5uWU
Ref2: https://github.com/kubernetes/kubernetes/pull/91502

[2020-06-13 03:14] tengqm commented on #21695
/language en
/milestone 1.19

[2020-06-13 03:25] tengqm opened #21696 "Feature gate RotateKubeletClientCertificate GA in 1.19"
The RotateKubeletClientCertificate feature gate has been promoted to GA, and the kubelet --feature-gate RotateKubeletClientCertificate parameter will be removed in 1.20.

ref: https://github.com/kubernetes/kubernetes/pull/91780

[2020-06-13 03:25] tengqm commented on #21696
/language en
/milestone 1.19

[2020-06-13 03:29] tengqm commented on #21696
/assign

[2020-06-13 03:39] ariscahyadi commented on #20111
I am working on this `/docs/tasks/configure-pod-container/pull-image-private-registry/`

[2020-06-13 04:23] rvmiller89 opened #21698 "Broken link in concepts/overview/kubernetes-api/"
**This is a Bug Report**

**Problem:**

There is a broken link to "CustomResourceDefinition" in concepts/overview/kubernetes-api/

URL: https://kubernetes.io/docs/concepts/overview/kubernetes-api/#api-groups

The linked page receives a 404 error: https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resource-definitions/

**Proposed Solution:**

The link should be updated to link to https://ku

[2020-06-13 04:32] tengqm commented on #21698
/language en

[2020-06-13 04:33] tengqm commented on #21698
/assign

[2020-06-13 05:43] inductor commented on #19244
/close

[2020-06-13 05:43] #19244 closed

[2020-06-13 05:46] inductor commented on #21501
/close

[2020-06-13 05:46] #21501 closed

[2020-06-13 06:23] #18695 closed

[2020-06-13 06:50] tengqm commented on #21661
/language en

[2020-06-13 06:53] tengqm commented on #21598
/assign

[2020-06-13 07:28] inductor commented on #19361
/close

[2020-06-13 07:29] #19361 closed

[2020-06-13 07:29] inductor commented on #20905
/close

[2020-06-13 07:30] #20905 closed

[2020-06-13 07:32] tengqm commented on #21596
Please propose the exact issue to fix. The page you pointed is an translation from the English version. Maybe there is something we can improve there. This one is not actionable.
/close

[2020-06-13 07:32] #21596 closed

[2020-06-13 07:48] tengqm commented on #21585
Tried this on a ubuntu box but cannot reproduce.
Also this doesn't look like an issue of the documentation.
Please try stackflow or slack channel or file an issue in kubernetes/kubernetes.
/close

[2020-06-13 07:48] #21585 closed

[2020-06-13 07:49] tengqm commented on #21583
closing as a dup of #21429

[2020-06-13 07:49] tengqm commented on #21583
/close

[2020-06-13 07:49] #21583 closed

[2020-06-13 07:54] tengqm commented on #21576
Looks like this is fixed. At least no longer an issue with Chrome or Firefox. Pls feel free to reopen this if the problem persists.
/close

[2020-06-13 07:54] #21576 closed

[2020-06-13 08:04] tengqm commented on #21568
/assign

[2020-06-13 08:09] tengqm commented on #21547
Please report the bug to the [minikube project](https://github.com/kubernetes/minikube/issues) because this doesn't look like a doc issue.
/close

[2020-06-13 08:09] #21547 closed

[2020-06-13 08:11] tengqm commented on #21546
This is not a doc issue.
/close

[2020-06-13 08:11] #21546 closed

[2020-06-13 08:11] tengqm commented on #21545
/close
Feel free to reopen with details.

[2020-06-13 08:12] #21545 closed

[2020-06-13 08:22] tengqm commented on #21520
/close

[2020-06-13 08:22] #21520 closed

[2020-06-13 08:32] tengqm commented on #21494
/sig security

[2020-06-13 08:36] tengqm commented on #21494
/sig auth

[2020-06-13 08:52] tengqm commented on #21383
Fixed.
/close

[2020-06-13 08:53] #21383 closed

[2020-06-13 08:55] tengqm commented on #21357
Fixed by #21592
/close

[2020-06-13 08:55] #21357 closed

[2020-06-13 08:58] tengqm commented on #21360
If you have closely followed the manual, you will see where the `default.conf` file comes from.

/close

[2020-06-13 08:58] #21360 closed

[2020-06-13 08:59] tengqm commented on #21347
It's gone, I believe.
/close

[2020-06-13 09:00] #21347 closed

[2020-06-13 09:02] tengqm commented on #21293
/language en

[2020-06-13 09:02] tengqm commented on #21292
/close

[2020-06-13 09:02] #21292 closed

[2020-06-13 09:04] tengqm commented on #21263
pls instead open an issue for English content. The Chinese page is only a translation.
/close

[2020-06-13 09:04] #21263 closed

[2020-06-13 09:06] tengqm commented on #21263
btw, the following step is  the download step:

  && chmod +x minikube

[2020-06-13 09:07] tengqm commented on #21250
I believe the mentioned pages are all fixed. Please feel free to reopen if there are still such issues.
/close

[2020-06-13 09:07] #21250 closed

[2020-06-13 09:08] tengqm commented on #21246
Fixed by #21379
/close

[2020-06-13 09:09] #21246 closed

[2020-06-13 09:10] tengqm commented on #21241
/sig auth
/sig node
/language en

[2020-06-13 09:13] tengqm commented on #21240
Please check if [this PR](https://github.com/kubernetes/website/pull/21372) is what you wanted.

[2020-06-13 09:22] tengqm commented on #21233
Can you try file an issue at https://github.com/kubernetes/dashboard/issues ?
It looks like something is broken in the source code implementation since the SchemaError is not related to how you are using/documenting it.

Feel free to reopen this if there is a workaround from documentation side.

/close

[2020-06-13 09:22] #21233 closed

[2020-06-13 09:23] tengqm commented on #21232
/close

Pls feel free to reopen with detailed info on what is broken.

[2020-06-13 09:23] #21232 closed

[2020-06-13 09:27] tengqm commented on #21184
Sounds nothing needs a fix. Feel free to reopen if there IS an issue.
/close

[2020-06-13 09:27] #21184 closed

[2020-06-13 09:37] tengqm commented on #21180
/sig api-machinery

[2020-06-13 13:02] tengqm commented on #21149
Let's track the problem using #8402.
/close

[2020-06-13 13:02] #21149 closed

[2020-06-13 13:03] tengqm commented on #18755
Let's track the issue using #8402
/close

[2020-06-13 13:04] #18755 closed

[2020-06-13 13:25] tengqm commented on #21109
Yes. We'd like to have docs for kubelet config, scheduler config, etc, although the best we have at the moment is the goDocs.

[2020-06-13 13:26] tengqm commented on #21558
related: #21109

[2020-06-13 13:28] tengqm commented on #18872
Let's close it. Feel free to open if the suggested command doesn't work.
/close

[2020-06-13 13:28] #18872 closed

[2020-06-13 13:30] tengqm commented on #18617
Any conclusions on this? Is this a doc bug to fix or we are okay to close it?

[2020-06-13 13:32] tengqm commented on #21109
/language en

[2020-06-13 13:40] hikkie3110 commented on #21489
そうだったのですね。承知しました。
もうすぐ出しますーmm

[2020-06-13 13:46] chrisUsick commented on #21109
What do you think about adding 1 small paragraph to the synopsis of kubelet linking to the goDocs?

[2020-06-13 14:47] gochist commented on #21677
제가 다음의 범위를 작업 중입니다.

`contribute/review/for-approvers.md`
...
`tasks/administer-cluster/manage-resources/quota-pod-namespace.md`

[2020-06-13 15:52] inductor commented on #21399
/close

[2020-06-13 15:52] #21399 closed

[2020-06-13 16:44] wiv33 opened #21715 "Issue with k8s.io/ko/docs/tutorials/stateful-application/zookeeper/"
**This is a Bug Report**

**Problem:**
This error occurs when you run this yaml file.
I didn't even find the image of zookeeper.
help me.
---

kubectl apply -f https://k8s.io/examples/application/zookeeper/zookeeper.yaml

2020-06-13 16:17:16,249 [myid:1] - INFO  [NIOServerCxn.Factory:0.0.0.0/0.0.0.0:2181:NIOServerCnxnFactory@192] - Accepted socket connection from /127.0.0.1:35606

[2020-06-13 17:03] #21698 closed

[2020-06-13 17:23] sftim commented on #19506
https://kubernetes.io/docs/contribute/#sig-members-documenting-new-features has gone entirely, I think

/close

[2020-06-13 17:23] #19506 closed

[2020-06-13 17:45] inductor commented on #21638
/assign

[2020-06-13 18:03] sftim opened #21718 "Distinguish between shell and sample output"
**This is a Feature Request**

**What would you like to be added**
Use CSS, possibly accompanied by Markdown changes, to change the rendered site so that commands and their sample output are easy to distinguish.

**Why is this needed**
It's sometimes hard to see which code blocks are commands to type and which represent sample output.

**Comments**
I'd wait until PR #20874 switches the website to

[2020-06-13 18:33] #21568 closed

[2020-06-13 19:01] Arhell commented on #21209
/close

[2020-06-13 19:01] #21209 closed

[2020-06-13 19:07] sftim commented on #18617
Happy to close this if no further update.
/remove-priority backlog
/priority awaiting-more-evidence

[2020-06-13 22:18] sftim opened #21720 "Sample output and commands not clealry distinguished in ZooKeeper StatefulSet task"
**This is a Bug Report**

**Problem:**
[_Running ZooKeeper, A Distributed System Coordinator_](https://kubernetes.io/docs/tutorials/stateful-application/zookeeper/) has some places where the sample output is syntax-highlighted as if it were Bourne shell code, when it isn't.

For example, this text from that page isn't shell code:
[code]

**Proposed Solution:**
Revise the Markdown (https://github.c

[2020-06-13 23:14] sftim opened #21721 "Bad / incorrect advice in “Managing Resources” concept page"
**This is a Bug Report**

**Problem:**
[_Managing Resources_](https://kubernetes.io/docs/concepts/cluster-administration/manage-deployment/) suggests some command that don't make sense; for example:
[code]
and there's a discrepancy between (in some places) `examples/application/nginx/` versus `docs/concepts/cluster-administration/nginx/`

**Proposed Solution:**
Carefully review the page. Work thro

[2020-06-13 23:55] tengqm commented on #21109
@chrisUsick That is doable as a workaround.

[2020-06-14 01:11] tengqm commented on #21079
I do think the current text is more accurate.

[2020-06-14 01:13] tengqm commented on #21057
@prasadkatti would you like to self assign this with a fix?

[2020-06-14 01:14] tengqm commented on #21055
/close

[2020-06-14 01:14] #21055 closed

[2020-06-14 01:25] tengqm commented on #19125
For questions not related to the documentation, please try stackoverflow, e.g. [search for kubectl exec](https://stackoverflow.com/search?q=kubectl+exec), or ask questions on the [slack channel](https://kubernetes.slack.com/archives/C09NXKJKA).

In your case, obviously 'kubectl exec -it ...' worked, you have got some troubles running 'wget'. That is not something related to k8s.

/close

[2020-06-14 01:25] #19125 closed

[2020-06-14 01:29] tengqm commented on #21049
Solved.
/close

[2020-06-14 01:29] #21049 closed

[2020-06-14 01:30] tengqm commented on #21022
/language en

[2020-06-14 01:46] tengqm commented on #20992
This is almost fixed. There are some leftovers related to the ordered list.
/assign

[2020-06-14 01:50] tengqm commented on #18617
@siicosmos Need your help to confirm this is not a corner case not covered by the documentation. Or else we are about to close this issue. Thanks.

[2020-06-14 01:54] inductor commented on #21497
@akitok ping

[2020-06-14 01:54] inductor commented on #21649
@chaspy ping

[2020-06-14 01:58] tengqm commented on #20967
/language en

[2020-06-14 02:01] tengqm commented on #20948
The problem is that the Chinese version of the authentication page doesn't exists yet.
/close

[2020-06-14 02:01] #20948 closed

[2020-06-14 02:05] tengqm commented on #20940
Double checked and agree with @prasadkatti, all code snippets are properly rendered.
Please feel free to reopen this if the issue persists (e.g. you have just created your own non-standard browser). :)
/close

[2020-06-14 02:05] #20940 closed

[2020-06-14 02:06] tengqm commented on #20934
confirmed. this is a dup of a closed issue.
pls feel free to reopen if that is not true.
/close

[2020-06-14 02:07] #20934 closed

[2020-06-14 02:11] tengqm commented on #20925
Yep. A related, pretty common issue is about the key and values in a YAML manifest. I'm more inclined to say this:

[2020-06-14 02:13] tengqm commented on #20925
/language en

[2020-06-14 02:18] tengqm commented on #20921
So far

- [x] https://kubernetes.io/docs/tutorials/hello-minikube/
- [x] https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/
- [x] https://kubernetes.io/docs/concepts/workloads/controllers/deployment/
- [ ] https://k8s.io/docs/setup/production-environment/tools/kubeadm/high-availability/, fix proposed #21722

Can we close this after #21722 is in?

[2020-06-14 02:19] tengqm commented on #20921
/language en

[2020-06-14 02:22] tengqm commented on #20918
This issue was solved for both markdown engines we used. Looks like no longer an issue. Pls feel free to reopen if it resurface somewhere again.

/close

[2020-06-14 02:22] #20918 closed

[2020-06-14 02:23] tengqm commented on #20915
Things all look good now. Closing this.
/close

[2020-06-14 02:23] #20915 closed

[2020-06-14 02:24] tengqm commented on #20911
done.
/close

[2020-06-14 02:24] #20911 closed

[2020-06-14 02:26] tengqm commented on #20910
Isn't [this section](https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/#create-a-pod-that-uses-your-secret) helpful?

[2020-06-14 02:27] tengqm commented on #20910
/language en

[2020-06-14 02:28] tengqm commented on #20904
Should have been fixed. Feel free to reopen if there are still issues.
/close

[2020-06-14 02:28] #20904 closed

[2020-06-14 02:29] tengqm commented on #20897
/language en

[2020-06-14 02:30] tengqm commented on #20888
/language en

[2020-06-14 02:31] tengqm commented on #20895
/language en

[2020-06-14 02:33] tengqm commented on #20873
@Francesco1971 Please try raise your question on stackoverflow.com or [kubernetes-users](https://kubernetes.slack.com/archives/C09NXKJKA) slack channel. This issue doesn't sound like a documentation bug for us to fix.
/close

[2020-06-14 02:33] #20873 closed

[2020-06-14 02:34] tengqm commented on #20866
/kind feature
/language en

[2020-06-14 02:42] tengqm commented on #20862
Are everyone happy with this discussion? We do have some guidelines for docs ( https://kubernetes.io/docs/contribute/style/style-guide/#use-camel-case-for-api-objects) and there is a bugfix request raised in the broader community for clarification.

Can we close this now?

[2020-06-14 02:44] tengqm commented on #20862
Labeling this as an English issue, although some other languages may have similar questions.
/language en

[2020-06-14 02:46] tengqm commented on #20853
/language en
/sig architecture

[2020-06-14 02:47] tengqm commented on #20852
/language en
/sig architecture
/kind bug

[2020-06-14 02:51] tengqm commented on #20849
The question is ... why do you want to create binary configmap from command line instead of from a file? How would you type in binary data from command line?

[2020-06-14 03:06] tengqm commented on #20849
/language en

[2020-06-14 03:07] tengqm commented on #20841
/close

[2020-06-14 03:07] #20841 closed

[2020-06-14 03:09] tengqm commented on #20837
If you read and follow the steps carefully, you will find that the `default.conf` file is located at https://github.com/kubernetes/examples/tree/master/staging/https-nginx/
/close

[2020-06-14 03:10] #20837 closed

[2020-06-14 03:11] tengqm commented on #20834
actually the command suggested is `kubectl apply -f kube-state-metrics/examples/standard`, i.e. the directory is there.

/close

[2020-06-14 03:12] #20834 closed

[2020-06-14 03:12] tengqm commented on #20814
/language en
/kind feature

[2020-06-14 03:15] tengqm commented on #20813
/language en
/kind cleanup

[2020-06-14 03:23] tengqm commented on #20808
/assign

[2020-06-14 03:37] tengqm commented on #20799
@devdatta-m I'm closing this issue since it doesn't look like a feature request or bug report related to documentation.

If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/).

You can also post your question on the [Kubernetes Slack](http

[2020-06-14 03:37] #20799 closed

[2020-06-14 03:38] tengqm commented on #20782
Issue fixed by #20784.
/close

[2020-06-14 03:38] #20782 closed

[2020-06-14 03:39] tengqm commented on #20777
Smells like an accidental click/report. Feel free to reopen if there ARE issues to report.

/close

[2020-06-14 03:39] #20777 closed

[2020-06-14 03:40] tengqm commented on #20762
This list of issues tracks bug reports and feature requests for the Kubernetes documentation.

If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [

[2020-06-14 03:40] #20762 closed

[2020-06-14 03:41] tengqm commented on #20760
/language en

[2020-06-14 04:07] tengqm commented on #20709
have you tried `Install-Script -Name install-kubectl -Scope CurrentUser -Force -Debug` and see if the `Install-Script` was a success? Sometimes PowerShell just fail silently.

I'm gonna close this issue because it doesn't look like a documentation error. Please feel free to reopen if you believe there are something the doc site needs to fix.

This list of issues tracks bug reports and feature requ

[2020-06-14 04:07] #20709 closed

[2020-06-14 04:09] tengqm commented on #20708
closing as a dup of #20709
/close

[2020-06-14 04:09] #20708 closed

[2020-06-14 04:11] tengqm commented on #20701
fixed by #20723
/close

[2020-06-14 04:11] #20701 closed

[2020-06-14 04:13] tengqm commented on #20688
/close
Done.

[2020-06-14 04:14] #20688 closed

[2020-06-14 04:14] tengqm commented on #20673
Feel free to reopen if there are more fixes expected.
/close

[2020-06-14 04:15] #20673 closed

[2020-06-14 04:16] tengqm commented on #20672
Smells like an accidental click/report and the author is busy clicking other buttons. Feel free to reopen if there ARE issues to report.

/close

[2020-06-14 04:16] #20672 closed

[2020-06-14 04:19] tengqm commented on #20666
/kind feature
/language en

[2020-06-14 04:20] tengqm commented on #20665
/language en

[2020-06-14 04:37] tengqm commented on #20655
/language en
/sig instrumentation

[2020-06-14 04:38] tengqm commented on #20654
dup of #20655
/close

[2020-06-14 04:38] #20654 closed

[2020-06-14 04:39] tengqm commented on #20652
/language en
/sig instrumentation

[2020-06-14 04:41] tengqm commented on #20644
/language en
/sig storage

[2020-06-14 04:42] tengqm commented on #20626
/team catacoda
/language en

[2020-06-14 04:45] tengqm commented on #20617
/language en
/kind feature
/sig api-machinery

[2020-06-14 04:50] tengqm commented on #20603
We are currently in an awkward situation where kubectl run is being deprecated while `kubectl create` equivalent is still catching up wrt specifying ports etc.
/language en
/kind feature
/sig cli

[2020-06-14 04:51] tengqm commented on #20601
/kind feature
/language en

[2020-06-14 04:51] #21613 closed

[2020-06-14 04:55] tengqm commented on #20587
The current logic is that the "pod overview" page will lead you to more details on the [pod](https://kubernetes.io/docs/concepts/workloads/pods/pod/) page, where you can find the link to the API doc you suggested. We simply cannot squeeze every detail to a single page.
Regarding the 'workload' link, ... it is not a link, just a glossary.
/close

[2020-06-14 04:55] #20587 closed

[2020-06-14 04:57] tengqm commented on #20581
Yup. This is a dup of #19405
Let's track the issue there.
/close

[2020-06-14 04:57] #20581 closed

[2020-06-14 04:57] tengqm commented on #19405
/language en
/lifecycle frozen

[2020-06-14 04:59] tengqm commented on #20570
Smells like an accidental click/report. Feel free to reopen if there ARE issues to report.

/close

[2020-06-14 05:00] #20570 closed

[2020-06-14 05:05] tengqm commented on #20558
/language en

[2020-06-14 05:05] tengqm commented on #20558
/kind bug

[2020-06-14 05:11] tengqm commented on #20558
The English page has been fixed on Apr 24.

[code]

Let's leave the localization teams to do the sync.
/close

[2020-06-14 05:11] #20558 closed

[2020-06-14 05:14] tengqm commented on #20557
the generators are all deprecated along with all flags unrelated to creating Pods. Let's refrain from confusing users at this stage.

/close

[2020-06-14 05:15] #20557 closed

[2020-06-14 05:18] tengqm commented on #20556
/language en
/sig scalability

[2020-06-14 05:24] tengqm commented on #20546
This issue has been fixed. Feel free to reopen if the link still doesn't work.
/close

[2020-06-14 05:24] #20546 closed

[2020-06-14 05:26] tengqm commented on #20545
close for now. We can always revisit this when we have a standard way of expressing regex support.
/close

[2020-06-14 05:26] #20545 closed

[2020-06-14 05:30] tengqm commented on #20540
No. `10.0.170.92` is already the ClusterIP. The Pod's IPv4 address, in that example, is `10.244.3.8`. The command comment wanted to be accurate so that users know they will use the Pod IP rather than what is given in the example.

/close

[2020-06-14 05:30] #20540 closed

[2020-06-14 05:31] tengqm commented on #20536
There is no load balancer in Kubernetes. You have to check with your cloud vendor.

/close

[2020-06-14 05:31] #20536 closed

[2020-06-14 05:34] tengqm commented on #20498
/kind feature
/language en
/help

[2020-06-14 05:37] tengqm commented on #20497
@smirnov-mi Can we close this issue now?

[2020-06-14 05:37] tengqm commented on #20491
Done.
/close

[2020-06-14 05:38] #20491 closed

[2020-06-14 05:39] tengqm commented on #20485
/language en
/kind feature

[2020-06-14 05:40] tengqm commented on #20476
I believe it was cause by a bad weather that day. Pls try if things work now and reopen this if the server still says 500.
/close

[2020-06-14 05:40] #20476 closed

[2020-06-14 05:41] tengqm commented on #20474
There is nothing left to do from website's perspective. Related enhancement request has been logged into the reference-tools project.
/close

[2020-06-14 05:42] #20474 closed

[2020-06-14 05:45] tengqm commented on #20473
/language en

[2020-06-14 05:48] tengqm commented on #20471
see: https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#containerstate-v1-core

/close

[2020-06-14 05:48] #20471 closed

[2020-06-14 05:49] tengqm commented on #20469
No response from the author for more than 1 month. Closing.
/close

[2020-06-14 05:49] #20469 closed

[2020-06-14 05:52] tengqm commented on #20456
/sig node

AFAICT, labels for nodes are usually used internally by kubernetes control plane, especially those `*.kubernetes.io/*` ones. I may be wrong though.

[2020-06-14 05:55] tengqm commented on #20448
/language en
/sig network

[2020-06-14 05:56] tengqm commented on #20445
@TomorJM Still working on this?

[2020-06-14 05:58] tengqm commented on #20454
Looks like already fixed.
/close

[2020-06-14 05:58] #20454 closed

[2020-06-14 05:59] tengqm commented on #20414
Done. Thanks. @viniciusbds
/close

[2020-06-14 06:00] #20414 closed

[2020-06-14 06:01] tengqm commented on #20411
Fixed.
/close

[2020-06-14 06:02] #20411 closed

[2020-06-14 06:03] tengqm commented on #20397
/language en

[2020-06-14 06:04] tengqm commented on #20387
Won't fix this before the English site gets a architecture diagram.
/close

[2020-06-14 06:04] #20387 closed

[2020-06-14 06:08] inductor commented on #21649
/close

[2020-06-14 06:08] #21649 closed

[2020-06-14 06:09] inductor opened #21727 "ja: Improve translation of deployment.md"
**This is a Feature Request**

This is a follow-up issue of #21497. The current ingress page has some work to do as it does not sound quite natural as Japanese.

**What would you like to be added**
Update translation of docs/concepts/workloads/controllers/deployment.md

**Why is this needed**

**Comments**
/language ja

[2020-06-14 06:11] #21727 closed

[2020-06-14 06:12] inductor opened #21728 "ja: Improve translation of docs/concepts/workloads/controllers/deployment.md"
**This is a Feature Request**

This is a follow-up issue of #21497. The current ingress page has some work to do as it does not sound quite natural as Japanese.

**What would you like to be added**
Update translation of docs/concepts/workloads/controllers/deployment.md

**Why is this needed**

**Comments**
/language ja

[2020-06-14 06:12] inductor commented on #21728
/assign

[2020-06-14 06:21] tengqm commented on #20381
This list of issues tracks bug reports and feature requests for the Kubernetes documentation.

If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [

[2020-06-14 06:22] #20381 closed

[2020-06-14 06:23] tengqm commented on #20378
/language en

[2020-06-14 06:24] tengqm commented on #20370
No longer an issue since the related contents are removed.
/close

[2020-06-14 06:24] #20370 closed

[2020-06-14 06:26] tengqm commented on #20364
resolved.
/close

[2020-06-14 06:26] #20364 closed

[2020-06-14 06:26] tengqm commented on #20361
/close
again

[2020-06-14 06:26] #20361 closed

[2020-06-14 06:27] tengqm commented on #20359
yes. the link works.
/close

[2020-06-14 06:27] #20359 closed

[2020-06-14 06:29] tengqm commented on #20357
Fix proposed here: https://github.com/kubernetes-sigs/kubespray/pull/6125

This list of issues tracks bug reports and feature requests for the Kubernetes documentation.

If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/).

You can also

[2020-06-14 06:29] #20357 closed

[2020-06-14 06:30] tengqm commented on #20348
/language en
/sig scheduling

[2020-06-14 06:34] tengqm commented on #20325
it is a version requirement telling you that version before 1.8.0 doesn't have this feature.
/close

[2020-06-14 06:34] #20325 closed

[2020-06-14 06:36] tengqm commented on #20312
/language en

[2020-06-14 06:37] tengqm commented on #20286
/close

Please feel free to reopen if 1.17 doesn't work.

[2020-06-14 06:37] #20286 closed

[2020-06-14 06:38] tengqm commented on #20283
/language en

[2020-06-14 06:38] tengqm commented on #20281
The problem is still there? @marcel-st

[2020-06-14 06:39] tengqm commented on #20254
Link fixed now.
/close

[2020-06-14 06:39] #20254 closed

[2020-06-14 06:41] tengqm commented on #20189
Seems the versions have been upgraded recently. Feel free to reopen if the problem persists.
/close

[2020-06-14 06:41] #20189 closed

[2020-06-14 06:42] tengqm commented on #20183
Indeed, the feature gate was added but ... no description for it.
/language en

[2020-06-14 06:43] tengqm commented on #20176
/close

[2020-06-14 06:43] #20176 closed

[2020-06-14 06:43] tengqm commented on #20165
done
/close

[2020-06-14 06:43] #20165 closed

[2020-06-14 06:44] tengqm commented on #20162
/language en

[2020-06-14 06:47] tengqm commented on #20149
Does this feature exists?
Or you are asking for the doc for an existing feature?
/language en

[2020-06-14 06:47] tengqm commented on #20149
/priority awaiting-more-evidence

[2020-06-14 06:49] tengqm commented on #20137
Done. Feel free to reopen if further actions are desired in addition to #19705.
/close

[2020-06-14 06:49] #20137 closed

[2020-06-14 06:50] tengqm commented on #20134
@davidparks21 Are you okay to close this now?

[2020-06-14 06:51] tengqm commented on #20131
Fixed.
/close

[2020-06-14 06:51] #20131 closed

[2020-06-14 06:52] tengqm commented on #20110
/language en
/priority long-term

[2020-06-14 06:55] tengqm commented on #20088
the problem is about storage, i.e. where your data is persisted.
since the tutorial is not a full featured one, maybe a fix could be adding a warning to that page?

[2020-06-14 06:55] tengqm commented on #20088
/language en

[2020-06-14 06:56] tengqm commented on #20086
The pages are good now.
/close

[2020-06-14 06:57] #20086 closed

[2020-06-14 06:57] tengqm commented on #20084
The text is correct.
/close

[2020-06-14 06:58] #20084 closed

[2020-06-14 06:58] tengqm commented on #20075
/language en
/kind feature

[2020-06-14 06:59] tengqm commented on #20074
/language en

[2020-06-14 07:00] tengqm commented on #20071
/language en

[2020-06-14 07:00] tengqm commented on #20067
/language en

[2020-06-14 07:01] shacharSilbert commented on #20149
It's not exactly a feature, but you do get logs of eviction somewhere.
What I mean here is this - If a pod gets evicted, who gets notified? Where and how can I find out when it happened? How do I handle the situation, which is crucial?

[2020-06-14 07:01] tengqm commented on #20058
/close
Not a doc issue.

[2020-06-14 07:02] #20058 closed

[2020-06-14 07:02] tengqm commented on #20043
This list of issues tracks bug reports and feature requests for the Kubernetes documentation.

If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [

[2020-06-14 07:02] #20043 closed

[2020-06-14 07:03] tengqm commented on #20041
closing as a dup of #15875

/close

[2020-06-14 07:03] #20041 closed

[2020-06-14 07:04] tengqm commented on #15875
/lifecycle frozen
/language en
/kind feature

[2020-06-14 07:05] tengqm commented on #20006
This list of issues tracks bug reports and feature requests for the Kubernetes documentation.

If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [

[2020-06-14 07:05] #20006 closed

[2020-06-14 07:05] pjhwa opened #21729 "Translate tasks/administer-cluster/access-cluster-api.md into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/administer-cluster/access-cluster-api.md into Korean.

**Why is this needed**

There is no document of tasks/administer-cluster/access-cluster-api.md which is translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/tasks/administer-cluster/access-cluster-api/

/language ko

[2020-06-14 07:06] tengqm commented on #20002
/close

This list of issues tracks bug reports and feature requests for the Kubernetes documentation.

If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/)

[2020-06-14 07:06] #20002 closed

[2020-06-14 07:08] tengqm commented on #19985
/language en
/kind bug
/help

[2020-06-14 07:09] smirnov-mi commented on #20497
sure, can be closed, if the documentation reflects the current state now.

[2020-06-14 07:09] tengqm commented on #19977
/language en
/triage needs-information

[2020-06-14 07:10] tengqm commented on #19943
/language en

[2020-06-14 07:11] tengqm commented on #19942
This list of issues tracks bug reports and feature requests for the Kubernetes documentation.

If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [

[2020-06-14 07:11] #19942 closed

[2020-06-14 07:13] tengqm commented on #19910
/language zh

[2020-06-14 07:14] tengqm commented on #19936
/language en

[2020-06-14 07:15] tengqm commented on #19876
/close

[2020-06-14 07:15] #19876 closed

[2020-06-14 07:16] tengqm commented on #20497
@smirnov-mi Thanks for the prompt reply.
/close

[2020-06-14 07:16] #20497 closed

[2020-06-14 07:19] tengqm commented on #20149
Got what you meant, @shacharSilbert
This sounds a big topic.

/sig scheduling

[2020-06-14 07:19] tengqm commented on #20149
/remove priority/awaiting-more-evidence

[2020-06-14 07:36] pjhwa opened #21731 "Incorrect notation of 'directory' into Korean"
**This is a Bug Report**

This issue is related to #21678

**Problem:**
외래어 표기법에 따라 'directory'는 '디렉터리'로 표기합니다.
아래 문서들에는 '디렉토리'로 표기하고 있어 이를 수정할 필요가 있습니다.

- concepts/overview/working-with-objects/annotations.md
- concepts/overview/working-with-objects/object-management.md
- concepts/policy/pod-security-policy.md
- concepts/workloads/controllers/daemonset.md
- contribute/style/write-new-topic.md
-

[2020-06-14 07:53] shuuji3 opened #21733 "Issue with k8s.io/docs/contribute/localization/"
**This is a Bug Report**

**Problem:**
The link [@kubernetes/website-maintainers](https://github.com/orgs/kubernetes/teams/website-maintainers) in "Branching Strategy" section is 404 not found.

**Proposed Solution:**
I don't know the right page.

**Page to Update:**
https://kubernetes.io/docs/contribute/localization/#branching-strategy

[2020-06-14 07:56] pjhwa commented on #21731
#21677 에 대한 PR이 병합된 이후에 PR을 올리도록 하겠습니다.

[2020-06-14 08:00] malimccalla commented on #20910
I didn't find that section helpful as I was working with a deployment not a pod. I'll close this as I've solved my problem but I just remember at the time having to join solutions together from different sources to get it working (the docs, blog posts, SO, etc..)

[2020-06-14 08:00] #20910 closed

[2020-06-14 08:38] Francesco1971 commented on #20873
Hi thank you very much for the answer, I ve used kubectl proxy and I 've copied .kube config on my pc too.
Then I 've executed kubectl proxy and then I was able to use dashboard with token of sa account.
Thank you very much

[2020-06-14 09:01] tengqm commented on #20873
@Francesco1971 Good to know you have learned the `kubectl proxy` tricks, :)

[2020-06-14 09:04] tengqm commented on #20910
Sad to know that image pull secret section wasn't helping. When you see places where the docs can be improved, pls do raise a PR. Thanks.

[2020-06-14 09:20] chendf24 opened #21735 "Issue with k8s.io/zh/docs/setup/learning-environment/minikube/"
**This is a Bug Report**

**Problem:**
Following command in section 2 is used to create a pod instead of creating a deployment.
_kubectl run hello-minikube --image=k8s.gcr.io/echoserver:1.10 --port=8080_

**Proposed Solution:**
Change it to be same with English page:
kubectl create deployment hello-minikube --image=k8s.gcr.io/echoserver:1.10

This command does not have --port parameter, need to ad

[2020-06-14 09:24] inductor commented on #21369
/unassign @grimoh

[2020-06-14 09:24] inductor commented on #21369
/assign

[2020-06-14 09:24] inductor commented on #21369
he could not solve the CLA issue so I will take this over for now.

[2020-06-14 09:47] Francesco1971 commented on #20873
yes very useful thank you again

[2020-06-14 10:06] fml2 commented on #20849
Of course nobody would type in the binary data. The config map would be created from command line using `--from-file`, but the examples show that the result has only the `Data` section is populated. So the question is: how can I force the binaryData field to be populated?

[2020-06-14 10:11] #20992 closed

[2020-06-14 10:12] sftim commented on #20808
/priority important-longterm
/language en

[2020-06-14 10:12] sftim commented on #20808
/kind bug

[2020-06-14 10:13] #20808 closed

[2020-06-14 10:14] sftim commented on #20921
/close

Feel free to reopen if that's wrong

[2020-06-14 10:14] #20921 closed

[2020-06-14 10:32] sftim opened #21738 "Query about accuracy of https://k8s.io/docs/concepts/services-networking/dns-pod-service/#a-aaaa-records-1"
**This is a Bug Report**

**Problem:**
In https://github.com/kubernetes/website/pull/20287#issuecomment-643716266 @arghya88 mentions that the records documented in [Pods→A/AAAA records](https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#a-aaaa-records-1) don't work in their cluster.

**Proposed Solution:**
_Depends on outcome of triage._

**Page to Update:**
https://k8s.io/do

[2020-06-14 10:33] sftim commented on #21738
/priority awaiting-more-evidence
/language en

[2020-06-14 10:36] sftim commented on #20283
/priority important-longterm

@celestehorgan this might be relevant to work you're shepherding, eg https://github.com/kubernetes/website/issues/21687

[2020-06-14 10:37] sftim commented on #20760
/priority awaiting-more-evidence

although I would _like_ this one fixed

[2020-06-14 10:38] sftim commented on #16772
It's also OK to use SVG logos with a transparent background, if that is feasible.

[2020-06-14 10:38] sftim commented on #20110
/priority important-longterm

[2020-06-14 10:41] #20960 closed

[2020-06-14 11:33] tengqm commented on #20849
@fml2 interesting question. Looks like `kubectl create configmap --from-file=...` can detect the file content. However, I'm not aware of any option one can use to force the population of `binaryData` rather than `data`.

[2020-06-14 11:35] tengqm commented on #21735
/language zh
/help

[2020-06-14 11:37] tengqm commented on #21733
The link works. But the team may be not a public one ... so not everyone is able to see it.
/close

[2020-06-14 11:37] #21733 closed

[2020-06-14 11:38] gochist commented on #21731
/kind bug

[2020-06-14 11:40] shuuji3 commented on #21733
I see. Thank you.

[2020-06-14 11:44] tengqm commented on #20749
/language en

[2020-06-14 11:44] tengqm commented on #20749
/sig node

[2020-06-14 11:47] tengqm commented on #20737
Sounds the workaround is working ...
Feel free to reopen this if there are doc side improvement to be done.
/close

[2020-06-14 11:48] #20737 closed

[2020-06-14 11:50] tengqm commented on #20730
/language en

We may need to explicitly state that `kubectl proxy` never returns. You will have to open a new terminal to perform any operations.

[2020-06-14 11:52] tengqm commented on #20728
/language en

[2020-06-14 11:59] inductor commented on #21369
/close

[2020-06-14 11:59] #21369 closed

[2020-06-14 11:59] inductor commented on #21638
/close

[2020-06-14 11:59] #21638 closed

[2020-06-14 12:18] shuuji3 opened #21739 "Translate concepts/architecture/controller into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [concepts/architecture/controller/](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/architecture/controller.md) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-06-14 12:34] tengqm commented on #20725
/language en

[2020-06-14 12:39] tengqm commented on #20711
/language en
/sig network

[2020-06-14 12:44] tengqm commented on #20461
So it turned out to be the chart using only API resources and the problem is fixed upstream.
There doesn't seem anything to do from docs side.
/close

[2020-06-14 12:44] #20461 closed

[2020-06-14 12:45] tengqm commented on #20456
/language en

[2020-06-14 12:47] tengqm commented on #20191
/language en
/remove-sig cluster-lifecycle

[2020-06-14 12:48] tengqm commented on #20134
/language en

[2020-06-14 12:50] tengqm commented on #20125
Looks like we got a PR for this but ...
/language en

[2020-06-14 12:52] tengqm commented on #19899
/language en

[2020-06-14 12:53] #18714 closed

[2020-06-14 12:56] tengqm commented on #19870
/language en

[2020-06-14 12:57] tengqm commented on #19846
/language en

[2020-06-14 12:58] tengqm commented on #19844
/language en

[2020-06-14 12:59] tengqm commented on #19844
/sig cli

[2020-06-14 13:05] tengqm commented on #19835
/kind feature
/language en
/priority important-longterm

[2020-06-14 13:07] tengqm commented on #19828
/sig auth

[2020-06-14 13:08] tengqm commented on #19819
/language en

[2020-06-14 13:08] tengqm commented on #19812
/close
as a dup

[2020-06-14 13:09] #19812 closed

[2020-06-14 13:09] tengqm commented on #19811
/language en

[2020-06-14 13:10] tengqm commented on #19810
@sujaypillai where are we now?

[2020-06-14 13:11] tengqm commented on #19810
/language en

[2020-06-14 13:11] tengqm commented on #19804
/language en

[2020-06-14 13:13] sftim commented on #14770
/remove-lifecycle stale

[2020-06-14 13:13] tengqm commented on #19789
/language en

any follow up on this? @sftim

[2020-06-14 13:14] sftim commented on #19789
I've filed the issue but haven't made any start on work in this area.

BTW it's not really language/en as I see it - this applies to all localizations

[2020-06-14 13:15] sftim commented on #17698
Still needs looking at
/remove-lifecycle stale

[2020-06-14 13:15] tengqm commented on #19775
/close
as a dup.

[2020-06-14 13:15] #19775 closed

[2020-06-14 13:16] tengqm commented on #19757
Fixed upstream.
/close

[2020-06-14 13:16] #19757 closed

[2020-06-14 13:18] sftim commented on #19264
`kubectl get pods -l run=kubernetes-bootcamp` works for me when I try it @blueelvis

Why do you feel that the existing labels aren't right?

[2020-06-14 13:18] tengqm commented on #19755
/close

due to the proposed fix has been rejected.
Let's see switching over to docsy would fix this.

[2020-06-14 13:18] #19755 closed

[2020-06-14 13:19] tengqm commented on #19703
/language en

[2020-06-14 13:19] sftim commented on #18598
You can _copy_ the text from https://github.com/cncf/foundation/blob/master/code-of-conduct-languages/ru.md to https://kubernetes.io/ru/community/code-of-conduct/

/good-first-issue

[2020-06-14 13:20] tengqm commented on #19688
/close

[2020-06-14 13:20] #19688 closed

[2020-06-14 13:21] tengqm commented on #19680
/language en
/sig app

[2020-06-14 13:22] tengqm commented on #19680
/sig apps

[2020-06-14 13:22] sftim commented on #19308
Now fixed. Preview for PR #20874 looks fine.
/close

[2020-06-14 13:22] #19308 closed

[2020-06-14 13:23] tengqm commented on #19668
/language en

[2020-06-14 13:24] sftim commented on #19703
It's also OK to tackle this site-wide

[2020-06-14 13:25] sftim commented on #14579
/remove-lifecycle stale

[2020-06-14 13:26] tengqm commented on #19656
Looks like the cni-conf.json file is not there anymore
Feel free to reopen if the issue is still there.

/close

[2020-06-14 13:26] #19656 closed

[2020-06-14 13:27] tengqm commented on #19644
/remove-lifecycle stale

We should either fix the doc or remove it.

[2020-06-14 13:27] sftim commented on #14992
/remove-lifecycle stale

[2020-06-14 13:27] tengqm commented on #19644
/language en
/priority backlog

[2020-06-14 13:28] sftim commented on #19554
/close
Thanks

[2020-06-14 13:28] #19554 closed

[2020-06-14 13:29] tengqm commented on #19703
@sftim agree. Labelling `language/en` is only for facilitating issue search. Also, such a change would likely to happen in the English site first and then propagate to other localizations.

[2020-06-14 13:33] tengqm commented on #19789
See my comment to another issue. Adding 'en' lang is only to serve issue search. We all know fixing this will benefit all localizations.

[2020-06-14 13:40] tengqm commented on #19629
/language en

[2020-06-14 13:41] tengqm commented on #19614
/close

[2020-06-14 13:41] #19614 closed

[2020-06-14 13:43] tengqm commented on #19594
This sounds like a support request and the requester is not responding for clarification.
Closing due to inactivity.
/close

[2020-06-14 13:43] #19594 closed

[2020-06-14 14:14] Arhell commented on #19899
/close

[2020-06-14 14:14] #19899 closed

[2020-06-14 14:42] jdetering opened #21740 "Issue with k8s.io/docs/setup/production-environment/container-runtimes/"
**This is a Bug Report**

**Problem: There is an error in the command to Install Docker CE for Ubuntu 16.04+**

**Proposed Solution: Update the command whicht tells to Install Docker CE for Ubuntu.
The command sais:
# Install Docker CE
apt-get update && apt-get install -y \
  containerd.io=1.2.13-2 \
  docker-ce=5:19.03.11~3-0~~ubuntu-$(lsb_release -cs) \
  docker-ce-cli=5:19.03.11~3-0~~ubuntu-$(l

[2020-06-14 15:13] fml2 commented on #20849
Indeed, it seems that the file contents is checked for being a valid UTF-8, see https://github.com/kubernetes/kubernetes/blob/66e3c66eafdcecc49c20f21953b2b069fc17f645/staging/src/k8s.io/kubectl/pkg/generate/versioned/configmap.go#L262-L270.

Does this mean that the `binaryData` (and not `Data`) will be automatically populated if the file contains binary data (as in "not a valid UTF-8")?

[2020-06-14 15:27] inductor commented on #21497
@akitok 月曜日になったのでアサインは一旦外します！
/assign

[2020-06-14 15:30] akitok commented on #21497
@inductor
レスポンス滞ってて、すいません!
ちょうどドキュメント修正していて、もうほぼ修正終わったんですが、
次のブランチで、対応した方が良いでしょうか？

[2020-06-14 15:32] inductor commented on #21497
@akitok 返事がなかったので私の方で対応終えてPR送ろうとしてました。既にできてるようであればアサインしなおします～

[2020-06-14 15:36] akitok commented on #21497
@inductor
了解です！
1時間以内にはPR出せると思います。

[2020-06-14 15:37] inductor commented on #21497
既存の翻訳もいくつか修正したい点があるので、そこも含めてお願いすることになるかと思います。

よろしくお願いします！

[2020-06-14 15:47] inductor commented on #21497
/assign akitok

[2020-06-14 15:47] inductor commented on #21497
/assign @akitok

[2020-06-14 15:48] morty opened #21741 "Issue with k8s.io/docs/concepts/workloads/controllers/cron-jobs/"
**Problem:**
The 5 fields of the cronJob schedule format are not described on the page - there is only a link to some external documetation (https://pkg.go.dev/github.com/robfig/cron?tab=doc#hdr-CRON_Expression_Format). This documentation however is for a 6 field format which include an extra seconds field at the start.

Also the use of `*/1` in the examples isn't required because `*` already mean

[2020-06-14 16:05] inductor commented on #21005
/close

[2020-06-14 16:05] #21005 closed

[2020-06-14 16:06] nishipy commented on #21006
/assign

[2020-06-14 16:38] crixo commented on #20956
/assign
/lifecycle active

[2020-06-14 16:52] inductor commented on #21006
@nishipy 一旦作業止めてもらえると助かります（明日以降で）

[2020-06-14 16:54] nishipy commented on #21006
assignだけして寝ようと思っていたので問題ないです！

[2020-06-14 17:28] inductor commented on #21489
/close

[2020-06-14 17:29] #21489 closed

[2020-06-14 17:38] sftim commented on #19703
How about adding a label: area/css or similar?

[2020-06-14 17:38] inductor commented on #21497
/close

[2020-06-14 17:38] #21497 closed

[2020-06-14 17:52] adityamandhare opened #21747 "Issue with k8s.io/docs/concepts/overview/what-is-kubernetes/"
**This is a Bug Report**

**Problem:**
The paragraph:
[code]
The line `it provides some generally applicable features common to PaaS offerings, such as deployment, scaling, load balancing, logging, and monitoring.` is confusing at the page goes on to say later that K8S does not provide these solutions. `Does not dictate logging, monitoring, or alerting solutions. It provides some integrations as p

[2020-06-14 17:55] jfernancordova opened #21748 "Broken Link in Section Nodes - Spanish Doc"
**This is a Bug Report**

In Spanish Documentation, section [nodes](https://github.com/kubernetes/website/blob/master/content/es/docs/concepts/architecture/nodes.md) exists a broken link, specifically [Objeto API](https://github.com/kubernetes/website/blob/master/content/es/docs/concepts/architecture/nodes.md#objeto-api)

**Problem:**
`[Object Node API](/docs/reference/generated/kubernetes-api/{{<

[2020-06-14 18:10] sftim opened #21749 "Rename "master" branch to "main""
**This is a Feature Request**

**What would you like to be added**
Rename the _master_ branch to _main_

**Why is this needed**
Our live website builds from the [master](https://github.com/kubernetes/website/tree/master) branch
I suggest serving the website from a (new) branch called [main](https://github.com/kubernetes/website/tree/main) instead.

This change avoids using  a term linked with cont

[2020-06-14 18:13] SoumithKumarMudugonda commented on #21720
/assign

[2020-06-14 18:18] ZhiFeng1993 commented on #21735
/assign

[2020-06-14 19:22] sftim opened #21750 "HugePages task includes future developments text"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/tasks/manage-hugepages/scheduling-hugepages/#future includes a statement about the future.
These are best left to [KEPs](https://github.com/kubernetes/enhancements/tree/master/keps) and GitHub issues rather than documentation - see [_avoid statements about the future_](https://kubernetes.io/docs/contribute/style/style-guide/#avoid-s

[2020-06-14 19:23] sftim commented on #21748
/language es
/kind bug

[2020-06-14 19:26] sftim commented on #21741
/kind bug
/priority important-longterm
/language en

[2020-06-14 19:27] sftim commented on #21747
That sounds like a good clarification @adityamandhare

/kind cleanup
/language en
/priority awaiting-more-evidence

[2020-06-14 19:49] sftim opened #21753 "Switch website to use Docsy theme"
**This is a Feature Request**

**What would you like to be added**
Change the website from its existing home-grown(?) theme to use a new theme derived from [Docsy](https://www.docsy.dev/).

**Why is this needed**
Adopting the Docsy theme provides:
- better, automatically generated navigation (including when JavaScript is disabled)
- a user experience tuned for technical documentation
- improved sw

[2020-06-14 20:43] Arhell commented on #21618
/close

[2020-06-14 20:43] #21618 closed

[2020-06-14 20:55] #21748 closed

[2020-06-14 21:27] adityamandhare opened #21755 "Issue with k8s.io/docs/concepts/"
**This is a Bug Report**

**Problem:**
This page states that the kubernetes Control plane has master and kubelet processes as it components:
`The various parts of the Kubernetes Control Plane, such as the Kubernetes Master and kubelet processes, govern how Kubernetes communicates with your cluster.`
As per that I would expect Kubernetes Control Plane to have following components:
1. Kubernetes Mas

[2020-06-14 22:46] firmsoil opened #21756 "Issue with k8s.io/docs/concepts/extend-kubernetes/operator/ - "What's next" broken link"
**This is a Bug Report**

**Problem:**
"What's next" broken link occurs In
"What's next" you'll find a few links to libraries and tools you can use to write your own cloud native Operator
**Proposed Solution:**
1. Provide "What's next" link URL for the text.
2. Create "What's next" content (page, section) if not available already

**Page to Update:**
k8s.io/docs/concepts/extend-kubernetes/operator

[2020-06-14 22:46] #21756 closed

[2020-06-15 02:28] tengqm commented on #18106
@dns2utf8 The command you use should work. What kind of error messages have you got?

[2020-06-15 02:28] tengqm commented on #18106
/remove-lifecycle stale

This seems a common requirement that warrants a cheatsheet entry for kubectl.

[2020-06-15 03:07] tengqm commented on #21740
/language en
/assign

[2020-06-15 03:08] inductor commented on #16212
/unassign

[2020-06-15 03:09] inductor commented on #16212
/remove-lifecycle stale

[2020-06-15 03:15] TomorJM commented on #20445
yeah, and sorry for the delay
i will commit a PR this week

[2020-06-15 04:35] adityamandhare opened #21763 "Issue with k8s.io/docs/concepts/overview/components/"
**This is a Bug Report**

**Problem:**
In the following diagram on the page https://kubernetes.io/docs/concepts/overview/components/
different control plane components are represented in different ways.
![image](https://user-images.githubusercontent.com/12976588/84618257-a802a480-ae9f-11ea-92e2-3018715c2004.png)

I assume the tripe boxes shown for the kube-controller-manager, kube-scheduler and cl

[2020-06-15 06:18] chaspy commented on #21739
/assign

[2020-06-15 06:30] mokua opened #21766 "404 link from concept page"
**This is a Bug Report**

**Problem:**
The link (/docs/home/contribute/style/page-content-types/#concept) from the Concept page is not correct.

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/concepts/

[2020-06-15 07:16] inductor commented on #21739
@chaspy いったん、作業まだやらないでください（masterに既存の翻訳を取り込む大きな作業があるので

[2020-06-15 07:17] oke-py commented on #21739
assigneeが2人いる！？

[2020-06-15 07:19] inductor commented on #21739
あ、ほんとだｗ

/unassign @chaspy

[2020-06-15 08:33] sftim commented on #19811
A similar issue: #21763

[2020-06-15 08:34] sftim commented on #21766
Thanks for spotting this.
/kind bug
/priority backlog
/language en

[2020-06-15 09:02] jdetering opened #21769 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/"
**This is a Bug Report**

**Problem: Documentation contains an error:
URL: https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/
chapter: kubeadm blocks when removing managed containers: https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/#kubeadm-blocks-when-removing-managed-containers
Text in doc:
Inspecting the l

[2020-06-15 09:11] Fale commented on #21611
The PR #21667 has been merged, so we can close this one as well, I think!

[2020-06-15 09:13] #18731 closed

[2020-06-15 09:41] nssachin opened #21771 "Typo in k8s.io/docs/concepts/containers/images/#multi-architecture-images-with-manifests"
**This is a Bug Report**

**Problem:**
There seems to be a wrong spelling in concepts/containers/images/#multi-architecture-images-with-manifests

**Proposed Solution:**

Correct the typo

**Before:**
A manifest can reference image manifests for **architecturew-specific** versions of an container

**After**
A manifest can reference image manifests for **architecture-specific** versions of an conta

[2020-06-15 12:16] #17908 closed

[2020-06-15 13:20] fabriziopandini commented on #21611
/close

[2020-06-15 13:21] #21611 closed

[2020-06-15 13:21] #21562 closed

[2020-06-15 13:31] #21740 closed

[2020-06-15 14:21] pjhwa opened #21775 "Translate tasks/administer-cluster/access-cluster-services.md into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/administer-cluster/access-cluster-services.md into Korean.

**Why is this needed**

There is no document of tasks/administer-cluster/access-cluster-services.md which is translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/tasks/administer-cluster/access-cluster-services/

/language k

[2020-06-15 14:21] pjhwa commented on #21775
/assign

[2020-06-15 14:27] inductor commented on #20886
/close

[2020-06-15 14:27] #20886 closed

[2020-06-15 14:35] gochist commented on #21731
/assign @pjhwa

[2020-06-15 15:01] wabernatScality commented on #20862
I am not satisfied, because I cannot yet see any clear rule about how to capitalize that I can reliably apply. Can you please include a link to the "bugfix request raised in the broader community"?

[2020-06-15 15:18] kbhawkey commented on #21687
Hi @celestehorgan . Here is a bunch of feedback :smile: .
It looks like you want to create a new directory/folder under contribute titled,
`Particpating in SIG Docs` and break up the content from the single pages (Advanced and Particpating) into single page topics.
I am not clear on the pages, `Github automation` as well as `Help new contributors`. I would think that the `Help` topic would be wove

[2020-06-15 15:21] neolit123 commented on #21769
/sig cluster-lifecycle
/good-first-issue
/help
/kind bug

it should have been `-lu` or just `-u`

let's go with:
[code]

[2020-06-15 15:55] kbhawkey opened #21778 "update atom-snippets.cson"
**This is a Feature Request**

The content in the file, `docs/doc-contributor-tools/snippets/atom-snippets.cson` is outdated.

**What would you like to be added**
Determine if SIG Docs contributors use this file to edit the docs.
If the file is needed, update the contents of the file otherwise remove the file.

**Why is this needed**
Content templates and capture shortcode are no longer used.

[2020-06-15 16:06] ZhiFeng1993 commented on #21735
PR merged. We can close this issue.

[2020-06-15 16:18] ZhiFeng1993 commented on #21769
/assign

[2020-06-15 17:12] celestehorgan commented on #21687
Thanks for the feedback @kbhawkey ☺️

GitHub automation covers GitHub-related things that Approvers definitely need to know, but that are helpful for some other roles as well. I think it's a general topic directly under Participating, but I'll admit this wasn't the best name for it.

Help new contributors is _also_ a bad name tbh. Maybe splitting off the topics into the following makes more sense:

[2020-06-15 17:40] sujaypillai commented on #19810
@tengqm Sorry for being late in updating here. I tested it out and below is screenshot for the same error if the user tries to create a ConfigMap without adding the pod resource config in `kustomization.yaml`
<img width="1713" alt="Screenshot 2020-06-16 at 1 19 17 AM" src="https://user-images.githubusercontent.com/3936714/84688646-43644a00-af72-11ea-8235-2b7c983b92bb.png">

[2020-06-15 18:58] #21769 closed

[2020-06-15 19:09] #14992 closed

[2020-06-15 19:09] #21753 closed

[2020-06-15 19:27] Arhell commented on #21142
/close

[2020-06-15 19:27] #21142 closed

[2020-06-15 21:00] zacharysarah opened #21786 "URL 404"
This URL returns 404: https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions

The cause is an incorrect path in the [`_redirects` line](https://github.com/kubernetes/website/blob/master/static/_redirects#L197) responsible for redirecting it.

[2020-06-15 21:02] kbhawkey opened #21788 "adjust integration of announcement banners"
**This is a Feature Request**
The HTML partials, announcements.html and frontpage-announcements.html, contain
a `main` element which duplicates the `main` element found in the body of the page.

This became an issue as the docsy theme updates page anchors in the script `anchors.js`.
https://github.com/google/docsy/blob/master/assets/js/anchor.js
This script depends upon the `main` element and fail

[2020-06-15 21:02] kbhawkey commented on #21788
/assign @celestehorgan

[2020-06-15 21:13] #21786 closed

[2020-06-15 21:28] kbhawkey commented on #21429
@KilimAnnejaro , Do you need a hand with this issue? I am happy to help out.

[2020-06-15 21:31] sftim commented on #19142
/remove-lifecycle rotten

[2020-06-15 21:32] sftim commented on #19142
Looks fixed
/close

[2020-06-15 21:33] #19142 closed

[2020-06-15 21:43] sftim commented on #21788
/kind cleanup
/priority important-soon

[2020-06-15 21:44] sftim commented on #21771
Thanks @nssachin
/help
/kind bug
/priority backlog
/language en

[2020-06-15 21:45] sftim commented on #21749
/priority awaiting-more-evidence
/sig contributor-experience

[2020-06-15 21:46] sftim commented on #21778
/kind cleanup
/priority awaiting-more-evidence

[2020-06-15 22:12] sftim opened #21789 "https://kubernetes.io/docs/tasks/ lists example task"
**This is a Bug Report**

**Problem:** Following the [switch](https://kubernetes.io/blog/2020/06/better-docs-ux-with-docsy/) to use Docsy, https://kubernetes.io/docs/tasks/ lists the example task in the navigation. Previously that was hidden.

**Proposed Solution:**
1. Create a Hugo [archetype](https://gohugo.io/content-management/archetypes/) for task pages, and remove the example task.
2. Docume

[2020-06-15 22:13] sftim commented on #21753
PR #20874 introduced a snag for the list of tasks: #21789

[2020-06-15 22:13] sftim commented on #21789
/kind bug
/priority backlog

[2020-06-15 22:14] sftim commented on #21789
/language en

[2020-06-15 22:23] sftim opened #21790 "Pod Overhead concept has better home inside “Scheduling & Eviction”"
**This is a Bug Report**

**Problem:**
[Pod Overhead](https://kubernetes.io/docs/concepts/configuration/pod-overhead/) is about extra resources that a Pod is considered to have by the scheduler, and also by the kubelet when sizing the Pod and during evaluation for eviction.

**Proposed Solution:**
Move the Pod Overhead page inside https://kubernetes.io/docs/concepts/scheduling-eviction/ and add re

[2020-06-15 23:33] zacharysarah commented on #21687
@celestehorgan This looks good! Thank you for taking this on so thoughtfully. ✨ Let's talk this week about how best to support you in the work.

[2020-06-16 00:18] ZhiFeng1993 commented on #21771
/assign

[2020-06-16 00:21] Marusyk commented on #21750
/assign

[2020-06-16 00:55] coolguyhong opened #21793 "Translate StatefulSet word in Korean"
**This is a Bug Report**

**Problem:**
This issue is related to #21678
StatefulSet word is not translated in Korean in concepts/worklods/pods/pod.md

**Proposed Solution:**

Translate StatefulSet word in Korean

**Page to Update:**
https://kubernetes.io/ko/docs/concepts/workloads/pods/pod/

[2020-06-16 00:57] coolguyhong commented on #21793
/language ko
/assign

[2020-06-16 01:21] kbhawkey opened #21795 "style release notes, docsy theme, table text overlap"
**This is a Bug Report**
Since adding the docsy theme, the tables in the v1.18 release notes display with errors.

**Problem:**
The table data overflows into the right hand column (TOC).

**Proposed Solution:**
Investigate wrapping the table text.

**Page to Update:**
https://kubernetes.io/docs/setup/release/notes/#downloads-for-v1-18-0

[2020-06-16 01:31] gochist opened #21796 "No content on the Korean l10n page of 'Determine the Reason for Pod Failure'"
**This is a Bug Report**

**Problem:**
There's no content on the Korean l10n page of 'Determine the Reason for Pod Failure'.

![image](https://user-images.githubusercontent.com/282159/84721683-30766780-afbc-11ea-9626-1a4ddc799817.png)

**Proposed Solution:**
TBD

**Page to Update:**
https://kubernetes.io/ko/docs/tasks/debug-application-cluster/determine-reason-pod-failure/

/language ko
/kind bug

[2020-06-16 01:33] kbhawkey opened #21797 "reduce height of header (top navigation bar, banner, hero)"
**This is a Feature Request**
With the new theme, the header components (navigation bar, announcement banner, header-hero) take up too much space on the page.

**What would you like to be added**
Reduce the height of the header. When you first view a page, most of the page content is not visible.

**Why is this needed**
Show more page content. Minimize the header to a height of about 1-1.5 inches.

[2020-06-16 02:00] bluefriday opened #21799 "Translate tasks/administer-cluster/change-default-storage-class in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/administer-cluster/change-default-storage-class into Korean.

**Why is this needed**

There is no documents with tasks/administer-cluster/change-default-storage-class into Korean .

**Comments**

https://kubernetes.io/docs/tasks/administer-cluster/change-default-storage-class/

[2020-06-16 02:00] bluefriday commented on #21799
/language ko
/assign

[2020-06-16 02:31] stefanlasiewski opened #21800 "k8s.io/docs/concepts/: A Kubernetes "Master" (or Control Plane) doesn't just have to be on a single node"
https://kubernetes.io/docs/concepts/#overview describes the "Kubernetes master" as being a single thing on a single node:

I believe this is incorrect. We may have more than one Kubernetes "master", and those masters can actually reside on more than a single node. Each of these processes may scale horizontally, and it, and it's common for there to be multiple copies of each of those processes. A c

[2020-06-16 02:39] stefanlasiewski commented on #21755
As Kubernetes admin, I agree that this description is confusing.

A big question that needs to be clarified is: Is the Kubelet part of the Control Plane, that happens to reside on a node, or is it part of the Kubernetes node itself? Or, since it is an interface between the node and the control plane, is it part of both the node and the control plane?

[2020-06-16 02:55] siicosmos commented on #18617
I guess it probably is a corner case. This happens to MicroK8s only I think.

[2020-06-16 03:44] tengqm commented on #20862
@wabernatScality "by bugfix request raised", I was referring to the issue you raised [here](https://github.com/kubernetes/community/issues/4772). Obviously this is not a docs-only issue. For example, in the API reference doc, we see many instances of PascalCase which should be camelCase as well. The related style guide in the website is documented [here](https://kubernetes.io/docs/contribute/style

[2020-06-16 03:50] bluefriday opened #21802 "Translate tasks/administer-cluster/dns-custom-nameservers into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/administer-cluster/dns-custom-nameservers into Korean.

**Why is this needed**

There is no documents with tasks/administer-cluster/dns-custom-nameservers into Korean .

**Comments**

https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/

[2020-06-16 03:50] bluefriday commented on #21802
/language ko
/assign

[2020-06-16 03:51] sftim opened #21803 "Document reserved namespaces"
**This is a Feature Request**

**What would you like to be added**
Update https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/ to document that namespaces starting `kube-` are reserved.

**Why is this needed**
According to [API conventions](https://github.com/kubernetes/community/blob/eaddc76fd7d5845665cab136eea16d580852dc47/contributors/devel/sig-architecture/api-conventi

[2020-06-16 03:55] sftim commented on #21800
This is actually a bug. The best way to address that would be to cut out the use of the term “master”, which can be misleading as well as tinged with [concerns](https://en.wikipedia.org/wiki/Master/slave_(technology)#Terminology_concerns).

The control plane doesn't all have to run on one kind of host either. For example, it's OK to have _n_ hosts that run the kube-apiserver and another separate _

[2020-06-16 03:55] sftim commented on #21800
/kind bug

[2020-06-16 03:55] sftim commented on #21800
/language en

[2020-06-16 04:10] wiv33 commented on #21715
Sorry. I didn't add an error message. I'll post an error message.

2020-06-16 04:08:48,898 [myid:1] - WARN  [QuorumPeer[myid=1]/0.0.0.0:2181:QuorumPeer$QuorumServer@173] - Failed to resolve address: zk-2.zk-hs.default.svc.cluster.local
java.net.UnknownHostException: zk-2.zk-hs.default.svc.cluster.local: Name or service not known
        at java.net.Inet4AddressImpl.lookupAllHostAddr(Native Method)

[2020-06-16 04:27] coolguyhong commented on #21793
/kind bug

[2020-06-16 04:34] coolguyhong opened #21804 "Translate StorageClass word in Korean"
**This is a Bug Report**

**Problem:**
This issue is related to #21678
StorageClass word is not translated in Korean in concepts/storage/dynamic-provisioning.md and concepts/storage/volumes.md

**Proposed Solution:**
Translate StorageClass word in Korean

**Page to Update:**
https://kubernetes.io/ko/docs/concepts/storage/dynamic-provisioning/
https://kubernetes.io/ko/docs/concepts/storage/volumes/

[2020-06-16 04:34] coolguyhong commented on #21804
/language ko
/assign
/kind bug

[2020-06-16 04:46] stefanlasiewski commented on #21800
I agree that "master" is an alienating and racist term and should be replaced (I stopped using it where possible in other projects a while ago), and I'm sure there's a Github issue somewhere that covers the replacement of "master" with another term throughout the k8s documentation so I won't duplicate that conversation here.

The term "master" should certainly be replaced, but what do we replace i

[2020-06-16 05:43] rmohta commented on #21803
/assign me

[2020-06-16 05:43] rmohta commented on #21803
/assign @rmohta

[2020-06-16 05:48] RA489 commented on #21735
/close

[2020-06-16 05:49] #21735 closed

[2020-06-16 06:33] #15166 closed

[2020-06-16 07:55] tengqm commented on #19810
Thanks for the confirmation, @sujaypillai
/close

[2020-06-16 07:55] #19810 closed

[2020-06-16 08:04] kono-paku opened #21808 "Issue with k8s.io/docs/search/"
Searching keyword including space is not working.
If you search one keyword, for example, "command", it will work.
But, if "command and args" is input, the search result shows "Fetching results..." and
do not return the result.

[2020-06-16 08:10] #21741 closed

[2020-06-16 08:38] BenHall commented on #20281
On the Katacoda side we adjusted our infrastructure so this shouldn't happen in future.

[2020-06-16 08:41] sftim commented on #20281
@BenHall based on what you've written I'll close this.
@marcel-st please feel free to reopen the issue if symptoms recur

[2020-06-16 08:42] johnlinp commented on #21443
It seems that 6cf2449a2e065cac2d36aec58c1ac28e89c1168d already fixed this. Closing this issue.

[2020-06-16 08:42] #21443 closed

[2020-06-16 08:48] sftim commented on #21795
/kind bug
/priority important-soon

[2020-06-16 08:48] sftim commented on #21795
Could we specially style the `<code>` elements for checksums to allow them to break inside the word for wrapping?

[2020-06-16 09:54] #21750 closed

[2020-06-16 10:04] tengqm commented on #21795
That means we need some tricks to identify checksums?

[2020-06-16 11:00] Cweiping commented on #21688
/assign

[2020-06-16 11:06] divyabhushan commented on #21643
Hi @jimangel, @sftim
I will fix this in the next 5 hours. Thanks for your patience.

[2020-06-16 11:14] Cweiping commented on #21688
Maybe adding a flag to ` kubectl port-forward` is a better way to solve this problem, such as `docker run --detach`?

[2020-06-16 12:20] bells17 opened #21813 "Translate setup/production-environment/tools/kubespray/ into Japanese"
**This is a Feature Request**

What would you like to be added

Translate setup/production-environment/tools/kubespray/ into Japanese.

**Why is this needed**

This page has not been translated(translated only the index).

**Comments**

/language ja
/assign

[2020-06-16 13:02] #21771 closed

[2020-06-16 13:13] nasa9084 opened #21814 "Translate /docs/contribute/participating into Japanese"
**What would you like to be added**

[/docs/contribute/participating](https://kubernetes.io/docs/contribute/participating/)

[2020-06-16 13:14] nasa9084 commented on #21814
/language ja
/assign

[2020-06-16 13:28] tengqm commented on #2463
Let's close this one given that 1) there now IS a section for the `kops` tool; 2) this issue has been inactive for more than 9 months.
Feel free to reopen this or open a new one if there are still related requests.
/close

[2020-06-16 13:28] #2463 closed

[2020-06-16 13:35] shuuji3 opened #21816 "Need to narrow the space between lines in buttons when a label has multiple lines in docs/home"
**This is a Bug Report**

**Problem:**
![Screenshot from 2020-06-16 22-11-17](https://user-images.githubusercontent.com/1425259/84781024-436f5300-b021-11ea-9613-24a4c41bad1e.png)

The space between lines in button is too wide, causing ugly labels especially when the window is not wide or in localized pages which use more characters for the button text (i.e. [Japanese page](https://kubernetes.io/ja

[2020-06-16 13:36] tengqm commented on #21654
/retitle translate concepts/storage/persistent-volumes.md to Chinese

[2020-06-16 13:36] tengqm commented on #21654
/language zh

[2020-06-16 14:34] tengqm commented on #21470
/language zh

rollout 通常指的是产品上线。

[2020-06-16 14:36] tengqm commented on #21429
/language en

[2020-06-16 14:44] tengqm commented on #21022
Looks like Docsy did help in this space. Feel free to reopen if there other improvement requests.
/close

[2020-06-16 14:45] #21022 closed

[2020-06-16 15:02] tengqm commented on #20412
No. The current instructions are correct.
/close

[2020-06-16 15:02] #20412 closed

[2020-06-16 15:03] kbhawkey commented on #21795
https://github.com/kubernetes/release/blob/master/cmd/release-notes/README.md

[2020-06-16 15:08] tengqm commented on #19153
The --feature-gates flag exists for many kube components, e.g. `kube-apiserver`, `kube-controller-manager`, etc. Given that there are many ways Kubernetes are deployed, it is difficult to "adequately explain" how to specify this flag. You have to figure out how other command line flags are specified for your installation. The `--feature-gates` flag is not an exception.
It is not appropriate to ans

[2020-06-16 15:08] #19153 closed

[2020-06-16 15:23] Arhell opened #21821 "the toggle menu button turns white when opened"
**This is a Bug Report**

all documentation pages
& a little "jumping" when closing the menu

**Problem:**
![2](https://user-images.githubusercontent.com/26163841/84793659-11002e80-affe-11ea-9e19-05f866205ddc.jpg)

**Proposed Solution:**
small update styles

**Page to Update:**
https://kubernetes.io/docs/home/

/language en
/assign

[2020-06-16 15:23] tengqm commented on #21795
@kbhawkey Suppose you are hacking the generation of release notes ... you will be generating an "annotated" markdown so that a special class is associated with the checksum string? I'd suggest we try tackle this by tweaking the CSS, given that pages like https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/ are also suffering from this issue.

[2020-06-16 15:30] shuuji3 commented on #21808
Hello, kono-paku. Thank you for pointing out the issue!

I confirmed the same problem happens when searching the keyword "command and args" (https://kubernetes.io/docs/search/?q=command%20and%20args). And I'll investigate the cause of this problem.

/assign

[2020-06-16 15:35] Marusyk commented on #21747
/assign

[2020-06-16 16:11] sftim commented on #21795
I _think_ I could make a (mainly) CSS change that doesn't require changes to release note generation, and is fairly robust.

[2020-06-16 16:22] sftim opened #21824 "Not quite right styling for VolumeSnapshotClass concept"
**This is a Bug Report**

**Problem:** In the [VolumeSnapshotClass](https://kubernetes.io/docs/concepts/storage/volume-snapshot-classes/) concept page, resource names including VolumeSnapshotClass are written in backticks, something like:
[code]

The style guide [recommends](https://kubernetes.io/docs/contribute/style/style-guide/#documentation-formatting-standards) writing resource names in Pasca

[2020-06-16 16:25] inductor commented on #21739
@shuuji3  これ 1.17-ja.3 でやってもらって大丈夫です！

[2020-06-16 16:25] inductor commented on #21006
@nishipy  これ 1.17-ja.3 でやってもらって大丈夫です！

[2020-06-16 16:30] kbhawkey commented on #21795
I am not proposing to modify the generation of the release notes. I simply added the link to the release notes tooling for some background information.

[2020-06-16 16:30] raelga commented on #19364
/remove-lifecycle stale

[2020-06-16 16:34] sftim commented on #21808
BTW this applies to users using Bing search from China.

See PR #9845

[2020-06-16 16:43] #18154 closed

[2020-06-16 16:43] divyabhushan commented on #21643
@sftim, My local hugo server deployment seems to be failing. Just received the latest commit. Going to try that.
/WIP

[2020-06-16 16:50] jboeshart commented on #21621
Adding the following to the list as well. Updating this could help enable downstream services (AKS) to adopt more inclusive terminology without having to deviate from the source project terminology.

https://kubernetes.io/docs/concepts/#kubernetes-master

[2020-06-16 17:35] Arhell commented on #21824
/assign @Arhell

[2020-06-16 21:02] kbhawkey commented on #21429
I've gone ahead and created a PR for this issue. Will close my PR if someone else
has fixed this issue. I feel obligated to get this issue resolved as I cleaned up the API references and contributed to the redirect issues.
See PR #21826.

[2020-06-16 21:24] KilimAnnejaro commented on #21429
@kbhawkey feel free to remove me as assigned to this issue. I was going to work on this on an evening/over the weekend (I'm only part-time on k8s), but if you need the fix sooner, I'm probably not the person for this.

[2020-06-16 21:39] bryanhuntesl opened #21828 "Issue with k8s.io/docs/tutorials/stateful-application/basic-stateful-set/"
The behaviour of stateless sets and headless services seems different in GKE in so far as querying the headless service (DNS SRV query) doesn't return the pod names/ip addresses.

I have seen this behaviour in a number of books and online articles - wondering if it is a bug in google implementation or a change in the specification or an error on my part.

[2020-06-16 23:53] KilimAnnejaro commented on #21429
/unassign

[2020-06-16 23:57] celestehorgan opened #21830 "Create /participating directory, break out roles & responsibilities onto own page"
Parent issue: https://github.com/kubernetes/website/issues/21687

Part 1 of the reorganization effort for the participating section.

[2020-06-17 02:06] bluefriday opened #21833 "Translate tasks/administer-cluster/coredns/ into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/administer-cluster/coredns/ into Korean.

**Why is this needed**

There is no documents with tasks/administer-cluster/coredns/ into Korean .

**Comments**

https://kubernetes.io/docs/tasks/administer-cluster/coredns/

[2020-06-17 02:06] bluefriday commented on #21833
/language ko
/assign

[2020-06-17 02:08] bluefriday commented on #21833
#21802
위의 CoreDNS Customing 번역을 수행하던 중, 연관성이 있어보여 본 문서를 같이 번역하겠습니다.

[2020-06-17 03:54] tengqm commented on #21830
/language en

[2020-06-17 04:53] cometrojan commented on #21413
Closing the issue due to lack of time.

[2020-06-17 04:53] #21413 closed

[2020-06-17 05:38] idealhack commented on #8843
it seems this was fixed after the theme update: https://kubernetes.io/blog/2020/06/better-docs-ux-with-docsy/

[2020-06-17 05:40] #8843 closed

[2020-06-17 07:06] cometrojan opened #21837 "Translation error correction in concepts/containers/runtime-class.md"
**This is a Bug Report**

**Problem:**
Translation error correction in concepts/containers/runtime-class.md
1. replace translated words as words of glossary
2. grammatical error

**Proposed Solution:**
before: 런타임 클래스
after: 런타임클래스

before: RuntimeClass 특징 게이트
after: 런타임클래스 기능 게이트

before: RuntimeClass 특징 게이트가 활성화(기본값)를 확인한다.
after: 런타임클래스 기능 게이트가 활성화(기본값)된 것을 확인한다.

**Page to Update:**
https://ku

[2020-06-17 07:08] cometrojan commented on #21837
/language ko
/assign

[2020-06-17 07:48] oke-py opened #21839 "ja: Make docs/concepts/overview/what-is-kubernetes.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/overview/what-is-kubernetes.md to follow v1.17 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/overview/what-is-kubernetes.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.3/content/ja/docs/concep

[2020-06-17 07:53] oke-py opened #21840 "ja: Make docs/concepts/overview/kubernetes-api.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/overview/kubernetes-api.md to follow v1.17 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/overview/kubernetes-api.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.3/content/ja/docs/concepts/overv

[2020-06-17 08:02] oke-py opened #21841 "ja: Make docs/concepts/overview/components.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/overview/components.md to follow v1.17 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/overview/components.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.3/content/ja/docs/concepts/overview/comp

[2020-06-17 08:27] sftim commented on #21824
Fixed in #21829
/close

[2020-06-17 08:27] #21824 closed

[2020-06-17 09:14] oke-py opened #21842 "ja: Make docs/concepts/extend-kubernetes/api-extension/custom-resources.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/extend-kubernetes/api-extension/custom-resources.md to follow v1.17 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/extend-kubernetes/api-extension/custom-resources.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website

[2020-06-17 09:27] oke-py opened #21843 "ja: Make docs/concepts/containers/runtime-class.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/containers/runtime-class.md to follow v1.17 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/containers/runtime-class.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.3/content/ja/docs/concepts/con

[2020-06-17 09:41] coolguyhong commented on #21804
/close

[2020-06-17 09:41] #21804 closed

[2020-06-17 10:02] muratcabuk opened #21846 "Issue with k8s.io/docs/reference/command-line-tools-reference/kubelet/"
**This is a Bug Report**

**Problem:**
maybe I couldn't find the solution but it says deprecated for all flags that start with the word "docker" but I couldn't find any information on what I can do instead.

**Proposed Solution:**
maybe a note about the recommended solution can be added.

[2020-06-17 10:29] seokho-son opened #21847 "Inconsistency in translated terms in concepts/workloads/pods for Korean"
**This is a Bug Report**

**Problem:**
There are inconsistent terms in translated documents in concepts/workloads/pods for Korean

**Proposed Solution:**
Fix the inconsistency.

**Page to Update:**
All contents in
https://kubernetes.io/ko/docs/concepts/workloads/pods/

/language ko
/kind bug

[2020-06-17 11:09] translucens commented on #21840
/assign

[2020-06-17 11:12] hikkie3110 commented on #21841
/assign

[2020-06-17 11:32] seokho-son commented on #21847
rf) #21678

[2020-06-17 13:14] pjhwa opened #21848 "Translate tasks/administer-cluster/extended-resource-node.md into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/administer-cluster/extended-resource-node.md into Korean.

**Why is this needed**
There is no document of tasks/administer-cluster/extended-resource-node.md which is translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/tasks/administer-cluster/extended-resource-node/

/language ko

[2020-06-17 13:14] pjhwa commented on #21848
/assign

[2020-06-17 14:11] kakts opened #21850 "ja: Make docs/setup/best-practices/multiple-zones.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**

Update content/ja/docs/setup/best-practices/multiple-zones.md to follow v1.17 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/best-practices/multiple-zones.md is outdated

**Comments**

/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.3/content/en/d