[2020-06-17 14:21] kbhawkey commented on #21429
Thanks @KilimAnnejaro

[2020-06-17 14:26] kakts opened #21851 "ja: Make docs/setup/best-practices/node-conformance.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**

Update content/ja/docs/setup/best-practices/multiple-zones.md to follow v1.17 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/best-practices/multiple-zones.md is outdated

**Comments**

/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.3/content/ja/d

[2020-06-17 14:32] kakts opened #21852 "ja: Make docs/setup/learning-environment/minikube.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**

Update content/ja/docs/setup/learning-environment/minikube.md to follow v1.17 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/learning-environment/minikube.md is outdated

**Comments**

/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.3/content/ja/d

[2020-06-17 14:38] kakts opened #21853 "ja: Make docs/setup/production-environment/container-runtimes.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**

Update content/ja/docs/setup/production-environment/container-runtimes.md to follow v1.17 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/production-environment/container-runtimes.md is outdated

**Comments**

/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/de

[2020-06-17 14:45] coolguyhong commented on #21793
/close

[2020-06-17 14:46] coolguyhong commented on #21508
/close

[2020-06-17 14:46] #21793 closed

[2020-06-17 14:46] #21508 closed

[2020-06-17 16:35] chaspy commented on #21839
/assign

[2020-06-17 18:32] chaspy commented on #21839
[code]

[2020-06-17 18:32] chaspy commented on #21839
1.13 の改行を除いても、結構な差分がありますね。

[2020-06-17 19:35] detiber commented on #12326
/remove-lifecycle stale

[2020-06-17 20:13] msjingli opened #21861 "apiVersion: apps/v1 should be in pod spec for gMSA deployment in Windows Worker Node"
**This is a Bug Report**

**Problem:**
Pod deployment failed if using pod spec https://kubernetes.io/docs/tasks/configure-pod-container/configure-gmsa/#configure-gmsa-credential-spec-reference-in-pod-spec

**Proposed Solution:**
Update apiVersion: apps/v1beta1 into apiVersion: apps/v1
**Page to Update:**
https://kubernetes.io/docs/tasks/configure-pod-container/configure-gmsa/#configure-gmsa-creden

[2020-06-17 22:31] rbankston opened #21864 "etcd health command update"
**This is a Bug Report**

**Problem:** The health check command listed on setup ha etcd with kubeadm should  be updated. The current command:

[code]

**Proposed Solution:**

[code]

**Page to Update:**
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm/

[2020-06-17 23:00] sftim opened #21866 "Localize “Search this site…” for Polish"
**This is a Bug Report**

**Problem:**
On https://kubernetes.io/pl/docs/search/ the placeholder text “Search this site&hellip;” is not localized.

**Proposed Solution:**
Add a translation

**Page to Update:**
https://kubernetes.io/pl/docs/ and pages inside that.

**Additional Information:**
/language pl
/priority backlog

[2020-06-17 23:00] sftim opened #21867 "Add site search to main page"
**This is a Feature Request**

**What would you like to be added**
Add a facility to search the website to the main page, https://kubernetes.io/

**Why is this needed**
Let's say someone arrives at https://kubernetes.io/ and wants to find the download page. Well, the top 3 results on https://kubernetes.io/search/?q=downloads look pretty relevant.
The trouble is there's no form on https://k8s.io/ t

[2020-06-17 23:00] sftim commented on #21864
/sig cluster-lifecycle

[2020-06-17 23:02] sftim commented on #21864
A diff of the two:
[code]

[2020-06-17 23:03] sftim commented on #21797
/priority backlog
/help

[2020-06-17 23:16] neolit123 commented on #21864
@rbankston
hi, what is the value of your $ETCD_TAG variable?

[2020-06-18 01:15] tengqm commented on #19161
/close
Looks like #19334 has fixed this.

[2020-06-18 01:15] #19161 closed

[2020-06-18 01:27] coolguyhong opened #21870 "Inconsistency in StatefulSet term spacing in Korean"
**This is a Bug Report**

**Problem:**
This issue is related to #21678
Inconsistency in StatefulSet term spacing in Korean

**Proposed Solution:**
Change spacing of StatefulSet from '스테이트풀 셋' to '스테이트풀셋'

**Page to Update:**
https://kubernetes.io/...
https://kubernetes.io/ko/docs/reference/glossary/?fundamental=true
https://kubernetes.io/ko/docs/tasks/
https://kubernetes.io/ko/docs/tasks/access-ap

[2020-06-18 01:27] coolguyhong commented on #21870
/language ko
/assign

[2020-06-18 02:20] evanap commented on #20111
Does this page `/docs/setup/production-environment/tools/kubeadm/install-kubeadm/` still need translation? I'll work on it if needed.

[2020-06-18 05:23] girikuncoro commented on #20111
@evanap I think it's free, feel free to take it, thanks for stepping up! next week is our last week of current milestone

[2020-06-18 05:52] evanap commented on #20111
@girikuncoro Alright! Working on it as fast as possible to catch the train 🚀

[2020-06-18 06:12] TN801465 opened #21877 "Issue with k8s.io/zh/docs/setup/best-practices/certificates/"
A single root ca and then generate intermedia ca, eg:  a root ca "rootca.crt" and then generate intermedia ca "ca.crt , etcd/ca.crt , front-proxy-ca.crt" ,but those three ca's CN and Subject are equal.  How ?

[2020-06-18 07:05] tengqm commented on #21429
fixed by #21826
/close

[2020-06-18 07:05] #21429 closed

[2020-06-18 10:45] oke-py opened #21880 "ja: Make docs/concepts/containers/container-lifecycle-hooks.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/containers/container-lifecycle-hooks.md to follow v1.17 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/containers/container-lifecycle-hooks.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.3/cont

[2020-06-18 10:52] oke-py opened #21881 "ja: Make docs/concepts/configuration/overview.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/configuration/overview.md to follow v1.17 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/configuration/overview.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.3/content/ja/docs/concepts/configu

[2020-06-18 14:17] chrisUsick commented on #21109
I see in the latest documentation update a link to [github](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubelet/config/v1beta1/types.go) was added to the docs. This is sufficient I think.
Thanks, closing issue.

[2020-06-18 14:17] #21109 closed

[2020-06-18 16:13] rbankston commented on #21864
3.3.10

[2020-06-18 16:19] rbankston commented on #21864
Ahh, will close worked with a newer etcd version sorry for the noise

[2020-06-18 16:19] #21864 closed

[2020-06-18 17:06] jasvantsingh opened #21886 "Sample file fails to execute"
**This is a Bug Report**

**Problem:**
The following file fails when we apply this file in kubernetes.
secretGenerator:
- name: mysql-pass
  literals:
  - password=YOUR_PASSWORD

error message is
error: error validating "kustomization2.yaml": error validating data: [apiVersion not set, kind not set]; if you choose to ignore these errors, turn validation off with --validate=false
**Proposed Solutio

[2020-06-18 20:41] lmjennings44094 opened #21889 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro/"
**This is a Bug Report**

**Problem:**
Tutorial content says:

For your first Deployment, you'll use a Node.js application packaged in a Docker container. (If you didn't already try creating a Node.js application and deploying it using a container, you can do that first by following the instructions from the Hello Minikube tutorial).

However, when I went to the Minikube tutorial, I found the the

[2020-06-18 22:16] oke-py opened #21890 "ja: Make docs/concepts/configuration/assign-pod-node.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/configuration/assign-pod-node.md to follow v1.17 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/configuration/assign-pod-node.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.3/content/ja/docs/co

[2020-06-18 22:46] oke-py opened #21891 "ja: Make docs/concepts/architecture/nodes.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/architecture/nodes.md to follow v1.17 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/architecture/nodes.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.3/content/ja/docs/concepts/architecture/no

[2020-06-18 23:39] oke-py opened #21892 "ja: Make docs/concepts/architecture/cloud-controller.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/architecture/cloud-controller.md to follow v1.17 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/architecture/cloud-controller.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.3/content/ja/docs/co

[2020-06-18 23:40] oke-py opened #21893 "ja: Make docs/concepts/architecture/_index.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/architecture/_index.md to follow v1.17 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/architecture/_index.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.3/content/ja/docs/concepts/architecture/

[2020-06-19 00:00] oke-py opened #21894 "ja: Make docs/concepts/_index.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/_index.md to follow v1.17 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/_index.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.3/content/ja/docs/concepts/_index.md

Original
https://github.com/

[2020-06-19 02:51] tengqm commented on #21886
/language en

[2020-06-19 02:52] tengqm commented on #21889
/language en

[2020-06-19 02:53] tengqm commented on #21877
This list of issues tracks bug reports and feature requests for the Kubernetes documentation.

If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [

[2020-06-19 02:54] #21877 closed

[2020-06-19 03:41] #21529 closed

[2020-06-19 03:43] #21598 closed

[2020-06-19 06:07] arisgi commented on #21880
/assign

[2020-06-19 07:18] oke-py opened #21899 "Translate /docs/tasks/administer-cluster/coredns/ into Japanese"
**This is a Feature Request**

**What would you like to be added**
Translate /docs/tasks/administer-cluster/coredns/ into Japanese.

**Why is this needed**
This page has not been translated.

**Comments**
/language ja
/assign

[2020-06-19 07:31] pujumuslimah opened #21900 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro/"

[2020-06-19 08:18] tengqm commented on #21900
Another accidental click?

[2020-06-19 10:30] makocchi-git commented on #21842
/assign

[2020-06-19 11:14] hikkie3110 commented on #21892
/assign

[2020-06-19 11:15] hikkie3110 commented on #21891
/assign

[2020-06-19 12:15] makocchi-git commented on #21843
/assign

[2020-06-19 13:02] ysyukr commented on #21677
이 부분같은 경우에는 현 시점에서는 업스트림에 있는 파일이 최신버전이기 때문에 반영하지 않아도 될것으로 보입니다.
또한, 업스트림에 직접적으로 병합을 대기중인 PR들이 있기 때문에, dev-1.18-ko.6에서 반영 후 최종 병합시 충돌날 것으로 예상됩니다.

[2020-06-19 13:07] ysyukr commented on #21677
해당 이슈에 대해서는 내용이 많아 나누어서 처리하기로 하였습니다.

1구간(1~47) content/ko/_index.html ~ policy/resource-quotas.md - @ysyukr
2구간(48~92) scheduling-eviction/assign-pod-node.md ~ review/_index.md - @yoonian
3구간(93~137) review/for-approvers.md ~ manage-resources/quota-pod-namespace.md - @gochist
4구간(138~182) network-policy-provider/calico-network-policy.md ~ stateless-application/guestbook.md @jmyung

[2020-06-19 13:54] translucens commented on #16212
/assign

[2020-06-19 13:55] makocchi-git commented on #21890
/assign

[2020-06-19 14:27] #21766 closed

[2020-06-19 14:59] aojea opened #21914 "Issue with k8s.io/docs/tasks/debug-application-cluster/debug-service/"
**This is a Bug Report**

**Problem:**

The image used in the example is not valid

[code]

**Proposed Solution:**

Use the same example that is being used in
https://kubernetes.io/docs/tasks/access-application-cluster/service-access-application-cluster/

**Page to Update:**
https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/

[2020-06-19 15:24] #17649 closed

[2020-06-19 16:49] pujumuslimah commented on #21900
Yes, I'm sorry..

[2020-06-19 16:50] pujumuslimah commented on #21900
Yes, I'm sorry.

[2020-06-19 18:10] kbhawkey opened #21922 "investigate removal of jquery-ui-1.12.1.min.js, update tab component"
**This is a Feature Request**
Investigate jquery-ui dependencies in the site (tab component) to determine if this library can be removed.
Look into content formatting issues in the tab panels (tab shortcode).

**What would you like to be added**
Investigate using bootstrap for the tab component to remove the dependency on jquery-ui.
Clean up reference to jquery-ui in the head partial and clean up

[2020-06-19 18:14] kbhawkey opened #21923 "images not displaying on home page, firefox, docsy theme"
**This is a Bug Report**
This is an old bug, resurfacing again.
https://github.com/kubernetes/website/issues/19363

**Problem:**
See previous issue for information.
https://kubernetes.io/

[2020-06-19 21:57] harik8 opened #21924 "Improper search result page number and commit message displays in docs"
In Kubernetes docs when you search, search results page number displays as "12345678910". There is no space between page numbers.

[code]

The commit message appears at the bottom of the page which is irrelevant.

`Page last modified on May 05, 2018 at 6:00 PM PST by Convert site to Hugo (#8316) (Page History)`

Also, the hyperlink appears in each search results which is not needed.

[code]
eg: ht

[2020-06-20 02:02] joelsmith opened #21926 "Prior versions of API documentation no longer available"
**Problem:**

It appears that #21216 removed all versions of the API reference prior to the current version v1.18.  That means that not only are prior versions of the API reference not available via the website, but any external links or bookmarks to API documentation were invalidated unless they were created recently enough that they refer to v1.18.

This document gives the impression that at lea

[2020-06-20 02:02] #18797 closed

[2020-06-20 02:02] #18798 closed

[2020-06-20 02:12] joelsmith commented on #21926
/assign @kbhawkey

@kbhawkey, I have posted PR #21927 to address this issue. Ideally, it would be good to restore the prior versions of the API documentation ASAP, then have a conversation in sig-docs about how many prior versions to maintain. IMO, at the very least, we should have docs for any versions that are still supported, and we should err on the side of having too many, not too few.

[2020-06-20 03:36] tengqm commented on #16583
This is not a documentation issue, honestly speaking.

- You will rely on your cloud provider to support this feature.
- You will need a standby pool of Nodes, which will introduce additional mgmt/financial costs.
- You will need a solution/framework (i.e. a cluster auto-scaler) to trigger the scaling. In which,
   * you will need to tune many knobs to get things work
   * you will want the soluti

[2020-06-20 03:39] ran-huang opened #21930 "debug DNS resolution 404 not found"
This page returns 404 not found.
https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/.

[2020-06-20 03:40] joelsmith commented on #21926
I'm sorry for raising this issue. I somehow got confused thinking that my old links didn't work, but I just tested more of them and it looks like they got redirected to the archive sites for prior versions. So, I guess this is working as designed.

[2020-06-20 03:40] #21926 closed

[2020-06-20 03:42] tengqm commented on #19212
pls check the following docs and reopen this if there are doc issues to resolve.

- https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/
- https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/
- https://kubernetes.io/docs/tasks/administer-cluster/coredns/
- https://kubernetes.io/docs/tasks/debug-application-cluster/dns-debugging-resolution/

/close

[2020-06-20 03:42] #19212 closed

[2020-06-20 03:49] tengqm commented on #21930
Yup. It was moved over to a different folder ...

[2020-06-20 03:50] tengqm commented on #21930
/language en

[2020-06-20 03:51] tengqm commented on #21924
/language en
Sounds like 3 different issues, :)

[2020-06-20 03:56] ran-huang commented on #21930
@tengqm Thanks! Do you know what is the currently available link for the English doc? The search is not very helpful😕
btw, the Chinese link is still working though... https://kubernetes.io/zh/docs/tasks/administer-cluster/dns-debugging-resolution/

[2020-06-20 04:51] tengqm commented on #21930
Well, I think we should move it back.
Proposing a fix now.
If it turns out that team doesn't want to move it back, we may need to add a redirect entry as an alternative.

[2020-06-20 04:56] tengqm commented on #21914
/kind bug
/sig cli

Looks like `create deployment` is deriving container name from the image name, which may and may not be a valid string for future usage (i.e. hostname).

[2020-06-20 05:04] inductor commented on #21841
/close

[2020-06-20 05:04] #21841 closed

[2020-06-20 05:07] tengqm commented on #14215
@2rs2ts Are you willing to propose a fix or we are letting the bot to close it soon? This has been there for over a year now.

[2020-06-20 05:09] tengqm commented on #21900
/close

[2020-06-20 05:09] #21900 closed

[2020-06-20 05:56] inductor commented on #21880
/close

[2020-06-20 05:57] inductor commented on #21899
/close

[2020-06-20 05:57] #21880 closed

[2020-06-20 05:57] #21899 closed

[2020-06-20 06:30] oke-py opened #21934 "Translate /docs/tasks/inject-data-application/environment-variable-expose-pod-information/ into Japanese"
**This is a Feature Request**

**What would you like to be added**
Translate /docs/tasks/inject-data-application/environment-variable-expose-pod-information/ into Japanese.

**Why is this needed**
This page has not been translated.

**Comments**
/language ja
/assign

[2020-06-20 06:48] chenrui333 commented on #19910
looks like I could not reproduce?

![image](https://user-images.githubusercontent.com/1580956/85195429-75dab380-b2a0-11ea-9555-f5cb8e17f400.png)

[2020-06-20 07:07] #18792 closed

[2020-06-20 07:07] #18813 closed

[2020-06-20 07:42] tengqm commented on #18813
fixed.

[2020-06-20 07:44] tengqm commented on #19910
Ya. Agreed. Tried with the new theme. It is no longer an issue.
/close

[2020-06-20 07:44] #19910 closed

[2020-06-20 09:11] oke-py opened #21942 "Translate glossary/cncf into Japanese"
**This is a Feature Request**

**What would you like to be added**
Translate glossary/cncf into Japanese.

**Why is this needed**
This glossary has not been translated.
/docs/tasks/administer-cluster/coredns/ (translated in #21902) refers to this glossary.

**Comments**
/language ja
/assign

[2020-06-20 09:18] inductor commented on #21728
/close

[2020-06-20 09:18] #21728 closed

[2020-06-20 12:25] Cweiping commented on #21914
@aojea Is there any specific environmental information? Instead of repeating the problem, kubectl create deployment uses `-` to replace `_`.

version：
[code]
[code]
[code]

reference code(v1.19):
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubectl/pkg/cmd/create/create_deployment.go#L274

And according to test v1.18, the same support.

[2020-06-20 13:55] tengqm commented on #21914
@Cweiping I can reproduce the same issue.

[2020-06-20 13:56] nishipy commented on #21006
Original
https://github.com/kubernetes/website/blob/dev-1.17-ja.3/content/en/docs/reference/access-authn-authz/authentication.md

[2020-06-20 14:02] aojea commented on #21914
@Cweiping thanks for the hint, the problem is with old versions of kubectl

[code]

I'm not familiar with kubectl skew policies, so feel free to close it if this is the expected behavior

[2020-06-20 14:13] gochist opened #21944 "Elements that should be hidden appears in Korean l10n docs"
**This is a Bug Report**

**Problem:**
Elements that should be hidden appears on the screen. The "(EN)" in the next image is that element.

![image](https://user-images.githubusercontent.com/282159/85204226-fd323080-b34d-11ea-95f1-92cf2a5e094f.png)

**Proposed Solution:**
Add `sitemap.md` to `content/ko/docs`.

**Page to Update:**
https://kubernetes.io/ko/docs/home

/language ko
/kind bug

[2020-06-20 14:49] Cweiping commented on #21914
I see. Maybe try to ask sig/cli the problem to solve the problem in terms of version? I don't think anyone cares about the old version of the document.What do you think? @aojea @tengqm

[2020-06-20 15:13] aojea commented on #21914
Hope, yep, didn't realize this is not open in kubernetes/kubernetes repo

Thanks for the quick response
/Close

[2020-06-20 15:13] #21914 closed

[2020-06-20 16:10] irvifa commented on #20111
Do we intended to open a new milestone @girikuncoro ?

[2020-06-20 16:16] #21944 closed

[2020-06-20 16:36] girikuncoro commented on #20111
@irvifa yes, this should be the last week of this current milestone, I hope we can close all pages, you want to propose the list of pages for new milestone?

[2020-06-20 18:58] Arhell opened #21947 "docs search localize update"
**This is a Bug Report**

**Problem:**
need change search placeholder

**Proposed Solution:**
change i18n in html template

**Page to Update:**
https://kubernetes.io/docs/home/

/language en
/assign

[2020-06-20 19:22] tmarrs-alb opened #21948 "Improvement for k8s.io/docs/tutorials/stateful-application/basic-stateful-set/"
Please add a section on how to make this StatefulSet visible outside the Cluster, but locally (no Cloud Provider).

In the meantime, could you please post the solution in this forum?
I've tried NodePort and LoadBalancer, but neither worked.
port-forward could work probably on port 80.
Maybe kubectl proxy could work.
Anything else? Ingress?

[2020-06-21 03:34] akitok commented on #21004
/assign

[2020-06-21 08:08] timyl commented on #16801
@jeremyxu2010 is there any updates on this issue ? I met the same issue with kube-proxy in k8sv1.18.3...

[2020-06-21 11:26] oke-py opened #21951 "Translate /docs/tasks/access-application-cluster/list-all-running-container-images/ into Japanese"
**This is a Feature Request**

**What would you like to be added**
Translate /docs/tasks/access-application-cluster/list-all-running-container-images/ into Japanese.

**Why is this needed**
This page has not been translated.

**Comments**
/language ja
/assign

[2020-06-21 12:29] sftim commented on #19791
Those words are now translated.
/close

[2020-06-21 12:29] #19791 closed

[2020-06-21 12:37] sftim commented on #16583
I agree that it's not straightforward. However at a minimum I would like the reader to learn that https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler exists, even if they don't get to understand all the moving parts from reading one page.

Good news: “Autoscale your kubernetes cluster” now has a search result from the blog as top match on Google, the most popular search engine

[2020-06-21 13:21] msrinivascharan opened #21954 "Kubernetes documentation search is not working fine from last few days"
i observed a major cosmetic change happened to Kubernetes documentation recently, before to that search option was pretty good. Now, it’s not working fine

If I type “security context” or “resource requests” in the search box, in the results, it is showing “fetching results….”, no result even after 15 minutes waiting also.

It works with single words like “security” and “resources” like that, but

[2020-06-21 13:28] sftim commented on #21563
There was some discussion in https://github.com/kubernetes/website/pull/21509 about this.

What was the outcome?

[2020-06-21 13:33] sftim commented on #21563
This is also relevant to https://github.com/kubernetes/website/pull/21112

[2020-06-21 13:34] sftim commented on #21687
Fixing a typo:
/retitle Umbrella issue: Reorganize Advanced Contributing, Participation in SIG Docs to reduce duplication

[2020-06-21 13:34] sftim commented on #21830
/priority important-longterm

[2020-06-21 13:38] sftim opened #21955 "Tidy wording for “Authenticating” reference"
**This is a Bug Report**

**Problem:**
Some of the wording in [Certificate Signing Requests](https://kubernetes.io/docs/reference/access-authn-authz/certificate-signing-requests/) is not idiomatic English.
Example: “Few steps are required in order to get normal user to be able to authenticate and invoke API” where typical English usage has “_**A**_ few steps are required in order to get normal use

[2020-06-21 13:44] TudorHulban opened #21956 "Issue with k8s.io/docs/concepts/workloads/controllers/deployment/"
**This is a Bug Report**
Hi!
Information on deployment deletion as last part of deployment lifecycle should be on this page or at least a referral to this last stage.

**Problem:**
Deployment lifecycle does not look complete with deployment deletion not being described on the page.

**Proposed Solution:**
Add information on:
1. when deployment deletion could occur
2. how it is performed
3. what ar

[2020-06-21 13:44] vinu2003 commented on #21955
@sftim I am new here and would like to learn and contribute - would like to take this up.

[2020-06-21 13:45] vinu2003 commented on #21955
/assign @vinu2003

[2020-06-21 14:06] vvsiva007 opened #21957 "Issue with k8s.io/docs/tasks/tools/install-minikube/"
**This is a Bug Report**

**Problem:**
Tried many times to resolve the following issue but in-vain.
Here is the info:
osboxes@osboxes:~$ curl -Lo minikube https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 52.8M

[2020-06-21 14:34] sftim opened #21958 "Update kubeadm documentation for previous releases"
**Problem:** Following https://github.com/kubernetes/website/pull/21467 the documentation for installing older Kubernetes versions with kubeadm is now out of date.

**Proposed Solution:**
Apply equivalent changes to the documentation branches for each published documentation version.

**Page to Update:**
- https://v1-14.docs.kubernetes.io/docs/setup/production-environment/tools/kubeadm/kubelet-int

[2020-06-21 14:56] #21068 closed

[2020-06-21 14:58] #21747 closed

[2020-06-21 15:02] nevermyuk opened #21959 "Create a documentation page for Endpoints"
**This is a Bug Report**

**Problem:**  Endpoints lacks a documentation page.

**Proposed Solution:**
Create a new page for Endpoints at [link](https://kubernetes.io/docs/concepts/services-networking/endpoints/)

**Page to Update:**
https://kubernetes.io/docs/concepts/services-networking/endpoints/

/sig network
/language en

[2020-06-21 15:04] nevermyuk commented on #21959
/sig network

[2020-06-21 18:40] tedder commented on #19795
/remove-lifecycle stale

Bumping this just so it doesn't get closed.

[2020-06-21 21:24] sftim commented on #21959
/priority important-longterm

[2020-06-21 22:21] adityamandhare opened #21964 "Link to the Handler document on the page does not work"
**This is a Bug Report**

**Problem:**
The page https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/ has a `Container probes` section. This section contains link to a Handler documentation. This link does not work: https://godoc.org/k8s.io/kubernetes/pkg/api/v1#Handler

**Proposed Solution:**
Update the link to the handler documentation on the page in the `Container probes` section of

[2020-06-21 22:45] adityamandhare opened #21965 "Explanation for "Pod Conditions" section is not clear."
**This is a Bug Report**

**Problem:**
This is an issue for better explanation for the `Pod Conditions` section on the page https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/.
There is a statement `A Pod has a PodStatus, which has an array of PodConditions through which the Pod has or has not passed.` Does this mean that the PodConditions array is an array of fixed length of pre-dec

[2020-06-21 23:12] adityamandhare opened #21966 "Issue with Pod Conditions type field values: "Ready" and "ContainersReady""
**This is a Bug/Feature (TBD) Report**

**Problem:**
The Pod Condition's `type` field takes two values: `Ready` and `ContainersReady`.
The `Ready` type states that the Pod is ready to serve request and that the Pod can be added to the load balancing pools for the matching service.
The `ContainersReady` just states that all containers of the pod are ready.

How is the Pod being ready different than

[2020-06-22 00:12] adityamandhare opened #21967 "More clarification on the handler implementation and its usage for probe type"
**This is a Bug Report**

**Problem:**
The documentation page https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/ states that: `A Probe is a diagnostic performed periodically by the kubelet on a Container. To perform a diagnostic, the kubelet calls a Handler implemented by the Container`

Out of the 3 handlers, `ExecAction`, `TCPSocketAction` and `HTTPGetAction` which ones actually i

[2020-06-22 00:28] adityamandhare opened #21968 "Are all container probes by the kubelet optional?"
**This is a Bug Report**

**Problem:**
The page https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/ states that:
`The kubelet can optionally perform and react to three kinds of probes on running Containers.`
Are all the three probes `livenessProbe`, `readinessProbe` and `startupProbe` really optional? is a Kubelet not required to have at least one probe into the container to check it

[2020-06-22 01:15] tengqm commented on #21968
I think the current docs are correct. A `kubelet` does not rely on the probes for determining whether a container is alive or ready. The `kubelet` gets all its need from the underlying container runtime which manages the container's lifecycle.

[2020-06-22 01:19] hiyokotaisa commented on #21881
/assign

[2020-06-22 01:19] tengqm commented on #21967
The container is supposed to provide endpoints to all three probes, that is what `implemented by container` means. Even for TCP socket checks, you will need have something listen to the port being checked, right?
These probes are mechanisms provided by k8s as a convenience for developers, who then can decide which one(s) to support and how to support, based on the application hosted in the contain

[2020-06-22 01:51] tengqm commented on #16583
Thanks for the info, @sftim

Just checked the cluster-autoscaler project you mentioned and happy to see two facts:

- It is still alive and active!
- It has support to quite a few cloud vendors (GCE, AWS, Azure, OpenStack, DigitalOcean ...)

So ... I agree to add some general texts for this topic, with pointers to the cluster-autoscaler project.

[2020-06-22 01:56] hiyokotaisa commented on #21851
/assign

[2020-06-22 02:33] adityamandhare commented on #21967
@tengqm when you say `The container is supposed to provide endpoints to all three probes`, do you mean the container is supposed to facilitate all three handlers?
My understanding is that kubelets use handlers to probe containers.

[2020-06-22 02:57] tengqm commented on #21967
Sorry for the confusion. I should say "All three kinds of probes are optional and it is the container's responsibility to implement them if supported".

There are three types of probes, for some probes, you can choose different handlers, based on the business problem you are solving.

[2020-06-22 03:17] adityamandhare commented on #21967
Thanks @tengqm for the clarification. This answers my question. I will close this issue.

[2020-06-22 03:17] #21967 closed

[2020-06-22 03:33] coolguyhong commented on #21870
/close

[2020-06-22 03:33] #21870 closed

[2020-06-22 04:16] pjhwa opened #21970 "Issue with k8s.io/ko/docs/contribute/new-content/new-content/"
**This is a Bug Report**

**Problem:**
At 411 line: \<number_of_commits_in_branch 부분에서 \> 가 누락됨
    커밋을 스쿼시하는 것은 일종의 리베이스이다. git의 `-i` 스위치는 리베이스를 대화형으로 할 수 있게 한다. `HEAD~<number_of_commits_in_branch` 는 리베이스를 위해 살펴볼 커밋 수를 나타낸다.

**Proposed Solution:**
    커밋을 스쿼시하는 것은 일종의 리베이스이다. git의 `-i` 스위치는 리베이스를 대화형으로 할 수 있게 한다. `HEAD~<number_of_commits_in_branch>` 는 리베이스를 위해 살펴볼 커밋 수를 나타낸다.

**Page to Update:*

[2020-06-22 04:41] hiyokotaisa commented on #21850
/assign

[2020-06-22 05:34] hiyokotaisa commented on #21894
/assign

[2020-06-22 05:39] hiyokotaisa commented on #21894
確認する限りでは、主に英語のtitle caseの修正ですので日本語版に修正するべき点がありませんでした。

[2020-06-22 05:43] Cweiping commented on #21966
The page has described[ the difference between the two states](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-readiness-status), but it has not been explicitly emphasized.Need a clearer description.
This should be seen as a bug or feature? @tengqm @sftim

[2020-06-22 05:55] seokho-son commented on #21970
/kind bug
/help
/good-first-issue

신규 컨트리뷰터가 작업하기 좋은 이슈인 것 같습니다. @pjhwa 감사합니다!

해당 이슈에 대한 작업(한글화에 첫 컨트리뷰션!)을 해보고 싶은 분은 아래 코멘트 남겨주세요 !!
해당 이슈에 대한 작업에 어려움이 있으면 한글화팀에서 적극적으로 돕겠습니다!

Bug 수정에 대한 PR은 master 브랜치나, 한글화팀의 최신 작업 브랜치로 올려주시면 됩니다. 참고하시기 바랍니다.

[2020-06-22 06:01] jihoon-seo commented on #21970
안녕하세요
제가 해 보겠습니다~~

[2020-06-22 06:03] seokho-son commented on #21970
감사합니다! 환영합니다! ^^
/assign @jihoon-seo

[2020-06-22 06:07] seokho-son commented on #21970
@jihoon-seo 작업에 참고하시기 바랍니다.. ^^

■ 쿠버네티스 문서 한글화 참여 방법
(1) 문서 기여 방법: https://github.com/kubernetes/website/blob/master/README-ko.md
(2) 문서 한글화 가이드 동영상: https://www.youtube.com/watch?v=OTl8HBjxIhc
(3) 한글화 스타일 가이드: https://kubernetes.io/ko/docs/contribute/localization_ko/
(4) 한글화 팀 Slack 채널: Kubernetes Slack 가입 후, #kubernetes-docs-ko 채널 참여하여 문의
(5) 한글화 팀 회의: 격주 목요일 22시. Zoom(#kubernetes-docs-ko에 링크 공

[2020-06-22 06:08] pjhwa opened #21973 "Issue with k8s.io/ko/docs/contribute/participating/"
**This is a Bug Report**

**Problem:**
At 39 line: \) 가 하나 더 들어가 있습니다.
\- **모든 사람** 은 쿠버네티스 문서에 기여할 수 있다. 기여시 [CLA에 서명](/docs/contribute/new-content/overview/#sign-the-cla))하고 GitHub 계정을 가지고 있어야 한다.

At 65 line: \) 가 하나 더 들어가 있습니다.
[CLA에 서명](/docs/contribute/new-content/overview/#sign-the-cla)) 후에 누구나 다음을 할 수 있다.

**Proposed Solution:**
At 39 line:
\- \*\*모든 사람\*\* 은 쿠버네티스 문서에 기여할 수 있다. 기여시 \[CLA에

[2020-06-22 07:09] charlesguo404 opened #21974 "Issue with k8s.io/docs/concepts/services-networking/service-topology/"
I think this is conflict, really not support for clusterIP ?
[code]

[code]

[2020-06-22 07:12] inductor commented on #21850
/close

[2020-06-22 07:13] #21850 closed

[2020-06-22 08:08] oke-py commented on #21894
`Kubernetesオブジェクトについて知る`のリンク先に`#kubernetes-objects`がついていますね。

[2020-06-22 08:14] inductor commented on #21892
/close

[2020-06-22 08:14] #21892 closed

[2020-06-22 08:23] #21974 closed

[2020-06-22 08:28] inductor commented on #21853
@kakts

お願いが2つあります

1. Captureとcontent_templateの差分は取り除いてください
2. diffのハイライトをGistに入れてください

[2020-06-22 08:28] inductor commented on #21852
@kakts

お願いが2つあります

1. Captureとcontent_templateの差分は取り除いてください
2. diffのハイライトをGistに入れてください

[2020-06-22 08:44] seokho-son commented on #21973
/kind bug
/help
/good-first-issue

신규 컨트리뷰터가 작업하기 좋은 이슈인 것 같습니다. @pjhwa 감사합니다!

해당 이슈에 대한 작업(한글화에 첫 컨트리뷰션!)을 **해보고 싶은 분은 아래 코멘트 남겨주세요** !!
해당 이슈에 대한 작업에 어려움이 있으면 한글화팀에서 적극적으로 돕겠습니다!

Bug 수정에 대한 PR은 master 브랜치나, 한글화팀의 최신 작업 브랜치로 올려주시면 됩니다. 참고하시기 바랍니다.

[2020-06-22 08:44] seokho-son commented on #21973
■ 쿠버네티스 문서 한글화 참여 방법
(1) 문서 기여 방법: https://github.com/kubernetes/website/blob/master/README-ko.md
(2) 문서 한글화 가이드 동영상: https://www.youtube.com/watch?v=OTl8HBjxIhc
(3) 한글화 스타일 가이드: https://kubernetes.io/ko/docs/contribute/localization_ko/
(4) 한글화 팀 Slack 채널: Kubernetes Slack 가입 후, #kubernetes-docs-ko 채널 참여하여 문의
(5) 한글화 팀 회의: 격주 목요일 22시. Zoom(#kubernetes-docs-ko에 링크 공유)에서 열립니다. (회의록: https://goo.gl/1

[2020-06-22 09:00] vinu2003 commented on #21955
@sftim I am tied up with another task and I am fully into it.
Apologise. I shouldn't be blocked others from picking this up and progressing.
un-assigning here

[2020-06-22 09:01] pjhwa opened #21982 "Issue with k8s.io/docs/concepts/extend-kubernetes/api-extension/custom-resources/"
**This is a Bug Report**

**Problem:**
At 181 line: Link to OpenAPI v3.0 validation is broken.
| Validation | Help users prevent errors and allow you to evolve your API independently of your clients. These features are most useful when there are many clients who can't all update at the same time. | Yes.  Most validation can be specified in the CRD using [OpenAPI v3.0 validation](/docs/tasks/extend

[2020-06-22 09:13] oke-py opened #21984 "Translate /docs/concepts/services-networking/ingress-controllers/ into Japanese"
**This is a Feature Request**

**What would you like to be added**
Translate /docs/concepts/services-networking/ingress-controllers/ into Japanese.

**Why is this needed**
This page has not been translated.

**Comments**
/language ja
/assign

[2020-06-22 09:34] pjhwa commented on #21982
/assign @pjhwa

[2020-06-22 10:49] inductor commented on #21851
/close

[2020-06-22 10:50] #21851 closed

[2020-06-22 11:03] inductor commented on #21842
/close

[2020-06-22 11:04] #21842 closed

[2020-06-22 11:07] ariscahyadi commented on #20111
@irvifa and @girikuncoro let me know if you need help to review... to ensure that we can close all the open pages on time :)

[2020-06-22 11:47] inductor commented on #21843
/close

[2020-06-22 11:47] #21843 closed

[2020-06-22 13:45] kakts commented on #21852
承知しました

[2020-06-22 13:56] kakts commented on #21853
@inductor   ありがとうございます。こちら修正しました

[2020-06-22 13:56] kakts commented on #21852
@inductor ありがとうございます。こちら修正しました

[2020-06-22 15:10] kakts opened #21991 "ja: Translate /docs/setup/production-environment/tools/kubespray.md into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate /docs/setup/production-environment/tools/kubespray.md into Japanese

**Why is this needed**
The content in content/ja/docs/setup/production-environment/tools/kubespray.md is not fully translated into Japanese.

**Comments**

/language ja
/good-first-issue

The file to change
https://github.com/kubernetes/website/blob/dev

[2020-06-22 15:13] kakts opened #21992 "ja: Translate content/docs/setup/production-environment/tools/kops.md into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate content/docs/setup/production-environment/tools/kops.md into Japanese

**Why is this needed**
The content in content/docs/setup/production-environment/tools/kops.md is not fully translated into Japanese.

**Comments**

/good-first-issue
/language ja

The file to change
https://github.com/kubernetes/website/blob/dev-1.17-

[2020-06-22 15:15] sftim commented on #21968
The current documentation is accurate; all three kinds of probe are optional.

@adityamandhare I'll close this
/close

[2020-06-22 15:15] #21968 closed

[2020-06-22 15:17] sftim commented on #21966
I wouldn't add a /kind label here TBH and if I did I'd lean towards /kind cleanup

I agree, this page could be better worded. A diagram showing states and transitions would help a lot.
/language en

and, I think:
/priority backlog

[2020-06-22 15:20] sftim commented on #21964
/kind bug
/language en

[2020-06-22 15:25] #21992 closed

[2020-06-22 15:26] #21991 closed

[2020-06-22 16:03] #18820 closed

[2020-06-22 17:41] chandrabhShukla commented on #15728
Use this command : kubectl create deployment hello-minikube --image=k8s.gcr.io/echoserver:1.4
and then use: kubectl get deployments

[2020-06-22 20:29] sftim commented on #21930
@tengqm let's discuss the move back in this issue. Can you set out a case for reverting?

[2020-06-22 20:41] #21982 closed

[2020-06-22 20:50] sftim commented on #21924
Can you clarify the issue(s) you're reporting @harik8? If you can include a screenshot that's helpful; if you can open a new issue for each separate defect that's even better.

[2020-06-22 20:51] sftim commented on #21808
@kono-paku are these symptoms still occurring? We're seeing different reports.

[2020-06-22 21:09] #21808 closed

[2020-06-22 21:21] stefanlasiewski commented on #21800
I'm still waiting for approval to sign the CLA, otherwise I would contribute a PR also.

[2020-06-22 21:54] sftim commented on #20728
/remove-priority backlog
/priority important-longterm

[2020-06-22 22:07] stefanlasiewski commented on #21755
@sftim just wanted to make you aware of this issue, since it's related to the discussion at https://github.com/kubernetes/website/pull/21815#discussion_r443837430.

[2020-06-22 22:24] sftim commented on #21755
/sig architecture

[2020-06-22 22:27] sftim commented on #21755
The way _I_ see it, there is no master in Kubernetes. There is a control plane (or your cluster doesn't work), and there are Pods (or your apps don't work). You either have kubelets or something similar, eg [Virtual Kubelet](https://virtual-kubelet.io/) and you're going to need something that does the job of `kube-proxy` and the CNI.

Some clusters run the control plane components on machines that

[2020-06-22 22:28] sftim commented on #21755
@kubernetes/sig-architecture-pr-reviews is there somewhere that “officially” defines whether or not the kubelet is part of the control plane?

[2020-06-22 23:01] kono-paku commented on #21808
I have confirmed that this issue has dissapeared!
Thank you for dealing with!

[2020-06-22 23:03] oke-py commented on #21951
/close

[2020-06-22 23:03] #21951 closed

[2020-06-22 23:19] shuuji3 commented on #21808
@kono-paku I'm glad to hear that! 🙂

[2020-06-23 00:56] BenTheElder commented on #21800
"control-plane node" is the replacement for discussing the machines, and "control-plane" for describing those components in general.

there are some threads about this on some of the maillinglists, and a workgroup being spun up to cleanup the language used broadly.

IMHO that doesn't make sense. Unless they mean that the machine/vm is part of the overall control plane?

[2020-06-23 01:00] celestehorgan commented on #21830
/assign @celestehorgan

[2020-06-23 01:57] bradwinfield opened #22002 "Improvement for k8s.io/docs/tasks/administer-cluster/enabling-service-topology/"
To simply state: "To enable service topology, enable the ServiceTopology and EndpointSlice feature gate for all Kubernetes components: ..." is very frustrating. It's just enough information to tell me that what I want, can be done but not enough for me to get there. When you say 'objects', does that mean options on k8s process, or on what exactly?

[2020-06-23 03:17] makocchi-git commented on #21853
/assign

[2020-06-23 03:33] stefanlasiewski commented on #21800
Check out #21755, which describes this particular point better.

[2020-06-23 03:35] tengqm commented on #21930
@sftim Sure.
I'm assuming that there are audiences from different user groups reading the docs and even learn by doing. A long while ago, we (primarily chenopis) started an initiative to provider journeys for different group of users. Some of those efforts are still [here](https://github.com/kubernetes/website/tree/master/deprecated/content/en/docs/user-journeys/users), archived into a `deprecated

[2020-06-23 03:39] #21606 closed

[2020-06-23 03:54] adityamandhare opened #22006 "Isolation of pods associated with a Replica Set"
**This is a Bug Report**

**Problem:**
The page https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/ states that `It's through the Pods' metadata.ownerReferences field link that the ReplicaSet knows of the state of the Pods it is maintaining and plans accordingly.` From this it seems that this is how the Replica Set and Pods are linked.

The ReplicaSet uses the labels only to acqu

[2020-06-23 03:58] BenTheElder commented on #21800
regarding the previous discussions across sigs: https://groups.google.com/g/kubernetes-sig-cluster-lifecycle/c/IjN_9n0KEUg

[2020-06-23 05:21] themonks commented on #19870
Check if you are creating the `sudomkdir /mnt/data` in your host machine or in the correct node.
Create this inside the minikube master node.

[code]

[2020-06-23 05:41] ingenthr opened #22008 "Issue with k8s.io/docs/tasks/service-catalog/install-service-catalog-using-sc/"
**This is a Bug Report**

**Problem:**

After getting "sc" tool, I then had to install `cfssl` and `cfssljson`.  Those dependencies aren't listed.  Chances are they were just already installed on the author's machine.  It will fail thusly:

[code]

**Proposed Solution:**

**Page to Update:**
Update the page to include these dependencies and commands.

[code]

[2020-06-23 08:10] sftim commented on #21954
I think #21823 fixed this.

/close

Please feel free to reopen it if you still see symptoms @msrinivascharan

[2020-06-23 08:10] #21954 closed

[2020-06-23 08:21] sftim commented on #21755
I'm happy to view https://groups.google.com/g/kubernetes-sig-cluster-lifecycle/c/IjN_9n0KEUg/m/nPwfMk7OBAAJ as something akin to rough consensus and a working approach. With that in mind, let's go with what I stated in https://github.com/kubernetes/website/issues/21755#issuecomment-647800496, bar objections?

[2020-06-23 09:27] seokho-son commented on #21677
@yoonian
dev-1.18-ko.6 branch 의 머지 일정이 다가오고 있어서, 스케줄링 차원에서 현황을 문의 드립니다.. ^^

[2020-06-23 10:19] Yiyiyimu opened #22010 "Issue with k8s.io/zh/docs/tutorials/kubernetes-basics/update/update-intro"
**This is a Bug Report**

**Problem:**
The carousel is not working

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/zh/docs/tutorials/kubernetes-basics/update/update-intro/

[2020-06-23 10:19] Yiyiyimu commented on #22010
/language zh

[2020-06-23 10:24] Yiyiyimu commented on #22010
It seems the class of carousel images changed
/assign

[2020-06-23 10:53] oke-py commented on #21890
/close

[2020-06-23 10:54] #21890 closed

[2020-06-23 12:08] QizhouYang opened #22013 "Issue with k8s.io/zh/docs/concepts/overview/components/"
**This is a Bug Report**

**Problem:**
“Kubernetes Components”   Duplicate content
**Proposed Solution:**
delete unnecessary
**Page to Update:**
https://kubernetes.io/...

v1.18

[2020-06-23 15:29] sftim opened #22015 "Start example YAML manifests with ---"
**This is a Feature Request**

**What would you like to be added**
Change sample YAML manifests so that they all begin with
[code]
on a line by itself.

**Why is this needed**
YAML has an optional `---` at the start. Adding the `---`:
- calls out that this is YAML
- gives a hint about why you can combine multiple resource declarations into one file
- matches the spec

**Comments**
Comes from https

[2020-06-23 15:31] kbhawkey opened #22016 "maintain a copy of API references from snapshot branches"
**This is a Feature Request**
Investigate a way to maintain copies of the last four API references in
the current website.The references were previously available, but never maintained; the content was outdated.
There are a number of readers as well as external documentation that depend on linking to the
previous API references from the `kubernetes.io` site.
Providing a link to the API reference i

[2020-06-23 15:31] kbhawkey commented on #22016
Temporarily assigning myself.
/assign

[2020-06-23 15:36] kbhawkey commented on #22016
Related PRs: #21931,#21929 .

[2020-06-23 15:43] kbhawkey commented on #22016
I am thinking about creating these directories:
website/static/docs/reference/generated/kubernetes-api/latest
website/static/docs/reference/generated/kubernetes-api/v1.17
website/static/docs/reference/generated/kubernetes-api/v1.16
website/static/docs/reference/generated/kubernetes-api/v1.15
website/static/docs/reference/generated/kubernetes-api/v1.14
Other ideas?

[2020-06-23 15:43] kbhawkey commented on #22016
@tengqm @joelsmith

[2020-06-23 16:59] sftim commented on #22015
/kind cleanup

[2020-06-23 17:10] sftim commented on #22016
I'm not really keen on a static `latest` in that list. The trouble is that it encourages people to link there, only for the thing they linked to to become out of date when the next release happens. I really think it's better to link to a specific API.

Ideally the API reference also lets you choose to view a different version, that's definitely a SIG Docs ambition.

I think we either want
_all_ th

[2020-06-23 17:37] kbhawkey commented on #22016
I understand the concern about using `latest` and added that to the list as a compromise.
There is an "API overview" page that external sources could link to?
The point of this issue is to provide a "real" integration of the references (similar to past behavior) -- not just links and redirects.
I don't think it is fair to link to the snapshot and have to navigate back and forth to the current site

[2020-06-23 18:02] sftim commented on #19307
/remove-lifecycle stale

[2020-06-23 18:07] sftim commented on #19309
/remove-lifecycle stale

[2020-06-23 18:07] sftim commented on #19040
Fixed - we're using Docsy now and there is no left menu.

[2020-06-23 18:08] sftim commented on #19040
/close

[2020-06-23 18:08] #19040 closed

[2020-06-23 18:09] sftim commented on #21923
I tried to replicate this and didn't see symptoms. What are the steps to replicate it?

[2020-06-23 19:35] kbhawkey commented on #21923
With Firefox, viewing `kubernetes.io`, three svg images are not displayed.
Inspect for `ocean-nodes .main-section .image-wrapper`. Add width: 100%.
Screen size min-width: 768px (tablet size?).
I am viewing with laptop.
Not evident w/Chrome.

[2020-06-23 21:31] #18831 closed

[2020-06-23 21:31] #18846 closed

[2020-06-23 22:40] julio-solides opened #22019 "Issue with k8s.io/docs/concepts/workloads/pods/pod-overview/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-06-23 22:41] 532910 opened #22020 "Search this site should be above the section"
The page on the screenshot is https://kubernetes.io/docs/home/

This site is `kubernetes.io`.

This form searches within documentation, not this site:

![image](https://user-images.githubusercontent.com/14617699/85473093-6bc7f600-b5bb-11ea-8335-8c632619b44e.png)

[2020-06-23 22:44] 532910 opened #22021 "Two hamburger buttons"
I believe two hamburger buttons confuses users on https://kubernetes.io/ru/docs/home

![image](https://user-images.githubusercontent.com/14617699/85473650-3a035f00-b5bc-11ea-811e-525c5772bc00.png)

[2020-06-23 23:42] sftim commented on #22021
Hi @532910

My guess is that there are a few different approaches to address this.
What should solutions focus on?

[2020-06-23 23:44] sftim commented on #22020
Hi @532910

That search form searches the whole site. Can you give an example of how the search appears limited?

/triage needs-information

[2020-06-23 23:45] sftim commented on #22016
As a compromise, we could define that
https://kubernetes.io/docs/reference/generated/kubernetes-api/latest/ is always a 307 redirect to the latest API documentation. How about that?

[2020-06-23 23:45] sftim commented on #22019
Hi @julio-solides

What wasn't right with the page at https://k8s.io/docs/concepts/workloads/pods/pod-overview/

[2020-06-23 23:46] sftim commented on #22019
/triage needs-information

[2020-06-23 23:48] sftim commented on #22006
This is a general concept not just relevant to ReplicaSet:
_how do the labels and selectors that a controller uses interact with `ownerReferences`, finalizers, garbage collection and related topics_?

I'd favor covering it once and then having each workload controller hyperlink to a page that explains that detail.

[2020-06-23 23:52] sftim commented on #22008
I'm not sure whether or not https://kubernetes.io/docs/tasks/service-catalog/install-service-catalog-using-sc/ should stay given that https://github.com/kubernetes/website/issues/20232 is cleaning up third party content, and `sc` is fairly closely tied to GCP.

My gut feeling based on https://github.com/kubernetes/website/issues/13017, the [content guide](https://kubernetes.io/docs/contribute/styl

[2020-06-23 23:53] sftim commented on #15083
/remove-lifecycle stale

[2020-06-23 23:56] 532910 commented on #22020
Yep, it's my fault. But I was confused by oder: `Search this site` should go **before** `Documentation` section.

[2020-06-24 00:00] sftim commented on #22008
I'm decided. https://kubernetes.io/docs/tasks/service-catalog/install-service-catalog-using-sc/ should go.
@ingenthr this might not be quite what you'd hoped for - sorry!

[2020-06-24 00:07] sftim commented on #21947
Fixed in PR #21949
/close

[2020-06-24 00:08] #21947 closed

[2020-06-24 00:08] sftim commented on #21965
/priority backlog
/language en

It'd be great to see this page tidied up

[2020-06-24 00:13] sftim commented on #21923
I looked just now and the symptoms show up for me too. I could have sworn they were showing OK earlier (different monitor setup, same browser process).

Definitely a valid issue.
/priority important-longterm
/kind bug

[2020-06-24 00:17] sftim commented on #22020
If you can make a mockup or sketch of how you think the page should look instead, I think that'll really make it clear what you're not happy about with the existing page. Would you have time to do that?

(even a pencil sketch is fine!)

[2020-06-24 00:23] adityamandhare commented on #22006
@sftim does simply changing labels help isolate pods from the controller?

[2020-06-24 00:33] sftim commented on #22006
Sure. If you have a ReplicaSet that's managing 2 Pods _A_ and _B_, and you delete all the labels on Pod _A_ then Pod _A_ continues running but the ReplicaSet sees that there is now only 1 healthy Pod matching its selector. The ReplicaSet creates a new Pod.

If you then delete the ReplicaSet, Pod _A_ stays running.

You can try this out.

[2020-06-24 00:36] sftim commented on #22006
@adityamandhare I think a good way forward here is if you open a new issue about having a page to clarify the detail you weren't sure on (about labels & selectors vs. ownerReferences)
and then close this issue referencing the new issue.

how does that sound to you?

[2020-06-24 00:38] adityamandhare commented on #22006
okay I can do that. Thanks!

[2020-06-24 01:14] adityamandhare opened #22022 "Clarification over the use of metadata.ownerReferences Vs pod labels for link between Replica controller and Pods"
**This is a Bug Report**

**Problem:**
The page https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/ states that `It's through the Pods' metadata.ownerReferences field link that the ReplicaSet knows of the state of the Pods it is maintaining and plans accordingly.` From this it seems that this is how the Replica Set and Pods are linked.

The ReplicaSet uses the labels only to acqu

[2020-06-24 01:14] adityamandhare commented on #22006
@sftim Created a new issue https://github.com/kubernetes/website/issues/22022 for clarification. Closing this one.

[2020-06-24 01:14] #22006 closed

[2020-06-24 01:17] sftim commented on #21687
Sounds good.

[2020-06-24 01:35] sftim commented on #21563
We discussed this in the 2020-06-23 SIG Docs weekly meeting.
@jimangel proposed flagging the third party client libraries with an added cautionary note about quality.
@sftim recommended ensuring that all client projects within https://github.com/kubernetes-client _are_ linked to
@zacharysarah notes that this is strictly content as outside what's allowed in the [content guide](https://kubernetes.io

[2020-06-24 01:47] sftim commented on #22022
/language en
/priority backlog

[2020-06-24 01:49] sftim commented on #22022
In #22006 I recommended adding one page that compares selector and ownerReferences links between Pods and controllers (and, in fact, it goes beyond Pods, it's any resource that a controller manages based on labels).

&hellip;and I still recommend that. The other pages can link to the new page.

[2020-06-24 01:51] celestehorgan opened #22024 "Umbrella issue: Remove unused files and scripts"
Now that the Docsy theme is merged and running, we have a number of unused or duplicate JavaScript, CSS, image and font files in the kubernetes/website repository. We should remove these, as it will make the repository easier to maintain going forward.

Some of these removals are more straightforward than others, but as a general rule, anyone executing this work should do the following:

1) Do a k

[2020-06-24 01:51] celestehorgan commented on #22024
/priority important-longterm
/kind cleanup

[2020-06-24 01:54] sftim commented on #22015
Some context. https://github.com/adrienverge/yamllint which recommends the `---` and warns (by default) if it's omitted:
[code]

[2020-06-24 02:07] mochizuki-pg commented on #21893
/assign

[2020-06-24 02:10] Colstuwjx commented on #19817
![image](https://user-images.githubusercontent.com/3972545/85489625-d7818180-b602-11ea-81b8-7393127f0c03.png)

After we switched to docsy theme, however, this issue still exists.
/remove-lifecycle stale

[2020-06-24 02:24] hiyokotaisa commented on #21894
@oke-py 現在の`dev1.17-ja.3`ブランチでは、日本語訳のバージョンには`#kubernetes-objects`タグはついていないようです
https://github.com/kubernetes/website/blob/dev-1.17-ja.3/content/ja/docs/concepts/overview/working-with-objects/kubernetes-objects.md
[code]

しかし、原文の方にはタグがついています。
[code]

このようなケースでは、どう対応するのがよいでしょうか。一旦`docs/concepts/_index.md`側ではタグを指定しておいて、あらたにissueを切って`docs/concepts/overview/working-with-objects/kubernetes-objects.md`にタ

[2020-06-24 03:05] inductor commented on #21894
必要ならばタグを付けてしまって大丈夫だと思います！

[2020-06-24 03:09] oke-py commented on #21894
1つのPRで大丈夫です！
- `docs/concepts/_index.md`でタグを指定する
- `docs/concepts/overview/working-with-objects/kubernetes-objects.md`でタグを付ける

[2020-06-24 03:18] hiyokotaisa commented on #21894
@inductor @oke-py ありがとうございます、そのように対応します！

[2020-06-24 03:37] oke-py commented on #21893
/close

[2020-06-24 03:37] #21893 closed

[2020-06-24 04:00] makocchi-git commented on #21597
I suppose it would be better to update the doc to use etcd with SSL/TLS.

https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/security.md

[2020-06-24 04:11] #22010 closed

[2020-06-24 06:27] shuuji3 commented on #22021
My idea is replacing the second hamburger icon from the top with a caret icon (▼/▲).

This is an example of using `fa-caret-up` and `fa-caret-down` of Font Awesome (ref. [Triangle Icons | Font Awesome](https://fontawesome.com/icons?d=gallery&m=free&q=triangle)):

**initial collapsed state**
![fa-caret-down](https://user-images.githubusercontent.com/1425259/85507862-fd704b80-b62d-11ea-8813-0839f153

[2020-06-24 08:12] shuuji3 commented on #21964
/assign

I'm going to fix the link to the correct one.

[2020-06-24 08:29] hikkie3110 commented on #21852
/assign

[2020-06-24 09:36] oke-py commented on #21881
/close

[2020-06-24 09:36] #21881 closed

[2020-06-24 09:42] 532910 commented on #22020
![image](https://user-images.githubusercontent.com/14617699/85532235-330a3a00-b618-11ea-8e57-fed76ccfdd8e.png)

[2020-06-24 09:59] 532910 commented on #22021
First of all, the second hamburger button is related to the documentation and must not be grouped with the search field.
The search field is related to the whole site and must be above documentation section.
Ths second hamburger button is the TOC for documentation and must be placed the same line as `Documentation`
The triangle button should be nice for this.

![image](https://user-images.githubus

[2020-06-24 10:13] shuuji3 commented on #22021
I like this modification. It sounds reasonable to me.

Putting a search box on the header allows users to search soon because it is always shown on the header. Currently, we cannot see the search box after scrolling the page, so we need to scroll the page to the top.

[2020-06-24 10:22] sftim commented on #22021
Consider basing the UI for the lower menu on [`<details>`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details) from HTML5.

(Maybe even _use_ `<details>`)

[2020-06-24 13:21] #21970 closed

[2020-06-24 13:22] seokho-son commented on #21677
ping @yoonian

[2020-06-24 14:13] #21964 closed

[2020-06-24 15:43] raelga commented on #13948
## Status update

_Updated 2019/10/03_

### Merged and published :tada:

- (es): Typo Spanish Doc #21831 by @jfernancordova
- (es): Fix Spanish typos #21745 by @jfernancordova
- (es): Fix wrong translations in Spanish #21744 by @jfernancordova
- More
Add content/es/docs/concepts_workloads_controllers/jobs-run_and_replicaset #14851 by @emedina
- Localize “email address” placeholder on home page #19

[2020-06-24 16:20] craigbox opened #22036 "Announcement banner now in Google search snippets"
The announcement banner text (merged in #21505) is being used as the Google search snippet for docs pages.  This may not have been your intention.

https://www.google.com/search?q=kubernetes+cluster+bootstrapping

![image](https://user-images.githubusercontent.com/132510/85593325-d706dc00-b63e-11ea-871d-7c67f7f9a292.png)

[2020-06-24 19:20] celestehorgan opened #22040 "Remove /scripts/js/anchor-4.1.1-min.js"
Umbrella issue: https://github.com/kubernetes/website/issues/22024

Remove the `/scripts/js/anchor-4.1.1-min.js` and the corresponding call in [/layouts/partial/head.html#L77](https://github.com/kubernetes/website/blob/master/layouts/partials/head.html#L77).

_In theory_ we now use the anchor.js packaged with Docsy, however in practice this may not be the case 😅. You'll want to check the build car

[2020-06-24 19:20] celestehorgan commented on #22040
/kind cleanup
/kind important-longterm
/help-wanted

[2020-06-24 19:21] celestehorgan commented on #22040
/priority important-longterm

[2020-06-24 19:21] celestehorgan commented on #22040
/label help-wanted

[2020-06-24 19:22] celestehorgan commented on #22024
/help

[2020-06-24 19:22] celestehorgan commented on #22024
/remove help

[2020-06-24 19:22] celestehorgan commented on #22040
/help

[2020-06-24 19:29] EmilyM1 commented on #21955
/assign @emilym1

[2020-06-24 19:30] celestehorgan opened #22041 "Investigate removing /scripts/js/bootstrap-4.3.1.min.js"
Umbrella issue: https://github.com/kubernetes/website/issues/22024

If possible, delete `/scripts/js/bootstrap-4.3.1.min.js`.

A full-text search of the repo reveals that only `/static/docs/reference/generated/kubernetes-api/v1.18/index.html` calls this file, _but_ all of its other files this page uses are stored in `/v1.18/js`... so?

Try and see.

[2020-06-24 19:30] celestehorgan commented on #22041
/help
/kind cleanup
/priority important-longterm

[2020-06-24 20:03] SaiHarshaK opened #22042 "Stylesheet does not limit width of <ol> for larger screens"
**This is a Bug Report**

**Problem:** Stylesheet does not limit width of \<ol> for larger screens. The config details in [kubectl-commands](https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#config) overflow its container.
(I use mozilla firefox if it's required)

**Proposed Solution:**
Find a way to add, "width:52%;" attribute for \<ol> tags in Stylesheet under "@media scree

[2020-06-24 20:20] sftim commented on #18710
/remove-lifecycle rotten
/good-first-issue

[2020-06-24 20:32] celestehorgan opened #22044 "Remove /scripts/js/custom-jekyll/tags.js"
Umbrella issue: https://github.com/kubernetes/website/issues/22024

Remove `/scripts/js/custom-jekyll/tags.js`, the containing directory, `custom-jekyll`, and the call to the script in [/layouts/partials/head.html#L87](https://github.com/kubernetes/website/blob/master/layouts/partials/head.html#L87).

Test the output thoroughly by looking for [a page with multiple glossary tooltips](http://localho

[2020-06-24 20:32] celestehorgan commented on #22044
/kind cleanup
/help
/good-first-issue
/priority important-longterm

[2020-06-24 20:35] celestehorgan commented on #22040
/good-first-issue

[2020-06-24 20:41] celestehorgan opened #22045 "Investigate removing /static/js/search.js"
Umbrella issue: https://github.com/kubernetes/website/issues/22024

Investigate removing `/static/js/search.js`. This will potentially involve pointing this template https://github.com/kubernetes/website/blob/master/layouts/docs/search.html to Docsy's search.js.

There's a reasonably large chance that this won't work in any way, shape or form. If so, comment what you tried and what happened, then

[2020-06-24 20:43] celestehorgan commented on #22045
/help
/priority important-longterm
/kind cleanup

[2020-06-24 20:45] celestehorgan commented on #4507
@sftim is this still relevant in our post-template Docsy world?

[2020-06-24 20:51] celestehorgan commented on #16120
Addressed in https://github.com/kubernetes/website/pull/20874.

Can we close this? (cc: @sftim – I don't have permissions yet)

[2020-06-24 20:57] celestehorgan commented on #18759
addressed in https://github.com/kubernetes/website/pull/20874.

@sftim can we close this?

[2020-06-24 20:58] celestehorgan commented on #18972
This is an issue with the old layout. Can we close this? (cc: @sftim)

[2020-06-24 21:01] brianpursley commented on #18972
If it is fixed by a new layout, that is fine with me. I just wanted to make sure it was tracked somewhere. Thanks!

[2020-06-24 21:04] sftim commented on #4507
Good point. I'm going to close it; @steveperry-53 if that was unwise of me, please feel free to reopen it.

[2020-06-24 21:05] sftim commented on #16120
/close

[2020-06-24 21:05] #16120 closed

[2020-06-24 21:05] sftim commented on #18759
/close

[2020-06-24 21:05] celestehorgan commented on #19591
@sftim I think we can close this one too :)

[2020-06-24 21:05] #18759 closed

[2020-06-24 21:12] celestehorgan commented on #18889
https://kubernetes.io/blog/2016/01/why-kubernetes-doesnt-use-libnetwork/ seems to be working now, but https://kubernetes.io/blog/2016/01/kubernetes-community-meeting-notes_28/ is still corrupted. Note that [the underlying markdown](https://github.com/kubernetes/website/blob/master/content/en/blog/_posts/2016-01-00-Kubernetes-Community-Meeting-Notes_28.md) seems to have been in a wonky state for ab

[2020-06-24 21:15] sftim commented on #21797
Which PR seems better:   #21998 or #22043?

[2020-06-24 21:19] celestehorgan commented on #20428
Would `kind/website` maybe be a better catch-all? (I say, as I create 10's of JS file cleanup issues)

[2020-06-24 21:23] celestehorgan commented on #21749
@sftim it's looking likely that we're going to wait to see what GitHub rolls out before making any moves ourselves, just fyi

[2020-06-24 21:23] sftim commented on #20428
@celestehorgan this whole _repository_ is for the website.

`area/web-development` perhaps?

I suggest _area_ because you can have a bug issue and a feature issue that both call for JavaScript skills (and aren't about Kubernetes knowledge).

[2020-06-24 21:25] celestehorgan commented on #21795
@sftim Another option for display would be to have tables scroll horizontally once they hit their `max-width`, i.e. [like this](https://www.wealthsimple.com/en-ca/learn/investing-basics#types_of_investments).

This would be a relatively simple fix and would serve us well for a number of scenarios.

[2020-06-24 21:32] sftim commented on #22036
@craigbox SIG Docs doesn't have a good way to improve Google's indexing algorithm. The text is in an `<aside>` HTML element which _should_ mark it as an aside: content only indirectly related to the main content.

I'd characterize this as a Google bug. There _are_ a lot of Google people in the Kubernetes ecosystem but probably not from the web search side.

Do you agree with that characterization?

[2020-06-24 21:33] sftim commented on #22036
/priority awaiting-more-evidence

[2020-06-24 21:41] sftim commented on #22042
I'm not sure that fixing just for `<ol>` elements is the right approach. Maybe fix it for `.body-content > *` or, if there need to be exceptions, `.body-content > *:not(something)`?

[2020-06-24 21:42] celestehorgan commented on #21867
I think this dovetails with https://github.com/kubernetes/website/issues/20895 as well.

From an implementation perspective (from what I can tell) the site uses a custom google search engine.

First step would be identifying who the admin(s) of that are.
Second step would be identifying what directories are scanned
Third step would be including the pages we now want to include.
Fourth step is _fai

[2020-06-24 21:42] sftim commented on #22042
/priority important-longterm

[2020-06-24 21:44] sftim commented on #14956
/remove-priority backlog
/priority important-longterm
/sig node

[2020-06-24 21:44] sftim commented on #14507
Also see #20728

/remove-lifecycle stale

[2020-06-24 21:46] sftim commented on #21866
Fixed in #21949
/close

[2020-06-24 21:46] #21866 closed

[2020-06-24 21:47] sftim commented on #19139
Also see #22015

[2020-06-24 21:49] sftim commented on #16059
/remove-lifecycle stale

[2020-06-24 21:49] sftim commented on #15539
Fixed by #20874
/close

[2020-06-24 21:49] #15539 closed

[2020-06-24 21:49] sftim commented on #15560
/remove-lifecycle rotten

[2020-06-24 21:50] sftim commented on #14727
/remove-lifecycle stale
/sig storage

[2020-06-24 21:51] sftim commented on #14639
/remove-lifecycle stale

[2020-06-24 21:51] sftim commented on #14742
Generators are deprecated enough that this can go
/close

[2020-06-24 21:52] sftim commented on #14201
/remove-lifecycle stale

[2020-06-24 21:52] #14742 closed

[2020-06-24 21:52] sftim commented on #22021
/kind bug
/priority backlog

[2020-06-24 21:53] sftim commented on #21955
/sig auth

[2020-06-24 21:54] sftim commented on #19139
/close

[2020-06-24 21:54] #19139 closed

[2020-06-24 21:54] sftim commented on #12082
Also see issue #21956

[2020-06-24 21:58] sftim commented on #21922
/kind cleanup
/priority backlog

[2020-06-24 22:00] sftim commented on #21948
@tmarrs-alb, GitHub is not the right place for support requests.

For help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

/triage support

[2020-06-24 22:03] sftim commented on #21846
Hi @muratcabuk

If you're using a deprecated kubelet command line flag, the way to address that depends on which deprecated flag you're using.

The _reference_ section is intentionally brief and provides only a summary of what each option does. The aim of this page is to be comprehensive more than instructive.

If you're looking still for help, check [Stack Overflow](https://stackoverflow.com/ques

[2020-06-24 22:04] sftim commented on #21828
This documentation is for generic Kubernetes rather than GKE.

If you're seeing a bug that you can replicate with vanilla Kubernetes, please confirm that and we'll track the defect (we also take pull requests!)

[2020-06-24 22:04] sftim commented on #21816
/kind cleanup

[2020-06-24 22:08] sftim commented on #21749
Yep, I've intentionally set this to /priority awaiting-more-evidence

[2020-06-24 22:09] sftim commented on #21621
Relates to #21749 and to the new Naming working group.

[2020-06-24 23:03] chalin opened #22048 "Heading text partially hidden by site's top-nav when visiting link with anchor"
For example, visit https://kubernetes.io/docs/concepts/overview/components/#kube-apiserver
What I see is the heading text partially hidden by the site's top-nav:

Visiting most entries in that page's TOC will have a similar effect.

[2020-06-24 23:23] celestehorgan commented on #19817
:/ I thought I merged a PR that fixed this recently, but apparently not.

/assign @celestehorgan

[2020-06-25 00:19] celestehorgan opened #22049 "Remove /static/js/sweetalert-2.1.2.min.js"
Umbrella issue: https://github.com/kubernetes/website/issues/22024

Remove `/static/js/sweetalert-2.1.2.min.js`.

This file is called by the `/static/js/script.js` file's `copyCode(elem)` function. Because we're using Docsy's codeblocks now remove the entire function as well. Remove it from the [head.html](https://github.com/kubernetes/website/blob/master/layouts/partials/head.html#L79) partial as

[2020-06-25 00:20] celestehorgan commented on #22049
/help
/kind cleanup
/priority important-longterm

[2020-06-25 00:34] zacharysarah commented on #17070
This issue has renewed importance with https://github.com/kubernetes/community/pull/4884.

/remove-lifecycle rotten
/assign @celestehorgan

[2020-06-25 03:13] girikuncoro opened #22051 "Issue with k8s.io/id/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/"
**This is a Bug Report**

**Problem:**
The page is empty in website, although it's in the master branch

**Proposed Solution:**
The page should show

**Page to Update:**
https://kubernetes.io/id/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes

/language id

[2020-06-25 05:09] SaiHarshaK commented on #22042
I see. I suggested changing just \<ol> tag previously since the generated stylesheet had mentioned for lot of them individually.
[code]

[2020-06-25 07:43] pigletfly commented on #21922
I guess it's caused by the upgrade of jquery-ui,but we can modify the css styles.

[2020-06-25 08:07] meirzee opened #22052 "Issue with k8s.io/docs/concepts/workloads/controllers/deployment/"
**This is a Bug Report**

RollingUpdate and recreate strategy are well explained on the documents but when trying to implement I found it is not so Trivial
and got some error

**Proposed Solution:**
It will be great  if the documentation will include an example of implementing these strategies.

**Page to Update:**
https://kubernetes.io/docs/concepts/workloads/controllers/deployment/

Thanks in ad

[2020-06-25 08:24] sftim commented on #21867
The site search already covers the whole site, so this is really about adding a form to the front page.

[2020-06-25 08:28] Arhell commented on #21821
/close

[2020-06-25 10:41] craigbox commented on #22036
I can't find anything suggesting Google has ever ignored `<aside>` elements, and I can find a comment from someone at Google saying they explicitly ignore them ([John Mueller](https://twitter.com/JohnMu/status/708300431777275904) via [seroundtable](https://www.seroundtable.com/google-aside-tag-seo-21774.html)).

The supported way to mark something not to go in a snippet is the `data-nosnippet` att

[2020-06-25 10:56] sftim commented on #22036
It sounds useful to add `data-nosnippet` to the announcements.

[2020-06-25 11:20] #21266 closed

[2020-06-25 12:13] Jakub-B opened #22055 "Issue with k8s.io/pl/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
**This is a Bug Report**

**Problem:**
Over ten minute i have only black board. I work?

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/pl/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/

[2020-06-25 13:02] SaiHarshaK commented on #22042
I built website locally and navigated to "http://localhost:1313/docs/reference/generated/kubectl/kubectl-commands#config". It says error 404. When i manually add .html to the url then i can view the page. Is this normal?

[2020-06-25 13:33] Surya2709 commented on #20556
/language en
/sig scalability
that solves the issue although Mr.tengqn mentioned it before

[2020-06-25 13:35] Surya2709 commented on #16866
Make sure that you have brew updated:

    brew update

    Make sure that you already have cask installed:

    brew cask install minikube --verbose

Finally, execute the following command in the same directory you've installed minikube previously (usually /usr/local/bin/):

brew cask reinstall minikube

If you see an output similar to this:

Error: It seems there is already a Binary at '/usr/loc

[2020-06-25 14:28] #22042 closed

[2020-06-25 15:33] kbhawkey commented on #22036
I would adjust to "fix now" 😄

[2020-06-25 16:13] sftim commented on #22048
/kind bug

I think we might already have an issue open about this.

[2020-06-25 16:18] sftim commented on #22055
Hi @Jakub-B

I wasn't able to replicate the symptoms. That page works for me.

If you try it on a different device does that help get it working?

/triage needs-information

[2020-06-25 17:14] celestehorgan commented on #20428
@sftim that sounds good to me. We'll have to do a mighty amount of re-categorizing issues when this comes in, but it'll be worth it.

As a side note, something to bring up in our next weekly: do we need governance/OWNERs for layout/CSS/JS files going forward? (To prevent us from getting into deeper CSS tangles?)

[2020-06-25 17:25] celestehorgan opened #22059 "Investigate removing JQuery UI, re-implment pencil "edit" icon"
Umbrella issue: https://github.com/kubernetes/website/issues/22024

Investigate removing `/scripts/js/jquery-ui-3.2.1.js`.

This will involve the following:

1. Re-implementing the pencil in the "edit" button in [/assets/scss/_base.scss#L798](https://github.com/kubernetes/website/blob/master/assets/scss/_base.scss#L798)

<img width="941" alt="Screenshot 2020-06-25 at 10 03 42" src="https://user-im

[2020-06-25 17:27] celestehorgan commented on #22059
Upon further inspection, you might be able to remove JQuery UI _without_ redoing the pencil icon.

Regardless, it might be a nice opportunity to do that anyways. It would be good to switch to using an icon library :)

[2020-06-25 17:28] celestehorgan commented on #22059
/kind cleanup
/priority important-longterm
/help

[2020-06-25 17:42] celestehorgan commented on #22036
Yikes, sorry guys! I would also mark as fix now

[2020-06-25 17:43] celestehorgan commented on #22036
/priority fix-now

[2020-06-25 17:54] celestehorgan opened #22060 "Investigate removing /functions-src/deploy-succeded.js"
Umbrella issue: https://github.com/kubernetes/website/issues/22024

Investigate removing `/functions-src/deploy-succeded.js` and its containing folder.

This appears to be a script for a slack bot. To my knowledge, we don't use any slack bots. I think it's safe to remove this.

[2020-06-25 17:54] celestehorgan commented on #22060
/help
/good-first-issue
/kind-cleanup
/priority important-longterm

[2020-06-25 17:55] celestehorgan commented on #22060
/kind cleanup

[2020-06-25 21:35] celestehorgan opened #22064 "Investigate removing JQuery 3.2.1"
Umbrella issue: https://github.com/kubernetes/website/issues/22024

Investigate removing `/static/js/jquery-3.2.1.min.js`.

Remove the call to it in [/layouts/partials/head.html#L78](https://github.com/kubernetes/website/blob/master/layouts/partials/head.html#L78).

Note: While other scripts on this site use JQuery, as of Docsy we pull in version 3.3.1 so we should be fine. That said, this may cau

[2020-06-25 21:35] celestehorgan commented on #22064
/help
/kind cleanup
/priority important-longterm

[2020-06-25 21:42] EmilyM1 commented on #21955
PR for this issue:
https://github.com/kubernetes/website/pull/22063

[2020-06-25 21:49] mtaufen commented on #19496
/remove-lifecycle stale
/lifecycle frozen

[2020-06-25 22:11] sumangongali opened #22065 "Document memory requirements for Minikube"
**This is a Bug Report**

**Problem:**
Minikube installation never tell us how much memory it requires, in any OS flavor

**Proposed Solution:**
Please provide the base memory limits to start a minikube

**Page to Update:**
https://kubernetes.io/...

[2020-06-25 22:13] adityamandhare opened #22066 "Issue with k8s.io/docs/concepts/scheduling-eviction/assign-pod-node/ in the namedNode section"
**This is a Bug Report**

**Problem:**
The page has a section of **nodeName** which is used for node selection constraint. It says ` If it is non-empty, the scheduler ignores the pod and the kubelet running on the named node tries to run the pod.` This statement does not look right. The reason being, even if the pod has a `nodeName` field it still needs a scheduler to look for a node with a matchi

[2020-06-26 00:29] stefanlasiewski commented on #21800
It sounds like that discussion never quite reached a consensus.

I hope the newly formed WG is able to clean this up and improve the consistency of the terminology, while also removing terms like "master" which are offensive and also technically vague,

https://groups.google.com/g/kubernetes-dev/c/kry8QbIpxRs/discussion

[2020-06-26 04:26] doubleungoodkitsune opened #22069 "Adhere to not Github policy"
It's recommended to adhere to the new Github rules and regulations, please see the [migration docs](https://github.com/doubleungoodkitsune/newworldcode). It's now also recommended to rename your default branch.

[2020-06-26 07:28] Jakub-B commented on #22055
I used Chrome and it doesn't work. I changed to EDGE and it booted.

THX

czw., 25 cze 2020 o 18:18 Tim Bannister <notifications@github.com>
napisał(a):

[2020-06-26 07:57] pjhwa commented on #21973
#22067 에서 수정되었습니다.

[2020-06-26 07:58] #21973 closed

[2020-06-26 08:26] sftim commented on #21749
Duplicated by issue #22069

[2020-06-26 08:27] sftim commented on #22069
I propose to close this as equivalent to issue #21749

[2020-06-26 08:32] sftim commented on #12082
Also see issue #22052

[2020-06-26 08:32] sftim commented on #12082
/language en
BTW

[2020-06-26 09:47] sftim commented on #22036
/remove-priority awaiting-more-evidence
/priority critical-urgent

[2020-06-26 10:53] #21803 closed

[2020-06-26 10:57] sftim commented on #22065
/kind feature

@sumangongali I'm going to update the issue title to match the request
/retitle Document memory requirements for Minikube
/language en
/priority awaiting-more-evidence

[2020-06-26 11:42] sftim commented on #19272
It's localized!
/close

[2020-06-26 11:42] #19272 closed

[2020-06-26 12:44] sftim commented on #22066
/sig scheduling

What's the existing behavior? It sounds like what you're intending to document is that for a Pod with `nodeName` set, the scheduler's behavior depends on whether or not a Node matching that `nodeName` is healthy.
Is that true?

[2020-06-26 12:45] sftim commented on #22066
If a Pod is already assigned to a Node, the scheduler doesn't have any work to do.

[2020-06-26 13:57] gochist commented on #21677
/close

[2020-06-26 13:58] #21677 closed

[2020-06-26 14:15] adityamandhare commented on #22066
@sftim that is correct. The paragraph which I have mentioned in the issue says that if the `nodeName` field in the podspec is non-empty, then the scheduler ignores the pod and the kubelet running on the named node tries to run the pod. There is no mention of the pod already being placed on the node. Also, I don't see any reason why scheduler ignoring the pod needs to be mentioned at all here.

[2020-06-26 14:23] sftim commented on #22066
https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#nodename looks correct to me.
/triage needs-information

[2020-06-26 15:45] adityamandhare commented on #22066
okay consider this scenario: A new pod object is created with a non-empty `nodeName` field. Now this is currently not assigned to any node. If the scheduler ignores this pod simply bcoz it has a non-empty `nodeName` field, who will place this pod on the named node?

[2020-06-26 15:58] liggitt commented on #12324
/reopen
/remove-lifecycle rotten
/lifecycle frozen

[2020-06-26 15:59] liggitt commented on #12323
/reopen
/remove-lifecycle rotten
/lifecycle frozen

[2020-06-26 16:38] sftim commented on #22066
Got it.

from the API definition. The scheduler is involved here and the existing text is not clear enough. Thank you for explaining @adityamandhare

/remove-triage needs-information
/kind bug
/priority important-longterm
/language en

[2020-06-26 16:40] sftim commented on #22066
From the suggested text, “If it is non-empty, the scheduler ignores the pod if a named node if unavailable.”

I think that's not _quite_ right. I believe that the scheduler simply checks that there is currently a Node object with the correct name.

[2020-06-26 17:13] Romanmc72 opened #22085 "Issue with k8s.io/docs/concepts/workloads/pods/pod-lifecycle/"
**This is a Bug Report**

**Problem:**
This portion of the [documentation](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-lifetime) states what eventually happens to pods that are `Succeeded` or `Failed`, but what happens to pods that are stuck in `Pending`? It says things need to be manually cleaned up or cleaned up by the controller, but what is the default behavior of a p

[2020-06-26 18:25] sftim commented on #21955
Fixed in PR #22063
Thanks @EmilyM1

[2020-06-26 18:26] celestehorgan opened #22086 "Clean up case study images"
Umbrella issue: https://github.com/kubernetes/website/issues/22024

This is a **big** issue, but should be relatively easy to do using search-and-replace.

## Context

There are a number of images in the `/static/images/` directory that are used on case study pages. On the whole, these are prefixed with `CaseStudy_`, for example: `CaseStudy_adform_banner1.jpg`.

These images are then referenced in

[2020-06-26 18:27] celestehorgan commented on #22086
/help
/kind cleanup
/priority important-longterm

[2020-06-26 19:40] tvkrishnaAWS opened #22088 "Issue with k8s.io/docs/tasks/tools/install-minikube/"
**This is a Bug Report**

I was trying to install the minikube on Amzon Linuxv2 but it is not allowing me to install

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-06-26 19:57] celestehorgan opened #22090 "Investigate removing /static/images/square-logos"
Umbrella issue: https://github.com/kubernetes/website/issues/22024

Investigate removing the `/static/images/square-logos` directory.

It the logos in it _might_ be used by the Training page, but I don't think they are.

You _might_ also be able to get rid of `/content/en/includes/partner-script.js`?

[2020-06-26 19:57] celestehorgan commented on #22090
/help
/kind cleanup
/priority important-longterm

[2020-06-26 20:06] celestehorgan opened #22091 "Remove /static/images/metadocs/"
Umbrella issue: https://github.com/kubernetes/website/issues/22024

Remove the `/static/images/metadocs/` directory and files.

They aren't used anywhere, so this is a fairly easy change.

[2020-06-26 20:07] celestehorgan commented on #22091
/help
/good-first-issue
/kind cleanup
/priority important-longterm

[2020-06-26 20:29] celestehorgan opened #22092 "Remove the /static/images/logos"
Umbrella issue: #22024

Remove the `/static/images/logos` directory and files.

They aren't used anywhere, so this is a fairly easy change.

[2020-06-26 20:29] celestehorgan commented on #22092
/help
/good-first-issue
/kind cleanup
/priority important-longterm

[2020-06-26 20:34] celestehorgan opened #22093 "Remove the /static/images/journeys"
Umbrella issue: #22024

Remove the `/static/images/journeys` directory and files.

They aren't used anywhere, so this is a fairly easy change.

[2020-06-26 20:35] celestehorgan commented on #22093
/help
/good-first-issue
/kind cleanup
/priority important-longterm

[2020-06-26 20:43] celestehorgan opened #22094 "Remove /static/images/community_logos"
Umbrella issue: #22024

Remove the `/static/images/community_logos` directory and files.

They aren't used anywhere, so this is a fairly easy change.

[2020-06-26 20:43] celestehorgan commented on #22094
/help
/good-first-issue
/kind cleanup
/priority important-longterm

[2020-06-26 22:14] celestehorgan opened #22095 "Investigate removing Roboto"
Umbrella issue: https://github.com/kubernetes/website/issues/22024

Investigate removing variants of Roboto in `/static/fonts`.

@zacharysarah thinks that these are used for some international fonts, but from what I can tell via my browser Inspection, I'm pulling either system fonts (for Korean, Chinese and Japanese) or Open Sans (for Roman & Cyrillic fonts). Thus, I think we can safely remove the

[2020-06-26 22:14] celestehorgan commented on #22095
/help
/priority important-longterm
/kind cleanup

[2020-06-26 22:17] celestehorgan opened #22096 "Investigate removing MaterialIcons"
Umbrella issue: https://github.com/kubernetes/website/issues/22024

Investigate removing variants of MaterialIcons in `/static/fonts`.

We don't appear to use or call these files anywhere but `static/css/style_user_journeys.css`. This stylesheet isn't used now either, so I'd suggest deleting it as well.

[2020-06-26 22:17] celestehorgan commented on #22096
/help
/kind cleanup
/priority important-longterm

[2020-06-26 22:58] adityamandhare commented on #22066
okay sounds good

[2020-06-26 23:48] sftim commented on #22088
@tvkrishnaAWS I'd like to learn more about the situation you've logged an issue about.
Have you spotted something that isn't right with the web page at https://k8s.io/docs/tasks/tools/install-minikube/ ?

[2020-06-27 00:00] #22036 closed

[2020-06-27 01:52] gochist opened #22097 "Outdated files in dev-1.18-ko.7"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.18-ko.7 branch.

### 59 files to be modified
1. [ ] content/en/community/_index.html 1 file changed, 1 insertion(+), 1 deletion(-)
1. [ ] content/en/docs/concepts/_index.md 1 file changed, 2 insertions(+), 2 deletions(-)
1. [ ] content/en/docs/concepts/cluster-administration/cloud-providers.md 1 file changed, 2 insertions(+), 2

[2020-06-27 01:53] gochist commented on #21796
fixed by #22082
/close

[2020-06-27 01:53] #21796 closed

[2020-06-27 04:17] aramarao27 opened #22098 "Issue with k8s.io/docs/tasks/manage-kubernetes-objects/imperative-command/"
**This is a Bug Report**

**Problem:**
Following command does not create a service.

When execute displays an error:
  Error: invalid argument "client" for "--dry-run" flag: strconv.ParseBool: parsing "client": invalid syntax
  See 'kubectl create service clusterip --help' for usage.

**Proposed Solution:**
kubectl create service clusterip my-svc --clusterip="None" -o yaml --dry-run=true

**Page t

[2020-06-27 09:02] pjhwa opened #22102 "Issue of broken links to translated docs"
**This is a Bug Report**

**Problem:**
There are tons of translated docs contains broken links to the translated docs in content/ko/docs directory.

**Proposed Solution:**
Fix these broken links to the translated docs.

**Page to Update:**
https://kubernetes.io/...

/language ko

[2020-06-27 09:02] pjhwa commented on #22102
/assign @pjhwa

[2020-06-27 09:22] kbhawkey opened #22103 "link to bot commands in pull requests"
**This is a Bug Report**
In pull requests, messages from the `k8s-ci-robot` show a link to the list of prow commands. However, there is a link ("here") that refers back to the PR not to the command list.

**Problem:**
Investigate if the "prow command" link is incorrect. If the link is invalid, fix the link to the prow command help.

`The full list of commands accepted by this bot can be found here

[2020-06-27 11:56] pjhwa opened #22107 "Issue with links to wrong section name"
**This is a Bug Report**

**Problem:**
The following documents contain the broken link which points to the wrong section name:
- concepts/storage/storage-classes.md:\[PersistentVolumeClaim section\]\(/docs/concepts/storage/persistent-volumes/#class-1\)
- tasks/administer-cluster/change-default-storage-class.md:\[PersistentVolumeClaim documentation\]\(/docs/concepts/storage/persistent-volumes/#clas

[2020-06-27 11:56] pjhwa commented on #22107
/assign

[2020-06-27 13:08] Pihu1998 commented on #22094
Hi @celestehorgan . I would like to work on this issue.

[2020-06-27 13:26] sftim commented on #21788
/reopen
There might be more to do here.

[2020-06-27 13:35] sftim commented on #22107
/kind bug

[2020-06-27 13:37] sftim commented on #22103
/sig testing

[2020-06-27 13:38] #22107 closed

[2020-06-27 13:40] sftim commented on #22098
Hi @aramarao27

https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#create documents a `--dry-run=client` option.

What version of kubectl are you seeing that with? Try `kubectl version --client` and paste in the output.
/triage needs-information

[2020-06-27 23:26] kbhawkey opened #22110 "example-concept-template page in concepts section index"
**This is a Bug Report**

The example-concept-template page is showing up in the `concepts` section index.

**Problem:**

https://kubernetes.io/docs/concepts/
https://kubernetes.io/docs/concepts/example-concept-template/

**Proposed Solution:**
Investigate whether this page should be removed or if there is way to prevent (change page metadata) the page
from publishing. Looks like this page has a p

[2020-06-27 23:38] #21816 closed

[2020-06-27 23:39] riking commented on #21152
The documentation should be rewritten from the viewpoint that the CSI driver's maximum volume count is the default / normal way for this to be handled, with in-tree cloud providers treated as an exception.

[2020-06-27 23:45] kbhawkey commented on #22110
Task template page too:
https://deploy-preview-22043--kubernetes-io-master-staging.netlify.app/docs/tasks/

[2020-06-27 23:45] sftim commented on #22110
/kind bug
Related to https://github.com/kubernetes/website/pull/20874

[2020-06-27 23:46] sftim commented on #22110
My gut feeling: replace these example pages with Hugo archetypes, and document using those.

[2020-06-27 23:50] #21930 closed

[2020-06-28 01:09] kbhawkey opened #22114 "adjust order of description and title, concept pages"
**This is a Bug Report**
The page description appears after the page content and before section index.

**Problem:**
Page descriptions were added and the page content should appear after the page title and page description.

**Proposed Solution:**
Rearrange the order of the description and page content.

**Page to Update:**
layouts/docs/list.html
layouts/partials/docs/content-page.html

[2020-06-28 01:09] kbhawkey commented on #22114
/assign

[2020-06-28 01:12] kbhawkey commented on #22114
See pull request #22113.
Related to pull request #21997.

[2020-06-28 02:04] tengqm commented on #12657
/reopen
/lifecycle frozen
/language en
The doc needs some improvement with the help from SIG autoscaling. We have got quite some votes for improving the HPA docs.

[2020-06-28 06:06] pjhwa commented on #22097
/assign @pjhwa

- content/ko/community/_index.html
- content/ko/docs/concepts/_index.md
- content/ko/docs/concepts/cluster-administration/cloud-providers.md
- content/ko/docs/concepts/configuration/configmap.md
- content/ko/docs/concepts/configuration/overview.md
- content/ko/docs/concepts/configuration/resource-bin-packing.md
- content/ko/docs/concepts/containers/images.md
- content/ko/docs/conce

[2020-06-28 11:25] aramarao27 commented on #22098
Hi sftim,

Thank you for the link you have provided. I was able to find the root-cause.

1) When tried to execute the below command in Katacoda, it was giving me an error.

Checked for kubectl version on katacoda its "v1.17.3"

2) Again i tried on my local VM where Kubectl version=v1.18.4.

Its working fine.

Apologies for raising this invalid issue. Please close this issue.

Regards,
RamaRao

[2020-06-28 11:26] aramarao27 commented on #22098
Closing this issue as its invalid.

[2020-06-28 11:26] #22098 closed

[2020-06-28 12:33] gaoguangze111 opened #22133 "Wrong link in Chinese page"
**This is a Bug Report**

Wrong link in Chinese page https://kubernetes.io/zh/docs/concepts/policy/resource-quotas/#viewing-and-setting-quotas for link "扩展资源". It directs to English version page but Chinese version page wanted

**Problem:**
Wrong link in Chinese page https://kubernetes.io/zh/docs/concepts/policy/resource-quotas/#viewing-and-setting-quotas

**Proposed Solution:**
Change to correct

[2020-06-28 12:34] gaoguangze111 commented on #22133
/language zh

[2020-06-28 12:34] gaoguangze111 commented on #22133
/accept

[2020-06-28 13:41] tengqm commented on #21683
FYI: https://kubernetes.io/docs/contribute/review/for-approvers/#blog-issues

[2020-06-28 13:49] tengqm opened #22138 "Promote guideline for blog related PRs"
While the guideline about blog related PRs is known to reviewers and approvers (https://kubernetes.io/docs/contribute/review/for-approvers/#blog-issues), we need to remind contributors that we don't accept fixes to blog entries more than 1 year old.

Proposed Fix:
- Add a few lines to https://kubernetes.io/docs/contribute/suggest-improvements/, saying that we don't treat issues in old blog entries

[2020-06-28 17:40] sftim commented on #19404
/remove-lifecycle rotten

[2020-06-28 17:46] sftim commented on #22138
/kind feature

[2020-06-28 17:47] sftim commented on #22138
That reminder could also be a job for automation, if anyone feels particularly inclined to implement it.

[2020-06-28 17:47] sftim commented on #22114
/kind bug
/priority backlog

[2020-06-28 17:49] sftim commented on #21683
@CriaHu, would you be willing to cut the older blog entries out from the issue description?

[2020-06-28 17:50] sftim commented on #21867
For an example of where to put a site search on the main page, see https://cloud.google.com/

(I'm not proposing to move the search UI there across for the whole site; that would be a separate issue).

[2020-06-28 21:10] aaronaddleman opened #22144 "Issue with k8s.io/docs/setup/production-environment/container-runtimes/"
**This is a Bug Report**

**Problem:**

Installation instructions for Ubuntu are for OpenSUSE

**Proposed Solution:**

Update the instructions for Ubuntu

**Page to Update:**

https://kubernetes.io/docs/setup/production-environment/container-runtimes/#prerequisites

[2020-06-29 01:37] coolguyhong opened #22146 "Inconsistency in ReplicaSet term spacing in Korean"
**This is a Bug Report**

**Problem:**
Inconsistency in ReplicaSet term spacing in Korean

**Proposed Solution:**
Change spacing of ReplicaSet from '레플리카 셋' to '레플리카셋'

**Page to Update:**
https://kubernetes.io/ko/docs/concepts/configuration/overview/
https://kubernetes.io/ko/docs/concepts/overview/working-with-objects/labels/
https://kubernetes.io/ko/docs/concepts/workloads/controllers/deployment

[2020-06-29 01:37] coolguyhong commented on #22146
/language ko
/assign

[2020-06-29 02:45] wyyxd2017 opened #22149 "help doc"
The doc of minikube' url is invalid.Please fixit!Thanks!

## 其他链接

[2020-06-29 03:15] npu21 commented on #22091
/assign

[2020-06-29 03:23] npu21 commented on #22092
/assign

[2020-06-29 03:26] npu21 commented on #22093
/assign

[2020-06-29 03:37] LinshanYu commented on #21683
I got it，thk

[2020-06-29 03:48] gochist commented on #18583
resolved by #21158
/close

[2020-06-29 03:48] #18583 closed

[2020-06-29 03:51] gochist commented on #19973
fixed by #21145
/close

[2020-06-29 03:51] gochist commented on #19973
@guslcho 감사합니다.

[2020-06-29 03:51] #19973 closed

[2020-06-29 03:52] gochist commented on #19974
@guslcho 감사합니다!
fixed by #21145
/close

[2020-06-29 03:52] #19974 closed

[2020-06-29 03:55] gochist commented on #21678
/close

[2020-06-29 03:55] #21678 closed

[2020-06-29 03:56] gochist commented on #21518
resolved by #21798
/close

[2020-06-29 03:56] #21518 closed

[2020-06-29 03:56] gochist commented on #20935
resolved by #21838
/close

[2020-06-29 03:57] #20935 closed

[2020-06-29 08:20] codeaprendiz opened #22157 "Docs website seems to be broken"
## Kubernetes Docs Release notes link seems to be broken with overlapping UI

Hi team,
I am seeing overlapping UI in the website. Attaching a screenshot for the same.

![image](https://user-images.githubusercontent.com/18071639/85941603-f2bafc80-b934-11ea-83cd-109996ff1e0f.png)

[link](https://kubernetes.io/docs/setup/release/notes/)

[2020-06-29 08:46] npu21 commented on #21435
/assign

[2020-06-29 09:47] npu21 opened #22159 "Secrets documentation incorrectly states that kubelet/node compromise gives access to all secrets in the cluster"
https://github.com/kubernetes/website/issues/21435

/language fr
/assign

[2020-06-29 11:58] sftim commented on #21435
I notice also that https://kubernetes.io/docs/reference/access-authn-authz/node/ says:

(my emphasis)

[2020-06-29 11:59] sftim commented on #21435
/sig auth

[2020-06-29 12:14] kbhawkey commented on #22114
Corrected the ordering of title and description on pages.
/close

[2020-06-29 12:14] #22114 closed

[2020-06-29 13:49] Arhell commented on #22157
/assign @Arhell

[2020-06-29 14:39] raelga opened #22168 "Missing pages in the Spanish localised content"
**This is a Bug Report**

**Problem:**

Some Spanish pages are returning 404 but the pages are in the GitHub repo.

Example:
https://kubernetes.io/es/docs/concepts/workloads/controllers/replicaset/

![Screenshot 2020-06-29 at 16 33 40](https://user-images.githubusercontent.com/795289/86019007-5bce6d00-ba26-11ea-88a4-2ad2ab79f2cf.png)
![Screenshot 2020-06-29 at 16 31 59](https://user-images.githubu

[2020-06-29 14:44] saimakin opened #22169 "Issue with k8s.io/docs/concepts/workloads/pods/disruptions/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-06-29 15:23] saimakin opened #22171 "Issue with k8s.io/docs/concepts/workloads/pods/disruptions/"
**dis is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-06-29 15:36] #22171 closed

[2020-06-29 15:59] kbhawkey commented on #22157
Thanks for opening this issue @codeaprendiz .
This is an duplicate of #21795

[2020-06-29 16:12] kbhawkey opened #22172 "add components (icons, links) to fill right side of page"
**This is a Feature Request**

The top right hand side of the pages are empty. There are so many icons listed in the footer.

**What would you like to be added**

Add a few component links and icons to the right hand column of the page.
Possibly move the search bar from the left hand side.

The "index" pages have nothing in the right hand column.
The single pages have the in page TOC.
Add a set of

[2020-06-29 16:28] CvR42 opened #22173 "Issue with k8s.io/docs/tasks/administer-cluster/dns-custom-nameservers/"
**This is a Bug Report**

**Problem:**

The link in: "What's next Read Debugging DNS Resolution" is broken.

**Proposed Solution:**

Fix the broken link.

**Page to Update:**
https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/

[2020-06-29 16:39] sftim commented on #22157
/triage duplicate

[2020-06-29 16:40] sftim commented on #22172
/kind feature

[2020-06-29 16:41] Arhell commented on #21795
/assign @Arhell

[2020-06-29 16:42] celestehorgan commented on #22094
@Pihu1998 Great!

/assign @Pihu1998

[2020-06-29 17:08] sftim commented on #22144
The issue is with https://kubernetes.io/docs/setup/production-environment/container-runtimes/#cri-o in the tab labelled “Ubuntu 18.04, 19.04 and 19.10”

/kind bug

As a related detail, it would be good to document setup for Ubuntu 20.04

[2020-06-29 17:08] sftim commented on #22144
/language en

[2020-06-29 17:08] sftim commented on #22169
Hi @saimakin

Can you explain more about what's not right on https://k8s.io/docs/concepts/workloads/pods/disruptions/ ?

/triage needs-information

[2020-06-29 17:09] sftim commented on #22149
Hi @wyyxd2017

What's the URL of the page with the incorrect hyperlink?

/triage needs-information

[2020-06-29 17:09] sftim commented on #22133
/kind bug
/close

Fixed in #22154 (I think)

[2020-06-29 17:10] #22133 closed

[2020-06-29 17:32] sftim commented on #22173
/kind bug
/language en

/priority backlog

[2020-06-29 17:33] sftim commented on #22173
Backlog priority because the site search lets you work around this. It's not ideal obviously and a fix is welcome.

[2020-06-29 17:43] CvR42 commented on #22173
https://kubernetes.io/docs/search/?q=debugging%20dns%20resolution results for me in a broken link as the first hit, and an outdated result as the second one. The third hit is https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/, which may be a quick fix, but I'm not enough of a K8s expert to judge that.

[2020-06-29 17:50] #22169 closed

[2020-06-29 18:00] sftim commented on #22168
https://github.com/kubernetes/website/pull/22175 will help fix this @raelga

[2020-06-29 18:01] sftim commented on #22168
/remove-priority critical-urgent
/priority important-soon

[2020-06-29 20:13] ZhiFeng1993 commented on #22096
/assign

[2020-06-29 20:43] raelga commented on #22168
Thanks @sftim, let's follow the conversation there then.

[2020-06-30 02:07] coolguyhong commented on #22146
/close

[2020-06-30 02:07] #22146 closed

[2020-06-30 07:02] cometrojan opened #22186 "Translation error correction in /concepts/containers/container-lifecycle-hooks.md"
**This is a Bug Report**

**Problem:**
Translation error correction in /concepts/containers/container-lifecycle-hooks.md
1. Korean Guide
2. mistranslation
3. stylistic unification

**Proposed Solution:**
before: Exec - 컨테이너의 cgroups와 네임스페이스 안에서, pre-stop.sh와 같은, 특정 커맨드를 실행. 커맨드에 의해 소비된 리소스는 해당 컨테이너에 대해 계산된다.
after: Exec - 컨테이너의 cgroups와 네임스페이스(Namespace) 안에서, pre-stop.sh와 같은, 특정 커맨드를 실행한다. 커맨드에 의해

[2020-06-30 07:03] cometrojan commented on #22186
/language ko
/assign

[2020-06-30 07:46] ezYakaEagle442 opened #43385 "Add cron syntax in the cheatsheet for the certifications or not"
**What would you like to be added**:
Add CronJob full syntax at [https://kubernetes.io/docs/tasks/job/automated-tasks-with-cron-jobs](https://kubernetes.io/docs/tasks/job/automated-tasks-with-cron-jobs) and also in the [CheatSheet](https://kubernetes.io/docs/reference/kubectl/cheatsheet)

# ┌───────────── minute (0 - 59)
# │ ┌───────────── hour (0 - 23)
# │ │ ┌───────────── day of the month (1 - 3

[2020-06-30 13:22] zhanw15 opened #22214 "docs in zh should translate"
**This is Support**

concepts/architecture/control-plane-node-communication.md should be translate to language zh.

[2020-06-30 15:08] ronaldpetty opened #22215 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/"
The GPG key has been unavailable for at least 24 hours.

`curl -I https://packages.cloud.google.com/apt/doc/apt-key.gpg`

[code]

[2020-06-30 15:12] neolit123 commented on #22215
possibly related to?
https://github.com/kubernetes/release/issues/1007

please comment on that ticket.
/sig release

this is not a k/webiste, problem so if the key is completely gone just open a new ticket in k/release.

[2020-06-30 15:12] neolit123 commented on #22215
/close

[2020-06-30 15:13] #22215 closed

[2020-06-30 15:20] barumpus opened #22216 "Issue with k8s.io/docs/tutorials/hello-minikube/"
Thank you for the tutorials. This tutorial has a problem in the first section, "Create a Minikube cluster".

It only takes a minute to reproduce the problem. Start by browsing to https://kubernetes.io/docs/tutorials/hello-minikube/. Then just follow the first three steps:
1. Click "Launch Terminal" (a button on the page)
2. Type the command "minikube dashboard" in the terminal window.
3. Click the

[2020-06-30 17:11] sftim commented on #22214
/language zh

[2020-06-30 17:11] celestehorgan opened #22221 "Version, Language drop-downs non-functional on Case Study pages"
Expected behavior: https://v1-18.docs.kubernetes.io/case-studies/spotify/ (drop-downs work)
Actual behavior: https://kubernetes.io/case-studies/spotify/ (drop-downs do not work)

This may be a `z-index` issue or a result of non-translated pages not showing up in autogenerated navs. I'm unsure.

[2020-06-30 17:11] celestehorgan commented on #22221
/assign @celestehorgan
/priority important-soon
/kind bug

[2020-06-30 17:57] shuuji3 commented on #22221
Hello, calestehorgan

I investigated this problem quickly and found that `div.dropdown` (this is and language box) seemed to remain `display: none` when the mouse cursor has hovered.

![add-display-block-into-style](https://user-images.githubusercontent.com/1425259/86159932-05f0e680-bb46-11ea-814b-c87495ac4eb5.png)

Adding the following style makes the problem disappeared:
[code]

![show-dropdown]

[2020-06-30 18:10] sftim opened #22222 "Live website builds are failing"
**This is a Bug Report**

**Problem:** Live website builds are failing

**Additional Information:**
/kind bug
/priority critical-urgent

[2020-06-30 18:12] sftim commented on #22222
The `upcoming-events` shortcode queries Google Calendar, and this integration is failing causing the symptoms above.

[2020-06-30 18:14] sftim commented on #22222
<details><summary> Example error </summary><blockquote><pre>6:37:21 PM: Build ready to start
6:37:23 PM: build-image version: 9d79ad851d6eff3969322d6e5b1df3d597650c41
6:37:23 PM: build-image tag: v3.3.19
6:37:23 PM: buildbot version: 8e2e5a3a5212190d0490c1372e313994f9085345
6:37:23 PM: Fetching cached dependencies
6:37:24 PM: Starting to download cache of 254.3KB
6:37:24 PM: Finished downloading c

[2020-06-30 18:19] sftim commented on #22222
/assign

(anyone else is _very_ welcome to help with investigation)

[2020-06-30 19:23] kbhawkey opened #22224 "update README with docsy submodule update md"
**This is a Feature Request**
The docsy theme needs to be added to an existing website repository.
Authors are not aware of the command to update the theme.

**What would you like to be added**
Update the README.md to include the `git submodule update` command

**Why is this needed**
Authors cannot find the command to update/install the docsy theme. When the
theme is not installed, the generated b

[2020-06-30 19:23] kbhawkey commented on #22224
/assign

[2020-06-30 19:27] ironknight78 commented on #5663
Hey did you guys managed to solve this issue? I'm running int the same problem on a local Kubernetes cluster:

Following this tutorial: https://kubernetes.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/

`[mx068393@kubeadm-master ~]$ kubectl get nodes
NAME             STATUS   ROLES    AGE     VERSION
kubeadm-master   Ready    master   7d20h   v1.18.4
kubeadm-node00   Rea

[2020-06-30 20:18] kbhawkey commented on #22110
/assign

[2020-06-30 20:20] sftim commented on #22224
I also recommend updating https://kubernetes.io/docs/contribute/new-content/new-content/#preview-locally

[2020-06-30 20:43] celestehorgan commented on #22222
@sftim https://www.netlifystatus.com/ netlify reported a minor incident earlier today. Related?

[2020-06-30 20:45] celestehorgan opened #22226 "Netlify builds show warning about browserlist config option"
<img width="766" alt="Screenshot 2020-06-30 at 13 39 14" src="https://user-images.githubusercontent.com/17999517/86175251-d73c2700-bad7-11ea-84f8-7bd67979a867.png">

All PR builds show the following issue in their netlify console. Sounds like an easy fix as described by the output.

[2020-06-30 20:45] celestehorgan commented on #22226
/priority important-soon
/kind bug

[2020-06-30 20:55] sftim commented on #22222
I don't think so. The problem seems to be that the website was using an API key to fetch a Google calendar during a build, and that fetch no longer works.

Possibly the API key has been deactivated, possibly that API was deprecated and now no longer functions. I will look into this a bit more.

[2020-06-30 21:13] 2rs2ts commented on #14215
/remove-lifecycle rotten

@tengqm I don't know if I know enough to fix it myself... but also I don't think me not knowing enough to fix it myself means the problem does not exist.

[2020-06-30 21:36] #21830 closed

[2020-06-30 21:44] sftim commented on #22222
This bug is fixed but the community page still needs fixing.
/close

[2020-06-30 21:45] #22222 closed

[2020-06-30 21:46] sftim opened #22227 "Event list missing from community page"
**This is a Bug Report**

**Problem:**
To work around https://github.com/kubernetes/website/issues/22222 we removed the event list from [_Community_](https://kubernetes.io/community/) in PR #22223

**Proposed Solution:**
- find a way to reinstate the community page events list

**Page to Update:**
https://kubernetes.io/community/

**Additional Information:**
/kind bug
/priority important-longterm

[2020-06-30 22:20] zacharysarah commented on #22227
/sig contributor-experience
/cc @mrbobbytables @parispittman

[2020-06-30 22:21] zacharysarah opened #22229 "Specify a newer Ruby version in Hugo builds"
### What's the problem?

Hugo warns that it's unnecessarily slow due to an outdated Ruby version.

[code]

Given that we don't currently specify a Ruby version in `netlify.toml`, Netlify may be defaulting to an earlier version for maximum breadth of support. (Just a guess!)

### Why does it matter?

Slow builds scale poorly.

### How do we fix it?

Follow Netlify's advice and specify a Ruby versio

[2020-06-30 22:48] kbhawkey commented on #22229
What are our ruby dependencies? Is this something that should be set higher up?

[2020-06-30 23:23] zacharysarah commented on #22229
@kbhawkey I think `netlify.toml` is as high as our hierarchy gets. Do you mean why are we invoking Ruby at all?

[2020-06-30 23:29] kbhawkey commented on #22229
Yes, what library is dependent on Ruby?

[2020-06-30 23:32] zacharysarah commented on #22229
A post processor would make sense. 💯

[2020-06-30 23:33] kbhawkey commented on #22224
Sure, I will update.

[2020-07-01 01:08] tengqm commented on #22214
#21913

[2020-07-01 01:27] woopyoung opened #22230 "Issue with k8s.io/ko/docs/concepts/overview/components.md"
**This is a Bug Report**

**Problem:**
Description에 대한 번역이 없습니다.
description: >
  A Kubernetes cluster consists of the components that represent the control plane
  and a set of machines called nodes.

**Proposed Solution:**
번역이 필요합니다.

**Page to Update:**
https://kubernetes.io/ko/docs/concepts/overview/components/

[2020-07-01 01:28] woopyoung commented on #22230
/language ko
/assign

[2020-07-01 02:10] racheruk opened #22233 "Issue with k8s.io/docs/tasks/tools/install-minikube/"
The install doc prescribe to use "sudo install minikube /usr/local/bin/" but it is not appropriate.

The commands are very prescriptive in the sense that i.e.

1. download the binary
2. make it executable using chmod
3. create directory /usr/local/bin/
4. use install command to "copy" the binary to /usr/local/bin/

Step 2 is not necessary

**Proposed Solution:**
Couple of options that are sensible

[2020-07-01 06:33] woopyoung commented on #22230
/assign

[2020-07-01 08:30] pjhwa opened #22239 "Translate reference/command-line-tools-reference/feature-gates.md into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate reference/command-line-tools-reference/feature-gates.md into Korean.

**Why is this needed**

There is no document of reference/command-line-tools-reference/feature-gates.md which is translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/

[2020-07-01 08:30] pjhwa commented on #22239
/assign

[2020-07-01 09:34] chaspy commented on #21839
Sorry, I'm busy for now, let me unassign 🙏

[2020-07-01 09:34] chaspy commented on #21839
/unassign chaspy

[2020-07-01 11:17] sftim commented on #20428
OWNERS for layout and styles would be nice, even if it's only a partial improvement.

[2020-07-01 11:37] irvifa commented on #22227
Another good idea is started using [environment variable](https://docs.netlify.com/configure-builds/environment-variables/#sensitive-variable-policy) for sensitive information. We can use it once we got the reason on why the access is suddenly revoked.

[2020-07-01 12:20] pjhwa opened #22247 "Issue with k8s.io/docs/reference/command-line-tools-reference/feature-gates/"
**This is a Bug Report**

**Problem:**
1. Broken link
At 435 line:
   See \[Support Device Monitoring\]\(https://git.k8s.io/community/keps/sig-node/compute-device-assignment.md) for more details.

2. Added kubernetes.io from link
At 479 line:
\- \`ServiceTopology\`: Enable service to route traffic based upon the Node topology of the cluster. See \[ServiceTopology\]\(https://kubernetes.io/docs/conc

[2020-07-01 12:20] pjhwa commented on #22247
/assign

[2020-07-01 12:20] mrbobbytables commented on #22227
Mostly as a general FYI, but the calendar API keys are often public but restricted to what domains they work from. It's not necessarily ideal, but javascript calendars for static sites have to use them this way and they're often embedded in the code itself.
ref: https://fullcalendar.io/docs/google-calendar

[2020-07-01 12:53] irvifa commented on #22227
I see, thanks for your explanation @bobbytables 🙂

[2020-07-01 15:00] kbhawkey commented on #22229
I'd like this resolved sooner than later. Preview builds are not snappy.

[2020-07-01 15:53] sftim commented on #22227
Some background in issue #6724

[2020-07-01 15:54] sftim commented on #22227
I'm guessing we should make the API key be owned by WG Infra and not by a specific contributor / CNCF member organization. That's what I'd be working towards.

[2020-07-01 17:34] kbhawkey opened #22255 "add no_list to concepts index pages with content"
**This is a Feature Request**
Some _index pages in the concepts section contain content in addition to a description.
The section index displays after the content body.

**What would you like to be added**
Set the parameter in the page front matter, `no_list`, to true.
If set, this parameter toggles off the in page section index.

**Why is this needed**
The section index seems lost on the page and

[2020-07-01 17:34] kbhawkey commented on #22255
/assign

[2020-07-01 17:44] prasadkatti commented on #22233
I think the command is valid. There is an `install` command that your machine may not have - https://linux.die.net/man/1/install

[2020-07-01 20:33] mrbobbytables commented on #22229
AFAIK the only external processor used by hugo is [postcss-cli/autoprefixer](https://gohugo.io/hugo-pipes/postcss/) which are both javascript. I'm pretty sure they have the old version of ruby in there to support older versions of jekyll.

[2020-07-01 20:38] #18934 closed

[2020-07-01 20:38] #18932 closed

[2020-07-01 20:38] #18938 closed

[2020-07-01 20:38] #18948 closed

[2020-07-01 20:47] kbhawkey commented on #22229
OK. How does this affect the current build if there are no dependencies on Ruby?

[2020-07-01 21:10] mrbobbytables commented on #22229
I have no idea where it's picking 2.3.6 from 😬  I did a little more digging and Netlify's default is 2.6.2 for [trusty](https://github.com/netlify/build-image/blob/trusty/run-build.sh) and 2.7.1 for [xenial](https://github.com/netlify/build-image/blob/xenial/run-build.sh). I have no idea where it's picking up that version of ruby. I did a search for [2.3.6 with hound](https://cs.k8s.io/?q=2%5C.3%5

[2020-07-01 21:13] kbhawkey commented on #22229
Docs are using a `beta` image? Just looked at the netlify build-image docs.

[2020-07-01 21:38] #18933 closed

[2020-07-01 23:42] celestehorgan commented on #17070
/label wg-naming

[2020-07-01 23:42] celestehorgan commented on #17070
/wg naming

[2020-07-01 23:43] celestehorgan commented on #21621
/wg naming

[2020-07-01 23:43] celestehorgan commented on #21749
/wg naming

[2020-07-02 00:35] oke-py commented on #21894
/close

[2020-07-02 00:35] #21894 closed

[2020-07-02 00:35] woopyoung opened #22260 "Issue with k8s.io/ko/docs/concepts/overview/kubernetes-api/"
**This is a Bug Report**

**Problem:**
Description에 대한 번역이 없습니다.
description: >
  The Kubernetes API lets you query and manipulate the state of objects in Kubernetes.
  The core of Kubernetes' control plane is the API server and the HTTP API that it exposes. Users, the different parts of your cluster, and external components all communicate with one another through the API server.

**Proposed Solu

[2020-07-02 00:36] woopyoung commented on #22260
/language ko
/assign

[2020-07-02 00:40] racheruk commented on #22233
@prasadkatti Apologies for having very short description of the issue. Updated it to include more context.

[2020-07-02 02:04] woopyoung opened #22262 "Issue with k8s.io/ko/docs/concepts/overview/working-with-objects/"
**This is a Bug Report**

**Problem:**
Description에 대한 번역이 없습니다.
description: >
  Kubernetes objects are persistent entities in the Kubernetes system. Kubernetes uses these entities to represent the state of your cluster.
  Learn about the Kubernetes object model and how to work with these objects.

**Proposed Solution:**
번역이 필요합니다.

**Page to Update:**
https://kubernetes.io/ko/docs/concepts/overv

[2020-07-02 02:04] woopyoung commented on #22262
/language ko
/assign

[2020-07-02 02:35] woopyoung commented on #22262
Page Preview : https://5efd443521f77d0008aa5039--k8s-dev-ko.netlify.app/ko/docs/concepts/overview/working-with-objects/

[2020-07-02 03:10] Smlight opened #22264 "Issue with k8s.io/zh/docs/concepts/cluster-administration/cluster-administration-overview/"
**This is a Bug Report**

**Problem:**
**Borken link** in `如果你正在设计一个高可用集群，请了解在多个 zones 中配置集群。`
It just lead me to a 404 page.
**Proposed Solution:**
Update the link.
**Page to Update:**
As shown in the title,
https://k8s.io/zh/docs/concepts/cluster-administration/cluster-administration-overview/

[2020-07-02 05:03] pjhwa opened #22266 "Issue of broken links to translated docs #2"
**This is a Bug Report**

**Problem:**
There are lots of translated docs contains broken links of redirects to the other translated docs in content/ko/docs directory.

**Proposed Solution:**
Fix these broken links to the translated docs.

-  content/ko/docs/concepts/cluster-administration/cluster-administration-overview.md
-  content/ko/docs/concepts/extend-kubernetes/api-extension/custom-resource

[2020-07-02 05:03] pjhwa commented on #22266
/assign

[2020-07-02 05:36] RA489 commented on #22216
/triage support

[2020-07-02 05:37] RA489 commented on #22088
/triage needs-information

[2020-07-02 05:38] RA489 commented on #22088
/triage needs-information

[2020-07-02 05:42] RA489 commented on #22065
@sumangongali Minikube needs

- 2 CPUs or more
- 2GB of free memory
- 20GB of free disk space
- Internet connection
- Container or virtual machine manager

[2020-07-02 05:48] SDR0512 opened #22269 "This link is broken. The src or href is an empty string."
href='' or src='' can cause unexpected effects such as traffic spikes or cookie corruption, and causes JavaScript error events to fire on Firefox.

Link: Show More Posts... URL is empty.
         https://kubernetes.io/blog/

Line: 231, 367, 587, 879, 1103

[2020-07-02 06:24] prasadkatti commented on #22264
\language zh

[2020-07-02 07:12] #22157 closed

[2020-07-02 07:31] ydcool commented on #22264
This page is out of date, let me update it.
/assign

[2020-07-02 07:34] ydcool commented on #22264
/meow

is ci robot still work?

[2020-07-02 07:35] ydcool commented on #22264
/language zh

[2020-07-02 08:07] hieuteve opened #22272 "Issue with k8s.io/docs/concepts/architecture/control-plane-node-communication/"
**This is a Bug Report**

**Problem:**
Konnectivity or Connectivity?

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-07-02 08:17] tengqm commented on #22272
Konnectivity is it. See

- https://kubernetes.io/docs/tasks/extend-kubernetes/setup-konnectivity/
- https://github.com/kubernetes-sigs/apiserver-network-proxy

[2020-07-02 08:18] tengqm commented on #22272
/close

[2020-07-02 08:18] raelga commented on #19364
https://github.com/kubernetes/website/pull/19365 has been already merged, this issue can be mark as resolved!

Thanks @npu21!

[2020-07-02 08:18] #19364 closed

[2020-07-02 08:18] #22272 closed

[2020-07-02 08:21] tengqm commented on #19454
/remove-lifecycle rotten

[2020-07-02 08:22] tengqm commented on #19454
/language en

[2020-07-02 08:59] tengqm commented on #19431
@dev1983  What you were reading is a concept page. We are not presenting a lot of examples on concept pages. Examples are usually found on tasks pages.
/close

[2020-07-02 08:59] #19431 closed

[2020-07-02 12:02] jiri-kral86 commented on #15637
I know that's old issue but I had this trouble for longer time and wasn't able to solve... Then, I've just noticed that time is a bit different on one of my master servers...so installed NTP server on missing one and after synchronization, problem was finally solved! Nowhere (system logs, --v=5, etc...) was any message or notice about some trouble with time...only connection troubles were in messa

[2020-07-02 13:08] neolit123 commented on #15637
@jiri-kral86

sorry for having to debug this problem for so long. there is no way for kubeadm to detect this because kubeadm does not e.g. SSH to the Node beforehand to check if the clock is well synced and only then "join". this can result in issues related to certificates.

it's the responsibility of the admin to make sure the nodes are in good state before the cluster is created, but i can see

[2020-07-02 15:36] celestehorgan opened #22276 "Seperate "be a PR wrangler for a week" into a new page"
Umbrella issue: https://github.com/kubernetes/website/issues/21687

Take Advanced Contributing > Be a PR Wrangler for a week topic and create a new page, Participating in SIG Docs > PR Wranglers.

[2020-07-02 15:36] celestehorgan commented on #22276
/assign
/kind cleanup

[2020-07-02 15:40] celestehorgan commented on #22221
@shuuji3 Thank you for the help!! I'll try it out.

[2020-07-02 17:03] celestehorgan commented on #21788
I don't think there's any more work that needs doing here! you can close this off :)

[2020-07-02 18:11] raelga commented on #20636
Issue solved in https://github.com/kubernetes/website/pull/20638

/close

[2020-07-02 18:11] #20636 closed

[2020-07-02 22:44] shuuji3 commented on #22221
@celestehorgan I'm glad to help! 😊

[2020-07-02 23:02] joshreic-db opened #22285 "Issue with k8s.io/docs/setup/production-environment/turnkey/gce/"
**This is a Bug Report**

**Problem:**
After clicking the button to "open a Google Cloud Shell with an auto-cloned copy of the Kubernetes source repo."
https://console.cloud.google.com/cloudshell/open?git_repo=https://github.com/kubernetes/kubernetes&page=editor&open_in_editor=README.md

I attempt to run make and receive the following error

`josh_reich@cloudshell:~/cloudshell_open/kubernetes$ mak

[2020-07-03 01:45] tengqm commented on #22269
"Show More Posts..." link? There is no such link on the page you mentioned.
/triage needs-information

[2020-07-03 01:45] tengqm commented on #22269
/area blog

[2020-07-03 06:39] shuuji3 commented on #22269
By clicking a year link (for example "2020") on the left sidebar,  "Show More Posts..." link is shown on the bottom of the list of articles. Maybe this is the link.

[2020-07-03 08:31] inductor commented on #21891
/close

[2020-07-03 08:31] #21891 closed

[2020-07-03 11:02] girikuncoro opened #22296 "Tracking Indonesian Translation Progress (M4)"
This is tracking issue of our progress from Q3 2020 onwards. In the beginning of this milestone, as per [our metrics](https://app.circleci.com/pipelines/github/jk8s/sig-docs-id/31/workflows/104350b4-55f7-4447-9b7c-ea080f1bca8d/jobs/52), we have translated 150 pages from 60 contributors, with around 8,000 views per month.

## Maintainers
* @ariscahyadi
* @danninov
* @girikuncoro
* @irvifa
* @phanam

[2020-07-03 11:10] girikuncoro commented on #20111
Thank you so much for everyone's contribution, we have successfully closed this Milestone 3! I hope you all learned new Kubernetes knowledge from this contribution. Please DM or mention me on twitter [@girikuncoro](https://twitter.com/girikuncoro) if you want to receive special gifts (a cute kubernetes mask) from your contributions.

Our next milestone is going to be maintained in https://github.c

[2020-07-03 11:10] #20111 closed

[2020-07-03 11:54] #22269 closed

[2020-07-03 11:54] SDR0512 opened #22297 "Broken link"
There is empty url in kubernetes site code
line: 2299

[2020-07-03 12:15] kreempuff opened #22298 "PVC resource requirements hard to find"
**This is a Bug Report**

**Problem:**
I was looking for the keys to specify for the resource requirements in a PersistentVolumeClaim via the [API reference][api-ref-pvc]. After following the link to the [ResourceRequirements][resource-requirements] docs, the `.requests` key points to the [concepts][concepts] page for managing container resources. It makes no mention of Persistent Volume Claims or

[2020-07-03 12:25] sftim commented on #22298
The API reference doesn't have awareness of all the kinds of resources that you can request (or set a limit for).

How about adding a new page https://kubernetes.io/docs/reference/resources/some-title/ that lists the kind of resources that are built in to Kubernetes? Then other pages can link there; for example, https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#resourc

[2020-07-03 12:26] sftim commented on #20232
Also see https://github.com/kubernetes/website/issues/22285

[2020-07-03 13:55] SDR0512 opened #22299 "Activate CDN"
A Content Delivery Network (CDN) optimizes the delivery of the content of your website to your visitors. It is especially useful if you have visitors that view your website from a variety of geographic regions.

[2020-07-03 14:01] irvifa commented on #22296
I'm taking docs/concepts/architecture/control-plane-node-communication

[2020-07-03 14:21] kbhawkey commented on #21788
Good. The only thing noted is some different styling per main section (docs vs case studies).
/close

[2020-07-03 14:21] #21788 closed

[2020-07-03 14:21] kbhawkey commented on #22255
/close

[2020-07-03 14:21] #22255 closed

[2020-07-03 15:13] danoso10 opened #22302 "error message when creating a project on openshift via the CLI"
**Running the following command to create a project after logging into my cluster:**

$ oc new-project c0ab-openshift-tools --display-name="OpenShift Tools"

**and encountering the following error message:**

error: Missing or incomplete configuration info.  Please login or point to an existing, complete config file:

  1. Via the command-line flag --kubeconfig
  2. Via the KUBECONFIG environment

[2020-07-03 15:14] kbhawkey commented on #22229
@zacharysarah , Q: Where did you see this warning? I'd rather not have a local setting for a language that is not directly used.
Can we check back with netlify?

[2020-07-03 15:19] #18966 closed

[2020-07-03 15:28] danoso10 commented on #22302
I even get this error message when simply running "oc get projects"

[2020-07-03 16:02] Arhell commented on #22090
/assign @Arhell

[2020-07-03 17:32] zacharysarah commented on #22229
@kbhawkey I see it in every build where Ruby isn’t already cached. (Cached builds still use 2.3.6.)

[2020-07-03 17:32] kreempuff commented on #22298
Hmm, I like that idea. Is there a place where built-in resource types are defined that I can reference for the new page?

[2020-07-03 17:35] sftim commented on #22298
@kreempuff not yet! I think https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#resource-types is the closest existing page. Beyond that there is https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#resource-types and the Kubernetes source code.

/sig scheduling

[2020-07-03 17:53] kreempuff commented on #22298
Alright! I'll take this on

[2020-07-03 18:29] kbhawkey commented on #22229
OK. Just trawled through previous netlify discussions.That warning seems to happen in a number of instances

[code]
Is the search for the ruby installer the problem or something else?
Checking out, `https://gohugo.io/troubleshooting/build-performance/#template-metrics`

[2020-07-03 18:45] kbhawkey commented on #22229
Also, should the site add, `postcss.config.js`? I assume this isn't automatically picked up from the theme directory.
`https://github.com/google/docsy/blob/master/postcss.config.js`

build cmd from theme:
command = "git submodule update -f --init && cd userguide && npm install postcss-cli && hugo --themesDir ../.."

package.json from theme differs from current docs:
[code]

[2020-07-03 20:03] zacharysarah commented on #22229
@kbhawkey

Good question--let's open a separate issue for that discussion.

[2020-07-03 20:17] zacharysarah commented on #22229
@kbhawkey

Nothing stands out in template metrics locally.

Given that Hugo warns that older versions of Ruby will cause slow builds, it seems reasonable to infer that the search/install process isn't helping.

[2020-07-03 20:24] kbhawkey opened #22308 "evaluate package.json, postcss.config.js"
**This is a Feature Request**
Should the site add, `postcss.config.js`?
Is this configuration picked up from the theme directory.

Verify build cmd (npm install postcss-cli)

Verify package.json contents:

package.json from theme differs from current docs:
[code]

**What would you like to be added**

Possibly update package.json, add postcss.config.js.

[2020-07-03 20:24] kbhawkey commented on #22308
Temporarily assigning.
/assign

[2020-07-03 20:25] kbhawkey commented on #22308
See issue #22306.

[2020-07-03 20:26] kbhawkey commented on #22229
Created #22308.

[2020-07-03 20:33] zacharysarah commented on #22229
Relevant to https://github.com/kubernetes/website/issues/22229#issuecomment-653647254: after testing Ruby with #22307, it looks like Ruby is less responsible for slow builds than post processing, which appears responsible for over 50% of the build time.

#22306, #22308

[code]

[2020-07-03 20:54] kbhawkey commented on #22308
Investigate `package-lock.json`.

[2020-07-03 22:02] #22229 closed

[2020-07-03 23:45] sftim commented on #22299
@SDR0512 I'm a technical lead for SIG Docs and I'm happy with the existing CDN.

Are you finding that https://kubernetes.io/ is slow or difficult to access?

/triage needs-information

[2020-07-04 00:31] imrenagi commented on #22296
Im taking this /docs/setup/learning-environment/minikube/ @girikuncoro

[2020-07-04 02:02] SDR0512 commented on #22299
Not only ensure a faster experience to https://kubernetes.io/, they also help to prevent site crashes in the event of traffic surges

[2020-07-04 02:06] SDR0512 commented on #22299
Not only ensure a faster experience to your users, they also help to prevent site crashes in the event of traffic surges

[2020-07-04 02:30] imrenagi commented on #22296
Im taking this /docs/setup/learning-environment/minikube/

[2020-07-04 02:47] ariscahyadi commented on #22296
I'm working on this `/docs/setup/production-environment/container-runtimes/`

[2020-07-04 03:11] tengqm commented on #22302
pls raise the issue at https://github.com/openshift/oc/issues
This is not a k8s docs issue.
/close

[2020-07-04 03:11] #22302 closed

[2020-07-04 03:15] tengqm commented on #18966
1.19 has a major rewrite of the docs: #21590

[2020-07-04 03:27] SDR0512 commented on #22299
not only ensure a faster experience to your users, but they also help to prevent site crashes in the event of traffic surges

[2020-07-04 03:31] #18833 closed

[2020-07-04 03:37] girikuncoro commented on #22296
I'm taking `/docs/tasks/manage-kubernetes-objects/kustomization`

[2020-07-04 03:37] tengqm commented on #18833
Thanks @k8s-ci-robot, this is no longer an issue.

[2020-07-04 03:40] tengqm commented on #22297
file name?

[2020-07-04 03:46] tengqm commented on #22285
This list of issues tracks bug reports and feature requests for the Kubernetes documentation.
If you're looking for help, check Stack Overflow
You can also post your question on the Kubernetes Slack or the Discuss Kubernetes forum.

/triage support
/close

[2020-07-04 03:46] #22285 closed

[2020-07-04 03:51] deryrahman commented on #22296
I'm taking this `/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro/`

[2020-07-04 03:53] tengqm commented on #18379
Resolved.
/close

[2020-07-04 03:54] #18379 closed

[2020-07-04 03:59] SDR0512 commented on #22297
In the CODE
Code line is 2299

[2020-07-04 04:00] #21605 closed

[2020-07-04 04:17] tengqm commented on #22297
which code?

[2020-07-04 04:24] SDR0512 commented on #22297
In the HTML code

[2020-07-04 04:29] tengqm commented on #19337
/remove-lifecycle rotten
/assign

[2020-07-04 04:32] tengqm commented on #22297
can you share the URL, the source file?
what do you mean by "kubernetes site"?

[2020-07-04 04:35] #22297 closed

[2020-07-04 04:49] tengqm commented on #19435
`node.kubernetes.io/not-ready` is attached to a Node when NodeReady condition is False; while `node.kubernetes.io/unreachable` is attached to a Node when NodeReady condition is Unknown.

Is the above information you want to appear in the table?

[2020-07-04 05:26] tengqm commented on #19996
/remove-lifecycle stale
/assign

[2020-07-04 05:54] tengqm commented on #20849
Yes, I think so.

Maybe you want to raise an issue to kubectl in the upstream repo (kubernetes/kubernetes), requesting support to explicitly specify the field to populate?

[2020-07-04 06:29] tengqm commented on #18617
/close

[2020-07-04 06:29] #18617 closed

[2020-07-04 06:30] tengqm commented on #20445
/close
done.

[2020-07-04 06:30] #20445 closed

[2020-07-04 08:27] tengqm commented on #17738
This is solved.
/close

[2020-07-04 08:38] tengqm commented on #19206
/close
done.

[2020-07-04 08:38] #19206 closed

[2020-07-04 08:40] tengqm commented on #19164
/triage support
/close

[2020-07-04 08:40] #19164 closed

[2020-07-04 09:27] Arhell commented on #22048
/assign @Arhell

[2020-07-04 09:55] sftim commented on #22299
The existing CDN does seem fine.

/priority awaiting-more-evidence

[2020-07-04 10:01] sftim commented on #22276
/language en

[2020-07-04 10:04] #22247 closed

[2020-07-04 10:19] sftim commented on #4497
Also see issue #21721

[2020-07-04 10:51] shuuji3 opened #22328 "Translate tutorials/stateful-application/basic-stateful-set/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate tutorials/stateful-application/basic-stateful-set/ into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-07-04 11:13] shuuji3 commented on #21984
/assign

[2020-07-04 11:20] shuuji3 opened #22330 "Translate tutorials/stateless-application/guestbook/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [tutorials/stateless-application/guestbook/](https://kubernetes.io/docs/tutorials/stateless-application/guestbook/) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-07-04 11:49] deryrahman commented on #22296
Next, I'll take this `/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro/`

[2020-07-04 12:21] oke-py opened #22335 "ja: Make docs/setup/best-practices/multiple-zones.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update content/ja/docs/setup/best-practices/multiple-zones.md to follow v1.17 of the original (English) text.

**Why is this needed**
There is a difference between en doc and ja doc.

step 0
新しい更新が反映されていないわけではなく、単純に`git diff`を見てもダメでした。

step 1
release-1.17と差分をとるとDocsy対応の差分が見えてしまい、仕分けが面倒です。
そこで、release-1.17とmasterの間にはDocsy対応の差分のみで、コ

[2020-07-04 12:29] irvifa commented on #22296
I'm taking `/docs/tutorials/stateless-application/expose-external-ip-address/`

[2020-07-04 12:45] oke-py opened #22337 "ja: Make docs/setup/production-environment/on-premises-vm/_index.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/production-environment/on-premises-vm/_index.md to follow v1.17 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/production-environment/on-premises-vm/_index.md is outdated.

**Comments**
/language ja
/good-first-issue
/assign

File to update
https://github.com/kubernetes/website/blob/

[2020-07-04 13:15] shuuji3 opened #22340 "Translate tutorials/stateful-application/mysql-wordpress-persistent-volume/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [tutorials/stateful-application/mysql-wordpress-persistent-volume/](https://kubernetes.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-07-04 13:18] wahyuoi commented on #22296
I'm taking ` /docs/tasks/configure-pod-container/static-pod`

[2020-07-04 13:30] ariscahyadi commented on #22296
Next, I'm working on this `/docs/contribute/participate/`

[2020-07-04 14:30] oke-py opened #22341 "ja: Make docs/setup/production-environment/tools/kops.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/production-environment/tools/kops.md to follow v1.17 of the original (English) text.

英文のまま更新するだけで十分です。
翻訳は必須ではありませんが、歓迎します。翻訳用にIssueを作成する必要はありません。

**Why is this needed**
content/ja/docs/setup/production-environment/tools/kops.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://gi

[2020-07-04 16:03] inductor commented on #22337
/close

[2020-07-04 16:03] #22337 closed

[2020-07-04 16:08] shuuji3 opened #22343 "Translate concepts/configuration/configmap/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [concepts/configuration/configmap/](https://kubernetes.io/docs/concepts/configuration/configmap/) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-07-04 17:17] wahyuoi commented on #22296
I'm taking `/docs/contribute/suggest-improvements/`

[2020-07-04 23:35] tengqm commented on #21404
According to #21202 comments:

So it is really difficult to precisely document this.

[2020-07-05 00:02] medined commented on #21404
Maybe a legitimate beginner task might be to standardize log level somehow?

[2020-07-05 00:48] #22299 closed

[2020-07-05 02:38] michael1589 opened #22347 "Issue with k8s.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/"
**This is a Bug Report**

create mysql-deployment.yaml and wordpress-deployment.yaml fail, because pvc is in pending.
root@centos7-2 mysql-wordpress-pd]# kubectl apply -k ./
service/wordpress-mysql created
service/wordpress created
deployment.apps/wordpress-mysql created
deployment.apps/wordpress created
persistentvolumeclaim/mysql-pv-claim created
persistentvolumeclaim/wp-pv-claim created
[root@c

[2020-07-05 02:42] tengqm opened #22348 "Improvements to doc testing"
**This is a Feature Request**

**What would you like to be added**

Improvements to validating/verifying sample manifests.

**Why is this needed**

We have many sample manifests under the `content/<lang>/examples` directories. They are extracted from the markdown sources and then consolidated into the `../examples` directory so that they can be easily referenced, reused, and copy-pasted by users.

[2020-07-05 03:20] Cweiping commented on #22041
/assign

[2020-07-05 03:27] Cweiping commented on #22064
/assign

[2020-07-05 04:02] translucens opened #22354 "Translate concepts/configuration/secret/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [concepts/configuration/secret/](https://kubernetes.io/docs/concepts/configuration/secret/) into Japanese

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-07-05 05:51] riyafa opened #22356 "Issue with k8s.io/docs/tasks/debug-application-cluster/debug-application-introspection/"
**This is a Bug Report**

**Problem:**
The page is not updated for version 1.18
**Proposed Solution:**
Update the results of `kubectl describe` commands and `kubectl -o yaml` commands to reflect the latest version and the following discussions on them also to use content from latest version.
**Page to Update:**
https://kubernetes.io/docs/tasks/debug-application-cluster/debug-application-introspect

[2020-07-05 07:46] oke-py opened #22358 "ja: Make docs/setup/production-environment/tools/kubeadm/high-availability.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/production-environment/tools/kubeadm/high-availability.md to follow v1.17 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/production-environment/tools/kubeadm/high-availability.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/w

[2020-07-05 08:55] oke-py opened #22359 "ja: Make docs/setup/production-environment/tools/kubeadm/install-kubeadm.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/production-environment/tools/kubeadm/install-kubeadm.md to follow v1.17 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/websi

[2020-07-05 09:08] pjhwa opened #22360 "Issue with 'Linux' and 'Windows' notation in Korean docs"
**This is a Bug Report**

**Problem:**
In some translated docs into Korean, 'Linux' and 'Windows' were not translated.

**Proposed Solution:**
Replace 'Linux' and 'Windows' with '리눅스' and '윈도우' in the following pages:
1. 'Linux':
- concepts/configuration/organize-cluster-access-kubeconfig.md
- concepts/services-networking/service.md
- concepts/workloads/pods/pod.md
- concepts/workloads/pods/init-c

[2020-07-05 09:11] oke-py opened #22361 "ja: Make docs/setup/production-environment/tools/kubeadm/kubelet-integration.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/production-environment/tools/kubeadm/kubelet-integration.md to follow v1.17 of the original (English) text.

英文のまま更新するだけで十分です。
翻訳は必須ではありませんが、歓迎します。翻訳用にIssueを作成する必要はありません。

**Why is this needed**
content/ja/docs/setup/production-environment/tools/kubeadm/kubelet-integration.md is outdated.

**Comments**
/language j

[2020-07-05 09:14] memark opened #22363 "Improvement for k8s.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/"
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#letting-iptables-see-bridged-traffic

This paragraph is a bit backwards. It would be more intuitive to start with the "Make sure that the br_netfilter module is loaded before this step..." phrases.

[2020-07-05 09:17] oke-py opened #22364 "ja: Make docs/setup/production-environment/tools/kubeadm/self-hosting.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/production-environment/tools/kubeadm/self-hosting.md to follow v1.17 of the original (English) text.

英文のまま更新するだけで十分です。
翻訳は必須ではありませんが、歓迎します。翻訳用にIssueを作成する必要はありません。

**Why is this needed**
content/ja/docs/setup/production-environment/tools/kubeadm/self-hosting.md is outdated.

**Comments**
/language ja
/good-first-

[2020-07-05 10:04] tengqm commented on #18403
still relevant.
/remove-lifecycle rotten

[2020-07-05 10:19] oke-py opened #22365 "ja: Make docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md to follow v1.17 of the original (English) text.

英文のまま更新するだけで十分です。
翻訳は必須ではありませんが、歓迎します。翻訳用にIssueを作成する必要はありません。

**Why is this needed**
content/ja/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md is outdated.

**Comments

[2020-07-05 10:35] oke-py opened #22366 "ja: Make docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md to follow v1.17 of the original (English) text.

英文のまま更新するだけで十分です。
翻訳は必須ではありませんが、歓迎します。翻訳用にIssueを作成する必要はありません。

**Why is this needed**
content/ja/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md is outdated.

**Comments**
/la

[2020-07-05 10:42] oke-py opened #22367 "ja: Make docs/setup/production-environment/turnkey/_index.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/production-environment/turnkey/_index.md to follow v1.17 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/production-environment/turnkey/_index.md is outdated.

**Comments**
/language ja
/good-first-issue
/assign

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.3/

[2020-07-05 11:11] oke-py opened #22369 "ja: Make docs/setup/production-environment/turnkey/alibaba-cloud.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/production-environment/turnkey/alibaba-cloud.md to follow v1.17 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/production-environment/turnkey/alibaba-cloud.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17

[2020-07-05 11:14] oke-py opened #22370 "ja: Make docs/setup/production-environment/turnkey/aws.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/production-environment/turnkey/aws.md to follow v1.17 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/production-environment/turnkey/aws.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.3/content/ja/doc

[2020-07-05 12:03] #17454 closed

[2020-07-05 12:33] pjhwa opened #22372 "Issue of document link in some documents"
**This is a Bug Report**

**Problem:**
Some documents contain the document links with https://kubernetes.io like the below:
- tasks/administer-cluster/dns-custom-nameservers.md:
\[Migrating to CoreDNS\]\(https://kubernetes.io/docs/tasks/administer-cluster/coredns/#migrating-to-coredns)

**Proposed Solution:**
Remove 'https://kubernetes.io' from the links.

**Page to Update:**
https://kubernetes.io

[2020-07-05 13:00] oke-py opened #22374 "ja: Make docs/setup/production-environment/turnkey/icp.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/production-environment/turnkey/icp.md to follow v1.17 of the original (English) text.

英文のまま更新するだけで十分です。
翻訳は必須ではありませんが、歓迎します。翻訳用にIssueを作成する必要はありません。

**Why is this needed**
content/ja/docs/setup/production-environment/turnkey/icp.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://

[2020-07-05 22:54] inductor commented on #21942
/lgtm

[2020-07-06 00:43] oke-py commented on #22367
/close

[2020-07-06 00:44] #22367 closed

[2020-07-06 00:44] oke-py commented on #21942
/close

[2020-07-06 00:44] #21942 closed

[2020-07-06 01:16] #19000 closed

[2020-07-06 01:16] #19012 closed

[2020-07-06 02:02] #22372 closed

[2020-07-06 02:05] tengqm commented on #22347
You will need to provision the PV volumes manually before running this example. The message is pretty clear on that: "no persistent volumes available for this claim and no storage class is set".

[2020-07-06 02:05] tengqm commented on #22347
/triage support

[2020-07-06 02:08] tengqm commented on #22224
/language en

[2020-07-06 04:28] pjhwa opened #22378 "Issue of document link in some ko documents"
**This is a Bug Report**

**Problem:**
Like #22372 , there are also document links with https://kubernetes.io/ prefix in some Korean documents.
- concepts/configuration/manage-resources-containers.md
\[\`emptyDir\`\]\(https://kubernetes.io/docs/concepts/storage/volumes/#emptydir)

**Proposed Solution:**
Remove 'https://kubernetes.io' from the links.

**Page to Update:**
https://kubernetes.io/...

[2020-07-06 04:28] pjhwa commented on #22378
/assign

[2020-07-06 06:49] harshaltiwariACN opened #22382 "Issue with Kubectl not installed due to TLS error"
**This is a Bug Report**

 I am trying to install the kubectl package on ubuntu but throws me an error of url: (60) SSL certificate problem: self signed certificate in certificate chain
More details here: https://curl.haxx.se/docs/sslcerts.html

curl failed to verify the legitimacy of the server and therefore could not
establish a secure connection to it. To learn more about this situation and
how

[2020-07-06 07:42] translucens commented on #21840
/close

[2020-07-06 08:01] inductor commented on #21840
/close

[2020-07-06 08:01] #21840 closed

[2020-07-06 08:11] luckyvs1 commented on #22060
/assign

[2020-07-06 10:39] hikkie3110 commented on #22359
/assign

[2020-07-06 11:09] serathius commented on #21404
Proposing and defining standard log levels is definitely not an easy task.

One of the designs of current V-levels is lack of semantics. It uses more relative importance (e.g. HTTP 403 is more important then HTTP 200) then global one (something is either ERROR,WARNING or INFO). This gives user a very fine grain control over log volume.

Still we are definitely lacking in documentation of verbosity

[2020-07-06 12:06] shuuji3 commented on #22341
/assign

[2020-07-06 12:16] sftim opened #22385 "Tidy reference section"
**This is a clean-up request**

**Problem:**
The [reference pages](https://k8s.io/docs/reference/) already have a good overview, so the autogenerated list of pages that's at the foot of that overview is not really needed.

However, there are a few extra pages in the section that aren't listed in the overview.

**Proposed Solution:**
- make sure that every item in the left-hand navigation is refere

[2020-07-06 12:41] oke-py opened #22386 "ja: Make docs/setup/production-environment/windows/intro-windows-in-kubernetes.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/production-environment/windows/intro-windows-in-kubernetes.md to follow v1.17 of the original (English) text.

英文のまま更新するだけで十分です。
翻訳は必須ではありませんが、歓迎します。翻訳用にIssueを作成する必要はありません。

**Why is this needed**
content/ja/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md is outdated.

**Comments**
/langua

[2020-07-06 12:47] kerenskybr opened #22387 "Issue with k8s.io/pt/docs/home/"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/pt/docs/setup is giving 404

**Proposed Solution:**
https://kubernetes.io/docs/setup/ if doesn't have the pt version

**Page to Update:**
https://kubernetes.io/docs/setup/

[2020-07-06 12:51] oke-py opened #22388 "ja: Make docs/setup/production-environment/windows/user-guide-windows-containers.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/production-environment/windows/user-guide-windows-containers.md to follow v1.17 of the original (English) text.

英文のまま更新するだけで十分です。
翻訳は必須ではありませんが、歓迎します。翻訳用にIssueを作成する必要はありません。

**Why is this needed**
content/ja/docs/setup/production-environment/windows/user-guide-windows-containers.md is outdated.

**Comments**
/la

[2020-07-06 12:59] oke-py opened #22389 "ja: Make docs/setup/production-environment/windows/user-guide-windows-nodes.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/production-environment/windows/user-guide-windows-nodes.md to follow v1.17 of the original (English) text.

英文のまま更新するだけで十分です。
翻訳は必須ではありませんが、歓迎します。翻訳用にIssueを作成する必要はありません。

**Why is this needed**
content/ja/docs/setup/production-environment/windows/user-guide-windows-nodes.md is outdated.

**Comments**
/language ja

[2020-07-06 13:01] oke-py commented on #22389
これらの削除
- content/ja/docs/setup/production-environment/windows/flannel-master-kubeclt-get-pods.png
- content/ja/docs/setup/production-environment/windows/flannel-master-kubectl-get-ds.png
- content/ja/docs/setup/production-environment/windows/windows-docker-error.png

これらの追加（content/en/ 配下の同パスからコピー）
- content/ja/docs/setup/production-environment/windows/kubecluster.ps1-install.gif
- content/ja/docs

[2020-07-06 13:39] irvifa commented on #22296
I'm taking `/docs/tasks/configure-pod-container/share-process-namespace`

[2020-07-06 13:39] irvifa commented on #22296
/cc

[2020-07-06 13:40] irvifa commented on #22296
/assign

[2020-07-06 15:18] mltsy opened #22391 "Unclear wording in “Disruptions” concept page"
**This is a Bug Report**

**Problem:**
Under the "Dealing with Disruptions" heading, it says "The frequency of voluntary disruptions varies. On a basic Kubernetes cluster, there are no voluntary disruptions at all."  This is just not true... unless I'm missing some very limited definition of "Basic Kubernetes Cluster".

Essentially every possible "voluntary disruption" mentioned earlier on the pag

[2020-07-06 17:35] celestehorgan commented on #22049
Closing, but thank you, @Cweiping!

Upon further inspection this script is used by [some code blocks](https://kubernetes.io/docs/concepts/cluster-administration/logging/#basic-logging-in-kubernetes). However, the icon it calls is a white outline, and that needs fixing. New issue!

[2020-07-06 17:35] #22049 closed

[2020-07-06 17:40] celestehorgan opened #22393 "/images/copycode.svg is a white outline and thus invisible"
`/static/images/copycode.svg` has a white fill-color which renders it non-visible in most cases. For example, see [this code block](https://kubernetes.io/docs/concepts/cluster-administration/logging/#basic-logging-in-kubernetes), and hover just to the right of the file name.

Change the `fill` color on this SVG to a more visible color, for example `#3371e3`. This should be as simple as changing th

[2020-07-06 17:40] celestehorgan commented on #22393
/kind cleanup
/good-first-issue

[2020-07-06 18:05] pparihar opened #22394 "Issue with k8s.io/docs/tasks/extend-kubernetes/configure-multiple-schedulers/"
Thanks for the explanation but commands and YAML files are deemed to lot of errors and hence understanding of multi-schedulers is not clear.
Appreciate if you validate the entire process and update documents so that millions of people refer and understand from official git repo and kubernetes.io portal and thanks.

[2020-07-06 18:28] Arhell commented on #22393
/assign @Arhell

[2020-07-06 20:27] #19337 closed

[2020-07-06 21:12] sftim commented on #22393
This is a bug, I think.

/remove-kind cleanup
/kind bug
/priority backlog

[2020-07-06 21:12] sftim commented on #22393
(“backlog” doesn't mean “won't get done”; it's the right priority for most issues that we triage, and a lot of those get done)

[2020-07-06 21:14] sftim commented on #22394
@pparihar I'd like to understand what steps someone should take to resolve this issue

If you're willing to explain further you could use the text of (eg) issue 4491 as a guide, and revise the initial description of _this_ issue to explain the kind of work you had in mind.

/triage needs-information
/language en

[2020-07-06 21:15] sftim commented on #22382
/triage support

[2020-07-06 21:16] sftim commented on #22382
@harshaltiwariACN, GitHub is not the right place for support requests.

If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes)

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

[2020-07-06 21:24] sftim commented on #22391
This seems valid to me, although the text doesn't back this up with an explanation. The [blue-green deployment pattern](https://martinfowler.com/bliki/BlueGreenDeployment.html) is simpler to implement than, say, a [canary release](https://martinfowler.com/bliki/CanaryRelease.html)

If you use blue-green deployments then you have two Deployments (blue and green) and neither of these has any volunta

[2020-07-06 21:25] sftim commented on #22348
/kind feature
/priority important-longterm
/sig testing

[2020-07-06 21:26] sftim commented on #22363
/language en
/kind cleanup
/priority backlog
/good-first-issue

Thanks @memark

[2020-07-06 21:29] sftim commented on #22360
Fixed in PR #22362

[2020-07-06 21:43] sftim commented on #20649
If anyone's ready to tackle this: feel free!

[2020-07-06 22:04] kbhawkey opened #22398 "tooltip overflows into left hand navigation"
**This is a Bug Report**
Tooltip component on page overflows area.

**Problem:**
When you hover over some text with a tooltip, the tooltip
component overflows into the left hand navigation.

**Proposed Solution:**
Investigate styling of tooltip component.

**Page to Update:**
See the list of system component, specifically the `kubelet` component tooltip.
https://kubernetes.io/docs/concepts/cluster

[2020-07-06 22:10] mltsy commented on #22391
Interesting... though I'm not sure I understand what your opinion is.  First you say that the phrase "there are no voluntary disruptions at all" seems valid to you, but then you are also saying it's incorrect to claim there are no automated voluntary disruptions because "you can have a very basic-looking cluster where deployments are triggered automatically" ... so does a basic cluster have or not

[2020-07-06 22:42] sftim commented on #22391
We'd have to ask the original author to uncover their intent.

I suspect they were trying to distinguish between cases where people _aren't worried about_ voluntary disruptions and comparing that to the cases where someone is actively keen to manage the impact of voluntary disruptions, whether those are from application rollouts or from cluster upgrades.

[2020-07-06 22:56] sftim commented on #19463
/remove-lifecycle rotten

[2020-07-06 22:56] sftim commented on #19463
/priority important-longterm

[2020-07-06 23:05] mltsy commented on #22391
Sure - that makes sense.  Maybe better wording, then, would be:

"On a basic Kubernetes cluster, there are no hidden/default automated voluntary disruptions to worry about."

That seems more to the point and a bit less confusing to me.  Does it seem at least as accurate as the current wording?

[2020-07-07 00:02] gochist commented on #22360
/close

[2020-07-07 00:03] #22360 closed

[2020-07-07 00:04] luckyvs1 commented on #22393
Can this issue be closed? It was fixed by [PR](https://github.com/kubernetes/website/pull/22396) the PR had it as `issue` and not a [valid keyword](https://docs.github.com/en/enterprise/2.16/user/github/managing-your-work-on-github/closing-issues-using-keywords) to close out the issue.

[2020-07-07 00:15] #22266 closed

[2020-07-07 00:15] #21731 closed

[2020-07-07 00:43] pjhwa commented on #22360
@sftim By any chances, do you know why this issue didn't close even though I added "Closes #22360" in the description of the PR?

https://kubernetes.io/docs/contribute/new-content/new-content/#open-a-pr

[2020-07-07 01:45] girikuncoro commented on #22296
/assign @girikuncoro
/assign @wahyuoi
/assign @phanama
/assign @qbl
/assign @danninov
/assign @ariscahyadi

[2020-07-07 02:06] sumodirjo commented on #22296
I'm taking `/docs/tasks/administer-cluster/namespaces`

[2020-07-07 06:24] gochist commented on #22097
/close

[2020-07-07 06:24] #22097 closed

[2020-07-07 07:35] Arhell commented on #22398
/assign @Arhell

[2020-07-07 08:05] sftim commented on #22360
/shrug

The ways of GitHub are sometimes mysterious

[2020-07-07 09:06] irvifa commented on #22296
I'm taking ` /docs/tasks/configure-pod-container/assign-pods-nodes-using-node-affinity`

[2020-07-07 10:30] oke-py opened #22406 "ja: Make docs/setup/release/version-skew-policy.md follow v1.17 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/release/version-skew-policy.md to follow v1.17 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/release/version-skew-policy.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.17-ja.3/content/ja/docs/setup/releas

[2020-07-07 10:46] translucens commented on #22406
/assign

[2020-07-07 11:50] sftim commented on #14713
/remove-lifecycle rotten

[2020-07-07 11:50] sftim commented on #14713
Related: issue #22391

[2020-07-07 12:45] deryrahman commented on #22296
I'm taking `/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/`

[2020-07-07 12:52] kbhawkey commented on #22224
/close

[2020-07-07 12:53] #22224 closed

[2020-07-07 12:56] kbhawkey commented on #22110
/close

[2020-07-07 12:57] #22110 closed

[2020-07-07 13:43] #21775 closed

[2020-07-07 13:43] #22102 closed

[2020-07-07 13:43] #22378 closed

[2020-07-07 13:44] pjhwa commented on #21729
/assign

[2020-07-07 13:53] inductor commented on #21934
/close

[2020-07-07 13:54] #21934 closed

[2020-07-07 15:54] ariscahyadi commented on #22296
I am working on this `/docs/tasks/administer-cluster/network-policy-provider/calico-network-policy`

[2020-07-07 16:18] celestehorgan commented on #22393
/close

[2020-07-07 16:18] #22393 closed

[2020-07-07 16:51] #22060 closed

[2020-07-07 17:37] v4mpir0ck opened #22413 "Improvement for k8s.io/docs/tasks/extend-kubernetes/configure-multiple-schedulers/"
Hi,
in the part of enabling[ leader election](https://kubernetes.io/docs/tasks/extend-kubernetes/configure-multiple-schedulers/#enable-leader-election) , it would be helpfull to show what file and where it is.

¿ /etc/kubernetes/config/kube-scheduler.yaml ?

thank you

[2020-07-07 17:41] inductor commented on #22340
/close

[2020-07-07 17:41] #22340 closed

[2020-07-07 17:49] inductor commented on #22406
/close

[2020-07-07 17:49] #22406 closed

[2020-07-07 18:57] #16742 closed

[2020-07-07 19:33] acscott opened #22414 "Improvement for k8s.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/"
Maybe mention that deployments require changing the api attribute when going from major version to major version.

[2020-07-07 19:38] neolit123 commented on #22414
hello,

- do you mean "minor version" instead of "major version"?
- also what is an "api attribute"?

/priority awaiting-more-evidence
/sig cluster-lifecycle

[2020-07-07 20:55] rrajaram opened #22416 "Issue with k8s.io/docs/concepts/overview/working-with-objects/names/"
**This is a Bug Report**

**Problem:**
DNS Subdomain Names is mentioned as name cannot be more than 253 characters.

**Proposed Solution:**
As per RFC 1123 mentioned in the same page, section 2.1 host names and numbers it mentions ' Host software MUST handle host names of up to 63 characters and SHOULD handle host names of up to 255 characters". So doesn't it mean we can have upto 255 characters i

[2020-07-07 21:23] valentinlehmann opened #22418 "Issue with k8s.io/de/docs/tasks/administer-cluster/"
The site is completely empty ;)

[2020-07-07 23:10] sumodirjo commented on #22416
I found the following code comment:

https://github.com/kubernetes/kubernetes/blob/dbfc3aa877b5beda2ecdfb38911c311b250a4973/pkg/apis/certificates/validation/validation.go#L276

My understanding the actual limit is still 255. I'm not sure which or where is the one '.' and one '/' referred on the comment.

[2020-07-08 00:27] sumodirjo commented on #22296
I'm taking `/docs/tasks/administer-cluster/cluster-management`

[2020-07-08 11:45] sftim commented on #13858
[Done](https://kubernetes.io/id/community/code-of-conduct/) in #18828
/close

[2020-07-08 11:46] #13858 closed

[2020-07-08 13:08] hiyokotaisa commented on #22386
/assign

[2020-07-08 14:50] neolit123 commented on #22363
/sig cluster-lifecycle

[2020-07-08 16:12] ariscahyadi commented on #22296
I'm working on this `/docs/tasks/administer-cluster/highly-available-master`

[2020-07-09 00:25] #19045 closed

[2020-07-09 02:07] tengqm commented on #19582
This is fixed. Getting it automated in CI gate is another issue.
/close

[2020-07-09 02:07] #19582 closed

[2020-07-09 02:19] tengqm commented on #18978
/reopen

[2020-07-09 02:19] tengqm commented on #18978
/assign

[2020-07-09 02:29] tengqm commented on #19029
No response from the reporter for a long time.
/close

[2020-07-09 02:30] #19029 closed

[2020-07-09 02:32] tengqm commented on #18084
/remove-lifecycle rotten
Looks like the PR addressing this is still being cooked.

[2020-07-09 02:35] tengqm commented on #20198
Already solved by #20204.
/close

[2020-07-09 02:35] #20198 closed

[2020-07-09 02:52] #22363 closed

[2020-07-09 06:28] bluefriday opened #22435 "Translate tasks/administer-cluster/declare-network-policy/ into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/administer-cluster/declare-network-policy/ into Korean.

**Why is this needed**

There is no documents with tasks/administer-cluster/declare-network-policy/ into Korean .

**Comments**

https://kubernetes.io/docs/tasks/administer-cluster/declare-network-policy/

[2020-07-09 06:28] bluefriday commented on #22435
/language ko
/assign

[2020-07-09 09:16] rajvaibhavdubey commented on #22385
/assign @rajvaibhavdubey

[2020-07-09 09:47] tengqm commented on #18522
should be safe to close.
/close

[2020-07-09 09:48] #18522 closed

[2020-07-09 09:49] tengqm commented on #19395
No longer an issue. Not sure if it was fixed by the theme switch or some PRs though.
/close

[2020-07-09 09:49] #19395 closed

[2020-07-09 09:50] tengqm commented on #19057
No response from the reporter for over 90 days. Feel free to reopen if the issue persists.
/close

[2020-07-09 09:50] #19057 closed

[2020-07-09 10:24] raelga commented on #22168
Solved by #22175

[2020-07-09 10:24] #22168 closed

[2020-07-09 13:10] Kartik494 commented on #22356
Hi @riyafa could you let me know how these commands is not reflecting the expected behaviour against latest version

[2020-07-09 14:16] #18978 closed

[2020-07-09 16:06] riyafa commented on #22356
In the section under events for the result of `kubectl describe pod nginx-deployment-1006230814-6winp` command does not have a section called `SubobjectPath`. It has the sections `Type`, `Reason`, `Age`, `From` and `Message` respectively in order

[2020-07-09 17:16] nishipy commented on #21007
/assign

[2020-07-09 18:18] #22221 closed

[2020-07-09 18:20] #22276 closed

[2020-07-09 20:46] sftim commented on #22418
/kind bug
/language de

[2020-07-09 20:46] sftim commented on #22418
/priority backlog

[2020-07-09 21:08] sftim commented on #22413
This seems valid
/language en
/priority backlog
/sig scheduling

[2020-07-10 03:46] sftim commented on #20293
My new thinking on this: store the release data as JSON and use that to create [data-driven content](https://gohugo.io/templates/data-templates/#data-driven-content)

Options for the origin of that JSON:
- it's already available raw from GitHub's API
- semi-manually put it in a release-metadata repo, fetch it from GitHub
- semi-manually sync it into the website repo, and commit it

[2020-07-10 03:47] sftim commented on #20293
We can start with local JSON but if we're going data-driven it might be good to sketch out what structure we want those data to have.

[2020-07-10 03:51] knappe opened #22448 "Issue with k8s.io/docs/concepts/overview/ tooltips"
**This is a Bug Report**

**Problem:**
The z-index on the `tooltip-text` class is too small and doesn't not overlay things like the left navigation bar (screenshot attached)
![Annotation 2020-07-09 215017](https://user-images.githubusercontent.com/138048/87114599-3c0d2500-c22e-11ea-99e2-c41502b61c3f.png)

**Proposed Solution:**
The z-index on the `tooltip-text` class needs to be bumped to 10.
![z-

[2020-07-10 04:16] luckyvs1 commented on #22040
@sabazubair are you still planning to work on this issue?

[2020-07-10 04:32] sabazubair commented on #22040
@luckyvs1 Hey Lucky! I completed this issue and I am waiting for it to be reviewed.

[2020-07-10 05:05] liushenf opened #22451 "Issue with k8s.io/docs/tutorials/stateless-application/guestbook/"
**This is a Bug Report**

**Problem:**
In https://kubernetes.io/docs/tutorials/stateless-application/guestbook/#creating-the-redis-slave-deployment , the image gcr.io/google_samples/gb-redisslave no longer exist. Applying redis-slave-deployment.yaml will get ErrImagePull.

**Proposed Solution:**
Please update with new redis-slave image location, or a new sample.
Thanks!

**Page to Update:**
https:

[2020-07-10 05:26] gochist opened #22453 "Outdated files in dev-1.18-ko.8"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.18-ko.8 branch.

### 45 files to be modified
1. [ ] content/en/docs/concepts/_index.md 1 file changed, 58 deletions(-)
1. [ ] content/en/docs/concepts/architecture/_index.md 1 file changed, 2 insertions(+)
1. [ ] content/en/docs/concepts/cluster-administration/_index.md 1 file changed, 71 insertions(+), 1 deletion(-)
1. [ ] con

[2020-07-10 05:43] luckyvs1 commented on #22093
Can this issue be closed? The fix was merged in.

[2020-07-10 05:43] luckyvs1 commented on #22092
Can this issue be closed? The fix was merged in.

[2020-07-10 06:03] pjhwa commented on #22453
/assign @pjhwa

[2020-07-10 06:56] irvifa commented on #18403
@tengqm would you like to help us for this issue? I was wondering what else needed besides the config itself.

[2020-07-10 07:30] tengqm commented on #18403
@irvifa Please check PR #19526 for the proposed changes.

[2020-07-10 07:53] luckyvs1 commented on #22040
@sabazubair you closed your PR so it won't be able to be reviewed you probably need to reopen it https://github.com/kubernetes/website/pull/22311 so someone can review it

[2020-07-10 09:52] sftim commented on #18403
My #1 favorite approach would be for a localization team to write something like:
[code]

and for the generated HTML to link to https://kubernetes.io/zh/docs/concepts/architecture/controller/ (or whatever language code is appropriate.

If Hugo can't yet do this, it might even be feasible to look into tweaking Hugo itself.

[2020-07-10 09:52] sftim commented on #18403
/reopen

Oops. Misclick.

[2020-07-10 13:15] oke-py opened #22459 "Translate glossary/image into Japanese"
**This is a Feature Request**

**What would you like to be added**
Translate glossary/image into Japanese.

**Why is this needed**
This glossary has not been translated.

**Comments**
/language ja
/assign

[2020-07-10 14:20] fabriziopandini commented on #20957
/close

[2020-07-10 14:20] #20957 closed

[2020-07-10 14:35] sftim commented on #20955
/remove-priority important-soon
/priority important-longterm

[2020-07-10 14:35] sftim commented on #20956
/remove-priority important-soon
/priority important-longterm

[2020-07-10 14:35] sftim commented on #20957
/remove-priority important-soon

[2020-07-10 14:36] sftim commented on #20958
/remove-priority important-soon
/priority important-longterm

The page has moved to https://kubernetes.io/docs/concepts/containers/ BTW

[2020-07-10 14:36] sftim commented on #20959
/remove-priority important-soon
/priority important-longterm

[2020-07-10 14:36] sftim commented on #20961
/remove-priority important-soon
/priority important-longterm

[2020-07-10 14:36] sftim commented on #20962
/remove-priority important-soon
/priority important-longterm

[2020-07-10 14:39] sftim commented on #22416
It sounds like the documentation is accurate about what Kubernetes requires, but not explicit that this is different from the DNS standard. Does that sound right?

/sig api-machinery

[2020-07-10 14:39] sftim commented on #22416
/language en

[2020-07-10 15:20] sabazubair commented on #22040
Oh! Oops. Thanks for letting me know. I'll reopen it now.

[2020-07-10 16:20] rrajaram commented on #22416
Understood Tim & Muhammad, since it referred the RFC I was confused as a newbie if the k8s documentation is accurate or not. I wish it was more explicit.

[2020-07-10 18:08] celestehorgan opened #22462 "Create new page Participating in SIG Docs > Release coordination"
Umbrella issue: https://github.com/kubernetes/website/issues/21687

Take content from Advanced > Coordinate docs for a k8s release and create a new page,  Participating in SIG Docs > Release coordination

[2020-07-10 18:08] celestehorgan commented on #22462
/kind cleanup
/assign

[2020-07-10 18:09] celestehorgan commented on #22093
/close

[2020-07-10 18:09] #22093 closed

[2020-07-10 18:09] celestehorgan commented on #22092
/close

[2020-07-10 18:09] #22092 closed

[2020-07-10 18:48] kbhawkey commented on #22308
/close

[2020-07-10 18:48] #22308 closed

[2020-07-10 20:11] dannyburke1 opened #22464 "Add kubeswitch to the kubectl installation page"
**This is a Feature Request**

**What would you like to be added**
Add an optional description for https://github.com/steamhaus/kubeswitch to be added to the kubectl install page. This works on OSX and Linux.

**Why is this needed**
Easy to use tool for users to help speed up the install process and also helps swap versions easily for developers.

**Comments**
Happy to answer any questions if ther

[2020-07-10 20:13] kbhawkey commented on #22045
/assign

[2020-07-10 20:25] SebStrug opened #22465 "Contradicting kubectl apply documentation"
**Contradicting kubectl apply documentation**

**Problem:**
The kubectl `apply` documentation here:
https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#apply

Says that the `-k` flag should be used for a directory.

However the documentation here for the kubectl overview:
https://kubernetes.io/docs/concepts/configuration/overview/#using-kubectl

Suggests using the `-f` flag for

[2020-07-10 22:09] #18982 closed

[2020-07-11 03:39] irvifa commented on #22296
I'm taking `/docs/tasks/run-application/run-stateless-application-deployment/`

[2020-07-11 05:03] tengqm commented on #19545
#19198 has resolved this issue, though #19622 wasn't merged.
Please feel free to open if this is still an issue.
/close

[2020-07-11 05:03] #19545 closed

[2020-07-11 05:16] #19085 closed

[2020-07-11 06:04] tengqm commented on #19076
/remove-lifecycle rotten

[2020-07-11 06:05] tengqm commented on #19076
still an unresolved issue.
/reopen

[2020-07-11 06:08] tengqm commented on #19558
Fixed.
/close

[2020-07-11 06:08] #19558 closed

[2020-07-11 06:38] tengqm commented on #22451
It is still there ...  https://console.cloud.google.com/gcr/images/google-samples/GLOBAL/gb-redisslave?gcrImageListsize=30
If you cannot access it, it may mean you have some networking issues connecting to gcr.io.
Please feel free to reopen if it is still problem.
/close

[2020-07-11 06:39] #22451 closed

[2020-07-11 07:35] tengqm commented on #19668
The problem with changed location of CHANGELOG is tracked in a different issue.
The case with 1.15 is about a version we won't fix unless it is about a significant bug that prevents Kubernetes from functioning properly.
/close

[2020-07-11 07:35] #19668 closed

[2020-07-11 07:38] tengqm commented on #18984
There have been no further complaints about the katacoda.
I'm closing this now, but pls feel free to reopen if the problem persists.
/close

[2020-07-11 07:38] #18984 closed

[2020-07-11 08:30] zhumo27 opened #22471 "Issue with k8s.io/docs/home/. cannont search"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-07-11 09:47] Arhell commented on #22448
duplicate #22398

[2020-07-11 15:22] tmrekk121 commented on #22388
/assign

[2020-07-11 17:08] sftim commented on #22462
/priority important-longterm
/sig release

[2020-07-11 17:11] sftim commented on #22465
@SebStrug I recommend filing this issue against `kubectl` to clarify that `-f` can take a file, a manifest URL, or a local directory containing manifests. That change will cascade into the page at https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#apply

You can file that report using https://github.com/kubernetes/kubectl/issues/new?labels=kind%2Fbug&template=bug-report.md and

[2020-07-11 17:14] sftim commented on #22471
Hi @zhumo27

When you try to search, what happens? Can you describe what you searched for, what you expected to see, and the actual outcome? Please consider including a screen grab.

/triage needs-information

[2020-07-11 17:15] sftim commented on #22448
@knappe as this is a duplicate report, are you willing to close it and track the defect in #22398?

[2020-07-11 17:22] sftim commented on #22016
/priority important-longterm

[2020-07-11 18:46] knappe commented on #22448
@sftim Yeah, not a problem!  I'll go ahead and close this.

[2020-07-11 18:46] #22448 closed

[2020-07-11 21:30] zhumo27 commented on #22471
when I search in kubernetes.io/doc,the page show nothing,can you help me?

Best Regards！

在 2020年7月12日，01:14，Tim Bannister <notifications@github.com> 写道：

﻿

Hi @zhumo27<https://nam04.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fzhumo27&data=02%7C01%7Cmoz%40vmware.com%7C39ebbddf43824a87ca8208d825bde038%7Cb39138ca3cee4b4aa4d6cd83d9dd62f0%7C0%7C1%7C637300844733769188&sdata=9kNPLs

[2020-07-12 09:44] #19061 closed

[2020-07-12 21:06] sftim commented on #22464
@dannyburke1 this issue seems to suggest making changes contrary to the [content guide](https://kubernetes.io/docs/contribute/style/content-guide/). We wouldn't accept a change that wasn't allowed by those guidelines.

If you feel I've miscategorised this, please clarify (without that clarification, a reviewer / maintainer may close this issue as invalid and triage it unresolved).

[2020-07-12 21:13] sftim commented on #20666
/priority backlog

[2020-07-12 21:13] sftim commented on #20665
/priority important-longterm

[2020-07-12 21:20] graywolf opened #22483 "Consider adding a banner denouncing cultural genocide of Uyghurs"
**This is a Feature Request**

**What would you like to be added**

Recently, kubernetes have added banner stating that racism is unacceptable and it goes against core values of kubernetes project. While that is commendable, there is lot more bad things happening in the world these days, So in similar spirit, I would like to suggest also adding banner about denouncing cultural genocide of Uyghurs

[2020-07-12 21:58] celestehorgan commented on #22483
/close

[2020-07-12 21:58] #22483 closed

[2020-07-12 22:06] a7i commented on #20666
/assign

[2020-07-12 22:11] dannyburke1 commented on #22464
Hey Tim, no problem at all. Apologises for raising this incorrectly.

Cheers

[2020-07-12 23:03] graywolf commented on #22483
I must admit I do not understand the close. Are you saying that as long as the bad things are not happening to USA citizens you do not care?

[2020-07-13 08:31] sftim commented on #20239
/close

Addressed in #20515

[2020-07-13 08:31] #20239 closed

[2020-07-13 10:03] sftim commented on #22464
/triage unresolved
/close

[2020-07-13 10:03] #22464 closed

[2020-07-13 12:54] oke-py opened #22487 "Incorrectly formatted note in “Installing Kubernetes with Minikube”"
**This is a Bug Report**

**Problem:**

Code blocks in notes cannot be rendered correctly with Docsy template.

v1.17 (an old template) works fine.
https://v1-17.docs.kubernetes.io/docs/setup/learning-environment/minikube/#starting-a-cluster
![v1 17](https://user-images.githubusercontent.com/4710215/87306517-16945a00-c553-11ea-9544-bf8fa939e077.png)

v1.18 (a new template) doesn't work fine.
![v1

[2020-07-13 14:15] sftim opened #22488 "Incorrect advice about note shortcode"
**This is a Bug Report**

**Problem:**
The advice on a note shortcode says you can use Markdown inside shortcodes.
I think this isn't quite right; instead of:
[code]
the advice should be:
[code]

**Proposed Solution:**
1. Verify that the note shortcode works as I suggest, possibly as part of:
2. Revise the existing page to explain how to use Markdown inside note and other shortcodes for callouts.

[2020-07-13 14:15] sftim commented on #22488
/help

[2020-07-13 14:49] irvifa opened #22489 "Perform Automated Link Checking Periodically"
**This is a Feature Request**

In order to provide more up to date link checking, it'll be helpful if we can do automated link checking periodically so whenever we found outdated/dead links we can fixed it immediately.

**What would you like to be added**

To be able to support this, since we already have this [Makefile](https://github.com/kubernetes/website/blob/71d08b0932743497e9c1b5e3872a9e111d

[2020-07-13 14:51] irvifa commented on #22489
/priority important-longterm

[2020-07-13 14:52] irvifa commented on #22489
/cc @kubernetes/sig-testing
I included sig-testing here since we will need advice on how to perform periodic test.

[2020-07-13 14:52] irvifa commented on #22489
/cc @kubernetes/sig-docs-en-owners

[2020-07-13 15:15] BenTheElder commented on #22489
https://github.com/kubernetes/test-infra/tree/master/prow#getting-started
`periodic` job type runs periodically.

[2020-07-13 15:19] ariscahyadi commented on #22296
I will take this `/docs/tasks/access-application-cluster/list-all-running-container-images/`

[2020-07-13 15:53] irvifa commented on #22489
Thanks @BenTheElder anyway @sftim and @onlydole I’ve checked the periodic jobs on prow https://github.com/kubernetes/test-infra/blob/master/prow/jobs.md however I’m not sure about how often we would like to perform it.

[2020-07-13 16:05] sftim commented on #22489
How about once a week for a proof-of-concept, then the next step would be test every incoming PR (but don't block merges), then we aim to make sure the main branch always passes so we can turn on enforcement for PRs.

?

[2020-07-13 16:59] ZhiFeng1993 commented on #22096
/close

[2020-07-13 16:59] ZhiFeng1993 commented on #22096
Code merged. We can close this issue.

[2020-07-13 17:07] ZhiFeng1993 commented on #22488
/assign

[2020-07-13 17:17] #22096 closed

[2020-07-13 17:18] celestehorgan commented on #22094
@Pihu1998 are you still planning to work on this?

[2020-07-13 17:21] morrme commented on #22094
I am happy to submit this change today if the other person has abandoned it :)

[2020-07-13 18:07] sftim commented on #22489
I think it's (just) fair to label this
/sig testing

[2020-07-13 18:09] sftim commented on #22487
/kind bug

/retitle Incorrectly formatted note in “Installing Kubernetes with Minikube”
(hope that's OK)

[2020-07-13 18:11] cmluciano commented on #12322
Fixed by #22034

/close

[2020-07-13 18:12] #12322 closed

[2020-07-13 18:19] sftim commented on #22487
/priority important-longterm

[2020-07-13 18:48] bells17 commented on #21813
/lifecycle frozen

[2020-07-13 19:17] #18248 closed

[2020-07-13 19:22] SebStrug commented on #22465
Thank you @sftim
I have filed the issue here: https://github.com/kubernetes/kubectl/issues/896 , and will close issue.

[2020-07-13 19:22] #22465 closed

[2020-07-13 19:31] brianpursley opened #22496 "Broken link on DNS Custom Nameservers documentation page"
**This is a Bug Report**

**Problem:**
On page https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/
`Debugging DNS Resolution` is 404:
https://kubernetes.io/docs/tasks/debug-application-cluster/dns-debugging-resolution/

**Proposed Solution:**
Find correct link and update the url

**Page to Update:**
https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/

[2020-07-13 19:39] brianpursley opened #22497 "Current page is lost when switching between documentation versions"
**This is a Bug Report**

**Problem:**
Current page is lost when switching between documentation versions.

Steps to reproduce
1. Go to some page in the docs, for example [Install Kubectl](https://kubernetes.io/docs/tasks/tools/install-kubectl/)
2. Use the version selector at the top of the page to change to 1.17.
3. Notice that it it sends me to the [docs home](https://v1-17.docs.kubernetes.io/)

[2020-07-13 20:00] brianpursley commented on #22496
Seems it should be this...
https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/

I'll update it and submit a PR
/assign

[2020-07-13 20:25] #22496 closed

[2020-07-13 20:31] Arhell opened #22499 "glossary link show word on hover"
**This is a Bug Report**

**Problem:**
![1](https://user-images.githubusercontent.com/26163841/87350616-cf14ca80-c560-11ea-8235-b66c523775c4.jpg)

**Proposed Solution:**
some css upfate

**Page to Update:**
https://kubernetes.io/docs/reference/glossary/?architecture=true

/assign
/kind bug
/language en

[2020-07-13 21:34] kbhawkey commented on #22045
I investigated the possible removal of `static/js/search.js` and associated files in the site.
There are similar files provided by the Docsy theme, but the site makes use of a custom `k8s search`.
I found that these files work together to create the site search as follows:
`assets/js/search.js` -> `layouts/docs/search.html` -> `static/js/search.js` (custom k8s search)

[2020-07-13 22:07] zacharysarah commented on #21563
Raised visibility in [#sig-api-machinery](https://kubernetes.slack.com/archives/C0EG7JC6T/p1594364677058700)

[2020-07-13 22:19] irvifa commented on #22489
@sftim Noted then, thank you.

[2020-07-14 00:00] Arhell commented on #22499
/close

[2020-07-14 00:00] #22499 closed

[2020-07-14 01:25] kbhawkey commented on #22497
Yes, at some point the site kept the same page when switching between versions.

[2020-07-14 03:07] celestehorgan commented on #22045
Perfect! Thanks for reporting back, @kbhawkey!

[2020-07-14 03:07] #22045 closed

[2020-07-14 05:20] aiarchitect opened #22503 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
**This is a Bug Report**

**Problem:**
step 3 of 3: command to open a terminal and start the proxy does not work correctly. New terminal opens successfully, but proxy does not start.

**Proposed Solution:**
Separate the command to start proxy from the command to open new terminal. Or ensure that starting proxy works correctly.

**Page to Update:**
https://kubernetes.io/...

[2020-07-14 08:30] pohly opened #22505 "content/en/docs/concepts/storage/volumes.md: out-dated introduction"
**This is a Bug Report**

**Problem:**

The "background" sections describes volumes as if they all were ephemeral:

It also starts with a comparison against Docker, which may or may not still make sense.

**Proposed Solution:**

Rewrite and link to the persistent-volumes.md and (once https://github.com/kubernetes/website/pull/22438 is merged) to ephemeral-volumes.md.

**Page to Update:**
https://k

[2020-07-14 08:46] sftim commented on #22487
Fixed in #22495
/close

[2020-07-14 08:46] #22487 closed

[2020-07-14 08:46] sftim commented on #22488
Superseded by fixes in PR #22495
/close

[2020-07-14 08:46] #22488 closed

[2020-07-14 09:04] pohly opened #22506 "document volume topology"
**This is a Feature Request**

**What would you like to be added**

Volumes may be available only in some subset of the cluster (topology segments). The Pod scheduler or more precisely, the volume binder plugin for the scheduler, consider this when choosing nodes. This doesn't seem to be documented at the moment.

**Why is this needed**

https://kubernetes.io/docs/concepts/storage/storage-classes/

[2020-07-14 09:27] sftim commented on #22506
/sig scheduling
/sig storage

[2020-07-14 09:28] sftim commented on #22506
/priority backlog

[2020-07-14 10:13] hiyokotaisa commented on #22374
/assign

[2020-07-14 10:24] hiyokotaisa commented on #22370
/assign

[2020-07-14 10:42] hiyokotaisa commented on #22369
/assign

[2020-07-14 10:51] inductor commented on #22328
/close

[2020-07-14 10:51] inductor commented on #22386
/close

[2020-07-14 10:51] #22328 closed

[2020-07-14 10:51] #22386 closed

[2020-07-14 11:06] 532910 commented on #18697
Is any update there?

[2020-07-14 11:10] hiyokotaisa commented on #22364
/assign

[2020-07-14 12:07] inductor commented on #22370
/close

[2020-07-14 12:07] #22370 closed

[2020-07-14 15:52] wedud6 opened #22513 "space"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2020-07-14 15:52] #22513 closed

[2020-07-14 16:01] sftim commented on #22505
/sig storage
/priority backlog

I definitely agree about the Docker stuff - there's no need to focus on a particular runtime, nor on Docker as a local development tool.

[2020-07-14 16:04] sftim commented on #22497
/kind bug
/priority backlog

(I think this is a low-priority-backlog sort of issue; it's a frustration, but we have other places where it makes sense to focus effort first).

[2020-07-14 16:45] celestehorgan commented on #22094
/unassign @Pihu1998

/assign @morrme

All yours, @morrme!

[2020-07-14 16:53] celestehorgan commented on #22044
Closed by the above PRs.

[2020-07-14 16:53] #22044 closed

[2020-07-14 17:00] #22090 closed

[2020-07-14 17:44] njeans opened #22514 "Issue with k8s.io/docs/tasks/extend-kubernetes/configure-multiple-schedulers/"
**This is a Bug Report**

**Problem:**
I am not able to use multiple schedulers at the same time following these instructions

**Proposed Solution:**

**Page to Update:**
k8s.io/docs/tasks/extend-kubernetes/configure-multiple-schedulers/

1.18.5

- With `--leader-elect=false` the new scheduler was working
- I set `--leader-elect=true`, `--lock-object-namespace=kube-system`, `--lock-object-name=loc

[2020-07-14 18:12] jimangel opened #22515 "Investigate building a docker container officially vs. local make instructions."
**This is a Feature Request**

With the adoption of the theme Docsy, running Hugo locally has been known to cause bugs. The most common bug is a "too many open files" error.

To remediate these challenges, SIG Docs is updating the `README.md` and k/website contributor guides on how to use a Docker container for testing website changes.

Today, the plan involves describing how to run a `make` file

[2020-07-14 21:05] sftim commented on #22515
/priority important-longterm
/kind feature

[2020-07-14 21:07] sftim commented on #22515
The [`Dockerfile`](https://github.com/kubernetes/website/blob/master/Dockerfile) already exists, and has had at least informal testing with both Docker and Podman.

[2020-07-14 21:07] sftim commented on #22515
https://docs.github.com/en/actions/creating-actions/creating-a-docker-container-action ?

[2020-07-14 21:08] sftim commented on #22515
The tricky bit, I think, is authorizing the image push to the official repository.

[2020-07-14 21:52] sjmudd opened #22519 "Issue with k8s.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/"
**This is a Bug Report**

Please upgrade MySQL images to 8.0 from 5.6.

**Problem:**

MySQL image provided is VERY old, suggesting using MySQL 5.6.

**Proposed Solution:**

Please consider upgrading to use the 8.0 images provided by Oracle/MySQL.

**Page to Update:**

https://kubernetes.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/

The MySQL recipe is likely to work wi

[2020-07-14 21:55] sjmudd commented on #22519
- MySQL 5.6 was announced GA (production ready) in 2013.
- MySQL 5.7 was announced GA in 2015.
- MySQL 8.0 (latest production release) was announced GA in 2018.

[2020-07-14 21:59] sjmudd commented on #22519
See: https://hub.docker.com/_/mysql for current / latest MySQL images for 5.6 / 5.7 / 8.0.

[2020-07-14 22:37] sftim commented on #4514
I didn't realise how hard https://kubernetes.io/docs/concepts/storage/volumes/ is to understand.

/remove-priority backlog
/priority important-longterm

[2020-07-14 22:41] sftim opened #22521 "Migration task steps woven into volume concept page"
**This is a Bug Report**

**Problem:**
[Volumes](https://kubernetes.io/docs/concepts/storage/volumes/) is _supposed_ to be a page that explains the concept of volumes in Kubernetes, perhaps as a primer before introducing PersistentVolume and PersistentVolumeClaim in the API.

However, the Volumes concept also includes details, per storage driver, of how to migrate it to CSI _and_ how to operate on

[2020-07-15 00:45] celestehorgan commented on #20428
/retitle Add area/web-development label

[2020-07-15 01:19] kbhawkey commented on #22515
I don't know under what circumstances there are too many open files. I guess I missed the details and explanation.
To recap, the reason for creating this issue is to investigate creating a "standard" build image, containing the accepted
version of Hugo, Linux, and related libraries? Also, contributors can skip the container image build step?
Contributors can always download a version of Hugo to te

[2020-07-15 02:11] #21729 closed

[2020-07-15 02:11] #21848 closed

[2020-07-15 02:11] #22239 closed

[2020-07-15 03:36] onlydole commented on #22515
I do like the base image direction to make this easier, and +1 on @kbhawkey's question around impacts for Docker and Podman (how would we want to set that up for success?)

[2020-07-15 08:19] bluefriday opened #22527 "Translate tasks/administer-cluster/change-pv-reclaim-policy/ into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tasks/administer-cluster/change-pv-reclaim-policy/ into Korean.

**Why is this needed**

There is no documents with tasks/administer-cluster/change-pv-reclaim-policy/ into Korean .

**Comments**

https://kubernetes.io/docs/tasks/administer-cluster/change-pv-reclaim-policy/

[2020-07-15 08:19] bluefriday commented on #22527
/language ko
/assign

[2020-07-15 09:09] sftim commented on #22515
If you have a container image that you build locally and that works, building the same thing in CI and then fetching that from a container registry is very likely to also work fine when you use it on your PC.

[2020-07-15 12:38] adambkaplan commented on #22515
Using `CONTAINER_ENGINE` as an arg in the Makefile is pretty common. Defaulting to `docker` is the safest choice - so many `podman` users alias `docker` that there is now a `podman-docker` RPM to do it for you.

I can't speak for other container engines - perhaps we need a note that the CONTAINER_ENGINE must implement the `pull`, `build`, and `run` command line interfaces?

[2020-07-15 12:42] kbhawkey commented on #22515
I don't have a problem with the current container targets in the Makefile. If an image is provided, I will use it.
I do most of my build/test on Linux (found Hugo runs best there) and split between building the site from the cmd line, and building/running the site in a container. I noticed that my local builds started to slow down around the time of the parser upgrade. And more so now with the add

[2020-07-15 13:45] alculquicondor opened #22530 "Update Resource Bin Packing docs to use Scheduling Profiles"
**This is a Feature Request**

https://kubernetes.io/docs/concepts/configuration/resource-bin-packing/ should be migrated to use Scheduling Profiles https://kubernetes.io/docs/reference/scheduling/config/#profiles

**Why is this needed**

With Profiles graduating to beta in 1.19, there is no motivation to continue to promote the usage of Policies.

/sig scheduling
/help

[2020-07-15 13:46] alculquicondor commented on #22530
Docs freeze is Thursday July 16th

[2020-07-15 14:14] linjmeyer opened #22531 "Docs are not clear if QoS classes impact resource utilization priority or only scheduling/eviction"
**This is a Bug Report**

**Problem:**
The Quality of Service (QoS) docs describe that QoS classes impact scheduling and eviction, but it is not clear if QoS also impacts resource utilization priority.  In other technologies Quality of Service does impact priority of resource usage, for example if a network router is low on bandwidth it will give priority to packets in the higher QoS class.  This