[2021-07-01 03:16] bhumijgupta commented on #28724
Since kubectl-convert is a separate binary, should reference of the command from [kubectl overview](https://kubernetes.io/docs/reference/kubectl/overview/) page also be removed?

[2021-07-01 04:55] edoardo-c opened #28728 "Suggestion for https://k8s.io/docs/concepts/storage/volume-snapshot-classes/"
The is a typo in the Deletion Policy section

"It enables you to configure what happens to a VolumeSnapshotContent when the VolumeSnapshot object it is bound to is to be deleted."

[2021-07-01 05:16] rajeshdeshpande02 commented on #28728
@edoardo-c Can you please provide the issue description?

[2021-07-01 05:37] #28642 closed

[2021-07-01 06:08] seokho-son commented on #28594
/triage accepted

[2021-07-01 06:08] seokho-son commented on #28727
/triage accepted

[2021-07-01 06:41] Kartik494 commented on #27937
/assign

[2021-07-01 08:10] amoghrajesh commented on #26810
Add /close

[2021-07-01 08:10] #26810 closed

[2021-07-01 11:29] aaabdallah opened #28735 "kube-apiserver Audit Configuration (v1)"
Under the section for PolicyRule, the following is written:

That seems a bit confusing, or at least could be written better. The word "rules" on this page is more or less taken by the rules found in a Policy, where the first matching rule for a request is used.

The intent of the author who wrote this is reasonably clear, but it seems there is a better choice of words here.

[2021-07-01 11:38] sftim commented on #28724
/help

I'm willing to revise this issue description if it's not clear how to make these changes.

[2021-07-01 11:38] sftim commented on #28724
/triage accepted

[2021-07-01 11:38] sftim commented on #28724
@bhumijgupta what you're asking sounds like a separate issue.

[2021-07-01 12:01] bhumijgupta commented on #28724
@sftim I would like to work on this issue. From what I understand, a new command to download `kubectl-convert` has to be added under the first point titled `Download the latest release` for all the three operating systems something like this.
[code]

Does verifying checksum step also have to added for kubectl-convert?

[2021-07-01 12:06] jai commented on #20134
/reopen

[2021-07-01 12:28] sftim commented on #20134
/reopen
/remove-lifecycle rotten

[2021-07-01 12:41] sftim commented on #28735
I think this issue report is about the page at https://kubernetes.io/docs/reference/config-api/apiserver-audit.v1/

[2021-07-01 12:41] sftim commented on #28728
/triage needs-information
/language en

[2021-07-01 12:43] sftim commented on #28673
Hi @Jean-Daniel

Was there a page on the website that you felt was not correct?
/triage needs-information

[2021-07-01 12:45] sftim commented on #28724
Yes, we should let readers know how to check that the software they download is genuine.

[2021-07-01 12:45] sftim commented on #28724
We should also briefly explain what `kubectl convert` does (a hyperlink is OK)

[2021-07-01 12:45] sftim commented on #28649
Hi @sahsz123

Thanks for the suggestion. Could you outline why that improvement would be helpful? That'll help us decide on how soon we should start work on it.

/priority awaiting-more-evidence
/language en

[2021-07-01 12:50] edoardo-c commented on #28728
The is a typo in the `Deletion Policy` section

"It enables you to configure what happens to a VolumeSnapshotContent when the VolumeSnapshot object it is bound to is to be deleted."

[2021-07-01 14:11] bhumijgupta commented on #28724
/assign

[2021-07-01 16:19] aaabdallah commented on #28735
Correct, I apologize I did not include the link in my original comment.

[2021-07-01 18:56] behradeslamifar opened #28741 "Wrong data docs/reference/access-authn-authz/rbac.md"
**This is a Bug Report**

**Problem:**
in "Rolebinding examples" wrong example exist:
For all service accounts in the "dev" group in the "development" namespace:
[code]

Service account cant be in dev group and created in development namespace at the same time.

**Proposed Solution:**
Remove example

**Page to Update:**
https://kubernetes.io/docs/reference/access-authn-authz/rbac/

[2021-07-01 19:43] BenTheElder commented on #22489
sorry I missed this, yes it's `extra_refs`. https://github.com/kubernetes/test-infra/blob/master/prow/pod-utilities.md

lots of jobs clone a repo using this if they're not a pre or post submit

[2021-07-01 20:22] bochulindra opened #28742 "kubectl reference docs don't provide any info about the --namespace flag"
**This is a Bug Report**

**Problem:**

The kubectl reference docs at https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands don't provide any information about the --namespace flag.

**Proposed Solution:**

Include --namespace in the Flags sections for commands that take that flag.

**Page to Update:**

https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands

[2021-07-01 20:30] Jean-Daniel commented on #28673
I don't remember opening this issue. Probably a click on the wrong link. Sorry for the noise.

[2021-07-01 20:30] #28673 closed

[2021-07-02 00:53] jihoon-seo commented on #28594
This issue was resolved by the PR #28598.

[2021-07-02 00:53] #28594 closed

[2021-07-02 01:04] seokho-son commented on #28473
137개 task 처리 모두 확인하였습니다. 감사합니다~~~ @jihoon-seo @ClaudiaJKang

[2021-07-02 01:08] jihoon-seo commented on #28590
This issue was resolved by the PR #28618.

[2021-07-02 01:08] #28590 closed

[2021-07-02 01:09] jihoon-seo commented on #28422
This issue was resolved by the PR #28479.

[2021-07-02 01:09] #28422 closed

[2021-07-02 01:14] jihoon-seo commented on #28473
This issue was resolved by the PR #28739 and so many other PRs.
/close

[2021-07-02 01:14] #28473 closed

[2021-07-02 01:20] seokho-son commented on #28472
/close

[2021-07-02 01:20] #28472 closed

[2021-07-02 01:21] ClaudiaJKang opened #28744 "Korean Localization for dev-1.21-ko.6 branch"
## In English

**This is a Feature Request**

Korean Localization for `dev-1.21-ko.6` branch.

**What would you like to be added**

Any localization contributions for Korean.

**Comments**

- This issue is to notify the schedule of Korean localization to contributors.
- `dev-1.21-ko.6` is the current work branch for Korean localization.

**Important dates**
- A Korean localization work branch is m

[2021-07-02 01:21] ClaudiaJKang commented on #28744
/triage accepted

[2021-07-02 01:44] seokho-son commented on #28744
/milestone dev-1.21-ko.6

[2021-07-02 01:48] seokho-son opened #28746 "Outdated Korean contents in the dev-1.21-ko.6 branch"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.21-ko.6 branch.
Report from the `./scripts/diff_l10n_branches.py ko upstream/dev-1.21-ko.5 upstream/dev-1.21-ko.6`.

### 26 files to be modified
1. [x] M1.  `content/en/_index.html`  | 1(+XS) 1(-)
1. [x] M2.  `content/en/docs/concepts/architecture/nodes.md`  | 16(+S) 1(-)
1. [x] M3.  `content/en/docs/concepts/cluster-administra

[2021-07-02 01:49] seokho-son commented on #28746
/triage accepted
/language ko
/help

[2021-07-02 01:59] Padarn opened #28747 "TopologyManager documentation possible mistakes"
**This is a Bug Report**

This is trivial and perhaps incorrect on my behalf, but some of the working on the documentation here https://kubernetes.io/blog/2020/04/01/kubernetes-1-18-feature-topoloy-manager-beta/ seems a bit odd.

Firstly, we have the example of `TopologyHInts`:

[code]

Along with the statement

[code]

These seem to contradict each other.

In the following section we also have th

[2021-07-02 02:18] jihoon-seo commented on #28592
/assign

[2021-07-02 05:38] jihoon-seo commented on #28592
This issue was resolved by the PR #28749.

[2021-07-02 05:38] #28592 closed

[2021-07-02 07:15] harridu opened #28759 "Improvement for k8s.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/"
"merging" implies creating something new, but actually kubectl config and KUBECONFIG don't merge anything. This is misleading.

[2021-07-02 10:49] niteshseram commented on #28746
Can I work on this?

[2021-07-02 10:50] oke-py commented on #28541
/close

[2021-07-02 10:51] #28541 closed

[2021-07-02 11:00] oke-py opened #28760 "[ja] replace links to /docs/concepts/containers/container-lifecycle-hooks/ with /ja/docs/..."
**This is a Feature Request**

**What would you like to be added**

replace links to `/docs/concepts/containers/container-lifecycle-hooks/` with `/ja/docs/concepts/containers/container-lifecycle-hooks/`.

**Why is this needed**
`/docs/concepts/containers/container-lifecycle-hooks/` has already been translated into Japanese.

**Comments**

/language ja
/kind cleanup
/assign

lines to update
[code]

[2021-07-02 11:08] oke-py opened #28762 "#hook-details doesn't exist in /docs/concepts/containers/container-lifecycle-hooks/"
**This is a Bug Report**

**Problem:**
In this page, there is a "hook" link.
https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-termination

However, #hook-details doesn't exist in /docs/concepts/containers/container-lifecycle-hooks/.

**Proposed Solution:**
The link would be `/docs/concepts/containers/container-lifecycle-hooks/`.

**Page to Update:**
https://kubernetes.io/docs/

[2021-07-02 11:50] niteshseram commented on #28746
/assign

[2021-07-02 12:38] seokho-son commented on #28746
Hi @nitehseram ,
Whereas this issue for maintaining Korean localization branch, we are welcome contributions! :)
However, this issue requires understanding of Korean language. I hope to check you can handle Korean contents.

[2021-07-02 12:38] #26197 closed

[2021-07-02 13:16] niteshseram commented on #28746
Hello @seokho-son,  I can see there are some files that don't require us to change the things in Korean. Is It okay if I make the PR for those changes only

[2021-07-02 14:00] seokho-son commented on #28746
@niteshseram Sure :) Thank you.
Could you tell me which files can be handled by you?
I will invite and assign additional contiributors who can handle the other files.

[2021-07-02 15:36] niteshseram commented on #28746
@seokho-son I had a look at all the files carefully.
It seems only _index.html file doesn't require changes in Korean and all other files do. So maybe I can only make a PR for the _index.html file.
But feel free to assign to anyone else because I am already struggling to run the website locally on my machine.

[2021-07-02 18:50] BenTheElder opened #28769 "steer support questions towards the forums?"
**This is a Feature Request**

**What would you like to be added**

https://kubernetes.io/community/ points to all the places you can discuss Kubernetes, but I think it's not quite so obvious that at least currently github.com/kubernetes/kubernetes issues are really only used for **bug** tracking and that the forum and perhaps stackoverflow are best.

per @mrbobbytables we should be steering to th

[2021-07-02 19:42] #26325 closed

[2021-07-03 04:17] ariscahyadi opened #28772 "Tracking Indonesian Translation Progress (M7)"
This is tracking issue of our progress from Q2 2021 onwards. In the beginning of this milestone, as per our [metrics](https://app.circleci.com/pipelines/github/jk8s/sig-docs-id/33/workflows/e59d9d32-55b7-49f7-86ad-c818ea562c5f/jobs/61), we have translated 220 pages from 84 contributors (the script from main repo shows 260+ pages), with around 8,000 views per month. In this milestone, we still cont

[2021-07-03 04:19] ariscahyadi commented on #26955
Hi All,

I have opened Q2 2021 tracking issue #28772

[2021-07-03 04:19] #26955 closed

[2021-07-03 04:20] ariscahyadi commented on #28772
/triage accepted

[2021-07-03 06:46] tengqm commented on #28735
Any proposals on fixing this should go to the upstream source code, from which the reference doc is generated.
Source code link: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/apis/audit/v1/types.go#L182-L183

/close

[2021-07-03 06:46] #28735 closed

[2021-07-03 09:10] SudoNova opened #28774 "Deprecated but referenced kubelet flags in k8s.io/docs/concepts/cluster-administration/logging/"
It's mentioned that:

But [here](https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/) we have:

And in the [mentioned reference](https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config-file/) there is another reference to [Kubelet Configuration (v1beta1)
](https://kubernetes.io/docs/reference/config-api/kubelet-config.v1beta1/) which has a brief [LoggingConfigurat

[2021-07-03 09:21] oke-py commented on #28760
/close

[2021-07-03 09:21] #28760 closed

[2021-07-03 20:44] #26313 closed

[2021-07-03 22:14] #28630 closed

[2021-07-03 22:15] sftim commented on #28735
@aaabdallah if you'd like help raising an issue against that upstream source code, ask in #sig-docs on the Kubernetes Slack channel. See https://slack.k8s.io/ if you'd like an (robot issued) invitation.

[2021-07-03 22:19] sftim commented on #26845
/close
I'm assuming this is OK.

[2021-07-03 22:19] #26845 closed

[2021-07-03 22:23] sftim commented on #28774
/sig node

[2021-07-03 22:27] sftim commented on #28769
/priority important-longterm

I'm not sure which SIG covers the experience of people who _aren't_ contributed.

AIUI there isn't an official presence on Stack Overflow _and_ in fact I recall folks suggesting we refer people to [Server Fault](https://serverfault.com/).

[2021-07-03 22:27] sftim commented on #28762
/triage accepted
/sig node
/help

[2021-07-03 22:29] BenTheElder commented on #28769
I think at the very least this affects those that do contribute (misguided issue load?) so I tagged contribex but I otherwise at best uh ... SIG usability? SIG docs?

I think SIG Contributor Experience has also been nominally responsible for the forums and other official communication channels at least.

[2021-07-03 22:29] sftim commented on #25943
Also relevant to #28742

[2021-07-03 22:32] sftim commented on #28759
@harridu can you show an example of code / behaviour that contradicts the documentation you've linked to? Without checking, my gut feeling is that the existing docs are correct.

/priority awaiting-more-evidence

[2021-07-03 22:42] sftim commented on #25944
Relevant to https://github.com/kubernetes/website/issues/24882

[2021-07-03 22:53] sftim commented on #28747
Hi

https://kubernetes.io/blog/2020/04/01/kubernetes-1-18-feature-topoloy-manager-beta/ is actually not part of the documentation, its from a blog article.
/area blog

We typically wouldn't pick up correction a blog about a now-unsupported release. The Kubernetes project maintains release branches for the most recent three minor releases. Currently, that's: v1.19, v1.20, v1.21.

@padarn if you'd l

[2021-07-03 22:54] sftim commented on #27621
I think this is fixed now @zeev512

Please re-open if I've misunderstood.
/close

[2021-07-03 22:54] #27621 closed

[2021-07-03 22:55] sftim commented on #28725
/kind bug
because of the broken hyperlink

Thanks for the suggestion @joestringer
/triage accepted
/priority backlog

[2021-07-03 22:59] sftim commented on #28769
I'm convinced
/sig docs
/sig contributor-experience
/sig usability

and also
/triage accepted

[2021-07-04 01:23] chenxuc commented on #28774
I will update k8s.io/docs/concepts/cluster-administration/logging/ for the correct way to use these option.
/triage accepted
/assign

[2021-07-04 03:04] Padarn commented on #28747
Hi @sftim - Thanks for the clarification. I'll close this issue now, I should have checked that this was the right place for this issue earlier.

[2021-07-04 03:04] #28747 closed

[2021-07-04 03:41] #28513 closed

[2021-07-04 05:29] oke-py opened #28783 "[ja] replace links to /docs/concepts/containers/images/ with /ja/docs/..."
**This is a Feature Request**

**What would you like to be added**

replace links to `/docs/concepts/containers/images/` with `/ja/docs/concepts/containers/images/`.

**Why is this needed**
`/docs/concepts/containers/images/` has already been translated into Japanese.

**Comments**

/language ja
/kind cleanup
/assign

lines to update
[code]
base branch: dev-1.19-ja.2

[2021-07-04 05:51] #26377 closed

[2021-07-04 11:03] sftim opened #28786 "Mention or link to security embargo policy"
**This is a Feature Request**

**What would you like to be added**
Mention the [security embargo policy](https://github.com/kubernetes/security/blob/master/private-distributors-list.md#embargo-policy) within https://k8s.io/releases/, or link to it.

**Why is this needed**
Readers might have an interest in knowing how security fixes are planned and communicated.

**Comments**
/sig release
/sig secu

[2021-07-04 13:07] sftim opened #28787 "ControllerManagerLeaderMigration feature gate is not listed in feature gates page"
**This is a Bug Report**

**Problem:** [Feature Gates](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/) doesn't list ControllerManagerLeaderMigration although there is a [task](https://kubernetes.io/docs/tasks/administer-cluster/controller-manager-leader-migration/) page that mentions it.

**Proposed Solution:**
Update / write the documentation for the feature, inc

[2021-07-04 13:08] sftim commented on #28787
@PI-Victor I think there's a plan to graduate this to beta; if so, we should definitely look at getting it properly documented.

[2021-07-04 13:15] sftim opened #28788 "Document feature gates for kubeadm"
**This is a Feature Request**

**What would you like to be added**
Document all the feature gates for kubeadm

**Why is this needed**
https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/ should be a list of feature gates for at least all in-tree tools. I'm not sure if we count kubeadm as in-tree but it's certainly a core part of Kubernetes in terms of how we document th

[2021-07-04 13:15] sftim commented on #28788
/language en
/kind feature

[2021-07-04 15:51] #26384 closed

[2021-07-04 19:11] neolit123 commented on #28788
commented here:
https://github.com/kubernetes/enhancements/issues/2568#issuecomment-873642653

historically, kubeadm has not been much of a FG user, but once a feature moves to beta we always document it at k8s.io.

if anyone wants to contribute this it must be a new page.
/help

[2021-07-04 19:11] neolit123 commented on #28788
/triage accepted

[2021-07-04 19:41] MadhavJivrajani commented on #24882
Hi @lfrancke 👋🏻 thank you for raising this issue

The relevant discussion for this can be found [here](https://kubernetes.slack.com/archives/C5P3FE08M/p1625351774115600?thread_ts=1625351774.115600&cid=C5P3FE08M).

As @sftim suggested, this issue can be used as a tracking issue to discuss and help carve out tasks that can document these concepts in an authoritative manner.

As mentioned in the slac

[2021-07-05 04:43] seokho-son commented on #28746
M20 - M26 on me :)
/assign @seokho-son

M1 : @niteshseram
M2 - M19 : TBD (Help!, you can take this partially)
M20 - M26 : @seokho-son

[2021-07-05 05:06] Shubham82 commented on #28786
/assign
I can work on this.

[2021-07-05 05:07] inductor commented on #28650
/triage accepted

[2021-07-05 05:08] inductor commented on #28783
/triage accepted

[2021-07-05 05:12] inductor commented on #28650
/close

[2021-07-05 05:12] #28650 closed

[2021-07-05 05:12] inductor commented on #28783
/close

[2021-07-05 05:12] #28783 closed

[2021-07-05 06:05] jihoon-seo commented on #28746
- M2
- M11 - M19

on me 😊

/assign

[2021-07-05 07:35] jihoon-seo commented on #28746
M3 - M10 on me 😊

[2021-07-05 07:51] sftim commented on #28788
Relevant to https://github.com/kubernetes/website/pull/28036 (generate feature gate lists from data) - for context only. No need for kubeadm to participate in the automation.

[2021-07-05 08:05] PI-Victor commented on #28787
yup, agreed. I think we can address it once they open a doc for their enhancement
/cc @chrisnegus
/triage accepted

[2021-07-05 08:18] seokho-son commented on #28746
M1 : @niteshseram
M2 - M19 : @jihoon-seo
M20 - M26 : @seokho-son

Thank you!!

[2021-07-05 08:52] jihoon-seo opened #28795 "URL to 'pod-eviction' is changed"
**This is a Bug Report**

**Problem:**
In [here](https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/#taint-nodes-by-condition),
when you click the `node conditions` hyperlink,
it goes to https://kubernetes.io/docs/concepts/scheduling-eviction/pod-eviction#node-conditions,
which shows `404 Page not found`.

**Proposed Solution:**

Search `docs/concepts/scheduling-eviction/

[2021-07-05 10:08] ajfriesen opened #28798 "State of Logging Architecture with journald"
I have read the [Logging Architecture](https://kubernetes.io/docs/concepts/cluster-administration/logging/#logging-at-the-node-level) page.

I am currently not sure what the state of the kubernetes community and project is to use the docker log driver of journald instead of json file.

The company I work for provides a Kubernetes Paas.
We host several for customers.
Technically I really like that

[2021-07-05 10:43] oke-py opened #28799 "[ja] replace links to /docs/concepts/containers/runtime-class/ with /ja/docs/..."
**This is a Feature Request**

**What would you like to be added**

replace links to `/docs/concepts/containers/runtime-class/` with `/ja/docs/concepts/containers/runtime-class/`.

**Why is this needed**
`/docs/concepts/containers/runtime-class/` has already been translated into Japanese.

**Comments**

/language ja
/kind cleanup
/assign

lines to update
[code]
base branch: dev-1.19-ja.2

[2021-07-05 11:37] Shubham82 commented on #28786
Hi @sftim
Please suggest which option from the following I will go with
In this, we will have to make a page for embargo policy(security-embargo-policy.md)  as we do not mention the link directly.
1) Copy the whole content from the [security/private-distributors-list.md](https://github.com/kubernetes/security/blob/master/private-distributors-list.md) to security-embargo-policy.md. which seems redu

[2021-07-05 11:58] #26383 closed

[2021-07-05 12:17] sftim commented on #28786
I can clarify: this issue is about explaining that some information about upcoming releases is subject to embago, and that there is a defined policy about how those embargos are set.

I don't see a need to mention how to join the mailing list for distributors within https://k8s.io/releases/. If someone is maintaining a Kubernetes distribution, I hope they're able to follow hyperlinks well enough t

[2021-07-05 12:32] vaibhav2107 commented on #27547
/assign

[2021-07-05 13:13] vaibhav2107 commented on #27547
I think a way is to remove the duplicate part from the https://kubernetes.io/docs/tasks/access-application-cluster/access-cluster/ and refer the link to https://kubernetes.io/docs/tasks/administer-cluster/access-cluster-services/ in place of the removed part.
Please suggest if its the right way or how can be improved @jihoon-seo @sftim

[2021-07-05 14:21] lfrancke commented on #24882
Thank you for the update.
I'm happy to provide input as an end-user (kinda) on any PRs to see if it helps me understand.

[2021-07-05 14:39] sftim commented on #21435
/sig security

[2021-07-05 14:39] sftim commented on #21435
/triage accepted

[2021-07-05 16:57] afolarin opened #28804 "Improvement for k8s.io/docs/concepts/overview/working-with-objects/labels/"
Docs state:

on first reading it is unclear that the logical AND does not relate to the comma in values `(production, qa)`, which as specified in the example is an "or", this could be clearer by explicitly noting this.

[2021-07-05 17:03] msschl commented on #25879
Any updates on this? Would be nice to have a migration guide as we plan to move our kubeadm cluster away from dockershim.

[2021-07-05 17:06] neolit123 commented on #25879
i'm pretty sure the steps would be similar to this:
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/configure-cgroup-driver/#migrating-to-the-systemd-driver

but SIG node should confirm if this is actually the right way.

you could create a test cluster and try migrating it.

[2021-07-05 17:39] sftim commented on #26923
/remove-lifecycle rotten

[2021-07-05 19:58] #26275 closed

[2021-07-05 20:58] #26290 closed

[2021-07-06 00:01] #26052 closed

[2021-07-06 00:01] #26095 closed

[2021-07-06 01:56] chrismetz09 opened #28808 "Add diagrams to kubernetes.io/docs/contribute/ section"
**This is a Feature Request**

Add diagrams to the K8s docs/contribute section.

**What would you like to be added**

- Add simple flowchart-type diagram describing the website docs pipeline to kubernetes.io/docs/contribute/
- Add flowchart or graph describing new contributor workflow to kubernetes.io/docs/contribute/new-content/overview/
- Add one or more diagrams describing the open PR tasks to

[2021-07-06 05:15] Shubham82 commented on #28786
Thanks @sftim for suggestion.
will create a pr for it soon.

[2021-07-06 06:04] inductor commented on #28799
/triage accepted

[2021-07-06 06:20] devNajjary commented on #28660
if you triple click on command text  and copy/paste to Linux terminal show this:

![image](https://user-images.githubusercontent.com/17889773/124551811-efabf380-de47-11eb-93f8-86e95234c149.png)

[2021-07-06 07:15] inductor commented on #28799
/close

[2021-07-06 07:16] #28799 closed

[2021-07-06 07:34] Shubham82 commented on #28786
fixed it here: #28810

[2021-07-06 07:44] t-inu commented on #28282
Hi @sandeep1785
How is this issue going?

[2021-07-06 08:05] jihoon-seo opened #28811 "[ko] Translate `Node-pressure Eviction` into Korean"
**This is a Feature Request**

**What would you like to be added**

The Korean translated version of [Node-pressure Eviction](https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/)

[English version URLs]
- https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/
- https://github.com/kubernetes/website/blob/main/content/en/docs/concepts/scheduling-e

[2021-07-06 08:05] jihoon-seo commented on #28811
/assign

[2021-07-06 08:13] sftim commented on #25328
/remove-lifecycle rotten
/lifecycle frozen

[2021-07-06 08:14] sftim commented on #25328
/triage accepted

[2021-07-06 08:14] sftim commented on #25328
/priority backlog

[2021-07-06 08:19] s-kawamura-w664 commented on #28271
/close

[2021-07-06 08:19] #28271 closed

[2021-07-06 08:22] #21435 closed

[2021-07-06 08:25] s-ito-ts commented on #28278
/close
This issue has been fixed in PR #28465.
I close this issue.

[2021-07-06 08:25] #28278 closed

[2021-07-06 10:05] t-inu commented on #28282
@inductor
I confirmed this issue.
[code]
These URLs were already modified when this document was translated.
ref: https://github.com/kubernetes/website/pull/26490

[2021-07-06 12:52] afolarin opened #28813 "Improvement for k8s.io/docs/tasks/tools/included/"
https://kubernetes.io/docs/tasks/tools/included/  seems orphaned in RHS menu.

[2021-07-06 13:54] sftim commented on #28813
As I understand it, these are intended as headless pages and shouldn't appear rendered at all.
/kind bug
/language en
/triage accepted

[2021-07-06 13:56] sftim commented on #28808
You might like to crib a diagram from https://youtu.be/pprMgmNzDcw?t=353 @chrismetz09

/triage accepted
/sig contributor-experience
/sig docs

[2021-07-06 14:18] sftim commented on #21924
/triage accepted
/lifecycle frozen

[2021-07-06 18:03] sftim commented on #27420
/lifecycle frozen

[2021-07-06 18:29] sftim commented on #28798
We'd love to see that page improved @ajfriesen!

Kubernetes itself is not a logging solution, and is largely agnostic about which solution you might prefer. Some popular technologies that are relevant to Kubernetes cluster operators and cloud native developers include Fluent, OpenTelemetry, `systemd-journald`, Loki, and Honeycomb. There are many more; https://landscape.cncf.io/card-mode?category=l

[2021-07-06 19:51] ankeesler opened #28815 "I want my table to render without splitting words"
**This is a Bug Report**

**Problem:**

- I want my table to render without splitting words.
- Rendering: ![image](https://user-images.githubusercontent.com/3081590/124658006-3cf08b00-de71-11eb-906a-b7884ca3ed11.png)
- Source:
[code]

**Proposed Solution:**

- Eh, I dunno...give the user some way to control this?

**Page to Update:**

- This comes from https://github.com/kubernetes/website/pull/28

[2021-07-06 19:51] ankeesler commented on #28815
/label area/web-development

[2021-07-06 19:53] ankeesler commented on #28815
/area area/web-developmen

[2021-07-06 19:53] ankeesler commented on #28815
/area ​area/web-development

[2021-07-06 20:00] PI-Victor commented on #28815
hmm, maybe

/area web-development

[2021-07-06 21:15] schollii commented on #25921
/remove-lifecycle stale

[2021-07-06 22:10] haardikdharma10 commented on #28787
/assign

[2021-07-07 01:00] hyakuhei opened #28820 "Reference use-case/workloads for Pod Security Standards"
**This is a Feature Request**

**What would you like to be added**
It may be useful to enhance the current documentation (and maybe expand in a blog post) with reference use-cases or workloads and which tier would most reasonably be considered appropriate for safe deployment. This might help to make the somewhat abstract tiers, concrete in the minds of Kubernetes users and developers.

It will of

[2021-07-07 03:00] imoisharma opened #28823 "Use Port Forwarding to Access Applications in a Cluster"
Link: kubectl apply -f https://k8s.io/examples/application/guestbook/mongo-deployment.yaml is removed. Fix the new URL for the mong-deployment.yaml

Site Link: https://kubernetes.io/docs/tasks/access-application-cluster/port-forward-access-application-cluster/

[2021-07-07 05:13] s-kawamura-w664 opened #28825 "The explanation of activeDeadlineSeconds is inaccurate and misleading"
**This is a Bug Report**

**Problem:**

The [init-containers documentation](https://kubernetes.io/docs/concepts/workloads/pods/init-containers/#detailed-behavior) includes:

Use `activeDeadlineSeconds` on the Pod and `livenessProbe` on the container to
prevent init containers from failing forever. The active deadline includes init
containers.

This explanation is inaccurate and misleading.
The act

[2021-07-07 05:16] jihoon-seo commented on #28823
This issue will be resolved when the PR #28530 is merged.

[2021-07-07 05:25] jihoon-seo opened #28826 "Typo in "Node-pressure Eviction""
**This is a Bug Report**

**Problem:**
There is a typo in "Node-pressure Eviction".
(`threshlds`)

**Proposed Solution:**
`threshld` -> `threshold`

**Page to Update:**
https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#with-imagefs

/language en

[2021-07-07 06:07] eddiezane commented on #24882
/cc

[2021-07-07 06:20] inductor commented on #28282
/close

[2021-07-07 06:20] #28282 closed

[2021-07-07 06:22] inductor commented on #28603
/close

[2021-07-07 06:22] #28603 closed

[2021-07-07 08:40] Arhell opened #28828 "typo in video block"
https://kubernetes.io/ru/
/assign

[2021-07-07 08:41] Arhell commented on #28828
/language ru

[2021-07-07 09:19] sftim commented on #28788
/priority important-longterm
People might want to try out alpha features; we should make it clear how they can, _and_ follow docs conventions to explain that these are alpha.

(same for beta, if that applies)

[2021-07-07 09:23] sftim commented on #4322
@shannonxtreme that looks like a great starting point - feel free to open a pull request

[2021-07-07 09:25] sftim commented on #28815
/triage accepted
/priority backlog

[2021-07-07 09:27] sftim commented on #28815
In CSS, it could be something like:
if a monospaced `<tt>` element is the first _and_ last child of a `<td>` (ie, it's the whole cell) then try to avoid wrapping.

If there's no pure-CSS solution, we could improve the existing table shortcode to let you specify colgroups. Sounds trick though!

[2021-07-07 10:00] anubha-v-ardhan commented on #28826
/assign

[2021-07-07 10:05] anubha-v-ardhan commented on #28826
Can I correct the typo or should I wait for the issue to get accepted?

[2021-07-07 10:07] #26411 closed

[2021-07-07 10:45] sgpinkus opened #28832 "Issue with k8s.io/docs/concepts/storage/persistent-volumes/"
[Docs](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#class-1) state:

I don't think this is true. The following `storageClassName`-less PVC successfully binds to the `storageClassName`-ful PV:

[code]

[2021-07-07 13:07] #21660 closed

[2021-07-07 13:38] sftim opened #28836 "kubeadm cgroupDriverAdvice is specific to a Kubernetes version"
**This is a Bug Report**

**Problem:**
The v1.22 version of `/docs/tasks/administer-cluster/kubeadm/configure-cgroup-driver.md` ([permalink](https://github.com/kubernetes/website/blame/61047b9fa9440b39bebfbd0c7654f68dd0d9a26f/content/en/docs/tasks/administer-cluster/kubeadm/configure-cgroup-driver.md#L36)) shows some text:

This might / will confuse readers when v1.23 is released as to what the de

[2021-07-07 14:39] neolit123 commented on #28836
/triage accepted
/help

[2021-07-07 14:41] neolit123 commented on #28836
@sftim the discussion about this exact wording was here and you participated:
https://github.com/kubernetes/website/pull/28049#discussion_r636012074

later the PR was approved as is.

[2021-07-07 15:21] sftim commented on #28836
aside: _I think this is SIG Docs pretty much_ working as intended.
_We merged some useful docs updates, and now we have a chance to make a follow-on PR that makes them even better._

[2021-07-07 18:33] pawelborkar commented on #27446
/assign

[2021-07-07 21:40] fbrier opened #28844 "Improvement for k8s.io/docs/tasks/administer-cluster/dns-custom-nameservers/"
It is not clear how to edit the yaml and corefile contents that are illustrated. There are no command line or descriptions of how to change them via the dashboard (ie: what are the names and namespaces of the pods/services/ConfigMaps that contain these values). I am trying to determine why CoreDNS is not forwarding requests to the DNS server specified in the "microk8s enable dns:xxx.xxx.xxx.xxx".

[2021-07-08 00:35] filipp-filippov opened #28846 "Improvement for k8s.io/docs/concepts/services-networking/ingress/"
In ingress documentation, for first sight, it's not obvious that when you deploy a nginx ingress controller you have to use cloud managed load balancer or any other bastion server to redirect your requests to ingress controller service port.
I.e. let's say you k8s cluster installed on bare-maetal, or you don't like to use cloud load balancer service for this cluster by some reason, and all of your

[2021-07-08 01:05] jihoon-seo commented on #28826
@anubha-v-ardhan I think you can open a PR anytime. 😊

[2021-07-08 03:21] RA489 commented on #28660
I think @devNajjary is talking about this web page https://kubernetes.io/docs/tasks/tools/install-kubectl-linux/#install-kubectl-binary-with-curl-on-linux

[2021-07-08 03:22] RA489 commented on #28660
@devNajjary It works well for me with no errors

[code]

[2021-07-08 03:23] RA489 commented on #28660
/kind support

[2021-07-08 03:49] Falcon0009 opened #28847 "Improvement for k8s.io/zh/docs/concepts/workloads/controllers/deployment/"
Deployment ensures that only a certain number of Pods are down while they are being updated. By default, it ensures that at least 75% of the desired number of Pods are up (25% max unavailable)

Hello everyone
I have a question. The above paragraph is in the document. I cannot understand the pods mentioned in it. I think it should be the container in the pod, right?

thank

[2021-07-08 04:58] djedjethai opened #28848 "Improvement for k8s.io/docs/concepts/workloads/pods/"
This is the ''Pod" page, wy are you showing an exemple of a "Job" object ????

[2021-07-08 07:12] sgpinkus opened #28854 "Use Port Forwarding to Access Applications in a Cluster"
Broken link to https://k8s.io/examples/application/guestbook/mongo-deployment.yaml.

[2021-07-08 07:35] #28828 closed

[2021-07-08 07:57] #28847 closed

[2021-07-08 07:58] Falcon0009 commented on #28847
我已经看明白了，我理解错了，同时也建议在编写官方文档能尽可能的消除歧义，感谢。

[2021-07-08 08:30] anubha-v-ardhan commented on #28826
@jihoon-seo issue fixed in PR #28850

[2021-07-08 08:31] jihoon-seo commented on #28826
@anubha-v-ardhan Thank you!

[2021-07-08 08:31] #28826 closed

[2021-07-08 08:33] jihoon-seo commented on #28854
- This issue will be resolved when the PR #28530 is merged.
- (#28823)

[2021-07-08 09:59] sgpinkus commented on #28832
Update: Actually I was wrong. Was testing with minikube. Turns out minikube installs a DefaultStorageClass and a dynamic PV was being created. The `selector.matchLabels` is being ignored in this case for some reason.

[2021-07-08 10:00] #28832 closed

[2021-07-08 12:54] chenxuc commented on #28848
I think the example in this page is correct.

The Job object contains a Pod. The example is to show how to use the Pod template inside the Job. In may real world usage cases, a Pod is usually created by other higher level workload objects, such as Jobs or Deployments.

[2021-07-08 13:13] sgpinkus opened #28861 "Improvement for k8s.io/docs/concepts/storage/persistent-volumes/"
On [dynamic volume binding](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#dynamic) it is stated:

This seems strange. The purpose of the "DefaultStorageClass admission controller" seems merely to be to provide a default value for `PVC.storageClassName` if it is absent. Why should whether it is enabled or disabled effect dynamic provisioning?

The [linked description](https://kube

[2021-07-08 14:06] #27673 closed

[2021-07-08 14:08] #27671 closed

[2021-07-08 14:56] soltysh commented on #26936
I wrote it down in https://developers.redhat.com/blog/2020/11/20/kubectl-developer-tips-for-the-kubernetes-command-line#
@geoffcline hope that might clear it a bit :)

[2021-07-08 15:31] MikeSpreitzer commented on #28611
I just realized there is an additional --- and more severe --- restriction on static pods.  They do not get ServiceAccounts!  For example, using a static pod:
[code]

... note that there is no `/var/run/secrets/kubernetes.io/serviceaccount` !

[2021-07-08 15:56] BenTheElder commented on #26936
The original post in this thread also covers what the envs are a bit.

IMHO the two things that trip users up here to be well aware of are:
- 1) If you are using kubectl in a way that you depend on the default namespace (none of your yaml or commands specify the namespace), it will no longer be the default you typically have if that was unset, it will instead be the namespace of the pod you are ru

[2021-07-08 16:00] rittneje commented on #26936
Of course, this doesn't really help if another container (perhaps one injected via a hook) is expecting the token file.

[2021-07-08 16:38] dhiruLeo opened #28864 "Improvement for k8s.io/docs/tasks/administer-cluster/declare-network-policy/"
I think something is wrong with this task, i tried to accessing the service using labelled busybox image and without in both ways i am getting the same response even after creating the Network Policy on the basis of Label. Attaching the screenshot for more info.

<img width="762" alt="Screenshot 2021-07-08 at 10 05 51 PM" src="https://user-images.githubusercontent.com/26001932/124959529-eafa6180-e

[2021-07-08 16:46] sftim opened #28865 "Google Analytics opt-out via Do Not Track"
**This is a Feature Request**

**What would you like to be added**
Pretty much this:
https://justmarkup.com/articles/2018-03-01-do-not-track-user-preference/

Add a mechanism to check [`navigator.doNotTrack`](https://developer.mozilla.org/en-US/docs/Web/API/Navigator/doNotTrack) and only load Google Analytics for clients that haven't expressed an opt-out preference.

**Why is this needed**
This ch

[2021-07-08 17:11] raghvenders commented on #4322
@shannonxtreme - I have given some review comments. Kindly do the changes if it inches the docs ahead.

[2021-07-08 17:19] shannonxtreme commented on #4322
Noticed! I wish we could call it Waste Management, lol. Thank you for the reviews! Feel free to review the PR as well and give feedback.

[2021-07-08 17:26] raghvenders commented on #4322
What inspired me was dependent cleanup for resources, in PV/PVCs came across retain, reclaim and recycle (Deprecated). :)

[2021-07-08 18:55] tallclair opened #28866 "PodSecurity alpha documentation"
Document the new [PodSecurity](https://github.com/kubernetes/enhancements/issues/2579) feature. Documentation should include:

- [ ] How to enable the feature (alpha)
- [ ] How to use the feature
    - [ ] API documentation, pointers to [Pod Security Standards](https://kubernetes.io/docs/concepts/security/pod-security-standards/) for level definitions.
    - [ ] Labels usage, examples, best-practi

[2021-07-08 18:57] tallclair commented on #28866
/sig auth

[2021-07-08 18:57] tallclair commented on #28866
/milestone v1.22

[2021-07-08 19:00] liggitt commented on #28866
I'd partition the "Extending PodSecurity" and "running alongside a 3p plugin, migrating to a 3p plugin" bits to docs for beta

[2021-07-08 19:05] tallclair opened #28867 "PodSecurity Beta documentation"
Documentation we want to add before PodSecurity goes to beta. Depends on https://github.com/kubernetes/website/issues/28866.

- [ ] ~~Extending PodSecurity: extension points in the code, maybe a pointer to another page (or docs on the pod-security-admission repo)~~ punted to https://github.com/kubernetes/kubernetes/issues/106561
- [ ] ~~What do when you need more control: pros/cons of extending, r

[2021-07-08 19:06] tallclair commented on #28866
Done. Created https://github.com/kubernetes/website/issues/28867

[2021-07-08 23:48] sftim commented on #28612
/kind cleanup
/triage accepted

[2021-07-08 23:48] sftim commented on #28612
/sig cluster-lifecycle
(ish)

[2021-07-09 00:07] sftim commented on #28612
/reopen

The page still mentions those scripts.

[2021-07-09 00:32] #26359 closed

[2021-07-09 00:32] #25149 closed

[2021-07-09 00:46] BenTheElder commented on #28612
I think it would probably be best to instead drop all reference to them, we have https://kubernetes.dev if we need to document details to upstream contributors, previously we did not and kubernetes.io sort of did double-duty IMHO

[2021-07-09 02:25] king311247 opened #28873 "Adding Windows nodes"
According to the documentation https://v1-19.docs.kubernetes.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/

join a windows node,the windows host server will crash when the flannel cni container start

my system config like this
![image](https://user-images.githubusercontent.com/10952874/125014041-81616e00-e09f-11eb-9d39-b2bfb63efaa9.png)

![image](https://user-images.githubusercon

[2021-07-09 02:26] #28787 closed

[2021-07-09 02:31] jihoon-seo opened #28874 "Cleanup `static/_redirects`"
**This is a Bug Report**

**Problem:**

In `static/_redirects`,
entries that have `.md` string in left hand side (which means the redirection source / redirection-from / redirection origin) exist.

[code]

I suggest removing the entries like this,
because I think that accessing `https://kubernetes.io/docs/admin/authorization/rbac.md`
instead of `https://kubernetes.io/docs/admin/authorization/rbac`

[2021-07-09 02:48] tengqm commented on #28874
/triage accepted

[2021-07-09 02:49] rayw000 opened #28875 "Describe the proper way to restart kube-* pods after manually certificate renewal"
**This is a Bug Report**

**Problem:**
After manually certificate renewal, `kube-apiserver`, `kube-controller-manager` and `kube-scheduler` need to be properly restarted. This should be described in (maybe) this section: https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/#manual-certificate-renewal , and currently not.

Ref: https://github.com/kubernetes/kubernetes/issues/10

[2021-07-09 03:15] neolit123 commented on #28875
/sig cluster-lifecycle
/help
PRs welcome

/priority backlog
given `kubeadm certs renew` prints instructions that users must restart.

etcd should be included in this list.

there are multiple ways to restart the static pods:
1. temporary rename the `/etc/kubernetes/manifests` folder for more than 20 seconds [*].
2. restart the containers using the container runtime CLI (setup specific).
...

i'd p

[2021-07-09 03:15] neolit123 commented on #28875
/remove-kind bug

[2021-07-09 03:16] neolit123 commented on #28875
/triage accepted
/kind cleanup

[2021-07-09 05:19] djedjethai commented on #28848
Make sense, but still imagine someone learning k8s(same me) need a Pod's template for some exercices, he should look into the official documentation's Pod page but unfortunatly there is no Pod but a Job. In fact to get a single Pod's template he should go to the Service-account's page or the Probes's page or even the Managing-Resources-For-Containers's page..... It's kind of strange.

[2021-07-09 06:45] MikeSpreitzer commented on #28611
The prohibition is even broader and simpler: the definition of a static pod can not refer to any other API object.  For example, PersistentVolumeClaim is another thing that a static pod's definition can not reference.

[2021-07-09 08:37] #25703 closed

[2021-07-09 08:43] sftim commented on #28867
/triage accepted
/sig auth
/sig security
/sig docs
/priority important-longterm

I recommend documenting that contextual detail within https://k8s.io/docs/concepts/security/

[2021-07-09 08:46] sftim commented on #28866
/triage accepted
/sig security
/priority important-soon

[2021-07-09 10:32] mehabhalodiya commented on #28728
Hey @edoardo-c
Can you tell me what's the type exactly in `volume-snapshot-classes.md`?

[2021-07-09 10:32] mehabhalodiya commented on #28728
/assign

[2021-07-09 12:11] dgrisonnet opened #30577 "kubectl config documentation on kubernetes.io is broken"
#### What happened:

In the generated kubectl documentation hosted on https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands, one of the lines in the description of [kubectl config](https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#config) overlaps the examples section of the command.

![image](https://user-images.githubusercontent.com/22327577/125075577-1cb6

[2021-07-09 12:31] aliakbar-hemmati commented on #28875
Hi, I would like to help but I have a question first. How does changing the name of `/etc/kubernetes/manifests/` help? I mean the behavior of Kubelet is not clear for me regarding this fileFrequencyCheck and the corresponding docs do not help, too. I like to explain that in certificate renewal docs, too. @neolit123

[2021-07-09 13:36] neolit123 commented on #28875
The better place to document details about the static pod refresh timeouts
is the "creating static pods page:
https://kubernetes.io/docs/tasks/configure-pod-container/static-pod/

If you remove a manifest file, the kubelet will find out about that every
~20sec and remove the pod from managent. If the file is then brought back
the kubelet will recreate the pod acting like a restart.
On Jul 9, 2021

[2021-07-09 13:38] corpix opened #28880 "Issue with k8s.io/docs/reference/kubectl/overview/"
Where is the `custom-columns` list? Here https://kubernetes.io/docs/reference/kubectl/overview/#custom-columns I can see nothing but an example. Where should I get an information to build custom-columns path expressions?

[2021-07-09 13:39] edoardo-c commented on #28728
Hi @mehabhalodiya,

I'm not sure what they tried to say. My guess is this:

`It enables you to configure what happens to a VolumeSnapshotContent when the VolumeSnapshot object it is bound to is deleted.`

[2021-07-09 14:58] chenxuc commented on #28774
the doc has been updated.
/close

[2021-07-09 14:58] #28774 closed

[2021-07-09 15:15] chrisnegus commented on #25944
For anyone interested, we believe that [PR #28608](https://github.com/kubernetes/website/pull/28608), which addresses this issue, is ready for technical review.

[2021-07-09 20:44] #26441 closed

[2021-07-10 03:48] #21558 closed

[2021-07-10 04:44] tengqm commented on #21558
This is resolved.

[2021-07-10 06:23] aravindputrevu commented on #16618
I was routed to here from #28837, I wrote a tutorial on a stateful app Elasticsearch.

 It'd be great to have some stateful app tutorials on the k8s.io website as it is visited by many devs. Moreover, these are general-purpose datastores that could help many to get started with.

[2021-07-10 09:10] dilyanpalauzov opened #28884 "Deployments: pausing and resuming"
https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#pausing-and-resuming-a-deployment suggests:
[code]
Do changes, then
[code]

The output is equivalent to the previous run of `kubectl get rs`.  I do not see, how this output can confirm, that the Deployment was updated.

[2021-07-10 09:44] chenxuc commented on #28884
@dilyanpalauzov Welcome and thanks for contributing your first issue here!

This sentence does seem confusing to me. I will improve it.

/triage accepted
/kind bug
/assign

[2021-07-10 10:04] amej commented on #28436
Issue solved with https://github.com/kubernetes/website/pull/28437

[2021-07-10 10:04] #28436 closed

[2021-07-10 11:49] Donkere-vader opened #28886 "Improvement for k8s.io/docs/tutorials/kubernetes-basics/create-cluster/"
It would be nice to have a bit of text about what a cluster is, cuz I don't know what it does in kubernetes.

[2021-07-10 11:54] #26205 closed

[2021-07-10 16:28] sftim opened #28889 "Mirror article “How to choose a SIG as a non-code Kubernetes contributor”"
**This is a Blog issue**

**What would you like to be added**
Copy article https://www.k8s.dev/blog/2021/07/09/how-to-choose-a-sig-as-a-non-code-kubernetes-contributor/ into the blog (folder `content/en/blog`)

**Why is this needed**
We mirror most articles from https://www.k8s.dev/blog/ to https://www.k8s.io/blog/

**Comments**
Set the `canonicalUrl:` field in the [front matter](https://gohugo.io

[2021-07-10 17:07] sejr commented on #28866
/assign

PR for this will include changes for #28721 as well.

[2021-07-10 18:00] Shatakshi0805 commented on #28889
Hello Tim! I would like to work on this. could be please tell in which file/folder inside the blog repository am I supposed to paste the copied content to? Apologies for asking such question as I am a beginner and not able to understand in which repository I should paste the content as there are multiple files and folders in the blog repository.

[2021-07-10 19:18] dilyanpalauzov opened #28890 "DaemonSet: kubectl delete --cascade=false"
According to https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#delete the `kubectl delete` can get a parameter `--cascade` with a value of "background", "orphan", or "foreground".

https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/#updating-a-daemonset proposes to use `--cascade=false`.

[2021-07-10 19:58] #22530 closed

[2021-07-10 20:28] kbhawkey commented on #27013
/remove-lifecycle rotten

[2021-07-11 00:00] #26434 closed

[2021-07-11 00:20] jihoon-seo commented on #28890
Hello @dilyanpalauzov

Related PRs/issues:
- #25985

- #27920

- #28374

So, the page https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/#updating-a-daemonset should be updated.

/kind bug
/language en
/help

[2021-07-11 00:33] jihoon-seo commented on #28889
Hello @Shatakshi0805

Source file:
- https://github.com/kubernetes/contributor-site/blob/master/content/en/blog/2021/non-code-contribution.md
- (Raw: https://raw.githubusercontent.com/kubernetes/contributor-site/master/content/en/blog/2021/non-code-contribution.md )

Destination:
Since the original article has no images included,
[`website/content/en/blog/_posts/`](https://github.com/kubernetes/we

[2021-07-11 00:41] jihoon-seo commented on #28886
Someone might add a link to https://kubernetes.io/docs/concepts/overview/components/ in [that page](https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/).

[2021-07-11 01:02] sftim commented on #28890
/triage accepted

[2021-07-11 01:04] sftim commented on #28884
/sig apps

[2021-07-11 01:43] jihoon-seo opened #28892 "Remove dup PNG files in `blog/_posts/`"
**This is a Bug Report**

**Problem:**
There exist dup PNG files in `blog/_posts/`.
(These files were added by the PR #24136 .)

In [`blog/_posts/`](https://github.com/kubernetes/website/tree/main/content/en/blog/_posts)
![image](https://user-images.githubusercontent.com/46767780/125179848-a4218d00-e22d-11eb-8d62-6834bfc208b7.png)

In [`blog/_posts/2020-09-30-writing-crl-scheduler/`](https://githu

[2021-07-11 01:53] jihoon-seo commented on #28890
/good-first-issue

[2021-07-11 01:53] jihoon-seo commented on #28892
/good-first-issue

[2021-07-11 03:00] #23554 closed

[2021-07-11 03:32] tengqm commented on #27011
/remove-lifecycle rotten

[2021-07-11 04:04] 1125f3da-6abf-4975-9a7d-841cc7f1b38e opened #28894 "🔒🆕💠™️ 🆕🔒"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

🔒Only team ™️🔒AS+Cuber🔒

[2021-07-11 04:23] sftim commented on #28894
/triage needs-information

@1125f3da-6abf-4975-9a7d-841cc7f1b38e what did you want to suggest?

[2021-07-11 04:24] sftim commented on #28892
/area blog
/triage accepted

[2021-07-11 04:25] sftim commented on #28886
The [glossary shortcodes](https://kubernetes.io/docs/contribute/style/hugo-shortcodes/#glossary) let you automatically include the existing explanation of what a cluster is. That ought to help too.

[2021-07-11 04:25] sftim commented on #28886
/language en
/help
/triage accepted

[2021-07-11 04:27] sftim commented on #28886
We could also link to https://k8s.io/docs/setup/ and https://k8s.io/releases/

[2021-07-11 04:27] sftim commented on #28886
/sig cluster-lifecycle

[2021-07-11 04:27] sftim commented on #28854
/kind bug
/language en

[2021-07-11 04:28] sftim commented on #28854
https://github.com/kubernetes/website/pull/28530#issuecomment-865483779 is relevant here too.

[2021-07-11 04:28] sftim commented on #28846
/sig network

[2021-07-11 04:30] sftim commented on #28846
@filipp-filippov this sounds a bit like a detail of a _specific_ Ingress controller - there are lots of different ones and some don't need the steps you've mentioned.

What might be good is a tutorial for each of the in-project Ingress controllers (AWS, GCP and nginx). However, getting those added means finding folks to volunteer to write them. I hope it does happen.

[2021-07-11 04:31] sftim commented on #28820
/kind feature
/sig security
/sig auth

[2021-07-11 04:40] sftim commented on #28844
/kind support
The [CoreDNS documentation](https://coredns.io/) might also cover this - does that help?

I'm not sure what principal question you had @fbrier. I looked at the page and the manifests I saw _did_ mention namespaces.

To anyone: I think this page should mention familiarity with `kubectl` or similar tools as a prerequisite.

[2021-07-11 04:47] sftim opened #28895 "https://kubernetes.io/docs/reference/tools/ lists Helm as built in to Kubernetes"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/reference/tools/ lists Helm as being built-in to Kubernetes.
(it isn't; it's a separate project that depends on Kubernetes in order to be useful)

**Proposed Solution:**
Reword the page to be a list of both built-in tools and external tools that are so commonly used or relevant that they may as well be seen as required for Kubernete

[2021-07-11 04:54] sftim commented on #28168
/label team/katacoda

[2021-07-11 04:54] sftim commented on #28169
/label team/katacoda

[2021-07-11 05:22] filipp-filippov commented on #28846
@sftim, probably I could describe couple of examples for AWS and Bare metal installations, if it would make sense. Please let me know where I should post it?

[2021-07-11 05:28] niteshseram commented on #28895
/assign

[2021-07-11 08:09] chenxuc commented on #28886
/assign

[2021-07-11 08:32] iRachana06 opened #28897 "Unable to follow Ingress with NGINX task in Katacoda"
no matches for kind "Ingress" in version "networking.k8s.io/v1" is shown and validation upon kubectl apply is getting failed

[2021-07-11 09:21] jihoon-seo commented on #28897
Link to the related page: https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/

[2021-07-11 09:37] kaushambisharma commented on #28892
I'd like to work on this issue

[2021-07-11 11:12] irbekrm opened #28898 "Mention updating ownerReferences in CRD version deprecation doc"
**This is a Feature Request**

**What would you like to be added**

I would like the documentation about [CustomResourceDefinition version upgrade and removal](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definition-versioning/#upgrade-existing-objects-to-a-new-stored-version) to mention that owner references pointing at CustomResources that were created at t

[2021-07-11 12:39] jihoon-seo commented on #28892
/assign @kaushambisharma

[2021-07-11 12:48] jihoon-seo commented on #28572
/assign @hardikshah197

[2021-07-11 13:59] Patil2099 commented on #28890
/assign

[2021-07-11 18:36] DmitriGekhtman commented on #28375
It seems the best effort wording is not related to feature-readiness. Rather, it's intrinsic to the feature as explained by the implementer in https://github.com/kubernetes/enhancements/tree/master/keps/sig-apps/2255-pod-cost#risks-and-mitigations
https://github.com/kubernetes/kubernetes/pull/101003#issuecomment-817978859
According to the last linked comment, the main issue is that "there could be

[2021-07-12 01:01] Shatakshi0805 commented on #28889
Thanks @jihoon-seo.

[2021-07-12 03:08] RA489 commented on #28897
@iRachana06 as a workaround please try apiversion as networking.k8s.io/v1beta1

[2021-07-12 03:56] jihoon-seo commented on #28897
Maybe-related page: https://kubernetes.io/docs/reference/kubernetes-api/service-resources/ingress-v1/

[2021-07-12 06:37] seokho-son commented on #28811
/triage accepted

[2021-07-12 14:31] shannonxtreme opened #28909 "Create a task page for using finalizers to control deletion"
Relates to #28870

## Overview

While we have a great [blog post](https://kubernetes.io/blog/2021/05/14/using-finalizers-to-control-deletion/) about using finalizers, we should formalize that in our docs. #28870 added a concept page for Finalizers. We should add on to that with a task to use them. Source material from the blog post + elsewhere.

/assign
/triage accepted
/sig docs
/cc @sftim

[2021-07-12 14:39] niteshseram opened #28910 "Error while trying to preview the website locally on Windows"
**This is a Bug Report**

**Problem:**
When I try running the website locally using any of the commands as _hugo serve_ or _make serve_ or  _make container-serve_, it gives me the below error:

`Error: add site dependencies: load resources: loading translations: "D:\Opensource\website\i18n\de.toml:1:1": failed to load translations: (1, 1): parsing error: keys cannot contain / character`

**System*

[2021-07-12 15:06] neolit123 commented on #24558
/remove-lifecycle stale
i can try helping in 1.23.

[2021-07-12 18:15] #26482 closed

[2021-07-12 21:29] #28724 closed

[2021-07-12 22:33] neolit123 commented on #27525
/remove-lifecycle stale

[2021-07-13 00:37] kbhawkey commented on #28895
/triage accepted

[2021-07-13 02:01] rodrigobercini commented on #25143
/close

[2021-07-13 02:01] #25143 closed

[2021-07-13 04:02] anubha-v-ardhan commented on #28894
@1125f3da-6abf-4975-9a7d-841cc7f1b38e Can you explain the problem : )

[2021-07-13 04:16] RA489 commented on #28897
@iRachana06 any update with the workaround?

[2021-07-13 04:20] RA489 commented on #28825
/triage accepted

[2021-07-13 04:21] RA489 commented on #28825
PR to fix the issue https://github.com/kubernetes/website/pull/28363

[2021-07-13 04:40] jihoon-seo commented on #28910
`website/i18n/xx.toml` files are symbolic links.

e.g. https://github.com/kubernetes/website/blob/main/i18n/de.toml
[code]

I guess that this happens because Windows cannot handle (or, handles differently) the symbolic links created on UNIX.

Maybe, deleting `website/i18n/xx.toml` symbolic links and creating new ones on your environment might solve the problem

See:
- [Symlinks in Windows 10!](htt

[2021-07-13 06:02] jihoon-seo opened #28917 "Redirection rules with wildcard(`*`) works differently from expectation"
**This is a Bug Report**

**Problem:**

In [`static/_redirects`](https://github.com/kubernetes/website/blob/main/static/_redirects),
There are some redirection rules with wildcard(`*`).

---

[code]

Expectation:
- Netlify redirects https://kubernetes.io/docs/reference/generated/kubectl/kubectl/kubectl_get.md to
https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#get

Reality:

[2021-07-13 07:19] ultra-baba commented on #16607
any update  @hjacobs ?

[2021-07-13 07:48] #28249 closed

[2021-07-13 08:58] Shatakshi0805 commented on #28889
/assign

[2021-07-13 09:09] jihoon-seo commented on #28889
@Shatakshi0805
@sftim 's suggestion is that
when you create `2021-07-09-how-to-choose-a-sig-as-a-non-code-kubernetes-contributor.md` in [`website/content/en/blog/_posts/`](https://github.com/kubernetes/website/tree/main/content/en/blog/_posts),
add `canonicalUrl: ` field.

e.g.

[code]

[2021-07-13 10:27] sftim commented on #22021
/lifecycle frozen

[2021-07-13 10:27] sftim commented on #22021
/remove-lifecycle rotten

[2021-07-13 10:29] anubha-v-ardhan commented on #28917
I would like to give this a try
/assign

[2021-07-13 10:30] niteshseram commented on #28917
@jihoon-seo how can I test these redirect things after I made the changes? Do I have to make a PR to get the netlify link to test the things?

[2021-07-13 10:30] anubha-v-ardhan commented on #28917
@niteshseram Are you working on this issue?

[2021-07-13 10:37] niteshseram commented on #28910
@jihoon-seo  actually after deleting the whole i18n folder it works fine in windows. I think it is a common issue that Windows users are facing when trying to run it locally.
I am not sure what these symbolic links do because everything works just fine even after deleting them.

[2021-07-13 10:39] niteshseram commented on #28917
@anubha-v-ardhan Ya I was trying but couldn't figure out how can I test these redirects after making the changes

[2021-07-13 10:47] anubha-v-ardhan commented on #28917
@niteshseram Thanks, I will unassign myself. Please consider commenting before. It helps others to know about the progress of issue.
/unassign

[2021-07-13 10:49] anubha-v-ardhan commented on #28917
/assign @niteshseram

[2021-07-13 10:51] niteshseram commented on #28917
It was my bad.

[2021-07-13 11:04] niteshseram commented on #28917
@jihoon-seo I think the problem is with the link itself.
https://kubernetes.io/docs/reference/generated/kubectl/kubectl/kubectl_get.md.
https://kubernetes.io/docs/reference/generated/kubectl/kubectl/kubectl_get.md
Here may be _get.md_ is the splat. Maybe that's why it's unable to redirect.
If I change the redirect to something like below without the .md it works fine
[code]
And for this link https

[2021-07-13 11:20] chenxuc commented on #28886
/unassign
Unassign myself since @RA489 is already working on this issue. Thanks.

[2021-07-13 12:42] #28689 closed

[2021-07-13 14:28] #26489 closed

[2021-07-13 15:00] sheisnicola opened #28924 "Issue with k8s.io/docs/concepts/storage/storage-classes/"
There is no documentation for the in-tree NFS `kubernetes.io/nfs` storage class provisioner. What parameters does it support or require, if any? Where can I find documentation for this?

[2021-07-13 16:16] chrisnegus commented on #28291
I would very much like to take on the enhancements you are suggesting. Would it be possible for us to merge [PR 28367](https://github.com/kubernetes/website/pull/28367) first (which addresses a visual representation of the files in the tables), then take on a way of visual way of connecting keys and certificates to each kubernetes service?

[2021-07-13 16:18] translucens opened #28925 "duplicated sentences in ja/docs/reference/kubectl/overview/"
**This is a Bug Report**

**Problem:**
There are both a raw untranslated sentence and its translated sentence.

**Proposed Solution:**
remove this raw sentence

**Page to Update:**
https://kubernetes.io/ja/docs/reference/kubectl/overview/

[2021-07-13 16:19] translucens commented on #28925
/assign

[2021-07-13 22:58] sftim commented on #28924
/sig storage

[2021-07-13 22:58] sftim commented on #28909
/wg api-expression

[2021-07-13 22:59] sftim commented on #28897
/kind support

@iRachana06 check that the documentation you're reading matches the version you're running. See https://kubernetes.io/docs/home/supported-doc-versions/

[2021-07-14 01:14] jihoon-seo commented on #28917
@niteshseram What a great research!

I think so. To do tests, you should
1. make changes on [`static/_redirects`](https://github.com/kubernetes/website/blob/main/static/_redirects) file,
2. post a PR, and
3. test the redirection rules on the deploy preview: https://deploy-preview-xxxxx--kubernetes-io-main-staging.netlify.app/

---

And regarding your research, I suggest to make changes like these:

[2021-07-14 01:40] chenxuc commented on #28924
@sheisnicola Welcome and thanks for your first issue here!

Someone please correct me if I'm wrong. But as this page points out `NFS doesn't provide an internal provisioner`, so there's no `kubernetes.io/nfs` storage class in Kubernetes in-tree providers. We have to use external providers for nfs. And we might not want to link to external provider as example in this page.

[2021-07-14 01:42] jihoon-seo commented on #28910
@niteshseram
As far as I know,
`i18n/xx.toml` files are symbolic links to `../data/i18n/xx/xx.toml`.

And `../data/i18n/xx/xx.toml` files contain i18n strings for the translation of each language.

For example, `data/i18n/ko/ko.toml` contains i18n strings for the Korean translation.
![image](https://user-images.githubusercontent.com/46767780/125546214-999356e8-8d5a-4ec1-b0fd-3b56b72c63d4.png)

Sin

[2021-07-14 03:41] RA489 commented on #28864
/kind support

[2021-07-14 04:35] niteshseram commented on #28917
@jihoon-seo I have made the PR. Let me know if I have to do some more changes or anything

[2021-07-14 06:09] RA489 commented on #28925
/triage accepted

[2021-07-14 06:12] RA489 commented on #28873
/kind support

[2021-07-14 06:13] RA489 commented on #28854
/triage accepted

[2021-07-14 06:15] RA489 commented on #28823
/triage accepted

[2021-07-14 06:22] RA489 commented on #28450
/triage accepted

[2021-07-14 06:25] RA489 commented on #28427
/triage accepted

[2021-07-14 06:28] RA489 commented on #28082
/kind support

[2021-07-14 06:28] RA489 commented on #28078
/kind support

[2021-07-14 06:29] RA489 commented on #28046
/kind support

[2021-07-14 06:31] RA489 commented on #27974
/kind support

[2021-07-14 06:32] RA489 commented on #27965
/kind support

[2021-07-14 06:32] RA489 commented on #27958
/kind support

[2021-07-14 06:33] RA489 commented on #27935
/kind support

[2021-07-14 06:34] RA489 commented on #27907
/kind support

[2021-07-14 06:34] RA489 commented on #27880
/kind support

[2021-07-14 06:36] RA489 commented on #27831
/triage accepted

[2021-07-14 06:37] RA489 commented on #27812
/kind support

[2021-07-14 06:37] RA489 commented on #27808
/kind support

[2021-07-14 06:37] RA489 commented on #27740
/kind support

[2021-07-14 06:38] RA489 commented on #27579
/kind support

[2021-07-14 06:42] RA489 commented on #24080
/kind support

[2021-07-14 06:44] RA489 commented on #26485
/remove-lifecycle rotten
/remove-lifecycle stale

[2021-07-14 06:45] RA489 commented on #26293
/remove-lifecycle rotten

[2021-07-14 06:46] RA489 commented on #26910
/remove-lifecycle stale

[2021-07-14 06:47] RA489 commented on #26666
/remove-lifecycle rotten

[2021-07-14 06:47] RA489 commented on #26638
/remove-lifecycle rotten

[2021-07-14 06:48] RA489 commented on #26618
/remove-lifecycle stale

[2021-07-14 06:50] RA489 commented on #27407
/remove-lifecycle stale

[2021-07-14 06:50] RA489 commented on #27312
/remove-lifecycle stale

[2021-07-14 06:51] RA489 commented on #27229
/remove-lifecycle stale

[2021-07-14 06:51] RA489 commented on #27522
/remove-lifecycle stale

[2021-07-14 06:52] RA489 commented on #27493
/remove-lifecycle stale

[2021-07-14 06:53] RA489 commented on #27868
/kind support

[2021-07-14 07:17] harridu opened #28936 "Issue with k8s.io/docs/setup/production-environment/container-runtimes/"
About https://kubernetes.io/docs/setup/production-environment/container-runtimes/#containerd-systemd: "containerd config default" generates
[code]
so I wonder if your "SystemdCgroup = true" (in CamelCase) is correct?

[2021-07-14 08:42] sftim commented on #27974
I don't think this is a support request - it sounds like a website bug. Albeit one that's intermittent and might have been fixed.
/remove-kind support

[2021-07-14 08:51] chenxuc commented on #28924
I found an example for nfs storageClass with [nfs-subdir-external-provisioner](https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner) provided by kubernetes-sigs GitHub organizations. I think we can add a link to that example.

/triage accepted
/assign

[2021-07-14 09:00] chenxuc commented on #28936
The current document is correct. "systemd_cgroup" is deprecated. Refer to
https://github.com/kubernetes/website/pull/24605

/kind support

[2021-07-14 10:42] #26460 closed

[2021-07-14 13:10] BioGeek commented on #26998
/remove-lifecycle stale

@nunix Can you comment if this is something you're still working on?

@sharifelgamal  mentioned in issue #10343 that proper support for WSL with the docker and none drivers is in the roadmap for this year, so maybe you're waiting on that?

[2021-07-14 13:22] dpstratascale commented on #28450
Sorry for the late update. After some additional testing, it seems that the version of Kubernetes causes the issue.
If we use Kubernetes v1.19+ (eks cluster) with certificates.k8s.io/v1 the certificates are approved but not generated.
another cluster (aks) running Kubernetes version 1.18.19 with certificates.k8s.io/v1beta1 generates and approves the certs without any issue.

The EKS cluster used t

[2021-07-14 14:08] sheisnicola commented on #28924
Hi @chenxuc!

Yes, that was my initial reading on this particular page of documentation, but is is very ambiguous to me. I did find some documentation on the subject eventually when proceeding to read about Physical Volume definitions using the in-tree kubernetes.io/nfs class at https://github.com/kubernetes/examples/tree/master/staging/volumes/nfs, but if anything it just confused the issue even

[2021-07-14 14:40] neolit123 commented on #27868
I can reopen https://github.com/kubernetes/kubernetes/issues/95455

You can comment there.
/close

[2021-07-14 14:40] #27868 closed

[2021-07-14 15:33] Dapperton-prog commented on #28936
deprecated

[2021-07-14 15:39] Dapperton-prog commented on #28890
/assign

[2021-07-14 15:40] #28925 closed

[2021-07-14 15:42] Dapperton-prog commented on #28892
/assign

[2021-07-14 16:40] stormqueen1990 commented on #13939
Hello there!
I would like to update the `CronJob` documentation page in Portuguese: https://kubernetes.io/pt-br/docs/concepts/workloads/controllers/cron-jobs/

[2021-07-14 16:41] rikatz commented on #13939
Thanks @stormqueen1990 and go for it. Just make sure you add your GH handler in the spreadsheet

[2021-07-14 17:43] shannonxtreme opened #28943 "Improve Assigning Pods to Nodes"
Page: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/

This page could use a review and update for consistency, clarity, and style. Some sections read like tasks instead of conceptual information, and there's a few areas where the headings and readability are not in line with our style guidelines.

/assign
/sig docs
/triage accepted
/language en
/kind cleanup

[2021-07-14 22:02] 1125f3da-6abf-4975-9a7d-841cc7f1b38e commented on #28894
<script data-ad-client="ca-pub-6931829307441387" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

[2021-07-15 00:55] jihoon-seo commented on #28892
To @Dapperton-prog :
@kaushambisharma has already assigned himself/herself,
and posted a PR (#28923).

[2021-07-15 00:58] tengqm commented on #28894
/close

[2021-07-15 00:58] #28894 closed

[2021-07-15 01:02] jihoon-seo commented on #28890
To @Dapperton-prog :
@Patil2099 has already assigned himself/herself,
and posted a PR (#28900).

[2021-07-15 06:32] jihoon-seo opened #28949 "[ko] Number is wrong in numbered list"
**This is a Bug Report**

**Problem:**
In https://kubernetes.io/ko/docs/contribute/participate/roles-and-responsibilities/#리뷰어-되기 ,
number is wrong in numbered list.

![image](https://user-images.githubusercontent.com/46767780/125739596-eea93361-9889-4969-a629-d2f9bd781843.png)

**Proposed Solution:**
Fix indent in https://github.com/kubernetes/website/edit/main/content/ko/docs/contribute/particip

[2021-07-15 07:24] yuswift commented on #28949
/cc @jihoon-seo

[2021-07-15 07:26] jihoon-seo commented on #28949
/assign @yuswift

[2021-07-15 08:28] yuswift commented on #28949
/assign

[2021-07-15 09:37] seokho-son commented on #28746
/milestone dev-1.21-ko.6

[2021-07-15 09:43] seokho-son commented on #28746
Done!

/close

[2021-07-15 09:43] #28746 closed

[2021-07-15 09:44] seokho-son commented on #28949
/triage accepted

[2021-07-15 09:48] sftim opened #28955 "Mention container probes in https://k8s.io/docs/concepts/workloads/pods/"
**This is a Feature Request**

**What would you like to be added**
The [Pod](https://kubernetes.io/docs/concepts/workloads/pods/) concept should mention [container probes](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#container-probes).

**Why is this needed**

- Make sure that a reader can find “probe” in https://kubernetes.io/docs/concepts/workloads/pods/ if they search-in-pa

[2021-07-15 09:50] #28949 closed

[2021-07-15 12:02] slayer321 commented on #28955
Hey @sftim, I will like to take up this issue.

[2021-07-15 12:14] iRachana06 commented on #28897
Working locally, is fine. Locally on own minikube setup, its working fine. On the katacoda environment that is provided with the Documentation, kubectl apply command gives error.: https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/
 Attaching screenshot for reference

![image](https://user-images.githubusercontent.com/68515362/125786070-8a438f33-a3d2-4fc9-a562-87aba5cbf0e

[2021-07-15 12:51] anubha-v-ardhan commented on #28955
Thanks @slayer321
/assign @slayer321

[2021-07-15 12:57] harridu opened #28959 "Issue with k8s.io/docs/setup/production-environment/container-runtimes/"
AFAICT you have to set
[code]
on the kernel command line to enable memory support in cgroup and cgroup v2 (probably). Its mentioned on https://docs.docker.com/config/containers/runmetrics/, for example.

This should be mentioned in your documentation for the various container runtimes as well.

[2021-07-15 12:59] savitharaghunathan commented on #27515
/remove-lifecycle stale

[2021-07-15 13:41] anubha-v-ardhan opened #28960 "Grammatical Mistake in kubernetes.io/community/"
**This is a Bug Report**

**Problem:**
In the statement `advocate for it's adoption and innovation` , we are talking about the adoption of Kubernetes. Hence, possessive pronoun, "its" should be used.

**Proposed Solution:**
Edit the file [https://github.com/kubernetes/website/blob/main/content/en/community/_index.html](url)
`advocate for it's adoption and innovation` -> `advocate for its adoption

[2021-07-15 13:41] anubha-v-ardhan commented on #28960
/assign

[2021-07-15 13:44] sftim commented on #28959
@harridu I just checked and, on a sample size of 1, my PC doesn't need those extra command line options.

Rather than mentioning the override I think we should tell readers that they need to make sure their Linux-based OS allows using CPU and memory cgroups, _plus_ let them check whether that's true. Then if they learn there's a problem we should encourage readers to look for advice specific to th

[2021-07-15 14:18] #28744 closed

[2021-07-15 14:23] Kartik494 commented on #26984
/remove-lifecycle rotten

[2021-07-15 14:25] seokho-son opened #28962 "Korean Localization for dev-1.21-ko.7 branch"
## In English

**This is a Feature Request**

Korean Localization for `dev-1.21-ko.7` branch.

**What would you like to be added**

Any localization contributions for Korean.

**Comments**

- This issue is to notify the schedule of Korean localization to contributors.
- `dev-1.21-ko.7` is the current work branch for Korean localization.

**Important dates**
- A Korean localization work branch is m

[2021-07-15 14:26] seokho-son commented on #28962
/triage accepted
/milestone dev-1.21-ko.7

[2021-07-15 14:27] seokho-son commented on #28962
The target date for branch merge would be changed according to v1.22 release schedule. (https://www.kubernetes.dev/resources/release/#tldr)

[2021-07-15 14:28] Kartik494 commented on #27439
Hi @sftim rather removing hostpath example, we are having  local volumes [example](https://kubernetes.io/docs/concepts/storage/volumes/#local) here . So what else needs to be replace

[2021-07-15 14:28] Kartik494 commented on #27439
/remove-lifecycle stale

[2021-07-15 14:32] seokho-son opened #28963 "Outdated Korean contents in the dev-1.21-ko.7 branch"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.21-ko.7 branch.

Report generated by the `./scripts/diff_l10n_branches.py ko upstream/dev-1.21-ko.6 upstream/dev-1.21-ko.7`

### 27 files to be modified
1. [ ] M1.  `content/en/docs/concepts/architecture/cloud-controller.md`  | 1(+XS) 1(-)
1. [ ] M2.  `content/en/docs/concepts/architecture/nodes.md`  | 1(+XS) 1(-)
1. [ ] M3.  `

[2021-07-15 14:33] seokho-son commented on #28963
/triage accepted

[2021-07-15 14:33] seokho-son commented on #28963
/milestone dev-1.21-ko.7

[2021-07-15 14:43] seokho-son commented on #28963
M27. content/en/docs/tutorials/stateless-application/guestbook.md | 222(+L) 188(-)
에 변경 사항이 많아보이지만,
대부분 들여쓰기나 개행에 대한 조정이라 큰 부담은 없을 것 같습니다. 참고하시기 바랍니다.

[2021-07-15 15:28] savitharaghunathan commented on #28820
/triage accepted

[2021-07-15 17:54] hw-claudio opened #28967 "Highlight development tools for that get feedback from running code within Kubernetes"
https://k8s.io/docs/tasks/debug-application-cluster/crictl/

completely misses what docker has, and crictl hasn't.

docker commit
docker save

how to do that?

[2021-07-15 18:12] slayer321 commented on #28955
adding [container probe](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#container-probes) in the [pod](https://kubernetes.io/docs/concepts/workloads/pods/) docs must be as a new heading or it must be the subpart of the other content?

if we are adding it as a new heading then is this format correct?

### Container probes
A Probe is a diagnostic performed periodically by the kube

[2021-07-15 19:16] bbarnes52-zz opened #28968 "Issue with k8s.io/docs/tasks/extend-kubernetes/configure-aggregation-layer/"
There appears to be some incorrect statements in [CA Reusage and Conflicts sections](https://kubernetes.io/docs/tasks/extend-kubernetes/configure-aggregation-layer/#ca-reusage-and-conflicts)

[code]

I have observed the following behavior: if the CN does match one of the acceptable common names in `--requestheader-allowed-names` and both `--client-ca-file` and `--requestheader-client-ca-file` are

[2021-07-15 22:37] tachylatus opened #28969 "Object Names and IDs referring to wrong RFC?"
I am no expert on RFCs, but I could not find any precise definitions of DNS subdomains or labels in the linked to memo RFC 1123.

https://kubernetes.io/docs/concepts/overview/working-with-objects/names/
https://datatracker.ietf.org/doc/html/rfc1123

After a quick internet search, I found RFC 1035, which contains a formal definition of the name syntax in BNF, on page 8.

https://datatracker.ietf.or

[2021-07-16 09:04] sftim commented on #28968
/sig api-machinery
/sig auth

[2021-07-16 09:04] #28960 closed

[2021-07-16 09:05] sftim commented on #28967
Within the context of **Monitoring, Logging, and Debugging**: how are the commands `docker commit` and `docker save` useful?

That explanation will help us decide if those omissions are a drawback or actually that it's OK given the scope of that page.

[2021-07-16 09:45] DanSu93 opened #28975 "Issue with k8s.io/ru/docs/concepts/overview/kubernetes-api/"
There is an error on Russian language.
"...Когда это случится, мы да**и**м инструкции по миграции" correct is "даем"

[2021-07-16 10:24] hw-claudio commented on #28967
for debugging it's useful to do slight modifications to containers and save the results.

If another place is better to document how to do docker commit and docker save, by all means. A path to help existing docker users navigate how to do the same things with this new set of tools is sorely missing.

[2021-07-16 11:31] niteshseram commented on #28975
/language ru

[2021-07-16 15:39] dilyanpalauzov opened #28977 "Kubernetes Scheduler: use distinct names for Scheduling Policies and Scheduling Policies"
https://kubernetes.io/docs/concepts/scheduling-eviction/kube-scheduler/#kube-scheduler-implementation says:
[code]

Where _Scheduling Policies_ are hyper links, pointing to different locations.

If there are two ways to achieve something, the names of the ways must be distinct.

[2021-07-16 15:44] aliakbar-hemmati commented on #28628
Hi,
I would like to work on this issue. How can I find better explanation for the interactions? Is it required to read source code?

[2021-07-16 16:28] alculquicondor commented on #28628
Most of the content is already in the website and in the issue description above. It needs to be put in the appropriate format.

You could read the initial design: https://github.com/kubernetes/enhancements/tree/master/keps/sig-scheduling/895-pod-topology-spread and the code (but it's probably not necessary): https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/framework/plugins/podt

[2021-07-16 17:55] niteshseram commented on #28977
Hi @dilyanpalauzov, I think you misread the paragraph. It is written as _**Scheduling Policies**_ and _**Scheduling Profiles**_.

[2021-07-16 18:01] dilyanpalauzov commented on #28977
I agree.

[2021-07-16 18:01] #28977 closed

[2021-07-16 19:37] dpstratascale commented on #28450
/kind bug

[2021-07-16 21:21] dannydombrowski opened #28982 "Issue with k8s.io/docs/concepts/scheduling-eviction/taint-and-toleration/"
Broken link in the section https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/#taint-nodes-by-condition

"node conditions" is pointing to https://kubernetes.io/docs/concepts/scheduling-eviction/pod-eviction#node-conditions which returns a 404.

[2021-07-16 23:05] #26415 closed

[2021-07-16 23:38] jihoon-seo commented on #28982
This issue will be resolved when the PR #28797 is merged.
/kind bug
/kind cleanup

[2021-07-17 01:05] #16583 closed

[2021-07-17 01:05] #26535 closed

[2021-07-17 03:12] #28575 closed

[2021-07-17 03:12] #28795 closed

[2021-07-17 04:38] ClaudiaJKang opened #28983 "[ko] Translate docs/tasks/administer-cluster/enable-disable-api.md"
**This is a Feature Request**
Translate [docs/tasks/administer-cluster/enable-disable-api.md](https://github.com/kubernetes/website/blob/dev-1.21-ko.7/content/en/docs/tasks/administer-cluster/enable-disable-api.md) in Korean

**What would you like to be added**

Translate [docs/tasks/administer-cluster/enable-disable-api.md](https://github.com/kubernetes/website/blob/dev-1.21-ko.7/content/en/docs/

[2021-07-17 04:38] ClaudiaJKang commented on #28983
/assign
/triage accepted

[2021-07-17 04:59] jihoon-seo commented on #28982
This issue was resolved by the PR #28797.
/close

[2021-07-17 04:59] #28982 closed

[2021-07-17 08:11] xeathen opened #28985 "Fix Typo: expose-intro.html"
"惟一" is a wrong expression, "唯一" is right.

[2021-07-17 08:53] #28985 closed

[2021-07-17 11:26] habibrosyad commented on #24382
/remove-lifecycle stale

[2021-07-17 12:03] tengqm commented on #28982
/close

[2021-07-17 13:13] chenxuc commented on #28924
@sheisnicola The storage class is used to dynamic provision storage. If you create the PV/PVC manually, it might not need the storage class to use nfs. Sorry that I'm not very familiar with this part and cannot help all your questions.

[2021-07-17 16:02] dastrobu commented on #26110
/remove-lifecycle stale

[2021-07-17 18:46] thevinter opened #28988 "Interactive Tutorial - Configuring a Java Microservice"
The tutorial claims there is a "finished" directory in Step 1:

After doing a `ls` there is no such folder

`$ ls
inventory  kubernetes.yaml  pom.xml  system`

[2021-07-17 18:46] saryeHaddadi opened #28989 "Improvement for k8s.io/docs/tasks/administer-cluster/configure-upgrade-etcd/"
In section "Restoring an etcd cluster", the command to restore a backup is mentionned, thank you very much.
I would like to suggest 3 improvements.

1. In the command, I would replace "snapshotdb", by "/path/to/snapshot.db". I don't know what do you think of that? As for what concerns me, during my first experience, I thought "snapshotdb" was a command, so it wasn't very clear for me how do I make

[2021-07-17 18:53] thevinter commented on #28988
I just realized the "finish" directory was one directory up.

I think the tutorial booted me into the wrong directory on startup. It looks like its not doing it anymore.

[2021-07-17 18:53] #28988 closed

[2021-07-17 21:16] neolit123 commented on #28989
/sig api-machinery cluster-lifecycle
this page is technically owned by api-machinery (etcd integration in k8s - owners).

your requests for changes seem reasonable. PRs with fixes are welcome.
/help
/triage accepted

[2021-07-17 21:16] mshiriv opened #28994 "Issue with /docs/tasks/access-application-cluster/port-forward-access-application-cluster/"
According to doc when applying manifests, get `404 Page not found`:
[code]
[code]
Seems the manifests URL change did not apply to the doc.

[2021-07-17 22:03] jihoon-seo commented on #28994
This issue will be resolved when the PR Add MongoDB deployment and service. #28530 is merged.

(Use Port Forwarding to Access Applications in a Cluster #28823)

- (#28854)

[2021-07-18 08:24] dilyanpalauzov opened #28996 "Declarative Management of Kubernetes Objects Using Kustomize: unknown field 'envs'"
With kubectl version
[code]
I call, as proposed at https://kubernetes.io/docs/tasks/manage-kubernetes-objects/kustomization/:

[code]

The result is

[2021-07-18 10:09] dilyanpalauzov opened #28998 "Declarative Management of Kubernetes Objects Using Kustomize: remove deprecated syntaxes"
https://kubernetes.io/docs/tasks/manage-kubernetes-objects/kustomization/#customizing talks about strategic merge patch and the latter text links to https://github.com/kubernetes/community/blob/master/contributors/devel/sig-api-machinery/strategic-merge-patch.md .  That last file says, that it is deprecated.

https://kubernetes.io/docs/tasks/manage-kubernetes-objects/kustomization/#bases-and-overl

[2021-07-18 13:26] antaloala opened #28999 "StatefulSets"
Document's section: [https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#stable-storage](https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#stable-storage)

Currenty it says:
   **Kubernetes creates one PersistentVolume for each VolumeClaimTemplate**

That is not wrong, but not exact. What about replacing it by something like this:
   **Per each StatefulSet t

[2021-07-18 15:03] slayer321 commented on #28989
Hey @neolit123, I will like to work on this issue.

[2021-07-18 19:34] AnandAseem opened #29000 "Improvement for k8s.io/docs/tasks/tools/install-kubectl-macos/"
Where's complete uninstall instructions for mac - for kubectl and minikube?

[2021-07-18 20:00] pschrey2 opened #29001 "huge whitespace in sidebar menus"
**This is a Bug Report**

**Problem:**
I saw by accident very big page files on Kubernetes documentation.
For example https://kubernetes.io/docs/tasks/ is 21850 lines long and the lines 286-20056 are taken for the sidebar menu containing a lot of whitespace (do right-mouse and "view page source").

**Proposed Solution:**
I reported the issue already with Docsy: https://github.com/google/docsy/issu

[2021-07-18 20:36] neolit123 commented on #28989
sure, go ahead.

[2021-07-18 22:40] #28245 closed

[2021-07-19 01:29] jihoon-seo commented on #29000
How to install kubectl: https://kubernetes.io/docs/tasks/tools/install-kubectl-macos/

### If you installed kubectl binary with curl on macOS

[code]

### If you installed kubectl with [Homebrew](https://docs.brew.sh/Manpage#uninstall-formula) on macOS

[code]

or

[code]

### If you installed kubectl with [Macports](https://guide.macports.org/#using.port.uninstall) on macOS

[code]

---

How to i

[2021-07-19 01:30] lemonit-eric-mao opened #29004 "Pod 安全策略"
我看到此文章当中提到了https://kubernetes.io/zh/docs/concepts/policy/pod-security-policy/

FEATURE STATE: Kubernetes v1.21 [deprecated]
PodSecurityPolicy 在 Kubernetes v1.21 版本中被弃用，将在 v1.25 中删除。

Pod 安全策略使得对 Pod 创建和更新进行细粒度的权限控制成为可能。

但是这里并没有明确说明删除的原因与替代的方案

[2021-07-19 01:34] jihoon-seo commented on #29004
/language zh

[2021-07-19 01:42] jihoon-seo commented on #27951
The `kube-up.sh` script is deprecated.

The `README.md` in [k/k/cluster directory](https://github.com/kubernetes/kubernetes/tree/master/cluster) (where the `kube-up.sh` and `kube-down.sh` scripts exist) says that

[2021-07-19 01:42] jihoon-seo commented on #27934
The `kube-up.sh` script is deprecated.

The `README.md` in [k/k/cluster directory](https://github.com/kubernetes/kubernetes/tree/master/cluster) (where the `kube-up.sh` and `kube-down.sh` scripts exist) says that

[2021-07-19 02:31] jihoon-seo commented on #28989
/assign @slayer321

[2021-07-19 04:11] chhanz opened #29005 "Translate /docs/tasks/configmap-secret/*.md into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate /docs/tasks/configmap-secret/*.md into Korean.
- _index.md
- managing-secret-using-config-file.md
- managing-secret-using-kubectl.md
- managing-secret-using-kustomize.md

**Why is this needed**

Not translate /docs/tasks/configmap-secret/*.md into Korean

**Comments**

https://kubernetes.io/docs/tasks/configmap-secret/
h

[2021-07-19 04:11] chhanz commented on #29005
/language ko
/assign

[2021-07-19 05:22] Shubham82 commented on #28996
Hi @dilyanpalauzov
it is working for me. I used kubectl version v1.21.2
Not working for the v1.20 version of kubectl , so update kubectl version to 1.21

[2021-07-19 05:32] niteshseram commented on #29001
/assign

[2021-07-19 06:00] #28996 closed

[2021-07-19 06:43] petermicuch commented on #27492
Link was fixed

[2021-07-19 06:43] #27492 closed

[2021-07-19 07:31] Kartik494 commented on #26819
Hi @salanhess if you are fine with the solutions, you can close this issue

[2021-07-19 08:02] anubha-v-ardhan opened #29008 "Grammatical error in install-kubeadm.md"
**This is a Bug Report**

**Problem:**
The statement `For information how to create a cluster with kubeadm once you have performed this installation process` seems grammatically incorrect due to missing "on" after "information".

**Proposed Solution:**
`For information how to create a cluster with kubeadm once you have performed this installation process` -> `For information on how to create a clu

[2021-07-19 08:12] basanaguk commented on #29008
/assign

[2021-07-19 08:46] su225 opened #29010 "Potentially outdated documentation mentioning `PodSecurityPolicy`"
**Page to Update:**
https://kubernetes.io/docs/tutorials/clusters/apparmor/#restricting-profiles-with-the-podsecuritypolicy

Kubernetes is deprecating `PodSecurityPolicy` as mentioned [here](https://kubernetes.io/blog/2021/04/06/podsecuritypolicy-deprecation-past-present-and-future/). But in the page linked there is not even a mention of PSP being deprecated. Either that section should be removed

[2021-07-19 09:37] Kartik494 commented on #28999
I would like to work on this

/assign

[2021-07-19 10:08] jihoon-seo commented on #29010
For anyone's information:

In https://kubernetes.io/docs/concepts/policy/pod-security-policy/

PodSecurityPolicy is being replaced by a new, simplified `PodSecurity` admission controller. For more details on this change, see [PodSecurityPolicy Deprecation: Past, Present, and Future](https://kubernetes.io/blog/2021/04/06/podsecuritypolicy-deprecation-past-present-and-future/). Follow these guidelin

[2021-07-19 10:21] #22356 closed

[2021-07-19 10:29] Kartik494 commented on #28999
Hi @antaloala i have raised a [PR](https://github.com/kubernetes/website/pull/29012) this.

[2021-07-19 10:34] Shubham82 commented on #29010
/assign
I would like to work on this.

[2021-07-19 11:20] ClaudiaJKang opened #29013 "[ko] Translate docs/tasks/administer-cluster/enabling-topology-aware-hints.md"
**This is a Feature Request**
Translate [content/ko/docs/tasks/administer-cluster/enabling-topology-aware-hints.md](https://github.com/kubernetes/website/blob/dev-1.21-ko.7/content/en/content/ko/docs/tasks/administer-cluster/enabling-topology-aware-hints.md) in Korean

**What would you like to be added**

Translate [content/ko/docs/tasks/administer-cluster/enabling-topology-aware-hints.md](https:/

[2021-07-19 11:39] Shubham82 commented on #29010
fixed it here: #29014

[2021-07-19 11:44] ClaudiaJKang commented on #29013
/triage accepted

/assign

[2021-07-19 12:17] neolit123 commented on #29008
/sig cluster-lifecycle
/triage accepted

[2021-07-19 17:21] chrisnegus commented on #25944
@sftim Since [PR #28608](https://github.com/kubernetes/website/pull/28608) has been merged, I think we can close this Issue.

[2021-07-20 06:42] jihoon-seo opened #29027 "[ko] Wrong Korean translations"
**This is a Bug Report**

**Problem:**
- `PodCondition` / `pod condition` 이 `파드(의) 조건` 으로 번역된 경우가 있음.
- `node condition` 이 `노드(의) 조건` 으로 번역된 경우가 있음.

**Proposed Solution:**
Replace:
- `파드 조건` -> `파드 컨디션`
- `파드의 조건` -> `파드의 컨디션`
- `노드 조건` -> `노드 컨디션`
- `노드의 조건` -> `노드의 컨디션`
- `조건` -> `컨디션` (문맥을 잘 파악하면서 선택적으로 replace 해야 함)

**Page to Update:**
- https://kubernetes.io/ko/docs/concepts/workloads/pods/

[2021-07-20 07:02] Kartik494 commented on #28861
@sgpinkus yes the statement in documentation seems confusing i.e if the PersistentVolumeClaim objects that do not request any specific storage class and automatically adds a default storage class to them,  then why there is need to enable dynamic storage class for  `PVC.storageClassName` !

[2021-07-20 07:20] Kartik494 commented on #28627
@tvanbesi I have tried it on my environment and got to know that my wordpress pod is still in `CreateContainerConfigError` state but  when i describe my pod i got an error stated ` Error: secret "mysql-pass" not found` but secret is already in my environment!

`kubectl get secret
NAME                                           TYPE                      DATA   AGE
mysql-pass-5m26tmdb5k             O

[2021-07-20 07:22] Kartik494 commented on #28627
I have running this on minikube  with latest version
`Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.0", GitCommit:"cb303e613a121a29364f75cc67d3d580833a7479", GitTreeState:"clean", BuildDate:"2021-04-08T16:31:21Z", GoVersion:"go1.16.1", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.0", GitCommit:"cb303e613a121a29

[2021-07-20 07:29] Kartik494 commented on #28334
Hi @iampronoy if i got your point right you are asking here to put an description for storage class object which this pvc is using?

[2021-07-20 07:32] Kartik494 commented on #28340
Hi @dolimoon6000 can you check with pod state? i got an error for not getting secret configured to the pod. Even if its running fine

[2021-07-20 11:05] AdamHollow49 commented on #26199
Ran into this today - comments here saved it! No note added to tutorial yet?

[2021-07-20 11:24] sftim commented on #26199
@AdamHollow49 if you'd like to [propose](https://kubernetes.io/docs/contribute/) a fix, the Kubernetes special interest group for documentation can help you do that.

Like Kubernetes itself, the documentation is open source. Most improvements are done by volunteers.
/remove-lifecycle stale

[2021-07-20 17:00] ryanmarsh opened #29035 "Improvement for k8s.io/docs/tasks/job/automated-tasks-with-cron-jobs/"
I had to use batch/v1beta1 for a cronjob this should be updated in the docs as well.
kubectl version
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.2", GitCommit:"092fbfbf53427de67cac1e9fa54aaa09a28371d7", GitTreeState:"clean", BuildDate:"2021-06-16T12:52:14Z", GoVersion:"go1.16.5", Compiler:"gc", Platform:"darwin/arm64"}
Server Version: version.Info{Major:"1", Minor:"19+",

[2021-07-20 17:32] Atharva-Shinde commented on #28892
its been 6 days and still no MR, should I assign this to me as I have found the duplicate pngs..I am a beginner too.

[2021-07-20 18:06] sftim commented on #25645
https://github.com/kubernetes/website/pull/28036#issuecomment-883482828 mentions running this past SIG Architecture to check that folks are happy with the approach.

* _This_ issue is about switching the page to be driven by local data (in `/data` within the repo)
* a future change could build on that to switch to using remote data. Hugo can fetch and deserialize JSON data, via https, then render

[2021-07-20 18:42] sftim opened #29036 "Create GitHub project board for upcoming blog articles"
**This is a Feature Request**

**What would you like to be added**
Create a GitHub project board for blog articles

**Why is this needed**
The blog subproject wants to track which articles are in the pipeline for publication and how those are going.

**Comments**
We'll need to track embargoed articles, perhaps with a placeholder item.

/area blog

[2021-07-20 19:03] sftim commented on #29036
https://github.com/kubernetes/website/projects/11

[2021-07-20 19:13] shannonxtreme commented on #28077
Fixed in https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios/pull/37

[2021-07-20 20:35] #26611 closed

[2021-07-20 21:04] lukeschlather opened #29040 "Improvement for k8s.io/docs/concepts/workloads/controllers/ttlafterfinished/"
This doc says FEATURE STATE: Kubernetes v1.21 [beta] but it is unclear if that means that the feature does not exist at all in v1.20.

[2021-07-20 21:09] chrisnegus opened #29041 "Move "Kubernetes Blog Subproject" content to "Contribute to K8s docs""
**This is a Feature Request**

Content from the [Kubernetes Blog Subproject](https://github.com/kubernetes/community/tree/master/sig-docs/blog-subproject) should be moved to a page under [Contribute to K8s docs](https://kubernetes.io/docs/contribute/).

**What would you like to be added**
Ways to go about this:

- Move the content from Kubernetes Blog Subproject and leave a pointer to the new cont

[2021-07-20 21:10] chrisnegus commented on #29041
I'd be glad to take on the PR for this myself.

[2021-07-20 22:29] sftim commented on #28077
This is OK to close, right? Anything more we need to do to fix it?

[2021-07-20 22:29] sftim commented on #29036
/close
Done

[2021-07-20 22:30] #29036 closed

[2021-07-21 01:23] robscott opened #29044 "New task page for CVE-2021-25740 mitigation"
**This is a Feature Request**

**What would you like to be added**
A new task page that covers the mitigation in described by https://github.com/kubernetes/kubernetes/issues/103675. This was originally proposed by @sftim: https://github.com/kubernetes/website/pull/29025#discussion_r673141630

**Why is this needed**
This would help provide visibility to the mitigation of this CVE.

[2021-07-21 04:42] anubha-v-ardhan commented on #29027
/assign

[2021-07-21 04:58] jihoon-seo commented on #29027
@anubha-v-ardhan I think that someone who is a Korean native speaker is appropriate for this issue.

[2021-07-21 05:06] anubha-v-ardhan commented on #29027
yup, sorry for inconvenience
/unassign

[2021-07-21 05:37] abhineettikoo opened #29049 "Write content for Cluster Architecture concept"
Can we have a cluster architecture diagram (Low-level architecture ) on this page?

[2021-07-21 06:04] #29010 closed

[2021-07-21 08:42] sftim commented on #29044
/sig security network auth
/triage accepted

[2021-07-21 11:31] shannonxtreme commented on #28077
Nope, good to close!

[2021-07-21 11:32] sftim commented on #28077
Thanks @shannonxtreme
/close

[2021-07-21 11:32] #28077 closed

[2021-07-21 11:38] TBBle commented on #26335
![image](https://user-images.githubusercontent.com/138397/126480140-0748eac6-f56b-437e-802f-30247be98906.png)

[That](https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/#pause-image) looks reasonable to me, so perhaps we can close this now, since the docs refer to `k8s.gcr.io/pause:3.5` for use on both Linux and Windows.

That said, it [looks like](https://

[2021-07-21 11:49] TBBle opened #29056 "Clarify/simplify Windows Pause image"
**This is a Feature Request**

**What would you like to be added**

![image](https://user-images.githubusercontent.com/138397/126480140-0748eac6-f56b-437e-802f-30247be98906.png)

This is not totally clear, in terms of answering the question "What should my pause image be?".

**Why is this needed**

Listing `mcr.microsoft.com/oss/kubernetes/pause:3.4.1` first suggests it's primary, but:
1. It is li

[2021-07-21 11:50] TBBle commented on #26335
I suspect k8s-ci-robot doesn't honour commands in edits. ^_^

/close

[2021-07-21 11:50] #26335 closed

[2021-07-21 13:52] neolit123 commented on #29056
@kubernetes/sig-windows-feature-requests

[2021-07-21 14:25] gOATiful opened #29057 "DNS name for pods / services can not start with an alphanumeric character"
**This is a Bug Report**

**Problem:**
Pod / Service names can not start with an alphanumeric character in kubernetes, but should be possible according to RFC1123

**Proposed Solution:**
Change documentation in sections `DNS Subdomain Names` and `DNS Label Names` to:
`* start with an alphabetic character`

or

change kubernetes name check to use the specification in RFC1123.

**Page to Update:**
h

[2021-07-21 15:28] xinydev opened #29058 "Update deprecated kubectl flag delete-local-data in kubeadm docs"
**This is a Bug Report**

**Problem:**

https://github.com/kubernetes/website/blob/main/content/en/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md#remove-the-node

[code]
Flag --delete-local-data has been deprecated, This option is deprecated and will be deleted. Use --delete-emptydir-data.

I don’t know if it’s a good time to update this flag . If so, I can help update i

[2021-07-21 15:32] xinydev commented on #29058
cc @neolit123

[2021-07-21 15:34] jsturtevant commented on #29056
The image is built from the same source with fewer targets. For Windows images the files are signed by Microsoft which is requirement for many organizations.

There use to be divergence between the images because the official pause image didn't have support for Windows but since https://github.com/kubernetes/kubernetes/pull/91452 we can build using the same build tooling.  Since 3.4.1 both gcr and

[2021-07-21 15:55] chrisnegus commented on #29041
/assign

[2021-07-21 15:56] chrisnegus commented on #29041
/triage accepted

[2021-07-21 16:12] neolit123 commented on #29058
i see the discussion / PR here:
https://github.com/kubernetes/kubernetes/issues/80228
https://github.com/kubernetes/kubernetes/pull/95076

using `--delete-emptydir-data` in the kubeadm docs makes sense.

/triage accepted
/help

[2021-07-21 16:34] xinydev commented on #29058
/assign

[2021-07-21 17:04] marosset commented on #29056
One difference (that may be big or small depending on the environment you are running in) is that all binaries in the MCR image are Authenticode signed by MS even though they are built from the same source.

[2021-07-21 17:07] marosset commented on #29056
/triage accepted
/assign

[2021-07-21 17:20] sftim commented on #27150
/remove-lifecycle rotten
We should triage this properly. @mjbright can you clarify the feedback you wanted to report?

[2021-07-21 17:32] chrismetz09 commented on #29049
something like this? https://brennerm.github.io/posts/kubernetes-overview-diagrams.html

[2021-07-21 20:51] chrisnegus commented on #25944
On second thought, I'm going to do a small PR against the [api-conventions](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#types-kinds) page to note this issue. Descriptions of PodList and many others in the API point to that page.

[2021-07-21 22:39] nate-double-u opened #29064 "Notifications for issues & PRs labeled as `area/blog`"
**This is a Feature Request**

**What would you like to be added**

Is it possible to send notifications for specific areas of interest? Currently it seems like GitHub's system is not able to notify based on labels (or on project/milestone changes). Does Prow has this ability to email groups on events (maybe I've missed something)?

**Why is this needed**

There are a lot of areas of interest in t

[2021-07-21 22:52] abhineettikoo commented on #29049
Yes, it is more descriptive. Thanks.

[2021-07-21 23:16] nate-double-u opened #29065 "Update Blog group list of groups in K8s groups.yaml file"
**This is a Feature Request**

**What would you like to be added**

We should update the Blog group in the https://github.com/kubernetes/k8s.io/blob/main/groups/groups.yaml file.

**Why is this needed**

https://github.com/kubernetes/k8s.io/blob/main/groups/groups.yaml seems to be out of date -- there are some members in the Blog group that may no longer be active, and there are new folks that are

[2021-07-22 00:31] tengqm commented on #27681
There is no single driver fo CSI volumes so such a link is impossible. CSI is a spec, not a driver implementation.
/close

[2021-07-22 00:31] #27681 closed

[2021-07-22 08:09] sgpinkus opened #29071 "Kubernetes Components :: Misleading and confusing diagram."
The opening diagram [here](https://kubernetes.io/docs/concepts/overview/components/) is misleading and adds to the confusion about *what is the control-plane exactly?*. It shows etcd, kube-apiserver, kube-controller-manager, kube-scheduler, cloud-controller-manager all existing in some mysterious blue box not associated with any node. These things run on "nodes" don't they?? Where else would they

[2021-07-22 12:05] #28500 closed

[2021-07-22 12:26] ClaudiaJKang opened #29075 "[ko] Translate content/ko/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods.md"
**This is a Feature Request**
Translate [content/ko/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods.md](https://github.com/kubernetes/website/blob/dev-1.21-ko.7/content/en/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods.md) in Korean

**What would you like to be added**

Translate [content/ko/docs/tasks/administer-cluster/guaranteed-scheduling-critic

[2021-07-22 12:26] ClaudiaJKang commented on #29075
/triage accepted

/assign

[2021-07-22 12:55] #28786 closed

[2021-07-22 14:45] liggitt commented on #28866
completed in #28903

/close

[2021-07-22 14:45] #28866 closed

[2021-07-22 15:51] #26654 closed

[2021-07-22 16:56] matteaston opened #29083 "Issue with k8s.io/docs/tasks/administer-cluster/encrypt-data - command provides invalid base64 string"
Under the [Encrypting your data](https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/#encrypting-your-data) section, the provided command to generate a 32 byte random key and then base64 encode it does not work. This looks like it is due to a newline character being included in the base64 encoded string - when this is used in the 'EncryptionConfiguration' file then the api server retu

[2021-07-22 17:19] hollander-cegeka opened #29084 "Improvement for k8s.io/docs/concepts/extend-kubernetes/service-catalog/"
Where does one find the value of key topic?

[2021-07-22 17:42] nate-double-u commented on #28892
fixed in https://github.com/kubernetes/website/pull/28923
/close

[2021-07-22 17:42] #28892 closed

[2021-07-22 20:15] #29008 closed

[2021-07-22 21:45] neolit123 opened #29086 "API reference docs show "invalid type" for certain fields"
fields with compound / external types such as metav1.Duration are shown as "invalid type":
https://kubernetes.io/docs/reference/config-api/kubeadm-config.v1beta2/#kubeadm-k8s-io-v1beta2-Discovery
see "timeout".

ideally we should show the original type even if it is not clickable / href.
godoc has it clickable:
https://pkg.go.dev/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2#Discovery

ot

[2021-07-22 21:45] neolit123 commented on #29086
/sig docs
cc @tengqm

[2021-07-22 21:52] csantanapr commented on #13948
@raelga could you add the sections of networking and storage I posted as comments to the main comment at the top, this way we can start assigning folks as they pick pages to translate.

[2021-07-22 22:48] edithturn commented on #13948
@csantanapr to start could I take this?
- [ ] [concepts/storage/volume-snapshot-classes/](https://kubernetes.io/docs/concepts/storage/volume-snapshot-classes/)

[2021-07-23 01:12] tengqm commented on #29086
I'll track this at https://github.com/kubernetes-sigs/reference-docs.
Closing it here.

[2021-07-23 02:12] tengqm commented on #27682
This one can be closed. Pls feel free to reopen if the issue still persists.
/close

[2021-07-23 02:12] #27682 closed

[2021-07-23 06:14] eglookz opened #29097 "The PrepareNode.ps1 script disappeared after the last changes"
Please change the link at https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/#install-wins-kubelet-and-kubeadm ("Adding Windows nodes" page):
https://github.com/kubernetes-sigs/sig-windows-tools/releases/latest/download/PrepareNode.ps1

with the new one:
https://raw.githubusercontent.com/kubernetes-sigs/sig-windows-tools/master/kubeadm/scripts/PrepareNode.ps1

[2021-07-23 07:48] tengqm commented on #24950
A different idea would be fixing/splitting the concepts/services-networking/service.md file so that kube-proxy specific contents can be provided in a separate section. Currently the content is embedded in https://kubernetes.io/docs/concepts/services-networking/service/#virtual-ips-and-service-proxies

[2021-07-23 07:54] tengqm commented on #29057
Kubernetes does not strictly follow the RFC.

[2021-07-23 07:56] gOATiful commented on #29057
this might be true, but the documentation says otherwise.

https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#dns-subdomain-names
eg.
`Most resource types require a name that can be used as a DNS subdomain name as defined in RFC 1123.`

[2021-07-23 07:57] tengqm commented on #29057
According to the validation logic, starting with alphanumeric characters should be okay. Can you paste the error message you have got?

[2021-07-23 07:59] tengqm commented on #29057
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/util/validation/validation.go#L177-L217

[2021-07-23 08:25] sftim commented on #24950
We could split some of the behind-the-scenes kube-proxy details into the reference section. After all, you could in theory deploy a compliant node (passing all tests) without running any of the existing kube-proxy code.

[2021-07-23 08:26] sftim commented on #24950
/remove-lifecycle rotten
/lifecycle frozen

[2021-07-23 08:41] sftim commented on #29084
I think
/kind support

I wasn't sure what question you're asking @hollander-cegeka

[2021-07-23 08:52] chenxuc commented on #29097
@eglookz Welcome and thanks for the first issue here!
I will look into this issue.
/assign

[2021-07-23 10:23] LyleXu opened #29099 "kubeadm join"
in the master node, I create the k8s master with kubeadm(1.18.19).
but in the worker node, when I use the join command (kubeadm version on the worker node is 1.18.19), the worker node k8s version is 1.21.3. How can I let the worker node k8s version is the same as master 1.18.19?

[2021-07-23 10:44] mcbenjemaa opened #29101 "kube-apiserver: Term replicationcontrollers is deprecated"
In the `component tools/kube-apiserver` I notice that there's the term `replicationcontrollers` which was deprecated.

It's better to change the term `replicationcontrollers` to `Deployments` (for example).

Ref:
https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/

/sig docs
/good-first-issue

[2021-07-23 11:17] sftim commented on #22997
/reopen
/lifecycle frozen

[2021-07-23 11:20] sftim commented on #29101
Caution, though: https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/ is generated documentation.

See https://kubernetes.io/docs/contribute/generate-ref-docs/kubernetes-components/

[2021-07-23 11:21] sftim commented on #29071
You don't have to run the control plane on a node. We could mention in this page that sometimes (probably quite often) you do, but it's by no means required.

[2021-07-23 11:23] sftim commented on #29071
The components have to run on _something_ but if that turns out to be a cluster of bare metal Raspberry Pi boards, that's fine. Also, you don't have to run the same control plane components on every host that participates in the control plane; again, it's common to do that, but not required.

[2021-07-23 11:23] sftim commented on #29071
@sgpinkus does this help you frame the improvement you'd like made?

[2021-07-23 11:33] chenxuc commented on #29097
/triage accepted
/kind bug

[2021-07-23 11:33] anubha-v-ardhan commented on #29101
/assign

[2021-07-23 11:45] basanaguk commented on #29101
/assign

[2021-07-23 11:53] anubha-v-ardhan commented on #29099
/kind support

[2021-07-23 12:42] sgpinkus commented on #29071
@sftim yes helps a bit. Thanks.

My understanding is control plane components except for etcd have to run on a "node" where "node" is a networked host with a container runtime, kubelet, and kube-proxy on it. This is because they actually run as Pods. I thought about if it's possible to run the required control-plane component over different nodes such all are running but not all are running on the

[2021-07-23 12:54] sftim commented on #29071
It's tricky because this is a concept people meet early on. We want to be accurate and helpful whilst offering the chance to dig deeper into the topics that interest the reader.

One learning outcome I have in mind is that readers are clear that the control plane doesn't have to run as Pods. I'm happy to hyperlink to another page that shows an example the control plane components running on specia

[2021-07-23 13:47] stormqueen1990 commented on #13939
Hello there!

I'd like to review and update the Addons page, under Cluster Administration concepts: https://kubernetes.io/pt-br/docs/concepts/cluster-administration/addons/

[2021-07-23 14:12] neolit123 commented on #29099
For more help / questions try asking in #kubernetes-users on k8s slack or stack overflow.

You just have to install the specific k8s version with the package manager. Search online about it pinning a version.

/close

[2021-07-23 14:12] #29099 closed

[2021-07-23 14:16] neolit123 commented on #29097
Instead you can request a new release in the sig windows tools repo, by logging an issue there.
Linking to the master branch there is not a good idea.

/sig windows

[2021-07-23 14:17] neolit123 commented on #29097
Also what problems are you seeing?

[2021-07-24 00:41] sftim commented on #29065
@nate-double-u - or anyone - would you be willing to ping existing members there and see what level of involvement they're happy to have?

[2021-07-24 00:42] sftim commented on #29071
/priority awaiting-more-evidence
/sig docs

[2021-07-24 00:54] sftim commented on #29049
I'd like to see a change where we simplify [Kubernetes Components](https://kubernetes.io/docs/concepts/overview/components/) so that (for example) `kube-controller-manager` in [Kubernetes Components](https://kubernetes.io/docs/concepts/overview/components/) becomes a one line summary that links to a longer explanation in [Cluster Architecture](https://kubernetes.io/docs/concepts/architecture/).

A

[2021-07-24 00:54] sftim commented on #29049
/retitle Write content for Cluster Architecture concept

[2021-07-24 00:55] sftim commented on #29049
Relevant to #29071 as well

[2021-07-24 00:58] sftim commented on #29049
/sig architecture

[2021-07-24 00:59] sftim commented on #29086
/wg api-expression

[2021-07-24 01:16] sgpinkus commented on #29071
Yeah it is tricky. All I can say is, as someone learning k8, I had the question "where do the things in that blue dash box actually run, and how are they related to the "nodes"?" firmly stuck in my head for a day or two, and I feel that could  be alleviated with some clarifications at this point in the doc.

[2021-07-24 02:04] sftim commented on #28323
Fixed in PR #28738
/close

[2021-07-24 02:04] #28323 closed

[2021-07-24 06:34] Kartik494 commented on #29084
@hollander-cegeka could you give details for what value you are referencing here?

[2021-07-24 06:53] Kartik494 opened #29106 "Align Secret Documentation for MySecret UseCase"
1. A secret is been created named `mysecret` as [UseCase](https://kubernetes.io/docs/concepts/configuration/secret/#use-cases) and it's been referred to edit documentation in starting as [editing](https://kubernetes.io/docs/concepts/configuration/secret/#editing-a-secret) of the page . As a reader it might seems confusing for  editing a secret name mysecret which is not been created yet .
2. The p

[2021-07-24 06:54] Kartik494 commented on #29106
/assign

[2021-07-24 06:54] Kartik494 commented on #29106
@sftim Could you please take a look on that. Thanks!

[2021-07-24 08:56] dilyanpalauzov opened #29107 "Feedback on grammar in Service concept page"
The first sentence https://kubernetes.io/docs/concepts/services-networking/service/:

has no verb.  Moreover, describing the term Service by using the term “network service” is not good.

[2021-07-24 09:03] xiaofhe opened #29108 "Wrong output of 'id' command in "Configure a Security Context for a Pod or Container""
1. Original text:
https://kubernetes.io/docs/tasks/configure-pod-container/security-context/
Chart: Set the security context for a Pod
Pod's yaml file is liste below :

apiVersion: v1
kind: Pod
metadata:
  name: security-context-demo
spec:
  securityContext:
    **runAsUser: 1000
    runAsGroup: 3000
    fsGroup: 2000**

Run the following command in the POD:
$ id
uid=1000 gid=3000 **groups=2000**

[2021-07-24 12:50] chenxuc commented on #29083
@matteaston I tried the original command but kube-apiserver seems starts normally. Where do you see the `Error: error while parsing encryption provider configuration file...` error message, is it in the kube-apiserver's log during start?

[2021-07-24 19:16] abeltre1 commented on #27078
@raelga is this issue still opened ?  I noticed that @SivaTharun was assigned to it. No updates have been posted here.

[2021-07-25 05:35] bhumijgupta commented on #29057
@tengqm I tried locally, and getting this error
![image](https://user-images.githubusercontent.com/30751793/126888918-1f7f4100-fad2-49ea-aa03-3910b085a7f3.png)

[2021-07-25 07:01] chenxuc commented on #29004
@lemonit-eric-mao Welcome and thank you for your first issue here!
The Chinese page you mentioned is out of sync with [English version](https://kubernetes.io/docs/concepts/policy/pod-security-policy/). As the English version page points out, you can refer to [this blog](https://kubernetes.io/blog/2021/04/06/podsecuritypolicy-deprecation-past-present-and-future/) for more information for how to han

[2021-07-25 11:17] #28955 closed

[2021-07-25 11:27] tengqm commented on #29057
@bhumijgupta Just double checked the validation logic for core v1 Service. Its name must be a RFC1035 label rather than a RFC1123 label. This is something we need to fix in the docs.
Related code: https://github.com/kubernetes/kubernetes/blob/47e1df8f4e86af1904ec9b3ecf427e1f1178be6e/staging/src/k8s.io/apimachinery/pkg/api/validation/generic.go#L53

[2021-07-25 11:59] tengqm commented on #29057
/triage accepted
/kind bug
/assign

[2021-07-26 01:31] tsndqst opened #29117 "Incorrect runtime-config parameters in 1.22 API removal blog post"
**This is a Bug Report**

**Problem:**
Incorrect runtime-config parameters in 1.22 API removal blog post

**Proposed Solution:**
In the [Rehearse for the upgrade](https://kubernetes.io/blog/2021/07/14/upcoming-changes-in-kubernetes-1-22/#rehearse-for-the-upgrade) section, the runtime-config parameters should look like this:
[code]
`authorization.k9s.io/v1` should be `authorization.k8s.io/v1beta1`

[2021-07-26 03:51] vaibhav2107 commented on #29117
/assign

[2021-07-26 09:06] sftim commented on #29117
Oops.

/area blog
/priority important-soon
/triage accepted

Thanks for reporting this @tsndqst

[2021-07-26 11:20] #29058 closed

[2021-07-26 11:42] yuswift commented on #29101
/assign

[2021-07-26 12:02] raelga commented on #27078
Hey @abeltre1 we are reviewing @SivaTharun pull request.

[2021-07-26 12:29] yuswift commented on #29101
I'm not sure if this page refers to https://github.com/kubernetes/kubernetes/blob/584658a17d958f0b663cb39dec1907cbba641300/cmd/kube-apiserver/app/server.go#L98
If so, I think we need to open a pr for Kubernetes, then we can update the docs.

[2021-07-26 12:50] mcbenjemaa commented on #29101
@yuswift  yes and then
you should use
https://github.com/kubernetes-sigs/reference-docs

to generate the component docs

[2021-07-26 14:55] ClaudiaJKang commented on #29027
/triage accepted

[2021-07-26 16:08] shannonxtreme commented on #29049
I mocked up a diagram for the main Cluster Architecture page. It abstracts the control plane and nodes. Any suggestions for making it clearer in the diagram that you can see the individual concepts for more detailed diagrams? Or do we clarify that in the text?

![sampleclusterarchitecture](https://user-images.githubusercontent.com/30392854/127021954-3eed06dd-954b-49b3-9223-2bd38b34707e.jpg)

(I ha

[2021-07-26 22:13] sftim commented on #29117
Fixed
/close

[2021-07-26 22:13] #29117 closed

[2021-07-26 22:13] sftim commented on #29107
/language en

[2021-07-26 22:31] sftim commented on #29049
Remember that the cloud provider API integration is optional; I wouldn't want to lose that detail.
In the key to the simplified diagram, I would want to make it clear that Nodes are the places where containers execute.

Can we draw a diagram around the nodes to show “cluster network”? Does that help?

[2021-07-27 00:18] #29057 closed

[2021-07-27 01:50] LyleXu commented on #29099
Hi There,

Thanks for your response.
What I cannot understand is that "kubeadm init" provide the specific kubernetes version to install, while using "kubeadm join", it always get the lastest version of kubernetes. My issue is that kubeadm is v1.18.19, kubernetes master is v1.18.19, while using the kubeadm join, the kubernetes on the worker node is v1.21.3.  It does not make sense.

Regarding "you

[2021-07-27 03:25] tengqm commented on #29099
Looks like we need to clarify this in the docs. Node components (`kubelet`, `kube-proxy`) are installed using the Linux package manager, they are not installed using `kubeadm`.

[2021-07-27 04:27] LyleXu commented on #29099
Hi Qiming,

Thanks for your response.
I have resolved my issue. Not sure why the worker node kublet is isntalled as v1.21.3. After reinstall the v1.18.19, it's ok now.
Thank you very much.
Have a nice day !

Regards,
Lyle

[2021-07-27 05:21] #26414 closed

[2021-07-27 05:40] #4322 closed

[2021-07-27 06:13] tengqm commented on #27714
/close
This is fixed by resync'ing the content with English.
Feel free if that is not the case.

[2021-07-27 06:13] #27714 closed

[2021-07-27 07:30] yuswift commented on #29101
There are lots of codes related to `replicationcontroller`. IMO, if we just update the two reference codes, the Kubernetes upstream will not approve the pr cause there still remains a lot of codes. I guess we need to wait for the community to deprecate the `replicationcontroller` officially, then the page will be updated.
https://github.com/kubernetes/kubernetes/search?q=replicationcontrollers&typ

[2021-07-27 07:37] chenxuc commented on #29097
The problem is that the link `https://github.com/kubernetes-sigs/sig-windows-tools/releases/latest/download/PrepareNode.ps1` is dead. We need to replace it with the link in raw.githubusercontent.com.

[2021-07-27 07:37] chenxuc commented on #29097
/assign steven-my

[2021-07-27 07:43] yuswift commented on #29108
Hi, I tried to use v1.19.8, here is the output.
[code]

[2021-07-27 07:49] steven-my commented on #29097
/assign

[2021-07-27 09:48] #28924 closed

[2021-07-27 10:12] sftim commented on #12303
/lifecycle frozen

[2021-07-27 14:30] shannonxtreme commented on #29049
@sftim like this?

![sampleclusterarchitecture](https://user-images.githubusercontent.com/30392854/127172232-ca879ce5-cf39-47f1-9633-9c919f4bf149.png)

And then for the control plane architecture, this?

![detailedclusterarchitecture](https://user-images.githubusercontent.com/30392854/127172306-33bc0119-8017-4ae4-9769-3568a062e32d.png)

[2021-07-27 14:52] tpepper opened #29132 "TLS error accessing predicted URL of archived docs"
**This is a Bug Report**

**Problem:**

If I manually go to a page such as https://v1-21.docs.kubernetes.io/docs/home/, having observed the versioned url scheme and knowing 1.21 is the current released version and I presuming it should give a valid url, I get a "Privacy error" from my browser:

<details>
  <summary> NET::ERR_CERT_COMMON_NAME_INVALID</summary>

Subject: *.netlify.app

Issuer: DigiC

[2021-07-27 14:54] tpepper commented on #29132
I do wonder if this is simply not yet a valid/configured page.  Telling my browser to proceed despite the SSL error, I get a page showing nothing but, eg:
[code]

[2021-07-27 16:03] jimangel commented on #29132
Leaving a comment here and will link back to the slack discussion:

This is intended behavior, 1.21 is the latest page/version (`main` branch). Clicking it does nothing because you are already there! Updating the URL is to a URL that does not exist until 1.22 is created / rolled over via docs.

Is there a better way to present this information, or a use case we're missing, to avoid relying on inst

[2021-07-27 16:22] bbugh commented on #28724
@bhumijgupta the command line reference page still lists `convert` - https://kubernetes.io/docs/reference/kubectl/overview/

[2021-07-27 16:25] #26609 closed

[2021-07-27 17:03] sftim commented on #29132
Ah, this slightly relates to #12303
We could use Netlify for the live documentation sites and have some different wildcard DNS record direct people to an HTTPS site that serves a friendlier 404 page. Maybe a 410 for once-valid docs?

[2021-07-27 17:04] sftim commented on #29132
I know how to do all the necessary technical bits for what I just wrote. So far I haven't prioritised putting time into that.

[2021-07-27 17:36] #28762 closed

[2021-07-27 18:30] vaibhav2107 commented on #28410
Fixed in PR #28609

[2021-07-27 18:31] vaibhav2107 commented on #27409
Fixed in PR #28458

[2021-07-27 18:35] alculquicondor commented on #28410
Thanks!

/close

[2021-07-27 18:35] #28410 closed

[2021-07-27 18:39] vaibhav2107 commented on #27011
Fixed in PR #27027

[2021-07-27 18:42] jimangel commented on #29132
I think potentially adding a `1.xx (current)` parenthetical snip to the right of the latest version might clear things up. However this might set the expectation that the short code updates to "`(current)`" depending on version / URL. While possible, that adds a lot more complexity in the version marker shortcode. 🤷

[2021-07-27 19:28] liggitt commented on #28721
/assign @tallclair
for last two items

[2021-07-27 21:03] sftim commented on #15560
Perhaps it's OK to combine two task pages, or simply to remove https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/ and redirect it to https://kubernetes.io/docs/tasks/access-application-cluster/service-access-application-cluster/

https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/#securing-the-service covers TLS; that could split

[2021-07-27 22:08] sftim commented on #29132
/retitle TLS error accessing https://v1-21.docs.kubernetes.io/

[2021-07-27 22:35] sftim commented on #27409
Thanks!
/close

[2021-07-27 22:35] #27409 closed

[2021-07-28 00:59] tengqm commented on #27011
/close

[2021-07-28 00:59] #27011 closed

[2021-07-28 02:51] #28895 closed

[2021-07-28 03:31] tengqm commented on #27736
/remove-lifecycle stale
/assign

[2021-07-28 04:44] benbolivar opened #29137 "Add diagnostic advice for “Indexed Job for Parallel Processing with Static Work Assignment”"
$JOB_COMPLETION_INDEX is not being set as an environment resulting to all jobs/pods working on the first element of the array only (items[0], to be exact items[""]).  All pod logs will show output of "oof" and not work through the array.

[2021-07-28 08:25] hollander-cegeka commented on #29084
My question is about this snippet:

env:
          - name: "TOPIC"
            valueFrom:
                secretKeyRef:
                   name: provider-queue-credentials
                   key: topic

If I understand this correctly:The name of secretKeyRef (provider-queue-credentials) is the name of a ServiceBinding (not a Secret) and the key of secretKeyRef is a key defined within a Secret that

[2021-07-28 08:59] #27736 closed

[2021-07-28 09:00] sftim commented on #29137
If this outcome is because the `IndexedJob` feature gate is not enabled, we could help readers troubleshoot this by adding a note callout about why you might see “oof” as the only output.

[2021-07-28 10:02] dilyanpalauzov opened #29139 "TLS bootstrapping: it has an ability to…"
https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet-tls-bootstrapping/#token-authentication-file says:

My subjective intuition proposes a better wording:

[2021-07-28 10:05] yuswift commented on #29139
Thanks. Could you find more wordings and open a pr for the repo?
/help
/good-first-issue

[2021-07-28 10:37] benbolivar commented on #29137
Thanks that would indeed be helpful.

I was also able to figure it out and was able to make the code work after adding —feature-gate=IndexedJob in both the kube-api and cube-controller manifests.

Thanks again.

Ben

[2021-07-28 11:01] dilyanpalauzov commented on #29139
I am not going to do anything more, apart from saying that this wording is suboptimal.

[2021-07-28 12:47] sftim commented on #25758
/remove-lifecycle rotten

We should document what's possible now. If we wanted an API mechanism (a successor to ComponentStatus perhaps?), that'd need as KEP.

[2021-07-28 12:47] sftim commented on #29139
/kind cleanup

[2021-07-28 12:48] sftim commented on #29139
/remove-good-first-issue
(good-first-issue is best added when there is a volunteer to help shepherd new contributors). Still merits /help

/language en
/priority backlog
/triage accepted

[2021-07-28 12:50] sftim opened #29140 "“Kubelet TLS Bootstrapping” uses outdated wording"
**This is a Bug Report**

**Problem:**
[Kubelet TLS Bootstrapping](https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet-tls-bootstrapping/) uses the outdated term “master” and “master node”.

**Proposed Solution:**
Replace references to the control plane that use the term “master” with the current term: “control plane”.

**Page to Update:**
https://kubernetes.io/docs/reference

[2021-07-28 12:51] sftim commented on #29140
/retitle “Kubelet TLS Bootstrapping” uses outdated wording

[2021-07-28 12:51] sftim commented on #29065
/triage accepted

[2021-07-28 13:19] niteshseram commented on #29140
I would like to take up this issue

[2021-07-28 13:48] niteshseram commented on #29140
/assign

[2021-07-28 15:23] #29140 closed

[2021-07-28 16:24] jgarriso opened #29142 "Kubernetes Security and Disclosure Information"
On https://kubernetes.io/docs/reference/issues-security/security/ a link is offered to subscribe to an RSS feed (https://groups.google.com/forum/feed/kubernetes-security-announce/msgs/rss_v2_0.xml?num=50) for the kubernetes-security-announce group.

However, the RSS feed link results in a 404 error. Will the ability to subscribe to an RSS feed for kubernetes-security-announce be restored anytime s

[2021-07-28 16:41] bhumijgupta opened #29143 "kubectl command reference page lists “kubectl convert” (which is provided by a plugin)"
**This is a Bug Report**

**Problem:**
kubectl-convert is now a plugin and does not come bundled with kubectl, but the [kubectl operation table](https://kubernetes.io/docs/reference/kubectl/overview/#operations) still lists convert as a operation

**Proposed Solution:**
Remove the reference of convert from operations

**Page to Update:**
https://kubernetes.io/docs/reference/kubectl/overview/#opera

[2021-07-28 16:41] bhumijgupta commented on #29143
/sig cli

[2021-07-28 16:44] sftim commented on #27745
We do have https://kubernetes.io/docs/concepts/scheduling-eviction/api-eviction/ but not the API reference.

[2021-07-28 17:20] sftim commented on #29143
We could also leave it in the table but mark that it depends on an in-tree plugin that you must already have installed onto your client.

[2021-07-28 17:21] sftim commented on #29143
/language en

[2021-07-28 17:21] sftim commented on #29143
/retitle kubectl command reference page lists “kubectl convert” (which is provided by a plugin)

[2021-07-28 17:22] sftim commented on #29142
/kind bug
/sig security

[2021-07-28 17:33] sftim commented on #29137
/kind feature
/priority backlog
/language en

[2021-07-28 17:34] sftim commented on #29137
/triage accepted
/retitle Add diagnostic advice for “**Indexed Job for Parallel Processing with Static Work Assignment**”

Page to revise is https://kubernetes.io/docs/tasks/job/indexed-parallel-processing-static/

[2021-07-28 17:49] bhumijgupta commented on #29143
Sure. I will create a PR for this

[2021-07-28 19:59] shannonxtreme commented on #15560
/assign

[2021-07-28 20:03] shannonxtreme commented on #15560
https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/ is a concept page but it's mostly steps. I'm going to try to do the following:

1. Separate the conceptual info and keep it on https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/ to better describe the model.
2. Combine https://kubernetes.io/docs/concepts/services-networking/conn

[2021-07-28 20:03] shannonxtreme commented on #15560
/remove-lifecycle stale

[2021-07-28 20:14] shannonxtreme commented on #29142
I'm pretty sure Google Groups no longer supports RSS feeds.

[2021-07-28 20:41] #26671 closed

[2021-07-29 02:35] lemonit-eric-mao commented on #29004
@chenxuc  I see. Thank you

[2021-07-29 02:35] lemonit-eric-mao commented on #29004
@chenxuc I see. Thank you

[2021-07-29 02:35] #29004 closed

[2021-07-29 04:47] jeroenlandheer opened #29149 "The URLs to sig-windows-tools do not work (404)"
There are some URLs to the `sig-windows-tools` repo on github, they all return 404's.

The links are:
https://github.com/kubernetes-sigs/sig-windows-tools/releases/download/windows-containerd-hostprocess/flannel-host-gw.yml
https://github.com/kubernetes-sigs/sig-windows-tools/releases/download/windows-containerd-hostprocess/kube-proxy.yml

Are there any alternatives for these?

[2021-07-29 05:30] pschrey2 commented on #29001
The hugo Docsy theme side issue is resolved and closed: https://github.com/google/docsy/issues/637

When will somebody review and implement pull request #29006 ? You can do this separate from a Docsy theme update at https://github.com/kubernetes/website/tree/main/themes. It is only about (huge) whitespace reduction, not a functional change. But k8s website users will benefit in user experience.

[2021-07-29 07:58] niteshseram commented on #29149
I think this issue is somewhat related to #29097
/sig windows
/kind bug

[2021-07-29 13:56] ClaudiaJKang commented on #28963
M13-M26 는 제가 처리해보겠습니다~

- M13-M26: @ClaudiaJKang

[2021-07-29 15:41] sftim commented on #25832
/remove-lifecycle stale

[2021-07-29 16:33] ShivamTyagi12345 commented on #29101
/assign

[2021-07-29 16:44] #29143 closed

[2021-07-29 17:02] code-reaper08 opened #29155 "Misalignment in /community, on mobile browsers."
**This is a Bug Report**

**Problem:**
There is a slight misalignment problem with the `Discussions` section of [https://kubernetes.io/community/](https://kubernetes.io/community/)

![1](https://user-images.githubusercontent.com/64256342/127533531-c0d59248-e67e-4465-bc16-6bfc99bbb523.png)

**Proposed Solution:**
Remove the  `font-size` from media queries, `(min-width:450px) and (max-width:600px)`

[2021-07-29 17:09] code-reaper08 commented on #29155
/assign @code-reaper08

[2021-07-29 20:09] sandipanpanda commented on #29139
I want to work on this. Can you assign me?

[2021-07-29 21:09] #28370 closed

[2021-07-29 21:29] celestehorgan commented on #29155
/area web-development
/triage accepted

[2021-07-29 22:33] sftim commented on #29139
SIG Docs policy is that anyone who wants to can open a pull request for any issue. If someone has said they plan to work on something, and you also want to work on it, it's friendly to get in touch with them first.

If two valid PRs are open for the same issue (it does happen), usually we merge the oldest one and close the other one.

[2021-07-30 00:30] yuswift commented on #29139
if you wat to work on this, you just need to leave a comment "/assign".

[2021-07-30 01:32] tengqm commented on #29139
/assign @sandipanpanda

[2021-07-30 03:01] #25171 closed

[2021-07-30 05:58] seokho-son commented on #28963
M27 on me !
/assign

[2021-07-30 10:09] sftim commented on #27370
/remove-lifecycle rotten

[2021-07-30 10:11] #29097 closed

[2021-07-30 10:12] sftim commented on #29149
Hi @jeroenlandheer

Would you be willing to add the URL(s) of the documentation page that needs fixing?

[2021-07-30 11:17] jeroenlandheer commented on #29149
@sftim Sure, but the issue is really that the 'latest' link points to the 'Windows ContainerD Host Process" in the "Kubernetes-sig" repo, while the yaml files referred to are in the "Kubeadm for Windows v0.1.5" release.

Once that release gets an update, these URL will not point to the latest releease anymore, hence every time they release a new "Kubeadm for Windows" version these links needs to g

[2021-07-30 11:20] sftim commented on #29149
If someone told me that this was fixed, and I wanted to check if they were right, is there a web page within https://kubernetes.io/docs/ that I could visit and look to see how they'd addressed the problem?

If the problem is just in https://github.com/kubernetes-sigs/sig-windows-tools/ then I would file an issue there instead.

[2021-07-30 11:20] sftim commented on #29149
/triage needs-information

[2021-07-30 11:26] sftim commented on #29044
/priority important-longterm

(anyone: feel free to raise that, with a justification)

[2021-07-30 11:39] ClaudiaJKang opened #29164 "[ko] Fix wrong link in assign-pod-node.md"
**This is a Bug Report**

**Problem:** In [scheduling-eviction/assign-pod-node korean page](https://kubernetes.io/ko/docs/concepts/scheduling-eviction/assign-pod-node), there is worng link related to labels-annotations-taints.

**Proposed Solution:**
Change link `[잘 알려진 레이블, 어노테이션 및 테인트](/docs/reference/labels-annotations-taints/)` to `[잘 알려진 레이블, 어노테이션 및 테인트](/ko/docs/reference/labels-annotations

[2021-07-30 11:40] ClaudiaJKang commented on #29164
/triage accepted

[2021-07-30 11:47] niteshseram commented on #29149
If I am not wrong, this might be the page https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/
The `flannel-host-gw.yml` file can be accessed using https://raw.githubusercontent.com/kubernetes-sigs/sig-windows-tools/master/kubeadm/flannel/flannel-host-gw.yml with _raw.githubusercontent.com_ .
And `ube-proxy.yml` file can be accessed using https://raw.githubusercontent.

[2021-07-30 12:38] anushkamittal20 commented on #29164
/assign

[2021-07-30 12:41] woaiso opened #29165 "运行于多可用区环境"
失效区 -> 时区？

[2021-07-30 12:41] #29165 closed

[2021-07-30 13:05] Darshnadas commented on #29164
Is anyone working on it? If no, then I would like to work on it.

[2021-07-30 13:05] jeroenlandheer commented on #29149
The pages I found broken links on are:

- https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/
- https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/upgrading-windows-nodes/
(This doesn't mean there aren't more, but they do all have to do with Kubernetes on Windows)

@niteshseram Those URL's point to the repository of those files, but they aren't necessarily th

[2021-07-30 13:10] sftim commented on #29149
/sig cluster-lifecycle

[2021-07-30 13:10] sftim commented on #29149
/remove-triage needs-information

[2021-07-30 13:11] sftim commented on #29149
/triage accepted
Thanks

[2021-07-30 13:19] raelga commented on #13948
@anyulled Se ha añadido la sección al tracking, por lo que si quieres empezar con alguna, deja un comentario y lo apuntamos.
@edithturn Te acabo de asignar esa página.
@csantanapr Ya tienes ambas secciones en el tracking.

[2021-07-30 13:21] edithturn commented on #13948
@raelga wohoo!  Muchas gracias!

[2021-07-30 13:52] #28983 closed

[2021-07-30 13:52] #29013 closed

[2021-07-30 14:20] neolit123 commented on #29149
These documents and the repository are techinically owned by sig windows.

Having multiple projects in the same repository without distinctive versioning can be a problem. Instead of linking to the master branch, released docs at k/website could link to git SHAs or release tags of the repository.

/sig windows
You can try bringing this topic for discussion in #sig-windows on k8s slack.

[2021-07-30 14:36] csantanapr commented on #13948
Gracias @raelga 🎉

[2021-07-30 15:10] #26784 closed

[2021-07-30 15:52] anyulled commented on #13948
Hola @raelga estoy trabajando en la de volúmenes. Solo que estuve un poco liado por la JBcnConf, espero acabar este finde o la semana que viene. Saludos

[2021-07-30 15:53] anyulled commented on #13948
Concept/storage/volumes

[2021-07-30 16:09] sftim commented on #25866
/remove-lifecycle rotten

[2021-07-30 16:29] ShivamTyagi12345 commented on #29164
/assign

[2021-07-30 16:38] tscswcn opened #29170 "Submitting blog posts and case studies"
fgggg

[2021-07-30 16:59] #29164 closed

[2021-07-30 20:15] #26718 closed

[2021-07-31 06:35] tengqm commented on #29170
/close

[2021-07-31 06:35] #29170 closed

[2021-07-31 21:23] #26822 closed

[2021-07-31 21:23] #24443 closed

[2021-08-01 03:24] tengqm commented on #24627
/reopen
This is still a valid issue.

[2021-08-01 03:24] tengqm commented on #24627
/lifecycle frozen

[2021-08-01 03:29] #28875 closed

[2021-08-01 13:21] SeongJuMoon opened #29179 "[ko] kubeadm cluster upgrade"
https://kubernetes.io/ko/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/

[Korean]
시작하기 전에 섹션 이후로 설명하는 CoreDNS에 대한 오타가 있어 제보드립니다.

[English]
Dear, ko-kr localization teams.

I found typo that after before started section.
in my opinion, the typo, must be changed to coreDNS.

![image](https://user-images.githubusercontent.com/35333506/127772202-65b8ad41-6a57-4196-b4ef-c65d5aba5372.png)

[2021-08-01 14:16] ClaudiaJKang commented on #29179
@SeongJuMoon 제보 감사합니다.

/triage accepted
/language ko
/assign

[2021-08-01 14:24] p4pramod opened #29181 "Unable to follow Ingress with NGINX task in Katacoda"
At  step - > Create an Ingress resource

`kubectl apply -f https://k8s.io/examples/service/networking/example-ingress.yaml`

I am getting following error

unable to recognize "https://k8s.io/examples/service/networking/example-ingress.yaml": no matches for kind "Ingress" in version "networking.k8s.io/v1"

[2021-08-01 16:51] vaibhav2107 commented on #28579
Fixes in #28583

[2021-08-01 18:11] sftim commented on #29181
/kind support
https://kubernetes.io/blog/2021/07/14/upcoming-changes-in-kubernetes-1-22/ might be relevant. Essentially, the key thing is to make sure that the version of the documentation you're reading is for the version of Kubernetes that you're running.

[2021-08-01 18:20] sftim opened #29183 "Announce upcoming 2021 Kubecon events"
**This is a Feature Request**

**What would you like to be added**
Add scheduled announcements for Kubecon 2021 North America and China

**Why is this needed**
We want to publicize these events on our website.

**Comments**
Edit https://github.com/kubernetes/website/blob/main/data/announcements/scheduled.yaml to list the scheduled events. It's OK to schedule the announcements well before the event

[2021-08-01 18:21] sftim commented on #29183
[Linux Foundation events calendar](https://events.linuxfoundation.org/about/calendar/)

[2021-08-01 18:53] sayantani11 commented on #29183
Hey, I am new to the community and wanted to contribute.
Wanted to know if I can work on this issue?

[2021-08-01 19:23] sftim commented on #29183
Most of what's needed here is “glue” work @sayantani11 - find existing announcements, find details of the upcoming events, find branding and logos for those events.

If you can find those, you're welcome to open a draft PR. You can also find the [`#sig-docs`](https://kubernetes.slack.com/messages/sig-docs) channel on Slack - see https://slack.k8s.io/ for an invitation - and ask for advice there. Y

[2021-08-01 19:31] sftim commented on #29107
How about this phrase (adapted from one useselsewhere on the site):

?

[2021-08-01 19:35] sayantani11 commented on #29183
@sftim I joined the slack.
I wanted a clarification, the link you provided, does it have all the events?
And am I supposed to list only those?

[2021-08-01 19:36] dilyanpalauzov commented on #29107
This is not the only purpose of the Service.  The Service can be used to distribute internal load between Pods.

[2021-08-01 20:37] sftim commented on #29183
The change should add two separate future-dated announcements, one for each of:
- [Kubecon 2021 North America](https://events.linuxfoundation.org/kubecon-cloudnativecon-north-america/)
- [Kubecon 2021 China](https://www.lfasiallc.com/kubecon-cloudnativecon-open-source-summit-china/)

It's also OK to submit those as two separate pull requests.

[2021-08-01 20:38] sftim commented on #29107
That's a good point! Let's aim to capture that detail too. Services can be about exposing a workload, but they can also be about discovery.

[2021-08-01 20:39] sftim commented on #29107
/sig network
/triage accepted
/priority backlog
/kind cleanup

[2021-08-01 20:40] sftim commented on #20074
/wg api-expression
/lifecycle frozen

[2021-08-01 20:41] sftim commented on #20074
/remove-wg naming

[2021-08-01 20:44] sftim commented on #14770
/reopen
/lifecycle frozen

We still need to do this

[2021-08-01 20:45] sftim commented on #14770
Closed issue https://github.com/kubernetes/website/issues/9122 is apposite too
/sig network
/triage accepted

[2021-08-01 20:46] sftim commented on #14770
Also relevant: issue #29107 (about the very first sentence)

[2021-08-01 20:48] sftim commented on #16091
/remove-priority important-soon
/priority important-longterm

[2021-08-01 20:49] sftim commented on #27338
/lifecycle frozen

[2021-08-01 20:50] sftim commented on #25371
We now have https://kubernetes.io/docs/tasks/administer-cluster/migrating-from-dockershim/
/close

[2021-08-01 20:50] #25371 closed

[2021-08-01 20:50] sftim commented on #20232
/remove-priority important-soon
/priority important-longterm

[2021-08-01 20:50] sftim commented on #20232
(it's clear that we didn't staff any remaining work on this well enough to achieve it “soon”)

[2021-08-01 20:52] sftim commented on #28037
As we've missed this for v1.22
/remove-priority important-soon
/priority important-longterm

[2021-08-01 20:54] sftim commented on #27338
/retitle Search engines indexing old releases

Also, the _upcoming_ release is also being indexed and we don't actually want that. Same cause I think.

[2021-08-01 20:56] sftim commented on #29155
/priority backlog

[2021-08-01 21:11] sayantani11 commented on #29183
So I edit the events in this file https://github.com/kubernetes/website/blob/main/data/announcements/scheduled.yaml right?

[2021-08-01 21:12] sftim commented on #29183
You will also need to make sure you use the right logo image.

[2021-08-01 21:12] sayantani11 commented on #29183
Cool

[2021-08-02 01:02] p4pramod commented on #29181
Th issue  is that the steps are not working in KATACODA leave alone on local env. For replication of issue please follow the steps mentioned on the webpage below on the page itself.

https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/

[2021-08-02 01:37] #26829 closed

[2021-08-02 02:03] guedes84 opened #29185 "Clarify nature of CRI-O in container runtimes page"
Cri-o in https://cri-o.io/, is descibed as "Container Runtime Interface" not "container runtime", but in https://kubernetes.io/docs/setup/production-environment/container-runtimes/#cri-o cri-o is described as container runtime, like containerd. CRI isnt CR.

[2021-08-02 07:10] rayw000 opened #29186 "Static pods page is missing"
**This is a Bug Report**

**Problem:**
Static Pods link on page https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/#manual-certificate-renewal is missing.

**Proposed Solution:**
Perhaps one of the followings works.
1. Repair the broken link on certificate renewal page.
2. Add page `/docs/tasks/configure-pod-containerstatic-pod/`

**Page to Update:**
https://kubernetes.io/do

[2021-08-02 08:46] Shubham82 commented on #29186
/assign
I can work on this.

[2021-08-02 10:08] Shubham82 commented on #29186
Fixed it here: #29188

[2021-08-02 10:36] yuswift commented on #29185
IMO, Cri-o is a `LIGHTWEIGHT CONTAINER RUNTIME FOR KUBERNETES`.
The [link](https://cri-o.io/) also says
`CRI-O is an implementation of the Kubernetes CRI (Container Runtime Interface)`

[2021-08-02 11:01] #29186 closed

[2021-08-02 11:10] sftim opened #29189 "Document addonmanager.kubernetes.io/mode label"
**This is a Feature Request**

**What would you like to be added**
Update [Well-Known Labels, Annotations and Taints](https://kubernetes.io/docs/reference/labels-annotations-taints/) to mention and document the label `addonmanager.kubernetes.io/mode`

**Why is this needed**
https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/addon-manager/README.md mentions a label `addonmanager.ku

[2021-08-02 11:15] sftim commented on #29185
My take:
CRI-O is an adapter. From the CRI's point of view, CRI-O looks like a container runtime. However, CRI-O.
implements the Kubelet Container Runtime Interface (CRI) using OCI conformant runtimes. So you also need an OCI conformant container runtime for CRI-O to be useful.

/retitle Clarify nature of CRI-O in container runtimes page.

[2021-08-02 11:17] sftim commented on #29049
Actually, for all these diagrams, it might be helpful to show the cloud provider's API as being outside the cluster.

[2021-08-02 12:37] #26815 closed

[2021-08-02 12:53] warmchang commented on #28969
The long story(discuss): https://github.com/kubernetes/kubernetes/issues/199
And the final identifiers: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/architecture/identifiers.md#definitions

[2021-08-02 12:54] spiffxp commented on #22489
/remove-lifecycle rotten
/reopen
Noticed someone else had tried removing this label, not sure why it didn't take

[2021-08-02 15:09] ClaudiaJKang opened #29194 "[ko] Translate /tasks/debug-application-cluster/debug-running-pod.md"
**This is a Feature Request**
Translate [/content/en/docs/tasks/debug-application-cluster/debug-running-pod.md](https://github.com/kubernetes/website/blob/main/content/en/docs/tasks/debug-application-cluster/debug-running-pod.md) in Korean

**What would you like to be added**

Translate [/content/ko/docs/tasks/debug-application-cluster/debug-running-pod.md] in Korean

**Why is this needed**

This

[2021-08-02 15:09] #29179 closed

[2021-08-02 15:19] sftim commented on #29183
/triage accepted

[2021-08-02 19:14] sftim commented on #29183
/committee steering
only because the steering committee have final approval on all announcements added to the website

[2021-08-03 02:45] prasannavalluru commented on #20810
how to come out of full screen

[2021-08-03 09:55] sftim commented on #17598
/triage accepted
/lifecycle frozen

[2021-08-03 09:55] sftim commented on #28691
/triage accepted
/lifecycle frozen

[2021-08-03 09:55] sftim commented on #18231
/triage accepted
/lifecycle frozen

[2021-08-03 09:56] sftim commented on #19309
/triage accepted
/lifecycle frozen
/priority important-longterm

[2021-08-03 09:57] sftim commented on #21621
https://kubernetes.io/docs/tasks/administer-cluster/highly-available-control-plane/ now replaces https://kubernetes.io/docs/tasks/administer-cluster/highly-available-master/

[2021-08-03 09:58] sftim commented on #21867
/area web-development
(ish)

[2021-08-03 09:59] sftim commented on #28691
/priority backlog
/sig contributor-experience

[2021-08-03 10:41] Kartik494 commented on #29084
if i understood it correctly you want to add  a use case  example for getting  the `TOPIC` env value i.e from where this key value comes from?

[2021-08-03 12:26] sftim commented on #29181
/remove-kind support
Thanks for clarifying.

This Katacoda environment is out of date. We should update it.
/kind bug
/triage accepted

[2021-08-03 12:27] sftim commented on #28897
/remove-kind support
/kind bug

[2021-08-03 13:14] sftim opened #29204 "Minikube playground (Katacoda) uses dated Kubernetes version"
**This is a Bug Report**

**Problem:**
The Minikube playground (pages such as [Hello Minikube](https://kubernetes.io/docs/tutorials/hello-minikube/)) launches Kubernetes v1.17
This is a shortcoming because there is drift between what we're documenting in pages like https://k8s.io/docs/tasks/access-application-cluster/ingress-minikube/, and what actually works in the Katacoda environment.

**Propos

[2021-08-03 13:15] sftim commented on #27493
/triage accepted
/remove-team katacoda

[2021-08-03 13:16] sftim commented on #27935
/triage accepted
/remove-team katacoda

[2021-08-03 13:16] sftim commented on #27935
/kind bug
/remove-kind support

[2021-08-03 13:17] sftim commented on #29204
This causes:
- #27493
- #27935
- #28897
- #29181

[2021-08-03 13:17] sftim commented on #27493
/retitle Unable to follow Ingress with NGINX task in Katacoda

[2021-08-03 13:18] sftim commented on #27493
/retitle Unable to follow Ingress with NGINX task in Katacoda

[2021-08-03 13:18] sftim commented on #29181
/retitle Unable to follow Ingress with NGINX task in Katacoda

[2021-08-03 13:18] sftim commented on #28897
/retitle Unable to follow Ingress with NGINX task in Katacoda

[2021-08-03 13:18] sftim commented on #27935
/retitle Unable to follow Ingress with NGINX task in Katacoda

[2021-08-03 13:19] sftim commented on #27935
/triage duplicate
First reported in #27493

[2021-08-03 13:19] sftim commented on #28897
/triage duplicate
First reported in #27493

[2021-08-03 13:19] sftim commented on #29181
/triage duplicate
First reported in #27493

[2021-08-03 13:20] sftim commented on #28897
/triage accepted
We'll focus work on issue #29204

[2021-08-03 13:21] sftim commented on #29204
/triage accepted

[2021-08-03 13:21] sftim commented on #24080
https://github.com/kubernetes/website/issues/29204 points to the underlying cause
/remove-kind support

[2021-08-03 13:22] sftim commented on #24080
/retitle Unable to follow Ingress with NGINX task in Katacoda

[2021-08-03 13:22] sftim commented on #27493
Similar to issue #24080

[2021-08-03 13:23] sftim commented on #24080
/remove-team katacoda
/triage accepted
We'll focus work on issue #29204

[2021-08-03 13:24] sftim commented on #29139
Fixed in #29172 I think
/close

[2021-08-03 13:24] #29139 closed

[2021-08-03 13:25] sftim commented on #24080
/remove-team katacoda

[2021-08-03 16:23] AnirudhPanda opened #29207 "Everything except one h2 is centered"
**This is a Bug Report**

Every header on [this page](https://kubernetes.io/training/) is centered except the one shown
![is1](https://user-images.githubusercontent.com/66218496/128050993-4a461ff6-c2da-4071-98f3-1089524d5c1f.PNG)

**Proposed Solution:**
I would like to center it like all the headers on the page so that looks clean and flexible
**Page to Update:**
https://kubernetes.io/training/

[2021-08-03 16:37] PI-Victor opened #29208 "kubernetes/website release 1.22 freeze"
This issue freezes the k/website repo and should remain open till 1.22 is officially released!
The release is scheduled to happen tomorrow 4th of August and No PRs are allowed to merge until the release PR has successfully merged.

If there are any questions, please contact me or anyone from the docs release team

cc: @ashnehete @carlisia @chrisnegus @ritpanjw

/sig release

[2021-08-03 16:38] PI-Victor commented on #29208
/triage accepted

[2021-08-03 18:43] apmarshall opened #29210 "Interactive Tutorial - Module 4 Step 1 States MiniKube Does Not Support LoadBalancer Option, This is No Longer True"
Here's the quote:

Minikube does support LoadBalancer since [0.31.0](https://github.com/kubernetes/minikube/blob/a03fbcf166e6f74ef224d4a63be4277d017bb62e/CHANGELOG.md#version-0310---12082018), so this should be removed and/or (even better) an updated tutorial added which demonstrates the LoadBalancer functionality.

[2021-08-03 18:46] #26914 closed

[2021-08-03 19:40] sftim commented on #29210
I think this issue is about https://kubernetes.io/docs/tutorials/kubernetes-basics/expose/expose-intro/

For Kubernetes _basics_ I wouldn't cover load balancing in Minikube.

/kind bug
/language en

[2021-08-03 20:33] sftim commented on #29207
/area web-development

[2021-08-03 20:38] AnirudhPanda commented on #29207
Can anyone assign me this?

[2021-08-03 21:14] data-ghoti opened #29211 "Interactive Tutorial - Creating a Cluster"
![k8s-io tutorial errors](https://user-images.githubusercontent.com/87723357/128086991-88b692ca-13d3-4f96-be16-848eee5f6605.jpg)

basic k8s commands fail with network error as seen in attached screenshot.

[2021-08-04 01:09] jihoon-seo commented on #29211
URL: https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/

I followed these steps:
1. `minikube version`
1. `minikube start`
1. `kubectl version`
1. `kubectl cluster-info`
1. `kubectl get nodes`

![image](https://user-images.githubusercontent.com/46767780/128105812-5a869fd1-cc3b-44d4-bfae-96c194fce6de.png)

For me, it works well. 😊

[2021-08-04 01:10] jihoon-seo commented on #29207
/assign @AnirudhPanda

[2021-08-04 01:49] jihoon-seo commented on #29204
[The `kat-button` shortcode is rendered into [HTML](https://kubernetes.io/docs/test/) like this:]
[code]

[URL of the embedded terminal]
view-source:https://katacoda.com/embed/minikube/?v=2&embed=true&ui=panel&host=kubernetes.io&url=https%3A%2F%2Fkubernetes.io%2Fdocs%2Ftutorials%2Fhello-minikube%2F&target=my-panel&nonce=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWJlZCI6dHJ1ZSwiZG9tYWluIjoiaHR0cHM6L

[2021-08-04 07:22] yuswift commented on #29210
Could you tell me how to update the `Interactive Tutorial`? I took a look at `content/en/docs/tutorials/kubernetes-basics/expose/expose-interactive.html` but didn't find docs that are related to the `Interactive Tutorial`.

[2021-08-04 09:07] sftim commented on #28170
/label team/katacoda
/priority awaiting-more-evidence

@dimay2 have the symptoms disappeared?

[2021-08-04 09:08] sftim commented on #29210
These tutorials are in a different Git repository: https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios

[2021-08-04 09:10] sftim commented on #29204
@BenHall do you know / can you recommend someone who can help explain where we might open a PR to update this?

[2021-08-04 09:12] BenHall commented on #29204
@sftim Let me find out for you. The person is away this week so expect a respond next week.

[2021-08-04 09:22] sftim commented on #29211
@data-ghoti are these symptoms still happening?
/priority awaiting-more-evidence

[2021-08-04 09:48] dimay2 commented on #28170
all ok. 10x.

[2021-08-04 09:54] yuswift commented on #29210
Thanks. BTW, removing `(minikube does not support the LoadBalancer option yet).` is enough?

[2021-08-04 10:13] AnirudhPanda commented on #29207
Help Required!
Where in the `website` folder I can find this css content?

![where](https://user-images.githubusercontent.com/66218496/128164127-4565268a-9a0c-41bd-8670-06df9ecad0da.PNG)

[2021-08-04 10:56] sftim commented on #29207
This might give you a clue about how the CSS is rendered and laid out: https://github.com/kubernetes/website/search?q=font-size%3A+2rem%3B

The website uses a mix of [Sass](https://sass-lang.com/) and plain CSS. Some of the styling lives in the [Docsy](https://www.docsy.dev/) theme (within `themes/docsy`) - but the nature of CSS means we're able to override it.

[2021-08-04 11:05] niteshseram commented on #29207
You can use the `<center></center>` tag. The others headers on that same page have been centered using `<center></center>` tag.
You can do it in the same way. I think there is no need of touching the CSS.

[2021-08-04 11:25] AnirudhPanda commented on #29207
Yeah, you are right!! ✔

[2021-08-04 11:39] #29075 closed

[2021-08-04 11:40] AnirudhPanda commented on #29207
#29214
Made necessary changes!

[2021-08-04 13:26] data-ghoti commented on #29211
I tried it again from the beginning and appears to be working now!  Thank you very much, please close the ticket.

[2021-08-04 15:22] Bafff opened #29215 "Improvement for k8s.io/docs/concepts/containers/images/"
I think
`you (or your cloud provider) can implement your mechanism for authenticating the node to the container registry.`

needs to be
`you (or your cloud provider) can implement a mechanism for authenticating the node to the container registry.`

[2021-08-04 16:36] anubha-v-ardhan commented on #29215
/good-first-issue

[2021-08-04 16:54] anubha-v-ardhan commented on #29215
/remove-good-first-issue

Hey @Bafff The sentence ` you (or your cloud provider) can implement your mechanism for authenticating the node to the container registry.` sounds good to me. Can you please elaborate : )

[2021-08-04 16:55] anubha-v-ardhan commented on #29215
/remove-help-wanted

[2021-08-04 20:15] sftim commented on #29215
/remove-help
It's also not clear to me that we should reword.
/language en

[2021-08-04 20:16] sftim commented on #29215
@bafff what's your thinking behind the suggested rewording?

[2021-08-04 20:16] sftim commented on #29207
/triage accepted

[2021-08-04 20:47] sftim opened #29223 "Add Eviction to glossary"
**This is a Feature Request**

**What would you like to be added**
Add an entry to the Kubernetes glossary, “Eviction”. Explain how Kubernetes uses this term. There are two flavors of eviction: node-initiated eviction, and API-initiated eviction. The detailed glossary entry should mention both and hyperlink to more detailed articles on these.

**Why is this needed**
“eviction” is Kubernetes jargon

[2021-08-04 22:52] PI-Victor commented on #29208
freeze over!

/close

[2021-08-04 22:52] #29208 closed

[2021-08-05 00:52] jihoon-seo commented on #29223
Related pages:
- Scheduling, Preemption and Eviction https://kubernetes.io/docs/concepts/scheduling-eviction/
  - Node-pressure Eviction https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/
  - API-initiated Eviction https://kubernetes.io/docs/concepts/scheduling-eviction/api-eviction/

[2021-08-05 00:53] jihoon-seo commented on #29211
@data-ghoti 😊
/close

[2021-08-05 00:53] #29211 closed

[2021-08-05 02:15] jihoon-seo commented on #28170
@dimay2 😊
/close

[2021-08-05 02:15] #28170 closed

[2021-08-05 04:44] niteshseram commented on #29223
/assign

[2021-08-05 05:29] niteshseram opened #29245 "Page responsiveness problem in https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/"
**This is a Bug Report**

**Problem:**
There is some page responsiveness problem in mobile view in https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/.
![Capture](https://user-images.githubusercontent.com/51370246/128294904-b32629a2-a6b0-4693-9e63-5d70e959cddb.JPG)

Maybe it is caused by the below link because the text is overflowing. Hence, it is taking a single long l

[2021-08-05 06:35] sanmai commented on #18476
/reopen

[2021-08-05 08:06] #26327 closed

[2021-08-05 08:08] AnirudhPanda commented on #29245
Can I work on this?

[2021-08-05 08:11] AnirudhPanda commented on #29245
/assign

[2021-08-05 08:20] sbarikdev commented on #29245
//assign

[2021-08-05 08:21] sbarikdev commented on #29245
/assign

[2021-08-05 08:25] niteshseram commented on #29245
Hi@sbarikdev, I believe @AnirudhPanda has already taken up the issue

[2021-08-05 08:38] sbarikdev commented on #29245
@niteshseram K

[2021-08-05 08:59] AnirudhPanda commented on #29245
Hey, @niteshseram where to override the css style.
The page is in Markdown. I am yet to find the exact css file.
Would like a little help here!

[2021-08-05 09:18] niteshseram commented on #29245
https://github.com/kubernetes/website/blob/c28fd4bfb5dea2297003013c5e46ecbc137502d3/assets/scss/_base.scss#L43-L49
I would add it here

[2021-08-05 09:19] Bafff commented on #29215
@sftim
I think that cloud provider would not `implement your mechanism for authenticating` even if you want that :)

[2021-08-05 09:23] sftim commented on #29215
Ah, that's useful context. Sure. I'm happy to see that change.
/triage accepted

With tweaks to the issue description, this _could_ be a good first issue. See https://www.kubernetes.dev/docs/guide/help-wanted/ for what's needed.

[2021-08-05 09:44] sftim commented on #29245
I've seen this issue before (I think it might be a duplicate report); it affects multiple pages and not just https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/

[2021-08-05 09:46] sftim commented on #29245
I'd like to see a CSS fix where you can have a wide element in the page (sometimes we can't avoid these) and what happens is that you can scroll horizontally for the page spiel, but the top navigation stays fixed to the viewport.

[2021-08-05 10:08] #26736 closed

[2021-08-05 10:10] anubha-v-ardhan commented on #29215
/good-first-issue

[2021-08-05 10:20] sftim commented on #29215
@anubha-v-ardhan I'm afraid we do need to provide that guidance up front. I'm going to insist that we only mark this as a good first issue once it meets the appropriate criteria.
/remove-good-first-issue

[2021-08-05 10:34] MukulMaheshwari commented on #29215
/assign

[2021-08-05 11:15] SubhasmitaSw commented on #29215
/assign

[2021-08-05 11:16] SubhasmitaSw commented on #29215
Hey, @MukulMaheshwari are you working on it?

[2021-08-05 11:33] MukulMaheshwari commented on #29215
@SubhasmitaSw yes

[2021-08-05 11:34] SubhasmitaSw commented on #29215
Okay, good luck! @MukulMaheshwari

[2021-08-05 12:02] #28963 closed

[2021-08-05 12:03] #28962 closed

[2021-08-05 12:08] ClaudiaJKang opened #29253 "Outdated Korean contents in the dev-1.21-ko.8 branch"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.21-ko.8 branch.

Generated report by the following command.
`scripts/diff_l10n_branches.py ko upstream/dev-1.21-ko.7 upstream/dev-1.21-ko.8`

Note that `dev-1.21-ko.8` recreated. based on https://github.com/kubernetes/website/pull/30292

### 55 files to be modified
1. [ ] M1.  `content/en/community/_index.html`  | 1(+XS) 1(-)
1

[2021-08-05 12:09] ClaudiaJKang commented on #29253
/triage accepted
/help
/language ko

[2021-08-05 12:10] #29005 closed

[2021-08-05 12:11] #28811 closed

[2021-08-05 12:11] #28221 closed

[2021-08-05 12:11] #28137 closed

[2021-08-05 12:21] gjkim42 opened #29255 "Component reference docs not updated for Kubernetes v1.22 release"
**This is a Bug Report**

**Problem:**

Each kubernetes component's feature gate list is outdated.

There is no feature gate newly proposed at v1.22 in the `--feature-gates` parameter.

**Proposed Solution:**

Generate those files? I am not sure about how to sync them.

**Page to Update:**
https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/
https://kubernetes.io/docs/referen

[2021-08-05 12:23] gjkim42 commented on #29255
/priority import-soon

[2021-08-05 12:23] gjkim42 commented on #29255
/priority important-soon

[2021-08-05 13:01] sftim commented on #29255
This is a more general issue
/retitle Component reference docs not updated for Kubernetes v1.22 release
/triage accepted

[2021-08-05 13:02] sftim commented on #29255
There is a PR for a fix that is ready for review: #29242

[2021-08-05 13:05] ClaudiaJKang opened #29257 "Outdated Korean contents in the dev-1.22-ko.1 branch"
# This is a Bug Report
## Problem
Outdated files in the origin/dev-1.22-ko.1 branch.

### 77 files to be modified
1. [x] M1.  `content/en/community/_index.html`  | 1(+XS) 1(-)
1. [x] M2.  `content/en/docs/concepts/architecture/nodes.md`  | 43(+M) 0(-)
1. [x] M3.  `content/en/docs/concepts/configuration/manage-resources-containers.md`  | 1(+XS) 1(-)
1. [x] M4.  `content/en/docs/concepts/configurati

[2021-08-05 13:14] sftim commented on #26989
/retitle Recommended app labels missing from Well-Known Labels, Annotations and Taints
/kind bug
/lifecycle frozen

[2021-08-05 13:15] sftim commented on #26989
/sig apps

[2021-08-05 13:38] ClaudiaJKang opened #29258 "Korean Localization for dev-1.22-ko.1 branch"
## In English

**This is a Feature Request**

Korean Localization for `dev-1.22-ko.1` branch.

**What would you like to be added**

Any localization contributions for Korean.

**Comments**

- This issue is to notify the schedule of Korean localization to contributors.
- `dev-1.22-ko.1` is the current work branch for Korean localization.

**Important dates**
- A Korean localization work branch is m

[2021-08-05 13:40] ClaudiaJKang commented on #29258
/triage accepted

[2021-08-05 13:41] ClaudiaJKang commented on #29257
/triage accepted
/help

[2021-08-05 13:55] ClaudiaJKang commented on #29253
M1, M2, M3, M4, M5, M6, M7, M8, M9, M12, M14, M15, M17, M18, M20, M22, M24, M26, M27, M28, M29, M30, M33 의 경우 #29257 에서도 적용되니 작업 시작 전 확인 부탁드립니다.

[2021-08-05 13:56] ClaudiaJKang commented on #29257
M2, M7, M12, M13, M14, M16, M18, M19, M21, M24, M26, M27, M30, M31, M34, M39, M43, M36, M47, M51, M52, M54, M62의 경우 #29253 에서도 적용되니 작업 시작 전 확인 부탁드립니다.

[2021-08-05 14:15] ClaudiaJKang opened #29259 "[ko] Enhance docs/tasks/tools/install-kubectl-windows.md"
**This is a Feature Request**

**What would you like to be added**

Apply review #29167.

Enhance [content/ko/docs/tasks/tools/install-kubectl-windows.md](https://github.com/kubernetes/website/tree/dev-1.22-ko.1/content/ko/docs/tasks/tools/install-kubectl-windows.md)

**Why is this needed**
Change line format and some words to common.

**Comments**

[https://kubernetes.io/ko/docs/tasks/tools/insta

[2021-08-05 14:22] ClaudiaJKang commented on #29259
/triage accepted

[2021-08-05 15:15] shannonxtreme commented on #29049
Yeah I figured. I'll rework them :)

[2021-08-05 17:33] clincha opened #29263 "Issue with k8s.io/docs/concepts/storage/volumes/"
The NFS volume section in the Kubernetes storage concepts documentation contains a broken link to an example in the last line of the section. Specifically this line: See the NFS example for more details.

NFS volume section: https://kubernetes.io/docs/concepts/storage/volumes/#nfs

Broken link: https://github.com/kubernetes/examples/tree/main/staging/volumes/nfs

[2021-08-05 20:05] #29223 closed

[2021-08-05 20:49] Jean-Daniel opened #29266 "Incorrect feature state for Server-side Apply"
According to the [release notes](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.22.md#server-side-apply-graduates-to-ga): this feature has been graduated to GA in 1.22

The doc still indicates:

`FEATURE STATE: Kubernetes v1.16 [beta]`

[code]

[2021-08-05 21:22] sftim commented on #29266
/retitle Incorrect feature state for Server-side Apply
/kind bug
/language en

Which page is wrong, @Jean-Daniel ? Can you provide the URL for it?

[2021-08-05 21:22] sftim commented on #29266
/wg api-expression

[2021-08-05 21:23] sftim commented on #29266
I think the page is https://kubernetes.io/docs/reference/using-api/server-side-apply/
/triage accepted

[2021-08-05 21:24] sftim commented on #29263
/kind bug
/language en
/priority backlog
/triage accepted

[2021-08-05 23:26] chrismetz09 commented on #28808
Before pounding new diagrams into a PR, wanted to preview a few to gather feedback/suggestions. Here is one that could be placed at the top of https://kubernetes.io/docs/contribute/:

![mermaid-diagram-20210805161135](https://user-images.githubusercontent.com/5543858/128433092-70c232d9-9b91-4561-b742-ced87752229d.png).

To see/edit the mermaid code for this figure, check out [live-editor link ](ht

[2021-08-05 23:34] ehashman commented on #25172
:+1:

I have never heard this word used before in technical documentation and I don't think it will improve clarity.

[2021-08-06 04:15] #26834 closed

[2021-08-06 05:24] mshalmanov commented on #28975
Fix error in the PR #29125

[2021-08-06 06:08] haardikdharma10 commented on #29263
I see a lot of broken links on the same page.

An example broken link: `https://github.com/kubernetes/examples/tree/{{< param "githubbranch" >}}/staging/volumes/nfs`

The issue is happening because of the `{{< param "githubbranch" >}}`, which I believe is set to `main` and we need to change that to `master`. Is this the right approach for the solution or just changing the above link to

`https://g

[2021-08-06 08:26] tengqm commented on #29255
Done.
/close

[2021-08-06 10:17] antaloala commented on #28999
Thanks @Kartik494 ;-)

[2021-08-06 14:11] yuswift commented on #29266
/assign

[2021-08-06 14:30] yuswift commented on #29263
/assign
@sftim Could you tell me how to specify the `param ` globally? Or do we just need to update it to `master`?

[2021-08-06 14:32] hollander-cegeka commented on #29084
I suspect that this sentence is not correct:
_In this example, the messaging queue topic name is mapped from a **secret** named provider-queue-credentials with a key named topic to the environment variable TOPIC._

I believe that this should be:
_In this example, the messaging queue topic name is mapped from a **servicebinding** named provider-queue-credentials with a key named topic to the enviro

[2021-08-06 17:15] slayer321 commented on #28989
Hello, this is the first time I am working with etcd
so can someone explain to me what does the 2 and 3 points exactly mean and what are the changes

What I understand from the 2 point is
`ETCDCTL_API=3 etcdctl --endpoints $ENDPOINT snapshot save snapshotdb --dataDir "/path/to/file.etcd"` this is the required changes.
are changes correct as mentioned by @saryeHaddadi ?

3 point talks about ETCD ma

[2021-08-06 17:36] chrisnegus commented on #28808
@chrismetz09 I think this is a good idea. I've been wanting to look for opportunities to add diagrams to the Kubernetes docs as well. I'll check out your mermaid instructions.

[2021-08-06 17:49] rajatgupta24 commented on #26989
Hey @sftim, should I change the hyperlink of https://kubernetes.io/docs/reference/labels-annotations-taints/ to https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/

[2021-08-06 19:13] imoisharma opened #29274 "Releases 1.22 Version is not navigating | Missing URL"
Hi folks,

When I am trying to click on the versions drop-down and select the 1.22 k8s version, it should navigate me to the https://v1-22.docs.kubernetes.io/ but instead, it navigates me to the https://kubernetes.io/

Could you please fix the link on the website. Cheers.

Steps for replications.
1. Go to kubernetes.io website
2. Click Versions from the header
3. Select 1.22 version
4. it should t

[2021-08-06 20:17] #26962 closed

[2021-08-06 20:24] niteshseram commented on #29274
Hi @imoisharma, I believe it is intended to behave that way because you are already in the current version which is 1.22. Current version(1.22) is mapped to kubernetes.io

[2021-08-06 20:31] gjkim42 commented on #29255
https://github.com/kubernetes/website/pull/29242#issuecomment-893482617

It seems that some components are still outdated.
(kubelet, kubectl)

/reopen

[2021-08-07 12:25] #26934 closed

[2021-08-07 20:22] tabbysable commented on #28392
These changes were incorporated into the 1.22 release docs, resolved by https://github.com/kubernetes/website/pull/28903

/close

[2021-08-07 20:22] #28392 closed

[2021-08-07 21:04] zhangtreefish opened #29278 "Improvement for k8s.io/docs/reference/kubectl/cheatsheet/"
Placing "kubectl run nginx --image=nginx -n
mynamespace" under "Interacting with running Pods" isn't accurate; in this case, the pod is not running yet, rather, it "Start a single instance of nginx in the namespace of mynamespace".

[2021-08-08 02:39] kmjayadeep opened #29279 "Improvement for k8s.io/docs/concepts/workloads/pods/pod-lifecycle/ Container restart policy section"
The `Container restart policy` section in the pod lifecycle should be improved to describe what each policy means.

Openshift documentation has explained rather clearly: <https://docs.openshift.com/online/pro/architecture/core_concepts/pods_and_services.html#admin-manage-pod-restart>

[2021-08-08 12:02] tengqm commented on #29255
kubelet reference is not auto-generated ...
A manual fix is proposed in #29284

[2021-08-08 13:02] tengqm commented on #29274
The 'kubernetes.io/docs' or 'k8s.io/docs' is about the latest version, i.e. 1.22.
/close

[2021-08-08 13:02] #29274 closed

[2021-08-08 14:22] astraw99 opened #29287 "`go.mod` not working well in Go 1.16"
**This is a Bug Report**

**Problem:**

On Mac 10.15
go version 1.16

run `go mod tidy`, got:
[code]

**Proposed Solution:**
need to replace `k8s.io/pod-security-admission@v0.0.0` with proper version.

**Page to Update:**
go.mod

[2021-08-08 17:35] #20644 closed

[2021-08-08 22:52] aditya7041 opened #29289 "Broken example in Configuration Best Practices concept"
https://kubernetes.io/docs/concepts/configuration/overview/
Link of config file example is broken.

[2021-08-09 00:14] imoisharma commented on #29289
Hi @aditya7041, could you provide some more details, which link is broken when you try to access it?

[2021-08-09 01:25] alisade opened #29290 "Improvement for k8s.io/docs/reference/kubectl/jsonpath/"
strike through unsupported code:

[code]

should be changed to

<pre>
<del>kubectl get pods -o jsonpath='{.items[?(@.metadata.name=~/^test$/)].metadata.name}'</del>
</pre>

[2021-08-09 02:32] yuswift commented on #29289
I think the link is https://github.com/kubernetes/examples/tree/main/guestbook/all-in-one/guestbook-all-in-one.yaml.

[2021-08-09 03:33] gjkim42 commented on #29255
#29284 has been merged.

/close

[2021-08-09 03:33] #29255 closed

[2021-08-09 07:54] Lizalex-Systems opened #29292 "Issue with k8s.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/"
The urls in step 4. pointing to the windows compatible flannel and kube-proxy are raising a 404 not found.

[2021-08-09 08:40] sftim commented on #25505
/reopen
/lifecycle frozen

[2021-08-09 09:11] niteshseram commented on #29292
Similar issue #29149

[2021-08-09 09:14] fabriziopandini commented on #20953
/remove-lifecycle stale

[2021-08-09 09:14] fabriziopandini commented on #20955
/remove-lifecycle stale

[2021-08-09 09:14] fabriziopandini commented on #20961
/remove-lifecycle stale

[2021-08-09 09:14] fabriziopandini commented on #20952
/remove-lifecycle stale

[2021-08-09 09:25] sftim commented on #29292
/sig windows

[2021-08-09 09:26] sftim commented on #29290
/area web-development

[2021-08-09 10:02] Shubham82 opened #29294 "Broken link: webhook.go give 404 error."
**This is a Bug Report**

**Problem:**
In [Webhook Mode](https://kubernetes.io/docs/reference/access-authn-authz/webhook/) docs, [webhook.go](https://github.com/kubernetes/kubernetes/blob/main/staging/src/k8s.io/apiserver/plugin/pkg/authorizer/webhook/webhook.go) link give 404 error.

**Proposed Solution:**
webhook.go should be linked to https://github.com/kubernetes/kubernetes/blob/master/staging

[2021-08-09 10:03] Shubham82 commented on #29294
/assign
i can work on this.

[2021-08-09 10:29] sftim commented on #28808
My feeling: some diagrams are going to be better than no diagrams, unless those some diagrams are _very_ misleading.

[2021-08-09 10:50] jorlamd opened #29298 "Auditing - githubbranch param pointing to "main" breaks certain links."
**This is a Bug Report**

**Problem:** variable githubbranch points to "main". However, the links referring to files on the kubernetes/kubernetes repo are broken, as this repo uses "master" for the main branch naming convention.

**Proposed Solution:** Review the toml file containing the githubbranch variable.

[2021-08-09 10:55] Shubham82 commented on #29294
Fixed it here: #29299

[2021-08-09 10:58] yuswift commented on #29298
ref https://github.com/kubernetes/website/issues/29263#issuecomment-894025463

[2021-08-09 11:00] yuswift commented on #29263
friendly ping @sftim . A lot of links are broken.

[2021-08-09 11:02] yuswift commented on #29294
ref https://github.com/kubernetes/website/issues/29263#issuecomment-894025463

[2021-08-09 12:15] Shubham82 commented on #29294
Hi @yuswift
I think we don't change in config.toml file as it is used as configuration when building the website. It was changed in this [PR](https://github.com/kubernetes/website/pull/29196), as for website repo master branch renamed to main in k8s v1.22.

[2021-08-09 13:22] sftim commented on #29298
The `githubbranch` value is correct. However, links to _other_ repos shouldn't rely on the default branch there being called _master_ or _main_ or anything else. Instead, we can hard-code the name of the target repo's default branch.

/kind bug

[2021-08-09 13:23] sftim commented on #29263
My take on this: https://github.com/kubernetes/website/issues/29298#issuecomment-895218446

[2021-08-09 13:32] Horgix commented on #12303
Issue seems to affect any documentation snapshot before `1.17` : see https://github.com/kubernetes/kubernetes/issues/104241 that I opened on the wrong repo

[2021-08-09 13:42] #26684 closed

[2021-08-09 13:46] hidalgopl opened #29300 "Controlling Access to the Kubernetes API"
Since https://github.com/kubernetes/kubernetes/pull/95856 is merged, following paragraph:
[code]
[here](https://kubernetes.io/docs/concepts/security/controlling-access/#api-server-ports-and-ips)
is no longer true

[2021-08-09 14:30] tengqm commented on #29287
/triage accepted
/assign

[2021-08-09 16:29] ominiet opened #29303 "Volumes - Broken links to azure disk and azure file csi driver examples"
When clicking link to `azureFile volume plugin`, I expect to be taken to a github link with associated content, however, I am sent to
https://github.com/kubernetes/examples/tree/main/staging/volumes/azure_file/README.md
and receive a 404. The same behavior happens when selecting `azureDisk volume plugin`

[2021-08-09 16:49] niteshseram commented on #29303
Ref #29263
/kind bug

[2021-08-09 16:53] #29294 closed

[2021-08-10 00:10] s-kawamura-w664 commented on #28825
/close
I close this issue because PR#28363 was fixed.

[2021-08-10 00:10] #28825 closed

[2021-08-10 00:50] jai commented on #26168
/remove-lifecycle stale

[2021-08-10 00:50] jai commented on #19264
/close

[2021-08-10 00:50] #19264 closed

[2021-08-10 00:55] jai commented on #26346
/remove-lifecycle stale

[2021-08-10 00:56] jai commented on #26330
/close

[2021-08-10 00:56] #26330 closed

[2021-08-10 01:12] yukurt opened #29306 "Interactive Tutorial - Creating a Cluster"
Katacoda terminal says:

[code]

I then can't type anything on the terminal.

[2021-08-10 01:18] sgpinkus opened #29307 "Namespaces :: contradictions"
Let's approach from a user goal: I want to run multiple projects on the same cluster and securely isolate them. For example: A. testing/staging/prod envs of the same product. B. Multiple projects from different clients, like small websites. Is namespaces supposed to be what I  use to achieve this isolation? The first paragraph:

OK! Looks like namespaces is how I isolate groups of unrelated resour

[2021-08-10 03:22] 494846880 opened #29312 "What is Kubernetes?"

[2021-08-10 03:22] #29312 closed

[2021-08-10 05:11] partsauthority opened #29313 "Error from server (Forbidden): namespaces is forbidden: User "system:node:xxxxxxxxxx" cannot list resource"
After updating the kubernetes cluster certs using the below document getting below error. Please advise

[](https://www.ibm.com/docs/en/fci/1.1.0?topic=kubernetes-renewing-cluster-certificates)

# kubectl get namespaces
Error from server (Forbidden): namespaces is forbidden: User "system:node:xxxxxx" cannot list resource "namespaces" in API group "" at the cluster scope

kubernetes version:

Clien

[2021-08-10 05:11] niteshseram commented on #29306
Hi @yukurt, I am not able to reproduce the problem and it is working completely fine. Are you still facing the same issue?

[2021-08-10 05:31] yukurt commented on #29306
hi @niteshseram, i can't reproduce the error either.
what i did was i just refreshed my web browser.
i think the web browser/terminal must have "expired" since i did not use the browser for several hours prior to using it again.
thank you for your assistance.

[2021-08-10 05:31] #29306 closed

[2021-08-10 06:40] mehedieu opened #29314 "Kubernetes Components"

[2021-08-10 07:23] #28639 closed

[2021-08-10 09:09] #29266 closed

[2021-08-10 09:28] sftim commented on #27657
/remove-lifecycle stale
/triage accepted
/priority backlog

[2021-08-10 09:29] sftim commented on #27657
/remove-priority awaiting-more-evidence

[2021-08-10 10:23] #28611 closed

[2021-08-10 10:36] sftim commented on #29287
I'm not sure I know why there is Go code in _this_ repo. @tengqm have we written this up anywhere?

[2021-08-10 13:07] savitharaghunathan commented on #25119
/remove-lifecycle rotten

[2021-08-10 14:05] yuswift commented on #29314
/triage needs-information

[2021-08-10 14:06] yuswift commented on #29313
How do you update the cluster certs?

[2021-08-10 14:07] ShivamTyagi12345 commented on #27008
Hey @alexellis . Last update dates back a month from now, Is this issue still open to work? I would like to work on the same

[2021-08-10 14:34] sftim commented on #29307
/sig architecture
I guess

[2021-08-10 14:35] sftim commented on #29307
I think it's reasonable to suggest that namespaces could be useful for a small or even solo team, if you want to use namespaces to isolate workload environments from one another.

[2021-08-10 14:35] sftim commented on #29307
/language en

[2021-08-10 14:43] tengqm commented on #29287
@sftim They are for running the examples test case, which is a guardian for ensuring all manifests under `examples` work for the "current" release.

[2021-08-10 14:44] alexellis commented on #27008
Sure

[2021-08-10 14:52] stuart23 opened #29317 "Issue with k8s.io/docs/concepts/storage/volumes/"
Azure Files link is broken

[2021-08-10 17:28] partsauthority commented on #29313
I updated the certs using the below command.

kubeadm alpha certs renew all

After this the kubelet.conf was not updated with the new certificate, so I
did run the below command.

sudo kubeadm alpha kubeconfig user --org system:nodes --client-name
system:node:$(hostname) > kubelet.conf

And after this I copied the certificate-data and certificate-key from
kubelet.conf to .kube/config. After this I

[2021-08-10 17:29] neolit123 commented on #29313
hi, this repository is for features/bugs in the docs.

please use the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/kind support
/close

[2021-08-10 17:30] #29313 closed

[2021-08-10 17:54] shannonxtreme opened #29318 "The Advanced Contributing page doesn't mention the Tech Lead role"
The [Advanced contributing](https://kubernetes.io/docs/contribute/advanced/) page doesn't have a section for becoming a SIG Docs Tech Lead. Since this is an important role within the SIG, we should have guidance on the requirements and responsibilities of the role.

/assign
/cc @sftim
/sig docs
/sig contributor-experience

[2021-08-10 17:55] shannonxtreme commented on #29318
/triage accepted

[2021-08-10 18:05] sftim commented on #29318
/priority backlog
/lifecycle frozen

[2021-08-10 18:32] sftim commented on #4493
Interested on working on this? Ask in Slack (channel `#sig-docs`), reply here with questions, or jump in and open a PR. All of those are great ways to help.

[2021-08-10 20:50] tRavAsty opened #29319 "Interactive Tutorial - Creating a Cluster"
The interactive terminal is no longer available
<img width="1445" alt="Screen Shot 2021-08-10 at 4 50 09 PM" src="https://user-images.githubusercontent.com/12147341/128933149-dd080c82-9b66-4f47-a863-02bd20c35f4a.png">

[2021-08-10 23:25] circy9 opened #29321 "Volumes: broken links"
The links for "azureDisk volume plugin" and "azureFile volume plugin" are broken.

Current: https://github.com/kubernetes/examples/tree/main/staging/volumes/azure_disk/README.md
Should be: https://github.com/kubernetes/examples/tree/master/staging/volumes/azure_disk/README.md

[2021-08-10 23:35] ArangoGutierrez opened #29322 "Broken link at Configure Liveness, Readiness and Startup Probes page"
Link at https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#define-a-liveness-http-request it's broken

The link at

Points to https://github.com/kubernetes/kubernetes/blob/main/test/images/agnhost/liveness/server.go

This is due to
`https://github.com/kubernetes/kubernetes/blob/{{< param "githubbranch" >}}/test/images/agnhost/liveness/server.go`

[2021-08-10 23:45] yuswift commented on #29313
The first command is right, the second command you executed only gave you access to list nodes. I guess you need to try the first command again.

[2021-08-11 01:10] #29287 closed

[2021-08-11 01:12] yuswift commented on #29321
#29311 will fix it

[2021-08-11 01:42] yuswift commented on #29319
/kind bug

[2021-08-11 01:51] yuswift commented on #29317
#29311 will fix it

[2021-08-11 01:57] mengjiao-liu commented on #29322
PR #29311 is working on this issue to point to the correct address.

[2021-08-11 05:27] forresthopkinsa commented on #25172
It doesn't have to *replace* the current documentation. It would have helped me if it was only *appended* to the existing explanation of the hysteretic system. If it was included, it _would_ improve clarity for those familiar with the term, and I wouldn't expect it to affect anyone else.

[2021-08-11 10:54] sftim commented on #27505
/remove-lifecycle rotten
Let's go with the approach in https://github.com/kubernetes/website/issues/27505#issuecomment-818279397
/triage accepted
/priority backlog

[2021-08-11 10:55] sftim commented on #27253
/lifecycle frozen

[2021-08-11 10:55] sftim commented on #27253
The fix here is to bump to a more recent Docsy release.

[2021-08-11 12:54] HarikrishnanBalagopal opened #29324 "Typos in the explanation of the role of activeDeadlineSeconds in initContainers behaviour"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/concepts/workloads/pods/init-containers/#detailed-behavior
[code]

**Proposed Solution:**
1. Change `However it is recommended` to `However it is NOT recommended`
2. Change `activeDeadlineSeconds if user deploy their application` to `activeDeadlineSeconds if the user deploys their application`
3. Change `an effect even after initCon

[2021-08-11 12:55] tengqm opened #29325 "[zh] Concept files to sync for 1.22"
Numbers in the following list may be not up to date. Please run `./scripts/lsync.sh` again before working on each of them.

- [x] (1) Secret Rewriting  @howieyuen   #29823

[code]

- [x] (2) Pod Security Standards Revision   @mayocream  #29996

[code]

- [x] (3) Persistent Volume   @mayocream  #30002

[code]

- [x] (4) Flow Control  @howieyuen   #29866

[code]

- [x] (5) Workload Controllers  @may

[2021-08-11 12:55] tengqm commented on #29325
/language zh
/help

[2021-08-11 12:56] HarikrishnanBalagopal commented on #29324
Closest issue I could fine related to this https://github.com/kubernetes/website/issues/28825

[2021-08-11 12:57] tengqm opened #29326 "[zh] Contribution files to sync for 1.22"
Numbers in the following list may be not up to date. Please run `./scripts/lsync.sh` again before working on each of them.

[code]

[2021-08-11 12:57] tengqm commented on #29326
/triage accepted
/language zh
/help

[2021-08-11 12:58] tengqm opened #29327 "[zh] Reference files to translate and/or sync for 1.22"
Numbers in the following list may be not up to date. Please run `./scripts/lsync.sh` again before working on each of them.

- [ ] (1) Scheduling  @HongjiangHuang
[code]

- [ ] (2) Kubelet Config @mayocream
[code]

- [ ] (3) apiserver audit @mayocream
[code]

- [ ] (4) client-auth @mayocream
[code]

- [ ] (5) scheduler policy @mayocream
[code]

- [ ] (6) kube-proxy config @mayocream
[code]

- [ ] (

[2021-08-11 12:59] tengqm commented on #29327
/language zh
/triage accepted
/help

[2021-08-11 12:59] tengqm opened #29328 "[zh] Setup files to sync for 1.22"
Numbers in the following list may be not up to date. Please run `./scripts/lsync.sh` again before working on each of them.

[code]

[2021-08-11 13:00] tengqm commented on #29328
/triage accepted
/language zh
/help

[2021-08-11 13:00] tengqm opened #29329 "[zh] Tasks files to sync for 1.22"
Numbers in the following list may be not up to date. Please run `./scripts/lsync.sh` again before working on each of them.

- [x] (1) run-app  @steven-my  #29451
[code]

- [x] (2) Kubectl install  @steven-my  #29509

[code]

- [x] (3) objects & network  @steven-my    #29772

[code]

- [x] (4) pod container @superleo  #29821

[code]

- [x] (5) windows  @superleo  #29798

[code]

- [x] (6) admin 1

[2021-08-11 13:01] tengqm commented on #29329
/triage accepted
/language zh
/help

[2021-08-11 13:01] tengqm opened #29330 "[zh] Tutorials files to sync for 1.22"
Numbers in the following list may be not up to date. Please run `./scripts/lsync.sh` again before working on each of them.

[code]

[2021-08-11 13:01] tengqm commented on #29330
/language zh
/triage accepted
/help

[2021-08-11 13:02] tengqm commented on #29325
/triage accepted

[2021-08-11 13:08] tengqm commented on #29325
@mengjiao-liu @zhangguanzhang @kerthcet @rudeigerc @hide-in-code @able8 @jaronnie @keashem @loufenghua @chenxuc @howieyuen @dcoliversun @liuxu623 @eatjeff @liutaot @gaoguangze111 @buptliuwei @HongjiangHuang @zhiguo-lu @timyinshi

[2021-08-11 13:08] tengqm commented on #29326
@mengjiao-liu @zhangguanzhang @kerthcet @rudeigerc @hide-in-code @able8 @jaronnie @keashem @loufenghua @chenxuc @howieyuen @dcoliversun @liuxu623 @eatjeff @liutaot @gaoguangze111 @buptliuwei @HongjiangHuang @zhiguo-lu @timyinshi

[2021-08-11 13:08] tengqm commented on #29327
@mengjiao-liu @zhangguanzhang @kerthcet @rudeigerc @hide-in-code @able8 @jaronnie @keashem @loufenghua @chenxuc @howieyuen @dcoliversun @liuxu623 @eatjeff @liutaot @gaoguangze111 @buptliuwei @HongjiangHuang @zhiguo-lu @timyinshi

[2021-08-11 13:09] tengqm commented on #29328
@mengjiao-liu @zhangguanzhang @kerthcet @rudeigerc @hide-in-code @able8 @jaronnie @keashem @loufenghua @chenxuc @howieyuen @dcoliversun @liuxu623 @eatjeff @liutaot @gaoguangze111 @buptliuwei @HongjiangHuang @zhiguo-lu @timyinshi

[2021-08-11 13:09] tengqm commented on #29329
@mengjiao-liu @zhangguanzhang @kerthcet @rudeigerc @hide-in-code @able8 @jaronnie @keashem @loufenghua @chenxuc @howieyuen @dcoliversun @liuxu623 @eatjeff @liutaot @gaoguangze111 @buptliuwei @HongjiangHuang @zhiguo-lu @timyinshi

[2021-08-11 13:09] tengqm commented on #29330
@mengjiao-liu @zhangguanzhang @kerthcet @rudeigerc @hide-in-code @able8 @jaronnie @keashem @loufenghua @chenxuc @howieyuen @dcoliversun @liuxu623 @eatjeff @liutaot @gaoguangze111 @buptliuwei @HongjiangHuang @zhiguo-lu @timyinshi

[2021-08-11 14:08] sftim commented on #29317
/kind bug
/language en
/triage duplicate

Duplicates #29298

[2021-08-11 14:08] sftim commented on #29317
Thanks for reporting this @stuart23

[2021-08-11 14:43] sftim commented on #27521
Still a good idea
/remove-lifecycle rotten

[2021-08-11 14:44] sftim commented on #16618
/remove-lifecycle rotten

[2021-08-11 14:44] sftim commented on #16618
/lifecycle frozen

[2021-08-11 16:46] edmondsw opened #29333 "Specifying a Disruption Budget for your Application"
https://kubernetes.io/docs/tasks/run-application/configure-pdb/#before-you-begin says "Your Kubernetes server must be at or later than version v1.21" but that is not true for much of the content on this page. This is misleading.

[2021-08-11 22:30] sayantani11 commented on #29324
@HarikrishnanBalagopal Is the issue open? I would be happy to work on it. Thank you.

[2021-08-12 01:48] mengjiao-liu commented on #29325
I want to try this aspect of synchronous scheduling.
[code]

[2021-08-12 02:37] howieyuen commented on #29330
/assign

[2021-08-12 05:29] anubha-v-ardhan commented on #13957
Lets start!!!
I'm working on translating contents/en/partners

[2021-08-12 07:35] anubha-v-ardhan commented on #13957
I'm working on https://github.com/kubernetes/website/tree/main/content/en/community next

[2021-08-12 08:27] verma-kunal commented on #13957
Hey, i'll be starting to work on the Blog section from today
Link: https://github.com/kubernetes/website/tree/main/content/en/blog

[2021-08-12 08:41] anubha-v-ardhan commented on #13957
@verma-kunal Please go through other language localization to get an idea about Blogs section. Thanks

[2021-08-12 09:03] verma-kunal commented on #13957
Thanks for pointing it out!!
asked in the slack channel to be clear on the things 🙂

[2021-08-12 09:09] sayantani11 commented on #29324
@HarikrishnanBalagopal Just a clarification. We only need to make the mentioned changes?

[2021-08-12 09:26] joaocfernandes opened #29340 "Labels on cluster diagram are hard to read"
The high level overview of the kubernetes components uses a .svg file for the presentation. The content is clearly presented but some of the labels for each components are too small.

I suggest that either the labels are made bigger or a diferent logo is used for each of these components. API Server, Cloud control manager , controller manager.

Example screenshoot on Full HD screen.
![image](https

[2021-08-12 13:48] sftim commented on #29340
/retitle Labels on cluster diagram are hard to read

[2021-08-12 13:50] sftim commented on #29340
These are the official icons for each component. We should continue to use the official icons.

One thing I considered when drawing this diagram, but left because its extra work: use flexbox to allow laying out the key to the diagram below if the viewport is not big enough to show it clearly.

Less effort: add a mechanism to let people click on a diagram to see it enlarged (and then click again to

[2021-08-12 14:26] damemi opened #29342 "Update "multiple schedulers" examples"
**This is a Bug Report**
**Problem:**
The page for configuring multiple schedulers (https://kubernetes.io/docs/tasks/extend-kubernetes/configure-multiple-schedulers/#define-a-kubernetes-deployment-for-the-scheduler) includes references to the `--scheduler-name` flag, which is removed, and so the examples do not work.

**Proposed Solution:**
Scheduler name needs to be set via profiles now, so this

[2021-08-12 14:28] damemi commented on #29342
@alculquicondor good catch thanks, description updated

[2021-08-12 14:40] sftim commented on #29342
/triage accepted
/priority backlog
/language en

[2021-08-12 14:46] sftim commented on #29333
Another option could be for somebody (with plenty of spare time) to improve the `feature-state` shortcode to generate that kind of advice automatically.