[2021-02-24 05:16] Xunzhuo opened #26695 "Incorrect URL in Docs"
**This is a Bug Report**

**Problem:**

![企业微信截图_20210224130931](https://user-images.githubusercontent.com/48784001/108950897-fa889780-76a1-11eb-9326-63eba5c2bcb3.png)
URL 分别为 #self-registration-of-nodes #manual-node-administration
对应跳转位置为 #节点自注册 #手动节点管理
缺失了中文链接的锚点，无法跳转

**Proposed Solution:**

添加链接锚点：{#self-registration-of-nodes} {#manual-node-administration}

**Page to Update:**
https://kubernet

[2021-02-24 05:17] Xunzhuo commented on #26695
/language zh
/assign

[2021-02-24 06:37] ydcool commented on #26672
/triage needs-information

@yang199  Would you point out which page is wrong?

[2021-02-24 06:38] ydcool commented on #26672
/language zh

[2021-02-24 09:18] #26640 closed

[2021-02-24 10:06] tengqm commented on #26693
Is the English version correct? We should fix the English version first.

[2021-02-24 10:41] Xunzhuo opened #26704 "Helm install URL is Wrong"
**This is a Bug Report**

**Problem:**

Helm install URL is Wrong

![企业微信截图_20210224184044](https://user-images.githubusercontent.com/48784001/108988881-f1162400-76cf-11eb-8a8c-6909002cbc42.png)

**Proposed Solution:**

Change it to https://helm.sh/docs/intro/install

**Page to Update:**
https://kubernetes.io/zh/docs/tasks/service-catalog/install-service-catalog-using-helm/

[2021-02-24 10:42] Xunzhuo commented on #26704
/language zh
/assign

[2021-02-24 10:44] Xunzhuo commented on #26693
Ok I give a PR to fix the English Version

[2021-02-24 13:58] #26695 closed

[2021-02-24 17:06] edsoncelio commented on #13939
Hi everyone,

I'll start to work on the containers concepts:
https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/containers/

[2021-02-24 17:38] tomkivlin opened #26706 "Update toc shortcode to allow different header levels"
**What would you like to be added**

Currently, the `toc` shortcode (https://github.com/kubernetes/website/blob/master/layouts/shortcodes/toc.html) assumes a full H1/H2/H3 structure, meaning if you use it part-way through a page (e.g. at the top of a tab section) you need to use H1/H2 headers throughout that tab section, which can look odd.

e.g. if we did the following, today:
[code]

Then the fo

[2021-02-24 18:04] rich-pixley commented on #26618
Sorta. That page has a lot of non-info pages linked. But if I’m reading it right, the only page with any actual kubernetes info is the page on container runtimes.

So that’s all I need?  I install docker on all my machines and magically kubectl suddenly works?  I bet not. I bet there are some daemons that need to run somewhere but none of those pages talk about that. Probably, there’s something I

[2021-02-24 22:36] davideimola commented on #20962
Hi @fabriziopandini, I am taking this issue! :smile:

/assign
/lifecycle active

[2021-02-25 07:18] zharpaz commented on #26658
I got it. Thanks everyone.

[2021-02-25 07:18] #26658 closed

[2021-02-25 07:33] #26704 closed

[2021-02-25 08:02] ydcool commented on #25656
solved by #26696

/close

[2021-02-25 08:02] #25656 closed

[2021-02-25 08:40] tengqm commented on #25265
Done.
See: https://kubernetes.io/zh/docs/setup/production-environment/windows/intro-windows-in-kubernetes/

/close

[2021-02-25 08:40] #25265 closed

[2021-02-25 09:05] fabriziopandini commented on #20958
/close
PR already merged

[2021-02-25 09:05] #20958 closed

[2021-02-25 09:43] fabriziopandini commented on #20962
@davideimola this can help https://kubernetes.io/docs/contribute/ (you can find specific instructions for the web-site)
Ping me if you need help

[2021-02-25 14:48] inductor commented on #26512
/close

[2021-02-25 14:48] #26512 closed

[2021-02-25 14:48] inductor commented on #26514
/close

[2021-02-25 14:48] #26514 closed

[2021-02-25 14:50] inductor commented on #25689
/close

[2021-02-25 14:50] #25689 closed

[2021-02-25 15:03] inductor commented on #26513
@yoichiro0217 こちら進捗いかがでしょうか？

[2021-02-25 16:53] inductor commented on #26516
/close

[2021-02-25 16:53] #26516 closed

[2021-02-25 16:54] inductor commented on #26518
/close

[2021-02-25 16:54] #26518 closed

[2021-02-25 16:54] inductor commented on #26521
/close

[2021-02-25 16:55] #26521 closed

[2021-02-25 16:55] inductor commented on #26519
/close

[2021-02-25 16:55] #26519 closed

[2021-02-25 19:51] prankul88 commented on #26706
Seems to me a valid issue

[2021-02-25 19:51] prankul88 commented on #26706
/traige acceptrd

[2021-02-25 19:53] prankul88 commented on #26706
/triage accepted

[2021-02-25 20:11] prankul88 commented on #26609
+1

[2021-02-25 23:14] sftim commented on #25260
/close

[2021-02-25 23:14] #25260 closed

[2021-02-25 23:53] a-mccarthy opened #26717 "Tracking stale content within the website repo"
**This is a Feature Request**

SIG Docs should have a way to identify if content within the website repo is potentially stale and have a way to communicate potentially stale content to SIG groups that own the content.

The goal of this issue is to outline a MVP to track and update stale content in the kubernetes/website repo. The project has the potential to make of changes to the website repo and

[2021-02-26 01:11] forresthopkinsa commented on #25172
I for one would appreciate the specificity of that particular term in k8s documentation. I arrived on this thread trying to find hysteretic systems used in Kubernetes.

[2021-02-26 01:13] sftim commented on #25172
/remove-lifecycle stale
more discussion might be useful

[2021-02-26 02:55] hicker-kin opened #26718 "Improvement for k8s.io/zh/docs/tasks/network/validate-dual-stack/"
if k8s-cluster has been installed, the certificate should be updated，too.

[2021-02-26 07:45] Xunzhuo opened #26720 "Community Sig Docs Contact URLs Deprecated"
**This is a Bug Report**

**Problem:**

Part of URLs in community/sig-docs are deprecated：

![企业微信截图_20210226151858](https://user-images.githubusercontent.com/48784001/109270814-8be63e00-7849-11eb-8195-43596d2eb951.png)

![企业微信截图_20210226151830](https://user-images.githubusercontent.com/48784001/109270819-91438880-7849-11eb-8dcc-430636789fd8.png)

**Proposed Solution:**

Update URLs in a PR: https

[2021-02-26 07:56] #26720 closed

[2021-02-26 08:55] shu-mutou opened #26722 "Terms "network solution" and "network add-on" should be unified."
**This is a Bug Report**

**Problem:**

There are words should be unified in [Troubleshooting kubeadm](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/) and [Installing Addons](https://kubernetes.io/docs/concepts/cluster-administration/addons/).

For the sake of clarity, the same words should be used for things that have the same meaning.

**Proposed S

[2021-02-26 09:09] yoichiro0217 commented on #26513
@inductor すいません、着手が遅れました。ちょっと確認させて頂きたいのですが、この[ja版のページ](https://github.com/kubernetes/website/blob/dev-1.18-ja.2/content/ja/docs/setup/production-environment/tools/kubeadm/self-hosting.md)は全体が翻訳されてないのですが、こちらページ全体を翻訳するissueでしょうか？

[2021-02-26 09:41] inductor commented on #26513
@yoichiro0217 翻訳は必須ではないですが、やって頂いてる方もいらっしゃいますのでベストエフォートでと言う感じです。
もちろん英文だけアップデートしていただくのでも大歓迎です！

[2021-02-26 09:46] yoichiro0217 commented on #26513
@inductor 承知しました、ご回答ありがとうございます。

[2021-02-26 12:51] sandrom opened #26729 "Watch Bookmarks not firing"
When using the watch bookmarks feature, I would expect that I would see a watch bookmark event at least sometimes, but it did not happen once yet observed. It may be not enough traffic going on for the code to consider them worthy, but is there possibly something planned that makes this more configurable or firing more regularly? A way to finetune this may really be a good way forward.

[2021-02-26 13:40] lamri000 opened #26732 "Example: Deploying PHP Guestbook application with MongoDB"
Hi All,
I noticed that the port of the service mongo  in mongo-service.yaml  is 27017
spec:
  ports:
  - port: 27017
and when we display services by the command kubectl get svc the port is 6379.
mongo          ClusterIP   10.0.0.151   <none>        6379/TCP   8s
It should be the same because the tupe of the service is clusterIP, correct me please if I am wrong.

[2021-02-26 14:16] sftim commented on #25943
@irvifa this is the issue (I couldn't find it earlier) that tracks the work to bring https://kubernetes.io/docs/reference/kubectl/ and https://kubectl.docs.kubernetes.io/references/kubectl/ into harmony.

I think it's a big enough piece of work that it'd be worth having a _brief_, synchronous discussion involving interested parties, before reaching out to SIG CLI.

[2021-02-26 14:21] neolit123 commented on #26722
modifying the kubeadm troubleshooting page to use "addon" instead of "solution" seems fine to me.
PRs welcome!

/help
/sig cluster-lifecycle
/kind cleanup
/priority backlog

[2021-02-26 14:28] Xunzhuo commented on #26693
@tengqm Sir I have Synced with English Version! and I give a complete PR #26692

[2021-02-26 15:42] rich-pixley commented on #26618
This link is pretty close to what I'm looking for with a number of
exceptions.

https://thenewstack.io/how-to-deploy-a-kubernetes-cluster-with-ubuntu-server-18-04/
<https://thenewstack.io/how-to-deploy-a-kubernetes-cluster-with-ubuntu-server-18-04/>

  * It's stale and needs to be updated.
  * It's only for ubuntu and good instructions should cover most major
    distros.
  * This suggests that ku

[2021-02-26 16:24] rajitha-source opened #26736 "Json- name, cpu = kubectl get pod -o=jsonpath='{range .items[*]}{.metadata.name}{"\t"}{.spec.containers[].resources.requests.cpu}{"\n"}{end}'"
**This is Support**

[2021-02-26 19:34] tomkivlin opened #26737 "Improve "look and feel" of tabs to make it clearer where they start/end."
This is a problem with the way the tabs are rendered -- I wonder if we can change tabs to have a more contained visual look. Something like a line at the bottom of them, or maybe a subtle change background colour to show what is a part of the tab content. Currently the only indicator of tab content is the horizontal one across the top of them.

_Originally posted by @nate-double-u in https://githu

[2021-02-26 20:18] #24170 closed

[2021-02-26 21:43] davideimola commented on #20962
Hi @fabriziopandini, I have finished my issue!
PR #26740!
Let me know!

[2021-02-27 02:54] jailton commented on #26722
/assign

[2021-02-27 03:34] jailton commented on #26414
/assign

[2021-02-27 08:00] inductor commented on #26517
/close

[2021-02-27 08:00] #26517 closed

[2021-02-27 13:30] oke-py commented on #26732
The Example used redis as a database, which listens on port 6379.
The commit https://github.com/kubernetes/website/commit/99029b97d7c93373cf20e9609782428f107654c2 replaced redis with mongodb, and so, the port displayed by `kubectl get svc` should be modified to 27017, which mongodb uses.

[2021-02-27 17:17] sftim commented on #26202
Cc @IanColdwater & @tabbysable (this is the issue for the PSP deprecation blog article)

/sig auth
/sig security
/priority important-soon

[2021-02-28 00:06] kbhawkey commented on #26717
Good start @a-mccarthy .
/triage accepted

[2021-02-28 01:41] kbhawkey commented on #22298
/assign @kreempuff

[2021-02-28 02:26] #25833 closed

[2021-02-28 03:52] only21tender commented on #26684
I had the same problem ~~
****
[root@k8smaster-01 rbd]# cat snapshotclass.yaml
---
apiVersion: snapshot.storage.k8s.io/v1alpha1
kind: VolumeSnapshotClass
metadata:
  name: csi-rbdplugin-snapclass
snapshotter: rook-ceph.rbd.csi.ceph.com
parameters:
  # Specify a string that identifies your cluster. Ceph CSI supports any
  # unique string. When Ceph CSI is deployed by Rook use the Rook namespace,

[2021-02-28 03:53] only21tender commented on #26684
I had the same problem ~ ~
------------------------------------
[root@k8smaster-01 rbd]# cat snapshotclass.yaml
---
apiVersion: snapshot.storage.k8s.io/v1alpha1
kind: VolumeSnapshotClass
metadata:
  name: csi-rbdplugin-snapclass
snapshotter: rook-ceph.rbd.csi.ceph.com
parameters:
  # Specify a string that identifies your cluster. Ceph CSI supports any
  # unique string. When Ceph CSI is deployed b

[2021-02-28 03:54] only21tender commented on #26684
I had the same problem ~ ~
---------------------------------------------
[root@k8smaster-01 rbd]# cat snapshotclass.yaml
---
apiVersion: snapshot.storage.k8s.io/v1alpha1
kind: VolumeSnapshotClass
metadata:
  name: csi-rbdplugin-snapclass
snapshotter: rook-ceph.rbd.csi.ceph.com
parameters:
  clusterID: rook-ceph
  csi.storage.k8s.io/snapshotter-secret-name: rook-csi-rbd-provisioner
  csi.storage.k8

[2021-02-28 04:48] Alpenbelieve opened #26762 "Questions about configuring kube-scheduler in "Scheduler Configuration" section"
Hello, I've been learning Kubernetes for a while and recently wanted to implement a custom scheduler.
And there're 4 ways to achieve:
1. clone and modify source code
2. run a separate scheduler along with default scheduler
3. scheduler extender
4. **scheduling framework (recommend)**

When I'm working on the 4th method, I find [Scheduler Configuration](https://kubernetes.io/docs/reference/scheduli

[2021-02-28 05:03] Alpenbelieve commented on #26762
I know that the common way is to use Scheduling Framework to write a custom scheduler, and register some plugins on extension points.

Following is an example: (comes from [this repo)](https://github.com/NJUPT-ISL/Yoda-Scheduler/blob/855e9d6812b80a1aadc89c5a9460e380776dd62b/deploy/yoda-scheduler.yaml#L21)

[code]
The author use Scheduling Framework to write a scheduler called "yoda-scheduler2", an

[2021-02-28 11:57] #23108 closed

[2021-02-28 12:27] jailton commented on #26732
/assign

[2021-02-28 12:28] simonc6372 commented on #26199
I ran into this too, and was about to create an issue, but found this one.

The deployment created in the preceding lesson (https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/) does not have a port assigned.
This tutorial assumes the deployment *does* have a port assigned, but if you are following the lessons against your own cluster, this is not the case.
This ma

[2021-02-28 12:48] oke-py opened #26765 "Example: Deploying PHP Guestbook application with MongoDB includes ordered lists with wrong indexes"
4 ordered lists have wrong indexes.
For example, the number below should be 3.

![guestbook](https://user-images.githubusercontent.com/4710215/109418952-3ad37700-7a0e-11eb-82c9-f7cd834ed25d.png)

Page to update:
https://kubernetes.io/docs/tutorials/stateless-application/guestbook/

/language en
/kind cleanup

[2021-02-28 14:02] jailton commented on #26765
/assign

[2021-02-28 15:00] #23902 closed

[2021-02-28 15:31] sftim commented on #26199
@ymartineau would you be willing to summarize https://github.com/kubernetes/website/issues/26199#issuecomment-787444558 into the description of this issue? I think that'd help.

[2021-02-28 15:31] sftim commented on #26199
/language en

[2021-02-28 15:32] sftim commented on #26737
/area web-development
/triage accepted
/priority backlog

Thanks @tomkivlin and @nate-double-u

[2021-02-28 16:18] sftim commented on #26729
@sandrom, GitHub is not the right place for support requests (including queries about planned enhancements).

You can instead post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

Another options is [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes).

/kind support

[2021-02-28 16:19] sftim commented on #26762
@Alpenbelieve , GitHub is not the right place for support requests.

You can instead post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

Another options is [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes).

/kind support

[2021-02-28 16:20] sftim commented on #26684
@jhoncemplok , GitHub is not the right place for support requests.

You can instead post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

Another options is [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes).

/kind support

[2021-02-28 16:20] sftim commented on #26684
If there's a page on the website that is incorrect, please add details of the bug.

[2021-02-28 16:20] sftim commented on #26732
/kind bug
/language en

[2021-02-28 16:34] lamri000 commented on #26732
Ok, Thank you
Tarek

[2021-02-28 16:39] neha-viswanathan commented on #26722
/assign @neha-viswanathan

[2021-02-28 18:41] sftim commented on #26671
I looked on the web and the term “upper camel case” seems used quite widely - eg see https://www.google.com/search?q=upper+camel+case

We avoid listing specific vendors and products if they are not part of Kubernetes.

/triage invalid

[2021-02-28 18:42] sftim commented on #26681
As I understand it, this issue is about https://k8s.io/docs/tasks/debug-application-cluster/debug-application/

/kind bug
/language en
/triage accepted

[2021-02-28 18:42] sftim commented on #26681
/priority backlog
/help

[2021-02-28 18:44] sftim commented on #26673
Hi @Karmavil

It looks to me that part of this story is covered in https://kubernetes.io/docs/concepts/containers/images/#using-a-private-registry and part in https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/#create-a-secret-by-providing-credentials-on-the-command-line

Do you think you have enough insight into what's not right with the current page to describe

[2021-02-28 18:48] sftim commented on #26671
/triage not-reproducible

[2021-02-28 21:06] #24254 closed

[2021-02-28 21:31] simonc6372 opened #26774 "Label mismatch in “Exposing your app” tutorial"
the deployment created in your online environment has
[code]
However, the deployment created when working along at home (I'm using docker desktop + kubernetes under WSL) creates a different labelset
[code]

Here is my version info.
[code]

Online, you're running 1.17, so I guess the default label name may have changed ?

[2021-02-28 21:35] simonc6372 commented on #26774
this then of course also means the part of this leason that labels the pod with an `app` label doesn't work either.

[2021-03-01 00:45] Karmavil commented on #26673
Hi @sftim
I'm collecting information.
Meaning that I didn't try authenticate yet using the auth and the real email as credentials, but I can tell for sure that I cannot authenticate using auth an "email"="none"
I have some extra info in a reply to another [issue related to minikube](https://github.com/kubernetes/minikube/issues/9161).
I would like to know what they think about it because they had

[2021-03-01 00:49] Karmavil commented on #26673
I should update the description of this issue as soon as possible

[2021-03-01 09:01] sftim commented on #26673
This issue is about the part of Kubernetes that runs Pods (that is: nodes). SIG Node is the most relevant SIG here.

[2021-03-01 11:21] rdxmb opened #26780 "Docker deprecation should be added on install site"
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#installing-runtime

[2021-03-01 12:00] Alpenbelieve commented on #26762
@sftim Thank you for your suggestions. And I find there's a [blog](https://hackerain.me/2020/12/21/kubernetes/kube-scheduler-framework.html) which may be helpful. It requires us to modify main() method and build kube-scheduler.

[2021-03-01 12:00] #26762 closed

[2021-03-01 13:22] #24336 closed

[2021-03-01 15:53] neolit123 commented on #26780
docker support is not deprecated in kubernetes. the built-in support for docker in the kubelet is deprecated and dockershim is being moved to a standalone binary:
https://github.com/kubernetes/enhancements/blob/9f27c895a38fd87134fe0902785dead31ed655bb/keps/sig-node/2221-remove-dockershim/README.md

once that is done we can change the sentence:
[code]

but this will be done later.

/close
/sig clus

[2021-03-01 19:09] #26689 closed

[2021-03-01 19:09] #26693 closed

[2021-03-01 19:28] #24334 closed

[2021-03-01 19:40] kbhawkey commented on #26650
/triage accepted

[2021-03-01 20:20] marciogmorales opened #26784 "“Configure GMSA for Windows Pods and containers” page does not mention CoreDNS"
Hello,
The documentation doesn't cover the CoreDNS piece.

It is a requirement to have a forward zone inside CoreDNS to the domain FQDN, otherwise nltest.exe tests and gMSA use will fail as the container won't be able to do the name resolution.

Run: `kubectl -n kube-system edit configmap coredns`

and add as an example of the forward zone:

`
 }

    DOMAIN-NAME:53 {
        errors
        cache

[2021-03-01 20:45] #20962 closed

[2021-03-01 20:53] #26722 closed

[2021-03-01 21:18] zacharysarah opened #26785 "Change callout from warning to caution"
## What's the problem?

The page for [configuring liveness readiness startup probes](https://github.com/kubernetes/website/blob/master/content/en/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md) incorrectly calls out waiting behavior as a warning rather than a caution.

For more information, see https://github.com/kubernetes/website/pull/26387#discussion_r57046505

[2021-03-01 21:19] zacharysarah commented on #26785
/good-first-issue
/triage accepted

[2021-03-01 22:38] neha-viswanathan commented on #26785
/assign @neha-viswanathan

[2021-03-01 22:48] zacharysarah commented on #26785
As a reminder, anyone can open a pull request on an open issue, whether it’s assigned or not.

[2021-03-01 22:54] zacharysarah commented on #26785
/unassign @neha-viswanathan

[2021-03-01 23:15] caleb15 commented on #26785
It would also be good to change the text of the caution slightly - see https://github.com/kubernetes/website/pull/26387/files#r570464275

[2021-03-02 01:38] SergeyKanzhelev commented on #25171
/remove-lifecycle stale

[2021-03-02 04:35] inductor commented on #26515
/close

[2021-03-02 04:35] #26515 closed

[2021-03-02 10:42] lsq645599166 commented on #26597
/assign

[2021-03-02 11:25] RakeshRam commented on #26614
The ingress, and ingress-dns addons are currently only supported on **Linux**.  Currently not supported on Windows.
**[MoreInfo](https://minikube.sigs.k8s.io/docs/drivers/docker/#known-issues)**

![image](https://user-images.githubusercontent.com/1567074/109641679-fcf26200-7b77-11eb-92eb-203cbce9f490.png)

Not Supported on Windows:
- minikube version: v1.16.0
- minikube version: v1.17.1

[2021-03-02 11:25] #26614 closed

[2021-03-02 11:53] #26597 closed

[2021-03-02 12:15] #26785 closed

[2021-03-02 12:52] sftim commented on #26784
/retitle “Configure GMSA for Windows Pods and containers” page does not mention CoreDNS
/sig windows

[2021-03-02 12:53] sftim commented on #26774
/retitle Label mismatch in “Exposing your app” tutorial

[2021-03-02 12:59] sftim commented on #26774
@BenHall would you be willing to triage this? (also, we can add a label for the family of issues that involve Katacoda - would that help?)

I think updating the tutorial to Kubernetes v1.20 would address this.

[2021-03-02 13:55] BenHall commented on #26774
A label would be amazing!!

I will also take a look at this, hopefully today if not tomorrow

[2021-03-02 16:56] sftim opened #26797 "Add GitHub issue label for Katacoda / tutorial issues"
**This is a Feature Request**

**What would you like to be added**
Add a new label to this repo ([k/website](https://github.com/kubernetes/website/))
Implement this change via a pull request against https://github.com/kubernetes/test-infra/blob/master/label_sync/labels.yaml

**Why is this needed**
Using this label will help identify work that's relevant for people who look after Katacoda as a mean

[2021-03-02 18:16] sftim commented on #26718
Hi @hicker-kin

Do you know if the upstream page https://k8s.io/docs/tasks/network/validate-dual-stack/ (in English) also shows the defect you mention? It doesn't seem to mention certificates.

/triage needs-information

[2021-03-02 18:17] sftim commented on #26687
/kind feature
/triage accepted

Also see https://github.com/kubernetes/website/issues/23889

[2021-03-02 20:14] nigelainscoe opened #26802 "Issue with k8s.io/docs/reference/kubectl/cheatsheet/"
The # Output decoded secrets without external tools command:
`kubectl get secret my-secret -o go-template='{{range $k,$v := .data}}{{"### "}}{{$k}}{{"\n"}}{{$v|base64decode}}{{"\n\n"}}{{end}}'`

returns "`The system cannot find the path specified.`" when executed on Windows. Works fine on WSL Ubuntu

[2021-03-03 01:58] #24195 closed

[2021-03-03 03:15] #26403 closed

[2021-03-03 03:41] zhiguo-lu opened #26807 "[zh] translate "tasks/Certificates""
**This is a Feature Request**
translate docs/tasks/administer-cluster/certificates.md into Chinese

**What would you like to be added**
content/zh/docs/tasks/administer-cluster/certificates.md

/assign
/language zh

[2021-03-03 04:14] Colstuwjx opened #26808 "Support docsy print"
**This is a Feature Request**

**What would you like to be added**

Since we're using docsy theme, why not enable [docsy print](https://www.docsy.dev/docs/adding-content/print/) feature ?! It would let our users get more friendly read feelings.

**Why is this needed**
Make our website docs printable.

**Comments**

[2021-03-03 05:47] amoghrajesh opened #26810 "Interactive Tutorial - Scaling Your App"
In Step-2: Load Balancing, It is not very convenient to run the curl command multiple times to see the output. It would be much better to ask the learner to create a shell script like below to run the curl request say for 10 times.
Preview of the bash script -
[code]

[2021-03-03 06:23] lsq645599166 commented on #26672
@ydcool maybe it's this page

https://kubernetes.io/zh/docs/reference/command-line-tools-reference/feature-gates/#%E7%89%B9%E6%80%A7%E9%98%B6%E6%AE%B5

![屏幕快照 2021-03-03 下午2 17 47](https://user-images.githubusercontent.com/7345199/109762518-ac3c4100-7c2b-11eb-8f4b-ccc123cd2081.png)

[2021-03-03 06:23] lsq645599166 commented on #26672
/assign

[2021-03-03 09:12] sftim commented on #26808
As an idea, I like it.

/triage accepted
/kind feature
/area web-development
/priority backlog

[2021-03-03 09:28] sftim commented on #26802
That looks like it should “just work” providing the quoting is correct.

@nigelainscoe what output do you get from `kubectl get secret my-secret -o json`? (please redact anything confidential!)
Also, what shell are you using?

/triage needs-information
(possibly /triage support)

[2021-03-03 11:04] krol3 commented on #13948
Hola @raelga , me gustaria hacer la seccion seguridad, comenzaria por: content/es/docs/concepts/security/overview.md

[2021-03-03 12:04] raelga commented on #13948
Genial! Muchas gracias @krol3 y bienvenida a la comunidad!

[2021-03-03 12:15] yimcd opened #26815 "Modify Korean translation for configuration/secret.md"
In Korean version,
https://kubernetes.io/ko/docs/concepts/configuration/secret/#tls-%EC%8B%9C%ED%81%AC%EB%A6%BF

Last sentence of this section is:
두 가지 방식 모두에 대해서, PEM의 시작과 끝 라인(예를 들면, 인증서의 --------BEGIN CERTIFICATE----- 및 -------END CERTIFICATE----) 은 포함되면 안 된다.

Original:
 In both cases, the initial and the last lines from PEM (for example, --------BEGIN CERTIFICATE----- and -------END CERTIFICA

[2021-03-03 12:43] Karmavil commented on #13948
# [Joining](#joining)

* [x] Init Spanish localization (@Karmavil) #26816

I'm glad to work with the localization team and collaborate to facilitate the information.

Please let me share a few tips to improve this document:

* This page has an edit-owner-only permission. We cannot [`fix it directly just reply`](#for%20mainteners)
* That link will not work because this is an Issie, but I guess you

[2021-03-03 12:54] Karmavil commented on #13948
Oh by the way I feel very happy about the documentation guidance and the assistance offered by you @raelga and the translation SIG team.
Good descriptions, good documentation about everything. Everything woks great.
Thanks

[2021-03-03 13:04] inductor commented on #26513
/close

[2021-03-03 13:05] #26513 closed

[2021-03-03 14:21] arjanvdberg commented on #25143
/remove-lifecycle stale

[2021-03-03 15:49] salanhess opened #26819 "cannot login mysql after run deployment:mysql"
After  I follow https://kubernetes.io/docs/tasks/run-application/run-single-instance-stateful-application/
all the steps,but can't get in mysql. error as following:

[root@bogon ~]# kubectl run -it --rm --image=mysql:5.6 --restart=Never mysql-client -- mysql -h mysql -ppassword
Warning: Using a password on the command line interface can be insecure.
ERROR 2005 (HY000): Unknown MySQL server host 'm

[2021-03-03 17:43] sftim commented on #26156
/close
Thanks @jordinl83 !

[2021-03-03 17:43] #26156 closed

[2021-03-03 18:10] sftim commented on #26293
@ravisinha0506 - when I mention the etcd documentation, I mean https://etcd.io/docs/

[2021-03-03 18:12] sftim commented on #22382
This does seem more like a support request. @harshaltiwariACN if you have more details about this issue, please feel free to reopen the issue and add that information.

/close

[2021-03-03 18:12] #22382 closed

[2021-03-03 18:17] sftim opened #26822 "Migrate Names topic to reference section"
**This is a Feature Request**

**What would you like to be added**
https://kubernetes.io/docs/concepts/overview/working-with-objects/names/ should move into https://kubernetes.io/docs/reference/

Configure a redirect to that references to the old URL continue to work.

**Why is this needed**
Names are a too-fundamental topic to document in their own right as a concept.
It's OK to have a reference

[2021-03-03 18:18] sftim commented on #4511
Superseded by issue #26822.
/close

[2021-03-03 18:18] #4511 closed

[2021-03-03 18:21] sftim commented on #26819
@salanhess, GitHub is not the right place for support requests. However, I hope we can find a way to explain why this didn't work how you expected.

I suspect that your cluster doesn't have a working `kube-dns` application such as CoreDNS. The bug is that the page https://kubernetes.io/docs/tasks/run-application/run-single-instance-stateful-application/ doesn't list working cluster DNS as a requir

[2021-03-03 18:27] sftim commented on #26815
/language ko

The original text is:

NB “cetificate” is a typo in the original.

Just for reference: the format of _these_ Secret fields is DER, _not_ PEM. The base64 encoding is done by Kubernetes itself so the data are DER. However there is a clear link to PEM because the particular kind of DER document is exactly what's used in PEM (for certificates). There is a _de facto_ convention for repres

[2021-03-03 18:28] sftim commented on #19835
/area web-development
/remove-lifecycle rotten
/help

[2021-03-03 18:29] sftim commented on #20760
/remove-lifecycle rotten

[2021-03-03 18:29] sftim commented on #24443
/remove-lifecycle rotten

[2021-03-03 18:36] sftim opened #26823 "Add security goose to callouts"
**This is a Feature Request**

**What would you like to be added**
Copy the “security goose” callout style from the kind documentation.

**Why is this needed**

&mdash; @tabbysable

**Comments**

_Example_:
![Security Goose Says example](https://user-images.githubusercontent.com/22591623/109854648-321db380-7c4f-11eb-82ab-4b79609aa044.png)
from
https://kind.sigs.k8s.io/docs/user/configuration/#api-

[2021-03-03 18:40] sftim commented on #26823
This came from
/sig security

and it's clearly about making these warnings more approachable.
I like the icon too :smile:

[2021-03-03 22:56] sftim commented on #22391
(Sounds good to me)

[2021-03-03 22:59] sftim commented on #24627
/remove-lifecycle rotten

[2021-03-03 22:59] sftim commented on #19811
/remove-lifecycle rotten
/lifecycle frozen

[2021-03-03 23:02] tippl opened #26825 "Link from concept explanation docs to api reference for objects"
**This is a Feature Request**

**What would you like to be added**
The concept explanation page should directly link to api reference page that explans all parameters that can be used in the object. For example [Pod](https://kubernetes.io/docs/concepts/workloads/pods/) docs page would directly link to the [Pod](https://kubernetes.io/docs/reference/kubernetes-api/workloads-resources/pod-v1/) object

[2021-03-03 23:02] sftim commented on #23885
/kind feature
/remove-lifecycle stale

[2021-03-03 23:05] sftim commented on #24672
Hi @gopalakrishnaR

If you'd like to add more information to this issue, feel free to reopen it and edit the description or add a comment.
/close

[2021-03-03 23:05] #24672 closed

[2021-03-04 01:19] kbhawkey commented on #26797
👋 @sftim .
There is the  "team/katacoda" label?

[2021-03-04 01:44] kbhawkey commented on #26825
Related to https://github.com/kubernetes/website/pull/26151.

[2021-03-04 01:51] lsq645599166 commented on #26672
content/zh/docs/reference/command-line-tools-reference/feature-gates.md is out of date, so sync the zh version with en version first

/unassign

[2021-03-04 03:57] toashok7 opened #26829 "Adjust widths of documentation layout"
This is the feedback for whole Kubernetes.io. The website provides 3 panes on screen. The right hand pane which provides options to edit the page is not at all required here. Because of this the whole Kubernetes website is not user friendly and readable. The right hand section should be removed to Menu. The width of left hand section with search feature and the Table of Content should be increased

[2021-03-04 06:25] nanase0319 opened #26830 "Improvement for k8s.io/zh/docs/concepts/overview/what-is-kubernetes/"

[2021-03-04 06:26] #26830 closed

[2021-03-04 06:30] yanivpaz opened #26831 "Declare Network Policy"

[2021-03-04 06:31] #26831 closed

[2021-03-04 06:31] yanivpaz commented on #26831
mistake

[2021-03-04 09:09] sftim commented on #26774
/team katacoda

Let's see if Prow does this.

[2021-03-04 09:11] sftim commented on #26797
We have that label; let's hook it up to Prow

 /retitle Labelling (via Prow) for Katacoda / tutorial issues

[2021-03-04 11:59] sftim commented on #24872
/close

[2021-03-04 11:59] #24872 closed

[2021-03-04 12:00] sftim commented on #26829
Thanks for that feedback.

/retitle Adjust widths of documentation layout

@toashok7 perhaps a screenshot of how the site appears when you're viewing it would help give context?

/area web-development
/priority awaiting-more-evidence

[2021-03-04 12:01] sftim commented on #26825
/kind feature

[2021-03-04 12:16] oke-py opened #26834 ""Declarative Management of Kubernetes Objects Using Kustomize" contains a broken link"
The link "Json6902" in [Kustomize Feature List](https://kubernetes.io/docs/tasks/manage-kubernetes-objects/kustomization/#kustomize-feature-list) returns 404.

[2021-03-04 12:31] hot3eed opened #26836 "“Use Port Forwarding to Access Applications in a Cluster” refers to missing manifests"
[Deployment and Service](https://kubernetes.io/docs/tasks/access-application-cluster/port-forward-access-application-cluster/#creating-redis-deployment-and-service) links are dead.

[2021-03-04 18:01] iam-veeramalla opened #26843 "Access Clusters Using the Kubernetes API"
Link broken or pointing to a wrong link.

Under section:
Programmatic access to the API.  The link provided in the below line seems to be broken to wrong.
[code]

[2021-03-04 18:43] shelbyspees opened #26844 "Tutorial module not rendering on "Interactive Tutorial - Creating a Cluster""
Interactive tutorial module not rendering
- Google Chrome Version 88.0.4324.192 (Official Build) (x86_64)
- MacOS Version 11.1 (20C69)

![screenshot of Creating a Cluster page](https://user-images.githubusercontent.com/5217772/110011149-f4af3980-7cd3-11eb-8f9d-6cc663e90832.png)

I'm not a browser dev but I copied this out of the Chrome devtools console:

[code]

Seems to be behaving the same way i

[2021-03-04 20:14] softforte opened #26845 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
Interactive tutorial doesn't open up

[2021-03-04 22:24] aslom opened #26846 "Improvement for k8s.io/docs/tasks/configure-pod-container/pull-image-private-registry/"
Replace dockerconfigjson with dockerconfig:

[code]

instead of

[code]

[2021-03-04 22:32] BenTheElder commented on #26823
Amazing 😂 ❤️

The sources for these are in:
https://github.com/kubernetes-sigs/kind/blob/master/site/layouts/shortcodes/securitygoose.html
https://github.com/kubernetes-sigs/kind/pull/1389

[2021-03-04 23:05] sftim commented on #25320
/close

[2021-03-04 23:05] #25320 closed

[2021-03-04 23:06] sftim commented on #26829
@toashok7 this website uses the [Docsy](https://www.docsy.dev/) theme; it might make sense to request this as a Docsy feature rather than specifically as a Kubernetes customization to Docsy.

[2021-03-04 23:07] sftim commented on #26846
Hi @aslom

To help people work on this issue, can you outline why we should make the change you suggest?

[2021-03-04 23:08] sftim commented on #26834
/kind bug
/priority backlog
/language en
/triage accepted

Good spot @oke-py

[2021-03-04 23:09] sftim commented on #26836
Thanks @hot3eed

/kind bug
/priority important-longterm
/language en
/triage accepted

/retitle “Use Port Forwarding to Access Applications in a Cluster” refers to missing manifests
I think we should find the replacement example manifests and update the [task](https://kubernetes.io/docs/tasks/access-application-cluster/port-forward-access-application-cluster/#creating-redis-deployment-and-service)

[2021-03-04 23:11] sftim commented on #26843
I think this report is about the page https://kubernetes.io/docs/tasks/administer-cluster/access-cluster-api/

@iam-veeramalla can you paste in the text (or HTML source) of the broken hyperlink

/triage needs-information

[2021-03-04 23:12] sftim commented on #26844
https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/ works OK for me.

@shelbyspees are you still seeing these symptoms?
/priority awaiting-more-evidence

[2021-03-04 23:13] sftim commented on #26845
I suspect this is fixed. @softforte are the symptoms still present?
/priority awaiting-more-evidence

[2021-03-05 00:26] #26150 closed

[2021-03-05 00:48] stealthybox commented on #26823
+1
/honk

[2021-03-05 00:53] seokho-son commented on #26620
completed ~ !

[2021-03-05 00:53] #26620 closed

[2021-03-05 03:04] #26096 closed

[2021-03-05 03:08] #26376 closed

[2021-03-05 04:25] inductor opened #26853 "ja: Make docs/concepts/architecture/cloud-controller.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/architecture/cloud-controller.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/architecture/cloud-controller.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/content/ja/docs/co

[2021-03-05 04:26] inductor opened #26854 "ja: Make docs/concepts/architecture/controller.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/architecture/controller.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/architecture/controller.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/content/ja/docs/concepts/archi

[2021-03-05 04:27] inductor opened #26855 "ja: Make docs/concepts/architecture/nodes.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/architecture/nodes.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/architecture/nodes.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/content/ja/docs/concepts/architecture/no

[2021-03-05 04:28] inductor opened #26856 "ja: Make docs/concepts/cluster-administration/_index.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/cluster-administration/_index.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/cluster-administration/_index.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/content/ja/docs/co

[2021-03-05 04:29] inductor opened #26857 "ja: Make docs/concepts/cluster-administration/cloud-providers.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/cluster-administration/cloud-providers.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/cluster-administration/cloud-providers.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/

[2021-03-05 04:30] inductor commented on #26857
メモ: `git diff`だけだと削除扱いになっているが、実際に削除されたのかどこか別のファイルに移動しているのか確認が必要

[2021-03-05 04:31] inductor opened #26858 "ja: Make docs/concepts/cluster-administration/networking.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/cluster-administration/networking.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/cluster-administration/networking.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/content/ja

[2021-03-05 04:32] inductor opened #26859 "ja: Make docs/concepts/configuration/configmap.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/configuration/configmap.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/configuration/configmap.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/content/ja/docs/concepts/confi

[2021-03-05 04:32] inductor opened #26860 "ja: Make docs/concepts/configuration/manage-resources-containers.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/configuration/manage-resources-containers.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/configuration/manage-resources-containers.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19

[2021-03-05 04:34] inductor opened #26861 "ja: Make docs/concepts/configuration/secret.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/configuration/secret.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/configuration/secret.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/content/ja/docs/concepts/configurati

[2021-03-05 04:35] inductor opened #26862 "ja: Make docs/concepts/containers/_index.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/containers/_index.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/containers/_index.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/content/ja/docs/concepts/containers/_index

[2021-03-05 04:35] inductor opened #26863 "ja: Make docs/concepts/containers/container-lifecycle-hooks.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/containers/container-lifecycle-hooks.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/containers/container-lifecycle-hooks.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/cont

[2021-03-05 04:37] inductor opened #26864 "ja: Make docs/concepts/containers/images.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/containers/images.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/containers/images.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/content/ja/docs/concepts/containers/images

[2021-03-05 04:37] inductor opened #26865 "ja: Make docs/concepts/containers/runtime-class.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/containers/runtime-class.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/containers/runtime-class.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/content/ja/docs/concepts/con

[2021-03-05 04:37] inductor opened #26866 "ja: Make docs/concepts/extend-kubernetes/_index.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/extend-kubernetes/_index.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/extend-kubernetes/_index.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/content/ja/docs/concepts/ext

[2021-03-05 04:38] inductor opened #26867 "ja: Make docs/concepts/extend-kubernetes/api-extension/custom-resources.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/extend-kubernetes/api-extension/custom-resources.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/extend-kubernetes/api-extension/custom-resources.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website

[2021-03-05 04:39] inductor opened #26868 "ja: Make docs/concepts/extend-kubernetes/extend-cluster.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/extend-kubernetes/extend-cluster.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/extend-kubernetes/extend-cluster.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/content/ja/d

[2021-03-05 04:40] inductor opened #26869 "ja: Make docs/concepts/extend-kubernetes/operator.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/extend-kubernetes/operator.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/extend-kubernetes/operator.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/content/ja/docs/concepts

[2021-03-05 04:42] inductor opened #26870 "ja: Make docs/concepts/overview/components.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/overview/components.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/overview/components.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/content/ja/docs/concepts/overview/comp

[2021-03-05 04:43] inductor opened #26871 "ja: Make docs/concepts/overview/kubernetes-api.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/overview/kubernetes-api.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/overview/kubernetes-api.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/content/ja/docs/concepts/overv

[2021-03-05 04:43] inductor opened #26872 "ja: Make docs/concepts/overview/what-is-kubernetes.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/overview/what-is-kubernetes.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/overview/what-is-kubernetes.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/content/ja/docs/concep

[2021-03-05 04:44] inductor opened #26873 "ja: Make docs/concepts/overview/working-with-objects/annotations.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/overview/working-with-objects/annotations.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/overview/working-with-objects/annotations.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19

[2021-03-05 04:44] inductor opened #26874 "ja: Make docs/concepts/overview/working-with-objects/kubernetes-objects.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/overview/working-with-objects/kubernetes-objects.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/overview/working-with-objects/kubernetes-objects.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website

[2021-03-05 04:45] inductor opened #26875 "ja: Make docs/concepts/overview/working-with-objects/labels.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/overview/working-with-objects/labels.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/overview/working-with-objects/labels.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/cont

[2021-03-05 04:45] inductor opened #26876 "ja: Make docs/concepts/overview/working-with-objects/names.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/overview/working-with-objects/names.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/overview/working-with-objects/names.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/conten

[2021-03-05 04:46] inductor opened #26877 "ja: Make docs/concepts/overview/working-with-objects/namespaces.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/overview/working-with-objects/namespaces.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/overview/working-with-objects/namespaces.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-j

[2021-03-05 04:47] inductor opened #26878 "ja: Make docs/concepts/policy/resource-quotas.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/policy/resource-quotas.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/policy/resource-quotas.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/content/ja/docs/concepts/policy/

[2021-03-05 04:48] inductor opened #26879 "ja: Make docs/concepts/scheduling-eviction/assign-pod-node.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/scheduling-eviction/assign-pod-node.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/scheduling-eviction/assign-pod-node.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/conten

[2021-03-05 04:48] inductor opened #26880 "ja: Make docs/concepts/scheduling-eviction/kube-scheduler.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/scheduling-eviction/kube-scheduler.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/scheduling-eviction/kube-scheduler.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/content/

[2021-03-05 04:49] inductor opened #26881 "ja: Make docs/concepts/scheduling-eviction/scheduler-perf-tuning.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/scheduling-eviction/scheduler-perf-tuning.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/scheduling-eviction/scheduler-perf-tuning.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19

[2021-03-05 04:50] inductor opened #26882 "ja: Make docs/concepts/scheduling-eviction/taint-and-toleration.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/scheduling-eviction/taint-and-toleration.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/scheduling-eviction/taint-and-toleration.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-j

[2021-03-05 04:50] inductor opened #26883 "ja: Make docs/concepts/security/overview.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/security/overview.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/security/overview.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/content/ja/docs/concepts/security/overview

[2021-03-05 04:52] inductor opened #26884 "ja: Make docs/concepts/security/pod-security-standards.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/security/pod-security-standards.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/security/pod-security-standards.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/content/ja/doc

[2021-03-05 04:52] inductor opened #26885 "ja: Make docs/concepts/services-networking/connect-applications-service.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/services-networking/connect-applications-service.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/services-networking/connect-applications-service.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website

[2021-03-05 04:53] inductor opened #26886 "ja: Make docs/concepts/services-networking/dns-pod-service.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/services-networking/dns-pod-service.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/services-networking/dns-pod-service.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/conten

[2021-03-05 04:56] inductor opened #26887 "ja: Make docs/concepts/services-networking/dual-stack.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/services-networking/dual-stack.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/services-networking/dual-stack.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/content/ja/docs/

[2021-03-05 04:57] AshtarCodes commented on #25123
/assign

[2021-03-05 04:57] inductor opened #26888 "ja: Make docs/concepts/services-networking/endpoint-slices.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/services-networking/endpoint-slices.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/services-networking/endpoint-slices.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/conten

[2021-03-05 04:57] inductor opened #26889 "ja: Make docs/concepts/services-networking/ingress-controllers.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/services-networking/ingress-controllers.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/services-networking/ingress-controllers.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.

[2021-03-05 05:01] AshtarCodes commented on #25123
Hi @sftim , Happy to take care of this, but to be safe... Was there a consensus on how to handle the redirects for this issue? Thank you.

[2021-03-05 05:04] inductor opened #26890 "ja: Make docs/concepts/services-networking/ingress.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/services-networking/ingress.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/services-networking/ingress.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/content/ja/docs/concep

[2021-03-05 05:05] inductor opened #26891 "ja: Make docs/concepts/services-networking/network-policies.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/services-networking/network-policies.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/services-networking/network-policies.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/cont

[2021-03-05 05:05] inductor opened #26892 "ja: Make docs/concepts/services-networking/service.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/services-networking/service.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/services-networking/service.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/content/ja/docs/concep

[2021-03-05 05:06] inductor opened #26893 "ja: Make docs/concepts/storage/dynamic-provisioning.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/storage/dynamic-provisioning.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/storage/dynamic-provisioning.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/content/ja/docs/conc

[2021-03-05 05:07] inductor opened #26894 "ja: Make docs/concepts/storage/persistent-volumes.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/storage/persistent-volumes.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/storage/persistent-volumes.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/content/ja/docs/concepts

[2021-03-05 05:09] inductor opened #26895 "ja: Make docs/concepts/workloads/_index.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/workloads/_index.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/workloads/_index.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/content/ja/docs/concepts/workloads/_index.md

[2021-03-05 05:09] inductor opened #26896 "ja: Make docs/concepts/workloads/controllers/_index.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/workloads/controllers/_index.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/workloads/controllers/_index.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/content/ja/docs/conc

[2021-03-05 05:10] inductor opened #26897 "ja: Make docs/concepts/workloads/controllers/daemonset.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/workloads/controllers/daemonset.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/workloads/controllers/daemonset.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/content/ja/doc

[2021-03-05 05:10] inductor opened #26898 "ja: Make docs/concepts/workloads/controllers/deployment.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/workloads/controllers/deployment.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/workloads/controllers/deployment.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/content/ja/d

[2021-03-05 05:10] inductor opened #26899 "ja: Make docs/concepts/workloads/controllers/replicaset.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/workloads/controllers/replicaset.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/workloads/controllers/replicaset.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/content/ja/d

[2021-03-05 05:12] inductor opened #26900 "ja: Make docs/concepts/workloads/pods/_index.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/workloads/pods/_index.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/workloads/pods/_index.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/content/ja/docs/concepts/workloads

[2021-03-05 05:13] inductor opened #26901 "ja: Make docs/concepts/workloads/pods/init-containers.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/workloads/pods/init-containers.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/workloads/pods/init-containers.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/content/ja/docs/

[2021-03-05 05:13] inductor opened #26902 "ja: Make docs/concepts/workloads/pods/pod-lifecycle.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/workloads/pods/pod-lifecycle.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/workloads/pods/pod-lifecycle.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/content/ja/docs/conc

[2021-03-05 05:30] inductor opened #26903 "ja: Make docs/contribute/_index.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/contribute/_index.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/contribute/_index.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/content/ja/docs/contribute/_index.md

Original
https://githu

[2021-03-05 05:31] inductor opened #26904 "ja: Make docs/contribute/suggesting-improvements.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/contribute/suggesting-improvements.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/contribute/suggesting-improvements.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/content/ja/docs/contribute

[2021-03-05 05:32] inductor opened #26905 "ja: Make docs/home/_index.md follow v1.19 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/home/_index.md to follow v1.19 of the original (English) text.

**Why is this needed**
content/ja/docs/home/_index.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/tree/dev-1.19-ja.1/content/ja/docs/home/_index.md

Original
https://github.com/kubernetes/w

[2021-03-05 05:43] tmoschou opened #26906 "Debian/Ubuntu Apt installation instructions should install package signing keys to /usr/share/keychain"
The current installation instructions for installing the third party Kubernetes Apt repository on Debian/Ubuntu, goes against best security practice.

Currently the signing keys are added to `/etc/apt/trusted.gpg`.

The keychain should be downloaded to `/usr/share/keyrings/cloud.google.gpg` (file name to match the name used in https://cloud.google.com/sdk/docs/install#deb) using `curl` or `wget` (

[2021-03-05 05:54] shelbyspees commented on #26844
@sftim Yep, reproduced in Chrome and Safari Version 14.0.2 (16610.3.7.1.9). I asked a friend to open the page and he has the same issue in Firefox 86.0 (64-bit) on macOS 11.2.1.

[2021-03-05 07:33] BenHall commented on #26774
@sftim I've created a Minikube 1.20 environment and currently testing the content to make sure it works as expected.

[2021-03-05 07:34] tomkivlin commented on #14507
/assign

[2021-03-05 08:09] seokho-son commented on #26815
/retitle Modify Korean translation for configuration/secret.md

[2021-03-05 08:12] seokho-son opened #26907 "Korean Localization for dev-1.20-ko.6 branch"
## In English

**This is a Feature Request**

Korean Localization for `dev-1.20-ko.6` branch.

**What would you like to be added**

Any localization contributions for Korean.

**Comments**

- This issue is to notify the schedule of Korean localization to contributors.
- `dev-1.20-ko.6` is the current work branch for Korean localization.
- Korean PR Wrangler: @seokho-son

**Important dates**
- A Ko

[2021-03-05 08:13] #26621 closed

[2021-03-05 08:13] seokho-son commented on #26907
/milestone dev-1.20-ko.6

[2021-03-05 08:14] tomkivlin commented on #14507
I will prepare a PR. Current thinking of structure is along the lines of:

[code]

[2021-03-05 08:15] seokho-son commented on #26907
/milestone dev-1.20-ko.6

[2021-03-05 08:23] seokho-son opened #26908 "Outdated files in the dev-1.20-ko.6 branch"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.20-ko.6 branch.

### 31 files to be modified
1. [ ] M1.  `content/en/docs/concepts/cluster-administration/_index.md`  | 1(+XS) 1(-)
1. [ ] M2.  `content/en/docs/concepts/cluster-administration/certificates.md`  | 1(+XS) 244(-)
1. [ ] M3.  `content/en/docs/concepts/configuration/secret.md`  | 1(+XS) 1(-)
1. [ ] M4.  `content/en/

[2021-03-05 08:24] seokho-son commented on #26908
/help

[2021-03-05 08:24] seokho-son commented on #26908
/language ko
/milestone dev-1.20-ko.6

[2021-03-05 08:41] nkulinichev opened #26909 "Issue with k8s.io/docs/tutorials/kubernetes-basics/expose/expose-interactive/"
Interactive tutorial Katacoda doesn't work since 4 of March 2021
![image](https://user-images.githubusercontent.com/22022293/110089866-ab301e80-7da7-11eb-947f-0a0729622e3f.png)

https://kubernetes.io/docs/tutorials/kubernetes-basics/expose/expose-interactive/

[2021-03-05 09:36] seokho-son commented on #26815
/triage accepted

Hello @yimcd , thank you for the suggestion!
I agree with you :)

Do you want to contribute to resolve this issue? then, I will assign you to this issue.

[2021-03-05 09:46] yimcd commented on #26815
Sure, it would be my pleasure.

[2021-03-05 10:12] sftim commented on #14507
If you want, you can write a glossary entry and then use the `glossary_definition` shortcode to include the same text at a suitable point in a longer page.

[2021-03-05 10:20] tomkivlin commented on #14507
Thanks @sftim I'll give that a go, looks good.

[2021-03-05 10:30] seokho-son commented on #26815
/assign @yimcd

[2021-03-05 10:31] seokho-son commented on #26815
FYI: https://github.com/kubernetes/website/issues/26907

[2021-03-05 11:24] nelaaro opened #26910 "Improvement for k8s.io/docs/setup/production-environment/tools/ add rke tool"
I think you guys should include rke tool in this list.

https://rancher.com/docs/rke/latest/en/installation/#download-the-rke-binary

It is one of the easiest and quickest ways to deploy a HA cluster that I have used.

[2021-03-05 12:23] softforte commented on #26845
I checked from different machines under the same public IP address last night - had the same problem. It all worked once I used a different public IP address. Will try again today.
Thank you.
-I.

From: Tim Bannister <notifications@github.com>
Sent: March 4, 2021 6:14 PM
To: kubernetes/website <website@noreply.github.com>
Cc: Ivan Neganov <Ivan.Neganov@softforte.com>; Mention <mention@noreply.gith

[2021-03-05 13:00] oke-py opened #26911 "Translate docs/tasks/configmap-secret/managing-secret-using-kubectl/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [docs/tasks/configmap-secret/managing-secret-using-kubectl/](https://kubernetes.io/docs/tasks/configmap-secret/managing-secret-using-kubectl/) into Japanese

**Why is this needed**
This page has not been translated.

**Comments**

/language ja
/assign
/triage accepted

[2021-03-05 13:19] sftim commented on #26910
We could hyperlink to RKE. If we do, let's bear in mind the content guide: https://kubernetes.io/docs/contribute/style/content-guide/#third-party-content

/kind feature
/language en

[2021-03-05 13:20] sftim commented on #26909
@BenHall There have been a few similar reports

The page works fine for me.

[2021-03-05 13:21] sftim commented on #26797
/assign

[2021-03-05 13:21] sftim commented on #26797
/triage accepted
/kind feature
/priority important-longterm
/area contributor-comms

[2021-03-05 14:45] BenHall commented on #26909
@sftim It looks like our security script had a false positive on the last couple of days. I've cleared the list and updated a script so everyone should be able to access the platform again.

@nkulinichev  Sorry for the problem. It should now be fixed but if you are still having issues please let me know.

[2021-03-05 15:02] #26729 closed

[2021-03-05 15:20] ZillaG opened #26914 "Improvement for k8s.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/"
Cool article for newbies like me trying to learn HPA. One suggestion is to have a sample manifest file with ALL the possible metrics and behaviors that one can use for scale up and scale down.

[2021-03-05 17:28] agnesjang98 opened #26917 "Mention .ttlSecondsAfterFinished in CronJob concept page"
Can this mechanism be used for CronJobs as well?
https://kubernetes.io/docs/concepts/workloads/controllers/ttlafterfinished/

[2021-03-06 01:15] kbhawkey commented on #26853
Hi @inductor .
Just saw a number of issues opened for the `ja` localization team. What do you think about opening one issue or several issues that serve as an umbrella issue? How do other localization teams organize their work items?

[2021-03-06 06:00] inductor commented on #26853
It was based on automated scripts and we don't have regulations for creating umbrella issues yet. I guess we can bring this up at the next localization subgroup meeting as a topic.

[2021-03-06 06:11] inductor commented on #26853
Oh I just realised what you meant. We have milestones. So for managing items we have no problems with that.

[2021-03-06 07:14] #18084 closed

[2021-03-06 07:14] #20990 closed

[2021-03-06 07:49] raelga opened #26921 "i18n changes approvable by sig-localization teams"
**What would you like to be added**

Currently, i18n files live under [/i18n](https://github.com/kubernetes/website/tree/master/i18n) at the root folder and only sig-docs-en-owners can approve those files. Under the `i18n` folder resides the toml files containing localised strings for each language used across the site. It would be nice to add some mechanism to enable sig-docs-localisation approve

[2021-03-06 07:51] raelga commented on #26921
/cc @sftim
/cc @bradtopol
/cc @seokho-son
/language ko

[2021-03-06 07:54] raelga commented on #26921
/cc sftim
/cc bradtopol
/cc seokho-son

[2021-03-06 13:37] neolit123 commented on #26906
@tmoschou
i read the linked pages and this change seems valid. thank you for bringing this up.
would you help us by sending a PR for that?

/sig cluster-lifecycle

[2021-03-06 13:38] neolit123 commented on #26906
/priority important-longterm
/kind cleanup

[2021-03-06 13:38] neolit123 commented on #26906
/triage accepted

[2021-03-06 13:48] sftim commented on #14579
/reopen
/remove-lifecycle rotten

We _should_ document this

[2021-03-06 13:49] sftim commented on #26921
/triage accepted
/assign

[2021-03-06 13:50] sftim commented on #26921
/remove-language en
/remove-language ko
/remove-language es
as this would be a generic mechanism

[2021-03-06 13:50] sftim commented on #26921
/priority important-longterm

[2021-03-06 16:32] kbhawkey commented on #26921
This seems like a good idea.

[2021-03-06 16:36] kbhawkey commented on #26853
Hi @inductor .
I don't think it is a good idea to generate issues automatically per localization. This has the effect of spamming the issues lists.
Before doing this, did you run this process/idea by the SIG Docs group?
/cc @kubernetes/sig-docs-en-owners

[2021-03-06 16:50] sftim commented on #26853
If using automation to file issues, I agree, open an umbrella issue.

It'd also be OK to use automation to mark a specific item from that umbrella issue as _in progress_, because that is simply removing toil from an otherwise manual step.

[2021-03-06 16:55] sftim commented on #19264
I think this is the nub of it actually. If you use the latest Kubernetes version locally, these steps are not correct.

/kind bug
/triage accepted
/remove-lifecycle rotten
/language en
/priority important-longterm

[2021-03-06 16:56] sftim commented on #26917
/kind support

I'm not clear on what a “finished” CronJob would look like. CronJobs define a pattern for repeatedly invoking a job.

[2021-03-06 16:57] sftim commented on #4493
Also see https://github.com/kubernetes/website/issues/26914

[2021-03-06 16:58] sftim commented on #26914
It's a good suggestion

I think this is subsumed into issue #4493, to be honest. I'd prefer to track the work in #4493 @ZillaG

[2021-03-06 17:42] kbhawkey opened #26923 "Clarify concept section: Updating a Deployment"
**This is a Bug Report**

Investigate updating the concept section [Updating a Deployment](https://kubernetes.io/docs/concepts/workloads/controllers/deployment).
Specifically, the sub section on rolling over a Deployment.

**Problem:**
The section on `Rollover (aka multiple updates in-flight)` is confusing and should describe clearly the conditions required
to scale up or down. The section include

[2021-03-06 23:30] #22385 closed

[2021-03-07 00:31] #24227 closed

[2021-03-07 01:32] #18953 closed

[2021-03-07 02:33] #16571 closed

[2021-03-07 02:33] #23389 closed

[2021-03-07 03:34] #15671 closed

[2021-03-07 03:34] #15709 closed

[2021-03-07 03:34] #19817 closed

[2021-03-07 03:34] #23549 closed

[2021-03-07 04:45] julyclyde commented on #24881
I cannot find dev-<source version>-zh.<team milestone> branch, how can I create a pull request?
May any team member of @kubernetes/website-maintainers help on this?

[2021-03-07 05:28] ydcool commented on #24881
just fork this repo and create a new branch based on the main branch

[2021-03-07 08:33] #26807 closed

[2021-03-07 09:57] agnesjang98 commented on #26917
Would it be possible to set this for the invoked jobs that were created by the CronJob? We have some problems where the pods that are created by the invoked jobs get stuck in bad state (e.g ImagePullBackOff) and we want to kill those jobs after a certain period of time to prevent them from blocking the invocation of new jobs. Our current workaround is to delete the bad jobs manually, but we were h

[2021-03-07 11:42] #18403 closed

[2021-03-07 13:51] sftim commented on #26917
There's a trick mentioned in https://github.com/kubernetes/kubernetes/issues/829#issuecomment-51796318

@agnesjang98 maybe we could document this in the page about Job / CronJob?

[2021-03-07 14:00] sftim commented on #26923
/sig apps
/kind cleanup
/triage accepted
/language en
/priority backlog

(feel free to raise this priority - this is just my guess)

[2021-03-07 14:01] sftim commented on #26923
I would be fine if that section moved into Tasks; it's also OK to leave it where it is.

[2021-03-07 14:30] idofl opened #26934 "The GMSACredentialSpec CRD is already included in the deploy-gmsa-webhook script"
The script linked in the [Install webhooks to validate GMSA users](https://kubernetes.io/docs/tasks/configure-pod-container/configure-gmsa/#install-webhooks-to-validate-gmsa-users) section includes the step to deploy the gmsa-crd.yml file that is referenced in the [Install the GMSACredentialSpec CRD](https://kubernetes.io/docs/tasks/configure-pod-container/configure-gmsa/#install-the-gmsacredentia

[2021-03-07 14:34] nasa9084 commented on #26905
/triage accepted

[2021-03-07 14:35] nasa9084 commented on #26904
/triage accepted

[2021-03-07 14:35] nasa9084 commented on #26903
/triage accepted

[2021-03-07 14:36] nasa9084 commented on #26899
/triage accepted

[2021-03-07 14:39] nasa9084 commented on #26900
/triage accepted

[2021-03-07 14:39] nasa9084 commented on #26901
/triage accepted

[2021-03-07 14:39] nasa9084 commented on #26902
/triage accepted

[2021-03-07 14:39] nasa9084 commented on #26881
/triage accepted

[2021-03-07 14:40] nasa9084 commented on #26882
/triage accepted

[2021-03-07 14:40] nasa9084 commented on #26883
/triage accepted

[2021-03-07 14:40] nasa9084 commented on #26884
/triage accepted

[2021-03-07 14:40] nasa9084 commented on #26885
/triage accepted

[2021-03-07 14:40] nasa9084 commented on #26886
/triage accepted

[2021-03-07 14:41] nasa9084 commented on #26887
/triage accepted

[2021-03-07 14:41] nasa9084 commented on #26888
/triage accepted

[2021-03-07 14:41] nasa9084 commented on #26890
/triage accepted

[2021-03-07 14:41] nasa9084 commented on #26891
/triage accepted

[2021-03-07 14:42] nasa9084 commented on #26892
/triage accepted

[2021-03-07 14:42] nasa9084 commented on #26893
/triage accepted

[2021-03-07 14:42] nasa9084 commented on #26894
/triage accepted

[2021-03-07 14:42] nasa9084 commented on #26895
/triage accepted

[2021-03-07 14:42] nasa9084 commented on #26896
/triage accepted

[2021-03-07 14:42] nasa9084 commented on #26897
/triage accepted

[2021-03-07 14:42] nasa9084 commented on #26898
/triage accepted

[2021-03-07 14:43] nasa9084 commented on #26868
/triage accepted

[2021-03-07 14:44] nasa9084 commented on #26869
/triage accepted

[2021-03-07 14:44] nasa9084 commented on #26870
/triage accepted

[2021-03-07 14:44] nasa9084 commented on #26871
/triage accepted

[2021-03-07 14:44] nasa9084 commented on #26872
/triage accepted

[2021-03-07 14:45] nasa9084 commented on #26873
/triage accepted

[2021-03-07 14:45] nasa9084 commented on #26874
/triage accepted

[2021-03-07 14:45] nasa9084 commented on #26875
/triage accepted

[2021-03-07 14:46] nasa9084 commented on #26876
diffを見る限り変更なさそうに見える

[2021-03-07 14:46] nasa9084 commented on #26877
/triage accepted

[2021-03-07 14:46] nasa9084 commented on #26878
/triage accepted

[2021-03-07 14:46] nasa9084 commented on #26879
/triage accepted

[2021-03-07 14:47] nasa9084 commented on #26880
/triage accepted

[2021-03-07 14:47] nasa9084 commented on #26889
/triage accepted

[2021-03-07 14:48] nasa9084 commented on #26572
/triage accepted

[2021-03-07 14:48] nasa9084 commented on #26572
/good-first-issue

[2021-03-07 14:48] nasa9084 commented on #26589
/triage accepted

[2021-03-07 14:50] nasa9084 commented on #26854
/triage accepted

[2021-03-07 14:51] nasa9084 commented on #26855
/triage accepted

[2021-03-07 14:51] nasa9084 commented on #26856
/triage accepted

[2021-03-07 14:51] nasa9084 commented on #26857
/triage accepted

[2021-03-07 14:52] nasa9084 commented on #26858
/triage accepted

[2021-03-07 14:52] nasa9084 commented on #26859
/triage accepted

[2021-03-07 14:52] nasa9084 commented on #26860
/triage accepted

[2021-03-07 14:52] nasa9084 commented on #26861
/triage accepted

[2021-03-07 14:53] nasa9084 commented on #26862
/triage accepted

[2021-03-07 14:53] nasa9084 commented on #26863
/triage accepted

[2021-03-07 14:53] nasa9084 commented on #26864
/triage accepted

[2021-03-07 14:53] nasa9084 commented on #26865
/triage accepted

[2021-03-07 14:54] nasa9084 commented on #26866
/triage accepted

[2021-03-07 14:54] nasa9084 commented on #26867
/triage accepted

[2021-03-07 15:46] #24432 closed

[2021-03-07 18:49] #22416 closed

[2021-03-07 18:49] #24355 closed

[2021-03-07 19:51] rittneje opened #26936 "kubectl documentation does not mention POD_NAMESPACE or inside-kubernetes-cluster mode"
**This is a Bug Report**

**Problem:**

Apparently `kubectl` has two hidden features with respect to what it uses as the default namespace for commands:
1. If `POD_NAMESPACE` environment variable is set, then it uses that.
2. If `KUBERNETES_SERVICE_HOST` and `KUBERNETES_SERVICE_PORT` environment variables are set, and there is a service account token file mounted at "/var/run/secrets/kubernetes.io

[2021-03-07 22:48] #26650 closed

[2021-03-08 02:08] jihoon-seo commented on #26908
I can contribute M11 - M20.

[2021-03-08 02:31] KobayashiD27 commented on #26854
/assign

[2021-03-08 05:36] jihoon-seo commented on #26908
I can also contribute M21 - M31 and D1.

[2021-03-08 05:42] seokho-son commented on #26908
@jihoon-seo Thank you ~!

/assign @jihoon-seo
for M11 - M31, and D1

[2021-03-08 05:43] seokho-son commented on #26908
I will work on M1 - M10 :)

/assign @seokho-son
for M1 - M10

[2021-03-08 05:44] seokho-son commented on #26908
**M1 - M10** : @seokho-son
**M11 - M31** : @jihoon-seo
**D1** : @jihoon-seo

[2021-03-08 05:57] Yasaswini2105 opened #26943 "Pod in pending state. Unbound persistent volume claims"
Hi,

I am using 3 t2.medium EC-2 instances(1 master and 2 worker nodes) My hub pod is in pending state.

**When I describe the pod it gives the following error**
Events:
  Type     Reason            Age                 From               Message
  ----     ------            ----                ----               -------
  Warning  FailedScheduling  55s (x11 over 11m)  default-scheduler  0/3 nodes

[2021-03-08 06:10] RA489 commented on #26943
/kind support

[2021-03-08 06:23] RA489 commented on #26327
@shaktixcool please check the link for correct yaml
https://raw.githubusercontent.com/kubernetes/website/master/content/en/examples/pods/pod-configmap-env-var-valueFrom.yaml

[2021-03-08 07:05] zhiguo-lu opened #26946 "[zh] translate "tasks/Install and Set Up kubectl on macOS""
**This is a Feature Request**
translate content/docs/tasks/tools/install-kubectl-macos.md into Chinese

**What would you like to be added**
content/zh/docs/tasks/tools/install-kubectl-macos.md

/assign
/language zh

[2021-03-08 08:08] RA489 commented on #26943
@Yasaswini2105 Did you checked your PV has sufficient resource the PVC has requested and access modes matched?

[2021-03-08 08:13] RA489 commented on #26846
/triage needs-information

[2021-03-08 08:16] RA489 commented on #26736
@rajitha-source can you please help me whats wrong with this?

[2021-03-08 08:16] RA489 commented on #26736
/triage needs-information

[2021-03-08 10:52] shuuji3 opened #26953 "Translate tutorials/clusters/apparmor into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [tutorials/clusters/apparmor](https://kubernetes.io/docs/tutorials/clusters/apparmor) into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2021-03-08 11:05] tmoschou commented on #26906
@neolit123 Please see https://github.com/kubernetes/website/pull/26952

[2021-03-08 12:36] shuuji3 commented on #21924
/remove-lifecycle stale

[2021-03-08 15:55] ariscahyadi commented on #25025
/triage accepted

[2021-03-08 16:22] ariscahyadi opened #26955 "Tracking Indonesian Translation Progress (M6)"
This is tracking issue of our progress from Q1 2021 onwards. In the beginning of this milestone, as per our [metrics](https://app.circleci.com/pipelines/github/jk8s/sig-docs-id/33/workflows/e59d9d32-55b7-49f7-86ad-c818ea562c5f/jobs/61), we have translated 220 pages from 84 contributors (the script from main repo shows 260+ pages), with around 8,000 views per month. In this milestone, we still cont

[2021-03-08 16:24] ariscahyadi commented on #26955
/triage accepted

[2021-03-08 16:27] ariscahyadi commented on #25025
Hi @girikuncoro,

I have already opened new tracking issue M6 #26955, so you may close this issue.

Thanks,
Aris.

/cc @kubernetes/sig-docs-id-reviews

[2021-03-08 16:36] agnesjang98 commented on #26917
I'll try defining activeDeadlineSeconds and yes some documentation would be nice about the trick? I wasn't completely sure how to progress with the workaround you linked, will look over it again.

[2021-03-08 16:44] svallier opened #26956 "No longer to install kubectl using powershell from PSGallery"
**This is a Bug Report**
Since 3/4 days, we are no longer able to deploy kubectl using the install-kubectl script from PSGallery as described in documentation --> https://kubernetes.io/docs/tasks/tools/install-kubectl-windows/#install-with-powershell-from-psgallery

**Problem:**

**script installation --> **### OK****
##[debug]Using the provider 'PowerShellGet' for searching packages.
##[debug]The

[2021-03-08 18:41] timothyclarke commented on #19611
/remove-lifecycle stale

[2021-03-08 20:48] sftim commented on #26956
Honestly, I think that's a bug in the PSGallery script.

We can fix this by removing the section https://kubernetes.io/docs/tasks/tools/install-kubectl-windows/#install-with-powershell-from-psgallery
The Kubernetes project does not maintain that script. We should remove the link to it.
/sig windows

[2021-03-08 20:49] sftim commented on #26956
Related, I think https://kubernetes.io/docs/tasks/tools/install-kubectl-windows/#install-on-windows-as-part-of-the-google-cloud-sdk is also not something we'd link to based on the [content guide](https://kubernetes.io/docs/contribute/style/content-guide/).

[2021-03-08 20:50] sftim commented on #26956
@svallier, thanks for mentioning this!

[2021-03-08 20:51] sftim commented on #26936
/sig cli

[2021-03-08 23:04] agnesjang98 commented on #26917
Putting ttlSecondsAfterFinished in the jobTemplate spec for specifying the Job invoked by the CronJob works! It would be helpful to add this in the documentation :)

Part of our cronjob.yaml as an example:
[code]

[2021-03-09 00:13] sftim commented on #26917
/retitle Mention .ttlSecondsAfterFinished in CronJob concept page

[2021-03-09 00:13] sftim commented on #26917
/sig apps

[2021-03-09 00:13] sftim commented on #26917
/remove-kind support

[2021-03-09 01:31] #24881 closed

[2021-03-09 01:36] mcristina422 opened #26962 "Horizontal Pod Autoscaler: Describe metrics query frequency"
**What would you like to be added**
An explanation on how frequently the metrics api is queried for an HPA. We use an external metrics adapter that has timeout errors with the external backend due to congestion

I assume the metrics API is only queried at most every period and the default would be 15s https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#default-behavior

The

[2021-03-09 01:48] mcristina422 commented on #26962
/kind feature
/sig autoscaling

[2021-03-09 01:53] girikuncoro commented on #25025
Thanks @ariscahyadi

/close

[2021-03-09 01:53] #25025 closed

[2021-03-09 03:03] CKchen0726 commented on #26834
/assign

[2021-03-09 03:51] habibrosyad commented on #26955
@ariscahyadi I'm taking the 4th part, as I've done the `content/en/docs/reference/glossary/kuantitas.md` in https://github.com/kubernetes/website/pull/26090

[2021-03-09 03:54] ariscahyadi commented on #26955
Thanks @habibrosyad .. it is updated.

[2021-03-09 04:44] tengqm commented on #26946
/triage accepted

[2021-03-09 07:24] svallier commented on #26956
I don't think removing the section https://kubernetes.io/docs/tasks/tools/install-kubectl-windows/#install-with-powershell-from-psgallery is the solution.

many customers already have automated kubectl installation using this method (including me ^^)

Can you put back the downloadLink ?
$downloadlink = ($req.Links | where href -Match "kubectl.exe").href

[2021-03-09 07:46] new-mikha commented on #22916
Hi @neolit123 , on above - ok there is at least one user of that kind now, myself.

See my confusion here:
https://stackoverflow.com/questions/66384374/k8s-1-20-containerd-kubeadm-init-networkpluginnotready

I was totally sure that for just adding systemd as cgroup driver (and nothing more different to the default `kubeadm init`), [this page](https://kubernetes.io/docs/reference/setup-tools/kubead

[2021-03-09 09:27] sftim commented on #26906
/sig cli

[2021-03-09 09:30] panyis opened #26967 "Broken hyperlink in Feature Gates list"
**This is a Bug Report**

https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/ —>

SizeMemoryBackedVolumes: Enables kubelet support to size memory backed [volumes](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/docs/concepts/storage/volumes). See volumes for more details.

“https://kubernetes.io/docs/reference/command-line-tools-referenc

[2021-03-09 09:41] sftim commented on #26967
I hope it's OK to:
/retitle Broken hyperlink in Feature Gates list
/language en
/kind bug

The link to `docs/concepts/storage/volumes` should instead link to `/docs/concepts/storage/volumes`
/triage accepted
/help

[2021-03-09 10:25] vaibhav2107 commented on #26967
/assign

[2021-03-09 12:22] neolit123 commented on #22916
hi, we have a new WIP page that will be dedicated to cgroup drivers entirely:
https://github.com/kubernetes/website/pull/26786

[2021-03-09 12:28] ShirleyFei opened #26968 "[zh] translate "feature gate - beta: Enabled by default instead of Disabled""
Original English:
A Beta feature means:
Enabled by default.
⁣
Current wrong Chinese translation:
Beta 特性代表：
默认禁用。
⁣
⁣Supposed correct Chinese translation:
⁣Beta 特性代表：
默认启用。

[2021-03-09 12:29] tengqm commented on #26968
This is being fixed in #26319

[2021-03-09 12:30] tengqm commented on #26968
/triage accepted

[2021-03-09 12:30] tengqm commented on #26968
I'm closing this because it is no longer an outstanding issue to fix.
/close

[2021-03-09 12:30] #26968 closed

[2021-03-09 15:28] aushafy opened #26971 "K8s Secrets for .keytab file"
Hi everyone, I have an issue while storing .keytab file to Kuberntes secret or someone can explain which best practice to store keytab file for our application which is using kerberos authentication ?

[2021-03-09 16:39] ChrisWeissNike commented on #23776
Tutorials have been re-organized. This no longer applies as written.

[2021-03-09 16:47] ymartineau commented on #26199
hi, FYI I tried the instructions provided by @Karmavil, the curl command to get the api version (curl http://localhost:8001/version) had to be updated to use the 8080 port (curl http://localhost:8080/version) and it worked. Thank you

I was intrigued by the 8080 port so I tried the following:

kubectl create deployment kubernetes-bootcamp --image=gcr.io/google-samples/kubernetes-bootcamp:v1 --port

[2021-03-09 18:44] sftim commented on #25505
/triage accepted

[2021-03-09 18:46] sftim commented on #26971
I think the existing page at https://kubernetes.io/docs/concepts/configuration/secret/#overview-of-secrets does cover this fairly well. https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/ is also relevant.

We wouldn't add documentation specifically about how to integrate with Kerberos - but that might make a good blog article somewhere on the web!

/kind support

[2021-03-09 18:47] sftim commented on #4493
Also see #26962

[2021-03-09 18:47] sftim commented on #26962
/language en

Thanks for the suggestion @mcristina422

[2021-03-09 18:48] sftim commented on #26934
/sig windows
@kubernetes/sig-windows-misc - what's the right approach here?

[2021-03-09 18:48] sftim commented on #26934
/language en

[2021-03-09 19:05] marosset commented on #26934
/assign @ddebroy @jsturtevant
Can one of you take a look here?

[2021-03-09 19:37] #14713 closed

[2021-03-09 21:45] shelbyspees commented on #26844
It's working for me now so I'll go ahead and close this ticket.

[2021-03-09 21:45] #26844 closed

[2021-03-09 21:53] jimblizzard opened #26972 "Improvement for k8s.io/docs/tutorials/kubernetes-basics/explore/explore-interactive/"
It would be extremely helpful if the course material were also available outside the interactive tutorial environment. This would make it much easier to review the material later. As it is now, returning to the material to review it requires going page by page through the tutorial once again, which is very clumsy for that purpose. Thanks!

[2021-03-09 23:09] nigelainscoe commented on #26802
I get what I expected, i.e.

[code]
The shell I'm using is cmdr which is just a wrapper for Windows command prompt

I also tried it with a PowerShell prompt which gives yet another different error:
`error: error parsing template {{range $k,$v := .data}}{{###, template: output:1: unexpected "#" in command`

And again with PowerShell issuing a simple `kubectl get secret my-secret -o json` returns th

[2021-03-09 23:31] annajung opened #26974 "main build failing due to time out initializing value"
**This is a Bug Report**

**Problem:**
based on the netlify logs https://app.netlify.com/sites/kubernetes-io-master-staging/deploys/60479d2ebad59b0008300815, main build started to fail after https://github.com/kubernetes/website/commit/8698adf5895feee319935273dfd753abf4802f6d merged

[code]

**Proposed Solution:**
see https://github.com/kubernetes/website/issues/26974#issuecomment-794619244

**Pag

[2021-03-09 23:48] annajung commented on #26974
it looks like it's related to the images added in the blog, it's causing it to time out because the build is taking longer.

possible solutions are
- increase the timeout https://github.com/kubernetes/website/blob/fbff88f16a049484c5db9fccb6166bb2cd1e8296/config.toml#L18
- change the size of image(?) or how the image is being referenced https://github.com/kubernetes/website/blob/master/content/en/b

[2021-03-09 23:57] annajung commented on #26974
/priority important-soon

[2021-03-10 00:43] Karmavil commented on #26673
It's time to close this issue, I just checked and it's working.
I can authenticate with hub.docker and pull images without complains.

There was an update in the Kubernetes website [documentation page](https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/#create-a-secret-by-providing-credentials-on-the-command-line): 18c22d133e573d85700cdfb7b5e74d130a654ea0 (Feb 16,

[2021-03-10 00:43] #26673 closed

[2021-03-10 00:45] ddebroy commented on #26934
Seems like we need an extra new-line before
[code]
to clarify the fact that the script handles the steps mentioned in both of the above sections - [1] Install the CRD and [2] Install the Webhook - rather than the latter section only. @idofl do you think that will clarify things?

[2021-03-10 01:01] kbhawkey commented on #26974
👀

[2021-03-10 01:51] kbhawkey commented on #26974
@annajung . I removed the images in the blog page. I would not change the timeout without digging into the image processing.

[2021-03-10 02:28] aushafy commented on #26971
oh ya well thanks, i got this https://stackoverflow.com/questions/60034755/kubernetes-kerberos-and-kafka-secret-setup-using-helm

[2021-03-10 02:28] #26971 closed, assigned to nobody

[2021-03-10 03:16] Colstuwjx commented on #26808
Yes, we did it!

[2021-03-10 07:10] aaabdallah commented on #22916
Agreed: I have been confused also for the last couple of hours, and searching finally led to this issue.

[2021-03-10 07:39] jiaoyan2017 opened #26984 "Improvement for k8s.io/docs/home/supported-doc-versions/"
Where can I find the documents for upgrade from 1.12 to 1.13, and the later.

[2021-03-10 08:48] ffjlabo commented on #26904
/assign ffjlabo

[2021-03-10 09:20] Tej-Singh-Rana opened #26987 "Link should be correct for v1.19"
**This is a Request**

**Link:** https://v1-19.docs.kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/#before-you-begin

**What would you like to be added**
In the 4th point of **before you begin** section, In release notes need correction, it should be for v1.19 instead of v1.20.   

**Why is this needed**
Because information available for v1.19.

**Comments**
None

[2021-03-10 09:23] ffjlabo commented on #26904
I'm sorry if I misunderstood but it seems that this diff has already been translated in https://github.com/kubernetes/website/pull/23891.

[2021-03-10 09:45] NebeLShaman opened #26988 "Issue with k8s.io/ru/docs/setup/"
По ссылке https://kubernetes.io/docs/setup/pick-right-solution/#local-machine-solutions получаю страницу "404"

[2021-03-10 09:50] translucens commented on #26890
/assign

[2021-03-10 09:51] finkr opened #26989 "Recommended app labels missing from Well-Known Labels, Annotations and Taints"
The page [labels-annotations-taints.md](https://github.com/kubernetes/website/edit/master/content/en/docs/reference/labels-annotations-taints.md) does not mention `app.kubernetes.io` labels, listed on the page [concepts/overview/working-with-objects/common-labels/](https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/).

[2021-03-10 09:57] idofl commented on #26934
The first section has the following sentence:
"Download the GMSA CRD YAML and save it as gmsa-crd.yaml. Next, install the CRD with kubectl apply -f gmsa-crd.yaml"

Since the script handles this, there is no need to add this sentence.

A new line will help to separate the sentence about running the script from the two previous sections, but it only mentions the script, without requesting to downloa

[2021-03-10 11:00] inductor commented on #26904
Oh yeah, it looks like it was already translated in the latest revision. Thank you for pointing it out! @ffjlabo

/close

[2021-03-10 11:00] #26904 closed

[2021-03-10 12:54] #21240 closed

[2021-03-10 12:54] #21293 closed

[2021-03-10 12:54] #21494 closed

[2021-03-10 12:54] #21632 closed

[2021-03-10 12:54] #21661 closed

[2021-03-10 14:29] neolit123 commented on #26987
/sig docs cluster-lifecycle

can we have some sort of a veriable that allows us to point to the release notes of the relevant release?
e.g. `$RELEASE_NOTES_LINK`

[2021-03-10 16:07] #26906 closed

[2021-03-10 16:11] umohnani8 commented on #14956
Docs update PR https://github.com/kubernetes/website/pull/26799

[2021-03-10 18:21] nodorgrom opened #26996 "Improvement for k8s.io/ru/docs/setup/learning-environment/"
Append ? (hint) to describe/explain what is Minikube and what is Kind?

[2021-03-10 18:23] #26996 closed

[2021-03-10 19:55] medyagh opened #26998 "blog: update old blog post to not user "none driver" for minikube"
minikube has added docker driver since 2019 and "none driver" is not recommended and only meant to be used by CI or when there is no other option. which causes issues like this for users  https://github.com/kubernetes/minikube/issues/8568#issuecomment-675905663

we strongly suggest using other drivers. if u dont specify the --driver flag, minikube will choose the best driver for your environment.

[2021-03-10 19:56] idvoretskyi commented on #26998
/assign

@medyagh thanks for catching this!

[2021-03-10 20:03] idvoretskyi commented on #26998
/assign @nunix

[2021-03-10 21:10] aslom commented on #26846
Somehow my setup had .dockerconfig and not .dockerconfigjson

I tried to reproduce it and when i create new secret docker-registry it is .dockerconfigjson

So closing it

[2021-03-10 21:10] #26846 closed

[2021-03-11 00:02] celestehorgan commented on #23797
@zacharysarah – can we close this? ;)

[2021-03-11 00:15] zacharysarah commented on #23797
Indeed we can.

/close

/meow

[2021-03-11 00:16] #23797 closed

[2021-03-11 01:34] tengqm commented on #22916
Issue like this should not be closed.
/reopen

[2021-03-11 02:27] KobayashiD27 commented on #26855
/assign

[2021-03-11 02:52] KobayashiD27 commented on #26856
/assign

[2021-03-11 03:48] zhiguo-lu opened #27002 "[zh] translate "tasks/Install and Set Up kubectl on Linux""
**This is a Feature Request**
translate content/docs/tasks/tools/install-kubectl-linux.md into Chinese

**What would you like to be added**
content/zh/docs/tasks/tools/install-kubectl-linux.md

/assign
/language zh

[2021-03-11 09:41] VladMasarik commented on #26173
@tengqm Many thanks for referencing the #25039 PR, I believe I can close this now since that PR solved it.

[2021-03-11 09:41] #26173 closed

[2021-03-11 10:15] #20397 closed

[2021-03-11 10:15] #20448 closed

[2021-03-11 10:15] #20852 closed

[2021-03-11 10:40] floreks opened #27004 "Restore images in Kubernetes Dashboard blog post"
Related to the https://github.com/kubernetes/website/pull/26668# and images removal in https://github.com/kubernetes/website/pull/26975.

[2021-03-11 11:34] dragoneena12 commented on #26905
/assign

[2021-03-11 12:56] nunix commented on #26998
first, thanks a lot for your feedback @medyagh , really appreciated.

Concerning the driver, I think the timing is very good as WSL2 is now "live", so the Windows Insiders is no more needed and the default kernel used is the 5.4.x and is built with modules needed by Kubernetes and/or Docker.

I will go through the blog post and refresh it entirely, so we keep only one blog post, but this will coul

[2021-03-11 15:03] alexellis opened #27008 "Diagram not rendering correctly on Ingress page with Chrome/Ubuntu"
**This is a Bug Report**

**Problem:**

Diagram not rendering correctly on Ingress page with Chrome/Ubuntu

**Proposed Solution:**

Needs someone to look into it, who is knowledgeable about this page, or who may have updated it recently.

**Page to Update:**

https://kubernetes.io/docs/concepts/services-networking/ingress/

No explicit version

I couldn't find a similar issue, but feel free to clo

[2021-03-11 16:29] sladyn98 commented on #26385
@sftim  In light of these changes https://github.com/kubernetes/kubernetes/pull/69867 it would be great to add a section to this https://kubernetes.io/docs/tasks/run-application/configure-pdb/ like `Update PDB` and then give an example of how one can update the configuration and then hit `kubectl apply` which would now apply since the immutability aspect has been removed.Apart from that it looks c

[2021-03-11 16:39] idvoretskyi commented on #26998
/assign @nunix

[2021-03-11 18:03] sftim commented on #24652
Actually this might be better documented in https://k8s.dev/

[2021-03-11 18:04] sftim commented on #27008
That's a Mermaid diagram. If someone'd like to replace it with a similar SVG image, that'd help it render on more devices and more consistently.

[2021-03-11 18:05] sftim commented on #27008
/priority backlog
(the page is ugly but understandable)

[2021-03-11 18:08] sftim opened #27011 "Mention scheduling profiles in Configure Multiple Schedulers"
**This is a Feature Request**

**What would you like to be added**
https://kubernetes.io/docs/tasks/extend-kubernetes/configure-multiple-schedulers/ should signpost readers to
https://kubernetes.io/docs/reference/scheduling/config/#multiple-profiles as they

**Why is this needed**
Readers might want to use an additional scheduling profile rather than implement a fully custom scheduler.

**Comments

[2021-03-11 19:24] #17842 closed

[2021-03-11 19:24] #24127 closed

[2021-03-11 19:24] #24386 closed

[2021-03-11 19:40] sftim commented on #25505
I checked in with SIG Architecture

Outcome from that call:
- let's change the old to say “deprecated”, and at least hyperlink to the equivalent pages in the new API reference.
  (improved option: add some JavaScript to redirect based on fragment identifier)
- SIG Architecture are happy for us to turn on new content
- One Kubernetes release cycle to transition, then the [old page](https://v1-20.do

[2021-03-11 19:40] sftim commented on #25505
For comparison, here are two other Kubernetes-related API references:
- https://kubevirt.io/cdi-api-reference/v1.20.1/definitions.html
- https://docs.okd.io/3.11/rest_api/

[2021-03-11 21:26] #23722 closed

[2021-03-11 21:53] annajung commented on #24960
/remove-lifecycle rotten

I saw that the bot was applying milestones automatically in some PRs. Let me verify and if needed, I'll close this out.

[2021-03-11 21:53] annajung commented on #24960
/remove-lifecycle stale

[2021-03-11 22:52] Karmavil commented on #26199
/team/katacoda

[2021-03-11 23:28] #20626 closed

[2021-03-11 23:28] #22462 closed

[2021-03-11 23:28] #24529 closed

[2021-03-11 23:53] sftim commented on #26199
/label team/katacoda

[2021-03-12 01:05] kbhawkey commented on #27004
/triage accepted

[2021-03-12 01:21] annajung commented on #26974
Closing this issue
- The main build failing has been resolved by removing the images from the blog https://github.com/kubernetes/website/pull/26975
- A new issue was also created to restore images https://github.com/kubernetes/website/issues/27004

/close

[2021-03-12 01:21] #26974 closed

[2021-03-12 01:23] annajung commented on #24960
Confirmed that bot is automatically applying the milestone dev-1.21 branch (https://github.com/kubernetes/website/pulls?q=is%3Aopen+is%3Apr+milestone%3A1.21)

/close

[2021-03-12 01:23] #24960 closed

[2021-03-12 01:41] kbhawkey opened #27013 "Investigate use of imgproc shortcode"
**This is a Bug Report**
The site failed to build pages that include the `imgproc` shortcode.

Is there a limit to the size and number of images processed at build time with the Hugo `imgproc` shortcode?

**Proposed Solution:**
Review pages that include the `imgproc` shortcode and investigate if the shortcode should be removed or replaced.

**Page to Update:**
`en` and `zh` versions:
https://kuber

[2021-03-12 01:57] kbhawkey commented on #25505
Catching up on this discussion. Can you provide more details on:
`We can separate out the “presentation” grouping of resources (eg workloads, policy, etc) from the URL of the page about a particular resource in the API - and we should do so that we have stable URIs for the API reference pages.
`

[2021-03-12 03:58] r-kgy commented on #26877
/assign

[2021-03-12 05:43] vaibhav2107 commented on #27011
/assign

[2021-03-12 06:27] aaabdallah opened #27017 "Clear warning required for containerd documentation"
**This is a Feature Request**

**What would you like to be added**

The documentation for container runtimes at:

https://kubernetes.io/docs/setup/production-environment/container-runtimes/#containerd-systemd

needs to have a clear warning that by adding the suggested change in config.toml, this will actually PREVENT `kubeadm init` from successfully initializing a cluster (this is my experience mu

[2021-03-12 06:35] #18106 closed

[2021-03-12 09:26] #27004 closed

[2021-03-12 10:13] sftim commented on #27013
/area web-development

[2021-03-12 10:13] sftim commented on #27013
/triage accepted

[2021-03-12 10:15] sftim commented on #27017
The current text reads:

How would you reword this @aaabdallah? How about:
When using kubeadm, you must manually configure the cgroup driver for kubelet.

/language en
/priority awaiting-more-evidence
/sig cluster-lifecycle

[2021-03-12 10:16] RA489 commented on #26910
/assign

[2021-03-12 10:37] aaabdallah commented on #27017
Thank you for all the work that you do, related to Kubernetes and all other open source projects you contribute to. Your efforts are really appreciated.

My own experience is that the configuration snippet there is actually harmful in the scope of using kubeadm. I realize now that the page is discussing how to use containerd with the systemd cgroup driver in general... but the typical person comin

[2021-03-12 11:10] Kartik494 commented on #26984
Hi @jiaoyan2017 if you are looking for k8s.io docs changes there is column ink8.io reagrding this . You could check on this  [versions](https://v1-19.docs.kubernetes.io/)

[2021-03-12 11:11] Kartik494 commented on #26984
There is a kubernetes release cycle for the same if you want to take a look on that https://github.com/kubernetes/kubernetes/releases

[2021-03-12 11:17] Kartik494 commented on #26684
Hi @jhoncemplok there are CRD'S  and RBAC to apply for applying the snapshotclass object . Make sure you apply the same while deploying

[2021-03-12 11:19] Kartik494 commented on #26684
You could find Here there are two different yaml files for v1beta and v1 . You can check in [this](https://github.com/kubernetes-csi/external-snapshotter/tree/master/examples/kubernetes) and for more information you can README for the same
Thanks

[2021-03-12 16:45] #24107 closed

[2021-03-12 19:48] #22531 closed

[2021-03-13 01:05] kbhawkey commented on #27011
/triage accepted

[2021-03-13 02:48] JIIOryo commented on #26898
/assign

[2021-03-13 02:50] JIIOryo commented on #26901
/assign

[2021-03-13 04:10] hayato1226 commented on #26879
/assign

[2021-03-13 06:04] Mohitp98 opened #27034 "Mentioned Scripts in following paragraph has different value for `CA`"
As mentioned in [this](https://kubernetes.io/docs/reference/access-authn-authz/authentication/#configuring-the-api-server:~:text=If%20you%20deploy%20your%20own%20identity,longer%20life%20and%20larger%20key%20size.) paragraph, while creating CA for your own Identity Provider's server, you must keep `CA: TRUE`.

But the mentioned links for generating CA has `CA: FALSE`

**Can someone please clarify

[2021-03-13 06:13] RyuSA commented on #26892
/assign

[2021-03-13 06:59] #21035 closed

[2021-03-13 07:41] rkmathi commented on #26857
/assign

[2021-03-13 10:41] rkmathi commented on #26858
/assign

[2021-03-13 11:17] #26180 closed

[2021-03-13 11:19] #23947 closed

[2021-03-13 11:21] #26911 closed

[2021-03-13 11:25] inductor commented on #26855
/close

[2021-03-13 11:25] #26855 closed

[2021-03-13 11:32] inductor commented on #26905
/close

[2021-03-13 11:32] #26905 closed

[2021-03-13 12:34] junox365 commented on #26899
/assign

[2021-03-13 14:25] takaf04 commented on #26863
/assign

[2021-03-13 16:58] neolit123 commented on #27017
https://kubernetes.io/docs/setup/production-environment/container-runtimes/#cgroup-drivers

it is the opposite.
if you are using kubeadm, you must configure containerd with `SystemdCgroup = true`.

and then pass the same driver to the kubelet as explained here:
https://kubernetes.io/docs/setup/production-environment/container-runtimes/#containerd-systemd
https://kubernetes.io/docs/setup/production

[2021-03-13 17:01] neolit123 commented on #27017
this are of the docs is seeing some refactor, so you can add comments there too:
https://github.com/kubernetes/website/pull/26786

[2021-03-13 17:56] aaabdallah commented on #27017
This is the source of our difference:.

I have tried that setting multiple times (at least 4 times). It does NOT work for me on Ubuntu 20.04. When I do NOT specify that setting in containerd's config.toml, then and ONLY THEN does it work... for me.

[2021-03-13 18:27] neolit123 commented on #27017
i just tried following our k8s.io documentation for installing containerd / installing kubeadm / creating kubeadm cluster.

[code]

[code]

[code]

[code]

everything works fine for me:
[code]

also a number of different CI setups are running kubeadm like so, you must be failing something in your setup.
i doubt this is a containerd / OS bug of sorts, but it could be.

/kind support

[2021-03-13 18:31] neolit123 commented on #27017
did you restart containerd after you added:
[code]

the step `3.` here should be after the driver is changed:
https://kubernetes.io/docs/setup/production-environment/container-runtimes/#containerd-systemd

[2021-03-14 00:16] #22538 closed

[2021-03-14 02:32] rahulchonkria opened #27047 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/"
I followed all steps of this except I have my own pod, and I still can't get it to work, it gives me this error when I run the last curl command

curl: (7) Failed to connect to localhost port 80: Connection refused

Here is the YAML of the webapp I have running on the pod:

[code]

[2021-03-14 07:31] WHK102 opened #27048 "Issue with k8s.io/es/docs/tasks/tools/install-kubectl/"
When `kubectl cluster-info` show the error `The connection to the server <server-name:port> was refused - did you specify the right host or port?`, the command `kubectl cluster-info dump` says same error. The second option is not a valid option when have this error message.

[2021-03-14 11:01] ariscahyadi commented on #26955
`content/en/docs/search.md` is moved to `content/en/search.md` as mentioned here #23083

[2021-03-14 11:21] ariscahyadi commented on #26955
`content/en/docs/tasks/tools/install-minikube.md`is removed and redirect to official minikube webpage https://minikube.sigs.k8s.io/docs/start/ , as mentioned here #23354

[2021-03-14 11:32] ariscahyadi commented on #26955
The whole `content/en/docs/tasks/tools/kubeadm/` pages are move into `content/endocs/reference/setup-tools/kubeadm/` including `_index.md` as mentioned here #23048

[2021-03-14 13:32] katsuhisa91 commented on #26897
/assign

[2021-03-14 19:35] #24577 closed

[2021-03-14 21:49] #26563 closed

[2021-03-15 00:06] rodrigobercini commented on #25143
+1

It was rather confusing when I saw this text in the tutorial, especially because I used the loadbalancer service in another minikube tutorial.

Should be an easy fix (i.e. removing the last part)

[2021-03-15 00:23] rodrigobercini opened #27056 "Last command of "Interactive Tutorial - Exposing Your App" interactive lesson is deprecated"
After running `kubectl exec -ti $POD_NAME curl localhost:8080`, I'm getting the following message:

`kubectl exec [POD] [COMMAND] is DEPRECATED and will be removed in a future version. Use kubectl exec [POD] -- [COMMAND] instead.`

This should be fixed by adding -- to the command.

Current deprecated command:

`kubectl exec -ti $POD_NAME curl localhost:8080`

Expected non-deprecated command:

 `ku

[2021-03-15 02:10] jihoon-seo opened #27057 "Fix broken link"
**This is a Bug Report**

**Problem:**
In [this page](https://kubernetes.io/docs/tasks/tools/included/optional-kubectl-configs-bash-mac/#enable-kubectl-autocompletion),

the link [`above`](https://kubernetes.io/docs/tasks/tools/included/optional-kubectl-configs-bash-mac/#install-with-homebrew-on-macos) is broken.

**Proposed Solution:**
- Update link to https://kubernetes.io/docs/tasks/tools/insta

[2021-03-15 09:22] sftim commented on #27048
/language es

@whk102 I'm not sure I understood whether you are reporting a defect in kubectl, reporting a defect in the Spanish documentation for Kubernetes, or asking for advice on how to configure cluster access. Could you reply with more detail so that it is really clear how to take this issue forward?

Related: at some point we should update https://k8s.io/es/docs/tasks/tools/install-kubectl/

[2021-03-15 09:28] sftim commented on #22021
/remove-lifecycle rotten
/area web-development

[2021-03-15 09:43] shuuji3 commented on #22021
I tried to use `<details>` and `<summary>` elements. What do you think about the below design?

**Screenshot**

Before a tap:
<img src="https://user-images.githubusercontent.com/1425259/111133088-7731d600-85bd-11eb-9cdf-39519ef9e863.png" width="50%">

After a tap:
<img src="https://user-images.githubusercontent.com/1425259/111133097-79943000-85bd-11eb-83c6-22a0c8f96e5b.png" width="50%">
(intention

[2021-03-15 10:37] vaibhav2107 commented on #26572
/assign

[2021-03-15 10:40] Kartik494 commented on #26819
Hi @salanhess i have tried this on my environment i found the given example work fine for me .
Could you tell me some insights of your cluster?

[2021-03-15 10:44] Kartik494 commented on #26819
` kubectl run -it --rm --image=mysql:5.6 --restart=Never mysql-example -- mysql -h mysql -ppassword
`

`If you don't see a command prompt, try pressing enter.
`
But i found that my pod named mysql-example is been created and currently showing error state . i will let you know if i found some reasons failing pod.

`kubectl get pods
NAME                             READY   STATUS    RESTARTS   AGE
`

[2021-03-15 11:25] oke-py opened #27064 "Translate docs/tasks/configmap-secret/managing-secret-using-config-file/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [docs/tasks/configmap-secret/managing-secret-using-config-file/](https://kubernetes.io/docs/tasks/configmap-secret/managing-secret-using-config-file/) into Japanese

**Why is this needed**
This page has not been translated.

**Comments**

/language ja
/assign
/triage accepted

[2021-03-15 12:03] sftim commented on #27057
/kind bug
/priority backlog
/language en

[2021-03-15 12:03] sftim commented on #27057
/triage accepted

[2021-03-15 12:04] sftim commented on #27056
/kind cleanup
/language en
/priority important-longterm
/triage accepted

I agree with the suggested fix. We also need to match the Katacode tutorial to match it.

[2021-03-15 12:06] sftim commented on #27034
Which link @Mohitp98 ? Can you clarify?

/triage needs-information

[2021-03-15 12:16] sftim commented on #27047
My guess is that the Pod you are running isn't listening on port 80. You say you're using a custom Pod @rahulchonkria ?

If you follow the task steps more closely, do things work OK?

[2021-03-15 12:19] rahulchonkria commented on #27047
I switched it to 80 and still the same result

[2021-03-15 12:40] Mohitp98 commented on #27034
Thanks for replying @sftim
For the 3rd point mentioned under [For an identity provider to work with Kubernetes it must:](https://kubernetes.io/docs/reference/access-authn-authz/authentication/#configuring-the-api-server:~:text=For%20an%20identity%20provider%20to%20work%20with%20Kubernetes%20it%20must%3A)

![Screenshot from 2021-03-15 18-07-19](https://user-images.githubusercontent.com/30376735/111

[2021-03-15 12:54] sftim commented on #27034
/kind bug

https://kubernetes.io/docs/reference/access-authn-authz/authentication/#configuring-the-api-server does look wrong.

I think it'd be useful to suggest a different tool. https://blog.cloudflare.com/how-to-build-your-own-public-key-infrastructure/ looks like a better starting point.

/sig auth
@kubernetes/sig-auth-bugs can you confirm triage on this?

[2021-03-15 13:00] JIIOryo commented on #26886
/assign

[2021-03-15 13:21] liggitt commented on #27034
The linked script is correct, the configuration is indicating that the requested serving certificate may not be a CA.

I don't have an opinion about linking to different tools, but that seems more like a docs feature/enhancement, not a bug.

[2021-03-15 13:24] sftim commented on #27034
Thanks @liggitt, yes that does make sense.
/remove-kind bug
/kind cleanup
/priority backlog
/remove-triage needs-information

[2021-03-15 14:33] FrankAtHexagon commented on #26563
Thanks for fixing this! 🥳

[2021-03-15 15:04] salanhess commented on #26819
Hi all,
  Thx for your kind reply,
1. I will discuss support requests  in other place like BBS later
2. This issue is related with my local minikube ENV. Because when I retry same steps on "https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/" every things works as expected.

pls close this issue.
thx.

[2021-03-15 15:22] jmyung opened #27067 "Translate tasks/tls/managing-tls-in-a-cluster.md in Korean"
This is a Feature Request

What would you like to be added

Translate tasks/tls/managing-tls-in-a-cluster.md in Korean

Why is this needed
There is no document for this in Korean.

Comments

Page to translate: https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/
/language ko

[2021-03-15 15:22] jmyung commented on #27067
/triage accepted

[2021-03-15 16:21] SvenMW opened #27068 "Improvement for k8s.io/docs/concepts/policy/pod-security-policy/"
Hi!

The docs leave it open to interpretation if the default pod security policy actually still processes all syscalls through the seccomp profile, even if no policy is applied.

So my question is: Does kubernetes apply an (empty) default profile, if seccomp is in "unconfined" state?

The docs read:

I ask, because we were able to measure  a not negligible performance difference on certain workloa

[2021-03-15 18:22] mbbroberg commented on #26797
Hey @sftim, I'm reviewing contributor-comms requests and saw this one. Do you need our help getting this message out to people? If so, happy to do so. If not, I'm not sure we're the right area of contribex to help.

[2021-03-15 18:35] #27057 closed

[2021-03-15 18:51] celestehorgan commented on #26910
Hi @RA489 @sftim:

I closed PR #27025 because I believed that in its current implementation it did not meet the guidelines on third party content.

However, @sftim – I notice that you suggested in this issue that RKE could be linked. Can you clarify on an implementation of this which would meet the third party content guidelines?

[2021-03-15 19:18] AlexDamiao86 commented on #13939
Hello,
I'd like to translate this page:
https://github.com/kubernetes/website/edit/master/content/en/docs/tutorials/kubernetes-basics/expose/expose-intro.html

[2021-03-15 19:27] rikatz commented on #13939
Go ahead :D

I'll add you to the translation sheet here!

[2021-03-15 19:28] #26843 closed

[2021-03-15 20:39] chrisnegus opened #27072 "Add content to https://kubernetes.io/docs/setup/production-environment/"
**This is a Feature Request**

**What would you like to be added**

This page currently consists of four links to production environment topics. I'd like to do the following:

* Add text describing considerations for setting up a production-quality Kubernetes environment or having someone do it for you.
* Take the existing four links and merge them into the text.
* Since I believe the Best practic

[2021-03-15 20:45] neolit123 commented on #27017
opened PR for this:
https://github.com/kubernetes/website/pull/27073
(it also closes this issue)

[2021-03-16 00:31] kbhawkey commented on #24409
/close

[2021-03-16 00:32] #24409 closed

[2021-03-16 03:48] Karmavil commented on #26199
@sftim I do not know how to proceed with this issue and this is why:

* The minikube cluster (*interactive tutorial*) is actually opening a **containerPort**, you can see it is available in the step 1 of the module 3 `kubectl describe pods` (after the `kubectl create ...` command is executed in the previous module 2). But if you try to create the same deployment in your local cluster `kubectl crea

[2021-03-16 07:15] raelga opened #27078 "[es] update `kubectl` installation docs"
**What would you like to be added**

The current documentation upstream documentation for `kubectl` installation is divided into a document per system (mac, linux, windows). The Spanish documentation still uses the old format, will a single page for all systems and is a bit outdated.

- en: https://kubernetes.io/docs/tasks/tools/#kubectl
- es: https://k8s.io/es/docs/tasks/tools/install-kubectl/

*

[2021-03-16 07:16] raelga commented on #27048
@sftim Issue create to update `kubectl` at https://github.com/kubernetes/website/issues/27078

[2021-03-16 07:19] raelga commented on #27048
@WHK102 The issue described looks more like a problem with your current `kubectl / kubeconfig` setup than a problem with the documentation.

Feel free to comment the issue slack channels at https://kubernetes.slack.com/archives/C09NXKJKA (English), https://kubernetes.slack.com/archives/C4UQB8SBS (Spanish) or just ping me on slack at `rael`.

/assign

[2021-03-16 07:42] s-kawamura-w664 commented on #26872
/assign

[2021-03-16 09:44] sftim commented on #27078
/triage accepted

[2021-03-16 13:38] sftim commented on #26910
If https://k8s.io/docs/setup/production-environment/tools/ became just a set of links to tools, with a 3rd party content warning, that feels like it'd cover it.

[2021-03-16 13:39] sftim commented on #26910
The `kubeadm` link would be an internal one, maybe to a page within tutorials, and there's be no section navigation within https://k8s.io/docs/setup/production-environment/tools/

How does that sound?

[2021-03-16 14:02] dragoneena12 commented on #26903
/assign

[2021-03-16 14:45] arisgi commented on #26860
/assign

[2021-03-16 15:02] devlware commented on #13939
Hi @sftim! Hope you are doing fine.
A few years ago you provided a link to a list of the most accessed website pages, it was
the top 100. IIRC it was from Google Analitycs, could you provide the most up to date top
list for us to prioriteze on the PT-BR translation?

[2021-03-16 15:22] jimangel commented on #27008
An alternate solution might be in updating Mermaid. We are running 8.5.0 and it appears 8.9.1 is out.

The JS is copied from a CDN but the source is called out here: https://github.com/kubernetes/website/blob/master/layouts/partials/head.html#L89-L92

To update:
- Navigate to the latest CDN (https://unpkg.com/mermaid@8.9.1/dist/mermaid.min.js)
- Copy contents and replace everything in [static/js/m

[2021-03-16 15:31] pacoxu commented on #26335
As https://github.com/kubernetes/kubernetes/pull/100292 is updating it to  3.5, I changed the title.

[2021-03-16 15:39] AlexDamiao86 commented on #13939
Waiting for review:
https://github.com/kubernetes/website/pull/27076

[2021-03-16 16:27] sftim commented on #27008
:+1: to the “update Mermaid” approach

[2021-03-16 17:19] #19795 closed

[2021-03-16 17:19] #20110 closed

[2021-03-16 17:58] sftim commented on #27072
Thanks @chrisnegus

I'd be happy to see those changes proposed (anyone can open a pull request to help with this, BTW). Remember to configure Netlify redirects if moving pages.

/kind feature
/language en
/priority backlog
/triage accepted

[2021-03-16 18:00] sftim commented on #27047
@rahulchonkria to help us understand if the page is inaccurate, not clear enough, or something else, can you list the differences between the steps you've followed and what's written on that page?

Could you also run:
`kubectl get pod --namespace default --o yaml` and include that output in a comment? It'd be useful to understand what Pods are running in that cluster when you have got to the last

[2021-03-16 18:02] sftim commented on #26998
/sig windows
I think

@nunix we usually don't make substantial revisions to published blog articles. If you are planning a big revision, it might be better to propose a new article and then update the old article to start with a notice about reading the new article instead.
/area blog
/language en

[2021-03-16 18:05] sftim commented on #26385
Thanks, that's useful to know.

That sounds like a good idea. Thanks.

[2021-03-16 18:07] sftim commented on #26385
/retitle Mention PDB updates in PodDisruptionBudget task page

[2021-03-16 18:08] sladyn98 commented on #26385
I can probably add this

[2021-03-16 18:09] sftim commented on #26385
Cool, thanks @sladyn98!

[2021-03-16 18:12] sftim commented on #26385
Relevant to #27053

[2021-03-16 18:28] alessandroargentieri commented on #20959
Hello guys, may I translate it and auto-assign this issue? @fabriziopandini

[2021-03-16 18:32] ehashman commented on #25388
/remove-lifecycle stale

[2021-03-16 18:42] alessandroargentieri commented on #20959
/assign

[2021-03-16 19:04] sftim commented on #27068
/sig auth
/sig security

[2021-03-16 19:06] sftim commented on #26972
/kind feature
Thanks for the suggestion @JimBlizzard

I suspect it's not very particularly easy to make what you want happen, but I can see why you'd find it useful.

[2021-03-16 19:06] sftim commented on #26988
/language ru
/kind bug

[2021-03-16 19:08] sftim commented on #21130
Also relevant: #26989

[2021-03-16 19:09] sftim commented on #21130
Done
/close

[2021-03-16 19:09] #21130 closed

[2021-03-16 19:09] sftim commented on #26989
The trivial (and still useful approach) is to have https://kubernetes.io/docs/reference/labels-annotations-taints/ hyperlink to https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/

We can do that and then later look at merging the two pages.

[2021-03-16 19:10] sftim commented on #26989
Thanks @finkr

/kind cleanup
/language en
/triage accepted
/priority backlog

[2021-03-16 19:10] sftim commented on #26989
/help

[2021-03-16 19:11] sftim commented on #26984
Kubernetes documentation for v1.13 is no longer served.
/kind support

[2021-03-16 19:12] sftim commented on #12303
Somewhat related: https://github.com/kubernetes/website/issues/26984

[2021-03-16 20:22] #21861 closed

[2021-03-16 20:22] #21886 closed

[2021-03-16 20:23] #21789 closed

[2021-03-16 20:23] #22227 closed

[2021-03-16 20:23] #22226 closed

[2021-03-16 20:23] #22532 closed

[2021-03-16 22:38] dglauche opened #27087 "Improvement for k8s.io/docs/tutorials/kubernetes-basics/expose/expose-interactive/"
During the tutorial within module 4 step 2 I noticed that the keyword 'pod' as well as 'pods' are used without an explanation. First it was a bit irritating but they function the same. I would suggest to use the same keyword to avoid confusion.

[2021-03-16 23:48] chrismetz09 commented on #27008
Hey Folks, I'll give this one a shot. tx.

[2021-03-17 03:30] inductor commented on #23748
/reopen
/remove-lifecycle rotten

[2021-03-17 04:23] santachopa commented on #26669
/close

[2021-03-17 04:23] #26669 closed

[2021-03-17 04:44] Kartik494 commented on #26819
Hi @salanhess yes maybe that is the case that you could not get the expected output. Closing this issue as your Response towards the comment.

Thanks

[2021-03-17 04:44] Kartik494 commented on #26819
/close

[2021-03-17 05:22] vaibhav2107 commented on #25959
/assign

[2021-03-17 05:36] #27017 closed

[2021-03-17 07:20] s-kawamura-w664 commented on #26885
@inductor @nasa9084
Hello,
I checked the modification in this issue.
In English, this was changed the code of apostrophe of "machine's".
I don't think it has any effect in Japanese and don't need to update.

Please check.
And if there is anything I can help, please contact me.

[2021-03-17 07:39] jihoon-seo opened #27094 "Update href to /docs/admin/high-availability/"
**Problem:**
In [docs/concepts/overview/components.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/overview/components.md),
there is a link: `[Building High-Availability Clusters](/docs/admin/high-availability/)`.
However, that page is moved to https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/high-availability/ .

**Proposed Solution:**
Update [d

[2021-03-17 07:54] vaibhav2107 commented on #27094
/assign

[2021-03-17 09:04] inductor commented on #26885
@s-kawamura-w664

That seems right! Thank you for your review.

/close

[2021-03-17 09:05] #26885 closed

[2021-03-17 09:23] sftim commented on #18231
/remove-lifecycle rotten

[2021-03-17 10:03] mengjiao-liu opened #27098 "The volume part rdb `Rados Block Device` link address is invalid"
doc address: https://kubernetes.io/docs/concepts/storage/volumes/#rbd

The link address is invalid after the field  [Rados Block Device](https://ceph.com/docs/master/rbd/rbd/) is clicked, return http code 404

        \          SORRY            /
         \                         /
          \    This page does     /
           ]   not exist yet.    [    ,'|
           ]                     [

[2021-03-17 10:03] mengjiao-liu commented on #27098
/assign

[2021-03-17 11:33] inductor commented on #26854
/close

[2021-03-17 11:33] #26854 closed

[2021-03-17 11:33] inductor commented on #26856
/close

[2021-03-17 11:33] #26856 closed

[2021-03-17 11:33] oke-py opened #27099 "Translate docs/tasks/configmap-secret/managing-secret-using-kustomize/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [docs/tasks/configmap-secret/managing-secret-using-kustomize/](https://kubernetes.io/docs/tasks/configmap-secret/managing-secret-using-kustomize/) into Japanese

**Why is this needed**
This page has not been translated.

**Comments**

/language ja
/assign
/triage accepted

[2021-03-17 12:28] Arhell commented on #26988
/assign

[2021-03-17 12:34] Arhell commented on #26988
@NebeLShaman
Доброве время суток.
А что вы стараетесь найти? Как вы туда попали?
https://kubernetes.io/docs/setup/
работает а дальше я ссылок не нашел

[2021-03-17 12:38] Arhell commented on #26988
@NebeLShaman
Страница на текущий момент не вся актуальна.
Используйте английскую версию.

[2021-03-17 14:46] neolit123 commented on #21422
in the most recent version of the container-runtime page we started linking to the external docker install page:
https://kubernetes.io/docs/setup/production-environment/container-runtimes/

it includes a matrix for different distributions:
https://docs.docker.com/engine/install/#server

this allows us to not maintain local documentation steps for installing docker or containerd.
/close

[2021-03-17 14:46] #21422 closed

[2021-03-17 14:48] neolit123 commented on #26221
no activity on the ticket. the steps are accurate.
/close

[2021-03-17 14:48] #26221 closed

[2021-03-17 15:07] rajpratyush commented on #27078
/assign

[2021-03-17 15:11] rajpratyush commented on #26987
/assign

[2021-03-17 15:12] rajpratyush commented on #26987
Can you provide guidance on this ? @neolit123

[2021-03-17 15:20] AlexDamiao86 commented on #13939
Let me take one more page! I would like to translate:
https://kubernetes.io/docs/tutorials/kubernetes-basics/scale/

[2021-03-17 15:35] neolit123 commented on #26987
the k/website maintainers would know what is best for such a variable / link.

[2021-03-17 16:59] inductor commented on #26901
/close

[2021-03-17 16:59] #26901 closed

[2021-03-17 17:04] inductor commented on #26902
/close

[2021-03-17 17:04] #26902 closed

[2021-03-17 17:05] inductor commented on #26572
/close

[2021-03-17 17:05] #26572 closed

[2021-03-17 18:14] sftim commented on #27098
/kind bug
/sig storage
/priority backlog
/language en
/triage accepted

[2021-03-17 18:33] thockin commented on #26537
I think we decided to EOL that a long time ago, rather than make yet another alias in all the configs and manage another set of SANs on certs.

I hope we don't document it anywhere?  I don't think we really want it to work, do we?

[2021-03-17 18:42] sftim commented on #26537
I don't think https://kubernet.es/ needs to serve any content; however, I'm wondering about whether Google would transfer domain ownership to the CNCF.

[2021-03-17 18:45] sladyn98 commented on #26385
@sftim https://github.com/kubernetes/website/pull/16738 Looks like this PR already added the update section, however it was added under the heading `Create PDB Object` which kind of cause me to miss it. So it looks good overall.

[2021-03-17 18:46] thockin commented on #26537
I can seek an answer to that question but I'd prefer to argue that it's not something we use so we should just pretend it never existed

[2021-03-17 18:53] sftim commented on #26537
/wg k8s-infra

Nothing to do here - thanks for checking @0x2b3bfa0
/close

[2021-03-17 18:53] #26537 closed

[2021-03-17 18:53] sftim commented on #26537
/remove-sig docs
/remove-triage accepted

[2021-03-17 18:54] sftim commented on #26537
/triage unresolved

[2021-03-17 18:54] sftim commented on #91
/wg k8s-infra

[2021-03-17 19:18] AlexDamiao86 commented on #13939
Waiting for review:
https://github.com/kubernetes/website/pull/27105

[2021-03-17 19:45] celestehorgan commented on #27072
@chrisnegus

I'd also love to see this written. I think one of the best places you could go for comment/advice as to what should be covered is the CNCF Ambassadors group – you can find them on CNCF's slack instance.

[2021-03-17 20:13] #25638 closed

[2021-03-17 22:07] #25341 closed

[2021-03-17 22:15] chrisnegus commented on #27072
Thanks Celeste. I will check that out.

[2021-03-17 23:49] #19498 closed

[2021-03-17 23:53] santachopa opened #27108 "Translate reference/glossary/volume-plugin.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate reference/glossary/volume-plugin.md in Korean

**Why is this needed**
No translation reference/glossary/volume-plugin.md in Korean

**Comments**

Page to update : https://kubernetes.io/ko/docs/reference/glossary/?core-object=true#term-volumeplugin

[2021-03-17 23:54] santachopa commented on #27108
/assign
/language ko

[2021-03-18 05:34] Bubba420G opened #27116 "/hold"
/hold
do not merge

_Originally posted by @sftim in https://github.com/kubernetes/website/issues/23294#issuecomment-678259244_

[2021-03-18 05:44] Bubba420G commented on #27116
How

???
??
?
.
.
.

[2021-03-18 06:17] mengjiao-liu commented on #27098
/reopen

[2021-03-18 06:42] seokho-son commented on #27108
/triage accepted

[2021-03-18 06:53] seokho-son commented on #27067
Thanks for the suggestion.
I believe you will resolve this issue :)
/assign @jmyung

[2021-03-18 08:02] ymartineau commented on #26199
adding a note would be an acceptable first step:

[2021-03-18 09:36] fabriziopandini commented on #20959
/lifecycle active

[2021-03-18 10:17] souravjha20 opened #27118 "Troubleshooting"
Hello, Can we get to know what is the end life support for the Azure Kubernetes version 1.18.0?

[2021-03-18 10:21] chiwenchen opened #27119 "Tried Dynamic Configuration but failed at kubelet did not checkpoint configMap"
version:
[code]

I follow the step in this document trying to change the value of `imageGCHighThresholdPercent` and `imageGCLowThresholdPercent`, and I exam the result by check if the config map in on cluster, and it did shows up at the latest one
[code]

and then I check if I correctly config the node to use the new config map by issuing command below
[code]
I did see the spec.configSource, but I

[2021-03-18 10:34] allinonedashboard opened #27120 "Set Kubelet parameters via a config file"
Hi Team,

Can you please help on the below issue. We are trying to update the kubelet config for limiting pid's in POD.

error: unable to recognize "kubectl.yaml": no matches for kind "KubeletConfiguration" in version "kubelet.config.k8s.io/v1beta1"

[2021-03-18 10:49] nunix commented on #26998
thanks a lot @sftim, I was actually start thinking the same ... but I might then just remove the part of the none driver to address this issue and then concentrate on a new blog (might take more time due to my workload lately)

[2021-03-18 11:11] inductor commented on #26872
/close

[2021-03-18 11:12] #26872 closed

[2021-03-18 12:27] tengqm commented on #27120
The kubelet config is not supposed to be used from kubectl command line.

[2021-03-18 12:29] allinonedashboard commented on #27120
Hi @tengqm it is just the name of the yaml file

[2021-03-18 12:31] sftim commented on #27118
/kind support

@souravjha20 you could try https://azure.microsoft.com/en-gb/support/options/

/close

[2021-03-18 12:31] #27118 closed

[2021-03-18 12:32] sftim commented on #27120
@allinonedashboard I think you're trying to understand https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config-file/

Is there a part of this page that isn't clear when you read it?

[2021-03-18 12:40] allinonedashboard commented on #27120
@sftim Yeah you are correct. In the manifest file I am trying to limiting the pid's in POD

[2021-03-18 12:54] sftim commented on #27120
Maybe https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config-file/ should emphasize that a kubelet config file is _not_ a manifest.

[2021-03-18 13:09] allinonedashboard commented on #27120
@sftim i have created a manifest file name called **kubectl.yaml** where the content is below

apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
evictionHard:
    memory.available:  "200Mi"

Using the command to update  **kubectl apply -f kubectl.yaml -n kube-system**
correct me if i am wrong in my way.

[2021-03-18 13:25] sftim commented on #27120
I'm am afraid that you are wrong @allinonedashboard

To tell the kubelet to use that configuration file, which is still **not a manifest**, read https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config-file/#start-a-kubelet-process-configured-via-the-config-file and follow the steps explained there.

/kind support

[2021-03-18 13:43] jihoon-seo opened #27121 "[ko] Update link href to translated page"
**Problem:**
In https://kubernetes.io/ko/docs/reference/setup-tools/kubeadm/#%EC%84%A4%EC%B9%98-%EB%B0%A9%EB%B2%95 ,
the link href is https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm (English).

The [Korean version](https://kubernetes.io/ko/docs/setup/production-environment/tools/kubeadm/install-kubeadm/) of https://kubernetes.io/docs/setup/production-environme

[2021-03-18 13:47] jihoon-seo commented on #27121
/language ko

[2021-03-18 13:59] seokho-son commented on #27121
/triage accepted

[2021-03-18 15:59] kakts commented on #22989
/reopen
/assign

[2021-03-18 16:01] kakts opened #27124 "Translate concepts/cluster-administration/kubelet-garbage-collection/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/cluster-administration/kubelet-garbage-collection/ into Japanese.
https://kubernetes.io/docs/concepts/cluster-administration/kubelet-garbage-collection//

**Why is this needed**
This page has not been translated into Japanse
**Comments**

for `dev-1.19-ja.1` branch

[2021-03-18 16:01] kakts commented on #27124
/language ja
/assign

[2021-03-18 16:05] kakts opened #27125 "[ja]Translate concepts/cluster-administration/flow-control/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/cluster-administration/flow-control/ into Japanese.
https://kubernetes.io/docs/concepts/cluster-administration/flow-control/

**Why is this needed**
This page has not been translated into Japanese.
**Comments**

For `dev-1.19-ja.1` branch

/language ja
/assign

[2021-03-18 16:06] kakts commented on #27125
/triage accepted

/language ja

[2021-03-18 16:06] kakts commented on #27125
/assign

[2021-03-18 16:06] kakts commented on #27124
/triage accepted

[2021-03-18 16:14] sagarvelankar opened #27126 "Auditing"
audit-log is mounted as FileOrCreate in the documentation.
Due to this, log rotation does not work.
Please change audit-log to be mounted as DirectoryOrCreate.
Also change audit-log-path accordingly

[2021-03-18 16:26] celestehorgan commented on #27126
Hi @sagarvelankar,

Is this an issue you're having with the documentation or with Kubernetes itself?

/triage needs-information

[2021-03-18 16:28] celestehorgan commented on #27116
/close

This seems like an accidentally opened issue.
If there's an actionable issue with documentation, @Bubba420G, feel free to open another issue describing the specific issue you're having and the page of documentation you think needs improvement.

[2021-03-18 16:28] #27116 closed

[2021-03-18 16:28] celestehorgan commented on #27094
/triage accepted

[2021-03-18 16:29] celestehorgan commented on #27087
/triage accepted
/help
/good-first-issue

[2021-03-18 16:31] celestehorgan commented on #27008
/triage accepted

@chrismetz09, feel free to use `/assign` to assign this issue to yourself.

[2021-03-18 16:31] celestehorgan commented on #26998
/triage accepted

[2021-03-18 16:36] rahulchonkria commented on #27047
Thank you very much! I was able to deploy the pod, but the problem is, whenever I try to use curl localhost to access the HTML file that I create inside the pod, it gives me this:

<html>
<head><title>403 Forbidden</title></head>
<body>
<center><h1>403 Forbidden</h1></center>
<hr><center>nginx/1.19.8</center>
</body>
</html>

Regardless, you've been of great help.

[2021-03-18 17:51] Karmavil commented on #26199
Thanks for the feedback @ymartineau I will try it (soon).
I'm not sure if the exercise is embedded so I can't confirm if that's something easy to do. Also there is a release incoming so people is busy and I don't want to brake thing right now.
I will take a look

[2021-03-18 18:41] sftim commented on #27119
My best guess is that you were reading https://kubernetes.io/blog/2018/07/11/dynamic-kubelet-configuration/ when you ran into trouble, but I might be wrong.

Is there a particular web page that you think isn't right @chiwenchen ?

[2021-03-18 18:42] sftim commented on #27119
/triage needs-information

[2021-03-18 19:28] sebastiantramontana opened #27127 "Issue with k8s.io/es/docs/concepts/services-networking/"
Spanish translation missed!

[2021-03-18 20:09] chrismetz09 commented on #27008
@celestehorgan, assign is greyed out for me. I am logged on to github. How do I "assign yourself"?

[2021-03-18 20:13] chrismetz09 commented on #27008
/assign

[2021-03-19 00:49] jihoon-seo opened #27132 "[ko] Unnecessary item is displayed in left-side navigation menu"
**This is a Bug Report**

**Problem:**
[ko]
In https://kubernetes.io/ko/docs/reference/setup-tools/kubeadm/,
unnecessary item is displayed in left-side navigation menu.

- [English version](https://kubernetes.io/docs/reference/setup-tools/kubeadm/)
![image](https://user-images.githubusercontent.com/46767780/111715825-10037280-8898-11eb-8d7d-2e21c7ff9b06.png)
- [Korean version](https://kubernetes.i

[2021-03-19 01:46] jihoon-seo commented on #27132
Adding `content/ko/docs/reference/setup-tools/kubeadm/generated/_index.md` does not resolve this issue.
(PR #27134 adds that file, but the menu item remains in [the deploy preview](https://deploy-preview-27134--kubernetes-io-master-staging.netlify.app/ko/docs/reference/setup-tools/kubeadm/).

Is there anyone that has an idea?

[2021-03-19 02:18] chiwenchen commented on #27119
@sftim  I was following this page's steps to try the configuration
https://kubernetes.io/docs/tasks/administer-cluster/reconfigure-kubelet

[2021-03-19 03:16] #21404 closed

[2021-03-19 04:38] hase1128 commented on #26865
/assign

[2021-03-19 04:39] hase1128 commented on #26864
/assign

[2021-03-19 04:40] hase1128 commented on #26874
/assign

[2021-03-19 04:42] hase1128 commented on #26875
/assign

[2021-03-19 04:43] hase1128 commented on #26859
/assign

[2021-03-19 04:47] seokho-son commented on #26908
/close

[2021-03-19 04:47] #26908 closed

[2021-03-19 07:55] habibrosyad commented on #26955
The whole `content/en/docs/templates/` are removed in https://github.com/kubernetes/website/pull/20893, I'm going to remove the directory as well as it's unused now.

[2021-03-19 08:00] habibrosyad commented on #26955
`content/en/docs/concepts/cluster-administration/monitoring.md` is moved to `content/en/docs/concepts/cluster-administration/system-metrics.md` via https://github.com/kubernetes/website/pull/21202

[2021-03-19 08:02] habibrosyad commented on #26955
`content/en/docs/sitemap.md` is removed via https://github.com/kubernetes/website/pull/24270

[2021-03-19 11:23] habibrosyad commented on #26955
Just sharing a useful trick for finding related PR which delete/modified a file:

### 1. Get a commit hash related with the changes
[code]

e.g.

[code]

The output will be similar with this:
[code]

Please note the commit has in the output (`b1fb333fad2301d4d6c30548fb001687f42e24c1`, in the case of the example above).

You can use the same command to find which commit modified a file by changing

[2021-03-19 20:35] chrismetz09 opened #27144 "Add Contiv-VPP CNI to Networking and Addons pages"
**This is a Feature Request**

**What would you like to be added**

Kubernetes relies on CNI plugins to "bootstrap" cluster networks conforming to the K8s networking model. The ../cluster-administration/networking and ../cluster-administration/addons pages list CNI plugins. [Contiv-VPP](https://contivpp.io/) is not listed on these pages.

Actions required:

- Add Contiv-VPP descriptive blurbs/refe

[2021-03-19 21:42] vd-rd opened #27145 "kubeadm init phase typo"
Hello,

The documentation available at https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init-phase/#cmd-phase-certs states that the init phase is creating ca.cert and ca.key, the public key name has a typo. Instead it should be ca.crt.
This makes the process of providing your own CA fail because kubeadm expects a different name.
[code]

[2021-03-19 22:34] #24411 closed

[2021-03-20 00:39] neolit123 commented on #27145
These docs are generated mostly. The bug is in
kubernetes/kubernetes/cmd/kubeadm.

/sig cluster-lifecycle
/triage accepted

[2021-03-20 01:37] #21966 closed

[2021-03-20 06:30] seokho-son opened #27147 "Korean Localization for dev-1.20-ko.7 branch"
## In English

**This is a Feature Request**

Korean Localization for `dev-1.20-ko.7` branch.

**What would you like to be added**

Any localization contributions for Korean.

**Comments**

- This issue is to notify the schedule of Korean localization to contributors.
- `dev-1.20-ko.7` is the current work branch for Korean localization.
- Korean PR Wrangler: @seokho-son

**Important dates**
- A Ko

[2021-03-20 06:30] #26907 closed

[2021-03-20 06:31] seokho-son commented on #27147
/milestone dev-1.20-ko.7

[2021-03-20 06:31] seokho-son commented on #27147
/triage accepted

[2021-03-20 06:35] seokho-son opened #27148 "Outdated files in the dev-1.20-ko.7 branch"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.20-ko.7 branch.

### 46 files to be modified
1. [ ] M1.  `content/en/docs/concepts/architecture/control-plane-node-communication.md`  | 1(+XS) 1(-)
1. [ ] M2.  `content/en/docs/concepts/architecture/nodes.md`  | 39(+M) 36(-)
1. [ ] M3.  `content/en/docs/concepts/cluster-administration/manage-deployment.md`  | 1(+XS) 1(-)
1. [ ]

[2021-03-20 06:35] seokho-son commented on #27148
/milestone dev-1.20-ko.7

[2021-03-20 06:36] seokho-son commented on #27148
/language ko
/help

[2021-03-20 06:36] seokho-son commented on #27147
/milestone dev-1.20-ko.7

[2021-03-20 06:37] seokho-son commented on #27148
/milestone dev-1.20-ko.7

[2021-03-20 06:42] seokho-son commented on #27148
/triage accepted

[2021-03-20 06:50] seokho-son commented on #27148
M43이 수정사항이 많은 것 같네요.
제가 M43 - M46 을 처리하겠습니다~~

/assign @seokho-son
for M43 - M46

M43 - M46 : @seokho-son

[2021-03-20 06:58] seokho-son commented on #27148
PR 타이틀 및 작성 방법 참고 (https://github.com/kubernetes/website/pull/26964)
[ko] Update outdated files in dev-1.20-ko.7 (p1)
p1 은 상황에 따라 지정 (p2, p3, ... or 대표 수정 사항 등)

[2021-03-20 07:24] su225 commented on #27087
Newcomer here. I'll give a try.

[2021-03-20 08:40] mjbright opened #27150 "Missing details on "Managing Resources - Canary Deployments""
In the Canary Deployments section it is described how a "track" label could be used to differentiate between "stable" and "canary" versions of a deployment.

A new kubernetes user might imagine that this is sufficient to manage Canary Deployments.

At a minimum it should be explained that such a label convention would need to be taken into account by some external system actually implementing the

[2021-03-20 12:20] ysyukr commented on #27148
M1 ~ M46 / R1 나머지 하겠습니다. 😄

[2021-03-20 14:16] su225 commented on #27145
/assign @su225

[2021-03-20 18:54] #23749 closed

[2021-03-20 18:54] #24670 closed

[2021-03-20 19:55] #24495 closed

[2021-03-21 06:28] seokho-son commented on #27148
@ysyukr 감사합니다! ㅠㅠ 너무 무리하시는 것은 아닐지 모르겠네요. 혹시라도 도움이 더 필요하시면 알려주세요 ! ^^
/assign @ysyukr
for M1 ~ M42 / R1

M1 ~ M42 / R1 : @ysyukr (`[ko] Update outdated files in dev-1.20-ko.7 (p1)`)
M43 - M46 : @seokho-son (`[ko] Update outdated files in dev-1.20-ko.7 (p2)`)

[2021-03-21 08:57] shuuji3 commented on #20895
Hello @kbhawkey, is this PR still valid? If so, could you reopen it since fejta-bot has closed it?

[2021-03-21 08:57] shuuji3 commented on #20895
/reopen

[2021-03-21 09:08] #21597 closed

[2021-03-21 11:10] #24660 closed

[2021-03-21 13:37] rkmathi commented on #26862
/assign

[2021-03-21 14:43] kbhawkey commented on #20895
/reopen

[2021-03-21 14:53] kbhawkey commented on #20895
👋 @shuuji3 .
I reopened the issue. You could propose a PR with changes and reach out to the blog sub-project team or
add your ideas for the blog search component in this issue.
Should the blog pages have a search bar? Where could you add this component?
Thanks for looking into this.
/triage accepted

[2021-03-21 21:20] #21128 closed

[2021-03-22 02:39] KobayashiD27 commented on #26866
/assign

[2021-03-22 02:39] KobayashiD27 commented on #26867
/assign

[2021-03-22 02:40] KobayashiD27 commented on #26861
/assign

[2021-03-22 02:52] jihoon-seo commented on #27121
- Resolved by #27134

[2021-03-22 02:52] #27121 closed

[2021-03-22 07:13] dabing1986 opened #27162 "Unclear requirements for “Using Source IP” tutorial"
Source IP for Services with Type=ClusterIP
Packets sent to ClusterIP from within the cluster are never source NAT'd if you're running kube-proxy in iptables mode, (the default). You can query the kube-proxy mode by fetching http://localhost:10249/proxyMode on the node where kube-proxy is running.

kubectl get nodes
The output is similar to this:

NAME                           STATUS     ROLES

[2021-03-22 08:53] s-ito-ts commented on #26881
/assign

[2021-03-22 11:18] euyuil commented on #17575
I'm having exactly the same issue and could unblock myself by following the "**Proposed Solution**". Perhaps the issue should be
/reopen

[2021-03-22 11:55] sftim commented on #24950
/remove-lifecycle stale

[2021-03-22 16:37] neolit123 commented on #27145
/kind bug

[2021-03-22 18:37] myee111 opened #27167 "Interactive Tutorial - Scaling Your App"
Load balancing isn't working in this example.

![image](https://user-images.githubusercontent.com/1172769/112040886-f87bf200-8b02-11eb-94d7-7a2bea9a21c4.png)

[2021-03-22 18:52] myee111 commented on #27167
Please close this. I was wrong.

[2021-03-22 18:52] #27167 closed

[2021-03-22 19:02] Karmavil commented on #26199
All right guys I sent a message to address this issue.
There is [an issue](https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios/issues/18) currently open so I will not create a new one.
There is no need to create a pull request because the member of that project already made this changes in another repo so I asked him to merge that changes

[2021-03-22 20:43] #24694 closed

[2021-03-23 05:43] RA489 commented on #27120
Namespace shouldn't be defined here. It should be written in yaml definition file.

[2021-03-23 13:10] sftim commented on #27162
Let's update https://kubernetes.io/docs/tutorials/services/source-ip/ to recommend running this tutorial on a cluster with at least two nodes that are not acting as control plane hosts.

/retitle Unclear requirements for “Using Source IP” tutorial

[2021-03-23 13:14] sftim commented on #27144
@chrismetz09 sure, this is a valid improvement.

I noticed that both Contiv and Contiv VPP are in the same GitHub organization; I don't believe it's right to say that they have _nothing_ in common.

/triage accepted
/language en

[2021-03-23 13:15] sftim commented on #27150
I think this issue is about https://kubernetes.io/docs/concepts/cluster-administration/manage-deployment/#canary-deployments

[2021-03-23 13:18] sftim commented on #27150
Kubernetes has a built-in resource, [Service](https://kubernetes.io/docs/concepts/services-networking/service/) that can send traffic based on selectors as explained here. [Ingress](https://kubernetes.io/docs/concepts/services-networking/ingress/) is another built-in API that would work for this case provided you used a suitable ingress controller.

I don't think this issue is correct. Maybe the p

[2021-03-23 13:20] sftim commented on #27150
If you want to automate canary deployments, that's a different story. We might also want to explain the difference between _continuous_ deployment (as explained in https://continuousdelivery.com/) and _automated_ deployment.

[2021-03-23 14:59] MNashDev opened #27179 "Install and Set Up kubectl on Windows"
Install-Script -Name 'install-kubectl' -Scope CurrentUser -Force
install-kubectl.ps1 [-DownloadLocation <path>]

Install via PSGallery not working.

In the Install Script:
`$uri = "https://kubernetes.io/docs/tasks/tools/install-kubectl/"
Write-Host -ForegroundColor White "==>Getting download link from $uri"
$req = Invoke-WebRequest -UseBasicParsing -Uri $uri
try
    {
        Write-Host -Foregroun

[2021-03-23 15:01] #24661 closed

[2021-03-23 16:02] #24650 closed

[2021-03-23 21:30] antaloala commented on #24053
/close

[2021-03-23 21:30] #24053 closed

[2021-03-23 21:49] lapwat commented on #16729
As I understood:

`--from-file` loads filename:filecontent as a unique key:value pair
`--from-env-file` loads each line (formatted as `KEY=value`) as key:value pairs

So `--from-env-file` is not legacy. It is a way to load a set of environment variables.

I think it is a good behavior to be able to load a unique env file.

Proposed Solution:
There should be an error if `--from-env-file` option is

[2021-03-23 21:55] sftim commented on #16729
To request an enhancement to `kubectl`, visit https://github.com/kubernetes/kubectl/issues/new/choose and file an issue. It's OK to reference the URL of _this_ issue: https://github.com/kubernetes/website/issues/16729

[2021-03-23 22:11] sftim commented on #26956
The documentation for Kubernetes is *not* a stable API and Kubernetes makes **no** guarantee about the format of documentation.
It's OK if that tool wants to work out a better way to find a download link. In fact, I recommend it.
As the Kubernetes project does not maintain that script, we should remove the link to it - it's unhelpful to users to give the impression that that tool is considered sec

[2021-03-23 22:11] sftim commented on #26956
Duplicated by https://github.com/kubernetes/website/issues/27179

[2021-03-23 22:11] sftim commented on #26956
/triage accepted
/priority important-longterm

[2021-03-23 22:12] sftim commented on #27179
/triage duplicate
This duplicates issue 26956.

[2021-03-23 22:12] sftim commented on #27127
/language es
/kind feature

[2021-03-23 22:15] sftim commented on #27119
My guess is that kubelet on that node does not have `--dynamic-config-dir` in its command line arguments. This seems like a support request, but it's also possible that the page you're reading is out of date @chiwenchen.

Can you check that `--dynamic-config-dir` is passed to the kubelet via argv?

[2021-03-23 22:41] AriSweedler opened #27180 "Improvement for k8s.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/"
This is how K8s works:

![flowchart](https://user-images.githubusercontent.com/12516448/112227631-92bc6280-8bf5-11eb-8236-e9fe7fc4f989.png)

This is how I expected it to work after reading the docs:

![flowchart(1)](https://user-images.githubusercontent.com/12516448/112228188-8258b780-8bf6-11eb-9d7a-01393c1a6dc3.png)

If I want my application to not be marked as ready until 60 seconds pass, then I

[2021-03-24 05:10] vaibhav2107 commented on #26853
/assign

[2021-03-24 06:47] somethingw opened #27187 "互动教程 - 配置 java 微服务"
the terminal message is:
$ export JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64/
$
$ sleep 1; launch.sh
Starting Kubernetes. This is expected to take less than a minute....
We are sorry but we encountered a problem with the connection.
Please refresh and try again.
Wed Mar 24 2021 14:44:49 GMT+0800 (中国标准时间)
ping timeout

 i refresh manny times,but it still not work

[2021-03-24 06:58] somethingw commented on #27187
it works finnally

[2021-03-24 06:58] #27187 closed

[2021-03-24 09:13] rdxmb opened #27188 "Kubelet parameters via a config file - implementation not clear"
Hello,

I have read this https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config-file/ several times.

On ubuntu, when kubernetes was initiated via `kubeadm init`, the kubelet-process runs with

`--config=/var/lib/kubelet/config.yaml`

This site does not explain what has to be done with that. I've tried to define my own `/etc/kubernetes/kube-config.yaml` like the example on this website

[2021-03-24 09:22] rdxmb commented on #27188
It seems that it will be more clear with

https://github.com/kubernetes/website/pull/26786/files#diff-7790d405e7f6377d39f6c8a2b74485c6f033400172bda1aade326124ddfba1baR58-R63

[2021-03-24 09:32] rdxmb commented on #22916
When talking about the config-file for `kubeadm init`, we should explain this more generally - not specific to the cgroup-driver.

In my case, I need to set the `resolvConf:` parameter. For about 8 hours I searched for a way to do that with `kubelet --config`.

Now I found https://github.com/kubernetes/website/pull/26786/files#diff-7790d405e7f6377d39f6c8a2b74485c6f033400172bda1aade326124ddfba1baR5

[2021-03-24 10:27] CyprianFusi opened #27190 "Contribute to K8s docs"
Is there any future plan to merge Docker and Kubernetes to form Dockernetes? There seems to be a lot of overlaps and integration already. Consolidating both would probably be powerful...

[2021-03-24 10:31] chiwenchen commented on #27119
@sftim Thanks for the hint, I finally figured out what I went wrong.

firstly I was using `kublet --dynamic-config-dir=FOO_DIR` to set the dynamic config directory, but when I restart the kublet, the change did not consumed by the kublet.

How I did right now is following below steps.

1. find where is my `kublet.service` in my node. and the last one seems to be right.
[code]

2. check the file an

[2021-03-24 10:54] rdxmb opened #27191 "Add advice for kubeadm users to “Set Kubelet parameters via a config file”"
Hello,

on this site https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config-file/ I miss the information, that if using `kubeadm` you have to configure the kubelet via the config through kubeadm.

And a link to https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config-file/ is also missing.

Thanks!

[2021-03-24 11:31] rdxmb commented on #22916
This is also very confusing for me. I could not find how to use the kubelet-configuration with kubeadm in this docs. https://pkg.go.dev/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2?utm_source=godoc seems to help in this case.

[2021-03-24 11:44] vaibhav2107 commented on #26868
/assign

[2021-03-24 11:49] vaibhav2107 commented on #26869
/assign

[2021-03-24 11:53] vaibhav2107 commented on #26870
/assign

[2021-03-24 12:48] markmorlino opened #27193 "Improvement for k8s.io/docs/reference/access-authn-authz/authentication/"
I went to the page because of this error from terraform plan:

[code]

And there is no information on the page about how to resolve the error.

[2021-03-24 13:32] ffred1962 opened #27194 "Example: Deploying WordPress and MySQL with Persistent Volumes"
How to create persisten volume in catacoda ?

[2021-03-24 14:06] neolit123 commented on #22916
@rdxmb did you see this section for kubeadm init?
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#config-file

both the kubeadm init and join documentation pages link to the kubeadm API from where you can pick e.g. v1beta2 and it has examples how to pass KubeletConfiguration to kubeadm init:
https://pkg.go.dev/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm

[2021-03-24 14:16] neolit123 commented on #22916
and to respond to the original issue here the "installing kubeadm" guide also has:

most users understand what they need to do after clicking that link, but some just get confused.

due to the cgroup driver configuration issue this PR:
https://github.com/kubernetes/website/pull/26786
adds the specific page and after that this issue feels resolved to me.

unless users have specific requests on how

[2021-03-24 14:19] sftim commented on #27119
/kind support
/close

[2021-03-24 14:19] #27119 closed

[2021-03-24 14:24] sftim commented on #27191
Is this a duplicate of #27188 ?

[2021-03-24 14:25] sftim commented on #27194
/kind support

[2021-03-24 14:26] sftim commented on #27190
No.

This question is not really about contributing to Kubernetes documentation @CyprianFusi. I'm going to close it.

/triage unresolved
/close

[2021-03-24 14:26] #27190 closed

[2021-03-24 14:42] rdxmb commented on #22916
yes, but that site does not tell anything about the syntax and structure that config file.
For me as an system engineer I am not able to create a config file with the information included on that site.

https://pkg.go.dev/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm

I must admit that I have never scrolled to the end of that page. For me, it was not transparent that I have to use "Directories" t

[2021-03-24 15:10] neolit123 commented on #22916
For me as an system engineer I am not able to create a config file with the information included on that site.

it's an API presented to the user in a standard godoc format.
structure fields map to JSON / YAML:
https://pkg.go.dev/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2#NodeRegistrationOptions

i'm surprised that you as a system engineer are having trouble parsing this aspect.
what i

[2021-03-24 16:01] rdxmb commented on #27188
I close this becaus this is the very wrong way to do it.

[2021-03-24 16:50] rdxmb commented on #22916
@neolit123 First, thank you for taking so much time and your questions to understand that!

I also want to help with my point of view so I hope this will be transparent. First, I want to answer your points. Then, in my next comment, I'd like to describe my "jouney" through the docs on the wrong tracks...

I've just commented it...

Ok, thanks. You see, this is the "inner" way to see it. For admini

[2021-03-24 16:56] rdxmb commented on #22916
For me as an system engineer I am not able to create a config file with the information included on that site.

This refered to https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#config-file , not to the API documentation.

what is the exact change you would like to see?

I'll try to show you my confusing way through the docs. I hope we see wenn I got lost :)

1. I have 3 small

[2021-03-24 16:57] #27188 closed

[2021-03-24 16:58] rdxmb commented on #27191
@sftim  I've just closed the other one.

[2021-03-24 17:02] neolit123 commented on #22916
not problem, but i don't have much time to debate this, close to a kubernetes release (1.21).
if you have any suggestions just log separate issues / send PRs.

EOD, every single change gets approved by the kubernetes/website maintainers and not by component maintainers like me.

you can update the link in k/website.
i will try to fix the general pkg.go.dev problem at https://github.com/golang/go/i

[2021-03-24 17:15] rdxmb commented on #22916
Oh, I thought you were a docs maintainer. Thanks for your help. still.

https://github.com/kubernetes/website/pull/27199

[2021-03-24 18:05] sftim commented on #27193
/kind support

https://kubernetes.io/docs/reference/access-authn-authz/authentication/#client-go-credential-plugins _does_ explain how to use these plugins, but doesn't cover using Terraform, EKS, the `aws` CLI tool in combination. Kubernetes doesn't provide that level of detail for third party software and services.

[2021-03-24 19:35] r-joyce commented on #16618
Is there any plans to still do this? The image used in the article is about 3 years old now. It's honestly a well written example in my opinion, but sucks that once it's completed to realize how old of a version it is. Also doesn't look like there's a newer image in that repository from what I can tell.

There is a more up to date version on Docker Hub which can be found [here](https://hub.docker.

[2021-03-24 20:45] sftim opened #27204 "TaintNodesByCondition incorrectly marked as beta (?)"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#taintnodesbycondition mentions that the admission controller is beta; however the related feature gate is now GA.

**Proposed Solution:**
Verify the feature status of the TaintNodeByCondition feature _for the admission controller specifically_. If
https://kubernetes.io/docs/referen

[2021-03-24 20:45] sftim commented on #27204
@kubernetes/sig-node-bugs could you confirm whether that admission controller is still beta?

[2021-03-25 00:53] jihoon-seo opened #27206 "[ko] Translate generate-ref-docs"
**This is a Feature Request**

**What would you like to be added**

The Korean version of files in [content/en/docs/contribute/generate-ref-docs/](https://github.com/kubernetes/website/tree/master/content/en/docs/contribute/generate-ref-docs)

**Why is this needed**
Because there is no Korean version of that files.

**Comments**

/language ko
/assign

[2021-03-25 01:01] Yasaswini2105 commented on #26943
Thank you for the reply, I have checked them and they are matched. Can you please provide me proper documentation to set dynamic volume provisioning in bare metal if possible?

[2021-03-25 01:26] sftim commented on #24950
/remove-lifecycle stale

[2021-03-25 04:06] jayanmn opened #27209 "Improvement for k8s.io/docs/tasks/job/fine-parallel-processing-work-queue/"
Looks like the document is out of date with recent development in k8s

Document mentions below step
kubectl run -i --tty temp --image redis --command "/bin/sh"
Waiting for pod default/redis2-c7h78 to be running, status is Pending, pod ready: false
Hit enter for command prompt

It actually produces error in k8s local environment. Looking at stackoverflow questions, it seems "kubectl run" is changed

[2021-03-25 04:13] jayanmn commented on #27209
Fix may be to advice  use apply of https://kubernetes.io/examples/application/job/redis/redis-pod.yaml (which is mentioned in just previous section)

kubectl.exe apply -f  <path-to->redis-pod.yaml

[2021-03-25 05:48] shuuji3 commented on #20895
👋🏻 @kbhawkey Thanks for reopening!

I think it's nice to add a search component just like the documentation page. It enables readers to find the related articles when they meet unfamiliar topics in the blog post.

**Current search box in docs**
<img width="546" alt="Screen Shot 2021-03-22 at 0 05 52" src="https://user-images.githubusercontent.com/1425259/112424811-6aa93c80-8d78-11eb-8e4b-c379930b3

[2021-03-25 06:53] skydroplet opened #27214 "Overview of Cloud Native Security Page link can not open"
![图片](https://user-images.githubusercontent.com/6248100/112430962-d344e900-8d79-11eb-8f3d-442bb0e50e1d.png)

https://kubernetes.io/zh/docs/concepts/security/overview/

Chinese page link can not open

[2021-03-25 07:42] CaoDonghui123 commented on #27214
/language zh

[2021-03-25 08:14] vaibhav2107 commented on #27214
/assign

[2021-03-25 09:53] RA489 commented on #26836
@hot3eed raised the PR #27024 please check if it works for you?

[2021-03-25 09:54] tengqm commented on #27209
/kind bug
/triage accepted

[2021-03-25 10:14] RA489 commented on #27191
/triage accepted

[2021-03-25 10:16] RA489 commented on #27194
@ffred1962 This https://kubernetes.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/ doesn't help creating PV?

[2021-03-25 10:19] RA489 commented on #27162
/triage accepted

[2021-03-25 10:21] RA489 commented on #27127
/triage accepted

[2021-03-25 10:23] RA489 commented on #27120
PTAL over https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config-file/

[2021-03-25 10:28] RA489 commented on #27047
/triage support

[2021-03-25 10:29] RA489 commented on #27047
/kind support

[2021-03-25 10:30] RA489 commented on #27002
/triage accepted

[2021-03-25 10:31] RA489 commented on #26988
/triage accepted

[2021-03-25 10:32] RA489 commented on #26987
/triage accepted

[2021-03-25 10:35] ffred1962 commented on #27194
Hi!
Thank You very much!
And I also  found this lab: https://www.katacoda.com/mjboxboat/courses/kubernetes-fundamentals-2/persistent-volumes

So this issue may be closed

Kind regards,
Fred

From: RA489 ***@***.***
Sent: Thursday, March 25, 2021 12:17 PM
To: kubernetes/website
Cc: ffred1962; Mention
Subject: Re: [kubernetes/website] Example: Deploying WordPress and MySQL with Persistent Volumes (#

[2021-03-25 10:35] RA489 commented on #26943
@Yasaswini2105 Please check here https://kubernetes.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/

[2021-03-25 10:43] #24691 closed

[2021-03-25 11:36] ffred1962 commented on #27194
It seems that line

storageClassName: local-storage

was missing at resource definition files

From: RA489 ***@***.***
Sent: Thursday, March 25, 2021 12:17 PM
To: kubernetes/website
Cc: ffred1962; Mention
Subject: Re: [kubernetes/website] Example: Deploying WordPress and MySQL with Persistent Volumes (#27194)

@ffred1962 <https://github.com/ffred1962>  This https://kubernetes.io/docs/tasks/configu

[2021-03-25 13:51] jpbetz commented on #25785
I discovered that we don't include client-go documentation in the main kubernetes website documentation. Since client-go is just one of many language clients, we only link to it. I'll follow up with the client-go maintainers to make sure we have adequate documentation, but we don't need this issue. Closing.

[2021-03-25 13:51] #25785 closed

[2021-03-25 16:49] #26617 closed

[2021-03-25 18:03] sftim commented on #27214
/kind bug

[2021-03-25 18:30] marosset opened #27222 "Change supported Windows OS version support table in docs to reference a .yaml file in another repo"
**This is a Feature Request**

Update how https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/#windows-os-version-support gets populated so we don't need to make PRs to kubernetes/website to update this tabel.

**Comments**

@neolit123 suggested keeping a .yaml file in one of the kubernets-sigs repo and pulling data from that.

/sig windows

[2021-03-25 18:51] #22786 closed

[2021-03-25 19:24] sftim commented on #27222
If we keep that YAML file in another repo, is there a reason why that's better than keeping it in this repo? I'm imagining that maintenance would be fairly similar.

We can use [Hugo data](https://gohugo.io/templates/data-templates/) to make a shortcode that renders as the version support table. (My gut feeling is that maintaining a Markdown table is about as much effort, though).

If we use YAML

[2021-03-25 19:44] marosset commented on #27222
I think it would be fine to keep it in this repo too.

[2021-03-25 20:25] neolit123 commented on #27222
two minor downsides that i see of using k/website are:
- machine readable consumers of the YAML might wonder this file lives in the website repository.
- requires approval from k/website owners for changes on this rather technical aspect maintained by SIG Windows (version additions).

if this would be only for human readers a markdown file would suffice.
i have a wild guess that someone might want

[2021-03-25 23:16] kbhawkey commented on #27204
/triage accepted

[2021-03-26 01:05] sftim commented on #16618
/reopen

We should still do this.
/remove-lifecycle rotten

[2021-03-26 01:05] sftim commented on #16618
/triage accepted

[2021-03-26 01:37] sftim commented on #27191
/retitle Add advice for kubeadm users to “Set Kubelet parameters via a config file”

[2021-03-26 01:37] sftim commented on #27191
/priority backlog
/language en
/kind feature

[2021-03-26 01:38] sftim commented on #26618
/retitle Add tutorial explaining how to deploy a Kubernetes cluster

[2021-03-26 01:39] sftim commented on #26618
/retitle Add tutorial explaining how to deploy a Kubernetes cluster (without using kind / minikube / etc)

[2021-03-26 01:40] sftim commented on #26618
/kind feature
/language en
@rich-pixley would you be willing to revise the issue description (there's an edit button) to match your last comment?

[2021-03-26 02:10] NOWYOU opened #27229 "Improvement for k8s.io/zh/docs/setup/production-environment/container-runtimes/"
用于生产环境的kubernetes集群搭建，这个容器运行时好像只是介绍怎么安装容器？是不是放错位置了，或者没写完整

[2021-03-26 02:32] jihoon-seo opened #27231 "Fixing line separation is needed"
**This is a Bug Report**

**Problem:**

As-is:
https://raw.githubusercontent.com/kubernetes/website/master/content/en/docs/concepts/architecture/nodes.md
[code]

is rendered like this:
https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/architecture/nodes.md#reliability
![image](https://user-images.githubusercontent.com/46767780/112568918-9aaf1900-8e26-11eb-8b05-a4dcbb7a0cae

[2021-03-26 04:12] seokho-son commented on #27132
/triage accepted

[2021-03-26 04:13] seokho-son commented on #27206
/triage accepted

[2021-03-26 05:02] #27231 closed

[2021-03-26 05:40] jihoon-seo opened #27234 "Update concepts/storage/volumes.md"
**This is a Bug Report**

**Problem:**
Through the progress with many contributors,
the content of `concepts/storage/volumes.md` got a little bit unclear.

---

[[1f43363 version](https://github.com/kubernetes/website/blame/1f433637fed8101b436e121868c8c087346b4721/content/en/docs/concepts/storage/volumes.md#L27-L41)]
(Most of the sentences are updated about 3 years ago.)
[code]

---

[[Current ver

[2021-03-26 08:10] jihoon-seo commented on #27132
Is there any possibility that adding `no_list: true` can resolve this issue?

(Ref for `no_list: true`: [here](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/using-api/_index.md))

[2021-03-26 08:28] yu-kasuya commented on #26900
/assign

[2021-03-26 08:45] seokho-son commented on #27132
@jihoon-seo Thank you for the bug report.
In my perspective, this bug is related with layout of website. (toc_hide seems not applied for all localized contents)
Let me check where the bug is from.

I suspect~
this file.
./layouts/partials/sidebar-tree.html

[2021-03-26 11:32] #26443 closed

[2021-03-26 11:44] #26457 closed

[2021-03-26 11:44] #26628 closed

[2021-03-26 11:54] #26470 closed

[2021-03-26 16:39] celestehorgan commented on #27234
/triage accepted

[2021-03-26 19:41] sftim commented on #27234
/sig storage

[2021-03-26 20:54] netodeolino opened #27243 "Usando kubectl para criar uma implantação"
In the section "Implantações do Kubernetes" in the Portuguese version there an error in the word "CLuster" which should be "Cluster"

[2021-03-27 09:02] #26946 closed

[2021-03-27 11:33] shuuji3 opened #27252 "Wrong explanation on the page "Restrict a Container's Access to Resources with AppArmor""
**This is a Bug Report**

**Problem:**
On the page [Restrict a Container's Access to Resources with AppArmor | Kubernetes](https://kubernetes.io/docs/tutorials/clusters/apparmor/#example), the description of the last example (hello-apparmor-2) seems to be wrong.

The output of `kubectl describe pod hello-apparmor-2` shows `Status: Pending`. But the next paragraph says "Note the pod status is Faile

[2021-03-27 11:39] shuuji3 commented on #19309
/remove-lifecycle rotten

This is an important fix to prevent readers of the localized page from missing the untranslated pages.

[2021-03-27 11:41] shuuji3 opened #27253 "Wrong issue title when the page title includes `'` character"
**This is a Bug Report**

**Problem:**

When clicking "Create an issue" on this page [Restrict a Container's Access to Resources with AppArmor | Kubernetes](https://kubernetes.io/docs/tutorials/clusters/apparmor/), the title of the issue should be "Restrict a Container's Access to Resources with AppArmor" but it becomes "Restrict a Container".

**Proposed Solution:**

Fix the `href` attribute of t

[2021-03-27 15:35] #24765 closed

[2021-03-27 17:37] #24766 closed

[2021-03-27 17:44] himanshu007-creator commented on #26896
/assign

[2021-03-28 08:52] #20316 closed

[2021-03-28 08:57] paddy-hack commented on #25782
I sat the Certified Kubernetes Administrator (CKA) exam last week and that allows use of the Kubernetes site's documents.  I much prefer not to be side-tracked by search results in languages I don't understand during the exam.

/remove-lifecycle stale

[2021-03-28 11:58] #27214 closed

[2021-03-28 12:56] #23307 closed

[2021-03-28 12:56] #23392 closed

[2021-03-28 15:11] sftim commented on #27253
/triage accepted

[2021-03-28 15:14] sftim opened #27268 "Mention metrics-server in Metrics For Kubernetes System Components"
**This is a Feature Request**

**What would you like to be added**
Update [Metrics For Kubernetes System Components](https://kubernetes.io/docs/concepts/cluster-administration/system-metrics/) to mention the [metrics-server](https://github.com/kubernetes-sigs/metrics-server) tool and how it relates to Kubernetes cluster components and _their_ metrics.

Page: https://kubernetes.io/docs/concepts/clu

[2021-03-28 15:28] troub1emaker0911 opened #27269 "服务"
HTTP
如果你的云提供商支持它，则可以在 LoadBalancer 模式下使用服务来设置外部 HTTP/HTTPS 反向代理，并将其转发到该服务的 Endpoints。

说明： 你还可以使用 Ingres 代替 Service 来公开 HTTP/HTTPS 服务。

这里的Ingress少写了一个s.

[2021-03-28 16:58] remyleone opened #27271 "Add a set of content to help translate compose workflows to k8s"
**This is a Feature Request**

**What would you like to be added**

I would like to see a set of guidelines and methodology to convert docker-compose-based workflows to Kubernetes objects.

**Why is this needed**

It can be quite intimidating for beginners to understand how to migrate from docker-compose to k8s. service in docker-compose does not mean the same thing in K8S and can be quite confusi

[2021-03-28 18:10] bobbygryzynger opened #27272 "Interactive Tutorial - Scaling Your App - Connection refused"
I needed to run `kubectl proxy` in another terminal tab before I was able to run `curl $(minikube ip):$NODE_PORT` successfully.

Otherwise, a connection refusal error occurs:
[code]

[2021-03-28 18:18] sftim commented on #27271
/language en
/triage accepted
/priority important-longterm

Thanks for logging this @remyleone

[2021-03-28 18:30] sftim commented on #27272
BTW I think this report is about the web page at https://kubernetes.io/docs/tutorials/kubernetes-basics/scale/scale-interactive/

[2021-03-28 18:31] sftim commented on #27272
/kind bug
/language en
/priority important-longterm
/triage accepted

I can replicate this.

[2021-03-28 19:02] #22788 closed

[2021-03-29 02:09] #24782 closed

[2021-03-29 02:12] jihoon-seo opened #27280 "[ko] Improve translation of tasks/access-application-cluster/access-cluster.md"
**This is a Bug Report**

- English version: https://github.com/kubernetes/website/blob/master/content/en/docs/tasks/access-application-cluster/access-cluster.md
- Korean version: https://github.com/kubernetes/website/blob/master/content/ko/docs/tasks/access-application-cluster/access-cluster.md

**Problem:**
The Korean translation of `/docs/tasks/access-application-cluster/access-cluster.md` can

[2021-03-29 08:14] troub1emaker0911 opened #27284 "端点切片（Endpoint Slices）"
EnpointSlice镜像章节：

为了保证这些应用不需要并发 递更改 Endpoints 和 EndpointSlice 资源。

应该是：
为了保证这些应用不需要并发的更改 Endpoints 和 EndpointSlice 资源。把"的"写成了"递"。

[2021-03-29 11:48] JIIOryo commented on #26882
/assign

[2021-03-29 11:55] JIIOryo commented on #26898
/close

[2021-03-29 12:53] inductor commented on #26898
/close

[2021-03-29 12:53] #26898 closed

[2021-03-29 13:00] #27191 closed

[2021-03-29 14:41] nate-double-u commented on #26737
fixed with https://github.com/kubernetes/website/pull/26828
/close

[2021-03-29 15:47] nate-double-u commented on #26737
/reopen

Reopening with this comment: https://github.com/kubernetes/website/pull/26828#issuecomment-804456202

[2021-03-29 16:23] #24726 closed

[2021-03-29 16:25] ariscahyadi commented on #26955
`content/en//docs/tasks/example-task-template.md` is removed here #22301 together with others.

[2021-03-29 16:37] ariscahyadi commented on #26955
`content/en//docs/tasks/administer-cluster/cluster-management.md` is removed here #24415

[2021-03-30 00:24] santachopa opened #27307 "[ko] Translate reference/glossary/disruption.md in Korean"
**This is a Feature Request**

Translate reference/glossary/disruption.md in Korean

**What would you like to be added**

No translation reference/glossary/disruption.md in Korean

**Why is this needed**

**Comments**

Page to update : https://kubernetes.io/ko/docs/reference/glossary/?fundamental=true#term-disruption

[2021-03-30 00:24] santachopa commented on #27307
/assign
/language ko

[2021-03-30 02:22] santachopa commented on #27108
/close

[2021-03-30 02:22] #27108 closed

[2021-03-30 04:02] ars-burov opened #27312 "Improvement for k8s.io/docs/tutorials/kubernetes-basics/update/update-interactive/"
Want to: Want to scroll to the bottom of the terminal window.

Problem: Upon reaching the bottom of the terminal window the web page starts to scroll.

Suggestion: Disable page scroll when cursor is inside the terminal window.

[2021-03-30 08:11] jihoon-seo opened #27317 "[zh] Wrong custom heading ID in zh/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/zh/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/#%E5%8A%A0%E5%85%A5-windows-%E5%B7%A5%E4%BD%9C%E8%8A%82%E7%82%B9-joining-a-windows-worker-node
![image](https://user-images.githubusercontent.com/46767780/112955416-5c915c80-917a-11eb-9082-478215df0ace.png)

(One can find this error with regexp: `^#.*\s\{[a-zA-Z0-9]`)

**Propo

[2021-03-30 10:17] JIIOryo commented on #26894
/assign

[2021-03-30 10:41] #22519 closed

[2021-03-30 10:58] jlpedrosa commented on #25758
This is a very useful feature for the operators, specially if there would be a way to find it out through an API request.

[2021-03-30 10:58] sftim commented on #25758
/remove-lifecycle stale

[2021-03-30 11:19] Shubham82 commented on #27252
/assign

[2021-03-30 11:21] sftim commented on #25758
If you have a cluster where the API server runs as Pods, and these pods are mirrored into the Kubernetes API, _and_ you have[ Service Account Token Volume Projection](https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#service-account-token-volume-projection) enabled, then this might help because it usually shows the cluster domain name as part of the URL.
[code]

[2021-03-30 11:49] jlpedrosa commented on #25758
I'd say an universal solution through the API is interesting in any case. For instance your approach is not valid for Azure k8s service.

[2021-03-30 16:46] sftim commented on #27312
/area web-development

[2021-03-30 16:46] sftim commented on #27284
I assume:
/language zh

[2021-03-30 16:47] sftim commented on #27284
/kind cleanup

[2021-03-30 16:48] sftim commented on #27243
Page: https://kubernetes.io/pt/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro/

/kind cleanup
/language pt
/good-first-issue
/priority backlog

If you speak Portuguese, or even if you don't and you'd like to help, you can open a pull request to fix this typo.

[2021-03-30 16:49] sftim commented on #27243
Fixed in #27245

/close

[2021-03-30 16:49] #27243 closed

[2021-03-30 16:49] sftim commented on #27243
Also
/triage accepted

[2021-03-30 16:54] celestehorgan opened #27329 "Edit the template files to serve an X-Frame-Options header to prevent clickjacking"
**This is a Bug Report**

**Problem:**

The entire website is currently vunerable to clickjacking due to not having a proper `X-Frame-Options` header. This issue came to our attention via an email to the Code of Conduct Committee inbox. For more information on what a clickjacking attack is, see the following: https://cheatsheetseries.owasp.org/cheatsheets/Clickjacking_Defense_Cheat_Sheet.html

**P

[2021-03-30 16:55] celestehorgan commented on #27329
/priority important-soon
/triage accepted
/hel

[2021-03-30 16:55] celestehorgan commented on #27329
/help

[2021-03-30 17:00] jimangel commented on #27329
/assign

I feel like this has come up before in another issue. Will do some looking...

[2021-03-30 19:27] rolfedh opened #27333 "Clarify “Custom Resources“ concept"
The subsection title, "Should I add a custom resource to my Kubernetes Cluster?" asks an important question. The content presumably answers this question but doesn't use the term, "custom resource." Instead, it talks about choosing between an aggregated or standalone API. This makes it harder for the reader to determine which of the options corresponds with adding a custom response. I recommend ma

[2021-03-30 20:51] #21718 closed

[2021-03-30 22:01] tabbysable opened #27336 "Add best practice guidelines to PSP documentation."
While working on another doc, several of us realized that the PSP documentation could benefit from explicitly calling out the best practice of setting a cluster-default PSP by binding it to system:authenticated and then allowing certain namespaces to exceed that policy as-needed by binding a more-permissive policy to the serviceAccounts in those namespaces. Perhaps on https://kubernetes.io/docs/co

[2021-03-30 22:02] tabbysable commented on #27336
@tallclair you'll like this.
/sig security auth

[2021-03-30 22:02] tabbysable commented on #27336
/assign tabbysable
/triage accepted

[2021-03-30 22:51] jimangel opened #27338 "Search engines indexing old releases"
**Problem:**

Google search for "kubernetes secrets v2" returns:

![image](https://user-images.githubusercontent.com/4601051/113066191-bb0d0980-917f-11eb-9e5b-3271a8a69476.png)

(notice the URL subdomains)

**Proposed Solution:**

I need to do some more research but a few things come to mind:
- `enableRobotsTXT = true` is in [config.toml](https://github.com/kubernetes/website/blob/master/config.to

[2021-03-30 23:17] sftim commented on #27336
/priority important-longterm
(sic)

[2021-03-30 23:19] sftim commented on #27336
I'd mention good practice for PSP in https://kubernetes.io/docs/concepts/security/ or https://kubernetes.io/docs/concepts/security/pod-security-standards/
We could add a _task_ page about enforcing a minimum cluster level of pod security (ie, within https://kubernetes.io/docs/tasks/).

[2021-03-30 23:22] sftim commented on #27338
In the v1.19 docs, `<META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">` appears in the page head. That's wrong.

[2021-03-31 00:05] sftim commented on #27333
/retitle Clarify “Custom Resources“ concept
/language en
/kind cleanup
/sig api-machinery

[2021-03-31 00:09] sftim commented on #27333
Thanks for the report @rolfedh

For anyone picking this up, the table could have a **third** column that discusses the benefits of CustomResourceDefinition.
The three options are:
- use CustomResourceDefinition (most common choice)
- use [API aggregation](https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation/)
- _don't integrate your API with Kubernetes at all_

[2021-03-31 00:15] sftim commented on #27336
Also see: https://kubernetes.io/docs/tasks/administer-cluster/securing-a-cluster/#controlling-what-privileges-containers-run-with

[2021-03-31 01:54] zhiguo-lu opened #27342 "[zh] translate Reference/Well-Known Labels, Annotations and Taints"
**This is a Feature Request**
translate content/en/docs/tasks/tools/install-kubectl-linux.md into Chinese

**What would you like to be added**
content/zh/docs/reference/labels-annotations-taints.md

/assign
/language zh

[2021-03-31 09:01] sftim commented on #27329
Also see https://github.com/kubernetes/kubernetes/issues/100358

[2021-03-31 09:03] sftim commented on #27329
We could also set `X-Frame-Options:` to _allow_ frames; that feels like it would be OK.

[2021-03-31 14:38] a-mccarthy opened #27360 "Create a google data studio report to show google analytic's data for kubernetes.io"
**What would you like to be added**

At a recent SIG docs meeting we talked about using a [Google Data studio](https://support.google.com/datastudio/answer/6283323?hl=en) to publish Google analytics data for the kubernetes.io site.

To do this we need
* A google account that can create and host the report
* Determine and document how community members can access this report
* Determine and documen

[2021-03-31 14:39] a-mccarthy commented on #27360
cc @jimangel @irvifa and @sftim

[2021-03-31 14:41] sftim commented on #27360
![Party popper](https://user-images.githubusercontent.com/22591623/113162829-23ff8a80-922f-11eb-9399-2b8432f44af8.png)

Sounds good to me!

[2021-03-31 14:41] sftim commented on #27360
/triage accepted

[2021-03-31 14:44] a-mccarthy commented on #27360
Is there more information on how to go about getting a URL for this?

[2021-03-31 14:48] sftim commented on #27360
https://github.com/kubernetes/community/tree/master/wg-k8s-infra are the folks to talk to _I think_

[2021-03-31 15:42] alculquicondor commented on #19081
/reopen

I question why this decision was taken in the first place.

The scheduler has very little to do with Pod eviction. The only overlap is in pod preemption, which has slightly different semantics.

Also, there is only one link in https://kubernetes.io/docs/concepts/scheduling-eviction/ that refers to Eviction https://kubernetes.io/docs/concepts/scheduling-eviction/eviction-policy/ and talks

[2021-03-31 16:05] #27329 closed

[2021-03-31 16:09] sftim commented on #19081
I agree that people will ask these questions in connection with others in that list, so putting answers close together feels like a good approach.
Of course in the API reference and that level of detail we must explain what _really_ happens.

[2021-03-31 16:11] sftim commented on #19081
Also we did rearrange some of these pages since writing the issue description - @adambkaplan would you have the time to revise it to match (I know that's quite a bit of work).

[2021-03-31 16:35] alculquicondor commented on #19081
I was not suggesting for Scheduling to be part of Pods. But I don't see any reason why https://kubernetes.io/docs/concepts/workloads/pods/disruptions/ and https://kubernetes.io/docs/concepts/scheduling-eviction/eviction-policy/ are separated. And my stance is that both should be under pods/

[2021-03-31 18:25] sftim commented on #19081
Here's a bit more of my thinking:

Disruptions happen due to things like node maintenance or zone outages.
Evictions happen for a number of reasons. A common reason is that the cluster wants those resources back to be able to place a higher priority pod - ie, https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/, which should also live in the scheduling section and not in the

[2021-03-31 19:47] alculquicondor commented on #19081
cc @Huang-Wei @ahg-g

[2021-03-31 23:16] #22521 closed

[2021-04-01 01:17] kbhawkey commented on #27360
👀

[2021-04-01 01:50] yu-kasuya commented on #26880
/assign

[2021-04-01 03:21] jailton commented on #26732
PR #27009 address this issue.
/close

[2021-04-01 03:22] #26732 closed

[2021-04-01 05:22] #24832 closed

[2021-04-01 05:30] rounaksarda opened #27368 "Hello Minikube Command edit"
Hello,

My Minikube Setup = windows->virtualbox->ubuntu->minikube.

Minikube itself provides the kubectl in it.

Simply writing "kubectl get pods" won't work instead we need to write "minikube kubectl get pods".

I we want to run the commands of kubectl then we need to write it e.g. "minikube kubectl -- [Command] [Options]"

[2021-04-01 05:43] RA489 commented on #27368
@rounaksarda Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

Thank you for sharing your experience!

[2021-04-01 05:44] RA489 commented on #27368
/triage needs-information

[2021-04-01 08:26] sftim opened #27370 "Update Admission Controllers page with details from 2019 blog article"
We should:

- merge https://kubernetes.io/blog/2019/03/21/a-guide-to-kubernetes-admission-controllers/ into https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/

The blog article is unmaintained but detailed; the reference page is mostly accurate but rather technical and dry.

It might be appropriate to move some of the content around as well. That can happen at the same

[2021-04-01 10:09] #27317 closed

[2021-04-01 13:53] sftim commented on #25866
/triage accepted
/remove-lifecycle stale

[2021-04-01 13:54] sftim commented on #19081
Also relevant https://k8s.io/docs/tasks/administer-cluster/out-of-resource/ - see https://github.com/kubernetes/website/issues/25866

[2021-04-01 13:56] alculquicondor commented on #25866
/sig node
/sig scheduling

[2021-04-01 13:58] sftim commented on #19081
I agree with this

If we could include eviction: **Scheduling, Preemption and Eviction**
then we can describe in this section the _concept_ of eviction, and hyperlink to sections in other concept pages (eg NodeAllocatable, Pod, graceful node shutdown) etc that are relevant to eviction.

The difference is subtle and if they are easy to confused I think that strengthens the case for explaining them

[2021-04-01 14:02] alculquicondor commented on #19081
I think pairing Preemption and Eviction sends the wrong signal when looking for support. Users might go to sig-scheduling looking for answers or filing bugs, were we will just send them to sig-node.

Instead, I propose we enhance the https://kubernetes.io/docs/concepts/workloads/pods/disruptions/ doc to describe what preemption and eviction is. Then hyperlinks for preemption send them to schedulin

[2021-04-01 15:03] reylejano commented on #26084
Hi @inductor @MaxymVlasov @raelga @mfilocha @girikuncoro @fabriziopandini @remyleone @seokho-son and other localization leads, I wanted to let you know that we are on track for the 1.21 release on April 8, 2021. Next week, we will create the `release-1.20` branch, freeze the `k/website` repo on April 7, and unfreeze the `k/website` repo on the release day on April 8. I'll reach out again next week