[2022-09-05 21:12] sftim commented on #36608
/transfer k8s.io

I hope this is right.

[2022-09-05 21:35] sftim commented on #33534
How should we make these notes more visible? What other pages - perhaps even https://k8s.io/ - need to change?

/remove-lifecycle rotten
/triage needs-information

[2022-09-06 00:56] KimDoubleB opened #36622 "[ko] add `finalizer` to Korean localization glossary"
**This is a Feature Request**

**What would you like to be added**

add `finalizer` translation to Korean localization glossary (한글화 용어집 `docs/contribute/localization_ko.md`).
- `finalizer` -> `파이널라이저(finalizer)`

**Why is this needed**

Currently, there is no 'finalizer' in Korean localization glossary.
To help with translation as this word is used a lot in other documents.

**Comments**

/langua

[2022-09-06 04:09] divya-mohan0209 commented on #36617
/triage accepted

[2022-09-06 04:42] Kartik494 commented on #36617
/sig storage

[2022-09-06 04:43] Kartik494 commented on #36494
/sig storage

[2022-09-06 04:45] Kartik494 commented on #36077
/sig storage

[2022-09-06 05:30] Kartik494 commented on #36617
/kind documentation

[2022-09-06 05:36] #36617 closed

[2022-09-06 09:04] Sunilgknair opened #36627 "Suggestions for “Interactive Tutorial - Deploying an App”"
I think the tutorial is great but, as an amateur with Kubernetes, the page with the Module 2 must be improved. Can the commands be copied correctly to the attached terminal? What do the commands do? Can we split the commands so that it is easier to follow?
Can we perform the actions on the same tab, if not why?

Some of my doubts and I need a bit more clarity on this module but I hope I have been

[2022-09-06 09:26] souravsk commented on #36526
@mehabhalodiya i can help you because I'm new to it so if i can tag along i will be able to learn a lot

[2022-09-06 09:45] sftim opened #36628 "Volume expansion incorrectly marked as beta"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/concepts/storage/persistent-volumes/#expanding-persistent-volumes-claims states that volume expansion is beta; however, the article at https://kubernetes.io/blog/2022/05/05/volume-expansion-ga/ says that the feature graduated to stable as part of Kubernetes v1.24

**Proposed Solution:**
Change the feature-state shortcode there to ma

[2022-09-06 09:45] sftim commented on #36628
/triage accepted
/good-first-issue

[2022-09-06 09:45] sftim commented on #36627
/retitle Suggestions for “Interactive Tutorial - Deploying an App”

[2022-09-06 09:52] rishavnandi commented on #36628
Hi, I'd like to take this issue up and give it a try, sending a PR shortly : )

[2022-09-06 09:53] bandya2003 commented on #36628
/assign

[2022-09-06 09:56] sftim commented on #36628
@bandya2003, if you didn't liaise with @rishavnandi please do.

_Anyone_ is welcome to send in a PR to fix an issue. We do favor folks co-ordinating work and I want to emphasize our “no cookie licking” policy (see https://github.com/kubernetes/website/issues/33848#issuecomment-1134575413 in what actually turned into a too heated conversation for more explanation).

[2022-09-06 10:59] sftim commented on #32420
For me that diagram is rendering fine now.

/close

@prasadkatti if you're still seeing symptoms, it's OK to reopen this issue.

[2022-09-06 10:59] #32420 closed

[2022-09-06 11:09] bandya2003 commented on #36628
@sftim 🙌sorry, will remember it next time

[2022-09-06 14:06] #35223 closed

[2022-09-06 15:17] aravindhp commented on #31428
/remove-lifecycle stale

[2022-09-06 15:22] #36554 closed

[2022-09-06 15:57] #36268 closed

[2022-09-06 20:59] flavio-fernandes opened #36640 "Unquoted command in kubectl cheat sheet"
Add quotes in the `-o` flag of `View existing taints on which exist on current nodes` command to avoid confusing the shell:

[code]

Otherwise, this is what user may see:
[code]

[2022-09-06 23:28] sftim commented on #36494
For `emptyDir` backed by local block devices, that's easy. The pod owns all the storage and the container-level requests and limits are added up to work out what limit to apply. Container-level limits aren't enforced. https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#resource-emphemeralstorage-consumption has more details.

For `emptyDir` backed by memory, I think that

[2022-09-07 00:58] jihoon-seo commented on #36640
Link: https://kubernetes.io/docs/reference/kubectl/cheatsheet/#interacting-with-nodes-and-cluster

[2022-09-07 01:00] jihoon-seo commented on #36503
@Seo-yul 감사합니다!
/triage accepted

[2022-09-07 01:04] jihoon-seo commented on #36622
@KimDoubleB 감사합니다!
최근 많은 기여가 이루어졌는데, 이 과정에서 발굴된 등록하면 좋을 다른 용어가 있다면, 함께 등록하는 것도 좋을 것 같습니다. 😊

Link: https://kubernetes.io/ko/docs/contribute/localization_ko/#한글화-용어집
/triage accepted

[2022-09-07 01:06] jihoon-seo commented on #36613
@sangminK 감사합니다!
유용한 내용이 있는 페이지네요. 😊
/triage accepted

[2022-09-07 01:08] jihoon-seo commented on #36508
@Seo-yul 감사합니다!
/triage accepted

[2022-09-07 01:17] jihoon-seo commented on #36446
@Seo-yul 감사합니다!
/triage accepted

[2022-09-07 02:47] NitishKumar06 commented on #36640
/assign

[2022-09-07 03:33] Sandeep-source commented on #36510
Hey, can I work on this?

[2022-09-07 06:41] winhvu commented on #36453
@sftim The allocated resources, request and limit of memory/CPU, to Pod are determined at container level. So, I do not quite understand which memory will be affected (increased) by those files on the emptyDir when 'the Pod becomes the owner'.

[2022-09-07 07:20] #35735 closed

[2022-09-07 09:05] JustinRainwater opened #36650 "Issue with k8s.io/docs/concepts/configuration/configmap/"
indenting is wrong on `- name`

[2022-09-07 09:48] taniaduggal commented on #35600
Now, I am working on content/en/docs/reference/glossary/rbac.md

[2022-09-07 11:13] neolit123 commented on #36533
+1, prs welcome.

/help

[2022-09-07 12:04] sftim commented on #36533
Either of the 2 approaches is fine.

If you're someone picking this up and you choose to list several container runtimes, have a look at https://kubernetes.io/docs/contribute/style/content-guide/#third-party-content and https://kubernetes.io/docs/contribute/style/hugo-shortcodes/#third-party-content-marker for advice on how to handle this.

[2022-09-07 12:19] sftim opened #36654 "Replace images on KMSv2 blog article with SVG vector versions"
**Problem:**
On the day of publication, https://k8s.io/blog/2022/09/09/kms-v2-improvements/ will use Mermaid images that load from an external source. This is OK for now but I'm concerned that the Mermaid service may not be as long-lived as this blog.

We should replace those images with content that we host ourselves.

**Proposed Solution:**
- Use Mermaid to generate SVG images for the figures in

[2022-09-07 12:20] sftim commented on #36650
We can, and should, update the example that appears after

We can make this use the `codenew` shortcode - see [Including code from another file](https://kubernetes.io/docs/contribute/style/write-new-topic/#including-code-from-another-file)

Whenever we give examples that the reader could try out by running them, we should prefer using `codenew` shortcodes.

[2022-09-07 12:24] sftim commented on #36650
/language en
/triage accepted

I recommend switching it to a `codenew` shortcode per https://github.com/kubernetes/website/issues/36650#issuecomment-1239317194

[2022-09-07 12:25] sftim commented on #36650
I'm not sure that there's anything actually _wrong_ with the `.spec` of that Pod, though.

/kind cleanup

[2022-09-07 12:26] sftim commented on #36640
/triage accepted
/language en
/retitle Unquoted command in kubectl cheat sheet

[2022-09-07 12:28] sftim commented on #36654
This would be a fixup for PR #35675

[2022-09-07 13:18] #36078 closed

[2022-09-07 13:18] sftim commented on #33323
/language en
/remove-lifecycle rotten
/sig scheduling
/triage accepted
/priority backlog

[2022-09-07 13:24] #36393 closed

[2022-09-07 13:31] sftim opened #36655 "Label `node.kubernetes.io/exclude-from-external-load-balancers` not registered / documented"
**This is a Bug Report**

**Problem:**
I have a node in Minikube that's labelled with the key `node.kubernetes.io/exclude-from-external-load-balancers`.

This looks intended, but https://kubernetes.io/docs/reference/labels-annotations-taints/ doesn't document that label.

**Proposed Solution:**
Document that label; as a side effect, this registers it.

I can guess what this label does but I don't

[2022-09-07 13:34] sftim opened #36656 "Annotation `volumes.kubernetes.io/controller-managed-attach-detach` not registered / documented"
**This is a Bug Report**

**Problem:**
I have a node in Minikube that's annotated with the key `volumes.kubernetes.io/controller-managed-attach-detach`.

This looks intended, but https://kubernetes.io/docs/reference/labels-annotations-taints/ doesn't document that annotation.

**Proposed Solution:**
Document that annotation; as a side effect, this registers it.

https://docs.okd.io/3.11/install_co

[2022-09-07 14:03] JustinRainwater commented on #36650
Pasting that snippet into my own code gave me errors and it took me some time to figure out that it was due to the copied code being incorrect.

[2022-09-07 14:52] sftim commented on #36650
@JustinRainwater would you be willing to provide a diff for that manifest that shows the fix? It'd help.

[2022-09-07 16:24] #28580 closed

[2022-09-07 16:59] mercarey opened #36664 "Concepts / Overview image suggestion"
**This is a Feature Request**

**What would you like to be added**
In the historical context of the Overview page, the image represents the progression from legacy to containerized deployment models, showing the progression of utility in deployment methodologies. The "Traditional Deployment" image however could emphasize more the inefficiency of the legacy method; the text touched upon this: "_A s

[2022-09-07 18:05] WESTZERO115 opened #36666 "[ko] Translate docs/tasks/configure-pod-container/configure-projected-volume-storage into Korean"
**This is a Feature Request**

**What would you like to be added**
Translate docs/tasks/configure-pod-container/configure-projected-volume-storage into Korean

**Why is this needed**
Not translated into Korean.

**Comments**
link : https://kubernetes.io/docs/tasks/configure-pod-container/configure-projected-volume-storage/

/language ko
/assign

[2022-09-07 20:29] sftim commented on #36664
I wonder if we could explain the benefits of containers in general in a blog article that we mark as evergreen, and then we could use both the current (multiple apps, one server) and proposed (multiple servers, limited bin packing, more toil) versions of the physical servers architecture.

_Plus_, we can show that a Kubernetes cluster actually has multiple nodes, each typically running multiple co

[2022-09-07 20:30] sftim commented on #36664
/language en

[2022-09-07 22:15] jihoon-seo commented on #36666
@WESTZERO115 감사합니다!
/triage accepted

[2022-09-07 23:03] #32840 closed

[2022-09-08 00:03] #32848 closed

[2022-09-08 03:10] syxunion opened #36680 "Punctuation errors on https://kubernetes.io/zh-cn/docs/reference/kubernetes-api/cluster-resources"
Hello, I noticed some punctuation errors on https://kubernetes.io/zh-cn/docs/reference/kubernetes-api/cluster-resources page
/language zh

[2022-09-08 03:10] syxunion commented on #36680
/assign

[2022-09-08 03:11] syxunion commented on #36680
/close

[2022-09-08 03:11] #36680 closed

[2022-09-08 03:11] syxunion opened #36681 "Punctuation errors on https://kubernetes.io/zh-cn/docs/reference/kubernetes-api/cluster-resources"
Hello, I noticed some punctuation errors on https://kubernetes.io/zh-cn/docs/reference/kubernetes-api/cluster-resources page
/language zh

[2022-09-08 03:11] syxunion commented on #36681
/assign

[2022-09-08 05:25] mk46 commented on #36628
Addressed in https://github.com/kubernetes/website/pull/36638
/close

[2022-09-08 05:25] #36628 closed

[2022-09-08 06:04] mk46 commented on #36656
/triage accepted

[2022-09-08 06:05] mk46 commented on #36655
/triage accepted

[2022-09-08 06:13] Kartik494 commented on #36656
/assign

[2022-09-08 07:31] #33414 closed

[2022-09-08 10:40] howieyuen commented on #34099
/close

[2022-09-08 10:40] #34099 closed

[2022-09-08 10:49] Seo-yul opened #36684 "[ko] Translate /docs/reference/command-line-tools-reference/kubelet into Korean"
This is a Feature Request

What would you like to be added
Translate content/en/docs/reference/command-line-tools-reference/kubelet.md into Korean

◾ Page: https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/
◾ File: https://github.com/kubernetes/website/blob/dev-1.24-ko.3/content/en/docs/reference/command-line-tools-reference/kubelet.md

Why is this needed
Not translated yet

[2022-09-08 10:49] Seo-yul commented on #36684
/language ko
/assign

[2022-09-08 10:50] Seo-yul commented on #36684
kubelet 처럼 중요한걸 제가 맡아도 될까요!! ㅎㅎ

[2022-09-08 11:03] Seo-yul opened #36686 "[ko] Translate /docs/tasks/administer-cluster/migrating-from-dockershim/migrate-dockershim-dockerd/ into Korean"
This is a Feature Request

What would you like to be added
Translate content/en/docs/tasks/administer-cluster/migrating-from-dockershim/migrate-dockershim-dockerd.md into Korean

◾ Page: https://kubernetes.io/docs/tasks/administer-cluster/migrating-from-dockershim/migrate-dockershim-dockerd/
◾ File: https://github.com/kubernetes/website/blob/dev-1.24-ko.3/content/en/docs/tasks/administer-cluster/m

[2022-09-08 11:05] Seo-yul commented on #36686
/language ko
/assign

dockershim 관련 내용만 세번째네요!

[2022-09-08 13:28] kyungjin99 opened #36687 "[ko] Translate concepts/workloads/pods/user-namespaces.md into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate `docs/concepts/workloads/pods/user-namespaces.md` into Korean.

- Page: https://kubernetes.io/docs/concepts/workloads/pods/user-namespaces/
- File: https://github.com/kubernetes/website/blob/main/content/en/docs/concepts/workloads/pods/user-namespaces.md

**Why is this needed**
Has not been translated into Korean yet.

*

[2022-09-08 14:47] bconfiden2 opened #36688 "[ko] update contributor guide for Korean localization"
**This is a Feature Request**

**What would you like to be added**
Update on how [reviewers in document](https://kubernetes.io/ko/docs/contribute/localization_ko/#%EB%A6%AC%EB%B7%B0%EC%96%B4-%EC%82%AD%EC%A0%9C) is handled.

**Why is this needed**
Dicussed in [#35423](https://github.com/kubernetes/website/pull/35423)

/language ko
/assign

[2022-09-08 14:50] amolmote opened #36689 "Require to make changes in the concepts of `Kubernetes`"
I don't think it is an issue but when I am reading [this](https://github.com/kubernetes/website/blob/main/content/en/docs/concepts/overview/_index.md) document I found that some basic concepts are not described properly.

One key concept of kubernetes is we can not create container directly, kubernetes is not restarting the container directly.
all these kind of work kubernetes do through the pod w

[2022-09-08 15:04] KimDoubleB commented on #36622
@jihoon-seo
넵, 그러면 해당 이슈에 대한 PR로 다른 용어들도 같이 추가해보도록 하겠습니다 :)

[2022-09-08 15:24] prosnekov opened #36705 "Feature gate `ContainerCheckpoint` misnamed in docs"
### What happened?

Feature Gate ChecpointContainer is unrecognized by kubelet. I've tried to set up a new 1.25 cluster with kubeadm with kubelet config
[code]

And it fails with `kubelet[111838]: E0908 15:14:01.860828  111838 run.go:74] "command failed" err="failed to set feature gates from initial flags-based config: unrecognized feature gate: CheckpointContainer"`

I've also tried to set up ano

[2022-09-08 16:04] sftim commented on #31483
Novices can and do follow hyperlinks, provided we give folk enough context to know why they'd want to.

[2022-09-08 16:43] kadtendulkar opened #36693 "Broken link on Volume Health Monitoring page"
**Problem:**
The text [**PersistentVolumeClaim**](https://kubernetes.io/docs/concepts/storage/persistent-volumes/) on [link](https://kubernetes.io/docs/concepts/storage/volume-health-monitoring/) should point to these https://kubernetes.io/docs/concepts/storage/persistent-volumes/#persistentvolumeclaims
Check the page [Volume Health Monitoring](https://kubernetes.io/docs/concepts/storage/volume-he

[2022-09-08 17:03] Rishit-dagli commented on #36650
/assign

[2022-09-08 22:49] #35470 closed

[2022-09-09 01:42] pigletfly commented on #36487
/close

[2022-09-09 01:42] #36487 closed

[2022-09-09 02:17] hanweisen opened #36696 "Issue with k8s.io/docs/concepts/containers/images/"
[This issue](https://github.com/kubernetes/website/issues/36696) mention this page in:

the problem was that minikube ssh "docker login ... places the resultingconfig.json in /home/docker/.docker, which is not read by kubelet when pulling images. Moving that file to one of the paths specified in mentioned documentation solved the problem.

I can not find any path mentioned in [this page](https://k

[2022-09-09 02:30] tengqm commented on #36696
@hanweisen Maybe you want to check https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/. You may want to create a Secret for pulling images rather than relying on the `config.json` file on each node.

If the above link resolves your problem, you can close this issue.

/kind support

[2022-09-09 02:53] PriyanshuAhlawat commented on #36655
/assign

[2022-09-09 02:54] winhvu commented on #36453
Thanks @sftim. I have updated the title as well as the ticket description. Please let me know if it is good to go or more changes is required.

[2022-09-09 05:53] hanweisen commented on #36696
Thanks for your reply，I need configure nodes to authenticate to a private registry , not use secret. I think [another document](https://stackoverflow.com/questions/60661249/kubernetes-ignores-config-json-while-doing-docker-pull) also methioned this page, but he pasted the path put config.json this resolved my problem.
May be put these path in [Configuring nodes to authenticate to a private registr

[2022-09-09 06:21] PratikDey commented on #31677
May I work on issue `content/bn/docs/setup/best-practices/_index.md` ?

[2022-09-09 09:11] sftim commented on #36453
/retitle Unclear / misleading docs on attribution of memory that containers write to `emptyDir` volumes

[2022-09-09 09:12] sftim commented on #36453
Hope that's useful to other folk.
/triage accepted

[2022-09-09 09:12] sftim commented on #36453
/sig node

[2022-09-09 09:12] sftim commented on #36453
/priority backlog

[2022-09-09 09:19] sftim commented on #36705
This issue is now https://github.com/kubernetes/website/issues/36705 and #36699 should fix it.

/language en
/triage accepted

[2022-09-09 09:19] sftim commented on #36705
/sig docs

[2022-09-09 09:19] sftim commented on #36705
/priority backlog

[2022-09-09 09:53] vaibhav2107 opened #36706 "Document the behaviour of Kubelet's EvictionHard"
**This is a Bug Report**
As referenced to [this issue](https://github.com/kubernetes/kubernetes/issues/112057), There is an expected behaviour of Kubelet's EvictionHard that its default parameters aren't inherited if one of its parameter changed.
For example, If we changed any parameter of eviction Hard from its default value like `memory.available: "500Mi"`, all the other parameters will be set t

[2022-09-09 09:59] vaibhav2107 commented on #36706
/assign

[2022-09-09 12:52] mitul3737 commented on #31677
@PratikDey You have been assigned

[2022-09-09 14:23] #35807 closed

[2022-09-09 15:09] #35479 closed

[2022-09-09 15:49] a-mccarthy commented on #28616
I've been spending time investigating this and learning how the navigation is built :)  I believe i've found the issue. I'll try to summarize below, but I think this is a template issue which should be addressed by docsy.

There is a check in https://github.com/kubernetes/website/blob/main/layouts/partials/sidebar-tree.html  ([lines 49-51](https://github.com/kubernetes/website/blob/main/layouts/pa

[2022-09-09 16:19] amolmote opened #36711 "Need to fix the broken and Incomplete sentence structure in `blog-post.md`"
Problem Description
visit this page [blog-post.md](https://github.com/kubernetes/website/blob/main/archetypes/blog-post.md) I have found the following issues need to  fix.

-  Unclickable slack workplace channel link, you can check by clicking on this highlighed sentence `The name of a channel on Slack, #a-channel`

-  second last line and last line is incomplete. like inside [] bracket text is mi

[2022-09-09 16:21] amolmote commented on #36711
/language en

[2022-09-09 16:21] amolmote commented on #36711
/enhancement

[2022-09-09 16:54] amolmote opened #36713 "Broken link need to fix"
**This is a Bug Report**

**Problem:**
visit this page [pull-requests](https://www.kubernetes.dev/docs/guide/pull-requests/)
when we click on this `Kubernetes Enhancement Proposal process` it returns 404 not found page,so this needs to be fix.

**Proposed Solution:**
correct link of md file require to provide.

**Page to Update:**
https://www.kubernetes.dev/docs/guide/pull-requests/

/language en

[2022-09-09 16:56] amolmote commented on #36711
/assign

[2022-09-09 18:05] akankshakumari393 commented on #36713
Hey @amolmote Can I work on this issue, If you are not already.

[2022-09-09 18:23] Sandeep-source commented on #36510
@bishal7679 due to some repo sync problem I had to delete the previous PR.

I started Another PR to continue to work on the task. #36714

My apologies for the previous PR.

[2022-09-09 18:29] akankshakumari393 commented on #36521
/assign

[2022-09-09 18:38] akankshakumari393 opened #36715 "Broken Link in Versions in CustomResourceDefinitions Page"
The link to CustomResourceDefinitions is broken. Rather it should point to  [CustomResourceDefinitions](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.25/#customresourcedefinition-v1-apiextensions-k8s-io)

[2022-09-09 18:38] akankshakumari393 commented on #36715
/assign

[2022-09-09 19:11] flickerfly opened #36717 "Improvement for k8s.io/docs/reference/kubernetes-api/workload-resources/horizontal-pod-autoscaler-v2/"
It would be handy if near the top somewhere the version of kubernetes this started being supported in was called out and on the V1 version if the version that it was deprecated on was called out. This would make it easier to research what my scenario is in supporting various kubernetes versions as I choose the apiVersion.

[2022-09-10 02:13] #36713 closed

[2022-09-10 03:04] shivaabhishek07 commented on #36711
I am interested in  making changes, Can anyone assign me.

[2022-09-10 03:52] Kid-Chang opened #36719 "[ko]Translate tasks/job/pod-failure-policy into Korean"
This is a Feature Request

What would you like to be added

Translate "tasks/job/pod-failure-policy" into Korean.

Why is this needed

Not translated into Korean yet.

Comments

https://kubernetes.io/docs/tasks/job/pod-failure-policy/

/language ko
/assign

[2022-09-10 04:10] Kid-Chang opened #36720 "[ko]Translate /tasks/administer-cluster/migrating-from-dockershim/troubleshooting-cni-plugin-related-errors into Korean"
This is a Feature Request

What would you like to be added

Translate "tasks/administer-cluster/migrating-from-dockershim/troubleshooting-cni-plugin-related-errors" into Korean.

Why is this needed

Not translated into Korean yet.

Comments

https://kubernetes.io/docs/tasks/administer-cluster/migrating-from-dockershim/troubleshooting-cni-plugin-related-errors/

/language ko
/assign

[2022-09-10 04:16] amolmote opened #36721 "Need to update the `code-contributor.yaml`"
Issue I have observed with `code-contributor.yaml`
Issue in the [code-contributor.yaml](https://github.com/kubernetes/website/blob/main/data/user-personas/contributors/code-contributor.yaml) is that the `lable: Learn about the Kubernetes Enhancement Proposal (KEP) process` it has broken url.
So we need to update it with the right url of KEP.

/language en
/assign

[2022-09-10 05:44] amolmote commented on #36689
/language en

[2022-09-10 07:30] anthonyvdotbe opened #36725 "Pod Topology Spread Constraints: diagrams not showing"
The page https://kubernetes.io/docs/concepts/scheduling-eviction/topology-spread-constraints/
shows an error image saying:

where it's supposed to show diagrams.

[2022-09-10 08:15] #36705 closed

[2022-09-10 10:36] #32859 closed

[2022-09-10 11:57] shivaabhishek07 commented on #36711
/assign

[2022-09-10 12:12] akankshakumari393 commented on #36696
[code]
Hey @hanweisen I did not get this part. Could you please rephrase it?

[2022-09-10 12:13] amolmote commented on #36711
@shivaabhishek07, I am already working on this issue.

[2022-09-10 12:16] amolmote commented on #36711
by the way, this issue is waiting for triage acceptance, If you need any help please join the slack channel i will help you their
for your contribution as well

[2022-09-10 12:30] amolmote commented on #36711
/unassign @shivaabhishek07

[2022-09-10 12:32] shivaabhishek07 commented on #36711
Ok

[2022-09-10 13:37] Rishit-dagli commented on #36654
/assign

[2022-09-10 14:57] samkass opened #36732 "Update Getting Started documentation for ARM"
**This is a Feature Request**

**What would you like to be added**

I decided to try to learn a bit of Kubernetes on my new M1 Mac. It all worked except for the `kubectl create deployment hello-node --image=registry.k8s.io/echoserver:1.4` command, as that image does not support ARM. A bit of Googling and a visit to StackOverflow fixed it for me, but it would be better if that information was in th

[2022-09-10 23:25] #36693 closed

[2022-09-11 03:39] amolmote commented on #36721
/triage accepted

[2022-09-11 03:40] amolmote commented on #36721
@sftim, please accept the triage, I want to open pr for this issue

[2022-09-11 04:32] hanweisen commented on #36696
Configuring nodes to authenticate to a private registry[https://kubernetes.io/docs/concepts/containers/images/#configuring-nodes-to-authenticate-to-a-private-registry](url) describes how we can configure node authentication via config.json. But there is no description of where to put the config.json to be read by the kubelet. This [document](https://stackoverflow.com/questions/60661249/kubernetes-

[2022-09-11 06:20] PratikDey commented on #31677
Can I work on `content/bn/docs/reference/_index.md` ?

[2022-09-11 08:57] having-dlrow commented on #35780
1. Why don’t we ask netlify ?
    1. It doesn’t seem to be container resource limit problem,  but you know, Temporarily **node performance could be decreased** or **netlify could limit branch deploy count**.
        1. I roughly supposed netlify container resource based on these metrics. And it seems to be enough !
            1. netlify container’s cpu.cfs_quota_us : 0.4 cpu
            2. netlif

[2022-09-11 11:04] tengqm commented on #35780
This is an interesting topic. We don't know yet what is causing the hugo build problem so we tried to turn on the `--debug` flag. The observation was that we always get stuck by a few files that are empty (place holders). We tried to fix those files and hoped that could have solved the problem, but it turned out the problem is not limited to those files.
Let's start the game again.

[2022-09-11 11:12] ydFu commented on #36568
/triage accepted

[2022-09-11 11:57] tonyhan18 opened #36745 "[ko]Translate /tasks/administer-cluster/migrating-from-dockershim/migrate-dockershim-dockerd into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate "/tasks/administer-cluster/migrating-from-dockershim/migrate-dockershim-dockerd" into Korean.

**Why is this needed**

Not translated into Korean yet.

**Comments**

https://kubernetes.io/docs/tasks/administer-cluster/migrating-from-dockershim/migrate-dockershim-dockerd/

/language ko
/assign

[2022-09-11 12:37] tonyhan18 opened #36746 "[ko] Translate the glossary term 'Application Architect' into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate "/docs/reference/glossary/application-architect" into Korean.

**Why is this needed**

Not translated into Korean yet.

**Comments**

EN entry: https://kubernetes.io/ko/docs/reference/glossary/?all=true#application-architect
KO entry: https://kubernetes.io/ko/docs/reference/glossary/?all=true#application-architect

/lang

[2022-09-11 14:48] #32922 closed

[2022-09-11 18:52] #32921 closed

[2022-09-11 20:49] mitul3737 commented on #31677
@PratikDey You have been appointed.

[2022-09-12 08:00] taniaduggal commented on #35600
Now, I am working on content/en/docs/reference/glossary/image.md

[2022-09-12 08:15] ydFu commented on #36549
/triage accepted

[2022-09-12 09:41] #36058 closed

[2022-09-12 10:59] nitishfy opened #36754 "Unable to build website locally using docker"
I've been trying to build K8s website locally using the image (gcr.io/k8s-staging-sig-docs/k8s-website-hugo) . Before running the website locally, it's required to build the website using docker . Hence I ran the command `docker build -t gcr.io/k8s-staging-sig-docs/k8s-website-hugo .` but received the following error.

![image](https://user-images.githubusercontent.com/86051118/189636946-37f883b0-

[2022-09-12 11:30] Kartik494 commented on #33223
/unassign

[2022-09-12 14:37] bconfiden2 opened #36756 "Reorganize horizontal space partitions for desktop / tablet view"
**This is a Feature Request**

**What would you like to be added**
Remove unnecessary margins on the each posting and make website visually better.

**Why is this needed**
If the screen size is small, unnecessary margin stands out on the page like below:
![d](https://user-images.githubusercontent.com/58922834/189681914-16e952f5-56f1-4b43-a1bd-650000bfde50.PNG)

When the depth of the left sidebar d

[2022-09-12 14:40] seokho-son commented on #36756
@bconfiden2
I think we need to check unnecessary margins and remove them if possible.
Thank you for sharing this issue.

[2022-09-12 14:40] seokho-son commented on #36756
/triage accepted

[2022-09-12 14:42] seokho-son commented on #36756
@bconfiden2
Do you have a plan to check unnecessary margins and update configurations ?
If you can initiate please feel free to assign this issue to yourself. (you don't have to fix all problems and we can cooperate)

[2022-09-12 14:44] seokho-son commented on #36756
![image](https://user-images.githubusercontent.com/5966944/189684170-0c47e1eb-1a23-424b-b81e-fbf18636d6c5.png)

[2022-09-12 14:48] seokho-son commented on #36756
In case of Korean,

![image](https://user-images.githubusercontent.com/5966944/189685001-d47226a3-8c66-41cc-9f61-cf665623ac20.png)

[2022-09-12 14:50] seokho-son commented on #36756
In case of Chinese,

![image](https://user-images.githubusercontent.com/5966944/189685464-5da6855b-1a1c-44fe-8665-d9d8e025d3d8.png)

[2022-09-12 14:54] rolfedh opened #36758 "Adopt new localization string for releases page"
**What would you like to be added**
This issue is a follow-up task from https://github.com/kubernetes/website/issues/36568.

https://kubernetes.io/zh-cn/releases/ displays some English text:

![image](https://user-images.githubusercontent.com/350907/189685313-78c1411b-6657-4c31-a622-24d1f5c21a7d.png)

To replace this text with localized strings, you can update `data/i18n/zh-cn/zh-cn.toml` with [th

[2022-09-12 14:58] seokho-son commented on #33473
/milestone dev-1.24-ko.3

[2022-09-12 14:59] rolfedh opened #36759 "Adopt new localization string for releases page"
**What would you like to be added**
This issue is a follow-up task from https://github.com/kubernetes/website/issues/36568.

https://kubernetes.io/ko/releases/ displays some English text:

![image](https://user-images.githubusercontent.com/350907/189687140-68ebe861-3788-4716-a971-03515b6305b3.png)

To replace this text with localized strings, you can update `data/i18n/ko/ko.toml` with [these recen

[2022-09-12 15:01] rolfedh opened #36760 "Adopt new localization string for releases page"
**What would you like to be added**
This issue is a follow-up task from https://github.com/kubernetes/website/issues/36568.

https://kubernetes.io/hi/releases/ displays some English text:

![image](https://user-images.githubusercontent.com/350907/189687989-3bca94cf-3692-496a-bcf3-338289c100b2.png)

To replace this text with localized strings, you can update `data/i18n/hi/hi.toml` with [these recen

[2022-09-12 15:03] rolfedh opened #36761 "Adopt new localization string for releases page"
**What would you like to be added**
This issue is a follow-up task from https://github.com/kubernetes/website/issues/36568.

https://kubernetes.io/pl/releases/ displays some English text:

![image](https://user-images.githubusercontent.com/350907/189688490-9ff8b48b-f401-4dc6-9898-9868a8ea2797.png)

To replace this text with localized strings, you can update `data/i18n/pl/pl.toml` with [these recen

[2022-09-12 15:04] rolfedh commented on #36761
/language pl

[2022-09-12 15:05] rolfedh commented on #36760
/language hi

[2022-09-12 15:05] rolfedh commented on #36759
/language ko

[2022-09-12 15:06] rolfedh commented on #36758
/language zh-cn

[2022-09-12 15:07] rolfedh commented on #36758
/sig-docs

[2022-09-12 15:09] rolfedh commented on #36758
/language zh

[2022-09-12 15:16] seokho-son commented on #36759
/triage accepted

Thanks !

[2022-09-13 02:27] jihoon-seo commented on #36686
@Seo-yul 지속적인 관심과 기여 감사합니다!
/triage accepted

[2022-09-13 02:28] jihoon-seo commented on #36745
@tonyhan18 안녕하세요 이슈 올려 주셔서 감사합니다!
그런데 이미 동일 페이지 작업에 대한 이슈가 올라와 있습니다. ㅠㅠ
확인 부탁드려요~~
/triage duplicate

[2022-09-13 02:35] jihoon-seo commented on #36746
@tonyhan18 감사합니다!
/triage accepted

[2022-09-13 02:45] jihoon-seo commented on #36720
@Kid-Chang 감사합니다!
/triage accepted

[2022-09-13 02:46] jihoon-seo commented on #36719
@Kid-Chang 감사합니다!
/triage accepted

[2022-09-13 02:47] jihoon-seo commented on #36688
@bconfiden2 감사합니다!
/triage accepted

[2022-09-13 02:48] jihoon-seo commented on #36687
@kyungjin99 감사합니다!
/triage accepted

[2022-09-13 02:49] jihoon-seo commented on #36684
@Seo-yul 너무 좋습니다.. ㅎㅎ 감사합니다!
/triage accepted

[2022-09-13 05:36] NitishKumar06 commented on #36760
/assign

[2022-09-13 05:37] NitishKumar06 commented on #36760
@rolfedh Do we need to add the same lines in English as mentioned [here](https://github.com/kubernetes/website/commit/b6299f907b19eaacb71391d264af5c229cb082aa) to `data/i18n/hi/hi.toml`

[2022-09-13 05:37] Babapool commented on #36760
/triage accepted

[2022-09-13 05:53] seokho-son commented on #35802
/milestone dev-1.24-ko.3

[2022-09-13 05:54] seokho-son commented on #33473
/milestone dev-1.23-ko.3

[2022-09-13 05:57] mk46 commented on #36754
/kind support
I think you have to pass `HUGO_VERSION` as build arg.
May be `docker build -t gcr.io/k8s-staging-sig-docs/k8s-website-hugo  --build-arg HUGO_VERSION=0.101.0 .`  will run without any error

[2022-09-13 05:59] mk46 commented on #36754
/remove-kind bug

[2022-09-13 08:19] marcushyungseoklee opened #36770 "Translate /reference/node/kubelet-checkpoint-api in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate /reference/node/kubelet-checkpoint-api in Korean

**Why is this needed**

Not yet translated in Korean

**Comments**

https://kubernetes.io/docs/reference/node/kubelet-checkpoint-api/

[2022-09-13 08:20] marcushyungseoklee commented on #36770
신규 브랜치 dev-1.25-ko.1에서 진행 예정

[2022-09-13 08:31] mtardy commented on #36654
/triage accepted
/kind cleanup
/good-first-issue

[2022-09-13 08:50] mtardy commented on #36654
/priority backlog

[2022-09-13 08:58] mtardy commented on #36725
I think this is related to [Mermaid diagrams are broken (replicable with Firefox) #31960](https://github.com/kubernetes/website/issues/31960). I suppose you were using Firefox?
You can continue the discussion on the other issue, I'll mark it as a duplicate for now and close if you are okay.

/triage duplicate

[2022-09-13 09:03] anthonyvdotbe commented on #36725
Thanks for pointing out the duplication, I was using Firefox indeed.

[2022-09-13 09:03] #36725 closed

[2022-09-13 09:48] mtardy commented on #36721
Seems reasonable since the link is broken. I failed to find, do you have any examples of where this data is used? Where did you find out that this link was broken?

/triage accepted
/broken-link
/kind bug

[2022-09-13 09:53] amolmote commented on #36721
Here is it solution I have already opened pr in community repo
https://github.com/kubernetes/community/pull/6870
Can I open the pr for this as well

[2022-09-13 09:56] mtardy commented on #36721
I think you already did here https://github.com/kubernetes/website/pull/36735 no?

But, for understanding how this data is used, do you have any examples or you just searched for the broken URL in the repo?

[2022-09-13 10:03] tengqm commented on #36758
/triage accepted
/assign

[2022-09-13 10:07] amolmote commented on #36721
Actually I am reading the open pr process that time i got this issue and when I have come around this yml by reading the KEP process I thought that this also be a broken link

[2022-09-13 10:17] mtardy opened #36773 "Broken link in glossary entry code-contributor"
**This is a Bug Report**

**Problem:**

The full link of this glossary entry is broken: https://github.com/kubernetes/website/blob/main/content/en/docs/reference/glossary/code-contributor.md, the link https://kubernetes.io/docs/community/devel/ leads to nowhere.

It's an issue when you click on "Code Contributor" in another entry and it redirects to that broken link, like here https://kubernetes.i

[2022-09-13 12:22] ctzou commented on #31186
/assign First time contributing, reviews and help very welcome!

[2022-09-13 12:50] rolfedh commented on #36760
Yes. At a minimum, add the items from `data/i18n/en/en.toml` that are mentioned above. You can also localize other items in `data/i18n/en/en.toml` that are missing from `data/i18n/hi/hi.toml`. I suggest using a command line `diff` tool, or a GUI tool like Meld, to compare and reconcile the two files.

[2022-09-13 13:38] sachinparihar commented on #36533
/assign

[2022-09-13 13:56] jinnypark9393 commented on #36759
/assign

[2022-09-13 14:21] a-mccarthy commented on #35093
Thank you @bconfiden2 for bringing this up in the localization meeting yesterday! After chatting about it in the meeting, we determined, based on the research done by @bconfiden2, there aren't any sections where overlapping page weights are causing a different ordered side navigation in localized content that will disrupt users from understanding content. Meaning, there aren't any sections in the

[2022-09-13 14:34] a-mccarthy commented on #35780
@having-dlrow and @seokho-son thanks for bringing this issue up in the localization meeting yesterday.

If you feel this is impactful enough, can you add a message to the [#sig-docs-localizations](https://kubernetes.slack.com/archives/C0191RDKHU1)with a summary of the issue and any steps to resolve the issue. I'd like to make sure all localization leads are aware of the issue and what to do if the

[2022-09-13 14:48] a-mccarthy commented on #35599
@rolfedh and @AmanSarraf following up on our conversation in the localization meeting yesterday, I think it might be valuable to expand the note in the the [Language specific style guide and glossary](https://kubernetes.io/docs/contribute/localization/#language-specific-style-guide-and-glossary) section of the localization guide with more context about formalizing language specific localization be

[2022-09-13 15:25] EricoCartmanez opened #36784 "Improvement for k8s.io/docs/tasks/administer-cluster/configure-upgrade-etcd/"
The restoration command should be clear containing the new -to-be-created directory and the path containing the backup file.

Like:
`ETCDCTL_API=3 etcdctl  --data-dir /opt/dir-to-be-created/etcd-from-backup snapshot restore /path/containing/backup/snapshot.db`

[2022-09-13 16:13] rolfedh commented on #35599
@a-mccarthy That's an excellent idea. I'll post an enhancement issue for this and create a PR with a straw model for us to work with.

[2022-09-13 16:15] rolfedh opened #36786 "Expand the "Language specific style guide and glossary" section"
@rolfedh and @AmanSarraf following up on our conversation in the localization meeting yesterday, I think it might be valuable to expand the note in the the [Language specific style guide and glossary](https://kubernetes.io/docs/contribute/localization/#language-specific-style-guide-and-glossary) section of the localization guide with more context about formalizing language specific localization be

[2022-09-13 16:16] rolfedh commented on #36786
/label localization

[2022-09-13 16:17] rolfedh commented on #36786
/area localization

[2022-09-13 16:18] rolfedh commented on #36786
/assign

[2022-09-13 16:31] mercarey commented on #36664
Your proposed "benefits of containers" is segued to at the end of the the "Container Deployment Era" subsection, i.e., _Containers have become popular because they provide extra benefits, such as:..._ ," so you may be onto something in your thematic chunking of the deployment evolution and (thereby) benefits of containerization.

Possible (spaghetti on wall) draft titles
- Containers: Where did th

[2022-09-13 17:08] #36666 closed

[2022-09-13 17:10] sftim commented on #36715
The link should actually be to https://kubernetes.io/docs/reference/kubernetes-api/extend-resources/custom-resource-definition-v1/

(at least, that's where I recommend linking to)

/kind bug
/language en

[2022-09-13 17:10] sftim commented on #36756
The “margin” here is a style choice to make the text paragraphs easier to read. When paragraphs are very long, it is difficult to read them at speed. Research on this is [inconclusive](https://designregression.com/article/line-length-revisited-following-the-research); however, the current design is as intended and is not a bug.

[2022-09-13 17:15] #35821 closed

[2022-09-13 17:33] reylejano commented on #36711
[blog-post.md](https://github.com/kubernetes/website/blob/main/archetypes/blog-post.md) is an archetype not an actual page.
It is like an example and does not have actual content
/close

[2022-09-13 17:33] #36711 closed

[2022-09-13 17:59] MikeSpreitzer opened #36787 "PR 25764 is incomplete"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#patch does not warn the reader that strategic merge patch does not work on custom resources.

**Proposed Solution:**
Add a warning.

**Page to Update:**
https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands

kubernetes/kubernetes#25764
See https://github.com/kubernetes/k

[2022-09-13 18:12] a-mccarthy commented on #36786
thanks @rolfedh!

[2022-09-13 20:59] WESTZERO115 opened #36789 "[ko] Translate docs/tasks/configure-pod-container/user-namespaces into Korean"
**This is a Feature Request**

**What would you like to be added**
Translate docs/tasks/configure-pod-container/user-namespaces into Korean

**Why is this needed**
Not Translated into Korean

**Comments**
link : https://kubernetes.io/docs/tasks/configure-pod-container/user-namespaces/

/language ko
/assign

[2022-09-13 22:07] kenhtanaka commented on #32828
As @sftim commented on Apr 13, does this change when merged? I'm not familiar with your workflow on when https://kubernetes.io/docs/concepts/overview/ will change.

[2022-09-13 23:56] #36745 closed

[2022-09-14 01:17] jihoon-seo commented on #36789
@WESTZERO115 감사합니다!
/triage accepted

[2022-09-14 03:26] benz2012 commented on #34885
If by OpenAPI definition you mean the swagger.json files found for each release inside of `kubernetes-sigs/reference-docs/master/gen-apidocs/config/`, then yes, the issue exists there it seems.

From a snippet of the PolicyRule sub-definition referenced by Rule, you can see the only property marked required is `"verbs"`.

[code]

[2022-09-14 04:35] bconfiden2 commented on #35093
Thank you for your opinion @a-mccarthy !!  😃 😃

I also agree that each localization teams would be nice to aware of this even if it doesn't need to be modified now!
For [Page Order](https://kubernetes.io/docs/contribute/style/content-organization/#page-lists) docs, it seems great idea, and I'll open an issue for that!

[2022-09-14 04:48] #34152 closed

[2022-09-14 04:53] bconfiden2 commented on #36756
Oh I understood, thanks @sftim !!

[2022-09-14 04:57] jinnypark9393 opened #36798 "Graphs of Site Analytics seems wrong when I sorted them by a specific language"
**This is a Bug Report**

**Problem:**
Everything seemed fine when I accessed google site analytics and printed 1-year report of all languages.
<img width="1421" alt="k8s_analytics_all" src="https://user-images.githubusercontent.com/54494811/190061990-3d7fe842-c250-4ea5-b973-5ccf102626f5.png">

However, graphs seemed wrong when I sorted them by a specific language, For example, **Korean** page vie

[2022-09-14 06:06] seokho-son commented on #36756
Hi @sftim
Thank you for sharing design intention for the margin :)

I think more major issue here is about Items in the sidebar tree.
The items (in 3rd level) are very hard to recognize in some situations according to device resolutions, browser page size, browser font size, ...

[2022-09-14 06:07] seokho-son commented on #36756
Can we increase the width for sidebar tree ?

[2022-09-14 06:11] ydFu commented on #36549
/triage accepted
/language zh

[2022-09-14 06:13] ydFu commented on #36549
This issue is solved(https://github.com/kubernetes/website/pull/36545)
LGMT

/close

[2022-09-14 06:13] #36549 closed

[2022-09-14 06:43] Michelle951 commented on #36549
This file hasn't been localized. That pr (https://github.com/kubernetes/website/pull/36545) just synced another file and mentioned to localize this file.

[2022-09-14 06:56] Shubham82 commented on #36773
Hi @mtardy
I checked this if we remove the `/docs/community/devel/`  which mention under `full_link:` from [code-contributor.md](https://github.com/kubernetes/website/blob/main/content/en/docs/reference/glossary/code-contributor.md) then then `Code Contributor` under `Developer (disambiguation)` will redirects to `kubernetes.io/docs/reference/glossary/?all=true#term-code-contributor`, just like fo

[2022-09-14 06:56] Shubham82 commented on #36773
/triage accepted

[2022-09-14 07:35] Kid-Chang opened #36799 "[ko]Translate /tasks/administer-cluster/migrating-from-dockershiminto Korean"
This is a Feature Request

What would you like to be added

Translate "tasks/administer-cluster/migrating-from-dockershim" into Korean.

Why is this needed

Not translated into Korean yet.

Comments

https://kubernetes.io/docs/tasks/administer-cluster/migrating-from-dockershim

/language ko
/assign

세부카테고리 페이지도 번역이 필요한것으로 보이는데, 따로 issue올라온 부분이 없어서 남깁니다!

[2022-09-14 07:55] mtardy commented on #36773
Thanks for the digging!

/good-first-issue

[2022-09-14 08:00] jinnypark9393 opened #36800 "[ko]Change the way removing `reviewer` section when localizing docs in Korean"
**This is a Feature Request**

**What would you like to be added**

- As discussed in previous SIG-Docs Korean L10n Team Meeting, I would like to change `### 리뷰어 삭제` part from leaving blank space to commenting the whole block in `content/ko/contribute/localizattion_ko.md`.

**Why is this needed**
- Reference: https://github.com/kubernetes/website/pull/35423#issuecomment-1196555307

**Comments**

/

[2022-09-14 08:01] jinnypark9393 commented on #36800
/assign

[2022-09-14 08:16] jihoon-seo commented on #36800
@jinnypark9393 감사합니다!
/triage accepted

[2022-09-14 08:19] jihoon-seo commented on #36799
@Kid-Chang 감사합니다!
/triage accepted

제안하신 "Migrating from dockershim" 페이지의 하위 페이지들을 현지화하는 이슈가 2개 올라와 있네요 ㅎㅎ
- #36686
- #36720

[2022-09-14 08:20] jihoon-seo commented on #36770
@marcushyungseoklee 감사합니다!
/triage accepted

[2022-09-14 08:56] #34837 closed

[2022-09-14 08:58] mengjiao-liu commented on #36036
ref https://github.com/kubernetes/website/pull/36037#issuecomment-1229448575
Any update?

[2022-09-14 09:05] mengjiao-liu commented on #36382
The English page also has this problem, we can update the English part first
https://kubernetes.io/docs/reference/glossary/?all=true#term-containerd

I feel that this punctuation problem does not affect reading, maybe this can be updated next time this page is updated by the way.

/language en

[2022-09-14 09:08] mengjiao-liu commented on #36409
Are you still working on it?

[2022-09-14 09:15] mengjiao-liu commented on #36485
Looks like PR https://github.com/kubernetes/website/pull/36602 has resolved this issue.

[2022-09-14 09:15] mengjiao-liu commented on #36485
/close

[2022-09-14 09:15] #36485 closed

[2022-09-14 09:32] seokho-son commented on #35802
Complete !! Thanks to all contributors.

/close

[2022-09-14 09:32] #35802 closed

[2022-09-14 09:38] sftim commented on #36756
/area web-development

[2022-09-14 09:39] sftim commented on #36756
Could we retitle this to, eg, “Reorganize horizontal space partitions for desktop / tablet view” ?

[2022-09-14 09:46] OtherHorizon commented on #35938
Hi is anyone working on this issue?If not,i would like to work on it please.Thanks.

[2022-09-14 09:53] nicholasyin opened #36807 "Improvement for k8s.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/"
The example within this document directly references a storage class named 'manual', which was not created explicitly using a yaml file. So I'm confused is it allowed to do it like this, or I have to manually create this 'manual' storage class first?

[2022-09-14 10:15] bconfiden2 commented on #36756
Should I reduce the size of the existing space paritions a little and increase the width of the sidebar by that much?

[2022-09-14 11:09] #36759 closed

[2022-09-14 11:14] thernstig commented on #36494
@sftim In our enviroment this is what we found:

`emptyDir.medium: Ephemeral`
We found what you wrote, and what is explained there. I.e. a container that keeps writing files to the `emptyDir` can go over it's own resource limit without stopping being able to write data. It is only when all aggregated container's limit is reached it stops. Is that also what you meant?

`emptyDir.medium: Memory`
We

[2022-09-14 11:21] thernstig commented on #36494
https://github.com/kubernetes/website/issues/36453 is somewhat related here.

[2022-09-14 11:36] sftim commented on #36494
@thernstig would you be willing to edit the description (the big text box, not the one-line title) of this issue, in order to summarize the situation as you see it today?

[2022-09-14 11:37] sftim commented on #36494
/remove-kind feature

[2022-09-14 11:37] kevincox opened #36808 "CVE Feed: JSON feed should pass jsonfeed spec validator"
**This is a Bug Report**

The CVE Feed (https://kubernetes.io/docs/reference/issues-security/official-cve-feed/index.json) is not valid JSON Feed (https://validator.jsonfeed.org/?url=https%3A%2F%2Fkubernetes.io%2Fdocs%2Freference%2Fissues-security%2Fofficial-cve-feed%2Findex.json)

**Problem:**

There are two problems listed:

1. One entry has an `id` of null. (IPv4 only clusters susceptible to Mi

[2022-09-14 11:45] sftim commented on #36808
/sig security
/triage accepted

Part of the fix here will be about making sure that the upstream data are correct.

[2022-09-14 11:46] sftim commented on #36808
@kevincox I have lightly edited the issue description to highlight which fields are wrong.

/priority important-longterm

[2022-09-14 11:57] rolfedh commented on #35938
Hi @OtherHorizon, welcome to the project. Are you on the [#kubernetes-docs-hi](https://kubernetes.slack.com/archives/CJ14B9BDJ) channel yet?

[2022-09-14 11:58] rolfedh commented on #35938
Hi @bishal7679, if you have a PR for this issue, would you add a comment to the PR stating "Fixes https://github.com/kubernetes/website/issues/35938" This way, the PR shows up here in the issue as well.

[2022-09-14 12:08] amolmote commented on #36786
that great @rolfedh

[2022-09-14 14:01] amolmote commented on #36773
/assign

[2022-09-14 14:10] amolmote commented on #36773
@mtardy, I will wait for your response, then only I will open PR.

[2022-09-14 16:05] #36622 closed

[2022-09-14 16:51] #35786 closed

[2022-09-14 16:56] sftim commented on #36798
/triage accepted
/priority backlog

[2022-09-14 17:22] OtherHorizon commented on #35938
No,This is my first trying to contribute to this project.

[2022-09-14 17:49] SergeyKanzhelev commented on #36706
/kind documentation

[2022-09-14 17:49] SergeyKanzhelev commented on #36706
/remove-kind bug

[2022-09-14 18:05] seokho-son commented on #36418
/assign @tonyhan18

considering #36743

[2022-09-14 18:07] seokho-son commented on #33473
I think we give enough efforts to update outdated files for 1.23.
So, let me close this issue.

Thanks to @jihoon-seo for huge contributions on this issue.
/close

[2022-09-14 18:07] #33473 closed

[2022-09-14 18:08] seokho-son commented on #32808
/close

Since dev-1.23-ko.3 into release-1.23. is complete

[2022-09-14 18:08] #32808 closed

[2022-09-14 18:13] brianpursley opened #36813 "Some yaml examples have an extra blank line between every line"
### Problem:
Some yaml examples have an extra blank line between every line

---

### URL:

https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/#configure-all-key-value-pairs-in-a-configmap-as-container-environment-variables

---
### Example:

https://raw.githubusercontent.com/kubernetes/website/main/content/en/examples/configmap/configmap-multikeys.yaml
[code]

Notice

[2022-09-14 18:36] rolfedh commented on #35938
You're welcome to join us on the [#kubernetes-docs-hi](https://kubernetes.slack.com/archives/CJ14B9BDJ) channel in Slack.
I've invited @taniaduggal to reach out to you and help you find an onboarding friend.

[2022-09-14 19:22] OtherHorizon commented on #35938
Thanks a lot.

[2022-09-14 20:28] prsndp commented on #36654
Hi @mtardy , could i take issue ? I would like to contribute to it.

[2022-09-14 20:30] mtardy commented on #36654
Yes, feel free!

/assign prsndp

[2022-09-14 21:21] sftim commented on #22021
We ought to sort this.
/priority important-longterm
/remove-priority backlog

[2022-09-14 21:22] sftim commented on #36813
/area web-development

/kind bug
/priority backlog
/triage accepted

I thought this was a duplicate issue (I've seen this reported before), but I couldn't find an earlier issue on this exact topic.

[2022-09-14 21:29] aravindhp commented on #31428
@marosset I have reviewed [configure-runasusername](https://kubernetes.io/docs/tasks/configure-pod-container/configure-runasusername/). I don't see anything missing. I don't see a reason to link to projected volumes and  Windows RunAsUsername [securitycontext-interactions](https://kubernetes.io/docs/concepts/storage/projected-volumes/#windows). Folks who are using projected volumes would read that

[2022-09-14 22:29] sftim commented on #26618
Given the lack of response to https://github.com/kubernetes/website/issues/26618#issuecomment-807866891, I'm happy to close this.

/close

@rich-pixley you are welcome to open a new issue. If you do, please aim to write it as an actionable task. The guide at https://developers.google.com/blockly/guides/contribute/get-started/write_a_good_issue is a useful guide, even though it's for a different pr

[2022-09-14 22:29] #26618 closed

[2022-09-14 22:41] #34463 closed

[2022-09-14 22:43] sftim commented on #34183
I'm not sure if there's anything to fix here. @barley-benincasa could you clarify that?

[2022-09-14 23:05] sftim commented on #32855
/reopen
/lifecycle frozen
/priority backlog

[2022-09-14 23:06] sftim commented on #32855
/kind bug
/help

[2022-09-15 00:43] jinnypark9393 commented on #36800
This issue is resolved by https://github.com/kubernetes/website/pull/36802

[2022-09-15 00:43] #36800 closed

[2022-09-15 01:05] jihoon-seo commented on #31228
Resolved by
- #35781
- #36804
- #36810

/close

[2022-09-15 01:05] #31228 closed

[2022-09-15 01:07] jihoon-seo commented on #35090
/unassign @jinnypark9393

[2022-09-15 01:07] jihoon-seo commented on #35191
Resolved by
- #35817
- #36804
- #36810

/close

[2022-09-15 01:07] #35191 closed

[2022-09-15 01:08] jihoon-seo commented on #35200
Resolved by
- #36147
- #36804
- #36810

/close

[2022-09-15 01:08] #35200 closed

[2022-09-15 01:09] jihoon-seo commented on #35239
Resolved by
- #35441
- #36804
- #36810

/close

[2022-09-15 01:09] #35239 closed

[2022-09-15 01:10] jihoon-seo commented on #35437
Resolved by
- #36614
- #36804
- #36810

/close
/unassign @nine01223

[2022-09-15 01:10] #35437 closed

[2022-09-15 01:11] jihoon-seo commented on #35623
Resolved by
- #36381
- #36804
- #36810

/close

[2022-09-15 01:11] #35623 closed

[2022-09-15 01:11] jihoon-seo commented on #35668
Resolved by
- #35822
- #36804
- #36810

/close

[2022-09-15 01:11] #35668 closed

[2022-09-15 01:12] jihoon-seo commented on #35805
Resolved by
- #35894
- #36804
- #36810

/close

[2022-09-15 01:12] jihoon-seo commented on #35919
Resolved by
- #36726
- #36804
- #36810

/close

[2022-09-15 01:12] #35919 closed

[2022-09-15 01:13] hayitsdavid commented on #36813
Hey @brianpursley I can work on this issue.

[2022-09-15 01:14] jihoon-seo commented on #36446
Resolved by
- #36491
- #36804
- #36810

/close

[2022-09-15 01:14] #36446 closed

[2022-09-15 01:15] jihoon-seo commented on #36503
Resolved by
- #36505
- #36804
- #36810

/close

[2022-09-15 01:15] #36503 closed

[2022-09-15 01:15] jihoon-seo commented on #36508
Resolved by
- #36509
- #36804
- #36810

/close

[2022-09-15 01:15] #36508 closed

[2022-09-15 02:03] jihoon-seo commented on #36813
Relevant issues:
- #36361
  - https://kubernetes.io/docs/tasks/debug/debug-cluster/monitor-node-health/#using-kubectl
- #36003
  - https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/#define-a-container-environment-variable-with-data-from-a-single-configmap
- ...

[2022-09-15 02:47] Kid-Chang opened #36818 "Korean Localization for dev-1.25-ko.1 branch"
## In English
This is a Feature Request

Korean Localization for `dev-1.25-ko.1` branch.

**What would you like to be added**

Any localization contributions for Korean.

**Comments**

- This issue is to notify the schedule of Korean localization to contributors.
- `dev-1.25-ko.1` is the current work branch for Korean localization.

**Important dates**

- A Korean localization work branch is merge

[2022-09-15 03:48] akankshakumari393 commented on #36715
cool, I will update the PR with [https://kubernetes.io/docs/reference/kubernetes-api/extend-resources/custom-resource-definition-v1/](https://kubernetes.io/docs/reference/kubernetes-api/extend-resources/custom-resource-definition-v1/)

[2022-09-15 04:08] akankshakumari393 opened #36819 "Broken Link on /tasks/configure-pod-container/configure-persistent-volume-storage/ page"
the link to Storage Class on this [page](https://kubernetes.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/) is broken rather it should point to  [https://kubernetes.io/docs/concepts/storage/storage-classes/](https://kubernetes.io/docs/concepts/storage/storage-classes/)

[2022-09-15 04:08] akankshakumari393 commented on #36819
/assign

[2022-09-15 04:14] seokho-son commented on #36818
Thanks @Kid-Chang :)

/triage accepted

[2022-09-15 04:14] seokho-son commented on #36818
/milestone dev-1.25-ko.1

[2022-09-15 04:20] akankshakumari393 commented on #36819
/kind bug
/language en

[2022-09-15 04:24] s-kawamura-w664 opened #36821 "[ja] content/ja/docs/concepts/containers/runtime-class.md is outdated."
**This is a Feature Request**

**What would you like to be added**
We need to update content/ja/docs/concepts/containers/runtime-class.md according to the English text, because it is outdated.

**Why is this needed**
content/ja/docs/concepts/containers/runtime-class.md is outdated.

**Comments**
/language ja
/assign

[2022-09-15 05:11] harridu commented on #36266
On a fresh Kubernetes install it is pretty likely that this section is not read.

[2022-09-15 05:32] Pro-Coder04 commented on #34935
I would like to solve this issue
Could you tell me a bit more in detail as to what is to be done?

[2022-09-15 05:48] amolmote commented on #36819
good catch @akankshakumari393

[2022-09-15 05:58] mk46 commented on #36787
/triage accepted
/language en
/assign
Seems like need to fix it first on upstream.

[2022-09-15 06:12] amolmote commented on #35642
duplicate triage this issue will fix it #36773

[2022-09-15 06:53] akankshakumari393 opened #36823 "Broken Link on Kubernetes API Concepts"
The link to `configuration object` is broken on this page [https://kubernetes.io/docs/reference/using-api/api-concepts/](https://kubernetes.io/docs/reference/using-api/api-concepts/)

[2022-09-15 07:02] amolmote opened #36824 "Need to Refractor the Blog posts"
Observed some grammar  and punctuation's mistakes In  [this page](https://kubernetes.io/blog/2022/02/07/sig-multicluster-spotlight-2022/)
*some mistakes are:*

- `There's a few implementations of the MCS API out there and more are being developed.` *need to change like this*

`There are a few implementations of the MCS API out there, and more are being developed.`

- `where you're hoping to be in

[2022-09-15 08:02] mtardy commented on #36773
You can create a PR with what you think is more sensible. I was thinking personally, like Shubham, that just removing the link was enough!

Thanks for spotting the duplicate, since the other issue was created way before, I will mark this one as duplicate and point to it in the other one.

/triage duplicate

[2022-09-15 08:02] #36773 closed

[2022-09-15 08:05] mtardy commented on #35642
Hey, thanks for amolmote to notice, I created an issue that was a duplicate of this one, there is some more information available there [Broken link in glossary entry code-contributor #36773](https://github.com/kubernetes/website/issues/36773). I'll mark this one as a good first issue as well and put the previously assigned person.

/triage accepted
/good-first-issue
/assign amolmote

[2022-09-15 08:07] mtardy commented on #35642
Oh, I just noticed that @kadtendulkar already assign themselves on this issue. Since it's been a bit more than two months, please tell amolmote if you are still working on this one or if it's okay that they take over.

[2022-09-15 08:16] mtardy commented on #36819
I saw you opened a similar issue here https://github.com/kubernetes/website/issues/36823, I don't know if there was an outage to the generated reference doc but the link is up now. Please reach out if the links are still down on your side.

/triage awaiting-more-evidence

[2022-09-15 08:17] mtardy commented on #36819
Oops
/triage not-reproducible

[2022-09-15 08:19] mtardy commented on #36823
Same comment as here https://github.com/kubernetes/website/issues/36819#issuecomment-1247747442.

/triage not-reproducible

[2022-09-15 08:27] mtardy commented on #36732
I agree, it would be nice that the "getting started" guide is working on both platforms or at least propose an alternative image for ARM.

Feel free to link this issue from the PR you made and thanks for taking the time!

/triage accepted
/priority backlog
/language en

[2022-09-15 08:58] #36439 closed

[2022-09-15 09:06] sergeyshevch opened #36825 "Incorrect feature state in Topology Aware Hints concept"
**This is a Bug Report**

**Problem:**
I'm unsure about the right place to stay to comment about documentation inconvenience about this feature.
The current documentation page for 1.25/1.24 [link](https://kubernetes.io/docs/concepts/services-networking/topology-aware-hints/) said that the feature gate is NOT enabled by default, but feature gate documentation [link](https://kubernetes.io/docs/refer

[2022-09-15 10:23] Makhmud89 opened #36826 "Interactive Tutorial - Creating a Cluster"

[2022-09-15 10:26] sftim commented on #36826
/triage needs-information

@Makhmud89, please also provide:
- the URL of the web page where you saw the issue
- a description of what isn't right about that web page

[2022-09-15 10:28] sftim commented on #36825
This is a bug in https://kubernetes.io/docs/concepts/services-networking/topology-aware-hints/

Thanks for reporting it. Pull requests are welcome (please fix the issue in _main_ first, and then we could backport that fix to _release-1.24_).

/retitle Incorrect feature state in Topology Aware Hints concept
/language en
/help
/triage accepted
/priority backlog

[2022-09-15 10:28] sftim commented on #36824
/area blog

/priority awaiting-more-evidence

With blog articles, we use the author's punctuation and grammar unless those are obviously wrong.

[2022-09-15 10:29] sftim commented on #36824
/language en

[2022-09-15 10:29] sergeyshevch commented on #36825
@sftim Thanks for triaging. I will try to fix it today

[2022-09-15 10:30] sftim commented on #36824
Concern about grammar and punctuation in Spotlight on SIG Multicluster article.

Also: https://kubernetes.io/blog/2022/02/07/sig-multicluster-spotlight-2022/ is a copy of https://www.k8s.dev/blog/2022/02/04/sig-multicluster-spotlight-2022/

If we made changes, we'd need to update https://www.k8s.dev/blog/2022/02/04/sig-multicluster-spotlight-2022/ at the same time.

[2022-09-15 10:30] #36826 closed

[2022-09-15 10:41] #36515 closed

[2022-09-15 10:42] 9948180189 opened #36827 "Unspecified issue with “Installing kubeadm” page"

[2022-09-15 10:52] NitishKumar06 commented on #36827
Please elaborate the issue.

[2022-09-15 10:53] NitishKumar06 commented on #36823
The link is working fine for me.

[2022-09-15 10:53] sftim commented on #36361
/triage accepted

A special case of https://github.com/kubernetes/website/issues/36813

[2022-09-15 10:53] sftim commented on #36003
/triage accepted

A special case of https://github.com/kubernetes/website/issues/36813

[2022-09-15 11:02] sftim opened #36830 "Annotation `service.kubernetes.io/topology-aware-hints` not registered"
**This is a Bug Report**

**Problem:**
[Well-Known Labels, Annotations and Taints](https://kubernetes.io/docs/reference/labels-annotations-taints/) doesn't list the annotation
 `service.kubernetes.io/topology-aware-hints`.

**Proposed Solution:**

Add `service.kubernetes.io/topology-aware-hints` to the Well-Known Labels, Annotations and Taints reference.

**Page to Update:**
https://kubernetes.io/

[2022-09-15 11:39] sergeyshevch commented on #36825
/assign @sergeyshevch

[2022-09-15 11:59] sergeyshevch commented on #36823
@mtardy It has also broken for me. It points to an incorrect anchor. So I was navigated to the top of the page

[2022-09-15 12:03] sftim commented on #36827
https://k8s.io/docs/setup/independent/install-kubeadm/ is a redirect to https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/

/retitle Unspecified issue with “Installing kubeadm” page

/triage needs-information

[2022-09-15 12:05] sftim commented on #36830
We should fix this before https://github.com/kubernetes/enhancements/issues/2433 graduates to stable.

[2022-09-15 12:18] NitishKumar06 commented on #36827
/assign

[2022-09-15 13:01] mtardy commented on #36823
Oh, I'm sorry, I went too fast on that one, you were meaning that the anchor was incorrect and not that the link was pointing to nothing, like a 404!

So I guess we should update the link and point to:
- https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.25/#validatingwebhook-v1-admissionregistration-k8s-io
- or https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.25/#mut

[2022-09-15 13:08] mtardy commented on #36819
I'm sorry I did not understand that the issue was that the anchor was not working! I guess you could fix the link to point to the new reference URL https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.25/#storageclass-v1-storage-k8s-io!

/remove-triage not-reproducible
/triage accepted

[2022-09-15 13:25] Shivansh-yadav13 commented on #36830
@sftim can I contribute?

[2022-09-15 13:39] Shivansh-yadav13 commented on #36830
/assign

[2022-09-15 14:03] akankshakumari393 commented on #36823
/assign

[2022-09-15 14:10] reylejano commented on #34935
At the moment, the current page on kubeconfig is a tasks page
https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/#define-clusters-users-and-contexts

[2022-09-15 14:39] akankshakumari393 commented on #36823
Thanks @mtardy I have raised a PR and corrected the anchor to [https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.25/#validatingwebhook-v1-admissionregistration-k8s-io](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.25/#validatingwebhook-v1-admissionregistration-k8s-io). Since the Paragraph mentions about validation webhook.

[2022-09-15 14:48] sftim commented on #36830
Anyone is welcome to contribute.

[2022-09-15 15:31] #30965 closed

[2022-09-15 16:18] rolfedh opened #36838 "Add an explanatory comment to `post_create_issue`"
It's duplicated with upstream, I think we should remove it from `en.toml` and use Docsy version.

https://github.com/google/docsy/blob/main/i18n/zh-cn.toml#L44

_Originally posted by @Sea-n in https://github.com/kubernetes/website/pull/36774#discussion_r969683131_

[2022-09-15 16:19] rolfedh opened #36839 "`release_complete` localization string is unused"
This term is never used, we should just remove it from `data/i18n/en/en.toml`.

_Originally posted by @Sea-n in https://github.com/kubernetes/website/pull/36774#discussion_r969684043_

[2022-09-15 16:25] sftim commented on #36839
/retitle `release_complete` localization string is unused

/kind cleanup
/sig release

[2022-09-15 16:25] sftim commented on #36839
/triage accepted

[2022-09-15 16:26] sftim commented on #36839
/language en

[2022-09-15 17:09] sftim commented on #36838
/retitle `post_create_issue` string already localized in upstream Docsy

Does Docsy cover all the localizations we have? If not, then I suspect that we should _not_ remove it. We can add an explanatory comment though.

[2022-09-15 17:11] sergeyshevch commented on #36825
/close
Closed in https://github.com/kubernetes/website/pull/36828

[2022-09-15 17:11] #36825 closed

[2022-09-15 17:32] sergeyshevch commented on #36839
/assign

[2022-09-15 18:55] rolfedh commented on #36839
/area localization

[2022-09-15 18:56] rolfedh commented on #36838
/area localization

[2022-09-15 19:14] rolfedh commented on #36838
The strings in the Docsy file are mostly different from the ones in `data/i18n/<lang>/<lang>.toml`.
Other than de-duplication, I'm not sure what the reasons for preserving or removing `post_create_issue`might be.
We can change the purpose of this issue to something like "Add an explanatory comment to `post_create_issue`".
@sftim It looks like you contributed `post_create_issue` as part of [a PR yo

[2022-09-15 20:29] having-dlrow commented on #35780
@a-mccarthy I shared to #sig-doc-localizations.
Thank you for your suggestion.

It seems that the issue was not explained properly due to the short time at the last meeting.

After sharing enough, I think it would be good if the test could proceed.
Therefore, there is a document organized by looking at the issue, so I would like to share it.
[sharing doc](https://bit.ly/3RPYG1k)

cc: @bradtopol, @

[2022-09-15 20:37] ridavid2002 commented on #33322
/close

[2022-09-15 20:38] #33322 closed

[2022-09-16 00:49] bconfiden2 opened #36845 "Revise content "Content Organization - Page Order""
**This is a Feature Request**

**What would you like to be added**
Enhance [Page Order](https://kubernetes.io/docs/contribute/style/content-organization/#page-lists) content to inform L10n teams that the order may be different from upstream.

**Why is this needed**
The order of pages that have same weights is decided by first letter of each language.
Following from https://github.com/kubernetes/we

[2022-09-16 00:50] bconfiden2 commented on #36845
/assign

[2022-09-16 01:12] #35941 closed

[2022-09-16 03:34] amolmote commented on #36455
I am done with my issue waiting for the one more review then will start to review the other's pr as well

[2022-09-16 04:10] RayAsh37 commented on #31186
is this still open?

[2022-09-16 05:42] sagayd opened #36851 "kubectl default namespace not always 'default' but depends on kubeconfig"
_This is different from what happens outside of a cluster; when kubectl runs outside a cluster and you don't specify a namespace, the kubectl command acts against the default namespace._

On the above documentation, the kubectl does not act against 'default' namespace but the one assigned to the current-context. The kubeconfig files default context may be pointed to 'default' namespace, but that i

[2022-09-16 06:29] mk46 commented on #36830
/triage accepted

[2022-09-16 06:34] mk46 commented on #36821
/triage accepted

[2022-09-16 07:02] s-kawamura-w664 opened #36852 "[ja] content/ja/docs/concepts/architecture/garbage-collection.md is outdated."
**This is a Feature Request**

**What would you like to be added**
We need to update content/ja/docs/concepts/architecture/garbage-collection.md according to the English text, because it is outdated.

**Why is this needed**
content/ja/docs/concepts/architecture/garbage-collection.md is outdated.
A link text to this page from other pages have already been fixed.
The current page is still "コンテナイメージの

[2022-09-16 09:29] Dentrax opened #36855 "CVE Feed: Consider to include a timestamp field to indicate when a CVE is added to feed"
**This is a Feature Request**

`-`

**What would you like to be added**

https://kubernetes.io/docs/reference/issues-security/official-cve-feed/index.json

* Add `lastUpdateTime` timestamp field in the root.
* Add `timestamp` field to CVE entry

**Why is this needed**

In the current response, there is no `lastUpdateTime` field. So it's challenging to distinguish when the CVE Feed is actually upda

[2022-09-16 09:30] thernstig commented on #36494
I'd have a hard time summarizing what to do here, maybe you can elaborate? I thought the issue was describe ok already but maybe it is not.

[2022-09-16 09:33] mk46 commented on #36819
Addressed in https://github.com/kubernetes/website/pull/36820
/close

[2022-09-16 09:33] #36819 closed

[2022-09-16 11:16] pcbadger opened #36860 "Improvement for k8s.io/docs/reference/kubectl/cheatsheet/"
this is not a "cheat sheet" this is a massive page with a bajillion commands. I'm looking for something with a quick overview "top 10 most used commands" "bare essentials" sort of thing

[2022-09-16 11:33] sftim commented on #36855
/sig security

[2022-09-16 11:33] sftim commented on #36855
The `timestamp` could be the date time of issue creation (GitHub issues are the source of truth). `lastUpdateTime` sounds more tricky to implement, but would be possible I think.

[2022-09-16 13:39] Dentrax commented on #36855
I can get submit a PR for this if does it make sense overall. Where can I find the cve-feed-api source code? Any actions required in frontend? (i.e., adding new column for timestamp)

[2022-09-16 15:29] sftim commented on #36860
We could add a separate page with the 10 most commonly used Kubernetes commands. I'm not sure how useful that'd be because there are so many different ways to use Kubernetes and what is common for one user persona might not be common for another user persona.

(and then the cheat sheet page could link to that new page)

Potentially, we could add more than one 10-most-used-commands pages, one for e

[2022-09-16 15:31] sftim commented on #36855
https://www.k8s.dev/blog/2022/09/12/k8s-cve-feed-alpha/ outlines the implementation @Dentrax

Given that this is links to https://github.com/kubernetes/sig-security/issues/1, I will transfer this issue to that other repo:
/transfer sig-security

[2022-09-16 15:36] kyungjin99 opened #36863 "Outdated Korean contents in the dev-1.25-ko.1"
# This is a Bug Report

Report generated by the following command.
`./scripts/diff_l10n_branches.py ko upstream/dev-1.24-ko.3 upstream/dev-1.25-ko.1`

## Problem
Outdated files in the upstream/dev-1.25-ko.1 branch.

### 126 files to be modified
1. [ ] M1.  `content/en/_index.html`  | 1(+XS) 1(-)
1. [ ] M2.  `content/en/community/code-of-conduct.md`  | 2(+XS) 1(-)
1. [ ] M3.  `content/en/community/

[2022-09-16 15:36] kyungjin99 commented on #36863
/language ko

[2022-09-16 15:54] sftim opened #36864 "Document conditional updates for PATCH operations"
**This is a Feature Request**

**What would you like to be added**
As mentioned in https://github.com/kubernetes/website/pull/31261#discussion_r942896591 (by @apelisse)

**Why is this needed**
Conditional patch operations are useful to avoid [lost updates](https://dzone.com/articles/what-is-a-lost-update-in-database-systems). Readers have an interest in knowing:
- that these are possible
- how to

[2022-09-16 16:38] #33041 closed

[2022-09-16 19:53] YashPimple commented on #36689
/assign

[2022-09-16 23:43] windsonsea opened #36869 "[zh] Localize blog: 2022-09-15-sig-apps-GA-1.25/"
**This is a Feature Request**

Will localize this blog to zh text:

[code]

/language zh
/assign

[2022-09-17 01:59] YashPimple commented on #36689
/assign

[2022-09-17 07:23] seokho-son commented on #36863
Thanks, @kyungjin99 for this report!

/triage accepted

[2022-09-17 07:23] seokho-son commented on #36863
/milestone dev-1.25-ko.1

[2022-09-17 07:23] seokho-son commented on #36863
/help

[2022-09-17 09:10] having-dlrow commented on #36863
- M1 - M10 @having-dlrow

[2022-09-17 13:38] seokho-son commented on #36845
/triage accepted

[2022-09-17 13:38] seokho-son commented on #35093
/triage accepted

[2022-09-17 13:48] seokho-son commented on #36863
/assign @having-dlrow

[2022-09-17 21:26] samkass commented on #36732
Oops, I had a typo in the pull request link. Linked.

[2022-09-17 23:43] bart2001 opened #36879 "create script for generating first draft translation"
**This is a Feature Request**

create script for generating first draft translation using translation open source.

this feature starts with English(source language) to Korean(target language) and may extend to other target languages

**What would you like to be added**

python file for draft translation

**Why is this needed**
Localization work is time-consuming and requires human effort.

genera

[2022-09-18 03:56] mocha-123 commented on #36863
M34 - M41 작업하겠습니다.

[2022-09-18 04:45] amolmote opened #36882 "[ko] Need to update the code-contribution.md"
**This is a Bug Report**

*what is the problem?*
When you visit  [this page](https://kubernetes.io/ko/docs/reference/glossary/?fundamental=true&community=true)
and click on `코드 기여자` it results in page not found issue.
![korian](https://user-images.githubusercontent.com/98871024/190886182-df34a0ed-5f16-4f0e-b851-e72753a892be.PNG)

*Which page required to update?*
[code-contributor.md](https://githu

[2022-09-18 05:00] amolmote opened #36883 "[fr] Need to update the `code-contributor.md`"
**This is a Bug Report**
The english doc has this issue which is followed by every localization team, I am trying to resolve this issue from every localization page.

*what is the problem?*
When you visit  [this page](https://kubernetes.io/fr/docs/reference/glossary/?fundamental=true&community=true)
and click on `Contributeur de Code` it results in page not found issue.
![french](https://user-imag

[2022-09-18 08:15] bconfiden2 commented on #36688
Already been processed in #36800 :sweat_smile: :sweat_smile:

[2022-09-18 08:15] #36688 closed

[2022-09-18 13:22] #36715 closed

[2022-09-18 13:39] seokho-son commented on #36863
/assign @mocha-123

[2022-09-18 15:28] Seo-yul commented on #36863
M90 - M126 작업하겠습니다.

[2022-09-18 23:50] catmanjan opened #36891 "CronJob cron format "Once every X minutes""
Hello does CronJob's cron format support the format "*/5 * * * *"

Which would trigger every 5 minutes?

[2022-09-19 00:38] seokho-son commented on #36882
Hi @amolmote
I am maintaining Korean contents.

![image](https://user-images.githubusercontent.com/5966944/190934730-ef9131fa-a2ee-41e2-a40f-a5958ae48541.png)

We already have the `Code Contributor` term in Korean. (`코드 컨트리뷰터(Code Contributor)`)
(Please note that `컨트리뷰터` is acceptable translation for `contributor`)

The term you captured is for `Developer (disambiguation)` which is different term.

[2022-09-19 00:44] bconfiden2 commented on #36863
- M74 - M89 : @bconfiden2

[2022-09-19 00:46] seokho-son commented on #36882
@amolmote
Oh, I misunderstood your issue !

The link about `code contributor` in `Developer (disambiguation)` in Korean is not accessible!

It is a bug. :) Thanks!

/triage accepted

By the way, please use `dev-1.25-ko.1` branch as the base branch of Korean contents contribution.

[2022-09-19 00:50] seokho-son commented on #36863
- [ ] M1 - M10 : @having-dlrow
- [ ] HELP
- [ ] M34 - M41 : @mocha-123
- [ ] HELP
- [ ] M74 - M89 : @bconfiden2
- [ ] M90 - M126 : @Seo-yul

I will keep update this comment to trace assignees for parts of takes.

[2022-09-19 00:50] seokho-son commented on #36863
/assign @Seo-yul @bconfiden2

[2022-09-19 01:24] jihoon-seo commented on #36891
/kind support

[2022-09-19 04:19] MikeSpreitzer opened #36894 ""API Priority and Fairness" doc must be updated"
(1) The user-facing changes in https://github.com/kubernetes/kubernetes/pull/110104 are not yet reflected in the doc.

(2) There are four possible values for the `reason` of a rejection ("concurrency-limit", "queue-full", "time-out", and "cancelled") but "cancelled" is not listed in the doc.

The relevant page is https://kubernetes.io/docs/concepts/cluster-administration/flow-control/

/sig api-ma

[2022-09-19 05:12] #33006 closed

[2022-09-19 06:38] habibrosyad commented on #23660
/remove-lifecycle stale

[2022-09-19 08:21] Shubham82 commented on #36891
Hi @catmanjan
Yes, this format is supported by the CronJob object.

[2022-09-19 08:26] Shubham82 commented on #36891
To check and Hands-on on it, you can perform this [task](https://kubernetes.io/docs/tasks/job/automated-tasks-with-cron-jobs/) with your own value for the `schedule:` field.
To generate expression you can take the help of [crontab.guru](https://crontab.guru/).

[2022-09-19 09:58] mtardy commented on #36851
Hey, I had to search to retrieve where the context of what you mentioned, [it's from here](https://kubernetes.io/docs/reference/kubectl/#in-cluster-authentication-and-namespace-overrides:~:text=This%20is%20different%20from%20what%20happens%20outside%20of%20a%20cluster%3B%20when%20kubectl%20runs%20outside%20a%20cluster%20and%20you%20don%27t%20specify%20a%20namespace%2C%20the%20kubectl%20command%20a

[2022-09-19 10:22] utkarsh-singh1 commented on #36784
/language en
/kind support

[2022-09-19 11:29] Goutami-Gowda opened #36896 "Upgrading kubeadm clusters"
hello, I am trying to upgrade kubeadm cluster from 1.23.5 to 1.24.5. i am following this document https://v1-24.docs.kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/.
after kubeadm upgrade. kubelet upgrade is giving me this error. i need help here.

kubelet upgrade Error: failed to parse kubelet flag: unknown flag: --network-plugin
and node is in not ready state.

this is the c

[2022-09-19 11:56] mtardy commented on #36851
/retitle kubectl default namespace not always 'default' but depends on kubeconfig

If you can find a better title, just needed to make something a bit more precise than just an issue on kubectl

[2022-09-19 12:21] PARKINHYO commented on #36863
@seokho-son 님 안녕하세요! M17-M21 해보겠습니다.

[2022-09-19 12:35] amolmote commented on #36721
/close

[2022-09-19 12:35] #36721 closed

[2022-09-19 14:56] mtardy commented on #36896
This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](https://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) for answers to similar questions.

You can also open issues for Kubernetes fu

[2022-09-19 14:56] #36896 closed

[2022-09-19 15:04] mtardy commented on #36896
On the `--network-plugin` flag missing, I think it was addressed by this issue https://github.com/kubernetes/website/issues/33640 and removed in this PR for v1.24 https://github.com/kubernetes/website/pull/33870.

[2022-09-19 15:11] mtardy commented on #36894
APF is for API Priority and Fairness just for people looking into this issue.

/triage accepted
/priority important-longterm

[2022-09-19 15:45] mtardy commented on #36362
Merci pour l'issue et les détails avec les screenshots mais il s'agit d'un doublon avec [[fr] Releases page in French is blank #35207](https://github.com/kubernetes/website/issues/35207). Je vais regarder si on peut pas juste fixer ça en redirigeant sur la version anglaise dans un premier temps.

Je me permets de fermer cette issue puisqu'elle est un peu plus récente que l'autre.

---

Thanks for

[2022-09-19 15:45] #36362 closed

[2022-09-19 16:11] mtardy commented on #35207
There are 2 issues here:
- I took a look and indeed, [this addition](https://github.com/kubernetes/website/pull/30233) introduced the issue since it added a new page under the `releases` subfolder.
- Moreover, @shurup is correct, you can get to these translation by going on the page https://kubernetes.io/releases/ and clicking the language dropdown, and selecting Français but the `navbar-version-s

[2022-09-19 16:44] kadtendulkar opened #36900 "Broken link on Documenting a feature for a release page"
**Problem:**
The text [**Commit into another person's PR**](https://kubernetes.io/docs/contribute/review/for-approvers/#commit-into-another-persons-pr) on [link](https://kubernetes.io/docs/contribute/new-content/new-features/) should point to these https://kubernetes.io/docs/contribute/review/for-approvers/#commit-into-another-person-s-pr
Check the page [Documenting a feature for a release](https:

[2022-09-19 17:01] mtardy opened #36903 "`navbar-version-selector.html` partial in navbar always redirect to 'releases' English version"
You can only get to the localized version of the https://kubernetes.io/releases/ page by going to the English version, and then clicking on the language dropdown to find a translation. If you are already on a localized version of the site, and the page exists in the selected language, it redirects you to the English version. See this comment for more info:

_Originally posted by @shurup in https:/

[2022-09-19 17:23] Sea-n commented on #36900
For the record: I've already opened PR #36899 20 minutes before this issue.
- #36899

[2022-09-19 18:01] mtardy commented on #36894
Please feel free to change it again if it is not correct.

/retitle "API Priority and Fairness" doc must be updated

[2022-09-19 19:03] SergeyKanzhelev commented on #30804
/remove-lifecycle rotten
/reopen

[2022-09-19 21:04] reylejano commented on #36891
Closing this issue as there is a link to a tool that helps to generate a cron schedule
/close

[2022-09-19 21:04] #36891 closed

[2022-09-19 21:09] reylejano commented on #36537
iptables is still default as of 1.25
From https://kubernetes.io/docs/reference/command-line-tools-reference/kube-proxy/
/close

/close

[2022-09-19 21:10] #36537 closed

[2022-09-19 21:11] reylejano commented on #35087
OpenSearch is out of scope for the kubernetes documentation website

This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring
your question to the `#kubernetes-users` channel in [Kubernetes slack](https://slack.k8s.io/). You can also search
resources like [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes)
for answ

[2022-09-19 21:11] #35087 closed

[2022-09-19 21:13] reylejano commented on #36696
Since Docker's config.json is out-of-scope of the Kubernetes documentation website, this issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](https://slack.k8s.io/). You can also search resources like [Stack Overflow](https://stackoverflow.com/questions/tagged/kuber

[2022-09-19 21:13] #36696 closed

[2022-09-19 21:14] reylejano commented on #34876
Looks like sftim gave a link to help you solve your issue
/close

[2022-09-19 21:14] #34876 closed

[2022-09-19 21:22] reylejano commented on #34552
Services can have the same name as a Deployment, Pod, or any other Kubernetes object. The differentiator is defined in `kind`.
Folks can have their own naming scheme as they choose and what's best for them.

Personally, I'm ok with having an example with the Deployment and Service having the same name.
When you run `kubectl expose deploy <deploy-name>` without a `--name` argument then what is the

[2022-09-19 21:24] reylejano commented on #33284
@RahulKansana1 , it looks like there is no metrics-server
Documentation on the metrics-server is found here: https://github.com/kubernetes-sigs/metrics-server

Furthermore this issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the `#kubernetes-users` channel in [Kubernetes slack](https://slack.k8s.io/). You can also

[2022-09-19 21:24] #33284 closed

[2022-09-19 22:29] #35642 closed

[2022-09-19 22:45] reylejano commented on #36824
Since this blog is a mirror from a k8s.dev blog, this issue can be created on the contributor-site
Closing this issue for now as the source of this blog is not k/website
As a note, we like to keep the blog author's "voice" in the article unless there are grammar errors not stylistic changes
/close

[2022-09-19 22:45] #36824 closed

[2022-09-19 23:47] catmanjan commented on #36891
Thanks all good - just an FYI the doco is not fully clear on what is supported - e.g. https://crontab.guru/ lists @reboot as an option

It would be good to get a definitive list in the kubernetes doco

[2022-09-20 02:17] #33082 closed

[2022-09-20 03:31] #36869 closed

[2022-09-20 03:38] amolmote opened #36910 "[zh-cn] Need to update the `code-contribution.md` with full link"
**This is a Bug Report**
I have fixed the same issue in English docs, same issue is followed by the other localization team. [This page](https://kubernetes.io/zh-cn/docs/reference/glossary/?fundamental=true&community=true) has one broken issue which needs to fix.

![china](https://user-images.githubusercontent.com/98871024/191161672-f851f998-0047-4d2d-ba0c-2a462310ceab.PNG)

Refer my merged PR of

[2022-09-20 06:08] vmahilevskyi opened #36912 "Display bug in `rules.http.paths.pathType` section of Ingress API referenc"
There is a display bug in `rules.http.paths.pathType`  section of [IngressSpec](https://kubernetes.io/docs/reference/kubernetes-api/service-resources/ingress-v1/#IngressSpec)

`Exact` and `Prefix` values are not displayed properly as `ImplementationSpecific` is.

![image](https://user-images.githubusercontent.com/30826865/191179628-3d0373d5-2f44-48aa-99a4-aa27830db9ca.png)

I guess the list of val

[2022-09-20 07:21] MrShox777 opened #36917 "Getting start"

[2022-09-20 08:04] mtardy commented on #36917
Hey, neither the title nor the description, which is empty at the moment is enough for people to get what you would like to express :D!
Please provide more information.

/triage needs-information

[2022-09-20 10:54] sftim commented on #35207
/area localization

[2022-09-20 10:54] sftim commented on #36903
/area localization

[2022-09-20 10:55] sftim commented on #36903
/triage accepted

[2022-09-20 10:55] sftim commented on #36903
/priority important-longterm

[2022-09-20 12:23] mtardy commented on #36900
It was fixed by https://github.com/kubernetes/website/pull/36899.

/close

[2022-09-20 12:23] #36900 closed

[2022-09-20 12:27] mtardy commented on #27740
It seems that the user had a problem because they were running minikube on a read-only mounted file system, and minikube needed to write some logs to the fs.

This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the #kubernetes-users channel in [Kubernetes slack](https://slack.k8s.io/). You can also search resourc

[2022-09-20 12:27] #27740 closed

[2022-09-20 12:28] mtardy commented on #27808
I will provide the same comment https://github.com/kubernetes/website/issues/27740#issuecomment-1252281698.

/close

[2022-09-20 12:28] #27808 closed

[2022-09-20 12:28] sftim commented on #33784
I think the page to edit is https://kubernetes.io/docs/contribute/review/for-approvers/

[2022-09-20 12:32] sftim commented on #36912
/retitle Display bug in `rules.http.paths.pathType` section of Ingress API referenc

/sig docs
/language en
/triage accepted
/priority backlog

This could be seen as a feature request for the code that [generates](https://github.com/kubernetes-sigs/reference-docs/tree/master/gen-resourcesdocs) API reference docs.

[2022-09-20 12:32] mtardy commented on #27812
Since this issue is stale, has kind support, and never got more information, I will close it. Feel free to reopen it if you want to bring more information.

/triage needs-information
/close

[2022-09-20 12:32] #27812 closed

[2022-09-20 12:32] sftim commented on #36912
/retitle Display bug in rules.http.paths.pathType section of Ingress API reference

[2022-09-20 12:33] sftim commented on #36912
/retitle Display bug in `rules.http.paths.pathType` section of Ingress API referenc

[2022-09-20 13:40] a-mccarthy commented on #36903
/assign

[2022-09-20 14:06] sftim commented on #36879
/area localization

[2022-09-20 14:07] sftim commented on #30016
Yes, that's what I mean.

[2022-09-20 14:07] sftim commented on #30016
/area localization

[2022-09-20 14:08] sftim commented on #25190
/close

[2022-09-20 14:08] #25190 closed

[2022-09-20 14:09] sftim commented on #13948
/area localization

[2022-09-20 14:09] sftim commented on #13939
/area localization

[2022-09-20 14:10] sftim commented on #13939
This is an umbrella issue
/remove-good-first-issue

It's OK to create good-first-issues that reference this issue as their overarching issue.

[2022-09-20 14:10] sftim commented on #35093
/area localization

[2022-09-20 14:53] jai commented on #32990
/reopen

[2022-09-20 15:53] #32990 closed

[2022-09-20 15:56] mtardy commented on #27907
Same comment as here https://github.com/kubernetes/website/issues/27740#issuecomment-1252281698.

/close

[2022-09-20 15:56] #27907 closed

[2022-09-20 15:58] mtardy commented on #27958
I assume this has been fixed now. If you are still experiencing this you can reopen this issue.

/close

[2022-09-20 15:59] #27958 closed

[2022-09-20 16:01] #27965 closed

[2022-09-20 16:04] ramansankar opened #36926 "Improvement for k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro/"
explain what is an etcd member. That term is introduced in the middle of an otherwise well written explanation.

[2022-09-20 16:15] mtardy commented on #36926
This issue is referring to the sentence:

In the ["Using Minikube to Create a Cluster"](https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro/) tutorial. That effectively seems to appear before etcd as been properly introduced.

Please provide a bit more context next time for reviewers :)!

/triage accepted
/priority backlog
/kind bug

[2022-09-20 16:22] kadtendulkar opened #36929 "Broken link on Enforcing Pod Security Standards page"
**Problem:**
The text [**example**](https://kubernetes.io/docs/concepts/security/pod-security-admission/#applying-to-all-namespaces) on [link](https://kubernetes.io/docs/setup/best-practices/enforcing-pod-security-standards/) should point to these https://kubernetes.io/docs/tasks/configure-pod-container/enforce-standards-namespace-labels/#applying-to-all-namespaces
Check the page [Enforcing Pod Se

[2022-09-20 17:54] mtardy commented on #36929
/triage accepted

[2022-09-21 01:49] Drugoy commented on #34410
/remove-lifecycle stale

[2022-09-21 03:24] mengjiao-liu commented on #36910
/triage accepted

[2022-09-21 04:15] #36882 closed

[2022-09-21 05:11] onestone9900 commented on #36863
M42 ~ M52 진행해보겠습니다!

[2022-09-21 05:28] Kartik494 commented on #28728
/remove-lifecycle stale

[2022-09-21 05:29] Kartik494 commented on #32285
/remove-lifecycle stale

[2022-09-21 05:29] Kartik494 commented on #33925
/remove-lifecycle stale

[2022-09-21 05:30] Kartik494 commented on #32785
/remove-lifecycle stale

[2022-09-21 05:32] Kartik494 commented on #33671
Hi @sftim could you please take look on this point.

[2022-09-21 06:32] seokho-son commented on #36863
/assign @onestone9900

[2022-09-21 06:43] wjkhappy14 opened #36937 "Trouble previewing website locally on Windows"
**This is a Bug Report**

**Problem:**
![image](https://user-images.githubusercontent.com/1332924/191432710-c2bd6c89-b1b8-46bd-99d4-9759f191b6f7.png)

**Proposed Solution:**
when run   **make container-serve**  on windows 10
then got :loading translations: "/src/i18n/de.toml:1:1": failed to load translations: toml: invalid character at start of key: .

**Page to Update:**
https://kubernetes.io/...

[2022-09-21 06:55] KrzysztofDziankowski opened #36938 "Host Ports description at Pod Security Standards can mislead user"
**This is a Feature Request**

[Pod Security Standards](https://kubernetes.io/docs/concepts/security/pod-security-standards/) _"Host Ports"_ rule have the following description _"HostPorts should be disallowed, or at minimum restricted to a known list."_
It is not clear for the reader that this statement is composed from two mutually exclusive terms _"HostPorts should be disallowed”_ OR _“HostPort

[2022-09-21 07:39] jihoon-seo commented on #36937
Maybe-relevant issue:
- #28910

[2022-09-21 07:55] FadyNos-hy opened #36939 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
The interactive session doesn't start

[2022-09-21 08:18] mtardy commented on #36939
I just tried and it worked on my side, I don't know if it was a temporary outage or if it's a region thing.
Please tell us if it still doesn't work on your side.

/triage not-reproducible

[2022-09-21 08:59] wjkhappy14 commented on #28910
mklink /J "E:\source\code\k8s-website\i18n" "E:\source\code\k8s-website\data\i18n"

[2022-09-21 09:07] sftim commented on #32785
I don't have a strong view on whether that should be one page or several. @Rishit-dagli if you want to do it as one page I think that sounds fine - it's an improvement on what we have now.

[2022-09-21 09:08] sftim commented on #36938
/language en
/sig security

[2022-09-21 09:08] sftim commented on #36938
/sig auth

[2022-09-21 09:46] wjkhappy14 commented on #36937
first delete the i18n dir
then run  mklink /J "E:\source\code\k8s-website\i18n" "E:\source\code\k8s-website\data\i18n"

[2022-09-21 10:13] miteshskj commented on #36912
/assign

[2022-09-21 10:42] miteshskj commented on #36706
/assign

[2022-09-21 10:52] vistasunil opened #36943 "Ingress resource backends"
Hello Team,

I was trying to use ingress resource backends with Nginx Plux ingress controller on GKE cluster version 1.21 but its giving below errors:

[code]

Kindly suggest why its not working. Is there any specific Kubernetes version where resource backends work?

[2022-09-21 15:52] akettmann-e24 opened #36947 "Issue with k8s.io/docs/reference/kubernetes-api/common-definitions/quantity/"
Both single page reference https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.25/#quantity-resource-core and the common-definitions page referenced in the title are not rendering properly on Firefox:

![image](https://user-images.githubusercontent.com/50422880/191551966-621189f0-0efb-4a04-924b-5b86cffae55e.png)

[2022-09-21 16:31] chrismetz09 commented on #32243
/assign

[2022-09-21 17:46] sftim commented on #35712
Duplicated by https://github.com/kubernetes/website/issues/36947

[2022-09-21 17:46] sftim commented on #36947
/triage duplicate

Thanks for reporting this. We are already tracking a similar issue.

[2022-09-21 17:48] sftim commented on #36943
https://kubernetes.io/releases/ lists which versions of Kubernetes benefit from upstream support (v1.22 is the oldest).

[2022-09-21 18:41] akettmann-e24 commented on #36947
Got it, thanks  sorry for the dupe

[2022-09-22 00:23] #36929 closed

[2022-09-22 00:49] #36111 closed

[2022-09-22 01:34] sftim opened #36953 "Document indexed job mode as stable feature"
**This is a Feature Request**

**What would you like to be added**
Mention indexed job mode in https://kubernetes.io/docs/concepts/workloads/controllers/job/ - as one of the page headings.

**Why is this needed**
Indexed completion for Jobs is stable, and we should document it.

**Comments**
/sig apps
/language en

[2022-09-22 01:39] sftim commented on #36947
/close

It's a duplicate.

[2022-09-22 03:29] mengjiao-liu commented on #36382
/close

[2022-09-22 03:29] #36382 closed

[2022-09-22 03:41] mengjiao-liu commented on #36409
I submitted PR  #36054 to solve this issue and put you as the co-author.

[2022-09-22 05:05] #36409 closed

[2022-09-22 06:35] bconfiden2 opened #36957 "Difference in inserting glossary definition"
**This is a Feature Request**

**What would you like to be added**
Modify the [cloud-controller-manager](https://github.com/kubernetes/website/edit/main/content/en/docs/concepts/overview/components.md)'s glossary definition `length` property from `short` to `all`.

**Why is this needed**
`length="short"` in [cloud-controller-manager](https://github.com/kubernetes/website/edit/main/content/en/docs/

[2022-09-22 06:38] vistasunil commented on #36943
@sftim  thanks for your response.

[2022-09-22 07:08] vishwanathjadhav commented on #32858
Hi Guys Any progress on this ?

[2022-09-22 07:09] Shubham82 commented on #36939
Hi @FadyNos-hy
It is working for me also.

It might be due to an ad-blocker. Please check if the ad-blocker is enabled or not on your browse, if yes then pls disable it and try again.
Refer: [#34253](https://github.com/kubernetes/website/issues/34253#issuecomment-1153578416)

[2022-09-22 08:14] vistasunil commented on #36943
@sftim I tried with open-source ingress-nginx also. This time I did not get error while deploying ingress with resource backend. It shows 'Schedule for sync' but no entry going to nginx.conf of ingress nginx pod. This time i have deployed it on GKE cluster v1.22
Below is the ingress yaml for reference, if I am doing the right thing:
[code]
Kubernetes version:
[code]
Ingress describe output:
[code]

[2022-09-22 09:39] sftim commented on #36943
This repo is for the documentation. You're welcome to suggest improvements for the Kubernetes docs, or to report pages that are wrong.

If you just want help with Kubernetes, this isn't the right place to ask @vistasunil. A few folks here - me included - would definitely be able to offer that help. For my part, that's work that [we](https://www.scalefactory.com/) charge money for.

[2022-09-22 11:06] #33140 closed

[2022-09-22 13:17] miteshskj commented on #36953
Isn't it already documented here - https://kubernetes.io/docs/concepts/workloads/controllers/job/#completion-mode ?

[2022-09-22 13:41] AlanGreene commented on #33918
Closing as I don't believe there's anything more to do here. Thanks all

[2022-09-22 13:41] #33918 closed

[2022-09-22 13:47] a-mccarthy commented on #35299
@chalin anything you need help with on this issue? Are you blocked by anything?

[2022-09-22 13:51] sftim commented on #36953
Ah, I totally missed that.

/triage invalid
/close

[2022-09-22 14:06] a-mccarthy commented on #32695
I just tested the example given, and it appears that the scroll bar is now clickable and moveable. We updated to a [new version of Docsy](https://github.com/kubernetes/website/pull/32906) earlier in the year. We noticed that [horizontal scrollbars](https://github.com/kubernetes/website/issues/32873) were fixed by that update.

Is anyone still seeing this issue on the site?

[2022-09-22 15:10] #32822 closed

[2022-09-22 18:01] natalisucks commented on #31955
The Localization subproject has been finalized with the merging of the following PRs:
- https://github.com/kubernetes/website/pull/36728
- https://github.com/kubernetes/community/pull/6769

[2022-09-22 18:01] #31955 closed

[2022-09-22 18:49] bradotlin opened #36969 "Upgrading kubeadm clusters"
On page https://v1-21.docs.kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/

None of these links work:

- [Upgrading a kubeadm cluster from 1.19 to 1.20](https://v1-20.docs.kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/)
- [Upgrading a kubeadm cluster from 1.18 to 1.19](https://v1-19.docs.kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/

[2022-09-22 20:40] chalin commented on #35299
Thanks @a-mccarthy. I'm just back today, and still catching up. Will reach out with an update as soon as I can.

[2022-09-22 22:23] jihoon-seo commented on #36969
/triage accepted
This is because the Kubernetes websites for <= v1.20 are not live anymore.
Removing those links might be one possible solution.

Similarly,
- In https://v1-22.docs.kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/ , those links are not working:
  - [Upgrading a kubeadm cluster from 1.19 to 1.20](https://v1-20.docs.kubernetes.io/docs/tasks/administer-cluster/kube

[2022-09-22 23:13] a-mccarthy commented on #30579
/assign

[2022-09-23 08:30] sftim commented on #32858
A [tip](https://www.theatlantic.com/family/archive/2018/08/guys-gender-neutral/568231/) on inclusive language.

Other improvements are, I judge, still taking priority. We should do this work - I like the idea - but it's not top of the list.

https://github.com/kubernetes/website/issues?q=is%3Aissue+is%3Aopen+label%3Apriority%2Fimportant-longterm%2Cpriority%2Fimportant-soon%2Cpriority%2Fcritical-ur

[2022-09-23 08:30] sftim commented on #14579
Done: https://kubernetes.io/docs/concepts/workloads/pods/downward-api/

/close

[2022-09-23 08:30] #14579 closed

[2022-09-23 08:38] sftim commented on #36937
This is a Windows issue (and is almost a duplicate of #28910)

/retitle Trouble previewing website locally on Windows

[2022-09-23 08:41] sftim commented on #35896
This change is likely to arrive in v1.26, so we should get it staffed.

[2022-09-23 08:43] sftim commented on #35896
@shannonxtreme would you be willing to change the minor version in https://github.com/kubernetes/website/issues/35896#issuecomment-1218520038 ?

[2022-09-23 09:20] sftim commented on #36827
/close

Without a description of the issue, we can't work on this @9948180189

[2022-09-23 09:20] #36827 closed

[2022-09-23 09:21] sftim commented on #36654
Folks are welcome to work on this issue. @prsndp would you like any assistance?

[2022-09-23 09:26] prsndp commented on #36654
### No thanks, I am on it, will give you update soon.

[2022-09-23 09:52] neolit123 commented on #36969
/sig cluster-lifecycle
we could add a note that the links may stop working for old releases. manually cleaning up the links does not seem sustainable.

[2022-09-23 10:54] a-mccarthy commented on #33426
@kadtendulkar a banner for kubecon na just went live. If you are still willing to work on this issue, you should be able to see the incorrect banner text color more easily,  https://kubernetes.io/partners/

[2022-09-23 11:06] sftim commented on #25616
/reopen

[2022-09-23 11:06] sftim commented on #25616
https://kubernetes.io/es/docs/concepts/services-networking/ is not blank now

/close

[2022-09-23 11:06] #25616 closed

[2022-09-23 12:01] sftim commented on #36654
/close

Fixed in #36981
Thanks @prsndp

[2022-09-23 12:01] #36654 closed

[2022-09-23 12:08] sftim opened #36983 "Scheduling GPUs task not marked as containing 3rd party content."
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/tasks/manage-gpus/scheduling-gpus/ doesn't have our disclaimer for 3rd party content.

**Proposed Solution:**
Add a third party content disclaimer.  See https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins/ for an example.

**Page to Update:**
https://kubernetes.io/docs/tasks/manage-gpus/schedulin

[2022-09-23 12:09] sftim commented on #36983
Separately, it would be good if https://kubernetes.io/docs/tasks/manage-gpus/scheduling-gpus/ didn't include advice about installing the plugins. Instead, we can hyperlink to the vendors' own docs (where those exist).

[2022-09-23 12:43] porrascarlos802018 opened #36984 "Improvement for k8s.io/docs/tasks/administer-cluster/ip-masq-agent/"
please add clarification in the case of containers, where are containers masq records saved or how to track down which container initiated a connection behind node ip

[2022-09-23 13:21] sftim commented on #20232
https://github.com/kubernetes/website/issues/36983 is part of this issue.

[2022-09-23 15:16] RA489 commented on #30188
/remove-lifecycle stale

[2022-09-23 15:16] RA489 commented on #30084
/remove-lifecycle stale

[2022-09-23 18:14] sftim commented on #36938
/remove-kind feature
/kind bug

[2022-09-24 06:32] taniaduggal commented on #35600
Now, I am working on content/en/docs/reference/glossary/helm-chart.md

[2022-09-24 08:56] #36845 closed

[2022-09-24 11:38] seokho-son commented on #36863
@PARKINHYO 님 안녕하세요.
제가 파일을 몇 개 살펴보니,

M17. content/en/docs/concepts/overview/_index.md | 93(+M) 3(-)
은 새로 작성된 내용이 아니라,

D1. content/en/docs/concepts/overview/what-is-kubernetes.md
의 기존 내용을 단순 이동(내용을 카피)한 것으로 보입니다.

혹시나 완전히 새롭게 작업하지 마시고, 두 파일을 함께 살펴보면서 작업하시면 좋을 것 같습니다. (content/ko/docs/concepts/overview/what-is-kubernetes.md)

[2022-09-25 02:47] musaprg opened #37007 "[ja] /content/ja/docs/concepts/overview/kubernetes-api.md is outdated"
**This is a Feature Request**

**What would you like to be added**
There are several updates in [the original English text](https://github.com/kubernetes/website/blob/main/content/en/docs/concepts/overview/kubernetes-api.md) and therefore this page is outdated.

**Why is this needed**

**Comments**
/language ja
/assign

[2022-09-25 07:26] PARKINHYO commented on #36863
넵 알려주셔서 감사합니다!

[2022-09-25 09:27] akankshakumari393 commented on #36926
/assign

[2022-09-25 09:27] akankshakumari393 commented on #36926
I think having a hyperlink to etcd would be good

[2022-09-25 11:33] rolfedh commented on #36839
@sergeyshevch Hi, Sergey. I hope you're doing well. Do you have any questions about this task?

[2022-09-25 11:39] rolfedh commented on #36838
Given @sftim 's comment, and lack of further discussion (lazy consensus) it seems like we should preserve `post_create_issue` and add an explanatory comment.

@sftim what should the explanatory comment say?

[2022-09-25 11:39] rolfedh commented on #36838
/retitle "Add an explanatory comment to `post_create_issue`"

[2022-09-25 12:20] rolfedh commented on #36568
I have completed all the steps required for this task. Only the follow-up tasks I created, which are assigned to others, remain to be completed.

[2022-09-25 12:20] #36568 closed

[2022-09-25 13:43] ashish-jaiswar commented on #36470
Hi @bishal7679, I have raised PR of this issue. Could you review that PR?

[2022-09-25 16:43] #33266 closed

[2022-09-25 23:43] #33295 closed

[2022-09-26 01:45] sarazqy commented on #36441
https://github.com/kubernetes/website/pull/36806

[2022-09-26 01:45] #36441 closed

[2022-09-26 06:14] RA489 commented on #30660
/remove-lifecycle stale

[2022-09-26 06:15] RA489 commented on #30653
/remove-lifecycle stale

[2022-09-26 06:17] RA489 commented on #24080
/remove-lifecycle stale

[2022-09-26 06:17] RA489 commented on #29890
/remove-lifecycle stale

[2022-09-26 06:17] RA489 commented on #29856
/remove-lifecycle stale

[2022-09-26 06:19] RA489 commented on #29185
/remove-lifecycle stale

[2022-09-26 06:19] RA489 commented on #28082
/remove-lifecycle stale

[2022-09-26 06:19] RA489 commented on #28427
/remove-lifecycle stale

[2022-09-26 06:19] RA489 commented on #28078
/remove-lifecycle stale

[2022-09-26 06:20] RA489 commented on #26638
/remove-lifecycle stale

[2022-09-26 06:20] RA489 commented on #26293
/remove-lifecycle stale

[2022-09-26 06:20] RA489 commented on #27974
/remove-lifecycle stale

[2022-09-26 06:40] utkarsh-singh1 commented on #36860
Hi @pcbadger, as the @sftim mentioned there can be multiple top 10 commands for different tasks, and you mentioned bare essentials which could include,
`kubectl get/describe/run/apply [type] [name] [flags]`   commands.

Also, there are multiple websites where they show beginner commands for getting started in Kubernetes and minikube and kubeadm tutorial also have their own docs for beginner comman

[2022-09-26 07:55] aeimer commented on #33571
/remove-lifecycle rotten

[2022-09-26 09:02] sarazqy commented on #36443
https://github.com/kubernetes/website/pull/36408/files

[2022-09-26 09:02] #36443 closed

[2022-09-26 09:07] chenjianfei1989 commented on #19870
The index.html file must be created on the node where the Pod task-pv-pod is located

[2022-09-26 09:50] NitishKumar06 commented on #34443
@sftim May I know from where I could get information regarding what exactly 'claim' means in the above sentence?

[2022-09-26 09:53] sftim commented on #34443
@NitishKumar06 please avoid asking specific individuals for advice. Instead, you could ask a whole set of folks. For example, there are Slack channels such as `#kubernetes-users` and `#sig-auth` where you could request help.

[2022-09-26 10:28] sftim commented on #36860
We'd welcome a blog article: 10 kubectl commands you need to know (or similar).

[2022-09-26 10:46] sftim commented on #33571
@aeimer thanks for the nudge

GitHub is not the right place for support requests.

If you're looking for help, try asking on [Server Fault](https://serverfault.com/questions/tagged/kubernetes).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

/close

[2022-09-26 10:46] #33571 closed

[2022-09-26 12:13] akankshakumari393 commented on #36860
Where would we link that blog to?

[2022-09-26 13:49] shurup commented on #36754
Hi @NitishKumar06! Did this recommendation fix your issue?

[2022-09-26 13:57] #36521 closed

[2022-09-26 14:08] NitishKumar06 commented on #36754
No! I'm still figuring out how to fix it. Although I've docker image yet
the contents on the localhost i describe are empty.

On Mon, 26 Sep, 2022, 7:19 pm Dmitry Shurupov, ***@***.***>
wrote:

[2022-09-26 16:40] reylejano commented on #36706
/triage accepted

[2022-09-26 17:02] a-mccarthy commented on #30016
Hi @imoisharma are you still willing to work on this issue? It would be awesome to get this updated :)

[2022-09-26 17:23] utkarsh-singh1 commented on #34652
Hi @aarashy, would you like to attend this issue further, or also you can close it down .

[2022-09-26 17:39] utkarsh-singh1 commented on #36860
+1 from me as it would imporove reader experience and also imporove k8s docs.

[2022-09-26 18:15] sftim commented on #36860
I'm imagining an article that we publish to https://k8s.io/blog/
I don't know if the article body needs to contain any hyperlinks. I don't mind if it does, though.

[2022-09-26 18:39] #36789 closed

[2022-09-26 20:51] sftim commented on #28909
Maybe a tutorial page would be better.

[2022-09-26 21:13] akankshakumari393 commented on #36860
Hey @sftim I would like to work on it. 🙂. Could you please point me, on process of adding a blog, if documented?

[2022-09-26 21:59] shannonxtreme commented on #28909
Yeah this would work better as a tutorial focusing on a specific scenario

[2022-09-26 21:59] shannonxtreme commented on #28909
/remove-lifecycle stale

[2022-09-26 22:29] imoisharma commented on #30016
Hi @a-mccarthy, I forget about this. I will have a look soon at this one. Cheers.

[2022-09-26 23:55] #36758 closed

[2022-09-27 01:55] #30527 closed

[2022-09-27 01:55] #30526 closed

[2022-09-27 03:04] tengqm commented on #32645
/close

[2022-09-27 03:04] #32645 closed

[2022-09-27 03:54] #35927 closed

[2022-09-27 04:28] mk46 commented on #36823
Addressed in https://github.com/kubernetes/website/pull/36834
/close

[2022-09-27 04:28] #36823 closed

[2022-09-27 05:55] shurup commented on #36212
It seems that the documentation itself is correct as it has the instruction mentioned above.

/retitle "The specified key does not exist" error while installing kubeadm
/close

[2022-09-27 06:11] jihoon-seo commented on #36212
From https://github.com/kubernetes/website/issues/36212#issuecomment-1259014457:

/retitle "The specified key does not exist" error while installing kubeadm
/close

[2022-09-27 06:11] #36212 closed

[2022-09-27 06:17] #36440 closed

[2022-09-27 07:53] mtardy commented on #36957
Yes it seems to be out of a paragraph HTML tag in the rendered page
![image](https://user-images.githubusercontent.com/11256051/192466496-8c253771-422a-487b-8d5f-2b9f38d479cc.png)

To have a direct link, this issue is about the page [Kubernetes Components](https://kubernetes.io/docs/concepts/overview/components/#cloud-controller-manager).

/triage accepted
/kind bug
/priority backlog

[2022-09-27 07:57] akankshakumari393 commented on #36851
/assign

[2022-09-27 08:06] jihoon-seo commented on #30660
@RA489 How about reverting the PR status to rotten, and let the bot close this PR after certain amount of time?

[2022-09-27 08:09] utkarsh-singh1 commented on #36984
/language en
/kind support

[2022-09-27 08:22] mtardy commented on #36984
Hey, I think this is not a support request, however, it would require more information.

Have you checked the [IP masq agent](https://github.com/kubernetes-sigs/ip-masq-agent) documentation as well that this page link to for more precise information on these topics?

[2022-09-27 08:52] mtardy commented on #28046
Hey @RA489, please don't fight the lifecycle triage robot, this support issue had already time to answer or could reopen the issue then.

This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the #kubernetes-users channel in [Kubernetes slack](https://slack.k8s.io/). You can also search resources like [Stack Overfl

[2022-09-27 08:52] #28046 closed

[2022-09-27 08:54] mtardy commented on #29890
Hey @RA489, please don't fight the lifecycle triage robot, this support issue had already time to answer, or could reopen the issue then.

This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the #kubernetes-users channel in [Kubernetes slack](https://slack.k8s.io/). You can also search resources like [Stack Overf

[2022-09-27 08:55] #29890 closed

[2022-09-27 08:57] mtardy commented on #28078
There was indeed a known issue on katacoda, see issue 33936.

Hey @RA489, please don't fight the lifecycle triage robot, this support issue had already time to answer, or could reopen the issue then.

This issue sounds more like a request for support and less like an issue specifically for docs. I encourage you to bring your question to the #kubernetes-users channel in [Kubernetes slack](https://s

[2022-09-27 08:57] #28078 closed

[2022-09-27 09:01] shurup commented on #36754
@NitishKumar06 did you take the `docker build` command you're using from `make container-image`? I think it's an outdated way to build & run a local website. Can you, please, run `make container-serve` (as instructed [here](https://github.com/kubernetes/website#running-the-website-using-a-container)) instead of this and see if the magic happens?

[2022-09-27 09:01] mtardy commented on #28082
I guess this kind of information would be available in each container runtime documentation. As of today, any container runtime that is compatible with CRI v1 should work. See https://kubernetes.io/docs/setup/production-environment/container-runtimes/#cri-versions.

I encourage you to bring your question to the #kubernetes-users channel in [Kubernetes slack](https://slack.k8s.io/). You can also se

[2022-09-27 09:07] mtardy commented on #29856
Apparently, there was no documentation issue here and this comment brought more details https://github.com/kubernetes/website/issues/29856#issuecomment-930778007.

So it seems that it's indeed a support issue. Feel free to reopen this issue if you think it's a documentation issue.

Please @RA489, don't fight against the triage robot.

/close

[2022-09-27 09:07] #29856 closed

[2022-09-27 09:27] RA489 commented on #30660
sure.
/close

[2022-09-27 09:27] #30660 closed

[2022-09-27 10:48] tssdavey opened #37039 "clarity on behaviour of ports in network policies"
**This is a Feature Request**
**What would you like to be added**
Add clarity around the behaviour of **ports**
On [this](https://kubernetes.io/docs/concepts/services-networking/network-policies/) page I think it could be made clear that, for example.
[code]
allows traffic to 10.0.0.0/24 on port 5978.
While
[code]
allows traffic to: 10.0.0.0/24 on any port
and also allows traffic to: anywhere on p

[2022-09-27 12:09] sftim commented on #37039
/language en

This is partly about ports, but more around understanding the difference between a (YAML) collection of two rules and a (YAML) collection of one rule.

[2022-09-27 12:10] sftim commented on #36984
If you can describe what you wanted when you wrote

then @porrascarlos802018 we might be able to make that into a request to improve the documentation.

[2022-09-27 13:18] sftim commented on #27876
/lifecycle frozen

[2022-09-27 14:51] kirkonru opened #37044 "Umbrella issue: Localizing the Kubernetes website into Russian"
# Kubernetes documentation - the Russian localization project

### Maintainers:

* [shurup](https://github.com/shurup)
* [kirkonru](https://github.com/kirkonru)

This Issue tracks the progress of the localization of the Kubernetes documentation in Russian.

## General workflow

* Choose the article you want to translate from the list below and comment in this issue that you are ready to work on it

[2022-09-27 15:16] harridu commented on #36048
Hi Kanika,

no concerns from my side.

Sorry for the late response. Somehow I missed your EMail.

Regards

Harri

[2022-09-27 15:25] Kartik494 commented on #30182
/remove-lifecycle rotten

[2022-09-27 15:46] GitBatra commented on #31483
Hey @sftim @mehabhalodiya On this issue i want to work upon. Can you please help me with how to begin with?

[2022-09-27 19:50] Santosh1176 opened #37046 "Duplicate words in securityContext"
**This is a Bug Report**

**Problem:**
In **Configure volume permission** section of `securityContext`, while describing the `OnRootMismatch` value for `fsGroupChangePolicy` field, the words *permissions and ownership if* are repeated.
**Proposed Solution:**
Remove duplicate words.
**Page to Update:**
https://kubernetes.io/docs/tasks/configure-pod-container/security-context/

/assign

[2022-09-27 22:26] shannonxtreme commented on #37046
@Santosh1176 do you plan on creating a PR for this?

/triage accepted
/sig docs
/language en

[2022-09-27 22:31] shannonxtreme commented on #37039
Yeah it took me a little while to even see why the two had different behaviour. I don't know that clarifying on this page alone will be very useful. @sftim or open question: would a page similar to https://docs.ansible.com/ansible/latest/reference_appendices/YAMLSyntax.html help at all? Or would that not be a meaningful addition to our docs?

[2022-09-27 22:37] sftim commented on #37039
I think we can definitely explain the gotcha, perhaps with a clear hint to go and learn YAML for _all_ the details about collections.

It's an easy mistake to make with a NetworkPolicy whereas it's not something you'd commonly get wrong with a set of (say) init containers. What we should try hard to avoid is repeating “here's how YAML works, from the bottom up”.

[2022-09-27 22:37] sftim commented on #37044
/language ru
/area localization

[2022-09-27 22:42] shannonxtreme commented on #37039
Good point, I like the idea of linking to somewhere useful like w3schools to learn more about yaml if they arent experienced users

[2022-09-28 00:24] jihoon-seo commented on #36048
@Kanika637 you can self-assign yourself using this command:
/assign @Kanika637

[2022-09-28 05:42] npnwdev opened #37053 "Improvement for k8s.io/docs/concepts/cluster-administration/system-traces/"
The instruction provided on this page looks incomplete or very high level. Could you add an end-to-end demo from configuration, deployment, and seeing traces from one of the system components? It'll be much helpful for newbies like me.

[2022-09-28 06:20] Santosh1176 commented on #37046
Sure, I’ll raise an PR shortly. Thank you.

[2022-09-28 06:21] shurup commented on #37044
@kirkonru thank you for summing it all up! Let's also add PRs to the documents that are translated already but not merged yet, please. E.g.:

[2022-09-28 07:54] wojtek-t commented on #28068
/remove-lifecycle stale

[2022-09-28 08:31] mtardy commented on #37053
Hey! I don't know if you saw it but there is [a suggested getting started guide](https://kubernetes.io/docs/concepts/cluster-administration/system-traces/#:~:text=For%20a%20complete%20guide%20to%20collecting%20traces%20and%20using%20the%20collector%2C%20see%20Getting%20Started%20with%20the%20OpenTelemetry%20Collector.) that might be more complete.

However, if it's not enough, or not Kubernetes sp

[2022-09-28 08:39] muyangren2 opened #37054 "kube-apiserver"
<html>
<body>

https://kubernetes.io/zh-cn/docs/reference/command-line-tools-reference/kube-apiserver/

--service-account-issuer strings
--
  | 服务帐号令牌颁发者的标识符。 颁发者将在已办法令牌的 "iss" 声明中检查此标识符。 此值为字符串或 URI。 如果根据 OpenID Discovery 1.0 规范检查此选项不是有效的 URI，则即使特性门控设置为 true， ServiceAccountIssuerDiscovery 功能也将保持禁用状态。 强烈建议该值符合 OpenID 规范： https://openid.net/specs/openid-connect-discovery-1_0.html 。 实践中，这意味着 service

[2022-09-28 08:48] tssdavey commented on #37039
I think there's a point about the api behaviour as well. In my opinion the page isn’t fully clear that the api does not require a `to` block under `ingress`. Either a `to` block, a `ports` block or both are equally valid.
This only becomes clear when you look at the reference docs: https://kubernetes.io/docs/reference/kubernetes-api/policy-resources/network-policy-v1/ - keen to get other's thought

[2022-09-28 09:54] WESTZERO115 commented on #36863
M22~M33 진행하겠습니다!

[2022-09-28 10:04] Unknown256 opened #37056 "Using NodeLocal DNSCache in Kubernetes Clusters"
sed -i "s/__PILLAR__LOCAL__DNS__/$localdns/g; s/__PILLAR__DNS__DOMAIN__/$domain/g; s/__PILLAR__DNS__SERVER__//g; s/__PILLAR__CLUSTER__DNS__/$kubedns/g" nodelocaldns.yaml

[2022-09-28 10:04] #37056 closed

[2022-09-28 10:11] Unknown256 opened #37057 "Wrong command in “Using NodeLocal DNSCache in Kubernetes Clusters”"
1.25：
[code]

Prior to version 1.25：
[code]

PS：`,` before __PILLAR__DNS__SERVER

if I use script from 1.25 to change `nodelocaldns.yaml`, the pod will crash, but if I use 1.24 version, it is done, so it seems like `,` is missing

[2022-09-28 10:30] Pro-Coder04 commented on #37046
/assign

[2022-09-28 11:14] Shubham82 commented on #37057
Page: https://kubernetes.io/docs/tasks/administer-cluster/nodelocaldns/

[2022-09-28 11:31] Shubham82 commented on #36860
Hi @akankshakumari393
Please look at this process [Submitting blog posts and case studies](https://kubernetes.io/docs/contribute/new-content/blogs-case-studies/) for contributing to the new blog.
This will help you.

[2022-09-28 11:34] Santosh1176 commented on #37046
@Pro-Coder04 I am working on this and have been assigned

[2022-09-28 11:36] akankshakumari393 commented on #36860
Ok thanks i will go through it.

[2022-09-28 11:37] akankshakumari393 commented on #36860
/assign

[2022-09-28 12:19] sftim commented on #37054
/language zh

I assume this is a bug report. If possible, clarify whether the issue is with the upstream (English) docs or with the way those docs have been localized.

/triage needs-information

[2022-09-28 12:22] sftim commented on #37053
We can't really add an end-to-end demo because to do so requires third party software. See https://kubernetes.io/docs/contribute/style/content-guide/#what-s-allowed

What we could do instead is add a blog article that demos how to use the tracing feature. How about that? It would need someone to step forward to write that article, and somebody else to step forward to review it.

/remove-triage acc

[2022-09-28 13:29] joebowbeer opened #37061 "List all Container images in all namespaces"
The alternative mentioned on this page is identical to the thing it is supposed to replace:

https://kubernetes.io/docs/tasks/access-application-cluster/list-all-running-container-images/

This first example used to use `..image` to recursively return all fields named image for all items returned, but now it uses the same jsonpath as the alternative below it:

[code]

Suggest removing the followin

[2022-09-28 13:34] rolfedh commented on #36957
Setting aside the issue of the missing paragraph tag, which we should fix separately, let's compare the result of the change in this PR:
- Before: https://kubernetes.io/docs/concepts/overview/components/#cloud-controller-manager
- After: https://deploy-preview-37048--kubernetes-io-main-staging.netlify.app/docs/concepts/overview/components/#cloud-controller-manager

In effect, this PR adds the foll

[2022-09-28 13:35] Kanika637 commented on #36048
Since I am being assigned, @harridu  can you give a little context that what exactly has to be done in this issue?

[2022-09-28 15:04] #32469 closed

[2022-09-28 15:04] RA489 commented on #32424
/close

[2022-09-28 15:04] #32424 closed

[2022-09-28 15:22] stephen-dahl commented on #35381
after rereading my original post let me me more clear.
Core resources start with /api
all other resources start with /apis
I am asking for this destinction to be made more clear in the docs.

[2022-09-28 15:54] sftim commented on #35381
@stephen-dahl would you be willing to edit the original description that you wrote for the issue, to include that clarification?

[2022-09-28 15:55] sftim commented on #37061
/language en

[2022-09-28 15:58] sftim commented on #36879
Sounds useful.

[2022-09-28 16:03] shannonxtreme commented on #37039
I think the point underneath that talks about _ingress_ and _egress_ makes that evident no? Ingress allows traffic that matches the `from` and `ports` sections, and egress allows traffic that matches the `to` and `ports` sections.

[2022-09-28 16:13] akankshakumari393 commented on #37061
/assign

[2022-09-28 16:21] RA489 commented on #32263
/close

[2022-09-28 16:21] #32263 closed

[2022-09-28 16:32] gain-yoo opened #37065 "[ko] Untranslated sentence in ko/"Deployments" page"
**This is a Feature Request**

**What would you like to be added**

Translate /ko/docs/concepts/workloads/controllers/deployment/#이전-수정-버전으로-롤백 into Korean

**Why is this needed**
Not translated into Korean yet.

**Comments**

[2022-09-28 16:32] kadtendulkar opened #37066 "Markdown style missing on Advanced contributing page"
**Problem**:
The text **#sig-docs** on [link](https://kubernetes.io/docs/contribute/advanced/) is missing markdown style.
Check the page [Advanced Contributing](https://kubernetes.io/docs/contribute/advanced/) for the problem.

**Page to Update:**
https://kubernetes.io/docs/contribute/advanced/

**Proposed Solution:**
It should resolve this issue by adding a backtick symbol and enhancing the docum

[2022-09-28 16:32] gain-yoo commented on #37065
/language ko
/assign

[2022-09-28 21:04] chalin commented on #35299
Analytics for release-branch subdomains from Aug 29 - Sept 27:

So to answer @sftim's question from https://github.com/kubernetes/website/pull/36322#issuecomment-1229198223, yes, we'll be updating the GA site tag for release-branches from v1.25 to v1.21.

Does that sound reasonable?

[2022-09-28 22:25] sftim commented on #37066
/priority awaiting-more-evidence

Why is this improvement worth making? Could it actually be a [trivial edit](https://www.kubernetes.dev/docs/guide/pull-requests/#trivial-edits) if we do?
/language en

[2022-09-28 23:50] npnwdev commented on #37053
@sftim Yes, that would help. could you please include me in the review process? Thanks!

[2022-09-29 01:50] zhangxianting commented on #36036
closed

[2022-09-29 01:50] #36036 closed

[2022-09-29 01:50] zhangxianting commented on #36036
closed

[2022-09-29 04:25] pranavmarla commented on #32422
Hey @RA489 , I see that you closed this issue -- has it been fixed?

[2022-09-29 04:58] RA489 commented on #32422
Hi @pranavmarla  – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with /reopen. This issue will be closed as additional information was unavailable and some time has passed.

[2022-09-29 08:32] Dennis-Rall opened #37077 "Wrong command in kubectl delete doc"
**This is a Bug Report**
The command in the example of the kubectl delete command is wrong:

**Problem:**
![image](https://user-images.githubusercontent.com/56480601/192981781-de5a0dc7-a7c4-45a3-b32f-edf407560c1b.png)

**Proposed Solution:**
kubectl delete -f '*.json'

**Page to Update:**
https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#delete

[2022-09-29 09:32] taniaduggal commented on #37077
/assign

[2022-09-29 09:45] jihoon-seo commented on #37065
/retitle [ko] Untranslated sentence in ko/"Deployments" page
/triage accepted

[2022-09-29 09:57] t-inu commented on #33784
I'll fix it according to the "Proposed Solution", and write as follows in the last part.

To view the commands that you can use in a PR, see the [Prow Command Reference](https://prow.k8s.io/command-help?repo=kubernetes%2Fwebsite). (This is an existing description)
And see the [The Testing and Merge Workflow](https://www.kubernetes.dev/docs/guide/pull-requests/#the-testing-and-merge-workflow) for t

[2022-09-29 11:56] shannonxtreme commented on #37077
This is an auto-generated page that will require a PR in the corresponding kubernetes repo to update the upstream source file

/kind bug

[2022-09-29 12:03] shannonxtreme commented on #36938
If we're updating the PSA doc, we should perhaps work with sig-auth (@tallclair maybe) to identify if there are other Pod Security Standards where PSA only enforces a specific condition or behaviour by default.

[2022-09-29 13:02] nasa9084 commented on #32653
/remove-lifecycle stale

[2022-09-29 13:58] pranavmarla commented on #32422
Thanks. I initially opened the issue because it seemed like the documentation was missing some important details -- looks like that's still the case, so I'll reopen it for now

/reopen

[2022-09-29 14:03] sftim commented on #37077
/sig cli
/language en

[2022-09-29 14:49] kenahoo opened #37082 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
Trying simple `kubectl` commands is giving an error:

[code]

[2022-09-29 15:57] a-mccarthy commented on #36879
This sounds really interesting!

[2022-09-29 16:03] a-mccarthy commented on #30639
/assign

[2022-09-29 16:38] sftim commented on #37082
Thanks for reporting this
/kind bug
/label team/katacoda

[2022-09-29 19:03] jcookson-infoblox opened #37084 "Query about API versioning"
After reading this, am curious if this versioning scheme would fall within this ...
v1beta2alpha3
stable version : v1
beta code version : beta2
new alpha version on that branch : alpha3

[2022-09-29 21:04] emmanuel-sonalake commented on #25174
I'm trying to download the google cloud signing key but I'm using an AMI machine AWS . I can only find the command for Linux Machine but how can this be downloaded with yum?:
`sudo curl -fsSLo /usr/share/keyrings/kubernetes-archive-keyring.gpg https://packages.cloud.google.com/apt/doc/a-key.gpg`

[2022-09-29 23:20] #35206 closed

[2022-09-30 00:12] aceeric opened #37085 "kube-apiserver / kubelet RBAC"
This is about Kubernetes 1.25.0

Folks - as recently as less than a year ago (I think) there was a document https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet-authentication-authorization/. I know because I cited it in my source code in GitHub!

The doc talked about when manually bringing up a Kubernetes cluster - and the doc instructed you to generate a `ClusterRole` and as

[2022-09-30 00:26] #33338 closed

[2022-09-30 01:37] windsonsea opened #37088 "Extra blank lines in a YAML example"
When syncing the file in #37087, find a YAML example has extra lines at: https://kubernetes.io/docs/tasks/job/pod-failure-policy/

Don't know how to fix it yet.

<img width="1047" alt="image" src="https://user-images.githubusercontent.com/79828097/193171283-b0eb6530-e28d-4c79-9579-3b5893b57096.png">

[2022-09-30 01:50] zhangxianting opened #37089 "[zh] Localize added note about page weights and localization"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

/language zh
/kind feature
Localize added note about page weights and localization in content/zh-cn/docs/contribute/style/content-organization.md

[2022-09-30 01:50] zhangxianting commented on #37089
/language zh
/assign

[2022-09-30 05:11] Shubham82 commented on #37088
Hi @windsonsea
Similar kind of  issues opened earlier, Here it is:

Some yaml examples have an extra blank line between every line #36813

debug-cluster/monitor-node-health: YAML file contains many empty lines #36361

Unwanted spaces in YAML file #36003

[2022-09-30 05:12] Shubham82 commented on #37088
PR #36850 will resolve this issue.

[2022-09-30 05:12] Shubham82 commented on #37088
/kind bug
/triage accepted

[2022-09-30 05:37] tengqm commented on #37054
/triage bug

[2022-09-30 05:38] tengqm commented on #37054
/kind bug
/triage accepted

[2022-09-30 05:39] Shubham82 commented on #37085
Hi @aceeric
This page is moved under `reference/access-authn-authz` in v1.25 by this PR #33130
Here is the page: https://kubernetes.io/docs/reference/access-authn-authz/kubelet-authn-authz/

[2022-09-30 07:35] riita10069 opened #37095 "[ja] Update organize-cluster-access-kubeconfig.md"
**This is a Feature Request**

There are several updates at the upstream document.

**What would you like to be added**

**Why is this needed**

**Comments**

/language ja
/assign

[2022-09-30 07:41] mengjiao-liu commented on #37054
/assign

[2022-09-30 08:05] s-kawamura-w664 opened #37097 "[ja] fix the translation of the word container."
**This is a Feature Request**

**What would you like to be added**

In Japanese guideline, "container" should be translated to "コンテナ", but some translations are "コンテナー".
Consistent translations are desirable.
(This is commented in #36853)

**Why is this needed**
The translations of container are not consistent.

**Comments**
Currently, the following should be fixed.
[code]

/language ja
/assign

[2022-09-30 09:40] #37054 closed

[2022-09-30 10:16] RA489 commented on #36969
IMO adding note will be better.

[2022-09-30 10:35] JayeshVipparthi opened #37100 "Interactive Tutorial - Creating a Cluster"
MiniKube version is not working sinc eit not installed properly

[2022-09-30 10:42] JayeshVipparthi commented on #37100
Okay

[2022-09-30 10:56] tengqm commented on #36386
@rata Please check the syntax of  the sentence. It simply doesn't flow.

[2022-09-30 11:08] sftim commented on #36969
I recommend removing the stale hyperlinks.

[2022-09-30 11:10] sftim commented on #37088
Also see:

https://github.com/kubernetes/website/issues/36813
https://github.com/kubernetes/website/issues/36361
#36003

/remove-triage accepted
/triage duplicate

[2022-09-30 11:11] sftim commented on #37085
/kind support
/language en

[2022-09-30 11:12] sftim commented on #37085
I think we can close this as there's no issue reported as needing a fix and no feature request being made.

[2022-09-30 11:13] Shubham82 commented on #37085
I agree with you.

[2022-09-30 11:15] Shubham82 commented on #37085
closing this issue.
/close

[2022-09-30 11:15] #37085 closed

[2022-09-30 12:12] #37061 closed

[2022-09-30 12:46] sftim commented on #33361
/reopen
/remove-lifecycle rotten

[2022-09-30 12:46] sftim commented on #33361
We should triage this.

[2022-09-30 12:48] #36851 closed

[2022-09-30 13:08] #36903 closed

[2022-09-30 13:12] #36912 closed

[2022-09-30 13:26] #28616 closed

[2022-09-30 13:52] #36655 closed

[2022-09-30 15:10] KlockiLego opened #37108 "Improvement for k8s.io/docs/setup/production-environment/container-runtimes/"
This section:
https://kubernetes.io/docs/setup/production-environment/container-runtimes/#cgroupfs-cgroup-driver

I would add information like here:
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/configure-cgroup-driver/#configuring-the-kubelet-cgroup-driver

Note: In v1.22, if the user is not setting the cgroupDriver field under KubeletConfiguration, kubeadm will default it to system

[2022-09-30 16:27] kdaula opened #37109 "Potentially stale: https://kubernetes.io/docs/tasks/configure-pod-container/user-namespaces/"
Per [Use a User Namespace With a Pod](https://kubernetes.io/docs/tasks/configure-pod-container/user-namespaces/), https://github.com/kubernetes/enhancements/issues/127  is slated for 1.25 alpha. However, Kubernetes 1.25 is shipped. Seems like the doc or issue needs a revision.

[2022-09-30 18:37] neolit123 commented on #37108
this section already links to:
https://kubernetes.io/docs/setup/production-environment/container-runtimes/#migrating-to-the-systemd-driver-in-kubeadm-managed-clusters

already links to:
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/configure-cgroup-driver

PRs welcome with proposed improvements.

/help
/sig cluster-lifecycle

[2022-09-30 20:34] #36983 closed

[2022-10-01 14:23] #37046 closed

[2022-10-01 20:43] sftim commented on #37109
https://kubernetes.io/docs/tasks/configure-pod-container/user-namespaces/ states that the user namespace feature is alpha and first shipped in Kubernetes v1.25

Is that correct?

/language en
/priority awaiting-more-evidence
/sig node

[2022-10-01 20:44] sftim commented on #37108
If someone wants to help here, I'm not sure what steps they should follow to assist.
Because of that:
/remove-help

[2022-10-01 20:44] sftim commented on #37108
/language en

[2022-10-01 20:54] sftim commented on #37057
/retitle Wrong command in “Using NodeLocal DNSCache in Kubernetes Clusters”

[2022-10-02 05:53] KimDoubleB opened #37129 "[ko] Translate `docs/concepts/security/security-checklist` to Korean"
**This is a Feature Request**

**What would you like to be added**

Translate `docs/concepts/security/security-checklist` to Korean
- https://kubernetes.io/docs/concepts/security/security-checklist/

**Why is this needed**

Not translated yet

**Comments**

/language ko
/assign

[2022-10-02 13:34] #36706 closed

[2022-10-02 13:57] GitBatra commented on #35936
Hey @rolfedh, I would like to work on this issue

[2022-10-02 13:57] GitBatra commented on #35936
/assign

[2022-10-02 15:10] #36910 closed

[2022-10-02 15:19] RA489 commented on #32750
/close

[2022-10-02 15:19] #32750 closed

[2022-10-02 15:24] sftim commented on #33847
There is a file `/etc/localtime` for Linux systems. Making a copy of that file available readonly to a container lets the Pod / container pick up the node's local timezone, whatever that is.
I don't know what is available for Windows.

[2022-10-02 16:17] sftim commented on #37057
/language en
/kind bug

Seems valid.

[2022-10-02 16:18] amolmote commented on #35936
@GitBatra  refer this issue #35600 and first search with file whether someone already opened it or not

[2022-10-02 16:18] amolmote commented on #35936
/unassign @GitBatra

[2022-10-02 16:19] sftim commented on #37057
@Unknown256 I edited the issue description to make it more readable.

[2022-10-02 16:22] sftim commented on #28068
As a contributor mainly to SIG Docs, I won't mark this as frozen. However, SIG Scalability folks: you are welcome to triage this as Accepted, and then also to freeze it.

[2022-10-02 16:23] sftim commented on #28068
Repeating https://github.com/kubernetes/website/issues/28068#issuecomment-856953198:

[2022-10-02 16:28] sftim commented on #31483
@GitBatra (and anyone else looking for help) a good place to ask for that advice is the #sig-docs channel in the [Kubernetes Slack organization](https://github.com/kubernetes/community/blob/master/communication/README.md#slack).

[2022-10-02 16:30] sftim commented on #31483
https://github.com/kubernetes/website/issues/31483#issuecomment-1148521363 should cover what changes to make. It's OK to ask questions here - on GitHub - if that outline isn't clear. Please try to be specific about what part of that advice needs explaining further.

[2022-10-02 16:31] sftim commented on #31483
You are right @subhamgcon . Kubernetes does not recommend one metrics / monitoring product or project over any other.

[2022-10-02 16:42] #34212 closed

[2022-10-02 16:44] #33228 closed

[2022-10-02 16:45] sftim opened #37132 "Warn about passwords in kubeconfig"
**This is a Feature Request**

**What would you like to be added**
Add a comment to the example Kubernetes client config in https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/

[code]

**Why is this needed**
Storing a password in a Kubernetes client config is risky, and we have an opportunities to call out other options.

**Comments**
A good alternative

[2022-10-02 18:31] vaibhav2107 commented on #33426
/remove-lifecycle stale

[2022-10-02 18:31] vaibhav2107 commented on #33847
/remove-lifecycle stale

[2022-10-02 18:55] #33058 closed

[2022-10-03 06:14] shurup commented on #36754
Hi @NitishKumar06! Did my last suggestions help you to run the website locally?

[2022-10-03 07:34] utkarsh-singh1 commented on #37100
Hi @JayeshVipparthi, Can you elaborate your issue, is minikube not working with your current environment in the interactive tutorial?

/language en
/priority awaiting-more-evidence

[2022-10-03 07:48] Shubham82 commented on #37109
Hi @sftim, yes it is correct. Here is PR #35235 for it which merged in k8s v1.25

[2022-10-03 07:53] Shubham82 commented on #37109
I think we can close this issue if there is no issue that needs to fix.
WDYT @sftim

[2022-10-03 08:13] Naseem010 commented on #35959
Can u please assign me on this?
i wanna work on it.

[2022-10-03 10:12] EllaRaveala opened #37136 "Install and Set Up kubectl on macOS"
When running kubectl -commands, such as kubectl version, I suddenly started to get an error: Unable to connect to the server: net/http: TLS handshake timeout.

After tying everything else, I tried to install kubectl with homebrew again, but the same problem occurred. Client version was ok.

Current versions:
kubernetes-cli  is 1.25.2
Kustomize Version: v4.5.7

Any ideas what could be the reason? I

[2022-10-03 10:23] XANi opened #37137 "Configure a Pod to Use a PersistentVolume for Storage shows wrong config description"
This config is described wrong:

[code]

the `storage: 10Gi` suggests there is a limit placed on storage. That is **not** the case, this snippet will "just" mount `/mnt/data` on host on the pod, it will not set any limit on amount of storage that pod can use

See Red hat docs about it: https://docs.openshift.com/container-platform/4.7/storage/persistent_storage/persistent-storage-hostpath.html

[2022-10-03 10:24] Shubham82 commented on #37077
I think we have to update it here:
https://github.com/kubernetes/website/blob/main/static/docs/reference/generated/kubectl/kubectl-commands.html#L3034

PTAL!

[2022-10-03 10:42] sftim commented on #37077
As the URL hints, https://github.com/kubernetes/website/blob/main/static/docs/reference/generated/kubectl/kubectl-commands.html is a generated file. Also see https://github.com/kubernetes/website/issues/37077#issuecomment-1262172799

[2022-10-03 10:43] sftim commented on #37137
We could link to https://kubernetes.io/docs/concepts/storage/volumes/#resources which already makes this clear.

/language en
/kind feature

[2022-10-03 10:46] sftim commented on #37137
We need to set a `capacity` for the PV so that the control plane can see that it satisfies the PVC. However, we could clarify that:
- `hostPath` isn't suitable for production
- this volume type only enforces a storage limit if you set that up at node level (for example, by creating a block device and mounting it).

[2022-10-03 10:47] #34809 closed

[2022-10-03 12:29] mythi commented on #37108
I think the suggestion is to add something about `KubeletConfiguration` to container-runtimes pages but I don't think that fits well on that page because it only covers the container runtime side. What could be added though is that there's a note/reminder to ensure they are always the same. I can work on that if we agree what's what we want here.

[2022-10-03 14:11] GitBatra commented on #35939
/assign

[2022-10-03 14:47] GitBatra commented on #35936
Hey @rolfedh can you help me with how to localize the content. Which tool i have to use it? Any reference you can give would be very helpful

[2022-10-03 14:54] amolmote commented on #35936
Join the kubernetes slack then join #kubernetes-docs-hi channel we will help you for your first contribution

[2022-10-03 14:57] GitBatra commented on #35936
Thank you @amolmote for your reply. Joining soon

[2022-10-03 15:36] mythi commented on #37108
hmm, looks like this is already covered too.

[2022-10-03 15:58] sftim commented on #37132
@bishal7679 once this issue is triaged, I'd expect that contributors look at the issue and decide whether they know how to resolve it.

If you - or anyone else - aren't sure how to resolve a particular issue, that's OK. In that case, you have a few options:
- ask in Kubernetes Slack for advice
   - for this issue specifically, WG API Expression or SIG Security might be able to offer advice around

[2022-10-03 15:59] sftim commented on #37132
If you decide that you don't know how to work on this @bishal7679 then I recommend that you unassign yourself, so it's clear to other contributors that help is needed here.

[2022-10-03 16:12] mythi commented on #37108
some additional feedback in #36492

[2022-10-03 16:16] sftim commented on #36492
It sounds like the thing to call out is that, in the kubeadm docs, we should explicitly say that the setting that kubeadm applies by default is an override to the built-in kubelet default.

Does that sound right?

[2022-10-03 17:10] jpmcb commented on #37109
We can close this: phase 1 of the implementation made it into k8s v1.25: https://github.com/kubernetes/kubernetes/pull/111090 so the `alpha` docs are valid

[2022-10-03 17:25] sftim commented on #37109
/close
/triage invalid
/remove-priority awaiting-more-evidence

Nothing to fix

[2022-10-03 17:25] sftim commented on #37109
/reopen

[2022-10-03 17:26] sftim commented on #37109
/close not-planned

[2022-10-03 17:26] #37109 closed

[2022-10-03 18:18] dilyanpalauzov commented on #36492
Yes.  Ideally kubeadm and kubelet shall explicitly state, that their default is distinct from the default of the other tool.

[2022-10-03 21:46] EdmundsEcho opened #37143 "Improvement for k8s.io/docs/concepts/services-networking/ingress/"
The content is well presented.  It made it easy for me to see a gap: how to map a /foo/*/bar to a service.  The document indicates use of a wildcard for hosts, but not paths.  Whether or not supported, this information might be useful if explicitly clarified.  Thank you!!

[2022-10-04 09:11] t-inu commented on #33784
I found that the role restrictions have already fixed in https://github.com/kubernetes/website/pull/36899
/close

[2022-10-04 09:11] #33784 closed

[2022-10-04 11:18] sftim commented on #37143
/sig network
/kind feature
/language en

[2022-10-04 11:18] sftim commented on #37143
/priority backlog

[2022-10-04 11:18] sftim commented on #37143
/triage accepted

It'd be useful if you could put a hyperlink to that concept page in the description of the issue @EdmundsEcho. Are you willing to make that change?

[2022-10-04 11:58] #36821 closed

[2022-10-04 12:00] #37095 closed

[2022-10-04 12:33] palnabarun commented on #35896
@enj @liggitt -- as author/reviewer of the [External Credential Provider KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/541-external-credential-providers), can you please review the doc change suggested by @shannonxtreme in https://github.com/kubernetes/website/issues/35896#issuecomment-1218520038?

[2022-10-04 12:37] liggitt commented on #35896
A few suggestions:
* I probably would not put "panic" in the heading title
* Can we link to https://kubernetes.io/docs/reference/access-authn-authz/authentication/#client-go-credential-plugins as well
* I'm on the fence about whether we need the cloud-specific links in this doc... if you try to use them in a kubectl version that has removed them, you already get a message output at time of use wit

[2022-10-04 13:03] sergeyshevch commented on #36839
@rolfedh Sorry. But bad that it's delayed a little bit more than I expected. I will work on it this week.

[2022-10-04 13:07] hj-johannes-lee commented on #36863
안녕하세요.! 제가 조금씩이라도 좀 의미있는 컨트리뷰션을 좀 해보려고 하다가, 번역 관련 된 내용도 있다는 것을 알게 되었습니다.!
여기에 그냥 코멘트로 하고자 하는 번역 남기면 assign 해주시는 건가요? :)

만약 그렇다면,, M71-M73 진행해도 될까요? :)

[2022-10-04 13:12] sftim commented on #36969
I now agree with https://github.com/kubernetes/website/issues/36969#issuecomment-1256009693

/remove-triage accepted

[2022-10-04 13:14] sftim commented on #36969
/triage unresolved

We won't remove those links and we won't expect to do the toil for each release for tidying things up.
It would be better to put effort towards serving archived versions of the docs for longer.

[2022-10-04 13:41] rolfedh commented on #36839
No worries. Thanks!

[2022-10-04 13:44] enj commented on #35896
I personally do not think the kube authn docs should contain cloud-specific links.  It is on the cloud providers to migrate their users anyway, and the cloud CLI tools are fully capable of hiding the bulk of this migration by performing runtime checks and/or preferring credential plugins over the legacy approach.

[2022-10-04 13:48] seokho-son commented on #36863
@hj-johannes-lee
기여에 관심 가져주셔서 감사합니다!! 환영합니다. :)
M71-M73 진행해주시면 좋을 것 같습니다.
그런데 해당 이슈에 Task 처리는 한글 작업 브랜치(마일스톤: dev-1.25-ko.1) 일정과 연계가 되어 있어서,
다소 빠르게 처리해야 할 수도 있을 것 같습니다.
꼭 여러개의 Task를 한꺼번에 처리해야 하는 것은 아니니, Task를 하나씩 처리해보시면 어떨까요?
(예를 들면, M71 우선 처리, 이후 다른 Task를 다시 할당하여 처리)

[2022-10-04 14:00] sftim commented on #35896
I agree about not including cloud-provider-specific links. Integrations with cloud providers are not required for a (vanilla) Kubernetes cluster to function.

See https://github.com/kubernetes/enhancements/tree/master/keps/sig-docs/1326-third-party-content-in-docs#readme for some more context.

[2022-10-04 14:56] seokho-son commented on #37129
/triage accepted

Thanks!

[2022-10-04 14:57] seokho-son commented on #36799
/close

[2022-10-04 14:58] seokho-son commented on #36686
/close

[2022-10-04 14:59] seokho-son commented on #36122
/close

[2022-10-04 15:00] #36122 closed

[2022-10-04 15:00] seokho-son commented on #36102
/close

[2022-10-04 20:12] a-mccarthy commented on #35299
just wanted to note that we have a google analytics custom event for our feedback yes/no button that shows at the bottom of each page. we should make sure that this works the same in the next version (not sure if we've track this somewhere or not). More details in on the tag in: https://github.com/kubernetes/website/blob/main/layouts/partials/feedback.html

[2022-10-04 20:26] hj-johannes-lee commented on #36863
넵, 말씀 주신대로 하나씩 하고서 PR 올려보겠습니다.!

[2022-10-04 23:02] #36539 closed

[2022-10-05 01:17] jihoon-seo commented on #37136
/kind support

[2022-10-05 04:00] taniaduggal commented on #37077
/assign

[2022-10-05 07:12] Mandraenke opened #37157 "Pod Lifecycle - force termination docs should mention the possibility of resources running forever"
When forcefully deleting a pod, kubectl issues a warning:
[code]

[2022-10-05 08:04] sftim commented on #34080
Fixed in #34188
/close

[2022-10-05 08:13] #34080 closed

[2022-10-05 08:54] Kartik494 commented on #37137
/sig storage

[2022-10-05 09:07] sftim commented on #37157
/language en
/triage accepted
/kind feature

[2022-10-05 09:26] sftim commented on #37157
/close

Fixed in #37158

[2022-10-05 09:26] #37157 closed

[2022-10-05 10:38] rata commented on #36386
@tengqm I'm not a native english speaker. Is this correct?

Otherwise, can you suggest exactly how you want that to be written?

[2022-10-05 10:40] sftim opened #37160 "Switch manifests in Namespaces Walkthrough to be YAML"
**This is a Clean up Request**

**What would you like to be added**
Switch manifests used in https://kubernetes.io/docs/tasks/administer-cluster/namespaces-walkthrough/ from JSON to YAML

:warning: Do not change the meaning of those manifests in any way.

There are two manifests in https://kubernetes.io/docs/tasks/administer-cluster/namespaces-walkthrough/ that are JSON.
Now, technically all JSON

[2022-10-05 11:22] #33543 closed

[2022-10-05 13:07] sftim commented on #37160
IMO, it's better to add the new YAML file and leave the existing example file in place.

[2022-10-05 14:11] sftim commented on #37084
/retitle Query about API versioning

I'm not really sure what improvement you're suggesting here @jcookson-infoblox

Maybe you had a question you weren't able to answer?

/triage needs-information
/language en

[2022-10-05 14:12] rjt65 opened #37164 "Interactive Tutorial - Deploying an App"
the interactive demo is bombing azat this step in module 2 - i am running Proxy  put Curl into proxy it runs on primary page but hangs doing nothing

curl http://localhost:8001/version

Note: Check the top of the terminal. The proxy was run in a new tab (Terminal 2), and the recent commands were executed the original tab (Terminal 1). The proxy still runs in the second tab, and this allowed our cu

[2022-10-05 16:36] kadtendulkar opened #37166 "Typo on announcement section on kubernetes official website"
**Problem:**
The text **opportunites** is mistyped on the announcement section of [kubernetes official website](https://kubernetes.io/).
For the problem, check the page [Kubernetes](https://kubernetes.io/).

**File to Update:**
data/announcements/scheduled.yaml

/good-first-issue
/kind document
/assign
/language en

[2022-10-05 17:35] carlin-q-scott opened #37168 "TLS Secrets"
I'm confused by the [documentation about creating a TLS secret](https://kubernetes.io/docs/concepts/configuration/secret/#tls-secrets) from a PEM cert. It states:

A kubernetes.io/tls Secret stores the Base64-encoded DER data for keys and certificates. If you're familiar with PEM format for private keys and for certificates, the base64 data are the same as that format except that you omit the init

[2022-10-05 21:16] sftim commented on #37168
I think this issue report duplicates https://github.com/kubernetes/website/issues/32869
/triage duplicate
/language en

[2022-10-05 21:21] sftim commented on #37166
/remove-good-first-issue

Banner changes are actually a bit weird.

[2022-10-05 21:21] sftim commented on #37166
/language en

[2022-10-05 21:21] sftim commented on #37166
/triage accepted

[2022-10-05 21:27] omerbensaadon commented on #12329
hey! PM from GitHub here.

Just wanted to say that I'm adding "allow users to track issues alongside some descriptive text" based on your feedback.

If you want to use Tasklists now, just remove the text next to the Issue Links and it should work as expected.

Thank you for your feedback and thanks especially for including a link!

[2022-10-06 07:23] #33765 closed

[2022-10-06 08:28] utkarsh-singh1 commented on #37164
Hi @rjt65, Can you reload your interactive session if you can't get your result and check again because I am currently running the same command, and it is working for me.

`curl http://localhost:8001/version`

Output

  "major": "1",
  "minor": "20",
  "gitVersion": "v1.20.2",
  "gitCommit": "faecb196815e248d3ecfb03c680a4507229c2a56",
  "gitTreeState": "clean",
  "buildDate": "2021-01-13T13:20:00Z

[2022-10-06 08:32] Seo-yul commented on #36686
/reopen

[2022-10-06 11:20] chalin commented on #35299
@a-mccarthy: how do you access the feedback currently?

[2022-10-06 12:11] sftim commented on #36333
/area web-development
/priority backlog

Minifying assets for older docs sounds useful. However, there are other issues I'd prefer us to prioritize - for example, https://github.com/kubernetes/website/issues/23518

[2022-10-06 12:57] dacamposol opened #37181 "Managing Service Accounts page states that token controller automatically creates Secret on ServiceAccount creation"
In the [documentation about Managing Service Accounts](https://github.com/kubernetes/website/blob/main/content/en/docs/reference/access-authn-authz/service-accounts-admin.md), it says the following in about the Token Controller:

But that's not true from K8s version 1.24+, and the Secret has to be explicitly created if we want to issue a token for that Service Account.

I think that should be refl

[2022-10-06 13:36] a-mccarthy commented on #35299
@chalin it gets log as an event, so you can view it in google analytics in the Behavior>Events section. I was just looking into this b/c i was curious, and was told of the connection between the feedback on the docs pages and google analytics.

At the moment, we don't report out this data anywhere, but we should at some point :)

Heres the code snippet for how it's captured and what we send.
[code

[2022-10-06 15:20] sftim commented on #36254
Similar to https://github.com/kubernetes/website/issues/37181

[2022-10-06 15:21] sftim commented on #37181
/retitle Managing Service Accounts page states that token controller automatically creates Secret on ServiceAccount creation
/kind bug
/language en

@shannonxtreme did you have any work-in-progress that might help with this?

[2022-10-06 15:21] sftim commented on #37181
This isn't true, you can issue a token using the TokenRequest mechanism (which we need to document better).

[2022-10-06 15:27] savitharaghunathan commented on #37132
/triage accepted

[2022-10-06 15:31] a-mccarthy opened #37187 "Formalize processes for regularly upgrading website tools"
**This is a Feature Request**

Currently there isn't a process or automation that covers upgrading the tools we use for the kubernetes.io website. Specifically Hugo and our theme Docsy.

**What would you like to be added**

We should determine a list of tools we need to keep updated, and then create a way to trigger updating the tools at an interval that makes sense for the project and maintainer

[2022-10-06 16:17] sftim commented on #37187
/priority important-longterm
/triage accepted

[2022-10-06 16:34] Seo-yul opened #37188 "[ko]Translate website/content/en/blog/_posts/2021-07-14-upcoming-changes-in-kubernetes-1-22/index.md"
This is a Feature Request

What would you like to be added
Translate kubernetes blog content (title: _Kubernetes API and Feature Removals In 1.22: Here’s What You Need To Know_) into Korean

file path: content/en/blog/_posts/2021-07-14-upcoming-changes-in-kubernetes-1-22/index.md
web page url: https://kubernetes.io/blog/2021/07/14/upcoming-changes-in-kubernetes-1-22/
github file url: https://githu

[2022-10-06 16:36] shannonxtreme commented on #37181
Maybe we can go with something like this?

For the first bullet point in that list.

WDYT Tim? I can add that to my WIP draft as well for the new concept

[2022-10-06 17:00] nate-double-u opened #37190 "Update training to mention PCA"
**This is a Feature Request**

**What would you like to be added**
As suggested in https://github.com/cncf/techdocs/issues/139:
* update the training page (https://kubernetes.io/training/) to include a reference to PCA (in the _Get Kubernetes Certified_ section): https://www.cncf.io/certification/pca/
* Update section name from "Get Kubernetes Certified" to "Get Kubernetes and Cloud Native Certifi

[2022-10-06 18:30] thisisobate commented on #37190
Would love to take on this issue.
/assign me

[2022-10-06 18:31] thisisobate commented on #37190
/assign @thisisobate

[2022-10-06 21:35] EmilyXinyi commented on #31186
/assign

[2022-10-06 23:58] tengqm commented on #37187
Thanks for filing this.

[2022-10-07 09:42] #33576 closed

[2022-10-07 11:44] sftim commented on #37190
The [content guide](https://kubernetes.io/docs/contribute/style/content-guide/#what-s-allowed) doesn't make it clear that this is or isn't OK, as the training page is outside of our docs.

It's a switch from the spirit of the content guide, though: previously, we explicitly didn't favor projects that were part of the LF / CNCF over other vendors' projects. If we're now doing that, I suggest we go

[2022-10-07 12:09] sftim commented on #37190
Maybe we change the top nav to take people to https://www.cncf.io/certification/training/#kubernetes and annotate the “Training” item with an icon to hint that it's an off-site link?

To make that work, we / CNCF could put some time into making https://www.cncf.io/certification/training/#kubernetes be a working fragment.

[2022-10-07 14:07] a-mccarthy opened #37200 "Update community docs to include more Localization team information and details on the subproject"
**This is a Feature Request**

Right now we have some basic information in the community repo for the Localization subproject, https://github.com/kubernetes/community/tree/master/sig-docs. This is where all SIGs list information about their SIG and subprojects.

I'd like to propose that we expand on the localization subproject content to be more like the Blog subproject docs, https://github.com/ku

[2022-10-07 14:07] a-mccarthy commented on #37200
/assign

[2022-10-07 14:13] a-mccarthy commented on #37200
Would appreciate feedback on this issue :)

[2022-10-07 14:47] a-mccarthy opened #37201 "Feedback form on pages includes clicks from bots in Google Analytics"
**This is a Bug Report**

Looking at the data from out feedback form, it appears that a lot of data is from bots. Google Analytics has a way to filter bot activity, https://support.google.com/analytics/thread/16422940?hl=en. But we do not have that enabled

It looks like bot activity is turned off by default in the next version of Google Analytics, https://support.google.com/analytics/answer/98883

[2022-10-07 14:50] a-mccarthy commented on #37201
also, feedback for is located on the bottom of doc pages: https://kubernetes.io/docs/tutorials/. and tracks "Was this page helpful".

Until we get the filtering figured out, we aren't able to accurately see if pages are helpful/unhelpful.

[2022-10-07 14:53] a-mccarthy commented on #35299
following up about the feedback form again, it appears that we are seeing some bot data in the analytics (more details in the #37201). It appears that known bot traffic is filtered out by default in GA4, https://support.google.com/analytics/answer/9888366?hl=en. And we can filtering it out in the current GAs. Wanted to post an update here for awareness :)

[2022-10-07 20:40] antaloala opened #37203 "StatefulSets - improvement on RollingUpdates section"
I think it would be really useful to comment, at the end of the [StatefulSet - Rolling Updates section](https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#rolling-updates) that if a pod not-yet-upgraded crashes as the rolling update procedure is running, the statefulset controller:

- pauses the ongoing rolling update procedure (once the being upgraded pod (at the time of that

[2022-10-07 22:26] thisisobate commented on #37190
Sounds like a good idea.
@nate-double-u @caniszczyk

[2022-10-08 03:07] mengjiao-liu commented on #37089
Fixed by #37091
/close

[2022-10-08 03:07] #37089 closed

[2022-10-08 07:26] umeshw77 opened #37206 "Blank lines when copying example manifests"
I have a suggestion for the "copy to clipboard" option that is available at the right top of any YAML file examples in docs. The copied content when pasted on any editor seems to insert newlines, whereas if same yaml if copied manually by selecting text doesn't insert newlines. The newlines makes the content pretty much unreadable, can this be addressed please?

e.g. Text copied using copy to clip

[2022-10-08 13:12] afbjorklund commented on #35921
The versions are now in sync, since b63c85ff84321fe17097a2d54026a848c6b1f3dc

release
packages/rpm/kubelet.spec:%global CRI_TOOLS_VERSION 1.25.0
packages/rpm/kubelet.spec:%global CNI_VERSION 1.1.1

website
content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md:CRICTL_VERSION="v1.25.0"
content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md:CNI_PLUGINS_V

[2022-10-08 13:12] #35921 closed

[2022-10-08 13:48] SUGARXUST commented on #35959
This issue has been solved, please consider closing.

[2022-10-08 17:15] sftim commented on #19309
This is fixed.
/close

[2022-10-08 17:15] #19309 closed

[2022-10-08 18:13] sftim commented on #21867
/priority backlog

[2022-10-08 18:14] sftim commented on #18231
/sig docs
/language en

[2022-10-08 18:15] sftim commented on #31612
/remove-lifecycle stale

[2022-10-08 18:15] sftim commented on #25119
Is this issue still needed? It might be too broad.

[2022-10-08 18:17] shannonxtreme commented on #25119
Might be too broad yes. I think there are useful asks in it though. Some have been improved on since this was opened. Maybe this could morph into a collection of the various umbrella issues like ServiceAccount, Secrets, etc? Or we can just close this

[2022-10-08 18:18] sftim commented on #27840
Would anyone like to open a PR to add a diagram to that page? It'd be welcome.

[2022-10-08 18:20] sftim commented on #28054
(a question that @NitishKumar06 asked)

I don't understand that question. We don't need to _update_ any links. Instead, we need to _add_ a link. The page we will update is https://kubernetes.io/ and we will add some new text that links to https://kubernetes.io/releases/download/

[2022-10-08 18:24] sftim commented on #30764
Relevant to https://github.com/kubernetes/enhancements/issues/2337

[2022-10-08 18:55] tobiasgbg opened #37222 "Improvement for k8s.io/docs/tasks/configure-pod-container/pull-image-private-registry/"
"You need to have a Kubernetes cluster, and the kubectl command-line tool must be configured to communicate with your cluster."

Do I have to configure the kubectl command on the worker nodes?

[2022-10-08 19:41] sftim commented on #37222
/kind support

We could clarify that you don't need to install and configure `kubectl` on each node; however, this ought to be implied by the fact that we don't state it is needed. There is a very long list of things that readers _don't_ need to do to follow a page, and I'm wary of trying to list these.

/language en

[2022-10-08 19:43] sftim commented on #37206
Similar to:
#36003
#36361
#36813
#37088

/triage duplicate
/retitle Blank lines when copying example manifests

[2022-10-08 19:49] sftim commented on #31379
One more thing to fix, as far as I can see:
[code]

I _think_ the fix is to change “Docker daemon” to “container runtime”, but I'm not sure.

[2022-10-08 19:53] sftim commented on #31585
/label good-first-issue

All you need to do is remove https://kubernetes.io/docs/tasks/administer-cluster/reconfigure-kubelet/ from the docs.

[2022-10-08 19:56] sftim commented on #31585
/good-first-issue

https://github.com/kubernetes/enhancements/blob/2cd758cc6ab617a93f578b40e97728261ab886ed/keps/sig-node/281-dynamic-kubelet-configuration/kep.yaml states that the feature was removed.

@nate-double-u why did we take this change out of the v1.24 milestone?

[2022-10-08 20:32] Ziphone opened #37223 "Elaborate the possibility of container termination to complete before Endpoints reconciliation"
**This is a Feature Request**
The section [1] should mention the possibility of all containers being terminated before the Pod has been removed from associated Endpoint resources. As this could cause some failed connections until the Endpoint controller has completed reconciliation.

1 - https://github.com/kubernetes/website/blob/main/content/en/docs/concepts/workloads/pods/pod-lifecycle.md?plain=

[2022-10-08 23:15] sftim commented on #37203
/kind feature
/language en

[2022-10-08 23:30] sftim commented on #37223
How I'd tackle this:
- update https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-termination-forced to mention that container failure can lead to forced Pod termination (for example: if the [restart policy](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#restart-policy) is `Never`)
- also update https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#

[2022-10-08 23:51] Ziphone commented on #37223
Sounds like a good idea, Tim.

I also think that the content on graceful Pod deletion [1] should reflect these issues, caused by eventual consistency. When performing a regular rolling update, there is also a potential for opening connections to terminating pods - as Kubernetes does not (from my understanding) enforce Endpoint updates to take place (and eventually propagate to service proxy) befor

[2022-10-09 01:32] AlexRITIAN opened #37226 "Pod article missing PodAffinity"
Pod article Chinese version lacks Podaffinity chapter

https://kubernetes.io/zh-cn/docs/reference/kubernetes-api/workload-resources/pod-v1/#Pod

[2022-10-09 02:14] mengjiao-liu commented on #37226
/triage accepted
/language zh

[2022-10-09 08:54] hamees-sayed commented on #31585
/assign

[2022-10-09 09:02] weiy730 commented on #37226
/assign

[2022-10-09 09:39] hamees-sayed commented on #31585
@sftim should I also remove all the links that lead to [/content/en/docs/tasks/administer-cluster/reconfigure-kubelet.md]?(https://github.com/kubernetes/website/blob/main/content/en/docs/tasks/administer-cluster/reconfigure-kubelet.md)

for example, here: [at the bottom, how can I learn more](https://github.com/kubernetes/website/blob/f6b4fedd70632144f25d661b63af2ff0f251e315/content/en/blog/_posts

[2022-10-09 09:59] javadoors commented on #36442
/accept

[2022-10-09 10:00] javadoors commented on #36442
/triage accepted

[2022-10-09 18:34] saksham31 opened #37238 "Interactive Tutorial - Updating Your App"
In Module 6 - (Updating Your App), I'm unable to interact with the terminal in order to get the hands on practise with kubernetes. Neither the zoom in and zoom out button button is working.

![Screenshot from 2022-10-09 23-57-55](https://user-images.githubusercontent.com/72609878/194773591-0de69c74-707b-47fa-8165-fb84f126f17a.png)

[2022-10-09 19:09] #27439 closed

[2022-10-10 02:20] ShankyJS commented on #13948
Hey @raelga can I please get assigned:  Declarative Management of Kubernetes Objects Using Kustomize

thanks!

[2022-10-10 02:22] ycyxuehan opened #37239 "why rpm repo not support redhat 8 and 9?"
**This is a Feature Request**

**What would you like to be added**

**Why is this needed**

**Comments**

[2022-10-10 03:58] Kartik494 commented on #30824
/remove-lifecycle stale

[2022-10-10 05:23] hahamili opened #37240 "Difficulty following some tutorials via interactive playground"
i have installed k8s locally, so can also provide all txt tutorials without a interactive mode?
as for some network reason, it's hard for me to use the interactive mode.

[2022-10-10 05:40] wangsao5566 opened #37241 "Pod Horizontal automatic expansion"
[code]

Question:
Stop the pressure test after making the CPU utilization of the Pod unstable through the pressure test. Why does the HPA continue to expand and shrink the number of Pods when the CPU utilization is 0 ?

<img width="457" alt="lQLPJxbDFTIneYXNAtjNA5Gwgpqa5yO-DvoDQLChXQA2AA_913_728" src="https://user-images.githubusercontent.com/59693618/194805372-e5daa4f7-35fa-4ce7-8385-fa63df824e52

[2022-10-10 10:01] porridge commented on #27534
@sftim When working on a PR to address this issue, I tried to find some documentation in https://github.com/kubernetes/community/tree/master/contributors/devel/sig-architecture to back the following claim:

but did not find anything concrete. Do you know if this goal is actually written down somewhere, or is this tribal knowledge?

[2022-10-10 10:14] sftim commented on #27534
That's not a policy, it's an observation. SIG Architecture might have an opinion to add here that it's also an aim of the Kubernetes project.

/sig architecture

[2022-10-10 10:33] sftim commented on #37239
/remove-kind feature

We document Kubernetes and its _existing_ behavior.
If you would like to ask for Kubernetes to publish RPM packages for RHEL 8 and RHEL 9, you can request this via
https://github.com/kubernetes/release/issues

There may well be an existing issue to track this; in which case, you can give that issue a thumbs-up reaction to mean that you agree with it. Check https://github.com/

[2022-10-10 10:35] sftim commented on #37240
_All_ our tutorials are designed to let you follow along locally. If you find a tutorial where that's not possible, please report what went wrong when you tried.

You might find that a corporate network filter or state-level censorship mechanism is preventing you from using the tutorials. If you'd like us to consider designing a workaround for that scenario, please file a specific feature request

[2022-10-10 11:05] LetFu opened #37248 "Bolding style error in the line below the Static Pod section of the Pod page"
**This is a Bug Report**

**Problem:**
There is a problem with the bold style in the line below the Static Pod of the Pod page.
**Proposed Solution:**
Maybe the original expectation was to bold "静态 Pod（Static Pod）"
**Page to Update:**
https://kubernetes.io/zh-cn/docs/concepts/workloads/pods/#static-pods

[2022-10-10 11:05] utkarsh-singh1 commented on #37238
Hi @saksham31, There can be few reasons due to which your interactive tutorial not be working -

1. Network glitch - Just reload the current Kubernetes tutorial session
2.  Browser Ad Blocker Extension enabled - Disable this extension, then reload your interactive session.

[2022-10-10 11:40] utkarsh-singh1 commented on #37248
Hi @LetFu, there should be a space between bold static pod and the text -

Original text -

Corrected-

[2022-10-10 11:40] utkarsh-singh1 commented on #37248
/assign

[2022-10-10 12:03] having-dlrow opened #37249 "Spelling mistake in Traces For Kubernetes System Components page"
What would you like to be added

The spelling of the receiver  i.e [reciever](https://kubernetes.io/docs/concepts/cluster-administration/system-traces/) is wrong

Why is this needed
Fix Spelling

Comments

/language en
/assign

[2022-10-10 13:37] rata commented on #36386
Thanks, opened a PR now!

[2022-10-10 16:22] ritazh commented on #33875
/remove-lifecycle stale

[2022-10-10 16:24] hahamili commented on #37240
Thanks for the reply.

as many people know, it is hard to visit the google domain in china.

when i visit the website such as https://kubernetes.io/docs/tutorials/kubernetes-basics/scale/scale-interactive/ ,the js loading is alaways time out or 404, then i can not view the tutorial content.

i just want to view the tutorial content directly through a website like https://kubernetes.io/docs/tutoria

[2022-10-10 17:41] sftim commented on #31585
/remove-milestone 1.24

[2022-10-10 17:42] sftim commented on #31585
Not **required**, but much better if you do.

[2022-10-10 17:51] EricoCartmanez commented on #674
`export EDITOR=vim` worked for me.

[2022-10-10 19:38] mfilocha commented on #36761
/sig docs

[2022-10-10 19:39] mfilocha commented on #36761
/triage accepted

[2022-10-10 19:49] lolo32 opened #37260 "Improvement for k8s.io/docs/concepts/services-networking/dual-stack/"
You write that it's needed to use an egress, or use ip-masq-agent to masquerade not public ipv6 routed address.

It's also possible, if using calico, to ask it to apply masquerade automatically, with:

[code]

it will automatically apply some `iptable` rule in the `nat` table, like this one (took from my computer):
[code]

[2022-10-10 21:42] sftim commented on #37240
We'd be happy to consider a feature request. We already adapted https://k8s.io/search to work even when Google is censored.

[2022-10-10 21:55] sftim commented on #37260
The existing text says:

This is correct. Using Calico to achieve that outcome qualifies as “enabling the Pod to use a publicly routed IPv6 address”. The docs seem correct; we don't need to mention all the possible ways to achieve that outcome.

I don't think anything needs fixing here @lolo32

/language en
/priority awaiting-more-evidence

[2022-10-10 21:56] sftim commented on #37241
/kind support

[2022-10-10 23:51] lavalamp commented on #30764
/assign @deads2k

I believe we wrote a KEP about this?

[2022-10-11 02:47] hj-johannes-lee commented on #36863
@seokho-son M72-73도 며칠 전에 완료 하긴 했습니다.! 안 바쁘실 때 한번 검토해 주세용! :)

[2022-10-11 02:52] seokho-son commented on #36863
@hj-johannes-lee
오오..  빠르시군요! 감사합니다!! :)

[2022-10-11 04:44] bconfiden2 commented on #36863
바빠서 신경을 못쓰고 있었는데... M53-M70 아직 남아있으면 하겠습니다!!

[2022-10-11 05:19] seokho-son commented on #36863
@bconfiden2 감사합니다! 할당하겠습니다~~

[2022-10-11 07:03] UweErikMartin opened #37266 "Creating a cluster with kubeadm - missing information "Adding Windows Nodes""
The information how to add windows nodes is no more available in the kubernetes documentation. Previously it could be found
in

Tasks -> Administer a Cluster -> Administration with Kubeadm -> Adding Windows Nodes

This is no more available and information how to add windows nodes in K8s 1.25 is not accessible. How is the installation procedure now for Kubeadm clusters?
Please add the missing infor

[2022-10-11 07:51] ydFu commented on #36879
/triage accepted

[2022-10-11 08:52] neolit123 commented on #32222
Moving the package list to another location makes sense. I think
"installing kubeadm" is the only page that talks about packages today (?)
so that seems like a good fit. But ideally there ahould be a sig release
page that talks about all produced artifacts - source tars, deb, rpm,
images etc.
On Mar 15, 2022 22:52, "Tim Bannister" ***@***.***> wrote:

[2022-10-11 09:26] camrossi commented on #35210
We could but all the images are already there, seems is a shame ?

On Sat, 23 Jul 2022 at 00:24, Tim Bannister ***@***.***>
wrote:

[2022-10-11 10:59] sftim commented on #34476
Duplicated by https://github.com/kubernetes/website/issues/37266

[2022-10-11 11:03] sftim commented on #37266
This issue looks like a duplicate of issue https://github.com/kubernetes/website/issues/34476

There is now no specific guide for creating Windows nodes (nor is there one for creating Linux nodes). SIG Windows opted to remove the guide that did exist, in PR #33324

If someone wants to write a **new** task page about adding a node to an existing cluster, we (SIG Docs) welcome it.  A page on that, t

[2022-10-11 11:04] sftim commented on #37266
/triage duplicate
/language en

[2022-10-11 11:26] bavishal opened #37269 "Issue with k8s.io/docs/tasks/configure-pod-container/enforce-standards-admission-controller/"
Documentation misses couple of major points which has caused many issues.
1. What exactly is [AdmissionController](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/)
2. The usage of flag "--admission-control-config-file", this AdmissionController, and the corresponding ```PodSecurity``` plugin
e.g: ```kube-apiserver --admission-control-config-file=/some/path/pod-securi

[2022-10-11 11:46] lolo32 commented on #37260
In the first read, I understand that the IPv6 in the cluster can access directly internet (=are public, no private ipv6 prefix use). But you are right, this is written `a mechanism such as transparent proxying or IP masquerading.`

What put me in the wrong direction is the mention of:

Maybe speaking about that there are some already integrated functions that exists…

[2022-10-11 15:03] kararade commented on #13948
hey @raelga , can I get the `Declarative Config` under `Overview (content/es/docs/concepts/overview)`, please? :wink:

[2022-10-11 15:39] raelga commented on #13948
Updated!

[2022-10-11 16:28] sftim commented on #37260
Perhaps you can try to explain the (untrue) thing that you believed after reading the page @lolo32? If you can explain that, we can try to avoid giving a misleading impression.

[2022-10-11 16:30] sftim commented on #37269
It feels like the clue is in the question.

The first link in k8s.io/docs/tasks/configure-pod-container/enforce-standards-admission-controller/ is to https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/
If you wish to, you can report an issue about https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/ and explain what parts of _that_ page you foun

[2022-10-11 16:30] sftim commented on #37269
/language en

[2022-10-12 04:24] Shubham82 commented on #34819
Closing this issue, As there is no problem with it.

/close

[2022-10-12 04:24] #34819 closed

[2022-10-12 07:50] Dennis-Rall commented on #37077
It is fixed now!

![image](https://user-images.githubusercontent.com/56480601/195282668-0d7c6d5c-1788-412a-a548-2dd25c5c60bb.png)

[2022-10-12 07:50] #37077 closed

[2022-10-12 09:21] Kartik494 commented on #31114
@sftim i hae opened the PR and addressed all the comments could you please take a look .

[2022-10-12 09:35] sftim commented on #34263
/close

These reference pages don't document how to configure the infrastructure you have to manage or deploy Kubernetes.

[2022-10-12 09:35] #34263 closed, assigned to nobody

[2022-10-12 09:36] #37239 closed

[2022-10-12 14:15] Alestrix opened #37285 "Creating a cluster with kubeadm"
The page [Creating a cluster with kubeadm](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/) references the documentation on container runtime installation (https://kubernetes.io/docs/setup/production-environment/container-runtimes/). There the information is given that for systemd Linuxes, the `cgroupDriver` must be set in a **configuration file** that

[2022-10-12 15:33] neolit123 commented on #37285
/sig cluster-lifecycle

thank you for the feedback.
from time to time we do get complains about how the documentation is organized, yet we need clarity of what has to be changed exactly. if the documentation does not work for someone we usually ask them to draft a pull request and see if we can implement the changes they have in mind.

as long as you follow the CR page guide and the "kubeadm creat

[2022-10-12 16:15] rjt65 commented on #37164
going to retry today
thks will update

[2022-10-12 16:37] reylejano commented on #32564
/remove-lifecycle stale

[2022-10-12 16:38] sftim commented on #37285
Customer premises equipment?

[2022-10-12 17:16] rjt65 commented on #37164
weird got it working failed 2 more times so i reran the kubectl proxy command in 2nd terminal window and it properly restrted the proxy than the curl and bingo got the output it seems the proxy was opening but not running properly --thanks!

[2022-10-12 17:32] Tej-Singh-Rana commented on #33824
/close

[2022-10-12 17:32] #33824 closed

[2022-10-12 18:17] EricoCartmanez opened #37291 "Improvement for k8s.io/docs/tasks/configure-pod-container/static-pod/"
How do you get rid of the node name automatically added to the pod?
<img width="999" alt="Screenshot 2022-10-12 at 8 03 17 PM" src="https://user-images.githubusercontent.com/37179870/195418115-7df2283d-9493-4976-a60c-1c969b378a18.png">

[2022-10-12 18:32] a-mccarthy commented on #37201
i tried adding the filter, but still saw the same results. Going to keep researching this to see if there is a better answer

[2022-10-13 04:57] Kartik494 commented on #37291
@EricoCartmanez the node name mentioned here is `worker1` , `aut-web` is the name for container.

[2022-10-13 05:39] Kartik494 commented on #36807
/sig storage

[2022-10-13 10:57] utkarsh-singh1 commented on #37164
I think it was with the connectivity glitch, glad it got resolved.

/close

[2022-10-13 11:54] NitishKumar06 commented on #36754
@shurup Here's the report:
![dockerError](https://user-images.githubusercontent.com/86051118/195589318-be990cc7-ba85-4588-8b54-d46bab69f259.png)

[2022-10-13 13:00] HarikrishnanBalagopal opened #37297 "feat: Add Konveyor Move2Kube to the "Translate a Docker Compose File to Kubernetes Resources" tutorial"
# Feature Request

## Overview

Konveyor Move2Kube (Move to Kubernetes) is a tool for migrating apps from legacy platforms to run on Kubernetes.

Please add Konveyor Move2Kube as an alternative for migrating from Docker Compose to Kubernetes YAMLs.
https://kubernetes.io/docs/tasks/configure-pod-container/translate-compose-kubernetes/

We have a tutorial for the same:
https://move2kube.konveyor.io/

[2022-10-13 13:24] reylejano commented on #33936
/remove-lifecycle stale

[2022-10-14 04:11] shurup commented on #36754
Hi @NitishKumar06! Can you please provide the exact command you're executing now (is it `make container-serve`?) and the full output listing (the text format for this listing is preferable since it allows you to copy the complete output, which can be longer than your full screen, please)?

[2022-10-14 05:41] divya-mohan0209 commented on #31946
/remove-lifecycle rotten

[2022-10-14 05:41] divya-mohan0209 commented on #31946
@RinkiyaKeDad - gentle reminder on this one. Do you need anything from our side?

[2022-10-14 08:30] #35207 closed

[2022-10-14 09:25] NitishKumar06 commented on #36754
@shurup I type the command you mentioned above:

docker build . \
        --network=host \
        --tag gcr.io/k8s-staging-sig-docs/k8s-website-hugo:v0.101.0-426136dad23d \
        --build-arg HUGO_VERSION=0.101.0

[2022-10-14 12:10] mtardy commented on #35207
Both issues were resolved and merged!
https://github.com/kubernetes/website/pull/36901
https://github.com/kubernetes/website/issues/36903

[2022-10-14 19:05] Santosh1176 commented on #33849
Hey, I would love to work on this. For a start, shall I prepare a draft outline and share it on Slack for review?

[2022-10-15 01:20] #32756 closed

[2022-10-15 05:14] ayushontop commented on #35939
I this issue still open?

[2022-10-15 11:34] hamees-sayed commented on #31585
hey, @sftim I have made the required changes in the PR, could you please review it?

[2022-10-15 12:49] tgdfool2 opened #37316 "Feature Gates (removed) - Typo in RootCAConfigMap"
This is probably a typo:
![image](https://user-images.githubusercontent.com/66017789/195987271-e87e22b0-91f7-43f6-8b88-52978531f836.png)

Should probably be `1.22`?

[2022-10-15 13:04] prondubuisi commented on #33849
I am also interested  @PushkarJ

[2022-10-15 17:22] #32573 closed

[2022-10-15 19:21] olekszhel opened #37324 "Interactive Tutorial - Updating Your App"
pod always has the same name
![image](https://user-images.githubusercontent.com/10630843/196004348-a70be1bb-a71f-4c68-a14f-d152d01ccf09.png)

[2022-10-15 19:30] olekszhel opened #37325 "Interactive Tutorial - Updating Your App"
You should demonstrate here
![image](https://user-images.githubusercontent.com/10630843/196004617-f7dc4b8f-1d89-46fc-a023-9f442738c782.png)

[2022-10-15 22:54] pwnb0y commented on #37316
I would like to work on it can you assign to me

[2022-10-16 01:30] #33658 closed

[2022-10-16 10:17] mathijsfr commented on #28724
How do you install kubectl convert for windows? I don't seem to have it installed.

[2022-10-16 19:58] sftim commented on #33849
For my part, I'm happy for you to do that, _or_ open a PR: pull requests don't cost anything except effort. Either is fine.
@prondubuisi, I recommend you liaise with @Santosh1176 - eg via Slack. It's OK to have 2 PRs open but the duplication of effort isn't ideal.

[2022-10-16 20:00] Santosh1176 commented on #33849
Thanks for the advice. I'll start working on a draft PR.

[2022-10-16 20:50] sftim commented on #34289
https://www.browserstack.com/guide/enable-responsive-design-mode-in-safari-and-firefox might help with testing small viewports.

[2022-10-16 20:51] sftim commented on #34289
/priority backlog
/triage accepted

This is a backlog issue. Within that overall prioritisation, I think it's not particularly important that we fix it. If someone wants to: great!

[2022-10-16 20:59] sftim commented on #28724
I'm going to mark https://github.com/kubernetes/website/issues/28724#issuecomment-1279938883 as off-topic; the original issue _is_ resolved.

[2022-10-16 21:02] olekszhel opened #37331 "Advice in “Configuring Redis using a ConfigMap” not quite correct"
[code]
This is not correct really and leads to confusion. As configmap is mounted as a volume it automatically updates appropriate config file inside pod. But redis application itself is not configured to update config automatically. It really creates wrong imagination about core topic (configmap). That's why I believe redis is not a good example to demonstrate that configmap automatically updates

[2022-10-17 01:29] prondubuisi commented on #33849
Sure @sftim I will leave this to @Santosh1176

[2022-10-17 02:15] mengjiao-liu commented on #37325
page: https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates-removed/

/triage accepted

- The deprecated RootCAConfigMap feature-gate has been removed, since the RootCAConfigMap feature graduated to GA in 1.21 and was unconditionally enabled. ([#101579](https://github.com/kubernetes/kubernetes/pull/101579), [@carlory](https://github.com/carlory)) [SIG Auth]

see https://g

[2022-10-17 02:16] mengjiao-liu commented on #37316
page: https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates-removed/

/triage accepted

- The deprecated RootCAConfigMap feature-gate has been removed, since the RootCAConfigMap feature graduated to GA in 1.21 and was unconditionally enabled. ([#101579](https://github.com/kubernetes/kubernetes/pull/101579), [@carlory](https://github.com/carlory)) [SIG Auth]

see https://g

[2022-10-17 02:19] mengjiao-liu commented on #37325
/remove-triage accepted

[2022-10-17 04:20] shurup commented on #36754
@NitishKumar06 can you, please, also provide the complete output of this command? I guess it is not actually finished with the `go: downloading github.com/spf13/pflag v1.0.5` line, as in your screenshot above. Most likely, there should be something else going on that fails there.

E.g., the last `go: downloading` line should normally refer to the `github.com/mailru/easyjson` package — when it's do

[2022-10-17 06:45] vpnachev commented on #33039
/remove-lifecycle stale

[2022-10-17 07:22] yanhao-pro opened #37333 "Deployments"
In this section, is `.spec.strategy.rollingUpdate.maxSurge` supposed to be `.spec.strategy.rollingUpdate. maxUnavailable `?

[2022-10-17 08:30] RA489 commented on #35156
/remove-lifecycle stale

[2022-10-17 08:30] RA489 commented on #34611
/remove-lifecycle stale

[2022-10-17 09:48] Shubham82 commented on #37331
Page to update: https://kubernetes.io/docs/tutorials/configuration/configure-redis-using-configmap/

[2022-10-17 10:19] utkarsh-singh1 commented on #37324
Hi @olekszhel, can you explain your issues in detail as it will help in to find the solution.

/language en
/priority awaiting-more-evidence

[2022-10-17 10:29] utkarsh-singh1 commented on #37325
Hi @olekszhel, is this issue a duplicate of #37324 ?

[2022-10-17 11:23] rolfedh commented on #35939
Hi @ayushontop, thanks for your interest. Yes, this issue is open, pending merge of @khannakshat7 pull request #35962, shown above. If you're looking to volunteer, please introduce yourself on the Kubernetes #kubernetes-docs-hi channel at https://kubernetes.slack.com/archives/CJ14B9BDJ

[2022-10-17 11:39] #32849 closed

[2022-10-17 15:16] #32622 closed

[2022-10-17 15:23] guettli commented on #32825
Thank you Tim, I created an issue at Docsy: https://github.com/google/docsy/issues/1287

[2022-10-17 16:24] NitishKumar06 commented on #34140
@sftim If this issue is resolved, we can close this issue.

[2022-10-17 16:59] chrismetz09 commented on #32243
/remove-lifecycle stale
/assign

[2022-10-17 17:39] Krapi0314 commented on #33223
I'm having a same issue on this part of the tutorial. `xtrabackup: Error: xtrabackup_init_temp_log() failed.`

I thought the problem was that `mysql` and `gcr.io/google-samples/xtrabackup:1.0` were not compatible anymore, so the commands were not executable.

I tried image version change & command change but I'm getting different errors :(

Any help??

[2022-10-17 17:45] #37166 closed

[2022-10-17 18:48] sftim commented on #34140
That's true: if it were, we could.
We haven't yet transferred those scenarios to the Kubernetes organization.

/remove-lifecycle rotten

[2022-10-17 22:44] #33844 closed

[2022-10-18 00:59] jihoon-seo commented on #37333
Link: https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#max-unavailable

[2022-10-18 02:25] habibrosyad commented on #24382
/remove-lifecycle stale

[2022-10-18 04:08] t-inu opened #37347 "[ja] content/ja/docs/tasks/debug/_index.md is outdated"
**This is a Feature Request**

**What would you like to be added**
We need to update content/ja/docs/tasks/debug/_index.md according to the English text, because it is outdated.

**Why is this needed**
"Questions", "Stack Overflow" and "Bugs and feature requests" sections are outdated.
- **Questions:** Change the URL /docs/reference/kubectl/overview/ to /docs/reference/kubectl/ for `kubectl`.
- **

[2022-10-18 04:19] Kartik494 commented on #37222
IMO For worker nodes you just need to install both kubelet and kubeadm. kubectl is a CLI for controlling your cluster so you do not need to install it on the worker nodes.

[2022-10-18 04:34] Kartik494 commented on #37137
Hi @sftim so for more clarification on this should we reference this link  https://kubernetes.io/docs/concepts/storage/volumes/#resources or document this

as a reference ?

[2022-10-18 04:40] Kartik494 commented on #37084
@jcookson-infoblox PTAL here https://kubernetes.io/docs/reference/using-api/#api-versioning

[2022-10-18 05:04] t-inu opened #37349 "[ja] Translate content/ja/docs/tasks/debug/debug-application/_index.md into Japanese"
**This is a Feature Request**

**What would you like to be added**
Translate content/ja/docs/tasks/debug/debug-application/_index.md into Japanese.

**Why is this needed**
https://github.com/kubernetes/website/blob/main/content/ja/docs/tasks/debug/debug-application/_index.md
This file is only translated the title, not translated the description and the body text.

**Comments**
/language ja

[2022-10-18 06:03] t-inu opened #37351 "[ja] In-page links are not working etc in /ja/docs/tasks/debug/debug-application/debug-pods.md"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/ja/docs/tasks/debug/debug-application/debug-pods/
There are 2 problems.
- In-page links in "問題の診断" section are not working.
- The following bold notation in "PodがPendingのまま" section is not effective.
  `**あなたが使用しているのはhostPort**です。`

**Proposed Solution:**
[code]
↓
[code]
And the following links should be translated into Japanese.
[code]

[2022-10-18 06:35] RinkiyaKeDad commented on #31946
Thanks! This totally fell off radar. I'll get the discussions for this going this week!

[2022-10-18 06:46] yanhao-pro commented on #37333
I misunderstood it. Thank you for your explanation, @utkarsh-singh1 !

[2022-10-18 06:46] #37333 closed

[2022-10-18 07:50] kivio opened #37354 "Add information about MastOperator"
Hi, we have build simplified method of building operators using Ansible - without image building (mostly).
I propose to add link to documentation of our tool into https://kubernetes.io/docs/concepts/extend-kubernetes/operator/#writing-operator section.

Our tool documentation for operators: https://docs.ansi.services/mast/user_guide/operator/
Main documentation: https://docs.ansi.services/mast/