[2022-02-12 14:57] sftim commented on #31367
/triage accepted

[2022-02-12 14:58] sftim commented on #30080
/remove-triage rotten

[2022-02-12 14:59] sftim commented on #30080
/remove-lifecycle rotten

[2022-02-12 15:02] sftim commented on #28449
@polettix I'm happy with the title as you submitted it.

[2022-02-12 15:05] #31690 closed

[2022-02-12 15:09] #28959 closed

[2022-02-12 15:11] sftim commented on #31722
/triage not-reproducible
/language en

[2022-02-12 15:12] sftim commented on #31722
Actually
/remove-triage not-reproducible
/triage unresolved

There's nothing to fix here.
Maybe as a _very low priority_ feature request we could highlight the API groups for types that exist in other API groups. Honestly, though, I don't think that's worth doing.

[2022-02-12 15:13] sftim commented on #31722
Other possibilities:
- clarify why some APIs have a null API group, and make that more clear in the reference page for `kubectl`.
- remove that table, and instead link to a list of APIs and their groups elsewhere in the docs.

[2022-02-12 15:15] sftim commented on #31719
/sig apps
/language en

Help wanted, but this isn't necessarily easy enough to merit /hel

/remove-kind bug
/triage accepted

[2022-02-12 15:15] sftim commented on #31719
Thanks for the report @heyleke

[2022-02-12 15:17] sftim commented on #31692
/language en
/sig cluster-lifecycle

I don't think I've understood the report you've filed @sanjaz10. In the existing page, which specific part of that text contains the details that you think we should change?

[2022-02-12 21:58] khtan commented on #31722
Ha ha! Thanks for the explanation. I am new to the tool and it was in an Overview page, so I had assumed that things would be simple. Some beginner note about ApiGroups and how to use them, eg which Apigroup would "kubectl get ev" get its results from?

[2022-02-13 02:13] sanjaz10 commented on #31692
Hi @sftim

In the step 7 path should be correct as below

root@HOST0 $ kubeadm init phase etcd local --config=/tmp/${HOST0}/kubeadmcfg.yaml
root@HOST1 $ kubeadm init phase etcd local --config=/$HOME/kubeadmcfg.yaml
root@HOST2 $ kubeadm init phase etcd local --config=/$HOME/kubeadmcfg.yaml

[2022-02-13 04:45] #31649 closed

[2022-02-13 10:18] #27841 closed

[2022-02-13 12:20] #29726 closed

[2022-02-13 21:22] marcosnils commented on #20810
which site?

both play-with-docker.com and play-with-k8s.com seem to work ok.

[2022-02-14 03:32] wangxiaoyang-dev opened #31727 "证书"
There is a translation error here.
https://kubernetes.io/zh/docs/tasks/administer-cluster/certificates/#:~:text=%E5%9F%BA%E4%BA%8E%20ca.key%E3%80%81ca.key%20%E5%92%8C%20server.csr%20%E7%AD%89%E4%B8%89%E4%B8%AA%E6%96%87%E4%BB%B6%E7%94%9F%E6%88%90%E6%9C%8D%E5%8A%A1%E7%AB%AF%E8%AF%81%E4%B9%A6%EF%BC%9A

"基于 ca.key、ca.key 和 server.csr 等三个文件生成服务端证书" should be changed to "基于 ca.key、ca.crt 和 server.csr 等三

[2022-02-14 06:04] tengqm commented on #31727
/kind bug
/language zh
/triage accepted
/assign

[2022-02-14 08:51] kujiraitakahiro opened #31733 "typo in https://kubernetes.io/ja/docs/concepts/cluster-administration/manage-deployment/#kubectl-apply"
incorrect : にゅうチョクト
correct : 入力と

現在、リソースはこのアノテーションなしで作成されました。そのため、最初のkubectl paplyの実行においては、与えられたにゅうチョクト、現在のリソースの設定の2つの間の差分が取られ、フォールバックします。この最初の実行の間、リソースが作成された時にプロパティーセットの削除を検知できません。この理由により、プロパティーの削除はされません。

Original contents
-------
https://kubernetes.io/docs/concepts/cluster-administration/manage-deployment/#kubectl-apply

Currently, resources are created without this annotation, so the first i

[2022-02-14 10:51] #31733 closed

[2022-02-14 13:59] sftim commented on #30448
We could also add an HTML comment after “scratch” to give context for localizers.

[2022-02-14 15:38] krvaibhaw commented on #31710
/language fr

[2022-02-14 15:39] krvaibhaw commented on #31704
/language zh

[2022-02-14 15:39] krvaibhaw commented on #31711
/language id

[2022-02-14 17:09] enj commented on #30104
/remove-lifecycle rotten
/triage accepted

[2022-02-15 00:20] himanshugarg opened #31740 "Interactive Tutorial - Deploying an App"
Maybe it's just me or my browser [FF 91.5.0esr (64-bit)] so let me know. I am unable to scroll down the left pane of text to read the content that lies hidden. This also prevents me from going to the next page within the same module. When I try to scroll down it instead tries to adjust the widths of the panes.
![cant-scroll](https://user-images.githubusercontent.com/2392803/153968861-f53c398e-399a

[2022-02-15 00:27] andresgarcia0313 opened #31741 "Improvement for k8s.io/es/docs/setup/"
On the page https://kubernetes.io/es/docs/setup/

"Solutions for local machine" there should be a link to start the installation instructions for this

[2022-02-15 00:43] rakgup commented on #20810
https://training.play-with-kubernetes.com/kubernetes-workshop/

[2022-02-15 07:03] KoditkarVedant opened #31744 "Update hyperlinks to point to main branch"
**This is a Feature Request**

As we have renamed the master branch to main. There are few links which still refers to the old master branch. GitHub does it's best to redirect those links to main branch this is additional redirection besides all other links we have across the document are pointed to main so it make sense to maintain the consistency to update these links.

**What would you like to

[2022-02-15 13:08] sftim commented on #31744
/kind cleanup
/priority backlog
/triage accepted

[2022-02-15 13:09] sftim commented on #31744
/remove-kind feature

[2022-02-15 13:09] sftim commented on #31741
/language es

[2022-02-15 15:12] icculp opened #31755 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
Trying to start the interactive tutorial, the terminal was unusable:
[code]
![image](https://user-images.githubusercontent.com/57159226/154090402-1483e440-5ef9-4947-8a91-f02e8d954c71.png)

[2022-02-15 15:19] reylejano commented on #31659
k/website PR https://github.com/kubernetes/website/pull/31667 fixes this issue

[2022-02-15 15:23] sftim commented on #31425
Relevant to #26780

[2022-02-15 15:27] chrisnegus commented on #31663
/assign

[2022-02-15 15:28] sftim commented on #31663
/triage accepted

[2022-02-15 15:29] sftim commented on #31663
BTW folks, which approach are we taking? I strongly favor adding a new article (which can be much the same as the one it replaces, just newer) rather than more complex & technical fixes.

[2022-02-15 15:42] reylejano commented on #30837
Hi @kubernetes/steering-committee , just want to put this on your radar

[2022-02-15 16:24] chris-short commented on #31379
Hey @SubhasmitaSw the last message is a little confusing to me. If they're ripping out `ExperimentalHostUserNamespaceDefaulting` at some point in the future, can we just add 'beta/to be obsoleted' to the docs or should we wait on engineers to pull the docs out at the appropriate time?

cc @nate-double-u @sftim

[2022-02-15 16:28] chris-short commented on #30976
Is everything listed in the first entry done? What's left, if anything?

[2022-02-15 16:31] chris-short commented on #30976
cc @shannonxtreme

[2022-02-15 16:33] reylejano commented on #30837
@chris-short here's the PR that added a banner for KubeCon Europe 2021
https://github.com/kubernetes/website/pull/27844
and here's one for a banner for KubeCon NA 2021 and announcement for KubeCon China
https://github.com/kubernetes/website/pull/29192

[2022-02-15 16:34] liggitt commented on #30837
is a months-long site-wide banner appropriate for this?

[2022-02-15 16:57] shannonxtreme commented on #30976
Yes it is, I'm waiting for my PR in kubernetes/cri-tools to get merged before I close that one :)

[2022-02-15 17:02] reylejano commented on #30951
Asked in the SIG Node slack channel:
https://kubernetes.slack.com/archives/C0BP8PW9G/p1644334662322659

[2022-02-15 17:08] chris-short commented on #30950
/assign

[2022-02-15 17:21] chris-short commented on #30927
/assign @chrisnegus

[2022-02-15 17:26] chris-short commented on #30940
@nate-double-u Need any help here? I can find a coder if needed.

[2022-02-15 17:58] sftim commented on #30837
I hadn't imagined that the banner would be _shown_ for months. It might be _ready_ for over a month though. I suppose I started off pessimistic that the relevant docs would be ready well before the next release.

We could
- add the banner with timings so that it's in place for a short time around the release - perhaps 3 days before the release and 7 days afterwards
- have a PR ready to add a banne

[2022-02-15 17:59] sftim commented on #30837
We don't have a mechanism to mark banners as seen. Maybe it'd be useful to add one.

[2022-02-15 18:44] chris-short commented on #30965
[**@enraiha0307**](https://github.com/enraiha0307) Need any help here?

[2022-02-15 18:45] chris-short commented on #30965
**@enraiha0307 Need any help here?**

[2022-02-15 18:58] chris-short commented on #30837
Okay, so not a sitewide banner for months, check.

What should the banner say? Where should it link?

Found this in #31425, applicable here? 

Warning: This page mentions Docker Engine. Docker Engine compatibility was deprecated as of Kubernetes 1.24. For more information see \[Dockershim FAQ\](https://kubernetes.io/blog/2020/12/02/dockershim-faq/)

[2022-02-15 19:02] nate-double-u commented on #30942
I'd be happy for the help on this @chris-short 🙂

[2022-02-15 19:03] nate-double-u commented on #30940
I'd be happy for the help on this @chris-short 🙂

[2022-02-15 19:03] nate-double-u commented on #30938
I'd be happy for the help on this @chris-short 🙂

[2022-02-15 19:05] chrisnegus commented on #31425
/assign

[2022-02-15 19:11] sftim commented on #30837
@chris-short what #31425 suggests a notice for specific pages.

This is about adding a banner (see https://github.com/kubernetes/website/pull/23183 for an example) that shows across every page of the site, during a defined period.

We might want to do either or both. _This_ suggestion, the site-wide banner, is not yet triaged as accepted.

[2022-02-15 19:12] sftim commented on #30837
I'm thinking we might say “Want to know more about changes in Kubernetes v1.24 around integration with Docker Engine? Visit xxxx”. Something like that.

[2022-02-15 19:34] adamcharnock commented on #8744
Small note for anyone coming across this issue like me, after making the sysctl change to enable huge pages you'll need to restart the kubelet. I'm using RKE2, so for me this was:

    sudo service rke2-agent restart

[2022-02-15 21:58] chris-short commented on #30837
Yes, I good with the schedule and mechanics of making that happen.

I was more interested in the message itself. I still think the dockershim FAQ might be the best to send folks despite it having an outdated info warning on it now. Can we turn that off for that page?!?

[2022-02-15 22:34] chris-short commented on #30898
@reylejano Any thoughts here?

[2022-02-16 00:23] Rohan749 commented on #31741
/assign

[2022-02-16 00:30] reylejano commented on #30898
There is an open PR to update this page, PR https://github.com/kubernetes/website/pull/31667 but still need a few fixes for this issue:

- For [Network plugin requirements](https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins/#network-plugin-requirements), SIG Node would have to confirm what the updated link should be to

- I agree with @shannonxtreme on the [N

[2022-02-16 00:30] Rohan749 commented on #31741
Hello Devs!
I need guidance to work on this issue. Can anyone suggest to me how to begin?

[2022-02-16 03:21] mehabhalodiya commented on #30898
Okay, so someone is working on this, I am unassigning myself 🙂
Thank you for the updates!

[2022-02-16 03:34] mehabhalodiya commented on #30943
I would like to work on this.
But I might need some help 🙂

[2022-02-16 07:51] mangoGoForward commented on #30965
Hi @enraiha0307,  are you working on this issue already? If not I'd like to tackle this issue :)

[2022-02-16 07:58] enraiha0307 commented on #30965
@mangoGoForward Yeah I'm working I have corrected the simple text changes but I'm having trouble running containerd on my system for replacing docker examples as mentioned in the issue, you can work on this if you want 😀 👍

[2022-02-16 08:48] FOWind commented on #31499
#31500  Merged

[2022-02-16 08:48] #31499 closed

[2022-02-16 11:30] ikramulkayes commented on #31677
Can I work on `content/bn/docs/concepts/overview/what-is-kubernetes.md` ?

[2022-02-16 11:43] chris-short commented on #31663
Could we bump the date forward? This FAQ is something I routinely point people to.

[2022-02-16 11:48] sftim commented on #31663
It's a blog. We wouldn't remove the existing article - people will have bookmarked it with it's URL, and also it's just a bit weird to change an already-published article have a new date.

Nothing wrong with _duplicating_ (or near-duplicating) the article as I've suggested, though.

[2022-02-16 11:50] chris-short commented on #31663
It's a FUD machine at the moment. I don't care what happens to make it not a FUD machine. It just needs to happen fast; anything I can do to help?

[2022-02-16 11:54] sftim commented on #31663
- Open a PR to make a new article
- Check with the authors of the existing article that they are happy for a no-change update to go out.

@chris-short this?

[2022-02-16 12:09] chris-short commented on #31663
On it.

[2022-02-16 13:00] Rohan749 commented on #31543
/assign

[2022-02-16 13:03] Rohan749 commented on #31543
Hello developers!
I want to contribute to this issue and give info about multi-container info.
If anyone can guide me to the resources, it would be really helpful.

[2022-02-16 13:17] chris-short commented on #31663
/assign

Please see #31765 for my first attempt at this.

[2022-02-16 19:46] brunosaboia commented on #31543
Hello @Rohan749 , thanks for your help.

You can take a look at the PR created [here](https://github.com/kubernetes/website/pull/31768), and see if you find anything odd.

If so, please comment or add a patch to it. Thanks!

[2022-02-17 02:13] dancnfoo opened #31769 "Node Affinity NodeSelectorTerms description is wrong"
Should be,

If you specify multiple matchExpressions associated with nodeSelectorTerms, then the pod can be scheduled onto a node **if one of** matchExpressions can be satisfied.

If you specify multiple node label requirements associated with matchExpressions types, then the pod can be scheduled onto a node **only if all** requirements can be satisfied.

[2022-02-17 05:34] mk46 commented on #31755
Hi @icculp,  I tried this tutorial, and all the given steps are working.

[2022-02-17 06:02] Kartik494 commented on #31232
@yasim21c When you delete the environment the services you deploy in cluster also get deleted
`
kubectl get svc
NAME              TYPE           CLUSTER-IP      EXTERNAL-IP   PORT(S)        AGE
kubernetes        ClusterIP      10.96.0.1       <none>        443/TCP        8d
wordpress         LoadBalancer   10.105.38.231   <pending>     80:31573/TCP   4m
wordpress-mysql   ClusterIP      None

[2022-02-17 06:04] Kartik494 commented on #31232
Ideally that doesn't work if you don't have any service deploy on your cluster , for running this again, you have to deploy this application again

[2022-02-17 06:41] Kartik494 commented on #30945
I would like to give a try on this.Is this going to target dev-1.24 or main?

[2022-02-17 07:39] Rohan749 commented on #31543
Okay!

[2022-02-17 08:44] Rohan749 commented on #31671
Hey!
I can work on this issue.

[2022-02-17 08:44] Rohan749 commented on #31671
/assign

[2022-02-17 09:30] Reeker-Liu opened #31772 "配置 Pod 以使用卷进行存储"
这里应该是**pod**重启才会导致丢失，仅**容器**重启不会丢失，后面的例子也证明了这一点

[2022-02-17 09:31] Reeker-Liu commented on #31772
https://kubernetes.io/zh/docs/tasks/configure-pod-container/configure-volume-storage/

[2022-02-17 09:33] jihoon-seo commented on #31772
/language zh

[2022-02-17 09:35] mengjiao-liu commented on #31665
So do we need to create a new page `docs/reference/config-api/apiserver-config.v1alpha1.md` containing the TracingConfiguration struct so that we can link to it?

Or link to the kubernetes TracingConfiguration code line:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1alpha1/types.go#L154

Which one do you prefer or have a better suggestion? @

[2022-02-17 12:49] sftim commented on #31769
Hi @dancnfoo

What's the URL of the page that you don't think is correct?
/triage needs-information
/language en

[2022-02-17 13:41] #31727 closed

[2022-02-17 16:44] championshuttler commented on #31769
@sftim i guess this https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/

[2022-02-17 17:46] dancnfoo commented on #31769
https://v1-20.docs.kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#node-affinity

[2022-02-17 17:49] #31663 closed

[2022-02-17 17:49] sftim opened #31778 "Allow exempting blog articles from staleness notice"
**This is a Feature Request**

**What would you like to be added**
Add a mechanism that lets us update the front matter of a blog article to show that it is never considered stale, and use that to suppress the notice for stale content.

**Why is this needed**
An article such as https://kubernetes.io/blog/2020/12/08/kubernetes-1-20-release-announcement/ is old, but by its nature doesn't really need

[2022-02-17 18:38] icculp commented on #31755
It's working now. It started working maybe an hour or so after I posted this issue. Figured I'd leave the issue open so the team would be aware of the over load at that time.

[2022-02-17 18:50] SaeidAshian opened #31779 "Issue with k8s.io/docs/tutorials/configuration/configure-java-microservice/configure-java-microservice-interactive/"
Image pull back off for deployment
![image](https://user-images.githubusercontent.com/33620212/154550314-7e019d4e-a636-4905-9bce-8395c3690c85.png)

[2022-02-18 02:49] tallclair commented on #31367
@photoni-137 it looks like I can't assign the PR to you, but if you get a chance I'd appreciate your feedback on the updated guide: https://github.com/kubernetes/website/pull/31782

[2022-02-18 05:24] jihoon-seo opened #31784 "Remove (or Update) the tutorial "Configuring a Java Microservice""
**This is a Bug Report**

Related issues:
- #29688
- #30937

**Problem:**
There have been many issues related to [the tutorial "Configuring a Java Microservice"](https://kubernetes.io/docs/tutorials/configuration/configure-java-microservice/). (+ [the interactive one](https://kubernetes.io/docs/tutorials/configuration/configure-java-microservice/configure-java-microservice-interactive/))

- #26105

[2022-02-18 05:42] jihoon-seo opened #31785 "Fix typo in `feature-gates.md`"
**This is a Bug Report**

**Problem:**
- Typo exists: `Derecated`
- Wrong bullet character is used:
https://github.com/kubernetes/website/blob/670ae1a6de2f4453165cbc607e1ed90125347580/content/en/docs/reference/command-line-tools-reference/feature-gates.md?plain=1#L813-L820

**Proposed Solution:**
- `Derecated` => `Deprecated`
- `= ` => `- ` (in L818)

**Page to Update:**
- https://kubernetes.io/do

[2022-02-18 06:22] tengqm commented on #31665
I'll create a PR updating the config APIs.
As for the TracingConfiguration type, it is only part of the v1alpha1 version. This means the current code is incorrect and the v1alpha1 reference needs to be added back. This warrants a separate PR.

[2022-02-18 06:29] tengqm commented on #31665
First PR created #31786

[2022-02-18 06:35] tengqm commented on #31665
Second PR created #31787
/assign

[2022-02-18 06:51] tengqm commented on #31772
Won't be able to fix this in Chinese alone. The English upstream needs an update instead.

[2022-02-18 08:21] photoni-137 commented on #31367
@tallclair Looks great! The updated guide covers all of my questions and I'm sure it will a valuable asset to anyone else migrating to the new Standards. Thank you for writing such a detailed guide! :)

[2022-02-18 08:40] zhuyaguang opened #31790 "Improvement for k8s.io/zh/docs/tasks/access-application-cluster/ingress-minikube/"
![image](https://user-images.githubusercontent.com/8857976/154647844-c233c15b-6f76-40be-a3ee-144b9f6fe33a.png)

![image](https://user-images.githubusercontent.com/8857976/154647939-8628cf23-d4be-400c-abc7-10073d3898d2.png)

应该带上端口号

[2022-02-18 09:17] jihoon-seo opened #31791 "[ko] Better translation of the terms `request` and `limit`"
**This is a Bug Report**

**Problem:**
예를 들어, `request` 및 `limit` 단어가
["컨테이너 리소스 관리"](https://kubernetes.io/ko/docs/concepts/configuration/manage-resources-containers/) 페이지에는 "요청 및 제한" 이라고 번역되어 있습니다.

이 페이지 등을 참고하여 저도 번역을 할 때 여러 부분에 "요청" 및 "제한" 으로 번역을 하였는데..

방금 용어집을 확인해 보니

이렇게 되어 있네요 😊

또 다른 경우는,
- https://kubernetes.io/ko/docs/tasks/administer-cluster/manage-resources/cpu-constraint-namespace/

[2022-02-18 09:25] seokho-son commented on #31791
@jihoon-seo
예전에 관련 논의가 기억 나네요. ^^ https://github.com/kubernetes/website/pull/21339

[2022-02-18 12:40] sftim opened #31794 "Ensure “Download Kubernetes” link goes to right page"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/home/ has a link (styled as a button) titled “Download Kubernetes”. At the moment that link goes to https://kubernetes.io/releases/notes/ which isn't quite right.

**Proposed Solution:**
Change the site so that that link goes instead to https://kubernetes.io/releases/download/

**Page to Update:**

https://kubernetes.io/docs/home/

[2022-02-18 12:45] sftim opened #31795 "Mention add-ons in setup section overview"
**This is a Feature Request**

**What would you like to be added**
Add a section near the end of the text in https://kubernetes.io/docs/setup/ that mentions add-ons, and links to some information about adding them to your cluster.

**Why is this needed**
[Kubernetes is a platform for building platforms](https://twitter.com/kelseyhightower/status/935252923721793536?lang=en-GB). Once you have a clus

[2022-02-18 15:34] RichardoC opened #31854 "v1.18 of the API docs have an invalid certificate"
### What happened?

Attempt to browse to https://v1-18.docs.kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/
The certificate is only valid for *.netlify.app rather than *.kubernete.io and given HSTS is enabled by browser refuses to display the content.

<img width="509" alt="image" src="https://user-images.githubusercontent.com/11242848/154712713-08257ad5-c321-41bf-8f5e-2077a6347413.pn

[2022-02-18 15:46] oshi36 commented on #31794
/assign

[2022-02-18 15:53] anubha-v-ardhan commented on #31785
/triage accepted
I believe this can be a good first issue
/good-first-issue

[2022-02-18 15:57] ikramulkayes commented on #31785
/assign

[2022-02-18 16:03] RichardoC opened #36168 "API docs missing for /version and /metrics"

[2022-02-18 17:21] chrisnegus commented on #30837
@chris-short It looks like someone just put out an update of the blog: https://kubernetes.io/blog/2022/02/17/dockershim-faq/

[2022-02-18 17:51] ShivamTyagi12345 commented on #31785
hey @jihoon-seo , Would you kindly point me to where did u find the term "Derecated". It would wrap things up faster:)

[2022-02-18 18:06] chris-short commented on #30837
That was me

[2022-02-18 18:08] anubha-v-ardhan commented on #31785
@Mouly22 @ikramulkayes Sorry, but this issue seems an individual task. Thank you for wanting to contribute, you can have a look at other issues and try them if you wish. Thank you
/unassign @Mouly22
/unassign @ikramulkayes

[2022-02-18 18:11] Mouly22 commented on #31785
Hey @anubha-v-ardhan I am sorry but I have already updated in https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/#:~:text=%2D-,Derecated,-1.17 this page

[2022-02-18 19:28] chrisnegus commented on #30837
Since I took on [Issue #31425](https://github.com/kubernetes/website/issues/31425) I can work on this one as well.
/assign

[2022-02-19 01:11] #31785 closed

[2022-02-19 02:28] #29765 closed, assigned to nobody

[2022-02-19 03:45] QiuToo opened #31802 "1.20.11 version Unable to expand the master node！"
在kubernetes1.20.11版本扩容master节点时出现以下问题：
[root@tes-master2 ~]# cd  /root  && mkdir -p /etc/kubernetes/pki/etcd && mkdir -p ~/.kube/
[root@tes-master2 ~]# ls  /etc/kubernetes/pki/
ca.crt  ca.key  etcd  front-proxy-ca.crt  front-proxy-ca.key  sa.key  sa.pub
[root@tes-master2 ~]# ls  /etc/kubernetes/pki/etcd/
ca.crt  ca.key

[root@tes-master2 ~]# kubeadm join 192.168.2.41:6443 --token ljkqm7.fpf0ifgzyj

[2022-02-19 04:41] Rohan749 commented on #31650
Hey @sftim, can I work on this issue?

[2022-02-19 08:30] ikramulkayes commented on #31785
@anubha-v-ardhan  okay, mate. Looking forward to the next issue to work on.

[2022-02-19 10:01] mehabhalodiya commented on #31795
/triage accepted

[2022-02-19 18:56] Mouly22 commented on #31785
@ShivamTyagi12345 Happy to help 😅

[2022-02-19 20:30] PriyanshuAhlawat commented on #31794
/assign

[2022-02-19 22:26] #31665 closed

[2022-02-19 23:16] sensuikan1973 commented on #22989
/reopen
/assign

[2022-02-20 00:04] nishipy commented on #22989
/reopen

[2022-02-20 03:58] mitul3737 commented on #31677
sure @ikramulkayes

[2022-02-20 06:13] anubha-v-ardhan commented on #31677
ex: [bn] Documentation cloud_native_apps.md

I think we should mention Localization and not Documentation

[2022-02-20 06:15] mitul3737 commented on #31677
@anubha-v-ardhan updated that

[2022-02-20 09:24] rounaksarda opened #31810 "CronJob"
Hello, This is cronjob example I found on this link https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/  . This is not working because the api version is not right, When I run command 'kubectl explain cronjob' I found the api version should be 'batch/v1beta1'. I want to change it.

apiVersion: batch/v1
kind: CronJob
metadata:
  name: hello
spec:
  schedule: "* * * * *"
  jobTempla

[2022-02-20 09:45] rounaksarda commented on #31810
/assign

[2022-02-20 09:50] rounaksarda commented on #31810
Ok! got it, after looking at different it turns out that the version that I am using of kubernetes support v1beta1 but the latest version have a stable version v1.

[2022-02-20 09:50] #31810 closed

[2022-02-20 14:02] morallito commented on #13939
Hello, I would like to start translating the page [Pod Priority and Preemption](https://kubernetes.io/docs/concepts/scheduling-eviction/pod-priority-preemption/) located in docs/concepts/scheduling-eviction/pod-priority-preemption.md

I've assigned myself in the spreadsheet and marked it as in progress.

[2022-02-20 14:50] shaggyyy2002 commented on #31794
/assign

[2022-02-20 16:45] sftim commented on #31802
Hi @qiutoo

Could you write the bug report in English? We use that as the main language for contribution to Kubernetes.

I suspect that this is more of a support request than a bug report; in that case, though, I'm afraid you have come to the wrong place. https://kubernetes.io/zh/docs/tasks/debug-application-cluster/troubleshooting/ might help you perhaps?

/triage needs-information
(the English v

[2022-02-20 16:47] sftim commented on #31791
@jihoon-seo a nit: if the issue is a ”good translation” then that doesn't sound like a bug. Maybe you meant to report that there is a _bad_ translation?

[2022-02-20 17:06] shaggyyy2002 commented on #31794
#31812
@sftim I have changed the path to download kubernetes.

[2022-02-20 21:05] chrisnegus commented on #30949
This is also identified to fix in [Issue #30949](https://github.com/kubernetes/website/issues/30949). I think this one can be closed.

[2022-02-20 22:11] stephen-dexda commented on #30576
/remove-lifecycle stale

[2022-02-20 22:49] yasim21c commented on #31232
thank you.

[2022-02-20 22:49] #31232 closed

[2022-02-21 00:26] ThiagoGMF commented on #13939
Hello, I would like to start translating the page [Manage Deployment](https://kubernetes.io/docs/concepts/cluster-administration/manage-deployment/) located in docs/concepts/cluster-administration/manage-deployment.md

I've assigned myself in the spreadsheet and marked it as in progress.

[2022-02-21 00:54] tengqm commented on #28591
I believe this one has been resolved.
/close

[2022-02-21 00:54] #28591 closed

[2022-02-21 01:42] jihoon-seo commented on #31791
@sftim Thank you for the pointing.
This issue is rather about 'which translation would be better?'. 😅
So it would be better to update the label and title:
/retitle [ko] Better translation of the terms `request` and `limit`
/remove-kind bug

[2022-02-21 04:56] tengqm commented on #31794
/close
This one has been fixed. Manually closing.

[2022-02-21 04:56] #31794 closed

[2022-02-21 07:03] Saber382 commented on #31677
I want to work with `content/bn/docs/contribute/_index.md` 😁

[2022-02-21 10:22] #31588 closed

[2022-02-21 10:23] FOWind opened #31817 "Set `sidbebar_menu_foldabe = true` for better glancing experience"
**This is a Feature Request**

**What would you like to be added**

Set `sidbebar_menu_foldabe = true` for Docsy `[params.ui]`
**Why is this needed**
Setting the `sidebar_menu_foldable = ture` can make a better experience for glancing the menu tree.

After setting `sidebar_menu_foldable = true` appearance shows like belowed:

![image](https://user-images.githubusercontent.com/13653453/154934459-fb

[2022-02-21 11:08] wangxiaoyang-dev opened #31819 "使用 RBAC 鉴权"
There is a translation bug:
https://kubernetes.io/zh/docs/reference/access-authn-authz/rbac/#:~:text=%E5%B7%B2%E7%BB%8F%E5%AD%98%E5%9C%A8%E7%9A%84%E7%BB%91%E5%AE%9A%E4%B9%9F%E4%BC%9A%E8%A2%AB%E6%9B%B4%E6%96%B0%EF%BC%8C%E4%BD%BF%E4%B9%8B%E5%8C%85%E5%90%AB%E8%BE%93%E5%85%A5%E5%AF%B9%E8%B1%A1%E4%B8%AD%E6%89%80%E7%BB%99%E7%9A%84%E4%B8%BB%E4%BD%93%E3%80%82%E5%A6%82%E6%9E%9C%E6%8C%87%E5%AE%9A%E4%BA%86%2

[2022-02-21 11:28] Mouly22 commented on #31677
I would like to work on  ```content/bn /_index.html``` @mitul3737

[2022-02-21 11:31] mitul3737 commented on #31677
Sure @Mouly

[2022-02-21 11:42] #31562 closed

[2022-02-21 11:46] KRV25 commented on #29724
Hi we got 2 more  go component vulnerabilities: CVE-2021-44716,CVE-2021-39293, besides: CVE-2021-38297, CVE-2021-41772, CVE-2021-41771

[2022-02-21 13:15] JagveerGagaan commented on #31600
can you help me how I can get this issue

[2022-02-21 13:44] vaibhav2107 commented on #29909
/remove-lifecycle stale

[2022-02-21 14:21] antoine-debounam-collibra opened #31821 "Service Catalog documentation: dead link to svc-cat.io"
**This is a Bug Report**

**Problem:**
In the documentation page [Service Catalog](https://kubernetes.io/docs/concepts/extend-kubernetes/service-catalog/), in the last section _What's next_, the link to [svc-cat.io](https://svc-cat.io/docs/) appears to be dead.

**Proposed Solution:**
Remove (or Update) the link.

**Page to Update:**

- https://kubernetes.io/docs/concepts/extend-kubernetes/service

[2022-02-21 15:15] chris-short commented on #30942
/assign

[2022-02-21 15:16] chris-short commented on #30938
/assign

[2022-02-21 15:23] chris-short commented on #30942
/unassign (whoops)

[2022-02-21 15:23] chris-short commented on #30938
/unassign

[2022-02-21 15:24] chris-short commented on #30942
/unassign

[2022-02-21 16:13] chris-short commented on #30945
@chrisnegus and I looked at this one...

This is for Docker Registry config secrets which will still exist in 1.24. No need to touch Secret Types.

We'd suggest updating this to "Docker Registry Config Secrets"

We think the wording in here is fine. If we want a code example for a non-Docker registry, what would we choose?  Regardless, I think this section is fine wording wise.

[2022-02-21 16:23] chris-short commented on #30842
I'm not quite sure what needs to happen with this issue specifically. Is the umbrella issue going to cover this?

What needs to change in relation to this issue?

[2022-02-21 16:37] sftim commented on #31821
/language en
/kind bug
/sig service-catalog

[2022-02-21 16:37] chris-short commented on #28449
https://kubernetes.io/docs/setup/production-environment/container-runtimes/#docker

Two questions:
1\. Docker to Docker Engine: Can you explain the why behind the change (I missed that memo)?
2\. On this page, specifically it's been updated to include Mirantis' dockerd. Would we just rip out the Docker Engine section?
3\. Do we have enough commitment to mention Mirantis specifically here? (I haven

[2022-02-21 16:40] sftim commented on #31817
Hi @FOWind

Why should we make this change? Can you explain the benefit for readers?

[2022-02-21 16:43] chris-short commented on #30843
How is this issue any different than #30951?

I'm open to splitting up work but this is confusing. Can we capture what we need here and add it to #30951?

[2022-02-21 16:48] chris-short commented on #30681
Is the ask here to port the Google doc into the Kubernetes docs or just link to the Google documentation (which isn't necessarily allowed)?

[2022-02-21 17:04] chris-short commented on #29665
How is this issue any different than [#30951](https://github.com/kubernetes/website/issues/30951)?

I'm open to splitting up work but this is confusing. Can we capture what we need here and add it to [#30951](https://github.com/kubernetes/website/issues/30951)?

[2022-02-21 17:06] chris-short commented on #31659
Should we close this one then @reylejano, @sftim, @nate-double-u?

cc @chrisnegus

[2022-02-21 17:13] reylejano commented on #31659
@chris-short once PR https://github.com/kubernetes/website/pull/31667 closes, it should auto close this issue

[2022-02-21 17:45] FerminCastro opened #31822 "Operating etcd clusters for Kubernetes"
See etcd issue https://github.com/etcd-io/etcd/issues/13724 this is preventing us from upgrading a kubeadm control plane from 1.21.9 to 1.22. We need confirmation that we can just update the etcd image to 3.5.2 or a detailed alternative to upgrae the internal etcd cluster version BEFORE upgrading kubeadm/the control plane....

[2022-02-21 18:14] chris-short commented on #31659
Ah, thank you.

[2022-02-21 18:23] neolit123 commented on #31822
there is no etcd 3.5.2 in the k8s GCR bucket, yet.
https://console.cloud.google.com/gcr/images/k8s-artifacts-prod/us/etcd

you can log an issue for that in kubernetes/kubernetes.
there was PR but it got closed:
https://github.com/kubernetes/kubernetes/pull/107917

to use a custom etcd images in kubeadm you can edit the kube-system/kubead-config config map that holds the ClusterConfiguration:

[cod

[2022-02-21 18:23] #31822 closed

[2022-02-21 18:27] FerminCastro commented on #31822
Thanks, that was useful. I think that since there have been multiple occasions and issues where there is a lag between etcd bugs and k8 adopting the etcd version with the fix, an "upgrade etcd" section would make sense in the "Operating etcd clusters for Kubernetes" doc, would you agree?

[2022-02-21 18:38] neolit123 commented on #31822
we don't have 3.5.2 tests yet, so technically we cannot give you *any* confirmation that 3.5.2 works.

that page is k8s + etcd generic and not about kubeadm.
what we have for kubeadm custom images is here:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#custom-images

changing the etcd image on a running cluster is not something that we recommend.
advanced users follow the k

[2022-02-21 18:40] neolit123 commented on #31822
if you'd like to suggest changes for https://kubernetes.io/docs/tasks/administer-cluster/configure-upgrade-etcd/ that don't include kubeadm, you can re-open this issue though.

[2022-02-21 19:01] FerminCastro commented on #31822
We really don't care where this is described ... since there is no documentation specific to etcd created by kubeadm we thought the nearest possible would be the generic k8 admin etcd one...seems like we are in an endless loop here and being pointed to a different area in each area jump

SUMMARY:
The internal etcd cluster created by kubeadm has a bug. K8 (not just the control plane but the entire

[2022-02-21 19:46] AnthonyKeydel opened #31824 "Improvement for k8s.io/docs/tasks/tools/included/optional-kubectl-configs-bash-linux/"
Update the aliasing instructions on this page to reflect the limitations listed in this issue:
https://github.com/kubernetes/kubernetes/pull/105141

There should be a footnote notifying users that setting flags/options in your alias requires the = format.
It is a simple fix, but hard to find.

[2022-02-21 19:58] nate-double-u commented on #30970
/milestone 1.24

[2022-02-21 21:15] devlware commented on #13939
I'm going to work on [service-catalog](https://kubernetes.io/docs/concepts/extend-kubernetes/service-catalog/).

[2022-02-21 21:27] pboling opened #31825 "Improvement for k8s.io/docs/tasks/administer-cluster/configure-upgrade-etcd/"
`configure-upgrade-etcd.md` has literally no information on upgrading an etcd cluster...

😵‍💫

[This somewhat dated guide](https://dzone.com/articles/kubernetes-upgrade-the-definitive-guide-to-do-it-yourself) is the best I have found so far, but it is hard to evaluate how dated, or accurate it might be, since there is no info in the official upgrade guide...

[2022-02-21 21:40] sftim commented on #31825
/kind feature

[2022-02-21 21:41] sftim commented on #31825
I suggest we hyperlink to https://etcd.io/docs/latest/upgrades/ with a note that the reader should check the docs for the version they actually intend to upgrade to.

/language en

[2022-02-21 21:43] sftim commented on #31824
https://kubernetes.io/docs/tasks/tools/included/optional-kubectl-configs-bash-linux/ is served due to a bug. This page should actually be [headless](https://gohugo.io/content-management/page-bundles/#headless-bundle).

We should fix that first, then consider the issue that you reported @AnthonyKeydel. That issue also applies to the intended page: https://kubernetes.io/docs/tasks/tools/install-kube

[2022-02-21 21:45] sftim commented on #31824
I'm not sure that _Install and Set Up kubectl on Linux_ is the right place to document the caveat you're mentioning, though @AnthonyKeydel

How about making the change to https://kubernetes.io/docs/reference/kubectl/overview/ instead?

[2022-02-21 22:00] sftim commented on #30681
We can't really do either, unless Google licenses https://cloud.google.com/kubernetes-engine/docs/concepts/using-containerd to the CNCF.

We could write new docs to highlight the same known issue (what's the issue? - I deliberated haven't looked).

[2022-02-21 23:14] shaneboulden opened #31827 "Interactive Tutorial - Deploying an App"
Currently the tutorial is reporting the 'environment is not starting correctly'. No debug information is provided.

![Screenshot from 2022-02-22 10-12-33](https://user-images.githubusercontent.com/1834999/155036857-b21e59b9-091d-4eeb-a1b3-daf501ad51aa.png)

[2022-02-22 01:44] jihoon-seo commented on #30970
It seems that it is okay to close this issue, folks please confirm 😊

[2022-02-22 01:46] jihoon-seo commented on #31819
/language zh
/kind bug

[2022-02-22 02:09] SergeyKanzhelev commented on #30681
Here is the GH issue: https://github.com/kubernetes/kubernetes/issues/89903

These metrics are missing in `/metrics/cadvsor` endpoint with Containerd (they were present with Dockershim):

[code]

Also the format of container name dimension of many metrics was `k8s_<container-name>_<pod-name>_<namespace>_<pod-uid>_<restart-count>` with dockershim, but the format on the containerd node is `<containe

[2022-02-22 03:34] FOWind commented on #31817
1. For the new version, reader can only expand the menu tree for only glancing the indexes, and the old version can't do that.

   ![image](https://user-images.githubusercontent.com/13653453/155056343-11a33d3a-6dfc-4015-92a9-75af3c3b7d81.png)

2. After expanding the menu tree, readers can enter the deep level chapter they want to read directly without click the menu step by step.

   ![image](http

[2022-02-22 07:22] championshuttler commented on #31821
/assign

[2022-02-22 07:39] mangoGoForward commented on #31825
I'd like to tackle this issue :)
/assign

[2022-02-22 08:31] sampatkalyan commented on #31795
/assign

[2022-02-22 09:59] #31680 closed

[2022-02-22 11:41] #31821 closed

[2022-02-22 11:57] GioBVVF opened #31834 "kube-scheduler"
i didn't find option "--scheduler-name"

[2022-02-22 12:23] Shubham82 opened #31835 "Add a Hyperlink for RFC 3339"
**This is a Feature Request**

**What would you like to be added**

Add Hyperlink [https://datatracker.ietf.org/doc/html/rfc3339](https://datatracker.ietf.org/doc/html/rfc3339)  to **RFC 3339**  under [Input and output formats](https://kubernetes.io/docs/reference/access-authn-authz/authentication/#input-and-output-formats) in [Authenticating](https://kubernetes.io/docs/reference/access-authn-auth

[2022-02-22 12:24] Shubham82 commented on #31835
/assign

[2022-02-22 12:29] sftim commented on #30681
That sounds quite involved - should we open a related issue to track explaining how folks would do that?

[2022-02-22 12:29] sftim commented on #31835
/language en
/priority backlog
/triage accepted

[2022-02-22 12:30] sftim commented on #31834
Hi @GioBVVF

Which web page didn't have the option that you mentioned?
/triage needs-information

[2022-02-22 12:31] sftim commented on #31817
/triage accepted

I think this this is explained well enough to justify merging the change.
I wonder: would it be better to introduce the new UI with the v1.24 release, rather than arbitrarily?

[2022-02-22 12:32] sftim commented on #31817
/area web-development

[2022-02-22 12:44] sftim commented on #30949
https://github.com/kubernetes/website/issues/30927 is for the page https://kubernetes.io/docs/concepts/overview/components/#container-runtime

I'm not sure I can see the overlap @chrisnegus - can you clarify?

[2022-02-22 12:46] sftim commented on #30949
We should make sure that when older docs branches reference an example, they refer to the example from their own release branch and not from _main_.
That may well merit its own issue, and then a fix to _main_, and then a series of backports to the previous releases.

@chris-short if you open the issue for that, let me know, I'll be happy to check it matches what I've tried to explain.

[2022-02-22 13:11] Alekhya193 commented on #30144
hey! i want to work on this issue

[2022-02-22 13:52] sftim commented on #31834
I'm not sure what the bug is. In Kubernetes v1.23, the `kube-scheduler` doesn't support setting `--scheduler-name` on the command line.

If you are using a different version of Kubernetes, consult the version of that reference page that matches version of Kubernetes you are running. There is a version selector top right.

/remove-triage needs-information
/triage support

[2022-02-22 13:53] sftim commented on #31834
/kind support

[2022-02-22 14:52] a-mccarthy commented on #30951
To summarize the consensus from talking with folks about this issue, specifically the examples in Using a Private Registry section:

* The steps in the Using a Private Registry section are still valid. However, as written, it makes it sound like Docker is the only/recommended way to do this-which we dont want.
* We should be able to remove the docker examples and point folks to this page https://k

[2022-02-22 15:07] sftim commented on #30940
I'm happy to help here

[2022-02-22 15:17] #31064 closed

[2022-02-22 15:24] nate-double-u commented on #30942
/assign @nate-double-u @reylejano

[2022-02-22 15:31] sftim commented on #31791
/priority backlog
/kind cleanup

[2022-02-22 15:37] nate-double-u commented on #30943
Thanks for offering to help @mehabhalodiya, this is one of 4 similar issues that Rey and I will tackle. As we do these I'm happy to share the process so it's easier for folks to jump in and do this kind of docs work in future.

[2022-02-22 15:51] chrisnegus commented on #30944
/unassign sftim

[2022-02-22 15:52] chrisnegus commented on #30944
/assign chrisnegus
/assign chris-short

[2022-02-22 16:05] akshanshshrivastava commented on #27407
any update on this issue I am still facing this
<img width="1505" alt="Screenshot 2022-02-22 at 9 34 44 PM" src="https://user-images.githubusercontent.com/21341620/155171388-ba1d70c7-3a96-40d7-9355-444bd5dafb1c.png">

[2022-02-22 16:20] sftim commented on #27407
That latest screenshot suggests an issue with Katacoda, rather than with the Kubernetes docs.
Check that you are not blocked by network filtering; if you're sure that you are not, you could contact Katacoda to report the issue.

[2022-02-22 16:30] mehabhalodiya commented on #30842
@SergeyKanzhelev Can you please describe more?

[2022-02-22 17:03] GioBVVF commented on #31834
what's the last version that support this setting ?

[2022-02-22 18:24] SergeyKanzhelev commented on #29665
No, this is different. Issue #30951 just updates the information on how to use image pull secret and such. Needs to be updated, but works somehow the same on all runtimes.

What we need specifically for dockershim migration - informaiton on how to translate docker registry settings into containerd registry settings.

Examples:

- If mirror registry is configured for dockerhub, how to configure the

[2022-02-22 18:27] SergeyKanzhelev commented on #30842
similar to this: https://github.com/kubernetes/kubernetes/issues/108144

The flag `pod-infra-container-image` is deprecated. On migration - users needs to stop using this flag and instead configure the container runtime with the proper configuration setting. For containerd it is a `sandbox_image`

[2022-02-22 18:49] sftim commented on #28285
https://github.com/kubernetes/website/pull/31845 is somewhat relevant

[2022-02-22 18:53] sftim opened #31847 "Document ServiceAccount within concepts section"
**This is a Feature Request**

**What would you like to be added**
*Within the Concepts section* of the docs, add a page or page section that introduces ServiceAccount and outlines the concepts.

**Why is this needed**
Kubernetes ServiceAccounts are very useful, and people who want to operate a secure platform need to understand ServiceAccounts; however, someone reading through the Concepts sectio

[2022-02-22 18:54] sftim commented on #31847
The page that I would change is  https://kubernetes.io/docs/concepts/security/controlling-access/ (adding a new section). It's also OK to create a whole new page for the service account concept.

[2022-02-22 22:39] sftim opened #31853 "kubernetes.io/enforce-mountable-secrets annotation unregistered and undocumented"
**This is a Bug Report**

**Problem:**
Kubernetes uses an annotation, `kubernetes.io/enforce-mountable-secrets`, that isn't yet registered or documented in https://kubernetes.io/docs/reference/labels-annotations-taints/

**Proposed Solution:**
Update https://kubernetes.io/docs/reference/labels-annotations-taints/ to include that annotation

**Page to Update:**
https://kubernetes.io/docs/reference/

[2022-02-22 22:45] sftim commented on #31854
/triage duplicate

[2022-02-23 00:09] jihoon-seo commented on #30953
The merged PR #31520 has removed the dockershim section on `dev-1.24` branch.
It seems that this issue is okay to close, and folks please check and confirm. 😊

[2022-02-23 00:15] jihoon-seo commented on #31853
/triage accepted

[2022-02-23 02:13] jihoon-seo opened #31856 "Typo in `cpu-constraint-namespace.md` & `memory-default-namespace.md`"
**This is a Bug Report**

**Problem:**
In [here](https://kubernetes.io/docs/tasks/administer-cluster/manage-resources/cpu-constraint-namespace/#attempt-to-create-a-pod-that-does-not-meet-the-minimum-cpu-request),
the section title is "Attempt to create a Pod that does not meet the minimum CPU **request**",
but in the paragraph it says:

---

In ["Motivation for default memory limits and requests"

[2022-02-23 06:54] #31835 closed

[2022-02-23 07:09] RA489 commented on #30188
/remove-lifecycle rotten

[2022-02-23 07:09] RA489 commented on #30084
/remove-lifecycle rotten

[2022-02-23 07:09] RA489 commented on #29890
/remove-lifecycle rotten

[2022-02-23 07:10] RA489 commented on #29856
/remove-lifecycle rotten

[2022-02-23 07:13] RA489 commented on #24080
/remove-lifecycle stale

[2022-02-23 07:31] ShivamTyagi12345 commented on #31856
triage/accepted
I also find it a beginner-friendly issue
/good first issue

[2022-02-23 07:34] Aayush987 commented on #31856
/assign

[2022-02-23 07:35] Shubham82 commented on #31853
/assign

[2022-02-23 07:41] ShivamTyagi12345 commented on #31856
/good-first-issue
/triage accepted

[2022-02-23 08:20] tengqm commented on #31834
https://github.com/kubernetes/kubernetes/commit/c13c3ebc793013c1f6ccd4c28312f63edadc5c54

[2022-02-23 08:21] tengqm commented on #31834
/close

[2022-02-23 08:21] #31834 closed

[2022-02-23 09:50] jihoon-seo commented on #31791
이런 부분도 있네요
https://kubernetes.io/docs/tasks/administer-cluster/manage-resources/quota-memory-cpu-namespace/#discussion

`restrict` 라는 단어도 있고
`limit` 이라는 단어도 있는데,
만약 둘다 "제한"으로 번역하면.. 바람직하지 않을 것 같아요.. 🤔

[2022-02-23 10:21] jihoon-seo opened #31862 "Typo: "hostname of FQDN""
**This is a Bug Report**

**Problem:**
In [here](https://kubernetes.io/docs/tasks/configure-pod-container/configure-gmsa/#:~:text=network%20shares%20usinig-,hostname%20of%20FQDN,-If%20you%20are),
the section title contains "hostname of FQDN",
but considering the context,
it should be "hostname or FQDN".

(You can see that in the paragraph of that section:)

**Proposed Solution:**

Update [`content

[2022-02-23 10:45] mitul3737 commented on #31856
/assign

[2022-02-23 10:57] Aayush987 commented on #31856
I am sorry but i have taken the issue so maybe you can look for another one.@mitul3737

[2022-02-23 11:09] mitul3737 commented on #31856
Okay sure!

[2022-02-23 11:43] sftim commented on #31862
/help
/triage accepted

[2022-02-23 11:43] sftim commented on #31827
Thanks for reporting this
/label team/katacoda

[2022-02-23 12:11] Shubham82 commented on #31853
Fixed it here: #31864
PTAL!

[2022-02-23 13:06] howieyuen opened #31868 "[zh]sync content/en/docs/tutorials/security/apparmor.md"

[2022-02-23 13:07] howieyuen commented on #31868
/language zh

[2022-02-23 13:07] howieyuen commented on #31868
/triage accepted

[2022-02-23 13:08] howieyuen opened #31869 "[zh] sync content/en/docs/tutorials/security/seccomp.md"

[2022-02-23 13:09] howieyuen commented on #31869
/language zh
/triage accepted

[2022-02-23 13:55] msyretis opened #31870 "Issue with k8s.io/docs/concepts/services-networking/ingress/"
specifically this chapter
https://kubernetes.io/docs/concepts/services-networking/ingress/#what-is-ingress

fails to load a schematic that was previously there.

[2022-02-23 15:07] uroy-personal opened #31871 "The link to "Contributor Role Board" in the https://www.kubernetes.dev/docs/guide/first-contribution/ page is broken."
**This is a Bug Report**

**Problem:**
The link to "Contributor Role Board" in the https://www.kubernetes.dev/docs/guide/first-contribution/ page is broken.
**Proposed Solution:**
The page should redirect to correct public page
**Page to Update:**
https://kubernetes.io/...

[2022-02-23 15:11] brendavsantos commented on #13939
Hello everyone! I will start working on the page that talks about [Limit Ranges](https://kubernetes.io/docs/concepts/policy/limit-range/), I've assigned myself in the spreadsheet and marked it as in progress!

[2022-02-23 16:02] #31313 closed

[2022-02-23 16:11] #29809 closed

[2022-02-23 16:20] afbjorklund commented on #28449
@chris-short:
There was another blog post by Mirantis, that mentions `cri-dockerd`:

https://www.mirantis.com/blog/our-commitment-to-open-source/

Docker Engine* is open source and so far free, while MCR is $500/node.

\* see https://www.docker.com/products/container-runtime

[2022-02-23 18:50] tarikly opened #31872 "Command to delete the zookeeper-ready script from the file system of Pod zk-0 trows an error."
**This is a Bug Report**

**Problem:**
At https://kubernetes.io/docs/tutorials/stateful-application/zookeeper/#testing-for-liveness command to delete the zookeeper-ready script from the file system of Pod zk-0  trows an error.

**Proposed Solution:**
Didn't solve that problem.

**Page to Update:**
https://kubernetes.io/docs/tutorials/stateful-application/zookeeper/#testing-for-liveness

[2022-02-23 21:04] shannonxtreme commented on #30970
Closing as all issues are fixed either now or in dev-1.24

/close

[2022-02-23 21:04] #30970 closed

[2022-02-23 21:26] shannonxtreme commented on #29986
Fixed in https://github.com/kubernetes/kubernetes/pull/107603

/close

[2022-02-23 21:26] #29986 closed

[2022-02-23 21:26] shannonxtreme commented on #29986
And also

/remove-lifecycle rotten

[2022-02-23 22:01] alculquicondor commented on #26450
/close

This was addressed during removal https://kubernetes.io/docs/reference/scheduling/policies/

[2022-02-23 22:01] #26450 closed

[2022-02-23 22:59] shannonxtreme commented on #30976
URL: https://k8s.io/docs/tasks/debug-application-cluster/debug-service

I don't think this needs to change tbh, since it's a very generic example.

[2022-02-23 23:31] chrisnegus commented on #30949
I see what you mean. I didn't check that they were meant for different branches.

[2022-02-23 23:40] jihoon-seo commented on #31871
I confirm that "The link to "Contributor Role Board" in the https://www.kubernetes.dev/docs/guide/first-contribution/ page is broken."
/triage accepted

But the corresponding GitHub repo of https://www.kubernetes.dev/ is not this one, but https://github.com/kubernetes/contributor-site .
/transfer contributor-site

[2022-02-23 23:43] jihoon-seo commented on #31870
My env:
- Windows 10 Pro 21H2 19044.1526
- Google Chrome 98.0.4758.82 (64bit)

---

For me:
![image](https://user-images.githubusercontent.com/46767780/155429350-fa5359d2-0606-429c-b582-1b474000ac70.png)

[2022-02-23 23:59] msyretis commented on #31870
Hey, also started working for me later the same evening, different os and
browser to yours.

Thanks for having a look.

On Wed, 23 Feb 2022, 23:43 Jihoon Seo, ***@***.***> wrote:

[2022-02-24 00:59] jihoon-seo commented on #31870
Good to hear!
/close

[2022-02-24 00:59] #31870 closed

[2022-02-24 01:17] jihoon-seo commented on #31862
Resolved by #31865 .

[2022-02-24 01:17] #31862 closed

[2022-02-24 01:19] jihoon-seo commented on #31872
@tarikly Could you copy and paste the error you saw to here?

[2022-02-24 03:46] mitul3737 commented on #31862
Thanks for merging @jihoon-seo

[2022-02-24 05:20] Kartik494 commented on #30945
@chris-short so the final goal is to modify this [docker-config-secrets](https://kubernetes.io/docs/concepts/configuration/secret/#docker-config-secrets) section only? is the example yaml file needs to removed?

[2022-02-24 06:11] xuzhenglun opened #31882 "Manual Rotation of CA Certificates: `--client-ca-file` can not be applied as CA bundle in `kube-controller-manager`?"
Hi, I read the manual and source code of k/k.  but I'm still confused, anyone could help me?

In doc: https://kubernetes.io/docs/tasks/tls/manual-rotation-of-ca-certificates/

What's the flag `--client-ca-file` of kube-controller-manager used for, and why is it so special?

I changed '--client-ca-file' to point to a CA bundle, and It works fine. So I read the code, it seems like nothing is differe

[2022-02-24 06:14] KelvinAkpobome commented on #25879
I will like to take on this

[2022-02-24 06:15] KelvinAkpobome commented on #29665
/assign

[2022-02-24 06:27] kumaravanish opened #31959 "kubelet options page contains incorrect information for --cloud-provider"
### What happened?

As per the Kubernetes documentation `--cloud-provider`  option is deprecated and removed in v1.23.
The link for the documentation.
[https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/](https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/)

But this parameter is still valid. I got the confiramation.

1.  Kublet code : `cmd/kubelet/app

[2022-02-24 07:23] tengqm commented on #31856
/close

[2022-02-24 07:23] #31856 closed

[2022-02-24 08:27] mk46 commented on #31659
Hi @sftim, #31667 merged.  Can we close this?
Thanks!!

[2022-02-24 08:35] tengqm commented on #31659
/close

[2022-02-24 08:35] #31659 closed

[2022-02-24 09:19] jihoon-seo commented on #31868
Please notice that:
- Renamed in EN: [en/docs/tutorials/clusters/apparmor.md → en/docs/tutorials/security/apparmor.md](https://github.com/kubernetes/website/commit/ec94e69c4ef0ea63692c312038f16c8fc2e1b6b7#diff-224d62801d454f076db335ddf57a698e1fd065ac6a637fc794c131213e6c01c4)
- ZH version exists: https://kubernetes.io/zh/docs/tutorials/clusters/apparmor/

Suggestion:
- Move https://kubernetes.io/zh

[2022-02-24 09:33] jihoon-seo commented on #31827
Page: https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/

It seems that occasionally, some people are experiencing problems with Katacoda.

For me, for now:
![image](https://user-images.githubusercontent.com/46767780/155496618-806214d5-bf85-4e78-8a61-118a61c9afa3.png)

[2022-02-24 09:36] jihoon-seo commented on #31869
/assign @howieyuen

[2022-02-24 10:48] 196Ikuchil opened #31885 "[ja] Translate concepts/scheduling-eviction/pod-overhead/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [concepts/scheduling-eviction/pod-overhead/](https://kubernetes.io/docs/concepts/scheduling-eviction/pod-overhead/) into Japanese.

**Why is this needed**
This page has not been translated.

**Comments**

/language ja
/assign

[2022-02-24 10:49] 196Ikuchil opened #31886 "[ja] Translate concepts/scheduling-eviction/scheduling-framework/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [concepts/scheduling-eviction/scheduling-framework/](https://kubernetes.io/docs/concepts/scheduling-eviction/scheduling-framework/) into Japanese.

**Why is this needed**
This page has not been translated.

**Comments**

/language ja
/assign

[2022-02-24 10:50] 196Ikuchil opened #31887 "[ja] Translate concepts/scheduling-eviction/resource-bin-packing/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [concepts/scheduling-eviction/resource-bin-packing/](https://kubernetes.io/docs/concepts/scheduling-eviction/resource-bin-packing/) into Japanese.

**Why is this needed**
This page has not been translated.

**Comments**

/language ja
/assign

[2022-02-24 10:50] howieyuen commented on #31869
related: https://github.com/kubernetes/website/pull/31867#issuecomment-1049650367

[2022-02-24 10:51] howieyuen commented on #31868
/assign

[2022-02-24 11:41] FOWind opened #31888 "[zh] fix some translations error for zh docs"
**This is a Bug Report**

**Problem:**
- `content/zh/docs/concepts/cluster-administration/system-metrics.md`
    line 131 , '启用' should be '弃用'

-  `content/zh/docs/reference/access-authn-authz/_index.md`
   Title '访问 API' should be ‘API 访问控制'

**Page to Update:**
- https://kubernetes.io/zh/docs/concepts/cluster-administration/system-metrics
- https://kubernetes.io/zh/docs/reference/access-authn-a

[2022-02-24 11:44] championshuttler commented on #31817
/assign

[2022-02-24 11:58] tarikly commented on #31872
@jihoon-seo

Command:

[code]

Command output:

[code]

Screen capture:
![image](https://user-images.githubusercontent.com/8581805/155519548-3c975ebc-84bc-47eb-a2a4-da463b8c0ceb.png)

[2022-02-24 13:19] ediazgallego commented on #31847
Hi @sftim are you working on this? or can I take it and work on it?.

[2022-02-24 13:52] sftim commented on #31847
I reported this, I haven't done anything further. Folks (@ediazgallego included) are most welcome to work on it.

[2022-02-24 13:54] sftim commented on #31817
@championshuttler there is already a PR open for this.

[2022-02-24 16:08] FerminCastro commented on #31822
OK, again since there is no specific kubeadm etcd upgrade documentation, let me clarify here HOW we finally were able to get passed this. The steps are clearly far from "clean" and clearly call for a formal procedure to update etcd when a critical etcd bug arises in a kubeadm cluster. Specially if that etcd bug precludes k8 upgrade (which basically precludes any k8 fixes in your system)

Following

[2022-02-24 16:35] vaibhav2107 commented on #30629
/remove-lifecycle stale

[2022-02-24 16:39] raelga commented on #30144
Awesome @Alekhya193 , feel free to open a PR with the glossary word.

[2022-02-24 16:41] vaibhav2107 commented on #28968
/remove-lifecycle stale

[2022-02-24 17:04] tamarabarbosa commented on #13939
Hello, I will translate /docs/concepts/overview/working-with-objects/common-labels.md. I assigned me in the sheet.

[2022-02-24 19:20] nate-double-u commented on #30942
Looks like this was fixed in https://github.com/kubernetes/kubernetes/pull/107317

[2022-02-24 19:29] marcelomansur commented on #13939
Hi! I will work on [dockershim-faq](https://kubernetes.io/blog/2022/02/17/dockershim-faq/). I've assigned me in the sheet.

[2022-02-24 20:46] shaggyyy2002 commented on #31888
/assign

[2022-02-24 21:28] shaggyyy2002 commented on #31888
#31897 I have commited the changes.

[2022-02-24 22:33] PushkarJ commented on #31420
@saschagrunert let me know if you are looking for someone to work on this

[2022-02-25 00:41] jihoon-seo commented on #31888
/assign @FOWind

[2022-02-25 00:43] jihoon-seo commented on #31887
/triage accepted

[2022-02-25 00:44] jihoon-seo commented on #31886
/triage accepted

[2022-02-25 00:44] jihoon-seo commented on #31885
/triage accepted

[2022-02-25 02:03] tengqm commented on #31888
/triage accepted

[2022-02-25 02:07] #31367 closed

[2022-02-25 02:27] tengqm commented on #30942
Based on the issue report and the upstream fix, we can close the issue now.
New reference will be generated once 1.24 is out.

[2022-02-25 02:27] tengqm commented on #30942
/close

[2022-02-25 02:27] #30942 closed

[2022-02-25 02:49] jihoon-seo commented on #31888
Resolved by #31889 .
/close

[2022-02-25 02:50] #31888 closed

[2022-02-25 03:58] tengqm commented on #29137
/remove-lifecycle rotten
This issue is still open.

[2022-02-25 04:01] #31543 closed

[2022-02-25 04:32] #29379 closed

[2022-02-25 05:57] #31819 closed

[2022-02-25 06:38] jihoon-seo commented on #31872
I followed the steps, and encountered the same output.

[code]

---

[code]

[code]

[code]

[code]

[code]

**Proposed Solution:**
L776 in [content/en/docs/tutorials/stateful-application/zookeeper.md](https://github.com/kubernetes/website/blob/main/content/en/docs/tutorials/stateful-application/zookeeper.md?plain=1)

[code]

/triage accepted
/good-first-issue

[2022-02-25 06:42] jihoon-seo commented on #31872
/remove-good-first-issue
@tarikly Are you okay to handle this issue when you review the full content of the zookeeper tutorial and make a new PR? 😊
/assign @tarikly

[2022-02-25 06:44] natereid72 opened #31904 "Style guide recommends writing Kubernetes in initial caps, but logo has “kubernetes” all-lowercase"
https://kubernetes.io/docs/contribute/style/style-guide/#kubernetes-io-word-list

States "A list of Kubernetes-specific terms and words to be used consistently across the site." and "Kubernetes should always be capitalized."

But at the top left of every page in the docs, is an occurrence of 'kubernetes' with lower case 'k'
<img width="226" alt="image" src="https://user-images.githubusercontent.co

[2022-02-25 06:48] jihoon-seo commented on #31904
That is the K8s logo image, not a text, and 'k' in the logo is in lower case.
https://github.com/kubernetes/kubernetes/blob/master/logo/name_blue.svg

[2022-02-25 06:54] tengqm opened #31905 "[zh] Umbrella topic for files missing translation."
The following files are missing in content/zh.

- [x]  153 content/en/docs/tasks/administer-cluster/migrating-from-dockershim/change-runtime-containerd.md   #31907
- [x]  483 content/en/docs/tasks/administer-cluster/memory-manager.md #31172
- [x]   79 content/en/docs/setup/best-practices/enforcing-pod-security-standards.md   #31926
- [x]  779 content/en/docs/contribute/style/diagram-guide.md   #31

[2022-02-25 06:54] tengqm commented on #31905
/language zh
/triage accepted
/help

[2022-02-25 06:57] natereid72 commented on #31904
granted, and this is the least thing I am concerned with. But as it is, it says to be used consistently across the site. So seems that includes logos with the word kubernetes in it as it's an occurrence of Kubernetes. I know the Kubernetes logo is not going to be changed (but If it was called 7, there wouldn't be any confusion with case), so maybe a simple change in wording "A list of Kubernetes-s

[2022-02-25 07:16] jihoon-seo commented on #31905
Then it seems that nearly all of the English files are translated to Chinese (except those files, which count not that much)! Wow 😊

[2022-02-25 07:46] saschagrunert commented on #31420
@PushkarJ you can take this over if you want to. I was planning to work on it later this cycle but earlier is even better.

Feel free to draft a PR to supersede https://github.com/kubernetes/website/pull/31611 or reach out to me directly if there is anything unclear. :)

[2022-02-25 09:11] Kartik494 commented on #31541
/sig-storage
I would like to give a try.

[2022-02-25 10:10] Kartik494 commented on #31541
/sig storage
/assign

[2022-02-25 12:08] tarikly commented on #31872
@jihoon-seo I believe I can do that, keep it assigned.

[2022-02-25 15:09] chrisnegus commented on #30945
I believe that the recommendation from @chris-short is to only change the section name from "Docker config Secrets" to "Docker Registry config Secrets". The rest of the content is fine because it covers the use of Docker registries and not dockershim.

[2022-02-25 15:19] chrisnegus commented on #30976
It looks like the IPv6 address has been fixed. Looks ready to merge to me.
/lgtm

[2022-02-25 15:35] chrisnegus commented on #30953
Both  [PR #31520](https://github.com/kubernetes/website/pull/31520/) and [PR #31525](https://github.com/kubernetes/website/pull/31525) have merged, so I’m closing this issue.
/close

[2022-02-25 15:35] #30953 closed

[2022-02-25 16:51] luckybirdme opened #31915 ""Error getting node" err="node \"vm-248-207-centos\" not found""
There are logs loop when I run

[code]

log content
[code]

what is happen ?

[2022-02-25 16:53] luckybirdme commented on #31915
only run init is ok
[code]
but
[code]

happen to log error

[2022-02-25 16:54] neolit123 commented on #31915
/kind support
/close

this can happen temporary before the node object is created.

please see:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/

alternatively try the support forums and #kubeadm on k8s slack:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2022-02-25 16:54] #31915 closed

[2022-02-25 17:03] chrisnegus commented on #31038
I'll take this one on.
/assign

[2022-02-25 17:42] chrisnegus commented on #29041
I have a PR in the works, so I'm going to reopen this.
/reopen

[2022-02-25 20:21] chrisnegus opened #31921 "Add information on updating blog posts"
**This is a Feature Request**

**What would you like to be added**
Per [this comment](https://github.com/kubernetes/community/pull/6312/files#r780676908), I'm opening this issue to find a place to add information about updating blog posts. I think it could go into the [Submitting blog posts and case studies](https://kubernetes.io/docs/contribute/new-content/blogs-case-studies/) page, perhaps with

[2022-02-25 20:26] chrisnegus commented on #31921
/assign

[2022-02-25 21:29] jihoon-seo commented on #31921
/triage accepted

[2022-02-26 16:55] cg-cri-gl opened #31929 "Pod Overhead - Typo & error in doc"
There is one Typo ("bustrable" instead of burstable) and an error in the phrase:
"Once a Pod is scheduled to a node, the kubelet on that node creates a new [cgroup](https://kubernetes.io/docs/reference/glossary/?all=true#term-cgroup) for the Pod. It is within this pod that the underlying container runtime will create containers."
That should probably read : "...It is within this *cgroup* that the

[2022-02-26 18:29] shannonxtreme commented on #28072
Nooo

/remove-lifecycle stale

On Sat., Feb. 26, 2022, 12:03 Kubernetes Triage Robot, <
***@***.***> wrote:

[2022-02-26 20:45] guettli opened #31930 "Improvement for k8s.io/docs/tasks/debug-application-cluster/debug-running-pod/"
The command `nslookup` of `busybox` is broken since several month.

The above page uses the image `busybox`.

This drove me crazy during the last hours.

Here the example of my KinD cluster:

[code]

`busybox:1.28` works:

[code]

I very big thank you for the people in #kubernetes-users for pointing me into the right direction.

Related issue: https://github.com/docker-library/busybox/issues/48 (c

[2022-02-26 21:09] faust64 opened #31931 "Use Cascading Deletion in a Cluster"
Running Kubernetes 1.21.6
I'm trying to delete a deployment, while preserving its pods (change the spec.selector.matchLabels, which is immutable, recreating the deployment object without stopping my containers).

It's been a while since I didn't do something like this ... with previous versions of k8s, I would have used `kubectl delete something --cascade=false`

https://kubernetes.io/docs/tasks/a

[2022-02-27 01:20] tengqm commented on #31930
/triage accepted
/kind bug
PRs are welcomed.

[2022-02-27 01:28] tengqm commented on #31931
Sounds like a bug rather than documentation issue. Would you file an issue against kubernetes/kubernetes project?

[2022-02-27 01:28] tengqm commented on #30655
/remove-lifecycle stale

[2022-02-27 02:05] tengqm commented on #30639
/remove-lifecycle stale

[2022-02-27 02:24] #31872 closed

[2022-02-27 03:40] liggitt commented on #31778
Agreed that some posts are evergreen and should be able to be exempted. I regularly send https://kubernetes.io/blog/2020/09/03/warnings/ as a nice summary, and was surprised to see a bold definitive pronouncement the page was considered outdated (it makes it sound like a specific judgement of that page more than an automated notice).

I'd also consider softening the language a bit on pages where i

[2022-02-27 03:48] liggitt commented on #31778
Opened https://github.com/kubernetes/website/pull/31932 to tweak the language and shrink the header a bit

[2022-02-27 04:05] wangxiaoyang-dev opened #31933 "干扰（Disruptions）"
There are some bugs:

https://kubernetes.io/zh/docs/concepts/workloads/pods/disruptions/#:~:text=%E4%B8%8B%E9%9D%A2%E8%BF%99%E7%A7%8D%E7%8A%B6%E6%80%81%EF%BC%9A-,node%2D1%20drained,no%20node,-pod%2Db%20available

"pod-b available" should be changed to "pod-b terminating".
"node-2" should be changed to "node-2 draining".

[2022-02-27 04:40] liggitt commented on #31778
Opened https://github.com/kubernetes/website/pull/31934 to allow marking blog posts as evergreen

[2022-02-27 06:40] 196Ikuchil opened #31936 "[ja] Translate concepts/scheduling-eviction/api-eviction.md into Japanese"
This is a Feature Request

What would you like to be added

Translate [concepts/scheduling-eviction/api-eviction.md](https://kubernetes.io/docs/concepts/scheduling-eviction/api-eviction/) into Japanese.

Why is this needed
This page has not been translated.

Comments

/language ja
/assign

[2022-02-27 07:19] 196Ikuchil opened #31937 "[ja] Translate reference/glossary/api-eviction.md into Japanese"
This is a Feature Request

What would you like to be added

Translate [content/en/docs/reference/glossary/api-eviction.md](https://kubernetes.io/docs/reference/glossary/?fundamental=true&operation=true) into Japanese.

Why is this needed
This page has not been translated.

Comments

/language ja
/assign

[2022-02-27 13:05] RA489 commented on #30660
/remove-lifecycle stale

[2022-02-27 13:07] faust64 commented on #31931
sure, https://github.com/kubernetes/kubernetes/issues/108372

[2022-02-27 13:07] #31931 closed

[2022-02-27 13:12] divya-mohan0209 opened #31946 "Document SIG Docs New Contributor Ambassador Program"
cc: @RinkiyaKeDad @natalisucks @reylejano @jimangel

We require more documentation around the New Contributor Ambassador role to set off with the formalization of the process. Opening up this issue to track the progress in these potential areas

- [x] Modify [README](https://github.com/kubernetes/website/README.md)
- [x] Discuss potential for inclusion in Contributor guide for SIG Docs
- [x] If ou

[2022-02-27 14:27] dymax opened #31950 "Improvement for k8s.io/docs/tutorials/kubernetes-basics/"
This is a great tutorial to grasp the fundamental concepts of Kubernetes. But, I think a concept of how to use/set up a YAML file for different resources has been missed.

[2022-02-27 15:39] wangxiaoyang-dev opened #31952 "节点压力驱逐"
There is a bug:

https://kubernetes.io/zh/docs/concepts/scheduling-eviction/node-pressure-eviction/#:~:text=kubelet%20%E8%BF%98%E5%B0%86,%E8%AE%BE%E4%B8%BA%20%2D997%E3%80%82

"优先级"'s hyperlink status is 404, it should be changed to "https://kubernetes.io/zh/docs/concepts/scheduling-eviction/pod-priority-preemption/#pod-priority"

[2022-02-27 20:57] sftim commented on #31778
I'm OK with marking https://kubernetes.io/blog/2020/09/03/warnings/ as evergreen _but_ I also note that it says that Jordan Liggitt is a software engineer at Google.

We should avoid including such implicitly forward-looking statements in any article that we mark as evergreen.

[2022-02-27 23:00] natalisucks opened #31955 "New SIG Docs Subproject: Localization"
cc: @divya-mohan0209 @reylejano @jimangel @bradtopol @a-mccarthy

Over the last few months, SIG Docs co-chairs and tech leads have been discussing localization efforts and our desire to turn this work into an official subproject. Regular, monthly meetings have been taking place for some time to streamline localization efforts across languages, with the SIG now wishing to recognize and reward the e

[2022-02-27 23:03] #28836 closed

[2022-02-27 23:25] natalisucks opened #31956 "Document the PR Wrangler Shadow Program for SIG Docs"
**This is a Feature Request**

Our [PR Wrangler](https://github.com/kubernetes/website/wiki/PR-Wranglers) workflow has been a great way to meet our commitment in keeping PR numbers at a manageable amount. We've recently introduced a way for new contributors to understand the PR Wrangling process, as a way to onboard possible new reviewers, approvers, and wranglers.

**What would you like to be add

[2022-02-28 00:25] #31778 closed

[2022-02-28 00:51] jihoon-seo commented on #31819
/assign @howieyuen

[2022-02-28 00:58] jihoon-seo commented on #31952
/language zh
/kind bug

[2022-02-28 01:04] jihoon-seo commented on #31937
/triage accepted

[2022-02-28 01:04] #31825 closed

[2022-02-28 01:05] jihoon-seo commented on #31936
/triage accepted

[2022-02-28 01:05] jihoon-seo commented on #31933
/language zh
/kind bug

[2022-02-28 02:06] #31853 closed

[2022-02-28 02:59] wangxiaoyang-dev opened #31957 "API 发起的驱逐"
There is a bug:

https://kubernetes.io/zh/docs/concepts/scheduling-eviction/api-eviction/#:~:text=API%20%E5%8F%91%E8%B5%B7%E7%9A%84%E9%A9%B1%E9%80%90%E6%98%AF%E4%B8%80%E4%B8%AA%E5%85%88%E8%B0%83%E7%94%A8%20Eviction%20API%20%E5%88%9B%E5%BB%BA%E9%A9%B1%E9%80%90%E5%AF%B9%E8%B1%A1%EF%BC%8C%E5%86%8D%E7%94%B1%E8%AF%A5%E5%AF%B9%E8%B1%A1%E4%BD%93%E9%9D%A2%E5%9C%B0%E4%B8%AD%E6%AD%A2%20Pod%20%E7%9A%84%E8%BF

[2022-02-28 03:25] prassu4b4 opened #31958 "<kubeadm init> while use this command i am facing this issues pls help me on this"
[init] Using Kubernetes version: v1.23.4
[preflight] Running pre-flight checks
error execution phase preflight: [preflight] Some fatal errors occurred:
        [ERROR FileAvailable--etc-kubernetes-manifests-kube-apiserver.yaml]: /etc/kubernetes/manifests/kube-apiserver.yaml already exists
        [ERROR FileAvailable--etc-kubernetes-manifests-kube-controller-manager.yaml]: /etc/kubernetes/manifest

[2022-02-28 03:28] #31868 closed

[2022-02-28 04:57] jihoon-seo commented on #31958
/kind support
Try this:
[code]
and try `kubeadm init` again.

[2022-02-28 07:38] RA489 commented on #31958
@prassu4b4 Please try ` kubeadm reset` and then run `kubeadm init` as workaround.

[2022-02-28 07:40] RA489 commented on #31958
/sig  cluster-lifecycle

[2022-02-28 07:47] prassu4b4 commented on #31958
tried no luck

[2022-02-28 07:49] NanoSector opened #31960 "Mermaid diagrams are broken"
**This is a Bug Report**

**Problem:**
The graphs on the Ingress page are broken in Firefox, but seem to work properly in Chromium. I am unsure if this happens on other pages as well.

Firefox:
![Screenshot_20220228_084718](https://user-images.githubusercontent.com/1280380/155944264-d13ecdce-d54a-41bb-97a3-a4997e49a8e7.png)

Chromium:
![Screenshot_20220228_084802](https://user-images.githubusercon

[2022-02-28 08:17] rashed-k opened #31962 "Configuring each kubelet in your cluster using kubeadm"
So when I copy The kubelet drop-in file for systemd - "--kubeconfig=/etc/kubernetes/kubelet.conf" comes in the next line, which I suppose should continue in the first Environment field.

`[Service]
Environment="KUBELET_KUBECONFIG_ARGS=--bootstrap-kubeconfig=/etc/kubernetes/bootstrap-kubelet.conf
--kubeconfig=/etc/kubernetes/kubelet.conf"
Environment="KUBELET_CONFIG_ARGS=--config=/var/lib/kubelet/c

[2022-02-28 08:31] jihoon-seo commented on #31962
@rashed-k Thank you for the report.

- URL: https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/kubelet-integration/#the-kubelet-drop-in-file-for-systemd
- File: https://github.com/kubernetes/website/blob/main/content/en/docs/setup/production-environment/tools/kubeadm/kubelet-integration.md?plain=1#L174-L175

Proposed solution:
[code]

And it will be great if someone performs a t

[2022-02-28 08:46] jihoon-seo commented on #31960
For me:
- Ubuntu 18.04, Firefox 97.0 (64-bit)
  (I cannot reproduce on here)
![image](https://user-images.githubusercontent.com/46767780/155951960-1abf65b6-3ce1-408b-88e2-30b62798c929.png)
- Windows 10, 97.0.1 (latest) (64-bit)
  (I cannot reproduce on here)
![image](https://user-images.githubusercontent.com/46767780/155951881-1462ab6d-1bf6-4268-a7e3-96706ac59b4e.png)

I googled and found some lin

[2022-02-28 09:05] jihoon-seo opened #31963 "[ko] Translate concepts/services-networking/topology-aware-hints.md into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate concepts/services-networking/topology-aware-hints.md into Korean
- https://kubernetes.io/docs/concepts/services-networking/topology-aware-hints/
- https://github.com/kubernetes/website/blob/main/content/en/docs/concepts/services-networking/topology-aware-hints.md?plain=1

**Why is this needed**
Not translated yet

**Comm

[2022-02-28 09:16] sftim commented on #31960
I can reproduce this using Firefox 97.0 on Ubuntu

/triage accepted
/priority important-longterm
/area web-development

[2022-02-28 09:20] sftim commented on #31921
/sig contributor-experience docs
/language en

Be wary of putting “how to update existing X” information in a page whose title implies that the content is solely about creating a new X. That distinction can make the content we add harder to discover than it should be.

[2022-02-28 09:21] NanoSector commented on #31960
I can consistently reproduce this on macOS 12.2.1.

<img width="679" alt="image" src="https://user-images.githubusercontent.com/1280380/155955316-a1978afb-2539-4e74-b703-8cf07fcfc1ea.png">

This is a fresh Firefox installation without any add-ons.

However, switching to another network seems to fix the issue. Switching to my phone's tethered 4G network causes it to load properly in Firefox on macO

[2022-02-28 10:08] #29863 closed

[2022-02-28 10:51] sftim commented on #31904
/retitle Style guide recommends writing Kubernetes in initial caps, but logo has “kubernetes” all-lowercase

[2022-02-28 10:51] sftim commented on #31904
/language en
/priority backlog
/sig contributor-experience docs

[2022-02-28 10:52] sftim commented on #31962
/language en
/sig cluster-lifecycle

[2022-02-28 12:33] RinkiyaKeDad commented on #31946
/assign

[2022-02-28 12:35] RinkiyaKeDad commented on #31946
Thanks for opening the issue to track this @divya-mohan0209! By "Contributor guide" do you mean https://kubernetes.io/docs/contribute/?

[2022-02-28 12:35] RinkiyaKeDad commented on #31946
/triage accepted

[2022-02-28 12:47] divya-mohan0209 commented on #31946
@RinkiyaKeDad : Yes, I don't know if it'd be a good fit given the nature of the contributor guide. But we need to have it documented somewhere as a role like we have the [Release Team shadow/roles](https://github.com/kubernetes/sig-release/tree/master/release-team) under the sig-release repo.

[2022-02-28 13:06] PriyanshuAhlawat commented on #31962
/assign

[2022-02-28 13:45] neolit123 commented on #31962
if you don't have a package manager you should be following this guide (see "without a package manager...)
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl

instead of copying the contents from https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/kubelet-integration/#the-kubelet-drop-in-file-for-systemd
a

[2022-02-28 13:48] neolit123 commented on #31958
`kubeadm reset` will definitely remove the files reported with a `FileAvailable` error.

also see:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2022-02-28 13:48] #31958 closed

[2022-02-28 13:54] natalisucks commented on #31955
/triage accepted

[2022-02-28 14:42] sftim commented on #28910
/reopen

Folks are experiencing this issue

[2022-02-28 14:43] sftim commented on #28910
/triage accepted
/priority important-longterm

It would be nice to help people who use Windows so that they can preview changes locally, with an official guide about how to set up their PC to do that.

[2022-02-28 14:43] sftim commented on #28910
/remove-lifecycle rotten

[2022-02-28 14:54] sftim commented on #31956
/language en
/sig docs
/triage accepted

[2022-02-28 14:55] sftim commented on #31946
/language en
/sig docs

[2022-02-28 14:56] sftim commented on #31950
/language en

@dymax how much does https://kubernetes.io/docs/tutorials/hello-minikube/ cover what you wanted to see?

[2022-02-28 15:29] natalisucks commented on #31955
/language en
/sig docs

[2022-02-28 15:46] MPvHarmelen opened #31967 "Serialization format on https://k8s.io/docs/reference/kubernetes-api/common-definitions/quantity/ is hard to read"
The page does not show the serialization format in a readable way: it seems like there should've been a code block.

[2022-02-28 17:02] neolit123 commented on #31692
if you look at step 4:

all kubeadmcfg.yaml files are under `--config=/tmp/${HOSTX}/kubeadmcfg.yaml`

so it seems step 6 is the one that is wrong.

[2022-02-28 17:02] neolit123 commented on #31692
/assign

[2022-02-28 17:05] neolit123 commented on #30613
merged
/close

[2022-02-28 17:05] #30613 closed

[2022-02-28 17:12] neolit123 commented on #31692
/kind bug
/triage accepted

[2022-02-28 17:23] neolit123 commented on #31692
fix here:
https://github.com/kubernetes/website/pull/31971

[2022-02-28 17:28] enj commented on #30585
/triage accepted
/remove-lifecycle stale

@brsolomon-deloitte care to open a PR 😄 ?

[2022-02-28 19:13] #29278 closed

[2022-02-28 21:09] neolit123 commented on #31526
no response.
/close

please reopening if needed.

[2022-02-28 21:10] #31526 closed

[2022-02-28 21:10] neolit123 commented on #28788
https://github.com/kubernetes/website/pull/31687
merged.

/close

[2022-02-28 21:11] #28788 closed

[2022-02-28 21:18] neolit123 commented on #30899
looks like this is being updated as part of https://github.com/kubernetes/website/pull/30882/files#r805354269
https://github.com/kubernetes/website/pull/30882/files#r805354518

/close

[2022-02-28 21:18] #30899 closed

[2022-02-28 21:24] brsolomon-deloitte commented on #30585
@enj I have since discovered https://pkg.go.dev/k8s.io/api/certificates/v1beta1#KeyUsage which serves to enumerate the possible values, but I myself am not well-versed in what each of these is used for. (The "Description" field.) Is there an external source(s) that contains these definitions?

[2022-02-28 21:37] neolit123 commented on #31650
we could add the following bullet point here:
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/#additional-information

@Rohan749 would you like to send a PR for that?

[2022-02-28 21:40] neolit123 commented on #31650
/kind feature
/remove-triage needs-information
/triage accepted
/retitle kubeadm-upgrade: add note about verifying the kubelet service status

[2022-02-28 22:21] neolit123 opened #31972 "kubeadm-create-cluster: add note about noderestriction labels"
add the following section:
[code]

above this section:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#control-plane-node-isolation

[2022-02-28 22:22] neolit123 commented on #31972
/sig cluster-lifecycle
/help
/good-first-issue
/kind feature

[2022-02-28 22:26] neolit123 commented on #31972
feel free to self-assign / send PR if you'd like to work on this.

[2022-03-01 03:25] #28072 closed

[2022-03-01 03:33] FOWind commented on #31905
Is there a plan to translate content under `content/zh/docs/reference/kubernetes-api` ?

[2022-03-01 05:15] tengqm commented on #31905
/remove help

[2022-03-01 05:16] tengqm commented on #31905
/remove-help

[2022-03-01 05:17] tengqm commented on #31905
I'm not aware of any plan so far.

[2022-03-01 06:17] shixiuguo opened #31981 "[zh] Translate Reference/tools/Mapping from dockercli to crictl"
Hi, I'm interested to translate the "Reference/Other Tools/Mapping from dockercli to crictl" page.

This is a Feature Request:
translate en/docs/reference/tools/map-crictl-dockercli.md into Chinese.

What would you like to be added:
zh/docs/reference/tools/ map-crictl-dockercli.md

/language zh
/kind feature

[2022-03-01 06:21] shixiuguo commented on #31981
/assign

[2022-03-01 07:49] tengqm commented on #31981
This one is done: https://github.com/kubernetes/website/pull/31943

[2022-03-01 07:49] tengqm commented on #31981
/close

[2022-03-01 07:49] #31981 closed

[2022-03-01 08:49] #31869 closed

[2022-03-01 09:12] howieyuen commented on #31957
/assign

[2022-03-01 09:25] howieyuen commented on #31952
/assign

[2022-03-01 09:29] #31459 closed

[2022-03-01 09:37] howieyuen commented on #29837
related https://github.com/kubernetes/website/pull/31180
/closed

[2022-03-01 09:37] howieyuen commented on #29837
/close

[2022-03-01 09:38] #29837 closed

[2022-03-01 09:42] howieyuen commented on #29822
this issue is fixed, check here: https://kubernetes.io/zh/docs/concepts/scheduling-eviction/node-pressure-eviction/#%E8%8A%82%E7%82%B9%E5%86%85%E5%AD%98%E4%B8%8D%E8%B6%B3%E8%A1%8C%E4%B8%BA

/close

[2022-03-01 09:42] #29822 closed

[2022-03-01 10:11] #31933 closed

[2022-03-01 11:33] #31952 closed

[2022-03-01 13:01] lewiscowleschipuk commented on #674
I Just got this, which is weird as it was working before...

setting `KUBE_EDITOR=vim` worked a charm, even in 2022. Perhaps my vi is an alias of vim. In any case, likely not a kubernetes issue, but local environment config.

[2022-03-01 13:20] PriyanshuAhlawat commented on #31972
/assign

[2022-03-01 13:21] PriyanshuAhlawat commented on #31972
@neolit123 pls check #31986

[2022-03-01 13:24] PinheiroLG commented on #13939
Hello everyone !!! I will translate /docs/concepts/workloads.md
I've assigned myself in the spreadsheet and marked it as in progress.

[2022-03-01 13:56] sftim commented on #31972
/triage accepted

[2022-03-01 13:56] sftim commented on #31972
I'm concerned that this issue might not be as easy to work on as it first looked.
/remove-good-first-issue

[2022-03-01 13:57] sftim commented on #31972
@neolit123 in the PR, I've added some feedback about the proposed text change.

[2022-03-01 13:58] sftim commented on #31967
/kind feature

We don't yet have any mechanism to convey formatting in our API reference code and, later, in the documentation that we generate from it.

/wg api-expression

[2022-03-01 13:59] sftim commented on #31967
/retitle Serialization format on https://k8s.io/docs/reference/kubernetes-api/common-definitions/quantity/ is hard to read

[2022-03-01 14:00] sftim commented on #31967
If there were a way to express and then render a [syntax diagram](https://en.wikipedia.org/wiki/Syntax_diagram), that'd be lovely. It'd need some extra tooling somewhere, though.

[2022-03-01 15:13] nate-double-u commented on #30898
/assign @chrisnegus
To follow up on the status of this issue.

[2022-03-01 15:16] nate-double-u commented on #30945
/assign Kartik494
We would be happy for you to work on this!

This can go into `main`.

[2022-03-01 19:07] anubha-v-ardhan opened #31987 "[hi] Proofread and tidy up container-runtimes.md"
**This is a Bug Report**

**Problem:**
PR #31857 was merged without finalizing the page as discussed on Slack ([here](https://kubernetes.slack.com/archives/CJ14B9BDJ/p1646132133634199?thread_ts=1646118155.299799&cid=CJ14B9BDJ)) with a plan to tidy up with an another PR.

**Proposed Solution:**
Proofread the current version of page and look for grammatical errors, incorrect sentence structures, oth

[2022-03-01 19:10] anubha-v-ardhan commented on #31987
/language hi

[2022-03-01 20:34] dymax opened #31988 "Exposing an External IP Address to Access an Application in a Cluster"
The external IP address always remains in `Pending` mode as minikube cluster doesn't support `LoadBalancer`.

[2022-03-01 20:44] guettli commented on #31930
I created a PR: https://github.com/kubernetes/website/pull/31989

[2022-03-01 21:56] sftim commented on #29353
I'm guessing that #31987 is the last piece before launch - have I got that right?

[2022-03-01 21:57] sftim commented on #31988
Hi @dymax
What's the URL of the page that you think isn't right?

[2022-03-01 22:21] sftim commented on #31972
Sorted

/close

[2022-03-01 22:21] #31972 closed

[2022-03-01 22:30] sftim opened #31992 "Clarify docs around node self-labelling restriction"
**This is a Bug Report**

**Problem:**
Issue https://github.com/kubernetes/website/issues/31972 and the related PR documented that setting the label
`node-role.kubernetes.io/control-plane` is a privileged operation, and that nodes cannot set that label themselves.

I'm concerned about the sentence:

1. Rather than refer to documentation in plain text, it's better to either hyperlink to that docume

[2022-03-01 22:30] sftim commented on #31992
@neolit123 FYI - I hope you can see why this needs further work

[2022-03-01 23:16] neolit123 commented on #31992
the summary that we just added in the kubeadm page is what we have been explaining to users in too many instances on github/slack/etc and i have not seen instances of "i still do not understand after you explained it". but sure, i don't object to improving these areas further.

well there is a prior sentence that has the link to the same documentation, so i guess you mean including the link in bot

[2022-03-01 23:16] neolit123 commented on #31992
/sig auth cluster-lifecycle

[2022-03-01 23:24] sftim commented on #31992
I agree about not mentioning `node-role.kubernetes.io/*` labels on the admission controllers page.

We should make it very clear how the NodeRestriction admission controller treats requests by the kubelet to set what's currently  documented as a “reserved” label. At the moment that documentation lists only `node-restriction.kubernetes.io/*` labels as those that the kubelet is outright forbidden fr

[2022-03-01 23:25] sftim commented on #31992
/triage accepted
/priority backlog
/lifecycle frozen

[2022-03-01 23:56] sftim commented on #31929
/language en

[2022-03-02 00:17] sftim opened #31993 "Alibaba Cloud annotations in use but not registered"
**This is a Bug Report**

**Problem:**
https://www.alibabacloud.com/help/en/doc-detail/86531.htm mentions some annotations (eg `service.beta.kubernetes.io/alibaba-cloud-loadbalancer-address-type`) that aren't listed in https://kubernetes.io/docs/reference/labels-annotations-taints/

**Proposed Solution:**
- Verify what annotations https://github.com/kubernetes/cloud-provider-alibaba-cloud sets
- R

[2022-03-02 00:23] sftim opened #31994 "Annotation kubernetes.io/limit-ranger not documented"
**This is a Bug Report**

**Problem:** Kubernetes uses an annotation, `kubernetes.io/limit-ranger`; however, this annotation is not registered or documented.

**Proposed Solution:**
Document the annotation

**Page to Update:**
https://kubernetes.io/docs/reference/labels-annotations-taints/

**Additional Information:**
/language en

[2022-03-02 00:26] sftim opened #31995 "Some annotations for Secret not documented"
**This is a Bug Report**

**Problem:**
Kubernetes supports two annotations on Secret:
- `kubernetes.io/service-account.name`
- `kubernetes.io/service-account.uid`

but these are not registered or documented.

**Proposed Solution:**
Register and document those annotations

**Page to Update:**
https://kubernetes.io/docs/reference/labels-annotations-taints/

**Additional Information:**
/sig auth
/lan

[2022-03-02 00:44] sftim commented on #31847
The historical page at https://github.com/kubernetes/kubernetes/blob/a20258efaecfc5b46f24111f17bc18168713a124/docs/design/service_accounts.md might provide a starting point?

[2022-03-02 01:39] jihoon-seo commented on #31995
/triage accepted

[2022-03-02 01:39] jihoon-seo commented on #31994
/triage accepted

[2022-03-02 02:13] ediazgallego commented on #31847
Planning to work on this starting tomorrow.

[2022-03-02 03:16] anubha-v-ardhan commented on #29353
Yes @sftim !!

[2022-03-02 04:37] jihoon-seo opened #31997 "[ko] Translate docs/concepts/storage/ephemeral-volumes into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate docs/concepts/storage/ephemeral-volumes into Korean
- Page: https://kubernetes.io/docs/concepts/storage/ephemeral-volumes/
- File: https://github.com/kubernetes/website/blob/main/content/en/docs/concepts/storage/ephemeral-volumes.md?plain=1

**Why is this needed**

Not translated yet

**Comments**

/language ko
/assign

[2022-03-02 04:57] mehabhalodiya commented on #31994
/sig docs

[2022-03-02 04:58] mehabhalodiya commented on #31995
/sig docs

[2022-03-02 05:17] srinivas-pokala commented on #31600
@anubha-v-ardhan  I am new to k8's community. I want to work this issue, Is the change which  mentioned at: https://github.com/kubernetes/website/blob/main/config.toml#L430 is ok to raise new PR.

[2022-03-02 05:20] funkypenguin commented on #30661
/remove-lifecycle stale

[2022-03-02 05:25] mk46 commented on #31995
/assign

[2022-03-02 05:29] srinivas-pokala commented on #30144
@raelga, I am new to k8s community. I want to work on this issue. can you guide me on this issue.

[2022-03-02 05:30] anubha-v-ardhan commented on #31600
Hey @srinivas-pokala thankyou for showing interest but we are deciding a new standard of writing this section (see #31657)
Also, This issue is currently assigned by @kranurag7 and a PR #31609 is open waiting for decision of the new format.

But hey! welcome to Kubernetes. Do join the slack if you haven't already and `#kubernetes-docs-hi` there if you're interested in Hindi l10n

[2022-03-02 06:17] jihoon-seo opened #31998 "Update `PodSecurityPolicy`-related contents in "Ephemeral Volumes""
**This is a Bug Report**

**Problem:**
In "Ephemeral Volumes" page, some `PodSecurityPolicy`-related contents exist.
https://kubernetes.io/docs/concepts/storage/ephemeral-volumes/#:~:text=As%20a%20cluster%20administrator%2C%20you%20can%20use%20a%20PodSecurityPolicy%20to%20control%20which%20CSI%20drivers%20can%20be%20used%20in%20a%20Pod%2C%20specified%20with%20the%20allowedCSIDrivers%20field.

But

[2022-03-02 06:33] Kartik494 commented on #31998
/assign

[2022-03-02 06:44] FOWind opened #31999 "[zh] antrea-network-policy page didn't display with right format."
**This is a Bug Report**

**Problem:**
'Use Antrea for NetworkPolicy' page didn't display with right format.
![image](https://user-images.githubusercontent.com/13653453/156309249-8bfdcdc1-3e83-439c-ac5b-89228602172b.png)

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/zh/docs/tasks/administer-cluster/network-policy-provider/
https://kubernetes.io/zh/docs/tasks/administer-cluster

[2022-03-02 06:45] FOWind commented on #31999
/assign

[2022-03-02 10:54] ashish-jaiswar commented on #31987
/assign

[2022-03-02 12:09] ydahan opened #32006 "Improvement for k8s.io/docs/reference/command-line-tools-reference/kube-apiserver/"
Hi,

Please provides examples at each page with reference.

There are options but no reference regarding where or how to configure them (which is essential to use the options).

It is relevant for many pages include:

https://kubernetes-docsy-staging.netlify.app/docs/tasks/debug-application-cluster/audit/

[2022-03-02 12:44] Babapool commented on #31956
Hi, I would like to work on this issue. Thanks.
/assign

[2022-03-02 14:38] PriyanshuAhlawat commented on #31994
/assign

[2022-03-02 15:00] chrisnegus commented on #31921
@sftim Do you think I should look for a different page to put this content or just find a way of integrating it so that it is both appropriate and findable?

[2022-03-02 16:28] sftim commented on #32006
/kind feature
/language en

@ydahan perhaps you could sketch out how a revise page might look, so that it's clear to someone who wants to work on this issue?

[2022-03-02 16:30] sergioagm opened #32010 "Broken Mermaid graphs"
There's two graphs made with mermaid.js that are broken on the tutorial page for getting the source IP.

URL: https://kubernetes.io/docs/tutorials/services/source-ip/#source-ip-for-services-with-type-nodeport

[2022-03-02 16:43] sftim commented on #31960
/retitle Mermaid graphs are broken (replicable with Firefox)

[2022-03-02 16:43] sftim commented on #32010
/triage duplicate

This issue duplicates https://github.com/kubernetes/website/issues/31960

[2022-03-02 17:16] PriyanshuAhlawat commented on #31994
can anyone give an example of how this annotation is used.

[2022-03-02 17:39] #29899 closed

[2022-03-02 17:46] mehabhalodiya commented on #30999
/milestone 1.24

[2022-03-02 17:47] EdmundsEcho opened #32013 "Improvement for k8s.io/docs/concepts/services-networking/connect-applications-service/"
It is a useful document.  I would add something that explicitly talks about implementing ssl between `ClusterIP` in the cluster.  This may be "over-kill" given the assumptions about the inherent network security, but regardless, whatever the "recommendation" it would be useful to touch on it.

[2022-03-02 18:08] shaggyyy2002 commented on #32006
@ydahan can you explain?

[2022-03-02 21:20] MikeSpreitzer commented on #30691
/remove-lifecycle stale

[2022-03-02 21:54] jayunit100 opened #32016 "Add docs about services about why VRFs are not supported"
**This is a Bug Report**

**Problem:**

right now some folks are interested in  pods  that are on different service networks in the same cluster

**Proposed Solution:**

Add a doc page explaining why this isnt a part of the K8s service model
- maybe its not even possible bc of the datamodel for service CIDRs????
- not sure???

**Page to Update:**

https://kubernetes.io/docs/concepts/services-netwo

[2022-03-02 21:54] jayunit100 commented on #32016
/good-first-issue

[2022-03-02 21:55] jayunit100 commented on #32016
https://github.com/kubernetes/kubernetes/issues/91728  , cc network plumbing group, references https://docs.openshift.com/container-platform/4.7/networking/multiple_networks/assigning-a-secondary-network-to-a-vrf.html

[2022-03-03 01:05] Mouly22 commented on #32016
/Assign

[2022-03-03 01:08] #31650 closed

[2022-03-03 01:28] #31692 closed

[2022-03-03 02:48] #29041 closed

[2022-03-03 03:09] mehabhalodiya commented on #30965
@enraiha0307 kindly unassign yourself from this issue, so that other people can take it up. Thanks!

@mangoGoForward Are you working on this?

[2022-03-03 03:13] mehabhalodiya commented on #30965
/milestone 1.24

[2022-03-03 03:14] mehabhalodiya commented on #30976
/milestone 1.24

[2022-03-03 03:19] mehabhalodiya commented on #30842
/milestone 1.24

[2022-03-03 03:21] mehabhalodiya commented on #30809
/sig docs

[2022-03-03 03:22] mehabhalodiya commented on #30808
/sig docs

[2022-03-03 03:25] enraiha0307 commented on #30965
Sorry, I didn't know I had to unassign it by myself. I thought only a contributor will have this authority. Now I know and have unassigned myself.

[2022-03-03 03:30] varunjain0606 commented on #30681
@SergeyKanzhelev Do we have a document that can be followed for using a standalone cadvisor? I checked the tags in cadvisor and turns out 2 versions have containerd as suffix but none have the "-containerd-cri" suffix. Ex: v0.41.0-containerd-fix-rc.2
https://github.com/google/cadvisor/tags
Does the latest version v0.44.0  contain the fix?

[2022-03-03 04:20] #31999 closed

[2022-03-03 04:40] hakman commented on #30842
@SergeyKanzhelev Users should stop using the flag only when using a container runtime that supports image pinning. At the moment there's work being done on the containerd side.
https://github.com/containerd/containerd/pull/6456

Other CRIs only have issues created for implementing image pining:
https://github.com/cri-o/cri-o/issues/5652
https://github.com/Mirantis/cri-dockerd/issues/39

[2022-03-03 06:17] Mouly22 commented on #31677
I would like to work on ``` content/bn/docs/concepts/overview/what-is-kubernetes.md``` @mitul3737

[2022-03-03 07:42] #29794 closed

[2022-03-03 09:04] jihoon-seo opened #32021 "[ko] Translate `docs/tutorials/security/ns-level-pss` into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate `docs/tutorials/security/ns-level-pss` into Korean
- Page: https://kubernetes.io/docs/tutorials/security/ns-level-pss/
- File: https://github.com/kubernetes/website/blob/main/content/en/docs/tutorials/security/ns-level-pss.md?plain=1

**Why is this needed**
Not translated yet

**Comments**

/language ko

[2022-03-03 09:31] shixiuguo opened #32024 "[zh]Translate docs/reference/kubernetes-api/common-definitions/node-selector-requirement.md into Chinese"
**This is a Feature Request**

**What would you like to be added**
   Translate docs/reference/kubernetes-api/common-definitions/node-selector-requirement.md into Chinese

**Why is this needed**
     Not translated yet

**Comments**
/language zh

[2022-03-03 09:31] shixiuguo commented on #32024
/assign

[2022-03-03 09:34] mk46 commented on #30104
I think 1) and 2). See the validation  https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/validation/validation.go#L6178-L6191

[2022-03-03 09:55] dilyanpalauzov commented on #30104
Please use “and” / “or” in the documentation, when glueing 1) with 2).

[2022-03-03 11:12] sftim commented on #32016
I'm really not convinced that this issue is written up clearly enough so that someone new to SIG Docs can pick it up and work on it.

/remove-help
/remove-good-first-issue
/language en

[2022-03-03 11:13] sftim commented on #32016
/remove-kind bug
/kind feature

[2022-03-03 12:50] cpanato commented on #31420
@PushkarJ any update on this? thanks!

[2022-03-03 13:51] bene2k1 commented on #30475
/close

[2022-03-03 13:52] #30475 closed

[2022-03-03 14:50] macnix opened #32029 "Set up Ingress on Minikube with the NGINX Ingress Controller"

[2022-03-03 15:17] sftim commented on #32029
Hi @macnix

Please describe the issue that you want to report.

/triage needs-information

[2022-03-03 15:29] FOWind opened #32030 "[zh] `content/zh/docs/tasks/administer-cluster/namespaces-walkthrough.md` title format error"
**This is a Bug Report**

**Problem:**
 ` content/zh/docs/tasks/administer-cluster/namespaces-walkthrough.md `  '理解默认名字空间' title format error. https://github.com/kubernetes/website/pull/32031

**Page to Update:**
https://kubernetes.io/zh/docs/tasks/administer-cluster/namespaces-walkthrough/

[2022-03-03 15:29] FOWind commented on #32030
/assign

[2022-03-03 15:46] sftim commented on #32030
/retitle [zh] some bugs

[2022-03-03 15:52] FOWind opened #32033 "[zh]`content/zh/docs/tasks/administer-cluster/developing-cloud-controller-manager.md` content not sync"
**This is a Bug Report**

**Problem:**
content/zh/docs/tasks/administer-cluster/developing-cloud-controller-manager.md hyper link under 开发 -> Out of tree section didn't sync from en.

**Page to Update:**
https://kubernetes.io/zh/docs/tasks/administer-cluster/developing-cloud-controller-manager/

[2022-03-03 15:53] FOWind commented on #32033
https://github.com/kubernetes/website/pull/32032

[2022-03-03 15:55] FOWind commented on #32033
/assign

[2022-03-03 17:19] PushkarJ commented on #31420
@cpanato I will be able to get to this next week as I am out for the rest of the week. If it can not wait, happy for either of you to take over.

[2022-03-03 18:05] SergeyKanzhelev commented on #30681
@bobbypage @qiutongs can you please help here?

[2022-03-04 01:56] wangxiaoyang-dev opened #32036 "调度框架"
There is a bug:
https://kubernetes.io/zh/docs/concepts/scheduling-eviction/scheduling-framework/#:~:text=%E8%BF%9B%E8%A1%8C%E7%BB%91%E5%AE%9A%E3%80%82-,%E6%8B%92%E7%BB%9D,-%E5%A6%82%E6%9E%9C%E4%BB%BB%E4%BD%95%20Permit
"1. 拒绝" should be changed to "2. 拒绝"

https://kubernetes.io/zh/docs/concepts/scheduling-eviction/scheduling-framework/#:~:text=Unreserve%20%E6%8F%92%E4%BB%B6%E3%80%82-,%E7%AD%89%E5%B

[2022-03-04 03:17] mehabhalodiya commented on #31541
/triage accepted

[2022-03-04 03:20] mehabhalodiya commented on #30647
/remove-lifecycle stale
/sig docs

[2022-03-04 05:42] mitul3737 commented on #31677
@Mouly22 , Ikramul Kayes  @ikramulkayes  is working on this

[2022-03-04 06:14] #30877 closed

[2022-03-04 08:43] pnarayanan01 opened #32039 "Taints and Tolerations"
The documentation mentions
To remove the taint added by the command above, you can run:

`kubectl taint nodes node1 key1=value1:NoSchedule-`

However the correct command, based on my testing seems to be
`kubectl taint nodes node1 key1/value1:NoSchedule-`

[2022-03-04 09:31] ydahan commented on #32006
Yes, in many pages there are targeted pieces of examples without explanation regarding how to implement them. Not all users understand the context of specific configuration. I will try to provide a suggestion regarding how to provide practical information (explanation, example and the context). Personally I find myself looking for alternate  information sources since the one provided is partially/

[2022-03-04 10:16] ydahan commented on #32006
In the specific Audit policy section it's written that you can pass parameters to kube-api server without any further explanation.
![image](https://user-images.githubusercontent.com/15953845/156744271-c7fb8b19-d51f-4c15-bf08-39df59365b58.png).
I used other sources to find that I need to edit the file /etc/kubernetes/manifests/kube-apiserver.yaml. however I had to rollback since the kube-apiserver

[2022-03-04 10:19] sftim commented on #32006
This could be a request for a [_tutorial_](https://k8s.io/docs/tutorials/) page on configuring auditing, perhaps?

[2022-03-04 10:25] sftim commented on #32006
If there are other topics where you want to see a tutorial added, those could be separate issues @ydahan.

[2022-03-04 10:31] shaggyyy2002 commented on #32036
/assign

[2022-03-04 10:32] shaggyyy2002 commented on #32036
[wangxiaoyang-dev](https://github.com/wangxiaoyang-dev) on what lines are the changes required?

[2022-03-04 11:10] shaggyyy2002 commented on #32036
I have opened a PR on #32041.

[2022-03-04 11:11] shaggyyy2002 commented on #32039
/assign

[2022-03-04 11:13] shaggyyy2002 commented on #32039
hey [pnarayanan01](https://github.com/pnarayanan01) can you please link the document here and where to make the changes

[2022-03-04 11:26] pnarayanan01 commented on #32039
https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/
Under the Concepts heading, the second code snippet

[2022-03-04 11:31] anubha-v-ardhan commented on #30571
/remove-lifecycle stale

[2022-03-04 14:49] shaggyyy2002 commented on #32039
I have opened a PR. #32042

[2022-03-04 15:05] et304383 opened #32043 "Documentation for automatic ECR authentication when on EC2 is gone in English docs but still present in French docs"
**This is a Bug Report**

As per the title, the docs for how built in auth against AWS ECR will happen automatically are GONE in the English (and maybe other language) docs, but still present in the French docs.  I think these should still be present in all docs.

**Proposed Solution:**

Restore the English documentation on how K8s automatically authenticates against ECR if on EC2.

**Page to Upda

[2022-03-04 15:16] et304383 commented on #32043
Apparently this was removed under PR #21438.

[2022-03-04 16:19] et304383 commented on #32043
Why is that the solution?  How is one supposed to find out that K8s automagically logs into AWS ECR?

[2022-03-04 16:29] sftim commented on #32043
@et304383 I hope from discussion elsewhere you're now clear on why we only document the behavior of Kubernetes itself, and we usually don't document third party products / software that incorporate Kubernetes components.

[2022-03-04 16:38] et304383 commented on #32043
Yes.  But given that I am seeing AWS ECR authentication occur automatically as per the old documentation, I firmly believe this is part of the core functionality of K8s.

One guide in particular:
http://docs.heptio.com/content/private-registries/pr-ecr.html

This needs to be documented somewhere so folks know this happens automatically and they don't need to go through the creation of secrets and

[2022-03-04 16:41] sftim opened #32046 "Highlight https://k8s.dev/ guides from most pages in website contributor guide"
**This is a Feature Request**

**What would you like to be added**
Add a callout or banner to pages such as https://kubernetes.io/docs/contribute/participate/. The callout or banner should **prominently** signpost the existence of an equivalent page that's not just for SIG Docs.

**Why is this needed**
https://github.com/kubernetes/contributor-site/issues/167 - about localization for https://k8s.d

[2022-03-04 16:49] sftim opened #32047 "Legacy kubelet image pull credentials mechanism not documented"
**This is a Bug Report**

**Problem:**
Add (reinstate!) documentation for the legacy credential provider integration in the kubelet that has integrations for:
- ACR (Azure Container Registry)
- ECR (Elastic Container Registry)
- GCR (Google Container Registry)

**Why is this needed:**

&mdash; https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/2133-kubelet-credential-providers

T

[2022-03-04 16:51] sftim commented on #32043
I've logged https://github.com/kubernetes/website/issues/32047 - it looks like there is a gap around documenting that legacy mechanism.

@et304383 I'm not sure that it makes sense to leave _this specific issue_ open; it's not work that I'd expect the French localization to prioritize.

[2022-03-04 16:52] sftim commented on #32047
Any new documentation we add for this should hyperlink to https://kubernetes.io/docs/tasks/kubelet-credential-provider/kubelet-credential-provider/, and vice versa.

[2022-03-04 16:53] et304383 commented on #32043
@sftim  agreed.   I did some digging and it seems that the AWS ECR automagic login is related to the AWS provider:

https://github.com/kubernetes/cloud-provider-aws

So in that sense, I suppose it does fall outside of the core of K8s.

[2022-03-04 16:56] sftim opened #32048 "Document kubelet image credential provider extension concept"
**This is a Feature Request**

**What would you like to be added**
Mention kubelet image credential providers within https://kubernetes.io/docs/concepts/extend-kubernetes/

**Why is this needed**
The concepts section about [extending Kubernetes](https://kubernetes.io/docs/concepts/extend-kubernetes/) does not list kubelet credential providers.
https://kubernetes.io/docs/tasks/kubelet-credential-pr

[2022-03-04 16:56] sftim commented on #32043
https://github.com/kubernetes/cloud-provider-aws is definitely part of the Kubernetes project.

[2022-03-04 16:57] sftim commented on #32043
/close

This issue is more specific that it needs to be; #32047 should supersede it.

[2022-03-04 16:57] #32043 closed

[2022-03-04 16:58] nbrinda opened #32049 "Improvement for k8s.io/docs/tutorials/kubernetes-basics/expose/expose-interactive/"
On step 1 it says "(minikube does not support the LoadBalancer option yet)". Which may be incorrect as I was able to the run command `kubectl expose deployment/kubernetes-bootcamp --type="LoadBalancer" --port 8080` just fine. I pulled this command from this tutorial https://kubernetes.io/docs/tutorials/hello-minikube/#create-a-service.

Might be out of date or I'm confused. If it is out of date mi

[2022-03-04 19:48] rishi8055 commented on #30965
@mehabhalodiya If no one is working on this issue can you assign this issue to me .

[2022-03-05 03:20] mehabhalodiya commented on #30965
Sure @rishi8055 you can go ahead.
Anytime, you can assign yourself by commenting `/assign` on particular issue you want to work.

For now, I am assigning this to you.
/assign @rishi8055

[2022-03-05 04:02] mehabhalodiya commented on #30950
@chris-short I would like to submit a PR for resolving this particular issue. May I assign it to me?

I see `Docker` written here:

![docker_mention1](https://user-images.githubusercontent.com/73488906/156866819-04cb1f6e-530a-43e4-8222-2d3c3a4225eb.png)

![docker_mention2](https://user-images.githubusercontent.com/73488906/156866822-e9f11da3-788b-4b9e-8cdc-f0fa2143f9b9.png)

What should I write in

[2022-03-05 04:59] ianychoi opened #32053 "[ko] Outdated `docs/concepts/services-networking/_index.md`"
**This is a Bug Report**

**Problem:**

- While reviewing https://github.com/kubernetes/website/pull/31695, I found that too much Korean translated parts are being removed on `content/ko/docs/concepts/cluster-administration/networking.md` part.
- The change was originated by https://github.com/kubernetes/website/pull/28617 to migrate the K8s networking model section: from  `content/en/docs/concept

[2022-03-05 05:00] ianychoi commented on #32053
/language ko

[2022-03-05 05:01] ianychoi commented on #32053
milestone dev-1.23-ko.2

[2022-03-05 05:01] ianychoi commented on #32053
/milestone dev-1.23-ko.2

[2022-03-05 05:02] ianychoi commented on #32053
(Oh I don't have authority to maintain milestone.. tagging @seokho-son on this thanks)

[2022-03-05 05:18] ianychoi opened #32056 "[ko] Wrong anchor usage on `ko/docs/concepts/storage/volumes.md`"
**This is a Bug Report**

**Problem:** Anchor usage "#subpath-사용하기" could not redirect to actual anchor on the document on https://kubernetes.io/ko/docs/concepts/storage/volumes/

**Proposed Solution:** Change with correct anchor usage "#using-subpath"

**Page to Update:**
https://kubernetes.io/ko/docs/concepts/storage/volumes/

[2022-03-05 05:18] ianychoi commented on #32056
/language ko

[2022-03-05 05:34] #31431 closed

[2022-03-05 05:58] rishi8055 commented on #30965
Thank you Meha for assigning me for this issue . Let me know you that i am
new in this open source contribution journey and indeed  so much of
guidance to move forward it will be very helpful if you can do this for me
in anyway.

On Sat, Mar 5, 2022 at 8:51 AM Meha Bhalodiya ***@***.***>
wrote:

[2022-03-05 06:29] ianychoi commented on #32053
This should address instead -  https://github.com/kubernetes/website/pull/31698 closing it

[2022-03-05 06:29] #32053 closed

[2022-03-05 07:31] mehabhalodiya commented on #32048
/triage accepted
/sig docs

[2022-03-05 07:35] mehabhalodiya commented on #32046
/triage accepted

[2022-03-05 07:45] mehabhalodiya commented on #31994
/sig scheduling

[2022-03-05 08:39] afbjorklund commented on #30842
The current situation is that you end up with two (or more) versions of pod-infra-container:

[code]

Depending on the actual versions of kubernetes and the container runtime being involved.

Ironically the containerd config said "k8s.gcr.io/pause:3.2", so something else is broken too.

[2022-03-05 08:46] mk46 commented on #32039
@pnarayanan01 Kindly share kubernetes verson and output of `kubectl describe node <your tainted node> | grep Taints`
/triage needs-information

[2022-03-05 09:01] pnarayanan01 commented on #32039
@mk46 I no longer have access to this environment. However I think the syntax isn't version dependent. Sorry, I couldn't be of more help at the moment.

[2022-03-05 09:20] mk46 commented on #32039
I tried in minikube version: v1.18.0

Kubernetes version:
Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.4", GitCommit:"e87da0bd6e03ec3fea7933c4b5263d151aafd07c", GitTreeState:"clean", BuildDate:"2021-02-18T16:12:00Z", GoVersion:"go1.15.8", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.2", GitCommit:"faecb196815e

[2022-03-05 14:38] #32033 closed

[2022-03-05 14:42] 196Ikuchil opened #32068 "[ja] Translate reference/scheduling/config/ into Japanese"
This is a Feature Request

What would you like to be added

- Create new directory `content/ja/docs/reference/scheduling` and `_index.md`.
- Translate [reference/scheduling/config/](https://kubernetes.io/docs/reference/scheduling/config/) into Japanese.

Why is this needed
This page has not been translated.

Comments

/language ja
/assign

[2022-03-05 16:39] shannonxtreme commented on #30918
I'm not Tim (obviously) but I think the blog post about having a working cluster for 1.24 should take priority. I'd imagine that a cluster operator would care more about how not to enter a broken state in 1.24 than they would care about why we are doing the change (the why can come after they aren't broken). My vote is to publish the "how not to be broken" post soon.

(also I don't think calling t

[2022-03-05 20:20] neolit123 commented on #31038
https://github.com/kubernetes/website/pull/31917 merged, thanks
/close

[2022-03-05 20:20] #31038 closed

[2022-03-05 22:14] #29914 closed

[2022-03-06 01:22] MayankSri opened #32071 "Taints and Tolerations"

[2022-03-06 01:25] tengqm commented on #32071
Em ... the '-' is, on the contrary, mandatory to **remove** a taint.

[2022-03-06 01:38] MayankSri commented on #32071
I realized, thanks for your response, I accidently cleared my comment while finding a way to cancel the issue.

[2022-03-06 01:38] #32071 closed

[2022-03-06 03:22] wangxiaoyang-dev commented on #32036
OK.

[2022-03-06 03:23] #32036 closed

[2022-03-06 07:22] ydahan opened #32077 "Improvement for k8s.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/"
Page: [Example: Deploying WordPress and MySQL with Persistent Volumes](https://k8s.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/)

---

Hi,

I was unable to create using the provided information. and done some adjustments to make this work.
My setup has workers with NFS mount to /mnt/data. I create /mnt/data/wp/mysql and /mnt/data/wp/wordpress folders.
I added the follo

[2022-03-06 11:25] #29929 closed

[2022-03-06 12:16] jihoon-seo commented on #32056
/triage accepted
/assign @ianychoi

[2022-03-06 12:19] jihoon-seo commented on #32068
/triage accepted

[2022-03-06 12:22] jihoon-seo commented on #32021
/assign

[2022-03-06 13:27] bitsector opened #32079 "Improvement for k8s.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/"
Setting KUBECONFIG variable doesn't work very well on macOS (Monterey 12.2.1).

In the line:
`export KUBECONFIG=$KUBECONFIG:config-demo:config-demo-2`
The first colon (:) will make the following character (c) dissappear:
What I get is the mangled text:
/Users/.../.kube/config:/Users/.../.kube/aws-kubeconfigonfig-demo:config-demo-2

What works for me better is explicitly using full paths:
`export K

[2022-03-06 13:47] tengqm commented on #32079
[code]

[2022-03-06 13:52] 196Ikuchil opened #32081 "[ja] Translate reference/glossary/replica-set.md into Japanese"
**This is a Feature Request**

**What would you like to be added**
Translate [reference/glossary/replica-set.md](https://kubernetes.io/docs/reference/glossary/?fundamental=true#term-replica-set) into Japanese.

**Why is this needed**
This page has not been translated.
It is needed for PR #32068

Comments

/language ja
/assign

[2022-03-06 14:01] 196Ikuchil opened #32082 "[ja] Translate /docs/reference/scheduling/policies/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [reference/scheduling/policies/](https://kubernetes.io/docs/reference/scheduling/policies/) into Japanese.

**Why is this needed**
This page has not been translated.

**Comments**

/language ja
/assign

[2022-03-06 21:42] vaibhav2107 commented on #32048
I would like to work on this

[2022-03-06 21:42] vaibhav2107 commented on #32048
/assign

[2022-03-06 21:59] vaibhav2107 commented on #30499
/remove-lifecycle stale

[2022-03-07 03:05] wangxiaoyang-dev opened #32085 "调度策略"
There is a bug:
Chinese Content: https://kubernetes.io/zh/docs/reference/scheduling/policies/
English Content: https://kubernetes.io/docs/reference/scheduling/policies/

chinese content is different from english content.

[2022-03-07 04:34] #32030 closed

[2022-03-07 05:43] tengqm commented on #32085
The English page has changed a lot.

[code]

/triage accepted

[2022-03-07 06:34] shixiuguo opened #32088 "[zh]Translate docs/reference/kubernetes-api/common-definitions/ResourceFieldSelector page into Chinese"
**This is a Feature Request**

**What would you like to be added**
Translate docs/reference/kubernetes-api/common-definitions/resource-field-selector.md into Chinese

**Why is this needed**
Not translated yet

**Comments**
/language zh

[2022-03-07 06:34] shixiuguo commented on #32088
/assign

[2022-03-07 06:43] shixiuguo opened #32089 "[zh]Translate docs/reference/kubernetes-api/common-definitions/Status page into Chinese"
**This is a Feature Request**

**What would you like to be added**
Translate docs/reference/kubernetes-api/common-definitions/status.md into Chinese

**Why is this needed**
Not translated yet

**Comments**
/language zh
/assign

[2022-03-07 06:46] shixiuguo opened #32090 "Translate docs/reference/kubernetes-api/common-definitions/TypedLocalObjectReference page into Chinese"
**This is a Feature Request**

**What would you like to be added**
Translate docs/reference/kubernetes-api/common-definitions/typed-local-object-reference.md  into Chinese

**Why is this needed**
Not translated yet

**Comments**
/language zh
/assign

[2022-03-07 07:39] Kartik494 commented on #30945
Hi , I Have raised a PR . PTAL

[2022-03-07 08:12] panyanming opened #32093 "Interactive Tutorial - Exposing Your App"
exec command :  $ kubectl describe services/kubernetes-bootcamp
response :
Error from server (NotFound): services "kubernetes-bootcamp" not found
sorry ,I make a mistake, there is no problem

[2022-03-07 08:22] #32093 closed

[2022-03-07 09:24] timothyclarke commented on #19611
/remove-lifecycle stale

[2022-03-07 09:28] sftim commented on #29704
Still worth doing
/lifecycle frozen
/reopen

[2022-03-07 11:02] sftim commented on #30945
I'm not sure you have that right @chris-short .

The way I have it, the link between the name Docker and these Secret types is that the content of the Secret represents a configuration file. That configuration file follows the same format that you would find on your PC if you used Docker locally.

The page https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/ explai

[2022-03-07 11:11] sftim commented on #32085
/language zh

[2022-03-07 11:13] sftim commented on #32077
/language en

[2022-03-07 11:13] sftim commented on #32077
@ydahan the issue description is rather hard to read. Would it be OK if I reformat it for you?

[2022-03-07 11:37] marseel commented on #28068
/remove-lifecycle stale

[2022-03-07 11:47] ydahan commented on #32077
Yes, sure

[2022-03-07 11:48] ydahan commented on #32077
Yes, Sure

[2022-03-07 11:56] sftim commented on #32077
I tidied it.
/reopen

[2022-03-07 11:57] lhaendler opened #32096 "Mermaid graphs are broken"
![image](https://user-images.githubusercontent.com/94445906/157029473-263e75e3-b5d9-4953-8a8e-e1b08974d673.png)
https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/#example-one-topologyspreadconstraint

[2022-03-07 12:25] stormqueen1990 opened #32099 "Docs build container image only supports AMD64 architecture"
**This is a Feature Request**

**What would you like to be added**
Right now, building container images for local use of this repository via `make container-image` does not work with Apple Silicon chips. This is because the Dockerfile downloads the Hugo binary for amd64 architecture.

I have been able to workaround this issue by explicitly asking for `--platform linux/amd64`, however, containers b

[2022-03-07 12:27] stormqueen1990 commented on #32099
I created pull request https://github.com/kubernetes/website/pull/32100 with a Dockerfile and Makefile target that I have tested to address this issue.

[2022-03-07 12:46] stormqueen1990 opened #32105 "Secrets page shows a Secret manifest instead of Docker config"
**This is a Bug Report**

**Problem:**
In the Docker config section of the Secrets page, the wording currently states that a Docker config generated on-the-fly by `kubectl` will be presented, but presents the Secret manifest instead.

**Proposed Solution:**
Show both the Secret manifest and the Docker config, preceded by wording that states what each one of those are.

**Page to Update:**
https://

[2022-03-07 14:05] sftim commented on #30809
Fixed in https://github.com/kubernetes/website/pull/31602
/close

[2022-03-07 14:05] #30809 closed

[2022-03-07 14:05] sftim commented on #30809
Thanks @mtardy

[2022-03-07 16:33] #29530 closed

[2022-03-07 16:33] #29617 closed

[2022-03-07 16:49] sftim commented on #32105
/language en
/triage accepted

PR ##30984 also has a fix for this.

[2022-03-07 17:29] stormqueen1990 commented on #32105
Hi @sftim!

Should I close the PR I opened in this case?

[2022-03-08 00:24] supaplextor opened #32117 "Regarding baseurl=https://packages.cloud.google.com/yum/repos/kubernetes-el7-\$basearch"
Right now https://packages.cloud.google.com/yum/repos/kubernetes-el6-x86_64/repodata/filelists.xml reports zero packages.

I'm unable to install software as outlined on https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/

Using rpm based Mariner Linux full clean install.

 ![VirtualBox_Mariner Linux Docker Test_07_03_2022_17_21_43](https://user-images.githubuserc

[2022-03-08 00:26] supaplextor commented on #32117
![VirtualBox_Mariner Linux Docker Test_07_03_2022_17_25_12](https://user-images.githubusercontent.com/4638774/157141169-0e5dace6-6e83-48fc-8596-b0975297b130.png)
First screenshot has old typo, attaching current copy

[2022-03-08 01:46] #29065 closed

[2022-03-08 03:12] RA489 commented on #32117
/sig cluster-lifecycle

[2022-03-08 03:52] QiuToo opened #32119 "TLS 启动引导，unrecognized feature gate: RotateKubeletClientCertificate"
问题描述：
[root@two-node1 ~]# systemctl status  kubelet  -l
● kubelet.service - Kubernetes Kubelet
   Loaded: loaded (/usr/lib/systemd/system/kubelet.service; enabled; vendor preset: disabled)
   Active: activating (auto-restart) (Result: exit-code) since 二 2022-03-08 11:43:15 CST; 1s ago
     Docs: https://github.com/kubernetes/kubernetes
  Process: 82134 ExecStart=/usr/local/bin/kubelet --bootstrap-

[2022-03-08 04:42] mk46 commented on #32096
Duplicate of https://github.com/kubernetes/website/issues/31960
/triage duplicate

[2022-03-08 07:06] Shubham82 opened #32121 "Update the FEATURE STATE of NamespaceDefaultLabelName."
**This is a Bug Report**

**Problem:**

The `FEATURE STATE` of `NamespaceDefaultLabelName` is mentioned `Kubernetes 1.21 [beta]` in [Targeting a Namespace by its name](https://kubernetes.io/docs/concepts/services-networking/network-policies/#targeting-a-namespace-by-its-name). which is wrong, As per mention in the [Fetature Gates](https://kubernetes.io/docs/reference/command-line-tools-reference/f

[2022-03-08 07:07] Shubham82 commented on #32121
/sig network

/assign

[2022-03-08 07:47] Shubham82 commented on #32121
Fixed it here: #32122

[2022-03-08 10:39] tengqm commented on #32119
The `RotateKubeletClientCertificate` feature has GA'ed in 1.19. In a cluster version later than that, you can safely remove that feature gate setting. In your case, remove `"RotateKubeletClientCertificate": true,` from your `/etc/kubernetes/kubelet-bootstrap.kubeconfig` file.

/close

[2022-03-08 10:39] #32119 closed

[2022-03-08 10:49] RohimMolla opened #32123 "Improvement for k8s.io/docs/tasks/debug-application-cluster/get-shell-running-container/"
any specific cmd for connect pods terminal and can run cmd one by one from local.

[2022-03-08 12:44] felixlutq opened #32125 "yaml - ignorePreflightErrors need to under nodeRegistration"
file: kubeadm-config.v1beta3.md
ignorePreflightErrors need to under nodeRegistration.

[2022-03-08 14:17] tengqm commented on #32125
That is exactly what the reference is saying.

[2022-03-08 14:29] sftim commented on #32125
I think you're suggesting a clarification to https://kubernetes.io/docs/reference/config-api/kubeadm-config.v1beta3/ @felixlutq
Have I got that right?

[2022-03-08 15:23] sftim commented on #30811
/lifecycle frozen

[2022-03-08 16:00] sftim commented on #32099
/retitle Docs build container image only supports AMD64 architecture

[2022-03-08 16:02] sftim commented on #32082
/retitle [ja] Translate /docs/reference/scheduling/policies/ into Japanese

[2022-03-08 17:46] anubha-v-ardhan commented on #31987
Hi @ashish-jaiswar. Have you started working in the issue? Feel free to ask here or on Slack (`#kubernetes-docs-hi`) for any help.

[2022-03-08 17:55] ashish-jaiswar commented on #31987
Hi @anubha-v-ardhan I am working on this issue and the content of this page is large so it takes time .

[2022-03-08 18:42] shannonxtreme commented on #30974
@afbjorklund @sftim

From what I understand, [Find out what container runtime is used on a node](https://kubernetes.io/docs/tasks/administer-cluster/migrating-from-dockershim/find-out-runtime-you-use/) needs to add info about how cri-dockerd users aren't affected, and how to check the CRI socket to tell if you do use cri-dockerd. (how? if crictl is not installed, is there another way?)

Also, http

[2022-03-08 18:49] Babapool commented on #30994
The issue is fixed by PR #31701. I believe we can close this issue. Thanks.

[2022-03-08 18:51] Babapool commented on #30499
This issue is fixed by PR #30501. I believe that this issue can be closed. Thanks.

[2022-03-08 18:57] sftim commented on #30974
I'd say yes: it _is_ out of scope for this issue. It's fine to track a separate issue to add docs for that.

[2022-03-08 19:08] sftim commented on #30499
/close

[2022-03-08 19:08] #30499 closed

[2022-03-08 19:17] Babapool commented on #30994
/close

[2022-03-08 19:18] shannonxtreme commented on #30681
The fix was added in https://github.com/google/cadvisor/pull/2936 I think but not sure which releases contain it

[2022-03-08 19:19] sftim commented on #32096
/retitle Mermaid graphs are broken

[2022-03-08 19:20] sftim commented on #31960
/retitle Mermaid diagrams are broken (replicable with Firefox)

[2022-03-08 19:27] chrismetz09 commented on #31960
Cannot reproduce using firefox 95.0.2 (64-bit) on mac 10.15.7.
Cannot reproduce using firefox 98.0 on mac 10.15.7.
Cannot reproduce in mermaid live editor that uses Mermaid 8.14.0

@sftim, thoughts on this?

[2022-03-08 19:28] shannonxtreme opened #32129 "Add guidance for migrating from dockershim to cri-dockerd"
Related to #30974

Source comment: https://github.com/kubernetes/website/issues/30974#issuecomment-1007920650

This does not block 1.24.

---

## Description

Add  a how-to for users currently on 1.23 and earlier using Docker Engine with dockershim to migrate to cri-dockerd. Link the how-to in the [Migrating from dockershim](https://kubernetes.io/docs/tasks/administer-cluster/migrating-from-docker

[2022-03-08 19:37] chrismetz09 commented on #31960
/assign @chrismetz09

[2022-03-08 19:39] afbjorklund commented on #32129
@shannonxtreme : Note that it is supposed to read `unix:///var/run/cri-dockerd.sock`.

The scheme will soon be mandatory, and Mirantis changed the default socket location.

[2022-03-08 20:02] afbjorklund commented on #30974
I believe that `crictl` is mandatory, without dockershim

[2022-03-08 20:59] sftim commented on #31960
I can reproduce this reliably but _not_ on first page load.

[2022-03-08 21:01] sftim commented on #31960
This is a multihomed PC by the way; 2 IPv4 addresses and 4 IPv6 addresses, so the browser will be using something similar to [Happy Eyeballs](https://en.wikipedia.org/wiki/Happy_Eyeballs).

[2022-03-08 21:25] sftim commented on #30974
There is a [`Version` request](https://github.com/kubernetes/cri-api/blob/master/pkg/apis/runtime/v1/api.proto#L35). If you talk CRI to some unidentified CRI socket and the thing at the other end identifies itself as Docker Engine, odds on you're talking to `cri-dockerd` or `dockershim`.

You can narrow it down by running `lsof /path/to/unknown/socket`. That's likely to give you either the PID and

[2022-03-08 21:29] sftim commented on #32129
/sig node

[2022-03-08 21:30] sftim commented on #32129
In my view, it's OK to provide outline instructions and to refer people to https://github.com/mirantis/cri-dockerd if they want more details.

[2022-03-08 21:31] sftim commented on #32129
/milestone 1.24

This'd really need to land for the v1.24 release or not at all.

[2022-03-08 21:40] shannonxtreme commented on #32129
/assign

[2022-03-08 22:03] vaibhav2107 commented on #30016
/remove-lifecycle stale

[2022-03-08 22:05] vaibhav2107 commented on #29044
/remove-lifecycle stale

[2022-03-08 22:13] felixlutq commented on #32125
https://kubernetes.io/docs/reference/config-api/kubeadm-config.v1beta3/

In the example:

apiVersion: kubeadm.k8s.io/v1beta3

kind: InitConfiguration

bootstrapTokens:

- token: "9a08jv.c0izixklcxtmnze7"

  description: "kubeadm bootstrap token"

  ttl: "24h"

- token: "783bde.3f89s0fje9f38fhf"

  description: "another bootstrap token"

  usages:

  - authentication

  - signing

  groups:

  - sy

[2022-03-08 22:13] felixlutq commented on #32125
https://kubernetes.io/docs/reference/config-api/kubeadm-config.v1beta3/

In the example:

apiVersion: kubeadm.k8s.io/v1beta3

kind: InitConfiguration

bootstrapTokens:

- token: "9a08jv.c0izixklcxtmnze7"

  description: "kubeadm bootstrap token"

  ttl: "24h"

- token: "783bde.3f89s0fje9f38fhf"

  description: "another bootstrap token"

  usages:

  - authentication

  - signing

  groups:

  - sy

[2022-03-08 22:15] sftim commented on #32125
Hi @felixlutq

I'm going to edit your follow-up for readability - to make the YAML formatting more obvious.

[2022-03-08 22:17] sftim commented on #32125
That YAML from the email message is equivalent to:
[code]

[2022-03-08 22:18] sftim commented on #32125
It looks like the rest of your follow-up message is missing @felixlutq. I can see the start of a sentence, “In the example:”, but not the remainder.

/triage needs-information.

[2022-03-08 22:19] sftim commented on #32125
/triage needs-information

[2022-03-08 22:52] vahid79t opened #32130 "Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/"
echo "deb [signed-by=/usr/share/keyrings/kubernetes-archive-keyring.gpg] https://apt.kubernetes.io/ kubernetes-xenial main" | sudo tee /etc/apt/sources.list.d/kubernetes.list

but it needs to be edited to :

echo "deb [signed-by=/usr/share/keyrings/kubernetes-archive-keyring.gpg] https://apt.kubernetes.io/kubernetes-xenial main" | sudo tee /etc/apt/sources.list.d/kubernetes.list

because there sho

[2022-03-08 23:20] tengqm commented on #32125
Okay, that  makes sense. The example might be wrong. I'll look into it.

[2022-03-09 01:10] chrismetz09 commented on #31960
Random number of reloads **DOES** produce the error using firefox 98.0 on mac 10.15.7.
Random number of reloads **DOES** produce the error using safari Version 14.1 (15611.1.21.161.7, 15611) on mac 10.15.7.

I was able to reproduce @NanoSector observation describing firefox 4G throttling that seems to mitigate the problem.

[2022-03-09 01:38] scott-guthridge opened #32133 "Interactive Tutorial - Configuring a Java Microservice"
This is really an issue about the minikube environment, and may be incorrectly filed here.  Please redirect as needed.

The /root/.vimrc file in the minikube environment sets "tabstop=2".  This line should be deleted.  In vi and vim, indentation level is controlled through the shiftwidth setting **only**, and that setting is correctly set to 2.

The tabstop value, on the other hand, has nothing to

[2022-03-09 01:44] webf5 opened #32134 "Issue with k8s.io/zh/docs/concepts/policy/"
`https://kubernetes.io/zh/docs/concepts/policy/pod-security-policy/` and 'https://kubernetes.io/zh/docs/tutorials/clusters/apparmor/'
is unable to access

[2022-03-09 01:46] webf5 opened #32135 "Issue with k8s.io/zh/docs/tutorials/"
https://kubernetes.io/zh/docs/tutorials/clusters/apparmor/
unable to access

[2022-03-09 02:38] mengjiao-liu opened #32136 "kubernetes.io/zh/docs/concepts/policy/pod-security-policy/ page garbled"
**This is a Bug Report**

**Problem:**
page https://kubernetes.io/zh/docs/concepts/policy/pod-security-policy/  garbled.

![image](https://user-images.githubusercontent.com/44460091/157361567-9b00c8e0-a25d-48d9-aa66-2a9f96e11320.png)

/language zh

[2022-03-09 02:39] RA489 commented on #32130
/sig cluster-lifecycle

[2022-03-09 02:41] mengjiao-liu commented on #32136
I suddenly saw this page showing garbled characters today.  Can you take a look? @tengqm

[2022-03-09 02:52] RA489 commented on #32130
/assign

[2022-03-09 03:04] tengqm commented on #32136
@mengjiao-liu Looking into this.

[2022-03-09 03:10] RA489 commented on #32130
@vahid79t are you facing any error because of this ?

[2022-03-09 03:21] tengqm commented on #32136
raised  a PR for diagnosis
looks like the cached version of the HTML is corrupted. It is not treated as HTML media type.

[2022-03-09 04:04] tengqm commented on #32136
/triage accepted

[2022-03-09 04:14] tengqm commented on #32134
The former page is being fixed (#32128)
The latter one is an outdated link.  The link is mentioned in the following pages:

[code]

[2022-03-09 04:35] RA489 commented on #32130
@vahid79t the apt repo fro kuberenetes is https://apt.kubernetes.io/ not https://apt.kubernetes.io/kubernetes-xenial. If you remove space then it will throw Malformed entry error.

[2022-03-09 04:50] #28880 closed

[2022-03-09 05:12] RA489 commented on #32130
/close

[2022-03-09 05:12] #32130 closed

[2022-03-09 07:22] afbjorklund commented on #32129
I'm still hoping that Mirantis will provide a user-facing webpage and a packaged release, in time for Kubernetes 1.24.

* https://github.com/Mirantis/cri-dockerd/issues/37

* https://github.com/Mirantis/cri-dockerd/issues/41

The current development documentation and building might be OK for testing, but raises question about long-term...

[2022-03-09 07:26] tinohean opened #32143 "the page about psp in Chinese can not be open normally"
https://kubernetes.io/zh/docs/concepts/policy/pod-security-policy/

[2022-03-09 07:26] #32143 closed

[2022-03-09 09:26] #32136 closed

[2022-03-09 09:50] RA489 commented on #32125
/sig cluster-lifecycle

[2022-03-09 11:54] #30011 closed

[2022-03-09 12:23] sftim commented on #32133
/team katacoda
/priority awaiting-more-evidence

Can you clarify what you mean by “the minikube environment” @scott-guthridge

The web page at  states

Do you mean that environment (which is katacoda)? If so, you can remove that configuration by running:
`rm /root/.vimrc`

You can also edit it to match your preference.

[2022-03-09 13:55] #30006 closed

[2022-03-09 14:28] WaltSection opened #32152 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro/"
Went to run the tutorial and got the following:  Internal Server Error - Request ID: 01FXQH82VAN6SYS7BN1GKJRWHD

[2022-03-09 14:44] halilural opened #32153 "Issue with k8s.io/docs/tutorials/configuration/configure-java-microservice/configure-java-microservice-interactive/"
Could you add the image building part, because after packaging apps, subsequently, we need to build images with docker build in the specific app's directories?

[2022-03-09 16:15] chris-short commented on #30681
So what do we need to do next, @shannonxtreme? Align versions?

[2022-03-09 16:16] chris-short commented on #30681
/assign @chrisnegus

[2022-03-09 16:24] chris-short commented on #25879
/assign @chrisnegus

[2022-03-09 16:30] sftim commented on #32152
/kind bug

This was due a [problem at Netlify](https://www.netlifystatus.com/incidents/f0frsy75h7n2). I think it's fixed - are things working for you @WaltSection ?

[2022-03-09 16:37] chris-short commented on #30974
@sftim Is this essentially an umbrella issue for #32131 and #31132 now?

[2022-03-09 16:57] chrisnegus commented on #26780
/assign

[2022-03-09 17:24] scott-guthridge commented on #32133
Yes, I meant the katacode environment.  I'm suggesting that the default .vimrc is not just a preference difference; rather, the default setting is a bug.  It's always incorrect to change both tabstop and shiftwidth settings in vi.  Vim already removed the 3rd (and probably most problematic of all) tab settings, hardtabs, which really changes the value of a tab to be something other than 8.  That o

[2022-03-09 18:58] #26064 closed

[2022-03-09 19:20] adampeklay opened #32156 "Improvement for k8s.io/docs/tasks/tools/included/optional-kubectl-configs-bash-linux/"
Do we have any tips for Mac OS running Bash 5.X?  I can't seem to find any good resources, haven't looked into the errors yet / trying to fix locally for myself.  I plan on doing that, figured I'd ask here first.

[2022-03-09 19:30] adampeklay commented on #32156
I can't seem to get it working with Bash 5.1.X:
[code]

[code]

As expected due to the error above, kubectl bash completion does not work:
[code]

I uninstalled bash-completion, that I had installed previously and installed bash-completion@2 per your wikis instructions
[code]

[2022-03-09 20:42] a-mccarthy commented on #30843
From working on #30951, we determined that its best to remove the `Configuring nodes to authenticate to a private registry` section from https://kubernetes.io/docs/concepts/containers/images/#configuring-nodes-to-authenticate-to-a-private-registry and point folks to this page, https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/, instead. The general consensus was

[2022-03-10 01:12] neolit123 commented on #32117
@supaplextor
hi, i'm not sure what the issue is, but it might be the `-package-key...` text being on new line.

i cannot reproduce the problem in a `fedora:36` container following the steps here:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/

[code]

you can try asking at that Linux distribution forums or k8s forums for help, but these steps are currently w

[2022-03-10 01:13] #32117 closed

[2022-03-10 01:29] brendavsantos commented on #13939
Hi! I will start working on the page that talks about [Resource Quotas](https://kubernetes.io/docs/concepts/policy/resource-quotas/) continuing the translation of the policy session, I've assigned myself in the spreadsheet and marked it as in progress!

[2022-03-10 03:05] rikatz commented on #13939
Hi folks,

As soon as you finish translating or need some help or PR review please remember to let us know on Kubernetes Slack channel #kubernetes-docs-pt

I will plan myself to do a batch of reviews next monday, feel free to assign to me.

[2022-03-10 03:58] Matheusafonsouza commented on #13939
Hi! me and @matgomes21 are working at [Endpoint Slices](https://kubernetes.io/docs/concepts/services-networking/endpoint-slices/) page, already assigned it and put in progress.

[2022-03-10 04:03] supaplextor commented on #32117
I carefully checked the ruler in vim, it's not a new line. And for whatever reason I reported el6 in the first post when I thought I was using el7, sorry about that confusion.  I found a similar post online, https://serverfault.com/questions/1017828/no-kubelet-kubeadm-kubectl-packages but their caveat was unicode dashes. I checked the yum repo file, and there are normal dashes only in the config f

[2022-03-10 04:39] supaplextor commented on #32117
I was able to install on Fedora Server 35. I took the same kubernetes.repo via scp to Mariner, but Mariner Linux was unable to install. Not a kubernetes issue at this point. Thank you for your time.

[kubernetes.repo.gz](https://github.com/kubernetes/website/files/8220357/kubernetes.repo.gz)
![VirtualBox_Fedora Reference_09_03_2022_21_34_45](https://user-images.githubusercontent.com/4638774/157590

[2022-03-10 06:12] jihoon-seo commented on #32134
/language zh

[2022-03-10 06:36] jihoon-seo opened #32163 "nit: `kubectl` → `kubectl-convert`"
**This is a Bug Report**

**Problem:**
In [here](https://kubernetes.io/docs/tasks/tools/install-kubectl-windows/#install-kubectl-convert-plugin),
the step No. 3 is talking about the location of `kubectl` binary,
but actually in this section ("Install `kubectl convert` plugin") we should care about the location of `kubectl-convert` binary, not of `kubectl` binary.

**Proposed Solution:**
In [L180](

[2022-03-10 06:40] 1qiqiyang opened #32164 "使用 kubeconfig 文件组织集群访问"
If a lower version of Kubelet uses a higher version of KubeconFig to access a higher version of the cluster, will there be a problem?

[2022-03-10 06:46] jihoon-seo commented on #32164
/kind support
Please refer: https://kubernetes.io/releases/version-skew-policy/#kubelet

[2022-03-10 06:52] afbjorklund commented on #32129
@shannonxtreme we should add a warning / mention, that the user need to configure a CNI

It is possible that they were still using kubenet before, by not configuring anything for docker

[2022-03-10 07:07] 1qiqiyang commented on #32164
The cluster I am using is version 1.20 and the description of this version is 404 on the official website

[2022-03-10 07:25] jihoon-seo commented on #32164
That file is renamed in [here](https://github.com/kubernetes/website/commit/7edf8903737573a419aace58c517b1a09b672667),
so the page you are looking at is https://v1-20.docs.kubernetes.io/docs/setup/release/version-skew-policy/ .

But I can see that
the v1.20 page (https://v1-20.docs.kubernetes.io/docs/setup/release/version-skew-policy/) is not much different from
the latest page (https://kubernetes

[2022-03-10 07:35] supaplextor commented on #32117
![VirtualBox_Mariner Linux Docker Test_10_03_2022_00_33_38](https://user-images.githubusercontent.com/4638774/157611449-514c2ee3-33ac-4756-ad73-7fb593d5ab76.png)

I disabled gpg, and now it is working.

[2022-03-10 08:45] 1qiqiyang commented on #32164
Yes, the 1.20 page is nowhere to be found

[2022-03-10 08:55] shaoyifeng1013 opened #32167 "Issue with kubernetes.io/docs/reference/access-authn-authz/certificate-signing-requests/#kubernetes-signers"
https://kubernetes.io/docs/reference/access-authn-authz/certificate-signing-requests/#kubernetes-signers

kubernetes.io/kubelet-serving:
4.Permitted key usages - exactly ["key encipherment", "digital signature", **"server auth"**].

in chinese this is client auth

[2022-03-10 09:01] jihoon-seo commented on #32167
/triage accepted
/language zh
https://github.com/kubernetes/website/blob/1ab5c0c58d179235edf00977b17a8a39209f3539/content/zh/docs/reference/access-authn-authz/certificate-signing-requests.md?plain=1#L285
https://github.com/kubernetes/website/blob/1ab5c0c58d179235edf00977b17a8a39209f3539/content/zh/docs/reference/access-authn-authz/certificate-signing-requests.md?plain=1#L297

[2022-03-10 09:46] anubha-v-ardhan commented on #32096
@lhaendler Its working for me, can you recheck please
![Screenshot_20220310_151010](https://user-images.githubusercontent.com/71918957/157635384-c04e6af0-8239-4244-8f18-d246a1940cc9.png)

[2022-03-10 09:49] lhaendler commented on #32096
Still Broken for me, I managed to get one successful render after disabling my ad blocker, but after refreshing with disabled ad blocker it was broken again.

OS: MacOS 12.2.1
Browser: Firefox 97.0.2

[2022-03-10 10:00] vaibhav2107 opened #32170 "Issue with https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/"
**This is a Bug Report**

**Problem:**
In [Eviction Signal ](https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals)section of Node Pressure Eviction Page, a Note is referred to the deprecation section of [kubelet garbage collection](https://kubernetes.io/docs/concepts/architecture/garbage-collection/) that doesn't exist.

**Proposed Solution:**
The Note s

[2022-03-10 10:01] sftim commented on #32096
Folks, this is a duplicate issue. Please discuss on https://github.com/kubernetes/website/issues/31960

/close

[2022-03-10 10:01] #32096 closed

[2022-03-10 12:21] arthurspa opened #32174 "Interactive Tutorial - Creating a Cluster"
Creating Cluster page doesn't show any terminal.

![image](https://user-images.githubusercontent.com/3959458/157660654-ae484933-9480-4bb8-8800-11a4c9e92eca.png)

[2022-03-10 13:55] sftim commented on #32163
/triage accepted

[2022-03-10 14:28] PriyanshuAhlawat commented on #32167
#32176

[2022-03-10 14:33] chris-short commented on #30950
**/assign mehabhalodiya**

[2022-03-10 14:36] chris-short commented on #30950
We have figure out where else DefaultAddCapabilities are documented. Then we'll need to talk to a few SIGs to about how to handle that. I think sig-auth was one of them.

[2022-03-10 14:36] chris-short commented on #30950
/assign mehabhalodiya

[2022-03-10 15:23] neolit123 commented on #32125
looks like both https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/apis/kubeadm/v1beta2/doc.go and https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/apis/kubeadm/v1beta3/doc.go have some minor indentation issues. i though that we fixed these (apparently not).

i can send PR for k/k later today.

[2022-03-10 15:25] neolit123 commented on #31962
as explained above ^ adding a note is the best thing we can do and that block serves as just an example.
closing, given https://github.com/kubernetes/website/pull/31966 merged.

/close

[2022-03-10 16:41] neolit123 commented on #31802
closing due to no response for ~20 days.
please see:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2022-03-10 16:41] #31802 closed

[2022-03-10 16:43] neolit123 commented on #32125
/triage accepted
/kind bug
/remove-triage needs-information

[2022-03-10 18:25] chrismetz09 commented on #31960
@sftim @NanoSector @jihoon-seo
**Possible fix (but still testing):**
1. [Refreshing page will show Syntax error in mermaid graph sometimes #3232](https://github.com/squidfunk/mkdocs-material/issues/3232) noted `...If Mermaid.js is loaded from cache, Mermaid will sometimes not pick up the configuration and start processing before one can tell it to not startOnLoad. ...`

2. Looked into [Firefox loa

[2022-03-10 19:03] chrismetz09 opened #32183 "Clarify Metrics API as Beta"
**This is a Feature Request**

**What would you like to be added**

[Metrics API](https://kubernetes.io/docs/tasks/debug-application-cluster/resource-metrics-pipeline/#metrics-api) section describes the Metrics API. It should be designated as `beta`.

This PR can be pushed using one of two possible options:

1. Add a sentence after the second to last paragraph on the page indicating that the Metri

[2022-03-10 19:05] chrismetz09 commented on #32183
/good-first-issue

[2022-03-10 19:23] mickeyboxell commented on #30918
/assign @katcosgrove

[2022-03-10 19:26] nate-double-u commented on #30918
/unassign @celestehorgan

[2022-03-10 19:36] PushkarJ commented on #31420
Looks like the consensus so far is that we will need two types of docs:
1.  Allows admins to manually verify images
2. Allows admins to continuously and automatically verify images of running control plane pods

For option 2, it seems like CRI support for cosign is needed (Would be super cool to see this!!). So until that is in place, I will work on the docs that cover option 1. Sounds good?

[2022-03-10 23:22] PushkarJ commented on #31420
WIP PR is open: https://github.com/kubernetes/website/pull/32184

[2022-03-11 01:34] jihoon-seo commented on #32163
/assign

[2022-03-11 02:49] twilight0620 opened #32186 "Do not have chinese docs: https://kubernetes.io/docs/reference/kubernetes-api/common-definitions/delete-options/"
**This is a Bug Report**

**Problem:**
do not have chinese docs:  https://kubernetes.io/docs/reference/kubernetes-api/common-definitions/delete-options/

**Proposed Solution:**
add chinese docs in website

Comments
/language zh
/assign

[2022-03-11 02:52] twilight0620 opened #32187 "Do not have chinese docs: https://kubernetes.io/docs/reference/kubernetes-api/common-definitions/label-selector/"
**This is a Bug Report**

**Problem:**
do not have chinese docs:  https://kubernetes.io/docs/reference/kubernetes-api/common-definitions/label-selector/

**Proposed Solution:**
add chinese docs in website

Comments
/language zh
/assign

[2022-03-11 04:11] tengqm commented on #32125
/assign
Reference is being regenerated using the updated doc comments.

[2022-03-11 07:12] JunjieLl opened #32194 "目录安排问题"
目录安排比较混乱，好好的入门硬是不在入门那里，给个安装教程就入门了？

[2022-03-11 07:19] 1qiqiyang commented on #32194
确实 混乱

[2022-03-11 07:46] twilight0620 opened #32196 "Do not have chinese blog: https://kubernetes.io/blog/2022/01/19/secure-your-admission-controllers-and-webhooks/"
**This is a Feature Request**

**What would you like to be added**
add translation about:  https://kubernetes.io/blog/2022/01/19/secure-your-admission-controllers-and-webhooks/

**Why is this needed**
do not have this article in chinese for now.

**Comments**
/language zh
/assign
/sig-docs

[2022-03-11 08:39] mk46 commented on #31576
/assign

[2022-03-11 09:17] javadoors opened #32201 "This page contribute/style/diagram-guide/ has no Chinese version"
**This is a Bug Report**
This page contribute/style/diagram-guide/ has no Chinese version

**Problem:**
This page contribute/style/diagram-guide/ has no Chinese version

**Proposed Solution:**
Translate Chinese version for contribute/style/diagram-guide/

**Page to Update:**
https://kubernetes.io/docs/contribute/style/diagram-guide/

v1.23

NA

Comments
/language zh
/assign

[2022-03-11 09:31] twilight0620 commented on #32187
/assign @tengqm

[2022-03-11 10:13] tengqm commented on #32201
It is being worked on.
https://github.com/kubernetes/website/pull/31912

[2022-03-11 10:13] tengqm commented on #32187
/triage accepted
/unassign

[2022-03-11 10:48] PriyanshuAhlawat commented on #32167
#32204

[2022-03-11 11:01] happy4soul commented on #32183
I would like to work on this

[2022-03-11 11:02] anubha-v-ardhan commented on #32183
/assign @happy4soul
Thank you!

[2022-03-11 13:23] thomas-shelby-k8s opened #32207 "Issue with the gpgkeys for Kubernetes repository"
_[When trying to follow advice in the page]_ Install and Set Up kubectl on Linux - [Install using native package management](https://kubernetes.io/docs/tasks/tools/install-kubectl-linux/#install-using-native-package-management), Red Hat-based distributions:

we are facing an issue when installing kubectl on Redhat/centos7 VM, and when applying:

1. `yum repolist`
[code]
2. `cat /etc/yum.repos.d/ku

[2022-03-11 13:34] paschelino opened #32208 "Improvement for k8s.io/docs/reference/using-api/deprecation-guide/"
You could extend the migration guide with examples in a before/after style.

[2022-03-11 13:59] sftim commented on #32208
/language en
/kind feature

Thanks for this enhancement request @paschelino
We'll consider it.

[2022-03-11 14:00] sftim commented on #32207
@thomas-shelby-k8s I'm going to take the liberty of reformatting the issue description so that it is more readable.

[2022-03-11 14:04] sftim commented on #32207
I'm not sure if you're reporting a fault @thomas-shelby-k8s or if you're asking for advice.

If there's a fault, please explain how we can replicate it and how the outcome differs from what you expected. If you want advice, _GitHub is not the right place for support requests. You could instead check [Server Fault](https://serverfault.com/questions/tagged/kubernetes) and ask there if your question

[2022-03-11 15:21] MikeK184 opened #32212 "Feature Gates for IPv6DualStack"
Hi there,

on the docs for [https://kubernetes.io/docs/concepts/services-networking/dual-stack/](https://kubernetes.io/docs/concepts/services-networking/dual-stack/) it says that you need to run at least Kubernetes 1.20

![image](https://user-images.githubusercontent.com/56921065/157895606-e7fec67a-d153-4d59-a57c-25411bfcc956.png)

But on the [Feature Gates ](https://kubernetes.io/docs/reference/c

[2022-03-11 20:34] thomas-shelby-k8s commented on #32207
@sftim I'm reporting an issue, when installing kubectl, using the following:
1. sudo yum install -y kubectl
[code]
2. The following failuer occurs:
[code]
2. Then if I'm setting `gpgcheck` and `repo_gpgcheck` to False and trying to ` install kubectl` again it is installed successfully.
I assume that the following `gpgkey` are not valid anymore:
[code]

[2022-03-11 21:08] jmcmeek opened #32215 "Enforce Pod Security Standards by Configuring the Built-in Admission Controller"
In the v1beta1 admission config example, I had to use `runtimeClasses` rather than `runtimeClassNames`

See https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/pod-security-admission/admission/api/v1beta1/types.go#L40-L44

[2022-03-12 03:28] #30057 closed

[2022-03-12 03:30] jihoon-seo commented on #32215
Page: https://kubernetes.io/docs/tasks/configure-pod-container/enforce-standards-admission-controller/

[2022-03-12 03:32] jihoon-seo commented on #32194
/language zh

[2022-03-12 08:57] afbjorklund opened #32222 "The "kubernetes-cni" package is not mentioned in the package list"
**This is a Bug Report**

**Problem:**

The "kubernetes-cni" is not mentioned, in the list of packages installed by kubernetes

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/kubelet-integration/#kubernetes-binaries-and-package-contents

**Proposed Solution:**

Add a new row:

`kubernetes-cni` | Installs the /opt/cni/bin binaries from the [plugins git repository](https://git

[2022-03-12 12:16] sftim opened #32224 "Mention auditing in Controlling Access to the Kubernetes API"
**This is a Feature Request**

**What would you like to be added**
Update [Controlling Access to the Kubernetes API](https://kubernetes.io/docs/concepts/security/controlling-access/) to (briefly) mention that access control mechanisms are followed, optionally, by an audit mechanism recording that decision.

**Why is this needed**
Once the concept of auditing is added into the Concepts section, we

[2022-03-12 12:42] PriyanshuAhlawat commented on #32224
/assign

[2022-03-12 17:14] PriyanshuAhlawat commented on #32222
/assign

[2022-03-12 17:37] cbandy commented on #30991
The section in question was removed in #31486.

[2022-03-12 17:37] #30991 closed

[2022-03-12 17:59] PriyanshuAhlawat commented on #32222
#32228

[2022-03-12 18:08] Ricky816845 opened #32229 "Issue with k8s.io/docs/tasks/tools/included/optional-kubectl-configs-pwsh/ not sopport powershell"
![image](https://user-images.githubusercontent.com/20158450/158029501-f415640c-4500-49cf-9139-c0c11d954062.png)

[2022-03-12 18:12] afbjorklund commented on #32222
The old text should also be removed from the `kubelet` row:

~~Installs the kubelet binary in /usr/bin and CNI binaries in /opt/cni/bin.~~

Installs the `/usr/bin/kubelet` binary.

Otherwise the content would be duplicated, between the packages.

[2022-03-12 18:39] dancnfoo commented on #31769
Can someone confirm this issue has been triaged?

[2022-03-12 23:36] #30079 closed

[2022-03-13 06:33] jihoon-seo opened #32238 "[ko] Translate `docs/tutorials/security/cluster-level-pss` into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate `docs/tutorials/security/cluster-level-pss` into Korean
- Page: https://kubernetes.io/docs/tutorials/security/cluster-level-pss/
- File: https://github.com/kubernetes/website/blob/main/content/en/docs/tutorials/security/cluster-level-pss.md?plain=1

**Why is this needed**
Not translated yet

**Comments**

/language ko
/a

[2022-03-13 10:42] #29812 closed

[2022-03-13 14:42] #30073 closed

[2022-03-13 15:46] guettli opened #32242 "colocated vs collocated vs co-located"
**This is a Bug Report**

**Problem:**

The docs contain all three terms: colocated, collocated, co-located

**Proposed Solution:**

Agree on **one** term

**Page to Update:**

https://kubernetes.io/search/?q=colocated

https://kubernetes.io/search/?q=collocated

https://kubernetes.io/search/?q=co-located

[2022-03-13 18:20] chrismetz09 opened #32243 "Add diagrams to The Kubernetes Network Model"
**This is a Feature Request**

**What would you like to be added**
Add diagrams to the [The Kubernetes network model](https://kubernetes.io/docs/concepts/services-networking/#the-kubernetes-network-model) paragraphs.

**Why is this needed**
Readers, new and experienced, may find it difficult to visualize the concepts described in the Kubernetes network model intro discussion.

A couple of **simple

[2022-03-14 01:30] javadoors commented on #32201
ok

[2022-03-14 01:30] #32201 closed

[2022-03-14 02:18] javadoors opened #32244 "This page docs/reference/labels-annotations-taints/ has no Chinese version"
This is a Bug Report
This page docs/reference/labels-annotations-taints/ has no Chinese version

Problem:
This page docs/reference/labels-annotations-taints/ has no Chinese version

Proposed Solution:
Translate Chinese version for docs/reference/labels-annotations-taints/

Page to Update:
https://kubernetes.io/docs/reference/labels-annotations-taints/

v1.23

NA

Comments
/language zh
/assign

[2022-03-14 02:45] ringerc opened #32246 "Improvement for k8s.io/docs/tasks/configure-pod-container/share-process-namespace/"
It would be great if  the documentation for `kubectl debug` linked to https://kubernetes.io/docs/tasks/configure-pod-container/share-process-namespace/#understanding-process-namespace-sharing . It's important for security and effective debugging use.

I spent a few days trying to work out how to bind mount the debug-target container FS into the debugger container before stumbling upon the fact tha

[2022-03-14 03:00] twilight0620 opened #32247 "[zh] Do not have chinese docs: https://kubernetes.io/docs/reference/kubernetes-api/common-definitions/list-meta/"
This is a Bug Report

Problem:
do not have chinese docs: https://kubernetes.io/docs/reference/kubernetes-api/common-definitions/list-meta/

Proposed Solution:
add chinese docs in website

Comments
/language zh
/assign

[2022-03-14 03:02] twilight0620 opened #32248 "[zh] Do not have chinese docs: https://kubernetes.io/docs/reference/kubernetes-api/common-definitions/local-object-reference/"
This is a Bug Report

Problem:
do not have chinese docs: https://kubernetes.io/docs/reference/kubernetes-api/common-definitions/local-object-reference/

Proposed Solution:
add chinese docs in website

Comments
/language zh
/assign

[2022-03-14 03:05] twilight0620 commented on #32085
/assign

[2022-03-14 03:06] ringerc opened #32249 "Improvement for k8s.io/docs/tasks/debug-application-cluster/debug-running-pod/"
There are some pretty important details missing on the `kubectl debug` docs. The main ones that tripped me up are:

* To access the container image file system and volume mounts in other pods on the same node use `/proc/$pid/root` where `$pid` is a pid within the target container. The `/proc/$pid/root` symlink must be followed *in the kernel vfs layer* - tools that dereference symlinks in user spa

[2022-03-14 03:06] ringerc commented on #32246
Related to https://github.com/kubernetes/website/issues/32249

[2022-03-14 04:11] happy4soul commented on #32183
/unassign

[2022-03-14 04:17] Ishan-Saini commented on #32183
/assign

[2022-03-14 04:20] Kartik494 commented on #30945
@sftim Could you please describe what `flavored` registry here means.

[2022-03-14 04:47] mk46 commented on #32243
/sig network

[2022-03-14 06:03] mk46 commented on #32229
@Ricky816845 Thanks for reporting,
Powershell support was added in v1.23 by https://github.com/kubernetes/kubernetes/pull/103758.
Kindly check your kubectl version.
@sftim Could we mention something like `supported in kubectl v1.23 or later` ?

[2022-03-14 06:03] tengqm commented on #32244
/triage accepted

[2022-03-14 06:28] mk46 commented on #32174
It's working for me

![cluster create](https://user-images.githubusercontent.com/52198964/158115927-66024441-be26-4055-bf79-0834ebad6ca6.png)
Os: Ubuntu 18.04
Browser: Chrome 97.0.4692.71
Seems like network issue. Please try on different network.

[2022-03-14 07:34] twilight0620 commented on #32187
/pr https://github.com/kubernetes/website/pull/32202

[2022-03-14 09:05] arthurspa commented on #32174
I had tried on a different network and got the same problem. But today it seems to be working.

[2022-03-14 09:05] #32174 closed

[2022-03-14 11:11] sftim commented on #32244
/kind feature
/remove-kind bug

[2022-03-14 12:36] Ricky816845 commented on #32229
The version is 1.22, which is installed from Docker Desktop.
After installing kubernetes-cli via chocolatey doesn't seem to point to the correct version
Found the problem, thanks.

[2022-03-14 12:36] #32229 closed

[2022-03-14 12:54] mk46 commented on #31959
/assign

[2022-03-14 13:07] sftim commented on #32229
/kind support

[2022-03-14 13:08] sftim commented on #32243
We could take inspiration - **without any plagiarism**, of course - from https://blog.neuvector.com/article/advanced-kubernetes-networking.

/triage accepted
/language en
/priority important-longterm

[2022-03-14 13:16] sftim commented on #32243
It'd be nice to mix in some IPv6 examples. Kubernetes lets you use IPv6-only, IPv4-only or even dual-stack networking.

[2022-03-14 15:00] foobaar opened #32263 "Improvement for k8s.io/docs/reference/using-api/deprecation-policy/"
This doc is great. Adding examples for each major rule point would further aid with understanding.

[2022-03-14 15:33] irisrain opened #32264 "修复翻译 Pod 分配给节点亲和性nodeSelectorTerms的解释-Fix the translation about nodeSelectorTerms of Node affinity"
如果你同时指定了 nodeSelector 和 nodeAffinity，两者必须都要满足， 才能将 Pod 调度到候选节点上。

如果你指定了多个与 nodeAffinity 类型关联的 nodeSelectorTerms，则 如果其中一个 nodeSelectorTerms 满足的话，pod将可以调度到节点上。

如果你指定了多个与 nodeSelectorTerms 关联的 matchExpressions，则 只有当所有 matchExpressions 满足的话，Pod 才会可以调度到节点上。

以上描述在1.18版验证过，是错误的，应该是下面描述才正确，不知道是不是BUG，请查验下。

如果你指定了多个与 nodeAffinity 类型关联的 nodeSelectorTerms，则 只有当所有 nodeSelectorTerms 满足的话，pod才会可以调度到节点上。

如果你

[2022-03-14 15:45] irisrain commented on #32264
/language zh
/kind bug

[2022-03-14 18:00] chrismetz09 commented on #32243
@sftim, I view this page as an intro-high-level intro that tees up the 4 x requirements discussion and more network concepts. IMHO, particular with k8s-cloud-network-newbies, keeping it simple would be appropriate for start.

Diagrams on IPv6, IPv4, dual stack best belong (and badly needed) in [/docs/concepts/services-networking/dual-stack/](https://kubernetes.io/docs/concepts/services-networking/

[2022-03-14 18:10] sftim commented on #32243
@chrismetz09 I think you're recommending that we treat IPv4 as the stack we prefer and document, and relegate discussion of IPv6 to separate pages.

We try not to favor one technology over another, overall. With that in mind, I'd like to see at least _some_ mention of IPv6 being an option in the overview page. It might be that we can't find a way to get it in without confusing readers; however, ou

[2022-03-14 18:14] sftim commented on #32243
One key thing we should aim to convey with diagrams is that every pod in a cluster can address every other pod in a cluster; packets from one pod to any other pod should never yield a “no route to host” error.

[2022-03-14 18:15] sftim commented on #14770
Also relevant: #32243

[2022-03-14 18:21] sftim commented on #30945
You can read “Docker (flavored) registry config Secrets” as “Secrets for authenticating to container registries, that follow the format that the `docker` tool uses for configuring registry authentication”.

I think our challenge has been to find a more concise wording that isn't ambiguous.

[2022-03-14 18:22] chrismetz09 commented on #32243
@sftim, thinking that classic container eth0, cbr0, vethx, etc. diagram is waaaay too complex for initial K8s network model discussion on this page <k8s-cloud-networking-newbie hat on>

 Could lead complexity bloat quickly. This should be placed in new separate section, maybe combined with CNI, etc.

[2022-03-14 18:37] #31959 closed

[2022-03-14 23:33] chrismetz09 commented on #32243
@PriyanshuAhlawat, thanks for taking this on. If possible, please use Mermaid to hack the diagrams. This will facilitate collaboration and reviews for this interesting and important topic. Tx!

[2022-03-15 02:35] xianshun163 opened #32266 "Issue with k8s.io/docs/reference/kubernetes-api/common-definitions/patch/"
What is the structure of the body without patch written in the document

[2022-03-15 03:17] sarazqy opened #32267 "[zh] Missing Chinese translation docs: https://kubernetes.io/blog/2022/02/16/sig-node-ci-subproject-celebrates/"
This is a Bug Report

Problem:
missing Chinese translation docs: https://kubernetes.io/blog/2022/02/16/sig-node-ci-subproject-celebrates/

Proposed Solution:
add Chinese translation docs in website Kubernetes Blog

Comments
/language zh

[2022-03-15 03:28] mk46 commented on #32215
/sig auth
/language en
/assign

[2022-03-15 05:53] liuzhilin12 opened #32269 "Translate Reference/kubernetes-api/common-definitions/TypedLocalObjectReference"
Hi,I am interested to translate the "reference/kubernetes-api/common-definitions/TypedLocalObjectReference"
This is a Feature Request:
translate en/docs/reference/kubernetes-api/common-definitions/typed-local-object-reference.md

What would you like to be added:
zh/docs/reference/kubernetes-api/common-definitions/typed-local-object-reference.md

/language zh
/kind feature

[2022-03-15 05:53] liuzhilin12 commented on #32269
/assign

[2022-03-15 06:27] jihoon-seo commented on #32263
/kind feature
/language en

[2022-03-15 06:44] twilight0620 commented on #32269
it seems alreay has the same issues: https://github.com/kubernetes/website/issues/32090

[2022-03-15 07:05] RA489 commented on #29185
/remove-lifecycle stale

[2022-03-15 07:24] zhangxyjlu opened #32270 "This page blog/_posts/2022-02-17-updated-dockershim-faq.md has no Chinese version"
This is a Bug Report
This page blog/_posts/2022-02-17-updated-dockershim-faq.md has no Chinese version

Problem:
This page blog/_posts/2022-02-17-updated-dockershim-faq.md has no Chinese version

Proposed Solution:
Translate Chinese version for blog/_posts/2022-02-17-updated-dockershim-faq.md

Page to Update:
https://kubernetes.io/blog/2022/02/17/dockershim-faq/

Comments
/language zh
/assign

[2022-03-15 07:26] zhangxyjlu commented on #32270
/assign

[2022-03-15 08:13] tengqm commented on #30955
/close

[2022-03-15 08:13] #30955 closed

[2022-03-15 08:14] #32215 closed

[2022-03-15 08:18] tengqm commented on #32269
/triage accepted

[2022-03-15 08:57] javadoors opened #32273 "Missing /docs/tutorials/clusters/seccomp page or this link is incorrect"
**This is a Bug Report**
There is a link /docs/tutorials/clusters/seccomp on line 481 of the page content\en\docs\reference\labels-annotations-taints\_index.md,but this link does not exist.

**Problem:**
There is a link /docs/tutorials/clusters/seccomp on line 481 of the page content\en\docs\reference\labels-annotations-taints\_index.md,but this link does not exist.

**Proposed Solution:**
Confirm

[2022-03-15 10:34] mkq opened #32275 "kubectl Cheat Sheet: functions inside aliases"
This shell code
[code]
declares functions (which make sense) inside wrapper aliases (which I question).

I tend to agree with [this stackoverflow answer](https://stackoverflow.com/a/57377914) that it's probably cargo cult programming. Could you please add an explanation for the extra aliases or remove them?

[2022-03-15 13:07] neolit123 commented on #32222
There was a plan by sig release to consolidate the cni package inside the kubelet package but that did not go well due to package manager errors and complexities for upgrading users.

+1 to reflect current state.

[2022-03-15 13:15] sftim commented on #29428
/reopen
I'd like to see this change happen.

[2022-03-15 13:17] sftim commented on #32275
I'm happy to remove the aliases; they're not teaching _Kubernetes_ as much as they are teaching bash.

We could also add a _blog article_ that offers some tips and tricks on setting up your shell for effective working with kubectl, to substitute for the slimmed down cheat sheet. We can add that article no matter which approach we take to this issue.
/language en

[2022-03-15 13:19] sftim commented on #32273
https://kubernetes.io/docs/tutorials/clusters/seccomp/ redirects to https://kubernetes.io/docs/tutorials/security/seccomp/

We should update https://kubernetes.io/docs/reference/labels-annotations-taints/ so that it hyperlinks to https://kubernetes.io/docs/tutorials/security/seccomp/ instead.

/language en
/help
/triage accepted

[2022-03-15 13:19] sftim commented on #32267
/remove-kind bug
/kind feature

[2022-03-15 13:22] sftim commented on #32242
All three are acceptable. So it's a bug, but not an important bug to fix.

/priority awaiting-more-evidence

[2022-03-15 13:31] sftim commented on #32207
/sig release

[2022-03-15 14:03] mkq commented on #32275
Yes, I think moving the shell integration to another page would be good.

But my point was: Could you please simplify the code to plain functions without the aliases like this
[code]
or tell me I'm wrong and explain (not only in this issue, but in the cheat sheet) the need for the extra functions?

[2022-03-15 14:48] tewarig commented on #32273
can I work on this?

[2022-03-15 15:38] #30810 closed

[2022-03-15 16:26] PriyanshuAhlawat commented on #32273
/assign

[2022-03-15 16:53] PriyanshuAhlawat commented on #32273
#32279

[2022-03-15 16:54] joja19 opened #32280 "Improvement for k8s.io/docs/tasks/configure-pod-container/quality-service-pod/"
I came to this page to understand the impact of QoS of pods on pod operations and on the nodes. This needs to be clarified.

[2022-03-15 17:08] #32099 closed

[2022-03-15 20:15] shannonxtreme commented on #30965
Hi @rishi8055 did you need any help with this issue to move it along?

[2022-03-15 20:37] srguglielmo commented on #32207
Setting `repo_gpgcheck = 0` fixes the issue. (`gpgcheck` is still enabled, it's just `repo_gpgcheck` that must be disabled here.

[2022-03-15 20:37] chris-short commented on #30949
@sftim I'm confused at this point.

[2022-03-15 20:47] sftim commented on #32207
It looks as if the Linux advice for https://kubernetes.io/docs/tasks/tools/install-kubectl-linux/#install-using-native-package-management is out of date. Ideally, the Linux Foundation / CNCF / Kubernetes project would publish its own artifacts and not rely on Google here.

I'm not sure what the fix would be.

My guess is that we do prefer to have all signatures valid and not to recommend that peop

[2022-03-15 20:48] sftim commented on #32207
/remove-triage needs-information

[2022-03-15 20:50] sftim commented on #32280
We could add a concept or reference page about QoS for Pods

Some of the information in https://kubernetes.io/blog/2021/11/26/qos-memory-resources/ would be useful towards making that new page.

/kind feature
/language en

[2022-03-15 20:51] sftim commented on #32222
/sig cluster-lifecycle
/triage accepted

Aside: I'd be tempted to move https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/kubelet-integration/#kubernetes-binaries-and-package-contents so that it lives inside https://kubernetes.io/docs/reference/node/

[2022-03-15 20:51] sftim commented on #32222
/language en

[2022-03-15 20:52] sftim commented on #32222
We could instead move that section of the page to live within https://kubernetes.io/releases/

[2022-03-15 22:49] tirelibirefe opened #32285 "Configure a Pod to Use a Projected Volume for Storage"
Hello,
Just trying to understand...
How does an external system get the token which was created by kubernetes?

Regards

[2022-03-16 00:42] Celthi opened #32287 "Perform a Rolling Update on a DaemonSet"
In https://kubernetes.io/docs/tasks/manage-daemon/update-daemon-set/, the para says that

But after I click the page, I find no `.spec.updateStrategy.rollingUpdate.maxSurge` and I can only see `.spec.strategy`. I also try in my env, the `.spec.strategy.rollingUpdate.maxSurge' works but `updateStrategy` does not.

 Is this document outdated? I can make a fix if it is.

[2022-03-16 00:45] tengqm commented on #32267
/triage accepted

[2022-03-16 00:55] javadoors opened #32288 "Reference to #32273,the zh version link will be modified for /docs/reference/labels-annotations-taints/_index.md page"
**This is a Bug Report**

There is a link /docs/tutorials/clusters/seccomp on line 481 of the page content \en\docs\reference\labels-annotations-taints_index.md,but this link does not exist.

**Problem:**
There is a link /docs/tutorials/clusters/seccomp on line 481 of the page content\en\docs\reference\labels-annotations-taints_index.md,but this link does not exist.
**Proposed Solution:**
[sftim](

[2022-03-16 03:07] yunuslnk opened #32290 "Halo Minikube"
Hello minikube

[2022-03-16 03:56] Kartik494 commented on #30945
Thanks for the inputs i will take a look on this

[2022-03-16 04:27] RA489 commented on #32290
@yunuslnk Do you mind to elaborate your issue on this page?

[2022-03-16 04:28] RA489 commented on #32290
/triage needs-information

[2022-03-16 07:24] iYerw opened #32292 "日志架构"
详见 [kubectl logs 文档](https://kubernetes.io/zh/docs/reference/generated/kubectl/kubectl-commands#logs)。
连接失效

[2022-03-16 07:35] guettli commented on #32242
@sftim if you tell me the preferred term (colocated, collocated or co-located), then I can create a corresponding PR.

[2022-03-16 08:01] Shubham82 commented on #32287
Hi @Celthi
Both DaemonSet and Deployment use these 3 fields, linking to the deployment creates some confusion or misleading. I think we could link  `.spec.updateStrategy.rollingUpdate.maxUnavailable` and `.spec.minReadySeconds` to [DaemonSet](https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/daemon-set-v1/#DaemonSet) , same as `.spec.updateStrategy.rollingUpdate.maxSurge`

ref

[2022-03-16 08:05] Shubham82 commented on #32287
/good-first-issue

[2022-03-16 08:07] RA489 commented on #32292
/language zh

[2022-03-16 08:10] sftim commented on #28529
Fixed in https://github.com/kubernetes/website/pull/31331 I think.
/close

[2022-03-16 08:10] #28529 closed

[2022-03-16 08:26] tengqm commented on #32292
/kind bug
/triage accepted

[2022-03-16 08:45] Shubham82 commented on #32287
Thanks, @sftim  for this information.

Actually, I forget to mention the page in my comment, This is the page we have to update: [Perform a Rolling Update on a DaemonSet](https://kubernetes.io/docs/tasks/manage-daemon/update-daemon-set/)

[2022-03-16 09:28] razorahul opened #32294 "Interactive Tutorial - Deploying an App"
Terminal is taking more than 10mins to start.

[2022-03-16 09:32] sarazqy commented on #32267
/assign

[2022-03-16 11:15] anubha-v-ardhan commented on #31677
/language bn

[2022-03-16 13:35] nonomu opened #32299 "Issue with k8s.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/"
We tried to install exactly  as the guide , windows node cannot connect to Linux cluster.
Kubelet service cannot start at all.

We using windows server 2019 and CentOS cluster with kubespray.
kubectl version 1.21.6v on both of them

[2022-03-16 13:59] PriyanshuAhlawat commented on #32212
/assign

[2022-03-16 14:32] sftim commented on #32294
/team katacoda

[2022-03-16 15:37] vsxen opened #32302 "Add documentation for metric series that Kubernetes components emit"
**This is a Feature Request**

**What would you like to be added**
Add System Components metrics introduction
such as
[code]

**Why is this needed**

[2022-03-16 15:48] neolit123 commented on #32299
normally such problems should be reported against the https://github.com/kubernetes-sigs/sig-windows-tools repository, so not clear if t here is a documentation problem or something else is happening.

there is also a tracking issue to update the kubeadm / windows docs:
https://github.com/kubernetes/website/issues/31428

/sig windows cluster-lifecycle

[2022-03-16 15:49] neolit123 commented on #32299
might be better to log an issue in https://github.com/kubernetes-sigs/sig-windows-tools and provide there full system logs that hint on why the kubelet is not starting.

[2022-03-16 15:50] neolit123 commented on #32299
/sig windows cluster-lifecycle

[2022-03-16 15:53] neolit123 commented on #32222
Moving the package list to another location makes sense. I think "installing kubeadm" is the only page that talks about packages today (?) so that seems like a good fit. But ideally there ahould be a sig release page that talks about all produced artifacts - source tars, deb, rpm, images etc.

[2022-03-16 16:02] sftim commented on #32302
Hi @vsxen

Why is this needed? Filling in that information will help contributors prioritize the feature request.

/triage needs-information
/language en

[2022-03-16 16:43] chrisnegus commented on #30949
Here's what I intend to do (let me know if you disagree):
* Add a note saying that dockershim has been removed for 1.24.
* Indicate that the [Dockershim Removal FAQ](https://kubernetes.io/blog/2022/02/17/dockershim-faq/) can provide details on what that means.

[2022-03-16 17:31] neolit123 opened #32304 "kubeadm: improve the version skew documentation"
in this section:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#version-skew-policy

we document the kubeadm skew against the control plane, but we do not mention the skew of kubeadm against:
- the kubelet
- kubeadm itself

replace the section with the following to clarify all points:

[code]

[2022-03-16 17:32] neolit123 commented on #32304
/sig cluster-lifecycle
/help

[2022-03-16 17:41] neolit123 commented on #32222
i'm sort of -1 of enumerating the deps of e.g. the kubelet package or other packages on the website.
these are in flux and sig node are not maintaining them.

linking to the deb/rpm specs might not be a stable link either.
the kubelet deps are not enumerated anywhere by the owners - sig node.

[2022-03-16 17:52] afbjorklund commented on #32222
So they (crictl and /opt/cni) are undocumented on purpose ?

[2022-03-16 17:57] neolit123 commented on #32222
i'm not sure i understand.
what i'm trying to say above is that we should probably accurately enumerate kubeadm, kubelet, kubectl, cri-tools, kubernetes-cni but not their inner deps like socat and iptables, etc.

[2022-03-16 19:25] afbjorklund commented on #32222
Thanks for clarifying, sounds good.

[2022-03-16 19:38] neolit123 commented on #32304
@PriyanshuAhlawat thanks for assigning your self.
i've added some quick edits to the text a couple of minutes ago.

[2022-03-16 20:14] PriyanshuAhlawat commented on #32304
@neolit123 found them👍

[2022-03-17 00:53] tengqm commented on #32302
I was trying to find this data as well. I need to know the list of metrics supported by each and every control plane components for health diagnosis, performance improvement, and dynamic resource planning.

[2022-03-17 01:12] vsxen commented on #32302
I want to set some alert in prometheus for system components.

when `apiserver` need to get token and open ssh tunnel？I don't understand.

[2022-03-17 01:32] tengqm commented on #32302
The API server, when talking to kubelets via the PodResources API or the logging, profiling APIs, needs to open a SSL connection to the kubelet servers. The API server also needs to authenticate to Webhooks (authentication, authorization, addmission, etc). This is my understanding.

[2022-03-17 02:14] vsxen commented on #32302
But the vaule always is zero even when I run `kubectl exec ` & `kubectl port-forward`

[code]

[2022-03-17 03:12] tengqm commented on #32302
Maybe it is due to your kubelet configuration?

[2022-03-17 05:23] RinkiyaKeDad commented on #31946
Ping to update the checklist :) Readme has been updated, will start a discussion on Slack to see if the Contributor guide needs to be updated next.

[2022-03-17 06:44] harridu opened #32315 "Improvement for k8s.io/docs/tasks/administer-cluster/safely-drain-node/"
Please document how to shutdown and startup a cluster, e.g. to move it to a new location, to shorten low level maintenance time for all nodes or to change networking. IBM provided this: https://www.ibm.com/docs/en/fci/1.1.0?topic=kubernetes-stopping-starting-cluster.

[2022-03-17 07:02] wangxiaoyang-dev opened #32316 "[zh] Localization bugs / work required for Deployment concept"
There are some bugs:
https://kubernetes.io/zh/docs/concepts/workloads/controllers/deployment/#:~:text=apps/nginx%2Ddeployment-,nginx%3Dnginx%3A1.9.1,-%2D%2Drecord%3Dtrue%0A3
"nginx=nginx:1.9.1" should be changed to "nginx=nginx:1.16.1"

https://kubernetes.io/zh/docs/concepts/workloads/controllers/deployment/#:~:text=apps/nginx%2Ddeployment-,nginx%3Dnginx%3A1.91,-%2D%2Drecord%3Dtrue
"nginx=nginx:1.

[2022-03-17 07:07] javadoors commented on #32316
/language zh

[2022-03-17 07:08] javadoors commented on #32316
/triage accepted

[2022-03-17 07:21] javadoors opened #32317 "[zh]Translate /docs/reference/config-api/kubelet-config.v1alpha1/ page into Chinese"
**This is a Feature Request**

[zh]Translate /docs/reference/config-api/kubelet-config.v1alpha1/ page into Chinese

**What would you like to be added**
Add the page /docs/reference/config-api/kubelet-config.v1alpha1 zh localization

**Why is this needed**
Add the page /docs/reference/config-api/kubelet-config.v1alpha1 zh localization
**Comments**
NA

/language zh
/assign

[2022-03-17 08:20] #30055 closed

[2022-03-17 10:18] vaibhav2107 commented on #30849
/remove-lifecycle stale

[2022-03-17 10:19] vaibhav2107 commented on #30804
/remove-lifecycle stale

[2022-03-17 10:20] #28334 closed

[2022-03-17 10:20] #28627 closed

[2022-03-17 16:33] neolit123 commented on #32304
/triage accepted

[2022-03-17 20:16] Deseao opened #32322 "Configuration Best Practices 404 link"
The v1.20 documentation has a broken link on the [Configuration Best Practices](https://v1-20.docs.kubernetes.io/docs/concepts/configuration/overview/) page when attempting to follow the link to the [guestbook-all-in-one.yaml](https://github.com/kubernetes/examples/tree/v1.20.13/guestbook/all-in-one/guestbook-all-in-one.yaml) file. I see that it does exist on [master](https://github.com/kubernetes

[2022-03-17 20:23] #30131 closed

[2022-03-17 20:40] ultraasi-atanas opened #32325 "Misleading explanation of when init container changes trigger Pod restart"
Spotted that both

- Altering an init container image field is **equivalent** to restarting the Pod. (under Detailed behaviour)
- The Pod will **not** be restarted when the init container image is changed (v1.20 or later, under Pod restart reasons)

Are mentioned on the same page, despite the k version being of importance, could this not be said in a different way?
https://kubernetes.io/docs/conce

[2022-03-18 00:12] tramplpf opened #32327 "Improvement for k8s.io/zh/docs/concepts/overview/working-with-objects/common-labels/"
可以给出一个比较完整的demo。通过这里的demo，对共享标签的作用，自己依然没有理解

[2022-03-18 00:49] jihoon-seo commented on #32327
/language zh

[2022-03-18 00:51] jihoon-seo commented on #32322
/triage accepted
/kind bug

[2022-03-18 00:52] jihoon-seo commented on #32315
/language en

[2022-03-18 04:31] excalq commented on #19454
I have the same concern.

[2022-03-18 06:05] tengqm commented on #19454
/reopen
Fixing this sounds trivial. Please someone help confirm if the "official" nginx image works for this example.
/help

[2022-03-18 06:06] tengqm commented on #19454
/remove-lifecycle rotten
/triage accepted

[2022-03-18 06:50] syxunion opened #32341 "Translate Reference/kubernetes-api/common-definitions/label-selector.md"
Hi, I'm interested to translate the "Reference/kubernetes-api/common-definitions/label-selector.md" page.

This is a Feature Request:

translate en/docs/Reference/kubernetes-api/common-definitions/label-selector.md into chinese

What would you like to be added:

zh/docs/reference/reference/kubernetes-api/common-definitions/label-selector.md

/language zh
/kind feature

[2022-03-18 06:51] syxunion commented on #32341
/assign

[2022-03-18 09:17] jihoon-seo commented on #32341
@syxunion This issue is dup with #32187 .
PR: #32202
/triage duplicate

[2022-03-18 13:20] berserkbuddhist opened #32349 "Connecting Applications with Services"
in this step:
`kubectl create configmap nginxconfigmap --from-file=default.conf`

Where that `default.conf` file come from?

[2022-03-18 13:53] adampeklay commented on #32156
awesome, looks like I missed your issue.  I'll close this one out, thanks!

[2022-03-18 13:53] #32156 closed

[2022-03-18 14:18] #32349 closed

[2022-03-18 15:31] verb commented on #32351
Cool, the transfer worked. Here's a summary for k/website:

**Problem:**

Projected Volumes have specially handling for `serviceAccountTokens` that causes them to disregard `defaultMode` when all containers in a pod have the same `runAsUser`. This undocumented behavior led to a bug report in kubernetes/kubernetes#106365

**Proposed Solution:**

Update projected volumes doc to explain special behav

[2022-03-18 20:31] KelvinAkpobome commented on #30951
Has anyone opened a PR for this issue? It seems to be referring to #29665

[2022-03-18 23:37] sgpinkus opened #32360 "Services, Load Balancing, and Networking"
This confusing series of [statements is made](https://kubernetes.io/docs/concepts/services-networking/):

 A. pods on a [node](https://kubernetes.io/docs/concepts/architecture/nodes/) can communicate with all pods on all nodes without NAT
 B. agents on a node (e.g. system daemons, kubelet) can communicate with all pods on that node
 C. For those platforms that support Pods running in the host netw

[2022-03-19 00:37] tengqm commented on #32360
HostNetwork is a mode for some special use cases. It has its own security and management problems, so it's NOT the recommended mode for most scenarios.
/kind support

[2022-03-19 02:19] sgpinkus commented on #32360
Closing. Opened PR instead - see linked.

[2022-03-19 02:19] #32360 closed

[2022-03-19 10:39] #28861 closed

[2022-03-19 12:57] jihoon-seo opened #32370 "[ko] Fix Korean translation of 'absolute number'"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#max-unavailable 와
https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#max-surge 섹션에서
'absolute number' 라는 표현이 4번 나오는데

[한국어 버전](https://kubernetes.io/ko/docs/concepts/workloads/controllers/deployment/#최대-불가-max-unavailable)에서는
- `절대 숫자`
- `절대 값`

으로 번역되어 있어
일관성이 없으며,

공학/이

[2022-03-19 14:42] sftim commented on #32325
/retitle Misleading explanation of when init container changes trigger Pod restart
/language en
/kind bug

[2022-03-19 18:20] PriyanshuAhlawat commented on #32183
/assign

[2022-03-19 18:24] nate-double-u commented on #30940
I may need to take you up on that @sftim. Does will https://github.com/kubernetes/kubernetes/pull/108282 solve this issue?

[2022-03-20 01:51] tengqm commented on #32317
/triage accepted

[2022-03-20 03:42] bustopsy777 commented on #674
Hello,
Please can you help me in detail with how you did it, step by step? I am having a problem with this. Thanks

[2022-03-20 09:24] vsxen commented on #32302
ping

[2022-03-20 12:31] habibrosyad commented on #23660
/remove-lifecycle rotten

[2022-03-20 16:46] ywei2017 opened #32381 "Changing the Container Runtime on a Node from Docker Engine to containerd"
This instruction missed noting
1. that the control plane should also be migrated.
2. `crictl config` be run to set the cri endpoint by removing dockershim

[2022-03-20 18:00] guettli opened #32382 "Better docs for role.rules.apiGroups"
**This is a Feature Request**

**What would you like to be added**

I would like the text of this output to get extended:

[code]

Current output:

I am missing two special entries. I want to add this:

**"" is the core API group. "*" matches all API groups.**

**Why is this needed**

This is needed, since up to now this not documented.

[2022-03-21 00:51] ThiagoGMF commented on #13939
Hello, I would like to start translating the page [Flow Control](https://kubernetes.io/docs/concepts/cluster-administration/flow-control/).

I've assigned myself in the spreadsheet and marked it as in progress.

[2022-03-21 02:21] jihoon-seo commented on #32381
Page: https://kubernetes.io/docs/tasks/administer-cluster/migrating-from-dockershim/change-runtime-containerd/

[2022-03-21 02:32] syxunion commented on #32341
/close

[2022-03-21 02:32] #32341 closed

[2022-03-21 02:56] RA489 commented on #32381
The procedure to upgrade the container runtime on control plane is exactly the same than on the node.

[2022-03-21 02:59] RA489 commented on #32381
/triage accepted

[2022-03-21 03:14] RA489 commented on #32316
@wangxiaoyang-dev seems like docs is already updated to nginx:1.16.1. Do you mind closing this issue?

[2022-03-21 03:18] RA489 commented on #32290
feel free to open this issue once you have more information to share.
/close

[2022-03-21 03:18] #32290 closed

[2022-03-21 03:28] hm-pendula opened #32388 "Upgrading kubeadm clusters"

[2022-03-21 03:31] syxunion opened #32389 "Translate Reference/kubernetes-api/common-definitions/object-field-selector into chinese"
Hi, I'm interested to translate the Reference/kubernetes-api/common-definitions/object-field-selector  page.

This is a Feature Request:

translate en/docs/reference/kubernetes-api/common-definitions/object-field-selector.md into Chinese.

What would you like to be added:

zh//docs/reference/kubernetes-api/common-definitions/object-field-selector.md

/language zh
/kind feature

[2022-03-21 03:32] syxunion commented on #32389
/assign

[2022-03-21 03:59] Kartik494 commented on #32285
Would you mind sharing details of which task you are referencing here!

[2022-03-21 04:00] RA489 commented on #32388
@hm-pendula Do you mind elaborating the issue you are facing while upgrading your cluster?
/traige needs-information

[2022-03-21 04:01] RA489 commented on #32388
/triage needs-information

[2022-03-21 05:43] Kartik494 commented on #32077
@ydahan I am able to run all the given steps for MySQL-word-press-persistent-volume successfully , although all the steps for creating PV,PVC's service are running fine in my environment but i am not able to access wordpress setup page

[2022-03-21 06:31] tengqm commented on #32389
/triage accepted

[2022-03-21 06:37] ydahan commented on #32077
Are you able to reach any page? if yes just run http://x.x.x.x/wp-admin/install.php

[2022-03-21 07:58] #28340 closed

[2022-03-21 08:11] Kartik494 commented on #32077
@ydahan no, it throws error for setup page

[2022-03-21 08:25] ydahan commented on #32077
O.K, you need to open console and to do tail -f /var/log/apache2/error.log
I don't know what kind of setup are you running but DNS must be working since the sql server parameter is passed as a variable using name , if application is running on default namespace you should be able to nslookup wordpress-mysql.default.svc.cluster.local from any worker.

[2022-03-21 08:47] #32248 closed

[2022-03-21 09:54] Kartik494 commented on #32077
Sure , i will try this.

[2022-03-21 09:58] vdellaglio opened #32392 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-pod-configmap/"
Hi,

I think there's an error in the docs about `Use the option --from-env-file to create a ConfigMap from an env-file`

Here you can find:
`Caution: When passing --from-env-file multiple times to create a ConfigMap from multiple data sources, only the last env-file is used.`

but in fact it takes into consideration all env files you put in the command. Here is the test:
[code]
[code]

[code]
Chec

[2022-03-21 10:03] vdellaglio commented on #32392
Adding the environment version:

[code]

[2022-03-21 11:39] sftim commented on #30940
https://github.com/kubernetes/kubernetes/pull/108282 should solve this, but needs extra work - I need to figure out how to bring up a local Kubernetes dev environment.

[2022-03-21 11:39] sftim commented on #30940
There's about 9 days before the merge deadline.

[2022-03-21 12:25] Deepakktripathy commented on #32322
/assign

[2022-03-21 12:57] #31886 closed

[2022-03-21 13:09] #31885 closed

[2022-03-21 15:52] neolit123 commented on #32388
/close

closing until details are provided. please re-open after that.

[2022-03-21 15:52] #32388 closed

[2022-03-21 15:59] #30190 closed

[2022-03-21 17:47] nate-double-u commented on #32382
The upstream source related to this can be found here: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/rbac/v1/types.go#L53-L54 (thx @tengqm!)

[2022-03-21 18:10] chrismetz09 commented on #31960
1. Tested [[No-Cache No-Store for Selected Hosts add-on](https://addons.mozilla.org/en-US/firefox/addon/no-cache-no-store-for-css/?utm_source=addons.mozilla.org&utm_medium=referral&utm_content=search).). Did not work. Removed add-on then reproduced error.

Do we want to tell users to install add-on before using?

2. I could not reproduce error using `Shift + command/R` in Firefox.

@sftim, guidanc

[2022-03-21 18:17] sftim commented on #31960
@chrismetz09 would you be willing to add this to the agenda for the next SIG Docs meeting and / or highlight this via Slack as an issue that needs attention?

[2022-03-21 21:10] chrismetz09 commented on #31960
Will do.

[2022-03-21 23:07] sftim commented on #32382
I'm going to move this request to [k/kubernetes](https://github.com/kubernetes/kubernetes)

/transfer kubernetes

[2022-03-21 23:08] sftim commented on #32381
/sig node

[2022-03-21 23:09] sftim commented on #32322
/language en
/priority backlog

[2022-03-22 02:23] #32247 closed

[2022-03-22 02:37] #32269 closed

[2022-03-22 03:40] Kartik494 commented on #32077
After restarting cluster , i got the expected output , i don't need to perform the above steps, i don't know why its failing earlier.

[2022-03-22 04:34] Kartik494 commented on #32392
Hi @vdellaglio if i am not wrong here , you are getting both env file in config map when running command `kubectl get configmap config-multi-env-files -o yaml` but it should be showing only latest file env?

[2022-03-22 08:17] zhangxyjlu opened #32407 "This page blog/_posts/2022-03-15-meet-our-contributors-APAC-AU-NZ-region-01.md has no Chinese version"
This is a Bug Report
This page blog/_posts/2022-03-15-meet-our-contributors-APAC-AU-NZ-region-01.md has no Chinese version

Problem:
This page blog/_posts/2022-03-15-meet-our-contributors-APAC-AU-NZ-region-01.md has no Chinese version

Proposed Solution:
Translate Chinese version for blog/_posts/2022-03-15-meet-our-contributors-APAC-AU-NZ-region-01.md

Page to Update:
https://kubernetes.io/blog/20

[2022-03-22 08:28] zhangxyjlu opened #32408 "This page blog/_posts/2021-12-16-StatefulSet-PVC-Auto-Deletion.md has no Chinese version"
This is a Bug Report
This page blog/_posts/2021-12-16-StatefulSet-PVC-Auto-Deletion.md has no Chinese version

Problem:
This page blog/_posts/2021-12-16-StatefulSet-PVC-Auto-Deletion.md has no Chinese version

Proposed Solution:
Translate Chinese version for blog/_posts/2021-12-16-StatefulSet-PVC-Auto-Deletion.md

Page to Update:
https://kubernetes.io/blog/2021/12/16/kubernetes-1-23-statefulset-pv