[2019-03-11 14:59] cstoku opened #13080 "Update k8s.io/ja/docs/home/"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**

Outdated content `content/ja/docs/home/_index.md`.

[code]

**Proposed Solution:**

Update content `content/ja/docs/home/_index.md`.

For details, please execute the following command.

[code]

**Page to Update:**

https://kubernetes.io/ja/docs/home/

[2019-03-11 14:59] cstoku opened #13081 "Update k8s.io/ja/docs/home/supported-doc-versions/"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**

Outdated content `content/ja/docs/home/supported-doc-versions.md`.

[code]

**Proposed Solution:**

Update content `content/ja/docs/home/supported-doc-versions.md`.

For details, please execute the following command.

[code]

**Page to Update:**

https://kubernetes.io/ja/docs/home/supported-doc-versions/

[2019-03-11 14:59] cstoku opened #13082 "Update k8s.io/ja/docs/setup/certificates/"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**

Outdated content `content/ja/docs/setup/certificates.md`.

[code]

**Proposed Solution:**

Update content `content/ja/docs/setup/certificates.md`.

For details, please execute the following command.

[code]

**Page to Update:**

https://kubernetes.io/ja/docs/setup/certificates/

[2019-03-11 14:59] cstoku opened #13083 "Update k8s.io/ja/docs/setup/cri/"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**

Outdated content `content/ja/docs/setup/cri.md`.

[code]

**Proposed Solution:**

Update content `content/ja/docs/setup/cri.md`.

For details, please execute the following command.

[code]

**Page to Update:**

https://kubernetes.io/ja/docs/setup/cri/

[2019-03-11 14:59] cstoku opened #13084 "Update k8s.io/ja/docs/setup/independent/control-plane-flags/"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**

Outdated content `content/ja/docs/setup/independent/control-plane-flags.md`.

[code]

**Proposed Solution:**

Update content `content/ja/docs/setup/independent/control-plane-flags.md`.

For details, please execute the following command.

[code]

**Page to Update:**

https://kubernetes.io/ja/docs/setup/independent/control-plane-

[2019-03-11 14:59] cstoku opened #13085 "Update k8s.io/ja/docs/setup/independent/create-cluster-kubeadm/"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**

Outdated content `content/ja/docs/setup/independent/create-cluster-kubeadm.md`.

[code]

**Proposed Solution:**

Update content `content/ja/docs/setup/independent/create-cluster-kubeadm.md`.

For details, please execute the following command.

[code]

**Page to Update:**

https://kubernetes.io/ja/docs/setup/independent/create-c

[2019-03-11 14:59] cstoku opened #13086 "Update k8s.io/ja/docs/setup/independent/high-availability/"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**

Outdated content `content/ja/docs/setup/independent/high-availability.md`.

[code]

**Proposed Solution:**

Update content `content/ja/docs/setup/independent/high-availability.md`.

For details, please execute the following command.

[code]

**Page to Update:**

https://kubernetes.io/ja/docs/setup/independent/high-availability/

[2019-03-11 14:59] cstoku opened #13087 "Update k8s.io/ja/docs/setup/independent/install-kubeadm/"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**

Outdated content `content/ja/docs/setup/independent/install-kubeadm.md`.

[code]

**Proposed Solution:**

Update content `content/ja/docs/setup/independent/install-kubeadm.md`.

For details, please execute the following command.

[code]

**Page to Update:**

https://kubernetes.io/ja/docs/setup/independent/install-kubeadm/

[2019-03-11 14:59] cstoku opened #13088 "Update k8s.io/ja/docs/setup/independent/kubelet-integration/"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**

Outdated content `content/ja/docs/setup/independent/kubelet-integration.md`.

[code]

**Proposed Solution:**

Update content `content/ja/docs/setup/independent/kubelet-integration.md`.

For details, please execute the following command.

[code]

**Page to Update:**

https://kubernetes.io/ja/docs/setup/independent/kubelet-integr

[2019-03-11 14:59] cstoku opened #13089 "Update k8s.io/ja/docs/setup/independent/setup-ha-etcd-with-kubeadm/"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**

Outdated content `content/ja/docs/setup/independent/setup-ha-etcd-with-kubeadm.md`.

[code]

**Proposed Solution:**

Update content `content/ja/docs/setup/independent/setup-ha-etcd-with-kubeadm.md`.

For details, please execute the following command.

[code]

**Page to Update:**

https://kubernetes.io/ja/docs/setup/independent/

[2019-03-11 14:59] cstoku opened #13090 "Update k8s.io/ja/docs/setup/independent/troubleshooting-kubeadm/"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**

Outdated content `content/ja/docs/setup/independent/troubleshooting-kubeadm.md`.

[code]

**Proposed Solution:**

Update content `content/ja/docs/setup/independent/troubleshooting-kubeadm.md`.

For details, please execute the following command.

[code]

**Page to Update:**

https://kubernetes.io/ja/docs/setup/independent/troubl

[2019-03-11 14:59] cstoku opened #13091 "Update k8s.io/ja/docs/setup/minikube/"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**

Outdated content `content/ja/docs/setup/minikube.md`.

[code]

**Proposed Solution:**

Update content `content/ja/docs/setup/minikube.md`.

For details, please execute the following command.

[code]

**Page to Update:**

https://kubernetes.io/ja/docs/setup/minikube/

[2019-03-11 14:59] cstoku opened #13092 "Update k8s.io/ja/docs/setup/multiple-zones/"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**

Outdated content `content/ja/docs/setup/multiple-zones.md`.

[code]

**Proposed Solution:**

Update content `content/ja/docs/setup/multiple-zones.md`.

For details, please execute the following command.

[code]

**Page to Update:**

https://kubernetes.io/ja/docs/setup/multiple-zones/

[2019-03-11 14:59] cstoku opened #13093 "Update k8s.io/ja/docs/setup/on-premises-metal/krib/"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**

Outdated content `content/ja/docs/setup/on-premises-metal/krib.md`.

[code]

**Proposed Solution:**

Update content `content/ja/docs/setup/on-premises-metal/krib.md`.

For details, please execute the following command.

[code]

**Page to Update:**

https://kubernetes.io/ja/docs/setup/on-premises-metal/krib/

[2019-03-11 14:59] cstoku opened #13094 "Update k8s.io/ja/docs/setup/pick-right-solution/"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**

Outdated content `content/ja/docs/setup/pick-right-solution.md`.

[code]

**Proposed Solution:**

Update content `content/ja/docs/setup/pick-right-solution.md`.

For details, please execute the following command.

[code]

**Page to Update:**

https://kubernetes.io/ja/docs/setup/pick-right-solution/

[2019-03-11 14:59] cstoku opened #13095 "Update k8s.io/ja/docs/setup/release/building-from-source/"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**

Outdated content `content/ja/docs/setup/release/building-from-source.md`.

[code]

**Proposed Solution:**

Update content `content/ja/docs/setup/release/building-from-source.md`.

For details, please execute the following command.

[code]

**Page to Update:**

https://kubernetes.io/ja/docs/setup/release/building-from-source/

[2019-03-11 14:59] cstoku opened #13096 "Update k8s.io/ja/docs/setup/turnkey/alibaba-cloud/"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**

Outdated content `content/ja/docs/setup/turnkey/alibaba-cloud.md`.

[code]

**Proposed Solution:**

Update content `content/ja/docs/setup/turnkey/alibaba-cloud.md`.

For details, please execute the following command.

[code]

**Page to Update:**

https://kubernetes.io/ja/docs/setup/turnkey/alibaba-cloud/

[2019-03-11 14:59] cstoku opened #13097 "Update k8s.io/ja/docs/setup/turnkey/azure/"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**

Outdated content `content/ja/docs/setup/turnkey/azure.md`.

[code]

**Proposed Solution:**

Update content `content/ja/docs/setup/turnkey/azure.md`.

For details, please execute the following command.

[code]

**Page to Update:**

https://kubernetes.io/ja/docs/setup/turnkey/azure/

[2019-03-11 14:59] cstoku opened #13098 "Update k8s.io/ja/docs/setup/turnkey/clc/"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**

Outdated content `content/ja/docs/setup/turnkey/clc.md`.

[code]

**Proposed Solution:**

Update content `content/ja/docs/setup/turnkey/clc.md`.

For details, please execute the following command.

[code]

**Page to Update:**

https://kubernetes.io/ja/docs/setup/turnkey/clc/

[2019-03-11 14:59] cstoku opened #13099 "Update k8s.io/ja/docs/setup/turnkey/gce/"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**

Outdated content `content/ja/docs/setup/turnkey/gce.md`.

[code]

**Proposed Solution:**

Update content `content/ja/docs/setup/turnkey/gce.md`.

For details, please execute the following command.

[code]

**Page to Update:**

https://kubernetes.io/ja/docs/setup/turnkey/gce/

[2019-03-11 14:59] cstoku opened #13100 "Update k8s.io/ja/docs/tutorials/hello-minikube/"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**

Outdated content `content/ja/docs/tutorials/hello-minikube.md`.

[code]

**Proposed Solution:**

Update content `content/ja/docs/tutorials/hello-minikube.md`.

For details, please execute the following command.

[code]

**Page to Update:**

https://kubernetes.io/ja/docs/tutorials/hello-minikube/

[2019-03-11 14:59] cstoku opened #13101 "Update k8s.io/ja/docs/tutorials/kubernetes-basics/"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**

Outdated content `content/ja/docs/tutorials/kubernetes-basics/_index.html`.

[code]

**Proposed Solution:**

Update content `content/ja/docs/tutorials/kubernetes-basics/_index.html`.

For details, please execute the following command.

[code]

**Page to Update:**

https://kubernetes.io/ja/docs/tutorials/kubernetes-basics/

[2019-03-11 14:59] cstoku opened #13102 "Update k8s.io/ja/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro/"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**

Outdated content `content/ja/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro.html`.

[code]

**Proposed Solution:**

Update content `content/ja/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro.html`.

For details, please execute the following command.

[code]

**Page to Update:**

https://kubernetes.i

[2019-03-11 14:59] cstoku opened #13103 "Update k8s.io/ja/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro/"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**

Outdated content `content/ja/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html`.

[code]

**Proposed Solution:**

Update content `content/ja/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html`.

For details, please execute the following command.

[code]

**Page to Update:**

https://kubernetes.io/ja/docs/

[2019-03-11 14:59] cstoku opened #13104 "Update k8s.io/ja/docs/tutorials/kubernetes-basics/expose/expose-intro/"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**

Outdated content `content/ja/docs/tutorials/kubernetes-basics/expose/expose-intro.html`.

[code]

**Proposed Solution:**

Update content `content/ja/docs/tutorials/kubernetes-basics/expose/expose-intro.html`.

For details, please execute the following command.

[code]

**Page to Update:**

https://kubernetes.io/ja/docs/tutorial

[2019-03-11 14:59] cstoku opened #13105 "Update i18n/ja.toml"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**

Outdated content `i18n/ja.toml`.

[code]

**Proposed Solution:**

Update content `i18n/ja.toml`.

For details, please execute the following command.

[code]

And please submit this pull request directly to master.

[2019-03-11 14:59] cstoku opened #13106 "Translate heading and subheading of docs/setup/turnkey/icp.md in Japanese"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**

No heading and subheading of `docs/setup/turnkey/icp.md` in Japanese.

**Proposed Solution:**

Translate heading and subheading of `docs/setup/turnkey/icp.md` in Japanese.

Copy from en content and Update `content/ja/docs/setup/turnkey/icp.md`.

**Page to Update:**

https://kubernetes.io/ja/docs/setup/turnkey/icp/

[2019-03-11 14:59] cstoku opened #13107 "Translate heading and subheading of docs/setup/version-skew-policy.md in Japanese"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**

No heading and subheading of `docs/setup/version-skew-policy.md` in Japanese.

**Proposed Solution:**

Translate heading and subheading of `docs/setup/version-skew-policy.md` in Japanese.

Copy from en content and Update `content/ja/docs/setup/version-skew-policy.md`.

**Page to Update:**

https://kubernetes.io/ja/docs/setup/ve

[2019-03-11 15:57] saiteja313 opened #13109 "Deprecated kubelet flags in k8s.io/docs/reference/command-line-tools-reference/kubelet/"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
When I run kubelet - v1.11.5, I get below warning message in logs.
[code]
**Proposed Solution:**
`--allow-privileged`, `--address`, `--pod-manifest-path`, `--cluster-dns`, `--cluster-domain`, `--healthz-bind-address` kubelet flags are deprecated. Reference command line tools documentation should be updated with appropriate flags

[2019-03-11 21:18] DanyC97 commented on #7879
/remove-lifecycle stale

[2019-03-11 21:23] DanyC97 commented on #11381
/remove-lifecycle stale

[2019-03-12 03:28] #13057 closed

[2019-03-12 07:34] sftim commented on #12881
I'm afraid I'm not sure I understand what you're saying. Was the documentation easy to understand?

[2019-03-12 07:36] sftim commented on #13050
Would it help to have the section on involuntary disruptions a hyperlink to https://kubernetes.io/docs/concepts/workloads/pods/pod/#durability-of-pods-or-lack-thereof ?
I'm hoping we can make this improvement by signposting to existing pages about how pod failures get handled.

[2019-03-12 07:37] sftim commented on #13069
Hi. Can you tell us what wasn't working for you?

[2019-03-12 07:56] #9877 closed

[2019-03-12 08:12] DanyC97 commented on #11331
the planning was done, closing it

/close

_reopen it should you think it shouldn't have been closed_

[2019-03-12 08:14] DanyC97 commented on #11331
/reopen

to early to close, wait until next planning coming up and then close it

[2019-03-12 08:15] DanyC97 commented on #12554
/assign @DanyC97

[2019-03-12 08:17] DanyC97 commented on #12756
@oksana664 due to lack of problem description i'm going to close the issue. Please open a new issue with full description as per the issue template so we understand what the problem is

[2019-03-12 08:18] DanyC97 commented on #12756
/close

[2019-03-12 08:18] #12756 closed

[2019-03-12 08:27] DanyC97 commented on #9829
/remove-lifecycle stale
/assign @DanyC97

[2019-03-12 09:27] DanyC97 commented on #9967
@lucperkins your thoughts ?

[2019-03-12 10:45] DanyC97 opened #13121 "Update travis to use the right go version and K8s release"
K8s 1.13 does use go v 1.11.5 - see https://github.com/kubernetes/kubernetes/blob/release-1.13/build/build-image/cross/VERSION while our travis is out of date

* https://github.com/kubernetes/website/blob/master/.travis.yml#L3
* https://github.com/kubernetes/website/blob/master/.travis.yml#L19  <- we are not using 1.13 K8s release

[2019-03-12 10:45] DanyC97 commented on #13121
/assign @DanyC97

[2019-03-12 13:18] cmanania opened #13125 "Issue with k8s.io/docs/setup/custom-cloud/coreos/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
Multi-node cluster using cloud-config, CoreOS and VMware ESXi is no longer valid.

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-03-12 14:32] diederichm opened #13127 "Issue with k8s.io/docs/tasks/access-application-cluster/web-ui-dashboard/"
**This is a...**

- [ ] Feature Request
- [X ] Bug Report

**Problem:**
the linked yaml for the dashboard seems to have amd64 hardcoded as architecture

**Proposed Solution:**
I guess the image could be specified without architecture ?

**Page to Update:**

https://kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard/

[2019-03-12 16:51] lucperkins commented on #9967
`--navigateToChanged` might be worth trying at some point but could introduce problems for people if introduced out of the blue. I do agree that `--ignoreCache` is overly aggressive. I'll remove it.

[2019-03-12 18:04] joninex opened #13135 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-03-12 19:05] 747823 opened #13138 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
The interactive terminal command in the deploying an app tutorial is deprecated in module 2, step 2.
This is the command and its result in the interactive terminal:
[code]

**Proposed Solution:**
Update command to something that does not cause an error

**Page to Update:**
https://kubernetes.io/docs/tutorials/kubernetes-basics/d

[2019-03-12 20:25] zacharysarah commented on #12609
@kubernetes/sig-scheduling-feature-requests 👋 It would be great to get input from you here. Thanks in advance!

[2019-03-12 20:48] pixelshaded commented on #12942
I've done what Sukhoversha suggested and running minikube dashboard opens the Lynx browser. Is this the expected behavior?

[2019-03-12 21:15] zacharysarah opened #13140 "Travis CI is slow and fragile"
## This is a...
- [x] Feature Request
- [x] Bug Report

![whynotboth](https://user-images.githubusercontent.com/3210446/54235071-ae9cb200-44cd-11e9-9de8-4adca8112b40.gif)

## Problem

Currently, k/website uses the free tier of Travis for CI testing. This worked acceptably well in the repository's first years&mdash;but as the volume of PRs increases, so have build times and fragilities.

### Build

[2019-03-13 06:38] tao12345666333 opened #13151 "Issue with k8s.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

`kubectl` doesn't have `certificates` sub command. It should be `certificate`.

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/

[2019-03-13 06:48] oke-py commented on #13102
やります！！

[2019-03-13 07:14] DanyC97 commented on #13121
/unassign @DanyC97

[2019-03-13 07:15] DanyC97 commented on #13121
/assign @tengqm

[2019-03-13 08:01] tengqm commented on #13140
Just spent some time investigating how fragile the gate is and pondering on alternatives for acceleration. The findings:

1. the command `git clone https://github.com/kubernetes/kubernetes` is eating most cycles during tests, usually more than 400 seconds, i.e. 6 minutes.
2. examples are relatively stable, PRs touching them are very rare.
3. testing of examples is needed since our audience may see

[2019-03-13 08:41] zacharysarah commented on #13140
@tengqm 👋

400 seconds is a big chunk of time!

I'm curious what kind of improvement we would see by changing the command only in k/website, given that our Travis account is org-wide. Do you think that, in order to see a marked improvement, we'd have to propagate the change to every org repo using Travis? (Twenty-three repos, according to [`k/test-infra/prow/config.yaml`](https://github.com/kubern

[2019-03-13 09:08] ChiftKey opened #13156 "Issue with k8s.io/ko/docs/tasks/tools/install-minikube/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

Minikube 설치 -> Minikube 설치 -> Linux
[정적 바이너리를 내려받아서 리눅스에 Minikube를 설치할 수 있따]

**Proposed Solution:**

따 -> 다

정적 바이너리를 내려받아서 리눅스에 Minikube를 설치할 수 있다.

**Page to Update:**
https://kubernetes.io/...

[2019-03-13 11:23] prein commented on #9642
Apologies for posting to closed issue. Just wanted to leave a hint for a poor soul getting here looking for solution for similar problem. For me it was weave going into some abnormal state on the node where kube-controller-manager was throwing the `127.0.0.1:10252: bind: address already in use` error. Restarting the weave-net pod made it go away. I didn't investigate any deeper.

[2019-03-13 11:27] neolit123 commented on #13151
/sig cluster-lifecycle

[2019-03-13 11:31] neolit123 commented on #9642
we are testing HA setups using weave CNI on a regular basis in this project:
https://github.com/kubernetes-sigs/kind

but i wouldn't exclude some sort of a weird state that needs a weave pod restart.

[2019-03-13 12:25] DanyC97 commented on #12090
/assign @DanyC97

[2019-03-13 12:27] DanyC97 commented on #13138
thank you for raising it @747823 !!

cross link to #12090

[2019-03-13 12:27] DanyC97 commented on #13138
/assign @DanyC97

[2019-03-13 12:28] DanyC97 commented on #12278
related to #12090

/assign @DanyC97

[2019-03-13 14:17] tengqm commented on #13140
@zacharysarah I'd spend some time testing the ideas above and see whether and how much improvement we can get. Automated testing is still preferred (see #13145 where the missing of serviceAccountName was detected by the unit tests) over human inspection. Will get back to you after the experiments.

[2019-03-13 15:01] yukinagae commented on #13100
I'll work on this.

[2019-03-13 15:31] #13151 closed

[2019-03-13 15:35] yukinagae commented on #13100
I've just created the PR for this issue: https://github.com/kubernetes/website/pull/13161
Can you tell me who can be a reviewer and approver for the PR?

Since I'm new to k8s doc localization, any feedback or comment is appreciated :)

[2019-03-13 15:45] yukinagae commented on #13100
あ、もしかして日本語でよかったのかな(｀・ω・´)汗

[2019-03-13 17:05] DanyC97 commented on #13140
my 0.02$

i wouldn't say PRs touching is rare, i would say it will be rare once i manage to _collect_ all the examples which are currently in the docs but not in a file. I've started that road but is not completed (yet)

100%

i personally wouldn't go that route, whoever is reviewing and approving can pay extra attention to the examples. Saying that i don't see why `examples` needs a special treat

[2019-03-13 17:47] #13121 closed

[2019-03-13 18:04] DanyC97 commented on #13125
https://github.com/kubernetes/website/pull/13162 fixed the CoreOS.

not sure about the others, maybe members of cluster-lifecycle sig can chime in ?

cc /sig cluster-lifecycle

[2019-03-13 18:35] #10612 closed

[2019-03-14 01:02] rock-xxxx opened #13166 "Issue with k8s.io/zh/docs/home/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-03-14 02:23] nasa9084 commented on #13100
日本語でも英語でも大丈夫ですよー

[2019-03-14 02:33] janscott525 opened #13169 "Issue with k8s.io/docs/setup/independent/install-kubeadm/"
Versions?????

**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-03-14 02:34] janscott525 commented on #13169
No such thing as versions in your world? WTF?

[2019-03-14 02:48] yukinagae commented on #13100
@nasa9084 PRマージありがとうございますー。対応するこのissueはどこかのタイミングでcloseする感じですか？

[2019-03-14 02:53] cstoku commented on #13100
PRクローズしたタイミングでこちらもクローズします！
/close

[2019-03-14 02:53] #13100 closed

[2019-03-14 05:21] seokho-son opened #13175 "Translate reference/standardized glossary in Korean"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
No reference - standardized glossary in Korean

**Proposed Solution:**
Translate reference - standardized glossary in Korean

**Page to Update:**
https://kubernetes.io/ko/docs/reference/glossary/

[Task list]
- [x] translations for Fundamental tag (PR #13552)
- [ ] translations for Architecture tag
- [ ] translations for Core O

[2019-03-14 05:27] seokho-son commented on #13175
/assign

[2019-03-14 05:51] tao12345666333 opened #13176 "add Kind to local-machine solutions"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

[kind](https://github.com/kubernetes-sigs/kind) is a tool for running local Kubernetes clusters using Docker container "nodes".
We can use it to create multi-control-plane or multi-node Kubernetes cluster.

**Page to Update:**
https://kubernetes.io/docs/setup/pick-right-solution/

[2019-03-14 09:32] DanyC97 commented on #10989
/remove-lifecycle rotten

@neolit123 any chance you might know the answer and if so let me know if there is anything which needs to be done from docs side ? thanks in advance

[2019-03-14 09:42] DanyC97 commented on #12740
/assign @DanyC97

[2019-03-14 10:32] sftim commented on #12740
@DanyC97: if you want to nominate a few of these for me to work on, I'll do that (can make issues for the subtasks too). Then when I've got through those I can pick up new work.

[2019-03-14 10:34] DanyC97 commented on #12740
cool, please go and pick a chapter @sftim , i'm now on _Monitor, Log, and debug_

[2019-03-14 10:36] sftim commented on #12740
I'll pick **Run Applications** then, so I start with a fairly small one.

[2019-03-14 12:24] yukinagae commented on #13091
これやりますね(｀・ω・´)

[2019-03-14 12:47] yukinagae commented on #13091
一点確認させてください。

本issueの内容としては、git diffの差分のoutdated contentの対応かと思うんですが、そもそも英語のままで日本語化されていない箇所について、普通に日本語に翻訳しちゃっていいんですよね？(｀・ω・´)

[2019-03-14 13:27] cstoku commented on #13091
日本語訳にしてしまっても大丈夫です！

[2019-03-14 14:28] neolit123 commented on #10989
hard to say what may cause that...

possibly related to:
https://github.com/kubernetes/kubeadm/issues/1329

as recommended above the user should try a different CNI plugin - e.g. weave net.

i'm going to have to close this ticket as it's a networking problem and we can't possibly document all networking problems in the troubleshooting guide for kubeadm.

thanks.
/close

[2019-03-14 14:28] #10989 closed

[2019-03-14 15:23] chidakiyo commented on #13081
これやります

[2019-03-14 15:58] yukinagae commented on #13079
やります

[2019-03-14 20:00] #1691 closed

[2019-03-15 03:30] xichengliudui commented on #13166
The Chinese translation is currently based on release-1.12. If you have any needs, you can select release-1.12 to check.
If you have no questions, please close this issue.

[2019-03-15 04:04] karthequian commented on #13176
It's already there under `ecosystem tools` https://kubernetes.io/docs/setup/pick-right-solution/#ecosystem-tools?

[2019-03-15 04:09] karthequian commented on #13176
Oh! I see what you mean- perhaps delete it from `Ecosystem Tools` section if we're adding to the community supported tools. Will comment in the PR.

[2019-03-15 04:10] tao12345666333 commented on #13176
I seem to have ignored it before. :upside_down_face:
Thank you for pointing out. :+1:

[2019-03-15 04:15] joyliu329 opened #13199 "Issue with k8s.io/zh/docs/reference/kubectl/kubectl/ unintelligible text."
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-03-15 04:15] karthequian commented on #13176
haha. no worries! I totally agree with your PR though- it should probably be in the 1st section, so just remove the 2nd occurrence :)

[2019-03-15 04:16] tao12345666333 commented on #13176
OK, Thanks.

[2019-03-15 04:16] joyliu329 commented on #13199
chinese unintelligible text.
![image](https://user-images.githubusercontent.com/11437703/54408272-35df6500-471c-11e9-9204-fd9e1ddf9821.png)

[2019-03-15 05:19] ClaudiaJKang commented on #12999
/assign

[2019-03-15 07:30] xichengliudui commented on #13199
@joyliu329  Sorry for delaying your use. Could you please tell me the specific link? I'll fix it.

[2019-03-15 07:36] DanyC97 commented on #10995
/remove-lifecycle rotten
/assign @DanyC97

[2019-03-15 07:37] DanyC97 commented on #9967
fixed by #13133

[2019-03-15 07:37] DanyC97 commented on #9967
/close

[2019-03-15 07:37] #9967 closed

[2019-03-15 08:10] qinlj opened #13206 "Running the site locally using Hugo failed"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
Hi,I want to running the site locally using Hugo. I followed the instructions on the page of"https://github.com/kubernetes/website",then  I was given an error when I performed this step. What should I do?

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

![error](https://user-images.githubusercontent.com/1

[2019-03-15 08:25] Sai-Adarsh commented on #13206
Hugo version? Try installing `Hugo 0.53` You could find the supported HUGO_VERSION in [Makefile](https://github.com/kubernetes/website/blob/master/Makefile)

[2019-03-15 09:43] qinlj commented on #13206
The Hugo version is 0.53.

[2019-03-15 09:58] oke-py commented on #13104
やります

[2019-03-15 10:21] cstoku commented on #13079
/close

[2019-03-15 10:21] #13079 closed

[2019-03-15 10:22] cstoku commented on #13081
/close

[2019-03-15 10:22] #13081 closed

[2019-03-15 13:46] chidakiyo commented on #13103
これやります

[2019-03-15 15:18] #10631 closed

[2019-03-15 15:18] #10632 closed

[2019-03-15 16:49] yukinagae commented on #13088
これやります。

[2019-03-15 16:58] ipchaube opened #13212 "Issue with k8s.io/docs/home/"
indu.chaube@INDUW88 /e/abss/src/orchestrator (master)
$ go get k8s.io/client-go/...
package k8s.io/client-go/...: unrecognized import path "k8s.io/client-go" (https fetch: Get https://k8s.io/client-go?go-get=1: dial tcp 23.236.58.218:443: connectex: A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because conn

[2019-03-15 17:36] ivalexm opened #13213 "Issue with k8s.io/docs/reference/access-authn-authz/admission-controllers/"
To see which admission plugins are enabled:

kube-apiserver -h | grep enable-admission-plugins

**This is a...**

- Bug Report

**Problem:**
kube-apiserver -h
is the HELP of "kube-apiserver" and grep enable-admission-plugins gives you nothing about the enabled admission plugins

**Proposed Solution:**
I am not sure. I just wanted to see the enabled admission plugins.

**Page to Update:**
https://k

[2019-03-15 19:39] zacharysarah commented on #4478
Closed by #12465

[2019-03-15 19:39] #4478 closed

[2019-03-15 19:40] zacharysarah commented on #9115
Closed by #12689

[2019-03-15 19:40] #9115 closed

[2019-03-15 20:26] weibeld commented on #12405
Fixed in merged PR #13060.

[2019-03-15 20:26] #12405 closed

[2019-03-15 20:55] imkin commented on #12329
/wg lts

[2019-03-15 20:56] imkin commented on #12322
/wg lts

[2019-03-15 21:07] tpepper commented on #12328
/wg lts

[2019-03-15 21:12] imkin commented on #12323
/wg lts

[2019-03-15 21:13] imkin commented on #12324
/wg lts

[2019-03-15 21:56] imkin commented on #12327
/wg lts

[2019-03-15 21:57] imkin commented on #12326
/wg lts

[2019-03-15 21:57] imkin commented on #12325
/wg lts

[2019-03-15 23:15] DanyC97 commented on #13206
as an alternative you could run `make docker-serve` , that is what i'm doing it

[2019-03-16 00:28] #10644 closed

[2019-03-16 00:34] pnickolov opened #13216 "Issue with k8s.io/docs/concepts/overview/working-with-objects/names/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
It is unclear what character set the alphanumeric characters can be for various names - 7-bit ASCII? Unicode? Although there may be another place in the docs that defines this for all names, it will be good to have this information here. This can help readers not miss the non-ASCII capability. This page is likely read as a refe

[2019-03-16 03:13] #12389 closed

[2019-03-16 05:33] #10646 closed

[2019-03-16 06:00] qinlj commented on #13206
Thanks. I solved this problem，because I downloaded the ZIP,then I clone the code and run `make serve`, it's OK now.

[2019-03-16 12:01] kwiesmueller opened #13217 "Autoformating and Build Checks"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**
During the last few weeks i worked on website for the first time due to the need of writing docs for our new feature.
When i started, i quickly came to an issue that i noticed a little too late, which was my editor (vscode) applied its own sense of markdown formating to all the files i edited.

So I disabled the feature for this

[2019-03-16 14:46] yukinagae commented on #13091
このPR https://github.com/kubernetes/website/pull/13219 を作成したんですが、自動でreviewerがアサインされません。どなたか原因わかる方いますかね？(｀・ω・´)

備考: commitにissue番号ないとbotが反応しないのに気づいたのでそれは対応したのですが汗。

[2019-03-16 15:06] Aggie101 commented on #13213
add a jumpstart the reboot jksfhuow

[2019-03-16 15:11] yukinagae commented on #13091
すみません、以下コマンドでいけました:bow:

[code]

[2019-03-16 15:18] yukinagae commented on #13095
これやります。

[2019-03-16 17:36] jimangel opened #13222 "update kubectl "$" formatting docs"
A follow-up issue to track https://github.com/kubernetes/website/pull/12867#issuecomment-473471032

I'm ok with the change going in after the 1.14 release so it can be against master. Thanks!

/assign @Liujingfang1

[2019-03-16 18:46] #6339 closed

[2019-03-16 19:02] DanyC97 commented on #13222
thanks for open the issue @jimangel

[2019-03-17 02:17] yukinagae commented on #13097
やります(｀・ω・´)

[2019-03-17 03:08] yukinagae commented on #13094
これやります。

[2019-03-17 03:33] emilywwj opened #13225 "Issue with k8s.io/docs/tasks/debug-application-cluster/debug-application/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
I am trying to deploy my application on kubernetes clusters. But my pods were stuck at ContainerCreating status. And I cannot figure out why. Here is my pods result and the describe information for the node2 and the other nodes has the similar situations.

$ kubectl get pods --all-namespaces
NAMESPACE           NAME

[2019-03-17 06:56] #13225 closed

[2019-03-17 12:54] oke-py commented on #13084
やります

[2019-03-17 13:50] jmyung opened #13229 "Translate reference/kubectl/cheatsheet in Korean"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
No Translate reference/kubectl/cheatsheet in Korean

**Proposed Solution:**
Translate reference/kubectl/cheatsheet in Korean

**Page to Update:**
https://kubernetes.io/docs/reference/kubectl/cheatsheet/

[2019-03-17 13:50] jmyung commented on #13229
/language ko
/assign

[2019-03-17 15:27] cstoku commented on #13103
/close

[2019-03-17 15:27] #13103 closed

[2019-03-17 15:49] cstoku commented on #13095
/close

[2019-03-17 15:49] #13095 closed

[2019-03-17 15:55] cstoku commented on #13084
/close

[2019-03-17 15:55] #13084 closed

[2019-03-17 22:06] chenrui333 opened #13231 "Website blogs shall use relative links"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
Right now the blogs are using the absolute links references, there are two problems with it:
- not aware of localization context
- not aware of version context

For example, the link like this `https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/` in blog `/blog/2017/08/Kubernetes-Meets-High-Performance`

**Prop

[2019-03-17 22:06] chenrui333 commented on #13231
cc @zacharysarah

[2019-03-17 23:06] oke-py commented on #13101
やります

[2019-03-18 01:39] xichengliudui commented on #13199
/close

[2019-03-18 01:39] #13199 closed

[2019-03-18 01:39] xichengliudui commented on #13166
/close

[2019-03-18 01:39] #13166 closed

[2019-03-18 10:10] DanyC97 commented on #13206
/close

as per @qinlj 's feedback

[2019-03-18 10:10] #13206 closed

[2019-03-18 13:23] MiaAdriani opened #13244 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-03-18 13:41] ujuc opened #13245 "ko: Wrong word choice in what-is-kubernetes.md"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
`구식의 방법` is a wrong word choice in https://github.com/kubernetes/website/blob/master/content/ko/docs/concepts/overview/what-is-kubernetes.md.

**Proposed Solution:**
Change word `구식의 방법` to `옛 방식`.

**Page to Update:**
https://kubernetes.io/ko/docs/concepts/overview/what-is-kubernetes/

[2019-03-18 13:42] ujuc commented on #13245
/language ko
/assign

[2019-03-18 14:24] ujuc opened #13248 "Issue with k8s.io/ko/docs/concepts/overview/working-with-objects/kubernetes-objects/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
missing word...

**Proposed Solution:**
Add missing word

**Page to Update:**
https://kubernetes.io/ko/docs/concepts/overview/working-with-objects/kubernetes-objects/#%EC%98%A4%EB%B8%8C%EC%A0%9D%ED%8A%B8-spec-%EA%B3%BC-%EC%83%81%ED%83%9C-status

[2019-03-18 14:24] ujuc commented on #13248
/language ko
/assign

[2019-03-18 16:46] vllry opened #13253 "Issue with k8s.io/docs/concepts/configuration/pod-priority-preemption/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Docs are old (for 1.11), and should be updated to 1.14/1.15. Notably, the feature is now GA.

**Proposed Solution:**
Do a content sweep for correctness (EG beta->GA).

**Page to Update:**
k8s.io/docs/concepts/configuration/pod-priority-preemption/

[2019-03-18 16:46] vllry commented on #13253
/sig scheduling

[2019-03-18 16:46] vllry commented on #13253
/good-first-issue

[2019-03-18 17:57] DanyC97 commented on #10995
@herrsebi you mind providing more info on your statement _doesn't seem to work_ ? i've run a couple of tests and i don't see any issue, am i missing anything ?

[2019-03-18 21:24] bsalamat commented on #13253
Thanks, @vllry! Docs and website are updated already: https://github.com/kubernetes/website/pull/12428.
New website content will be released with the release of 1.14.

[2019-03-18 22:03] #13248 closed

[2019-03-18 22:04] #13245 closed

[2019-03-18 22:36] hickey opened #13259 "Issue with k8s.io/docs/reference/setup-tools/kubeadm/kubeadm/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
It hard as heck to track down the specification for what can be placed in the YAML file for configuring Kubernetes when a `kubeadm init` is executed.

**Proposed Solution:**
I found the pages discussing the YAML format once several months ago, but I have just spent 45 mins looking for the information again (it should not be thi

[2019-03-18 22:39] eliot1785 opened #13260 "Improvement for k8s.io/docs/tasks/configure-pod-container/configure-pod-configmap/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
I wanted to give some feedback on this page from the perspective of a new Kubernetes user. I've read the whole thing, and on the whole I think it's a great page.

I found one thing strange, though: --from-env-file is the only option shown which actually parses the file to convert it to a structured YAML representation (i.e. the

[2019-03-19 01:05] #13253 closed

[2019-03-19 01:31] lieut-data commented on #12608
I ran into this as well. I believe the issue partially stems from the glob on the `term_id` in the corresponding shortcode:
https://github.com/kubernetes/website/blob/b1c288926b00198840ddd1a560845c29f04d4ef9/layouts/shortcodes/glossary_tooltip.html#L8

This allows `container*` to match `container-lifecycle-hooks` (similarly for `pod*`). `GetMatch` returns the first match, but I suspect the order o

[2019-03-19 06:58] #12966 closed

[2019-03-19 08:08] neolit123 commented on #13259
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#config-file

/close

[2019-03-19 08:08] #13259 closed

[2019-03-19 13:47] qiuanshmily commented on #12443
努力成为一个伟大的架构师

[2019-03-19 14:28] dgkoris opened #13275 "Issue with k8s.io/docs/tutorials/hello-minikube/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The command 'minikube dashboard' generates the following error:

-   Enabling dashboard ...
-   Verifying dashboard health ...
-   Launching proxy ...
-   Verifying proxy health ...
-   Opening http://127.0.0.1:46711/api/v1/namespaces/kube-system/services/http:kubernetes-dashboard:/proxy/ in your default browser...
X   failed t

[2019-03-19 15:26] moga0102 opened #13277 "How to check the issue of termnating pods"
Mongodb pod keep on terminating. How can i find the RCA

[2019-03-19 17:01] neolit123 commented on #9405
/close

the recent refactor moved the ssh-agent steps at the bottom of the document (1.14) due to the fact that we now support auto-copy. we also added notes that users should use their preferred way to copy certs i.e. ssh-agent is not mandatory. someone might want to use `scp -3`

[2019-03-19 17:01] #9405 closed

[2019-03-19 17:18] #13176 closed

[2019-03-19 18:12] #12949 closed

[2019-03-19 19:24] sftim commented on #13277
Possibly https://kubernetes.io/docs/tasks/debug-application-cluster/debug-application/ will help?

If not, we'd welcome feedback about how to improve the documentation.

[2019-03-19 19:29] sftim commented on #13212
Hi. This doesn't seem like a defect in the Kubernetes documentation.

Is there an improvement that you'd recommend we make, or a shortcoming in the documentation that we can help fix?

[2019-03-19 20:22] knbz opened #13282 "Issue with k8s.io/docs/concepts/overview/working-with-objects/annotations/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-03-19 20:24] knbz commented on #13282
ibmcloud dev enable[](url)

[2019-03-19 20:28] knbz opened #13283 "Issue with k8s.io/docs/concepts/workloads/controllers/daemonset/"
#

**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-03-19 20:28] michmike commented on #12426
documentation is now up and running.
You can view it in staging under https://5c914f680410ed000aeebc2e--kubernetes-io-vnext-staging.netlify.com/docs/setup/windows/add-windows-nodes/
/close

[2019-03-19 20:29] #12426 closed

[2019-03-19 20:29] knbz opened #13284 "KoreNBeatZ ©️"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-03-19 20:32] knbz opened #13285 "Issue with k8s.io/docs/reference/access-authn-authz/authentication/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-03-19 20:52] knbz opened #13286 "Issue with k8s.io/docs/reference/setup-tools/kubeadm/kubeadm/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-03-19 20:56] #12506 closed

[2019-03-19 21:08] knbz commented on #13286
#13280 #13266 #13287 #13111  #13279

[2019-03-19 21:11] knbz opened #13288 "Issue with k8s.io/docs/concepts/overview/working-with-objects/common-labels/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-03-19 21:19] knbz opened #13289 "Issue with k8s.io/docs/contribute/participating/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-03-19 21:22] liggitt commented on #12328
started a doc to organize work efforts related to kubernetes dependencies at https://docs.google.com/document/d/1WA8N7C48nkJmme9a96DU0o9jBpeycPhht8WF-Eam9QQ/edit?usp=sharing

[2019-03-19 23:36] bgiddings opened #13291 "k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/ uses deprecated command"
**This is a...**
- [ ] Feature Request
- [X] Bug Report

**Problem:**
The instructions say to run:

    kubectl run kubernetes-bootcamp --image=gcr.io/google-samples/kubernetes-bootcamp:v1 --port=8080

That results in a warning in the console:

    kubectl run --generator=deployment/apps.v1 is DEPRECATED and will be removed in a future version. Use kubectl run --generator=run-pod/v1 or kubectl cre

[2019-03-20 00:25] bgiddings opened #13292 "In k8s.io/docs/tutorials/hello-minikube/ "minikube dashboard" using Katacoda environment never responds on 30000"
**This is a...**
- [ ] Feature Request
- [X] Bug Report

**Problem:**
Using the in-browser Katacoda environment, The docs for hello-minikube say to run "minikube dashboard".

Running that results in:

    $ minikube dashboard
    -   Enabling dashboard ...
    -   Verifying dashboard health ...
    -   Launching proxy ...
    -   Verifying proxy health ...
    -   Opening http://127.0.0.1:38793/ap

[2019-03-20 02:50] mustufa5689 opened #13295 "Issue with k8s.io/docs/tasks/job/automated-tasks-with-cron-jobs/"
`# kubect run` command, should work for creating the `cronjobs` in the latest version of 1.13.
It shows an deprecated error message.
"kubectl run --generator=batch/v1beta1" is DEPRECATED and will be removed in future version.

As per the documentation, it should run successfully , like for Pods.

**This is a...**

- [ ] Feature Request
- [X ] Bug Report

**Problem:**
`# kubect run` command, should

[2019-03-20 04:52] daminisatya commented on #13289
Hi @knbz Can you provide more details around the issue on the page you have mentioned?

[2019-03-20 04:52] daminisatya commented on #13288
Hi @knbz Can you provide more details around the issue on the page you have mentioned?

[2019-03-20 07:51] DanyC97 commented on #13286
@knbz if you don't mind asking, am curious to know what is the problem on this issue ? I see you referenced few PRs but still a bit confused ;)

[2019-03-20 09:53] caiconkhicon opened #13305 "Issue with k8s.io/docs/concepts/workloads/pods/disruptions/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The last table after the paragraph

shows that **pod-b available**, which I think that it's wrong, because previously it says "It will succeed at evicting pod-b"

**Proposed Solution:**

**pod-b terminating**

**Page to Update:**
https://kubernetes.io/docs/concepts/workloads/pods/disruptions/

[2019-03-20 10:56] DanyC97 commented on #13295
thanks for raising the issue @mustufa5689 .

This is related to https://github.com/kubernetes/website/issues/12090

[2019-03-20 10:56] DanyC97 commented on #13295
/assign @DanyC97

[2019-03-20 10:57] DanyC97 commented on #13291
thank you for raising the issue, this is related to https://github.com/kubernetes/website/issues/12090

[2019-03-20 10:57] DanyC97 commented on #13291
/assign @DanyC97

[2019-03-20 10:58] DanyC97 commented on #10956
/remove-lifecycle rotten
/assign @DanyC97

is related to https://github.com/kubernetes/website/issues/12090

[2019-03-20 11:04] DanyC97 commented on #11024
i think @charrywanganthony provided the url which should point to the right direction.

In addition i'd say that the etcd packages are not required anymore since tools like `kubeadm` and others are using static pods.

I'll close this issue for now however should you feel more info needs to be added to docs please open a new issue and we would love to hear your feedback

[2019-03-20 11:04] DanyC97 commented on #11024
/close

[2019-03-20 11:04] #11024 closed

[2019-03-20 15:31] hickey commented on #13259
Ah, now I understand why I was having such a hard time finding the
config file information. The visited link style is atrocious! Since I
had visited the page months ago the link did not look like a link.
Please see the image below which is a screen shot of the page that has
the link. I only caught it again by happenstance. I further tested with
the kube-proxy link and got the same result.

Clearly

[2019-03-20 15:32] chenrui333 commented on #13231
This issue should be addressed in the following PRs:

| PR                                                 | base branch  |
|----------------------------------------------------|--------------|
| Fix relative links issue in English content #13307 | master       |
| Fix relative links issue in ko content #13308      | master       |
| Fix relative links issue in ja content #13309      | master

[2019-03-20 16:19] jimangel opened #13314 "Issue with "note" snippet and numbered lists"
When working with @michmike on the windows docs, it was brought to my attention that when a numbered list has a "note" snippet in the middle, it will break the sequence of numbers.

If the note snippet is indented over to match the list, the note gets formatted as a single line code block. This ultimately results in none of the markdown working (like URLs).

If the note is at the beginning of the

[2019-03-20 18:59] AGtechm opened #13316 "E_FAIL (0x80004005) while starting m"
**This is a...
- [ x] Bug Report

**Problem:**
Not able to start the minikube 0.35 on virtualbox 6.0.4. Keeps giving following error. Tried to uninstall completely and reinstall (removed .minikube and .virtualbox directories) but still the same. This is on Windows 10 Home.
[restart issue.txt](https://github.com/kubernetes/website/files/2989680/restart.issue.txt)
Any help to get it started would be

[2019-03-20 21:20] shailendragaikwad opened #13318 "Issue with k8s.io/docs/tutorials/kubernetes-basics/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-03-20 22:24] texasdave2 opened #13319 "Improvement for k8s.io/docs/tasks/administer-cluster/configure-upgrade-etcd/"
**This is a...**

- [ X] Feature Request
- [ ] Bug Report

**Problem:**
etcd backups are vital to cluster health, however the amount of information on backing up etcd is very limited or requires juju in the official kubernetes docs.  This is just a request for more thorough documentation on this subject, perhaps a dedicated page with multiple methods.

**Proposed Solution:**

1)  Offer a more thor

[2019-03-20 22:25] cheftako opened #13320 "We do not warn customers of not supporting "at most" x on Jobs"
**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**

https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/ does not warn customers that Jobs configured with spec.completions set to x may run the relevant workload more than x times. In bad cases many more than x times.

**Proposed Solution:**

We have a line "Note that even if you specify .spec.parall

[2019-03-20 22:57] #13140 closed

[2019-03-21 03:43] raotkind opened #13323 "Improvement for k8s.io/docs/setup/pick-right-solution/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-03-21 06:30] DanyC97 commented on #13323
@raotkind could you please describe what is the problem ?

[2019-03-21 06:51] yongkui opened #13324 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
After running below command in interactive module 2, got below message
$ kubectl run kubernetes-bootcamp --image=gcr.io/google-samples/kubernetes-bootcamp:v1 --port=8080
kubectl run --generator=deployment/apps.v1 is DEPRECATED and will be removed in a future version. Use kubectl run --generator=run-pod/v1 or kubectl create inst

[2019-03-21 07:41] fabian-milea commented on #12942
I get the same error. Run on firefox and chromium. Installed xdg-utils...

[2019-03-21 09:03] babalsurer opened #13325 "Issue with k8s.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/"
Hello,
         When I deployed HPA autoscaling it is giving error unable to get metric in kubernetes 1.9.

[2019-03-21 10:50] agnf opened #13327 "Issue with k8s.io/docs/concepts/workloads/pods/init-containers/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
In the latest version of busybox (at least since July 2019 and as of March 2019), nslookup doesn't work as expected. It won't exit with status 1 after the lookup. Hence, both InitContainers will exit immediately, defeating the whole purpose of the init process. See https://github.com/docker-library/busybox/issues/48

**Proposed

[2019-03-21 10:53] agnf commented on #13327
Duplicate of #12050

[2019-03-21 10:54] agnf commented on #12050
sounds like it: https://github.com/docker-library/busybox/issues/48

Changing the lines of the init containers from "image: busybox" to "image: busybox:1.28" fixed the example for me.

[2019-03-21 14:28] tback opened #13329 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-service-account/: gce <-> kubernetes service account confusion"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Kubernetes and GCE use the term Service Account. I assumed those are related and a kubernetes service account was or could be linked to a gcloud service account.

**Proposed Solution:**
Please clarify through a disclaimer that gce service accounts and kubernetes service accounts are in fact unrelated.

**Page to Update:**
https

[2019-03-21 15:48] oxddr opened #13332 "No diagram on /concepts/overview/components/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
On the page describing components there is no diagram presenting, how they are tied together. There is such diagram on https://kubernetes.io/docs/concepts/architecture/cloud-controller/, but it's not obvious that one should look for one there.

**Proposed Solution:**
Add diagram from https://kubernetes.io/docs/concepts/architec

[2019-03-21 20:02] jaredbhatti commented on #9281
/reopen

[2019-03-21 20:15] xuhz opened #13333 "Issue with k8s.io/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
There is a Xilinx FPGA k8s device plugin available. A link to the plugin should also be provided here so that users can easily find it.

**Proposed Solution:**
Link to xilinx FPGA k8s device plugin:

https://github.com/Xilinx/FPGA_as_a_Service/tree/master/k8s-fpga-device-plugin/trunk

**Page to Update:**
https://kubernetes.io/.

[2019-03-21 23:34] DanyC97 commented on #13327
/close

as being duplicate as per @agnf 's comment

[2019-03-21 23:34] #13327 closed

[2019-03-21 23:35] DanyC97 commented on #12681
/close

as being duplicate of #12050

[2019-03-21 23:35] #12681 closed

[2019-03-21 23:35] DanyC97 commented on #12050
/assign @DanyC97

[2019-03-21 23:38] DanyC97 commented on #13285
Hi @knbz Can you provide more details around the issue on the page you have mentioned?v

[2019-03-21 23:38] DanyC97 commented on #13284
Hi @knbz Can you provide more details around the issue on the page you have mentioned?

[2019-03-21 23:38] DanyC97 commented on #13283
Hi @knbz Can you provide more details around the issue on the page you have mentioned?

[2019-03-21 23:38] DanyC97 commented on #13282
Hi @knbz Can you provide more details around the issue on the page you have mentioned?

[2019-03-22 01:13] gochist commented on #12449
/close

[2019-03-22 01:13] #12449 closed

[2019-03-22 06:08] MrLar123 opened #13335 "Issue with k8s.io/zh/docs/reference/setup-tools/kubeadm/kubeadm/"
**This is a...**

- [x] Feature Request
- [x] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-03-22 06:30] gochist commented on #13248
@ujuc 참고로, Issue 등록이 필수는 아니고 PR만 올리셔도 됩니다.

[2019-03-22 13:19] suptem opened #13339 "Issue with k8s.io/zh/docs/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-03-22 13:43] AGtechm commented on #13316
Attaching the logs
[VBoxHardening.log](https://github.com/kubernetes/website/files/2996696/VBoxHardening.log)

[2019-03-22 16:04] #7853 closed

[2019-03-22 18:03] rlenferink commented on #13316
Hi @AGtechm. Thanks for finding this issue and creating a ticket 🎉

However, it may be better to create a ticket at [kubernetes/minikube](https://github.com/kubernetes/minikube/issues/new) as you may get a faster reply and a possible solution for your problem over there.

[2019-03-22 18:06] rlenferink commented on #13316
I noticed you already did that, oops 🙈

ref: https://github.com/kubernetes/minikube/issues/3910

[2019-03-22 18:11] rlenferink commented on #13292
Hi @bgiddings . Thanks for clearly describing your issue 🎉

However, it may be better suited to create a ticket at [kubernetes/minikube](https://github.com/kubernetes/minikube/issues/new) as you may get a faster reply and a possible solution for your problem over there.

But please keep us in the loop and please reference this ticket as we have to update our documentation as well in case something

[2019-03-22 18:55] paulgmiller opened #13342 "Not-ready rationale on k8s.io/docs/concepts/workloads/controllers/daemonset/?"
**This is a...**

- [ x] Feature Request
- [ ] Bug Report

**Problem:**
Not clear why daemonsets schedule on notready/unreachable nodes

**Proposed Solution:**
Put some rationale?  @gmarek might be a good source. Since I at least found he added this comment in the source.
https://github.com/kubernetes/kubernetes/commit/f371c1431483ff7fb5a1a3bb0f13a7890fabfd9

**Page to Update:**
https://kubernetes

[2019-03-22 18:57] paulgmiller commented on #13342
I was debating proposing a change to status so you could tell that your daemonset had at least scheduled on all the ready nodes  but want to understand more why before I go down that hole.

[2019-03-22 19:37] lavalamp commented on #12323
The scheduler is a controller. There should not be an ordering requirement; it's easy to imagine ways of getting an ordering requirement, but I consider them all to be bugs (e.g., scheduler depends on semantics of a particular controller at the same version).

[2019-03-22 22:32] #12050 closed

[2019-03-22 22:32] TSUDA-Kyosuke commented on #13086
やります

[2019-03-23 02:54] bagoole opened #13346 "Issue with k8s.io/docs/contribute/start/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-03-23 03:35] cstoku commented on #13097
/close

[2019-03-23 03:35] #13097 closed

[2019-03-23 05:10] ujuc commented on #13248
네

[2019-03-23 07:04] moluzhui opened #13347 "Issue with k8s.io/docs/setup/independent/install-kubeadm/"
ubuntu16.04 server install kubernetes fail
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
curl -s https://packages.cloud.google.com/apt/doc/apt-key.gpg | apt-key add -
gpg: no valid OpenPGP data found.

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-03-23 07:08] cstoku commented on #13101
/close

[2019-03-23 07:08] #13101 closed

[2019-03-23 07:13] cstoku commented on #13091
/close

[2019-03-23 07:13] #13091 closed

[2019-03-23 07:37] cstoku commented on #13082
やります

[2019-03-23 07:37] cstoku commented on #13082
/assign

[2019-03-23 08:03] cstoku commented on #13083
やります
/assign

[2019-03-23 08:03] cstoku commented on #13085
やります
/assign

[2019-03-23 08:05] cstoku commented on #13087
やります
/assign

[2019-03-23 08:11] cstoku commented on #13088
やります
/assign

[2019-03-23 08:23] yukinagae commented on #13099
やります
/assign

[2019-03-23 08:24] yukinagae commented on #13099
`/assign` 使えなかった笑

[2019-03-23 08:30] cstoku commented on #13089
やります
/assign

[2019-03-23 08:30] cstoku commented on #13090
やります
/assign

[2019-03-23 08:31] cstoku commented on #13092
やります
/assign

[2019-03-23 08:46] cstoku commented on #13093
やります
/assign

[2019-03-23 08:55] cstoku commented on #13096
やります
/assign

[2019-03-23 08:57] cstoku commented on #13098
やります
/assign

[2019-03-23 09:02] cstoku commented on #13099
`/assign` はメンバー以上のロールじゃないと使えないんですよね:sweat_smile:

[2019-03-23 09:05] cstoku commented on #13106
やります
/assign

[2019-03-23 09:06] cstoku commented on #13107
やります
/assign

[2019-03-23 09:42] yukinagae commented on #13099
@cstoku `/assign` の件了解です、つい試してみたくて汗

ちなみに、もう本issue始めてる感じですか？ それなら別のissueやろうかと思いますが(｀・ω・´)
https://github.com/cstoku/website/commit/15a82780a3946f2c96ae6bfea758f0c5ea182945

[2019-03-23 09:46] cstoku commented on #13099
そうですね、進めてしまっていたのでこちらのIssueは自分が出しちゃいます。
確認せずに作業してしまい申し訳ないです:cry:

[2019-03-23 09:48] cstoku commented on #13099
/assign

[2019-03-23 09:49] cstoku commented on #13094
/close

[2019-03-23 09:49] #13094 closed

[2019-03-23 09:56] cstoku commented on #13105
やります
/assign

[2019-03-23 11:36] walterdolce opened #13362 "Issue with k8s.io/docs/reference/command-line-tools-reference/kube-controller-manager/"
**This is a...**
- [x] Bug Report

**Problem:**
Documentation does not mention the `--address` parameter, yet the `kube-controller-manager` process running specifies it.

[code]

PS: local cluster setup is based on [this](https://github.com/walterdolce/localkube) which is, in turn, based on [the original blog post on the Kubernetes blog](https://kubernetes.io/blog/2019/03/15/kubernetes-setup-using

[2019-03-23 11:41] rlenferink commented on #12959
This has been solved and is deployed

/close

[2019-03-23 11:41] #12959 closed

[2019-03-23 11:54] DanyC97 commented on #11208
hi @nsvijay04b1 , thank you for raising the issue. Since v1.10 docs version is no longer maintained and since soon we'll move to 1.14 i'm going to close this issue.

Should you find any problem with the upgrade process from 1.13 -> 1.14 then please open a new issue.

[2019-03-23 11:54] DanyC97 commented on #11208
/close

[2019-03-23 11:54] #11208 closed

[2019-03-23 11:55] DanyC97 commented on #13346
@bagoole thank you for raising the issue, could you please add a description on what the issue is ?

[2019-03-23 19:12] cstoku commented on #13102
/close

[2019-03-23 19:12] #13102 closed

[2019-03-23 19:12] cstoku commented on #13104
/close

[2019-03-23 19:12] #13104 closed

[2019-03-23 19:14] rlenferink commented on #13347
Hi @moluzhui welcome to k8s docs!

I'm using 16.04.4 LTS and everything is OK when executing the command above:
[code]

Do you have some more details on the problem?

[2019-03-24 05:41] inductor commented on #13080
Will do.

[2019-03-24 05:41] inductor commented on #13080
/assin

[2019-03-24 05:41] inductor commented on #13080
/assign

[2019-03-24 12:12] sjmudd opened #13369 "Improvement for k8s.io/docs/concepts/extend-kubernetes/api-extension/custom-resources/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

I was looking at https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/custom-resources/ from the point of view of moving external systems into a state that looks more like kubernetes and it seems that part of the process of moving in that direction would be to make access to this external system look similar to

[2019-03-24 12:14] yukinagae commented on #13080
`/assign` はメンバー権限以上じゃないと使えないらしいです（すでに試して駄目でした笑）
https://github.com/kubernetes/website/issues/13099#issuecomment-475853458

[2019-03-24 13:14] inductor commented on #13080
@cstoku done

[2019-03-24 14:32] cstoku commented on #13080
/close

[2019-03-24 14:32] #13080 closed

[2019-03-24 18:34] Dabbeeru opened #13370 "Issue with k8s.io/docs/tasks/tools/install-kubectl/"
**This is a...**

- [x] Feature Request
- [x] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-03-24 18:37] Dabbeeru commented on #13370
-bash: /etc/bash_completion.d/kubectl: Permission denied
--

can you please help me on this error

[2019-03-25 02:44] SupriyaSirbi commented on #13332
hello oxddr,

I am interested in working on this issue. can i submit the PR for the the same.

Thanks

[2019-03-25 03:19] daminisatya opened #13372 "Update issue template to separate support requests and bug/ feature reports"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
There are a lot of issues which are open for blank support requests. It is good to have a GitHub issue template separate for support, bug, feature requests to make tracking issues easier.

**Proposed Solution:**
Add templates under .github folder.

**Page to Update:**
https://kubernetes.io/...

[2019-03-25 03:20] daminisatya commented on #13372
/assign daminisatya

[2019-03-25 05:35] yoonian opened #13374 "ko: nav-menu is not synced with translation."
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
`Statefulset Basic` in `Stateful Application` is not synchronized with its translation `스테이트풀셋 기본` in left menu navigation.

**Proposed Solution:**
Fix `content/ko/docs/tutorials/_index.md`.
Add `content/ko/docs/tutorials/stateful-application/_index.md`.

**Page to Update:**
https://kubernetes.io/ko/docs/tutorials/

[2019-03-25 05:48] gochist commented on #13374
/language ko

[2019-03-25 10:21] MasayaAoyama commented on #13086
/assign TSUDA-Kyosuke

[2019-03-25 10:27] sakajunquality opened #13377 "Translate /docs/concepts/workloads/pods/pod-lifecycle/ in Japanese"
# Translate /docs/concepts/workloads/pods/pod-lifecycle/ in Japanese

**This is a...**

* [x]  Feature Request
* [ ]  Bug Report

**Problem:**
No /docs/concepts/workloads/pods/pod-lifecycle/ in Japanese.

**Proposed Solution:**
Translate /docs/concepts/workloads/pods/pod-lifecycle/ in Japanese.
Copy from en content and Update `/content/en/docs/concepts/workloads/pods/pod-lifecycle.md`.

**Page to

[2019-03-25 10:27] sakajunquality commented on #13377
/language ja

[2019-03-25 10:48] oke-py opened #13378 "Translate concepts/containers/container-environment-variables/ in Japanese"
# Translate concepts/containers/container-environment-variables/ in Japanese

**This is a...**

* [x]  Feature Request
* [ ]  Bug Report

**Problem:**
No concepts/containers/container-environment-variables/ in Japanese.

**Proposed Solution:**
Translate concepts/containers/container-environment-variables/ in Japanese.
Copy from en content and Update `content/ja/docs/concepts/containers/container-e

[2019-03-25 10:48] oke-py commented on #13378
/language ja

[2019-03-25 10:51] kaedemalu opened #13379 "Translate docs/tasks/tools/install-minikube/ in Japanese"
# Translate docs/tasks/tools/install-minikube/ in Japanese

**This is a...**

* [x]  Feature Request
* [ ]  Bug Report

**Problem:**
No docs/tasks/tools/install-minikube/ in Japanese.

**Proposed Solution:**
Translate docs/tasks/tools/install-minikube/ in Japanese.
Copy from en content and Update `website/content/ja/docs/tasks/tools/install-minikube.html`.

**Page to Update:**
https://kubernetes.i

[2019-03-25 10:54] kaedemalu commented on #13379
/language ja

[2019-03-25 10:55] sotoiwa opened #13380 "Translate tasks/run-application/run-single-instance-stateful-application/ in Japanese"
# Translate tasks/run-application/run-single-instance-stateful-application/ in Japanese

**This is a...**

* [x]  Feature Request
* [ ]  Bug Report

**Problem:**
No tasks/run-application/run-single-instance-stateful-application/ in Japanese.

**Proposed Solution:**
Translate tasks/run-application/run-single-instance-stateful-application/ in Japanese.
Copy from en content and Update `content/ja/doc

[2019-03-25 10:58] sotoiwa commented on #13380
/language ja

[2019-03-25 10:59] yukinagae opened #13381 "Translate tasks/debug-application-cluster/get-shell-running-container/ in Japanese"
# Translate tasks/debug-application-cluster/get-shell-running-container/ in Japanese

**This is a...**

* [x]  Feature Request
* [ ]  Bug Report

**Problem:**
No tasks/debug-application-cluster/get-shell-running-container/ in Japanese.

**Proposed Solution:**
Translate tasks/debug-application-cluster/get-shell-running-container/ in Japanese.
Copy from en content and Update `/content/ja/docs/tasks/

[2019-03-25 11:00] cyberblack28 opened #13382 "Translate concepts/overview/working-with-objects/annotations/ in Japanese"
*This is a...**

* [x]  Feature Request
* [ ]  Bug Report

**Problem:**
No /docs/concepts/overview/working-with-objects/annotations/ in Japanese.

**Proposed Solution:**
Translate /docs/concepts/overview/working-with-objects/annotations/ in Japanese.
Copy from en content and Update `/contents/en/docs/concepts/overview/working-with-objects/annotations.md`.

**Page to Update:**
https://kubernetes.io

[2019-03-25 11:01] yukinagae commented on #13381
/language ja

[2019-03-25 11:09] SatoruItaya opened #13383 "Translate tasks/access-application-cluster/service-access-application-cluster/ in Japanese"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
No tasks/access-application-cluster/service-access-application-cluster/ in Japanese

**Proposed Solution:**
Translate tasks/access-application-cluster/service-access-application-cluster/ in Japanese. Copy from en content and Update {{content/en/docs/tasks/access-application-cluster/service-access-application-cluster.md}}.

**Pa

[2019-03-25 11:29] oke-py opened #13384 "Translate concepts/containers/container-lifecycle-hooks/ in Japanese"
# Translate concepts/containers/container-lifecycle-hooks/ in Japanese

**This is a...**

* [x]  Feature Request
* [ ]  Bug Report

**Problem:**
No concepts/containers/container-lifecycle-hooks/ in Japanese.

**Proposed Solution:**
Translate concepts/containers/container-lifecycle-hooks/ in Japanese.
Copy from en content and Update `content/ja/docs/concepts/containers/container-lifecycle-hooks.md`

[2019-03-25 11:29] oke-py commented on #13384
/language ja

[2019-03-25 11:32] progrhyme opened #13385 "Translate concepts/workloads/pods/pod/ in Japanese"
# Translate concepts/workloads/pods/pod/ in Japanese

**This is a...**

* [x]  Feature Request
* [ ]  Bug Report

**Problem:**
No concepts/workloads/pods/pod/ in Japanese.

**Proposed Solution:**
Translate concepts/workloads/pods/pod/ in Japanese.
Copy from en content and Update `docs/concepts/workloads/pods/pod.m`.

**Page to Update:**
https://kubernetes.io/ja/docs/concepts/workloads/pods/pod/

[2019-03-25 11:32] progrhyme opened #13386 "Translate concepts/workloads/pods/pod/ in Japanese"
# Translate concepts/workloads/pods/pod/ in Japanese

**This is a...**

* [x]  Feature Request
* [ ]  Bug Report

**Problem:**
No concepts/workloads/pods/pod/ in Japanese.

**Proposed Solution:**
Translate concepts/workloads/pods/pod/ in Japanese.
Copy from en content and Update `docs/concepts/workloads/pods/pod.m`.

**Page to Update:**
https://kubernetes.io/ja/docs/concepts/workloads/pods/pod/

[2019-03-25 11:32] progrhyme commented on #13386
/language ja

[2019-03-25 12:05] moluzhui commented on #13347
I am running Ubuntu 16.04 with docker v 18.09.3. I'm a student in China, but I use vpn to install it。
I can download apt-key.gpg by chrome.
So I use xftp transmit it to Ubuntu server and
[code]
But when I apt-get update, the matter is also happened
[code]

[2019-03-25 13:32] hansifer opened #13390 "context is not explicitly defined"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

The concept of `context` is referenced in https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/ before it is defined.

Furthermore, I have not been able to find a definition of it in any of the sections under https://kubernetes.io/docs/concepts/

**Proposed Solution:**

Explicitly define the concept of

[2019-03-25 14:04] OmarLatrach opened #13391 "Issue with k8s.io/docs/concepts/overview/working-with-objects/labels/"
I can't select pods using:
$ kubectl get pods -l 'env in (prod, qa)'
Instead, I get: **error: name cannot be provided when a selector is specified**

[2019-03-25 14:25] skikkh opened #13392 "Translate concepts/workloads/controllers/cron-jobs/ in Japanese"
# Translate concepts/workloads/controllers/cron-jobs/ in Japanese

**This is a...**

* [x]  Feature Request
* [ ]  Bug Report

**Problem:**
No concepts/workloads/controllers/cron-jobs/ in Japanese.

**Proposed Solution:**
Translate concepts/workloads/controllers/cron-jobs/ in Japanese.
Copy from en content and Update `content/ja/docs/concepts/workloads/controllers/cron-jobs.md`.

**Page to Update:

[2019-03-25 14:26] skikkh commented on #13392
/language ja

[2019-03-25 14:54] ymmt2005 opened #13394 "API reference wrongly displays `extensions/PodSecurityPolicy` as new and `policy/PodSecurityPolicy` as old"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

`PodSecurityPolicy` was moved from `extensions` API group to `policy`.
However, API reference document wrongly displays `policy/v1beta1 PodSecurityPolicy` in "OLD API VERSIONS" section:
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.13/

Moreover, deprecation warning for `extensions/v1beta1 PodSecurityPolicy`

[2019-03-25 14:58] silverskyvicto opened #13395 "Translate /docs/contribute/_index.md in Japanese"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
No /docs/contribute/_index.md in Japanese.

**Proposed Solution:**
Translate /docs/contribute/_index.md in Japanese.
Copy from en content and Update `/content/en/docs/contribute/_index.md`.

**Page to Update:**
https://kubernetes.io/ja/docs/contribute/_index.md

[2019-03-25 14:58] silverskyvicto commented on #13395
/language ja

[2019-03-25 15:18] jimangel opened #13396 "Tracking issues with generating reference docs v1.14"
Opening up this issue tracking the problems generating for v1.14: https://kubernetes.io/docs/contribute/generate-ref-docs/

Federation docs, these might not even be needed, but they generated nothing new (except undoing the relative link work):
https://kubernetes.io/docs/contribute/generate-ref-docs/federation-api/
https://github.com/kubernetes/website/pull/13363

kubectl, API, and components are

[2019-03-25 19:01] alice-sawatzky commented on #6039
the documentation still does not make it clear what all falls under the scope of this limit. are container logs counted? emptyDirs? presumably the writable layer of the container, but again this is not made explicit. The docs in their current state only describe what's _stored on_ ephemeral storage, not what's subject to the limit's control.

[2019-03-25 19:16] cstoku commented on #13107
/close

[2019-03-25 19:16] #13107 closed

[2019-03-25 19:23] cstoku commented on #13382
/language ja

[2019-03-25 19:24] cstoku commented on #13383
/language ja

[2019-03-25 19:24] cstoku commented on #13385
/language ja

[2019-03-25 19:27] cstoku commented on #13106
/close

[2019-03-25 19:27] #13106 closed

[2019-03-25 19:28] cstoku commented on #13385
/triage duplicate

[2019-03-25 19:28] cstoku commented on #13385
/close

[2019-03-25 19:28] #13385 closed

[2019-03-25 19:33] raotkind commented on #13323
نعم يمكنني

[2019-03-25 20:15] msau42 opened #13401 "Add a tasks page for snapshots"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
Similar to https://kubernetes.io/docs/tasks/administer-cluster/storage-object-in-use-protection/, we should add a how-to page with an example on how a K8s user can take/restore a snapshot.  We can link to it from the snapshots concepts page.

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-03-25 20:16] msau42 commented on #13401
/assign @xing-yang
@kubernetes/sig-storage-misc

[2019-03-25 20:16] neolit123 commented on #13347
@moluzhui
hello, unfortunately installing behind a firewall is not supported and we don't have docs for that, but you can still download your prefered DEB packages.

you can use a proxy like so for apt-get update:
https://askubuntu.com/a/347890

----

also packages can be downloaded directly. here you can find the list:
https://packages.cloud.google.com/apt/dists/kubernetes-xenial/main/binary-amd6

[2019-03-25 22:06] #12925 closed

[2019-03-26 01:19] progrhyme commented on #13385
Thanks. I did not noticed I created double issues 😞 #13386

[2019-03-26 02:42] zacharysarah opened #13412 "Mobile CSS enforces minimum 1200px width"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**

The blog CSS [enforces a minimum width of 1200px](https://github.com/kubernetes/website/blob/master/static/css/blog.css#L326) for blog posts, with an obvious negative impact for mobile users.

**Proposed Solution:**

Remove the attribute.

[2019-03-26 02:53] steedzuo opened #13415 "Issue with k8s.io/docs/concepts/architecture/nodes/"
**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.14/#node-v1-core

**Proposed Solution:**
change the link

**Page to Update:**
https://kubernetes.io/...

1.14

[2019-03-26 03:19] zacharysarah commented on #13412
Fixed by #13417, closing.

[2019-03-26 03:19] #13412 closed

[2019-03-26 03:59] kevinsimper commented on #10369
Hi @roychowdhuryrohit-dev

I don't see the page using hyperkit, I think it belongs on the minikube hyperkit documentation 😄 Glad you got it solved!

I think it can be closed

/close

[2019-03-26 03:59] #10369 closed

[2019-03-26 06:07] bronger opened #13419 "Incorrect default for startingDeadlineSeconds"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

On https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/, it says “… and its startingDeadlineSeconds field is not set. The default for this field is 100 seconds.” I doubt the latter.  It contradicts another expression above.  Besides, this default is not mentioned in the API.

**Proposed Solution:**

Remove the

[2019-03-26 06:55] anbugit004 opened #13420 "Issue with kubernetes pods [ feature request - maximum number of pod allocation in a master node]"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
How many pods can be run in kubernetes master nodes in HA Cluster

For example there is 10 node cluster ( 3 master + 7 worker nodes are available)

Can you please tell us the maximum number of pods can assign it to each master nodes

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

kubernetes version 1.10

[2019-03-26 08:24] cstoku commented on #13082
/close

[2019-03-26 08:24] #13082 closed

[2019-03-26 08:32] cstoku commented on #13085
/close

[2019-03-26 08:32] #13085 closed

[2019-03-26 08:32] cstoku commented on #13087
/close

[2019-03-26 08:32] #13087 closed

[2019-03-26 08:33] cstoku commented on #13088
/close

[2019-03-26 08:33] #13088 closed

[2019-03-26 08:34] cstoku commented on #13089
/close

[2019-03-26 08:34] #13089 closed

[2019-03-26 08:34] cstoku commented on #13090
/close

[2019-03-26 08:34] #13090 closed

[2019-03-26 08:35] cstoku commented on #13092
/close

[2019-03-26 08:35] #13092 closed

[2019-03-26 08:36] cstoku commented on #13099
/close

[2019-03-26 08:36] #13099 closed

[2019-03-26 08:36] cstoku commented on #13098
/close

[2019-03-26 08:36] #13098 closed

[2019-03-26 08:37] cstoku commented on #13093
/close

[2019-03-26 08:37] #13093 closed

[2019-03-26 08:37] cstoku commented on #13096
/close

[2019-03-26 08:37] #13096 closed

[2019-03-26 09:51] oke-py opened #13426 "Issue with k8s.io/docs/reference/command-line-tools-reference/kubelet/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The description of options is old. For example, `--rotate-server-certificates` is undocumentd and `--feature-gates` includes deprecated options.

I manually edited the content and created PR #12332 before. At that time, I tried to find out how the contents is generated and concluded necessary changes has been made, but it was w

[2019-03-26 11:34] mohi048 opened #13440 "Hyperlink broken"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
On page - https://kubernetes.io/docs/concepts/overview/working-with-objects/kubernetes-objects/

the spec format for a Deployment object can be found **here**

points to https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.14/#deploymentspec-v1-apps

This url does not works.

**Proposed Solution:**
Fix hyperlink - h

[2019-03-26 11:40] manoj2306 opened #13441 "Joining of nodes to cluster"
i have 3 worker nodes one manager i have joined only 2 worker nodes and forgot to join third one is there any way that i can join my third worker node to cluster environment.

[2019-03-26 13:26] DanyC97 commented on #13396
@jimangel i suspect https://github.com/kubernetes/website/issues/13426 has the same root cause ?

[2019-03-26 13:28] DanyC97 commented on #13346
@bagoole in absence of any response i'm going to close this issue. Please open a new one with a full description as per the github issue template and we'll look into it

[2019-03-26 13:28] DanyC97 commented on #13346
/close

[2019-03-26 13:28] #13346 closed

[2019-03-26 13:30] DanyC97 commented on #13316
@AGtechm i'm going to close this issue as is not related to docs. should you think otherwise please open a new issue with a PR description and the url pointing to the docs which needs to be corrected, thank you

[2019-03-26 13:30] DanyC97 commented on #13316
/close

[2019-03-26 13:30] #13316 closed

[2019-03-26 13:31] DanyC97 commented on #13284
in absence of any response i'm going to close this issue

/close

[2019-03-26 13:31] #13284 closed

[2019-03-26 13:32] DanyC97 commented on #13282
in absence of any response i'm going to close this issue. Should you think otherwise, please open a new issue providing all the info as per github issue template, thank you

/close

[2019-03-26 13:32] #13282 closed

[2019-03-26 13:34] DanyC97 commented on #13289
in absence of any response i'm going to close this issue.
Please open a new PR with all the info as per the github issue template

/close

[2019-03-26 13:34] #13289 closed

[2019-03-26 13:34] DanyC97 commented on #13288
in absence of any response i'm going to close this issue.
Please open a new PR with all the info as per the github issue template

/close

[2019-03-26 13:34] #13288 closed

[2019-03-26 13:34] DanyC97 commented on #13286
in absence of any response i'm going to close this issue.
Please open a new PR with all the info as per the github issue template

/close

[2019-03-26 13:34] #13286 closed

[2019-03-26 13:34] DanyC97 commented on #13285
in absence of any response i'm going to close this issue.
Please open a new PR with all the info as per the github issue template

/close

[2019-03-26 13:34] #13285 closed

[2019-03-26 13:34] DanyC97 commented on #13283
in absence of any response i'm going to close this issue.
Please open a new PR with all the info as per the github issue template

/close

[2019-03-26 13:34] #13283 closed

[2019-03-26 13:38] DanyC97 commented on #13440
@mohi048 thank you for raising the issue.

i think this is all caused by https://github.com/kubernetes/website/issues/13396 which should be fixed shortly

[2019-03-26 13:39] DanyC97 commented on #13061
i'm going to close this issue in absence of any response, PR description

/close

[2019-03-26 13:39] #13061 closed

[2019-03-26 13:42] DanyC97 commented on #10648
there is no problem with accessing the tutorial docs.

/close

[2019-03-26 13:42] #10648 closed

[2019-03-26 13:43] DanyC97 commented on #11560
@Sreelalithavankam which docs page is this issue being seen ?

if there is no issue related to the K8s docs then i'd suggest to seek help on maybe https://discuss.kubernetes.io/

[2019-03-26 13:44] DanyC97 commented on #11560
in absence of any url pointing to the K8s docs i'm going to close this issue

/close

[2019-03-26 13:44] #11560 closed

[2019-03-26 13:45] DanyC97 commented on #11522
@jaredbhatti  was any PR open for this issue ?

[2019-03-26 13:52] DanyC97 commented on #9272
@rdxmb please help me understand what you mean by _use the "new syntax" first_ ? is there any example in the docs you mentioned ?

[2019-03-26 13:55] DanyC97 commented on #10221
is the ask to only copy the code snippet/ innerText and not the file name ?

or is the ask to copy only the file name and exclude the innerText/ code snippet ?

[2019-03-26 14:13] pmcfadden opened #13445 "Link to metrics-server is 404"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
linking to metrics server from https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/ is a 404

**Proposed Solution:**
change the link from core-metrics-pipeline to resource-metrics-pipeline

**Page to Update:**
https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/

[2019-03-26 14:15] gochist opened #13447 "Outdated files in the dev-1.13-ko.9 branch"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
309 files in content/en are changed
24 files in content/ko are outdated

- [x]  _index.html 1 file changed, 1 insertion(+), 1 deletion(-)
- [x]  case-studies/blackrock/index.html 1 file changed, 1 insertion(+), 1 deletion(-)
- [x]  case-studies/pinterest/index.html 1 file changed, 7 insertions(+), 8 deletions(-)
- [x]  docs/con

[2019-03-26 14:19] gochist opened #13448 "Outdated files in the dev-1.14-ko.1 branch"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**
420 files in content/en are changed
30 files in content/ko are outdated

- [x]  _index.html 1 file changed, 1 insertion(+), 1 deletion(-)
- [x]  case-studies/blackrock/index.html 1 file changed, 1 insertion(+), 1 deletion(-)
- [x]  case-studies/pinterest/index.html 1 file changed, 7 insertions(+), 8 deletions(-)
- [x]  docs/con

[2019-03-26 14:19] gochist commented on #13448
/language ko

[2019-03-26 14:32] minac commented on #10221
The ask is to exclude the filename and keep the content.

[2019-03-26 15:04] gochist commented on #13374
@yoonian `dev-1.13-ko.9`과 ` dev-1.14-ko.1`에 각각 PR 부탁드립니다.

[2019-03-26 15:06] enGMzizo opened #13452 "Issue with k8s.io/docs/concepts/overview/working-with-objects/kubernetes-objects/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
[The Kubernetes API Reference](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.14/) url is not working

**Proposed Solution:**
Generate the new Documentation

**Page to Update:**
https://kubernetes.io/docs/concepts/overview/working-with-objects/kubernetes-objects/

[2019-03-26 15:15] Rostity76 opened #13453 "Issue with k8s.io/fr/docs/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-03-26 16:29] rdxmb commented on #9272
@DanyC97

The docs in https://kubernetes.io/docs/concepts/workloads/pods/init-containers/#init-containers-in-use start with the example on version 1.5 - and then below adding 'There is a new syntax in Kubernetes 1.6'

I suggest just to switch the two parts.

[2019-03-26 17:46] unitto1 commented on #12942
The same =( even with xdg-utils in google chrome

[2019-03-26 17:55] vikramsp opened #13458 "Issue with k8s.io/docs/concepts/overview/working-with-objects/kubernetes-objects/"
**This is a...**

- [ ] Feature Request
- [ X] Bug Report

**Problem:**
The links to the spec format for pod and deployment are not working. Clicking on them returns a 404. Here is the culprit line:

**Proposed Solution:**
Correct the links to point to valid pages.

**Page to Update:**
https://kubernetes.io/...

[2019-03-26 18:21] GurpreetH opened #13459 "Issue with getting started with windows"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
Docs on getting started with windows resulting in 404 error.

**Proposed Solution:**
Add back the docs in the newest commit for getting started with windows

**Page to Update:**
https://kubernetes.io/docs/getting-started-guides/windows/

[2019-03-26 19:56] zacharysarah opened #13460 "Typo in the deprecation warning"
**This is a...**
- [ ] Feature Request
- [x] Bug Report

**Problem:**

There's a typo in the deprecation warning:

<img width="1035" alt="Screen Shot 2019-03-26 at 12 49 16 PM" src="https://user-images.githubusercontent.com/3210446/55028789-d7d93a00-4fc5-11e9-839a-36deaaf403d6.png">

**Proposed Solution:**

1. Update the deprecation warning text so that it ends, `"see the "`.
    - Fix this line:

[2019-03-26 21:12] DanyC97 commented on #9272
perfect thank you @rdxmb !
since we are on 1.14 my view would be to drop the old syntax and only use the new one.

@zacharysarah @cody-clark thoughts ?

[2019-03-26 22:04] #13049 closed

[2019-03-27 01:55] tengqm commented on #11522
@DanyC97 We do have a [guide for this](https://kubernetes.io/docs/contribute/intermediate/#blog-issues), however, as you can see, it is there as a guidance for people *who triage and categorize issues*. One improvement I can think of is to copy this notice to the contributor's guidance, e.g.

- https://kubernetes.io/docs/contribute/start/#file-actionable-issues , and
- https://kubernetes.io/docs/c

[2019-03-27 02:55] tengqm commented on #13458
This was caused by API reference not generated. Being fixed. Feel free to reopen if the problem persists.

[2019-03-27 02:55] #13458 closed

[2019-03-27 02:58] tengqm commented on #13452
Fixed by #13442

[2019-03-27 02:58] #13452 closed

[2019-03-27 03:15] tengqm commented on #13419
Sad thing is .... the 100 seconds was hardcoded here: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/cronjob/utils.go#L143

It is hand picked, and sounds like semantically equivalent to a default value.

Feel free to reopen.

[2019-03-27 03:15] tengqm commented on #13415
Fixed.

[2019-03-27 03:15] #13415 closed

[2019-03-27 04:32] yoonian commented on #13374
@gochist 확인 부탁드립니다.

[2019-03-27 05:13] gochist commented on #13374
resolved by #13469 and #13474
/close

[2019-03-27 05:13] #13374 closed

[2019-03-27 05:34] bronger commented on #13419
No – the 100 is the number of failed restarts.  This is hardcoded, but not the default of startingDeadlineSeconds which is nil as far as I can see.

[2019-03-27 06:03] tengqm commented on #13445
Solved.

[2019-03-27 06:03] #13445 closed

[2019-03-27 06:03] #13459 closed

[2019-03-27 06:04] tengqm commented on #13440
Should have been fixed. Closing.

[2019-03-27 06:04] #13440 closed

[2019-03-27 06:07] tengqm commented on #13394
Okay, this was caused by defects in the API generator which is now fixed (https://github.com/kubernetes-incubator/reference-docs/pull/72). Will regenerate the API ref and commit.

[2019-03-27 06:27] tengqm commented on #13370
Probably you need to do `sudo`. Out of doc scope. Closing.

[2019-03-27 06:27] #13370 closed

[2019-03-27 06:30] tengqm commented on #13419
Alright. Reopening.

[2019-03-27 06:32] #13339 closed

[2019-03-27 06:32] #13335 closed

[2019-03-27 06:46] lgarron commented on #2644
/remove-lifecycle stale

[2019-03-27 07:29] #13034 closed

[2019-03-27 07:30] ymmt2005 commented on #13394
Great!  Thank you very much.

[2019-03-27 09:59] DanyC97 commented on #13453
/lang fr

[2019-03-27 10:38] bhuvnesh13396 commented on #13460
Hi @zacharysarah ,
I would like to work on this. I am a newbie to opensource community.

[2019-03-27 12:13] Rajakavitha1 commented on #13441
Hi @manoj2306 !!! Please post your queries on #in-dev channel in slack https://kubernetes.slack.com/messages/C56CDJNCS/

[2019-03-27 12:30] dev1983 opened #13481 "Issue with k8s.io/docs/reference/kubectl/conventions/"
how we can create Daemonset Kind resource ?

**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-03-27 12:34] dev1983 commented on #13481
Also why we are not having a single generator eg: run-pod\v1 with some extra flag which can be any Kind resource as below example will make things easy.

kubectl run --dry-run -o yaml --generator=run-pod-daemonset/v1 apache --image=apache:latest  or
kubectl run --dry-run -o yaml --generator=run-pod/v1 -daemonset/Deployment apache --image=apache:latest

[2019-03-27 12:34] #13481 closed

[2019-03-27 12:47] rajeshdeshpande02 commented on #13419
@bronger @tengqm I will pick this for fixing in the documentation.

[2019-03-27 12:47] #13212 closed

[2019-03-27 13:52] gochist commented on #13447
/close

[2019-03-27 13:52] #13447 closed

[2019-03-27 14:25] #13318 closed

[2019-03-27 14:26] #13038 closed

[2019-03-27 14:30] #13017 closed

[2019-03-27 14:33] tengqm commented on #12891
dup of #12968

[2019-03-27 14:33] #12891 closed

[2019-03-27 14:34] tengqm commented on #12990
dup of #12968

[2019-03-27 14:34] #12990 closed

[2019-03-27 14:35] tengqm commented on #12942
dup of #12968

[2019-03-27 14:35] #12942 closed

[2019-03-27 14:35] #13156 closed

[2019-03-27 14:37] tengqm commented on #13292
dup of #12968

[2019-03-27 14:37] #13292 closed

[2019-03-27 14:37] tengqm commented on #13275
dup of #12968

[2019-03-27 14:37] #13275 closed

[2019-03-27 14:38] tengqm commented on #12811
dup of #12968

[2019-03-27 14:38] #12811 closed

[2019-03-27 19:25] kbhawkey commented on #13314
@jimangel. I played with the rendering of the `note` shortcode in a list. I applied a short term fix to the windows-node setup page.
The CSS is different based upon whether the initial note shortcode markup is on a line by itself. Does not seem to matter about the closing note shortcode. Here are my findings:
- The CSS is `<blockquote><div>`, and the link works
 {{< note >}}The VNI must be set to

[2019-03-27 19:37] Turxy10 opened #13487 "Issue with k8s.io/docs/tutorials/kubernetes-basics/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-03-28 03:36] #13487 closed

[2019-03-28 08:07] rekcah78 commented on #13453
/assign

[2019-03-28 09:10] xichengliudui opened #13497 "Failed to perform cluster upgrade (according to official documentation)"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Errors occurred when upgrading the cluster as follows:
exec:  `kubeadm upgrade apply v1.14.0`
[code]

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-14/

[2019-03-28 09:57] DanyC97 commented on #4072
i've double check and i don't see any problem on latest docs release.

/close

[2019-03-28 09:57] #4072 closed

[2019-03-28 09:59] DanyC97 commented on #2463
@chrislovecnm this issue been open for a while, can you please confirm if there is anything left we can help with ?

[2019-03-28 10:04] DanyC97 commented on #4517
/language en
/sig scheduling

is this something which can fall into https://github.com/kubernetes/website/pull/10702 ?

[2019-03-28 10:05] #13497 closed

[2019-03-28 10:06] xichengliudui commented on #13497
I found the problem. I'm sorry

[2019-03-28 10:09] DanyC97 commented on #2441
/language en

@ChillarAnand in https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro/ we say

please help understand what else do you think we should add in addition to?

[2019-03-28 10:15] DanyC97 commented on #2595
@nikhita @jimangel @zacharysarah anyone of you able to delete the merged branches https://github.com/kubernetes/website/branches/all ? thank you

[2019-03-28 10:17] DanyC97 commented on #1040
/language en

@tengqm is this something you planning on working on ?

[2019-03-28 10:17] DanyC97 commented on #1756
/language en
/sig scheduling

[2019-03-28 10:20] DanyC97 commented on #1461
/language en

[2019-03-28 10:20] DanyC97 commented on #1817
/language en

[2019-03-28 10:20] DanyC97 commented on #1911
related https://github.com/kubernetes/website/issues/1817

[2019-03-28 10:22] DanyC97 commented on #7092
/language en

[2019-03-28 10:24] DanyC97 commented on #3200
@ApsOps few things changed since you open the issue, am i right in saying that is safe to close the issue ? the page you pointed at no longer exist

[2019-03-28 10:24] DanyC97 commented on #3200
/language en

[2019-03-28 10:24] DanyC97 commented on #4503
/language en

[2019-03-28 10:24] DanyC97 commented on #4506
/language en

[2019-03-28 10:27] DanyC97 commented on #4476
/sig multicluster
/language en

@marun @pmorie @steveperry-53 am i right in saying that now with v1 docs being deprecated is safe to close this issue ?

[2019-03-28 10:29] DanyC97 commented on #9523
@todd-dsm @360cloud could you please confirm if this is still happening on latest minikube version?

/sig minikube
/language en

[2019-03-28 10:33] DanyC97 commented on #10432
@jimangel i suspect is safe to close this issue, is that correct?

[2019-03-28 10:34] DanyC97 commented on #9687
@tengqm i very much suspect is safe to close this issue, can you please confirm ?

[2019-03-28 10:35] DanyC97 commented on #9687
/language en

[2019-03-28 10:42] DanyC97 commented on #11954
/language en

there is info in the docs we just need to link it

[2019-03-28 10:45] DanyC97 commented on #11993
thank you @darkdragn for suggestion, we shall try to work on something

/language en

[2019-03-28 10:48] DanyC97 commented on #10917
/language en
@charrywanganthony if this was intentional, am i right assuming is safe to close it ?

[2019-03-28 10:50] DanyC97 commented on #13074
/language en
/assign @DanyC97

[2019-03-28 10:53] DanyC97 commented on #7879
/language en

[2019-03-28 10:56] DanyC97 commented on #12881
@Madhav1217 can you please clarify what is the problem with the docs you mentioned ?

the documentation is not trying to solve / provide any example using a particular configuration management/ infrastructure as a code tool

[2019-03-28 10:56] DanyC97 commented on #11381
/language en

[2019-03-28 10:58] DanyC97 commented on #2268
/language en

[2019-03-28 11:00] DanyC97 commented on #13135
@joninex could you please provide any problem description?

[2019-03-28 11:03] DanyC97 commented on #13323
in absence of a problem description i'm going to close it.
Please open a new issue by following the issue template document

/close

[2019-03-28 11:03] #13323 closed

[2019-03-28 11:10] x8091 opened #13501 "Issue with k8s.io/docs/setup/windows/user-guide-windows-nodes/"
**This is a...**

- [ ] Feature Request
- [ x] Bug Report

**Problem:**
**kube-proxy** component cannot run on Windows node.

Cluster info: 3 nodes, all running v1.14
master-node: Ubuntu 16.04
worker-node01: Ubuntu 16.04
worker-node02: Windows Server 2019 (installed all recent updates)

In addition, there are mistakes in this guide.
In the first part, it says kube-proxy component need to be instal

[2019-03-28 12:23] nikhita commented on #2595
I can, but will leave it to either @zacharysarah or @jimangel to do it since they are more familiar with the website repo. :)

[2019-03-28 14:43] justicezyx commented on #11954
If you have pointers to the docs, and where should they be linked in addition to the reported places, I'll be happy to create a PR.

[2019-03-28 14:49] napcs opened #13502 "Issue with k8s.io/docs/reference/kubectl/docker-cli-to-kubectl/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

The command

[code]
results in a deprecation warning:

[code]

**Proposed Solution:**

Update documentation to recommend the most appropriate Docker equivalent. The previous version suggested it would create a Deployment, but the suggested approach from the deprecation notice seems to indicate it will create a Pod.

**Page to

[2019-03-28 15:11] vsoutherner opened #13506 "Issue with k8s.io/docs/concepts/policy/pod-security-policy/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
During pod creation if a pod is bound to a role granting use of a "default" pod security policy that it will fail under but is also bound to a role whose name is alphabetically after default it will still assign default.

**Proposed Solution:**
change 'selects policies in the following order' to 'selects policies according to t

[2019-03-28 15:33] ApsOps commented on #3200
That's a shame. It was really helpful in understanding what all goes behind the scenes for setting up a cluster.

[2019-03-28 16:08] warmchang commented on #10432
It's been repaired, thanks.
/close

[2019-03-28 16:08] #10432 closed

[2019-03-28 16:33] vic-son opened #13510 "Issue with k8s.io/docs/reference/kubectl/kubectl/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
The "SEE ALSO" links are not working. i.e. https://kubernetes.io/docs/reference/kubectl/kubectl/kubectl_run.md produces a 404 error

**Proposed Solution:**
The links need fixing to point to the correct pages

**Page to Update:**
https://kubernetes.io/docs/reference/kubectl/kubectl/

[2019-03-28 16:45] DanyC97 commented on #11954
will look it up @justicezyx and will be very happy to review your PR. thank you for your help

[2019-03-28 17:22] marun commented on #4476
@DanyC97 Yes, this issue can be closed.

[2019-03-28 17:51] PatrickLang commented on #13501
kube-proxy is needed, but it should be launched directly on the Windows node by the start.ps1 script https://github.com/Microsoft/SDN/blob/ce70380ccb6b71b69efdb313c2192b786cde14cc/Kubernetes/flannel/start.ps1#L67

Can you check the following to help narrow it down?

1. After you run that script, can you run `get-process kube-proxy` and confirm it's running?
2. Log into the Windows node and make su

[2019-03-28 19:30] #10764 closed

[2019-03-28 21:15] zacharysarah commented on #2595
I've deleted some. When https://github.com/kubernetes/test-infra/pull/11984 merges, we can delete more. 😄

[2019-03-28 21:59] hercynium opened #13512 "Fix fsType param name for aws-ebs storage class"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
fsType parameter for aws-ebs storage class is improperly documented - code in k8s requires the parameter name be all lowercase: "fstype"

**Proposed Solution:**
Change instances of this parameter for the aws-ebs storage class to match what k8s recognizes.

**Page to Update:**
https://kubernetes.io/docs/concepts/storage/storage-

[2019-03-28 22:02] zacharysarah commented on #2595
Whether we remove `dev-*` branches is an open question, but all personal and WIP branches are now removed. https://github.com/kubernetes/website/branches/all

/close

[2019-03-28 22:02] #2595 closed

[2019-03-29 01:36] #10766 closed

[2019-03-29 02:41] #12958 closed

[2019-03-29 03:16] #12918 closed

[2019-03-29 03:17] #12897 closed

[2019-03-29 03:18] #12881 closed

[2019-03-29 03:22] #12964 closed

[2019-03-29 03:32] x8091 commented on #13501
Yes, it's running

[code]

Yes, it works
[code]

Here is the log:
[code]

**There are few things to note:**
1. 3 nodes are running on different subnets, but they have L3 connectivity.
2. I created the cluster by using kubeadm.

Thanks.

[2019-03-29 05:54] manyatripathi commented on #13510
I am working on this to fix it

[2019-03-29 08:00] prasann004 opened #13522 "Unable to access external IP from kubernetes cluster (Bare Metal)-1.14"
I am not able to connect my SQLSERVER database from the pods. I tried doing a telnet to
192.*.*.*  1433 and it connected.
logs: A network-related or instance-specific error occurred while establishing a connection to SQL Server. The server was not found or was not accessible. Verify that the instance name is correct and that SQL Server is configured to allow remote connections

[2019-03-29 09:13] anbugit004 commented on #13419
Is anyone have a look and let me know if you have any idea on the below things:

How many pods can be run in kubernetes master nodes in HA Cluster

For example there is 10 node cluster ( 3 master + 7 worker nodes are available)

Can you please tell us the maximum number of pods can assign it to each master nodes

[2019-03-29 10:13] DanyC97 commented on #12952
/language en

[2019-03-29 10:14] DanyC97 commented on #13512
/language en

thank you for sending a PR @hercynium 💯

[2019-03-29 10:16] DanyC97 commented on #13502
thank you for raising the issue @napcs .

this issue fits under the umbrella of https://github.com/kubernetes/website/issues/12090 which is a wider effort where it touch on the docs as well as the code

[2019-03-29 10:17] DanyC97 commented on #4476
thank you @marun for quick response, much appreciated !
/close

[2019-03-29 10:17] #4476 closed

[2019-03-29 10:32] neolit123 commented on #13501
kubeadm is not supported yet officially with the Windows GA containers release, but let me know if you find any problems related to the tool: https://github.com/kubernetes/kubeadm/issues/1393

having a quick look at the issue, i'm not even sure how `kubeadm join` passes on the Windows worker node.

can you show the output of the `kubeadm join -v=4 ....` command?
are you even using `kubeadm join` t

[2019-03-29 11:00] daixiang0 opened #13528 "Fix wrong content"
Bug Report

**Problem:**
![image](https://user-images.githubusercontent.com/26538619/55228120-50552a80-5254-11e9-80a6-b427c362d3e2.png)

**Proposed Solution:**
it should be
[code]

**Page to Update:**
https://k8smeetup.github.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/

I want to update it but do not know how to,

When i click `Edit this page`, jump to https://k8smee

[2019-03-29 11:05] x8091 commented on #13501
@neolit123 : I didn't use `kubeadm join` command. As you can see in the document, to join Windows node we use a PowerShell script, here is the detail:
`.\start.ps1 -ManagementIP 10.10.1.242 -NetworkMode overlay  -ClusterCIDR 10.244.0.0/16 -ServiceCIDR 10.96.0.0/12 -KubeDnsServiceIP 10.96.0.10 -LogDir C:\k -KubeletFeatureGates "WinOverlay=true"`

Note that on master node, it already see Windows nod

[2019-03-29 11:41] neolit123 commented on #13501
if you are creating the control plane node with kubeadm, but then you want to join a worker node to the same cluster without `kubeadm join` it will probably fail boostrapping the worker properly.

https://kubernetes.io/docs/reference/setup-tools/kubeadm/implementation-details/#configure-tls-bootstrapping-for-node-joining

kubeadm uses BoostrapTokens:
https://kubernetes.io/docs/reference/access-aut

[2019-03-29 12:34] nikhita commented on #2595
@DanyC97 Thanks for circling back on this btw :)

[2019-03-29 14:52] skikkh opened #13532 "Translate tasks/job/ in Japanese"
# Translate tasks/job/ in Japanese

**This is a...**

* [x]  Feature Request
* [ ]  Bug Report

**Problem:**
No tasks/job/ in Japanese.

**Proposed Solution:**
Translate tasks/job/ in Japanese.
Copy from en content and Update `content/ja/docs/tasks/job/automated-tasks-with-cron-jobs.md`.

**Page to Update:**
https://kubernetes.io/ja/docs/tasks/job/automated-tasks-with-cron-jobs/

[2019-03-29 14:55] skikkh commented on #13532
/language ja

[2019-03-29 15:48] oussemos commented on #13528
it's correct on the official docs website https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/#use-a-named-port

https://k8smeetup.github.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/ is a fork (managed here https://github.com/k8smeetup/k8smeetup.github.io)

[2019-03-29 15:48] oussemos commented on #13528
/close

[2019-03-29 15:48] #13528 closed

[2019-03-29 16:19] hercynium commented on #13512
Take a look at the comment I left on the PR - turns out the docs are correct for k8s 1.14 because the case-sensitivity bug was fixed. But it's still wrong for all prior versions of k8s. The patch would make it correct for all versions... I'm not sure what you might want to do in this case, just letting you know FYI.

[2019-03-29 17:07] x8091 commented on #13501
Your explanation makes sense to me. Seems like to join Windows node we have to use either AKS or GCE right?

[2019-03-29 17:11] neolit123 commented on #13501
or any "bootrapper" that currently works with Windows nodes.

as far as i know kube-up also supports that, but the tool is deprecated:
https://github.com/kubernetes/kubernetes/blob/8dd09e0b36d510ddbedb6da446a47e2ffa86c4a4/cluster/gce/windows/README-GCE-Windows-kube-up.md

[2019-03-29 17:13] x8091 commented on #13501
Thank you very much for the information.
I will try and update here if anything come up.
Regards

[2019-03-29 17:55] anderkonzen opened #13534 "Issue with k8s.io/docs/concepts/storage/volumes/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Documentation for **awsElasticBlockStore** volumes states that a previously EBS volume should be in place, and gives an example of `aws` command to do so. The problem I found is that when creating a pod that mounts to the EBS volume created with the suggested command, I get errors regarding attaching to the volume - see [this s

[2019-03-29 18:47] rjmco opened #13535 "`runAsGroup` is referenced on explanation but is missing from code example"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
[security-context.md](https://github.com/kubernetes/website/blob/master/content/en/docs/tasks/configure-pod-container/security-context.md) references a `runAsGroup` parameter which was supposed to exist on the [security-context.yaml](https://github.com/kubernetes/website/blob/master/content/en/examples/pods/security/security-co

[2019-03-29 19:08] Sai-Adarsh commented on #8843
Still a bug? shall I work on this? @idealhack

[2019-03-29 23:33] rjmco commented on #13535
/assign

[2019-03-30 04:35] idealhack commented on #8843
@Sai-Adarsh I believe so, feel free to take it :)

[2019-03-30 11:56] KaranKhirsariya commented on #13324
Duplicate of #13138

[2019-03-30 16:14] #10756 closed

[2019-03-30 17:53] yggdrasildy opened #13544 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
Run tutorial on my iPad. Was not Able to fill in the questionaire at the end: could not scroll past først question.

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-03-31 00:22] #10801 closed

[2019-03-31 01:11] moltar opened #13546 "Missing "Manifest" from glossary k8s.io/docs/reference/glossary/"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**

Glossary is missing the term "Manifest".

I am not 100% sure if this is a core term, but I do see it used a lot.

**Proposed Solution:**

Add "Manifest" as a glossary term.

**Page to Update:**
https://kubernetes.io/docs/reference/glossary/

[2019-03-31 01:26] moltar commented on #13546
Usage examples:

 * Process the directory used in `-f`, `--filename` recursively. Useful when you want to manage related manifests organized within the same directory.

 * `kubectl apply --prune -f manifest.yaml -l app=nginx`

 * For instance, assume there is a directory project/k8s/development that holds all of the manifests needed for the development environment, organized by resource type. ([so

[2019-03-31 12:18] #12952 closed

[2019-04-01 09:08] prasann004 commented on #13522
Restarted the nodes and used weaver instead of calico. Things started to work

[2019-04-01 09:10] #13522 closed

[2019-04-01 09:14] doog33k commented on #13535
Thanks @rjmco for this bug report, I was wondering If I should create a bug for this ? :+1:

[2019-04-01 09:29] rjmco commented on #13535
@doog33k I'm not sure if I will be able to answer your question, but from my point of view I thought this issue was considered already a _bug report_ on the website's content. If on the other hand you mean a _bug report_ on Kubernetes' codebase then I don't think that is required.

Finally, I've already created PR #13538 where I've submitted a possible fix to this issue/bug on the website's conten

[2019-04-01 10:45] redgra0315 opened #13554 "Issue with k8s.io/docs/home/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-04-01 15:32] jimangel opened #13555 "Add documentation snip about PLEG"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
I recently came across this kubelet error: ` skipping pod synchronization - [PLEG is not healthy: pleg was last seen active 6m11.84971921s ago; threshold is 3m0s]` and it was the first time I've **ever** heard of "PLEG" (Pod Lifecycle Event Generator) in my k8s journey.

After searching, I found an [issue](https://github.com/ku

[2019-04-01 15:33] rolandovera opened #13556 "Issue with k8s.io/docs/tutorials/kubernetes-basics/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-04-01 16:00] #10420 closed

[2019-04-01 19:05] kbhawkey commented on #12769
@bep, can we close this issue? Thanks!

[2019-04-01 19:31] cirilodelaguti opened #13559 "Issue with k8s.io/docs/reference/kubectl/kubectl/"
**This is a...**

- [ ] Feature Request
- [X] Bug Report

**Problem:**
All the links in page https://kubernetes.io/docs/reference/kubectl/kubectl/ get an error 404

**Proposed Solution:**
Update links with proper URL

**Page to Update:**
https://kubernetes.io/docs/reference/kubectl/kubectl/

This is an issue with documentation

[2019-04-01 22:07] #1421 closed

[2019-04-02 00:53] panpan0000 opened #13563 "Issue with k8s.io/docs/tasks/configure-pod-container/share-process-namespace/"
**This is a...

- [x] Bug Report

**Problem:**
`shareProcessNamespace`  in the document states: `Your Kubernetes server must be at or later than version v1.10. `
But `shareProcessNamespace` is not supported in 1.10.11  and OpenShift v1.11.0+d4cacc0.
either of 1.10.11 or 1.11.0 is working, but I tried v1.13, it works.

My proves:
1. exactly following https://kubernetes.io/docs/tasks/configure-pod-c

[2019-04-02 04:17] lapee79 opened #13564 "Translate tasks/access-application-cluster/access-cluster in Korean"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
No Translate tasks/access-application-cluster/access-cluster in Korean

**Proposed Solution:**
Translate tasks/access-application-cluster/access-cluster in Korean

**Page to Update:**
https://kubernetes.io/docs/tasks/access-application-cluster/access-cluster/

[2019-04-02 04:17] lapee79 commented on #13564
/language ko
/assign

[2019-04-02 07:32] serdec opened #13566 "Issue with k8s.io/docs/tutorials/stateful-application/cassandra/"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
When trying to connect to Cassandra, the datastax driver launches a warning saying that it cannot reach the Cassandra nodes and therefore create the pool.
This is because the Cassandra cluster is made of nodes (kubernetes pods) with private IPs, hence every connection from outside the cluster is not able to create the pool (it

[2019-04-02 09:30] ofnuts opened #13569 "Issue with k8s.io/docs/reference/kubectl/kubectl/"
**This is a...**

- [ ] Feature Request
- [x ] Bug Report

**Problem:**
All "see also" links point to markdown files (which furthermore don't exist)

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-04-02 12:55] ariamore opened #13571 "Minikube stop FAILS"
I've a problem when I try to stop minikube. I run the command (on Powershell, using Windows 10):
$ minikube stop
and the machine remains in a "pending" state for several time, like the image below

![Cattura](https://user-images.githubusercontent.com/46370083/55403793-e6d86300-5556-11e9-9e30-bb07debd519f.PNG)

I've got the same result if I check the status of minikube on Hyper (I'm using this virt

[2019-04-02 13:59] daminisatya commented on #4322
/assign @daminisatya

[2019-04-02 14:15] Vadim-Zenin opened #13573 "Issue with search in particular k8s version"
**This is a...**

- [x] Feature Request

**Problem:**
Impossible to search in particular k8s version.

### How to reproduce:
Open https://kubernetes.io/docs/home/ ;
Navigate to v1.11 (Top right);
Click on some topic, "Service discovery and load balancing" for example;
Copy and past "readinessProbe:" to search field and press Enter;
On Search Result confirm that you on v1.11 version (top right);
Cl

[2019-04-02 15:02] #13372 closed

[2019-04-02 15:09] manelio opened #13574 "Broken link to "from scratch" in Picking the Right Solution page"
In [Picking the Right Solution](https://kubernetes.io/docs/setup/pick-right-solution/) there's a broken link to [https://kubernetes.io/docs/setup/scratch/](https://kubernetes.io/docs/setup/scratch/).

It looks like this content has been removed because it's outdated. Is there any up-to-date document with information about how to create a Kubernetes cluster from scratch? I think it's the best way o

[2019-04-02 15:42] seokho-son opened #13576 "No Korean translation for docs/contribute/generate-ref-docs/ in Korean"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
No Korean translation for
https://kubernetes.io/docs/contribute/generate-ref-docs/

**Proposed Solution:**
Translate the page in Korean.

1) Copy _index.md file in content/en/docs/contribute/generate-ref-docs/ to content/ko/docs/contribute/generate-ref-docs/
2) Translate English contents in the _index.md file in Korean

3) Make

[2019-04-02 17:24] cody-clark opened #13577 "Clean up install-kubectl page"
**Problem:**
This page is kind of a mess. Since each method of installation is a the same heading level as the Configuring section, it's easy to overlook. **PR in progress**

**Proposed Solution:**
1. Group installation methods by OS
2. Make OS types h2s and their methods h3s to clean up the toc and provide better hierarchical differentiation
3. Add heading to make clear that kubectl autocompletio

[2019-04-02 18:25] #13559 closed

[2019-04-02 18:25] #13569 closed

[2019-04-02 19:12] kbhawkey commented on #13314
@jimangel, upon further investigation 😃,
I believe this explains the note rendering:
1) In the case where the note shortcode opening tag is on a single line:
{{< note >}}
The VNI must be set to 4096 and port 4789 for Flannel ...
{{< /note >}}

We define a note shortcode which adds the `Note**` prefix followed by *all* of the text (.Inner) between the shortcode note markup. The text is then process

[2019-04-02 19:16] gzhangszmk opened #13581 "Issue with k8s.io/docs/tutorials/kubernetes-basics/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-04-02 20:04] Shappenny opened #13582 "Issue with k8s.io/docs/concepts/configuration/secret/#security-properties"
**This is a Bug Report**

**Problem:**
The documentation under the [Protections](https://kubernetes.io/docs/concepts/configuration/secret/#protections) heading states "A secret is only sent to a node if a pod on that node requires it." However, the documentation under the [Risks](https://kubernetes.io/docs/concepts/configuration/secret/#risks) heading states "It is a planned feature to only send s

[2019-04-02 20:46] tstromberg commented on #13571
Dupe of https://github.com/kubernetes/minikube/issues/2914

[2019-04-02 21:27] ahmetb opened #13583 "Delete kubernetes.github.io site"
It still seems like there's a website out there called https://kubernetes.github.io/ingress-nginx/user-guide/multiple-ingress/ serving very old content.

Can we please wipe this site out?

[2019-04-02 21:48] ahmetb commented on #13583
My bad, it's coming from github.com/kubernetes/nginx-ingress repo! It really looked like kubernetes documentation.

Looks like nginx-ingress repo hosts its own documentation site. Feel  free to close.

[2019-04-03 00:09] cmanania opened #13585 "Issue with k8s.io/docs/setup/independent/high-availability/"
**This is a Bug Report**

**Problem:**
I followed these directions to setup an ECTD HA cluster, using CoreOS, but the ETCD cluster will not start. What am I doing wrong? I am using CoreOS and all the commands worked except for the last one checking the cluster health. Please help

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-04-03 01:02] neolit123 commented on #13585
are you getting any errors. also what version of kubeadm / kubernetes are you using?
/priority awaiting-more-evidence

[2019-04-03 08:19] Avik1993 opened #13589 "Issue with k8s.io/docs/tutorials/stateful-application/cassandra/: No Cqlsh environment"
**This is a Bug Report**

**Problem:**
There's no cqlsh environment in pods part of Cassandra STS.
How do we proceed in case we need to create some keyspace in Cassandra STS?

**Proposed Solution:**
Either to have cqlsh inside the container or have official Cassandra client pod, that can be used to execute cql commands or scripts

**Page to Update:**
https://kubernetes.io/...

1.13

[2019-04-03 13:10] cmanania commented on #13585
Thank you for responding

Kubeadm/K8 = v1.14.0
ETCD_TAG = v3.3.10

Error:
core@k8-etcd00 ~ $ docker run --rm -it \

cluster may be unhealthy: failed to list members
Error:  client: etcd cluster is unavailable or misconfigured; error #0: dial tcp 10.140.26.2:2379: connect: connection refused

error #0: dial tcp 10.140.26.2:2379: connect: connection refused

Environment:

  *   3 CoreOS VMs running

[2019-04-03 13:45] #8403 closed

[2019-04-03 14:00] Guaris commented on #13555
I would like to take this.

[2019-04-03 14:40] jimangel commented on #13555
Great! It's all you @Guaris!

I can't assign you to the issue since you're not a Kubernetes org [member](https://github.com/kubernetes/community/blob/master/community-membership.md#requirements), but that doesn't stop you from submitting the PR!

[2019-04-03 16:29] rlenferink commented on #13510
Just noticed this issue existed as well.
Thanks for noticing 🎉

This is fixed in https://github.com/kubernetes/website/pull/13579

[2019-04-03 16:29] rlenferink commented on #13510
/close

[2019-04-03 16:29] #13510 closed

[2019-04-03 16:32] rlenferink commented on #13583
Thanks for noticing and clarifying 🎉
I'll close this one as it is correct behavior.

/close

[2019-04-03 16:32] #13583 closed

[2019-04-03 17:49] nikoren opened #13597 "Issue with k8s.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-14/"
**This is a Bug Report**

When I run `kubeadm upgrade plan` the kubeadm doesn't list the containers that need to be updated:
[code]

**Proposed Solution:**
- This can be resolved by specifying the version:
[code]
- Docs should be updated and specify that version should be provided or make the version mandatory field

**Page to Update:**
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/k

[2019-04-03 19:52] DanyC97 commented on #13581
@gzhangszmk you mind adding a description so we can understand what the problem might be ?

[2019-04-03 22:10] neolit123 commented on #13597
tracking issue:
https://github.com/kubernetes/kubeadm/issues/1469

fix should be available in 1.14.1
thanks for the report.

/close

[2019-04-03 22:10] #13597 closed

[2019-04-04 04:02] faizurrahmann commented on #6880
Hi tengqm,
Its worked for me well. Thank You.

But want to know what was exactly different with the below commands

$ sudo apt-add-repository "deb http://apt.kubernetes.io/ kubernetes-xenial main"
$ sudo apt install kubeadm

[2019-04-04 06:05] vijayakumarnarayana opened #13604 "Issue with k8s.io/docs/contribute/start/"
**This is a Bug Report**

**Problem:**
Unable to take local Persistent volume backup (Snapshot).

**Proposed Solution:**
please provide a solution

**Page to Update:**
https://kubernetes.io/...

[2019-04-04 07:57] qwerty8585 opened #13607 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
Console doesn't work for Chrome 73.0.3683.86 on Mac OS.

[2019-04-04 09:24] qwerty8585 commented on #13607
Problem in my country FireWall.

[2019-04-04 09:24] #13607 closed

[2019-04-04 14:22] mrandi opened #13611 "Improvement for k8s.io/docs/concepts/workloads/"
Please describe what are workloads and if are a real resource or just a concept.

[2019-04-04 14:56] vkoloupaev opened #13612 "Issue with k8s.io/docs/home/"
**This is a Bug Report**

I am studying Kubernetes.  I am doing the labs from LFS258-labs_V2019-02-19.pdf. I have the problem with 3.1. LABS Step 10.
kubeadm init --kubernetes-version 1.13.1 --pod-network-cidr 192.168.0.0/16 | tee kubeadm-init.out

**Problem:**
root@ubuntu:~# kubeadm init --kubernetes-version 1.13.1 --pod-network-cidr 192.168.0.0/16 | tee kubeadm-init.out
[init] Using Kubernetes v

[2019-04-04 15:53] neolit123 commented on #13612
/sig cluster-lifecycle
/priority awaiting-more-evidence

please show logs from the kubelet using `journalctl -xeu kubelet` right after it fails.
also try running kubeadm with `--v=2`

[2019-04-04 16:21] vkoloupaev commented on #13612
Hi Lubomir,

I am sending you the output of “journalctl -xeu kubelet” command  and the output of “kubeadm init --kubernetes-version 2 --pod-network-cidr 192.168.0.0/16 | tee kubeadm-init.out”.
Could you please let me know how this issue can be resolved?

Thanks,
Victor

root@ubuntu:~# journalctl -xeu kubelet
Apr 04 14:25:13 ubuntu kubelet[15169]: E0404 14:25:13.208078   15169 kubelet.go:2266] node

[2019-04-04 16:28] neolit123 commented on #13612
you need to use something like `--kubernetes-version=1.13.1`
try sending the logs again after that.

[2019-04-04 16:34] vkoloupaev commented on #13612
Hi Lubomir,

I have only this version.
Could you please let me know what can I do in this case?

Thanks,
Victor

root@ubuntu:~# kubectl version
Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.1", GitCommit:"eec55b9ba98609a46fee712359c7b5b365bdd920", GitTreeState:"clean", BuildDate:"2018-12-13T10:39:04Z", GoVersion:"go1.11.2", Compiler:"gc", Platform:"linux/amd64"}
The connect

[2019-04-04 16:36] neolit123 commented on #13612
`kubeadm init --kubernetes-version 2 ...`
is not a valid command
try:
`kubeadm init --kubernetes-version 1.13.1 ...`

[2019-04-04 16:38] vkoloupaev commented on #13612
Hi Lubomir,

Would you like me to run “kubeadm init --kubernetes-version 1.13.1 --pod-network-cidr 192.168.0.0/16 | tee kubeadm-init.out” again?

Thanks,
Victor

From: Lubomir I. Ivanov <notifications@github.com>
Sent: Thursday, April 4, 2019 12:36 PM
To: kubernetes/website <website@noreply.github.com>
Cc: Koloupaev, Victor <victor.koloupaev@ehealthontario.on.ca>; Author <author@noreply.github.com

[2019-04-04 16:39] neolit123 commented on #13612
yes, exactly.

[2019-04-04 16:39] neolit123 commented on #13612
also add `--v=2` to the command line.

[2019-04-04 16:41] #8675 closed

[2019-04-04 16:48] vkoloupaev commented on #13612
Should I run this command?

kubeadm init --kubernetes-version 1.13.1 --pod-network-cidr 192.168.0.0/16 | tee kubeadm-init.out --v=2

From: Lubomir I. Ivanov <notifications@github.com>
Sent: Thursday, April 4, 2019 12:40 PM
To: kubernetes/website <website@noreply.github.com>
Cc: Koloupaev, Victor <victor.koloupaev@ehealthontario.on.ca>; Author <author@noreply.github.com>
Subject: Re: [kubernetes/we

[2019-04-04 16:58] neolit123 commented on #13612
try
[code]

where is the CIDR value coming from?
192.168.0.0/16

[2019-04-04 16:58] vkoloupaev commented on #13612
Hi Lubomir,

I run two commands.

root@ubuntu:~# kubeadm init --kubernetes-version 1.13.1 --pod-network-cidr 192.168.0.0/16 | tee kubeadm-init.out
[init] Using Kubernetes version: v1.13.1
[preflight] Running pre-flight checks
[preflight] Pulling images required for setting up a Kubernetes cluster
[preflight] This might take a minute or two, depending on the speed of your internet connection
[prefl

[2019-04-04 17:00] neolit123 commented on #13612
[code]

[2019-04-04 17:18] vkoloupaev commented on #13612
Hi Lubomir,

I am sending you the output.

Regards,
Victor

root@ubuntu:~# kubeadm init --kubernetes-version 1.13.1 --pod-network-cidr 192.168.0.0/16 --v=2 | tee kubeadm-init.out
I0404 17:06:29.030877   11560 feature_gate.go:206] feature gates: &{map[]}
[init] Using Kubernetes version: v1.13.1
[preflight] Running pre-flight checks
I0404 17:06:29.031486   11560 checks.go:572] validating Kubernetes

[2019-04-04 17:23] neolit123 commented on #13612
1) try removing `--pod-network-cidr 192.168.0.0/16` from the command kubeadm command.

these are NOT official documents on how to run kubeadm i don't know what that is.
try here:
https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/

[2019-04-04 17:27] vkoloupaev commented on #13612
Could you please send me the command to do it?

From: Lubomir I. Ivanov <notifications@github.com>
Sent: Thursday, April 4, 2019 1:24 PM
To: kubernetes/website <website@noreply.github.com>
Cc: Koloupaev, Victor <victor.koloupaev@ehealthontario.on.ca>; Author <author@noreply.github.com>
Subject: Re: [kubernetes/website] Issue with k8s.io/docs/home/ (#13612)

I am sending you the output.

  1.  try

[2019-04-04 17:28] neolit123 commented on #13612
here is the command:

@vkoloupaev

this is issue tracker is not a support forum.
try stack overflow / slack or some of our support channels:
https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#user-support-response-example

thank you.
/close

[2019-04-04 17:28] #13612 closed

[2019-04-04 17:55] #13574 closed

[2019-04-04 18:40] fejta opened #13615 ".github/ISSUE_TEMPLATE/bug-report.md has an invalid yaml"
https://raw.githubusercontent.com/kubernetes/website/master/.github/ISSUE_TEMPLATE/bug-report.md

has a
[code]

document, however the labels should be a list of strings, not a string (aka `labels: ["kind/bug"]`)

[code]

/assign @zacharysarah @mistyhacks @daminisatya

[2019-04-04 19:40] shashank0202 opened #13616 "fix type in intermediate contributor page"
Fetch both the upstream and origin branches (remote)

[2019-04-04 20:05] #13616 closed

[2019-04-04 20:07] shashank0202 opened #13618 "Typo in home page heading kubernetes.io"
binpacking should be bin packing

[2019-04-04 20:49] shashank0202 opened #13621 "typo in docs/concepts/services-networking/service/"
typo in page : https://kubernetes.io/docs/concepts/services-networking/service/

“80.11.12.10:80””  should be “80.11.12.10:80”

[2019-04-04 21:22] #13618 closed

[2019-04-04 21:22] #13621 closed

[2019-04-04 21:23] shashank0202 opened #13623 "Typo in /docs/concepts/cluster-administration/cloud-providers/"
typo in /docs/concepts/cluster-administration/cloud-providers/

[2019-04-04 21:42] #13623 closed

[2019-04-04 21:43] shashank0202 opened #13625 "typo in style-guide"
typo in style-guide

[2019-04-04 22:20] shashank0202 opened #13627 "typo in /docs/concepts/containers/images/"
typo in /docs/concepts/containers/images/

[2019-04-04 23:56] zhangqx2010 opened #13629 "Issue with k8s.io/docs/contribute/start/"
**This is a Bug Report**

**Problem:** The steps of `Submit a pull request` section described in the topic is not precise.

[code]
The step 1, after click on the pencil on top right(which is top left actually. I submitted a small patch for this #13610), the new page is just the github edit page which will create a new branch in your fork .
And the step 2 says `Click the first blue button, which ha

[2019-04-04 23:58] zhangqx2010 commented on #13629
If that make sense, I will create a PR to fix it.

[2019-04-05 01:39] mysticaltech opened #13630 "Subscribing to the newsletter opens tons of spam popups"
**What happened**:

While visiting https://kubernetes.io, I decided to subscribe to the newsletter, using the subscription field at the bottom. All good.

It took me to the typical Mailchimp list-manage.com page to confirm subscription. All good.

**What you expected to happen**:

Then clicking on the "return to website" button, I was taken to http://kubeweekly.com which opened many spammy ads, in

[2019-04-05 04:30] tengqm commented on #13629
@zhangqx2010 go ahead creating a pr, please.

[2019-04-05 04:31] #13627 closed

[2019-04-05 04:32] #13625 closed

[2019-04-05 04:33] tengqm commented on #13604
Not a doc issue. Please try stackoverflow or slack channel for support.

[2019-04-05 04:33] #13604 closed

[2019-04-05 04:34] tengqm commented on #13585
looks like a firewall issue?

[2019-04-05 04:35] #13581 closed

[2019-04-05 04:38] tengqm commented on #13571
@tstromberg Thanks for pointing that out. Closing this because it is not a doc issue.

[2019-04-05 04:38] #13571 closed

[2019-04-05 04:42] tengqm commented on #13566
@serdec If you want to connect to the app from outside a cluster, you may want to consider creating a [Service](https://kubernetes.io/docs/concepts/services-networking/service/) for it and exposing that service.

[2019-04-05 04:42] #13566 closed

[2019-04-05 04:53] #13556 closed

[2019-04-05 04:53] #13554 closed

[2019-04-05 08:19] lapee79 commented on #13576
Hello @seokho-son
I want to contribute Korean localization.
I made PR #13565
Please tell me how I process this.

[2019-04-05 10:15] daminisatya commented on #13615
This is a good first-time issue like @zacharysarah tagged 😄

[2019-04-05 10:28] #10671 closed

[2019-04-05 11:29] #10231 closed

[2019-04-05 12:53] cmanania commented on #13585
nope

Chris Anania
IT Manager, Hosting Services
P: 800.772.2260 ext:4350

www.tylertech.com<https://www.tylertech.com>

From: Qiming <notifications@github.com>
Sent: Friday, April 5, 2019 12:35 AM
To: kubernetes/website <website@noreply.github.com>
Cc: Anania, Chris <Chris.Anania@tylertech.com>; Author <author@noreply.github.com>
Subject: Re: [kubernetes/website] Issue with k8s.io/docs/setup/indep

[2019-04-05 13:21] jjfraney commented on #13571
Also, same problem with **minikube 1.0.0.**  Stop hangs.

However, the added information I offer is that docker-machine, included with Docker Desktop, can start and stop vm clients on hyperv.  I've built a three node docker swarm with docker-machine from Docker Desktop...and stopped the nodes, too.

Here is version of Docker Desktop I'm running:
Version 2.0.0.3 (31259)
Channel: stable
Build: 8858d

[2019-04-05 14:39] NeilW opened #13637 "Issue with k8s.io/docs/tasks/administer-cluster/developing-cloud-controller-manager/"
**Problem:**

RegisterCloudProvider link is broken

**Proposed Solution:**

Needs linking to the correct part of the code.

**Page to Update:**
https://kubernetes.io/docs/tasks/administer-cluster/developing-cloud-controller-manager/

[2019-04-05 16:14] kbhawkey opened #13640 "clarify, enhance, and copy edit Taint and Tolerations glossary terms"
**This is a Feature Request**

**What would you like to be added**
Edit and enhance Taint and Toleration glossary terms.

**Why is this needed**
The current text does not read well.

**Comments**
See:
https://kubernetes.io/docs/reference/glossary/?all=true#term-taint
https://kubernetes.io/docs/reference/glossary/?all=true#term-toleration

[2019-04-05 20:38] rahulkrishnanfs commented on #13534
shall I create a PR to fix it ?

[2019-04-06 09:34] kaedemalu opened #13646 "[WIP] Translate /docs/concepts/containers/images/ in Japanese"
# Translate /docs/concepts/containers/images/ in Japanese

**This is a...**

* [x]  Feature Request
* [ ]  Bug Report

**Problem:**
No /docs/concepts/containers/images/ in Japanese.

**Proposed Solution:**
Translate /docs/concepts/containers/images/ in Japanese.
Copy from en content and Update `website/content/ja/docs/concepts/containers/images.html`.

**Page to Update:**
https://kubernetes.io/ja/

[2019-04-06 09:34] kaedemalu commented on #13646
/language ja

[2019-04-06 10:01] rahulkrishnanfs commented on #13615
Please let me know if I can help to fix this issue

[2019-04-06 10:28] rahulkrishnanfs commented on #13615
@fejta Please let me know how can I replicate this issue?

[2019-04-06 10:34] rahulkrishnanfs commented on #13611
@mrandi Could you please describe what improvement you are looking for ?

[2019-04-06 10:53] rahulkrishnanfs commented on #13460
Shall I fix this issue?

[2019-04-06 13:10] uncle-elephant opened #13647 "Translate concepts/overview/working-with-objects/annotations in Korean"
**This is a Feature Request**

**What would you like to be added**
Translate concepts/overview/working-with-objects/annotations in Korean

**Why is this needed**
No translation with concepts/overview/working-with-objects/annotations in Korean

**Comments**

Page to Update:
https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/

[2019-04-06 13:11] uncle-elephant commented on #13647
/language ko
/assign

[2019-04-06 21:41] be-rock commented on #11445
Thanks all.

[2019-04-06 21:41] #11445 closed

[2019-04-06 22:16] rahulkrishnanfs commented on #13460
kind/bug

[2019-04-06 22:17] rahulkrishnanfs commented on #13460
I am working on this issue

[2019-04-07 01:21] cixuuz opened #13650 "Issue with k8s.io/docs/tutorials/stateful-application/cassandra/"
**This is a Bug Report**

**Problem:**
By following the tutorial, I tried to use ```cqlsh```. It shows the following error:

[code]

**Proposed Solution:**
I replaced the docker image to latest one in docker hub and removed ```Readiness probe``` in stateful yaml file.

**Page to Update:**
https://kubernetes.io/docs/tutorials/stateful-application/cassandra/

[2019-04-07 04:20] NickWilton opened #13651 "Debug Services page suggests buggy version of Busybox"
**This is a Bug Report**

**Problem:**
The ["Debug Services"](https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/) page suggests running an interactive Busybox image as follows:
[code]

However, due to an [upstream regression](https://bugs.busybox.net/show_bug.cgi?id=11161) with Busybox version 1.29 the **nslookup** commands will fail on a healthy kubernetes cluster; leading

[2019-04-07 08:08] timstoop opened #13653 "Issue with k8s.io/docs/concepts/configuration/scheduler-perf-tuning/"
**This is a Bug Report**

**Problem:** This page has an example of a `kind: KubeSchedulerConfiguration` config, which it says uses `apiVersion: componentconfig/v1alpha1`. This is incorrect, it should be using `apiVersion: kubescheduler.config.k8s.io/v1alpha1`.

**Proposed Solution:** Change the apiVersion to `apiVersion: kubescheduler.config.k8s.io/v1alpha1`.

**Page to Update:**
https://kubernete

[2019-04-07 08:44] SupriyaSirbi commented on #13651
Submitted above PR for the same. Thanks

[2019-04-07 08:46] SupriyaSirbi commented on #13637
Submitted above PR for the same. Thanks

[2019-04-07 08:55] rahulkrishnanfs commented on #13653
I would like to work on  this issue

[2019-04-07 09:32] SupriyaSirbi commented on #13506
Submitted PR for the same. Thanks

[2019-04-07 10:28] aritro90 opened #13656 "Issue with k8s.io/docs/concepts/cluster-administration/logging/"
**This is a Bug Report**

**Problem:**
https://github.com/samsung-cnct/logrotate (which is referenced in this site) is throwing 404 error

**Proposed Solution:**
Need to remove the hyperlink from "An example" in the below statement:
_An example of this approach is a small container running logrotate periodically. However, it’s recommended to use stdout and stderr directly and leave rotation and re

[2019-04-07 14:23] rahulkrishnanfs commented on #13651
I am looking into this issue

[2019-04-07 14:26] rahulkrishnanfs commented on #13656
I am looking into the issue

[2019-04-07 14:35] rahulkrishnanfs commented on #13460
fixed this issue

[2019-04-07 14:44] rahulkrishnanfs opened #13660 "link to the latest docs will be broker when deprecated = false in config.toml"
**This is a Bug Report**

**Problem:**
Link to the latest docs will be broken when deprecated = false in config.toml [https://github.com/kubernetes/website/blob/release-1.14/config.toml#L73]

This  issue is resolved in the #13649

**Proposed Solution:**
[code]
Use .Site.Params

**Page to Update:**
https://github.com/kubernetes/website/blob/release-1.14/layouts/shortcodes/deprecationwarning.html#L8

[2019-04-07 14:45] rahulkrishnanfs commented on #13660
I am working on this issue

[2019-04-07 16:14] #13229 closed

[2019-04-07 16:43] cstoku commented on #13646
/milestone dev-1.14-ja.1

[2019-04-07 16:43] cstoku commented on #13646
/milestone 1.14-ja.1

[2019-04-07 16:44] cstoku commented on #13532
/milestone 1.14-ja.1

[2019-04-07 17:14] daitangio opened #13664 "Issue with k8s.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/"
The secret creation step seems wrong.
I got
`$ kubectl.exe apply -f .
service/wordpress-mysql created
persistentvolumeclaim/mysql-pv-claim created
deployment.apps/wordpress-mysql created
service/wordpress created
persistentvolumeclaim/wp-pv-claim created
deployment.apps/wordpress created
error: error validating "kustomization.yaml": error validating data: [apiVersion not set, kind not set]; if cho

[2019-04-07 20:07] timstoop opened #13667 "Improvement for k8s.io/docs/tasks/tls/certificate-rotation/"
This page says the following:

[code]

But it doesn't provide any information on what those criteria are or where to find them. Some additional guidance here would be appreciated.

[2019-04-07 20:52] seokho-son commented on #13576
@lapee79 Sorry for the late reply. Sure you can take this issue. Please start to work and make a PR. You can use guides(links) provided in this issue. If you have any questions regarding Korean localization contribution, you can make comments in this issue or come to slack #kubernetes-docs-ko channel as well. Thank you for your contribution!!

[2019-04-07 23:28] #10922 closed

[2019-04-08 01:42] moluzhui commented on #13347
Thank you for your help. I install kubeadm successfully, but a new problem was encountered while deploying the node.  When I deploy master, it's OK
[code]
it have a warning when I deploy a node,but master show Ready
[code]
[code]

But today I failed when I restarted the virtual machine.
[code]
I type describe command to find question
[code]
I type journalctl command in my node1, it show
[code]

Bu

[2019-04-08 02:46] yjw113080 opened #13669 "Translate concepts/service-networking/ingress and /storage/persistent-volume in Korean"
**This is a Feature Request**

**What would you like to be added**

Translating concepts/ko/docs/concepts/services-networking/ingress.md,
concepts/ko/docs/concepts/storage/persistent-volumes.md.

**Why is this needed**
Documentation concepts/ko/docs/concepts/services-networking/ingress,
and concepts/ko/docs/concepts/storage/persistent-volumes.md is not in Korean yet.

**Comments**

[2019-04-08 02:47] yjw113080 commented on #13669
/language ko
/assign

[2019-04-08 06:09] Gaurav-Punjabi opened #13672 "Subscribe button on the home page is not aligned."
**This is a bug report.**

**Problem**
The subscribe button at the bottom of the home page is not aligned properly.

**Screenshot**
![image](https://user-images.githubusercontent.com/36587580/55702024-d6ab0280-59f2-11e9-854d-313a9d7a79cc.png)

**Expected Output**
![image](https://user-images.githubusercontent.com/36587580/55702228-94ce8c00-59f3-11e9-9b16-06e565d99a18.png)

**Proposed Solution**
Th

[2019-04-08 07:48] neolit123 commented on #13347
this warning is not fatal.

please try a different CNI plugin - e.g. WeaveNet instead of flannel.

[2019-04-08 07:50] mrandi commented on #13611
@rahulkrishnanfs of course! I hope this will clarify a bit.
I'm interested in building an application thats create an overview of the workloads currently running on the cluster.
My assumptions are the following.
As far I understood, workloads doesn't really exists, in the sense that they are not queryable.
Workload seems to be more a logical aggregation of resources. But workload itself, are not r

[2019-04-08 09:16] gamename opened #13673 "Need definitive example of audit policy use"
**This is a Feature Request**

**What would you like to be added**

In the "Audit Policy" section on this page:
https://kubernetes.io/docs/tasks/debug-application-cluster/audit/

...there needs to be an explicit example of how to implement the audit policy.  In other words, there should be an example showing how to pass the file to correctly create a policy.

**Why is this needed**

If the user si

[2019-04-08 09:16] Tushar120120 opened #13674 "Improvement for k8s.io/docs/tutorials/stateless-application/guestbook/"
if we do not use Minicube, it is not clear how to get the URL.
When we access the guestbook from browser, one page will be displayed,  one sample page can be provided.

[2019-04-08 11:21] neolit123 commented on #13347
something to add here is that if you have `"exec-opts": ["native.cgroupdriver=systemd"],` in the docker config you shouldn't be seeing the kubeadm warning about cgroupfs.

seems to me that the docker config is somehow not read.
what is the cgroup-driver value in the file /var/lib/kubelet/kubeadm-flags.env when you run `init` or `join`?

more details here:
https://kubernetes.io/docs/setup/independe

[2019-04-08 16:33] anderkonzen commented on #13534
Hi @rahulkrishnanfs! I was not sure how the reviewing process for the issues here worked, so I just opened the bug report. So, I think yes, you can create a PR for this.

[2019-04-08 19:23] garystafford opened #13683 "Issue with k8s.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/"
**This is a Bug Report**

**Problem:**
The 'kubectl autoscale' link to GitHub in the sentence is bad: 'Now that the server is running, we will create the autoscaler using [kubectl autoscale](https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/kubectl/kubectl_autoscale.md).'

**Proposed Solution:**
Update to correct link.

**Page to Update:**
https://kubernetes.io/docs/tasks/run-ap

[2019-04-08 20:21] kbhawkey commented on #13640
/assign kbhawkey

[2019-04-08 20:27] mistyhacks commented on #13615
I think the line just needs to be modified to the following:

[code]

In YAML, strings are quoted (as opposed to other types of variables like integers or booleans), and lists of strings are enclosed in square brackets and separated by commas.

[2019-04-08 20:53] rahulkrishnanfs commented on #13460
close

[2019-04-08 21:50] rahulkrishnanfs commented on #13615
@mistyhacks But I could see that ISSUE_TEMPLATE/bug-report.md is using smilar format for other projects

[2019-04-08 22:05] rahulkrishnanfs commented on #13611
/assign @rahulkrishnanfs

[2019-04-08 22:05] shashank0202 opened #13686 "typo in Api page"
typo in Api page

[2019-04-08 22:10] fejta commented on #13615
Yeah does seem a bit mysterious... I'm filing this because I keep seeing the following errors:

[code]

[2019-04-08 22:22] shashank0202 opened #13688 "typo in pod life cycle"
typo in pod life cycle

[2019-04-08 23:19] shashank0202 opened #13691 "typo in pod disruption page"
typo in pod disruption page

[2019-04-08 23:30] shashank0202 opened #13693 "typo in deployment page"
typo in deployment page

[2019-04-08 23:36] shashank0202 opened #13695 "typo in cron job page"
typo in cron job page

[2019-04-08 23:44] shashank0202 opened #13697 "typo in volume page"
typo in volume page

[2019-04-08 23:51] shashank0202 opened #13699 "fix typo in volume page"
fix typo in volume page

[2019-04-08 23:56] shashank0202 opened #13702 "typo in volume page"
typo in volume page

[2019-04-09 02:30] huahuoshu opened #13704 "Issue with k8s.io/zh/docs/home/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-04-09 05:21] manyatripathi commented on #13683
I am lookinginto this..... As I am new so this feels a goot start point.

[2019-04-09 05:59] Vageesha17 commented on #13656
i am working on this issue..as it would be a good start.

[2019-04-09 06:12] zhangqx2010 commented on #13629
pr merged

[2019-04-09 06:12] #13629 closed

[2019-04-09 06:32] shashank0202 opened #13706 "typo in https://kubernetes.io/docs/concepts/storage/volumes/"
typo in https://kubernetes.io/docs/concepts/storage/volumes/

[2019-04-09 06:38] shashank0202 opened #13708 "typo : https://kubernetes.io/docs/concepts/storage/storage-limits/"
typo : https://kubernetes.io/docs/concepts/storage/storage-limits/

[2019-04-09 06:47] shashank0202 opened #13710 "typo :https://kubernetes.io/docs/concepts/policy/resource-quotas/"
typo :https://kubernetes.io/docs/concepts/policy/resource-quotas/

[2019-04-09 06:51] esharmony opened #13711 "Issue with k8s.io/docs/tasks/access-application-cluster/ingress-minikube/"
**This is a Bug Report**

**Problem:**
Just editing the ingress in way proposed seems to overwrite the rules of the second.
You end up losing the first path

**Proposed Solution:**
Create a ingress with a modified name

**Page to Update:**
https://kubernetes.io/...

[2019-04-09 06:55] moluzhui commented on #13347
[code]
yes, this is the wrong place. but how to configure it? Modify this file directly?

[2019-04-09 06:56] shashank0202 opened #13713 "typo : https://kubernetes.io/docs/concepts/policy/pod-security-policy/"
typo : https://kubernetes.io/docs/concepts/policy/pod-security-policy/

[2019-04-09 07:07] shashank0202 opened #13715 "typo https://kubernetes.io/docs/concepts/cluster-administration/networking/"
typo https://kubernetes.io/docs/concepts/cluster-administration/networking/

[2019-04-09 07:12] shashank0202 opened #13717 "typo : https://kubernetes.io/docs/concepts/cluster-administration/addons/"
typo : https://kubernetes.io/docs/concepts/cluster-administration/addons/

[2019-04-09 07:20] shashank0202 opened #13720 "typo https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins/"
typo https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins/

[2019-04-09 08:34] niklasholm opened #13722 "Issue with k8s.io/docs/tasks/tools/install-minikube/"
**This is a Bug Report**

**Problem:**
The table under the heading *Install a Hypervisor* says you need VirtualBox **or** Hyper-V on Windows, but under the heading *Windows* it says you need Hyper-V. This is inconsistent, is VirtualBox supported or not?

**Proposed Solution:**
Clarify if VirtualBox is supported (without Hyper-V).

**Page to Update:**
https://kubernetes.io/docs/tasks/tools/install-

[2019-04-09 08:38] neolit123 commented on #13347
what is the cgroup driver on node1 if you type `docker info` there - show the output.
kubeadm under the hood uses `docker info` to determine the driver and pass it to kubeadm-flags.env.
that file is dynamically created on each `kubeadm init` and `kubeadm join`, so it manages this flag for you.

[2019-04-09 10:34] moluzhui commented on #13347
docker info show follow
[code]
but it's same Cgroup Driver as the master
[code]

[2019-04-09 10:59] neolit123 commented on #13347
in that case this should not happen:

and the value should be `--cgroup-driver=systemd` instead.
i have no idea why the detection on the master node works, but not on the worker.

if you delete the file `/var/lib/kubelet/kubeadm-flags.env` and call `kubeadm join` does it still have `cgroupfs` instead of `systemd`?

[2019-04-09 13:22] kbhawkey commented on #13640
/close

[2019-04-09 13:22] #13640 closed

[2019-04-09 14:46] JasonvanBrackel opened #13727 "Issue with k8s.io/docs/setup/pick-right-solution/"
**This is a Bug Report**

**Problem:**
The chart on the bottom is misleading.  Some of these solutions are not IaaS Provider oriented, but integrate with providers.  Rancher and Kublr are good examples.

**Proposed Solution:**
Add a column on the far left for Project/Product/Provider

**Page to Update:**
https://kubernetes.io/docs/setup/pick-right-solution/

[2019-04-09 15:37] jhammond-indeed opened #13728 "https://dl.k8s.io/v1.14.0/kubernetes-src.tar.gz is a tarbomb"
**This is a Bug Report**

**Problem:** The kubernetes-src tar archive (https://dl.k8s.io/v1.14.0/kubernetes-src.tar.gz) linked from https://kubernetes.io/docs/setup/release/notes/#downloads-for-v1-14-0 is a tarbomb:
[code]

tarbombs are unexpected behavior and may have unfortunate side-effects for users who don't look before they leap.

**Proposed Solution:** Please create a tar archive that expan

[2019-04-09 17:32] craiglpeters commented on #13722
/sig windows

[2019-04-09 17:34] kbhawkey commented on #13615
Hello. Which program parses this markdown file?
Should the YAML in the markdown file look like:
[code]

[2019-04-09 20:03] shashank0202 opened #13734 "typo : https://kubernetes.io/docs/setup/independent/high-availability/"
typo : https://kubernetes.io/docs/setup/independent/high-availability/

[2019-04-10 01:31] gochist opened #13738 "Outdated files in the dev-1.14-ko.2 branch"
**This is a Bug Report**

**Problem:**

546 files in content/en are changed
47 files in content/ko are outdated

- [x]  _index.html 1 file changed, 1 insertion(+), 1 deletion(-)
- [x]  case-studies/blackrock/index.html 1 file changed, 1 insertion(+), 1 deletion(-)
- [x]  case-studies/ibm/index.html 1 file changed, 2 insertions(+), 5 deletions(-)
- [x]  case-studies/naic/index.html 1 file changed,

[2019-04-10 01:46] gochist commented on #13738
/language ko

[2019-04-10 01:55] tengqm commented on #13535
Closed by #13538.

[2019-04-10 01:55] #13535 closed

[2019-04-10 05:34] #13021 closed

[2019-04-10 05:56] Vageesha17 commented on #13582
i am working on this... since i am new here, looks like a good start

[2019-04-10 06:49] moluzhui commented on #13347
I reset the node1 but I found token gone
[code]
[code]
what's happened? I'm sure token exists after I initialize master

[2019-04-10 10:57] hmlkao opened #13740 "security-context.yaml files are not equal"
**Problem:**
Content of files https://k8s.io/examples/pods/security/security-context.yaml and https://raw.githubusercontent.com/kubernetes/website/master/content/en/examples/pods/security/security-context.yaml are not equal.

So commands mentioned after pod creation return different results.

**Page to Update:**
k8s.io/docs/tasks/configure-pod-container/security-context/

[2019-04-10 11:00] shub-asa1 opened #13741 "typo in pod disruption page"
**This is a Bug Report**

**Problem:**
There is a punctuation error in this line of kubernetes docs
No downtime, but may be costly both for the duplicated nodes, and for human effort to orchestrate the switchover.
**Proposed Solution:**
removing unnecessary commas or restructure whole sentence.

**Page to Update:**
https://kubernetes.io/docs/concepts/workloads/pods/disruptions/

[2019-04-10 11:08] shub-asa1 commented on #13741
Hi,
I am new to k8 community and just trying to do some contribution .I can fix this issue.

[2019-04-10 11:36] moluzhui commented on #13347
Thank you very much. when I reset and call `kubeadm join`, the node1 is Ready.
[code]

[2019-04-10 12:54] daminisatya commented on #13741
Please feel free to open a PR and reference it to the issue.

Also, welcome to Kubernetes @shub-asa1 ✨

[2019-04-10 13:57] kbhawkey commented on #13697
Hello @shashank0202. For very small issues, it is probably easier to create a PR and not log an issue. Also, it would be nice if you could close the issue if the PR merged. Thanks!

[2019-04-10 14:10] kbhawkey commented on #13722
Hello @niklasholm. Yes, minikube is supported with VirtualBox (verified Windows 10)!

[2019-04-10 14:10] kbhawkey commented on #13722
/assign

[2019-04-10 15:13] shashank0202 commented on #13697
Got it, will do that moving forward.

[2019-04-10 15:13] #13697 closed

[2019-04-10 15:14] #13734 closed

[2019-04-10 15:14] #13720 closed

[2019-04-10 15:14] #13717 closed

[2019-04-10 15:14] #13715 closed

[2019-04-10 15:14] #13713 closed

[2019-04-10 15:14] #13710 closed

[2019-04-10 15:14] #13708 closed

[2019-04-10 15:14] #13706 closed

[2019-04-10 15:15] #13699 closed

[2019-04-10 15:15] #13695 closed

[2019-04-10 15:15] #13691 closed

[2019-04-10 15:15] #13686 closed

[2019-04-10 15:15] #13688 closed

[2019-04-10 16:45] chenrui333 opened #13745 "Propose to merge release-1.12 into master"
sig-docs-zh team has worked on release-1.12 for quite a long time, we should seriously think about merge the branch to master and work on the release-1.13 (release-1.14 was out recently).

This issue is created to address the effort of doing the merge and serve as place to discuss it.

/cc @zacharysarah @kubernetes/sig-docs-zh-owners
/cc @xichengliudui @SataQiu @tengqm

[2019-04-10 17:04] Ragzputin opened #13746 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro/"
**This is a Bug Report**

**Problem:**
This is not a bug, more of an English language issue. The explanations in this page (like many others) are hard to understand.

**Proposed Solution:**
I have simplified the explanations under the "Kubernetes Cluster" section. Here are my proposed changes. Feel free to improve.

---Proposed Solution Starts Here---
"Kubernetes coordinates clusters of computers.

[2019-04-10 20:02] MBalasubramanian opened #13748 "Want to the understand the algorithm or logic behind pods consuming the nodes"
We would like to know the algorithm or logic behind the pods getting shuffled between different worker nodes, is there any known threshold for each worker nodes to move a pod from itself(assume a worker node is at 90% usage) to another worker node which is found to be having comparatively more space on it, we have noticed that in our setup(3 master with 30 worker nodes), few of the nodes are frequ

[2019-04-10 20:48] emailtovamos opened #13751 "Issue with k8s.io/docs/tasks/access-application-cluster/web-ui-dashboard/"
**This is a Bug Report**

**Problem:**
Can't see logs section in the Kubernetes UI. I followed the steps given [here](https://kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard/) but can't see any option to see logs.

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-04-10 20:57] #13751 closed

[2019-04-10 21:31] rahulkrishnanfs commented on #13704
/close

[2019-04-10 21:33] rahulkrishnanfs commented on #13748
@MBalasubramanian I would suggest you to post in the slack channel

[2019-04-10 21:35] MBalasubramanian commented on #13748
Sure Rahul, can you please ping the slack channel detail, will post there.

[2019-04-10 22:42] endform opened #13753 "Issue with k8s.io/docs/tasks/configure-pod-container/security-context/"
**This is a Bug Report**

**Problem:**
The discussion of setting linux capabilities doesn't reference that the default-docker apparmor configuration may deny operations such as mount even when the container is granted the SYS_ADMIN capability. This is a possible point of confusion/dead for users.

For me in this case I am new to docker/kubernetes so I was unaware of this default configuration as n

[2019-04-10 23:10] fabianbaier opened #13755 "Issue with k8s.io/docs/reference/setup-tools/kubefed/kubefed"
**This is a Bug Report**

**Problem:**

When looking at https://kubernetes.io/docs/reference/setup-tools/kubefed/ the table of content and bullet points seem to be in the wrong format. This leads not just to a wrong rendering but when e.g. being on https://kubernetes.io/docs/reference/setup-tools/kubefed/kubefed/ the sub-menu seems also rendered wrong.

**Proposed Solution:**

I believe there was

[2019-04-11 04:58] rajeshdeshpande02 commented on #13740
@hmlkao I don't see any difference between GitHub file and example code given on doc page. Also, there should not be the difference as document refers to github code for display.

[2019-04-11 06:36] shub-asa1 opened #13759 "Issue with k8s invalid link referred by "framework file" in docs k8s.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning/"
**This is a Bug Report**

**Problem:**
Invalid link referred by  "framework file" in "Most of the common code are located in the framework file that leaves only one function to be implemented for different conversions."
It was supposed to redirect to github page but invalid link reference of  "framework file"  leads to error 404 page not found.

**Proposed Solution:**
Linking "framework file" in "

[2019-04-11 06:39] shub-asa1 opened #13760 "Issue with k8 docs invalid link referred by "one function" in k8s.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning/"
**This is a Bug Report**

**Problem:**
Invalid link referred by "One function" in "Most of the common code are located in the framework file that leaves only one function to be implemented for different conversions."
It was supposed to redirect to github page but invalid link reference of "one function" leads to error 404 page not found.

**Proposed Solution:**
Linking "one function" in "Most of t

[2019-04-11 07:29] zacharysarah commented on #13745
Looking at the list of [open Chinese language PRs](https://github.com/kubernetes/website/pulls?q=is%3Aopen+is%3Apr+label%3Alanguage%2Fzh), I see PRs against `release-1.12` (#13234, #13500) and `master` (#13298, #13251). Have you been monitoring PRs to ensure that they're merged to the same branch?

[2019-04-11 07:32] #13460 closed

[2019-04-11 07:33] zacharysarah commented on #13555
Just a note--anyone can submit a PR while an issue is still open!

[2019-04-11 07:47] zacharysarah commented on #13615
@kbhawkey That's my guess as well--it's where I'd start with a PR.

[2019-04-11 08:34] xichengliudui commented on #13745
Agree with, about open Chinese PRs.

* Merge the currently mergable PRs
* Turn off PRs that have not responded for a long time

[2019-04-11 09:10] SataQiu commented on #13745
I agree with @chenrui333 .
But as @zacharysarah said, there may be some problems in this process, such as conflicts.
Is there a good way to deal with these problems?

[2019-04-11 09:36] neolit123 commented on #13347
good to hear that it worked for you.

/close

[2019-04-11 09:36] #13347 closed

[2019-04-11 09:36] Shifali-Srivastava commented on #13760
I'm working on this issue.

[2019-04-11 14:00] davidnmbond opened #13772 "Issue with k8s.io/docs/tutorials/kubernetes-basics/explore/explore-interactive/"
**This is a Bug Report**

**Problem:**
In module 3, step 1, the tutorial gives no indication of how long it will take before the pods are running.  This led to confusion for me.  Why does the command not output the expected result?

**Proposed Solution:**
Indicate the amount of time the student can expect to wait (e.g. "up to 2 minutes").

**Page to Update:**
https://kubernetes.io/docs/tutorials/k

[2019-04-11 17:41] tejaswiniVadlamudi opened #13787 "Issue with k8s.io/docs/tasks/debug-application-cluster/resource-usage-monitoring/"
Problem:

This doesn't speak about monitoring Persistent Storage/PersistentVolumeClaims.

**Proposed Solution:** Above data can be added. Also, list available metrics from all Kubernetes components.

Kubernetes Version: 1.14

[2019-04-11 18:07] Tonterias opened #13788 "Improvement for k8s.io/docs/tasks/run-application/run-single-instance-stateful-application/"
Hi,

I had problems in the process:

https://stackoverflow.com/questions/55637769/why-am-i-getting-a-crashloopbackoff-on-this-kubernetes-example

And it looks like I'm not the only one, but his solutions does not work for me: https://discuss.kubernetes.io/t/running-tutorial-mysql-example-gives-me-read-only-file-system-error/3197/2

Thanks

[2019-04-11 18:22] hmlkao commented on #13740
My fault, I checked it twice and always wrong... I have probably started `pods/security/security-context-2.yaml` which is based on image `gcr.io/google-samples/node-hello` and was confused that commands return different results.

[2019-04-11 18:22] #13740 closed

[2019-04-11 18:44] #10962 closed

[2019-04-11 19:00] utdrmac opened #13790 "Issue with k8s.io/docs/setup/cri/"
**This is a Bug Report**

**Problem:**
Instructions for configuring docker (editing etc-docker-daemon.conf) to use systemd cgroups does not work on CentOS 7.5. Installed docker using their repos. Followed instructions on noted CRI page. Docker will not start using systemd cgroups

**Proposed Solution:**
Unknown. I am 100% new to k8s. I am attempting to learn. This is my current blocker.

**Page to

[2019-04-11 19:28] utdrmac commented on #13790
My mistake. I created daemon.conf instead of daemon.json

[2019-04-11 19:28] #13790 closed

[2019-04-12 00:11] phs opened #13792 "Improvement for k8s.io/docs/concepts/overview/working-with-objects/annotations/"
Hello,

I've been looking for information about the possibility of controlling changes to annotations through authorization such as RBAC.

My use case is a custom controller driven by a CRD. I would like to allow my end-users to create/update/delete CRD instances, but still provide a means for a separate set of empowered users to somehow modify the CRD instance to further unlock sensitive function

[2019-04-12 01:46] chenrui333 commented on #13745
Certainly, we definitely need to address the opening PRs (especially the ones with base branch as release-1.12). I do monitor the open PRs. :)

This issue can be a place that we can track down the process as it goes.

Regarding the merge conflicts, we can fix as it goes (think about the sig-docs release, it would be like that). But I do think we should consider the contributors' activities, in the

[2019-04-12 02:01] xichengliudui commented on #13745
+1

[2019-04-12 09:05] pinsker88 opened #13795 "Issue with k8s.io/docs/home/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-04-12 10:53] #12146 closed

[2019-04-12 19:36] thecrudge commented on #13555
PR #13805

[2019-04-12 21:00] MBalasubramanian commented on #13748
Rahul / Team, please suggest on this question, also recently we deleted pods from a specific node since it was running at 85% plus on CPU side, but the pods going to new nodes does not make any difference and also found istio, few other devops tool sets are running on it which is causing the nodes to be hot all the time, please suggest as node-selector could not be enabled for now.

[2019-04-13 07:44] shahamit2 opened #13807 "Improvement for k8s.io/docs/concepts/overview/kubernetes-api/"
Is it possible to include one/more example for which utilities(e.g.: kubectl or kubeadm or something else) can take "--runtime-config" parameter?

[2019-04-13 12:05] oke-py commented on #13426
The page was manually edited in #13586. It will be overwritten at the release of 1.15, right?

[2019-04-13 19:22] james-dc opened #13808 "Issue with k8s.io/docs/tasks/tools/install-minikube/"
**This is a Bug Report**

**Problem:**
Running ```minikube start``` as the setup guide suggests yields the following failure:
[code]

I found running ```sudo minikube start``` lets minikube start successfully:
[code]
However any further interaction with minikube / kubectl also requires the use of sudo to function properly which is not desirable.

**Page to Update:**
https://kubernetes.io/docs/task

[2019-04-14 07:43] #10969 closed

[2019-04-14 09:10] zerda commented on #12533
Close issue because PR has been merged.

[2019-04-14 09:10] #12533 closed

[2019-04-14 15:17] jimangel commented on #13555
Thanks @thecrudge!
/close

[2019-04-14 15:17] #13555 closed

[2019-04-14 15:29] jimangel commented on #13314
Thank you @kbhawkey for your diligence on this issue including adding examples in our docs!
/close

[2019-04-14 15:29] #13314 closed

[2019-04-14 15:42] jimangel commented on #13396
I'd like to close this before 1.15 drops, but there's still some work left to be done, such as figuring out direction on fedv1 docs and some other minor PRs I've seen come in correcting the ref-gen docs. I'm going to help where I can, but I'll look for @MAKOSCAFEE to help complete this.
/assign @MAKOSCAFEE

[2019-04-14 17:55] EmmanuelR78 opened #13813 "Issue with k8s.io/fr/docs/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-04-14 18:24] Vivism commented on #9807
+1

[2019-04-14 20:22] pankaj-mymail1 opened #13814 "Issue with k8s.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/"
**This is a Bug Report**
kubectl apply -k ./  -->This command is not working,any specific reason or is there any dependency ?
kubectl version
Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.4", GitCommit:"c27b913fddd1a6c480c229191a087698aa92f0b1", GitTreeState:"clean", BuildDate:"2019-02-28T13:37:52Z", GoVersion:"go1.11.5", Compiler:"gc", Platform:"linux/amd64"}
Server Versio

[2019-04-15 01:18] #13755 closed

[2019-04-15 03:19] #10170 closed

[2019-04-15 03:59] xiangpengzhao commented on #11724
/close
as https://github.com/kubernetes/website/pull/11845 fixed this.

[2019-04-15 03:59] #11724 closed

[2019-04-15 04:21] Rajakavitha1 opened #13816 "Front matter is missing in some of the .md files and these files do not get listed in the documentation side menu"
**This is a Bug Report**

**Problem:**

In continuation with the observations that I made when reviewing https://github.com/kubernetes/website/pull/13782. Here are some of the issues.
1. This line is present in kubefed_init.md, kubefed_join.md, kubefed_options.md, kubefed_unjoin.md, kubefed_version.md files as well.
2. The links to above files in the See Also section results in a 404.
3. The links

[2019-04-15 04:40] rajeshdeshpande02 commented on #13816
Thanks @Rajakavitha1 for reviewing PR #13782 which you mentioned in this issue. Will work on these issues as well.

[2019-04-15 08:07] #11022 closed

[2019-04-15 08:34] elknode96 opened #13819 "Ask for help! Kubelet always gives an error when starting"
Apr 15 16:32:35 kubernetets-node1 kubelet: I0415 16:32:35.965981   18574 kubelet_node_status.go:278] Setting node annotation to enable volume controller attach/detach
Apr 15 16:32:45 kubernetets-node1 kubelet: I0415 16:32:45.990378   18574 kubelet_node_status.go:278] Setting node annotation to enable volume controller attach/detach
Apr 15 16:32:56 kubernetets-node1 kubelet: I0415 16:32:56.018951

[2019-04-15 10:11] tedmoyses opened #13820 "Issue with k8s.io/docs/getting-started-guides/ubuntu/"
**This is a Bug Report**

The CDK link to docs 404s

Fix link to CDK docs for K8s installation

**Page to Update:**
https://kubernetes.io/docs/getting-started-guides/ubuntu/

[2019-04-15 10:12] tedmoyses commented on #13820
That shoudl be th elinked with the text 'official documentation'

[2019-04-15 10:24] Vageesha17 commented on #13820
i am wokring on this issue..as it would be a good start.

[2019-04-15 10:54] DanyC97 commented on #13820
/good-first-issue

thank you @Vageesha17 for looking into it, let us know once you have a PR up

[2019-04-15 10:56] DanyC97 commented on #13813
@EmmanuelR78 you mind providing a problem description please ?

[2019-04-15 10:56] DanyC97 commented on #13813
/language fr

[2019-04-15 11:00] DanyC97 commented on #13704
/language zh

@huahuoshu can you please update the problem description ? otherwise i think this issue can be closed

[2019-04-15 13:23] gochist commented on #12451
fixed by #13516
/close

[2019-04-15 13:23] #12451 closed

[2019-04-15 13:25] gochist commented on #13448
move to #13738
/close

[2019-04-15 13:25] #13448 closed

[2019-04-15 13:26] gochist commented on #12450
/close

[2019-04-15 13:26] #12450 closed

[2019-04-15 13:27] gochist commented on #12837
/close

[2019-04-15 13:27] #12837 closed

[2019-04-15 13:28] gochist commented on #12838
/close

[2019-04-15 13:28] #12838 closed

[2019-04-15 13:51] mide22 opened #13824 "Improvement for k8s.io/docs/tasks/run-application/rolling-update-replication-controller/"
What stands "NAME" for? Name of deployment? container?

[2019-04-15 16:17] kbarnard10 commented on #13630
Return to website button is now updated to return to Kubernetes.io

[2019-04-15 16:17] #13630 closed

[2019-04-15 16:57] tstromberg commented on #13808
Issue moved to [kubernetes/minikube #4100](https://github.com/kubernetes/minikube/issues/4100) via [**ZenHub**](https://www.zenhub.com/)

[2019-04-15 16:59] tstromberg commented on #13808
The error message indicates that minikube wasn't able to update ~/.kube/config, but I'm also at a loss to explain why it isn't showing the path. I've moved the bug to the minikube repo to investigate it there.

Anyways, sudo shouldn't be required for minikube.

[2019-04-15 17:00] tstromberg commented on #13808
Update: It looks like I don't have permissions to close issues here. :(

[2019-04-15 19:03] DanyC97 commented on #13808
@tstromberg many thanks to you and @afbjorklund for responding so quickly here & slack.
I'll close this issue now that it was moved to minikube repo

[2019-04-15 19:03] DanyC97 commented on #13808
/close

[2019-04-15 19:03] #13808 closed

[2019-04-15 19:05] DanyC97 commented on #13819
@elknode96 i'm afraid this is not the best place to ask for help, i'd suggest you ask on https://discuss.kubernetes.io/ or slack

[2019-04-15 19:06] DanyC97 commented on #13819
i'll close this issue since is not docs related

[2019-04-15 19:06] DanyC97 commented on #13819
/close

[2019-04-15 19:06] #13819 closed

[2019-04-15 19:17] kbhawkey commented on #13816
Note:
- Manually fixing the pages now is a good idea 😄
- There is a docs template that was created especially for rendering the tools references. This template may be useful to apply to these pages as the headings follow the other tool refs. The tool ref pages do not require a number of sections required by concept pages. See federation-apiserver.md as an example of a file that uses this template,

[2019-04-15 22:31] wenjiaswe commented on #12233
/remove-lifecycle stale

[2019-04-15 22:43] gochist commented on #13738
I updated outdated files list
/assign

[2019-04-16 00:48] zeyaoo-mz opened #13833 "Issue with k8s.io/docs/reference/kubectl/cheatsheet/"
**This is a Bug Report**

**Problem:**
Comments on these two lines are reversed.
kubectl exec my-pod -- ls /                         # Run command in existing pod (1 container case)
kubectl exec my-pod -c my-container -- ls /         # Run command in existing pod (multi-container case)

It should be:
kubectl exec my-pod -- ls /                           # Run command in existing pod (multi-contain

[2019-04-16 01:48] rajeshdeshpande02 commented on #13833
@zeyaoo-mz I do not think the exisitng example is incorrect. '-c' option is generally used with the multi-container pod to specify the container to work on.  So here also '-c' used for multi-container pod which is correct.

[2019-04-16 06:37] hpandeycodeit commented on #13824
@mide22 ```NAME``` stands for ```OLD_CONTROLLER_NAME```

Refer to this doc.
https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#rolling-update

[2019-04-16 06:38] DanyC97 commented on #13833
@zeyaoo-mz what @rajeshdeshpande02 said is correct. Let us know if you disagree if not then i'll close the issue

[2019-04-16 06:42] DanyC97 commented on #13795
hi @pinsker88 , since this issue doesn't follow the template where we ask folks to provide a problem description, i'm going to close it. Should you want to provide create a new issue with a description feel free to open a new one

/close

[2019-04-16 06:42] #13795 closed

[2019-04-16 06:43] DanyC97 commented on #13704
/close

[2019-04-16 06:43] #13704 closed

[2019-04-16 06:43] DanyC97 commented on #13813
/close

[2019-04-16 06:44] #13813 closed

[2019-04-16 06:49] huahuoshu commented on #13704
/close

[2019-04-16 06:52] DanyC97 commented on #13748
@MBalasubramanian as been mentioned by @rahulkrishnanfs there are multiple places where you can ask this type of questions: either on https://discuss.kubernetes.io/ or on K8s slack channels (maybe start with kubernetes-novice channel first)

with that said i'm going to close this issue as is not related to the docs.
/close

[2019-04-16 06:52] #13748 closed

[2019-04-16 06:55] DanyC97 commented on #13792
hi @phs i'd suggest you try to find an answer by asking on https://discuss.kubernetes.io/ or on K8s slack channels

with that said i'm going to close this issue as is not related to the docs.
/close

[2019-04-16 07:00] DanyC97 commented on #13792
/reopen

on closer read i think there is some value in clarifying few aspects of the annotation

[2019-04-16 10:33] shub-asa1 commented on #13759
i am working on this issue.

[2019-04-16 11:11] surajsunrays commented on #13814
Can be solved
[kustomization .txt](https://github.com/kubernetes/website/files/3084629/kustomization.txt)

 using separating the files for installation.
Created files are
1. kustomization.yaml (For Secrets )
2. mysql-depl..... (Same as Provided)
3. wordpress.... (Same as provided)
Applied as :
kubeclt create -f kustomization.yaml      # will Creates the secrets and do same for other 2 files as wel

[2019-04-16 14:47] AdamSharif-MSFT opened #13847 "Issue with k8s.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/"
**This is a Bug Report**

**Problem:**

Command on documentation is incorrect:

_kubectl apply -k ./_

Error: **unknown shorthand flag: 'k' in -k**

**Proposed Solution:**

_kubectl apply -f ./_

**Page to Update:**
k8s.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/

[2019-04-16 16:11] thecrudge commented on #13746
Ill take it

[2019-04-16 16:20] thecrudge commented on #13746
#13831

[2019-04-16 18:42] #13833 closed

[2019-04-16 19:31] kbhawkey commented on #13814
@pankaj-mymail1 , have you tried with kubectl 1.14?

[2019-04-16 19:33] kbhawkey commented on #13847
@AdamSharif-MSFT, see issue #13664. Have you tried v1.14?

[2019-04-17 03:20] irvifa opened #13852 "Translate Overview of Kubernetes Concepts in Bahasa Indonesia"
**This is a Feature Request**

**What would you like to be added**
what-is-kubernetes.md
kubernetes-api.md
components.md

**Why is this needed**
Before we're moving forward to create more documentations on Kubernetes API I think it's important to create the basic understanding about Kubernetes first.

**Comments**

[2019-04-17 03:20] irvifa commented on #13852
/language id
/assign

[2019-04-17 03:59] surajsunrays commented on #13814
Yes. and its working fine for me.

[2019-04-17 06:06] #12815 closed

[2019-04-17 08:00] irvifa opened #13854 "Translate Kubernetes' Architecture in Bahasa Indonesia"
**This is a Feature Request**

**What would you like to be added**
master-node-communication.md
nodes.md

**Why is this needed**
This is important steps to understand better concept of Kubernetes architecture and part of fundamentals before we can go deeper on more advanced topics.

**Comments**

[2019-04-17 08:00] irvifa commented on #13854
/language id
/assign

[2019-04-17 09:01] Tonterias opened #13856 "Issue with k8s.io/docs/tasks/run-application/run-single-instance-stateful-application/"
**This is a Bug Report**

**Problem:** Your example does not work (at least in the GCP current kubernetes version)

**Proposed Solution:**
Delete the PV and use the Storage Class and it works

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-pv-claim
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
---
kind: Storag

[2019-04-17 11:09] rajeshdeshpande02 commented on #13856
@Tonterias Thanks for raising the issue. But this documentation is general and not specific to any cloud. So adding a cloud provider specific things here is not good idea. Can you please share errors you are getting so that we can analyze further.

[2019-04-17 11:30] irvifa commented on #13854
/unnasign

[2019-04-17 11:34] irvifa opened #13858 "Translate Kubernetes Contribution's Code of Conduct in Bahasa Indonesia"
**This is a Feature Request**

**What would you like to be added**
code-of-conduct.md

**Why is this needed**
Contributions code of conduct is important to be understood before someone contribute to Bahasa Indonesia localization.

**Comments**

[2019-04-17 11:34] irvifa commented on #13858
/language id

[2019-04-17 11:51] #13722 closed

[2019-04-17 13:15] girikuncoro opened #13860 "Define writing style guide for Indonesian translated docs"
**This is a Feature Request**

**What would you like to be added**
Translate https://kubernetes.io/docs/contribute/style/style-guide/ and define our own writing style guide

**Why is this needed**
Writing Indonesian docs for technical stuffs is not an easy task, because of the nature of the language and the way we import various English words. We need to standardize the way Indonesian translated d

[2019-04-17 13:38] thecrudge commented on #13807
Hi @shahamit2 , have you looked at the below documentation:

https://kubernetes.io/docs/tasks/administer-cluster/cluster-management/#advanced-topics

Do you think we should include this in the kubernetes-api page?

[2019-04-17 15:38] KurtRMueller commented on #8186
This happens to me using Firefox Developer Edition, v67.0b9. I'll copy the code to my clipboard, a dialog box pops up telling me I've copied code to the clipboard, and the browser goes back up to the top of the page.

[2019-04-17 15:47] KurtRMueller commented on #8186
/reopen

[2019-04-17 15:48] vllry commented on #8186
/reopen

[2019-04-17 18:32] oomichi opened #13862 "Consistent order in sample yaml files"
**This is a Bug Report**

**Problem:**

Under https://kubernetes.io/docs the order of elements in most sample yaml files are like
[code]
but the orders of some sample files are different like:
[code]
or
[code]
and that lets readers a little confused.

**Proposed Solution:**

Nice to make these orders consistent in whole doc.

**Page to Update:**
https://kubernetes.io/docs/concepts/configuration/se

[2019-04-17 21:50] zacharysarah opened #13864 "Add PR wrangler process to contributor docs"
## Feature request

**What to add**

1. Identify process-related content from the wiki page for [PR wranglers](https://github.com/kubernetes/website/wiki/PR-Wranglers).
2. Extract process content from the wiki and add it to the [K8s contributor guidelines](https://kubernetes.io/docs/contribute/).
3. Clean up schedule-related content in the wiki.

**Why is this needed?**

We need to add PR wrangler

[2019-04-17 21:50] zacharysarah commented on #13864
/assign @shavidissa

[2019-04-17 23:35] jingxu97 opened #13865 "Document for read only mounts on atomic writer volume (secrets, configMap, downwardAPI etc.)"
**This is a Bug Report**

After the security fix https://github.com/kubernetes/kubernetes/issues/60814, now all the atomic writer volume such as secrets, configMap will be mounted as read only file system in containers no matter what the file permission is set in DefaultMode. However the documentation about this breaking change is not very clear on our kubernetes io such as here https://kubernetes

[2019-04-17 23:37] jingxu97 commented on #13865
cc /sig storage

[2019-04-18 07:11] DanyC97 commented on #13864
@shavidissa just a quick note to mention that there is already some info in the [contributor section](https://kubernetes.io/docs/contribute/advanced/#be-the-pr-wrangler-for-a-week) so maybe you want to create its own page to be visible once you merge with the points @zacharysarah made.

[2019-04-18 08:13] Vageesha17 commented on #13862
working on this issue..would be a good start.

[2019-04-18 08:41] shub-asa1 opened #13869 "Issue with k8s invalid link referred by "this guide" in docs k8s.io/docs/reference/setup-tools/kubeadm/kubeadm-upgrade/"
**This is a Bug Report**

**Problem:**
Invalid link referred by "this guide" in "In Kubernetes v1.11.0 and later, you can use kubeadm upgrade diff to see the changes that would be applied to static pod manifests.
To use kube-dns with upgrades in Kubernetes v1.13.0 and later please follow this guide"
It was supposed to redirect to k8's docs page but invalid link reference of " this guide" leads to

[2019-04-18 09:00] shub-asa1 opened #13871 "Issue with k8s invalid link referred by "kubefed unjoin" in docs k8s.io/docs/tasks/federation/set-up-cluster-federation-kubefed/"
**This is a Bug Report**

**Problem:**
Invalid link referred by "kubefed unjoin" in "To remove a cluster from a federation, run the kubefed unjoin command with the cluster name and the federation’s."
It was supposed to redirect to k8's docs but invalid link reference of "kubefed unjoin" leads to error 404 page not found.

**Proposed Solution:**
Linking "kubefed unjoin" in "To remove a cluster from

[2019-04-18 11:46] bep opened #13873 "Update to Hugo 0.55.2"
I would strongly recommend that you update to the latest Hugo 0.55.2 -- it fixes some relevant issues for this repo.

[2019-04-18 12:33] DanyC97 commented on #13873
curious @bep do you have few examples around relevant issues ?
/cc @lucperkins

[2019-04-18 12:49] bep commented on #13873
The main issue I thinking about is in the merging of content for the translated languages, where there now are some duplicated menu items etc. in the non-English language versions.

[2019-04-18 20:44] QWERTY92009 opened #13884 "Issue with k8s.io/docs/setup/certificates/"
**This is a Bug Report**

There is an inconsistency in the nomenclature between the table in the portion "All Certificates" and the table in the portion "Certificate Paths".  kube-apiserver-etcd-client and kube-apiserver-kubelet-client in "All Certificates" apparently are named apiserver-etcd-client and apiserver-kubelet-client in "Certificate Paths".

**Proposed Solution:**
Change the nomenclatur

[2019-04-18 21:05] Tiedye commented on #10675
Well it seems nobody cares.

[2019-04-18 21:05] #10675 closed

[2019-04-18 23:19] cincodenada commented on #12852
Was about to submit a PR for this. In the meantime, the note should just be removed - it's totally useless, as the Minikube README now just has a TL;DR with a link back to these docs for full information.

[2019-04-19 00:30] hasebe opened #13885 "Translate /docs/concepts/ into Japanese"
**This is a...**

- [x] Feature Request
- [ ] Bug Report

**Problem:**
No /docs/concepts/ in Japanese.

**Proposed Solution:**
Translate /docs/concepts/ into Japanese.
Copy from en content and update ```website/content/ja/docs/concepts/index.html```.

**Page to Update:**
https://kubernetes.io/ja/docs/concepts/

[2019-04-19 00:30] hasebe commented on #13885
/language ja

[2019-04-19 00:31] hasebe commented on #13885
/milestone 1.14-ja.1

[2019-04-19 01:31] pankaj-mymail1 commented on #13814
I am running kubernetes 1.13 and kubectl 1.13,can I start using 1.14 it the kubernetes version is 1.13 ?

[2019-04-19 01:41] cstoku commented on #13885
/milestone 1.14-ja.1

[2019-04-19 02:03] seokho-son commented on #13738
Hello @gochist. If someone is not working on.., I hope to take "docs/concepts, contribute, reference" parts.

[2019-04-19 05:06] seokho-son commented on #13738
@gochist. I opened a PR for docs/concepts, contribute, reference" parts
#13890

[2019-04-19 08:11] yoonian commented on #13738
@gochist
`docs/tutorials/*` and `includes/*` were processed already except `docs/tutorials/configuration/configure-redis-using-configmap.md`. So I opened a PR for it.

[2019-04-19 09:00] gochist commented on #13738
@yoonian @seokho-son Thank you for your contribution! I'll update the rest of outdated files until the team milestone code freeze(Apr 20).

[2019-04-19 09:10] shub-asa1 opened #13892 "Issue with https://kubernetes.io/docs/setup/certificates/#certificate-paths .in this table various recommend key paths are missing"
**This is a Bug Report**

**Problem:**
In  certificate-path table, recommend key path for certificates are missing.
This is the list of certificates-
1. kubernetes-ca
2. apiserver-kubelet-client
3.  front-proxy-ca
4. etcd-ca

**Proposed Solution:**
Add key path in recommend key path section that are  linked to these certificates.
**Page to Update:**
https://kubernetes.io/docs/setup/certificates/#c

[2019-04-19 09:19] surajsunrays commented on #13814
Yeah. you can start using it. for these bug, you can refer this repository. https://github.com/IBM/scalable-wordpress-deployment-on-kubernetes
I tried it my side and everything like PV , PVC all are working fine.

[2019-04-19 12:45] #10998 closed

[2019-04-19 14:47] #11095 closed

[2019-04-19 15:44] neolit123 commented on #13869
thanks for the PR to fix this!
/close

[2019-04-19 15:44] #13869 closed

[2019-04-19 16:25] #11285 closed

[2019-04-20 00:29] jimangel opened #13904 "Relocate reference generation tooling from Kubernetes Incubator"
@mrbobbytables brought to my attention during the 1.14 cycle that the Kubernetes Incubator repo is sort of "[pre-retirement.](https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#faq)"

Given that our reference-docs tooling lives there, we should consider moving it out to a SIG or Core repository described in the above link.

Also, since we rely heavily

[2019-04-20 00:46] jimangel opened #13905 "Tracking the deprecation of Fedv1 API"
Federation v1 has been deprecated in favor of Federation v2. I have worked with #sig-multicluster to come up with a plan to phase out the old and bring in the new.

I'm opening this issue to track deprecating the Federation v1 generation docs

- [ x ] Delete all pages generated for Fedv1 (https://kubernetes.io/docs/reference/federation/)
- [ x ] Remove generated Fedv1 docs:
    - https://kubernete

[2019-04-20 00:57] #11141 closed

[2019-04-20 05:28] daminisatya opened #13907 "Label for Hindi localization efforts."

[2019-04-20 06:48] Rajesh0789 opened #13908 "Issue with k8s.io/docs/tutorials/kubernetes-basics/"

[2019-04-20 07:00] mittalyashu opened #13909 "Translate readme.md in hindi"
**What would you like to be added**

Translated the `readme.md` file to the Hindi language.

**Why is this needed**

Extending the community of Kubernestes by adding support for the native language of India.

[2019-04-20 08:40] mittalyashu opened #13911 "Translate partners/ in hindi"
**What would you like to be added**
Partners are one of the most important of any project, that's why the translation of the partner's page is required.

**Comments**
Since `partners/**` has a single file, it will be easy to get started for new contributors.

[2019-04-20 09:03] Amanchouhan192 opened #13913 "Translate docs/contribute/localization to Hindi"
**what would you like to be added**
I am translating **Localizing Kubernetes Documentation** in Hindi, for Hindi contributors and it will help them to understand how can they start.

[2019-04-20 09:21] mittalyashu commented on #13913
About which directory or file this issue is for? @Amanchouhan192

[2019-04-20 09:47] Amanchouhan192 commented on #13913
this one https://kubernetes.io/docs/contribute/localization/ @mittalyashu

[2019-04-20 09:54] mittalyashu commented on #13913
Okay.

Can you change the title, just to make it more understandable, like: "Translate docs/contribute/localization to Hindi"

[2019-04-20 12:11] saarques commented on #13911
Taking this task for translation.

[2019-04-20 12:22] mittalyashu opened #13914 "Translate docs/home in Hindi"
**What would you like to be added?**

This directory needs to be translated since it is considered as a minimum requirement for a new language.

PR for this issue is https://github.com/kubernetes/website/pull/14069

[2019-04-20 12:23] mittalyashu commented on #13914
I am working on this issue.

[2019-04-20 13:45] sekannia opened #13917 "Issue with k8s.io/docs/tasks/administer-cluster/ip-masq-agent/"
**This is a Bug Report**

The IP address in the example diagram needs to represent correct ip4 address.  The PodA,PodB are given 10.1.1.1.2.

**Problem:**
The IP address in the example diagram needs to represent correct ip4 address.  The PodA,PodB are given 10.1.1.1.2. Four dots in address space.
**Proposed Solution:**
Change to correct ip address format
**Page to Update:**
k8s.io/docs/tasks/admin

[2019-04-20 15:57] Amanchouhan192 commented on #13913
@mittalyashu  done!!

[2019-04-20 20:06] avidLearnerInProgress opened #13919 "Localise update-imported-docs/README.md to Hindi"
**What would you like to be added**
I am translating readme document for the script which updates doc files in Hindi.

**Why is this needed**
This, in turn, will help the Hindi contributors understand the functionality of the script.

This issue is closed by https://github.com/kubernetes/website/pull/13936

[2019-04-21 01:10] jidroid404 opened #13922 "Localization of Concepts section to Hindi"
Original documentation page hosted : https://kubernetes.io/docs/concepts/

Markdown file to be translated : https://github.com/kubernetes/website/edit/master/content/en/docs/concepts/_index.md

[2019-04-21 02:54] avidLearnerInProgress opened #13923 "Translate Kubernetes contribution guide to Hindi"
**What would you like to be added**
Hindi translation for the Kubernetes contribution guide:
https://github.com/kubernetes/community/tree/master/contributors/guide

**Why is this needed**
 This will help the Hindi contributors understand the contribution guide

[2019-04-21 03:21] #13923 closed

[2019-04-21 03:22] avidLearnerInProgress commented on #13923
This has been done already.!

[2019-04-21 03:34] rkemmoe opened #13924 "Issue with k8s.io/docs/tutorials/configuration/configure-redis-using-configmap/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-04-21 03:49] rkemmoe opened #13925 "Issue with k8s.io/docs/tasks/access-application-cluster/create-external-load-balancer/"
**This is a Bug Report**

**Problem:**

**Proposed Solution:**

**Page to Update:**
https://kubernetes.io/...

[2019-04-21 04:14] avidLearnerInProgress opened #13926 "Localising Stateless applications sub-section to Hindi"
**What would you like to be added**

Markdown to be translated:-
- https://github.com/kubernetes/website/edit/master/content/en/docs/tutorials/stateless-application/expose-external-ip-address.md
- https://github.com/kubernetes/website/edit/master/content/en/docs/tutorials/stateless-application/guestbook.md

[2019-04-21 06:16] dev1983 opened #13928 "Issue with k8s.io/docs/tasks/tls/certificate-rotation/"
**This is a Bug Report**

Kubernetes GitVersion:"v1.14.0"

**Problem:**
kubelet --rotate-certificates --feature-gates=RotateKubeletClientCertificate=true Flag --rotate-certificates has been deprecated, This parameter should be set via the config file specified by the Kubelet's --config flag. See https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config-file/ for more information.
**Propos

[2019-04-21 08:37] girikuncoro opened #13929 "Tracking Indonesian Translation Progress (M1)"
## Maintainers
* @girikuncoro
* @irvifa

## For New Contributors
To translate a page:
1. Check that no one else has claimed your page in the checklist and comments below.
2. Comment below with the name of the page you would like to translate. Take only one page at a time.
3. Fork this repo, make your translations, and submit a pull request with `language/id` label!

For more detailed instruction,

[2019-04-21 09:13] girikuncoro commented on #13929
I'm taking Cluster Administration Overview for `Cluster Administration (content/id/docs/concepts/cluster-administration)` next

[2019-04-21 09:18] irvifa commented on #13929
I'm taking `Services Networking` section for my own milestones and separate it for few PR.

[2019-04-21 09:39] #13854 closed

[2019-04-21 09:44] irvifa opened #13932 "Translate Ingress Controllers in Bahasa Indonesia"
**This is a Feature Request**

**What would you like to be added**

ingress-controllers.md

**Why is this needed**
This knowledge is needed in case someone wants to use non-default controllers.

**Comments**

[2019-04-21 09:45] irvifa commented on #13932
/lang id

[2019-04-21 10:05] girikuncoro commented on #13929
I'm taking page `proxies` of Cluster Administration (content/id/docs/concepts/cluster-administration)

[2019-04-21 10:35] qbl commented on #13929
I'm taking `Declarative Config` of Overview (content/id/docs/concepts/overview)

[2019-04-21 10:42] irvifa opened #13933 "Translate Ingress in Bahasa Indonesia"
**This is a Feature Request**

**What would you like to be added**
ingress.md

**Why is this needed**
Before one can create an ingress controller, fundamental about ingress is needed.

**Comments**

[2019-04-21 10:42] irvifa commented on #13933
/language id

[2019-04-21 10:42] irvifa commented on #13933
/assign @irvifa

[2019-04-21 10:42] irvifa commented on #13932
/assign @irvifa

[2019-04-21 22:41] femrtnz opened #13939 "Tracking Portuguese Translation Progress (M1)"
## Maintainers
* @femrtnz
* @jcjesus
* @devlware
* @jhonmike

## For New Contributors
To translate a page:
1. Check that no one else has claimed your page in the checklist and comments below.
2. Comment below with the name of the page you would like to translate. Take only one page at a time.
3. Fork this repo, make your localisations, and submit a pull request following the name convention `[Add/

[2019-04-21 22:50] femrtnz opened #13940 "Translate content/id/docs/concepts/architecture/Controller to portuguese"
Translate content/id/docs/concepts/architecture/ `Concepts Underlying the Cloud Controller Manager` to portuguese

[2019-04-21 23:07] MiloATH opened #13941 "Merge conflict visible on site"
**This is a Bug Report**

**Problem:** https://kubernetes.io/docs/setup/pick-right-solution/ renders with a visible merge conflict. Can see <<<< HEAD ... >>>>> upstream/master. See image.

<img width="1326" alt="Screen Shot 2019-04-21 at 7 02 22 PM" src="https://user-images.githubusercontent.com/12666146/56476602-71322980-6468-11e9-9d59-d01b0007099f.png">

**Proposed Solution:**

Find and remove m

[2019-04-21 23:29] jmyung opened #13943 "Translate concepts/services-networking/service in Korean"
**This is a Feature Request**

**What would you like to be added**

Translation concepts/services-networking/service in Korean

**Why is this needed**
There is no translation concepts/services-networking/service in Korean

**Comments**

[2019-04-21 23:29] jmyung commented on #13943
/assign

[2019-04-21 23:43] #11186 closed

[2019-04-22 02:20] avidLearnerInProgress commented on #13919
https://github.com/kubernetes/website/pull/13936

[2019-04-22 03:54] #13941 closed

[2019-04-22 04:21] Vageesha17 commented on #13917
hey  @sekannia , the page you provided to update is showing 404 error.Kindly provide the correct url so that this issue can be resolved.

[2019-04-22 05:32] #13759 closed

[2019-04-22 06:19] remyleone commented on #13929
You can also use this script to know if a given file is touched by which PR: https://github.com/kubernetes/website/blob/master/scripts/find_pr.py By doing so, you can have a single source of truth about whether a file is currently being modified or not.

[2019-04-22 06:26] gochist commented on #11854
This issue is in progress by #13927
/remove-lifecycle rotten

[2019-04-22 07:53] dev1983 commented on #13673
i am also facing it

[2019-04-22 08:02] saarques opened #13947 "Localisation of website/layouts to Hindi"
**What would you like to be added**
Translate docs to Hindi in this folder.

**Why is this needed**
This is needed to localize the docs in Hindi.

This issue is closed by https://github.com/kubernetes/website/pull/13950

[2019-04-22 08:03] saarques commented on #13947
Translating https://github.com/kubernetes/website/blob/master/layouts/404.html first.

[2019-04-22 08:06] raelga opened #13948 "Tracking Spanish Localisation Progress (M1)"
## Maintainers

* @raelga

## Meetings

Weekly Team Meeting at [Tuesdays at 15:30 UTC](https://zoom.us/j/95918289494?pwd=Wk9Oa0xZUkFXSDV5OTFoZEZsTURCZz09)

## For New Contributors

To translate a page:

1. Check that no one else has claimed your page in the checklist and comments below.
2. Comment below with the name of the page you would like to translate. Take only one page at a time.
3. Fork th

[2019-04-22 08:25] saarques commented on #13947
https://github.com/kubernetes/website/blob/master/layouts/404.html done.
Translating https://github.com/kubernetes/website/blob/master/layouts/blog/baseof.html now.

[2019-04-22 08:33] saarques commented on #13947
Translation of https://github.com/kubernetes/website/blob/master/layouts/blog/baseof.html in ../baseof-hi.html done.

[2019-04-22 08:53] saarques commented on #13947
Created PR #13950 for this issue.

[2019-04-22 10:22] hasebe opened #13952 "Translate /concepts/overview/working-with-objects/kubernetes-objects/ into Japanese"
**This is a...**
- [x] Feature Request
- [ ] Bug Report

**Problem:**
No /concepts/overview/working-with-objects/kubernetes-objects/ in Japanese.

**Proposed Solution:**
Translate /concepts/overview/working-with-objects/kubernetes-objects/ into Japanese.
Copy from en content and update `website/content/ja/docs/concepts/overview/working-with-objects/kubernetes-objects.md`.

**Page to Update:**
http