[2022-06-07 11:09] taniaduggal commented on #33312
/assign

[2022-06-07 11:20] taniaduggal commented on #33780
/assign

[2022-06-07 11:21] Santosh1176 commented on #34054
Hey @kranurag7, I hope all is well, if you are busy with other chores can I take up and work on this issue?

@mehabhalodiya @sftim

[2022-06-07 11:24] kranurag7 commented on #34054
@Santosh1176 I see this issue in the triage section [here](https://github.com/orgs/kubernetes/projects/54#card-82854900). I'm waiting for the response from the sig-auth team.

[2022-06-07 11:27] taniaduggal commented on #33548
/assign

[2022-06-07 11:29] taniaduggal commented on #33414
/assign

[2022-06-07 11:41] Sea-n commented on #33780
Hey @taniaduggal, are you trying to help with this issue? There is already another PR done this, please take a look at above comments.

[2022-06-07 12:03] 889-dj commented on #30965
/assign

[2022-06-07 12:41] mehabhalodiya commented on #34054
@kranurag7 I will highly recommend you to post this issue (requesting triage) on the Slack #sig-auth channel, for confirmation.

[2022-06-07 12:51] windsonsea opened #34158 "[zh] Umbrella - reference/kubernetes-api/config-and-storage-resources"
This is an umbrella issue for API reference docs that are out of sync for `zh` localization. The difference is captured on 2022-06-07, so the list may become outdated soon. Please do run the `scripts/lsync.sh` again before working on any file below.

Could @tengqm give me a favor to check if the sequence below is applicable or not? I'm not sure the dependency-related issue that may cause a merge-r

[2022-06-07 13:01] marco74 commented on #33795
After having a look at https://github.com/kubernetes/kubernetes/issues/105762 I found a solution, that solves the restart problem on Debian 11. I do not use Ubuntu, therefore feel free to also test it on Ubuntu 22.04.

With the hint I updated `/etc/containerd/config.toml`:

[code]

With this I got the stack running without restarts, also the network initialization works very smooth. My suggestion

[2022-06-07 13:09] sftim commented on #33957
How about: start a new issue about adding that section (across the site), and the discussion can happen there.

[2022-06-07 13:18] subhamgcon commented on #31483
@sftim Yes, you suggested rephrasing the sentence so that the user lands on the CNCF landscape page and so that it is cleared the Kubernetes doesn’t recommend using any project at all, it is up to the user.  Am I right?

[2022-06-07 14:17] ikswdev opened #34165 "Links to design-proposals are broken"
[Kubernetes Protobuf serialization](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/api-machinery/protobuf.md) link is broken

[2022-06-07 14:27] windsonsea commented on #34158
/triage accepted
/language zh

[2022-06-07 14:37] divya-mohan0209 commented on #34165
@ikswdev : Could you add details where you found this link broken on the website in the description of this issue?
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/api-machinery/protobuf.md

[2022-06-07 16:11] chrismetz09 commented on #31960
Updates:
1. Installed [docsy-example](https://github.com/google/docsy-example), coded up mermaid diagram (no shortcode) and all worked fine.
2. updated bootstrap, popper, jquery, mermaid and Hugo (0.93.0 extended) in the appropriate locations in `scripts.html` and `head.html`. Did not work.
3. Tried loading these packages in different order. Did not work.

Don't see syntax error anymore on reloads

[2022-06-07 16:17] birbilis opened #34167 "Mermaid diagram on 'Authenticating' page is unreadable"
Diagram text looks a bit messed up on Firefox/Win11:

![image](https://user-images.githubusercontent.com/3461504/172431210-aaed9481-f52a-45e5-b66b-236ab5b54740.png)

[2022-06-07 16:21] sftim commented on #31960
A related thing to try: start with only Docsy and no other JavaScript, and the CSS (or SCSS) as simple as we can make it, eg plain Docsy. Add Mermaid. See if _that_ works. Assuming it does, gradually add back more of the page<sup>†</sup> until we find what's breaking it.

 † this could be a binary search, based on adding back half of the CSS at a time and seeing which half causes problems for the

[2022-06-07 16:22] sftim commented on #31960
@chrismetz09 folks from the SIG could maybe plan in some time to pair on this, could that be helpful?

[2022-06-07 16:27] chrismetz09 commented on #31960
Okay, will systematically run thru the iterations beginning with docsy. Should not take long as I have it all setup.

Yes, pairing would be great. Heading over to slack to request assistance. Tx @sftim

[2022-06-07 16:29] chrismetz09 commented on #31960
Also scanned PRs by date range (`is:pr merged:2022-02-01..2022-05-01`) and nothing stood out that would cause problem.

[2022-06-07 17:11] NitishKumar06 commented on #34165
@divya-mohan0209 I think he means that the above link is not working when we try to open it since it shows 'Page not found'. Am I guessing right? @ikswdev

[2022-06-07 17:13] #29960 closed

[2022-06-07 18:34] ManriqueGarcia commented on #30144
Hi, I am not surewhich repository I have to choose make the  pull request.

Regards

[2022-06-07 19:13] #30051 closed

[2022-06-07 23:32] jihoon-seo commented on #34165
@divya-mohan0209 I guess that the page is:
https://kubernetes.io/docs/concepts/overview/kubernetes-api/#:~:text=Kubernetes%20Protobuf%20serialization

This issue will be resolved by the PR #34155.

/triage accepted
/kind bug

[2022-06-07 23:37] jihoon-seo commented on #34167
Thank you for spotting the problem.
This is a duplicate of #32420.

/triage duplicate
/retitle Mermaid diagram on 'Authenticating' page is unreadable

[2022-06-07 23:39] jihoon-seo commented on #34165
/language en
/retitle Links to design-proposals are broken

[2022-06-07 23:50] jihoon-seo commented on #33464
This issue has been resolved by the PR #33220.
And I confirm that in `content/en/`, there exists no link that points to `debug-application-cluster/**.md`.
/close

[2022-06-07 23:50] #33464 closed

[2022-06-07 23:51] jihoon-seo commented on #33244
This issue has been resolved by the PR #33220.
And I confirm that in `content/en/`, there exists no link that points to `debug-application-cluster/**.md`.
/close

[2022-06-07 23:51] #33244 closed

[2022-06-07 23:52] jihoon-seo commented on #33345
This issue has been resolved by the PR #33220.
And I confirm that in `content/en/`, there exists no link that points to `debug-application-cluster/**.md`.
/close

[2022-06-07 23:52] #33345 closed

[2022-06-07 23:52] jihoon-seo commented on #33227
This issue has been resolved by the PR #33220.
And I confirm that in `content/en/`, there exists no link that points to `debug-application-cluster/**.md`.
/close

[2022-06-07 23:52] #33227 closed

[2022-06-08 00:02] ziyi-xie opened #34170 "[ja] Translate docs/concepts/workloads/controllers/job.md into Japanese"
**This is a Feature Request**

**What would you like to be added**

Japanese translation for the [docs/concepts/workloads/controllers/job.md](https://kubernetes.io/docs/concepts/workloads/controllers/job/) file

**Why is this needed**
This page has not been translated

**Comments**

/language ja
/assign

[2022-06-08 00:42] jihoon-seo commented on #32207
I googled and found some related issues:
- https://github.com/kubernetes/release/issues/1982
- https://github.com/kubernetes/kubernetes/issues/100757
- https://github.com/kubernetes/kubernetes/issues/60134

And here is a [suggestion](https://github.com/kubernetes/release/issues/1982#issuecomment-1081068425) from @BenTheElder:

---

So my suggestion for K8s Docs is:

In `content/en/docs/setup/produ

[2022-06-08 01:04] NitishKumar06 commented on #34170
@ziyi-xie Do you need some help from my side to work on this issue? If Yes, I'd love to do so.

[2022-06-08 01:32] ziyi-xie commented on #34170
@NitishKumar06 Thank you so much! I'm currently working on it and haven't concurred any problem yet, but I think I might definitely need help during this process. Could I ask for your opinion or help at that time?

[2022-06-08 02:25] Sea-n commented on #31555
As [previous comment](https://github.com/kubernetes/website/issues/31555#issuecomment-1032114695), the problem have been resolved.
/close

[2022-06-08 02:25] #31555 closed

[2022-06-08 02:31] #32984 closed

[2022-06-08 03:14] #31252 closed

[2022-06-08 04:14] Babapool commented on #33227
I would like to work on this issue. Thanks.
/assign

[2022-06-08 04:26] Babapool commented on #33227
@jihoon-seo The `Whats Next` section of the https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/ is leading to 404 error. Could please double check it and if the error is there, can I go ahead and work on the issue?

[2022-06-08 04:47] NitishKumar06 commented on #34143
New PR https://github.com/kubernetes/website/pull/34173 has been raised for this issue.

[2022-06-08 04:52] jihoon-seo commented on #33227
@Babapool Yes I see 404 too. Please go ahead!

[Suggestions]
In `content/en/docs/tasks/debug/debug-application/debug-service.md`

[code]

[2022-06-08 04:54] Babapool commented on #33227
Sure I will create a new issue and label it as good first issue so that new contributors can work on it :)

[2022-06-08 05:05] kranurag7 commented on #34054
Thank you @mehabhalodiya I will ask this in the respective Slack channel.

[2022-06-08 05:14] Babapool opened #34174 "404 Error in en/docs/tasks/debug/debug-application/debug-service/"
**This is a Bug Report**

**Problem:**
On the page https://kubernetes.io/docs/tasks/debug/debug-application/debug-service/ we find :
- 404 error in the [What's next](https://kubernetes.io/docs/tasks/debug/debug-application/debug-service/#seek-help) section .
- The `slack` link is also wrong in the [Seeking help](https://kubernetes.io/docs/tasks/debug/debug-application/debug-service/#seek-help) sec

[2022-06-08 05:15] Babapool commented on #33227
Created a new issue 👍  . Thanks @jihoon-seo

[2022-06-08 05:18] jihoon-seo commented on #34174
/triage accepted
/language en

[2022-06-08 05:22] Babapool commented on #34174
I think new contributors can work on this issue.
/good-first-issue

[2022-06-08 06:49] Sea-n commented on #32134
The latter is available in the new URL.
https://kubernetes.io/zh/docs/tutorials/security/apparmor/

Close as completed.
/close

[2022-06-08 06:49] #32134 closed

[2022-06-08 07:10] ArkaSaha30 commented on #34174
/assign @ArkaSaha30

[2022-06-08 08:01] sftim commented on #32207
At a minimum, we should explain in a comment why this setting is OK. Otherwise folks are bound to ask / file issues / etc.

Better would be to migrate away from recommending Google-made packages. It'd be better to be wholly neutral of vendors here (publish our own packages); failing that, we can provide links to packages from Linux distributions:
- Fedora
- Ubuntu
- Debian

etc.

[2022-06-08 08:06] zhangxyjlu opened #34177 "[zh] Resync kubelet credentialprovider.v1alpha1"
Translate Chinese version for reference/config-api/kubelet-credentialprovider.v1alpha1.md

Comments
/language zh
/assign

[2022-06-08 08:53] raelga commented on #30144
Hello @ManriqueGarcia , the feature gate definition should go here:

https://github.com/kubernetes/website/tree/main/content/es/docs/reference/glossary

[2022-06-08 08:58] jihoon-seo commented on #32207
@sftim As far as I digged:

[Fedora]
It seems that in the official Fedora packages repo (https://packages.fedoraproject.org/),
- the `kubernetes-kubeadm` package exists: https://packages.fedoraproject.org/pkgs/kubernetes/kubernetes-kubeadm/
- there is no `kubectl` package; see https://packages.fedoraproject.org/search?query=kubectl
  - but there exists a [package `kubernetes-client`](https://packa

[2022-06-08 09:28] BenTheElder commented on #32207
To be clear: the packaging sources are in k/release despite being built on my workstation often (needlessly! there's no real reason this can't be part of the Kubernetes release cloud build, we just block changes to the packaging ...), the packages themselves are defined by the project.

The google specific part is the package hosting and signing, which piggybacks on the GCP package host.

It would

[2022-06-08 09:29] BenTheElder commented on #32207
https://github.com/kubernetes/release/issues/913

[2022-06-08 09:29] BenTheElder commented on #32207
https://github.com/kubernetes/release/issues/913#issuecomment-1081121833

[2022-06-08 09:45] sftim commented on #33849
Plan LGTM. Thanks.

[2022-06-08 10:01] jihoon-seo opened #34178 "`api-reference` shortcode is not working in localized pages"
**This is a Bug Report**

**Problem:**
`api-reference` shortcode is not working in localized pages.
@s-kawamura-w664 found this in the PR #32658.

- en: https://kubernetes.io/docs/contribute/style/hugo-shortcodes/#links-to-api-reference
- ja: https://deploy-preview-32658--kubernetes-io-main-staging.netlify.app/ja/docs/contribute/style/hugo-shortcodes/#api%E3%83%AA%E3%83%95%E3%82%A1%E3%83%AC%E3%83%

[2022-06-08 10:04] #34174 closed

[2022-06-08 10:04] tengqm commented on #34177
/triage accepted

[2022-06-08 10:11] jihoon-seo commented on #34178
After we resolve this, it might be great to backport this fix.

[2022-06-08 10:42] sftim commented on #34178
/triage accepted
/area localization

[2022-06-08 10:43] sftim commented on #32420
The fix I recommend: https://github.com/kubernetes/website/issues/32420#issuecomment-1075476014

[2022-06-08 10:43] sftim commented on #34139
/retitle Clarify which releases include Pod Security admission by default

[2022-06-08 11:02] ikswdev commented on #34165
Yes.

From: Nitish Kumar ***@***.***>
Sent: Tuesday, June 7, 2022 1:12 PM
To: kubernetes/website ***@***.***>
Cc: ikswdev ***@***.***>; Mention ***@***.***>
Subject: Re: [kubernetes/website] The Kubernetes API (Issue #34165)

@divya-mohan0209 <https://github.com/divya-mohan0209>  I think he means that the above link is not working when we try to open it since it shows 'Page not found'. Am I guessi

[2022-06-08 12:08] justmike1 opened #34179 "Improvement for k8s.io/docs/tasks/tools/install-kubectl-linux/ -- install kubectl-convert for mac users"
### 3. Install kubectl-convert

[code]

---------->

### 3. Install kubectl-convert

For linux users:
[code]

For macos users:
[code]

### Context

without changing `root` to `wheel` the command will fail on `install: root: Invalid argument`

### Reason

`wheel` is the default for BSD systems https://github.com/weiss/original-bsd/blame/master/etc/group

[2022-06-08 12:24] justmike1 commented on #34179
Even with the command
[code]
I don't get any errors on installation but on command I get now
[code]

[2022-06-08 12:29] justmike1 commented on #34179
nvm was on linux section

[2022-06-08 16:40] kadtendulkar opened #34182 "Update broken link on Cluster Networking page."
**Problem:**
The link https://github.com/kubernetes/community/blob/master/contributors/design-proposals/network/networking.md is dead.
see the text '[networking design document](https://git.k8s.io/community/contributors/design-proposals/network/networking.md).' on the [Link](https://kubernetes.io/docs/concepts/cluster-administration/networking/) to know more about the issue.

**Proposed Solution:*

[2022-06-08 17:43] barley-benincasa opened #34183 "Improvement for k8s.io/docs/setup/release/version-skew-policy/"
Repeatedly now, when running `kubectl version`, I receive:

`WARNING: version difference between client (1.24) and server (1.22) exceeds the supported minor version skew`

Problem:  I am now having trouble with a cluster in DigitalOcean, but have no idea whether the two are related.

Moreover, how does one remedy that?  Searches have proved fruitless.

Would be great is docs supplied some more det

[2022-06-08 18:38] #34143 closed

[2022-06-08 18:53] tewarig commented on #34182
can i work on this ?

[2022-06-08 20:58] #34121 closed

[2022-06-08 23:28] reylejano commented on #31955
/remove-lifecycle stale

[2022-06-09 00:37] jihoon-seo commented on #34183
/kind support
It seems that you could downgrade your `kubectl` to `1.22`.

[2022-06-09 02:00] twilight0620 opened #34185 "[zh]kubernetes-api/workload-resources/horizontal-pod-autoscaler-v1/ does not has chinese version"
Problem:
do not have chinese docs: https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/horizontal-pod-autoscaler-v1/

Proposed Solution:
add chinese docs in website

Comments
/language zh
/assign

[2022-06-09 02:01] twilight0620 opened #34186 "[zh]kubernetes-api/workload-resources/horizontal-pod-autoscaler-v2/ does not has chinese version"
Problem:
do not have chinese docs: https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/horizontal-pod-autoscaler-v2/

Proposed Solution:
add chinese docs in website

Comments
/language zh
/assign

[2022-06-09 02:02] twilight0620 opened #34187 "[zh]kubernetes-api/workload-resources/horizontal-pod-autoscaler-v2beta2/ does not has chinese version"
Problem:
do not have chinese docs: https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/horizontal-pod-autoscaler-v2beta2/

Proposed Solution:
add chinese docs in website

Comments
/language zh
/assign

[2022-06-09 02:18] #34150 closed

[2022-06-09 03:38] NitishKumar06 commented on #34170
@ziyi-xie Sure, Please feel free to reach out to me for any help you require. I'd be happy !

[2022-06-09 03:39] NitishKumar06 commented on #34170
Hey @Sea-n , I'm not a Japanese Speaker but I understand some words of Japanese and currently learning the language as well.

[2022-06-09 06:02] jihoon-seo commented on #34182
@kadtendulkar @tewarig Please note that the PR #34155 is [already fixing that link](https://github.com/kubernetes/website/pull/34155/files#diff-e320028fac8208e66e6f031f7a7ddc6561b0064172ea4fd277a5050f314079ac),
so you guys don't have to work on this issue.

[code]

[2022-06-09 06:54] #33592 closed

[2022-06-09 06:54] sarazqy commented on #33592
already fix

[2022-06-09 06:56] sarazqy commented on #33588
already fix

[2022-06-09 06:56] #33588 closed

[2022-06-09 07:00] sarazqy opened #34191 "Misssing Chinese translation docs: https://kubernetes.io/blog/2022/05/05/volume-expansion-ga/"
This is a Feature Report

Problem:
misssing Chinese translation docs:  https://kubernetes.io/blog/2022/05/05/volume-expansion-ga/

Proposed Solution:
add Chinese translation docs in website Kubernetes Blog

Comments
/language zh
/assign

[2022-06-09 07:15] sarazqy opened #34192 "misssing Chinese translation docs: https://kubernetes.io/blog/2022/05/03/kubernetes-1-24-release-announcement/"
This is a Feature Report

Problem:
misssing Chinese translation docs: https://kubernetes.io/blog/2022/05/03/kubernetes-1-24-release-announcement/

Proposed Solution:
add Chinese translation docs in website Kubernetes Blog

Comments
/language zh
/assign

[2022-06-09 07:37] sarazqy opened #34193 "misssing Chinese translation docs: https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/cron-job-v1/"
This is a Feature Report

Problem:
misssing Chinese translation docs:  https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/cron-job-v1/
Proposed Solution:
add Chinese translation docs in website Documentation

Comments
/language zh
/assign

[2022-06-09 07:39] zhangxyjlu opened #34194 "[zh] Resync api-service-v1"
Translate Chinese version for docs/reference/kubernetes-api/cluster-resources/api-service-v1.md

Comments
/language zh
/assign

[2022-06-09 07:59] Pearl1594 commented on #34138
It seems that the service-catalog repo has been archived and hence been moved to kubernetes-retired - https://github.com/kubernetes-retired/service-catalog, hence the chart is available at https://kubernetes-retired.github.io/service-catalog/. So would it be fine to update the link pointing to kubernetes-retired?

[2022-06-09 08:26] tengqm commented on #34033
This one is done.
/close

[2022-06-09 08:26] #34033 closed

[2022-06-09 08:29] srikanthankam commented on #34099
thanks @howieyuen  for the suggestion.
In fact, I found the solution, that is I applied Scale Up behavior in HPA of my application. It started delaying the replicas creation.

[2022-06-09 08:52] Sea-n commented on #34177
I think this issue can be included in #34150 next time.
- #34150

[2022-06-09 11:31] #32167 closed

[2022-06-09 11:40] 889-dj commented on #30965
hi the context in the 5th issue from the top is quite unclear to me
what I understand is that the I have to remove reference of docker with pods and redefine it as below plz help me with this

While Kubernetes supports more
{{< glossary_tooltip text="container runtimes" term_id="container-runtime" >}}
than just Docker, [Docker](https://www.docker.com/) is the most commonly known
runtime.
{{< /note

[2022-06-09 12:51] sftim commented on #30965
@889-dj what I suggest you do is open a PR to work on that and show your initial thinking, and also write a PR description that explains how you approached the challenge. Then, a reviewer can comment on both the intent and the changes you've made.

A word of warning, though. This particular sub-task calls for a strong ability to explain a technical concept. If you're not comfortable with that, it'

[2022-06-09 14:03] 889-dj commented on #30965
sure @sftim thanks for the suggestion

[2022-06-09 15:13] windsonsea commented on #34158
/assign

[2022-06-09 15:15] LeonidLiashko opened #34203 "The link 'Kubernetes Protobuf serialization' is broken"
Link [Kubernetes Protobuf serialization](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/api-machinery/protobuf.md) from this page (https://kubernetes.io/docs/concepts/overview/kubernetes-api/) returns 404

[2022-06-09 15:41] NitishKumar06 commented on #34203
It basically shows _The 'kubernetes/community' repository doesn't contain the 'contributors/design-proposals/api-machinery/protobuf.md' path in 'master'_ .  Do we have to create a new page in the given path or the chances might be that this page is lost somewhere?

[2022-06-09 19:25] #31269 closed

[2022-06-09 20:54] jihoon-seo commented on #34203
Thank you for spotting the problem.
This is a duplicate of #34165.
And there is a open PR that fixes this,
so @NitishKumar06 you don't have to work on this.

/triage duplicate
/retitle The link 'Kubernetes Protobuf serialization' is broken

[2022-06-09 23:07] sftim commented on #34167
I'll close this as a duplicate.

[2022-06-09 23:07] #34167 closed

[2022-06-10 02:39] #34177 closed

[2022-06-10 03:00] windsonsea commented on #34194
not find any dup.
/triage accepted

[2022-06-10 03:10] NitishKumar06 commented on #34203
okay @jihoon-seo

[2022-06-10 05:24] lolofofo056 opened #34205 "Scheduling, Preemption and Eviction"

[2022-06-10 05:24] #34205 closed

[2022-06-10 05:26] #31264 closed

[2022-06-10 06:00] taniaduggal commented on #29704
/assign

[2022-06-10 06:02] taniaduggal commented on #4501
/assign

[2022-06-10 06:42] NitishKumar06 commented on #31483
/assign

[2022-06-10 07:19] javadoors opened #34207 "[zh-cn] Translate /docs/reference/kubernetes-api/authentication-resources/token-request-v1/ to Chinese"
**This is a Feature Request**
token request
**What would you like to be added**

**Why is this needed**
Translate/docs/reference/kubernetes-api/authentication-resources/token-request-v1/  to Chinese
Add the page: /zh-cn/docs/reference/kubernetes-api/authentication-resources/token-request-v1/

**Comments**
NA

/assign
/language zh

[2022-06-10 08:54] howieyuen commented on #34158
/retitle [zh] Umbrella - Resync reference/kubernetes-api/

[2022-06-10 08:54] howieyuen commented on #34158
/retitle [zh] Umbrella - Resync reference/kubernetes-api/config-and-storage-resources

[2022-06-10 08:55] howieyuen commented on #34158
Wow...that's a lot of work to do !!!

[2022-06-10 09:57] daodennis opened #34208 "[en] typo: "Mananger" in Architecture: Node documentation"
**Problem**
Typo in Architecture:
Introduced in: https://github.com/kubernetes/website/pull/32406 v.124 documentation

**Proposed Solution:**
[code]
[code]

**Page to Update:**
https://github.com/kubernetes/website/blob/main/content/en/docs/concepts/architecture/nodes.md
https://kubernetes.io/docs/concepts/architecture/nodes/

I looked for existing bugs related to this particular typo and didn't f

[2022-06-10 10:21] daodennis commented on #34208
I'm unclear if I have to to be a corporate contributor or I can be an individual contributor so I am checking internally before I take this PR out of draft.

[2022-06-10 10:36] 0904-mansi commented on #34208
/assign

[2022-06-10 11:42] Sea-n commented on #34208
/assign @daodennis
Maybe you would like to let others know you are working on it using assign as well.

[2022-06-10 12:00] sftim opened #34212 "Register and document scheduler.alpha.kubernetes.io/defaultTolerations annotation"
**This is a Bug Report**

**Problem:**
Kubernetes has alpha support for an annotation `scheduler.alpha.kubernetes.io/defaultTolerations`; however, this is not registered or documented.

**Proposed Solution:**
- register the annotation
- document it

We can achieve both of these by updating [Well-Known Labels, Annotations and Taints](https://kubernetes.io/docs/reference/labels-annotations-taints/)

[2022-06-10 12:00] sftim commented on #34212
See https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#podtolerationrestriction for a mention of `scheduler.alpha.kubernetes.io/defaultTolerations`

[2022-06-10 12:02] sftim opened #34213 "Register and document scheduler.alpha.kubernetes.io/tolerationsWhitelist annotation"
**This is a Bug Report**

**Problem:**
Kubernetes has alpha support for an annotation `scheduler.alpha.kubernetes.io/tolerationsWhitelist `; however, this is not registered or documented.

**Proposed Solution:**
- register the annotation
- document it

We can achieve both of these by updating [Well-Known Labels, Annotations and Taints](https://kubernetes.io/docs/reference/labels-annotations-taints

[2022-06-10 12:02] sftim commented on #34213
Also see #34212

[2022-06-10 12:03] sftim commented on #34212
/triage accepted

[2022-06-10 12:03] sftim commented on #34213
/triage accepted

[2022-06-10 12:04] sftim commented on #34213
Relevant to https://github.com/kubernetes/kubernetes/issues/90277

[2022-06-10 14:12] Sea-n commented on #33893
Hey, I have opened PR #34155 to fix all those links, please take a look.
- #34155

[2022-06-10 14:12] Sea-n commented on #33893
/assign

[2022-06-10 14:28] eminalemdar commented on #33893
Hello @Sea-n I didn't see your PR before working on these actually. I can close my PRs. thanks for mentioning.

[2022-06-10 15:12] NitishKumar06 commented on #31483
@sftim  If the purpose is to make newbies understand, what's the point of mentioning a link? I think we can remove the first line (if you say else not required). And talking about the second line, we can add a new line mentioning something like _if someone wants a full metrics pipeline, they need to design and deploy their own infrastructure platform of which Kubernetes is only one part._ WDYT @sf

[2022-06-10 15:13] tengqm opened #34221 "[zh][Umbrella] Files to sync after zh language renaming"
With #34215 merged, the timestamp-based change tracking mechanism has to be rebooted. This issue lists the pages that were out-of-sync before #34125 is merged. Due to directory renaming, these files have to be resync'ed again before the `lsync.sh` script works again. With the team's help, I believe we can close this pretty soon!

**HINT**

To check changes that need to be synced to Chinese for pag

[2022-06-10 15:13] tengqm commented on #34221
/language zh
/triage accepted
/help

[2022-06-10 16:26] Rishit-dagli commented on #34212
I could take up this and #34213
/assign

[2022-06-10 16:33] NitishKumar06 commented on #34144
Hi! @xing-yang , according to you what changes should be done to the file so that I can have a basic idea regarding the same if we both are inclining at same thought?

[2022-06-10 17:58] PriyanshuAhlawat commented on #34213
/assign

[2022-06-10 20:58] Asvarduil opened #34224 "Install and Set Up kubectl on Linux - No set of instructions actually works for WSL + Ubuntu"
None of the sets of instructions is working on Windows Linux Subsystem / Ubuntu.

1. CURL
The CURL instructions receive an error `Permissions Denied`, likely due to my default path being `mnt/c/windows/windows32`. Something that could make these instructions more helpful is telling us a better place to install kubectl to.

2. Native Package Management
Step 3 of this set of instructions does _not_

[2022-06-10 22:53] barley-benincasa commented on #34183
Yes, I did think something like that.  But what I simply want is to reconcile the skew.

That is, I read the message to mean: `X is up-to-date, Y is a version or two behind`.  I was hoping for an `update` command, akin to what `npm` has.

[2022-06-10 23:24] jihoon-seo commented on #34224
Related page: https://kubernetes.io/docs/tasks/tools/install-kubectl-linux/

[2022-06-11 01:48] Sea-n commented on #34221
Note that there are already 2 PR by @ihuibin working on this, maybe we can reserve for them.

- new-1: `content/zh-cn/docs/tasks/administer-cluster/migrating-from-dockershim/troubleshooting-cni-plugin-related-errors.md`
    - #34204
- new-2: `content/zh-cn/docs/tasks/administer-cluster/verify-signed-images.md`
    - #33956

/assign @ihuibin

[2022-06-11 04:01] NitishKumar06 commented on #34224
@Asvarduil I think you need to be a root user first. Use `sudo -i` command first and then execute the other commands.

[2022-06-11 06:42] kadtendulkar commented on #34182
okay, I am closing this issue.

[2022-06-11 06:42] #34182 closed

[2022-06-11 06:53] kadtendulkar opened #34228 "Broken link on API Priority and Fairness page"
**Problem:**
The text **enhancement proposal** on [link](https://kubernetes.io/docs/concepts/cluster-administration/flow-control/#prioritylevelconfiguration) is not working and redirecting to same [page](https://kubernetes.io/docs/concepts/cluster-administration/flow-control/#whats-next), it should point to this [link](https://kubernetes.io/docs/concepts/cluster-administration/flow-control/#what-s

[2022-06-11 08:31] Sea-n commented on #34228
Hey @kadtendulkar, I think it's unnecessary to label as `help wanted` for this issue since you are immediately working on it.

We label an issue as `good first issue` or `help wanted` to let other contributors know what issues they can take.

[2022-06-11 08:35] kadtendulkar commented on #34228
Okay @Sea-n  i will remove help tag.

[2022-06-11 08:35] kadtendulkar commented on #34228
/remove help

[2022-06-11 08:37] kadtendulkar commented on #34228
/remove-help

[2022-06-11 09:13] howieyuen commented on #34221
misc-1 https://github.com/kubernetes/website/pull/34234

[2022-06-11 09:57] danielgangl opened #34239 "Interactive Tutorial window not accessible"
After starting scenario in the the interactive tutorial the window is covered by a div with class "terminal-wait". After deleting it via developer tools the instructions are usable but the terminal itself still not.

[2022-06-11 10:02] taniaduggal commented on #33548
Is this a pr to work on ? @princefishthrower

[2022-06-11 15:21] NitishKumar06 commented on #31688
/assign

[2022-06-11 15:22] NitishKumar06 commented on #31688
Hey @sftim I'll work on this issue. I believe it'll be best if we can add a short intro in https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/ related to Custom Resources and API aggregation layer.

[2022-06-11 16:28] NitishKumar06 commented on #34213
@PriyanshuAhlawat Are you working on this issue? Do you need any help?

[2022-06-11 19:08] PriyanshuAhlawat commented on #34213
@NitishKumar06 yes I am working on it.

[2022-06-11 19:09] NitishKumar06 commented on #34213
Need any help from my side?

[2022-06-11 20:02] PriyanshuAhlawat commented on #34213
No as of now

[2022-06-12 07:28] NitishKumar06 commented on #33532
/assign

[2022-06-12 07:28] NitishKumar06 commented on #33532
Hi @sftim , Do you want to completely remove the context on the above page? https://kubernetes.io/docs/concepts/extend-kubernetes/service-catalog/

[2022-06-12 10:49] #28357 closed

[2022-06-12 12:30] Sea-n commented on #32244
Already done, next time we can use `fixes #32244` in PR description to auto close this.

/close

[2022-06-12 12:30] #32244 closed

[2022-06-12 12:32] Sea-n commented on #32288
Already done, next time we can use `fixes #32288` in #33727 PR description to auto close this.

/close

[2022-06-12 12:32] #32288 closed

[2022-06-12 13:51] #30625 closed

[2022-06-12 15:27] tengqm commented on #34221
/remove-help

[2022-06-12 16:25] sftim commented on #34239
/kind bug

Hi @danielgangl
What was the URL of the web page where you saw this? Also, could you provide a screenshot?

[2022-06-12 16:26] sftim commented on #34228
/retitle Broken link on API Priority and Fairness page

[2022-06-12 16:27] sftim commented on #34228
IMO, we should update the link so that it takes you to https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/1040-priority-and-fairness and not to the “What's Next” section of the page.

[2022-06-12 16:33] sftim commented on #34224
The issue with the PGP keys is a Kubernetes issue rather than a documentation bug. At the moment, package generation and signing happens outside the Kubernetes project as a best-effort activity by some Google staff.
I'm not sure if there's an issue specifically to track this for `kubectl`. https://github.com/kubernetes/release/issues/913 is perhaps the closest that exists.
@Asvarduil that informat

[2022-06-12 16:33] sftim commented on #34224
BTW, you don't need superuser access to install kubectl

[2022-06-12 16:36] kadtendulkar commented on #34228
Hello @sftim , PR of this issue is reviewed and merged. So can we again open PR for same issue?

[2022-06-12 16:41] sftim commented on #34183
@barley-benincasa if you'd like you ask the question “is there a command to upgrade a Kubernetes cluster”, a better place to ask that might be [Server Fault](https://serverfault.com/questions/tagged/kubernetes). For another example, you could ask the question “how do I install a version of kubectl that is compatible with a v1.22 Kubernetes cluster”, or “kubectl is warning me that my client version

[2022-06-12 16:42] sftim commented on #34138
We should remove all the documentation relating to Service Catalog.

[2022-06-12 16:43] sftim commented on #34117
@NitishKumar06 this doesn't need my input specifically. Any contributor with understanding of the topics could comment here; folks from SIG Auth are especially likely to understand the context of the Pod Security Standards.

[2022-06-12 17:01] sftim commented on #30080
/remove-lifecycle rotten

[2022-06-12 17:04] sftim commented on #33532
We should find **all** the documentation that is for Service Catalog, and remove **all** of it. That removal would include deleting the page https://kubernetes.io/docs/concepts/extend-kubernetes/service-catalog/

We might also want to edit the docs for earlier Kubernetes releases to add an explanatory note, because people will sometimes find those pages from a web search etc. However, the key task

[2022-06-12 17:27] sftim commented on #31640
I don't think this is a valid issue report.

[2022-06-12 17:27] #31640 closed

[2022-06-12 17:27] sftim commented on #34224
/sig release

[2022-06-12 23:49] Rania193 opened #34253 "Interactive Tutorial - Creating a Cluster"
The interactive tutorial is not working. I don't have any access to the virtual terminal or the virtual environment. Nothing is clickable.
#katacoda

[2022-06-13 03:21] taniaduggal commented on #32135
/assign

[2022-06-13 03:26] taniaduggal commented on #32039
/assign

[2022-06-13 04:19] sftim commented on #26687
/reopen

Oh, and I wouldn't count this as a good-first-issue, at least not as the issue description stands.

[2022-06-13 04:21] RA489 commented on #26293
/remove-lifecycle rotten

[2022-06-13 04:21] RA489 commented on #26638
/remove-lifecycle rotten

[2022-06-13 04:21] RA489 commented on #27974
/remove-lifecycle rotten

[2022-06-13 04:22] RA489 commented on #26618
/remove-lifecycle rotten

[2022-06-13 04:22] RA489 commented on #27808
/remove-lifecycle rotten

[2022-06-13 04:22] RA489 commented on #28046
/remove-lifecycle rotten

[2022-06-13 04:22] RA489 commented on #27958
/remove-lifecycle rotten

[2022-06-13 04:22] RA489 commented on #27812
/remove-lifecycle rotten

[2022-06-13 04:23] RA489 commented on #27740
/remove-lifecycle rotten

[2022-06-13 04:23] RA489 commented on #28078
/remove-lifecycle rotten

[2022-06-13 04:23] RA489 commented on #27907
/remove-lifecycle rotten

[2022-06-13 04:24] RA489 commented on #27880
/remove-lifecycle rotten

[2022-06-13 04:24] RA489 commented on #28427
/remove-lifecycle rotten

[2022-06-13 04:24] RA489 commented on #28082
/remove-lifecycle rotten

[2022-06-13 04:26] sftim commented on #27880
@Ayzrian, the katacoda service was not as reliable as it could be. If this happens again, please try another time.

/close

[2022-06-13 04:26] #27880 closed

[2022-06-13 04:29] sftim opened #34255 "Katacoda banner may be misleading."
**This is a Bug Report**

**Problem:**
We added a banner:

Given the latest updates from O'Reilly, that banner may not be accurate and the service (albeit possibly degraded?) is expected to survive beyond June 15th 2022.

**Example page:**
https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/

Relevant to issue #33936

[2022-06-13 04:30] sftim commented on #34253
I tried to access https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/ and, for me, the interactive tutorial worked OK.

/triage not-reproducible

Perhaps this was an intermittent or short-lived outage?

[2022-06-13 09:42] tengqm commented on #34193
/triage accepted

[2022-06-13 09:42] tengqm commented on #34191
/triage accepted

[2022-06-13 09:57] #31318 closed

[2022-06-13 13:09] danielgangl commented on #34239
URL: "https://kubernetes.io/docs/tutorials/kubernetes-basics/explore/explore-interactive/"
Screenshot:
![image](https://user-images.githubusercontent.com/46197733/173360874-e885cc1b-f871-48f3-afb9-968f339477c3.png)

[2022-06-13 14:44] kadtendulkar commented on #34228
Hello @divya-mohan0209 , @sftim has suggested above some changes, and since PR is merged should i create new issue and add changes or is it fine to raise PR again. ?

[2022-06-13 15:09] divya-mohan0209 commented on #34228
Should be fine @kadtendulkar

[2022-06-13 15:28] daodennis commented on #34208
The PR that fixes this bug has been merged, how what do I do? Do I just close this?

[2022-06-13 16:21] Rishit-dagli commented on #34255
/assign

[2022-06-13 17:22] gitusername9999 opened #34263 "Improvement for k8s.io/docs/reference/command-line-tools-reference/kube-controller-manager/"
It would much help, if the information provided with examples of how to use and/set those flags provided.

[2022-06-13 18:17] liggitt commented on #34054
The annotation is still relevant. It controls what secrets can be mounted, not just service account token secrets

[2022-06-13 19:20] patrocinio commented on #31929
/assign @patrocinio

[2022-06-13 20:32] sftim commented on #34054
https://kubernetes.io/docs/reference/labels-annotations-taints/#enforce-mountable-secrets says that the annotation is used on ServiceAccounts only - is that wrong? If so, was it always wrong or did that change at some point.

[2022-06-13 20:33] liggitt commented on #34054
That's correct. You annotate the service account, and then pods running as that service account are limited to mounting secrets included in the service account's `.secrets` list

[2022-06-14 02:59] Sea-n commented on #34208
Yeah, and next time you can use `Fixes #34208` in PR description so that issue will be close automatically.

BTW, next time don't put `help wanted` and `good first issue` labels if you want to do it yourself.

[2022-06-14 03:26] tengqm commented on #34208
/close

[2022-06-14 03:26] #34208 closed

[2022-06-14 03:35] tengqm commented on #34263
The way to specify the flags depends on the way your control plane components are deployed and operated. This is no single solution that works everywhere.
/kind support

[2022-06-14 03:55] #33893 closed

[2022-06-14 03:55] #34165 closed

[2022-06-14 03:55] #34203 closed

[2022-06-14 05:43] #33564 closed

[2022-06-14 05:51] qlijin opened #34270 "[zh] Translate docs/reference/kubernetes-api/workload-resources/pod-template-v1.md"
**This is a Feature Request**

translate docs/reference/kubernetes-api/workload-resources/pod-template-v1.md into Chinese.

**What would you like to be added**

translate docs/reference/kubernetes-api/workload-resources/pod-template-v1.md into Chinese.

**Comments**

https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/pod-template-v1/

/language zh
/kind feature
/assign

[2022-06-14 06:22] s-kawamura-w664 commented on #34178
/assign

[2022-06-14 06:24] jihoon-seo opened #34271 "[ja] Update 'Install and Set Up kubectl'"
**This is a Feature Request**

**What would you like to be added**

The Japanese versions of
- [Install and Set Up kubectl on Linux](https://kubernetes.io/docs/tasks/tools/install-kubectl-linux/)
- [Install and Set Up kubectl on macOS](https://kubernetes.io/docs/tasks/tools/install-kubectl-macos/)
- [Install and Set Up kubectl on Windows](https://kubernetes.io/docs/tasks/tools/install-kubectl-wind

[2022-06-14 07:11] Shubham82 commented on #34139
Hi @sftim
What do you think about the below one, should we write like this?

[2022-06-14 08:32] sftim commented on #34178
Per https://github.com/kubernetes/website/pull/34272#issuecomment-1154809051, @s-kawamura-w664 would you be willing to backport the change to the v1.23 and v1.22 releases?

[2022-06-14 08:36] sftim commented on #34263
_aside_

Although getting the inbound links to work is tricky, a task page for “Deploy and configure control plane components” would be a nice improvement. That's something the docs do not cover well at the moment.

[2022-06-14 08:44] ChristophS-md commented on #32275
/remove-lifecycle stale

[2022-06-14 08:45] mkq commented on #32275
/remove-lifecycle stale

[2022-06-14 09:07] K31D opened #34273 "Kubelet service paused while adding Windows nodes"
Hi,
Adding windows nodes failed with "The Http call equal to 'curl -sSL http://localhost:10248/healthz' failed with error: get "http://localhost:10248/healthz": dial tcp [::1]10248: connectex: No connection could be made because the target machine actively refused it

K8s: 1.23.3 with latest containerd (1.5.9) and flannel
Host: WS2019 datacenter with latest CU
Both install-containerd.ps1 and Prepa

[2022-06-14 09:52] dhs-rec opened #34275 "Linux kubectl package install instructions recommend dummy package"
Hi,

apt-transport-https is a dummy package since apt 1.5, means it's not needed anymore as of Debian 10 and Ubuntu 18.04.

[2022-06-14 10:40] s-kawamura-w664 commented on #34178
@sftim
Please let me know.
I know that kubernetes/kubernetes has the following documentation
https://github.com/kubernetes/community/blob/master/contributors/devel/sig-release/cherry-picks.md

Is there the method for backport in kubernetes/website?
Should I create two new PRs for v1.23 and v1.22 with the old release as the merge destination?

[2022-06-14 11:43] fvl955 opened #34280 "[uk] Incorrect localization for What Is Kubernetes"
https://kubernetes.io/uk/docs/concepts/overview/what-is-kubernetes/
Саму тому контейнери вважаються легковісними  - wrong
_Саме_ тому контейнери вважаються _легковаговими_  - right

[2022-06-14 12:44] sftim commented on #34139
That's not quite right @Shubham82. People running Kubernetes v1.16 (for example) won't find docs about Pod Security admission control in the v1.16 docs, even if they look very hard.

How about:

and use a shortcode in place of the “1.24” text there.

[2022-06-14 12:44] jihoon-seo commented on #34280
/language uk

[2022-06-14 12:58] sftim commented on #34280
/retitle [uk] Incorrect localization for What Is Kubernetes

[2022-06-14 13:01] sftim commented on #34275
/retitle Linux kubectl package install instructions recommend dummy package
This issue is about https://kubernetes.io/docs/tasks/tools/install-kubectl-linux/

/kind cleanup
/language en

The fix would be to omit mentioning `apt-transport-https`, provided that we are confident that all readers are using at least Debian 10. I think the Ubuntu side of things we can take for granted.

/priority awaiti

[2022-06-14 13:37] Shubham82 commented on #34139
yeah, agree with this.

Seems good to me.

[2022-06-14 13:45] Shubham82 commented on #34139
Hi @sftim
If no one is working on this, I'm up for it.

[2022-06-14 13:56] Shubham82 commented on #34139
/assign

[2022-06-14 16:26] yaraju opened #34284 "Turnkey Cloud Solutions"
None of the cards are viewable - I can only see the menus and the title that shows that there should be 1000+ cards

![Screenshot from 2022-06-14 21-55-27](https://user-images.githubusercontent.com/3163792/173628129-7564f883-ea5c-4629-bacd-8a7259e1e320.png)

[2022-06-14 16:31] yaraju commented on #34284
I finally realised that I could just click the title "Cloud Native Landscape" and then this would open up at https://landscape.cncf.io/ but this was really not obvious till I started randomly clicking around. If you really don't want to embed it properly here, please at least put a clearer link so that people know that they can see the whole page if they visit the URL directly.

[2022-06-14 17:05] Babapool opened #34286 "Add Tips Section for abbreviated names of `kubectl` resources"
**This is a Feature Request**

**What would you like to be added**

Add a _Tips_ section for  abbreviated  `kubectl` resource names/ `kubectl` commands to help users with kubectl commands based on their experience.

**Why is this needed**
Based on @sftim 's suggestion in https://github.com/kubernetes/website/issues/33957#issuecomment-1138548316 ,  it is more easy to associate (more obvious to unde

[2022-06-14 17:18] ThomasBucaioni commented on #33998
Fixed

[2022-06-14 18:01] chrismetz09 commented on #31960
Updates:
1. Created [test mermaid k8s repo](https://github.com/chrismetz09/TestMermaidK8s). Starting with bare docsy-example theme and will incrementally build up to k8s website. Objective is to identify what component causes unpredictable Mermaid rendering.
2. Have not observed any syntax errors in testing.
3. devtools shows a multiple force reflow violations (aka layout thrashing) in console. Mi

[2022-06-14 18:16] NitishKumar06 commented on #34284
/assign

[2022-06-14 18:44] drornir opened #34288 "Interactive Tutorial - Creating a Cluster"
Expected:
[code]

but got
[code]

![image](https://user-images.githubusercontent.com/12601664/173665631-99b4ae68-d104-485f-b6f4-ff12757e5355.png)

thanks!

[2022-06-14 18:48] kgibm opened #34879 "Clarify documented privileges of kubectl debug node"
**What would you like to be added**:

`oc` supports `chroot /host` (and even prints a helpful hint of "To use host binaries, run `chroot /host`") whereas `kubectl` causes "Operation not permitted" (even though `/host` is readable):

`oc` results:

[code]

`kubectl` results:

[code]

**Why is this needed**:

This is part of a broader lack of permissions in `kubectl debug node` that `oc debug node`

[2022-06-14 19:02] UtkarshMishra12 opened #34289 "Removing the overlapping text (project) from CNCF Logo"
**This is a Bug Report**

**Problem:**
When I was testing the responsiveness of the website I saw this bug, the word project is overlapping with the CNCF text. I'm attaching the screenshot for the same.

**Proposed Solution:**
I will be solving this by changing the CSS of the element.

**Page to Update:**
https://kubernetes.io/
![Screenshot (374)](https://user-images.githubusercontent.com/67385503

[2022-06-14 20:08] #34273 closed

[2022-06-14 21:04] shannonxtreme commented on #28690
I will work on this when I'm done with the Secrets rework

/lifecycle frozen

[2022-06-14 21:05] shannonxtreme commented on #28690
/reopen

[2022-06-14 22:18] jihoon-seo commented on #34239
I can see this too.

- On Google Chrome 102.0.5005.63 (64bit), Windows 10, with uBlock Origin enabled.
![image](https://user-images.githubusercontent.com/46767780/173698026-f0231a1b-fdac-4ebf-81ee-6a5fa4a88e72.png)
- This behavior persists in spite of force refresh.
- After disabling uBlock Origin, this behavior disappears,
  and is not reproducible for some moment, even after re-enabling uBlock O

[2022-06-14 22:22] jihoon-seo commented on #34288
Page: https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/
/kind support
You should have run `minikube start` in Step 1, before running `kubectl version` in Step 2.
![image](https://user-images.githubusercontent.com/46767780/173699067-6e140afb-3017-467f-bd42-8389ed28afa8.png)

[2022-06-14 22:25] jihoon-seo commented on #34284
Page: https://kubernetes.io/docs/setup/production-environment/turnkey-solutions/
/triage accepted

[2022-06-14 22:51] #33703 closed

[2022-06-15 00:59] sftim commented on #34289
/area web-development

[2022-06-15 02:03] sarazqy opened #34294 "misssing Chinese translation docs: https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/job-v1/"
This is a Feature Report

Problem:
misssing Chinese translation docs: https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/job-v1/
Proposed Solution:
add Chinese translation docs in website Documentation

Comments
/language zh
/assign

[2022-06-15 04:02] vaibhav2107 commented on #32048
/remove-lifecycle stale

[2022-06-15 04:06] UtkarshMishra12 commented on #34289
@sftim  Please assign this task to me.

[2022-06-15 04:14] Sea-n commented on #34193
FYI, you can use `Fixes #34193` in your PR description, so that the bot will automatically close this issue when it's done.

小技巧：可以在 PR 描述裡面加上一行文字寫上 `Fixes #34193`，這樣被 merge 時才會自動關閉相應 issue

[2022-06-15 04:46] mehabhalodiya commented on #34228
/triage accepted

[2022-06-15 04:53] NitishKumar06 commented on #34289
@UtkarshMishra12 You can assign it yourself by typing `/assign
`

[2022-06-15 05:01] UtkarshMishra12 commented on #34289
/assign
@NitishKumar06 So can I start working on this now?

[2022-06-15 05:03] NitishKumar06 commented on #34289
Yes! @UtkarshMishra12 as you can see k8s-c--robot assigned you for this PR after you typed the `/assign`. Also, please make sure that regarding some other issues, do have a look if someone is already working on an issue under the assignee's option.

[2022-06-15 05:05] UtkarshMishra12 commented on #34289
Ok, thanks for the confirmation. @NitishKumar06
I'll keep this in my mind.

[2022-06-15 05:06] NitishKumar06 commented on #34280
/assign

[2022-06-15 05:09] Rishit-dagli commented on #34275
We can also rather add a piece of text, something like:

[code]

[2022-06-15 05:39] akshat-khare opened #34298 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
Not able to click anything and run anything

[2022-06-15 06:13] Babapool commented on #34298
Hi @akshat-khare , are you using any ad-blocker like `uBlock Origin` while trying to access the interactive tutorial? Thanks

[2022-06-15 06:27] Shubham82 commented on #34139
Fixed in: #34300

[2022-06-15 06:39] Rishit-dagli commented on #34298
I tried to run the tutorial on https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/ , for me, the tutorial did work well; perhaps a shoer-lived outage or what @Babapool suggests?

[2022-06-15 07:16] #30831 closed

[2022-06-15 08:59] #31293 closed

[2022-06-15 09:16] tengqm commented on #34294
/triage accepted

[2022-06-15 09:25] tengqm commented on #31704
/remove-lifecycle rotten

[2022-06-15 09:44] mk46 commented on #34093
I would like to work on this.
/assign

[2022-06-15 09:57] mehabhalodiya commented on #33875
/triage accepted

[2022-06-15 09:58] mehabhalodiya commented on #33511
/triage accepted

[2022-06-15 09:59] mehabhalodiya commented on #33511
/good-first-issue

[2022-06-15 10:06] mehabhalodiya commented on #33026
@antaloala I don't see any updates; so unassigning you. Please feel free to assign it, if you come back here again and are willing to work on it! Thank you 🙂
/unassign @antaloala

/good-first-issue

[2022-06-15 10:09] mehabhalodiya commented on #32944
/triage accepted
/sig apps

[2022-06-15 10:11] mehabhalodiya commented on #32785
/triage accepted

[2022-06-15 10:12] mehabhalodiya commented on #31612
/triage accepted

[2022-06-15 10:14] mehabhalodiya commented on #22997
/triage accepted

[2022-06-15 11:21] jihoon-seo commented on #34298
/label team/katacoda

[2022-06-15 11:34] Babapool commented on #33852
Hi, I have a question if we automatically render the version being documented for the page, would it be okay to mention something along the lines of : ` This tutorial shows you how to enforce the baseline Pod Security Standard at the cluster level for the latest version v1.2x. If you are running a different version of Kubernetes, consult the documentation for that release` ? Thanks.

[2022-06-15 11:52] sftim commented on #33852
You can use this shortcode to show the version: `{{< skew currentVersion >}}`

See `content/en/docs/setup/production-environment/container-runtimes.md` for an example.

[2022-06-15 11:53] cyrilhamidechi opened #34306 "Interactive Tutorial - Creating a Cluster"
Katacoda, used by the K8s online tutorials, is [not available](https://www.oreilly.com/online-learning/leveraging-katacoda-technology.html) past June 15th, 2022.

[2022-06-15 11:58] spongecaptain commented on #34253
The same on mac, it is not related to os. Turn off the uBlock Origin.

[2022-06-15 12:02] Sea-n commented on #32875
Hey @sarazqy, please add `Fixes #32875` in your PR description next time.

/close

[2022-06-15 12:02] #32875 closed

[2022-06-15 12:45] Shubham82 commented on #34306
Hi @cyrilhamidechi
The banner may not be accurate and the service is expected to survive beyond June 15th, 2022.
For reference:#34255

[2022-06-15 15:40] RinkiyaKeDad commented on #31946
/remove-lifecycle stale

I can get to this next month!

[2022-06-15 21:31] jihoon-seo commented on #34306
/label team/katacoda

[2022-06-16 02:55] aabohorquezc opened #34317 "HorizontalPodAutoscaler walkthrough page recommends unnecessary container image build"
If we are using k8s.gcr.io/hpa-example as our custom image, why do the documentation starts by telling the user to build an image from Dockerfile provided and the index.php code?

[2022-06-16 03:12] #30976 closed

[2022-06-16 05:26] #29711 closed

[2022-06-16 05:26] #28660 closed

[2022-06-16 05:36] #34093 closed

[2022-06-16 06:59] jihoon-seo commented on #34317
Page: https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/

[2022-06-16 07:38] lusson-luo commented on #11445
this page also has $ kubectl create deployment hello-node --image=gcr.io/hello-minikube-zero-install/hello-node --port=8080
Error: unknown flag: --port
web：https://kubernetes.io/docs/tasks/extend-kubernetes/http-proxy-access-api/
![image](https://user-images.githubusercontent.com/19859400/174018111-dd4382ff-f29d-4658-80a3-c8d468160593.png)

[2022-06-16 08:16] eran321 opened #34321 "Trouble with interactive tutorial “Updating Your App”"
Doesnt work

[2022-06-16 09:05] cyrilhamidechi commented on #34306
Thank you @Shubham82 @Rishit-dagli for your swift answer 👌
(and happy to know katacoda service is expected to survive beyond June 15th, 2022!)

[2022-06-16 09:14] cyrilhamidechi opened #34322 "Connecting Applications with Services - Service naming"
Hi there,

In the [Securing the Service](https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/#securing-the-service) section there's a slight difference between services names which make the example not working as expected.
The [Makefile](https://github.com/kubernetes/examples/blob/master/staging/https-nginx/Makefile) pointed by the link within the section is about

[2022-06-16 12:51] howieyuen commented on #30096
all pages are translated.
issue can be closed now.
/close

[2022-06-16 12:51] #30096 closed

[2022-06-16 15:28] sftim opened #34333 "Register and document annotation "scheduler.alpha.kubernetes.io/node-selector""
**This is a Bug Report**

**Problem:**
Kubernetes can recognize a Pod annotation `scheduler.alpha.kubernetes.io/node-selector`; see https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#podnodeselector

However, that annotation is not registered or documented.

**Proposed Solution:**
Register and document the `scheduler.alpha.kubernetes.io/node-selector` annotation.

**Pag

[2022-06-16 16:40] UtkarshMishra12 commented on #34289
Hey, @sftim  I'm not able to find the related issue's (.html) file in the code base. Can you please guide me for the same?
Thanks

[2022-06-16 18:32] chetak123 commented on #34333
/assign @chetak123

[2022-06-16 23:06] jinnypark9393 opened #34336 "Translate tasks/debug/debug-application/debug-pods to Korean"
**This is a Feature Request**

**What would you like to be added**

Translate "tasks/debug/debug-application/debug-pods" into Korean.

**Why is this needed**
It hasn't been translated into Korean yet.

**Comments**
https://kubernetes.io/docs/tasks/debug/debug-application/debug-pods/

[2022-06-16 23:07] jinnypark9393 commented on #34336
/language ko
/assign

[2022-06-16 23:38] #31366 closed

[2022-06-17 00:35] jinnypark9393 commented on #34336
넵 제가 확인을 제대로 못했군요 😢 확인 감사합니다!
다른 일감 찾아보도록 하겠습니다 👍

[2022-06-17 00:35] #34336 closed

[2022-06-17 00:54] jinnypark9393 opened #34338 "Translate tasks/debug/debug-cluster/monitor-node-health into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate "tasks/debug/debug-cluster/monitor-node-health into Korean" into Korean.

**Why is this needed**
Not translated into Korean yet.
I double-checked this hasn't been translated in pending PRs but apologize if it is duplicated.

**Comments**

https://kubernetes.io/docs/tasks/debug/debug-cluster/monitor-node-health/

[2022-06-17 00:55] jinnypark9393 commented on #34338
/language ko
/assign

[2022-06-17 01:01] patrocinio opened #34339 "README should document the need to run `make module-init` before running `make container-serve`"
**This is a Feature Request**

**What would you like to be added**

The section https://github.com/kubernetes/website#running-the-website-using-a-container in the README.md describes the need to run `make container-image` and `make container-serve`. However, if I run `make container-serve`, it fails with the following message:

[code]

**Why is this needed**
The README.md should instruct the need

[2022-06-17 01:58] jihoon-seo commented on #34338
/triage accepted

[2022-06-17 02:01] jihoon-seo commented on #34338
현재 한국어화 작업 브랜치가 `dev-1.24-ko.1` 이므로 (#33471 참조)
feature branch도 `dev-1.24-ko.1` 로부터 생성하시면 되고
PR 올리실 때 merge target도 `dev-1.24-ko.1` 로 설정하시면 되겠습니다. 😊

[2022-06-17 02:12] chetak123 commented on #33511
/assign @chetak123

[2022-06-17 04:14] taniaduggal commented on #34339
Hyy @patrocinio . I wanna work on this issue . Can you elaborate please what suggested changes should i make ?

[2022-06-17 04:14] taniaduggal commented on #34339
/assign

[2022-06-17 04:52] #33613 closed

[2022-06-17 05:58] #32989 closed

[2022-06-17 08:32] #34255 closed

[2022-06-17 09:07] harshanarayana commented on #34121
Thanks @tengqm for taking care of this :)

[2022-06-17 10:06] Rishit-dagli opened #34355 "Having a call for blogs or similar"
**This is a Feature Request**

**What would you like to be added**

I believe it would be helpful for contributors if there was a file listing some blog titles and a short abstract of blog contributions that SIG Docs is interested in.

**Why is this needed**

Having contributed to Keras Examples earlier, a [call for contributions](https://github.com/keras-team/keras-io/blob/master/call_for_contrib

[2022-06-17 10:17] NitishKumar06 commented on #34355
/assign

[2022-06-17 10:43] patrocinio commented on #34339
Hello @taniaduggal Thanks for looking at this suggestion. We need to say that between running `make container-image` and `make container-serve`, the user needs to run `make module-init`, so I would simply add this command like this:

[code]

[2022-06-17 11:41] sftim opened #34357 "Build Netlify previews with --panicOnWarning"
**This is a Feature Request**

**What would you like to be added**
Update the configuration for Netlify so that we build site previews with Hugo's `--panicOnWarning` option enabled.

**Why is this needed**
We can use these warnings (and the panics they trigger) to tell us if we are introducing any problem behavior.

**Comments**
We would need to clear any existing warnings before we made this chan

[2022-06-17 11:48] sftim commented on #34339
:confused:

You don't need to run `make container-image`, and if you run `make container-serve` without running `make module-init`, the error message tells you to run `make module-init`.

[2022-06-17 11:51] sftim commented on #34339
(The change to not require running `make container-image` is recent - see https://github.com/kubernetes/website/issues/33395)

Ah, but https://github.com/kubernetes/website/pull/32100 might be relevant. Maybe you do need to build that image on architectures other than `amd64`?

[2022-06-17 11:51] sftim commented on #34339
As of 15 days ago, https://github.com/kubernetes/website#running-the-website-using-a-container _doesn't_ mention running `make container-image`.

[2022-06-17 11:55] sftim opened #34359 "Netlify builds failing in production"
**This is a Bug Report**

**Problem:**
All Netlify builds for the production site are failing.

Example error:
[code]
Error is from [deploy `62ac458466bb9f00072c7866`](https://app.netlify.com/sites/kubernetes-io-main-staging/deploys/62ac458466bb9f00072c7866)

<details>
    <summary>Full build log</summary>
<pre>
10:12:36 AM: Build ready to start
10:12:38 AM: build-image version: d2c6dbeac570350a38

[2022-06-17 12:00] sftim commented on #34359
As a tech lead for SIG Docs
/triage accepted

[2022-06-17 12:01] sftim commented on #34321
/retitle Trouble with interactive tutorial “Updating Your App”

[2022-06-17 12:01] sftim commented on #34288
There's nothing to fix here.
/close

[2022-06-17 12:01] #34288 closed

[2022-06-17 12:37] Rishit-dagli commented on #34357
I could take this up
/assign

[2022-06-17 13:55] stormqueen1990 commented on #34339
Hello there, @sftim! I can confirm the need to build the image locally in arm64 architectures.

[2022-06-17 14:33] patrocinio commented on #34339
Hello @sftim Yes, if you run `make containe-serve`, it tells to run `make module-init`, but it fails. I would rather document the happy path than being frustrated with a failure. Thoughts?

[2022-06-17 14:39] Asvarduil commented on #34224
@sftim - Thank you for the info, recommendations and responses!

I am a newcomer to kubernetes and cloud technology writ large.  As a newcomer, additions of clarifications are simply too valuable to folks in my position.  Adding more clarification doesn't just help me, but other people in my position.

I also upvoted kubernetes/release#913 as requested - I didn't know that the PGP step of the Nati

[2022-06-17 15:05] cen1 opened #34362 "TLS secret format appears to be wrong"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/concepts/configuration/secret/#tls-secrets

There is a Note in this section that says you should **not** include the PEM BEGIN and END lines when creating the tls secret.
I only tested this on GKE so not sure if this is GKE not following the spec or docs being wrong.

If I generate an RSA key and cert, adding them as tls secret with

[2022-06-17 15:42] sftim commented on #34359
https://github.com/kubernetes/website/pull/33048 was the trigger for these symptoms.

[2022-06-17 15:44] sftim commented on #34357
@tengqm, you had some concerns about this seeming too strict. Would you like to expand on why we should not be so strict?

[2022-06-17 15:52] sftim commented on #34224
Anyone reading this: it's not a simple fix. Please bear that in mind before opening PRs with a fix.

That said, improvements really are welcome; you just might need to think them through a bit. Try hard _not_ to advise people to skip PGP checks; these security checks exist for a good reason. It's OK to tell people that the repository signatures are invalid due to a bug.

/language en
/triage accep

[2022-06-17 16:08] sftim commented on #34362
I think this issue report duplicates https://github.com/kubernetes/website/issues/32869
/triage duplicate

[2022-06-17 16:09] reylejano commented on #34333
/triage accepted

[2022-06-17 16:25] patrocinio commented on #34339
Hello @sftim. I missed the `git submodule` step. You are right: if I run it, the `make container-serve` works fine.
Thanks!

[2022-06-17 16:25] #34339 closed

[2022-06-17 17:23] Rishit-dagli commented on #33026
Saw this good first issue with no on assigned, I could take it up
/assign

[2022-06-17 17:36] cccsss01 opened #34363 "Improvement for k8s.io/docs/reference/config-api/apiserver-eventratelimit.v1alpha1/"
Define or link more information on LimitType and or Limits, I can't seem to find what other limits there are, and only see e.g namespace.

I see: server-wide, per namespace, per user, and per source+object. At least one limit is required, but clarity on the accepted objects would be helpful.

[2022-06-17 17:46] #31371 closed

[2022-06-17 21:22] cccsss01 opened #34365 "Improvement for k8s.io/docs/concepts/architecture/control-plane-node-communication/"
link to https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet-tls-bootstrapping/ is broken in this document.

Node to Control Plane
kubelet TLS bootstrapping

[2022-06-17 21:55] vraghavach opened #34366 "Install and Set Up kubectl on Linux"
I was trying to setup a local three node Kubernetes cluster trying to following the documentation. And I think we can make it better. My comments pertain to the section `Verify kubectl configuration`.

The explanation when you run the following command can be a lot better I think.

`kubectl cluster-info
`
**Current explanation:**
_For example, if you are intending to run a Kubernetes cluster on yo

[2022-06-18 00:32] NitishKumar06 commented on #34366
/assign

[2022-06-18 02:02] tengqm commented on #34357
For one example, the Docsy change to language code has led to many warnings during site build. It has a huge impact in terms of the number of pages affected. It was not easy to tackle because we always had a bunch of ongoing PRs to merge. However, from the perspective of the whole website, those warnings are not fatal. The only impact was that some i18n strings are not properly parsed and rendered

[2022-06-18 05:07] manaschandrasahoo opened #34371 "facing this below error while installing"
[kubernetes]
name=Kubernetes
baseurl=https://packages.cloud.google.com/yum/repos/kubernetes-el7-\$basearch
enabled=1
gpgcheck=1
repo_gpgcheck=1
gpgkey=https://packages.cloud.google.com/yum/doc/yum-key.gpg https://packages.cloud.google.com/yum/doc/rpm-package-key.gpg
exclude=kubelet kubeadm kubectl

[root@master yum.repos.d]# sudo yum install -y kubelet kubeadm kubectl --disableexcludes=kubernetes

[2022-06-18 09:15] NitishKumar06 commented on #34366
@zacharysarah Regarding this issue, I'm thinking of an idea. What if we include some content on how to install minikube onto your local?

[2022-06-18 09:45] taniaduggal commented on #34365
/assign

[2022-06-18 10:54] #31258 closed

[2022-06-18 11:13] jihoon-seo commented on #34371
Relevant with #32207

[2022-06-18 11:15] Rishit-dagli commented on #34138
/assign

[2022-06-18 11:24] jihoon-seo commented on #34365
In the PR #33130,
the file `docs/reference/command-line-tools-reference/kubelet-tls-bootstrapping` was moved to
`docs/reference/access-authn-authz/kubelet-tls-bootstrapping`.

So the resolution might be:
update that link to `/docs/reference/access-authn-authz/kubelet-tls-bootstrapping/`
(https://kubernetes.io/docs/reference/access-authn-authz/kubelet-tls-bootstrapping/)

[2022-06-18 11:24] jihoon-seo commented on #34365
/triage accepted
/language en

[2022-06-18 12:04] jihoon-seo commented on #34365
The PR #34382 will resolve this issue, so @taniaduggal you don't have to work on this.

[2022-06-18 12:23] patrocinio commented on #34322
/assign @patrocinio

[2022-06-18 12:48] taniaduggal commented on #34365
oky @jihoon-seo

[2022-06-18 13:20] Babapool commented on #33852
Great, now I can try to work on this issue on the lines of the `container-runtimes.md` example. Thanks.
/assign

[2022-06-18 14:09] tengqm commented on #34365
/assign

[2022-06-18 15:56] patrocinio commented on #34322
/triage accepted

[2022-06-18 16:09] patrocinio opened #34388 "Output in a command in the Connecting Applications with Services page is different than documented"
**This is a Bug Report**

**Problem:**

The section https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/#exposing-pods-to-the-cluster tells to run the following command:
``
kubectl get pods -l run=my-nginx -o yaml | grep podIP
``

When I run this command, I get the following output:

``
% kubectl get pods -l run=my-nginx -o yaml | grep podIP
          f:podIP: {}

[2022-06-18 16:20] patrocinio opened #34389 "Command in the "Connecting Applications with Services" page shows IP of multiple deployments"
**This is a Bug Report**

**Problem:**

The section "Securing the Service" tells to run the following command:

``
kubectl get pods -o yaml | grep -i podip
``
When I run this command, I get the following output:

``
% kubectl get pods -o yaml | grep -i podip
          f:podIP: {}
          f:podIPs:
    podIP: 172.17.0.6
    podIPs:
          f:podIP: {}
          f:podIPs:
    podIP: 172.17.0.3

[2022-06-18 19:43] Rishit-dagli commented on #34389
/assign

[2022-06-18 20:32] chetak123 commented on #34388
/assign @chetak123

[2022-06-18 21:08] jaideepsinghchauhan opened #34392 "Improvement for k8s.io/docs/tasks/tools/install-kubectl-windows/"
seems like this command is not supported in latest windows and curl probably.
curl -LO "https://dl.k8s.io/release/v1.24.0/bin/windows/amd64/kubectl.exe"

-LO  is not right parameter is it --location ?

oh for windows 10 64bit this was the issue.
actual problem is that your are not using the Curl you installed but a CmdLet called Invoke-WebRequest.

Just execute 👍
Remove-item alias:curl

please clo

[2022-06-18 21:19] #34392 closed

[2022-06-18 21:19] jaideepsinghchauhan commented on #34392
oh for windows 10 64bit this was the issue.
actual problem is that your are not using the Curl you installed but a CmdLet called Invoke-WebRequest.

Just execute 👍
Remove-item alias:curl

[2022-06-18 21:25] Rishit-dagli commented on #32944
/assign

[2022-06-18 21:59] Luckyazimie391 opened #34393 "Common browse"

[2022-06-18 22:54] jihoon-seo commented on #34393
@Luckyazimie391 Please elaborate the issue you have faced more specifically.
/triage needs-information

[2022-06-18 23:29] jpassing opened #34394 "kubectl.exe not code-signed"
1. Follow [instructions](https://kubernetes.io/docs/tasks/tools/install-kubectl-windows/#install-kubectl-binary-with-curl-on-windows) to download kubectl on Windows
2. Check file properties of `kubectl.exe`

**Expected**: `kubectl.exe` is code-signed (Authenticode)

**Actual**: `kubectl.exe` is not code-signed, lacking any evidence that the file has been built by a trustworthy source

[2022-06-18 23:52] habibrosyad commented on #23660
/remove-lifecycle stale

[2022-06-19 04:39] mehabhalodiya commented on #34366
@NitishKumar06 You can have a look at some of the content here respective to your question: [minikube content](https://kubernetes.io/search/?q=minikube)

I believe you will find a lot of information 🙂

[2022-06-19 04:47] mehabhalodiya commented on #34366
Thank you for spotting the problem.
This is a duplicate of https://github.com/kubernetes/website/issues/27951
So @NitishKumar06 if you want to work on this subject, you can assign https://github.com/kubernetes/website/issues/27951 to yourself!

/triage duplicate
/close

[2022-06-19 04:47] #34366 closed

[2022-06-19 04:55] mehabhalodiya commented on #34357
/triage accepted

[2022-06-19 06:23] Rishit-dagli commented on #32785
@sftim Are we eyeing at creating seperate pages, each for a task like:

- https://kubernetes.io/docs/concepts/storage/persistent-volumes/#create-persistent-volume-claim-from-an-existing-pvc
- https://kubernetes.io/docs/concepts/storage/persistent-volumes/#create-persistent-volume-claim-from-volume-snapshot
- https://kubernetes.io/docs/concepts/storage/persistent-volumes/#create-persistent-volume-c

[2022-06-19 06:33] sahsz123 opened #34398 "Improvement for k8s.io/docs/tasks/run-application/run-stateless-application-deployment/"
Must add example in Delpoyments section with template having Rolling update strategy!

[2022-06-19 06:41] NitishKumar06 commented on #34394
/assign

[2022-06-19 07:26] mperlik commented on #33640
This resulted in my case just in another error:
[code]

[2022-06-19 07:43] Luckyazimie391 opened #34402 "Stamper Otomatis"
Saya baru saja mencoba Aplikasi Luar Biasa ini yang disebut Stempel Otomatis yang dengannya saya akan dapat Mencap Tanggal dan Waktu, Tanda Tangan, Lokasi, Logo dan stempel Urutan, dll. Pada Gambar yang Saya Tangkap dari Kamera Default. Saya sangat menyukainya dan Anda juga akan menyukainya. Klik di sini untuk Mengunduh.  N  nhttp: //bit.ly/AutoStamperShare

[2022-06-19 08:35] Luckyazimie391 opened #34404 "C++🔥"
https://github.com/k8s-ci-ro other/controller-runtime/blob/master/code-of-conduct.md

[2022-06-19 09:15] mehabhalodiya commented on #34228
Thank you @kadtendulkar for your contribution 🙂
Closing this issue as https://github.com/kubernetes/website/pull/34231 and https://github.com/kubernetes/website/pull/34261 got merged!

/close

[2022-06-19 09:15] #34228 closed

[2022-06-19 11:34] jihoon-seo commented on #34404
@Luckyazimie391 Please elaborate the issue you have faced more specifically.
/triage needs-information

[2022-06-19 11:37] jihoon-seo commented on #34402
The English translation of this issue is:

It seems that this issue is not appropriate for the k/w repo.
/close

[2022-06-19 11:37] #34402 closed

[2022-06-19 13:10] matif607 commented on #34030
/kind support
/sig cluster-lifecycle

un 19 13:08:09 osac-ch2-c004s.sys.comcast.net kubelet[14093]: --pod-manifest-path string                                 Path to the directory containing static pod files to run, or the path to a single static pod file. Files starting with dots will be ignored. (DEPRECATED: This parameter should be set via the config file specified by the Kubelet's --config fl

[2022-06-19 13:12] matif607 commented on #34030
/kind support
/sig cluster-lifecycle

Jun 19 13:08:09 xxx-xxx-xxx kubelet[14093]: --pod-manifest-path string                                 Path to the directory containing static pod files to run, or the path to a single static pod file. Files starting with dots will be ignored. (DEPRECATED: This parameter should be set via the config file specified by the Kubelet's --config flag. See https://ku

[2022-06-19 14:48] Luckyazimie391 opened #34405 "CC Network strategi"
https://github.com/creativecommons/global-network-strategy/blob/main/GlobalNetworkStrategy-Final.md

[2022-06-19 17:54] Rishit-dagli commented on #33228
/assign

[2022-06-19 21:07] #28820 closed

[2022-06-20 00:20] Drugoy opened #34410 "kubelet configuration mentions option 'enableSystemLogHandler' which lacks details"
https://kubernetes.io/docs/reference/config-api/kubelet-config.v1beta1/

IMO the docs should mention how to access the logs via that web interface, since visiting that url gives me 'Unauthorized' response even if I specify my bearer token (that I extracted from `kubectl` config file ~/.kube/config):
[code]

[2022-06-20 04:53] JEFFTIMES opened #34413 "Ingress - Simple fanout section manifest missing an annotations property"
Hi there,
When I tried the Simple Fanout manifest bellow in [Igress](https://kubernetes.io/docs/concepts/services-networking/ingress/) page.
`apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: simple-fanout-example
spec:
  rules:
  - host: foo.bar.com
    http:
      paths:
      - path: /foo
        pathType: Prefix
        backend:
          service:
            name: service1

[2022-06-20 04:55] NitishKumar06 commented on #34394
@jpassing On what basis you can conclude that `kubectl.exe is code-signed (Authenticode)`

[2022-06-20 06:06] jpassing commented on #34394
You can use `signtool`:

[code]

Alternatively, open the file properties of `kubectl.exe` in Windows Explorer and notice that there's no _Digital Certificates_ properties page.

[2022-06-20 08:30] pacoxu commented on #33264
link dup(wrongly created issue) https://github.com/kubernetes/kubeadm/issues/2685

[2022-06-20 08:52] piglig opened #34416 "使用 Helm 安装 Service Catalog"
![企业微信截图_16557150412169](https://user-images.githubusercontent.com/29155962/174563569-70d9f60a-1e0f-4f2b-b13a-12123d4eec22.png)

should be adjusted to "服务目录（Service Catalog）是一种扩展 API"

[2022-06-20 10:19] sftim commented on #34405
@Luckyazimie391 you haven't specified what needs fixing and why.

Did you want to report that something is wrong with the website https://kubernetes.io/?

/triage needs-information

[2022-06-20 11:40] wahjava opened #34419 "Technically accurate advise, but could mislead user who skimming it in “Use a SOCKS5 Proxy to Access the Kubernetes API”"
There is a typo:

`s/socks5h/socks5/`

EDIT: Apparently the advice is technically accurate, but I got misled as I didn't quite completely read the page.

HTH

[2022-06-20 12:03] sftim opened #34421 "Downward API concept has poor hyphenation, harming localization"
**This is a Bug Report**

**Problem:**
The downward API page writes “error prone”, where “error-prone” would send a much more clear context signal to localization teams.

**Proposed Solution:**
Add the missing character. The page was recently updated so no other changes are _needed_; however, it would super useful to include the other fix from https://github.com/kubernetes/website/pull/32400#pullr

[2022-06-20 12:04] sftim commented on #34419
/retitle Typo in Use a SOCKS5 Proxy to Access the Kubernetes API

As I understand it, `socks5h` is correct. Was there something that led you to doubt this @wahjava ?

/language en

/priority awaiting-more-evidence

[2022-06-20 12:07] NitishKumar06 commented on #34421
/assign

[2022-06-20 12:14] wahjava commented on #34419
[code]

`kubectl` version:

    Client Version: version.Info{Major:"1", Minor:"24", GitVersion:"v1.24.2", GitCommit:"f66044f4361b9f1f96f0053dd46cb7dce5e990a8", GitTreeState:"archive", BuildDate:"1980-01-01T00:00:00Z", GoVersion:"go1.18.2", Compiler:"gc", Platform:"linux/amd64"}

[2022-06-20 12:48] tengqm commented on #34416
Not sure if we are still hosting contents related to service catalogs.

[2022-06-20 12:55] sftim commented on #34419
/remove-priority awaiting-more-evidence
/triage accepted

[2022-06-20 13:52] #34421 closed

[2022-06-20 13:57] sftim commented on #34394
This is a feature request for Kubernetes, and not a documentation issue.

/transfer kubernetesw

[2022-06-20 13:57] sftim commented on #34394
/transfer kubernetes
(my typo)

[2022-06-20 13:58] #32944 closed

[2022-06-20 15:07] Rishit-dagli commented on #33847
@sftim I noticed this issue in the backlog and I could take it up though I just wanted to run by my understanding with you once.

Here's how I plan to structure the new task page:

- Set timezone for a pod and have containers inherit it
- Set timezone for a deployment and have pods inherit it
- Set timezone for a container

About this part though:

I am a bit confused about implementing this?

[2022-06-20 15:11] mehabhalodiya opened #34424 "Broken link in the Gateway API blog"
**This is a Bug Report**

**Problem:**
Links are broken in [this](https://kubernetes.io/blog/2021/04/22/evolving-kubernetes-networking-with-the-gateway-api/#what-does-the-gateway-api-look-like) page. It gives a 404 error.

**Proposed Solution:**
We might need to link them with [gatewayclass](https://gateway-api.sigs.k8s.io/concepts/api-overview/#gatewayclass), [gateway](https://gateway-api.sigs.k8

[2022-06-20 15:11] chetak123 commented on #33511
Hey @ayushtamra I making PR for this issues, can you find some other issues please 🙏
Thanks

[2022-06-20 15:12] chetak123 commented on #34424
/assign @chetak123

[2022-06-20 15:19] #31382 closed

[2022-06-20 15:40] sftim commented on #33847
@Rishit-dagli I recommend you focus on picking up issues that are marked as Accepted (this one isn't, yet).

How about any of these: https://github.com/kubernetes/website/issues?q=is%3Aissue+is%3Aopen+label%3Apriority%2Fcritical-urgent%2Cpriority%2Fimportant-soon+label%3Atriage%2Faccepted

[2022-06-20 15:41] sftim commented on #33936
/remove-priority important-soon

We need to decide what priority to set for this.

[2022-06-20 15:44] sftim commented on #33847
If anyone does want to pick it up, then make sure it's a valid task to cover, and make sure that you (the author) already know how to perform the task that you want to explain.

[2022-06-20 15:46] sftim commented on #34424
We typically don't apply fixes to blog articles more than 1 year old. Until there's more blog editorial resource, I'm happy to continue that policy.

/remove-good-first-issue
/remove-help
/priority awaiting-more-evidence

[2022-06-20 15:46] sftim commented on #34424
/remove-triage accepted

@mehabhalodiya, should we make an exception here?

[2022-06-20 15:47] taniaduggal commented on #32135
@sftim how can I redirect link from one to another?

[2022-06-20 15:47] sftim commented on #34419
Ah, you've edited the _title_ (thanks). I meant to ask if you'd edit the description, which currently reads:

[2022-06-20 15:55] taniaduggal commented on #30448
/assign

[2022-06-20 16:10] wahjava commented on #34419
Hope the latest edit is better. Sorry, I got confused between title, and the post.

[2022-06-20 16:12] sftim commented on #34419
Thanks.

/priority backlog

[2022-06-20 16:13] sftim commented on #34371
There is a bug where the repository isn't signed. As I understand it, the docs are right and the lack of repository signing is actually a bug; however, there is no clear plan to fix that bug.

[2022-06-20 16:14] sftim commented on #34371
/retitle Installing from yum repo leads to repo signature verification error

[2022-06-20 16:14] sftim commented on #34371
I'm going to file this as a bug against Kubernetes itself (and then, I suspect, we'll mark it as a duplicate of an existing report).

If the docs are wrong somehow, it's OK to explain that and then transfer this issue back to the website repo.

[2022-06-20 16:23] paketb0te opened #34426 "Example for liveness-command on Page "Configure Liveness, Readiness and Startup Probes" are not working"
I tried running the example for liveness-commands [HERE](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#define-a-liveness-command), but it kept failing.

The containers logs show an issue with `/bin/sh`:

[code]

[StackOverflow](https://stackoverflow.com/questions/69607005/cannot-run-executables-with-alpine-and-busybox-docker-images) pointed m

[2022-06-20 16:58] patrocinio commented on #34426
Hello @paketb0te Where did you see the problem running the example with busybox? It worked fine for me...

[2022-06-20 17:10] sftim commented on #30092
/reopen

[2022-06-20 17:11] #30092 closed

[2022-06-20 17:18] sftim commented on #31114
I agree. Adding a Clean Up section to that document is a good idea.

/triage accepted
/priority backlog

[2022-06-20 17:18] #29894 closed

[2022-06-20 17:20] sftim commented on #32832
Tangential relevance: https://github.com/kubernetes/website/issues/33936

@fake-name we can't customize how Katacoda works. What we might be able to do instead is provide better diagnostics, so that people who use tools like uBlock can opt to turn the tool off once they decide they are happy with the level of error reporting that doing so implies.

[2022-06-20 17:23] sftim commented on #32828
/remove-help

We shouldn't label updates to the What Is Kubernetes page as good first issues, unless the fixes are genuinely trivial. Updates to that page always require extra review.

[2022-06-20 17:27] sftim commented on #23518
https://github.com/kubernetes/website/issues/23518#issuecomment-1097010475 sounds great!

[2022-06-20 17:31] rkazak opened #34428 "Task / tutorial prerequisites mention Katacoda"
This applies to more than this page, but as KataCode is no longer available references to it should/could be removed.

[2022-06-20 17:31] sftim commented on #32858
/language en
/triage accepted
/priority backlog

Other improvements are more urgent.

[2022-06-20 17:39] sftim commented on #34426
/language en
/triage needs-information

[2022-06-20 17:52] paketb0te commented on #34426
Oh, I have to apologize - it seems that this is related to the cluster I tried to run the example on!

I tried recreating it on a different cluster and encountered no issues there.

I am closing this issue and the associated PR - sorry for the noise.

[2022-06-20 17:52] #34426 closed

[2022-06-20 18:19] dipankardas011 commented on #25903
For me
Resources are equivalent to  Classes (Boilerplate)
Objects are equivalent to  objects (Instance)
CRDs for example provide the definition of objects
@sftim

[2022-06-20 19:43] BenTheElder commented on #34224
See https://github.com/kubernetes/kubernetes/issues/110667#issuecomment-1160787376 for more discussion on why the signatures should be valid but yum can't handle them / yum's repo signature check is broken. Since yum is deprecated perhaps the path forward is to point people towards a non-deprecated tool (and if it is also broken, to fix it / file an issue upstream).

Independently, we should be mo

[2022-06-20 21:48] nate-double-u commented on #32944
Thanks @Rishit-dagli!

[2022-06-20 22:31] #27814 closed

[2022-06-21 02:37] #34221 closed

[2022-06-21 02:44] howieyuen commented on #34221
congratulations...

[2022-06-21 04:42] dorisyang-forever opened #34433 "Issue with k8s.io/docs/concepts/workloads/controllers/job/"
Env: windows + minikube

Try the first job example "pi"
job.batch/pi created

but when using: kubectl get pods    weird things happened:
**there are 5 pods created but ended in error, the status of each changing from ContainerCreating->running->error**
Finally all 5 pods error:
[code]
[code]
[code]
The error code did not tell details:
[code]

[2022-06-21 06:26] jihoon-seo commented on #34428
/label team/katacoda

[2022-06-21 06:46] wilburrito opened #34436 "Interactive Tutorial - Creating a Cluster: Cannot load interactive tutorial"
Hello! I am unable to load the interactive tutorial; the screen is just greyed out. Is anyone else experiencing the same issue?

[2022-06-21 06:55] zhangxyjlu opened #34437 "[zh-cn]Translate Chinese version for blog/2022/05/13/grpc-probes-in-beta.md"
This is a Feature Request

This page blog/2022/05/13/grpc-probes-in-beta.md has no Chinese version

What would you like to be added

Translate Chinese version for blog/2022/05/13/grpc-probes-in-beta.md

Comments
/language zh
/assign

[2022-06-21 07:34] jihoon-seo commented on #34436
/label team/katacoda

[2022-06-21 07:35] Akiqqqqqqq commented on #19401
is this issue addressed?

[2022-06-21 07:40] jihoon-seo commented on #33532
The PR #34387 closes this.
/assign @Rishit-dagli

[2022-06-21 07:40] jihoon-seo commented on #33533
The PR #34387 closes this.
/assign @Rishit-dagli

[2022-06-21 07:42] jihoon-seo commented on #34416
/language zh
The English contents related to Service Catalog will be removed in #34387.

[2022-06-21 08:20] Shubham82 commented on #34433
Hi @dorisyang-forever
It is a Duplicate of #34073,  There is a PR #34414 open for it.

I also tried with `image: perl:5.34.0` it's working fine.

[2022-06-21 08:45] #34436 closed

[2022-06-21 08:59] qlijin opened #34440 "[zh] Translate docs/reference/kubernetes-api/service-resources/ingress-class-v1.md"
**This is a Feature Request**

**What would you like to be added**

Translate docs/reference/kubernetes-api/service-resources/ingress-class-v1.md

**Comments**

Link: https://kubernetes.io/docs/reference/kubernetes-api/service-resources/ingress-class-v1/

/language zh
/kind feature
/assign

[2022-06-21 09:31] liuzhilin12 opened #34441 "Translate docs/reference/kubernetes-api/cluster-resources/lease-v1"
Hi,I am interested to translate the the "docs/reference/kubernetes-api/cluster-resources/lease-v1"

translate en/docs/reference/kubernetes-api/cluster-resources/lease-v1.md

What would you like to be added:

zh/docs/reference/kubernetes-api/cluster-resources/lease-v1.md

/language zh
/kind feature

[2022-06-21 09:32] liuzhilin12 commented on #34441
/assign

[2022-06-21 09:45] tengqm commented on #34437
/triage accepted

[2022-06-21 10:42] Rodrigo010497 opened #34443 "Improvement for k8s.io/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation/"
what do you mean by 'to register an API, you add an APIService object, which "claims" the URL path in the Kubernetes API' ?
what do you mean by "claims" ? quoted text like this  shouldn't be used for documentation it needs to be clear what the process that is occurring is. There is no way for readers to posibly no what you mean by "claim".

[2022-06-21 12:19] utkarsh-singh1 opened #34444 "Need to add link for Usage of Job to run multiple Pods in parallel in job.md"
**This is a Bug Report**

**Problem:**
There is no example for explaining the usage of job to run multiple Pods in parallel in the job.md.

**Proposed Solution:**
Add this link as an example - https://kubernetes.io/docs/tasks/job/coarse-parallel-processing-work-queue/

**Page to Update:**
https://kubernetes.io/docs/concepts/workloads/controllers/job/

[2022-06-21 12:50] sftim commented on #34443
Thanks for the suggested.

We should use italics, not quoted text, per the style guide. Also we should clearly define what we mean by this claiming process: what does the claim try to prevent from occurring, and how is that _claim_ recorded (if anywhere).

/kind cleanup
/language en
/wg api-expression
/priority backlog
/triage accepted

I wouldn't go this far. Some folks will work this out. Our jo

[2022-06-21 13:01] sftim commented on #34007
The katacoda trainings remain in place past the shutdown of katacoda.com
/close

[2022-06-21 13:02] sftim commented on #34428
/retitle Task / tutorial prerequisites mention Katacoda

Example page: https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/

/kind bug
/remove-label team/katacoda
/language en

The file to amend is `content/en/includes/task-tutorial-prereqs.md`, and we should replace the playground list with another list that doesn't mention Katacoda.
The only onlin

[2022-06-21 13:02] sftim commented on #34428
/help
/priority backlog
/triage accepted

[2022-06-21 13:03] sftim commented on #34428
If folks want to work on this, it's OK to reply here with questions. Check https://k8s.io/docs/contribute/ for general docs about how to contribute.

[2022-06-21 13:10] hackertron opened #34447 "“Copy to clipboard” button adds extra lines into the copied text"
**This is a Bug Report**

**Problem:** copy to clipboard functionality has an issue. Whenever you copy the yaml file it adds extra spaces. e.g. go to this yaml https://kubernetes.io/docs/concepts/services-networking/network-policies/#networkpolicy-resource and copy the yaml using the button. it will be like this
[code]
when it should be like this
[code]

**Proposed Solution:**
fix the extra space/

[2022-06-21 13:54] CatherineF-dev opened #34449 "Add etcd required version 3.5+ in blog `API Server Tracing`"
[api-server-tracing](https://kubernetes.io/blog/2021/09/03/api-server-tracing/) is an awesome blog.

It didn't mention that required etcd version is 3.5+ to support [etcd tracing](https://kubernetes.io/blog/2021/09/03/api-server-tracing/#enabling-etcd-tracing).

[2022-06-21 15:13] harkiratsm commented on #31015
/assign

[2022-06-21 15:29] sftim commented on #32207
Based on https://github.com/kubernetes/kubernetes/issues/110667#issuecomment-1161855532, I'm persuaded that we can and _should_ omit mention of `repo_gpgcheck` from the docs.
This will apply the YUM default setting which is not to check the signature on repo metadata.

Because that metadata is always accessed over TLS, and the webservers are run by an organization with a reputation for doing TLS w

[2022-06-21 15:32] sftim commented on #32207
/triage accepted
/priority important-soon

[2022-06-21 16:28] #34280 closed

[2022-06-21 19:29] wuestkamp commented on #33918
Nice that Oreilly still offers the scenarios for K8s docs! In case we still need or want to move at some point in time I imported the bootcamp scenarios on https://killercoda.com/kubernetes-bootcamp-scenarios just for a little test. With little tweaks these seem to work, but would still need a bit more love.

[2022-06-21 22:00] Henderv opened #34453 "Contribuir a la documentación de Kubernetes"

[2022-06-21 22:02] #34453 closed

[2022-06-21 22:30] jihoon-seo commented on #34447
For me, this is reproducible, and my environment is:
- Windows 11 (64-bit)
- Google Chrome 102.0.5005.115 (64-bit)

[2022-06-21 22:31] jihoon-seo commented on #34444
/assign @utkarsh-singh1

[2022-06-21 22:41] JohnTitor commented on #34073
Note that I've already opened #34070.

[2022-06-22 02:09] zhangxianting opened #34460 "translate docs/concepts/workloads/pods/downward-api/"
**This is Support**

/language zh
/kind feature

[2022-06-22 02:09] zhangxianting commented on #34460
/assign

[2022-06-22 03:17] Kartik494 commented on #34447
@jihoon-seo i too found this issue ,it's showing space in yaml file after copying into machine.
i am using Ubuntu.

[2022-06-22 03:25] Kartik494 commented on #34398
/sig cluster-lifecycle

[2022-06-22 03:27] Kartik494 commented on #34413
/sig network

[2022-06-22 03:59] Kartik494 commented on #34048
Hi @howieyuen as #34049 has been merged can we close this issue? Please let me know if anything pending on correcting scripts files.
Thanks!

[2022-06-22 04:04] Kartik494 commented on #33925
@NitishKumar06 this is the page https://kubernetes.io/docs/tasks/administer-cluster/cpu-management-policies/ which @jhooda  mentions in issue link also . PTAL

[2022-06-22 05:02] jihoon-seo commented on #34460
English page: https://kubernetes.io/docs/concepts/workloads/pods/downward-api/
/remove-kind support

[2022-06-22 05:19] RA489 commented on #34333
@chetak123 any update on this?

[2022-06-22 05:26] chetak123 commented on #34333
Yes I'll making a pr soon for this issue

[2022-06-22 06:52] tengqm commented on #34048
/close

[2022-06-22 06:53] #34048 closed

[2022-06-22 07:06] sbueringer opened #34463 "Versions in CustomResourceDefinitions: updating status with kubectl is now possible"
The doc states:

Starting with v1.24 kubectl edit can be used to update the status (not sure about patch)

[2022-06-22 08:09] Shubham82 commented on #34463
Hi @sbueringer
It is implemented in k8sv1.24. Here is the PR which implements this [k8s#99556](https://github.com/kubernetes/kubernetes/pull/99556)

We have to update the `Note` section in the docs.

[2022-06-22 08:10] Kartik494 commented on #32285
/remove-lifecycle stale

[2022-06-22 08:24] sbueringer commented on #34463
Yup thx. I'm aware. Just wanted to open the issue so we know we have to update the note

[2022-06-22 08:36] Rodrigo010497 commented on #34443
'I wouldn't go this far. Some folks will work this out. Our job as SIG Docs is to help as many people as possible to follow the document and reach a good understanding.'
yes you are right sorry

[2022-06-22 09:21] edoardo-c commented on #28728
/remove-lifecycle stale

[2022-06-22 09:38] sbueringer commented on #34463
I wonder if we should instead replace the current example with one using kubectl patch. (+ removing the language around that kubectl doesn't support updating the status)

[2022-06-22 10:14] sftim commented on #31795
/remove-lifecycle rotten

[2022-06-22 10:25] Shubham82 commented on #34463
Sorry, I forgot to mention updating the content of the Note.

Seems good.

[2022-06-22 11:08] Shubham82 commented on #34463
@sbueringer is it valid if we mention above as an example for using the kubectl patch to Update a CRD status through the scale subresource using a merge patch.

[2022-06-22 11:56] sbueringer commented on #34463
Almost. This should be correct:
[code]
(I verified it locally and it works)

[2022-06-22 12:01] Shubham82 commented on #34463
yeah, v1 should be in [ ], thanks, @sbueringer  for verifying it.

[2022-06-22 12:01] Shubham82 commented on #34463
I will open a pr for it soon.
/assign

[2022-06-22 12:02] sbueringer commented on #34463
Thank you! Feel free to assign me for review

[2022-06-22 12:03] Shubham82 commented on #34463
Sure

[2022-06-22 12:07] sftim commented on #34428
I'd link to https://killercoda.com/playgrounds/scenario/kubernetes and explain that this requires signup.

[2022-06-22 12:14] wuestkamp commented on #34428
I agree with @sftim, because [this playground](https://killercoda.com/playgrounds/scenario/kubernetes) will always have the latest stable version 1-2 weeks after release.

[2022-06-22 12:35] dhanraj322 commented on #34447
@hackertron @jihoon-seo I'm new to the open source world and would love to get started with contributions. Is it alright if I assign this issue to myself ?

[2022-06-22 12:46] dhanraj322 commented on #34447
This is reproducible for me on following environments:
- macOS 12.4 + Safari 15.5
- Ubuntu 20.04.4 LTS + Chrome 102.0.5005.115

[2022-06-22 13:26] Shubham82 commented on #34463
Fixed it here: #34468

[2022-06-22 14:25] dhanraj322 commented on #34447
/assign

[2022-06-22 14:46] sftim commented on #34463
/priority backlog

[2022-06-22 16:17] mehabhalodiya commented on #34079
/triage accepted
/language en

[2022-06-22 16:42] NitishKumar06 commented on #34443
/assign

[2022-06-22 17:09] sftim commented on #34449
@dashpole, this was your article. I'm guessing you'd be happy with the revision but as it is a blog article I wanted to check first.

/language en
/area blog
/remove-kind support

[2022-06-22 17:11] dashpole commented on #34449
Yes, I think it would be good to update it with that detail.

[2022-06-22 17:14] NitishKumar06 commented on #33532
/unassign

[2022-06-22 19:50] cqpr-nnit opened #34476 "Cannot find page about adding Windows nodes"
Everytime I try to go to https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/ I get redirected to https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/ - Where is the guide to adding windows nodes?

[2022-06-22 20:24] neolit123 commented on #34476
/sig docs windows cluster-lifecycle
/kind bug

seems like a link problem?
old page for 1.23 is here
https://v1-23.docs.kubernetes.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes

[2022-06-22 20:48] dorisyang-forever commented on #34433
Thank you so much.

Changed the yaml file, then it works! (Although the pods stay in "ContainerCreating" status for a long time)

apiVersion: batch/v1
kind: Job
metadata:
  name: pi
spec:
  template:
    spec:
      containers:
      - name: pi
        image: perl:5.34.0
        command: ["perl",  "-Mbignum=bpi", "-wle", "print bpi(2000)"]
      restartPolicy: Never
  backoffLimit: 4

[2022-06-22 20:50] dorisyang-forever commented on #34073
Same problem.
Use perl image 5.34.0, it works!

[2022-06-22 21:16] dorisyang-forever commented on #34433
But after a while, the pod create is in **terminated** state, is it normal?
 kubectl get pods
NAME       READY   STATUS      RESTARTS   AGE
pi-xc89m   0/1     Completed   0          24s

Events:
  Type     Reason       Age                From               Message
  ----     ------       ----               ----               -------
  Normal   Scheduled    32s                default-scheduler  Suc

[2022-06-22 22:05] tigerinus commented on #30843
Just upgraded to Kubernetes 1.24 and got it running without Docker on the bare metals. It'd be nice to see a how-to guide on how to pull images from private reg using `containerd`. Thanks.

[2022-06-22 22:34] sftim commented on #34476
/remove-kind bug

There is now no specific guide for creating Windows nodes (nor is there one for creating Linux nodes). SIG Windows opted to remove the guide that did exist, in PR #33324

If someone wants to write a **new** task page about adding a node to an existing cluster, we (SIG Docs) welcome it. That page could use [tabs](https://kubernetes.io/docs/contribute/style/hugo-shortcodes/#tabs) t

[2022-06-22 22:51] rbeldin opened #34479 "Issue with k8s.io/docs/tasks/run-application/run-replicated-stateful-application/"
I'm learning kubernetes and stepping through the various scenarios.   I came across an issue that I can't tell if it is my own fault or some subtle issue with the yaml file.

When I try to execute:

kubectl apply -f https://k8s.io/examples/application/mysql/mysql-statefulset.yaml

After successfully doing the previous steps, I get:

kubectl apply -f https://k8s.io/examples/application/mysql/mysql-

[2022-06-22 22:52] sftim commented on #34476
/retitle Cannot find page about adding Windows nodes

[2022-06-22 23:09] sftim commented on #30843
We already have the guide at https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/ but we don't have a _migration_ guide.

[2022-06-23 02:01] RA489 commented on #27407
/remove-lifecycle rotten

[2022-06-23 02:45] CauchyPolymer opened #34481 "테인트(Taints)와 톨러레이션(Tolerations)"

[2022-06-23 04:09] NitishKumar06 commented on #34479
HI @rbeldin , Edit your YAML files and set the same key-value pairs in both `selector.matchLabels` and` metadata.labels.`

[2022-06-23 05:01] Kartik494 commented on #31159
/remove-lifecycle stale

[2022-06-23 05:13] Kartik494 commented on #34298
@akshat-khare Seems running perfectly fine, and able to do task mentioned in the tutorial .

[2022-06-23 05:59] Kartik494 commented on #32077
/remove-lifecycle stale

[2022-06-23 06:40] younaman opened #34485 "Query about whether Prometheus, Grafana etc are Kubernetes add-ons"
When Reading the installing addons pages, I am a little confusing that why Prometheus and Grafana are not listed in the add-on pages?

[2022-06-23 06:46] #31476 closed

[2022-06-23 06:46] sp-yduck opened #34486 "[ja] mistranslation in monitor-node-health page"
kubectlを使用してNodしますroblem Detectorを有効にします
↓
kubectlを使用してNode Problem Detectorを有効化します

https://kubernetes.io/ja/docs/tasks/debug-application-cluster/monitor-node-health/#using-kubectl
<img width="849" alt="Screen Shot 2022-06-23 at 15 43 53" src="https://user-images.githubusercontent.com/63634867/175232758-2248a82f-c032-41d2-b59f-ded6885f88da.png">

[2022-06-23 07:19] howieyuen opened #34487 "[zh] Every blog should add "slug" param and remove "url" param in the header part after localization"
If blog doesn't have a slug, the full URL will be joint by English prefix and Chinese title.
related info: https://github.com/kubernetes/website/pull/34461#discussion_r904621692

After check, I found a lot of blogs need to be update:

2015
[code]

2016
[code]

2017
[code]

2018
[code]

2019
[code]

[2022-06-23 07:19] howieyuen commented on #34487
/language zh

[2022-06-23 07:19] howieyuen commented on #34487
/triage accepted

[2022-06-23 07:24] NitishKumar06 commented on #34487
/assign

[2022-06-23 07:26] NitishKumar06 commented on #34487
@howieyuen Can you tell on what basis these slugs are selected? Like how to write a slug?

[2022-06-23 07:32] howieyuen commented on #34487
I read a lot of English blogs, slug basically connects each word in the title with `-`, and word are started with lower letter

[2022-06-23 07:57] jihoon-seo commented on #34486
/language ja
/kind bug

[2022-06-23 08:00] jihoon-seo commented on #34487
It seems like a nice catch!
/assign @howieyuen

[2022-06-23 08:02] jihoon-seo commented on #34481
@CauchyPolymer 안녕하세요~
https://kubernetes.io/ko/docs/concepts/scheduling-eviction/taint-and-toleration/ 페이지에서 어떤 이슈를 발견하셨는지 기재해 주시면 되겠습니다~~
/triage needs-information

[2022-06-23 08:06] jihoon-seo opened #34493 "[zh] Unwanted item appears in left sidebar of `/zh-cn/blog/` page"
**This is a Bug Report**

**Problem:**
Unwanted item appears in left sidebar of [`/zh-cn/blog/`](https://kubernetes.io/zh-cn/blog/) page
![image](https://user-images.githubusercontent.com/46767780/175248735-b381d3f6-e877-4020-aea2-a6f62d6e581f.png)

English page for comparison:
![image](https://user-images.githubusercontent.com/46767780/175248859-26062631-b9b8-4d42-92a9-af6182041d4e.png)

**Propos

[2022-06-23 08:07] jihoon-seo commented on #34485
Page: https://kubernetes.io/docs/concepts/cluster-administration/addons/

[2022-06-23 08:26] jihoon-seo opened #34494 "Remove broken link to Katacoda playground in `task-tutorial-prereqs.md`"
**This is a Bug Report**

**Problem:**
In [`content/en/includes/task-tutorial-prereqs.md`](https://github.com/kubernetes/website/blob/main/content/en/includes/task-tutorial-prereqs.md?plain=1), there exists a link to Katacoda playground ([example](https://kubernetes.io/docs/tasks/run-application/run-replicated-stateful-application/#:~:text=these%20Kubernetes%20playgrounds%3A-,Katacoda,-Play%20with

[2022-06-23 08:38] Shubham82 commented on #34433
It is not terminated in my case, i used minikube having k8s version v1.24.0

Which k8s version you are using.
Please see this issue #105204, this issue was in v1.22 and v1.23 and resolved in v1.22.9 and v1.23.6

[2022-06-23 08:40] jihoon-seo commented on #34479
@NitishKumar06 I am afraid to say that your suggestion is not a proper solution.
If K8s doc has bug, then it would be great to fix that.

@rbeldin This is reproducible for me.
/triage accepted

[code]

And rather than your suggestion (`mysql-statefulset.yaml` L15 `mysql` → `mysql-server`),
I suggest this:

[L8 in `mysql-statefulset.yaml`]
[code]

This will make the [following command `kubectl get

[2022-06-23 08:52] jihoon-seo commented on #34447
/unassign @dhanraj322

[2022-06-23 08:56] RA489 commented on #24080
/remove-lifecycle rotten

[2022-06-23 08:57] jihoon-seo commented on #28616
/unassign @suhhee1011

[2022-06-23 08:57] RA489 commented on #29856
/remove-lifecycle rotten

[2022-06-23 08:58] RA489 commented on #30084
/remove-lifecycle rotten

[2022-06-23 08:59] RA489 commented on #30188
/remove-lifecycle rotten

[2022-06-23 09:50] NitishKumar06 commented on #34494
/assign

[2022-06-23 10:14] CauchyPolymer commented on #34481
에고 잘못눌렀습니다 죄송합니다;;;

2022년 6월 23일 (목) 오후 5:02, Jihoon Seo ***@***.***>님이 작성:

[2022-06-23 10:15] sftim commented on #34494
This is a duplicate, or near-duplicate, of issue https://github.com/kubernetes/website/issues/34428

/triage duplicate

[2022-06-23 10:20] jihoon-seo commented on #34494
I am closing this issue in favor of https://github.com/kubernetes/website/issues/34494#issuecomment-1164229959.

[2022-06-23 10:20] #34494 closed

[2022-06-23 10:23] jihoon-seo commented on #34481
/close

[2022-06-23 10:23] #34481 closed

[2022-06-23 10:24] NitishKumar06 commented on #34428
@sftim I've linked to Killercoda along with modification of line in the latest PR I've raised for this [issue](https://github.com/kubernetes/website/pull/34496)

[2022-06-23 10:33] Rishit-dagli commented on #34479
I'd love to work on this
/assign

[2022-06-23 10:42] tengqm commented on #34493
/close

[2022-06-23 10:42] #34493 closed

[2022-06-23 12:09] sftim commented on #34485
I'd say that a Kubernetes add-on extends Kubernetes and isn't useful by itself. We could clarify the concept page so that it's more obvious why Prometheus is not an add-on (you can use it without Kubernetes).

The same is true of Grafana.

[2022-06-23 12:09] #34479 closed

[2022-06-23 12:11] sftim commented on #25172
/remove-lifecycle rotten

I think there's still debate about whether this is useful.

[2022-06-23 12:12] howieyuen opened #34501 "[zh]Update existing pages for links with '/zh/' prefix, using new prefix '/zh-cn/'"
parent issue: https://github.com/kubernetes/website/issues/33955, task-6

- [x] **task1, blog pages(2015-2017)**: https://github.com/kubernetes/website/pull/34502
[code]

- [x] **task2, blog pages(2018-2022)**: https://github.com/kubernetes/website/pull/34503
[code]

- [x] **task3, concepts pages(part-1)**: https://github.com/kubernetes/website/pull/34504
[code]

- [x] **task4, concepts pages(part

[2022-06-23 12:41] #34486 closed

[2022-06-23 12:42] howieyuen commented on #34501
/language zh
/triage accepted

[2022-06-23 12:51] sftim commented on #34501
/priority backlog
(because a redirect covers this until the work is done)

[2022-06-23 13:49] younaman commented on #34485
@sftim Thanks for your reply! So the Prometheus and Grafana can be only called "Kubernetes third party applications?"

By the way, can I separate these third-party applications to Networking and Network Policy, Service Discovery, Visualization & Control, and Infrastructure?

From the third-party applications view, can the Prometheus be called "Infrastructure" and Grafana be called "Visualization &

[2022-06-23 16:22] kadtendulkar opened #34537 "Broken link on Localizing Kubernetes documentation page"
**Problem:**
The text **All site strings** on [link](https://kubernetes.io/docs/contribute/localization/) is not working and redirecting to same [page](https://kubernetes.io/docs/contribute/localization/#Site-strings-in-i18n), it should point to this [link](https://kubernetes.io/docs/contribute/localization/#site-strings-in-i18n)

Check the page [Localizing Kubernetes documentation](https://kubern

[2022-06-23 16:40] sftim commented on #34537
/retitle Broken link on Localizing Kubernetes documentation page

[2022-06-23 16:50] #31462 closed

[2022-06-23 21:31] #31479 closed

[2022-06-23 21:36] jihoon-seo commented on #31479
/wg multitenancy

[2022-06-23 21:47] #34449 closed

[2022-06-23 22:20] reylejano commented on #30448
@winkee01 , in the original paragraph:

Is the phrase "scratch work" clear?
If it is not, then is "test work" or "temporary work" better? Or are "test work" or "temporary work" too close to "development work"?

[2022-06-23 22:27] jihoon-seo commented on #34537
This issue has been resolved by the PR #34538.
/close

[2022-06-23 22:27] #34537 closed

[2022-06-24 00:03] #33026 closed

[2022-06-24 00:47] dorisyang-forever commented on #34433
I am using k8s 1.24.0

[2022-06-24 01:27] #34424 closed

[2022-06-24 01:58] reylejano commented on #34284
I could not reproduce, the cards are viewable
This might depend on your browser and your window size
![image](https://user-images.githubusercontent.com/52760880/175446976-64b871ab-3e8f-46c6-b3b2-ad1ef38bf108.png)
/close

[2022-06-24 01:58] #34284 closed

[2022-06-24 02:04] reylejano commented on #34286
I don't know if we need a dedicated Tips section since you can run `kubectl api-resources` to get the short names

[2022-06-24 02:06] tengqm commented on #34460
/triage accepted

[2022-06-24 02:07] reylejano commented on #34286
This is already stated on the cheatsheet
https://kubernetes.io/docs/reference/kubectl/cheatsheet/#resource-types
I'm going to close this issue, but you feel otherwise please reopen

[2022-06-24 02:07] #34286 closed

[2022-06-24 02:07] tengqm commented on #34440
/triage accepted

[2022-06-24 02:31] jihoon-seo commented on #32207
/assign

[2022-06-24 02:35] reylejano commented on #34485
Hi @younaman, since Tim has clarified why Prometheus and Grafana are not listed on the add-ons page, I'm closing this issue

Prometheus is an open source monitoring tool
Grafana visualizes the Prometheus data

Here's a few other resources:
- [#prometheus channel](https://kubernetes.slack.com/archives/CD0T3TQUR)
- [#kubernetes-users channel](https://kubernetes.slack.com/archives/C09NXKJKA) on the K

[2022-06-24 02:35] #34485 closed

[2022-06-24 02:39] reylejano commented on #34398
We have strategies for rolling updates for deployments here: https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#rolling-update-deployment

[2022-06-24 02:39] #34398 closed

[2022-06-24 02:41] reylejano commented on #33978
I confirmed this scenario is working fine
![image](https://user-images.githubusercontent.com/52760880/175451506-260699c4-9758-4efc-93ab-92dd893913e1.png)

[2022-06-24 02:41] #33978 closed

[2022-06-24 02:42] reylejano commented on #33975
This scenario is working for me, I've made several attempts on Mozilla Firefox and Google Chrome and all were successful
![image](https://user-images.githubusercontent.com/52760880/175451586-f838dfbc-e514-46d1-b199-45125fdb3421.png)

[2022-06-24 02:42] #33975 closed

[2022-06-24 02:53] reylejano commented on #33970
`|` means block literal style which means new lines are preserved
Since this is more of a support question, I'm closing this issue
The [#kubernetes-users channel on the Kubernetes Slack](https://kubernetes.slack.com/archives/C09NXKJKA) is a good resource

[2022-06-24 02:53] #33970 closed

[2022-06-24 02:53] reylejano commented on #33746
/triage accepted

[2022-06-24 02:56] reylejano commented on #33764
Hi @Sandiip96 , this issue is better suited in https://github.com/kubernetes/kubectl, please re-create this issue in https://github.com/kubernetes/kubectl
Since this is not an issue with kubernetes.io, I'm closing this issue

[2022-06-24 02:56] #33764 closed

[2022-06-24 03:03] reylejano commented on #33110
I'm closing this issue as this is a support request and not an issue related with kubernetes.io
To help you with you issue and this is my opinion only, you need to state the full path to the image including the private registry
e.g.
`image: my-registry.io/images/my-image:tag`

[2022-06-24 03:03] #33110 closed

[2022-06-24 03:25] winkee01 commented on #30448
To me, changing from `scratch xxx` to `test xxx` has a clearer meaning.

[2022-06-24 03:41] #34437 closed

[2022-06-24 03:53] ydFu commented on #34501
Thanks,all task is done, we can proceed a step forward.

[2022-06-24 04:07] syhmc commented on #33975
@reylejano Thanks, just tried the Kubernetes Interactive Tutorial again and it worked now.

[2022-06-24 04:43] chetak123 opened #34550 "Request to add new comments in PR template"
**This is a Feature Request**

**What would you like to be added**
This issue is in response to this [comment](https://github.com/kubernetes/website/pull/34455#issuecomment-1163385617)

This is a request to add new comment to PR template
[code]

**Why is this needed**
When writing a PR for an issue it's advised to add `Fixes #` for the related issue so that when the PR is merged the Issue gets aut

[2022-06-24 05:32] tengqm commented on #34501
/close

[2022-06-24 05:32] #34501 closed

[2022-06-24 05:59] #31465 closed

[2022-06-24 06:36] ashish-jaiswar commented on #34476
/assign

[2022-06-24 07:33] juzweb opened #34552 "Recommended Labels"
Hi, In the example for deployment and service, both the name and service is the same, is this correct? Should the deployment name and service name is different to each other?

[2022-06-24 08:14] ydFu commented on #34501
There is a question I am a little worried about, whether the content of the `en version` that has not been synced to before this,
Can not be tracked using `./scripts/lsync.sh`?

[2022-06-24 08:28] sftim commented on #34552
/kind support

Which example did you want advice about, @juzweb?

[2022-06-24 08:55] hackertron commented on #34447
Now it looks like the spaces are included in the markdown also : https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/#configure-all-key-value-pairs-in-a-configmap-as-container-environment-variables

[2022-06-24 09:05] pacoxu opened #34553 "`Validate node setup` is out of date"
It guides users to run conformance tests with `k8s.gcr.io/node-test:0.2` which was built in 2016.

The https://github.com/kubernetes/community/blob/master/contributors/devel/sig-node/e2e-node-tests.md is updated.

[2022-06-24 09:19] windsonsea commented on #34158
Thanks you all. All files in this issue are successfully localized and merged.

/close

[2022-06-24 09:47] sp-yduck opened #34557 "[ja] missing right bracket /tasks/debug-application-cluster/monitor-node-health.md"
as of now : [default configuration(https://.....
expected : [default configuration](https://...

<img width="800" alt="Screen Shot 2022-06-24 at 18 40 25" src="https://user-images.githubusercontent.com/63634867/175509157-e248a069-eccf-4f26-b15f-23d3eeaa374a.png">

https://kubernetes.io/ja/docs/tasks/debug-application-cluster/monitor-node-health/

[2022-06-24 09:59] jihoon-seo commented on #34557
/triage accepted
/language ja

[2022-06-24 10:04] NitishKumar06 commented on #34557
/assign

[2022-06-24 10:54] #34557 closed

[2022-06-24 11:44] tengqm commented on #34501
At the same time, I do think this series of prefix replacement patches should have carefully checked the status of each page.

[2022-06-24 12:24] ayushtamra commented on #34447
Hi, anyone having idea how can we approach this issue, from my observation the spaces are being added when the markdown is built

[2022-06-24 12:30] patrocinio commented on #34322
Per the discussion with @Shubham82 , the recommendation is to remove the part that talks about reusing the Makefile and always instruct to run the steps manually.

The Makefile points to nginxsvc, and it is used in some other pages and examples. Changing the Makefile to refer to my-nginx would require a lot of changes. So, the best solution is to simplify the instructions in this page.

[2022-06-24 12:59] marius-lupu opened #34565 "Can't initialize the Kubernetes cluster in rootless mode using the documentation"
I'm trying to follow [this](https://kubernetes.io/docs/tasks/administer-cluster/kubelet-in-userns/#userns-the-hard-way) documentation for a couple of good weeks now. Unfortunately, at the last step, when I had to initialize the cluster with `kubeadm init` I'm receiving an error:
[code]

My config.yaml
[code]

I'm running this inside a namespace by running this command before `containerd-rootless-s

[2022-06-24 13:21] neolit123 commented on #34565
kubeadm requires root because it calls to systemctl and needs access to the system.
you could try working around it by putting shims between kubeadm and the host, but this is unsupported by the kubeadm team and it might not fully work.

https://kubernetes.io/docs/tasks/administer-cluster/kubelet-in-userns/#userns-the-hard-way is about "node components" so you could try following that guide without

[2022-06-24 13:24] sftim opened #34566 "Production environment page retains link to adding Windows nodes"
**This is a Bug Report**

**Problem:** The [Production environment](https://kubernetes.io/docs/setup/production-environment/) mentions adding Windows nodes to your cluster as a production consideration. In fact, you might want to do this whether your cluster is running in production or not.

**Proposed Solution:**
Remove the paragraph that starts “_Add Windows nodes to the cluster_” from https://k

[2022-06-24 13:26] marius-lupu commented on #34565
Thanks, @neolit123 for your answer. So, basically, the master node can't be created in a rootless mode or with root in a user namespace, right? Only the nodes that will join an existing cluster can be rootless?
(Sorry, I don't know exactly what "node components" means)

[2022-06-24 13:27] marius-lupu commented on #34565
What I'm trying to do is to install Kubernetes (kubeadm, kubectl, kubelet plus prerequisites like containerd) in rootless mode. Is that possible?

[2022-06-24 13:32] sftim commented on #34565
GitHub is not the right place for support requests.

Instead, you can ask your question on the [Kubernetes Slack](http://slack.k8s.io/) (channel `#kubernetes-users` or in the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

You could also check [Server Fault](https://serverfault.com/questions/tagged/kubernetes) and ask the question there if it hasn't already been.

You can also post yo

[2022-06-24 13:32] sftim commented on #34565
/remove-sig security

[2022-06-24 13:34] sftim commented on #34565
@marius-lupu I noticed that the section you're asking for help with states:

There's no documentation for setting up rootless Kubernetes manually for an end-user audience, and we're not planning to add any (it would be a lot of extra effort to maintain it).

[2022-06-24 13:34] sftim commented on #34565
/close

Nothing to fix.

[2022-06-24 14:03] NitishKumar06 commented on #34566
/assign

[2022-06-24 16:18] kadtendulkar opened #34569 "Fix the link on Force Delete StatefulSet Pods page"
**Problem:**
The text **Node Controller** on [link](https://kubernetes.io/docs/tasks/run-application/force-delete-stateful-set-pod/) is not pointing to the exact section and redirecting to the page [page](https://kubernetes.io/docs/concepts/architecture/nodes/), it should point to this [link](https://kubernetes.io/docs/concepts/architecture/nodes/#node-controller)

Check the page [Force Delete Sta

[2022-06-24 16:40] #34566 closed

[2022-06-24 18:01] #31395 closed

[2022-06-24 19:29] brianpursley commented on #30887
I'm trying to understand if clarification is needed here or not.

I feel like this suggested text already seems obvious, to me at least, and a this information is provided elsewhere on the page already:
[code]

That being said, if is decided that clarification would be helpful here, how about something like this?

[2022-06-24 19:33] shannonxtreme commented on #32869
I added content to clarify this. This is summarized in [this comment](https://github.com/kubernetes/website/pull/34168#issuecomment-1165873366)

[2022-06-24 19:57] shannonxtreme commented on #30448
test cluster feels nearer to me as well. Especially paired with temporary work. An intro that defines it like "Suppose you have two clusters, a dev cluster for development work and a test cluster for temporary work such as brainstorming and problem solving"

[2022-06-24 20:40] brianpursley commented on #30849
Is this true for redirects in general, or only external redirects?

The [issue that PR fixes](https://github.com/kubernetes/kubernetes/issues/103877) says "external redirects" and redirects to a different host in the readiness probe.

The below seems to work fine for me (no warnings).  I can use `/old` as my readiness probe even though it 302 redirects to `/health`:
[code]

[2022-06-24 21:20] xeberth opened #34573 "Assigning Pods to Nodes - example missing mentioned values"
![Screenshot 2022-06-24 4 18 37 PM](https://user-images.githubusercontent.com/54719682/175677544-c98b5151-ea15-4e44-8608-773077b8a8e3.png)
The label with the key topology.kubernetes.io/zone not exist in the example for node affinity:

https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#node-affinity

[2022-06-24 21:58] borch84 opened #34574 "Dynamic Admission Control API version v1"
Hello, we are working on updating an admission controller. We need to update the apiVersion from v1beta1 to v1 but when we use the v1 API, the admission controller is not denying our requests. This is an example of the validating webhook configuration.
I have tried changing the several options in the sideEffects with no luck.
If we return to v1Beta1 the admission controller works again.
I would li

[2022-06-24 22:33] jihoon-seo commented on #34574
/kind support

[2022-06-24 23:05] #31504 closed

[2022-06-24 23:05] #31507 closed

[2022-06-25 01:38] dorisyang-forever opened #34575 "Issue with k8s.io/docs/reference/access-authn-authz/extensible-admission-controllers/"
For the first example, when apply -f, meet a problem:
**Error from server (BadRequest): error when creating "webhook.yaml": ValidatingWebhookConfiguration in version "v1" cannot be handled as a ValidatingWebhookConfiguration: illegal base64 data at input byte 10**

How should I resolve this?

the first example:
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metada

[2022-06-25 02:03] tengqm commented on #34575
/kind support

The `caBundle` attribute takes a base64-encode PEM. The example shows you this.

[2022-06-25 02:17] tengqm opened #34576 "[zh] Missing page for downward-API"
The commit 7f3604a949c1d85b2074cea3e3068e1b522850d8 introduced a new page which is missing in the `zh-cn` localization:

`content/en/docs/concepts/workloads/pods/downward-api.md`

Need help to translate it.

/language zh
/help

[2022-06-25 02:17] tengqm commented on #34576
/triage accepted

[2022-06-25 02:19] tengqm opened #34577 "[zh-cn] Patch-releases page is out of sync."
Patch 1897dfba16e4654dd2887b92f92326abc9b3430f and 199c78c0f39c7d936b51c9532b1e5cb21363ebd3 has introduced some changes to the following page:

`content/en/releases/patch-releases.md`

- Contents related to 1.21 release has been removed.
- Patch schedule for July cycle has changed.

We need to resync the page.
/language zh
/help

[2022-06-25 02:20] tengqm commented on #34577
/triage accepted

[2022-06-25 05:06] NitishKumar06 commented on #34577
/assign

[2022-06-25 05:06] NitishKumar06 commented on #34577
@tengqm Should the new changes that were made be removed as well and restore the pages to back it was before?

[2022-06-25 06:03] ashish-jaiswar commented on #34476
/unassign

[2022-06-25 06:34] manaschandrasahoo commented on #32207
one word - thank u

[2022-06-25 09:37] harshchauhan1988 opened #34592 "improvement in multi-tenancy Network isolation design doc"
Scope of improvement in below mentioned doc:

Web Page:

https://kubernetes.io/docs/concepts/security/multi-tenancy/

In a multi-tenant environment, certain use case might requires traffic to be allowed between tenant owned namespaces, be very mindful to avoid any use of _empty label selector {} for namespaceSelector field in network policy definition_  and strictly stick with specific labels whic

[2022-06-25 11:56] sftim commented on #34592
Hi @harshchauhan1988

Can you clarifying what you're suggesting / reporting? Which web page is wrong (or could be improved)? Why are you recommending the change, and what should that be - either broadly or narrowly, it's up to you.

/triage needs-information
/language en

[2022-06-25 13:23] harshchauhan1988 commented on #34592
@sftim  Thanks for asking this clarification. There is nothing wrong currently in web page. It can be improved a bit. In this below mentioned paragraph you have mentioned the highlighted recommendation:

`Pod-to-pod communication can be controlled using [Network Policies](https://kubernetes.io/docs/concepts/services-networking/network-policies/), which restrict communication between pods using nam

[2022-06-25 13:44] tengqm commented on #34577
@NitishKumar06 Two changes are required: contents related to 1.21 should be removed; contents for next release should be added. In other words, this localized page should be in full sync with the English upstream.

[2022-06-25 15:25] NitishKumar06 commented on #34577
I got it! I'm not so comfortable with the language as it is required in the file. I thought the changes were to be made in the English file.

If anyone is willing to work on this issue, please feel free to work!

[2022-06-25 17:09] BastienVigneron commented on #33640
same error for me.

[2022-06-25 18:42] Faarhad opened #34609 "Improvement for k8s.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/"
after configure cgroup driver in this page it would be better if we specify a clear step for turn swap off, this is because all the prerequisite explained but there is no description about turn swap off.
Regards,

[2022-06-25 21:36] sftim opened #34610 "Remove information about CronJob graduating to stable"
**This is a Bug Report**

**Problem:**
There's some text on some of the pages about  CronJob ; for example, [Running Automated Tasks with a CronJob.](https://kubernetes.io/docs/tasks/job/automated-tasks-with-cron-jobs/)

When Kubernetes v1.25 is released, we can (and think should) remove that text, because none of the versions before 1.21 would be in support.

**Proposed Solution:**
Remove that pa

[2022-06-25 21:42] sftim commented on #4500
Also see https://github.com/kubernetes/website/issues/34610

[2022-06-25 21:54] sftim commented on #34592
/remove-triage needs-information
/wg multitenancy

[2022-06-25 21:55] sftim commented on #34592
I'll let the multitenancy working group triage this one.

[2022-06-25 21:56] sftim commented on #34592
@harshchauhan1988 didn't say which web page to improve. I've guessed that they meant https://kubernetes.io/docs/concepts/security/multi-tenancy/

[2022-06-25 21:58] sftim commented on #34609
@Faarhad, it seems to me that if we cater for readers who skip past

then we can't take much for granted at all. At some point, we really do need to assume that our readers are capable of following at least the instructions in bold, capitalized text.

However, that text might actually be out of date. The kubelet has [_alpha_ support](https://kubernetes.io/blog/2021/08/09/run-nodes-with-swap-alpha/

[2022-06-25 22:02] sftim commented on #34573
/kind bug
/language en
/triage accepted

Thanks for reporting this.

I would fix this discrepancy by copying the example manifest to make a _new_ example, that **does** use the key `topology.kubernetes.io/zone` key. The Git history might show a previous version that already did, which would make it easier to write the copy.

The reason I'd make that copy is because I suspect that more than one pag

[2022-06-25 22:14] sftim commented on #32869
I [replied](https://github.com/kubernetes/website/pull/34168#issuecomment-1166369661).

[2022-06-25 22:16] #32207 closed

[2022-06-25 22:17] sftim commented on #32732
/close

Original issue fixed in https://github.com/kubernetes/website/pull/34546

[2022-06-25 22:17] #32732 closed

[2022-06-25 22:54] sftim commented on #34433
This needs a fix that is similar to https://github.com/kubernetes/website/pull/34475

/language en
/kind bug
/triage accepted

[2022-06-25 22:54] sftim commented on #34433
/remove-triage accepted
/triage duplicate

[2022-06-25 22:55] sftim commented on #34073
This needs a fix that is similar to https://github.com/kubernetes/website/pull/34475

[2022-06-25 23:07] jihoon-seo commented on #34073
@sftim it seems that the PR #34475 itself fixed this issue, am I right?

[2022-06-25 23:44] webdog opened #34611 "Docs reference nonexistent command line arguments to for kube-apiserver"
**This is a Bug Report**

**Problem:**

In the kube-apiserver docs, specifically enabling RBAC, the docs reference two attributes that don't exist as part of the CLI:

[code]

Specifically, `--other-options` and `--more-options` seem to mean that "other/more" options could be passed via the command line when enabling RBAC. However, the docs present these as literal attributes, and I spent 15 minut

[2022-06-26 01:48] tengqm commented on #34577
@NitishKumar06 Thank you for stepping forward.

[2022-06-26 04:19] NitishKumar06 commented on #34610
/assign

[2022-06-26 05:36] avicloud720 opened #34617 "Improvement for k8s.io/docs/reference/kubernetes-api/cluster-resources/binding-v1/"
Can you please provide an example? It will be really helpful.

For example, I am struggling to do a POST request.
[code]

Getting error: `curl: (6) Could not resolve host: api`

[2022-06-26 08:21] tengqm commented on #34617
you are supposed to curl an URI, not just the path, i.e.

[code]

/kind support

[2022-06-26 16:30] #26485 closed

[2022-06-26 19:31] #30901 closed

[2022-06-26 19:50] Omar-EM opened #34626 "Trouble accessing interactive tutorial using Mozilla browser"
Hi, I came across this screen when starting an interactive tutorial. I can't see any readable text displayed.
I am using Mozilla on mac

![text not clear interactive tuto](https://user-images.githubusercontent.com/93885736/175831429-6179965a-bc07-4a2b-a4fc-f4c153c7612d.png)
.

[2022-06-27 01:43] harshchauhan1988 commented on #34592
closing this issue  to avoid any duplicate work as i have raised below mentioned PR:

https://github.com/kubernetes/website/pull/34624

[2022-06-27 01:43] #34592 closed

[2022-06-27 03:10] #34194 closed

[2022-06-27 03:30] pacoxu opened #34629 "best practice about a system-level watchdog for the init system or a metric"
**This is a Feature Request**
We may need NPD or a watchdog to make sure of the node's health status.

When a node is hung, we should mark the node as not ready and do some fencing for pod or volume.

- kubelet can cover the container runtime part, but will not cover other parts.
- We wrote a BMC-power-off-drain script to check the server's power state and drain the node itself once the power will

[2022-06-27 03:40] ydFu opened #34630 "[zh] Missing page for /zh-cn/docs/reference/kubernetes-api/workload-resources/pod-v1/"
The commit https://github.com/kubernetes/website/pull/34586 introduced a new page which is missing in the zh-cn localization:

`content/zh-cn/docs/reference/kubernetes-api/workload-resources/pod-v1.md`

Open this issue for tracking,need help to translate it.

/language zh
/cc @tengqm @Sea-n
/help

[2022-06-27 03:43] ydFu commented on #34630
/triage accepted

[2022-06-27 03:49] mengjiao-liu opened #34633 "./scripts/lsync.sh cannot sync files under zh-cn correctly."
**This is a Bug Report**
./scripts/lsync.sh cannot sync files under `zh-cn` correctly.

This problem should exist with  $LOCALIZED more than 2 characters.

** When happened
when zh -> zh-cn
see https://github.com/kubernetes/website/pull/34215

**Proposed Solution:**
`./scripts/lsync.sh` needs to be updated

[code]
to
[code]

/cc @temnqm @howieyuen
/language zh

[2022-06-27 03:51] ydFu commented on #34633
/triage accepted

[2022-06-27 03:53] mengjiao-liu commented on #34633
I found this problem when reviewing this PR https://github.com/kubernetes/website/pull/34556/files, the commit time of the `en` version is later than the `zh-cn` version, but `./script/lsync` did not correctly find the difference between the 2 versions.

[2022-06-27 06:11] shixiuguo opened #34635 "[zh] Translate the the "en/docs/reference/kubernetes-api/service-resources/endpoints-v1.md""
**This is a Feature Request**

Hi,I am interested to translate the the "en/docs/reference/kubernetes-api/service-resources/endpoints-v1.md" into chinese

translate en/docs/reference/kubernetes-api/service-resources/endpoints-v1.md

What would you like to be added:

zh/docs/reference/kubernetes-api/service-resources/endpoints-v1.md

/language zh
/kind feature

[2022-06-27 06:11] shixiuguo commented on #34635
/assgin

[2022-06-27 06:29] howieyuen commented on #34633
nice catch!

[2022-06-27 08:36] sftim commented on #34629
https://0pointer.de/blog/projects/watchdog.html explains a _systemd_ facility to detect and handle a hang.

[2022-06-27 08:40] sftim commented on #34626
/kind bug

With which web browsers can you reproduce this, @Omar-EM ?

[2022-06-27 10:32] #34633 closed

[2022-06-27 11:14] Zappelphilipp commented on #33640
same here.

[2022-06-27 11:14] Zappelphilipp commented on #33640
same here

[2022-06-27 11:53] sftim commented on #33640
As this bug is resolved, I'm going to lock it to ensure that the record remains on-topic.

[2022-06-27 12:37] windsonsea opened #34643 "[zh-cn] Localize blog/2022-06-01-annual-report-2021.md"
**This is a Feature Request**

Will add zh-cn text of this blog: https://kubernetes.io/blog/2022/06/01/annual-report-summary-2021/

[2022-06-27 12:37] windsonsea commented on #34643
/triage accepted

/assign

[2022-06-27 12:39] windsonsea commented on #34643
/language zh

[2022-06-27 12:42] sftim commented on #34611
/retitle Docs reference nonexistent command line arguments to for kube-apiserver
/language en

How about `--example-argument` and `--another-example-argument`? Would that be more obvious?

[2022-06-27 12:44] sftim commented on #34611
We want to make it clear that in the RBAC docs, we're not going to list _all_ the mandatory command line options to `kube-apiserver` (there are a lot of them).

What we could use is a document about deploying the kube-apiserver manually. _Not_ a full, Kubernetes-the-hard-way guide, just a basic guide that makes it clear you don't get a working Kubernetes cluster even if you follow it.

Then the RB

[2022-06-27 12:44] sftim commented on #34611
It's also OK to add a comment that the command is for illustration and does not work if you run it.

[2022-06-27 12:46] sftim commented on #34447
Could we change the JavaScript to fetch the source document and then copy that fetched source document into the clipboard?

That'd be tidy if we can.

[2022-06-27 12:46] sftim commented on #34447
/area web-development

[2022-06-27 12:46] sftim commented on #34447
This feels like a cosmetic bug
/priority backlog

[2022-06-27 13:41] afirth commented on #16607
/remove-lifecycle rotten
/triage accepted

[2022-06-27 13:50] shixiuguo opened #34645 "[zh] Translate the the "en/docs/reference/kubernetes-api/service-resources/ingress-class-v1.md""
Hi,I am interested to translate the the "en/docs/reference/kubernetes-api/service-resources/endpoints-v1.md" into chinese

translate en/docs/reference/kubernetes-api/service-resources/ingress-class-v1.md

What would you like to be added:

zh/docs/reference/kubernetes-api/service-resources/ingress-class-v1.md

/language zh
/kind feature

[2022-06-27 13:51] shixiuguo opened #34646 "[zh] Translate the the "en/docs/reference/kubernetes-api/service-resources/ingress-v1.md""
Hi,I am interested to translate the the "en/docs/reference/kubernetes-api/service-resources/endpoints-v1.md" into chinese

translate en/docs/reference/kubernetes-api/service-resources/ingress-v1.md
What would you like to be added:

zh/docs/reference/kubernetes-api/service-resources/ingress-v1.md

/language zh
/kind feature

[2022-06-27 13:52] shixiuguo commented on #34646
/assign

[2022-06-27 13:53] shixiuguo commented on #34646
/assign

[2022-06-27 14:20] neolit123 commented on #34609
googling `linux turn off swap` gives clean results.

[code]

the swap support in k8s is currently on hold before beta.

[2022-06-27 14:39] #31552 closed

[2022-06-27 16:16] #34569 closed

[2022-06-27 16:33] kadtendulkar opened #34647 "Fix the link on Release Managers page"
**Problem:**
The text **schedule and cadence for patch releases** on [link](https://kubernetes.io/releases/release-managers/) is not pointing to the exact section and redirect to the [page](https://kubernetes.io/patch-releases.md), it should point to this [link](https://kubernetes.io/releases/patch-releases/)

Check the page [Release Managers](https://kubernetes.io/releases/release-managers/) for

[2022-06-27 18:42] mclarke47 opened #34650 "Assigning Pods to Nodes: example and description don't match"
The node affinity example does not match the description [link](https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#node-affinity):

[code]

The node must have a label with the key topology.kubernetes.io/zone and the value of that label must be either antarctica-east1 or antarctica-west1.
The node preferably has a label with the key another-node-label-key and the value another

[2022-06-27 18:44] mclarke47 commented on #34650
Duplicate of https://github.com/kubernetes/website/issues/34573

[2022-06-27 18:44] #34650 closed

[2022-06-27 20:39] #15560 closed

[2022-06-27 20:57] aarashy opened #34652 "Improvement for k8s.io/docs/tasks/job/automated-tasks-with-cron-jobs/"
I would've liked to see the full resource definition of CronJobs on this page, including the Spec and the Status.

[2022-06-27 21:07] aarashy commented on #34652
The information I was looking for was here: https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.24/#cronjobstatus-v1-batch

Maybe would be nice to have a link to from the page in question

[2022-06-28 02:06] Rishit-dagli commented on #34573
/assign

[2022-06-28 03:08] Omar-EM commented on #34626
I've only tried in Mozilla and Safari. Safari is working fine.

[2022-06-28 04:33] bishal7679 opened #34656 "Extra "the" should be removed all mistakes in localization.md file"
**This is a Feature Request**

**What would you like to be added**

This extra "the" should be removed for better readability.

![Screenshot (153)](https://user-images.githubusercontent.com/70086051/176093075-2ba321fd-3d3e-4fc9-9c35-4882d1308d42.png)

**Why is this needed**
For the improvement of the docs this extra "the" should be removed.

file link :- https://github.com/kubernetes/website/blob/

[2022-06-28 04:34] bishal7679 commented on #34656
/assign

[2022-06-28 04:57] divya-mohan0209 commented on #34656
@bishal7679 : Please check the comments against PR #34657. Thank you for suggesting this amendment, however, we'd request that when you suggest such trivial edits you check the entire document for any other mistakes that might need rectification.

[2022-06-28 04:58] divya-mohan0209 commented on #34647
triage/accepted

[2022-06-28 04:58] divya-mohan0209 commented on #34647
/triage accepted

[2022-06-28 05:33] #34138 closed

[2022-06-28 05:35] jihoon-seo commented on #33532
Resolved by #34387.
/close

[2022-06-28 05:35] #33532 closed

[2022-06-28 05:36] jihoon-seo commented on #33533
The Service Catalog references are removed by the PR #34387.
/close

[2022-06-28 05:37] #33533 closed

[2022-06-28 06:35] #34656 closed

[2022-06-28 07:17] utkarsh-singh1 commented on #34652
Hi @aarashy , Just curious where do you want to add the full resource definition of CronJobs because the config file is already provided, we can find the spec in the same [here](https://kubernetes.io/docs/tasks/job/automated-tasks-with-cron-jobs/#creating-a-cron-job).

However we can always add this link in the

section.

[2022-06-28 08:34] antaloala commented on #33026
Thanks a lot for putting hands on this ... and sorry a lot for not having done it myself as initially proposed (I was disconnected for some long time).

[2022-06-28 09:57] utkarsh-singh1 commented on #33936
Hi, i think this https://kubernetes.io/docs/tasks/job/automated-tasks-with-cron-jobs/ is skipped in the above list. just found this while going through the docs.

[2022-06-28 10:05] gmacario opened #34662 "Configure Access to Multiple Clusters: link to Katacoda is no longer valid"
The page linked from "Katacoda" (<https://www.katacoda.com/courses/kubernetes/playground>) on page <https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/> returns

![image](https://user-images.githubusercontent.com/75182/176152929-4ffc384e-c3ea-4986-bdaa-828d691b426d.png)

[2022-06-28 10:23] NitishKumar06 commented on #34662
This [PR](https://github.com/kubernetes/website/pull/34496) actually fixes this issue. We have tried to remove Katacoda and replaced it with [Killercoda](https://killercoda.com/playgrounds). That PR is under review . Although the changes look good according to @reylejano .

[2022-06-28 10:43] sftim commented on #34662
Duplicate of issue https://github.com/kubernetes/website/issues/34428

/triage duplicate

[2022-06-28 10:45] sftim commented on #34652
+1 to adding a link to the API reference in the What's Next section.

I notice that https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/#what-s-next already links to the API reference so this is about saving readers one click.

/kind feature
/priority backlog
/language en
/triage accepted

I'm not marking this as a good-first-issue because it's a very low priority improvement to ma

[2022-06-28 10:49] sftim commented on #34626
/retitle Trouble accessing interactive tutorial using Mozilla browser

[2022-06-28 11:25] RA489 commented on #32645
/remove-lifecycle stale

[2022-06-28 12:36] windsonsea commented on #34643
/close

[2022-06-28 12:36] #34643 closed

[2022-06-28 13:55] shannonxtreme opened #34666 "Add clarification about API resources to the Style Guide"
## Description

Kubernetes uses the word "resource" to refer to API resources, such as `pod`, `deployment`, and so on. We also use "resource" to talk about CPU and memory requests and limits.

Update the [Style guide](https://kubernetes.io/docs/contribute/style/style-guide/#documentation-formatting-standards) with a new section to clarify how we talk about API resources in our documentation.

## W

[2022-06-28 14:26] henjoon opened #34667 "[ko] Fix a translation error in docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation/"
**This is a Bug Report**

**Problem:**
애그리게이션 레이어는 [사용자 정의 리소스](https://kubernetes.io/ko/docs/concepts/extend-kubernetes/api-extension/custom-resources/)와는 다르며, 애그리게이션 레이어는 [kube-apiserver](https://kubernetes.io/ko/docs/concepts/overview/components/#kube-apiserver) 가 새로운 종류의 오브젝트를 인식하도록 하는 방법이다.

**Proposed Solution:**
애그리게이션 레이어는 [kube-apiserver](https://kubernetes.io/ko/docs/concepts/overview/co

[2022-06-28 15:01] trickymee opened #34668 "Starting kubelet"
OS: Linux oracle 5.4.17-2136.308.9.el8uek.x86_64 #2 SMP Mon Jun 13 20:36:40 PDT 2022 x86_64 x86_64 x86_64 GNU/Linux

Followed steps from https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#k8s-install-2 -> "without package manager" to setup kubeadm / kubetcl/ kubelet. However, kubelet service is not starting:

sudo systemctl enable --now kubelet
Removed /etc/syst

[2022-06-28 15:34] neolit123 commented on #34668
could be this:

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/

[2022-06-28 17:49] sftim commented on #30944
/remove-lifecycle stale

[2022-06-28 17:50] sftim commented on #28909
This task is useful for somebody implementing a Kubernetes extension _or_ this task is useful for a cluster operator wondering about why things aren't deleting the way they expect.

Not sure which audience to focus on. Thoughts?

/remove-lifecycle rotten

[2022-06-28 18:01] sftim commented on #30887
/retitle Clarify default preemption behavior

I'm also not sure if further clarification is needed.
/remove-help
/priority backlog

If this rots out, so be it.

[2022-06-28 18:02] sftim commented on #30887
@WilliamDenniss if you open a pull request to make the improvement in https://github.com/kubernetes/website/issues/30887#issuecomment-1165870514, we'll review it.

[2022-06-28 18:12] NitishKumar06 commented on #28054
/assign

[2022-06-28 18:20] calebschoepp opened #34671 "Audit Configuration docs sentence incomplete"
Something missing the sentence from the audit configuration documentation.

<img width="1228" alt="image" src="https://user-images.githubusercontent.com/20216739/176254605-63c9d9d4-db09-4092-8fef-17f82c2c6871.png">

[2022-06-28 18:31] mtardy commented on #30578
I can do that!
/assign

[2022-06-28 19:27] latia-tanner opened #34676 "Request for Documentation on Testing the Pause Image"
### Why is this needed

For a private registry, I created a pause image using the available c code in the kubernetes repo. In the same dir as the pause c code is orphan.c which is used for testing, however, I have not been able to find any documentation on the steps one would take to use it to test the pause image. I have used a couple different runtime-tools to test the pause image with orphan, b

[2022-06-28 19:39] shannonxtreme commented on #28909
I feel like the more common use case is the cluster operator, but that reads more like a troubleshooting task no? How to identify finalizers and figure out why they're there?

[2022-06-28 21:54] #31502 closed

[2022-06-28 21:56] MyKarpenko opened #34678 "Improvement for k8s.io/docs/reference/kubectl/cheatsheet/"
please add vim configuration ASAP
The new exam platform really needs it

just this

Create your ~/.vimrc (otherwise indentation will be messed up):

set expandtab

set tabstop=2

set shiftwidth=2

[2022-06-29 00:12] t-inu commented on #32999
@hase1128
I'd like to create a PR for this issue.
Please comment if you are working on this issue.

[2022-06-29 00:21] tengqm commented on #34671
The docs are generated from upstream source code comments. Some comments have weird syntax that are difficult to parse as markdown. These problems have to be fixed upstream.

In fact, I have proposed a fix to the upstream (https://github.com/kubernetes/kubernetes/pull/110354). The PR has been hanging there for almost 4 weeks, no feedbacks, no reviews, no merge...

[2022-06-29 02:04] fish0373 opened #34687 "[zh] 安装 kubeadm"
這個頁面(安裝kubeadm) [https://kubernetes.io/zh-cn/docs/setup/production-environment/tools/kubeadm/install-kubeadm/](url)
無法完全顯示
1. 版本列表無法選擇
2. 語言無法選擇
3. 內容僅顯示到 [安装容器运行时] 後續都無顯示

[2022-06-29 03:06] tengqm commented on #34687
/triage accepted
/kind bug
/assign
/language zh

[2022-06-29 04:32] vaibhav2107 commented on #32446
/remove-lifecycle stale

[2022-06-29 04:32] vaibhav2107 commented on #30849
/remove-lifecycle stale

[2022-06-29 04:57] Kartik494 commented on #33223
/assign

[2022-06-29 05:39] shahriyar101931 commented on #31677
Hey @mitul3737 , I would like to work on `content/bn/docs/home/supported-doc-versions.md` file

[2022-06-29 05:40] mitul3737 commented on #31677
@shahriyar101931 , yes you can

[2022-06-29 06:12] harshitasao commented on #33539
/close

[2022-06-29 06:12] #33539 closed

[2022-06-29 09:40] #34687 closed

[2022-06-29 11:42] sftim commented on #34666
/language en
/triage accepted

[2022-06-29 13:29] stormqueen1990 opened #34704 "Provide the website serving container from a registry in more architectures"
**This is a Feature Request**

**What would you like to be added**

As of early June, the build of a local container image is not required anymore, as the website serving container is now available from a registry. However, the available image is built only for the amd64 architecture.

I would like to propose a change to the current build process in order to include the arm64 architecture as well.

[2022-06-29 14:19] sftim commented on #34704
It's a good idea.

/kind feature
/priority backlog
/sig docs
/triage accepted

[2022-06-29 14:21] sftim commented on #34676
In my opinion, this is something to document in https://k8s.dev/docs/ rather than https://k8s.io/docs/

You could also ask the SIG Node and / or SIG Testing folks for advice on how to work on that code.

I'm going to transfer this request to the main Kubernetes GitHub, repo as it's not really content that I'd expect to find on https://kubernetes.io/

/transfer kubernetes

[2022-06-29 14:37] sftim commented on #34671
/language en

[2022-06-29 14:38] sftim commented on #33166
I think this would be fixed. @FranCao can you confirm if this works for you? (please try a few browsers, and be aware that some ad blockers block Katacoda even though it is not an advertisement).

[2022-06-29 15:06] MyKarpenko commented on #34678
an alias k=kubectl is also a more  linux documentation trick and it is documented in kubernetes docs
I believe this is the same essential not for just exam sake but for any person setting the working environment up

[2022-06-29 17:03] #21621 closed

[2022-06-29 18:31] Omar-EM commented on #34626
I downloaded the latest version of Firefox, I even disabled some add-ons. Still not working.

[2022-06-29 20:06] #29893 closed

[2022-06-29 21:59] jimsander opened #34708 "Improvement for k8s.io/docs/concepts/scheduling-eviction/assign-pod-node/"
Only minor confusion, after the first example Pod spec, where "_In this example, the following rules apply:_" the bullet points that follow are misleading where **first** bullet refers to the example **below**, the **second** to the example **above**.

[2022-06-29 22:23] jimsander opened #34709 "Improvement for k8s.io/docs/concepts/scheduling-eviction/assign-pod-node/"
Just above this anchor **#node-affinity-per-scheduling-profile**,  the note block

is referring to the Pod spec **pod-with-node-affinity.yaml** 2 above, but it's placement appears to refer to the one immediately above. It takes a little bouncing around the page to sort it out :)

[2022-06-29 22:24] jimsander opened #34710 "Improvement for k8s.io/docs/concepts/scheduling-eviction/assign-pod-node/"
Just above this anchor **#node-affinity-per-scheduling-profile**,  the note block

is referring to the Pod spec **pod-with-node-affinity.yaml** 2 above, but it's placement appears to refer to the one immediately above. It takes a little bouncing around the page to sort it out :)

[2022-06-29 22:39] jimsander opened #34711 "Improvement for k8s.io/docs/concepts/scheduling-eviction/assign-pod-node/"
The explanation for the Pod spec [#an-example-of-a-pod-that-uses-pod-affinity](https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#an-example-of-a-pod-that-uses-pod-affinity) mentions  _**the scheduler must place the Pod on a node that has the topology.kubernetes.io/zone=V label**_

However, that expression doesn't exist in the spec.

[2022-06-30 00:38] hase1128 commented on #32999
@t-inu
sorry, I have not started to work this issue.
please do that.

[2022-06-30 00:53] t-inu commented on #32999
@hase1128
Thanks for your reply. I'll do it.
/assign

[2022-06-30 01:08] #31560 closed

[2022-06-30 01:22] windsonsea commented on #34711
You raised four issues with same title, which may confuse most people. How about to combine them in an issue?

[2022-06-30 02:11] jihoon-seo commented on #34667
[en]

/triage accepted

[2022-06-30 02:26] Rishit-dagli commented on #34666
I could take this up
/assign

[2022-06-30 03:00] Rishit-dagli commented on #34428
This issue is already fixed by #34429

[2022-06-30 03:06] sarazqy commented on #34191
已经翻译完成 https://kubernetes.io/zh-cn/blog/2022/05/05/volume-expansion-ga/

[2022-06-30 03:06] #34191 closed

[2022-06-30 03:18] sanqiuli opened #34718 "Documentation issues certificates"
Link to https://kubernetes.io/en-us/docs/tasks/administer-cluster/certificates/
The secondary list elements in the page are all "1." , they are not in order, it looks weird

[2022-06-30 03:26] sanqiuli commented on #34718
/sig docs

[2022-06-30 04:54] bishal7679 commented on #34718
/lgtm

[2022-06-30 05:01] bishal7679 commented on #34704
/assign

[2022-06-30 05:09] trickymee commented on #34668
mkdir -p $HOME/.kube
sudo cp -i /etc/kubernetes/admin.conf $HOME/.kube/config
sudo chown $(id -u):$(id -g) $HOME/.kube/config

This fixed the issue.

[2022-06-30 06:37] utkarsh-singh1 commented on #34718
Hi @sanqiuli, can you please elaborate which page are you talking about?

[2022-06-30 06:48] sanqiuli commented on #34718
Sorry, I forgot to check the link in my issue, the correct link is https://kubernetes.io/zh-cn/docs/tasks/administer-cluster/certificates/

[2022-06-30 07:24] jihoon-seo commented on #34718
/language zh
/triage accepted
/retitle [zh] Wrong list numbering in `tasks/administer-cluster/certificates` page

FYI:
- en page: https://kubernetes.io/docs/tasks/administer-cluster/certificates/
- en file: https://github.com/kubernetes/website/blob/main/content/en/docs/tasks/administer-cluster/certificates.md?plain=1

[2022-06-30 07:24] sftim commented on #31993
/remove-lifecycle rotten

[2022-06-30 07:29] bishal7679 commented on #34718
/assign

[2022-06-30 07:35] #34428 closed

[2022-06-30 07:56] NitishKumar06 commented on #34718
/assign

[2022-06-30 07:57] NitishKumar06 commented on #34718
This PR:https://github.com/kubernetes/website/pull/34724 fixes this issue.

[2022-06-30 09:32] nasa9084 commented on #32653
/remove-lifecycle stale
under reviewing

[2022-06-30 09:58] jihoon-seo commented on #34487
@howieyuen has this issue been all resolved?
If yes, then we might be able to close this issue. 😊

[2022-06-30 10:23] #34487 closed

[2022-06-30 11:48] RA489 commented on #32424
/remove-lifecycle stale

[2022-06-30 11:48] RA489 commented on #32469
/remove-lifecycle stale

[2022-06-30 14:03] tengqm opened #34733 "[zh-cn][Umbrella] API reference pages to sync."
We have already translated some of the API references into Chinese. The following are pages that still need to be translated.

- [x] DaemonSet-v1   @sarazqy  #34985

[code]

- [x] Job-v1  @sarazqy   #34746

[code]

- [x] ReplicaSet-v1   @windsonsea   #34889

[code]

- [x] CronJob-v1  @sarazqy   #34748

[code]

- [x] HPA-v1  @twilight0620    #34747

[code]

- [x] StatefulSet-v1  @yaolixin-creater

[2022-06-30 14:04] tengqm commented on #34733
/triage accepted
/language zh
/help

[2022-06-30 14:32] webdog commented on #34611
Yeah that makes sense to me.

I’d ❤️ to write this up. Just documenting the steps in scope of the kube-apiserver I think would be very helpful, thinking about the slip ups I had building out my cluster. Happy to lead this and open a PR once I have a level of some content written up.
.

I agree. Scoping this potential guide to specifically configuring kube-apiserver while noting that it is one port

[2022-06-30 14:46] #34635 closed

[2022-06-30 14:47] #34630 closed

[2022-06-30 14:48] tengqm commented on #34617
/close
This is not a doc issue to fix.

[2022-06-30 14:48] #34617 closed

[2022-06-30 15:45] RA489 commented on #32263
/remove-lifecycle stale

[2022-06-30 15:45] RA489 commented on #31790
/remove-lifecycle stale

[2022-06-30 15:46] RA489 commented on #32422
/remove-lifecycle stale

[2022-06-30 16:56] tengqm commented on #34575
/assign

[2022-06-30 18:19] yaraju commented on #34284
As of today, the [link](https://kubernetes.io/docs/setup/production-environment/turnkey-solutions/) does show the cards completely as expected.

[2022-07-01 01:28] windsonsea commented on #34733
I would like to take `TokenRequest-v1` at a start :)

[2022-07-01 03:42] javadoors commented on #34207
/language zh-cn
/triage/accepted

[2022-07-01 06:26] ydFu commented on #34733
I would like to take pod-v1.md.
/assign

[2022-07-01 07:25] bishal7679 commented on #34667
/assign

[2022-07-01 08:00] seokho-son commented on #34667
Hi @henjoon

I am one of the approvers for Korean localization.
We generally assume that the author of Issue has a high priority to be the assignee.

Even though @bishal7679 self-assigned and opened a PR, I hope to check your (@henjoon) willingness to resolve this issue first. @bishal7679 Sorry for inconvenience but this kind of workflow is important for opensource project. :)

[2022-07-01 08:34] sftim commented on #34611
@webdog for the new page about running the kube-apiserver manually: would you log two issues?

- an overall, _umbrella_ issue for the set of task pages
- an issue specifically about the task for `kube-apiserver`

You might also want to mention this work to the author of https://github.com/kelseyhightower/kubernetes-the-hard-way - Kelsey Hightower - or to eventually open a PR against KTHW that refe

[2022-07-01 09:39] shixiuguo commented on #34645
/close

[2022-07-01 09:39] #34645 closed

[2022-07-01 09:43] tengqm commented on #34185
/close

New tracked in #34733

[2022-07-01 09:43] #34185 closed

[2022-07-01 09:49] tengqm commented on #34193
/close

Tracked in #34733 now.

[2022-07-01 09:49] #34193 closed

[2022-07-01 10:37] TiansuYu opened #34753 "Bad writing in Connecting Applications with Services"
I found writings in [this documentation](https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/), in particular [Secure the Service](https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/#securing-the-service), cause a bit of trouble when you read:
1. Should clarify when executing this command `make keys KEY=/tmp/nginx.key CERT=/tmp/ngi

[2022-07-01 11:56] sftim opened #34754 "Minor typo in https://kubernetes.io/blog/2022/02/17/dockershim-faq/"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/blog/2022/02/17/dockershim-faq/ has a typo, “incluides”

**Proposed Solution:**
Fix the typo (it should read “includes”)

**Page to Update:**
https://kubernetes.io/blog/2022/02/17/dockershim-faq/

**Additional Information:**
/language en
/area blog
/priority backlog
/triage accepted
/good-first-issue

[2022-07-01 11:56] sftim commented on #34754
I've marked this as a good first issue. If you're a contributor who has already submitted PRs for the [k/website](https://github.com/kubernetes/website) repo, consider leaving this one to let a new contributor work on it.

[2022-07-01 11:57] sftim commented on #34754
Whether new to contributing to the Kubernetes docs, or have already made contributions, it's OK to ask questions. Check https://kubernetes.io/docs/contribute/ for a guide on how to contribute.

[2022-07-01 12:00] ramakrpr opened #34755 "Error: failed to parse kubelet flag: unknown flag: --network-plugin"
Hi,

I have a running cluster with version as below
GitVersion:"v1.24.2",

what is the solution for the CNI changes in this version for running clusters that are throwing errors for --network-plugin flags? i cant seem to find any way to fix the running clusters.
2 of my clusters are apparently down due to this and cant seem to figure out how to fix

I have tried changing the file /var/lib/kubelet/

[2022-07-01 12:03] sftim commented on #34755
This looks like a support request. See https://git.k8s.io/kubernetes/SUPPORT.md

/remove-kind bug
/kind support

[2022-07-01 12:07] ramakrpr commented on #34755
Related to the issue https://github.com/kubernetes/website/issues/33640
Documentation is updated and merged but what about running clusters? what can be done?

[2022-07-01 12:56] sftim commented on #34755
As that link explained, **GitHub is not the right place to get support for using Kubernetes**.

@ramakrpr my advice would be to ask your question on [Server Fault](https://serverfault.com/). You could also search the documentation.

[2022-07-01 13:00] Kwazimolo commented on #34754
/assign

[2022-07-01 13:04] sftim opened #34756 "Signpost readers migrating from dockershim to migration guide (troubleshooting page)"
**This is a Feature Request**

**What would you like to be added**
Update https://kubernetes.io/docs/tasks/debug/debug-cluster/ to mention the kubelet error message

and recommend that readers visit https://kubernetes.io/docs/tasks/administer-cluster/migrating-from-dockershim/

**Why is this needed**
Readers may upgrade to Kubernetes v.124 without reading the [_No, really, you MUST read this befor

[2022-07-01 13:10] sftim commented on #34678
`kubectl` is part of Kubernetes.
`vim` is not part of Kubernetes. We don't document how to set up vim or other text editors. See https://kubernetes.io/docs/contribute/style/content-guide/#what-s-allowed

[2022-07-01 13:44] shivam-sharma7 commented on #34754
Okay

On Fri, Jul 1, 2022, 7:07 PM Tim Bannister ***@***.***> wrote:

[2022-07-01 14:09] tengqm commented on #34294
/close

Now tracked by #34733

[2022-07-01 14:09] #34294 closed

[2022-07-01 14:12] tengqm commented on #34440
/close

This is now tracked in #34733

[2022-07-01 14:12] #34440 closed

[2022-07-01 14:17] seokho-son commented on #34338
/close

[2022-07-01 14:17] #34338 closed

[2022-07-01 14:18] seokho-son commented on #33645
/close

[2022-07-01 14:19] seokho-son commented on #33472
Complete !
Thanks to @jihoon-seo !!

/close

[2022-07-01 14:19] seokho-son commented on #33471
/close

[2022-07-01 14:48] NitishKumar06 commented on #34756
/assign

[2022-07-01 14:52] sftim commented on #34756
/triage accepted
/priority backlog

[2022-07-01 15:05] sftim commented on #34756
The page https://kubernetes.io/docs/tasks/debug/debug-cluster/ does _not_ currently help people who are having trouble when they see the error

Let's fix that! We'd modify https://kubernetes.io/docs/tasks/debug/debug-cluster/, I don't expect that we'd need to modify any other pages.

[2022-07-01 15:30] StingyJack opened #34761 "Documentation for enableServiceLinks needs to be moved or referenced"
The page at https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/

Needs to have the information for `enableServiceLinks` that is visible here https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/#accessing-the-service

[2022-07-01 15:33] #30725 closed

[2022-07-01 16:00] NitishKumar06 commented on #34761
/assign

[2022-07-01 16:40] kadtendulkar opened #34762 "Fix the hyperlink on Release Managers page"
**Problem:**
The text **Release Manager Associates** on [link](https://kubernetes.io/releases/release-managers/) is not pointing to the exact section and redirect to the same [page](https://kubernetes.io/releases/release-managers/#associates), it should point to this [link](https://kubernetes.io/releases/release-managers/#release-manager-associates)

Check the page [Release Managers](https://kuber

[2022-07-01 19:55] NitishKumar06 commented on #34761
@StingyJack Where would you like to see the link (https://github.com/kubernetes/website/issues/34756#issue-1291383994) added - after which paragraph / line ?

[2022-07-01 23:55] jihoon-seo commented on #34762
This issue has been resolved by the PR #34763.
/close

[2022-07-01 23:56] #34762 closed

[2022-07-02 00:03] hjkim522 commented on #34667
Hi @seokho-son,
I am okay with assigning the issue to @bishal7679.
And thank @bishal7679 for the fast action.

[2022-07-02 00:04] henjoon commented on #34667
Hi @seokho-son,
I am okay with assigning this issue to @bishal7679,
and thanks @bishal7679 for handling the issue quickly.

[2022-07-02 01:27] #34577 closed

[2022-07-02 02:13] #34066 closed

[2022-07-02 03:53] erhhung opened #34767 "Issue with k8s.io/docs/concepts/scheduling-eviction/assign-pod-node/"
Description of Node Affinity example pod spec "pods/pod-with-node-affinity.yaml" contains an error:

does not apply. The spec shows instead that key "`kubernetes.io/os`" should be "`linux`".

Under the Node Affinity Weight section, the following note is also out-of-place:

It needs to be moved to the previous section.

[2022-07-02 07:47] ritikaaaa177 commented on #34754
/assign

[2022-07-02 08:05] Kwazimolo commented on #34754
@ritikaaaa177 ive already submitted the PR for this one

[2022-07-02 08:52] ritikaaaa177 commented on #34754
@Kwazimolo yeah i saw it

[2022-07-02 11:03] chandan0000 commented on #34754
/assign

[2022-07-02 18:01] Sugarlust commented on #34754
Is this issue still up for grabs?

[2022-07-02 20:41] Kwazimolo commented on #34754
Fixed #34760

[2022-07-02 23:53] tengqm commented on #34754
/close

[2022-07-02 23:53] #34754 closed

[2022-07-03 03:44] #31561 closed

[2022-07-03 06:12] lambdanis commented on #34710
This is an exact duplicate of https://github.com/kubernetes/website/issues/34709

/close

[2022-07-03 06:12] #34710 closed

[2022-07-03 06:39] jihoon-seo commented on #34767
This issue is a duplicate of #34573.
/triage duplicate

[2022-07-03 07:22] lambdanis commented on #34711
I understand the misunderstanding (heh), but I wouldn't say the docs are wrong in this case. `V` is used there as a variable, not as an exact value. I.e.: if for any `V` there is a `topology.kubernetes.io/zone=V`-labeled node with a `security=S1`-labeled pod scheduled on it, then the next pod with `security=S1` label must be scheduled on a node with `topology.kubernetes.io/zone=V` label too. And s

[2022-07-03 11:16] knight-95 commented on #31600
/assign

[2022-07-03 14:02] alexritm commented on #20810
node1 ~]$ kubectl port-forward hello 7788:80
Forwarding from 127.0.0.1:7788 -> 80

*****direct.labs.play-with-k8s.com didn’t send any data.   - no both http://  80 and 7788

Any thoughts?

[2022-07-03 14:17] KoditkarVedant commented on #31744
🎉 🎉 👏🏼 All the open PR's are merged for this issue. Hence closing it.

[2022-07-03 14:17] #31744 closed

[2022-07-03 16:18] 12101111 opened #34792 "apt.kubernetes.io is empty"
**This is a Bug Report**

**Problem:**

The official kubernetes apt repository, `https://apt.kubernetes.io/`, which is redirect to `https://packages.cloud.google.com/apt/`, is empty.

`https://packages.cloud.google.com/apt/pool` only contains

[code]

**Proposed Solution:**

Bring back those deb files in
`https://packages.cloud.google.com/apt/pool`

**Page to Update:**

https://kubernetes.io/docs/

[2022-07-03 16:29] StingyJack commented on #34761
Probably in a "How to disable this behavior" section before the "Whats next"  section.

[2022-07-03 20:59] pesseguita opened #34795 "Improvement for k8s.io/docs/tutorials/stateful-application/cassandra/"
Please explain all fields in yaml files

[2022-07-03 23:01] neolit123 commented on #34792
have pool ever been browsable...i don't think it was?
i think one should use:
https://packages.cloud.google.com/apt/dists/kubernetes-xenial/main

this repository is not the right place for this issue.
it should be under k/release

/transfer release

[2022-07-04 02:05] zhangxyjlu commented on #34576
I want to translate this document. Can you assign it to me

[2022-07-04 02:18] zhangxyjlu commented on #34733
I would like to handle:
custom-resource-definition-v1

[2022-07-04 03:17] tengqm commented on #34576
/assign @zhangxyjlu

[2022-07-04 05:11] mehabhalodiya commented on #34610
/triage accepted

[2022-07-04 05:12] mehabhalodiya commented on #33847
/triage accepted

[2022-07-04 05:18] mehabhalodiya commented on #29633
/triage accepted

Closing this issue as https://github.com/kubernetes/website/pull/29896 is already merged!
/close

[2022-07-04 05:18] #29633 closed

[2022-07-04 05:22] mehabhalodiya commented on #23101
/triage accepted

[2022-07-04 05:23] mehabhalodiya commented on #29680
/triage accepted

[2022-07-04 06:09] utkarsh-singh1 commented on #34795
Hi @pesseguita, you can find about all fields in yaml file here https://kubernetes.io/docs/concepts/overview/working-with-objects/kubernetes-objects/

[2022-07-04 06:40] divya-mohan0209 commented on #34755
Hello @ramakrpr , thank you for flagging the issue. As @sftim mentioned, this is not an issue related to Kubernetes documentation. From the discussion, it seems you need support for using Kubernetes. Please route your questions to [Server Fault](https://serverfault.com/) or related communities and seek out support.

[2022-07-04 06:43] divya-mohan0209 commented on #34753
/triage accepted

[2022-07-04 06:43] Shubham82 commented on #34753
This issue is a duplicate of #34322 and here is a PR for it #34567

[2022-07-04 06:46] TiansuYu commented on #34753
@Shubham82 They are not duplicates. I do not have the trouble that #34322 have mentioned. But rather simply formatting issues so that the documentation can be read easier. I would say this issue is very minor, so consider fix at your own ease.

[2022-07-04 06:51] javadoors opened #34798 "[zh-cn] Translate /docs/concepts/security/multi-tenancy/ to Chinese"
**This is a Feature Request**
[zh-cn] Translate /docs/concepts/security/multi-tenancy/ to Chinese

**What would you like to be added**
The page: zh-cn/docs/concepts/security/multi-tenancy/

**Why is this needed**
Translate /docs/concepts/security/multi-tenancy/ to Chinese

**Comments**
NA

/language zh
/assign

[2022-07-04 06:55] mitul3737 commented on #31677
/good-first-issue

[2022-07-04 07:22] Shubham82 commented on #34753
Hi @TiansuYu
Yeah, the content in [Secure the Service](https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/#securing-the-service) creates confusion between example using make file ([nginx https example](https://github.com/kubernetes/examples/tree/master/staging/https-nginx/)) and manual steps.
Hope so this PR #34567 will resolve that issue.

[2022-07-04 08:05] tengqm commented on #34798
/triage accepted

[2022-07-04 08:37] #34647 closed

[2022-07-04 08:42] mengjiao-liu commented on #31448
#33037 finished.
/close

[2022-07-04 08:42] #31448 closed

[2022-07-04 08:43] tengqm commented on #34755
/reopen
/assign

[2022-07-04 08:52] mengjiao-liu commented on #32893
#32953 finished it.
/close

[2022-07-04 08:52] #32893 closed

[2022-07-04 09:35] mengjiao-liu commented on #33180
[Wikipedia](https://zh.wikipedia.org/w/index.php?title=%E6%95%B0%E6%8D%AE%E5%B1%80%E9%83%A8%E6%80%A7&redirect=no) translates it as "数据局部性".
Generally speaking, in computer terminology, we translate this as "data locality".
Does this page need to be changed？
Request for advice@tengqm @howieyuen @Sea-n

[2022-07-04 09:44] mengjiao-liu commented on #33631
#33755 did the job.
/close

[2022-07-04 09:47] mengjiao-liu commented on #33754
PR #33762 did the job.
/close

[2022-07-04 09:47] #33754 closed

[2022-07-04 09:50] mengjiao-liu commented on #33627
#33630 finished it.
/close

[2022-07-04 09:50] #33627 closed

[2022-07-04 09:51] mengjiao-liu commented on #33931
/close

[2022-07-04 09:51] #33931 closed

[2022-07-04 09:53] #34137 closed

[2022-07-04 10:02] mengjiao-liu commented on #31704
I looked for the latest files and it seems like we've done these updates under the zh pages.
/close

[2022-07-04 10:08] mengjiao-liu commented on #33279
#34744 worked for this issue.
/close

[2022-07-04 10:08] #33279 closed

[2022-07-04 10:29] pesseguita commented on #34795
Hi @utkarsh-singh1 , but you are not explaining in the tutorial (and it is a tutorial), and then of the yaml is scattered all over.

[2022-07-04 12:19] Sea-n commented on #29680
I think @jayesh-srivastava is busy for other stuff. You can assign yourself again anytime.
/unassign @jayesh-srivastava

Now, anyone can assign themself using `/assign` command. It would be nice if someone willing to work on this.

[2022-07-04 12:28] jayesh-srivastava commented on #29680
@Sea-n apologies for being inactive. Was acquired a bit. Would be happy to fix this, some help can be great as well.

[2022-07-04 13:40] MyGodItsFull0fStars opened #34807 "Interactive Tutorial - Creating a Cluster"
Interactive Window unresponsive with Firefox (102.0 64-bit) and macOS Big Sur 11.6.2.

Neither reacts to clicking anywhere nor when trying keyboard input.

[2022-07-04 14:15] RA489 commented on #32750
/remove-lifecycle stale

[2022-07-04 14:34] EzzEddin opened #34809 "Interactive Tutorial - Scaling Your App"
In module 5: Step 2: Load Balancing

We need to expose the service first because last time we interacted with the Kubernetes service was when we deleted it.

So before the `describe` command, we need to do `expose` to the Deployment like this:

[code]

[2022-07-04 14:55] #28967 closed

[2022-07-04 15:08] NitishKumar06 commented on #34809
/assign

[2022-07-04 16:17] kadtendulkar opened #34810 "Fix the hyperlink on Ephemeral Volumes page"
**Problem:**
The text [**resource ownership**](https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/#owners-and-dependents) on [link](https://kubernetes.io/docs/concepts/storage/ephemeral-volumes/) is not pointing to the exact section and redirect to some [page](https://kubernetes.io/docs/concepts/architecture/garbage-collection/#owners-and-dependents), it should point to t

[2022-07-04 20:25] TheRealWaldo commented on #34807
Also Chrome Version 103.0.5060.53 (Official Build) (arm64) on MacOS Monteray 12.4 M1

[2022-07-04 23:44] adammw opened #34816 "Using RBAC Authorization - Clarify that rules cannot be specified for Aggregated ClusterRoles"
Clarify that rules cannot be specified for Aggregated ClusterRoles as they will be overwritten. The only hint to this scenario is from the code-comment "The control plane automatically fills in the rules", it would be clearer if the fact that rules _cannot_ be specified was stated in the body text.

[2022-07-05 01:18] jihoon-seo commented on #34816
Page: https://kubernetes.io/docs/reference/access-authn-authz/rbac/
/language en

[2022-07-05 01:19] jihoon-seo commented on #34810
/triage accepted

[2022-07-05 01:35] jihoon-seo commented on #34809
@EzzEddin
It seems that
- each module, I mean Module 4 and Module 5, is independent to each other.
- when you launch a test Katacoda env for the Module 5, some predefined objects are created & configured from scratch, including the NodePort Service for `kubernetes-bootcamp`.
  I can check this with running `kubectl get svc -A` right after launching a test Katacoda env for the Module 5:

[code]

-

[2022-07-05 01:59] Michelle951 commented on #34733
I would like to handle:

EndpointSlice-v1

/assign

[2022-07-05 02:35] howieyuen commented on #33180
查阅了相关资料，似乎只有“局部”这个词的解释，“局域”一般都和“网”连在一起，以“局域网”为词语出现。

[2022-07-05 03:51] mengjiao-liu commented on #33180
好的，那我们修改一下这个翻译吧，我打开了一个 PR #34818 来修复这个问题。

[2022-07-05 04:02] #33180 closed

[2022-07-05 05:03] mirzayevelshan opened #34819 "Issue with k8s.io/docs/tasks/configure-pod-container/configure-pod-configmap/"
envFrom option must write with "-"

[2022-07-05 05:40] ydFu commented on #32316
/triage accepted

[2022-07-05 05:44] NitishKumar06 commented on #34819
Please share the link of the page to be updated.
/assign

[2022-07-05 06:10] vaibhav2107 commented on #25866
/remove-lifecycle stale

[2022-07-05 06:18] guettli commented on #32754
sftim is right, this creates a lot of work. There are already several free ways to learn Kubernetes.

[2022-07-05 06:18] #32754 closed

[2022-07-05 06:24] #32316 closed

[2022-07-05 06:40] Shubham82 commented on #34819
Page: https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/

Hi @mirzayevelshan  But the example is correct. and it is working. the envFrom option is already started with "-"

[code]
could you please tell where you want to do the changes?

[2022-07-05 07:05] QiuToo opened #34820 "BlockOwnerDeletion:(*bool)(0xc0005393a8)}}}: Unauthorized"

[2022-07-05 07:47] donghui12 commented on #34733
I would like to handle:
service-v1
/assign

[2022-07-05 08:41] EzzEddin commented on #34809
@jihoon-seo Yup, I agree that we don't need to add that command after your explanation. Thanks!

I was just following up with these modules on my machine using `minikube` and `kubectl`. So I had to recreate the service because it was not ready as in the Katacoda environment.

Anyway, I used my machine (not the interactive k8s lab playground) because it was hard for me to follow up with the descrip

[2022-07-05 08:49] jihoon-seo commented on #34809
@EzzEddin Okay I got it.

Just in case you are not familiar with Interactive Tutorials in k8s.io website:
![image](https://user-images.githubusercontent.com/46767780/177288626-0dcadd7f-1fcc-42fe-be8f-4f60a7749528.png)

PTAL. 😊

[2022-07-05 08:52] jihoon-seo commented on #34820
@QiuToo Please elaborate the issue you faced more specifically.
/triage needs-information

[2022-07-05 09:03] EzzEddin commented on #34809
@jihoon-seo Yes, I knew that feature. I was also clicking on the command to open a new terminal when I ran `kubectl proxy` command.

The problem is that I couldn't control the width of both screens. I was just able to maximize the right screen but not able to maximize the left screen as well to follow along with the explanation.

[2022-07-05 10:27] mk46 commented on #32046
/remove-lifecycle rotten

[2022-07-05 10:49] mk46 commented on #31769
/remove-lifecycle stale

[2022-07-05 10:49] mk46 commented on #31769
/assign

[2022-07-05 11:36] divya-mohan0209 commented on #34816
/triage accepted

[2022-07-05 12:58] tengqm commented on #34733
@donghui12 Thanks for stepping out. Please be sure to check existing API reference translations before working on the new ones. There are quite some tricky issues to handle when translating API reference. Looking forward to your contribution.

[2022-07-05 13:52] humbienri opened #34825 "Interactive Tutorial - Updating Your App"
I've not been able to get the actual Terminal to load at all. Been trying over the whole weekend with no success so not able to actually follow the tutorial. Can't type (or "click enter") to enter the kubectl commands.

[2022-07-05 14:10] kranurag7 commented on #34054
@stfim Do we still need to update anything? The annotation is still relevant, as suggested by Jordan.

[2022-07-05 14:18] mel1nn opened #34829 "kubeadm: missing artifact mode in upgrade docs"
## FEATURE REQUEST

According to the installation documentation, we can install kubeadm **Without a package manager** and using the tar.gz file, but in the upgrade documentation, this mode is not proposed.

[2022-07-05 15:43] neolit123 commented on #34829
/retitle kubeadm: missing artifact mode in upgrade docs

[2022-07-05 16:46] kadtendulkar commented on #34810
/close Since PR is merged, I'm closing the issue.

[2022-07-05 16:56] kadtendulkar opened #34832 "Fix the broken link on Running ZooKeeper, A Distributed System Coordinator page"
**Problem:**
The text [**ZooKeeper**](https://www-us.apache.org/dist/zookeeper/stable/) on [link](https://kubernetes.io/docs/tutorials/stateful-application/zookeeper/) is not pointing to the exact page and redirect to some [page](https://www-us.apache.org/dist/zookeeper/stable/), it should point to this [link](https://archive.apache.org/dist/zookeeper/stable/)

Check the page [Running ZooKeeper, A

[2022-07-05 21:28] jihoon-seo commented on #34810
/close

[2022-07-05 21:28] #34810 closed

[2022-07-05 23:05] #32999 closed

[2022-07-06 01:24] coder-ldh opened #34837 "Improvement for k8s.io/zh-cn/docs/setup/production-environment/tools/kubespray/"
remove doc

[2022-07-06 01:46] moizrassiwala commented on #7829
Any update on this? Does taint based eviction simply delete the pod without graceful termination of the pod and without calling prestop hook?

[2022-07-06 01:57] utkarsh-singh1 commented on #34837
Hi @coder-ldh, Can you elaborate your issue more clearly and provide the link to the issue.

[2022-07-06 01:59] tengqm commented on #34832
/triage accepted
/assign @kadtendulkar

[2022-07-06 01:59] tengqm commented on #34832
Closed by #34833
/close

[2022-07-06 02:00] #34832 closed

[2022-07-06 02:46] yaolixin-creater commented on #34733
I would like to handle:
StatefulSet-v1
/assign

[2022-07-06 03:05] tracy4u opened #34840 "Kubernetes Release Cycle image failed"
Image of one Kubernetes release cycle
Image of Kubernetes release lifecycle spanning three releases

are 404 now

[2022-07-06 04:53] jihoon-seo commented on #34840
Page: https://kubernetes.io/releases/release/

Links:
- https://kubernetes.io/releases/release/#the-release-cycle
- https://kubernetes.io/releases/release/#:~:text=Each%20release%20is%20part%20of%20a%20broader%20Kubernetes%20lifecycle%3A

/triage accepted

[2022-07-06 04:58] jihoon-seo commented on #34825
Page: https://kubernetes.io/docs/tutorials/kubernetes-basics/update/update-interactive/
/label team/katacoda

@humbienri have you tried disabling the ad blocker you are using and then reloading?

[2022-07-06 05:10] NitishKumar06 commented on #34837
@utkarsh-singh1 I think here's the link: https://kubernetes.io/zh-cn/docs/setup/production-environment/tools/kubespray/

[2022-07-06 08:34] #34298 closed

[2022-07-06 12:50] DonatoHorn commented on #13939
Hi. I am Donato, and  working on /docs/reference/tasks/configure-pod-container/*.

[2022-07-06 12:54] ashish-jaiswar commented on #34840
/assign

[2022-07-06 14:22] RichardoC commented on #33936
Is it worth migrating these to https://killercoda.com/ ? Given it's the organisation that already host the CKA/CKS mock exams it might be a good fit?

[2022-07-06 14:32] herodriguez7 commented on #34825
@jihoon-seo I've done that and it worked! Thank you. I am able to follow along with the tutorial. I do wonder though...how come my ad blocker is picking it up as an "Ad"?

Also, why is it that the first 4 modules did not have this problem? Do you know?

Now I am curious to try it on Chrome with whatever Ad Blocker I have there to see if that too trips things up.

Thanks again @jihoon-seo!

[2022-07-06 14:41] donghui12 commented on #34733
I would like to handle:
ResourceQuota-v1
/assign

[2022-07-06 19:38] jdbohrman opened #34852 "Add a Bionic Reading® toggle for nuerodivergent readers"
Hey team,

I'm both ADHD and Autistic and I recently came across this really cool accessibility tool for ND individuals and tested it out for myself and was amazed at how much easier it made reading content.

It should be pretty simple to add a toggle that turns highlighting from [Bionic Reading ](https://bionic-reading.com/) to enable neurodivergent readers to more easily parse documentation.

[2022-07-06 21:11] danielorf opened #34854 "Verify Signed Container Images - Broken links"
The `Installation` and `Configuration Options` link in the [Verifying Image Signatures with Admission Controller](https://kubernetes.io/docs/tasks/administer-cluster/verify-signed-images/#verifying-image-signatures-with-admission-controller) section are broken.

[2022-07-06 22:03] shanec42 opened #34857 "Limit Ranges Typo"
`The LimitRanger admission controller enforces `

Should be "LimitRange" not "LimitRanger" in the 3rd bullet under https://kubernetes.io/docs/concepts/policy/limit-range/#overview-of-limit-range

[2022-07-07 01:13] #34576 closed

[2022-07-07 01:38] taniaduggal commented on #34857
/assign

[2022-07-07 02:35] mengjiao-liu commented on #32790
/remove-lifecycle stale
/assign

[2022-07-07 03:08] utkarsh-singh1 commented on #34807
HI @MyGodItsFull0fStars @TheRealWaldo, Try to disable the ad blocker you are using and then reload the page.

[2022-07-07 03:37] utkarsh-singh1 commented on #34854
Hi @danielorf, I think the updated link are these-

Installation - https://docs.sigstore.dev/cosign/installation

Configuration for Kubernetes - https://docs.sigstore.dev/cosign/kubernetes

[2022-07-07 03:48] utkarsh-singh1 commented on #34854
Hi @danielorf, I think the updated link can be found here -

Installation - https://docs.sigstore.dev/cosign/installation

Configuration for Kubernetes - https://docs.sigstore.dev/cosign/kubernetes

[2022-07-07 04:42] t-inu commented on #33000
/assign
I'll also check if there are any other differences.

[2022-07-07 05:03] utkarsh-singh1 commented on #34854
Looks like installation of cosign from https://github.com/sigstore/helm-charts/tree/main/charts/cosigned to https://github.com/sigstore/cosign#installation.

[2022-07-07 05:38] NitishKumar06 commented on #34854
/assign

[2022-07-07 06:18] Shubham82 commented on #34857
Hi
We shouldn't do that. The name of the Admission control plugin is **LimitRanger**.

For reference: https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#limitranger

[2022-07-07 07:20] sarazqy commented on #34733
I would like to handle:
DaemonSet-v1
/assign

[2022-07-07 07:39] sftim commented on #30016
/remove-lifecycle rotten

[2022-07-07 07:46] sftim commented on #34857
/language en
/priority awaiting-more-evidence

[2022-07-07 07:46] jdbohrman commented on #34852
I'd be happy to make an attempt! It's been awhile since I dove into the internals of the k8s site but I'll follow up in the morning. It should be pretty easy! 🙂

[2022-07-07 08:25] sftim commented on #33936
There's two ways to consider that question:
- is it beneficial to readers to do that migration?
- is there some other work that SIG Docs should reasonably prioritise over doing that migration?

My feeling is that the answers are Yes and Yes respectively. Migrating to something that's not Katacoda _might_ help readers, even with the need to sign up, but the effort it'd require is best spent elsewhe

[2022-07-07 08:26] sftim commented on #18903
/sig node

[2022-07-07 08:28] yaolixin-creater commented on #34733
I would like to handle:
ValidatingWebhookConfiguration-v1
/assign

[2022-07-07 09:20] sftim commented on #31677
There's a lot of work here! This _isn't_ a good issue for someone making their first contribution.

/remove-good-first-issue
/remove-help

[2022-07-07 09:20] #34054 closed

[2022-07-07 09:30] sftim commented on #34117
/sig auth

We should document the _actual_ restrictions that PodSecurityPolicies impose. If we want to document good practice more generally, see https://github.com/kubernetes/website/pull/33992 and similar work.

[2022-07-07 09:31] sftim commented on #34840
/language en
/sig release

[2022-07-07 10:57] donghui12 commented on #34733
Please reciew @Michelle951 @ydFu

[2022-07-07 11:22] Kartik494 commented on #30824
/remove-lifecycle stale

[2022-07-07 12:16] shannonxtreme commented on #34825
Since the issue is resolved, should we close?

[2022-07-07 12:48] sftim commented on #33898
/kind cleanup
/priority backlog
/triage accepted

If this one gets auto-closed due to inactivity, I'm OK with that.

Anyone working on this: please touch a maximum of one (1) localization in each PR that you open to fix things.

[2022-07-07 12:51] sftim commented on #33795
@marco74 as of now, is there a task page that needs fixing? If so, what's the task page and what in that page isn't right?

[2022-07-07 13:08] jrsmroz opened #34867 "Documentation of Network Policy lacks explanations of `empty` or `not set` ingress field."
The description of [networkpolicy-resource](https://kubernetes.io/docs/concepts/services-networking/network-policies/#networkpolicy-resource), defined at [git source](https://github.com/kubernetes/website/blob/5c7ecd985fe45498d3ab96e25f3c8d2f9624cb4e/content/en/docs/concepts/services-networking/network-policies.md?plain=1#L66) does not states clearly what  an empty or not set ingress field means.

[2022-07-07 14:47] herodriguez7 commented on #34825
I thought about closing the issue but could not find a button. But then I had those lingering questions. If you could answer them, please?

[2022-07-07 16:01] Babapool commented on #30016
I have some questions:
1. The `data/canonical-tags/` should be migrated under every localization directory  under `data/i18n/` (eg: one the new location would be `data/i18n/ja/canonical-tags`)?

[2022-07-07 16:06] Babapool commented on #30016
Another question:
![image](https://user-images.githubusercontent.com/68645683/177819521-b5489857-ca49-4e66-9ed9-d4e3c4cd6f5f.png)
By display text do you mean these categories/tag which should then appear in the language appropriate to the selected localization (say in this case Ukrainian)?
Thanks.

[2022-07-07 18:07] marco74 commented on #33795
@sftim Thank you for asking, just looked up:

https://kubernetes.io/docs/setup/production-environment/container-runtimes/#containerd describes how to setup containerd for Kubernetes.

When reading containerd's documentation for configuration (https://github.com/containerd/cri/blob/master/docs/config.md) they write about `version = 2`. This was added with commit `e2550f6285638aaf591d40927c319a301b6

[2022-07-07 20:15] MidnightJava opened #34868 "Issue with k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/"
Running the interactive environment in the latest version of Chrome, and nothing happens when I click anywhere. It's completely dead. It works in Firefox.

[2022-07-07 21:09] jimsander commented on #34711
@windsonsea

Apologies for the duplicate title, was just lazily selecting the **suggest improvement**, won't make that mistake again :)

[2022-07-07 21:11] #34711 closed

[2022-07-07 22:28] sftim commented on #34837
Why remove https://k8s.io/zh-cn/docs/setup/production-environment/tools/kubespray/?

https://kubernetes.io/docs/setup/production-environment/tools/kubespray/ exists, so there should be a localization of that English page into Chinese.

If this is a takedown request I also don't see any content that would put Kubernetes' ICP license at risk (ie, content that the government of China would prefer to

[2022-07-08 01:29] #33471 closed

[2022-07-08 01:34] kevindelgado opened #34869 "add `Warning:` headers into the `API Overview` section"
tracking issue for comment https://github.com/kubernetes/website/pull/32357/files#r916032914

[2022-07-08 01:34] kevindelgado commented on #34869
/assign

[2022-07-08 02:27] jihoon-seo commented on #32808
In upstream website: Resolved by #33566 and #34817.

In v1.23 website: Will be resolved by a future PR that merges `dev-1.23-ko.3` into `release-1.23`.

/remove-lifecycle stale

[2022-07-08 02:30] jihoon-seo commented on #34868
Page: https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/
/label team/katacoda

@MidnightJava have you tried disabling the ad blocker you are using and then reloading?

[2022-07-08 03:52] ChadCarver opened #34871 "Issue with k8s.io/docs/setup/production-environment/container-runtimes/"
This page is missing the commands to install containerd. At the anchor [container-runtimes](https://kubernetes.io/docs/setup/production-environment/container-runtimes/#container-runtimes), there is the following text:

"Use the following commands to install Containerd on your system:"

Yet there is nothing below this instructing how to perform the install. I believe it should have something along

[2022-07-08 04:56] jihoon-seo commented on #34871
Page: https://kubernetes.io/docs/setup/production-environment/container-runtimes/#container-runtimes
/language en

[2022-07-08 07:29] tengqm commented on #32790
/reopen
The kubeadm reference is still on its way to be regenerated.
The kubelet credential providers one is yet to be fixed.

[2022-07-08 07:36] tengqm commented on #34857
Checking ...

[2022-07-08 07:38] tengqm commented on #34857
Confirmed the name of the admission controller. '`LimitRanger`' is it.
/close

[2022-07-08 07:38] #34857 closed

[2022-07-08 07:39] tengqm commented on #30793
I think the current text is clear enough. Please feel free to reopen if there is a concrete proposal to improve it.
/close

[2022-07-08 07:40] #30793 closed

[2022-07-08 08:19] sftim commented on #34869
/sig api-machinery
/language en
/triage accepted

[2022-07-08 08:29] NitishKumar06 commented on #34871
/assign

[2022-07-08 08:37] sftim commented on #33795
For an analogy, think about the Linux kernel and userland tools.
If you want to do something that involves setting up Linux networking then you need to know about the kernel, and maybe also `iproute2` and other tools.
Each component there has documentation that goes so far but ultimately those docs often do stop at a point.

Because there's so much that touches Kubernetes but isn't actually Kubern

[2022-07-08 08:57] tengqm commented on #34154
/close
Tracked in #34733

[2022-07-08 08:57] #34154 closed

[2022-07-08 09:32] mengjiao-liu commented on #32790
But I didn't find the link https://godoc.org/ in this file `content/en/docs/reference/config-api/kubelet-credentialprovider.v1alpha1.md`.

https://kubernetes.io/docs/reference/config-api/kubelet-credentialprovider.v1alpha1/#:~:text=cacheDuration-,meta/v1.Duration,-cacheDuration%20indicates%20the page points to https://pkg.go.dev/k8s.io/apimachinery/pkg/apis/meta/v1#Duration

There are the only htt

[2022-07-08 09:38] NitishKumar06 commented on #34854
@utkarsh-singh1 What about Configuration link?

[2022-07-08 10:19] NitishKumar06 commented on #34871
Hi @ChadCarver , There's already a line mentioned to go through this link (https://github.com/containerd/containerd/blob/main/docs/getting-started.md) and then come back to this step.

[2022-07-08 10:38] tengqm commented on #32170
/remove-lifecycle rotten
/assign

[2022-07-08 10:53] sarkartanmay393 commented on #31677
@mitul3737 Please assign me `content/bn/docs/tutorials/hello-minikube.md`

[2022-07-08 11:00] tengqm commented on #32164
Either this issue has been fixed by #34189, or we won't fix it because 1.20 is too old to maintain.
I'm closing this issue because we don't have abundant bandwidth to track it. Feel free to reopen if there is something we can fix.
/close

[2022-07-08 11:00] #32164 closed

[2022-07-08 11:07] sftim commented on #34871
We should remove the text "Use the following commands to install Containerd on your system:” as these are obsolete. Instead, we expect the containerd documentation to cover that detail.

[2022-07-08 11:08] sftim commented on #34871
We could also revise the text to make it clear that following those third-party docs is a required step towards having a working containerd.

[2022-07-08 11:17] tengqm commented on #32123
There is no such command AFAICT.
/close

[2022-07-08 11:17] #32123 closed

[2022-07-08 11:29] mitul3737 commented on #31677
Yes , sure @sarkartanmay393

[2022-07-08 11:33] pprotim opened #34876 "Issue with k8s.io/docs/concepts/workloads/controllers/job/"
unable to timeZone field in the CronJob spec. Version of kubernates is
Client Version: v1.22.4
Server Version: v1.21.11-gke.1900

why timeZone is not taking?
1) error: error validating "deployment-cronjob.yaml": error validating data: ValidationError(CronJob.spec): unknown field "timeZone" in io.k8s.api.batch.v1.CronJobSpec;
2) error: error validating "deployment-cronjob.yaml": error validating da

[2022-07-08 11:49] PrajwalBorkar opened #34877 "[en] Typo in `cluster-intro` page"
**This is a Bug Report**

**Problem:**

- Typo exists: `containerd `

**Proposed Solution:**
`containerd ` => `containers `
**Page to Update:**
https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro/

**Additional Information:**
/language en
/good-first-issue
/kind documentation
/kind bug

[2022-07-08 11:50] sftim commented on #34876
The documentation for CronJob timezones is https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/#time-zones

As that page explains, time zone support in the CronJob API is an alpha Kubernetes feature and not enabled by default.

/kind support
/language en

[2022-07-08 11:52] sftim commented on #34877
/priority awaiting-more-evidence
/remove-help
/remove-good-first-issue
/language en
/remove-kind bug
/language en

containerd is _not_ a typo in that page. It refers to [containerd](https://containerd.io/)

[2022-07-08 11:52] sftim commented on #34877
/remove-priority awaiting-more-evidence
/triage invalid
/close

[2022-07-08 11:53] #34877 closed

[2022-07-08 11:53] sftim commented on #34877
/triage unresolved

[2022-07-08 11:53] PrajwalBorkar commented on #34877
Ohh okay

[2022-07-08 13:06] NitishKumar06 commented on #34871
/assign

[2022-07-08 13:57] #32790 closed

[2022-07-08 16:22] TheRealWaldo commented on #34807
@utkarsh-singh1 I do not use any adblockers; stock chrome!

[2022-07-08 16:39] kadtendulkar opened #34882 "Broken hyperlink on Running ZooKeeper, A Distributed System Coordinator page"
**Problem:**
The text [**ZooKeeper Basics**](https://kubernetes.io/docs/tutorials/stateful-application/zookeeper/#zookeeper-basics) on [link](https://kubernetes.io/docs/tutorials/stateful-application/zookeeper/) is not pointing to the exact section and redirect to the same [page](https://kubernetes.io/docs/tutorials/stateful-application/zookeeper/#zookeeper-basics), it should point to this [link](

[2022-07-08 17:35] pprotim commented on #34876
Thank you for the information

[2022-07-08 18:27] benz2012 opened #34885 "Role rules.apiGroups - missing required notation"
For the resource `Role`, field `rules.apiGroups`, there is no indication that the field is a required field, however, the Kubernetes controller indeed complains if you leave that field `undefined`.

For example:
[code]

[2022-07-08 18:29] benz2012 commented on #34885
To clarify, I am talking specifically about the API Reference for Role
https://kubernetes.io/docs/reference/kubernetes-api/authorization-resources/role-v1/

[2022-07-08 19:07] nareshmaharaj-consultant opened #34887 "Improvement for k8s.io/docs/concepts/storage/dynamic-provisioning/"
When enabling dynamic provisioning as default behaviour:
https://kubernetes.io/docs/concepts/storage/dynamic-provisioning/#defaulting-behavior
It might be helpful to reference the following as a hyper link for clarity
https://kubernetes.io/docs/reference/labels-annotations-taints/#storageclass-kubernetes-io-is-default-class

[2022-07-08 20:14] Nflock1 opened #34888 "Interactive Tutorial - Updating Your App"
on step 3, the status was set to ErrImagePull, not ImagePullBackOff

[2022-07-09 10:37] sftim commented on #34882
/retitle Broken hyperlink on Running ZooKeeper, A Distributed System Coordinator page

[2022-07-09 10:37] sftim commented on #34882
/language en

[2022-07-09 10:40] sftim commented on #34885
This is likely to be a shortcoming either with the OpenAPI definition for Role, or with the automatic [generator](https://github.com/kubernetes-sigs/reference-docs/) code that produces the page you're looking at @benz2012.

I'm not sure which. We should work out which of those two isn't right; if it's an issue with the OpenAPI itself, we can transfer this issue to the [Kubernetes repo](https://git