[2020-10-20 21:58] sftim commented on #24658
It sounds like you already had a cluster and wanted to change to a different container runtime? If so, that document might not be the right one to follow.
If you want help setting up a cluster: GitHub is not the right place for support requests.

For help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes)

You can also post your question on the [Kubernetes Slack](http:/

[2020-10-20 22:05] sftim commented on #24657
I think this is a bug report for https://kubernetes.io/docs/tasks/job/fine-parallel-processing-work-queue/

That task page is quite involved. @dirtyearl, would you be willing to explain how far you got along that task and what happened when it went wrong? How was that different from what you expected?

/triage needs-information
/language en

[2020-10-20 22:20] sftim commented on #24650
@thomasstorm if you try again, are the symptoms still present? (that may have been a glitch)

/priority awaiting-more-evidence
/triage needs-information

[2020-10-20 22:32] hopper-signifyd commented on #22650
Closing for now as this is being tracked in #22624

[2020-10-20 22:32] #22650 closed

[2020-10-21 00:02] irvifa commented on #21966
/remove-lifecycle rotten

[2020-10-21 00:04] irvifa commented on #20316
/remove-lifecycle stale

[2020-10-21 00:07] irvifa commented on #21957
/close

[2020-10-21 00:07] #21957 closed

[2020-10-21 01:28] #24503 closed

[2020-10-21 03:38] tengqm commented on #24507
/assign

[2020-10-21 04:08] tengqm opened #24660 "Possible abuse of the note shortcode"
**This is a Bug Report**

**Problem:**

As shown in the following screenshot, the [windows in kubernetes section](https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/) has a subsection that consists of nothing other than notes!

![Screen Shot 2020-10-21 at 12 01 46 PM](https://user-images.githubusercontent.com/5094756/96671831-5dd18880-1395-11eb-938f-45f1735

[2020-10-21 06:22] neha-viswanathan opened #24661 "404 links"
**Problem:**
There are several links that lead to non-existent pages (404s)

**Proposed Solution:**
Update the links or delete them

**Pages to Update:** To name a few

- [ ] https://github.com/kubernetes/website/blob/master/docs/concepts/overview/working-with-objects/names#dns-label-names
- [ ] https://github.com/kubernetes/website/blob/master/docs/concepts/services-networking/connect-application

[2020-10-21 07:46] ngv-nexo commented on #24661
I want to point out that some CSS is missing for me in the english version of the site: https://kubernetes.io/docs/home/

https://kubernetes.io/scss/main.min.f276b50d1c71711c70ef4fa9d4b796c7d32e4fdc489e65604766e35fe9f4958d.css

[2020-10-21 08:23] thomasstorm commented on #24650
@sftim In fact, now it works! Thanks. Downside is that the CSS cannot be loaded anymore on the tutorial page -- shall I create another issue for that? See screenshot below. Strange dependency anyways ;-)

![image](https://user-images.githubusercontent.com/213119/96693386-79359700-1387-11eb-9db1-c973df6d1ddf.png)

[2020-10-21 09:02] vpsvpnvip opened #24664 "error: error parsing wordpress-deployment.yaml: error converting YAML to JSON: yaml: line 33: could not find expected ':'"
trying to follow kubernetes tutorial[1]Example: Deploying WordPress and MySQL with Persistent Volumes;
run command 'kubectl apply -f wordpress-deployment.yaml' on google kubernetes using cloudshell;
got this error:**error: error parsing wordpress-deployment.yaml: error converting YAML to JSON: yaml: line 33: could not find expected ':'
**wordpress-deployment.yaml**
[code]

[2020-10-21 10:20] gochist commented on #23939
Fixed in #24370
/close

[2020-10-21 10:20] #23939 closed

[2020-10-21 10:22] gochist commented on #24150
Fixed in #24218
/close

[2020-10-21 10:22] #24150 closed

[2020-10-21 10:56] mahendran8655 opened #24665 "Configure a Pod to Use a ConfigMap"
Hi Team,

Observed the spelling mistake for customization

Please check this line
"Apply the kustomization directory to create the ConfigMap object"

[2020-10-21 12:49] jun1-T opened #24666 "ja: Translate /docs/concepts/architecture/control-plane-node-communication/ into Japanese"
This is a Feature Request

What would you like to be added

Translate /docs/concepts/architecture/control-plane-node-communication/ into Japanese.

Why is this needed

This page has not been translated.

Comments

/language ja
/assign

[2020-10-21 13:37] SantosRay commented on #24658
No, my question is: Why Kubernetes is not retaining the container runtime settings?

[2020-10-21 13:38] jun1-T commented on #24666
/close

[2020-10-21 13:38] #24666 closed

[2020-10-21 13:59] sftim commented on #24658
/kind support

[2020-10-21 14:28] #24380 closed

[2020-10-21 14:59] jun1-T opened #24667 "ja: Translate /docs/concepts/configuration/organize-cluster-access-kubeconfig/ into Japanese"
This is a Feature Request

What would you like to be added

Translate /docs/concepts/configuration/organize-cluster-access-kubeconfig/ into Japanese.

Why is this needed

This page has not been translated.

Comments

/language ja
/assign

[2020-10-21 15:22] troy0820 commented on #24664
/kind support
This issue is being addressed in https://github.com/kubernetes/kubernetes/issues/95754
/close

[2020-10-21 15:22] #24664 closed

[2020-10-21 16:12] abhiranjeet opened #24670 "Scaling large clusters"
Is there a documentation which addresses how to scale components of **master node**  in a kubernetes cluster?

[2020-10-21 16:20] SantosRay commented on #24658
BTW, I was able to recover the cluster from the accidental crash by running the following at each node:

sudo su
swapoff -a
systemctl restart docker
kubectl taint nodes $(hostname) node-role.kubernetes.io/master:NoSchedule-
exit

Anyway, FYI docker doesn't retain the "CgroupDriver" settings for the cluster after reboot.

[2020-10-21 16:20] #24658 closed

[2020-10-21 16:27] sftim commented on #24670
/kind support
https://kubernetes.io/docs/setup/best-practices/cluster-large/ might be relevant; PR #24424 aims to revise the guidance on that page.

[2020-10-21 16:31] sftim commented on #24661
/triage needs-information
@neha-viswanathan it's not clear from that report what the URL of the broken hyperlink is. Can you explain what someone should search for in a page in order to find the broken hyperlink? [`linkchecker.py`](https://github.com/kubernetes/website/blob/master/scripts/linkchecker.py) may help.

@ngv-nexo I recmmend that you report a separate issue about missing CSS

[2020-10-21 16:37] sftim commented on #24660
These 4 things seem like details that someone wanted to call out to readers. I can see why you'd use a callout for that. There are a few other things that aren't quite in line with the style guide; I see statements about the future, and the text doesn't address the reader as “you”. A cleanup would be good.

This could work as a set of 4 bullet points instead, headed by a text along the lines of: “

[2020-10-21 16:38] sftim commented on #24665
This _isn't_ a spelling mistake; it's documentation that assumes more reader knowledge than is justifier.

/triage invalid

@mahendran8655 The directory named `kustomization` is for use with [kustomize](https://github.com/kubernetes-sigs/kustomize).

[2020-10-21 16:39] sftim commented on #23749
/triage accepted

[2020-10-21 16:40] sftim commented on #23743
/close
/triage invalid

[2020-10-21 16:40] sftim commented on #23729
See https://github.com/kubernetes/website/issues/22788#issuecomment-712896348 for a possible mechanism to list pages more than once.

[2020-10-21 16:40] #23743 closed

[2020-10-21 17:29] #24617 closed

[2020-10-21 17:36] mokua commented on #24495
hello @sftim
I have tested the steps and the application deploys correctly.

[2020-10-21 17:40] mokua commented on #24441
hi @sftim @tschirmer , more details on what do you have in mind on this?

[2020-10-22 01:19] tengqm commented on #24660
@sftim Thanks for the comments. Please don't change the topic of this issue. This issue is about the shortcode, not about other tidy up. The page was just mentioned as an example. Hope we are clear about this.

[2020-10-22 01:31] gopalakrishnaR opened #24672 "Reserve Compute Resources for System Daemons"
Kubernetes version v1.17.11-eks-cfdc40, on AWS EKS.
With systemreserved and eviction hard kubelet configs set, kubectl describe node does not show the current kubelet config with reference to system reserved settings.
Kubectl describe node, still shows allocatable as all, instead of breakdown.
Allocatable:
  attachable-volumes-aws-ebs:  25
  cpu:                         3400m
  ephemeral-storage:

[2020-10-22 01:50] tengqm opened #24673 "Fix the link to Windows pause image dockerfile?"
**This is a Bug Report**

**Problem:**

In https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/#troubleshooting, the bulletin 16 is about the 'pause' image. There we have a DOCKERFILE link pointing to the `wincat` tool. This link makes no sense in the context. A reader would expect it to point to the Dockerfile used to build the `pause` image, not the `winca

[2020-10-22 05:26] wilsonehusin opened #24676 "CronJob deadlink in /docs/concepts/workloads"
### **This is a Bug Report**

### Problem
In the [documentation page for `Workloads`](https://kubernetes.io/docs/concepts/workloads/), the link to `CronJob` results in 404 Page Not Found. I believe [this is the corresponding Markdown file](https://github.com/kubernetes/website/blame/45fa1517328807788d67cc633e3f8da6492e55a2/content/en/docs/concepts/workloads/_index.md#L34).

While the easy fix is t

[2020-10-22 06:43] irvifa commented on #21597
Hey can I close this or we left it as it is?
/remove-lifecycle rotten

[2020-10-22 09:03] Aisuko opened #24683 "[zh]: Custom DNS example mistakes"
Please replace the code from

[code]

to

[code]

please kindly check the mistake in below link

https://kubernetes.io/zh/docs/tasks/administer-cluster/dns-custom-nameservers/#%E7%A4%BA%E4%BE%8B

[2020-10-22 09:10] pavelgordon opened #24684 "Ingress: Specify the behaviour for path with default value"
Given the spec

[code]

I assume that
[code]
is equivalent of

[code]

But documentation doesnt cover it. Do you think it's a good idea to include it in https://kubernetes.io/docs/concepts/services-networking/ingress/ in `Path types` area?

[2020-10-22 09:10] Aisuko commented on #24683
/language zh

[2020-10-22 09:13] sftim commented on #24660
Thanks for clarifying your concern @tengqm

[2020-10-22 09:20] Aisuko commented on #24683
/good-first-issue

[2020-10-22 09:38] sftim commented on #24676
/triage accepted

[2020-10-22 10:29] #16199 closed

[2020-10-22 11:13] Kartik494 commented on #24133
Hi @nagajagan in this [Link](https://kubernetes.io/docs/reference/kubectl/kubectl-cmds/) there is another link reference to kubectl commands refrence , so far i am understanding is that you want to replace reference Link for kubectl command to be in this [page](https://kubernetes.io/docs/reference/kubectl/kubectl-cmds/) ?

[2020-10-22 11:18] Kartik494 commented on #24078
Hi @tdsan i think there is a link for installing kubectl on Linux [here](https://kubernetes.io/docs/tasks/tools/install-kubectl/#install-kubectl-on-linux) , and you wanted to remove the installation from snap command or here you guide to not use  --classic while using snap command ?

[2020-10-22 12:57] sftim commented on #24684
/retitle Ingress: Specify the behaviour for path with default value
/kind feature
/language en
/sig network
/triage accepted

[2020-10-22 12:59] sftim commented on #24672
Hi @gopalakrishnaR

It sounds like you have a query about the _node allocatable_ feature. I'm assuming that the page you're looking at is https://v1-17.docs.kubernetes.io/docs/tasks/administer-cluster/reserve-compute-resources/ - is that right?

I'm not sure if you're reporting an inaccuracy in that page, if you're asking for advice on using Kubernetes, or if the issue description is on another to

[2020-10-22 13:41] #24676 closed

[2020-10-22 13:54] sftim commented on #24441
There's some ideas in https://github.com/kubernetes/website/pull/23294 about how this might work.

[2020-10-22 17:08] sftim commented on #24673
/sig windows
/triage accepted
(needs fixing either way)
/kind bug
/priority backlog

[2020-10-22 17:10] sftim commented on #24665
@mahendran8655 are you OK if we close this issue?

[2020-10-22 20:05] Arhell commented on #24673
/assign @Arhell

[2020-10-22 22:27] andrew-bolin opened #24691 "Debugging DNS Resolution"
From this page: https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/

The link "Inheriting DNS from the node" goes to a page that has no section with that title. It's not clear to me which part of the page relates to inheriting dns from the node...

 https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/#inheriting-dns-from-the-node

[2020-10-23 09:18] Syed-Saifulla opened #24694 "Issue with k8s.io/docs/tasks/run-application/run-replicated-stateful-application/"
NAME          READY   STATUS       RESTARTS   AGE     IP                   NOMINATED NODE   READINESS GATES
pod/mysql-0   2/2     Running      0          7m53s   10.42.4.38       <none>           <none>
pod/mysql-1   2/2     Running      0          6m46s   10.42.2.128     <none>           <none>
pod/mysql-2   0/2     Init:Error   4          2m25s   10.42.3.44        <none>           <none>

NAME

[2020-10-23 09:45] sftim commented on #15560
/remove-lifecycle rotten

[2020-10-23 09:50] howieyuen commented on #24506
/assign

[2020-10-23 11:25] #24683 closed

[2020-10-23 18:10] sftim commented on #24691
/language dns
/kind bug
/triage accepted
/priority backlog

Thanks for reporting this @andrew-bolin

[2020-10-23 18:11] sftim commented on #24694
Hi @Syed-Saifulla

I can see that you have provided some diagnostics. I'm guessing that you want to report a bug, get help, or possibly ask for an improvement to the site. Can you explain more about what's on your mind?

/triage needs-information

[2020-10-23 23:05] #21051 closed

[2020-10-24 06:39] Drake8710 commented on #20378
/assign

[2020-10-24 13:32] niklasR commented on #24650
Hi, I'm having the same issue as @thomasstorm, and I think it is due to my adblock (uBlock Origin)
After step 2, the terminal is running minikube, but it's not actually launching Kubernetes:
![image](https://user-images.githubusercontent.com/724977/97083032-8069d880-1605-11eb-8d96-e6ef27190923.png)

Disabling uBlock Origin starts kubernetes properly.

[2020-10-24 15:29] irvifa commented on #22731
/remove-lifecycle stale

[2020-10-25 01:03] #24505 closed

[2020-10-25 04:04] inductor commented on #24265
/close

[2020-10-25 04:04] #24265 closed

[2020-10-25 04:28] lethe2211 opened #24708 "Translate reference/kubectl/jsonpath/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate reference/kubectl/jsonpath/ into Japanese.

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-10-25 09:02] wawa0210 commented on #24691
/assign

[2020-10-25 13:34] irvifa commented on #22778
/close

[2020-10-25 13:34] #22778 closed

[2020-10-25 13:35] irvifa commented on #18887
/remove-lifecycle stale

[2020-10-25 13:43] irvifa commented on #22055
I’ll close this issue then
/close

[2020-10-25 13:43] #22055 closed

[2020-10-25 13:58] irvifa commented on #24673
/close

[2020-10-25 13:58] #24673 closed

[2020-10-26 03:53] #24506 closed

[2020-10-26 04:54] mrdulin opened #24716 "404 Page not found for install minikube page"
Chinese doc Link: https://kubernetes.io/zh/docs/tasks/tools/install-minikube/

[2020-10-26 05:58] aaronsssya opened #24717 "Kubernetes Windows nodes"
In our Cluster, we have a LoadBalancer to handle Control Plane API-Server. After Windows patch kb4570333, our self sign certification cannot support gMSA any more. our windows node cannot call gMSA-service to get AD authen work.

[2020-10-26 07:04] tengqm commented on #24504
/assign

[2020-10-26 08:55] sftim commented on #24691
oops.
/language en

[2020-10-26 09:06] robber-chan opened #24721 "DaemonSet"
“并且不回更改 DaemonSet 的 spec.template.“
“回”应该改成“会”吧。

[2020-10-26 09:12] tengqm commented on #24721
@robber-chan Mind propose a fix?

[2020-10-26 09:12] tengqm commented on #24721
/triage accepted

[2020-10-26 15:40] arnovl-kul opened #24723 "Incorrect commands for adding PGP keys to APT configuration"
[UBUNTU 20.04]

[The tutorial for installing container environments](https://kubernetes.io/docs/setup/production-environment/container-runtimes/#docker) specifies the following command:

`curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -`

This runs into the following error:

`gpg: keyblock resource '/etc/apt/trusted.gpg.d/docker.gpg': No such file or directory`

Update

[2020-10-26 16:20] kbhawkey commented on #22786
/remove-lifecycle stale

[2020-10-26 19:05] kbhawkey opened #24726 "Create two umbrella sections (persistent, ephemeral) for volume concept page"
**This is a Feature Request**

The volume concept page has a list of volume types. Break up the volume types into two groups:
* ephemeral
* persistent

From PR (#24077) review:
"The doc seems to be inconsistent about which volume types are persistent and which are ephemeral. Would it be more clear if we broke up this list of volume types into two sections, ephemeral and persistent?"

**What would

[2020-10-26 19:05] kbhawkey commented on #24726
For more information , see PR #24077 .

[2020-10-26 19:05] kbhawkey commented on #24726
/kind feature

[2020-10-26 19:07] nate-double-u commented on #23055
/assign

[2020-10-26 19:09] alculquicondor opened #24729 "PodTopologySpread feature is unrelated to its feature gate name"
**This is a Bug Report**

**Problem:**

When PodTopologySpread graduated to GA, the reference to its feature gate was lost.
See how it was referred to in older versions https://v1-18.docs.kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/#enable-feature-gate
This makes it hard for users to figure when the feature was enabled by default or graduated to GA, unless they expli

[2020-10-26 19:09] alculquicondor commented on #24729
cc @Huang-Wei
@sftim for guidance

[2020-10-26 19:10] alculquicondor commented on #24729
/sig scheduling

[2020-10-26 19:16] geoffcline commented on #24726
I would like this issue assigned to me. I have a draft in progress that is related.

[2020-10-26 19:23] Huang-Wei commented on #24729
Maybe it's fine to add a note to remind users its correlated feature on non-GA versions is `EvenPodsSpread`?

[2020-10-26 19:29] kbhawkey commented on #24726
/triage accepted

[2020-10-26 19:30] kbhawkey commented on #24726
Yes @geoffcline , you can assign yourself!

[2020-10-26 20:14] geoffcline commented on #24726
:D

/assign

[2020-10-26 21:13] sftim commented on #24729
Sounds like a good idea.

[2020-10-26 21:13] sftim commented on #24729
/triage accepted
/language en
/kind cleanup

[2020-10-26 22:30] sftim commented on #24726
/sig storage

[2020-10-26 22:30] sftim commented on #24726
/priority backlog

[2020-10-26 22:31] sftim commented on #24721
/language zh (I presume)

[2020-10-26 22:32] sftim commented on #24717
/kind support

@aaronsssya you will have to look elsewhere for help with Kubernetes. Given there's only one relevant vendor, how about starting from https://docs.microsoft.com/en-gb/virtualization/windowscontainers/communitylinks ?

[2020-10-26 22:32] sftim commented on #24717
/close

[2020-10-26 22:33] #24717 closed

[2020-10-26 22:33] sftim commented on #24716
/language zh
@mrdulin where is the page that hyperlinks to https://kubernetes.io/zh/docs/tasks/tools/install-minikube/ ?

[2020-10-26 22:34] sftim commented on #24716
Chinese localization team: consider adding a redirect, based on the English localization's redirects for the equivalent page (the target may not be available other than in English though).

[2020-10-26 23:04] alculquicondor commented on #24729
/assign @adtac

[2020-10-27 00:33] nate-double-u opened #24731 ".editorconfig causing white space to be stripped from the end of lines in .md files"
**This is a Bug Report**

**Problem:**
`.editorconfig` is mis-configured for markdown files, and is stripping white space at the end of lines. Markdown uses these spaces for formatting in some casees.
Currently, if the .editorconfig file is being used (via plugin or whatnot), then these formatting cues can be removed on save.

**Proposed Solution:**
add the following after the `[*]` section in the

[2020-10-27 01:12] robber-chan commented on #24721
@tengqm yes,this is chinese languge,“回”change to“会”

[2020-10-27 03:07] npu21 commented on #24716
/assign

[2020-10-27 03:13] gaoguangze111 opened #24733 "404 link in Chinese page '使用 Helm 安装 Service Catalog'"
**This is a Bug Report**

**Problem:**
404 link in Chinese page '使用 Helm 安装 Service Catalog'.
Page : https://kubernetes.io/zh/docs/tasks/service-catalog/install-service-catalog-using-helm/
Link : 服务目录

**Proposed Solution:**
Change to right link

**Page to Update:**
https://kubernetes.io/zh/docs/tasks/service-catalog/install-service-catalog-using-helm/

[2020-10-27 03:14] gaoguangze111 commented on #24733
/accept

[2020-10-27 03:26] pjhwa opened #24735 "Issue https://k8s.io path for document links"
**This is a Bug Report**

**Problem:**
There are several document links with https://k8s.io/docs/... paths. Most of links are the relative paths like just /docs/...

- /docs/concepts/storage/persistent-volumes.md : The control plane still checks that \[storage class\]\(https://kuberentes.io/docs/concepts/storage/storage-classes/), access modes, and requested storage size are valid.
- etc.

**Propo

[2020-10-27 03:34] #24735 closed

[2020-10-27 05:07] mrdulin commented on #24716
@sftim Sorry for late. Here is the section of the doc: https://kubernetes.io/zh/docs/setup/learning-environment/minikube/#%E5%AE%89%E8%A3%85, click "安装" link, it will navigate to the 404 page.

[2020-10-27 07:29] harridu opened #24747 "Improvement for k8s.io/docs/concepts/storage/volume-snapshots/"
Maybe its just me, but reading the page first time it is not clear what these volume-snapshots are really good for. Reading it again doesn't help, but it makes one thing clear: Taking a snapshot is just half of the story.

Maybe a practical example (e.g. backup and restore of a mysql database, migration to another cluster) would be an improvement.

[2020-10-27 09:02] tengqm commented on #24733
/assign @gaoguangze111

[2020-10-27 10:23] sdwerwed opened #24750 "Improve prerequisites for “Run a Replicated Stateful Application”"
Replication doesnt work by following this https://kubernetes.io/docs/tasks/run-application/run-replicated-stateful-application/
 slave can not connect to master. (There is no replication user in mysql.user) I used namespace: mysql for all yml
[code]

[2020-10-27 12:07] sftim commented on #24750
/retitle Replication not working in “Run a Replicated Stateful Application”

[2020-10-27 12:08] sftim commented on #24750
Thanks for reporting this @sdwerwed - we'll check it out.

[2020-10-27 12:08] sftim commented on #24747
Thanks for the suggestion

/language en
/triage accepted
/sig storage
/priority backlog

[2020-10-27 12:11] sftim commented on #24723
Thanks for reporting this. I wonder if we should also recommend that readers `mkdir -p /etc/apt/trusted.gpg.d` ?

/kind bug
/triage accepted
/priority important-longterm
/language en
/sig node

[2020-10-27 12:13] sftim commented on #24731
Good spot
/kind bug
/triage accepted
/priority backlog

[2020-10-27 12:14] sftim commented on #24665
/close

[2020-10-27 12:14] #24665 closed

[2020-10-27 13:23] sdwerwed commented on #24750
Changing the namespece form `mysql` to somethink else like `mysqlns` works

[2020-10-27 13:50] sftim commented on #21435
/remove-lifecycle rotten

[2020-10-27 16:36] nate-double-u commented on #24731
/assign

[2020-10-27 23:12] KilimAnnejaro commented on #24747
\assign

[2020-10-27 23:13] KilimAnnejaro commented on #24747
/assign

[2020-10-28 01:52] chhanz commented on #24597
merged

[2020-10-28 01:52] #24597 closed

[2020-10-28 09:52] wemiprog opened #24762 "Issue with k8s.io/de/docs/tasks/tools/install-minikube/"
"Ander Installationsmethoden" here https://kubernetes.io/de/docs/tasks/tools/install-minikube/#linux should not be a link to github but to this link:
https://minikube.sigs.k8s.io/docs/start/

[2020-10-28 10:52] amado-saladino opened #24763 "Improvement for k8s.io/docs/tasks/access-application-cluster/ingress-minikube/"
Ingress file provided does not work, it might be due to difference in versions.
This version works for me:

[code]

[2020-10-28 11:25] arnovl-kul commented on #24723
That is a possibility. But I think it would be logical to take over the official documentation of docker.

[2020-10-28 13:35] sftim commented on #24762
/language de
/kind cleanup
/priority backlog

Actually https://kubernetes.io/de/docs/tasks/tools/install-minikube/ should either redirect to the (English) page, https://minikube.sigs.k8s.io/docs/start/ or it should be a stub that links there and explains that the documentation for Minikube is not localized.

[2020-10-28 13:38] sftim opened #24765 "Namespace for add-ons"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/concepts/overview/components/#addons says add-ons live in kube-system. That might be too simplistic though.

It looks like that comment has survived, reworded but otherwise not reviewed, since commit [`a0fb30a`](https://github.com/kubernetes/website/blame/a0fb30a6fbff36d8eb86e2edf5d8272fec00a74c/v1.1/docs/admin/cluster-components.md

[2020-10-28 13:43] #24747 closed

[2020-10-28 14:17] CLS-CLS opened #24766 "Clarify “Exposing Your App” tutorial"
after introducing the concept of service , creating a service on the deployment and not in the pod or the node was counter intuitive. It is not clear why we created the service using the deployment or if we could do it using the pod for example.

[2020-10-28 14:20] seokho-son commented on #24613
Complete by #24622 !

[2020-10-28 14:20] #24613 closed

[2020-10-28 14:28] sftim commented on #24766
/retitle Clarify “Exposing Your App” tutorial

The aim is to explain why you create _one_ service for an application, rather than exposing each replica as its own Service.

[2020-10-28 14:30] sftim commented on #24763
Hi @amado-saladino

Can you confirm what version of minikube and what version of Kubernetes you tried that with?
If you're using a version of Kubernetes older than v1.19, try switching to the documentation for that version of Kubernetes.

/triage needs-information

[2020-10-28 14:39] MaheshwarReddyGade opened #24767 "Pull an Image from a Private Registry"
imagePullSecrets is in spec section of pod
but documentation its mentioned that its in container section ..

[2020-10-28 15:00] adtac commented on #24729
/close
fixed in https://github.com/kubernetes/website/pull/24764

[2020-10-28 15:01] #24729 closed

[2020-10-28 15:28] CLS-CLS commented on #24766
Thank you for clarifying this,
I  believe your answer should be at that tutorial like "
To create a new service and expose it to external traffic we’ll use the expose command with NodePort as parameter (minikube does not support the LoadBalancer option yet). _In order to create one service for an application, rather than exposing each replica as its own Service we expose the deployment"_

[2020-10-28 15:37] kbhawkey commented on #21636
/assign

[2020-10-28 16:30] nate-double-u commented on #12303
That Netlify has [unlimited site support](https://www.netlify.com/pricing/) bodes well that we’d probably not see a cap for this (though, it’d be good to ask to confirm). It doesn’t seem like it would be much extra work per release, we’d have to create a new alias for the bumped version, but no more than that—the rest should still be pointing at the primary site. My question would be about automat

[2020-10-28 16:33] sftim commented on #12303
Happy to do this manually _n_ times a year and worry about automating it later.

[2020-10-28 19:44] ialidzhikov commented on #7386
/remove-lifecycle rotten

[2020-10-28 19:45] ialidzhikov commented on #7386
Can someone please add a lifecycle frozen label to this issue? @sftim ?

[2020-10-28 21:33] #24481 closed

[2020-10-29 04:56] seokho-son commented on #24591
/triage accepted

[2020-10-29 04:56] seokho-son commented on #24612
/triage accepted

[2020-10-29 04:56] seokho-son commented on #24620
/triage accepted

[2020-10-29 04:58] seokho-son commented on #24624
/triage accepted

[2020-10-29 04:58] seokho-son commented on #24654
/triage accepted

[2020-10-29 04:59] seokho-son commented on #24656
/triage accepted

[2020-10-29 05:59] tengqm commented on #22821
/close

[2020-10-29 05:59] #22821 closed

[2020-10-29 06:05] #24767 closed

[2020-10-29 06:05] MaheshwarReddyGade commented on #24767
It was not an issue

[2020-10-29 06:06] tengqm commented on #24721
/assign

[2020-10-29 06:08] tengqm commented on #23728
Done.
/close

[2020-10-29 06:09] #23728 closed

[2020-10-29 06:09] tengqm commented on #23727
Done.
/close

[2020-10-29 06:09] #23727 closed

[2020-10-29 06:09] tengqm commented on #22856
done.
/close

[2020-10-29 06:10] #22856 closed

[2020-10-29 06:10] tengqm commented on #22741
Done.
/close

[2020-10-29 06:10] #22741 closed

[2020-10-29 06:21] tengqm commented on #21226
/assign

[2020-10-29 06:23] tengqm commented on #20316
This is one reason why we should be cautious when moving pages around at will.

[2020-10-29 07:19] tengqm commented on #22838
This is done.

[2020-10-29 07:19] #22838 closed

[2020-10-29 08:42] Arhell opened #24775 "update button "read more""
**This is a Feature Request**

Fix
![1](https://user-images.githubusercontent.com/26163841/97544714-ab23aa80-19d2-11eb-9a51-9821c570fbe3.jpg)
https://kubernetes.io/community/

**What would you like to be added**
It is expected that the content of the button will be in one line

**Why is this needed**
Equalize it to all buttons by design
![2](https://user-images.githubusercontent.com/26163841/97544

[2020-10-29 09:00] #17933 closed

[2020-10-29 09:04] sftim commented on #24723
Did PR #24770 help here?
/triage needs-information
/remove-triage accepted

[2020-10-29 09:44] Kartik494 commented on #24117
Hi @abhijeetnijampurkar could you provide link  in which interactive tutorial you are facing this issue?

[2020-10-29 10:23] Kartik494 commented on #23781
Hi @Jeson515 could you elaborate more on which issue you are facing for pod [lifecycle](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/) ?

[2020-10-29 11:05] Kartik494 commented on #23392
Hi @anupam587 could you provide the deployment yaml file  which you are using in enviorment?  could you verfiy the syntax you are using [here](https://kubernetes.io/docs/reference/kubectl/jsonpath/)

[2020-10-29 11:09] Kartik494 commented on #23307
Hi @marektoman is this mandatory behaviour for installing docker we are using snap or is just a standard procedure we are following for installing using snap, if possible can you provide link where i can take a look?

[2020-10-29 17:12] kbhawkey commented on #22788
While cleaning up content in PR #24772, I thought it may be interesting to add metadata in the
task page front matter. The metadata could tag a task with a list of related APIs (add more data as needed).
This may help categorize the tasks.
Later on, the metadata could be used to connect up other pieces of content on the page or other places in the site.

[2020-10-29 17:44] briandealwis opened #24782 "Clearly explain impacts of imagePullPolicy"
**This is a Feature Request**

[_Concepts > Containers > Images_](https://kubernetes.io/docs/concepts/containers/images/#updating-images) would seem to be the canonical location for an explanation of the various permutations of `imagePullPolicy`.  But it is very hard to understand.

I read it 3 times trying to understand the impact of an unspecified `imagePullPolicy` for an image without a tag.

*

[2020-10-29 21:18] #23055 closed

[2020-10-29 23:35] mrueg commented on #7386
@SergeyKanzhelev provided a doc here: https://github.com/kubernetes/website/pull/23929 I think this can be closed as well?

[2020-10-29 23:36] SergeyKanzhelev commented on #7386
Wonder if I have enough permissions

/close

[2020-10-29 23:37] #7386 closed

[2020-10-30 00:12] sftim commented on #24782
/language en
/triage accepted

Yep - it needs work!

[2020-10-30 00:15] sftim commented on #24782
I would migrate content from https://kubernetes.io/docs/concepts/configuration/overview/#container-images to https://kubernetes.io/docs/concepts/containers/images/#updating-images

This is because “configuration” is a very general topic - configuring nodes, configuring your cluster, configuring networks, configuring image pull policies, configuring TLS&mdash;I could go on.

In the tasks section it

[2020-10-30 02:00] #21226 closed

[2020-10-30 02:31] tengqm opened #24788 "[zh] Resync docs/setup/production-environment/container-runtimes.md"
With ##24785 merged, we are unable to track the changes to the `docs/setup/production-environment/container-runtimes.md` in the English version. So this page needs a resync manually.
/language zh

[2020-10-30 03:36] ydcool commented on #24788
@tengqm I'm gonna fixing this one if no other people working on this.
/assign

[2020-10-30 03:47] fancc opened #24789 "Translate Pod Overhead into Chinese"
Translate /docs/concepts/scheduling-eviction/pod-overhead.md into Chinese

[2020-10-30 03:48] fancc commented on #24789
/language zh
/assign

[2020-10-30 05:59] Cweiping commented on #22173
If there is no update recommended close, I test and find it works.
@sftim @CvR42
/Close

[2020-10-30 05:59] #22173 closed

[2020-10-30 07:59] tengqm commented on #24788
Thank you very much, @ydcool.

[2020-10-30 09:21] tengqm opened #24803 "[zh] docs/tasks/run-application/horizontal-pod-autoscale.md is out of sync."
I have accidentally approved #24799. This PR has updated the the timestamp on `docs/tasks/run-application/horizontal-pod-autoscale.md`, thus we will assume that page is up to date with English version. However, that is not true.
#24799 only fixed a link. It did not resync the whole page.

I'm filing this issue in case the ball is dropped.

[2020-10-30 09:25] tengqm commented on #24803
/triage accepted
/language zh

[2020-10-30 13:54] sftim commented on #24726
One option here: have the concept page _list_ the types of storage; move all or some of details for each volume type into new page(s) in the reference section.

[2020-10-30 14:08] kbhawkey commented on #24726
I suggest to read through the other pages in this section, especially,
`ephemeral-volumes.md` and `persistent-volumes.md`. There are links in these pages that
refer back to the volume types in `volumes.md`.

[2020-10-30 14:47] rpiteira opened #24814 "Container runtimes"
The command gives un error in ubuntu :
curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add --keyring /etc/apt/trusted.gpg.d/docker.gpg -

[2020-10-30 14:51] EHJ-52n opened #24815 "Multiple way to refer to Deployment resource confusing in Deployment concept page"
### This is a Feature Request

#### Context

I am following the minikube tutorial ([current section](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#creating-a-deployment)) and find two different ways to getting the roll-out status of an deployment:

`kubectl rollout status deployment/nginx-deployment`

vs.

`kubectl rollout status deployment.v1.apps/nginx-deployment`

I am u

[2020-10-30 15:59] kosehy opened #24821 "Translate reference/kubectl/jsonpath into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate reference/kubectl/jsonpath into Korean

**Why is this needed**
No translation reference/kubectl/jsonpath into Korean

**Comments**

Page to Update:
https://kubernetes.io/docs/reference/kubectl/jsonpath/

[2020-10-30 15:59] kosehy commented on #24821
/language ko
/assign

[2020-10-30 16:00] fancc opened #24822 "translate 'Controlling Access to the Kubernetes API' into Chinese"
translate 'Controlling Access to the Kubernetes API' into Chinese
/docs/concepts/security/controlling-access.md

[2020-10-30 16:01] fancc commented on #24822
/language zh
/assign

[2020-10-30 16:52] fool-wang opened #24824 "配置 Pod 使用 ConfigMap - 文档此处少了一个 '[' 导致显示不正确"
![image](https://user-images.githubusercontent.com/26134111/97733648-16749600-1b13-11eb-87e6-9fa065e263bf.png)

标题下方第一行 ‘如基于文件创建 ConfigMap](#create-configmaps-from-files) 中所述’

[2020-10-31 07:53] tengqm commented on #24822
Hi, the file was moved from `zh/docs/reference/access-authn-authz/controlling-access.md`, so you don't need to retranslate it.

[2020-10-31 13:12] #24721 closed

[2020-10-31 18:19] sftim commented on #22521
/remove-lifecycle stale

Relevant (a bit) to PR #24077

[2020-10-31 18:35] sftim commented on #24351
After adding periodic triggers, either of the following would trigger deploying https://kubernetes.io/
- a push to _master_
- a timer

[2020-10-31 18:36] sftim commented on #24351
That sounds like a different feature. Scheduled builds would reduce the window between a depended-on artifact changing and that being reflected on the live Kubernetes websites.

[2020-10-31 18:38] sftim commented on #24351
The job could run occasionally and report the results from running the current link checker. This seems lower priority because the link checker can be run locally and authors can update the content. There is no need to wait for a report or reminder of link problems.

Yes, it's not as valuable as the blog publishing or the automatic updating based on external sources.

[2020-10-31 18:41] sftim commented on #24351
https://k8s.dev/ is an example of a site that publishes blog articles automatically.
There are 3 steps.
1. Someone submits a PR that adds a blog article. The blog article is future-dated. The preview includes the blog article.
1. Someone else merges the PR. https://k8s.dev/ rebuilds. The live site does not yet include the blog article.
1. Eventually, the article due date passes. The next time that

[2020-10-31 18:42] sftim commented on #24351
Based on https://github.com/kubernetes/website/issues/24351#issuecomment-703034919
/triage accepts
/priority important-longterm

[2020-10-31 18:42] sftim commented on #24351
/triage accepted

[2020-10-31 18:43] sftim commented on #21718
/remove-lifecycle stale

[2020-10-31 20:20] stevek-pro opened #24828 "Issue with k8s.io/docs/setup/production-environment/container-runtimes/"
The **CRI-O** Block needs a second look.

e.g.

[code]

Or am I doing thing wrongly? Can someone reproduce this problem?

[2020-10-31 20:25] stevek-pro commented on #24828
Turns out one does need to clean up ones '/etc/apt/sources.list.d/devel\:kubic\:libcontainers\:stable' contents when automating this, otherwise apt takes old garbage in there if present instead of the correct content.

[2020-10-31 20:26] stevek-pro commented on #24828
Turns out one does need to clean up ones `/etc/apt/sources.list.d/devel:kubic:libcontainers:stable` contents when automating this, otherwise apt takes old garbage in there if present instead of the correct content.

[2020-10-31 20:26] #24828 closed

[2020-11-01 02:47] Cweiping commented on #22915
/remove-lifecycle stale

[2020-11-01 12:50] salva-gglez commented on #24105
Hello, I would like to start contributing and I was thinking about solving this issue but I would like to know why this issue still open if after replacing the Url with "http://info.cern.ch" sample works again. Is there anything pending?

Thanks

[2020-11-01 13:41] xwg1984 opened #24832 "Improvement for k8s.io/zh/docs/concepts/overview/components/"
翻译不好，希望改进

[2020-11-01 14:09] tengqm commented on #24832
pls be more specific on the issue or you can propose a change directly.

[2020-11-01 16:33] zhanw15 opened #24834 "[zh] README-zh.md has been outdate"
**This is Support**

README-zh.md has been outdate, need to be following with README.md.

[2020-11-01 16:41] zhanw15 commented on #24834
/language zh

[2020-11-01 18:02] sftim commented on #24105
This is fixed
/close

[2020-11-01 18:02] #24105 closed

[2020-11-01 20:35] sftim commented on #24815
I think that an appropriate improvement that's in line with your comment @EHJ-52n is to change https://kubernetes.io/docs/concepts/workloads/controllers/deployment/ to run `kubectl rollout status deployment/nginx-deployment` instead.

That sounds reasonable to do.
/language en
/kind cleanup
/triage accepted
/help

[2020-11-01 20:47] sftim commented on #21955
/remove-lifecycle rotten

If anyone wants to work on this, please feel free to go ahead.

[2020-11-01 22:35] #21457 closed

[2020-11-01 23:07] sftim commented on #24814
@rpiteira I think this is a duplicate of issue #24723
Would you have time to check that and confirm?

/language en

[2020-11-01 23:08] sftim commented on #24814
(if it's not a duplicate, please provide the error message and mention the version of Ubuntu that you were using when you saw that error)

[2020-11-01 23:19] sftim commented on #24723
/retitle Incorrect commands for adding PGP keys to APT configuration

[2020-11-01 23:20] sftim commented on #24723
/triage accepted
/remove-triage needs-information

[2020-11-02 00:16] #24560 closed

[2020-11-02 00:56] #24824 closed

[2020-11-02 01:52] #24788 closed

[2020-11-02 02:59] ydcool commented on #24832
/language zh
/triage needs-information

[2020-11-02 03:43] howieyuen commented on #24803
/assign

[2020-11-02 03:46] howieyuen commented on #24834
I know there exists some differences on purpose for Chinese language,  could you be more specified?

[2020-11-02 05:09] tengqm commented on #24834
@howieyuen I think this is about PR #24837. However, the proposed PR is not complete. The Chinese page has quite some contents to be sync'ed from English.

[2020-11-02 08:29] rpiteira commented on #24814
Hi @sftim , It's a duplicate, the problem is the same ;)

[2020-11-02 08:30] #24814 closed

[2020-11-02 09:44] rolandabt opened #24844 "Issue with k8s.io/docs/concepts/workloads/pods/pod-lifecycle/"
In https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-termination a new sub-phase Terminating (?) is mentioned without reference anywhere else in the article. Can we fix that?
One could incorrectly assume that terminating is equal to terminated. But from my understanding terminating is still considered Running. - Please correct me if I am wrong :-)

The article list five phases

[2020-11-02 13:54] pjhwa commented on #24821
/triage accepted

[2020-11-02 13:55] pjhwa commented on #24091
/close

[2020-11-02 13:55] #24091 closed

[2020-11-02 13:57] pjhwa commented on #24654
/close

[2020-11-02 13:57] pjhwa commented on #24656
/close

[2020-11-02 13:57] #24654 closed

[2020-11-02 13:58] #24656 closed

[2020-11-02 14:05] pjhwa commented on #24620
README-ko.md 파일에 대해서 업데이트한 PR을 올린 후에 해당 파일에 대한 권한을 요청하는 식으로 진행이 되는거겠죠?
일단 제가 업데이트 해보겠습니다.

/assign

[2020-11-02 14:16] howieyuen commented on #24834
thanks for reporting, I will take a look

[2020-11-02 14:20] soniasingla commented on #21955
@sftim, just want to double check, isn't this has been fixed [here](https://github.com/kubernetes/website/pull/22063)

[2020-11-02 14:45] sftim commented on #21955
Ah yes. Fixed already.
/close

[2020-11-02 14:45] #21955 closed

[2020-11-02 14:48] sftim commented on #24844
AIUI the “Terminating” text isn't a Pod phase in the API; instead, it's how the `kubectl` tool renders a Pod that has a `terminationGracePeriodSeconds` set.

Let's clarify the page at https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/ to clarify that
/language en
/triage accepted
/help

[2020-11-02 14:48] #24723 closed

[2020-11-02 14:55] soniasingla commented on #22594
/assign @soniasingla

[2020-11-02 15:32] kbhawkey opened #24850 "Fix heading level in network-policies concept page"
**This is a Bug Report**

Replace a level H1 heading with a level H2 heading in the file,
[code]

**Problem:**
The headings in the body of content pages should use heading levels H2-H4.
The page `docs/concepts/services-networking/network-policies.md` includes an H1 level
heading in the body of the page.

**Proposed Solution:**
Update the heading to H2 (add a second pound sign) and fix the capitali

[2020-11-02 15:32] kbhawkey commented on #24850
/help wanted

[2020-11-02 15:32] kbhawkey commented on #24850
/triage accepted

[2020-11-02 15:33] kbhawkey commented on #24850
/help

[2020-11-02 15:34] kbhawkey commented on #24850
/kind cleanup

[2020-11-02 15:35] kbhawkey commented on #24850
/good-first-issue

[2020-11-02 16:32] inductor commented on #23303
/close

[2020-11-02 16:32] #23303 closed

[2020-11-02 16:33] inductor commented on #23337
/close

[2020-11-02 16:33] inductor commented on #23369
/close

[2020-11-02 16:33] #23337 closed

[2020-11-02 16:34] #23369 closed

[2020-11-02 16:34] inductor commented on #23608
/close

[2020-11-02 16:34] inductor commented on #23617
/close

[2020-11-02 16:34] #23608 closed

[2020-11-02 16:34] #23617 closed

[2020-11-03 00:08] sftim commented on #24815
/retitle Multiple way to refer to Deployment resource confusing in Deployment concept page

[2020-11-03 02:26] #24612 closed

[2020-11-03 02:29] seokho-son opened #24859 "Korean Localization for dev-1.19-ko.5 branch"
## In English

**This is a Feature Request**

Korean Localization for `dev-1.19-ko.5` branch.

**What would you like to be added**

Any localization contributions for Korean.

**Comments**

- This issue is to notify the schedule of Korean localization to contributors.
- `dev-1.19-ko.5` is the current work branch for Korean localization.
- Korean PR Wrangler: @seokho-son

**Important dates**
- A Ko

[2020-11-03 02:33] seokho-son opened #24860 "Outdated files in the upstream/dev-1.19-ko.5 branch"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.19-ko.5 branch.

### 99 files to be modified
1. [x] content/en/case-studies/adform/index.html 1 file changed, 49 insertions(+), 81 deletions(-)
1. [x] content/en/case-studies/amadeus/index.html 1 file changed, 77 insertions(+), 98 deletions(-)
1. [x] content/en/case-studies/ancestry/index.html 1 file changed, 73 insertions(+),

[2020-11-03 02:37] seokho-son commented on #24860
/language ko
/help

[2020-11-03 07:28] smartbenson1 opened #24864 "Access Mode of Persistent Volume for AWS EFS"
Hello, I don't see the access mode details for AWS EFS. The Amazon EFS Container Storage Interface (CSI) driver now provides a CSI interface that allows Kubernetes clusters running on AWS to manage the lifecycle of Amazon EFS file systems. https://docs.aws.amazon.com/eks/latest/userguide/efs-csi.html

[2020-11-03 08:51] Arhell commented on #24850
/assign @Arhell

[2020-11-03 12:18] #22958 closed

[2020-11-03 15:03] inductor commented on #23893
/close

[2020-11-03 15:04] #23893 closed

[2020-11-03 15:06] inductor commented on #23248
/close

[2020-11-03 15:06] #23248 closed

[2020-11-03 15:35] ssen13 opened #24870 "Running Automated Tasks with a CronJob"
Hi,
Please help me to resolve 2 issues mainly with kubernetes
1.  getting error in cron job
Cannot determine if job needs to be started: too many missed start time (> 100). Set or decrease .spec.startingDeadlineSeconds or check clock skew...
 this issue happening to all the regions both non prod and prod
2. how to set up email alerts on this kind of issues

Please help me at earliest as i mentione

[2020-11-03 15:44] kakts commented on #23322
https://github.com/kubernetes/website/issues/23322#issuecomment-697116849
すいませんこちらの件確認遅れました。
issueにしますね

[2020-11-03 16:08] kakts commented on #23322
@yu-kasuya

すいません返信遅れました。
こちらの件ですが、既にmasterブランチに日本語訳とりこまれておりましたので、クローズします。
https://github.com/kubernetes/website/blob/0558f112375173b37b552ce09180fefd12fc079a/content/ja/docs/tutorials/stateless-application/guestbook-logs-metrics-with-elk.md

こちらの差分も反映されておりました

[2020-11-03 16:08] #23322 closed

[2020-11-03 16:12] inductor commented on #23456
/close

[2020-11-03 16:12] #23456 closed

[2020-11-03 17:08] ssen13 commented on #24870
can i get some updates please

[2020-11-03 19:16] daddy-joseph97 opened #24872 "Improvement for k8s.io/docs/reference/issues-security/security/"
Regarding the section [here](https://kubernetes.io/docs/reference/issues-security/security/#when-should-i-not-report-a-vulnerability).

[code]

if there are authoritative or highly recommended areas and methods to link to, that would be helpful. There is a lot of information out there, sometimes not helpful or misleading. An official direction to where to start would help. I see this as the equiva

[2020-11-03 19:21] kbhawkey opened #24873 "add code formatting to commands in expose-external-ip-address tutorial"
**This is a Bug Report**
There are some commands in the `expose-external-ip-address` tutorial that are missing
code formatting. This is a request to update those commands and remove any
extra lines in the page.

**Problem:**

The tutorial has commands that are not formatted as code. For example,

kubectl get deployments hello-world

Add code formatting:
`kubectl get deployments hello-world`

**Pro

[2020-11-03 19:22] kbhawkey commented on #24873
/good-first-issue

[2020-11-03 21:38] stefanlasiewski commented on #21800
This was resolved, but I don't know when.

The updated version of the page no longer mentions the concept of a single node:

[2020-11-03 21:38] #21800 closed

[2020-11-04 00:01] sakaia opened #24876 "[Question] `kubectl exec` in Intro to Windows support in Kubernetes"
In Compute Section, kubectl exec seems add in feature.

But following document writes `kubectl exec`. Which document reflects correct status?

[Guide for scheduling Windows containers in Kubernetes](https://kubernetes.io/docs/setup/production-environment/windows/user-guide-windows-containers/)

[2020-11-04 00:07] sakaia commented on #24876
Sorry for Inconvenience

[2020-11-04 00:07] #24876 closed

[2020-11-04 01:55] kosehy commented on #24860
/assign

[2020-11-04 02:23] tengqm commented on #24870
@ssen13 For support please try other channels such as StackOverflow, Kubernetes slack channel (for CronJob, I think the channel should be #sig-apps). We take issues about docs fixing or improvements.
/triage support

[2020-11-04 02:26] #19176 closed

[2020-11-04 02:26] inductor commented on #23595
/close

[2020-11-04 02:26] #23595 closed

[2020-11-04 08:01] sftim commented on #24873
/triage accepted
/language en

Thanks @kbhawkey - another good spot

[2020-11-04 08:02] sftim commented on #24870
@ssen13: GitHub is not the right place for support requests.

As you're looking for help, you could try [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

/triage support

[2020-11-04 08:02] sftim commented on #24870
/kind support

[2020-11-04 09:58] ssen13 commented on #24870
ok thanks

[2020-11-04 10:04] sftim commented on #24870
/close

[2020-11-04 10:04] #24870 closed

[2020-11-04 10:05] sftim commented on #24872
/sig security

[2020-11-04 10:06] sftim commented on #24872
@daddy-joseph97 can you explain in a bit more detail what's not right with https://k8s.io/docs/reference/issues-security/security/?

I'm afraid I couldn't work out what to fix.
/triage needs-information

[2020-11-04 12:09] julyclyde opened #24881 "为系统守护进程预留计算资源"
English:
reserved-cpus is meant to define an explicit CPU set for OS system daemons and kubernetes system daemons

Chinese:
reserved-cpus 旨在为操作系统守护程序和 kubernetes 系统守护程序定义一个显式 cpuset

Actually, it does not create a directory in /sys/fs/cgroup/cpuset/ to keep the reserved CPUs in it. What CPU Manager do is to avoid allocating them to Pods.
So, it should be translated as
reserved-cpus 旨在为操作系统守护程序和 ku

[2020-11-04 13:20] tengqm commented on #24881
/triage accepted
Would you like propose a patch?

[2020-11-04 13:51] lfrancke opened #24882 "Kubernetes core API concepts could be described more clearly and consistent"
We've been digging in to the K8S code and documentation to get clarification on the exact definition of these concepts:

* Group
* Version
* Namespace
* Kind
* Resource Type
* Resource
* (API) Object
* resourceVersion

There are a few documentation pages covering this:
* [1] https://kubernetes.io/docs/concepts/overview/working-with-objects/kubernetes-objects/#kubernetes-objects
* [2] https://kuber

[2020-11-04 17:16] gabrielaguiar94 opened #24888 ""no kind "Deployment" is registered for version "apps/v1" - Build by Jenkinsfile""
When i try to build a new image to Kubernetes, i got this error:  **unable to decode "K8sDeploy.yaml": no kind "Deployment" is registered for version "apps/v1"** , this error begin when i updated the Kubernetes version, here my version info:

Client Version: v1.19.2
Server Version: v1.16.13

I tried also to build by my localhost and does work, but by jenkins don't.

Somebody knows to solve this?

[2020-11-04 18:11] justaugustus commented on #22580
/remove-lifecycle stale

[2020-11-04 18:11] justaugustus commented on #20074
/remove-lifecycle stale

[2020-11-04 18:12] justaugustus commented on #21800
/remove-lifecycle stale

[2020-11-04 18:14] justaugustus commented on #17070
/remove-lifecycle rotten

[2020-11-04 18:26] #21636 closed

[2020-11-04 18:41] justaugustus commented on #17070
/unassign @celestehorgan
/assign @zacharysarah

[2020-11-04 18:43] justaugustus commented on #22580
Yep! xref: https://github.com/kubernetes/community/issues/5043

[2020-11-04 18:44] justaugustus commented on #20074
/sig architecture

[2020-11-04 18:44] justaugustus commented on #20074
cc: @kubernetes/sig-architecture-leads

[2020-11-04 21:15] kbhawkey commented on #22918
/remove-lifecycle stale

[2020-11-04 21:20] Arhell commented on #24850
@kbhawkey  able be closed

[2020-11-04 21:22] kbhawkey commented on #24850
👍
/close

[2020-11-04 21:22] #24850 closed

[2020-11-04 22:16] #24731 closed

[2020-11-05 00:12] zacharysarah commented on #17070
After review from WG Naming, this issue is actionable and ready for contributor help.

From a SIG Docs standpoint, this would also make a good first issue (albeit a large one).

/triage important-long-term
/good-first-issue
/help-wanted

[2020-11-05 00:12] zacharysarah commented on #17070
/priority important-longterm

[2020-11-05 01:09] seokho-son commented on #24860
content/en/case-studies/* 에는 한글화 되지 않고 영문으로 남아 있는 컨텐츠가 있습니다.
해당 컨텐츠는 한글화 컨트리뷰션이 있을때까지는 우선 원문(영문)과 씽크만 맞춰두면 좋을 것 같습니다.

[2020-11-05 02:16] pjhwa commented on #24860
굳이 복사하지 않고 파일을 삭제하면 어떨런지요?

[2020-11-05 02:17] pjhwa commented on #24860
@kosehy 컨트리뷰션 감사합니다!
양이 상당히 많습니다. 혹 나눠서 할 필요가 있다면 언제든 말씀하시어요~

[2020-11-05 02:32] ydcool commented on #24881
/language zh

[2020-11-05 03:20] julyclyde commented on #24881
Yes, I would create a PR later on.
--
Ren Xiaolei

On Wed, Nov 4, 2020 at 9:20 PM Qiming Teng <notifications@github.com> wrote:

[2020-11-05 04:34] MikeSpreitzer opened #24895 "Fix metric labels in k8s.io/docs/concepts/cluster-administration/flow-control/"
Keep the doc consistent with https://github.com/kubernetes/kubernetes/pull/96236

[2020-11-05 06:56] ydcool commented on #24733
Seems solved in #24734 , close now
/close

@gaoguangze111 you can comment `closed: #<issue_id>` in your PR next time so the issue it solved will closed automatically as soon as your PR was merged.

[2020-11-05 06:56] #24733 closed

[2020-11-05 08:21] sftim commented on #17070
/triage accepted

[2020-11-05 08:44] buhilk opened #24898 "Recommended Labels - app.kubernetes.io/version not working with semantic version 2.0.0"
Hi team,

We were trying to deploy a container with a version number similar to 1.1.0+1210202012345.0, but it failed because the "+" sign seems to be not allowed. However, it is a valid syntax in semantic versioning 2.0.0.

This document says there is semantic version compliance, but seems to be not working.
https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/

cheers
B

[2020-11-05 11:57] shuuji3 commented on #22892
I've created the PR to fix the above issue.

[2020-11-05 11:57] inductor commented on #23011
/close

[2020-11-05 11:57] #23011 closed

[2020-11-05 11:59] shuuji3 commented on #22892
FYI: "Create an Issue" and "Edit This Page" buttons had been moved to the right sidebar so we don't need to change the style for them.

[2020-11-05 12:33] gennway opened #24901 "Issue with k8s.io/docs/tasks/debug-application-cluster/events-stackdriver/"
**This is Support**

Hi, I followed the guide https://kubernetes.io/docs/tasks/debug-application-cluster/events-stackdriver/ and it seems like pod doesn't send events to stackdriver, and there are errors from container logs
"1 writer.go:94] Failed to send request to Stackdriver: googleapi: Error 403: The caller does not have permission, forbidden"
GKE's service account has enough permissions I gue

[2020-11-05 13:58] seokho-son commented on #24860
지금은 master 에 관련 변경사항이 있어서 차기 브랜치에서 처리(삭제?)를 해보면 어떨까 싶네요 ^^

[2020-11-05 14:45] #22988 closed

[2020-11-05 16:56] kbhawkey commented on #24901
Related to #24769

[2020-11-05 22:04] davidxia opened #24915 "k8s.io/docs/concepts/cluster-administration/system-metrics/ links to empty list of stable metrics"
The What's Next section [1] has a link for "See the list of stable Kubernetes metrics." But the link goes to a YAML file that's just an empty array. Is this intentional?

1: https://kubernetes.io/docs/concepts/cluster-administration/system-metrics/#what-s-next

[2020-11-05 22:29] pwalters04 commented on #24873
Is PR currently being worked on?

[2020-11-06 00:13] sakaia opened #24917 "[Question] helpers_windows.go after 1.18 Intro to Windows support in Kubernetes"
following document infers `helpers_windows.go`, but it is removed on 1.18. (link is broken)
For 1.18 or later, which code should we refer?

The existing fields based on millicores are scaled into relative shares that are followed by the Windows scheduler. see: kuberuntime/helpers_windows.go, see: resource controls in Microsoft docs

[V1.Container ](https://kubernetes.io/docs/setup/production-envir

[2020-11-06 00:47] seokho-son commented on #24620
@pjhwa README-ko.md 에 대한 권한 요청(?)이 필요할지는 모르겠습니다.. ^^ 자주 변경되는 사항은 아니기도 하고, 파일별 권한 부여에 대한 기술적인 이슈가 있기도 해서요 ^^ 그래도 *.toml 권한 관련 이슈도 있으니, 다음에 한꺼번에 이야기해보면 어떨까 싶네요 ^^
해당 이슈 해결(ko 업데이트)을 위한 PR에서 파일 권한에 대한 논의가 필요할지는 모르겠으나 ~~ @pjhwa 님이 필요하다고 생각하시면 추진하셔도 좋을 것 같습니다.. ^^

[2020-11-06 01:09] seokho-son commented on #23051
@jihoon-seo 혹시 해당 이슈에 대해서 작업 중이신가요? 아니라면, priority/backlog 레이블을 달면 좋을 것 같습니다.
다른 방법은 해당 이슈에 대해서 다른 컨트리뷰터의 help를 요청하는 방법이 있겠습니다.. ^^

[2020-11-06 01:11] jihoon-seo commented on #23051
@seokho-son
작업 중이 아닙니다.
해당 레이블을 달겠습니다.

/priority backlog

[2020-11-06 01:19] pjhwa commented on #24620
@seokho-son

아, 앞으로 계속 권한을 달라고 요청하는게 아니라 본 건의 이슈해결에 한해서 말씀드렸어요. ^^

[2020-11-06 01:19] seokho-son commented on #24859
Please note that the original schedule has been changed.

PR Freeze: 11/09 --> **11/16**
Branch Merge: 11/12 --> **11/19**

[2020-11-06 03:08] gaorong commented on #18675
I'm still looking for this functionality.
Any progress on this?

@rajibmitra

[2020-11-06 05:19] inductor commented on #23120
/close

[2020-11-06 05:19] #23120 closed

[2020-11-06 05:44] inductor commented on #23599
@yu-kasuya 遅くなりました。新しいブランチができました 🙇

[2020-11-06 05:44] inductor commented on #23602
@yu-kasuya 遅くなりました。新しいブランチができました 🙇

[2020-11-06 07:10] rajibmitra commented on #18675
Sorry for the delay, you can expect a working prototype by the end of this month or early next month. @gaorong

[2020-11-06 09:32] yu-kasuya commented on #23599
ありがとうございます！

[2020-11-06 12:24] bmaganti-netizen opened #24925 ""The connection to the server localhost:8080 was refused - did you specify the right host or port?" while trying to connect to kubernetes"
I am just using kubernetes at client end.
I have installed ubuntu and installed kubectl. I am unable to connect to cluster/perform any kubectl operations.

Well, I am able to connect to kubenetes cluster using windows powershell but not using ubuntu.
I do not understand why I am getting this error. I have tried all the possible suggestions on net.

Also,  when I tried checking  /home/{username}/.k

[2020-11-06 13:10] nagarjuna0524 opened #24926 "Nodes"
create issue

[2020-11-06 15:25] #21601 closed

[2020-11-06 17:45] girikuncoro opened #24931 "Fix old translated pages that contains "Anda" words with "kamu" which is more friendly and welcoming"
This issue is intended for contributor workshop as part of Cloud Native Day Indonesia on 7th Nov 2020. Please don't take it if you are not part of the workshop.

There are several old translated pages that contain the old glossary "Anda". Please claim the task to fix them by giving comments on this Github issue.

/language id

Tasks:
- [ ] docs/tasks/run-application/horizontal-pod-autoscale-walkth

[2020-11-06 17:51] girikuncoro opened #24932 "Fix old translated pages that contains "file" words with "berkas" which is according to KBBI"
This issue is intended for contributor workshop as part of Cloud Native Day Indonesia on 7th Nov 2020. Please don't take it if you are not part of the workshop.

There are several old translated pages that contain the english glossary "file", supposed to use Indonesian "berkas" as per KBBI. Please claim the task to fix them by giving comments on this Github issue.

/language id

Tasks to fix "file

[2020-11-06 18:53] irvifa commented on #24932
/triage accepted

[2020-11-06 18:57] irvifa commented on #24931
/triage accepted

[2020-11-06 22:18] psoares opened #24937 "kubelet documentation inconsistent with scheduling eviction documentation"
The Kubelet documentation at https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/ says the following about the `--node-labels` option:

On the other hand, the following https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#node-isolation-restriction says:

Which documentation is right?

[2020-11-06 22:50] ericis opened #24938 "Interactive Tutorial - Creating a Cluster"
## Steps to reproduce

Visited https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/

## Result

Unable to use tutorial.

## Error in browser console

## Notes

💥 [Kata Code](https://www.katacoda.com/) appears to be down with 502 and 503 errors.

[2020-11-06 22:59] ericis commented on #24938
The Kata Code site is back up! Closing...

[2020-11-06 22:59] #24938 closed

[2020-11-07 08:00] girikuncoro commented on #24932
/assign @girikuncoro

[2020-11-07 08:00] girikuncoro commented on #24931
/assign @girikuncoro

[2020-11-07 08:54] azemoning commented on #24932
I'm taking this page
docs/tasks/manage-kubernetes-objects/imperative-command.md

[2020-11-07 09:54] irvifa commented on #24932
/reopen

[2020-11-07 09:59] okutasan commented on #24932
i'm taking this page
docs/tasks/manage-kubernetes-objects/declarative-config.md

[2020-11-07 10:16] lanandra commented on #24932
may i change this file:
`docs/concepts/cluster-administration/logging.md`

[2020-11-07 10:21] girikuncoro commented on #24932
thanks @okutasan @lanandra feel free to raise the PR and link this issue

[2020-11-07 10:57] girikuncoro commented on #24932
/reopen

[2020-11-07 11:22] fadhilyori commented on #24932
I take this page :
docs/concepts/configuration/secret.md

[2020-11-07 11:34] ak89224 opened #24946 "Dynamic Admission Control || kube-apiserver not coming up after adding --admission-control-config-file flag"
[code]
My admission webhooks require authentication so I'm restarting the apiserver by specifying the location of the admission control configuration file via the --admission-control-config-file flag. Doing as --

[code]

[code]
  kubeConfigFile: /var/lib/kubernetes/kube-config.yaml is the file I copied from ~/.kube/config

Now my kube-apiserver is not coming up .

Please help !

Thanks in Advance

[2020-11-07 13:39] zhiguo-lu opened #24948 "[zh] translate docs/reference/using-api/server-side-apply/"
Translate "Server-Side Apply" into chinese.
/language zh

[2020-11-07 13:40] zhiguo-lu commented on #24948
/assign

[2020-11-08 05:13] tengqm commented on #24926
/close

[2020-11-08 05:14] #24926 closed

[2020-11-08 17:16] kreempuff commented on #22298
/remove-lifecycle stale

[2020-11-08 18:36] jayunit100 opened #24950 "kube proxy userspace docs"
**This is a Bug Report**

**Problem:**

In general the userspace proxy isnt used much , we should note that in the docs

The userspace for kube proxy has a couple of use cases worth mentioning:

- if people want to make their own proxy with custom behaviour (antrea, cilliim, calico?) , they can borrow from it, or look at a minimal reference implementation of a kube proxy
- The kube proxy is only c

[2020-11-08 18:36] jayunit100 commented on #24950
@distributethe6ix

[2020-11-09 01:21] sakaia opened #24952 "Calico does not exist on Network modes section in Intro to Windows support in Kubernetes"
Calico is not listed on network modes.
Is there any reason?

- [(k8s)network modes](https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/#network-modes)
- [Calico for Windows](https://docs.projectcalico.org/getting-started/windows-calico/)
- [Calico for Windows goes open source September 22, 2020](https://cloudblogs.microsoft.com/opensource/2020/09/22/calico-

[2020-11-09 01:40] howieyuen commented on #24873
it seems already formatted, right?

[2020-11-09 01:48] howieyuen commented on #24822
/close

[2020-11-09 01:48] #24822 closed

[2020-11-09 02:40] lanandra commented on #24932
please let me change another part. I will try to change this file

`docs/concepts/workloads/pods/pod.md`

`112:* sistem pengelolaan konten, pemuat file dan data, manajer _cache_ lokal, dll.`

[2020-11-09 02:59] dhandma opened #24953 "How to setup dynamic service allocation in k8s"
Hi team,
I have a sitiation where , I am deploying war files on tomcat using k8s and exposing deployment as node port. All things are automated using cicd so that when new use comes with war file , he is getting tomcat based applciation ready but every time  node port is changing . I need an help so that when user is coming with some war file, I should ask him what is the service name he wants (eg

[2020-11-09 03:59] tengqm commented on #24937
/triage accepted
/triage bug
/sig node

[2020-11-09 03:59] tengqm commented on #24937
/kind bug

[2020-11-09 05:10] Evalle commented on #24873
@kbhawkey @sftim  I don't see any issues with the page as well, and it looks like it was last modified July 27, 2020 at 4:18. Are we missing something?

[2020-11-09 12:33] #21637 closed

[2020-11-09 13:04] kbhawkey commented on #24873
Let me look. I'd like a first time contributor to work on this issue.

[2020-11-09 13:16] kbhawkey commented on #24873
The page renders correctly, however, it would be helpful to clean up the formatting of the page
such as extra lines and spaces. Also, the page should use code blocks around any commands (instead of indentation).
Let me know if you need more information. Thanks!

[2020-11-09 14:02] annajung opened #24960 "Automatically apply a label and a milestone to future release branches"
**This is a Feature Request**

**What would you like to be added**

As SIG release docs team, a few of our responsibilities include manually applying a milestone to every PR created against the future release branch and putting `hold` label in all PRs until `k/k` PR(s) corresponding with the docs PR are merged in.

I like to automate the two processes so that every PR created against the future re

[2020-11-09 14:05] annajung commented on #24960
- Original PR https://github.com/kubernetes/website/pull/24784 led to separating a PR for milestone and hold.
- New PR for just applying the hold label was created https://github.com/kubernetes/website/pull/24835
- New suggestion on using prow led to closing out previous PR and opening a PR against `k/test-infra` https://github.com/kubernetes/test-infra/pull/19877 and `k/sig-release` https://githu

[2020-11-09 14:11] annajung commented on #24960
Topics to discuss:
- Applying `hold` label automatically against the future release branch
    - https://github.com/kubernetes/website/pull/24784#issuecomment-719566601
- Change to `k/website` label strategy (prefix with `v`) to match other Kubernetes repos
    - https://github.com/kubernetes/test-infra/pull/19877#issuecomment-723462034

[2020-11-09 14:16] irvifa commented on #24960
/triage accepted

[2020-11-09 14:54] annajung commented on #24960
/sig release
/area release-team
/assign

[2020-11-09 15:14] shekhar-rajak commented on #23642
Isn't this can be closed ?

[2020-11-09 15:19] frbimo commented on #24873
i'm a first timer in kubernetes. But i saw nothing wrong in formatting code nor indentation. Only i think there is missing some instruction in creating `Hello World` apps.
Should be better to follow https://kubernetes.io/docs/tutorials/stateless-application/guestbook. Just my 2cent.

@kbhawkey wdyt?

[2020-11-09 16:00] mltsy commented on #22391
/remove-lifecycle stale

The confusing documentation still exists.

[2020-11-09 18:54] justaugustus commented on #21621
/assign @celestehorgan

[2020-11-09 19:01] justaugustus commented on #21749
Celeste to get more info:
/assign @celestehorgan

[2020-11-09 20:34] #24895 closed

[2020-11-09 21:03] sftim commented on #24657
Without more information it's difficult to accept this as a defect.
/close

@dirtyearl please feel free to reopen and reply with details.

[2020-11-09 21:03] #24657 closed

[2020-11-09 21:04] sftim commented on #24750
Hi @sdwerwed I think what you're saying is that in your cluster this didn't work if the Kubernetes namespace you deploy it into is named `mysql`, but does work if you use a different (non-reserved) namespace name.

Have I got that right?

[2020-11-09 21:14] sdwerwed commented on #24750
Hello, yes you got it 👍

[2020-11-09 21:28] sftim commented on #24750
Let's document that this example assumes you're using the _default_ namespace or another namespace that doesn't contain any conflicting objects.

[2020-11-09 22:09] sftim commented on #24750
/retitle Improve prerequisites for “Run a Replicated Stateful Application”
/triage accepted
/language en

[2020-11-09 22:28] sftim commented on #14639
/remove-lifecycle rotten

[2020-11-10 01:34] tengqm commented on #23642
/close

[2020-11-10 01:34] #23642 closed

[2020-11-10 02:11] howieyuen opened #24966 "[zh] translate content/en/docs/concepts/security/controlling-access.md"
/language zh

[2020-11-10 02:11] howieyuen commented on #24966
/assign

[2020-11-10 02:12] howieyuen commented on #24966
/triage accepted

[2020-11-10 02:30] onlydole commented on #22489
/remove-lifecycle stale

[2020-11-10 04:40] tonyjchong opened #24967 "Following Pod Security Policies documentation still allows me to create a pod"
I am following the PSP documentation but I am still able to create pods. I am expecting a rejection.

I'm starting minikube like this
`minikube start --extra-config=apiserver.enable-admission-plugins=PodSecurityPolicy --addons=pod-security-policy`

[code]

psp.yml
[code]

[code]

test-deploy.yml
[code]
[code]
[code]
I am expecting the pod to NOT be created. I have played with different RBAC settin

[2020-11-10 05:29] tonyjchong commented on #24967
It turns out, it actually doesn't run the pod, but the expected output in the docs is wrong.

[code]

[2020-11-10 07:58] mapdegree opened #24969 "Improvement for k8s.io/docs/concepts/overview/working-with-objects/common-labels/"
I would appreciate, if you could set an example in the Kubernetes.io documentation on how to label specific **processor unit types** of K8S worker nodes.

We have seen a lot of `nvidia` tags in examples on the Internet for describing K8S nodes which are vendor specific, so we want to avoid that.

For example, we have `kubernetes.io/os: windows` for the operating system and `kubernetes.io/arch: amd

[2020-11-10 10:00] fabriziopandini commented on #20953
/remove-lifecycle stale

[2020-11-10 10:01] fabriziopandini commented on #20952
/remove-lifecycle stale

[2020-11-10 10:54] truongnh1992 commented on #23281
Thank @sftim I've just created a PR #24970 to fix this issue.

[2020-11-10 10:55] girikuncoro commented on #24932
@lanandra sure just mention this issue number when you raise the pull request

/reopen

[2020-11-10 11:55] #21180 closed

[2020-11-10 14:39] Aschay commented on #24080
you should check your k8s version

- for Kubernetes v1.19  => apiVersion: networking.k8s.io/v1
- for kubernetes v1.18 => apiVersion: networking.k8s.io/v1beta1

[2020-11-10 15:00] yaowenqiang opened #24971 "useless �"
there is an  useless "�" character on https://kubernetes.io/zh/docs/reference/kubectl/conventions/

[2020-11-10 16:25] Arhell commented on #24971
/assign @Arhell

[2020-11-10 17:05] sftim opened #24973 "Wrong branch name in “Choose which branch to use”"
**This is a Bug Report**

**Problem:**
https://kubernetes.io/docs/contribute/new-content/overview/#choose-which-git-branch-to-use lists the wrong branch for new features. It should say eg `dev-1.20` but it actually says `dev-release-1.20`.

**Proposed Solution:**
Fix that page to use the right `skew` shortcode.

**Page to Update:**
https://kubernetes.io/docs/contribute/new-content/overview/

**Add

[2020-11-10 19:10] Arhell commented on #24973
/assign @Arhell

[2020-11-10 19:34] annajung opened #24979 "dev-1.20 integration branch build failure"
Official 1.20 Release Docs PR https://github.com/kubernetes/website/pull/24138 builds are failing after merging one of the PR for 1.20 release https://github.com/kubernetes/website/pull/24138/commits/91d02f301afefcf0a1c4ab79df879db475d6b7a7

Netlify was able to deploy successfully, but failing on other validations.

Current status:
- Header rules: failed
- Mixed content: failed
- Pages changed: fa

[2020-11-10 20:44] annajung commented on #24979
/triage accepted
/assign @jimangel

Possibly clearing the cache did the trick! This issue has been resolved.
/close

[2020-11-10 20:44] #24979 closed

[2020-11-10 22:14] pjhwa opened #24980 "Translate tutorials/configuration/configure-java-microservice/configure-java-microservice/ into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tutorials/configuration/configure-java-microservice/configure-java-microservice/ into Korean.

**Why is this needed**

There is no document of tutorials/configuration/configure-java-microservice/configure-java-microservice/ which is translated into Korean.

**Comments**

Page to translate: https://kubernetes.io/docs/tuto

[2020-11-10 22:14] pjhwa commented on #24980
/assign

[2020-11-11 00:40] #24971 closed

[2020-11-11 00:43] jm1223kim opened #24982 "Translate reference/using-api/health-checks in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate reference/using-api/health-checks in Korean

**Why is this needed**

No translation with reference/using-api/health-checks

**Comments**

https://kubernetes.io/docs/reference/using-api/health-checks/

[2020-11-11 00:44] pjhwa opened #24983 "Translate tutorials/configuration/configure-java-microservice/configure-java-microservice-interactive/ into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate tutorials/configuration/configure-java-microservice/configure-java-microservice-interactive/ into Korean.

**Why is this needed**

There is no document of tutorials/configuration/configure-java-microservice/configure-java-microservice-interactive/ which is translated into Korean.

**Comments**

Page to translate: https:/

[2020-11-11 00:44] pjhwa commented on #24983
/assign

[2020-11-11 00:44] jm1223kim commented on #24982
/language ko,
/assign

[2020-11-11 00:51] jm1223kim commented on #24982
/language ko

[2020-11-11 00:52] jm1223kim commented on #24982
/assign

[2020-11-11 00:54] jm1223kim commented on #24982
/triage accepted

[2020-11-11 01:08] #21721 closed

[2020-11-11 02:02] Cweiping commented on #24844
According to the definition of pod, terminating is not a stage in the pod life cycle.
I will add a note to it.

Reference: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/core/v1/types.go#L2497
/assign

[2020-11-11 02:08] mylovepooh opened #24985 "Translate setup/release/version-skew-policy into Korean"
**This is a Feature Request**

**What would you like to be added**

Translate setup/release/version-skew-policy into Korean

**Why is this needed**
No translation setup/release/version-skew-policy into Korean

**Comments**

Page to Update:
https://kubernetes.io/docs/setup/release/version-skew-policy/

[2020-11-11 02:09] mylovepooh commented on #24985
/language ko
/assign

[2020-11-11 03:10] #21079 closed

[2020-11-11 03:17] yu-kasuya commented on #23599
@kakts @inductor dev-1.18-ja.2で差分は修正されていました。問題なければクローズお願いします。

[2020-11-11 03:19] yu-kasuya commented on #23602
@kakts @inductor こちらもdev-1.18-ja.2で差分は修正されていました。問題なければクローズお願いします。

[2020-11-11 04:11] #20866 closed

[2020-11-11 04:11] #20897 closed

[2020-11-11 04:11] #20925 closed

[2020-11-11 04:11] #20967 closed

[2020-11-11 04:53] prmis opened #24987 "Improvement for k8s.io/docs/concepts/services-networking/network-policies/"
Why do support FQDN/DNS base egress rule support by Network policy? This is a critical feature in terms of dynamic ACL management for external traffic.

[2020-11-11 05:12] #20853 closed

[2020-11-11 05:34] tengqm commented on #24987
/sig network

Is this a documentation issue?

[2020-11-11 06:13] #20617 closed

[2020-11-11 07:10] inductor commented on #23599
/close

[2020-11-11 07:10] inductor commented on #23602
/close

[2020-11-11 07:10] #23599 closed

[2020-11-11 07:10] inductor commented on #23602
確認ありがとうございます！

[2020-11-11 07:10] #23602 closed

[2020-11-11 07:10] inductor commented on #23599
確認ありがとうございます！

[2020-11-11 07:14] #20498 closed

[2020-11-11 07:14] #20601 closed

[2020-11-11 08:15] #20312 closed

[2020-11-11 09:16] #19936 closed

[2020-11-11 09:16] #20067 closed

[2020-11-11 09:16] #20071 closed

[2020-11-11 09:16] #20088 closed

[2020-11-11 09:16] #20149 closed

[2020-11-11 12:19] #20283 closed

[2020-11-11 12:19] #21738 closed

[2020-11-11 13:20] #20730 closed

[2020-11-11 13:20] #20749 closed

[2020-11-11 13:29] sftim commented on #24973
/language en
/help
/kind bug

[2020-11-11 14:21] #20711 closed

[2020-11-11 14:21] #20725 closed

[2020-11-11 14:21] #20125 closed

[2020-11-11 14:21] #20191 closed

[2020-11-11 14:21] #20456 closed

[2020-11-11 15:22] #17698 closed

[2020-11-11 16:23] #19629 closed

[2020-11-11 16:23] #19680 closed

[2020-11-11 16:30] zhangleijie opened #24989 "Issue with k8s.io/zh/docs/tasks/administer-cluster/manage-resources/quota-pod-namespace/"
https://kubernetes.io/zh/docs/tasks/administer-cluster/manage-resources/quota-pod-namespace/

创建命名空间时 已经配置pod的数量限制
  hard:
    pods: "2"

apiVersion: apps/v1
kind: Deployment
metadata:
  name: pod-quota-demo
spec:
  selector:
    matchLabels:
      purpose: quota-demo
  replicas: 3
  template:
    metadata:
      labels:
        purpose: quota-demo
    spec:
      containers:
      - name: pod-quo

[2020-11-11 20:31] annajung commented on #24960
Update:
Looks like the milestone applier that we configured for the `dev-1.20` branch recently isn’t working. For example, https://github.com/kubernetes/website/pull/24990 was just opened against `dev-1.20` branch but the milestone wasn’t applied automatically. I just wanted to share that to let the team know I am aware and am putting it on my todo list to take a look.

[2020-11-11 21:33] #24967 closed

[2020-11-11 23:26] sftim commented on #24987
@prmis if you wanted to request an improvement to the NetworkPolicy feature, take a look at https://github.com/kubernetes/kubernetes/issues/new/choose (and also https://www.kubernetes.dev/docs/guide/first-contribution/#file-an-issue)

[2020-11-11 23:30] sftim commented on #24969
Hi @mapdegree

There is no Kubernetes convention for the labelling you have in mind.
Perhaps you'd like to suggest adding convention? This would be best made as a feature request to [Kubernetes](https://github.com/kubernetes/kubernetes/issues/new/choose).

Remember, it's also OK if a bunch of vendors agree on a different label key, eg `vendorforum.example/processor-unit-type`.

[2020-11-11 23:30] sftim commented on #24969
Once there is a convention, either _de jure_ or _de facto_, we can document it.

[2020-11-12 02:51] tengqm commented on #23133
Done.

[2020-11-12 06:37] #21763 closed

[2020-11-12 08:58] sftim commented on #24953
Does https://kubernetes.io/docs/concepts/services-networking/ingress/ help you find the documentation you wanted, @dhandma ?

As you read that and if you still have questions, please note those down and share them.
/triage needs-information

[2020-11-12 09:00] sftim commented on #24950
https://kubernetes.io/docs/reference/command-line-tools-reference/kube-proxy/ is pretty much generated documentation and I'm fine with that.

IMO it'd be good to _hyperlink_ from there to https://kubernetes.io/docs/concepts/cluster-administration/proxies/
(which might actually belong in the Services & Networking grouping anyway).

@jayunit100 how does that sound?

[2020-11-12 12:38] jayunit100 commented on #24950
Yeah I guess the issue is that there's very little docs about kube-proxy on the hyperlinked page, only like 4 lines :). So need to flesh that out

[2020-11-12 14:16] #24803 closed

[2020-11-12 14:44] kbhawkey commented on #23889
Hi @tengqm . I need to read through the changes.

Can you elaborate on this comment:

[code]
How does an administrator use the content? Does the content help determine the flags to call on a component or help write client code?

[2020-11-12 14:44] sftim commented on #24952
Hi @sakaia

Can you confirm the page you're discussing and which section you're focusing this issue report on?
If what's documented there won't work without 3rd party software (such as Calico), we can track a defect to document what you need to make things work.

/triage needs-information

[2020-11-12 14:45] sftim commented on #24915
I'm not sure where the canonical list of metrics might be, but there are more than zero of them.

/kind bug
/triage accepted
/sig instrumentation

[2020-11-12 16:02] bells17 commented on #24550
/triage accepted

[2020-11-12 16:30] truongnh1992 commented on #23281
The PR #24970 has been merged, so I close this issuse.

[2020-11-12 16:30] #23281 closed

[2020-11-12 17:48] sftim commented on #19629
So this is a feature request to allow zooming into diagrams (not relying on browser UI).

/area web-development
/remove-lifecycle rotten
/kind feature
/priority backlog

[2020-11-12 17:49] sftim commented on #19629
@joefradley feel free to reopen this if you're still keen to get the improvement made

[2020-11-13 01:55] tengqm commented on #23889
@kbhawkey See this section: https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config-file/#create-the-config-file

When we are trying to tell admins how to create/customize kubelet config file, we are forcing them to read Go code. The configuration file is nothing more than a JSON data. See the need for this kind of reference?

[2020-11-13 05:59] #21715 closed

[2020-11-13 07:38] sftim opened #25014 "Document feature gate CSIServiceAccountToken"
**This is a Bug Report**

**Problem:**
The v1.20 documentation mentions a feature gate named CSIServiceAccountToken but there is no documentation for this feature gate or for the behavior that it provides.

**Proposed Solution:**
Document the feature

**Kubernetes Version:**
v1.20

**Additional Information:**
/kind bug
Relevant to https://github.com/kubernetes/website/pull/24754#pullrequestreview-

[2020-11-13 07:46] sftim commented on #25014
/sig storage

[2020-11-13 09:24] sftim commented on #23889
This still feels like a really useful improvement.

[2020-11-13 09:28] Kartik494 commented on #22997
@sftim while performing the task as mention https://kubernetes.io/blog/2018/07/12/resizing-persistent-volumes-using-kubernetes/
i am not able to expand volume,i think we need dynamic provisioning storage class ? otherwise the paraemeter in storage class yaml `allowVolumeExpansion: true` not worked for me.

[2020-11-13 09:39] sftim commented on #22997
/remove-lifecycle stale

[2020-11-13 10:31] soniasingla commented on #22594
@sftim seems this bug has been already fixed (: We can close this issue.

[2020-11-13 10:37] sftim commented on #22594
/close

[2020-11-13 10:37] #22594 closed

[2020-11-13 11:05] girikuncoro opened #25025 "Tracking Indonesian Translation Progress (M5)"
This is tracking issue of our progress from Q4 2020 onwards. In the beginning of this milestone, as per our [metrics](https://app.circleci.com/pipelines/github/jk8s/sig-docs-id/33/workflows/e59d9d32-55b7-49f7-86ad-c818ea562c5f/jobs/61), we have translated 220 pages from 84 contributors (the script from main repo shows 260+ pages), with around 8,000 views per month. In this milestone, we take step

[2020-11-13 11:06] girikuncoro commented on #22296
We are moving to new milestone (M5) in #25025 and closing this one. Thanks everyone for your awesome contribution! 🎉

/close

[2020-11-13 11:06] #22296 closed

[2020-11-13 12:38] frbimo commented on #25025
[quality-service-pod](https://kubernetes.io/docs/tasks/configure-pod-container/quality-service-pod/) has no id translation. is it available for pickup?

[2020-11-13 13:59] kbhawkey commented on #23889
Hi, @alculquicondor
What do you think about the generated scheduler reference documentation,
https://tengqm.github.io/doc/kube-scheduler-config.v1.html
https://tengqm.github.io/doc/kube-scheduler-config.v1beta1.html

Are these issues related:
https://github.com/kubernetes/kubernetes/issues/88919,
https://github.com/kubernetes/kubernetes/issues/95446?

[2020-11-13 14:30] #24821 closed

[2020-11-13 14:40] kbhawkey commented on #23889
Hi @tengqm . I think this information is useful ❇️ . Some questions:
* Does the information represent APIs or configuration interfaces? If the information is not an API, I would
not call it an API.
* I'd like to see the pages generate as docs pages (front matter, common left nav, header, footer, ...) or generate as headless pages to be included in another page. Since the docs are generated from co

[2020-11-13 15:06] neolit123 commented on #23889
hi, i do agree we should publish the missing APIs (which we also call component config API, btw).

on here i'm asking a few questions to @tengqm.
https://github.com/kubernetes/kubernetes/pull/96215#issuecomment-726809388

my primary questions are around process, since i did not understand why are we using godoc to generate the swagger docs and the technical limitations around that. godocs are targ

[2020-11-13 15:07] alculquicondor commented on #23889
kubernetes/kubernetes#88919 would indeed be kube-scheduler part of this. This API is for configuring kube-scheduler at startup. It is read from a file. We also discussed some more here: kubernetes-sigs/reference-docs#138

That seems directly obtained from the code, which is what we want. We just never got a contributor to work on the integration of generation scripts to the website.

[2020-11-13 16:36] zhangleijie commented on #24989
submit error , sorry

[2020-11-13 16:36] #24989 closed

[2020-11-13 17:34] sftim commented on #24969
/priority awaiting-more-evidence
/language en

[2020-11-13 18:39] kbhawkey commented on #24973
See related PR #24994 .
Close this issue?

[2020-11-13 22:14] kbhawkey commented on #19238
Hi. I started to dig into the netlify deploy contexts for the branches.
Is the `kubernetes-io-vnext-staging` branch using the `deploy-preview` or `production` context?
Which build command is used for this branch, `make deploy-preview`?
The Build&Deploy variable "Deploy log visibility" is public, however, the Deploy Summary for this branch
lacks the netlify page metadata. I see that the information

[2020-11-13 23:51] annajung commented on #25014
PR created https://github.com/kubernetes/website/pull/25028

[2020-11-14 02:29] zhiguo-lu opened #25030 "[zh] translate setup/production-environment/turnkey-solutions.md into Chinese"
translate setup/production-environment/turnkey-solutions.md into Chinese

[2020-11-14 02:30] zhiguo-lu commented on #25030
/assign
/language zh

[2020-11-14 02:51] girikuncoro commented on #25025
@frbimo yes feel free to pick it up! When you raise PR, mention this issue, I'll list the pages on description, thanks for your contribution!

[2020-11-14 06:05] symbiont-ji opened #25035 "Can data: in opaque secrets be a map?"
The documentation in https://kubernetes.io/docs/concepts/configuration/secret/ does not mention any restrictions on what kind of structure the `data:` field can have. All examples just show that it is a simple map. If it cannot be a map of maps of lists, etc., please either document it, or give an example of how it can be done. If I try `kubectl edit secret quux` and put this as my `data`:

[code]

[2020-11-14 15:35] zhiguo-lu opened #25037 "[zh] translate glossary/object.md into Chinese"
translate glossary/object.md into Chinese

[2020-11-14 15:36] zhiguo-lu commented on #25037
/assign
/language zh

[2020-11-14 16:49] tcarland opened #25040 "Document how to validate kubectl binary against checksum / signature"
There are no details or instructions on how to validate the binary downloaded from this page via some form of checksum, sha256 or otherwise. For automation purposes, eg. ansible playbook, being able to validate any binary downloads is a requirement of project stakeholders.

[2020-11-14 16:50] yxorp opened #25041 "Pod Lifecycle"
The first paragraph under [Container Restart Policy](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#restart-policy) has a missing space at the end of it—"forthat" should be "for that".

[2020-11-14 16:51] tcarland commented on #25040
the file is there as kubectl.sha256 afterall

[2020-11-14 19:36] annajung commented on #25014
/triage accepted

[2020-11-14 21:44] 532910 commented on #22020
/remove-lifecycle rotten

[2020-11-14 21:46] 532910 commented on #22021
/remove-lifecycle rotten

[2020-11-14 21:57] geoffcline opened #25043 "add new docs contributor videos"
**This is a Feature Request**

**What would you like to be added**
A learning path for new docs contributors. Topics include: getting started with git, how the k8s community uses github, signing the CNCF agreement.

The learning path would include existing external content where appropriate (github training), but further includes custom videos for project specific knowledge.

The learning path may

[2020-11-14 21:58] geoffcline commented on #25043
related to

adding git tutorial content to k8s website https://github.com/kubernetes/website/issues/20485

concept of a skill tree https://github.com/kubernetes/website/issues/18887

[2020-11-14 21:58] geoffcline commented on #25043
/assign

[2020-11-14 22:01] geoffcline commented on #17070
I'm working on a draft addition to the kubernetes style guide that encourages reviewing drafts for inclusive language before submitting a PR, and includes instructions on running alexjs.

[2020-11-15 11:14] zhiguo-lu opened #25046 "[zh] Translate tutorials/configuration/configure-java-microservice/ into Chinese"
Translate tutorials/configuration/configure-java-microservice/ into Chinese

/language zh
/assign

[2020-11-15 16:09] inductor commented on #24550
/close

[2020-11-15 16:10] #24550 closed

[2020-11-15 18:37] kosehy commented on #24860
https://github.com/kosehy/website/commit/c243006e763606cd39db178eac2c072127ebe6f0

총 64개의 파일을 수정 및 번역했고 9개의 파일은 번역하지 못했습니다.
지금까지 수정한 사항을 PR 해야하는지 궁금합니다.

64 files modified / 9 files to be modified

- [x]  content/en/docs/concepts/architecture/controller.md 1 file changed, 10 insertions(+)
- [x]  content/en/docs/concepts/cluster-administration/_index.md 1 file changed, 1 insertion(+), 1 deletion(-)

[2020-11-16 01:01] #24966 closed

[2020-11-16 01:13] #25030 closed

[2020-11-16 02:45] translucens opened #25052 "Translate concepts/configuration/pod-priority-preemption/ into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate [concepts/configuration/pod-priority-preemption/](https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/) into Japanese

**Why is this needed**

This page has not been translated.

**Comments**

/language ja
/assign

[2020-11-16 03:54] hejun126 opened #25054 "对 kubeadm 进行故障排查"
kubeadm init --kubernetes-version=1.19.1 --apiserver-advertise-address=192.168.15.231 --image-repository registry.aliyuncs.com/google_containers --service-cidr=10.1.0.0/16 --pod-network-cidr=10.244.0.0/16
[ERROR Port-10250]: Port 10250 is in use
use kubeadm reset;
it is not used;

[2020-11-16 03:55] hejun126 opened #25055 "对 kubeadm 进行故障排查"
kubeadm init --kubernetes-version=1.19.1 --apiserver-advertise-address=192.168.15.231 --image-repository registry.aliyuncs.com/google_containers --service-cidr=10.1.0.0/16 --pod-network-cidr=10.244.0.0/16
result is:
[ERROR Port-10250]: Port 10250 is in use
use kubeadm reset command
it is not working

[2020-11-16 05:03] savi0r commented on #24080
the problem still remained to this date
I suppose this must be the link which he talked about :
https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/#create-an-ingress-resource
when you try to keep up with the instructions required it throws this error :
error: unable to recognize "https://k8s.io/examples/service/networking/example-ingress.yaml": no matches for kind "Ingres

[2020-11-16 05:39] seokho-son commented on #24982
/triage accepted

[2020-11-16 05:39] seokho-son commented on #24980
/triage accepted

[2020-11-16 05:39] seokho-son commented on #24983
/triage accepted

[2020-11-16 05:40] seokho-son commented on #24985
/triage accepted

[2020-11-16 06:41] #25037 closed

[2020-11-16 06:43] #25046 closed

[2020-11-16 07:06] sakaia commented on #24952
Thank you for your comments.

I understand the document description area.

[2020-11-16 07:06] #24952 closed

[2020-11-16 07:17] yuandongx opened #25060 "[zh] typo : 云控制器管理器的基础概念"
https://github.com/kubernetes/website/blame/master/content/zh/docs/concepts/architecture/cloud-controller.md#L22
![image](https://user-images.githubusercontent.com/35824522/99223061-be31d980-281e-11eb-8aa4-d243615d9f37.png)

[2020-11-16 07:23] yuandongx commented on #25060
/language zh

[2020-11-16 07:42] HBDUDE opened #25061 "Interactive Tutorial - Creating a Cluster"
Needs a dark mode for enhanced accessibility.

[2020-11-16 08:19] tengqm commented on #25060
/triage accepted

Mind propose a PR?

[2020-11-16 08:37] sftim commented on #24080
For a v1.17 version of that document, try https://v1-17.docs.kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/#create-an-ingress-resource
/remove-triage needs-information
/label needs-triage

[2020-11-16 11:23] antaloala opened #25064 "Extend the Kubernetes API with CustomResourceDefinitions"
In the "[Field Pruning](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#field-pruning )" section there is a text box referring to the conversion from CRDs defined with apiVersion: apiextensions.k8s.io/v1beta1 to apiVersion: apiextensions.k8s.io/v1.
It says (second and final paragraph in that text box):

_For migrated CustomResourceDefinitions where

[2020-11-16 12:35] MasterLover opened #25065 "Kubernetes 组件"
zh docs the picture display error
`![Components of Kubernetes](/images/docs/components-of-kubernetes.svg) `

[2020-11-16 13:33] sftim opened #25066 "Dated content for “Force Delete StatefulSet Pods”"
**This is a Bug Report**

**Problem:**
[Force Delete StatefulSet Pods](https://kubernetes.io/docs/tasks/run-application/force-delete-stateful-set-pod/) has some shortcomings:
- the page mentions old versions of Kubernetes, around the v1.5 release
- the page doesn't mention any steps for graceful deletion, which you might try first. eg `kubectl scale statefulset foo --replicas 0 && kubectl delete s

[2020-11-16 13:39] sftim commented on #25064
Seems to me that we should write the page to help readers switch to `x-kubernetes-preserve-unknown-fields`, provided that they are happy that all the clients are accessing via `apiextensions.k8s.io/v1`.

Does that sound right?
/sig api-machinery

[2020-11-16 13:39] sftim commented on #25043
/sig contributor-experience

[2020-11-16 13:40] sftim commented on #25043
@geoffcline I think this is a duplicate of https://github.com/kubernetes/community/issues/4953
Is this OK to close?

[2020-11-16 13:40] sftim commented on #25041
/kind cleanup
/language en
/triage accepted
/priority backlog
/good-first-issue

[2020-11-16 13:43] sftim commented on #25035
(from the page)

That seems clear to me @symbiont-ji - did you have some different wording in mind?
/priority awaiting-more-evidence
/language en
/sig apps

[2020-11-16 13:44] sftim commented on #24497
Page to revise is https://kubernetes.io/docs/concepts/overview/working-with-objects/names/

[2020-11-16 13:45] sftim commented on #24950
/sig network
/language en
/triage accepted

[2020-11-16 13:46] sftim commented on #24950
:+1: to expanding https://kubernetes.io/docs/concepts/cluster-administration/proxies/

[2020-11-16 15:19] #20281 closed

[2020-11-16 15:35] symbiont-ji commented on #25035
I should have said "more than a simple map". This is the sort of thing I
need. If it's not supported, we should document that, too, hopefully with a
reason why it is not supported.

# secrets "foo" was not valid:
# * : Invalid value: "The edited file failed validation":
ValidationError(Secret.data.bar): invalid type for
io.k8s.api.core.v1.Secret.data: got "map", expected "string"
#
apiVersion: v1

[2020-11-16 16:42] antaloala commented on #25064
To be honest, I do not know.
When reading that text box (I read it many times) I understand (but not 100% sure) that the writer is thinking on updating an existing CRD object that refers to "apiVersion: apiextensions.k8s.io/v1beta1" so the resulting updated CRD object can better match the expectations for a CRD object compliant to "apiextensions.k8s.io/v1beta1" (when conversion is applied). But th

[2020-11-16 17:19] sftim commented on #25035
The values for all keys in the `data` field **have** to be (base64-encoded) strings. That's part of how the ConfigMap resource is defined.

You can store a string that is a JSON document, or a TOML document, or a YAML document. But it **must** be a string to Kubernetes.

/triage support

[2020-11-16 17:19] sftim commented on #25035
/kind support

[2020-11-16 18:19] neolit123 commented on #23889
@tengqm @alculquicondor during the weekend i played with generating swagger.js from our API types and producing a page similar to:
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/

here https://github.com/kubernetes-sigs/reference-docs/issues/138 i see you've discussed the tool https://github.com/ahmetb/gen-crd-api-reference-docs. i have not tried it by everything else did not

[2020-11-16 18:48] alculquicondor commented on #23889
I don't have an opinion on what tools are best. I'll leave the decision to sig-docs.

[2020-11-16 19:57] zacharysarah commented on #24775
/triage accepted

[2020-11-16 19:57] zacharysarah commented on #24775
/sig docs

[2020-11-16 20:01] kbhawkey commented on #20232
Since the 1.20 release is approaching, what are the remaining bits to be cleaned up/removed?
Any thoughts on:
https://kubernetes.io/docs/tutorials/stateless-application/guestbook-logs-metrics-with-elk/

[2020-11-16 20:06] geoffcline commented on #25043
yep! I didn't think to search there.

[2020-11-16 22:39] sftim commented on #20232
I recommend 2 changes.
1) Remove the “with-elk” from the URL
2) Run the log and metric solution inside the cluster; no need to mention Elastic cloud or other 3rd party services.

If that sounds right, I can open a specific issue to make roughly those changes and link it back here.

[2020-11-16 22:40] sftim commented on #25043
/close

[2020-11-16 22:40] #25043 closed

[2020-11-16 22:42] sftim commented on #18231
/remove-lifecycle rotten

[2020-11-16 22:44] brianharwell opened #25069 "Intro to Windows support in Kubernetes"
Why did Kubernetes v1.19 drop support for Windows 1809 which is a long term support release?

Switching to a semi annual release causes many support issues due to the constant need to upgrade due to Microsoft dropping support.

[2020-11-17 01:35] tengqm commented on #25035
Instead of

[code]

You will do either:

[code]

where, `W3sib25lIjogIiIsICJhbGljZSI6ICJxdXV4IiwgImJvYiI6ICJxdXV4In1d` decodes to JSON `[{"one": "", "alice": "quux", "bob": "quux"}]`.

or

[code]

[2020-11-17 01:42] #24504 closed

[2020-11-17 01:51] tengqm commented on #25065
cannot reproduce

[2020-11-17 02:46] #22915 closed

[2020-11-17 02:50] ydcool commented on #25055
Maybe you should check the usage of port 10250 on your host using `netstat`.
BTW, issues here are aimed for documentation, and you can go [kubeadm](https://github.com/kubernetes/kubeadm) for more technical help.

[2020-11-17 02:56] hejun126 commented on #25055
This port is because the systemctl enable kubelet command is used. This process takes up four ports 10255 10250 10248 40062

[2020-11-17 03:08] ydcool commented on #25054
Duplicate of #25055 , closed.
/close

[2020-11-17 03:08] #25054 closed

[2020-11-17 04:09] tengqm commented on #23889
@neolit123 Actually you don't need a swagger/OpenAPI spec for this kind of types. What we are trying to document are some configuration structures rather than fully fledged RESTful APIs. In a swagger/OpenAPI, peopled define not only the structural representations that flow between the server and the client, they define other things such as API path, HTTP verbs to use, content-type to negotiate, qu

[2020-11-17 04:49] neolit123 commented on #23889
while kubeadm currently doesn't serve anything, the components like kubelet, kube-scheduler, kube-controller-manager and kube-proxy do expose endpoints which are currently mostly undocumented. the openapi format can help with that. so i slightly disagree if we are planning to discard openapi.

yes, i figured that out. except i still cannot make the kube-openapi generate the structs.

the output lo

[2020-11-17 05:20] #25060 closed

[2020-11-17 05:33] tengqm commented on #23889
@neolit123 Alright. If kubeadm decides to generate fully fledged OpenAPI/swagger specs, that is great. We can wait for that to happen. We have to clone the kubeadm code in order to generate the struct definitions today; that is another tech debt.

Moving content out for the doc.go into a markdown file is a good idea. I'm all for it.

[2020-11-17 05:55] tengqm commented on #23889
@kbhawkey Sorry for the late response.

We cannot decide how the development team (SIGs) want to call them. Some are actually just configuration data structures, others are exposed by the API endpoint of the component in question. For example, in kubelet, it is called a [config](https://github.com/kubernetes/kubelet/tree/master/config/v1beta1), and the config is separated from kubelet [apis](https

[2020-11-17 09:56] khaledRamah opened #25074 "Turnkey Cloud Solutions"
Some solutions are repeted in the list

[2020-11-17 10:45] RA489 commented on #25055
@hejun126 The command `kubeadm reset` didn't worked out for you?

[2020-11-17 10:46] RA489 commented on #25055
/triage needs-information

[2020-11-17 10:50] xz91 opened #25076 "Issue with k8s.io/docs/reference/kubectl/overview/"
Example: kubectl get pod -f ./pod.yaml
error: when paths, URLs, or stdin is provided as input, you may not specify resource arguments as well

The example should be "kubectl get  -f ./pod.yaml".

[2020-11-17 10:50] hejun126 commented on #25055
@RA489 YES,it is not working。

[2020-11-17 11:24] tengqm commented on #25055
why don't you kubectl stop kubelet and retry?

[2020-11-17 11:29] #24624 closed

[2020-11-17 11:33] RA489 commented on #24873
/assign

[2020-11-17 11:57] Mrpingdan opened #25081 "How to modify the ConfigMap file in POD"
How to modify the ConfigMap file in POD

[2020-11-17 13:21] neolit123 commented on #23889
@tengqm
for your comment here https://github.com/kubernetes/kubernetes/pull/96215#issuecomment-728694950

the tooling should just parse the `json` tag of the field as the "field name".
this is possible with go's AST parser. https://golang.org/pkg/go/ast/#Field

as mentioned above, kubeadm has the least need for OpenAPI/swagger specs. it's the other components that may want to document all of their

[2020-11-17 13:25] sharathAradhyamath-vogo commented on #25041
/assign

[2020-11-17 13:38] squaricdot commented on #19977
What i mean is you can't run

`$ kubectl kustomize version`

to see which kustomize version is implemented in kubectl.

whereas `$ kustomize version` does give you that.

Back then I was struggling with some kustomization to eventually found out the incorporated kustomize did not support it.

By being able to verify this by running said command it can save some time.

[2020-11-17 14:00] sharath94z commented on #25041
/assign

[2020-11-17 15:43] kbhawkey commented on #20232
Hope this did not come across the wrong way.
I agree that this work is ongoing. Someday this issue could close and the cleanup will continue.
The [Content Guide](https://kubernetes.io/docs/contribute/style/content-guide/) supports future cleanup and maintenance of the content.

[2020-11-17 21:59] #24775 closed

[2020-11-17 22:19] sftim commented on #19977
@squaricdot I think you might be looking for https://github.com/kubernetes/kubectl/issues/new but I'm still not sure.

This repository is about the documentation for Kubernetes and that page you mentioned is about the documentation for `kubectl`.

Bear in mind that `kubectl kustomize` can be available to people who don't have any `kustomize` binary in their `$PATH`.

[2020-11-18 00:40] annajung commented on #25014
PR merged

/close

[2020-11-18 00:40] #25014 closed

[2020-11-18 01:09] santachopa commented on #24591
/close

[2020-11-18 01:09] #24591 closed

[2020-11-18 01:10] tengqm commented on #23889
@neolit123

The tool is doing exactly that. The problem is about the comment lines, from which the docs (including swagger spec) are generated.

Is it possible to paste that doc.go content into a markdown and find a place for it in website? Referencing docs at website from source code is an acceptable practice, maybe?

[2020-11-18 01:43] hejun126 commented on #25055
kubeadm init --pod-network-cidr=10.244.0.0/16 --apiserver-advertise-address=192.168.15.231 --image-repository registry.aliyuncs.com/google_containers

[2020-11-18 01:43] hejun126 commented on #25055
result is:
[wait-control-plane] Waiting for the kubelet to boot up the control plane as static Pods from directory "/etc/kubernetes/manifests". This can take up to 4m0s
[kubelet-check] Initial timeout of 40s passed.

	Unfortunately, an error has occurred:
		timed out waiting for the condition

	This error is likely caused by:
		- The kubelet is not running
		- The kubelet is unhealthy due to a mis

[2020-11-18 01:46] hejun126 commented on #25055
kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.4", GitCommit:"d360454c9bcd1634cf4cc52d1867af5491dc9c5f", GitTreeState:"clean", BuildDate:"2020-11-11T13:15:05Z", GoVersion:"go1.15.2", Compiler:"gc", Platform:"linux/amd64"}

[2020-11-18 01:48] hejun126 commented on #25055
kubelet --version
Kubernetes v1.19.4

[2020-11-18 01:48] hejun126 commented on #25055
docker version
Client:
 Version:         1.13.1
 API version:     1.26
 Package version: docker-1.13.1-162.git64e9980.el7.centos.x86_64
 Go version:      go1.10.3
 Git commit:      64e9980/1.13.1
 Built:           Wed Jul  1 14:56:42 2020
 OS/Arch:         linux/amd64

Server:
 Version:         1.13.1
 API version:     1.26 (minimum version 1.12)
 Package version: docker-1.13.1-162.git64e9980.el7.

[2020-11-18 01:56] tengqm commented on #25081
/kind support

https://kubernetes.io/docs/concepts/configuration/configmap/#mounted-configmaps-are-updated-automatically

/close

[2020-11-18 01:57] #25081 closed

[2020-11-18 01:58] tengqm commented on #25076
/triage accepted
/kind bug
/help

[2020-11-18 02:10] tengqm commented on #25074
/triage accepted
It is not the solutions that are repeated. It is the icon.
This worth a fix.
/assign

[2020-11-18 02:19] tengqm commented on #25055
@hejun126 Not sure if your docker version is supported. You may try ask questions on stackoverflow.com or on #kubernetes-users channel, because this doesn't look like a documentation error. If you find something to improve on the doc side (e.g. https://kubernetes.io/docs/setup/production-environment/container-runtimes/#docker) please file another issue.

/close

[2020-11-18 02:19] #25055 closed

[2020-11-18 02:26] hejun126 commented on #25055
add  --v=6   to command
 kubeadm init --pod-network-cidr=10.244.0.0/16 --image-repository registry.aliyuncs.com/google_containers --v=6
result is:
I1118 10:13:22.541992   88868 round_trippers.go:443] GET https://192.168.15.231:6443/healthz?timeout=10s  in 0 milliseconds

[2020-11-18 02:27] hejun126 commented on #25055
netstat -tlunp
Active Internet connections (only servers)
Proto Recv-Q Send-Q Local Address           Foreign Address         State       PID/Program name
tcp        0      0 127.0.0.1:10248         0.0.0.0:*               LISTEN      89368/kubelet
tcp        0      0 0.0.0.0:9200            0.0.0.0:*               LISTEN      36212/java
tcp        0      0 0.0.0.0:9300            0.0.0.0:*

[2020-11-18 05:36] santachopa opened #25095 "Translate reference/glossary/object.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate reference/glossary/object.md in Korean

**Why is this needed**
No translation reference/glossary/object.md in Korean

**Comments**

Page to update : https://kubernetes.io/ko/docs/reference/glossary/?fundamental=true#term-object

[2020-11-18 05:36] santachopa commented on #25095
/language ko
/assign

[2020-11-18 08:28] mirageglobe opened #25096 "Managing Resources for Containers"
I think the example on this paragraph has a mistake; or i am understanding it wrong.

"Here's an example. The following Pod has two Containers. Each Container has a request of 0.25 cpu and 64MiB (226 bytes) of memory. Each Container has a limit of 0.5 cpu and 128MiB of memory. You can say the Pod has a request of 0.5 cpu and 128 MiB of memory, and a limit of 1 cpu and 256MiB of memory."

In exampl

[2020-11-18 08:28] mirageglobe commented on #25096
Ahh both containers. thanks

[2020-11-18 08:28] #25096 closed

[2020-11-18 14:26] #25074 closed

[2020-11-18 14:50] neolit123 commented on #23889
this is a problem here too:
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/

so instead of adapting all APIs to follow a new style, we should make the tooling post-process the comments.
and i wouldn't say it's much of a problem too.

[code]
->
pseudo markdown:
[code]

we can certainly do that. wanted to see if someone has objections, this also means we have to link to the new

[2020-11-18 17:25] sharathAradhyamath-vogo commented on #25041
/close

[2020-11-18 17:50] #22625 closed

[2020-11-18 17:51] sftim commented on #25041
Fixed in PR #25085
/close

[2020-11-18 17:52] #25041 closed

[2020-11-18 23:14] #21959 closed

[2020-11-19 01:56] tengqm commented on #23889
@neolit123 I did considered that possibility -- having the post processing tool to make the comments more user friendly. However, it turned to be impractical. Let me give you a few examples where we will need an NLP (natural language processing) engine to correctly figure out what the text means:

Example [1](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/apis/kubeadm/v1beta2

[2020-11-19 03:58] RA489 commented on #25069
/triage discuss

[2020-11-19 03:59] RA489 commented on #25069
/kind discuss

[2020-11-19 05:21] tengqm commented on #25069
@brianharwell It doesn't look to me like a doc issue. I have posted your question with link to this issue to the #sig-windows channel on slack. Hopefully you can get some support there.
/kind support
/sig windows

[2020-11-19 06:09] sunhaolin opened #25106 "使用 Minikube 安装 Kubernetes"
Page: https://kubernetes.io/zh/docs/setup/learning-environment/minikube/
click `安装 Minikube` jump to 404 Page

[2020-11-19 06:11] nasa9084 commented on #21814
すみません、ちょっと最近忙しくてできない
/close

[2020-11-19 06:11] #21814 closed

[2020-11-19 09:50] RA489 commented on #25106
/assign

[2020-11-19 09:50] RA489 commented on #25106
/triage accepted

[2020-11-19 12:24] sftim commented on #23889
Unless Go adopts a (strong) convention for Markdown, or other formatting, in comments, I recommend _against_ automatically inferring formatting from comments.

[2020-11-19 12:50] tengqm commented on #25069
From Tim Horlacher on slack:

/close

[2020-11-19 12:50] #25069 closed

[2020-11-19 13:00] brianharwell commented on #25069
Thanks @tengqm !

[2020-11-19 13:29] santachopa opened #25110 "Translate reference/glossary/api-group.md in Korean"
**This is a Feature Request**

**What would you like to be added**

Translate reference/glossary/api-group.md in Korean

**Why is this needed**
No translation reference/glossary/api-group.md in Korean

**Comments**

Page to update : https://kubernetes.io/ko/docs/reference/glossary/?fundamental=true#term-api-group

[2020-11-19 13:30] santachopa commented on #25110
/language ko
/assign

[2020-11-19 13:31] neolit123 commented on #23889
@sftim

it can be a problem in general. but it feels like in k8s we should adopt a style.
yet, as i pointed above, the API docs at https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/ have had the same problem where comments just talk about PascalCase fields but i don't think i've heard of complains from users.

@tengqm i think one way to solve this is if field references in commen

[2020-11-19 13:34] bpaduch opened #25111 "Events in Stackdriver page --- Google-specific"
Page:https://kubernetes.io/docs/tasks/debug-application-cluster/events-stackdriver/

Issue: This is a very specific page for a Google product, is that intentional? I was under the impression that Kubernetes documentation does not focus on third-party-specific implementations.

Also, I'm pretty certain the product names and screenshots are out-of-date.

[2020-11-19 13:55] seokho-son commented on #24860
- [@seokho-son] content/en/docs/concepts/configuration/secret.md 1 file changed, 351 insertions(+), 22 deletions(-)
- [@seokho-son] content/en/docs/concepts/policy/resource-quotas.md 1 file changed, 102 insertions(+), 89 deletions(-)
- [@pjhwa] content/en/docs/concepts/storage/volumes.md 1 file changed, 443 insertions(+), 475 deletions(-)
- [@pjhwa] content/en/docs/setup/learning-environment/_inde

[2020-11-19 13:59] sftim commented on #23889
Maybe a KEP? It does need buy-in.

[2020-11-19 14:05] neolit123 commented on #23889
it does. until then we can leave the field descriptions unprocessed, but continue to think how to publish this documentation.

[2020-11-19 14:28] seokho-son commented on #24860
/assign @seokho-son
/assign @pjhwa

[2020-11-19 14:30] seokho-son commented on #24859
Please note that the original schedule has been changed.

- PR 프리즈: **11/23** (작업 브랜치에 포함되는 PR을 확정, 이후의 PR은 차기 작업 브랜치로 리베이스 필요)
- 브랜치 머지: **11/26** (master 브랜치에 머지되며, k8s.io에 자동 반영)

[2020-11-19 15:04] sftim commented on #23889
Doesn't block either PR but `registrycredentials.k8s.io/v1alpha1` from https://github.com/kubernetes/website/pull/24929 might be relevant here too.

[2020-11-19 16:13] zhaojizhuang opened #25114 "submodule google/docsy need to update"
**This is a Bug Report**

**Problem:**

Submodule `google/docsy` need to update，current version lack of i18n translation for `Create child page`

Upgrade of `google/docsy` can solve this problem, see it in https://github.com/google/docsy/tree/master/i18n

![image](https://user-images.githubusercontent.com/3124692/99692063-d3c82d00-2ac4-11eb-99c4-a0c8f0e24304.png)

[2020-11-19 16:45] sftim commented on #25111
/triage accepted
/language en
/priority important-longterm

[2020-11-19 16:47] sftim commented on #25114
/kind bug
/triage accepted
/priority backlog
/good-first-issue

This issue is a good first issue because the single step needed to fix it is to update the version of the [Docsy](https://www.docsy.dev/) submodule.
[`git submodule`](https://git-scm.com/docs/git-submodule) has some contextual information; the command to use is `git submodule update`.

[2020-11-19 16:47] sftim commented on #25114
:information_source: Note that PR #25116 is already open to address this.

[2020-11-19 16:47] sftim commented on #25114
/remove-label "help wanted"

[2020-11-19 16:54] sftim commented on #25106
/language zh

[2020-11-19 16:55] sftim commented on #25061
/retitle Allow switching website between “light mode” and  “dark mode”

/kind feature
/area web-development
/priority awaiting-more-evidence

[2020-11-19 16:56] sftim commented on #25061
@HBDUDE interesting idea. If this gets a few :+1: reactions we'll be happy to accept it as a feature for the backlog.

[2020-11-19 16:57] sftim commented on #25040
/retitle Document how to validate kubectl binary against checksum / signature
/language en
/kind feature
/triage accepted

The page in question is https://kubernetes.io/docs/tasks/tools/install-kubectl/

[2020-11-19 16:58] sftim commented on #20293
I just realized that the downloads page really ought to include `kubectl` downloads too.

[2020-11-19 17:02] sftim commented on #25040
To fix this:
- update https://kubernetes.io/docs/tasks/tools/install-kubectl/ to use download links from https://dl.k8s.io/
  for example https://dl.k8s.io/v1.19.0/bin/linux/amd64/kubectl
- also explain to readers that checksum files are available that they can use to compare binaries obtained from elsewhere
  for example https://dl.k8s.io/v1.19.0/bin/linux/amd64/kubectl.sha256

The `{{< skew … >}

[2020-11-19 17:05] sftim commented on #24038
/priority important-soon
/good-first-issue

This is mostly about deleting the page https://kubernetes.io/docs/concepts/workloads/pods/podpreset/ (from the English documentation only - localizations will cover the update in separate PRs).

In the pull request for this revision, mention that this change is for milestone 1.20

[2020-11-19 17:06] sftim commented on #25065
@MasterLover what was the URL of the page that you visited where you saw a broken image?

/triage needs-information
/language zh

[2020-11-19 17:06] sftim commented on #24154
/label needs-triage

[2020-11-19 17:09] sftim commented on #24133
To fix this, edit [`static/_redirects`](https://github.com/kubernetes/website/blob/master/static/_redirects) so that it redirects readers to https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands

/good-first-issue
/language en

[2020-11-19 17:10] Arhell opened #25117 "sync video block (uk)"
**This is a Feature Request**

add
![1](https://user-images.githubusercontent.com/26163841/99699561-c007d100-2a9a-11eb-9b91-2cc43c08ee8e.jpg)

/language uk
/assign
/area web-development

[2020-11-19 17:14] sftim opened #25118 "Remove automatic index from tutorials list"
**This is a Feature Request**

**What would you like to be removed**
The page at https://kubernetes.io/docs/tutorials/kubernetes-basics/ has a graphical list of the tutorials that you can follow.
Then, at the foot of the page, the Docsy theme inserts an autogenerated list.

To fix that, edit [`content/en/docs/tutorials/kubernetes-basics/_index.html`](https://github.com/kubernetes/website/blob/mast

[2020-11-19 17:15] sftim commented on #25117
This report is about https://k8s.io/uk/
To fix this, copy and translate the equivalent block from the English documentation.

/triage accepted

[2020-11-19 17:15] sftim commented on #25117
This is a content change though.
/remove-area web-development

[2020-11-19 17:18] sftim commented on #24053
/retitle Clarify toleration timeouts for kube-apiserver

[2020-11-19 17:18] sftim commented on #24053
/sig scheduling

[2020-11-19 17:19] sftim commented on #24053
@antaloala could you explain which web page(s) you're discussing here? You didn't mention that yet.

[2020-11-19 17:20] sftim commented on #24053
It might be that you're asking about changes to the help text that is built in to Kubernetes components. If so, you should request that [upstream](https://github.com/kubernetes/kubernetes/).

[2020-11-19 17:22] sftim commented on #24078
Hi @tdsan

I'm also not sure what you're asking for. Perhaps you wanted the page to mention that the command that's documented installs `kubectl` without Snap sandboxing, and to document that this is a current limitation of the official Snap package.
Does that sound right?
/triage needs-information
/sig cli
/language en

[2020-11-19 17:36] sftim commented on #24080
@dheerujava did the advice to try the version of the documentation that matches your cluster help clear things up?

[2020-11-19 17:36] sftim commented on #24108
/triage needs-information

[2020-11-19 17:38] sftim commented on #24117
/retitle “Full screen” button not working as expected for katakoda tutorials

@BenHall this might be relevant to you
/kind bug
/priority backlog
/triage accepted

[2020-11-19 17:40] sftim commented on #24067
BTW improvements to that page should be first made to https://k8s.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/ and then copied to downstream localizations such as Japanese.

/retitle Document how to deprovision a kubeadm cluster
/kind feature
/sig cluster-lifecycle
/priority awaiting-more-evidence

SIG Cluster Lifecycle, feel free to /triage accepted and prioritize b

[2020-11-19 17:40] sftim commented on #23943
/kind feature
/priority backlog
/area web-development

[2020-11-19 17:41] sftim commented on #4491
/triage accepted

[2020-11-19 17:47] sftim opened #25119 "Improve security-related documentation"
**This is an umbrella issue**

**What would you like to be added**
Review and possibly revise the existing pages on the topic of Kubernetes security.

**Why is this needed**
It's important to help readers understand how to make sure a Kubernetes cluster has appropriate security controls.

**Comments**

Look at the overall body of topics related to security context and policy. Do we have the right

[2020-11-19 17:48] sftim commented on #4492
I'm going to close this in favor of issue #25119.
/close

[2020-11-19 17:48] #4492 closed

[2020-11-19 17:48] sftim commented on #23622
Relevant to https://github.com/kubernetes/website/issues/4500

[2020-11-19 17:51] sftim commented on #23622
I recommend adding a warning. There is a v2 controller for CronJob arriving in Kubernetes v1.20 that may _eventually_ honor any setting for `startingDeadlineSettings`; however, we want to document the shortcoming right now.

Specifically I would add a [caution](https://kubernetes.io/docs/contribute/style/style-guide/#caution) callout, with text similar to:

/good-first-issue
/sig apps

[2020-11-19 17:51] neolit123 commented on #24067
i don't think an action here is required.
it is obvious that once you installed kubeadm on a node you can just, `kubeadm reset` and uninstall the installed files (either using `rm`, or the host package manager). this also applies to kubernetes-cni.

[2020-11-19 17:52] sftim commented on #24049
/triage accepted

[2020-11-19 17:52] sftim commented on #24009
/sig release

[2020-11-19 17:52] sftim commented on #24009
/triage accepted

[2020-11-19 17:53] sftim commented on #23906
Addressed in PR #23929
/close

[2020-11-19 17:53] #23906 closed

[2020-11-19 17:53] sftim commented on #23858
/triage needs-information

@joey95033, please describe the feature request.

[2020-11-19 17:54] sftim commented on #23809
/kind feature
/triage accepted
/priority backlog
(but it's a very valuable backlog item!)

[2020-11-19 17:56] sftim commented on #23889
ABAC policy is also mentioned in https://github.com/kubernetes/website/issues/23885

[2020-11-19 17:56] sftim commented on #23885
/retitle Document ABAC policy configuration format
/sig auth
/triage accepted
/priority backlog

[2020-11-19 17:58] sftim commented on #24067
Agreed.

@sakaia I'm going to close this. The cloud-native approach to this is to wipe the machine or terminate it. `kubeadm reset` is also available and documented.
/close

[2020-11-19 17:58] #24067 closed

[2020-11-19 18:01] neolit123 commented on #23889
which is more appropriate for the swagger format, because there are inter-component communication with requests / responses.

[2020-11-19 18:13] sftim commented on #23729
/language en

[2020-11-19 18:14] sftim commented on #25064
@kubernetes/sig-api-machinery-misc what should we document here?

[2020-11-19 18:14] sftim commented on #23781
/triage needs-information

[2020-11-19 18:14] sftim commented on #23561
/triage accepted

[2020-11-19 18:15] sftim commented on #23561
/priority backlog

[2020-11-19 18:15] sftim commented on #23422
/triage accepted
/priority important-longterm

[2020-11-19 18:16] sftim commented on #23483
See https://github.com/kubernetes/website/issues/20232#issuecomment-728373191

[2020-11-19 18:18] sftim commented on #4517
Given that there are now [scheduling plugins](https://kubernetes.io/docs/concepts/scheduling-eviction/scheduling-framework/#extension-points), is this still needed?
/remove-lifecycle frozen

[2020-11-19 18:20] sftim commented on #7030
https://github.com/kubernetes/website/issues/20862 and https://github.com/kubernetes/website/issues/23527 are relevant here.

[2020-11-19 18:20] sftim commented on #4507
/close

[2020-11-19 18:20] #4507 closed

[2020-11-19 18:21] sftim commented on #4503
/sig storage

[2020-11-19 18:21] sftim commented on #4503
Related issue: https://github.com/kubernetes/website/issues/24726

[2020-11-19 18:23] tdsan commented on #24078
snap install kubectl --classic

I think per the installation instructions, (it has been a while since I reviewed docs) but it was a reference to the issues found using the --classic flag (security concerns).

I think that is what I was referring to (the error message came directly from the system I was looking to install).

Todd

[2020-11-19 18:25] tdsan commented on #24078
I was referring to the security issues found when installing kubectl with the --classic flag.

I gave the error from the computer system.

Todd

[2020-11-19 18:26] sftim commented on #4506
I'm going to close this. It's actionable, but things have moved on since the issue was opened.
/close

[2020-11-19 18:26] lavalamp commented on #25064
/assign @sttts @apelisse

[2020-11-19 18:26] #4506 closed

[2020-11-19 18:35] sftim commented on #24078
PR https://github.com/kubernetes/website/pull/7669 documents that you must run `snap` with `--classic`. If you do, the error:
[code]
is *not* shown.

/triage not-reproducible
/remove-triage needs-information

[2020-11-19 18:37] sftim commented on #24078
@tdsan if you want to request that the Ubuntu project packages `kubectl` with proper (non legacy) snap confinement, you could visit https://forum.snapcraft.io/ and discuss logging a feature request for that.

[2020-11-19 18:38] sftim commented on #24078
/retitle “Install and Set Up kubectl” suggests installing from snap with classic confinement

[2020-11-19 18:43] sftim opened #25121 "Use different example keys & values for “Taints and Tolerations”"
**This is a Feature Request**

**What would you like to be added**
Update [Taints and Tolerations](https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/) to use a key of `example-key` rather than `key`, and a value of `example` rather than `value`.

**Why is this needed**
Some sections of _Taints and Tolerations_ concept page suggest setting a taint where the key is called

[2020-11-19 18:45] sftim commented on #25121
It's also OK to use `key1` and `value1` rather than my suggestion of `example-key` and `example`. Whichever you prefer.

[2020-11-19 18:45] sftim commented on #25121
/good-first-issue

[2020-11-19 18:46] sftim commented on #24133
/triage accepted

[2020-11-19 18:48] sftim commented on #22892
Fixed in PR #24899
/close

[2020-11-19 18:49] #22892 closed

[2020-11-19 18:50] sftim commented on #14137
This is an umbrella issue
/remove-good-first-issue

It's OK to create good-first-issues that reference this issue as their overarching issue.

[2020-11-19 19:00] sftim commented on #24133
/retitle No page content for https://k8s.io/docs/reference/kubectl/kubectl-cmds/

[2020-11-19 19:02] sftim commented on #23775
There is a lot of work here and the overall task is not simple enough for a new contributor to join in unaided.
/remove-good-first-issue

It is OK to create good-first-issue subtasks that reference back to this one.

[2020-11-19 19:29] raghvenders commented on #25118
/triage accepted

[2020-11-19 20:21] Marusyk commented on #25118
/assign

[2020-11-19 20:37] sftim commented on #24123
/close

[2020-11-19 20:37] #24123 closed

[2020-11-19 20:40] L3o-pold commented on #25121
/assign

[2020-11-19 20:48] sftim opened #25123 "Migrate “Contributing new content” overview into section index"
**This is a Feature Request**

**What would you like to be added**
- Copy the page contents from https://kubernetes.io/docs/contribute/new-content/overview/ into https://kubernetes.io/docs/contribute/new-content/
- Redirect https://kubernetes.io/docs/contribute/new-content/overview/ to https://kubernetes.io/docs/contribute/new-content/
  (edit [`static/_redirects`](https://github.com/kubernetes/we

[2020-11-19 20:50] sftim opened #25124 "Switch New York Times case study to use youtube shortcode"
**This is a clean up request**

**What would you like to be added**
Update the [case study for the New York Times](https://kubernetes.io/case-studies/newyorktimes/) to use the [`youtube`](https://gohugo.io/content-management/shortcodes/#youtube) shortcode that is built in to Hugo.

**Why is this needed**
Using HTML and `iframe`s directly is not as easy to maintain as Hugo shortcodes, which are exp

[2020-11-19 20:53] sftim commented on #25118
Fixed in PR #25122
/close

[2020-11-19 20:53] #25118 closed

[2020-11-19 20:59] pjhwa commented on #24860
아래 파일은 #25103 에 포함되어 있습니다.
- content/en/docs/setup/learning-environment/_index.md 1 file changed, 29 insertions(+)
(근데 내용을 보니, 이 페이지가 docs/tasks/tools/_index.md 파일로 리다이렉트되도록 /static/_redirects 에 추가하라고 되어있네요.)

{{/* and add a redirect into "/static/_redirects", for YOUR localization. */}}

[2020-11-19 21:01] sftim commented on #23660
I've checked _and removed_ “Think about using Docsy's reusable sections instead of divs” as there are now no “div” elements in the HTML source for the case studies section (English localization).

[2020-11-19 21:02] sftim commented on #19404
/remove-lifecycle rotten

[2020-11-19 21:02] sftim commented on #19042
/area web-development
/triage accepted
/priority backlog

[2020-11-19 21:03] sftim commented on #19804
/triage accepted
/kind feature
/language en
/priority backlog

[2020-11-19 21:04] sftim commented on #20134
/triage accepted
/language en

[2020-11-19 21:04] sftim commented on #20134
/help

[2020-11-19 21:04] sftim commented on #20074
/triage accepted

[2020-11-19 21:05] sftim commented on #20074
The _other_ big use of resources is to describe the things that limits and requests are limiting and / or requesting.

We might not be able to avoid using the same English word to mean different things in different places, but we can call out when it might not be clear.

[2020-11-19 21:06] sftim commented on #19870
/kind support

[2020-11-19 21:07] sftim commented on #19844
@MikaelSmith, would you be willing to describe the changes to the page that someone should make so that this issue is fixed?

[2020-11-19 21:08] apelisse commented on #25064
I only partially understand this problem, and don't want to create additional confusion at that point :-)

I'll let Stefan answer, I think he authored that documentation. @sttts

[2020-11-19 21:13] sftim commented on #19309
/area web-development

[2020-11-19 21:13] sftim commented on #19199
/triage not-reproducible

[2020-11-19 21:14] sftim commented on #19199
/language en

[2020-11-19 21:38] pjhwa commented on #24860
나머지 파일들도 제가 작업해보겠습니다.
- content/en/docs/setup/production-environment/container-runtimes.md 1 file changed, 227 insertions(+), 214 deletions(-)
- content/en/docs/tutorials/stateless-application/guestbook-logs-metrics-with-elk.md 1 file changed, 145 insertions(+), 86 deletions(-)
- content/en/docs/concepts/storage/persistent-volumes.md 1 file changed, 41 insertions(+)
- content/en/docs/concepts/work

[2020-11-19 21:53] sftim commented on #19076
/language en
/triage accepted

[2020-11-19 21:53] sftim commented on #19846
/help

[2020-11-19 21:54] sftim commented on #20378
/remove-lifecycle rotten
/triage accepted

[2020-11-19 23:38] #20728 closed

[2020-11-19 23:47] Arhell commented on #25117
/close

[2020-11-19 23:47] #25117 closed

[2020-11-20 01:24] Cweiping commented on #22413
Fixed: #22642
/close

[2020-11-20 01:24] #22413 closed

[2020-11-20 01:37] tengqm commented on #20074
In Chinese, a "resource" is always a "资源", difficult to differentiate too.

[2020-11-20 01:40] #19977 closed

[2020-11-20 01:41] tengqm commented on #25123
Please try some other alternatives. Let's be cautious when moving pages. Every relocation has to be replicated into all localizations. It may look straightforward for English to add a redirect entry. The fact is we may need to a dozen of redirect entries for all localizations.
I don't see a compelling reason to move pages like this.

[2020-11-20 01:46] tengqm commented on #23775
A summary of the current status for ZH localization.

- All pages in 1.19 have been translated except for some case studies.
- We have tried to synchronize all concepts changes to Chinese, PRs under review.
- We still need some synchronization for tasks.

Overall, I'm very proud of the ZH localization progress, which proves to be one of localizations with least gaps from English contents.

[2020-11-20 01:57] seokho-son commented on #25095
/triage accepted

[2020-11-20 01:57] seokho-son commented on #25110
/triage accepted

[2020-11-20 02:40] seokho-son commented on #24860
assign
• content/en/docs/concepts/storage/persistent-volumes.md 1 file changed, 41 insertions(+)
• content/en/docs/concepts/workloads/_index.md 1 file changed, 43 insertion(+)
• content/en/docs/tasks/tools/_index.md 1 file changed, 18 insertions(+), 9 deletions(-)
to @kosehy

[2020-11-20 02:43] seokho-son commented on #24860
PR 타이틀 네이밍 가이드 (커밋 네임등)
파일별로 PR 올리셔도 되고, 모아서 올리셔도 될 것 같습니다.
파일별로 PR 올리시는 경우에는, PR 타이틀에 "Update outdated contents in 파일명" 으로 해주셔도 괜찮을 것 같고,
한꺼번에 올리시는 경우에는
@seokho-son : Update outdated files in dev-1.19-ko.5 part-01
@pjhwa : Update outdated files in dev-1.19-ko.5 part-02
@kosehy : Update outdated files in dev-1.19-ko.5 part-03

이렇게 하면 되겠습니다 ^^

[2020-11-20 03:42] #22002 closed

[2020-11-20 05:20] antaloala commented on #24053
Sorry @sftim for the delay.
I am referring (ops, I did not realize I forgot to include it, sorry also about this) to the doc about the built-in  DefaultTolerationSeconds admission plugin: https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#defaulttolerationseconds

[2020-11-20 05:44] antaloala commented on #25064
I realize now I made some mistakes in my first answer to @sftim making difficult to understand my comment.
First paragraph should say:

When reading that text box (I read it many times) I understand (but not 100% sure) that the writer is thinking on updating an existing CRD object that was originally created with "apiVersion: apiextensions.k8s.io/v1beta1" so the resulting updated CRD object can be

[2020-11-20 07:24] habibrosyad commented on #25124
/assign

[2020-11-20 08:51] sftim commented on #25123
Perhaps it'd help to have some tooling to make it easy to copy redirects to a localization? Would that toil reduction change your mind @tengqm?

[2020-11-20 09:48] #21755 closed

[2020-11-20 09:48] zhaojizhuang opened #25140 "Need chinese trans for DNS pod-sethostnameasfqdn-field"
Need chinese trans for DNS for pod-sethostnameasfqdn-field
https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pod-sethostnameasfqdn-field

[2020-11-20 09:48] zhaojizhuang commented on #25140
/language zh

[2020-11-20 09:49] zhaojizhuang commented on #25140
/assign

[2020-11-20 09:49] zhaojizhuang commented on #25140
/assign

[2020-11-20 13:15] #23211 closed

[2020-11-20 13:52] #22013 closed

[2020-11-20 14:15] ariscahyadi commented on #25025
Hi All,

We tried to sort the list of common words (around 100) as mentioned here https://docs.google.com/spreadsheets/d/1uK1TGfKyT5ZmWWQx4c4KYm7YmOmuOHyQW-bh8rGTMP4/edit#gid=0
and please find below top 30 words which are used over 1000 times in Kubernetes English documentation

- cluster     6757
- container     5727
- node     5326
- file     4536
- service     4482
- set     4294
- resource

[2020-11-20 14:18] arjanvdberg opened #25143 "Outdated info in https://kubernetes.io/docs/tutorials/kubernetes-basics/expose/expose-interactive/"
**This is a Bug Report**

**Problem:** The tutorial states that "minikube does not support the LoadBalancer option yet". However, minikube currently does support this option, so the comment is not valid anymore. The tutorial could also be updated to use the LoadBalancer option.

**Proposed Solution:** At least remove the part stating that  the LoadBalancer option doesn't work in minikube. Optional

[2020-11-20 14:52] #4504 closed

[2020-11-20 14:59] nhomble opened #25144 "typo in authentication docs"
https://kubernetes.io/docs/reference/access-authn-authz/authentication/

In the openid svg, there's a typo in ```access_token``` - the diagram has **acces_token**

[2020-11-20 15:03] jlsong01 commented on #24133
/assign

[2020-11-20 15:05] zhaojizhuang opened #25145 "[zh] Need trans for docs/concepts/workloads/pods/pod-topology-spread-constraints/"
**Problem:**
[zh] Need trans for https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/

[2020-11-20 15:05] zhaojizhuang commented on #25145
/language zh

[2020-11-20 17:28] #25076 closed

[2020-11-20 18:44] kosehy opened #25148 "typo in Install Tools docs"
In the second sentence of the first paragraph under [kind](https://kubernetes.io/docs/tasks/tools/#kind):
"This tool it requires that you have Docker installed and configured."
Is it better to remove "it"?

My suggestion is remove "it"
"This tool requires that you have Docker installed and configured."

[2020-11-20 20:09] bbgobie opened #25149 "Improve explanation about out-of-resource eviction signals for CPU resource."
Either I'm misunderstanding something or the page is a bit confusing in regards to how evictions happen, the QOS classes and CPU.

Having a CPU request != cpu limit or cpu limit not defined makes the pod class automatically burstable or best effort.
https://kubernetes.io/docs/tasks/configure-pod-container/quality-service-pod/

However this doc seems to imply the QOS class is used to determine evic

[2020-11-20 21:50] OJFord commented on #15319
@sftim I'm not sure this bot is helpful here? What activity would there be? I reported it to try to be helpful, but I don't really 'care' about it in the sense that I have much motivation to keep removing these markers, but I assume it's still an issue, just not one that generates any discussion.

Just commenting in case you have the power to add some magic `no-go-stale` label or something, I'll p

[2020-11-21 01:40] TBBle commented on #16725
This does appear to be documented at https://kubernetes.io/docs/reference/using-api/server-side-apply/#merge-strategy now.

[2020-11-21 01:41] TBBle opened #25153 "Server-Side Apply listType documentation is inconsistent"
In the [Merge Strategy](https://kubernetes.io/docs/reference/using-api/server-side-apply/#merge-strategy) section, the `//+listType` annotation documentation gives possible values of `atomic`/`set`/`map`, but the description describes `atomic` and `granular`.

There's a more-detailed behaviour description in #16725 which might be useful to draw from.

[2020-11-21 02:04] #15083 closed

[2020-11-21 02:04] #21965 closed

[2020-11-21 04:06] #22022 closed

[2020-11-21 04:26] apelisse commented on #25153
Good point, let me send a quick fix.

[2020-11-21 04:26] apelisse commented on #25153
/triage accepted

[2020-11-21 04:29] apelisse commented on #16725
Correct, I think it's done now.

[2020-11-21 04:30] apelisse commented on #16725
/close

[2020-11-21 04:30] #16725 closed

[2020-11-21 04:35] apelisse commented on #16725
I suspect this could be better documented.

[2020-11-21 12:46] zhaojizhuang commented on #25140
close，for  #25017  revolve this issue

[2020-11-21 12:46] #25140 closed

[2020-11-21 14:25] jlsong01 commented on #24133
hi @sftim, could you help to review the PR? Thanks

[2020-11-21 14:43] jlsong01 commented on #24038
/assign

[2020-11-22 00:26] #21948 closed

[2020-11-22 04:41] #24948 closed

[2020-11-22 05:10] zhiguo-lu opened #25160 "[zh] Translate docs/tasks/administer-cluster/enable-disable-api/ into Chinese"
Translate docs/tasks/administer-cluster/enable-disable-api/ into Chinese

[2020-11-22 05:12] zhiguo-lu commented on #25160
/language zh
/assign

[2020-11-22 05:13] zhiguo-lu opened #25161 "[zh] Translate docs/tasks/administer-cluster/cluster-upgrade/ into Chinese"
Translate docs/tasks/administer-cluster/cluster-upgrade/ into Chinese

/language zh
/assign

[2020-11-22 06:22] kosehy opened #25163 "Translate tasks/configure-pod-container/assign-cpu-resource into Korean"
This is a Feature Request

What would you like to be added

Translate tasks/configure-pod-container/assign-cpu-resource into Korean

Why is this needed
No translation tasks/configure-pod-container/assign-cpu-resource into Korean

Comments

Page to Update:
https://kubernetes.io/docs/tasks/configure-pod-container/assign-cpu-resource/

[2020-11-22 06:22] kosehy commented on #25163
/language ko
/assign

[2020-11-22 13:46] zhaojizhuang commented on #25145
/assign

[2020-11-22 15:41] #20556 closed

[2020-11-22 16:30] shuuji3 commented on #25144
Thank you for reporting the typo.🙂 I'd like to this fix.

/assign

[2020-11-22 16:59] shuuji3 commented on #23082
I'm going to fix this legend.
/remove-lifecycle stale
/assign

[2020-11-22 19:10] birprav93 opened #25170 "Interactive Tutorial not loading"
Interactive tutorial is not loading even after waiting for long time

[2020-11-22 19:26] sftim commented on #24038
Actually, this is a _bit_ more fiddly than I'd anticipated - the documentation change needs to target the v1.20 release.
/remove-good-first-issue

[2020-11-22 19:32] birprav93 commented on #25170
/triage accepted

[2020-11-22 19:38] sftim opened #25171 "Add task page for configuring graceful node shutdown"
**This is a Feature Request**

**What would you like to be added**
- Add a new page that explains how to enable and start using Graceful Node Shutdown.
- Revise https://kubernetes.io/docs/tasks/administer-cluster/safely-drain-node/ to
  1. Tell readers that they might want to configure graceful shutdown first (similar to the story with PodDisruptionBudget)
  2. Explain how graceful shutdown intera

[2020-11-22 19:44] sftim commented on #24133
@jlsong01 reviewers (who are mainly volunteers) pick up that task on a [rota](https://github.com/kubernetes/website/wiki/PR-Wranglers). I can take a look though.

[2020-11-22 20:01] sftim commented on #25148
/triage accepted
/language en
/kind bug
/good-first-issue
/priority backlog

Thanks @kosehy - I agree with your suggested fix.

[2020-11-22 20:02] sftim commented on #25170
/retitle Interactive Tutorial not loading
/kind bug
/priority awaiting-more-evidence

Are these symptoms still showing for you @birprav93 ?

If so, could you paste in the URL of the problem page and also attach a screenshot of the “loading” view that you see when waiting?

[2020-11-22 20:04] birprav93 commented on #25170
yes it keeps on showing "loading" and error at the end.

[2020-11-22 20:05] #25114 closed

[2020-11-22 20:06] birprav93 commented on #25170
![image](https://user-images.githubusercontent.com/60813228/99915851-876c2f80-2d06-11eb-9a36-edf6c3c3b42f.png)

[2020-11-22 20:09] sftim opened #25172 "Mention hysteresis in docs"
**This is a Feature Request**

**What would you like to be added**
- Change the text of https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/#oscillation-of-node-conditions to mention “hysteresis”.
- ~Change the text of https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#stabilization-window to mention “hysteresis”.~

**Why is this needed**
The English term fo

[2020-11-22 20:09] sftim commented on #25149
/retitle Improve explanation about out-of-resource eviction signals for CPU resource.

https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/#node-conditions lists the conditions that can trigger eviction actions; these are specifically `MemoryPressure` and `DiskPressure`. As you have noted, `CPUPressure` is not a thing in Kubernetes.

https://kubernetes.io/docs/tasks/administer-clus

[2020-11-22 20:15] sftim commented on #25170
@BenHall would you want to check this one out?

Please _/triage accepted_ if it's valid.

[2020-11-22 20:16] sftim commented on #25144
/triage accepted
/kind bug
/priority backlog
/sig auth
/language en

Thanks!

[2020-11-22 20:23] smartin1296 opened #25174 "Installing kubeadm"
When I was executing the following code: -- [source](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#check-required-ports)

$sudo apt-get update && sudo apt-get install -y apt-transport-https curl
$curl -s https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key add -
$cat <<EOF | sudo tee /etc/apt/sources.list.d/kubernetes.list
deb https://apt.ku

[2020-11-22 20:26] sftim commented on #25153
/kind cleanup
/language en

[2020-11-22 20:38] smartin1296 commented on #25174
For additional clarity:

The above errors occurred on machine 2 of 4. I used the "sudo" change I mention on machine 3 and downloaded all three packages - kubelet kubeadm kubectl - without any problems. On machine 4, the error occured even with the sudo change. Still looking for a solution for my last node, all help is welcome 8-)

[2020-11-22 20:53] smartin1296 commented on #25174
I resolved the issue this time by changing the order of execution of lines. Most important was executing my sudo change above:

`sudo curl -s https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key add -`

prior to:

`sudo apt-get update && sudo apt-get install -y apt-transport-https curl`

I am still unsure why this worked / why the computers acted differently considering they are id

[2020-11-23 00:02] jmyung commented on #24860
이번에 참여 못해서 죄송합니다. 아직 할일이 남아있거나, 도와드릴게 있으면 알려주세요.

[2020-11-23 02:01] #25160 closed

[2020-11-23 02:09] #25161 closed

[2020-11-23 03:14] bells17 commented on #25052
/triage/accepted

[2020-11-23 03:14] bells17 commented on #25052
/triage accepted

[2020-11-23 03:14] bells17 commented on #24708
/triage accepted

[2020-11-23 03:14] bells17 commented on #24667
/triage accepted

[2020-11-23 03:14] bells17 commented on #24568
/triage accepted

[2020-11-23 03:14] bells17 commented on #23947
/triage accepted

[2020-11-23 03:16] rjc-123456 opened #25178 "Improvement for k8s.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro/"

[2020-11-23 03:43] shuuji3 opened #25179 "Replace the sequence diagram on authentication documentation using mermaid"
**This is a Feature Request**

**What would you like to be added**
Replace the sequence diagram on [authentication documentation](https://kubernetes.io/docs/reference/access-authn-authz/authentication/) with the one by [mermaid](https://mermaid-js.github.io/mermaid/#/sequenceDiagram). This is the follow-up of #25168.

**Why is this needed**
There are several pros to use mermaid to draw the sequenc

[2020-11-23 03:45] Cweiping commented on #25149
In my opinion, CPU is an elastic resource, and there is no need to trigger pod eviction when exceeding it; QoS scheduling only depends on `cpu.request` and `cpu.limit` Distribute.Unable to trigger eviction based on increased CPU usage.

[2020-11-23 04:11] RA489 commented on #25178
@rjc-123456 what improvement you want on this page https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro/

[2020-11-23 04:11] RA489 commented on #25178
/triage needs-information

[2020-11-23 04:11] RA489 commented on #25174
/kind support

[2020-11-23 04:14] RA489 commented on #25148
/assign

[2020-11-23 06:16] shuuji3 commented on #25144
Fixed by #25168.

[2020-11-23 06:16] shuuji3 commented on #25144
/close

[2020-11-23 08:33] sftim commented on #25144
/close

[2020-11-23 08:33] #25144 closed

[2020-11-23 08:44] sftim commented on #25174
@smartin1296 the docs mostly assume that when you encounter an error you fix or address that error before continuing

I think that's a reasonable approach and the existing documentation is fine.

[2020-11-23 08:44] sftim commented on #25179
/kind cleanup
/language en
/triage accepted
/priority backlog

[2020-11-23 08:55] #25148 closed

[2020-11-23 08:55] sftim commented on #23889
https://coveooss.github.io/json-schema-for-humans/ might have some ideas about either the styling, a mechanism for documentation generation, or both.

[2020-11-23 09:21] sftim opened #25190 "Mitigate “tab nabbing” attacks"
**This is a Bug Report**

**Problem:**
User agents sometimes allow a website to influence the browser's behavior for a different website viewport (a tab or a window), when one website hyperlinks to another one.

[Reverse tabnabbing](https://owasp.org/www-community/attacks/Reverse_Tabnabbing) is a security attack method where one site that hyperlinks to a second site creates a mechanism for that se

[2020-11-23 09:46] BenHall commented on #25170
Sorry for the problems. We had an issue over weekend that caused some unavailability. This was resolved and everyone should be able to access the scenarios again .

[2020-11-23 10:14] sftim commented on #25170
@birprav93 is it OK to close this issue as fixed?

[2020-11-23 10:18] birprav93 commented on #25170
Hello Tim,

I can access now. You can set it to close.Thanks for your help.

Regards,
Praveen

On Mon, 23 Nov 2020 at 11:14 AM, Tim Bannister <notifications@github.com>
wrote:

[2020-11-23 10:20] ravanapel opened #25191 "Ingress Controllers"
"AWS ALB Ingress Controller" is renamed to "AWS Load Balancer Controller". Name and link must be updated to "[AWS Load Balancer Controller](https://kubernetes-sigs.github.io/aws-load-balancer-controller)".

[2020-11-23 10:25] sftim commented on #25170
Symptoms gone
/close

[2020-11-23 10:25] #25170 closed

[2020-11-23 10:34] kosehy opened #25192 "ja: Translate reference/command-line-tools-reference/kubelet-authentication-authorization.md into Japanese"
**This is a Feature Request**

**What would you like to be added**

Translate reference/command-line-tools-reference/kubelet-authentication-authorization.md into Japanese

**Why is this needed**
No translation reference/command-line-tools-reference/kubelet-authentication-authorization.md into Japanese

**Comments**

Page to Update:
https://kubernetes.io/docs/reference/command-line-tools-reference/

[2020-11-23 12:21] zhaojizhuang opened #25193 "[zh] replace "(/docs)" to "(/zh/docs)""
**This is a Bug Report**
The doc link in zh content should be replaced from `/docs` to `/zh/docs`

**Proposed Solution:**

To find the file ,run the following  step:
[code]

[2020-11-23 12:23] zhaojizhuang commented on #25193
/language zh

[2020-11-23 12:24] zhaojizhuang commented on #25193
/help

[2020-11-23 13:03] tengqm commented on #25193
we have scripts/linkchecker.py, e.g.

[code]

[2020-11-23 13:12] #25174 closed

[2020-11-23 14:31] zhaojizhuang commented on #25193
![image](https://user-images.githubusercontent.com/3124692/99973940-4560ed80-2ddb-11eb-9c26-a68a5277b818.png)
@tengqm no matches found ,something wrong？

[2020-11-23 14:59] kbhawkey commented on #23024
I plan on closing this issue. If there is remaining work, feel free to reopen.
/close

[2020-11-23 14:59] #23024 closed

[2020-11-23 15:35] #25145 closed

[2020-11-23 16:24] sttts commented on #25064
We should not encourage the use of `x-kubernetes-preserve-unknown-fields`. In by far most cases, it is not good idea, especially when it is used the root of a CRD schema.

In general, we want to encourage users of CRDs to get rid of unpruned semantics. In v1 CRDs this is enforced. But if you create a CRD as v1beta1 and then query the v1 conversion of that CRD (note that kube-apiserver will transpa

[2020-11-23 16:42] sftim opened #25195 "Stale information about “future” Kubernetes in Create an External Load Balancer task"
**This is a Bug Report**

**Problem:**
[Create an External Load Balancer](https://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/) mentions:

(see https://github.com/kubernetes/website/blame/8b174740e5d9aa01219542fc6f4cf5649965d43e/content/en/docs/tasks/access-application-cluster/create-external-load-balancer.md#L199)

Weights aren't built in to Service / Endpoin

[2020-11-23 18:45] #23323 closed

[2020-11-24 01:14] #22066 closed

[2020-11-24 01:19] #25106 closed

[2020-11-24 01:41] tengqm commented on #25193
Weird ...  not sure how wildcards work on zsh. Can you try:

[code]

[2020-11-24 02:29] zhaojizhuang commented on #25193
![image](https://user-images.githubusercontent.com/3124692/100039127-94d90500-2e3f-11eb-92d6-bea95bd94f35.png)

@tengqm not work either for zsh, but it works when i swtich `zsh` to `bash`
![image](https://user-images.githubusercontent.com/3124692/100039301-e7b2bc80-2e3f-11eb-8b0a-a14a55188b12.png)

[2020-11-24 07:39] BenHall commented on #24117
Thanks for the feedback. This is expected behaviour, however I can see that when Katacoda is embedded there is a motivation to keep the step information at the side.

I will share the feedback internally and see what can be done.

[2020-11-24 09:21] sftim commented on #23397
/remove-kind bug

[2020-11-24 09:22] sftim commented on #23397
/remove-priority backlog
/priority awaiting-more-evidence
/close

@hydave25 if you have some more details about a shortcoming on that page, please feel free to reopen this issue.

[2020-11-24 09:22] #23397 closed

[2020-11-24 12:29] inductor opened #25203 "ja: Make docs/_index.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/_index.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/_index.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.2/content/ja/docs/_index.md

Original
https://github.com/kubernetes/website/blob/fb6

[2020-11-24 12:30] inductor opened #25204 "ja: Make docs/concepts/architecture/controller.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/architecture/controller.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/architecture/controller.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.2/content/ja/docs/concepts/archi

[2020-11-24 12:30] inductor opened #25205 "ja: Make docs/concepts/architecture/nodes.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/architecture/nodes.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/architecture/nodes.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.2/content/ja/docs/concepts/architecture/no

[2020-11-24 12:34] inductor opened #25206 "ja: Make docs/concepts/configuration/manage-resources-containers.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/configuration/manage-resources-containers.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/configuration/manage-resources-containers.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18

[2020-11-24 12:37] inductor opened #25207 "ja: Make docs/concepts/configuration/secret.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/configuration/secret.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/configuration/secret.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.2/content/ja/docs/concepts/configurati

[2020-11-24 12:38] inductor opened #25208 "ja: Make docs/concepts/containers/container-lifecycle-hooks.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/containers/container-lifecycle-hooks.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/containers/container-lifecycle-hooks.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.2/cont

[2020-11-24 12:38] inductor opened #25209 "ja: Make docs/concepts/containers/images.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/containers/images.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/containers/images.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.2/content/ja/docs/concepts/containers/images

[2020-11-24 12:39] inductor opened #25210 "ja: Make docs/concepts/extend-kubernetes/operator.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/extend-kubernetes/operator.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/extend-kubernetes/operator.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.2/content/ja/docs/concepts

[2020-11-24 12:41] inductor opened #25211 "ja: Make docs/concepts/workloads/controllers/deployment.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/workloads/controllers/deployment.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/workloads/controllers/deployment.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.2/content/ja/d

[2020-11-24 12:41] inductor opened #25212 "ja: Make docs/concepts/workloads/pods/pod-lifecycle.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/concepts/workloads/pods/pod-lifecycle.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/concepts/workloads/pods/pod-lifecycle.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.2/content/ja/docs/conc

[2020-11-24 12:42] inductor opened #25213 "ja: Make docs/home/supported-doc-versions.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/home/supported-doc-versions.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/home/supported-doc-versions.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.2/content/ja/docs/home/supported-doc-versi

[2020-11-24 12:42] inductor opened #25214 "ja: Make docs/reference/access-authn-authz/authentication.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/reference/access-authn-authz/authentication.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/reference/access-authn-authz/authentication.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.2/content/

[2020-11-24 12:43] inductor opened #25215 "ja: Make docs/reference/glossary/kube-apiserver.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/reference/glossary/kube-apiserver.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/reference/glossary/kube-apiserver.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.2/content/ja/docs/reference/gl

[2020-11-24 12:43] inductor opened #25216 "ja: Make docs/reference/kubectl/cheatsheet.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/reference/kubectl/cheatsheet.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/reference/kubectl/cheatsheet.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.2/content/ja/docs/reference/kubectl/chea

[2020-11-24 12:44] inductor opened #25217 "ja: Make docs/setup/production-environment/container-runtimes.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/production-environment/container-runtimes.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/production-environment/container-runtimes.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.2/

[2020-11-24 12:44] inductor opened #25218 "ja: Make docs/setup/release/version-skew-policy.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/setup/release/version-skew-policy.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/setup/release/version-skew-policy.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.2/content/ja/docs/setup/releas

[2020-11-24 12:44] inductor opened #25219 "ja: Make docs/tasks/configure-pod-container/quality-service-pod.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tasks/configure-pod-container/quality-service-pod.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tasks/configure-pod-container/quality-service-pod.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-j

[2020-11-24 12:45] inductor opened #25220 "ja: Make docs/tutorials/_index.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tutorials/_index.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tutorials/_index.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.2/content/ja/docs/tutorials/_index.md

Original
https://github.c

[2020-11-24 12:45] inductor opened #25221 "ja: Make docs/tutorials/kubernetes-basics/explore/explore-intro.html follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tutorials/kubernetes-basics/explore/explore-intro.html to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tutorials/kubernetes-basics/explore/explore-intro.html is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.

[2020-11-24 12:46] inductor opened #25222 "ja: Make docs/tutorials/services/source-ip.md follow v1.18 of the original text"
**This is a Feature Request**

**What would you like to be added**
Update docs/tutorials/services/source-ip.md to follow v1.18 of the original (English) text.

**Why is this needed**
content/ja/docs/tutorials/services/source-ip.md is outdated.

**Comments**
/language ja
/good-first-issue

File to update
https://github.com/kubernetes/website/blob/dev-1.18-ja.2/content/ja/docs/tutorials/services/sou

[2020-11-24 12:48] inductor commented on #25192
/triage accepted

[2020-11-24 12:52] makocchi-git commented on #25206
**Note**

`manage-resources-containers.md` was renamed as `manage-resources-containers.md` at release 1.18.
Actual diff is [here](https://gist.github.com/makocchi-git/e60386b2e743f69dc921fb270b9c54b5).

[2020-11-24 14:29] sarnickaa commented on #25191
hello! first time contributor here!
Once this issue has been appropriately triaged - I'd be happy to work on it

/assign

[2020-11-24 14:38] bbgobie commented on #25149
I think your post is actually pretty clear if anyone saw it, so what if the anchor for eviction signals was added to the evicting end user pods section.  Also perhaps there should be a page on compressible resources, I think an explanation would make it pretty clear for many users.

"If the kubelet is unable to reclaim sufficient resource on the node, kubelet begins evicting Pods."
"If the kubelet

[2020-11-24 16:38] InvisibleRain opened #25224 "Improvement for the K8s Interactive Tutorial"
Hello!
I've been learning the basics of Kubernetes on https://k8s.io/docs/tutorials/kubernetes-basics/explore/explore-interactive/ when stumbled upon a snippet on step 2:
[code]
IMO, this may look a bit complicated for a newbie, and also may be leading to just copy/pasting the command instead of understanding how it works. My suggestion would be to remove the extra newlines and the colors from the

[2020-11-24 18:53] antaloala commented on #25064
This proposed update would really help to the reader ;-)

[2020-11-24 21:30] blitzd opened #25227 "CronJob example should include imagePullPolicy: IfNotPresent"
**This is a Bug Report**

**Problem:**
The current CronJob YAML does not include an imagePullPolicy, and uses no tag for the busybox image that it is configured for, so the resulting job will pull the busybox image from Docker Hub once per minute until the job is removed. This can very quickly exhaust the new docker hub pull rate limits. Unauthenticated users are limited to 100 pulls per 6 hours.

[2020-11-25 01:37] #21152 closed

[2020-11-25 07:07] tengqm commented on #25191
/triage accepted

[2020-11-25 07:47] kakts commented on #25222
/triage accepted

[2020-11-25 07:48] kakts commented on #25203
/triage accepted

[2020-11-25 08:54] ykawanm opened #25230 "Improvement for k8s.io/docs/setup/production-environment/container-runtimes/"
**(Request)**
Colud you please update kubernetes document about `supported docker versions`?

**(Reason)**
I found the following description about `supported docker versions` in kubernetes v1.18 and 1.19 documents.

[Container runtimes](https://kubernetes.io/docs/setup/production-environment/container-runtimes/)

    The Kubernetes release notes list which versions of Docker are compatible with th

[2020-11-25 09:50] kakts commented on #25221
/triage accepted

[2020-11-25 09:51] kakts commented on #25204
/triage accepted

[2020-11-25 09:52] kakts commented on #25205
/triage accepted

[2020-11-25 09:54] kakts commented on #25207
/triage accepted

[2020-11-25 13:18] bells17 commented on #25220
/triage accepted

[2020-11-25 13:20] bells17 commented on #25219
/triage accepted

[2020-11-25 13:23] bells17 commented on #25218
/triage accepted

[2020-11-25 14:03] AdamSharif-MSFT opened #25232 "Authenticating - User Impersonation with Service Accounts"
It would be useful to show the syntax for using impersonation with a Service Account, for example:

kubectl auth can-i --as system:serviceaccount:kube-system:kubernetes-dashboard --list

I didn't know that the system:serviceaccount portion was needed

[2020-11-25 15:03] Arhell opened #25235 "sync video block (ru)"
**This is a Feature Request**

add
![1](https://user-images.githubusercontent.com/26163841/99699561-c007d100-2a9a-11eb-9b91-2cc43c08ee8e.jpg)

This report is about https://k8s.io/ru/
To fix this, copy and translate the equivalent block from the English documentation.

/language ru
/assign

[2020-11-25 15:10] #25124 closed

[2020-11-25 15:18] sftim commented on #25124
Thanks @habibrosyad

[2020-11-25 15:54] kakts commented on #25216
@inductor
I think docs/reference/kubectl/cheatsheet.md has followed the original text already.

https://github.com/kubernetes/website/commit/c85942837b2da18383bef425821bcccfaa03c66c#diff-d460f005546b3fbc9bd66c6b351666ff8c1f3cf7cebb1def57863854297ff8f9

[2020-11-25 15:55] kakts commented on #25215
/triage accepted

[2020-11-25 16:09] inductor commented on #25216
@kakts Actually no.

For example https://kubernetes.io/ja/docs/reference/kubectl/cheatsheet/#apply is still in the old format

[code]

[2020-11-25 16:13] kakts commented on #25214
@inductor
Japanese document of docs/reference/access-authn-authz/authentication.md had already followed the original text.
https://github.com/kubernetes/website/commit/7617c96d531e52b4cd2fe9af73d721f8beec1b00#diff-084af2f59441bc80dfd911a624a41f0810dac433c51a2703a7e3f7d509450aab

[2020-11-25 16:19] kakts commented on #25216
@inductor
Exactly. I missed that point you mentioned.
I checked that  #apply is still in the old format.

/triage accepted

[2020-11-25 16:23] bells17 commented on #25217
/triage accepted

[2020-11-25 16:25] bells17 commented on #25213
/triage accepted

[2020-11-25 16:26] bells17 commented on #25212
/triage accepted

[2020-11-25 16:28] bells17 commented on #25211
triage accepted

[2020-11-25 16:28] bells17 commented on #25211
/triage accepted

[2020-11-25 16:31] bells17 commented on #25210
It seems already followed v1.18 of the original text
/close

[2020-11-25 16:31] #25210 closed

[2020-11-25 16:38] bells17 commented on #25209
It seems already followed v1.18 of the original text.
https://github.com/kubernetes/website/pull/23088 was created after https://github.com/kubernetes/website/blob/fb6364d/content/en/docs/concepts/containers/images.md

/close

[2020-11-25 16:38] #25209 closed

[2020-11-25 16:39] bells17 commented on #25208
It seems already followed v1.18 of the original text.

/close

[2020-11-25 16:39] #25208 closed

[2020-11-25 16:41] bells17 commented on #25206
/triage accepted

[2020-11-25 16:43] bells17 commented on #25214
agree.

/close

[2020-11-25 16:43] #25214 closed

[2020-11-25 17:35] dhandma opened #25239 "Connect a Front End to a Back End Using a Service"
Hello all, I need help to resolve service to service communication issue.
I have created the exact setup as per URL "https://kubernetes.io/docs/tasks/access-application-cluster/connecting-frontend-backend/" and made some little changes.
Front end, I have created a frontend deployment and service using new image which I build using below configuration:
proxy.conf
`
upstream snoop-test {
        ser

[2020-11-25 19:45] suniljaswal opened #25241 "Certificate Signing Requests"
apiVersion: certificates.k8s.io/v1  it should be  apiVersion: certificates.k8s.io/v1beta1

[2020-11-25 19:55] #22138 closed

[2020-11-26 00:54] #25179 closed

[2020-11-26 01:56] nate-double-u commented on #25040
I may be able to help with this
/assign

[2020-11-26 02:20] #24049 closed

[2020-11-26 02:22] nate-double-u commented on #20652
I'd like to try a pass at this.
/assign

[2020-11-26 05:37] RA489 commented on #24763
I think some what related to this https://kubernetes.io/blog/2020/04/02/improvements-to-the-ingress-api-in-kubernetes-1.18/#putting-it-all-together

[2020-11-26 05:50] #25121 closed

[2020-11-26 06:00] RA489 commented on #24716
[code]

[2020-11-26 06:05] tengqm commented on #24763
Doesn't look like a bug ... and we got no response in ~30 days.
/close

[2020-11-26 06:05] #24763 closed

[2020-11-26 06:07] tengqm commented on #24716
the source page is now gone.
/close

[2020-11-26 06:07] #24716 closed

[2020-11-26 06:35] RA489 commented on #25241
@suniljaswal  with what k8s version you are trying?

[2020-11-26 06:35] RA489 commented on #25241
/triage needs-information

[2020-11-26 07:12] movingfinger commented on #25203
/assign

[2020-11-26 07:13] tengqm opened #25247 "[zh] reference section out of sync for 1.19"
**Problem:**

docs under `content/zh/reference` section are out of sync from English site.
See the following report:

[code]

**Proposed Solution:**

Sync changes from English site.

**Page to Update:**

As listed above.

/help
/language zh

[2020-11-26 07:39] inductor commented on #25207
/close

This has been up to date since https://github.com/kubernetes/website/pull/22662

[2020-11-26 07:39] #25207 closed

[2020-11-26 07:45] akitok commented on #25216
/assign

[2020-11-26 08:04] phuongnamocc opened #25250 "Tài liệu Kubernetes"

[2020-11-26 08:22] Cweiping commented on #25172
Good idea!
/assign

[2020-11-26 08:33] tengqm commented on #25172
I don't think introducing a word which is not widely used is a good idea. I myself have never read any IT paper/documentation mentioning this term.

[2020-11-26 08:41] Cweiping commented on #25172
use `delay`?  Example：`delay of node conditions change`.

[2020-11-26 08:42] akostadinov opened #25252 "Improvement for k8s.io/docs/concepts/overview/working-with-objects/names/"
Please link to document listing objects with stricter name length limitations.

I see a link already [1]. But it is not listing any exceptions as far as i can tell.

[1] https://github.com/kubernetes/community/blob/master/contributors/design-proposals/architecture/identifiers.md

[2020-11-26 09:01] Arhell commented on #25235
/close

[2020-11-26 09:02] #25235 closed

[2020-11-26 12:11] #22159 closed

[2020-11-26 12:29] movingfinger commented on #25213
/assign

[2020-11-26 13:44] sftim commented on #24038
[Goodbye!](https://github.com/kubernetes/website/pull/25238)
/close

Thanks @jlsong01

[2020-11-26 13:44] #24038 closed

[2020-11-26 15:59] dingjiefeng opened #25256 "Issue with k8s.io/zh/docs/concepts/cluster-administration/system-metrics/"
https://github.com/kubernetes/kubernetes/blob/master/test/instrumentation/testdata/stable-metrics-list.yaml
empty file

[2020-11-26 18:17] #21683 closed

[2020-11-26 19:18] #22144 closed

[2020-11-26 19:18] #22149 closed

[2020-11-27 01:30] beomsoobeomsoo opened #25260 "JSONPath Support"
if key have '/'or'.'   what  should  command make?

 I want  to get  value (key : hdd-ceph-fs.storageclass.storage.k8s.io/requests.storage)
that have '.'

![20201127_102946](https://user-images.githubusercontent.com/65004723/100400983-80914400-309b-11eb-9511-c11d2fb9d107.png)

[2020-11-27 01:56] tengqm commented on #25256
/triage accepted
/kind bug
/language zh
/language en

[2020-11-27 01:56] tengqm commented on #25256
/sig instrumentation

[2020-11-27 02:16] tengqm commented on #25252
It is not possible to exhaustively list all name conventions. Design proposal is always a proposal, we care more about the things that are landed.
For example, https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/

[2020-11-27 02:16] tengqm commented on #25252
/close

[2020-11-27 02:16] #25252 closed

[2020-11-27 02:29] KobayashiD27 commented on #25204
/assign

If this `assign` have problems, please let me know.

[2020-11-27 02:31] howieyuen commented on #25247
I am working on the syncing of kubeadm/generated part

[2020-11-27 03:07] tengqm commented on #25247
THANK YOU!

[2020-11-27 03:34] soft-way opened #25262 "kube-apiserver always exit with error ''Time went backwards from""
The env is:
VM (CentOS 7.9.2009 4 CPU+12G Memory) on virtualbox(6.1) on PC windows 10 (16G Memory, CPU Intel(R) Core(TM) i3-10100 CPU @ 3.60GHz   3.60 GHz)
docker version: docker-ce-19.03.9-3.el7.x86_64

The procedue is:
run below command:
kubeadm init  --control-plane-endpoint 192.168.1.62:6443 --kubernetes-version v1.19.4 --image-repository registry.dev.xxx.com/k8s_gcr_io --apiserver-advertise-a

[2020-11-27 05:14] KobayashiD27 commented on #25204
This document looks already completed...
@inductor Could you check the document?

[2020-11-27 05:36] KobayashiD27 commented on #25215
/assign

[2020-11-27 05:48] tengqm commented on #25247
Owner: @howieyuen

- [ ] content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_token_list.md
- [ ] content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join_etcd.md
- [ ] content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_all.md
- [ ] content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_im

[2020-11-27 05:51] tengqm commented on #25247
Owner: @zhaojizhuang, #25257

- [x] content/en/docs/reference//glossary/rkt.md
- [x] content/en/docs/reference//access-authn-authz/controlling-access.md
- [x] content/en/docs/reference//using-api/api-overview.md

[2020-11-27 05:55] tengqm commented on #25247
Owner: @jialaijun #25244
- [ ] content/en/docs/reference/glossary/platform-developer.md
- [ ] content/en/docs/reference/glossary/customresourcedefinition.md
- [ ] content/en/docs/reference/glossary/admission-controller.md
- [ ] content/en/docs/reference/glossary/cluster-operations.md
- [ ] content/en/docs/reference/glossary/configmap.md
- [ ] content/en/docs/reference/glossary/preemption.md
- [ ]

[2020-11-27 05:57] KobayashiD27 commented on #25218
/assign

[2020-11-27 05:58] tengqm commented on #25247
Owner: ???

- [ ] content/en/docs/reference/using-api/api-concepts.md
- [ ] content/en/docs/reference/using-api/deprecation-policy.md
- [ ] content/en/docs/reference/using-api/client-libraries.md
- [ ] content/en/docs/reference/using-api/server-side-apply.md
- [ ] content/en/docs/reference/using-api/health-checks.md
- [ ] content/en/docs/reference/using-api/_index.md

[2020-11-27 05:59] tengqm commented on #25247
Owner: ???

- [ ] content/en/docs/reference/kubernetes-api/labels-annotations-taints.md
- [ ] content/en/docs/reference/scheduling/config.md
- [ ] content/en/docs/reference/issues-security/security.md
- [ ] content/en/docs/reference/kubectl/overview.md
- [ ] content/en/docs/reference/kubectl/jsonpath.md
- [ ] content/en/docs/reference/kubectl/cheatsheet.md
- [ ] content/en/docs/reference/_index.md

[2020-11-27 06:01] tengqm commented on #25247
Owner: ???

- [ ] content/en/docs/reference/command-line-tools-reference/kubelet-authentication-authorization.md
- [ ] content/en/docs/reference/command-line-tools-reference/kube-apiserver.md
- [ ] content/en/docs/reference/command-line-tools-reference/kube-controller-manager.md
- [ ] content/en/docs/reference/command-line-tools-reference/kube-proxy.md

[2020-11-27 06:01] tengqm commented on #25247
Owner: ???

- [ ] content/en/docs/reference/command-line-tools-reference/feature-gates.md
- [ ] content/en/docs/reference/command-line-tools-reference/kubelet.md
- [ ] content/en/docs/reference/command-line-tools-reference/kube-scheduler.md
- [ ] content/en/docs/reference/command-line-tools-reference/kubelet-tls-bootstrapping.md

[2020-11-27 06:03] tengqm commented on #25247
Owner: ???
- [ ] content/en/docs/reference/access-authn-authz/authentication.md
- [ ] content/en/docs/reference/access-authn-authz/bootstrap-tokens.md
- [ ] content/en/docs/reference/access-authn-authz/authorization.md
- [ ] content/en/docs/reference/access-authn-authz/service-accounts-admin.md

[2020-11-27 06:03] tengqm commented on #25247
Owner: ???

- [ ] content/en/docs/reference/access-authn-authz/admission-controllers.md
- [ ] content/en/docs/reference/access-authn-authz/rbac.md
- [ ] content/en/docs/reference/access-authn-authz/certificate-signing-requests.md
- [ ] content/en/docs/reference/access-authn-authz/_index.md

[2020-11-27 06:06] tengqm commented on #25247
**Hint**: If you are working on `content/en/docs/reference/access-authn-authz/_index.md`, you can check the upstream changes first using the following command. Note that the `en` is replaced by `zh` when running the script:

[code]

[2020-11-27 06:11] zhaojizhuang commented on #25247
@tengqm  happy to sync these `using-api`

[2020-11-27 06:29] #24214 closed

[2020-11-27 06:32] CriaHu opened #25265 "Translate docs/setup/production-environment/windows/intro-windows-in-kubernetes.md into chinese"
This is a Feature Request

What would you like to be added

Translate docs/setup/production-environment/windows/intro-windows-in-kubernetes.md into chinese

Why is this needed
Cannot find docs/setup/production-environment/windows/intro-windows-in-kubernetes.md in Chinese
Comments

The page to update:
https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/

[2020-11-27 06:32] CriaHu commented on #25265
/language zh
/assign

[2020-11-27 07:10] howieyuen commented on #25247
/triage accepted

https://github.com/kubernetes/website/pull/25267

[2020-11-27 08:27] inductor commented on #25203
/close

[2020-11-27 08:27] #25203 closed

[2020-11-27 08:29] inductor commented on #25204
@KobayashiD27 It looks like so. Thank you for reporting!
/close

[2020-11-27 08:29] #25204 closed

[2020-11-27 08:51] yuandongx opened #25273 "【ZH】A lame sentence, the Chinese meaning is a little difficult to understand。"
**This is a Bug Report**

**Problem:**
EN: `This document serves both as a reference to the values and as a coordination point for assigning values.`
ZH: `本文既作为这些标签和注解的参考，也就这些标签和注解的赋值进行了说明。`
**Proposed Solution:**
建议ZH： `本文既可作为这些标签和注解的参考，也可作为赋值的协调点。`

## branch master

![image](https://user-images.githubusercontent.com/35824522/100429527-69207e00-30d0-11eb-8663-a44781828d94.png)

![image](https://

[2020-11-27 08:51] girikuncoro commented on #25025
I have collected the pages using [our script](https://github.com/jk8s/sig-docs-id/blob/master/scripts/diff_en_id.py) that we have but no longer found in the english folders, these are caused by either removal or pages have been moved to new path:
- [ ] website/content/id/docs/templates/index.md
- [ ] website/content/id/docs/concepts/workloads/pods/pod.md
- [ ] website/content/id/docs/concepts/exte

[2020-11-27 09:02] yuandongx commented on #25273
language/zh

[2020-11-27 09:15] gaoguangze111 opened #25274 "[zh] Links in Chinese page docs/reference/setup-tools/kubeadm/kubeadm-init-phase not using localized page"
**This is a Bug Report**

**Problem:**
Links in Chinese page docs/reference/setup-tools/kubeadm/kubeadm-init-phase not using localized page

**Proposed Solution:**
Change to localized page link

**Page to Update:**
https://kubernetes.io/zh/docs/reference/setup-tools/kubeadm/kubeadm-init-phase/

[2020-11-27 09:26] howieyuen commented on #25247
https://github.com/kubernetes/website/pull/25275

[2020-11-27 09:50] girikuncoro commented on #25025
I ran the [upstream script](https://github.com/kubernetes/website/blob/master/scripts/upstream_changes.py), traced all pages that are different with commit hash, and dump the diff into collection of files stored in our [jk8s repo](https://github.com/jk8s/sig-docs-id/tree/master/upstream_change_snapshot_20201127). There are 96 obsolete files, let me know if this make sense.

[2020-11-27 11:42] jun1-T commented on #25205
/assign

[2020-11-27 13:12] yuandongx commented on #25247
I am interested in these files, be happy to sync en!

[2020-11-27 14:04] inductor commented on #25215
/close

[2020-11-27 14:04] #25215 closed

[2020-11-27 15:55] fgcgithub opened #25281 "Issue with k8s.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/"
I'm trying to create a mixed K8s cluster with 2 Windows 2019 servers and followed the guide.
I'm using Kubernetes 1.19.4 with docker 19.03.13 on all nodes. Everything looked good at the first moment: "kubectl get nodes" is showing all nodes with status "Ready", but "kubectl -n kube-system get pods" is showing:
kube-flannel-ds-windows-amd64-9p9pv   0/1     CrashLoopBackOff    124        20h
kube-fl

[2020-11-27 16:53] #24860 closed

[2020-11-27 17:16] ianychoi commented on #24859
#25282 addressed this issue - let's close this issue

[2020-11-27 17:16] #24859 closed

[2020-11-27 17:28] seokho-son commented on #25163
/triage accepted

[2020-11-27 17:29] #24487 closed

[2020-11-27 17:37] ianychoi opened #25283 "Korean Localization for dev-1.19-ko.6 branch"
## In English

**This is a Feature Request**

Korean Localization for `dev-1.19-ko.6` branch.

**What would you like to be added**

Any localization contributions for Korean.

**Comments**

- This issue is to notify the schedule of Korean localization to contributors.
- `dev-1.19-ko.6` is the current work branch for Korean localization.
- Korean PR Wrangler: @pjhwa

**Important dates**
- A Korean

[2020-11-27 17:46] ianychoi opened #25284 "Outdated files in the upstream/dev-1.19-ko.6 branch"
# This is a Bug Report
## Problem
Outdated files in the upstream/dev-1.19-ko.6 branch.

### 42 files to be modified
1. [ ] content/en/_index.html 1 file changed, 7 insertions(+), 2 deletions(-)
1. [ ] content/en/case-studies/newyorktimes/index.html 1 file changed, 3 insertions(+), 4 deletions(-)
1. [ ] content/en/docs/concepts/architecture/controller.md 1 file changed, 2 insertions(+), 3 deletions

[2020-11-27 17:53] ianychoi commented on #25284
/help

[2020-11-27 17:56] sftim opened #25285 "Document photonPersistentDisk volume type"
**This is a Feature Request**

**What would you like to be added**
Add documentation for the volume type `photonPersistentDisk`.
Edit https://kubernetes.io/docs/concepts/storage/volumes/ and any other page that lists all the built-in volume plugins.

**Why is this needed**
Kubernetes includes support for a volume type named `photonPersistentDisk`. We should document that.

**Comments**
/language e

[2020-11-27 17:57] sftim commented on #25260
@beomsoobeomsoo, GitHub is not the right place for support requests.

For help, you could try asking on [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

/kind support

[2020-11-27 17:59] sftim commented on #25281
@fgcgithub I am not sure whether you're asking for advice or if you wanted to report a shortcoming in [Adding Windows nodes](https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/).

If you did want advice, I'm afraid that GitHub is not the right place for support requests.

For help, you could try asking on [Stack Overflow](https://stackoverflow.com/questions/tagged/kub

[2020-11-27 18:17] sftim commented on #25262
/kind support

@soft-way, I don't think there is any documentation defect here.

[2020-11-27 18:18] sftim commented on #25250
/triage needs-information
/language vi

[2020-11-27 18:19] sftim commented on #25232
Hi @AdamSharif-MSFT

Is there a page that you recommend adding that advice to? It'd be useful to know which page you had in mind.
/language en
/kind feature

[2020-11-27 18:20] sftim commented on #25227
This suggestion makes sense - it would be annoying to break anonymous image pulls on your test cluster.
/kind cleanup
/language en
/triage accepted
/priority backlog
/good-first-issue

I agree with the suggested fix: set `imagePullPolicy: IfNotPresent` for the container in the Pod template that is running once per minute.

[2020-11-27 18:21] sftim commented on #25239
/kind support

[2020-11-27 18:23] sftim commented on #25224
/kind cleanup
/triage accepted

Good suggestion. The environment could also provide, eg, an alias that wraps `kubectl proxy` or a command snippet similar to:
[code]

[2020-11-27 21:16] pjhwa commented on #25283
/triage accepted

[2020-11-27 21:18] pjhwa commented on #25284
/triage accepted

[2020-11-27 21:33] pjhwa commented on #25284
/assign

[2020-11-27 23:00] aceqbaceq commented on #15280
agree. without creation "ServiceAccount", ClusterRole, ClusterRoleBinding and add serviceAccountName nothing works.

[2020-11-28 01:10] tengqm commented on #25247
@yuandongx Thanks for signing up.

[2020-11-28 02:22] nate-double-u commented on #20652
Note https://kubernetes.io/docs/concepts/cluster-administration/monitoring/ redirects here: https://kubernetes.io/docs/concepts/cluster-administration/system-metrics/

[2020-11-28 02:31] soft-way commented on #25262
yes, I will close it, sorry about that.

[2020-11-28 02:31] #25262 closed

[2020-11-28 07:49] Cweiping commented on #22803
It can't be reproduced.
/close

[2020-11-28 07:49] #22803 closed

[2020-11-28 10:14] VGerris opened #25291 "Improvement for k8s.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/"
it would be great if an example can be added for how to setup custom metrics that match the network package count

[2020-11-28 10:35] movingfinger commented on #25219
/assign

[2020-11-28 13:14] takaf04 commented on #25211
/assign

[2020-11-28 15:02] tengqm commented on #17981
/remove-lifecycle stale

[2020-11-28 15:03] tengqm commented on #17981
/lifecycle frozen

[2020-11-28 23:13] nate-double-u commented on #20652
Not sure if I'm able to do this, but let's try:

/remove-lifecycle rotten

[2020-11-29 02:12] #22233 closed

[2020-11-29 05:27] shanarvs opened #25295 "Issue with k8s.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro/"
The below sentence is there towards the end of this page: (If you didn't already try creating a Node.js application and deploying it using a container, you can do that first by following the instructions from the Hello Minikube tutorial).

But the "Hello Minkube" tutorial link has nothing about creating any Node.js application or deploying it.

[2020-11-29 06:03] 15503000324 opened #25296 "Interactive Tutorial - Deploying an App"
error: failed to discover supported resources: Get http://localhost:8080/api: dial tcp [::1]:8080: getsockopt: connection refused

[2020-11-29 07:17] #22216 closed

[2020-11-29 07:17] #22088 closed

[2020-11-29 13:17] arisgi commented on #25221
/assign

[2020-11-29 16:36] ravirajrk opened #25298 "Operating etcd clusters for Kubernetes"
![image](https://user-images.githubusercontent.com/27999871/100547806-c19d7a00-328e-11eb-9e37-737d59b523b7.png)

Url link:- https://kubernetes.io/docs/tasks/administer-cluster/configure-upgrade-etcd/

in the etcd member list to ge the the member ID cmd,the endpoint details "member1=http://10.0.0.1" are not mentioned.

it is mentioned as below in Docs
=========================
etcdctl --endpoints=h

[2020-11-29 21:36] sftim commented on #25291
/kind feature
/sig autoscaling

Should we accept this? I'm minded to.

[2020-11-29 21:38] sftim commented on #25298
`etcdctl --endpoints=http://10.0.0.2,http://10.0.0.3 member list` looks right to me if http://10.0.0.1 has failed. I do wonder though if the sample output:
[code]
is correct?

[2020-11-29 21:39] sftim commented on #25296
@15503000324 I think you're reporting some downtime for the interactive cluster (provided through Katacoda) on that web page. Have I got that right?

[2020-11-29 21:39] sftim commented on #25291
/language en

[2020-11-29 21:48] sftim commented on #25295
This is indeed a documentation bug. The v1.4 echoserver uses NGINX without node.js
Good spot, @shanarvs

/kind bug
/language en
/triage accepted
/priority backlog

[2020-11-29 21:49] sftim commented on #25273
/language zh

[2020-11-29 21:49] sftim commented on #25274
/language zh

[2020-11-29 21:59] sftim opened #25300 "Retitle “Configuring kubelet Garbage Collection” and add incoming links"
**This is a Bug Report**

**Problem:**
[Configuring kubelet Garbage Collection](https://kubernetes.io/docs/concepts/cluster-administration/kubelet-garbage-collection/) is a page about performing a particular task, but it lives in the Concepts section. Tasks should be in the tasks section.

**Proposed Solution:**
- Change the title of the page https://kubernetes.io/docs/concepts/cluster-administrat

[2020-11-29 22:02] sftim commented on #23354
The page at https://kubernetes.io/docs/tasks/tools/install-minikube/ is gone.
/close

[2020-11-29 22:02] #23354 closed

[2020-11-30 00:46] tengqm commented on #25300
No. I don't agree to this movement. The reason is that garbage collection is an administrator job. However, https://kubernetes.io/docs/concepts/containers/ is mostly about concepts an end user need to know. If needed, we can add links to make sure users can learn what's happening behind the scene. Page movement like this is harmful rather than helpful.

[2020-11-30 00:47] yu-kasuya commented on #25222
/assign

[2020-11-30 00:47] tengqm commented on #25274
/triage accepted
This is being resolved in a resync PR (#25275).
We don't need a separate issue for tracking this.
/close

[2020-11-30 00:47] #25274 closed

[2020-11-30 00:58] tengqm commented on #25273
@yuandongx Thanks for filing this issue.

This revision is still not easy to parse. Do you have other suggestions to make the sentence easier to understand?

[2020-11-30 02:03] howieyuen commented on #25247
let me do it

[2020-11-30 02:13] npu21 commented on #25227
/assign

[2020-11-30 02:16] tengqm commented on #18850
/remove-lifecycle rotten
@McCoyAle Still working on this?

[2020-11-30 02:18] tengqm commented on #22899
Please read the output from your previous command carefully. It is telling you what to do next, i.e. copy the kubeconfig file to use the cluster. That is the step you missed and the reason why you cannot connect to the API server.
/close

[2020-11-30 02:19] #22899 closed

[2020-11-30 02:23] tengqm commented on #25230
/sig node

[2020-11-30 06:14] mraghu4 opened #25306 "Improvement for k8s.io/docs/tasks/configure-pod-container/quality-service-pod/"
Add documentation for applying qosClass for a pod brough up using Job.

[2020-11-30 06:40] #22186 closed

[2020-11-30 08:05] inductor commented on #25221
/close

[2020-11-30 08:05] #25221 closed

[2020-11-30 08:35] sftim commented on #25300
@tengqm I've revised the issue description

/retitle Retitle “Configuring kubelet Garbage Collection” and add incoming links

[2020-11-30 08:38] AdamSharif-MSFT commented on #25232
Hi @sftim ,
Apologies, yes this is the page I am referring to:

https://kubernetes.io/docs/reference/access-authn-authz/authentication/#user-impersonation

Many thanks!

Adam

[2020-11-30 08:57] yuandongx commented on #25273
How about these?
- `本文既对这些标签和注解的值进行举例说明，也对它们的使用细节上进行阐述。`
or
-  `本文对这些标签和注解进行了使用参数示例，以及对它们的变更和使用技巧进行了说明。`
In fact, the document is only obout `Example`,  `use on`, `Note`, `sense`  for the labels,

[2020-11-30 09:39] tengqm commented on #25273
关键在于这里的 coordination point 怎么翻译。
我理解的是，如果你想应用一些 labels 或者 annotation，可以先参考以下这里的建议。
社区如果有一些建议，比如针对 hostname，zone 之类的建议，会更新此文档。
通过这个文档来协调大家对 label 和 annotation 的使用。
从这个角度说，现在的翻译： 本文既作为这些标签和注解的参考，也就这些标签和注解的赋值进行了说明。
问题不大。

[2020-11-30 10:02] Shivkumar13 opened #30638 "Documentation link is broken for ETCD cluster upgrade"
**What happened**:
Documentation link is broken under [ETCD cluster upgrade ](https://kubernetes.io/docs/tasks/administer-cluster/configure-upgrade-etcd/#upgrading-and-rolling-back-etcd-clusters)

This is the broken [link](https://v1-12.docs.kubernetes.io/docs/tasks/administer-cluster/configure-upgrade-etcd/#upgrading-and-rolling-back-etcd-clusters)

**What you expected to happen**:
Link should ge

[2020-11-30 15:55] glyn opened #25317 "Understanding Kubernetes Objects and apiVersion"
[Understanding Kubernetes Objects](https://kubernetes.io/docs/concepts/overview/working-with-objects/kubernetes-objects/) contains the following:
[code]
I find the use of the term "Kubernetes API" vague and confusing since `apiVersion` is really the API Group and Version of the "resource type" of the object.

I'm not sure what the best description would be. However, I feel that the notion of GVK a

[2020-11-30 16:28] #24620 closed

[2020-11-30 16:29] sftim commented on #25317
/language en
/triage accepted

There's room to improve the explanation here.

[2020-11-30 16:30] sftim commented on #25306
Hi @mraghu4

I'd like to understand the context for the improvement you're suggesting - why do you recommend making that change to the page?

/priority awaiting-more-evidence
/language en

[2020-11-30 16:30] fgcgithub commented on #25281
Thanks for the hints!

Yours
Franz-Georg

Holen Sie sich Outlook für Android<https://aka.ms/ghei36>

________________________________
Von: Tim Bannister <notifications@github.com>
Gesendet: Freitag, 27. November 2020, 18:59
An: kubernetes/website
Cc: fgcgithub; Mention
Betreff: Re: [kubernetes/website] Issue with k8s.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/ (#25281)

@fgcgith

[2020-11-30 21:50] kbhawkey commented on #25119
/triage accepted

[2020-11-30 22:37] kbhawkey commented on #25119
The [docs security overview](https://kubernetes.io/docs/concepts/security/overview/#cluster-applications) concept page contains a table of links as well as more links (Secrets, encryption at rest, ...) at the bottom of the page.

[2020-11-30 22:43] kbhawkey commented on #4497
/remove team/google

[2020-11-30 22:44] kbhawkey commented on #4497
/remove-team google

[2020-11-30 22:48] kbhawkey commented on #4497
/assign

[2020-12-01 01:15] KobayashiD27 commented on #25220
/assign

[2020-12-01 01:23] KobayashiD27 commented on #25220
I've assigned this task to me, but this document looks already completed.
@inductor Could you check the document?

[2020-12-01 01:25] KobayashiD27 commented on #25217
/assign

[2020-12-01 01:32] inductor commented on #25220
@KobayashiD27 You are right. Thank you very much!

/close

[2020-12-01 01:32] #25220 closed

[2020-12-01 01:45] RyuSA commented on #25212
/assign

[2020-12-01 03:51] RSwarnkar opened #25319 "Improvement for k8s.io/docs/ - collapsible navigation"
Hi, Can we please have fully collapsible navigation for documentation page. Current documentation navigation sidebar does not has a way to view the nested sub-topics without navigating to them.
Advantage of such navigation would make it easier to navigate in collapsible tree fashion.

[2020-12-01 03:53] dhandma opened #25320 "Unable to change the permission and ownership of files mounted using configMap as volume"
Hi All,
Can someone please help me to find out the solution, how we can control the files  mounted using configMap as volume.
I am still seeing files inside cotinaer running as roo:root with 644 permission .
files inside container:
``-rw-r--r--. 1 root root 1812 Dec  1 03:42 nginx.conf
-rw-r--r--. 1 root root 2062 Dec  1 03:42 default.conf ``

Deployment.yaml :
[code]

[2020-12-01 06:54] tengqm opened #25323 "Mark persistent volume types as deprecated where appropriate"
For photon, the cloud provider has been removed, so it will not function at all. The API was left because we cannot remove fields from the v1 API.

The cloud plugins are deprecated as part of the csi migration features. There have been release notes about them in previous releases but is missing from the documentation. For example:
https://github.com/kubernetes/kubernetes/pull/90896
https://github